[2019-01-22 11:15] engcom-backlog-nazar commented on #20462
Hello @vaggelis2018 . I believe that there is a mistake in Magento DevDocs. Please look here for additional details [https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html)

It said that only 5.2.x is supported. I understand that you can provide a links where it said that 5.x is supported,

[2019-01-22 11:15] #20462 closed, assigned to nobody

[2019-01-22 11:18] JonasPardon commented on #19865
Running into this as well, exact same workflow. No idea how to fix this as of yet.

[2019-01-22 11:38] fabio-fafle commented on #19821
Temporary workaround:

app/code/My/Module/view/frontend/requirejs-config.js
[code]

app/code/My/Module/view/frontend/web/js/view/payment/method-renderer/paypal-mixin.js (override payWithPayPal as 2.2.5)

[code]

[2019-01-22 11:58] vpodorozh commented on #20384
@magento-engcom-team give me 2.3.0 instance

[2019-01-22 11:58] magento-engcom-team commented on #20384
Hi @vpodorozh. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-22 11:59] magento-engcom-team commented on #20384
Hi @vpodorozh, here is your [Magento instance](https://i-20384-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20384-2-3-0.instances.magento-community.engineering/admin](https://i-20384-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-22 12:00] engcom-backlog-nazar commented on #20053
Hi @johnorourke   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-22 12:00] #20053 closed, assigned to nobody

[2019-01-22 12:15] ihor-sviziev opened #20467 "Loading indicator looks blurry on mobile"
### Preconditions (*)
1. Magento 2.2.8 with sample data

### Steps to reproduce (*)
1. Go to Product page from iPhone. while image gallery loading - look at loading indicator
![img_1503](https://user-images.githubusercontent.com/1873745/51535200-732c2280-1e50-11e9-80df-a863b7e284c9.png)

2. After gallery loaded - click on the image to see bigger resolution. while bigger image is loading - look at

[2019-01-22 12:16] magento-engcom-team commented on #20467
Hi @ihor-sviziev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-22 12:16] magento-engcom-team commented on #20467
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-22 12:24] magento-engcom-team commented on #20467
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97861`, `MAGETWO-97862` were created

[2019-01-22 12:24] parag2jcommerce opened #20468 "On Product Page Tabings Content Misaligned on Mobile View"
### Preconditions (*)

1. Magento 2.3.x
2.

### Steps to reproduce (*)

1. Any product page
2. Issue find in mobile view (below 768 resolution)

### Expected result (*)

1.
![2](https://user-images.githubusercontent.com/34369132/51535471-92d24380-1e6e-11e9-8072-1c2050be4678.jpg)

2.

### Actual result (*)

1.
![1](https://user-images.githubusercontent.com/34369132/51535528-b9907a00-1e6e-11e9-8b5d-

[2019-01-22 12:24] magento-engcom-team commented on #20468
Hi @parag2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-22 12:33] magento-engcom-team commented on #20468
@amol2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97863` were created

[2019-01-22 13:00] XxXgeoXxX opened #20472 "Special Price shown without currency symbol in magento backoffice"
### Preconditions (*)
Magento 2.3.X
Magento 2.2.X

### Steps to reproduce (*)
1. Navigate to admin catalog product grid
2. Using "Columns" selection add 'Special Price' column in the grid

### Expected result (*)
Special Price will be shown with currency code

### Actual result (*)
Special Price showed without currency code. See the attached screenshot.
![screenshot from 2019-01-22 14-57-27](https

[2019-01-22 13:00] magento-engcom-team commented on #20472
Hi @XxXgeoXxX. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-22 13:00] zhartaunik opened #20473 "Bug/feature sales email sending"
Magento 2.2.7

The issue was reproduced by me only with installed 3rd party extension which is responsible for mail sending via API. **andelux/mailgun-magento2**

After following changes were applied:
https://github.com/magento/magento2/commit/9a7c9e553b1c9814907105388bffc2e8a91353a5?diff=split
we have faced with an issue.

If you have a look at:
magento/module-sales/Model/Order/Email/SenderBuilde

[2019-01-22 13:00] magento-engcom-team commented on #20473
Hi @zhartaunik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-22 13:00] magento-engcom-team commented on #20472
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-22 13:00] magento-engcom-team commented on #20473
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-22 13:09] amol2jcommerce commented on #20468
@magento-engcom-team give me 2.2-develop instance

[2019-01-22 13:10] magento-engcom-team commented on #20468
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-22 13:10] magento-engcom-team commented on #20468
Hi @amol2jcommerce, here is your [Magento instance](https://i-20468-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20468-2-2-develop.instances.magento-community.engineering/admin](https://i-20468-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-22 13:17] qsolutions-pl commented on #17898
Is anyone working on this?

[2019-01-22 13:19] engcom-backlog-nazar commented on #20473
Hi @zhartaunik thank you for your report, yes this is expected behavior, please look at this commit https://github.com/magento-engcom/magento2ce/commit/523b0464966f81f1f01aa13073092bfddf363219

[2019-01-22 13:19] #20473 closed, assigned to nobody

[2019-01-22 13:21] magento-engcom-team commented on #20472
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97864`, `MAGETWO-97865` were created

[2019-01-22 13:25] priti2jcommerce commented on #20299
@magento-engcom-team give me 2.2-develop instance

[2019-01-22 13:25] magento-engcom-team commented on #20299
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-22 13:31] GuiltyNL commented on #19621
In our case these errors are logged by new customers that signed up for an account, but not filled out an address yet.

The number between the brackets behind : _getDefaultBilling_ of _getDefaultShipping_ is the **entity_id** of the customer concerned. Which can be found in **table 'customer_identity'**

That way you can determine what customer is causing the errors, you can check the addresses an

[2019-01-22 13:32] YK7479 opened #20477 "We can't read some files that are required to run the Magento application. This usually means file permissions are set incorrectly."
### Summary (*)

### Examples (*)

### Proposed solution

I'm facing this issue "We can't read some files that are required to run the Magento application. This usually means file permissions are set incorrectly." and I have given chown -R <root> for owner change and also changed the "autoload.php" file permission to chmod 777 -R but, the moment I did looks like changes are happened but error show

[2019-01-22 13:32] magento-engcom-team commented on #20477
Hi @YK7479. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-22 13:33] GuiltyNL commented on #15115
When the addressId is empty / NULL like above, it is like this:

In our case these errors are logged by new customers that signed up for an account, but not filled out an address yet.
The number between the brackets behind : _getDefaultBilling_ of _getDefaultShipping_ is the **entity_id** of the customer concerned. Which can be found in **table 'customer_identity'**

That way you can determine wha

[2019-01-22 13:34] magento-engcom-team commented on #20477
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-22 13:42] zhartaunik commented on #20473
Thanks for the response.
Looks like due insufficient privileges I'm unable to see that commit (I'm getting 404).
Is there another way to view it somewhere else? Diff/patch?

[2019-01-22 13:48] magento-engcom-team commented on #20299
Hi @priti2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-01-22 13:51] jakwinkler opened #20478 "CMS Pages Content Processor ignores private blocks."
### Preconditions (*)

1. Magento 2.2.6 / 2.3.0 CE & EE

### Steps to reproduce (*)

1. Inject a block to any CMS page using {{ }}
`{{block class="Magento\Contact\Block\ContactForm" name="cms-contact-form" template="Magento_Contact::form.phtml"}}`
2. Log is as a user
3. Visit that cms page with injected block
4. You will see that name of the user & email are empty but when you go to contact page,

[2019-01-22 13:51] magento-engcom-team commented on #20478
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-22 13:54] magento-engcom-team commented on #20478
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-22 13:57] ihor-sviziev commented on #7629
I think it's not worth to fix this issue. I'm closing it.

[2019-01-22 13:57] #7629 closed, assigned to nobody

[2019-01-22 14:02] irajneeshgupta commented on #20478
@magento-engcom-team give me 2.3-develop instance

[2019-01-22 14:02] magento-engcom-team commented on #20478
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-22 14:03] magento-engcom-team commented on #20478
Hi @irajneeshgupta, here is your [Magento instance](https://i-20478-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20478-2-3-develop.instances.magento-community.engineering/admin](https://i-20478-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-22 14:07] engcom-backlog-nazar commented on #20477
Hi @YK7479
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-22 14:07] #20477 closed, assigned to nobody

[2019-01-22 14:08] magento-engcom-team commented on #20478
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-22 14:09] magento-engcom-team commented on #20478
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97868` were created

[2019-01-22 14:16] judaschwartz commented on #14054
I asked this on SO no one has answered this yet...
https://magento.stackexchange.com/questions/258640/update-customer-data-with-rest-api

[2019-01-22 14:22] yaroslav-drach opened #20479 "[Back-Office issue] Incorrect date in active date filter after reloading page"
### Preconditions (*)
1. Magento ver. 2.2.5

### Steps to reproduce (*)
1. Go to "Back-Office > SALES > Orders" or any page with date filter.
2. Select "Filters".
3. Set value in any date filter. For example, use value 01/10/2016 (Jan 10, 2016).
4. Apply Filters.
5. Reload page with F5 (or go to view order, then back)
6. You can see incorrect date 10/20/2001

### Expected result (*)
1. The date in

[2019-01-22 14:22] magento-engcom-team commented on #20479
Hi @yaroslavdrach. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-22 14:22] dipti2jcommerce opened #20480 "In admin when we add new user agent rule it show design issue"
In admin when we add new user agent rule it show design issue

### Preconditions (*)

1.Magento verion 2.3
2.

### Steps to reproduce (*)

1.Go to admin configuration clicl on content ->Design ->Configuration edit design theme.
2.Add new user agent rule from Design Rule

### Expected result (*)
![screenshot-pr-17518 instances magento-community engineering-2019-01-22-19-44-51](https://user-images.g

[2019-01-22 14:22] magento-engcom-team commented on #20480
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-22 14:22] engcom-backlog-nazar commented on #20473
@zhartaunik ok, just recheck your issue on 2.3-dev branch, they are deprecated

[2019-01-22 14:23] magento-engcom-team commented on #20479
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-22 14:24] magento-engcom-team commented on #20480
Hi @priti2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-22 14:24] engcom-backlog-nazar commented on #20479
Hi @yaroslavdrach thank you for you report this issue has already fixed in 2.2 and 2.3-dev branch and, available on 2.2.7 release

[2019-01-22 14:24] #20479 closed, assigned to nobody

[2019-01-22 14:24] priti2jcommerce commented on #20480
@magento-engcom-team give me 2.3-develop instance

[2019-01-22 14:24] magento-engcom-team commented on #20480
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-22 14:24] liamjtoohey commented on #13511
Having same intermittent error on EE `2.2.3`. Also seeing the rest request to `/rest/default/V1/carts/mine/estimate-shipping-methods` respond with 401 status code before redirecting back to customer log in page. Using Redis & Varnish.

[2019-01-22 14:24] magento-engcom-team commented on #20480
Hi @priti2jcommerce, here is your [Magento instance](https://i-20480-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20480-2-3-develop.instances.magento-community.engineering/admin](https://i-20480-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-22 14:31] magento-engcom-team commented on #15427
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97869`, `MAGETWO-97870` were created

[2019-01-22 14:31] joshdavenport commented on #20312
@engcom-backlog-nazar Any progress in finding the change that fixes this? Very much need this fix ASAP but am not in a position to upgrade to any currently released version that would fix this.

[2019-01-22 14:31] engcom-backlog-nazar commented on #15427
hi @convenient Thank you for your detailed explanation.

[2019-01-22 14:32] siliconalchemy opened #20481 "REST products update category_ids cannot be removed"
** Note: This is a copy of issue #14038, which was assigned to someone who has no idea how to reproduce or fix it and seems to be permanently stuck **

**Preconditions and Steps to Reproduce**

For example, if a product currently has custom_attribute { 'category_ids': '['10127', '10048', '10123', '10126'] }, and I want to remove two of the categories from the product by setting this to { 'category

[2019-01-22 14:32] magento-engcom-team commented on #20481
Hi @siliconalchemy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-22 14:32] magento-engcom-team commented on #20481
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-22 14:34] siliconalchemy commented on #14038
As this issue seems to have got stuck in purgatory, I've opened a fresh copy: #20481

[2019-01-22 14:35] engcom-backlog-nazar commented on #14038
Hi @siliconalchemy i'm closing this one, as we have the new one https://github.com/magento/magento2/issues/20481

[2019-01-22 14:35] #14038 closed, assigned to sanjay-wagento

[2019-01-22 14:37] joshdavenport commented on #20312
After looking at the [history of module-swatches](https://github.com/magento/magento2/commits/2.2-develop/app/code/Magento/Swatches), I suppose the fix comes from  https://github.com/magento/magento2/commit/ff692d0402084eab3788a2ca4f129e953c9fa0dd and https://github.com/magento/magento2/commit/6f5b681c7f5cb3b76825896b0d03031ea36bae4a? @rakeshvarma90 you are presumably interested in these fixes too

[2019-01-22 14:38] engcom-backlog-nazar commented on #20312
@rakeshvarma90 i'm not able to find, seems like this was fixed by core team on private repository.

[2019-01-22 15:08] domeglic commented on #11885
Fixed in 2.2.x is kind of misleading. I guess it means it was fixed in the latest 2.2.x version at the time the tag was added. Sometimes you also have a comment saying "will be fixed in upcoming version 2.2.7 but then it isn't.

To be really sure you should go to the release page and ctrl+f this issue number. If it was included then it will be part of the Community contributions list. This one[ wa

[2019-01-22 15:11] allozaur commented on #19786
@Nazar65 what is it?

[2019-01-22 15:13] insaneCreations commented on #4822
I still have the problem in 2.1.9 and this is beginneng to get frustrated.

This works only then the dropdown in the frond-end goes away.

The solutions of changing the "backend_model" does not work for me, but is there someone who can help me with a solution

[2019-01-22 15:17] Nazar65 commented on #19786
@allozaur on file -> app/code/Magento/CatalogImportExport/Model/Export/Product.php move  LINE  952
`$collection->clear();` to LINE  951

So after each iteration we have new collection. this was casued by https://github.com/magento-engcom/magento2ce/commit/461009ef7492cae1ca17183fac5b26d142b6e01f

[2019-01-22 16:14] insaneCreations commented on #5445
How do i do this? (sorry, programming n00b) :)

[2019-01-22 16:22] mibu31 commented on #20346
Thank you.

[2019-01-22 16:48] rddwh commented on #20366
I am having exactly the same issue on a Magento 2.3 EE vanilla installation.  The rest/async/bulk/V1/configurable-products/bySku/child bulk enpoint always returns **The parent product doesn't have configurable product options**.  Calling the standard REST endpoint (rest/V1/configurable-products/{ParentSKU}/child) for exactly the same Parent/Child SKU works so there must be something wrong with the

[2019-01-22 17:17] gulatipriyanka commented on #19821
Yes, it worked. Thank you.

[2019-01-22 18:02] Nazar65 commented on #20366
HI @rddwh thank for explanation i'm will recheck

[2019-01-22 18:31] amol2jcommerce commented on #20480
@magento-engcom-team give me 2.2-develop instance

[2019-01-22 18:31] magento-engcom-team commented on #20480
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-22 18:31] magento-engcom-team commented on #20480
Hi @amol2jcommerce, here is your [Magento instance](https://i-20480-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20480-2-2-develop.instances.magento-community.engineering/admin](https://i-20480-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-22 18:50] shikhamis11 commented on #20451
@MichaelThessel you can clone the files form current repository 2.3-develop Branch

[2019-01-22 20:36] magento-engcom-team commented on #20478
Hi @serhiyzhovnir. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-22 21:13] PathToLife commented on #10454
There's a configuration available in admin that says "Show out of stock product"

I'm under the impression that this should also apply to configurable products, however the **js render code doesn't seem to disable options that are out of stock** in selection. This is perhaps why there's **two plugins dedicated to making sure out of stock options don't show**.

Culprit plugin locations:

- **MODULE

[2019-01-22 23:36] seyuf commented on #10454
Hi @PathToLife,
you're saying that this issue still exist in 2.3 despite MSI? (I was under the impression that this was fixed there). Or are you not using MSI?

[2019-01-23 00:00] magento-engcom-team commented on #19399
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#19400 by @speedy008 in 2.2-develop branch
Related commit(s):
 - [731fd07205839e554d4f84cf6154a9224b7c338d](https://github.com/magento/magento2/commit/731fd07205839e554d4f84cf6154a9224b7c338d)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-23 00:00] magento-engcom-team commented on #20120
Hi @priti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20272 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [a987dc536ee722495a235dcc1c2370fc79f530e1](https://github.com/magento/magento2/commit/a987dc536ee722495a235dcc1c2370fc79f530e1)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-23 00:00] magento-engcom-team commented on #20172
Hi @nainesh2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20369 by @nainesh2jcommerce in 2.2-develop branch
Related commit(s):
 - [4de166f5a78c1a08ca0b0074785493be5685f380](https://github.com/magento/magento2/commit/4de166f5a78c1a08ca0b0074785493be5685f380)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-23 00:00] #20172 closed, assigned to nainesh2jcommerce

[2019-01-23 05:59] ranee2jcommerce opened #20487 "On checkout page tooltip dropdown pointer not proper on tablet"
### Preconditions (*)

1. 2.3.x
2.

### Steps to reproduce (*)

1. Add product to cart
2. On checkout page click on "question mark" icon besides Email Address field
3. Tooltip dropdown opens, pointer not points to icon

### Expected result (*)

1.
![2019-01-22_16-31_checkout](https://user-images.githubusercontent.com/18118755/51585805-ce1d5280-1f00-11e9-99bf-c6d7fe5d7d6b.jpg)

2.

### Actual resul

[2019-01-23 05:59] magento-engcom-team commented on #20487
Hi @ranee2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-23 06:00] magento-engcom-team commented on #20487
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-23 06:01] irajneeshgupta commented on #20487
@magento-engcom-team give me 2.3-develop instance

[2019-01-23 06:01] magento-engcom-team commented on #20487
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-23 06:02] magento-engcom-team commented on #20487
Hi @irajneeshgupta, here is your [Magento instance](https://i-20487-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20487-2-3-develop.instances.magento-community.engineering/admin](https://i-20487-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 06:09] magento-engcom-team commented on #20487
@nainesh2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97876` were created

[2019-01-23 06:13] amol2jcommerce commented on #20487
@magento-engcom-team give me 2.2-develop instance

[2019-01-23 06:13] magento-engcom-team commented on #20487
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-23 06:14] magento-engcom-team commented on #20487
Hi @amol2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-23 06:14] magento-engcom-team commented on #20487
Hi @amol2jcommerce, here is your [Magento instance](https://i-20487-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20487-2-2-develop.instances.magento-community.engineering/admin](https://i-20487-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 06:39] ananth-iyer commented on #10365
@dfvincent Reason behind this is scope value is empty in core_config_data, run below SQL query:
**SELECT * FROM `core_config_data` WHERE `scope` = ''**

Run above query in your Magento 1 database also

[2019-01-23 06:47] rakeshvarma90 commented on #20312
@joshdavenport Good Finding Thanks. I will try this fix

[2019-01-23 07:17] nainesh2jcommerce commented on #20261
Hi @magento-engcom-team give me 2.2-develop instance

[2019-01-23 07:17] magento-engcom-team commented on #20261
Hi @nainesh2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-23 07:18] magento-engcom-team commented on #20261
Hi @nainesh2jcommerce, here is your [Magento instance](https://i-20261-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20261-2-2-develop.instances.magento-community.engineering/admin](https://i-20261-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 07:57] magento-engcom-team commented on #8538
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-23 08:10] magento-engcom-team commented on #8237
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-23 08:13] engcom-backlog-nazar commented on #8237
HI @detco-monacor thank you for you report, this issue has already fixed in 2.3-develop branch and available on 2.3.0 release
![selection_286](https://user-images.githubusercontent.com/40756439/51592102-76c6b480-1ef7-11e9-8e4d-98f3a6daaeda.png)

[2019-01-23 08:13] #8237 closed, assigned to nobody

[2019-01-23 08:17] priti2jcommerce commented on #20111
@magento-engcom-team give me 2.2-develop instance

[2019-01-23 08:17] magento-engcom-team commented on #20111
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-23 08:18] magento-engcom-team commented on #20111
Hi @priti2jcommerce, here is your [Magento instance](https://i-20111-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20111-2-2-develop.instances.magento-community.engineering/admin](https://i-20111-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 08:20] magento-engcom-team commented on #8810
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-23 08:22] engcom-backlog-nazar commented on #8810
Hi @radosdesign thank you for you report, I'm closing this one, because  we have anothe here -> https://github.com/magento/magento2/issues/18392, and have a Created PR.

[2019-01-23 08:22] #8810 closed, assigned to nobody

[2019-01-23 08:32] magento-engcom-team commented on #10726
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-23 08:37] dipti2jcommerce opened #20492 "In Admin configuration Widget left navigation block not proper in tablet landscape view"
Widget left navigation block not proper in tablet landscape view

### Preconditions (*)

1.Version 2.3
2.Tablet landscape view

### Steps to reproduce (*)

1.Go to CONTENT->Widget->Add new widget
2.While filling form ,left navigation block have design issue in tablet view

### Expected result (*)
![screenshot-i-20487-2-3-develop instances magento-community engineering-2019-01-23-13-57-41](https://

[2019-01-23 08:37] magento-engcom-team commented on #20492
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-23 08:38] magento-engcom-team commented on #20492
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-23 08:38] magento-engcom-team commented on #20492
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-23 08:39] magento-engcom-team commented on #20492
Hi @parag2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-23 08:39] nainesh2jcommerce commented on #20492
Hi @magento-engcom-team  please give me 2.3-develop instance

[2019-01-23 08:41] magento-engcom-team commented on #20492
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-23 08:42] milindsingh commented on #20492
@dipti2jcommerce Is Magento 2 Admin supports tab view ?

[2019-01-23 08:42] magento-engcom-team commented on #20492
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97879` were created

[2019-01-23 08:51] UKRogue commented on #19724
Slightly different issue as my problem only occurred if a colour swatch was involved in the parameter and there was more than 1 parameter ie Height & Colour. Since I changed colour from swatch to drop down selection in the attributes I have no problem and parameters resolve correctly. However, it's still an issue that needs to be fixed

[2019-01-23 09:00] parag2jcommerce opened #20494 "checkbox alignment when text large"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-23 09:00] magento-engcom-team commented on #20494
Hi @parag2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-23 09:00] lfritsche commented on #19724
I'm using Magento 2.2.6 in this case and the example above also works for more than one swatch in my case. I've got two swatches: size & style. Removing an ending ?param solved the issue for me.
I can send you a PM with a live example and the swatch-renderer.js I'm using. `#139=28&140=36`

[2019-01-23 09:01] magento-engcom-team commented on #20494
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-23 09:02] #20494 closed, assigned to nobody

[2019-01-23 09:02] engcom-backlog-nazar commented on #20494
Hi @parag2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

[2019-01-23 09:04] magento-engcom-team commented on #18347
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-23 09:11] rddwh commented on #20366
@Nazar65 - More detailed document with example payloads attached:

[Product Bulk API Issue.docx](https://github.com/magento/magento2/files/2786469/Product.Bulk.API.Issue.docx)

[2019-01-23 09:15] engcom-backlog-nazar commented on #10726
HI @philippsander thank you for you report, this issue has already fixed in 2.3-develop branch and available on 2.3.0 release.

[2019-01-23 09:20] engcom-backlog-nazar commented on #10725
Hi @kanduvisla i'm closing this one as we have new issue, -> https://github.com/magento/magento2/issues/20434

[2019-01-23 09:21] sangthieu commented on #13746
I have same issue. Any update? it is big problem

[2019-01-23 09:23] magento-engcom-team commented on #20481
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97880`, `MAGETWO-97881` were created

[2019-01-23 09:23] insaneCreations commented on #4822
Dit you find a solution? Because i'm in 2.1.15 and i've tried all these methods and nothing works

[2019-01-23 09:34] magento-engcom-team commented on #20366
Hi @Nazar65. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-01-23 09:44] psolutions-me commented on #7469
Have same issues with M2 2.3.0, there are only approx 6K products and clean instance, no 3rd party modules. Luma Theme. Working in developer mode. 1 instance, three stores. The categories have anchors for attributes (filters).

[2019-01-23 09:52] amol2jcommerce commented on #20492
@magento-engcom-team give me 2.3-develop instance

[2019-01-23 09:52] magento-engcom-team commented on #20492
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-23 09:53] magento-engcom-team commented on #20492
Hi @amol2jcommerce, here is your [Magento instance](https://i-20492-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20492-2-3-develop.instances.magento-community.engineering/admin](https://i-20492-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 09:59] craigcarnell commented on #20060
@milindsingh Any updates on this issue?

[2019-01-23 10:07] kerlama opened #20496 "Base prices in admin order create (multistore)"
### Preconditions (*)

1. Magento 2.1.6 clean install with sample data + one more store created
2. PHP 7.0.32

### Steps to reproduce (*)

1. Create another website/store/storeview within magento, lets say US
2. Assign all products to US website
3. Configure US store to have US Dollar base price and default store to be GBP
4. Under Catalog > Price set Catalog price scope to Website
5. Set US price

[2019-01-23 10:07] magento-engcom-team commented on #20496
Hi @kerlama. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-23 10:07] eduard13 opened #20497 "Product customizable options issue"
### Preconditions (*)
1. Magento 2.3-develop
2.

### Steps to reproduce (*)
1. Open the product page (new or existing one) in Admin Panel
2. Add several new Customizable Options

### Expected result (*)

1. The new added options should have a bottom border, for having a good look
![xnip2019-01-23_12-05-33](https://user-images.githubusercontent.com/15868188/51598929-3a9b5000-1f07-11e9-9eab-3affa00e

[2019-01-23 10:07] magento-engcom-team commented on #20497
Hi @eduard13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-23 10:08] magento-engcom-team commented on #20497
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-23 10:10] magento-engcom-team commented on #20497
Hi @vasilii-b. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-23 10:10] magento-engcom-team commented on #20496
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-23 10:10] magento-engcom-team commented on #20497
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97882` were created

[2019-01-23 10:12] magento-engcom-team commented on #20467
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-23 10:12] rogyar commented on #19645
@magento-engcom-team give me 2.2-develop instance

[2019-01-23 10:12] magento-engcom-team commented on #19645
Hi @rogyar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-23 10:12] magento-engcom-team commented on #19645
Hi @rogyar, here is your [Magento instance](https://i-19645-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19645-2-2-develop.instances.magento-community.engineering/admin](https://i-19645-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 10:14] rogyar commented on #20497
@irajneeshgupta thank you for the confirmation. Did you really reproduce the issue in 1 minute?

[2019-01-23 10:14] renttek commented on #20145
@davidverholen  I like the idea of having a dev config which allows symlinks.

@engcom-backlog-nazar using composer path repositories is used by many devs and i think it's really sad that my only options are not upgrading to >2.2.6 or using composer patches to nuke the validation in development.

[2019-01-23 10:19] engcom-backlog-nazar commented on #20496
Hi @kerlama   i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2019-01-23 10:19] #20496 closed, assigned to nobody

[2019-01-23 10:44] rogyar commented on #20376
@magento-engcom-team give me 2.3-develop instance

[2019-01-23 10:44] magento-engcom-team commented on #20376
Hi @rogyar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-23 10:45] magento-engcom-team commented on #20376
Hi @rogyar, here is your [Magento instance](https://i-20376-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20376-2-3-develop.instances.magento-community.engineering/admin](https://i-20376-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 10:45] parag2jcommerce opened #20500 "Recent Order Product Title Misaligned in Sidebar"
### Preconditions (*)

1. 2.3.x
2.

### Steps to reproduce (*)

1. Place order
2. Check recent order in sidebar on listing pages or account pages

### Expected result (*)

1.
![2-recent-order](https://user-images.githubusercontent.com/34369132/51601217-cb832300-1f29-11e9-9616-4cc29275358c.jpg)

2.

### Actual result (*)

1.
![1-recent-order](https://user-images.githubusercontent.com/34369132/51601

[2019-01-23 10:45] magento-engcom-team commented on #20500
Hi @parag2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-23 10:45] magento-engcom-team commented on #20500
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-23 10:47] magento-engcom-team commented on #20500
@nainesh2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97884` were created

[2019-01-23 10:53] ajay2jcommerce opened #20502 "Wishlist icon not align on mobile view"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. login the customer.
2. Add the Simple product and Downloadable product.
3. Go to Shopping cart.
4. Switch mobile view.

### Expected result (*)

1.
![2019-01-23_13-28_shopping cart](https://user-images.githubusercontent.com/18118570/51601638-eefa9d80-1f2a-11e9-8a5f-fbba6bb2a1c9.jpg)

### Actual result (*)

1.
![2019-01-23_12-53_shoppi

[2019-01-23 10:53] magento-engcom-team commented on #20502
Hi @ajay2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-23 10:54] magento-engcom-team commented on #20502
Hi @yashwant2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue h

[2019-01-23 10:54] yashwant2jcommerce commented on #20502
@magento-engcom-team give me 2.3-develop instance

[2019-01-23 10:54] magento-engcom-team commented on #20502
Hi @yashwant2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-23 10:55] magento-engcom-team commented on #20502
Hi @yashwant2jcommerce, here is your [Magento instance](https://i-20502-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20502-2-3-develop.instances.magento-community.engineering/admin](https://i-20502-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 10:56] rauberdaniel commented on #19117
@david-fuehr Thank you very much for your work on this issue!

[2019-01-23 10:57] magento-engcom-team commented on #20502
Hi @priti2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-23 10:58] rauberdaniel commented on #19117
@progreg Thank you for your work as well! Sorry to see you didn’t get any feedback on your work (which I’m unable to give due to little knowledge over Magento).

[2019-01-23 10:58] NitishChauhan1991 opened #20503 "Admin layout not working after migration in magento 2.3"
After migration in magento 2.3 the admin and product page breadcrumb is showing like xml view. I tried everything by my side but not able to solve. Please check screen shot for more info. And if you want details of the site please let me know i'll provide all.
![magento admin](https://user-images.githubusercontent.com/46959928/51602006-dc349880-1f2b-11e9-93fb-af8db6a95af7.png)

[2019-01-23 10:58] magento-engcom-team commented on #20503
Hi @NitishChauhan1991. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-01-23 10:58] magento-engcom-team commented on #20502
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-23 10:59] magento-engcom-team commented on #20502
@amol2jcommerce Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required inform

[2019-01-23 11:03] magento-engcom-team commented on #20503
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-23 11:04] engcom-backlog-nazar commented on #20503
Hi @NitishChauhan1991    thank you for your report,  problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-01-23 11:04] #20503 closed, assigned to nobody

[2019-01-23 11:04] progreg commented on #19117
@rauberdaniel, At least I've tried) Anyway, if a solution of @david-fuehr will be better then all is good.

[2019-01-23 11:08] magento-engcom-team commented on #20502
@priti2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97885` were created

[2019-01-23 11:11] koopjesboom commented on #18134
Strange tom see that from a clean magento 2.3 installation i still have common issues like this.
In my case I was advised by a message in magento admin to use Elastic search in stead of the default search engine of magento. If I look from the non programmer perspective it is running into the first problem following this advice.

In the end there is no way a Non programmer can find out what is goin

[2019-01-23 11:22] eduard13 commented on #17787
I wasn't able to reproduce this issue. Feel free to open if you have any additional info.

[2019-01-23 11:33] KiraLis opened #20511 "Sorting by 'Websites' not working in product grid in backoffice"
### Preconditions (*)

Magento Version : CE 2.2X
Magento Version : CE 2.3.X

### Steps to reproduce (*)

1. Navigate to admin catalog product grid
2. Using "Columns" selection add Websites'' column in the grid

### Expected result (*)

Sort by 'Websites' should be working fine.

### Actual result (*)

Sort by 'websites' product attribute not working. See below screen.

![screenshot from 2019-01-23

[2019-01-23 11:33] magento-engcom-team commented on #20511
Hi @KiraLis. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-23 11:34] magento-engcom-team commented on #20511
Hi @XxXgeoXxX. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-23 11:35] magento-engcom-team commented on #20511
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-23 11:37] magento-engcom-team commented on #20511
Hi @dipti2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-23 11:37] GovindaSharma commented on #20511
@magento-engcom-team give me 2.3-develop instance

[2019-01-23 11:37] magento-engcom-team commented on #20511
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-23 11:38] magento-engcom-team commented on #20511
Hi @GovindaSharma, here is your [Magento instance](https://i-20511-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20511-2-3-develop.instances.magento-community.engineering/admin](https://i-20511-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 11:42] DenisSaltanahmedov opened #20513 "Create a new product attribute form. Styles for the swatch input looks broken."
### Preconditions (*)
1. Magento 2.3
2. Luma Theme

### Steps to reproduce (*)
1. In Admin go to Stores > Attributes > Product > Add New Attribute
2. In "Attribute Properties" > Catalog Input Type for Store Owner > Choose "Text Swatch"
3. In Manage Swatch (Values of Your Attribute) > Add Swatch

### Expected result (*)
1. Styles for the swatch input looks good
![expected-result](https://user-image

[2019-01-23 11:42] magento-engcom-team commented on #20513
Hi @DenisSaltanahmedov. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-01-23 11:44] magento-engcom-team commented on #20511
@GovindaSharma Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-23 11:44] magento-engcom-team commented on #20511
@nainesh2jcommerce Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-23 11:45] magento-engcom-team commented on #20511
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97886`, `MAGETWO-97887` were created

[2019-01-23 11:49] magento-engcom-team commented on #20513
@nainesh2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97888` were created

[2019-01-23 12:05] yashwant2jcommerce opened #20516 "Misaligned Refresh Statistics select dropdown"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. In Admin >> Reports >> Statistics >> Refresh Statistics

### Expected result (*)

1.
![refresh statistics expected](https://user-images.githubusercontent.com/26630846/51605336-cf687280-1f34-11e9-89ea-70b07a546279.jpg)

### Actual result (*)

1.
![refresh statistics actual](https://user-images.githubusercontent.com/26630846/51605356-de

[2019-01-23 12:05] magento-engcom-team commented on #20516
Hi @yashwant2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-01-23 12:05] magento-engcom-team commented on #20516
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-23 12:06] quimax commented on #6710
The same problem in 2.1.5.

I tried the solution provided by @sumitvgupta (Thanks, BTW) to no avail.

I'am f****d because due to a required extension I cannot upgrade Magento.

Ideas?

[2019-01-23 12:07] magento-engcom-team commented on #20516
@nainesh2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97889` were created

[2019-01-23 12:07] ajay2jcommerce commented on #20516
@magento-engcom-team give me 2.3-develop instance

[2019-01-23 12:08] magento-engcom-team commented on #20516
Hi @ajay2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-23 12:08] magento-engcom-team commented on #20516
Hi @ajay2jcommerce, here is your [Magento instance](https://i-20516-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20516-2-3-develop.instances.magento-community.engineering/admin](https://i-20516-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 12:16] markPostema commented on #12255
Thanks gab4mad, your solution was the working one!

[2019-01-23 12:33] parag2jcommerce opened #20518 "On Bundle product radio button misalign"
### Preconditions (*)

1. 2.3.x
2.

### Steps to reproduce (*)

1. Any Bundle product
2. Click customize and Add to cart button
3. Radio button misalign

### Expected result (*)

1.
![1radio](https://user-images.githubusercontent.com/34369132/51606785-dc876080-1f38-11e9-9613-5a8cfbe9de4a.png)

2.

### Actual result (*)

1.
![2radio](https://user-images.githubusercontent.com/34369132/51606793-e741f

[2019-01-23 12:33] magento-engcom-team commented on #20518
Hi @parag2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-23 12:34] magento-engcom-team commented on #20518
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-23 12:34] amol2jcommerce commented on #20518
@magento-engcom-team give me 2.3-develop instance

[2019-01-23 12:34] magento-engcom-team commented on #20518
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-23 12:35] magento-engcom-team commented on #20518
Hi @amol2jcommerce, here is your [Magento instance](https://i-20518-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20518-2-3-develop.instances.magento-community.engineering/admin](https://i-20518-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 12:40] magento-engcom-team commented on #20518
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-23 12:40] magento-engcom-team commented on #20518
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97890` were created

[2019-01-23 12:45] magento-engcom-team commented on #17597
Hi @DenisSaltanahmedov. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><

[2019-01-23 12:47] cscd98 opened #20520 "checkoutSession->getLastRealOrderId() returns null in controller occassionally when Varnish enabled"
### Summary (*)
I have developed a custom payment method which implements card payments. As part of the process, the user is re-directed to a 3dsecure bank URL and then returned to a Magento controller.

After returning from the bank in my controller - sometimes, but not always, $this->checkoutSession->getLastRealOrderId() returns null, which means in my controller I do not know which order is bei

[2019-01-23 12:48] magento-engcom-team commented on #20520
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-23 12:54] magento-engcom-team commented on #20520
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-23 13:01] engcom-backlog-nazar commented on #20520
Hi @craigcarnell can you please look -> https://github.com/magento/magento2/issues/17161#issuecomment-408127149

[2019-01-23 13:04] vasilii-b opened #20521 "Configurable product options are misaligned on "Create New Order" page in admin area"
### Preconditions (*)
1. Magento 2.2-develop or Magento 2.3-develop
2. Configurable product with options to select

### Steps to reproduce (*)
1. Go to admin area
2. Go to Sales -> Orders
3. Press create a new order button
4. Press Add Products button
5. From the list, choose a configurable product and press "Configure"

### Expected result (*)
Product options label and value to select should be a

[2019-01-23 13:04] magento-engcom-team commented on #20521
Hi @vasilii-b. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-23 13:04] magento-engcom-team commented on #20521
Hi @eduard13. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-01-23 13:05] magento-engcom-team commented on #20521
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-23 13:05] magento-engcom-team commented on #20521
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-23 13:06] DenisSaltanahmedov commented on #17597
@magento-engcom-team give me 2.2-develop instance

[2019-01-23 13:06] magento-engcom-team commented on #17597
Hi @DenisSaltanahmedov. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-23 13:06] magento-engcom-team commented on #20521
@eduard13 Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-23 13:06] magento-engcom-team commented on #17597
Hi @DenisSaltanahmedov, here is your [Magento instance](https://i-17597-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-17597-2-2-develop.instances.magento-community.engineering/admin](https://i-17597-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 13:07] magento-engcom-team commented on #20521
@eduard13 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97891` were created

[2019-01-23 13:31] vasilii-b opened #20524 "Bundle product bundle items options are not aligned properly when adding products on "Create New Order" page in admin area"
### Preconditions (*)
1. Magento 2.2-develop or Magento 2.3-develop
2. Bundle product with options

### Steps to reproduce (*)
1. Go to admin area
2. Go to Sales -> Orders
3. Press create a new order button
4. Press Add Products button
5. From the list, choose a bundle product and press "Configure"

### Expected result (*)
Quantity label and input field are aligned
![image](https://user-images.git

[2019-01-23 13:32] magento-engcom-team commented on #20524
Hi @vasilii-b. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-23 13:32] magento-engcom-team commented on #20524
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-23 13:34] magento-engcom-team commented on #20524
@nainesh2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97893` were created

[2019-01-23 13:34] Nazar65 commented on #20366
@rddwh thank you, now i'm able to reproduce :+1:

[2019-01-23 13:36] rogyar commented on #20524
@nadim2jcommerce please, stop confirming issues you cannot reproduce. It's not a good practice at all. By doing that you make a mess in the entire process and confuse other people.
Thank you.

[2019-01-23 13:41] rogyar commented on #20524
@nainesh2jcommerce please, stop confirming issues you cannot reproduce. It's not a good practice at all. By doing that you make a mess in the entire process and confuse other people.
Thank you.

[2019-01-23 13:45] siliconalchemy commented on #18134
This is a colossal bug, this issue should not be closed until it's been confirmed fixed in 2.2 and committed to the next point release.

[2019-01-23 13:54] vasilii-b commented on #20524
Hi @rogyar, @nainesh2jcommerce .
I'm so sorry - this issue was on my local machine only. I didn't fetch all latest changes and didn't remove previous work.
Thank you!

[2019-01-23 13:56] #20524 closed, assigned to nobody

[2019-01-23 14:04] magento-engcom-team commented on #13675
Hi @XxXgeoXxX. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-23 14:07] nainesh2jcommerce commented on #20524
Hi @rogyar ,
I'm sorry, there was little confusion for me, I was trying to reproduce the issue for previous ticket which was reproduce on my local and by mistake added lable for this ticket.

Thanks!

[2019-01-23 14:09] magento-engcom-team commented on #11699
Hi @lisovyievhenii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-23 14:20] denzyk opened #20525 "Deadlock errors during product save or trying to index product price"
### Preconditions

1. Magento 2.2.6 Community
2. PHP 7.0.33 (running as php-fpm)
3. MariaDB 10.1.37
4. Session storage: Redis

### Steps to reproduce

1. Add many products to DB (we have around 22K at the moment)
2. Cron options:
![image](https://user-images.githubusercontent.com/12296157/51611633-5ebb5900-1f28-11e9-86e7-127cec3fb051.png)
![image](https://user-images.githubusercontent.com/12296157

[2019-01-23 14:20] magento-engcom-team commented on #20525
Hi @denzyk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-23 14:22] magento-engcom-team commented on #20525
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-23 14:24] magento-engcom-team commented on #20525
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-23 14:25] engcom-backlog-nazar commented on #20525
HI @denzyk thank you for you report, i;m closing this as duplicate to this -> https://github.com/magento/magento2/issues/8933

[2019-01-23 14:25] #20525 closed, assigned to nobody

[2019-01-23 14:32] magento-engcom-team commented on #20481
Hi @vpodorozh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-23 14:48] amol2jcommerce commented on #20492
@magento-engcom-team give me 2.2-develop instance

[2019-01-23 14:48] magento-engcom-team commented on #20492
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-23 14:48] coatesjonathan commented on #13147
Hi - what commit was this? I would like to patch this in my current 2.2.5 version as we're currently not willing to upgrade.

[2019-01-23 14:48] magento-engcom-team commented on #20492
Hi @amol2jcommerce, here is your [Magento instance](https://i-20492-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20492-2-2-develop.instances.magento-community.engineering/admin](https://i-20492-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 14:48] magento-engcom-team commented on #20481
Hi @ygyryn. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-01-23 14:54] rodrigowebjump commented on #20521
@magento-engcom-team give me 2.3.0 instance

[2019-01-23 14:54] magento-engcom-team commented on #20521
Hi @rodrigowebjump. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-23 14:54] magento-engcom-team commented on #20521
Hi @rodrigowebjump, here is your [Magento instance](https://i-20521-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20521-2-3-0.instances.magento-community.engineering/admin](https://i-20521-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 14:56] magento-engcom-team commented on #20492
Hi @amol2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-23 14:58] vasilii-b opened #20527 "[Admin] Configurable product variations table cell labels wrong position"
### Preconditions (*)
1. Magento 2.3-develop
2. Configurable product with variations

### Steps to reproduce (*)
1. Open a configurable product with variations
2. Scroll down to the variations table

### Expected result (*)
You are able to see the variations table without any unnecessary text next to "Current variations" heading.
![xnip2019-01-23_16-47-44](https://user-images.githubusercontent.com

[2019-01-23 14:58] magento-engcom-team commented on #20527
Hi @vasilii-b. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-23 14:59] magento-engcom-team commented on #20527
Hi @eduard13. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-01-23 15:00] magento-engcom-team commented on #20527
@eduard13 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97897` were created

[2019-01-23 15:14] magento-engcom-team commented on #20518
Hi @amol2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-23 15:15] amol2jcommerce commented on #20518
@magento-engcom-team give me 2.2-develop instance

[2019-01-23 15:15] magento-engcom-team commented on #20518
Hi @amol2jcommerce, here is your [Magento instance](https://i-20518-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20518-2-2-develop.instances.magento-community.engineering/admin](https://i-20518-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-23 15:42] Nazar65 commented on #20366
I'm working on this

[2019-01-23 16:13] lisovyievhenii commented on #11699
@milansimek ,

Plugin will never work on "parent" call.
At first, "parent" means you want to call parent method immediately. Let's imagine class:
[code]
Here I have class **B** that realize method **doSomething**. It makes some actions, then calls parent method.

So what would be if plugin will work as you want?  As the result we will call **B->doSomething()** that is wrapped by **Interceptor** cl

[2019-01-23 16:18] craigcarnell commented on #19518
Any updates on this?

[2019-01-23 17:16] speedy008 commented on #20521
@vasilii-b This issue pull request is already created https://github.com/magento/magento2/issues/19380

[2019-01-23 17:16] #20521 closed, assigned to nainesh2jcommerce

[2019-01-23 17:20] macrodesignuk commented on #14582
This is still an issue on v2.2.6 and v2.3.0. Can this be re-opened?

V2.2.6 clean install and migrated data from Magento1, cannot do Advanced Pricing Export.
V2.3.0 clean install, created several bundle products, cannot do Advanced Pricing Export.

Both sites result in "There is no data for the export."

[2019-01-23 17:21] magento-engcom-team commented on #20513
Hi @speedy008. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-23 17:22] speedy008 commented on #20513
@magento-engcom-team Please give me magento instance

[2019-01-23 17:42] AGPDev commented on #13252
nice, one year and nothing

[2019-01-23 17:46] magento-engcom-team commented on #20245
Hi @khodu. Thank you for your report.
The issue has been fixed in magento/magento2#20247 by @khodu in 2.3-develop branch
Related commit(s):
 - [db1e816b8bef968491b6875e7886900bfe2007e8](https://github.com/magento/magento2/commit/db1e816b8bef968491b6875e7886900bfe2007e8)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-23 17:46] #20245 closed, assigned to ravi-chandra3197

[2019-01-23 17:46] magento-engcom-team commented on #20399
Hi @nainesh2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20400 by @nainesh2jcommerce in 2.3-develop branch
Related commit(s):
 - [12a0f05c811f61ae4907ca14a6b842fff70fb8f3](https://github.com/magento/magento2/commit/12a0f05c811f61ae4907ca14a6b842fff70fb8f3)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-23 17:46] #20399 closed, assigned to nainesh2jcommerce, surabhisrivastava09

[2019-01-23 17:47] magento-engcom-team commented on #20373
Hi @ranee2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20374 by @ranee2jcommerce in 2.3-develop branch
Related commit(s):
 - [53274009c094a07f357d5739b3afd86dd9dc311a](https://github.com/magento/magento2/commit/53274009c094a07f357d5739b3afd86dd9dc311a)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-23 17:47] #20373 closed, assigned to ranee2jcommerce

[2019-01-23 17:47] #20193 closed, assigned to cedarvinda

[2019-01-23 17:47] magento-engcom-team commented on #20259
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#20260 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [8bc0309bf756c59333dbbe75d24cd612b1353507](https://github.com/magento/magento2/commit/8bc0309bf756c59333dbbe75d24cd612b1353507)
 - [905368ce2b036211d209ed18da5898aafbdd1667](https://github.com/magento/magento2/commit/905368ce2b036211d209ed18da5898

[2019-01-23 17:47] #20259 closed, assigned to cedarvinda

[2019-01-23 17:47] magento-engcom-team commented on #20299
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20301 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [0652e87b1941d868c8d2469ba12e07fd35d6d130](https://github.com/magento/magento2/commit/0652e87b1941d868c8d2469ba12e07fd35d6d130)
 - [b1e21dbabe207997ce877390bb5e58456f5a4d66](https://github.com/magento/magento2/commit/b1e21dbabe207997ce877390bb5e

[2019-01-23 17:47] #20299 closed, assigned to priti2jcommerce, surabhisrivastava09, cedarvinda

[2019-01-23 17:47] magento-engcom-team commented on #19985
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#19986 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [d9620c6418f3bdf832fd6cf1841fc5a62d05aa77](https://github.com/magento/magento2/commit/d9620c6418f3bdf832fd6cf1841fc5a62d05aa77)
 - [8f4942aa1e400cc4047b7a0de5e806b6dd7ee366](https://github.com/magento/magento2/commit/8f4942aa1e400cc4047b7a0de5e806

[2019-01-23 17:47] #19985 closed, assigned to GovindaSharma

[2019-01-23 17:47] magento-engcom-team commented on #20064
Hi @Floddy. Thank you for your report.
The issue has been fixed in magento/magento2#20248 by @milindsingh in 2.3-develop branch
Related commit(s):
 - [a958f5b3f333917766bc7d31c63480945a605f2c](https://github.com/magento/magento2/commit/a958f5b3f333917766bc7d31c63480945a605f2c)
 - [f7275c53ceaecb8a3e16a2dc286b8614ebd1aef8](https://github.com/magento/magento2/commit/f7275c53ceaecb8a3e16a2dc286b8614e

[2019-01-23 17:47] #20064 closed, assigned to nobody

[2019-01-23 17:47] magento-engcom-team commented on #20121
Hi @denzyk. Thank you for your report.
The issue has been fixed in magento/magento2#20252 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [473f907264cbff215a645518dfc5cc75849119d1](https://github.com/magento/magento2/commit/473f907264cbff215a645518dfc5cc75849119d1)
 - [8d3fc5c138b4328baab27f44e6fd6d58b0149dca](https://github.com/magento/magento2/commit/8d3fc5c138b4328baab27f44e6fd6d58b

[2019-01-23 17:47] #20121 closed, assigned to routbiplab

[2019-01-23 17:47] magento-engcom-team commented on #20169
Hi @milindsingh. Thank you for your report.
The issue has been fixed in magento/magento2#20170 by @milindsingh in 2.3-develop branch
Related commit(s):
 - [4b0eeb6a6d933c92416cd6eca48d720d48508d61](https://github.com/magento/magento2/commit/4b0eeb6a6d933c92416cd6eca48d720d48508d61)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-23 17:47] #20169 closed, assigned to GovindaSharma

[2019-01-23 17:47] magento-engcom-team commented on #19052
Hi @Dharmeshvaja91. Thank you for your report.
The issue has been fixed in magento/magento2#20094 by @davidverholen in 2.3-develop branch
Related commit(s):
 - [53943f8db1b8a13817249335c52b8f8695d930a2](https://github.com/magento/magento2/commit/53943f8db1b8a13817249335c52b8f8695d930a2)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-23 17:55] BartPlevoets opened #20537 "Problems Importing Product CSV file"
Problems Importing Product CSV file
Dear Sir, madam

I have a big issue with reading my csv file.
When i do a export and open it in Google doc or Excel the price and qty not show correct.
Magento 2.2.6

https://docs.google.com/spreadsheets/d/1uJ_CLLGG1WLi_udJTIEHQhx8nCLCHSTxuO-c3kw1XaM/edit?usp=sharing

Can you help me please?

Greetings Bart

[2019-01-23 17:55] magento-engcom-team commented on #20537
Hi @BartPlevoets. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-23 18:05] mmenozzi opened #20538 "Varnish (with apache plus mod expires) will cache all your GET API requests for 1 year"
Given the preconditions described below all GET API requests are cached for 1 year!

### Preconditions (*)
1. Tested on Magento 2.2.5 but I'm sure that all versions are affected
2. Varnish (tested with version 5.2) setup as described in documentation: https://devdocs.magento.com/guides/v2.3/config-guide/varnish/config-varnish.html
3. Apache as backend webserver as described in documentation: https

[2019-01-23 18:05] magento-engcom-team commented on #20538
Hi @mmenozzi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-23 19:09] hostep commented on #6960
Re-opening, because a customer of ours runs against this problem with the incorrect Greek prefix.
I'm currently preparing a PR to fix this.

@cmuench: I think the issue you are experiencing is not the same, but might have been fixed by: https://github.com/magento/magento2/pull/17385

[2019-01-23 19:15] amenk commented on #18115
@vivekkumarcedcoss but that is only for Admin Config inputs, right?

[2019-01-23 19:18] milindsingh commented on #20537
Hi @BartPlevoets
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-23 19:18] #20537 closed, assigned to nobody

[2019-01-23 19:18] magento-engcom-team commented on #20538
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-23 19:54] dambrogia commented on #19469
@sdzhepa @ishakhsuvarov @magento-engcom-team

Any updates or info on this? Do I need to create a new ticket for this?

[2019-01-23 19:54] sdzhepa commented on #8970
Hello @graffxdesign @inkobject @harshvardhanmalpani @koopjesboom @salehawal @tukker01 @AlexanderHuyghebaert @digvijay2017

First of all, thank you all for the feedback, comments and collaboration!

We have investigated this issue and defined:

**The issue and the fix details**
1. The initially described issue was fixed with PR #11817. Changes were applied on _"public function isCategoryProperForGe

[2019-01-23 19:55] qwqwqalexalex237 opened #20549 "Magento 2.2.6 System - Data Tranfer - Export Failed"
### Preconditions (*)

1. Magento 2.2.6
2.

### Steps to reproduce (*)

1. System - Data Tranfer - Export - Entity type
2. System - Data Tranfer - Import

### Expected result (*)

1. [Screenshots, logs or description]
2.  Entity type - I should have been able to select "products" from the drop-down menu.

### Actual result (*)

1. [Screenshots, logs or description]
![image](https://user-images.git

[2019-01-23 19:56] magento-engcom-team commented on #20549
Hi @qwqwqalexalex237. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-01-23 20:01] qwqwqalexalex237 commented on #20549
@magento-engcom-team give me 2.2.6 instance

[2019-01-23 20:01] magento-engcom-team commented on #20549
Hi @qwqwqalexalex237. Thank you for your request. I'm working on Magento 2.2.6 instance for you

[2019-01-23 20:09] qwqwqalexalex237 commented on #20549
Thank you!

[2019-01-23 20:48] simonmaass commented on #19821
can confirm - workaround works on m2.3

[2019-01-23 20:59] simonmaass commented on #19486
i am having the same issue after upgrading from 2.2.7 to 2.3

[2019-01-23 21:35] Tohmas opened #20550 "Can't change custom options prices per store view"
I can't change custom option prices according to store view for my simple products.
I'm using dropdown custom options...

### Preconditions (*)

Magento EE 2.2.6
PHP 7.1.23

### Steps to reproduce (*)

Create multiple store views for the same website
Create a simple product and a custom dropdown option
Set +20€ fot the first option for the default store view.
Change store view to the second one an

[2019-01-23 21:35] magento-engcom-team commented on #20550
Hi @Tohmas. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-23 21:38] Tohmas commented on #20550
Magento EE ver. 2.2.6

[2019-01-23 21:42] Tohmas commented on #20550
@magento-engcom-team give me {Magento EE 2.2.6} instance

[2019-01-23 21:50] geerlingguy commented on #13225
I've also had to mount {{pub/static/_cache}} as a shared folder in my Kubernetes environment since any time more than one Pod (container) is running, the file will be generated on one, but not another, and that kinda messes things up—plus I have to make sure it's writeable (which it wasn't earlier).

[2019-01-23 23:00] magento-engcom-team commented on #19085
Hi @DanieliMi. Thank you for your report.
The issue has been fixed in magento/magento2#19377 by @agorbulin in 2.2-develop branch
Related commit(s):
 - [f895d4aabd4292926a9a7428421febd9ab512232](https://github.com/magento/magento2/commit/f895d4aabd4292926a9a7428421febd9ab512232)
 - [74396e1a73ea9b8bfa5c1fecebc2d663c875c28c](https://github.com/magento/magento2/commit/74396e1a73ea9b8bfa5c1fecebc2d663

[2019-01-23 23:21] rparsi commented on #7835
@joni-jones The bug is that magento code doesn't properly account for special characters in the address fields that should be url encoded (ie `&`).

In this method
`\Magento\Paypal\Model\Payflow\Service\Gateway::postRequest`
line 96
`$client->setUrlEncodeBody(false);`

So if the `lastname` or `street` fields (for example) in the `customer_address_entity` contain characters like `&` or `=` then Pay

[2019-01-23 23:21] levinskipolish opened #20551 "Can't save product with Customizable Options on Admin"
### Preconditions (*)

1.Magento version 2.2.6
2.Linux cloudhost - GNU/Linux

### Steps to reproduce (*)

1. When Customizable Options are added or imported from a different product it can't be saved
2. For the products without this options saving changes are fine

### Expected result (*)

1. I just need to save and see the changes reflecting on product grid as well as in product pages

### Actual

[2019-01-23 23:21] magento-engcom-team commented on #20551
Hi @levinskipolish. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-24 02:13] magento-engcom-team commented on #20551
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-24 02:21] magento-engcom-team commented on #20549
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-24 05:13] amol2jcommerce commented on #20245
@magento-engcom-team give me 2.2-develop instance

[2019-01-24 05:13] magento-engcom-team commented on #20245
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-24 05:18] vivekkumarcedcoss commented on #18115
Yes @amenk that PR is only for Configuration.

[2019-01-24 05:32] amol2jcommerce commented on #20502
@magento-engcom-team give me 2.3-develop instance

[2019-01-24 05:32] magento-engcom-team commented on #20502
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-24 05:45] amitvishvakarma opened #20555 "Meta Keywords/Meta Description are input field in product form while they are defined as textarea"
**Preconditions**

In Magento 2.2.x and Magento 2.3.x, the Meta Keywords, Meta Description are of Textarea defined in product attributes, but they are showing input [type = text ] in product form.

**Steps to reproduce**

1. Go to Store->Attributes->Product.
2. Search for Meta Keywords/Meta description.
3. View them, you will able to see their \'Catalog Input Type for Store Owner\' is Textarea.
4.

[2019-01-24 05:45] magento-engcom-team commented on #20555
Hi @amitcedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-24 05:45] magento-engcom-team commented on #20555
Hi @jitendra-cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-24 05:48] magento-engcom-team commented on #20555
@jitendra-cedcoss Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97903`, `MAGETWO-97904` were created

[2019-01-24 05:52] magento-engcom-team commented on #20551
Hi @saphaljha. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-24 05:53] amol2jcommerce commented on #20555
@magento-engcom-team give me 2.2-develop instance

[2019-01-24 05:53] magento-engcom-team commented on #20555
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-24 05:55] amol2jcommerce commented on #19499
@magento-engcom-team give me 2.2-develop instance

[2019-01-24 05:55] magento-engcom-team commented on #19499
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-24 05:56] saphaljha commented on #20551
@magento-engcom-team give me 2.2-develop instance

[2019-01-24 05:56] magento-engcom-team commented on #20551
Hi @saphaljha. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-24 06:30] saphaljha commented on #20550
Hello @Tohmas, First of all please submit your issue in Magento 2 EE repository of github. Also, Please have a look on my comments below.

Magento does not allow setting a per store price. You can do this on a per website basis follow below step.
To do so, you need to go to
**System->Configuration->Catalog->Catalog**

Then in the tab "Price", set price scope to Website instead of global.

On the p

[2019-01-24 06:30] #20550 closed, assigned to saphaljha

[2019-01-24 06:43] ddevesh opened #20559 "Magento CLI fails if module.xml is not found"
### Preconditions (*)

1.If module.xml is missing in the any third party extension , Magento CLI fails and don't throw the exact  error . And there is no way to debugg the real cause of error.
2. I have checked this in Magento version 2.3 vanilla .

### Steps to reproduce (*)

1. Create a new test module.
2. Define registration.php and composer.json in it.
3. Run any CLI command ( setup:upgrade or

[2019-01-24 06:44] magento-engcom-team commented on #20559
Hi @ddevesh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-24 06:44] magento-engcom-team commented on #20559
Hi @LuciferStrome. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 07:28] wli-dev6 opened #20562 "Full page caching (FPC) issue on mutistore view"
Full page caching (FPC) issue on mutistore view

Magento version. 2.2.2
PHP Version 7.x

Steps to reproduce

-> Switching store from arabic to english its not working and store is displaying older version only.
-> If we disable FPC cache its working fine.

Expected result

-> Selected store view data should be return.

Actual result

-> Old store view data is displaying even after switching.

Note

[2019-01-24 07:40] magento-engcom-team commented on #20562
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-24 07:41] magento-engcom-team commented on #20559
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-24 07:41] engcom-backlog-nazar commented on #20559
HI @ddevesh thank you for you report, this is expected behavior, you need to create module.xml .

[2019-01-24 07:41] #20559 closed, assigned to LuciferStrome

[2019-01-24 07:42] magento-engcom-team commented on #20551
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-24 07:42] magento-engcom-team commented on #20549
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-24 07:43] engcom-backlog-nazar commented on #20549
Hi @qwqwqalexalex237 thank you for you report, i'm not able to reproduce following steps you described, this may be related to your custom modules.

[2019-01-24 07:43] #20549 closed, assigned to shikhamis11

[2019-01-24 07:48] LuciferStrome commented on #20559
@engcom-backlog-nazar Yes we should create module.xml and that is correct, but incase there is a missing module.xml in any 3rd party module, the Magento cli shows an unexpected behaviour.
Causing really difficult to debug.

I think the cli should work or show the error for missing module.xml

[2019-01-24 07:49] engcom-backlog-nazar commented on #20562
Hi @wli-dev6 thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release

[2019-01-24 07:49] #20562 closed, assigned to nobody

[2019-01-24 07:52] engcom-backlog-nazar commented on #14582
@macrodesignuk Hi seems like this related to migration tool, you can open issue here -> https://github.com/magento/data-migration-tool repository.

[2019-01-24 07:52] magento-engcom-team commented on #20538
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-24 07:55] hatimeria-artur-jewula commented on #2991
I believe the main problem with this is in the `Magento\Quote\Model\Quote::setShippingAddress()` method. When removing product from cart, both billing and shipping addresses that are currently added are marked to deletion. Then save handler create a new empty billing address and shipping assignment creates a new shipping address. New billing address gets properly saved but shipping address goes th

[2019-01-24 07:56] engcom-backlog-nazar commented on #20559
@LucaGallinari there are many places where this should be fixed, but not only module.xml so i this this is a good feature request. It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-24 08:04] engcom-backlog-nazar commented on #20551
Hi @levinskipolish thank you for you report, i'm not able to reproduce following steps you described, please verify that your data in cvs are current, and have all required fields.

[2019-01-24 08:04] #20551 closed, assigned to nobody

[2019-01-24 08:05] ghoshsweta opened #20563 "Go to shipping information, Update qty & Addresses and Enter a new address button Not aligned from left and right in 767px screen size"
**Go to shipping information**, **Update qty & Addresses** and **Enter a new address** button Not aligned from left and right in **767px screen size**

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Open Frontend
Step 2: Login add existing customer (Should save a shipping address)
Step 2: add to cart any product
Step 3: go to cart page
Step 4: Now click on

[2019-01-24 08:05] magento-engcom-team commented on #20563
Hi @swetacedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-24 08:05] magento-engcom-team commented on #20563
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-24 08:05] magento-engcom-team commented on #20563
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 08:06] magento-engcom-team commented on #20563
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 08:07] cedarvinda commented on #20563
@amol2jcommerce please

[2019-01-24 08:09] magento-engcom-team commented on #20563
@cedarvinda Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97905` were created

[2019-01-24 08:35] engcom-backlog-nazar commented on #20520
@craigcarnell i'm not able to reproduce following steps you described, please see comment mentioned later, this really may cause this issue.
Best regards.

[2019-01-24 08:35] #20520 closed, assigned to nobody

[2019-01-24 08:44] magento-engcom-team commented on #13538
Hi @XxXgeoXxX. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-24 08:57] joinso opened #20568 "MobileMenu fails at 767px"
### Preconditions (*)

1. Magento 2.3 CE
2. PHP 7.2.13
3. Luma Theme or any that extends it.
4. Demo Sample Data or any data that setups some categories.

### Steps to reproduce (*)

1. Setup your theme as Luma or any that extends it.
2. Setup some categories to fill your store menu.
3. In browser like Chrome or Firefox, open Developer Tools (F12) and activate responsive mode.
4. Setup screen widt

[2019-01-24 08:57] magento-engcom-team commented on #20568
Hi @joinso. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-24 08:57] XxXgeoXxX commented on #13538
Hi @Sharkozp
You are wrong. This is not bug in magento.
You described and provided screenshot from magento 2.1.x but Magento 2.2.x works in another way.
Steps for manage(use swagger functionality):
- Go to Swagger
- Find integrationAdminTokenServiceV1
- click button 'Try it out'
- fill 'Example values' according to the example and types
- press 'Execute'

[2019-01-24 09:00] magento-engcom-team commented on #20568
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 09:01] magento-engcom-team commented on #20568
@amol2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97906` were created

[2019-01-24 09:05] LavanyaCS opened #20569 "We can't save the customer issues in magento 2.3 in front end if register is saved in db but showing a error that we can't save the customer"
### Summary (*)

### Examples (*)

### Proposed solution

[2019-01-24 09:05] magento-engcom-team commented on #20569
Hi @LavanyaCS. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-24 09:05] magento-engcom-team commented on #20569
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-24 09:06] magento-engcom-team commented on #20568
Hi @amol2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-24 09:07] engcom-backlog-nazar commented on #20569
Hi @LavanyaCS. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Then please reopen the issue. thank you.

[2019-01-24 09:07] #20569 closed, assigned to nobody

[2019-01-24 09:09] Sharkozp commented on #13538
Hi @XxXgeoXxX,

I didn't use 2.1.x. As I described and provided screenshots from **Magento 2.2.2**. I have used Magento 2.2.1 and after updating to 2.2.2 I found that layouts is not correct. Maybe this is fixed with new release. I will check later

All the best

[2019-01-24 09:11] amol2jcommerce commented on #20568
Hi @joinso by mistake added label but it's not reproducible 2.3

[2019-01-24 09:12] mikelmao opened #20570 "Image uploading not working on products on 2.3"
### Preconditions (*)

1. Magento 2.3 Community

### Steps to reproduce (*)

1. Install a fresh copy of magento 2.3 community (im running it on Ubuntu)
2. Create a product and attempt to upload an image

### Expected result (*)

1. Image should be uploaded and linked to the product.

### Actual result (*)

1. The following error appears: A technical problem with the server created an error. Try ag

[2019-01-24 09:12] magento-engcom-team commented on #20570
Hi @mikelmao. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-24 09:13] magento-engcom-team commented on #20570
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-24 09:14] #20570 closed, assigned to nobody

[2019-01-24 09:15] macrodesignuk commented on #14582
@engcom-backlog-nazar My second scenario didn't use the migration tools, it was a clean install of version 2.3.0 and the simple products and bundles were created from scratch on the Magento 2 admin panel.

[2019-01-24 09:18] #20568 closed, assigned to nobody

[2019-01-24 09:19] joinso commented on #20568
Conclusion:
Is related to Luma Theme?

[2019-01-24 09:21] engcom-backlog-nazar commented on #14582
@macrodesignuk ok i'm will recheck

[2019-01-24 09:22] tuyennn opened #20571 "Redis customer session lost or use previous customer session"
As I use a customer account to login a store. After a bit of time 2-3 sec I see previous customer name appeared from header not my name

### Preconditions (*)

1. Magento 2.1.9 - Running Production Mode
2. PHP 7.0
3. Nginx
4. Redis for session
5. Cm_Cache_Backend_Redis for cache

### Steps to reproduce (*)

1. Go login from login form
2. Wait a bit second to see the customer name is not mine.

###

[2019-01-24 09:22] magento-engcom-team commented on #20571
Hi @tuyennn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-24 09:22] magento-engcom-team commented on #20571
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-24 09:38] XxXgeoXxX commented on #13538
@Sharkozp
rechecked on Magento vanilla 2.2.2, 2.2.3, 2.2.4, 2.2.6, branch 2.2-developer, branch 2.3-developer.
I couldn't reproduce your problem. Please, recheck your layout/template rewrites in your custom themes.
If I  have a mistake, please, reopen the issue.

[2019-01-24 09:38] #13538 closed, assigned to XxXgeoXxX

[2019-01-24 09:49] magento-engcom-team commented on #6092
Hi @routbiplab. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-01-24 09:50] engcom-backlog-nazar commented on #9156
We are closing this issue, as we have new one here -> https://github.com/magento/magento2/issues/20571

[2019-01-24 09:50] #9156 closed, assigned to nobody

[2019-01-24 09:50] magento-engcom-team commented on #20571
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97907`, `MAGETWO-97908` were created

[2019-01-24 09:52] magento-engcom-team commented on #17868
Hi @routbiplab. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-01-24 09:52] magento-engcom-team commented on #17436
Hi @routbiplab. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-01-24 10:08] tuyennn commented on #20571
@magento-engcom-team give me 2.3-develop instance

[2019-01-24 10:08] magento-engcom-team commented on #20571
Hi @tuyennn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-24 10:14] kunj1988 commented on #19737
You need to edit OR override this file: 'app/code/Magento/Cms/Helper/Wysiwyg/Images.php'
with below code
From: `$src = $this->isUsingStaticUrlsAllowed() ? $fileUrl : $this->escaper->escapeHtml($directive);`
To: `$src = $this->isUsingStaticUrlsAllowed() ? $fileUrl : $this->escaper->escapeHtml($directive, null, true);`

The same need to edit OR  override this file: 'lib/internal/Magento/Framework/Es

[2019-01-24 11:13] allamsettiramesh opened #20576 "Magento 2.3 Magento_Customer data recurring taking long time"
Team, Magento_Cutomer data recurring taking long time to complete that step when i run the upgrade command. Is there any to skip Magento_Cutomer data recurring in 2.3.
Actually i upgraded magento 2.2.5 to 2.3, but always deleting **adminnotification_inbox** table when i run the upgrade command.

Is there any solution for this.

[2019-01-24 11:13] magento-engcom-team commented on #20576
Hi @allamsettiramesh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-01-24 11:45] mvenghaus commented on #12354
Having the same problem. I also think there are different problems.

StoreManager
In my opinion the StoreManager should return 0 when I'm in the admin area .. that seems most logical for me.

getBaseUrl
This method should handle the special case for the diffrent custom admin url.

I don't see the need for having "admin/url/use_custom" AND "admin/url/custom". We already have a base admin value with

[2019-01-24 11:47] milindsingh commented on #20538
@mmenozzi I tried and was able to reproduce the issue, I am curious that it **only happens if a new store is added**, and No matter what I do, the currencies are only displayed for `Default Store` only.

1. As the API describes, `Get currency information for the store.` but no way to add `store_id` as a param.
2. For default store, the currency is updated instantly, so it may not be due to `varnis

[2019-01-24 11:48] magento-engcom-team commented on #20538
@milindsingh Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97909`, `MAGETWO-97910` were created

[2019-01-24 11:51] magento-engcom-team commented on #20576
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-24 11:53] engcom-backlog-nazar commented on #20576
Hi @allamsettiramesh i'm just reopen the older ticket as this was not fixed. https://github.com/magento/magento2/issues/19469

[2019-01-24 11:53] #20576 closed, assigned to nobody

[2019-01-24 11:54] engcom-backlog-nazar commented on #19469
Hi @dambrogia Hi @allamsettiramesh  i'm reopen this as this was not fixed.

[2019-01-24 11:57] magento-engcom-team commented on #20111
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-24 11:58] shikhamis11 commented on #20111
@magento-engcom-team give me 2.3-develop instance

[2019-01-24 11:58] magento-engcom-team commented on #20111
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-24 12:00] dipti2jcommerce commented on #20571
@magento-engcom-team give me 2.3-develop instance

[2019-01-24 12:00] magento-engcom-team commented on #20571
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-24 12:05] engcom-backlog-nazar commented on #20571
redis or varnish not available on vanilla instance.@tuyennn @dipti2jcommerce try reproduce on local environment

[2019-01-24 13:17] levinskipolish commented on #20551
@magento-engcom-team Thanks you for your quick response. I'm not sure if I understood, but I'll try to reproduce the steps below. I could dig down a bit more into the problem origin and fix it my self, but I have plenty to do already.

Title - Can't save product customizable options option. domain.com/admin > catalog > products > edit > Customizable Options (When I change any value and save )

###

[2019-01-24 13:30] magento-engcom-team commented on #13982
Hi @lisovyievhenii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-24 13:31] yashwant2jcommerce opened #20580 "Time fields misaligned in iPad landscape view (1024 x 768)"
### Preconditions (*)

1. 2.30

### Steps to reproduce (*)

1. In Admin Stores >> Configuration >> General >> Advanced Reporting >> Time of day to send data

### Expected result (*)

1.
![advanced-reporting-expected](https://user-images.githubusercontent.com/26630846/51681306-2ee48200-200a-11e9-9cae-ea49a0877865.jpg)

### Actual result (*)

1.
![advanced-reporting-actual](https://user-images.githu

[2019-01-24 13:31] magento-engcom-team commented on #20580
Hi @yashwant2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-01-24 13:32] magento-engcom-team commented on #20580
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 13:32] magento-engcom-team commented on #20580
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-24 13:32] magento-engcom-team commented on #20580
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-24 13:32] magento-engcom-team commented on #20580
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 13:34] magento-engcom-team commented on #20580
@amol2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97911` were created

[2019-01-24 13:37] magento-engcom-team commented on #20580
Hi @ajay2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-24 14:06] rishabhchd19 commented on #14952
One more query...is this patch replace file/entire coding or just the code
on the line no . ?

On Thu 24 Jan, 2019, 6:42 PM Craig Carnell <notifications@github.com wrote:

[2019-01-24 14:08] craigcarnell commented on #14952
Just the code that needs replacing, it's a diff

[2019-01-24 14:08] m-schreiber opened #20585 "Magento_InventorySalesApi is missing acl.xml"
### Preconditions (*)

1. Magento Version 2.3.*
2. Magento_InventorySalesApi Version 1.0.0

### Steps to reproduce (*)

1. Add New Integration
2. Try to grant access to "InventorySalesApi::stock" as used in module-inventory-sales-api/etc/webapi.xml
3. Try to use API-Endpoint "GET http://<host>rest/us/V1/inventory/get-product-salable-quantity" as described in https://devdocs.magento.com/guides/v2.3

[2019-01-24 14:08] magento-engcom-team commented on #20585
Hi @m-schreiber. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-24 14:10] magento-engcom-team commented on #20585
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-24 14:11] Surabhi-Cedcoss commented on #20585
@magento-engcom-team give me 2.3-develop instance

[2019-01-24 14:11] magento-engcom-team commented on #20585
Hi @Surabhi-Cedcoss. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-24 14:13] magento-engcom-team commented on #20585
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-24 14:13] magento-engcom-team commented on #20585
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-24 14:16] engcom-backlog-nazar commented on #20585
Hi @m-schreiber thank you for you report please open issue here -> https://github.com/magento-engcom/msi
Best regards

[2019-01-24 14:16] #20585 closed, assigned to nobody

[2019-01-24 14:19] ranee2jcommerce opened #20588 "In admin, Related, Up-sell, Cross-sell products alignment not proper"
### Preconditions (*)

1. 2.3.x
2.

### Steps to reproduce (*)

1. Go to admin
2. Catalog -> Products -> Edit Product
3. Go to "Related Products, Up-Sells, and Cross-Sells" section
4. Add Related Products, Up-Sells, and Cross-Sells products

### Expected result (*)

1.
![2019-01-24_18-54_beginner s yoga - products](https://user-images.githubusercontent.com/18118755/51683711-7706a300-2010-11e9-9261

[2019-01-24 14:19] magento-engcom-team commented on #20588
Hi @ranee2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-24 14:19] magento-engcom-team commented on #20588
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-24 14:20] magento-engcom-team commented on #20588
Hi @parag2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-24 14:20] nainesh2jcommerce commented on #20588
@magento-engcom-team give me 2.3.x instance

[2019-01-24 14:20] magento-engcom-team commented on #20588
Hi @nainesh2jcommerce. Thank you for your request. I'm working on Magento 2.3.x instance for you

[2019-01-24 14:20] magento-engcom-team commented on #20588
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-24 14:21] magento-engcom-team commented on #20588
@nainesh2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97913` were created

[2019-01-24 14:44] slackerzz commented on #19681
same here on a clean 2.3.0 enterprise

[2019-01-24 14:49] magento-engcom-team commented on #17618
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-24 14:51] magento-engcom-team commented on #20091
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-24 15:14] kouma opened #20590 "Unable to pass enum value as argument in GraphQL query"
Hello there,

When you pass enum values as argument in your GraphQL queries, the validation fails. To reproduce this bug, let's use the super simple `SortEnum` that contains only 2 attributes, `ASC` and `DESC` :

[code]
We'll use it on the `products` query to sort the paginated result.

### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Install GraphiQL extension for Chrome [her

[2019-01-24 15:14] magento-engcom-team commented on #20590
Hi @kouma. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-01-24 15:14] magento-engcom-team commented on #20590
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-24 15:16] liamjtoohey commented on #13511
In agreement with @kirkmadera that this is likely related to #12362. Possible solutions:

- Upgrade to `2.2.7`. The session manager bug was patched here https://github.com/magento/magento2/pull/14973 and released in `2.2.7` (https://github.com/magento/magento2/blob/2.2.7/lib/internal/Magento/Framework/Session/SessionManager.php).

- Apply patch containing https://github.com/magento/magento2/pull/1

[2019-01-24 15:16] engcom-backlog-nazar commented on #20590
Hi @kouma thank you for you report, please open issue here -> https://github.com/magento/graphql-ce

[2019-01-24 15:16] #20590 closed, assigned to nobody

[2019-01-24 15:25] geerlingguy commented on #13225
To follow up to the previous commit, I _can't_ actually mount `pub/static/_cache` into my containers because when Magento rebuilds static assets it tries to delete the `_cache` directory.

So the next best compromise is mounting all of `pub/static` on all my containers. But if you do this, make sure the `.htaccess` file that ships with Magento core (which has rewrite rules for the 'version' direct

[2019-01-24 15:35] gchristian17 opened #20591 "Shopping Cart Display Settings > Display Subtotal = Including Tax - should only show one subtotal"
### Preconditions (*)

1. Magento ver. 2.3.0
2. Multi-store installation

### Steps to reproduce (*)

1. Go to Config > [select store] > Sales > Tax > Shopping Cart Display Settings
2. Set the following:

<ul>
	<li>Display Prices = Including Tax</li>
	<li>Display Subtotal = Including Tax</li>
	<li>Display Shipping Amount = Including Tax</li>
	<li>Display Gift Wrapping Prices = Including Tax</li>

[2019-01-24 15:35] magento-engcom-team commented on #20591
Hi @gchristian17. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-24 15:35] magento-engcom-team commented on #20591
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-24 15:38] gchristian17 commented on #20591
@magento-engcom-team give me 2.3.0 instance

[2019-01-24 15:38] magento-engcom-team commented on #20591
Hi @gchristian17. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-24 15:38] magento-engcom-team commented on #20591
Hi @gchristian17, here is your [Magento instance](https://i-20591-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20591-2-3-0.instances.magento-community.engineering/admin](https://i-20591-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-24 15:52] gchristian17 commented on #20591
@magento-engcom-team Yes, can confirm able to reproduce on vanilla Magento instance following steps to reproduce.

![screenshot from 2019-01-24 15-52-02](https://user-images.githubusercontent.com/28341968/51690149-08195200-1ff0-11e9-89d8-777078b51f1d.png)
![screenshot from 2019-01-24 15-50-22](https://user-images.githubusercontent.com/28341968/51690159-0bacd900-1ff0-11e9-99e7-25aaf14fd10e.png)

[2019-01-24 16:39] chdzma opened #20592 "Ui_component column visible doesn't work"
### Summary (*)

In Magento 2.2.6, modifying customer listing to add custom columns, setting `<item name="visible">` to set a default visibility is not being taken into account. It doest not matter if it is set to true or false. It does not make any change.
We were able to reproduce the same error on Magento 2.1.9.

The `<item name="label">` is working, since we are able to change column name. For

[2019-01-24 16:39] magento-engcom-team commented on #20592
Hi @chdzma. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-24 16:42] magento-engcom-team commented on #20592
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 16:49] magento-engcom-team commented on #13227
Hi @vshatylo. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-01-24 16:53] rogyar commented on #20176
@magento-engcom-team give me 2.3-develop instance

[2019-01-24 16:53] magento-engcom-team commented on #20176
Hi @rogyar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-24 16:53] magento-engcom-team commented on #20176
Hi @rogyar, here is your [Magento instance](https://i-20176-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20176-2-3-develop.instances.magento-community.engineering/admin](https://i-20176-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-24 16:54] LouNik1984 opened #20593 "Magento 2.2.2 layered navigation shows also out of stock products"
I know there are already closed issues for this problem but none has worked for me.

### Preconditions (*)
magento 2.2.2 on ubuntu 16.04, apache2, php 7.1.26, mysql 5.7.25, with configurable products with a text swatch attribute (eg: size) which is filterable with results in layered navigation. Option "show out of stock products" is set to NO.

### Steps to reproduce (*)
- open a configurable prod

[2019-01-24 16:54] maheshWebkul721 commented on #20591
@magento-engcom-team give me 2.3.0 instance

[2019-01-24 16:54] magento-engcom-team commented on #20591
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-24 16:54] magento-engcom-team commented on #20593
Hi @LouNik1984. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-24 16:54] magento-engcom-team commented on #20591
Hi @maheshWebkul721. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-24 16:54] magento-engcom-team commented on #20591
Hi @maheshWebkul721, here is your [Magento instance](https://i-20591-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20591-2-3-0.instances.magento-community.engineering/admin](https://i-20591-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-24 16:55] magento-engcom-team commented on #20593
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 16:58] GovindaSharma commented on #20593
@magento-engcom-team give me 2.2-develop instance

[2019-01-24 16:58] magento-engcom-team commented on #20593
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-24 16:58] magento-engcom-team commented on #20593
Hi @GovindaSharma, here is your [Magento instance](https://i-20593-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20593-2-2-develop.instances.magento-community.engineering/admin](https://i-20593-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-24 17:00] levinskipolish opened #20594 "Can't save product customizable options"
### Preconditions (*)

1. Magento 2.2.6 CE  CentOS Linux.
2. Can't save product customizable options on **edit product admin**.
3. Category is set up
4. Product were created and assigned to the existing category.
5. Both product and options are visible form back end front end.

### Steps to reproduce (*)

1. Navigate to admin
2. Catalog > products >(Chose a product that has custom option).
3. Edit

[2019-01-24 17:01] magento-engcom-team commented on #20594
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 17:02] magento-engcom-team commented on #20594
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 17:08] irajneeshgupta commented on #20594
@magento-engcom-team give me 2.2-develop instance

[2019-01-24 17:08] magento-engcom-team commented on #20594
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-24 17:08] magento-engcom-team commented on #20594
Hi @irajneeshgupta, here is your [Magento instance](https://i-20594-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20594-2-2-develop.instances.magento-community.engineering/admin](https://i-20594-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-24 17:19] maheshWebkul721 commented on #20591
@magento-engcom-team give me 2.2-develop instance

[2019-01-24 17:20] magento-engcom-team commented on #20591
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-24 17:22] irajneeshgupta commented on #20594
@levinskipolish
Please check the instance , it was not reproduced.

[2019-01-24 17:22] #20594 closed, assigned to irajneeshgupta, GovindaSharma

[2019-01-24 17:50] nickpiro opened #20595 "Customer Saved Cart Blank (Admin)"
### Preconditions (*)
1. Magento 2.2.5

### Steps to reproduce (*)
1. Customer adds product to cart while signed in to their account.
2. Magento admin accesses customers account on Magento backend.
3. Magento admin clicks customers 'Saved Carts' in the left navigation.

### Expected result (*)
1. Magento admin sees customers products in cart.

### Actual result (*)
1. Saved cart tab is blank.
<img

[2019-01-24 17:50] magento-engcom-team commented on #20595
Hi @nickpiro. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-24 18:13] magento-engcom-team commented on #20595
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 19:35] hostep commented on #13902
Hi folks

It looks like this issue gets resolved by the following PR's.

For Magento 2.3:
- logged in users: https://github.com/magento/magento2/pull/18689
- guests: https://github.com/magento/magento2/pull/19505

For Magento 2.2:
- logged in users: https://github.com/magento/magento2/pull/18870
- guests: awaiting approval of https://github.com/magento/magento2/pull/19505 until this gets backporte

[2019-01-24 20:03] magento-engcom-team commented on #20595
Hi @okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-24 20:08] irajneeshgupta commented on #20595
@nickpiro
I think save cart feature is not available in in CE .
can you please confirm it once, are you using any third party extension for it?

[2019-01-24 20:12] magento-engcom-team commented on #20595
Hi @okorshenko. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-24 20:17] mmenozzi commented on #20538
@milindsingh the currency API is only an example. The cache for 1 year problem occurs with every GET API request.

The fact of the matter is how expires directives are in the htaccess file. It’s not only an API problem. Given those directives every response  with a content type different than text/plain or text/html (for example a PDF) will be cached for 1 year. And this could be a problem if the

[2019-01-24 20:18] VitaliyBoyko commented on #20434
@laurentplenet Feel free to check the referenced PR above this comment.

[2019-01-24 20:43] nickpiro opened #20598 "Customer Admin Shopping Cart View Missing"
### Summary (*)
In Magento 1.x.x in Reports>Shopping Cart> Abandoned Carts you are able to view a list of customers and when you click on them you will see the products in their cart.

You are forwarded to a URL within the admin: /customer/edit/id/12345/active_tab/cart/key/xxxxxx

In Magento 2, when you go to Reports>Marketing>Abandoned Carts you are able to view a list of customers, and when you

[2019-01-24 20:44] magento-engcom-team commented on #20598
Hi @nickpiro. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-24 20:48] nickpiro commented on #20595
@irajneeshgupta you may be right. I'm checking now. We have an affiliate module that may have the saved cart feature. But I was under the impression this page was for the Abandoned cart core function. Which by the way, I just posted another bug about separately.

[2019-01-24 21:08] magento-engcom-team commented on #20593
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 21:13] amol2jcommerce commented on #20593
Hi @LouNik1984 Not reproduce 2.2-develop

[2019-01-24 21:20] magento-engcom-team commented on #20598
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-24 21:23] magento-engcom-team commented on #20598
@amol2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97919` were created

[2019-01-24 22:38] steveb2050 commented on #19486
Ditto, i am having the same issue after upgrading from 2.2.7 to 2.3.

Step...
Content => Design => Configuration
click 'Edit' to access config settings for registered theme
page tries to load.. https://my...site/magento2/admin...location/theme/design_config/edit/scope/stores/scope_id/1/

Page gets hung and doesn't load - spinning graphic.

Repeats in all three browers - GC, Firefox and IE

Anyone

[2019-01-24 23:50] diazwatson commented on #10450
Same happens in 2.2.3 Enterprise Edition

[2019-01-25 01:30] #20595 closed, assigned to irajneeshgupta

[2019-01-25 02:30] magento-engcom-team commented on #20111
Hi @shikhamis11, here is your [Magento instance](https://i-20111-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20111-2-3-develop.instances.magento-community.engineering/admin](https://i-20111-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-25 03:41] joinso opened #20599 "MobileMenu fails at 767px in some screen resolutions"
### Preconditions (*)

1. Magento 2.3 CE
2. PHP 7.2.13
3. Luma Theme or any that extends it.
4. Demo Sample Data or any data that setups some categories.
5. Any monitor can manager high resolutions like 4K.

### Steps to reproduce (*)

1. Setup your theme as Luma or any that extends it.
2. Setup some categories to fill your store menu.
3. Use screen resolution: 3840x2160 at start point
4. In brows

[2019-01-25 04:13] magento-engcom-team commented on #20599
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-25 04:52] magento-engcom-team commented on #20599
Hi @ajay2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-25 04:54] ajay2jcommerce commented on #20599
Hi

PR already created #20568 .

[2019-01-25 04:56] joinso commented on #20599
Hi @ajay2jcommerce !

I created #20568 yesterday, but it's closed.
This one is more detailed one, and it seems that now the issue can be reproduced.

Regards.
JOINSO

[2019-01-25 05:01] amol2jcommerce opened #20600 "In admin Catalog Start time field & Date Field order misaligned in iPad"
### Preconditions (*)

1. Magento 2.3.x
2. Magento 2.2.x

### Steps to reproduce (*)

1. In Admin Stores >> Configuration >> Catalog >> Product Alerts Run Settings >> Start Time
2. In Admin Stores >> Configuration >> Catalog >> Date & Time Custom Options >> Date Fields Order

### Expected result (*)

1.
![2](https://user-images.githubusercontent.com/18118631/51726196-2af94400-208c-11e9-85d0-38b3c0

[2019-01-25 05:01] magento-engcom-team commented on #20600
Hi @amol2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-25 05:04] magento-engcom-team commented on #20600
@amol2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97920`, `MAGETWO-97921` were created

[2019-01-25 06:09] dipti2jcommerce commented on #20600
@magento-engcom-team give me 2.3-develop instance

[2019-01-25 06:09] magento-engcom-team commented on #20600
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-25 06:09] magento-engcom-team commented on #20600
Hi @dipti2jcommerce, here is your [Magento instance](https://i-20600-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20600-2-3-develop.instances.magento-community.engineering/admin](https://i-20600-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-25 06:10] tzyganu opened #20603 "Cannot add filter for `NOT FIND_IN_SET`"
### Summary (*) & Example

Need:
Add a filter on a collection for condition `NOT FIND_IN_SET`.
This cannot be be done via `addAttributeToFilter` or `addFieldToFilter` because the  method `Magento\Framework\DB\Adapter\Pdo\Mysql::prepareSqlCondition` does not contain a map item for `NOT FIND_IN_SET`.
I always have to do with `Zend_Expr` approach which is not that "pretty".

### Proposed solution
Add

[2019-01-25 06:10] magento-engcom-team commented on #20603
Hi @tzyganu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-25 06:11] irajneeshgupta commented on #20568
@amol2jcommerce
Seriously  , you  have added 4 labels by mistake.

[2019-01-25 06:12] magento-engcom-team commented on #20603
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-25 06:36] ajay2jcommerce opened #20604 "Gift option message overlap edit and remove button"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. Login Admin
2. Go to Store >> Configuration >> sales >> sales >>gift option>> enable both settings
3. add product to cart.
4. add gift option massage.

### Expected result (*)

1.
![expectedt](https://user-images.githubusercontent.com/18118570/51729370-63534f00-2099-11e9-8933-34ca7fafd896.jpg)

### Actual result (*)

1.
![actual](http

[2019-01-25 06:36] magento-engcom-team commented on #20604
Hi @ajay2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-25 06:37] nainesh2jcommerce commented on #20604
@magento-engcom-team give me 2.3.0 instance

[2019-01-25 06:37] magento-engcom-team commented on #20604
Hi @nainesh2jcommerce. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-01-25 06:38] magento-engcom-team commented on #20604
Hi @nainesh2jcommerce, here is your [Magento instance](https://i-20604-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20604-2-3-0.instances.magento-community.engineering/admin](https://i-20604-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-25 06:54] irajneeshgupta commented on #20604
@nainesh2jcommerce @engcom-backlog-nazar
you are wasting the instance per issue, if you do not need it don't as engcom team bot for new instances.I checked that you have not tested anything in this instance.

[2019-01-25 06:59] nainesh2jcommerce commented on #20604
Hi @irajneeshgupta,
I have already reproduce the issue on previously provided instance https://pr-20506.instances.magento-community.engineering/ before providing by magento team.

Thanks!

[2019-01-25 07:36] LouNik1984 commented on #20593
I have two environments that are almost identical. The only difference I have on those two environments is the mysql version. On the environment with mysql 5.6 the layered navigation works properly. On the environment with mysql 5.7 the layered navigation shows the described issue. What mysql version had the magento instance that was used to try and reproduce the issue?

[2019-01-25 07:41] magento-engcom-team commented on #20603
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-25 07:42] magento-engcom-team commented on #20598
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-25 07:44] engcom-backlog-nazar commented on #20603
Hi @tzyganu thank you for youreport, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-25 07:44] #20603 closed, assigned to nobody

[2019-01-25 07:59] engcom-backlog-nazar commented on #20598
HI @nickpiro thank you for you report, Not really a fix or anything, but if you press the "Create Order" button it will show the items on the cart on that page.

[2019-01-25 07:59] #20598 closed, assigned to nobody

[2019-01-25 07:59] cedarvinda commented on #20600
@amol2jcommerce this issue already fixed #20580 in same less 3 time PR with same line number what is this. You don't know global solution ?

[2019-01-25 08:00] magento-engcom-team commented on #20599
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-25 08:02] magento-engcom-team commented on #20593
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-25 08:02] magento-engcom-team commented on #20604
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-25 08:03] #20600 closed, assigned to amol2jcommerce

[2019-01-25 08:11] engcom-backlog-nazar commented on #20599
Hi @joinso i'm not able to reproduce following steps you described, and i'm not sure in which devices you have this issue ?

[2019-01-25 08:11] #20599 closed, assigned to ajay2jcommerce

[2019-01-25 08:18] joinso commented on #20599
Hi!

It is more a display issue, not a device issue.
It is very strange to have a 767px screen width device.

For test you need a screen that can handle high resolutions, like 4K.

The first fail is when resolution of screen is: 3840x2160
Then you press F12 in browser, set responsive mode, and setup width at 767px.
Then the mobilemenu not rendered correctly and not collapse.
In this case, the comp

[2019-01-25 08:18] engcom-backlog-nazar commented on #20604
Hi @irajneeshgupta can confirm this iss
![selection_289](https://user-images.githubusercontent.com/40756439/51733641-9e01bb00-208a-11e9-90ec-4a108f77538b.png)
ue exist on 2.3-develop

[2019-01-25 08:19] joinso commented on #20599
Hi!

It is more a display issue, not a device issue.
It is very strange to have a 767px screen width device.

For test you need a screen that can handle high resolutions, like 4K.

The first fail is when resolution of screen is: 3840x2160
Then you press F12 in browser, set responsive mode, and setup width at 767px.
Then the mobilemenu not rendered correctly and not collapse.
In this case, the comp

[2019-01-25 08:20] joinso commented on #20599
Hi!

It is more a display issue, not a device issue.
It is very strange to have a 767px screen width device.

For test you need a screen that can handle high resolutions, like 4K.

The first fail is when resolution of screen is: 3840x2160
Then you press F12 in browser, set responsive mode, and setup width at 767px.
Then the mobilemenu not rendered correctly and not collapse.
In this case, the comp

[2019-01-25 08:20] magento-engcom-team commented on #20592
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-25 08:21] joinso commented on #20599
Hi!

It is more a display issue, not a device issue.
It is very strange to have a 767px screen width device.

For test you need a screen that can handle high resolutions, like 4K.

The first fail is when resolution of screen is: 3840x2160
Then you press F12 in browser, set responsive mode, and setup width at 767px.
Then the mobilemenu not rendered correctly and not collapse.
In this case, the comp

[2019-01-25 08:31] engcom-backlog-nazar commented on #20592
Hi @chdzma
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-25 08:31] #20592 closed, assigned to GovindaSharma

[2019-01-25 08:44] magento-engcom-team commented on #20591
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-25 08:47] engcom-backlog-nazar commented on #20591
HI @gchristian17 thank you for you report, this is non issue this label `Include Tax In Order Total`
Show all Exc. and incl. tax on **Order total** This is expected beahvior please set this option to no.

[2019-01-25 08:47] #20591 closed, assigned to nobody

[2019-01-25 08:54] dipti2jcommerce opened #20609 "Currency rate value not align proper in order information tab when we create creditmemo from admin"
Currency rate value not align proper in order information tab  when we create creditmemo from admin

### Preconditions (*)

1.Magento 2.3
2.In admin configuration

### Steps to reproduce (*)

1.In admin configuration create credit memo for any order
2.In Order information tab currency value not align proper

### Expected result (*)
![2019-01-25_14-23_new memo - credit memos](https://user-images.gi

[2019-01-25 08:54] magento-engcom-team commented on #20609
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-25 08:54] magento-engcom-team commented on #20609
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-25 08:56] nainesh2jcommerce commented on #20609
Hi issue exist
![curruncy_rate_left_align](https://user-images.githubusercontent.com/18118539/51735324-25f8bc80-20ad-11e9-8d10-4931160464f2.jpg)

[2019-01-25 08:56] magento-engcom-team commented on #20609
@nainesh2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97924` were created

[2019-01-25 09:08] magento-engcom-team commented on #14882
Hi @lisovyievhenii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-25 09:11] gchristian17 commented on #20591
Hi @engcom-backlog-nazar

Thank you for looking into this.

I do not agree that this is expected behaviour. The available options are as follows -

Display Subtotal:

 - Excluding Tax
 - Including Tax
 - Including and Excluding Tax

If we want both, we could select "Including and Excluding Tax" to get them. If we select "Including Tax" there should only be one Subtotal displayed. But this is not w

[2019-01-25 09:16] engcom-backlog-nazar commented on #20591
@gchristian17 this is **SUB** but not **total** -> Include Tax In Order **Total**

[2019-01-25 09:20] engcom-backlog-nazar commented on #20591
@gchristian17
![selection_292](https://user-images.githubusercontent.com/40756439/51736623-313eee80-2093-11e9-9dac-583924061be7.png)

[2019-01-25 09:23] engcom-backlog-nazar commented on #20593
Hi @LouNik1984 thak you for you report, seesm like this already fixed in 2.2-develop branch, i'm tested on
mysql
![selection_293](https://user-images.githubusercontent.com/40756439/51736754-94c91c00-2093-11e9-8912-d58e9a2ab81c.png)

[2019-01-25 09:23] #20593 closed, assigned to GovindaSharma

[2019-01-25 09:23] gchristian17 commented on #20591
@engcom-backlog-nazar - got it, thanks for your help

[2019-01-25 09:36] parag2jcommerce opened #20611 "Minicart qty input box get distorted with 3-digit"
### Preconditions (*)

1. Magento 2.3.x
2.

### Steps to reproduce (*)

1. Minicart qty  input box get distorted with 3-digit
2. Other qty input box not get distorted with 3-digit

### Expected result (*)

1.
![minicart-2](https://user-images.githubusercontent.com/34369132/51737431-948c4900-20b2-11e9-812e-870862b6581c.jpg)

2.

### Actual result (*)

1.
![minicart-1](https://user-images.githubuser

[2019-01-25 09:36] magento-engcom-team commented on #20611
Hi @parag2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-25 09:37] magento-engcom-team commented on #20611
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-25 09:38] magento-engcom-team commented on #20611
@amol2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97926` were created

[2019-01-25 09:45] LouNik1984 commented on #20593
"seesm like this already fixed in 2.2-develop branch"

so how can I fix mine?

[2019-01-25 09:46] engcom-backlog-nazar commented on #20593
@LouNik1984 give me 10 minutes i will try find related commit

[2019-01-25 09:48] magento-engcom-team commented on #20611
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-25 09:48] GovindaSharma commented on #20611
@magento-engcom-team give me 2.3-develop instance

[2019-01-25 09:48] magento-engcom-team commented on #20611
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-25 09:48] magento-engcom-team commented on #20611
Hi @GovindaSharma, here is your [Magento instance](https://i-20611-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20611-2-3-develop.instances.magento-community.engineering/admin](https://i-20611-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-25 09:50] engcom-backlog-nazar commented on #20593
@LouNik1984 https://github.com/magento/magento2/pull/13417, https://github.com/magento/magento2/pull/12063 ,

[2019-01-25 09:52] mage2pratik opened #20614 "Minicart close button overlapping in shipping address section whenever any user open minicart in mobile view on the checkout page"
Minicart close button overlapping in shipping address section whenever any user open minicart in mobile view on the checkout page
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Steps to reproduce
Note : Testing should be in responsive view
Step 1: Go to frontend
Step 2: Login as customer
Step 3: Now add any product to cart and go to checkout
Step 4: In shipping add

[2019-01-25 09:52] magento-engcom-team commented on #20614
Hi @saphaljha. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-25 09:52] saphaljha commented on #20614
@magento-engcom-team give me 2.3-develop instance

[2019-01-25 09:52] magento-engcom-team commented on #20614
Hi @saphaljha. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-25 09:53] magento-engcom-team commented on #20614
Hi @saphaljha, here is your [Magento instance](https://i-20614-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20614-2-3-develop.instances.magento-community.engineering/admin](https://i-20614-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-25 09:56] engcom-backlog-nazar commented on #20551
HI @levinskipolish can you reproduce this on vanilla instance ?

[2019-01-25 09:59] engcom-backlog-nazar commented on #8538
HI @spyrule this issue was tested, and we can confirm , that this issue already fixed on 2.3.0 release.

[2019-01-25 10:34] LouNik1984 commented on #20593
Unfortunately those commit didn't help me, so I created a clone of my buggy version on the same server to further test and finally I found the root of the issue: elasticsearch. If I switch to mysql as search engine via magento backend configuration and clear cache (magento cache:clean) then the layered navigation works as expected. If I switch back to elasticsearch and clear cache (again with cach

[2019-01-25 10:51] magento-engcom-team commented on #20364
Hi @XxXgeoXxX. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-25 10:58] engcom-backlog-nazar commented on #20593
@LouNik1984 ok, which version  elasticsearch you're used ?

[2019-01-25 11:00] LouNik1984 commented on #20593
I'm using aws elasticsearch service, version 5.3.2

[2019-01-25 11:02] engcom-backlog-nazar commented on #20593
@LouNik1984 i'm will retest with elasticsearch

[2019-01-25 11:04] LouNik1984 commented on #20593
Thank you very much, sorry for my previous mistake

[2019-01-25 11:17] jigar48 commented on #18348
any update on this ?

[2019-01-25 11:45] saphaljha commented on #20614
@magento-engcom-team give me 2.2-develop instance

[2019-01-25 11:45] magento-engcom-team commented on #20614
Hi @saphaljha. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-25 11:46] magento-engcom-team commented on #20614
Hi @saphaljha, here is your [Magento instance](https://i-20614-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20614-2-2-develop.instances.magento-community.engineering/admin](https://i-20614-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-25 12:07] cedpragati opened #20618 "In "New Cart Price Rule" page tooltip icon is not properly aligned"
In "New Cart Price Rule" page tooltip icon is not properly aligned

### Preconditions (*)
1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Open Admin panel
Step 2: Go to Marketting > Cart Price Rules > Click on Add New Rule
Step 3: Check "Store View Specific Labels" section

### Expected result (*)

![new cart price rule promotions marketing magento admin 1](https://user-images.git

[2019-01-25 12:07] magento-engcom-team commented on #20618
Hi @cedpragati. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-25 12:08] cedarvinda commented on #20618
@magento-engcom-team give me 2.3-develop instance

[2019-01-25 12:08] magento-engcom-team commented on #20618
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-25 12:09] magento-engcom-team commented on #20618
Hi @cedarvinda, here is your [Magento instance](https://i-20618-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20618-2-3-develop.instances.magento-community.engineering/admin](https://i-20618-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-25 12:11] magento-engcom-team commented on #20618
@cedarvinda Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97930` were created

[2019-01-25 12:14] magento-engcom-team commented on #20618
Hi @nainesh2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><s

[2019-01-25 12:22] nainesh2jcommerce commented on #20618
Hi @cedpragati, @cedarvinda and @engcom-backlog-nazar ,
This bug is already reported https://github.com/magento/magento2/issues/19632

Thanks!

[2019-01-25 12:26] #20618 closed, assigned to nainesh2jcommerce, cedarvinda

[2019-01-25 13:08] VitorGit opened #20620 "First value of translation file isn't parsed properly if the file is UTF-8 encoded"
### Preconditions (*)

1. Magento 2.3.0 Community
2. set the locale to portuguese (Brazil)

### Steps to reproduce (*)

1. Create a csv translation file for any module with any word:
![screenshot 1](https://user-images.githubusercontent.com/15248403/51746153-52501100-208c-11e9-8476-fa37445448eb.jpg)

2. Make sure the csv file sure it's encoded as either UTF-8 or ISO-8859-1:
![screenshot 2](https:/

[2019-01-25 13:08] magento-engcom-team commented on #20620
Hi @VitorGit. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-25 13:10] magento-engcom-team commented on #20620
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-25 13:10] magento-engcom-team commented on #20620
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-25 13:11] irajneeshgupta commented on #20620
@magento-engcom-team give me 2.3-develop instance

[2019-01-25 13:11] magento-engcom-team commented on #20620
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-25 13:11] magento-engcom-team commented on #20620
Hi @irajneeshgupta, here is your [Magento instance](https://i-20620-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20620-2-3-develop.instances.magento-community.engineering/admin](https://i-20620-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-25 13:12] milindsingh commented on #20620
#20384

[2019-01-25 13:15] nainesh2jcommerce commented on #20620
@milindsingh is this duplicate of #20384

[2019-01-25 13:20] magento-engcom-team commented on #20620
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-25 13:32] engcom-backlog-nazar commented on #20620
Hi @VitorGit thank you for you report, all related csv file are in UTF-8,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-25 13:32] #20620 closed, assigned to nainesh2jcommerce

[2019-01-25 13:51] nickpiro commented on #20598
I tested this in vanilla and I am getting the same blank abandoned cart...So I do not see how this should be closed!

[2019-01-25 13:58] engcom-backlog-nazar commented on #20598
@nickpiro https://github.com/magento/magento2/issues/6287

[2019-01-25 14:48] shopbeergear opened #20622 "Unable to view catalog"
### Preconditions (*)
1. Magento version 2.1.10

### Steps to reproduce (*)
1.  Used side nav - Products
2. In flyout, clicked on Catalog

### Expected result (*)
1. View catalog

### Actual result (*)
1. Never stopped loading, finally got error message that 'Something went wrong.'
2. Have already tried logging out and logging back in
![screen shot 2019-01-25 at 9 37 42 am](https://user-images.git

[2019-01-25 14:48] magento-engcom-team commented on #20622
Hi @shopbeergear. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-25 14:57] magento-engcom-team commented on #20622
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-25 14:58] engcom-backlog-nazar commented on #20622
Hi @shopbeergear   i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2019-01-25 14:58] #20622 closed, assigned to nobody

[2019-01-25 15:12] nickpiro commented on #20598
@engcom-backlog-nazar that doesn't answer my question? This is clearly a feature in community. So why doesn't it work? It clearly attempts to send you to this page, the file exists cart.phtml, but it's not displaying! How is referring me to this old issue which also has yet to be resolved? How isn't anyone else complaining about this?

[2019-01-25 15:17] engcom-backlog-nazar commented on #20598
@nickpiro ok,  you can report here ->  https://github.com/magento/community-features

[2019-01-25 15:30] eduard13 commented on #20614
@magento-engcom-team give me 2.3-develop instance

[2019-01-25 15:30] magento-engcom-team commented on #20614
Hi @eduard13. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-25 15:31] magento-engcom-team commented on #20614
Hi @eduard13, here is your [Magento instance](https://i-20614-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20614-2-3-develop.instances.magento-community.engineering/admin](https://i-20614-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-25 15:41] salvofancello commented on #19267
I confirm exactly the same issue after we update system to 2.3. Please fix it as soon as possible, thank you

[2019-01-25 16:31] Leland commented on #9011
@Krielkip a workaround to this is to add `outputSourceFiles: true,` to the options config.

[2019-01-25 16:48] allozaur commented on #19786
@Nazar65 it seems not to fix our problem, any other ideas?

[2019-01-25 17:07] nickpiro opened #30587 "Customer Admin Shopping Cart View Missing (Abandoned Cart)"
### Summary (*)
In Magento 1.x.x in Reports>Shopping Cart> Abandoned Carts you are able to view a list of customers and when you click on them you will see the products in their cart.

You are forwarded to a URL within the admin: /customer/edit/id/12345/active_tab/cart/key/xxxxxx

In Magento 2, when you go to Reports>Marketing>Abandoned Carts you are able to view a list of customers, and when you

[2019-01-25 17:36] andkirby opened #20624 "`\Magento\ImportExport\Block\Adminhtml\Export\Filter::_getSelectHtmlWithValue()` method overwrites self $value argument"
There is the issue described in the summary.

### Preconditions (*)

* Magento EE v2.2.5
* Targed class/method is `\Magento\ImportExport\Block\Adminhtml\Export\Filter::_getSelectHtmlWithValue()`

### Steps to reproduce (*)
It's clear in the code the `$value` variable
[code]
is gonna be overwritten in
[code]

### Expected result (*)
Different names for different `$value` variables must be set.

###