[2019-08-04 14:57] nadroj467 commented on #24011
@magento give me 2.3.2 instance

[2019-08-04 14:57] magento-engcom-team commented on #24011
Hi @nadroj467. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-08-04 14:58] magento-engcom-team commented on #24011
Hi @nadroj467, here is your [Magento instance](https://i-24011-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-24011-2-3-2.instances.magento-community.engineering/admin](https://i-24011-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-04 15:02] #24010 closed, assigned to nobody

[2019-08-04 15:04] marco7319 commented on #21387
solution : active allow_url_fopen in the editor ini mulit php in the cpanel

[2019-08-04 15:32] dipak85shinde opened #24012 "Customer email Address is not updated in quote and sales_order tables"
Preconditions:
1)Magento version - 2.3.2
2)PHP version - 7.1.30
3)Customer should be registered.

Steps to reproduce:
1.Login to customer account
2. Add some products to the cart
3)Now move to My Account page.
4)Go to Edit Account Information page & check Change Email checkbox
5)Now change your email address & save your account information
6)Now move to checkout & place Order
7)Repeat steps 2-6. (

[2019-08-04 15:52] dipak85shinde commented on #24012
@magento-engcom-team give me 2.3-develop instance

[2019-08-04 15:52] magento-engcom-team commented on #24012
Hi @dipak85shinde. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-04 15:53] magento-engcom-team commented on #24012
Hi @dipak85shinde, here is your [Magento instance](https://i-24012-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24012-2-3-develop.instances.magento-community.engineering/admin](https://i-24012-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-04 16:09] nadroj467 commented on #24012
Issue relates to third party extension please close
Thanks

[2019-08-04 16:48] #24011 closed, assigned to nobody

[2019-08-05 05:27] ajijshekh123 commented on #23998
@thanhnhan98 - Give me CSV file so I can reproduce this issue in Magento 2.3 Instance.

[2019-08-05 07:06] noahp78 opened #24014 "Shipping methods not working correctly after coupon discount (Sorry, no quotes are available for this order)"
### Preconditions (*)
1. Magento version: 2.3.2

### Steps to reproduce (*)

1. Configure the following shipping methods:
   * Free Shipping
   * Flat Rate
     * Type: Per Order
     * Price: 2.95
     * Calculate Handling Fee: Fixed
     * Handling fee: 0
   * Free Shipping:
     * Minimum Order Amount: 20
     * Show method if not applicable: no
2.  Create a Cart Price Rule
   * Coupon; Specifi

[2019-08-05 07:18] magento-engcom-team commented on #23210
Hi @chris-pook.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [f33f827c3b0267cb07f84a53cae2b889e99fccf5](https://github.com/magento/magento2/commit/f33f827c3b0267cb07f84a53cae2b889e99fccf5)

The fix will be available with the upcoming `2.3.3` release.

[2019-08-05 07:18] #23210 closed, assigned to nobody

[2019-08-05 07:18] engcom-Charlie commented on #13553
Hello @zolat

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://d

[2019-08-05 07:18] #13553 closed, assigned to engcom-Charlie

[2019-08-05 07:31] engcom-Charlie commented on #12788
Hello @giggo1604
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https:

[2019-08-05 07:31] #12788 closed, assigned to engcom-Charlie

[2019-08-05 07:46] mishrasumit45 commented on #21746
I also faced this below fatal error in Magento2.3.1.
@magento-admin, Please confirm We cannot save configurable products without quantity??

****Error when saving configurable product without quantity:****

Fatal error: Uncaught TypeError: Argument 1 passed to Magento\Inventory\Model\SourceItem::setQuantity() must be of the type float or null, string given, called in /var/www/public_html/vendor/ma

[2019-08-05 07:50] groomershop commented on #22027
Additionally we can confirm that on Magento 2.2.x there is not such issue - we have added 100 products to cart in Magento 2.2.7 and in checkout there was then about 2000 queries to MySQL (query time 0,2-0,3 -> generally acceptable).

[2019-08-05 09:17] edenduong opened #24015 "No alert when user "Apply empty Coupon Code" in create new order form"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Sales->Orders->Create New Order
3. Choose Customer, go to the Create New Order form
4. Add some product to cart
5. Click "Apply Coupon Code" without filling the field.

### Expected result (*)

1. Alert the notification

### Actual result (*)

1. No alert, still send the request, and nothing happens

[2019-08-05 09:45] RaFr commented on #19710
I import the same products to 2 websites, the first one has 1 store view and the second one has 2 store views. On the first website the images appear fine on the catalog page, but on the second website I get placeholders on the catalog pages of both store views. If I click on a placeholder to open the product page, I can see all its gallery images. Then I go back to the catalog page and I reload t

[2019-08-05 09:53] ajijshekh123 commented on #24015
Give me @magento give me 2.3-develop instance

[2019-08-05 09:53] magento-engcom-team commented on #24015
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-05 09:53] magento-engcom-team commented on #24015
Hi @ajijshekh123, here is your [Magento instance](https://i-24015-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24015-2-3-develop.instances.magento-community.engineering/admin](https://i-24015-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-05 10:01] schmengler opened #24018 "HttpMethodValidator produces 404 instead of 405 response"
### Summary

The validation based on the new (2.3.0+) HTTP method marker interfaces (HttpGetActionInterface, HttpPostActionInterface, ...) throw an exception that is turned into a 404 response by the front controller:

[code]

A proper response status code would be `405 Method Not Allowed`.

### Steps to reproduce

1. Make a GET request to an action with `HttpPostActionInterface`
2. Watch the stat

[2019-08-05 10:12] ajijshekh123 commented on #24015
I have reproduced this issue in Magento 2.3 Instance.

**See attached screenshot:**
![Magento Coupon Code_Issue](https://user-images.githubusercontent.com/24711761/62457046-83c23b80-b797-11e9-8490-f3e135255cba.gif)

[2019-08-05 10:12] magento-engcom-team commented on #24015
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18936` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-05 10:24] ihor-sviziev commented on #24009
Duplicate of #23411

[2019-08-05 10:24] #24009 closed, assigned to nobody

[2019-08-05 11:54] engcom-Bravo commented on #10896
Hello @PingusPepan.
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](htt

[2019-08-05 11:54] #10896 closed, assigned to engcom-Bravo

[2019-08-05 12:32] angelascone commented on #21201
I replicated the same issue on shared hosting today. After dozen minutes of useless searching I made "a big job" to get the Apache log.

[2019-08-05 13:03] tzyganu opened #24019 "Declarative schema: Patch dependencies can cause a patch to apply twice"
### Preconditions (*)
1. Magento version 2.3.2 & 2.3-develop
2. Magento already installed

### Steps to reproduce (*)
1. Create one magento module with a setup data patch but don't enable or install the module. Let's call it `Vendor_First` with the patch `Vendor\First\Setup\Patch\Data\First`. This patch should not have dependencies.
2. Create another module (has to be a separate module) similar as

[2019-08-05 13:12] magento-engcom-team commented on #24004
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-08-05 13:15] magento-engcom-team commented on #24004
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18940` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-05 14:08] koopjesboom commented on #10067
Best,

This is what happening on magento 2.3.2

![Calculation wrong](https://user-images.githubusercontent.com/15247780/62470262-5a56df00-b79a-11e9-8644-2b9d0dd91451.png)
![Calculation](https://user-images.githubusercontent.com/15247780/62470264-5a56df00-b79a-11e9-9d0b-0caf083755ba.png)

If i change Stores > Configuration > Sales > tax: Catalog prices including tax
Magento calculates + 21 Vat corr

[2019-08-05 14:29] engcom-Bravo commented on #12543
Hello @wd7080. Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://

[2019-08-05 14:29] #12543 closed, assigned to engcom-Bravo

[2019-08-05 14:30] magento-engcom-team commented on #24012
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18943` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-05 14:33] jaybouvet commented on #22161
Hi !

What is the status of this ?

[2019-08-05 14:42] pioneerathletics commented on #22407
I am seeing this issue in both 2.2 and 2.3 is this going to be fixed in the next releases?

[2019-08-05 15:38] thanhnhan98 commented on #23998
hi @ajijshekh123. please check it
https://drive.google.com/open?id=1ca9GFhDiGhwerlGePqYE42_DSOI3t061

[2019-08-05 16:26] TomashKhamlai opened #24021 "To form the configurable variant SKU description is used instead of label when configured around attribute of Text Swatch type"
### Preconditions (*)

1. No preconditions

### Steps to reproduce (*)

1. Create attribute
 - Default Label: Condition
 - Catalog Input Type for Store Owner: Text Swatch
 -  Values Required: Yes
 Manage Swatch
![image](https://user-images.githubusercontent.com/11827230/62478954-145b4480-b7b5-11e9-83a6-5f7dbee9ab0a.png)
Attribute Code: attr_tswatch
Scope: Global
Use in Filter Options: Yes
Manage T

[2019-08-05 17:44] mlennon-spr opened #24022 "Use magento with Azure Database for MySQL"
### Preconditions (*)

1. Magento 2.3.2
2. Set up an instance of Azure Database for MySQL

### Steps to reproduce (*)

1. Ensure connection works:

[code]
2. Run `$ bin/magento setup:config:set --no-interaction --db-host example-db-server.mysql.database.azure.com --db-name=magento --db-user=foo@example-db-server --db-password=foo --key=bar --backend-frontname=admin`

### Expected result (*)

1. Th

[2019-08-05 17:46] mlennon-spr commented on #24022
@magento give me 2.3-develop instance

[2019-08-05 17:46] magento-engcom-team commented on #24022
Hi @mlennon-spr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-05 17:46] magento-engcom-team commented on #24022
Hi @mlennon-spr, here is your [Magento instance](https://i-24022-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24022-2-3-develop.instances.magento-community.engineering/admin](https://i-24022-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-05 19:18] bjclark13 commented on #13952
@magento-engcom-team cough cough, any updates on this year+ old issue?

[2019-08-06 00:49] diazwatson commented on #23993
I have re tested this after fetching the latest changes in 2.3-develop branch and don't see the issue

[2019-08-06 00:49] #23993 closed, assigned to diazwatson

[2019-08-06 03:50] mikedubinsky-odb commented on #23761
I'm also seeing this issue on 2.3.2 in an Incognito session with no local storage (first attempt only). @domeglic, were you able to resolve?

[2019-08-06 04:22] ajijshekh123 commented on #23998
Thanks to @thanhnhan98

[2019-08-06 04:22] ajijshekh123 commented on #23998
Give me @magento give me 2.3-develop instance

[2019-08-06 04:22] magento-engcom-team commented on #23998
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-06 04:23] ajijshekh123 commented on #23998
Give me @magento give me 2.3-develop instance

[2019-08-06 04:23] magento-engcom-team commented on #23998
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-06 04:23] magento-engcom-team commented on #23998
Hi @ajijshekh123, here is your [Magento instance](https://i-23998-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23998-2-3-develop.instances.magento-community.engineering/admin](https://i-23998-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-06 04:24] Adel-Magebinary commented on #15545
This issue is still there in 2.3.2

[2019-08-06 05:27] jigar48 commented on #17320
@p-bystritsky  Please provide the correct fixes link, I am still getting this issue.

[2019-08-06 05:33] ajijshekh123 commented on #23998
Hi @thanhnhan98,
Product import CSV file is not proper. After import, it is displaying an error.

**See attached screenshot:**
![Import Product Error](https://user-images.githubusercontent.com/24711761/62513438-aad14980-b839-11e9-81a6-95f943e43354.png)

@thanhnhan98 - Please send the proper file with proper data,

[2019-08-06 06:23] engcom-Alfa commented on #13017
@magento-engcom-team give me 2.3-develop instance

[2019-08-06 06:23] magento-engcom-team commented on #13017
Hi @engcom-Alfa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-06 06:24] magento-engcom-team commented on #13017
Hi @engcom-Alfa, here is your [Magento instance](https://i-13017-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-13017-2-3-develop.instances.magento-community.engineering/admin](https://i-13017-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-06 06:41] domeglic commented on #23761
I resolved it by adding a subscriber to cart section if initial value is undefined. If it is undefined it means localstorage is probably empty and sections did not finish loading yet. In `magento/module-paypal/view/frontend/web/js/in-context/button.js`:
[code]

[2019-08-06 06:45] engcom-Alfa commented on #13017
Hello @JackNorm

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https:

[2019-08-06 06:45] #13017 closed, assigned to engcom-Alfa

[2019-08-06 06:46] dinesh6686 opened #24023 "Unable to import Catalog Categories in v2.3.2"
Preconditions (*)

1. for v2.3.2
2.

### Steps to reproduce (*)

1. using /V1/categories to get catalogCategoryManagementV1
2. facing an issue during the category import for the instance 2.3.2

### Expected result (*)

1. for the previous versions, the export data is like this using /V1/categories:
`{
  "id": 5,
  "parent_id": 1,
  "name": "seconday category",
  "is_active": true,
  "position": 2,

[2019-08-06 07:08] lxgiang90 opened #24024 "Ajax add to cart in Shopify."
### Preconditions
1. Shopify

### Steps to reproduce
1. Frontend Go to collection Red Wine
2. Click the button Add to cart => Please choose quantity: case or bottle or both of Inc products like:
- Cullen 'Rose Moon' Pet Nat
- Airlie Bank Pinot Noir
- Airlie Bank Franc
- Stefano Lubiana ‘Primavera’ Pinot Noir
- SC Pannell Grenache Shiraz Touriga ...
3. Check the price and qty on the mini header car

[2019-08-06 07:10] #24024 closed, assigned to nobody

[2019-08-06 07:44] duccnttk39c commented on #5860
This error is too easy, I can help you enlighten in 30 minutes

[2019-08-06 07:59] onepack commented on #23908
I created https://github.com/magento/magento2/issues/23618# and there is a reference to this issue. So I check and the first I see is that this issue is closed here as well.
I understand that you are eager to close issues to keep numbers low but clearly this issue can have a huge impact: Customers can not checkout.
Is there anyone from the magento core team that is willing to take time to find out

[2019-08-06 08:34] beberlei opened #24025 "Slow Performance of ProductMetadata::getVersion"
### Preconditions (*)

Any Magento 2 version.

### Steps to reproduce (*)

1. Have a more complex composer.json with source checked repositories (git checkouts for example).
2. A plugin that calls `ProductMetadata::getVersion` to check for Magento version.

### Expected result (*)

Calling ProductMetadata::getVersion, I expected it  to be a function returning a constant. Super-fast.

### Actual re

[2019-08-06 08:39] Krielkip opened #24027 "In 2.3.2 in Module-Newsletter Subcribe button is hidden by .sr-only"
With the Magento 2.3.2 the button on subscribe form has been hidden because of the addition of .sr-only;
File: [app/code/Magento/Newsletter/view/frontend/templates/subscribe.phtml
](https://github.com/magento/magento2/blob/679d8a542dedf330ee899332fd46a7d701c44071/app/code/Magento/Newsletter/view/frontend/templates/subscribe.phtml#L36)

As stated by @nimbus2300;

![Screenshot by Nimbus2300 ](https:

[2019-08-06 08:45] Krielkip commented on #24027
@magento give me 2.3-develop instance

[2019-08-06 08:45] magento-engcom-team commented on #24027
Hi @Krielkip. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-06 08:45] magento-engcom-team commented on #24025
:white_check_mark: Confirmed by @davidverholen
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18958` were created

**Issue Available**: @davidverholen, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-06 08:45] magento-engcom-team commented on #24027
Hi @Krielkip, here is your [Magento instance](https://i-24027-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24027-2-3-develop.instances.magento-community.engineering/admin](https://i-24027-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-06 08:54] davidverholen commented on #24025
it has been a constant originally. It should probably be changed back again with the constant update being part of the release process
https://github.com/magento/magento2/commit/e46a3cfeccae6f8fcd1eb408719f48d2e039c433#diff-162b082e41b9d0990e5dcc7439d19f26

This method is called several times in the core. Also, 3rd party extensions are using it to check compatibility of features.
In very many case

[2019-08-06 09:10] rbayet opened #24029 "Visitor segments not added to http context for (Varnish) Page Cache"
### Summary (*)

Context: Magento 2.3.x EE

Working with customer segments, I found that the around plugin on `Magento\Framework\App\Action\AbstractAction` which adds the customer/visitor segments to the framework\app\http\context does not correctly collect the visitor segments.

### Examples (*)

If indeed the customer is not logged, any segment which uses a rule on customer attribute will not ma

[2019-08-06 09:16] MageCloudTeam commented on #19230
@sidolov the same issue in Magento 2.2.9

[2019-08-06 09:54] beberlei commented on #24025
The easiest fix would be using the composer json finder there and parse the versions out intead of using `ComposerInformation`:

[code]

[2019-08-06 10:01] beberlei commented on #24025
A better approach (but more complex code wise) would probably be to write a `magento-version.php` file into the cache directory upon cache generation that contains the version:

[code]

and then doing `return require $this->cacheDir . '/magento-version.php';` in `getVersion()` instead.

[2019-08-06 10:19] engcom-Bravo commented on #24014
Hello @noahp78. Thanks for reporting. Please try to reproduce Your issue on a clean 2.3-develop instance. Just leave a simple comment as You are advised above:
![Advised](https://user-images.githubusercontent.com/51680745/62532236-9ea2b780-b84c-11e9-8f56-f122091605e1.png)
We've been not able to reproduce the issue on such an instance so far.

[2019-08-06 10:44] attrirohitkumar commented on #22189
Just run composer update on the root directory.

[2019-08-06 10:59] webkul-ajaysaini commented on #23998
Give me @magento give me 2.3-develop instance

[2019-08-06 10:59] magento-engcom-team commented on #23998
Hi @webkul-ajaysaini. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-06 10:59] magento-engcom-team commented on #23998
Hi @webkul-ajaysaini, here is your [Magento instance](https://i-23998-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23998-2-3-develop.instances.magento-community.engineering/admin](https://i-23998-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-06 11:10] magento-engcom-team commented on #24021
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18960` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-06 11:19] ankitpatel2931 opened #24031 "Layer navigation displaying whenever select Static Block onl"
### Preconditions (*)

1. Magento 2.3.2
2. Sample data installed

### Steps to reproduce (*)

1. Set Display Mode to Static block only on particular category
![Hoodies   Sweatshirts (ID_ 15) _ Categories _ Inventory _ Catalog _ Magento Admin (1)](https://user-images.githubusercontent.com/44745569/62536094-b721ca80-b86a-11e9-9881-23b73723858d.png)

### Expected result (*)

1. Layered Navigation (Sh

[2019-08-06 11:56] NickvdMeij opened #24032 "Can't create customer and save address to his addressbook"
We at MyCademy have out own oAuth implementation, where if the customer does not exist, the customer gets created. This works like a charm and no problem here.
There is however, 1 small inconvinience in the following logic:

[code]

There used to be a "->setSaveInAddressBook()" function, that also saved the address to the customers addresbook, so that it can be used for future reference. However,

[2019-08-06 11:59] milindsingh commented on #24023
@magento give me 2.3-develop instance

[2019-08-06 11:59] magento-engcom-team commented on #24023
Hi @milindsingh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-06 11:59] magento-engcom-team commented on #24023
Hi @milindsingh, here is your [Magento instance](https://i-24023-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24023-2-3-develop.instances.magento-community.engineering/admin](https://i-24023-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-06 12:09] noahp78 commented on #24014
@magento give me 2.3-develop instance

[2019-08-06 12:09] magento-engcom-team commented on #24014
Hi @noahp78. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-06 12:09] magento-engcom-team commented on #24014
Hi @noahp78, here is your [Magento instance](https://i-24014-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24014-2-3-develop.instances.magento-community.engineering/admin](https://i-24014-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-06 12:11] boikolabs opened #24033 "Refund PayPal error #100009: PayPal gateway has rejected request. The partial refund amount must be less than or equal to the remaining amount"
### Preconditions (*)
1. Magento ver. 2.3.1
2. Sample Data
3. PayPal

### Steps to reproduce (*)
1. An order with different items are created (Pay with PayPal):
- 3items - Olivia 1/4 Zip Light Jacket (Size: M, Color: Blue)
- 2items - Fusion Backpack
- Shipment - Fixed $25.00
- Address: Main St, San Jose, CA 95131 United States
2. Go to Magento as admin
3. Create three invoices:
- Invoice 1 - Olivi

[2019-08-06 12:22] #24014 closed, assigned to engcom-Bravo

[2019-08-06 12:32] sprankhub commented on #24025
There was also PR #19133, which introduced caching for the `getVersion` method. However, it was rejected.

[2019-08-06 12:58] engcom-Bravo commented on #24031
Hello @ankitpatel2931, thanks for applying. The Display Mode has three available options: Products only, Static block only and Static block and products. Seems each option works as expected. There is no option with Layered Navigation and the Layered Navigation itself is not a part and parcel of the product list. If You want the Layered Navigation to stop displaying on that category page You may fo

[2019-08-06 13:03] TomashKhamlai opened #26105 "When Merchant disables configurable variation an error occurs for addConfigurableProductsToCart"
### Preconditions (*)

1. Configurable product

### Steps to reproduce (*)

1. Disable variation
2. Add configurable product to the cart by choosing the variation that was disabled

### Expected result (*)

1. No such entity

### Actual result (*)

1. Error:
[code]

[2019-08-06 13:18] hostep commented on #21614
Also running against this problem, enabling the Persistent module again fixes it over here.

Also, this is probably a duplicate of https://github.com/magento/magento2/issues/17973

[2019-08-06 13:18] ankitpatel2931 commented on #24031
Hello,

Thanks for the update here.

As I have checked in previous version like magento 2.2.5
It's working fine. Please see below file and below code.

/vendor/magento/module-layered-navigation/Block/Navigation.php

/**
     * Check availability display layer block
     *
     * @return bool
     */
    public function canShowBlock()
    {
        return $this->getLayer()->getCurrentCategory()->ge

[2019-08-06 13:22] davidverholen commented on #24025
while the core might not really need it (because it knows its own version) it is a valid use case for 3rd Party developers for not having to maintain different code bases for each magento version.

Even when it's not considered best practice, still, many 3rd party extensions use it and so this is a very real problem

[2019-08-06 13:32] engcom-Alfa commented on #23960
Hi @murali290987 !
Thank you for your report.
Probably problem is with "Blob Fuse" extension.
You could refer to the [Azure Community Forum](https://azure.microsoft.com/en-in/support/community/)   site for advice or general discussion about this issue.
Or if you'd like to update the issue, please reopen it.

[2019-08-06 13:32] #23960 closed, assigned to engcom-Alfa

[2019-08-06 14:30] sidolov commented on #23805
Hi @dverkade. Thank you for your report.
The issue has been fixed in magento/magento2#23817 by @edenduong in 2.3-develop branch
Related commit(s):
 - [a52ae7ed3cb6ceb075f65cfbb2c819ef6bcf30f2](https://github.com/magento/magento2/commit/a52ae7ed3cb6ceb075f65cfbb2c819ef6bcf30f2)

The fix will be available with the upcoming 2.3.3 release.

[2019-08-06 14:30] #23805 closed, assigned to edenduong

[2019-08-06 14:30] sidolov commented on #23863
Hi @gekamikh. Thank you for your report.
The issue has been fixed in magento/magento2#23871 by @Den4ik in 2.3-develop branch
Related commit(s):
 - [1acde36b19b177b58af916557a3d41dfe0612cc0](https://github.com/magento/magento2/commit/1acde36b19b177b58af916557a3d41dfe0612cc0)

The fix will be available with the upcoming 2.3.3 release.

[2019-08-06 14:30] #23863 closed, assigned to Den4ik

[2019-08-06 14:30] sidolov commented on #23721
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#23723 by @edenduong in 2.3-develop branch
Related commit(s):
 - [7f585fd162fbc1a83d6608f29d238efbadc09dd5](https://github.com/magento/magento2/commit/7f585fd162fbc1a83d6608f29d238efbadc09dd5)
 - [f30301da8348486a42ebeb42e19513a138201709](https://github.com/magento/magento2/commit/f30301da8348486a42ebeb42e19513a1

[2019-08-06 14:30] #23721 closed, assigned to edenduong

[2019-08-06 14:30] sidolov commented on #23895
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#23896 by @edenduong in 2.3-develop branch
Related commit(s):
 - [d718dc0044e829a0e2f44adae8af35537e1f5cd8](https://github.com/magento/magento2/commit/d718dc0044e829a0e2f44adae8af35537e1f5cd8)
 - [aa02d5c1d68d95b53e7824630a2cdb81cd884a7f](https://github.com/magento/magento2/commit/aa02d5c1d68d95b53e7824630a2cdb81

[2019-08-06 14:30] #23895 closed, assigned to edenduong

[2019-08-06 14:39] rammohan-krish commented on #23971
@magento give me 2.3-develop instance

[2019-08-06 14:39] magento-engcom-team commented on #23971
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-06 14:40] magento-engcom-team commented on #23971
Hi @rammohan-krish, here is your [Magento instance](https://i-23971-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23971-2-3-develop.instances.magento-community.engineering/admin](https://i-23971-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-06 14:57] magento-engcom-team commented on #23971
@rammohan-krish Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-08-06 14:57] rammohan-krish commented on #23971
Issue Reproduced on develop 2.3 instance

[2019-08-06 15:02] Yuwei9291 opened #24034 "Magento 2.3.2 delete product issue"
### Preconditions (*)

1.Magento 2.3.2
2.Uploaded more than 20 products  to test

### Steps to reproduce (*)

1. Upload 30+ products
2. Go to dashboard -> Catalog -> Products
3. Show 20 Products per page
4. Click checkbox and click Select all to select all 30 products
5. Click "Action" dropdown menu and delete , it will show "Delete selected items? (30 records) , Click OK
6. A total of 20 records

[2019-08-06 15:56] kandy opened #24035 "Cannot configure Redis sentinel for session"
### Preconditions (*)

1. Configure Redis master slave replication with sentinel
2. Install Magento

### Steps to reproduce (*)

1. Configure  redis session in env.php
[code]
### Expected result (*)

1. Magento store session in Redis

### Actual result (*)

1. Redirect loop in home page
2. In var/log/system.log file
[code]

[2019-08-06 16:19] itg-ddanielson commented on #14564
@OvalMedia I am having the same issues have you found any solution. We only use simple products and don't have swatches yet configurable, bundled and swatch scripts load on pages that don't even need them.

[2019-08-06 16:55] emilev79 commented on #19710
So, we also have this issue. Magento 2.3.1 with multistore. Now on some storeviews (we have a lot) it is working. But on some not. Please see:

See here examples:
English (good): https://bit.ly/2M5hXOk
Dutch storeview (wrong) : https://bit.ly/2MEQfHz
Different storeview in dutch (good): https://bit.ly/2ZEze3Y

So we made sure view.xml all images are defined (with 0) and ran resize command many tim

[2019-08-06 17:43] nadroj467 commented on #18148
Following these steps solved the issue for me.

Step1: Login to paypal

Step2: In the Profile menu on the top right, click Profile and Settings .

Step3: click My selling tools .

Step4: Click the Update link in the Instant payment notifications row , in the Getting paid and managing my risk section.

Step5: Click Choose IPN Settings to specify your listener's URL and activate the listener.

Step6

[2019-08-06 18:37] sbrendtro commented on #23908
We've been seeing this as well on a 2.3.2 install.  Our data was imported from a Magento 1.9.x install using the Magento Data Migration Tool.  We were originally suspecting something to do with the data migration, but it still happens when you create a new account.  At the moment we're disabling our 3rd party modules one by one to see if we can narrow it down, but this behavior seems to have been

[2019-08-06 18:41] arushibansal013 commented on #24032
@NickvdMeij Since this is not an issue, but a question I am closing the issue. Magento recommend posting any "questions about Magento functionality or processes" to a question-and-answer site, such as Stack Exchange and the Magento Forums, where Magento community members can quickly provide recommendations and advice.

[2019-08-06 18:41] #24032 closed, assigned to nobody

[2019-08-06 19:03] onepack commented on #23908
I imported the customer data via an XML as I have bad experiences with the data migration tool.
The account that had problems was a testing account. So I deleted it and re-created it. But it happened again after that with the new testing account (with the same email).

[2019-08-06 19:16] arushibansal013 commented on #24034
HI @Yuwei9291,

This is duplicate to #22004

[2019-08-06 19:16] #24034 closed, assigned to arushibansal013

[2019-08-06 19:46] onepack commented on #6603
Why is this closed? It is not solved and is still an issue until today.

[2019-08-06 19:53] onepack commented on #7730
@magento-engcom-team
This serious issue is still present until today.
When I set pagecount to 8 I get 5 products but when I set pagecount to 20 I get all 12 products.
In real live shops this will affect sales as products are not visible for customers that should be visible.

Why is there no activity at all to to solve this major bug?

[2019-08-06 20:27] MichaelThessel commented on #11657
Seems like this is still a problem 2 years later (2.3.2). This is especially sad as all it takes to fix this is to change a column.

[2019-08-06 21:08] hostep commented on #11657
It's got picked up again this week luckily: https://github.com/magento/magento2/pull/13580 🙂

[2019-08-06 21:10] magento-engcom-team commented on #22743
Hi @mystix, @GovindaSharma.

Thank you for your report and collaboration!

The related internal Jira ticket `MAGETWO-99568` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks

[2019-08-06 21:10] #22743 closed, assigned to GovindaSharma

[2019-08-06 21:28] ebgreen commented on #22975
not fixed on 2.3.1

[2019-08-06 21:29] TysvdHeuvel opened #24037 "Updating image via API returns true instead of the new id"
### Preconditions
Magento 2.3-develop
Use Postman, or any other application that communicates via REST API with that Magento installation.
### Steps to reproduce

1. Create a new product image via REST API (POST to /rest/V1/products/{sku}/media). The API returns the id of this new image.
2. Now update that same image via REST API (PUT to /rest/V1/products/{sku}/media/{id}), and give it a new file

[2019-08-06 21:43] driskell commented on #22438
Also experiencing issue on 2.3.1 with specific deadlocks occurring on the cron_schedule table

[2019-08-06 23:04] sbrendtro commented on #23908
Disabled all third party modules and still seeing same behavior.  Traced things back through the code and found some interesting things happening:

exception.log shows the error coming from
[2019-08-06 22:05:07] main.CRITICAL: Invalid customer address id 160022 {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0): Invalid customer address id 160022 at .... vendor/m

[2019-08-06 23:39] pixiemediaweb commented on #23761
^^^ spot on, just found this bug putting a client site live tonight, that solves it. Thanks

[2019-08-07 02:03] edenduong opened #24038 "Message "Are you sure you want to delete this category?" can not be translated when delete category"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Set developer mode `php bin/magento deploy:mode:set developer `
2. Add the line "Are you sure you want to delete this category?","bbbbbbbbbbbbbbbbbbb" to the csv file: **app/code/Magento/Catalog/i18n/en_US.csv**
3. Refresh the cache: `php bin/magento cache:flush`
4. Go to backend.
5. Catalog->Categories
6. "Add SubCatego

[2019-08-07 04:08] edenduong opened #24040 "Dupplicate Label in Sales->Transactions at Backend"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Sales-> Transactions
3. Check the grid at "Payment Method"

![image](https://user-images.githubusercontent.com/8234209/62594150-a6716300-b903-11e9-961f-7179d4f0a5ab.png)

### Expected result (*)

1. The label should be different

### Actual result (*)

1.
![image](https://user-images.githubusercontent.co

[2019-08-07 04:25] magento-engcom-team commented on #24038
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19002` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-07 04:31] krishprakash commented on #23981
Hi @ylgendev. Do you get any solution from Enterprise support ?

[2019-08-07 05:36] kpaul1978 commented on #9066
Hello. I have a Magento 2.1.15 CE implementation that is suffering from this bug. The search option doesn't work as expected.
Is there any patch for that ? I know that I could upgrade my Magento, but unfortunately this is not an option.

I tried the solution provided by @asrar7787  but unfortunately I could not find the missing code ( Helper class).

Any help would be appreciated. Thank you.

[2019-08-07 05:59] ajijshekh123 commented on #24040
Give me @magento give me 2.3-develop instance

[2019-08-07 06:00] magento-engcom-team commented on #24040
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-07 06:00] magento-engcom-team commented on #24040
Hi @ajijshekh123, here is your [Magento instance](https://i-24040-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24040-2-3-develop.instances.magento-community.engineering/admin](https://i-24040-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-07 06:06] ajijshekh123 commented on #24040
I have reproduced the issue in Magento 2.3 instance.

See attached screenshot:

![2019-08-07 (1)](https://user-images.githubusercontent.com/24711761/62598620-9bb8cd00-b907-11e9-8389-9713625ddb0f.png)

[2019-08-07 06:07] magento-engcom-team commented on #24040
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19003` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-07 06:46] hostep commented on #22975
@ebgreen: can you give exact steps of how to reproduce in your case? (And maybe open a new issue around it). Thanks!

[2019-08-07 07:13] asrar7787 commented on #9066
@kpaul1978

The helper class is just returning admin configuration (yes/no) value. You don’t have to have it if you just want to try. As said, this admin configuration I created for making this solution compatible with any future fixes from Magento core.

Hope this helps!

[2019-08-07 07:20] edenduong commented on #24038
It is my mistake. Can not Reproduced on 2.3-develop.

[2019-08-07 07:20] #24038 closed, assigned to edenduong

[2019-08-07 07:32] engcom-Alfa commented on #24022
Hello @mlennon-spr  ! Thank you for your report !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [AzureDatabaseforMySQL](https://social.msdn.microsoft.com/Forums/azure/en-US/home?forum=AzureDatabaseforMySQL), for advice or general discussion about this issue.

[2019-08-07 07:32] #24022 closed, assigned to engcom-Alfa

[2019-08-07 07:36] navneetbhardwaj commented on #15273
the same issue occurred in the REST API.

[2019-08-07 07:37] kpaul1978 commented on #9066
Many thanks for your help and your quick answer.
I know that your time is valuable, but I really appreciate any answer.

I removed all references to the helper class / object.
I run  php bin/magento setup:di:compile , did another search but without
any improvement.

I attached the module that I put together.

Thank you,
Paul

On Wed, Aug 7, 2019 at 10:14 AM Asrar Alam <notifications@github.com> wr

[2019-08-07 08:08] psuthar12 commented on #21557
@nexus4alii1991  Did you got any solution for this?

[2019-08-07 08:13] magento-engcom-team commented on #21370
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19004` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-07 08:38] Yoomedia commented on #19710
How can i install this? Some step by step would be really great.

Thanks allot!

[2019-08-07 09:17] ask694 commented on #12354
DId You find any solution?   I too still having this issue

[2019-08-07 09:19] ask694 commented on #12354
Hi, Anyone give me a solution to solve this issue.

[2019-08-07 09:21] 4DallasC commented on #12354
sudo nano +213 vendor/magento/module-store/App/Response/Redirect.php
        return true || (strpos($url, $unsecureBaseUrl) === 0) || (strpos($url, $secureBaseUrl) === 0);

[2019-08-07 09:23] ask694 commented on #12354
Hi, can you tell me with explanation.  i have only cpanel access.

[2019-08-07 09:24] schmengler commented on #19597
Confirmed with Magento Commerce 2.3.2 on MariaDB 10.0.38 (not happened before on 2.2.8). @heldchen analysis seems to be on point

[2019-08-07 09:24] PascalBrouwers opened #24043 "Better exception handling during cli commands"
### Preconditions (*)
1. Magento 2.3.x

### Steps to reproduce (*)

1. Have a module with a wrong path in registration.php. For example set the path in vendor/magento/module-catalog/registration.php to `__DIR__ . '/wrong_folder'`
2. Run `bin/magento setup:upgrade`

### Expected result (*)
1. A clear exception what actually goes wrong. Instead the general error `There are no commands defined in the

[2019-08-07 09:27] nexus4alii1991 commented on #21557
The fixed it in version 2.2.8 but old version they gave no fix.

On Wed, 7 Aug 2019 at 11:09, psuthar12 <notifications@github.com> wrote:

[2019-08-07 09:29] PascalBrouwers commented on #24043
Made a pull request to fix this issue

[2019-08-07 09:41] ferrazzuk commented on #24040
Give me @magento give me 2.3-develop instance

[2019-08-07 09:42] magento-engcom-team commented on #24040
Hi @ferrazzuk. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-07 09:42] magento-engcom-team commented on #24040
Hi @ferrazzuk, here is your [Magento instance](https://i-24040-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24040-2-3-develop.instances.magento-community.engineering/admin](https://i-24040-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-07 09:56] edenduong opened #24045 "No auto-focus if the invalid field in the collapsed block (Catalog->Add New Product form)"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Create Require Attribute
- Go to Backend. Stores->Attributes->Product
- Add New Attribute "musthaveattr"
- Fill all information, "Values Required" is Yes.
2. Assign the Required Attribute to **collapsed group**
- Go to Backend. Stores->Attributes->Attribute Sets
- Edit "Default"
- Move "musthaveattr" to "Search Engine Optimizati

[2019-08-07 09:57] ferrazzuk commented on #23987
Give me @magento give me 2.0 instance

[2019-08-07 10:00] psuthar12 commented on #21557
it still exist, I am facing these issue in 2.2.8 , While add product to order in admin

[2019-08-07 10:00] ask694 commented on #12354
Hi, I had changed like this on the endor/magento/module-store/App/Response/Redirect.php  file
Line number 213.
 return  (strpos($url, $unsecureBaseUrl) === 0) || (strpos($url, $secureBaseUrl) === 0);   => return true || (strpos($url, $unsecureBaseUrl) === 0) || (strpos($url, $secureBaseUrl) === 0);

But still problem not solved. Evena fter clearing cache / setup:upgrade

[2019-08-07 10:02] engcom-Bravo commented on #24031
Initially the same issue #7765 was reported on 2.1.2 version. Then fixed in 2.2 by commit 39e0fd9a5366a6d25bc3b9f9ae324aa9be026cb9 but seems that commit was not merged into 2.3.

[2019-08-07 10:03] rszczepaniec opened #24046 "Unit test failure 2.3.2"
1. Preconditions:
-  Magento 2.3.2 open source,
- reproduced only on clean composer installation (git based - ok)

2. Steps to reproduce:
- Install clean magento 2.3.2 open source version,
- run 'php bin/magento dev:tests:run unit' command
### Steps to reproduce (*)

3. Expected result:
- Successful unit tests

4. Actual result:
- Failures and skipped unit tests
Results:
![result1](https://user-im

[2019-08-07 10:03] magento-engcom-team commented on #24031
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-08-07 10:04] magento-engcom-team commented on #24031
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19005` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-07 10:17] tapantechno2007 opened #24047 "Product list page breaks when Elastic Search enabled and having 600 products per page set as default value to display on product list page."
**Preconditions**

1. Magento Version

    Magento CLI 2.3.2 & 2.3-develop

2. Nginx Version

    1.14.2

3. PHP Version

    PHP 7.2.19-0ubuntu0.18.04.1 (cli) (built: Jun  4 2019 14:48:12) ( NTS )
    Copyright (c) 1997-2018 The PHP Group
    Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies with Zend OPcache v7.2.19-
    0ubuntu0.18.04.1, Copyright (c) 1999-2018, by Zend Technologies

[2019-08-07 10:18] mvenghaus commented on #12354
i changed it like that

https://gist.github.com/mvenghaus/d53620df53a9da60ba3d257bbc9bd1c8

[2019-08-07 10:19] magento-engcom-team commented on #24045
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19007` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-07 10:25] WJdeBaas commented on #23802
Check your advanced inventory information / Maximum Qty Allowed in Shopping Cart
This field must be either empty, or have a value greater than 0.
another option is to tick the checkbox "Use Config Settings", and make sure the configuration is set correctly.

[2019-08-07 10:29] ask694 commented on #12354
Need to change whole file or just need to change that _isUrlInternal() function.?

I had tried by just changing the function. But issue not get solved.

[2019-08-07 10:46] hostep commented on #24022
@engcom-Alfa: this report is not about a problem with Azure, but with a problem with Magento if I understand it correctly.

But I can't reproduce the problem over here:
[code]

Then tried:
[code]

So it looks like it doesn't strip of the part before the `@` sign over here.
Tested on Magento 2.3.2.

@mlennon-spr: I'm not sure how to test this though:

[2019-08-07 10:58] dhiraj-danode opened #24048 "Add to Gift Registry from Wishlist adding incorrect quantity in EE 2.3.1"
### Preconditions (*)

1.  Enterprise 2.3.1
2.

### Steps to reproduce (*)

1. Login to Account
2. Go to Wishlist
3. Add To Gift Registry
4. Go to Gift Registry
5. Check the quantity, incorrect quantity get added.
6. We added log module-gift-registry/Controller/Index/Wishlist.php, controller get called multiple times.
7. Please note this issue observed if only multiple wishlist is enabled. If its

[2019-08-07 11:00] dhiraj-danode commented on #24048
Below is video link to for actual steps

[2019-08-07 11:12] sunilit42 commented on #24045
@magento give me 2.3-develop instance

[2019-08-07 11:13] magento-engcom-team commented on #24045
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-07 11:13] magento-engcom-team commented on #24045
Hi @sunilit42, here is your [Magento instance](https://i-24045-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24045-2-3-develop.instances.magento-community.engineering/admin](https://i-24045-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-07 11:22] magento-engcom-team commented on #23971
:white_check_mark: Confirmed by @rammohan-krish
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19009` were created

**Issue Available**: @rammohan-krish, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-07 11:28] engcom-Bravo commented on #24048
Hello @dhiraj-danode. Thanks for applying. It is most likely You use some third-party extension for multiple wishlist, which is not available in a vanilla Enterprise Edition from the box, am I right?

[2019-08-07 11:35] dhiraj-danode commented on #24048
Hello @engcom-Bravo

We are not using any third party extension. Multiple wish list available in Enterprise version.

[2019-08-07 11:39] sudheers-kensium commented on #24048
Hello @dhiraj-danode. Not reproduced in Magento EE 2.3.1

[2019-08-07 12:04] ankitpatel2931 commented on #24031
Hi @engcom-Bravo , @magento-engcom-team ,

Thanks for confirmation.

[2019-08-07 12:07] scoops87 commented on #13396
Hi @hansvanl

Did Aheadworks solve this for you? We've got the same issue as @losttheplot has noted and we run the same magento version.

[2019-08-07 12:12] engcom-Bravo commented on #24031
You are welcome @ankitpatel2931. I think You've already done enough, so thanks for help.

[2019-08-07 12:16] yashjain87553 opened #24050 "magento2 , api's not working using https only"
###Information on your environment
1.Magento2.3.2 (community)
2.centos 7 server
3.ssl enabled

### Preconditions (*)
1.Created new user
2.Assign role as administrator

### Steps to reproduce (*)
1.Use postman.
2.Call api token url using username and password (https://domian.com/index.php/rest/V1/integration/admin/token)(success)
3.Using get method on url https://domain.com/index.php/rest/V1/custom

[2019-08-07 12:19] dhiraj-danode commented on #24048
Hello @sudheers-kensium

Did you check when multiple wish list enable.
Because its only replicating when multiple wish list enable.

[2019-08-07 12:22] engcom-Bravo commented on #24048
Sorry @dhiraj-danode, this functionality is really already available in Enterprise version and seems Your issue is present. We need some additional recheck so we'll be back soon.

[2019-08-07 12:24] sunilit42 commented on #24045
I have reproduced this issue in Magento 2.3 Instance.

[2019-08-07 12:25] sunilit42 commented on #24045
I have reproduced this issue in Magento 2.3 Instance.

[2019-08-07 12:33] magento-engcom-team commented on #24048
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-08-07 12:42] drazulay commented on #23628
Confirmed, I'm experiencing the same issue.

[2019-08-07 12:42] essexboyupnorth opened #24051 "Bundle products not appearing in front end"
Hi there,

I recently upgraded to Magento 2.3.2 from 2.2.5 and have noticed that none of our bundle products appear in the categories on the front end or in searches. We also have the same experience in our development area with all but one bundle product. I cannot see any difference in this product and have tried to export this working product out of development into production to see if it would

[2019-08-07 12:44] essexboyupnorth commented on #24051
@magento give me 2.3-develop instance

[2019-08-07 12:45] magento-engcom-team commented on #24051
Hi @essexboyupnorth. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-07 12:45] magento-engcom-team commented on #24051
Hi @essexboyupnorth, here is your [Magento instance](https://i-24051-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24051-2-3-develop.instances.magento-community.engineering/admin](https://i-24051-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-07 13:12] sudheers-kensium commented on #23400
Good Afternoon Manuelcanepa,

Could you please let me know if you will be submitting a fix for this ticket. I have tested your own fix and it is working on my local. If you will not be submitting the fix, I can submit it so that the fix can be completed. If you will fix it then I will remove the ticket from my queue so that you may take it.

Thank you,
Sudheer

[2019-08-07 13:15] manuelcanepa commented on #23400
Hi, you can submit the fix.

[2019-08-07 13:35] essexboyupnorth commented on #24051
@magento I was unable to produce the issue on the vanilla 2.3-develop. However it's possible that the issue with bundle products has occurred during the upgrade from 2.2.5 to 2.3.2 and therefore would not be replicated in a vanilla install.

[2019-08-07 13:36] engcom-Alfa commented on #24050
Hi @yashjain87553 ! Thank you for your report.
Probably the error occurs because you missed **_/all/_** in your url.
It should be like this: https://domain.com/index.php/rest/all/V1/customers/1
Could you take a look?
Thanks!

[2019-08-07 13:39] mikedubinsky-odb commented on #23761
Same fix for me, but on product page: Magento_Paypal/js/in-context/product-express-checkout
Thanks!

[2019-08-07 13:54] junaidq57 commented on #19710
I also had the issue. If anyone got successful with any solution, please let me know. My live site is affected.

[2019-08-07 13:59] OlehWolf commented on #19710
@junaidq57 Check your theme view.xml file for image that has the same <width> and <height> tags. Try to set different width/height or delete/comment that unused image id. Should help.
I'll investigate this fix and create pull request.

[2019-08-07 14:04] gaurangpadhiyar007 commented on #22027
Any update on this?

[2019-08-07 14:05] junaidq57 commented on #19710
@OlehWolf the issue is the image cache is not generating only on product page. On rest of the places images are appearing fine. Even on product page itself the related, featured products images are coming but the main product images. I found a solution somewhere to put htaccess file in pub/media folder, it helped me resolved this issue on my staging site, but isn't resolving on live site.

[2019-08-07 14:11] #13676 closed, assigned to nobody

[2019-08-07 14:29] antonkril commented on #23931
Hi @thadeu220,

Have you found the cause of the problem? We can still help you troubleshoot it.

[2019-08-07 14:35] ask694 commented on #12354
Why this issue is closed without a solution.?

[2019-08-07 14:37] ask694 commented on #12502
Anyone please share the solution for this issue. Still this issue is coming on magento 2.3 and in magento 2.2

[2019-08-07 14:43] junaidq57 commented on #19710
Also images appearing after catalog:image:resize, but then new product images aren't coming and also after flushing image cache, images again disappeared. I think the root cause is of image cache not generating somehow. That needs to be fixed.

[2019-08-07 14:54] RaFr commented on #19710
Check in the database if you have set Watermark images but the images are removed from the server. that fixed the images issue i was having with one of my websites on my production server. i couldn't see that from the Magento backend.

[2019-08-07 15:05] craigcarnell commented on #23628
It was from 2.3.1 to 2.3.2. I had to fudge the deployment to work.

[2019-08-07 15:06] sdzhepa commented on #12354
Hello @orlangur

May I ask you to explain with details _why you closed this as a non-issue and how it can be resolved_?

Based on several comments above from @ask694 it is still a problem that was not resolved yet

Thank you in advance!

[2019-08-07 15:08] junaidq57 commented on #19710
@RaFr where to check that in db?

[2019-08-07 15:09] ask694 commented on #12354
Hi,  I had tried to use the subdomain like admin.domain.com for magento 2 admin panel. I had change the setting on system -> config -> Advanced -> admin -> admin base url -> Custom Admin URL
After clearing cache, When i try to login admin panel by the custom url. It redirects to base url like www.domain.com/admin/admin.   Why this is happening even in magento 2.3.1 ?  This issue still not solved.

[2019-08-07 15:10] ask694 commented on #12354
I need a solution / fix for this issue.

[2019-08-07 15:17] RaFr commented on #19710
in the core_config_data table

[2019-08-07 15:21] essexboyupnorth commented on #24051
The bundled products are now showing in the search and the categories. I have just disabled the all new inventory modules with the following command and this fixed my issue.
php bin/magento module:disable Magento_Inventory Magento_InventoryAdminUi Magento_InventoryApi Magento_InventoryGraphQl Magento_InventoryBundleProduct Magento_InventoryBundleProductAdminUi Magento_InventoryCache Magento_Invent

[2019-08-07 15:21] #24051 closed, assigned to nobody

[2019-08-07 16:38] magento-engcom-team commented on #23951
Hi @ju2kr.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-19015` was closed as `non-reproducible` in `2.2-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still ru

[2019-08-07 16:57] slavvka commented on #22388
@magento-engcom-team give me 2.3-develop instance

[2019-08-07 16:57] magento-engcom-team commented on #22388
Hi @slavvka. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-07 16:57] slavvka commented on #22388
@magento-engcom-team give me 2.2-develop instance

[2019-08-07 16:57] magento-engcom-team commented on #22388
Hi @slavvka. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-08-07 16:57] magento-engcom-team commented on #22388
Hi @slavvka, here is your [Magento instance](https://i-22388-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22388-2-3-develop.instances.magento-community.engineering/admin](https://i-22388-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-07 16:59] slavvka commented on #22388
@magento-engcom-team give me 2.2 instance

[2019-08-07 17:33] shauldover commented on #15427
Having same issue in 2.3.2

[2019-08-07 17:34] thadeu220 commented on #23931
the problem was found... unfortunatelly the problem was my hosting... i have no idea what was going on...
but in another server, it works...
but i guess it is really complex to manage magento... i guess it is supossed to have an easier panel, just like wordpress does...
in wordpress / woocommerce, the areas are separated with mouseover elements, followed by a list... and there is only necessary th

[2019-08-07 17:37] thadeu220 commented on #23931
aaaaaaaah... i do discovered something...
if magento works, my screen reader says:
"clickable configuration men linku"
if it are not working, it says:
"configuration menu link"

so... the elements are in the clickable / onclick status... if this is not happening, it means the screen reader will not be able to clcik
i also asked for a sighted person to try, and no clicking,... so... problem regardi

[2019-08-07 17:50] nexus4alii1991 commented on #21564
So did any one managed to fix this issue, its been too long.

[2019-08-07 18:28] trucatchtraps commented on #6609
I am experiencing the exact opposite issue. When I have cache disabled the top menu navigation works as expected (no duplicate active categories). But as soon as I enable cache, the top menu starts showing multiple active categories. Basically if you browse to one category then select another category they will both show as active. Or if you head to the homepage, one of the categories will remain

[2019-08-07 18:54] adifucan commented on #14357
Hi @cannycookie!
I created a custom theme for Magento 2.3.-develop. This theme extends luma theme. It has its custom theme requirejs-config without passwordStrengthIndicator & zxcvbn. I enabled JS merging and bundling and switched to production mode.
And I could not find zxcvbn library in bundles and in merge either. zxcvbn libabry is only requested when I register custom, edit customer's password

[2019-08-07 18:57] sdzhepa commented on #22388
Hello @GraysonChiang  and @rammohan-krish

I am not sure it is really a bug.
Seems it is expected behavior and it was made intentionally.
The idea to do it manually is to give merchants more control and flexibility for all business scenarios.
Such fix could make setting "Out-of-stock" useless and affect another camp of merchants who use current behavior. For scenarios like: Merchan has received it

[2019-08-07 19:49] sdzhepa commented on #23671
@magento give me 2.3-develop instance

[2019-08-07 19:49] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-07 19:49] magento-engcom-team commented on #23671
Hi @sdzhepa, here is your [Magento instance](https://i-23671-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23671-2-3-develop.instances.magento-community.engineering/admin](https://i-23671-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-07 22:12] ramandhillon31 commented on #14952
Hi @DanielRuf,

Sorry, I'm new to Magento.
Do you want me to update the magento version?

[2019-08-07 22:17] msawyers commented on #14952
@ramandhillon31

Fix will be in magento 2.3.3 version when it is released

[2019-08-08 00:17] srenon commented on #22338
@miteshdhadukIs.. this issue fixed?

This should fix the filtering issue

    <script type="text/x-magento-init">
        {
            "[data-role=priceBox][data-price-box=product-id-<?= $block->escapeHtml($_product->getId()) ?>]": {
                "Magento_Catalog/js/price-box": {
                    "priceConfig":  <?= /* @escapeNotVerified */ $block->getJsonConfig() ?>
                }

[2019-08-08 01:11] #23967 closed, assigned to edenduong

[2019-08-08 01:11] #23987 closed, assigned to wpalmer

[2019-08-08 01:11] #24040 closed, assigned to edenduong

[2019-08-08 01:13] magento-engcom-team commented on #23877
Hi @NickdeK, @NickdeK.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.4` release.

[2019-08-08 01:13] #23877 closed, assigned to NickdeK

[2019-08-08 01:55] mikelewis-au opened #24055 "Wrong tax amounts when creating New Order with Custom Price using multi currency"
### Preconditions

1. Magento ver. 2.3.2 & 2.3-develop
2. Base Currency: USD
3. Currency Options > Allowed Currencies: USD, AUD
4. Currency Rates: USD to AUD: 1.47925
5. Tax Rules: GST, Australia, all states, all postcodes, 10%

### Steps to reproduce

1. Go to admin
2. Create a simple product
3. Create a new customer with and Australian address
4. Sales->Orders->Create New Order
5. Choose the Aus

[2019-08-08 01:58] Crikey-Mikey commented on #24055
@magento give me 2.3-develop instance

[2019-08-08 01:58] magento-engcom-team commented on #24055
Hi @Crikey-Mikey. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-08 01:59] magento-engcom-team commented on #24055
Hi @Crikey-Mikey, here is your [Magento instance](https://i-24055-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24055-2-3-develop.instances.magento-community.engineering/admin](https://i-24055-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-08 02:12] Crikey-Mikey commented on #24055
@magento yes,
Confirmed the issue is reproducible on the vanilla 2.3-develop instance provided above.
![results](https://user-images.githubusercontent.com/14268720/62670208-c1aca300-b9d5-11e9-88a3-2065b290f43e.jpg)

[2019-08-08 05:34] junaidq57 commented on #19710
@RaFr nope, this isn't the issue. on my staging server it was resolved by placing htaccess under pub/media but it isn't working on live one.

[2019-08-08 06:00] theloveofcode opened #24057 "CatalogPermissions module triggers [Err] 1054 - Unknown column 'MAX ...`"
### Preconditions (*)

1. Magento Commerce 2.3.2
2. CatalogPermissions are enabled for some or all customer groups.

### Steps to reproduce (*)

1. Create new Catalog Permission rules based on customer group
2. Save a Product in the Admin

### Expected result (*)

1. Product saves without error.

### Actual result (*)

1. Error is triggered:
[code]

### Proposed Solution
In `\Magento\CatalogPermis

[2019-08-08 06:00] j-robin-hunter opened #24058 "Magento\Customer\Block\Address\Grid.php getBackUrl()"
### Preconditions (*)

1. Version 2.3.2 - Customer account exists and has at least a billing or shipping address
2. Watch Back button (visible only if the address grid has more elements than the number selected in Show per page section on the page).

### Steps to reproduce (*)

1. Select Manage Addresses from a customer account

### Expected result (*)

1. Back button in form should return user to

[2019-08-08 06:02] j-robin-hunter commented on #24058
This bug can be reproduced on the 2.3.2 vanilla Magento instance

[2019-08-08 06:14] OlehWolf commented on #19710
@junaidq57 .htaccess should be in pub/media by default. And your live server probably use nginx.

[2019-08-08 06:18] dinesh6686 commented on #24023
Any updates
@magento-engcom-team

[2019-08-08 06:47] sudheers-kensium commented on #24048
@dhiraj-danode Yes, I enabled the multiple wish list and verified in Magento EE 2.3.1 but not able to reproduce the issue.

[2019-08-08 06:48] yashjain87553 commented on #24050
1. I added ( all ) after rest (https://domain.com/index.php/rest/all/V1/customers/1)
2. Still getting same error (The consumer isn't authorized to access %resources) on https .
3. Working fine on http .

[2019-08-08 06:58] magento-engcom-team commented on #24048
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19022` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 07:11] engcom-Charlie commented on #10857
Hello @benhath

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the lates `2.3-develop` branch by provided steps.

We are closing this issue due to _branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https:/

[2019-08-08 07:11] #10857 closed, assigned to engcom-Charlie

[2019-08-08 07:35] engcom-Charlie commented on #20234
Hello @speedy008
I can't reproduce this issue on fresh Magento 2.3-develop.
Screenshot:
![image](https://user-images.githubusercontent.com/51680850/62683945-47295680-b9c8-11e9-87c5-4323f5e7dfce.png)

So i close it.

[2019-08-08 07:35] #20234 closed, assigned to engcom-Charlie

[2019-08-08 07:37] avoelkl opened #24059 "Correct Cron Expression shown as invalid"
### Preconditions (*)
- Magento 2.3.2
- PHP 7.2

### Steps to reproduce (*)
1. Set up a cronjob with the following cron expression in XML: */5 4-21 * * 1-5
2. Try to edit the cron schedule in the magento admin: the error message "Invalid cron expression. Please try again." is shown even though the expression is valid (and the cronjob is executed as planned)

<img width="1200" alt="Bildschirmfoto 2

[2019-08-08 07:38] engcom-Bravo commented on #24058
Hello @j-robin-hunter, thanks for reporting. Please watch this gif, probably we misunderstand something:
![BackButton](https://user-images.githubusercontent.com/51680745/62684055-7fc93000-b9c8-11e9-9f68-117f2c5b5bde.gif)

[2019-08-08 07:44] engcom-Charlie commented on #5352
Hello @Nerogee
I can't reproduce this issue on fresh Magento 2.3-develop.
So i close it.
Thank for your report!

[2019-08-08 07:44] #5352 closed, assigned to engcom-Charlie

[2019-08-08 07:56] engcom-Bravo commented on #23861
@bojjaiah, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-08-08 07:56] #23861 closed, assigned to engcom-Bravo

[2019-08-08 08:15] DanieliMi opened #24060 "Terms and Conditions label doesn't fit longer texts"
### Preconditions (*)

1. Version: 2.2.9 | 2.3.2 | 2.4-develop
2. Luma Theme

### Summary
When creating Terms and Conditions with a longer checkbox text the label and required asterisk will break into new lines. I think this is not expected behavior and looks odd.

### Steps to reproduce (*)

1. Create new Condition with
1.1. Condition Name: Any
1.2. Status: Enabled
1.3. Show Content As: Text
1.4.

[2019-08-08 08:15] DanieliMi commented on #24060
@magento give me 2.3-develop instance

[2019-08-08 08:16] magento-engcom-team commented on #24060
Hi @DanieliMi. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-08 08:16] magento-engcom-team commented on #24060
Hi @DanieliMi, here is your [Magento instance](https://i-24060-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24060-2-3-develop.instances.magento-community.engineering/admin](https://i-24060-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-08 08:26] DanieliMi commented on #24060
I can verify the issue on the vanilla instance.

[2019-08-08 08:31] j-robin-hunter commented on #24058
Hi, Your gif doesn't go to the correct location to show the problem. From My  Account, click Manage Addresses (next to the Address Book section). This will take you to a page to manage addresses, this page has a back button at the bottom right. This button does not have it's href populated. I can fix this by changing the Magento\Customer\Block\Address\Grid.php file and adding a getBackUrl() functi

[2019-08-08 08:48] engcom-Alfa commented on #24050
Hi @yashjain87553 .
 Try to create a new integration following by steps providing in **[DevDocs](https://devdocs.magento.com/guides/v2.3/get-started/authentication/gs-authentication-token.html)**
Thanks!

[2019-08-08 08:52] engcom-Charlie commented on #22956
Hello @rokslavec77
I can't reproduce this issue on fresh Magento 2.3-develop.
**Manual testing scenario:**
1. Set Slovenian locale
2. Go to the Checkout page
3. Open Country dropdown
4. Check translation
**Actual result:**
All countries translated:
![image](https://user-images.githubusercontent.com/51680850/62689131-e2bfc480-b9d2-11e9-8ff5-f72fa521b09c.png)
So i close this issue.

[2019-08-08 08:52] engcom-Bravo commented on #24057
Hello @theloveofcode. Thanks for reporting. Please watch our video. Probably we miss or misunderstand something.
![CatPerm](https://user-images.githubusercontent.com/51680745/62689158-f3703a80-b9d2-11e9-97fd-130b21b64955.gif)

[2019-08-08 09:06] vijay-wagento commented on #23958
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-08-08 09:06] magento-engcom-team commented on #23958
Hi @vijay-wagento. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-08 09:07] magento-engcom-team commented on #23958
Hi @vijay-wagento, here is your [Magento instance](https://i-23958-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23958-2-3-develop.instances.magento-community.engineering/admin](https://i-23958-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-08 09:14] magento-engcom-team commented on #24058
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19027` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 09:17] Akki-8388 commented on #22027
Hi getting same issue even 2.3 is working slow rather 2.2.x version

is there any update?

[2019-08-08 09:27] schmengler opened #24061 "Removing websites or stores together with their configuration from config.php fails"
### Preconditions (*)
* Magento 2.3.2 (and probably all earlier versions)
* websites and stores created via `scopes`  section in `app/etc/config.php`
* any configuration on website level (e.g. base urls) in the `system` section in `app/etc/config.php`

### Steps to reproduce (*)

1. remove a website together with its scope specific configuration from `app/etc/config.php`
2. run `bin/magento app:co

[2019-08-08 09:27] rokslavec77 commented on #22956
You tested it with Slovenian locale. The issue happens with locales that use cyrilic (for example Macedonian):

Steps to reproduce:

1. Setup website, store and store view with locale mk_MK.

2. Added translations file:
app/design/frontend/Optiweb/owtheme/i18n/mk_MK.csv
with content:
"Country","Country Translated"
"Македонија","severna makedonija"

3. Flushed cache.

4. Add product to cart and go

[2019-08-08 09:28] magento-engcom-team commented on #24037
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19028` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 09:42] tprocter-ldg commented on #24060
You could try adding the following style to the checkout agreement button:

`.checkout-agreements-block .action-show {
      display: contents;
}`

[2019-08-08 09:42] nsiebler-dm commented on #22027
@Akki-8388 @gaurangpadhiyar007 and others
Here is what solved some problems for us so far, hope this will help you too or hint to a solution:
1. Check if MSI extensions are enabled (Any module starting with "Magento_Inventory")
2. Disable them and run setup:upgrade etc.

This prevented the stacking of most SQL queries for us, so queries are reduced to a reasonable amount and the shop is much faste

[2019-08-08 09:45] engcom-Charlie commented on #22956
@rokslavec77 thank you for contributing!
Result:
Translated only "Country" for "Country Translated":
![actual2](https://user-images.githubusercontent.com/51680850/62692972-46012500-b9da-11e9-9c37-67f2ec09bacb.png)
I will confirm your issue but i have to update description

[2019-08-08 09:47] amenk commented on #24060
@tprocter-ldg Awesome idea, but unfortunately not IE11 compatible. https://caniuse.com/#search=display%20contents

[2019-08-08 09:50] kuldip1 opened #24062 "Magento not compatible php latest version (7.3.0)"
Hi All,

When i try to install magento in PHP 7.1 version it's not working.
But while i update my PHP version 7.2 it;s working fine.

Now i found one major issue that if i have lower version that is okay but if i have PHP latest version then magento should be work but it's not working.

I think you should update your magento version with all PHP version working.

[2019-08-08 09:52] magento-engcom-team commented on #22956
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19029` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 09:58] sudheers-kensium commented on #23836
@dhiraj-danode I observed that some js files are not loading, due to this popup not showing. So I given permission to pub folder then it is working fine for me.

[2019-08-08 10:02] yatintheoctopustech commented on #23802
@WJdeBaas Use Config Setting is already checked and its a grouped or configurable products which I am importing

[2019-08-08 10:03] magento-engcom-team commented on #24060
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19030` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 10:04] DanieliMi commented on #24060
Another solution would be:
[code]
But this is really not a nice and clean solution just setting the `max-width` to 90%.

Is a really nice solution if there wouldn't be the lack of supported browsers.

We tried it with `display: table` and `display: table-cell` but for this we either have to adapt the markup or move the after for the * to the `.checkout-agreement.required` which is not a nice solut

[2019-08-08 10:06] amenk commented on #24060
@magento-engcom-team Can the internal ticket status of MC-19030 be viewed in any way?  Is there an estimate for the fix?

[2019-08-08 10:16] engcom-Alfa commented on #24062
Hi @kuldip1.
Thank you for your report!
Magento does not support in PHP v.7.3.0 according to the [documentation](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html).

[2019-08-08 10:16] #24062 closed, assigned to engcom-Alfa

[2019-08-08 10:19] gunjanparekh opened #24063 "how we can place order with “Paypal express” OR via “Credit Card” using REST API Magento 2?"
I want to place an order with "Paypal express" OR via "Credit Card" using REST API but not get any success.

I tried with "Braintree" extension but they also not provide API. Also, I checked the Magento2 REST API document but not got any API endpoint.

I develop a standalone application for place order with "Paypal Express" and after the success, I got "Token" and "Payer ID" and after that, I pass

[2019-08-08 10:22] scoops87 commented on #13396
We actually installed the 1.9.3 version with 2.2.2 and it did not work.
Did it work for you?

[2019-08-08 10:23] onepack commented on #23908
@sbrendtro, this is a good catch! I was not getting this critical message. But I was having the same in the quote table customer_is_guest was 1 with this testing customer. Setting it to 0 fixed things.
The root cause is yet unclear. I will keep an eye on this.

[2019-08-08 10:24] erikrijn commented on #9186
This issue has been open for 4 years. It's causing major issues.
Will this ever be fixed?

[2019-08-08 10:30] hostep commented on #24062
Maybe good to mention that Magento 2.3.3 will support PHP 7.3.x
Source: https://github.com/magento/magento2/issues/19604#issuecomment-505107830

[2019-08-08 10:30] akssaiyad commented on #13329
[code]

[code]

Note : In above SQl query store_id 1 is ID of store. kindly you need to check store Id for all store-views in admin and run the above code for each store-views saperately.

[2019-08-08 10:34] scne commented on #23962
@engcom-Charlie please try to index with saving mode

[2019-08-08 10:53] HannesJa opened #24064 "Magento 2.3 - Cannot create a new shipping label for an already created shipment"
### Preconditions (*)

1. Magento 2.3 CE (Installed using composer)
2. A carrier, that supports shipping labels
3. Firefox 68.0.1 (Tested also on Chrome, Issue not dependent on browser, but the console error message is different on different browsers)

### Steps to reproduce (*)

This has been done by following the [Magento's documentation](https://docs.magento.com/m2/ce/user_guide/shipping/shippi

[2019-08-08 10:57] BB-000 commented on #7399
.modal-popup { pointer-events: none; }

[2019-08-08 11:01] engcom-Alfa commented on #24062
@hostep Thank you for clarification!

[2019-08-08 11:03] yashjain87553 commented on #24050
Hi @engcom-Alfa
1. I am using token base authentication not  oauth base .
2. I fire curl command in place of postman , getting same error .
3. I also tried to check using oauth authentication as suggested in docs.
4. First create integration than used below php script for oauth base authentication
<?php
function sign($method, $url, $data, $consumerSecret, $tokenSecret)
{
	$url = urlEncodeAsZend($u

[2019-08-08 11:19] engcom-Alfa commented on #24050
@magento give me 2.3-develop instance

[2019-08-08 11:19] magento-engcom-team commented on #24050
Hi @engcom-Alfa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-08 11:20] magento-engcom-team commented on #24050
Hi @engcom-Alfa, here is your [Magento instance](https://i-24050-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24050-2-3-develop.instances.magento-community.engineering/admin](https://i-24050-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-08 11:27] engcom-Alfa commented on #24050
@yashjain87553 Please try to reproduce the issue on test instance.
Thanks!

[2019-08-08 11:29] engcom-Alfa commented on #24050
@yashjain87553 I am not able to reproduce this issue on test instance. All works correctly.
![screen](https://user-images.githubusercontent.com/51679138/62699768-f4ac6200-b9e8-11e9-8049-32cbddeb2c1c.png)

[2019-08-08 11:34] yashjain87553 commented on #24050
Yes , I checked , it is working fine on the instance you provided.  But not on mine .
Please suggest me any changes I can do , like in https.conf, any configration file to make my api's working on https.

[2019-08-08 11:43] engcom-Alfa commented on #24050
Hello @yashjain87553   ! Thank you for your report !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-08-08 11:43] #24050 closed, assigned to engcom-Alfa

[2019-08-08 11:52] yashjain87553 commented on #24050
Ok thank you

[2019-08-08 12:10] gaurangpadhiyar007 opened #24065 "Can not save the product after MSRP modules are disabled"
### Preconditions (*)

Magento version 2.3.2

### Steps to reproduce (*)

1. Disable MSRP modules
2. Try to save the product.

### Expected result (*)

1. Save the product.

### Actual result (*)

Fatal error: Uncaught Error: Cannot instantiate interface Magento\InventoryApi\Api\SourceItemRepositoryInterface in vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php:50 Stack trace: #0

[2019-08-08 12:20] magento-engcom-team commented on #24061
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19037` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 12:28] junaidq57 commented on #19710
@OlehWolf no both have apache set. Issue still not resolved. currently images in catalog/product/cache/50dd8aa5084eb9449e88d424223230cd/image/ folder aren't generating even after catalog:image:resize command. most of the product images have appeared with this command. Also for new products, the images aren't coming on product pages. I have to run command regularly for since my team is adding produ

[2019-08-08 12:33] engcom-Charlie commented on #23962
@scne
![image](https://user-images.githubusercontent.com/51680850/62703414-d434d580-b9f1-11e9-8b32-0853c882440c.png)

[2019-08-08 12:40] engcom-Charlie commented on #24063
Hello @gunjanparekh
I think you have to try with this endpoint: `V1/carts/mine/payment-information`

[2019-08-08 12:43] engcom-Delta commented on #14267
Hi @jonathanKingston thank you for your report. I am not able to reproduce issue by steps you described on 2.3-develop
I got only one usage of `$.browser` in comment:
`lib/web/jquery/jstree/jquery.jstree.js:		// code is copied from jQuery ($.browser is deprecated + there is a bug in IE)`
![image](https://user-images.githubusercontent.com/51681379/62703837-bcaa1c80-b9f2-11e9-83d6-259c759adc76.png)

[2019-08-08 12:43] #14267 closed, assigned to nobody

[2019-08-08 12:47] ityetti opened #24066 "Incorrect layouts override behavior"
### Summary (*)

Magento 2.3.2 clear instalation + simple custom theme + one simple extension.

### Examples (*)

1. Installed clear magento 2.3.2
2. Created simple custom theme which contain (`theme.xml`, `registration.php` and `CustomTheme/Magento_Customer/layout/customer_account_create.xml`).
3. Also I created a simple extension which add a custom field to customer accout create form (This exte

[2019-08-08 12:52] patelnimesh1988 opened #24067 "Configurable Product create issue while using custom source model attribute"
### Preconditions (*)

1. Magento 2.2.4 to Magento 2.3.2
2. Ubuntu 16.04
3. Php 7.0, Php 7.1 and Php 7.2

### Steps to reproduce (*)

1. Create product attribute using Custom source model
2. Create configurable product using above attribute
3. Magento should be in developer mode.

### Expected result (*)

1. Save product without error
    [OR]
2. Open configurable product  view without any error i

[2019-08-08 12:56] Akki-8388 commented on #22027
Hello @nsiebler-dm

Yes its work thank you for suggestion.

Thank you,
Akshay Thakkar

[2019-08-08 13:08] maheshWebkul721 commented on #15545
@magento-engcom-team , its not fixed yet?

[2019-08-08 13:14] ankitpatel2931 opened #24068 "Account sidebar current tab is not marked as Active"
### Preconditions (*)

1. Magento 2.3.2
2. Sample data installed

### Steps to reproduce (*)

1. Login as customer. You can see below screen.
![AwesomeScreenshot-nlipoenfbbikpbjkfpfillcgkoblgpmj-upload html-2019-08-08_6_36](https://user-images.githubusercontent.com/44745569/62705669-790fdc80-ba0b-11e9-99ce-5013b47351b8.png)

2. Please note URL here.
a)  /customer/account/
b) As above screenshot, M

[2019-08-08 13:18] #24065 closed, assigned to engcom-Alfa

[2019-08-08 13:19] gaurangpadhiyar007 commented on #24065
Auto resolved,

[2019-08-08 13:20] brucemead commented on #23628
:+1: this is preventing `setup:di:compile` how come there is no movement on this yet?

[2019-08-08 13:20] Kashiffrq commented on #5929
Great 💯 🥇 👍

[2019-08-08 13:23] Styopchik opened #24069 "Unable to use banktransfer payment method in sales rule"
### Preconditions (*)
1. Magento 2.3.2
2. php 7.2.15

### Steps to reproduce (*)
1. Enable **Bank Transfer** payment method
![enable_bankpayment](https://user-images.githubusercontent.com/884525/62705857-f846e580-b9f6-11e9-9852-a60a0f16fa26.png)
1.a Clear cache (if enabled)
2. Create new **sales rule**
3. Under **Conditions** tab select **Payment method**
![select_payment_method](https://user-imag

[2019-08-08 13:26] engcom-Bravo commented on #24068
The issue is noticed to be actual for such sections as My Account, My Wish List, Address Book and Newsletter Subscription.

[2019-08-08 13:27] Styopchik commented on #24069
@magento give me 2.3-develop instance

[2019-08-08 13:27] magento-engcom-team commented on #24069
Hi @Styopchik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-08 13:27] magento-engcom-team commented on #24068
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19040` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 13:27] magento-engcom-team commented on #24069
Hi @Styopchik, here is your [Magento instance](https://i-24069-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24069-2-3-develop.instances.magento-community.engineering/admin](https://i-24069-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-08 13:41] gaurangpadhiyar007 commented on #7658
![export-index-2019-08-08_7_10](https://user-images.githubusercontent.com/19263771/62708071-3ac8ec00-ba10-11e9-9271-28c8a3031b4d.png)

Check screen shot..

[2019-08-08 13:43] swnsma commented on #23974
Hi @shikhamis11,
Agree. This is the same issue.
I am closing current issue as duplicate.

[2019-08-08 13:44] #23974 closed, assigned to shikhamis11

[2019-08-08 13:48] gilesbennett commented on #23908
@sbrendtro

Do you mean

`UPDATE quote ...
`

rather than

`UPDATE entity ...`

?

[2019-08-08 13:55] sbrendtro commented on #23908
Yes, thanks for pointing that out.  Just edited my comment.

[2019-08-08 13:57] MattBidas commented on #7497
This problem in 2.3.1 too.

[2019-08-08 13:57] ericclaeren opened #24070 "Website/Group/Store entity form can't be extended with multiple value form element for extension attributes"
### Summary (*)
When extending the Website/Group/Store form (_module-backend/Block/System/Store/Edit/AbstractForm.php_) with the _adminhtml_store_edit_form_prepare_form_ event, multiple value fields (arrays) are being flattened by the javascript store validator (_module-backend/view/adminhtml/web/js/validate-store.js_). Preventing me to extend this form with a multiselect, checkboxes or radios for

[2019-08-08 13:58] gilesbennett commented on #23908
No, thank you for pointing out the fix for what was turning out to be a massive pain in the backside for a client!

[2019-08-08 14:01] benlau87 commented on #22094
Having the same issue after update to 2.3.2...please help

[2019-08-08 14:04] gaurangpadhiyar007 commented on #23450
Reopen this issue.
Now issue with linux.
Reopen issue.
Still present in magento 2.3.2
![adminhtml-export-index-key-2019-08-08_7_33](https://user-images.githubusercontent.com/19263771/62709695-7e712500-ba13-11e9-9ba9-b4015ea67a56.png)

[2019-08-08 14:14] ron-jomashop commented on #23908
I think you should put this solution in your issue too because I believe it will help many people including me.

[2019-08-08 14:14] ron-jomashop commented on #23908
@onepack I think you should put this solution in your issue too because I believe it will help many people including me.

[2019-08-08 14:16] magento-engcom-team commented on #23956
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19043` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 14:28] BB-000 commented on #17910
Stores / Configuration / Advanced / System / Images Upload Configuration

[2019-08-08 14:29] ankitpatel2931 commented on #24068
Hi @engcom-Bravo , @magento-engcom-team ,

Thanks for confirmation.
Please let me know If I can do any thing in this.

[2019-08-08 14:32] BB-000 commented on #17910
Is this planned to be available at store configuration level?

[2019-08-08 14:33] rain2o opened #24071 "REST API store code placement different from documentation"
### Summary (*)
There seems to be a discrepancy between real-life implementation of the M2 REST API and the documentation around it. I am not sure if this is an issue with documentation, implementation, or perhaps my lack of understanding. The [documentation](https://devdocs.magento.com/guides/v2.3/get-started/gs-web-api-request.html#endpoints) for the API structure is as follows:

In my experienc

[2019-08-08 14:35] engcom-Bravo commented on #24069
Hello @Styopchik. Thanks for applying. Could You please confirm You were able to reproduce the issue on a vanilla Magento installation.

[2019-08-08 14:38] engcom-Bravo commented on #24068
Ok @ankitpatel2931, You are always welcome.

[2019-08-08 14:43] gaurangpadhiyar007 commented on #23450
Temporary solution for products export:

    `public function execute()
    {
        if ($this->getRequest()->getPost(ExportModel::FILTER_ELEMENT_GROUP)) {
            try {
                $params = $this->getRequest()->getParams();
                $model = $this->_objectManager->create(\Magento\ImportExport\Model\Export::class);
                $model->setData($this->getRequest()->getParams());

[2019-08-08 14:54] rain2o commented on #24071
@magento give me 2.3-develop instance

[2019-08-08 14:54] magento-engcom-team commented on #24071
Hi @rain2o. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-08 14:55] magento-engcom-team commented on #24071
Hi @rain2o, here is your [Magento instance](https://i-24071-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24071-2-3-develop.instances.magento-community.engineering/admin](https://i-24071-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-08 15:20] BB-000 commented on #17910
I have 'Enable Frontend Resize' turned off, but my image is still increasing in file size. It is a .png, increases by about 40kb
I have cleared all caches including _pub/media/catalog/product/cache_
🤷‍♀️

[2019-08-08 16:09] onepack commented on #23618
The root cause is not yet clear but a solution for customers experiencing this issue is here:
https://github.com/magento/magento2/issues/23908#issuecomment-518875486

[2019-08-08 16:10] nbennett25 opened #24073 "Magento 2.2.4 Configurable product page swatch selection not passing 'selected_product_option' to Add to Cart"
Using Magneto 2.2.4, after creating a configurable product and color attribute specified child products, using the 'Visual Swatch' attribute display, no 'selected_product_option' is passed in the Add to Cart action on the product page, and a 'Requested product not found' error is thrown.

(After updating from 'Visual Swatch' to 'Dropdown' in the color product attribute, the Add to Cart works as ex

[2019-08-08 16:18] alexadvance commented on #23577
@hostep : Same issue for me whe n trying to deploy an new Magento Server with existing code.

Before 2.3.2 : env.php is present. Install fails if [install] section is present in env.php. Succeed if env.php is present but no [install] section inside.

With 2.3.2 : Install fails if env.php is present. Install succeed if env.php is absent.

[2019-08-08 16:35] rain2o commented on #24071
While the discrepancy between documentation and the APIs that are used still exists in vanilla Magento, I am not able to replicate the results in the example I provided in the vanilla instance. So the original question still stands. However for my issue I will start with a fresh instance locally and start adding things in until I am able to replicate the issue.

[2019-08-08 18:05] sdzhepa opened #24074 "[TEST] TEST Issue 2"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-08-08 18:06] magento-engcom-team commented on #24074
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19052` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 18:19] frostbitten commented on #19565
My sitemaps are also experiencing this behavior where they are split into multiple files with the main sitemap.xml incorrectly including "public_html" in the child paths.

But, the problem _seems_ to only occur when I manually update the sitemap through the admin panel. If I use netz98's "magerun" to generate the sitemaps (via `bin/n98-magerun2 sys:cron:run sitemap_generate`) everything turns out

[2019-08-08 18:41] magento-engcom-team commented on #24074
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19054` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 18:56] AndyJAllen opened #24075 "Magento 2.3.1 - Payflow Pro - Not recognizing new Visa cards"
<delete me until i get my ducks in a row>

[2019-08-08 18:58] #24075 closed, assigned to nobody

[2019-08-08 19:00] bangermeier commented on #15441
Is there a similar script for cloud?

[2019-08-08 19:06] magento-engcom-team commented on #24074
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19054` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 19:19] AndyJAllen commented on #23707
This is also a problem on Payflow Pro... there are master card numbers that it wont recognize; and users cannot check out. Users get message "Please enter a valid credit card type number" when entering valid Mastercard numbers.

[2019-08-08 19:46] magento-engcom-team commented on #24074
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19054` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 19:53] magento-engcom-team commented on #24074
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19054` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-08 19:53] #24074 closed, assigned to nobody

[2019-08-08 19:59] AndyJAllen commented on #23707
The file that needs looked at is **credit-card-type.js** in _vendor\magento\module-payment\view\base\web\js\model\credit-card-validation\credit-card-number-validator_

Why is their a colon in the regex for Mastercard?

[2019-08-08 20:17] joshfedo commented on #20003
@paul-gene Any luck with this one? I'm getting the same error

[2019-08-08 20:39] paul-gene commented on #20003
@joshfedo ah shucks I've kinda forgotten what this was now.

Try this, install magento using a table prefix for the database tables. Then try to replicate this issue.

I had a problem in a custom module where the method to get a table name, with prefix, wasn't working.

[2019-08-08 21:07] #23940 closed, assigned to edenduong

[2019-08-08 21:08] #23897 closed, assigned to kirtinariya1

[2019-08-08 21:08] #23982 closed, assigned to kirtinariya1

[2019-08-08 21:09] magento-engcom-team commented on #23886
Hi @rani-webkul, @rani-webkul.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.4` release.

[2019-08-08 21:09] #23886 closed, assigned to rani-priya

[2019-08-08 21:09] magento-engcom-team commented on #23911
Hi @gwharton, @gwharton.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.4` release.

[2019-08-08 21:09] #23911 closed, assigned to gwharton

[2019-08-08 21:29] pmathbliss commented on #15545
There needs to be a better way to tune these. There isnt going to be a one
fits all solution.

On Thu, Aug 8, 2019, 6:09 AM Mahesh Singh <notifications@github.com> wrote:

[2019-08-08 21:40] adifucan commented on #14357
Please, reopen this issue if it still occurs.

[2019-08-08 21:40] #14357 closed, assigned to nobody

[2019-08-09 00:59] Adel-Magebinary commented on #15545
BTW, switched to elastic search brings more problems after the full index.

1. Nav breaks
2. Filter anything by attribute goes to full shutdown.
3. Performance for index.

[2019-08-09 02:30] DavidEu000 commented on #20033
I found it might be the issue of the $parameters of PHP-Mail  /vendor/zendframework/zend-mail/src/Transport/Sendmail.php - line 305: $result = mail($to, $subject, $message, $headers, $parameters); When debugging the $parameters that shows: '-f'email@example.com' then it will not send any email out. But if it changed to '-f email@example.com' then I can receive the email.

[2019-08-09 02:48] DavidEu000 opened #24080 "Unable to send email in Magento 2.3.2"
### Preconditions (*)

1. Magento 2.3.2
2. Docker

### Steps to reproduce (*)

1. Sales > Orders > Open any one order.
2. Click on Send mail.
3. Register new customer.
4. Any trigger to send email function.

### Expected result (*)

1. Email should be sent

### Actual result (*)

Fatal error: Uncaught Zend\Mail\Transport\Exception\RuntimeException: Unable to send mail: Unknown error in /usr/share/

[2019-08-09 03:28] antonkril commented on #23931
Have you disabled Page and Block caches on your instance?

[2019-08-09 03:57] syedsaleem086 commented on #7251
Same issue on Magento2.2.7
@mmansoor-magento

[2019-08-09 05:22] #22773 closed, assigned to shikhamis11, GovindaSharma

[2019-08-09 05:24] soundararajanm1990 commented on #21885
We can't solve this issue. Still now pending.

[2019-08-09 05:57] magento-engcom-team commented on #24023
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19067` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-09 05:57] arunu commented on #22094
Issue seen in 2.3.2

[2019-08-09 06:34] Styopchik commented on #24069
I can't reproduce this issue on magento 2.3-develop (it was fixed in https://github.com/magento/magento2/commit/28c86bed310311247604caa6c5c3b6c165fbd4f3), but the reason of the issue is still present in 2.3.2 version.

[2019-08-09 06:38] edenduong opened #24082 ""Delete Template" and "Convert to Plain Text" confirm message (at Edit email template) should have the Magento Backend Design"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Backend
2. Marketing -> Email Templates
3. Create 1 email template
4. Edit the email template which is created
5. Click "Delete Template"
6. Click "Convert to Plain Text"

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/8234209/62759155-becfb200-baaa-11e9-8054-eb77d2fc2498.png)

2.
![

[2019-08-09 06:50] Styopchik commented on #24069
And yes, i can confirm this issue on Vanilla Magento 2.3.2 installation

[2019-08-09 06:55] drabikowy commented on #23832
@magento give me 2.3-develop instance

[2019-08-09 06:55] magento-engcom-team commented on #23832
Hi @drabikowy. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-09 06:56] magento-engcom-team commented on #23832
Hi @drabikowy, here is your [Magento instance](https://i-23832-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23832-2-3-develop.instances.magento-community.engineering/admin](https://i-23832-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-09 07:05] gaurangpadhiyar007 commented on #22027
@nsiebler-dm @Akki-8388
I have disabled all modules still it takes around 6 second to load checkout/cart page.
No third part module are on that page.

Magento_Inventory
Magento_InventoryAdminUi
Magento_InventoryApi
Magento_InventoryBundleProduct
Magento_InventoryBundleProductAdminUi
Magento_InventoryCatalog
Magento_InventorySales
Magento_InventoryCatalogAdminUi
Magento_InventoryCatalogApi
Magento_

[2019-08-09 07:14] prabhash76 opened #24084 "Product import get "query was: INSERT INTO `catalog_product_entity_media_gallery` (`attribute_id`,`value`) VALUES (?, ?) ON DUPLICATE KEY UPDATE `attribute_id` = VALUES(`attribute_id`), `value` = VALUES(`value`)" and "1. Imported resource (image) could not be downloaded from external resource due to timeout or access permissions in row(s): 1""
### Preconditions (*)

1. Magento 2.3.2
2.

### Steps to reproduce (*)

1.Update 2.3.1 to 2.3.2
2.And try to import product with base, small and thumbnail images

### Expected result (*)

1. Import data with image as well

### Actual result (*)

1. `1. Imported resource (image) could not be downloaded from external resource due to timeout or access permissions in row(s): 1
General system exception

[2019-08-09 07:33] engcom-Charlie commented on #24080
Hello @DavidEu000
I can't reproduce this issue on fresh Magento 2.3-develop.

**Manual testing scenario:**
1. Sales > Orders > Open any one order.
2. Click on Send mail.
3. Go to Customers > All customers(and i tried go to the Customer view and register from this page)
4. Register new customer.
5. Any trigger to send email function.

So i close this issue.
Thank for your report!

[2019-08-09 07:33] #24080 closed, assigned to engcom-Charlie

[2019-08-09 07:51] scne commented on #22094
related issue [here](https://github.com/magento/magento2/issues/23962)

[2019-08-09 08:00] prabhash76 commented on #23450
I have already did this you can see screen shot of it.
![Screenshot from 2019-08-09 13-29-34](https://user-images.githubusercontent.com/50201715/62763689-cc386c80-baa9-11e9-8f4a-82f94c990f04.png)

[2019-08-09 08:00] engcom-Charlie commented on #24067
Hello @patelnimesh1988
I can't reproduce this issue on fresh Magento 2.3-develop.

**Manual testing scenario:**
Magento in developer mode.
1. Create product attribute using Custom source model
 ![image](https://user-images.githubusercontent.com/51680850/62763375-0eef4a00-ba94-11e9-8acc-e7c43092508f.png)
2. Create configurable product using above attribute
3. Save the product

**Actual result:**
Pr

[2019-08-09 08:00] #24067 closed, assigned to engcom-Charlie

[2019-08-09 08:02] prabhash76 commented on #24084
If you want to access the csv file, then you can download file from below link :
http://217.61.57.229/importing_config.csv

[2019-08-09 08:09] jenn0pal commented on #23450
I am also experiencing this issue. I also tried manually running the cron task.
Still no job is created

[2019-08-09 08:19] patelnimesh1988 commented on #24067
Did you check in Magento 2.2.4?

[2019-08-09 08:19] engcom-Charlie commented on #24059
Hello @avoelkl
I can't reproduce this issue on Magento 2.3-develop. How to open "edit the cron schedule" page in the magento admin?

[2019-08-09 08:37] olgamukovoz commented on #14667
I use also but not all thumbnail images is showing as at once page was loaded
any thoughts?

[2019-08-09 08:38] duckchip commented on #23958
I will close this issue since there's a workaround (thanks to @nuzil for sending me in the right direction). This should be documented in the devdocs as well (will create a PR for that later.)

The trick for saving those operations is by calling the [Operations Repository](https://github.com/magento/magento2/blob/89cf888f6f3c7b163702969a8e256f9f0486f6b8/app/code/Magento/AsynchronousOperations/Mode

[2019-08-09 08:38] duckchip commented on #23958
-

[2019-08-09 08:38] #23958 closed, assigned to duckchip

[2019-08-09 08:43] magento-engcom-team commented on #24047
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19076` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-09 08:46] engcom-Charlie commented on #24067
@patelnimesh1988 branch `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._
 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

[2019-08-09 08:46] krishprakash commented on #24082
@magento give me 2.3-develop instance

[2019-08-09 08:46] magento-engcom-team commented on #24082
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-09 08:46] magento-engcom-team commented on #24082
Hi @krishprakash, here is your [Magento instance](https://i-24082-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24082-2-3-develop.instances.magento-community.engineering/admin](https://i-24082-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-09 08:48] PiroozMB commented on #14667
You can make magento load an image of the product before all images load. In this way you people don't have to wait on the page to see at least one image of the product. This of course don't fix the slow loading of products images on the product pages. This is just as a workaround to show at least one image much faster until all images load. Take a look at this page to check what it looks like.
I

[2019-08-09 08:49] magento-engcom-team commented on #24082
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19077` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-09 08:53] #23945 closed, assigned to engcom-Charlie

[2019-08-09 08:53] engcom-Charlie commented on #23945
I close this issue because we can't reproduce it.

[2019-08-09 08:56] scne commented on #22491
any news? In my case I get this error
[code]

[2019-08-09 09:12] engcom-Bravo commented on #23907
@vivekkumar-webkul, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-08-09 09:16] onepack commented on #7730
I filter the collection now on layer.php. It seems too late for the correct count.
Via the search didn't help either.
Is it possible to change the moment the counting is done.
Anyone?

[2019-08-09 09:24] Hanhan1989 commented on #22264
Any new news about this???

[2019-08-09 09:41] rain2o commented on #24071
After further testing I am not able to replicate this issue in a fresh instance of the latest Magento 2.3.2 version. I will close this issue. I have opened a new issue in the devdocs repo requesting the documentation address the discrepancy between the API structure in the docs and in implementation.

[2019-08-09 09:41] #24071 closed, assigned to nobody

[2019-08-09 09:42] gunjanparekh commented on #24063
I have placed an order successfully using "Cash on delivery" and "Check / Money order" but there in no REST endpoint for how to palace order with other payment gateways like PayPal, credit card, etc.

[2019-08-09 09:44] aleromano89 opened #24087 "M2.3.1 template binding not working"
### Preconditions (*)
Magento 2.3.1

### Steps to reproduce (*)
1. Create a new empty module (example Alx_KnockoutExample)
2. Generate a new route
(for example by using pestle
`pestle.phar generate_route Alx_KnockoutExample frontend alx_knockout`)
3. Associate a block to the route
(`pestle.phar generate_view Alx_KnockoutExample frontend alx_knockout_index_index Main content.phtml 1column`)
4. Crea

[2019-08-09 09:47] aleromano89 commented on #24087
@magento give me 2.3-develop instance

[2019-08-09 09:47] magento-engcom-team commented on #24087
Hi @aleromano89. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-09 09:48] magento-engcom-team commented on #24087
Hi @aleromano89, here is your [Magento instance](https://i-24087-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24087-2-3-develop.instances.magento-community.engineering/admin](https://i-24087-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-09 09:58] engcom-Bravo commented on #24069
Thank You @Styopchik for reply. We also cannot reproduce this issue on the 2.3-develop version. If the issue is fixed in develop version this fix will be delivered only with the next release version. So due to our workflow we are closing this issue. Thanks for applying.

[2019-08-09 09:58] #24069 closed, assigned to engcom-Bravo

[2019-08-09 10:14] onepack commented on #4767
@kazimnoorani

Using:
   public function getTotalNum() {
        return count($this->getCollection()->getAllIds());
    }
Will result in the count being correct if the filtered collection fits on one page.
The total collection count however will be broken if it's bigger than one page.
So if you have a collection of 48 products it will show 1 - 20 of 20 (per page of 20).
This should be: 1-20 of 48.

[2019-08-09 10:14] engcom-Charlie commented on #22094
Hello @benlau87 @arunu
I can't reproduce this issue on Magento 2.3.2. All products can be saved. Can you provide me your steps to reproduce this issue?

[2019-08-09 10:21] onepack commented on #4767
We have more bugs all pointing to this but there just doesn't seem to be any real solid fix.
I get correct numbers but pagination is broken.
Pagination working but numbers of unfiltered collections.
A filtered collection of 11 products with the items per page of 8 will result in 4 products on the first and the rest on page 2 and 3.
Related:
https://github.com/magento/magento2/pull/10246
https://gi

[2019-08-09 10:24] engcom-Charlie commented on #24063
@gunjanparekh use it for `V1/carts/mine/payment-information`:
[code]

[2019-08-09 10:28] engcom-Bravo commented on #24073
Hello @nbennett25. We've been not able to reproduce Your issue on a clear, vanilla magento instance of version 2.3-develop. Please try to reproduce the issue on 2.3-develop version Yourself and let us know the results. Thank You.

[2019-08-09 11:06] gunjanparekh commented on #24063
Thanks for the reply.
Every time I got the same error :

{
    "message": "PayPal gateway has rejected request. Invalid token (#10410: Invalid token)."
}

[2019-08-09 11:38] gunjanparekh commented on #24063
Can you please explain flow for how to place the order using "Paypal Express" OR via "Credit Card"?

[2019-08-09 11:44] shikhamis11 commented on #23950
Hello @TzumB
I am closing this issue now .. message here If you are still able to reproduce it. also share screenshots if available

[2019-08-09 11:44] #23950 closed, assigned to shikhamis11

[2019-08-09 12:03] olgamukovoz commented on #14667
thanks a lot,  now i am taking a look

[2019-08-09 12:04] webkul-paul commented on #22388
Ok Thanks

[2019-08-09 12:15] engcom-Charlie commented on #24063
@gunjanparekh you have to use valid token i think.

[2019-08-09 12:16] OvalMedia commented on #6868
For the impatient here is a fix: https://magento.stackexchange.com/questions/176091/magento-2-depends-is-not-working-in-widget-xml. Make sure you consider the first comment as the require-config.js is placed in the wrong directory. I can confirm it works fine on 2.2.9.

[2019-08-09 12:25] engcom-Bravo commented on #24064
Hello @HannesJa. Please watch this gif.
![ShipLab](https://user-images.githubusercontent.com/51680745/62778274-a23a7680-bab8-11e9-8689-1b7d4fbc8ee4.gif)
It was done on a 2.3.2 composer CE version, vanilla installation. Probably the issue has already been fix. Could You please confirm You can reproduce the issue on a vanilla instance of 2.3.2 composer or better 2.3-develop version. Thank You.

[2019-08-09 12:36] koopjesboom commented on #5595
Same in magento 2.3.2

[2019-08-09 12:50] jimains commented on #10083
@wcladesh Did you ever get a solution for this?

[2019-08-09 13:24] gunjanparekh commented on #24063
I have used the same token, payer id which I get from "standalone application". Below is my flow.

created standalone application for place order with "Paypal Express"
After place order, I got "Token" and "Payer ID" and used in "paypal_express_payment_payload" for place order (Magento 2 REST api).

But every time got the same error

{
"message": "PayPal gateway has rejected request. Invalid token

[2019-08-09 13:27] nbennett25 commented on #24073
@engcom-Bravo - I didn't test it on `2.3-develop` - It's currently broken on our 2.2.4 site - is 2.2.x no longer supported?

[2019-08-09 13:37] engcom-Bravo commented on #24073
Yes, @nbennett25, `2.2-develop` was closed and Magento no longer accepts pull requests and issues to the v2.2 release lines to focus all development efforts on v2.3._  See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details. So if you still faced this issue on `2.3` please create a new Issue with all required

[2019-08-09 13:37] #24073 closed, assigned to nobody

[2019-08-09 14:22] engcom-Charlie commented on #24063
@gunjanparekh can you change a description of this issue for more valid? Please add a Precondition(with your system configuration and version of magento), Steps to reproduce, Expected and Actual results and i will confirm it.

[2019-08-09 14:22] venugopal-codilar opened #24091 "Selected configurable product attribute options are not displaying in wishlist page."
### Preconditions (*)

1. Magento 2.3.2 with sample data
2. Product listing page should have 2 or more configurable products with swatches.

### Steps to reproduce (*)

1. Log into the customer account.
2. Navigate to product listing page.
3. Choose the configurable product and select preferred color and size options of any product expect last product which is listed in Product listing page ( It i

[2019-08-09 14:28] engcom-Bravo commented on #24091
Hello @venugopal-codilar. Though the essence of the issue may seem obvious just from its title we would still ask You to fill in all the required items like Preconditions, etc. Thank You.

[2019-08-09 14:31] venugopal-codilar commented on #24091
@engcom-Bravo  Ticket updated

[2019-08-09 15:03] ericclaeren commented on #24070
Have found a way to fix this, will fork and create pull request for this issue. Need some help testing this, because I don't know how to add a multiple field to this form for a feature test.

[2019-08-09 15:03] nadroj467 opened #24092 "UK postcode validation throwing error at checkout"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.1

### Steps to reproduce (*)

1. Add item to cart, proceed to checkout
2. Select UK as shipping country
3. Enter valid UK postcode: example AB1 2CD

### Expected result (*)

1. Postcode should be accepted without validation notice error

### Actual result (*)

1. Error is shown below postcode field
2. PROVIDED ZIP/POSTAL CODE SEEMS TO BE INVALID.

[2019-08-09 15:03] nadroj467 commented on #24092
@magento give me 2.3.2 instance

[2019-08-09 15:03] magento-engcom-team commented on #24092
Hi @nadroj467. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-08-09 15:04] magento-engcom-team commented on #24092
Hi @nadroj467, here is your [Magento instance](https://i-24092-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-24092-2-3-2.instances.magento-community.engineering/admin](https://i-24092-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-09 15:39] venugopal-codilar commented on #24091
@magento-engcom-team  give me 2.3-develop instance

[2019-08-09 15:40] magento-engcom-team commented on #23800
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#23801 by @edenduong in 2.3-develop branch
Related commit(s):
 - [1435253ef734fa6ad145c2477d2eff57862c8df0](https://github.com/magento/magento2/commit/1435253ef734fa6ad145c2477d2eff57862c8df0)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-09 15:40] #23800 closed, assigned to edenduong

[2019-08-09 15:40] magento-engcom-team commented on #20377
Hi @nadim2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20431 by @nadim2jcommerce in 2.3-develop branch
Related commit(s):
 - [6eb9717b7a2811598a08dbdb6b3984cf36854400](https://github.com/magento/magento2/commit/6eb9717b7a2811598a08dbdb6b3984cf36854400)
 - [aa11360d6c7ef24a2fd65bc7b0302767c3dd0796](https://github.com/magento/magento2/commit/aa11360d6c7ef24a2fd6

[2019-08-09 15:40] #20377 closed, assigned to nadim2jcommerce

[2019-08-09 15:59] battamich commented on #23450
Clean mag 2.3.2 cloud installation (using docker locally)
I Installed and run cron jobs, created the product and tried the export but no file has been created for me to download.
I can spot files inside var folder such as 'importexport_{id}' but they are all empty

[2019-08-09 16:56] sshymko commented on #23966
@konarshankar07
I can confirm #23621 fixes this issue. The bug is no longer reproducible with the patch. Thanks!

[2019-08-09 17:19] venugopal-codilar commented on #24091
@magento give me 2.3-develop instance

[2019-08-09 17:19] magento-engcom-team commented on #24091
Hi @venugopal-codilar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-09 17:19] magento-engcom-team commented on #24091
Hi @venugopal-codilar, here is your [Magento instance](https://i-24091-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24091-2-3-develop.instances.magento-community.engineering/admin](https://i-24091-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-09 18:10] #24092 closed, assigned to nobody

[2019-08-09 18:22] jayankaghosh commented on #24091
@magento-engcom-team Reproducible in Magento 2.3.2

[2019-08-09 20:00] JustinHermanM opened #24095 "Jquery library outdated"
### Description (*)
Update outdated jquery plug in
jQuery File Upload Plugin 5.16.4 to jQuery File Upload Plugin 5.41.1

Magento version 2.3.1

### Expected behavior (*)
no errors from securi security scan

### Benefits
PCI compliance by having up to date files

### Additional information

[2019-08-10 05:54] ju2kr commented on #23951
@magento give me 2.3-develop instance

[2019-08-10 05:54] magento-engcom-team commented on #23951
Hi @ju2kr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-10 05:55] magento-engcom-team commented on #23951
Hi @ju2kr, here is your [Magento instance](https://i-23951-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23951-2-3-develop.instances.magento-community.engineering/admin](https://i-23951-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-10 06:05] ju2kr commented on #23951
Hi,

i tested it at 2.3-develop and it is reproducible.

Preconditions (*)
A new Magento 2.3-develop instance
Two store views with one website and one store

Steps to reproduce (*)
http://myurl.com/rest/german/V1/categories?rootCategoryId=27&depth=1
Expected result (*)
JSON with given name attribute
Actual result (*)
name attribute is null

<img width="1051" alt="Bildschirmfoto 2019-08-10 um 08 02

[2019-08-10 07:51] thadeu220 commented on #23931
How can I disable the cache if i cant neighter modify any setting.
I do discovered the cache because i flush cache using SSH in a vm box
Nut some hosting does not offer SSH and no terminal
Only cpanel

[2019-08-10 07:54] thadeu220 commented on #23931
And magento should be more lulight-weight and easier to use
The docs reffers omly SSH, but not enough instructions for non-SSH companies

[2019-08-10 08:25] Stepa4man commented on #24087
@aleromano89 no. It's not supported

[2019-08-10 09:30] hostep commented on #23450
Can everybody who runs against this, check if the message queue consumer processes are running?
So it works like this:
- the cron searches for running consumer processes
- if it finds a running process, it won't do anything
- if it doesn't find a running process, it should spawn one

You can find such processes with a command like:
`ps aux | grep [c]onsumer`

It should output something like this o

[2019-08-10 09:46] Stepa4man commented on #24087
@magento give me 2.3-develop instance

[2019-08-10 09:46] magento-engcom-team commented on #24087
Hi @Stepa4man. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-10 09:47] magento-engcom-team commented on #24087
Hi @Stepa4man, here is your [Magento instance](https://i-24087-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24087-2-3-develop.instances.magento-community.engineering/admin](https://i-24087-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-10 10:10] onlinebizsoft commented on #13746
I dont think there is any good way to resolve this issue.
- Disable post button until JS executed
- Turn form key into ESI (performance issue)

[2019-08-10 11:31] aleromano89 commented on #24087
Hi @Stepa4man , how can you reproduce the issue without ssh?

[2019-08-10 13:44] ERajkumar commented on #13594
HI @magento-engcom-team  I am also facing same issue

Magento 2.2.4

        {
        "message": "Carrier with such method not found: %1, %2",
        "parameters": [
            "freeshipping",
            "freeshipping"
        ],
        "trace": "#0 [internal function]: Magento\\Checkout\\Model\\ShippingInformationManagement->saveAddressInformation(3545, Object(Magento\\Checkout\\Model\\Shipp

[2019-08-10 13:45] edenduong opened #24096 ""Integrations" Grid missing header label"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Backend
2. System -> Integrations
3. Check the Grid header

### Expected result (*)

1. Should have the label
![image](https://user-images.githubusercontent.com/8234209/62822552-5f0eff00-bbaf-11e9-88bf-87c7d2117067.png)

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/8234209/62822577-a

[2019-08-10 14:15] krishprakash commented on #24096
@magento give me 2.3-develop instance

[2019-08-10 14:15] magento-engcom-team commented on #24096
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-10 14:15] magento-engcom-team commented on #24096
Hi @krishprakash, here is your [Magento instance](https://i-24096-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24096-2-3-develop.instances.magento-community.engineering/admin](https://i-24096-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-10 14:19] magento-engcom-team commented on #24096
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19125` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-10 14:59] edenduong opened #24098 "No asterisk symbol (required entry) when changing "Encryption Key""
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Backend
2. System->Manage Encryption Key
3. "Auto-generate a Key" is No
4. Click "Change Encryption Key"

See:

![image](https://user-images.githubusercontent.com/8234209/62823316-1577e180-bbba-11e9-8b8e-38fefdd95d97.png)

### Expected result (*)

1. The field "New Key" should have the "asterisk symbol" as the requ

[2019-08-10 15:10] magento-engcom-team commented on #24098
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19126` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-10 16:04] rathodsunny005 commented on #13594
Try to disabled all 3rd party Shipping extension and try again.

On Sat, Aug 10, 2019, 7:16 PM ERajkumar <notifications@github.com> wrote:

[2019-08-10 21:02] Stepa4man commented on #24087
Hi @aleromano89, You don't need.

[2019-08-10 21:03] magento-engcom-team commented on #24087
@Stepa4man Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is a

[2019-08-10 21:03] magento-engcom-team commented on #24087
@Stepa4man Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is a

[2019-08-10 21:07] magento-engcom-team commented on #24087
@Stepa4man Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-08-10 21:08] magento-engcom-team commented on #24087
:white_check_mark: Confirmed by @Stepa4man
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19127` were created

**Issue Available**: @Stepa4man, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-10 22:59] manish3m commented on #22438
Have the same issue. Thought 2.3 will be better than any 1.X version . Made the switch and spend hours  making it ready with all prerequisites .  The symptoms is if you enable crontab and few crons are run, looks like and overlapp happens and it brings the cpu to 99% . The top on Centos 6 shows PHP and PHPFPM causing this. Eventually found crons are stuck.

I saw a possible solution with https://g

[2019-08-10 23:02] manish3m commented on #22438
![image](https://user-images.githubusercontent.com/30018677/62827653-ae3c4a80-bc16-11e9-8ee9-86789c1e0faf.png)

[2019-08-11 01:39] tomingoglia commented on #24022
I'm seeing the exact same issue trying to execute using **bin/magento setup:install** from the command line. It works from the web installer, however. It does seem to strip the name or put the IP address in place. Azure requires **@database-name** in the login. ex. username@database-name. Trying to set up with CI/CD seems to be impossible.

[2019-08-11 09:36] aleromano89 commented on #24087
Ok @Stepa4man. Can you tell me what are the steps to do? thanks

[2019-08-11 13:03] aleromano89 commented on #24046
Failures and errors happen also on 2.3.1
Here is the report
[errori_unit_tests_m231.log](https://github.com/magento/magento2/files/3489983/errori_unit_tests_m231.log)

[2019-08-11 14:15] edenduong opened #24100 ""Number of results" and "Number of Uses" in edit "Search Term" missing validate number"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to frontend
2. At the right top, in "Search Entire Store Here", enter "gggg", and search
3. Go to Backend
4. Marketing->Search Terms
5. Choose record "gggg"
6. In "Number of results" and "Number of Uses", fill "one"
7. Click "Save Search"

![image](https://user-images.githubusercontent.com/8234209/62834954-29384c00-bc

[2019-08-11 15:13] magento-engcom-team commented on #24100
:white_check_mark: Confirmed by @rogyar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19128` were created

**Issue Available**: @rogyar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-11 15:21] edenduong opened #24102 "Console error when clicking checkbox at "Newsletter Problems Report""
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Backend
2. Report -> Newsletter Problems Report
3. Make sure no record in the grid. Check the checkbox

When Click

![image](https://user-images.githubusercontent.com/8234209/62835768-51787880-bc86-11e9-9598-afa27abd2da2.png)

### Expected result (*)

1. Should  no console error

### Actual result (*)

![image](htt

[2019-08-11 15:24] edenduong commented on #24102
@magento give me 2.3-develop instance

[2019-08-11 15:24] magento-engcom-team commented on #24102
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-11 15:24] magento-engcom-team commented on #24102
Hi @edenduong, here is your [Magento instance](https://i-24102-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24102-2-3-develop.instances.magento-community.engineering/admin](https://i-24102-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-11 15:59] krishprakash commented on #24102
@magento give me 2.3-develop instance

[2019-08-11 15:59] magento-engcom-team commented on #24102
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-11 15:59] magento-engcom-team commented on #24102
Hi @krishprakash, here is your [Magento instance](https://i-24102-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24102-2-3-develop.instances.magento-community.engineering/admin](https://i-24102-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-11 16:23] magento-engcom-team commented on #24102
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19129` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-11 16:39] edenduong opened #24105 ""Visibility" column in Review Grid should disable the "Sort" ability"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Marketing -> All Reviews or Pending Review
3. Click the "Visibility" header

### Expected result (*)

1. Should disable "Sort" ability.

Reference:
 "Content"-> "Block" or "Content" -> "Page". It will disable the sort ability of Store View Column

### Actual result (*)

![image](https://user-images.githu

[2019-08-11 18:11] magento-engcom-team commented on #24105
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19130` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-12 03:35] boudga commented on #23450
I followed HOSTEP's advice and solved my queue problems

[2019-08-12 06:23] Stepa4man commented on #24087
@aleromano89, nobody has access to the codebase. So the only way, for now, is to check it locally at the own machine.

[2019-08-12 07:22] himanshu8dev commented on #23450
I am facing the same issue can anyone provide the solution for magento2.3.2

[2019-08-12 07:29] XxXgeoXxX opened #24107 "Cart Price Rules. Autogenerated coupons does not add to coupons grid"
### Preconditions (*)
1. Magento 2.3.2
2. Magento 2.3-develop branch

### Steps to reproduce (*)
1. Go to BO->Marketing->Cart Price Rule->Add new rule
2. Fill data
3.  Set Coupon->Specifiec Coupon
3. Click  'Use Auto Generation'
4. Save
5. Open 'Manage Coupon Codes '
6. Set Coupon Qty->2
7. Click 'Generate'

### Expected result (*)

![Screenshot from 2019-08-12 10-28-09](https://user-images.github

[2019-08-12 07:59] engcom-Bravo commented on #24107
Hello @XxXgeoXxX. Thanks for applying. Please after You have clicked "Generate" make sure Your cron jobs are running well. Anyway You may execute `php bin/magento cron:run` twice. And then look back to Your coupon grid.

[2019-08-12 08:03] magento-engcom-team commented on #24055
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19135` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-12 08:04] #24107 closed, assigned to engcom-Bravo

[2019-08-12 08:09] engcom-Charlie commented on #23186
Hello @mrlerch
I have to close this issue because i can't reproduce this bug on fresh Magento 2.3-develop.
Thank for your report!

[2019-08-12 08:09] #23186 closed, assigned to engcom-Charlie

[2019-08-12 08:22] magento-engcom-team commented on #22438
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19136` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-12 08:42] engcom-Bravo commented on #23909
@mdhia, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-08-12 08:42] #23909 closed, assigned to nobody

[2019-08-12 08:47] emilev79 commented on #19710
So, what is now the right way to fix this? What are the steps if you encounter this?
Here is what we did (and still have the error).
We us Ultimo theme by Infortis.

My thought if I read all the above

1 - chmod to 777 the pub/media/catalog/product

2 - make sure the secure and insecure url in backend are right

3 - check symlinks if necessary with multistire setup

4 -  In app/design/frontend/Inf

[2019-08-12 09:03] battamich commented on #23450
Looking at my **cron_schedule** table I see that the crons are running, even the **consumers_runner** with success status.

I tried to manually execute the command as **hostep** suggested:

`php bin/magento queue:consumers:start exportProcessor`

and the files were generated correctly! Thank you very much

[2019-08-12 09:04] magento-engcom-team commented on #24091
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19139` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-12 09:22] hostep commented on #22438
@engcom-Charlie: since you were able to reproduce this problem, could you also add the exact steps of how to do this? Since that info doesn't seem to be in this issue yet.

That would be very much appreciated, thanks!

[2019-08-12 09:30] tprocter-ldg commented on #22952
Hi @ThakurPradeep

I am getting the same issue, however $address is populated by the time the new factory is returned. How did you resolve this?

Thank you

[2019-08-12 09:37] carolineboivin commented on #19710
I would personally check the default values specified in magento when the image size are declared. The problem I had was with a wrong image hash because the cron command is not run in the right scope, so the theme inheritance seems to override in some way the default values you specified in your config. My problem was with the white borders but yours might be the watermark. I’d try adding the wate

[2019-08-12 10:18] engcom-Charlie commented on #22438
@hostep I have the same problem as @manish3m https://github.com/magento/magento2/issues/22438#issuecomment-520185672. Maybe I made a mistake when i confirmed this issue.

[2019-08-12 10:23] engcom-Charlie commented on #22438
@hostep Steps to reproduce :
1. Vanilla install
2. Run bin/magento cron:run and bin/magento setup:upgrade
3.Check your CPU load
4.Repeat step 2 and 3
5.Repeat step 2 and 3 again

Actual result:
CPU load will be 96-100%

[2019-08-12 10:27] vutrankien commented on #16231
@hostep your solution working fine with my project magento 2.2.4

bin/magento module:disable Amazon_Payment Amazon_Login

Thanks you very much.

[2019-08-12 10:34] engcom-Charlie commented on #24066
Hello @ityetti
I can't reproduce this issue on fresh Magento 2.3-develop.
**Manual testing scenario:**

1. Created simple custom theme which contain (theme.xml, registration.php and CustomTheme/Magento_Customer/layout/customer_account_create.xml).
2. Also I created a simple extension which add a custom field to customer account create form
3.Check Customer create from on frontend page( have to see

[2019-08-12 10:34] #24066 closed, assigned to engcom-Charlie

[2019-08-12 10:46] emilev79 commented on #19710
Thank you for your response. So I thought to get rid of watermark completely on that storeview.
Now small images back :)

But large images still an issue. So I just removed watermarks to reach this small progress.

![nowatermark](https://user-images.githubusercontent.com/9929020/62860005-2e3ddf80-bcff-11e9-8906-f5b5d05d14cc.jpg)

Any more suggestions? Thanks

[2019-08-12 11:00] sunilit42 commented on #24105
@magento give me 2.3-develop instance

[2019-08-12 11:00] magento-engcom-team commented on #24105
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-12 11:01] magento-engcom-team commented on #24105
Hi @sunilit42, here is your [Magento instance](https://i-24105-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24105-2-3-develop.instances.magento-community.engineering/admin](https://i-24105-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-12 11:19] carolineboivin commented on #19710
@emilev79 , I am glad that you had some progress. Although, I am quite surprised that the large image does not work on your end, as it was the only image that worked for us at first. Have you specified a width and height in your view.xml ? It normally does not have those specified, as it uses the full size (original) image. Although, if you are using a zoom on the image it might have to be specifi

[2019-08-12 11:55] pemann commented on #23970
It seems like this commit is to blame: https://github.com/magento/magento2/commit/f2b87a63e846525b1addd00fa48198391d4a324a#diff-1ac9393c18718fce8d3b2eed7ce35bcb

[2019-08-12 12:08] TomashKhamlai opened #26106 "Downloadable Product should be OUT OF STOCK if there are no links just samples saved"
### Preconditions (*)

1. No preconditions

### Steps to reproduce (*)

1. Create Downloadable Product 1 without any links. Just add a file in the samples section
2. Open this product on Storefront and verify that status of the product is OUT OF STOCK
3. Get Stock Status of the product using `query products`
[code]

### Expected result (*)

1. Stock Status is OUT OF STOCK
[code]

### Actual result

[2019-08-12 13:14] kovvadayogesh commented on #5127
I am facing the same issues for Magento ver. 2.2.9

[2019-08-12 13:17] engcom-Charlie commented on #24084
Hello @prabhash76
I can't reproduce this issue on Magento 2.3-develop. I think you have problems with your csv file.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/), for advice or general discussion about this issue.

[2019-08-12 13:17] #24084 closed, assigned to engcom-Charlie

[2019-08-12 13:29] prabhash76 commented on #24084
Did you try with CSV which I have posted above?

[2019-08-12 13:42] salgua opened #24112 ""Store name" field is not escaped in Amazon Amazon_Core/js/simplepath"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. enter in the "stores -> configuration -> general -> store name" field a string containing a single quote (')
2. go in "stores -> configuration -> sales -> payment methods" opening the chrome inspector, you will see the error in the console. The error is present after the  "Amazon_Core/js/simplepath" string.

### Expected resul

[2019-08-12 13:43] engcom-Charlie commented on #22438
@hostep thank you for contributing!
I can't reproduce this issue on Magento 2.3-develop.
So i close this issue.
@seansan can you please provide more steps to reproduce and maybe more details if you can reproduce it on 2.3-develop branch.

[2019-08-12 13:43] #22438 closed, assigned to nobody

[2019-08-12 13:47] engcom-Charlie commented on #24084
@prabhash76 yes, something is not valid in file.

[2019-08-12 14:16] kanduvisla commented on #23405
For those interested: none of the above solutions worked for me in my Docker setup. What eventually did work, was compiling libsodium manually:

[code]

[2019-08-12 14:24] asrar7787 commented on #23511
I randomly got trapped into this bug on Magento Cloud as well. _The fix was to remove the admin user having issues with and create a new one._

[2019-08-12 14:47] onlinebizsoft commented on #22438
Quite confusing!!!

[2019-08-12 15:06] squeegy06 commented on #23964
Hello @engcom-Bravo,

I have returned from vacation and this morning just to be extra I wiped my entire vanilla install of Magento 2.2.8 and reinstalled just Magento 2.2.8 and the demo data.  I followed my own steps and I was able to repeat the results I have been getting.  The order still remains in "processing".  So maybe this is an issue fixed in 2.3?  Unfortunately we are not prepared to updat

[2019-08-12 15:07] AndyJAllen opened #24113 "Magento 2.3 - CC Validation Issue with Mastercards"
### Preconditions (*)

1. Magento 2.3.1 & 2.3-develop
2. PayPal Payflow Pro

### Steps to reproduce (*)

1.  There are valid Mastercard numbers that don't get validated correctly; despite it matching the Regex pattern correctly.

### Expected result (*)

1. Successfully recognizes mastercard
2. Allows user to check out

### Actual result (*)

1. Cant place order and receive message "Please enter a

[2019-08-12 15:24] AndyJAllen commented on #24113
@magento give me 2.3-develop instance

[2019-08-12 15:24] magento-engcom-team commented on #24113
Hi @AndyJAllen. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-12 15:24] magento-engcom-team commented on #24113
Hi @AndyJAllen, here is your [Magento instance](https://i-24113-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24113-2-3-develop.instances.magento-community.engineering/admin](https://i-24113-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-12 15:32] engcom-Foxtrot commented on #23671
@magento I am working on it

[2019-08-12 15:39] AndyJAllen commented on #24113
I successfully replicated the issue on the vanilla instance. I turned on Paypal Payflow Pro, attempted to check out with with a multiple valid mastercard numbers, and experienced the problem. Only my mastercard beginning with 52* was recognized as a valid card, despite the others also matching the regex pattern and being 16 digits.

[2019-08-12 15:49] salehawal commented on #22491
same here ...

[2019-08-12 11:29:47] main.CRITICAL: {"error":{"root_cause":[{"type":"parsing_exception","reason":"[terms] unknown token [START_ARRAY] after [in]","line":1,"col":153}],"type":"parsing_exception","reason":"[terms] unknown token [START_ARRAY] after [in]","line":1,"col":153},"status":400} {"exception":"[object] (Elasticsearch\\Common\\Exceptions\\BadRequest400Exception(code: 400): {\"e

[2019-08-12 16:04] konarshankar07 commented on #23966
Hello @sshymko
Please close this issue if you are not getting this issue any more
Thanks

[2019-08-12 16:07] TomashKhamlai opened #26107 "Customer got an error about Virtual Product after setting the shipping address on Cart that contains Downloadable Product only"
### Preconditions (*)

1. No preconditions

### Steps to reproduce (*)

1.  Create a cart with a downloadable product and try to set the shipping address

### Expected result (*)

1. A proper message

### Actual result (*)

1. Message about Virtual Product
[code]

[2019-08-12 16:09] ityetti commented on #24066
@engcom-Charlie
I will test on m23-develop.
But I wrote a version with which this bug is reproduced (2.3.2 - which was download from Magento website). If this is fixed in a future version, that’s good.

[2019-08-12 16:25] AndyJAllen commented on #24113
How am I supposed to confirm the issue as requested by the assistant bot?

[2019-08-12 16:45] fabianus76 commented on #15684
Hi Modoperator, 2097152 bytes are not 2GB but 2MB !

But yet, you helped me out:
I hat set
memory_limit = 2GB
but this dosn't work, it has to be
memory_limit = 2048M

[2019-08-12 16:54] sshymko commented on #23966
@konarshankar07
I can no longer reproduce the issue manually, but the corresponding automated MFTF tests still intermittently fail although less frequently than before. I don't think the issue is fully resolved.

[2019-08-12 17:11] #23746 closed, assigned to edenduong, syed92hasan

[2019-08-12 17:11] #23984 closed, assigned to edenduong

[2019-08-12 18:07] dwang12 commented on #22737
Hi Guys,

We're also experiencing this in a production setting. Any updates would be greatly appreciated.

Thanks!

[2019-08-12 18:08] konarshankar07 commented on #23966
@sshymko
Can you please provide me which MFTF testing you are getting the error?
Thanks

[2019-08-12 18:11] hostep commented on #23511
Yes indeed.

For the record, for people running against this problem:
This can happen when you take a database where one or multiple of the password hashes of customers and/or admin users got upgraded from the old sha256 hash to the new argon2id hash. And then using that database on a system where you don't have support yet for argon2id.

So if you do run against this problem, try installing libso

[2019-08-12 18:13] sshymko commented on #23966
@konarshankar07
Failing MFTF tests are listed in my comment above https://github.com/magento/magento2/issues/23966#issuecomment-517079435

[2019-08-12 18:13] hostep commented on #22438
Yes indeed, very confusing. @engcom-Charlie on what Magento version did you first test it when you were able to reproduce it? This wasn't on the `2.3-develop` branch I'm guessing?

[2019-08-12 19:01] JustinHermanM commented on #24095
Yes this issue is present in 2.3.1 and 2.3.2 - outdated jquery plugins

[2019-08-12 19:53] Lasim commented on #18248
Same issue.

[2019-08-12 20:12] salehawal commented on #11202
@magento-engcom-team i did give all the permissions to the user but still it is not working...

i came a across this page : https://devdocs.magento.com/guides/v2.3/rest/anonymous-api-security.html

i will try it

[2019-08-12 20:40] alexblueacorn commented on #20229
I'm on 2.3.1 and still seeing it.

[2019-08-13 03:42] vincent2090311 opened #24115 "Color swatch validation issue on product page"
### Preconditions (*)

1. Magento 2.3.2 with sample data
2.

### Steps to reproduce (*)

1. Go to product page with long content (you can add related product or product review to make more height)
2. Dont choose color swatch, click Add to cart button

### Expected result (*)

1. I can see all color swatch options of product (see how it work on magento 2.2)
![Capture 2019-08-13 at 10 40 25](https:/

[2019-08-13 05:48] ihor-sviziev commented on #24027
Hi @Krielkip,
This issue was fixed in https://github.com/magento/magento2/pull/24028 and planned to be included in release 2.3.4.
Related commits:
- https://github.com/magento/magento2/commit/9279b695156d1c92149459115db10b4ebf832881

[2019-08-13 05:48] #24027 closed, assigned to Krielkip

[2019-08-13 06:17] engcom-Bravo commented on #24115
Hello, @vincent2090311. Thanks for applying. I do not quite understand how You manage to do that. Probably I miss something but here is what I've got:
![sampledata](https://user-images.githubusercontent.com/51680745/62919344-115ee600-bdab-11e9-825b-5b0f5ba8309c.gif)
Is Your installation a vanilla one?

[2019-08-13 06:23] vincent2090311 commented on #24115
@engcom-Bravo
With product "Radiant Tee" you just need go to product page, click button add to cart, then you will see the browser scrolling to error section. The problem is after scroll, I dont see the size options (XL, L, M,...), you can ref my screenshot

[2019-08-13 06:48] prabhash76 commented on #24084
@engcom-Charlie can you please let me know what is wrong with the file?

[2019-08-13 07:31] engcom-Charlie commented on #22438
@hostep yes, but i had no deadlocks.

[2019-08-13 07:34] engcom-Charlie commented on #24084
@prabhash76 i don't know, but if you create a product with img and than export it and than you can try to import. All will be ok.

[2019-08-13 07:34] rahulanand77 commented on #8899
This is by default behaviour, home page will come blank. Solution and reason is:

**Reason**

1) Luma theme has widget called "Home Page", which is applicable to Luma theme only.

**Solution**

1) Create a new widget same as "Home Page" and assign it to your custom theme.
2) Set the layout to "Main content area"
3) Choose "Home Page" block.
4) Save and clear your cache. It will show you the same h

[2019-08-13 07:39] engcom-Bravo commented on #24115
Ok, @vincent2090311, thank You for reply. But it seems I do exactly the same You say and I don't get that result. Would You please tell me where I go wrong, considering the gif above and the one below:
![sampledata](https://user-images.githubusercontent.com/51680745/62923401-4de40f00-bdb6-11e9-9cba-56b77b2cc92b.gif)

[2019-08-13 07:39] engcom-Charlie commented on #24112
Hello @salgua
I can't reproduce this issue on fresh Magento 2.3-develop.
So i close this issue. If you can reproduce it on 2.3-develop version please provide your steps.
Thank for your report!

[2019-08-13 07:39] #24112 closed, assigned to engcom-Charlie

[2019-08-13 08:06] sudheers-kensium commented on #24112
Issue reproduced on Magento EE 2.3.1 not in Magento CE.

[2019-08-13 08:08] magento-engcom-team commented on #24113
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19177` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-13 08:09] vincent2090311 commented on #24115
@engcom-Bravo
Here is what I get https://www.loom.com/share/33cb901c4de24c3ea5647736bc471985. Could you check this video

[2019-08-13 08:10] engcom-Charlie commented on #24112
@sudheers-kensium ok, i will test on EE

[2019-08-13 08:29] pradeepnew commented on #15545
Hi,
I have checked for slow queries and below query is found on slow query log. Please suggest any solution for this. I am having magento version 2.3.2

INSERT INTO `search_tmp_5d50e7d779c7f7_98698615` SELECT `main_select`.`entity_id`, SUM(score) AS `relevance` FROM (SELECT DISTINCT `search_index`.`entity_id`, (((0) + (0) + (0)) * 1) AS `score` FROM `catalog_product_index_eav` AS `search_index`
IN

[2019-08-13 08:37] engcom-Charlie commented on #24112
@sudheers-kensium so i still cant reproduce:
1. Store name field containing a single quote (')
![image](https://user-images.githubusercontent.com/51680850/62926909-2729d680-bdbe-11e9-8453-fbec8256787a.png)
2. No any errors in console
![image](https://user-images.githubusercontent.com/51680850/62927038-69ebae80-bdbe-11e9-8db9-faab080fae9e.png)

[2019-08-13 08:45] swnsma opened #24116 "Webapi Swager schema generation fail in case when Get endpoint has param with Extension Attributes"
### Preconditions (*)
1. Magento 2.3.1 & 2.3-develop
2. Created and enabled custom module 'DreamVendor\DreamModule'.

### Steps to reproduce (*)
1. Create php interface which will be used for the endpoint. E.g.
[code]
2. Create SearchRequestInterface. Make it extensible with extension attributes.
[code]
3. Declare your endpoint via `webapi.xml` in `etc` folder of your module.
[code]
4. Flush cache

[2019-08-13 08:53] pandyakrunal commented on #18248
Maybe it happens.

[2019-08-13 08:55] engcom-Charlie commented on #22966
Hello @gtlt
I close this issue because its duplicate of #23755 issue.
This issue describes the problem differently.
Thank for your report!

[2019-08-13 08:55] #22966 closed, assigned to engcom-Charlie

[2019-08-13 08:58] sudheers-kensium commented on #24112
@engcom-Charlie Thanks for reply, I have followed below steps.
1) I have entered Store Name like "Sudheer's" and saved
2) Go to Sales -> Payment Methods -> Enable Cash On Delivery Payment Method and click on Save config not working (Save Config button not working)

[2019-08-13 09:18] edenduong opened #24118 "Missing "expand/collapse" icon in paypal setting"
### Preconditions (*)

1. 2.3-develop

### Steps to reproduce (*)

1. Go to backend
2. Stores->Configuration
3. Sales->Payment Methods
4. Check the screen. No "expand/collapse" icon

![image](https://user-images.githubusercontent.com/8234209/62930056-dcbc5000-bde5-11e9-842c-0f9f8b40b5a6.png)

### Expected result (*)

Have the icon:

![image](https://user-images.githubusercontent.com/8234209/629298

[2019-08-13 09:18] magento-engcom-team commented on #24116
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19179` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-13 09:24] kuldeepkaushik commented on #19604
When i am trying to run coposer install command in command prompt . it's end with with a error

amzn/amazon-pay-and-login-with-amazon-core-module 3.2.9 requires php 7.1.3- 7.2.0 your php version 7.3.2 doesn't satisfy that requirment.

I installed xampp with php 7.3 . do you think i should switch to php 7.2 for magento 2.3 ?

Best Regards
Kuldeep

[2019-08-13 09:25] magento-engcom-team commented on #24118
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19181` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-13 09:30] engcom-Charlie commented on #24112
@sudheers-kensium i tried to reproduce follow your steps and all works fine(saved the configuration with any errors in console).

[2019-08-13 09:31] engcom-Charlie commented on #24112
@sudheers-kensium please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/), for advice or general discussion about this issue.

[2019-08-13 09:47] magulin commented on #22297
Hi @atishgoswami!
Any update regarding this?

[2019-08-13 10:44] Naberdz opened #24120 "tmp dir file doen't exists error"
### Preconditions (*)

1. magento 2.3.2
2. php 7.2

### Steps to reproduce (*)

1. Create module to add images for product from url ( we have custom module since it uses api to connect and get product data )
[code]
for complete file refer this url: https://magento.stackexchange.com/a/173440/77261

### Expected result (*)

1. Image should be added to product

### Actual result (*)

1. We get error

[2019-08-13 10:44] jcconde commented on #10709
Guys, it's still happening on Magento 2.2.4 and @p-bystritsky, the pull request link is broke

[2019-08-13 10:53] engcom-Bravo commented on #24115
Yes @vincent2090311, Your issue is really reproduced on 2.3.2 version but it is not reproduced on 2.3-develop version, not even in 2.3.3. That means the issue have already been fixed. Thus we are supposed to close the issue. But please feel free reopen it if You manage to reproduce it on a vanilla 2.3-develop instance.

[2019-08-13 10:53] #24115 closed, assigned to nobody

[2019-08-13 10:57] janmech commented on #21689
Any news on that issue? I experience something similar: Some layout XMLs in a custom module are not loading in production mode, but in developer and standard mode they load as expected.

[2019-08-13 10:59] engcom-Bravo commented on #23672
@Haiwera, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-08-13 10:59] #23672 closed, assigned to nobody

[2019-08-13 11:24] geet07 commented on #24037
@magento give me 2.3-develop instance

[2019-08-13 11:24] magento-engcom-team commented on #24037
Hi @geet07, here is your [Magento instance](https://i-24037-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24037-2-3-develop.instances.magento-community.engineering/admin](https://i-24037-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-13 11:42] TomashKhamlai opened #24122 "Cannot change product type from downloadable to virtual by unchecking "Is this downloadable Product?""
### Preconditions (*)

1. Downloadable Product 1
qty: 100500
status: enabled, IN_STOCK
weight: This item has no weight
links: no links, just samples
samples: 1 sample file

### Steps to reproduce (*)

1. Log in as Admin
2. Open Downloadable Product 1
3. Uncheck "Is this downloadable Product?"
4. Save the product

### Expected result (*)

1. Save is effective.
2. I can buy a virtual product with th

[2019-08-13 11:50] arushibansal013 opened #24123 "sales_invoice table "total_qty" is mismatched with sales_order table "total_qty_ordered""
### Preconditions (*)

1. Issue is replicating in Magento 2.2.5, 2.3.x

### Steps to reproduce (*)

1. Place an order with configurable product.
2. Do invoice for the order. Issue can be easily understood if full invoice is done

### Expected result (*)

1. 'total_qty_ordered' in sales_order should be equal to 'total_qty' in sale_invoice

### Actual result (*)

1. 'total_qty_ordered' in sales_orde

[2019-08-13 11:55] DanielRuf commented on #19604
Yes, please switch to PHP 7.2

2.3.3 may support 7.3, see https://github.com/magento/magento2/issues/24062#issuecomment-519463117

[2019-08-13 12:05] subhropots opened #24124 "Something went wrong while saving the category Magento 2.1.16"
Magento verion 2.1.16. Whenever I am trying to create a new category I am getting the error -  Something went wrong while saving the category.
In the exception log its showing
[2019-08-13 10:33:09] main.CRITICAL: RuntimeException: Can't create directory /home/onelifehair/public_html/var/generation/Magento/Framework/App/Response/Http/. in /home/onelifehair/public_html/vendor/magento/framework/Code/

[2019-08-13 12:17] engcom-Bravo commented on #24124
Hello @subhropots. Thanks for applying. The issue You are facing is not a core bug of Magento - the kind this repository is intended posting for. Magento Users successfully create categories every day. So please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-08-13 12:17] #24124 closed, assigned to nobody

[2019-08-13 13:40] magento-engcom-team commented on #24122
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19186` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-13 13:47] mbautista commented on #11885
@roman204 quick fix worked for us, thank you very much :)
Here is the code to install this fix :
[code]

[2019-08-13 13:51] Naberdz commented on #24120
found problem, seem to be this line:
`$product->addImageToMediaGallery($newFileName, $imageType, true, $visible);`
if change it to `$product->addImageToMediaGallery($newFileName, $imageType, false, false);`

error with file not found is solved and image is properly saved.

[2019-08-13 13:51] #24120 closed, assigned to nobody

[2019-08-13 14:15] ghost opened #24125 "Unable to make field depend on field from a different group"
### Preconditions (*)
1. Magento 2.3.1
2. PHP 7.2.17

### Steps to reproduce (*)
1. Create custom module with system.xml
2. In system.xml create some nested groups of fields
3. For a field in a nested group, add a `<depends>` directive to depends on a field in the parent group

### Expected result (*)
1. Field with the `<depends>` should not be visible until the parent field is set to the specifie

[2019-08-13 14:46] sdzhepa commented on #10644
Hello  @fvschie

The issue was investigated by the internal Magento team in the scope of Jira tickets: `MAGETWO-97554`, `MAGETWO-97553`
Also was additional discussion and review by Product Managers and as result tickets were closed with resolution `Won't Fix`.
Explanation: It is expected behavior "by design - configurable product doesn't have a price". So , such changes will not be approved and ac

[2019-08-13 14:46] #10644 closed, assigned to nobody

[2019-08-13 15:06] cshirish opened #24126 "Freshly installed Magento 2.3.2 does not shows Options un Content for any Menu items when PageSpeed is on"
### Preconditions (*)

1. Magento version 2.3.2
2. None of the Content tabs are loading information other than header. Example please check this screenshot: https://pasteboard.co/Istx0kb.png

The Magento 2.3.2 installed is running Varnish and Nginx 1.16.0 and pagespeed module. Below is the output of Nginx -V command

nginx version: nginx/1.16.0
built by gcc 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16

[2019-08-13 16:35] josefbehr commented on #21353
@shikhamis11 So, we can create coupons that contain or end in "/" in the backend, but then not apply them in the frontend? Then we should fix the application of code, or completely block creation of such coupons.

[2019-08-13 16:44] salehawal opened #24127 "Magento Api | Blocked user dosent unlock automatically after 30 minutes"
#22849 # Preconditions (*)
1. Magento 2.3
2. PHP 7.1

### Steps to reproduce (*)
1. Change user password
2. update mobile app admin access token user/password

### Expected result (*)
1. app should be able to get data from site
2. logged in user should be apple to process orders

### Actual result (*)
1. when reaching checkout page, user get error unauthorized and will be forced to login again, af

[2019-08-13 16:44] shikhamis11 commented on #21353
Hi @josefbehr
I think that must be completely blocked but
I will discuss this with Magento members and let you know the exact fix for this

[2019-08-13 16:46] salehawal commented on #24127
just in case you asked ...
![Screenshot from 2019-08-13 18-44-59](https://user-images.githubusercontent.com/3238761/62960250-93c2c680-bdfa-11e9-8e7b-b1e84abde28f.png)
![Screenshot from 2019-08-13 18-45-19](https://user-images.githubusercontent.com/3238761/62960257-96bdb700-bdfa-11e9-8839-e6760a12ff35.png)

[2019-08-13 17:20] rodrigowebjump commented on #24127
@magento give me 2.3-develop instance

[2019-08-13 17:20] magento-engcom-team commented on #24127
Hi @rodrigowebjump. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-13 17:20] magento-engcom-team commented on #24127
Hi @rodrigowebjump, here is your [Magento instance](https://i-24127-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24127-2-3-develop.instances.magento-community.engineering/admin](https://i-24127-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-13 18:45] sdzhepa commented on #24058
Hell @j-robin-hunter

The issue has been fixed  by @edenduong and delivered with https://github.com/magento/magento2/pull/24079

[2019-08-13 18:45] #24058 closed, assigned to edenduong

[2019-08-13 21:10] adifucan commented on #22995
jQuery UI library was split into separate components for frontend area.​
All core modules that rely on entire jQuery UI library have had their dependency lists modified to import just the jQuery UI components they need.​
Adminhtml modules still rely on entire jQuery UI library.​

So, if you never declared dependency to jQuery UI library in your JS component but used it, you may get an error. You s

[2019-08-13 21:34] sidolov commented on #23301
@p-bystritsky according to the https://github.com/php-fig/fig-standards/blob/master/proposed/phpdoc.md#appendix-a-types definition ampersand should be used for intersection type. For variables passed by reference, such docblock is invalid. DocBlock should be fixed instead of code sniff. I'm closing this bug as not relevant.

[2019-08-13 21:34] #23301 closed, assigned to p-bystritsky

[2019-08-13 21:36] cshirish commented on #24126
Hi,

I think I found a work around by disabling the pagespeed for admin URL.

Thanks a lot

[2019-08-13 21:36] #24126 closed, assigned to nobody

[2019-08-13 22:48] r-martins opened #24128 "Fail to upload image on configurable returns "alert("true")""
### Summary of the issue (*)
An alert saying **true** is displayed when trying to upload a large image in one of the configurable options created under _Configurations_ section, when creating a new configurable product.

### Preconditions (*)
1. Magento 2.3.2 Open Source, Production mode. Also reproducible on 2.4-develop in Default mode
2. Nginx/1.14.0 (Ubuntu)
3. PHP 7.1.30
4. Opcache v. 7.1.30
5

[2019-08-13 22:50] r-martins commented on #24128
@magento give me 2.3-develop instance

[2019-08-13 22:50] magento-engcom-team commented on #24128
Hi @r-martins. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-13 22:51] magento-engcom-team commented on #24128
Hi @r-martins, here is your [Magento instance](https://i-24128-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24128-2-3-develop.instances.magento-community.engineering/admin](https://i-24128-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-13 22:55] r-martins commented on #24128
Yes, I can reproduce it on the dev instance provided by @magento
<img width="2672" alt="image" src="https://user-images.githubusercontent.com/191149/62983011-4897ca80-be71-11e9-87af-b8461e98421b.png">

[2019-08-14 00:19] marciomaciel commented on #19597
Confirmed with Magento 2.3.1 on MySQL 5.6.

[2019-08-14 02:01] magento-engcom-team commented on #24128
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19215` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-14 04:40] BharathN96 commented on #24118
give me magento 2.1 instance

[2019-08-14 05:08] tonycr7 commented on #23618
I also have this issue with my test account in M 2.3.2. I don't know the root cause for it, so i added a work around for it as:
in magento/vendor/magento/module-quote/Model/QuoteAddressValidator.php
change the function validateForCart as
from :
 public function validateForCart(CartInterface $cart, AddressInterface $address): void
    {
        $this->doValidate($address, $cart->getCustomerIsGuest(

[2019-08-14 05:10] brandonbai opened #24130 "REST API '/rest/V1/orders/create' return "Email has a wrong format"."
### Preconditons (*)

magento version:  **2.3.2**

### Steps to reproduce (*)

**I was shocked to find that this was related to the order of keys.**

1. call 'PUT /rest/V1/orders/create', body (eliminate other fields.):

[code]

2. call 'PUT /rest/V1/orders/create', body (eliminate other fields.):

[code]

### Expected result (*)

1. httpStatus: 200

[code]

2. httpStatus: 200

[code]

### Actual

[2019-08-14 06:10] wittyvishwas commented on #24122
@magento give me 2.3-develop instance

[2019-08-14 06:10] magento-engcom-team commented on #24122
Hi @wittyvishwas. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-14 06:11] magento-engcom-team commented on #24122
Hi @wittyvishwas, here is your [Magento instance](https://i-24122-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24122-2-3-develop.instances.magento-community.engineering/admin](https://i-24122-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-14 06:19] svenakela commented on #23970
I can verify the problem, and it works after a revert of the commit @pemann posted.

[2019-08-14 06:24] fohnbit commented on #23508
Hello,

as you in see in my video it is not working. Please check my video.

Thank you!

[2019-08-14 07:06] engcom-Charlie commented on #23970
@svenakela can you verify the problem on Magento 2.3-develop?

[2019-08-14 07:38] engcom-Charlie commented on #24123
Hello @arushibansal013
I can't reproduce this issue on fresh Magento 2.3-develop.

**Manual testing scenario:**

1. Place an order with configurable product(i placed order with 2 child products with 3 qty for each)
2. Do invoice for the order.
3. Check 'total_qty_ordered' in sales_order & 'total_qty' in sale_invoice

**Actual result:**
total_qty_ordered  & total_qty have the same value
![image](ht

[2019-08-14 07:38] #24123 closed, assigned to engcom-Charlie, sudheer-gajjala

[2019-08-14 07:39] engcom-Bravo commented on #24130
Hello, @brandonbai. This issue seems to be a duplicate of #22998 which already has been fixed in 2.3-develop branch. So we are closing Your issue now, but please feel free to reopen it if You manage to reproduce it on the latest develop branch. Thanks for applying.

[2019-08-14 07:39] #24130 closed, assigned to engcom-Bravo

[2019-08-14 07:49] engcom-Bravo commented on #23964
Hi, @squeegy06.
Unfortunately, I do not have direct Pull Request number or commits where exactly in was fixed.
I tried to find at least something similar by keywords in the internal Jira and closed GitHub issues but did not find.
It could mean this issue was fixed in the scope of some other task/ticket/issue internally or by community.
Here is a similar issue to Yours #12386 that is said to have a

[2019-08-14 07:59] chrisbadley commented on #5863
This still occurs on Magento 2.3.2, I can actually sit there fetching the records from the url_rewrite table with MySQL Workbench and watch entries in the table vanish before my eyes, on a staging environment, with no transaction, imports or visits occurring at the time. Nothing is in the log files.

This could result in masses of products returning 404 errors from search results and decimate a we

[2019-08-14 08:05] engcom-Charlie commented on #24127
Hello @salehawal
I can't reproduce this issue on fresh Magento 2.3-develop.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/), for advice or general discussion about this issue.

[2019-08-14 08:05] #24127 closed, assigned to engcom-Charlie

[2019-08-14 08:09] engcom-Charlie commented on #24063
@gunjanparekh I am closing this issue now due to inactivity.
Please update if you wish to continue.
Thank you for the collaboration!

[2019-08-14 08:09] #24063 closed, assigned to nobody

[2019-08-14 08:11] engcom-Charlie commented on #24059
@avoelkl I am closing this issue now due to inactivity.
Please reopen and update if you wish to continue.
Thank you for the collaboration!

[2019-08-14 08:11] #24059 closed, assigned to engcom-Charlie

[2019-08-14 08:16] pemann commented on #22609
I think this commit has changed the root folder: https://github.com/magento/magento2/commit/a270b5b1a5d0cbec6752d1e95d797d3d84d000b8#diff-624b27794e761bd53831eba1ede517bcR74

[2019-08-14 08:25] Detzler commented on #23970
Confirm bug on Magento v2.3.2.

The condition is to switch the tinyMCE from version 4 to version 3 in the backend config (General > Content Management)

[2019-08-14 08:29] jaromirmuller commented on #15545
We have same issue on 2.3.2 with sample data. It appears when you have 8 and more filters enabled.

[2019-08-14 08:35] simonmaass commented on #5863
@chrisbadley can also confirm this in 2.3.2 aswell!

[2019-08-14 08:35] engcom-Charlie commented on #23970
@Detzler thank for contributing! Now i can confirm.

[2019-08-14 08:37] matin73 opened #24131 "Error in checkout if customer has no default shipping address and multiple addresses"
### Preconditions (*)

1. Magento 2.2.9

### Steps to reproduce (*)

1. Add customer account and add minimum 2 address. DO NOT add default shipping address or DISABLE default shipping address in admin for customer (s. screenshot)
2. Login in shop and add some items to cart.
3. Go to checkout

- [ ]

### Expected result (*)

1. Checkout page loading correct

### Actual result (*)

1. Checkout page

[2019-08-14 08:37] magento-engcom-team commented on #23970
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19219` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-14 08:49] engcom-Bravo commented on #23456
Hello @hzubyrss. Problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository. So please reopen Your issue there. Thank You.

[2019-08-14 08:49] #23456 closed, assigned to nobody

[2019-08-14 09:25] engcom-Charlie commented on #24033
Hello @S-Boiko
I can't reproduce this issue on fresh Magento 2.3-develop.

**Manual testing scenario:**

1. An order with different items are created (Pay with PayPal):
3items - Olivia 1/4 Zip Light Jacket (Size: M, Color: Blue)
2items - Fusion Backpack
Shipment - Fixed $25.00
Address: Main St, San Jose, CA 95131 United States
2. Go to Magento as admin
3.Create three invoices:
Invoice 1 - Olivia 1

[2019-08-14 09:25] #24033 closed, assigned to engcom-Charlie

[2019-08-14 09:51] venugopal-codilar commented on #22257
@magento give me 2.3-develop instance

[2019-08-14 09:51] magento-engcom-team commented on #22257
Hi @venugopal-codilar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-14 09:51] magento-engcom-team commented on #22257
Hi @venugopal-codilar, here is your [Magento instance](https://i-22257-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22257-2-3-develop.instances.magento-community.engineering/admin](https://i-22257-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-14 10:06] BharathN96 commented on #24131
Give me @magento give me 2.3-develop instance

[2019-08-14 10:06] magento-engcom-team commented on #24131
Hi @BharathN96. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-08-14 10:06] magento-engcom-team commented on #24131
Hi @BharathN96, here is your [Magento instance](https://i-24131-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24131-2-3-develop.instances.magento-community.engineering/admin](https://i-24131-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-08-14 10:08] venugopal-codilar commented on #22257
1. Advanced Price.

![Screenshot from 2019-08-14 15-33-24](https://user-images.githubusercontent.com/26595808/63013239-6d0f9900-bea9-11e9-8f5d-6760a79d7827.png)

2. Normal Price

![Screenshot from 2019-08-14 15-34-08](https://user-images.githubusercontent.com/26595808/63013241-6da82f80-bea9-11e9-8d0b-e561f14515de.png)

3. PDP

![Screenshot from 2019-08-14 15-34-37](https://user-images.githubuserco

[2019-08-14 10:10] engcom-Bravo commented on #24131
Hello @matin73. Thank You for reporting. We've been not able to reproduce Your issue, following the steps provided. Can You confirm You are able to reproduce Your issue on a vanilla instance of 2.3-develop version?

[2019-08-14 10:14] venugopal-codilar commented on #22257
@kandy  I'm able to reproduce this in Magento 2.3.x

[2019-08-14 10:17] magento-engcom-team commented on #22257
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19221` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-14 10:40] BharathN96 commented on #24131
Issue is not reproduced in vanilla instance of 2.3-develop version.

[2019-08-14 10:52] avstudnitz commented on #12205
This fix not being in Magento 2.3.2 has just cost us several days of work. Will it be in 2.3.3 @magento-engcom-team?

[2019-08-14 11:00] PatrickVisserNZ opened #24132 "Error when saving product in admin - Plugin doesn't exist"
Error = Plugin class Magento\InventoryLowQuantityNotification\Plugin\InventoryLowQuantityNotificationApi\UpdateLegacyStockItemConfigurationAtSourceItemConfigurationSavePlugin doesn't exist

1. Magento 2.3.2
2. PHP 7.2

### Steps to reproduce (*)

1. Open product in admin area
2. Save Product
and . . .
Problem also exists when using Command Line  php bin/magento setup:di:compile

### Expected resul

[2019-08-14 11:12] ninjacoder30 opened #24133 "Couldnot Place Order - A server error stopped your order from being placed. Please try to place your order again"
Magento 2.3.2 Enterprise Edition.

Check / Money order :- Payment Method.

On Checkout - Place Order getting following error

[code]

[2019-08-14 11:26] engcom-Bravo commented on #24132
Hello @PatrickVisserNZ. Thanks for applying. Do we miss something here:
![dowemiss](https://user-images.githubusercontent.com/51680745/63017579-6714ba80-be9f-11e9-83c5-91279b23e0c6.gif)

[2019-08-14 11:33] engcom-Bravo commented on #24133
Hi, @saigadekar. Its not a core bug of Magento - the one this repository is intended for. If it were that nobody else using 2.3.2 could place an order with Check/Money Order Payment Method. So please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. Thanks for a

[2019-08-14 11:33] #24133 closed, assigned to engcom-Bravo

[2019-08-14 12:40] sudheer-gajjala opened #24134 "Unable to create a new product with the existing product name in the database. Getting error message "The value specified in the URL Key field would generate a URL that already exists.""
### Description (*)

While duplicating a product , product sku, and url key will be auto generated. So user can save the product without having any problem with mandatory fileds.

If we are creating a new product with the same name, system is blocking the user by asking to enter a unique URL key. But SKU will be generated automatically.

So just like in duplicating a product page, in create new pr

[2019-08-14 12:55] magento-engcom-team commented on #24134
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-19225` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-08-14 14:36] mertgokceimam commented on #23908
This is an issue that effects both Magento 2.2.9 and 2.3.2

It is also pretty disturbing to see Magento team denies that such issue exist. I can also confirm that the issue occurs on a clean installation.

Thanks to @sbrendtro we corrected the issue on our shop but denying such important issues on an Enterprise solution is not acceptable on magento teams behalf.

[2019-08-14 15:20] #24113 closed, assigned to nobody

[2019-08-14 15:24] HolyWalley opened #24135 "Magento 2.3.1 Rest API getting empty extension_attributes field using search criteria on shipments endpoint"
If you try to get a shipment list from the /shipments endpoints using search criteria you will get an empty extension_attributes field.

**Preconditions**
Magento 2.3.1 & 2.3-develop
PHP 7

**Steps to reproduce**
1.Perform a curl to YOUR_MAGENTO_HOST/rest/V1/shipments?searchCriteria[pageSize]=X&searchCriteria[currentPage]=Y with an authorization header
2.Check the returned JSON

**Expected result*

[2019-08-14 15:26] fr33ztyl3 commented on #6609
Same issue as @trucatchtraps. Fresh Magento 2.3.2 installation using Luma.

[2019-08-14 15:45] engcom-Bravo commented on #23908
Dear members of this conversation. Please provide the steps following which we can reproduce the issue on a vanilla Magento installation of 2.3-develop version - the issue will be immediately reopened and confirmed. Dear @onepack, we are not eager to close the issues. We just follow our workflow (please see details to step 4 of this comment above https://github.com/magento/magento2/issues/23908#is

[2019-08-14 15:53] zaximus84 commented on #7399
This is not fixed in 2.2. The CSS for pointer-events is present, but modal.js doesn't actually handle a click on the overlay. clickableOverlay is present in the default options, but it's not found anywhere else in the file (meaning it's not used). Comparing 2.1, 2.2, and 2.3, the _createOverlay method is lacking lines in 2.2.

[2019-08-14 15:53] daschenbrener commented on #15427
Same here in 2.3.2, is there anyone working on this @magento-engcom-team as this is also affecting the payflo pro as well.

[2019-08-14 15:55] daschenbrener commented on #15427
did this work for you?

[2019-08-14 16:00] mertgokceimam commented on #23908
It is really hard to reproduce as this is not an existing issue for everyone. For example when i checked our production instance , we had 85 total user quote that was effected by the issue. We of course corrected the quote issue but a step by step way to reproduce it is extremely hard.

[2019-08-14 16:02] marco7319 commented on #19542
Hello
I have the same problem when I import my magento 2.3.2 database into a new database at a new host.
Can you explain to me the steps please?
delete the view = delete the table?
Thank you

[2019-08-14 17:39] shweta2014 commented on #19228
I am getting the same issue, I have installed Memcached and using Magento 2.2.7. I dont think its custom theme issue, as i checked the files all the code is coming from Magento/Customer.

[2019-08-14 18:58] hassan-plt commented on #8897
Experience in 2.3.1, load product using product repository & on save it added store_view_code as default. on export it duplicate row with just value dded store_view_code = default

[2019-08-14 19:20] magento-engcom-team commented on #23953
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#23954 by @edenduong in 2.3-develop branch
Related commit(s):
 - [c2de0bacb3040baa477629eedf89aa1dfb0dcf60](https://github.com/magento/magento2/commit/c2de0bacb3040baa477629eedf89aa1dfb0dcf60)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-14 19:20] #23953 closed, assigned to edenduong

[2019-08-14 19:20] magento-engcom-team commented on #18685
Hi @qsolutions-pl. Thank you for your report.
The issue has been fixed in magento/magento2#23839 by @edenduong in 2.3-develop branch
Related commit(s):
 - [e77fc028bc2f22b8dfccd1961491b0c08318249a](https://github.com/magento/magento2/commit/e77fc028bc2f22b8dfccd1961491b0c08318249a)
 - [997a050518a374589f919073b6539b83ecaf3c02](https://github.com/magento/magento2/commit/997a050518a374589f919073b653

[2019-08-14 19:36] hostep commented on #22609
I've left some more findings of this problem in https://github.com/magento/magento2/pull/22681#issuecomment-521386307

I think the biggest problem is that if the `wysiwyg` directory does not exist yet, you see the behavior I initially reported. But when you manually create a `wysiwyg` directory, it will correctly select that one as a default in the tree. So that would already be a first good solut

[2019-08-14 21:11] amanuni commented on #23618
I added it below mention code at beginning of doValidate function.

[code]

And its seems working fine.

[2019-08-14 21:55] magento-engcom-team commented on #24100
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24101 by @edenduong in 2.3-develop branch
Related commit(s):
 - [20f88ecc42140fe5ed504678ffa5de0e8a734cea](https://github.com/magento/magento2/commit/20f88ecc42140fe5ed504678ffa5de0e8a734cea)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-14 21:55] #24100 closed, assigned to edenduong

[2019-08-14 21:55] magento-engcom-team commented on #24096
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24097 by @edenduong in 2.3-develop branch
Related commit(s):
 - [3945a4c5b33ea0c573180a52d209d9a1b1ef382b](https://github.com/magento/magento2/commit/3945a4c5b33ea0c573180a52d209d9a1b1ef382b)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-14 21:55] #24096 closed, assigned to edenduong

[2019-08-14 21:55] magento-engcom-team commented on #23516
Hi @jigar48. Thank you for your report.
The issue has been fixed in magento/magento2#23533 by @sunilit42 in 2.3-develop branch
Related commit(s):
 - [5853484d582f230087e425df39a372135b6e9bf7](https://github.com/magento/magento2/commit/5853484d582f230087e425df39a372135b6e9bf7)
 - [5bb135860dec61fd4d19aa37729c44f71e0981df](https://github.com/magento/magento2/commit/5bb135860dec61fd4d19aa37729c44f71e

[2019-08-14 21:55] #23516 closed, assigned to sunilit42

[2019-08-14 21:55] magento-engcom-team commented on #23143
Hi @atwixfirster. Thank you for your report.
The issue has been fixed in magento/magento2#23144 by @atwixfirster in 2.3-develop branch
Related commit(s):
 - [85bd3ec21912f464117f7a696fb60d4e8cdd06fe](https://github.com/magento/magento2/commit/85bd3ec21912f464117f7a696fb60d4e8cdd06fe)
 - [dda454d8f18d10e4aa62facbae65041fabb4d25a](https://github.com/magento/magento2/commit/dda454d8f18d10e4aa62facbae

[2019-08-14 21:55] magento-engcom-team commented on #24098
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#24099 by @edenduong in 2.3-develop branch
Related commit(s):
 - [fa78bfaa752d6f2e970439f6826e6a66a869bc36](https://github.com/magento/magento2/commit/fa78bfaa752d6f2e970439f6826e6a66a869bc36)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-14 21:55] #24098 closed, assigned to edenduong

[2019-08-14 21:55] magento-engcom-team commented on #23936
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#24088 by @gwharton in 2.3-develop branch
Related commit(s):
 - [2e3c5696266228ec2ebf5fd192bbb33febb4cff8](https://github.com/magento/magento2/commit/2e3c5696266228ec2ebf5fd192bbb33febb4cff8)

The fix will be available with the upcoming 2.3.4 release.

[2019-08-14 21:55] #23936 closed, assigned to gwharton

[2019-08-14 21:55] magento-engcom-team commented on #23646
Hi @juhanihaapala. Thank you for your report.
The issue has been fixed in magento/magento2#23684 by @edenduong in 2.3-develop branch
Related commit(s):
 - [2048b40ce5dd3ea7c6344cb0a33dca6cc10954d9](https://github.com/magento/magento2/commit/2048b40ce5dd3ea7c6344cb0a33dca6cc10954d9)
 - [6ae022367e1dd3a6e40d6b9d602f525f2bae900e](https://github.com/magento/magento2/commit/6ae022367e1dd3a6e40d6b9d602f

[2019-08-14 21:55] #23646 closed, assigned to edenduong

[2019-08-14 21:55] magento-engcom-team commented on #23738
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#23739 by @edenduong in 2.3-develop branch
Related commit(s):
 - [d8b4d828f5d9e8d5bea3e64b46c2845544865f89](https://github.com/magento/magento2/commit/d8b4d828f5d9e8d5bea3e64b46c2845544865f89)
 - [101a9f3521535fc100dcf0ea9e684a307f3be6f4](https://github.com/magento/magento2/commit/101a9f3521535fc100dcf0ea9e684a30

[2019-08-14 21:55] #23738 closed, assigned to edenduong

[2019-08-14 22:07] ArthurSCD commented on #23450
After updating to 2.3.2, I started to experience issues that seem to be related to this as well. What I was doing was setting an attribute for multiple products at once. It would give me a message like so;
http://puu.sh/E5h3e/10b3c9a900.png

It never processed however. I found them sitting like mentioned above:
` php bin/magento queue:consumers:list`
[code]

[2019-08-15 00:23] robyerevan commented on #13823
For me this crush happens when cat=1 parameter passed in URL after category path.
Example
https://www.currentcatalog.com/gifts.html?cat=1
I hope this helps to debug further

Such URL traffic appears to be from crawlers.

    {
        $this->_renderFilters();
        $result = [];
        $aggregations = $this->searchResult->getAggregations();
        // This behavior is for case with empty object