[2021-03-01 01:28] magento-engcom-team commented on #20413
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-01 01:28] magento-engcom-team commented on #20440
Hi @nareshjiva.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24308` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #20255
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-01 01:28] magento-engcom-team commented on #20538
Hi @mmenozzi.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24327` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #20684
Hi @kalalruturaj.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24335` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #20915
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-01 01:28] magento-engcom-team commented on #20975
Hi @PascalBrouwers.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24324` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #21010
Hi @tomalowsky.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24145` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #21066
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-01 01:28] magento-engcom-team commented on #21106
Hi @sshymko.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24354` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #21152
Hi @kanduvisla.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24309` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #21403
Hi @DanielRuf.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24319` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #21490
Hi @fgagne.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24414` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #21641
Hi @sparrowek.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24098` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #21728
Hi @swetacedcoss.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24445` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #21735
Hi @bonucci.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24403` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #21783
Hi @onepack.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24434` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #21835
Hi @tnsezer.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24118` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #21883
Hi @likemusic.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24311` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:28] magento-engcom-team commented on #21914
Hi @onepack.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24422` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:29] magento-engcom-team commented on #24266
Hi @sebastianCarry.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24176` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:29] magento-engcom-team commented on #24325
Hi @twistedindustries.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24021` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:29] magento-engcom-team commented on #24496
Hi @prabhatrawat-webkul.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24071` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:29] magento-engcom-team commented on #24840
Hi @hasim32.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-29036` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:29] magento-engcom-team commented on #24527
Hi @mdruguet.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24190` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:29] magento-engcom-team commented on #24840
Hi @hasim32.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24865` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 01:31] magento-engcom-team commented on #24372
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-01 03:33] #24536 closed, assigned to nobody

[2021-03-01 03:33] #4642 closed, assigned to nobody

[2021-03-01 03:33] #5013 closed, assigned to nobody

[2021-03-01 03:33] #5724 closed, assigned to nobody

[2021-03-01 03:33] #6895 closed, assigned to nobody

[2021-03-01 03:33] #6991 closed, assigned to nobody

[2021-03-01 03:34] #7266 closed, assigned to nobody

[2021-03-01 03:34] #7939 closed, assigned to nobody

[2021-03-01 03:34] #8612 closed, assigned to nobody

[2021-03-01 03:34] #8126 closed, assigned to nobody

[2021-03-01 03:34] #9248 closed, assigned to nobody

[2021-03-01 03:34] #9274 closed, assigned to nobody

[2021-03-01 03:34] #9280 closed, assigned to nobody

[2021-03-01 03:34] #9322 closed, assigned to nobody

[2021-03-01 03:34] #9366 closed, assigned to nobody

[2021-03-01 03:34] #9377 closed, assigned to nobody

[2021-03-01 03:36] magento-engcom-team commented on #24536
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-01 04:33] #17164 closed, assigned to nobody

[2021-03-01 04:33] #17255 closed, assigned to nobody

[2021-03-01 04:33] #17367 closed, assigned to nobody

[2021-03-01 04:33] #17349 closed, assigned to nobody

[2021-03-01 04:33] #17388 closed, assigned to nobody

[2021-03-01 04:33] #17403 closed, assigned to nobody

[2021-03-01 04:33] #17447 closed, assigned to nobody

[2021-03-01 04:33] #17458 closed, assigned to nobody

[2021-03-01 04:33] #17461 closed, assigned to nobody

[2021-03-01 04:33] #17556 closed, assigned to nobody

[2021-03-01 04:33] #17597 closed, assigned to nobody

[2021-03-01 04:33] #17653 closed, assigned to nobody

[2021-03-01 04:33] #17706 closed, assigned to nobody

[2021-03-01 04:33] #17802 closed, assigned to nobody

[2021-03-01 04:33] #17796 closed, assigned to nobody

[2021-03-01 04:33] #17898 closed, assigned to nobody

[2021-03-01 04:33] #18359 closed, assigned to nobody

[2021-03-01 04:33] #18519 closed, assigned to nobody

[2021-03-01 04:33] #18787 closed, assigned to nobody

[2021-03-01 04:33] #19016 closed, assigned to nobody

[2021-03-01 04:33] #19221 closed, assigned to nobody

[2021-03-01 04:33] #20139 closed, assigned to nobody

[2021-03-01 04:35] magento-engcom-team commented on #17164
Hi @carolineboivin.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24531` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 04:36] magento-engcom-team commented on #18359
Hi @sergei-sss.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24619` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 04:36] magento-engcom-team commented on #18519
Hi @sezio.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24336` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 04:36] magento-engcom-team commented on #18787
Hi @pmclain.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24396` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 04:36] magento-engcom-team commented on #19016
Hi @chrom.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24126` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 04:36] magento-engcom-team commented on #20139
Hi @kanduvisla.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24347` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 05:31] arslan-eg commented on #32242
@magento give me 2.4-develop instance

[2021-03-01 06:19] koushikch7 commented on #12493
@vishalmangoitsolutions  can you please give me how this as resolved? are you using a special price as mentioned by @popovdenis? your input will be helpful.

[2021-03-01 06:55] #14663 closed, assigned to nobody

[2021-03-01 06:55] #14626 closed, assigned to nobody

[2021-03-01 06:55] #14788 closed, assigned to nobody

[2021-03-01 06:55] #14825 closed, assigned to nobody

[2021-03-01 06:55] #14793 closed, assigned to nobody

[2021-03-01 06:55] #14918 closed, assigned to nobody

[2021-03-01 06:55] #14959 closed, assigned to nobody

[2021-03-01 06:55] #15219 closed, assigned to nobody

[2021-03-01 06:55] #15311 closed, assigned to nobody

[2021-03-01 06:55] #15248 closed, assigned to nobody

[2021-03-01 06:55] #15419 closed, assigned to nobody

[2021-03-01 06:55] #15630 closed, assigned to nobody

[2021-03-01 06:55] #15675 closed, assigned to nobody

[2021-03-01 06:55] #15958 closed, assigned to nobody

[2021-03-01 06:55] #15992 closed, assigned to nobody

[2021-03-01 06:55] #16289 closed, assigned to nobody

[2021-03-01 06:55] #16380 closed, assigned to nobody

[2021-03-01 06:55] #16406 closed, assigned to nobody

[2021-03-01 06:55] #16532 closed, assigned to nobody

[2021-03-01 06:55] #16536 closed, assigned to nobody

[2021-03-01 06:55] #16806 closed, assigned to nobody

[2021-03-01 06:55] #16854 closed, assigned to nobody

[2021-03-01 06:55] #16886 closed, assigned to nobody

[2021-03-01 06:55] #16884 closed, assigned to nobody

[2021-03-01 09:24] #10805 closed, assigned to nobody

[2021-03-01 09:24] #10814 closed, assigned to nobody

[2021-03-01 09:24] #11699 closed, assigned to nobody

[2021-03-01 09:24] #11268 closed, assigned to nobody

[2021-03-01 09:24] #12202 closed, assigned to nobody

[2021-03-01 09:24] #13152 closed, assigned to nobody

[2021-03-01 09:24] #13412 closed, assigned to nobody

[2021-03-01 09:24] #12472 closed, assigned to nobody

[2021-03-01 09:24] #13864 closed, assigned to nobody

[2021-03-01 09:24] #14413 closed, assigned to nobody

[2021-03-01 09:25] ihor-sviziev commented on #32278
Hi @carylewis,
Please switch to Varnish for full page cache, as it's recommended FPC option for production, and then check if you have this issue. If the issue still there - please write me on Slack. It would be much faster to chat and find the root of the issue.

[2021-03-01 09:27] magento-engcom-team commented on #12202
Hi @kanduvisla.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-25053` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 10:46] bmitchell-ldg commented on #30128
In our instance we removed both after plugins
Magento\Indexer\Model\Processor\CleanCache function called afterUpdateMview
Magento\Indexer\Model\Indexer\CacheCleaner function called afterExecuteList

The only issue we found when removing those two plugins was the purge not being sent for the $stockThresholdQty logic in Magento\CatalogInventory\Model\Indexer\Stock\CacheCleaner when it needed to flus

[2021-03-01 11:27] dreiren commented on #18229
Hi @denchev, Thank you for your reply. I will try this.

Do you know the cause of this issue?

I have duplicated our prod server to dev and tried the indexing and it went through, the product price indexing took at least 40minutes to finish with no errors.

Do I need to look into MySql server the we are using?

[2021-03-01 11:45] denchev commented on #18229
I don't know exactly. The problem with my project happens only in a production environment and I don't have access to the infrastructure. I believe it is an issue with the memory configuration for MySQL. Maybe there is a threshold that the temporary table goes above and MySQL terminates the temp table. But since it doesn't happen on a local environment nor I have access to modify or even see the p

[2021-03-01 12:16] gabrieldagama opened #32312 "Bundle child items are not displayed on Order Details page"
### Preconditions (*)

1. Magento 2.4-develop
2. Create one bundle product with multiple items
3. Create a user

### Steps to reproduce (*)

1. Login with your user
2. Place an order with the bundle product
3. Go to 'My Account' -> 'My Orders'
4. Open the Order Details page of the recently placed order

### Expected result (*)

1. The bundle child items should be displayed on the order details pag

[2021-03-01 12:20] m2-assistant[bot] opened #32313 "[Issue] Move test to correct folder"
This issue is automatically created based on existing pull request: magento/magento2#32299: Move test to correct folder

---------

### Description (*)

Test was added to wrong directory in https://github.com/magento/magento2/commit/e1aaf74d2eebfb54a152d857dcd2934a3eb79bf8#diff-30a77b243d5ff1daa6ffb8334d475e0b01771e9422dfcea29de3ee62863f8911
![image](https://user-images.githubusercontent.com/18737

[2021-03-01 12:51] khrystynastolbova commented on #31784
@sivaschenko Depend from task #[31346](url)

[2021-03-01 13:07] willryanuk commented on #32270
I'm seeing the same thing on Magento 2.4.2 CE.

[2021-03-01 13:07] frank-bokdam commented on #31975
What I have done to make it work is update the class that is calling the invalid InvoiceCollection, replace `Invoice\Grid\Collection` with `Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult`.

The prevent needing to update the rest of the class you can alias it with the old classname / alias you were using.

After that you have to add an entry to di.xml as follows:
[code]
To rep

[2021-03-01 13:30] HenKun commented on #32270
@willryanuk I don't think these tickets are directly related. The tax is basically calculated correctly (against the assumptions in the linked tickets). As you see in your and my examples, the tax is 0 which is correct.

However, the invoice grand total contains the hidden tax (which is the tax that would be applied without the discount) that results in

1) the grand total of invoice is greater th

[2021-03-01 13:34] HenKun commented on #32270
@willryanuk are you sure smaller discounts work fine? I think the problem ist just not that obvious

[2021-03-01 13:42] ihor-sviziev opened #32315 "Product gallery jumps while loading"
It seems like after https://github.com/magento/magento2/pull/27871 we have a bit jumpy gallery again. My investigation shown that it's happening because of not hiding the thumbnails below the big image.

/CC @krzksz

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1. Open frontend in chrome, open developer tools
2. In the "source tab" set a breakpoint on the following line: https://githu

[2021-03-01 13:42] ihor-sviziev commented on #32315
@magento give me 2.4-develop instance

[2021-03-01 14:04] #30780 closed, assigned to nobody

[2021-03-01 14:06] magento-engcom-team commented on #30780
Hi @apedicdev.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-38924` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-01 14:13] willryanuk commented on #32270
@HenKun unfortunately (and confusingly) it does indeed seem to invoice correctly for smaller discounts.

E.g. here is a discount at 10% where the discount is calculated correctly, and the total paid is calculated correctly. So it only seems to happen for me for larger discounts such as 100%.

![image](https://user-images.githubusercontent.com/374656/109508645-fa204000-7a97-11eb-895b-81397a1c9a2d.p

[2021-03-01 14:17] gabrieldagama commented on #32312
Not an issue.

[2021-03-01 14:17] #32312 closed, assigned to nobody

[2021-03-01 14:19] HenKun commented on #32270
Indeed, that seems to be correct. Since you seem to have a test setup at hand, can you check if a 99% discount gives correct or wrong results?

[2021-03-01 14:34] willryanuk commented on #32270
Yes, a very high discount e.g. 99% gives erroneous totals. Here is a summary from an order that I performed last week which illustrates the bug...

![image](https://user-images.githubusercontent.com/374656/109511649-2a1d1280-7a9b-11eb-8f5f-e8eb6027ca4d.png)

[2021-03-01 14:37] HenKun commented on #32270
OK, that's really weird. Let's wait if a Magento Developer has more insight into the problem.

[2021-03-01 14:53] JoostWan commented on #32270
Same problem over here with a coupon with 100% discount on Magento 2.3.6. Total Paid amount is not zero but the amount is the tax of the order.

[2021-03-01 14:59] barryvdh commented on #32270
This is probably related to https://github.com/magento/magento2/issues/30853

[2021-03-01 15:10] HenKun commented on #32270
@barryvdh Seems to be the same issue, correct. Especially the comment:

indicates why the large amount of 99% fails and the discount of 10% succeeds.

Even more sad that this bug is present since 2.3.6 and known since Nov 2020 and not fixed yet.

[2021-03-01 15:11] JoostWan commented on #32270
@HenKun Fixed my issue (100% discount) with the following change https://github.com/magento/magento2/pull/31556/commits/34ecd22341ba95e13c6dd7407dd74d6b20318487

[2021-03-01 15:25] willryanuk commented on #32270
Fixed it for me as well. I waste a lot of time on Magento with bugs such as this.

[2021-03-01 15:30] HenKun commented on #30853
@engcom-Hotel Is there any ETA or progress?

[2021-03-01 15:57] sivaschenko opened #32317 "Update laminas/laminas-soap to PHP 8 compatible version"
Update laminas/laminas-soap dependency package to PHP 8 compatible version (2.9.0)

[2021-03-01 15:59] sivaschenko opened #32318 "Update laminas/laminas-serializer to PHP 8 compatible version"
Update laminas/laminas-serializer to PHP 8 compatible version (2.10.1)

[2021-03-01 16:00] sivaschenko opened #32319 "Update laminas/laminas-mime to PHP 8 compatible version"
Update laminas/laminas-mime to PHP 8 compatible version (2.8.0)

[2021-03-01 16:01] sivaschenko opened #32320 "Update laminas/laminas-db to PHP 8 compatible version"
Update laminas/laminas-db to PHP 8 compatible version (2.12.0)

[2021-03-01 16:03] sivaschenko opened #32321 "Migrate from laminas/laminas-console to laminas/laminas-cli dependency"
`laminas/laminas-console` package is abandoned and no longer maintained. The author suggests using the `laminas/laminas-cli` package instead.

[2021-03-01 16:28] m2-assistant[bot] opened #32322 "[Issue] Fix usage of EAV cache type"
This issue is automatically created based on existing pull request: magento/magento2#31264: Fix usage of EAV cache type

---------

### Description (*)

This PR fixes usage of EAV cache type in some places

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. _Different frontend type can be set to EAV cache type w

[2021-03-01 17:17] simonmaass commented on #32302
@magento give me 2.4-develop instance

[2021-03-01 18:09] lenaorobei opened #32323 "Test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-03-01 18:10] lenaorobei commented on #32323
@magento export issue to Jira project MC as Bug

[2021-03-01 18:12] #32323 closed, assigned to nobody

[2021-03-01 18:45] engcom-Bravo commented on #27180
Rechecked on the latest Magento 2.4-develop git version by cloning repositories https://devdocs.magento.com/guides/v2.4/install-gde/install/sample-data-after-clone.html
And on Magento composer versions 2.4.0, 2.4.1, 2.4.2. https://devdocs.magento.com/guides/v2.4/install-gde/install/sample-data-after-composer.html
Setup upgrade completed successfully without any errors.

[2021-03-01 19:14] cmuench commented on #27180
@EarlBromStyle I also installed Magento 2.4.2 last week and got the error. I can still re-produce it. I did some further debugging here and see that in my case an external module is involved.

See stacktrace:

[code]

I will try to figure out if the problem has to be fixed in the core or the 3rd party module.

[2021-03-01 19:17] cmuench commented on #27180
The 3rd party module is doing this:

[code]

Maybe it's an issue to run a store emulation with store emulation embedded.

[2021-03-01 20:52] SirCoolness commented on #32279
@magento give me 2.4.2 instance

[2021-03-01 22:23] kzobov commented on #27564
experiencing this in 2.3.5-p2

[2021-03-01 23:01] damienwebdev commented on #28690
Resolved by https://github.com/graycoreio/magento2-cors

[2021-03-02 03:07] webtekindo commented on #23938
Here we are again, why it's closed without any solution?

[2021-03-02 03:40] manobi commented on #31286
I'm using a pre-compiled docker image with Magento 2.4.2 and this error appeared, it have not happened before (Magento 2.4.0).

I'm going to try with the bin/magento setup:db-schema:upgrade before magento install.

[2021-03-02 04:04] ventureonerealty commented on #23708
hi

i want connect google tag manager to my website https://ventureonerealtyllc.com/ , after creating google tag manager account i copied code to header.php

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.c

[2021-03-02 04:13] adarshkhatri commented on #28614
I ran into this issue.
Looks like the Magento team has implemented a captcha on the checkout page. https://devdocs.magento.com/guides/v2.3/release-notes/commerce-2-3-6.html#security-enhancements-and-fixes-to-core-code

However, they haven't implemented to use google re-captcha.

Native Magento captcha is not usable, specifically when target audiences are 50+ aged people.

Any heads up on this?

**

[2021-03-02 04:44] reshadzazai commented on #32181
Hello @engcom-Bravo
Any progress on this issue?

[2021-03-02 09:32] #31078 closed, assigned to nobody

[2021-03-02 09:52] palviggi-flagbit opened #32325 "Having validationParams/additionalParams on a component forces all validations to run, even if disabled"
### Preconditions (*)

1. Failing on 2.4.2
2. Having the validationParams set on a component makes it run every validation, even if they are marked as false. In our case, a multi store installation has a date field in a form required in one and optional in the other

### Steps to reproduce (*)

we have the component defined in a LayoutProcessor with
[code]
It works as expected, with the component

[2021-03-02 10:00] chdzma commented on #23180
@grazianodimaio  I also have the same problem in 2.3.5.

Did you find a solution?

[2021-03-02 10:03] simonmaass commented on #32302
@magento I am working on this

[2021-03-02 10:04] simonmaass commented on #32302
@magento add to contributors team

[2021-03-02 10:05] simonmaass commented on #32302
@magento I am working on this

[2021-03-02 10:07] simonmaass commented on #32302
can confirm issue

[2021-03-02 12:08] pprignesh commented on #15656
Hello;

We also discover the same issue in magento2.4.1 as @rvm-pmis facing.

Please let us know if you have any news on it.

Thanks

[2021-03-02 13:17] engcom-Bravo commented on #32181
Hello @reshadzazai
We Confirm that the issue is reproducible on the latest 2.4-develop. The issue will be passed to the Developers's team.
Thank you

[2021-03-02 13:19] magento-engcom-team commented on #32181
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41124` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-02 13:20] engcom-Bravo commented on #31840
We are closing this issue due to inactivity.
Please feel free to comment, reopen or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2021-03-02 13:20] #31840 closed, assigned to kodubovik, engcom-Bravo

[2021-03-02 13:43] williamengbjerg commented on #30698
saved my day. 👍🏼

[2021-03-02 13:44] sandy6666 commented on #30889
@SageKit Please update your layout attribute in the page tag where you are calling your ui_component

<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd" layout="admin-2columns-left">
    <update handle="styles"/>
    <update handle="editor"/>
    <head>
        <title>A

[2021-03-02 13:47] magento-engcom-team commented on #23720
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-23837` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-02 13:52] #31737 closed, assigned to nobody

[2021-03-02 13:52] engcom-Foxtrot commented on #31737
Closed as non-reproducible.

[2021-03-02 14:04] JoergLindner commented on #32247
This is our settings too. It worked/s on 2.3.5-p2 and after Update to M2.4.1 not. We have MagePlaza SMTP Module installed but there is no issue with it, as this is the same if the Module is disabled! In our case it always just send the 'Default' Welcome Email. As a E-Mail is sent, there is no real 'failure' we can see. If we set the Default to a different Template, the e-mail changes. So the selec

[2021-03-02 14:05] cdescamps-cleverage opened #32329 "Login as customer opt-in checkbox not translatable"
### Preconditions (*)

1. Have Magento 2.4.2 with multiple website and store view in different languages

### Steps to reproduce (*)

1. In back office >  Stores > Configuration >Customers > Login as Customer
2. Look at the scope for fields "Title for Login as Customer opt-in checkbox" and "Login as Customer checkbox tooltip"

### Expected result (*)

1. Fields "Title for Login as Customer opt-in

[2021-03-02 14:08] magento-engcom-team commented on #32262
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41126` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-02 14:15] AndreyChorniy commented on #32320
@magento I am working on this

[2021-03-02 14:23] TheRealHunzik commented on #32329
@magently  give me 2.4-develop instance

[2021-03-02 15:12] vlmed opened #32331 "Remove deprecated framework interfaces"
### **Description**
This issue is a part of https://github.com/magento/magento2/issues/32062.

The following deprecated interface should be removed in 2.5-develop branch:
`lib/internal/Magento/Framework/Filesystem/ExtendedDriverInterface.php`.

 Implementation will be merged into `\Magento\Framework\Filesystem\DriverInterface`.

### **Problem**
If we move `getMetadata ()` to `DriverInterface`, we

[2021-03-02 15:16] sivaschenko opened #32332 "Replace usages of ReflectionParameter deprecated methods"
### Description (*)

Replace usages of \ReflectionParameter deprecated methods:

- isArray (Use ReflectionParameter::getType() and the ReflectionType APIs should be used instead)
- isCallable (Use ReflectionParameter::getType() and the ReflectionType APIs should be used instead)

[2021-03-02 15:21] vlmed opened #32333 "Remove deprecated framework interfaces"
### **Description**
This issue is a part of https://github.com/magento/magento2/issues/32062.

The following deprecated interface should be removed in 2.5-develop branch:
`lib/internal/Magento/Framework/MessageQueue/ConfigInterface.php`.

### **Problem**
In most cases this interface is only passed in the constructor and is not used.
But there are a few places where it or its constants are still us

[2021-03-02 15:26] irenelagno opened #32334 "[Test] Couldn't place order"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-03-02 15:26] #32334 closed, assigned to nobody

[2021-03-02 15:46] khrystynastolbova commented on #31125
@magento I am working on this

[2021-03-02 16:05] pcies opened #32336 "Checkout Shipping form cache don't get empty [Magento 2.4.2]"
### Preconditions (*)

1. Magento CE 2.4.2 with sample data is installed.
2. Tested on 2.4.0, 2.3.5. Issue propably not reproducible in older versions than 2.4.0.

### Steps to reproduce (*)

1. Add Product to cart
2. Go to checkout
3. Fill shipping form with random data
4. Delete data from Address line 1.
5. delete data from Address line 2.
6. Refresh page.

### Expected result (*)

1. I expect,

[2021-03-02 16:07] jlenzstaysafe commented on #10489
Still happens on 2.4.2 Enterprise

[2021-03-02 16:17] khrystynastolbova commented on #32319
@magento I am working on this

[2021-03-02 16:25] khrystynastolbova commented on #32318
@magento I am working on this

[2021-03-02 16:25] khrystynastolbova commented on #32317
@magento I am working on this

[2021-03-02 17:04] VladyslavSikailo opened #32339 "Import. Simple becomes Out of Stock when it should be in stock because of backorder"
### Preconditions
1. Pure Magento 2.4.1
2. Magento 2.4-develop

### Steps to reproduce
1. Create simple product (in stock, qty bellow 0)
2. Copy sku of this simple
3. Go to System->Import. Choose Entity Type: Product, Import behaviour: Add/Update
4. Create an csv with following content (replace `simple2` by your own)
![image](https://user-images.githubusercontent.com/19759530/109685196-b148b400-7b

[2021-03-02 17:22] carylewis commented on #25222
Why is this issue closed? We are seeing this in Magento 2.3.5p2 EE.

[2021-03-02 17:30] grazianodimaio commented on #23180
@chdzma

I found a solution in this file.

`/vendor/magento/module-configurable-product/Model/ResourceModel/Product/Indexer/Price/Configurable.php`

I commented out this section in the function **fillTemporaryOptionsTable**

`// Does not make sense to extend query if out of stock products won't appear in tables for indexing
/*if ($this->isConfigShowOutOfStock()) {
   $select->join(
      ['si' =>

[2021-03-02 17:32] mrtuvn commented on #32291
![Screenshot from 2021-03-03 00-31-47](https://user-images.githubusercontent.com/1908873/109689454-e3710a80-7bb7-11eb-9442-929787bde709.png)
Seem works from my enviroment branch (2.4-develop)

[2021-03-02 17:34] Dutch77 opened #32341 "Media sources not working - Error 500 [2.4.2]"
### Preconditions (*)

1. Magento version 2.4.2
2. php 7.4
3. nginx 1.19
4. MariaDB 10.4.17
5. elasticsearch 7.9.3

### Steps to reproduce (*)

1. Install fresh 2.4.2 project
2. switch it to production mode
3. Successfully upload image to any product
4. Try to visit image public URL
5. Get status code 500

### Expected result (*)

1. Getting 200 with image result :)

### Actual result (*)

[code]

[2021-03-02 18:49] manobi commented on #31286
The workaround suggested had no effect in my setup (setup:db-schema:upgrade).
To explain my context:

**PHP** 7.4.15 (cli) (built: Feb  9 2021 19:48:41) ( NTS )
**Composer** version 1.10.20 2021-01-27 15:41:06
**Magento** 2.4.2

Everything is in my CI/CD pipeline:
1. Magento is created with composer
2. Custom extensions that uses Magento\Framework\Console\CommandList is installed are installed usi

[2021-03-02 19:34] bluedarter2 opened #32342 "Disabling Magento_TwoFactorAuth EMPTIES tfa_country_codes table"
### Preconditions (*)

1.Magento CE 2.4.1
2.2FA enabled with both Google Authenticator and Authy

Authy requires Country to be specified.  This was all working perfectly.

### Steps to reproduce (*)

1.Install Magento CE 2.4.1
2.Enable Authy, test to make sure it's working
3. disable Magento_TwoFactorAuth:
`bin/magento module:disable Magento_TwoFactorAuth
bin/magento cache:flush
`
4. Look at table

[2021-03-02 19:45] bluedarter2 commented on #32342
As a follow-up, I have a database dump (from doing `bin/magento setup:backup --code --db --media` ) from RIGHT BEFORE I disabled `Magento_TwoFactorAuth`, and I see:
`-
-- Dumping data for table `tfa_country_codes`
--

LOCK TABLES `tfa_country_codes` WRITE;
/*!40000 ALTER TABLE `tfa_country_codes` DISABLE KEYS */;
INSERT INTO `tfa_country_codes` VALUES ('1','IL','Israel','+972'),('2','AF','Afghanis

[2021-03-02 21:01] Den4ik commented on #31346
@sivaschenko As I see php 8 support officially added from 3.6.0 https://github.com/laminas/laminas-servicemanager/releases/tag/3.6.0

[2021-03-02 22:25] AndreyChorniy commented on #32332
@magento I am working on this

[2021-03-02 23:32] maxosoriojamut commented on #31644
I can confirm this is happening on Magento 2.4.1 (Magento Cloud)

**Summary of the issue**
The custom address attributes doesn't save information as expected.

**Information on your environment**
The error was confirmed on a clean Magento 2.4.1 installation.

**Steps to reproduce:**
1. Create a client address atribute type "input_text" and another type "dropdown"
2. Make a purchase and check the a

[2021-03-03 02:09] kamzata opened #32344 "Instant Purchase shows shipping method and shipping address on Downloadable inside Configurable product"
### Preconditions (*)

1. Magento 2.4.2
2. Configurable product which contains a downloadable product

### Steps to reproduce (*)

1. Click on Instant Purchase button inside a configurable product page which contains a downloadable product

### Expected result (*)

1. Instant Purchase popup is shown **WITHOUT** shipping method and shipping address information.

### Actual result (*)

1. Instant Pu

[2021-03-03 03:38] zakarque commented on #27470
stale? ☹️

[2021-03-03 04:02] ParimalSigma commented on #28226
@engcom-Delta no, I am checking by enabling cache only

[2021-03-03 04:44] ezera23 commented on #25221
Got exactly the same issue when trying to input directly a link in the Number field. Be aware this field is not for key in an url :)

[2021-03-03 05:27] ihor-sviziev commented on #32332
Is it duplicate of https://github.com/magento/magento2/issues/31600 ?

[2021-03-03 05:34] micwallace commented on #26573
This issue should be reopened. As others have mentioned, if @magento-team insists on adding crapware, they can at least fix the upgrade process so it doesn't break everything when new 3rd party modules are added.

It's pretty bloody simple to avoid this. Either have 3rd party modules disabled by default (fat chance of that happening), or:
1. Check dependencies on new 3rd party modules
2. Check con

[2021-03-03 05:43] micwallace opened #32345 "Upgrade 2.4.1 to 2.4.2 with Dotdigitalgroup_Email disabled"
### Preconditions (*)

    - Magento 2.4.2

### Steps to reproduce (*)

    1. Disable the Dotdigitalgroup_Email module in 2.4.1 and upgrade Magento 2 to 2.4.2
    2. After upgrading via composer login to the backend of magento2.

### **Expected result (*)**

    Expected to dashboard

### Actual result (*)

I got an error page with the following:
Exception #0 (OutOfRangeException): Specified inva

[2021-03-03 06:12] AndreyChorniy commented on #32332
Hello @ihor-sviziev,
It seems that is similar but not duplicate. In #31600 I can see that `isArray()` still used for example [here](https://github.com/magento/magento2/pull/31861/files#diff-8aa8f6efe0cef6bfe3ca2cba84f0d238617d0e624a90a09fcb58720f3744bcfcR336)
Could you please check once again and let me know if I should proceed with this?
Thank you.

[2021-03-03 06:19] ihor-sviziev commented on #32332
Ah, if that solution isn't full - I think we need to fix all not fixed
things

On Wed, 3 Mar 2021 at 08:13, Andrii Chorniy <notifications@github.com>
wrote:

[2021-03-03 07:41] phathro opened #32347 "Magento 2.4.2 Commerce, Pagebuilder is not saving images"
### Preconditions (*)

1.  Magento 2.4.2 (Commerce)
2. Ordinary image element in page builder
3. (Everything else is saving normally, caption, text, etc.)

### Steps to reproduce (*)

1. Just add an image-element to a CMS-page and add a random image file
2. Save the whole CMS-page

### Expected result (*)

1. It should save the picture as normally

### Actual result (*)
1. the image selected is go

[2021-03-03 07:42] #27285 closed, assigned to engcom-Kilo

[2021-03-03 07:42] #31950 closed, assigned to engcom-Kilo

[2021-03-03 07:42] #31973 closed, assigned to engcom-Echo

[2021-03-03 07:42] #32000 closed, assigned to mastiuhin-olexandr

[2021-03-03 08:57] karangar opened #32348 "Install magneto 2.4.2 in Apache2"
### Preconditions (*)

Magneto 2.4.2
1. Magneto 2.4.2
2. composer 1.10.9
3. php 7.4.15

### Steps to reproduce (*)

1. Download Magneto 2.4.2 using Composer Or  direct Zip file
2. Install and setup magento using command

### Expected result (*)

1.Front end and Admin Should be work

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/34768419/109780243-d5110600-7c2c-11eb-9

[2021-03-03 10:14] Eddcapone opened #32349 "Missing xdebug support"
### Preconditions (*)

1. 2.4.2 Enterprise
2. xdebug 3.0.3
3. PHP 7.4.3
4. Apache/2.4.41 (Ubuntu)
5. Ubuntu Server

### Steps to reproduce (*)

1. I try to debug magento 2 with xdebug, but if I try to load the home page then I already get this error, even when I did not started the debugger yet.

`Fatal error: Uncaught Error: Call to undefined function xdebug_disable() in /srv/www/vhosts/company_m

[2021-03-03 10:23] engcom-Bravo commented on #27180
@Fdec
As far as the issue is not reproducible on clean Magento installation, and, as described in the [comment](https://github.com/magento/magento2/issues/27180#issuecomment-788199655) above, a third-party module is involved, we have to close this issue. We can not deliver a fix into third-party modules or extensions. Magento Comunity Backlog is for Magento Core issues.
Please feel free to comment

[2021-03-03 10:23] #27180 closed, assigned to nobody

[2021-03-03 10:30] cmuench commented on #27180
@engcom-Bravo I expected that you will close the issue during my investigation. That's not the Magento spirit we need. I understand that you try to cleanup your issue backlog, but it's not motivating.

It would be good to find a way to improve the sample data compatibility. Maybe the approach to start an indexing inside the RecuringData upgrade of the sample data module is not the best.
We should

[2021-03-03 10:38] nabeeljavaid opened #32350 "Wrong Catalog Cache Images after Upgrade Magento 2.3.2 to 2.4.2"
### Preconditions (*)

1. Magento 2.4.2 (Open Source)
2. Apache 2.4
2. PHP 7.4
3. MySQL 5.7
4. ElasticSearch 7.6

### Steps to reproduce (*)

1. Upgrade Magento using CLI (https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html)
2. Tried all following commands but useless
php bin/magento catalog:image:resize
php bin/magento cache:clean
php bin/magento cache:flush
php bin/magento inde

[2021-03-03 10:38] sonbui00 commented on #31117
@magento-engcom-team Are you here!

[2021-03-03 10:42] mrtuvn commented on #29735
CC @engcom-Kilo here is the issue that I mentioned you

[2021-03-03 11:17] dverkade commented on #6146
Ready for work issues should not be closed automatically. Posting her to remove stale bot.

[2021-03-03 11:24] engcom-Bravo commented on #32307
Hello @denis-zyk

Thank you for your report.

Can you please provide more details about the reported issue, if possible with screenshots. This would help us to Confirm the issue?
Here is a manual scenario, we have tried:
1. Place an order containing 4 different products with 4 quantity each
2. From Admin Panel, go to _Sales - Orders_ and **View** the previously created order
3. Click **Invoice**,

[2021-03-03 11:28] jamie-selesti opened #32351 "Percentage discounts using cart price rules being calculated incorrectly"
### Preconditions (*)
1. Magento 2.3.6-p1
2. PHP 7.3

### Steps to reproduce (*)
1. Set discounts to be applied before tax in the admin
2. Set up a cart price rule for 15% ( Apply Percent of product price discount)
2. Add multiple of products into your basket and apply the coupon code
3. Checkout & pay

For reference, this is how tax is set up in the admin
![image](https://user-images.githubuserco

[2021-03-03 11:48] sivaschenko commented on #31346
@Den4ik that's correct, thank you, updated description.

[2021-03-03 11:52] sivaschenko commented on #32332
@ihor-sviziev @AndreyChorniy hi guys, this is not a duplicate. Only getClass methods have been replaced in https://github.com/magento/magento2/pull/31861 and we decided to extract other deprecated methods to a separate task

[2021-03-03 12:03] vlmed commented on #32321
@magento I am working on this

[2021-03-03 12:20] magently commented on #32329
@TheRealHunzik I guess you made a typo and wanted to call Magento. We can't help you with this one :)

[2021-03-03 12:31] Fidelity88 commented on #24571
Almost a year later and I can say, this also was the fix for my theme! Thanks for sharing this!!

[2021-03-03 12:40] kkhebbar89 commented on #26377
On Magento 2.4.2, I am getting similar error as below as @sivamind is getting.
Uncaught TypeError: Cannot create property 'quickOrderPadLink' on string '{"choose-address-link":1614686904,"branchPickUpLink":1614686904,"quickOrderPadLink":1614686904,"messages":1614686904,"customer":1614686904,"compare-products":1614686904,"last-ordered-items":1614686904,"cart":1614686904,"directory-data":1614686904,

[2021-03-03 12:48] minhluan259 commented on #31286
@manobi I've same issue with PHP 7.4.15
run
`bin/magento setup:upgrade`

[code]

I reverted to using PHP 7.3, all worked fine.

[2021-03-03 13:27] Usik2203 commented on #32061
@magento I am working on this

[2021-03-03 13:38] johncy65 commented on #32098
@mfchk Did you find the solution to this? I'm having the same issue

[2021-03-03 13:40] willryanuk commented on #22337
We also have the same issue. Our order contains normal products (not virtual products).

When we create an invoice programatically, the order is shipped and invoiced, and the status is changed to CLOSED when it should be COMPLETE.

[2021-03-03 13:53] mfchk commented on #32098
Hi @johncy65 , Its resolved after I login a new credential that included magento enterprise package (administrator paid for it).
So its false alarm, we can close this ticket.

[2021-03-03 14:12] johncy65 commented on #32098
Hey @mfchk, I used a different approach to revolve this issue. The credentials were already present in the auth.json file. For some reason composer wasn't picking it up. I deleted that file and added the creds as an environment variable. After that, all the dependencies got resolved.

[2021-03-03 14:27] ihor-sviziev commented on #32349
Hi @Eddcapone,
This issue was in the MFTF. Now the issue is fixed https://github.com/magento/magento2-functional-testing-framework/commit/6d6a7c59fc789625345c0b7b071fe08ea68b487b and available in version 3.3.0

Also I see that in magento 2.4.2 we have not too strict requirements, so you should be able to update it using `composer update magento/magento2-functional-testing-framework`
https://github

[2021-03-03 14:47] Eddcapone commented on #32349
magento/magento2-functional-testing-framework was set to 2.4.5 in composer.json. I changed it to ^2.4.5 and updated it. Now the obsolete xdebug_disable() function does not appear anymore, so the error should be gone. Can't test right now though. Thx!

[2021-03-03 14:47] #32349 closed, assigned to ihor-sviziev

[2021-03-03 14:54] Eddcapone opened #32355 "Magento sets user and group for automatically generated files to weird values"
### Summary (*)

This is not a bug report, but a developer experince issue.
I created a project on a dev server and deleted the folders in generated/code.
If I load the homepage, then code is getting generated, but it has weird user and group combination:

[code]

black is the user which I used to connect to the server via SSH.
But since the files are generated by the webserver I wonder why it is

[2021-03-03 14:58] engcom-Bravo commented on #32348
Hello @karangar

Thank you for your report.

The described behavior is not a Magento issue. Please check that your Apache server is active and Running, check the configuration file, check that you've set the correct permissions.

We are closing this issue as this is not a Magento issue.

[2021-03-03 14:58] #32348 closed, assigned to engcom-Bravo

[2021-03-03 15:04] Tjab commented on #9419
@okorshenko @orlangur @lfolco

Can you explain to me why there should be a difference between updating an address, and creating an address? Because the creation of an address **does** update the customer. I have not checked if the 'default billing/shipping' needs to be checked for this, but if not, I do think there should be one solution: either update the customer at address creation/modification

[2021-03-03 15:43] nickpiro commented on #30229
So "It's not happening in 2.4-develop instance" is the answer to people using 2.3.6?! We're not ready to upgrade. What about those using 2.3.6? This is clearly an issue and should still be open.

[2021-03-03 16:07] mrtuvn commented on #32355
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/file-system-perms.html

[2021-03-03 16:40] AlldoGroup commented on #32350
@nabeeljavaid

Please check that the following lines in your root .htaccess exists:

[code]

[2021-03-03 16:44] AlldoGroup commented on #32345
I can confirm this issue, when upgrading from 2.4.1 to 2.4.2.

[2021-03-03 17:19] #27133 closed, assigned to nobody

[2021-03-03 17:38] nathanjosiah commented on #26377
@cstergianos We had a communication issue where it wasn't explicitly communicated that PHP 7.2 support was dropped for 2.3.6-p1 and this was further made confusing by the composer dependencies hasn't removed 7.2 either. However, speaking generally, Magento cannot release a version of software that isn't PCI compliant and [PHP 7.2 is EOL](https://www.php.net/supported-versions.php) and therefore no

[2021-03-03 17:44] willryanuk commented on #23908
This is still not resolved in Magento 2.4.2 CE.

[2021-03-03 17:58] atrandafir commented on #20068
What if someone uses the options list programatically and doesn't want to cache it?

I mean, I'm writing a custom import script.

And while looping products in the CSV, if some attribute value is missing, I create it.

Problem is that if I try to get the "fresh" list of options of that attribute to get the id of the new created value.. well, I can't, cause I get the old cached list.

I might end u

[2021-03-03 18:51] magento-engcom-team commented on #32310
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41152` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-03 19:19] #13972 closed, assigned to nobody

[2021-03-03 19:19] #31094 closed, assigned to engcom-Charlie

[2021-03-03 19:24] behnamshayani commented on #26377
@nathanjosiah  I might be mistaken, but Php7.2 is part of main repository for Ubuntu 18.04.1 and is supported by Ubuntu until 2023. So Php7.2 should be considered PCI compliant on Ubuntu 18.04.1 and is not EOL on those installations IMO.

[2021-03-03 19:41] nathanjosiah commented on #26377
@behnamshayani It may be true that there are places to get PHP 7.2 where it is supported for longer periods of time but unfortunately Magento isn't just for Ubuntu which means we can't rely solely on their support for our compatibility decisions.

[2021-03-03 19:45] behnamshayani commented on #26377
@nathanjosiah  Certainly not for your compatibility decisions but to me it sounds more like you are making decisions for merchant if their installation is PCI compliant or not.
You can say we do not support 7.2 and that is your decision, just don't put it on PCI compliance.

[2021-03-03 20:28] edward-simpson commented on #26283
It's disappointing that Magento don't see this as an issue, this effectively makes price sort useless for a lot of stores (and is a change in behaviour between M1>M2).  I accept that tax rules can change by region, but the storefront already manages to calculate price for product listings (based on default country/region I presume), so why shouldn't it correctly take this into account when it come

[2021-03-03 20:29] amcguireweb commented on #32180
Is there a fix for this? I can also confirm on 2.4.2.

[2021-03-03 20:53] daceej opened #32357 "Unable to place order with existing (Briantree) payment token."
### Preconditions (*)

1. Magento 2.3.3 - Looking at the relevant code, this is likely an issue in Magento 2.4.x as well
2. Store set up to use Braintree for payments
3. An api customization to allows orders to be placed with an existing payment token.
4. Payment token has been updated in Braintree (ie, expiration date updated)

### Steps to reproduce (*)

1. Create a new customer and place an ord

[2021-03-03 21:06] daceej commented on #32357
To clarify, this is likely outside of any scope as I found this issue due to a customization. However, it took far too long to figure out what was happening, so I'm flagging it as a potential enhancement in the future.

Maybe this will be useful to someone in the future. :)

[2021-03-03 23:23] iflam opened #32358 "Backorder Use Config Setting not properly used in sql query"
### Preconditions (*)

Magento 2.4.1
MSI enabled

### Steps to reproduce (*)

1. Enable backorders via Stores > configuration > catalog > inventory
2. Set Out of Stock threshold to -2
3.  Create a product with quantity -2 for all sources
4. Within the product's advanced inventory, make sure "Use Config Setting" is checked under "Backorder"

### Expected result (*)

1. Product should display "Out o

[2021-03-04 01:20] LiamKarlMitchell commented on #19737
Still a problem stalebot

[2021-03-04 02:39] manobi commented on #31286
Thank you @minhluan259 but it did not fixed my problem.

Anyone knows where they have it fixed? It's definitely no working in magento 2.4.2.

[2021-03-04 03:18] #31119 closed, assigned to nobody

[2021-03-04 07:21] nabeeljavaid commented on #32350
@AlldoGroup

I updated root .htacess file as you proposed but still getting wrong cache image please see attached screenshots

![Magento2 Root  htaccess](https://user-images.githubusercontent.com/2786954/109925815-07316f00-7ce4-11eb-968a-fc78db4cbcd7.png)
![Magento2 Frontend](https://user-images.githubusercontent.com/2786954/109925828-0c8eb980-7ce4-11eb-8190-32e2c35e5f9a.png)

[2021-03-04 08:12] michalbednarzcsm commented on #32180
For me, the problem occurred after upgrade from version 2.3.3 to 2.4.2, so yes confirmed on 2.4.2.
My quick fix is to remove the methods that were added to the commit mentioned above.

[2021-03-04 09:03] WebKenth commented on #12159
@engcom-Delta  Very nice that you reproduce it in the frontend, but try using actual code examples ;)

The adminhtml save.php actions doesnt actually use the Category Repository to save the category which the documentation says is the best practice. Thus when we as developers want to update a category we use the Category Repository and the behaviour is different than when you click on the Save But

[2021-03-04 09:19] mrtuvn commented on #28913
https://github.com/magento/magento2/pull/31463#issuecomment-758793495

[2021-03-04 09:36] hewgim commented on #31105
Hi there, we are having the same issue, and are also getting the message "Something went wring with your request. Please try again later." However, I think the original creator of the ticket may be using Paypal standard rather than Paypal Express as we are. The original screenshot shows a terms and conditions link just above the Continue to Paypal button. I dont think you see this on Paypal expres

[2021-03-04 09:41] brianrootways commented on #31105
@hewgim  Yes, exactly we are facing issue only in Firefox. Need to checkout with PayPal express. Let us know if you fix this issue.

[2021-03-04 10:25] magento-engcom-team commented on #32336
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41161` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-04 10:29] engcom-Bravo commented on #32358
Hello @iflam

Thank you for your report.

The MSI related issues should be reported into a separate https://github.com/magento/inventory/issues repository.

Can you please open the same issue but in the [Inventory](https://github.com/magento/inventory/issues) repo.

Thank you

[2021-03-04 10:29] #32358 closed, assigned to engcom-Bravo

[2021-03-04 10:47] gwharton commented on #28996
Confirmed working on 2.4.2 with PR patch applied.

[2021-03-04 11:08] ejaz-alam commented on #32329
@magento I am working on this

[2021-03-04 11:10] jamie-selesti commented on #32190
@JoostWan This looks similar to the bug I raised yesterday - https://github.com/magento/magento2/issues/32351 - Do you think its linked?

[2021-03-04 11:16] engcom-Bravo commented on #32276
Hello @scott4243

Can you please run the following commands and check if the issue still occurs?
`bin/magento media-gallery:sync`
`bin/magento media-content:sync`

Thank you

[2021-03-04 11:53] engcom-Bravo commented on #32341
Hello @Dutch77

Thank you for your report.

Can you please clarify step number 4 _Try to visit image public URL_ and if possible provide a screen or video.
Because for now, it's not clear.

Thank you in advance

[2021-03-04 11:59] magento-engcom-team commented on #32329
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41164` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-04 12:08] sm7297 opened #32361 "UPS Logs not written to shipping.log file"
### Preconditions (*)

1. Magento 2.3.4
2. PHP 7.2.30 (cli) (built: May 13 2020 11:09:42) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
    with the ionCube PHP Loader (enabled) + Intrusion Protection from ioncube24.com (unconfigured) v10.2.0, Copyright (c) 2002-2018, by ionCube Ltd.
    with Zend OPcache v7.2.30, Copyright (c) 1999-201

[2021-03-04 12:21] ejaz-alam opened #32362 "No Option available to delete sources"
### Description (*)

There is no option available to delete the added sources. We can only enable and disable it.
**Store > Configuration > Source**
### Expected behavior (*)

### Benefits

This will help the admin to delete the extra added sources.

### Additional information

[2021-03-04 12:42] iindranil commented on #7554
This issue still exists with Magento ver. 2.4.2

I've tried with @phronesis solution but no luck. Right now, I am using the latest version (2.4.2) of Magento and what I need to do?

Should I wait for the next version release? Lol

[2021-03-04 12:45] engcom-Bravo commented on #32347
Hello @phathro

Thank you for your report.

When you are adding an image using PageBuilder, do you drag-drop a _Row_, for example, and then drag-drop _Image_ element from Media?
If yes, do you **Upload** an image or **Select from Gallery**?

Thank you in advance

[2021-03-04 12:49] #29208 closed, assigned to nobody

[2021-03-04 12:50] magento-engcom-team commented on #29208
Hi @m2-assistant[bot].

Thank you for your report and collaboration!

The related internal Jira ticket `MC-36218` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-04 12:57] phathro commented on #32347
Hello,

i add the image via "Select from Gallery". This issue also appears for a colleague, funny thing is, two other colleagues dont have this issue, with the same setup.

We thought it may be a problem with our rights or something about the database, but we couldn't find a problem there or difference

[2021-03-04 13:12] upendra-bajpai commented on #25294
I have this issue in 2.4.0 After bin/magento sampledata:deploy, bin/magento setup:upgrade I get exception in cli: Unable to apply data patch Magento\CatalogSampleData\Setup\Patch\Data\InstallCatalogSampleData for module Magento_CatalogSampleData. Original exception message: Rolled back transaction has not been completed correctly.

[2021-03-04 13:42] mklooss commented on #15504
We take some time and research and found out the issue is more an Browser/JavaScript Issues.
"inactive Tabs" slow down the JavaScript Resources, some helpfull links:

- https://stackoverflow.com/questions/6032429/chrome-timeouts-interval-suspended-in-background-tabs
- https://bugzilla.mozilla.org/show_bug.cgi?id=652472
- https://superuser.com/questions/1500289/how-to-aggressively-throttle-backgrou

[2021-03-04 14:02] ManishaVasani commented on #14626
Yes, Facing Same issue

[2021-03-04 14:41] iflam commented on #32358
https://github.com/magento/inventory/issues/3295

[2021-03-04 14:53] MarcusWolschon commented on #15504
That's execution time. Not network traffic.
It's not supposed to be calculating anything at all but loading missing resources
(resources that could have been static parts of the HTML instead of XMLHttpRequests)

[2021-03-04 15:00] duckchip commented on #32339
Can be reproduced on 2.3.6

[2021-03-04 15:09] duckchip commented on #32339
I think this is caused by the following change: https://github.com/magento/magento2/pull/20180

[2021-03-04 15:19] ksenia-zlotin commented on #30211
Hi @JeffersonTeixeira  - I have been working on Magento applications for a little under 2 years now - hardly an expert. I was experiencing the exact issue you were - getInfoInstance() being null and therefore not running my custom payment method validators. However, I believe I found a way to implement a custom validator (in my case - availability) while using the recommended payment facades appro

[2021-03-04 15:43] nathanjosiah commented on #26377
@behnamshayani I'm not sure this is any different than any other compatibility. We essentially support the industry standard of N-1 or N-2 software and browser versions and PHP is no exception. In this case the official software is end of life and we cannot remain PCI compliant while supporting this software that violates our compliance. By example, there are still ways of getting PHP 5.4 (which h

[2021-03-04 15:59] magento-engcom-team commented on #28835
Hi @pmarjan, @gallyamov.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-33920` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-04 15:59] github-jira-sync-bot opened #32367 "Order item should contain parent sku, to enable reorder functionality"
As a developer I want OrderItemInterface to contain parent_sku field, so that I allow customers ability reorder complex products (like bundle) in my app.

AC
* OrderItemInterface contains parent_sku field - sku of parent product
* For simple product parent_sku is null

[2021-03-04 16:09] github-jira-sync-bot opened #32368 "Return full credit card type in the CustomerPaymentTokens query."
While working on PWA-636 we realized that the CustomerPaymentTokens query is not returning the whole credit card type. For instance it returns `VI` which equates to `VISA`. Right now we are maintaining a mapper on the UI for codes and their respective full card types enumerated from <https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Payment/view/base/web/js/model/credit-card-va

[2021-03-04 16:13] schmengler commented on #29338
Hello bots, it is still relevant. Internal ticket MC-40023 🤖

[2021-03-04 16:23] github-jira-sync-bot opened #32369 "Order item should contain product images"
As a developer I want to have a convenient way to load product images of ordered product, so I don't have to do multiple queries and my PWA app is performant.

AC
* OrderItemInterface exposes product images

Note: I think we should add variant: ProductInterface field to an order item and do similar in other cases (wishlist, gift registry, purchase order, etc). Need to make sure Nishant and perform

[2021-03-04 16:24] github-jira-sync-bot opened #32370 "[GraphQL] Sort Customer Orders"
As a consumer of the customer.orders query endpoint, I would like the ability to sort those orders. This will allow me to render the most recent orders first, as preferred by UX designs and customers.

Proposed AC:
* sort and sort_direction arguments added to customer.orders

I would optionally just accept if the default sort order was reversed. I can't imagine customers needing to sort orders aft

[2021-03-04 16:37] mauragcyrus commented on #28578
@magento export issue to Jira project MCLOUD as Story

[2021-03-04 16:40] mauragcyrus commented on #29775
@magento export issue to Jira project PWA as Story

[2021-03-04 16:41] mauragcyrus commented on #29775
@magento export issue to Jira project MCLOUD as Story

[2021-03-04 16:42] mauragcyrus commented on #29775
@magento export issue to Jira project MCLOUD as Story

[2021-03-04 16:42] Leland commented on #28913
For this issue, we could even handwrite some manual critical CSS just as an example.

In my org, we are using Penthouse to generate the critical CSS, however. It would be an awesome thing to create a Grunt task that handles this, though that's totally unnecessary to just close this issue!

[2021-03-04 16:46] mauragcyrus commented on #28860
@magento export issue to Jira project MCLOUD as Bug

[2021-03-04 16:51] mauragcyrus commented on #28957
@magento export issue to Jira project MCLOUD as Bug

[2021-03-04 16:55] mauragcyrus commented on #29910
@magento export issue to Jira project MCLOUD as Story

[2021-03-04 17:00] mauragcyrus commented on #26112
Two very similar issues: https://github.com/magento/magento2/issues/29922

[2021-03-04 17:04] mauragcyrus commented on #30924
@magento export issue to Jira project MCLOUD as Bug

[2021-03-04 17:09] mauragcyrus commented on #31313
@magento export issue to Jira project MCLOUD as Bug

[2021-03-04 17:13] m2-assistant[bot] opened #32372 "[Issue] Made address street line translation dynamic"
This issue is automatically created based on existing pull request: magento/magento2#32365: Made address street line translation dynamic

---------

### Description (*)
Currently, trying to add 'Street' above the first address line and 'House number' above the second address line is not possible because of the way the labels for the street lines are translated. In the current situation it is only

[2021-03-04 17:23] m2-assistant[bot] opened #32373 "[Issue] Fix file upload styles duplication in luma theme"
This issue is automatically created based on existing pull request: magento/magento2#32354: Fix file upload styles duplication in luma theme

---------

### Description (*)
I noticed that styles for file uploader located both in `styles-m` and `styles-l` css files that loaded on the page that is not really needed.
In order to fix that - I wrapped all styles to the following section:
[code]

### Re

[2021-03-04 17:26] m2-assistant[bot] opened #32374 "[Issue] Fix invalid method access to array in admin full tax summary"
This issue is automatically created based on existing pull request: magento/magento2#32346: Fix invalid method access to array in admin full tax summary

---------

### Description (*)

This seems to be a regression introduced here:
https://github.com/magento/magento2/commit/70ede03e5c2dc9e2c3bb23d0fc5c29cb03cbe7dd#diff-1f0e062a61e6915bf3f30e7ee293d2bb626f48a67aa14e79bb6f11635e053c6bR59

### Relat

[2021-03-04 17:27] magento-engcom-team commented on #32374
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41168` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-04 17:31] zakdma commented on #26374
@oefterdal this behaviour is by default. If you dont specify store code it takes data from default one.
If you want get data (options labels) from other than default store you should specify store code in URL
Example for second store view with code **ssv**
[code]

[2021-03-04 17:32] hostep commented on #26377
I'm pretty sure that PCI compliance doesn't say that you need to drop support for PHP versions which no longer receive security fixes. Magento just needs to ensure it works on PHP versions which do get security fixes (in case of the official PHP releases that would be PHP 7.3, 7.4 or 8.0 at the moment of writing). If it still supports older PHP versions that is very much appreciated for the mercha

[2021-03-04 17:32] m2-assistant[bot] opened #32375 "[Issue] Update ESLint configuration"
This issue is automatically created based on existing pull request: magento/magento2#32343: Update ESLint configuration

---------
### Description
The ESLint configuration currently in use was last updated four years ago. A lot has changed in the JavaScript since then. Let's update the configuration to match today's standards.

### Related Pull Requests

### Fixed Issues
*None*

### Manual testing

[2021-03-04 17:38] m2-assistant[bot] opened #32376 "[Issue] [FEATURE] graphQl-509: `save_in_address_book` has no impact on Addres…"
This issue is automatically created based on existing pull request: magento/magento2#32335: [FEATURE] graphQl-509: `save_in_address_book` has no impact on Addres…

---------
…s Book

### Description (*)

This is a forward port for https://github.com/magento/magento2/commit/f29efd3e44ecbf424d9e3126f3b968b286abff5e

### Manual testing scenarios (*)

1. Assign a new shipping address to the quote and

[2021-03-04 17:47] m2-assistant[bot] opened #32377 "[Issue] Replace repetitive actions with Action Groups in AdminCreateSimpleProductZeroPriceTest"
This issue is automatically created based on existing pull request: magento/magento2#32295: Replace repetitive actions with Action Groups in AdminCreateSimpleProductZeroPriceTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)

Run the test in the lo

[2021-03-04 17:48] m2-assistant[bot] opened #32378 "[Issue] Replace repetitive actions with Action Groups in AdminConfigurableProductChildrenOutOfStockTest"
This issue is automatically created based on existing pull request: magento/magento2#32293: Replace repetitive actions with Action Groups in AdminConfigurableProductChildrenOutOfStockTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Contribution checklist (*)
 - [ ] Pull requ

[2021-03-04 17:48] m2-assistant[bot] opened #32379 "[Issue] Replace repetitive actions with Action Groups in AdminCreateProductDuplicateUrlkeyTest"
This issue is automatically created based on existing pull request: magento/magento2#32288: Replace repetitive actions with Action Groups in AdminCreateProductDuplicateUrlkeyTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in the loc

[2021-03-04 17:50] rey8a commented on #23037
Is there a patch for this? Will this fix be added to 2.4.2-p1?
I see 2.4.3 beta is not scheduled to be released until July 6th, 2021.

[2021-03-04 17:53] m2-assistant[bot] opened #32380 "[Issue] Allow for preconnect, dns-prefetch and other link tags"
This issue is automatically created based on existing pull request: magento/magento2#32287: Allow for preconnect, dns-prefetch and other link tags

---------
Adding simple tags like `<link rel="preconnect" href="//cdn-ws.turnto.com"/>` currently requires a block and template, but could easily be injected into the head through layout updates

### Description (*)

### Related Pull Requests

### Fixe

[2021-03-04 17:54] m2-assistant[bot] opened #32381 "[Issue] WIP [MFTF] Coverage for the 30256 Unexpected unchecking of "Append Comments" check-box issue"
This issue is automatically created based on existing pull request: magento/magento2#32226: WIP [MFTF] Coverage for the 30256 Unexpected unchecking of "Append Comments" check-box issue

---------
### Description (*)
The test covers [the 30256 Unexpected unchecking of "Append Comments" check-box issue](https://github.com/magento/magento2/issues/30256)

### Related Pull Requests
https://github.com/m

[2021-03-04 18:03] m2-assistant[bot] opened #32382 "[Issue] Remove unnecessary clause from price index queries"
This issue is automatically created based on existing pull request: magento/magento2#32223: Remove unnecessary clause from price index queries

---------

### Description (*)

This removes a line that was rendered unnecesary by #22575. Currently there are two filters in the where clause for entity ID's. Since the second one explicitly lists the individual entity ID's, the BETWEEN AND clause is red

[2021-03-04 18:25] seyuf commented on #22337
Hi @ghost can you please reopen this? For further investigation? We just encountered the same issue after upgrade to 2.3.6.

[2021-03-04 19:09] zhartaunik commented on #30540
I faced the same issue. In my case attribute wasn't created using UI. Decimal attributes there created as
backend_type = varchar, frontend_input = text
In my case I made the following:
backend_type = decimal, frontend_input = text [optional input validation]

[2021-03-04 19:14] nickpiro commented on #24736
@sidolov this is a major issue still...Can we move it from 'Low Priority Backlog'? This causes the customer to not be able to checkout as it causes an error in the shopping cart.

[2021-03-04 19:29] killoff commented on #8181
The issue is still being reproduced on 2.4.1 (we upgraded on 16 Oct 2020)

[2021-03-04 20:12] hostep commented on #32292
The exact same problem was discovered in https://github.com/baldwin-agency/magento2-module-url-data-integrity-checker/issues/16

If you wrap that contents of that `applyFilters` method in something like the following, it no longer crashes, but I have no idea if that would be considered a good solution:
[code]

[2021-03-04 22:11] Dutch77 commented on #32341
I will clarify that
1. open some product in administration
2. upload an product image
4. save product
5. image is missing, browser placeholder instead see: https://ibb.co/3Fn8StC
6. this is the url of image `/media/catalog/product/r/e/red.png`
7. when visited, error 500 happen

[2021-03-04 22:39] famousuniverse commented on #25294
is there a fix? Have the same issue

[2021-03-04 23:19] carlos-reynosa commented on #31268
This is also an issue with 2.3.5

[2021-03-05 01:13] scott4243 commented on #32276
hi
thank you for replying i have just run the commands still the same i get this

i click on Manage Gallery then the following happens

Attention

Something went wrong.

Something went wrong with processing the default view and we have restored the filter to its original state.

when running your commands i did get this
Form: Additional restrictions grant
libpng warning: Interlace handling should

[2021-03-05 03:26] mrtuvn commented on #29338
How i can fight with silly annoying bot 🤖 let's kill it with fires

[2021-03-05 05:15] mrtuvn commented on #32179
Maybe @shiftedreality know this more than me

[2021-03-05 05:17] mrtuvn commented on #32285
cc @shiftedreality

[2021-03-05 05:46] jeredmilla opened #32383 "Bundle Items price after saving to 0.00 go back to default price value Bundle Product Edit"
### Preconditions (*)
1. Magento 2.4.2
1. Magento 2.4-develop

### Steps to reproduce (*)
1. Make a Bundle Product on the admin dashboard
1. Set the Bundle Items price to zero (0.00)
1. Save it
1. Go back again to the Bundle Items price you will see the price is not zero it will display the child product price.

### Expected result (*)
1. Saving it with Bundle Items zero price when you go back to

[2021-03-05 07:30] Thundar opened #32384 "Unused coupon marked as used"
### Preconditions (*)

1. Magento 2.3.6 (I've checked code version for Magento 2.4 and it's the same) and minimum order amount limit set
2. Registered user
3. Coupon code with 1 use for customer and fixed discount amount

### Steps to reproduce (*)

1. Fill the cart up to the minimum order amount
2. Put the coupon to the cart just before the last checkout step, so the new total order amount is bel

[2021-03-05 09:07] engcom-Bravo commented on #32347
@phathro
I see. Sometimes a problem might happen with the Page Builder because of caching. Did you try to clear the browser's cache and Magento cache?

Thank you in advance

[2021-03-05 09:55] DutchPrince commented on #10699
I have the same issue

[2021-03-05 10:08] davidandersson1 opened #32385 "Order created_at field showing wrong datetime in grid + order view page"
Hello,

We are using Magento version 2.3.5 + MySQL 5.7!

We are facing issue with order created_at time, its showing 1 hour behind compare to our timezone(Europe/Stockholm). (db field created_at and grid has same value)

We are using AWS RDS + ec2 instances for database and storefront and RDS showing UTC in all three fields as per below query
SELECT @@global.time_zone, @@session.time_zone,@@system

[2021-03-05 10:13] victorpetryk commented on #16202
@magento I am working on this

[2021-03-05 10:17] UncleKhab opened #32386 "[Issue - Important] - Problems with login"
### Preconditions (*)

1. Magento ver. 1.9.3.0
2. Any browser

### Steps to reproduce (*)

1. Try to login on any browser
2. Try to login with incognito

### Expected result (*)

1. Login and be redirected to dashboard.

### Actual result (*)

1. After completing the login fields with correct credentials, the page just reloads without redirecting to the dashboard
2. Sometimes it shows an error (In

[2021-03-05 10:28] engcom-Bravo commented on #32386
Hello @UncleKhab

Thank you for your report.

This is a known issue, connected with disabling URL Rewrites. The PR for the issue is here https://github.com/magento/magento2/pull/32099

[2021-03-05 10:28] #32386 closed, assigned to engcom-Bravo

[2021-03-05 10:38] Serializator commented on #32345
I experienced the same issue and disabling "Dotdigitalgroup_Sms" as well resolved it for me. Weirdly enough "Dotdigitalgroup_Sms" **is** specified as a dependency (sequence) in "Dotdigitalgroup_Email", so it's weird that it is enabled in the first place.

[2021-03-05 10:56] adamlavery opened #32387 "Fix Magento logging"
### Preconditions (*)
1. Install any version of Magento 2

### Steps to reproduce (*)
1. Set mode to Developer
2. Enable Debug

### Expected result (*)
1. Debug log will contain debug logs only
2. Cron log will contain cron logs only
3. System log will contain system logs only

### Actual result (*)
1. Debug log contains everything that is also logged to cron,log and system.log
2. System log conta

[2021-03-05 11:07] ioweb-gr commented on #10402
Persists in 2.4. It should be reopened.

[2021-03-05 11:48] Lewischarlton93 commented on #14211
@adarshkhatri  Thanks for the suggestion. This fixed the problem in my case. However, It seems that this breaks the format of the price currency inside Product options and related products (e.g. £3.50 becomes 3,50. -- without the symbol and , instead of .)

Any ideas how to resolve this?

[2021-03-05 12:09] AngelsDustz commented on #31286
Hello, I've read over this my bad! I do not have any logs that indicate what is wrong sadly. All I have is the exception message, no stack nothing.

[2021-03-05 12:22] kassner commented on #31278
bump

[2021-03-05 12:30] phathro commented on #32347
@engcom-Bravo i cleared the caches of every source i knew multiple times, so far this issue appears still. Also, interestingly, another colleague setup the project locally on his lap top and it works fine for him, with the same data.
So im still kinda clue less :)

[2021-03-05 12:32] magento-engcom-team commented on #32383
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41177` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-05 13:23] webkul-dhananjay opened #32388 "Got error after logged in as customer after logged in expired."
### Preconditions (*)

Magento 2.4.2
Php- 7.4.9
reproducible.

### Steps to reproduce (*)

Leave the session expired for the logged in customer and re- login as customer.

### Expected result (*)
should be logged in successfully

### Actual result (*)
shown error message after login

https://prnt.sc/105nv8p

[2021-03-05 13:59] Hexmage commented on #27657
I just noticed that this also happens for the Price attribute but @bharat1811 's pull request wont fix that. Since Price has it's own LayeredNavigation Builder and the label is hardcoded in there.

[2021-03-05 14:07] magento-engcom-team commented on #29549
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-03-05 14:07] magento-engcom-team commented on #29549
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41178` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-05 14:20] #31600 closed, assigned to ProkopovVitaliy

[2021-03-05 14:41] shiftedreality commented on #32285
This change was done as part of the Remote Storage development track.

We have not found official mention of this installation flow in either public or internal documentation. Also, our manual tests showed it as partially broken in 2.4.1.
Is there any official documentation that mentions this as supported?

[2021-03-05 14:42] shiftedreality commented on #32179
I've provided an update on #32285. It has also a workaround from the reporter.

[2021-03-05 14:47] vlmed commented on #32331
@magento I am working on this

[2021-03-05 16:22] khoimm92 commented on #32285
This .htaccess rule works for me (remove the slash before pub/):
`RewriteEngine on
RewriteCond %{REQUEST_URI} !^pub/
RewriteCond %{REQUEST_URI} !^/setup/
RewriteCond %{REQUEST_URI} !^/update/
RewriteCond %{REQUEST_URI} !^/dev/
RewriteRule .* pub/$0 [L]
DirectoryIndex index.php`

[2021-03-05 17:18] mamsincl commented on #32088
confirmed using 2.4.2 with php7.4

switching back to php7.3 temporarily solved the issue

[2021-03-05 18:05] tushhan commented on #12255
In my case (on Plesk) adding a dot "." to include_path screen resolved the issue.

![PHP Settings Plesk Obsidian](https://user-images.githubusercontent.com/746774/110155249-42639900-7ddd-11eb-9365-8cb90a73437b.png)

[2021-03-05 18:41] ci2014 commented on #16453
still an issue on Magento ver. 2.3.6.

[2021-03-05 21:07] abukatar commented on #16013
Found here https://devdocs.magento.com/guides/v2.4/install-gde/composer.html#install-magento
For Magento 2.4 you **must** use the command line to install it.

[2021-03-05 22:02] #30350 closed, assigned to amolina-adobe

[2021-03-06 05:58] farazWebDev commented on #32348
I tried to install using composer. Frontend and Backend URLs are throwing 404.

I also tried zip file, but same error. when extracted I found index.php file is not in root of Magento installation.
If I rename .htaccess file then URL shows all files and folders in the Magento installation directory.

[2021-03-06 08:37] theshreyas commented on #28200
For anyone stuck here, try [this quickfix](https://github.com/theshreyas/magento-2-quickies/tree/main/Graphql/DynamicAttributesGraphql) till its resolved in the core.

[2021-03-06 08:57] ioweb-gr commented on #4330
I think the issue I'm experiencing is also related to this issue. On 2.4.1 I'm facing an issue where I can't override the default_head_blocks.xml  in a Child of a Child theme.

E.g.

Vendor1
----Theme

Vendor2
----Child of Vendor1_Theme (default_head_blocks.xml works here)
----Child of Vendor2  -> Vendor1_Theme (this one can't  (default_head_blocks.xml doesn't work here)

I'm assigning the second

[2021-03-06 14:06] thomas-thaulow commented on #10304
This is really frustrating, feels like Adobe is saying its expected functionality, so they can close one of the thousands of issues here, rather then actually spend time fixing it. Backordering is backordering, and if the functionality of disabling sales for a product is important, Magento should add another attribute for "allow sale". Using out of stock or in stock for this, seems like horrible p

[2021-03-06 14:07] thomas-thaulow commented on #29216
Issue should definately be opened. The mentioned issue, were clearly not understood by the product owner evaluating it.

[2021-03-07 07:59] #29312 closed, assigned to nobody

[2021-03-07 08:21] YiffyToys commented on #31333
not blocking

[2021-03-07 08:22] #30471 closed, assigned to Bartlomiejsz

[2021-03-07 08:22] #23297 closed, assigned to engcom-Charlie

[2021-03-07 08:22] #30316 closed, assigned to engcom-Charlie

[2021-03-07 08:22] #31608 closed, assigned to Den4ik

[2021-03-07 08:22] #31954 closed, assigned to sergiy-v

[2021-03-07 08:22] #32079 closed, assigned to sergiy-v

[2021-03-07 08:22] #32262 closed, assigned to fnogatz

[2021-03-07 08:22] #32313 closed, assigned to ihor-sviziev

[2021-03-07 08:22] #30492 closed, assigned to engcom-Charlie

[2021-03-07 08:22] #31523 closed, assigned to AnnaAPak

[2021-03-07 08:22] #31557 closed, assigned to ajithkumar-maragathavel

[2021-03-07 08:22] #31852 closed, assigned to sergiy-v

[2021-03-07 08:22] #31948 closed, assigned to ihor-sviziev

[2021-03-07 08:22] #30328 closed, assigned to edenduong

[2021-03-07 08:22] #30855 closed, assigned to nobody

[2021-03-07 11:40] df2k2 commented on #31268
I think I know what is causing this issue.  I ran into an issue about 8 months ago when working with swatches...

There's a query that obtains the swatch attribute codes, but the query will only return results if options exist.   The file: `app/code/Magento/Swatches/Model/SwatchAttributeCodes.php` contains code that is a bit misleading.  There are functions with names like: getCodes() and getSwatc

[2021-03-07 11:44] df2k2 commented on #30046
I commented in a related issue, but I post here as well.   I feel as though this is related to functionality using:

https://github.com/magento/magento2/blob/c36492997ce9aa7949ef59b201da1be2ebe537bc/app/code/Magento/Swatches/Model/SwatchAttributeCodes.php#L70

I wrote some code that used this method and then had to change it because when no options are available, the attribute is not recognized as

[2021-03-07 12:57] bartoszkubicki commented on #29534
Still an issue

[2021-03-07 16:32] #5322 closed, assigned to nobody

[2021-03-07 16:41] xpoback commented on #19469
So when the customer grid in admin needs a reindex, the whole world should wait?
Some data in an admin grid might look outdated so let's make the downtime of the whole shop longer?

I've read the thread but still, why not to schedule the indexer so that it can later be run asynchronously instead of executing it directly in the upgrade script? The upgrade itself takes seconds to get executed but al

[2021-03-07 22:28] robocrax commented on #6682
Same issue happening in 2.3.4

Menu has a negative top value instead of 0 when scrolled to the top of the page.
[code]

This happens on every instance of every update, it's not a hit or miss for me. It always is `-136px`

[2021-03-08 02:37] portchris commented on #27542
Be sure to check your theme directories for any mis-use of `Magento_Customer/js/customer-data` I have found on multiple occasions when debugging that many devs opt to manipulate customer data to achieve things. Here was one I found recently in the `placeOrder: function () {` method of a third-party payment gateway integration that had been internally manipulated within the theme:
[code]
So search

[2021-03-08 04:39] ParimalSigma commented on #6018
We are also experiencing the same issue with latest Magento version 2.4.2

[2021-03-08 06:18] krishprakash commented on #32362
@magento give me 2.4-develop instance

[2021-03-08 06:29] magento-engcom-team commented on #32362
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41183` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-08 07:16] alam-ejaz commented on #32362
@magento I am working on this

[2021-03-08 07:16] alam-ejaz commented on #32362
@magento add to contributors team

[2021-03-08 07:18] ejaz-alam commented on #32362
@magento I am working on this

[2021-03-08 09:02] mjoraid commented on #29473
Does switching "Skip Order Review Step" to "Yes" help work around the issue?

Or is it just the `Enable Automatic Assignment to Customer Group` what causing the issue?

[2021-03-08 09:30] gixid192 commented on #32336
I checked and saw that the file is updated based on this PR
https://github.com/magento/magento2/commit/b4ee601db5141316c0d268f83e95f32d4e341162#diff-06f8b0bb867918bd12b29c8adaf25535b2c9606103739e4baba2d74c9b2a482f

I don't know how to find the original PR to read full description about it. But the code is there for a reason, maybe we should ask in the original pr/thread?

[2021-03-08 10:15] Eddcapone commented on #31337
This is still a good idea in my oppinion.

[2021-03-08 10:28] siliconalchemy commented on #10304
One thing I've noticed from involvement in other issues in Magento github - once an issue is closed they very rarely read/reopen/care about that issue any longer.  If you want action on a closed issue, open a new issue and reference the old one.

[2021-03-08 11:07] #31203 closed, assigned to nobody

[2021-03-08 11:16] Hexmage commented on #31353
Still an issue

[2021-03-08 11:25] ericmorand commented on #30471
@ihor-sviziev , thanks a lot for taking care of this. Much appreciated.

To give a little bit of context on this issue and a most of the other issues I've opened related to layouts, widgets and themes, we had to work on a custom design for a customer, based on the job from a creative agency. We didn't want to base our work on an existing Magento 2 theme (too much to _undo_) but still wanted to pro

[2021-03-08 11:39] koushikch7 commented on #16409
any updates or hotfixes on this issue?

[2021-03-08 11:56] sw-tt-jigneshvagh commented on #31466
any updates on this @engcom-Bravo @magento

[2021-03-08 12:25] sivamind commented on #26377
@nathanjosiah from the admin side we are using login as customer functionality then some times we are getting those js lax issues

[2021-03-08 13:14] mrtuvn commented on #30471
Thanks for your sharing such care
in my opinion magento 2 is great framework. Now you can do a lot with current tools. headless approach with magento only as backend and much more. No limited. But magento also keep bigger and bigger. Implements a lot new business logic. But I think adobe should more listen on developers experience instead focus on they business. Avoid break changes to lowest as po

[2021-03-08 13:37] lewisvoncken opened #32394 "Minimal Price in GraphQl is incorrect when special_to_date & special_from_date are not used in query"
### Preconditions (*)

1. Magento 2.3.6

### Steps to reproduce (*)

1. Create a simple product
2. Fill in the special_to_date and special_from_date with a date in the past
3. Set the default price 10 and the sales price to 5
4. use the following GraphQl query to retrieve product Details
[code]

### Expected result (*)

[code]

### Actual result (*)

[code]

### NOTE:
When you do add special_to_da

[2021-03-08 13:40] lewisvoncken commented on #32394
@magento I am working on this

[2021-03-08 14:19] Eddcapone opened #32396 "Changing theme for product from custom to luma or base theme causes bug - invalid template file"
### Preconditions (*)

1. Fresh 2.4.2 Enterprise
2. Apache 2
3. PHP 7.4

### Steps to reproduce (*)

**TERMS:**
app/design/frontend/company/fresh = **THEME**

# 1. Create new theme based on luma

## 1.1. **THEME**/registration.php

[code]

## 1.2. **THEME**/registration.php

[code]

## 1.3. **THEME**/Magento_Theme/layout/default.xml

[code]
## 1.4. **THEME**/Magento_Customer/templates/header/test.

[2021-03-08 14:32] Morgy93 commented on #31286
Probably same error here as described before, using very similar setup:

[code]

[2021-03-08 14:54] Eddcapone commented on #32396
Sorry, I mean "4. Open a product and set the Theme to "Magento Luma" not "Company Fresh". I edited the issue.

[2021-03-08 15:04] #32232 closed, assigned to engcom-Kilo

[2021-03-08 15:04] #17510 closed, assigned to engcom-Kilo

[2021-03-08 15:04] #32274 closed, assigned to SmVladyslav

[2021-03-08 15:05] #31103 closed, assigned to nobody

[2021-03-08 15:05] #28094 closed, assigned to nobody

[2021-03-08 17:06] Hexmage commented on #31351
It only seems to translate to the default store locale so if you have multiple locales it breaks.

[2021-03-08 17:35] Hexmage commented on #31351
[code]
Working version of the plugin at https://stackoverflow.com/questions/61770306/while-working-with-the-magento-2-graphql-it-seems-that-the-string-translation-do

[2021-03-08 18:50] iphigenie commented on #32285
the new installation documentation simply puts "pub set as the document root" in the requirements, which simply washes its hands of all other scenarios.

[2021-03-08 19:01] iphigenie commented on #32179
thanks @shiftedreality I see they went through several steps to "restore" the old way.

Obviously this will break on any upgrade and need to be redone over and over, so I would rather find ways to make the "new way" compatible with pub being a subfolder, not the root, and an htaccess that protects other folders funneling to the root.

in summary making pub the root:
- not possible on every hosting

[2021-03-08 22:08] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-03-09 02:29] mrtuvn commented on #32396
Are you sure file template defined in layout exist ?

<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>
        <container name="user-actions-col-b" htmlTag="div" htmlId="user-actions-col-b">
            <block class="Magento\Framework\View\Element\Template"
                   n

[2021-03-09 04:57] webgility-amazonapi opened #32397 "While updating the order status increment_id is also updating why?"
### Preconditions (*)

1. Magento version 2.3.1

### Steps to reproduce (*)

1. Call the API /rest/V1/orders
2. Provide the following request in API
 {"entity":{"entity_id":287,"status":"pending"}}
 3. Now downlaod the order id 287
 4. You will see increment_id is updated on UI and in order downlaod response as well.

### Expected result (*)

1. When we are updating only status it should only upda

[2021-03-09 05:37] #26002 closed, assigned to nobody

[2021-03-09 06:26] vittoria-ravi commented on #3307
@https://github.com/marcosdsdba Did you get the solution for above issue on 2.1.1v ? if not to upgrade.

[2021-03-09 07:04] vijay-prevaj commented on #26469
@magento-engcom-team any patch available for this issue ?

[2021-03-09 08:04] Eddcapone commented on #32396
Yes, of course. I double tested it on a fresh magento 2.4.2

[2021-03-09 08:53] mrtuvn commented on #32396
Ok theory it's should work but in real case we have to check for root cause if problem exists
CC: @engcom-Alfa @engcom-Bravo

[2021-03-09 09:40] CyberSecutor commented on #31007
Hi @engcom-Bravo and @frostblogNet

I have this issue as well. I can only trigger this issue with content pages with duplicate keys, but different stores created in 2.3.5 and after migrating to 2.4.1 this issue arises.

https://user-images.githubusercontent.com/843685/110450819-d8d8d880-80c3-11eb-9f62-7178711f668e.mp4

[2021-03-09 10:12] haroldclaus opened #32399 "Images removed from pagebuilder content when saving category twice"
When you edit a category in the backend of Magento and you add an image (via upload or media gallery) in a pagebuilder block, the image itself is saved properly when you save the category. It loads itself again (page-refresh after save) and you can see the image in the description field which has been build with the pagebuilder. Though if you hit the SAVE button of the category again, a new page-r

[2021-03-09 11:04] ihor-sviziev commented on #32388
Hi @webkul-dhananjay,
From the screenshot you provided, it feels like an issue in the custom extension Digitalgroup/Chat. Could you contact the support of this extension?

[2021-03-09 11:13] ihor-sviziev commented on #32098
Thank you for confirming that that was an issue with credentials. I'm closing this issue.

[2021-03-09 11:13] #32098 closed, assigned to ihor-sviziev

[2021-03-09 11:47] #20352 closed, assigned to nobody

[2021-03-09 11:49] magento-engcom-team commented on #20352
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-09 11:55] Rickertje commented on #23938
There a tens of issues describing this same problem dating back to the first release of M1 ten years ago. Now why is this issue closed (again) and what is the status of this problem ?? This is so tiring.

[2021-03-09 12:14] Eddcapone commented on #32396
I only get the problem on the product detail page of the product where I changed the style to Luma or Base

[2021-03-09 13:03] webkul-dhananjay commented on #32388
Sure

[2021-03-09 14:07] csvikram44 opened #32401 "Tax data-label attribute disappear after translation"
### Summary (*)
I noticed that Tax data-label working for English(default) language. After translate the text **Excl. Tax** to other languages it removed or disappear because CSS missing or not working for other languages. Every where it displaying using CSS and CSS written for **data-label="Excl. Tax"** only.

### Examples (*)
I attached 2 screenshots for cart and checkout page.
![image-issue-1](

[2021-03-09 14:22] jamie-selesti commented on #32351
As an update, if I comment out /vendor/magento/module-sales-rule/Model/RulesApplier.php:217 which is

`        //$this->validatorUtility->deltaRoundingFix($discountData, $item);
`

Then all the maths and logic then adds up as expected so I think the bug / issue is connected to the DeltaRoundingFix

[2021-03-09 14:23] engcom-Oscar commented on #32399
Hi @haroldclaus ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.
### Steps to reproduce (*)
1. Edit a category in the backend
2. Add a description via the pagebuilder
3. Add a row
4. Add an image (upload an image)
5. Add another row
6. Add text
7. Save the category
8. You'll see the image AND the text in

[2021-03-09 14:26] #32399 closed, assigned to engcom-Oscar

[2021-03-09 14:29] shiftedreality commented on #32285
You still can use `index.php` from the root folder.

We've adjusted root `.htaccess` to point to `pub` folder in a backward-compatible way.
Here is more on the change: https://github.com/magento/magento2/pull/29176

So, in version 2.4.2+ you still have 3 options as before:

1. Apache with the root `.htaccess` configured to point to `pub`: https://github.com/magento/magento2/blob/2.4.2/.htaccess
2.

[2021-03-09 14:35] shiftedreality commented on #32179
@iphigenie I clearly understand your concern.

However, we do not guarantee undocumented installation ways to work. From the Magento side, we do not have any documentation or testing scenarios to ensure this is something we support.

Before release, we had pretty long public and partner availability phases to make sure it is being tested by the pre-release program participants from different angle

[2021-03-09 15:09] khrystynastolbova commented on #31125
Sku field already has index btree. Basically Magento is unable to generate a unique name for the index and the constraint.
**Result:**
`SQLSTATE[42000]: Syntax error or access violation: 1061 Duplicate key name 'CATALOG_PRODUCT_ENTITY_SKU', query was: ALTER TABLE 'catalog_product_entity' ADD CONSTRAINT 'CATALOG_PRODUCT_ENTITY_SKU' UNIQUE KEY ('sku')`

Related issue https://github.com/magento/magen

[2021-03-09 16:26] Sental commented on #32177
This issue is caused by some questionable logic in `Magento\Checkout\Block\Checkout\LayoutProcessor` that was exposed by the change to `Magento\Customer\Model\Options` in #28238.

In the `convertElementsToSelect()` function of the `LayoutProcessor` it assumes the array key has relevance to the option and the content that it's getting ready to render. Previously to 2.4.2 the `Options` file created

[2021-03-09 17:00] theodorhanu opened #32405 "Purchase order number different db sizes in quote_payment and order_payment tables"
### Preconditions (*)
1. Magento 2.3 or 2.4

### Steps to reproduce (*)
1. Enable purchase order payment method
2. add products to cart and proceed to checkout
3. Select purchase order payment method and fill  in purchase order field with a value containing more than 32 characters
4. Place the order

### Expected result (*)
The purchase order number value  saved in order_payment should contain all

[2021-03-09 17:33] kanevbg commented on #19597
Has that issue with v2.3.6

[2021-03-09 17:56] elisei commented on #30520
This is not an obsolete problem and has already been pulled for solution.

[2021-03-09 19:00] #31173 closed, assigned to ProkopovVitaliy

[2021-03-09 19:01] #31346 closed, assigned to ProkopovVitaliy, konarshankar07

[2021-03-09 19:01] #31783 closed, assigned to ProkopovVitaliy

[2021-03-09 19:07] sivaschenko opened #32407 "Eliminate laminas/laminas-mvc-console dependency"
`laminas/laminas-mvc-console` dependency was temporarily introduced in https://github.com/magento/magento2/pull/31854 for Laminas Sevrice Manager, MVC and DI dependencies update.

Considering that this package is deprecated, it is required to move all necessary functionality to the Magento side and remove the dependency.

Target branch: `php8-develop`

[2021-03-09 19:17] marshallthornton commented on #31145
For anyone looking to still use DB locks while using Aurora DB replicas, we made a quick fix on our side to make sure all lock related queries get directed to the master DB. In `Magento\ResourceConnections\DB\Adapter\Pdo\MysqlProxy::isReadOnlyQuery` we adjusted the return condition to the following:
[code]
Adding that 3rd condition catches all lock related queries (GET_LOCK, RELEASE_LOCK, and IS_U

[2021-03-09 19:43] nickpiro opened #32408 "URL key "standard" matches a reserved endpoint name (admin, soap, rest, graphql, standard, swcradmin). Use another URL key."
### Preconditions (*)

1. Magento 2.3.6
2. This URL is actually a sub-category: example.com/category/standard
3. We upgraded from 2.3.0

### Steps to reproduce (*)

1. Create Category with sub-category URL standard
2. Try and save category
3. This error pops up.
4. This is actually an existing category.

### Expected result (*)

1. No error.

### Actual result (*)

1. Error: URL key "standard" mat

[2021-03-09 19:44] nickpiro commented on #32408
@magento give me 2.3.6 instance

[2021-03-09 19:48] nickpiro commented on #32408
@magento give me 2.4-develop instance

[2021-03-10 00:07] dantaeusb opened #32409 "Root .haccess leads to non-existent index.php"
I'm sorry if I'm wrong, but I'm extremely confused about the installation process. I followed steps included in official guides, with basic configuration based on Docker and WSL2. I tried to follow every step carefully several times cause still don't believe that's not my fault. However, looking at the older versions of source code, I'm very confused that there are no adjustments in docs and .htac

[2021-03-10 01:24] dantaeusb commented on #32409
My configuration is incorrect, I was trying to set up Apache + php-fpm because I haven't seen mod_php in requirements neither on [this](https://devdocs.magento.com/guides/v2.4/install-gde/prereq/apache.html) nor [this](https://devdocs.magento.com/guides/v2.4/install-gde/prereq/php-settings.html) page, but it seems to be assumed "by default" for Apache installations.

The Issue could be irrelevant,

[2021-03-10 02:35] thanura commented on #29365
Upgrading from 2.3.6-p1 to 2.4.2. Still got the same issue. I have created the patch using the commit here : https://github.com/ravi-chandra3197/magento2/tree/patch-29365

`diff --git a/vendor/magento/module-catalog-url-rewrite/Setup/Patch/Data/UpdateUrlKeyForProducts.php b/vendor/magento/module-catalog-url-rewrite/Setup/Patch/Data/UpdateUrlKeyForProducts.php
index 5e70399129..f74d8ca358 100644
--

[2021-03-10 07:04] hostep commented on #8971
Is still relevant in my opinion even though it will be considered low priority

[2021-03-10 09:36] HenKun commented on #32270
@JoostWan @willryanuk
I applied the patch of https://github.com/magento/magento2/commit/34ecd22341ba95e13c6dd7407dd74d6b20318487 which is the same as PR https://github.com/magento/magento2/pull/31556

However, that does not work for me for discounts smaller than 100%. Given a discount of 90%, the invoice grand total is just 0.

Can you check if this is only on my side?

![grafik](https://user-imag

[2021-03-10 09:41] ihor-sviziev commented on #32407
It feels like it's quite related to https://github.com/magento/magento2/issues/32321, as there is a notice "We recommend using laminas/laminas-cli.". Probably moving to laminas/laminas-cli will allow us to remove this dependency at all

[2021-03-10 09:43] barryvdh commented on #32270
I'm having the same problem with 99% discount rates.

[2021-03-10 09:45] HenKun commented on #32270
@barryvdh Did you try the patch proposed by https://github.com/magento/magento2/issues/30853#issuecomment-764582933 ?

[2021-03-10 09:49] #31448 closed, assigned to nobody

[2021-03-10 10:45] HenKun commented on #32270
The patch in https://github.com/magento/magento2/issues/30853#issuecomment-764582933 could not be applied, so I created it on my own:

[code]

I tested it with discounts of 0%, 40%, 50%, 90% and 100%

All tests worked fine with my setting. (On M2.4.1)

However, I am not sure what the commit  https://github.com/magento/magento2/commit/c710c9b38e0bcfbaedc6114bc5b4b9e62df95bbf  `MC-35554: Orders with

[2021-03-10 10:46] #13915 closed, assigned to nobody

[2021-03-10 10:50] HenKun commented on #30853
I can confirm the proposed change in https://github.com/magento/magento2/issues/30853#issuecomment-764582933 works for discounts of 0%, 40%, 50%, 90% and 100% on M2.4.1. While the given patch could not be applied in my case I created a new (identical) one, see https://github.com/magento/magento2/issues/32270#issuecomment-795232668

The here mentioned fix in PR #31556 does work for discounts of 100

[2021-03-10 10:53] magento-engcom-team commented on #32405
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41220` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-10 11:13] Eddcapone commented on #29797
I have this issue with Magento 2.4.2 Enterprise. I also tested with a fresh magento.

[2021-03-10 11:16] Eddcapone commented on #29797
@magento give me 2.4-develop instance

[2021-03-10 11:18] #32347 closed, assigned to nobody

[2021-03-10 11:24] Eddcapone commented on #29797
I updated the weight attribute of some products, lets keep an eye to it:
https://4ac6ac9a19ad3ca16429aeb14bf67949-2-4-develop.instances.magento-community.engineering/admin_1213/bulk/bulk/details/uuid/679e50be-a03c-40ac-9569-75300cf2c6aa/

[2021-03-10 11:29] Eddcapone commented on #29797
I figured out that the jobs are suddenly running successfully if you execute `php bin/magento queue:consumer:start product_action_attribute.update`. So it looks like the cron job fails to execute this command for unknown reasons

[2021-03-10 11:32] khrystynastolbova commented on #32369
@magento I am working on this

[2021-03-10 11:46] #30785 closed, assigned to nobody

[2021-03-10 11:47] mrtuvn commented on #32401
What version that you get problem ?

[2021-03-10 11:55] csvikram44 commented on #32401
I get issue on
"magento/product-community-edition": "2.3.5-p2"

[2021-03-10 11:55] pykettk commented on #30719
+1 [for the solution](https://github.com/magento/magento2/issues/30719#issuecomment-778826680) from @mariuscris - worked for me! 😃

[2021-03-10 12:22] Eddcapone opened #32426 "Message Queues are not executing automatically"
### Preconditions (*)

1. 2.4.2 Enterprise

### Steps to reproduce (*)

1. Load Magento Backend
2. Go to: Catalog -> Products
3. Select multiple products
4. Open the mass actions dropdown
5. Select "Update attributes":

![image](https://user-images.githubusercontent.com/16349349/110627725-9639fd80-81a2-11eb-860e-59331953c11b.png)

6. Change the weight to 1234 in the next window.
![image](https://u

[2021-03-10 13:04] engcom-Oscar commented on #32388
Hi @webkul-dhananjay ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.

### Steps to reproduce (*)
1. Create new customer from homepage
2. Login as new customer
3. Leave the session expired for the logged in customer
4. Try re- login as customer.

**Actual Result:** :heavy_check_mark:
Customer logged in su

[2021-03-10 13:04] #32388 closed, assigned to nobody

[2021-03-10 13:07] eduard13 commented on #32394
Hi @lewisvoncken, thank you for reporting this issue, but it seems to be already reported in #29631.
Closing this as duplicate.

[2021-03-10 13:07] #32394 closed, assigned to nobody

[2021-03-10 13:09] paales opened #32427 "GraphQL QueryComplexityLimiter queryComplexity is set too low value and queryDepth probably too high"
### Preconditions (*)

1.  Magento 2.4.2

### Steps to reproduce (*)

I'm trying to fetch all product information for the product page in one go:

- All product information and relevant attributes
- All upsells/related products with specific fields for each product type
- Etc.

When I run this query I get an error: `Max query complexity should be 300 but got 388.`

### Expected result (*)

I'm not

[2021-03-10 13:31] mrtuvn commented on #32401
Seem i don't get problem like your describe (Tried in latest version 2.4-develop + sample data with german locale)
![Screenshot from 2021-03-10 20-30-17](https://user-images.githubusercontent.com/1908873/110637096-a0c6b800-81df-11eb-9dc5-5d6f37047023.png)

[2021-03-10 13:33] mrtuvn commented on #32401
#1 text still visible not be hidden
#2 test translate as we expected relate german

[2021-03-10 13:43] #32426 closed, assigned to nobody

[2021-03-10 13:45] ericerway commented on #30835
@magento give me 2.4.1 instance with edition ee

[2021-03-10 14:03] i95devdivya commented on #22300
We are facing the same issue in Magento Commerce B2B 2.3.5.

The same plug-in which I have mentioned earlier from B2B Company Credit module causing the issue

"Magento\CompanyCredit\Plugin\Sales\Model\Order\InvoiceQuantityValidatorPlugin"

If we comment above plug-in from di.xml then we are able to create partial invoice from REST API.

[2021-03-10 14:26] i95devdivya opened #32428 "Not able to create partial invoice from Magento2 REST API for Pay on account [Company Credit] payment method orders"
**Preconditions**
Magento EE 2.3.5 B2B
PHP 7.2.x

**Steps to reproduce**
Create order in Magento either with company user or company admin with Pay on account(Company Credit) payment method with multiple items with different quantities or single item with more than one quantity
Try to create an invoice for the order for the partial quantity from Magento REST API using service POST /V1/order/{order

[2021-03-10 14:28] i95devdivya commented on #32428
We observed the following plug-in from B2B Company Credit module causing the issue

"Magento\CompanyCredit\Plugin\Sales\Model\Order\InvoiceQuantityValidatorPlugin"

If we comment above plug-in from di.xml then we are able to create a partial invoices from REST API.

[2021-03-10 14:28] i95devdivya commented on #32428
#22300

[2021-03-10 14:33] Eddcapone commented on #32426
I think the issue is only in 2.4.2

[2021-03-10 14:59] malafalx91 commented on #22841
Almost after 2 years no one has solved this problem yet?

[2021-03-10 15:30] nbennett25 opened #32429 "Magento 2.3.5-p2 EE customer receives default Welcome email regardless of config setting"
### Preconditions (*)

1. Magento 2.3.5-p2 EE installed
2. B2B Company module is enabled

### Steps to reproduce (*)

1. Go to Email Templates
2. Click create new template
3. Load new account registration email template
4. Customize
5. save template
6. Go to Customer configuration
7. Set customized template as template to send on new account registration
8. Go to front end
9. Create Company via th

[2021-03-10 15:59] munkhulzii opened #32430 "Options Text Swatch Label can not be updated for Store-Scope Level via REST-API"
### Description (*)
As Developer I want to add Labels for Text-Swatch Options(Attribute size) for multiple language store scopes. After update the labels of options for size attribute it still shows the label for default store in frontend.

### Steps to reproduce (*)
1. Use Magento 2.4.2 instance
2. Add new store scopes DE(locale DE_DE) and FR(locale FR_FR) as example additionally to the default s

[2021-03-10 17:05] vijay-prevaj opened #32431 "New product need to add at bottom position at the category product list instead of top"
### Steps to reproduce (*)
1. Create 3 product in the one category
2. Set position for this product 1, 2 and 3
3. Create one more product in the same category

### Expected result (*)
1. Last created product should be at the end of category product list

### Actual result (*)
1. Last created product at the first position of category product list (position is set as 0)

---
Please provide [Severity

[2021-03-10 17:39] nickpiro commented on #26824
We're still seeing this exact issue on 2.3.6! Why is this closed!?

In our case, we've been converting old Configurable products to new products using swatches. The parent is changed but the child/simple is the same as the old.

if a customer had the original item in their cart not only does the parent stay but so does the child. We've been able to track this by keeping old parents with SKUs endin

[2021-03-10 18:59] dbachmann commented on #30094
@pjayramkumar I can confirm this error also in 2.4.2 when you open an order which was paid by paypal plus using an older version from I-ways paypal plus extension. In Magento 2.4.2 with the latest paypal plus extension everything works fine and there are no errors. I can open new orders without any issues.
So, to fix the bug with older orders I tested your bugfix. After patching the files I could

[2021-03-10 19:00] #32320 closed, assigned to AndreyChorniy

[2021-03-10 20:11] hostep commented on #26292
@kassner: feel free to send in a PR if you can. Branch `2.5-develop` has been open for some weeks now. But I don't know if the `2.4-develop` or `2.5-develop` branch is most appropriate for this change. I think some maintainer here will let you know their thoughts when you open it for the wrong target branch.

[2021-03-10 20:13] hws47a commented on #32321
@magento I am working on this

[2021-03-10 20:13] hws47a commented on #32407
@magento I am working on this

[2021-03-10 20:43] iphigenie commented on #32285
I understand that having magento in subdirectories is not supported - it would have been nice if so many installation instructions and hosting companies didn't make it the default.

I don't mind switching to running through pub either, that's fine.

What's more flabbergasting is that a base URL containing a subpath - I'm talking urls here, independently from any "server storage" - like mysite.com/

[2021-03-11 01:16] khrystynastolbova commented on #32370
@magento I am working on this

[2021-03-11 01:54] mrtuvn commented on #32409
You should update description for what version of magento that you got issue
Since 2.4.2 magento changed root folder to pub (index.php file in there) No longer file index.php in root like before (2.1, 2.2, 2.3)
If you have only one site magento at time run. Everything start at pub folder

If you see file .htaccess that changed

`RewriteEngine on
RewriteCond %{REQUEST_URI} !^/pub/
RewriteCond %{REQ

[2021-03-11 02:29] mrtuvn commented on #32285
Maybe this link https://devdocs.magento.com/guides/v2.4/install-gde/tutorials/change-docroot-to-pub.html will have more clear about this

[2021-03-11 04:48] tuyennn commented on #15155
@magento-engcom-team @sdzhepa What is the current status of this 3year-olds suggestion improvement on current `2.4-develop` ?

[2021-03-11 05:19] #32401 closed, assigned to nobody

[2021-03-11 07:28] dantaeusb commented on #32409
Hi Tu,

Sure thing, I was talking about Magento 2.4.2. Yes, practically I understood that "document_root_is_pub" is now a default behavior. From my point of view, the problem is:

a) This change is not covered by official guides at all;
b) It's meaningless and confusing because it's always overridden by similar rules `pub/.htaccess`. I was thinking that I have deployment issues because I was despe

[2021-03-11 08:00] shoaibgits commented on #16367
With the same situation it is now working fine for me with Magento 2.3.6

[2021-03-11 08:23] gixid192 commented on #24275
This issue has been fixed in Magento 2.3.5, here is the commit: https://github.com/magento/magento2/commit/dac83def7ac97a184fe5f3cad77116b2b2221015#diff-62a9eb70c523c6139f365640935a809fe043aed799010defb94d6a36491f4fc4

I checked and none of Magento which is less than 2.3.5 has this fix. So you may need to implement it yourself. Or upgrade to new Magento

[2021-03-11 08:46] mrtuvn commented on #32409
Yes must be someone need to update docs soon. This critical may affected to a lot store when upgrade to new version
You should try to point to index.php file in pub instead. Maybe that will help

[2021-03-11 09:22] jesse-deboer opened #32437 "There is no way to get the product price including and excluding tax in GraphQL at the same time"
### Preconditions (*)

Magento 2.4.1

### Steps to reproduce (*)

1. Go to the admin, then `Stores > Settings > Configuration`
2. Under `Sales > Tax > Price Display Settings` set  `Display Product Prices in Catalog` to `Including and Excluding Tax`
3. Run the following GraphQl query

[code]

### Expected result (*)

I would expect there to be a `value_with_tax` and `value_without_tax`, but there i

[2021-03-11 09:38] diegozanotti opened #32438 "Cart page error with Porto theme"
### Preconditions (*)
1. Magento 2.3.6 in developer mode
2. Porto theme 3.2.6
3. Paypal and Stripe checkout methods
4. PHP 7.3 and Debian 4.9.246-2 (dedicated virtual machine)
5. website: https://www.00up.app/magento2/

### Steps to reproduce (*)
1. Go to catalog
2. Add product to cart (one or more)
3. Click on shopping bag top right
4. Open mini cart
5. Click on bottom button (view or edit cart)

[2021-03-11 09:45] mrtuvn commented on #32438
Seem this problem related to porto theme and not from magento
Some layout of your theme rely on argument tag but it's missing name attribute (this is required)
Search in entire your theme files and locate the missing tag argument

[2021-03-11 09:47] JoostWan commented on #32383
@jeredmilla We have the same issue. Did some debugging and the issue has been created since this commit https://github.com/magento/magento2/commit/8974e16d98b6154c64b5de6288d3d7ac7cc7291e.

[code]

[2021-03-11 09:52] Sufi737 opened #32439 "Cateogyr "Match products by rule" not considering store price currency"
### Preconditions (*)
1. Using Magento 2.3.4 Enterprise
2. Category and products created in admin
3. Multiple store views with different price currencies. For example, one US store with $ currency and another UK store with pounds currency.

### Steps to reproduce (*)

1. Got to Admin -> Catalog -> Categories
2. Select a category and go to the UK store view having pounds currency.
3. Select Product

[2021-03-11 09:56] diegozanotti commented on #32438
Thank you for your fast reply! Unfortunately I'm new in Magento, can you please suggest me how to check and fix it?

[2021-03-11 09:57] sivamind opened #32440 "cookie lax append issue magento 2.4.2 upgrade enterprise b2b"
on magento 2.4.2 upgrade Uncaught TypeError: Cannot create property 'cart' on string '{"messages":1613612384,"company":1613612384,"customer":1613612384,"compare-products":1613612384,"requisition":1613612384,"last-ordered-items":1613612384,"cart":1613612384,"directory-data":1613612384,"captcha":1613612384,"wishlist":1613612384,"company_authorization":1613612384,"negotiable_quote":1613612384,"instan

[2021-03-11 10:07] #32439 closed, assigned to nobody

[2021-03-11 10:57] chris-pook commented on #20332
Hi @swetacedcoss, @Bartlomiejsz

This looks like it has caused an issue with the shipping address fields on the checkout shipping address section (tested in 2.4.2). The country selection now comes straight after the street input fields. It doesn't look like this was intentional as part of this fix:

![image](https://user-images.githubusercontent.com/4628660/110776972-83820000-8258-11eb-9c86-f3b790

[2021-03-11 10:59] mrtuvn commented on #32438
You should search all tag argument in XML files in your porto scope theme to indicates missing required name one

[2021-03-11 11:07] sivaschenko opened #32442 "Remove laminas/laminas-form dependency"
laminas/laminas-form is not used directly in Magento and MBE codebase, this dependency has to be removed from composer.json

[2021-03-11 11:08] mam08ixo commented on #30053
This is an MSI bug: https://github.com/magento/inventory/issues/3298

[2021-03-11 11:09] sivaschenko opened #32443 "Update laminas/laminas-captcha dependency to PHP 8 compatible version"
Update laminas/laminas-captcha dependency to PHP 8 compatible version

Depends on the new laminas/laminas-captcha version release.
That depends on the pull request: https://github.com/laminas/laminas-captcha/pull/7
That depends on the PHP 8 compatible version for laminas-recaptcha
That depends on the pull request: https://github.com/laminas/laminas-recaptcha/pull/5

[2021-03-11 11:20] diegozanotti commented on #32438
Ok, will try, thank you very much!

[2021-03-11 11:20] #31345 closed, assigned to hws47a

[2021-03-11 11:27] mtwegrzycki opened #32444 "Cron jobs scheduled once time per day are not ran"
### Preconditions (*)
1. Magento 2.4.0

### Steps to reproduce (*)
1. Open cron_schedule table in database
2. Try to find job with job_code 'sales_clean_quotes'
3. There are no results for this job_code

### Expected result (*)
1. Cron job sales_clean_quotes is ran once time per day and expired carts are removed

### Actual result (*)
1. Cron job is not scheduled and is not ran.
2. I found, that a

[2021-03-11 11:30] #32319 closed, assigned to khrystynastolbova

[2021-03-11 11:35] ocirneb opened #32445 "Tier Price Refresh after custom option price change in simple product"
Preconditions (*)
Magento 2.3.1

Steps to reproduce (*)
Create single product with tier prices and custom options that change price

Expected result (*)

When i change custom option in product page
single price change
tier price table change

Actual result (*)
only single price change

[2021-03-11 11:38] engcom-Oscar commented on #32429
Hi @nbennett25 !
Thank you for your report.
If I understand your issue right, to change email template for Company registration you need to do it in Admin -> Configuration -> Customers -> Company Configuration -> Email Options - Company Registration -> Default Company Registration Email. Please re-check
![Screenshot from 2021-03-11 13-36-56](https://user-images.githubusercontent.com/60198413/11078

[2021-03-11 11:42] chris-pook opened #32446 "Image filename not necessarily set when logging file not found error"
### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)
1. In extension code use \Magento\Framework\Image\Factory::create($filePath) where $filePath is not a valid file.
2. View var/log/exception.log. Filepath is empty in exception log file.

### Description (*)
This appears to be a problem with the Magento Framework GD2 library assuming $this->_fileName has been set where it may not ne

[2021-03-11 11:45] chris-pook commented on #32446
This appears to be a problem with the Magento Framework GD2 library assuming $this->_fileName has been set where it may not necessarily be the case.

https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Image/Adapter/Gd2.php#L66

The file_exists check is on $fileName (which does have a valid value in the bug scenario here), so I would expect the exception message to

[2021-03-11 11:50] #31784 closed, assigned to khrystynastolbova

[2021-03-11 11:50] #32317 closed, assigned to khrystynastolbova

[2021-03-11 11:56] AndreyChorniy commented on #32442
@magento I am working on this

[2021-03-11 11:57] sivaschenko commented on #31777
@sergeynezbritskiy MFTF PR was merged, this task in now unblocked

[2021-03-11 12:06] engcom-Oscar commented on #32408
Hi @nickpiro !
The described issue is expected behavior for Magento 2.4 latest release, so have to close this ticket as non-issue.

[2021-03-11 12:06] #32408 closed, assigned to nobody

[2021-03-11 12:33] nickpiro commented on #32408
@engcom-Oscar thats very strange behavior considering we already have categories that end in standard. Are you saying that these categories are causing an issue somehow? Also, how does /sub-category/sub-category/standard not be able to be used? You’re saying a company cannot have products that are called “standard”?

There is no explanation as to what is the reasoning? What’s the reason that this

[2021-03-11 12:34] engcom-Oscar commented on #32397
Hi @webgility-amazonapi !
Thank you for report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps  from this ticket.
As result i have Order status updated, but entity_id still the same.
![Screenshot from 2021-03-11 14-30-36](https://user-images.githubusercontent.com/60198413/110787763-6d833800-8276-11eb-8183-7604dc27a658.png)
![Screenshot from 2021-03-

[2021-03-11 12:50] roman-mer commented on #28913
Can you share your Penthouse setup in Magento 2?

[2021-03-11 13:15] nickpiro commented on #32408
Any guidance would be nice! @engcom-Oscar

[2021-03-11 13:40] webgility-amazonapi commented on #32397
Hello Slava Moskalyuk
We are asking about the increment_id. When we are updating the status only the increment_id is automatically gets updated.

[2021-03-11 13:52] magento-engcom-team commented on #31430
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41265` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-11 14:00] ZIPITRO opened #32450 "Module_Checkout: minicart.phtml knockout enhancement for summary_count label ( item or items )"
### Description
Adding one item to your cart gives you 1 items in cart
Adding more items in your cart it gives 2 items in cart

Issue 29920(closed) didn't fix the label.

By enhancing the KO* code in minicart.phtml you can have 1 item or 2 items

### Expected behavior
By enhancing the KO* a bit you will have this result

- When adding one item to your cart gives you 1 item in cart
- When adding mo

[2021-03-11 14:30] Leland commented on #28913
@roman-mer sure - we're using Azure to handle deployments. We built a Penthouse node script that runs during the deployment that crawls through a headless Chrome instance and visits a specified number of URLs (homepage, PDP, etc). We then have some Regex that removes selectors that match to reduce the overall size. And finally, we have some manual CSS that is appended to it, which then produces a

[2021-03-11 14:35] nbennett25 commented on #32429
Thx @engcom-Oscar - I should have been more clear - even with the Admin -> Configuration -> Customers -> Company Configuration -> Email Options - Company Registration -> Default Company Registration Email set to the customized template, the system is still sending the default one.

[2021-03-11 14:36] magento-engcom-team commented on #32384
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41267` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-11 14:49] slackerzz commented on #31644
Found this bug today, upgrading an existing website that has custom attributes for customer addreess

[2021-03-11 14:51] ZIPITRO commented on #32450
@magento I am working on this

[2021-03-11 15:17] Munktells opened #32452 "SQLSTATE[42000]: Syntax error - When running php bin/magento setup:rollback (M 2.4.2 and Maria DB 10.4)"
### Preconditions (*)
1. Install `Magento 2.4.2` using `Maria DB 10.4.18` as your SQL Server.

### Steps to reproduce (*)
1. Run `php bin/magento setup:rollback -d 1615417201_db.sql `
2. Wait until error occurs.

### Expected result (*)
Operation ends with:
`[SUCCESS]: Database rollback completed successfully.`

### Actual result (*)
Operations ends with:
`SQLSTATE[42000]: Syntax error or access v

[2021-03-11 15:33] kanduvisla commented on #29334
This issue is also triggered in Magento 2.4.1 and 2.3.6 by the Dotdigitalgroup_Email-module. The `Dotdigitalgroup\Email\Setup\Install\DataMigrationHelper->emptyTables()` seems to trigger the error if I look at the stack trace.

[2021-03-11 16:19] pmbright opened #32453 "Configurable product shows price of options excluding tax when configured to show prices including tax"
### Preconditions (*)

1. Magento CE 2.3.6
2. PHP 7.3.27
3. Ubuntu 20.04.1

### Steps to reproduce (*)

1. Ensure that the store is configured to show prices including tax.
2. Create a configurable product with size and colour attributes
3. Change the price of some of the simple products that were created by the configurable product wizard.  In our case we have one size that has a higher price tha

[2021-03-11 16:21] pmbright commented on #32453
I have confirmed that the issue is present using the Luma theme, so it does not appear to be related to the Theme our store uses.

[2021-03-11 16:23] pmbright commented on #32453
Issue is reproduced on our test server.  Here is a link to a product showing the issue:   https://test.bbwear.co.uk/deluxe-bee-suit

[2021-03-11 16:34] roman-mer commented on #28913
Someone might share a Penthouse setup in Grunt (Magento 2)
I found such a customization recommendation, but so far I have not been able to implement it:

add new task
grunt.initConfig({
  penthouse: {
    extract : {
        outfile : '.tmp/out.css',
        css : './dist/css/full.css',
        url : 'http://localhost:9000',
        width : 1300,
        height : 900,
        skipErrors : false //

[2021-03-11 16:48] mrtuvn commented on #28913
i think there are not common results for all here. You have to build your own tools to meet your requirements
Build process deploy like Leland describe above. Css will change not only by the page you visit but also the  viewport related (width height). Height 200 will be difference with Height 900
Default luma critical would not much help for you since styles quite big with we  have alot styles an

[2021-03-11 17:16] pmsteil commented on #22161
Any details on what causes this "backlog" on the indexes?

Is there a workaround?  I am seeing:

`| catalogrule_product                             | Catalog Product Rule                         | Ready  | Schedule  | working (24658 in backlog) `

[2021-03-11 17:22] sivaschenko commented on #32383
The case from https://github.com/magento/magento2/issues/28431 needs to be tested as well during verification of this issue fix

[2021-03-11 17:27] shiftedreality commented on #32285
@iphigenie is this solved for you with alternative configuration instructions?

I will be happy to help with any documentation updates if needed.

[2021-03-11 17:35] mrtuvn commented on #32285
CC: @dobooth may be we need add issue clarify this section in devdocs

[2021-03-11 17:36] sivaschenko commented on #20317
Considering the comment https://github.com/magento/magento2/issues/20317#issuecomment-611561984 looks like this is not a bug. Closing it now. Feel free to reopen if additional details will arise.

[2021-03-11 17:36] #20317 closed, assigned to nobody

[2021-03-11 17:41] m2-assistant[bot] opened #32454 "[Issue] Seperate js out template to avoid render issue"
This issue is automatically created based on existing pull request: magento/magento2#32434: Seperate js out template to avoid render issue

---------

### Description (*)

Main purpose of this PR to seperate js out of template avoid mix js-in-php

Previously if we set store to production with minify enabled. When access backend will raise error because phtml can't render properly

Reference var/lo

[2021-03-11 17:55] ryanb945 commented on #22161
From what I can tell, the cause is whenever there is a mass amount of data changed using the import function. Workaround that we use is to just run bin/magento indexer:reset and then running bin/magento indexer:reindex commands. That usually clears the backlog and makes all data updates show up properly on frontend. At least that is what works for us.

[2021-03-11 18:04] #30503 closed, assigned to nobody

[2021-03-11 18:04] #29952 closed, assigned to nobody

[2021-03-11 18:04] #30912 closed, assigned to nobody

[2021-03-11 18:07] magento-engcom-team commented on #29952
Hi @vincent2090311.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39821` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-11 18:14] celorodovalho commented on #10229
@careys7 I had the same problem, but I could edit the company, after follow this step:

https://docs.magento.com/user-guide/customers/account-company-manage.html#activate-company-accounts
[code]

[2021-03-11 19:27] ihor-sviziev commented on #29334
@kanduvisla, could you contact their support?

[2021-03-11 19:28] hostep commented on #32444
Hmm strange

Not sure about Magento version 2.4.0 but I can tell that on Magento 2.4.2 it works correctly.

Can you make sure that you've checked the `var/log/cron.log` file as well?
Because executed cronjobs that succeeded will be removed from the `cron_schedule` database table after 60 minutes (that's the default setting, but you can override it in Stores > Configuratoin > Advanced > System > Cr

[2021-03-11 21:51] #30149 closed, assigned to engcom-Kilo

[2021-03-11 21:51] #31849 closed, assigned to engcom-Kilo

[2021-03-11 21:51] #32250 closed, assigned to engcom-Echo

[2021-03-11 22:15] diegozanotti commented on #32438
I have tried to set LUMA theme instead PORTO, and have the same error, so should be not Porto theme error...

[2021-03-11 22:26] cspruiell commented on #30915
@sasha19957099 Please provide a pull request for your fix.

[2021-03-12 01:28] jeredmilla commented on #32383
@JoostWan Thanks it is working when removing this.
@sivaschenko I will wait for the update for this. We are not still upgrading to 2.4.2. Thanks!

[2021-03-12 01:45] mrtuvn commented on #32438
What about switch to blank theme ?

[2021-03-12 02:43] HarryHung-Shopstack commented on #30540
i got same issue. how about update it, hello @trunglv

[2021-03-12 04:13] trunglv commented on #30540
Pls check my quick fix - It may help
https://github.com/betagento/magento2_search_fixing

[2021-03-12 04:38] HarryHung-Shopstack commented on #30540
thanks @trunglv , i tried but it's not working for me.
hot fix i have to set config "use in search" to No

[2021-03-12 04:45] trunglv commented on #30540
I worked on my customer website. Hope you have already done  necessary commands for it : setup-upgrade, Di Compile -- Cache so on ... -- Anyway Thanks for trying. I will try it to aother place

[2021-03-12 04:52] HarryHung-Shopstack commented on #30540
i am using magento 2.4.0
i create an attribute
![image](https://user-images.githubusercontent.com/76460551/110893723-1ab68880-8329-11eb-8681-7330c0dc1459.png)
i can typing the number to the search box  and it's working
but if i typing the string/text to the search box, it's not work
already got the error
`Exception #0 (Elasticsearch\Common\Exceptions\BadRequest400Exception): {"error":{"root_cause"

[2021-03-12 06:32] taipt-0504 commented on #31117
Pls solve this problem. It impact a lot

[2021-03-12 07:28] kkhebbar89 commented on #26377
@sivamind @nathanjosiah
I am facing the issue at (Magento 2.4.2) frontend on login, not able to understand how its happening. But on debugging found that the cause of the issue is lib/web/jquery/jquery.cookie.js line no. 50. The code is

_options.samesite  ? '; samesite=' + options.samesite : 'lax'_

I think it should be as below

_options.samesite  ? '; samesite=' + options.samesite : '; samesite

[2021-03-12 07:41] diegozanotti commented on #32438
Yes I have tried with blank theme too... same error

[2021-03-12 07:46] mrtuvn commented on #32438
Maybe cause from layout modules. It's hard to tell you without see direct code. You should re-test with sample instance. Clean install without any customise

[2021-03-12 07:46] gixid192 commented on #16750
The issue has been fixed in latest Magento versions (Magento 2.3.6 and 2.4.2)

[2021-03-12 07:56] plastikschnitzer commented on #25177
@magento give me 2.4-develop instance

[2021-03-12 08:06] ZIPITRO commented on #32450
@magento add to contributors team

[2021-03-12 08:06] ZIPITRO commented on #32450
@magento add to contributors team

[2021-03-12 08:15] Zwernemann opened #32456 "Admin Grid date range filter not working as expected"
### Preconditions (*)

1. Magento 2.4.1

### Steps to reproduce (*)

1. In Backend select "Sales/Orders".
2. Click on "Filters" and add a date range filter for "purchase date" and apply this filter. The filtered grid will appear as expected.
3. Click on "Clear all" to remove this filter
![filter2](https://user-images.githubusercontent.com/52236002/110911760-6100ed00-8313-11eb-953a-1a08d3276b04.JPG

[2021-03-12 08:29] engcom-Oscar commented on #32429
Hi @nbennett25  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.
### Steps to reproduce (*)
B2B Company module is enabled
1. Go to Email Templates
2. Click create new template
3. Load new account registration email template
4. Customize
5. save template
6. Go to  Admin -> Configuration -> Customers -> Com

[2021-03-12 08:33] pemann commented on #26377
@kkhebbar89 Is there the same problem in https://github.com/magento/magento2/blob/2.4.2/lib/web/mage/cookies.js Line 79?

[2021-03-12 08:35] #32429 closed, assigned to nobody

[2021-03-12 08:57] pemann commented on #26377
Why there is no samesite setting in form_key cookie set in https://github.com/magento/magento2/blob/2.4.2/app/code/Magento/PageCache/view/frontend/web/js/form-key-provider.js Line 27 ?

[2021-03-12 08:58] armmage opened #32458 "In Magento 2 not exists Armenian localization"
I can't find Armenian locale,  into config locale,
if the problem is Armenian translation that does not exist, I can provide it.

### Summary (*)

The problem is in \Magento\Framework\Locale\Config.php file, the locale not exits "hy_AM" in the protected variable
 $_allowedLocales.
I can't create shops with Armenian localization.

### Examples (*)

### Proposed solution

\Magento\Framework\Locale\C

[2021-03-12 09:03] engcom-Oscar commented on #32397
@webgility-amazonapi
![Screenshot from 2021-03-12 11-00-47](https://user-images.githubusercontent.com/60198413/110917265-6154b480-8322-11eb-9d9e-2415c48d59e2.png)
increment_id is not changed as well. Please recheck it on clean Magento instance, without 3rd part extentions.

[2021-03-12 09:49] hostep commented on #26377
Nice find @kkhebbar89

This seems like a silly bug introduced in Magento 2.4.2 and I can't really believe that nobody properly tested [this syntax](https://github.com/magento/magento2/blob/2.4.2/lib/web/mage/cookies.js#L79)

Proof: https://jsfiddle.net/wzt746hm/

@nathanjosiah : I think this answers [your question](https://github.com/magento/magento2/issues/26377#issuecomment-789921430) from earli

[2021-03-12 10:40] mtwegrzycki commented on #32444
Thank you for your answer.
I ran this command for cron.log and I did not get any result for sales_clean_quotes
I found that other crons with this schedule 0 0 * * * also do not work but e.g. sales_clean_orders which is in the same crontab.xml file and has 0 * * * * schedule works properly.

I ran the following test:
I setup sales_clean_quotes with the following settings: e.g. 8 8 * * * and it does

[2021-03-12 10:51] denis-zyk commented on #32307
Hi @engcom-Bravo,

I've just checked the release notes for M2.4.2 Commerce Edition now, and noticed the following improvement was mentioned there https://devdocs.magento.com/guides/v2.4/release-notes/commerce-2-4-2.html#email:

So that one is hopefully fixed now, but unfortunately I wasn't able to confirm it using 2.4-develop instance provided by `magento-deployment-service` because I haven't rece

[2021-03-12 10:54] m2-assistant[bot] opened #32459 "[Issue] Add Ireland counties data"
This issue is automatically created based on existing pull request: magento/magento2#32403: Add Ireland counties data

---------

### Description (*)
This PR adds Ireland counties to Magento. So that Ireland based users can pick their county from a dropdown instead of having to type it on the input.

### Manual testing scenarios (*)

1. Go to Address Book
2. Add a new address, and select 'Ireland'

[2021-03-12 11:22] shikhamis11 commented on #32456
@magento give me 2.4-develop instance

[2021-03-12 11:29] paales opened #32460 "GraphQL: add category_url_path to ProductAttributeFilterInput"
*As a Developer I want to be able to filter `products()` on `category_url_path` so that I'm able to request all products for a category in a single query.*

Currently we have to do the following:

First query
[code]

After that query completes, we run the following query:

[code]

This costs lots of extra latency (~300ms) and extra load on Magento (because it has to startup twice)

### AC

Make a

[2021-03-12 11:47] rodrigowebjump commented on #32460
@magento give me 2.3-develop instance

[2021-03-12 11:47] rodrigowebjump commented on #32460
@magento give me 2.3 instance

[2021-03-12 11:50] rodrigowebjump commented on #32460
@magento give me 2.3.5-p2 instance

[2021-03-12 11:54] pmbright commented on #32453
@magento give me 2.4-develop instance

[2021-03-12 11:54] rodrigowebjump commented on #32460
@magento give me 2.4-develop instance

[2021-03-12 11:54] mattiteraslahti opened #32461 "Product can't be re-assigned to a category after it was unassigned by Async Bulk REST API"
### Preconditions (*)

1. Magento Commerce 2.3.6-p1
2. RabbitMQ set up and configured
3. Consumer for "async.operations.all" configured to be started via Magento cron (default)

### Steps to reproduce (*)

1. Assign a product to the category via Bulk REST API using "POST <host>/rest/all/async/bulk/V1/categories/byCategoryId/products" endpoint
2. Unassign the product from the category via Bulk REST

[2021-03-12 12:01] mattiteraslahti commented on #32461
I'm facing the same issue when creating configurable product child links through "POST {{host}}/rest/all/async/bulk/V1/configurable-products/bySku/child" endpoint.
If I delete the child product and create it again, and do the link again through the bulk API, it will fail.
Again, if I kill the consumer after the delete, linking the child product succeeds.

[2021-03-12 12:28] engcom-Oscar commented on #32453
Hi @pmbright ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.
### Steps to reproduce (*)
1. Configure in Admin that the store is configured to show prices including tax.
![Screenshot from 2021-03-12 14-18-59](https://user-images.githubusercontent.com/60198413/110939343-ec8f7380-833d-11eb-9a27-72e58012ce42

[2021-03-12 12:42] ihor-sviziev commented on #26377
FYI I created PR that should fix this issue in all places. https://github.com/magento/magento2/pull/32462

[2021-03-12 13:42] stkrelax commented on #8897
This is the same in the Category Repository.
Having store admin is_active set to 1 and other stores is_active not set (use default)

running foreach store

[code]

you end up having set is_active to all stores explizit

when you have 17 stores like us than you have 18 times is_active = 1 in DB even though one would be enough.

[2021-03-12 14:02] dot319 opened #32464 "Magento erroneously assums one category is parent of another based on category path"
### Preconditions (*)

1. Magento 2.4-develop
2. Admin side: Have a category tree where 2 categories exists side by wide, where 1 category id starts with the category id of the other. (Like id 14 and id 146.)
 For example:

- Default Root Category (id:2)
- - Child Category Products (id:3)
- - - Child-child category Example One (id:14)
- - - Child-child category Example Two (id:146)
Example Screens

[2021-03-12 14:04] dot319 commented on #32464
I confirmed this issue on my local vanilla Magento environment.

[2021-03-12 14:05] engcom-Oscar commented on #32445
Hi @ocirneb !
If I get it right, you created for your simple product 'Customizable Options' which if selected, add additional cost to product price, but it not suppose to affect 'Tier prices' table, like here:
![Screenshot from 2021-03-12 16-03-33](https://user-images.githubusercontent.com/60198413/110950473-8f4eee80-834c-11eb-8db4-140fe7b04ffc.png)
Please re-check

[2021-03-12 14:17] ocirneb commented on #32445
yes this is the problem

[2021-03-12 14:18] hostep commented on #32444
Strange.

Could you maybe upgrade to Magento 2.4.2 and see if that solves it?
The only significant change I'm noticing in the Cron module between 2.4.0 and 2.4.2 is this PR: https://github.com/magento/magento2/pull/28930, that one got introduced in Magento 2.4.1

I don't think that PR should fix your issue, but I'm not sure, who knows ...

If it's not solved in Magento 2.4.2 in your case, I would

[2021-03-12 14:34] jonataswebjump opened #32466 "Wrong "min" and "max" prices when logged in via GraphQL using SharedCatalogs"
### Preconditions (*)

Magento 2.3.5-p2

### Steps to reproduce (*)

When the customer is logged in via GraphQL, the valuee of "min_price" and "max_price" returned are the values of public Shared Catalog.

In this method, the customer_group_id filter is not applied:
 \Magento\Catalog\Model\ResourceModel\Product\Collection::_productLimitationPrice

Local where the query is analysed (expected result

[2021-03-12 14:35] jonataswebjump commented on #32466
@magento give me 2.3.5-p2 instance

[2021-03-12 14:38] jonataswebjump commented on #32466
@magento give me 2.3.5-p2 instance

[2021-03-12 14:45] jonataswebjump commented on #32466
@magento give me 2.3.5 instance

[2021-03-12 15:08] Romz opened #32468 "Cart Price Rules not applying on shipping VAT when rule applied on whole cart"
### Preconditions (*)
Magento 2.4.2
2.4-develop having EE and B2B Modules
### Steps to reproduce (*)
Using Fresh magento installation with samples datas.

1. Create a tax rate (20%) applied on both products and shipping.
2. In Sales > Tax configuration Panel:
    1.  Tax Class for Shipping : Taxable Goods
    2. Catalog Prices: Including Tax
    3. Shipping Prices: Including Tax
    4. Apply Disco

[2021-03-12 15:13] pmbright commented on #32453
Hi Thanks for looking into this.

So the steps to reproduce didnt take into consideration a lot of configuration options such as currrency and tax settings and tax rates.   Apologies for that.

Using the develop instance created here for me (see above) Ive changed the currency to GBP and set the default tax rate to 20% (UK VAT) and been through all the config settings in sales -> tax to make sure

[2021-03-12 15:21] magento-engcom-team commented on #31341
Hi @sivaschenko, @hws47a.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39650` was closed as `Complete`.

[2021-03-12 15:26] engcom-Oscar commented on #32182
Hi @sprajapat770!
I also can't reproduce the issue following steps in the ticket.
I have Currency setup for Main Website
![Screenshot from 2021-03-12 16-47-12](https://user-images.githubusercontent.com/60198413/110959700-a5fa4300-8356-11eb-819a-8ee2bc0be8de.png)
and for test website:
![Screenshot from 2021-03-12 16-47-28](https://user-images.githubusercontent.com/60198413/110959768-b4e0f580-8356-1

[2021-03-12 15:26] #32182 closed, assigned to nobody

[2021-03-12 15:41] madonzy opened #32469 "Plugin runs twice when is attached to decorated class"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Create a decorated  class for  CustomerRepository
2. Add  preference for your new decorated class
2. Override method `get()`

### Expected result (*)

1. Plugins assigned to get() method  would be fired once

### Actual result (*)

1. Plugins assigned to get() method are fired twice

[2021-03-12 15:51] magento-engcom-team commented on #31176
Hi @sivaschenko, @hostep.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39645` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 15:51] magento-engcom-team commented on #31175
Hi @sivaschenko.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39644` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 15:51] magento-engcom-team commented on #31082
Hi @sivaschenko, @ProkopovVitaliy.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39656` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 15:51] magento-engcom-team commented on #32163
Hi @sivaschenko, @hws47a.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39663` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 15:51] magento-engcom-team commented on #31780
Hi @sivaschenko, @omaxmo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39665` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 15:51] magento-engcom-team commented on #31781
Hi @sivaschenko, @vlmed.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39666` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 15:55] magento-engcom-team commented on #31346
Hi @sivaschenko, @ProkopovVitaliy, @konarshankar07.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39667` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 15:55] magento-engcom-team commented on #32164
Hi @sivaschenko.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39671` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 15:55] magento-engcom-team commented on #32319
Hi @sivaschenko, @khrystynastolbova.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39672` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 15:55] magento-engcom-team commented on #31783
Hi @sivaschenko, @ProkopovVitaliy.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39673` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 15:55] magento-engcom-team commented on #31347
Hi @sivaschenko, @konarshankar07.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39675` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 15:55] magento-engcom-team commented on #31342
Hi @sivaschenko, @konarshankar07.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39651` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 15:55] magento-engcom-team commented on #31343
Hi @sivaschenko, @konarshankar07.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39653` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-12 16:11] BernardRobbins commented on #31286
I'm also having this issue but with 2.3.6.

PHP 7.3.27-9+ubuntu20.04.1+deb.sury.org+1 (cli)
"magento/product-community-edition": "2.3.6",
Composer 1.10.1 2020-03-13 20:34:27

bin/magento setup:install --base-url='http://mydomain' --db-host=127.0.0.1 --db-name=myDb --db-user=myDbUser --db-password='myCoolPw' --admin-firstname=Bernard --admin-lastname=Robbins --admin-email=bernard@domain --admin-use

[2021-03-12 16:29] ravirajm10 commented on #25221
Hi

This issue has been fixed in 2.4.1 .

They have modified
**vendor/magento/module-sales/view/frontend/layout/sales_email_order_shipment_track.xml** as
`<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <update handle="sales_email_order_shipment_renderers"/>
    <body>
        <block class

[2021-03-12 16:34] adamlavery opened #32470 "CSS cache not cleared properly in developer mode"
### Summary (*)
When in developer mode, using the option in Cache Management to flush JS/CSS cache and flush Static Files Cache should clear all caches and enable **all** changes to be viewed on next refresh.

### Examples (*)
Leave LESS compilation as default (server side)
Make a change to a module .less file
Flush the JS/CSS, static files and full page caches from the dashboard.

**What should h

[2021-03-12 17:36] #31332 closed, assigned to sasha19957099

[2021-03-12 17:55] cspruiell commented on #30915
Coverage of additional scenarios will be handled internally.

[2021-03-12 23:55] chikoi opened #32471 "Magento 2.4.2 - Select All feature in orders grid not working"
### Preconditions (*)

1. Vanilla Magento 2.4.2

### Steps to reproduce (*)

1. Create 11 orders and 11 invoices.
2. In the "Orders" grid, set "per page" to 10.
3. On the uppermost-left part of the grid, select "Select All" and it will display "11 records found (11 selected)"
4. Print invoices.

### Expected result (*)

1. Print 11 invoices.

### Actual result (*)

1. It only prints 10 invoices.

[2021-03-13 03:13] codemastering commented on #31225
@engcom-Hotel I am also getting the same issue as follows when i am running magento on PHP 7.4 version.

main.CRITICAL: Notice: Trying to access array offset on value of type bool in /vendor/magento/module-catalog-url-rewrite/Model/Storage/DynamicStorage.php on line 182 Notice: Trying to access array offset on value of type bool in /vendor/magento/module-catalog-url-rewrite/Model/Storage/DynamicSt

[2021-03-13 06:29] vrajeshpatel4u commented on #23802
Thank you.

On Mon, Mar 1, 2021 at 5:58 AM Magento Community Engineering <
***@***.***> wrote:

--
!Vrajesh Patel From GODHRA!
Fb:https://www.facebook.com/vrajeshpatel4u

[2021-03-13 12:03] mrtuvn commented on #32470
For dev enviroments
i should use grunt workflow to clean up or watch change instead manually way (clear folder by hand or go to admin config for flush cache). Rarelly use button "Flush Static Files Cache". This may use in production cases

Less process in magento little difference than you expected. Especially in developer enviroment. Example your file less in app/code/YourModule. When you change

[2021-03-13 13:40] sprajapat770 commented on #32182
@m2-community-project and @engcom-Oscar i recorded a video for this please look at the video i share you the exact issue and i mentioned in issue that this is issue of credit memo grid not the order grid.
https://www.awesomescreenshot.com/video/3050766?key=eb65fd2e4927f556f26c3f7a2fbc87dd

[2021-03-13 16:33] #30083 closed, assigned to nobody

[2021-03-13 20:02] hws47a commented on #31340
@magento I am working on this

[2021-03-13 20:28] hws47a commented on #31340
@sivaschenko it's already updated to 2.13.1 in composer.lock, so it's just updated in compose.json in both PRs

[2021-03-13 20:58] joemstar commented on #25221
I am using Magento 2.4.2. My store was a fresh install of 2.4.1 and was upgraded to 2.4.2. I am using the Codazon Fastest theme and I am having the same problem, even with orders with a single shipment. I am having the problem with UPS specifically. It doesn't appear this has been fixed in 2.4.1 unless my theme is somehow causing the issue. Any help would be appreciated.
Thanks!

[2021-03-14 04:46] orionpt opened #32474 "MYSQL 8 Image"
Cheers, do you have any plans to include an option for a MYSQL 8 Image?

### Description (*)
MYSQL 8 Image

### Expected behavior (*)
Have the option to deploy a MYSQL 8 image

### Benefits
Magento 2.4 suggests MySQL 8.0 for on-premise installations

[2021-03-14 13:09] mrtuvn commented on #29801
From my experience this issue may not related to magento.
Maybe causes wrong configuration from user
@bdevi are you sure following setup guides ?
If you not familiars with elasticsearch you should ask for help by system admin or web hosting provider
Properly setup elasticsearch may got response from port 9200. If you can't get response from that it's mean something go wrong

[2021-03-14 14:19] orionpt commented on #32474
nevermind, posted on wrong repository

[2021-03-14 14:19] #32474 closed, assigned to nobody

[2021-03-14 15:07] mrtuvn commented on #28913
@Leland Can you share how big size of your critical.css in your org? My site generate file around ~ 300KB
Quite big for single critical is it?

[2021-03-14 20:45] gregorybesson commented on #30128
Hello @bmitchell-ldg  and thanks for your detailed study.

I'm working on a 2.4.1 EE version and had the same problem. You're detailed explanation has been invaluable to me.

Your solution was almost ok, but I've added another fix to take care of the stock/source reindex which produces a cache clear on the items also.

The total fix is something like that:

`di.xml`

[code]

`LivingColor\Api\Plugi

[2021-03-14 23:09] Leland commented on #28913
@mrtuvn depends on the site. For this issue, I'd recommend staying in the 15-50kb range, however. Increasing every page's document size by 300kb will cause  Luma's First Contentful Paint time to increase significantly.

[2021-03-15 05:00] magento-engcom-team commented on #32456
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41301` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-15 05:55] monikaahluwaliaoswal opened #32476 "unable to reset customer login password"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2021-03-15 07:55] ProkopovVitaliy commented on #30820
@magento I am working on this

[2021-03-15 09:05] stkrelax opened #32478 "Category eav values are overwritten with default store Values"
### Preconditions (*)
1. Magento 2.3.5-p2
2. website_de -> store_group_de(rootcategory 2) -> store_de
3. website_us -> store_group_us(rootcategory 2) -> store_us
4. all stores share the same category(cat1)
5. cat1 store 0 name set to foobar
6. cat1 store_de name set to foobarè
7. cat1 store_us name set to foobarzz
8. "2 or more categorylink saves on the same category " Script that cause a change s

[2021-03-15 09:56] dhirajdanodeborn opened #32479 "Magento 2 MFTF test : Chrome failed to start: exited abnormally."
Hello Support team

We are running the Magento function testing framework in Magento 2.4.2 enterprise.
We used devious documentation for all setups.
https://devdocs.magento.com/mftf/docs/getting-started.html

while runing below command we are getting issue,
vendor/bin/codecept run functional -c dev/tests/acceptance/codeception.yml
vendor/bin/mftf run:test AdminLoginSuccessfulTest --remove

Could a

[2021-03-15 10:25] adamlavery commented on #32470
Point is there should be no need for any of this messing about to get changes published. No workarounds would be required if clearing the static file cache actually cleared the static files cache.

[2021-03-15 11:19] rodrigowebjump commented on #32466
@magento give me 2.4-develop instance

[2021-03-15 11:30] MarksAfanasevics commented on #25885
We had similar problems, but I found the solution. Thanks @thomasheller for the information about get.php.
As I understand, in this get.php file path always has two media folders (this is how magento works). In our case, there was another folder in media folder, and get.php started to work incorrectly.
So, folders were like this (additional media folder from somewhere):
`pub/media/media`
And I ren

[2021-03-15 11:56] mobeen-sarwar commented on #12986
Here I'm facing the same problem in 2.4.1.

Any suggestions, please?

[2021-03-15 12:52] Eddcapone opened #32480 "How to include e-mail template in email template?"
### Summary (*)

I am creating a new template in: **Marketing -> Communication: E-Mail Templates -> Create new template**.
I also created a template in my theme: **THEME/Magento_Email/email/usp.html**

I even added this code to one of my modules:

## app/code/Company/Base/etc/email_templates.xml:

[code]

How can I include it in the template?

I tried it like this:

`{{template id="custom_email_us

[2021-03-15 13:37] engcom-Oscar commented on #32478
Hi @stkrelax  ! Thank you for your report.
Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.
### Steps to reproduce (*)
1. Magento 2.3.5-p2
2. website_de -> store_group_de -> store_de
3. website_us -> store_group_us -> store_us
4. all stores share the same category(cat1)
5. cat1 store 0 name set to foobar
6. cat1 store_de name set to

[2021-03-15 13:53] magento-engcom-team commented on #32471
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41309` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-15 14:19] mtwegrzycki commented on #32444
I tested this on Magento 2.4.2 instance without any customization and the same issue occurs.

[2021-03-15 14:19] mtwegrzycki commented on #32444
@magento give me 2.4-develop instance

[2021-03-15 14:31] #32297 closed, assigned to nobody

[2021-03-15 15:06] ilnytskyi commented on #32478
I think it can be also related to my issue
https://github.com/magento/magento2/issues/22063
https://github.com/magento/magento2/pull/22064/files

[2021-03-15 15:24] munkhulzii commented on #30946
I still get this error with magento 2.4.2 when I run
[code]

[2021-03-15 15:33] #28183 closed, assigned to nobody

[2021-03-15 15:34] magento-engcom-team commented on #28183
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-15 17:09] Usik2203 commented on #32469
@magento give me 2.4-develop instance

[2021-03-15 17:50] #31340 closed, assigned to hws47a

[2021-03-15 17:50] #32321 closed, assigned to hws47a

[2021-03-15 17:51] #32407 closed, assigned to hws47a

[2021-03-15 18:00] magento-engcom-team commented on #31782
Hi @sivaschenko, @AndreyChorniy.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39670` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-15 18:00] #31782 closed, assigned to AndreyChorniy

[2021-03-15 18:25] JaberAskari opened #32482 "In Magento 2 enterprise the \Magento\GiftCardAccount\Block\Check.php has a typo bug"
### Preconditions (*)

1. Magento 2 enterprise
2. when using the GetCode function from the file \Magento\GiftCardAccount\Block\Check.php the out is always empty.
3. The problem is that the GetCode function is trying to get a field id which does not exist.
4. instead of 'giftcard-code' should be 'giftcard_code' in the following line:
not working: getRequest()->getParam('giftcard-code', '')
working:

[2021-03-15 18:53] MajorKuprich opened #32483 "Magento doesn't respect codesniffer rules"
### Summary (*)

1. Override **Magento\Framework\App\ExceptionHandler** class in custom module (by preference in **di.xml**).
2. Override **handleBootstrapErrors** function to define a new template.
3. Run code sniffer for newly created module:
 `phpcs --standard=Magento2 --extensions=php,phtml --error-severity=10 --ignore-annotations app/code/Company/Module`.

Report throws error:
`ERROR   | "req

[2021-03-15 18:57] ahmedch1 commented on #30575
I got same error , anyone knows how to solve it?
Thanks in advance

[2021-03-15 19:08] ihor-sviziev commented on #30575
@ahmedch1 make sure you don't have installed psr php extension. If you have such - please remove it

[2021-03-15 19:32] #31265 closed, assigned to renttek

[2021-03-15 20:19] hostep commented on #32091
@rahul-ks176, in case you still didn't find a solution by now, Magento released an official hotfix for this problem half a year ago:
1. Go to https://magento.com/tech-resources/download
2. Click on the 'Patches' link in the right hand menu
3. Find the patch labelled 'MC-38509'
4. Install it on your shop

Alternatively, you could also upgrade Magento to 2.4.2 which also contains this fix.

(and thi

[2021-03-16 01:41] hsb1007 opened #32484 "Magento 2 with Azure Mysql Server table issues with temporary tables"
Currently we have 2 magento instances on Azure environment using Azure mysql and Azure Kubernetes Service.

Users found that logging into both backend and frontend does not work with generic errors: There has been an error processing your request.

One of the site started from 12th March and the other site was first reported today.

In the error log, it was found that Magento is trying to query ag

[2021-03-16 05:10] aligent-skumar commented on #32480
I believe you want to get the email template work, but the email template layout handle tag usage is to be fixed:

Below is a rough idea of the steps to get the email template working:

1.create a template - which you have already done.
 magento/app/code/NameSpace/ModuleName/etc/email_templates.xml

2. Define the email template - which should look something like this
magento/app/code/NameSpace/Mod

[2021-03-16 05:27] ClintTec commented on #24618
Still an issue on 2.4.1

![paypal_braintree_magento2_4](https://user-images.githubusercontent.com/17075387/111260166-4e601e00-865b-11eb-82b4-6afbc05f04fa.png)

[2021-03-16 06:20] kenit commented on #26815
I also have this issue on my Magento 2.4.0. Is there any workaround solution to solve it temporary?

[2021-03-16 08:00] #29197 closed, assigned to nobody

[2021-03-16 08:37] ebofi commented on #17930
@qsolutions-pl
What was the solution, When closing the thread, please specify the solution too :)

We had faced a similar issue on Maria DB

[2021-03-16 08:39] ebofi opened #32487 "Support to MariaDB 10.0.36 - can't reindex customer grid"
Magneto 2.3.5 - p2
Server version: 10.1.46-MariaDB MariaDB Server

When we try to reindex via cli. We get the following error

php  bin/magento indexer:reindex
Design Config Grid index has been rebuilt successfully in 00:00:00
Customer Grid indexer process unknown error:
SQLSTATE[42000]: Syntax error or access violation: 1170 BLOB/TEXT column 'created_in' used in key specification without a key le

[2021-03-16 08:44] engcom-Oscar commented on #32468
Hi @Romz ! Thank you for your report.

Unfortunately, we are not able to reproduce the issue on a fresh 2.4-develop by following steps from this ticket.
### Steps to reproduce (*)
1. Create a tax rate (20%) applied on both products and shipping.
2. In Sales > Tax configuration Panel:
    1.  Tax Class for Shipping : Taxable Goods
    2. Catalog Prices: Including Tax
    3. Shipping Prices: Includi

[2021-03-16 08:45] dhirajdanodeborn commented on #32479
Hello support team

**Summary of the issue**
	Magento functional testing framework test showing error :- Chrome failed to start: exited abnormally
**Information on your environment**
  Magento vanilla 2.4.2 Enterprise
**Steps to reproduce**
	https://devdocs.magento.com/mftf/v2/docs/getting-started.html
	Followed all the steps as per devdocs document, istall java seleniumn, chorme driver
	and follo

[2021-03-16 08:47] niklaswolf commented on #31253
What's the state of this issue? Seems like there is a PR ready to be merged, but nothing happened since January...

[2021-03-16 08:54] huykon commented on #18752
I am facing with this issue when I use custom payment. I don't know how to resolve this, can anyone know to help me?

[2021-03-16 09:26] engcom-Oscar commented on #32445
Hi @ocirneb !
Unfortunately vanilla Magento doesn't apply 'Customizable Options' additional price to Tier prices the way how you expected.
So I'm closing this ticket as non-issue.
You may look for some custom modules on Magento Marketplace to find appropriate solution for your case or submit PR with your own solution for that.

[2021-03-16 09:26] #32445 closed, assigned to engcom-Oscar

[2021-03-16 09:49] mtwegrzycki commented on #32444
I can still reproduce this issue, even on clear Magento 2.4.2 installation.
Please, let me know, if someone has any idea.

[2021-03-16 10:13] renard123 opened #32488 "Search suggestion not collapse once enter value,remove it and click on out side"
Search suggestion not collapse once enter value,remove it and click on out side

### Preconditions (*)

1. Magento 2.4

### Steps to reproduce (*)

1. Admin -> Dashboard Page
2. Click on Search box
3. Enter keyword like "Ver"
4. It will appear the suggestion panel
5. Now remove the value from search box and Click on out side
6. Observe that the suggestion panel still appear

### Expected result (*

[2021-03-16 10:14] krishprakash commented on #32488
@magento give me 2.4-develop instance

[2021-03-16 10:21] krishprakash commented on #32488
Reproduce the issue on latest instance:

![image](https://user-images.githubusercontent.com/46617848/111293656-82ddd500-866f-11eb-80dc-717ef8531d9e.png)

[2021-03-16 10:22] magento-engcom-team commented on #32488
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41344` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-16 10:27] mtwegrzycki opened #32489 "Magento 2 Related Products rule always returns the same products which meet the rule requirements"
### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)
1. Add e.g. 10 products (more than "Result limit" from point 2.) to Magento store, which meet the specified Related/Cross-Sell/Up-Sell "Products to Display" conditions.
2. Set "Result limit" for rule e.g. on 2.
3. Search a product which meets the "Product to Match" conditions
4. Check the Related/Cross-Sell/Up-Sell products

### Ex

[2021-03-16 10:27] mtwegrzycki commented on #32489
@magento I am working on this

[2021-03-16 10:28] renard123 opened #32490 "Footer: About Us and Customer Service links not appear as Active when go to that pages"
Footer: About Us and Customer Service links not appear as Active when go to that pages

### Preconditions (*)

1.Magento 2.4

### Steps to reproduce (*)

- Footer: Click on About Us/Customer Service
- Observe the links

### Expected result (*)
It should show as active as compare other links like Privacy and Cookie Policy

### Actual result (*)
![image](https://user-images.githubusercontent.com/506

[2021-03-16 10:29] magento-engcom-team commented on #32490
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41345` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-16 10:38] Eddcapone commented on #32480
Thanks for your answer, can you please format your XML correctly in your post?

[2021-03-16 11:02] ttraskback commented on #14211
So while testing this on a clean magento i found out that it works by accident in the default theme.
If the price-box of other items happens to render before the main product in the dom tree you get this problem as it's trying to do `$(this.options.priceHolderSelector).priceBox('option')` on the wrong element that doesn't have "priceBox" initialized.

@jellcreative-dev suggestion, to add product I

[2021-03-16 11:05] magentoprasad opened #32491 "Change Price Decimal Separator for Arabic Store in Magento 2"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. when we add prices in Magento 2 stores, the integer part of the price gets separated using the dot. But when it comes to the Arabic store, it converts the price decimal separator from dot(.) to comma(,). Now due to the change of the separator

[2021-03-16 12:01] eBusinessAtlantique commented on #29734
Same problem on 2.3.6-p1.
I am interested in a solution. Thanks.

[2021-03-16 12:03] adamzero1 opened #32492 "Export process running out of memory"
### Preconditions (*)
Can replicate on 2.3.5-p1, looking at the codebase this should be reproducible for any version beyond this.
1. Have a product catalog with a lot of products (>200K)
2. Have a php memory limit of 2G
3. ensure cron is running

### Steps to reproduce (*)
1. Initiate a "product" export from the Admin. (System => Data Transfer - Export)

### Expected result (*)
1. At some point th

[2021-03-16 12:04] adamzero1 commented on #32492
@magento I am working on this

[2021-03-16 12:05] adamzero1 commented on #32492
@magento add to contributors team

[2021-03-16 12:05] adamzero1 commented on #32492
@magento I am working on this

[2021-03-16 12:12] engcom-Oscar commented on #32431
Hi @vijay-prevaj!
It is correct that new product  added to current category get position '0' in the 'products in category' list, but you can change this position manually afterwards or apply Category Rules (Magento Commerce only) for products sorting (https://docs.magento.com/user-guide/catalog/category-product-rules.html).
So I'm closing this ticket as non-isuue.

[2021-03-16 12:12] #32431 closed, assigned to engcom-Oscar

[2021-03-16 12:27] zakdma commented on #31086
@magento i am working on it

[2021-03-16 13:09] magento-engcom-team commented on #32351
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41350` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-16 13:20] #32318 closed, assigned to khrystynastolbova

[2021-03-16 13:39] m2-assistant[bot] opened #32495 "[Issue] Add WEBP + AVIF Support by default"
This issue is automatically created based on existing pull request: magento/magento2#32400: Add WEBP + AVIF Support by default

---------
Webp should already be set up by default

### Steps to reproduce:
1. Add webp, avif, etc files to lib/web/images directory.
2. Modify app/code/Magento/Backend/view/adminhtml/layout/admin_login.xml file to use webp, avif, etc file as Magento 2 logo (edit "logo" b

[2021-03-16 13:40] magento-engcom-team commented on #32495
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41352` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-16 14:15] magento-engcom-team commented on #32318
Hi @sivaschenko, @khrystynastolbova.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39674` was closed as `Complete`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-16 14:26] zakdma commented on #9581
This bug was fixed in scope of internal issue B2B-1663
https://github.com/magento/magento2/commit/ece2528a6f09da1486d63ddd794f746501984413

[2021-03-16 14:26] #9581 closed, assigned to nobody

[2021-03-16 14:27] zakdma commented on #9581
@siliconalchemy it fixed

[2021-03-16 14:29] magento-engcom-team commented on #9581
Hi @siliconalchemy.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40317` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-03-16 14:56] CenterSites commented on #27942
Check if you don't have a space after the extension .xml this fixed it for me
catalog_category_view_selectable_4_SpecialPriceOnly.xml[space]

[2021-03-16 14:57] DegrizNet commented on #27942
Pozdravljeni,

do ponedeljka, 22. marec sem odsoten v tujini, z omejenim dostopom do interneta in telefona. Na vae sporo&#269;ilo bom odgovoril z zamikom, takoj ko bom lahko.

Za izredne zaeve me nadome&#269;a Bojan Kraut
telefon: +386 2 33 242 00
mobitel: +386 31 302 782
email: ***@***.***

Hvala za razumevanje in lep pozdrav.
Anze Voh

--------------

Hello,

until Monday, 22th march, I'm away

[2021-03-16 15:02] rustavellyne opened #32497 "Admin interface locale breaks "Expiration date" field"
### Preconditions (*)
1. Magento version 2.4.2

### Steps to reproduce (*)
1. sigh in to admin panel
1. go to System -> All users
1. change locale of current user to Any except 'en_Us'
1. try to create a new user, and set expiration date
1. save user
1. get an error "Expiration Date is not valid"

### Expected result (*)
1. expect to create user

### Actual result (*)
1. !https://user-images.githu

[2021-03-16 15:14] rustavellyne commented on #32497
@magento give me 2.4-develop instance

[2021-03-16 15:24] rustavellyne commented on #32497
reproduced on Magento instance
![Uploading Screenshot 2021-03-16 at 17.23.10.png…]()

[2021-03-16 16:03] magento-engcom-team commented on #26377
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41359` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-16 16:11] Stefan933 commented on #5655
@thdoan hey,i just encounted same issue,and your solution helped me for product page. Did you mabye found solution in meanwhile for /module-swatches/view/frontend/templates/product/listing/renderer.phtml
this file is in charge for rendering images on category/list view.

[2021-03-16 16:20] m2-assistant[bot] opened #32501 "[Issue] Fix missing video when advanced js bundling used"
This issue is automatically created based on existing pull request: magento/magento2#32499: Fix missing video when advanced  js bundling used

---------

### Description (*)
This PR fixes issue when a video is missing in the product gallery when advanced JS bundling is enabled and used.

This happened because the event `gallery:loaded` was already triggered before this code was executed.

In order

[2021-03-16 16:22] m2-assistant[bot] opened #32502 "[Issue] Replace repetitive actions with Action Groups in AdminUpdateSimpleProductWithRegularPriceInStockNotVisibleIndividuallyTest"
This issue is automatically created based on existing pull request: magento/magento2#32498: Replace repetitive actions with Action Groups in AdminUpdateSimpleProductWithRegularPriceInStockNotVisibleIndividuallyTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing s

[2021-03-16 16:25] m2-assistant[bot] opened #32503 "[Issue] Wrong type hint for the protected member $_urlHelper"
This issue is automatically created based on existing pull request: magento/magento2#32496: Wrong type hint for the protected member $_urlHelper

---------
The type hint for the protected member `$_urlHelper` was wrong.
Undefined class 'Helper':95

### Description (*)
Fixes the wrong type hint with the correct one, that is also used in constructor

### Related Pull Requests

### Fixed Issues (if r

[2021-03-16 16:30] m2-assistant[bot] opened #32504 "[Issue] Replace repetitive actions with Action Groups in AdminCreateVirtualProductFillingRequiredFieldsOnlyTest"
This issue is automatically created based on existing pull request: magento/magento2#32477: Replace repetitive actions with Action Groups in AdminCreateVirtualProductFillingRequiredFieldsOnlyTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run th

[2021-03-16 16:32] thdoan commented on #5655
@Stefan933 sorry I haven't worked in Magento in years.

[2021-03-16 16:44] m2-assistant[bot] opened #32505 "[Issue] Replace repetitive actions with Action Groups in AdminCreateSimpleProductNegativePriceTest"
This issue is automatically created based on existing pull request: magento/magento2#32467: Replace repetitive actions with Action Groups in AdminCreateSimpleProductNegativePriceTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in the

[2021-03-16 16:44] m2-assistant[bot] opened #32506 "[Issue] Replace repetitive actions with Action Groups in AdminConfigurableProductRemoveAnOptionTest"
This issue is automatically created based on existing pull request: magento/magento2#32465: Replace repetitive actions with Action Groups in AdminConfigurableProductRemoveAnOptionTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in th

[2021-03-16 16:45] m2-assistant[bot] opened #32507 "[Issue] Replace repetitive actions with Action Groups in AdminConfigurableProductCreateTest"
This issue is automatically created based on existing pull request: magento/magento2#32463: Replace repetitive actions with Action Groups in AdminConfigurableProductCreateTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in the local

[2021-03-16 16:45] m2-assistant[bot] opened #32508 "[Issue] Fix missing trailing semicolon for theme blank"
This issue is automatically created based on existing pull request: magento/magento2#32457: Fix missing trailing semicolon for theme blank

---------

### Description (*)

Clean up missing parts in theme blank

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribu

[2021-03-16 16:57] m2-assistant[bot] opened #32510 "[Issue] Add EventPrefix and EventObject to checkout agreement model"
This issue is automatically created based on existing pull request: magento/magento2#32451: Add EventPrefix and EventObject to checkout agreement model

---------

### Description (*)

Added EvenPrefix and EventObject for checkout agreement model to trigger the event with event prefix.

### Related Pull Requests

### Fixed Issues (if relevant)

1. ...

### Manual testing scenarios (*)

1. Add obse

[2021-03-16 17:11] magento-engcom-team commented on #27411
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-16 18:28] uni707 commented on #31843
i use [html-colre-code](https://html-color-code.com)  its free website and it work very great for me

[2021-03-16 21:11] jsamhall commented on #28237
Encountered this issue today on a category with many products. Clearing block_html cache resolved the issue.

We are NOT using Varnish and instead just Magento built-in FPC, so the issue is not specific to Varnish, nor the Amasty ShopBy module.

We are however, using Smile's ElasticSuite which results in all categories being treated as Layered Navigation categories.

Perhaps layered navigation, El

[2021-03-16 23:56] aligent-skumar commented on #32480
@Eddcapone I've formatted the xml, let me know if that helps.

[2021-03-17 00:17] Adel-Magebinary commented on #32280
The solution is simple. Bring back Magento 1. And call it Magento 3.

[2021-03-17 00:31] israelguido commented on #7056
This work for me in di.xml

[2021-03-17 04:01] krishprakash commented on #32476
Hi @monikaahluwaliaoswal. Thank you for your report.
Feel free to reopen once you all the necessary details for this feature request

[2021-03-17 04:01] #32476 closed, assigned to krishprakash

[2021-03-17 04:08] krishprakash commented on #32438
Hi @diegozanotti. Thank you for your report.
GitHub issue tracker is intended for Magento core technical issues only
Kindly refer community forum or Magento stack exchange for general discuss about this topic

[2021-03-17 04:08] #32438 closed, assigned to krishprakash

[2021-03-17 04:25] krishprakash commented on #31946
Hi @bkey88. Closing this issue due to inactivity
Feel free to reopen the issue with further details. Thanks

[2021-03-17 04:25] #31946 closed, assigned to krishprakash

[2021-03-17 05:11] yvaliya commented on #32490
@magento give me 2.4-develop instance

[2021-03-17 05:58] yvaliya commented on #32490
This issue can be fixed by the PR magento/magento2-sample-data#166

[2021-03-17 06:14] yvaliya commented on #32490
@magento I am working on this

[2021-03-17 09:10] ProkopovVitaliy commented on #30809
@magento i am working on this

[2021-03-17 09:11] ProkopovVitaliy commented on #30809
@magento I am working on this

[2021-03-17 09:17] krishprakash commented on #32243
Hi @Mecalux-Developer.
Kindly raise this ticket to [community feature repository](https://github.com/magento/community-features/issues) for further process. Thanks !!

[2021-03-17 09:17] #32243 closed, assigned to krishprakash

[2021-03-17 09:22] krishprakash commented on #32155
Hi @shakshigithub. Feel free to reopen the issue once you confirm that issue reproduce on latest magento 2.4-develop instance with proper reproducible steps
Thanks!!

[2021-03-17 09:22] #32155 closed, assigned to krishprakash

[2021-03-17 09:33] m2-assistant[bot] opened #32518 "[Issue] Removed CliCacheFlushActionGroup usage for Downloadable and other modules"
This issue is automatically created based on existing pull request: magento/magento2#32517: Removed CliCacheFlushActionGroup usage for Downloadable and other modules

---------
### Description (*)
Removed CliCacheFlushActionGroup usage for Downloadable, Elasticsearch, Elasticsearch6, Fedex, Indexer, LayeredNavigation, LoginAsCustomer, Msrp, Multishipping modules.

[2021-03-17 09:59] pemann commented on #32501
@magento give me 2.4-develop instance

[2021-03-17 10:15] #31224 closed, assigned to nobody

[2021-03-17 10:17] magento-engcom-team commented on #31224
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-03-17 10:23] pemann opened #32519 "Sorting products in category by name makes status and visibility vanish at admin"
### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)

1. Some categories & products created
2. Open admin -> Catalog -> Categories
3. Select a category with products
4. Open "Products in category"
5. Sort products by clicking column "Name"

### Expected result (*)

1. Products are sorted and every line has all the data

### Actual result (*)

1. Products are sorted but **"Visibility"

[2021-03-17 10:25] pemann commented on #32519
Reproduced with 2.4-develop instance with default sample data.

[2021-03-17 10:48] magento-engcom-team commented on #32088
@engcom-Oscar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-03-17 10:49] magento-engcom-team commented on #32088
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41398` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-17 11:14] m2-assistant[bot] opened #32521 "[Issue] [Framework] Fixed getHeader for returning default value if requested missing"
This issue is automatically created based on existing pull request: magento/magento2#32520: [Framework] Fixed getHeader for returning default value if requested missing

---------
…header midding

### Description (*)

`getHeader` function allow to provider default value parameter, but this value never return back

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenar

[2021-03-17 11:22] dverkade commented on #30801
Ready for dev tickets should not be closed automatically. Posting a comment here to remove the stale bot and keep it open.

[2021-03-17 11:26] Spamer111 commented on #32292
Hello. Faced this issue when going to Report->Braintree Settlement grid. And I can reproduce this problem on a clean Magento 2.4.2 installation!

[2021-03-17 11:30] magento-engcom-team commented on #32519
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41399` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-17 11:39] devchris79 opened #32522 "Magento 2.4.2 appears to sort products incorrectly"
### Preconditions (*)

1. Magento 2.4.2
2. Luma theme used for example, but I also see issues with Porto

### Steps to reproduce (*)

1. Sort category products by position
2.

### Expected result (*)

1. Products within category to be sorted in order defined by position set
2.

### Actual result (*)

1. Screenshot shows sample data, category appears to be sorted descending, while settings are for

[2021-03-17 11:47] magento-engcom-team commented on #32497
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41400` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-17 12:03] magento-engcom-team commented on #32522
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41401` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-03-17 12:18] dverkade commented on #27411
@magento-engcom-team  please reopen ticket as this is reproduced on Magento 2.4.X and should be fixed.

[2021-03-17 12:22] dverkade opened #32525 "Table structure issue catalog_product_entity (sku field is allowed nulls)"
# Preconditions

1. Any Magento version (tested on all significant releases, 2.1, 2.2, 2.3)
2. Reproduced on 2.4-develop
3. #magento2/27411 was closed while it's a verified and open bug. You can't do that. Opening this as a new issue.

# Steps to reproduce

1. Add a product either through migration, a custom importer or directly in the database.
2. Leave out the field SKU (in other words, leave it

[2021-03-17 12:31] zukovasmartynas commented on #32280
Where are these haters comming from.
They took an enterprise level solution and think that they can install it with a few button clicks 😀
Ofc you need to know a lot to start working with magento 2. Its not a wordpress or awful magento 1.

[2021-03-17 13:32] kennysinkeler opened #32530 "Button "add product" for new order on admin is missing"
Hi all,
I am using magento 2.4.2. If i want to create a new order(sales -> orders -> create new order) than i am missing the "add product" button.

 Preconditions

1. Magento 2.4.2
2. Nginx
3. Ubuntu 20.04

Steps to reproduce (*)
1. Login into the backend
2. hover on Sales
3. Go to orders
4. Click on new order.
5. Choose a client.

### Expected result (*)
1. One black button to "add products"

Act

[2021-03-17 14:40] dobooth commented on #32285
Thanks for the great conversation here. I would be happy to help with any PR around this.

[2021-03-17 14:55] ihor-sviziev commented on #32525
@dverkade, thx for raising this issue again. I'll re-open the original issue, as it was already prioritized.
I'll close this one as duplicate.

BTW I created a PR that suppose to fix this issue https://github.com/magento/magento2/pull/32532

[2021-03-17 14:55] #32525 closed, assigned to ihor-sviziev

[2021-03-17 15:18] Romz commented on #32468
I found out that the issue is before the checkout step.

Here the steps to reproduce.

- Clear all cookies
- Add product in shopping cart ($22 in my case)
- Estimate shipping price (it show $10)
- Apply the coupon

Result:

Subtotal: $22
Dicount: $30.33
Shipping (Flat Rate - Fixed): $10
Tax: $0.28

Order Total: 1.67

The when I do the checkout process and set my address, the problem gone.

[2021-03-17 15:26] #6146 closed, assigned to Krielkip

[2021-03-17 15:28] dverkade commented on #6146
@magento-engcom-team don't close confirmed and ready to work tickets. This is reproduced on 2.4.X and needs to be solved.

[2021-03-17 15:30] dverkade commented on #31393
This is not a stale issue, PR is in progress and issue is ready for work. This issue can't be closed automatically.

[2021-03-17 15:30] dverkade commented on #31377
This is not a stale issue, PR is in progress and issue is ready for work. This issue can't be closed automatically.

[2021-03-17 15:30] dverkade commented on #31376
This is not a stale issue, PR is in progress and issue is ready for work. This issue can't be closed automatically.

[2021-03-17 15:30] dverkade commented on #31373
This is not a stale issue, PR is in progress and issue is ready for work. This issue can't be closed automatically.

[2021-03-17 15:30] dverkade commented on #31374
This is not a stale issue, PR is in progress and issue is ready for work. This issue can't be closed automatically.

[2021-03-17 15:30] dverkade commented on #31375
This is not a stale issue, PR is in progress and issue is ready for work. This issue can't be closed automatically.

[2021-03-17 15:31] dverkade commented on #29439
This issue can't be closed automatically as it still needs verification.

[2021-03-17 15:32] dverkade commented on #27899
Confirmed issues can't be closed automatically.

[2021-03-17 15:32] dverkade commented on #28100
Confirmed issues can't be closed automatically.

[2021-03-17 15:32] dverkade commented on #28225
Confirmed issues can't be closed automatically.

[2021-03-17 15:33] dverkade commented on #26307
Ready for confirmation issues can't be closed automatically.