[2019-04-30 00:50] farhangithub27 commented on #22531
@orlangur Your suggestion is vague. cli upgrade command should have taken care of all dependencies by itself. It should not be a manual process.

[2019-04-30 00:52] Jayce2000 opened #22550 "Admin section won't allow for Flushing Cache"
Was able to lush the cache this morning now I only get listed features, I know longer get the style of the backend any longer.

[2019-04-30 03:21] sanjaychouhan-webkul commented on #22169
@magento-engcom-team give me 2.2-develop instance

[2019-04-30 03:21] magento-engcom-team commented on #22169
Hi @sanjaychouhan-webkul. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-30 03:22] magento-engcom-team commented on #22169
Hi @sanjaychouhan-webkul, here is your [Magento instance](https://i-22169-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22169-2-2-develop.instances.magento-community.engineering/admin](https://i-22169-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-30 03:25] sanjaychouhan-webkul commented on #22169
@magento-engcom-team give me 2.1-develop instance

[2019-04-30 03:25] magento-engcom-team commented on #22169
Hi @sanjaychouhan-webkul. Thank you for your request.
Unfortunately, I can only deploy instances for `2.2` and `2.3` release lines

[2019-04-30 05:07] krishprakash commented on #22436
Hi @qsolutions-pl.
PR is merged for both 2.2 and 2.3
Please review  related PR: #21501

[2019-04-30 05:14] shikhamis11 commented on #22550
@Jayce2000 Please follow issue reporting guideline to report an issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Thanks.

[2019-04-30 06:00] visahardik commented on #19549
vendor/magento/module-email/view/adminhtml/ui_component/design_config_form.xml

you have to change this file.

[2019-04-30 06:03] qsolutions-pl commented on #22496
@orlangur in my opinion customer should be logged in to all websites when account is shared between websites.

[2019-04-30 06:57] farhangithub27 commented on #22531
Solution is provided in following [link](https://magento.stackexchange.com/questions/270555/fatal-error-class-codeception-platform-extension-not-found-issue-occurred-af)

[2019-04-30 07:02] farhangithub27 opened #22552 "Fatal error: Class 'Codeception\Platform\Extension' not found and Class “Yandex\Allure\Adapter\AllureAdapter” does not exist"
### Preconditions (*)

1.Magento 2.3.1 upgraded from Magento 2.3.0
2.Php 7.2.15
3. OS : Ubuntu 18.04 Bionic
4. Phpstorm 2019.1.1
5. Evnironemnt : Magento development

### Steps to reproduce (*)

1. Issue appears after upgrading magento from 2.3.0 to 2.3.1 and run below commands.
    2.bin/magento dev:tests:run unit
    3.vendor/phpunit/phpunit/phpunit -c dev/tests/unit/phpunit.xml.dist
Above comma

[2019-04-30 07:03] farhangithub27 commented on #22552
Refer to #22531
and then following the [link](https://magento.stackexchange.com/questions/270555/fatal-error-class-codeception-platform-extension-not-found-issue-occurred-af) for the solution.

[2019-04-30 07:03] #22552 closed, assigned to nobody

[2019-04-30 07:36] PrakashElsner commented on #5247
If u are installing  magento2 in nginx+varnish  webserver then varnish must on port 80 and backend port 8080 and nginx port must be 8080.
Then create virtual hosts like this in directory **/etc/nginx/conf.d/**
Magento installation path must match according to magento virtual host
1.magento.test.conf

server {
listen 8080;
    server_name magento.test;

     access_log /var/log/nginx/magento.test.a

[2019-04-30 09:24] mahesh-rajawat opened #22554 "Can not update attribute options label via REST Api."
### Preconditions (*)

1. Magento 2.3.x
2.

### Steps to reproduce (*)

1. Create a dropdown type product attribute from admin.
2. Add some attribute options.
3. Save it.
4. Get admin token by rest request `https://i-22554-2-3-develop.instances.magento-community.engineering/rest/V1/integration/admin/token`
5. Now update option label like:
`URL:  https://i-22554-2-3-develop.instances.magento-commun

[2019-04-30 09:25] lyusya-nnn opened #22555 "New child products are not attached to configurable on import"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Add options to product attribute color - red, black, green
![56805368-81178800-6831-11e9-8a1e-dc6803234aa9](https://user-images.githubusercontent.com/8502721/56956013-92bba100-6b4b-11e9-8694-102e3f317680.png)

2. Create a configurable product with sku **test-configurable** and one virtual/simple product attached (sku = test-co

[2019-04-30 09:25] maheshWebkul721 commented on #22554
@magento-engcom-team give me 2.3-develop instance

[2019-04-30 09:25] magento-engcom-team commented on #22554
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-30 09:25] magento-engcom-team commented on #22554
Hi @maheshWebkul721, here is your [Magento instance](https://i-22554-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22554-2-3-develop.instances.magento-community.engineering/admin](https://i-22554-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-30 09:36] Leone opened #22556 "VatValidator::validate returns error if region in quoteAddress is not set"
There is an issue in \Magento\Quote\Observer\Frontend\Quote\Address\VatValidator::validate method.
Magento adds additional data to $quoteAddress object and throws an error during $quoteAddress->save(); if regionId in the address is not set.

### Preconditions (*)

1. Magento 2.3.0+
2. Configured taxes for EU
3. Enable Automatic Assignment to Customer Group is set to "Yes" and configured
4. Allow t

[2019-04-30 09:46] maheshWebkul721 commented on #22554
@krishprakash , check this issue by REST api request.

[2019-04-30 09:53] ajijshekh123 commented on #22555
@lyusya-nnn - Please provide the Step to reproduce steps properly. Please manage the list of product which you will be used.

[2019-04-30 10:04] maheshWebkul721 commented on #22554
@magento-engcom-team , why we are adding prefix **'id_**' in option id here https://github.com/magento/magento2/blob/2.3.1/app/code/Magento/Eav/Model/Entity/Attribute/OptionManagement.php#L163  ??

[2019-04-30 10:05] maheshWebkul721 commented on #22554
@Nazar65 , have you checked it via REST api?

[2019-04-30 10:06] Nazar65 commented on #22554
@maheshWebkul721 there is no "PUT" endpoint, so you don't have a request to update option .

[2019-04-30 10:09] krishprakash commented on #22554
Hi @maheshWebkul721
Magento does not provided attribute option update API endpoint
Here is list of all API endpoints provided by magento:
https://devdocs.magento.com/guides/v2.3/rest/list.html
Please review it.

[2019-04-30 10:13] Nazar65 commented on #22554
@maheshWebkul721  It will be processed faster if you move this to https://github.com/magento/community-features

[2019-04-30 10:13] #22554 closed, assigned to krishprakash

[2019-04-30 10:23] chrischerrett commented on #22243
it appears that the Credit option is enabled by default (and shows on the frontend) but you can only disable it by switching your Merchant Country to USA, in order to switch it off. It should be disabled by default.

[2019-04-30 10:28] Leone commented on #22556
@magento-engcom-team give me 2.3-develop instance

[2019-04-30 10:28] magento-engcom-team commented on #22556
Hi @Leone. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-30 10:28] magento-engcom-team commented on #22556
Hi @Leone, here is your [Magento instance](https://i-22556-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22556-2-3-develop.instances.magento-community.engineering/admin](https://i-22556-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-30 10:32] lyusya-nnn commented on #22555
@ajijshekh123 description is updated.

[2019-04-30 10:35] ajijshekh123 commented on #22555
Thanks for the update @lyusya-nnn

[2019-04-30 10:37] ajijshekh123 commented on #22555
Give me @magento-engcom-team give me 2.3-develop instance.

[2019-04-30 10:37] magento-engcom-team commented on #22555
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-30 10:38] magento-engcom-team commented on #22555
Hi @ajijshekh123, here is your [Magento instance](https://i-22555-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22555-2-3-develop.instances.magento-community.engineering/admin](https://i-22555-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-30 10:45] Leone commented on #22556
I was able to reproduce this error on vanilla Magento instance
http://creativecast.de/gb/vatvalidator_validate_error.png

[2019-04-30 11:07] orlangur commented on #22531
@farhangithub27 `allure-phpunit` was already there: https://github.com/magento/magento2/blob/2.3.1/composer.json#L93

[2019-04-30 11:11] Nazar65 commented on #21994
Hi @vishal-7037 thank you for you report, this issue is not reproducible on 2.3-develop branch, tested with chrome 73-73 firefox or any other browsers. and tested with hight resolution screen.

[2019-04-30 11:11] #21994 closed, assigned to rogyar, vishal-7037

[2019-04-30 11:22] magento-engcom-team commented on #22555
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99458` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-30 11:26] magento-engcom-team commented on #22556
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99459` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-30 11:47] krishprakash commented on #22555
Hi @lyusya-nnn. Thank you for your report.
Issue is duplicate to -> magento-engcom/import-export-improvements#90

[2019-04-30 11:47] #22555 closed, assigned to nobody

[2019-04-30 12:31] chrischerrett commented on #22541
@shikhamis11 I've a feeling it's something to do with API calls, as it happens with all rest calls, rather than being specific to estimating shipments.

I see there is a reference to module-webapi-async here in the stack, but it's not an async request. The call is:

/rest/<store_view>/V1/guest-carts/IGic5i7dOUnvhDwHjZWs7nKtRvSw3dXv/estimate-shipping-methods

Any ideas?

`1 exception(s):
Exception

[2019-04-30 13:56] dcwnaveen commented on #20991
We are getting the same issue after migrating to 2.3.1.
Please provide me a solution.

[2019-04-30 14:04] dcwnaveen commented on #20991
This solution is working fine for me.
https://stackoverflow.com/questions/55001060/you-cannot-define-a-correlation-name-links-more-than-once

[2019-04-30 14:13] mdiu12 commented on #6483
We can't find products matching the selection.

[2019-04-30 14:22] subbu1993 commented on #22539
@magento-engcom-team Please give me 2.2.8 instance

[2019-04-30 14:35] johncarlson21 commented on #22497
is there any more movement on this?

[2019-04-30 15:15] shikhamis11 commented on #22541
hello @chrischerrett
I have checked this in both cases with guest checkout as well as with logged in user. I am not able to reproduce this issue .
can you please check this issue on magento 2.3-develop instance and share screenshots of that

[2019-04-30 15:17] shikhamis11 commented on #22550
@Jayce2000 thank you for your report Please correct the format of your issue as per reporting guideline and provide more information about the issue. and message here to reopen the issue

[2019-04-30 15:17] #22550 closed, assigned to shikhamis11

[2019-04-30 15:35] sanaeefar-saeed commented on #3290
i faced this problem when i used dockergento nad
with
$ dockergento down  // stop all containers
$dockergento start //run all containers
the problem has been solved.

[2019-04-30 15:43] ankursachdeva11 opened #22562 "Price getting populated on child item in order JSON"
### Preconditions (*)

1. Magento 2.2.8 CE

### Steps to reproduce (*)

1. Create Configurable item
2. Create order using the configurable item
3. get order JSON using order API

### Expected result (*)

1. Items node for child item should not show the price ., It should show price 0 as same as 2.2.7 and before.

### Actual result (*)

1. items node for child item showing the only price in "price"

[2019-04-30 16:11] Hailong commented on #22522
Thank you @krishprakash , I had moved it to https://github.com/magento/community-features/issues/166

[2019-04-30 17:56] hostep opened #22563 "Parallelised execution of static content deploy is broken on 2.3-develop"
### Preconditions (*)
1. Tested on Magento `2.3-develop` branch (works fine on version 2.3.1 btw)
2. PHP 7.1.27 with `pcntl` extension enabled

### Steps to reproduce (*)
1. Checkout the `2.3-develop` branch from Magento 2 repo  (I've used commit 93a816230e6)
2. Run `composer install`
3. Run `bin/magento setup:install ...`
4. Run `bin/magento setup:static-content:deploy -f --jobs=2`

### Expected

[2019-04-30 18:06] magento-engcom-team commented on #22299
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/magento2#22534 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [d707c6b78d508ccf2d5d519fffa2b32a5ee997a3](https://github.com/magento/magento2/commit/d707c6b78d508ccf2d5d519fffa2b32a5ee997a3)
 - [c17b2328f8d8d881fbebd0a4c40a88b4ae465784](https://github.com/magento/magento2/commit/c17b2328f8d8d881fbebd0a4c40a8

[2019-04-30 18:06] magento-engcom-team commented on #22402
Hi @philippsander. Thank you for your report.
The issue has been fixed in magento/magento2#22533 by @niravkrish in 2.2-develop branch
Related commit(s):
 - [299563686badfd4bb542c9f143c94005e8420dd6](https://github.com/magento/magento2/commit/299563686badfd4bb542c9f143c94005e8420dd6)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-30 18:06] magento-engcom-team commented on #22223
Hi @seyuf. Thank you for your report.
The issue has been fixed in magento/magento2#22523 by @shikhamis11 in 2.2-develop branch
Related commit(s):
 - [0d936c89a5c14c9e0edf352f7d68988b26dbb9c7](https://github.com/magento/magento2/commit/0d936c89a5c14c9e0edf352f7d68988b26dbb9c7)
 - [35ca37ea9cb672ffb9c088e1a4de007b5e21ba7b](https://github.com/magento/magento2/commit/35ca37ea9cb672ffb9c088e1a4de007b5e

[2019-04-30 18:06] hostep commented on #22563
Reverting that `getPid` method to the original doesn't solve the issue:

[code]

But it gives a slightly different error message:
[code]

Notice the difference in `expects parameter 1 to be integer, boolean given` vs `expects parameter 1 to be integer, null given`.
So there is a more complex problem going on here.

[2019-04-30 18:21] chequille commented on #22528
@magento-engcom-team give me 2.3-develop instance

[2019-04-30 18:21] magento-engcom-team commented on #22528
Hi @chequille. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-30 18:22] magento-engcom-team commented on #22528
Hi @chequille, here is your [Magento instance](https://i-22528-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22528-2-3-develop.instances.magento-community.engineering/admin](https://i-22528-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-30 18:27] sdzhepa commented on #19064
Hello @martasiewierskastanczak @vseager

Thank you for contribution and collaboration!

The corresponding internal ticket `MAGETWO-96137`, `MAGETWO-96138` were fixed and closed by Magento team

Delivered to `2.3-develop` branch and should be available with 2.3.2 release
Please see details in the next commits:
- cfcb773

Delivered to `2.2-develop` branch and should be available with 2.2.9 release
P

[2019-04-30 18:27] #19064 closed, assigned to nobody

[2019-04-30 18:34] hostep commented on #22563
Git bisecting reveals the following commit to be the cause: https://github.com/magento/magento2/commit/147d11d158c2fff05186744979fcc25e2bd671f8

And indeed, removing the line `declare(strict_types=1);` make it work again on my machine.

But this doesn't feel right, I think there is still some deeper problem here, making the PHP executing more stricter is just revealing the problem more clearly, I

[2019-04-30 18:39] sdzhepa commented on #14530
Hello @evgenyvas @peterjaap @hryvinskyi @maximbaibakov @LucasCalazans

Thank you for contribution and collaboration!

The corresponding internal ticket `MAGETWO-93628`was fixed and closed by Magento team

Delivered to `2.3-develop` branch and should be available with **2.3.2 release**
Please see details in the next commits:
- a5635a2
- 02a65d0
- 4921f45
- 184191f
- a74b0c1

Internal ticket `MAGETW

[2019-04-30 18:39] #14530 closed, assigned to maximbaibakov, LucasCalazans

[2019-04-30 18:45] chequille commented on #22528
I confirm, that vanilla Magento instance does the same problem.
PayPal Credit Button is shown but it should not as of the describtions of the refund options.
It says "PayPal credit is only availabe in those countries where it is allowed and the currency is USD"
But it is displayed in the front end.
In the backend settings of PayPal "Disable Funding Options", it is not shown as it should.
Where is

[2019-04-30 18:59] orlangur commented on #14530
@sdzhepa please establish practice of squashing changes properly, is not so easy to understand what happened there from 5 commits.

[2019-04-30 19:00] sdzhepa commented on #14469
Hello @vbuck

Thank you for contribution and collaboration!

The corresponding internal ticket `MC-4316` (MAGETWO-93593), `MAGETWO-93592` were fixed and closed by Magento team

Delivered to `2.3-develop` branch and should be available with **2.3.1 release**
Please see details in the next commits:
- 2bb407e
- a05fdf6
- 4ec8dfb

Delivered to `2.2-develop` branch and should be available with **2.2.9

[2019-04-30 19:00] #14469 closed, assigned to nobody

[2019-04-30 19:31] sdzhepa commented on #14456
Hello @erikhansen @tdgroot @erfanimani @maderlock

Thank you for contribution and collaboration!

The corresponding internal ticket `MAGETWO-93521` was fixed and closed by Magento team

Please see details in the next commit(s):
- 0e81013

[2019-04-30 19:31] #14456 closed, assigned to nobody

[2019-04-30 19:54] sdzhepa commented on #10982
Hello @andidhouse @ottosschweiz @vseager @kanduvisla

Thank you for contribution and collaboration!

The corresponding internal tickets `MAGETWO-91769`, `MAGETWO-82400` were fixed and closed by Magento team

Delivered to `2.3-develop` branch and should be available with **2.3.1 release**
Please see details in the next commits:
- 6cc067a
- bb65b43
- 39dfb2b
- 408c135
- b7288e6
- 1238a5c

Delivered

[2019-04-30 19:54] #10982 closed, assigned to nobody

[2019-04-30 20:57] doeri opened #22564 "Switcher between Store views is missing on magento 2.3.1"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2019-04-30 21:20] sidolov commented on #14530
Hi @orlangur , we'll reach out our core teams with your suggestion. Thank you for the input.

[2019-04-30 21:42] sdzhepa commented on #8815
Hello @erikhansen @J-Fricke

Thank you for contribution and collaboration!

The corresponding internal tickets `MAGETWO-95276`, `MC-5655`(`MAGETWO-95275`) were fixed and closed by Magento team

Delivered to `2.3-develop` branch and should be available with **2.3.1 release**
Please see details in the next commits:
- 677356e
- af3de71

Delivered to `2.2-develop` branch and should be available with *

[2019-04-30 21:55] sdzhepa commented on #8777
Hello @ddeppner @pemann @erikhansen @kamchovet

Thank you for contribution and collaboration!

The corresponding internal tickets `MAGETWO-70996`, `MAGETWO-72961` were fixed and closed by Magento team

Delivered to `2.3-develop` branch and should be available with **2.3.2 release**
Please see details in the next commits:
- 5ec72e4
- 0b7455f
- fd611a7
- 8657339
- 1f5e89b

Delivered to `2.2-develop`

[2019-04-30 21:55] #8777 closed, assigned to nobody

[2019-04-30 22:11] okorshenko commented on #21656
Hi @danemacmillan
This constant was used [as a part of Quick Deploy](https://github.com/magento/magento2/commit/434441ded53f94fb4af98c6bbf655d124c2bf54a#diff-098f5c2b3fc174e29c76fc62b00c2586R121) which was desperate since 2.2.0 and removed [later](https://github.com/magento/magento2/commit/70502d64755ef50bfd9fd31a695dbdf37e840069)

Constant declaration is a leftover from this functionality. As @en

[2019-04-30 23:36] orlangur commented on #22496
@qsolutions-pl again: this should not work when you type link with SID in another browser but should work in the same. Please provide more details on why actual result seems not correct.

[2019-05-01 05:10] shikhamis11 commented on #22564
@doeri  Please follow issue reporting guideline to report an issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Thanks. Also please mention additional details about the issue

[2019-05-01 05:10] #22564 closed, assigned to shikhamis11

[2019-05-01 07:05] krishprakash commented on #22457
Hi @rzaragosin. Please follow issue reporting guideline to report an issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Also please mention additional details about the issue

[2019-05-01 07:12] ansari-krish commented on #19576
@magento-engcom-team give me test instance

[2019-05-01 07:15] ansari-krish commented on #19576
@magento-engcom-team give me 2.3-develop instance

[2019-05-01 07:15] magento-engcom-team commented on #19576
Hi @ansari-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-01 07:16] magento-engcom-team commented on #19576
Hi @ansari-krish, here is your [Magento instance](https://i-19576-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19576-2-3-develop.instances.magento-community.engineering/admin](https://i-19576-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-01 07:20] hostep commented on #22563
I can get it more or less working again with the following code changes:
[code]

But the command still seems to run endlessly on my local machine. Never quits and doesn't seem to execute anything.
This also happens on Magento 2.3.1, so I'm thinking this is a local environment problem I'm having (macOS 10.14.4, and PHP installed with MacPorts).

According to a discussion on Slack yesterday, there w

[2019-05-01 08:11] Puru2016 commented on #2606
I also try to get full product information in products collection, currently it showing limited information. Like this:

[code]
there is no product name and product image etc....

If any one have any idea please share with us to get full information in product collection.

[2019-05-01 09:35] LiamKarlMitchell commented on #802
I was able to compare a working site with a non working site.

There was extra cruft in the url values in core_config_data.

UPDATE core_config_data SET value = NULL WHERE path IN ('web/unsecure/base_static_url','web/unsecure/base_media_url','web/secure/base_static_url','web/secure/base_media_url');

All of these needed to be NULL.
[code]

Resolved it for me.

[2019-05-01 09:45] rickschippers commented on #12240
This fix that is in magento 2.2.8 may fix the issue at hand here, but it slows down the layered navigation extremely in quite a few situations. For example on the dataset I have in one of my stores I select a couple of attributes in the layered navigation. The results would be near instant in 2.2.7, now with this patch applied the results take 30+ seconds to show up.

I logged the queries that 2.2

[2019-05-01 10:20] stkristobal commented on #22528
I have a similar issue with the PP module; I get the regular button, but selecting the PP option and clicking 'Place Order' simply does nothing. This arose after 2.3.1.
There's no log stating an error anywhere; but I do get this in the Chrome output:

"Error: Expected props.locale to be valid
    at Object.validateButtonLocale [as validate] (https://www.paypalobjects.com/api/checkout.js:13198:101)

[2019-05-01 11:01] Sental opened #22567 "[2.3.1] Special Prices Showing at All Stores Level instead of Website Level"
### Preconditions (*)
Magento 2.3.1
1. Set Price Scope to Website Level
2. Have 2 or More websites
3. Create a simple product that is attached to a store view on each website

### Steps to reproduce (*)
1. Set up the product price and special price on default/All store views level
2. add a different special price on a store view for a website. - See special price screenshots
3. View the frontend o

[2019-05-01 11:05] magento-engcom-team commented on #22249
Hi @sjb9774. Thank you for your report.
The issue has been fixed in magento/magento2#22287 by @Wirson in 2.3-develop branch
Related commit(s):
 - [700a1535cb6f58224e8e302ad1b4556d8a118e01](https://github.com/magento/magento2/commit/700a1535cb6f58224e8e302ad1b4556d8a118e01)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-01 11:05] #22249 closed, assigned to nobody

[2019-05-01 11:05] magento-engcom-team commented on #22527
Hi @bhavik43. Thank you for your report.
The issue has been fixed in magento/magento2#22532 by @sanjaychouhan-webkul in 2.3-develop branch
Related commit(s):
 - [e161862468831a99cfb6fee8b77930909551c702](https://github.com/magento/magento2/commit/e161862468831a99cfb6fee8b77930909551c702)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-01 11:05] #22527 closed, assigned to nobody

[2019-05-01 11:05] magento-engcom-team commented on #21978
Hi @WalterSmulders. Thank you for your report.
The issue has been fixed in magento/magento2#22020 by @dudzio12 in 2.3-develop branch
Related commit(s):
 - [103c28be56300b235582504bbeb7a1325ef95eb7](https://github.com/magento/magento2/commit/103c28be56300b235582504bbeb7a1325ef95eb7)
 - [74ef0c0b5d168285d375b260ffbbddc87c4d3634](https://github.com/magento/magento2/commit/74ef0c0b5d168285d375b260ffbb

[2019-05-01 11:05] #21978 closed, assigned to nobody

[2019-05-01 11:05] magento-engcom-team commented on #22045
Hi @afavata. Thank you for your report.
The issue has been fixed in magento/magento2#22260 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [233e4c51f7d525f4573b11a24ae5a81c13762343](https://github.com/magento/magento2/commit/233e4c51f7d525f4573b11a24ae5a81c13762343)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-01 11:05] #22045 closed, assigned to Nazar65

[2019-05-01 11:05] magento-engcom-team commented on #22134
Hi @Userr017. Thank you for your report.
The issue has been fixed in magento/magento2#22260 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [233e4c51f7d525f4573b11a24ae5a81c13762343](https://github.com/magento/magento2/commit/233e4c51f7d525f4573b11a24ae5a81c13762343)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-01 11:05] magento-engcom-team commented on #20124
Hi @dipti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20135 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [11af87753f43c38d95c373a046ed9490cc2f88e3](https://github.com/magento/magento2/commit/11af87753f43c38d95c373a046ed9490cc2f88e3)
 - [42b81c0d97d5948fb7f0c45970fab33cf2f9af99](https://github.com/magento/magento2/commit/42b81c0d97d5948fb7f0c4597

[2019-05-01 11:05] #20124 closed, assigned to dipti2jcommerce, irajneeshgupta, cedarvinda

[2019-05-01 11:13] atwixfirster opened #22568 "Add an extension point to RateRequest in requestShippingRates"
### Summary (*)

Now, we do not have a point to set a custom option to `$request` object in `Magento\Quote\Model\Quote\Address::requestShippingRates`.

### Examples (*)

**Codebase link:** https://github.com/magento/magento2/blob/37677f83c6221c69d36be05cff58fc73795a8975/app/code/Magento/Quote/Model/Quote/Address.php#L976

### Affected Magento versions
- 2.1
- 2.2
- 2.3

### Proposed solution

Add

[2019-05-01 11:16] shikhamis11 commented on #22568
hi @atwixfirster , Please follow issue reporting guideline to report an issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Thanks.

[2019-05-01 11:22] atwixfirster commented on #22568
Yes. I will add all necessary information. Also, I will attach a pull request with fix.

Thanks!

[2019-05-01 12:00] parekhreena commented on #21879
Hi,

Is there any update on this please ?

[2019-05-01 12:37] atwixfirster commented on #22568
@magento-engcom-team give me 2.3-develop instance

[2019-05-01 12:37] magento-engcom-team commented on #22568
Hi @atwixfirster. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-01 12:38] magento-engcom-team commented on #22568
Hi @atwixfirster, here is your [Magento instance](https://i-22568-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22568-2-3-develop.instances.magento-community.engineering/admin](https://i-22568-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-01 12:48] ManuIB commented on #20033
I have the same problem, could you tell me how to solve it in my environment? To avoid having to wait for version 2.3.2

[2019-05-01 12:54] atwixfirster commented on #22568
**Pull request:** https://github.com/magento/magento2/pull/22570

Thank you!

[2019-05-01 13:10] magento-engcom-team commented on #22568
@dmytro-ch Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-05-01 13:11] magento-engcom-team commented on #22568
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99474`, `MAGETWO-99475` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-01 13:37] orlangur commented on #22568
@atwixfirster @dmytro-ch what's the problem with implementing this logic as a before plugin?

[2019-05-01 14:02] magento-engcom-team commented on #22563
:white_check_mark: Confirmed by @maheshWebkul721
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-01 14:11] AndyJAllen commented on #19138
For our 2.2.6 installation; when we import to update url keys, it will update the existing URL Rewrite path, but will result in blank url key values in the export; and also redirects for the old url are not generated on an import.

[2019-05-01 15:12] Rickertje opened #22572 "Date header missing in sent email"
### Preconditions (*)
1. Magento 2.2.7

### Steps to reproduce (*)
1. Put item in cart
2. Checkout

### Expected result (*)
1. Confirmation order email with a date added to the header

### Actual result (*)
1. Confirmation order email without a date added to the header
2. Spamfilter says: X-Amavis-Alert: BAD HEADER SECTION, Missing required header field: "Date"

[2019-05-01 15:25] atwixfirster commented on #22568
@dmytro-ch, @orlangur,

 I've removed
[code]

and moved `$request` to new public function - `getAddressRateRequest`.

This solution allows to modify `$request` after creation:
- etc/di.xml

[code]

- app/code/Vendor/CustomShipping/Plugin/AddCustomOptionToAddressRateRequestPlugin.php
[code]

Could you please review new solution?

😊

Thank you!

[2019-05-01 15:59] melaxon commented on #17634
Sometimes the same happens also after setup:upgrade on developer mode and no redis on 2.2.x and 2.3.1 on both local and remote host. But I can not reproduce it intentionally. No idea what it depends on

[2019-05-01 16:02] sdzhepa commented on #7488
Hello @pguedesbr @vflirt @elioermini

Thank you for contribution and collaboration!

The initially described  issue was fixed in the scope of #13036 PR by @vinayshah
The changes have been delivered into `develop`  branch

[2019-05-01 16:02] #7488 closed, assigned to nobody

[2019-05-01 16:11] itmsenior opened #22574 "[2.3.1] [API] Unable to add Youtube/Vimeo video using catalogProductRepository endpoint"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)
1. Add a product using the catalogProductRepository endpoint including a youtube video.
2. Example JSON request (You need to add the encoded image to "base64_encoded_data"):
[code]

### Expected result (*)

1. Product has Youtube video appear in media gallery
![image](https://user-images.githubusercontent.com/49071342/57027709-0c7

[2019-05-01 16:12] sdzhepa commented on #6382
Hello @patruvlad

Thank you for contribution and collaboration!

The corresponding internal ticket `MAGETWO-73862` was fixed and closed by Magento team

Delivered to `2.2-develop` branch and should be available with **2.2.8 release**
Related commit(s):
- 913ca5e

[2019-05-01 16:12] #6382 closed, assigned to nobody

[2019-05-01 16:18] itwebdev2 commented on #22574
Reproduced on Magento 2.3.1

[2019-05-01 16:39] #22542 closed, assigned to nobody

[2019-05-01 17:04] sanjaychouhan-webkul commented on #21610
Same issue with saving tax rules

[2019-05-01 17:37] dmytro-ch commented on #22568
@orlangur, as far as I understand, the main issue is that there is no way to access the instance of `Magento\Quote\Model\Quote\Address\RateRequest` due to the short lifetime of its variable (`$request`),
 since it's being created, mapped and processed within the same method (`requestShippingRates`).

Therefore, I agree with @atwixfirster that it's a good idea to provide a more or less acceptable e

[2019-05-01 18:53] Shubham-Webkul commented on #22506
@magento-engcom-team give me 2.3-develop instance

[2019-05-01 18:54] magento-engcom-team commented on #22506
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-01 18:54] magento-engcom-team commented on #22506
Hi @Shubham-Webkul, here is your [Magento instance](https://i-22506-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22506-2-3-develop.instances.magento-community.engineering/admin](https://i-22506-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-01 19:13] leoquijano commented on #21978
Hi @magento-engcom-team, is this fix going to be available in an upcoming 2.2.x release?

[2019-05-01 21:05] qsolutions-pl commented on #22496
@orlangur  ok, so how can we make this work? (logged to multiple websites)

[2019-05-01 22:08] orlangur commented on #22568
@atwixfirster @dmytro-ch why not create `beforeCollectRates` plugin? Introducing public methods is not a good idea as it breaks class encapsulation.

[2019-05-01 22:27] craigcarnell commented on #22143
@Nazar65 When is this going to be fixed? It is affecting our live site.

[2019-05-01 22:43] sdzhepa commented on #7778
According to comments

- https://github.com/magento/magento2/issues/7778#issuecomment-402752458
- https://github.com/magento/magento2/issues/7778#issuecomment-410516897

Issue has been fixed

[2019-05-01 22:43] #7778 closed, assigned to nobody

[2019-05-01 23:16] orlangur commented on #22496
@qsolutions-pl using some SSO, for example, OAuth.

Login by SID only must not occur as it would lead to https://en.wikipedia.org/wiki/Cross-site_request_forgery

[2019-05-01 23:16] #22496 closed, assigned to surabhisrivastava09

[2019-05-02 04:43] ajijshekh123 commented on #22572
@Rickertje - Please send the Email which is not available date.

[2019-05-02 04:46] ajijshekh123 commented on #22572
Give me @magento-engcom-team give me 2.3-develop instance.

[2019-05-02 04:46] magento-engcom-team commented on #22572
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-02 04:47] magento-engcom-team commented on #22572
Hi @ajijshekh123, here is your [Magento instance](https://i-22572-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22572-2-3-develop.instances.magento-community.engineering/admin](https://i-22572-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-02 05:24] rdudhara commented on #6224
Is there any progress to fix into 2.1.9?

[2019-05-02 05:27] ajijshekh123 commented on #22572
Email configuration is not working on Magento Instance 2.3 that's why I can't able to review this issue.

[2019-05-02 05:35] krishprakash commented on #22574
Hi @itwebdev2. Thank you for your report.
This is not an issue
![youtube](https://user-images.githubusercontent.com/46617848/57057918-f8359c00-6cc9-11e9-809a-03e50fc4be76.jpg)
You need to set API key for you tube video in below path
Store > Configuration > Catalog > Product video > YouTube API Key

[2019-05-02 05:35] #22574 closed, assigned to krishprakash

[2019-05-02 05:36] neeta-wagento commented on #22528
@magento-engcom-team can you please give me 2.3-develop instance

[2019-05-02 05:54] deepakk-webkul opened #22583 "Tax amount position showing wrong in order email with multi store"
**Preconditions** (*)
1. Magento CE 2.2.7 with sample data installed
2. PHP 7.1.25

**Steps to reproduce** (*)
1. Go to Magento admin
2. Create a new store view (Store > All Store > Create Store View)
3. Now Change the New Store View Currency &
![Screenshot (7)](https://user-images.githubusercontent.com/50043226/57057854-8bba9d00-6cc9-11e9-857d-692c7e54bbae.png)
4. Add  Currency rate
![Screenshot

[2019-05-02 06:01] webkul-deepakkumar commented on #22583
@magento-engcom-team give me 2.3-develop instance

[2019-05-02 06:01] magento-engcom-team commented on #22583
Hi @webkul-deepakkumar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-02 06:02] magento-engcom-team commented on #22583
Hi @webkul-deepakkumar, here is your [Magento instance](https://i-22583-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22583-2-3-develop.instances.magento-community.engineering/admin](https://i-22583-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-02 06:30] magento-engcom-team commented on #22583
:white_check_mark: Confirmed by @maheshWebkul721
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-02 06:35] ajijshekh123 commented on #22572
@maheshWebkul721 - How to configure email in Magento Instance?

[2019-05-02 06:44] Rajan-Bhola opened #22584 "Conditions Cart Rules Not working Magento 2.3.1"
### Preconditions (*)

1. Magento 2.3.1
2.

### Steps to reproduce (*)

1. Go to Marketing > Cart Price Rules > Add new Rule > Conditions > select one.
2. On any linux server

### Expected result (*)

1. [Screenshots, logs or description] - one of previous developer posted this issue same screenshots you can check,
2. On select it redirects and show 404 not fount error.

### Actual result (*)

1.

[2019-05-02 06:46] Rickertje commented on #22572
@ajijshekh123
Ok I'm glad I'm still on 2.2.
I have reason to believe this problem was solved in 2.2.8. I will try to post the details asap. You can relax and sit back for now.

[2019-05-02 06:46] krishprakash commented on #22584
Hi @Rajan-Bhola. Please follow issue reporting guideline to report an issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Also please mention additional details with issue scenario
Thanks.

[2019-05-02 06:48] #22584 closed, assigned to shikhamis11, vikalps4, krishprakash

[2019-05-02 06:49] magento-engcom-team commented on #22584
Hi @Rajan-Bhola. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-02 06:49] ajijshekh123 commented on #22572
Thanks for the update @Rickertje

[2019-05-02 06:49] magento-engcom-team commented on #22584
Hi @Rajan-Bhola, here is your [Magento instance](https://i-22584-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22584-2-3-develop.instances.magento-community.engineering/admin](https://i-22584-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-02 06:53] Rajan-Bhola commented on #22584
on instance its working but not on mine. i do install a fresh setup of magento 2.3.1
- no error log . no system log. no exception log to fix this error

[2019-05-02 06:55] Rajan-Bhola commented on #22584
can you please share apache module list so i can check respectively

[2019-05-02 06:59] krishprakash commented on #22584
@magento-engcom-team give me 2.3.1-develop instance

[2019-05-02 06:59] magento-engcom-team commented on #22584
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3.1-develop instance for you

[2019-05-02 07:00] Rajan-Bhola commented on #22584
please reply to my question please i am stuck in between

[2019-05-02 07:00] Julen10 opened #22585 "Theme deploy after cronjob"
### Preconditions (*)

1. Magento 2.3.0 and 2.3.1

### Steps to reproduce (*)

1. Setup the cronjobs
2. Wait them to be executed

### Expected result (*)

1. Cronjobs are executed correctly and all works perfect

### Actual result (*)

1. Cronjobs are executed and sometimes the homepage gives 404
2. I need to redeploy theme

Logs doesn´t give me any clue, because it seems like all works perfect sa

[2019-05-02 07:00] Rajan-Bhola commented on #22584
also reopen this issue

[2019-05-02 07:00] saxenapritesh opened #22586 "Not able to create color swatches Magento ver. 2.2.4"
Preconditions

    Magento ver. 2.2.4
    Developer mode/Production Mode

Steps to reproduce

	Add your own colors

Expected result

    You should be able to add as many colors as you want.

Actual result

    After 39 color swatches, new colors are not saved even though you still get the "You saved the product attribute." success message.

[2019-05-02 07:02] hafizjee commented on #21452
it's not working in magento2.3 CE .
Everything is configured as per the guide.
It shows enabled but when we go to reporting link it shows 404.

[2019-05-02 07:08] krishprakash commented on #22584
Hi @Rajan-Bhola,
i'm not able to reproduce in 2.3.1 as following steps you described, seems like this related to your custom modules.

[2019-05-02 07:20] Rajan-Bhola commented on #22584
Go to Marketing > Cart Price Rules > Add new Rule > Conditions > select one.
admin panel
![Screenshot from 2019-05-02 12-50-02](https://user-images.githubusercontent.com/29483720/57060954-d98ad180-6cd8-11e9-87f2-cd296483023e.png)

[2019-05-02 07:20] tuananhlhpnd99 commented on #18183
My client encountered this issue for one time. As far as I can tell, it is because the server configuration does not allow PUT, PATCH and DELETE request. You should contact your server guy on this and try my approach to enable all of the above request verbs.

[2019-05-02 07:21] Rajan-Bhola commented on #22584
![Screenshot from 2019-05-02 12-51-13](https://user-images.githubusercontent.com/29483720/57060999-0808ac80-6cd9-11e9-9c74-6ea63ee71992.png)

[2019-05-02 07:22] Rajan-Bhola commented on #22584
its fresh setup on my server

[2019-05-02 07:22] Rajan-Bhola commented on #22584
https://www.xxtestxx.com/demo/admin/sales_rule/index/index/key/1a26fb37fdf300c48feca40db7409229871d2514f96cd40deef53925f97927c2/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/adminhtml/dashboard

[2019-05-02 07:23] Rajan-Bhola commented on #22584
this is done after redirection

[2019-05-02 07:26] Rickertje commented on #22572
I am not in the position to check this but the problem seems resolved on Magento version 2.2.8 and up (you can see Zend/Mail/Header/Date.php). Maybe someone can doublecheck?

If you are using Magento version less than 2.2.7, you need the code (http://prntscr.com/njbufb) on the Mail/Transport file. This is the code:
[code]
Thanks to Arthas from Mageplaza for providing

[2019-05-02 07:28] krishprakash commented on #22586
@magento-engcom-team give me 2.2-develop instance

[2019-05-02 07:28] magento-engcom-team commented on #22586
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-02 07:29] magento-engcom-team commented on #22586
Hi @krishprakash, here is your [Magento instance](https://i-22586-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22586-2-2-develop.instances.magento-community.engineering/admin](https://i-22586-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-02 07:33] itwebdev2 commented on #22574
Hi @krishprakash were you using the catalogProductRepository endpoint on Magento 2.3.1 and not the mediaGallery endpoint? Could you please share the JSON you used?

[2019-05-02 07:33] Nazar65 commented on #22143
@craigcarnell i've made a fix and this fix works, but as @orlangur says we need to cover flow with empty redis config. but you may apply this in health_check.php and have no issue with this
after line 45
[code]

[2019-05-02 07:41] Rajan-Bhola commented on #22584
![Screenshot from 2019-05-02 13-10-36](https://user-images.githubusercontent.com/29483720/57061767-bf9ebe00-6cdb-11e9-87ba-2b1e60c4c003.png)

[2019-05-02 07:43] ajijshekh123 commented on #22572
Okay @Rickertje

[2019-05-02 07:49] rickschippers opened #22587 "Layered navigation huge perfomance hit when filtering with multiple attributes"
### Preconditions (*)

1. 2.2.8 / 2.3.1

### Steps to reproduce (*)

1. Find a category with multiple attributes and a relatively large set of products including configurable products that have multiple simple products linked
2. Select values for multiple attributes in layered nav

### Expected result (*)

1. The results to show up in a reasonable amount of time

### Actual result (*)

1. The resu

[2019-05-02 07:55] krishprakash commented on #22586
Hi @saxenapritesh. Thank you for your report.
I'am not able to reproduce this issue as provided steps by you.
https://www.screencast.com/t/T7zDzs4AuK

[2019-05-02 07:55] #22586 closed, assigned to GovindaSharma, krishprakash

[2019-05-02 08:09] saxenapritesh commented on #22586
I have increased max_input_vars to 5000 in my php.ini file and it solved my problem.
Is this is the right way to solve that ?

[2019-05-02 08:31] magento-engcom-team commented on #22583
:white_check_mark: Confirmed by @webkul-deepakkumar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-02 08:34] webkul-deepakkumar commented on #22583
I was able to reproduce this issue on vanilla Magento instance
![Screenshot (9)](https://user-images.githubusercontent.com/50043226/57064192-38eddf00-6ce3-11e9-9fa6-bc211c6222a2.png)

[2019-05-02 08:37] adamlavery opened #22589 "RabbitMQ causes 2.3.1 upgrade failure"
Preconditions (*)
1. Running M2.2.6

Steps to reproduce (*)
1. Upgrade to 2.3.1 as detailed in https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html.

Expected result (*)
1. Magento successfully upgrades to 2.3.1

### Actual result (*)
1. Magento fails to successfully upgrade to 2.3.1

Attempting to run setup:upgrade results in it failing with:

[code]

Disable module Magento_Amqp

[2019-05-02 08:42] adamlavery commented on #22589
As for the automated response; I fail to see how requesting us to reproduce this on a vanilla install of Magento is of any value to us. I'm trying to upgrade our site, not a vanilla install.

[2019-05-02 08:42] palo opened #22590 "Admin url exposed by requesting "/catalog/Adminhtml_category/""
### Preconditions (*)

1. Magento CE 2.2.5
2. Admin account logged out

### Steps to reproduce (*)

1. Use a web browser and go to "/catalog/Adminhtml_category/" in a magento website.
2. Example: "https://example.com/catalog/Adminhtml_category/"

### Expected result (*)

1. Browser is redirected to magento client side "404" "not found page" : "https://example.com/catalog/Adminhtml_category/" = "Up

[2019-05-02 08:43] driskell commented on #22251
@trucatchtraps We reverted the commit mentioned above and it restored original functionality perfectly. No longer required, and when left blank, auto-generates using the Default Email Domain

[2019-05-02 08:48] krishprakash commented on #22586
Yes, You need to increase the memory limit.
Please follow below document for this:
https://devdocs.magento.com/guides/v2.3/install-gde/trouble/php/tshoot_php-set.html

[2019-05-02 09:06] ajijshekh123 commented on #22590
@palo - Please provide a step to be reproduced properly.

[2019-05-02 09:17] pietervanuhm opened #22591 "2.2.8 Order workflow - orders not set to complete after order shipped."
### Preconditions (*)

1. Magento Open Source 2.2.8
2. After order processing we have a custom status **PostNL** (processing), this status will remain until we fully shipped the order.
2. Update order shipment and tracking by API
2. Order not set to complete

### Steps to reproduce (*)

1. Update from 2.2.7 to 2.2.8
- For processing orders with custom status **PostNL** (processing)
2. Sent Shippin

[2019-05-02 09:47] palo commented on #22590
@ajijshekh123 Maybe the Steps to reproduce above are over-simplistic. Anyway, here it goes again:

1. Use a web browser such as to go to "/catalog/Adminhtml_category/" in a magento website.
For example "https://yourmagentostore.com/catalog/Adminhtml_category/."

You would expect to be redirected to webstore **url not found page.

Instead, the request is redirected to admin log in page and your "se

[2019-05-02 10:11] antbates1991 commented on #18536
I came across this issue and made a module to fix the issue.

The use of a preference was due to the use `private`.

https://github.com/WeareJH/m2-module-google-tag-manager-fixes

[2019-05-02 10:12] FreekVandeursen commented on #22590
Confirmed on 2.2.8

[2019-05-02 11:05] rlavooij commented on #22567
I also ran into this very same problem yesterday during a site upgrade.
Reproduced on a clean magento 2.3.1 install.

I also noticed, if you remove the special price from the global scope, and override it in the store views, it won't display anything "special" on the front-end of the site.

pricing entered looks to be fine in the catalog_product_index_price table too
https://i.imgur.com/LFQEGLH.pn

[2019-05-02 11:18] prabhash76 commented on #21614
So @magento-engcom-team when we are supposed to get the re-solved version of magento.

[2019-05-02 11:27] vctsvz commented on #19480
missing "\" symbol
 $realPath = str_replace('\\\\', '/', $this->fileDriver->getRealPath($path));

[2019-05-02 11:28] ajijshekh123 commented on #22590
Give me @magento-engcom-team give me 2.3-develop instance.

[2019-05-02 11:29] magento-engcom-team commented on #22590
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-02 11:29] magento-engcom-team commented on #22590
Hi @ajijshekh123, here is your [Magento instance](https://i-22590-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22590-2-3-develop.instances.magento-community.engineering/admin](https://i-22590-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-02 11:33] navidnadali commented on #21614
@magento-engcom-team please can you provide an update, we have multiple clients with this issue

[2019-05-02 11:41] prabhash76 commented on #21614
@magento-engcom-team
 Have a problem when FPC is enable on my M2 2.3.
The problem is when I add a product to the cart and then goes to another category. then the cart willl be empty.
When FPC is disable all works fine.

[2019-05-02 11:41] ajijshekh123 commented on #22590
Issue fixed in Magento 2.3 Instance.

[2019-05-02 11:43] 0m3r commented on #22590
No
Just open
https://i-22590-2-3-develop.instances.magento-community.engineering/catalog/Adminhtml_category/

[2019-05-02 11:43] magento-engcom-team commented on #22590
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-05-02 11:54] FreekVandeursen commented on #22590
How can this issue be closed so easily? The 2.3 develop instance clearly shows this issue exists in 2.3 as well.

[2019-05-02 11:54] krishprakash commented on #22583
Hi @webkul-deepakkumar.
Can you please explain in more detail i'm not able to reproduce this issue.
Thanks.

[2019-05-02 11:57] rlavooij commented on #22567
For a bit more visual explanation 2 screenshots with 2 cases.
left side is store view one
right side the other.

https://i.imgur.com/49oFlLb.png
in this case i have not set a default value for `Special Price`, only specified this in the store views

in the following screenshot i have set up the "all store views" value https://i.imgur.com/cjlLx96.png
then going back into the store views we can see

[2019-05-02 12:02] ajijshekh123 commented on #22590
Sorry, @FreekVandeursen and @0m3r - I verified another link that's why I have not reproduced this issue in Magento 2.3 Instance. Sorry for the Inconvenience.

Now I have verified the same URL in Magento 2.3 Instance which is defined by the Step to reproduce and I got it the issue.

[2019-05-02 12:11] FreekVandeursen commented on #22590
@palo Since I think this has to be considered a security issue, you might also want to report it on https://hackerone.com/magento

[2019-05-02 12:21] magento-engcom-team commented on #22583
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99494`, `MAGETWO-99495` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-02 12:33] 0m3r commented on #22590
More urls with same problem

cms/Adminhtml_block
cms/Adminhtml_block/index
cms/Adminhtml_block/edit

cms/Adminhtml_page
...

[2019-05-02 12:37] FreekVandeursen commented on #22590
customer/Adminhtml_index
customer/Adminhtml_group

[2019-05-02 12:48] #22030 closed, assigned to vishal-7037

[2019-05-02 13:02] Nazar65 opened #22596 "[WIP]Duplicate Adress on Reorder In Admin"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)
1. Create A customer set Default Address
2. Create an Order in admin
3. Select in Sales Order -> recently created order.
4. Select Reorder.
5 Make sure you have all address data. and checkbox is checked `Save in address book`
6 Do reorder multiple times.
7. Now go to Customers in adminhtml and select edit Recently created cu

[2019-05-02 13:10] craigcarnell commented on #20571
@engcom-backlog-nazar please confirm if this is fixed?!?!?

[2019-05-02 13:21] atwixfirster commented on #22568
yes, @orlangur. `beforeCollectRates` plugin is a good solution.

Please close this PR.

Thank you!

CC: @dmytro-ch

[2019-05-02 13:23] aario opened #22597 "Cart form default action is to empty cart"
### Preconditions (*)

1. Magento 2.3.1
2. Firefox, Chrome, Safari

### Steps to reproduce (*)

1. Add a product to cart
2. Go to cart page
3. Edit the quantity
4. Press enter inside quantity input box

### Expected result (*)

1. Quantity must be updated

### Actual result (*)

1. Cart gets empty

### More info:
It happens in:
`vendor/magento/module-checkout/view/frontend/templates/cart/form.phtm

[2019-05-02 13:29] krishprakash commented on #22597
@magento-engcom-team give me 2.3-develop instance

[2019-05-02 13:29] magento-engcom-team commented on #22597
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-02 13:29] magento-engcom-team commented on #22597
Hi @krishprakash, here is your [Magento instance](https://i-22597-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22597-2-3-develop.instances.magento-community.engineering/admin](https://i-22597-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-02 13:40] orlangur commented on #22568
@atwixfirster okiz, thanks for collaboration!

[2019-05-02 13:40] #22568 closed, assigned to atwixfirster, shikhamis11, GovindaSharma

[2019-05-02 13:41] krishprakash commented on #22597
Not reproduced on 2.3 instance which provided by magento.
But i have tested in my local 2.3.1 instance and issue is reproduced.

[2019-05-02 13:43] magento-engcom-team commented on #22597
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99497` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-02 13:48] Shubham-Webkul commented on #22597
@magento-engcom-team give me 2.3-develop instance

[2019-05-02 13:49] magento-engcom-team commented on #22597
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-02 13:49] craigcarnell commented on #12385
@tuyennn @magento-engcom-team @mslabko is this fixed in 2.3.1?

[2019-05-02 13:49] magento-engcom-team commented on #22597
Hi @Shubham-Webkul, here is your [Magento instance](https://i-22597-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22597-2-3-develop.instances.magento-community.engineering/admin](https://i-22597-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-02 13:52] Shubham-Webkul commented on #22597
Reproduced on 2.3.x

[2019-05-02 14:00] trucatchtraps commented on #22251
I must have missed something then...will try again

[2019-05-02 14:01] muckee opened #22600 ""Invalid Form Key. Please refresh the page." error when assigning more than 1,200 products to a category."
### Preconditions (*)

1. Ubuntu 18.04
2. Apache 2.4
3. PHP 7.2
4. Magento 2.3.x
5. Magento sample data

### Steps to reproduce (*)

1. Go to the category with  more than 1000+ products
2. Open 'Products in category' section
3. Uncheck 'Select all' checkbox and check it again
4. Press 'Next page' button

### Expected result (*)

1. Products successfully selected
2. User is able to proceed and save

[2019-05-02 14:05] 0m3r commented on #22590
Path disclosure will work also with following urls

cms/ADMINHTML_page
cms/aDminhtml_page
cms/adMInhtml_page

this Path disclosure  was "fixed" already

https://github.com/magento/magento2/commit/f04a4162ed56ec352eedef5ed7d1dda636edf2e6

But fix works properly only if namespace variable in lower case

https://github.com/magento/magento2/blob/0eb8677b0b4e35606032e856cc1ef7c80e68829f/lib/internal/Ma

[2019-05-02 14:10] petterjv opened #22602 "Layered navigation full reindex issue"
### Summary
Full reindex makes layered navigation break (no products are displayed from sub-categories), provided that categories are disabled in the default store.

### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)
1. Setup a store
2. Setup at least one category with at least on child (enable anchored)
3. Assign some products to child categories
4. Disable the categories in the

[2019-05-02 14:36] Shubham-Webkul commented on #22597
But i noticed if cart page loaded completely(Estimate shipping section) then update item quantity otherwise it's empty.

[2019-05-02 14:39] craigcarnell commented on #20571
@engcom-backlog-nazar This is not fixed.

Redis sessions is causing our application to re-use increment_id in checkout!

This needs resolving ASAP!!!!

[2019-05-02 14:42] jasondobry commented on #6146
Has anyone confirmed this is indeed working as expected?

[2019-05-02 14:54] JoshuaFlood commented on #22600
@magento-engcom-team give me 2.3-develop instance

[2019-05-02 14:54] magento-engcom-team commented on #22600
Hi @JoshuaFlood. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-02 14:55] magento-engcom-team commented on #22600
Hi @JoshuaFlood, here is your [Magento instance](https://i-22600-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22600-2-3-develop.instances.magento-community.engineering/admin](https://i-22600-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-02 15:15] JoshuaFlood commented on #22600
I can't reproduce the code without sample data. Is there any way to create an instance with sample data?

I could manually re-create all of the products, categories and product attributes, but that would take a very long time.

[2019-05-02 15:30] DanielRuf commented on #22590
Well it is already disclosed here so it can not be reported anymore (responsible disclosure). Unfortunately this issue is public.

Can we provide a SUPEE patch for just this small fix / change?

[2019-05-02 15:30] davidalger commented on #22563
@hostep I wish I'd seen this issue before I spent hours figuring out why I was getting the infamous `[RuntimeException] Error while waiting for package deployed` error on about 50% of the builds where parallelization was used on a Concourse CI setup I'm testing. The patch you show above actually touches on exactly where the underlying problem is for why the SCD hangs, although there is a problem w

[2019-05-02 15:31] mozgbrasil opened #22603 "On the home page some images are not displayed and the file "/pub/media/styles.css" is not generated, some category images are also not displayed"
### Preconditions (*)

Magento 2.3.1

https://imgur.com/g8g7RUO

### Steps to reproduce (*)

I have been developing the following project that has the purpose of automating the construction of Magento2 in order to facilitate the evangelization of the platform.

https://github.com/mozgbrasil/deploy-magento2#install

The installation of Magento works as expected, displaying all the images from the "

[2019-05-02 15:34] mozgbrasil commented on #22603
yes

[2019-05-02 15:45] magento-engcom-team commented on #22596
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-02 15:46] magento-engcom-team commented on #22596
Hi @shikhamis11, here is your [Magento instance](https://i-22596-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22596-2-3-develop.instances.magento-community.engineering/admin](https://i-22596-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-02 15:50] JoshuaFlood commented on #22600
The [magento stack exchange answer by Ahmad Vaqas Khan](https://magento.stackexchange.com/a/171089/60221) shows the solution.

The problem here is the documentation. It explains that the `/etc/php/7.2/cli/php.ini` file should be edited, but not the `/etc/php/7.2/apache2/php.ini` file.

I've been away from magento for a while so I'd forgotten, but I had the same problem when developing a website.

[2019-05-02 15:51] frithjof commented on #11032
it is not fixed in current 2.3.1!
	$option = $this->optionDataFactory->create();
			$option->setLabel($label);

			$result = $this->attributeOptionManagementInterface->add($attributeCode, $option);
fails with a lock wait timeout on swatch attributes

[2019-05-02 15:51] cdbessig commented on #14090
@orlangur if magento wants to compete, it should ensure that modules baked into core function with other core components.  To provide a module that doesn't work with other core features and then point to module developers or payment vendors to fix it, that's weak and not something merchants want to hear.

[2019-05-02 15:52] DanielRuf commented on #22590
Do we have a CVE handler or who can request one directly? Which team can we ping?

[2019-05-02 15:54] orlangur commented on #22590
I believe even though it became public we can still delete this issue and deliver a fix internally.

[2019-05-02 15:59] magento-engcom-team commented on #22596
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99507` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-02 16:02] DanielRuf commented on #22590
Right. Let's delete and handle it internally.

[2019-05-02 16:09] dilsunlife opened #22604 "Attention! Something went wrong."
### Preconditions (*)

1. Magento 2.2.0
2. Getting Error Attention! Something went wrong.
3. A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.

![image](https://user-images.githubusercontent.com/10502226/57089682-9f462200-6d22-11e9-9e52-31eebad90903.png)

### Steps to reproduce (*)

1.
2.

### Expected result

[2019-05-02 16:11] mega667 commented on #22407
It can be a temporary solution.
Set `cache_lifetime` as `1` for the `catalog.topnav` block.

`{YOUR_THEME_DIR}/Magento_Theme/layout/default.xml`

[code]

[2019-05-02 16:12] dilsunlife opened #22605 "When you search any product then product value is added in box but loder is showing is continues.."
### Preconditions (*)

1. When you search any product then product value is added in box but loder is showing is continues..
2. I am try to search product after search product i am getting loader..
3. How to resolve please help.
![image](https://user-images.githubusercontent.com/10502226/57089847-0663d680-6d23-11e9-8f39-8a5867894745.png)

### Steps to reproduce (*)

1.
2.

### Expected result (*)

[2019-05-02 16:17] orlangur commented on #22604
@dilsunlife `2.2.0` is pretty old, are you able to reproduce an issue on a clean Magento installation?

[2019-05-02 16:20] jaxtheking commented on #6793
Any update on this?? I don't understand why it keeps getting closed.
I'm still having this issue on M2.3.1 with either MySQL or ElasticSearch 6.
If a user searches for 'skirt', the first results are tops that mention skirts in the description, even though weights for name and description fields are set correctly.
The search feature is pretty useless and is utterly counter-intuitive for our users.

[2019-05-02 16:21] orlangur commented on #14090
@cdbessig I understand that. So?

[2019-05-02 16:24] realadityayadav commented on #22605
@magento-engcom-team give me 2.3-develop instance

[2019-05-02 16:24] magento-engcom-team commented on #22605
Hi @realadityayadav. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-02 16:25] magento-engcom-team commented on #22605
Hi @realadityayadav, here is your [Magento instance](https://i-22605-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22605-2-3-develop.instances.magento-community.engineering/admin](https://i-22605-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-02 16:31] realadityayadav commented on #22605
@dilsunlife I cannot reproduce the issue on the above Magento Instance. You need to check your Exception logs to find and escalate the error in your custom Environment.
![image](https://user-images.githubusercontent.com/25526193/57090900-8ab75900-6d25-11e9-882a-e14133ed8688.png)

[2019-05-02 16:31] #22605 closed, assigned to realadityayadav

[2019-05-02 16:31] orlangur commented on #22589
@adamlavery you need to take a vanilla `2.2.6` install and try upgrading to `2.3.1` on your side.

[2019-05-02 16:38] adamlavery commented on #22589
How does upgrading a vanilla 2.2.6, perhaps successfully, help in any way to solve the problem of upgrading OUR 2.2.6 site to 2.3.1?

[2019-05-02 16:42] ankursachdeva11 commented on #22562
Any Updates
@magento-engcom-team

[2019-05-02 16:47] trucatchtraps commented on #22251
@driskell - I have tried it a couple different ways but still not showing the override for Magento\Sales\Block\Adminhtml\Order\Create\Form\Account on the backend. Can you please take a look at the custom module I created? The attached files I try to override the whole file, I have also tried to extend the original file and only include the affected classes but neither seems to be working.

[Trucat

[2019-05-02 17:51] davidalger commented on #22563
@hostep

I thought that as well, until I added proper error checking around that. If you pass `null` to `pcntl_waitpid` it actually returns `-1` and the `pcntl_errno` function will indicate a `PCNTL_ECHILD` error ("No child process"):

Not sure when on 2.2.x it was introduced, but at least since 2.2.6 since that's the version I found the issue throwing the `RuntimeException` building my pipeline.

[2019-05-02 18:55] sdzhepa commented on #9113
Hello @MagePsycho

Thank you for contribution and collaboration!

Internal Magento team has investigated the issue and as result, all related internal tickets were closed with resolution `Won't Fix`
Reason :

[2019-05-02 18:55] #9113 closed, assigned to nobody

[2019-05-02 18:59] orlangur commented on #22589
@adamlavery, please pay attention to

Only you can investigate a problem with your shop. Any bug report here must be reproducible on a vanilla instance.

[2019-05-02 19:04] sdzhepa opened #22608 "TEST ISSUE do not process it"
### Preconditions (*)

1. TEST
2. TEST

### Steps to reproduce (*)

1. TEST
2. TEST

### Expected result (*)

1. [Screenshots, logs or description]
2. TEST

### Actual result (*)

1. [Screenshots, logs or description]
2. TEST

[2019-05-02 19:05] magento-engcom-team commented on #22608
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-05-02 19:05] magento-engcom-team commented on #22608
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99510` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-02 19:06] gakonhd commented on #7299
Has anyone found the solution with this issue yet? I am using Magento 2.8 and I still have this problem

[2019-05-02 19:11] hostep opened #22609 "Since Magento 2.3 the wysiwyg image uploader incorrectly uses pub/media as storage root."
### Preconditions (*)
1. Magento 2.3.1 or 2.3-develop (I've used commit d3fdecf0d0f, can't use the latest commit 28757e409c9 since it breaks the backend due to some 'unserialize' warnings)
2. PHP 7.1.27

### Steps to reproduce (*)
1. In the backend go to Content => Pages
2. Click 'Add New Page'
3. Expand the 'Content' section, click 'Show / Hide Editor' and click 'Insert Image...'

### Expected re

[2019-05-02 19:33] sdzhepa commented on #9851
The issue should be re-verified and Confirmed is it still exists in 2.3 and 2.2.
If no issue should be closed because of the internal Magento team investigated and closed all related internal Jira tickets with resolution `Won't Fix` and comment:

[2019-05-02 19:40] sdzhepa commented on #8095
Due to no activities for a long time, the Issue should be re-verified and Confirmed is it still reproducible on `2.3-develop`, `2.2-develop`

[2019-05-02 20:29] snoroozi commented on #15115
Is there quote_address table on 2.3?  I'm trying to run the query here and I don't have that table at all, not a prefix issue. I don't have the table.

[2019-05-02 20:39] magento-engcom-team commented on #22608
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99512` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-02 20:40] magento-engcom-team commented on #22608
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99513` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-02 21:39] Ctucker9233 commented on #6793
@jaxtheking Completely agree.

[2019-05-03 03:33] vinayshah opened #22612 "Export of Downloadable Products type"
### Description (*)

Customers should be able to export product of type downloadable.
### Expected behavior (*)

Customer should be able to see **downloadable_links** and **downloadable_samples**, which has all the details for Downloadable product type.
### Benefits

This will help customers to export product of type downloadable. So that customer can benefit from it and can have the information o

[2019-05-03 04:40] krishprakash commented on #22597
@Shubham-Webkul, In 2.3.1 after proper page load this issue is appeared.
Thanks for your response.

[2019-05-03 05:18] dipak85shinde commented on #16134
I am still facing this issue for categories on Magento 2.3.1. Categories URLs are generated correctly for the default store but not for the new store.

[2019-05-03 05:21] Patelcc opened #22614 "Magento 2.3.0 Admin grid using UI component sticky CSS is not working"
### Preconditions (*)

1. Magento version CE 2.3.0
2. PHP version 7.1.
3. Admin area

### Steps to reproduce (*)

1. Create admin grid using Ui-component Make sure Sticky true `<sticky>true</sticky>`
2. Display only grid don't add button `<buttons></buttons>` just above the grid.
3. Because I just want to display the record in a grid I don't need any form so there is no need to display button in t

[2019-05-03 05:30] devqualwebs commented on #16388
Hi @lemaryn, As you created a patch to apply free shipping. Absolutely this is working fine. But when I add a condition to apply free shipping for specific shipping country in my cart rule. Even after adding the condition for shipping country, the rule is applying for all countries. Say for ex. I added the condition that the total item qty should be greater than 5 and the shipping country is Saudi

[2019-05-03 05:48] dipak85shinde commented on #17583
I am still facing this issue for categories on Magento 2.3.1. Categories URLs are generated correctly for the default store but not for the new store.

[2019-05-03 07:32] santibm commented on #14291
Hi,

We recently had this issue, in our case it was a problem with ModSecurity rules:

--786c900b-B--
POST /administrator/catalog_rule/promo_catalog/newConditionHtml/form/catalog_rule_formrule_conditions_fieldset_/form_namespace/catalog_rule_form/key/6c6b5f50af5277a66476d8357acbacf52e62011a3c99ab6f3d66dc2e02cc2f5d/?isAjax=true HTTP/1.0

--786c900b-H--
Message: Warning. detected SQLi using libinjec

[2019-05-03 07:42] adamlavery commented on #22589
So to be clear, you're saying the Magento Core team is abdicating any responsibility for investigating issues that new core features are causing with customer sites?

We're not talking here about custom or 3rd party modules having issues with 2.3, which are our or the relevant 3rd party's responsibility to deal with whatever changes have been made to the core. We're talking about core modules that

[2019-05-03 07:44] engcom-backlog-nazar commented on #22585
Hi, @Julen10 thank you for your report , i`m not able to reproduce this issue , please provide more information about steps for reproduce.

[2019-05-03 08:15] magento-engcom-team commented on #22609
@engcom-backlog-nazar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-05-03 08:17] magento-engcom-team commented on #22609
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99520` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-03 08:32] engcom-backlog-nazar commented on #22604
Hi @dilsunlife thank you for your report ! I am not able to reproduce this issue , probably the problem is with your custom modules

[2019-05-03 08:32] #22604 closed, assigned to nobody

[2019-05-03 09:08] PascalBrouwers commented on #13207
Can the CLDR not be updated for the zendframework1 library?

[2019-05-03 09:08] kevinvarley commented on #15427
Same issue 2.2.8

[2019-05-03 09:21] mtsmtyuta opened #22615 "Product grid massaction only updates items shown per page(default 20) when 'Select All' was choesn"
### Preconditions (*)
1.MagentoCE 2.3.1
2.More than 20 product items in system

### Steps to reproduce (*)

1.Go to admin>catalog>products
2.In the product grid view, select 'Select All' from the drop down like so:
![Screen Shot 2019-05-03 at 17 20 31](https://user-images.githubusercontent.com/41325301/57128860-b262fb80-6dcf-11e9-8554-ab7e257fc266.png)

3.Select 'Update attributes' from mass actio

[2019-05-03 09:21] frostblogNet commented on #22094
@engcom-backlog-nazar can you provide more information about what has been changed to fix this issue?

[2019-05-03 09:26] shikhamis11 commented on #22615
hello @mtsmtyuta
it seems this issue is already reported please check #22004

[2019-05-03 09:26] #22615 closed, assigned to shikhamis11

[2019-05-03 09:27] orlangur commented on #22589
@adamlavery,

If this is the case, it should not be too hard to reproduce a problem on a vanilla installation. You can even disable new core modules which you don't need.

Nope, this is the only viable approach for Open Source. See https://github.com/magento/magento2/wiki/Issue-reporting-guidelines#steps-to-reproduce:

I'm just saying that without clear steps to reproduce it is pretty hard if not

[2019-05-03 09:35] PascalBrouwers commented on #9488
I think the real bug is that the country Kosovo is not listed in Magento. @magentoguyssageone could you edit the issue to reflect this?

[2019-05-03 09:49] magento-engcom-team commented on #22562
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99521`, `MAGETWO-99522` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-03 09:56] adamlavery commented on #22589
Ok, here's the approach I would expect to happen in this situation:

Whoever is responsible for adding the RabbitMQ support, which is not something I know anything about or have any reason at this stage to have an interest in, check the module code that runs when we issue a setup:upgrade command. They can then come up with a hypothesis on what is causing the upgrade script to fail with the noted e

[2019-05-03 09:59] orlangur commented on #22589
@adamlavery, ok, got it, the only confirmation I asked you for was to check if

steps occur on a vanilla install.

Please add RabbitMQ version and any other environment details which could be useful to description.

[2019-05-03 10:08] pushpagupta-magento opened #22616 "Because of inventory_sales module (MSI) : Backorder Item Status is not showing if we placed order with backorder item in magento2.3.x"
### Preconditions (*)

1. Magento version 2.3.0
2. Should have inventory_sales module (MSI)

### Steps to reproduce (*)

1. Set a product up as backorderable - 0 quantity stock, "allow orders below 0", in stock, enabled
2. As a frontend customer, add this backordered product to a cart
3. Add an additional "normal" stock item to the cart (not backordered - this step may not be strictly required but

[2019-05-03 10:22] krishprakash commented on #22616
@magento-engcom-team give me 2.3-develop instance

[2019-05-03 10:22] magento-engcom-team commented on #22616
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-03 10:23] magento-engcom-team commented on #22616
Hi @krishprakash, here is your [Magento instance](https://i-22616-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22616-2-3-develop.instances.magento-community.engineering/admin](https://i-22616-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-03 10:25] pushpagupta-magento commented on #22616
Hi @krishprakash : I have found the solution for it and worked upon it and soon will generate the PR. May be you can help me to verify my PR :)

[2019-05-03 10:26] adamlavery commented on #22589
And herein maybe the crux of the issue. What is RabbitMQ? Never heard of it and have no idea why I'd want it! Just something that has appeared in the latest Magento release. Are we supposed to have checked our server has it installed and a particular version? No idea! Nothing in the reference article on upgrading to 2.3 mentions RabbitMQ.

Is this another new facility added that we don't know abou

[2019-05-03 10:26] pushpagupta-magento commented on #22616
@magento-engcom-team give me 2.3-develop instance

[2019-05-03 10:26] engcom-backlog-nazar commented on #9488
Hi @magentoguyssageone , @PascalBrouwers , this issue is already fixed in Magento 2.3-dev

![Screenshot from 2019-05-03 13-20-47](https://user-images.githubusercontent.com/40756439/57132054-02799800-6da7-11e9-9788-d0e8c6c30ba7.png)

[2019-05-03 10:26] magento-engcom-team commented on #22616
Hi @pushpagupta-magento. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-03 10:27] #9488 closed, assigned to nobody

[2019-05-03 10:27] magento-engcom-team commented on #22616
Hi @pushpagupta-magento, here is your [Magento instance](https://i-22616-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22616-2-3-develop.instances.magento-community.engineering/admin](https://i-22616-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-03 10:30] magento-engcom-team commented on #9155
Hi @KishorkumarKar. Thank you for your report.
The issue has been fixed in magento/magento2#22536 by @niravkrish in 2.2-develop branch
Related commit(s):
 - [c62ab93a45ef9f4dc6fb86d6cd03de127a9665a6](https://github.com/magento/magento2/commit/c62ab93a45ef9f4dc6fb86d6cd03de127a9665a6)
 - [44027144a61657e0dd6acf41777c17bad6ad4e54](https://github.com/magento/magento2/commit/44027144a61657e0dd6acf4177

[2019-05-03 10:30] magento-engcom-team commented on #21596
Hi @hiren0241. Thank you for your report.
The issue has been fixed in magento/magento2#22543 by @saphaljha in 2.2-develop branch
Related commit(s):
 - [9b9d451a821afad79feeb8def9d0b601041a5664](https://github.com/magento/magento2/commit/9b9d451a821afad79feeb8def9d0b601041a5664)
 - [6645cb21827b2162887b705e63026027343002d5](https://github.com/magento/magento2/commit/6645cb21827b2162887b705e63026027

[2019-05-03 10:30] magento-engcom-team commented on #22249
Hi @sjb9774. Thank you for your report.
The issue has been fixed in magento/magento2#22288 by @Wirson in 2.2-develop branch
Related commit(s):
 - [f4ab0e6d9280920b6c64b789ec7a155330cfb681](https://github.com/magento/magento2/commit/f4ab0e6d9280920b6c64b789ec7a155330cfb681)

The fix will be available with the upcoming 2.2.9 release.

[2019-05-03 10:41] mrtuvn opened #22617 "Deploy content files theme issue in production mode if have empty less file"
### Preconditions (*)

Magento 2.3.1
my local tested on vagrant box
https://github.com/paliarush/magento2-vagrant-for-developers

### Steps to reproduce (*)

1. Deploy clean magento instance
2. Enable production mode
3. Create new theme based on luma as parent: Ex Magento/winter
path app/design/frontend/Magento/winter
4. Create required file composer.json theme.xml registration.php
5. Inside new t

[2019-05-03 10:43] phoenix128 opened #22618 "Disabled multiselect fields in system configuration are saved clearing the configuration"
### Preconditions (*)
1. Magento 2.2+ with at least 2 websites
2. At least one configured payment methods
3. Configuration dumped to `config.php`

### Steps to reproduce (*)
1. Open System > Config > Sales > Payment Method
2. Switch your view from global to any of your websites
3. Click on save without modifying anything

### Expected result (*)
1. Disabled fields are not modified

### Actual resu

[2019-05-03 10:44] yogeshkhasturi opened #22619 "Update to 2.3 Issue if magento downloaded from Github"
### Preconditions (*)

1. Magento 2.2.6 (Downloaded from Github
2. Want to update to 2.3.1

### Steps to reproduce (*)

1.
Execute Below Cammand
[code]
2. Following These steps. https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html

### Expected result (*)

1. Magento 2 dependencies should be updated.

### Actual result (*)

1. Getting Error :

Please Help me with the process to up

[2019-05-03 10:49] srikanth829 opened #22620 "I want like keyword search with mysql in catalog search configuration i did not find any configuration related to this"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-05-03 10:55] krishprakash commented on #22620
Hi @srikanth829
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the Community Forums or the Magento Stack Exchange site for your queries.

[2019-05-03 10:55] #22620 closed, assigned to nobody

[2019-05-03 10:57] krishprakash commented on #22616
Hi @pushpagupta-magento.
Not able to reproduce this issue.
Please explain with additional steps.

[2019-05-03 11:08] tejabhagavankollepara commented on #20033
Can you please tell me the solution for this?

[2019-05-03 11:12] MarcusWolschon commented on #20033
Customers are complaining since 2 weeks and there's nothing my client (the shop) can tell them.

[2019-05-03 11:27] PascalBrouwers commented on #9488
Ok, still allot of countries are missing in 2.3 though.

[2019-05-03 11:28] #22616 closed, assigned to Ketika, krishprakash, pushpagupta-magento

[2019-05-03 11:29] pushpagupta-magento commented on #22616
I am closing this issue as this is related to MSI.

[2019-05-03 11:38] tejabhagavankollepara commented on #20033
So Could you please help me on this for magento2.3.1?

[2019-05-03 11:40] engcom-backlog-nazar commented on #22602
Hi @petterjv , thank you for your report !
I am not able to reproduce this issue based on your provided steps, please provide more information.

[2019-05-03 11:50] sumeetmobiwebtech commented on #11577
i am using magento 2.3
i disable all modules of klarna -
Klarna_Core
Klarna_Kp
Klarna_Ordermanagement

Still getting error in admin cms block -
1 - Failed to load resource: the server responded with a status of 404 (Not Found)
2 -  require.js:141 Uncaught Error: Script error for: tinymce
http://requirejs.org/docs/errors.html#scripterror
    at makeError (require.js:166)
    at HTMLScriptElement.on

[2019-05-03 11:53] MarcusWolschon commented on #20033
This issue number (#20033) has not been mentioned in the commit. Else there would be an automatic link here and people could patch their own installations instead of waiting for 2.3.2 and asking questions.

[2019-05-03 11:55] ManuIB commented on #20033
So, how do we solve this problem?

[2019-05-03 12:29] orlangur commented on #22589
@adamlavery ah, got it: basically RabbitMQ is something you don't want to in your Magento installation even if it's running on your servers.

[2019-05-03 12:55] amenk opened #22622 "Stock Status of configurable products seems inconsitent"
### Preconditions (*)
1. Magento  2.2.8
2. Want to verify also on 2.3.1

### Steps to reproduce (*)
1. Create a configurable product with SKU "shirt" and simples shirt-L and shirt-M via API (or backend???)
2. shirt-L and shirt-M shall have manage_stock = false
3. shirt has manage_stock = true
### Expected result (*)

1. shirt stock is visible because manage_stock = false of the simples does not me

[2019-05-03 12:56] amenk commented on #22622
@magento-engcom-team give me 2.2.8 instance

[2019-05-03 12:56] magento-engcom-team commented on #22622
Hi @amenk. Thank you for your request. I'm working on Magento 2.2.8 instance for you

[2019-05-03 12:56] amenk commented on #22622
@magento-engcom-team give me 2.3.1 instance

[2019-05-03 12:57] magento-engcom-team commented on #22622
Hi @amenk. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-05-03 12:57] magento-engcom-team commented on #22622
Hi @amenk, here is your [Magento instance](https://i-22622-2-2-8.instances.magento-community.engineering).
Admin access: [https://i-22622-2-2-8.instances.magento-community.engineering/admin](https://i-22622-2-2-8.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-03 13:49] uwon commented on #6310
am working on this #dmcdindia2019

[2019-05-03 13:56] yogeshkhasturi commented on #22619
Hello @GovindaSharma,

Any Idea where how to update to 2.3.1. **composer update** method is not working with GitHub version.

Thanks
Yogesh

[2019-05-03 14:19] orlangur commented on #20033
@ManuIB somebody needs to find in `2.3-develop` commits which fixed the problem first.

[2019-05-03 14:22] orlangur commented on #22622
This is obviously not a valid configuration.

[2019-05-03 14:22] #22622 closed, assigned to shikhamis11

[2019-05-03 14:44] amenk commented on #22622
@orlangur Thanks for checking. But I don't understand it. Can you elaborate?

We do not understand why the configurable has a stock configuration at all ... but it's set automatically to manage_stock = true when creating via API and we are wondering why is that - because it causes the configurables to be hidden.

[2019-05-03 14:51] engcom-backlog-nazar commented on #22617
Hi @mrtuvn ! Thank you for your report but i am not able to reproduce this issue on magento 2.3.1 . Please provide more more steps to reproduce

[2019-05-03 15:15] mrtuvn commented on #22617
@engcom-backlog-nazar i have updated info can you try to reproduce issue one again

[2019-05-03 15:17] dverkade opened #22627 "Less compilation fails when referencing an relative path"
### Preconditions
1. Magento version 2.3.x & 2.3-develop

### Steps to reproduce
1. Add a reference to a lib source file in the theme(e.g. Luma) less files, such as:
`@import "../../../../../../../lib/web/css/source/lib/_responsive.less";`
2. Try to compile the less with the following command:
` php -f bin/magento -- setup:static-content:deploy -f --jobs 1 en_US -t Magento/luma`

### Expected resu

[2019-05-03 15:18] dverkade commented on #20815
Hi,

Please have a look at magento/magento2#22627. I was able to reproduce this issue and fix it by changing the import file in the less.file.

[2019-05-03 15:18] dverkade commented on #22627
As a workaround I have changed this:
`@import "../../../../../../../lib/web/css/source/lib/_responsive.less";`
Into this:
`@import "source/lib/_responsive.less";`
To make it work again.

[2019-05-03 15:48] mrtuvn commented on #22617
is valid if we have less empty in theme (for init first - update content later) ?

[2019-05-03 15:50] ncompass commented on #19710
Thought I'd add to this.

I'm using Porto Theme (declares 0 for product_image_white_borders).

I tried the fix offered by @rdeelstra

But I was still having issues with some images, especially not on the main store view and big product images. It was very patchy.

Obviously a few of the product image types have to be commented out in @rdeelstra fix as they caused errors on getRatio().

I even adde

[2019-05-03 15:52] LTroya commented on #19747
@mrprabhu how do you replace the core magento class to change the implementation?

[2019-05-03 15:57] gakonhd commented on #5847
did you disable it by following these steps
https://docs.magento.com/m2/2.2/ee/user_guide/system/web-setup-module-manager.html?Highlight=disable%20module ?

[2019-05-03 17:47] tsifra opened #22629 "Customer group pricing not showing in frontend (advanced pricing, tier price)"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)
1. Edit product advanced pricing. Create record Website - All websites, Customer group - Wholesale, Qty - 1, Price - Fixed, Last field - [some price less than the base]
2. Change group to wholesale for selected customer
3. Log in frontend with customer from 2 (wholesale group)
4. Go to category with product
5. Go to product page
6

[2019-05-03 17:48] tsifra commented on #22629
@magento-engcom-team give me 2.3-develop instance

[2019-05-03 17:48] magento-engcom-team commented on #22629
Hi @tsifra. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-03 17:48] magento-engcom-team commented on #22629
Hi @tsifra, here is your [Magento instance](https://i-22629-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22629-2-3-develop.instances.magento-community.engineering/admin](https://i-22629-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-03 17:55] tsifra commented on #22629
i've checked your 2.3-develop instance and can confirm this unexpected behavior

[2019-05-03 18:08] sdzhepa commented on #22562
@magento-engcom-team give me 2.3-develop instance

[2019-05-03 18:09] magento-engcom-team commented on #22562
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-03 18:09] magento-engcom-team commented on #22562
Hi @sdzhepa, here is your [Magento instance](https://i-22562-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22562-2-3-develop.instances.magento-community.engineering/admin](https://i-22562-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-03 18:45] orlangur commented on #22619
Hi @yogeshkhasturi, here is a proper guide for Magento installed from GitHub: https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/dev_options.html

[2019-05-03 18:45] #22619 closed, assigned to GovindaSharma

[2019-05-03 22:40] pkavanaghjr opened #22632 "Magento 2 checkout error: payment-information REST API being “canceled”"
### Summary (*)
Our Magento 2.2.8 store is having issues at checkout recently. We are using the Magento 2 Authorize.net extension for our payment gateway.

Our issue is when a customer checks out and we watch the network tab of the inspector, the REST API call for "payment-information" is being 'canceled.' The endpoint its trying to reach is "https://domain-name.com/rest/default/V1/carts/mine/paym

[2019-05-03 23:32] Jonathonbyrd commented on #19480
I'm on Ubuntu 18 and I'm still getting this issue. The proposed fix did not fix the problem. Telling the customer to use a different operating system is not the kind of support that Magento would allow Extension developers to get away with.

A solution that did work for me was to specify a Theme for the website. Upon installation this seems to have been lost and the db was giving a blank string fo

[2019-05-04 00:35] robyerevan opened #22633 "Vanishing SEO URLs/ URL Rewrites on mass attribute update add/remove store multi-store"
### Preconditions (*)

1. Magento 2.2.3
2. Multi-store

### Steps to reproduce (*)

1. Setup store A and store B on magento
2. Add a product to store A
3. Open product page in store front
4. Go to Admin -> Catalog -> Products
5. Check product checkbox and Select Action -> update attributes
6. Click Websites tab
7. Add product to website B (checkbox) -> Save

### Expected result (*)

1. Product add

[2019-05-04 00:36] robyerevan commented on #22633
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 00:36] magento-engcom-team commented on #22633
Hi @robyerevan. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 00:37] magento-engcom-team commented on #22633
Hi @robyerevan, here is your [Magento instance](https://i-22633-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22633-2-3-develop.instances.magento-community.engineering/admin](https://i-22633-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 01:03] robyerevan commented on #22633
Can not reproduce on 2.3-develop instance

Issue did exist in magento 2.2.3

Code that removes all SEO url's located
magento/module-catalog-url-rewrite/Observer/ProductToWebsiteChangeObserver.php :72

    public function execute(\Magento\Framework\Event\Observer $observer)
    {
        foreach ($observer->getEvent()->getProducts() as $productId) {
            $product = $this->productRepository->

[2019-05-04 01:03] #22633 closed, assigned to nobody

[2019-05-04 01:10] mikedubinsky commented on #22528
@chequille I recently posted on [stackexchange](https://magento.stackexchange.com/questions/273398/magento-2-3-1-changed-paypal-express-button) about a similar issue that we've experienced with Magento 2.3.1 changing our PayPal button. Is your button implemented in a similar way?

The Magento 2.3.1 upgrade changed our PayPal Express button which we have configured to be displayed on the Product pa

[2019-05-04 04:09] solwininfotech commented on #22251
I am working on this at #dmcdindia19

[2019-05-04 04:13] darshan-khatri-16 commented on #22629
I am working on this at #dmcdindia19

[2019-05-04 04:13] magento-engcom-team commented on #22629
@darshan-khatri-16 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 04:13] sanjay-wagento commented on #22562
I am working on this at #dmcdindia19

[2019-05-04 04:14] Surabhi-Cedcoss commented on #22087
#dmcindia1

[2019-05-04 04:14] Surabhi-Cedcoss commented on #22583
#dmcindia1

[2019-05-04 04:14] GovindaSharma commented on #22379
#dmcdindia1

[2019-05-04 04:15] mallikaverma commented on #22409
I am working on this at #dmcdindia1

[2019-05-04 04:15] mallikaverma commented on #7537
I am working on this at #dmcdindia1

[2019-05-04 04:15] mallikaverma commented on #22121
I am working on this at #dmcdindia1

[2019-05-04 04:15] mallikaverma commented on #22556
I am working on this at #dmcdindia1

[2019-05-04 04:15] irshadcedcoss commented on #20788
#dmcdindia1

[2019-05-04 04:15] mallikaverma commented on #21735
I am working on this at #dmcdindia1

[2019-05-04 04:15] mallikaverma commented on #22443
I am working on this at #dmcdindia1

[2019-05-04 04:15] mallikaverma commented on #22408
I am working on this at #dmcdindia1

[2019-05-04 04:16] GovindaSharma commented on #22388
#dmcdindia1

[2019-05-04 04:16] shikhamis11 commented on #22545
I am working on this at #dmcdindia1

[2019-05-04 04:16] vikalps4 commented on #19429
I am working on this issue at #dmdcindia1

[2019-05-04 04:16] gauravagarwal1001 commented on #22407
I am working on this #dmcdindia1

[2019-05-04 04:16] LuciferStrome commented on #4641
#dmcindia1

[2019-05-04 04:16] jitendra-cedcoss commented on #22313
I am working on this at #dmcdindia1

[2019-05-04 04:16] gauravagarwal1001 commented on #22024
I am working on this #dmcdindia1

[2019-05-04 04:16] shikhamis11 commented on #22484
I am working on this at #dmcdindia1

[2019-05-04 04:16] shubhamkhandelwalrtpl commented on #16531
I am working on this issue.

[2019-05-04 04:16] vikalps4 commented on #22600
I am working on this issue at #dmdcindia1

[2019-05-04 04:16] shikhamis11 commented on #22004
I am working on this at #dmcdindia1

[2019-05-04 04:16] gulshanchitransh commented on #22095
I am working on this at #dmcdindia1

[2019-05-04 04:17] GovindaSharma commented on #22479
#dmcdindia1

[2019-05-04 04:17] LuciferStrome commented on #4641
#dmcdindia1

[2019-05-04 04:17] AfreenScarlet commented on #16536
#dmcdindia1

[2019-05-04 04:17] verma-ankur commented on #22459
I am working on this at #dmcdindia1

[2019-05-04 04:17] AfreenScarlet commented on #16425
#dmcdindia1

[2019-05-04 04:17] abhinay111222 commented on #21952
I am working on this at #dmcdindia1

[2019-05-04 04:18] AfreenScarlet commented on #16541
#dmcdindia1

[2019-05-04 04:18] vikalps4 commented on #22600
I am working on this at #dmcdindia1

[2019-05-04 04:18] LuciferStrome commented on #4641
i am working on it

[2019-05-04 04:18] irajneeshgupta commented on #22591
dmcindia1

[2019-05-04 04:18] gulshanchitransh commented on #21612
I am working on this at #dmcdindia1

[2019-05-04 04:19] verma-ankur commented on #22161
I am working on this at #dmcdindia1

[2019-05-04 04:19] gulshanchitransh commented on #21637
I am working on this at #dmcdindia1

[2019-05-04 04:19] mageshrdckap commented on #22224
I am working on this at #dmcdindia1

[2019-05-04 04:19] magento-engcom-team commented on #22224
@mageshrdckap thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 04:19] vishal-7037 commented on #22609
I am working on this at #dmcdindia19

[2019-05-04 04:19] shikhamis11 commented on #22395
I am working on this at #dmcdindia1

[2019-05-04 04:20] gulshanchitransh commented on #22427
I am working on this at #dmcdindia1

[2019-05-04 04:21] vikalps4 commented on #19429
I am working on this at #dmcdindia1

[2019-05-04 04:21] LuciferStrome commented on #22344
#dmcdindia1

[2019-05-04 04:21] GovindaSharma commented on #22491
#dmcdindia1

[2019-05-04 04:22] sanjay-wagento commented on #22562
@magento-engcom-team
I placed a configurable product order and fetch order details by rest API.
In Items node it shows prices for a configurable item but not for a simple item.
So this is a functionality of Magento, not a BUG.
`"items": [
                    {
                        "amount_refunded": 0,
                        "base_amount_refunded": 0,
                        "base_discount_amo

[2019-05-04 04:26] LuciferStrome commented on #22503
#dmcdindia1

[2019-05-04 04:27] sanjayjethva commented on #13537
I am working on this at #dmcdindia19

[2019-05-04 04:27] magento-engcom-team commented on #13537
@sanjayjethva thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 04:33] sanjay-wagento commented on #21811
I am working on this at #dmcdindia19

[2019-05-04 04:35] Madhumalak commented on #22173
I am working on this at #dmcdindia19”

[2019-05-04 04:40] darshan-khatri-16 commented on #22629
The issue is not reproducible.

[2019-05-04 04:40] #22629 closed, assigned to darshan-khatri-16, krishprakash

[2019-05-04 04:42] cedarvinda opened #22636 "arrow toggle not changing only showing to down It should be toggle as every where is working"
Toggle arrow not changing, It only showing to down  but It should be toggle as every where is working

### Preconditions (*)
1. php 7.2
2. Magento 2.3

### Steps to reproduce (*)
1. Login to admin panel
2. Go to **store** link and click on **Tax Rules** Available on sub menu
3. Click on **add new tax rule**  and see **Additional Settings** tab and click on same

### Expected result (*)
Toggle arro

[2019-05-04 04:42] shikhamis11 commented on #22636
#dmcdindia1

[2019-05-04 04:43] shikhamis11 commented on #22636
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 04:43] magento-engcom-team commented on #22636
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 04:44] soundararajanm1990 commented on #21885
I am working on this at #dmcdindia1

[2019-05-04 04:44] magento-engcom-team commented on #21885
@soundararajanm1990 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 04:44] magento-engcom-team commented on #22636
Hi @shikhamis11, here is your [Magento instance](https://i-22636-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22636-2-3-develop.instances.magento-community.engineering/admin](https://i-22636-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 04:44] Krishnan369 commented on #22274
"I am working on this at #dmcdindia19”

[2019-05-04 04:44] magento-engcom-team commented on #22274
@Krishnan369 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 04:47] shikhamis11 commented on #22636
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 04:47] magento-engcom-team commented on #22636
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 04:48] magento-engcom-team commented on #22636
Hi @shikhamis11, here is your [Magento instance](https://i-22636-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22636-2-2-develop.instances.magento-community.engineering/admin](https://i-22636-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 04:50] rohitkundale commented on #19267
I am working on this at #dmcdindia19

[2019-05-04 04:50] magento-engcom-team commented on #19267
@rohitkundale thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 04:50] magento-engcom-team commented on #22636
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99544`, `MAGETWO-99545` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-04 04:51] cedarvinda commented on #22636
I am working in this #dmcdindia1

[2019-05-04 04:51] darshan-khatri-16 commented on #8095
I am working on this at #dmcdindia1

[2019-05-04 04:51] mitalikundale commented on #11187
I am working on this at #dmcdindia19

[2019-05-04 04:51] magento-engcom-team commented on #11187
@mitalikundale thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 04:51] viladimir commented on #13639
I am working on this at #dmcdindia19

[2019-05-04 04:52] magento-engcom-team commented on #13639
@viladimir thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 04:54] sureshsdckap commented on #22169
I am working on this #dmdcindia1

[2019-05-04 04:54] ElangoLS commented on #21504
I am working on this at #dmcdindia1

[2019-05-04 04:54] magento-engcom-team commented on #21504
@ElangoLS thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 04:54] tsifra commented on #22629
darshan-khatri-16 which step is not reproducible? I've do this on my environment and reproduced situation on instance offered by magento team. Do you need more steps to reproduce on clean instance?

.. Create new category
.. Create nre product
.. Register new customer

It's very important you set product price for qty = 1 for all customer groups and mage working exactly as expected. But if product

[2019-05-04 04:56] satyaprakashpatel commented on #18263
I am working on this at #dmcdindia1

[2019-05-04 04:56] irajneeshgupta commented on #21179
I am working on this at #dmcdindia1

[2019-05-04 04:56] venkateshwaranpdckap commented on #17764
I am working on this at #dmcdindia19

[2019-05-04 04:57] magento-engcom-team commented on #17764
@venkateshwaranpdckap thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 04:57] krishprakash commented on #22629
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 04:57] hiren-aimsinfosoft commented on #22603
I am working on this at #dmcdindia19.

[2019-05-04 04:57] magento-engcom-team commented on #22629
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 04:57] magento-engcom-team commented on #22603
@hiren-aimsinfosoft thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 04:58] magento-engcom-team commented on #22629
Hi @krishprakash, here is your [Magento instance](https://i-22629-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22629-2-3-develop.instances.magento-community.engineering/admin](https://i-22629-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 05:00] NithyaBabuKesavan commented on #20364
I am working on this at #dmcdindia19

[2019-05-04 05:01] magento-engcom-team commented on #20364
@NithyaBabuKesavan thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:02] sunnykhatri commented on #14134
I am working on this at #dmcdindia19

[2019-05-04 05:02] magento-engcom-team commented on #14134
@sunnykhatri thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:05] ElangoLS commented on #18651
I am working on this at #dmcdindia1

[2019-05-04 05:09] vivekkumarcedcoss commented on #15568
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 05:09] magento-engcom-team commented on #15568
Hi @vivekkumarcedcoss. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 05:10] magento-engcom-team commented on #15568
Hi @vivekkumarcedcoss, here is your [Magento instance](https://i-15568-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-15568-2-2-develop.instances.magento-community.engineering/admin](https://i-15568-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 05:11] irajneeshgupta commented on #21736
I am working on this at #dmcdindia1

[2019-05-04 05:11] darshan-khatri-16 commented on #22629
Hi tsifra,

I have verified in on all the pages with customer group wholsesale. Let me share screenshot with you.
![Screenshot from 2019-05-04 10-39-52](https://user-images.githubusercontent.com/39530983/57174215-141b7800-6e59-11e9-849f-04df08b099f1.png)
![Screenshot from 2019-05-04 10-41-37](https://user-images.githubusercontent.com/39530983/57174224-390feb00-6e59-11e9-9b70-2552e6004dca.png)

[2019-05-04 05:12] milindsingh commented on #20440
#dmcdindia1

[2019-05-04 05:13] solwininfotech commented on #22506
I am working on this at #dmcdindia19

[2019-05-04 05:13] irajneeshgupta commented on #22591
I am working on this at #dmcdindia1

[2019-05-04 05:15] rohitkundale commented on #19267
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 05:15] abbasalis commented on #22196
@magento-engcom-team, I am working on this issue #dmdcindia1

[2019-05-04 05:15] magento-engcom-team commented on #19267
Hi @rohitkundale. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 05:16] magento-engcom-team commented on #19267
Hi @rohitkundale, here is your [Magento instance](https://i-19267-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19267-2-3-develop.instances.magento-community.engineering/admin](https://i-19267-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 05:17] vijaydckap commented on #21519
I am working on this at #dmcdindia1

[2019-05-04 05:18] magento-engcom-team commented on #21519
@vijaydckap thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:18] vinayshah commented on #22612
I am working on this at #dmcdindia19

[2019-05-04 05:18] magesanjay opened #22638 "Asterisk(*) sign position does not consistent in admin"
Asterisk(*) sign position does not consistent in admin

### Preconditions (*)
magento 2.2
magento 2.3

### Steps to reproduce (*)
1. Go to admin
2. Sales > Orders
3. Create new order > Create new customer
4. Review the asterisk(*) sign position

### Expected result (*)
In whole admin asterisk(*) sign postion should be right side.

### Actual result (*)
![bug_snap](https://user-images.githubusercon

[2019-05-04 05:19] krishprakash commented on #22638
I am working on this at #dmcdindia19

[2019-05-04 05:19] magento-engcom-team commented on #22638
@krishprakash thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:19] abbasalis commented on #22196
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 05:19] magento-engcom-team commented on #22196
Hi @abbasalis. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 05:19] uwon commented on #6310
I am working on this at #dmcdindia19

[2019-05-04 05:19] magento-engcom-team commented on #6310
@uwon thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:20] magento-engcom-team commented on #22196
Hi @abbasalis, here is your [Magento instance](https://i-22196-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22196-2-3-develop.instances.magento-community.engineering/admin](https://i-22196-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 05:21] rohitkundale commented on #19267
Issue is not reproducible in 2.3-develop.

[2019-05-04 05:21] #19267 closed, assigned to rohitkundale

[2019-05-04 05:21] KalimuthuLakshmanan commented on #13962
#event-dmcdindia

[2019-05-04 05:21] krishprakash commented on #22638
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 05:21] magento-engcom-team commented on #22638
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 05:22] abhi-ranosys commented on #22036
"I am working on this at #dmcdindia19”

[2019-05-04 05:22] magento-engcom-team commented on #22036
@abhi-ranosys thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:22] magento-engcom-team commented on #22638
Hi @krishprakash, here is your [Magento instance](https://i-22638-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22638-2-3-develop.instances.magento-community.engineering/admin](https://i-22638-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 05:23] geet07 commented on #21974
I am working on this at #dmcdindia19”

[2019-05-04 05:23] magento-engcom-team commented on #21974
@geet07 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:24] KalimuthuLakshmanan commented on #13962
i am working on this #dmdcindia1

[2019-05-04 05:25] krishprakash commented on #22638
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 05:25] magento-engcom-team commented on #22638
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 05:26] vidhyasaharJ commented on #22392
"I am working on this at #dmcdindia19”

[2019-05-04 05:26] magento-engcom-team commented on #22638
Hi @krishprakash, here is your [Magento instance](https://i-22638-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22638-2-2-develop.instances.magento-community.engineering/admin](https://i-22638-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 05:26] magento-engcom-team commented on #22392
@vidhyasaharJ thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:26] sanjaychouhan-webkul commented on #22597
I am working on this issue

[2019-05-04 05:26] shubhamkhandelwalrtpl commented on #16531
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 05:27] magento-engcom-team commented on #16531
Hi @shubhamkhandelwalrtpl. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 05:27] magento-engcom-team commented on #16531
Hi @shubhamkhandelwalrtpl, here is your [Magento instance](https://i-16531-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-16531-2-3-develop.instances.magento-community.engineering/admin](https://i-16531-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 05:28] NishaJangid commented on #22614
I am working on this at #dmcdindia19”

[2019-05-04 05:28] magento-engcom-team commented on #22614
@NishaJangid thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:29] magento-engcom-team commented on #22638
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99546`, `MAGETWO-99547` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-04 05:29] KalimuthuLakshmanan commented on #13962
I am working on this at #dmcdindia1

[2019-05-04 05:29] magento-engcom-team commented on #13962
@KalimuthuLakshmanan thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:30] mitalikundale commented on #11187
I cannot see the quantity filter on 2.3-develop branch.

[2019-05-04 05:30] milindsingh commented on #20440
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 05:30] magento-engcom-team commented on #20440
Hi @milindsingh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 05:31] magento-engcom-team commented on #20440
Hi @milindsingh, here is your [Magento instance](https://i-20440-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20440-2-3-develop.instances.magento-community.engineering/admin](https://i-20440-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 05:31] Ajithkumar-Dckap commented on #17072
I am working on this at #dmdcindia1

[2019-05-04 05:31] magesanjay opened #22639 "Without select attribute click on add attribute it display all selected when add attribute again."
Without select attribute click on add attribute it display all selected when add attribute again.

### Preconditions (*)
magento 2.2
magento 2.3

### Steps to reproduce (*)
1. Go to Admin
2. Catalog >> Manage Products >> Add New Product
3. Click on Add Attribute button
4. Without select any attribute click on add selected
5. It will close the popup window
6. Now click Add Attribute again
7. Review

[2019-05-04 05:32] krishprakash commented on #22639
#dmcdindia19

[2019-05-04 05:33] mageprince commented on #22639
I am working on this at #dmcdindia19

[2019-05-04 05:35] solwininfotech commented on #21610
I am working on this at #dmcdindia19

[2019-05-04 05:38] magento-engcom-team commented on #22639
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99548`, `MAGETWO-99549` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-04 05:40] surabhisrivastava09 opened #22640 "Add tax rule form checkbox design is not as per the magento admin panel checkbox design, It is showing default design"
### Preconditions (*)
1. Magento 2.3.1

### Steps to reproduce (*)
1. Go to Tax rules in Admin panel.
2. Open Add New Tax Rule Form and click Add New Tax Rate Button.

### Expected result (*)
![Screenshot_2019-05-04_11-30-16](https://user-images.githubusercontent.com/25526119/57174687-2f26c180-6e32-11e9-82b2-c2f796cc6e42.png)

### Actual result (*)
![Screenshot_2019-05-04_11-29-57](https://user-im

[2019-05-04 05:40] vishal-7037 opened #22641 "Typo Issue and Missing header title at Customer Sales order grid"
There are typo errors found on the Magento admin panel. Please review Customer Sales order grid. You will find typo error for the order column header. In the Sales invoice grid, the header title of a column is 'Order #' and here it is 'Order'. they should be the same.

### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Login to Magento admin
2. Open Customer > All Customers >

[2019-05-04 05:41] shikhamis11 commented on #22640
#dmdcindia1

[2019-05-04 05:41] vishal-7037 commented on #22641
I am working on this at #dmcdindia19

[2019-05-04 05:41] Eayshwary opened #22642 "Broken *tinymce.min.js* js on opening wysiwyg in content section"
### Preconditions (*)
Magento 2.3.1 version

### Steps to reproduce (*)
1. Go to content -> Pages
2. Then click on add new page --> Add New Page
3. Now click on Content Tab and click on show/hide editor

### Expected result (*)
Js should not break so that it can go in one flow

### Actual result (*)
js broke please refer this from instance branch
![wysiwygbug](https://user-images.githubusercontent

[2019-05-04 05:42] NishaJangid commented on #21728
I am working on this at #dmcdindia19”

[2019-05-04 05:43] tsifra commented on #22629
Could you check it on instance that was offered to me right now, while it's not cleaned?
Admin access: https://i-22629-2-3-develop.instances.magento-community.engineering/admin
Login: admin Password: 123123q
Frontend login test@test.com - Qweqweqwe123

i've followed steps described by me and can confirm, that result is still the same. Right price for current customer can be seen only in shopping c

[2019-05-04 05:44] abhi-ranosys commented on #22036
I am working on this at #dmcdindia19

[2019-05-04 05:44] Eayshwary commented on #22642
#dmcdindia1

[2019-05-04 05:46] mageshrdckap commented on #22224
This issue isn't reproducible 2.3.develop . Working Fine. Steps  Used to Check this

1. Add a New Attribute Set
2. Select The Attribute Set from the List
3. Click on Delete Button
4. Attribute has been deleted. And following message is shown "The attribute set has been removed.
"
![magento2_attribute_delete](https://user-images.githubusercontent.com/44895854/57174523-09afad00-6e5e-11e9-9572-3f77ad

[2019-05-04 05:46] #22224 closed, assigned to mahesh-rajawat, mageshrdckap

[2019-05-04 05:47] shikhamis11 commented on #22640
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 05:47] magento-engcom-team commented on #22640
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 05:48] magento-engcom-team commented on #22640
Hi @shikhamis11, here is your [Magento instance](https://i-22640-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22640-2-3-develop.instances.magento-community.engineering/admin](https://i-22640-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 05:49] darshan-khatri-16 commented on #22629
Hi tsifra,
Its working fine on this instance as well. Please find below screenshot.
![Screenshot from 2019-05-04 11-18-43](https://user-images.githubusercontent.com/39530983/57174557-6b701700-6e5e-11e9-8daf-ede66fd80f48.png)

![Screenshot from 2019-05-04 11-18-52](https://user-images.githubusercontent.com/39530983/57174562-70cd6180-6e5e-11e9-8822-599622b88611.png)

[2019-05-04 05:51] abhi-ranosys commented on #12183
I am working on this at #dmcdindia19

[2019-05-04 05:52] surbhi-ranosys commented on #20234
"I am working on this at #dmcdindia19”"

[2019-05-04 05:52] magento-engcom-team commented on #20234
@surbhi-ranosys thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:52] kunal-rtpl commented on #20038
I am working on this at #dmcdindia19”

[2019-05-04 05:52] magento-engcom-team commented on #20038
@kunal-rtpl thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:53] rohitkundale commented on #11256
I am working on this at #dmcdindia19

[2019-05-04 05:53] milindsingh commented on #17828
#dmcdindia1

[2019-05-04 05:57] shubhamkhandelwalrtpl commented on #22638
I am working on this at #dmcdindia19

[2019-05-04 05:57] magento-engcom-team commented on #22638
@shubhamkhandelwalrtpl thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:57] shikhamis11 commented on #22640
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 05:57] magento-engcom-team commented on #22640
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 05:58] irajneeshgupta commented on #21736
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 05:58] magento-engcom-team commented on #21736
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 05:58] magento-engcom-team commented on #22640
Hi @shikhamis11, here is your [Magento instance](https://i-22640-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22640-2-2-develop.instances.magento-community.engineering/admin](https://i-22640-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 05:59] darshan-khatri-16 commented on #8095
Hi,
Its working as expected but you need to pass entire date and time in `$to` like below:
`$storeId = $this->_storeManager->getStore()->getId();`
`$productCount = 5;`
`$today = time();`
`$yesterday = $today - (606024 * 1);`
`$from = date("Y-m-d", $yesterday);`
`$to = date("Y-m-d", $today) . " 23:59:59";`
`$collection = $this->_reportsCollectionFactory->create()
                ->addAttributeToSel

[2019-05-04 05:59] #8095 closed, assigned to darshan-khatri-16

[2019-05-04 05:59] atishgoswami commented on #13227
I am working on this at #dmcdindia19

[2019-05-04 05:59] magento-engcom-team commented on #13227
@atishgoswami thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 05:59] magento-engcom-team commented on #21736
Hi @irajneeshgupta, here is your [Magento instance](https://i-21736-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21736-2-3-develop.instances.magento-community.engineering/admin](https://i-21736-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:00] abhi-ranosys commented on #13689
I am working on this at #dmcdindia19

[2019-05-04 06:01] magento-engcom-team commented on #22640
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99550`, `MAGETWO-99551` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-04 06:01] this-adarsh commented on #18183
I am working on this at #dmcdindia19

[2019-05-04 06:01] magento-engcom-team commented on #18183
@this-adarsh thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 06:01] Ajithkumar-Dckap commented on #17072
I am working on this at #dmdcindia1

[2019-05-04 06:02] ManishGangola-Webkul commented on #22640
@magento-engcom-team give me 2.3-develop instance #dmcdindia1

[2019-05-04 06:02] magento-engcom-team commented on #22640
@ManishGangola-Webkul thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 06:02] magento-engcom-team commented on #22640
Hi @ManishGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 06:02] hitendra-wagento commented on #10234
I am working on this at #dmcdindia19

[2019-05-04 06:02] magento-engcom-team commented on #10234
@hitendra-wagento thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 06:02] webkul-ajaysaini commented on #21717
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 06:02] magento-engcom-team commented on #21717
Hi @webkul-ajaysaini. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 06:02] hitendra-wagento commented on #10234
@magento-engcom-team give me 2.2.3 instance

[2019-05-04 06:02] magento-engcom-team commented on #10234
Hi @hitendra-wagento. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2019-05-04 06:03] Manwanigaurav commented on #20125
I am working on this at #dmcdindia19”

[2019-05-04 06:03] magento-engcom-team commented on #22640
Hi @ManishGangola-Webkul, here is your [Magento instance](https://i-22640-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22640-2-3-develop.instances.magento-community.engineering/admin](https://i-22640-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:03] magento-engcom-team commented on #20125
@Manwanigaurav thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 06:03] Surabhi-Cedcoss commented on #22640
#dmcdindia1

[2019-05-04 06:03] maheshWebkul721 commented on #22224
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 06:03] magento-engcom-team commented on #22224
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 06:03] magento-engcom-team commented on #21717
Hi @webkul-ajaysaini, here is your [Magento instance](https://i-21717-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21717-2-3-develop.instances.magento-community.engineering/admin](https://i-21717-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:04] KalimuthuLakshmanan commented on #13962
Unable to reproduce the issue in magento 2.3

[2019-05-04 06:04] #13962 closed, assigned to nobody

[2019-05-04 06:04] Manwanigaurav commented on #16456
I am working on this at #dmcdindia19”

[2019-05-04 06:04] magento-engcom-team commented on #16456
@Manwanigaurav thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 06:04] magento-engcom-team commented on #10234
Hi @hitendra-wagento, here is your [Magento instance](https://i-10234-2-2-3.instances.magento-community.engineering).
Admin access: [https://i-10234-2-2-3.instances.magento-community.engineering/admin](https://i-10234-2-2-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:05] this-adarsh commented on #18183
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 06:05] magento-engcom-team commented on #18183
Hi @this-adarsh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 06:05] magento-engcom-team commented on #22224
Hi @maheshWebkul721, here is your [Magento instance](https://i-22224-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22224-2-3-develop.instances.magento-community.engineering/admin](https://i-22224-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:06] nitishcs6 commented on #21832
I am working on this at #dmcdindia1

[2019-05-04 06:06] magento-engcom-team commented on #21832
@nitishcs6 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 06:06] tsifra commented on #22629
Hi, darshan-khatri-16 Have no idea what's happening but price right for test product is okay. Here is screenshot that i've made right after repeating test case. I've create new product right now and price is okay again. Do you have any ideas what was it? I still have issue on my local instance running 2.3.1
![image](https://user-images.githubusercontent.com/5971188/57174716-bfbdcb80-6e4b-11e9-8df1

[2019-05-04 06:06] magento-engcom-team commented on #18183
Hi @this-adarsh, here is your [Magento instance](https://i-18183-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-18183-2-3-develop.instances.magento-community.engineering/admin](https://i-18183-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:06] abhi-ranosys commented on #13411
I am working on this at #dmcdindia19

[2019-05-04 06:07] imrandotftr commented on #20906
"I am working on this at #dmcdindia19”

[2019-05-04 06:07] magento-engcom-team commented on #20906
@imrandotftr thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 06:07] irajneeshgupta commented on #21736
This issue has already been resolved in 2.3.1

[2019-05-04 06:08] vikalps4 commented on #22600
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 06:08] magento-engcom-team commented on #22600
Hi @vikalps4. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 06:08] magento-engcom-team commented on #22600
Hi @vikalps4, here is your [Magento instance](https://i-22600-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22600-2-3-develop.instances.magento-community.engineering/admin](https://i-22600-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:10] sanvarjat commented on #13282
I am working on this at #dmcdindia19

[2019-05-04 06:10] magento-engcom-team commented on #13282
@sanvarjat thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 06:10] cedarvinda opened #22647 "In customer account create page word not readable, should use '-' after break to new line In mobile view"
In customer account create page word not readable shoul use '-' after break to new line
### Preconditions (*)

1. php 7.2
2. Magento 2.3

### Steps to reproduce (*)
1. Open customer account create page in mobile view

### Expected result (*)
![index](https://user-images.githubusercontent.com/26018716/57174736-ef2b0300-6e60-11e9-982c-b5970841f8fd.png)
**Should use **`hyphens: auto;`****

### Actual

[2019-05-04 06:11] darshan-khatri-16 commented on #22629
Hi tsifra,
Good to hear that now it's working for you. After revising product price you need to perform below steps

1. Do the Magento reindexing
2. If you already logged in then kindly please once log out and log in back again.

Let me know if you need any further help needed.

[2019-05-04 06:15] rohitkundale commented on #11256
Issue is not reproducible in 2.3-develop.

[2019-05-04 06:15] #11256 closed, assigned to rohitkundale

[2019-05-04 06:16] Govindarajsdkcap commented on #5664
I am working on this at #dmdcindia1

[2019-05-04 06:16] gauravagarwal1001 commented on #22596
I am working on this at #dmcdindia1

[2019-05-04 06:16] darshan-khatri-16 commented on #16425
I am working on this at #dmcdindia1

[2019-05-04 06:17] tsifra commented on #22629
Reindexing is disabled on the instance offered by mage team as i can see message in top of admin. Anyway thanks for assistance. Some kind of my fault. Need further investigation.

[2019-05-04 06:18] Renu05 commented on #14486
@magento-engcom-team give me 2.3-develop

[2019-05-04 06:18] shilpag25 commented on #12242
@magento-engcom-team give me 2.3-develop

[2019-05-04 06:18] darshan-khatri-16 commented on #22629
Sure.

[2019-05-04 06:20] ankursachdeva11 commented on #22562
@magento-engcom-team
I placed a configurable product order in Magento 2.2.8 and fetch order details by rest API.
Items node it shows prices for a configurable item and also showing for a simple item.
So this seems a BUG. Please check again.
"items": [
        {
            "amount_refunded": 0,
            "base_amount_refunded": 0,
            "base_discount_amount": 0,
            "base_discount

[2019-05-04 06:21] shelkeakshay96 commented on #5322
I am working on this issue at #dcmdindia19

[2019-05-04 06:22] ankursachdeva11 commented on #22562
@magento-engcom-team , Please open this issue

[2019-05-04 06:23] cedarvinda commented on #22647
I am working on this at #dmcdindia1

[2019-05-04 06:23] Govindarajsdkcap commented on #6682
I am working on this at #dmdcindia1

[2019-05-04 06:24] Anantkprajapati commented on #21766
I am working on this at #dmcdindia19

[2019-05-04 06:25] dasharath-wagento commented on #13473
I am working on this at #dmcdindia19

[2019-05-04 06:26] KalimuthuLakshmanan commented on #7121
I am working on this at #dmcdindia1

[2019-05-04 06:26] shilpag25 commented on #12242
I am working on this issue at #dmcdindia19

[2019-05-04 06:26] magento-engcom-team commented on #12242
@shilpag25 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 06:27] Renu05 commented on #14486
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 06:27] magento-engcom-team commented on #14486
Hi @Renu05. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 06:27] limajasachin commented on #1146
I am working on this at #dmcdindia19

[2019-05-04 06:27] magento-engcom-team commented on #1146
@limajasachin thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 06:27] shilpag25 commented on #12242
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 06:27] magento-engcom-team commented on #12242
Hi @shilpag25. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 06:28] magento-engcom-team commented on #14486
Hi @Renu05, here is your [Magento instance](https://i-14486-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-14486-2-3-develop.instances.magento-community.engineering/admin](https://i-14486-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:28] shelkeakshay96 commented on #5322
I am working on this issue at #dmcdindia19

[2019-05-04 06:28] magento-engcom-team commented on #5322
@shelkeakshay96 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 06:29] magento-engcom-team commented on #12242
Hi @shilpag25, here is your [Magento instance](https://i-12242-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-12242-2-3-develop.instances.magento-community.engineering/admin](https://i-12242-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:29] pradeep-wagento commented on #13689
I am working on this at #dmcdindia19

[2019-05-04 06:29] ashishjob0424 commented on #10394
I am working on this at #dmcdindia1

[2019-05-04 06:29] magento-engcom-team commented on #10394
@ashishjob0424 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 06:30] shelkeakshay96 commented on #5322
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 06:30] magento-engcom-team commented on #5322
Hi @shelkeakshay96. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 06:32] magento-engcom-team commented on #5322
Hi @shelkeakshay96, here is your [Magento instance](https://i-5322-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-5322-2-3-develop.instances.magento-community.engineering/admin](https://i-5322-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:33] shikhamis11 commented on #22647
@cedarvinda I checked this issue is not reporoduceable at 2.2-develop instance but is reproducable at 2.3-develop instance
I think the actual result must be like this
check screenshot - 2.2-develop
![Screenshot_2019-05-04_11-59-38](https://user-images.githubusercontent.com/25526037/57175014-952c3c80-6e64-11e9-8b39-762083b37b5d.png)

2.3-develop
![Screenshot_2019-05-04_12-01-32](https://user-images

[2019-05-04 06:34] magento-engcom-team commented on #22647
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99552` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-04 06:37] atishgoswami commented on #22297
I am working on this at #dmcdindia19

[2019-05-04 06:37] atishgoswami commented on #21688
I am working on this at #dmcdindia19

[2019-05-04 06:42] irajneeshgupta commented on #21179
Server issue , allow **AllowEncodedSlashes** in apache conf.

[2019-05-04 06:42] maheshWebkul721 commented on #21914
I am working on this at #dmcdindia1

[2019-05-04 06:42] maheshWebkul721 commented on #21914
@onepack , i have followed the below steps.
Magento 2.3.1 fresh installation.

1. import customers with Customers Main file. (customers imported successfully).
2. import Customer Addresses with default billing and shipping 1 .
3. import Customers and Addresses (single file) with default billing 0 and shipping 1.

Result:
I can see that there is a new entry for address an default shipping address u

[2019-05-04 06:44] mageshrdckap commented on #22388
I am working on this at #dmcdindia1

[2019-05-04 06:44] wagento-bhavin commented on #11627
I am working on this at #dmcdindia19

[2019-05-04 06:47] limajasachin commented on #1146
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 06:47] magento-engcom-team commented on #1146
Hi @limajasachin. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 06:47] wagento-bhavin commented on #11627
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 06:47] magento-engcom-team commented on #1146
Hi @limajasachin, here is your [Magento instance](https://i-1146-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-1146-2-3-develop.instances.magento-community.engineering/admin](https://i-1146-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:47] magento-engcom-team commented on #11627
Hi @wagento-bhavin. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 06:48] magento-engcom-team commented on #11627
Hi @wagento-bhavin, here is your [Magento instance](https://i-11627-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-11627-2-3-develop.instances.magento-community.engineering/admin](https://i-11627-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:50] Nazar65 commented on #22596
@gauravagarwal1001 as you can see status of this issue WIP! I'm already working on this!

[2019-05-04 06:51] cedarvinda commented on #22647
@shikhamis11 Yes this is also a solution but if we are thinking for global solution and large length word, In this case we will get extra space at the end of line, So we should use  `hyphens: auto;`

[2019-05-04 06:52] vikalps4 commented on #22600
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 06:52] magento-engcom-team commented on #22600
Hi @vikalps4. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 06:53] magento-engcom-team commented on #22600
Hi @vikalps4, here is your [Magento instance](https://i-22600-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22600-2-2-develop.instances.magento-community.engineering/admin](https://i-22600-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 06:54] Renu05 commented on #14486
Hi @dverkade,

I have tried to reproduce the issue in the above instance [Magento instance]( https://i-14486-2-3-develop.instances.magento-community.engineering/admin) and found that this issue is not reproducible.

**I have followed the steps to reproduce the issue:**

1. Created a new category and two new products.
2. Assigned the product to the category.
3. Product 1 is added in cart. The produ

[2019-05-04 06:54] Renu05 commented on #14486
Hi @dverkade,

I have tried to reproduce the issue in the above instance [Magento instance]( https://i-14486-2-3-develop.instances.magento-community.engineering/admin) and found that this issue is not reproducible.

**I have followed the steps to reproduce the issue:**

1. Created a new category and two new products.
2. Assigned the product to the category.
3. Product 1 is added in cart. The produ

[2019-05-04 06:55] shilpag25 commented on #12242
Hello @berkanduzgun ,

I have tried to reproduce the issue on above mentioned instance( https://i-12242-2-3-develop.instances.magento-community.engineering/) and found that this issue is not reproducible.

Steps followed for reproducing an issue:
1. Followed the same category structure as mentioned above.
2. Make request with url **http://i-12242-2-3-develop.instances.magento-community.engineering

[2019-05-04 06:55] #12242 closed, assigned to shilpag25

[2019-05-04 07:02] vidhyasaharJ commented on #22392
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 07:02] magento-engcom-team commented on #22392
Hi @vidhyasaharJ. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 07:02] wittyvishwas commented on #6906
I am working on this at #dmcdindia19

[2019-05-04 07:02] magento-engcom-team commented on #6906
@wittyvishwas thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 07:02] magento-engcom-team commented on #22392
Hi @vidhyasaharJ, here is your [Magento instance](https://i-22392-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22392-2-3-develop.instances.magento-community.engineering/admin](https://i-22392-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 07:03] ManishGangola-Webkul commented on #22583
@magento-engcom-team give me 2.3-develop instance #dmcdindia1

[2019-05-04 07:03] magento-engcom-team commented on #22583
Hi @ManishGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 07:04] magento-engcom-team commented on #22583
Hi @ManishGangola-Webkul, here is your [Magento instance](https://i-22583-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22583-2-3-develop.instances.magento-community.engineering/admin](https://i-22583-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 07:10] pushpagupta-magento commented on #22085
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 07:10] magento-engcom-team commented on #22085
Hi @pushpagupta-magento. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 07:11] magento-engcom-team commented on #22085
Hi @pushpagupta-magento, here is your [Magento instance](https://i-22085-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22085-2-3-develop.instances.magento-community.engineering/admin](https://i-22085-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 07:13] wittyvishwas commented on #6906
Hello @kanduvisla
Magento is using a node structure for resources (so that you can add multiple resource)
[code]
So if you add multiple nodes to  you can have multiple node under it
[code]
So it will always append nodes .

[2019-05-04 07:13] #6906 closed, assigned to wittyvishwas

[2019-05-04 07:17] atishgoswami commented on #21688
Seems like the underscore.js library is working implementing a solution for this and have related issues opened, related to this bug.

Have to wait till they release a fix

[2019-05-04 07:18] vidhyasaharJ commented on #22392
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 07:18] magento-engcom-team commented on #22392
Hi @vidhyasaharJ. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 07:19] magento-engcom-team commented on #22392
Hi @vidhyasaharJ, here is your [Magento instance](https://i-22392-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22392-2-2-develop.instances.magento-community.engineering/admin](https://i-22392-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 07:20] tufahu commented on #22004
Ah, thank you @shikhamis11 !! I had no time for it :\

[2019-05-04 07:21] ajeetsinghcedcoss opened #22659 "500 response on customer email change on customer grid"
### Preconditions (*)

1. Magento 2.3.0
2. Mail is not setup on local host

### Steps to reproduce (*)

1. Create A customer from admin
2. Edit Customer Email from admin customer grid
3. After edit customer Email click on save button

### Expected result (*)

1. [Screenshots, logs or description]
2. Unable to send mail
3. Customer Save Successfully

### Actual result (*)

1. [Screenshots, logs or

[2019-05-04 07:22] ajeetsinghcedcoss commented on #22659
#dmcdindia1

[2019-05-04 07:22] limajasachin commented on #1146
This issue is not reproducible.

[2019-05-04 07:24] monikachintu commented on #21450
I am working on this at #dmcdindia1

[2019-05-04 07:24] chequille commented on #22528
@mikedubinsky : First of all thanks for this inut.
But it is not the same problem as i have on my system.
On my site, the paypal stuff seems to be implement now with 2.3.1 completly different as before.
I can see an iframe which is loaded and the buttons for PayPal are defined there. The mentioned template for the shortcuts are not used at all.
The component which seems to be loaded is named "zoid

[2019-05-04 07:27] chequille commented on #22528
Some additional information maybe for somebody taking care about this problem:
My shop is set to country Germany and currency isi of course EURO.
No other currencies allowed and no other countries alloewd.

[2019-05-04 07:27] KalimuthuLakshmanan commented on #7121
i have run product add script simultaneously but unable to reproduce this issue in magento 2.3

[2019-05-04 07:27] #7121 closed, assigned to nobody

[2019-05-04 07:32] anujwebkul opened #22662 "Wrong currency symbol in creditmemo_grid & sales_order_view > creditmemo grid for subtotal & Shipping and Handling fee"
**Preconditions (*)**
0. Magento CE 2.2.8

1.Magento 2.4-develop
2.Create second website with store and store view
3.Set another currency for second website(in my case its Ukrainian Hryvnia)
![image](https://user-images.githubusercontent.com/51681379/98379339-dac85780-204f-11eb-84b8-e03c897b88ec.png)
4.Go the Stores-->Currency Rates and set value for UAH = 2
![image](https://user-images.githubuser

[2019-05-04 07:32] anujwebkul commented on #22662
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 07:33] magento-engcom-team commented on #22662
Hi @anujwebkul. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 07:33] magento-engcom-team commented on #22662
Hi @anujwebkul, here is your [Magento instance](https://i-22662-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22662-2-2-develop.instances.magento-community.engineering/admin](https://i-22662-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 07:38] rohitkundale commented on #21910
I am working on this at #dmcdindia19

[2019-05-04 07:39] Krishnan369 commented on #11209
"I am working on this at #dmcdindia19”

[2019-05-04 07:42] darshan-khatri-16 commented on #7199
Its fixed in 2.3.1

[2019-05-04 07:42] #7199 closed, assigned to nobody

[2019-05-04 07:42] hitendra-wagento commented on #10234
The issue is reproduce able coming when we have multiple addresses and switch addresses on the checkout page.
Backend:-

1:-I have configured payment method for only United States Country.

Front End:-
1:-Created the New Customer and add the product in cart.
2:-I have created two address one for United State and second for India.
3:-At checkout, I switch address from default shipping address to an

[2019-05-04 07:43] patelnimesh1988 commented on #14071
I am working on this at #dmcdindia19

[2019-05-04 07:47] Eayshwary opened #22665 "Inconsistent Behaviour in Catalog Product: Set Product as New From To date"
### Preconditions (*)
Magento 2.3.1

### Steps to reproduce (*)
Add Product Or edit product page and set just 7 in To date under Set Product as New From

### Expected result (*)
It should display a message that enter full date (day and year is missing) or a valid date so that day and month can also be chosen instead of just applying 1st day of the current year with the entered month

### Actual re

[2019-05-04 07:49] geet07 commented on #21650
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 07:49] magento-engcom-team commented on #21650
Hi @geet07. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 07:49] hiren-aimsinfosoft commented on #22603
Hello @mozgbrasil ,

I can reproduce this error in My Magento 2.3-develop branch

I have added sample data in this branch and then deployed it and I can produce this error.

Screenshot of the error from my end : http://prntscr.com/nk859t

**For Solution**

1. Go to <Magento root directory> / pub / media / and then open file .htaccess [ http://prntscr.com/nk861r ] in your editor.

2. Find line with

[2019-05-04 07:50] magento-engcom-team commented on #21650
Hi @geet07, here is your [Magento instance](https://i-21650-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21650-2-3-develop.instances.magento-community.engineering/admin](https://i-21650-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 07:51] Renu05 commented on #21027
Hi @JanuszWitrykus ,

I have created a custom module to change the system.xml comment text and the text got successfully updated in
Stores > Configuration > Catalog > Catalog > Price"> Catalog Price Scope

**This has been tested in Magento 2.3.3 CE version**

1. **Create module.xml** :
`
<module name="Vendor_ModuleName">
        <sequence>
            <module name="Magento_Catalog"/>
        </seq

[2019-05-04 07:51] #21027 closed, assigned to Renu05

[2019-05-04 07:53] Manwanigaurav commented on #16456
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 07:53] magento-engcom-team commented on #16456
Hi @Manwanigaurav. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 07:53] magento-engcom-team commented on #16456
Hi @Manwanigaurav, here is your [Magento instance](https://i-16456-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-16456-2-2-develop.instances.magento-community.engineering/admin](https://i-16456-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 07:54] sanjay-wagento commented on #22562
I am working on this at #dmcdindia19

[2019-05-04 08:00] krishprakash commented on #22665
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 08:00] magento-engcom-team commented on #22665
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 08:00] pushpagupta-magento commented on #22665
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 08:01] anujwebkul commented on #22662
I am working on this.

[2019-05-04 08:01] magento-engcom-team commented on #22665
Hi @pushpagupta-magento. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 08:01] magento-engcom-team commented on #22665
Hi @krishprakash, here is your [Magento instance](https://i-22665-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22665-2-2-develop.instances.magento-community.engineering/admin](https://i-22665-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 08:01] magento-engcom-team commented on #22662
:white_check_mark: Confirmed by @anujwebkul
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-04 08:03] darshan-khatri-16 commented on #6146
i am working on it #dmcindia1

[2019-05-04 08:08] dverkade commented on #14486
This issue has been verified by Magento, so reopening this so that it can be fixed.

[2019-05-04 08:09] sagarwebkul commented on #22266
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 08:09] magento-engcom-team commented on #22266
Hi @sagarwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 08:10] magento-engcom-team commented on #14486
:white_check_mark: Confirmed by @dverkade
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-04 08:10] magento-engcom-team commented on #14486
:white_check_mark: Confirmed by @dverkade
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-05-04 08:10] magento-engcom-team commented on #22266
Hi @sagarwebkul, here is your [Magento instance](https://i-22266-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22266-2-3-develop.instances.magento-community.engineering/admin](https://i-22266-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 08:15] chequille commented on #22528
@mikedubinsky
Mike, have a look into your website. I guess you have the same problem now. There is an iframe loaded which is showing the buttons.
Regards
Jürgen

[2019-05-04 08:16] sagarwebkul commented on #22085
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 08:16] magento-engcom-team commented on #22085
Hi @sagarwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 08:17] magento-engcom-team commented on #22085
Hi @sagarwebkul, here is your [Magento instance](https://i-22085-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22085-2-3-develop.instances.magento-community.engineering/admin](https://i-22085-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 08:20] mitalikundale commented on #11187
Hello, I have check this issue. The quantity attribute is added in 'excludedAttributes' in di.xml of CatalogWidget module. If we remove it from excluded attributes then it will show in condition on catalog product list widget. But this does not displaying the product list widget frontend.

Please verify from core magento team that why this attribute is excluded from widget conditions rule.

[2019-05-04 08:34] Krishnan369 commented on #22539
"I am working on this at #dmcdindia19”

[2019-05-04 08:35] Krishnan369 commented on #22539
"I am working on this at #dmcdindia19”

[2019-05-04 08:35] webkul-ajaysaini commented on #21361
I think there should be a field in admin configuration to set the bestseller limit.

[2019-05-04 08:42] shikhamis11 commented on #22662
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 08:42] magento-engcom-team commented on #22662
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 08:43] magento-engcom-team commented on #22662
Hi @shikhamis11, here is your [Magento instance](https://i-22662-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22662-2-3-develop.instances.magento-community.engineering/admin](https://i-22662-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 08:56] magento-engcom-team commented on #22665
@krishprakash Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-05-04 08:56] magento-engcom-team commented on #22665
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99553`, `MAGETWO-99554` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-04 09:02] cedarvinda opened #22676 "Compare Products counter, and My Wish List counter vertical not aligned"
Compare Products counter, and My Wish List counter vertical not aligned

### Preconditions (*)
1. php7.2
2. Magento2.3

### Steps to reproduce (*)
1. Open frontend
2. Login as customer (From customer account login)
3. add any product in wishlist and compare any product as well
4. Now open My account page you will see issue as ref in screenshot

### Expected result (*)
![sol](https://user-images.gi

[2019-05-04 09:04] NishaJangid commented on #22641
I am working on this at #dmcdindia19”

[2019-05-04 09:05] LuciferStrome commented on #22676
#dmcdindia1

[2019-05-04 09:09] darshan-khatri-16 commented on #21573
i am working on it #dmcindia1

[2019-05-04 09:11] milindsingh commented on #17828
https://github.com/magento-engcom/msi/issues/2220

[2019-05-04 09:12] cedarvinda commented on #22676
I am working in this issue at #dmcdindia1

[2019-05-04 09:12] irajneeshgupta commented on #22007
I am working on this at #dmcdindia1

[2019-05-04 09:19] Eayshwary commented on #22665
@orlangur please state as this is a feature of datepicker in magento or we need to restrict the users entering only single digit in set product as new TO DATE and saving the product, Thanks.

[2019-05-04 09:23] NithyaBabuKesavan commented on #22119
I am working on this at #dmcdindia19

[2019-05-04 09:26] shilpag25 commented on #16420
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 09:26] magento-engcom-team commented on #16420
Hi @shilpag25. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 09:27] magento-engcom-team commented on #16420
Hi @shilpag25, here is your [Magento instance](https://i-16420-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-16420-2-3-develop.instances.magento-community.engineering/admin](https://i-16420-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 09:29] sunnykhatri commented on #15655
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 09:29] magento-engcom-team commented on #15655
Hi @sunnykhatri. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 09:30] magento-engcom-team commented on #15655
Hi @sunnykhatri, here is your [Magento instance](https://i-15655-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-15655-2-3-develop.instances.magento-community.engineering/admin](https://i-15655-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 09:44] shilpag25 commented on #16420
Hello @justinwong617 ,
I have tried to reproduce the issue but this issue is not reproducible on above instance (https://i-16420-2-3-develop.instances.magento-community.engineering). Hence closing the ticket

Please find attached screenshot for reference.
![product_description](https://user-images.githubusercontent.com/11830438/57177177-3d4eff00-6e7f-11e9-8e18-a181f29aebf0.png).

[2019-05-04 09:44] #16420 closed, assigned to shilpag25, shikhamis11

[2019-05-04 09:46] milindsingh opened #22686 "Shipment Create via API salesShipmentRepositoryV1 throw Fatal error in Admin Order -> Shipment -> View"
Shipment Create via API salesShipmentRepositoryV1 throw Fatal error in Admin Order -> Shipment -> View

### Preconditions (*)

1. Magento 2.3.1/2.3.0
2. The order created via Admin Panel

### Steps to reproduce (*)

1. Create an order created from Admin Panel
2. Create Shipment via API:

[code]
3. Goto `Admin -> Sales -> Order -> View -> Shipments -> View`

### Expected result (*)

1. Shipment Det

[2019-05-04 09:46] ashishjob0424 commented on #10394
@vishveskrish
As this was an old issue and no update on this issue from you or any other member, looks like issue is fixed now in updated release.
I tried to reproduce the issue in 2.3-develop branch but unable to reproduced.
As far as your steps is concerns.
- Magento saves address into quotes only after selecting shipping method and navigating to payment method step. So to apply cart rule based

[2019-05-04 09:46] #10394 closed, assigned to ashishjob0424

[2019-05-04 09:46] irajneeshgupta commented on #22591
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 09:46] magento-engcom-team commented on #22591
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 09:46] milindsingh commented on #22686
#dmcdindia1

[2019-05-04 09:47] magento-engcom-team commented on #22591
Hi @irajneeshgupta, here is your [Magento instance](https://i-22591-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22591-2-2-develop.instances.magento-community.engineering/admin](https://i-22591-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 09:48] sunnykhatri commented on #15655
Issue can't regenerate for version 2.3

Catalog Product List Widget with custom attribute:
![widget](https://user-images.githubusercontent.com/8664945/57177209-bea69180-6e7f-11e9-9d55-f675c612a730.png)

Widget working well on selected options
![home](https://user-images.githubusercontent.com/8664945/57177217-ce25da80-6e7f-11e9-90b3-4df5d47bca55.png)

[2019-05-04 09:48] sunnykhatri commented on #15655
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 09:48] magento-engcom-team commented on #15655
Hi @sunnykhatri. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 09:49] magento-engcom-team commented on #15655
Hi @sunnykhatri, here is your [Magento instance](https://i-15655-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-15655-2-2-develop.instances.magento-community.engineering/admin](https://i-15655-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 09:51] magento-engcom-team commented on #22676
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99555`, `MAGETWO-99556` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-04 09:51] webkul-ajaysaini commented on #21126
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 09:51] magento-engcom-team commented on #21126
Hi @webkul-ajaysaini. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 09:52] magento-engcom-team commented on #21126
Hi @webkul-ajaysaini, here is your [Magento instance](https://i-21126-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21126-2-3-develop.instances.magento-community.engineering/admin](https://i-21126-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 09:52] mikebox commented on #22468
I am working on this #dmcdindia1

[2019-05-04 09:52] magento-engcom-team commented on #22468
@mikebox thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 09:53] shelkeakshay96 commented on #5322
Try following code in admin controller:

namespace vendor_name\module_name\Controller\Adminhtml\Test;

class Index extends \Magento\Backend\App\Action {
	public function __construct(
		\Magento\Backend\App\Action\Context $context,
		 \Magento\Framework\Url $url
	) {
		parent::__construct($context);
		$this->url = $url;
	}

	public function execute() {
		$frontendUrlFromAdmin = $this->url->getUrl('

[2019-05-04 10:02] sagarwebkul commented on #21025
I am working on this at #dmcdindia1

[2019-05-04 10:02] magento-engcom-team commented on #21025
@sagarwebkul thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 10:05] ritesh-san commented on #10079
I am working on this at #dmcdindia19

[2019-05-04 10:05] magento-engcom-team commented on #10079
@ritesh-san thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 10:06] vidhyasaharJ commented on #22274
Give me 2.2.8-develop instance with sample data

[2019-05-04 10:07] vidhyasaharJ commented on #22274
Give me 2.2.8-develop instance with sample data

[2019-05-04 10:07] ritesh-san commented on #10079
I have created this PR #22689. Please check.

[2019-05-04 10:08] vidhyasaharJ commented on #22274
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 10:08] magento-engcom-team commented on #22274
Hi @vidhyasaharJ. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 10:09] magento-engcom-team commented on #22274
Hi @vidhyasaharJ, here is your [Magento instance](https://i-22274-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22274-2-3-develop.instances.magento-community.engineering/admin](https://i-22274-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 10:11] akashwebkul commented on #22665
I am working on this at #dmcdindia1

[2019-05-04 10:11] magento-engcom-team commented on #22665
@akashwebkul thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 10:12] nikunjskd20 commented on #12509
Didn't found this issue in 2.2 and 2.3 develop branch.

[2019-05-04 10:13] GovindaSharma commented on #7299
#dmcdindia1

[2019-05-04 10:13] sunnykhatri commented on #15655
Can't reproduced on 2.2 also

[2019-05-04 10:13] ritesh-san commented on #10079
@magento-engcom-team I have fixed this issue. Creating the PR #22689.

[2019-05-04 10:13] GovindaSharma commented on #7299
i am working on this

[2019-05-04 10:13] sagarwebkul commented on #20413
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 10:13] magento-engcom-team commented on #20413
Hi @sagarwebkul. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 10:14] magento-engcom-team commented on #20413
Hi @sagarwebkul, here is your [Magento instance](https://i-20413-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20413-2-2-develop.instances.magento-community.engineering/admin](https://i-20413-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 10:14] nitishcs6 commented on #21832
Hi Magento Team,
@magento-engcom-team

I think it is default behavior considering current functionality/behavior of sales rules.(inherited from M1)

Below is what happening considering mentioned scenario :

1. Customer has selected "Flat Rate" on checkout.

2. Rule present in **Conditions** inside sales rule get passed i.e. shipping method is "flatrate_flatrate"

3. Rules present in **Actions** ar

[2019-05-04 10:15] ghost opened #22692 "Add New Customer from admin panel - DOB field validation missing for future dates"
We have tried to create new customer from Magento back end and added Future date as Date of Birth  example - 09/09/2020  and we can save customer without any issue
### Preconditions (*)

1.  Magento 2.2 and above
2.

### Steps to reproduce (*)

1. Go to magento Admin panel
2. Go to Customer > All customers and Add new customer
3. Add required field values
4. Add Future date as DOB and save custome

[2019-05-04 10:19] MrGangola-Webkul commented on #22692
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 10:19] magento-engcom-team commented on #22692
Hi @MrGangola-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 10:20] magento-engcom-team commented on #22692
Hi @MrGangola-Webkul, here is your [Magento instance](https://i-22692-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22692-2-3-develop.instances.magento-community.engineering/admin](https://i-22692-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 10:21] mitalikundale commented on #16786
Please give me 2.1 and 2.2 develop instance to reproduce the issue.

[2019-05-04 10:30] vidhyasaharJ commented on #22274
give me 2.2.8-develop instance with sample data

[2019-05-04 10:30] vidhyasaharJ commented on #22274
@magento-engcom-team give me 2.2.8-develop instance with sample data

[2019-05-04 10:30] magento-engcom-team commented on #22274
Hi @vidhyasaharJ. Thank you for your request. I'm working on Magento 2.2.8-develop instance for you

[2019-05-04 10:32] KishorkumarKar commented on #14663
@magento-engcom-team I have fixed this issue. Creating the PR #22700.

[2019-05-04 10:32] abbasalis commented on #20934
@magento-engcom-team , i am working on this issue at #dmcdindia1

[2019-05-04 10:33] magento-engcom-team commented on #20934
@abbasalis thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-05-04 10:37] nehaguptacedcoss opened #22702 "Toggle icon not working in create configuration Product creation Page"
### Preconditions (*)
1. Magento2.3.1

### Steps to reproduce (*)
1.Catalog > Products > New Product (Configurable) > Click Create Configuration.
2. Select Attributes > Attribute Values > Bulk Images & Price > Summary.
3. Associated Products's Toggle not working properly

### Expected result (*)
On click tab arrow should be up and down.

### Actual result (*)
On click tab arrow is not changing.
![

[2019-05-04 10:39] abbasalis commented on #20934
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 10:39] magento-engcom-team commented on #20934
Hi @abbasalis. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 10:39] KalimuthuLakshmanan commented on #17436
![config test   Products   Inventory   Catalog   Magento Admin](https://user-images.githubusercontent.com/50257468/57177915-df261a00-6e86-11e9-9f6b-bfc182a8db6b.png)

i tried, Product saved sucessfully in magento 2.3, unable reproduce this issue in magento 2.3

[2019-05-04 10:39] #17436 closed, assigned to routbiplab

[2019-05-04 10:40] magento-engcom-team commented on #20934
Hi @abbasalis, here is your [Magento instance](https://i-20934-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20934-2-3-develop.instances.magento-community.engineering/admin](https://i-20934-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 10:45] nehaguptacedcoss commented on #22702
I am working on this issue at #dmcdindia1

[2019-05-04 10:46] sivaschenko commented on #16531
#dmcdindia

[2019-05-04 10:47] cedarvinda opened #22706 "Tooltip overlapping over the label and store label hiding in left side menu (Design issue in New Cart Price Rule)"
Tooltip overlapping over the label and store label hiding in left side menu (Design issue in New Cart Price Rule) in admin panel

### Preconditions (*)
1. php 7.2
2. Magento 2.3

### Steps to reproduce (*)
1. Login to admin panel
2. Go to marketing tab in left menu and click on Cart Price Rules under the Promotions
3. Now click in Add new rule and go to Labels  (Now you see issue ref as in screens

[2019-05-04 10:49] sivaschenko commented on #22706
#dmcdindia1

[2019-05-04 10:49] shikhamis11 commented on #22706
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 10:49] magento-engcom-team commented on #22706
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 10:50] MrGangola-Webkul commented on #22702
I'm working on it. #CDWebkul

[2019-05-04 10:50] magento-engcom-team commented on #22706
Hi @shikhamis11, here is your [Magento instance](https://i-22706-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22706-2-3-develop.instances.magento-community.engineering/admin](https://i-22706-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 10:53] limajasachin commented on #1146
I am working on this at #dmcdindia19

[2019-05-04 10:54] shikhamis11 commented on #22706
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 10:54] magento-engcom-team commented on #22706
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 10:54] cedarvinda commented on #22706
I am working in this issue at #dmcdindia1

[2019-05-04 10:54] magento-engcom-team commented on #22706
Hi @shikhamis11, here is your [Magento instance](https://i-22706-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22706-2-2-develop.instances.magento-community.engineering/admin](https://i-22706-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 11:03] magento-engcom-team commented on #22706
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99557` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-04 11:05] abbasalis commented on #20934
@magento-engcom-team I can't reproduce this issue in Magento 2.3-develop instance

[2019-05-04 11:08] vishal-7037 commented on #22692
I am working on this at #dmcdindia19

[2019-05-04 11:10] sumeetmobiwebtech commented on #20054
@Prasad2706
i am also getting same error.
did you know how can we solve this problem ?

[2019-05-04 11:18] milindsingh commented on #22686
@engcom-backlog-nazar @orlangur

Magento Admin Shipment form does not allow the shipment to be created  **without Items or Zero qty** items,
But the same can be done via API, causing an error in Admin.

Should we validate shipment create via API? (As I am already working on it, I need to know if it's done intentionally )

Thanks :)

[2019-05-04 11:23] magento-engcom-team commented on #22702
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99558`, `MAGETWO-99559` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-04 11:29] magento-engcom-team commented on #22692
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99560`, `MAGETWO-99561` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-04 11:37] Shubham-Webkul commented on #21952
@magento-engcom-team give me 2.3.1-develop instance

[2019-05-04 11:37] magento-engcom-team commented on #21952
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3.1-develop instance for you

[2019-05-04 11:44] Shubham-Webkul commented on #21684
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 11:44] magento-engcom-team commented on #21684
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 11:44] Shubham-Webkul commented on #21952
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 11:44] magento-engcom-team commented on #21684
Hi @Shubham-Webkul, here is your [Magento instance](https://i-21684-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21684-2-3-develop.instances.magento-community.engineering/admin](https://i-21684-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 11:45] magento-engcom-team commented on #21952
Hi @Shubham-Webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 11:45] magento-engcom-team commented on #21952
Hi @Shubham-Webkul, here is your [Magento instance](https://i-21952-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21952-2-3-develop.instances.magento-community.engineering/admin](https://i-21952-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 11:50] shikhamis11 commented on #10180
Hi @lemmel, Thank you for reporting this issue.
I follow the same step but not able to reproduce this issue
Can you Please confirm .. are you able to reproduce this issue on magento2.3-develop instance

[2019-05-04 12:06] singhabhinay opened #22731 "Shopping Cart Not Updated"
Product not updated on cart (in re-order section, chose action to move to shopping cart and update items and quantities)

### Preconditions (*)
1.    php 7.2
2. Magento 2.3

### Steps to reproduce (*)
1. Login To Admin Panel
2. GoTo Sales Order Grid
3. Select any order with complete order status with registe
red customer and click on re-order
4. When re-order product form is open select any produc

[2019-05-04 12:07] anujwebkul commented on #22659
@magento-engcom-team give me 2.2-develop

[2019-05-04 12:07] anujwebkul commented on #22659
@magento-engcom-team give me 2.2-develop instance

[2019-05-04 12:07] magento-engcom-team commented on #22659
Hi @anujwebkul. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-04 12:08] magento-engcom-team commented on #22659
Hi @anujwebkul, here is your [Magento instance](https://i-22659-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22659-2-2-develop.instances.magento-community.engineering/admin](https://i-22659-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 12:10] Shubham-Webkul commented on #21684
reproducible on 2.3-develop

[2019-05-04 12:12] anujwebkul commented on #22659
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 12:12] magento-engcom-team commented on #22659
Hi @anujwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 12:13] magento-engcom-team commented on #22659
Hi @anujwebkul, here is your [Magento instance](https://i-22659-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22659-2-3-develop.instances.magento-community.engineering/admin](https://i-22659-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 12:16] anujwebkul commented on #22659
Not able to reproduce on both develop instances.

[2019-05-04 12:23] chequille commented on #22525
Hi Everybody,

sorry, but this is an issue which is really bad.
It does not matter which country or currency is used in the shop.
I as the shop owner have to make the decision which Payment methods are offered in my shop.
Therefore, it cannot be, that Magento/PayPal is making this decision.
Therefore, the possibility to configure ( enable/disable) as well the "PayPal Credit" must be there independ

[2019-05-04 12:37] akashwebkul commented on #21612
@magento-engcom-team give me 2.3-develop instance

[2019-05-04 12:37] magento-engcom-team commented on #21612
Hi @akashwebkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-04 12:37] magento-engcom-team commented on #21612
Hi @akashwebkul, here is your [Magento instance](https://i-21612-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21612-2-3-develop.instances.magento-community.engineering/admin](https://i-21612-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-04 16:29] sheyan-ascentic commented on #21832
Hi @nitishcs6 So Can you give me the finalize fix where to edit that?

[2019-05-04 16:59] doeri commented on #16758
Hello everybody!

Do we have a solution for this issue?
I am encountering the same issue on Magento 2.3.1

I have created two pages with the same url and assigned different stores for each page, however it still redirects to home.

Could I have your assistance here please?

[2019-05-04 17:09] doeri opened #22732 "Language switcher redirects to home page a new created page in Magento 2.3.1"
Hello everybody!

I am encountering an issue in Magento 2.3.1
I have created two pages with the same url and assigned different stores for each page, however it still redirects to home.
The issue happens only with a new created pages.
The Home page and the Contact page as the Category pages work fine.

I have Magento 2,3,1 installed and php 7.2 version

I also see that it create a different page i

[2019-05-04 17:24] sanjaychouhan-webkul commented on #22583
Duplicate issue https://github.com/magento/magento2/issues/21768

[2019-05-04 17:24] #22583 closed, assigned to surabhisrivastava09

[2019-05-04 18:31] sanjaychouhan-webkul commented on #19647
I am working on this issue #cdwebkul

[2019-05-04 19:15] doeri commented on #22732
I do not know why this happens with the cms pages.
I found the solution creating the category pages for the 'about us' page.
I do not thing that this is a correct way to create simple pages...

Any opinion here would be appreciated.

[2019-05-04 21:25] MikeSheward commented on #12271
Can confirm that this was the issue for me to, mainly that the theme table in the database was in a state of limbo with my new theme. Had to reset it to type 0, and set the parent_id. The console error of: " ... In SourceThemeDeployCommand.php line 179" should be way more clearer!

[2019-05-05 01:52] ManishKumar1998 commented on #6248
This seems server issue maybe. I have read it somewhere that by enabling Mod_Security module in apache settings we may be able to solve this error.

[2019-05-05 04:09] bhavik43 opened #22736 "Cursor position not in right side of search keyword in search box when click on search again (Mobile issue)"
Cursor position not in right side of search keyword in search box when click on search again(Mobile issue)

### Preconditions (*)
magento 2.3

### Steps to reproduce (*)
Issue in mobile screen resolution
1. front end
2. search any product
3. on search result page click on search icon again
4. review the cursor position in search box

### Expected result (*)
![search result expected result](https:/

[2019-05-05 04:12] krishprakash commented on #22736
@magento-engcom-team give me 2.3-develop instance

[2019-05-05 04:12] magento-engcom-team commented on #22736
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-05 04:13] magento-engcom-team commented on #22736
Hi @krishprakash, here is your [Magento instance](https://i-22736-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22736-2-3-develop.instances.magento-community.engineering/admin](https://i-22736-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-05 04:15] krishprakash commented on #22736
@magento-engcom-team give me 2.2-develop instance

[2019-05-05 04:15] magento-engcom-team commented on #22736
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-05 04:16] magento-engcom-team commented on #22736
Hi @krishprakash, here is your [Magento instance](https://i-22736-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22736-2-2-develop.instances.magento-community.engineering/admin](https://i-22736-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-05 04:26] magento-engcom-team commented on #22736
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99563`, `MAGETWO-99564` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-05 05:10] krishprakash commented on #22732
Hi @doeri. Thank you for your report.
The issue is duplicate to #14674

[2019-05-05 05:10] #22732 closed, assigned to nobody

[2019-05-05 09:05] sanjaychouhan-webkul commented on #19647
@magento-engcom-team give me 2.3-develop instance

[2019-05-05 09:05] magento-engcom-team commented on #19647
Hi @sanjaychouhan-webkul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-05 09:06] magento-engcom-team commented on #19647
Hi @sanjaychouhan-webkul, here is your [Magento instance](https://i-19647-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19647-2-3-develop.instances.magento-community.engineering/admin](https://i-19647-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-05 09:11] magento-engcom-team commented on #22641
:white_check_mark: Confirmed by @rogyar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99565` were created

**Issue Available**: @rogyar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-05 09:11] rogyar commented on #22641
@magento-engcom-team give me 2.2-develop instance

[2019-05-05 09:11] magento-engcom-team commented on #22641
Hi @rogyar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-05 09:12] magento-engcom-team commented on #22641
Hi @rogyar, here is your [Magento instance](https://i-22641-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22641-2-2-develop.instances.magento-community.engineering/admin](https://i-22641-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-05 09:41] rogyar commented on #22597
I cannot reproduce this issue on 2.3-develop branch. If this issue is related to 2.3.1, it's probably fixed in 2.3-develop

[2019-05-05 10:08] sunnetmedia commented on #1716
try to downgrade PHP to recommended & compatible version.
[code]

[2019-05-05 10:27] growsera opened #22737 ""/rest/V1/products?searchCriteria" API endpoint" does not return information about stock in the "extension_attributes" section"
**Preconditions**

1. Magento 2.2.7 community Edition.
2. REST API filtering products using rest/V1/products?searchCriteria

**Steps to reproduce**
1. we have disable showing out of stock products from Magento Dashboard (Stores > Configuration > Catalog > Inventory > Display Out of stock products **No**)
2. we using this api to filtering product
`/rest/V1/products?searchCriteria[filter_groups][0][

[2019-05-05 12:29] srikanth829 commented on #22620
Thanks @krishprakash

[2019-05-05 13:28] henryktews commented on #19388
Duplicate of #6507

[2019-05-05 14:44] krishprakash commented on #22597
I'm closing this issue as it's fixed in future releases.

[2019-05-05 14:44] #22597 closed, assigned to gulshanchitransh, Shubham0492

[2019-05-05 17:34] hostep commented on #22597
Indeed, this ticket duplicates at least https://github.com/magento/magento2/issues/21499 & https://github.com/magento/magento2/issues/22137. The fix was done in https://github.com/magento/magento2/pull/21509 (for 2.3) and https://github.com/magento/magento2/pull/21512 (for 2.2) and should get rolled out in Magento 2.3.2 & 2.2.9