[2020-07-28 18:52] VladimirZaets commented on #25410
This issue is fixed in scope of https://github.com/magento/magento2/issues/13252

[2020-07-28 18:52] #25410 closed, assigned to edenduong

[2020-07-28 18:57] CNanninga commented on #29311
Turns out I _can_ reproduce this on a local vanilla instance of 2.3.4 Open Source.

[2020-07-28 19:06] chequille commented on #29060
@vasusundar
Hi, it is a shame that such easy things are not solved within 2.3.5-p2. But I tried with the script from 2.4.x and it works as well within 2.3.5-p2.
So, the solution is to use select-payment-method-mixins.js from 2.4.x and replace the file in 2.3.5-p2 (I guess as well in 2.3.5-p1). Of course the better way to override it in our theme. Path is Magento_SalesRules/web/js/action
It works o

[2020-07-28 19:29] DevBodin commented on #29279
Forgive my jumping on an "off-topic" thread, but I'd like to echo the sentiment. This feels like a step toward shoving passengers overboard.

I recently convinced a client to give Magento a try, and I've been baffled by how much it's changed, and how much denser and more abstract it's become. And in reading through documentation, releases and discussions, it certainly sounds like the landmark in t

[2020-07-28 20:35] hostep commented on #22359
This is still happening on Magento 2.4.0, even though they actually cleaned up the `.travis.yml` file which I mentioned before as well.

Who can I talk to to make this happen? Making the source code responsible for this open source would help ...

[2020-07-28 20:39] hostep commented on #27200
Closing since this was fixed in Magento 2.4.0, even though the `magento/framework-amqp` module still references the old constraints: `"php-amqplib/php-amqplib": "~2.7.0||~2.10.0"` but that doesn't really matter here.

Thanks @lenaorobei!

[2020-07-28 20:39] #27200 closed, assigned to hostep

[2020-07-28 21:08] hostep commented on #23676
The same issue can be observed on Magento 2.4.0 when you go to Stores > Configuration > Security > Security.txt (when General > Enable is set to `No`)

[2020-07-28 21:46] sdzhepa commented on #25862
Hello @PascalBrouwers

I checked the internal jira ticket and based on them this issue has been fixed by Magento team
- for 2.3.5 in  `MC-29206`
- for 2.4.0 in `MC-29426`

Also, today were release Magento versions `2.4.0` and `2.3.5p2`  so fixes should be available in both of them.

Could you please confirm that the initial issue has been fixed and we can close this public ticket?

[2020-07-28 22:31] DigitalStartupUK opened #29312 "Unable to log into Admin after clean install (without SMTP)"
### Preconditions (*)

1. Apache 2.4
2. PHP 7.4
3. MySQL 8
4. Elasticsearch 7
5. Magento 2.4.0

### Steps to reproduce (*)

1. Clean install of Magento 2.4 (via composer)
2. Creation of admin account via CLI (part of setup:install command)

### Expected result (*)

1. Logging into Magento 2.4 for the first time allows immediate Google 2FA setup

### Actual result (*)

1. Logging into Admin for the

[2020-07-28 22:35] m2-assistant[bot] opened #29313 "[Issue] Static properties serialization fix."
This issue is automatically created based on existing pull request: magento/magento2#26175: Static properties serialization fix.

---------

### Description (*)

When test cleanup is disabled, Magento\TestFramework\Workaround\Cleanup\StaticProperties is caching static variables before the integration test starts, and restoring them after the test run is finished (if some instance of \Magento\TestF

[2020-07-28 22:54] ingedicson commented on #19708
Hi

Yes, this is an issue very important.

I have:

1 WebSite
1 Store
64 Store View (for Each one City in Colombia)

In each Store View and for each product, I need different quantities and prices different.

Example:

- Store View 1
SKU: 123
Name: T-Shirt
Qty: 100
Price: 25 USD

- Store View 2
SKU: 123
Name: T-Shirt
Qty: 50
Price: 30 USD

...

- Store View N
SKU: 123
Name: T-Shirt
Qty: Variable
P

[2020-07-28 23:36] IvanChepurnyi commented on #25862
As soon as you fix this one

[2020-07-28 23:47] adarshkhatri commented on #26377
So what's the solution to this?

[2020-07-29 01:27] LiamTrioTech opened #29314 "Rest API should not allow saving the same attribute value twice in a multi select when saving a product."
Having the same value id set twice for a multi select will break the product attribute eav indexer.
It breaks the product_attribute_eav indexer.

### Preconditions (*)
Magento 2.3+

### Steps to reproduce (*)
1. Create a Multi Select product attribute with two values assigned to your default dataset that is a multi select.
2. Create or update a product with the rest api setting the attribute optio

[2020-07-29 03:10] ihor-sviziev commented on #29013
Looks like this issue was already fixed in 2.4-develop branch in https://github.com/magento/magento2/commit/e9a65b4ac6e696d33e5a3912e7925ebb02d6ead6.
@engcom-Lima could you confirm that issue isn’t reproducing anymore?

[2020-07-29 05:12] chequille commented on #29060
I am sorry, the information above is not 100% correct.
It is working if total 0, but if total is not 0 I am getting an error payment method not valid when finishing the order and it is not processed.
I am working on this, maybe I find a way.

[2020-07-29 05:34] willwright opened #29315 "\Magento\Config\Model\Config\Source\Email\Template::toOptionArray throws error when setPath() is not called first"
### Preconditions (*)

1. dev-2.4-develop

### Steps to reproduce (*)

1. Create a custom module, plugin, or Observer
2. Inject a concrete instance of \Magento\Framework\ObjectManagerInterface ($this->_objectManager) through the constructor
3. Execute the following:
[code]
4. Notice unhandled exception is written to the screen

### Expected result (*)

1. **Should not** throw an error
2. **Should*

[2020-07-29 05:56] LiamKarlMitchell commented on #26053
Related files.
[code]

Change to include exception as 2nd argument to new StateException so that it is actually helpful.
[code]

Also can throw for other reasons such as "The image MIME type is not valid or not supported." (Corrupted image or wrong extension/mimetype?)

[2020-07-29 05:57] slavvka commented on #1391
Hi @vpietri. Thank you for your report.
The issue has been fixed in magento/magento2#29207 by @jmonteros422 in 2.4-develop branch
Related commit(s):
 - [a3e9fea451c76359a10bf84df95f506f3e1fded3](https://github.com/magento/magento2/commit/a3e9fea451c76359a10bf84df95f506f3e1fded3)
 - [7c2511aa47b5addaa49a335c8c93ee61f572ab88](https://github.com/magento/magento2/commit/7c2511aa47b5addaa49a335c8c93ee6

[2020-07-29 05:57] slavvka commented on #28270
Hi @pixiemediaweb. Thank you for your report.
The issue has been fixed in magento/magento2#29137 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [2765164f13afc40279a474a2f255a84ae3d2bf47](https://github.com/magento/magento2/commit/2765164f13afc40279a474a2f255a84ae3d2bf47)
 - [d516e27b844e41066dcb1afdcf26eaa3595fad1d](https://github.com/magento/magento2/commit/d516e27b844e41066dcb1afdcf

[2020-07-29 05:57] #28270 closed, assigned to srsathish92, engcom-Kilo

[2020-07-29 05:57] slavvka commented on #29281
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29007 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [881b75c20f7ada58682a3917c55ed71eae8e6804](https://github.com/magento/magento2/commit/881b75c20f7ada58682a3917c55ed71eae8e6804)
 - [4643bfe07f88fdd08aa9164187384294f008ed8b](https://github.com/magento/magento2/commit/4643bfe07f88fdd08aa916418

[2020-07-29 05:57] #29281 closed, assigned to Usik2203

[2020-07-29 05:57] slavvka commented on #29287
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29134 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [dc04ef27aca8231db71c0e6cc72ee928be37221e](https://github.com/magento/magento2/commit/dc04ef27aca8231db71c0e6cc72ee928be37221e)
 - [07003f70b2962932a1b4e5ee26eb894b1e2c793a](https://github.com/magento/magento2/commit/07003f70b2962932a1b4e5ee2

[2020-07-29 05:57] #29287 closed, assigned to Usik2203

[2020-07-29 05:57] slavvka commented on #29289
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29133 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [832360991aff67b94a0cdb5f80823f823210bbe2](https://github.com/magento/magento2/commit/832360991aff67b94a0cdb5f80823f823210bbe2)
 - [b898f66d11977128d4fc7331723e6e1613e76422](https://github.com/magento/magento2/commit/b898f66d11977128d4fc73317

[2020-07-29 05:57] #29289 closed, assigned to Usik2203

[2020-07-29 05:57] slavvka commented on #28345
Hi @yavuz. Thank you for your report.
The issue has been fixed in magento/magento2#28639 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [f35fb2bbc50e7acb0a88706ccc5ea1cf2ddbdcae](https://github.com/magento/magento2/commit/f35fb2bbc50e7acb0a88706ccc5ea1cf2ddbdcae)
 - [add79e6c1ee00c29a45211f018a35161f4f6cf1d](https://github.com/magento/magento2/commit/add79e6c1ee00c29a45211f018a35161f4f6cf1

[2020-07-29 05:57] #28345 closed, assigned to mrtuvn

[2020-07-29 05:57] slavvka commented on #29261
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28639 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [f35fb2bbc50e7acb0a88706ccc5ea1cf2ddbdcae](https://github.com/magento/magento2/commit/f35fb2bbc50e7acb0a88706ccc5ea1cf2ddbdcae)
 - [add79e6c1ee00c29a45211f018a35161f4f6cf1d](https://github.com/magento/magento2/commit/add79e6c1ee00c29a45211f018a

[2020-07-29 05:57] #29261 closed, assigned to nobody

[2020-07-29 06:40] neha023 opened #29317 "Tax Rounding Issue"
**Preconditions (*)**
1. Magento 2.3.x
2. PHP 7.1.24
3. MySql 5.6.37

**Steps to reproduce (*)**
1. Create a Tax Class for both product and Shipping (I am using Taxable Goods)
2. Create two products one of $10.00 and other of $40.00 (Assign the tax class Taxable Goods or the one that you have created)
3. Enable Flatrate, set $30.00 (shipping is also inclusive of tax having same tax class as produc

[2020-07-29 07:27] cbichis commented on #25158
With backorders set properly this is still an issue on Magento 2.3.3.

[2020-07-29 08:25] magento-engcom-team commented on #28943
Hi @pocallaghan. Thank you for your report.
The issue has been fixed in magento/magento2#29066 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [c5b320bd105e67d7ceeb86f42fdb1b08367e9a2f](https://github.com/magento/magento2/commit/c5b320bd105e67d7ceeb86f42fdb1b08367e9a2f)

The fix will be available with the upcoming 2.4.1 release.

[2020-07-29 08:25] #28943 closed, assigned to engcom-Charlie

[2020-07-29 08:25] magento-engcom-team commented on #29295
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29000 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [43837b2efb4c7bfc2d2ae8d9c43f66f7f617fa80](https://github.com/magento/magento2/commit/43837b2efb4c7bfc2d2ae8d9c43f66f7f617fa80)

The fix will be available with the upcoming 2.4.1 release.

[2020-07-29 08:25] #29295 closed, assigned to Usik2203

[2020-07-29 08:25] magento-engcom-team commented on #29160
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28963 by @lumnn in 2.4-develop branch
Related commit(s):
 - [a9c4d2ad89c5f2147017cc226da259de36e471d0](https://github.com/magento/magento2/commit/a9c4d2ad89c5f2147017cc226da259de36e471d0)
 - [78375f0d9e61476e66ff188363276271111e2e2f](https://github.com/magento/magento2/commit/78375f0d9e61476e66ff18836327

[2020-07-29 08:25] #29160 closed, assigned to nobody

[2020-07-29 08:25] magento-engcom-team commented on #24004
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#28895 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [e715fdcea41e821441ff17ee360b352f91f3248a](https://github.com/magento/magento2/commit/e715fdcea41e821441ff17ee360b352f91f3248a)

The fix will be available with the upcoming 2.4.1 release.

[2020-07-29 08:25] #24004 closed, assigned to nobody

[2020-07-29 08:25] magento-engcom-team commented on #29161
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28906 by @lumnn in 2.4-develop branch
Related commit(s):
 - [1cb568519160395224a77930f14f24d0114a3879](https://github.com/magento/magento2/commit/1cb568519160395224a77930f14f24d0114a3879)

The fix will be available with the upcoming 2.4.1 release.

[2020-07-29 08:25] #29161 closed, assigned to nobody

[2020-07-29 09:19] magento-engcom-team commented on #29033
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36261` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-29 09:28] magento-engcom-team commented on #29263
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36262` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-29 09:36] m2-assistant[bot] opened #29318 "[Issue] Incorrect redirect navigate on the review edit page"
This issue is automatically created based on existing pull request: magento/magento2#27983: Fixed customer back redirect navigate from edit product review

---------

### Preconditions: (*)

1. Have at least 1 product;
2. Create a new customer;

Fixed customer back redirect navigate from edit product review
### Related Pull Requests

### Fixed Issues (if relevant)

1. magento/magento2#<issue_numbe

[2020-07-29 09:52] magento-engcom-team commented on #29267
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36266` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-29 10:24] lbajsarowicz opened #29319 "Unable to remove all Tier Prices for Product using APIs"
### Preconditions (*)
1. Recommended way of interacting with Magento is through the `@api` Interfaces (eg. `ProductRepositoryInterface`, `ScopedProductTierPriceManagementInterface`.

### Steps to reproduce (*)
1. Install Magento Sample Data
2. Add different (from 1 to 5 per product) Tier Prices
3. Run code provided below

[code]

### Expected result (*)

1. All the Tier Price entries should be rem

[2020-07-29 10:25] magento-engcom-team commented on #29209
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36269` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-29 10:25] salman231 opened #29320 "CMS blocks and pages content edited with Page Builder adding extra html DIVS causing style issues"
### Preconditions (*)

1. Magento 2 EE 2.3.4

### Steps to reproduce (*)

1. Edit CMS block or page with Page Builder
2. Save CMS block or page.

### Expected result (*)

1. Content should be saved without extra divs around CMS content

### Actual result (*)

1. Content is saving successfully but some extra divs are automatically adding around content as you are seeing below.
2. `<div data-content

[2020-07-29 10:31] lbajsarowicz commented on #29319
What actually works, but is a crap:
[code]

[2020-07-29 10:46] webmaiatec opened #29321 "Tier Prices do not show up for child products with same price as configurable product."
### Preconditions (*)

1. Magento version 2.3.5-p1

### Steps to reproduce (*)

1. Create a configurable product with swatch attributes.
2. While creating child products, keep prices same as parent product & save.
3. Edit any one child product & add tier prices.
4. Go to product page on frontend.
5. Select swatch options which has tier prices.

### Expected result (*)

1. Tier prices should show

[2020-07-29 11:13] DmitriyArbuzov opened #29322 "Base Url Pattern `https://www.yourdomain.com/magento/` is not working"
### Preconditions (*)

1. Magento 2.3.5-p1 without sample data is installed.
2. CLI command `bin/magento setup:install --db-host test_db --db-name test_db --db-user test_db --db-password test_db --magento-init-params="MAGE_MODE=developer" --base-url=http://test.web/magento/ --base-url-secure=https://test.web/magento/`
3. Magento Base Url is set to `http://test.web/magento/`(according to the patter

[2020-07-29 11:25] bnymn commented on #27864
Does @magento-team know that integration tests are failing even with fresh installation? This is not really developer friendly...

[2020-07-29 11:34] ProkopovVitaliy commented on #29208
@magento I am working on this

[2020-07-29 12:12] speedupmate commented on #29312
It's not directly related as this issue talks that smtp should be a documented requirement but current workaround for dev environments (that don't need to have smtp set up) is simply to disable 2fa

`bin/magento mo:di Magento_TwoFactorAuth `

[2020-07-29 12:17] theozzz commented on #9542
Hi,

 Better use static-content generator with --content-version param in order to have the same deployed_version + same md5 hash on merged files on all your servers.

[2020-07-29 12:24] DigitalStartupUK commented on #29312
But at some point, 2FA needs to be enabled during Development/Production. And there is probably an argument that states "well, surely in a Development/Production environment you would have an SMTP enabled server." But speaking from experience, myself and many others use 3rd party SMTP providers - Which are normally configured in the Admin Backend. It just seems like a really overlooked part of the

[2020-07-29 12:24] magento-engcom-team commented on #29318
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36271` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-29 12:39] davidandersson1 commented on #29070
Hi @matthew99 I have same issue with magento version 2.3.5 with around 400k products and daily night when cron "catalogrule_apply_all" run then after "catalogrule_rule" will take around 7 hours.

Recently I assigned all products to another website, after this issue started, with main website, catalog rule index  taken only 6-7 minutes. but somehow after assigned products to another website, index

[2020-07-29 12:43] magento-engcom-team commented on #29217
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36272` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-29 13:04] bnymn commented on #27864
Hi @tudalrik-ls ,

I have found this part. I don't know if it will help.

https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html

[2020-07-29 13:26] DanielIconate opened #29323 "Invoice Tab is not Showing in Admin > Sales > Orders > view"
### Preconditions (*)

1. 2.3.4
2. Unix Apache Sever

### Steps to reproduce (*)

1. Order a Product and go to Admin > Sales > Orders > view
2. Pay the order in Sandbox mode

### Expected result (*)

1. the Invoice tab to be shown
2. like in the documentation https://docs.magento.com/user-guide/sales/invoice-create.html?itm_source=devdocs&itm_medium=quick_search&itm_campaign=federated_search&itm_t

[2020-07-29 13:36] engcom-Delta commented on #28908
Hi @Acmeel thank you for your report. I'm not able to reproduce issue from your description on 2.4-develop
**Steps to reproduce:**
**Case 1:**
- Create Cart Price Rule with specific coupon applied to shipping amount and Discount Amount=100%
![image](https://user-images.githubusercontent.com/51681379/88806001-87c14780-d1b8-11ea-870f-3c1ab30870e7.png)
![image](https://user-images.githubusercontent.c

[2020-07-29 13:50] sdzhepa commented on #28634
@magento give me 2.4-develop instance

[2020-07-29 13:50] magento-engcom-team commented on #28634
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-29 13:51] magento-engcom-team commented on #28634
Hi @sdzhepa, here is your [Magento instance](https://i-28634-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28634-2-4-develop.instances.magento-community.engineering/admin_3d7d](https://i-28634-2-4-develop.instances.magento-community.engineering/admin_3d7d)
Login: `96540529` Password: `b117d394aa9a`
Instance will be terminated in up to 3 hours.

[2020-07-29 13:56] sdzhepa commented on #28634
Hello @mrtuvn
cc: @ajijshekh123

The branches have been synced. And this fix for the issue is available now
Issue can be closed.

![2020-07-29_8-55-22](https://user-images.githubusercontent.com/3409584/88809165-68ef9080-d179-11ea-95d3-ad43ab4683f5.jpg)

[2020-07-29 13:56] #28634 closed, assigned to mrtuvn, sdzhepa

[2020-07-29 14:07] sdzhepa commented on #29028
Hello @alexgao-tinyme

Thank you for your contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aim

[2020-07-29 14:15] eastern-raviraj commented on #28175
Is it still exist in ersion 2.3.5 ?

I am still facing this issue

[2020-07-29 14:48] lbajsarowicz commented on #29319
After 8,5 hours of execution for ↑ command, from 30.000 of sample entries in `catalog_product_entity_tier_price`, only 20.000 were removed.

10.000 (!) is still in the database and... Magento considers these as not a Tier Prices.

[2020-07-29 15:10] bubasuma commented on #28921
@zhartaunik this issue was fixed in 71bb134ba3cd0b45da7d7e7c857ae2cdd412b05b

[2020-07-29 15:16] Hexmage commented on #28981
I don't understand how 2.4.0 could be released with this error in it which basically just crashes every frontend page.

[2020-07-29 15:32] bubasuma commented on #28921
All products
<img width="1832" alt="Screen Shot 2020-07-29 at 10 27 54 AM" src="https://user-images.githubusercontent.com/8973208/88819870-3304d900-d186-11ea-991a-a927dc3bcb53.png">

Bundle product
<img width="1836" alt="Screen Shot 2020-07-29 at 10 21 08 AM" src="https://user-images.githubusercontent.com/8973208/88819898-3bf5aa80-d186-11ea-89b8-aca51ebfd483.png">

Cart Price Rule
<img width="1814

[2020-07-29 16:28] m2-assistant[bot] opened #29324 "[Issue] improve NonComposerComponentRegistration"
This issue is automatically created based on existing pull request: magento/magento2#28975: improve NonComposerComponentRegistration

---------
### Description (*)
enable strict mode and added typeHint, this changes make execution of code more secure.
remove useless assignation `$main`.

### Related Pull Requests
none

### Fixed Issues
none

### Manual testing scenarios (*)
not necessary, if CI pa

[2020-07-29 16:42] ketby commented on #29312
Hi, i'am exactly on the same point ... same error, same step ... i will try another solution

[2020-07-29 16:43] #29324 closed, assigned to nobody

[2020-07-29 17:05] ajijshekh123 commented on #29323
@magento give me 2.4-develop instance

[2020-07-29 17:06] magento-engcom-team commented on #29323
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-29 17:07] magento-engcom-team commented on #29323
Hi @ajijshekh123, here is your [Magento instance](https://i-29323-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29323-2-4-develop.instances.magento-community.engineering/admin_aca3](https://i-29323-2-4-develop.instances.magento-community.engineering/admin_aca3)
Login: `851e9fc8` Password: `1d74e2695551`
Instance will be terminated in up to 3 hours.

[2020-07-29 17:27] PawelP1977 commented on #29312
Hi,
What is another solution?

[2020-07-29 18:03] ajijshekh123 commented on #29323
Hi @DanielIconate,
I have verified this issue as per your steps, actual result and expected result.
Place order using the PayPal payment method in Sandbox mode on the front end view.
In Admin > Sales > Orders > Order details, Invoice tab is showing.
PFA:

![Invoice](https://user-images.githubusercontent.com/24711761/88836060-c3c5ce00-d1f3-11ea-89f3-958d696edc67.png)

Please update me on proper ste

[2020-07-29 18:15] ajijshekh123 commented on #29321
Hi @webmaiatec,
Not able to reproduce your issue as per your steps, actual result and expected result in Magento 2.4 Instance.
The child product price is updated on the front end view.
**PFA:**

![1](https://user-images.githubusercontent.com/24711761/88837051-50bd5700-d1f5-11ea-9737-8f7ab082549b.png)

![2](https://user-images.githubusercontent.com/24711761/88837190-86fad680-d1f5-11ea-8be5-93e97cd5

[2020-07-29 18:15] ajijshekh123 commented on #29321
@magento give me 2.3.5-p1 instance

[2020-07-29 18:15] magento-engcom-team commented on #29321
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-29 18:17] magento-engcom-team commented on #29321
Hi @ajijshekh123, here is your [Magento instance](https://i-29321-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-29321-2-3-5-p1.instances.magento-community.engineering/admin_2451](https://i-29321-2-3-5-p1.instances.magento-community.engineering/admin_2451)
Login: `785b809b` Password: `5a157cb9fbb6`
Instance will be terminated in up to 3 hours.

[2020-07-29 18:24] webmaiatec commented on #29321
@ajijshekh123 The issue is with the product with swatch attribute & not with drop-down. Also it is about tier price block not main product price. Please see the steps to reproduce again & try.

[2020-07-29 18:45] ericmorand opened #29325 "Values assigned to a Template under the "dictionary" key are overwritten by the PHP Template Engine"
### Preconditions (*)

1. Magento 2.3.5

### Steps to reproduce (*)

1. Create a custom Block, inheriting from Magento\Framework\View\Element\Template
2. In its _toHtml() function, assign a value under the key "dictionary" (using $this->assign('dictionary', '...');
3. In its phtml template, output the value of $dictionary

### Expected result (*)
1. The output value of $dictionary is the value ass

[2020-07-29 18:47] ajijshekh123 commented on #29321
@webmaiatec - Please verify the Qty on the Tier price section. Please add Qty and Enter the price.
Tier price should be the effect by entered Qty.
PFA:
![3](https://user-images.githubusercontent.com/24711761/88840333-ed81f380-d1f9-11ea-909b-1ee762cc2c7e.png)

![4](https://user-images.githubusercontent.com/24711761/88840342-efe44d80-d1f9-11ea-9c68-4a7f9b84527f.png)

If anything steps missing from m

[2020-07-29 18:53] webmaiatec commented on #29321
@ajijshekh123 ,

It is not about tier price not being applied. It is about visibility of available tier prices on the option selection. & Please pay attention to the word "swatch" here. You are checking wrong product with wrong settings. Again, please read the steps.

[2020-07-29 19:01] xmav commented on #22359
@hostep We have internal ticket to fix that.

[2020-07-29 20:01] chequille commented on #29060
@vasusundar
Hi, sorry for the confusion. The select-payment-method-mixin.js from 2.4.x is working as well with 2.3.5-p2.
I had a problem in my own Discount class.
So give it a try as I described to solve your problem.
Regards
Chequille

[2020-07-29 21:30] #28705 closed, assigned to Neos2007

[2020-07-29 21:31] rhoerr commented on #28161
Affirming @girishanand 's note -- I do not believe https://github.com/magento/magento2/commit/e5cd82d87c7254503b4c9b6a7ff17017413dd016 fully resolves this issue. It prevents the 'undefined method' JS error but does not prevent payment validation errors from displaying over the coupon form. This is easily reproduced:
- Enable the Purchase Order payment method
- Go to checkout and open the discount

[2020-07-29 21:43] zhartaunik commented on #29013
@magento give me 2.4-develop instance

[2020-07-29 21:43] magento-engcom-team commented on #29013
Hi @zhartaunik. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-29 21:45] magento-engcom-team commented on #29013
Hi @zhartaunik, here is your [Magento instance](https://i-29013-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29013-2-4-develop.instances.magento-community.engineering/admin_6cea](https://i-29013-2-4-develop.instances.magento-community.engineering/admin_6cea)
Login: `92672880` Password: `4811ec2ac475`
Instance will be terminated in up to 3 hours.

[2020-07-29 21:50] zhartaunik commented on #29013
@ihor-sviziev
I can confirm that issue does not reproduce anymore. Checked on clean Magento.

[2020-07-30 03:04] Genaker commented on #29279
Guys, Magento Solution/Sales engineers wrote me in the comment to this issue repost on LinkedIn:

It is what Magento thinking about your business. If merchants can't afford buggy half baked Magento solution they are losers or "small group of disgruntled developers."... Interesting thought.

[2020-07-30 04:55] ihor-sviziev commented on #29013
@zhartaunik Thank you for confirmation! I'm closing this issue.

[2020-07-30 04:55] #29013 closed, assigned to nobody

[2020-07-30 05:03] LiamKarlMitchell commented on #22344
Still a problem has been for 6 years? Even in Magento 1 it was an issue...
How can we fix it and keep only with store id 0 for both front end and back end?

[2020-07-30 05:13] chequille commented on #29279
Fine, so I am thinking of whether I am a looser or a disgruntled developer !?!?!?!?!?
Will see what I decide for!

[2020-07-30 05:40] Ctucker9233 commented on #29279
@devchris79 I'm in the same boat here. Do you know of any hosting services that are affordable and have the full stack of requirements that 2.4 has?

[2020-07-30 05:54] Genaker commented on #29279
I think the best hosting is AWS I can help you setup environment for free.
T3.small instance 2 vCPUs and 2GB of RAM - 15$ months with performance
better than Magento Cloud. The next solution is MageMojo they have
Kubernetes with a lot of services including ElasticSearch. Or you can
simply install Amasty or any extension which removes ElasticSearch
Requirements from the magento.

On Wed, Jul 29, 20

[2020-07-30 07:00] KowsiganAtsayam commented on #8614
It is still not working. Can anybody tell what is the solution?

[2020-07-30 07:00] KowsiganAtsayam commented on #8614
Is it working for you? I replaced that code in the vendor files but not working.

[2020-07-30 07:20] KowsiganAtsayam commented on #8614
Kindly reopen this issue.

[2020-07-30 07:26] VZeroCool commented on #29323
@magento give me 2.4-develop instance

[2020-07-30 07:26] magento-engcom-team commented on #29323
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-30 07:28] magento-engcom-team commented on #29323
Hi @VZeroCool, here is your [Magento instance](https://i-29323-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29323-2-4-develop.instances.magento-community.engineering/admin_9bbc](https://i-29323-2-4-develop.instances.magento-community.engineering/admin_9bbc)
Login: `598f6d93` Password: `ab7e4434ec98`
Instance will be terminated in up to 3 hours.

[2020-07-30 08:06] joinso commented on #29294
Hi!
We found the error in our side: we are still using some "old" Magento classes...

[2020-07-30 08:06] #29294 closed, assigned to nobody

[2020-07-30 08:24] VZeroCool opened #29326 "Billing and shipping same not working while checkout"
### Preconditions (*)

1. Magento 2.3.3 CE
2. Mysql Apache2

### Steps to reproduce (*)

1. Add new address to account as default for billing and shipping address
2. Add product to cart and go to checkout
3. Add shipping step add new address and choose to ship there
4. Payments and review step choose COD and check checkbox to add my billing and shipping address as same
5. Place order

![shippingAn

[2020-07-30 08:31] andy17612 commented on #24696
@magento-engcom-team This problem is solved on 2.4 ??

[2020-07-30 08:40] devchris79 commented on #29279
@Ctucker9233 Its something I am yet to look into, although I know there is a myriad of different providers out there that should be able to do the job.

I would also check what the support is like, that's the reason I chose Siteground when we started is they are so fast at responding to issues. Its really annoying that they don't support Elasticsearch as its built on Java.

[2020-07-30 09:01] m2-assistant[bot] opened #29327 "[Issue] Fixing bug with non-existent customer group breaking quote"
This issue is automatically created based on existing pull request: magento/magento2#28902: Fixing bug with non-existent customer group breaking quote

---------
### Preconditions (*)

There's a bug when a customer group deleted, it's still referenced in active quotes which causes an error on the checkout page.
Such a quote becomes broken and the customer is not able to place an order. This pull r

[2020-07-30 09:22] tudalrik-ls commented on #27864
Hi @bnymn

do you see any context to ?

@jissereitsma postet this: https://twitter.com/jissereitsma/status/1288177211934150656?s=12

[2020-07-30 09:32] vasusundar commented on #29060
Thanks, It worked by copying that js from Magento 2.4 version.

[2020-07-30 09:37] bnymn commented on #27864
Hi @tudalrik-ls ,

When I run the integration tests, the dependency manager resolves and initializes all console commands. If any of them depends on the Store class, then you will get that error.

I did not have any external package in my project. However, I had my custom module with a console command. So, I have replaced it with a **Proxy** in **di.xml**. Problem solved.

You can put a break poin

[2020-07-30 10:20] thompalstra opened #29328 "Magento 2.3.2. hits memory/time limit when generating PDF for order containing large bundle product"
### Preconditions (*)

1. Magento 2.3.2.

### Steps to reproduce (*)

1. Create an order containing a bundle product with (at least) 148 options
2. Click "Print"
3. Wait until time or memory limit is hit

### Expected result (*)

1. The PDF gets printed

### Actual result (*)

1. PHP hits time limit (currently sets to 300) or before the time limit is reached, hits the memory limit.

---
Please pro

[2020-07-30 11:11] KowsiganAtsayam commented on #16388
Log in to Magento Admin, MARKETING > Cart Price Rules and create cart price rules.

Before that, please give some higher number for minimum order amount in configuration -> free shipping.

[![enter image description here][1]][1]

Then follow the things in the below screenshot.

[![enter image description here][2]][2]

Then it will work sure.

  [1]: https://i.stack.imgur.com/ELhlZ.jpg
  [2]: https

[2020-07-30 11:40] m2-assistant[bot] opened #29329 "[Issue] Fix unit tests with PHPUnit 9 errors"
This issue is automatically created based on existing pull request: magento/magento2#29244: Fix unit tests with PHPUnit 9 errors

---------

### Description (*)

Most of the failing tests are due to:
- Depending on setUp logic in dataProviders, while dataProvider code is called before setUp
- Trying to mock non-existing methods with createPartialMock which is prohibited in PHPUnit 9

### Related P

[2020-07-30 11:42] johnorourke commented on #27562
I had a similar issue where custom_price was being changed from quote currency to base currency.

It's likely fixed by this change released in 2.4.0: https://github.com/magento/magento2/commit/c1e9091d0e2cb6f9bafca030373bce8b023b3870

[2020-07-30 12:05] engcom-Delta commented on #29169
Hi @Eddcapone , thank you for your report. I'm not able to reproduce issue by steps you described on clean 2.4-develop.

**Manual testing scenario:**
- Create additional virtualhost for url `http://admin.magento2dev.loc`.
- Set Admin Base URL
 ![image](https://user-images.githubusercontent.com/51681379/88920082-e0561a80-d274-11ea-8f81-f42438fb539a.png)
- Save Config
- Login into Admin Panel

**Res

[2020-07-30 12:05] #29169 closed, assigned to engcom-Delta

[2020-07-30 12:14] ihor-sviziev opened #29330 "Test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-07-30 12:14] ihor-sviziev commented on #29330
@magento give me 2.4-develop instance

[2020-07-30 12:14] magento-engcom-team commented on #29330
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-30 12:15] magento-engcom-team commented on #29034
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36312` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-30 12:16] magento-engcom-team commented on #29330
Hi @ihor-sviziev, here is your [Magento instance](https://i-29330-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29330-2-4-develop.instances.magento-community.engineering/admin_d093](https://i-29330-2-4-develop.instances.magento-community.engineering/admin_d093)
Login: `30b5ceb9` Password: `4e4680b0af82`
Instance will be terminated in up to 3 hours.

[2020-07-30 12:20] engcom-Delta commented on #28804
Hi @lbajsarowicz thank you for your report, I'm not able to reproduce issue by general steps you described on clean 2.4-develop
**Manual testing scenario:**
- Create additional virtualhost for url `http://admin.magento2dev.loc`.
- Set Admin Base URL
 ![image](https://user-images.githubusercontent.com/51681379/88920082-e0561a80-d274-11ea-8f81-f42438fb539a.png)
- Save Config

**Result:**
:heavy_chec

[2020-07-30 12:39] engcom-Delta commented on #28827
Hi @seansan thank you for your report.Currently this is expected behavior
Feel free to provide your point of view why sku duplicated as `123-2` will be better than `123-1-1`

Please created issue in [community-features](https://github.com/magento/community-features/issues) repo for further discussion
Or if you'd like to update the issue, please reopen it.

[2020-07-30 12:39] #28827 closed, assigned to engcom-Delta

[2020-07-30 12:49] #29330 closed, assigned to nobody

[2020-07-30 12:51] thompalstra commented on #29304
Are you using different or the same increment ID's for the different stores?

[2020-07-30 12:59] ajijshekh123 commented on #29326
@magento give me 2.4-develop instance

[2020-07-30 12:59] magento-engcom-team commented on #29326
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-30 13:00] magento-engcom-team commented on #29326
Hi @ajijshekh123, here is your [Magento instance](https://i-29326-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29326-2-4-develop.instances.magento-community.engineering/admin_f62e](https://i-29326-2-4-develop.instances.magento-community.engineering/admin_f62e)
Login: `0ac25ab7` Password: `eb181f703a6a`
Instance will be terminated in up to 3 hours.

[2020-07-30 13:06] ParimalSigma commented on #28337
Yes, no any update since last 2 month

[2020-07-30 13:33] francescorm commented on #29304
Yes

[2020-07-30 13:33] ajijshekh123 commented on #29326
Hi @VZeroCool,

Not able to reproduce this issue in the Latest Magento 2.4 Instance.
**PFA:**
![Order-000000002](https://user-images.githubusercontent.com/24711761/88929174-64b99500-d297-11ea-8226-1c743dd98637.png)

Thanks.

[2020-07-30 14:06] seansan commented on #28827
is it expected?

I thought -increment was described

not -1-1-1-1

On Thu, Jul 30, 2020 at 2:40 PM Vasyl Shvorak <notifications@github.com>
wrote:

[2020-07-30 14:34] KowsiganAtsayam commented on #5111
It is still an issue. Please open it.

[2020-07-30 16:09] erik4github commented on #8754
Still happening in 2.3.4.

It's basically impossible with import configurable variations AND product categories at the same time - and if it is the documentation doesn't clearly list how.

Example for a configurable product:

`config_variations` as `sku=1,color=red,size=Small|sku=2,color=blue,size=Small`

`categories` as `Default Category|Default Category/Products|Default Category/Products/Shirts|

[2020-07-30 17:04] strainer85 opened #29332 "Scheduled Import/Export Not Showing in Magento 2.3 Commerce"
### Preconditions (*)

1. Newly installed Magento Commerce version 2.3.5p-1
2. Installed through Softalicious installer app via CPanel

### Steps to reproduce (*)

1. Uninstalled and reinstalled Mageno Commerce version 2.5.5p-1 via Softalicious from CPanel
2.

### Expected result (*)

1. When going to System ->Data Transfer I expect to see Scheduled Imports/Exports per Magento's documentation(see

[2020-07-30 17:05] sdzhepa commented on #27460
@magento give me 2.4-develop instance

[2020-07-30 17:05] magento-engcom-team commented on #27460
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-30 17:07] magento-engcom-team commented on #27460
Hi @sdzhepa, here is your [Magento instance](https://i-27460-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27460-2-4-develop.instances.magento-community.engineering/admin_a0d4](https://i-27460-2-4-develop.instances.magento-community.engineering/admin_a0d4)
Login: `09421928` Password: `91be6344c988`
Instance will be terminated in up to 3 hours.

[2020-07-30 17:24] sdzhepa commented on #27460
Hello @lokeshvnaik

We have re-checked this issue on the latest `2.4-develop` code
And this issue cannot be reproduced now, seems it was already fixed in the scope of some other issue/task.
Closed

![issue_27460](https://user-images.githubusercontent.com/3409584/88954169-90208d80-d25f-11ea-82b5-24d8ad98c040.gif)

[2020-07-30 17:24] #27460 closed, assigned to roerlemans

[2020-07-30 17:27] sdzhepa commented on #25801
Closed as duplicate of https://github.com/magento/magento2/issues/24060

[2020-07-30 17:27] #25801 closed, assigned to cstergianos

[2020-07-30 17:36] dcwnaveen opened #29333 "reorder is not working with custom options date"
Please select this Use JavaScript Calendar option first.
stores -> configurations -> catalog -> catalog -> Date & Time Custom Options -> Use JavaScript Calendar -> Yes

Now create one simple product with custom option as a date. Please place the order with that product option. Now click on the reorder from my account and admin it's working fine.
Please create the invoice and shipment for that orde

[2020-07-30 17:37] dcwnaveen commented on #29333
@magento give me 2.4-develop instance

[2020-07-30 17:37] magento-engcom-team commented on #29333
Hi @dcwnaveen. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-30 17:38] magento-engcom-team commented on #29333
Hi @dcwnaveen, here is your [Magento instance](https://i-29333-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29333-2-4-develop.instances.magento-community.engineering/admin_0b67](https://i-29333-2-4-develop.instances.magento-community.engineering/admin_0b67)
Login: `f51d079c` Password: `63c817383a49`
Instance will be terminated in up to 3 hours.

[2020-07-30 17:47] dcwnaveen commented on #29333
same issue exist on magento 2.4 also

![Screenshot from 2020-07-30 23-16-13](https://user-images.githubusercontent.com/28339353/88956288-c93a1b80-d2ba-11ea-8a47-2613d2583a02.png)

[2020-07-30 17:54] maciej-orba opened #29334 "Magento 2.4.0 with Sample Data - DDL statements are not allowed in transactions"
### Preconditions (*)

1. Magento 2.4.0 Open Source
2. MySQL 8.0.21
3. PHP 7.4.8

### Steps to reproduce (*)

1. Ensure Magento is NOT installed in DB
2. Ensure sample data packages are present composer.json
[code]
3. `composer install`
4.  `bin/magento setup:install`

**note:** it works well when you deal with installed Magento and
`bin/magento sampledata:deploy`
`bin/magento setup:upgrade`
You n

[2020-07-30 18:06] mrtuvn commented on #29232
First module catalog doesn't have any file in js/compare so you remove by tag is useless. It's only work if origin js added via layout so you can remove it from custom theme or another custom module via layout

[2020-07-30 18:06] m2-assistant[bot] opened #29335 "[Issue] Adds some more colors to the output of certain setup cli commands"
This issue is automatically created based on existing pull request: magento/magento2#29298: Adds some more colors to the output of certain setup cli commands

---------
### Description (*)
While trying to figure out the sort order in which certain database migration scripts ran while executing `bin/magento setup:upgrade`, I found the output a bit hard to read.
So I've added a different color to th

[2020-07-30 18:08] m2-assistant[bot] opened #29336 "[Issue] Redirect to "Options" config path more accurate (in Currency Rate form)"
This issue is automatically created based on existing pull request: magento/magento2#29276: Redirect to "Options" config path more accurate (in Currency Rate form)

Redirect to "Currency Option Path" more accurate (Auto open the collapse)

### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)

1. Go to backend, Stores->Currency Rates
2. Click "Options"

![image](https://user-images.gith

[2020-07-30 18:15] m2-assistant[bot] opened #29337 "[Issue] Guest print order form fixes"
This issue is automatically created based on existing pull request: magento/magento2#29309: Guest print order form fixes

### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)

1. Place an order as a guest
2. Go to the page "sales/guest/form/" on the storefront as a guest.
3. Fill in the print order form:
4. Try to search for an order by email
5. Try to search for an order by zip code
6

[2020-07-30 18:19] maciej-orba opened #29338 "Magento 2.4.0 Missing Elastic Search options in setup:config:set"
### Preconditions (*)

1. Magento 2.4.0, 2.4-develop
2. PHP 7.4.8
3. MySQL 8.0.21

### Steps to reproduce (*)

1. Setup vanila Magento
2. Run `bin/magento setup:config:set --help | grep elastic`
3. No options related to Elastic Search

### Expected result (*)

1. Command should contain Elastic Search options like:
--search-engine
--elasticsearch-host
--elasticsearch-port
--elasticsearch-index-pref

[2020-07-30 19:58] sdzhepa commented on #27573
Hello @renard123

The issue has been reviewed and discussed during regular triage meeting with Product Managers.
Due to
- is not a functional issue - it does not break any functionality
- It is just cosmetic correction
- Magento officially does not support full mobile/tablet experience working with Admin Panel: https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements_browsers.html

[2020-07-30 19:58] #27573 closed, assigned to nobody

[2020-07-30 20:45] maciej-orba opened #29340 "Magento 2.4.0 - JS Console errors"
### Preconditions (*)

1. Magento Commerce 2.4.0
2. PHP 7.4.8
3. MySQL 8.0.21

### Steps to reproduce (*)

1. Setup vanila Magento (in developer mode)
2. Go to `/customer/account/create/`
3. Open JS Console, look for errors

### Expected result (*)

1. No errors in JS Console, all files present

### Actual result (*)

1. New account only: `require.js:1895 GET https://acme.local/static/frontend/Mag

[2020-07-30 21:25] hostep commented on #29338
This seems to work:

[code]

[2020-07-30 21:33] maciej-orba commented on #29338
Exactly, ES is required service like MySQL.
All services can be configured via single interface setup:config:set and stored in env.php, but only ES not :(

[2020-07-31 05:27] dsomnionline commented on #6873
Hi @benvansteenbergen

This solution is not working when you edit the product from a mini cart. It gives the error can you please check and provide the solution for this.

[2020-07-31 05:28] dsomnionline commented on #8674
Hi @RaphaelBronsveld

This solution is not working when you edit the product from a mini cart OR Cart page. It gives the error can you please check and provide the solution for this.

[2020-07-31 07:57] HenKun commented on #23450
@hostep I debugged in and found the following:

- Cron is running correctly and all settings are fetched correctly, also the empty array [] for `cron_consumers_runner ` does work
- The problem lies in the locking.
- Although no processes for the consumers are spawned (anymore!?), MySQL (in my case MariaDB) still holds locks for all consumers. When the consumers are triggered by cron they are start

[2020-07-31 08:16] hostep commented on #23450
@HenKun

I've had some issues in the past as well with locks in mysql getting stuck (not necessarily with queue consumers, it was with cronjobs I memory serves me right, but they both use the same locking mechanism). We've found that switching the lock provider from the database to the filesystem to be a lot more stable.
Here is the documentation to do that: https://devdocs.magento.com/guides/v2.3

[2020-07-31 08:23] engcom-Kilo commented on #28885
I am working on this

[2020-07-31 08:34] lbajsarowicz commented on #29340
@magento give me 2.4-develop instance

[2020-07-31 08:34] magento-engcom-team commented on #29340
Hi @lbajsarowicz. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-31 08:35] magento-engcom-team commented on #29340
Hi @lbajsarowicz, here is your [Magento instance](https://i-29340-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29340-2-4-develop.instances.magento-community.engineering/admin_8fcb](https://i-29340-2-4-develop.instances.magento-community.engineering/admin_8fcb)
Login: `675a9419` Password: `745c8294b80f`
Instance will be terminated in up to 3 hours.

[2020-07-31 08:36] stefliekens opened #29342 "Cancel coupon results in javascript error and blocks the checkout process"
After applying a coupon which results in a grand total of 0.0 and

### Preconditions (*)
1. Magento 2.3.5-p1
2. PHP 7.3.16

### Steps to reproduce (*)

1. Create a new price cart rule with a coupon code. E.g. 100EUR with action "fixed amount discount" and amount of "100"
2. Add product to your basket with a price less then 100 EUR.
3. Go to payment step in checkout
4. Enter the discount/coupon cod

[2020-07-31 08:39] lbajsarowicz commented on #29340
@maciej-orba Could you give more hints about your environment?
Both locally and with Magento-provided environment, I cannot reproduce it.

![image](https://user-images.githubusercontent.com/1639941/89016952-dafedb80-d319-11ea-9698-4c016c782a0c.png)
![image](https://user-images.githubusercontent.com/1639941/89017057-0a154d00-d31a-11ea-9940-da0eea78bcfd.png)

Have you turned on any of bundling / mod

[2020-07-31 08:39] stefliekens commented on #29342
@magento I am working on this

[2020-07-31 08:46] stefliekens commented on #29342
Seems to be fixed in 2.4 develop branch.
https://github.com/magento/magento2/commit/e5cd82d87c7254503b4c9b6a7ff17017413dd016#diff-aa8b012e2fbfb8f3c2904b7ea0504606

[2020-07-31 08:49] HenKun commented on #23450
Thanks for the link! While this might solve the "stucking" issue for me, since I can interfere with the file system, I think there is a larger underlying problem.

1. The unlock is not guaranteed to be called (as far as I can see). At least it should be in a finally clause.
1a. If running as single-thread and no max-messages parameter is given, `process` will never end gracefully (it's in a `while

[2020-07-31 08:55] tgamanov commented on #29005
Hello @chequille.
I have tested the described issue on fresh 2.3.5-p1 with PHP 7.2.32 and wasn't able to reproduce it. Please see attached screenshots.
![WidgetInBlock](https://user-images.githubusercontent.com/11708989/89018420-8876ec80-d324-11ea-9a70-2c4d5064d562.png)
![WidgetInPage](https://user-images.githubusercontent.com/11708989/89018423-89a81980-d324-11ea-9625-d9bb2b81bf5f.png)

Could you

[2020-07-31 08:58] roma84 commented on #25209
Still happens in 2.4.0:
 - Open some category
 - Upload image and save the category - image attribute value appears in `catalog_category_entity_varchar` table with the path: `/pub/media/catalog/category/gear.jpg`
 - Save the category - path is changed to `/magento/htdocs/pub/media/catalog/category/gear.jpg`
 - Save the category again - attribute value is removed from `catalog_category_entity_varch

[2020-07-31 09:15] maciej-orba commented on #29340
Hello Łukasz!

1. Developer mode, no bundling signing etc
  CONFIG__DEFAULT__DEV__JS__ENABLE_JS_BUNDLING: 0
  CONFIG__DEFAULT__DEV__JS__MINIFY_FILES: 0
  CONFIG__DEFAULT__DEV__JS__MERGE_FILES: 0
  CONFIG__DEFAULT__DEV__STATIC__SIGN: 0
2. Works fine in production mode, after SCD
3. Env installed via composer:
[code]

[2020-07-31 09:16] alexey-motorny-amasty commented on #28981
@Hexmage  we have created patch - mini module to resolve this error. Maybe it will be useful for you
https://amasty.com/knowledge-base/magento-2-4-release-undefined-class-constant-error.html

[2020-07-31 09:51] gondas33 opened #29343 "Cart Price Rule wrongfully applies to cheap products with big quantities"
### Preconditions (*)

1. Magento 2.3.5
2. Redis, elasticsearch, litespeed

### Steps to reproduce (*)

1. Create a cart price rule with the following settings:
![image](https://user-images.githubusercontent.com/11984860/89023078-ad229280-d32b-11ea-8f7f-c07a5fe7207a.png)

2. Create a product with price 5 and add to cart 200 qty.

3. See Discount value( should be the fixed amount - 20 in my case)

[2020-07-31 09:51] an4rei commented on #29343
@magento give me 2.4-develop instance

[2020-07-31 09:51] magento-engcom-team commented on #29343
Hi @an4rei. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-31 09:53] magento-engcom-team commented on #29343
Hi @an4rei, here is your [Magento instance](https://i-29343-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29343-2-4-develop.instances.magento-community.engineering/admin_656f](https://i-29343-2-4-develop.instances.magento-community.engineering/admin_656f)
Login: `2ced26c4` Password: `30a67cc05c9f`
Instance will be terminated in up to 3 hours.

[2020-07-31 09:58] an4rei commented on #29343
Apparently it's due to "Maximum Qty Discout is Applied to" being set to 1. Leaving it empty fixes the issue.  Not sure whether this is intended or not as I'm not really understanding the use of that specific setting.

[2020-07-31 10:01] m2-assistant[bot] opened #29344 "[Issue] Multiple arguments in module:status command"
This issue is automatically created based on existing pull request: magento/magento2#28250: Multiple arguments in module:status command

---------

### Preconditions: (*)

As of now `module:status` command accepts only one parram. But `module:enable` and `module:disable` accepts multiple module names as argument. So, in same way `module:status` command also can accept multiple module names as argu

[2020-07-31 10:27] magento-engcom-team commented on #29344
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36380` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-31 10:28] hostep commented on #28981
@alexey-motorny-amasty: out of interest (since I saw your little `amasty/module-mage24fix` module come in with composer when updating the improved layered navigation module on a 2.3.5 shop). This little module is tested and is backwards compatible with Magento 2.3.x I hope?

[2020-07-31 10:31] alexey-motorny-amasty commented on #28981
@hostep Yes, it is compatible, but unnecessary. do not hesitate to just delete this patch

[2020-07-31 10:33] maciej-orba commented on #29340
Issue seems to be connected with some browser caches.
Tested on other browser, incognito mode and after cache clean and no issue.
Thanks for your engagement!

[2020-07-31 10:33] #29340 closed, assigned to nobody

[2020-07-31 11:16] m2-assistant[bot] opened #29345 "[Issue] ScopeConfigInterface can be more than a string"
This issue is automatically created based on existing pull request: magento/magento2#29305: ScopeConfigInterface can be more than a string

---------
### Summary (*)
Magento 2.4-develop
Reverts parts of https://github.com/magento/magento2/commit/a5a98dfa56cac8cdb60e15568c10578f522be3f3 as it restricts `@magentoConfigFixture` unnecessarily to strings.

Neither `Magento\Framework\App\Config\ScopeCon

[2020-07-31 11:16] m2-assistant[bot] opened #29346 "[Issue] Unit Test / Deprecate / ObjectManager Helper"
This issue is automatically created based on existing pull request: magento/magento2#29272: Unit Test / Deprecate / ObjectManager Helper

---------
### Summary (*)
Magento 2.4-develop
During the **Magento 1** to **Magento 2** migration, the rush around forced Magento developers to make some compromises.
Last month we finally said Good Bye to Magento 1, but we still fight against the legacy we inhe

[2020-07-31 11:21] lbajsarowicz commented on #29340
Thank you for the update!

[2020-07-31 11:23] zhartaunik opened #29347 "Event 'customer_login' expects different entities in core code and in tests."
### Summary (*)
Web API with login action tests fails when implemented an observer for the 'customer_login' event.

### Examples (*)
`magento/app/code/Magento/Customer/Model/Session.php`

[code]

Magento puts `$customerModel instanceof \Magento\Customer\Model\Customer`

`magento/dev/tests/api-functional/framework/Magento/TestFramework/Helper/Customer.php`

[code]

Magento creates \Magento\Customer

[2020-07-31 11:23] MrKovalski commented on #27252
Has this been resolved in Magento 2.3.4 final release? Is there a fix for this, seems like a too big feature to just ignore.

[2020-07-31 11:48] zhartaunik commented on #28921
@magento give me 2.4-develop instance

[2020-07-31 11:48] magento-engcom-team commented on #28921
Hi @zhartaunik. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-31 11:50] magento-engcom-team commented on #28921
Hi @zhartaunik, here is your [Magento instance](https://i-28921-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28921-2-4-develop.instances.magento-community.engineering/admin_2022](https://i-28921-2-4-develop.instances.magento-community.engineering/admin_2022)
Login: `19e1ffec` Password: `b2a0d4094a31`
Instance will be terminated in up to 3 hours.

[2020-07-31 12:01] zhartaunik commented on #28921
@bubasuma thanks, I can confirm that the issue does not occur anymore. I wrongly updated my fork and worked with the wrong version.
I prepared MFTF test for this scenario, should we merge it or just remove?

[2020-07-31 12:56] magento-engcom-team commented on #29327
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36384` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-31 15:04] chequille commented on #29005
@tgamanov
What happens if you click on the button "Insert Widget"?
I get this erroir when doing so.
This is the problem.
of course if I know the syntax of the widget I can insert it into the page.

[2020-07-31 15:08] TonyMerlin opened #29350 "Magento 2.4.0 requires php7.4 but php-cs-fixer requires php < 7.3"
### Preconditions (*)

1. Upgrading from Magento 2.3.5-p1 to Magento 2.4.0 using composer

### Steps to reproduce (*)

1. composer require magento/product-community-edition=2.4.0 --no-update
2. composer update
3. Advised to upgrade PHP to 7.4 to continue
4. Upgraded to PHP 7.4
5.  Composer update

### Expected result (*)

1. Installation to complete without error

### Actual result (*)

1. Loading

[2020-07-31 15:29] molinainat opened #29351 "Customer Segments not matching any customer"
Magento Customer Segments not finding any customers despite customers matching the conditions.

### Preconditions ###

1. Magento version 2.3.4-p2
2. Customer Segments

### Steps to reproduce ###

1. Create Magento Customer Segment
2. Apply for registered customers, all websites, segment is active
3. Set conditions... if ALL true: customer multiselect attribute contains (option selected)
4. Attrib

[2020-07-31 15:47] hostep commented on #29350
@TonyMerlin, you need to update the version constraints of your dev-dependencies in your `composer.json` file as well before attempting the upgrade, here's the diff between a generated `composer.json` file from 2.3.5-p1 and 2.4.0:

[code]

[2020-07-31 15:50] jean323 commented on #29334
I have exactly the same problem

[2020-07-31 16:02] mrtuvn commented on #29338
Here is sample setup cli you can use as example
`bin/magento setup:install \
    --backend-frontname=admin \
    --amqp-host=rabbitmq \
    --amqp-port=5672 \
    --amqp-user=guest \
    --amqp-password=guest \
    --db-host=db \
    --db-name=magento \
    --db-user=magento \
    --db-password=magento \
    --http-cache-hosts="varnish:80" \
    --session-save=redis \
    --session-save-redis-host

[2020-07-31 16:02] mrtuvn commented on #29338
bin/magento setup:install \
    --backend-frontname=admin \
    --amqp-host=rabbitmq \
    --amqp-port=5672 \
    --amqp-user=guest \
    --amqp-password=guest \
    --db-host=db \
    --db-name=magento \
    --db-user=magento \
    --db-password=magento \
    --http-cache-hosts="varnish:80" \
    --session-save=redis \
    --session-save-redis-host=redis \
    --session-save-redis-port=6379 \

[2020-07-31 16:03] mrtuvn commented on #29338
or seperate like hostep suggest

[2020-07-31 16:04] StruggleSnuggl3 commented on #26606
I have a similar issue after upgrading from 2.3.5-p2 to 2.4;

I see I am running Redis Server 6.0.6; is this supported by Magento 2.4?

[2020-07-31 16:05] mrtuvn commented on #29334
See i got similar issue with sample data include magento package
![Screenshot from 2020-07-31 22-44-15](https://user-images.githubusercontent.com/1908873/89053995-467c9380-d382-11ea-9faa-025fb8ff300c.png)

[2020-07-31 16:25] tgamanov commented on #28851
Hello @peterlobao.
I have tested the described issue and have the same result. Issue confirmed.
Also, I have found, that according to the Magento code in
Magento/SalesRule/Model/Rule/Action/Discount/BuyXGetY.php
there is condition:

[code]

which protect from cases when  'Discount Qty Step (Buy X)' is less than 'Discount Amount' (like you had).
So, probably it is not a bug, but a feature.
Still, i

[2020-07-31 17:49] mageseller commented on #28302
Try this command :

php -dmemory_limit=-1 bin/magento setup:install --base-url=http://127.0.0.1/m24 --db-host=localhost --db-name=m24 --db-user=root --db-password=root --admin-firstname=admin --admin-lastname=admin --admin-email=admin@admin.com --admin-user=admin --admin-password=admin123 --language=en_US --currency=USD --timezone=America/Chicago --use-rewrites=1 --search-engine=mysql

set this op

[2020-07-31 17:53] ralbin commented on #25370
@magento I am working on this

[2020-07-31 18:01] jesperbrejning opened #29352 "M 2.4.0 upgrading issue - Unable to apply patch Magento\Review\Setup\Patch\Schema\AddUniqueConstraintToReviewEntitySummary"
### Preconditions

Install Magento 2.3.5 CE using composer
### Steps to reproduce
1. Run SQL command
[code]

 

Please find more details here [https://github.com/magento/magento2/issues/29352>

 

[2020-07-31 18:01] ralbin commented on #25370
@magento give me 2.4-develop instance

[2020-07-31 18:01] magento-engcom-team commented on #25370
Hi @ralbin. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-31 18:03] magento-engcom-team commented on #25370
Hi @ralbin, here is your [Magento instance](https://i-25370-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25370-2-4-develop.instances.magento-community.engineering/admin_d082](https://i-25370-2-4-develop.instances.magento-community.engineering/admin_d082)
Login: `4b59444a` Password: `efdd15202900`
Instance will be terminated in up to 3 hours.

[2020-07-31 18:15] sdzhepa commented on #24978
@magento give me 2.4-develop instance

[2020-07-31 18:15] magento-engcom-team commented on #24978
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-31 18:17] magento-engcom-team commented on #24978
Hi @sdzhepa, here is your [Magento instance](https://i-24978-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24978-2-4-develop.instances.magento-community.engineering/admin_756a](https://i-24978-2-4-develop.instances.magento-community.engineering/admin_756a)
Login: `c826255e` Password: `840eece67064`
Instance will be terminated in up to 3 hours.

[2020-07-31 18:30] sdzhepa commented on #24978
Verified on the latest `2.4-develop` and using supported browsers https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements_browsers.html?itm_source=devdocs&itm_medium=quick_search&itm_campaign=federated_search&itm_term=browse

Not able to reproduce it now. Seems it was already fixed in the scope of another issue

[2020-07-31 18:30] #24978 closed, assigned to vimal-ranosys

[2020-07-31 18:35] mbrinton01 opened #29354 "Login as Customer storefront banner is not sticky"
### Preconditions (*)
Magento 2.4.0

### Steps to reproduce (*)
1. Enable Login as Customer
2. Login as Customer to the Storefront (view detail page for a customer in the admin panel, click "Login as Customer" in header)

### Expected result (*)
1. Persistent banner appears at top of screen
2. Per original UX design in https://xd.adobe.com/view/7c1347fc-d229-4afc-5ee7-1c53bdaec588-0a22/, banner is

[2020-07-31 18:35] mbrinton01 commented on #29354
FYI @sdzhepa

[2020-07-31 18:36] mbrinton01 commented on #29354
FYI @smuletf

[2020-07-31 19:40] alex38 commented on #27555
I have this issue as well, sorting on SKU.

@Parrotdise - for what it's worth, I have an alternative to abandoning those user accounts altogether. There seem to be several different sorting/filtering/searching combinations that kill Magento 2 list pages on products and cms pages. The list page is then essentially locked and permanently broken to that user.

You can "fix" it by deleting all entries

[2020-07-31 20:50] StruggleSnuggl3 commented on #26606
This is the error:

`1 exception(s):
Exception #0 (InvalidArgumentException): Unable to serialize value. Error: Malformed UTF-8 characters, possibly incorrectly encoded

Exception #0 (InvalidArgumentException): Unable to serialize value. Error: Malformed UTF-8 characters, possibly incorrectly encoded`

[2020-07-31 21:08] mattwellss commented on #29266
I've gotten started implementing command loaders for Magento. My progress will be visible in this PR: https://github.com/magento/magento2/pull/29355

[2020-07-31 21:15] molinainat commented on #29351
Fixed it by adding **'()', '!()'** to array in: Magento/CustomerSegment/Model/Condition/AbstractCondition.php
[code]

And replacing:
[code]
with:
[code]

In file:
Magento/CustomerSegment/Model/Segment/Condition/Customer/Attributes.php

[2020-07-31 21:41] Erickhdez opened #29356 "the shipping information is not saved and the shipping section does not appear in all the articles of our store in ver. 2.2.9"
### Preconditions (*)

1. Magento ver. 2.2.9
2. Checkout (shipping)

### Steps to reproduce (*)

1. Activation of the shipping option activates only for some products, not for all the categories of the store. Some products are  send only by direct payment method.
2. When registering the shipping information and selecting the shipping method, an error is displayed with "Unable to save shipping info

[2020-07-31 21:50] Erickhdez commented on #29356
Please take into account that the interface is configured in: Español (España) / español (España)

![interface configuration](https://user-images.githubusercontent.com/69058884/89080243-f5eb4300-d34d-11ea-8ae8-7f283d1e722e.JPG)

[2020-07-31 22:16] molinainat commented on #29351
Any ideas why that wasn't an option for multiselect attributes?

[2020-07-31 23:12] chequille commented on #29005
Hi again,
I just tested it in a fresh 2.3.5-p2 and when clicking on insert widget the modal window appear as it should.
![grafik](https://user-images.githubusercontent.com/15807794/89085433-80a16180-d391-11ea-8dc6-095eca1effa6.png)

I had a look at the code of the "Insert Widget" Button and saw the following:
![grafik](https://user-images.githubusercontent.com/15807794/89086972-d75b6b00-d392-11ea-

[2020-07-31 23:28] molinainat opened #29443 "Customer Segments not finding any matching customers"
Magento Customer Segments not finding any customers despite customers matching the conditions.

### Preconditions ###

1. Magento version 2.3.4-p2
2. Customer Segments

### Steps to reproduce ###

1. Create Magento Customer Segment
2. Apply for registered customers, all websites, segment is active
3. Set conditions... if ALL true: customer multiselect attribute contains (option selected)
4. Attrib

[2020-07-31 23:30] #29351 closed, assigned to nobody

[2020-08-01 00:35] bluedarter2 opened #29357 "M 2.4.0 Contact Form has error and can't be rendered"
### Preconditions (*)

1. Debian 10, Apache 2.4, PHP 7.3.19, mysql  Ver 15.1 Distrib 10.3.22-MariaDB
Initially using Magento 2.3, with Magento Blank theme and no sample data or customized code.  Had the start of a store, with basic data.  The "Contact Us" footer link was basic, but worked fine.

2. After upgrade from Magento 2.3.5-p1 to Magento 2.4.0, the form does not render and generates an erro

[2020-08-01 04:34] bluedarter2 commented on #29357
I did a separate new install of Magento 2.4.0, and out of the box the Contact Us form works correctly.
This must be an upgrade bug.
This makes me really worry about choosing Magento for my new online store.

[2020-08-01 07:50] vipin12117 commented on #23958
Facing issue in 2.3.4,  was it fixed ?

[2020-08-01 09:03] chequille commented on #29005
At least I found the code where this is going wrong.
It is in framwork/data/Form/Element/editor.php
When building the buttons the path is generated for the widget using
$this->getPluginConfigOptions('magentowidget', 'window_url')
But this is empty, therefore the path is not there.
Any ideas why this is empty?

[2020-08-01 09:16] slavvka commented on #29308
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28975 by @rvitaliy in 2.4-develop branch
Related commit(s):
 - [8e456167c2a7f4b4f13e50a2ae44ba15fb537e79](https://github.com/magento/magento2/commit/8e456167c2a7f4b4f13e50a2ae44ba15fb537e79)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-01 09:16] #29308 closed, assigned to nobody

[2020-08-01 09:16] slavvka commented on #29283
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29271 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [ff0e8f69c67698bef8f06fbb24e14ef1167e9644](https://github.com/magento/magento2/commit/ff0e8f69c67698bef8f06fbb24e14ef1167e9644)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-01 09:16] #29283 closed, assigned to lbajsarowicz

[2020-08-01 09:16] slavvka commented on #28793
Hi @boseasha. Thank you for your report.
The issue has been fixed in magento/magento2#29139 by @engcom-Echo in 2.4-develop branch
Related commit(s):
 - [c899815846aab642ed05e4f21aecc41367490cb3](https://github.com/magento/magento2/commit/c899815846aab642ed05e4f21aecc41367490cb3)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-01 09:16] #28793 closed, assigned to engcom-Echo

[2020-08-01 09:16] slavvka commented on #29240
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28930 by @AntonEvers in 2.4-develop branch
Related commit(s):
 - [6dd0bb69333c549d2267cfc7a054eb66da1deadf](https://github.com/magento/magento2/commit/6dd0bb69333c549d2267cfc7a054eb66da1deadf)
 - [ce87ede424b557b83f585e9b05c9408887f1353b](https://github.com/magento/magento2/commit/ce87ede424b557b83f585e9

[2020-08-01 09:16] #29240 closed, assigned to nobody

[2020-08-01 09:16] slavvka commented on #29159
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28992 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [b59dc722059f3a87716a41dc0f5ae62ec297fb69](https://github.com/magento/magento2/commit/b59dc722059f3a87716a41dc0f5ae62ec297fb69)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-01 09:16] #29159 closed, assigned to lbajsarowicz

[2020-08-01 09:16] slavvka commented on #28800
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27537 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [c54b8f36bead34315e245bd1a8a516ffd1f6023a](https://github.com/magento/magento2/commit/c54b8f36bead34315e245bd1a8a516ffd1f6023a)
 - [196e42310e77b478df519d7f61b072eca73ac9fb](https://github.com/magento/magento2/commit/196e42310e77b478df519d7f6

[2020-08-01 09:16] #28800 closed, assigned to Usik2203

[2020-08-01 09:16] slavvka commented on #23971
Hi @rani-webkul. Thank you for your report.
The issue has been fixed in magento/magento2#23972 by @rani-webkul in 2.4-develop branch
Related commit(s):
 - [548ea7b21c772587e8428d6f57dc506be64a78e7](https://github.com/magento/magento2/commit/548ea7b21c772587e8428d6f57dc506be64a78e7)
 - [1cf138978ca83bb9ba313ac0c4f59b5f132b2151](https://github.com/magento/magento2/commit/1cf138978ca83bb9ba313ac0c4f5

[2020-08-01 09:16] #23971 closed, assigned to rani-priya

[2020-08-01 09:16] slavvka commented on #29329
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29244 by @AntonEvers in 2.4-develop branch
Related commit(s):
 - [86000cea24a9dd757e1b4d6cf54957e32e577f3c](https://github.com/magento/magento2/commit/86000cea24a9dd757e1b4d6cf54957e32e577f3c)
 - [48f5a92a29fbb55d1e687bc1c0ff72075147cf82](https://github.com/magento/magento2/commit/48f5a92a29fbb55d1e687bc

[2020-08-01 09:16] #29329 closed, assigned to nobody

[2020-08-01 09:16] slavvka commented on #7213
Hi @boldhedgehog. Thank you for your report.
The issue has been fixed in magento/magento2#26032 by @maqlec in 2.4-develop branch
Related commit(s):
 - [859307b2cf3cd1898cf9d38860408a9eebdade2d](https://github.com/magento/magento2/commit/859307b2cf3cd1898cf9d38860408a9eebdade2d)
 - [8aed39fd69115f93282e933fdbdf7d8584daa082](https://github.com/magento/magento2/commit/8aed39fd69115f93282e933fdbdf7d85

[2020-08-01 09:16] #7213 closed, assigned to maqlec

[2020-08-01 09:52] mrtuvn commented on #29357
@bluedarter2  not sure how do you update but i upgrade direct from 2.3.5-p1 to 2.4.0 by composer way
![Screenshot from 2020-08-01 16-48-29](https://user-images.githubusercontent.com/1908873/89099146-64480800-d417-11ea-80cb-295e7bf91aa0.png)

Can't reproduce issue

[2020-08-01 12:20] jesperbrejning opened #29358 "Error after M 2.4.0 upgrade: main.CRITICAL: String to be escaped was not valid UTF-8 or could not be converted"
After upgrade from M 2.3.5 to M 2.4.0 we see the following error in frontend: "An error has happened during application run. See exception log for details."

Any Idea how to solve this issue?

Best regards,
Jesper

1 exception(s):
Exception #0 (Laminas\Escaper\Exception\RuntimeException): String to be escaped was not valid UTF-8 or could not be converted:
<pre>#1 Laminas\Escaper\Escaper->escapeCss

[2020-08-01 13:53] gitmoorka commented on #7624
I am on 2.3.4 and both prices show up after the fix described above. However, I only have special price on **some** variants of the configurable product, and the old prices show up for all variations. As a result, I have Old price 99EUR new price 99EUR which looks like I am trying to fool my customer. Is there a fix for that?

[2020-08-01 14:47] hostep commented on #29358
I'm seeing a bunch of Amasty modules (Page Speed Optimizer & Advanced Search) in your stack trace, can you try the same with those modules disabled, it might be a problem caused by those modules?

If you don't get that error anymore after disabling them, please take contact with Amasty (or try to update those modules to the latest version)

[2020-08-01 18:06] barc593 commented on #28302
In SearchConfig.php line 97:

  Search engine 'mysql' is not an available search engine.

[2020-08-01 18:20] karunakhatri opened #29359 "Issue on version upgrade 2.3.5p2 to 2.4.0 enterprise edition"
karuna@karuna-HP-Pavilion-x360-Convertible-14-dh1xxx:/opt/lampp/htdocs/falcon$ composer update
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - magento/product-enterprise-edition 2.4.0 requires pelago/emogrifier ^3.1.0 -> satisfiable by pelago/emogrifier

[2020-08-01 18:22] bluedarter2 commented on #29357
@mrtuvn I used composer to do the upgrade, per the magento 2.4 upgrade instructions.  I had already installed elasticsearch 7.8.1 previously when I ran the patch upgrade to 2.3.5-p1 (again using composer to do the patch).

However, I noticed that elasticsearch had stopped working at some point so I can't be absolutely positive it was running successfully at the time I did the magento 2.4 upgrade.

[2020-08-01 19:41] hostep commented on #29357
@bluedarter2: this most likely happened because of this change in 2.4.0: https://github.com/magento/magento2/pull/25523/files

In the `form.phtml` file, they now call `$viewModel->getUserName()`, and `$viewModel` is something which is added through the `contact_index_index.xml` file.
I'm not sure if the same thing can be accomplished with `{{block class="Magento\Contact\Block\ContactForm" name="co

[2020-08-01 19:55] lbajsarowicz commented on #29319
Single `tier_price` entry:
![image](https://user-images.githubusercontent.com/1639941/89109461-a8500280-d441-11ea-93ab-00eda79e5fc3.png)

During delete causes 5 database calls:
![image](https://user-images.githubusercontent.com/1639941/89109478-bb62d280-d441-11ea-83ca-e5b92332fe64.png)

Which isn't the sexiest thing to see in the logs : )

[2020-08-01 19:58] hostep commented on #29352
Hmm, that's interesting, the regex you refer to is [`#SQLSTATE\[23000\]: [^:]+: 1062[^\']+\'([\d-\.]+)\'#`](https://github.com/magento/magento2/blame/2.4.0/lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php#L2779)

I think you have a point here, the problem is inside the `[\d-\.]` character class, the range character `-` is considered a true range character because it wasn't specified as the

[2020-08-01 20:04] hostep commented on #29352
I can very easily reproduce the problem using PHP 7.3 and 7.4 (it works on PHP 7.2) with:
[code]

I'm using:
[code]

This most likely happens because PHP 7.3 and 7.4 upgraded from the pcre library version 1 to version 2 and the last one is probably more stricter: https://php.watch/versions/7.3#pcre2

Thanks for the bug report, it's truly an import bug and hopefully somebody will fix this shortly (

[2020-08-01 21:05] magento-engcom-team commented on #28947
Hi @renard123. Thank you for your report.
The issue has been fixed in magento/magento2#29206 by @srsathish92 in 2.4-develop branch
Related commit(s):
 - [87d109465d6ce8437286313f0a41a9e6d7843985](https://github.com/magento/magento2/commit/87d109465d6ce8437286313f0a41a9e6d7843985)
 - [39aff394256735c448dbee13d6da9849190f4110](https://github.com/magento/magento2/commit/39aff394256735c448dbee13d6da98

[2020-08-01 21:05] #28947 closed, assigned to Bartlomiejsz, srsathish92

[2020-08-01 21:05] magento-engcom-team commented on #29292
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29142 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [1b40d89d4b366dfb0355a2aa5c4b00319cf857df](https://github.com/magento/magento2/commit/1b40d89d4b366dfb0355a2aa5c4b00319cf857df)
 - [bbed38e5d1995a5cbf1abc4c6481bdf69d08dd78](https://github.com/magento/magento2/commit/bbed38e5d1995a5cbf1abc4c6

[2020-08-01 21:05] #29292 closed, assigned to Usik2203

[2020-08-01 23:55] bluedarter2 commented on #29357
@hostep Thanks.  I disabled that page, and now the Contact Us link goes to the 404 page not found.  To be honest, I started stepping through the Magento store setup just after the first of the year (Jan 2020) then had to stop working on it.  I've just picked it up again, and I can not for the life of me remember how to affect what happens when that link in the footer is clicked.  I find Magento to

[2020-08-02 03:04] gelanderosh opened #29361 "Logo not resizing in magento 2.4"
Logo not resizing in frontend

### Preconditions (*)
1. Php 7.4
2. Apache 2.4 nginx
3. Magento 2.4 new installation

### Steps to reproduce (*)
1. Install a new magento 2.4 instance.
2. Change the logo thru the admin and set it's size different from 170px width.

### Expected result (*)
1. Logo showing in frontend according to the size set in the admin.

### Actual result (*)
1. Logo always set to

[2020-08-02 03:05] MexMade commented on #29361
@magento give me 2.4-develop instance

[2020-08-02 03:05] magento-engcom-team commented on #29361
Hi @MexMade. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-02 03:07] magento-engcom-team commented on #29361
Hi @MexMade, here is your [Magento instance](https://i-29361-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29361-2-4-develop.instances.magento-community.engineering/admin_44ef](https://i-29361-2-4-develop.instances.magento-community.engineering/admin_44ef)
Login: `c84d9b47` Password: `cd2b80d970d8`
Instance will be terminated in up to 3 hours.

[2020-08-02 03:14] MexMade commented on #29361
@magento I am working on this

[2020-08-02 03:14] MexMade commented on #29361
@magento add to contributors team

[2020-08-02 03:15] MexMade commented on #29361
@magento I am working on this

[2020-08-02 03:26] #29361 closed, assigned to gelanderosh

[2020-08-02 05:11] chapagain commented on #12215
A temporary quick fix can be the following:

- Click your user name on the top right in your admin panel.
- Click on the `Account Settings` submenu.
- Try to change `Interface Locale` to a different one (I changed from English US to English UK)
- Save
- Now, go to `Catalog > Products` and try to save any product with a change in `Set Product as New From` date.

You should be able to save the produ

[2020-08-02 05:12] chapagain commented on #24696
A temporary quick fix can be the following:

- Click your user name on the top right in your admin panel.
- Click on the `Account Settings` submenu.
- Try to change `Interface Locale` to a different one (I changed from English US to English UK)
- Save
- Now, go to `Catalog > Products` and try to save any product with a change in `Set Product as New From` date.

You should be able to save the produ

[2020-08-02 07:34] angelobono commented on #29236
@magento I am working on this

[2020-08-02 07:37] angelobono commented on #29236
@magento add to contributors team

[2020-08-02 09:07] #29158 closed, assigned to nobody

[2020-08-02 13:33] haunguyen1989 commented on #29334
when we upgrade from magento 2.3.5-p1 to magento 2.4.
After upgrade we have run setup:upgrade. It's raise error.
![Screenshot from 2020-08-02 19-46-11](https://user-images.githubusercontent.com/44774202/89124201-5e2d5680-d4ff-11ea-9a03-e058b13bfef8.png)

[2020-08-02 13:57] mrtuvn commented on #29357
@hostep if you put {{block class="Magento\Contact\Block\ContactForm" name="contactForm" template="Magento_Contact::form.phtml"}} in cms page (ex: home) the entire page will break just like @bluedarter2 describe
It's cause viewModel not available

[2020-08-02 14:57] hostep opened #29363 "Magento 2.4.0 release notification not showing up in backend"
### Preconditions (*)
1. Magento 2.4.0 or 2.4.1 or 2.4.2 or 2.4.3 or 2.4.4 or 2.4.5 or 2.4.6 or 2.4.7 or ...

### Steps to reproduce (*)
1. Setup clean 2.4.0 or 2.4.1 or 2.4.2, ... installation, not a `2.4-develop` instance! (see reasoning below)
2. Login to backend (struggle your way through the whole 2FA process rigmarole)
3. Once finally logged in, seeing a notification at the bottom of the pag

[2020-08-02 15:58] bluedarter2 commented on #29357
@hostep @mrtuvn In fact I was following the Magento 2 documentation when I started working with Magento 2, and the 2.4 docs still use this example!  So the documentation should have been updated to reflect whatever is the correct thing to do:
https://docs.magento.com/user-guide/stores/contact-us.html#method-2-without-sample-data

Item #3 there.

So perhaps someone can tell me how to correct the pa

[2020-08-02 18:35] mrtuvn commented on #29357
@bluedarter2 Technically if you need add some content in contact page you should extend contact template in theme. Add some additional code to call cms block inside this new template. Go to admin create new cms block and add content you want in backend. In that way you can avoid break code. No need to use cms page for contact like document

[2020-08-02 19:22] martysmojo commented on #29352
Can confirm I see this bug with a 2.4. upgrade

`$ php -i | grep PCRE
PCRE (Perl Compatible Regular Expressions) Support => enabled
PCRE Library Version => 10.32 2018-09-10
PCRE Unicode Version => 11.0.0
PCRE JIT Support => enabled
PCRE JIT Target => x86 64bit (little endian + unaligned)
`

`$ php --version
PHP 7.3.20 (cli) (built: Jul 22 2020 09:57:21) ( NTS )
Copyright (c) 1997-2018 The PHP Grou

[2020-08-02 20:17] hostep commented on #29357
@bluedarter2: thanks for the link to the documentation! I've opened an issue with them to correct the documentation: https://github.com/magento/merchdocs/issues/648, not sure how long that's going to take

There are probably multiple ways to accomplish what you want to accomplish, but I'm afraid you'll have to search around a bit, the current documentation does not seem to be accurate anymore.

[2020-08-02 21:47] karunakhatri commented on #29334
I have facing the same issue during setup upgrade after upgrading my version 2.3.5p2 to 2.4.0

![image](https://user-images.githubusercontent.com/47114777/89133198-c7c95700-d537-11ea-87af-8f7190598d42.png)

[2020-08-02 23:03] chequille commented on #29005
Oh my god!
THe solution was at the end easy.
In my config, there was TinyMCE Version 3 selected and this causes the problem.
Changed to TinyMCE 4 and now it is working.

[2020-08-02 23:04] #29005 closed, assigned to krishprakash

[2020-08-02 23:17] martysmojo commented on #29352
To amend my other comment, I couldn't replicate this using vanilla Magento installs from 2.3.4 to 2.4.0 (the above case was 2.3.4 to 2.4.0) so its not clear why its failing to update in our case.

[2020-08-03 04:29] vincentle89 opened #29364 "Magento 2.3.5-p1 - Guest - Login form of the checkout page is shown without any associating user account"
When I tried to place an order and populate an email address that hasn't been associating to any accounts in the system on the checkout page. After the checkout page is refreshed the checkout page, a login form is shown.
### Preconditions (*)

1. Magento version: 2.3.5

### Steps to reproduce (*)

1. Go to a demo page of version 2.3.5. Eg: http://139.162.47.20/magento235/ and add a product
2. Go t

[2020-08-03 04:49] mrtuvn commented on #29358
Maybe custom layout feature in amasty advance search module not work in 2.4 anymore

[2020-08-03 05:38] pilardo commented on #26840
how do you fix/
![Screenshot_2020-08-03_13-37-30](https://user-images.githubusercontent.com/4088367/89149273-a3e53000-d58e-11ea-9218-1e26d48e88cd.png)

[2020-08-03 06:06] hostep commented on #26840
@pilardo: it means the patch was already applied and shouldn't be applied any longer. Or, if you are already on Magento 2.3.5, you no longer need this patch.

If you want to automate things, I suggest you take a look at one of these composer modules which can automate the patching process when you run `composer install`: https://github.com/cweagans/composer-patches/ or https://github.com/vaimo/com

[2020-08-03 06:53] sunel opened #29365 "Magento 2.4 Upgrade issue Unable to apply data patch Magento\CatalogUrlRewrite\Setup\Patch\Data\UpdateUrlKeyForProducts"
### Preconditions (*)

1. Magento 2.4.0
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Composer upgrade from 2.3.4 to 2.4.0
2. php bin/magento setup:upgrade

### Expected result (*)

1. Successful upgrade

### Actual result (*)

[code]
---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. Thi

[2020-08-03 07:02] zhartaunik commented on #27500
Hi @ihor-sviziev
I noticed that I was mistaken with my branches and this issue referred to some old revision.
Tests work well now.

[2020-08-03 07:16] ajijshekh123 commented on #29364
@magento give me 2.4-develop instance

[2020-08-03 07:16] magento-engcom-team commented on #29364
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-03 07:17] magento-engcom-team commented on #29364
Hi @ajijshekh123, here is your [Magento instance](https://i-29364-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29364-2-4-develop.instances.magento-community.engineering/admin_0a69](https://i-29364-2-4-develop.instances.magento-community.engineering/admin_0a69)
Login: `8dffdf76` Password: `ae64d68af082`
Instance will be terminated in up to 3 hours.

[2020-08-03 07:22] pilardo commented on #26840
@hostep Thanks you.

[2020-08-03 07:25] rvitaliy commented on #27227
latest magento version support php 7.4 :beers:

[2020-08-03 07:25] #27227 closed, assigned to nobody

[2020-08-03 07:34] ajijshekh123 commented on #29364
Hello @vincent-le89,
This issue is not reproduced in the Magento 2.4 Instance.
**PFA:**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/24711761/89157205-c1fc6180-d589-11ea-860a-9b0d2fc15509.gif)

Thanks

[2020-08-03 07:43] ajijshekh123 commented on #29364
@magento give me 2.3.5-p1 instance

[2020-08-03 07:43] magento-engcom-team commented on #29364
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-08-03 07:44] magento-engcom-team commented on #29364
Hi @ajijshekh123, here is your [Magento instance](https://i-29364-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-29364-2-3-5-p1.instances.magento-community.engineering/admin_2142](https://i-29364-2-3-5-p1.instances.magento-community.engineering/admin_2142)
Login: `49cefce5` Password: `d935cab2898c`
Instance will be terminated in up to 3 hours.

[2020-08-03 07:45] JelleGe commented on #28454
We are facing the same issue. What is the current status of this issue? The problem also occurs on Magento 2.4

[2020-08-03 07:49] vincent-le89 commented on #29364
Hi @ajijshekh123

It doesn't exactly happen on version 2.4-develop but on 2.3.5-p1. I just made a test on https://i-29364-2-3-5-p1.instances.magento-community.engineering. It's a same result.
Thank you for supporting this ticket.

[2020-08-03 07:49] ajijshekh123 commented on #29364
Issue Reproduced on Magento  2.3.5-p1.

[2020-08-03 07:51] magento-engcom-team commented on #29364
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36420` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-03 07:52] ajijshekh123 commented on #29364
@vincent-le89 - Please Update your version Magento 2.4 Instance. This issue is fixed on the latest Magento version.

[2020-08-03 08:02] vincent-le89 commented on #29364
@ajijshekh123, To be honest, I'm not able to convince my customer to easily updating the latest Magento version. Because it may consume effort if third-party extensions have errors or need time to verify totally site after upgrading version. Is there any chance to fix this issue without upgrading?

[2020-08-03 08:14] ajijshekh123 commented on #29364
@vincent-le89 - It may be available on Magento Github so you can R&D your issue and fix it.

[2020-08-03 08:19] hostep commented on #29364
@vincent-le89: also check out https://github.com/magento/magento2/issues/26903 and https://github.com/magento/magento2/pull/27691, those seem to be related.

[2020-08-03 08:24] vincent-le89 commented on #29364
Thank you @ajijshekh123.
Hi @hostep : I will check two issues that you suggested. It is a good point to start R&D. ;)

[2020-08-03 08:34] ajijshekh123 commented on #29364
Welcome @vincent-le89, After verifying this issue please update me so I will close this issue.

[2020-08-03 08:35] AntonEvers commented on #29358
@jesperbrejning try downgrading `amasty/xsearch` to ` 1.14.7`. In my case this happend right after I upgrade `amasty/xsearch` from `1.14.7` to `1.14.8`.

[2020-08-03 08:38] ajijshekh123 commented on #29321
Hello @webmaiatec,
I have verified this issue in the Magento 2.4 Instance and Magento 2-3-5-p1 Instance.
This issue found in Magento 2-3-5-p1 Instance but not found in Magento 2.4 Instance.
**PFA:**
Issue reproduced Magento 2-3-5-p1 Instance :
![2 3 5 Instance_Issue](https://user-images.githubusercontent.com/24711761/89163089-b3667800-d592-11ea-9e23-95556e730c59.png)

Issue not reproduced Magento

[2020-08-03 08:39] magento-engcom-team commented on #29321
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36421` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-03 08:40] ajijshekh123 commented on #29321
@webmaiatec - Please update Magento 2.4 Instance.

[2020-08-03 09:25] jbclaudio commented on #28237
I've exact the same issue at some specific category pages. Has anyone find a solution?

[2020-08-03 10:19] magento-engcom-team commented on #13295
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-08-03 10:20] magento-engcom-team commented on #13295
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36423` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-03 11:04] iphigenie commented on #29279
Not just that, it's a totally different tech stack, so you have to manage java stacks and keep up with java security holes on top of the PHP ones.

And then you have the people who already invested in an external search options, say sphinx, and now have a nightmare on their hands because the core catalog navigation needs elastic search even if you have your own search

[2020-08-03 11:24] engcom-Alfa commented on #28208
The issue is reproducible on fresh 2.4-develop

![Peek 2020-08-03 14-22](https://user-images.githubusercontent.com/51679138/89177891-11945a80-d595-11ea-9780-4914df2afd2c.gif)

[2020-08-03 11:35] KowsiganAtsayam commented on #5803
i am also having this issue in magento 2.3.3

[2020-08-03 12:19] JamesSWS opened #29368 "I have Integrate Buy Theme SM Himarket, After successfully Install, in Magento 2.3.4 SM Listing Tab in Admin Shows Blank and Frontend side Display as " We can't find products matching the selection."""
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-08-03 12:34] codebase-md commented on #27460
You verify a bug report for 2.3.3 against 2.4 and close it because the issue is not present in the (upfront) **_wrong_** test environment. This issue is still present in version 2.3.5-p1. Support for 2.3.x is until end of next year! ([Support](https://devdocs.magento.com/release/)) So please reopen and verify correctly. Thank you.

[2020-08-03 12:43] TonyMerlin commented on #29350
Hi again ok I can confirm modifying the composer.json allows the update to continue, and running setup:upgrade works fine too  but then when trying to compile

I am getting the following error...

php bin/magento setup:di:compile
Compilation was started.
Area configuration aggregation... 5/8 [=================>----------]  62% 54 secs 466.0 MiB
In ClassReader.php line 43:

  Class Magento\Inventor

[2020-08-03 13:18] paales opened #29369 "Argument 2 passed to Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\CategoryTree::joinAttributesRecursively() must be an instance of GraphQL\Language\AST\FieldNode, instance of GraphQL\Language\AST\FragmentSpreadNode given"
*As a developer I want to be able to use fragments so that I can separate my data requirements from the actual query*

Currently I get the following errors with 2.3.5:

[code]

[2020-08-03 13:23] #29369 closed, assigned to nobody

[2020-08-03 13:27] paales opened #29370 "Argument 2 passed to Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\CategoryTree::joinAttributesRecursively() must be an instance of GraphQL\Language\AST\FieldNode, instance of GraphQL\Language\AST\FragmentSpreadNode given"
### Preconditions (*)

1. 2.3.5 or 2.4.0

### Steps to reproduce (*)
1. Run a GraphQL query that fetches categories that uses a fragment

### Expected result (*)
1. I expect it to actually return proper results

### Actual result (*)

[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This

[2020-08-03 13:50] smuletf commented on #29226
I updated the design link

[2020-08-03 14:35] AndaIonescu opened #29371 "Issue with configurable products in widgets, not added to cart"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Create a product attribute, for example Size with several values (S, M and L). This attribute must have property "use in product listing" set to Yes.
![image](https://user-images.githubusercontent.com/51681379/90142299-deb44880-dd84-11ea-8401-5f960f3ca34f.png)
![image](https://user-images.githubusercontent.com/51681379/9

[2020-08-03 14:40] engcom-Alfa commented on #13342
![Peek 2020-08-03 17-38](https://user-images.githubusercontent.com/51679138/89194712-61cce600-d5b0-11ea-9acf-03e3808e1799.gif)

[2020-08-03 14:40] kemexyz commented on #10821
I can confirm this to be the case in M2.4.0

When open_basedir is set via PHP FPM pool config I'm unable to get the admin "Forgot your password?" functionality to work it will error with  "Validate class not found from basename 'Magento\\Framework\\Validator\\EmailAddress'"

Therefor I'm unable to set open_basedir for PHP which is a problem in shared hosting and in general a security risk.

When I

[2020-08-03 14:45] kemexyz commented on #28424
This issues only exists while the "open_basedir" option is set for PHP.  This might not be the case for test instances given on github.

[2020-08-03 14:45] munkhulzii commented on #29074
Linked Pull Request: https://github.com/magento/partners-magento2b2b/pull/216

[2020-08-03 15:19] magento-engcom-team opened #29372 "[GraphQL] Wrong tags are set for CategoryList query"
We have an integration test that verifies pretty strange behavior: "category tag is present in X-Magento-Tags for current Query if it was present in the previous query"

**Steps to reproduce**

1. Run only 1 test-case "testRequestCacheTagsForCategoryListOnMultipleIds":
Magento\GraphQlCache\Controller\Catalog\CategoryListCacheTest::testRequestCacheTagsForCategoryListOnMultipleIds
[code]

Expected b

[2020-08-03 15:19] magento-engcom-team commented on #29372
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-35798

[2020-08-03 15:30] nuzil commented on #27564
An confirm, issue is there on 2.3.5-p1

[2020-08-03 16:08] miguelbalparda opened #29373 "Hardcoded path causes collisions"
https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e08609376ac39e/app/code/Magento/Analytics/Model/ExportDataHandler.php#L25

This hardcoded path will cause issues when more than 1 Magento install is using the same server. It might be useful to make it unique per install, maybe using the domain URL or another unique value.

### Preconditions (*)

1. Magento Analytics installed
2. M

[2020-08-03 17:12] fascinosum commented on #29352
Hello @jesperbrejning, @hostep, @martysmojo
thank you for your contribution. An internal ticket has been created to track this issue MC-36428
@martysmojo this issue can be reproduced using a specific data set

[2020-08-03 17:14] stevekem commented on #29215
@sdzhepa We are hosting with Nexcess and can confirmed Rabbit MQ is installed and configured. I should note that "Enable Qty Increments" and "Qty Increments" seem to be the only attributes we have noticed that will not update.  We haven't tested every single one but all of our attributes are updating using Mass Update feature except these 2 attributes. Can you please reopen this issue?

[2020-08-03 17:58] Fabiojose2041 opened #29374 "responsiveness"
### Description (*)

I have a problem with the responsiveness of my website where the images are cutting on my cell phone

### Expected behavior (*)

### Benefits

### Additional information

[2020-08-03 18:31] maksek commented on #29279
Closing the issue, as it is not bug report.
Please use forum for the discussions - https://community.magento.com/.

[2020-08-03 18:31] #29279 closed, assigned to nobody

[2020-08-03 19:45] VladimirZaets commented on #25955
Hi @clion007, can you please provide more details about what you do you want to do?
Also, we don't like to use "left join" in this case because Magento support split DB functionality and those tables can be in two different DB instances and in that case we will not have the ability to use "join"

[2020-08-03 19:49] VladimirZaets commented on #17825
Hi @Tuuhea, due to the results of the investigation this issue is already fixed. If you still have a problem with it, please reopen the issue and provide additional details.

[2020-08-03 19:49] #17825 closed, assigned to engcom-Echo

[2020-08-03 20:50] VladimirZaets commented on #23172
Please recheck this issue due to https://github.com/magento/magento2/pull/22133/

[2020-08-04 01:37] pilardo commented on #26840
It is not working on magento 2.3.5.

here's a response from the console: {"payflowpro":{"fields":{"result":"0","securetoken":"8A6RZj1l0QkePrcnTzEJZ7gFW","securetokenid":"nW5gMJbAoTizGHb1t3CGYSreBYijQ0fp","respmsg":"Approved","result_code":"0"}},"success":true,"error":false}

![Screenshot_2020-08-04_09-36-59](https://user-images.githubusercontent.com/4088367/89243256-14935780-d636-11ea-9cb2-f738220

[2020-08-04 02:10] erikhansen commented on #28221
One of my merchants running 2.3.4-p2 had a customer report this issue to them. However I logged in as that customer (using [this extension](https://github.com/magefan/module-login-as-customer)) and was able to add a new address just fine. Has anyone come up with steps to consistently reproduce this issue on Magento 2.3.x?

[2020-08-04 04:41] krishprakash commented on #29374
Hi @Fabiojose2041.
Kindly update all the necessary details with precondition,steps to reproduce,expected and actual result to reproduce this issue

[2020-08-04 06:09] nagrgkgc commented on #5404
@eugenbg
Your statements are 100% correct. these people are amazing.

they want you to search product with ID and get IMAGE. World has gone so much advanced but these API's are so old style.

[2020-08-04 07:28] PedroTiagoSimao commented on #7335
Digging up old stuff...

I have this happening now. Does it relate to server issues like @MackieeE pointed? Slow server?

[2020-08-04 07:35] webmaiatec commented on #29321
Hello @ajijshekh123

Thanks for the verification. It is fixed in 2.4. So closing the issue for now.

[2020-08-04 07:35] #29321 closed, assigned to nobody

[2020-08-04 08:16] stephansteiner opened #29377 "Filename is too long exception when importing media images"
I'm trying to import product images with very long names.
295744_20200804070722_tanzteppich_colorx_150_plus_1004222_16330_chroma_blau_schw_150cm_lfm.jpg
There is a limit in Magento of 90 characters which I don't fully understand.
All unix filesstems support 255 characters, Windows as well, the value column in catalog_product_entity_varchar is 255 characters, the value column in  catalog_product_en

[2020-08-04 09:03] gwharton commented on #29311
https://github.com/magento/magento2/issues/24191
https://github.com/magento/magento2/issues/24203

[2020-08-04 11:32] ihor-sviziev commented on #29377
I had similar experience of uploading image with long name, it's really not obvious why magento can't handle it. It could be fixed in few ways:
1. increase file name limit
2. make a rename if we got this limit

[2020-08-04 11:35] simonrl commented on #8508
Same here for 2.3.4.
What's the reason this issue was closed?
Many people still report this bug.

[2020-08-04 11:37] uttam-dhameliya opened #29378 "FME photogallery"
It was good to know and use this extension but now somehow i;m getting error/issue on it.

### Summary (*)

it shows "The "**gallery_schedule_block1" block threw an exception, and it can't be rendered.**" eoor on new photo gallery creation page on backed of magento 2

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/co

[2020-08-04 11:40] mrkimmok opened #29379 "Magento 2.3.5-p2: PHP Fatal error: Uncaught Error: Call to a member function isAllow() on null"
### Preconditions (*)

Magento Community Edition v. 2.3.5-p2 (Updated from 2.3.5-p1 > 2.3.5-p2 with composer installation method)

### Steps to reproduce (*)

1 .Install patch with composer and ran setup:upgrade
2. Go to a category or search result page

### Expected result (*)

Catalog page / search result page is loaded normally.

### Actual result (*)

Get a blank page and below error message i

[2020-08-04 11:57] m2-assistant[bot] opened #29380 "[Issue] [MFTF] Use ActionGroup to click done on the Search Categories popup"
This issue is automatically created based on existing pull request: magento/magento2#28989: [MFTF]  Use ActionGroup to click done on the Search Categories popup

---------
This PR use `AdminCategoriesClickDoneButtonOnPopupActionGroup` to click done button
instead `<click selector="{{AdminProductFormSection.done}}" stepKey="clickOnDoneAdvancedCategorySelect"/>`

[2020-08-04 12:03] ambkimmok commented on #29379
Seems that this was in fact caused by an old customization to wishlist functionality, so closing the issue...

[2020-08-04 12:03] #29379 closed, assigned to nobody

[2020-08-04 12:39] njecom commented on #16013
I fixed this issue on my local fresh magento 2 installation by manually entry in the 'core_config_data' table
web/cookie/cookie_doman = domain.local
Hope it help someone.
Thanks

[2020-08-04 13:38] m2-assistant[bot] opened #29381 "[Issue] Update code to reduce redundancy and simplify readability"
This issue is automatically created based on existing pull request: magento/magento2#28608: Update code to reduce redundancy and simplify readability

---------
Simplified code complexity by optimizing logic, redundant variable assignments, over-usage of returns within a function.  Eliminated needless and redundant variable assignment.

### Preconditions: (*)

Simplifying logic and readability ran

[2020-08-04 13:40] magento-engcom-team commented on #29381
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36438` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-04 14:19] Erickhdez opened #29382 "The shipping information is not saved in ver. 2.2.9"
### Preconditions (*)

1. Magento ver. 2.2.9
2. Checkout (shipping)

### Steps to reproduce (*)

1. When registering the shipping information and selecting the shipping method, an error is displayed with "Unable to save shipping information. Please check the data entered".
2. ![image](https://user-images.githubusercontent.com/69058884/89304788-7acaab00-d633-11ea-939f-59282e27870e.png)

### Expecte

[2020-08-04 14:29] theramppeople commented on #26377
This is preventing 3d secure and causing us major issues!

[2020-08-04 14:35] okorshenko commented on #26377
Hi All! We are doing our best to have it fixed in 2.4.1. Internal Epic has several stories and these stories are In Dev right now.

[2020-08-04 14:41] ryangerber1990 commented on #12777
This answer should fix the issue for windows users. Good Answer

[2020-08-04 14:43] TdAmi commented on #10290
After many search, I've found a solution.

In the Admin panel, go to **STORES > Configuration > General > Web** and just configure your "**Base URL**" and "**Secure Base URL**" with https.

I found by reading these lines in Magento\Framework\Session\Config :
`$isFullySecuredURL = $secureURL == $unsecureURL;
$this->setCookieSecure($isFullySecuredURL && $this->_httpRequest->isSecure());`

[2020-08-04 15:08] kanevbg commented on #24926
Maybe better solution is that module:uninstall Module_Name is to remove the data, and not setup:upgrade?

[2020-08-04 15:15] hewgim commented on #11431
Can this issue be reopened. This problem still seems to exist on Magento 2.3.5p1 (at least when inheriting from the blank theme) ?

[2020-08-04 15:54] hostep commented on #8508
Folks, this issue was closed because the original reported issue was fixed in Magento 2.2.2: https://github.com/magento/magento2/issues/8508#issuecomment-352397731

If you still run against this issue (or maybe a very similar one) please open a new ticket with exact steps of how to reproduce on a clean Magento installation. Doing it this way will get you quicker help then complaining on a 3-year o

[2020-08-04 15:55] shobekhan commented on #13007
Please use factories in your command class constructor injection

http://www.rosenborgsolutions.com/articles.php

[2020-08-04 15:56] joemstar opened #29383 "Cannot Insert and Upload Images to text editor 2.3.5-p2"
Preconditions (*)
1. Magento Open Source 2.3.5-p2
2. Insert/Edit Image

Steps to reproduce (*)
1. Click the Insert/Edit Image button in the text editor.
![image](https://user-images.githubusercontent.com/40399102/89315694-27fbee00-d649-11ea-8e01-fb813664c0aa.png)
2. Select the option to browse for image source.
![image](https://user-images.githubusercontent.com/40399102/89315798-47931680-d649-11ea

[2020-08-04 16:35] agusfernandez opened #29384 "Magento2 ProductsView with meta-messages everywhere"
Hi i need help with this issue, i have no idea why this happened. Can anybody help me with this?

<img width="1923" alt="Captura de Pantalla 2020-08-04 a la(s) 13 19 36" src="https://user-images.githubusercontent.com/49215336/89319983-49fc6d00-d657-11ea-9f07-a50d1ee94667.png">

thanks

[2020-08-04 17:04] ajijshekh123 commented on #29383
@magento give me 2.3.5-p2 instance

[2020-08-04 17:04] magento-engcom-team commented on #29383
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3.5-p2 instance for you

[2020-08-04 17:05] magento-engcom-team commented on #29383
Hi @ajijshekh123, here is your [Magento instance](https://i-29383-2-3-5-p2.instances.magento-community.engineering).
Admin access: [https://i-29383-2-3-5-p2.instances.magento-community.engineering/admin_a302](https://i-29383-2-3-5-p2.instances.magento-community.engineering/admin_a302)
Login: `739e00eb` Password: `b2db4c50de43`
Instance will be terminated in up to 3 hours.

[2020-08-04 17:16] ajijshekh123 commented on #29383
Hi @joemstar,
In Which module, You have to face the issue. Can you please update here?
Thanks.

[2020-08-04 17:24] joemstar commented on #29383
If I go to Contect>Pages>Edit and then try to insert an image I face this issue. I also have the same issue in blocks or other areas of admin with the same texted editor. I logged into your clean install of 2.3.5-p2 briefly and tried it there and noticed the problem doesn't exist there. Are there any suggestions as to what may cause this to be happening in my environment?

[2020-08-04 17:39] ajijshekh123 commented on #29383
Hi @joemstar,
I have verified this issue on "Content >> Elements >> Pages" and "Content >> Elements >> Block"
Not able to reproduce this issue.
**PFA:**

![Block](https://user-images.githubusercontent.com/24711761/89326104-6c1ddb80-d6a7-11ea-9e32-8140d0078897.png)

![Pages](https://user-images.githubusercontent.com/24711761/89326111-6de79f00-d6a7-11ea-8863-086f930981b9.png)

Thanks.

[2020-08-04 18:00] abnermeirelles commented on #28302
I was having the same problem, after 2 days I found the problem was in **--elasticsearch-host = 127.0.0.1**, I did that and the installation continued normally.

magento setup:install --base-url=http://192.168.0.197/ocean/ \
--db-host=localhost --db-name=banco --db-user=admin --db-password=mypass \
--admin-firstname=admin --admin-lastname=meir --admin-email=my@mail.com \
--admin-user=admin --admin

[2020-08-04 19:01] lingwooc commented on #28671
I have this issue in developer mode (I have not tried production mode yet). You do not need to attempt to pay. The error is thrown on all pages with a minicart.

[2020-08-04 19:04] VladimirZaets commented on #17705
Firstly investigate the usage of the `customer_address_id` field and deprecate it.
If we use it, we need to refactor and avoid usage of this field

[2020-08-04 19:59] pmclain commented on #29365
Wonder if this should be update on duplicate instead of insert on duplicate.
https://github.com/magento/magento2/blob/2.4.0/app/code/Magento/CatalogUrlRewrite/Setup/Patch/Data/UpdateUrlKeyForProducts.php#L73

[2020-08-04 20:20] hostep commented on #29384
@agusfernandez: it's most likely a duplicate of https://github.com/magento/magento2/issues/18519

Try this to solve it:
1. [disable the inline translations feature](https://docs.magento.com/user-guide/v2.3/system/translate-inline.html#step-2-enable-the-translate-inline-tool) of Magento
2. run `bin/magento setup:static-content:deploy ...` again to redeploy all static assets

That should hopefully s

[2020-08-04 20:34] #27317 closed, assigned to nobody

[2020-08-04 20:41] #26687 closed, assigned to nobody

[2020-08-04 20:54] OleksiyOleksiyovych commented on #28576
@nrkapoor @danielrenaud Could you, please, explain why it's not an issue?
How can I get different images for 'image', 'small_image', and for 'thumbnail'?

[2020-08-04 21:07] sdzhepa commented on #26343
@magento give me 2.4-develop instance

[2020-08-04 21:07] magento-engcom-team commented on #26343
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-04 21:08] magento-engcom-team commented on #26343
Hi @sdzhepa, here is your [Magento instance](https://i-26343-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26343-2-4-develop.instances.magento-community.engineering/admin_0f0f](https://i-26343-2-4-develop.instances.magento-community.engineering/admin_0f0f)
Login: `656f5e0a` Password: `e248991d4a84`
Instance will be terminated in up to 3 hours.

[2020-08-04 21:16] danielrenaud commented on #28576
@OleksiyOleksiyovych Different images are returned, i.e. the image you define as the thumbnail, or small_image, or main image is returned correctly. But GraphQl does not return the resized image because that is part of the theme, not GraphQl layer

[2020-08-04 21:43] sdzhepa commented on #25814
Hello @webamondo

Re-checked this issue on the latest `2.4-develop` code.
I am not able to reproduce it now, it seems was already fixed
Closed

![issue_25814](https://user-images.githubusercontent.com/3409584/89348042-82a94000-d671-11ea-81b4-9bc5a15ad444.gif)

[2020-08-04 21:43] #25814 closed, assigned to shikhamis11

[2020-08-04 21:45] OleksiyOleksiyovych commented on #28576
@danielrenaud  thank you for explaining. I agree, this is logical, but not what you expect when you do GraphQl query.
Do I must load big images and crop it on the frontend to the small if I need thumbnails? So the frontend theme on React or Vue must handle it, is it correct?

[2020-08-04 21:51] sdzhepa commented on #25554
Closed as Duplicate of #28931

[2020-08-04 21:51] #25554 closed, assigned to nobody

[2020-08-04 21:55] sdzhepa commented on #25457
We are not able to reproduce this issue on the latest `2.4-develop` code
It seems was already fixed in the scope of another issue/task/PR

[2020-08-04 21:55] #25457 closed, assigned to nobody

[2020-08-04 22:01] sdzhepa commented on #25404
Due to comment in this thread

Closed as fixed in `2.4-develop`

[2020-08-04 22:01] #25404 closed, assigned to nobody

[2020-08-05 06:30] TheRealHunzik opened #29387 "Uncaught Error: Class 'DOMDocument' not found in Magento 2.4 CE"
### Preconditions (*)

1.Magento 2.4 CE
2.Apache 2.4.41 (Ubuntu)
3.PHP 7.4.8 (cli)
4.mysql  Ver 8.0.21 for Linux on x86_64 (MySQL Community Server - GPL)
5.Ubuntu 20.04 LTS
6.Installed PHP extensions
[code]
7. i have tried to enable `xml` extension using `phpenmod -v 7.4 xml`

### Steps to reproduce (*)

1.Download Latest version of   [Magento CE](https://magento.com/tech-resources/download)
2.Ext

[2020-08-05 06:32] m2-assistant[bot] opened #29388 "[Issue] [MFTF] use action group to save categories"
This issue is automatically created based on existing pull request: magento/magento2#28993: [MFTF] use action group to save categories

---------
This PR use `AdminSaveCategoryActionGroup` to save category instead
`<click selector="{{AdminCategoryMainActionsSection.SaveButton}}" stepKey="saveSubCategory"/>`
`<waitForPageLoad stepKey="waitForSecondCategoryToSave"/>`

[2020-08-05 06:39] m2-assistant[bot] opened #29389 "[Issue] Refactor ResourceConnection.php"
This issue is automatically created based on existing pull request: magento/magento2#29341: Refactor ResourceConnection.php

---------
### Description (*)
Just the minor adjustment to improve the class readability.
This also introcuces `const` visibility and `strict_types`.

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scen

[2020-08-05 07:13] amenk commented on #26301
Workaround for us is currently to execute

    update catalog_category_entity_varchar set value=  SUBSTRING_INDEX(value, '/', -1)  WHERE value is not null and attribute_id=(SELECT attribute_id FROM eav_attribute WHERE attribute_code = 'image' AND entity_type_id = 3);

[2020-08-05 07:20] haunguyen1989 opened #29390 "Instant Purchase on product page not working Braintree properly magento 2.4"
### Preconditions (*)

1. Install magento 2.4 EE
2. Linux Ubuntu 20.04 LTS
### Steps to reproduce (*)

1. Config payment method Braintree:
Merchant ID, Public Key, and Private Key
Set Enable this Solution to Yes.
If applicable set Enable PayPal through Braintree to Yes.
Set Vault Enabled to Yes.
**Enable Instant Purchase:** Sales - > Sales -> Instant Purchase
Set Enabled to Yes.

2. Login and plac

[2020-08-05 07:51] madhurajawat commented on #27987
@magento give me an instance

[2020-08-05 07:56] madhurajawat commented on #25254
@magento give me 2.3-develop instance

[2020-08-05 07:56] magento-engcom-team commented on #25254
Hi @madhurajawat. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-08-05 07:56] madhurajawat commented on #27987
@magento give me 2.3-develop instance

[2020-08-05 07:56] magento-engcom-team commented on #27987
Hi @madhurajawat. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-08-05 09:28] oviliz commented on #21885
So sad to see @magento-admin ignoring this...

[2020-08-05 09:28] niku0911 commented on #10234
is there any solution for this, because it's not working on 2.3.3?

[2020-08-05 10:32] ashwanichandra opened #29395 "Unable to Proceed with Magento2.4.0 Installation on XAMPP localhost"
I'm not able to proceed ahead with the Magento 2.4.0 open source installation on Localhost XAMPP on Windows 10. I just get the landing page but there is no buttons to proceed ahead. Please see the screenshot
<img width="600" alt="magento issue" src="https://user-images.githubusercontent.com/69243279/89402825-0e37d500-d735-11ea-88c1-bfbc735d2a57.png">

[2020-08-05 10:36] magento-engcom-team commented on #28303
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36470` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-05 10:44] iphigenie opened #29397 "What does it take to get an issue past the bots and into triage so one can work on it?"
I have a few contributions to the migration tool but both with inventory and here I have reported issues.
The bots kick in, confirm format valid.
I request an instance and can replicate the bug
but the bug is still not workable because it needs to go through triage.

I see many bugs stuck in limbo, what is needed so it can be moved forward?

For example one is over a month old but still there - i

[2020-08-05 10:48] iphigenie commented on #28183
how do i get help for triage on this?

[2020-08-05 10:51] alfaproton commented on #23908
Hi @hostep. Your patch prevents customer creation when you create an order from Admin. (Create New Order -> Create New Customer).
I think it should be:
`$customer = $this->getCustomer();
  if ($customer && !$this->getIsSuperMode()) {
  return is_null($customer->getId());
  }`

[2020-08-05 10:57] webmaiatec commented on #29321
Hello,

Please note that the swatch js fix is not included in Magento 2.3.5-p1 or 2.4.0. I see it fixed in 2.4-dev branch. So probably it will included 2.4.1.

[2020-08-05 11:38] magento-engcom-team commented on #29299
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-08-05 11:40] magento-engcom-team commented on #29299
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36471` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-05 11:43] Serializator opened #29403 "Custom "attribute_set_id" filter applied by the collection processors override condition type in search criteria"
### Preconditions (*)
1. Magento 2.4 / 2.3.5-p2 / 2.4-develop

### Steps to reproduce (*)
1. Create one or more attribute sets
2. Create one or more attribute groups in these attribute sets
3. Try to retrieve these attribute groups from both attribute sets using the REST endpoint below

`/rest/V1/products/attribute-sets/{attribute-set-id}/groups/list?searchCriteria[filter_groups][0][filters][0][fi

[2020-08-05 11:50] lotar commented on #24353
Hey @robolmos,

Thanks for the feedback.

Nor am I, but compiling / reloading of VCL it's not an option for us give the rest of the setup.

Fixed, ty ;)

[2020-08-05 11:54] hostep commented on #29395
@ashwanichandra: the setup wizard was removed in Magento 2.4.0, you can now only install Magento using the commandline: `bin/magento setup:install ...`

See the [release notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-open-source.html):

[2020-08-05 12:11] krishprakash commented on #29397
Hi @iphigenie. Thank you for your report !!
GitHub issue tracker is intended for magento core technical issues only
You can reach on Slack channel to ask regarding this

[2020-08-05 12:11] #29397 closed, assigned to krishprakash

[2020-08-05 12:14] krishprakash commented on #29374
Hi @Fabiojose2041.
Feel free to reopen the issue once you update all the necessary details
Thanks !!

[2020-08-05 12:14] #29374 closed, assigned to krishprakash

[2020-08-05 12:17] vbyno commented on #28431
Isn't it an expected behavior for bundle products with dynamic prices? The price is not null only for fixed-price bundles, for dynamic ones the prices will be taken from the product at the moment order is created.

Otherwise, if we want the correct price of a simple product to be always displayed in product options of bundle product, we would need to:
1) introduce new `price_type` value (probably,

[2020-08-05 12:23] krishprakash commented on #29378
Hi @uttam-dhameliya. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-08-05 12:23] #29378 closed, assigned to nobody

[2020-08-05 12:29] ihor-sviziev commented on #24353
@lotar should I update my PR https://github.com/magento/magento2/pull/28137 ?

[2020-08-05 12:33] Eddcapone commented on #29188
The problem is fixed, they released 1.0.7

[2020-08-05 12:33] #29188 closed, assigned to nobody

[2020-08-05 12:43] vbyno opened #29406 "Order API doesn't allow to interprete option_id of bundle product line item"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Create a fixed-price bundle product.
2. Add 2 options containing the same simple products, but with different price rules (percentage/fixed)
![image](https://user-images.githubusercontent.com/2923624/89412656-20fbdb00-d730-11ea-8c74-7b4f6135407d.png)
3. Create an order. Pick all items but one:
![image](https://user-images.gith

[2020-08-05 12:45] squeegy06 commented on #28211
Has anyone found a solution for this?  We are also experiencing this issue with out shop after updating to 2.3.5

[2020-08-05 12:45] lotar commented on #24353
@ihor-sviziev honestly I think there's no need since my update was specific for infrastructure setup (auto scaling group issue). While it does solve the problem for us, it won't necessarily be 100% correct solution (or even needed) for different kinds of setup.

Also rethinking the problem, it would be better to do
`} elsif (beresp.status == 503) {`
instead of
`} elsif (beresp.status > 500) {`
Sin

[2020-08-05 12:49] krishprakash commented on #29368
Hi @JamesSWS.
Kindly update all the details necessary Steps to Reproduce,Expected and Actual Result to reproduce the issue
Thanks !!

[2020-08-05 13:30] jorgb90 opened #29407 "Second Page Showing All Remaining Configurations Configurable Products"
### Preconditions (*)
1. Magento 2.3.5

### Steps to reproduce (*)
1. Go in admin and create a configurable product.
2. Create configurations by selecting some attributes. Make sure you make at least 60 configurations.
3. When created the first 20 on the first page are shown. Go to the next page and it will show all 40 configurations instead of the next 20.

### Expected result (*)
1. 20 per page

[2020-08-05 13:43] ihor-sviziev opened #29409 "[Performance] Slow product edit page with big amount of custom options"
### Preconditions (*)
1. Magento 2.3.5-p2 or 2.4-develop

### Steps to reproduce (*)
1. Create simple product  OR  import following file:
[export_catalog_product_20200805_133448.zip](https://github.com/magento/magento2/files/5028739/export_catalog_product_20200805_133448.zip)
- Add 8 custom options, each of them with option type "Drop-Down", values - 12 month names (Jan - Dec)
![image](https://use

[2020-08-05 13:57] jorgb90 commented on #29407
Closing issue, because issue already exists and is solved, see #28967

[2020-08-05 13:57] #29407 closed, assigned to nobody

[2020-08-05 13:58] ihor-sviziev commented on #29387
@TheRealHunzik seems like you don't have installed `dom` php extension.
You can see that there is dependency declared in composer.json.
https://github.com/magento/magento2/blob/ec098d26e7735528beb8ef338b1eeb25eab3a1a1/composer.json#L18

Also should should have such error in case if you'll run composer install.

[2020-08-05 14:07] keharper commented on #29113
Does this affect the GraphQL mutations for creating/updating a customer? (createCustomerV2 and updateCustomerV2 in 2.4.1.)

[2020-08-05 15:00] kemexyz commented on #28424
@magento-engcom-team please reconfirm this issues see last comment

[2020-08-05 16:06] diegoplada commented on #28211
@squeegy06

https://drive.google.com/file/d/1AQ2KBFLgo5flTrzBeTz7iyOV0s20qBYI/view?usp=sharing

[2020-08-05 16:43] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-08-05 16:44] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-05 16:45] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_6510](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_6510)
Login: `2fd09a9b` Password: `958732c9620a`
Instance will be terminated in up to 3 hours.

[2020-08-05 17:01] minhluan259 commented on #29383
@ajijshekh123
The new media gallery can not load old images and images which uploaded via file transfer (FTP, SSH) to media folder.

Steps to produce:

Issue 1:
1. Upload images to folder pub/media/wysiwyg/ by FTP (SSH)
2. Go to text editor and insert image (by new media gallery) - folder wysiwyg is blank

Issue 2:
1. Go to text editor and upload image to folder wysiwyg/new/ (by new media gallery)

[2020-08-05 18:18] pinedamg commented on #28237
I'm experiencing the same issue here, I thought it was the Amasty Extension Layered Navigation, but is still happening without the extension, definitely is something related with Varnish and Magento Core, and clearly this happens on a random way, and there is not a pattern or clue about how to reproduce it.

Does someone have any clue about it? thank you very much in advance.

![Selection_039](htt

[2020-08-05 18:43] naydav commented on #29119
Merged with https://github.com/magento/magento2-login-as-customer/pull/193

[2020-08-05 18:43] #29119 closed, assigned to engcom-Foxtrot

[2020-08-05 18:43] naydav commented on #29122
Merged with https://github.com/magento/magento2-login-as-customer/pull/192

[2020-08-05 18:43] #29122 closed, assigned to engcom-Foxtrot

[2020-08-05 18:44] naydav commented on #29120
Merged with https://github.com/magento/magento2-login-as-customer/pull/189

[2020-08-05 18:44] #29120 closed, assigned to engcom-Foxtrot

[2020-08-05 18:45] naydav commented on #29112
Merged with https://github.com/magento/magento2-login-as-customer/pull/194

[2020-08-05 18:45] #29112 closed, assigned to engcom-Foxtrot

[2020-08-05 18:46] naydav commented on #29121
Merged with https://github.com/magento/magento2-login-as-customer/pull/194

[2020-08-05 18:46] #29121 closed, assigned to engcom-Foxtrot

[2020-08-05 18:48] lingwooc commented on #28671
and production mode

[2020-08-05 19:59] #29395 closed, assigned to nobody

[2020-08-05 20:05] sdzhepa commented on #29390
@haunguyen1989

as was mentioned in this blog post: https://community.magento.com/t5/Magento-DevBlog/Deprecation-of-Magento-core-payment-integrations/ba-p/426445
and in the [Release notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html):

This module/functionality has been removed from the Magento code base.
It means we are not able to fix through this repo

[2020-08-05 20:05] #29390 closed, assigned to nobody

[2020-08-05 20:53] jonaschen623 commented on #28211
patch file from magento support team (for **EE** version),

[MDVA-26005_EE_2.3.4_COMPOSER_v1.patch.zip](https://github.com/magento/magento2/files/5031058/MDVA-26005_EE_2.3.4_COMPOSER_v1.patch.zip)

To apply the patch:

Please upload the patch into your Magento root directory and run the SSH command below:
`patch -p1 < FILE_NAME.patch`

[2020-08-05 21:08] dharake commented on #29365
I can confirm we are experiencing the same issue when trying to upgrade from CE 2.3.5-p2 to 2.4.0

[2020-08-05 21:09] dharake commented on #29365
I tried this with no success unfortunately. Unrecognised class error or something similar

[2020-08-05 22:58] lingwooc commented on #28671
Oh apparently "Prior to Magento 2.4.0, it was recommended that merchants install and configure the official Braintree payment integration extension from the Magento Marketplace to replace the core integration."

Was it? Where? I'm sick of this, I really am.

[2020-08-05 23:00] MichaelThessel commented on #29365
Can confirm issue. Upgrading from 2.3.5 to 2.4.

[2020-08-05 23:03] BassemN commented on #29383
@magento give me 2.3.5-p2 instance

[2020-08-05 23:03] magento-engcom-team commented on #29383
Hi @BassemN. Thank you for your request. I'm working on Magento 2.3.5-p2 instance for you

[2020-08-05 23:04] magento-engcom-team commented on #29383
Hi @BassemN, here is your [Magento instance](https://i-29383-2-3-5-p2.instances.magento-community.engineering).
Admin access: [https://i-29383-2-3-5-p2.instances.magento-community.engineering/admin_c83d](https://i-29383-2-3-5-p2.instances.magento-community.engineering/admin_c83d)
Login: `4594bd4c` Password: `49cb748d9b74`
Instance will be terminated in up to 3 hours.

[2020-08-06 01:06] kamzata commented on #28673
Same error here, therefore Magento 2.4.0 cannot be executed.

My config:

- Debian 10
- Apache 2.4.38
- PHP 7.4.8
- MariaDB 10.4.13
- Composer 1.10.10

I tried also using PHP 7.3.20 but nothing's changed.

[2020-08-06 03:59] Ckaneriya commented on #7374
@vasilii-b
I have added products in bundle options. the input type is radio button. I want to display the product image in summary section
Is there a way to display the product image in the bundle option summary?

[2020-08-06 04:05] RakeshJesadiya commented on #1393
you can check the articles to fix this issue, https://www.rakeshjesadiya.com/issue-customer-attribute-not-saving-value-in-admin-panel-magento-2/

[2020-08-06 05:28] konarshankar07 commented on #29354
@magento I am working on this

[2020-08-06 06:34] usman786cs commented on #27867
Thanks @medigeek it worked for me

[2020-08-06 06:45] elvinristi commented on #6401
if you compare commits then actually nothing was done. was reverted probably something what didn't exist yet in M2.1 and therefor no matter of the version, issue continues.

temporary fix can be currently https://github.com/magento/magento2/issues/6401#issuecomment-325510002

but longer run should be similar what was done here but closed and ignored due inactivity https://github.com/magento/magent

[2020-08-06 06:52] ihor-sviziev commented on #6401
@elevinskii https://github.com/magento/magento2/issues/6401#issuecomment-325510002 is really hack and not a correct solution, it breaks automatic cache flushing for category pages when any product was changed in the admin. definitely don't recommend it.

https://github.com/magento/magento2/pull/12831 this solution is quite good, but it's not finalized in order to be accepted. You could create new

[2020-08-06 07:07] m2-assistant[bot] opened #29416 "[Issue] Changed misunderstanding title"
This issue is automatically created based on existing pull request: magento/magento2#29410: Changed misunderstanding title

---------

### Preconditions: (*)

In order failure page "We received your order!" is not appopriate as the title of the page.

### Steps to reproduce: (*)

1. Checkout an order with Paypal and then click cancel and return to the site
2. Read at the title of the failure page

[2020-08-06 07:35] jbclaudio commented on #28237
I have found the cause and the solution. The cause is that when Varnish is cleared and a user comes to a filtered page first, the JSON is cached. I have excluded this for Varnish and this solved the problem.

[2020-08-06 07:40] dyuk1987 commented on #28237
@jbclaudio
O-M-G finally someone came up with a solution!
That's some amazing findings there mate.
Do you mind sharing the VCL rules you have added?

[2020-08-06 08:14] madhurajawat commented on #27987
@magento i'm working on this

[2020-08-06 08:17] madhurajawat commented on #27987
@magento give me 2.3-develop instance

[2020-08-06 08:17] magento-engcom-team commented on #27987
Hi @madhurajawat. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-08-06 09:04] m2-assistant[bot] opened #29418 "[Issue] [GraphQl][GiftMessage] Add functionality for getting message for order item"
This issue is automatically created based on existing pull request: magento/magento2#29417: [GraphQl][GiftMessage] Add functionality for getting message for order item

---------
### Description (*)
Now we use `customerOrders` query for getting GiftMessage of order
<img width="1011" alt="Screenshot 2020-08-06 at 11 54 41" src="https://user-images.githubusercontent.com/13517181/89512314-bacc9200-d7

[2020-08-06 09:17] muneerWebDev commented on #9117
grunt less:theme worked for me

[2020-08-06 09:36] gilbertsohal opened #29419 "Magento 2.3.4 - Order don't get recorded in admin"
### Preconditions (*)

1. Magento 2.3.4
2. PHP 7.3
3. Braintree Gene 4.0.4
4. Default Onepage Checkout

### Steps to reproduce (*)

1. Add an item in cart and place orders
2. Magento sends confirmation email
3. Order don't get recorded in magento admin
4. This happens 1 in 10 order

### Expected result (*)

1. Magento sends confirmation email
2. Order get recorded in Magento admin i can view the o

[2020-08-06 10:09] ZIPITRO commented on #28237
Wow, great job! Would you please share with us your VCL rules?

[2020-08-06 10:16] realchriswells commented on #4427
Bit of an old ticket, but I'm having the same thing happen in 2.3.4.

[2020-08-06 10:20] pinedamg commented on #28237
@jbclaudio That sounds great, but I'm curious because I've tried disabling Varnish and this still happening, are you completely sure is fixed? Did you were able to reproduce the issue to verify if the fix is real? I would like to think that you are our savior in this very rare issue :P, and as our bug-mates said, please could you show us that portion of the VCL file?, thanks

[2020-08-06 11:17] haunguyen1989 commented on #29390
thank @sdzhepa

[2020-08-06 11:55] m2-assistant[bot] opened #29420 "[Issue] [MFTF] Usage already defined action groups"
This issue is automatically created based on existing pull request: magento/magento2#29386: [MFTF] Usage already defined action groups

---------
This PR use already defined action groups `AdminSubmitAdvancedInventoryFormActionGroup` , `AdminClickOnAdvancedInventoryLinkActionGroup` `AdminSetStockStatusConfigActionGroup` inside tests  according to Best Practice

[2020-08-06 12:08] JannMulton opened #29421 "Klarna configure button disabled in admin"
Resolution of this issue will be provided in the scope of internal tickets
- `BUNDLE-2831` [Klarna 2.4.2] Remove dependency on PayPal module
- `BUNDLE-2832` [Klarna 2.3.7] Remove dependency on PayPal module

### Preconditions (*)

1. Magento 2.3.2 + can be reproduced on the 2.3.5-p2 and 2.4.0 composer versions
2. PHP 7.2

### Steps to reproduce (*)

1. Disable Magento_Paypal
2. Enable Klarna payme

[2020-08-06 13:07] magento-engcom-team commented on #28422
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36520` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-06 13:24] magento-engcom-team commented on #29097
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36522` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-06 13:25] dobooth commented on #29226
Doc PR added.

[2020-08-06 14:29] magento-engcom-team opened #29425 "Implement unions in GQL"
Implement unions in graphql

As a developer I want to be able to implement unions in the Magento graphql schema language following the specification https://spec.graphql.org/June2018/#sec-Unions

Acceptance criteria:
allow a syntax like the following:

[code]

[2020-08-06 14:29] magento-engcom-team commented on #29425
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36456

[2020-08-06 15:04] kamzata commented on #28673
I got this to be accurate:
`main.CRITICAL: Class Magento\Framework\App\Http\Interceptor does not exist {"exception":"[object] (ReflectionException(code: -1): Class Magento\\Framework\\App\\Http\\Interceptor does not exist at /var/www/magento/vendor/magento/framework/Code/Reader/ClassReader.php:26)"} []`

[2020-08-06 15:05] ihor-sviziev commented on #29421
Hi @JannMulton,
Thank you for your report!

This report relates to bundled extension and not to Magento, support of this extension is available on Magento Marketplace:
https://marketplace.magento.com/klarna-m2-checkout.html#product.info.details.support

Please contact the support in order to resolve this issue.

BR,
Ihor

[2020-08-06 15:12] ruipns commented on #15427
Hey
So I use 2.3.5-p1 and something like this happens. I just can't understand one thing, I use massiveGRID so I easily do a environment clone, change the url and it's working as a test one. The curious thing is that in live site this happens, all the info appears in quote tables but the order itself is not created at all, but, in the clone environment all works fine.
So I thought of 2 option or i

[2020-08-06 16:44] moni921 commented on #29365
Any solution,  we are stuck here

[2020-08-06 17:18] sunel commented on #29365
@moni921 for now you can disable and re-enable foreign key constrain

...php
$setup->getConnection()->query('SET @TEMPORARY_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=1');
$this->groupRepository->delete($customerGroup);
$setup->getConnection()->query('SET FOREIGN_KEY_CHECKS=IF(@TEMPORARY_FOREIGN_KEY_CHECKS=0, 0, 1)');
...

[2020-08-06 17:41] ajijshekh123 commented on #29383
@minhluan259 - Magento Provide the Instance so I can't able to verify this issue in my local system.

[2020-08-06 17:42] ajijshekh123 commented on #29326
@magento give me 2.3.5-p2 instance

[2020-08-06 17:42] magento-engcom-team commented on #29326
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3.5-p2 instance for you

[2020-08-06 17:44] magento-engcom-team commented on #29326
Hi @ajijshekh123, here is your [Magento instance](https://i-29326-2-3-5-p2.instances.magento-community.engineering).
Admin access: [https://i-29326-2-3-5-p2.instances.magento-community.engineering/admin_e623](https://i-29326-2-3-5-p2.instances.magento-community.engineering/admin_e623)
Login: `11af1d63` Password: `eee8e12312fa`
Instance will be terminated in up to 3 hours.

[2020-08-06 18:29] dobooth commented on #29357
Hi. Docs team here. What would be the proper fix for this? We can easily update the docs but would like to know the recommended way to do this. Please leave a comment in #648 and we will make the update. Thanks.

[2020-08-06 19:01] iphigenie commented on #19221
I think I have a related issue #28183 where in the columns and the filter, store view values are being used not admin values.

[2020-08-06 19:29] Blatant commented on #27942
I am having the same problem, for me with CMS pages.
I'm trying to update alyout of the `home` CMS Page, I created file :
`\[VENDOR]\[THEME]\Magento_Cms\layout\\cms_page_view_selectable_home_NewTest.xml`
Flushed the Cache
Edited the "Homepage" `home` CMS Page, I can see "NewTest" in the selector and when I select it and Save it does save (revisiting CMS page editor later shows the value as saved)

[2020-08-06 19:31] Blatant commented on #28750
Same for me .

I'm trying to update alyout of the `home` CMS Page, I created file :
`\[VENDOR]\[THEME]\Magento_Cms\layout\cms_page_view_selectable_home_NewTest.xml`
Flushed the Cache
Edited the "Homepage" `home` CMS Page, I can see "NewTest" in the selector and when I select it and Save it does save (revisiting CMS page editor later shows the value as saved) however no layout update is being perfo

[2020-08-06 20:01] MichaelThessel commented on #29312
What a nightmare. Same issue here. This is the first time I encountered a 2fa setup situation that requires email. Usually you log into admin, enable 2fa and then set up the token logged into admin.

Does anyone know how to re-trigger that email? I didn't have SMTP set up on my dev install when I tried to log in the first time.

In addition the readme (`vendor/magento/module-two-factor-auth/README

[2020-08-06 20:13] nickpiro opened #29428 "Cart Price Rule Free Shipping Error Magento 2.3.x"
When creating a Cart Price Rule for Free Shipping for Orders of $49+ on Matching Items Only, with specific exclusions via Conditions, Free Shipping is given to entire cart when non-excluded items are added and cart goes above $49.

### Preconditions (*)

1. Magento 2.3.0 , 2.4-develop

### Steps to reproduce (*)

1. Create Cart Price Rule with following Conditions

- If ALL  of these conditions ar

[2020-08-06 21:01] vanvasten commented on #29365
Can confirm issue. Upgrading from 2.3.5-p2 to 2.4.

[2020-08-06 21:31] MichaelThessel opened #29430 "Duplicate layout handle update"
### Preconditions (*)

1. 2.4

### Steps to reproduce (*)

1. Look at: vendor/magento/module-two-factor-auth/view/adminhtml/layout/tfa_tfa_requestconfig.xml

This contains the `<update handle="tfa_screen" />` layout update instruction twice.

### Expected result (*)

1. Single layout update instruction

### Actual result (*)

1. Duplicate layout update instruction

---
Please provide [Severity](ht

[2020-08-06 21:40] MichaelThessel opened #29431 "msp/twofactorauth/enabled config option doesn't work"
### Preconditions (*)

1. 2.4

### Steps to reproduce (*)

1. Install 2.4
2. Follow instructions from `vendor/magento/module-two-factor-auth/README.md` and update `core_config_data` `msp/twofactorauth/enabled = 0`
3. Flush cache

[code]

Followed instructions from `vendor/magento/module-two-factor-auth/README.md`:

[code]

Additionally the command line command referenced in the readme also doesn't

[2020-08-06 21:43] mslabko commented on #28200
It's really a good improvement however, unfortunately, it will bring breaking changes, so we cannot accept it for 2.4. (unless it will be approved)

Maybe we can do the following: mark all dynamic product attributes as deprecated and introduce an object that will hold all dynamic product attributes, something like

[code]
Only one drawback that we need to support different types like texts, lists,

[2020-08-06 22:16] MichaelThessel commented on #29312
In case anyone needs a temporary workaround to get this working without having SMTP set up:

[2020-08-06 22:21] MichaelThessel commented on #29312
In case anyone needs a temporary workaround to get this working without having SMTP set up:
1. navigate to /admin and log in
2. you should see the 2FA screen now
3. add `var_dump($url);die;` on line 86 in `vendor/magento/module-two-factor-auth/Model/EmailUserNotifier.php`
4. refresh /admin
5. copy the URL that is displayed
6. remove the var_dump
7. use the URL copied earlier to navigate to the 2FA

[2020-08-06 22:43] isaacBats commented on #29312
A great Magento MX developer has created a module to disable double authentication.
This is the repo [Module_EnableDisableTFA](https://github.com/wolfsellers/module-enabledisabletfa).
You can also install it from composer `composer require wolfsellers/module-enabledisabletfa`

by @Rus0

[2020-08-07 00:24] Chris-ISN commented on #27942
If you have the "Custom Layout Update" not showing in the dropdown issue, try changing your scope in the admin panel to the store view (eg change scope from "All Store Views" to your store view.

We just had this issue and changing the scope to store view made the missing custom layout update appear in the dropdown (for category updates).

[2020-08-07 00:41] LiamTrioTech opened #29432 "Modifying the Maintenance screen."
Service Temporarily Unavailable
The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.

![image](https://user-images.githubusercontent.com/68578009/89596427-406b4300-d8ab-11ea-9e2f-f71b5c1fbb95.png)

### Description (*)
Can this page show store contact details or be edited in some way?

Showing during Maintenance mode.

[2020-08-07 02:17] Duong-146 commented on #24992
When I change my email in local repository, it not change and have error is: line 420: syntax error: unexpected end of file
This is line 419 and line 420 in file what had error
eval "$filter_env" < /dev/null ||
		die "env filter failed: $filter_env"
I hope fixing it. Thanks people ^^

[2020-08-07 02:31] 0x15f commented on #24992
What file had this error?

[2020-08-07 02:37] Duong-146 commented on #24992
git-filter-branch line 420, can you give me this file for comparing ?

[2020-08-07 03:13] LiamTrioTech commented on #25551
Still a problem, e.g. WeltPixel and custom phtml template when Minified and switching to production mode there is errors.
Magento 2.3.2 if we upgrade to 2.4 is it fixed?

Parse error: syntax error, unexpected 'else' (T_ELSE), expecting end of file in /var/www/html/var/view_preprocessed/pub/static/app/code/FT/DueDate/view/frontend/templates/stocklabel.phtml on line 1

[code]

On Product pages.

Che

[2020-08-07 04:10] dyuk1987 commented on #28237
On second thought, I could not figure out the relationship between the filtered page and the unfiltered page.
Aren't those filtered pages standalone cache entries in Varnish?

And I tried to follow your findings, but still could not find a way to 100% reproduce the issue as well.
Could you please also advise how you could do that?

[2020-08-07 04:35] magento-engcom-team commented on #28520
Hi @nrkapoor. Thank you for your report.
The issue has been fixed in magento/magento2#28821 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [d29468da99c7dae39be1dbef880edd867440891f](https://github.com/magento/magento2/commit/d29468da99c7dae39be1dbef880edd867440891f)
 - [e798f7553d6ab21132d476ef0d7f7ab7a99475ea](https://github.com/magento/magento2/commit/e798f7553d6ab21132d476ef0d7f7ab7a9

[2020-08-07 04:35] #28520 closed, assigned to Usik2203

[2020-08-07 04:35] magento-engcom-team commented on #28558
Hi @magento-engcom-team. Thank you for your report.
The issue has been fixed in magento/magento2#28821 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [d29468da99c7dae39be1dbef880edd867440891f](https://github.com/magento/magento2/commit/d29468da99c7dae39be1dbef880edd867440891f)
 - [e798f7553d6ab21132d476ef0d7f7ab7a99475ea](https://github.com/magento/magento2/commit/e798f7553d6ab21132d476e

[2020-08-07 04:35] #28558 closed, assigned to rogyar, Usik2203

[2020-08-07 05:53] eddyszucs commented on #26484
I've just had this issue.
I am creating or updating a product with "rest/all/V1/products/", everything fine until than but after that i have to make some store specific changes for a product with "rest/<shop_code>/V1/products/sku" like price or name, the product images "loose" their roles for that store.

[2020-08-07 06:16] hostep commented on #29357
@dobooth is talking about https://github.com/magento/merchdocs/issues/648 btw

Unfortunately I currently don't have time to look into this in detail I'm afraid.

[2020-08-07 06:25] m2-assistant[bot] opened #29434 "[Issue] [MFTF] Use action group for search in product grid"
This issue is automatically created based on existing pull request: magento/magento2#29385: [MFTF] Use action group for search in product grid

---------
This PR use `SearchProductGridByKeywordActionGroup` for search in product grid instead this snippet of the code

     <conditionalClick selector="{{AdminProductGridFilterSection.clearAll}}" dependentSelector="{{AdminProductGridFilterSection.clear

[2020-08-07 07:17] sudhanshu-bajaj commented on #29312
Temporary solution to kick start your development, just disable **Magento_TwoFactorAuth** module. It worked for me.

`bin/magento module:disable Magento_TwoFactorAuth`

[2020-08-07 07:50] JannMulton commented on #29421
Klarna is part of Magento core and not installed separately

[2020-08-07 07:56] jbclaudio commented on #28237
I've added this to the .vcl file:
[code]

This project uses the Amasty Shopby module. It adds the parameter to the filter pages, which I could use. You may be able to use another parameter that Magento itself adds.

After this has been added to the .vcl file, the problem no longer occurs.

[2020-08-07 08:00] nickpiro commented on #21637
Has this issue been resolved in any versions? Still an issue in 2.3.x

[2020-08-07 08:25] iphigenie commented on #28183
@magento add to contributors team

[2020-08-07 08:26] iphigenie commented on #28183
@magento I am working on this

[2020-08-07 08:27] iphigenie commented on #28183
@magento give me 2.4-develop instance

[2020-08-07 08:27] magento-engcom-team commented on #28183
Hi @iphigenie. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-07 08:28] magento-engcom-team commented on #28183
Hi @iphigenie, here is your [Magento instance](https://i-28183-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28183-2-4-develop.instances.magento-community.engineering/admin_0881](https://i-28183-2-4-develop.instances.magento-community.engineering/admin_0881)
Login: `58409647` Password: `10b1d326d40f`
Instance will be terminated in up to 3 hours.

[2020-08-07 08:45] Blatant commented on #27942
Hi @Chris-ISN , thanks forthe reply! I don't have that issue (indeed the CM Page was already assigned to a specific view). I am working on CMS Pages not categories (test to follow!) and got the item to appear in the dropdown no problem, it just does not get applied. https://github.com/magento/magento2/issues/28750 describes my issue better (though its not unrelated) so I cross-posted there too.

I

[2020-08-07 08:53] Eddcapone commented on #3356
Does not work in 2.3.5-p2

[2020-08-07 09:11] nickpiro commented on #8614
Yeah, this should be reopened.

[2020-08-07 09:21] Eddcapone opened #29436 "Can't override template from custom module"
It seems to be impossible to override the template **vendor\magento\module-checkout\view\frontend\templates\cart\item\renderer\actions\edit.phtml** from your own module e.g. by using layout updates.

(The template shows the edit button near quote items in the cart)

### Preconditions (*)

1. Magento EE 2.3.5-p2

### Steps to reproduce (*)

1. Create own module (In my case: Company_Configurator)
2.

[2020-08-07 09:25] gilbertsohal commented on #29419
Is there Someone who can help me without upgrade to 2.4 ?

[2020-08-07 10:03] gabrieldagama commented on #26870
@magento give me test instance

[2020-08-07 10:04] gabrieldagama commented on #26870
@magento give me 2.4-develop instance

[2020-08-07 10:04] magento-engcom-team commented on #26870
Hi @gabrieldagama. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-07 10:04] stephansteiner commented on #29377
Renaming the file is not an option - especially when we migrate the shop from M1 to M2, where the import from the ERP system worked with Magento1 SOAP API with longer filenames. On the other hand our customer needs "seo-optimized" image names that contain the product name (plus some version info we need for our import/upgrade logic). So 90 characters for a dispretion path is very "short" if you ha

[2020-08-07 10:06] magento-engcom-team commented on #26870
Hi @gabrieldagama, here is your [Magento instance](https://i-26870-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26870-2-4-develop.instances.magento-community.engineering/admin_cb2e](https://i-26870-2-4-develop.instances.magento-community.engineering/admin_cb2e)
Login: `bb5ad135` Password: `e62d77eea7f1`
Instance will be terminated in up to 3 hours.

[2020-08-07 12:00] moshe770 commented on #1393
Thanks @RakeshJesadiya , you saved my dayS!

[2020-08-07 12:54] BavoJanss commented on #29365
For the update to succeed all keys should be included in the query.
Change lines according below:

[code]

[2020-08-07 12:58] dharake commented on #29365
Can you provide more details? Which file are you changing?

[2020-08-07 13:01] Blatant commented on #27942
Ok, I have debugged and actually solved my issue. I redact my vote on this issue as "not related" now to Layout Updates appearing in admin pertaining to Categories.

FYI, Just in case it's relevant my solution was that it was all to do with an omission on my part inthe xml file.
Once I debugged what update Handles where being called I was able to correct my XML and it worked fine....
`\Vendor\Them

[2020-08-07 13:02] Blatant commented on #28750
I actually solved my issue, posting here in case it helps....
For me I had missed the `<update handle="" />` declaration in my XML file....
This example works 100% for me :

`\Vendor\Theme\Magento_Cms\layout\cms_page_view_selectable_home_NewTest.xml` :
[code]
FYI the handle name is the full name of your file!

[2020-08-07 14:00] AntonEvers commented on #29358
@jesperbrejning I've sent feedback on how to resolve this to MWise support.

[2020-08-07 14:29] vanvasten commented on #29365
Hi @dharake
@BavoJanss is talking about file "UpdateUrlKeyForProducts.php" located in > vendor/magento/module-catalog-url-rewrite/Setup/Patch/Data

It worked for me!!
Thanks @BavoJanss

[2020-08-07 14:36] AGPDev commented on #29334
i have this problem too, nice work Magento, no answers in 8 days ?

[2020-08-07 14:45] jean323 commented on #29334
hello friend, I solved it by reinstalling magento

[2020-08-07 14:50] ihor-sviziev commented on #29421
@JannMulton it would be better to submit issue to support since the Klarna is vendor bundled extensions and we don’t control it’s source code

[2020-08-07 14:53] bluedarter2 commented on #29357
@hostep who did the code change?  Surely they would know the correct way a user, such as myself, would need to react to their code change - and can give guidance to the docs people.

[2020-08-07 15:16] joemstar commented on #29383
I thought of one more detail that may have led to this problem. I attempted to upgrade from 2.3.5-p1 to 2.4.0. However, the upgrade failed because my hosting provider was only running ElasticSearch 6 instead of 7. Therefore, I downgraded to 2.3.5-p2. I generally try not to perform downgrades and I'm not sure if this is related to the issue I'm having with image uploads. But I thought it could be h

[2020-08-07 15:21] dharake commented on #29365
Thanks @vanvasten, glad it worked for you. Will try it out

[2020-08-07 16:03] AleksandrPlotnikov opened #29439 "Magento 2.3.5p-1 and Elasticsearch 6.8.11 fielddata error"
### Preconditions (*)

1. Magento 2.3.5p-1
2. Elasticsearch 6.8.11

### Steps to reproduce (*)
1. Install magento using
 `composer create-project --repository-url=https://repo.magento.com/ magento/project-enterprise-edition=2.3.5-p1`
2. install Elasticsearch 6.8.11

### Expected result (*)

Catalog Product page works well with updated_at sorting

### Actual result (*)

Catalog Product page throw a

[2020-08-07 16:05] hostep commented on #29357
Hi @bluedarter2, maybe @rafaelstz knows the answer, but I think it won't be possible anymore to insert the contactform block into a cms page if it has required arguments, but I'm not 100% sure...

[2020-08-07 16:11] hostep commented on #29365
Tagging @engcom-Echo in here, since he wrote that patch, maybe he has some more useful insights and can push for a quick fix to be added to Magento 2.4.1 or a hotfix to be released if it is deemed necessary 🙂

[2020-08-07 16:51] MadonnaRagu commented on #26589
Yes, which module caused this issue???

[2020-08-07 17:05] chantreabeam opened #29440 "Composer Install with Magento Enterprise Key is not working"
After remove composer.lock and vendor folder then do composer install again
then giving issue
composer install
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package magento/product-enterprise-edition could not be found in any version, th

[2020-08-07 19:29] navarr commented on #28763
Fixed in Magento 2.3.6

[2020-08-07 19:30] navarr commented on #28763
@PromInc Do you want a patch?

[2020-08-07 19:35] matutetandil commented on #29334
Having the same issue... is an 2.4 EE... but basically the same issue...

[code]

I debugged the code, and basically the errors is generated here:
vendor/magento/framework/DB/Adapter/Pdo/Mysql.php line 527, The transaction is `CREATE TABLE`, so it fails with this error...

Considering is a Magento Module, I don't know if I can add a "temporary" so the transaction will be

[code]

[2020-08-07 19:37] matutetandil commented on #29334
If you are working with a clean install, could work... but what if you are upgrading?? Like I am (and probably lots of people will be)

[2020-08-07 19:38] DrewML commented on #28200
This is an interesting one! I believe we've discussed before that, ideally, we'd get rid of attributes as fields, since it makes breaking change detection and multi-store frontends difficult to do.

I believe the general idea has been to go with something like you've recommended @mslabko. Will probably take a little bit of back and forth, though, to flesh out the right design.

In the meantime, it

[2020-08-07 20:09] VladimirZaets commented on #26702
@vahir2016 , due to inactivity we decided just remove the commented condition.
Thank you for collaboration

[2020-08-07 20:19] danemacmillan opened #29442 "Setting catalog/seo/category_url_suffix through Admin to an empty string sets value to NULL, which fails return type declaration in code that uses the value"
### Preconditions (*)

1. `2.3.3-p1`
2. Have products created with the `Generate "category/product" URL Rewrites`config set to `Yes` in Stores->Config->Catalog->SEO.
3. Set `Generate "category/product" URL Rewrites`  to `No` in Stores->Config->Catalog->SEO, which will clear a lot of rows in the `url_rewrite` table, but not all.
4. Ensure there is at least one `url_rewrite.request_path` with a `cat

[2020-08-07 21:18] #29443 closed, assigned to nobody

[2020-08-07 21:18] molinainat commented on #29443
No longer an issue

[2020-08-07 21:41] AGPDev commented on #29334
fresh install, and i need the sample data to work

[2020-08-07 23:48] davirs opened #29444 "Magento URL Rewrites not support some characters (portuguese brazil)"
### Preconditions (*)
1. Magento version 2.3.5-p1
2. Have products/categories  created with the Generate "category/product" URL Rewrites config set to Yes in Stores->Config->Catalog->SEO.

### Steps to reproduce (*)
For categories:
1. Go to catalog>categories and add a new category.
2. Insert in  Category Name: "Armação" or "Computação"
3. Leave Search Engine Optimization>URL Key blank
4. Save cat

[2020-08-07 23:55] mrtuvn commented on #29334
Seem i don't get issue with setup follow steps below (use package downloaded from magento homepage)
#1 install magento 2.4.0 no data first (If you don't use sampledata) You ready to go all thing ready. Very quick fastforward
#2 After setup basic modules so you ready install with data (theme data, sales, order , customer. .etc). Replace composer.json include data sample package
Result -> No excepti

[2020-08-08 00:15] mrtuvn commented on #29357
if magento can introduce new way to inject viewModel in wysiwyg block/page possible resolve this problem
In the meantime i think we can update doc to avoid confusing and make problem for user
Previously -> create page (We don't need this way)
New way -> create cms block  and use default function widget to put block to specific area . By this way we don't even need touch in code ( no code break, ed

[2020-08-08 01:52] PromInc commented on #28763
@navarr yes a patch file would be appreciated.  Thank you.

[2020-08-08 04:54] konarshankar07 commented on #29228
@magento I'm working on this

[2020-08-08 05:23] konarshankar07 commented on #29228
Hello @sdzhepa ....
I have investigated this issue and order comment are flagged to visible on storefront and not on admin so do we need to show only order comment which is not visible on storefront in admin order comment history?
Correct me if I'm wrong
Thanks

[2020-08-08 05:27] konarshankar07 commented on #28422
@magento I'm working on this

[2020-08-08 05:27] konarshankar07 commented on #28422
@magento give me 2.4-develop instance

[2020-08-08 05:27] magento-engcom-team commented on #28422
Hi @konarshankar07. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-08 05:29] magento-engcom-team commented on #28422
Hi @konarshankar07, here is your [Magento instance](https://i-28422-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28422-2-4-develop.instances.magento-community.engineering/admin_27fe](https://i-28422-2-4-develop.instances.magento-community.engineering/admin_27fe)
Login: `17bddc17` Password: `99f245bab3d8`
Instance will be terminated in up to 3 hours.

[2020-08-08 06:54] slavvka commented on #29198
Hi @edenduong. Thank you for your report.
The issue has been fixed in magento/magento2#29199 by @edenduong in 2.4-develop branch
Related commit(s):
 - [8176ad5acc5b317005b90426ac10a5060b18e415](https://github.com/magento/magento2/commit/8176ad5acc5b317005b90426ac10a5060b18e415)
 - [0d94aba47b40c0bfc29e257b8d032f8fed34380b](https://github.com/magento/magento2/commit/0d94aba47b40c0bfc29e257b8d032f8f

[2020-08-08 06:54] #29198 closed, assigned to edenduong

[2020-08-08 06:54] slavvka commented on #22762
Hi @simonmaass. Thank you for your report.
The issue has been fixed in magento/magento2#29023 by @engcom-Echo in 2.4-develop branch
Related commit(s):
 - [8ab5415e546e1affbe94d80f62a611745a978c9b](https://github.com/magento/magento2/commit/8ab5415e546e1affbe94d80f62a611745a978c9b)
 - [e2b578de08d4e9853be51c52cc9872f394e55079](https://github.com/magento/magento2/commit/e2b578de08d4e9853be51c52cc987

[2020-08-08 06:54] #22762 closed, assigned to engcom-Echo

[2020-08-08 06:54] slavvka commented on #29380
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28989 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [1086450a07a6d6c98656c7ef08de820a1f35a3db](https://github.com/magento/magento2/commit/1086450a07a6d6c98656c7ef08de820a1f35a3db)
 - [8ec67c345e8738fe4382da9f039500b06f4db8a4](https://github.com/magento/magento2/commit/8ec67c345e8738fe4382da9f0

[2020-08-08 06:54] #29380 closed, assigned to Usik2203

[2020-08-08 06:54] slavvka commented on #29381
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28608 by @df2k2 in 2.4-develop branch
Related commit(s):
 - [01309d878fe86ead33cad7144187029fa217b3f6](https://github.com/magento/magento2/commit/01309d878fe86ead33cad7144187029fa217b3f6)
 - [45a668acc3c9e9bca13c325879f0d888688bd084](https://github.com/magento/magento2/commit/45a668acc3c9e9bca13c325879f0

[2020-08-08 06:54] #29381 closed, assigned to nobody

[2020-08-08 06:54] slavvka commented on #29388
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28993 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [d8b754ad931aded6c389dddd3467e58dc9f2060e](https://github.com/magento/magento2/commit/d8b754ad931aded6c389dddd3467e58dc9f2060e)
 - [ac74a48d3e84888a96176985a403362eaa6a9166](https://github.com/magento/magento2/commit/ac74a48d3e84888a96176985a

[2020-08-08 06:54] #29388 closed, assigned to Usik2203

[2020-08-08 06:54] slavvka commented on #29299
Hi @progreg. Thank you for your report.
The issue has been fixed in magento/magento2#29300 by @progreg in 2.4-develop branch
Related commit(s):
 - [80f41958e039e3275488f034bba4b5d874d0da9c](https://github.com/magento/magento2/commit/80f41958e039e3275488f034bba4b5d874d0da9c)
 - [0747383b91da67909ab823434f434dae1b465f5e](https://github.com/magento/magento2/commit/0747383b91da67909ab823434f434dae1b46

[2020-08-08 06:54] #29299 closed, assigned to progreg

[2020-08-08 06:54] slavvka commented on #29280
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29222 by @edenduong in 2.4-develop branch
Related commit(s):
 - [3907936e36a7ea8e0f45ead53db94584b2d92829](https://github.com/magento/magento2/commit/3907936e36a7ea8e0f45ead53db94584b2d92829)
 - [dab9581f15407a23e6771dc8d7cbe49a09854bec](https://github.com/magento/magento2/commit/dab9581f15407a23e6771dc8

[2020-08-08 06:54] #29280 closed, assigned to edenduong

[2020-08-08 06:54] slavvka commented on #29034
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#29035 by @hostep in 2.4-develop branch
Related commit(s):
 - [1a73d0ef24ac4fabfeb493f34414bdce20355f7f](https://github.com/magento/magento2/commit/1a73d0ef24ac4fabfeb493f34414bdce20355f7f)
 - [87ce9e786b64dc737466197b640034b2e7de003f](https://github.com/magento/magento2/commit/87ce9e786b64dc737466197b640034b2e7de00

[2020-08-08 06:54] #29034 closed, assigned to hostep

[2020-08-08 06:54] slavvka commented on #29327
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28902 by @kodubovik in 2.4-develop branch
Related commit(s):
 - [c9fef1b4c98a3341a5c034d376c747460dc14f6e](https://github.com/magento/magento2/commit/c9fef1b4c98a3341a5c034d376c747460dc14f6e)
 - [fd77b60cf4122617d01ef96339e7ffbd8294e580](https://github.com/magento/magento2/commit/fd77b60cf4122617d01ef963

[2020-08-08 06:54] #29327 closed, assigned to kodubovik

[2020-08-08 06:54] slavvka commented on #24353
Hi @HOSTED-POWER. Thank you for your report.
The issue has been fixed in magento/magento2#28137 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [cef2ac324f19db10e79a17e02c60b15f3f3a26ef](https://github.com/magento/magento2/commit/cef2ac324f19db10e79a17e02c60b15f3f3a26ef)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-08 06:54] #24353 closed, assigned to ihor-sviziev

[2020-08-08 06:54] slavvka commented on #29097
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27977 by @ajithkumar-maragathavel in 2.4-develop branch
Related commit(s):
 - [c2bc25ace54bc931e407d892f6454008c17f4ab2](https://github.com/magento/magento2/commit/c2bc25ace54bc931e407d892f6454008c17f4ab2)
 - [62c6f94e92b38686d2912a8992b23a1cacf13cb9](https://github.com/magento/magento2/commit/62c6f94e92

[2020-08-08 06:54] #29097 closed, assigned to ajithkumar-maragathavel

[2020-08-08 06:54] slavvka commented on #17195
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#27364 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [72567f6b7388a4e762da3ad9c3d96733b8f01e62](https://github.com/magento/magento2/commit/72567f6b7388a4e762da3ad9c3d96733b8f01e62)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-08 06:54] #17195 closed, assigned to nobody

[2020-08-08 06:54] slavvka commented on #27355
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#27364 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [72567f6b7388a4e762da3ad9c3d96733b8f01e62](https://github.com/magento/magento2/commit/72567f6b7388a4e762da3ad9c3d96733b8f01e62)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-08 06:54] #27355 closed, assigned to ihor-sviziev

[2020-08-08 06:54] slavvka commented on #29420
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29386 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [45a3a77049a4c37c5831446a5aa1e953239a8984](https://github.com/magento/magento2/commit/45a3a77049a4c37c5831446a5aa1e953239a8984)
 - [91a6a68a3f1779e748c0a2a711c0da47c4693b3a](https://github.com/magento/magento2/commit/91a6a68a3f1779e748c0a2a71

[2020-08-08 06:54] #29420 closed, assigned to Usik2203

[2020-08-08 06:54] slavvka commented on #29389
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29341 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [4a83bfb58f1a448cadb46cec8969682daad3a8f4](https://github.com/magento/magento2/commit/4a83bfb58f1a448cadb46cec8969682daad3a8f4)
 - [fc67e95e51c20a4840c61bb469e920a151437d74](https://github.com/magento/magento2/commit/fc67e95e51c20a4840c61

[2020-08-08 06:54] #29389 closed, assigned to lbajsarowicz

[2020-08-08 06:54] slavvka commented on #1693
Hi @andrew-smart. Thank you for your report.
The issue has been fixed in magento/magento2#29392 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [ebcdce406ee95ad7f6e9fe796846f99999aa2090](https://github.com/magento/magento2/commit/ebcdce406ee95ad7f6e9fe796846f99999aa2090)
 - [2534e462572b68d2f17317247c4caebed72de1bd](https://github.com/magento/magento2/commit/2534e462572b68d2f17317247c4caeb

[2020-08-08 06:54] slavvka commented on #1700
Hi @kalenjordan. Thank you for your report.
The issue has been fixed in magento/magento2#29392 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [ebcdce406ee95ad7f6e9fe796846f99999aa2090](https://github.com/magento/magento2/commit/ebcdce406ee95ad7f6e9fe796846f99999aa2090)
 - [2534e462572b68d2f17317247c4caebed72de1bd](https://github.com/magento/magento2/commit/2534e462572b68d2f17317247c4caebe

[2020-08-08 06:54] slavvka commented on #29434
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29385 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [8f55cd7ce42b8f03525a37e5ea988c306b6e6692](https://github.com/magento/magento2/commit/8f55cd7ce42b8f03525a37e5ea988c306b6e6692)
 - [b13e2ba08d2b1caceb532bfcd6c600b6d1faafdc](https://github.com/magento/magento2/commit/b13e2ba08d2b1caceb532bfcd

[2020-08-08 06:54] #29434 closed, assigned to Usik2203

[2020-08-08 06:54] slavvka commented on #29344
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28250 by @chandru-199 in 2.4-develop branch
Related commit(s):
 - [058e2a8f8db5237d800395605fb72f7d946fd79a](https://github.com/magento/magento2/commit/058e2a8f8db5237d800395605fb72f7d946fd79a)
 - [2946c78819aa81558b25bc5c984cd784c8ed936c](https://github.com/magento/magento2/commit/2946c78819aa81558b25bc

[2020-08-08 06:54] #29344 closed, assigned to chandru-199

[2020-08-08 06:55] slavvka commented on #28901
Hi @medialoungeml. Thank you for your report.
The issue has been fixed in magento/magento2#29331 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [b1054ad172e5537b7ef8fbca6595de2b7de62ee2](https://github.com/magento/magento2/commit/b1054ad172e5537b7ef8fbca6595de2b7de62ee2)
 - [2020e98ae2e4303f8f95c9f2206faf3f5e16997b](https://github.com/magento/magento2/commit/2020e98ae2e4303f8f95c9f

[2020-08-08 06:55] #28901 closed, assigned to engcom-Charlie

[2020-08-08 06:55] slavvka commented on #27570
Hi @swnsma. Thank you for your report.
The issue has been fixed in magento/magento2#27582 by @ledian-hymetllari in 2.4-develop branch
Related commit(s):
 - [352a3d62bacff95cd896f1a289b3c15c1b707fa3](https://github.com/magento/magento2/commit/352a3d62bacff95cd896f1a289b3c15c1b707fa3)
 - [1bf3ef92fafa1c707c543627a7afe2d8b47b6698](https://github.com/magento/magento2/commit/1bf3ef92fafa1c707c543627a7a

[2020-08-08 06:55] #27570 closed, assigned to ledian-hymetllari

[2020-08-08 06:55] slavvka commented on #28303
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27905 by @swnsma in 2.4-develop branch
Related commit(s):
 - [19b636e90432066692b3ad9f9a27d2eca4879d45](https://github.com/magento/magento2/commit/19b636e90432066692b3ad9f9a27d2eca4879d45)
 - [8849d1e3ca2e3b2e7fe2ef7233f338e872d268af](https://github.com/magento/magento2/commit/8849d1e3ca2e3b2e7fe2ef7233f33

[2020-08-08 06:55] #28303 closed, assigned to swnsma

[2020-08-08 07:41] ajijshekh123 commented on #29326
@magento give me 2.3.5-p2 instance

[2020-08-08 07:41] magento-engcom-team commented on #29326
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3.5-p2 instance for you

[2020-08-08 07:43] magento-engcom-team commented on #29326
Hi @ajijshekh123, here is your [Magento instance](https://i-29326-2-3-5-p2.instances.magento-community.engineering).
Admin access: [https://i-29326-2-3-5-p2.instances.magento-community.engineering/admin_d881](https://i-29326-2-3-5-p2.instances.magento-community.engineering/admin_d881)
Login: `e24c8b20` Password: `28d58d93c89b`
Instance will be terminated in up to 3 hours.

[2020-08-08 07:43] ajijshekh123 commented on #29247
Hi @gethubbavv,
Nothing update from your end. So I have closed this issue.
If you have reproduced this issue again please provide proper steps, actual result and expected results and reopen the issue.

Thanks

[2020-08-08 07:44] #29247 closed, assigned to ajijshekh123

[2020-08-08 08:00] ajijshekh123 commented on #29326
Hi @VZeroCool,
I have verified this issue in Magento 2.3.5-p2 instance. Not able to reproduce this issue.
**PFA:**

![Checkout](https://user-images.githubusercontent.com/24711761/89705458-3284f300-d97b-11ea-81da-b064b7a164ca.png)

![Order-000000001](https://user-images.githubusercontent.com/24711761/89705459-344eb680-d97b-11ea-8ae2-eecda6d918a9.png)

Can you please let me know which Magento Versio

[2020-08-08 08:28] ajijshekh123 commented on #29323
Hi @DanielIconate,
I have verified this issue in Magento 2.3.5-p2 Instance. Not able to reproduce this issue.
PFA:
![Invoice](https://user-images.githubusercontent.com/24711761/89705951-2e5ad480-d97f-11ea-85b0-7a72bb28b160.png)

![Order-000000002](https://user-images.githubusercontent.com/24711761/89705952-30249800-d97f-11ea-9d81-ba44777aca96.png)

Thanks

[2020-08-08 08:29] ajijshekh123 commented on #29323
@DanielIconate - If you have reproduced this issue again you can reopen it with Magento Instance details and Payment method which you are using to reproduce this issue.

[2020-08-08 08:29] #29323 closed, assigned to ajijshekh123

[2020-08-08 08:30] ajijshekh123 commented on #29326
@VZeroCool - If you have reproduced this issue again you can reopen it with Magento Instance details and Screenshot or videos.

[2020-08-08 08:30] #29326 closed, assigned to ajijshekh123

[2020-08-08 09:24] ajijshekh123 commented on #29444
@magento give me 2.3.5-p1 instance

[2020-08-08 09:24] magento-engcom-team commented on #29444
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-08-08 09:26] magento-engcom-team commented on #29444
Hi @ajijshekh123, here is your [Magento instance](https://i-29444-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-29444-2-3-5-p1.instances.magento-community.engineering/admin_c9f7](https://i-29444-2-3-5-p1.instances.magento-community.engineering/admin_c9f7)
Login: `fe3f5785` Password: `dfb7e7f97477`
Instance will be terminated in up to 3 hours.

[2020-08-08 09:53] ajijshekh123 commented on #29444
Hi @davirs,
I have verified all Portuguese brazil special character's keyword in Magento 2.3.5-p1 instance.
I don't know this functionality is available in Magento 1 or not but this issue is reproduced in the Magento 2.3.5-p1 instance.
If this is not an issue so we can consider this issue as a Feature request.

PFA:
![1](https://user-images.githubusercontent.com/24711761/89707377-fce80600-d98a-11e

[2020-08-08 09:54] magento-engcom-team commented on #29444
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36555` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-08 11:47] m2-assistant[bot] opened #29445 "[Issue] Check if single store mode is enabled"
This issue is automatically created based on existing pull request: magento/magento2#29391: Check if single store mode is enabled

---------
### Description (*)
Check if single store mode is enabled, not just if there is a single store. Allowing you to select the store you wish to place the order under.

### Preconditions (*)
Magento 2.4 installed

### Steps to reproduce (*)
1. Set up Magento with

[2020-08-08 17:03] shikhamis11 commented on #29442
@magento give me 2.4-develop instance

[2020-08-08 17:03] magento-engcom-team commented on #29442
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-08 17:04] magento-engcom-team commented on #29442
Hi @shikhamis11, here is your [Magento instance](https://i-29442-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29442-2-4-develop.instances.magento-community.engineering/admin_a1e4](https://i-29442-2-4-develop.instances.magento-community.engineering/admin_a1e4)
Login: `f0ece059` Password: `c5155fd4b63d`
Instance will be terminated in up to 3 hours.

[2020-08-08 17:49] shikhamis11 commented on #29442
hi @danemacmillan
unfortunately this issue is not reproducible at magento 2.4 instance as all data with category url is cleared after setting
"category/product" URL Rewrites to `No` in Stores->Config->Catalog->SEO

Please share additional information if possible to reproduce this issue

I am keeping this issue open so that if anyone else can reproduce this issue

[2020-08-08 18:51] liquidia commented on #28302
Having a same issue .. any solution ??

[2020-08-08 19:57] barc593 commented on #28302
(I'm a noob and an advanced DIYer)

I found a video in YouTube. Showed install step by step. Elasticsearch worked. But magento didn't work properly. Then I learned about elasticsearch search using elastic cloud free trial. Installed on Magento 2.3.5. you can get some insight about how it works and later how to install with cli. If it's in external server.
I think if I keep trying I can make it wor

[2020-08-09 01:58] LiamKarlMitchell opened #29447 "Database - No foreign key constraint on quote.customer_id customer_entity.entity_id Related to SpamBot registrations/orders."
### Summary (*)
We had an issue with bots registering customers and orders.
I had deleted the customer records, subscriptions etc but had not realized there were also quote records.

The autoincrement on the customer id table must have also been reset.
When we went live, new customer orders got created that happened to match existing quote records.

It seems that the customer name/email on the sal

[2020-08-09 07:16] rav-redchamps opened #29448 "Checkout issue on Elasticsearch search breakdown"
### Preconditions (*)
1. Magento 2.4-develop;
1. Elasticsearch v7.8.1;

### Steps to reproduce (*)
1. Add any product to cart;
1. Proceed to checkout;
1. Turn OFF Elasticsearch instance ( `service elasticsearch stop` for ex.);
1. Click on the **Place Order** button;
### Expected result (*)
Either order should be placed & success should be shown to the customer
 or
order shouldn't be created at all

[2020-08-09 07:31] liquidia commented on #28302
I have unblocked 9200 port from UFW and it worked

[2020-08-09 22:17] CooperDevon commented on #16958
I have this error - I can't access the order nor delete it.
Running Magento 2.3.5-p1
Any solution? temando_Shipping does not exist.

[2020-08-10 04:56] ajijshekh123 commented on #29383
@magento give me 2.4-develop instance

[2020-08-10 04:56] magento-engcom-team commented on #29383
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-10 04:57] magento-engcom-team commented on #29383
Hi @ajijshekh123, here is your [Magento instance](https://i-29383-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29383-2-4-develop.instances.magento-community.engineering/admin_8882](https://i-29383-2-4-develop.instances.magento-community.engineering/admin_8882)
Login: `d607f106` Password: `4ce3cd53c46b`
Instance will be terminated in up to 3 hours.

[2020-08-10 05:26] Jeeva-Rathinam opened #29450 "Magento 2 payment error - A server error stopped your order from being placed. Please try to place your order again"
After enter all the correct details of credit card i am getting an error A server error stopped your order from being placed. Please try to place your order again

How to solve this error?

[2020-08-10 06:59] tgamanov commented on #29432
Hello @LiamTrioTech.
Please check Magento documentation page
https://devdocs.magento.com/guides/v2.4/comp-mgr/trouble/cman/maint-mode.html
Is it what you need?

[2020-08-10 08:58] ilnytskyi commented on #27899
Faced this issue when creating constraint and index for two columns
Workaround: Change order of field in `constraint` or `index`
[code]
The same order will generate an error

[2020-08-10 09:46] engcom-Kilo commented on #29166
@magento give me 2.4-develop instance

[2020-08-10 09:46] magento-engcom-team commented on #29166
Hi @engcom-Kilo. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-10 09:47] magento-engcom-team commented on #29166
Hi @engcom-Kilo, here is your [Magento instance](https://i-29166-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29166-2-4-develop.instances.magento-community.engineering/admin_c9ec](https://i-29166-2-4-develop.instances.magento-community.engineering/admin_c9ec)
Login: `879bfd77` Password: `13731613a1a3`
Instance will be terminated in up to 3 hours.

[2020-08-10 09:48] Eddcapone commented on #29436
I figured out that it is not working because of the wrong product type. We are using a custom product type, so I have to use another layout instruction. The current layout instructions are only working for simple products.

[2020-08-10 10:07] Eddcapone commented on #29436
However, Attempt 5 also failed.

[2020-08-10 10:11] BassemN commented on #27137
@hkvega01 Did you find a solution for this issue?

[2020-08-10 10:35] Eddcapone commented on #29436
It seems like layout updates have precedence over block classes. So the layout updates are overwriting the template set in the block.

[2020-08-10 10:35] #29436 closed, assigned to nobody

[2020-08-10 10:50] m2-assistant[bot] opened #29453 "[Issue] Checkout / Sales Rules / Get rid of redundant DB query"
This issue is automatically created based on existing pull request: magento/magento2#29376: Checkout / Sales Rules / Get rid of redundant DB query

---------
**Preconditions:**

By replacing direct SQL query with Data Provider that was already used in this Validator class allowed me to drastically reduce the cost of checkout placing process.

#### Local environment

20 products in cart

![image](h

[2020-08-10 11:14] tgamanov commented on #29166
Hello @mgroensmit.
Trying to reproduce the described issue and not able to do it.
Please have a look at the gif
![29166_not _able_to_reproduce](https://user-images.githubusercontent.com/11708989/89776985-90e4d980-db13-11ea-9a9a-1581e047b414.gif)
and provide more additional information.
Thank you in advance.

[2020-08-10 11:29] mtjweb commented on #29099
Nobody any idea why categories aren't showing in the Category ID field?

[2020-08-10 11:45] iphigenie commented on #29235
So as people upgrade to 7.3 because of Magento 2.4 they will suddenly have admin login issues?

[2020-08-10 12:08] eurobeautiful commented on #28614
I still have not received any answer from the developers of the Braintree integration. However I want to bring back this issue to the original question: how does Magento allow for requests relating the a single cart/session to come from different IP addresses? This is a very basic security flaw.

Just this morning we are experiencing another attack. As of now, more than 1,000 requests, coming from

[2020-08-10 12:58] hostep commented on #29034
Thanks @slavvka! Can you confirm that this bugfix will be backported to 2.3.x? Since the bug was introduced in 2.3.4. Thanks!

[2020-08-10 13:02] JamesX88 opened #29454 "Catalog Search index PHP Fatal error: Uncaught Error: Wrong parameters for Elasticsearch\Common\Exceptions\ServerErrorResponseException([string $message [, long $code [, Throwable $previous = NULL]]])"
### Preconditions (*)

1. Magento 2.4.0
2. Apache 2.4.42
3. PHP v7.4.3

### Steps to reproduce (*)

1. Attempt to reindex via command: sudo -u www-data php bin/magento indexer:reindex catalogsearch_fulltext

### Expected result (*)

1. I expect the Catalog Search to reindex properly

### Actual result (*)

root@cbdev:/var/www/html# sudo -u www-data php bin/magento indexer:reindex catalogsearch_ful

[2020-08-10 13:05] JamesX88 commented on #29454
@magento give me 2.4-develop instance

[2020-08-10 13:05] magento-engcom-team commented on #29454
Hi @JamesX88. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-10 13:06] hostep commented on #29445
Just FYI, the associated PR fixes an [additional problem](https://github.com/magento/magento2/pull/29391#issuecomment-669154729) as well:

[2020-08-10 13:06] magento-engcom-team commented on #29454
Hi @JamesX88, here is your [Magento instance](https://i-29454-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29454-2-4-develop.instances.magento-community.engineering/admin_d420](https://i-29454-2-4-develop.instances.magento-community.engineering/admin_d420)
Login: `61a72bef` Password: `9a35d7498317`
Instance will be terminated in up to 3 hours.

[2020-08-10 13:28] JamesX88 commented on #29454
I'm unable to test cli commands on the develop instance. My issue is on a vanilla 2.4.0 fresh install with no products created yet.

[2020-08-10 13:31] twosg opened #29456 "customer_login event: Inconsinstent objects passed"
### Summary (*)
While developing a custom module you may want to use the `customer_login` event. For the regular frontend login the dispatch at `\Magento\Customer\Model\Session` will differentiate between the actual `customer_login` event and a `customer_data_object_login` event. The `customer_login` event will dispatch with a `\Magento\Customer\Model\Customer` whereby the `customer_data_object_lo

[2020-08-10 13:45] JamesX88 commented on #29454
Here are some perhaps relevant logs from /var/log/elasticsearch/elasticsearch.log

`
[2020-08-10T13:43:33,628][WARN ][r.suppressed             ] [crownbees] path: /_alias/magento2_product_1, params: {name=magento2_product_1}
org.elasticsearch.discovery.MasterNotDiscoveredException: null
        at org.elasticsearch.action.support.master.TransportMasterNodeAction$AsyncSingleAction$2.onTimeout(Trans

[2020-08-10 14:04] stephan-cream opened #29457 "Return types incompatibile with generate code"
### Preconditions (*)
1. Magento 2.4.0
2. PHP 7.3

### Steps to reproduce (*)
1. Rewrite a module which has a function with a return type declaration
E.g: vendor/magento/module-quote/Model/Cart/CartTotalRepository.php
2. Rewrite the function `public function get($cartId): QuoteTotalsInterface`.
3. Run `bin/magento setup:di:compile`.

### Expected result (*)
1. The following success message is thro

[2020-08-10 14:15] JamesX88 commented on #29454
This issue was resolved by downgrading from ElasticSearch 7.8.x (latest) to 7.6.2 explicitly.

[2020-08-10 14:27] stephan-cream commented on #29457
For more information, this issue was also present before 2.2, however it was fixed in https://github.com/magento/magento2/issues/6106.
The issue seems to have come back ever since Zend_Framework has been replaced with Lamias.
As for why this hasn't garnered much attention before this, is most likely because before 2.4.0 most functions did not use a return type declaration.
However in 2.4.0 a lot o

[2020-08-10 14:28] mgroensmit commented on #29166
@tgamanov the issue is with the filtering in the layered navigation, not with the swatches in the listing. If you apply the filters for both color and size and select a combination of values that is not available, you will still see the product in the listing as long the color or the size filter don't individually filter the product.

In my example in the original post, the 'Olivia' jacket is not

[2020-08-10 14:37] dverkade commented on #29457
Comment to follow and track changes for this ticket as I want to be notified of this as well.

[2020-08-10 15:28] niteshv0909 commented on #19220
Why is is this closed without a fix or PR ? I am experiencing the same issue in Magento 2.3.

[2020-08-10 15:51] magento-engcom-team commented on #29448
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36585` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-10 17:13] pcmerc commented on #28614
We are seeing similar issues & we're not using any Braintree integration. This is a core magento flaw.

[2020-08-10 17:59] fj-sfd commented on #9741
I had same issue. after migrating multi-stores website from 1.9.3.4 to 2.3.3
Default Stores and Website IDs were returning.

Solution from @gsomoza worked for me.

[2020-08-10 18:19] johnvanrees commented on #28614
We have the same issues as everyone mentioned, using Braintree. A few things I've leaned to stop a current attack:

1) Invalidate the cart through the database which renders all subsequent requests null
or
2) Blacklist the URL path in the POST request /rest/<view>/V1/guest-carts/<cart_id>/payment-information

Either of these options will prevent any more POST requests until a new cart ID is genera

[2020-08-10 19:49] cralls commented on #25457
I'm having the exact same issue as described here on 2.3.3

[2020-08-11 01:08] lucasvm opened #29462 "Error while installing Magento 2.4 from CLI"
### Summary (*)
Installing Magento 2.4 from CLI getting Interceptor error

### Examples (*)
php bin/magento setup:install --base-url=http://local.web.com/ --db-host=localhost --db-name=mydb --db-user=root --db-password= --admin-firstname=admin --admin-lastname=admin --admin-email=test@test.com --admin-user=admin --admin-password=admin123 --language=en_US --currency=USD --timezone=America/Chicago

[2020-08-11 04:40] brideo opened #29463 "**S3**: Braintree nonce should be accessible through the API"
### Summary (*)

Currently the only way to generate a Braintree nonce is using a controller, IMO this is a bit of a code smell as frontend implementations tend to follow the API pattern of Magento.

### Examples (*)

See `Magento\Braintree\Controller\Payment\GetNonce`

### Proposed solution

Abstract this functionality plus the GetToken admin functionality to an API, so middleware/frontends can ac

[2020-08-11 04:43] krishprakash commented on #29384
Hi @agusfernandez.  Hope you got the answer and solve your problem as per given by @hostep
So closing this ticket. Thanks!!

[2020-08-11 04:43] #29384 closed, assigned to krishprakash

[2020-08-11 04:45] krishprakash commented on #29368
Hi @JamesSWS.
Feel free to reopen once you update all necessary details
Thanks!!

[2020-08-11 04:45] #29368 closed, assigned to krishprakash

[2020-08-11 04:50] magento-engcom-team commented on #29354
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36609` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-11 04:56] ziyaindia commented on #20366
Hi All,

My URL is

https://{base_url}/index.php/rest/V1/configurable-products/:sku/children

When I am calling above URL getting following response. Not getting any clue to fix it.

![Screenshot from 2020-08-11 10-24-25](https://user-images.githubusercontent.com/8448843/89858782-17092a80-dbbd-11ea-86ad-2dfb4f58c115.png)

[2020-08-11 04:57] ziyaindia opened #29464 "Magento 2 REST API end point is not return response"
Hi All,

My URL is

https://{base_url}/index.php/rest/V1/configurable-products/:sku/children

When I am calling above URL getting following response. Not getting any clue to fix it.

![Screenshot from 2020-08-11 10-24-25](https://user-images.githubusercontent.com/8448843/89858782-17092a80-dbbd-11ea-86ad-2dfb4f58c115.png)

_Originally posted by @ziyaindia in https://github.com/magento/magento2/issu

[2020-08-11 06:01] Renu05 opened #29465 "country_code is not consistent in Customer Address"
**As a developer, I want to get the country_code as enum so that it should be constant throughout the address**

**Existing result** : country_code is enum for createCustomerAddress whereas it is string in case of setBillingAddressOnCart and setShippingAddressesOnCart

**Expected Result**: country_code must be enum in all the cases.

### AC
*a  In case of creating a customer address(createCustomer