[2017-10-19 09:52] sawebvisum commented on #5979
Any news on this?

[2017-10-19 09:55] orlangur commented on #11552
Why do you need such flow?

[2017-10-19 10:03] tommypyatt commented on #6577
@magento-engcom-team: You're welcome.

I don't know if changing it would be such a good idea actually, since it would have the potential to cause problems when upgrading themes. I'll have a see if I can think of a way around that, and create a PR if so. Thanks for the feedback.

[2017-10-19 10:12] henk-hypershop commented on #6868
What will be the expected fix timeframe? It is quite confusing that all depend labels are still shown.

[2017-10-19 10:30] magento-engcom-team commented on #5306
@hgpit, thank you for your report.
We've created internal ticket(s) MAGETWO-58217 to track progress on the issue.

[2017-10-19 10:31] magento-engcom-team commented on #11531
@boardwalki , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Sourc

[2017-10-19 10:31] #11531 closed, assigned to nobody

[2017-10-19 10:33] magento-engcom-team commented on #11530
@boardwalki, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2017-10-19 10:33] #11530 closed, assigned to nobody

[2017-10-19 10:46] magento-engcom-team commented on #9156
@ravinders-121, thank you for your report.
We've created internal ticket(s) MAGETWO-82290 to track progress on the issue.

[2017-10-19 10:50] magento-engcom-team commented on #11552
@meeweed , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2017-10-19 10:52] magento-engcom-team commented on #7399
@thdoan, thank you for your report.
We've created internal ticket(s) MAGETWO-63410 to track progress on the issue.

[2017-10-19 10:55] magento-engcom-team commented on #6836
@dmcmillin Thanks for reporting this issue.
Please add more details to your description of the steps you followed when identifying this issue. Full html and js ans screenshots would be helpful, too.

[2017-10-19 11:10] magento-engcom-team commented on #8729
@kvSanthosh, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-19 11:10] #8729 closed, assigned to nobody

[2017-10-19 11:17] magento-engcom-team commented on #8591
@zack6849 , thank you for your report.
Unfortunately, I could not reproduce the issue as you described it.
At step 1. I can not see the ability to change PayPal password for store.
![paypal](https://user-images.githubusercontent.com/31669971/31768418-0bef8162-b4d8-11e7-8e93-cbe847328d0b.png)

Please provide more detailed steps to reproduce.

[2017-10-19 11:18] magento-engcom-team commented on #6691
@jlimodin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-19 11:18] #6691 closed, assigned to nobody

[2017-10-19 11:18] magento-engcom-team commented on #11375
Hi @pioneerathletics
Did you help the last comment?

[2017-10-19 11:20] andrewhowdencom commented on #10665
Please reopen. cc @orlangur as you were so patient with the last issue, and are probably still about. <3

Also hitting this.

[2017-10-19 11:21] magento-engcom-team commented on #6267
@basselalaraaj, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-19 11:30] magento-engcom-team commented on #6187
@ChristopheFerreboeuf, thank you for your report.
We've created internal ticket(s) MAGETWO-82303 to track progress on the issue.

[2017-10-19 11:30] magento-engcom-team commented on #5272
@thdoan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-19 11:30] #5272 closed, assigned to odubovyk

[2017-10-19 11:30] magento-engcom-team commented on #6768
@ClaudiuCreanga, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-19 11:30] #6768 closed, assigned to nobody

[2017-10-19 11:30] magento-engcom-team commented on #6649
@azeemism, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-19 11:30] #6649 closed, assigned to magento-engcom-team

[2017-10-19 11:30] magento-engcom-team commented on #6958
@schnappenberger, thank you for your report.
We've created internal ticket(s) MAGETWO-82301 to track progress on the issue.

[2017-10-19 11:34] orlangur commented on #10665
@andrewhowdencom issue seems to be irreproducible with the steps provided. Are able to reproduce it with

1) Install clean 2.1.8 with sample data
2) Create widget as described
3) Upgrade to 2.2 stable

?

[2017-10-19 11:38] andrewhowdencom commented on #10665
I haven't tried (and don't have the time budget right now); I've got a store in an existing state with a large number of custom widgets, but that is using core code. While it might be difficult to reproduce, there are now at least two instances which have occurred, and I think it should remain open.

I can repro it in this case easily -- the work currently is to upgrade this store.

[2017-10-19 11:45] magento-engcom-team commented on #6146
@flecxie, thank you for your report.
We've created internal ticket(s) MAGETWO-82311 to track progress on the issue.

[2017-10-19 11:45] imrandiligent opened #11557 "Attribute Set not changing"
### Preconditions

1. Magento 2.1.9
2. PHP 4.7.0

### Steps to reproduce

1. As per your forum, i do all the changes
2.
3.

### Expected result

1.  When i am going add a product  by default in attribute set it comes default when i am going to change the attribute set its loading continuously not getting any result.

### Actual result

1. [Screenshot, logs]

[2017-10-19 11:58] RogerKeulen commented on #11538
No problem, i will upgrade to 2.20 as fast as possible. And do a re-install and backup my db this time after setup. Than i also can create a diff that i can't right now, so i don't know if it's core_config_data related.

[2017-10-19 12:01] orlangur commented on #10665
`2.0.2` should be fine here: https://github.com/magento/magento2/blob/2.1/app/code/Magento/Cms/etc/module.xml#L9
https://github.com/magento/magento2/blob/2.2/app/code/Magento/Cms/etc/module.xml#L9

`upgradeVersionTwoZeroTwo` was an interesting name choice :) Surely, there is no need in clean try if there is some broken store in your hand. Can you confirm that this upgrade was executed successfully

[2017-10-19 12:03] MattiPutkonen commented on #10424
Same issue as @CNanninga after 2.1.2 > 2.1.9 update.

[2017-10-19 12:04] andrewhowdencom commented on #10665
I am super embarrassed to say it looks like third party code that overloads the widget module with an additional field which is, in turn, encoded. :disappointed: I am really the boy who cried wolf today. If it turns out otherwise, I will let you know.

I was so excited! I love core bugs lol.

[2017-10-19 12:08] orlangur commented on #10665
Ok 👍 Actually, all extensions should have a corresponding `< 2.2` constraint until they are fixed for `2.2`. https://devdocs.magento.com/guides/v2.2/release-notes/backward-incompatible-changes.html#database-data-format-changes describes action points for achieving this compatibility.

[2017-10-19 12:13] imrandiligent commented on #10705
Hi,
I am also getting the same error, could you please tell me the steps to resolve the issue

[2017-10-19 12:15] Tantuss commented on #10705
Remove all attributes which have a dropdown, but do not have a value to select.
Or add options to select.

[2017-10-19 12:20] magento-engcom-team commented on #6089
@juanmrad , thank you for your report.
Actually you are trying to change advanced_inventory_modal - this modal window for advanced inventory.
As we understood, you needed to change fields on product form. Please, look Magento\CatalogInventory\Ui\DataProvider\Product\Form\Modifier\AdvancedInventory::modifyMeta().

[2017-10-19 12:30] magento-engcom-team commented on #8672
@jzahedieh, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-19 12:30] #8672 closed, assigned to nobody

[2017-10-19 12:30] magento-engcom-team commented on #5418
@webspeaks, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-19 12:30] #5418 closed, assigned to nobody

[2017-10-19 12:30] magento-engcom-team commented on #5056
@peec, thank you for your report.
We've created internal ticket(s) MAGETWO-70988 to track progress on the issue.

[2017-10-19 12:30] magento-engcom-team commented on #7178
@DreLincolin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-19 12:30] #7178 closed, assigned to nobody

[2017-10-19 12:30] magento-engcom-team commented on #6089
@juanmrad, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-19 12:30] #6089 closed, assigned to nobody

[2017-10-19 12:30] magento-engcom-team commented on #5212
@Valentyn-Kubrak, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-19 12:30] #5212 closed, assigned to antboiko

[2017-10-19 12:30] magento-engcom-team commented on #11498
@stevenlavine, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-19 12:30] #11498 closed, assigned to magento-engcom-team

[2017-10-19 12:30] magento-engcom-team commented on #11526
@gitpol, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0

[2017-10-19 12:30] #11526 closed, assigned to magento-engcom-team

[2017-10-19 12:31] sigismund opened #11558 "Store switching is occasionally not working"
### Preconditions

1. Magento 2.2
2. 3 different stores (sl, en, hr)

### Steps to reproduce

1. Enabled "Add Store Code to Urls"
2. (Not sure which other options could affect this behavior )

### Expected result

1. When changing language in dropdown, the website should change

### Actual result

1. If I try to switch from Slovenian product to English version of it, request is sent from `/sl/test

[2017-10-19 12:47] zack6849 commented on #8591
This is with the PayFlow methods, not express checkout.

[2017-10-19 12:55] magento-engcom-team commented on #4723
@fooman, thank you for your report.
We've created internal ticket(s) MAGETWO-53546 to track progress on the issue.

[2017-10-19 12:56] afavata commented on #7215
Same issue with my instalaltion: Magento 2.2.0

[2017-10-19 13:04] magento-engcom-team commented on #5127
@bhaveshsurani, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-19 13:04] #5127 closed, assigned to nobody

[2017-10-19 13:07] AgentGod commented on #4822
Hello Magento Team,
I had similar problem, but only sometime. After some investigation I found:
1. Can not save multiselect attributes if there is related product attached.
2. If I have any product attached to related, when I try to change options in multiselect attributes, I was not able to save with the new selection set.
3. On the same products when I remove the product attached to related, eve

[2017-10-19 13:16] SitionDenBosch commented on #10552
@ishakhsuvarov When the fix is released, is it possible to see the solution, so I can create my own patch to fix it?

[2017-10-19 13:19] alen9788 commented on #11518
we met with the error when run this command
php bin/magento setup:static-content:deploy en_US en_GB

Still think it is one bug for the M2.2

[2017-10-19 13:22] magento-engcom-team commented on #11557
@imrandiligent We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue. In addition, identify the web server you are running, and any other information needed to reproduce your issue.

[2017-10-19 13:30] magento-engcom-team commented on #7597
@ludwig-gramberg, thank you for your report.
We've created internal ticket(s) MAGETWO-82328 to track progress on the issue.

[2017-10-19 13:30] magento-engcom-team commented on #5574
@ktruehl, thank you for your report.
We've created internal ticket(s) MAGETWO-58020 to track progress on the issue.

[2017-10-19 13:30] magento-engcom-team commented on #7730
@heyqule, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-19 13:30] #7730 closed, assigned to shikhamis11

[2017-10-19 13:30] magento-engcom-team commented on #5891
@sergei-sss, thank you for your report.
We've created internal ticket(s) MAGETWO-58380 to track progress on the issue.

[2017-10-19 13:30] magento-engcom-team commented on #6068
@JacobDrummond, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-19 13:30] #6068 closed, assigned to nobody

[2017-10-19 13:30] magento-engcom-team commented on #7710
@chickenland, thank you for your report.
We've created internal ticket(s) MAGETWO-69709 to track progress on the issue.

[2017-10-19 13:30] magento-engcom-team commented on #4236
@caesarcxiv, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-19 13:30] #4236 closed, assigned to nobody

[2017-10-19 13:30] magento-engcom-team commented on #11543
@MyVisitReUP, thank you for your report.
We've created internal ticket(s) MAGETWO-82320 to track progress on the issue.

[2017-10-19 13:30] magento-engcom-team commented on #5490
@andidhouse, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-19 13:30] #5490 closed, assigned to sdzhepa

[2017-10-19 13:37] alen9788 opened #11559 "mini cart error"
1. Magento CE 2.2
2.

### Steps to reproduce

After the item is added to the cart

### Actual result

1. [Screenshot, logs]

![cart](https://user-images.githubusercontent.com/20162144/31773544-aa70efbe-b515-11e7-95c2-a8775bb16d28.jpg)

The "Proceed to Checkout" link is gone.

[2017-10-19 13:43] magento-engcom-team commented on #4770
@slackerzz, thank you for your report.
We've created internal ticket(s) MAGETWO-82332 to track progress on the issue.

[2017-10-19 13:43] magento-engcom-team commented on #4569
@matt-bailey, thank you for your report.
We've created internal ticket(s) MAGETWO-82332 to track progress on the issue.

[2017-10-19 13:47] vanpoppel commented on #11230
This can be reproduced by installing Magento 2.2 via composer.

The test will look for:
`app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Eav/AbstractEav.php`

It won't find the file, because it is located at:
`vendor/magento/module-catalog/Model/ResourceModel/Product/Indexer/Eav/AbstractEav.php`

[2017-10-19 13:50] marinagociu commented on #5774
I'm working on it #SQUASHTOBERFEST

[2017-10-19 13:52] cytracon commented on #11002
Same problem here. @dwirt, how did you change the cronjob?

[2017-10-19 13:56] vkublytskyi commented on #9837
@larsroettig this issue is still not fixed. Any help is welcome

[2017-10-19 13:59] maderlock opened #11560 "Cannot add plugin to class with return by reference function"
### Preconditions

1. Magento 2.1.9
2. PHP 7.0.21
3. Warnings displayed as errors
4. PayPal Express enabled

### Steps to reproduce

1. Add di.xml entry in a new module for a plugin on \Magento\Paypal\Model\Info - perhaps to output additional information against PayPal orders.
2. Create plugin class. Does not need to actually do anything.
3. Visit cart or checkout or order view page

### Expected

[2017-10-19 14:03] magento-engcom-team commented on #4728
@JaggedJax, thank you for your report.
We've created internal ticket(s) MAGETWO-53810 to track progress on the issue.

[2017-10-19 14:08] 666triv commented on #7027
We have the same issue. Will this be included in the next update?

[2017-10-19 14:08] gwharton commented on #11002
![phpmyadmin](https://user-images.githubusercontent.com/30697781/31774861-d4d17274-b4de-11e7-8234-d3f758a54ba0.jpg)
My dev store went again at about 2am on the 17th. See phpmyadmin attached. The first entry in the table is marked as running. Then there are 6000 odd entries following it, all in the pending state and growing.

@magento-engcom-team I am unable to reproduce this on demand, but it feel

[2017-10-19 14:16] gwharton commented on #11002
![phpmyadmin2](https://user-images.githubusercontent.com/30697781/31775327-2d676a64-b4e0-11e7-881a-fdecf15e981f.jpg)
I deleted the first row of the table, that was in the running state, and on the next cron run, it cleared all the pending tasks for this stuck cron, however rising to the top of the table, 3 more stuck cron jobs the following day at midday.

These DO correspond to when I was perform

[2017-10-19 14:20] magento-engcom-team commented on #7890
@abolivar abolivar , is the issue actual yet?

[2017-10-19 14:26] msieprawski opened #11562 "[2.2] Adminhtml Product Form Custom Tab"
Hello,

I'm trying to add custom tab containing custom grid listing custom model rows. I've tried several approaches to accomplish that. I even followed instructions from http://devdocs.magento.com/guides/v2.2/howdoi/customize_product.html - still no luck.

### Preconditions
1. Magento 2.2.0

### Steps to reproduce
1. Create custom module, register it
2. Create etc/adminhtml/di.xml
[code]
3. Then

[2017-10-19 14:29] matt-bailey commented on #4569
1 year 5 months later? Oh Magento...

[2017-10-19 14:30] magento-engcom-team commented on #2790
@mudithae, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-19 14:30] magento-engcom-team commented on #7421
@tzyganu, thank you for your report.
We've created internal ticket(s) MAGETWO-61364 to track progress on the issue.

[2017-10-19 14:30] magento-engcom-team commented on #5979
@schmengler, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-19 14:30] #5979 closed, assigned to nobody

[2017-10-19 14:30] magento-engcom-team commented on #7854
@twistedindustries, thank you for your report.
We've created internal ticket(s) MAGETWO-62739 to track progress on the issue.

[2017-10-19 14:30] magento-engcom-team commented on #6568
@middlegrey, thank you for your report.
We've created internal ticket(s) MAGETWO-70958 to track progress on the issue.

[2017-10-19 14:33] Corefix commented on #6012
Hi @magento-engcom-team what information do you need?

[2017-10-19 14:54] dwirt commented on #11002
@cytracon I didn't change anything. I just added a new cronjob to the crontab.
[code]
Of course you could also write a magento cronjob, but I don't trust those anymore.

[2017-10-19 14:59] elachino commented on #4547
@magento-engcom-team why did you use a bridge validator in magento framework to use zend2 and didn't you change Zend_Validate::is method with isValid method directly? In my case i did it and it works fine everything.

[2017-10-19 15:06] gwharton commented on #11002
Not wanting to stray off topic but @dwirt If it's a shared server then beware of putting your mysql password in the command line like that. It can be viewed by anyone while the process is running.

The preferred method is to create a `~/.my.cnf` file and specify `mysql magento-db .....` on the command line. The host, username and password will be read from the file automatically.

The contents of

[2017-10-19 15:15] gitpol commented on #11526
I traced into `$this->layout->getBlock('menu')` with xdebug. The layout is being built but I'm not sure where to look, a lot is happening there and I don't know the process of building layout. For example, in `vendor\magento\framework\View\Layout\Builder.php`:

    public function build()
    {
        if (!$this->isBuilt) {
            $this->isBuilt = true;
            $this->loadLayoutUpdates()

[2017-10-19 15:15] gabrielqs-redstage commented on #9763
Hey there, I'm working on it #SQUASHTOBERFEST

[2017-10-19 15:20] orlangur commented on #4547
@elachino does current core fix work for you? I suppose `Zend_Validate::is` is ZF1 obsoleted code and changing it is not a good idea. It could be changed as a quick-n-dirty fix for `2.1.x` though.

[2017-10-19 15:22] orlangur commented on #11526
Did you provide a full module code? You may want to debug a merging stage to see how declaration from your custom module affects resulting layout XML.

[2017-10-19 15:24] magento-engcom-team commented on #5992
@schmengler, thank you for your report.
We've created internal ticket(s) MAGETWO-82337 to track progress on the issue.

[2017-10-19 15:25] pitangaweb commented on #4067
Any information on this ? I see "Done in branch [develop]" but there is no commit referenced.
The issue is still  here on Magento 2.2

[2017-10-19 15:28] magento-engcom-team commented on #11558
@sigismund, thank you for your report.
We've created internal ticket(s) MAGETWO-82338 to track progress on the issue.

[2017-10-19 15:29] gitpol commented on #11526
Yes, in my first post I provided full code of my simple module.

[2017-10-19 15:30] magento-engcom-team commented on #7592
@StephaneMangin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-19 15:30] #7592 closed, assigned to magento-engcom-team

[2017-10-19 15:39] elachino commented on #4547
This magento fix works in magento 2.2 only and if you want port in magento 2.1 you have to write this bridge functions in magento 2.1 also. For now i chenged `Zend_Validate::is` with this code `$validator = new \Zend\Validator\EmailAddress();
  $validator->isValid($email)`
only where magento check email address.
I think this is a quick-n-dirty solution, would be to rewrite magento to not use zf1 b

[2017-10-19 15:57] orlangur commented on #4547
I see. It is not possible to upgrade ZF2 components in `2.1.x` patch release, if you prepare a PR for `2.1.x` as you described I believe it has high chances to be merged.

[2017-10-19 16:15] Yonn-Trimoreau commented on #5418
I love Magento team's issue management. If the issue can be closed for whatever reason, let's close it, otherwise, let's not fix it and may it die in the void. It seems like you only fix security issues.. But what about functional issues ? I'm following around 20 issues with 10+ comments confirming the issue, and Magento team is _**always**_ responding 2 years later saying that they cannot reprodu

[2017-10-19 16:20] ipekerti opened #11564 "2.1.x CE Multistore Multi domains, getting 404 error on Product Display Page for the non-Default Store View"
### Preconditions
I have a Magento CE 2.1.9, with 2 store views with 2 different domains.

The “Add Store Code to URLs” in Stores > Configuration > General > Web > URL options is set to DISABLED since I'm already using distinct domain names for the 2 stores.

### Steps to reproduce
A product configured for both  stores, but has unique info in set at secondary the store view scope.

### Expected re

[2017-10-19 16:28] dwirt commented on #11002
@gwharton Thanks!

[2017-10-19 16:43] ayasoftware commented on #11526
I have installed a module on M 2.2.0 that was working fine on M 2.1.x, and got the same error
Fatal error: Uncaught Error: Call to a member function setActive() on boolean in vendor\magento\module-backend\Model\View\Result\Page.php:27 Stack trace:
 the error was gone when  I have removed generated/metadata/global.php

[2017-10-19 17:02] okorshenko commented on #9419
Hi @orlangur and @lfolco for research.  Closing as non-issue

[2017-10-19 17:02] #9419 closed, assigned to lfolco

[2017-10-19 17:05] The-Krang commented on #11529
Thank you folks for replying to the problem.

I see that you folks have closed this issue.

I am a programmer, but I am still a newbie when it comes to using Magento 2,  so I don't know how or where I am supposed to fix the problem with the "Sign In" button.  Is there supposed to be something that I should download/upgrade?

I did a quick search for "_**The issue is already fixed in develop branch

[2017-10-19 17:14] okorshenko commented on #10425
Hi @jonashrem we will double check the issue. Thank you for research

[2017-10-19 17:21] Silarn opened #11568 "Compiling with the compact strategy fails to copy images to a child theme"
We have a custom theme overriding Luma.

All the CSS/JS/HTML compilation seems to work fine, however when using the compact strategy on production mode I've noticed that image files are not being copied to the active child theme directory - even image files specific to the theme (under customtheme/web/images/).

When the server tries to load the images, it looks for them under pub/static/<version>

[2017-10-19 18:00] magento-team commented on #10231
Internal ticket to track issue progress: MAGETWO-82312

[2017-10-19 18:00] magento-team commented on #11207
Internal ticket to track issue progress: MAGETWO-81716

[2017-10-19 18:07] okorshenko commented on #11428
Hi @sasilinux
Thank you for the report. But this is expected system behavior. Please check user guide http://docs.magento.com/m2/ce/user_guide/marketing/price-rules-cart.html?Highlight=shopping%20cart%20rules

1. Coupon label is optional and we can not rely on it on the storefront.
2. User is applying the code so it is reasonable to show what was applied but not the alternative text (coupon label)

[2017-10-19 18:10] pioneerathletics commented on #11375
I haven't tried the suggestion yet. I am waiting until the weekend to attempt the upgrade because the last time I updated my minicart issue started and I was forced to restore from a backup that took our store offline during business hours.

[2017-10-19 18:11] shyang292 commented on #5540
@spontaneousdinesh your method works for me.

[2017-10-19 18:22] gitpol commented on #11526
@ayasoftware, I had the same problem. So I created a simple minimal module for testing bu it gives exactly the same error. Please try to use my test module to see if you will have the same result. You can find it here: https://github.com/gitpol/test-module-company-simple Install it in `app/code/Company/Simple` in the root directory of your Magento.

@magento-engcom-team, please reopen the issue if

[2017-10-19 18:33] pmoreno1980 commented on #11428
This is not the behavior that had Magento 1. This bug is when i create a shopping cart rule without coupon, that is an automatic discount, of course the customer should read the label.

**Again, we didn't have this issue on Magento 1**

[2017-10-19 18:41] pmoreno1980 commented on #11497
Thanks for your help but i don't see any solution for this #11438 or #11428.

@okobchenko  added the non-issue label to this issue,he thinks it is normal behavior but it is not. In magento 1 it works perfectly.

[2017-10-19 18:54] #10860 closed, assigned to jahvi

[2017-10-19 18:58] okorshenko commented on #10772
Hi @larsroettig here is a PR to backport: https://github.com/magento/magento2/pull/10937

[2017-10-19 19:00] magento-team commented on #10231
Internal ticket to track issue progress: MAGETWO-82310

[2017-10-19 19:00] magento-team commented on #10501
Internal ticket to track issue progress: MAGETWO-81329

[2017-10-19 19:09] infortis commented on #11559
It looks like you don't have proper version of the theme. Or the files of the theme are overridden by your extensions or by your custom modifications.

The code of the mini cart dropdown has changed a bit in Magento 2.2.0 so the issue like this can happen if you are using theme files which don't reflect those changes.

[2017-10-19 19:12] okorshenko commented on #11144
Hi @markdavies could you please provide your steps to reproduce and configuration?

[2017-10-19 19:29] meeweed commented on #11552
Well, basically, the flow would be for users which are not logged in while shopping and then log in at the checkout stage. I can try adding the items from one cart to the other.

[2017-10-19 19:33] meeweed commented on #11552
What information would be helpful.
1. Basically. I create a guest cart. I then add items to that cart.
2. User logs in and I append the customer id to the guest cart. logged in user now has guest cart assigned.
3. logged in user proceeds to checkout and gets confirmation.
4. Inside admin panel, the order shows account information as "Guest" as a hyper link and the other two columns are empty(ie. e

[2017-10-19 19:33] gerben86 commented on #4096
I have exactly the same issue in Magento 2.1.19

[2017-10-19 19:35] meeweed commented on #11552
![account_info](https://user-images.githubusercontent.com/28773115/31790317-f0acba4a-b4c9-11e7-947f-135b4158b47a.jpg)

As you can see, the Customer name (in blue) is a link. This link takes you to the actual customer account

[2017-10-19 20:00] magento-team commented on #7678
Internal ticket to track issue progress: MAGETWO-82004

[2017-10-19 20:00] magento-team commented on #9783
Internal ticket to track issue progress: MAGETWO-81993

[2017-10-19 20:05] daniamorris commented on #11412
Thanks @davepullen your fix worked for me!

[2017-10-19 20:41] TenGauge opened #11570 "Cachewall (xVarnish) Config"
Does anyone know how to properly configure Cachewall xVarnish to work with Magento 2?  I have tried to split up the generated VCL file in to the proper local files supplied by Cachewall to generate its active VCL but I can not get X-Magento-Cache in to the header.  Varnish is working properly and serving the content, but from the backend rather than cache due to it not being passed the X-Magento-C

[2017-10-19 20:57] DavidLambauer commented on #5418
@Yonn-Trimoreau I partly agree! I also experienced quick issue closing without taking care of the actual result. Seems to be every time Magento 2 has to release something and can tell "We have closed X Issues".

A little bit more patient for the issues would be great, even if they are not solvable by the M2 Team itself, there might be someone from the community who can help.

[2017-10-19 21:02] maksek commented on #10425
closing the issue, can not reproduce.

[2017-10-19 21:02] #10425 closed, assigned to jonashrem, magento-engcom-team

[2017-10-19 21:04] spraxis commented on #7570
A quick and dirty solution would be to create a Plugin and clear the quote_address table whenever a customer address is deleted.

**di.xml**
[code]

**app/code/MyCompany/QuoteAddressFix/Plugin/AddressPlugin.php**
[code]

[2017-10-19 21:30] magento-engcom-team commented on #5191
@paulespino, thank you for your report.
We've created internal ticket(s) MAGETWO-58507 to track progress on the issue.

[2017-10-19 22:53] dfelton commented on #11277
@magento-engcom-team

Thank you I will communicate this issue and my findings through the Support Portal.

Does Magento have a forum or some other medium that it would be appropriate to report and discuss Enterprise specific issues in a public context? Sometimes can be difficult to find community driven discussion around Enterprise specific modules.

I am going to leave the GitHub issue open for e

[2017-10-20 01:42] SlavaYurthev opened #11571 "Wishlist Add Event Miss Validation"
### Steps to reproduce
1.  Create Custom Form Of Product Add To Wishlist
2.  Call For This Form data-mage-init='{"addToWishList":{}}'

### Expected result
1. Submit Form If All Required Fields Are Set

### Actual result
1. Form will be submit at anyway

### Comment
https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Wishlist/view/frontend/web/js/add-to-wishlist.js#L199-L227
this

[2017-10-20 04:43] imrandiligent commented on #11557
Preconditions

Magento ver. 2.1.9
PHP version: 4.7.0

Steps to reproduce

Create new Attribute Set (Stores > Attributes > Attribute Set) Suits
Create new Configurable Product (Products > Inventory > Catalog > Add Products > Configurable Product)
Select Custom Attribute Set (Suits)
ScreenShot
http://prntscr.com/g9kij6

Expected result

Create New Configurable Product with Custom Attribute set (Suit

[2017-10-20 04:43] #11557 closed, assigned to nobody

[2017-10-20 05:23] markdavies commented on #11144
I believe this was caused by a plugin not correctly calculating invoice totals and double dipping product discounts into the grand total (Exto Store Credit).

From digging into the code, the reason is pretty clear though. When creating invoices, discounts to items are applied to the grand total automatically, whereas cart discounts need to be applied manually using $invoice->setGrandTotal and / or

[2017-10-20 06:12] magento-engcom-team commented on #8404
@PiimegaOy, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 06:12] #8404 closed, assigned to nobody

[2017-10-20 06:12] magento-engcom-team commented on #8404
@PiimegaOy, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 06:17] magento-engcom-team commented on #11375
@pioneerathletics Thanks for the feedback.
Please update after you try last proposal.

[2017-10-20 06:21] ihor-sviziev commented on #10185
I got the same issue after upgrading from M1 to M 2.1.9. Issue is not actually related to data migration tool, but it caused by incorrect sorting by order id field in order grid. It sort as string, but not as a number. Issue appeared because in M1 we had 9 symbols for order number, while in M2 it use 10. I didn't found any related issues, except this one. And this issue is already closed because i

[2017-10-20 06:28] epolish opened #11573 "Custom product attribute in a search."
### Preconditions

1. PHP 5.6.31
2. Apache 2.4.26
3. MariaDB 10.1.25 - mariadb.org binary distribution
4. Magento CE 2.1.8 with installed sample data from archive.

### Steps to reproduce

1. Create product attribute programmatically (in InstallData.php) with this options
[code]
2. Install your extension via setup:upgrade.
3. In some product, fill this attribute with some text.
4. Run indexer:rein

[2017-10-20 06:30] magento-engcom-team commented on #7849
@quienti, thank you for your report.
We've created internal ticket(s) MAGETWO-82351 to track progress on the issue.

[2017-10-20 07:04] tstamplis opened #11574 "Shipping address fields blank, but ship methods remain after adding new product to cart 2.2.0"
### Preconditions
1.  Magento 2.2.0GA
2. Cpanel Server - PHP 7.0.12
3. MySQL 5.6.37

### Steps to reproduce
1. Add product to cart
2. Proceed to checkout
3. Fill out shipping address fields
4. Carrier shipping methods are loaded (USPS, FEDEX)
5. Return to store (click logo top left)
6. Add a different product to cart
7.  Return to checkout

### Expected result
1. Shipping address fields remain
2.

[2017-10-20 07:04] BenSpace48 commented on #8023
@magento-engcom-team How is this not a bug when a duplicate ticket has been opened which has the labels of reproduced on 2.1 and 2.2? https://github.com/magento/magento2/issues/9486

I can also reproduce this across several environments:

![price](https://user-images.githubusercontent.com/8895777/31808895-31f67aba-b56d-11e7-89d2-faaaf73c0462.gif)

[2017-10-20 07:05] BenSpace48 commented on #9486
Can also replicate, here is a gif for clarity:

![price](https://user-images.githubusercontent.com/8895777/31808948-66ab880e-b56d-11e7-9990-09153b08aab0.gif)

[2017-10-20 07:10] Andrii-Deineha commented on #8573
@sandraweb is the issue actual yet?

[2017-10-20 07:21] IlnitskiyArtem commented on #11564
It seems as duplicate of [5416](https://github.com/magento/magento2/issues/5416).

[2017-10-20 07:52] salelsol opened #11575 "Can´t add products to Shopping cart afther upgrading from 2.1.9 to 2.2 CE"
### Preconditions

1. Can´t add item to cart afther upgrading
2. Magento upgraded from 2.1.9 to 2.2 CE

### Steps to reproduce

1. We add a product to shopping cart

### Expected result

1. Item should add to cart

### Actual result

1. Shopping cart is empty

[2017-10-20 07:53] osrecio commented on #6098
investigating to try fix the issue

[2017-10-20 08:30] magento-engcom-team commented on #4329
@srinivasanithin, thank you for your report.
We've created internal ticket(s) MAGETWO-55337 to track progress on the issue.

[2017-10-20 08:30] magento-engcom-team commented on #2156
@dmitry-fedyuk, thank you for your report.
We've created internal ticket(s) MAGETWO-70240 to track progress on the issue.

[2017-10-20 08:30] magento-engcom-team commented on #2339
@dr0uleau, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 08:30] #2339 closed

[2017-10-20 08:30] magento-engcom-team commented on #6256
@thomvanderboon, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-20 08:30] #6256 closed, assigned to nobody

[2017-10-20 08:30] magento-engcom-team commented on #2739
@dexterityzx, thank you for your report.
We've created internal ticket(s) MAGETWO-82379 to track progress on the issue.

[2017-10-20 08:30] magento-engcom-team commented on #11568
@Silarn, thank you for your report.
We've created internal ticket(s) MAGETWO-82380 to track progress on the issue.

[2017-10-20 08:30] magento-engcom-team commented on #11560
@maderlock, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-20 08:30] #11560 closed, assigned to magento-engcom-team

[2017-10-20 09:03] orlangur commented on #11552
@meeweed, thanks for details

Basically, I'm not sure such flow is supposed to work but I'm not familiar with this API implementation details. Maybe you should create non-guest cart with a separate request.

[2017-10-20 09:12] magento-engcom-team commented on #11562
@msieprawski, thank you for your report.
Your code in Vendor/Name/Ui/DataProvider/Product/Form/Modifier/CustomModel::modifyMeta() should be next:
`
public function modifyMeta(array $meta)
    {
        $meta['test_fieldset_name'] = [
            'arguments' => [
                'data' => [
                    'config' => [
                        'label' => __('Label For Fieldset'),

[2017-10-20 09:30] magento-engcom-team commented on #7204
@tinxit, thank you for your report.
We've created internal ticket(s) MAGETWO-82391 to track progress on the issue.

[2017-10-20 09:30] magento-engcom-team commented on #8283
@maultby, thank you for your report.
We've created internal ticket(s) MAGETWO-64060 to track progress on the issue.

[2017-10-20 09:30] magento-engcom-team commented on #2917
@remkoj-ism, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-20 09:30] #2917 closed, assigned to nobody

[2017-10-20 09:30] magento-engcom-team commented on #4988
@blizam, thank you for your report.
We've created internal ticket(s) MAGETWO-82387 to track progress on the issue.

[2017-10-20 09:30] magento-engcom-team commented on #11562
@msieprawski, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 09:30] magento-engcom-team commented on #8443
@tal-girit, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 09:30] #8443 closed, assigned to nobody

[2017-10-20 10:10] magento-engcom-team commented on #10982
@andidhouse, thank you for your report.
We've created internal ticket(s) MAGETWO-82400 to track progress on the issue.

[2017-10-20 10:18] magento-engcom-team commented on #8790
@commalex is the issue actual yet?

[2017-10-20 10:22] commalex commented on #8790
I’m stuck on april 2017 v2.1.3 so probably fixed by now in latest release.

On Fri, 20 Oct 2017 at 11:20, Magento Community Engineering <
notifications@github.com> wrote:

--

<http://www.stika.co/>

stika.co Ltd  |  15 Oxford Court | Cambridge Road | Granby Industrial
Estate | Weymouth | DT4 9GH
Tel: *+44 (0)1305 303 333* | Twitter: @stikaco

Registered in England & Wales: Company No.: 09120506,

[2017-10-20 10:28] magento-engcom-team commented on #4464
@sergei-sss, thank you for your report.
We've created internal ticket(s) MAGETWO-52797 to track progress on the issue.

[2017-10-20 10:30] magento-engcom-team commented on #11339
@mritu19, thank you for your report.
We've created internal ticket(s) MAGETWO-82395 to track progress on the issue.

[2017-10-20 10:30] magento-engcom-team commented on #5532
@DariuszMaciejewski, thank you for your report.
We've created internal ticket(s) MAGETWO-82402 to track progress on the issue.

[2017-10-20 10:30] magento-engcom-team commented on #5842
@chris-huffman, thank you for your report.
We've created internal ticket(s) MAGETWO-82398 to track progress on the issue.

[2017-10-20 10:30] magento-engcom-team commented on #5913
@ytorbyk, thank you for your report.
We've created internal ticket(s) MAGETWO-58190 to track progress on the issue.

[2017-10-20 10:30] magento-engcom-team commented on #11564
@ipekerti, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-20 10:30] #11564 closed, assigned to nobody

[2017-10-20 10:30] magento-engcom-team commented on #11557
@imrandiligent, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 10:40] jordy2607 opened #11577 "TinyMCE (WYSIWYG) doesn't work in admin when JS minify is enabled"
### Preconditions
1. Magento 2.1.9 production mode

### Steps to reproduce
1. Enable js minify in Stores->Advanced->Developer
2. Deploy static content
3. Open an admin page with a textarea with TinyMCE editor enabled. For example a product edit page and open the content tab for the TinyMCE to load.

### Expected result
1. TinyMCE is loaded succesfully

### Actual result

1.  TinyMCE is trying to l

[2017-10-20 10:50] orlangur commented on #11570
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2017-10-20 10:50] #11570 closed, assigned to nobody

[2017-10-20 11:07] magento-engcom-team commented on #11574
@tstamplis, thank you for your report.
We've created internal ticket(s) MAGETWO-82411 to track progress on the issue.

[2017-10-20 11:10] hezide commented on #11532
Same issue on 2.2.0...
Never happened before

[2017-10-20 11:14] magento-engcom-team commented on #4711
@leoquijano, thank you for your report.
We've created internal ticket(s) MAGETWO-58375 to track progress on the issue.

[2017-10-20 11:19] umarch-rltsquare commented on #7298
@scher200  you will safe my life if you explain these two loops:

// remove root links
        foreach( $data as $key => $info ){
            if(  isset($info['target_path']) && ( stristr($info['target_path'],'/category/1') || stristr($info['target_path'],'/category/2') ) && $info['entity_type']=='product' || $info['request_path'] == "" ){
                    unset($data[$key]);
            }

[2017-10-20 11:25] magento-engcom-team commented on #8893
@albert-elcorriol is the issue actual yet?

[2017-10-20 11:30] magento-engcom-team commented on #2671
@j88per, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-20 11:30] #2671 closed, assigned to joanhe

[2017-10-20 11:30] magento-engcom-team commented on #8257
@maultby, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-20 11:30] magento-engcom-team commented on #8259
@atrane21, thank you for your report.
We've created internal ticket(s) MAGETWO-64141 to track progress on the issue.

[2017-10-20 11:30] magento-engcom-team commented on #7704
@mtb2112, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 11:30] #7704 closed, assigned to nobody

[2017-10-20 11:30] magento-engcom-team commented on #3969
@jhildreth, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-20 11:30] #3969 closed, assigned to misha-kotov

[2017-10-20 11:30] magento-engcom-team commented on #4913
@AngelsDustz, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 11:30] #4913 closed, assigned to rgoncharuk

[2017-10-20 11:30] magento-engcom-team commented on #2228
@luckyraul, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 11:30] magento-engcom-team commented on #5837
@Cornoud, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 11:30] #5837 closed, assigned to nobody

[2017-10-20 11:30] magento-engcom-team commented on #11225
@SirElectro, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-20 11:30] #11225 closed, assigned to magento-engcom-team

[2017-10-20 11:41] thiagolima-bm commented on #5770
I'm working on it #SQUASHTOBERFEST

[2017-10-20 11:43] magento-engcom-team commented on #3727
@utpalmaity, thank you for your report.
We've created internal ticket(s) MAGETWO-55211 to track progress on the issue.

[2017-10-20 11:55] mattgreenfield opened #11579 "'Change email' email outputs 'thanks, [store name]' twice"
### Preconditions

Magento 2.1.7

### Steps to reproduce

1. As a logged in user, change your password and/or email address
2. View the email that is sent to you

### Expected result

The email is signed `thanks, [shop name]

### Actual result

 The email is signed off twice;

This is because the default email footer already signs the email
https://github.com/magento/magento2/blob/2.2-develop/app/

[2017-10-20 12:28] magento-engcom-team commented on #11577
@jordy2607 We cannot reproduce this issue as described. Please add more details to your description of the steps you followed when identifying this issue. Screenshots or logs would be helpful, too.

[2017-10-20 12:30] magento-engcom-team commented on #11575
@salelsol, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 12:30] #11575 closed, assigned to nobody

[2017-10-20 12:33] magento-engcom-team commented on #3496
@moraryou, thank you for your report.
We've created internal ticket(s) MAGETWO-70598 to track progress on the issue.

[2017-10-20 12:48] keyurshah070 commented on #10457
Started working on it, please assign it to me

[2017-10-20 12:52] magento-engcom-team commented on #11573
@epolish, thank you for your report.
Looks like you filled attribute with "some text", but you were searching "sometext". So it is the reason why results are empty.

[2017-10-20 12:53] tzyganu opened #11581 "Reference to wrong / non-existing class"
### Preconditions

1. Magento version 2.2 (or previous)
2.

### Steps to reproduce

1. In the method `Magento\Sales\Model\Order\Pdf\Invoice::getPdf` comment out the call to `$this->insertOrder(`
2. Go to the backend and print an invoice

### Expected result

1. I should see the invoice without the order details

### Actual result

1. I get a fatal error because the class `Zend_Pdf_Color_RGB` is no

[2017-10-20 12:55] epolish commented on #11573
I also tried with "some text" - separately. And tried with single words...

[2017-10-20 12:58] msieprawski commented on #11562
Hello @magento-engcom-team, thanks for quick reply but your solution doesn't work at all. The only change that you provided is to define additional array key "componentType" as "fieldset". So I did that, I ran setup:upgrade command. After that I went to the admin interface to see Add Product form. Still no change - I can't see new tab named "Label For Fieldset".

![image](https://user-images.githu

[2017-10-20 13:06] msieprawski opened #11583 "[2.2] Adminhtml Product Form Custom Tab - REOPEN #11562"
I can't reopen issue as you wrote so please reopen issue #11562

[2017-10-20 13:10] magento-engcom-team commented on #11573
@epolish, we were not able to reproduce this issue by following the steps you provided. Here is our screenshot:
![screenshot from 2017-10-20 15-58-16](https://user-images.githubusercontent.com/31669971/31822321-0b9b6c1a-b5b1-11e7-992a-89877c76ba20.png)

We tried it on 2.1.9, 2.2.0-rc3.0 and latest develop branches.
Please provide more detailed steps to reproduce or try to reproduce this issue on a

[2017-10-20 13:16] #11583 closed, assigned to nobody

[2017-10-20 13:30] magento-engcom-team commented on #11581
@tzyganu, thank you for your report.
We've created internal ticket(s) MAGETWO-82432 to track progress on the issue.

[2017-10-20 13:30] magento-engcom-team commented on #11579
@mattgreenfield, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 13:30] #11579 closed, assigned to nobody

[2017-10-20 13:30] magento-engcom-team commented on #8026
@ecomchallenger, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-20 13:30] #8026 closed, assigned to nobody

[2017-10-20 13:30] magento-engcom-team commented on #4779
@kanduvisla, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 13:30] #4779 closed, assigned to nobody

[2017-10-20 13:30] magento-engcom-team commented on #4492
@jmackiol-dotsource, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 13:30] #4492 closed, assigned to rgoncharuk

[2017-10-20 13:30] magento-engcom-team commented on #2310
@nettrix, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 13:30] #2310 closed

[2017-10-20 13:30] magento-engcom-team commented on #5802
@malaiselvan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 13:30] #5802 closed, assigned to nobody

[2017-10-20 13:30] afoucret commented on #6751
@veloraven : I suppose you refer to bab4284310b0e73b0ddd3d521ba07a81b30303f1 when you say the bug is fixed. Am I right ?

If so, I do not think allowing sort on tier_price solve the problem issued by @paales.
He want regular price sort by take care of tier_price.

The main problem is tier_price is not considered when indexing min_price and final_price.

Price are rendered using price modifier but

[2017-10-20 13:31] afoucret commented on #6751
This is a big issue when using Magento B2B which rely on tier_price to achieve the shared catalog custom pricing.

[2017-10-20 13:39] pmoreno1980 commented on #11428
@okobchenko here we have 2 situations for this issue (Cart Price Rule Label is not working):

1) Shopping Cart Rules **with Coupon Code** and this is the solution for that [https://github.com/magento/magento2/issues/6244](#6244)

2) Shopping Cart Rules **without Coupon Code**, i mean automatic discount, we don;t have solution for this yet, this #11438 doesn't work.

this is a very important proble

[2017-10-20 13:42] pmoreno1980 commented on #11497
yes, that solution doesn't work.

we have 2 situations for this issue (Cart Price Rule Label is not working):

Shopping Cart Rules with Coupon Code and this is the solution for that https://github.com/magento/magento2/issues/6244

Shopping Cart Rules without Coupon Code, i mean automatic discount, we don't have solution for this yet, this #11438 doesn't work.

this is a very important problem that

[2017-10-20 13:44] magento-engcom-team commented on #9497
@bbtimx, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-20 13:44] #9497 closed, assigned to nobody

[2017-10-20 14:01] lewisvoncken commented on #11095
@magento-engcom-team
I can reproduce the issue and it is only when you have existing rules with tax_postcode NULL. Maybe I will provide a fix for this issue.

[2017-10-20 14:11] BigTonni commented on #8202
How can I safely remove duplicates without losing values in products?
I have the same issue for Magento ver. 2.1.6
Example of values for table `eav_attribute_option_value` - http://joxi.ru/Y2Ly9PNh9YPYXA

[2017-10-20 14:25] magento-engcom-team commented on #11508
@erikkubica, thank you for your report.
We've created internal ticket(s) MAGETWO-82438 to track progress on the issue.

[2017-10-20 14:30] magento-engcom-team commented on #9038
@synolia-bvo, thank you for your report.
We've created internal ticket(s) MAGETWO-82435 to track progress on the issue.

[2017-10-20 14:30] magento-engcom-team commented on #5013
@arijit-insync, thank you for your report.
We've created internal ticket(s) MAGETWO-82433 to track progress on the issue.

[2017-10-20 14:30] piotrkwiecinski commented on #11577
I have similar problem on 2.1.7. Requirement is to have production mode and minification enabled. For me it happens when I have 2 plugins enabled Dotmailer and Adyen Payment.

I'm trying to narrow it down, but it takes a while due to need to redeploy static content.

[2017-10-20 14:39] fwolfst opened #11585 "Update from 2.1.9 to 2.2.0 fails with sql constraint violation on salesrule_product_attribute"
### Preconditions
1. `uname -a`
`Linux XXX 4.4.0-96-generic #119-Ubuntu SMP Tue Sep 12 14:59:54 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
2. DISTRIB_DESCRIPTION="Ubuntu 16.04.3 LTS"
3. magento 2.1.9 without sample data, migrated data from 1.5 -> 1.9 -> 2.x
4. mysql-server-5.7 (5.7.19-0ubuntu0.16.04.1) from ubuntu repository
5. php7.0 (7.0.24-1+ubuntu14.04.1+deb.sury.org+1)
6. (client firefox 54, bu

[2017-10-20 14:41] fwolfst commented on #11298
So this means the code could be better guarded? Should I open an issue for that (I do not have enough insight into the development process/conventions here) or is it "somebody elses fault"?

[2017-10-20 14:55] keyurshah070 commented on #8095
@okorshenko it is working fine in Magento 2.2, may be It was creating an issue on older version @technoquo

[2017-10-20 14:59] PieterCappelle commented on #10347
Please assign this to me. I'll be working on this one, as I have the same problem in one of our projects.

[2017-10-20 15:02] pitangaweb commented on #3771
It still does not work on Magento 2.2. My js-translation.json contains only "[]"

[2017-10-20 15:16] leoquijano commented on #4711
Just fyi, it's present in v2.2.0 too:

https://github.com/magento/magento2/blob/2.2/app/code/Magento/CatalogImportExport/Model/Import/Product.php

[2017-10-20 15:26] Silarn commented on #11568
Thanks.

[2017-10-20 15:30] magento-engcom-team commented on #7121
@joshdifabio, thank you for your report.
We've created internal ticket(s) MAGETWO-61468, MAGETWO-62571 to track progress on the issue.

[2017-10-20 15:30] magento-engcom-team commented on #5183
@bhaveshsurani, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-10-20 15:30] #5183 closed, assigned to nobody

[2017-10-20 15:40] orlangur commented on #5035
This was fixed in https://github.com/magento/magento2/pull/10837 for `2.3.x`.

[2017-10-20 17:38] Silarn commented on #11311
This is true any time your session expires in Magento 2. Magento 1 - in may cases though not all - could redirect you back to where your session expired. As far as I can tell, Magento 2 does not do that.

[2017-10-20 17:53] adrian-martinez-interactiv4 opened #11586 "Cron install / remove via command messes up stderr 2>&1 entries"
Installing or removing crontab via command adds 2>&1 repeatedly, even for crontab entries not related with Magento, if they match a regular expression. See details below.

### Preconditions
1. Magento2 develop branch
2. PHP 7.0.15

### Steps to reproduce
1. Set up a crontab entry like this one:
![captura de pantalla 2017-10-20 a las 19 28 45](https://user-images.githubusercontent.com/17545750/3183

[2017-10-20 18:00] magento-team commented on #9919
Internal ticket to track issue progress: MAGETWO-82426

[2017-10-20 18:09] vinaysikarwar opened #11589 "Attribute not listing in configurable attribute list , when creating programmatically"
When I am creating an attribute programmatically with custom source option, then it si not visible in admin product creation configuration attribute list.

[2017-10-20 18:38] joni-jones commented on #10438
I'm working on it #SQUASHTOBERFEST

[2017-10-20 19:18] orlangur commented on #11589
Please provide exact code snippet used and update description according to template.

[2017-10-20 19:58] LucienC commented on #11032
Same issue here, I didn't dig much into the problem but renaming the function beforeBeforeSave to beforeSave fix the problem.
Here is the commit where the function has been rename if it can help: https://github.com/magento/magento2/commit/cafbc8f88ce40181b86782141b68698fd8b5576f

[2017-10-20 20:05] PieterCappelle commented on #10032
Created backport to 2.2 & 2.1 branch.

[2017-10-20 20:39] meeweed commented on #11552
Hello @orlangur

thank you. I figured that doing that should be my next step.

[2017-10-20 21:14] inelukipg commented on #7419
@magento-engcom-team Great! This issue is a major problem when creating a configurable product with children from options. (Which is the fastet way to create a great number of product combinations). You have to manually edit each product to enable "this item has weight"

[2017-10-20 21:43] adrian-martinez-interactiv4 commented on #11347
I'm working on this

[2017-10-20 22:11] larsroettig commented on #7521
Hi Guys, I cannot so easy backport my Fix because 2.1.X support **php5.6** and this Error handling requires  **php7.0**

[2017-10-21 00:11] osrecio commented on #7075
@okorshenko I can't repdroduce this error with branches: `develop`, `2.1-develop`, `2.2-develop`, `2.3-develop`.
But is true that I can reproduce with M2Commerce 2.19

[2017-10-21 01:10] sylink commented on #9633
The issue is somewhere in the config where it gets the IniOptions in SessionManager.php -

`   */
    private function initIniOptions()
    {
        foreach ($this->sessionConfig->getOptions() as $option => $value) {
            $result = ini_set($option, $value);
            if ($result === false) {
                $error = error_get_last();
                throw new \InvalidArgumentException(

[2017-10-21 01:49] sylink commented on #9633
Add this to constructor for vendor/magento/framework/Session/Config.php
, say line 137 or so:
[code]

It looks like in that file this constant is set -

const PARAM_SESSION_SAVE_METHOD = 'session/save';

Then never utilized at all, so I added the block to grab the value from the deployment config. If that is blank it should default to files as expected.

[2017-10-21 08:54] surgyelan opened #11612 "Braintree 3D secure problem: postal code is required. 2.1.8, 2.2.0"
### Preconditions
1.  Magento version 2.2.0 (also with 2.1.8)
2.  Clean install without sample data

### Steps to reproduce
1.  Set up an account with Braintree
2.  Ask braintree crew to enable 3D secure in your BT account
3. Set up Stores>Config>Sales>Payment methods>Braintree
4.  Enable 3D secure in Stores>Config>Sales>Payment methods>Braintree>3D secure verification setting>3D Secure Verificati

[2017-10-21 09:52] mrodespin commented on #7689
Can anyone assing me this issue? I am working on it

[2017-10-21 11:19] hostep opened #11615 "URL Rewrites vs multiple storeviews - a never ending battle"
I'm pretty sure this has been reported before, but please excuse me if I didn't find the correct duplicate, since there are so many issues being reported around this. If there is an exact duplicate, please mark this issue as a duplicate and close it.
My hope is to provide a easy reproducible case which can easily be tested and maybe finally put this big issue a bit more in the spotlight.

### Prec

[2017-10-21 12:11] hostep opened #11616 "URL Rewrites vs multiple storeviews - too many rewrites are being generated"
This case demonstrates that too many url rewrites are being generated
It happens in Magento 2.4-develop, I tested it in 2.2 and over there it works as expected

### Preconditions
1. PHP 7.2
2. Magento 2.4-develop

### Steps to reproduce
1. Setup a Magento 2.4-develop installation
2. In the backend, go to Stores > Configuration > Catalog > Catalog > Search Engine Optimization and change the configu

[2017-10-21 12:13] briscoda commented on #9944
I am working on it. #SQUASHTOBERFEST

[2017-10-21 13:14] orlangur commented on #7521
@larsroettig yeah, I don't think it's a big problem for anyone who faces it. There is no reason to stay on PHP5.6 having `2.1.x` and when you have PHP7.0 just adopt your PR for a particular instance and be happy :)

[2017-10-21 14:13] ivan2304 commented on #5513
working in me
{
   "email": "email@gmail.com",
   "template": "email_reset",
   "websiteId":  1
}

after debug error because can`t sending email

[2017-10-21 14:58] orlangur commented on #11615
"Default Category/Level 1" has ID=3, right? Is problematic product actually available in this category? `Display Settings > Anchor` is set to `No`?

[2017-10-21 15:03] orlangur commented on #11616
Are `level-1/product-2.html` request paths working for those stores?

[2017-10-21 15:03] hostep commented on #11615
Correct. 'Level 1' is ID 3, 'Level 2' is ID 4.
Product is available in both 'Level 1' and 'Level 2' because Anchor is by default set to 'Yes'.

[2017-10-21 15:09] hostep commented on #11616
Correct, so all these url's work:

Dutch storeview:
- level-1-nl/product-2.html
- level-1/product-2.html

French storeview:
- level-1-fr/product-2.html
- level-1/product-2.html

[2017-10-21 15:29] sylink commented on #9228
What can happen is the indexers are interrupted or stopped in some way. This was common in Magento 1 where an index would be marked as Processing though no indexer was running at all.

Magento 2 has a similar issue, and once stuck Processing it may not update.  A simple fix is to set the stuck indexer, or all indexers, to invalid either in the indexer_state table or from CLI run:

_magento indexer

[2017-10-21 15:34] orlangur commented on #11615
Oh, sorry, I missed the "expected result" part :)

Category URL Key is received from global instead of store view scope, should be
`level-1/product-1.html` -> `level-1-nl/product-1.html`
`level-1/product-1.html` -> `level-1-fr/product-1.html`

[2017-10-21 17:26] orlangur commented on #8698
@kukulis please change issue description according to https://github.com/magento/magento2/blob/2.2-develop/ISSUE_TEMPLATE.md (instead of adding it as a comment) and post a PR targeting `2.2-develop` with suggested changed if issue is relevant for `2.2`.

[2017-10-21 17:29] orlangur commented on #8856
GitHub is intended for bug reports, please use [Community Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) for other suggestions like improvements or feature requests.

[2017-10-21 17:29] #8856 closed, assigned to nobody

[2017-10-21 17:34] erikhansen commented on #4301
I'm experiencing this behavior on two 2.1.9 sites. Another way to reproduce the issue is:

1. Add a product to cart.
2. From the mini-cart, click the "Go To Checkout" button and then immediately click the "View and edit cart" link.
3. The cart will be empty with this error message: "You have no items in your shopping cart."

[2017-10-21 17:48] orlangur commented on #6745
According to https://github.com/magento/magento2/issues/3890#issuecomment-312909473 it seems to be fixed on 2.2 branch.

[2017-10-21 17:48] #6745 closed, assigned to nobody

[2017-10-21 17:51] szepeviktor commented on #8856
Thank you @orlangur
Are there plans to reduce number of globals?

[2017-10-21 18:00] orlangur commented on #8856
Hi @szepeviktor, have no idea, generally I believe new code is written without new globals and old globals are refactored when it is possible taking into account backward compatibility constraints.

Not sure such refactoring is planned as a separate core team activity but such contributions from Community are always welcomed.

[2017-10-21 18:02] iTea2 commented on #11263
We replicated the bug.

[2017-10-21 18:11] orlangur commented on #7131
Caching of AJAX requests in browser cache - https://github.com/magento/magento2/blob/2.1-develop/app/code/Magento/PageCache/view/frontend/web/js/page-cache.js#L228 - is correct system behavior.

Note that although some core code is still using `isScopePrivate` it shall not be used in any new code: http://devdocs.magento.com/guides/v2.2/extension-dev-guide/cache/page-caching/private-content.html#co

[2017-10-21 18:11] #7131 closed, assigned to nobody

[2017-10-21 18:14] kkdg commented on #10684
@magento-engcom-team , could you tell me the detailed explanation why once dynamic price status saved for a bundled product, can't change it later?

[2017-10-21 18:15] orlangur commented on #7917
This issue does not contain enough information to reproduce it by anyone else. Anyone facing it, please add more details performing some investigation on your side and I will be glad to reopen it.

[2017-10-21 18:30] amansrivastava commented on #4546
do we have any fix for this ? Web setup gets 500 response, error looks like "Cannot instantiate interface Zend\ServiceManager\ServiceLocatorInterface"

[2017-10-21 19:15] ghost opened #11623 "Error when editing Attribut"
### Preconditions

1. Magento 2.2
2. Php 7
3. Appache 2.4
### Steps to reproduce

1. store/attibutes/product
2. Edit ean attribute. I have add this attribute myself without problem but now, not possible to edit this attribute.

### Expected result

1. Attribute page edition

### Actual result

1.
1 exception(s):
Exception #0 (InvalidArgumentException): Unable to unserialize value.

Exception #0 (I

[2017-10-21 19:56] msieprawski commented on #11562
Hi again.

I've just checked that on Magento 2.1.9 and it works. **However**, after multiple tries, copy-pasting same module which works on 2.1.9 I can't make it work on Magento 2.2.0.

[2017-10-21 20:06] rishabhchd19 opened #11624 "New Products are not displaying when added in the frontend"
### Preconditions

1. Magento 2.2.0 upgraded from 2.1.9, php 7

### Steps to reproduce

1. Add new products as Simple Product with weight Item has weight (blank). 320 items in 2.1.9, 390 items in 2.2.0.
2. Quantity: 9999, Price: Random, Content: Random, Website: Default
3. Category Added: By default for all the items, By Alphabets A-Z for all items, By Field mostly for all, By Package for few

###

[2017-10-21 22:14] simon-letch commented on #6865
I'm currently running a local instance of Magento on ports 81 (http) and 443 (https) and am encountering this issue. Admin 404s despite configuration being correct with regards to rewrites/permissions etc.

@ctadlock, your fix works for me too. Changing XML_PATH_UNSECURE_BASE_URL to XML_PATH_SECURE_BASE_URL in isHostBackend() fixes it.

It looks like isHostBackend() should check XML_PATH_SECURE_IN

[2017-10-21 22:40] PetraSwed commented on #5840
magento 2.1.8. Setting special price on a product (under Advanced Pricing) sets automatically "Set product as new From" to todays date. Very irritating issue. I need to be able to mark product as "new" or "discounted". With this issue get all discounted products as "new" as well.

[2017-10-21 23:40] miguelbalparda commented on #10347
Thanks a lot @PieterCappelle!!!

[2017-10-21 23:52] miguelbalparda commented on #8095
@keyurshah070 I was able to reproduce this in 2.2. Can you double check please?

[2017-10-22 06:57] daniel-ifrim commented on #5840
@PetraSwed They fixed it in another issuesor 2.2.0
https://github.com/magento/magento2/issues/4387
Better search for the fix in 2.2.0

[2017-10-22 07:55] achatpc commented on #11623
Solved with store Manager.

edit catalog_eav_attribute table

check the 'null' box in additional_data field for attribute with problem.

![solved](https://user-images.githubusercontent.com/17496183/31859642-c2f817b0-b70e-11e7-8531-72421d11de98.png)

[2017-10-22 07:55] #11623 closed, assigned to nobody

[2017-10-22 08:20] mzeis commented on #11518
@alen9788 I see that another person in the link you posted has this problem.

I just installed 2.2 again from scratch, switched to production mode, created a product and added it to the cart. The mini cart works fine for me.

I believe you that you have this problem and I totally understand you need this fixed asap. But we need to provide the core team with steps to reproduce it. You cannot fix so

[2017-10-22 08:25] iTea2 opened #11627 "Problem with the attribute color"
### Preconditions

1. Apache 2.4, MPM_Event, PHP7.1, MariaDB 10.2, OPCache
2. Virgin install Magento ver. 2.2.0

### Steps to reproduce

1. Click Men - Bottoms - Pants -> 12 items
2. Click Style - Leggings -> 4 items, 2 in green
3. Click Color - Green

### Expected result

1. 2 items found

### Actual result

1. 0 items found

There seems to be a problem with the attribute color.

[2017-10-22 08:25] msieprawski commented on #11562
Well.. I don't know what to say. Today I've uninstalled my Magento 2.2 using setup:uninstall command and I've installed my Magento again. Using the same modules as before uninstall. I was really surprised when I saw that my custom tab is now visible. I have no idea what was the cause but I'm glad that it's working.

Thanks.

[2017-10-22 08:25] #11562 closed, assigned to nobody

[2017-10-22 09:27] amaddatu commented on #9171
@NormAtHuemor
I wouldn't mind at all. Here are my Module Files
In the di.xml I created a class preference for my override
/etc/di.xml

I made sure that the Magento_CatalogImportExport module was loaded _before_ my module would override.
/etc/module.xml

Added my new init function in Product.php and created a new constructor override here.
/Model/Import/Product.php

You can see my files below.
[Ima

[2017-10-22 09:36] keyurshah070 commented on #8095
@miguelbalparda Still I can not reproduce this on magento 2.2 , I am trying on module router not on home page. You are trying to on home page ? This is my code

[code]

and here is my phtml code

[code]

[2017-10-22 09:46] raumatbel commented on #6770
@magento-engcom-team can you assign me please?

[2017-10-22 09:46] amaddatu commented on #9171
Also, I have confirmed that the issue does exist in my Magento version 2.1.8, and that my workaround is for that version, however, it may work in others.

Magento ver. 2.1.8

[2017-10-22 09:59] vmtv commented on #11190
The files diif 2.1 to 2.2:
array(1619) {
  [31]=>
  string(38) "vendor/magento/framework/Acl/Cache.php"
  [32]=>
  string(47) "vendor/magento/framework/Acl/CacheInterface.php"
  [61]=>
  string(52) "vendor/magento/framework/Acl/Test/Unit/CacheTest.php"
  [311]=>
  string(65) "vendor/magento/framework/App/Config/Scope/ReaderPoolInterface.php"
  [316]=>
  string(49) "vendor/magento/framework/App/Con

[2017-10-22 10:00] peterjaap commented on #11230
Confirmed what @vanpoppel says. Please reopen issue @magento-engcom-team

[2017-10-22 11:03] yohanespradono commented on #1616
i am also struggling on convertin quote address custom field to order address

[2017-10-22 11:06] yohanespradono commented on #5823
i am also having problem converting quote address custom attribute to order address.

[2017-10-22 11:14] ad1rie1 opened #11629 "Problem with observer class not found"
### Preconditions

1. Magento 2.1.9
2. Php 7.0

### Steps to reproduce

Like your documentation i have created a module for redirect user.
http://devdocs.magento.com/guides/v2.0/extension-dev-guide/events-and-observers.html

The directory is :
**/app/code/Athena/RedirectToLanguage/etc/frontend/events.xml :**
[code]

**/app/code/Athena/RedirectToLanguage/Observer/AthenaObserverRedirect :**
[code]

[2017-10-22 11:57] alen9788 opened #11630 "Invalid option value M2.2"
1. MCE2.2

After click the "Save&Duplicate" for the simple product

### Expected result

The duplicated product should be generated.

### Actual result

1. [Screenshot, logs]

It said: Invalid option value

This happened after upgrade to MCE 2.2 never happened before

![in](https://user-images.githubusercontent.com/20162144/31861612-17086126-b763-11e7-9b58-56f7c0c9a12a.jpg)

[2017-10-22 12:22] keyurshah070 commented on #9219
should I commit ? After checking long conversion I am confuse in status @okorshenko

[2017-10-22 12:50] gomencal commented on #8820
Hi! There is a problem when trying to save a product with typeId "" (empty string).
As a workaround you can check this value on the client side for not sending it when empty.

I have a solution for this, can anyone assign me this ticket?

Thanks!

[2017-10-22 13:20] keyurshah070 commented on #6507
I can not reproduce in fresh setup of 2.2, please check below screenshot.Kindly confirm @okorshenko
## **my test attribute**

![drop product attributes attributes stores magento admin](https://user-images.githubusercontent.com/17308601/31862321-47a1c024-b73c-11e7-8017-e684a3660bd0.png)

## **and my test product**

![untitled](https://user-images.githubusercontent.com/17308601/31862322-4f41be10-b73

[2017-10-22 13:31] rogyar commented on #9830
This happens because of the incorrect block class definition. The https://github.com/magento/magento2/pull/11631 contains fix for the order items list. Also, it fixes the error mentioned here

[2017-10-22 13:57] keyurshah070 commented on #4808
I can not reproduce on fresh 2.2 , please check my recordings which I have done in my setup,

https://drive.google.com/file/d/0B8gUImJC3FQoNGZ6YXVhWkxCQW8/view

Kindly confirm @okorshenko

[2017-10-22 14:29] adrian-martinez-interactiv4 commented on #10457
I'm working on it #SQUASHTOBERFEST, can I be assigned to this issue?

[2017-10-22 15:03] keyurshah070 commented on #7075
@okorshenko I can not reproduce in fresh 2.2. kindly confirm

[2017-10-22 15:46] keyurshah070 commented on #9851
Started investing @okorshenko

[2017-10-22 17:00] versdivers commented on #11018
A hidden space was within the import. My bad. This can be kept closed

[2017-10-22 17:11] Viktorminator commented on #2614
Probably you didn't copy _.htaccess_ file to your installation folder (and probably few other hidden files):
[code]
So on your Mac machine in terminal
[code]
Relaunch "Finder" (right click + Alt -> Relaunch)
Grab your hidden files and put them into core folder.

[2017-10-22 17:14] alen9788 commented on #11518
@mzeis  We are waiting for the reply from our theme's developer, they are checking it.

[2017-10-22 18:11] magento2pl opened #11633 "If You choose require custom options in simple product then simple product will disappear from configurable or group product."
1. PHP 7.1.8 / MYSQL 5.6.35 / APACHE
2. Magento CE 2.2

### Steps to reproduce
1. Create configurable or group product
2. Create simple product and add them to configurable product or group product
3. Edit simple product adding require custom option

### Expected result
1. Simple product will still be assigned to configurable or config

### Actual result
1. Simple will disappear from group or conf

[2017-10-22 18:11] magento2pl opened #30492 "Adding required custom options to simple product removes it from parent composite products without warning"
### Steps to reproduce
1. Login to the Magento Admin panel
2. Create a configurable or group product
3. Create a simple product and add it to configurable or group product
4. Edit simple product and add a required custom option
5. Save

### Expected result
A simple product should not be saved. A warning should be displayed to the admin user: "Required custom options cannot be added to a simple pro

[2017-10-22 19:07] garfix commented on #9113
It is important to notice that starting to use a url_path for products will have an important performance penalty.

Currently it is already the case that when the url_key of a parent category changes, this affects the url_paths of all child categories. And the url_rewrite entries for these categories.

If a url_path for products is the be kept current, is will be the case that when the url_key of

[2017-10-23 02:11] lfritsche commented on #11408
@magento-engcom-team could you please reference to the commits fixing this issue?
Thank you!

[2017-10-23 02:53] briscoda commented on #9944
This seems to happen when the product_form.xml field name is a one-word string without a '.'.

See: https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Ui/view/base/web/js/form/element/abstract.js#L122

In the xml referenced by the original reporter, if it was replaced like this:

`
...
<field name="holder.extra">
            <argument name="data" xsi:type="array">

[2017-10-23 06:02] magento-engcom-team commented on #4417
@Aquarvin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 06:02] #4417 closed, assigned to mazhalai

[2017-10-23 06:07] epolish commented on #11573
Did you create this extension via custom module setup (not in admin interface)?

[2017-10-23 06:13] epolish commented on #11573
[Eleanorsoft.zip](https://github.com/magento/magento2/files/1405935/Eleanorsoft.zip)
Install this extension. And reproduce all next steps.

[2017-10-23 06:43] vanpoppel commented on #11230
I would like to know if this test is intended for use on a Magento2 installed via composer. When you install Magento2 by creating a clone from the Magento2 repository you won't have this problem. But (I hope) people only do this to contribute to Magento2.

Is a developer supposed to be able to run all unit tests when installed via composer? Or only the ones they write themselves?

[2017-10-23 07:15] magento-engcom-team commented on #4449
@dennesabing, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 07:15] #4449 closed, assigned to nobody

[2017-10-23 07:15] magento-engcom-team commented on #4449
@dennesabing, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 07:21] magento-engcom-team commented on #4417
@Aquarvin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 07:21] magento-engcom-team commented on #4417
@Aquarvin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 07:22] magento-engcom-team commented on #4449
@dennesabing, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 07:30] magento-engcom-team commented on #8024
@navarr, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-23 07:30] #8024 closed, assigned to tkacheva, magento-engcom-team

[2017-10-23 07:30] magento-engcom-team commented on #10220
@MagePsycho, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-23 07:30] #10220 closed, assigned to magento-engcom-team

[2017-10-23 07:47] stormbyte commented on #11055
We are using the Google Cloud SQL server where we encountered the same problem.
Using the MySQL 2e gen. 5.7 server gave us the error:
[code]
There for we downgraded to MySQL 1e gen. 5.6 in order to evade the issue.
Can this be solved or will magento2 not be compatible with a High end solution?

[2017-10-23 07:54] magento-engcom-team commented on #11423
@Ralfefernandes , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ]

[2017-10-23 08:01] vinaysikarwar commented on #5019
@vipin-eglobeits

Did you get any solution to import product videos in Bulk product import process.

[2017-10-23 08:05] magento-engcom-team commented on #11221
@xudongli113, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-23 08:05] #11221 closed, assigned to magento-engcom-team

[2017-10-23 08:06] magento-engcom-team commented on #11394
@mhpsaa , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps t

[2017-10-23 08:10] magento-engcom-team commented on #11213
@OnkelTem, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-23 08:10] #11213 closed, assigned to magento-engcom-team

[2017-10-23 08:17] magento-engcom-team commented on #8016
Hi @ koenner01
Thanks for reporting this issue.
Could you please appear how do you implement the \Magento\Framework\Data\Form in admin area?

[2017-10-23 08:21] avra911 commented on #11055
maybe it cant just change the `CREATE TEMPORARY TABLE` into `CREATE VIEW` instead? This should theoretically solve the GTID consistency problem

[2017-10-23 08:26] magento-engcom-team commented on #10039
@ihor-sviziev, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-23 08:26] #10039 closed, assigned to nobody

[2017-10-23 08:29] enriquei4 commented on #9869
I've been workin in this issue.

[2017-10-23 08:30] magento-engcom-team commented on #11633
@magento2pl, thank you for your report.
We've created internal ticket(s) MAGETWO-50664 to track progress on the issue.

[2017-10-23 08:30] magento-engcom-team commented on #11573
@epolish, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 08:30] #11573 closed, assigned to nobody

[2017-10-23 08:30] magento-engcom-team commented on #8747
@goben2489, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-23 08:31] magento-engcom-team commented on #5072
@virtual97 thank you for your report.
Because Gift Cards module is not functionality of Magento CE, please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account or If you are a Partner reporting on behalf of a merchant, use the Partner portal.
GitHub is intended for Magento O

[2017-10-23 08:31] #5072 closed, assigned to vzabaznov

[2017-10-23 08:40] keyurshah070 commented on #9851
It seems like I found the problem, could you please assign it to me so I can make a pull request @okobchenko

[2017-10-23 08:43] guvra commented on #9910
I found the commit ref: https://github.com/magento/magento2/commit/1ab9b26828cd4da268e9a7481d4969bffb1460c1

There's only a single class to rewrite :)

[2017-10-23 08:49] tonymik opened #11638 "Running script from cron returns this error after first line: SQLSTATE[40001]: Serialization failure: 1213 Deadlock..."
Magento ver. 1.9.1.0
PHP ver. 5.3.3

I created a script which I used to run from CRON MANAGER in PLESK.
The script updates existing products and creates new ones if there are any.
All went well until one day when it stopped working and stat returning this error:

`**Start update/import script
Updating product 102866, qty: 5, price: 210.23**
PHP Fatal error:  Uncaught exception 'PDOException' with

[2017-10-23 08:49] divivu opened #11639 "Price filter working wrong when applying a catalog price rule (discount 20%)"
### Preconditions

1. Create a catalog price rule, discount 20% for certain product category
2. Configurable product with some child products with price and special price.

### Steps to reproduce

1. Create a catalog price rule, discount 20% for certain product category
2. Assign price for one child product is 100$, special price is 90$
3. Go to category page which that product belongs to
4. Click

[2017-10-23 08:53] magento-engcom-team commented on #8646
@adityag186, thank you for your report.
We've created internal ticket(s) MAGETWO-82493 to track progress on the issue.

[2017-10-23 08:55] tinxit commented on #10019
we have tested on a 2.2. enviroment and still the same error message occurs as reported in June 2017

[2017-10-23 08:56] alpha-buerobedarf commented on #5260
I am was facing this issue in 2.2 as well, \Magento\Security\Model\SecurityChecker\Quantity and \Magento\Security\Model\SecurityChecker\Frequency are you using a bad query ,

**AND ((`ip` = '127.0.0.1') OR (`account_reference` = 'mail@this-is.not-a-domain.com'))**

ORDER BY created_at DESC

If you are using Varnish and take a look in table password_reset_request_event, all customers get the same i

[2017-10-23 09:30] magento-engcom-team commented on #5823
@srenon, thank you for your report.
We've created internal ticket(s) MAGETWO-60356 to track progress on the issue.

[2017-10-23 09:59] duongquyet opened #11641 "Can't compile magento 2.2.0 sample data"
I'm using magento 2.2.0 with sample data and it work fine. After i installed it, I try to compile code. But after compile code frontend show empty page and backend can't load.

Backend:
http://prntscr.com/h0u26p
Frontend:
http://prntscr.com/h0u2fg

I use Windows 8.1 Pro 64-bit and xampp 3.2.2.
PHP version: 7.0.6
phpMyAdmin version: 4.5.1.
Please help.

Best regards,

DuongQuyet

[2017-10-23 10:15] magento-engcom-team commented on #9038
Fixed on 2.3
We will consider backporting

[2017-10-23 10:30] magento-engcom-team commented on #11627
@iTea2, thank you for your report.
We've created internal ticket(s) MAGETWO-82498 to track progress on the issue.

[2017-10-23 10:31] keyurshah070 commented on #6665
Started Investing on this @okobchenko  @ishakhsuvarov

[2017-10-23 10:40] keyurshah070 commented on #6665
can we add postcode field as same as country (non editable ) ? as post code is part of customer address so to only save post code is not possible.  It create an issue with other field also, like city,phone . Any suggestion  on this ? @okobchenko @ishakhsuvarov

[2017-10-23 10:40] orlangur commented on #11641
Can you reproduce an issue using a supported operating system: http://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html? Note that Windows is not in the list.

Also `localhost` domain may cause troubles with cookies in some browsers, try making some local alias like `magento.dev` or `something.com`.

[2017-10-23 10:41] keyurshah070 commented on #6507
Kindly confirm @ishakhsuvarov

[2017-10-23 10:43] tr33m4n commented on #11298
Also seeing this on v2.1.9. Adding an `isArray` check to `select.js` prevents the error, however it doesn't help us understand why it's happening

[2017-10-23 10:44] orlangur commented on #11629
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2017-10-23 10:48] orlangur commented on #11633
This is not a problem. Simple product with custom option MUST NOT be assigned to configurable product. Check https://magento.stackexchange.com/questions/9999/associate-simple-products-with-custom-options-to-configurable-product for more details.

At the same time, initial bug reports seems valid to me: there should be a validation telling Admin user that simple product is associated with grouped/c

[2017-10-23 11:01] magento-engcom-team commented on #11301
@esimov, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.
Steps we did:
**With upgrade**:
1. Install latest 2.1.x, which is currently 2.1.9
2. Create custom module with install data which add new attributes(use code reference from **Steps To Reproduce**)
3. Upgrade to 2.2.0

**Without upgrade**

[2017-10-23 11:04] orlangur commented on #11283
@mugua which method is not implemented?

[2017-10-23 11:07] hemendraajmera commented on #3150
Hi can you please check the URL,
http://www.thehouseofthings.com/thotstaging/gramercy-zebra-rug.html
when clicking on any size it will not be changing price I am using 2.1.8.
Can you please check and replay ASAP. my client going live by this week.

[2017-10-23 11:10] magento-engcom-team commented on #4784
@punkstar, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-10-23 11:10] #4784 closed, assigned to nobody

[2017-10-23 11:13] kervin commented on #7525
Is 2.1.10 available?

[2017-10-23 11:22] manuelson commented on #11507
@jgutierrezs  check chrome console. it is possible that you have some errors. Probably the static content that has not been generated well. Use php bin/magento setup:static-content:deploy -a adminhtml

[2017-10-23 11:30] magento-engcom-team commented on #5630
@timhofman, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-23 11:30] #5630 closed, assigned to nobody

[2017-10-23 11:30] magento-engcom-team commented on #6016
@pascaladriaansen, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-23 11:30] #6016 closed, assigned to nobody

[2017-10-23 11:30] magento-engcom-team commented on #2842
@bgkavinga, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 11:30] #2842 closed, assigned to nobody

[2017-10-23 11:30] magento-engcom-team commented on #11615
@hostep, thank you for your report.
We've created internal ticket(s) MAGETWO-82506 to track progress on the issue.

[2017-10-23 11:30] magento-engcom-team commented on #4151
@zolthan, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-23 11:30] #4151 closed, assigned to antboiko

[2017-10-23 11:36] magento-engcom-team commented on #4727
Hi @JaggedJax
Token Lifetime can be change in Config > Services > OAuth >Access Token Expiration

[2017-10-23 11:36] bnymn commented on #11230
@vanpoppel I think that a developer must have the ability to run all unit tests, because sometimes we are writing plugins which changes the behavior of core modules. In this case, we need to make sure that everything is working just fine.

[2017-10-23 11:36] hemendraajmera opened #11647 "Configurable product Price not updated when choosing other variation in frontend"
### Preconditions

1. Magento version 2.1.8
2.

### Steps to reproduce

1.  Add configurable product
2. Add variations based on attribute size (swatch)
3. Set different prices for each variation

### Expected result

1. Would expect a different price when choosing different size swatch  in frontend product page but price isn't updated

### Actual result

1. Price stays the same
2. url http://www.t

[2017-10-23 11:37] luckyraul commented on #2228
@magento-engcom-team good timing (2 year for resolve )

[2017-10-23 11:42] magento-engcom-team commented on #8403
@giacmir , thank you for your report.
Unfortunately, I cannot get a numeric amount of the cart subtotal by getting subtotal_unformated in earlier versions. Can You please provide link for code, where it was used in earlier versions?

[2017-10-23 11:44] luckyraul commented on #2228
just checked on 2.2

still failing with one &amp;

[2017-10-23 12:00] PingusPepan commented on #2228
I don't know about 2.3.0-dev, but on 2.2.0 single ampersand was definitely not working for me. Can anyone link the commit that is supposed to fix this bug?

[2017-10-23 12:03] JanPetr commented on #6119
Thanks for the update @magento-engcom-team! How / where can I track progress / fix of this issue now?

[2017-10-23 12:04] Tjab opened #11648 "Product Use Default Value not selected when linking to non-default websites"
### Preconditions
1.  Magento ver. 2.1.5 (but I believe this to be an issue for every version)
2. Two websites, with two store views each
 - Website A - DEFAULT
   - Store View ASV1 - DEFAULT
   - Store View ASV2
 - Website B
   - Store View BSV1
   - Store View BSV2

### Steps to reproduce
1. Add a product via `POST /V1/products`
2. Add the product to Website A and B (or only B as A is default) v

[2017-10-23 12:15] wintermute-84 commented on #11247
Feel free to test it on our almost clean 2.2.0 install:
http://clean22.test.npecommerce.dk/

If you use CreditCard (QuickPay) as payment method and just cancel your payment on the HPP it will redirect back to checkout purging shipping address. You can debug JS that is loading the address.

Or you can use Adyen HPP with the same result as @reihaan has. It will redirect to cart and after proceeding

[2017-10-23 12:20] au00433276 commented on #2146
also in checkout shipping  and billing country select box, there are 2 blank options values before country list, how to deal with that ?

[2017-10-23 12:30] magento-engcom-team commented on #9220
@SirElectro, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 12:30] #9220 closed, assigned to nobody

[2017-10-23 12:30] magento-engcom-team commented on #11400
@MoschenBayern, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-10-23 12:30] #11400 closed, assigned to nobody

[2017-10-23 12:30] magento-engcom-team commented on #4727
@JaggedJax, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-23 12:30] magento-engcom-team commented on #11616
@hostep, thank you for your report.
We've created internal ticket(s) MAGETWO-82512 to track progress on the issue.

[2017-10-23 12:30] magento-engcom-team commented on #4310
@creatuitydevelopers, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-23 12:30] #4310 closed, assigned to mikeweis, heyitsroberthe

[2017-10-23 12:31] magento-engcom-team commented on #11647
@hemendraajmera We can't reproduce this issue. Please install clean and fresh Magento, and try to reproduce this issue again.

[2017-10-23 12:33] hemendraajmera commented on #11647
Fresh install need to install and configure all data.

[2017-10-23 12:40] magento-engcom-team commented on #10783
@david-kominek, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-23 12:40] #10783 closed, assigned to nobody

[2017-10-23 12:41] magento-engcom-team commented on #9300
@ooples , thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source on

[2017-10-23 12:41] #9300 closed, assigned to magento-engcom-team

[2017-10-23 12:45] enriquei4 commented on #11534
Im working on this issue, could you assign me?

[2017-10-23 12:52] hemendraajmera commented on #11647
Can you please share URL for reference

[2017-10-23 13:02] hemendraajmera commented on #11647
![image](https://user-images.githubusercontent.com/2478037/31890348-6c7f228a-b820-11e7-9cf3-9f7a9c80a1f0.png)

Please refer above product variant and check on below URL
http://www.thehouseofthings.com/thotstaging/gramercy-zebra-rug.html

[2017-10-23 13:30] magento-engcom-team commented on #7767
@PiscesThankIT, thank you for your report.
We've created internal ticket(s) MAGETWO-82525 to track progress on the issue.

[2017-10-23 13:30] magento-engcom-team commented on #11122
@rigu12, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0

[2017-10-23 13:30] #11122 closed, assigned to nobody

[2017-10-23 13:30] magento-engcom-team commented on #9195
@atrixtech, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-23 13:30] #9195 closed, assigned to nobody

[2017-10-23 13:30] magento-engcom-team commented on #4220
@inborntech, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 13:30] #4220 closed, assigned to nobody

[2017-10-23 13:30] magento-engcom-team commented on #2640
@ivanweiler, thank you for your report.
We've created internal ticket(s) MAGETWO-62161 to track progress on the issue.

[2017-10-23 13:30] magento-engcom-team commented on #5023
@chicgeek, thank you for your report.
We've created internal ticket(s) MAGETWO-82524 to track progress on the issue.

[2017-10-23 13:30] magento-engcom-team commented on #6543
@rbostan, thank you for your report.
We've created internal ticket(s) MAGETWO-82522 to track progress on the issue.

[2017-10-23 13:30] magento-engcom-team commented on #6059
@ChristianWalker19, thank you for your report.
We've created internal ticket(s) MAGETWO-82523 to track progress on the issue.

[2017-10-23 13:35] joni-jones commented on #11612
Hi, @surgyelan, do you use built-in Braintree integration? It looks like a custom extension.

[2017-10-23 13:41] magento-engcom-team commented on #4977
@theycallmepepper, thank you for your report.
We've created internal ticket(s) MAGETWO-55440 to track progress on the issue.

[2017-10-23 13:43] magento-engcom-team commented on #5566
@atIOCrON, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 13:43] #5566 closed, assigned to nobody

[2017-10-23 13:49] orlangur commented on #11647
@hemendraajmera it seems like your store is broken.

When I open product page there is JS error in console:
[code]

When I choose size swatch:
[code]

Before reporting bugs to this repo please make sure they are not caused by store customizations.

[2017-10-23 14:20] mtbottens commented on #6058
This is caused by browser inconsistencies in `element.value`. Per the spec, email inputs should trim leading and trailing whitespace. Chrome is doing this properly while ie11 (surprise) is not.

See spec here: https://www.w3.org/TR/html5/forms.html#e-mail-state-(type=email)

Code example:
[code]

[2017-10-23 14:23] magento-engcom-team commented on #8020
@hacheni, thank you for your report.
We've created internal ticket(s) MAGETWO-70885 to track progress on the issue.

[2017-10-23 14:24] magento-engcom-team commented on #11630
@alen9788 ,thank you for your report. We were not able to reproduce this issue by following the steps you provided(upgraded by Web Setup Wizard to Magento v2.2.0). Please add more details to your description of the steps you followed when identifying this issue.

[2017-10-23 14:27] magento-engcom-team commented on #11256
@egomez16 @robbieaverill We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-23 14:30] magento-engcom-team commented on #4403
@rafaelstz, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 14:30] #4403 closed, assigned to rgoncharuk

[2017-10-23 14:44] orlangur commented on #6058
@mtbottens as I understand we cannot fix validation introduced by browser itself?

Such browser-specific validation could be disabled but I don't think it's a good idea.

[2017-10-23 14:53] orlangur commented on #6543
Hi @rbostan,

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

https://magento.stackexchange.com/questions/107440/magento-2-layout-based-on-attribute-set seems to be what you need.

[2017-10-23 14:53] #6543 closed, assigned to magento-engcom-team

[2017-10-23 15:15] mtbottens commented on #6058
@orlangur Essentially. No matter what we do, the browser is still going to return the value with the leading/trailing white space trimmed. The only thing we could really do is write a method to get the value which would handle trimming the whitespace for email inputs to support browsers which aren't following the spec. But doing that would require us overwriting logic in `$.fn.validate`, specifica

[2017-10-23 15:24] egomez16 commented on #11256
Alright thats fine. Okay so this is the issue.The first thing I do is
select catalog and I choose a product and try to either drag or select a
image that is saved to my computer. The image loads for a while and then
sudently turns back into the option, "Browse to find or drag image here."
This has happen for most of the products and only worked for about 15
products but even if I use the same pict

[2017-10-23 15:30] magento-engcom-team commented on #8366
@MattDelac, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-23 15:30] #8366 closed, assigned to nobody

[2017-10-23 15:59] scottsb commented on #10838
FYI, we have updated our patch repository to include @jhruehl's patch for automatic Composer application: https://github.com/ripenecommerce/magento2-patches

[2017-10-23 16:02] aniruddhadeshpande commented on #9954
@PKRAY007, Could you tell me how you have fixed this issue? I'm facing same problem on multi website store of version -  Magento 2.1.9

[2017-10-23 16:07] olgalytvynenko commented on #8178
Hi, everyone!
You can use this [commit](https://github.com/magento/magento2/commit/41ceeb6208c461ac8e1d261d3cd3f5b6b59e19c3#diff-840626449b4aa53dc3745a0e53e158b9) as patch to fix an issue)

[2017-10-23 16:15] rogmoreno commented on #8170
We have problems with 10.1.28-MariaDB and percona 5.6.36-82.0

[2017-10-23 16:30] magento-engcom-team commented on #11586
@adrian-martinez-interactiv4, thank you for your report.
We've created internal ticket(s) MAGETWO-82533 to track progress on the issue.

[2017-10-23 16:30] magento-engcom-team commented on #11535
@adamlavery, thank you for your report.
We've created internal ticket(s) MAGETWO-82532 to track progress on the issue.

[2017-10-23 16:57] lewisvoncken commented on #11095
@friimaind  I supplied a pull request for this issue.

[2017-10-23 17:01] lewisvoncken commented on #11095
I'm working on it #SQUASHTOBERFEST

[2017-10-23 17:22] orlangur commented on #11571
Which form fields are supposed to be validated in core when you press `'Add to Wish List'`?

[2017-10-23 17:24] orlangur commented on #11571
Form validation must be triggered by this code actually. There is no need to add some custom code like `if(form.validation())`.

[2017-10-23 17:33] lewisvoncken commented on #11352
@avinashamrutkar have you tried to install this language pack?
https://crowdin.com/project/magento-2/sv-SE

it is only translated for 40% may that is the issue?

[2017-10-23 18:34] msawyers opened #11653 "Captcha not showing on custom theme after upgrade to v 2.2"
Preconditions

Previous version 2.1.7
PHP version 7.1.9

Upgrade to version 2.2.0

Steps to reproduce

1. Use Custom theme.
2. Goto Forgot Password page on frontend

Expected result

1. Forgot Password page should appear
2. Screen should show input box to place email address and for captcha
3. Image of captcha should also appear.
4. Attempts to change password after entering details required on sc

[2017-10-23 18:50] spyrule commented on #7441
I can confirm this issues still exists in 2.1.9, Whats interesting, it seems to ignore the actual sort_order value that exists in eav_attribute_option table. I have an attribute (manufacturer) that has ~800 items in its list, and 3/4 of the way down the list restarts at A through Z for a list of items that was imported later on. I suspected the sort_order was wrong on this second group, however it

[2017-10-23 18:54] orlangur commented on #11653
Well, you need to check how CAPTCHA code in core theme currently looks like in 2.2 and change custom theme accordingly.

[2017-10-23 19:14] okorshenko commented on #10216
Hi @karthigesh this feature is available in EE. Please use Staging functionality for that. Closing as non issues

[2017-10-23 19:14] #10216 closed, assigned to nobody

[2017-10-23 19:17] okorshenko commented on #11277
Hi @dfelton you can visit the Forum or Community Slack magentocommeng.slack.com to discuss any Magento related questions

[2017-10-23 19:17] #11277 closed, assigned to nobody

[2017-10-23 19:22] jonashrem commented on #10790
I see this is quite more complicated, than I initially assumed. So I would like to let this handle someone more experienced with magento2 code.

Please reassign this one.

[2017-10-23 19:29] henk-hypershop opened #11654 "Magento 2.2.0: Report ID: webapi-xxx; Message: Notice: Array to string conversion"
### Preconditions

1. Magento 2.2.0
2. PHP 7.0
3. NGINX

### Steps to reproduce

1. Upgrade Magento 2.1.9 to 2.2.0 using composer
2. Login as existing customer with address
3. Add products to cart and checkout

### Expected result

1. Customer can checkout and place order

### Actual result

Customer cannot continue to payment. Log error is shown instead. No stack trace whatsoever.

Network tools

[2017-10-23 19:30] keyurshah070 commented on #6665
Any suggestions @okobchenko

[2017-10-23 19:32] keyurshah070 commented on #8095
@miguelbalparda did you get the chance to confirm or my code ?

[2017-10-23 19:35] henk-hypershop commented on #11654
Found log in report/api. Found enough for fix.

[2017-10-23 19:43] mjandrsn23 opened #11656 "Bug with reset password functionality and restricted website"
### Preconditions

1. Magento 2.1.7
2.

### Steps to reproduce

1. Enable a restricted website
2. Send a password reset email or request a forgotten password
3. Click on link in email

### Expected result

1. Should be taken to the Set New password page

### Actual result

1. Redirected to login page

The issue is that Magento\WebsiteRestriction\Model\Restrictor line 141:
} elseif (!in_array($requ

[2017-10-23 19:43] aruntilak2 commented on #4549
exception(s):
Exception #0 (Magento\Framework\View\Asset\File\NotFoundException): Unable to resolve the source file for 'frontend/Aumika/default/en_US/Magento_Catalog/images/product/placeholder/.jpg'

[2017-10-23 19:55] piotrekkaminski commented on #1839
Version affected: 2.2
Steps: export customers
Expected: customer ID is included in export file so it can be used to later import the customers and update fields
Actual: customer ID is not included

[2017-10-23 19:56] piotrekkaminski commented on #1838
Version affected: 2.2
Steps: export customers
Expected: customer ID is included in export file so it can be used to later import the customers and update fields
Actual: customer ID is not included

[2017-10-23 19:57] keyurshah070 commented on #9113
Started Investigating @okobchenko @ishakhsuvarov

[2017-10-23 20:05] peterjaap opened #11657 "app:config:import fails - flag column 'flag_data' is too short ?"
I got this error; `Import failed: Unable to unserialize value, string is corrupted.` when running `php bin/magento app:config:import` to import my `app/etc/config.php`.

It turns out, the importer does a comparison in `\Magento\Config\Model\Config\Importer::import`. To do this comparison, it retrieves a 'flag'; the `system_config_snapshot` flag. This is saved in the database. The problem is; the `

[2017-10-23 20:38] lewisvoncken commented on #7591
I'm working on it #SQUASHTOBERFEST

[2017-10-23 21:10] joshuaswarren commented on #4848
Per the comment in PR #11501 this change that appeared safe was not, so the pull request I submitted can't be merged in.

This is definitely a core bug - the SOAP WSDL is being returned by default as JSON-encoded XML, which isn't valid behavior under the SOAP specs.

However, as I noted in the comments above, the core module that implements the SOAP API is actually using functions from the REST AP

[2017-10-23 21:13] vrann commented on #4848
@davidverholen as long as it is not WSDL resource by itself, it is not expected to be in XML format, instead, it uses the default REST serialization mechanism. That mechanism cannot be changed (at least in an easy backward compatible way) for this resource only, so I would suggest using an appropriate header to retrieve the list of WSDL resources in XML.

[2017-10-23 21:13] #4848 closed, assigned to joshuaswarren

[2017-10-23 21:41] drobinson commented on #7687
@veloraven @magento-engcom-team Do you know where this was fixed for the 2.1 branch?  I see the backport commit here but this does not fix the issue for me (introduces a new issue): https://github.com/magento/magento2/commit/7ec895235782c4195bc3363eb63fd5a15754930b

If there's a better place for me to describe the issue please let me know.

[2017-10-23 21:57] xpec-eestrada commented on #6877
thank, your solution work for me.

[2017-10-23 22:00] lewisvoncken commented on #9369
I'm working on it #SQUASHTOBERFEST

[2017-10-23 23:21] Linek opened #11664 "Command app:config:dump add unnecessary spacing every time it's run"
### Preconditions

1. PHP 7.0.24
2. nginx/1.11.13
3. Percona Ver 14.14 Distrib 5.7.19-17
4. Magento 2.2.0 installed with sample data by composer

### Steps to reproduce

1. Run "bin/magento app:config:dump" to dump configuration to app/etc/config.php file
2. Save your config.php file somewhere to compare
3. Run "bin/magento app:config:dump" again
4. Compare config.php after second dump with the on

[2017-10-23 23:29] richtunnel commented on #3181
I experienced a similar error. My issue resulted in removing ";".dtll in the wrong file.

Example:

Instead of removing the semi colon in Apache -> config ->"remove semi colon"
I accidentally removed it within my php folder via php.ini.

[2017-10-24 00:22] JaggedJax commented on #4727
According to this page:

- http://devdocs.magento.com/guides/v2.0/get-started/authentication/gs-authentication-token.html

the "Access Token Expiration" page is for Token-based authentication, but I was using oAuth-based authentication. If there is a limit that also applies to oAuth access tokens, can you please update these documentation pages with that information?

- http://devdocs.magento.com/

[2017-10-24 00:50] okorshenko commented on #11534
Hi @enriquei4 sure. Please accept the invitation

[2017-10-24 01:53] okorshenko commented on #11328
Hi @gulshan-streammarket the issue has been fixed in 2.1-develop branch. PRs to 2.2 and 2.3 are on the way. Closing the issue

[2017-10-24 01:53] #11328 closed, assigned to adrian-martinez-interactiv4

[2017-10-24 02:15] magento-team commented on #7591
Internal ticket to track issue progress: MAGETWO-82550

[2017-10-24 02:15] magento-team commented on #7915
Internal ticket to track issue progress: MAGETWO-82529

[2017-10-24 02:15] magento-team commented on #11586
Internal ticket to track issue progress: MAGETWO-82461

[2017-10-24 02:15] magento-team commented on #11581
Internal ticket to track issue progress: MAGETWO-82428

[2017-10-24 02:15] magento-team commented on #10795
Internal ticket to track issue progress: MAGETWO-81976

[2017-10-24 02:16] magento-team commented on #11328
Internal ticket to track issue progress: MAGETWO-82237

[2017-10-24 02:16] magento-team commented on #10441
Internal ticket to track issue progress: MAGETWO-81676

[2017-10-24 02:21] magento-engcom-team commented on #11334
Hi @ParimalMakwana we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 02:21] #11334 closed, assigned to nobody

[2017-10-24 02:22] magento-engcom-team commented on #11119
@koopjesboom we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 02:22] #11119 closed, assigned to magento-engcom-team

[2017-10-24 02:22] magento-engcom-team commented on #9536
@synpatic we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 02:22] #9536 closed, assigned to nobody

[2017-10-24 02:23] magento-engcom-team commented on #11218
@BenTen1701 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 02:23] #11218 closed, assigned to magento-engcom-team

[2017-10-24 02:23] magento-engcom-team commented on #11253
@sambalay we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 02:23] #11253 closed, assigned to nobody

[2017-10-24 02:29] magento-engcom-team commented on #11268
Hi @tr33m4n we cannot reproduce the issue on our side. Closing the issue

[2017-10-24 02:29] magento-engcom-team commented on #8497
@tzsolti we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 02:29] #8497 closed, assigned to nobody

[2017-10-24 02:30] magento-engcom-team commented on #11260
@coleHafner we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 02:30] #11260 closed, assigned to magento-engcom-team

[2017-10-24 02:30] magento-engcom-team commented on #11259
@coleHafner we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 02:30] #11259 closed, assigned to magento-engcom-team

[2017-10-24 02:31] magento-engcom-team commented on #11278
@rratinov  thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-24 02:31] #11278 closed, assigned to magento-engcom-team

[2017-10-24 02:32] magento-engcom-team commented on #11034
@spiegl we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 02:32] #11034 closed, assigned to nobody

[2017-10-24 02:35] magento-engcom-team commented on #11283
@mugua Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to reproduce
 - [ ] Expected result
 - [ ] Actual result

[2017-10-24 02:36] magento-engcom-team commented on #5971
@springimport we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 02:36] #5971 closed, assigned to misha-kotov

[2017-10-24 02:36] magento-engcom-team commented on #9700
@kaseyfurlong we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 02:36] #9700 closed, assigned to nobody

[2017-10-24 02:37] magento-engcom-team commented on #9700
@kaseyfurlong, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-24 02:37] magento-engcom-team commented on #5971
@springimport, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-24 02:38] magento-engcom-team commented on #11252
@stevenlavine we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 02:38] #11252 closed, assigned to magento-engcom-team

[2017-10-24 02:56] briscoda commented on #10291
I would like to work on this one, can you assign it to me?  #squashtoberfest

[2017-10-24 03:10] duongquyet commented on #11641
Hi @orlangur ,
You mean i can't install magento 2.2 on Windows?

[2017-10-24 03:34] davidalger commented on #11664
Closing as duplicate of #11328; fixed in 2.1-develop, there are PRs in progress for 2.2 and 2.3 to apply the same fix.

[2017-10-24 03:34] #11664 closed, assigned to nobody

[2017-10-24 03:44] tomnyson commented on #10878
same issue

[2017-10-24 03:53] versdivers commented on #10878
I solved this problem by talking to my hosting company who has resolved this by making changes in the fille permissions. So anyone who has this issue i highly recommend to check fille permissions

[2017-10-24 05:34] darkogoles1 commented on #1393
For all of those that came here still searching for an answer:

When creating the customer attribute, please take care about following things:
- Attribute is added to the attribute set, group
- Attribute is assigned to customer forms
- And the last one the most important as somehow, people just skip over it and wondering why the customer attribute does not want to save from the backend: Please mak

[2017-10-24 05:37] darkogoles1 commented on #9137
As already wrote [here](https://github.com/magento/magento2/issues/1393), here is a potential resolution of the issue that worked for me:

When creating the customer attribute, please take care of following things:
- Attribute is added to the attribute set, group
- Attribute is assigned to customer forms
- And the last one the most important as somehow, people just skip over it and wondering why t

[2017-10-24 05:40] AntonEvers opened #11669 "API salesRefundInvoiceV1 does no save invoice ID on credit memo"
### Preconditions

1. Magento branch 2.2-develop

### Steps to reproduce

1. Place an order with an online payment method (Paypal)
2. Create an online invoice for the order
3. Use API method salesRefundInvoiceV1 to create a refund for the invoice

### Expected result

1. Because I'm refunding an invoice, I'd expect the invoice ID to be saved on the credit memo.
2. When I create a credit memo from

[2017-10-24 05:46] PKRAY007 commented on #9954
@aniruddhadeshpande, Please check your .htaccess rules. I believe there are some rules applied that blocked some core resources which is necessary for payment transaction. You need to remove that rules (you may switch to default .htaccess of magento Magento 2.1.9). Think your problem will solve.

Regards,

[2017-10-24 05:49] magento-engcom-team commented on #4987
@woei66, thank you for your report.
We've created internal ticket(s) MAGETWO-58096 to track progress on the issue.

[2017-10-24 06:13] orlangur commented on #11641
Technically you can as there is no proper check during installation yet, like for incompatible PHP version. You shouldn't do it as it is not supported and in case of any Windows-specific problems you will be on your own.

[2017-10-24 06:37] milkolori commented on #6533
After update to last vertion I cannot reproduce the issue any more

[2017-10-24 06:55] aniruddhadeshpande commented on #9954
@PKRAY007, Thanks for reply, i'm using Nginx i will check its configuration.

[2017-10-24 07:30] magento-engcom-team commented on #11654
@henk-hypershop, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0

[2017-10-24 07:30] #11654 closed, assigned to nobody

[2017-10-24 08:00] magento-engcom-team commented on #11653
@msawyers, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-24 08:00] caciobanita commented on #9568
Can you please help me regarding the same probleme. In my case only one category is afected.
After import i neeed to change tha name for that category and save.
Any solution ?

[2017-10-24 08:02] caciobanita opened #11671 "Category not showing all products"
Please reopen this, probleme not solved - https://github.com/magento/magento2/issues/9568
Magento 2.1.7 CE
Can you please help me regarding the same probleme. In my case only one category is afected.
After import i neeed to change tha name for that category and save.
Any solution ?

[2017-10-24 08:30] magento-engcom-team commented on #7379
@atihomirov, thank you for your report.
We've created internal ticket(s) MAGETWO-61209 to track progress on the issue.

[2017-10-24 08:30] magento-engcom-team commented on #5839
@bonsdawende, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 08:34] pdenissen opened #11672 "main.INFO: Broken reference: after upgrade to Magento 2.2"
### Preconditions
Local machine (Mac)
Nginx
PHP7.0.17
MariaDB

### Steps to reproduce
Issue appears after upgrade to Magento 2.2

### Actual result
After upgrading to Magento 2.2 I noticed the products were not visible in the front-end and got the message 'We can't find products matching the selection'.
The Magento Blank Theme is applied.

After checking my system.log I found the error below.

I'm

[2017-10-24 08:36] magento-engcom-team commented on #11247
@wintermute-84, thank you for your report.
We've created internal ticket(s) MAGETWO-82589 to track progress on the issue.

[2017-10-24 08:37] TechOS-PL commented on #11585
If You haven't custom sales rule, only sample-data run this Query in PhpMyAdmin

TRUNCATE TABLE `salesrule`;
TRUNCATE TABLE `salesrule_coupon`;
TRUNCATE TABLE `salesrule_coupon_usage`;
TRUNCATE TABLE `salesrule_customer`;
TRUNCATE TABLE `salesrule_product_attribute`;

And after run php bin/magento setup:upgrade

[2017-10-24 08:42] peterjaap commented on #11657
I circumvented this issue by altering `flag_data` to a LONGTEXT and invalidating the hashes so it will force import my config file; `UPDATE flag SET flag_data = '{"system":"","scopes":"","themes":""}' WHERE flag_code = 'config_hash'`

[2017-10-24 08:45] magento-engcom-team commented on #11647
@hemendraajmera We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue. In addition, identify the web server you are running, the versions of PHP and MySQL, and any other information needed to reproduce your issue.

[2017-10-24 08:59] peterjaap commented on #11657
Additional thought; `app:config:dump` dumps EVERYTHING. Maybe the CLI command needs some extra features to be able to only export it partially (scopes, system, themes, i18n) ?

I'm thinking of leaving out system and i18n.

[2017-10-24 09:03] peterjaap commented on #11657
Also, the `bin/magento setup:upgrade [--keep-generated]` runs the `app:config:import`. But when this fails (see [here](https://github.com/magento/magento2/blob/9c14af7a97bcf338662de365d2613c7ca9dbf8c6/app/code/Magento/Deploy/Console/Command/App/ConfigImport/Processor.php#L152)), it still gives exit code 0. Because it doesn't return a non-zero exit code, my deployment continues even though there is

[2017-10-24 09:09] orlangur commented on #11672
Error message is absolutely clear. You need to check layout hierarchy and make sure that both `user` and `norification.messages` are children of the same parent block.

However I doubt that this log message is related to your main problem.

[2017-10-24 09:30] magento-engcom-team commented on #6460
@azeemism, thank you for your report.
We've created internal ticket(s) MAGETWO-58524 to track progress on the issue.

[2017-10-24 09:30] magento-engcom-team commented on #5998
@srenon, thank you for your report.
We've created internal ticket(s) MAGETWO-70109 to track progress on the issue.

[2017-10-24 09:31] Hobbit78 commented on #11672
@orlangur, thanks for your reply.

This error comes with the Magento Blank Theme theme applied in the CMS.

[2017-10-24 09:31] surgyelan commented on #11612
Hey, @joni-jones , yeah, I use the built in integration. I just added some CC pics to the phtml, has nothing to do with the built in functionality.

[2017-10-24 09:48] tdgroot commented on #5188
I would like to pickup this issue!

[2017-10-24 09:53] esimov commented on #11301
These are all the details I can provide. I have tested both upgrading from 2.1.8 & 2.1.9 to 2.2.0 on different environments, but i received the same result.

[2017-10-24 09:58] nemesis-back commented on #7778
I'm working on it #SQUASHTOBERFEST

[2017-10-24 10:05] peterjaap commented on #11656
WebsiteRestriction is a Magento Commerce feature. I'm guessing you should submit this through the partner portal. This Github repo is for Magento Open Source only.

[2017-10-24 10:25] magento-engcom-team commented on #5892
@grasdaggel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 10:25] #5892 closed, assigned to nobody

[2017-10-24 10:29] magento-engcom-team commented on #9067
@i95devdivya, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 10:29] #9067 closed, assigned to nobody

[2017-10-24 10:30] magento-engcom-team commented on #6754
@heldchen, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-24 10:30] #6754 closed, assigned to nobody

[2017-10-24 10:30] magento-engcom-team commented on #11669
@ajpevers, thank you for your report.
We've created internal ticket(s) MAGETWO-82601 to track progress on the issue.

[2017-10-24 10:33] heldchen commented on #6754
I'm aware of that. but 2.1 is not 2.2...

[2017-10-24 10:37] heldchen commented on #11657
ideally, there would be a mode that only dumps differences from the current config to the default values.

[2017-10-24 10:45] magento-engcom-team commented on #11671
@caciobanita, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 10:45] #11671 closed, assigned to nobody

[2017-10-24 10:45] 100php commented on #10889
Any Update? Facing the same issue after upgrade from 2.1.7 to 2.2 .

[2017-10-24 11:00] magento-engcom-team commented on #5566
@atIOCrON, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 11:24] magento-engcom-team commented on #9322
@onepack, thank you for your report.
We've created internal ticket(s) MAGETWO-82627 to track progress on the issue.

[2017-10-24 11:30] #5231 closed, assigned to nobody

[2017-10-24 11:30] magento-engcom-team commented on #11367
@thioz, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0

[2017-10-24 11:30] #11367 closed, assigned to nobody

[2017-10-24 11:30] magento-engcom-team commented on #3087
@tigerx7, thank you for your report.
We've created internal ticket(s) MAGETWO-82603 to track progress on the issue.

[2017-10-24 11:30] magento-engcom-team commented on #10909
@Olek89, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-24 11:32] dtamajon commented on #5021
@bobbyshaw, do you know which is the maximum length allowed?

[2017-10-24 11:36] sudaifhaider opened #11681 "After applying promo code the page keeps loading and shows no payment option available"
After adding product to cart when I apply the promo code the page loads and it shows no payment option available, though before applying the promo code it was showing the correct payment option. The promo code gets applied but the payment option is not available and page keeps loading and when I reload the page payment option comes back and promo code gets applied.

### Preconditions

I am using M

[2017-10-24 11:38] routbiplab opened #11682 "Magento 2.2.0 error during cache clean via CLI command"
### Preconditions

1. Magento v2.2.0
2. php version v7.0.24
3. mysql version Ver 14.14

### Steps to reproduce

1. Cache clean via CLI command : php bin/magento cache:clean

### Expected result

1.  It would clean all Magento cache with proper response

### Actual result

1. Magento supports 7.0.2, 7.0.4, and 7.0.6 or later. Please read http://devdocs.magento.com/guides/v1.0/install-gde/system-req

[2017-10-24 11:40] bobbyshaw commented on #5021
I'm not 100% but I think it's 40 characters.

[2017-10-24 11:47] magento-engcom-team commented on #5210
@flipflap, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 11:47] #5210 closed, assigned to nobody

[2017-10-24 11:53] dtamajon commented on #5021
Thank you!

[2017-10-24 12:05] ibrahimbm opened #11684 "Exception #0 (Magento\Framework\Exception\LocalizedException): The fewest you may purchase is 100."
When i order a products with number of items its showing the the error Exception #0 (Magento\Framework\Exception\LocalizedException): The fewest you may purchase is 100.

Can you please help me on this?

[2017-10-24 12:09] magento-engcom-team commented on #11516
@mzenner1, thank you for your report.
We've created internal ticket(s) MAGETWO-82631 to track progress on the issue.

[2017-10-24 12:21] onepack commented on #9454
I went through the database and all attributes that I deleted via the backend were still available with their attribute_id in: Table: catalog_product_entity_varchar I had to delete all occurrences of the attribute_id to stop the system.log messages to appear.

[2017-10-24 12:22] magento-engcom-team commented on #11656
@mjandrsn23 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-24 12:30] magento-engcom-team commented on #5833
@grasdaggel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 12:30] #5833 closed, assigned to nobody

[2017-10-24 12:30] magento-engcom-team commented on #11401
@mhpsaa, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 12:30] #11401 closed, assigned to nobody

[2017-10-24 12:43] orlangur commented on #11684
Please format issue according to template. Could be related to https://github.com/magento/magento2/issues/9155.

[2017-10-24 12:46] magento-engcom-team commented on #5839
@bonsdawende, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 12:47] orlangur commented on #11682
@routbiplab could you please execute `php -v` and show output here?

[2017-10-24 12:55] gcampedelli commented on #3599
Did you find a solution? I got the same error but inside a integration. How can we override this functions using if path etc to get an autoload

[2017-10-24 13:00] magento-engcom-team commented on #5833
@grasdaggel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 13:01] hemendraajmera commented on #11647
I have reproduced the issue and the issue is related to CSS. I have changed product-info-main class to --product-info-main, that is the reason it will not work.

Thanks for your support.

[2017-10-24 13:03] magento-engcom-team commented on #11656
@mjandrsn23, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2017-10-24 13:13] magento-engcom-team commented on #11681
@sudaifhaider We could not reproduce the issue as you described it. Please install fresh Magento, and try to reproduce this issue again.

[2017-10-24 13:27] Minnie1302 opened #11688 "I cannot upload category image as normal."
### Preconditions

1. Magento ver. 2.1.6
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.
### Actual result

When I upload an image to category image section, and then click save the screen show error as the pic attach below
1. [Screenshot, logs]
![image](https://user-images.githubusercontent.com/28888036/31945291-f07dca9a-b8f8-11e7-9f5b-eb34be1b53e6.png)

[2017-10-24 13:30] magento-engcom-team commented on #5801
@malaiselvan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-10-24 13:30] #5801 closed, assigned to nobody

[2017-10-24 13:30] magento-engcom-team commented on #6615
@shires-boy, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-10-24 13:30] #6615 closed, assigned to nobody

[2017-10-24 13:32] JangriX opened #11689 "Magento doesn't recognise .store as valid TLD"
### Preconditions
1. Fresh magento install, version 2.1.7

### Steps to reproduce
1.  Go to website configuration
2.  Select any field that deals with email addresses
3. Enter any email address with .store domain, like example@example.store
4. Save configuration

### Expected result
1. Configuration is saved

### Actual result
1. An error appears: Please correct the email address: "info@example.st

[2017-10-24 13:33] magento-engcom-team commented on #5801
@malaiselvan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-10-24 13:33] magento-engcom-team commented on #5801
@malaiselvan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0, 2.1.9

[2017-10-24 13:36] orlangur commented on #11689
Hi @Jangri, thanks for a well-formed bug report!

It is a duplicate of https://github.com/magento/magento2/issues/4547 and already fixed on 2.2 branch.

[2017-10-24 13:36] #11689 closed, assigned to nobody

[2017-10-24 13:45] paginasweb commented on #5247
i just installes magento 2.2.0, same problem on a clean istallation

[2017-10-24 13:45] cristienache commented on #7178
I confirm it can happen on **Magento 2.2.0 - Ubuntu**

I have been able to fix it with solution provided by @skrobotov

Find your php.ini file and look for upload_tmp_dir
Uncomment by deleting **;** at the beginning of the line and add the **pub/media/tmp** folder.

This fixed the issue in my case. Hope it helps!

[2017-10-24 13:47] diazwatson opened #11691 "Wrong return type for getAttributeText($attributeCode)"
When I pass the a multi-select attribute code to `getAttributeText($attributeCode)` I get an `array` instead of an `string`.

https://github.com/magento/magento2/blob/4d2609343a950e9ee6b50cc4444469d50d82b139/app/code/Magento/Catalog/Model/Product.php#L1717

Actually I don't see anything wrong with it but the return tag should be updated accordingly.

### Preconditions

1. Magento CE 2.1.9 /2.2 wit

[2017-10-24 13:53] ricoliv commented on #11498
We have the same problem as @stevenlavine
We upgraded from MCE 2.1.7 to 2.1.8 to 2.1.9

Preconditions

    Magento 2.1.9
    MySQL 5.7
    PHP 7.x
    Apache 2.4.18

Steps to reproduce

    Use plain vanilla Magento 2.1.7
    Go to Stores > Configuration > Sales > Payment Method
    Define your Merchant Country
    Select PayPal Express Checkout as a payment method
    Enter valid PayPal API crede

[2017-10-24 13:57] andrewhowdencom opened #11692 "Varnish does not appear to be configured for a public folder web root (at least, with NGINX)"
### Preconditions

1. Magento 2.4-develop
2. Varnish 4/5/6

### Steps to reproduce

1. Set up a server according to the provided recommendations, with NGINX as the HTTP host and using the public folder
2. Export varnish as shown by Magento
3. Install varnish configuration

### Expected result

1. Server works

### Actual result

1. Varnish doesn't work (specifically, it returns a 503 and complains

[2017-10-24 14:08] andrewhowdencom opened #11693 "After upgrading to 2.2, Varnish did not export the default grace period"
### Preconditions

1. Magento 2.2
2. Varnish 4/5

### Steps to reproduce

1. Have a 2.1 store
2. Upgrade to 2.2
3. Regenerate the VLC
4. Install the VCL

### Expected result

1. The VCL works

### Actual result

1. Varnish failed to load

Specifically, the `grace_period` variable in the template wasn't filled. It would appear the system configuration defaults are not being loaded -- once the grace

[2017-10-24 14:08] andrewhowdencom commented on #11693
I am unsure whether this effects 2.2 default. I have only budget to upgrade thee current stack ^^

[2017-10-24 14:13] ibrahimbm commented on #9155
Can any one help me? My website is Live and i am facing this issue.. how soon can this be resolved?

[2017-10-24 14:30] magento-engcom-team commented on #5838
@DariuszMaciejewski, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 14:30] #5838 closed, assigned to nobody

[2017-10-24 14:30] magento-engcom-team commented on #5335
@ddattee, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 14:30] #5335 closed, assigned to nobody

[2017-10-24 14:30] magento-engcom-team commented on #11119
@koopjesboom, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-24 15:04] orlangur commented on #11692
I believe it's handled properly in other lines of the same file: `if (req.url ~ "^/(pub/)?(media|static)/") {`

Not sure why root `index.php` it still not removed in favor of `pub/index.php` though.

[2017-10-24 15:16] srenon opened #11695 "Resending order email from admin (Multi-store)"
### Preconditions

1. Magento 2.0-2.2 (CE/EE)

This issue is not that obvious in core Magento but does exist and become a bigger issue when using third party SMTP extension https://github.com/magepal/magento2-gmailsmtpapp (I.e https://github.com/magepal/magento2-gmailsmtpapp/issues/75 https://github.com/magepal/magento2-gmailsmtpapp/issues/49) or any code/plugin that needs to know the correct stor

[2017-10-24 15:26] aniruddhadeshpande commented on #5642
Facing timeout issue on Magento 2.1.9 having these configuration

- PHP  7.0.22
- Magento 2.1.9
- nginx 1.10.3
- Redis and Varnish enabled
- Multistore and Multiwebsite configuration enabled
- SSL is configured

**Observations**

1. Order is created in Magento and Authorize.net sandbox have captured order.
 Nginx access log contains this string : `[24/Oct/2017:11:08:52 +0000] "POST /authorizenet/d

[2017-10-24 15:43] magento-engcom-team commented on #7308
@HellgaM, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-24 15:43] #7308 closed, assigned to nobody

[2017-10-24 15:50] magento-engcom-team commented on #11688
Thank you, for your report @Minnie1302, may I ask you what configurations do you have on your Magento, have you updated your Magento from any versions in the past?  Do you have any settings on your category and what picture are you trying to upload? Thank you in advance!

[2017-10-24 16:04] orlangur commented on #11695
Code snippet provided seems to be Windows-specific, do you face with any problems on a supported operating system?

[2017-10-24 16:09] pkm32 commented on #7186
Here is what my JS errors are on the confirmation/success page.

TypeError: Cannot set property 'zoom' of undefined
&nbsp;/pub/static/frontend/Alothemes/default/en_US/Magiccart_Alothemes/js/plugins/jquery.zoom.min.js:6:153
&nbsp;/pub/static/frontend/Alothemes/default/en_US/Magiccart_Alothemes/js/plugins/jquery.zoom.min.js:6:3583

TypeError: Cannot read property 'addEventListener' of null
&nbsp;/ch

[2017-10-24 16:10] vodanh109 opened #11696 "Problem when updating to Magento 2.2"
I have same problem with issue #11224. Please give to me the solution for this. My layout xml definitely have "src" attribute in each css item of "head"
### Preconditions
PHP 7.0.22-0ubuntu0.16.04.1

Before:  Magento verison 2.1.9
After: Magento version 2.2

### Steps to reproduce
1. replace magento version 2.1.9 to 2.2.0 in the composer.json file
2. run composer update
3. run bin/magento setup:up

[2017-10-24 16:10] Triloworld opened #11697 "Theme: Added html node to page xml root, cause validation error"
### Preconditions
1. Magento 2.2 (In Magento 2.0 it's working fine - tested)
2. libxml2 Version => 2.9.1
3. PHP 7.0.23-1~dotdeb+8.1 (cli) ( NTS )
4. New empty working theme with name SAMPLE. (check that is working correctly because this help point to bug)
5. Optional: Add URI to validate in IDE xml files: http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-urn.html

###

[2017-10-24 16:10] duongquyet opened #11698 "Can't compile magento 2.2.0"
I'm using magento 2.2.0 with sample data and it work fine. I try to compile code, But after compile code frontend show empty page and backend can't load.

Backend:
https://prnt.sc/h1g889
Frontend:
https://prnt.sc/h1g8th

PHP version: 7.1.10
Server version: 10.1.28-MariaDB

Steps to reproduce
1. install magento 2.2.0 (sample data or not sample data)
2. disable cache of magento
3. run "php bin/magen

[2017-10-24 16:14] okorshenko commented on #5770
Hi @thiagolima-bm could you please accept the invite on the GitHub?

[2017-10-24 16:16] okorshenko commented on #7778
Hi @nemesis-back could you please accept the invite in the GitHub?

[2017-10-24 16:17] okorshenko commented on #9944
Hi @briscoda please accept the invite on the GitHub

[2017-10-24 16:18] okorshenko commented on #10291
@briscoda  please accept the invite

[2017-10-24 16:18] okorshenko commented on #10834
Hi @MIstvan93 could you please accept the invite to join magento2 repository on the GitHub?

[2017-10-24 16:22] nemesis-back commented on #7778
@okorshenko accepted, thx

[2017-10-24 16:29] milansimek opened #11699 "Interceptor not working when calling parent::method()"
### Preconditions
Magento 2.1.7 + PHP 7.0.22

### Steps to reproduce

1. Create the following structure:

[code]
2. Now create an around plugin for the class A `doSomething` method:
[code]

3. Now execute `$classB->parentDoSomething();`

### Expected result

`I do something else! (plugin)` should be printed

### Actual result

`I do something! (original)` is printed

### Other information
Calling

[2017-10-24 16:30] magento-engcom-team commented on #11412
@wangzhi0417, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0

[2017-10-24 16:30] #11412 closed, assigned to nobody

[2017-10-24 16:35] avoelkl commented on #11698
Hi @duongquyet,
Please update your issue according to the [issue reporing guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and use the[ issue template](https://github.com/magento/magento2/blob/2.2-develop/ISSUE_TEMPLATE.md) when reporting issues.

Thanks!

[2017-10-24 16:56] orlangur commented on #11698
@duongquyet blank screens does not contain any useful information for investigation. Enable `display_errors` or check logs to see what actually caused Fatal Error.

[2017-10-24 17:06] srenon commented on #11695
Just to clarify, the bigger issue is that you can not get the store scope (store id, etc), because it will always be the default regardless of what store you are resending the email from.

[2017-10-24 17:10] ihor-sviziev commented on #11633
@orlangur so looks like we need to update expected result

[2017-10-24 17:12] jarhody commented on #6754
This seems like a pretty big issue if products disappear from an eCommerce site. Is the understanding correct that every major point release is going to continue to be supported/updated for bug fixes of this nature?

Meaning this should still be fixed in 2.1.10 or later.

[2017-10-24 17:17] amiddio commented on #11412
Thanks @davepullen your fix worked for me as well.

[2017-10-24 17:44] tdgroot commented on #9055
I'm picking up this issue!

[2017-10-24 17:46] Ctucker9233 commented on #2564
+1 on this. @magento-engcom-team we all would love to see this fixed so we can use the product import to more effectively manage large catalogs.

[2017-10-24 17:54] expgabe opened #11700 ""Something Went Wrong" error for limited access admin user"
### Preconditions

1. Magento 2.2
2. CentOS Cpanel 66.0 with Engintron Nginx for cpanel,  Apache 2.4.28,  MySQL 10.2.9-MariaDB , PHP 7.0

### Steps to reproduce

1.  Login as an admin user with limited access
2.  Something went wrong error pops up after every page load
3.  Server Logs and Magento Logs don't record any errors

### Expected result

1. Logs should point to the error.

### Actual resu

[2017-10-24 17:55] ahmadalfy opened #11701 "jQuery, Prototype and jQuery-migrate ... What the hell?"
OK so I am facing a problem in a JavaScript plugin that am using all because jQuery is dispatching an update event that triggers Prototype. I don't really understand how on earth Magento is now version 2.2 and it still has Prototype. Why? Why not focusing on removing all the legacy code that no one wants to maintain any longer? Prototype is DEAD. Why do I have to carry its burden?

I am angry and

[2017-10-24 17:57] ahmadalfy commented on #11701
Yeah right, add the tag and close the issue

[2017-10-24 18:19] expgabe opened #11703 "Changing Swatches to Drop-down does not remove swatches from existing products"
### Preconditions

1.  Magento 2.2
2. CentOS Cpanel 66.0 with Engintron Nginx for cpanel, Apache 2.4.28, MySQL 10.2.9-MariaDB , PHP 7.0

### Steps to reproduce

1.  Login to Admin got to Stores -> Attributes
2.  Change Attribute's Catalog Input Type from Visual Swatch Swatches to Dropdown
3.  Clean cache
4.  Existing Configurable Products view does not change to Dropdown

### Expected result

1. A

[2017-10-24 18:46] #10856 closed, assigned to YevSent

[2017-10-24 18:46] okorshenko commented on #11586
The issue has been fixed and delivered to 2.2-develop branch

[2017-10-24 18:46] #11586 closed, assigned to nobody

[2017-10-24 18:47] okorshenko commented on #11540
The issue has been fixed and delivered to 2.2-develop branch.

[2017-10-24 18:47] #11540 closed, assigned to crissanclick

[2017-10-24 18:53] okorshenko commented on #10301
The issue has been fixed in 2.2-develop branch.

[2017-10-24 18:53] #10301 closed, assigned to osrecio

[2017-10-24 18:55] okorshenko commented on #10025
The issue has been fixed in 2.2-develop branch

[2017-10-24 18:55] #10025 closed, assigned to joshuaswarren

[2017-10-24 18:56] okorshenko commented on #5439
The issue has been fixed in 2.2-develop branch

[2017-10-24 18:56] #5439 closed, assigned to osrecio

[2017-10-24 18:59] magento-team commented on #11586
Internal ticket to track issue progress: MAGETWO-82463

[2017-10-24 18:59] magento-team commented on #11540
Internal ticket to track issue progress: MAGETWO-82431

[2017-10-24 18:59] magento-team commented on #10301
Internal ticket to track issue progress: MAGETWO-82179

[2017-10-24 19:00] magento-team commented on #10025
Internal ticket to track issue progress: MAGETWO-82003

[2017-10-24 19:00] magento-team commented on #10856
Internal ticket to track issue progress: MAGETWO-81680

[2017-10-24 19:00] magento-team commented on #10856
Internal ticket to track issue progress: MAGETWO-81680

[2017-10-24 19:00] magento-team commented on #5439
Internal ticket to track issue progress: MAGETWO-81326

[2017-10-24 19:19] keyurshah070 commented on #9219
I'm working on it #SQUASHTOBERFEST @okorshenko @ishakhsuvarov

[2017-10-24 19:24] orlangur commented on #11633
@ihor-sviziev I don't think we should do it without feedback from issue reporter :)

[2017-10-24 19:25] tdgroot commented on #5188
I'm working on it #SQUASHTOBERFEST

[2017-10-24 19:25] tdgroot commented on #9055
I'm working on it #SQUASHTOBERFEST

[2017-10-24 19:27] nshiff commented on #11696
@vodanh109 Are you in developer mode? I recommend it. It makes development a lot easier because connector files like interceptors are generated for you

    magento deploy:mode:show
    magento deploy:mode:set developer

    rm -rf var/generation/* var/di/*
    rm -rf generated/code/* generated/metadata/*

If the issue persists, maybe there is a stale module in the vendor directory.

    mv vendor

[2017-10-24 20:00] springimport opened #11705 "Empty response from API with long SearchCriteria"
### Preconditions
Magento 2.1.9.

### Steps to reproduce
Call api  `[GET] /rest/V1/shipments`.

	Array
	(
	    [searchCriteria[filterGroups][0][filters][0][field]] => order_id
	    [searchCriteria[filterGroups][0][filters][0][value]] => 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,19,20,21,22,23,24,25,26,27,28,29,30,31,33,37,38,39,40,42,43,44,45,46,47,48,49,51,53,55,57,59,61,63,64,65,66,67,68,69,70,7

[2017-10-24 20:12] msawyers opened #11706 "magento 2.2 unable to create configurable products and add video"
Preconditions

Previous version 2.2.0
PHP version 7.1.9

Steps to reproduce

Create Product
Add configurations
Attempt to add video
Save  product

Expected Result

Product should save successfully
Conifugrable product should be created
video should be added

Actual result

Unable to add video to product
unable to create configurable products with associated simple products

[2017-10-24 20:15] christophe29222 commented on #11314
Similar issue: But the bug occur after 60 minute (cookie lifetime). And if i set cookie lifetime to 86000, sessions times aren't increased. the cart is empty for guest at the next session (60 min inactivity).

Preconditions:

Magento: 2.2 or 2.1.9
PHP: 7.0.24

Steps to reproduce:

close browser and wait 60 minutes
start browser

Result:

The welcome message is here and the cart is full but user is

[2017-10-24 20:49] #11705 closed, assigned to nobody

[2017-10-24 22:13] okorshenko commented on #7591
The issue has been fixed in 2.2-develop branch.

[2017-10-24 22:13] #7591 closed, assigned to lewisvoncken

[2017-10-24 22:13] okorshenko commented on #7767
The issue has been fixed in 2.2-develop branch

[2017-10-24 22:13] #7767 closed, assigned to nobody

[2017-10-24 22:18] magento-team commented on #7767
Internal ticket to track issue progress: MAGETWO-82651

[2017-10-24 22:18] magento-team commented on #7591
Internal ticket to track issue progress: MAGETWO-82657

[2017-10-24 22:18] magento-team commented on #7591
Internal ticket to track issue progress: MAGETWO-82658

[2017-10-24 22:18] magento-team commented on #11328
Internal ticket to track issue progress: MAGETWO-82236

[2017-10-24 23:23] thaddeusmt commented on #2761
Thanks @phuocpro1326
That 3rd boolean parameter of `getReviewsSummaryHtml()` is called `$displayIfNoReviews`, so silly me, I thought it could stay `false`. But nope, if you want to display the rating when there IS a rating ("reviews") you still need to set `$displayIfNoReviews` to `true`. Huh.

[2017-10-24 23:42] korostii commented on #7734
Hi @maghamed

If you agree that there are flaws to fix in the core, would it not make sense to also reopen this issue and mark it as `up for grabs` (ro whatever the currebt flow is)?

As @orlangur mentioned elsewhere and I tend to agree in principle, providing pull requests for changes which might get rejected - is potentially quite a waste of time.
And it seems preferrable to have the changes exp

[2017-10-24 23:46] dnadle commented on #6058
You could add a validation for whitespace prior to the one for invalid email, so the validation error is meaningful and the user understands what is wrong.

[2017-10-24 23:58] korostii commented on #9153
Hi @magento-engcom-team,
If the description is correct, this seems to be a quite critical bug.

I assume it's still present on 2.1 branch - is that correct?
If so, please consider adding this bug as a known issue to the release notes of 2.1 branch and\or providing a timeline (or a milestone) for its planned resolution in 2.1 branch.

[2017-10-25 00:34] magento-engcom-team commented on #6419
@dapdx, thank you for your report.
We've created internal ticket(s) MAGETWO-82686 to track progress on the issue.

[2017-10-25 00:35] #11656 closed, assigned to nobody

[2017-10-25 00:37] paengski13 commented on #7419
@magento-engcom-team I am getting an unexpected product type as well when creating a configurable product. Better yet add this "product has/has no weight" during the creation of product associated with the configurable product.

[2017-10-25 00:50] korostii commented on #8836
I am aware that the developer mode could be enabled - as a workaround.
However, having this workaround documented doesn't make this bug any less of an issue.

Same page [says](http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-install.html#install-a-theme-as-an-extension) it's possible to [install a theme via the Web Setup Wizard without having access to the `bin/magento` CLI u

[2017-10-25 00:57] korostii commented on #10154
Hi @magento-engcom-team,

Any news regarding a backport to 2.1 branch?

The issue is marked as `Done` in project `branch [2.1-develop]` but that seems to be a mistake since the commit I referenced above ( fe97d9e ) is still only present on 2.2+ branches.
Could you please clarify?

[2017-10-25 01:06] okorshenko commented on #7915
The issue has been fixed in 2.2-develop branch

[2017-10-25 01:06] #7915 closed, assigned to RomaKis

[2017-10-25 01:11] magento-team commented on #7915
Internal ticket to track issue progress: MAGETWO-82652

[2017-10-25 01:32] vodanh109 commented on #11696
@nshiff, thanks a lot for your suggestion that help me to easily debug to find out the root cause. The problem is coming from Template Monster theme that have a PHP class to add dynamic css but without 'src' attribute into layout.

[2017-10-25 01:32] #11696 closed, assigned to nobody

[2017-10-25 01:38] KarlComSe opened #11708 "Backorder customer notification is not shown in Magento 2.2.0 / 2.1.9 on One page checkout"
### Preconditions
Magento 2.2.0
PHP7
Multi-site setup
Magento Luma theme.

### Steps to reproduce

0. Go into stores > configuration > invetory : Set Display out of stock products: Yes, select Manage Stock: Yes. Set Backorders; Allow Qty below 0 and notify customer.
1. Create new simple product.
2. Set stock status, in Stock.
3. Set quantity below 0. In my case, this was done by customer buying a

[2017-10-25 01:49] adrian-martinez-interactiv4 commented on #7065
@koenner01 @hostep PR opened to try to fix this issue in 2.3-develop, when accepted, I will backport it to 2.2-develop and 2.1-develop

[2017-10-25 02:08] zivendesign commented on #11116
Hi There,
I have found this issue from the theme customized.
First time I using this code and it works in 2.1.9.
`<block class="Magento\Framework\View\Element\Text" name="store.links" group="navigation-sections" remove="true"/>
        <block class="Magento\Framework\View\Element\Template" name="store.settings" group="navigation-sections" template="Magento_Theme::html/container.phtml" remove="true

[2017-10-25 02:53] msawyers commented on #11116
Hi @zivendesign  thanks. I got this fixed.

[2017-10-25 02:57] paengski13 commented on #5648
@magento-engcom-team How come this is not considered a bug? It automatically set the product type to virtual since there is no way to set the weight in the first place?

[2017-10-25 03:07] duongquyet commented on #11698
Hi,
@avoelkl I just did exactly what do you provide. What do you want me to do?

[2017-10-25 03:20] duongquyet opened #11711 "After compile magento 2.2.0, Magento is corrupted"
Preconditions

Magento 2.2.0
PHP version: 7.1.10
Magento Luma theme.

Steps to reproduce

Install magento 2.2.0 (sample data or not sample data)
Disable cache of magento
Run "php bin/magento setup:di:compile" in folder of your magento
Try load magento site

Expected result

Magento work fine after compile

Actual result

Backend can't load and frontend show empty

I don't install any themes or mod

[2017-10-25 04:16] magento-team commented on #7767
Internal ticket to track issue progress: MAGETWO-82650

[2017-10-25 04:16] magento-team commented on #11328
Internal ticket to track issue progress: MAGETWO-82235

[2017-10-25 04:20] sasilinux commented on #5475
@elachino - After placing the above code. Category filter is working fine but other attribute filters are not working.

[2017-10-25 04:37] avoelkl commented on #11698
Just as @orlangur mentioned as well: There is no specific error message.
Please turn error reporting on and/or check your logs.

[2017-10-25 05:23] sammarcus commented on #5648
Just following up that I think the current language in the docs is unclear enough that this should be given some attention. Other users find it confusing enough that they believe current behavior is a bug.

[2017-10-25 05:34] magento-engcom-team commented on #5231
@grasdaggel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 06:00] rameshkrr opened #11712 "Mageno 2 not validation grand total with paid money."
I am using magento 2 with payubizz payment integration module. I can tamper money using burp suite tool and buy a high priced product at any cost. This is a biggest security issue.

### Preconditions

1. Magento 2.1.7
2. php 7.1

### Steps to reproduce

[code]
The piece of code for validation in response.php

### Expected result

1.  This should return failure page if paid money not equal to produ

[2017-10-25 06:02] magento-engcom-team commented on #11711
@duongquyet, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 06:02] #11711 closed, assigned to nobody

[2017-10-25 06:03] magento-engcom-team commented on #2618
@dmitry-fedyuk, thank you for your report.
We've created internal ticket(s) MAGETWO-47934 to track progress on the issue.

[2017-10-25 06:03] magento-engcom-team commented on #11711
@duongquyet, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 06:08] magento-engcom-team commented on #3542
@tdgroot, thank you for your report.
We've created internal ticket(s) MAGETWO-82332 to track progress on the issue.

[2017-10-25 06:12] Mohinik11 opened #11713 "Unable to extend default.xml for admin theme"
Hi,

**Preconditions**

Magento 2.1.7
PHP 7.0.21

**Description**

I have created a custom admin theme which is working fine. Now I want to extend the default.xml file as I do not want some blocks on my page and want to remove them.
I created default.xml file at **app/design/adminhtml/My_vendor/My_theme/Magento_Backend/layout/default.xml**
having
`<referenceBlock name="footer" remove="true" />
`

[2017-10-25 06:12] hackrat commented on #8684
I am also getting this issue. section data load request not being sent after rest//V1/guest-carts//estimate-shipping-methods

[2017-10-25 06:24] robbieaverill commented on #11256
Hi @magento-engcom-team,

I think the problem lies with the following core config data entry: `advanced/modules_disable_output/Magento_ProductVideo: 1` at the appropriate scope.

This would imply that the product video module is not able to include its javascript resources etc, due to output being disabled, which would explain the console error I provided in my previous comment.

When I set this v

[2017-10-25 06:32] magento-engcom-team commented on #11708
@KarlComSe, thank you for your report.
We've created internal ticket(s) MAGETWO-82696 to track progress on the issue.

[2017-10-25 06:33] magento-engcom-team commented on #11648
@Tjab, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 06:33] #11648 closed, assigned to nobody

[2017-10-25 06:46] prestashoppay commented on #10141
@ferraramax ,

Thanks a lot . I'ts Working fine .

Great..

Thanks ,

[2017-10-25 07:27] aksharj commented on #9762
Hi I am facing the same issue, below is my request format

      params = {
      		items: [
      			{
      				order_item_id: 5,
      				qty: 1
      			}
      		],
      		tracks: [
      			{
      				carrier_code: "UPS",
      				title: "ground",
      				track_number: 12345678
      			}
      		]
      	}

and i get the error as Shipment Document Validation Error(s):\nA shipment cann

[2017-10-25 07:48] devhero-tech commented on #10580
the same in pl_PL

[2017-10-25 07:51] magento-engcom-team commented on #11713
@Mohinik11, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 07:51] #11713 closed, assigned to nobody

[2017-10-25 07:57] magento-engcom-team commented on #11706
Hello @msawyers. Please confirm if You have tried to add video to the very configurable product (not to its concrete variations while creating configuration) by clicking on "Add Video" button in "Images And Videos" section of the product page.

[2017-10-25 08:18] duongquyet commented on #11491
I have same problem.

[2017-10-25 08:19] duongquyet commented on #11711
Hi,
Did you turn off cache?

[2017-10-25 08:30] magento-engcom-team commented on #5353
@gerti2112, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-25 08:30] #5353 closed, assigned to nobody

[2017-10-25 08:30] magento-engcom-team commented on #7087
@devqualwebs, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 08:30] #7087 closed, assigned to nobody

[2017-10-25 08:34] orlangur commented on #11491
@duongquyet on a supported environment?

[2017-10-25 08:38] eiskpolimer opened #11714 "Не отображается новый товар."
Не отображается новый товар. После добавление нового товара, на странице пишет 22 товара,а по факту отображается 21

[2017-10-25 08:54] orlangur commented on #11714
Please report issue in English providing all the details using https://github.com/magento/magento2/blob/2.2-develop/ISSUE_TEMPLATE.md template.

[2017-10-25 09:10] torlokken commented on #10304
Any update on this? Still an issue in 2.2.

[2017-10-25 09:17] HirokazuNishi opened #11717 "Wrong price amount on product page"
### Preconditions
1. Install Magento2.2.0 via composer
2. Deploy sampledata
3. Configure store view language as ja_JP
(To activate IDR, KRW, VND, and EUR is better for test)

### Steps to reproduce
1. Access to product page.
2. Check price part.

### Expected result
1. Price should be shown as $00.00 or ￥00. (00 means real product price)

### Actual result
<img width="561" alt="jpy" src="https://u

[2017-10-25 09:30] magento-engcom-team commented on #11703
@expgabe, thank you for your report.
We've created internal ticket(s) MAGETWO-82705 to track progress on the issue.

[2017-10-25 09:44] Tjab commented on #11648
@magento-engcom-team, thank you for your very fast reply!

I'm wondering why it's not possible to reproduce this, so I've written down all my steps and included screenshots. Please note that this was tested on 2.1.5. I do however believe it's also the case with some customers of ours, who run newer versions.

#### POST to /V1/products/
[code]
#### Result in my shop
![image](https://user-images.git

[2017-10-25 09:46] vodanh109 commented on #11431
@magento-engcom-team
I have same problem with @lduivenvoorde when trying add a new top.links. The new top.links cannot go to the first of the list, but can be the last of the list

[2017-10-25 09:51] madonzy opened #11718 "Magento 2 core files storage"
Where are vendor/magento modules located in GitHub? How can I compare version changes?

[2017-10-25 10:10] eiskpolimer commented on #11714
The new product is not displayed. After adding a new product, 22 products are written on the page, and 21
http://www.eiskpolimer.ru/rybovodstvo.html
![screenshot_4](https://user-images.githubusercontent.com/33082199/31993475-e61ce4cc-b985-11e7-9c8a-14a9155fadaf.jpg)

[2017-10-25 10:10] #11714 closed, assigned to nobody

[2017-10-25 10:15] keyurshah070 commented on #10168
I'm working on it #SQUASHTOBERFEST @okorshenko

[2017-10-25 10:23] #11647 closed, assigned to nobody

[2017-10-25 10:26] rafal-kos commented on #11280
We have the same problem, @moderncodes temporary fixed helped us.

After some investigation I saw that number of records in cron_schedule with status = 'pending' is increasing instead of decreasing.

There is a lot of  jobs like : catalog_product_outdated_price_values_cleanup

In vendor/magento/module-catalog/etc/crontab.xml I see that it is run every minute. Can we run it less often?

[2017-10-25 10:35] magento-engcom-team commented on #11700
@expgabe, thank you for your report.
We've created internal ticket(s) MAGETWO-82713 to track progress on the issue.

[2017-10-25 11:01] orlangur commented on #11718
Modules are in `app/code/Magento`, framework is in `lib/internal/Magento`

Something like https://github.com/magento/magento2/compare/2.1.7...2.1.8

To see particular file changes https://github.com/magento/magento2/blob/2.1/app/code/Magento/Catalog/Model/Product.php you may check history picking a concrete tag - 2.1, 2.2.

I believe difference between Composer-based installation and the one from

[2017-10-25 11:01] #11718 closed, assigned to nobody

[2017-10-25 11:05] korostii commented on #8055
Yes, and I've seen you personally split an automatically generated part of your pull request into a separate commit for the sake of readability. Such approach would seem helpful in this case as well.

But hey, what's done is done. Let's hope it improves in the future.

Whatever works. I was just trying to point out that "too many commits in a repo" is much, much less of an issue than "too many cha

[2017-10-25 11:13] enriquei4 commented on #7099
I'm working on this issue

[2017-10-25 11:14] orlangur commented on #8055
@korostii, let me show you another example: https://github.com/magento/magento2/search?p=1&q=MAGETWO-56062&type=Commits&utf8=✓

It would be sooo much easier to backport if it was squashed before merging :) Even if changes are turned out to be huge.

[2017-10-25 11:18] orlangur commented on #11712
Please provide steps to reproduce on a clean Magento installation or refer to core code which you believe is problematic.

[2017-10-25 11:23] magento-engcom-team commented on #6289
@LS-Supriya, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 11:23] #6289 closed, assigned to nobody

[2017-10-25 11:25] rameshkrr commented on #11712
I am using payubizz module. The error is with payubizz's response.php file.
[mage.zip](https://github.com/magento/magento2/files/1414383/mage.zip)
this is the module.

[2017-10-25 11:28] korostii commented on #9345
You guys must be having some special definitions for the word "issue" and "correct".

What's the point if the PR will have a great risk of being rejected because "This seems to be correct Magento behavior" already?

Does this `non-issue` label means that the issue is valid, reproducible, yet your company decided not to put any resources up to resolving it (or even bothering to reproduce)? That oka

[2017-10-25 11:30] magento-engcom-team commented on #5309
@gewaechshaus , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-25 11:34] korostii commented on #6522
@aeu please keep in mind that single-store mode has its own issues, most notably #7392

[2017-10-25 11:44] orlangur commented on #11712
Ok, so, original code looked as
[code]
and you suggested how it can be changed to avoid this issue in description.

How is that related to Magento core?

[2017-10-25 11:44] korostii commented on #7140
@marius-wieschollek I don't see any `@api` annotation on this class. Besides, any 3rd-party modules should depend on interfaces (also known as service contracts) rather then their implementations.

It seems that issue was moved to `Done` in project `branch [2.1-develop]` by mistake.
@magento-engcom-team would you mind double-checking that?

[2017-10-25 11:48] korostii commented on #10791
I'm having the weirdest case of deja vu.

@magento-engcom-team do you not ever read the comments in the discussion above?

[2017-10-25 11:48] amenk commented on #6126
Got this issue after upgrading from 2.1.8 to 2.2.0  `n98-magerun2 index:reindex` helper for me.
I am using a custom, bit hacky, module https://github.com/Mestrona/Mestrona_BundleCustomOptions - maybe the discrepancy was caused by that - not sure. (it simply allows custom options for bundles). Just a wild guess.

[2017-10-25 11:49] gritdigital-mibu commented on #5309
@magento-engcom-team I had the same problem and it was because my installation had not completely finished due to PHP `max_execution_time`. I presume this may be the same cause for the OP.

[2017-10-25 11:54] rameshkrr commented on #11712
`<?php

namespace PayUIndia\Payu\Controller\Standard;

class Response extends \PayUIndia\Payu\Controller\PayuAbstract {

    public function execute() {
        $returnUrl = $this->getCheckoutHelper()->getUrl('checkout');

        try {
            $paymentMethod = $this->getPaymentMethod();
            $params = $this->getRequest()->getParams();

            if ($paymentMethod->validateResponse($

[2017-10-25 11:55] hostep commented on #10838
I believe there is another method missing in the `Source.php` file for Magento 2.2.0:

[code]

I determined this from that fact that I also received the MDVA-4538_EE patch now.
In that patch, the entire Source.php file is being added, because it didn't exist in Magento 2.1
But in Magento 2.2, the file already exists, it was introduced by https://github.com/magento/magento2/commit/6d98e2a57059ef75d

[2017-10-25 12:05] korostii commented on #8971
Personally I do not insist on any particular technical solution to the issue and it's clearly low priority.
But there absolutely should be a way to skip tests, travis and other stuff which is not required for running in production, and it should be possibly to do via a simple CLI one-liner.

IMHO even approach similar to http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-sa

[2017-10-25 12:06] orlangur commented on #11712
Yeah, I copied snippet from archive you provided.

GitHub is intended for bug reports and other issues observed in vanilla Magento 2 Open Source. Issues should conform to [issue template](https://github.com/magento/magento2/blob/develop/ISSUE_TEMPLATE.md) so that anyone can reproduce problem and not guessing anything.

Please provide exact steps. Bugs in third-party extensions are out of scope for

[2017-10-25 12:10] rameshkrr commented on #11712
Can you please help me personally. Small piece  of code will help me a lot
for appraisal. Thanks in advance.

On Wed, Oct 25, 2017 at 5:36 PM, Vlad Veselov <notifications@github.com>
wrote:

[2017-10-25 12:27] magento-engcom-team commented on #8499
@kamaleshdubey, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 12:27] #8499 closed, assigned to nobody

[2017-10-25 12:30] magento-engcom-team commented on #7963
@adityag186, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-25 12:30] #7963 closed, assigned to nobody

[2017-10-25 12:30] magento-engcom-team commented on #9984
@angelo983, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 12:32] logicallimit opened #11721 "Date of Birth field in customer registration form gets obfuscated on registration failure"
The Date of Birth field in customer registration form shows comma separated numeric values on registration failure due to any reason whatsoever.

### Preconditions

1. Magento 2.2.0
2. MySQL 5.7.14
3. Apache 2.4.23
4. PHP 7.0.10
5. Wamp 3.0.6 (64bit)

### Steps to reproduce
Issue 1:
1. Enter data in customer registration form and use an already registered email address to register again.
2. Now su

[2017-10-25 12:44] orlangur commented on #11712
Not sure which piece of code you referring to...

[2017-10-25 12:47] rameshkrr commented on #11712
In response.php I need to validate paid amount with Order Amount.
`<?php

namespace PayUIndia\Payu\Controller\Standard;

class Response extends \PayUIndia\Payu\Controller\PayuAbstract {

    public function execute() {
        $returnUrl = $this->getCheckoutHelper()->getUrl('checkout');

        try {
            $paymentMethod = $this->getPaymentMethod();
            $params = $this->getRequest()

[2017-10-25 12:57] orlangur commented on #11712
I see...

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

Please add a link to question here after you post it. I don't have time to help you right now but will try to help you this weekend if the problem will not be solved within those 2-3 days.

[2017-10-25 12:57] #11712 closed, assigned to nobody

[2017-10-25 13:04] TomashKhamlai commented on #11022
These internal tickets [MAGETWO-73867](https://jira.corp.magento.com/browse/MAGETWO-73867), [MAGETWO-59723](https://jira.corp.magento.com/browse/MAGETWO-59723) existing for this issue.

[2017-10-25 13:08] david-fiaty-cko commented on #6941
+1

[2017-10-25 13:15] magento-engcom-team commented on #11698
@duongquyet, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 13:15] #11698 closed, assigned to nobody

[2017-10-25 13:30] magento-engcom-team commented on #9544
@gerryka, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 13:30] #9544 closed, assigned to nobody

[2017-10-25 13:30] magento-engcom-team commented on #8391
@surfer190, thank you for your report.
We've created internal ticket(s) MAGETWO-82722 to track progress on the issue.

[2017-10-25 13:36] miguelbalparda opened #11726 "Normalize User Agent"
### Preconditions

1. Magento 2.2
2. Varnish enabled

### Steps to reproduce

1. Hit a page with curl -A "iPhone 7" -I http://m2varnish.troutzilla.com/
2. Get a MISS
3. Hit the same page with a slightly different UA
4. Get a MISS

### Expected result

1. Hit a page with curl -A "iPhone 7" -I http://m2varnish.troutzilla.com/
2. Get a MISS
3. Hit the same page with a slightly different UA
4. Get a H

[2017-10-25 13:41] orlangur commented on #11726
Hm, do we have any server side user-agent specific logic at all to distinguish other/mobile?

Another place with similar comparison https://github.com/magento/magento2/blob/2.2-develop/.htaccess#L163

[2017-10-25 13:43] miguelbalparda commented on #11726
I got that piece of code from https://github.com/nexcess/magento-turpentine/ I'm open to suggestions or changes but I do believe this change might have value even if we make it configurable from the backend.

[2017-10-25 13:54] #9227 closed, assigned to nobody

[2017-10-25 14:00] cjarvis86 commented on #11726
Changing the Vary to be set as X-Normalized-User-Agent or another name instead of User-Agent will tell Varnish to cache the content based on that header content instead of User-Agent header and still allow the application and backend web server to see the true User-Agent instead of other or mobile.

I tested overwriting the Vary to X-Normalized-User-Agent instead of User-Agent in Apache and it loo

[2017-10-25 14:14] magento-engcom-team commented on #11698
@duongquyet, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 14:17] springimport commented on #11705
@orlangur I understand.

[code]

[code]

I don't see problem with url limit.

[2017-10-25 14:28] dmanners commented on #11477
Thanks for this @careys7 when processing a PR this same issue was raised by the QA team. Hopefully now it will be reproducible. If not please ping me and I can show the steps I found it with.

[2017-10-25 14:29] orlangur commented on #11705
`GET` request with body, really? :) See https://stackoverflow.com/a/983458/8640867

Try debugging it on Magento side. If you received full contents of request and Magento was not able to handle it - this is a Magento bug. Otherwise you need to adjust some environment settings.

[2017-10-25 14:30] magento-engcom-team commented on #3877
@grasdaggel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-25 14:30] #3877 closed, assigned to slavvka

[2017-10-25 14:32] hauso opened #11729 "Exported Excel with negative number can't be opened by MS Office"
### Preconditions
XML excel generator class contain error causing file can't be opened by MS Office.
In Open Office is file opened without problem
1.  Magento 2.x version + MS Office XML handler

### Steps to reproduce
1. Generate some XML export with negative value (eg. quantity)
2. Try to open it with Office XML handler

### Expected result
1. Open export file

### Actual result
1. File do not o

[2017-10-25 14:53] duongquyet commented on #11491
Hi @orlangur ,
Magento should work on Window. I'm magento developer. I think a lot developer work on Window.

[2017-10-25 14:59] keyurshah070 commented on #7689
I'm working on it #SQUASHTOBERFEST

[2017-10-25 15:00] msawyers commented on #11706
HI,

Yes I am confirming this. Selecting the add video button does nothing.

[2017-10-25 15:01] msawyers commented on #11653
ok, will check on this.

[2017-10-25 15:01] orlangur commented on #11491
Nope, it may work, but it should not. Just check a link I posted.

Normally there should be a check during installation which disallows unsupported platform similar to unsupported PHP version but it is not implemented yet. So that anyone bypassing such check knows he is using Windows at his own risk.

[2017-10-25 15:04] surgyelan commented on #11612
Ok, I investigated a bit further, here are my findings:

I checked the network actions after pressing "Place Order".
There are 3 GETs:

1. https://api.braintreegateway.com/merchants/<my merchant id>/client_api/v1/payment_methods/credit_cards

2. https://client-analytics.braintreegateway.com/<my merchant id>

3. https://api.braintreegateway.com/merchants/<my merchant id>/client_api/v1/payment_metho

[2017-10-25 15:09] magento-engcom-team commented on #11721
Hi @logicallimit, thanks for a well-formed bug report!

It is a duplicate of [#7778](https://github.com/magento/magento2/issues/7778)

[2017-10-25 15:09] #11721 closed, assigned to nobody

[2017-10-25 15:13] springimport commented on #11705
@orlangur GET request with body? Noo, of course.

I found a problem: [Shipment retrieval via REST API results in error during json_encode returning a blank result](https://github.com/magento/magento2/issues/6668)

Ha-ha. I have to remember I'm working with magento 2, which contains a million bugs.

[2017-10-25 15:14] magento-engcom-team commented on #11294
@terrybakshi thank you for your report.
Advanced price is not available for main configurable product - only for his options (simple or virtual products.) Shipping methods are not available on checkout in case if options  of configurable product has no weight.

[2017-10-25 15:20] orlangur commented on #11705
Ok, so not related to size of request at all. Glad you managed to debug problem on your instance.

[2017-10-25 15:28] torlokken commented on #10454
Any update on this? Major issue for us.

[2017-10-25 15:30] magento-engcom-team commented on #11717
@HirokazuNishi, thank you for your report.
We've created internal ticket(s) MAGETWO-82730 to track progress on the issue.

[2017-10-25 15:30] magento-engcom-team commented on #11294
@terrybakshi, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0

[2017-10-25 15:30] #11294 closed, assigned to nobody

[2017-10-25 15:34] gritdigital-mibu opened #11733 "Data migration - "super product attributes configuration" price values for options VS actual product price"
Hi there,

After migrating products from Magento CE 1.8.0.0 to CE 2.1.8 I've noticed a difference in the pricing.

![2017-10-25 16_06_34-cast iron gutter drop end socket 65mm outlet _ manage products _ catalog _ magen](https://user-images.githubusercontent.com/11611416/32007500-a34dd16c-b9a1-11e7-9f4a-3250072741da.png)

Magento 2 shows the prices as £21.80 and £24.44 but in Magento 1 they show as

[2017-10-25 15:46] osrecio commented on #6460
Working on it

[2017-10-25 15:51] hostep commented on #9466
God damned, we just ran into this today on a Magento 2.1.9 installation. 12 GB of diskspace eaten away in a 40 minutes by duplicating some products until our server crashed with no space left.

Would be great if this got fixed!

[2017-10-25 16:02] hostep commented on #9466
@magento-engcom-team: can this ticket get re-opened? It has the label `G1 Passed` while the similar looking issue https://github.com/magento/magento2/issues/4096 has `G1 Failed`.
Thanks!

[2017-10-25 16:09] thiagolima-bm commented on #10454
I'm working on it #SQUASHTOBERFEST

[2017-10-25 16:12] antoniszachos opened #11736 "Admin data table headers are not showing correctly"
Admin data table headers are not showing horizontally but vertically

Magento 2.0.7.
PHP 7.0.23

![magento-error](https://user-images.githubusercontent.com/31135329/32009509-020708b6-b9b8-11e7-9148-5cc6a58c99fb.jpg)

I removed all static content, run setup:static-content:deploy, indexer:reindex, cache:clean cache:flush but the problem persists.

Thanks in advance!

[2017-10-25 16:20] orlangur commented on #11736
This version is quite old, upgrade to `2.1.x` or at least to latest `2.0.x` could help.

[2017-10-25 16:31] duongquyet commented on #11491
Hi @orlangur ,
Do you magento developer? What do you mean? If i use Window, I shouldn't be developer magento?

[2017-10-25 16:37] antoniszachos commented on #11736
Last time I tried to upgrade to latest version, the process couldn't finish due to some data-entry and file naming errors and the whole installation was corrupted and stopped working...  Anyway, i will give it one more shot... Thanks

[2017-10-25 16:37] #11736 closed, assigned to nobody

[2017-10-25 16:42] orlangur commented on #11491
No, of course :) I was never using Linux as my host OS and I was using WIndows as host OS most of the time, until I switched to MacBook.

But you shouldn't use Magento directly on Windows.

There are many options nowadays, like Vagrant/Docker or even a plain VM with some Ubuntu installed. There is no sense to develop Magento under Windows as it is unlikely your store will be hosted on such environ

[2017-10-25 16:49] orlangur commented on #11736
Good luck!

Yeah, sometimes this process is not seamless, various issues could be observed due to environment setup / customization bugs / core bugs. But this cannot be postponed forever at least for the sake of security upgrades, like https://magento.com/security/patches/magento-2016-and-219-security-update.

It is never a good idea to upgrade a live store without a try on some staging environmen

[2017-10-25 17:01] orlangur commented on #11733
Thanks for bug report! However, problems with data migration from `1.x` must be reported in https://github.com/magento/data-migration-tool repository.

[2017-10-25 17:01] #11733 closed, assigned to nobody

[2017-10-25 17:02] lewisvoncken commented on #11322
I'm working on it #SQUASHTOBERFEST

[2017-10-25 17:27] ShapesGraphicStudio commented on #10821
The fix provided by @PhiIipp works fine for me too, but shouldn't there be an official Magento Fix to avoid this issue for PLESK users ?

[2017-10-25 17:27] Olek89 opened #11738 "backend logs me out"
Hello,

my Magento2 (2.2.0) in Version logs me sometimes out, if i filter something in products.
What could be the problem?
Is it an Serverproblem?
What i can check to resolve the problem?

Kind regards
olek

[2017-10-25 17:37] orlangur commented on #10821
@ShapesGraphicStudio we need to find out first what is exact problem in PLESK configuration.

By the way,
[code]
section was removed in Magento 2.2 due to performance reasons, will default PLESK value for `include_path` instead of `.` cause troubles if you remove this section from `composer.json`?

[2017-10-25 18:06] lee586 opened #11740 "Sending emails from Admin in Multi-Store Environment defaults to Primary Store"
### Preconditions

1. Tried on versions 2.18-2.2
2. Cent OS 7, PHP 7.1.10

### Steps to reproduce

1. Create two stores: ABC.com (primary) and XYZ.com
2. Have customer place order on XYZ.com
3. Go into admin, click on order from XYZ.com, and resend order confirmation email

### Expected result

1.  Should send email using FROM EMAIL and FROM NAME of store XYZ.com

### Actual result

1.  Magneto se

[2017-10-25 18:29] cristienache commented on #10071
Thanks @moleculech! It fixed my issue!

After first attempt of creating a second user with limited permissions, I have deleted the user, created another one and followed @moleculech's advice and it worked!

Thanks again!

Regards,
Cristi

[2017-10-25 18:30] magento-engcom-team commented on #9111
@MrDaar, thank you for your report.
We've created internal ticket(s) MAGETWO-82739 to track progress on the issue.

[2017-10-25 18:45] durabite opened #11741 "Price in the frontend no change"
We have installed a Magento 2.1.7

The system work fine, but if we want to change a price in the part of catalog the price no change, and if we go directly to the product page the price is good.

I hear the problem could be the cron job in version 1.X.X but in 2.X i dont could fine solution.

My site is baytu.mx you can go there a see yourself, for example if you search in the site "Logitech X50"

[2017-10-25 19:00] jchenevey opened #11743 "AbstractPdf - ZendException font is not set"
### Preconditions

1. Magento v2.2.0
2. PHP 7.0.22

### Steps to reproduce

1. Try to write a large multi-line block of text using `drawLineBlocks()` (my apologies for not providing a better example here - this came up during development of a custom module, which I am unable to include here)

### Expected result

1. PDF should render

### Actual result

1. A new Zend_Pdf_Exception is thrown, stati

[2017-10-25 19:02] orlangur commented on #11741
https://baytu.mx/bocina-bluetooth-logitech-x50-morado-con-naranja.html is showing same price as in list. You need to check all prices fields for this product and one incorrectly behaving in Admin UI.

If the issue will not become clear, create identical two products on a clean Magento installation with sample data.

[2017-10-25 19:51] okorshenko commented on #9369
Hi @thdoan
Could you please try the following: `<a href="{{store direct_url='privacy'}}">Privacy Policy</a>`
Please let me know if this will work for you

[2017-10-25 20:03] Leland opened #11746 "Safari (iOS & macOS) causes page jump when changing product data tabs"
### Preconditions

1. Magento v2.2.0
2. PHP v7.0.17

### Steps to reproduce

1. Set up a product with a lengthy description
2. Visit product's page on Safari iOS (or macOS Safari with a sufficiently narrow window)
3. Scroll to the bottom of description
4. Open Reviews or More Information section.

### Expected result

Be kept right at the newly opened section. This is how Chrome, Firefox, etc, wor

[2017-10-25 20:05] ehsankhakbaz commented on #8671
This issue is still there.

[2017-10-25 20:05] paengski13 commented on #5648
The mere fact that I set the product attribute weight default value to 1, I was assuming that it is supposed to populate that with a correct default weight.

This works as normal when manually creating a product.

[2017-10-25 20:13] hostep commented on #9466
So the exact steps to reproduce are outlined below, because following the steps from @qbixx on a clean installation isn't going to trigger the problem:

### Steps to reproduce
1. Set up a clean Magento 2.1.9 installation
2. Create a simple product, assign it an image 'pic.jpg' and save
3. Look at the image directory, it contains 1 image:
[code]
4. Save and duplicate the product
5. Look at the imag

[2017-10-25 20:15] keyurshah070 commented on #11581
@okorshenko @tzyganu  I don't understand why it is on TO-DO list If Marius already pushed his branch and its already merged label.

[2017-10-25 20:19] #11746 closed, assigned to nobody

[2017-10-25 21:24] magento-team commented on #11540
Internal ticket to track issue progress: MAGETWO-82664

[2017-10-25 21:24] magento-team commented on #10168
Internal ticket to track issue progress: MAGETWO-82563

[2017-10-25 21:24] magento-team commented on #10301
Internal ticket to track issue progress: MAGETWO-82176

[2017-10-25 21:24] magento-team commented on #11207
Internal ticket to track issue progress: MAGETWO-82187

[2017-10-25 21:32] durabite commented on #11741
Tanks @orlangur

For example if you search in the search bar "Logitech X50" in the result page show the old price and in the product page show the new price

[2017-10-25 21:36] traff1kash commented on #7371
Not sure if this is the correct solution, but this worked for me on 2.1.9.

Changed vendor\magento\module-catalog\Block\Product\View.php Line: 237-262 with this code:

[code]

[2017-10-25 22:15] osrecio commented on #7927
Working on it, to implement solution of Silarn or tomasinchoo

[2017-10-25 22:20] orlangur commented on #11701
Hi @ahmadalfy, `G1 Failed` label is added by a bot :)

All PrototypeJS-based code was removed from places where it really matters prior to 2.0 GA release. There are still some places in Admin UI using PrototypeJS and I'm not aware if there are any plans to get rid of them or they will disappear naturally during work on corresponding admin features.

Pull requests from Community are always welcomed

[2017-10-25 22:20] #11701 closed, assigned to nobody

[2017-10-25 22:32] orlangur commented on #10561
@raceves2005 bugs in third-party extensions must be fixed but their respective vendors. Please provide additional details if you reveal a problem in Magento core.

[2017-10-25 22:32] #10561 closed, assigned to nobody

[2017-10-25 22:40] orlangur commented on #5080
Mentioned events are only dispatched in model, not resource model: `\Magento\Framework\Model\AbstractModel::beforeDelete`.

[2017-10-25 22:40] #5080 closed, assigned to nobody

[2017-10-25 22:42] versdivers commented on #2276
Got this error in default mode while compiling catalog:images:resize on 2.2.0

[2017-10-25 22:46] orlangur commented on #4096
This issue seems to be fixed on 2.2.0 branch, see https://github.com/magento/magento2/issues/9466#issuecomment-339456558 for details.

Credit for investigation goes to @hostep 👍

[2017-10-25 22:46] #4096 closed, assigned to nobody

[2017-10-25 23:04] orlangur commented on #2228
@magento-engcom-team please re-check. According to reports provided in 2.2.0 it should work with `&amp;amp;amp;` syntax but fail with `&amp;` which is not correct.

[2017-10-25 23:18] orlangur commented on #9516
@astorm

`setup:upgrade` IS related to enabling modules.

No, thanks, I don't want to run this command manually for each module. Why even put modules not supposed to be enabled into `app/code`?

Whoever will work on this issue please don't change default behavior but make a configuration option for those who need another behavior.

According to my understanding there could be some interaction adde