[2017-12-24 10:38] mrkkd2013 commented on #12871
@magento-engcom-team Could you please help us?

[2017-12-24 10:49] lano-vargas commented on #12400
@magento-engcom-team  Thanks for the video.
I can tell you that you are missing the version in question have this bug been fix or not exist in 2.2.2 ?
The version you should be testing is 2.1.7
Thanks.

[2017-12-24 11:38] barjas commented on #8795
same issue .. am on 2.1.5

[2017-12-24 11:43] romeof1980 commented on #11113
Hi @terenzeyuen,
your problems have nothing to do with bugs in Magento 2 core.
Pls review sample data and especially extension compatibilities with 2.2.x
There have been major security improvements in Magento 2.2.x that requires your extensions to adapt to this new requirements.
You can see Magento 2.2 devdocs for more info and detailed insights.
Cheers!

[2017-12-24 12:33] PieterCappelle commented on #12533
Should be fixed. If accepted I'll create backport to 2.2 & 2.1.

[2017-12-24 12:33] PieterCappelle commented on #12455
Should be fixed. If accepted I'll create backport to 2.2 & 2.1.

[2017-12-24 12:36] PieterCappelle commented on #5306
Should be fixed. If accepted I'll create backport to 2.2 & 2.1.

[2017-12-24 13:15] Rezababa opened #12873 "Magento 2 slected image for each SKU doesn't work in front page. When I choose color the image I attached to it does display"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-12-24 13:17] #12873 closed, assigned to nobody

[2017-12-24 13:21] Rezababa opened #12874 "Magento 2 the slected image for each SKU doesn't display in frontend. When I as a customer choose the color the image set to the particular color doesn't display"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-12-24 18:12] lingwooc commented on #12828
@magento-engcom-team it seems to me that magento's checkout shouldn't fail because non essential js won't load. That's a simply _horrible_ thing to describe as "correct Magento behavior".

@Yonn-Trimoreau gives a solution, perhaps you should consider implementing it for _all_ non essential core js.

Responses like this really make me fear for the direction of this project.

[2017-12-24 19:52] mrkkd2013 commented on #12871
@magento-admin , @magento

[2017-12-24 22:08] Jimmyballantyne commented on #12870
Hi, I might be able to help as I had the same issue on a module and the dev fixed it by adding a definition.map.xml to Vendor\Module\view\base\ui_component\etc\

[code]

Hope this helps!

[2017-12-25 05:25] Ctucker9233 commented on #6238
@okorshenko Great! When will the fix be backported to 2.1?

[2017-12-25 06:33] nfourteen opened #12876 "Multiple newsletter confirmation emails sent"
### Preconditions
1. Magento 2.2.1
2. Php 7.0

### Steps to reproduce
1. Change configuration under `Stores > Configuration > Customers > Newsletter > Subscription Options > Need to Confirm` to Yes
2. Sign up for Newsletter on frontend as a guest
3. Follow confirmation link in email
4. Create an account and check **Sign Up for Newsletter** within the form and use the same email as in **Step 2**

#

[2017-12-25 08:45] esguhan commented on #11526
try  deleting the directories in generated folder from magento root directory.

[2017-12-25 10:32] #12818 closed, assigned to nobody

[2017-12-25 13:21] logicallimit commented on #10499
I am experiencing it on Latest Magento 2.2.1 also.

[2017-12-25 15:26] azeemism opened #12877 "[2.2.1] Magento Database Backup Command Fails (Fix included)"
The magento backup command fails under magento 2.2.1. There was no such issue under magento 2.1.8. They are no errors in the database log.

### Preconditions

1. Magento composer install
[code]
2. Using MariaDB
[code]
3.
[code]
4. Using PHP7
[code]
5. OS
[code]
6. composer.json
[code]
7.

### Steps to reproduce

1. `php bin/magento setup:backup --code --media --db`
2. `php bin/magento setup:backup

[2017-12-25 15:40] azeemism commented on #12877
Possible fix mentioned by ChrisK on Feb 8 at 6:51
https://magento.stackexchange.com/questions/141087/warning-division-by-zero-in-var-www-magento-vendor-magento-module-backup-model

Looks like the db dump crashed while trying to add rows for or around "importexport_importdata" table

A quick glance it looks like a small issue with not checking for a non-zero denominator.

The code/file in question

[2017-12-25 15:59] azeemism commented on #12877
The Database backup completes successfully after making the change:

`www-data@skynet:~/example.com/magento/2.x/2.x$ nano /var/www/vitaminwebstore.com/magento/2.x/2.x/vendor/magento/module-backup/Model/Db.php`

Replace Line 157:
`$limit = floor(self::BUFFER_LENGTH / $tableStatus->getAvgRowLength());`

With:
`$limit = floor(self::BUFFER_LENGTH / max($tableStatus->getAvgRowLength(), 1));`

`www-data

[2017-12-25 16:21] azeemism opened #12878 "[2.2.1] PayPal Express Payment Option Missing at Checkout (Fix included)"
After upgrading from 2.1.7 to 2.1.8 or  2.2.1 the following the PayPal payment option is missing at checkout. See Fix to solve issue.

### Preconditions

1. Magento composer install
[code]
2. Using MariaDB
[code]
3.
[code]
4. Using PHP7
[code]
5. OS
[code]
6. composer.json
[code]
7.

### Steps to reproduce

1. Upgrading from 2.1.7 to 2.1.8 or 2.2.1
2. Add item to cart
3. Checkout
[code]

### Expec

[2017-12-25 18:49] rip057 commented on #5845
for those that may experience this issue, what cured this issue for me was to clear the /pub/media/tmp/ directory out.  it seems that older versions permissions were set on old temp directories.  obviously make back ups, but clearing the tmp directory allowed me to fix this.

[2017-12-25 20:36] PieterCappelle commented on #12877
@azeemism Could you create PR please? Thanks!

[2017-12-25 20:38] PieterCappelle commented on #12866
Hi @nfourteen, could you create PR? Thanks!

[2017-12-25 23:11] Almusamim commented on #12683
@bvboas thanks.. I uncommented mod_version and it works now :)
Took me few hours to solve this :/

[2017-12-25 23:22] nfourteen commented on #12866
Hi @PieterCappelle, I just submitted the [pull request](https://github.com/magento/magento2/pull/12879).

[2017-12-26 04:06] versdivers commented on #7879
Is there a quick fix for this? Experiencing this within Magento 2.2.1 when saving an a product trough the product repository for a store.

So i do set the StoreId but some attributes (not all and kind of random) are getting 'use default value' unchecked while not setting those.

[2017-12-26 05:31] versdivers commented on #8897
This is still an issue in CE 2.2.1. If you save a product programmaticly without touching the attributes that have a default value in that store it will save those attributes with the value from the default value and thus unsetting the 'use default value' check

[2017-12-26 06:13] akbaradeeb opened #12880 "session_start(): Cannot send session cache limiter - headers already sent"
Warning: session_start(): Cannot send session cache limiter - headers already sent (output started at /public_html/vendor/zendframework/zend-http/src/PhpEnvironment/Response.php:114) in /public_html/vendor/magento/framework/Session/SessionManager.php on line 189

### Preconditions
Magento - 2.2.1
PHP - 7.0.22
Apache - 2.4.29
Mysql - 10.2.8-MariaDB
Redis Server Version - 4.0.1
Varnish Version -V

#

[2017-12-26 06:27] magento-engcom-team commented on #12508
@qsolutions-pl, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-26 06:27] #12508 closed, assigned to nobody

[2017-12-26 07:56] ikevinkk commented on #12490
Hi @okorshenko

Firstly wish you a Happy Christmas and a Happy New Year in 2018!

I'm a newcomer that i may have a same problem as yours :

The problem is when go on any Android or IOS device, go to a product page, open the image gallery of the item. Try to click the upper right hand X and the gallery does NOT close. You have to hit the back button on the browser to get out of it but when you do t

[2017-12-26 08:05] suthanalley commented on #8404
I have also added a quantity button using the tutorial https://magenticians.com/quantity-increment-decrement-magento-2/ . I think here you can find the solution of your query as before starting i have a default product text field and now i have a quantity button to increment and decrement.

[2017-12-26 08:30] magento-engcom-team commented on #12648
@bluethink164, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-26 08:30] #12648 closed, assigned to nobody

[2017-12-26 08:43] magento-engcom-team commented on #12865
@WSIADA ,thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to

[2017-12-26 08:53] versdivers opened #12881 "Product save via Repository on defined storeID-> Attributes with default value gets set."
I know some topics on this github does 'address' these problems. But they don't seem to cover it all or provide any kind of quickfix.

Since this is a BIG issue within Magento 2 we need a steady fix.

What happends is when you save a product trough the productrepository (or even trough other means) the product data contains all the values. Even if in the backend 'use default value' is checked then

[2017-12-26 08:54] versdivers commented on #12881
I would appriciate any kind of help to get a quickfix for this. I tried numerous things but didn't manage to have a stable fix.

[2017-12-26 09:17] versdivers commented on #12881
For someone who wants to score some points on stackexchange :

https://magento.stackexchange.com/questions/207123/product-update-storeview-vs-default-config-value

[2017-12-26 09:29] magento-engcom-team commented on #12876
@nfourteen, thank you for your report.
We've created internal ticket(s) MAGETWO-85994 to track progress on the issue.

[2017-12-26 09:30] magento-engcom-team commented on #12841
@archonkulis, thank you for your report.
We've created internal ticket(s) MAGETWO-82589 to track progress on the issue.

[2017-12-26 09:30] p-bystritsky commented on #12829
This is an expected behavior caused by some security reasons.

[2017-12-26 09:30] #12829 closed, assigned to nobody

[2017-12-26 09:40] magento-engcom-team commented on #12874
@Rezababa , thank you for your report.
Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps to reproduce
 - [ ] Expected result
 - [ ] Actual result

[2017-12-26 10:40] pushpendra07 commented on #12827
Hello @magento-engcom-team , Any updates on this.

[2017-12-26 10:44] hemendraajmera opened #12882 "Updated email IDS in sales email for invoice and shipment but received on old email IDS"
### Preconditions

1. Magento 2.1.8
2.

### Steps to reproduce

1. Change sales email address to received copy of email on email IDs to new IDs for sales invoice and sales shipment
2.  save the values
3.  Send Invoice Email Copy Method select BCC

### Expected result

1. when any order shipped or invoice, the email copy sending on New value(Updated Emails)

### Actual result

1. Emails coming on o

[2017-12-26 11:10] magento-engcom-team commented on #12870
Hi @mrkkd2013
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-12-26 11:10] #12870 closed, assigned to nobody

[2017-12-26 11:11] magento-engcom-team commented on #12871
Hi @mrkkd2013
For migration related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2017-12-26 11:30] Corsten commented on #8488
I have a similar problem on Magento 2.1.8.
message:
"Are your billing address and shipping address the same? If not uncheck the box, fill in the address, and hit the update button.  Or did you forget to fill in a mandatory field with a red asterisk?"
trace
"#0 /var/www/html/test/app/code/Amasty/Checkout/Model/PaymentInformationManagement.php(46): Magento\Checkout\Model\PaymentInformationManagement

[2017-12-26 11:38] magento-engcom-team commented on #12839
@yogeshsyscraft, thank you for your report.
We've created internal ticket(s) MAGETWO-86000 to track progress on the issue.

[2017-12-26 11:46] magento-engcom-team commented on #12858
@dakira please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-26 11:46] #12858 closed, assigned to nobody

[2017-12-26 11:55] magento-engcom-team commented on #12833
So on a clean installation, you also aren't able to reproduce this issue. Do we understand you right?

[2017-12-26 13:10] tejasvyas1988 opened #12883 "_isUrlInternal function modification"
I am getting the issue with the redirection with multi-website.
I am on multiwebsite and I am trying to redirect the URL from admin using the above code
return $this->_redirect($this->_redirect->getRefererUrl());

 _isUrlInternal function is creating the issue with that.
As in my code, store is changed and due to that _isUrlInternal  is always redirecting me to second website home page due to _isU

[2017-12-26 13:41] magento-engcom-team commented on #12855
@david-gorecki, thank you for your report.
We've created internal ticket(s) MAGETWO-86003 to track progress on the issue.

[2017-12-26 14:19] magento-engcom-team commented on #12866
@nfourteen, thank you for your report.
We've created internal ticket(s) MAGETWO-86006 to track progress on the issue.

[2017-12-26 15:05] magento-engcom-team commented on #12856
@digvijay2017 thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-26 15:19] p-bystritsky commented on #12593
If you want enable bundling with 100KB bundle size, you should:
1. Set Bundle size in view.xml to 100KB.
2. Enable JS bundling ("INSERT INTO `core_config_data` VALUES (NULL,'default',0,'dev/js/enable_js_bundling',1);").
3. Disable (!) JS merging ("INSERT INTO `core_config_data` VALUES (NULL,'default',0,'dev/js/merge_files',0);").
4. Flush cache.
5. Deploy static content (or switch to the productio

[2017-12-26 15:19] #12593 closed, assigned to p-bystritsky

[2017-12-26 16:30] magento-engcom-team commented on #12797
@hemendraajmera, thank you for your report.
The issue is already fixed in 2.2.2

[2017-12-26 16:30] #12797 closed, assigned to nobody

[2017-12-26 16:44] WSIADA commented on #12865
Magento Version: 2.1.3
Steps to reproduce: Adding products with multiple (10+) customizable options for signs/flags, images, categories, etc after initial saving of product.
Expected result: Able to re-edit the product without issue.
Actual result:  Invalid Option Value banner shows up on the screen when save is processed.

[2017-12-26 20:41] okorshenko commented on #8415
Hi @shinesoftware. Thank you for your report.
The issue has been fixed in magento/magento2#12840 by @duckchip in 2.1-develop branch
Related commit(s):
 - 80595986e1e9e2ee11af759632922777682f302c

The fix will be available with the upcoming patch release.

[2017-12-26 21:08] jnodwell commented on #10499
this is an issue in 2.2.1 also.

[2017-12-26 21:16] mombrea commented on #12463
We have the same problem upgrading from CE 2.1.9 to 2.2.2 in a multi-store install.
![image](https://user-images.githubusercontent.com/915300/34364869-1f618cbc-ea58-11e7-86d6-2e5f38b7d0f7.png)

[2017-12-26 21:26] mombrea commented on #12463
@chonny did you find a solution for this by chance?

[2017-12-26 21:51] orlangur commented on #12868
Hi @ashvinimarwal, please check https://magento.stackexchange.com/a/195091/40869 and use GitHub for bug reports only. Generally such kind of error indicates invalid XML files in your code and they just needs to be fixed to correlate with XSD.

If solution didn't work for your, please ping us back and issue will be reopened for further investigation.

[2017-12-26 21:51] #12868 closed, assigned to nobody

[2017-12-26 22:53] clickdigitalinteractive opened #12885 "download link in email with configurable product"
### Preconditions
1. Any Mage 2.1x versions.
2. Configurable product with child product being a downloadable product

### Steps to reproduce
1. Create configurable product with child product being a downloadable product.
2. Place order.

### Expected result
1. (Download) link should show in the email.

### Actual result
1. Email confirmation will show name and sku but no download link like a strai

[2017-12-26 23:06] anemitoff commented on #10829
Is the takeaway that the the customer_grid index (and potentially catalogrule_product too, according to avra911) should never be "update on schedule"?  The "fix" seems like a hack and I don't really understand the why the rows wouldn't be properly indexed when the scheduled update was run?  Can anyone explain why the "fix" is "correct" rather than a hack?

[2017-12-26 23:37] okorshenko commented on #2156
Hi @dmitry-fedyuk. Thank you for your report.
The issue has been fixed in magento/magento2#12007 by @dverkade in 2.3-develop branch
Related commit(s):
 - db0c775b36769a3e729f9598613ea0fc462b74a2

The fix will be available with the upcoming patch release.

[2017-12-26 23:38] #2156 closed

[2017-12-26 23:44] Ctucker9233 commented on #10158
@magento-engcom-team I want to add that disabling asynchronous indexing solves the problem but seems to have the negative effect of not writing information to the system.log file.

[2017-12-27 00:32] Ctucker9233 opened #12886 "Magento 2.1.10: 504 Gateway timeout when generating sitemap"
E-commerce site with ~3,500 products
Hosted by siteground

### Preconditions
1. Magento 2.1.10 and likely all other versions
2. PHP 7.0
3. memory_limit = 4096M
4. max_execution_time = 36000

### Steps to reproduce

1. Install Magento 2.1.10
2. Upload large catalog
3. Generate sitemap

### Expected result

1. Sitemap generates successfully

### Actual result

1. 504 Gateway Timeout error gets throw

[2017-12-27 00:42] Ctucker9233 commented on #4324
@hostep Alright, I'll look at it and give it a go.

[2017-12-27 02:16] alexcrz commented on #12185
I'm having the same issue, on a Magento 2.2.1, can't close the product gallery on iPhone, but works fine on Windows Mobile or Android, any solution?

[2017-12-27 06:39] VivianWang1993 commented on #7554
Could you write the code branch that how to fix this bug here, please? We can't update to Magento 2.2 in short period. Thank you very much

[2017-12-27 07:04] ashokbhati180 commented on #5322
I found an issue in magento 2 that it does not load get store URL  when cache is enabled . that I am working on magento 2 and my cache is disabled and its working properly but if i enable cache then It redirect to store id 1 always and i did not found my store URL

[2017-12-27 07:14] digvijay2017 commented on #12856
Hi,

This issue occurring only with the bundle product. And product is taxable good, So Create a Tax Rule and Zone like This:
![tax zones](https://user-images.githubusercontent.com/30342958/34373738-2425490e-eb03-11e7-8cb9-7515f920fadf.png)

![tax-rule](https://user-images.githubusercontent.com/30342958/34373744-2e6633ec-eb03-11e7-9fbe-2aa2ffa9a13c.png)

Please use the following Tax configuration

[2017-12-27 07:14] trushangsuthartri commented on #10234
Hello @ravibhalodia

I am facing same issue #10234.
have you got any fix for solve this issue?

[2017-12-27 07:57] chonny commented on #12463
@mombrea yes i found it. You have to search your extension folder for usage of this class. In our case it was aitoc exportimport orders. Then replaese it with scopeInterface parameter into constuctor.

[2017-12-27 08:16] versdivers commented on #12881
The only solution that i found was to work with the recource model of the product and using 'insert' and 'update' function directly into the database table. Which is a bad practice

[2017-12-27 08:19] p-bystritsky commented on #12223
Duplicatates https://github.com/magento/magento2/issues/11946

[2017-12-27 08:19] #12223 closed, assigned to p-bystritsky

[2017-12-27 08:30] magento-engcom-team commented on #12607
@Nyqnzguju, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-27 08:30] #12607 closed, assigned to nobody

[2017-12-27 08:43] sadon commented on #11110
I resolve similar issue
`htmlClass="product media column-padding col-md-6 col-lg-4 col-lg-push-4 col-sm-12 " `
via removing the space at the end of string:
`"product media column-padding col-md-6 col-lg-4 col-lg-push-4 col-sm-12" `  //<--

But I think that the regular expression did not resolve their purpose.

[2017-12-27 09:08] magento-engcom-team commented on #12842
@lsonkar thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-27 09:09] magento-engcom-team commented on #12865
@WSIADA , thank for you update.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release(now 2.1.11 and 2.2.2).

[2017-12-27 09:31] magento-engcom-team commented on #12886
@Ctucker9233 , thank you for your report.
In your case, you use ["Magento Open Source" or "Magento Commerce"](https://magento.com/resources/technical?_ga=2.179857572.1827142047.1506071800-415199849.1506071800)?

[2017-12-27 09:49] magento-engcom-team commented on #12883
@tejasvyas1988 thank you for your report,
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-27 09:50] #12883 closed, assigned to nobody

[2017-12-27 09:51] rafczow commented on #6426
Remember to set deploy mode to developer

[2017-12-27 09:52] p-bystritsky commented on #11508
The expected result seems not obvious. Need to discuss with product owner.

[2017-12-27 10:11] joni-jones commented on #12878
@azeemism the `isBillingAddressRequired` cannot be `true` by default because at first this feature should be enabled in PayPal account. Also, this is the known issue (internal ticket `MAGETWO-82910`) and we already working on it.

[2017-12-27 10:13] tig-dennisvanderhammen opened #12889 "Wrong shipping fee in backend with multiple store views"
### Preconditions

1. Magento version 2.2.2 with sample data installed
2. PHP version 7.0.25
3. Two different websites with storeviews (explained in steps to reproduce)
4. Each website a different flat fee (explained in steps to reproduce)

### Steps to reproduce

1. Install a clean version of Magento 2.2.2.
2. Set up a Second website, second store and second storeview in Stores->All Stores.
3. Ad

[2017-12-27 10:47] linden2015 opened #12890 "Magento 2.2.2 setup:install fails on missing argument scopetype of Magento\Framework\Module\Output\Config"
### Preconditions

1. MySQL: 14.14 Distrib 5.7.20, for Linux (x86_64)
2. PHP: 7.0.22-0ubuntu0.16.04.1

### Steps to reproduce

1. `composer create-project --repository-url=https://repo.magento.com/ magento/project-enterprise-edition:2.2.2 ./`
2. copy `app/etc/env.php` from `2.1.10` installation, and change database names
3. Mysql: `create database magento_2_2_2`
4. ```php bin/magento setup:install

[2017-12-27 11:20] Triloworld opened #12891 "Telephone - required field isn't correct set in template (Fix included)"
### Preconditions
1. Magento 2.2.0
2. Working site

### Steps to reproduce
1. Open in editor:
vendor/magento/module-customer/view/frontend/templates/widget/telephone.phtml
2. Input field get required class from fax!
3. Not possible to override by just setting flag for field. Need to be fixed in template first.

### Expected result
1. Change field "Telephone" to required field and it work without e

[2017-12-27 11:25] magento-engcom-team commented on #12878
@azeemism, thank you for your report.
We've created internal ticket(s) MAGETWO-82910 to track progress on the issue.

[2017-12-27 11:30] magento-engcom-team commented on #12726
@zivendesign, thank you for your report.
We've created internal ticket(s) MAGETWO-86041 to track progress on the issue.

[2017-12-27 11:30] magento-engcom-team commented on #12527
@tonytrinh206, thank you for your report.
We've created internal ticket(s) MAGETWO-86040 to track progress on the issue.

[2017-12-27 11:52] CRYX2 commented on #12819
Commit aa535e solves the problem in 2.2.2, why is not commited yet?

[2017-12-27 11:57] orlangur commented on #8837
@magento-engcom-team, please check if
https://github.com/magento/magento2/issues/8837#issuecomment-316116839
https://github.com/magento/magento2/issues/8837#issuecomment-330065625
reports are true and if so issue should be treated as a bug and reopened. Otherwise just close it back and treating as improvement/feature request seems correct.

[2017-12-27 11:57] linden2015 commented on #12890
* When using `--db-password` the error did not occur.
* In Magento 2.1.10 it was possible to use a blank password (`--db-password ""`)
* In Magento 2.2.2 it is not possible to use a blank password, and the only solution is to create a mysql user with a non-blank password

[2017-12-27 12:18] vishalpatel14 commented on #12828
Hello Team,

Having same issue with one more error.

[2017-12-27 12:13:20] main.CRITICAL: Unable to resolve the source file for 'frontend/Vishal/base/en_US/trackingCode.js' [] []
[2017-12-27 12:13:21] main.CRITICAL: Unable to resolve the source file for 'frontend/Vishal/base/en_US/temandoCheckoutFieldsDefinition.js' [] []

Please let us know what is the solution?

[2017-12-27 12:49] basilikonet commented on #9676
Any update about it? We have this problem in 2.1.10

[2017-12-27 12:53] Lez-2 opened #12892 "Customer account navigation block container doesn't have a "name" or "as" attribute (fix included)"
### Preconditions
Magento 2.2.0

### Steps to reproduce
1. Open the Customer account link e.g. http://domain.com/customer/account while logged in and you can see through any browser debugger that the html surrounding the customer navigation menu is:
[code]
The title is always empty, but it is expected.
And you can't add the title because the containing block of the customer account navigation, whi

[2017-12-27 12:55] magento-engcom-team commented on #12864
@craft-tyler thank you for your report.
Could you please let us know if the issue reproduces also in version CE without  "svg-sprite grunt module"?

[2017-12-27 12:57] p-bystritsky commented on #11015
Seems like issue is already fixed
![Fixed](http://prntscr.com/hsvn4c)

[2017-12-27 12:57] #11015 closed, assigned to p-bystritsky

[2017-12-27 12:58] mzeis commented on #12793
@PieterCappelle @dmanners FYI I added the Import/Export label.

[2017-12-27 13:27] magento-engcom-team commented on #12861
@Ctucker9233 , thank you for your report.
In your case, you use ["Magento Open Source" or "Magento Commerce 2.2 B2B"](https://magento.com/resources/technical?_ga=2.179857572.1827142047.1506071800-415199849.1506071800)?

[2017-12-27 13:37] mazur-vlad opened #12894 "Can't remove State is required for all countries"
### Preconditions

1. Magento version 2.1.9
2. PHP 7.0.25

### Steps to reproduce

1. Login to admin page
2. Navigate to Stores > Configuration > General
3. In the fieldset "State is Required for" disable all options.
4. Click to save

### Expected result

1. Nothing set in "State is Required for"

### Actual result

1. Previos options selected

[2017-12-27 13:48] p-bystritsky commented on #11794
The issue is already fixed in 2.2-develop.

[2017-12-27 13:48] #11794 closed, assigned to nobody

[2017-12-27 14:05] p-bystritsky commented on #10709
Issue already fixed in 2.2.X ([pull request](https://github.com/magento/magento2ce/pull/1287))

[2017-12-27 14:05] #10709 closed, assigned to p-bystritsky

[2017-12-27 14:09] VictorEfimov commented on #12679
I have the same issue while load different pages in admin panel. The names of components are different too.

[2017-12-27 14:30] magento-engcom-team commented on #12889
@tig-dennisvanderhammen, thank you for your report.
We've created internal ticket(s) MAGETWO-86049 to track progress on the issue.

[2017-12-27 14:34] craft-tyler commented on #12864
Yes, this is replicable within a Native Magento instance on CE.  Although, this is more an issue with the php less compiler module in production.  This issue will occur in custom less functions if there are conditional statements in them...

[2017-12-27 14:39] mombrea commented on #12463
@chonny That did the trick, thank you very much!

[2017-12-27 14:48] p-bystritsky commented on #10591
Issue already fixed in 2.2.X.

[2017-12-27 14:48] #10591 closed, assigned to nobody

[2017-12-27 15:19] magento-engcom-team commented on #12885
@clickdigitalinteractive , thank for you report.
Check this documentation
http://docs.magento.com/m2/ce/user_guide/catalog/product-create-configurable.html
A configurable product allows the shopper to choose options from drop-down, multiple select, visual swatch and text swatch input types. Each option is actually a separate, **simple product**. We add label feature request

[2017-12-27 15:30] magento-engcom-team commented on #12894
@mazur-vlad, thank you for your report.
We've created internal ticket(s) MAGETWO-86053 to track progress on the issue.

[2017-12-27 15:50] tousif12 commented on #9188
@magento-engcom-team  can you share link of fix ?  facing this issue in 2.1.8

[2017-12-27 17:29] southerncomputer commented on #12886
Both have this problem! the single batch of products loads and processes at once running into out of memory and/or timeout! Needs to be chunked to reduce resident memory as well!

[2017-12-27 17:57] macguydvd opened #12897 "Magento 2 Fresh Install - Admin can't add/view products, categories, pages, etc."
### Preconditions

1. Fresh Ubuntu 16.04 LTS install
2. PHP 7.0.22
3. MySQL 5.7.20
4. Apache 2.4.18
5. Fresh Magento 2.2.2 Install

### Steps to reproduce

1. Install Magento (I have tried via browser and composer, with or without sample data)
2. Launch and login to admin
3. Navigate to Catalog > Products

### Expected result

1. On another machine I see products at this point, and if I click Add

[2017-12-27 20:22] willcodeforfood commented on #6426
Confirming that this issue still exists on a fresh install of Magento 2.2.2.

[2017-12-27 20:25] SixArmDonkey commented on #5351
I'm having exactly the same issue while saving products in parallel using the soap api.  Deadlock in the index_process table.

[2017-12-27 21:17] mombrea commented on #12897
When in doubt, execute this giant pile of commands and try again. We have to do this non stop during development.

`rm -rf var/di var/generation generated/code`

**Clean and Rebuild**

`php bin/magento cache:clean`
`php bin/magento cache:flush`
`php bin/magento setup:upgrade`
`php bin/magento setup:di:compile`
`php bin/magento indexer:reindex`
`php bin/magento setup:static-content:deploy`

**Reset

[2017-12-27 23:16] macguydvd commented on #12897
Thanks for the suggestions, there are a few there I wasn't already using and I'm sure they will come in handy. Of course after several days of trying to figure this out, the answer presented itself as soon as I posted an issue here.

For me the problem was mod_pagespeed, specifically the command:
`ModPagespeedEnableFilters pedantic,remove_comments`
This was inserted based upon a tutorial online an

[2017-12-27 23:22] #12897 closed, assigned to nobody

[2017-12-28 00:07] iproger opened #12899 "Cannot get correct response from API use OR condition"
### Preconditions
1. Magento 2.2.2 CE, php 7.1.

### Steps to reproduce
1. `GET` to API `/customers/search` with parameters.
[code]

`company` is default magento attribute in customer address,` company_name` I created for customer entity.

Using the m2 [documentation](http://devdocs.magento.com/guides/v2.2/rest/performing-searches.html)
### Expected result
Search where `company` like `%%` OR `comp

[2017-12-28 05:24] ifekaj opened #12900 "Braintree "Place Order" button is disabled after failed validation"
### Preconditions

1. Magento 2.2.2
2. PHP 7.0.25

### Steps to reproduce

1. Add product to cart and proceed to checkout
2. Fill all customer data and select shipping method. Proceed to payment
3. Select Braintree credit card payment method
4. Input credit card number (dummy)
5. Omit expiry date or cvv
6. Click "Place order" button
7. Error "Payment Credit Card (Braintree) can't be initialized" b

[2017-12-28 06:15] magento-team commented on #6916
Hi @magecodenet. Thank you for your report.
The issue has been fixed in magento/magento2#12734 by @dzianis-yurevich in 2.2-develop branch
Related commit(s):
 - e6a7a4e82099de6e90239e7b0598c3ff43d1fb48

The fix will be available with the upcoming patch release.

[2017-12-28 06:15] #6916 closed, assigned to dzianis-yurevich

[2017-12-28 06:15] magento-team commented on #12712
Hi @lano-vargas. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#1036 by @serhii-balko in 2.2-develop branch
Related commit(s):
 - 781ec89aaca6e6ee2853e98065416614f2edffce

The fix will be available with the upcoming patch release.

[2017-12-28 06:15] #12712 closed, assigned to serhii-balko

[2017-12-28 06:15] magento-team commented on #8830
Hi @MTheProgrammer. Thank you for your report.
The issue has been fixed in magento-engcom/magento2ce#921 by @RomaKis in 2.2-develop branch
Related commit(s):
 - 0a6a2d9b80859261afc01c3027f06babdec878aa
 - 53c1fa324eb73394ff5edf02e3cd8c3ee8f23dab
 - 1ab55ec53228ac6183124eb54031e7a6bdf2ec99
 - cb241157d2405d3b7ca0cd3e36c8399d26d2888d
 - bfb2e382b76df806f3a3307b1552dce28b6fa1eb
 - 568d36e3d11ba4633ec

[2017-12-28 06:15] #8830 closed, assigned to RomaKis

[2017-12-28 06:28] ihor-sviziev commented on #6426
@willcodeforfood I reopened this issue. Could you add steps to reproduce on fresh magento 2.2.2 installation?

[2017-12-28 06:52] magento-engcom-team commented on #12860
Hello @ihor-sviziev. Thanks for reporting. Currently we are not able to reproduce Your issue. We tried to do that on a clear instance of Magento and recorded a video about that. In fact there are three separate videos : Video1, Video2 and Video3. Please watch them in that order and tell us what we have missed or done not as You have.
[Video1.zip](https://github.com/magento/magento2/files/1590616/V

[2017-12-28 06:56] irfanMukhtar commented on #11963
hi @klimart thanks for the solution. i have implemented your solution in my magento 2.2.1 and it is not working. i have tested this solution on "default", "developer" and "production" mode as well.
@p-bystritsky hi, do you have any update regarding this issue ? thanks

[2017-12-28 07:01] ihor-sviziev commented on #12860
Hi @magento-engcom-team,

I was able to reproduce on fresh magento installation, will try to check steps to reproduce, probably there is mistake. Will update you later

[2017-12-28 07:11] ashvinimarwal commented on #12811
@magento-engcom-team  Thank you for the response.
Due to some issues, I can't update my Magento.

It would be really appreciable if you can share any patch to fix this issue in Magento 2.1.8
Kind Regards

[2017-12-28 07:36] jalot commented on #9179
@blizam : Works perfect ! thnx

[2017-12-28 08:21] sadon commented on #5956
I've reproduced it in 2.2.2

[2017-12-28 08:23] s2892 commented on #12185
The same
google chrome dev iOS is working
iPhone 7 / iPad Air - not working (Safari and Chrome)

Any Solution ?

[2017-12-28 08:32] klimart commented on #11963
Hello @irfanMukhtar it's seems strange, as for me fix works in 2.2.2 version, but I don't observe any core code changes in these files from 2.2.0 version, so it should work for 2.2.1 and 2.2.0 too.
I've created git patch for this issue with my changes
https://github.com/klimart/magento2-patches/blob/master/patches/11963-language-issue.patch

[2017-12-28 08:43] akbaradeeb commented on #12880
Hi
I cpanel aws stats there were 72% 500 error.

[2017-12-28 10:09] FreekVandeursen opened #12903 "Missing getter and setters for shipping address"
Magento\Sales\Api\Data\OrderInterface has no function definitions for getShippingAddress and setShippingAddress, although those functions do exist in Magento\Sales\Model\Order class.

I don't know if those functions were intentionally omitted from the interface, but it seems logical to have them in the interface as well.

I could make a pull request to fix this, but I assume this would be consider

[2017-12-28 10:13] ishakhsuvarov commented on #12903
Hi @FreekVandeursen
Please take a look at the `\Magento\Sales\Api\Data\ShippingAssignmentInterface` which is an extension attribute for the `OrderInterface`.
It is expected to contain the shipping address for the order.

[2017-12-28 10:34] jean-bernard-valentaten opened #12904 "Tablerate import fails when upload_tmp_dir is not related to sys_temp_dir"
Importing tablerates via backend fails with an error message like 'The file "/tmp/var/www/dist/var/upload/phpi1qs6p" doesn't exist' when PHP setting `upload_tmp_dir` is set to anything that does not relate to setting `sys_temp_dir`.
This is due to the first line of the private method `\Magento\OfflineShipping\Model\ResourceModel\Carrier\Tablerate::getCsvFile()` in which a directory reader for `Dir

[2017-12-28 10:42] harshvardhanmalpani commented on #4057
I turned on two modules - Web api and Webapi security
php bin/magento module:enable Magento_Webapi Magento_WebapiSecurity

[2017-12-28 10:49] gwharton commented on #10889
Thanks @mihaifaget

I hadn't realised you can remove the item by setting its value to "".

[2017-12-28 10:49] #10889 closed, assigned to nobody

[2017-12-28 10:54] FreekVandeursen commented on #12903
I did find that one @ishakhsuvarov , but wouldn't it still make sense to have the Model\Order class in sync with the OrderInterface? The implementing class does have a getter and setter for the shipping address after all.

[2017-12-28 10:56] ishakhsuvarov commented on #12903
It was removed before the 2.0 release to theoretically allow support for multiple addresses. Old method was not suitable for it.

[2017-12-28 10:59] FreekVandeursen commented on #12903
That does seem to make sense :)
Thanks for the explanation

[2017-12-28 10:59] #12903 closed, assigned to nobody

[2017-12-28 11:00] ishakhsuvarov commented on #12903
@FreekVandeursen By the way, same applies to the Quote APIs.
Thanks.

[2017-12-28 11:26] magento-engcom-team commented on #12899
Hello @iproger. Thanks for reporting. If we understand Your case  correctly it may have the following explanation. You see when You save an entity (in our case a customer) with empty text fields that aren't the required ones these fields are having been recorded into database with values equal to NULL. Now according to SQL documentation "%" in queries with "LIKE" stands for "zero, one or multiple

[2017-12-28 11:29] magento-engcom-team commented on #12823
@ashishgavshinde, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-12-28 11:33] bordeo commented on #6363
Any update on this?

[2017-12-28 11:51] vipinroy commented on #12185
The same issue for me also.
The gallery will close when you press Escape button.
But it will not close when you click the close button on the top right.
The issue exists in ipads only.

[2017-12-28 12:08] magento-engcom-team commented on #12886
@Ctucker9233
Unfortunately, we still can not reproduce this issue
in our case, we used 3800 products. Probably You mean you use ~ 3 500 000 products?

[2017-12-28 12:10] magento-engcom-team commented on #12882
@hemendraajmera, thank you for your report.
We've created internal ticket(s) MAGETWO-86118 to track progress on the issue.

[2017-12-28 12:48] JananiKrishnan opened #12907 "Product Image Full view close icon not working in IOS devices"
**Preconditions**

1. Magento 2.2.2

**Steps to reproduce**

1. Go on any new Android or IOS device, go to a product page, open the image gallery of the item. Try to click the upper right hand X and the gallery doesnt close. You have to hit the back button on the browser to get out of it but when you do that, it takes you back to the product grid page. It has been tested on iphone 6, 6s, pixel 2 x

[2017-12-28 13:25] zack6849 opened #12908 "Braintree Module needs to be enabled to add items to cart?"
### Preconditions

1. Magento v2.1.0
2. PHP v7.0.14 (Not version specific, I don't think)

### Steps to reproduce

1. Disable Magento_Braintree
2. Rebuild / recompile etc
3. Try to add item to cart

### Expected result

1. Item is added to cart

### Actual result

1. Add to cart fails, greeted with 500 error, claiming it can't find the class 'BraintreeFacade'
Which obviously makes sense, because t

[2017-12-28 13:28] magento-engcom-team commented on #12907
@JananiKrishnan , thank you for your report.
This is duplicate of [#12726](https://github.com/magento/magento2/issues/12726)

[2017-12-28 13:28] #12907 closed, assigned to nobody

[2017-12-28 13:48] joni-jones commented on #12908
@zack6849, did you cleared `var/generate` and cache?

[2017-12-28 13:49] zack6849 commented on #12908
Yes, when I disable the module, I run the following command before testing again:
rm -rf var/cache/* var/generation/* var/page_cache/* var/di/* var/view_preprocessed/*; bin/magento cache:flush; bin/magento setup:upgrade; bin/magento setup:di:compile; bin/magento setup:static-content:deploy`
`

[2017-12-28 14:04] joni-jones commented on #12908
Seems, some cache still exists. I've checked on the latest 2.1-develop branch, all works as expected, the Braintree module can be safely disabled.

[2017-12-28 14:05] magento-engcom-team commented on #12658
please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-28 14:05] #12658 closed, assigned to nobody

[2017-12-28 14:16] zack6849 commented on #12908
Is that equivalent to 2.1.10?

[2017-12-28 14:20] joni-jones commented on #12908
No, because at least latest 2.1.x release is 2.1.11, the 2.1-develop branch contains more fixes than previous versions.

[2017-12-28 14:29] magento-engcom-team commented on #12856
@digvijay2017, thank you for your report.
We've created internal ticket(s) MAGETWO-86128 to track progress on the issue.

[2017-12-28 14:33] bordeo commented on #10992
I experienced the same issue and i propose a fix with this pull request https://github.com/magento/magento2/pull/12909

[2017-12-28 14:51] Detzler commented on #12570
it helped

https://github.com/magento/magento2/issues/12570#issuecomment-350510482

did it by:
`php -r "opcache_reset();"`

[2017-12-28 14:59] Krapulat commented on #4454
I confirm this bug in Magento 2.2.2.

@franckgarnier21 Your workaround works fine!

[2017-12-28 15:11] Detzler opened #12910 "Unable to cancel/close a 100% discounted order"
If a buyer uses a coupon code (in term of a gift card or whatever kind of shop owners logic) which gives 100% discount (grand total == 0), the order is not closable in a general matter.

### Preconditions
1. Magento 2.*

### Steps to reproduce
1. Create a cart rule which gives 100% discount
2. Create an order with applied coupon code
3. Create an invoice in the backend
4. Open the order in the bac

[2017-12-28 15:37] martins-olekss commented on #9156
Also facing same issue. Is there any additional information on this and on possible solutions ?

[2017-12-28 15:56] zack6849 commented on #12908
I updated our installation to 2.1.11 and we're still seeing the same issue :/

[2017-12-28 16:04] thebreakfastcowboy opened #12911 "On Invoice: Address and City on Same Line"
### Preconditions
Magento 2.1.10

### Steps to reproduce
Create a PDF invoice

### Expected result
City and Address on different line, to easily distinguish between them

### Actual result
City and Address on same line.

An example of the issue with this default invoice behavior: if a city begins with a cardinal direction, it's unclear if it's part of the street name (e.g. Test Ave. North, Testvil

[2017-12-28 18:50] magento-team commented on #12374
Hi @Detzler. Thank you for your report.
The issue has been fixed in magento/magento2#12736 by @virtual97 in 2.2-develop branch
Related commit(s):
 - a847d89917cca3f1680dbebc2611503a63fa5b1a
 - ae6293108e4d5156a052ebcf4e249ebd06b44d51

The fix will be available with the upcoming patch release.

[2017-12-28 18:50] #12374 closed, assigned to nobody

[2017-12-28 19:05] PieterCappelle commented on #12891
Looks good. Please create PR so Magento can merge.

[2017-12-28 20:47] kennedyabitbol opened #12912 "composer, magento upgrate to 2.2.2, conflict with your requirements or minimum-stability"
Hi,

Using magento 2.1.9, i am trying to upgrade to 2.2.2 but cannot understand the return error from composer.

[code]

To me, it seems all good but there is any conflict?

Do you see any error?

Thank you,
Damien.

[2017-12-28 21:21] Ctucker9233 commented on #12198
@ali-uae That will always be recommended. But I know the solution to your problem. CSV files have to be UTF-8 encoded. If you use an editor like notebook++ this is easy to do and it will show you characters that are not allowed highlighted in black. Simply remove those and the file should import as expected.

[2017-12-28 21:40] Brhmts commented on #12828
Hello,
I just got this problem , after upgrade from version 2.2.1 to 2.2.2

I upgraded with composer , With no errors

i hope to find a solution

[2017-12-28 22:46] hirale opened #12913 "Web Setup Wizard issue When session storage is memcached"
### Preconditions

Magento 2.2.2
PHP 7.0
mysql 5.6
memcached

### Steps to reproduce
1. in app/etc/env.php . changed session storage
'session' =>
  array (
    'save' => 'memcached',
    'save_path' => '127.0.0.1:11211',
  ),
2. open web setup from backend.

### Expected result
it should open setup page

### Actual result

1. when open Web Setup Wizard ,it returns HTTP 500 ,url is "domain.com/setu

[2017-12-28 23:06] phronesis commented on #7554
For those still experiencing this issue, this is the commit that fixes it:
https://github.com/magento/magento2/commit/861f596371825d9e24672cd613229ae9486c635f
. Digging into the code, this only applies if your request is a 'POST' request -  that makes sense.
If your request for some reason, is not a 'POST' request, you may need to make some modification

[2017-12-29 03:19] duffner opened #12914 "Tiered pricing and quantity Increments do not work with decimal inventory"
### Preconditions

1. Magento 2.2.2
2. PHP 7.0
3. MySQL 5.6

### Steps to reproduce

**Tiered Pricing Issue:**
1. Create Simple Product
2. Set Inventory to 100
3. Set "Qty Uses Decimals" in Advanced Inventory to "Yes"
3. Set Base Price to 3.99
4. Open Advanced Pricing tab
5. Set a Tiered Price for Qty of .5 and price of 2.99
6. Save

**Quantity increment issue:**
1. Open Advanced Inventory
2. Set

[2017-12-29 03:22] duffner commented on #12914
For reference, an Enterprise Support ticket was also filed: Ticket #03228956

[2017-12-29 05:56] hemendraajmera opened #12915 "Unable to update with latest version by using web setup wizard"
### Preconditions

1. Magento 2.2.1
2.

### Steps to reproduce

1. Login into admin section, navigate to web setup wizard
2. it will open new page for system upgrade, click on that
3. it will ask for version, select latest and click on next
4. it will open new Step 2: Readiness Check

### Expected result

1. Magento 2 system update with the latest version

### Actual result

1.it showing error for

[2017-12-29 06:12] NagamaniNaresh opened #12916 "Warning: Illegal offset type in isset or empty in /var/www/html/unicorn-magento/vendor/magento/module-ui/Config/Reader/Definition/Data.php on line 126"
I have upgraded my store from M2.1.4 to M2.2.1, Upgradation was successful, once after that i can't able to edit products from admin. I am getting error message.

### Preconditions
1. Magento v. 2.2.1
2. PHP 7.1.12
3. nginx/1.10.3 (Ubuntu)

### Steps to reproduce
1. Upgrade Magento from older version to M2.2.1
2. Log in to admin
3. Edit any Product

### Expected result
1. It should allow us to edi

[2017-12-29 06:26] kalusingh commented on #4108
@magento-engcom-team
This issue is still not fixed in Magento 2.2.1 version

[2017-12-29 07:30] vasilii-b commented on #12894
Hi @magento-engcom-team, @mazur-vlad !

I investigated this issue and found fix for it. Please have a look at the PR.

Thanks!

[2017-12-29 07:33] kelsonzhao commented on #12828
Hi,
I also got this problem, is there a solution to this problem?

[2017-12-29 07:48] mzeis commented on #10992
@bordeo Thanks for your PR! As this issue was closed of @magento-engcom-team becaut it could not be reproduced: please can you add information in which exact version you experienced the version and add the exact steps to reproduce so the CET can reproduce it? Thanks!

[2017-12-29 08:25] magento-engcom-team commented on #12910
@Detzler, thank you for your report.
We've created internal ticket(s) MAGETWO-86160 to track progress on the issue.

[2017-12-29 08:35] magento-engcom-team commented on #12908
@zack6849 , thank you for your report.
We are not able to reproduce this issue by the steps which you provided.
Please, try to reproduce this problem on clean Magento installation or provide more additional information?
Maybe are you using some third-party extensions?

[2017-12-29 08:42] magento-engcom-team commented on #12774
@Kronmose, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-29 08:42] #12774 closed, assigned to nobody

[2017-12-29 08:46] magento-engcom-team commented on #12890
@linden2015 thank you for your report.

The Module 'Magento_GoogleTagManager' is not present in version Magento Open Source.

Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways: You can use the Support portal associated with your account or If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHu

[2017-12-29 08:46] #12890 closed, assigned to nobody

[2017-12-29 08:57] magento-engcom-team commented on #12914
@duffner, thank you for your report.
We've created internal ticket(s) MAGETWO-86164 to track progress on the issue.

[2017-12-29 09:01] dasharath-wagento opened #12918 "Unable to get Downloadble link on Invoice and Order Confirmation Email when Order Placed by Configured Product Type's child product has a Downloadable type Product"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1.  Go to Admin -> Catalog -> Products -> Create a new configurable type product
2.  Edit configurable's child product and Make it to downloadable.
3. Go to frontend and place an order for the configurable product and select the downloadable product from the option .after not getting a downloadable link to Order Confirmation Email and In

[2017-12-29 09:04] magento-engcom-team commented on #12918
Duplicate of #12885

[2017-12-29 09:04] #12918 closed, assigned to nobody

[2017-12-29 09:14] GuiltyNL commented on #5980
@magento-engcom-team  I've reproduced this also. Sometimes the cache is being purged succesfully after saving the product several times in a row.

And sometimes the purge randomly is succesful after a single save.

[2017-12-29 09:16] GuiltyNL commented on #5980
@robfico  Are you sure that setting up the cache host was a permanent solution for the issue in your case? Because our cache host correct and cleaning the cache from the backend works well, but still we have issues with purging the cache after a product update.

[2017-12-29 09:29] p-bystritsky commented on #12835
I think it's not a bug. You are directly adding the incorrect value to core_config_data, Magento cannot parse it, and it causes an infinite recursion. If you want to remove some value from core_config_data, you should delete the whole record, not only it's "value" raw.

[2017-12-29 09:29] #12835 closed, assigned to p-bystritsky

[2017-12-29 09:30] magento-engcom-team commented on #12882
@hemendraajmera , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a latest release.
Steps we use:
1. Create order.
2. Change sales email address copy of email for invoice and shipment (Stores->Configuration->Sales->Sales Emails , change "Send Invoice Email Copy

[2017-12-29 09:34] hemendraajmera commented on #12882
I have followed the same steps as you mentioned but not received email on new email address(multiple)
or even sometimes not sending email to a New email address.

[2017-12-29 10:06] magento-engcom-team commented on #12882
@hemendraajmera , Please try to reproduce this issue on a latest release `2.1.x` or `2.2.x`.

[2017-12-29 10:06] hemendraajmera commented on #12882
You have fixed this in 2.1.x and 2.2.x ??

[2017-12-29 10:08] magento-engcom-team commented on #12915
@hemendraajmera thank you for your report
You have there a number of paths listed under "Error from Updater Application Availability". Please make sure You have permissions to write set for those paths.

[2017-12-29 10:24] hemendraajmera commented on #12915
I have given 777 permission to generated with subdirectory but still facing the issue.

[2017-12-29 10:37] vdrahaniuk opened #12919 "Translation for lines in a Street Address"
https://github.com/magento/magento2/blob/a39e37f1e50bbbd6acffe363b28b2eb289e5b80a/app/code/Magento/Customer/view/frontend/templates/address/edit.phtml#L59

Is not possible change translation for each line. For example for Netherlands:

"Street Address",Straat
"Street Address 2",Huisnummer
"Street Address 3",Toevoeging

In this case need to override template for changing 1 line
` <span><?= $block->

[2017-12-29 11:00] miguelbalparda commented on #12894
Will take a look, thanks @vasilii-b!

[2017-12-29 11:03] magento-engcom-team commented on #12915
Have you configured "Script cron" correctly?

[2017-12-29 11:19] hemendraajmera commented on #12915
yes and it working

[2017-12-29 11:33] magento-engcom-team commented on #12915
Please try to install a clear instance of Magento ver. 2.2.1 CE and then try to execute that update.
Thank you.

[2017-12-29 11:50] magento-engcom-team commented on #12919
thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version
 - [x] Steps to reproduc

[2017-12-29 12:17] The0h commented on #12185
Same issue for me using Magento 2.2.2.
Problem occurs on iPhone 5s/6/6s/7 and on iPad mini.

Any solutions yet?

[2017-12-29 12:18] p-bystritsky commented on #9988
The problem is caused by splitting request "16-07" into two "16" and "07", because "-" symbol is prohibited in search query (in Magento\Framework\Search\Adapter\Mysql\Query\Builder\Match class). So we had two too short queries.

[2017-12-29 12:43] magento-engcom-team commented on #12882
@hemendraajmera We were not able to reproduce this issue in latest release 2.1.x and 2.2.x. We assume that the issue is fixed.

[2017-12-29 13:07] fooman opened #12921 "Temando Shipping assumes no other ExtensionAttribute users"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1. Create an extension that sets an extension attribute on Magento\Quote\Api\Data\AddressInterface during the quote totals collection process
2. Create new order via the admin
3. Click Add Products
4. Select a product, set quantity to 1 and click Add Selected Products to Order

### Expected result

1. Products are added

### Actual resul

[2017-12-29 13:08] adrian-martinez-interactiv4 commented on #9969
For anyone interested: https://github.com/magento/magento2/pull/12668#issuecomment-354443814

[2017-12-29 13:11] zack6849 commented on #12908
Seems to be related to version 2.4.1 of the Dotmailer extension.

Issue created at https://github.com/dotmailer/dotmailer-magento2-extension/issues/494

You guys may want to confirm this issue doesn't happen on 2.2.x, since from what I understand the dotmailer extension is now bundled with magento?

[2017-12-29 13:30] magento-engcom-team commented on #12864
@craft-tyler, thank you for your report.
We've created internal ticket(s) MAGETWO-86178 to track progress on the issue.

[2017-12-29 13:30] magento-engcom-team commented on #12891
@Triloworld, thank you for your report.
The issue is already fixed in 2.2.2

[2017-12-29 13:30] #12891 closed, assigned to nobody

[2017-12-29 13:40] tony-sar commented on #10588
@magento-engcom-team
This issue seems to still exist in Magento 2.2.2 CE .
Are there any plans on fixing this bug on a new Update ?

[2017-12-29 13:46] p-bystritsky commented on #10101
This issue is already fixed in 2.2-develop.

[2017-12-29 13:46] #10101 closed, assigned to p-bystritsky

[2017-12-29 13:57] CRYX2 commented on #12399
Same problem in M2.2.2 with italian localization... it's a very annoying issue because we need to launch our website asap and this issue is currently blocking it!

[2017-12-29 14:07] magento-engcom-team commented on #12911
@thebreakfastcowboy , thank you for your report.
We are not able to reproduce this problem by the steps which you provided.
Please, provide more additional information and screenshots.
Here what we got, trying to reproduce this problem.
You can see that city and address placed on different lines.

![front](https://user-images.githubusercontent.com/31669971/34438750-a37c2074-ecb1-11e7-8d58-be2ab780

[2017-12-29 14:20] magento-engcom-team commented on #12913
thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version
 - [x] Steps to reproduc

[2017-12-29 14:20] duffner commented on #12914
AdditIonal note: This same issue also affects bundle product options.  If you add a simple product that allows decimal inventory to a bundle product’s bundle options the same “please enter a valid number in this field” error appears.

[2017-12-29 14:27] cmuench commented on #12655
I have this issue also if a payment failed after the customer returns to the cart page.

[2017-12-29 14:40] p-bystritsky commented on #9522
I think it's valid behavior. First two digits are treated as month, next as day, other as year.

[2017-12-29 14:51] magento-engcom-team commented on #12899
@iproger, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-12-29 14:58] sanket-adhvaryu commented on #3899
I guess it is a bug.
We are using FedEx for as shipping method and it is allowing Magento admin to create the shipping label.
Shipping Calculation is working fine at frontend, submitting shipment does work well but shipping label not.

[2017-12-29 15:03] Tonvdpol commented on #12081
I think I have a workaround.

Create the directory:

Copy cart.phtml to this directory from:

Add this code anywhere in cart.phtml:
`$dummy = __('Item in Cart');`

Now regenerate the static files.

Side note: any phtml will do. Apparently Magento 2 scans all phtml files for __('...') and adds these to js-translation.json

[2017-12-29 15:27] hostep commented on #12828
Running into the same issue over here after upgrading to version 2.2.2. Disabling [uBlock Origin](https://github.com/gorhill/uBlock) fixes the problem, yet that's not the correct solution.

@magento-engcom-team: if a user chooses to install an ad/tracking blocker in his/her browser to avoid being tracked by a million different services and wants to make a website load faster because of not loading

[2017-12-29 15:42] mombrea commented on #12655
I have this issue after upgrading to 2.2.2 as well. Only happens for logged in users. Creating a new user account works for a time and then starts failing.

With PHP errors on the last output is:

[code]

[2017-12-29 15:46] magento-engcom-team commented on #12779
@sudaifhaider, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-29 15:46] #12779 closed, assigned to nobody

[2017-12-29 16:07] seyuf commented on #11280
I'm having the same issue after adding a new custom column to the *sales_order_grid*.
*sales_order* status is not propagated to the grid.

This issue should be reopened @magento-engcom-team.
I'm currently working under magento2.1.9.
You can reproduce this issue by creating a module with:

***/Module/Vendor/etc/adminhtml/di.xml***
[code]

and in ***/Module/Vendor/view/adminhtml/ui_component/sales_o

[2017-12-29 16:27] popovdenis opened #12923 "Checkout - Payment - Wrong promo code cancelled"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1. Apply promo code successfully
2. Enter another code
3. Click on "Cancel promo code"

### Expected result

1. Error message that promo code doesn't exist should be displayed.

### Actual result

1. Promo code removed

[2017-12-29 16:39] hostep commented on #10673
Can confirm this issue is fixed in version 2.2.2, closing.

Thanks @wert2all!

[2017-12-29 16:39] #10673 closed, assigned to nobody

[2017-12-29 19:30] thebreakfastcowboy commented on #12911
Hmm, thanks for looking into this.

Here's the order information (incomplete for privacy concerns):

![screen shot 2017-12-29 at 2 28 04 pm](https://user-images.githubusercontent.com/16323972/34445865-9cccb1a6-eca4-11e7-8dfc-bf34c6849e21.png)

And here's it on the invoice:

![screen shot 2017-12-29 at 2 27 02 pm](https://user-images.githubusercontent.com/16323972/34445874-a9f612c8-eca4-11e7-877d-1

[2017-12-29 19:31] shubham03mathur opened #12924 "Layered Navigation is not working with multiselect and Filterable (with results)"
Layered Navigation is not showing when selecting multi-select attribute for product
Preconditions
   1. Magento 2.2.0

Steps to reproduce
I have added Multi-select Attribute with settings Filterable (with results)
Let's say there are three options defined option 1 and option 2 and option 3
    -> Product 1 with option 1
    -> Product 2 with option 1 and option 2 selected
Now Magento shows only op

[2017-12-29 19:40] FernandVdd opened #12925 "We are blocked from our Webbuilder EVATO"
### Preconditions
Magento 2.1.10 // We pay to be a GITHUB member... // Please read this. Thank you in advance. // We don't find solution...

We've ordered, with EVATO (Bornem) in Belgium, on the 22nd of June 2016, a new website to synchronize online our products, clients, offers, orders and invoices in our ERP system.

After more than 1000 e-mails further (about the problems in Magento2 --> becaus

[2017-12-29 19:43] iproger commented on #12899
@magento-engcom-team Hello. Ok, currently I know about NULL and like, thanks. I just want to search in first **OR** second field. If I try to use `like` for empty (NULL) field, I have empty result.

### Example 1:
| Customer 1 | |
| --- | --- |
| company | |
| company_name | Test |

`GET` customers where company like test OR company_name like test
#### Result => customer1.

### Example 2:
| Custom

[2017-12-29 19:59] nomuprive opened #12926 "Composer Install Outputing"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-12-29 20:05] williambize commented on #12926
Hi.

When I run the command, "composer install" I get the error that my PHP verion 5.6.32 does not meet Zend framework requirements. However, I'm not running PHP version 5.6.32  I'm running PHP 7.1. I also tried running PHP version 7 but still it keeps giving the same error. Please check screenshot here: http://prntscr.com/htxnm1

Thanks!

[2017-12-29 20:38] FerihumF opened #12927 "Catalog Product List Widget throws SQLException when condition(s) specified"
### Preconditions

1. Magento 2.1.11

### Steps to reproduce

1. Add a "Catalog Products List" Widget on a CMS page with standard settings
2. Specify a condition for this widget, e.g. "Visibility Is Catalog,Search". Basically anything I tried turned out to be an error.
3. Save the page, clear cache and try to load the cms page

### Expected result

1. CMS page displays

### Actual result

1. Magen

[2017-12-29 23:14] spinxdigital commented on #10158
Hi @magento-engcom-team

Any update on fixing this issue?

[2017-12-29 23:48] thaddeusmt commented on #11825
Are we sure this is fixed in 2.2.2? I am seeing this exact same bug. If you go through the login form, the form_key changes and when `module-wishlist/Controller/Index/Add.php::execute()` runs it fails at the `$this->formKeyValidator->validate($this->getRequest())` line, just as described.

[2017-12-30 00:57] katedonald opened #12932 "error on every page"
on every page there is an error that is irrelevant

it says it has been fixed but it hasnt

### Preconditions

1. ver 2.1.9
2. using on chrome

### Steps to reproduce

1. just click through the website
2.
3.

### Expected result

1. there shouldn''t be an error

### Actual result

1. [Screenshot, logs]
attention: there has been an error

[2017-12-30 11:14] avoelkl commented on #12932
Hi @katedonald, there is no specific error message or screenshot posted in your issue so that we are able to understand/reproduce what's going wrong. Please update the issue with some more specific information.

[2017-12-30 11:18] avoelkl commented on #12926
Hi @williambize,
what is the output of `php -v` when you run it on the command line?
It is also possible that you run a different PHP version for CLI and via webserver. Please check your configuration settings. Compare the output of `php -v` with a phpinfo() ran via browser. If the version differs and you are running this on the server of a hosting provider, contact them for more information.
If i

[2017-12-30 12:39] SatishDubariya commented on #1587
This does not work if i will use search  result page layout 1 column. Is it possible to have layered navigation while using 1 column in search page.

[2017-12-30 14:29] ashish-birlasoft commented on #10498
I'm facing exactly same issue.
Upgrade grom magento 2.1.0 to 2.1.10

[2017-12-30 15:00] dmitry-fedyuk commented on #12273
I have successfully adapted **Magento 2** to **PHP 7.2**: https://mage2.pro/t/5215

[2017-12-30 15:05] dmitry-fedyuk commented on #12603
I have successfully adapted **Magento 2** to **PHP 7.2**: https://mage2.pro/t/5215
Particularly, the `SessionManager` fix is here: [[PHP 7.2] My fix for «Warning: **ini_set(): A session is active. You cannot change the session module's ini settings at this time** in `lib/internal/Magento/Framework/Session/SessionManager.php` on line 129»](https://mage2.pro/t/topic/5232).

[2017-12-30 16:15] coexksa opened #12933 "Store code issue with magento 2.2.2"
I've issue with store code URL, Although i changed option "Add Store Code to Urls" = yes but still getting store code pulse " ?___from_store" when i switch between 2 stores. kindly your support.

https://coexksa.com/en/?___from_store=ar
https://coexksa.com/ar/?___from_store=en

[2017-12-30 17:42] Mohd-Salman opened #12934 "Error occurs while saving already saved category in magento 2.2.1"
I have installed a fresh magento 2.2.1 after that i have migrated data from magento version 1.7 to magento 2.2.1 using data migration tool.   After migration when i save category which already migrated it shows some error.
"A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later. "
Please provide me a proper solotion

[2017-12-30 19:50] williambize commented on #12926
@avoelkl  thanks for the support!

From what I'm seeing, and I just checked my server WHM/cPanel settings and can confirm that PHP 7.1 is selected. And when I ran the command, "php -v" via SSH it showing that my php version is 7.1.12. Then when I ran the command, "composer install" again it gives the same error and showing my php version is 5.6. Please check screenshot here: http://prntscr.com/hua

[2017-12-30 21:51] rishabhchd19 commented on #10941
There's still a problem. Layered navigation SHOP BY not at correct position.

[2017-12-31 01:36] likemusic commented on #5946
Issue with 302 redirect like in https://github.com/magento/magento2/issues/5946#issuecomment-331776723 still happens in v2.2.2. Change domain from top-level to second-level fixes it (in my case from `mg2cc` to `mg2cc.loc`).

[2017-12-31 01:55] likemusic commented on #2439
Related to top-level domain issue https://github.com/magento/magento2/issues/5946

[2017-12-31 03:13] fooman commented on #12912
Check your composer.json file. It might include an entry for composer/composer in the require section. Try removing it before running the update command.

Feel free to re-open posting your current composer.json file before running the update command.

[2017-12-31 03:13] #12912 closed, assigned to nobody

[2017-12-31 03:15] fooman commented on #12926
composer install will install what is currently locked in the composer.lock file. It seems the composer.lock file was created on php 5.6. Please delete the composer.lock file and rerun the composer install command.

[2017-12-31 03:15] #12926 closed, assigned to nobody

[2017-12-31 07:31] vasilii-b commented on #12914
Hi!
@duffner , I'm on my way of fixing this.

During issue solving I also found that after saving the product with _Qty Decimals_ enabled, _Qty Increments_ and _Tier Price Quantity_ are integer numbers. This will be fixed as well.

Cheers!

[2017-12-31 09:44] coexksa commented on #12933
Dear Gents ,
Kindly update

[2017-12-31 14:08] nobodypb commented on #12097
@ferrazzuk deleting the config with the websites scope was never intended as a "fix" just to give a hint for tracking down the issue, like @jzahedieh finally did. Sorry for not making that clear. In my case I was able to workaround, because I could safely delete those entries. Therefore I had no reason for going further into it.

[2017-12-31 14:13] ashvinimarwal commented on #12811
@magento-engcom-team  waiting for your response.

[2017-12-31 15:37] swleighton commented on #12830
I fixed this by changing the "Type" field in the theme table for my theme back from 1 to 0.

[2017-12-31 15:37] #12830 closed, assigned to nobody

[2017-12-31 16:06] duffner commented on #12914
@vasilii-b, awesome!  I appreciate your quick response! 👍

[2017-12-31 17:19] williambize commented on #12926
@fooman Thanks for the help.

What is the right command line to remove the "composer.lock" file? I have tried using "composer remove composer.lock" but it's giving error.

Thanks!

[2017-12-31 17:51] southerncomputer commented on #12925
Yes seen a lot of folks dipping their feet into M2 when they thought they were proficient in M1 - that fails.

Not sure why because M2 is not much different than M1 really!

[2017-12-31 17:56] 911gt3rs commented on #12174
I had the same problem, it came from CRON that was executed in ROOT rather than user !

![screenshot-2017-12-31 planifier une tache - plesk onyx 17 5 3](https://user-images.githubusercontent.com/33813714/34463399-f3a5eeae-ee5a-11e7-82a1-2abe48fed5bf.png)

If you use Plesk, to configure as a user you have to go here:

![screenshot-2017-12-31 sites web domaines - plesk onyx 17 5 3 1](https://user-im

[2018-01-01 11:03] bobemoe commented on #5705
Should this be fixed in CE 2.1.11?

I am still seeing the issue, even with the https://github.com/Talv/magento2-wysiwyg-fix which I can confirm is adding the "add_directives" line to the config. No idea why the fix isn't working!?

[2018-01-01 15:21] Vikram0811 commented on #5703
Correct. How could I resolve this issue ?

[2018-01-01 23:17] 4DallasC opened #12938 "Major Date Formatting Cockup"
When Mangento converts dates from the standard MySQL database format (YYYY-MM-DD) to the display format (MM/DD/YYYY) and the dates are at the end of the year, it add 1 year to the date. This gets progressively worse each year, ie 2017-12-31, 2018-12-30 & 2018-12-31, etc/

### Preconditions

None

### Steps to reproduce

$input = '2018-12-31';
$date = new \DateTime($input, new \DateTimeZone('Austra

[2018-01-02 02:05] thaddeusmt opened #12939 "CatalogSearch category sort order not taking effect in 2.2.2 due to Fulltext Collection adding entity_id order first"
### Preconditions

1. Magento 2.2.2
2. Using Category with Layered Navigation

### Steps to reproduce

1. Try to change sort order with Category grid Toolbar to something like "name"
2. "product_list_order=name" appears in URL

### Expected result

1. Sort order should change

### Actual result

1. Sort order does not change

I've tracked it down to here:
`vendor/magento/module-catalog-search/Mode

[2018-01-02 05:41] vkmunjpara commented on #2991
@okorshenko , @magento-team

I need to apply the solution in magento 2.1.3 version.

Could you please give me just the name of files which can resolve this issue from 2.2.2 version ?

Thanks in advance..

[2018-01-02 06:07] shozibrasool opened #12940 "Multiple Products in one Cart magento 2.1.10 REST Api"
### Preconditions
1. I am using magento 2.1.10
2. I am trying to place an order with multiple products in one cart

### Steps to reproduce
1. i am sending POST request and its not working, i am hitting url "www.sample.com/index.php/rest/V1/guest-carts/c62700b7e525b82c0e96607e11ec0942/items"
2. i am send multiple products in body of post request
{ "cartItem": [
  { "quote_id": "c62700b7e525b82c0e96

[2018-01-02 06:18] taylorhgmailcom commented on #10684
iI know this is a but I just manually corrected this issue in the database.  Here's what worked for me.
1) In your db admin, truck on down to the eav_attribute table. To get the numeric id of the Dynamic Pricing attribute run this sql:
SELECT * FROM eav_attribute WHERE frontend_label = 'Dynamic Price';
*mine was 124, and that's what you'll see below

2) Now that we have our attribute_id let's quer

[2018-01-02 06:51] pradeep-wagento commented on #3483
Hi @magento-engcom-team, @okorshenko
I investigated this issue and working on fix for it.
Please assign to me.
Thanks!

[2018-01-02 06:53] pradeep-wagento commented on #12430
Hi @magento-engcom-team, @okorshenko
I investigated this issue and have a fix for it.
Please assign to me.
Thanks!

[2018-01-02 07:10] magento-engcom-team commented on #12934
Hi @Mohd-Salman  For migration-related issues please use the correct repository: https://github.com/magento/data-migration-tool

Thank you.

[2018-01-02 07:10] #12934 closed, assigned to nobody

[2018-01-02 09:13] sanjay-wagento commented on #12601
Hi @magento-engcom-team, @okorshenko
I investigated this issue and working on it.
Please assign to me.
Thanks!

[2018-01-02 09:15] magento-engcom-team commented on #12932
@katedonald, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-01-02 09:15] #12932 closed, assigned to nobody

[2018-01-02 09:21] kanduvisla opened #12941 "Google Analytics code is not conform the new gtag.js method."
The current way on how Google Analytics is implemented is by using the `i,s,o,g,r,a,m` / `analytics.js`-method. But the new implementation of Google Analytics now wants you to use the `gtag.js`-way of including GA:

[code]

### Preconditions

Checked in latest develop branch of Magento 2.2

### Steps to reproduce

Enable GA.

### Expected result

Embed GA using `gtag.js`

### Actual result

It's e

[2018-01-02 09:26] shozibrasool commented on #12940
@magento-engcom-team... is there any help for me?

[2018-01-02 09:43] magento-engcom-team commented on #12941
@kanduvisla Thank you for your report. Seems like it's a feature request based on that https://support.google.com/analytics/answer/7538414#analyticsjs. The Magento 2 GitHub repository is used to capture code and documentation issues. We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements sho

[2018-01-02 09:43] #12941 closed, assigned to nobody

[2018-01-02 09:48] magento-engcom-team commented on #12911
@thebreakfastcowboy Thanks for clarifying. We tried with a clean instance of Magento using the blank theme, and we were not able to reproduce the issue. Please try to reproduce it on the clean instance of Magento without 3'rd party extensions. Thank you.

[2018-01-02 09:49] wardcapp commented on #7441
In case others using Magento 2.1.x would bump into this, here's a patch-file including the solution developed by @jagdishram:
[0001-Patch-config-product-attribute-sort-order.patch.zip](https://github.com/magento/magento2/files/1597160/0001-Patch-config-product-attribute-sort-order.patch.zip)
The patch (tested on a Magento 2.1.5 installation), after extracting it, can be applied easily using the co

[2018-01-02 09:52] kanduvisla commented on #12941
@magento-engcom-team : I'd like to argue if this is a feature request or not. The implementation method of GA has changed an the Magento codebase is not reflecting this. It's not like I'm asking for a new feature. I'm simply saying that the current implementation is no longer the correct way and it will be deprecated in the future (like with the legacy `ga.js`-code).

[2018-01-02 10:41] ajaykrshukla commented on #5985
Greats its working good @lxgiang90

[2018-01-02 11:16] magento-engcom-team commented on #12923
@popovdenis, thank you for your report.
We've created internal ticket(s) MAGETWO-86224 to track progress on the issue.

[2018-01-02 11:22] magento-engcom-team commented on #12911
@thebreakfastcowboy, thank you for your report.
The issue is already fixed in 2.2.2

[2018-01-02 11:22] #12911 closed, assigned to nobody

[2018-01-02 11:24] osrecio commented on #11825
Hi @thaddeusmt I tested with branch `2.2-develop` and `2.2.2` with sample data and works fine.

Steps:
1) With guest user add to wishlist from list or Product Page (Redirected to login form)
2) Fill login form with user info (email and password) (Redirected to wishlist)
3) My product added like a guest user is showed after make login.

[2018-01-02 11:27] p-bystritsky commented on #11963
Thank you, @klimart. Fix you provided works fine with 2.2-develop branch.

[2018-01-02 11:30] magento-engcom-team commented on #12927
@FerihumF, thank you for your report.
The issue is already fixed in 2.2.2

[2018-01-02 11:30] #12927 closed, assigned to nobody

[2018-01-02 12:10] JonnyStecchino commented on #12655
I am having the same issue.
Magento 2.2.2 upgraded from 2.1.10

[2018-01-02 12:51] sivajik34 opened #12942 "Every time creating as separate customer in braintree"
I created a customer in the front end.Now i have placed an order with credit card.
In braintree account its creating a customer.
Now with same magento cutomer i placed one more order with different credit card.
In braintree account its creating as separate new customer with same details.

### Preconditions

1. magento 2.2.2
2.

### Steps to reproduce

1. create a customer in the front end & place

[2018-01-02 12:59] ihor-sviziev commented on #12860
I checked, added 5ts step.

[2018-01-02 13:08] tony-sar commented on #12866
Select Disable and also select Industry data and click on save it should save . I think vertical message relate to the industry data

[2018-01-02 13:08] VladimirZaets commented on #12555
@EliasZ Hi, the fix for this issue will be delivered to Magento 2.3 version. You can look the commit with a fix in PR https://github.com/magento/magento2/pull/12943.

[2018-01-02 13:09] irfanMukhtar commented on #11963
Thanks a lot @Klimart. I have implemented you patch in my magento 2.2 and it is working fine. Now language is switching on catalog and product page. Great work 👍

[2018-01-02 13:14] RomaKis commented on #12856
Working on this.

[2018-01-02 13:24] magento-engcom-team commented on #12933
@coexksa, thank you for your report.
We've created internal ticket(s) MAGETWO-86234 to track progress on the issue.

[2018-01-02 13:30] magento-engcom-team commented on #12869
@Floddy, thank you for your report.
We've created internal ticket(s) MAGETWO-86231 to track progress on the issue.

[2018-01-02 13:31] coexksa commented on #12933
@magento-engcom-team
Could  you provide me  solution In current version?

[2018-01-02 13:34] Coderimus commented on #5948
@dawhoo @Wernervanrun I think I have found the reason why this error appeared. Please, review this PR - https://github.com/magento/magento2/pull/12936

The main problem, from my point of view, was in the incorrect stock status filter appliance. It was successfully implemented previously in  `Magento\ConfigurableProduct\Model\Product\Type\Configurable::getSalableUsedProducts(\Magento\Catalog\Model\

[2018-01-02 13:39] mrkkd2013 opened #12944 "Warning: Invalid argument supplied for foreach() in C:\wamp64\www\maze2.2.2\vendor\magento\module-catalog-inventory\Helper\Minsaleqty.php on line 182"
## Clicking on product (Edit option) from ADMIN is throwing a -----

Warning: Invalid argument supplied for foreach() in C:\wamp64\www\maze2.2.2\vendor\magento\module-catalog-inventory\Helper\Minsaleqty.php on line 182

## Preconditions

1) Magento 2.2.1, PHP 7.1.9, MYSQL 5.7.19
2) Cleared/clean the CACHE and run the INDEXING also.
3) Logged to ADMIN section.

## Steps to reproduce

1) Go to ADMIN

[2018-01-02 13:46] magento-engcom-team commented on #12944
@mrkkd2013 Thanks for your report. We need more steps/information about your configuration to reproduce this issue. Please try to reproduce it on the clean instance of Magento (without any 3'd party modules), thank you.

[2018-01-02 13:52] ihor-sviziev commented on #12860
@magento-engcom-team I've updated steps to reproduce, also I prepared video where I reproduced this issue. Link to video: https://photos.app.goo.gl/tfRvSIcYYNN90jUB2 (it is still processing, please wait some time till it will be available in HD)

[2018-01-02 13:58] mrkkd2013 commented on #12944
@magento-engcom-team  Initially I got "Unable to unserialize value" on the browser then i referred to https://magento.stackexchange.com/questions/194010/magento-2-2-unable-to-unserialize-value and made changes in  /vendor/magento/framework/Serialize/Serializer/Json.php. Then I got the Warning: Invalid argument supplied for foreach() in C:\wamp64\www\maze2.2.2\vendor\magento\module-catalog-inventor

[2018-01-02 14:04] p-bystritsky commented on #11963
Can also confirm it works fine on 2.2-develop branch.

[2018-01-02 14:04] magento-engcom-team commented on #12939
@thaddeusmt thank you for your report,
Please answer us two questions:
How many attributes do you use for Layered Navigation?
Does your category contain any configurable product?

[2018-01-02 14:06] joni-jones commented on #12942
@sivajik34, this is expected behavior and not an issue. This is how Braintree Vault implemented in Magento. All Braintree customer accounts will be related to the same credit card.
![screenshot from 2018-01-02 16-04-11](https://user-images.githubusercontent.com/2736528/34486086-a9fd4662-efd6-11e7-86ab-847ab3768bc1.png)
![screenshot from 2018-01-02 16-04-26](https://user-images.githubusercontent.co

[2018-01-02 14:06] #12942 closed, assigned to nobody

[2018-01-02 14:16] davidverholen commented on #2991
@vkmunjpara there is a referenced pull request in this issue, it should be sufficient to apply the same change to 2.1: https://github.com/magento/magento2/pull/11458/files

[2018-01-02 14:27] davidverholen commented on #12854
@magento-engcom-team If I would be willing to provide a PR for this, how is this handled from here? I think it first has to be decided if it should be included and at least some acceptance criteria to be defined? Is this even the right place or should the conversation be moved to the forums? Just asking because some time ago I already created a module doing this for cash on delivery.

[2018-01-02 14:38] magento-engcom-team commented on #12916
@NagamaniNaresh , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-02 14:53] koenner01 commented on #9186
I can confirm this is still a problem in 2.2

We have an existing product with data on global.

When trying to update the product through api:
`{domain}/index.php/rest/{storecode}/V1/products/{sku}`

By sending data with PUT method:

[code]

The database gets polluted with values on storeview level (description, meta_description, status, visibility, ...) for this product even though we only change

[2018-01-02 15:16] magento-engcom-team commented on #12940
@shozibrasool  thank you for your report,
Please provide us the content of that log file (webapi-5a4b216497333).

[2018-01-02 15:18] magento-engcom-team commented on #12789
@pielbar , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-02 15:26] magento-engcom-team commented on #12908
@zack6849, thank you for your report.
We've created internal ticket(s) MAGETWO-86247 to track progress on the issue.

[2018-01-02 16:15] duffner commented on #12914
@vasilii-b, it also appears that your noted issue with integer vs decimal numbers affects the front-end in the same way, e.g. mini cart

[2018-01-02 16:19] mgeoffray commented on #8344
@RomaKis Hi,
how this can not be a bug? If I am not wrong in the issue you mentioned it is about missing `sortOrder` field not mandatory nodes like mine.

[2018-01-02 16:30] magento-engcom-team commented on #4426
@joebusby, thank you for your report.
The issue is already fixed in 2.3.0, 2.2.2

[2018-01-02 16:30] #4426 closed, assigned to nobody

[2018-01-02 16:49] RomaKis commented on #8344
@mgeoffray, Hi,
the problem is that these items
[code]
don't have `sortOrder` field filled. So you can't put your block where you want.

[2018-01-02 16:53] rnkings commented on #2121
I'm having the same issue in Magento 2.1.5 :/

[2018-01-02 16:54] mgeoffray commented on #8344
@RomaKis OK I understand what do you mean.

My issue is not that I can not put my block where I want, my issue is that I had to add these empty nodes that the nodes themselves can be in the right order.
My issue is a level above the `sortOrder` node attribute issue. This current issue is about the order of nodes "itemsBefore", "items" and "itemsAfter" and not the order of the elements inside them.

[2018-01-02 17:05] leahaense commented on #11542
I have the same issue with magento-2.2.2, I can't uncheck the `Use system value` checkboxes and when editing some value in other places and save the config, it just won't really change it, although I get the confirmation that it was saved.

[2018-01-02 17:11] LSERRE opened #12950 "Upgrade to 2.2.2: CMS Homepage 404"
### Preconditions
1. Magento 2.2.2

### Steps to reproduce
1. Configure a CMS Page as Default Page in configuration Panel with Magento 2.2.1
2. Upgrade to Magento 2.2.2
3. Go to Homepage

### Expected result
1.  Display CMS Homepage

### Actual result
1. 404 Error

I tried save stores/configurations/general/web/default pages values again.
The CMS page is now displayed as frontpage but it is not co

[2018-01-02 17:20] jzahedieh commented on #12866
![image](https://user-images.githubusercontent.com/2098908/34492460-93f09c8a-efdf-11e7-8ad3-b666b18fa054.png)

And even when you disable it the message shows in the dashboard, this is in really bad taste Magento, promoting 3rd party services on the homepage of the admin interface without being able to disable it!

All you need to do is add `ifconfig="analytics/general/enabled"` to `vendor/magento/

[2018-01-02 19:38] snoroozi commented on #9274
@magento-engcom-team Is this STILL unresolved?  I put m2 2.2.2 and am ready to migrate, and still can't work with my bundles...  Please advise

[2018-01-03 00:27] tidalgardens commented on #11696
Could you please post what you changed in AddDynamicStyles.php? I am having the exact same issue and TemplateMonster (despite claiming their theme works 100% with 2.2) is giving me the run around.

[2018-01-03 00:29] southerncomputer commented on #12273
I just commented out the php error thrown for warning for count( ) against nulls to restore php 7.1 functionality whilst not having to rewrite every friggen count($something) to is_countable($something) && count($something) all over the 2.1 codebase and extensions. Took about 7 comments from php 7.2 sourcecode. Since it is just a warning you could hack it to throw e_deprecated as well and disable

[2018-01-03 00:32] southerncomputer commented on #12603
if (!$this->isSessionExists()) {
        ini_set('session.use_only_cookies', '1');
                                        }
and

        foreach ($this->sessionConfig->getOptions() as $option => $value) {
if ($option=='session.save_handler') { continue; } else {
            $result = ini_set($option, $value); }

works for me!

@Alanaktion  if you need any help!
I've got magento 7.1.12 up on php-7

[2018-01-03 01:28] tony-sar commented on #6713
this issue still exist in Version 2.2.2

[2018-01-03 03:00] tobias-forkel commented on #10896
I confirm that changing the index " Product Categories " to " Indexing On Schedule " in 2.1.2 will fix the issue temporarily. Before the application was always waiting for this query.

 INNER JOIN `catalog_category_entity` AS `cc2` ON cc2.path LIKE CONCAT(`cc`.`path`, '/%') ON DUPLICATE KEY UPDATE `parent_id` = VALUES(`parent_id`), `child_id` = VALUES(`child_id`)

Hope it helps someone.

[2018-01-03 05:15] NagamaniNaresh commented on #12916
Thanks @magento-engcom-team. Sorry, It was due to the Third party module which i have used, so I am closing the issue.

[2018-01-03 05:15] #12916 closed, assigned to nobody

[2018-01-03 05:53] shozibrasool commented on #12940
@magento-engcom-team this the error in log file...
Message: Property "0" does not have corresponding setter in class "Magento\Quote\Api\Data\CartItemInterface". in /var/www/vhosts/example.pk/httpdocs/vendor/magento/framework/Webapi/ErrorProcessor.php

[2018-01-03 06:12] magento-engcom-team commented on #12925
@FernandVdd  thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account or If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-01-03 06:12] #12925 closed, assigned to nobody

[2018-01-03 06:24] yj4189 commented on #8933
Magento Version: 2.1.9|
Mode: Production
Indexing Mode: Update on save

Total Products: 18k
Total Customers: 54k
Total Orders: 18k

my client site is marketplace site so, on this site, there are lots of products, customers, and orders adding or updating.

But when I tried to reindexing all than after some time exception.log file generated including the following error in this file and server was s

[2018-01-03 06:26] #12823 closed, assigned to nobody

[2018-01-03 06:38] karangar opened #12966 "Magento 2.1.10 export product Category wise not working"
Magento 2.1.10 into Export functionality is not working filter by category_ids.
But in Magento 2.2.1 into works correctly.

### Preconditions

1. Magento 2.1.10 with sample data

### Steps to reproduce

1. Go to System -> Data Transfer -> Export
2. Select Entity Type = Products and Export File Format = CSV
3. Attribute Code "category_ids"  Filter By category id as "6"

### Expected result

1. Only

[2018-01-03 06:49] miteshdhaduk commented on #11284
I have the same issue on category page after the migration process.

[2018-01-03 08:50] deadlyw1re commented on #10469
Having same issue, after resaving product they show again

[2018-01-03 08:54] dmanners commented on #12904
This has been fixed in 2.3-develop with the pull request https://github.com/magento/magento2/pull/12376

[2018-01-03 08:58] dmanners commented on #12429
I think this has been fixed in the 2.2-develop branch with the PR https://github.com/magento/magento2/pull/11926

[2018-01-03 09:16] dmanners commented on #8080
This issue has been solved by https://github.com/magento/magento2/pull/8082 in the 2.2-develop branch.

[2018-01-03 09:16] #8080 closed, assigned to nobody

[2018-01-03 09:27] magento-engcom-team commented on #12950
@LSERRE thank you for your report. Unfortunately, we weren't able to reproduce the issue. It works fine for us. The steps we used:

1. Create a CMS page (Content->Pages->Add new Page)
2. Then set up this page as a home page (Stores->Configuration->General->Web->Default Pages ->CMS Home Page->Choose the page that you created earlier)
3. Upgrade your Magento to 2.2.2 (we used composer for that)
4. R

[2018-01-03 09:35] linden2015 opened #12967 "Undeclared dependency magento/zendframework1 by magento/framework"
### Preconditions

1. Magento 2.1.10 OR Magento 2.2.2

### Steps to reproduce

1. Go to `vendor/magento/framework/DB/Adapter/Pdo/Mysql.php` line 3026
2. Note that `\Zend_Db_Select` is used
3. Note that `magento/zendframework1` contains that class
4. Go to `vendor/magento/framework/composer.json`
5. Note that `magento/zendframework1` isn't declared

### Expected result

1. `vendor/magento/framework

[2018-01-03 09:36] torhoehn commented on #12081
@magento-engcom-team Is there any progress on MAGETWO-83448?

[2018-01-03 09:42] Bobstar040 commented on #12509
Hi Is there already a fix for this issue?

[2018-01-03 09:49] magento-engcom-team commented on #12944
@mrkkd2013 Based on the information you provided seems like it's a 3'rd party code problem and not Magento. This GitHub repository is used to capture code and documentation issues. Please refer to the [Community Forums](https://community.magento.com)

[2018-01-03 09:49] #12944 closed, assigned to nobody

[2018-01-03 10:07] magento-engcom-team commented on #12899
@iproger
Please provide us the steps on how you created your attribute "company_name" in table "customer entity".

[2018-01-03 10:27] korostii commented on #5885
@magento-engcom-team

You're saying it's only `fixed in 2.2.0`, while at the same time issue gets moved from `TODO` to `Done` in branch `[2.1-develop]`. Seems quite confusing.

Please clarify the status of this issue and the related internal ticket MAGETWO-57153.
Also, which 2.1.x version is expected to have this issue fixed, exactly?

[2018-01-03 10:41] gemscng commented on #5885
@vkmunjpara sorry that i have miss your message. You may check my forked repo and cherrypick those related to MAGETWO-57153. Just search MAGETWO-57153.  Since i am using 2.1.5 so i am not sure if it can be applied to your version.

However, i strongly suggest you upgrade your project to 2.1.5 since most of our project has been upgrade from 2.1.2 to 2.1.5.

[2018-01-03 10:49] matthiashama commented on #12876
Hello,
We have a similar issue with the newsletter.
When the customer wants a new password (Forgot Your Password?) and when he changes his password after clicking the link in the reset E-Mail, he must confirm the newsletter another time. The confirmed newsletter subscriptions were unsubscripted.
A workaround for this is to deactivate the function "Need to Confirm".

[2018-01-03 11:35] MackieeE commented on #8214
Will this ever be applied to Magento 2.1.* branch?

[2018-01-03 11:36] boldhedgehog opened #12969 "processor.php getHostUrl() does not detect the server port correctly"
When Magento runs using the sandwich hosting set up (nginx-Varnish-nginx), and the backend nginx run on a not standard port (80 nor 443), the base URL is detected wrong in pub/errors/processor.hp

### Preconditions
1. Magento 2.1.7
2. nginx as the SSL offloader on 80, 443 ports
3. Varnish used for FPC
4. nginx as the backend for Varnish listening to not standard port (for example 8081)
5. PHP-FPM

[2018-01-03 11:40] serhii-balko commented on #12876
Hi @matthiashama
My pull request may be fix it.

[2018-01-03 11:45] magento-team commented on #5306
Hi @hgpit. Thank you for your report.
The issue has been fixed in magento/magento2#12872 by @PieterCappelle in 2.3-develop branch
Related commit(s):
 - 8cdf04390e43184aef85a26855c40a9c0a33309e
 - 53292d37074044e644eacdef9adfa79df5199662

The fix will be available with the upcoming patch release.

[2018-01-03 11:45] magento-team commented on #12455
Hi @EliasZ. Thank you for your report.
The issue has been fixed in magento/magento2#12872 by @PieterCappelle in 2.3-develop branch
Related commit(s):
 - 8cdf04390e43184aef85a26855c40a9c0a33309e
 - 53292d37074044e644eacdef9adfa79df5199662

The fix will be available with the upcoming patch release.

[2018-01-03 11:45] magento-team commented on #12533
Hi @dromoded. Thank you for your report.
The issue has been fixed in magento/magento2#12872 by @PieterCappelle in 2.3-develop branch
Related commit(s):
 - 8cdf04390e43184aef85a26855c40a9c0a33309e
 - 53292d37074044e644eacdef9adfa79df5199662

The fix will be available with the upcoming patch release.

[2018-01-03 11:52] ihor-sviziev commented on #12967
@linden2015 could you create PR that adds missing dependency? It will be merged much faster than someone else will fix it.

Example of adding missing dependency to framework: https://github.com/magento/magento2/pull/12768/files

[2018-01-03 12:01] p-bystritsky commented on #12933
@coexksa, thank you for report, but this is not a bug. Magento needs this param to get correct rewrites.

[2018-01-03 12:01] #12933 closed, assigned to nobody

[2018-01-03 12:04] matthiashama commented on #12876
Hi @serhii-balko
Are you still work on it? Or where do I find your pull request?

[2018-01-03 12:04] coexksa commented on #12933
I didn’t get what you mean. If it’s not bug so what is it ?

[2018-01-03 12:06] serhii-balko commented on #12876
https://github.com/magento-engcom/magento2ce/pull/1139

[2018-01-03 12:07] coexksa commented on #12933
@p-bystritsky I didn’t get what you said. If it’s not a bug so what is it ?

[2018-01-03 12:12] RomaKis commented on #8344
Ok, now I understand.
I tried to reproduce on my local environment, but seems like on the latest 2.2-develop branch it works fine.

[2018-01-03 12:13] p-bystritsky commented on #12933
@coexksa this is a correct logic. You can find use of this param [here](https://github.com/magento/magento2/blob/a39e37f1e50bbbd6acffe363b28b2eb289e5b80a/app/code/Magento/UrlRewrite/Controller/Router.php#L82)

[2018-01-03 12:17] torhoehn commented on #12876
@serhii-balko You created a pull request to a private repository. You should create your pull request for this public repository and inside of your PR you should mention this issue. So it'll be linked automatically.

[2018-01-03 12:18] kvydiuk opened #12970 "Can't add grouped product, with out of stock sub product, to cart"
When "Stores -> Configuration -> Catalog -> Inventory -> Options -> Display Out of Stock Products" config enabled.
Can't add grouped product, which haves out of stock sub product, to cart.

### Preconditions

1. Magento 2.1.8 CE/EE
2. nginx/1.10.3
3. Ver 15.1 Distrib 10.0.31-MariaDB
4. PHP 7.0.22-0ubuntu0.16.04.1

### Steps to reproduce

1. Create grouped product with one out of stock sub product

[2018-01-03 12:30] magento-engcom-team commented on #12966
@karangar, thank you for your report.
The issue is already fixed in 2.2.2

[2018-01-03 12:30] #12966 closed, assigned to nobody

[2018-01-03 12:31] dmanners commented on #12908
@zack6849 are you able to use xdebug to see what is calling `getMethodInstance` with the Braintree payment option? https://github.com/magento/magento2/blob/2.1-develop/app/code/Magento/Payment/Helper/Data.php#L101 It would help out massively to know the entry point into this call.

Thanks

[2018-01-03 12:32] RomaKis commented on #7849
Working on this.

[2018-01-03 12:38] serhii-balko commented on #12322
Hi @alexvandervegt
I don't understand, why do you think that the replace like `str_replace(']]>', ']]]]><![CDATA[>', $content)` solve the issue?

[2018-01-03 12:46] magento-engcom-team commented on #12860
@ihor-sviziev, thank you for your report.
We've created internal ticket(s) MAGETWO-86296 to track progress on the issue.

[2018-01-03 12:49] ihor-sviziev commented on #12860
@magento-engcom-team I had this issue on 2.1.9. Weren't you able to reproduce it on 2.1.x?

[2018-01-03 12:49] aathil-ali opened #12971 "Cannot add Multiple buttons in admin grid in Magento version2.1.9"
### Preconditions

Error happends  when creating multiple buttons in admin grid
1.Magento version 2.1.9 ,PHP 7.02

### Steps to reproduce
    <argument name="data" xsi:type="array">
        <item name="js_config" xsi:type="array">
            <item name="provider" xsi:type="string">sales_order_grid.sales_order_grid_data_source</item>
            <item name="deps" xsi:type="string">sales_order_grid

[2018-01-03 13:00] OnTapKristjan commented on #6754
Thanks for the patch @hostep , seems to fix the problem for us as well.
Just for the record - same issue also reported on #10591

Just in case, I've attached a version of the patch for composer based installations (tests not included)
[MAGETWO-58174-for-Magento-2.1.9.patch.txt](https://github.com/magento/magento2/files/1600374/MAGETWO-58174-for-Magento-2.1.9.patch.txt)

[2018-01-03 13:01] garyhiggins1970 commented on #10594
I had the same problem and my issue was also caused by PHP's session.gc_maxlifetime setting.
I upped it to 7 days and i no longer get time out of the admin side.

[2018-01-03 13:11] dmanners commented on #12971
I do not think this is a bug but actually a miss-configuration of your code. Buttons is an array so the code should look as follows.

[code]

[2018-01-03 13:31] p-bystritsky commented on #8718
Fixed in 2.2-develop branch.

[2018-01-03 13:31] #8718 closed, assigned to p-bystritsky

[2018-01-03 13:35] lalit-algoworks commented on #11825
I am facing issue with magento 2.2.2 wishlist. Item are not added in wishlist if user logged out.
Here are the steps with sample data
Steps to reproduce.
1. Click on item when user is not logged in
![image](https://user-images.githubusercontent.com/4578739/34522326-164846aa-f0b8-11e7-8e80-ac1882fa79c5.png)
2. It redirect to login screen.
![image](https://user-images.githubusercontent.com/4578739/3

[2018-01-03 13:39] RakeshJesadiya opened #12972 "Estimate Shipping and Tax with Country dropdown option not auto selected current country of store."
Magento Version 2.2.2 with sample data installed.

I have magento 2.2.2 Instance with Multiple Store and Store view with each store view has own default country from

Second store with Default country is US and its default Store.

Now in front end when i visit Default store(US) and add product to cart, Redirect to cart page and check Estimated Shipping and Tax section from summary block show defau

[2018-01-03 13:54] LSERRE commented on #12950
Thanks for your test. Well maybe this is because I created the Homepage with and older version then. But I still have the issue and some others has it too (see my link).

[2018-01-03 14:01] EliasZ commented on #12455
@PieterCappelle Did you verify this works with URLs sending a header detailing the filename? `parse_url` doesn't seem to check that.

[2018-01-03 14:19] RomaKis commented on #7848
@quienti, hi, this code can't be deleted as it will be [backward incompatible changes.](http://devdocs.magento.com/guides/v2.2/contributor-guide/backward-compatible-development/index.html)

[2018-01-03 14:26] p-bystritsky commented on #9349
Issue already fixed in 2.2-develop branch.

[2018-01-03 14:26] #9349 closed, assigned to p-bystritsky

[2018-01-03 14:42] magento-engcom-team commented on #12972
@RakeshJesadiya Thanks for your report. Seems like it's a normal behavior, please check out [this answer](https://magento.stackexchange.com/a/124350) we hope it will help you solve the problem. The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site

[2018-01-03 14:42] #12972 closed, assigned to nobody

[2018-01-03 14:45] magento-team commented on #12844
Hi @schmengler. Thank you for your report.
The issue has been fixed in magento/magento2#12845 by @schmengler in 2.2-develop branch
Related commit(s):
 - 50ffc6ac185ac8c9e6f95f0e60ec7a3d510e743b

The fix will be available with the upcoming patch release.

[2018-01-03 14:45] #12844 closed, assigned to nobody

[2018-01-03 14:45] magento-team commented on #11885
Hi @Silarn. Thank you for your report.
The issue has been fixed in magento/magento2#12401 by @therool in 2.2-develop branch
Related commit(s):
 - ba0472f27f53a51ba532ec33fb017663902f34ab
 - 48923e1c95a235b490d3a119139bb762e947c68f
 - 774cb4c67ece33041901035602aa62c180ae76b1
 - 12145bca8cc87f5072cd5fcbcbd85493c012af4d
 - 7bdb92156a3ea588196d7bdc8b9899b894092b7c
 - 70f5e3860919d97c58c443862d6e6bcf7f

[2018-01-03 14:45] #11885 closed, assigned to nobody

[2018-01-03 15:00] magento-team commented on #10682
Hi @fouli86. Thank you for your report.
The issue has been fixed in magento/magento2#12955 by @dverkade in 2.3-develop branch
Related commit(s):
 - c49c52a08cb5d34e648ebf21da9d9235c14773ec

The fix will be available with the upcoming patch release.

[2018-01-03 15:00] magento-team commented on #11236
Hi @Franzld. Thank you for your report.
The issue has been fixed in magento/magento2#12960 by @dverkade in 2.3-develop branch
Related commit(s):
 - 8cb5b9c371894ccebde7797524ca9c21378bfc6b

The fix will be available with the upcoming patch release.

[2018-01-03 15:09] RomaKis commented on #7822
Working on this,

[2018-01-03 15:28] cball87 commented on #12221
@magento-engcom-team, is there any update on this fix? We just moved to magento 2.2 and are seeing the same issue as above. Pageviews are being tracked twice which is causing bounce rates and pages per session to be incorrect. Ecommerce Tracking of transactional data is coming through correctly.

[2018-01-03 15:39] moleculech commented on #11963
Maybe this helps someone...
We needed to add an extra parameter (___store) to the fix from @klimart to make it work (in 2.2.1)
/home/www/nahrin/htdocs/vendor/magento/module-catalog/Controller/Product/View.php: Line 79
[code]

/home/www/nahrin/htdocs/vendor/magento/module-catalog/Controller/Category/View.php: Line 155
[code]

[2018-01-03 15:52] heyepic opened #12973 "Issue upgrading to Latest Magento 2"
### Preconditions

1. Magento 2.1.9 > Upgrading to Latest
2. PHP 7.0.26 / CentOS
3. MySQL 5.6.38 / Apache 2.4.29

### Steps to reproduce

1. composer update  / setup:upgrade

### Expected result

1. Upgrade to latest magento 2

### Actual result

1. Upgrading schema.. Warning: PDOStatement::execute(): MySQL server has gone away in /home/user/public_html/vendor/magento/zendframework1/library/Zend/D

[2018-01-03 15:54] piotrekkaminski commented on #12904
This issue was moved to magento-engcom/import-export-improvements#74

[2018-01-03 15:54] #12904 closed, assigned to nobody

[2018-01-03 15:54] piotrekkaminski commented on #12808
This issue was moved to magento-engcom/import-export-improvements#75

[2018-01-03 15:54] #12808 closed, assigned to nobody

[2018-01-03 15:54] piotrekkaminski commented on #12793
This issue was moved to magento-engcom/import-export-improvements#76

[2018-01-03 15:54] #12793 closed, assigned to PieterCappelle

[2018-01-03 15:55] piotrekkaminski commented on #12533
This issue was moved to magento-engcom/import-export-improvements#77

[2018-01-03 15:55] #12533 closed, assigned to nobody

[2018-01-03 15:55] piotrekkaminski commented on #12455
This issue was moved to magento-engcom/import-export-improvements#78

[2018-01-03 15:55] #12455 closed, assigned to nobody

[2018-01-03 15:55] baublet commented on #11442
This was closed for seemingly no apparent reason. I'm searching through the Mage2 contribution guidelines to see if the magento-engcome-team self-assignment indicates that this bug is being looked at internally, or if the labels "G1 Passed" and "G2 Passed" mean anything about the resolution of this bug. But I can't seem to find anything.

Can anyone (e.g., @maksek) shed some light on the status of

[2018-01-03 15:55] piotrekkaminski commented on #12429
This issue was moved to magento-engcom/import-export-improvements#79

[2018-01-03 15:55] #12429 closed, assigned to nobody

[2018-01-03 15:56] piotrekkaminski commented on #12330
This issue was moved to magento-engcom/import-export-improvements#80

[2018-01-03 15:56] #12330 closed, assigned to nobody

[2018-01-03 15:56] piotrekkaminski commented on #12871
This issue was moved to magento-engcom/import-export-improvements#81

[2018-01-03 15:56] #12871 closed, assigned to nobody

[2018-01-03 15:58] piotrekkaminski commented on #11871
This issue was moved to magento-engcom/import-export-improvements#82

[2018-01-03 15:58] #11871 closed, assigned to nobody

[2018-01-03 15:59] piotrekkaminski commented on #10209
This issue was moved to magento-engcom/import-export-improvements#83

[2018-01-03 15:59] #10209 closed, assigned to nobody

[2018-01-03 15:59] piotrekkaminski commented on #10058
This issue was moved to magento-engcom/import-export-improvements#84

[2018-01-03 15:59] #10058 closed, assigned to RomaKis

[2018-01-03 15:59] piotrekkaminski commented on #10055
This issue was moved to magento-engcom/import-export-improvements#85

[2018-01-03 15:59] #10055 closed, assigned to nobody

[2018-01-03 15:59] piotrekkaminski commented on #9990
This issue was moved to magento-engcom/import-export-improvements#86

[2018-01-03 15:59] #9990 closed, assigned to RomaKis

[2018-01-03 16:00] piotrekkaminski commented on #8867
This issue was moved to magento-engcom/import-export-improvements#87

[2018-01-03 16:00] #8867 closed, assigned to nobody

[2018-01-03 16:00] piotrekkaminski commented on #6992
This issue was moved to magento-engcom/import-export-improvements#88

[2018-01-03 16:00] #6992 closed, assigned to nobody

[2018-01-03 16:00] piotrekkaminski commented on #5993
This issue was moved to magento-engcom/import-export-improvements#89

[2018-01-03 16:00] #5993 closed, assigned to nobody

[2018-01-03 16:05] piotrekkaminski commented on #12716
The issue was moved to https://github.com/magento-engcom/import-export-improvements/issues/91

[2018-01-03 16:05] #12716 closed, assigned to madbounce

[2018-01-03 16:23] piotrekkaminski commented on #10914
The issue was moved to: https://github.com/magento-engcom/import-export-improvements/issues/92

[2018-01-03 16:23] #10914 closed, assigned to diwipl

[2018-01-03 16:24] piotrekkaminski commented on #5876
The issues was moved to: https://github.com/magento-engcom/import-export-improvements/issues/90

[2018-01-03 16:24] #5876 closed, assigned to nobody

[2018-01-03 16:30] piotrekkaminski commented on #5846
The issue was moved to: https://github.com/magento-engcom/import-export-improvements/issues/93

[2018-01-03 16:30] #5846 closed, assigned to lewisvoncken

[2018-01-03 16:43] FernandVdd commented on #12925
Dear,

Thank you for your information.
Can you please cancel also the monthly fee?

Best regards,

Fernand
www.verlichting.be

Van: Magento Community Engineering [mailto:notifications@github.com]
Verzonden: woensdag 3 januari 2018 7:13
Aan: magento/magento2 <magento2@noreply.github.com>
CC: Fernand VERLICHTING.BE <Fernand@verlichting.be>; Mention <mention@noreply.github.com>
Onderwerp: Re: [magent

[2018-01-03 16:59] danscan1712 commented on #9762
I have this same issue and I am not shipping bundled items.
I am testing with an order with one simple item.
This is holding up development.  An alternative method to add tracking would be helpful.

[2018-01-03 17:07] osrecio commented on #11825
Hi @lalit-algoworks this issue will be fixed in `2.2.4 `

[2018-01-03 17:24] satendrat commented on #1549
Thanks, this is a best solutons

[2018-01-03 17:30] magento-team commented on #12555
Hi @EliasZ. Thank you for your report.
The issue has been fixed in magento/magento2#12945 by @VladimirZaets in 2.2-develop branch
Related commit(s):
 - 64a16891c6b8f3fb53b3fba448c13da62e8bcaa6

The fix will be available with the upcoming patch release.

[2018-01-03 17:30] #12555 closed, assigned to nobody

[2018-01-03 17:30] magento-team commented on #12900
Hi @ifekaj. Thank you for your report.
The issue has been fixed in magento/magento2#12902 by @joni-jones in 2.2-develop branch
Related commit(s):
 - 0c5cb6ada1c46b7e68ee4cbd282c5369d63cbab7

The fix will be available with the upcoming patch release.

[2018-01-03 17:30] #12900 closed, assigned to YevSent

[2018-01-03 17:30] magento-team commented on #12294
Hi @webscot. Thank you for your report.
The issue has been fixed in magento/magento2#12755 by @virtual97 in 2.2-develop branch
Related commit(s):
 - 2ccb374aaf4a646594eb01e72fee7748871fadcc
 - 288d0d47e4998e1b8981063b562e87f783f08f42
 - e78ea61cc080a38bb7985f04b5bf33ab0547cf73

The fix will be available with the upcoming patch release.

[2018-01-03 17:30] #12294 closed, assigned to virtual97

[2018-01-03 17:30] magento-team commented on #9243
Hi @okorshenko. Thank you for your report.
The issue has been fixed in magento/magento2#12957 by @dverkade in 2.3-develop branch
Related commit(s):
 - 68389d62965eb53c6533e51b375334ba691bdbb8

The fix will be available with the upcoming patch release.

[2018-01-03 17:30] magento-team commented on #12555
Hi @EliasZ. Thank you for your report.
The issue has been fixed in magento/magento2#12943 by @VladimirZaets in 2.3-develop branch
Related commit(s):
 - 8580f45413bd417683558ea8bee93cac57e4740a

The fix will be available with the upcoming patch release.

[2018-01-03 18:06] spraxis commented on #6859
Same as @parekhreena.

![shipping bug - backend](https://user-images.githubusercontent.com/17143366/34533130-a1ae97c4-f097-11e7-81e8-dcbb35840dc6.png)

![shipping bug - frontend](https://user-images.githubusercontent.com/17143366/34533135-a71672e0-f097-11e7-9754-a7f9261bb387.png)

[2018-01-03 18:08] nawabamit opened #12974 "when i update product price rs.25500 after some time it show rs.26 in frontend and backend. what is the issue please suggest asap. issue in magento 2."
### Preconditions

1. price change automatically from backend issue in magento 2.n version 2.1.8
2. when i update product price rs.25500 after some time it show rs.26 in frontend and backend. what is the issue please suggest asap. my site is live. i have check tax rule.decimal price, special price. but nothing happen.its show some time right after update but after some time it auto change.

[2018-01-03 18:44] nawabamit commented on #6342
i have same issue like that. when i have  update product price rs50000 and save, after some time it show the value like rs50 in backend and frontend in magento 2 version 2.1.8. kindly resolved it asap.price change automatically.fully frustrated guys help me.

[2018-01-03 19:05] danscan1712 commented on #3307
@Nishadup @apluzhnikov
I have been trying to use the salesShipOrderV1 : /V1/order/{orderId}/ship
End point and I am also receiving You can't create a shipment without products error.  But I am adding the items[x].order_item_id from the order.items[x].item_id;
I am still getting this error.

{
  "items": [
    {
      "qty": 2.0000,
      "order_item_id": "50"
    }
  ],
  "notify": true,
  "append

[2018-01-03 19:18] mariananassar commented on #10687
I Has this problem, and my images didnt have role anymore.
There is a query to correct this? Someone did to correct this with query? to update all images to thumbnail and small image.

[2018-01-03 19:28] danscan1712 opened #12975 ""you can't create a shipment without products" error"
When I am using the salesShipOrderV1 REST API interface.  I am receiving the "you can't create a shipment without products" error.
### Preconditions
1. Version 2.2.1 CE
2. Sample Store data installed (yoga)
3. Money Orders and Authorize.Net payments set up

### Steps to reproduce
1. Place an order with a credit card (authorize.net)  <-UPDATE !!
2. Add shipping information via the salesShipOrderV1

[2018-01-03 19:54] PieterCappelle commented on #12817
Any update on this issue? Having the same problem with one of our customers.

[2018-01-03 20:42] aaronware commented on #9857
I'm not sure why this would be considered closed. It's easily reproducible. When you upload an animated.gif file to the admin area it will show the animation properly. That is because the image while smaller more than likely hasn't actually be resized by the magento image caching. It's just scaled to fit the parent container.

If you view the product details page for the image you uploaded or view

[2018-01-03 21:40] danscan1712 commented on #12975
I wanted to add another detail I found.  When the order is in processing as it does when a Credit Card is used to pay for the order this fails.  But when I use a money order to pay it will function correctly.  I think this has something to do with the status of pending vs processing

[2018-01-03 21:51] pmathbliss commented on #6754
@OnTapKristjan That patch broken the catalogsearch_fulltext reindex.
Here is the reindex after applying the patch. Did you miss a file?

PHP Fatal error:  Uncaught Error: Cannot instantiate interface Magento\Framework\Search\Request\IndexScopeResolverInterface in /chroot/home//html/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php:93
Stack trace:
#0 /chroot/home//html/vendor/magen

[2018-01-03 22:00] ipascual commented on #12832
+1

[2018-01-03 22:21] fooman commented on #12926
@williambize please use `rm composer.lock` to delete the file.

[2018-01-03 22:36] orlangur commented on #8368
At first sight it looks like there is nothing to fix here.

No files must be accessed outside of Magento base path and this behavior is intentional. Otherwise in case of a mistake in some module code it would be possible to read sensitive system files.

Read a path starting from slash is never a good idea.

Is there any use case not covered by https://magento.stackexchange.com/a/95095 answer?

[2018-01-04 02:47] dangnguyenak commented on #3503
@niranjanleanswift can you share full code of that plugin, it doesn't work for me

[2018-01-04 03:09] williambize commented on #12926
@fooman Thanks for the help! Unfortunately when I ran the given command `rm composer.lock` it gave error. Please check screenshot here: http://prntscr.com/hvt15c . At this point I would like to completely remove composer from the server and start all over again. Any suggestions?

[2018-01-04 03:24] fooman commented on #12926
@williambize re-installing composer would not help. It currently sounds like you might need to hire someone to help you with the installation.

Best of luck.

[2018-01-04 03:38] lammanh0405 commented on #10379
In file vendor/magento/module-swatches/view/adminhtml/web/js/visual.js
Change this code "var imageParams = $.parseJSON($(this).contents().find('body').html());"
to "var imageParams = $.parseJSON(this.contentWindow.document.body.innerHTML);"

Hope this help.

[2018-01-04 03:40] lammanh0405 commented on #7617
In file vendor/magento/module-swatches/view/adminhtml/web/js/visual.js
Change this code "var imageParams = $.parseJSON($(this).contents().find('body').html());"
to "var imageParams = $.parseJSON(this.contentWindow.document.body.innerHTML);"

Hope this help.

[2018-01-04 03:46] dangnguyenak commented on #7427
in magento 2.2.1 with custom theme, error message when login show many time, and when login successfully, its still show
![upload_12_27_2017_at_5_47_41_pm](https://user-images.githubusercontent.com/30753874/34549268-10bba416-f13a-11e7-95f4-cfa30bd3c474.png)

[2018-01-04 04:02] aliaathil commented on #12971
Thanks David Manners, Issue has been solved for me

[2018-01-04 04:02] #12971 closed, assigned to nobody

[2018-01-04 04:44] sanjay-wagento commented on #3727
@magento-engcom-team @okorshenko I reviewed above issue and I can not find Rest API "V1/products/Stock/stockItems"

[2018-01-04 05:08] dgpoo commented on #10107
I have resolve isssue from below referance link:
 https://community.magento.com/t5/Technical-Issues/Error-Success-message-not-showing-on-one-page-in-custom-module/td-p/72823

I was using

`<script type="text/x-magento-init">`

for the javascript validation.
I changed it to

    `<script type="text/javascript">`

[2018-01-04 05:19] dev-Dhaval commented on #3897
Guys, Any solution for this ?

[2018-01-04 05:32] coexksa commented on #12933
@p-bystritsky could you please tell me which line i've to change? also provide me correct code to let my website take code value only and ignore switching rewrite statement "  ?___from_store " ??

[2018-01-04 05:41] Monika1802 commented on #9762
i solved it.
You need to use the REST API "/rest/V1/order/incrementid/ship"
Instead of this public IList<Item> Items { get; set; }
write this in property
      public List<Item> Items = new List<Item>();

 for (int piOrderQtyCnt = 0; piOrderQtyCnt < dtDelivery.Rows.Count; piOrderQtyCnt++)
        {
          var item = new Ship.Item();
          item.OrderItemId = int.Parse(dtDelivery.Rows[piOrder

[2018-01-04 06:11] magento-engcom-team commented on #12974
thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version
 - [x] Steps to reproduc

[2018-01-04 06:26] #12834 closed, assigned to nobody

[2018-01-04 07:12] alexvandervegt commented on #12322
You can test it if you check my original comment about it.

[2018-01-04 07:17] vasilii-b commented on #12914
Thanks for letting me know, @duffner

[2018-01-04 07:18] opencubicles commented on #6144
We have tested this in Magento ver. 2.1.5 and issue is still there.

[2018-01-04 07:28] magento-engcom-team commented on #12924
Hello @shubham03mathur. Thanks for reporting. You See Magento's logic on displaying attributes in layered navigation till now has been to show the Customer that the products differ in this or that particular attribute and so he or she can chose among the values of the attribute. Assume there is a color attribute with 3 values: red, blue and green, and there are three products in some category each

[2018-01-04 07:29] magento-engcom-team commented on #12924
@shubham03mathur, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2018-01-04 07:36] magento-engcom-team commented on #12973
@heyepic  thank you for your report.
  Please try to do upgrade clean installation 2.1.9 to the latest version and tell us the result.
  It is preferred that before the upgrade some products, categories etc. will have been generated.

[2018-01-04 08:11] emilshamloo commented on #12570
@Detzler  did you run this code in SSH?

[2018-01-04 08:20] emilshamloo commented on #12570
Thanks @BlackIkeEagle
I added your code into my index.php and it is working now.
`<?php
/**
 * Application entry point
 *
 * Example - run a particular store or website:
 * --------------------------------------------
 * require __DIR__ . '/app/bootstrap.php';
 * $params = $_SERVER;
 * $params[\Magento\Store\Model\StoreManager::PARAM_RUN_CODE] = 'website2';
 * $params[\Magento\Store\Model\StoreMan

[2018-01-04 08:28] harithasdckap commented on #10498
Facing the same issue in Magento 2.2.1 version

[2018-01-04 08:43] magento-engcom-team commented on #12940
You can't add a lot of products at per time. Only one product. [Magento REST API documentation](http://devdocs.magento.com/swagger/#/) >> quoteGuestCartItemRepositoryV1 >> POST /V1/guest-carts/{cartId}/items

Add/update the specified cart item.

[2018-01-04 08:44] #12940 closed, assigned to nobody

[2018-01-04 08:50] wangqingshen opened #12979 "magento2.1.7 checkout Region field sometimes above other fields in billing form"
Preconditions

Magento 2.1.7
Steps to reproduce

Proceed to checkout.
Proceed to billing step.
Re-iterate this process a few times.
Expected result

The fields are consistently in the same location each time.
Actual result

The county field is shown above the first name field on occasional page reloads. This would appear to be a JS race condition, see below.
This is a duplicate of #5849 which was

[2018-01-04 08:50] magento-engcom-team commented on #12950
@LSERRE We tried to reproduce it on the clean instance of Magento, and we could not reproduce it. We tried updating 2.2.0->2.2.2 and 2.2.1-> 2.2.2 both ways worked fine. Seems like it's a problem with your Magento instance or seems like you might have 3'rd party code, that causes the problem.  Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](htt

[2018-01-04 08:50] #12950 closed, assigned to nobody

[2018-01-04 08:58] magento-engcom-team commented on #12816
@radkyy, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-01-04 08:58] #12816 closed, assigned to nobody

[2018-01-04 09:07] wangqingshen commented on #9420
@Danielc3 Hi, Have you solved this problem? I also met this problem in the 2.1.7 version

[2018-01-04 09:09] wangqingshen commented on #12979
@ magento-engcom-team， hi, I also met this problem in the 2.1.7 version, Can you help me with it?

[2018-01-04 09:40] Detzler commented on #12570
@emilshamloo, yes I ran it via ssh shell

@magento-engcom-team, shouldn't we integrate "opcache_reset" into "cache:clean stack"?

[2018-01-04 09:46] mveldhuizen opened #12980 "API default value issue on variadic param"
### Preconditions
1. Magento version 2.2.1
2. PHP7.0

### Steps to reproduce
1. Added a new webapi call trough the webapi.xml
2. Defined a Interface with a variadic param
3. Calling the soap wsdl list

### Actual result
Internal error: Failed to retrieve the default value

### Posible solution
In the ClassReflector the default parameters are checked. When a parameter is variadic it is also given a

[2018-01-04 09:58] Danielc3 commented on #9420
@wangqingshen Hi, no sorry, I do not believe we got to the bottom of this.

[2018-01-04 10:05] Lasim commented on #6578
Same issue on 2.2.1

[2018-01-04 10:15] Nicelabsrl opened #12981 "Magento 2.2.2 update product attribute option via SOAP WEB API doesn't work and return false"
### Preconditions

1.  Magento 2.2.2

### Steps to reproduce

1. Make following SOAP request for update an attribute option:
`<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><catalogProductAttributeOptionManagementV1AddRequest xmlns="mydomain.com/admin/soap/all?services=catalo

[2018-01-04 10:23] chiragp-wagento commented on #12839
Hi @yogeshsyscraft ,

Can you please provide detailed steps to re-produce this issue as we cannot disable assigned store view from admin side. This seems like you have directly changed the value of is_active to 0 in store table. If yes then please change that value to 1.

Kindly advice.

[2018-01-04 10:26] RomaKis commented on #7765
Working on this.

[2018-01-04 10:30] magento-engcom-team commented on #12967
@linden2015, thank you for your report.
We've created internal ticket(s) MAGETWO-86346 to track progress on the issue.

[2018-01-04 10:53] brplassen commented on #11263
Still having this issue in 2.2.2

[2018-01-04 11:08] duckchip commented on #10424
We're having a slightly different problem.

On a storeview, even when the value is filled in for a certain attribute, it still uses the default value BUT the checkbox is not checked. If I remove the default value, the value of the specific storeview  is shown.

[2018-01-04 11:14] LucScu commented on #4409
in which di.xml?

[2018-01-04 11:15] JanisE commented on #8310
@vrann ,

If that's the case, the setting should not be labelled as "Uses per coupon", but "Max number of uses", "Max orders the rule may be applied to" or something like that. Because "uses PER coupon" means exactly what you're saying it doesn't mean. And the coupons don't really play any part in that restriction, so word "coupon" should be omitted to avoid confusion.

It's just that the restrict

[2018-01-04 11:22] 7ochem commented on #5823
So what we have here is the Magento 1 inherited fieldset copy service and the in Magento 2 newly introduced DataObjectHelper method using the interface as a reference.

If we look at the reason why this was implemented in Magento 2 is to protect the integrity of the data object and therefore the database table, am I right?

So if we are going to use the "patch" or the suggested/referenced pull req

[2018-01-04 11:23] duckchip opened #12982 "Default Value used instead of Storeview Specific on Product"
### Description
We're having an issue with clearing a Product attribute for a specific storeview.
It uses the default value from "All store views" instead of the storeview one, even when the checkbox "Use default value" is **NOT**  checked.

This problem only occurs on 2 storeviews of the same website. We have 9 other storeviews on several websites where this problem not occurs.

When the default

[2018-01-04 11:26] ashokdubariya opened #12983 "Magento 2.2.2 - Sometime we are getting an issue with shipping methods"
We have upgraded Magneto version from 2.1.9 to 2.2.2 and some times we are getting below error on checkout pages.
`Sorry, no quotes are available for this order at this time`

We have checked log files and we are getting below error in exception.log file.
`Message: Property "CheckoutFields" does not have corresponding setter in class "Magento\Quote\Api\Data\AddressExtensionInterface". {"exception"

[2018-01-04 11:34] JanisE opened #12984 "Unclear description of "Uses per Customer" setting"
Option "Uses per Customer" has an explanation "Usage limit enforced for logged in customers only.".

So what about guests? Can they apply the rule indefinitely, or can they not apply the rule at all?
It somehow seems to make no sense if they can do it indefinitely, as then registered customers are at a disadvantage (normally, it's the opposite) or can simply log out to make an order and enjoy the

[2018-01-04 11:38] apluzhnikov commented on #3307
@danscan1712 hi, I run this json and all is ok, shipment has been raised. In our case with id 16:
![image](https://user-images.githubusercontent.com/18361353/34561850-90496884-f154-11e7-80fa-e671dc10f816.png)

[2018-01-04 12:03] orlangur commented on #12984
Hi @JanisE,

Where do you see unclarity here? "Usage limit enforced for logged in customers only." means limit is not enforced for guests. If it really works this way, I don't see any problem here.

[2018-01-04 12:04] mrjcgoodwin commented on #7949
Using 2.2 changing the message does not seem to work in Single Store Mode so either still isn't fixed or is broken again?

[2018-01-04 12:06] orlangur commented on #12973
Hi @heyepic,

This clearly indicates your MySQL configuration needs to be adjusted, there is nothing to fix from Magento side here.

[2018-01-04 12:12] p-bystritsky commented on #12933
@coexksa, please refer to the [Community Forums](https://community.magento.com/or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for technical issues only.

[2018-01-04 12:13] magento-engcom-team commented on #12979
@wangqingshen We tried to reproduce, the issue on 2.1.11, and 2.2.2, we tried with Guest and Customer account addresses, and we weren't able to reproduce it. Seems like it's been fixed in this versions. In this case, we would recommend trying to update and see if it helps. Unfortunately, we are not able to help you with this unless we can reproduce it. If upgrading won't fix the problem, please tr

[2018-01-04 12:16] magento-engcom-team commented on #12979
@wangqingshen, thank you for your report.
The issue is already fixed in 2.2.2

[2018-01-04 12:16] #12979 closed, assigned to nobody

[2018-01-04 12:21] digiwebpro commented on #12707
I am seeing this issue for my virtual products everytime. How i can fix that?

Magento 2.2

![Image](https://i.imgur.com/Ki5flDw.png)

[2018-01-04 12:55] ishakhsuvarov commented on #12699
Closing, as the issue seems to be fixed in `2.2-develop` with the PR #12767
Thanks.

[2018-01-04 12:55] #12699 closed, assigned to andrii-dymov

[2018-01-04 13:00] alexlitvinenko opened #12986 "Decimal quantities in an Invoice and Credit Memo"
Magento allows to enter decimal number in a product quantity (Advanced Inventory -> Qty Uses Decimals = Yes).  For example: 4.5 lbs.
Magento allows to buy product and specify decimal number with fractional part (e.g. 4.5).
Magento erase fractional part from product quantity  during an invoice creation.
Magento incorrectly calculates subtotal for decimal quantities with fractional part during credi

[2018-01-04 13:18] mzenner1 opened #12987 "Customer gets logged out when they save/change their account - 2.2 only"
### Steps to reproduce
1. In Magento 2.2 and above
2. Log in as a customer - frontend
3. Edit your address and save
4. The page will reload
5. Click to another account page
6. You will get logged out every time.

### Expected result
1. The session should not destroy itself when a customer saves their account

Note: This does not happen on 2.1.x

[2018-01-04 13:19] koenner01 commented on #12981
We had the same problem and this pull request fixed the issue for us https://github.com/magento/magento2/pull/12036

Also note that you have to sent all store_labels everytime (otherwise you will be clearing and replacing the existing ones)

[2018-01-04 13:26] RomaKis commented on #7760
Working on this.

[2018-01-04 13:30] hosnas opened #12988 "I managed to make an api call without token. why?"
### Preconditions

1. Magento Version: 2.2.2

### Steps to reproduce

Hello

I just successfully did the following api without needing a token. I am really surprised now. Is it a security issue?

[code]

### Expected result

1. Ask for providing a token

### Actual result

`{"id":4,"group_id":1,"created_at":"2018-01-04 13:28:16","updated_at":"2018-01-04 13:28:16","created_in":"Default Store View",

[2018-01-04 13:34] andy17612 opened #12989 "Cron job and Abandoned message in Magento 2"
### Preconditions

1. linux centos7
2. magento 2.2.2
3. php71

### Steps to reproduce

1. 2.2.0 upgrade to 2.2.2
2. getting Package sjparkinson/static-review is abandoned
3. cron job is not running

### Expected result

1. fix it, install Package sjparkinson/static-review, and then can running cron job

### Actual result

1.

2.

[2018-01-04 13:42] ishakhsuvarov commented on #12493
@popovdenis Thank you for your research. Closing the issue per your comment.
@vishalmangoitsolutions You may refer to the community forums or magento stackexchange for general advice or discussion.

Thanks.

[2018-01-04 13:42] #12493 closed, assigned to popovdenis

[2018-01-04 13:44] popovdenis commented on #12493
@vishalmangoitsolutions ,
you can add special price.

[2018-01-04 13:46] srenon commented on #5823
My vote would be to remove all this code (since it does not work) and push developer to use "extension attributes"

[2018-01-04 13:46] magento-engcom-team commented on #12975
Unfortunately, we can't reproduce this issue.

In our case, we did next steps:
1. Add to cart sample products "Joust Duffle Bag"
2. Go to Checkout
3. Chose "Shipping Methods" as "$5.00	Fixed	Flat Rate"
4. Chose "Payment Method" as "Check / Money order"
5. Place Order
6. Add shipping information via the salesShipOrderV1 with the "orderid"
`{
"items": [
{
"qty": 2.0000,
"order_item_id": "3"
}
],
"no

[2018-01-04 13:48] magento-engcom-team commented on #12989
@rigu12 We tried to update 2.2.0->2.2.2 using composer and it worked fine for us. In order for us to reproduce this issue, please clarify more steps and provide more details on how did you update your Magento, and is there any 3'rd party code that you use?

[2018-01-04 14:06] rigu12 commented on #12989
Hi @magento-engcom-team

I just using composer to upgraded to 2.2.2 , no any 3'rd party code.
now i running this command,
[code]
and then run again : composer update
getting this now.

my composer.json

[code]

[2018-01-04 14:19] ishakhsuvarov commented on #12552
Closing per comment above by @popovdenis
Please reopen if the issue persists.
Thanks for collaboration

[2018-01-04 14:19] #12552 closed, assigned to nobody

[2018-01-04 14:19] magento-engcom-team commented on #12982
@duckchip , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-04 14:20] koenner01 commented on #9389
We are having this problem in 2.2.2, so no this issue was not 'already fixed in 2.2.0'
Can this please be picked up again..

[2018-01-04 14:22] koenner01 commented on #8897
We are having this problem too in 2.2.2

[2018-01-04 14:27] versdivers commented on #8897
For the ones who have this issue. You will need to use the resourcemodel to post your own mysql queries to the database. No other solution that i have found

[2018-01-04 14:32] Nicelabsrl commented on #12981
Thanks @koenner01 but it's not the same problem.
I know that I have to sent all store_labels everytime.
There are no problems for inserting a new option, but when I try to update an option the request always returns false and the update doesn't work.
Everything worked in Magento 2.1.10

[2018-01-04 14:35] magento-engcom-team commented on #12987
@mzenner1  thank you for your report.
Please specify what do you mean by "Click to another account page".

[2018-01-04 14:36] magento-engcom-team commented on #12989
@rigu12 Unfortianly, we can't reproduce the problem on the clean instance of Magento seems like it's a problem with **phpro/grumphp** and not Magento itself. Also please look more into using this instead: http://devdocs.magento.com/guides/v2.1/coding-standards/code-standard-sniffers.html Magento already includes Code quality tools. The GitHub issue tracker is intended for technical issues only. Pl

[2018-01-04 14:37] andrewhowdencom opened #12993 "Type error in Cart/Totals"
### Preconditions

1. Magento 2.2.2
2. PHP 7.1

### Steps to reproduce
1. ??? no idea yet

### Expected result

1. No error logs

### Actual result

[code]

Stubbing this here in case someone else sees this and has more of an idea.

[2018-01-04 14:40] mzenner1 commented on #12987
Any account link in the customer sidebar.  "My Orders" will do the trick.

When you first log in as a customer, click "Edit" on your contact info.  Do something simple, like add a letter to your last name.  Hit save, then click to another account page, like "My Orders" and you get logged out.

[2018-01-04 14:43] riprod commented on #12983
Mine just started doing this as of 9pm EST last night. Nothing changed, nothing installed. Was working fine until then

[2018-01-04 14:50] codekipple commented on #12993
This is a duplicate of this issue https://github.com/magento/magento2/issues/9646
which has been fixed by this commit - https://github.com/ekuusela/magento2/commit/aa535ea5d4bf78915bddd4387a9d3c4b39943eea
But which is not included in 2.2.2

I've applied the commit manually to my magento store running 2.2.2 and it has fixed the issue for me.

[2018-01-04 14:53] orlangur commented on #12988
Hi @hosnas,

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

http://devdocs.magento.com/guides/v2.2/rest/anonymous-api-security.html can give some insight.

Also, please check https://github.com/magento/magento2#reporting-security-issues on how security issues are supposed to be reported.

Thanks for contacting us!

[2018-01-04 14:53] #12988 closed, assigned to nobody

[2018-01-04 15:05] magento-engcom-team commented on #12984
@JanisE, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-01-04 15:05] #12984 closed, assigned to nobody

[2018-01-04 15:08] orlangur commented on #12983
Hi @ashokdubariya, just grepped for `Checkout.*Fields` all over the `2.2-develop` and I don't see such fields used in core.

Looks like some of your extensions trying to use such extension attribute without a proper declaration in `extension_attributes.xml`.

[2018-01-04 15:12] samosys commented on #11190
Errors during compilation:
        Magento\Backend\Model\View\Layout\GeneratorPool
                Incompatible argument type: Required type: \Magento\Framework\View\Layout\Condition\ConditionFactory. Actual type: \Magento\Framework\App\Config\ScopeConfigInterface; File:
/var/www/html/arkswimwear2/vendor/magento/module-backend/Model/View/Layout/GeneratorPool.php

Total Errors Count: 1

  [Magento\

[2018-01-04 15:20] shimouniak commented on #11002
i can totally relate - i have the same issue as described in this thread - any update??

[2018-01-04 15:29] danscan1712 commented on #12975
@magento-engcom-team
Do the same thing but pay with a credit card.  I found that money orders work but the credit card payment goes write to processing and not pending.  The shipment can then not be added.  I added this note in the message just above yours.

[2018-01-04 15:29] riprod commented on #12983
I was having the same issue with this error in the logs

[2018-01-04 14:52:00] main.CRITICAL: Report ID: webapi-5a4e3f90be327; Message: Property "CheckoutFields" does not have corresponding setter in class "Magento\Quote\Api\Data\AddressExtensionInterface". {"exception":"[object] (Exception(code: 0): Report ID: webapi-5a4e3f90be327; Message: Property \"CheckoutFields\" does not have corresponding

[2018-01-04 15:38] koenner01 commented on #8897
We are using the api to update to product data so what you are saying is that we should trash the api Magento provides and create our own calls...

[2018-01-04 15:41] koenner01 commented on #12981
try removing "<label>opt-335</label>" part; Some weird check is being done in the code to see if that label matches with anything that already exists (and if so, false will be returned).
Also it doesn't really add anything extra as you are already providing the full store_labels and the attribute option value

[2018-01-04 15:47] orlangur commented on #12989
Hi @rigu12,

This is not a problem and you shouldn't install another package unless you understand what you're doing.

Please pay attention to

which is much more important.

[2018-01-04 15:52] orlangur commented on #12983
@riprod thanks for checking! Simply disable this module for now if you're not using its functionality. Probably a builtin module if you didn't install it explicitly, asked in Slack.

This issue could be related to/duplicate of https://github.com/magento/magento2/issues/12921

[2018-01-04 15:56] p-bystritsky commented on #12910
I don't think it is a bug. You can not cancel any invoiced order.

[2018-01-04 15:59] Toregam opened #12994 "Sitemap doesn't create sitemap.xml"
### Preconditions

1. Magento 2.1.7

### Steps to reproduce

1. Go to -> Marketing -> Seo -> Sitemap
2. Create a new sitemap
3. Generate Sitemap

### Expected result

1. Sitemap generated

### Actual result

1.  The sitemap can not be generated at this time.

[2018-01-04 16:10] Toregam opened #12995 "I see my double products"
### Preconditions

1. Magento 2.1.7

### Steps to reproduce

1. I go to my website -> Select brand
2. I see all my product whit brand selected
3. Select attribute

### Expected result

1.  I see only products with attribute that i seleceted

### Actual result

1. I see products whit attribute i selected but it is double!!!

[2018-01-04 16:20] Detzler commented on #12910
Maybe it's not a technical bug, which raises an exception internally. It's more a bug in the business logic. It's ok if we call it a feature request.

What happens if one can't create a creditmemo for an invoiced order:

If one has an invoiced order, the tax which has been calculated needs to be payed to the tax office (at least in Germany). If the buyer asks for a order cancellation, the shop own

[2018-01-04 16:21] spraxis commented on #6859
Well I missed to set the "Tax Class for Shipping". After that is working as expected.

![selection_003](https://user-images.githubusercontent.com/17143366/34573157-1fccf5f0-f152-11e7-86b5-02e69ebb06d0.png)

![selection_004](https://user-images.githubusercontent.com/17143366/34573188-31040ea8-f152-11e7-9121-673a49cdd70d.png)

[2018-01-04 16:31] orlangur commented on #12995
Is this core functionality or some custom extension?

[2018-01-04 16:36] Toregam commented on #12995
I use the TEMPLATEMONSTER

[2018-01-04 16:40] heyepic commented on #12973
I actually found out after lots of tweaking it was a giftcard extension causing my issue.

Thanks for the quick responses nonetheless guys. Keep up the good work.

[2018-01-04 16:40] #12973 closed, assigned to nobody

[2018-01-04 16:43] ferrazzuk commented on #12655
This was an issue which had been fixed since 2.1.7 but but for some reason it was not merged to 2.2.*. Here is the fix for it https://github.com/magento/magento2/commit/aa535e

[2018-01-04 17:27] Nicelabsrl commented on #12981
I can't remove the entire tag
`<label>opt-335</label>`
from request, but if I use in request:
`<label></label>`
the response is true and the option contains all labels for storeviews whitout admin label.
This induce an error in the backend when save the attribute, because the admin label is required.
In this case the request should have returned false whit error.

[2018-01-04 18:26] koenner01 commented on #12981
You should pass the admin value through the store_labels node by adding a value for store_id 0

[2018-01-04 18:27] shyang292 commented on #9323
I run bin/magento list to get a readable error message. I found that module.xml contains non UTF-8 chars. It work well after I delete those chars.

[2018-01-04 19:08] DREC69 opened #12996 "Meta Description now too short"
An issue raised a while back, finally resolved in Sept '17 has now been made redundant.

The issue was meta descriptions allow 255 characters, and this should be truncated since search engines didn't allow so many.

As of Nov '17, Google will report meta descriptions over 300 characters.

So Magento's now cutting short this useful form of CTA for its clients.

Having had it reduced, can we see it

[2018-01-04 19:13] RalphyRalpph opened #12997 "All icons are gone and admin panel isn't working"
### Preconditions

1. Magento 2.2.2.

### Steps to reproduce

1. In front page, "Luma" is gone
2. When try to log into admin "Magento" logo is gone
3. All other icons into admin panel are gone
4. It is loading first admin page all the time
5. No button is working in admin panel

### Expected result

1. Admin panel should work correctly

### Actual result

![magento](https://user-images.githubuserc

[2018-01-04 20:49] JanisE commented on #8310
I installed Magento 2.2.1 from scratch and did some testing. It seems to me that now @azeemism 's assumption No. 1 is true (and issue No. 2 is resolved): "Uses per coupon" setting is a global limit, for all users. And it restricts each coupon independently, not the whole cart rule. (So, no need to change the name, it is appropriate.)

And assumption No. 2 is still false: the "Uses per customer" se

[2018-01-04 21:26] orlangur commented on #12995
Respective extension developer should be contacted then. Thanks for the quick response.

[2018-01-04 21:26] #12995 closed, assigned to nobody

[2018-01-04 22:05] abancroft0 opened #12999 "Posting Product Link Removes Image Types"
### Preconditions

1. Magento 2.2.1
2. Json API

### Steps to reproduce

1. Existing Grouped Product
2. Existing Simple Product with image that has values for "types" (base, thumbnail, etc.)
3. Post to rest/all/V1/products/{simple sku}/links

{
  "items": [
    {
      "sku": "grouped_sku",
      "link_type": "associated",
      "linked_product_sku": "simple_sku",
      "linked_product_type": "sim

[2018-01-04 23:46] subbu1993 opened #13002 "Sitemap media URLs have pub/ in them"
Sitemap.xml image urls are generated with a pub/ in them

### Preconditions
1. Magento version - 2.1.8
2. PHP version - 7.0.26

### Steps to reproduce
1. Go to Marketing > Sitemap
2. Add sitemap
3. Set filename to sitemap.xml
4. Set path to /pub/media/

### Expected result
1. Sitemap is generated with Media URLs like https://www.site-name.com/media/catalog/....

### Actual result
1. Sitemap is gen

[2018-01-05 01:00] dangnguyenak commented on #5657
@magento-engcom-team I'm on 2.2.1 and its still happening

[2018-01-05 03:51] webtipster commented on #12989
So leave magento json file with sjparkinson/static-review?

Having same problem with client running Centos 7 / Php 7.026 / MySQL 5.6.38 / Apache 2.4.29.

As OP said, anytime composer is used for example setup:upgrade it spits out:
`Package sjparkinson/static-review is abandoned, you should avoid using it. Use phpro/grumphp instead.
Writing lock file
Generating autoload files`

Looked up sjparkinso

[2018-01-05 04:25] saurastra-developer opened #13003 "Getting Error on product edit page"
When i try to access product edit page then iu give following error ..

url:
  root/admin/catalog/product/edit/id/14997/key/abc/

Notice: Undefined index: container_size in /home/supdev/public_html/vendor/magento/framework/View/Element/UiComponentFactory.php on line 394

<b>container_size</b > is a simple text attribute

in magento 2.2.0
![error](https://user-images.githubusercontent.com/35019950/

[2018-01-05 05:04] tek-moe commented on #10829
I've been fighting with this issue since upgrading from 2.1.2 -> 2.1.9. Cron is running successfully with no error and is showing success on the cron_schedule table.

I guess I have to upgrade to 2.2, which is always an issue due to plugin compatibility and other random bugs that appear when updating Magento 2.2

[2018-01-05 06:08] ATsunade opened #13004 "PayPal Payflow Link Show Unable to place Order, Please Try Again"
### Preconditions

1. Magento V2.1.0
2. Store > Configuration > Sales > Payment Methods > PayPal Payment Gateways  > Payflow Link (Includes Express Checkout)

### Steps to reproduce

1. Go to website and Add simple poduct to cart
2. Check out > put data in Shipping Address step
3. go to review & payment > select credit card and click Continue

### Expected result

1. Go to website and Add simple p

[2018-01-05 06:33] magento-engcom-team commented on #12970
@breg-13, thank you for your report.
We've created internal ticket(s) MAGETWO-86389 to track progress on the issue.

[2018-01-05 06:38] suresh-vagvala commented on #9857
yes, aaronware.
do you have any idea on this? without loading entire media for the product is there any alternative solution. please let me know.

[2018-01-05 06:41] rigu12 commented on #12989
hello @orlangur ,
Sorry, i don't know , beacuse i from 2.2.0 upgraded to 2.2.2, but getting this issue.

[2018-01-05 06:44] rigu12 commented on #12989
Hello @webtipster ,
I'm using server is Linux, Apache 2.4.29 ,Centos 7, PHP 7.1.12 , MySQL 5.6.38.
&
Yes. this still

[2018-01-05 06:51] magento-engcom-team commented on #12994
@Toregam , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-05 06:56] andy17612 opened #13005 "Fatal Error setup:di:compile in magento 2"
### Preconditions

1. linux centos7
2. magento 2.2.2
3. php71

### Steps to reproduce

1. 2.2.0 upgraded to 2.2.2
2. php bin/magento deploy:mode:set production <-Fatal Error
3. getting the comment is need to run php bin/magento setup:di:compile <-Fatal Error

### Expected result

1. Does anyone know how to fix it? Thank you!

### Actual result

1.

[2018-01-05 07:07] magento-engcom-team commented on #12987
@ thank you for your report
Unfortunately, we can't reproduce this issue.
Please try to reproduce this issue on the clean installation ver 2.2.2 and tell us the result.

[2018-01-05 07:35] ramusadwika opened #13006 "Drop down values are not showing in catalog product grid magento2"
Drop down values are not showing in catalog product grid magento2 after applying filter and sorting on respected attribute.

### Preconditions

1. Check a select attribute is available for products like manufacturer/brand
2. verify that that attribute properties (Add to Column Options > Yes and Use in Filter Options > Yes)
3. Select that attribute in column list of product grid

### Steps to repro

[2018-01-05 07:36] vicary commented on #4492
This also happens in Magento 2.1.7 CE, it redirects to startup page the first time when user tries to export a file and then subsequent file downloads will succeed.

[2018-01-05 08:25] samuelecarpene opened #13007 "Exception: Area code not set: Area code must be set before starting a session."
### Preconditions
1. Magento 2.2.2
2. Ubuntu 16.04 Server
3. PHP 7.0.22
4. Mysql 5.7.19
5. Magento installed/deployed with composer
6. Magento in production mode

In production environment there is an error logged in exception log continuosly
`[2018-01-05 08:19:16] main.CRITICAL: Area code not set: Area code must be set before starting a session. {"exception":"[object] (Magento\\Framework\\Excepti

[2018-01-05 08:53] wclansar commented on #12708
I am also getting same problem after upgrade in magento 2.2.2

PHP Fatal error:  Uncaught Error: Class 'Magento\Setup\Application' not found in /var/www/html/vytronix/site/magento/vendor/magento/framework/Console/Cli.php:71
Stack trace:
#0 /var/www/html/vytronix/site/magento/bin/magento(22): Magento\Framework\Console\Cli->__construct('Magento CLI')
#1 {main}
  thrown in /var/www/html/vytronix/site

[2018-01-05 08:59] magento-engcom-team commented on #12997
@RalphyRalpph Thanks for your report, Please clarify steps to reproduce, in order for us to be able to reproduce on the clan instance of Magento. Also, let us know if you are using any 3'rd party code?

[2018-01-05 09:06] mgfrench commented on #7043
Mine was a good one.

My store view scope was set to be granular and not to default config.  So when I went to update all Attributes the second time, I ensure the particular store view was selected.

Hope this helps someone.

[2018-01-05 09:13] orlangur commented on #12989
@webtipster not leave as is but remove or replace with alternative in some of the next releases. Package abandoning is not controlled by Magento and sometimes happens.

@rigu12

There is nothing to "fix" here as there is no problem. You can simply remove this package from your `composer.json` as it is a dev dependency (wrongly moved out of `require-dev` section).

[2018-01-05 09:13] magento-engcom-team commented on #13002
@subbu1993 , thanks for you report. Why you think for Expected result
Sitemap is generated with Media URLs like https://www.site-name.com/media/catalog/....&? But image is be in path https://www.site-name.com/pub/media/catalog/.... and opening without problem.

[2018-01-05 09:21] RomaKis commented on #7741
@okorshenko, @ishakhsuvarov, please, close this ticket as the [pull request](https://github.com/magento/magento2/issues/7741) was successfully merged.

[2018-01-05 09:32] p-bystritsky commented on #12803
Issue is already fixed in 2.2-develop.

[2018-01-05 09:32] #12803 closed, assigned to p-bystritsky

[2018-01-05 09:43] evilprophet commented on #4112
Hi @veloraven you said that this was fixed for 2.1, but I still have this issue on 2.1.10 and 2.2. So where this is fixed?

[2018-01-05 09:49] RomaKis commented on #7689
This issue was fixed in https://github.com/magento/magento2/issues/7691.

[2018-01-05 09:49] #7689 closed, assigned to mrodespin

[2018-01-05 09:54] magento-engcom-team commented on #5867
The issue had been fixed in 2.2.2

[2018-01-05 09:54] #5867 closed, assigned to nobody

[2018-01-05 09:56] RalphyRalpph commented on #12997
1. I uploaded Magento 2.2.2 on my server using  Softaculous
2. I tried to open admin panel
3. It looks like in the pictures

My service provider has cPanel. That is it - I'm not using anything more.

[2018-01-05 10:11] ishakhsuvarov commented on #7741
Closing, as issue was fixed with the PR #7742

[2018-01-05 10:11] #7741 closed, assigned to nobody

[2018-01-05 10:57] 666triv commented on #12924
I can confirm, that this is not working for us in the way you describe, we have tried with results and no results and changed the scope which are the only 2 main display settings in the backend for the attribute and the multi select options on the frontend just don't appear.

They will only show if the multi select has 1 option only per multi select attribute only, turning it into a dropdown almos

[2018-01-05 11:07] ishakhsuvarov commented on #12908
@zack6849 @dmanners @joni-jones Thank you for investigation.
Closing this ticket for now, as the issue seems to originate from different vendor.

[2018-01-05 11:07] #12908 closed, assigned to nobody

[2018-01-05 11:09] ferrazzuk commented on #12987
I can confirm this does not happen in 2.2.2

[2018-01-05 11:21] ferrazzuk commented on #13007
@samuelecarpene do you have any custom console commands? If you do make sure you have set the area code to the appropriate one. Check [https://mage2.pro/t/topic/1666/2](this) out for the list of area codes.

[2018-01-05 11:31] lbetineli commented on #5247
Fresh install of 2.2.2 CE and same problem. Nginx 1.10.3 (Ubuntu 16.04).
MYSql 14.14

[2018-01-05 11:47] erikkubica commented on #7801
This worked for me:
Change grand-total component in checkout_cart_index to Magento_Tax/js/view/checkout/summary/grand-total

Thanks to @tomdollarmpd

[2018-01-05 12:00] #12300 closed, assigned to nobody

[2018-01-05 12:08] magento-engcom-team commented on #13005
@rigu12 Thanks for the report. We tried with a clean instance of Magento, and we weren't able to reproduce it. Please provide more information/steps in order for us to reproduce this issue. Also please clarify if you are using any 3'rd party code?

[2018-01-05 12:20] magento-team commented on #4292
Hi @digitalpianism. Thank you for your report.
The issue has been fixed in magento/magento2#12752 by @Etty in 2.2-develop branch
Related commit(s):
 - ba219b84c7fbf62825d1c35fd3a2ae73226955ac

The fix will be available with the upcoming patch release.

[2018-01-05 12:20] #4292 closed, assigned to Etty

[2018-01-05 12:20] magento-team commented on #7441
Hi @DariuszMaciejewski. Thank you for your report.
The issue has been fixed in magento/magento2#12963 by @wardcapp in 2.2-develop branch
Related commit(s):
 - 9794d38f266db3dc36f640b6a38615253f7eea3c

The fix will be available with the upcoming patch release.

[2018-01-05 12:20] magento-team commented on #2156
Hi @dmitry-fedyuk. Thank you for your report.
The issue has been fixed in magento/magento2#12953 by @dverkade in 2.2-develop branch
Related commit(s):
 - cfce6310fed212ebd22d8ceddf6a2d53d2a5d7c4

The fix will be available with the upcoming patch release.

[2018-01-05 12:20] #7441 closed, assigned to nobody

[2018-01-05 12:21] RomaKis commented on #7698
Working on this.

[2018-01-05 12:29] magento-engcom-team commented on #13006
@ramusadwika, thank you for your report.
We've created internal ticket(s) MAGETWO-86415 to track progress on the issue.

[2018-01-05 12:52] omiroshnichenko commented on #12271
Problem not in `grunt:exec`. Grunt command executes `dev:source-theme:deploy` command and put arguments from config. On first screenshot we can see that arguments correctly provided from grunt, but Exception says that file not exist. Are you sure that `style-m.less` file really exist under  path from config?

[2018-01-05 12:55] adamlavery commented on #12866
Agree with the sentiment here. New features like this should be by default disabled.

[2018-01-05 13:04] rparsi-commer commented on #5247
@lbetineli How about 2.3 CE?

[2018-01-05 13:28] samuelecarpene commented on #13007
@ferrazzuk this is not related to a console command. I see this error in the exception log (every 5/10 seconds 1 entry) but i'm not able to find where is the problem (maybe if i'll find where is the probelm i'll can solve it). Any idea to where to see or how to identify the origin of the exception?

[2018-01-05 13:31] ferrazzuk commented on #13007
@samuelecarpene if you use PHPStorm you can set your debugger to stop on SessionException's

[2018-01-05 13:40] magento-engcom-team commented on #12997
@RalphyRalpph The GitHub issue tracker is intended for technical issues only. Please refer to Softaculous support for this. Also, you can ask a question about this on the  [Community Forums](https://community.magento.com) or on the [Magento Stack Exchange](http://magento.stackexchange.com/). Thank you.

[2018-01-05 13:40] #12997 closed, assigned to nobody

[2018-01-05 13:43] samuelecarpene commented on #13007
@ferrazzuk the error is in the production env (where there insn't xdebug). The problem is that i cannot reproduce the error (as i said i have no idea where the code is generated) so i'm a step before debugging.

[2018-01-05 14:23] magento-engcom-team commented on #12993
@andrewhowdencom, thank you for your report.
We've created internal ticket(s) MAGETWO-86420 to track progress on the issue.

[2018-01-05 14:37] matin73 commented on #12095
Same on 2.2.2

[2018-01-05 14:48] korostii commented on #5247
@rparsi-commer Last time I checked, 2.3 wasn't released yet :)

[2018-01-05 14:55] rparsi-commer commented on #5247
@korostii Well I see the "Fixed in 2.3.x" label...so I thought one could checkout that version and try again

[2018-01-05 14:59] orlangur commented on #13007
Hi @samuelecarpene, not enough information to guess as to me. Too bad there is no full exception stack trace in the log file (can you add such logging on this prod env or there is no access to code?).

[2018-01-05 15:08] magento-engcom-team commented on #13004
@ATsunade , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-01-05 15:30] magento-engcom-team commented on #12819
@marius-bica, thank you for your report.
We've created internal ticket(s) MAGETWO-86420 to track progress on the issue.

[2018-01-05 16:02] orlangur commented on #13005
Hi @rigu12, thanks for bug report, it is a duplicate of https://github.com/magento/magento2/issues/12551. Feel free to share any additional information in that ticket.

[2018-01-05 16:02] #13005 closed, assigned to nobody

[2018-01-05 16:31] magento-engcom-team commented on #11247
@wintermute-84, thank you for your report.
The issue is already fixed in 2.2.4

[2018-01-05 16:31] #11247 closed, assigned to nobody

[2018-01-05 17:02] korostii commented on #5247
Well, it also says `Fixed in 2.1.x`, `Fixed in 2.2.x`, but that doesn't seem to be true neither.

Besides, in case of 2.3 it's of little use because it's basically a develop version, nowhere near stable and not suitable for use in production. Feel free to check it out all you want, but IMHO it would be a total waste of time in this case.

[2018-01-05 17:14] Nicelabsrl commented on #12981
Great @koenner01, It works!

Thanks!

[2018-01-05 17:31] rparsi-commer commented on #5247
@korostii I don't think this is in magento team's list of priorities, and even if eventually fixed by the time that happens do we even need a setup wizard?
I find it easier to just use the cli for such things.

[2018-01-05 17:49] danscan1712 commented on #12975
@magento-engcom-team
I updated the orginal text to include that the purchase method was credit cart authorize .net

[2018-01-05 17:49] webtipster commented on #12989
@orlangur Thank you!

So which would be the correct course of action, don't see any dependencies listed.

Should I run command `composer remove sjparkinson/static-review` or is it better to open composer.json, remove "sjparkinson/static-review": "~4.1", from the require section.

Then running `composer require phpro/grumphp` followed by
 `php bin/magento setup:upgrade`
 `php bin/magento setup:stat

[2018-01-05 17:51] danscan1712 commented on #9762
@Monika1802
I had the correct format to my post.  The issue seems to be with the type of payment method.  Money order works find but authorize.net (credit card) gives the issue.

[2018-01-05 19:05] jim5359 commented on #9762
It seems this issue has gotten off track.  This issue is specifically with bundles and trying to ship partial bundles.  The salesShipOrderV1 works fine for non bundles.  If you are having problems with non-bundles please create a separate issue so this one doesn't get diluted and confused.

[2018-01-05 19:06] orlangur commented on #12989
@webtipster you don't really need a replacement for this abandoned package (unless you use some of the grumphp functionality by yourself).

Better run command, but both actions lead to the same result.

Final version:
[code]

[2018-01-05 19:12] orlangur commented on #12989
@rigu12 looks like your real problem was

[RuntimeException]
Source class "\SignifydAvsDefault" for "SignifydAvsDefaultMapper" generation does not exist.

which is solvable by finding which code trying to access missing class or adding such class.

Another issue you reported is not an error but rather a warning, I'll address it by a pull request this weekend. Closing this issue for now, thanks for

[2018-01-05 19:12] #12989 closed, assigned to nobody

[2018-01-05 19:13] webtipster commented on #12989
@orlangur Excellent, that's what I thought. Thank you for clearing that up! Cheers!

[2018-01-05 19:15] wd7080 commented on #12446
@osrecio  Thanks! in which update version do you expect this to be released?

[2018-01-05 19:51] fwolfst commented on #12866
Nobody is scared that this is a sign that the developers are in need (the waving flag on the sinking ship)? ;) But fully agree. Especially together with https://github.com/magento/magento2/issues/12828 where this actually drives away users customers. Anyways, thanks for the PR @nfourteen

[2018-01-05 20:03] nuethicadam opened #13010 "Write a Review page works on multistore for products that are not assigned to that store"
### Preconditions
1. Install Magento 2.2.2 with no Sample Data
2. Create an additional Website and Storefront e.g. http://www.store1.com/ and http://www.store2.com/
3. Create a product that is assigned to website 1 only
4. Ensure http://www.store1.com/catalog/product/view/id/1 shows up correctly and http://www.store2.com/catalog/product/view/id/1 throws a 404.

### Steps to reproduce
1. Navigate d

[2018-01-05 20:58] chickenland commented on #12996
Looking at https://moz.com/blog/how-long-should-your-meta-description-be-2018 I'm guessing this would need to either remove the limit, or set it to around 350?

[2018-01-05 21:31] cacycleworks commented on #3038
If Google brings someone here debugging a 2.2.2 install, please do not try removing the luma theme. It breaks /bin/magento...

Curiously enough, `php bin/magento setup:static-content:deploy -f --exclude-theme="Magento/luma"` takes roughly 90 seconds to run an a mostly empty site. And it took roughly 90 seconds without adding `--exclude-theme="Magento/luma"`.

[2018-01-05 21:54] Chad-Mathews commented on #12490
@joebordo is right that it passes breakpoint value as a string. Another workout around I found without having to override that gallery.phtml is to just set the var value to an empty string so it returns false like I have it below.
`<var name="breakpoints">
        <var name="mobile">
            <var name="conditions">
                <var name="max-width">767px</var>
            </var>

[2018-01-05 21:58] DREC69 commented on #12996
300 is the limit Moz and the likes are suggesting (it might be truncated beyond that). 255 is definitely restrictive in terms of effective copy, given others will have more for CTR rates.

[2018-01-06 00:17] tony-sar commented on #12828
same issue with any ad blocker . it breaks the checkout process. I don't think any program should track user and store owners without their consent and their should be a way for this type of tracking to be turned off and it should be notified to store owners about them . i reinstalled 2.2.1 and i don't see this issue.
The more i spend working with magento on my current project , more i started to

[2018-01-06 00:24] lingwooc commented on #12828
Another solution is to just disable the Dotdigitalgroup_Email module. Its just cruft anyway.

[2018-01-06 00:26] iproger commented on #12899
@magento-engcom-team
[code]

[2018-01-06 08:16] hayatbiralem commented on #12986
I have the same problem.
I hope you can help as soon as possible.
Thanks.

[2018-01-06 09:31] istitutoculturaitaliana opened #13013 "custom tab implementation in admin product page not working on magento 2.2"
Hello, a simple implementation to add add a custom tab like the following in the edit product admin page

https://webkul.com/blog/add-tab-product-page-magento-admin/

is not working on magento 2.2 (while it works on magento 2.1.9)
On debug, the execution of the xml layout stops after the constructor of Block file
thank you

[2018-01-06 11:18] adamlavery commented on #12828
Disabling Dotdigitalgroup_Email isn't a solution where DotMailer integration is required. All tracking modules **must** fail gracefully and without further impact where end-users have implemented tools to block tracking.

[2018-01-06 11:30] vishalpatel14 commented on #12828
Still same issue and there is not solution.

[2018-01-06 11:59] jammy525 opened #13014 "magento 2.2.2 is returing 404 and store is not loading css js files"
Magento 2.2.2 is returning 404 and store is not loading css/js files
Please help me out. thanks.
### Preconditions
1. Magento version : 2.2.2
2. PHP 7.1.11-0ubuntu0.17.10.1 (cli) (built: Nov  1 2017 16:30:52) ( NTS )
3. MySQL 5.7.20
4. Server version: Apache/2.4.27 (Ubuntu), Server built:   2017-09-18T15:05:48

[2018-01-06 13:34] dverkade commented on #10869
I backported this issue to 2.2-develop branch and submitted a PR. This issue is still open for 2.1. In 2.1 the module database version is at 2.0.4. These changes are in version 2.0.7. Should the database changes in 2.0.5 and 2.0.6 be backported first in order to backport this issue to the 2.1-develop branch?

[2018-01-06 14:54] Naturegreen commented on #12913
### Preconditions

Magento 2.2.2
PHP 7.1
mysql 5.6
memcached

### Steps to reproduce
1. in app/etc/env.php . changed session storage
'session' =>
  array (
    'save' => 'memcached',
    'save_path' => '127.0.0.1:11211',
  ),
2. open web setup from backend.

### Expected result
it should open extension setup page

### Actual result

1. when open Web Setup Wizard ,it returns

Fatal error: Uncaught

[2018-01-06 14:59] syed786hasan commented on #10264
I am facing this issue when I open Products - Categories
Class Magento\Catalog\Model\Category\FileInfo does not exist

[2018-01-06 15:55] ashvinimarwal commented on #10264
@syed786hasan  Try the solution provided by the @zindont
It will fix the issue.
Thanks.

[2018-01-06 16:09] Naturegreen commented on #12913
I got memcached session default prefix "memc.sess." in phpinfo.
But in the error it tried to read session with prefix sess_

[2018-01-06 16:22] fwolfst commented on #12655
@ferrazzuk Awesome. confirm that fix works.

[2018-01-06 16:55] JackNorm opened #13017 "Magento2 doesn’t remember the currency or store view state when changing page in safari (but does in firefox)"
In a store with 2 or more currencies I can’t get Magento to remember the currency switch state using Safari browser. Everything works like a charm in for example Firefox.

But when using Safari and I switch currency from one to another and then navigate back, the currency is changing to the previous instead of changing to the previous page.
Please help me out.
Thanks.

### Preconditions
1. Magento

[2018-01-06 17:28] paul-javs commented on #8304
I can verify that this is an issue. I'm using Magento 2.2.2. Category is in the admin. I created a product in backend using category, exported products to verify and used that category text from exported csv to include in the other csv. I've re-indexed, cleared cache, nothing seems to work.

[2018-01-06 18:09] babyasishhira commented on #9910
@guvra thanks for the commit link, It solve the issue

[2018-01-06 19:17] oviliz commented on #5735
I have the suspect that this is rather an extension issue.

[2018-01-06 22:59] skukla commented on #11002
I can confirm I get this issue on 2.2.2 as well!

[2018-01-07 00:05] syed786hasan commented on #10264
Can you please share the soluion.

Unfortunately, I could not access the link you refered

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=link>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9F

[2018-01-07 00:10] oliverklee opened #13021 "Update pelago/emogrifier dependency to ^2.0.0"
Emogrifier 2.0.0 has been released, fixing a lot of bugs. If the new PHP >= 5.5 requirement is not a problem, the dependency should be updated to ^2.0.0.

[2018-01-07 04:13] gbaims opened #13022 "From pipeline deployment to the old way"
I've been trying to use the new pipeline deployment since the first 2.2 release candidate. Unfortunately, I have a few projects where it's been difficult to use the new config.php with all the configurations.

Is there a way to import all configurations to database and stop using the config.php to manage application specific configuration? Maybe some way to create a backup for the database with al

[2018-01-07 04:29] dasharath-wagento commented on #12320
dasharath-wagento:“#mm18in”

[2018-01-07 04:30] wagento-bhavin commented on #12938
wagento-bhavin:“#mm18in”

[2018-01-07 04:34] santhoshp commented on #12474
#mm18in

[2018-01-07 04:41] dharmendra-wagento commented on #12827
@magento-engcom-team,
I have verified issue in 2.2-develop branch and it was fixed. On guest checkout, create account from success page previously it was saving address of registered account in address book, but now it is not saving address of registered account in customer address.
So issue did not exist in 2.2-develop branch.

[2018-01-07 04:44] sanjay-wagento commented on #12336
Review in 2.2-develop branch and cannot reproduce an issue.
OS: Ubuntu 16.04
Magento Branch: 2.2-develop (Install without sample data)

[2018-01-07 04:48] magento-engcom-team commented on #12320
@dasharath-wagento thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 04:48] magento-engcom-team commented on #12938
@wagento-bhavin thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 04:48] magento-engcom-team commented on #12474
@santhoshp thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 04:48] magento-engcom-team commented on #6803
@jignesh26 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 04:54] rohit-wagento commented on #13006
rohit-wagento: “#mm18in”

[2018-01-07 04:55] magento-engcom-team commented on #13006
@rohit-wagento thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:05] nimitaemipro commented on #5129
“#mm18in I would like to work on this issues.

[2018-01-07 05:06] magento-engcom-team commented on #5129
@nimitaemipro thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:10] vinayshah commented on #12705
Hello I am looking for this issue #mm18in

[2018-01-07 05:11] magento-engcom-team commented on #12705
@vinayshah thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:13] RakeshJesadiya commented on #12987
Hello I am looking for this issue #mm18in.

[2018-01-07 05:14] magento-engcom-team commented on #12987
@RakeshJesadiya thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:14] nitin-bc commented on #12504
I am looking through this issue. #MM18IN

[2018-01-07 05:15] magento-engcom-team commented on #12504
@nitin-bc thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:16] shyamranpara commented on #12524
#MM18IN  Please assign this issue to me.

[2018-01-07 05:17] magento-engcom-team commented on #12524
@shyamranpara thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:21] RakeshJesadiya commented on #12987
@mzenner1 thank you for your report.
Unfortunately, we can't reproduce this issue. I have check above steps in Laest Version 2.2.2 for customers.
Check using existing customer and creating new customer, Edit Address and save,
Go To My Order Link and check its working fine.

Thanks.

[2018-01-07 05:21] #12987 closed, assigned to nobody

[2018-01-07 05:25] mayankzalavadia opened #13028 "After Migration Category not showing Product."
After Migration Category not showing Product.

After successfully migration with Magento 2.2.2 from Magento 1.8.0.0 data. Unfortunately, I have a Problem, I am not able to see any product under the category. Also not able to search the all migrated products as well.

I have traced out this Issue and what I find is this issue is related to placeholder images. Category products are not displayed aft

[2018-01-07 05:25] mayankzalavadia commented on #13028
#mm18in I would like to work on this issue.

[2018-01-07 05:26] magento-engcom-team commented on #13028
@mayankzalavadia thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:33] RakeshJesadiya commented on #13003
Hello I am looking for this issue #mm18in

[2018-01-07 05:37] manojxhtml786 commented on #12317
#MM18IN I would like to work on this issues.

[2018-01-07 05:38] magento-engcom-team commented on #12317
@manojxhtml786 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:38] dryadav commented on #12578
I would like to solve this issue #MM18IN

[2018-01-07 05:39] magento-engcom-team commented on #12578
@dryadav thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:41] rohit-wagento commented on #13006
I have created the product and set the dropdown options on manufacturer And
In Catalog >> Products grid, It shows option name in manufacturer column in grid
and also shows on filter, Please find attached screenshot
![manufacturer](https://user-images.githubusercontent.com/22287262/34646961-760a2c3a-f39b-11e7-9fee-5fa7a4a9c7e5.png)

[2018-01-07 05:44] hitarthpattani commented on #12317
#MM18IN

[2018-01-07 05:45] magento-engcom-team commented on #12317
@hitarthpattani thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:45] devamitbera commented on #12787
#mm18in

[2018-01-07 05:46] magento-engcom-team commented on #12787
@devamitbera thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:49] RakeshJesadiya commented on #13003
@saurastra-developer, We can't reproduce the issue.
Could you please check for other Text attributes, All having same issue or just issue with container_size.

We would close this issue.

[2018-01-07 05:52] mak0605 commented on #7399
Hello I am looking for this issue #mm18in

[2018-01-07 05:53] magento-engcom-team commented on #7399
@mak0605 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:55] bharatsingh67 commented on #12336
Hi I am looking in to the issue. Please assign me this #MM18IN

[2018-01-07 05:56] magento-engcom-team commented on #12336
@bharatsingh67 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:57] bhargavmehta commented on #12221
Working on fixing this issue #MM18IN

[2018-01-07 05:58] magento-engcom-team commented on #12221
@bhargavmehta thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 05:59] ss-wtw commented on #12323
Hi, I am looking into this issue.
Please assign me #MM18IN

[2018-01-07 06:00] magento-engcom-team commented on #12323
@ss-wtw thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 06:00] gagan67commerce commented on #12464
Please assign me this #MM18IN

[2018-01-07 06:01] magento-engcom-team commented on #12464
@gagan67commerce thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 06:01] paresh1 commented on #12711
I am looking for this issue #mm18in.

[2018-01-07 06:02] magento-engcom-team commented on #12711
@paresh1 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 06:23] mayankzalavadia commented on #13028
To resolve this issues I have put the placeholder images on **pub/media/catalog/product/placeholder/** and open the category page after refresh cache and all the category products are displayed.

[2018-01-07 06:24] ryantfowler commented on #11002
I can also confirm this on M2.2.2CE (open source).
<img width="719" alt="screen shot 2018-01-06 at 10 00 40 pm" src="https://user-images.githubusercontent.com/2093288/34647162-c3e9a7c6-f32f-11e7-8837-915234a3a674.png">

`select count(*) as 'jobs' from cron_schedule where status='pending';`
result: `32567` records

This is on an AWS c4.xlarge (4 vCPUs and 7.5GB RAM) and it's impacting performance q

[2018-01-07 06:35] monaemipro commented on #12320
Please assign me this issue #MM18IN

[2018-01-07 06:36] magento-engcom-team commented on #12320
@monaemipro thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 06:45] shrikantvaghela commented on #4628
Please assign me this #MM18IN

[2018-01-07 06:46] magento-engcom-team commented on #4628
@shrikantvaghela thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 06:51] karangar commented on #12825
please assign me #MM18IN

[2018-01-07 06:52] magento-engcom-team commented on #12825
@karangar thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 06:57] dryadav commented on #12578
@magento-engcom-team  The issue has been fixed in updated version.

[2018-01-07 07:17] ramusadwika commented on #13006
Hi Rohit,

@rohit-wagento @dmanners
Please do sorting on manufacturer field.
The values are disappearing after applying filter and sorting on manufacturer field.

[2018-01-07 07:40] dasharath-wagento commented on #12327
@magento-engcom-team ,
I have verified issue in 2.2-develop branch and it was fixed. When adding a new attribute using configurable's child product. It displays correctly.
So issue did not exist in 2.2-develop branch.

[2018-01-07 07:40] #12327 closed, assigned to nobody

[2018-01-07 07:48] rohit-wagento commented on #12489
I have checked in chrome and safari browser in real mobile device vimeo is playing on fullscreen and not blocking, and youtube is playing inline and on fullscreen nothing is blocking on my case, i use same setup you have defined

[2018-01-07 08:16] Erchiragdodia commented on #13013
@istitutoculturaitaliana

I have followd this link http://www.codextblog.com/magento-2/how-to-create-custom-tab-in-magento-2/ and its working.

Please ui component and modifier to create new tab.

[2018-01-07 08:28] devamitbera commented on #12892
#mm18in

[2018-01-07 08:47] hackrat commented on #12986
#mm18in

[2018-01-07 08:48] magento-engcom-team commented on #12986
@hackrat thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-01-07 08:48] ryantfowler commented on #11002
I ran with @andrewhowdencom 's approach, but implemented one without any 3rd party dependencies (such as n98-magerun or prometheus)

I created a directory in my magento installation's var directory called `cron_cleanup` to group everything together ... I also am using a standalone php script to interact with the db. Depending on someone's situation, this might not be acceptable, but it works for m

[2018-01-07 09:01] nitin-bc commented on #12504
I have checked the issue in 2.2 version. I can't reproduce this issue.

[2018-01-07 09:11] hackrat commented on #12986
@alexlitvinenko , I have checked for order with fraction qty 21.5 and I am able to Invoice and even creditmemo using fraction qty 21.5
![invoice_fraction_qty](https://user-images.githubusercontent.com/8564722/34648074-b77b3048-f3b8-11e7-8d78-4f94e33c7dd5.png)
![creditmemo_fraction_qty](https://user-images.githubusercontent.com/8564722/34648073-b733ceba-f3b8-11e7-81c7-ae8e17707922.png)

[2018-01-07 09:47] wagento-bhavin commented on #12938
I've reviewed the core magento code this issue occrued from the file

lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php line number 289.
This line calls the function format, to convert the date in required pattern.

I've checked the [http://php.net/manual/en/intldateformatter.format.php](url) and put below code in standalone php file and ran it in browser.
`<?php
$input = date('2018-12-3

[2018-01-07 10:45] nimitaemipro commented on #12305
I would like to work on this issue #MM18IN

[2018-01-07 10:46] rossmc commented on #12323
@ss-wtw & @magento-ensconced-team,

I submitted a PR for this yesterday. PR #13016.

Ross

[2018-01-07 10:48] shrikantvaghela commented on #4628
Hi @BenSpace48,
I have looked into this issue and come up with a solution that if we have only one type of file. We can create a different mixin only for that file type.
Code:
<pre>
.lib-ttf-font-face(
    @family-name,
    @font-path,
    @font-weight: normal,
    @font-style: normal
) {
    @font-face{
        font-family: @family-name;
        src: url('@{font-path}.ttf') format('truetype');

[2018-01-07 11:04] istitutoculturaitaliana commented on #13013
thank you Erchiragdodia,

    I've checked it and it works.

However there are some issues, like

I cannot set the order of tab

(through "sortOrder")

and I don't know if there will be issues

relating to it a phtml file.

 

What about the following solution ?

https://webkul.com/blog/add-tab-product-page-magento-admin/

 

It seems straightforward and it reflects my own

implementation.

What p

[2018-01-07 11:18] Lez-2 commented on #12892
Seems this issue already has a fix in M 2.2.

[code]

[2018-01-07 11:35] magento-team commented on #10869
Hi @steros. Thank you for your report.
The issue has been fixed in magento/magento2#13015 by @dverkade in 2.2-develop branch
Related commit(s):
 - 6c16fcbc89fcdf285a346f38b6a5276cba20c9fc

The fix will be available with the upcoming patch release.

[2018-01-07 11:35] #10869 closed, assigned to rogyar

[2018-01-07 14:45] JackNorm commented on #13017
Ok, after some more research the issue seams to be related to Safari back/forward cache.  So it also concerns for example:
1  add product
2 check mini cart
3 click go to cart from mini cart
4 at cart page, click back in safari browser

**Expected result**
magento goes back to previous page

**Actual result**
magento goes back to previous page AND the mini cart is still expanded.

By adding followi

[2018-01-07 20:34] azeemism commented on #12877
Hi @PieterCappelle , I have never created a PR before. I am not sure how to create one.

[2018-01-07 20:35] azeemism commented on #12878
@magento-engcom-team thanks

[2018-01-07 22:48] 4DallasC commented on #12938
Hello @wagento-bhavin

The date format is coming from:-
<pre>
    public function __construct(\Magento\Backend\Block\Template\Context $context, array $data = [])
    {
        $format = $context->getLocaleDate()->getDateFormatWithLongYear();
    }
</pre>

Can you please re-advise.

[2018-01-08 02:55] zindont commented on #10264
Did you update the new source code for your magento. I see the FileInfo class exist here (version 2.2) https://github.com/magento/magento2/blob/2.2/app/code/Magento/Catalog/Model/Category/FileInfo.php . Please check and make sure you have this file

[2018-01-08 03:02] syed786hasan commented on #10264
No I am still using 2.1.7 and problem persists here

On Jan 8, 2018 7:56 AM, "HỒ TRỌNG LINH ÂN" <notifications@github.com> wrote:

[2018-01-08 03:45] zindont commented on #10264
Which one you are using: a migrated or clear version of magento

[2018-01-08 04:05] syed786hasan commented on #10264
Migrated

On Jan 8, 2018 8:45 AM, "HỒ TRỌNG LINH ÂN" <notifications@github.com> wrote:

[2018-01-08 04:17] rohit-wagento commented on #13006
Hi @ramusadwika
you can temporary resolve this by following way,
- When you filter any column and sorting it column values gone blank, then try at that time sort other column and you will get the values of blank column, and then you can sort column which you want and you can sort the columns and not got blank columns issue,
For Example:
you are filtering manufacturer column and sorting it you will

[2018-01-08 05:01] versdivers commented on #12524
If you need any more information please let me know

[2018-01-08 05:15] Chiemo commented on #12861
I checked again the reason that no shipping method is offered.

Script stops at:

- jquery.js:10254  POST http://myaddress/rest/default/V1/carts/mine/estimate-shipping-methods-by-address-id 500 (Internal Server Error)

- jquery.js:10254 	xhr.send( ( options.hasContent && options.data ) || null );

Any ideas how to fix this?

Thanx,

Chiemo

[2018-01-08 06:41] ramusadwika commented on #13006
Thank you @rohit-wagento

[2018-01-08 07:25] ahmadvaqaskhan commented on #12921
Hi ,
I am also facing the same issue.
I have upgarded from Magento 2.1.7 to 2.2.2.
**Error Case** : When user logins and has items in his cart (originally added in 2.1.7) and tries to add product to cart (now its 2.2.2 as upgarded) , user gets the error

`Fatal error: Uncaught TypeError: Argument 1 passed to Temando\Shipping\Model\Checkout\Address::setServiceSelection() must be of the type array,

[2018-01-08 09:03] franckgarnier21 commented on #12900
I have the same issue when T&C checkbox is enabled. I think you need to do the same fix an agreement-validator.js

Thanks,

[2018-01-08 09:11] PierreLeMaguer opened #13046 "Problem with catalog filters and text swatch attributes"
Hello,
I have a problem with filtering by a text swatch. I have a product attribute 'shoe size' and several values ('40', '40 1/3', '40 2/3', ... ). On a category page (for example 'Shoes'), when I filter by '40 1/3', the filters '40', '40 1/3', '40 2/3' are selected.

### Preconditions

Magento version 2.1.9

### Steps to reproduce
1. Create a product attribute with input type = text swatch (for

[2018-01-08 09:17] cscd98 opened #13047 "Redis cache fallback?"
Rather than crashing Magento, it would be nice if redis cache had an option to fall back to var/cache etc. when redis has died.

### Preconditions
1. Magento 2.2.2
2. PHP 7.1
3. Redis 3.2.8

### Steps to reproduce
1. Redis server to crash

### Expected result
1. Magento should fall back to it's own cache, not crash.

### Actual result
1.
[code]

[2018-01-08 09:42] Yonn-Trimoreau commented on #12828
Here is a solution that works for all JS files required through `data-mage-init`:

In your theme, create the file: `design/frontend/<Vendor>/<theme>/web/mage/apply/main.js`

Copy & paste contents from: `vendor/magento/magento2-base/lib/web/mage/apply/main.js`

Add a third parameter to the require function call inside the `init` function:

[code]

As an example, for Magento 2.2.2, you should replac

[2018-01-08 10:33] dooblem opened #13048 "Wrong default permissions after composer install"
I believe that there is a problem with the permissions set by many modules.
I checked some of our productions platform this morning and they all have this permission problem.

And setting the permissions with the find command as documented will only fix the group permissions, not the permissions for other users.

### Preconditions
1. magento 2.3.4 composer installation

### Steps to reproduce
1. C

[2018-01-08 11:13] franckgarnier21 commented on #7862
On my side, the problem comes from the LocaleQuickDeploy which copy the js translation file from first locale to the new local without regeneration.

[2018-01-08 11:15] hostep commented on #12828
@Yonn-Trimoreau: sounds like a good solution.

Any chance you could propose this in a Pull Request, I think the Magento devs will be able to give you faster feedback when creating a PR then they will in this issue, since they don't seem to think this is a real issue :p

[2018-01-08 11:22] wagento-bhavin commented on #12938
Could you please let me know from which file you found this code. I search through the M2 source directory for above funciton. However I couldn't found that code in that.
getDateFormatWithLongYear() only exist in lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php, but it was not being called on running the code to format date.

Please provide me file path in which above constructor code e

[2018-01-08 11:30] BenSpace48 commented on #4628
That would also work, thanks @shrikantvaghela

[2018-01-08 11:34] miguel-fcmoto opened #13053 "Attribute Input fields to small when using many multistores"
Hi together,

we have many multi stores in our new magento shop. When we want to add content into the attribute value fields it is very complicate because there is not enough space to see more then 3 characters. This is because the fields are to small. All fields are added in horicontal. Is it possible to add the fields in vertical. I saw it last time in another shop system. They place the default

[2018-01-08 12:18] pradeepnew opened #13054 "After upgrade magento 2.1.0 to 2.2.1 product export not working"
After upgrade magento 2.1.0 to 2.2.1 product export redirect to dashboard.

### Preconditions
1. magento ver 2.2.1
2. php 7

### Steps to reproduce

1. Click on System > Export
2. then choose entity type Product and then scroll and click on continue.

### Expected result
1. Download csv  with products.

### Actual result
1. Its redirect to dashboard.

[2018-01-08 12:30] deadlyw1re opened #13055 "Error in Stores->configuration->advanced->system"
### Preconditions

1.  Magento version 2.2.2

### Steps to reproduce

1.  Update from 2.1.7 to 2.2.2

### Expected result

1.  List of enabled modules

### Actual result

1. Error

[code]

[2018-01-08 12:40] franckgarnier21 commented on #5775
Any updated on this feature request ?

[2018-01-08 12:52] allamsettiramesh opened #13056 "Not able to override Block \Magento\Directory\Block\Data with following method getCountryHtmlSelect()"
I am trying to override Block `\Magento\Directory\Block\Data` with following method `getCountryHtmlSelect()` with following script. but it's not executing

di.xml :

  `<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Directory\Block\Data" type="Magent

[2018-01-08 13:04] Vishrootways commented on #8700
Same issue facing with Magento CE 2.2.2.

[2018-01-08 13:18] Yonn-Trimoreau commented on #12828
Yes, I could.

But what's bothering me is that I found a solution only for scripts initiated using `data-mage-init`. Behavior won't be uniform across all required scripts. I would have preferred a "catch all" solution.

I'm still looking for enhancements, maybe [here](https://gist.github.com/Integralist/1599546#file-example-error-handling-js)... It would be very interesting if a Magento core devel

[2018-01-08 13:44] superdea opened #13058 "Default DHL allowed methods is not being applied correctly Magento 2.1.8"
### Preconditions
1. Magento version 2.1.8.

### Steps to reproduce
1. Go to Stores > Sales > Shipping Methods > DHL
2. **Enable for checkout:** Yes
3. **Gateway URL**: set to test url given by DHL support
4. **Access ID, password** and **account number** set to the credentials given by DHL support
5. **Content Type:** Non documents
6. **Calculate Handling Fee:** Fixed
7. **Handling Applied:** Per

[2018-01-08 13:56] emiprotech commented on #13055
I would link to work on this issues #MM18IN