[2019-03-11 07:37] magento-engcom-team commented on #21655
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 07:37] magento-engcom-team commented on #21642
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 07:38] magento-engcom-team commented on #21657
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 07:40] engcom-backlog-nazar commented on #21664
Hi @ankit-root , problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-03-11 07:40] #21664 closed, assigned to nobody

[2019-03-11 07:42] engcom-backlog-nazar commented on #21655
Hi @danemacmillan thank you for you report, closing  this as duplicate to this -> https://github.com/magento/magento2/issues/16806

[2019-03-11 07:42] #21655 closed, assigned to nobody

[2019-03-11 07:44] engcom-backlog-nazar commented on #21657
HI @aleromano89 thank you for you report, this is expected behavior.

[2019-03-11 07:44] #21657 closed, assigned to nobody

[2019-03-11 07:46] engcom-backlog-nazar commented on #21642
Hi  @OvalMedia   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-03-11 07:46] #21642 closed, assigned to nobody

[2019-03-11 07:48] magento-engcom-team commented on #21634
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 07:50] engcom-backlog-nazar commented on #21634
Hi  @bartoszkubicki thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-03-11 07:50] #21634 closed, assigned to nobody

[2019-03-11 07:51] magento-engcom-team commented on #21659
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 07:51] avstudnitz commented on #7931
Following RFC doesn't help if customers can't buy. I'd like to have the number customizable via backend - would such a PR be accepted? If there'd have been a config option, we'd have been aware of that potential problem. Especially Magento Commerce clients will probably run into this trap again and again - it's not too uncommon to have a few dozen cookies.

[2019-03-11 07:52] magento-engcom-team commented on #21232
Hi @m-a-x-i-m. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-03-11 07:53] avstudnitz commented on #7931
Agree, with that change, it's not a big problem any more. It's not in 2.2.7 unfortunately.

[2019-03-11 08:07] engcom-backlog-nazar commented on #21659
Hi @garmentprinterink

The issue was reproduced in 2.3.0 but **fixed** in 2.3-develop.

So, Please wait for a feature release 2.3.1.

Thank you!

[2019-03-11 08:07] #21659 closed, assigned to nobody

[2019-03-11 08:14] magento-engcom-team commented on #7637
Hi @lisovyievhenii. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-03-11 08:16] magento-engcom-team commented on #21493
Hi @iproger. Thank you for your report.
The issue has been fixed in magento/magento2#21498 by @Jitheesh in 2.3-develop branch
Related commit(s):
 - [50647c4458baaa14f6f48eed82cd4fb51a204a15](https://github.com/magento/magento2/commit/50647c4458baaa14f6f48eed82cd4fb51a204a15)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-11 08:16] #21493 closed, assigned to nobody

[2019-03-11 08:16] magento-engcom-team commented on #21499
Hi @wojtekn. Thank you for your report.
The issue has been fixed in magento/magento2#21509 by @lfluvisotto in 2.3-develop branch
Related commit(s):
 - [539766f41049e8e86490b2861de8c98227236198](https://github.com/magento/magento2/commit/539766f41049e8e86490b2861de8c98227236198)
 - [fd3344be60488b5f59c4fcffb1080c2a7689ad81](https://github.com/magento/magento2/commit/fd3344be60488b5f59c4fcffb1080c2a

[2019-03-11 08:16] #21499 closed, assigned to lfluvisotto, magento-engcom-team

[2019-03-11 08:16] magento-engcom-team commented on #20527
Hi @vasilii-b. Thank you for your report.
The issue has been fixed in magento/magento2#20528 by @vasilii-b in 2.3-develop branch
Related commit(s):
 - [af11e87e2d01c293cd7b59e2731631f6662def06](https://github.com/magento/magento2/commit/af11e87e2d01c293cd7b59e2731631f6662def06)
 - [ed2a80c45a3dee49380f8c6cc9cd971f2045c121](https://github.com/magento/magento2/commit/ed2a80c45a3dee49380f8c6cc9cd971f

[2019-03-11 08:16] magento-engcom-team commented on #19276
Hi @ankurverma5540. Thank you for your report.
The issue has been fixed in magento/magento2#19376 by @sarfarazbheda in 2.3-develop branch
Related commit(s):
 - [6c5dd94b88bcb34f620c7e84d5aa458bd2132307](https://github.com/magento/magento2/commit/6c5dd94b88bcb34f620c7e84d5aa458bd2132307)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-11 08:16] #20527 closed, assigned to vasilii-b

[2019-03-11 08:16] #19276 closed, assigned to sarfarazbheda

[2019-03-11 08:17] kanduvisla opened #21681 ""Something went wrong while compiling generated code." when submitting package to marketplace"
I'm posting this question in the GitHub issue tracker, because I feel it is the only place where I can get support from Magento core developers. Mainly because:

- The "Support" link when submitting an extension refers to the (more generic) marketplace help center.
- If I click on "Submit a ticket" on the marketplace help center, it simply redirects to the "default" help center (i.e.: I can not su

[2019-03-11 08:17] magento-engcom-team commented on #21681
Hi @kanduvisla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-11 08:20] magento-engcom-team commented on #21667
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 08:21] oleksandrmakhno commented on #6126
1. for some category the issue is reproducible on M2.2.4
2. the solution with di preference for \Magento\Framework\Data\Collection is not working
3. likely it's data issue (after import for example) and can be fixed by data manipulation with some table

[2019-03-11 08:21] magento-engcom-team commented on #21646
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 08:27] gavinhoman commented on #21680
@laladtn Did you notice if the 'status Active or Inactive' toggle is visible when you created the price rule? I was just about to raise a similar issue with v2.3.0 and for me, it is set to 'display:none' so the rule cannot be activated in the first place. I noticed this on 2.2.0 version and 2.2.7 version for other sites we look after.

![image](https://user-images.githubusercontent.com/1886820/541

[2019-03-11 08:34] harshvardhanmalpani opened #21682 "Existing simple product can not become configurable via csv Import"
### Preconditions (*)
Magento 2.2.3

### Steps to reproduce (*)
1. Create a simple product
2. Try to upload csv with product_type changed to configurable and 2 new products as its variants

### Expected result (*)
1. The previous product becomes configurable and has 2 variants

### Actual result (*)
All 3 products remain simple products and no link in between.

@magento-engcom-team give me 2.2.3 i

[2019-03-11 08:34] magento-engcom-team commented on #21682
Hi @harshvardhanmalpani. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-03-11 08:35] harshvardhanmalpani commented on #21682
@magento-engcom-team give me 2.2.3 instance

[2019-03-11 08:35] magento-engcom-team commented on #21682
Hi @harshvardhanmalpani. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2019-03-11 08:35] magento-engcom-team commented on #21682
Hi @harshvardhanmalpani, here is your [Magento instance](https://i-21682-2-2-3.instances.magento-community.engineering).
Admin access: [https://i-21682-2-2-3.instances.magento-community.engineering/admin](https://i-21682-2-2-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-11 08:41] OvalMedia commented on #21642
I will do. But I think this is more of a bug than a feature request.

[2019-03-11 08:46] engcom-backlog-nazar commented on #21656
HI @danemacmillan thank you for you report,
![DeepinScreenshot_select-area_20190311104502](https://user-images.githubusercontent.com/40756439/54110724-ce0ede80-43ea-11e9-95dc-5531734fff1d.png)
this options uses, you may create issue on dev-docs. https://github.com/magento/devdocs

[2019-03-11 08:46] #21656 closed, assigned to nobody

[2019-03-11 08:47] magento-engcom-team commented on #21682
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 08:47] harshvardhanmalpani commented on #21636
Yes, I was able to reproduce it on vanilla installation of Magento 2.2.3
Uploaded a CSV to generate 1 simple product
`"sku","attribute_set_code","product_type","name","configurable_variations","configurable_variation_labels","visibility","price","product_online","product_websites","qty","is_in_stock","size"
"th3pirat3-dummy-product","Default","simple","dummy name for dummy product",,,"Catalog, Sea

[2019-03-11 08:50] harshvardhanmalpani commented on #21682
Yes, I was able to reproduce it on vanilla installation of Magento 2.2.3
Uploaded a CSV to generate 1 simple product

 "th3pirat3-dummy-product","Default","simple","dummy name for dummy product",,,"Catalog, Search",221,1,"base",34,1,

https://prnt.sc/mw7968

Uploaded a CSV to generate 2 new simple product and update previous one as configurable (with blank cell for price column)

"th3pirat3-dummy-

[2019-03-11 08:52] engcom-backlog-nazar commented on #21682
@magento-engcom-team give me 2.3-develop instance

[2019-03-11 08:52] magento-engcom-team commented on #21682
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-11 08:53] magento-engcom-team commented on #21682
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21682-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21682-2-3-develop.instances.magento-community.engineering/admin](https://i-21682-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-11 09:14] jorgb90 commented on #19710
Same here how did you remove the unused references in catalog_product_entity_media_gallery ?

[2019-03-11 09:15] laladtn commented on #21680
@gavinhoman I don't think there's any Status field when the rule is created in magento 2 EE but the "Schedule Update" feature.

[2019-03-11 09:20] magento-engcom-team commented on #21596
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-11 09:23] netzwelt-nishu commented on #3028
Hi,
I am opening this issue, because i am still facing this problem in Magento 2.3.0. Can you guys please mention which workaround for you.

[2019-03-11 09:24] sperl755 commented on #18841
was this issue fixed?  experiencing it in magento 2.3.0,

[2019-03-11 09:28] ihor-sviziev commented on #7739
FYI This issue was fixed in 2.2-develop branch and planned to be included to 2.2.9 release
https://github.com/magento/magento2/pull/18471

[2019-03-11 09:29] engcom-backlog-nazar commented on #21682
HI @harshvardhanmalpani thank you for you report, this is expected behavior, and its not best practice to create configurable via import, please use API.

[2019-03-11 09:29] #21682 closed, assigned to nobody

[2019-03-11 09:32] simonmaass commented on #7658
same here...

[2019-03-11 09:33] peterjaap commented on #7658
Unfortunately it seems this is not a priority for Magento

[2019-03-11 09:34] magento-engcom-team commented on #21636
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 09:35] peterjaap commented on #7658
Another thought is to leave out the Product Configuration matrix altogether so this huge JSON blob isn't needed. We'd probably need to modify the controller that handles the post data and the validator as well to make sure the connection with the simple products isn't removed after saving when we remove the matrix.

[2019-03-11 09:43] engcom-backlog-nazar commented on #21636
HI @tkymuk thank you for your report, issue already here -> https://github.com/magento-engcom/import-export-improvements/issues/90

[2019-03-11 09:43] #21636 closed, assigned to nobody

[2019-03-11 09:44] ansari-krish commented on #21612
@magento-engcom-team give me 2.3-develop instance

[2019-03-11 09:44] magento-engcom-team commented on #21612
Hi @ansari-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-11 09:45] magento-engcom-team commented on #21679
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 09:45] magento-engcom-team commented on #21612
Hi @ansari-krish, here is your [Magento instance](https://i-21612-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21612-2-3-develop.instances.magento-community.engineering/admin](https://i-21612-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-11 09:52] onepack commented on #21678
Hi @magento-engcom-team
I can confirm that the first steps are made.

I have an other fresh install with demo content for an other project and there the same issue is present.

Not the selected option value label is stored in the fulltext table but the option value number.

![fulltext_store2](https://user-images.githubusercontent.com/475598/54114843-948aa300-43eb-11e9-9df3-ad5e1d6739b9.png)

[2019-03-11 10:19] josefbehr commented on #19441
@engcom-backlog-nazar unfortunately, this does not help. I had to overwrite Zend Client.php and Http.php to get it working. Please re-open this issue unless you can definitely show that it is fixed.

[2019-03-11 10:44] gavinhoman commented on #21680
@laladtn is that by design then? It's in the schedule popout so by default it looks like the rule is 'inactive' and then only available to be 'active' if you set a start and end date via the scheduler?

[2019-03-11 10:44] engcom-backlog-nazar commented on #21679
HI @CKENT0369 thank you for you report, i;m not able to reproduce following steps you described on clean magento 2.3-develop instance.

[2019-03-11 10:44] #21679 closed, assigned to nobody

[2019-03-11 10:53] dmak opened #21684 "Currency sign for "Layered Navigation Price Step" is not according to default settings"
### Preconditions (*)

1. Magento CE 2.7 or 2.3
2. Please set Base Currency = Euro
3. Please set Default Currency = Euro
4. Please set Allow Currency = Euro

### Steps to reproduce (*)

1. Go to catalog --> Categories --> Add Sub Category
2. Expand Display Settings
3. Check currency symbol in Layered Navigation Price Step

### Expected result (*)

With these settings the currency displayed in Laye

[2019-03-11 10:53] magento-engcom-team commented on #21684
Hi @dmak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2019-03-11 10:57] onepack commented on #21678
Searching on the frontend with pictures.
I should get the joust duffle bag but I get suggestions.
![Joust Duffle Bag](https://user-images.githubusercontent.com/475598/54118952-7bd2bb00-43f4-11e9-8a92-0bef5e36ac08.png)

Searching with the number 213 that stands for BrandA in the Manufacturer attribute dropdown options gives me the product.
![Joust Duffle Bag2](https://user-images.githubusercontent.

[2019-03-11 11:10] laladtn commented on #21680
Yes I schedule the campaign and set the status to "acitve" already. I tried reindex, clear cache everything but nothing seems to work.
![image](https://user-images.githubusercontent.com/40824750/54119660-7727fa00-4428-11e9-8f43-c2a19e171556.png)

In the Content Staging Dashboard, those campaigns are "Upcoming" and won't change to "Active" even though it's pass Start date
![image](https://user-imag

[2019-03-11 11:15] hiren0241 commented on #21684
@magento-engcom-team give me 2.3-develop instance

[2019-03-11 11:15] magento-engcom-team commented on #21684
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-11 11:15] magento-engcom-team commented on #21684
Hi @hiren0241. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-11 11:16] magento-engcom-team commented on #21684
Hi @hiren0241, here is your [Magento instance](https://i-21684-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21684-2-3-develop.instances.magento-community.engineering/admin](https://i-21684-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-11 11:19] rddwh commented on #20366
@usamahabib786 I've managed to get the products in using only the **rest/async/bulk/V1/products** endpoint.  The process was to upload all the simple products first, download the results from the bulk status endpoint and read the product IDs.  Once you have them you can send a payload for the configurable products and include the configurable options and child linking e.g:

`"configurable_product_

[2019-03-11 11:30] jafar247commerce commented on #15115
There is a problem in Query,
I am getting below error after running the above query.

SQLSTATE[HY000]: General error: 1093 You can't specify target table 'quote_address' for update in FROM clause,

[2019-03-11 11:55] magento-engcom-team commented on #21684
@hiren0241 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-03-11 11:58] magento-engcom-team commented on #21684
:white_check_mark: Confirmed by @hiren0241
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-03-11 11:58] hiren0241 commented on #21684
@magento-engcom-team give me 2.2-develop instance

[2019-03-11 11:58] magento-engcom-team commented on #21684
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-11 11:59] magento-engcom-team commented on #21684
Hi @hiren0241, here is your [Magento instance](https://i-21684-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21684-2-2-develop.instances.magento-community.engineering/admin](https://i-21684-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-11 12:05] magento-engcom-team commented on #21684
Hi @hiren0241. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-03-11 12:17] ladle3000 opened #21686 "Admin Session Issues Magento 2.3.0"
### Preconditions (*)

1. Magento 2.3.0
2. Garbage collection set to 24 hours in php

### Steps to reproduce (*)

1. Set admin account to be shareable to login from multiple locations.
2. Set admin cookie time to be 86400 (1 day)
3. Login on device and do work.
4. Step away from that machine or device for a couple hours and am asked to login again.

### Expected result (*)

1. Should be 24 hours t

[2019-03-11 12:17] magento-engcom-team commented on #21686
Hi @snoroozi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-11 12:21] ladle3000 opened #21687 "Magento 2.3.0 Newsletter Module Problem"
### Preconditions (*)

1.  Magento 2.3.0

### Steps to reproduce (*)

1. Queue a newsletter to more than one subscriber. For example, 100.

### Expected result (*)

1. Default magento settings should send to 100 subscribers in 2 cron runs I believe. The observer indicates 3 batches of 20 per every cron run, which is by default 5 min for the newsletter module.

### Actual result (*)

1.  Look at qu

[2019-03-11 12:21] magento-engcom-team commented on #21687
Hi @snoroozi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-11 12:23] snoroozi commented on #21686
Give me a 2.3.0 test instance.

[2019-03-11 12:25] harshvardhanmalpani commented on #21682
How is this expected behavior?
The type_id in catalog_product_entity changes from simple to configurable when we create configurable products manually from Magento Admin UI, same should happen on CSV upload.
Best practice or not, if a feature is available for use, people are going to use it.

I tried using API,
POST xxx/rest/all/V1/configurable-products/th3pirat3-dummy-product/options
with payload

[2019-03-11 12:32] engcom-backlog-nazar commented on #21667
Hi @dharake thank you for your report, i'm not able to reproduce following steps you described, this may be related to your configuration, or some custom modules.

[2019-03-11 12:32] #21667 closed, assigned to nobody

[2019-03-11 12:38] dharake commented on #21667
No modules installed, and clearly the issue is from magento/module-configurable-product. Once again, you guys just close the topic. What's the point in reporting bugs if you guys don't listen?

Will fix it myself and come back with a solution for the users that no doubt will have the same error.

#magento #newslogan #notabletoreproduce

[2019-03-11 12:41] usamahabib786 commented on #20366
@rddwh thanks for responding, its seem this is the only approach as of now until magento fixes that approach mentioned in official documentation. i am also using it. but how you were able to send this big number of products as i tried posting 3200 approx and i got exception of too big data packet from api it self.

[2019-03-11 12:47] garmentprinterink commented on #21659
Thank you very much. Do you have any idea when 2.3.1 will be released?

On Mon, Mar 11, 2019 at 4:08 AM engcom-backlog-nazar <
notifications@github.com> wrote:

[2019-03-11 12:49] engcom-backlog-nazar commented on #21667
@dharake i'm have run the jobs of "newrelic" about 4 hours, and have no errors so what i need else to do  to replicate this issue ?

[2019-03-11 12:49] dharake commented on #21667
Have you created configurable products?

[2019-03-11 12:51] engcom-backlog-nazar commented on #21667
@dharake, yes 2 configurable product 1 created before jobs run, 1 after.

[2019-03-11 12:55] dharake commented on #21667
I'll get back to this with findings after further testing, but I think it's a bit premature to close the topic no? Again, Vanilla Magento, only imported product catalogue through CSV. This is the only exception I am getting, otherwise it's a very healthy deployment.

[2019-03-11 12:55] Tjitse-E commented on #16779
We're having the same issue on Magento 2.2.7. @magefan 's fix worked in our case.

[2019-03-11 12:57] engcom-backlog-nazar commented on #21667
@dharake feel free to reopen issue if issue still present.

[2019-03-11 12:59] ghost opened #21688 "Parameter length makes a mistake in isArrayLike function"
### Summary (*)

Magento 2.3
The browser is Google Chrome
### Steps to reproduce (*)

I have a form in admin panel and it has JSON code after clicking on submit button

Then function "flatten" from file vendor/magento/magento2-base/lib/web/mage/utils/objects.js run

Then function "isArrayLike" from file vendor/magento/magento2-base/lib/web/underscore.js run
### Examples (*)
I showed the reproduced

[2019-03-11 12:59] magento-engcom-team commented on #21688
Hi @Faradey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-11 13:01] sanjay-github commented on #21428
@mvillarejoruiz :

Exactly, I think the issue should be reopened.

[2019-03-11 13:06] rddwh commented on #20366
@usamahabib786 I'm sending 500 SKUs at a time.  The payloads get queued in RabbitMQ so there's no need to send them up in 1 go.

[2019-03-11 13:16] tkymuk commented on #21636
@engcom-backlog-nazar is there a fix or a work around in place for this yet?

[2019-03-11 13:24] manutecon2 commented on #21428
https://github.com/magento/magento2/commit/0b1983133d48e393388808d0592ccf00d1e540e6

This commit solves the problem

[2019-03-11 13:30] magento-engcom-team commented on #14882
Hi @domeglic. Thank you for your report.
The issue has been fixed in magento/magento2#21598 by @lisovyievhenii in 2.2-develop branch
Related commit(s):
 - [9688409fa3c1ec27575bda44dec9539615d0495a](https://github.com/magento/magento2/commit/9688409fa3c1ec27575bda44dec9539615d0495a)
 - [6bc7575f15364210c091a9a6002fb83988f6c54d](https://github.com/magento/magento2/commit/6bc7575f15364210c091a9a6002f

[2019-03-11 13:30] magento-engcom-team commented on #21327
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#21569 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [b169fe3f94c7107bb9f88380b530d00a812f765a](https://github.com/magento/magento2/commit/b169fe3f94c7107bb9f88380b530d00a812f765a)
 - [b2d04ca9882e660cf60de599b1446620f5f5ae91](https://github.com/magento/magento2/commit/b2d04ca9882e660cf60de599b14466

[2019-03-11 13:30] magento-engcom-team commented on #21425
Hi @mrtuvn. Thank you for your report.
The issue has been fixed in magento/magento2#21568 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [080743fba05fdcc4cfb98fd9bcdc15e39d7e02d9](https://github.com/magento/magento2/commit/080743fba05fdcc4cfb98fd9bcdc15e39d7e02d9)
 - [2b41017794d74966ed2df9932d7d1d33518475f1](https://github.com/magento/magento2/commit/2b41017794d74966ed2df9932d7d1d335

[2019-03-11 13:54] harshvardhanmalpani commented on #21636
@tkymuk can you check `type_id` and `has_options` in table `catalog_product_entity` for your configurable products?
I had a similar issue #21682  and  I worked around it using the following command

[2019-03-11 13:55] distvan commented on #6126
I can't reproduce with a clear M2.3.0 install but only an other existing store with some extension, maybe there are some data inconsistencies around the cataloginventory_stock_item table..... Here is a plus one record.

[2019-03-11 13:56] magento-engcom-team commented on #21614
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98649`, `MAGETWO-98650` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-11 13:57] magento-engcom-team commented on #21671
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 13:57] magento-engcom-team commented on #21672
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 14:02] magento-engcom-team commented on #21644
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 14:06] dharake commented on #21667
@engcom-backlog-nazar kindly reopen

[2019-03-11 14:09] danemacmillan commented on #21656
@engcom-backlog-nazar

This is exactly my point; your screenshot unwittingly demonstrates it. That is the `SYMLINK_LOCALE` constant that is assigned its option name, `symlink-locale`, then defined as an option in the `getBasicOptions` method, then nothing more is done. That option is never used anywhere. It's just a dud, doing nothing. It's literally just an option that does nothing. How, in your

[2019-03-11 14:11] engcom-backlog-nazar commented on #21644
HI @thanhdv2811 thank you for you report, this is not best practice to get customer id. please use
`$this->customerSession->getCustomer()->getId()`

[2019-03-11 14:11] #21644 closed, assigned to nobody

[2019-03-11 14:13] dharake commented on #21667
So on further inspection, the issue here is that the function is returning a boolean FALSE value or a NULL value. I haven't yet pinpointed from which records this is coming from, however I have managed to find a work around to stop the Cron job from spazzing out.

In vendor/magento/module-configurable-product/Model/ResourceModel/Product/Type/Configurable/Product/Collection.php @ line 82

Commment

[2019-03-11 14:17] eduard13 commented on #20527
@magento-engcom-team give me 2.2-develop instance

[2019-03-11 14:17] magento-engcom-team commented on #20527
Hi @eduard13. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-11 14:18] magento-engcom-team commented on #20527
Hi @eduard13, here is your [Magento instance](https://i-20527-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20527-2-2-develop.instances.magento-community.engineering/admin](https://i-20527-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-11 14:19] engcom-backlog-nazar commented on #21667
@dharake this is not good idea to check if this an array because this in all cases must be array,
we need find out why you have this issue, and replicate this in clean magento. then we be able to fix this issue. but now not clearly understand if this issue on magento side.

[2019-03-11 14:26] santhoshnsscoe opened #21689 "Category Layout Update XML not working in production"
### Preconditions
1. Magento 2.2.7
2. Production Mode

### Steps to reproduce
1. In category admin page, got to Design >  Layout Update XML
2. Add custom layout xml code

### Expected result
1. The xml layout changes should get updated in frontend

### Actual result
1. Not layout updates are getting applied.
2. In developer mode, the layouts are working fine, but in production mode, it is not work

[2019-03-11 14:27] magento-engcom-team commented on #21689
Hi @santhoshnsscoe. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-11 14:55] tkymuk commented on #21636
@harshvardhanmalpani thanks for the reply...is this a code edit or a table in phpMyAdmin?

[2019-03-11 14:57] vlauria commented on #4409
Hi,
i have this issue in 2.2.6.

[2019-03-11 15:04] magento-engcom-team commented on #21648
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-11 15:17] Bartlomiejsz opened #21692 "Incorrect constructor of Magento\Sales\Model\Order\Address\Validator"
### Summary (*)
Tested on 2.3, but exactly same logic is included in this constructor on 2.2-develop branch.
Constructor of `Magento\Sales\Model\Order\Address\Validator` includes logic and should not. The reason of it is that if this class is injected in constructor in Cli Command in some custom module, installation of Magento fails.

### Examples (*)

1. Add custom module with Cli Command in whic

[2019-03-11 15:18] magento-engcom-team commented on #21692
Hi @Bartlomiejsz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-11 15:23] megamosa commented on #14674
the best fix to this issue just replace
___from_store
to
___store
in
vendor/magento/module-catalog/Controller/Product/View.php
and
vendor/magento/module-catalog/Controller/Category/View.php

[2019-03-11 15:43] tomekjordan commented on #21686
better check your server php settings.... its not a bug

[2019-03-11 15:48] snoroozi commented on #21686
Already have checked. And only started after 2.2.5 to 2.3 and switch to
phone 7.2 from 7.1.

On Mon, Mar 11, 2019, 11:44 AM Tomek <notifications@github.com> wrote:

[2019-03-11 16:33] TomashKhamlai commented on #21637
@magento-engcom-team give me 2.3-develop instance

[2019-03-11 16:33] magento-engcom-team commented on #21637
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-11 16:33] magento-engcom-team commented on #21637
Hi @TomashKhamlai, here is your [Magento instance](https://i-21637-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21637-2-3-develop.instances.magento-community.engineering/admin](https://i-21637-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-11 16:34] treii28 opened #21696 "Authorize.Net MD5 end-of-life patch not working"
Magento v2.2.4
Auth.net.md5.composer-2019-02-27-11-51-12.patch

Apply patch, remove Transkey and MD5 hash values, add new generated signature
run a payment through the cart using credit card

### Expected result (*)
Payment successful

### Actual result (*)
Initially I still had the Transkey and MD5 values inserted as there was nothing in the instructions from Magento/Authorize to remove them. It

[2019-03-11 16:34] magento-engcom-team commented on #21696
Hi @treii28. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-11 17:39] treii28 commented on #21696
Magento/authorize sent instructions to download the patch due to an end-of-life of md5 hash. There was a 1 week to live timeline so I began implementing the patch immediately.
The instructions were hard to follow as it told you to go to specific pages and follow specific links that did not exist. I eventually tracked the patch down the hard way and downloaded the version that said it was for v2.2.

[2019-03-11 18:06] craigcarnell commented on #18841
@sperl755 No but it should be in 2.3.1

[2019-03-11 18:12] oleksii-lisovyi commented on #16604
Hi, @digikeijs.

Did it help? Do you need a help?

[2019-03-11 18:17] digikeijs commented on #16604
Thanks for the follow up. No already the first commit gives issues, most likely the content of the file is a bit different. But I like my workaround more, no more patch files, I just replace the files I want to have replaced during composer install. Saves a lot of hassel

[2019-03-11 18:48] pmsteil commented on #7623
This appears to also be happening on Magento 2.3 also using the Jelastic Magento Cluster install.

[2019-03-11 19:34] pmsteil commented on #4159
As I am having this issue on 2.3 in 2019 I am trying to find the easiest workaround.

The above suggestion... I have tried running it from my
/var/www/webroot
/var/www/webroot/setup
/var/www/webroot/pub
/var/www/webroot/pub/setup

folders and it doesn't change anything.  I still get "Access Denied" when I try and got to /setup in my browser.

What folder do I run this from and do I need to clear a

[2019-03-11 20:06] dharake commented on #4159
Hey guys,

I solved this mystery, sorry you are still suffering with this. Since Magento 2.0 I've had this issue and finally in 2.3 found the answer a few days ago on https://magento.stackexchange.com/questions/222345/magento-2-2-2-web-setup-wizard-not-visible-in-backend.

Before I give the solution, warning, do not be too excited. I tried using the Component manager and it gave me so many problem

[2019-03-11 20:39] david-fuehr commented on #18752
Hi @josenacasabogiii,

you used the first commit on this issue. I just added a second commit and created the pull request - try to use these changes.

The error message a stack trace you provide just shows the consecutive exception, that happens in `RevertQuoteInventoryObserver.php`.

The `exception.log` should already contain the preceding exception message. Please provide this, if you need furth

[2019-03-11 20:49] onepack commented on #21678
It seems to be a bigger problem. Today I worked with the REST for customers to see if custom attributes were also available.
They are but here the dropdown values also show up as the corresponding numbers instead of the label values.

   "custom_attributes":    [
            {
         "attribute_code": "debtor_number",
         "value": "115245"
      },
            {
         "attribute_code": "

[2019-03-11 21:51] evermoretech commented on #14206
I second markalston's comments.  This works as expected if the free shipping only item is in the higher quote_item_id row of the quote table.  If it's a lower id, then free shipping will appear as an option even if a non free shipping item is in the cart.

As of 2.1.16, this is still a bug.

[2019-03-11 22:43] maghamed commented on #21646
hey @qsolutions-pl ,

did you create Default stock or it was created by Magento in the scope of installation/upgrade?

[code]
This looks strange because as you see Magento considers that you have 15 items of this product, but not 0.

If you proceed with Magento 2.2 -> 2.3 upgrade we disable all new Inventory modules (read the whole MSI) to prevent any possible Backward Incompatibilities (for examp

[2019-03-11 23:09] brendanfalkowski opened #21700 "Web setup miscounts the number of modules"
### Preconditions (*)

1. Magento 2.3.0 using a client's repo for initial setup

### Steps to reproduce (*)

1. Access sitename.test/setup
2. Proceed through the steps
3. In the step for module selection, the module count is wrong.

### Expected result (*)

The module count should be like "300 of 311".

### Actual result (*)

<img width="841" alt="Screen Shot 2019-03-11 at 3 50 15 PM" src="https:/

[2019-03-11 23:09] magento-engcom-team commented on #21700
Hi @brendanfalkowski. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-03-12 02:20] met31 commented on #7519
@magento-engcom-team I'm having the exact same issue on a brand new install. No themes or extensions installed. Magento 2.3 PHP 7.2. MySQL 5.6.40-84.0.

FYI tried turning off single store. No effect.

[2019-03-12 04:33] Dharmeshvaja91 commented on #4409
try this
<type name="\Magento\Framework\Locale\ResolverInterface">
	<plugin name="mage_localeresolver_reload" type="Magento\Framework\Translate\Locale\Resolver\Plugin" sortOrder="1" disabled="false"/>
</type>

[2019-03-12 04:41] crankycyclops commented on #18441
I'm curious why this issue was closed. I'm experiencing it myself on 2.2.7. Was it fixed? If so, is there a commit I can look at?

[2019-03-12 04:46] crankycyclops opened #21702 "Purchasing a downloadable product as guest then creating an account on the onepagesuccess step doesn't link product with account"
Preconditions
Magento 2.2.7
PHP 7.1

Steps to reproduce

1. Enable guest purchasing of downloadable products (Catalog -> Catalog -> Dowloadable Product Options -> Disable Guest Checkout if Cart Contains Downloadable Items -> (Change it to NO))
2. Purchase a downloadable product via guest checkout
3. On the onepagesuccess step, create an account.
4. Login to that newly created account and view the

[2019-03-12 04:46] magento-engcom-team commented on #21702
Hi @crankycyclops. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-12 04:47] crankycyclops commented on #21702
This also appears to have been reported here (https://github.com/magento/magento2/issues/18441), but was later mysteriously closed by the person who opened the ticket.

[2019-03-12 04:56] robert-schmidt opened #21703 "Homepage 404"
### Preconditions (*)

1. Magento 2.3
2. PHP 7.2, Apache 2.4, redis, plesk

### Steps to reproduce (*)

1. The homepage turns into the 404 page. It happens randomly, analysing the input I have so far (nothing in the logs, no empty rows in the url_rewrite table). It comes back after clearing the cache. I could not find a way to reproduce it.
2.

### Expected result (*)

1. [Screenshots, logs or des

[2019-03-12 04:56] magento-engcom-team commented on #21703
Hi @robert-schmidt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-12 05:25] usamahabib786 commented on #20366
@rddwh thanks a lot for being a help.

[2019-03-12 05:54] nightlybuilt commented on #21669
@Leandry @DanielRuf @vasilii-b et al

This happens after I migrated from the old Magento 1.7.0.2 site. The same codebase works well with the sample data but not with the migrated data. What could be possibly the issue?

[2019-03-12 06:31] abdelkebir commented on #21702
Just to remember, by default Magento 2.3.0 will not allow users to order a downloadable product as guests unless you have changed that behavior from Magento admin panel under:

I think you just need to include that to the reproduction steps.

[2019-03-12 06:32] DanielRuf commented on #21669
You migrated directly from 1.7 to 2.3? Not sure if this is even supported.

[2019-03-12 06:37] nightlybuilt commented on #21669
of course i used the official magento migration tool.

2019/3/12 14:34，Daniel Ruf <notifications@github.com>寫道：

This happens after I migrated from the old Magento 1.7.0.2 site

You migrated directly from 1.7 to 2.3? Not sure if this is even supported.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/magento/magento2/issues/21

[2019-03-12 06:37] crankycyclops commented on #21702
Good point. I just edited the steps to reproduce.

[2019-03-12 06:40] DanielRuf commented on #21669
Not sure. But then this is a different scenario which was not mentioned in your initial issue description so we could not reproduce this.

[2019-03-12 06:48] netzwelt-nishu commented on #7560
Hi All,

I am using Magento 2.3.0 and still facing issue regarding Order Date after migration from Magento 1. Can any body suggest me a working solution for this issue.

[2019-03-12 07:43] magento-engcom-team commented on #21703
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-12 07:43] magento-engcom-team commented on #21696
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-12 07:45] magento-engcom-team commented on #21692
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-12 07:47] magento-engcom-team commented on #21700
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-12 07:58] nightlybuilt commented on #21669
Turns out there was an invalid value with the watermarking configuration (opacity). Funny thing is the opacity value is "Enter your city here" which is not a number. That was causing a data validation error and the configuration could not be saved. As the items of the accordion were all collapsed, the error was not visible. Maybe in the future, if an error found in the form, we could open the acco

[2019-03-12 07:59] engcom-backlog-nazar commented on #21703
HI @robert-schmidt thank you for your report, we cannot accept issue which "I could not find a way to reproduce it." so please find clearly steps to reproduce and then reopen issue. thank you

[2019-03-12 07:59] #21703 closed, assigned to nobody

[2019-03-12 07:59] magento-engcom-team commented on #21686
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-12 08:05] Hector68 opened #21704 "404 homepage"
### Preconditions (*)
Magento 2.3
PHP 7.2, Apache 2.4, redis, plesk

### Steps to reproduce (*)
1) php bin/magento c:f
2) enable full_page cache
3) send **HEAD**  request to home page
4) Home page response 404

### Expected result (*)
1) Home page 200 OK

### Actual result (*)
1) Home page 404

###  Problem
1) SEND HEAD request
2) Method   \Magento\Framework\App\Request\HttpMethodValidator::valida

[2019-03-12 08:07] engcom-backlog-nazar commented on #21696
HI @treii28 thank you for you report, i'm able to apply this patch by this instruction -> https://support.magento.com/hc/en-us/articles/360024368392 please try again maybe you was miss something.

[2019-03-12 08:08] magento-engcom-team commented on #21704
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-12 08:08] engcom-backlog-nazar commented on #21704
Hi @Hector68 can you please check this issue -> https://github.com/magento/magento2/issues/21299 may be the same.

[2019-03-12 08:10] LouNik1984 opened #21705 "magento 2.2.5 lots of catalogrule_product_temp tables makes database huge"
### Preconditions (*)
magento 2.2.5 on apache and php 7.1

### Steps to reproduce (*)
Just use the store, I don't know what exactly triggers the creation of all these tables

### Expected result (*)
database should keep reasonable dimensions and have only normal tables

### Actual result (*)
Database gets huge: it's all clogged by catalogrule_product_tempX (where X is a random string of number and

[2019-03-12 08:10] magento-engcom-team commented on #21705
Hi @LouNik1984. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-12 08:11] LouNik1984 commented on #21705
"Please make sure that the issue is reproducible on the vanilla Magento instance following Steps to reproduce."

I cannot ask for a vanilla instance as I cannot see the database of the vanilla instance: from backend/frontend of magento everything seems to be fine, this only affects the tables in database and I cannot see the database of the vanilla instance

[2019-03-12 08:18] nightlybuilt commented on #21669
Hi @DanielRuf et al,
That was a migrated value, not a placeholder.

[2019-03-12 08:18] nightlybuilt commented on #21669
Sincere thank you to all of you for supporting me and taking the time to solve the issue! What an amazing community!

[2019-03-12 08:27] robert-schmidt commented on #21703
I truly understand, but that's the only defining statement, atm.

"Vanilla magento"... that's a broad way to put it. But impossible for me to achieve it now, considering the website is live and money on advertising are being spent every day. It did not happen during development though.

It seems I'm not the only one having this issue though:
- https://community.magento.com/t5/Magento-2-x-Technical

[2019-03-12 08:34] engcom-backlog-nazar commented on #21703
@robert-schmidt  https://github.com/magento/magento2/issues/21299

[2019-03-12 08:35] engcom-backlog-nazar commented on #21700
Hi @brendanfalkowski   GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2019-03-12 08:48] engcom-backlog-nazar commented on #21704
@Hector68 i'm closing this as duplicate

[2019-03-12 08:48] #21704 closed, assigned to nobody

[2019-03-12 08:48] miteshdhaduk commented on #21703
Hello @engcom-backlog-nazar

I also face this type of issue on the homepage only.

Magento2.3 - My site homepage gives 404 page not found an error and it is randomly generated issue. All other pages of the site are working properly. After a clear page cache, it is working properly. And also I got this problem in my other 2 sites.

So please reopen it and find a solution to this issue.

[2019-03-12 08:48] magento-engcom-team commented on #21702
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-12 08:52] lexiconnect commented on #21703
We also have this issue on one of our Magento 2.3 instances.  I have just uploaded some more advanced pricing via the import and the site has 404 error again.  Clearing cache fixed the issue.

[2019-03-12 08:57] niclashoyer opened #21706 "Adding a child product to a grouped product removes other child product"
### Preconditions
1. Magento 2.2.5

### Steps to reproduce
1. Add a grouped product
2. Add 42 child products to this products
3. Add another child product

### Expected result
1. 43 childs should be assigned

### Actual result
1. 42 products are assigned

It seems that the relations are deleted randomly. We are currently facing this on a production installation and try to reproduce on a test insta

[2019-03-12 08:57] magento-engcom-team commented on #21706
Hi @niclashoyer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-12 08:57] arnoudhgz commented on #13260
Still present in 2.2.7

@roshani2jcommerce are you still working on this?

[2019-03-12 08:58] niclashoyer commented on #21706
@magento-engcom-team give me 2.2.5 instance

[2019-03-12 08:58] magento-engcom-team commented on #21706
Hi @niclashoyer. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2019-03-12 08:59] miteshdhaduk commented on #21703
@engcom-backlog-nazar Can not possible to reproduce this issue. Just because of it is randomly generated issue. And many of occurred this type of issue in Magento 2.3(Community Edition).

So please find something on this issue.

[2019-03-12 08:59] magento-engcom-team commented on #21706
Hi @niclashoyer, here is your [Magento instance](https://i-21706-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-21706-2-2-5.instances.magento-community.engineering/admin](https://i-21706-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-12 09:00] engcom-backlog-nazar commented on #21703
@robert-schmidt issue already created and have a Pull request please refer to  https://github.com/magento/magento2/issues/21299

[2019-03-12 09:04] engcom-backlog-nazar commented on #21646
Hi @qsolutions-pl thank you for you report, i'm not able to reproduce following steps you described, this may be related to your environment or some custom data. please try reproduce this on clean 2.3 magento .

[2019-03-12 09:06] netzwelt-nishu opened #21707 "Timezone issue"
After Migration to Magento 2, I am facing order created at date different in admin as compared to magento1.

### Preconditions (*)

1. Magento version (2.3.0)
2. Timezone set to Europe/Budapest
3. Order time is same in both the databases;

### Steps to reproduce (*)

1.   try to check order date in magento admin.

### Expected result (*)

1. Order date should be same like Magento 1.

### Actual re

[2019-03-12 09:06] magento-engcom-team commented on #21707
Hi @netzwelt-nishu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-12 09:08] magento-engcom-team commented on #21707
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-12 09:09] engcom-backlog-nazar commented on #21707
Hi @netzwelt-nishu
Thank you for your report. If you have issues related to data migration, feel free to report it on the https://github.com/magento/data-migration-tool repository. Otherwise, your report might be lost on magento2 repository.

Also I would recommend you post your question on the Magento forum or community slack

[2019-03-12 09:09] #21707 closed, assigned to nobody

[2019-03-12 09:10] netzwelt-nishu commented on #21707
This issue is not related to Data migration, there is some issue related to timezone settings in Magento 2.

[2019-03-12 09:12] magento-engcom-team commented on #21702
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98655`, `MAGETWO-98656` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-12 09:19] yutv commented on #19739
The same query as @wessel-techtribe-nl provided but with proper escaping: ` instead of '

	INSERT INTO `eav_attribute` (
		`attribute_id`, `entity_type_id`, `attribute_code`, `attribute_model`,
		`backend_model`, `backend_type`, `backend_table`, `frontend_model`,
		`frontend_input`, `frontend_label`, `frontend_class`, `source_model`,
		`is_required`, `is_user_defined`, `default_value`, `is_unique`

[2019-03-12 09:24] engcom-backlog-nazar commented on #21707
@magento-engcom-team give me 2.3-develop instance

[2019-03-12 09:24] magento-engcom-team commented on #21707
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-12 09:24] magento-engcom-team commented on #21707
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21707-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21707-2-3-develop.instances.magento-community.engineering/admin](https://i-21707-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-12 09:35] mageprince opened #21708 "No any message displaying after remove product from Ship to Multiple Addresses"
No any message displaying after remove product from Ship to Multiple Addresses

### Preconditions (*)

Magento 2.3.x

### Steps to reproduce (*)

1. Login user >> Add to cart 2 or more products
2. Go to checkout with multiple addresses
3. Click on remove item

### Expected result (*)

Success message should display after removed the product.

### Actual result (*)

No any message display after rem

[2019-03-12 09:35] magento-engcom-team commented on #21708
Hi @mageprince. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-12 09:36] magento-engcom-team commented on #21708
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-12 09:38] krishprakash commented on #21708
@magento-engcom-team give me 2.3-develop instance

[2019-03-12 09:38] magento-engcom-team commented on #21708
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-12 09:38] magento-engcom-team commented on #21708
Hi @krishprakash, here is your [Magento instance](https://i-21708-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21708-2-3-develop.instances.magento-community.engineering/admin](https://i-21708-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-12 09:40] magento-engcom-team commented on #21692
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98657` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-12 09:47] niclashoyer commented on #21706
Here is a CSV file that will add 50 simple products and a grouped product with 42 associated products:
[42products.zip](https://github.com/magento/magento2/files/2956139/42products.zip)

Unfortunately we are not yet able to reproduce this on the clean Magento instance. Is there anything we can do to further debug this?

[2019-03-12 10:01] magento-engcom-team commented on #21648
:white_check_mark: Confirmed by @rogyar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98658` were created

**Issue Available**: @rogyar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-12 10:08] gurubhajansingh opened #21710 "The product categories are not getting update in "Catalog Images Grid" section in "Jewelrus - Jewelry Store Magento Theme""
### Summary (*)

### Examples (*)

### Proposed solution

[2019-03-12 10:08] magento-engcom-team commented on #21710
Hi @gurubhajansingh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-03-12 10:20] gurubhajansingh commented on #21710
![image](https://user-images.githubusercontent.com/29730060/54192099-3938dd80-44dd-11e9-8d51-c3209c5c417d.png)

The categories are not showing up on homepage "Product catalog section." While I update the new categories in product > categories
But still on homepage I see old categories.

[2019-03-12 10:40] niclashoyer commented on #21706
We got a little further. It may be a caching and/or admin issue. We noticed that the entries in the `catalog_product_link` table are always correct. But sometimes products are missing in the admin in the section of the linked products.

[2019-03-12 10:48] magento-engcom-team commented on #20032
Hi @m-a-x-i-m. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-03-12 10:52] giacmir commented on #13823
I have this issue with 2.3 and ES 5.
Seems related to this
https://magento.stackexchange.com/questions/256157/magento-2-3-elastic-search-5-0-error-on-some-pages

[2019-03-12 10:57] rogyar commented on #21708
Hi @mageprince. Thank you for your report. I believe it's not an issue. It's just the system designed in that way. There's no success message when you remove a product from the shopping cart or remove product upon admin order creation. We can consider this change as an improvement, but I have doubts about its usefulness.

[2019-03-12 10:59] dmak opened #21712 "The cross icon overlaps the text in "confirm scope switching" dialog"
### Preconditions (*)

Magento version: 2.2.7

### Steps to reproduce (*)

1. Go to _Stores → Configuration_ in Admin
2. Select any other item in _Store view_ dropdown, e.g. _Main Website_.

### Expected result (*)

The confirmation dialog "Please confirm scope switching. All data that hasn't been saved will be lost." appears, but cross (close) icon does not overlap the text:
![image](https://user

[2019-03-12 10:59] magento-engcom-team commented on #21712
Hi @dmak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento instan

[2019-03-12 11:00] dmak commented on #21712
@magento-engcom-team give me 2.2-develop instance

[2019-03-12 11:00] magento-engcom-team commented on #21712
Hi @dmak. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-12 11:01] magento-engcom-team commented on #21712
Hi @dmak, here is your [Magento instance](https://i-21712-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21712-2-2-develop.instances.magento-community.engineering/admin](https://i-21712-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-12 11:01] magento-engcom-team commented on #21712
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-12 11:02] magento-engcom-team commented on #21712
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-03-12 11:02] engcom-backlog-nazar commented on #21712
HI @dmak thank you for you report this issue has already fixed in -> https://github.com/magento/magento2/pull/19264

[2019-03-12 11:02] #21712 closed, assigned to nobody

[2019-03-12 11:03] dmak commented on #21712
I agree. Works for latest 2.2.x development instance.

[2019-03-12 11:07] mageprince commented on #21708
@rogyar Yes, we can consider this as an improvement for better user experience.

[2019-03-12 11:14] magento-engcom-team commented on #14071
Hi @m-a-x-i-m. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-03-12 11:23] magento-engcom-team commented on #21680
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-12 11:24] engcom-backlog-nazar commented on #21680
Hi @laladtn  GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2019-03-12 11:24] #21680 closed, assigned to nobody

[2019-03-12 12:02] lukeromanowicz opened #21714 "Magento frontend validation ignores formnovalidate"
### Preconditions (*)
Magento 2.2.5, by quick checking the source probably all versions.

### Steps to reproduce (*)
1. Go to any form with jquery validation, i.e. product page.
2. Enter an invalid value to check if the validator works.
3. add `formnovalidate="formnovalidate"` to validated input

### Expected result (*)
Validation of this input should be completely omitted.

### Actual result (*)

[2019-03-12 12:16] lukeromanowicz opened #21715 "Previous scrolling to invalid form element is not being canceled on hitting submit multiple times"
### Preconditions (*)
Magento 2.3-develop, possibly older versions

### Steps to reproduce (*)
1. Go to a product page
2. Enter an invalid value like -1
3. Hit 'Add to cart' several times
4. When you get scrolled to the qty input try scrolling away

### Expected result (*)
When scrolling is finished, the form will let you scroll away, no matter how many times you hit the add to cart button

### Ac

[2019-03-12 12:16] magento-engcom-team commented on #21715
Hi @lukeromanowicz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-03-12 12:17] lukeromanowicz commented on #21715
@magento-engcom-team give me 2.0 instance

[2019-03-12 12:18] lukeromanowicz commented on #21715
@magento-engcom-team give me 2.2-develop instance

[2019-03-12 12:18] magento-engcom-team commented on #21715
Hi @lukeromanowicz. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-12 12:19] magento-engcom-team commented on #21715
Hi @lukeromanowicz, here is your [Magento instance](https://i-21715-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21715-2-2-develop.instances.magento-community.engineering/admin](https://i-21715-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-12 12:23] lukeromanowicz commented on #21715
2.2-develop and 2.3-develop confirmed

[2019-03-12 12:55] RicardsRikmanis commented on #15001
`Magento\ConfigurableProduct\Plugin\Catalog\Model\Product\Pricing\Renderer\SalableResolver::afterIsSalable` is has been fixed.`Magento\ConfigurableProduct\Pricing\Price\ConfigurablePriceResolver::resolvePrice` and `Magento\ConfigurableProduct\Pricing\Render\FinalPriceBox::hasSpecialPrice` still calls `LowestPriceOptionsProvider` which results in excessive product collection calls in categories tha

[2019-03-12 13:21] xiaolinwuu opened #21717 "Product view page scrolls up randomly on mobile device"
In the product view page when I scroll down a little bit, sometimes (very often) the page scrolls to the top.

### Preconditions (*)
1. Magento 2.3.0 (in my case) but I think also in previous versions
2. Physical mobile device, Product view page

### Steps to reproduce (*)
1. Go to any product view page
2. Scroll down slowly a little bit like 20-30px
3. If it can't reproduces retry again

### Expe

[2019-03-12 13:21] magento-engcom-team commented on #21717
Hi @xiaolinwuu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-12 13:23] maghamed commented on #21646
Reopened because we are still waiting @qsolutions-pl to provide more details regarding this issue.

@engcom-backlog-nazar did you trying to reproduce via the initial steps or applying 2.2 -> 2.3 upgrade procedure?

[2019-03-12 13:25] McPeon opened #21718 "Installation gets stuck at 59%"
Hello guys,

I'm trying to install Magento 2.3.0 with Sample Data on my Webserver.
Everything works just fine in the setup process, until I get to the installation part.

At 59% installation it gets stuck and I get following console message:
[code]

You can view my PHP Settings at http://balkangoods.de/phpinfo.php
I'm really kind of desparate.

Thanks in advance for any help!

Best regards
McPeon

[2019-03-12 13:25] magento-engcom-team commented on #21718
Hi @McPeon. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-12 13:26] engcom-backlog-nazar commented on #21646
@maghamed no, only with clean 2.3.0 instance, but in which version of 2.2 we need upgrade ? 2.2.6 or 2.2.7 ?

[2019-03-12 13:32] snoroozi commented on #21687
@magento-engcom-team give me a test instance please.

[2019-03-12 13:32] magento-engcom-team commented on #21671
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98659`, `MAGETWO-98660` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-12 13:42] engcom-backlog-nazar commented on #21686
Hi @snoroozi this appears only with php7.2 ?

[2019-03-12 13:46] xiaolinwuu commented on #21717
I found out the scroll up takes place only on mobile chrome application, I think the issue is caused by the chrome topbar that shows/hides when we manually scroll the page

[2019-03-12 13:48] gwharton commented on #21671
PRs #21673 and PR #21674 ready.

[2019-03-12 13:49] magento-engcom-team commented on #21678
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-12 14:12] engcom-backlog-nazar commented on #21718
Hi @McPeon would be great if you share with your configuration, because this information not enough to reproduce your issue.

[2019-03-12 14:23] xiaolinwuu commented on #21717
The issue was on the top of the two element of the fotorama widget:
.fotorama__active
.fotorama__img

They have top: 0 and position: absolute, so when chrome topbar shows/hides, the page suddenly jumps to the top.

I solved the problem extending the following css:

[code]

[2019-03-12 15:05] tkymuk commented on #20029
are the username, password and signature field supposed to truncate after saving?

[2019-03-12 15:09] snoroozi commented on #21686
I can't say for sure because my wife is.3 site doesn't respond well to 7.1
to test

On Tue, Mar 12, 2019, 9:42 AM engcom-backlog-nazar <notifications@github.com>
wrote:

[2019-03-12 15:09] snoroozi commented on #21686
Is there some other 7.2 new php setting that needs adjusted that I'm
unaware of?

On Tue, Mar 12, 2019, 10:58 AM Scott Noroozi <scottnoroozi@gmail.com> wrote:

[2019-03-12 15:14] hryvinskyi commented on #14530
The same error on Magento 2.2.7
This commit: https://github.com/magento/magento2/commit/bc8d3d5d0ead9779cb22d19201cd731719a79b0c does not fix this error

[2019-03-12 15:29] datwiki opened #21720 "Configurable product price after index is always zero"
Summary: Configurable product price after index is always zero

Environment: Magento CE 2.3

Steps to reproduce:
1. Create a Configurable Product with some Child Products
2. Set discount 50% to all Childs
3. Run reindex
4. Check table catalog_product_index_price

Expected Result:
min_price, max_price, final_price have value

Actual Result:
only min_price, max_price work, final_price always get zer

[2019-03-12 15:29] magento-engcom-team commented on #21720
Hi @datasiantech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-12 15:34] cs221313 opened #21721 "authorize.net payment get "Credit card number is required" error message when creating invoice in Magento 2.2.6-dev"
### Preconditions (*)
1. Install Magento 2.2.6-dev CE
2. PHP 7.1.27
3. mysql 5.7.25

### Steps to reproduce (*)
1. Added a product into shopping cart.
2. Choose authorize.net payment method in checkout page.
3. Input credit card number, expired date and ccv.
4. Place order.
5. Create invoice at backend.
![image](https://user-images.githubusercontent.com/8097168/54212890-770a2600-451e-11e9-8532-1f9

[2019-03-12 15:34] magento-engcom-team commented on #21721
Hi @cs221313. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-12 15:36] datwiki opened #21722 "Configurable product price after index is always zero"
Preconditions (*)
2.30

Steps to reproduce (*)
1. Create Configurable Products with Child items
2. Set discount price to Child items
3. Run full reindex
4. Check table catalog_product_index_price

Expected result (*)
1. min_price, max_price, final_price, original_price has value, we intended to do sort by Highest Discount

Actual result (*)
1. Only min_price, max_price have value
2. The rest are z

[2019-03-12 15:36] magento-engcom-team commented on #21722
Hi @datasiantech. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-12 15:45] orlangur commented on #14090
@testmagento2 what do you mean? Such support should be implemented for each payment method separately.

[2019-03-12 15:45] cs221313 commented on #21721
@magento-engcom-team give me 2.3-develop instance

[2019-03-12 15:46] magento-engcom-team commented on #21721
Hi @cs221313. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-12 15:46] magento-engcom-team commented on #21721
Hi @cs221313, here is your [Magento instance](https://i-21721-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21721-2-3-develop.instances.magento-community.engineering/admin](https://i-21721-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-12 15:49] liberteh commented on #12210
I'm having this exact problem on a pretty fresh Magento CE 2.2.7 installation.
Add product, give price (<2.50 becomes 2.00, >2.50 becomes 3.00)

As far as I can tell, 2 is the precision we want. Adjusting this will just remove decimals.
I have tried several rounding and pricing plugins in which you can enable or disable rounding, increase number after etc.
None have given me a solution: be able to

[2019-03-12 15:51] treii28 commented on #21696
I was able to apply the patch. That's not the problem. I worked around the bad instructions and got the patch to install and maintain using composer myself. The problem is THE PATCH DOESN'T WORK!

I'm still getting errors - or should say I'm now getting errors as the old method works find on our production site, granted until they permanently change it. But the new code won't submit a successful p

[2019-03-12 15:52] liberteh opened #21723 "Automatic rounding problem"
Hello,

I'm having the exact same problem as #12210 on a pretty fresh Magento CE 2.2.7 installation.

Steps:
- Add product
- Add price: 2.55
- Fill in mandatory fields
- Save the product
- Look at price <.50 becomes .00 downwards, >.50 becomes .00 upwards

As far as I can tell, 2 is the precision we want. Adjusting this will just remove decimals.
I have tried several rounding and pricing plugins i

[2019-03-12 15:53] magento-engcom-team commented on #21723
Hi @liberteh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-12 15:57] Zyles commented on #20111
Not found in `vendor/magento/module-variable/view/adminhtml/web/variables.js`

[2019-03-12 15:59] Jerry-Yocupco commented on #10165
Can confirm that a fresh install of Magento 2.3 (from composer) have the same issue as @MagePsycho mentioned.

[2019-03-12 16:04] liberteh commented on #21723
@magento-engcom-team give me 2.2.7-develop instance

[2019-03-12 16:04] magento-engcom-team commented on #21723
Hi @liberteh. Thank you for your request. I'm working on Magento 2.2.7-develop instance for you

[2019-03-12 16:18] cs221313 commented on #21721
In Vanilla Magento instance,  I followed the same step as I described. In step 4. I get a javascript error when click "place order" button.

Following is what I get from browser console:

AcceptCore.js:1 Uncaught TypeError: Cannot read property 'length' of null
    at b (AcceptCore.js:1)
    at Object.function.a.dispatchData.a.dispatchData (AcceptCore.js:1)
    at UiClass._createTokens (acceptjs-c

[2019-03-12 16:19] magento-engcom-team commented on #21715
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-12 16:20] magento-engcom-team commented on #21715
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98661`, `MAGETWO-98662` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-12 16:21] #21720 closed, assigned to nobody

[2019-03-12 16:26] 0-Sony commented on #20229
@magento-engcom-team give me 2.3.0 instance

[2019-03-12 16:26] magento-engcom-team commented on #20229
Hi @0-Sony. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-03-12 16:26] TomashKhamlai commented on #21580
Thank you @progreg

[2019-03-12 16:26] #21580 closed, assigned to progreg

[2019-03-12 16:26] magento-engcom-team commented on #20229
Hi @0-Sony, here is your [Magento instance](https://i-20229-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-20229-2-3-0.instances.magento-community.engineering/admin](https://i-20229-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-12 16:35] surao101 commented on #5863
@thlassche Please send me the solution, thank you.

[2019-03-12 16:35] shikhamis11 commented on #21723
@magento-engcom-team give me 2.2-develop instance

[2019-03-12 16:35] magento-engcom-team commented on #21723
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-12 16:36] magento-engcom-team commented on #21723
Hi @shikhamis11, here is your [Magento instance](https://i-21723-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21723-2-2-develop.instances.magento-community.engineering/admin](https://i-21723-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-12 16:41] Kashiffrq commented on #19491
highly recommended

[2019-03-12 16:51] tkymuk commented on #21682
Is there a working fix for this?

[2019-03-12 16:55] datasiantech commented on #21722
select max(price) from catalog_product_index_price where entity_id in (select product_id from catalog_product_super_link where parent_id='xxxx')

We need value as this sql to use to calculate Highest Discount Sort in Catalog page

[2019-03-12 16:57] shikhamis11 commented on #21723
@liberteh this issue is not reproduceable at current 2.2-develop instance.Let me know here if you are able to reproduct on current 2.2-develop instance or need any correction in steps to reproduce

[2019-03-12 16:58] magento-engcom-team commented on #21723
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-12 16:58] harshvardhanmalpani commented on #21636
table `catalog_product_entity`
check for the product which you are trying to update

[2019-03-12 17:18] muramasatheninja commented on #21696
Having the same problem. Following in hopes of a fix.

[2019-03-12 17:23] treii28 commented on #21696
I appears they have now extended the deadline yet again, so presumably a lot of folks are having problems. But meanwhile, I can't seem to get anyone involved with the magento plugin to even acknowledge there is any problem.

[2019-03-12 17:26] treii28 commented on #18496
I'm getting the same response from authorize as jayanta. Contact the magento community. Meanwhile, I have posted my issues with the patch not working to a couple of different threads, and it seems no one associated with the magento code base has even acknowledged yet on any of them that a problem even exists.

After applying the patch, removing the trans_key and the md5hash and adding a new genera

[2019-03-12 17:49] liberteh commented on #21723
Can't reproduce on the 2.2-develop environment, either.
Let met check further to see if I can spot missed reproduction steps.

[2019-03-12 17:50] liberteh commented on #21723
@magento-engcom-team give me 2.2-stable instance

[2019-03-12 17:50] magento-engcom-team commented on #21723
Hi @liberteh. Thank you for your request. I'm working on Magento 2.2-stable instance for you

[2019-03-12 18:04] liberteh commented on #21723
@magento-engcom-team give me 2.2 instance

[2019-03-12 18:11] Ahmed-Ayman commented on #2380
this still happens in magento2 !

[2019-03-12 18:41] marcejohnson commented on #15115
Hey @jafar247commerce for *mysql/mariadb* use this syntax to fix non existent `customer_address_id` records by wrapping subquery in tblTmp:

For convenience here also is the fix for missing `customer_address_entity` record for `default_billing` and `default_shipping`:

I've tried both of these and it did not permanently resolve the issue.  So I am next testing this code in `./vendor/magento/module

[2019-03-12 19:31] pmsteil commented on #4159
Thanks... I gave up and found command line ways to do what I wanted to do with /setup...

[2019-03-12 20:11] brendanfalkowski commented on #21700
@magento-engcom-team — I am not a Partner, so I have no access to these tools, but I work almost exclusively on Magento Commerce (Enterprise) projects and have for years.

There should be a clear path for people in my position to report bugs and improve the Commerce product (this is a goal I have) without paying for Partner status (this is not a goal I have).

[2019-03-12 20:27] makvital commented on #21696
I do have same problem. Actually there's "transaction approval from Authorize.Net". As per the Debug log it's all perfect both request and response.

But still in Magento it displays the below error.
_"The transaction was declined because the response hash validation failed"_

[2019-03-12 22:42] paras89 opened #21725 "Price Precision wrong on product listing pages"
### Preconditions (*)

1. Issue reproducible on: Magento version 2.2.7
2. Oman Rial selected as currency

### Steps to reproduce (*)

1. Visit product listing page - see that the products have prices with precision 2.
2. Visit product details page - see that the products have prices with precision 3.

### Expected result (*)

1. Listing page should have consistent price precision with product page

[2019-03-12 22:42] magento-engcom-team commented on #21725
Hi @paras89. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-12 22:42] crankycyclops commented on #21702
I've just tested @Jitheesh's commit on my own Magento instance (2.2.7) and can confirm it's working.

[2019-03-12 22:43] paras89 commented on #21725
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-03-12 22:43] magento-engcom-team commented on #21725
Hi @paras89. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-12 22:44] magento-engcom-team commented on #21725
Hi @paras89, here is your [Magento instance](https://i-21725-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21725-2-3-develop.instances.magento-community.engineering/admin](https://i-21725-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-12 23:24] dferdoille commented on #12124
Hello,

Any update about this ? Are you working on it and do you have an idea when it will be fixed ?

- Current version : Magento 3.0 -  I can't create products (it was ok with Magento 2.2.2 and Bangerkuwranger_GtidSafeUrlRewriteFallback module)
- I can't disable binary logging on my MySQL instance.

- I tried to reconfigure table strategy (#11055) but it didn't work...

- I'm currently trying to

[2019-03-12 23:24] typeav opened #21726 "Multiple captcha keys not working on multiple websites"
### Preconditions (*)

1. 2.0 - 2.2.7
2. all magento 2 versions

### Steps to reproduce (*)

1. magento only works with 1 google captcha key in default, if there are 2 websites and 2 different keys the secondary will not work for example.
2. Google recaptcha only accept 50 url per key, if there is more than 50 websites in magento multiple keys are needed every 50 websites. Magento is not seem the

[2019-03-12 23:24] magento-engcom-team commented on #21726
Hi @typeav. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-13 00:52] araby93 commented on #21726
@magento-engcom-team give me 2.3-develop instance

[2019-03-13 00:52] magento-engcom-team commented on #21726
Hi @araby93. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-13 00:53] magento-engcom-team commented on #21726
Hi @araby93, here is your [Magento instance](https://i-21726-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21726-2-3-develop.instances.magento-community.engineering/admin](https://i-21726-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-13 01:18] typeav commented on #21726
Hello,
This can't be duplicate on your end because there are not websites, try mine end and see attachment
https://www.like123.com/admin
user: administratorpass: 123123q 
website: www.like123.com and www.like123.us  are working fine with current captcha key as is the same
website: www.like123.ca is not working because Magento is not recognizing more than 1 different captcha key
www.like123.ca/ca/c

[2019-03-13 02:43] srenon commented on #15115
Maybe the correct way to fix this would be to set the address_id null on delete using mysql.

Magento\Customer\Setup

    ->addForeignKey(
            $installer->getFkName('customer_entity', 'default_billing', 'customer_address_entity', 'entity_id'),
            'default_billing',
            $installer->getTable('customer_address_entity'),
            'entity_id',
            \Magento\Framework\

[2019-03-13 04:07] nntoan commented on #13428
@geet07 Try to use a hashtag to get the invitation from the GitHub bot. E.g `#mm19in` then you can self-assign the issue.

[2019-03-13 04:28] InternetMedicineMan commented on #13652
I'm running 2.2.7 and this problem has always occurred for us. It was never fixed in 2.2.5

[2019-03-13 04:38] LiamKarlMitchell opened #21727 "Ability to configure Google reCaptcha in 2.3+ to work with custom submit forms and ajax/controller requests."
### Description (*)
Support for Google reCAPTCHA to be configured on custom forms and ajax requests/controllers.

### Expected behavior (*)
Admin could add Url's to enable it on and selectors for the forms to secure.

![image](https://user-images.githubusercontent.com/1968109/54253730-6f499080-45b5-11e9-8bea-c6a212137345.png)

Example: See [Amasty's Invisible Captcha](https://amasty.com/google-inv

[2019-03-13 04:38] magento-engcom-team commented on #21727
Hi @LiamKarlMitchell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-03-13 05:29] ihor-sviziev commented on #13652
Hi @InternetMedicineMan,
Could you report separate issues for that?
Thank you!

[2019-03-13 06:01] NishaJangid commented on #21637
Hello @magento-engcom-team I want to work on this issue. Can you please help how can I assign it to me ?

[2019-03-13 06:39] Puru2016 commented on #10427
I also getting this error in Magento ver. 2.2.6, please let me know any fix to solve this issue.

[2019-03-13 06:58] qsolutions-pl commented on #21646
We upgraded from 2.2.6 -> 2.3.0
And to answer one of the questions above, there were never any customizations done to inventory processing, there was no need to.
I will try to replicate the scenario this week once I have some free time (probably friday).

[2019-03-13 06:59] ghoshsweta opened #21728 "Page gets auto scrolled while creating new tax rule"
Page gets auto scrolled while creating new tax rule

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Open magento admin panel
Step 2: Go to Stores->Taxes->Tax Rules
Step 3: Click on "Add New Tax Rule" Button
Step 4: In the name field enter any random text eg. "qdfsw"
Step 5: In the Tax Rate field enter any random text such that there is no Tax Rate present w

[2019-03-13 07:00] magento-engcom-team commented on #21728
Hi @swetacedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-13 07:00] magento-engcom-team commented on #21728
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-13 07:01] shikhamis11 commented on #21728
@magento-engcom-team give me 2.2-develop instance

[2019-03-13 07:01] magento-engcom-team commented on #21728
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-13 07:02] magento-engcom-team commented on #21728
Hi @shikhamis11, here is your [Magento instance](https://i-21728-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21728-2-2-develop.instances.magento-community.engineering/admin](https://i-21728-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-13 07:08] magento-engcom-team commented on #21728
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98667`, `MAGETWO-98668` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-13 07:21] nghitrum commented on #13530
Hi, I have this problem with 2.3.0 when I tried to upload favicon or logo to the Global level but not on website level. Is there anyone facing the same problem?

[2019-03-13 07:24] magento-engcom-team commented on #21718
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-13 07:26] engcom-backlog-nazar commented on #21700
@brendanfalkowski ok , but i'm not able to reproduce this on CE version. **GitHub is intended for Magento Open Source users**

[2019-03-13 07:27] engcom-backlog-nazar commented on #21718
Hi @McPeon thank you for your report, i'm not able to reproduce following steps you described, please provide more detail information.

[2019-03-13 07:27] #21718 closed, assigned to nobody

[2019-03-13 07:29] engcom-backlog-nazar commented on #21696
@treii28 now i'm recheck this.

[2019-03-13 07:31] magento-engcom-team commented on #21721
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-13 07:33] magento-engcom-team commented on #21689
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-13 07:35] Al3ks73 commented on #21725
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-03-13 07:41] Al3ks73 commented on #21715
give me 2.3-develop instance

[2019-03-13 07:45] mohammedsalem opened #21729 "catalogProductRepositoryV1 saveOptions Parameter"
### Summary (*)
API POST/PUT request expect 2 Params (products, saveOptions) where saveOptions has default value of False and has no usages in Code.
Any Idea what this parameter does? I found on the fly no other usages in around/after/before Plugins

![image](https://user-images.githubusercontent.com/4072478/54261476-28837880-456c-11e9-93bb-ae8be295a9ae.png)

![image (1)](https://user-images.githu

[2019-03-13 07:45] magento-engcom-team commented on #21729
Hi @mohammedsalem. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-13 07:49] cs221313 commented on #21721
how to add label to the issue.

[2019-03-13 07:50] engcom-backlog-nazar commented on #21689
Hi @santhoshnsscoe thank you for you report, i;m not able to reproduce following steps you described,
[code]

[2019-03-13 07:50] #21689 closed, assigned to nobody

[2019-03-13 07:51] magento-engcom-team commented on #21729
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-13 07:52] engcom-backlog-nazar commented on #21729
Hi @mohammedsalem
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-03-13 07:52] #21729 closed, assigned to nobody

[2019-03-13 07:56] magento-engcom-team commented on #21705
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-13 08:00] magento-engcom-team commented on #21681
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-13 08:13] alexgoodey commented on #12124
@dferdoille you are welcome to try my solution at https://github.com/alexgoodey/magento_gtid_fix

No guarantees.

[2019-03-13 08:14] magento-engcom-team commented on #21726
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-13 08:15] magento-engcom-team commented on #21727
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-13 08:20] engcom-backlog-nazar commented on #21727
Hi @LiamKarlMitchell
First call the Google recaptha JavaScript file in your header. Fix the recaptcha Js in your individual layout file as coded mentioned below:

[code]
Then add the below code in your custom form before the end of the </form> tag. (to display captcha in the bottom)

`<div class="g-recaptcha" data-sitekey="<--your site key-->"></div>`
Now you can capable to observe captcha shown i

[2019-03-13 08:20] #21727 closed, assigned to nobody

[2019-03-13 08:24] magento-engcom-team commented on #21650
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-13 09:08] engcom-backlog-nazar commented on #21681
Hi @kanduvisla thank you for your report,   I would recommend you post your question on the Magento forum or community slack

[2019-03-13 09:08] #21681 closed, assigned to nobody

[2019-03-13 09:12] kingshukdeb opened #21730 "URL key for specified store already exists when saving category."
### Preconditions (*)

1. Magento 2.1.12

### Steps to reproduce (*)

1. Create a category.
2. Create 2 products using API.
3. Add 1 301 redirect for 1 of those product's category url.
4. Assign those 2 products to the category using API.
5. Magento doesnt create product urls without saving the category. So save the category from admin panel.

### Expected result (*)

1. category saved successfull

[2019-03-13 09:12] magento-engcom-team commented on #21730
Hi @kingshukdeb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-13 09:16] magento-engcom-team commented on #21730
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-13 09:22] #21722 closed, assigned to nobody

[2019-03-13 09:22] r4m1k707 commented on #21367
Hello,
We have exactly the same issue on polish translation.
Updated to Magento 2.3 no issues on 2.2.6
3 shops affected + one fresh Magento installation.
I think you have been unsuccessful to reproduce as you used one of thous languages - de_de es_es fr_fr nl_nl pt_br zh_hans_cn.
![Opera Snapshot_2019-03-13_100554l](https://user-images.githubusercontent.com/48440882/54267641-e3664300-4579-11e9-818

[2019-03-13 09:29] emastyle commented on #19934
Seems same issue today...
  [UnexpectedValueException]
  The checksum verification of the file failed (downloaded from https://repo.magento.com/archives/vertex/module-tax/vertex-module-tax-3.0.0.0.zip)

[2019-03-13 09:43] engcom-backlog-nazar commented on #21705
hi @LouNik1984 thank you for you report, i'm not able to reproduce following steps you described, on clean 2.3-develop instance, this temp, table may be created with some of yours custom modules, but on clean magento  this tables always  deleted. Seems like this already fixed in 2.2-develop and 2.3-develop branches

[2019-03-13 09:43] #21705 closed, assigned to nobody

[2019-03-13 09:48] #21723 closed, assigned to shikhamis11

[2019-03-13 10:06] engcom-backlog-nazar commented on #21721
Hi @cs221313 thank you for you report, i'm not able to reproduce following steps you described, you may have wrong credentials.
![deepin-screen-recorder_Select area_20190313120435](https://user-images.githubusercontent.com/40756439/54270583-6393a500-4588-11e9-9123-fa59521c19ab.gif)

[2019-03-13 10:06] #21721 closed, assigned to nobody

[2019-03-13 10:20] magento-engcom-team commented on #21710
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-13 10:21] orlangur commented on #21730
@kingshukdeb this is correct behavior for `2.1.x`. Also, bug reports are only accepted for `2.2.x` and `2.3.x` at the moment.

[2019-03-13 10:21] #21730 closed, assigned to nobody

[2019-03-13 10:26] engcom-backlog-nazar commented on #21710
Hi @gurubhajansingh thank you for you report, i'm not able to reproduce, please provide clear steps yo reproduce.

[2019-03-13 10:26] #21710 closed, assigned to nobody

[2019-03-13 10:27] magento-engcom-team commented on #21650
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98672`, `MAGETWO-98673` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-13 10:28] vaguemind commented on #2073
Hello , I still have this issue when importing csv file for products in version 2.3 ?!
can you advise the solution ?

Thanks

[2019-03-13 10:48] kingshukdeb commented on #21730
dont you think it should skip that redirect and save the category and generate urls for other products?...how would someone save a category if that has 100 301 redirects in that category? How this can be a correct behavior ?

[2019-03-13 11:38] callum-atwal commented on #19710
I've just encountered this error when upgrading from 2.2.7 to 2.3. I also had various missing files when running `php bin/magento catalog:images:resize`.

Put together the following script which can be run from your `pub/media/catalog/products` directory

`mysql DATABASE_NAME -e "SELECT value FROM catalog_product_entity_media_gallery" | awk '{print $1}' | cut -c2- | xargs ls | grep "cannot access"

[2019-03-13 11:45] abbasalis commented on #9691
Guys, Any update on this issue? This is still happening for me in Magento 2.2.3.

![Configuration   Settings   Stores   Magento Admin (1)](https://user-images.githubusercontent.com/13479622/54276455-65269280-45b3-11e9-985c-da874ca05114.png)

![Checkout (1)](https://user-images.githubusercontent.com/13479622/54276533-94d59a80-45b3-11e9-99d2-5abf2a7438ff.png)

[2019-03-13 11:49] Al3ks73 commented on #21728
@magento-engcom-team give me 2.3-develop instance

[2019-03-13 11:50] magento-engcom-team commented on #21728
Hi @Al3ks73. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-13 11:50] magento-engcom-team commented on #21728
Hi @Al3ks73, here is your [Magento instance](https://i-21728-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21728-2-3-develop.instances.magento-community.engineering/admin](https://i-21728-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-13 11:56] Dan547 commented on #19542
Has anyone got a solution for this?

I am trying to migrate an existing Magento 2.3 website to a new server, I ran a full database exporting using Magento's internal backup system - bin/magento magento setup:backup --db

When I try and import the .sql it generated, I keep getting the following error - Table 'inventory_stock_1' was not locked with LOCK TABLES

I have tried the above suggestion -
CR

[2019-03-13 11:57] engcom-backlog-nazar commented on #21696
@treii28 double checked and all works fine, did you enter new key from admin ?

[2019-03-13 12:37] orlangur commented on #21730
@kingshukdeb this was improved in newer versions, try upgrading or play with a vanilla instance.

Normally it does not occur, all or not at all rewrites are created for the sake of data integrity.

[2019-03-13 12:49] bimpok opened #21733 "Can't pull configurable products and stockinfo and images in batch"
### Preconditions (*)

1.  Magento installation set up and running

### Steps to reproduce (*)

1. Pull configurable product from following end point /configurable-products/sku_name/children
2. Pull stock info and images from /products/sku_name

### Expected result (*)

1. I want to provide multiple sku as a list and API to return the result for batch. Currently, it only support one sku at a time

[2019-03-13 12:49] magento-engcom-team commented on #21733
Hi @bimpok. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-13 12:54] McPeon commented on #21718
I use PHP 7.2 and a MySQL 5.7 Database on a shared Webhost.

Do you need any other information?

[2019-03-13 13:00] staradzinau opened #21734 "Error in JS validation rule"
### Preconditions (*)

1. Magento 2.1.x | 2.2.x | 2.3.x

### Steps to reproduce (*)

1. Open any UI form component XML file
2. Add to any input field following validation rule: **validate-per-page-value-list**
3. Set some value to the input from the previous step

### Expected result (*)

1. Validation works correctly

### Actual result (*)

1. Validation is failed for every non-empty value, even

[2019-03-13 13:00] magento-engcom-team commented on #21734
Hi @avgust1111. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-03-13 13:03] magento-engcom-team commented on #21733
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-13 13:04] engcom-backlog-nazar commented on #21733
Hi @bimpok thank you for you report , please refer to -> https://devdocs.magento.com/guides/v2.3/rest/bulk-endpoints.html

[2019-03-13 13:04] #21733 closed, assigned to nobody

[2019-03-13 13:22] oskar1233 commented on #21555
@engcom-backlog-nazar Any progress on this one?

[2019-03-13 13:24] engcom-backlog-nazar commented on #21555
@oskar1233 same result with php7.2 can you share with your test module ?

[2019-03-13 14:21] bonucci opened #21735 "Cart Rule still active after disabling"
### Summary (*)
So the problem is quite straitforward:
### Examples (*)
1) Create a Cart price rule of X % for 2 items in the cart.

2) Be sure to have this 2 items in the cart when the campaign rule i active.

3) Go to admin and disable the cart rule price;

4) You can checkout from the page with a campaign discount that was disabled.

The only way to update the cart with the current rules is upd

[2019-03-13 14:21] magento-engcom-team commented on #21735
Hi @bonucci. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-13 14:22] bonucci commented on #21735
yes

[2019-03-13 14:29] makvital commented on #21696
@engcom-backlog-nazar here's the steps I followed.

- Removed  "/a" and "/b" from the patch in the "Auth.net.md5.composer-2019-02-27-11-51-12.patch".

- Applied the patch "Auth.net.md5.composer-2019-02-27-11-51-12.patch" using the following command "patch -p0 > Auth.net.md5.composer-2019-02-27-11-51-12.patch".

- Cleared the cache

- Fetch the Signature Key from Authorize.Net account from "Setting

[2019-03-13 14:29] jerome-breton commented on #1942
Clearing the cache solved the problem for me. In my case, I was using redis and removing /var was obviously not enough.

[2019-03-13 15:01] giacmir opened #21736 "/V1/products/{sku}/media does not assign roles correctly"
When uploading media gallery images via API the last inserted one gets all roles (small_image, base, thumbnail) even if not required to and another image already has them assigned.

### Preconditions (*)

1. Magento 2.3.0
2. php 7.1

### Steps to reproduce (*)

1. create a new product without images
2. POST to /V1/products/{sku}/media a payload that includes all the three image types "base", "smal

[2019-03-13 15:01] magento-engcom-team commented on #21736
Hi @giacmir. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-13 15:15] cs221313 commented on #21721
Can you send me the payment.log file? So I could compare with mine.

[2019-03-13 15:15] orlangur commented on #11292
@ADDISON74,

Reloading the full page would be a poor UX compared to current one.

There is nothing to sorry about, did you elaborate a kind of fix maybe if you faced with it on real projects?

I didn't say a word that this issue should not be fixed, just that there are much more important ones, for example https://github.com/magento/magento2/issues/3625.

Every report matters and also it is import

[2019-03-13 15:39] jasperzeinstra commented on #7231
We're still having this issue on 2.3. The version of `grunt-contrib-less` for 2.3 is set on `^2.0.0`.

Here are two screenshots that show the impact of this issue:
![Screen Shot 2019-03-13 at 16 31 13](https://user-images.githubusercontent.com/9214557/54292176-07437c00-45ae-11e9-8010-8558a4475062.png)
![Screen Shot 2019-03-13 at 16 31 04](https://user-images.githubusercontent.com/9214557/54292177-

[2019-03-13 15:53] scottsb commented on #8060
Note for anybody else who stumbled on this issue: it's getting more traction under #18183.

[2019-03-13 15:55] scottsb commented on #18183
I agree with @konarshankar07 that the best/correct solution here is to change the expiration column type to a DATETIME instead of TIMESTAMP.

[2019-03-13 16:25] DanielRuf commented on #7231
We can not easily fix this.

Please read all previous commens and also https://github.com/magento/magento2/issues/7231#issuecomment-449398387

[2019-03-13 16:28] treii28 commented on #21696
Yup, same results here as makvital

[2019-03-13 16:29] aschrammel commented on #9609
Same issue here on MySQL5.7.25-1 (Debian)
I totally agree with @ajzele - this issue can't be resolved, as setting `is_used_in_grid` to `false` is no option here!

[2019-03-13 16:33] giacmir commented on #21736
@magento-engcom-team give me 2.3-develop instance

[2019-03-13 16:34] magento-engcom-team commented on #21736
Hi @giacmir. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-13 16:34] magento-engcom-team commented on #21736
Hi @giacmir, here is your [Magento instance](https://i-21736-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21736-2-3-develop.instances.magento-community.engineering/admin](https://i-21736-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-13 16:39] treii28 commented on #18496
Someone pointed out in a similar thread [https://github.com/magento/magento2/issues/21696](https://github.com/magento/magento2/issues/21696) that the authorize console shows the payment as successful but the patched/magento plugin sees an error and thus doesn't complete the checkout.

The item is also gone from the cart.

[2019-03-13 16:40] treii28 commented on #21696
There is also a similar discussion on the magento support blog: [https://community.magento.com/t5/Magento-DevBlog/Authorize-Net-Direct-Post-Patch-for-M2-and-M1/bc-p/124989#M445](https://community.magento.com/t5/Magento-DevBlog/Authorize-Net-Direct-Post-Patch-for-M2-and-M1/bc-p/124989#M445)

[2019-03-13 16:41] treii28 commented on #18496
There is also a similar discussion on the Magento support blog:
[https://community.magento.com/t5/Magento-DevBlog/Authorize-Net-Direct-Post-Patch-for-M2-and-M1/bc-p/124989#M445](https://community.magento.com/t5/Magento-DevBlog/Authorize-Net-Direct-Post-Patch-for-M2-and-M1/bc-p/124989#M445)

[2019-03-13 16:41] magento-engcom-team commented on #21700
Hi @sdzhepa. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-13 17:38] Tiberriver256 commented on #15461
Any update?

[2019-03-13 17:42] treii28 commented on #21696
Why was this ticket closed? The initial issue was never address, it is still producing an error for more than one person involved in this thread alone. (as well as others on other threads linked in the comments above)

[2019-03-13 17:48] sdzhepa commented on #21700
Hello @brendanfalkowski
Thank you for contribution and collaboration!

According to current Magento organization flows and processes issues related to Magento Commerce (Enterprise) can be reported only to Enterprise Support.

@brendanfalkowski  as I can see from your [comment](https://github.com/magento/magento2/issues/21700#issuecomment-472162129),  you are not a partner but you

 I assume your e

[2019-03-13 18:55] maghamed commented on #21646
@qsolutions-pl
The point is that during migration 2.2.* -> 2.3.0
We disable all MSI modules and business logic to prevent it from affecting possible existing customizations.

Thanks why in fact, you don't have MSI running on your instance of Magento

[2019-03-13 19:05] hostep opened #21737 "Duplicating product with translated url keys over multiple storeviews causes non-unique url keys to be generated"
Hi there

I'm back with yet another problem in Magento with url keys on multiple storeviews which are incorrectly generated.
This might already have been reported before, but I'm trying to create an issue with very clear steps of how to reproduce. So hopefully it can get some well needed attention.

### Preconditions (*)
1. PHP 7.2.15
2. Magento 2.3.0, 2.2.x, 2.1.x, 2.0.x

### Steps to reproduce (

[2019-03-13 19:05] magento-engcom-team commented on #21737
Hi @hostep. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-13 20:02] Jimgitsit commented on #19441
As suggested by the devs at TaxJar I "fixed" this by modifying magento/zendframework1/library/Zend/Http/Response.php in two places:

Line 185
[code]

Line 518
[code]

Two other suggestions provided by TaxJar are
- You can downgrade the version of curl you're using. We've had reports that version 7.61.1 works fine.
- You can rebuild the Curl package from source without HTTP/2 support.

Message from

[2019-03-13 21:11] verdde commented on #21367
Yes, the issue still exists. I personally abandoned it and left those strings in english. Didn't had the time to search for a fix. (too many bugs in 2.3)

[2019-03-13 21:40] ywsw commented on #20312
this issue is still present on 2.3
(summary of issue: when on a configurable product page, clicking a swatch to load the simple product images, the images are sometimes loaded out of order)

[2019-03-13 22:26] philipdrury commented on #19865
Same issue on 2.3 I just left stock qty blank > saved product > added stock qty >saved

[2019-03-13 23:11] thsdoug opened #21738 "Tier prices data should be array, but actually other type is received"
### Preconditions (*)

1.2.2.6
2.

### Steps to reproduce (*)

1.After importing advanced pricing, cannot save any changes to the products on the backend.  Error message reads, "Tier prices data should be array, but actually other type is received"  Using the following columns.
2.sku,tier_price_website,tier_price_customer_group,tier_price_qty,tier_price,tier_price_value_type

### Expected result (

[2019-03-13 23:11] magento-engcom-team commented on #21738
Hi @thsdoug. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-13 23:41] thsdoug commented on #21738
Hello, I was able to replicate the cause of issue.  It happened because I accidentally chose "Products" for Entity Type instead of using "Advanced Pricing" when importing.  I also found a workaround to saving changes on the backend by reimporting the product and using "Replace" on the Import Behavior.  The problem is that it creates a new Entity ID, which I'm trying to avoid.  Is there another way

[2019-03-14 03:54] adarshkhatri opened #21739 "Cannot ship separately bundle item while using "Temando Shipping (Magento Shipping)""
### Preconditions (*)

1. Magento 2.3.0
2. Enable "Magento Shipping" from backend.
3. Create Bundle product with child item
3.  Set Bundle items: **Ship Bundle Items = "Separately"**

### Steps to reproduce (*)

1. Create an order with Magento Shipping
![order view](https://user-images.githubusercontent.com/8390252/54330151-c9eff480-4668-11e9-98b7-85123f7d18e5.png)

2. Try to ship

### Expected re

[2019-03-14 03:54] magento-engcom-team commented on #21739
Hi @adarshkhatri. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-14 03:54] adarshkhatri commented on #21739
@magento-engcom-team give me 2.3-develop instance

[2019-03-14 03:54] magento-engcom-team commented on #21739
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-14 03:55] magento-engcom-team commented on #21739
Hi @adarshkhatri, here is your [Magento instance](https://i-21739-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21739-2-3-develop.instances.magento-community.engineering/admin](https://i-21739-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-14 04:09] adarshkhatri commented on #21739
There is no Magento Shipping in Vaniall Instance.
![shipping](https://user-images.githubusercontent.com/8390252/54330750-0de3f900-466b-11e9-8c88-23f8d2156c49.png)

[2019-03-14 04:40] santhoshnsscoe commented on #21689
@engcom-backlog-nazar are you checking it in production mode or developer mode. The problem only comes when it is in production mode. In developer mode, it works fine.

We have shifted the code to theme layout xml and it is now working in production also.

[code]

[2019-03-14 05:57] netzwelt-nishu commented on #21707
Hi @engcom-backlog-nazar ,

are you able to reproduce this issue or any solution did you find for the same. Please let me know..

[2019-03-14 06:01] Vossie1975 commented on #15461
probably not....
Does not seem interesting for Magento to solve this.
This bug was previously in the system and would have been resolved then.
But is there again / still in it.
I have now reported this almost a year ago, but not a single update since that time.
Recently also other bugs found (in MSI function) but why would you still take the trouble to report it if nothing is done with it ....

[2019-03-14 07:18] edroberts commented on #19842
Why has this been closed @engcom-backlog-tomash when it has not been fixed?

[2019-03-14 07:26] jasperzeinstra commented on #7231
From my point of view comment #7231 (comment) is talking about the order of CSS. The issue with nested `&:extend(…)` isn't discussed their. Only @joshdavenport mentioned to lower `grunt-contrib-less`. That solves the issue, but i'm not sure if we're missing any other functionality.

It kind of weird that Magento says use grunt for local frontend development. But when using grunt we're missing some

[2019-03-14 07:47] craigcarnell commented on #21707
https://github.com/magento/magento2/issues/13773

[2019-03-14 07:49] ihor-sviziev commented on #20467
@magento-engcom-team give me 2.2.7

[2019-03-14 07:49] ihor-sviziev commented on #20467
@magento-engcom-team give me 2.2.7 instance

[2019-03-14 07:49] magento-engcom-team commented on #20467
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-03-14 07:50] magento-engcom-team commented on #20467
Hi @ihor-sviziev, here is your [Magento instance](https://i-20467-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-20467-2-2-7.instances.magento-community.engineering/admin](https://i-20467-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-14 08:11] ihor-sviziev opened #21741 "Export file adds overridden values on store view level"
### Preconditions (*)
1. Magento 2.2.7

### Steps to reproduce (*)
1. Create Product "Test" product with three one custom option & three values, as showed here:
![i-20467-2-2-7 instances magento-community engineering_admin_catalog_product_edit_id_1_set_4_type_simple_back_edit_(iPad)](https://user-images.githubusercontent.com/1873745/54340512-33a7d880-4640-11e9-9d76-0d617b42bc88.png)

2. Go To Admi

[2019-03-14 08:11] magento-engcom-team commented on #21741
Hi @ihor-sviziev. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-14 08:23] magento-engcom-team commented on #21735
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-14 08:23] magento-engcom-team commented on #21736
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-14 08:30] bukos commented on #15427
@engcom-backlog-nazar
any update on this issue?, any workarounds available?

[2019-03-14 08:52] engcom-backlog-nazar commented on #21686
Hi @snoroozi i'm not able to reproduce following steps you described,  maybe you have some wrong configuration in your browser or server side ?. however i think this is non issue, and not related to magento.

[2019-03-14 08:52] #21686 closed, assigned to nobody

[2019-03-14 09:04] engcom-backlog-nazar commented on #21736
Hi @giacmir thank you for you report, this issue has already fixed in 2.3-develop branch.
![DeepinScreenshot_select-area_20190314110417](https://user-images.githubusercontent.com/40756439/54344093-ee3bd900-4648-11e9-8f03-5578cfeda085.png)

[2019-03-14 09:08] magento-engcom-team commented on #21637
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-14 09:08] giacmir commented on #21736
Hi @engcom-backlog-nazar I actually tried that on the provided 2.3-develop instance yesterday and reproduced it. Was it fixed today?

[2019-03-14 09:13] engcom-backlog-nazar commented on #21735
@magento-engcom-team give me 2.3-develop instance

[2019-03-14 09:13] magento-engcom-team commented on #21735
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-14 09:14] magento-engcom-team commented on #21735
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21735-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21735-2-3-develop.instances.magento-community.engineering/admin](https://i-21735-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-14 09:14] engcom-backlog-nazar commented on #21736
@giacmir  can you share with your payloads ?

[2019-03-14 09:20] engcom-backlog-nazar commented on #21736
@giacmir
![DeepinScreenshot_select-area_20190314111928](https://user-images.githubusercontent.com/40756439/54345136-1a585980-464b-11e9-906a-3bef811eeffb.png)
![DeepinScreenshot_select-area_20190314111940](https://user-images.githubusercontent.com/40756439/54345137-1a585980-464b-11e9-8556-a9615800a7f4.png)

[2019-03-14 09:27] giacmir commented on #21736
@engcom-backlog-nazar sure thing:

payload 1
[code]

payload 2
[code]

Thank you

[2019-03-14 09:33] engcom-backlog-nazar commented on #21736
@giacmir this only appears if you set all 3 types, but with 2 types works correct.

[2019-03-14 09:39] magento-engcom-team commented on #21736
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98681` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-14 09:42] magento-engcom-team commented on #21706
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-14 09:43] magento-engcom-team commented on #21672
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98682`, `MAGETWO-98683` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-14 09:46] magento-engcom-team commented on #21738
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-14 09:58] Vladekarpa commented on #15121
Hi is this problem fixed for older version of magento, i have 2.1 and i have the same problem.

[2019-03-14 10:03] engcom-backlog-nazar commented on #21696
@treii28 yes, i'm found internal ticket in jira and, this bug fixed in 2.3-develop and will be available on 2.3.1 release,we  will wait for backport and patch https://github.com/magento/magento2ce/pull/3889

[2019-03-14 10:13] josefbehr commented on #19441
@Jimgitsit Yes, exactly. Just applying the change from #19442 to Curl.php does not resolve the issue. I also had to change Response.php, and I think another file, too, in a similar manner to get Magento to accept HTTP/2 responses. I'll re-open this ticket then. Unfortunately, it is a problem in Zf1, which should be replaced anyway. So I'm not sure if a PR changing these files would be accepted.

[2019-03-14 10:26] kzozulya commented on #5505
Hi all,
I have the same issue as Topic Started wrote (exactly the same)
We have a Migration_Default Attribute set.
Solution for me (may be project specified solution but maybe useful for someone else):
In Admin Panel relocate attribute  quantity_and_stock status to Migration Prices attribute group (group with code advanced-pricing):
https://monosnap.com/file/0H3dl34HyBXlI2tDqtvBtg6NlLIRuI
https://

[2019-03-14 10:27] engcom-backlog-nazar commented on #21706
HI @niclashoyer thank you for you report, this issue is not reproducible on 2.2-develop and 2.3-develop branches.

[2019-03-14 10:27] #21706 closed, assigned to nobody

[2019-03-14 10:27] kzozulya commented on #5999
Hi all,
I have the same issue as Topic Started wrote (exactly the same)
We have a Migration_Default Attribute set.
Solution for me (may be project specified solution but maybe useful for someone else):
In Admin Panel relocate attribute  quantity_and_stock status to Migration Prices attribute group (group with code advanced-pricing):
https://monosnap.com/file/0H3dl34HyBXlI2tDqtvBtg6NlLIRuI
https://

[2019-03-14 10:27] kzozulya commented on #5350
Hi all,
I have the same issue as Topic Started wrote (exactly the same)
We have a Migration_Default Attribute set.
Solution for me (may be project specified solution but maybe useful for someone else):
In Admin Panel relocate attribute  quantity_and_stock status to Migration Prices attribute group (group with code advanced-pricing):
https://monosnap.com/file/0H3dl34HyBXlI2tDqtvBtg6NlLIRuI
https://

[2019-03-14 10:28] kzozulya commented on #7825
Hi all,
I have the same issue as Topic Started wrote (exactly the same)
We have a Migration_Default Attribute set.
Solution for me (may be project specified solution but maybe useful for someone else):
In Admin Panel relocate attribute  quantity_and_stock status to Migration Prices attribute group (group with code advanced-pricing):
https://monosnap.com/file/0H3dl34HyBXlI2tDqtvBtg6NlLIRuI
https://

[2019-03-14 10:34] engcom-backlog-nazar commented on #21738
Hi @thsdoug thank you for you report, i'm closing this as this is non-issue.

[2019-03-14 10:34] #21738 closed, assigned to nobody

[2019-03-14 10:36] duckchip opened #21743 "Products in wishlist are shown with normal price instead of special price"
Hi guys,

We're having a problem with showing the special price on the wishlist. According to ticket https://github.com/magento/magento2/issues/11305 this problem should've been fixed in 2.2 and 2.3.
Unfortunately this can still be reproduced.

### Preconditions (*)
1. Magento 2.2.7

### Steps to reproduce (*)

1. Create a customer group
2. Create product with special price for that customer group

[2019-03-14 10:36] magento-engcom-team commented on #21743
Hi @duckchip. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-14 10:37] duckchip commented on #21743
@magento-engcom-team give me 2.3-develop instance

[2019-03-14 10:37] magento-engcom-team commented on #21743
Hi @duckchip. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-14 10:37] magento-engcom-team commented on #21743
Hi @duckchip, here is your [Magento instance](https://i-21743-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21743-2-3-develop.instances.magento-community.engineering/admin](https://i-21743-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-14 10:40] magento-engcom-team commented on #21725
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-14 10:42] gwharton commented on #21546
Code inspection shows the following series of events when saving product in Database Media Storage Mode.

Create new product and add new image
image.jpg is created in database with filename tmp/catalog/product/i/m/image.jpg
image.jpg is created in pub/media with filename tmp/catalog/product/i/m/image.jpg

Save Product
image.jpg is renamed in database from tmp/catalog/product/i/m/image.jpg to catal

[2019-03-14 11:02] duckchip commented on #21743
Can be reproduced on vanilla instance

login: test@test.test
pass: Qwerty123

Product has a normal price of $50 but a special price of $20. The normal price is shown on the wishlist

[2019-03-14 11:06] engcom-backlog-nazar commented on #21743
Hi @duckchip but you set special price for users there are no logged in ? whats wrong here ?

[2019-03-14 11:07] magento-engcom-team commented on #21743
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-14 11:14] Webroju opened #21745 "Cash on Delivery COD based on billing address instead on shipping address"
COD based actual on the billing address instead on the shipping address - but how the name it says, Cash on delivery: it has to be paid by the person who receives the delivery, so the shippment address is important not the billing address.

### Preconditions (*)

1. Magento 2.2.7

### Steps to reproduce (*)

1. Allow COD for one Country, e.g Germany
2. go to checkout, choose at the shipping step:

[2019-03-14 11:14] magento-engcom-team commented on #21745
Hi @Webroju. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-14 11:15] duckchip commented on #21743
@engcom-backlog-nazar I changed the special price to be visible for customers with customer group 'retailer'
If you log in, you'll see the special price on the product view page, but the normal price on the wishlist page.

[2019-03-14 11:16] Webroju commented on #21745
@magento-engcom-team give me 2.3-develop instance

[2019-03-14 11:16] magento-engcom-team commented on #21745
Hi @Webroju. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-14 11:17] duckchip commented on #21743
Okay weird, it does show the special price in magento 2.3
@magento-engcom-team give me 2.2-develop instance

[2019-03-14 11:17] magento-engcom-team commented on #21743
Hi @duckchip. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-03-14 11:17] magento-engcom-team commented on #21745
Hi @Webroju, here is your [Magento instance](https://i-21745-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21745-2-3-develop.instances.magento-community.engineering/admin](https://i-21745-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-14 11:18] magento-engcom-team commented on #21743
Hi @duckchip, here is your [Magento instance](https://i-21743-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21743-2-2-develop.instances.magento-community.engineering/admin](https://i-21743-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-14 11:22] tsifra commented on #14952
One more workaround suitable for any version. At least i have to use this in my current magento CE 2.3 configuration. Hope EE doing better.

    <Directory /srv/www/site_name>
        php_admin_value sendmail_path "/usr/sbin/sendmail -t -i -fsupport@site_name.com"
        ...
    </Directory>

[2019-03-14 11:25] Webroju commented on #21745
I can confirm that I was able to reproduce the issue on vanilla Magento instance

[2019-03-14 11:32] snoroozi commented on #21686
@engcom-backlog-nazar this issue ended up related to upgrade washing the session save path in my env.php

You should document this

[2019-03-14 11:42] craigcarnell commented on #21686
@snoroozi Which setting are you referring to?

[2019-03-14 11:48] engcom-backlog-nazar commented on #21743
@duckchip i'm closing as this is not reproducible, if you find a way how to reproduce this on 2.3-develop instance, feel free to reopen issue.

[2019-03-14 11:48] #21743 closed, assigned to nobody

[2019-03-14 11:59] magento-engcom-team commented on #21725
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98684`, `MAGETWO-98685` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-14 12:08] joshdavenport commented on #20312
Yes @ywsw, the issue is definitely present in 2.3.0 because the fix made it to 2.2-develop and 2.3-develop post release of 2.3.0. Therefore, I'd imagine the fix will make it into 2.3.1 (and 2.2.8 for 2.2.x releases)

You can see the fixin 2.3-develop anyway so for now you'll have to manually patch with these changes https://github.com/magento/magento2/commit/94391bdeb98bbd100313d33d1257f16c982e2a1

[2019-03-14 12:10] snoroozi commented on #21686
@craigcarnell session save path for files sessions

[2019-03-14 12:19] craigcarnell commented on #21686
@snoroozi

This is mine:

[code]

At least while redis is disabled locally. Is yours any different?

[2019-03-14 12:39] craigcarnell commented on #21596
As you progress through the checkout, the URL changes to checkout/#shipping and then checkout/#payment.

If the user refreshes the browser, the billing address is now blank. They should be sent back to the first step.

![Screenshot from 2019-03-14 12-38-22](https://user-images.githubusercontent.com/1188869/54357489-1e3da900-4656-11e9-82e6-35f334f21b6e.png)

Does this resolve my problem mentioned a

[2019-03-14 12:44] magento-engcom-team commented on #21326
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98686`, `MAGETWO-98687` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-14 12:58] Al3ks73 commented on #21736
@magento-engcom-team give me 2.3-develop instance

[2019-03-14 12:58] magento-engcom-team commented on #21736
Hi @Al3ks73. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-14 12:59] magento-engcom-team commented on #21736
Hi @Al3ks73, here is your [Magento instance](https://i-21736-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21736-2-3-develop.instances.magento-community.engineering/admin](https://i-21736-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-14 12:59] engcom-backlog-nazar commented on #21726
Hi @typeav thank you for you report, please open issue here -> https://github.com/magento/magespecialist_ReCaptcha/issues

[2019-03-14 12:59] #21726 closed, assigned to nobody

[2019-03-14 12:59] bmxmale opened #21746 "Empty quantity cause fatal error on 2.3.0"
On clean Magento 2.3.0 installation when I want to create Configurable product with no quantity specified we are getting fatal error. Visible on developer/production mode.

![image](https://user-images.githubusercontent.com/23213308/54358549-f142c380-4660-11e9-81b9-dd453d0b4960.png)

**Error log:**

![image](https://user-images.githubusercontent.com/23213308/54358743-5e565900-4661-11e9-95bc-186ce2

[2019-03-14 13:00] magento-engcom-team commented on #21746
Hi @bmxmale. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-14 13:00] bengower opened #21747 "catalog_product_flat_data for store view populated with default view data when it should be store view data"
**Preconditions (*)**

1. A Magento CE 2.3 installation with multiple websites setup (I have four websites each setup with one store and one store view).
2. Add a custom product attribute (Attribute A) with a ‘Catalog Input Type for Store Owner’ of Text Field, ‘Scope’ of Store View, ‘Allow HTML Tags on Storefront’ of Yes and ‘Used in Product Listing’ of Yes. Add it to an Attribute Set.
3. Create a

[2019-03-14 13:00] magento-engcom-team commented on #21747
Hi @bengower. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-03-14 13:00] bmxmale commented on #21746
@magento-engcom-team give me 2.3 instance

[2019-03-14 13:01] magento-engcom-team commented on #21746
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-14 13:11] tsifra commented on #14952
One more workaround suitable for any version. At least i have to use this in my current magento CE 2.3 configuration. Hope EE doing better. Apache config:
[code]

[2019-03-14 13:13] engcom-backlog-nazar commented on #21746
@magento-engcom-team give me 2.3.0 instance

[2019-03-14 13:14] magento-engcom-team commented on #21746
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-03-14 13:14] magento-engcom-team commented on #21746
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21746-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21746-2-3-0.instances.magento-community.engineering/admin](https://i-21746-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-14 13:54] engcom-backlog-nazar commented on #21746
Hi @bmxmale thank you for you report, please open issue here https://github.com/magento-engcom/msi

[2019-03-14 13:54] #21746 closed, assigned to nobody

[2019-03-14 14:23] craigcarnell commented on #20060
@tvaught991 @milindsingh This appears fixed in 2.3-develop, does anyone know which PR fixed it?

[2019-03-14 14:42] craigcarnell commented on #7241
https://github.com/magento/magento2/commit/9c9ed9153084a0c6acb16a6cea6932c117b2d26e

[2019-03-14 14:44] Karlasa opened #21750 "Product attribute labels are translated"
### Preconditions (*)
Version 2.2.3

### Steps to reproduce (*)
1. Add product attribute into product page.
2. Add store specific label
3. add same phrase into translation file

### Expected result (*)
1. Attribute label is not translated and kept as set in admin (store specific label)

### Actual result (*)
1. Attribute label is translated

[2019-03-14 14:45] magento-engcom-team commented on #21750
Hi @Karlasa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-14 14:47] magento-engcom-team commented on #21750
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-14 14:48] magento-engcom-team commented on #21750
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-03-14 14:50] engcom-backlog-nazar commented on #21750
Hi @Karlasa are they already fixed ? https://github.com/magento/magento2/pull/20482

[2019-03-14 15:06] Karlasa commented on #21750
@engcom-backlog-nazar
#20482  fixed issue under function but  __() was still added in this specific template.

[2019-03-14 15:30] magento-engcom-team commented on #19117
Hi @rauberdaniel. Thank you for your report.
The issue has been fixed in magento/magento2#21699 by @david-fuehr in 2.2-develop branch
Related commit(s):
 - [9a839d176f1d8d1ec46d5ce47f7a8ba6cea76067](https://github.com/magento/magento2/commit/9a839d176f1d8d1ec46d5ce47f7a8ba6cea76067)
 - [8e7ddbf4656b15fd37b1321cadabed9d9175ea6e](https://github.com/magento/magento2/commit/8e7ddbf4656b15fd37b1321cada

[2019-03-14 15:30] magento-engcom-team commented on #21294
Hi @wojtekn. Thank you for your report.
The issue has been fixed in magento/magento2#21528 by @wojtekn in 2.2-develop branch
Related commit(s):
 - [7bb5dd47e92e4d20da612e62bae7822de48d1bee](https://github.com/magento/magento2/commit/7bb5dd47e92e4d20da612e62bae7822de48d1bee)
 - [847115efd5068b40a4d274702d6086f0d6549adc](https://github.com/magento/magento2/commit/847115efd5068b40a4d274702d6086f0d654

[2019-03-14 15:30] magento-engcom-team commented on #19276
Hi @ankurverma5540. Thank you for your report.
The issue has been fixed in magento/magento2#21695 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [a4a487829684c76c3b5dfd7e5786a9352dfb915f](https://github.com/magento/magento2/commit/a4a487829684c76c3b5dfd7e5786a9352dfb915f)

The fix will be available with the upcoming 2.2.9 release.

[2019-03-14 15:30] magento-engcom-team commented on #21493
Hi @iproger. Thank you for your report.
The issue has been fixed in magento/magento2#21694 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [b4283aa17b03927d8f2b0983b9b519b684610b5e](https://github.com/magento/magento2/commit/b4283aa17b03927d8f2b0983b9b519b684610b5e)

The fix will be available with the upcoming 2.2.9 release.

[2019-03-14 15:30] magento-engcom-team commented on #20527
Hi @vasilii-b. Thank you for your report.
The issue has been fixed in magento/magento2#21691 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [adf4425136c276f0e482f154198c4f39cc15d00d](https://github.com/magento/magento2/commit/adf4425136c276f0e482f154198c4f39cc15d00d)

The fix will be available with the upcoming 2.2.9 release.

[2019-03-14 15:37] treii28 commented on #21696
I get a 404 on that link

[2019-03-14 15:38] engcom-backlog-nazar commented on #21696
@treii28 yes this is private repository.

[2019-03-14 15:45] magento-engcom-team commented on #21478
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-03-14 15:55] evs-xsarus commented on #8630
This isn't really a problem in the Magento code. Default PHP functionality is used to check if an URL is valid, see:

https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Backend/Model/Url.php#L200

Currently, the check is performed against http://www.faqs.org/rfcs/rfc2396.html .

What Magento could do though, is perhaps add an informative error message should the base_url, config

[2019-03-14 16:25] Bartlomiejsz opened #21752 "Error while installing Magento from scratch if Locale Resolver is injected in cli command"
### Summary (*)
Tested on 2.3, but exactly same code exists in this file on 2.2-develop branch.
Method `getDefaultLocale` of `Magento\Framework\Locale\Resolver` checks configuration in `core_config_data`. The reason of it is that if this class or some other that have it injected in some parent (for example `Magento\Sales\Model\Order\Address\Validator`) is injected in constructor in Cli Command in

[2019-03-14 16:25] magento-engcom-team commented on #21752
Hi @Bartlomiejsz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-03-14 16:30] magento-engcom-team commented on #21372
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98692` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-14 17:01] thsdoug commented on #21738
Hi @engcom-backlog-nazar, why did you close this?  I'm still having an issue on how to resolve it without having to use the Replace on the Import Behavior.

[2019-03-14 18:17] crankycyclops opened #21753 "Order Item Status to Enable Downloads is set to "Pending," but no download links are presented in "My Downloads" when logged in (fix provided)"
### Preconditions (*)

1. Magento 2.2.7
2. PHP 7.1

### Steps to reproduce (*)

1. Login to the admin and set Stores -> Configuration -> Catalog -> Downloadable Product Options -> Order Item Status to Enable Downloads to "Pending"
2. Create a user account on the frontend and login
3. Purchase a downloadable product. The product should be placed in the "pending" state after successful completion of

[2019-03-14 18:27] iget-esoares commented on #12983
Any suggestion on how to do it without changing root files?

[2019-03-14 19:01] chapa38 commented on #3422
I cant see the products in the catalog, why?
The message say:
Add Product
Can't check requested quantity for products without Source Items support.

??

[2019-03-14 19:45] magento-engcom-team commented on #21521
Hi @robyerevan. Thank you for your report.
The issue has been fixed in magento/magento2#21701 by @tuyennn in 2.3-develop branch
Related commit(s):
 - [924dca297c1ac696e1362ec2e76a23676d87efa0](https://github.com/magento/magento2/commit/924dca297c1ac696e1362ec2e76a23676d87efa0)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-14 19:45] magento-engcom-team commented on #20809
Hi @amol2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#21611 by @amol2jcommerce in 2.3-develop branch
Related commit(s):
 - [13991bbefd2ad895c4d6047d8c0e4675130ca8f6](https://github.com/magento/magento2/commit/13991bbefd2ad895c4d6047d8c0e4675130ca8f6)
 - [1f0f7a1b920a1289bffa5c1ffa9a415c264bef61](https://github.com/magento/magento2/commit/1f0f7a1b920a1289bffa5c

[2019-03-14 19:45] #21521 closed, assigned to krishprakash

[2019-03-14 19:45] #20809 closed, assigned to amol2jcommerce

[2019-03-14 19:45] magento-engcom-team commented on #21419
Hi @Den4ik. Thank you for your report.
The issue has been fixed in magento/magento2#21420 by @Den4ik in 2.3-develop branch
Related commit(s):
 - [a168c95b1cd71448bb001d0378caf9998628044f](https://github.com/magento/magento2/commit/a168c95b1cd71448bb001d0378caf9998628044f)
 - [0def6c20ad6ae7ed847cafd75b2cbdf8b651e25f](https://github.com/magento/magento2/commit/0def6c20ad6ae7ed847cafd75b2cbdf8b651e2

[2019-03-14 19:45] #21419 closed, assigned to Den4ik, krishprakash

[2019-03-14 19:45] magento-engcom-team commented on #20905
Hi @Surabhi-Cedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#21638 by @amol2jcommerce in 2.3-develop branch
Related commit(s):
 - [a21901aac61365d1ceb8f58b77246abe3a6a8cd3](https://github.com/magento/magento2/commit/a21901aac61365d1ceb8f58b77246abe3a6a8cd3)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-14 19:45] #20905 closed, assigned to nobody

[2019-03-14 19:45] magento-engcom-team commented on #20989
Hi @dharmendra-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#21371 by @omiroshnichenko in 2.3-develop branch
Related commit(s):
 - [4e348fd0a595579a4be08795c18f13c71ebecea0](https://github.com/magento/magento2/commit/4e348fd0a595579a4be08795c18f13c71ebecea0)
 - [e270deef1b38a89989cb6677d128bc47233a9beb](https://github.com/magento/magento2/commit/e270deef1b38a8998

[2019-03-14 19:45] magento-engcom-team commented on #20928
Hi @ananth-iyer. Thank you for your report.
The issue has been fixed in magento/magento2#20938 by @ananth-iyer in 2.3-develop branch
Related commit(s):
 - [facfa44aa6f5163a1d78f501c94a8a4303b6b631](https://github.com/magento/magento2/commit/facfa44aa6f5163a1d78f501c94a8a4303b6b631)
 - [314d3a8ef24d49f5a55cf6ca3efe5bdfef025b4d](https://github.com/magento/magento2/commit/314d3a8ef24d49f5a55cf6ca3efe

[2019-03-14 19:45] #20928 closed, assigned to ananth-iyer

[2019-03-14 19:45] magento-engcom-team commented on #18017
Hi @leoquijano. Thank you for your report.
The issue has been fixed in magento/magento2#19635 by @niravkrish in 2.3-develop branch
Related commit(s):
 - [b92bbc41c6f76e50b02922067d3df208501a56f6](https://github.com/magento/magento2/commit/b92bbc41c6f76e50b02922067d3df208501a56f6)
 - [95d5f44f6654a3db1ad6eb2b0b17b007f67bc3de](https://github.com/magento/magento2/commit/95d5f44f6654a3db1ad6eb2b0b17b0

[2019-03-14 19:45] #18017 closed, assigned to niravkrish

[2019-03-14 19:45] magento-engcom-team commented on #20414
Hi @irajneeshgupta. Thank you for your report.
The issue has been fixed in magento/magento2#20429 by @nainesh2jcommerce in 2.3-develop branch
Related commit(s):
 - [f4d4d9b7fbe6ab7b0b4721d476b46239d44a2b4d](https://github.com/magento/magento2/commit/f4d4d9b7fbe6ab7b0b4721d476b46239d44a2b4d)

The fix will be available with the upcoming 2.3.2 release.

[2019-03-14 19:45] #20414 closed, assigned to nainesh2jcommerce, cedarvinda, SyntaxKay

[2019-03-14 19:54] iget-esoares commented on #12983
This issue is happening here when user doesn't preview the shipping costs on cart. Not sure why. it works on my local env, but not on production.

[2019-03-14 21:01] bnymn opened #21755 "Magento should create a log entry if an observer does not implement ObserverInterface"
### Summary (*)
In developer mode, if an observer does not implement ObserverInterface, Magento throws an exception. This is the expected behavior.

What I don't understand is that it does not do anything for other deploy modes (default and production). It silently discards the observer without even putting an entry to logs.

### Examples (*)
This is the method where problem occurs. There is only

[2019-03-14 21:01] magento-engcom-team commented on #21755
Hi @bnymn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-03-14 21:04] reesecode commented on #7560
+1 on having this issue still on Order Date from Mage 1 to Mage 2 (2.2.6)

[2019-03-14 21:09] leoquijano commented on #18017
Hi @magento-engcom-team and @niravkrish, will this be available in an upcoming 2.2.x release as well?

I see commit e9fabc98259381035301b28a35a6209831c7687e, but I don't see an upcoming 2.2.x release announced.

[2019-03-14 22:08] crankycyclops opened #21757 "Download of downloadable product in pending state isn't allowed even when pending downloads are allowed in the admin (fix provided)"
### Preconditions (*)

1. Magento 2.2.7
2. PHP 7.1

### Steps to reproduce (*)

1. Login to the admin and set Stores -> Configuration -> Catalog -> Downloadable Product Options -> Order Item Status to Enable Downloads to "Pending"
2. Log into the frontend of a Magento store and purchase a downloadable product as a registered user
3. Click on one of the downloadable product links, which should be i

[2019-03-14 22:08] magento-engcom-team commented on #21757
Hi @crankycyclops. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-15 00:03] danemacmillan commented on #8145
For reference to anyone coming by, I'll explain the current state of this command based on my latest experience.

I'm using Magento `2.2.7`.

The output of the `catalog:image:resize` command is much better than it used to be. Additionally, it's clearly not resizing the same images over and over again. These are about the only positive things I can say about it, though.

**Here are some of my curre

[2019-03-15 01:25] nettree opened #21762 "A question for theme troubleshooting section in official documentation"
### Summary (*)
In https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/themes/theme-create.html, down to the bottom of this page, there is a section `Troubleshooting`, there it suggests we can run command like `magento setup:static-content:deploy en_US` to see if it can resolve the theme is not visible issue, can I ask why? Based on my understanding, if we're in developer mode, this command

[2019-03-15 01:25] magento-engcom-team commented on #21762
Hi @nettree. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-15 06:05] DanielRuf commented on #21762
Hi, please ask this in the devdocs / community repo.

This issue tracker here is for bugs in Magento 2.

[2019-03-15 06:05] #21762 closed, assigned to nobody

[2019-03-15 06:07] DanielRuf commented on #21762
https://github.com/magento/devdocs

[2019-03-15 06:54] MaxTa91 opened #21764 "Price is showing incorrectly on M2.3"
Hello,
I am having a problem, I am NOT sure this is bug from Magento or Not. Please advise me
My code below.

//\Magento\Framework\Pricing\PriceCurrencyInterface $priceCurrency,
//$product       = $this->simiObjectManager->create('Magento\Catalog\Model\Product')->load($product->getId());

 $this->product = $product;

 $finalPrice = $this->product->getPriceInfo()->getPrice(\Magento\Catalog\Pricing\

[2019-03-15 06:54] magento-engcom-team commented on #21764
Hi @MaxTa91. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-15 07:13] MaxTa91 opened #21765 "Price is incorrect on M2.3"
### Summary (*)

I am using Magento 2.3 -- the price is showing incorrectly with simple product. Please advise.
### Examples (*)

My code below.

//\Magento\Framework\Pricing\PriceCurrencyInterface $priceCurrency,
//$product       = $this->simiObjectManager->create('Magento\Catalog\Model\Product')->load($product->getId());

 $this->product = $product;

 $finalPrice = $this->product->getPriceInfo()

[2019-03-15 07:13] magento-engcom-team commented on #21765
Hi @MaxTa91. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-15 07:38] magento-engcom-team commented on #21764
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-15 07:38] magento-engcom-team commented on #21765
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-15 07:38] engcom-backlog-nazar commented on #21764
Duplicate -> https://github.com/magento/magento2/issues/2176

[2019-03-15 07:38] #21764 closed, assigned to nobody

[2019-03-15 07:39] magento-engcom-team commented on #21755
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-15 07:42] engcom-backlog-nazar commented on #21765
Hi @MaxTa91  thank you for your report,   I would recommend you post your question on the Magento forum or community slack

[2019-03-15 07:42] #21765 closed, assigned to nobody

[2019-03-15 07:58] LouNik1984 commented on #21705
HI, I have tested both a previous version (2.2.2) and subsequent versions (2.2.6, 2.2.7) and none seems to have this issue, but every 2.2.5 version I have installed and tested has this issue. So this is a problem of all 2.2.5 versions: those table are not deleted. Can you point me a commit where this issue is solved? So I can try it on my test install and check whether it works. Thank you

[2019-03-15 08:05] Al3ks73 commented on #21752
@magento-engcom-team give me 2.3-develop instance

[2019-03-15 08:05] magento-engcom-team commented on #21752
Hi @Al3ks73. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-15 08:05] magento-engcom-team commented on #21752
Hi @Al3ks73, here is your [Magento instance](https://i-21752-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21752-2-3-develop.instances.magento-community.engineering/admin](https://i-21752-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-15 08:22] magento-engcom-team commented on #21734
Hi @kisroman. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-15 08:30] magento-engcom-team commented on #21745
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-15 08:53] magento-engcom-team commented on #21752
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-15 08:57] magento-engcom-team commented on #21735
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98701`, `MAGETWO-98702` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-15 09:09] onepack commented on #21678
Do you need more information from my side?

[2019-03-15 09:13] epiblue commented on #19173
Is there any temporal fix for this? Untill it will be added to official version?

[2019-03-15 09:19] DaniloEmpire commented on #12271
This works for me:
1. delete node_modules folder content
2. npm install

[2019-03-15 09:20] engcom-backlog-nazar commented on #21678
HI @onepack thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release.
![DeepinScreenshot_select-area_20190315111847](https://user-images.githubusercontent.com/40756439/54421075-560b2600-4714-11e9-825c-ef4104ef2437.png)
![DeepinScreenshot_select-area_20190315111922](https://user-images.githubusercontent.com/40756439/54421077-56a3bc80-4714-1

[2019-03-15 09:20] #21678 closed, assigned to nobody

[2019-03-15 09:25] magento-engcom-team commented on #21755
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98704` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-15 09:30] magento-engcom-team commented on #21755
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-03-15 09:33] onepack commented on #17634
I can acknowledge that it is a standard procedure now for me as well to check the caches after composer update.
They will become disabled and performance will drop dramatically when all crons are running as well.

[2019-03-15 09:55] hostep opened #21766 "Magento 2.3.0 contains references in frontend html to tinymce 4 wysiwyg editor"
### Preconditions (*)
1. PHP 7.2.15
2. Magento 2.3.0

### Steps to reproduce (*)
1. Install a vanilla Magento 2.3.0
2. Open the homepage on the frontend
3. Look at the generated html

### Expected result (*)
1. Not seeing a reference to tinymce editor

### Actual result (*)
1. Seeing the following in the html:
[code]

### Further discussion
I believe this was incorrectly introduced in https://gith

[2019-03-15 09:56] magento-engcom-team commented on #21766
Hi @hostep. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-03-15 10:40] magento-engcom-team commented on #21766
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-15 11:00] PascalBrouwers commented on #21334
I also see allot of calls to $this->encryptor in combination with Redis. We are testing now without Redis to see the performance difference.

[2019-03-15 11:09] magento-engcom-team commented on #21766
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98706` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-15 11:56] HirokazuNishi opened #21768 "Tax in sales order email is displayed after grand total row"
Tax in sales order email is displayed after grand total row. If customers place order by non-base currencies, tax in total row is displayed in strange position.

\Magento\Tax\Block\Sales\Order\Tax defines totals data. However if customer purchased from non-base currency view, _initTotals() adds 'base_grandtotal' data after 'grand_total'. This means, \Magento\Tax\Block\Sales\Order\Tax::initTotals()

[2019-03-15 11:56] magento-engcom-team commented on #21768
Hi @HirokazuNishi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-03-15 12:06] onepack commented on #21678
@engcom-backlog-nazar
Sorry to ask but do you have a related issue in Github or any information on the fix so I can apply the fix in my current installations that are almost going live?

[2019-03-15 12:24] magento-engcom-team commented on #21768
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-15 12:30] wasimhc opened #21769 "magento 2 guest checkout doesn't show reCaptcha"
Preconditions (*)
    1. Magento 2.2.7 & 2.3
    2. MSP reCaptcha extension

Steps to reproduce (*)
    With MSP reCaptcha extension, Magento doesn't use reCaptcha in guest checkout. Though the reCaptcha is displayed if guest checkout is disabled or if checkout by registered customers.

Expected result (*)
    reCaptcha should be displayed in guest checkout.

Actual result (*)
    Guest can genera

[2019-03-15 12:31] magento-engcom-team commented on #21769
Hi @wasimhc. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-03-15 12:31] bengower commented on #21747
@magento-engcom-team I can reproduce on a vanilla Magento instance.

[2019-03-15 12:34] magento-engcom-team commented on #21769
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-03-15 12:34] engcom-backlog-nazar commented on #21769
Hi @wasimhc thank you for you report, please open issue here -> https://github.com/magento/magespecialist_ReCaptcha/issues

[2019-03-15 12:34] #21769 closed, assigned to nobody

[2019-03-15 12:54] wasimhc commented on #21769
Hi @engcom-backlog-nazar Should I open this issue as new issue there?

[2019-03-15 12:55] wasimhc commented on #21769
Hi @engcom-backlog-nazar I've created it again on https://github.com/magento/magespecialist_ReCaptcha/issues

[2019-03-15 13:25] funnyboy1190 commented on #21735
@magento-engcom-team give me 2.3-develop instance

[2019-03-15 13:26] magento-engcom-team commented on #21735
Hi @funnyboy1190. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-03-15 13:26] magento-engcom-team commented on #21735
Hi @funnyboy1190, here is your [Magento instance](https://i-21735-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21735-2-3-develop.instances.magento-community.engineering/admin](https://i-21735-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-03-15 13:33] peterjaap opened #21770 "Can't create foreignKey with Declarative Schema on table not created through DS"
### Preconditions (*)

1. Magento 2.3.0

### Steps to reproduce (*)

1. Create a module that uses Declarative Schema by creating a `db_schema.xml`
2. Try to create a `foreignKey` with as `referenceTable` a table that isn't created/controlled through Declarative Schema (in my case a 3rd party extension's table)
3. Run `php bin/magento setup:upgrade`

### Expected result (*)

1. Table is created wit

[2019-03-15 13:33] magento-engcom-team commented on #21770
Hi @peterjaap. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-03-15 13:37] stkec opened #21771 "Performance degradation in Layered navigation using Yes/No attribute"
Relates to [#20969](https://github.com/magento/magento2/issues/20969) and [#3283](https://github.com/magento/magento2/issues/3283)

### Preconditions
1. Magento 2.3.0 (2.3.1? any 2.x.x?)
2. Percona SQL Server >= 5.6
3. About 65 000 of products with about 50 attributes in 15 attribute sets
4. Lots of filterable attributes for layered navigation
5. Applied patch from https://github.com/magento/magen

[2019-03-15 13:37] magento-engcom-team commented on #21771
Hi @stkec. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-03-15 14:08] magento-engcom-team commented on #21768
Hi @Nazar65. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-03-15 14:18] magento-engcom-team commented on #21768
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98709`, `MAGETWO-98710` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-03-15 14:49] deadlyw1re commented on #12889
Why isn't the shipping price on the storeview level instead of website level?

[2019-03-15 15:03] DarthFly commented on #8877
Still valid in 2.3

1. Create an order by customer (FE/BE) or place a product to the cart for registered user.
2. Remove this product from magento.
3. In backend go to the Customer account -> Manage Shopping Cart.
In case of created order magento will create a cart based on the last customers order, applying product_id to the cart for removed product.

Expected result: empty cart, some errors that

[2019-03-15 15:06] DarthFly commented on #8877
@magento-engcom-team please open

[2019-03-15 15:18] DarthFly commented on #8877
BTW
[code]
What will happen when $row is something different? Question for Fatal error.

[2019-03-15 15:26] kisroman commented on #21734
@avgust1111 I can not reproduce this issue. Fresh Magento 2.3 installation. Go to Stores -> Configuration -> Catalog -> Catalog -> Storefront -> Products per Page on Grid Allowed Values - enter some valid value and press save - save is successful for me.

[2019-03-15 15:30] avgust1111 commented on #21734
@kisroman You can't reproduce the issue, because that kind of validation is not supported on the Stores -> Configuration pages.
Please, add specified validation rule (validate-per-page-value-list) to any input, which is declared within backend UI component XML to reproduce the issue

[2019-03-15 15:53] danemacmillan commented on #8145
Before leaving work yesterday I decided to see how long this operation would truly take. As is tradition, Magento2 failed catastrophically after 45 minutes without further details--providing a shallow message about a fart, when really it should be giving me all the gory details about its crap-filled underwear.

Before I could do that, though, it failed multiple times about a [`swatch_image.jpg`](h

[2019-03-15 16:03] kisroman commented on #21734
@avgust1111 thank you for additional information. I am able to reproduce it now.

[2019-03-15 16:04] magento-engcom-team commented on #21734
@kisroman Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is ad

[2019-03-15 16:04] magento-engcom-team commented on #21753
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va