[2015-01-21 17:13] TexanHogman commented on #991
Just today I learned it breaks down like this:
Technology: Interception
Developer creates: Plugins
Magento framework: Generates  Interceptors classes to call plugin

So yes we can align on a better non overloaded name.  Suggestions?

-----Original Message-----
From: "Anton Makarenko" <notifications@github.com>
Sent: ‎1/‎21/‎2015 5:39 PM
To: "magento/magento2" <magento2@noreply.github.com>
Subject:

[2015-01-21 17:15] ftbastler commented on #983
Thanks for the answer!

[2015-01-21 20:12] ericthehacker commented on #992
Work in progress implementation on https://github.com/ericthehacker/magento2/tree/feature/native-password-hashing .

[2015-01-22 02:54] ericthehacker commented on #992
@airbone42  @davidalger
The implementation is complete, with unit tests, on https://github.com/ericthehacker/magento2/compare/feature/native-password-hashing .

The only remaining issue is to determine the best way to include the compat library. Although it is composer friendly, it doesn't use any particular class naming standard -- it simply defines the collection of four global functions which c

[2015-01-22 05:12] chaluvadiswamy commented on #980
@maksek ,please find the below screen
![capture](https://cloud.githubusercontent.com/assets/7018680/5850863/f56cfd40-a222-11e4-92c4-b3335a00c24c.JPG)

@mazhalai ,See the version details as you requested
![version](https://cloud.githubusercontent.com/assets/7018680/5850880/454f8422-a223-11e4-9975-19fb4d4e5426.JPG)

[2015-01-22 06:28] newbie1 opened #993 "Groupprice does not exist"
In Linux system I get following error when I go to product page. In windows it works, because it doesn't care about casing.

Class Magento\Catalog\Model\Product\Attribute\Backend\Groupprice does not exist

Error is happening because actual file name is GroupPrice and not Groupprice.

[2015-01-22 07:01] Sanuch commented on #993
This issue was fixed in PR #943, you should update your code to last revision and recheck it

[2015-01-22 07:18] buskamuza commented on #991
@antonmakarenko , using different terms in the code and in the discussions is a bad idea, as "Domain-Driven Design" book says :)
"Interceptor" sounds good and reflects the idea/behavior.

[2015-01-22 08:43] toonvd opened #994 "Interception on customer auth not working using php 5.5.19"
Hi,

On PHP 5.5.19 my plugin on customer authentication does not work, when I upgrade to 5.5.25 or php 5.4 it does I have the feeling this is not a bug in interception but a Bug in de customer Module like Anton Krill said.
This might be a bug worth looking at.

[2015-01-22 09:02] antonkril commented on #991
Interceptor doesn't reflect idea and it's already taken by auto-generated internal class that is used to call plugins.

[2015-01-22 09:04] mcspronko commented on #581
@tmp2000, fix will be delivered with next publication.
Thank you for your contribution.

[2015-01-22 10:06] airbone42 commented on #991
What do you think about naming it a "hook"?

Anyway I don't care so much about the final name, more that the current name plugin is really ambigious.

[2015-01-22 10:15] vpelipenko commented on #994
@toonvd, could you provide more details about this issue and provide class and method which you are going to customize?

[2015-01-22 11:55] kandy commented on #993
Please note that if you installed application before the upgrade, you need to reinstall it or change  model name in the database

[2015-01-22 13:36] verklov commented on #972
@mrugeshrocks, are there other questions remaining that you'd like to ask related to your original question?

[2015-01-22 14:49] verklov commented on #971
@bgalileo, could you please provide some specific use case for us? We can hardly understand what are your steps and what you expect to achieve. Thank you!

[2015-01-22 14:51] verklov commented on #970
@tzyganu, we created a ticket in the internal tracker: MAGETWO-32939. We will update you once we have any news on the resolution and fix availability time. Thank you!

[2015-01-22 14:55] verklov commented on #969
@aishwaryacedcoss, we'd like to resolve your question. Could you please provide us with the additional details requested?

[2015-01-22 14:57] verklov commented on #967
@aishwaryacedcoss, did advice from @tzyganu help you resolve your issue? Please let us know whether you need additional assistance from someone from the team.

[2015-01-22 15:05] toonvd commented on #994
@vpelipenko i was trying to use a plugin on authentication, works in all php versions but this one. Below is the code:

di.xml
[code]
Accountmanagement code

[code]

I am getting no error in Apache or page or the log files in var/log with developer mode enabled, it simply does not work.

[2015-01-22 15:14] Sanuch commented on #994
Have you cleared folder var/cache after you added your plugin?

[2015-01-22 15:25] toonvd commented on #994
@Sanuch yes, furthermore, basic questions will not apply in this case since it worked on other php versions on the same codebase, I should mention that this was before i joined centercode and did some betatesting. Been trying for atleast an hour back then... :disappointed:

[2015-01-22 16:24] verklov commented on #966
We created the ticket int he internal tracker with ID: MAGETWO-32945. the team will work on it according to the priorities. Thank you!

[2015-01-22 16:34] verklov commented on #957
@Vinai, we'd like to hear back from you. Do you need further assistance from the team on this issue?

[2015-01-22 17:07] gewaechshaus commented on #966
Hey Sergey,

thanks. I'll keep you updated. Actually we tracked it down so deep, i
has to be related to ZF and the some of the currency formating methods.
Another thing in the background, it could be related to hhvm's parsing
of php money_format.
*
One thing we could clearly track: *
If this bug appends, the format of the each currency gets broken,
indepent of which currency you choose. For exampl

[2015-01-22 23:28] otoolec commented on #919
Thanks for reporting this bug.  I've opened up MAGETWO-32969 internally to track and resolve the issue.

[2015-01-23 00:50] ericthehacker commented on #992
It's still not clear to me how to import the compatibility library since it doesn't contain a class which the autoloader will pick up on.

Obviously, I could follow the M1 approach of using require_once in the model which uses it, and this of course works perfectly: https://gist.github.com/ericthehacker/09ed7e8f1ac4d567c90c .

However, in the M2 core, I can't find a clear precedent arbitrarily req

[2015-01-23 05:38] vsikarwar commented on #833
Hi,

Yes I have fixed the issue. That was the composer problem.

Now I have successfully resolved the issue.

Can I go live with the code.

[2015-01-23 06:26] Vinai commented on #957
Thanks for the follow up @verklov! With the developer beta forum ans work I haven't had any time to dig further into this issue, but I plan on doing so when I have a little space.

[2015-01-23 09:44] verklov commented on #957
No problem @Vinai :-) We will be waiting for update from you.

[2015-01-23 11:02] mrugeshrocks commented on #972
Thanks @buskamuza & @mazhalai

With this im closing the issue.

[2015-01-23 11:02] #972 closed

[2015-01-23 12:41] verklov commented on #915
@fbrnc, did you try to use the recommendation by @yaronish? Was your issue resolved?

[2015-01-23 13:29] tzyganu opened #996 "Pager block should support url "fragment"."
The `\Magento\Theme\Block\Html\Pager` class does not support "fragments" for generating urls like  `some-page/?p=2#fragment-here`.

Here are some scenarios when this might be needed.
 - A category page has an image and a description and below that the products.  Most likely the customer reads the description on the first page he visits and will not care about seeing it again on the second page. So

[2015-01-23 16:42] verklov commented on #966
Thanks a lot for your input, Jan! Unfortunately, I cannot promise you issue handling - you know that we do not officially support hhvm. However, the ticket is in the product backlog and will be handled according to our priorities. Have a good day! :-)

[2015-01-23 16:49] Mirogniewa commented on #980
Same issue here.

Check if you have a message like that
PHP Fatal error:  Maximum function nesting level of '100' reached, aborting! in /vendor/composer/ClassLoader.php on line 318
in your error.log. If so, then the following may work: http://devdocs.magento.com/guides/v1.0/release-notes/release-notes.html#known-devbeta-xdebug

[2015-01-23 17:05] verklov commented on #962
MAGETWO-33021

[2015-01-23 17:13] verklov commented on #946
@fooman, did you try the approach suggested by @antonkril? Please let us know whether your issue resolved by this change.

[2015-01-23 18:14] muasir commented on #714
This issue was present when we used exec.  Now we don't use exec, so this shouldn't be a problem.

[2015-01-23 18:14] #714 closed, assigned to maksek

[2015-01-23 18:14] #658 closed

[2015-01-23 18:22] buskamuza commented on #992
@ericthehacker , we're going to stop supporting PHP 5.4 soon. The work is already in progress.
So maybe you just don't need compatibility library then?

[2015-01-23 18:31] mazhalai commented on #851
For internal tracking: MAGETWO-32335

[2015-01-23 18:34] alankent commented on #992
I have not looked at any code, but just for clarity a requirement is going to be to upgrade customers with currently encrypted passwords. So why using a better hash for new passwords sounds great we need to migrate old passwords during an upgrade, and we would need to schedule an internal security audit of the new code as a safeguard.

[2015-01-23 18:54] monkeysee commented on #939
Internal tracking number: MAGETWO-33025

[2015-01-23 19:04] monkeysee commented on #928
Created internal issue: MAGETWO-33026

[2015-01-23 19:25] monkeysee commented on #904
Reported internal issue: MAGETWO-33027

[2015-01-23 19:31] monkeysee commented on #896
Internal tracking number: MAGETWO-33028

[2015-01-23 20:22] monkeysee commented on #771
MAGETWO-31249

[2015-01-23 20:24] monkeysee commented on #767
MAGETWO-31535

[2015-01-23 20:28] anupdugar commented on #790
Thanks @nyov for the updated fix . We have an internal issue to address this : MAGETWO-31613. We will keep you posted when the fix is applied.

[2015-01-23 21:05] vpelipenko commented on #682
This issue is fixed and available in 0.42.0-beta5.

[2015-01-23 21:05] #682 closed

[2015-01-23 21:07] vpelipenko commented on #581
This issue is fixed and available in 0.42.0-beta5.

[2015-01-23 21:07] #581 closed

[2015-01-23 21:10] joanhe commented on #840
Thanks for raising the issue. This issue should be fixed with internal pull requests 16 and 30 in the history.

[2015-01-23 21:24] muasir commented on #840
closed based on @joanhe comment.

[2015-01-23 21:24] #840 closed

[2015-01-23 21:26] muasir commented on #854
closing this issues as @Crustymd hasn't responded in 15days.  Please reopen if our fix didn't work for you.

[2015-01-23 21:26] #854 closed

[2015-01-23 21:39] mazhalai commented on #917
@snky1987 The original issue was fixed and contributed in scope of MAGETWO-31850. The DateTest issue was fixed in https://github.com/magento/magento2/pull/913.

[2015-01-23 21:39] muasir commented on #917
closing based on @mazhalai comment.

[2015-01-23 21:39] #917 closed

[2015-01-23 21:40] muasir commented on #829
Closing based on @anupdugar  comment.

[2015-01-23 21:40] #829 closed

[2015-01-23 21:41] muasir commented on #823
Closing based on the above comment.

[2015-01-23 21:41] #823 closed

[2015-01-23 21:42] muasir commented on #796
We have committed a fix for this issue.  Please reopen if the fix doesn't work for you.

[2015-01-23 21:42] #796 closed

[2015-01-23 21:42] muasir commented on #792
We have committed the fix for this issue.  Please reopen if the fix doesn't work for you.

[2015-01-23 21:42] #792 closed

[2015-01-23 21:47] muasir commented on #673
@tzyganu we have fixed most of the issues listed in this post.  I am closing this issue, as fixed.  Feel free to open new issue if we missed anything.

[2015-01-23 21:47] #673 closed

[2015-01-23 21:48] antonmakarenko commented on #887
The config.php is created based on what's in module.xml. For not enabled modules, the config.php will have a record in the list with 0 value.

[2015-01-23 21:56] mazhalai commented on #980
@chaluvadiswamy can you try @Mirogniewa's suggestion of increasing `xdebug.max_nesting_level` and let us know if installation worked fine?
Also, what version of Magento did you try to install?

[2015-01-23 22:02] muasir commented on #887
@fooman I removed the bug tag, as this seems more of question than bug.  Let's know if your query was answered by @antonmakarenko.  If yes, let's close this issue.

[2015-01-23 22:18] muasir commented on #838
Closing the issue based on @yogisfunda comment.  Thanks @snky1987 for your explanation.

[2015-01-23 22:18] #838 closed

[2015-01-23 22:33] ericthehacker commented on #992
@buskamuza
Thanks for the clarification of regarding PHP version support.

@alankent
Upgrading previously hashed customer passwords shouldn't be a problem -- I've already implemented this in my M1 module but wasn't sure if it was necessary for M2.

[2015-01-23 22:49] avoelkl commented on #992
Good thing to use the standard PHP password functions from PHP >= 5.5! As PHP 5.4 is in extended support with security fixes already and will be at end of live at the time when M2 is released, this is the chance to do so (as @buskamuza already confirmed).
password_hash/password_verify are available from PHP 5 >= 5.5.0 on so I don't see a need for the compatibility library then.

Regarding migratio

[2015-01-23 23:56] rgauny opened #997 "sample data will not install"
[ERROR] exception 'PDOException' with message 'SQLSTATE[42S22]: Column not found: 1054 Unknown column 'entity_type_id' in 'field list'' in C:\Users\rgaunyjr\Documents\GitHub\magento2\vendor\magento\zendframework1\library\Zend\Db\Statement\Pdo.php:228 Stack trace: #0 C:\Users\rgaunyjr\Documents\GitHub\magento2\vendor\magento\zendframework1\library\Zend\Db\Statement\Pdo.php(228): PDOStatement->execu

[2015-01-24 02:50] RxOuchy commented on #980
Just ran into this same Issue. Disabling xdebug fixed it for me!

[2015-01-24 09:11] Sanuch commented on #994
@toonvd , I'm working whith this version of php and have not problem whith interception. Could you provide full code of your plugin for AccountManagement

[2015-01-24 11:18] Antonioele opened #998 "sample data not install"
First installation deadlock at 96%
Installing customers..
if I continue

[ERROR] exception 'Magento\Framework\Exception\State\InputMismatchException' with message 'Customer with the same email already exists in associated website.' in /var/www/magento2.dev/app/code/Magento/Customer/Model/AccountManagement.php:529
Stack trace:
#0 /var/www/magento2.dev/app/code/Magento/Customer/Model/AccountManageme

[2015-01-24 11:23] Antonioele commented on #998
the second installation say exception 'Magento\Framework\Exception\State\InputMismatchException' with message 'Customer with the same email already exists in associated website.' in /var/www/magento2.dev/app/code/Magento/Customer/Model/AccountManagement.php:529., but email is email
administrator.

[2015-01-24 12:44] orlangur commented on #357
To make the things simpler. If we have `vendor` folder, no need to invent some additional places for modules. Let's just make all of them follow the same convention.

Totally second this, also, would like to see `magento/framework` split into components. With such approach no custom composer package types will be needed.

[2015-01-24 13:33] airbone42 commented on #992
Anyway it's technically not possible to migrate the old hashes without bruteforcing them automatically. The only way would be to ask customers to specify a new password after the first login.

[2015-01-24 14:20] tzyganu commented on #673
@muasir everything seams to work now. Thank the team from me for the great job.

[2015-01-24 17:32] mazhalai commented on #998
@Antonioele installing sample data does take a while. Please be patient. Also, ensure xdebug's nesting level is set to 200. Regarding your second error, this is expected since the previous install did insert values in the database. If you want to use the same email, you will have to clear your database and then install again. There is a command line tool to do this. `php -f setup/index.php uninsta

[2015-01-24 23:56] airbone42 commented on #996
:+1:

[2015-01-25 10:06] airbone42 commented on #852
So as an alternative: It's possible to have plugins of plugins, so everyone can also execute something before, after or around another plugin. Just looks weird to have method names like beforeAfterFilter.

The question is: Is this the best practice? Shouldn't we remove in this case the sortOrder attribute at all to force one way of solve these conflicts? The hardcoded integer sortOrder solution is

[2015-01-25 12:19] bgalileo commented on #971
Scenario: I'm writing a module which allows defining customer-specific prices for products. So I needed to create a backend form where backend users select a customer, select a product and enter a price. To achieve that, I had to:
 * Create two subclasses of Mage_Adminhtml_Block_Widget_Grid which load the appropriate collections and set a rowClickCallback on those grids.
 * Create to more actions

[2015-01-26 07:43] SchumacherFM opened #1000 "Migrating from Mage1 -> Mage2 can be optimized"
I have written SQL database migration tool (not yet open source) which runs pretty well.

The tools does a bunch of fixes and writes all executed SQL scripts into `core_resource` tables column `version`. Column `data_version` is null.

After my migration tools has finished the setup scripts in the modules `data` folder needs to be run to apply some Magento2 stuff to your Magento1 database. I call

[2015-01-26 10:46] verklov commented on #971
Got your point @bgalileo. Thank you for the clarification and additional information provided! We created the ticket for this improvement in the product backlog and will process it according to the priorities.

MAGETWO-33049

According to the new procedure, we are now closing this GitHub ticket. Thank you again for your contribution!

[2015-01-26 11:36] vpelipenko commented on #804
The issue is fixed and will be delivered in the next update.

[2015-01-26 12:05] Landkeks commented on #852
@antonkril Have you decided whether you'll implement this proposal yet? I think this is an important change that should rather be made sooner than later (esp. since some people have already started porting their modules to Magento 2).

[2015-01-26 13:51] Vinai commented on #976
Thank you Anton!

[2015-01-26 13:51] #976 closed

[2015-01-26 14:28] ericthehacker commented on #992
The only reasonable way to upgrade the hash security for old passwords would be to catch them during login, and if the passwords validates (using the old hash algorithm), rehash using the native API.

[2015-01-26 14:38] antonmakarenko commented on #887
Currently, the methods that request module.xml information are used only in the following places:

1. In Setup application during installing/upgrading modules
2. In Magento application runtime in order to check if current registry of modules is corresponding to what’s in the source code. This is performed only once and then cached, and will be performed only after the configuration cache is invali

[2015-01-26 15:00] mazhalai commented on #997
For internal tracking - MAGETWO-33085

[2015-01-26 16:16] oisvidi commented on #676
Would be helpful for shipping.

Unit conversion library you might like: https://github.com/triplepoint/php-units-of-measure
(each carrier defines the unit it uses)

Dimension packaging for shipment: https://github.com/dvdoug/BoxPacker
(each carrier defines boxes with length, width, height and weight).

[2015-01-26 16:22] fbrnc commented on #915
Problem seems to be resolved now. Sorry for not closing this ticket earlier.

[2015-01-26 16:22] #915 closed

[2015-01-26 17:15] vpelipenko commented on #994
@toonvd, we've checked the code you provided and it works on PHP 5.5.19. Probably, it is something with file/class naming. It will be good if you share all your changes with us (for example, in separate branch in you forked repository). Thanks.

[2015-01-26 17:47] vpelipenko commented on #996
Thank you for contributing this suggestion. It looks as useful improvement, but it is not planned for our future development. Could you create pull request for that?

[2015-01-26 18:15] johnbendi commented on #997
What's the status of this bug? I'm getting the same error.

[2015-01-26 19:58] alankent commented on #992
Normal approaches (some mentioned earlier in this thread) are

 1. Keep track of version of hash function with password, so checking code knows which hash function to use (e.g. prefix password hash with version number)
 2. Try multiple hash functions and accept password if any hash function works

The first is more secure. Forcing customers to re-enter a new password is not acceptable.

[2015-01-26 20:46] WilliamAtMagento commented on #824
This behavior is as expected by design.

Indexing has become a background operation with automatic consideration for partial or full re-indexing.

Documentation will be updated with details about asynchronous admin functions.

[2015-01-26 20:46] #824 closed

[2015-01-27 06:21] aishwaryacedcoss commented on #967
Sorry the dealyed reply .. yes my Problem is not resolved yet ..it is giving same error

It is saying :- undefined property: Excercise\Weblog\Block\Adminhtml\Blogpost\Edit::$buttonList in /opt/lampp/htdocs/workspace/magento2/app/code/Excercise/Weblog/Block/Adminhtml/Blogpost/Edit.php on line 39";i...

[2015-01-27 08:03] toonvd commented on #994
Allright, will do it this afternoon.

[2015-01-27 10:07] airbone42 commented on #992
The problem with tracking the version and not migrating the passwords is that the list will get longer and longer over time. Right now we have MD5 and SHA256 just for backwards compatibility in Magento 2. And if that approach continues they'll still be there in Magento 3 if there's no cut or a migration at some point. So newer passwords will be more secure, but there might still be a lot of old MD

[2015-01-27 10:10] fooman commented on #887
I think this can be closed as wontfix with effort not worth the payoff.

[2015-01-27 10:12] SchumacherFM opened #1001 "Database Schema: Missing important Foreign Keys"
During my database schema comparison I discovered several missing foreign keys and one incorrect unique index (at least I think the unique key is wrong 8-) Issue #1002 ).

The following 5 screenshots shows the missing keys. Left side Magento2 and right side Magento1.

If there is a technical reason why you haven't implemented the keys: Please explain :-)

![catalog_product_index_eav_decimal](https

[2015-01-27 10:15] SchumacherFM opened #1002 "Database Schema: Incorrect Unique Indexes"
Regarding my database inspections for migrating Mage1->2 I've found this thing:

The unique key which conflicts is in table `cataloginventory_stock_item` with the name

`UNQ_CATALOGINVENTORY_STOCK_ITEM_PRODUCT_ID_WEBSITE_ID` for (`product_id`,`website_id`).

IMHO: This does not make sense because of the column `stock_id`. The unique key must be on (`product_id`,`stock_id`). This newly introduced c

[2015-01-27 10:22] johnbendi commented on #997
Is there any temporary workaround or sample-data one can use for installation at the moment?

[2015-01-27 10:38] fooman commented on #946
I have updated to 0.42.0-beta4 in the meantime and I can confirm that the original stack trace goes away after adding the `parent::__wakeup();` call

[2015-01-27 10:45] TexanHogman commented on #1000
@SchumacherFM to satisfy several requirements we are taking a different approach to support migration to M2.

The existing feature of update scripts, requires the site to be in maintenance mode and because some operations could take a significant amount time doing conversions we were not comfortable relying on this for our M2 data migration needs.

In M2 we are supporting migration using a new too

[2015-01-27 10:51] fooman commented on #991
Maybe we can make it more specific by including `method` in the name - so something like `method hook`.

[2015-01-27 11:24] IvanChepurnyi commented on #1002
I totally support your point concerning website_id in stock tables. Even if it is a part of multiwarehouse feature, website_id should not be in any of the following tables, it is easier to make a relation between website and stock via configuration.

Let's imagine we have a company that sells to US/CA market and EU market, they have a website for each country. But there is only 2 warehouses: EU wa

[2015-01-27 11:32] verklov commented on #915
No problem, @fbrnc. We are glad the issue is resolved :-)

[2015-01-27 11:37] verklov commented on #946
Great to hear that! As @antonkril mentioned, the fix will be delivered to the repository, most likely during the next update this Friday. Meanwhile, we are closing the ticket.

[2015-01-27 11:37] #946 closed

[2015-01-27 14:56] vpelipenko commented on #867
@Crustymd, we can't reproduce now the issue with processing themes when empty directory exists. Both lists in Content -> Design -> Themes and Store - > Configuration -> Design -> Design Theme are updated. Could your check it again on the latest code?

@wojtekn, @Vinai, you are right here that there is only manually way to update custom theme in core_theme table. This behavior will be reviewed duri

[2015-01-27 15:25] vpelipenko commented on #424
@hidonet, sorry for so late response, but I hope it will still useful for all. If we look at app\code\Magento\Catalog\view\base\templates\product\price\tier_prices.phtml we can see that phrase 'Buy %1 for %2 each and save %3' consists of 4 smaller phrases: 'Buy %1 for %2', 'each', 'and', 'save'. First 2 can be easy combined, but the last two are the part of template, contain HTML formatting and de

[2015-01-27 16:09] vpelipenko commented on #744
Ticket: MAGETWO-31585

[2015-01-27 16:19] avoelkl opened #1003 "Better overview for Payment Methods"
Given that you run a big shop with a lot of payment methods, some of the payment extensions bring a lot of unneeded/unwanted payment methods with them which appear in the payment method list. Of course you can generate a list and hide them via custom xml (at least in M1), but it's not very handy.

Edit: To get an idea what I mean:
Currently we have a shop which has 68 payment methods in this list.

[2015-01-27 16:30] choukalos commented on #745
I'm tracking some platform epics around introducing a new data access layer later after Magento 2.0 is released.  It's way down there in the backlog; we'd add services & refactor before doing that as that would minimize the disruption of adding a new data access layer to the system to the ecosystem.

[2015-01-27 17:51] hidonet commented on #424
I know this file and sentences. But in some languages ( for example in Turkish ) meaningfully combining sliced sentences is very difficult. Please add single sentence for every single state.

[2015-01-27 18:19] alankent commented on #992
I will make sure the product team are aware of this thread. But be aware that an influence is whether all merchants are happy to be FORCED to reset all customer passwords rather than give them an option to CHOOSE whether to take advantage of new password hashing (as part of a M2 upgrade.)

[2015-01-27 20:31] davidalger commented on #991
My 2 cents: plugin is ambiguous as others have stated. There is no difference between a plugin, module, and extension in Magento 2. However, the documentation talks about creating "plugins" acting as if they are their own variety of extension/module which behaves differently in how it's built. But these "plugins" (aka interceptors) are used by core modules to create their functionality in a few ca

[2015-01-27 20:39] davidalger commented on #992
I see three possible solutions, which I'll list in order of preference:

1. System only contains support for the PHP 5.5 hashing API. Users which have been imported and/or migrated in from Magento 1 may use (new functionality) to "reset" their password and regain access to their account. This option is best from a long-term security standpoint, but hardest on users, particularly if the UI/UX is no

[2015-01-27 21:45] pronto2000 commented on #992
You know, David, I like the third option a lot. In fact I have a project underway that involves importing customers from custom built system and I'm probably going to implement something like that. It's completely invisible from customer perspective and yet relatively simple to do. All that is needed is either to add an attribute for the hash type or make an educated guess based on hash length (fi

[2015-01-27 23:15] kassner commented on #980
Increasing `xdebug.max_nesting_level` to `200` worked for me.

[2015-01-28 07:44] vkorotun commented on #732
Linked to internal ticket: MAGETWO-33329.

[2015-01-28 07:51] andreaspenz commented on #1003
this could be very helpful :metal:

[2015-01-28 12:11] orlangur commented on #1001
Few of keys you mentioned were identified as unused with http://www.percona.com/doc/percona-toolkit/2.1/pt-duplicate-key-checker.html and thus eliminated.

[2015-01-28 12:44] cbmd commented on #1003
@avoelkl this could be not just for payment methods, but for all similar functionality, shipping methods for example....

[2015-01-28 13:24] mmenozzi commented on #357
I didn't understand.

[2015-01-28 14:15] orlangur commented on #357
Looking at [Symfony way](https://github.com/symfony/symfony-standard/blob/2.7/app/AppKernel.php#L8) it looks like PHP class corresponding to bundle configuration could be placed anywhere.

With [convention over configuration](http://en.wikipedia.org/wiki/Convention_over_configuration) we just define one particular place where module configuration files could be placed. So, `vendor/*/*/etc/module.x

[2015-01-28 14:17] avoelkl commented on #1003
@cbmd yes, at least for shipping methods this would also make sense.

[2015-01-28 14:29] avoelkl commented on #1003
I have updated my issue with some details regarding payment method count.

[2015-01-28 14:46] vpelipenko commented on #1003
@avoelkl, thanks for contribution. This issue will be reviewed by responsible product owner soon.

[2015-01-28 15:20] davidalger commented on #357
@orlangur What you propose will not work for anything but sites which use only vendor code. Custom modules written for a specific site do not belong in vendor and would (in almost all cases) not be found in a composer repository. These should be in a separate location specifically for modules which are custom made for the site. This is why @alankent said he'd like to "see modules, themes, lang pac

[2015-01-28 15:28] mmenozzi commented on #357
And do you think that this is a good solution?

In this way when working on a particular project I'm forced to have all modules under `vendor`, even those modules specific for that project. As @alankent said (and I agree with him) the Magento Framework should support module loading from both `app/code` and `vendor`. In this way we could have project-specific modules in `app/code` and external (re-

[2015-01-28 15:47] Antonioele opened #1004 "Problem with template luma"
I have install Magento2  for second time I have same problem. Less don't work with exception:

[2015-01-28 16:18:51] main.CRITICAL: exception 'LogicException' with message 'magento_import returns empty result by path css/source/extend.less' in /opt/lampp/htdocs/magento2/lib/internal/Magento/Framework/Less/File/Collector/Aggregated.php:78 Stack trace: #0 /opt/lampp/htdocs/magento2/lib/internal/Mage

[2015-01-28 16:17] tkacheva commented on #776
@seansan
Isn't it very easy to customers to use different emails on checkout to get the promotional discount?

[2015-01-28 16:22] seansan commented on #776
Many articles have been written about this

No. They don't.

But some people do. But they need to know. Need to want to do it. And actually do it.

The solution is better than now = no functionality to check at all

Sent from my iPhone.

On 28 Jan 2015, at 17:18, tkacheva <notifications@github.com> wrote:

@seansan
Isn't it very easy to customers to use different emails on checkout to get the prom

[2015-01-28 16:29] vasiliyseleznev commented on #1004
Hi @Antonioele,

Let me just clarify, does it happens on clear installation?  Did you make any edits to theme LESS CSS files? Please see more about [@magento_import](https://wiki.magento.com/display/MAGE2DOC/CSS+Preprocessing+in+Magento+2#CSSPreprocessinginMagento2-The@magento_importinstruction)

[2015-01-28 16:30] tkacheva commented on #776
We will look into this. Thank you!

[2015-01-28 17:13] josealgardataborges opened #1005 "Wrong Currency"
Portuguese Currency is EURO since 1st of January 2002, so someone needs to update the install screen to reflect that reality,

The install url is STEP4: http://localhost/magento2/setup/#/customize-your-store

![portugueseeuros](https://cloud.githubusercontent.com/assets/8929655/5942655/d824cc70-a710-11e4-88cf-4a624a8e0af9.png)

[2015-01-28 21:02] alankent commented on #357
We tried to allow downloaded modules to stay under vendor, but hit a problem with the code not being flexible enough. Architecturally, I personally like the main site getting the list of module directories from a configuration file created by the setup process. That is, let them be anywhere! Setup can have conventions like only looking in vendor and app/code (or app/modules) to create this config

[2015-01-28 21:13] mazhalai commented on #1005
For internal tracking MAGETWO-33378

[2015-01-29 05:53] NZKiwi32 commented on #997
Also got the same issue, any patch suggestions?

[2015-01-29 10:23] mmenozzi commented on #357
Hi @alankent,

Yes it's true. Unfortunately, there are a lot of components in Magento Framework that assume that there is only one modules base directory. It's sufficient to search the usages of the `\Magento\Framework\App\Filesystem\DirectoryList::MODULES` constant in the Magento Framework to find a list of components based on this assumption.

Ok I understand that, it's fine. Can you tell us whe

[2015-01-29 11:04] vpelipenko commented on #424
Internal ticket has been created: MAGETWO-33393. We'll investigate the issue and come back with our solution.

[2015-01-29 11:18] Gaffen commented on #997
+1 Any immediate suggestions before an official push would be appreciated

[2015-01-29 11:20] vpelipenko commented on #513
Internal ticket: MAGETWO-23155

[2015-01-29 11:21] vpelipenko commented on #524
Internal ticket: MAGETWO-23158

[2015-01-29 11:23] vpelipenko commented on #526
Internal ticket: MAGETWO-23159

[2015-01-29 11:24] vpelipenko commented on #527
Internal ticket: MAGETWO-23160

[2015-01-29 11:25] vpelipenko commented on #528
Internal ticket: MAGETWO-23163

[2015-01-29 11:26] vpelipenko commented on #537
Internal ticket: MAGETWO-23174

[2015-01-29 11:27] vpelipenko commented on #546
Internal ticket: MAGETWO-23469

[2015-01-29 11:29] vpelipenko commented on #549
Internal ticket: MAGETWO-23631

[2015-01-29 11:30] vpelipenko commented on #559
Internal ticket: MAGETWO-23851

[2015-01-29 12:14] vpelipenko commented on #566
Internal ticket: MAGETWO-24366

[2015-01-29 12:15] vpelipenko commented on #570
Internal ticket: MAGETWO-24409

[2015-01-29 12:16] vpelipenko commented on #571
Internal ticket: MAGETWO-24798

[2015-01-29 12:18] vpelipenko commented on #573
Internal ticket: MAGETWO-24799

[2015-01-29 12:19] vpelipenko commented on #599
Internal ticket: MAGETWO-25647

[2015-01-29 12:20] vpelipenko commented on #600
Internal ticket: MAGETWO-25908

[2015-01-29 12:21] vpelipenko commented on #617
Internal ticket: MAGETWO-27038

[2015-01-29 12:21] vpelipenko commented on #619
Internal ticket: MAGETWO-27039

[2015-01-29 12:31] vpelipenko commented on #629
Internal ticket: MAGETWO-28236

[2015-01-29 12:32] vpelipenko commented on #630
Internal ticket: MAGETWO-28237

[2015-01-29 12:33] vpelipenko commented on #631
Internal ticket: MAGETWO-28238

[2015-01-29 12:33] vpelipenko commented on #632
Internal ticket: MAGETWO-28240

[2015-01-29 12:34] vpelipenko commented on #635
Internal ticket: MAGETWO-28241

[2015-01-29 12:35] vpelipenko commented on #637
Internal ticket: MAGETWO-27714

[2015-01-29 12:36] vpelipenko commented on #638
Internal ticket: MAGETWO-27715

[2015-01-29 12:36] vpelipenko commented on #641
Internal ticket: MAGETWO-27719

[2015-01-29 12:37] vpelipenko commented on #642
Internal ticket: MAGETWO-27900

[2015-01-29 12:38] vpelipenko commented on #649
Internal ticket: MAGETWO-28058

[2015-01-29 12:38] vpelipenko commented on #650
Internal ticket: MAGETWO-28204

[2015-01-29 12:39] vpelipenko commented on #653
Internal ticket: MAGETWO-28208

[2015-01-29 12:40] vpelipenko commented on #656
Internal ticket: MAGETWO-28212

[2015-01-29 12:40] vpelipenko commented on #669
Internal ticket: MAGETWO-28813

[2015-01-29 12:42] vpelipenko commented on #675
Internal ticket: MAGETWO-29012

[2015-01-29 12:43] vpelipenko commented on #676
Internal ticket: MAGETWO-29013

[2015-01-29 12:43] vpelipenko commented on #679
Internal ticket: MAGETWO-29018

[2015-01-29 12:44] vpelipenko commented on #680
Internal ticket: MAGETWO-29125

[2015-01-29 12:45] vpelipenko commented on #684
Internal ticket: MAGETWO-30427

[2015-01-29 12:46] vpelipenko commented on #687
Internal ticket: MAGETWO-30482

[2015-01-29 12:46] vpelipenko commented on #690
Internal ticket: MAGETWO-30483

[2015-01-29 12:46] vpelipenko commented on #692
Internal ticket: MAGETWO-30484

[2015-01-29 12:47] vpelipenko commented on #698
Internal ticket: MAGETWO-30486

[2015-01-29 12:48] vpelipenko commented on #699
Internal ticket: MAGETWO-30487

[2015-01-29 12:55] vpelipenko commented on #705
Internal ticket: MAGETWO-30489

[2015-01-29 12:55] vpelipenko commented on #707
Internal ticket: MAGETWO-30490

[2015-01-29 12:56] vpelipenko commented on #708
Internal ticket: MAGETWO-30492

[2015-01-29 12:57] vpelipenko commented on #719
Internal ticket: MAGETWO-31538

[2015-01-29 12:58] vpelipenko commented on #723
Internal ticket: MAGETWO-31542

[2015-01-29 12:59] vpelipenko commented on #729
Internal ticket: MAGETWO-30575

[2015-01-29 13:07] vpelipenko commented on #734
Internal ticket: MAGETWO-30622

[2015-01-29 13:08] vpelipenko commented on #743
Internal ticket: MAGETWO-31583

[2015-01-29 13:10] vpelipenko commented on #745
Internal ticket: MAGETWO-31586

[2015-01-29 13:11] vpelipenko commented on #746
Internal ticket: MAGETWO-31596

[2015-01-29 13:12] vpelipenko commented on #757
Internal ticket: MAGETWO-31608

[2015-01-29 13:13] vpelipenko commented on #760
Internal ticket: MAGETWO-31537

[2015-01-29 13:13] vpelipenko commented on #761
Internal ticket: MAGETWO-31536

[2015-01-29 13:15] vpelipenko commented on #768
Internal ticket: MAGETWO-31329

[2015-01-29 13:16] vpelipenko commented on #770
Internal ticket: MAGETWO-31251

[2015-01-29 13:18] vpelipenko commented on #774
Internal ticket: MAGETWO-31246

[2015-01-29 13:19] vpelipenko commented on #776
Internal ticket: MAGETWO-32177

[2015-01-29 13:20] vpelipenko commented on #777
Internal ticket: MAGETWO-32178

[2015-01-29 13:20] vpelipenko commented on #785
Internal ticket: MAGETWO-32222

[2015-01-29 13:22] vpelipenko commented on #788
Internal ticket: MAGETWO-32233

[2015-01-29 13:25] vpelipenko commented on #813
Internal ticket: MAGETWO-32323

[2015-01-29 13:27] vpelipenko commented on #852
Internal ticket: MAGETWO-32336

[2015-01-29 13:28] vpelipenko commented on #864
Internal ticket: MAGETWO-32339

[2015-01-29 13:29] vpelipenko commented on #865
Internal ticket: MAGETWO-32340

[2015-01-29 13:29] vpelipenko commented on #866
Internal ticket: MAGETWO-32341

[2015-01-29 13:30] vpelipenko commented on #867
Internal ticket: MAGETWO-32342

[2015-01-29 13:31] vpelipenko commented on #869
Internal ticket: MAGETWO-32344

[2015-01-29 13:46] vpelipenko commented on #980
Internal ticket: MAGETWO-31951

[2015-01-29 13:57] vpelipenko commented on #869
Described issue can't be reproduced. Closed, due to no response from contributor.

[2015-01-29 14:03] vpelipenko commented on #787
Closed due to no response from contributor.

[2015-01-29 14:03] #787 closed

[2015-01-29 14:21] vpelipenko commented on #729
Internal ticket is closed and fix is already published. Please, look at https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/App/Router/ActionList.php. @tzyganu, this is what you expected?

[2015-01-29 14:24] vpelipenko commented on #813
@paales, composer.json includes PHP 5.6 as supported version now. Could you check the issue again?

[2015-01-29 14:33] vpelipenko commented on #866
@chris-brabender, internal ticket has been completed and fix will be delivered with the next public GitHub update this week. Please, let us know, if you are not OK with implemented solution.

[2015-01-29 14:36] tzyganu commented on #729
@vpelipenko Excellent. I will close this since it is fixed and I'm satisfied with the results. :smile:

[2015-01-29 14:36] #729 closed

[2015-01-29 14:39] orlangur commented on #357
@davidalger, @mmenozzi thanks for the use case I was not aware of. Do not insist on "2." but just want to understand whether `vendor`-only approach is suitable at all.

Didn't try to use `vendor` folder for development purposes yet but looking at http://stackoverflow.com/questions/12624653/composer-develop-directly-in-vendor-packages and https://github.com/composer/composer/pull/1188 it seems to b

[2015-01-29 14:42] vpelipenko commented on #871
@jamescowie, changes in the source code according issue you placed are already published and available from 0.42.0-beta5. Are you OK with that? Can we close this issue?

[2015-01-29 14:50] vpelipenko commented on #920
@tzyganu, fix for this issue is already published and available. Did you face with this issue after 0.42.0-beta4 release?

[2015-01-29 14:55] tzyganu commented on #920
@vpelipenko. Thanks for the fix. I saw about 1h ago that it works on the latest version. Closing this as fixed.

[2015-01-29 14:55] #920 closed

[2015-01-29 15:20] rickstek commented on #997
Running into this as well, when installing sample data for simple products ::
Installing simple products:
[ERROR] exception 'PDOException' with message 'SQLSTATE[42S22]: Column not found: 1054 Unknown column 'entity_type_id' in 'field list'' in /Users/Matt/Sites/magento2/vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php:228

[2015-01-29 15:58] vpelipenko commented on #885
@jameswithers, thank you for reporting this to us! We will review this issue.

[2015-01-29 16:03] tkacheva commented on #430
@ihor-sviziev We are working on consistent usage of JS libraries in Magento 2. Follow the updates. Thank you.

[2015-01-29 16:10] mazhalai commented on #1005
@josealgardataborges Thank you for reporting this issue. We will look into it.

[2015-01-29 16:23] seansan opened #1006 "Request: ability to refresh cache (and FPC) per store"
Request: ability to refresh cache (and FPC) per store

We have many stores. And it becomes a problem when you are building/working on store B when store A is actually live and hence static. Now when we refresh the cache or all other related (like FPC) then it affects ALL stores ... this is a shame.

It would be great if a store swticher or store selector could be added to throw away or relaod cach

[2015-01-29 17:19] verklov commented on #944
Internal ticket ID: MAGETWO-33412

[2015-01-29 17:20] fbrnc commented on #571
I must have missed this ticket in the first place. Yes, I'd totally love to see a template hints like the ones I implemented for Aoe_TemplateHints in Magento 2 and I'd also be willing to contribute that code.
One of the important benefits of Aoe_TemplateHints over the native ones is that Aoe_TemplateHints does not only show blocks inheriting from Mage_Core_Block_Template, but all blocks (inheritin

[2015-01-29 17:20] verklov commented on #944
Thank you all for collaboration on this issue! We created the ticket for analysis and put it to the backlog. Thus, we are closing this ticket now. Please watch the repository for updates!

[2015-01-29 17:20] #944 closed

[2015-01-29 17:20] davidalger commented on #357
Not sure if any of you have seen it or not, but looks like @fooman is set on finding out how difficult this would be to work out over in #897

@orlangur hate to point out the semantics of it, but the term "vendor" itself implies that what's inside is provided by somebody, not built by self. Even if it's possible, why would we *want* to put custom code in vendor outside of avoiding the work of havi

[2015-01-29 17:31] verklov commented on #992
@davidalger, agree with @pronto2000. Looks like option 3 is easier to implement and eliminates the use of less secure hashing algorithm as soon as customer logs in to the system. Why do you personally prefer option 2?

[2015-01-29 17:40] mcspronko commented on #430
MAGETWO-25946

[2015-01-29 17:55] eug123 commented on #885
When you put default.xml file to the theme layout folder, instructions there will be added to the original file instructions. Another word you will [extend](http://devdocs.magento.com/guides/v1.0/frontend-dev-guide/layouts/layout-extend.html) original layout with your instructions.

There is no need to change original layout file to completely remove it content.
You can [override](http://devdocs.m

[2015-01-29 19:17] gxela opened #1007 "Magento Composer install"
Why? if I have composer installed I should NOT have to git clone the magento repo. I should be able to create-project. Can we fix this? otherwise it's pretty lame, we have all these great command laying around and no developer knows about them to build around them. Times change. Lets all work together, no?

    composer create-project magento/magento my-store

[2015-01-29 19:26] gxela commented on #1007
What happens when someone says Magento three-times-in-a-row?

    (RSA) ~/Projects $ composer create-project magento/magento magento

      [InvalidArgumentException]
      Could not find package magento/magento with stability stable.

    create-project [-s|--stability="..."] [--prefer-source] [--prefer-dist] [--repository-url="..."] [--dev] [--no-dev] [--no-plugins] [--no-custom-installers] [--n

[2015-01-29 19:27] gxela commented on #1007
your dreams may come true

[2015-01-29 19:39] buskamuza commented on #1007
If you want to use Composer only, you should use this project - https://github.com/magento/magento2-community-edition

Command will be:
[code]

This GitHub repository for contributions, so someone can clone the repository and fix/implement something.

[2015-01-29 20:42] jamescowie commented on #871
Hello. Thanks for the reply. After testing I am happy for this to be closed now..

[2015-01-29 20:42] #871 closed

[2015-01-29 22:14] alankent commented on #357
Regarding the 'when' question, this one we *want* to do, but are not committing to do by GA. We try to slot in as much as we can, but the ROI on this one may mean it won't be done by GA.

[2015-01-29 23:59] fooman commented on #357
@davidalger I have started with some trials to see what would be involved. But did stop on this when I heard that some internal thinking was going on around this as well. The main problem at the moment seem to be the hardcoded tests.

@alankent one thing which I hope you can commit to is to have the individual repositories of the Magento modules available online. My guess is that these already exi

[2015-01-30 00:05] alankent commented on #852
As we get closer to M2 end of dev beta we want to stabilize things. Until then it is a question of priorities. What is not clear is how often plugins will be on same method, and how often the ordering in such cases matters. This would then influence priority of such work over other work. Its not a question of "is this a good idea", but rather "is this more important than what it would replace on t

[2015-01-30 00:25] alankent commented on #357
Hi @fooman. The internal repository is the same structure as the external one. That is why its easier to process pull requests etc. That is, one big repo that we generate multiple packages from.

While we are doing global edits and platform changes, this makes life easier. Commits are atomic across the platform. We don't have it with half the modules updated. Once the framework level is more stabl

[2015-01-30 00:28] kassner opened #1008 "Save shipping cost when place order"
Hi,

I'm not sure if this is widely used, but I have some clients where the shipping cost is not the same that is charged from their customers. I often see M1 shipping modules with `$rate->setCost(x.xx)`, but that information is not saved anywhere.

Can this be added to Magento 2 at least? Should I send a pull request?

Thanks!

[2015-01-30 02:47] fooman commented on #357
Thanks for the insights - makes sense.

The pessimist in me says that if this is not done soon it would only happen for 3.0 - as deemed too risky / too big a change.

Another reason to having the file structure finalised and no further planned changes sooner rather than later is that it would also help with documentation and generally developers only having to learn one new way of doing things. I

[2015-01-30 02:52] fooman commented on #357
One further thought - as the file structure will likely impact on the New Connect as well I think having this stabilised early would benefit that effort as well.

[2015-01-30 13:13] verklov commented on #669
@tzyganu, after investigating within the team, we identified this rather a feature request rather than a bug. Thus we added additional requirement to the epic for enhanced grids that's in the backlog and closed the initial ticket.

We are also closing this issue now. Please watch the repository for updates. We will deploy the updated code once the epic is implemented.

[2015-01-30 13:27] verklov commented on #912
@snky1987, thank you for your suggestion! We created the ticket in the internal tracker and put it to the backlog. PM responsible for the area will review it and make the appropriate decision.
Internal ID: MAGETWO-33440.
We are closing this ticket on the GitHub now.

[2015-01-30 13:33] verklov commented on #777
@seansan, we put the ticket for your suggestion to the internal backlog. We are closing this GitHub ticket now. Thanks again for your suggestion!

[2015-01-30 13:40] MomotenkoNatalia commented on #1004
Hi @Antonioele. Thank you, for your contribution. This issue is confirmed and related ticket has been added to the backlog (MAGETWO-33413).

[2015-01-30 15:12] WJdeBaas opened #1009 "Invoice increment id uses wrong entity type"
When I place an order it gets increment id 100000001, the invoice receives the next increment id 100000002.
The next order gets increment id 100000003, and the invoice receives the next increment id 100000004 and so on.

I've inserted a new record in table eav_entity_store with the correct entity_type_id (6) , but this is ignored.

[2015-01-30 15:14] WJdeBaas commented on #1009
The same goes for the shipments, it gets increment id 100000005

[2015-01-30 15:31] verklov commented on #743
Closing this ticket as having related ticket in the internal tracker.

[2015-01-30 15:31] #743 closed

[2015-01-30 15:33] verklov commented on #851
Response from the team:

We are closing this ticket now.

[2015-01-30 15:33] #851 closed

[2015-01-30 15:36] WJdeBaas commented on #1009
Where / how can I submit a patch ?

[2015-01-30 15:37] verklov commented on #700
Thank you all for your thoughts! Please continue commenting on this as you encounter new ideas. Meanwhile we close this ticket, but continue watching it and taking all your suggestions into consideration.

[2015-01-30 15:37] #700 closed

[2015-01-30 15:38] verklov commented on #653
Closing this ticket as having correspondent issue in the internal tracker.

[2015-01-30 15:42] Sanuch commented on #1009
You can create pull request

[2015-01-30 15:47] WJdeBaas commented on #1009
Hi Sanuch,

The button "Create Pull Request" is visible but disabled.

[2015-01-30 15:51] kokoc commented on #899
@shivkumarsingh7 Thank you for reporting the issue. Appropriate item is placed into internal backlog.
Internal reference: MAGETWO-33450

[2015-01-30 15:54] Sanuch commented on #1009
You should fork this repository and made changes in your fork and after them you can create pull request from your repository

https://help.github.com/articles/fork-a-repo/
https://help.github.com/articles/creating-a-pull-request/

[2015-01-30 16:09] WJdeBaas commented on #1009
Thanks for the explanation Sanuch, I've just submitted the pull request.

[2015-01-30 16:25] tzyganu commented on #669
@verklov Oddly looking feature I might say :smile: https://geekwhisperin.files.wordpress.com/2009/09/bug-vs-feature.jpg

[2015-01-30 16:51] verklov commented on #669
Well, if the system was not designed to work in this way, we consider it a feature request, not a bug :-)

[2015-01-30 17:10] voleye commented on #997
It was fixed in 0.42.0-beta5 (http://packages.magento.com/#magento/sample-data)

[2015-01-30 17:27] DavidBruchmann commented on #997
There was a compatibility issue between Magento2 Versions and
Sample-Data-Versions not long time ago.
Look in the mail-Archive, max 2 weeks ago.

On Sat, Jan 31, 2015 at 12:11 AM, Volodymyr <notifications@github.com>
wrote:

[2015-01-30 17:30] #1007 closed

[2015-01-30 17:32] choukalos commented on #993
Closing issue as it's addressed in PR #943; and is now in mainline.

[2015-01-30 17:32] #993 closed

[2015-01-30 17:32] DavidBruchmann commented on #997
"

There was a compatibility issue between Magento2 Versions and
Sample-Data-Versions not long time ago.
Look in the mail-Archive, max 2 weeks ago

"
The item was : "Error installing sample data with 0.42.0-beta2"

On Sat, Jan 31, 2015 at 12:27 AM, David Bruchmann <david.bruchmann@gmail.com

[2015-01-30 17:40] choukalos commented on #746
Converted to an epic we're tracking internally MAGETWO-32719; changing assignment since I'm the owner of the epic.

[2015-01-30 18:17] Gaffen commented on #997
Thanks @voleye, documentation on the magento website recommends 0.42.0-beta2.

However I have just pulled the most recent update to master and now get this:

    [ERROR] exception 'ReflectionException' with message 'Class Magento\Store\Model\StoreManagerInterface does not exist' in /Applications/XAMPP/xamppfiles/htdocs/magento2/lib/internal/Magento/Framework/Code/Reader/ClassReader.php:29

I'm ass

[2015-01-30 19:15] mazhalai commented on #933
@tzyganu thank you for reporting this issue. We have created MAGETWO-33484 to track it internally.

[2015-01-30 19:20] alankent commented on #357
I don't think Connect will be impacted because I believe Connect will host ZIPs of modules etc. We are not talking about changing the structure *inside* a module here, but rather the directory structure *above* modules (e.g. allow them in 'vendor' or 'app/modules').  The Composer packages themselves should not care which directory they are installed within.

Would love to do sooner, but not sure i

[2015-01-30 19:30] rickstek commented on #997
Guys,

So I did run an update, and was able to finish install. Try dropping the DB and making a new one before running the installer. Since you are installing sample data, dont think there would be an issue starting with a fresh DB.

[2015-01-30 20:57] alankent opened #1011 "Generating online HTML from PHP Doc for Magento 2"
The complete suite of Magento developer documentation will consist of content from multiple sources. There are guides that the documentation writing team are developing (such as at http://devdocs.magento.com), more traditional online documentation generated from PHP Doc comments, and potentially other automatically generated documentation on REST/SOAP APIs and similar.

This issue is an invitation

[2015-01-30 22:54] alankent opened #1012 "Eliminate XSD relative paths"
Currently XSD path references are file paths using ../../.. notation. This is not desirable. Relative paths impose physical file location constraints on your component, as well as for the component where the XML-schema resides. It denies flexibility of how you can deploy your component. There is also a separate plan to make it easier to locate modules in places other than under app/code (e.g. unde

[2015-01-30 23:03] alankent opened #1013 "Refactor code so modules/themes/language packs can exist under different directories (such as 'vendor')"
Currently we cannot leave modules (and themes and language packs) downloaded via Magento in the 'vendor' directory. We tried to convert the code, but hit a problem. TexanHogman (Rick) described it well here: https://github.com/magento/magento2/issues/357#issuecomment-69466670.

The goal is to allow modules to reside under 'vendor' or 'app/modules' (renamed from 'app/code'). Currently there are fil

[2015-01-30 23:07] alankent commented on #357
This issue was originally to rename app/code to app/modules, which is a good request in its own right. I have spun out the 'vendor' question into https://github.com/magento/magento2/issues/1013.

[2015-01-31 10:39] toonvd commented on #994
Hi,

The extension is on https://github.com/toonvd/magento2/tree/develop/app/code/Phpro/Customernumber.

Just to make sure there are no remarks on this.
I stripped the settings file but i did fill in my extension name :).
Sorry for the delay, busy days ;-)

[2015-01-31 10:53] Mackovey opened #1014 "`php index.php update` - Class Magento\Store\Model\StoreManagerInterface does not exist"
Module 'Magento_Webapi':
Module 'Magento_Weee':
Module 'Magento_CurrencySymbol':
Module 'Magento_Wishlist':
======================================================================
   The application has thrown an exception!
======================================================================
 Magento\Framework\Exception
 Error in file: "/srv/www/magento2.dev/pub/app/code/Magento/Theme/data/theme_

[2015-01-31 10:54] Mackovey opened #1015 "Ufter success setup/index.php update - "Missing required argument $engines of Magento\Framework\View\TemplateEngineFactory""
a:4:{i:0;s:83:"Missing required argument $engines of Magento\Framework\View\TemplateEngineFactory.";i:1;s:10175:"#0 /srv/www/magento2.dev/pub/lib/internal/Magento/Framework/ObjectManager/Factory/Dynamic/Developer.php(84): Magento\Framework\ObjectManager\Factory\Dynamic\Developer->_resolveArguments('Magento\\Framewo...', Array, Array)
#1 /srv/www/magento2.dev/pub/lib/internal/Magento/Framework/Obje

[2015-01-31 12:08] Mackovey commented on #1015
Problem was in etc/config.php

diff config.php config.php.exception
<     'config' => 1,
<     'layout' => 1,
<     'block_html' => 1,
<     'view_files_fallback' => 1,
<     'view_files_preprocessing' => 1,
<     'collections' => 1,
<     'db_ddl' => 1,
<     'eav' => 1,
<     'full_page' => 1,
<     'translate' => 1,
<     'config_integration' => 1,
<     'config_webservice' => 1,
<     'config_

[2015-01-31 12:59] wojtekn commented on #1015
I also spotted that issue and I fixed that by removing config.php and running installation again.

It looks two modules have been added in config.php: Magento_Developer and Magento_Quote and order of a few others has changed.

Is there any other recommended way to update config.php after pulling new code? Or should Magento 2 be reinstalled each time during dev beta?

[2015-01-31 13:07] Mackovey opened #1016 "Backend Javascript Errors (new instalation)"
Folder /static/adminhtml/Magento/backend/en_US/jquery doenst present

![m1218](https://cloud.githubusercontent.com/assets/813985/5988129/8853d424-a95a-11e4-8759-229d02c823c2.png)

[2015-01-31 13:56] slirx opened #1017 ""Invalid Document" error adding new item to menu"
When I try to add new item to menu (with brand name "SliRx") there is an error:
"Invalid Document
Element 'add', attribute 'resource': [facet 'pattern'] The value 'SliRx_News::news' is not accepted by the pattern '[A-Z]+[a-z0-9]{1,}_[A-Z]+[A-Z0-9a-z]{1,}::[A-Za-z_0-9]{1,}'.
Line: 6

Element 'add', attribute 'resource': 'SliRx_News::news' is not a valid value of the atomic type 'typeResource'.
Line

[2015-01-31 14:00] otoolec commented on #1014
@Mackovey can you try clearing out your var/generation directory?  That fixed the problem for me.  I think there is an old generated file that is using an outdated class reference.  We can use this ticket to see about getting the setup script to clear that directory for you.

[2015-01-31 14:02] otoolec commented on #1017
I think the issue here is that we currently don't support camel case for vendor names.  PR 985 should fix this issue (once we process it).  You could verify this by pulling it into your local repository.

[2015-01-31 15:07] Landkeks commented on #852
Personally, I've had to solve rewrite conflicts in Magento 1 quite a few times. Since M2’s plugins are supposed to make rewrites unnecessary in many cases, there will most likely be multiple plugins on the same methods.

In some cases, it does (multiple plugins which affect the price calculation / one module sets a product attribute that another module depends on / …).

I think you should do at le

[2015-01-31 16:42] anupdugar commented on #1016
@Mackovey Is mod_rewrite enabled in Apache?
Check http://devdocs.magento.com/guides/v1.0/install-gde/system-requirements.html
For apache configuration: http://devdocs.magento.com/guides/v1.0/install-gde/prereq/apache.html

[2015-01-31 16:50] anupdugar commented on #1016
Also check similar issue previously reported for static content not being loaded: https://github.com/magento/magento2/issues/972

[2015-02-01 10:17] Sanuch commented on #994
HI @toonvd

I checked your plugin on my local environment and it works.
I added not exists function to *AccountManagement::afterAuthenticate* and tried login with exists user and I received fatal error *Call to undefined function ... in AccountManagement.php on line 40*

I use XAMPP with PHP 5.5.19

[2015-02-01 12:47] toonvd commented on #994
Hi, could be that the bug was fixed meanwhile... i had it in december... I'll recheck with the current Github version in my Vagrant box and close when this works, thanks!

[2015-02-01 15:39] andreasacca commented on #998
Hi, I have this issue while installing Magento 2 with sample data:

Installing sample data:
[ERROR] exception 'Magento\Framework\Exception' with message 'Source class Magento\Core\Model\Resource\Theme\Collection doesn't exist.' in /users/andreasacca/Sites/magento2/lib/internal/Magento/Framework/Code/Generator.php:103

[2015-02-01 17:11] Flyingmana commented on #1011
:+1:

[2015-02-01 17:42] Sanuch commented on #998
You can execute bash command for quick fix
[code]

[2015-02-02 12:55] kokoc commented on #432
@ihor-sviziev Great idea. Appropriate item is placed into internal backlog - MAGETWO-33513.

@iw2 Magento already supports asynchronous reindex. Currently it's called "update when scheduled" mode. You can find these settings in "indexers" grid.

[2015-02-02 14:07] vpelipenko commented on #1009
Pull request: https://github.com/magento/magento2/pull/1010

[2015-02-02 14:11] asemenenko commented on #1003
Hi Avoelkl,

Thank you for contribution. We added this improvement into the backlog. The issue will be updated once it fixed.

/regards
Andrii

[2015-02-02 14:30] vpelipenko commented on #1008
Hi @kassner, could you provide here business cases where it can be used?

[2015-02-02 15:38] kassner commented on #1008
@vpelipenko I'm not sure what are you expecting me to reply here, but it's pretty straight forward: some of my clients charge more for the shipping than it actually costs for them, but today is impossible to know the real cost of an order, since only the amount (which is displayed and billied) is saved on `sales_flat_order`.

[2015-02-02 16:09] davidalger commented on #357
@alankent Thanks for keeping up with the thread!

Going back to the original question though, I would like to "upvote" the recommendation to rename `app/code` to `app/modules` I'm curious to know what the likely hood of this happening is.

[2015-02-02 16:14] davidalger commented on #992
@verklov Simple. I prefer option 2 because it gives us both the easy route which some want, and the control that others would like with minimal effort. Essentially option 2 is exactly as Magento 1 currently behaves, but with a system configuration flag which allows implementors or site admins to control the behavior. I.e. determine whether or not the system supports only one hash system or will au

[2015-02-02 16:29] pronto2000 commented on #992
Hmm ... to me the main difference between option2 and option3 is that option3 automatically upgrades password security once customer logs on no matter what. Option2 basically makes higher security level optional. I see no reason whatsoever for that except perhaps because it provides an opportunity to downgrade.

[2015-02-02 16:47] otoolec commented on #1014
Internal ticket is MAGETWO-33519

[2015-02-02 18:04] #798 closed

[2015-02-02 18:04] snohe commented on #798
Hi @Crustymd, we haven't heard back from you and, thus, will proceed with closing this issue.  In case you have any additional questions, please don't hesitate to submit a new GitHub issue.

[2015-02-02 19:25] alankent commented on #357
There seems to be two ways forward. Rename it (which requires all internal teams to commit all their work at the same time - causes lots of conflicts for work in progress otherwise), or support multiple directories for modules (which would allow app/code, app/modules, and vendor to all work at same time - making incremental migration easier). The former is up to @maksek as the main effort is sched

[2015-02-02 19:35] colinmollenhour commented on #357
git handles file relocations pretty well in my experience. This would definitely be a massive update, but I would be surprised if the upstream did not merge cleanly into the various branches in progress.. Would be worth testing I think.

[2015-02-02 19:36] alankent commented on #571
I checked internally, only to be reminded that this was already approved above by @tkacheva mid last year. So if someone is willing to work on this (based on AOE code as starting point - thanks Fabrizio!), could interested parties leave a note on this issue to coordinate work between you.

[2015-02-02 21:03] otoolec commented on #967
@aishwaryacedcoss can you try calling the inherited [updateButton](https://github.com/magento/magento2/blob/0cc78ca9c5b5d471f65a80dd6af5454c61efcde8/app/code/Magento/Backend/Block/Widget/Container.php#L111) method?

If that still doesn't work can you post your latest code so we can help further?

[2015-02-02 21:11] alankent commented on #1015
This is a known issue. A tool to update config.php is on the backlog (but not done yet). We need to make it easier to add and remove modules without losing any other config details, but getting the load order of the new modules correct (you cannot just add at the end of the array). Until then, updating config.php by hand is the best solution. Adding new modules at the end will generally work safel

[2015-02-02 21:13] alankent commented on #357
"Would be worth testing I think..." - now that is a candidate for understatement of the year!  ;-) ;-) ;-)

[2015-02-02 21:18] alankent commented on #357
Sorry, in hindsight you were talking about testing how Git works, not testing the change itself. Sorry if my warped humor got the better of me. We have done a number of global changes in the past so have good experience with this. It was much easier to coordinate across teams and minimize checked out code - less time wasted all around.

[2015-02-02 21:19] colinmollenhour commented on #357
Hah! I meant would be worth testing to see if it is easy rather than assuming it will create lots of difficult conflicts and not trying.. But yeah.. testing is good. :)

[2015-02-02 22:00] mazhalai commented on #1015
@Mackovey @wojtekn Thank you for reporting this issue. We have created MAGETWO-33555 to track this issue internally.

[2015-02-02 22:27] davidalger commented on #992
Option 2 (as I intended to write it) would not make higher security optional. It would make supporting less secure hashes optional. I.e. the system would support and use the more secure hashing algorithm by default. If you enabled it, it would also digest and auto-upgrade the older (less secure) hashes upon successful login. If left disabled, the system would not even attempt to validate agains th

[2015-02-02 22:30] davidalger commented on #357
Lol. @alankent Your "warped humor" gave me a good laugh anyways! :)

FWIW, as I understand from looking at the branch @fooman was experimenting on, the automated tests should work if the location is changed to app/modules and the correct constants updated. I'd PR it it to verify this, but figured if this is done it'd be better handled by the core team for stated reasons possibly necessitating inte

[2015-02-03 06:57] ontic commented on #642
I've achieved this this in Magento 1, allowing configurable & simple products to be bundled (even with required options). I really hope this get implemented in the Magento code base so I don't have to re-create this functionality again.

:+1:

[2015-02-03 10:06] kokoc commented on #1002
Thank you for reporting the issue. This issue will be fixed in context of other inventory improvements.
Internal reference: MAGETWO-33564

[2015-02-03 12:29] kokoc commented on #417
@simonspoerri Thank you for reporting the issue and sorry for so biiiiig delay.

Internal reference: MAGETWO-33570
We will fix the problem and get back to you once we have the working code.

[2015-02-03 13:20] kokoc commented on #346
Thank you for proposal.
We will get back to you once we have the solution or answer.

Internal reference: MAGETWO-33574

[2015-02-03 13:42] vpelipenko commented on #1008
@kassner, thanks for explanation. Look like it will be valuable improvement. Could you create a pull request for that?

[2015-02-03 13:43] kokoc commented on #1001
@SchumacherFM There are two main reasons why we removed such keys:
* @orlangur mentioned the first one
* We removed some foreign keys from index tables in order to speed up insert/update operations. Consistency is guaranteed by application.

Do you have any additional questions?

[2015-02-03 14:30] joanhe commented on #1009
@WJdeBaas Since you submitted the pull request, would you mind to close this issue?

[2015-02-03 14:35] #1009 closed

[2015-02-03 14:54] bgalileo opened #1018 "Serious bug in Reports module (Magento 1&2)"
I just found a really bad bug in the Reports module that can make it completely impossible for a specific customer to view a specific product page. I could reliably reproduce this problem in a Magento 1 instance (MySQL version: 5.5) and the buggy code has remained unchanged in M2.

Excerpt from `exception.log` (Magento 1.8):
[code]

## Problem description / Steps to reproduce

The Reports module u

[2015-02-03 15:04] bgalileo commented on #1018
Suggested fix: Remove `Magento\Framework\DB\Adapter\Pdo::insertOnDuplicate()` entirely and rewrite the few Model classes that use it, since `ON DUPLICATE KEY UPDATE` clauses don't work as expected when multiple unique indices exist. This will prevent further bugs like this one from occurring and possibly fixes bugs that have not been discovered yet.

[2015-02-03 15:19] vpelipenko commented on #1016
@Mackovey, did you have a chance to look at previous comments with suggestions?

[2015-02-03 15:36] otoolec commented on #1018
Thanks for reporting this bug.  We've opened up ticket MAGETWO-33594 internally to work on a fix.

[2015-02-03 15:59] colinmollenhour commented on #357
Ahh, thanks for chiming in @davidalger, I was not aware that there was git config that could affect the rename detection. Might be useful for everyone to observe before doing merges.
http://stackoverflow.com/questions/13805750/git-fails-to-detect-renaming

[2015-02-03 17:26] joshdifabio opened #1019 "Use private instead of protected visibility"
In Magento 1, class properties and methods are all defined with _public_ or _protected_ visibility. In PHP, changing the API of a protected property or method usually constitutes a backwards compatibility break. Have Magento considered using _private_ instead of _protected_ visibility as the default alternative to _public_ in Magento 2?

Consider the following examples:

[code]

[code]

[code]

[c

[2015-02-03 21:36] #1001 closed

[2015-02-03 21:36] SchumacherFM commented on #1001
Thank you for answering!

[2015-02-03 23:21] vrann commented on #1019
Hi, Joshua,
my name is Eugene Tulika, I’m an architect in Magento. Thanks a lot for your question, it is something which we were debating a lot while working on Magento 2. Some part of my answer may be opinionated.

When you choose visibility scope for you method, the main question to answer is how the method is going to be used. In most cases it is more or less clear what should be public — usual

[2015-02-04 04:24] wsagen commented on #852
Actual rewrite conflicts can be eliminated in Magento 1, currently, in most cases using events etc but this doesn't rule out logic conflicts.

These are extremely frequent especially in areas of common functionality e.g. product prices, product attributes, quote object and order objects. Offering a before or after field is great however it requires the extension developer to have some view of what

[2015-02-04 09:53] joshdifabio commented on #1019
@vrann, thanks so much for your in-depth response, it's greatly appreciated.

Regarding service contracts: is the aim for dependencies between core modules to be entirely isolated to the functionality exposed by service contracts? If not, then presumably the service contracts don't expose quite enough functionality to be considered an adequate 'public API' for a module, and so it might not be real

[2015-02-04 10:50] andreasacca commented on #998
Hi @Sanuch, thank you for the answer.
I used last version of Sample Data. I tried to launch the command throught terminal (mac) without success.

I'm into my magento2 folder, and I launched your command but I got this error:
invalid command code .

Then I tried this

find dev/tools/Magento/Tools/SampleData/ -type f -exec sed -i 's/Magento\\Store\\Model\\StoreManagerInterface/Magento\\Framework\\St

[2015-02-04 10:55] Sanuch commented on #998
@andreasacca, Magento 2(beta6) with Sample Data(beta6) were installed successfully

[2015-02-04 11:29] vpelipenko commented on #909
@snky1987, this issue is fixed and will be available on public after the next update.

[2015-02-04 11:37] vpelipenko commented on #1003
Internal ticket: MAGETWO-33515

[2015-02-04 14:08] joshdifabio commented on #1019
I've just had a look at the service contracts for catalog, sales and customer for the first time in a month or so: wow, they look a lot more extensive now! I think you can disregard this issue now and just continue the good work. Thanks for your help :).

[2015-02-04 17:21] snohe commented on #833
@vsikarwar, glad to see the issue has been resolved.  With this I will proceed with closing this question.  In case you have any other questions, feel free to open a GitHub issue.

[2015-02-04 17:21] #833 closed

[2015-02-04 18:55] joanhe commented on #998
@Antonioele Do you still have this problem?

[2015-02-04 19:04] joanhe commented on #997
@rgauny The record indicates that we have fix for this issue. Could you please let us know if this problem is still there for you? Thanks.

[2015-02-04 20:25] vrann commented on #1019
You are right, the goal of service contracts is to have core modules to depend on functionality exposed by service contracts interfaces only. Expectation for the third party extensions is the same.

Currently we are in process of achieving this goal, as you noticed contracts for Customer, Sales, Checkout, Tax, Catalog, CatalogInventory evolved a lot within last few months. However you still may fi

[2015-02-04 21:50] barbazul opened #1020 "Bug generating Sitemap Cron expression"
I just found this in M1, surprised to see it is also in M2.

app/code/Magento/Cron/Model/Config/Backend/Sitemap.php line 68 reads

[code]

And should read

[code]

This causes $frequency to be always false and so, sitemap is always generated daily regardless of configuration

Edit: Typo

[2015-02-04 22:50] otoolec commented on #1020
Thanks for submitting this bug, the internal ticket is MAGETWO-33637

[2015-02-04 22:52] ihabzeedia commented on #998
@joanhe I am facing the same issue. None of the solutions above worked for me.
Thanks.

[2015-02-05 00:06] buskamuza commented on #692
@tzyganu , how do you think, should such technical phrases be translated at all?

[2015-02-05 00:35] alankent opened #1021 "Magento Queue API definition proposal"
Magento currently does not have a standard message queue API. There were plans based around “async events” (or a job queue) and “web hooks”, but this is not scheduled by the core team for Magento 2.0.  This work is to propose a set of interfaces for Magento and community comment, ideally developed by someone who has practical experience of using a message queue within Magento in a real-life applic

[2015-02-05 00:42] alankent commented on #1021
http://www.eschrade.com/page/reasons-why-redis-is-a-great-option-for-a-worker-queue-in-magento/ has more great reasons why queuing is useful.

[2015-02-05 00:55] kschroeder commented on #1021
Another benefit of using a queuing system is that you could build out a service layer in the architecture that could process different parts of a request asynchronously.  Define a series of actions and inject each into the queue and then wait on the queue until all of those actions have been processed.

For example, it could be done on the block level in catalog_category_view the action could defi

[2015-02-05 07:22] tzyganu commented on #692
@buskamuza I didn't think this through. I just stated a problem I had in the past hoping someone would have a solution.
Now that you mentioned I think this would be the easiest solution. not to translate the exception messages that have no meaning to a non technical person.

[2015-02-05 10:38] orlangur commented on #669
@tzyganu, not like current behavior seems to be logical, just a statement of inability to change this  behavior with a spot fix for old grid. The new grid is currently used for CMS pages and not used for category management page.

[2015-02-05 19:16] navarr opened #1022 "Support requestAutocomplete out of the box"
Suggested Labels: feature request, up for grabs

Request Autocomplete is a web technology implemented in Chrome that enables *very* speedy entry of a customers credit card details, addresses, and more.

It is very simple to implement, and would be a general improvement to Magento in all forms.

More information:
* [HTML5 Rocks page](http://www.html5rocks.com/en/tutorials/forms/requestautocomplete/

[2015-02-05 20:36] vancoz commented on #1005
Hello @josealgardataborges, we have an Euro in the currency list, please, chose it.
Countries in the list presented just as extended information for currencies, but not main entity.

And thank you for the report, we will consider using some service/tool for filtering out inactive currencies.

[2015-02-05 20:48] joanhe commented on #998
@ihabzeedia I don't see Magento\Core\Model\Resource\Theme\CollectionFactory has been used in Magento 2 code base. Do you have any module that you created in your code base?

[2015-02-05 22:50] joanhe commented on #1022
@navarr Thanks for your suggestion. I have created an internal feature request for this: MAGETWO-33670

[2015-02-06 09:46] tzyganu opened #1023 "Feature Request: Integrate Google Recapcha"
How about instead of using the very intrusive capcha that exists right now, you integrate *Google No Captcha Recaptcha*? https://www.google.com/recaptcha/intro/index.html

[2015-02-06 10:45] michaeltimm81 commented on #781
The issue is back. Changing the base url to 127.0.0.1 doesn't fix this anymore, with localhost there is no cookie set at all. With 127.0.0.1 there is only a form_key cookie set, but no admin cookie.

[2015-02-06 14:33] joshdifabio commented on #1019
On second thoughts, I'm gonna re-open this issue if that's okay; I've noticed that the framework code is also full of `protected` properties & methods and I'm assuming that those packages won't define service contracts. I don't expect you to comment further at this point in time, but I think it'd be good for other people to be able to add their thoughts here if they so wish.

[2015-02-06 14:46] tanya-soroka commented on #638
Hello @seansan
Please can you confirm that the following solution is covered you use-cases.
Magento 2 supports ability to create a bundle product with the fixed price for whole set of the sub-products. Also as part of the bunle options Magento has  "User Defined" checkbox option. It provides ability to disallow customer to specify the QTY of the sub-products and only merchant has ability to provid

[2015-02-06 14:58] seansan commented on #638
This is indeed an improvement (I know people want that to)

The solution is more in this area: you set QTY per bundle product (there is
no option for selecting QTY *per* subproduct)

So imagine we have these 4 products
product 1 = 9 $ = you can buy per product
product 2 = 9 $ = you can buy per product
product 3 = 9 $ = you can buy per product

product 4 (set of 1,2,3) = 25 $ = you can buy just lik

[2015-02-06 15:42] snohe commented on #1006
Thank you for your suggestion, @seansan.  We have logged this internally as MAGETWO-33595 and will review this request.

[2015-02-06 17:26] marcozheng commented on #919
Hi @snky1987, thank you for spending time and efforts trying to make Magento 2 better!

The M2 development team has reviewed this issue and evaluated the changes you are proposing.
We believe that this is a very important and necessary improvement we should add to M2.

There are a few suggestions we'd like to make before we merge your commits in:
* Severity level - instead using the value returned

[2015-02-06 17:45] anupdugar commented on #919
Also we encourage use of Dependency Injection instead of using objectManager
e.g.:
[code]

and then

[code]

[2015-02-06 18:10] kassner opened #1024 "Merge customer name fields"
Hi,

Can you guys think about merging all customer's name-related fields (`prefix`, `firstname`, `middlename`, `lastname` and `suffix`) into a single `name` field? I think this makes magento a more international product.

Motivational literature:
http://www.w3.org/International/questions/qa-personal-names
http://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/
http://blog.j

[2015-02-06 18:42] tanya-soroka commented on #1005
Closed. Thank you

[2015-02-06 18:42] #1005 closed

[2015-02-06 22:32] TexanHogman commented on #865
@ashsmith After a review of your proposal a pull request would be accepted.  Having getParams() missing is a mistake causing us to go around the defined interface.  Thanks for the suggestion and your help is appreciated.
Let's limit scope to adding these two methods to the interface and address implementation classes.  While I agree with @kandy on splitting interface across get and sets I am conce

[2015-02-07 09:48] vpelipenko commented on #804
@wojtekn, suggested update is implemented and available from 0.42.0-beta7. Please, check the latest version.

[2015-02-07 10:10] Mackovey opened #1026 "Adminhtml css property `col-date` has a lack of width"
![m1250](https://cloud.githubusercontent.com/assets/813985/6091715/f95bd7c2-aec1-11e4-8fb4-c941c4994775.png)

[2015-02-07 10:40] WilliamAtMagento commented on #864
VCL generation for Varnish 4 is done.  Will be published in next github release.

[2015-02-07 10:40] #864 closed

[2015-02-07 10:52] daim2k5 commented on #1011
I tried the last night to generate docs with sami (https://github.com/FriendsOfPHP/Sami). The Project support to filter the output via tags. Also you can style the hole documentation via Twig. BUT :-( if i use the filter SymfonyFilter i get errors and nothing is generated. The default filter works. Here my config file if someone else can resolve the problem (https://gist.github.com/daim2k5/f963c98

[2015-02-07 12:09] ashsmith commented on #865
@texanhogman good stuff, I'll submit the PR tomorrow then! :)

[2015-02-08 10:30] Mackovey commented on #1016
Looked #972, my apache2/php configuration is ok, mod_rewrite is enabled.

Did new installation (beta7), error still presents (screenshot is similar to above one).

Attached new screenshot of folder `pub/static/adminhtml` after first launch.

![m1255](https://cloud.githubusercontent.com/assets/813985/6096211/e7b1b204-af8d-11e4-8243-400e94dedc3a.png)

[2015-02-08 10:46] Mackovey opened #1027 "Can't add new subctegory"
Can't add new subctegory
(Button `save`doesn't have any reaction after the javascript error appeared)

![m1256](https://cloud.githubusercontent.com/assets/813985/6096237/514d4d12-af8f-11e4-8ad5-ee6080de60eb.png)

[2015-02-08 13:03] Mackovey commented on #1021
Great Idea!!!

Magento need something like this

[code]

[2015-02-08 17:27] yaro-tr commented on #998
Same problem  got. "exception 'Magento\Framework\Exception\State\InputMismatchException' with message 'Customer with the same email already exists in associated website.'"

Fix done by edit file - dev/tools/Magento/Tools/SampleData/Module/Customer/Setup/Customer.php

find function run and comment all inside it, looks like its trying to create new customer, but the customer were created by first ti

[2015-02-09 09:20] rvpatel opened #1028 "Invalid block type : First time run admin panel after installtion without index.php in url"
I have setup in magento xampp on localhost when i have run first time generate this error.

a:4:{i:0;s:46:"Invalid block type: Magento\Backend\Block\Menu";i:1;s:2975:"#0 C:\xampp\htdocs\magento2\lib\internal\Magento\Framework\View\Layout\Generator\Block.php(155): Magento\Framework\View\Layout\Generator\Block->getBlockInstance('Magento\\Backend...', Array)
#1 C:\xampp\htdocs\magento2\lib\internal\M

[2015-02-09 09:51] rvpatel opened #1029 "Admin dashboard Most Viewed Products Tab issue (without product list)"
Admin dashboard Most Viewed Products Tab issue click on not any product not display any message.
**Generate Error:**

![Screenshort](http://s2.postimg.org/ifcr3yb55/Mostviewproducts.png)

[code]

[2015-02-09 10:25] villageseo commented on #1026
Hi Mackovey!

Thank you for your contribution!

The current solution was implemented for design accuracy requirements for all grid tables. In future we are going to correct the grid tables implementation.

Thanks again,
Oleg

[2015-02-09 10:32] rvpatel opened #1030 "Magento Customer Registration form on how to display Address field setting?"
Magento Customer Registration form on how to display Address field without customize like
[code]
adding on before Line 56.
[code]

[2015-02-09 14:33] airbone42 opened #1032 "Allow multiple roles per admin user"
Currently it's only possible to have one role per admin user, which is quite difficult to handle if you have multiple users which have overlapping roles.

E.g. we have usually Editors and Sales people. So we need two roles. Besides that we also have people who're allowed to do both, so we already have to maintain three roles which have a very big overlap in the ressources. We always have to update

[2015-02-09 15:00] tzyganu commented on #1032
:+1:

[2015-02-09 15:16] vpelipenko commented on #1030
@rvpatel, could you provide more details about described issue? Please, describe what and how you are going to customize in customer registration form.

[2015-02-09 15:19] vpelipenko commented on #994
@toonvd, did you have a chance to check it again?

[2015-02-09 15:42] antonkril commented on #953
Sales.xml reader uses standard configuration reader so it should be sorted in the same way as other files do.

app/etc/config.php is created by install script taking into account module dependencies so the list is sorted in specific way. And editing it manually to turn off/on modules might lead to problems that you encountered.

[2015-02-09 15:49] toonvd commented on #994
@vpelipenko yes, it does not work, but I am trying to find the problem so I can give you a reproducable case.

[2015-02-09 15:51] ihabzeedia commented on #998
@joanhe No I did not create any file. Its just calling a class that does not exist.

[2015-02-09 16:01] alankent commented on #998
What version of php are you running? I recall a suspected problem with a particular patch version of php possibly having troubles with plugins, code generation etc.

[2015-02-09 16:02] andreasacca commented on #998
Hi, I tried right now with MAGETWO-31080: M2 GitHub Update (version 0.42.0-beta7)
installation stops at 93%with sample data:

Installing sample data:
[ERROR] exception 'Magento\Framework\Exception' with message 'Source class Magento\Core\Model\Resource\Theme\Collection doesn't exist.' in /users/andreasacca/Sites/magento2-beta7/lib/internal/Magento/Framework/Code/Generator.php:103
Stack trace:

...

[2015-02-09 16:08] ilol commented on #1024
Great idea, @kassner. I created the feature request with internal tracking number MAGETWO-33841. Please, reference to this id in further conversation.

[2015-02-09 16:29] vpelipenko commented on #994
@toonvd, we are wating for results of your investigation. We've also created internal ticket MAGETWO-33842 to check this issue again.

[2015-02-09 16:47] vpelipenko commented on #1024
Also if you would like to contribute suggested changes, your pull request is always welcome :-).

[2015-02-09 19:17] andreasacca opened #1033 "Magento2 Installation with Sample data Error - 0.42.0-beta7"
Hi, installing Magento2 with sample the installation stops at 96%.
The version is 0.42.0-beta7 and the <em><strong>composer.json</strong></em> file is modified by adding
<pre>
"repositories": [
    {
        "type": "composer",
        "url": "http://packages.magento.com/"
    }
    ],
</pre>
and

<pre>"magento/sample-data": "0.42.0-beta6",
"magento/sample-data-media": "~0.42.0-beta1"</pre>

After

[2015-02-09 21:19] bluk commented on #1033
Can you check if:

``vendor/magento/sample-data/composer.json``

has `"version": "0.42.0-beta1"`?

If it does, can you remove your `vendor/magento/sample-data` directory and do a `composer update` and `composer install`?

[2015-02-10 04:09] fooman commented on #953
@antonkril the following statement is probably more correct: only the loading of `module.xml` files gets sorted by sequence see https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Module/ModuleList/Loader.php#L61 all others are sorted the same way (order in config.php).

My expectation would have been that the sequence defined in `module.xml` is adhered to when loading

[2015-02-10 04:25] rvpatel commented on #1030
How to display Address Field on customer registration form.
On now lattest magento version have issue then solve in magento2 or not without fixing using this code.

Any setting u have provide for this?

[code]
![Customer Account Register Fronted](http://s12.postimg.org/502ma8x3h/Create_New_Customer_Account.png)

[2015-02-10 06:58] anupdugar commented on #1016
Thanks for the information.
Interestingly, all the static content except jquery related files are getting generated ( assuming your Magento instance is not running in developer mode). Looking into reproducing this on our end. Meanwhile feel free to share any additional steps (if not previously specified) to help reproduce it.

[2015-02-10 08:40] Antonioele commented on #1033
on my computer linux ubuntu 14.04  magento 0.42.0-beta7
first composer install
after edit composer
"repositories": [
    {
        "type": "composer",
        "url": "http://packages.magento.com/"
    }
    ],
"magento/sample-data": "0.42.0-beta6",
"magento/sample-data-media": "~0.42.0-beta1"

composer update
chmod 777 -R  magento2.dev
chown -R www-data:www-data  .

sample data "0.42.0-beta6" inst

[2015-02-10 09:20] antonkril commented on #953
Sorting happens only once for module.xml, and sort order is then used for all configuration files. So sales.xml is loaded/merged in same order. See https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Module/Dir/Reader.php#L78

You can use
`php -f setup/index.php <module-enable|module-disable> --modules=Magento_Foo,Magento_Bar... [--force]`
to enable/disable modules

[2015-02-10 09:45] kokoc commented on #1027
@Mackovey Thank you for reporting the issue.
Internal reference - MAGETWO-33893

[2015-02-10 09:49] kokoc commented on #1029
@rvpatel Thank you for reporting the issue.
Internal reference - MAGETWO-33894

[2015-02-10 10:08] Antonioele opened #1034 "problems with jquery plugins"
Magento The version is 0.42.0-beta7 with sample data
in luma/Magento_Theme/layout I have insert file default_head_blocks.xml :
in the head  I have insert
<head>

        <css src="css/camera.css"/>
        <script src="camera.js"/>
</head>

1° problem :
camera.js there is in pub/static/frontend/Magento/luma/it_IT

I see whith firebug
 some times load camera.js  at other times do not.
problem layou

[2015-02-10 16:05] vpelipenko commented on #804
Fixed. Closed.

[2015-02-10 16:05] #804 closed

[2015-02-10 16:12] antonkril commented on #1034
You should use data-mage-init attribute on your widget node to initialize your camera widget. Its source file will be automatically loaded by requirejs.  (see http://devdocs.magento.com/guides/v1.0/frontend-dev-guide/javascript/js-mage-plugin.html#fedg_js-mage_widgets_dataattrib)

To make your widget load after jquery, declare jquery as a dependency in your widget (http://requirejs.org/docs/api.ht

[2015-02-10 16:19] vpelipenko commented on #1030
@rvpatel, thanks for the update. We'll assign this issue to appropriate PO who will make a decision about current behavior.

[2015-02-10 16:40] buskamuza commented on #1016
@Mackovey , Error 404 may be sent in case of any exception during processing of the file.
Would you mind to try the following experiment?
1. enable "developer" mode (add `SetEnv MAGE_MODE developer` in root `.htaccess` file)
2. remove everything, except `.htaccess` file from `pub/static` folder
3. open the web-site
4. find one of non-loaded jquery resources and open it in the browser

If any excep

[2015-02-10 18:10] Mackovey commented on #1016
In `developer` mode everything works fine.

[2015-02-10 20:02] snohe commented on #948
@robfico, thanks for your confirmation.  We'll go ahead and close this GitHub issue.  If you do have any additional questions, please don't hesitate to open a new issue.

[2015-02-10 20:02] #948 closed

[2015-02-10 20:03] snohe commented on #967
@aishwaryacedcoss, since we haven't heard back from you, we'll proceed with closing this issue.  If in case you do have any updates, feel free to reach out to us by submitting a new issue.

[2015-02-10 20:03] #967 closed

[2015-02-10 20:04] #974 closed

[2015-02-10 20:07] snohe commented on #977
@orlangur, @mattisbusycom - since we haven't heard back from you for quite some time, we'll go ahead and close this issue.  If in case you have any additional updates, feel free to reach out to us by submitting a new issue.

[2015-02-10 20:07] #977 closed

[2015-02-11 10:11] mahesh004 commented on #1027
I am also having same issue.

[2015-02-11 10:15] kokoc commented on #1033
Thank you for reporting the issue.
Internal reference - MAGETWO-34007

[2015-02-11 10:32] andreasacca commented on #1033
Hi @bluk
this is my composer json:

<pre>
{
    "name": "magento/project-community-edition",
    "description": "Magento project (Community Edition)",
    "type": "project",
    "version": "0.42.0-beta7",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],
    "repositories": [
    {
        "type": "composer",
        "url": "http://packages.magento.com/"
    }
    ],
    "require": {

[2015-02-11 16:23] antonkril commented on #975
Does this answer your question? Can we close the issue?

[2015-02-11 16:32] tim-reynolds opened #1035 "Bug in Magento\Framework\Simplexml\Element::appendChild"
The bug is in the call to:
$source->children()

If an XML node has no child nodes and no attributes, this resolves to FALSE
However, if the XML node has no children and has one or more attributes it resolves to TRUE when clearly it should not.

See the line of code in question:
https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Simplexml/Element.php#L329

This line nee

[2015-02-11 17:08] voleye commented on #1033
Hi @andreasacca, may you just try to reinstall Magento?
 - remove db
 - clean "var" folder
 - re-run installation process

[2015-02-11 20:12] anupdugar commented on #1035
Thanks for submitting this pull request. We will process it internally through ticket MAGETWO-34069.
Also using \SimpleXMLElement::count is another option.
It counts the children of an element
[code]
ex:
[code]

[2015-02-11 20:16] tim-reynolds commented on #1035
Thanks for the quick response Anup!

I did not yet create a pull request proper as my local version of Magento2 is outdated and I was concerned about setup for unit tests.

Did you need a proper pull request for this?

[2015-02-11 21:21] anupdugar commented on #1035
Pull request is highly encouraged. Here's our contribution guide:
https://github.com/magento/magento2/wiki/Contribution-Guide

Here's the Unit test in question : https://github.com/magento/magento2/blob/develop/dev/tests/unit/testsuite/Magento/Framework/Simplexml/ElementTest.php

For running this Unit test:
- Navigate to <m2_project_root>/magento2ce/dev/tests/unit
Run the Test
-  ../../../vendor/p

[2015-02-11 21:54] wojtekn commented on #804
Thanks @vpelipenko, it looks good now.

[2015-02-12 03:42] alankent commented on #1035
One of the reasons for submitting a pull request is so your name is associated with the code as the contributor of the solution. So it's not mandatory to get it fixed (we can add to our bug backlog), it's just the best way to give you full credit for your contribution. You will have your name as a contributor in github for the world to see.

[2015-02-12 07:24] mahesh004 opened #1036 "Error installing sample data for magento v0.42.0-beta7 - sample data 0.42.0-beta6"
I have successfully installed magento v0.42.0-beta7 without loading sample data during installation. After that I have added sample date in composer.json and updated it.

"magento/sample-data": "0.42.0-beta6",
"magento/sample-data-media": "~0.42.0-beta1"

Sample data files are created in \magento2\dev\tools\Magento\Tools\SampleData but got error.

--------------------------------------------------

[2015-02-12 08:55] kokoc commented on #1036
@mahesh004 Thank your for reporting the issue.

Could you please provide your composer.json content?

Internal reference - MAGETWO-34087

[2015-02-12 09:08] voleye commented on #1036
@mahesh004 Do you specified the repository http://packages.magento.com/ in your composer.json?

"repositories": [
        {
            "type": "composer",
            "url": "http://packages.magento.com/"
        }
    ]

[2015-02-12 09:42] mahesh004 commented on #1036
Thanks for your attention. Here is my composer.json code.

{
    "name": "magento/project-community-edition",
    "description": "Magento project (Community Edition)",
    "type": "project",
    "version": "0.42.0-beta7",
	"minimum-stability": "dev",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],
    "require": {
        "php": "~5.5.0|~5.6.0",
        "zendframework/zend-stdlib": "2

[2015-02-12 10:23] mahesh004 opened #1037 "Is local.xml present in Magento 2 theme?"
I am trying to add .phtml file to home page content area. I used the following code

`<referenceContainer name="content">
            <block class="Magento\Framework\View\Element\Template" name="html_home" as="html_home" template="Magento_Theme::html/home.phtml"/>
</referenceContainer>`

This is working in Admin-> Pages's layout, default.xml file in \magento2\app\design\frontend\Magento\MyTheme\Ma

[2015-02-12 10:57] vinniewhite opened #1038 "Admin navigation and form submitting not working"
Having just installed Magento 2 I am shocked that I cannot use the admin panel at all. Clicking on links in the navigation do not work, so I cannot get around without typing the urls in.

Once on a page, say the configuration page I cannot submit any forms. The buttons simply do not work.

[2015-02-12 11:03] kokoc commented on #1038
@vinniewhite Thank you for reporting the issue.

Could you please share more details? Any information about 404 and 503 requests will be very useful.

[2015-02-12 11:35] vinniewhite commented on #1038
Hi

There are no errors that I can see, all the pages load and the .css and .js files are all loading too.

Maybe my logs will help:

[2015-02-12 11:33:39] main.CRITICAL: Invalid template file: '' [] []
[2015-02-12 11:34:02] main.CRITICAL: Broken reference: the 'page.bottom' element cannot be added as child to 'page.bottom.container', because the latter doesn't exist [] []
[2015-02-12 11:34:02] ma

[2015-02-12 11:59] vpelipenko commented on #867
There are no updates from participants. Closed.

[2015-02-12 11:59] #867 closed

[2015-02-12 12:07] vpelipenko commented on #1037
@mahesh004, thank you for posting this issue, but could you clarify where did you put the local.xml?

[2015-02-12 12:11] wojtekn commented on #867
@vpelipenko did you make any decision around this? Maybe getting rid of core_theme table completely will do the trick?

[2015-02-12 12:45] mahesh004 commented on #1037
I have tried in three places
1) \magento2\app\design\frontend\Magento\MyTheme\Magento_Theme\layout
2) \magento2\app\design\frontend\Magento\MyTheme\etc (Working theme)
3) \magento2\app\code\Magento\Theme\view\frontend\layout

for 1 and 3 I put the code in default.xml and it worked.

[2015-02-12 13:05] ksultana commented on #1038
I'm having this problem too. Yesterday, I opened this on stackexchange. I think it's related.

http://magento.stackexchange.com/questions/55341/magento-2-backend-errors

When I switch store view in the admin, I'm getting 404 errors as seen here:

![image](https://cloud.githubusercontent.com/assets/10956143/6167879/22c9789c-b2c0-11e4-9838-bb0caf8a16ed.png)

[2015-02-12 13:33] mzeis opened #1039 "Disable logging per module"
Some extensions log useless stuff that pollutes the logs.

The problem could be avoided if Magento as well as the extension vendors would pay more attention to the log levels already provided and use them accordingly (e.g. differentiate between debug output and real information / notices / warnings / errors).

As it may not be possible to force using the correct log levels it would be nice to have

[2015-02-12 13:40] antonkril commented on #1039
Calls to log don't provide module for which this call happens, so we will not be able to distinguish from which module the log entry comes

[2015-02-12 15:11] villageseo commented on #1037
Hi mahesh004!

local.xml is not present in Magento 2 themes anymore.

Documentation about new Magento 2 layout structure can be read here:
http://devdocs.magento.com/guides/v1.0/frontend-dev-guide/layouts/layout-overview.html

Thank you for the question.

[2015-02-12 16:22] vpelipenko commented on #996
Pull request is accepted. Thank you for contributing.

[2015-02-12 16:22] #996 closed

[2015-02-12 17:19] vinniewhite commented on #1038
Looking at the console I do seem to have issues with the jquery folder too!
![screen shot 2015-02-12 at 17 19 06](https://cloud.githubusercontent.com/assets/2504700/6172836/52a8aaea-b2db-11e4-8911-7d9d9325058d.png)

[2015-02-12 17:37] mzeis commented on #1039
That's true.

@schmengler suggested that debug_backtrace() could be investigated. See https://github.com/firegento/firegento-logger/issues/62. I admit that this may not be reliable. However if the log entity was to be redesigned this could be taken into account (e.g. if the log functionality was refactored to be implemented via traits, a different service contract / DI implementation, ...).

[2015-02-12 17:55] antonkril commented on #1039
Theoretically it's possible to inject different log instances to classed of different modules, but that would impact performance of ObjectManager (module checks would become required on each instance creation) and might become overkill. Filtering log results seems much cheaper solution.

[2015-02-12 18:38] orlangur commented on #1038
Seems to be duplicate of #1016.

Problem is that jquery files are not materialized into `/pub/static/` folder.

For me it happened after upgrade to PHP 5.6 in default mode.

[2015-02-12 20:38] choukalos commented on #471
Closing since this work is implemented in framework; refactoring of existing grids has not been done as of 2/12/2015.

[2015-02-12 20:38] #471 closed

[2015-02-13 02:31] alankent commented on #1039
Is the logger global? Or could each module have a separate logger instance initialized with the module name (via DI.xml file)? That is, it is not "magic" in object manager - it's just a different constructor argument if a class wants to log something.

Alternative approach is to have "switches" where "good" code should check if a switch is set before calling the log function. This avoids creating

[2015-02-13 05:09] mahesh004 commented on #1037
Hi @villageseo

Thank you for your answer.

[2015-02-13 05:09] #1037 closed

[2015-02-13 07:45] mzeis commented on #1039
For reference: @jayelkaake built an M1 extension analysing debug_backtrace: https://github.com/jayelkaake/logmanager

My personal preference would be to have a more enhanced logging functionality like https://github.com/firegento/firegento-logger.

The key features for me:
* let me decide where the log should go (File, Database, syslog, ...)
* let me decide what should be logged where (e.g. we hav

[2015-02-13 09:45] orlangur commented on #1039
Starting from [0.42.0-beta2](https://github.com/magento/magento2/blob/develop/CHANGELOG.md#0420-beta2) M2 uses [PSR-3](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-3-logger-interface.md) compatible [Monolog](https://github.com/Seldaek/monolog) library, de-facto logging standard in PHP world, instead of old logger inherited from M1. In order to achieve logging parity, like `sys

[2015-02-13 09:48] mzeis commented on #1039
Thank you for the explanation - that's very helpful. I'll close the issue then and wait how things work out in practice.

[2015-02-13 10:03] rvpatel opened #1040 "Required date validation on magento2 Backend."
On Adminpanel i have add Category page custom design tab on date validation required.

I have add Active From Date 4th Feb 2015 and  Active To Date add 1th january 2015 which older then Active From.

I have suggest to **manage date validation on magento2**.

![Backend Date validation](http://s10.postimg.org/kjvcg2f0p/On_category_page_date_validation.png)

[2015-02-13 10:45] wsakaren commented on #1039
Hi, know this is closed but just wanted to add that we ship our own logger with every extension.  This is open source, and will support any extension - https://github.com/webshopapps/wsalogger

We wrote this a number of years back, and are planning to update for Magento2 to key into the features there. The advantage of this logger is that you can set it to display not just in the system log but al

[2015-02-13 10:52] avoelkl opened #1041 "Customer group code"
When working with various customer groups, it's not very handy to work with fixed ID's which are returned by `getCustomerGroupId()`.
Working with customer group codes would be more flexible. Currently the *name* of the customer group is set as 'customer_group_code' in the admin.
I would recommend to distinguish between *name* and *code* as the name might be something more user-friendly for backend

[2015-02-13 11:08] andreaspenz commented on #1041
![](http://cdn.meme.am/instances/500x/59130794.jpg)

[2015-02-13 11:09] andreaspenz commented on #1041
![](http://cdn.meme.am/instances/500x/59130943.jpg)

[2015-02-13 11:39] vkorotun commented on #954
@Vinai : Since we haven't heard back from you for quite some time, we'll go ahead and close this issue. If in case you have any additional questions, feel free to reach out to us by submitting a new issue.

[2015-02-13 11:39] #954 closed

[2015-02-13 11:50] Vinai commented on #954
Thanks, that is fine. Thanks for all the updates, I have been taking note!
Right now I'm in the process of getting back into the current state of things, but unfortunately JS testing is not the first thing on the list.

[2015-02-13 13:27] ilol commented on #1041
Hi @avoelkl,
You suggestion worth to study, thanks. I`ve create user story in our product backlog. Please, save the internal tracking number MAGETWO-34160.

@andreaspenz, nice pic :)

[2015-02-13 14:25] vkorotun commented on #958
Linked to internal ticket: MAGETWO-34163

[2015-02-13 14:33] avoelkl commented on #1041
Hi @ilol, thanks for the fast reply!
Looking forward to your findings.

[2015-02-13 16:51] anupdugar commented on #790
@nyov We have gone ahead and upgraded to zf 1.12.10 (instead of just taking in the patch) in 0.42.0-beta8.
This should take care of the issue you reported. Closing it.
Thank you for your contribution!

[2015-02-13 16:51] #790 closed

[2015-02-13 18:55] andreasacca commented on #1033
Hi @voleye I've done what you suggested
and the setup completed successfully.

I tried also with the updated version (beta-8) and the installation with sample data is working well too.

Thanks!

[2015-02-13 18:55] #1033 closed

[2015-02-13 19:08] piotrekkaminski commented on #1039
Hey Keren. Given the integration with Monolog that can send out logs to things like Loggly I would assume we will recommend all extensions providers to use common logger. Can you tell me from customer experience would asking customer to add another handler for monolog would be possible? I would assume no. How about having customer send you the log file? Do you think only web interface in admin is

[2015-02-13 19:14] piotrekkaminski commented on #1039
@mzeis your question is very relevant. It would be great to be able to filter out logs by module.  @orlangur is it possible to automatically add current module name to all logs or this would have to be explicitly added to all log messages? This is actually pretty important to be able to analyze logs

[2015-02-13 21:28] buskamuza commented on #1016
@Mackovey , thanks for the testing. I created an issue in our internal tracker.

Internal ticket MAGETWO-34173

[2015-02-13 21:28] buskamuza commented on #1038
Internal ticket for #1016 - MAGETWO-34173

[2015-02-14 15:30] zbych opened #1042 "Lost catalog rewrite url after page/list-mode/limit changed"
Case:
1. I am entering the category "Test", address is http://magento2.dev/test.html
2. I am doing one of following operation:
* changed List mode
* switch page
* sorting products
* change limit of display products

Category "Test" url is: http://magento2.dev/catalog/category/view/id/3/

[2015-02-14 15:42] wsakaren commented on #1039
Merchants are not going to use loggly.  For our particular area they want it in the admin panel, or they want better verification when entering data. For instance when packing boxes they want to be able to switch on logging to view this. They will not want to go to Loggly, it will scare the hell out of them.

The reality we find is that merchants are involved at this level, and even a lot of the w

[2015-02-15 19:09] amanuni commented on #815
I have got same issue and i am using WAMP.

[2015-02-15 22:03] tim-reynolds commented on #1035
@alankent - Yeah, hopefully my name is already in. I think I've sent at least one maybe two bug patches into the project, but that was early when they weren't giving attribution on fixes.

Working on a PR now.

[2015-02-15 23:56] fooman commented on #953
@antonkril that's great to hear that this command is now available. Hopefully this gets a bit more exposure in the docs so that everyone knows how to use this going forward.

[2015-02-15 23:56] #953 closed

[2015-02-15 23:57] fooman commented on #800
to everyone who hasn't found it yet - this is now possible:

     php -f setup/index.php module-enable Namespace_Module

it updates the `app/etc/config.php` file for you and takes care of the correct order based on the sequence attribute in the `module.xml` file.

[2015-02-16 00:08] fooman commented on #975
@antonkril I think you might have misunderstood my question.

My comment in regards to maintainability, readability and so forth is about the generating code not the generated code. I haven't yet been able to run the performance tests however this is what I am referring to

For example this code here
https://github.com/fooman/magento2/compare/interceptor-as-trait#diff-7fea50965bcc6aeb72cc4f333e0f9

[2015-02-16 01:11] SchumacherFM commented on #975
The trait approach is more developer friendly as you can directly hack in the trait and try things out.

:+1: for @fooman

[2015-02-16 01:17] Flyingmana commented on #975
If I understand it correctly, its about the shared code the generator adds to many classes, which is always the same.
Not knowing much of the code here, but does it change behavior if someone has an own __sleep method defined in a class?

[2015-02-16 04:03] fooman commented on #975
@Flyingmana the Interceptor classes, living under var/generated, are autogenerated here https://github.com/fooman/magento2/blob/master/lib/internal/Magento/Framework/Interception/Code/Generator/Interceptor.php#L205

The generating code copies over the public methods from your plugin code but excludes `__sleep`,` __wakeup` and `__clone`,  so with current behaviour you would not be able to have your

[2015-02-16 07:48] Marko-M commented on #975
:+1: for the trait approach. Traits are there, they make code more readable therefore we should use it.

[2015-02-16 08:44] maksek commented on #909
Fixed in beta8.

[2015-02-16 08:44] #909 closed

[2015-02-16 08:47] maksek commented on #813
Closing issue, due no response more then 2 weeks. PHP 5.6 is supported, composer is updated. If you still have the issue feel free to reopen or create new with link to this one.

[2015-02-16 08:47] #813 closed

[2015-02-16 10:02] Mackovey opened #1044 "Can't do reindex"
There is not any action to do reindex from backend

![m1294](https://cloud.githubusercontent.com/assets/813985/6209962/86299f0a-b5d3-11e4-8223-ae291ebebf01.png)

[2015-02-16 10:12] paales commented on #813
@vpelipenko @maksek Didn't have the time to check again, but since the composer.json files are updated, I expect everything to work.

[2015-02-16 10:58] Mackovey opened #1045 "Bad rendering frontend category menu."
Incomplete menu appears during downloading page.

![m1295](https://cloud.githubusercontent.com/assets/813985/6210639/30b7fe20-b5da-11e4-882d-eb776247205a.png)
![m1296](https://cloud.githubusercontent.com/assets/813985/6210640/31d7292a-b5da-11e4-8ba3-a83d3cf89b9b.png)

[2015-02-16 11:23] Mackovey opened #1046 "Two equal files"
app/code/Magento/Catalog/Model/Category/Attribute/Source/Mode.php
app/code/Magento/Catalog/Model/Resource/Category/Attribute/Source/Mode.php

excess / unnecessary file?
app/code/Magento/Catalog/view/frontend/templates/category/view.phtml

[2015-02-16 11:42] vpelipenko commented on #1044
This behavior is as expected by design. Indexing has become a background operation with automatic consideration for partial or full re-indexing by cron.

The same issue https://github.com/magento/magento2/issues/824.

[2015-02-16 11:48] villageseo commented on #1045
Hi Mackovey!

Yes, we know about this issue.
Internal ticket MAGETWO-32309 has been raised.

[2015-02-16 11:51] antonkril commented on #975
@fooman we considered template approach for code generation. With templates Interceptor code would be in separate file. But we considered this low priority task because 3PDs are not supposed to work with this code so it's not high priority task.

Traits are for code reuse, code can be reused by aggregation but we kept that code in interceptor class to make it easier to debug interceptor code (3PD

[2015-02-16 13:01] vpelipenko commented on #885
@jameswithers, did you have a chance to look at comment provided by @eug123?

[2015-02-16 13:07] vpelipenko commented on #1034
@Antonioele, did @antonkril comment solve your problem?

[2015-02-16 13:16] vpelipenko commented on #1008
@kassner, could you inform us about your decision on creating PR with suggested changes? Are you going to do it?

[2015-02-16 13:17] airbone42 opened #1047 "Use splat operator from PHP 5.6 in \Magento\Framework\ObjectManager\Factory\AbstractFactory::createObject"
Hi,

I just stumbled over the createObject function which has a massive switch to decide how an object should be created, depending on the amount of arguments.

        switch (count($args)) {
            case 1:
                return new $type($args[0]);
            case 2:
                return new $type($args[0], $args[1]);
            case 3:
                return new $type($args[0], $args[

[2015-02-16 13:20] vpelipenko commented on #1004
@Antonioele, internal ticket is assigned to team and will be fixed during next weeks.

[2015-02-16 13:24] vpelipenko commented on #957
@Vinai, do you have any updates around this issue?

[2015-02-16 13:34] orlangur commented on #1047
Thanks, this well-known new feature was planned to be tried where applicable if performance boost is significant.

Also, even if PHP 5.6 will not be a minimum supported version we can switch ObjectManager implementations using DI or place such in separate composer package with appropriate PHP requirement.

[2015-02-16 13:49] antonkril commented on #1047
Interception will also benefit from this feature.

[2015-02-16 13:57] orlangur commented on #1039
@piotrekkaminski,

It is possible with `debug_backtrace` hack or if each module will have separate logger instance, as [suggested](https://github.com/magento/magento2/issues/1039#issuecomment-74118633) by @antonkril.

Is it not enough to have all messages in one log with ability to [filter](https://github.com/magento/magento2/issues/1039#issuecomment-74071598) some of them? We can do it pretty acc

[2015-02-16 14:09] ilol commented on #1030
@rvpatel, thanks for this improvement.
I created the ticket inside our Requirements Management System MAGETWO-34179 with label "up for grabs". Welcome to  pull-request creation.

[2015-02-16 15:34] vpelipenko commented on #1026
We are going to work on enhanced data grids in the nearest future and probably current implementation will be completely changed. Thank you again for pointing this issue, we will consider it.

[2015-02-16 15:34] #1026 closed

[2015-02-16 18:50] jameswithers commented on #885
@vpelipenko Yes. The documentation isn't very clear on this subject currently, so I was able to solve with some trial and error/testing.

[2015-02-16 18:50] #885 closed

[2015-02-16 20:19] Antonioele commented on #1034
@vpelipenko , I solve my problem with the help of antonkril , using requirejs , sorry if I insist, it is not advisable to use the layout to load jquery plugins, it would be comfortable as in magento 1.9.

[2015-02-16 21:07] fooman commented on #975
@antonkril In reply to this comment:

3PD = third party developers?

While it might not be envisaged that this code will be changed by third parties Interceptors are one of the major new features of Magento 2 and developers would/should be working all the time with this code.

As this is a low priority on your end: If I finish the pull request and provided there is no major impact on performance w

[2015-02-17 07:48] anupdugar commented on #919
@snky1987 Did you get a chance to look at the suggested code changes for your PR?

[2015-02-17 08:18] snky1987 commented on #919
@anupdugar Hi, I will today. Recently i had too much work with eBay service in AngularJS

[2015-02-17 09:07] antonkril commented on #975
3PDs (yes, third party developers) will be working with Interceptors frequently (so we try to keep them simple) but not with their generation.

Refactoring of generation is not high priority but Interceptors should stay simple. So in my opinion any pull request that spreads Interceptor code should only be considered if it has performance improvement.

But this question is not important (two option

[2015-02-17 09:41] ilol commented on #1030
@rvpatel, hi. Thank you for this issue. I decided to add flag "Show Address Info"  and then show address info on Account Registration form (internal tracking number MAGETWO-34191).

[2015-02-17 10:06] kokoc commented on #1042
@zbych Thank you for reporting the issue
Internal reference - MAGETWO-34192

[2015-02-17 10:08] kokoc commented on #1046
@Mackovey Thank you for reporting the issue
Internal reference - MAGETWO-34193

[2015-02-17 10:12] kokoc commented on #1040
@rvpatel Thank you for reporting the issue
Internal reference - MAGETWO-34194

[2015-02-17 11:50] chrom opened #1049 "Flag - site on service"
mode when the site is under maintenance and visitors are redirected to a separate page.
Example: Update magento version.

[2015-02-17 13:15] vpelipenko commented on #1049
@chrom, could you describe the issue with more details? What do you suggest to fix?

[2015-02-17 15:26] vpelipenko commented on #788
@nyov, it is known behavior, it is not resolved and we don't expect to see it fixed in the future. Scripts and styles are required things for both frontend and backend. If scripts are missed for some reason as we see in you case, backend becomes not operable.

[2015-02-17 15:45] vpelipenko commented on #768
@tzyganu, we've created internal ticket for fixing this issue, but your pull request is always welcome :-).

[2015-02-17 16:16] voleye commented on #1036
@mahesh004

In the description above you described

But from the print screen image I can see the different error message about problems with packages:
 - magento/framework
 - magento/sample-data-media

Could you please clarify which exactly error do you have?

[2015-02-17 16:43] vpelipenko commented on #969
Closed. There is no response from contributor.

[2015-02-17 16:43] #969 closed

[2015-02-17 18:41] kschroeder commented on #1021
Alan, how detailed do you want this discussion to get here?

[2015-02-17 18:57] buskamuza commented on #1049
@chrom , if you want to switch the site to maintenance mode, you can use a CLI Maintenance Tool for this:
[code]

[2015-02-17 19:15] alankent commented on #1021
I was hoping a group of interested parties would identify themselves and work out how they wanted to work together (email, separate Git repo, discuss here, whatever). Then come back with a proposal. Still working out the best way. Simplest might be to fork your own repo and start work there and invite others to come have a look and comment / suggest alternatives. Just drop a link on this page to t

[2015-02-18 09:07] cbmd opened #1050 "[Fron-end wise discussion] Browser support list and supporting features of modern browsers"
Hello everyone, i would like to start discussion about support list of browsers and supporting features (and their adoption on M2 codebase) in front-end prospective for GA release.
Due to major problem of adopting new features is always was IE (historically that occurs like that) we were not been able to adopt in spread basis, it most of the time depends on requirements of clients/agencies, but si

[2015-02-18 09:11] cbmd commented on #1050
Additionally this list can be extended by list of server-side solutions like containers, instances manipulation, deployment strategies (which is not an agnostic way, but if we would provide possibility to do that from code prospective it will be better for platform i think), etc.
Those can be adopted for front-end side as well, if you like i could describe how and what for :)

[2015-02-18 09:12] cbmd commented on #1050
Summoning @alankent @vasiliyseleznev @maksek for discussion.

[2015-02-18 09:17] cbmd commented on #1050
List of some of the issues raised in this prospective:
1. #1022
2. #1034
3. #957

[2015-02-18 10:57] chrom commented on #1049
@buskamuza Snx.

But that users will see?

[2015-02-18 15:56] navarr opened #1051 "Clarification of Versioning Scheme (with proposal for modified SemVer)"
I'm posting this issue to get it in the minds of the Magento developers as early as possible.

Something that's greatly annoyed me with Magento 1 (which probably won't be an issue with Magento 2 thanks to using composer) has been the version and patch system.

For example, in Magento 1.9.0 you have 1.9.1 and you also have superfluous patches.  This makes it difficult to detect customizations to co

[2015-02-18 16:08] piotrekkaminski commented on #1051
Thanks for the comment. This is very close to what we are planning to do. We have some question how to support (and do we need to support at all) patches that might be customer specific (eg resolve customer issue but have side effect that might not work for everyone) with versioning. However the general direction is to use semvert, hopefully per module.

[2015-02-18 17:19] mariuszgomse commented on #107
Hello,

Sorry that I dig out this "issue" again, but I'm curious is there any decision about it ?

In the actual repository I can find some phtmls with `<?=`:
* app/code/Magento/Catalog/view/adminhtml/templates/product/edit/tabs.phtml
* app/code/Magento/Customer/view/adminhtml/templates/tab/addresses.phtml
* app/code/Magento/Downloadable/view/adminhtml/templates/product/edit/downloadable.phtml
* a

[2015-02-18 17:26] vpelipenko commented on #1034
@Antonioele, due to last changes in the framework, it is strongly recommended now to use requirejs to load any js plugins.

[2015-02-18 17:59] buskamuza commented on #1049
@chrom , the user will see the following:

[2015-02-18 18:17] buskamuza commented on #1051
@navarr , just some thoughts from support perspective.

Patches are changes that may be created and applied very fast - in few hours or in one day. Especially if this is a patch for a blocker. Such workflow may bypass general rules (e.g., definition of done) for the development. For example, it may be not covered with tests or documentation (if needed).

Releasing a version required all the rules

[2015-02-18 18:30] navarr commented on #1051
@buskamuza My proposal was more for "path releases" where the release is incredibly small and implements the last worthwhile version number, and may contain only a single fix - where you can then roll out a patch file to a customer that simply upgrades them from the patch to the new (very minor) version.

Which would provide a very clear upgrade path.

[2015-02-18 19:52] anupdugar commented on #919
No problem @snky1987. Feel free to get back if you need any inputs or have any suggestions or recommendations.

[2015-02-18 20:17] anupdugar commented on #1028
@rvpatel Thanks for reporting the issue..
If you previously installed Magento 2 using XAMPP, can you try clearing the contents of var/cache and var/generation.
Am assuming you followed steps from http://devdocs.magento.com/guides/v1.0/install-gde/install/pre-install.html to setup and install Magento.
What version of XAMPP are you using?
Also, feel free to share additional steps, if any, that may h

[2015-02-19 02:20] phazei commented on #700
@KLVTZ
Actually CKeditor supports Code Mirror:
http://ckeditor.com/addon/codemirror
which is pretty slick.

[2015-02-19 02:26] KLVTZ commented on #700
@phazei +1 on that! Thanks for pointing that out, that would feel 10x more natural.
It comes to my attention that maybe we as a community should encourage proper extended code base additions versus just code injections that magento 2 offers in the admin-panel.

[2015-02-19 04:25] buskamuza commented on #1051
Is this still the same patch you'd like to get rid of?

In case we're working on multiple fixes for multiple customers how the repository with patch releases should look like?

[code]
or
[code]

Other option?

P.S.: I absolutely support usage of normal Git/Composer tools instead of patches and understand the problem with patches. Just want to see the strategy more clear.

[2015-02-19 09:03] chrom commented on #1049
@buskamuza  Snx for you work.

[2015-02-19 13:59] ilol commented on #1032
Thanks, @airbone42. Great idea, and we even have registered task (MAGETWO-11357) in our product backlog related to this topic. But that is expensive feature.

I would discuss other side of this problem. What do you think about connection of our user role with Active Directory (FreeIPA) group? This would be helpful for user administrators to setup and sync Magento permissions with permissions to ot

[2015-02-19 19:22] kassner commented on #1008
@vpelipenko what's the deadline? I can provide this PR but not yet.

[2015-02-19 20:50] choukalos commented on #1051
@navarr Thanks for the input.  Per @piotrekkaminski comment our current proposal thats being vetted is pretty close to what you're recommending.  Here's what we're thinking:

Use ~Semantic Versioning aka Major.Minor.Patch as the version # with rules/automated check on what constitutes a major/minor version change.  We'll have some guidelines on what the version #'s mean in terms of backwards compa

[2015-02-19 22:44] cbmd commented on #1050
In this topic we could additionally discuss things like rich snippets (as mentioned before), but as well accessibility standards adoption on magento platform...

[2015-02-19 22:50] navarr commented on #1051
That sounds very good.  My primary concern is that in general the Magento 1.x way of "patching" a system creates versions of Magento that are completely unknown.

My specific use case for this was writing a system that detects core code modifications (when inheriting a project) so that we can see what's been done and if we need to correct it.  Patches make it impossible to compare against a versio

[2015-02-20 08:57] airbone42 commented on #1032
Hi @ilol,

a sync to AD is definitely a great feature but I would see it separated from this one. AD sync might be interesting for enterprise systems, but having shared roles is required by almost every merchant that has more than two users. We would even need that as an agency for our different set of supporting users, which btw are usually not registered in the AD of the merchants. ;)

[2015-02-20 11:54] #1000 closed

[2015-02-20 12:20] vpelipenko commented on #887
Discussion is closed.

[2015-02-20 12:20] #887 closed

[2015-02-20 15:59] TexanHogman commented on #1012
internal ticket MAGETWO-33621 and related comment.

There is no perfect solution here. We could host but questions arise on versioning, support for community schemas and this creates unnecessary complexities at this time. We could change to a URN but then action is required for every XSD in PHPStorm. We would also need to add support for the URN based resolution for our static tests. The relative

[2015-02-20 19:38] toonvd commented on #994
Hi, since I migrated to another host w/ same php version I didnt manage to reproduce this anymore. Might have been a bad setup... If you cannot reproduce either, it might be better to close

[2015-02-20 19:38] #994 closed

[2015-02-21 01:11] alankent commented on #1050
Sorry, I have been doing some traveling with work. Just catching up with email etc.  This has been tagged for product and tech to have a look. (A warning - large requests with lots of items take longer to get through and tend to get pushed down the backlog as they take a significant effort to just review.)

What would be helpful however is to get other community feedback on the relative importance

[2015-02-21 20:38] nyov commented on #788
Well, that's okay. Feel free to close this.

I'm just noticing I didn't say _which_ script I find problematic in the initial ticket.
It's the one that submits a form apparently. I could perfectly navigate the broken, unstyled backend, but when I tried to fix the broken base url, the _save_ button simply didn't work! That was frustrating since it was obviously in the html, and I see no reason why i

[2015-02-22 04:21] #1036 closed

[2015-02-22 15:14] madhur99 opened #1055 "Class Magento\Store\Helper\Cookie does not exist"
Class Magento\Store\Helper\Cookie does not exist

Please find the error log below.
I am not able to find where is this class located and how can I resolve the issue

a:4:{i:0;s:48:"Class Magento\Store\Helper\Cookie does not exist";i:1;s:6878:"#0 C:\wamp\www\magento2-develop\lib\internal\Magento\Framework\Code\Reader\ClassReader.php(19): ReflectionClass->__construct('Magento\\Store\\H...')
#1 C:\wa

[2015-02-22 15:44] Sanuch commented on #1055
This class was moved to namespace [`Magento\Cookie`](https://github.com/magento/magento2/blob/develop/dev/tests/static/testsuite/Magento/Test/Legacy/_files/obsolete_classes.php#L2216)

You should replace it on correct namespace

[2015-02-23 03:06] AGalico commented on #966
Hi Jan,
have you found any conditions that trigger this behavior? we've had similar issues on a similar stack, (nginx(1.6.2)->hhvm(3.5.0)->magento(1.9.1)) but i've not been able to replicate it or find any evidence of it occuring other than a screenshot that was sent to me.

[2015-02-23 09:13] gewaechshaus commented on #966
Hi @AGalico,
not really! We're only able to reproduce this after a bigger bunch of transactions and during traffic peaks... So all you can do actually is bomb the system with orders and traffic. We were able to bring it up with a 5 man team.

Can u post the screen?

[2015-02-23 10:13] vpelipenko commented on #1027
@Mackovey, @mahesh004, this issues is fixed and already available. Please, take the latest code base and check it again.

[2015-02-23 10:16] vpelipenko commented on #921
@tzyganu, this issue was fixed and available here from 0.42.0-beta9 version. You can checkout it and verify.

[2015-02-23 10:51] vpelipenko commented on #1008
@kassner, there is no hard deadline, it is up to you. But please confirm, that you will on on it and provide approximate dates when you expect to see it ready.

[2015-02-23 10:55] asemenenko commented on #778
Hi Seansan,

An improvement has been created to have the following parameters available for each payment method:
Enable = Yes/No [Website]
Enable for Backend = Yes/No [Global]

[Global] parameter is visible only on "Default" scope which will give an ability to avoid switching off  "Enable" parameter on every website.

/regards
Andrii

[2015-02-23 11:24] vpelipenko commented on #970
@tzyganu, this issue is fixed and already available on public. Please, check it again.

[2015-02-23 11:47] vpelipenko commented on #866
Fixed. Closed.

[2015-02-23 11:47] #866 closed

[2015-02-23 11:52] #723 closed

[2015-02-23 12:01] tzyganu commented on #970
@vpelipenko Thanks for the fix. Seams to be working nice.

[2015-02-23 12:01] #970 closed

[2015-02-23 12:13] kokoc commented on #883
@tzyganu Good question.
This is expected behavior. Magento 2 actively uses search engine(s) in order to speed up category page rendering. Also there is a fallback to M1 rendering process for installations without `Search` module enabled.
So custom code has to take into account both cases: results provided by search engine and by regular MySQL queries.

[2015-02-23 12:47] kokoc commented on #879
@robfico This bug is fixed and delivered in `0.42.0-beta9`. Could you please update and verify the issue?

[2015-02-23 12:47] seansan commented on #778
So enable = no and enable for backend = yes => will show the payment method
in backend only?

On Mon, Feb 23, 2015 at 11:55 AM, asemenenko <notifications@github.com>
wrote:

[2015-02-23 12:47] vpelipenko commented on #356
Internal ticket: MAGETWO-32660

[2015-02-23 13:35] vpelipenko commented on #1017
Fir from PR #985 is available from 0.42.0-beta8. @slirx, could you verify described issue again?

[2015-02-23 14:16] vpelipenko commented on #899
@shivkumarsingh7, Internal ticket is fixed and will be available here with next weekly update.

[2015-02-23 15:03] choukalos commented on #656
Hi @tzyganu - this is on our radar for near term development ( within a month ).  We got this feedback from our tech forum and have a few stories to address them ( + MAGETWO-31677 ).  You'll notice that we weren't terribly consistent with our REST route naming in addition to the PUTs vs GETs for search.

Originally we went with PUT as we thought the search criteria query was too complex and could

[2015-02-23 15:31] vpelipenko commented on #487
All described dependencies are removed. Magento_Core module also will be eliminated - this work is still in progress.

[2015-02-23 15:31] #487 closed

[2015-02-23 16:29] fr0x opened #1056 "Admin: Manage Attributes -> Manage Label / Options - Needs a limit / paging"
This may be fixed in Magento 2 (I dont have a current 2.x install to check but recently ran into this in a 1.6.2 install).

The Manage Label / Options screen when you are editing an attribute has no limit on the number of options it displays.  For one attribute, we have thousands of options.  The admin screen tries to load every single one and it tends to cause the browser to crash/hang.

[2015-02-23 16:32] ilol commented on #632
@mSengera since nobody wrote about related topic I am closing the issue.
Thank you for your opinion and be the same initiative.

[2015-02-23 16:51] asemenenko commented on #778
in backend only?

Yes.

[2015-02-23 17:03] #632 closed

[2015-02-23 17:29] samm-git opened #1057 "wrong "Unknown Database Server Host" message during web wizard with PHP 5.6"
I was installing Magento with PHP-FPM 5.6.5 using web wizard and found that on database connection stage it fails with "Unknown Database Server Host.". I was using localhost (also tried 127.0.0.1) so it was a bogus message. With firebug i was able to find a root cause. Query to the http://127.0.0.1/setup/index.php/database-check returns this text:
`
<br />
<b>Deprecated</b>:  Automatically populat

[2015-02-23 18:20] anupdugar commented on #1057
@samm-git Thanks for reporting the issue!. We will process it internally through ticket MAGETWO-34446. Also, feel free to submit fixes, if any, as a Pull request.

[2015-02-23 21:42] berliozd opened #1058 "Admin - Getting NS_ERROR_UNEXPECTED when adding sub category"
I am getting this error when i try to ceate a sub category in the backend. i am using firefox 35.0.1.

[2015-02-23 21:50] #1058 closed

[2015-02-23 22:16] AGalico commented on #966
![price issue](https://cloud.githubusercontent.com/assets/11153551/6338776/69df2e54-bc05-11e4-912a-3f410b0d38f4.png)

not the most descriptive image, the rrp is coming from the magento database, the customer price is generated by our ERP but goes through the same methods for formatting.

[2015-02-24 06:05] gewaechshaus commented on #966
Hey AGalico,

ok, that looks and sounds exactly like in our case and my test cases...

Could you bring it up again? Maybe we should concentrate our ressources and try to bring it up in one of our or your dev systems.

[2015-02-24 06:24] davidverholen opened #1059 "composer versioning"
Is there a reason, why you are using the version field in the composer.json?

It's recommended, to leave it out and just use tagging.
https://getcomposer.org/doc/04-schema.md#version

You should also use a more loose version constraint in the modules, so you don't have to change them on every version update. Something like "~0" or ">=0.40".
https://getcomposer.org/doc/01-basic-usage.md#package-ver

[2015-02-24 18:10] kokoc commented on #1056
@fr0x Thank you for the idea! We have created an issue in the product backlog - MAGETWO-34525. We will get back to you once we complete the analysis.

[2015-02-24 20:17] alankent commented on #1051
We have multiple parties internally to all get in alignment. This one affects both Support and Engineering. The Support org needs to get patches out quickly, but does not like per customer patches either (harder to track and maintain). With all the test automation in Magento 2 I am hopeful we can ship fast patches but through official channels. All the work into modularity and better APIs and cont

[2015-02-24 20:49] buskamuza commented on #1059
Hi @davidverholen . We're using `version` field to have it in a Composer package `magento/magento2-base`, so Satis could identify the version. Same for all `composer.json` files inside modules, themes, etc. This repository is a source of these packages, so its `composer.json` also has `version` field.

Also this version is currently used in Install Wizard to display Magento version being installed

[2015-02-24 21:25] TexanHogman commented on #1059
We plan to further decouple our modules by having them in separate repositories, versioned independently but we are not going to introduce this until post 2.0GA.  Once we are there we will be able to loosen version constraints as well as leverage minimum-stability.   However, extension developers can do that now and specify magento module dependencies like ~1.0 (actual version to be changed with o

[2015-02-24 21:27] alankent commented on #1059
The final way packages are going to be hosted is dependent on parallel work going on with Magento Connect. That work is pretty early on. Having the version number present means we can package it up anyway we like. When we finalize the final approach, if we can drop the version number (by inferring from context) we can do so then. Until the final approach is finalized I am hesitant to change anythi

[2015-02-25 06:48] duongquyet commented on #1029
did you fix that?

[2015-02-25 07:05] 5mehulhelp5 opened #1060 "Google Shopping"
I think Google Shopping api is going to expire soon but i show in magento 2 we are using still a V1 so it's better if we can Update that to V2.......

[2015-02-25 07:10] tzyganu commented on #883
@verklov @kokoc if this is the intended behavior and you don't plan to change anything regarding this,  then you can close the issue. Thanks for clearing it.

[2015-02-25 07:24] tzyganu commented on #757
@antonmakarenko this seams to be OK now. Do you plan any other changes regarding the local storage? If not you can close this issue?

[2015-02-25 09:42] vpelipenko commented on #1034
@Antonioele, do you have other questions about plugins? if no, can we assume this issue resolved?

[2015-02-25 09:52] vpelipenko commented on #1029
@rvpatel, this issue is assigned to internal team and now it is "in progress" state. Please, stay tuned. We'll inform you when it is delivered to public repository.

[2015-02-25 15:44] alankent commented on #107
Final word - we follow PSR-1 and it allows both so this can be re-closed. Not planning to change anything.

[2015-02-26 00:49] SchumacherFM opened #1061 "Different class names causes crash"
This error message is for Magento 1.7 but the code is for all new versions including Magento2 the same:

Recoverable Error: Argument 1 passed to Mage_Eav_Model_Attribute_Data::factory() must be an instance of Mage_Eav_Model_Attribute, instance of Mage_Eav_Model_Entity_Attribute given, called in app/code/core/Mage/Eav/Model/Form.php on line 327 and defined  in app/code/core/Mage/Eav/Model/Attribute

[2015-02-26 09:39] #883 closed

[2015-02-26 16:35] Antonioele opened #1065 "question template"
in  magento2/app/design/frontend/Magento/luma/Magento_Catalog/layout/catalog_product_view.xml
I found
<page layout="1column  and

 when I visualize
<body class="page-with-filter page-products categorypath-men-bottoms-men-pants-men category-pants-men catalog-category-view page-layout-2columns-left" data-mage-init="{"loaderAjax": {}, "loader": { "icon": "http://magento2.dev/pub/static/frontend/Magen

[2015-02-26 16:38] Antonioele commented on #1065
in magento2/app/design/frontend/Magento/luma/Magento_Catalog/layout/catalog_product_view.xml
I found
<page layout="1column and

when I visualize I found
page-layout-2colums-left

definitely make a mistake

[2015-02-27 05:17] AGalico commented on #966
i've tried simulating a load on the dev environment and haven't been able to get it to occur, if i get some time in the near future i might switch live back to hhvm with a fallback to php-fpm, and build something into view.phtml to trigger it to silently fallback when this issue arises, in turn triggering something to image hhvm and magento cache.

[2015-02-27 08:07] gewaechshaus commented on #966
Short version: the bug isn't only affecting the view.phtml, neither one
template. You'll have to fix it globally in the related method(s).
Otherwise transactions will fail[f.e. the paypal ipn procedure], one
values get stored[f.e. in sales_flat_order tbl] and so on.

Am 27.02.2015 um 06:17 schrieb AGalico:

[2015-02-27 14:17] vpelipenko commented on #1061
@SchumacherFM, how can we get this error?

[2015-02-27 14:30] villageseo commented on #1065
Hi Antonioele!

If I understood properly, you should use <page layout="2columns-left"  for correct layout changes for this file.

[2015-02-27 15:47] Antonioele commented on #1065
Hi @villageseo! villaseseo, I would like change layout 1 column  page of category product.
 in module app/catalog/view/frontend/layout/catalog_category_view  <page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" layout="1column" xsi:noNamespaceSchemaLocation="../../../../../../../lib/internal/Magento/Framework/View/Layout/etc/page_configuration.xsd"> not change.
I ovverride  this layout in m

[2015-02-27 16:04] villageseo commented on #1065
Antonioele, did you clean /var folder after updating catalog_product_view.xml ?

[2015-02-27 16:14] mszterlingfsite opened #1066 "Installer cannot verify php version - PHP 5.5.16-1+deb.sury.org~precise+1"
I'm on ubuntu and my php version is
[code]

While using web installer - there is a ajax call to /setup/index.php/environment/php-version
and that is returning error 500

vendor/composer/composer/src/Composer/Package/Version/VersionParser.php:370

Could not parse version constraint 5.5.16-1+deb.sury.org~precise+1: Invalid version string "5.5.16-1+deb.sury.org~precise+1"

[2015-02-27 16:30] mszterlingfsite commented on #1066
Just to add comment - installed should be able to deal with error 500 returned by those ajax requests so message can be passed to the user.

[2015-02-27 16:39] navarr commented on #1050
Where appropriate it would be beneficial to Magento to use "graceful degradation." (e.g. my ticket #1022).   I.e. Magento programs for the lowest common denominator and for browsers that support better features better features become activated (e.g. #1022).

Chrome and Firefox have been evergreen for a long time now, and IE will be evergreen soon.  My suggestion for browser compatibility then woul

[2015-02-27 16:46] navarr opened #1067 "Use Scrutinizer CI"
In addition to Travis CI, investigate and setup Magento 2 on Scurtinizer CI for Code Quality Analysis.

http://scrutinizer-ci.com

Despite how well the pricing page hides it Scrutinizer CI is free for Open Source repositories.

[2015-02-27 18:41] devgas commented on #1066
I'm on ubntu too and have same issue. My php version is
"PHP 5.5.9-1ubuntu4.6".

For temporary solving issue I reverted changes to "MAGETWO-33385: Run static code tests in setup folder" commit.

[2015-02-27 20:03] navarr opened #1068 "Support Email Highlights out of the box"
Suggested Labels: feature request, up for grabs

Email highlights allow email providers programmatic knowledge of the contents of email.  This is a wonderful user experience, and one that would be beneficial in Magento's default email templates.

These Highlights are currently in a standardization process, however they are already implemented in Gmail as action buttons, Inbox by Gmail (as rich dat

[2015-02-27 20:15] refaelgold opened #1069 "How i upgrade magento version"
Hey ,
i try to do composer.phar update and all its up to date
i try to do pulling from the git and i get an error

did i do something wrong when i try to upgrade magneto 2?

i try to find an answer  in  the issues on this repo but i get no answer

Thanks,
Nir

[2015-02-27 20:38] anupdugar commented on #1069
@refaelgold Thanks for reporting the issue...
What error do you get?

[2015-02-27 20:45] monkeysee commented on #1066
Thanks for reporting, we have created internal ticket MAGETWO-34667 for the problem.

[2015-02-27 21:00] mszterlingfsite commented on #1066
If I can suggest - same as Seldaek - change the way it is done in Magento\Setup\Controller\Environment
Example how they parse php version in Composer is
https://github.com/composer/composer/blob/master/src/Composer/Repository/PlatformRepository.php#L38-44
[code]

[2015-02-27 21:32] anupdugar commented on #1028
@rvpatel Any updates on this?

[2015-02-27 22:23] SchumacherFM commented on #1061
Sorry. I've encountered this when saving a customer in the backend to apply to the customer a new password.

[2015-02-27 22:26] berliozd opened #1070 "Model collection resource name is not defined.after update"
Hi,
I have installed magento2 yesterday and after having updated it today i got now the following error while accessing the admin.

a:4:{i:0;s:46:"Model collection resource name is not defined.";i:1;s:5040:"#0 /var/www/magento2/lib/internal/Magento/Framework/Model/AbstractModel.php(285): Magento\Framework\Model\AbstractModel->getResourceCollection()
#1 /var/www/magento2/app/code/Magento/AdminNotif

[2015-02-27 23:03] mazhalai commented on #1070
@berliozd can you clear your var/generation folder and then try?

[2015-02-28 21:06] refaelgold commented on #1033
Hi still have this issue and i really try all solution and nothing works!

i use https://github.com/rgranadino/mage2_vagrant for  vagrant server

[code]

[2015-02-28 21:26] rorteg opened #1071 "Setup failed"
My room is ok for all requirements, but is thrown an exception in check the installation:

File: vendor/composer/composer/src/Composer/Package/Version/VersionParser.php:370

Message: Could not parse version constraint 5.5.9-1ubuntu4.6: Invalid version string "5.5.9-1ubuntu4.6"

Stack Trace:

#0 /var/www/magento-develop-environment/magento-2x/magento2/vendor/composer/composer/src/Composer/Package/V

[2015-02-28 21:34] rorteg commented on #1071
This is due to the display of some versions of php contain the Linux distribution name being used.

[2015-02-28 22:16] henkelund commented on #1070
I had the same issue. It seems there was a couple of new modules after the update and the object manager didn't load the correct arguments without them enabled.

[code]

After enabling the modules I was promted to run their update scripts:

[code]

Unfortunately it tried to create a table I already had so I had to resort to:

[code]

After that I could run the update and get in to the backoffice a

[2015-03-01 05:10] Flyingmana opened #1072 "Make error handling easier to extend"
I currently have to do a plugin which replaces the Magento\Framework\App\Http->catchException() call, as plugins only work on public methods, and the protected handleDeveloperMode() directly sends the output. The current way I do this feels wrong, and I dont see another one which would work more modular, so I assume this should get improved.

priority for me: low

Context: I wrote a module which i

[2015-03-01 10:00] voleye commented on #1033
@refaelgold
This Interface was moved to model in framework version beta9 and sample data version beta7
Please, check the versions you used
Also it can be a problem with DI cache so just remove it from var folder

[2015-03-01 14:19] versedi commented on #1066
Same happening to me.
[code]

[2015-03-01 14:34] versedi commented on #1071
Duplicated: https://github.com/magento/magento2/issues/1066

[2015-03-01 19:55] berliozd commented on #1070
Thanks @mazhalai, I tried that but It didn't make anything good.
Thanks @henkelund, I did what you said and it fixed my problem.

[2015-03-01 19:55] #1070 closed

[2015-03-01 21:25] versedi commented on #1065
@villageseo by using the occasion...is there anyway to develop theme without having to delete files corresponding to theme in /var/....? (i.e. some theme development mode where files are refreshed every page visit).

[2015-03-02 11:34] vpelipenko commented on #1061
@SchumacherFM, I've tried to do the same in Magento1 1.7 and it works without any errors. Also In Magento2 it is not possible to change password to customer, it can be only reset by sending email. So any other details about this issue are welcome.

[2015-03-02 11:55] vpelipenko commented on #899
@shivkumarsingh7, fix for this issue is already available after 0.42.0-beta10. Please, check it and provide your feedback.

[2015-03-02 12:18] vpelipenko commented on #957
Closed due to contributor's inactivity during last 2 weeks. @Vinai, if you have any other suggestions about improving Magento js testing, please, feel free to reopen this issue or create new one.

[2015-03-02 12:18] #957 closed

[2015-03-02 12:39] orlangur commented on #1067
And all other fancy modern services, like [Code Climate](https://codeclimate.com/github/yiisoft/yii2), [Coveralls](https://coveralls.io/r/yiisoft/yii) and [SensioLabs Insight](https://insight.sensiolabs.com/projects/88aa66d1-82bb-4b4d-8b9a-0658211d06ed/analyses/5).

[2015-03-02 13:49] villageseo commented on #1065
Hi @versedi!

For now there is no theme development mode or other solution except deleting files manually/using task runner.

Thank you,
Oleg

[2015-03-02 14:06] vpelipenko commented on #1067
@navarr, really do you see a lot of advantages in using Scrutinizer CI?

[2015-03-02 14:09] navarr commented on #1067
Biggest advantage may be better served by Coveralls - Code Coverage.

[2015-03-02 14:24] anupdugar commented on #1028
@rvpatel Closing this since we haven't heard back on this. Feel free to open a new issue if you have any questions or concerns. Thanks again for reporting it.

[2015-03-02 14:24] #1028 closed

[2015-03-02 15:05] ilol commented on #774
Comment from @buskamuza :

Here is the problem - lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php:314

} else if (strpos($this->_config['host'], ':') !== false) {
    list($this->_config['host'], $this->_config['port']) = explode(':', $this->_config['host']);
}

[2015-03-02 15:10] ilol commented on #395
@clockworkgeek Planned for Merchant Beta release (summer 2015)

[2015-03-02 15:14] ilol commented on #1072
MAGETWO-34670

[2015-03-02 15:42] ilol commented on #460
@Dorn- do you have some updates?

[2015-03-02 15:47] choukalos commented on #1072
Reassigned to Mark; who owns the exception handling epic that's related to this ask ( MAGETWO-30314 )

[2015-03-02 15:48] ilol commented on #404
MAGETWO-34400

[2015-03-02 16:30] snohe commented on #1071
@rorteg, since this is a duplicate, we will go ahead and close this issue.  Please refer to #1066 for further updates.

[2015-03-02 16:34] rorteg commented on #1071
Ok, thanks @versedi and @snohe.

[2015-03-02 17:07] rorteg commented on #1066
I agree with the @mszterlingfsite:
preg_replace('#^([^~+-]+).*$#', '$1', PHP_VERSION)

[2015-03-02 17:20] joanhe commented on #1069
@refaelgold Please let us know the error, so we can further assist you.

[2015-03-02 17:45] safwkhan commented on #1066
Thanks all for your suggestions as well! We are working on it (internal ticket# MAGETWO-34667).

[2015-03-02 21:40] SchumacherFM commented on #1061
I'm closing this. Maybe it only relates to older PHP versions....

[2015-03-02 21:40] #1061 closed

[2015-03-02 22:23] #1071 closed

[2015-03-03 06:16] tanya-soroka commented on #335
@shayW I would like to clarify one use-case which you posted on your comment: "the attribute prices (either entered manually under custom options) CANNOT be associated to the product price".
Do you mean that final product price is not associated with value of the attribute price? Do you request of ability to overwrite the main product price by different price options: custom option price,  tier pr

[2015-03-03 10:13] shivkumarsingh7 commented on #899
Thank you

[2015-03-03 10:13] #899 closed

[2015-03-03 10:48] razbakov opened #1073 "Readiness Check: Checking PHP Version"
## UnexpectedValueException

File:
[code]

Message:
[code]

Stack trace:
[code]

[2015-03-03 11:26] vpelipenko commented on #1073
@razbakov, thank you for posting the issue. It is a duplicate of #1066, that's why it will be closed. Please refer to #1066 for further updates. By the way, checking PHP version is already fixed and will be available on public at the end of this week. Stay tuned!

[2015-03-03 11:26] #1073 closed

[2015-03-03 14:28] joanhe commented on #1055
@madhur99 The class has been moved to Magento_Cookie module. Please try to sync up code with magento2 repository and clean up var directory. Please let us know if the problem still presents for you.

[2015-03-03 15:25] davidalger opened #1074 "Poor security practices being recommended in documentation"
http://devdocs.magento.com/guides/v1.0/install-gde/install/prepare-install.html

The above documentation page is directing users to enable a shell on the web-service user. This is terrible practice and there is a reason why daemons run under users which have their shells disabled. I realize permissions can be a real bear on a traditional mod_php setup, but it would seem to me that security is of m

[2015-03-03 17:22] ilol commented on #931
Hi @fooman, thank you for this issue. We decided that we don`t need dev/tools/migration any more since that was tool to generate the Magento 2 code from existed code. We used it on initial phase of our project.
So, I have to create task to remove dev/tools/migration from Magento 2.0 code.
But If you see value of it - please write me.

[2015-03-03 17:55] clockworkgeek commented on #395
Thank you @ilol. I look forward to it.

[2015-03-03 18:01] piotrekkaminski commented on #1074
I agree however this is temporary installation. If I understand correctly, for "regular" users the installation might be still unzip and run install via web. It might/will use composer internally but will not require command line access. Thoughts @tanya-soroka ?

[2015-03-03 18:12] alankent commented on #1074
I am also interested to see community feedback. Feedback on install/deployment so far has been "you cannot satisfy everyone, so don't bother trying to". As long as we have one approach documented that works, smart people can work it out from there how to adapt to their environment. If there is a better way...

[2015-03-03 18:46] buskamuza commented on #1074
@davidalger , I believe, the intent in this article was to make files downloaded/created by Composer readable by the web-server.

I'd support @piotrekkaminski that for shared hosting users (or other users who don't want to or can't use CLI), the workflow should be different - just unzipping an archive, no Composer.

For big merchants, I don't expect that they would do anything on production. Still

[2015-03-03 20:00] mazhalai commented on #980
This issue has been fixed and will be available publicly by the end of this week.

[2015-03-03 20:28] davidalger commented on #1074
@buskamuza Yes, the intent is to make the files created by Composer readable by the web-server. However, in doing so in the manner prescribed, the server is made more vulnerable to being compromised as well. Big no no.

The documentation should differentiate between the two type of environments then if it's not expected that this be done on live. If it's only expected that big merchants do this, w

[2015-03-03 21:34] snohe commented on #919
Hi @snky1987, we haven't heard back from you for quite some time.  To avoid closure of this issue, can you update us by end of this week?

[2015-03-03 22:06] snohe commented on #1017
Hi @slirx, we haven't heard back from you for quite some time.  To avoid closure of this issue, could you update us by end of this week?

[2015-03-03 22:42] fooman commented on #931
@ilol thanks for the comments. I think any tools that have helped eBay move their code to Magento2 is very valuable for the community as well.

Maybe you can move the code into a new repository? Alternatively if you could let me know the removed tools I will happily create a repository to host them.

[2015-03-03 23:02] refaelgold commented on #1069
[code]

and i cant use sample data installation
when i use this command :

[code]

i get

[code]

[2015-03-03 23:27] snohe commented on #1038
Hi @vinniewhite, since this is a duplicate, we will go ahead and close this issue.  Please refer to #1016 for updates on this.

[2015-03-03 23:27] #1038 closed

[2015-03-04 02:43] joanhe commented on #1069
@refaelgold Thanks for reporting this problem. MAGETWO-34724 is created to internal tracking this issue. We will try to resolve this issue as soon as we can. In the mean time, please try this work around add extra section with *"magento-force": true* to composer.json file, it should look like this:
[code]

The problem regarding the sample data installation, it looks like the code is out of sync. T

[2015-03-04 06:16] refaelgold commented on #1069
Hey
I using vagrant for magento 2
https://github.com/rgranadino/mage2_vagrant

i'm sure i download the most updated magento component by compare my composer.json to the original repo

i got magento 42.2.0-10 beta

i have this option https://github.com/tzyganu/m2-sample-data

but i want to do it in the right way.

Also , i read a lot of issues with installing sample data in this repo and try alot o

[2015-03-04 06:44] refaelgold commented on #1033
thanks

what i need to replace in my composer.json?
can i have the line i should have replace and with what ?

thanks

[2015-03-04 07:18] buskamuza commented on #1069
@refaelgold , thanks for reporting it.
This is a bug in Magento Composer Installer user for installing packages.
We've already fixed it in our internal repository and the fix should be available in public one shortly. We'll update you as soon as it happens.

@snohe , internal tickets: MAGETWO-34551, MAGETWO-34212

[2015-03-04 09:44] vishal6714 opened #1075 "Re-index action required"
Hello Team,

I am using Magento ver. 0.42.0-beta10 where i am not able to re-index any indexer.
There is not any action to apply mass-re-index or single re-index link as it was in previous versions.

So, It seems bug and needs re-index actions both single and mass.

![re-index](https://cloud.githubusercontent.com/assets/6058016/6481151/18e3cc76-c281-11e4-9ef2-12860c754aa4.png)

[2015-03-04 09:52] Sanuch commented on #1075
It looks like a duplicate of [Unable to reindex from backend, bug?](https://github.com/magento/magento2/issues/824)

[2015-03-04 09:54] ilol commented on #931
@fooman, that is good.
May be you could fix the bug? And create pull-request? That code is still in Magento 2

[2015-03-04 10:02] vishal6714 opened #1076 "Page Loading issue - Breaks Menu design"
Hello Team,

There seems menu design breaks for a longer time due to vary high page load time even there is a cache enabled and having simple product page.

Refer the mashup design of menu during page loading in Magento ver. 0.42.0-beta10.

![loading-issue](https://cloud.githubusercontent.com/assets/6058016/6481446/9546a8a4-c283-11e4-8e77-94d091646de9.png)

[2015-03-04 10:12] vpelipenko commented on #1076
It is duplicate of #1045.

[2015-03-04 11:22] Sanuch commented on #1075
As wrote @WilliamAtMagento this behavior is as expected by design

You have two ways for re-index:
1. set up cron job e.g. `* * * * * {your_magento_folder}/dev/shell/cron.sh`
2. run console script `php -f  {your_magento_folder}/dev/shell/indexer.php -- reindexall`

[2015-03-04 13:54] chrom opened #1077 "Error after pull"
a:4:{i:0;s:67:"Class Magento\Backend\Model\Config\Backend\Encrypted does not exist";i:1;s:6430:"#0 /srv/www/htdocs/mage2/public/lib/internal/Magento/Framework/Code/Reader/ClassReader.php(19): ReflectionClass->__construct('Magento\\Backend...')
#1 /srv/www/htdocs/mage2/public/lib/internal/Magento/Framework/ObjectManager/Definition/Runtime.php(44): Magento\Framework\Code\Reader\ClassReader->getConst

[2015-03-04 13:55] chrom opened #1078 "Error after pull"
Sorry this is a double. Pls delete.

[2015-03-04 14:07] #1078 closed

[2015-03-04 14:23] anupdugar commented on #1077
@chrom Thanks for reporting the issue.
Can you try clearing the contents of var/cache and var/generation?

[2015-03-04 14:39] chrom commented on #1077
Done. have new error:

a:4:{i:0;s:44:"Class Psr\Log\LoggerInterface does not exist";i:1;s:5335:"#0 /srv/www/htdocs/mage2/public/lib/internal/Magento/Framework/ObjectManager/Definition/Runtime.php(44): Magento\Framework\Code\Reader\ClassReader->getConstructor('Magento\\Store\\M...')
#1 /srv/www/htdocs/mage2/public/lib/internal/Magento/Framework/ObjectManager/Factory/Dynamic/Developer.php(73): Magen

[2015-03-04 15:17] buskamuza commented on #1077
@chrom , could you, please, clarify the use case? Does it happen on the new installation of Magento or is it after update to newer version?
If it's after update, did you run "composer install"?

[2015-03-04 15:39] mbrinton01 commented on #746
Changing internal owner for this issue

[2015-03-04 16:52] xcomSteveJohnson commented on #1074
On behalf of developer documentation, thank you for bringing this to our attention. We take security issues taken very seriously because we understand security is critical for our community. We’re working on a solution and we’ll let you know as soon as it’s available.

[2015-03-04 17:03] anupdugar commented on #919
Closing this issue since the PR is being tracked in #922.

[2015-03-04 17:04] vpelipenko commented on #931
@fooman, thanks for feedback. We are going to review existing bunch of tools for migration and provide our vision what of them can be valuable for community developers.

[2015-03-04 18:57] slirx commented on #1017
@vpelipenko no, but now I have another error: http://dl2.joxi.net/drive/0000/0178/12466/150304/bd8b016072.jpg To fix it you need to change regexp in lib/internal/Magento/Framework/Acl/etc/acl.xsd:64 to "[A-Z]+[A-Za-z0-9]{1,}_[A-Z]+[A-Z0-9a-z]{1,}::[A-Za-z_0-9]{1,}".

[2015-03-05 04:19] chaluvadiswamy commented on #980
Thanks for you support friends

[2015-03-05 15:23] sachinsachin commented on #815
i am having the same issue. please someone help me.

[2015-03-05 15:23] dmytroleonenko commented on #1016
Disable MultiViews in pub/static/.htaccess like
Options -MultiViews

[2015-03-05 17:10] buskamuza commented on #815
@amanuni , do you still have this issue?
@sachinsachin , could you, please, provide more information?
1. Could you, please, provide screenshots with result?
2. what version of Magento are you trying to install?
3. does CLI installation work fine or display some error?
4. do you have xDebug enabled?

[2015-03-05 19:34] amanuni commented on #815
Hi,

My problem is resolved when i added the ini_set('xdebug.max_nesting_level', 200); in /setup/index.php

and all is run well.

Thanks,

[2015-03-05 19:56] buskamuza commented on #815
@amanuni , thanks :) happy to hear it.

[2015-03-05 21:20] sachinsachin commented on #815
![img_20150306_024134](https://cloud.githubusercontent.com/assets/11334466/6514832/6cb191e6-c3ab-11e4-8a1c-76632ba1b934.jpg)
This problem is coming again and again. Someone help me please.

[2015-03-05 21:22] sachinsachin commented on #815
![img_20150306_025239](https://cloud.githubusercontent.com/assets/11334466/6514884/cafb99a4-c3ab-11e4-9833-78066d91dae8.jpg)
Can anyone help me

[2015-03-05 21:35] sachinsachin commented on #815
my magento is 1.9.1.0 and my xdebug is disabled.

[2015-03-05 21:36] sachinsachin commented on #815
what is CLI ????

[2015-03-05 21:39] sachinsachin commented on #815
magento installation on my localhost will stop at 93%. please help me now

[2015-03-05 22:26] buskamuza commented on #815
@sachinsachin , sorry for the confusion.

Under CLI I meant our command line tool. Here you can find more information how to use it, if you have access to the command line http://devdocs.magento.com/guides/v1.0/install-gde/install/install-cli.html

`xdebug.max_nesting_level` is a PHP setting in your `php.ini`. Or it can be a separate *.ini file for xdebug specifically (usually next to `php.ini`).

[2015-03-05 23:09] sachinsachin commented on #815
should i enabled xdebug or not ??

[2015-03-06 00:13] buskamuza commented on #815
@sachinsachin , better - disable xDebug. Or change `xdebug.max_nesting_level` setting.
You don't need to change server root directory.

[2015-03-06 09:15] rklerck opened #1079 "Is it possible to 'bulk' import customers with REST?"
I'm investigating Magento2 at the moment and I think the new service oriented architecture is awesome. But I have a question..

I managed to add a customer through the REST layer (/rest/V1/customers) with this json:
{
    "customer": {
      "firstname": "James",
      "lastname": "Page",
      "email": "jp@example.com"
    }
}

But we want to sync our data between a custom database and Magento. I

[2015-03-06 16:05] choukalos commented on #1079
Hi @rklerck right now we only support single object calls for CRUD, and a multi object Search feature.  So to push customers & products in you'll need to loop.  If you want to read multiple objects from customer or product use the search feature.  In particular you can search on an updated_at time stamp to see differences ( say poll every 15 minutes ) and page through the results ( if there are a

[2015-03-06 17:14] technolabtips opened #1081 "Readiness Check - Could not parse version constraint 5.5.22-1~dotdeb.1"
Hi,
With Debian 7.8 , Nginx & PHP 5.5.22, the Readiness Check failed.

/mnt/hgfs/magento2/magento2/vendor/composer/composer/src/Composer/Package/Version/VersionParser.php(237): Composer\Package\Version\VersionParser->parseConstraint('5.5.22-1~dotdeb...')
#1 /mnt/hgfs/magento2/magento2/setup/src/Magento/Setup/Controller/Environment.php(69): Composer\Package\Version\VersionParser->parseConstraints('

[2015-03-06 17:36] buskamuza commented on #1081
Hi @technolabtips , this issue has already been fixed internally and it should be available with the next release (should be today).

[2015-03-06 17:37] mazhalai commented on #1081
Duplicate of #1066

[2015-03-06 17:42] alankent commented on #1079
What may also be a useful technique in some cases is to develop your own module with a custom api. That is, it would not be much code to write a function that took an array of customer objects and called the insert one-at-a-time function. You could then decide what action your code wants to take on error for example.

This does not mean don't ask us - if something commonly wanted then we should ad

[2015-03-06 18:26] sachinsachin commented on #815
still my problem is not solved.

[2015-03-06 18:44] amanuni commented on #815
Hi Sachin,

You have to add the ini_set('xdebug.max_nesting_level', 200);

In
/setup/index.php
And your problem will resolve let me know if you still getting the issue.

Will happy to help you.

[2015-03-06 18:49] sachinsachin commented on #815
@amanuni please tell me how to open index.php file ??

[2015-03-06 18:58] amanuni commented on #815
Open in notepad++ or any editor that you are using for the work.

[2015-03-06 19:10] sachinsachin commented on #815
My problem is solved thank you but now i'm having this problem
![img_20150307_003312](https://cloud.githubusercontent.com/assets/11334466/6531850/63855d48-c462-11e4-9368-8cd57f630a92.jpg)
Help me!!

[2015-03-06 19:14] amanuni commented on #815
HI,

I have few question are you installing magento first time?

Do fresh installation use newly created database.

[2015-03-06 19:37] anupdugar commented on #1035
This Pull request has been merged, closing it. Thanks again for your contribution!

[2015-03-06 19:37] #1035 closed

[2015-03-06 19:52] mazhalai commented on #1066
This issue has been fixed in 0.42.0-beta11
Thank you for reporting the issue.

[2015-03-06 19:52] #1066 closed

[2015-03-06 19:53] mazhalai commented on #1081
This issue has been fixed in 0.42.0-beta11
Thank you for reporting the issue.

[2015-03-06 19:53] #1081 closed

[2015-03-06 21:23] xcomSteveJohnson commented on #1074
@davidalger We changed the instructions to reflect your concerns. Please let us know what you think: http://devdocs.magento.com/guides/v1.0/install-gde/install/prepare-install.html#install-update-depend-apache

Thank you again for bringing this to our attention.

[2015-03-06 21:37] sachinsachin commented on #815
yes i am installing magento first time.
and firstly, i have created a database.

[2015-03-06 21:48] buskamuza commented on #815
@sachinsachin , can you open frontend? http://localhost/magento1/magento/ ?

[2015-03-06 21:58] buskamuza commented on #815
@sachinsachin , to change "localhost" to something else (e.g., magento2.lh), you should add a virtual host in your WAMP. Here is a great step-by-step guide for this http://www.kristengrote.com/blog/articles/how-to-set-up-virtual-hosts-using-wamp
`C:/Users/Kristen/Documents/Projects` or `C:\Users\Kristen\Documents\Projects` from the guide should be replaced by the path where your Magento 2 code is

[2015-03-06 22:00] sachinsachin commented on #815
When i tried http://localhost/magento1/magento/ then this comes allways
![img_20150307_032555](https://cloud.githubusercontent.com/assets/11334466/6537154/0ffd413c-c47a-11e4-9638-16702692486b.jpg)

[2015-03-06 22:22] buskamuza commented on #815
Ok. I assume, you may have `mod_rewrite` disabled or `.htaccess` directives are not allowed.
To enable `mod_rewrite`:
1. Find your Apache configuration file `httpd.conf`. In my case, it's located in `c:\Program Files (x86)\Apache Software Foundation\Apache2.2\conf\httpd.conf`. It may be somehow different for your machine. Still name of the file should be the same.
2. Open this file in any text edi

[2015-03-07 00:19] sachinsachin commented on #815
Now i am using www.sagun/admin/ and my apache version is 2.4
but now magento installation is complete and when i type www.sagun/admin/
it keep telling that... There has been an error processing your request

Exception printing is disabled by default for security reasons.

[2015-03-07 05:15] otoolec commented on #919
Re-opening this since #922 was closed.

[2015-03-07 07:33] buskamuza commented on #815
@sachinsachin ,

1. open file described in step 6 in http://www.kristengrote.com/blog/articles/how-to-set-up-virtual-hosts-using-wamp
2. add the following inside same section as described in step 7 of the same article:
[code]
3. Restart WAMP services

Then you can also enable displaying errors to see the error on admin page.
For this, add the following to your `.htaccess` in Magento root folder:
[

[2015-03-08 06:56] sachinsachin commented on #815
@buskamuza My problem is solved now.
Thank you for helping me out.

[2015-03-08 18:17] sachinsachin commented on #815
?????????

[2015-03-08 21:29] sachinsachin commented on #815
Anyone Here To Help Me ?????????

[2015-03-08 23:20] sachinsachin commented on #815
@buskamuza Please tell me How to go on Magento Connect Manager. I want to add a Banner Slider on Magento 1.9.1.0

[2015-03-09 03:52] hrmnngithub commented on #1016
After disabling MultiViews, everything goes well with admin navigation, ver. 0.42.0-beta8.
Similar problem I experienced in ver. 0.42.0-beta7, so the solution was installing the public key for ssl connection  in root directory, after that everything gone well

[2015-03-09 08:48] rklerck commented on #1079
Are there any examples on how create a custom API?

I don't know the exact number yet, but I need to know all of our options before proceeding. A timestamp is not really necessary

[2015-03-09 12:32] Landkeks commented on #1039
@wsakaren I haven't checked how exactly M2 uses Monolog, but in theory, this should be really easy to do. Just add a custom [Handler](https://github.com/Seldaek/monolog#handlers) to the Monolog instance, which sends the logs to the admin panel, and you're done. Monolog can do everything you mentioned.

[2015-03-09 13:47] choukalos commented on #1079
To create your own custom API you'd create a service then configure the service to be exposed as an external web api.  This isn't documented / we don't have examples at present but hope to release those shortly.  If you want to get started earlier you can look at the customer module.  Look in the API folder ( those are the services that are defined; dig around a little and you should find the clas

[2015-03-09 14:25] technolabtips commented on #1081
@mazhalai OK.Thanks.

[2015-03-09 15:19] hirenvasani opened #1084 "Hot Seller Widget css Issue"
After Updating from beta 10 to beta 11, I am getting some issue in Hot Seller css? Any Quick Fix?

![magento_2_home_hot_seller_files](https://cloud.githubusercontent.com/assets/1134977/6557269/c0b8f4dc-c699-11e4-8339-af0eaefa4c84.png)

[2015-03-09 16:11] buskamuza commented on #815
@sachinsachin , there is no Magento Connect for Magento yet.
Why are you asking about Magento 1.9.1.0?

[2015-03-09 16:27] snohe commented on #1049
@chrom, thanks for submitting this issue.  I see that @buskamuza has answered your question.  I'll go ahead and close this, however, if you do have any other questions, feel free to submit a new issue.

[2015-03-09 16:27] #1049 closed

[2015-03-09 18:59] sachinsachin commented on #815
Ok.,, Tell me how to go on Magento Connect Manager ??

[2015-03-09 19:25] snohe commented on #1057
@samm-git, the solution for this issue is being processed in PR #1062 and should be available by end of this week.  To avoid any miscommunication, we'll go ahead and close this issue, please refer to PR #1062 instead for updates.  Thank you for submitting this issue.

[2015-03-09 19:25] #1057 closed

[2015-03-09 19:31] sachinsachin commented on #815
@buskamuza ok tell me How to find magento connect option?? I want to add a banner slider on my website.

[2015-03-10 02:27] sachinsachin commented on #815
@buskamuza ok tell me How to find
magento connect manager option?? I want to
add a banner slider on my website.

[2015-03-10 03:07] buskamuza commented on #815
@sachinsachin , there is no Magento connect manager in Magento 2 yet.

[2015-03-10 09:06] villageseo commented on #1084
Hi hirenvasani!

Thank you for reporting this issue.
Internal MAGETWO-34557 ticket has been raised.

[2015-03-10 10:06] tkacheva commented on #527
Thanks for the example. It's a valuable point! We will consider this feature in the promotion backlog

[2015-03-10 10:11] tkacheva commented on #619
@Den4ik Just wonder if you have any updates?

[2015-03-10 10:14] vpelipenko commented on #1065
@Antonioele, did you have a chance to try @villageseo's suggestion?

[2015-03-10 10:20] vpelipenko commented on #1076
@vishal6714, this issue is closed as duplicate. Please, track status of #1045.

[2015-03-10 10:20] #1076 closed

[2015-03-10 10:34] vpelipenko commented on #1008
Internal ticket: MAGETWO-34880

[2015-03-10 10:51] vpelipenko commented on #1016
This issue is fixed internally and will be available for public after next weekly update.

[2015-03-10 10:53] vpelipenko commented on #1045
@Mackovey, this issue is already fixed by internal team and will be delivered to public repository with next weekly update.

[2015-03-10 12:11] sachinsachin commented on #815
@buskamuza then how i add add a banner slider on my website ????

[2015-03-10 14:43] rklerck opened #1085 "REST service with 'SearchCriteria' is of type GET"
I'm experimenting with the available REST services (for example 'rest/V1/products'), but in 'webapi.xml' it is routed as a GET service. But since a json request needs to be send to the service with the searchcriteria, it should by of type 'PUT', right?

It's for every service as far as I looked. Changed it to PUT and it works..

[2015-03-10 16:07] anupdugar commented on #1085
@rklerck Thanks for reporting the issue. As part of #889 all the search related routes were converted to GET. It seems some of the changes were overwritten. We will investigate further and let you know if its a bug.

[2015-03-10 16:29] rklerck commented on #1085
I'm reading the related bugs, and maybe I'm not seeing the possibility on how to send the searchcriteria with GET..

[2015-03-10 16:59] buskamuza commented on #815
@sachinsachin , Magento 2 is in beta stage now, so it may not have some features yet.

[2015-03-10 19:07] anupdugar commented on #1085
@rklerck We are still working on the documentation for our REST apis but a search sample would be something like:
GET /products?searchcriteria[filter_groups][0][filters][0][field]=sku&searchcriteria[filter_groups][0][filters][0][value]=<someSampleSku>&searchcriteria[filter_groups][0][filters][0][condition_type]=eq&searchcriteria[current_page]=1&searchcriteria[page_size]=1

[2015-03-10 19:34] TexanHogman commented on #991
To add to @davidalger point.

Reviewing Unity, this link https://msdn.microsoft.com/en-us/library/ff660861(v=pandp.20).aspx#_Instance_Interception best describes Magento implementation and uses the following terminology (interception, interceptor and interceptor pipeline) https://msdn.microsoft.com/en-us/library/ff660844(v=pandp.20).aspx#interception_pipeline
UNITY
Interception – is the technology

[2015-03-10 20:35] snohe commented on #980
@chaluvadiswamy, thanks for your confirmation.  We'll go ahead and close this issue.  Should you notice any other issues, feel free to open another GitHub issue.

[2015-03-10 20:35] #980 closed

[2015-03-10 22:48] davidalger commented on #991
@TexanHogman I beg to differ regarding it allowing us to drop "plugin" from our nomenclature.

This would correlate to the Magento framework actually gathering the interceptors from the many plugins installed in the system, or more specifically, the di.xml system.

Something has to contain that di.xml and provide the "call" to the interceptor pipeline (which is demonstrated in the MSDN link via th

[2015-03-10 23:53] alankent commented on #1085
GET vs PUT vs POST is one of those semi religious topics.

This one was quite a good read http://stackoverflow.com/questions/978061/http-get-with-request-body. As you work your way down you start with doing a POST to and end point, with a slightly sheepish "oh well". Then later it says things like some proxies may not work. Then "elastic search encourages it".

GET is semantically more correct as

[2015-03-11 04:18] Awais commented on #186
Hi @mage2-team,
When I import CSV products into Magento, with all the attributes, the layered navigation does not know about these products or their attributes (even after re-indexing many times).
Product or its attribute(s), e.g. Brand Name, only starts appearing under Brand Name filter after I MANUALLY EDIT PRODUCT, UPDATE ITS BRAND NAME ATTRIBUTE AND SAVE THE PRODUCT AGAIN (VIA ADMIN PANEL).
I

[2015-03-11 08:39] rklerck commented on #1085
Thanks for the explanation. I will close this issue than.

[2015-03-11 08:39] #1085 closed

[2015-03-11 13:31] adzminz opened #1086 "Email message containing non English character is displayed incorrectly on the receiver."
Here is an example on Contact Us page.

[Input]
Name:  ひらがな
Email: a@a.com
Phone Number:
Comment: ABC 123  ひらがな

[Received email]
Name:  ã ²ã‚‰ã Œã ª
E-mail: a@a.com
Phone Number:
Comment: ABC 123  ã ²ã‚‰ã Œã ª

[2015-03-11 16:05] jjone commented on #966
![hhvm3 6bug](https://cloud.githubusercontent.com/assets/8607130/6600553/b159a0c4-c7e6-11e4-8824-ee2d1d384de7.png)

Shopping Cart Price Rules failed to apply in the grand total.

server: HHVM 3.6, Magento 1.9.1 and nginx 1.6.2

[2015-03-11 16:53] tkacheva commented on #1068
@navarr  Thank you for the great suggestion! We are planing to improve email templates and will consider to include highlights as well

[2015-03-11 16:53] tkacheva commented on #1068
MAGETWO-30075

[2015-03-11 17:04] navarr commented on #1068
These are very easy to implement, and as a proof of concept I've recently added them to Meanbee's Gmail Actions module.  You can find that commit here: https://github.com/meanbee/gmailactions/commit/a4504a3addc1d6530acbba9a12809144cb35160d

[2015-03-12 00:42] AGalico commented on #966
@jjone i believe this is a different issue, and may be rectifiable by
adding the line:
hhvm.enable_zend_sorting= 1
to hhvm's server.ini

[2015-03-12 01:12] gewaechshaus commented on #966
@AGalico that is absolutely correct!

---- AGalico schrieb ----

[2015-03-12 01:22] jjone commented on #966
fixed. Thank you very much AGalico and gewaechshaus !

[2015-03-12 06:36] gewaechshaus commented on #966
Another Idea @verklov @orlangur @AGalico

I didn't check it, but maybe we're just running into a case-insensitive class naming issue
http://docs.hhvm.com/manual/en/hack.unsupported.php

    Case-insensitive function calls (the Hack type checker is case-sensitive).

or something similar, simple stupid, naturaly not in horizon cause functionable in 99% of all setups issue. Maybe one of you can check

[2015-03-12 07:38] kokoc commented on #1075
@vishal6714, This behavior is as expected by design.
Indexing has become a background operation with automatic consideration for partial or full re-indexing.

Do you have other questions regarding indexing?

[2015-03-12 08:16] ilol commented on #1086
@adzminz,
Thank you for reporting this issue.
Internal ticket has been created  (MAGETWO-34955)

[2015-03-12 09:28] antonkril commented on #975
Update: Trait implementation is considered as a possible way of simplifying debugging of intercepted code

[2015-03-12 09:59] vpelipenko commented on #1034
@Antonioele, this issue will be closed. I hope we've helped you to resolve your problem. If you have any other problems or questions about jquery plugins, feel free to reopen this issue or create new one.

[2015-03-12 09:59] #1034 closed

[2015-03-12 10:26] UdaySagar commented on #1086
Hi @adzminz

I have tried to reproduce the issue you have reported. But I didn't see any change in the characters. I got the same characters even in the email received. Can I know the service provider of the email you have used?

Also please let us know the locale you have used while installing magento.

Thanks.

[2015-03-12 11:01] adzminz commented on #1086
Hi Uday,

I'm using Mandrill service, and my local setting is English (United States).

Thanks,

--- Original Message ---

From: "Uday Sagar" <notifications@github.com>
Sent: March 12, 2015 5:26 PM
To: "magento/magento2" <magento2@noreply.github.com>
Cc: "adzminz" <kudo_chieji@hotmail.com>
Subject: Re: [magento2] Email message containing non English character is displayed incorrectly on the receiv

[2015-03-12 11:14] UdaySagar commented on #1086
Thanks for the info Adzminz. Did you try giving email id of other service providers. For example gmail or yahoo? If not, please give it a shot and update me.

[2015-03-12 12:08] tkacheva commented on #1022
Thanks for the suggestion! We will consider adding requestAutocomplete. MAGETWO-13847

[2015-03-12 14:29] adzminz commented on #1086
Thank you for your suggestion.

I tried sending emails via Mandrill's smtp to gmail/hotmail and via gmail's smtp to gmail/hotmail, but got the same result. I also tried reinstalling Magento from scratch but no luck. However, sending by command line was fine.

[Command line]
Message:
![6](https://cloud.githubusercontent.com/assets/11070293/6619623/2837769a-c8fe-11e4-989c-00ad053801b3.png)
Mandrill

[2015-03-12 22:09] TexanHogman commented on #991
Due to our focus on making functional changes, we have unfortunately missed our opportunity on this naming clarification.  Tomorrow, we are code complete for our Dev RC release and such a change (as simple as it may be) would have developer impact going forward because of changes to di.xml and related schema.   Scrambling to make the code and related documentation changes in time didn't rank high

[2015-03-12 22:09] #991 closed

[2015-03-13 18:57] refaelgold opened #1089 "paypal module at luma theme is missing"
Hey,
When i install magento 2 beta 11 i dont have css for paypal module and i notice that paypal module isnt exist .

any idea why ?

this issue is on Luma theme:
data/magento2/pub/static/frontend/Magento/luma/en_US/css/styles-m.css

the less is render only in comment payPal module css import

[code]

[2015-03-14 11:22] sachinsachin commented on #815
@buskamuza ok then send me the link where i can download magento 1 please

[2015-03-15 08:14] melaxon opened #1090 "installation via command line error"
tried to install magento with sample data like this:

 php -f index.php install --base_url=http://localhost.loc/magento2/ --backend_frontname=admin --db_host=localhost --db_name=magento2 --db_user=root --admin_firstname=Mage --admin_lastname=Bento --admin_emai=melaxon@bk.ru --admin_username=admin --admin_password=BraviA*58 --language=en_US --currency=USD --timezone=America/Chicago --use_sample_dat

[2015-03-15 08:47] vpelipenko commented on #815
https://www.magentocommerce.com/products/downloads/magento/

[2015-03-15 16:18] maksek commented on #1089
@refaelgold We are working on refactoring online payment methods, and we intentionally removed them from codebase. We will return them close to Merchant Beta release.

[2015-03-15 16:19] #1089 closed

[2015-03-15 18:26] mazhalai commented on #1090
Looks like you are installing using magento's root index.php. please update your install script to use setup/index.php or traverse to the setup folder and try the command again. Also, can you check your Apache configuration? Is it possible `DOCUMENT_ROOT` has not been set?

[2015-03-15 20:35] melaxon commented on #1090
I will try this.

$_SERVER['DOCUMENT_ROOT'] is not set and has no meaning when you run script via command line

[2015-03-15 21:19] sachinsachin commented on #815
and How to disable compilation on magento ????

[2015-03-16 06:42] adzminz commented on #1086
I tested this issue on Magento 1.9 with the same server and the same smtp configurations, and there was no problem with the non English character. All are displayed correctly.

[2015-03-16 10:47] seansan opened #1091 "Please add option to avoid merging of cart on login of customer"
Please add option to avoid merging of cart on login of customer

Many customers just do not understand

Something like this
https://github.com/jacquesbh/jbh_cartmerge
http://stackoverflow.com/questions/5638173/how-do-i-stop-magento-merging-the-basket-on-login
http://www.blog.magepsycho.com/clear-abandoned-cart-items-during-login-in-magento/

[2015-03-16 13:47] JamesAnelay opened #1092 "Less Pre-Processing"
So I am having an issue at the moment where it seems (and I may be wrong) that .less files are being processed SLOWLY client side. The page first loads with what seems to be no/very little css styling and then 6 seconds or so later the css jumps into action and the page beings to look ok.

Is this some sort of fallback so if Magento can't process the .less files for whatever reasons then it is don

[2015-03-16 13:48] sachinsachin opened #1093 "Magic tool box install error"
Installation

Fatal error: Class 'Mage' not found in C:\wamp\www\magento\magicslideshow\magictoolbox.installer.magento.class.php on line 155

[2015-03-16 14:25] JamesAnelay commented on #1092
Ok so it would appear that my problem would be because I have Developer Mode on it seems that sets compress to false and then all the files just stick to less files and are not preprocessed (untill later by the client).

        $options = ['relativeUrls' => false, 'compress' => $this->appState->getMode() !== State::MODE_DEVELOPER];

Mabey I just have a slow setup but developing with 'compress' of

[2015-03-16 15:09] buskamuza commented on #1093
@sachinsachin , hi once again.
Please, take into account that this GitHub resource is for **Magento 2** only.
As I understand you're trying to add this library to Magento 2 - https://www.magictoolbox.com/magiczoom/modules/magento/ According to its official page, it doesn't support Magento 2, so it's incompatible.

If you have any questions related to Magento 1, please, use Magento 1 resources, so

[2015-03-16 15:20] sachinsachin commented on #815
Someone please send me BuiltinPlugin.php coding????????

[2015-03-16 16:02] maksek commented on #1093
Hi @sachinsachin, it is pure Magento2 repository and we addressing only Magento 2 related questions, issues. Questions related to Magento 1 will not be addressed here. Please go to proposed sources for Magento 1.

[2015-03-16 16:02] #1093 closed

[2015-03-16 16:07] maksek commented on #815
Hi @sachinsachin this issue was regarding  installation process, and not related to any Magento 1 specific questions. Closing this issues.

[2015-03-16 16:07] #815 closed

[2015-03-16 18:28] sachinsachin commented on #815
ijljljl

[2015-03-16 19:35] sachinsachin opened #1094 "magento 2 could not install on wamp server"
Not Found

The requested URL /magento/setup/ was not found on this server.

Apache/2.4.9 (Win64) PHP/5.5.12 Server at www.sagun.com Port 80

[2015-03-16 19:52] maksek commented on #1094
Install documentation can be found here - http://devdocs.magento.com/guides/v1.0/install-gde/bk-install-guide.html

[2015-03-16 21:47] #1092 closed

[2015-03-16 21:57] sachinsachin opened #1095 "magento could not install on wamp"
Index of /magento

[ICO]	Name	Last modified	Size	Description
[PARENTDIR]	Parent Directory	 	-
[   ]	CHANGELOG.md	2015-03-16 06:11	16K
[   ]	CONTRIBUTING.md	2015-03-16 06:11	1.2K
[   ]	LICENSE	2015-03-16 06:11	1.0K
[   ]	PORTING_INFO	2015-03-16 06:11	1.6K
[DIR]	bin/	2015-03-17 01:38	-
[   ]	composer.json	2015-03-16 06:11	1.6K
[   ]	composer.lock	2015-03-16 06:11	42K
[DIR]	doc/	2015-03-17 01:38	-
[

[2015-03-17 06:06] hirenvasani commented on #1095
What error are you getting?

[2015-03-17 08:17] kandy commented on #619
https://github.com/Masterminds/html5-php - look like applicable html5 validation library

[2015-03-17 09:16] asemenenko commented on #1091
Hi Seansan,

Based on what is requested i assume problem can be resolved in two ways:
1. Replace the old cart content with new "guest" cart.
2. Ask customer if he or she wants to merge or replace the previous items instead of just dropping those.

Above can be controlled by a parameter.

/regards

[2015-03-17 09:23] waynetheisinger commented on #1091
:+1:  this is sorely needed - in our user tests the behaviour in  Magento1 ALWAYS annoys the tester

[2015-03-17 09:26] asemenenko commented on #1091
Hi Waynetheisinger,

It is better to run A/B testing on this in order to set proper default parameter value. QA/Tester is not the best source of decision :-)

/regards

[2015-03-17 09:45] waynetheisinger commented on #1091
I have just realised I misread your post but how I misread it is I think better than what you were in actual fact suggesting.

I thought you were saying that Magento 2 would now havethe concept of a guest cart and an account cart, and that when the customer checked out they would be presented with a choice. (wording would need to be better written but off the top of my head)

[2015-03-17 09:50] waynetheisinger commented on #1091
I think its always better give customers the power - however for store owners who want to dictate the behaviour, which decision favoured could also be set and locked in admin which would remove the customer's prompt and choice.

[2015-03-17 10:02] asemenenko commented on #1091
Thanks for a quick reply.

I suggest to have a parameter in system configuration, something like this:
[Shopping Cart]
Cart Action on Log-in = Automatically replace cart content/Ask customer

Default value for the parameter still needs to be defined.

In this case merchant can choose whether to just replace the cart without adding an extra step or ask the customer to make a decision.

[2015-03-17 10:10] asemenenko commented on #1091
Improvement is captured in the MAGETWO-20045

[2015-03-17 10:39] godban commented on #1092
Hey @JamesAnelay

You are completely right, client side Less preprocessing for Developer Mode will be optional in next releases.

[2015-03-17 11:39] seansan commented on #1091
Euh don't forget the original request

Option 3: do not ask. And don't merge.

Important!

Sent from my iPhone.

On 17 Mar 2015, at 11:03, Andrii Semenenko <notifications@github.com> wrote:

Thanks for a quick reply.

I suggest to have a parameter in system configuration, something like this:
[Shopping Cart]
Cart Action on Log-in = Automatically replace cart content/Ask customer

Default value for

[2015-03-17 13:12] sachinsachin commented on #1095
content not found

[2015-03-17 13:57] mazhalai commented on #1095
@sachinsachin How did you download Magento 2? Your folder structure looks significantly different than what is hosted [here](https://github.com/magento/magento2).  Please clear your folder and follow instructions posted here: http://devdocs.magento.com/guides/v1.0/install-gde/bk-install-guide.html

[2015-03-17 13:58] ihor-sviziev opened #1096 "[Bug] Customer model - getPrimaryAddresses without primary billing address"
Once you have customer model with primary shipping, but wo primary billing and try to execute getPrimaryAddresses method - you got fatal error.
It's happening because there no checking that you have primary billing.
https://github.com/magento/magento2/blob/develop/app/code/Magento/Customer/Model/Customer.php#L722

This issue also exists in Magento CE 1.9.1.

How to fix it:
[code]

[2015-03-17 14:00] sachinsachin commented on #1095
no i have downloaded magento 1 but i could not install able to install magento 1 on wamp. please help me.

[2015-03-17 14:08] maksek commented on #1095
Issues is closed and locked. This is github for magento 2 only.

[2015-03-17 14:08] #1095 closed

[2015-03-17 14:08] tedpietrzak commented on #1095
@sachinsachin - This forum is specifically for issues related to Magento 2.  If you are truly trying to install Magento 1, please refer to the "How To Get Started" section on https://www.magentocommerce.com/products/downloads/magento/

Please do not abuse access to our core development team.

[2015-03-17 14:12] #1094 closed

[2015-03-17 14:18] vpelipenko commented on #1067
@navarr, thanks for suggestions, but we don't have plans now for using something else besides Travis.

[2015-03-17 14:19] #1067 closed

[2015-03-17 14:21] vpelipenko commented on #879
It is already delivered to public repository.

[2015-03-17 14:22] #879 closed

[2015-03-17 14:27] vpelipenko commented on #997
This issue was fixed and delivered to public repository. Closed. There are no complaints from contributor for more than 2 weeks.

[2015-03-17 14:27] #997 closed

[2015-03-17 14:29] dgitman opened #1098 "Google PageSpeed Insights JS/CSS Blocking"
I'm not sure if this is the best place to bring up my concern. Google PageSpeed Insights is reporting the same JS/CSS blocking issues that represent in Magento 1. I'm hoping this can be addressed in Magento 2.

[2015-03-17 14:33] vpelipenko commented on #1055
Closed. There are more complaints from contributor.

[2015-03-17 14:33] #1055 closed

[2015-03-17 15:05] marcozheng commented on #919
The M2 dev team has already taken in the commits from @snky1987 and applied the recommended changes from the comments above. The internal ticket has been closed and merged into mainline codebase.

@otoolec @anupdugar I believe this ticket can now be closed.

[2015-03-17 15:42] JamesAnelay commented on #1092
@godban Perfect :) I closed the ticket because it was a bit of a mess/train of thought, but glad to see you understood and are planning it allready.

[2015-03-17 16:34] vpelipenko commented on #998
Closed. Contributor @Antonioele did not confirm, that the issue still exists for him. The new ticket for the same problem was created by @andreasacca.

[2015-03-17 16:34] #998 closed

[2015-03-17 16:49] villageseo commented on #1098
Hi dgitman!

Could you please clarify the question ? What specific JS/CSS blocking issues?

Thank you,
Oleg

[2015-03-17 16:55] vpelipenko commented on #1096
@ihor-sviziev, thank you posting this issue, but could you provide a way how we can get this fatal? Do you use native Magento workflows? Or is it a result of some customizations?