[2019-05-30 06:28] nishantbkw commented on #14802
Can I get commits to fix this issue in my 2.1 version? upgrade version is not feasible for now.
please link the commits?

[2019-05-30 06:47] magento-engcom-team commented on #23052
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17098`, `MC-17099` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-30 06:56] AlexWorking commented on #23055
Works correctly only with price fields.

[2019-05-30 06:57] magento-engcom-team commented on #23055
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17100`, `MC-17101` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-30 07:07] sakisplus commented on #22141
Issue stil exist in 2.3.1!

[2019-05-30 07:11] ajijshekh123 commented on #23018
@engineergreg fell free to reopen this issue when you will be ready to provide more details and we will review it and confirm

[2019-05-30 07:11] #23018 closed, assigned to nobody

[2019-05-30 08:15] olgaIskra opened #23060 "main.CRITICAL: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'cps.row_id' in 'where clause', query was: SELECT `cps`.* FROM `cms_page_store` AS `cps` WHERE (cps.row_id = ('66'))"
### Preconditions (*)
Magento version 2.3.1

### Steps to reproduce (*)

system.log get this error message, after click on the cms-page, because:

vendor/magento/module-cms/Model/ResourceModel/Page.php
has procedute:

/**
     * Get store ids to which specified item is assigned
     *
     * @param int $pageId
     * @return array
     */
    public function lookupStoreIds($pageId)
    {
        $

[2019-05-30 08:19] hostep commented on #22975
@James-Hall195: can you try upgrading to Magento 2.3.1? I believe it is fixed over there.

It was fixed in Magento 2.2.8 by https://github.com/magento/magento2/pull/17882 but the forward port to 2.3.x was denied: https://github.com/magento/magento2/pull/18783 and then Magento fixed it themselves in https://github.com/magento/magento2/commit/468d2ac3810c5bead6693346e1d0b995d22eeeb1 which was releas

[2019-05-30 08:39] LiamKarlMitchell commented on #7519
Same problem on 2.2.0 enabled Terms and Conditions in the settings and enabled the Terms and Conditions.

Do have an error trying to place order now about accepting all terms and conditions but I can't actually see any in the DOM!

Any ideas?

[2019-05-30 09:04] pauldonnelly commented on #23026
I'm having the same issue, started all of a sudden. Using 2.3.1 as well.

[2019-05-30 09:05] yogeshkhasturi commented on #21885
Hi @soundararajanm1990,

Have you fixed this issue? its also coming when trying to Duplicate product.

Thanks
Yogesh

[2019-05-30 09:08] adriancaragea commented on #3356
This is still not solved.

[2019-05-30 09:18] helefa commented on #16203
How can I fix in 2.2.4?

[2019-05-30 09:28] pauldonnelly commented on #23026
It may be a Cloudinary issue (if you have it installed), I disabled it and it worked again. Maybe not a Magento issue.

[2019-05-30 10:06] chohanbhagchand commented on #23060
I am working on this at #dmcdindia19”

[2019-05-30 10:10] magento-engcom-team commented on #22899
Hi @eduan. Thank you for your report.
The issue has been fixed in magento/magento2#22915 by @serhiyzhovnir in 2.2-develop branch
Related commit(s):
 - [2f645535374757693ed7699e4aa67a830f00fedd](https://github.com/magento/magento2/commit/2f645535374757693ed7699e4aa67a830f00fedd)
 - [f3ef75404259361a25e92b4afd225fd2960c8249](https://github.com/magento/magento2/commit/f3ef75404259361a25e92b4afd225fd2

[2019-05-30 10:13] thatguynz commented on #12914
I assume there has been no further development here?  Seems that Magento is a beautiful platform if you're selling widgets that are dealt with in Integers but as soon as a Decimal requirement exists, it falls down badly..

[2019-05-30 10:18] winds1983 commented on #20033
@orlangur I know you have already fix it on 2.3.2, could you send us patch or some fixed file?

[2019-05-30 10:39] chohanbhagchand commented on #22964
Please assign me this issue

[2019-05-30 10:42] rammohan-krish commented on #23038
@magento give me 2.2-develop instance

[2019-05-30 10:42] magento-engcom-team commented on #23038
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-30 10:42] magento-engcom-team commented on #23038
Hi @rammohan-krish, here is your [Magento instance](https://i-23038-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23038-2-2-develop.instances.magento-community.engineering/admin](https://i-23038-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-30 10:55] magento-engcom-team commented on #23038
:white_check_mark: Confirmed by @rammohan-krish
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17105`, `MC-17106` were created

**Issue Available**: @rammohan-krish, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-30 11:03] ajijshekh123 commented on #23037
Hello @tylerssn,
I can't able to reproduce this issue.
Can you please provide the Step to be reproduced Or Video?

[2019-05-30 11:51] magento-engcom-team commented on #23053
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17108`, `MC-17109` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-30 12:09] purplebolt commented on #12148
Any luck with this?

[2019-05-30 12:29] netzwelt-nishu opened #23061 "paypal is not giving lastname in express checkout"
### Preconditions (*)

1. magento version 2.3.0
2. Express checkout

### Steps to reproduce (*)

1. Place a order on magento using express checkout in guest mode
2. After successful order, when you check you find order details are  correct.
3. But in DB we found that, last name in billing and shipping details are NULL.
### Expected result (*)

1. Last name should not be NULL and it should be fille

[2019-05-30 12:47] tylerssn commented on #23037
@ajijshekh123 - from our Slack conversation.

[2019-05-30 12:59] nfourteen commented on #22975
@hostep I will open a new issue, thanks!

[2019-05-30 13:01] jayachandraoggy commented on #19576
give me 2.3-develop instance

[2019-05-30 13:19] James-Hall195 commented on #22975
@hostep I think that's what we're going to aim to do. I wasn't sure if this was somehow intended functionality in the new Magento, but it seems like a fairly big issue to miss.

Thank you for the help. Glad this is fixed in the next version.

[2019-05-30 13:29] nfourteen opened #23062 "Product Import via CSV Fails to Update Existing Product Data"
### Preconditions
1. Magento 2.3.1

### Steps to reproduce
1. Create a configurable product on a new Magento instance
2. Navigate to `System > Data Transfer > Export` and export the **Products** entity
3. Open the CSV file and update prices
4. Navigate to `System > Data Transfer > Import` and import the updated CSV file using the **Import Behavior** Add/Update.

### Expected result
1. The product

[2019-05-30 13:45] sezio opened #23063 "Magento does not translate product alert mail if two stores with different languages are under the same website"
### Summary
With several stores under a same website, if the stores don't have the same language, product alert stock will send product information in the default website language.

### Preconditions (*)
1. Magento 2.2.5

### Steps to reproduce (*)
1. Create a main store, (ie language FR) under main website
2. Create a secondary store, (ie language EN) under main website
3. Enable product alert st

[2019-05-30 14:10] orlangur commented on #20033
@winds1983 it was fixed without link to this issue, so, exact patch should be found by somebody.

I don't know dates for 2.3.2, it is already tested internally for some time (new contributions currently target 2.3.3 already).

[2019-05-30 14:27] amanuni commented on #23038
@rammohan-krish @magento-engcom-team i know why this issue is appearing and what is the problem i have added a solution for it.

Here is problem why issue is appearing.
in file `Magento_Root//lib/web/mage/validation.js:1606`

`isQtyIncrementsValid = typeof params.qtyIncrements === 'undefined' ||
                        qty % $.mage.parseNumber(params.qtyIncrements) === 0;`

This line is causing is

[2019-05-30 14:42] orlangur commented on #22964
@chohanbhagchand, please note that it was assigned recently to @maheshWebkul721

[2019-05-30 14:44] GardeEuro commented on #15545
Anyone has news about this issue?
Upgrading magento from 2.2.3 to 2.2.8 my installation crashes when customers browse categories!

Debugging I found terrible INSERT query execution time on "search_tmp_XXXXX tables"!

[2019-05-30 15:12] travis-shippingtree commented on #12975
I'm getting the same thing.  I create an order and pay by credit card, and call

/index.php/rest/V1/order/340/ship

with the payload:

{'tracks': [{'carrier_code': 'usps', 'track_number': '9400136205903868804224', 'title': 'USPS First'}], 'items': [{'order_item_id': 241, 'qty': 1}]}

And receive the error:

{"message":"Shipment Document Validation Error(s):\nThe order does not allow a shipment to

[2019-05-30 15:19] orlangur commented on #23057
@khoi-le please provide code sample. There is nothing special with this class from DI perspective.

[2019-05-30 15:31] hostep commented on #22975
Ok, closing issue for now. If it turns out not to be fixed don't hesitate to come back :)

[2019-05-30 15:31] #22975 closed, assigned to nobody

[2019-05-30 15:38] Karlasa commented on #23050
@QuentinFarizonAfrimarket

_theme.less file should contain only variable overrides that are specific for child theme and not CSS.
I think this can't be count as an issue if new theme is not extended correctly.
Because of that will close this issue. Feel free to re-open this issue if you thing otherwise or if you have any other questions you can contact with me in community engineering slack.

Chee

[2019-05-30 15:38] #23050 closed, assigned to Karlasa

[2019-05-30 15:48] hostep commented on #23054
I agree, this definitely needs fixing.

Just FYI: there has recently been a proposal to review the current cron implementation and improve its stability: https://github.com/magento/architecture/pull/171

[2019-05-30 16:02] hostep commented on #23023
@QuentinFarizonAfrimarket, if you switch the indexer mode around it will either remove triggers or add them.

So, this will remove all the triggers:
[code]

And this will add them again:
[code]

Can you test this and let us know if this fixes your issue?

I think this hasn't been documented yet on https://devdocs.magento.com/, it might be best if we add a small remark over there.

[2019-05-30 16:51] MarcusWolschon commented on #20033
2.3.2 is too late. Customers are complaining now. Not in 2 month.
So we need to patch our productive shops with the fix or at the very least have
something we can answer to the complaining customers.

[2019-05-30 16:57] RishniMeemeduma opened #23065 "Page refresh when add product the cart in magento 2.3"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-05-30 16:58] #23065 closed, assigned to nobody

[2019-05-30 17:23] hostep commented on #20033
For the people trying to find out the release date of Magento 2.3.2, it was mentioned on Slack in a public channel by 2 different Magento employees, one said it would be around 26th of June and the other said it would be in the middle of June. So it's not a hard date, but it should be around that period.
And you can always guess, there is a 3 month release schedule, the last release was on the 26t

[2019-05-30 18:30] travis-shippingtree commented on #12975
I just learned that it's necessary to invoice the order before you can create a shipment.

I would have assumed that since the order was in Processing, it was possible to ship it.

[2019-05-30 19:10] EyalAmir opened #23069 "Can't Refund Invoice Without 0 Quantities Through REST API"
1. The API responds with error "You can't create a creditmemo without products." from the QuantityValidator.

[2019-05-30 19:13] EyalAmir commented on #23069
yes

[2019-05-30 21:19] DavaGordon commented on #10878
same issue on Magneto 2.2.7 on fresh install, cache flush works a charm

[2019-05-30 23:11] manuelcanepa opened #23070 "Select billing address lost on update with shipping address that cant be use for billing"
### Summary (*)
I have a module of "pickup stores" that set the pickup store address as the shipping address, this address has the canUseForBilling method set to false, so the first time on billing step, is required that the customer set the billing address. For guest customers, this is ok, but, for customer with address on his address book, when click on update button, the address information sho

[2019-05-31 00:17] adarshkhatri opened #23071 "Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails"
### Preconditions (*)

1. Magento 2.3.0
2. Magneto 1.x

### Steps to reproduce (*)

1. Use this url http:://www.domain.com/catalog/product_compare/index/items/ab

### Expected result (*)

1. should display 404 or another error message or it shouldn't even reach to the sql insertion point. I know this link is not anywhere in the site, however, intruders are trying this link. There might be some vul

[2019-05-31 00:18] adarshkhatri commented on #23071
@magento give me 2.3-develop instance

[2019-05-31 00:18] magento-engcom-team commented on #23071
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-31 00:19] magento-engcom-team commented on #23071
Hi @adarshkhatri, here is your [Magento instance](https://i-23071-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23071-2-3-develop.instances.magento-community.engineering/admin](https://i-23071-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-31 04:31] ajijshekh123 commented on #23037
Okay, @tylerssn.

[2019-05-31 04:40] alpeshpatelcool commented on #10878
at terminal you should apply following command
rm -rf var/cache var/log var/page_cache var/view_preprocessed

[2019-05-31 04:55] praveen-chelumalla commented on #22589
@swatts7777777 any solution you got for this
`Notice: Undefined index: save in /[Magento Root]/vendor/magento/framework/Reflection/MethodsMap.php on line 81` i am also facing the same issue.

After I am disabling both Magento_Amqp and Magento_MysqlMq module I am getting an error like 'Warning: PDOStatement::execute(): MySQL server has gone away '.

Can anybody help this on how I can get around thi

[2019-05-31 04:59] swatts7777777 commented on #22589
Hi @praveen-chelumalla

I didnt have any issues with the MySQL service after doing this.  It sounds like you might be facing another potentially unrelated issue.

Have you checked your MySQL logs to see what is causing the it to shutdown/restart?

[2019-05-31 05:06] ajijshekh123 commented on #23061
Give me @magento give me 2.3-develop instance

[2019-05-31 05:07] magento-engcom-team commented on #23061
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-31 05:07] magento-engcom-team commented on #23061
Hi @ajijshekh123, here is your [Magento instance](https://i-23061-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23061-2-3-develop.instances.magento-community.engineering/admin](https://i-23061-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-31 05:40] Vishrootways opened #23074 "Magento 2.3.1 - URL rewrite rules are not creating for product after update url key"
### Summary (*)
We are facing an issue with URL rewrite rules in fresh Magento 2.3.1 version. Issue: URL of the product does not getting updated after change URL key of category in multi-website setup. (NOTE: This issue is not coming when only one website is set up)

### Preconditions (*)
Fresh Magento 2.3.1 One category which has one product. Multi website setup.

### Steps to reproduce (*)
1. Go

[2019-05-31 05:41] mattijv commented on #21299
@SteveEdson While waiting for the next release you can do a couple interim fixes:

1) [Setup a Varnish cache](https://devdocs.magento.com/guides/v2.3/config-guide/varnish/config-varnish.html) infront of your Magento installation and use that instead of the Magento built-in full page cache. Running a Varnish cache is in any case beneficial.

and/or

2) Apply the change [in this commit](https://gith

[2019-05-31 05:46] winds1983 commented on #20033
@orlangur Ok, thanks.

[2019-05-31 06:22] DavaGordon commented on #10878
Actually you run

bin/magento cache:flush

This is more than suffice to get it working

[2019-05-31 06:25] magento-engcom-team commented on #23071
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17147` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-31 06:39] ajijshekh123 commented on #23061
@netzwelt-nishu - I have verified this issue in my Magento 2.3 instance database.
Last name is not displayed on shipping and billing address details after placed order throw the Paypal account.

[2019-05-31 06:40] magento-engcom-team commented on #23061
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17148` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-31 06:57] rselvakumar29 opened #23075 "Using Event : checkout_cart_product_add_after Adding "additional_options" to Quote Item is not validating stock when adding product to the Cart"
### Preconditions (*)

1. Version 2.3

### Steps to reproduce (*)

1. Create Event checkout_cart_product_add_after
2. Update the Quote Items "additional_options" in Observer

$parentItem = $observer->getEvent()->getQuoteItem();

$additionalOptions = [];

$additionalOptions[] = array(
'label' => "Some Label ",
'value' => rand(99,9999),
);

$parentItem->addOption(
[
'product_id' => $parentItem->getP

[2019-05-31 07:06] QuentinFarizonAfrimarket commented on #23050
Hello @Karlasa thanks for your answer
Where should the CSS go then ?
Can you point me to some documentation on this ?

Best regards,
Quentin

[2019-05-31 07:15] praveen-chelumalla commented on #22589
Hi, @swatts7777777 thank you for your reply, solved SQL error.

I got some solution to find where the exact problem is occurring.

I was added error log like this

`[Magento Root]/vendor/magento/framework/Reflection/MethodsMap.php on line 81`

`public function getMethodReturnType($typeName, $methodName)
    {
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $lo

[2019-05-31 07:16] QuentinFarizonAfrimarket commented on #23054
Hello @hostep thank you !
I agree with the conclusion of magento/architecture#171 : cron management must be more resilient, fireproof, and protected against periodic or permanent failing of one of the job codes.

I think I found a reproducible scenario that caused issue on my system :
- Indexing job (group "index") configured as "no separate proces"
- Indexing runs out of memory, process is killed

[2019-05-31 07:21] QuentinFarizonAfrimarket commented on #23023
Hello @hostep thanks for the response !

I have figured that out, and ran them, I didn't check all of them but it seems to have added some more triggers.
It's possible we missed some after our database migration and/or our upgrade 2.1.13 -> 2.2.8

[2019-05-31 07:38] rammohan-krish commented on #23042
@magento give me 2.3-develop instance

[2019-05-31 07:39] magento-engcom-team commented on #23042
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-05-31 07:39] magento-engcom-team commented on #23042
Hi @rammohan-krish, here is your [Magento instance](https://i-23042-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23042-2-3-develop.instances.magento-community.engineering/admin](https://i-23042-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-31 07:40] dverkade opened #23076 "Shipping method tablerate, free shipping can be deducted more then once"
### Preconditions
1. Magento 2.3.1

### Steps to reproduce
1. Have 2 products, product A, product B and product C. Both with a price of 25 USD.
2. Have table rates configured where an order between 0 and 100 USD has a shipping cost of 10, and orders over 100 USD don't have any shipping costs
3. Setup a catalog price rule with gives free shipping on "Matching items only" and let the cart price rule

[2019-05-31 07:47] #23076 closed, assigned to nobody

[2019-05-31 07:57] Karlasa commented on #23050
@QuentinFarizonAfrimarket
I think what you are looking for is _extend.less file instead of _theme.less
Don't really have good reference for documentation but you can look Luma Theme files and follow the idea how they have extended Blank Theme :)

[2019-05-31 07:58] Puru2016 commented on #13440
I have follow the code to create category attribute and added the code as shared above by @parthaccorin but not able to compile the code. due to some error, So please any oone share the complete working for for this issue to fix in

what is the custom attribute code here in the code?

[2019-05-31 08:14] Puru2016 commented on #13440
I am still facing the same issue in magento 2..2.6, Can anyone please share the complete working code for this issue. I am using this [code](https://www.mageplaza.com/devdocs/magento-2-category-attributes-programmatically/) to create a category attribute and after that i follow the @rou9e solution, but still attribute not working as expected.

[2019-05-31 08:31] QuentinFarizonAfrimarket commented on #23054
@hostep Furthermore, I don't think the database lock (created in ProcessCronQueueObserver::lockGroup) is ever released if process crash without having a chance to unlock it.

So it may never run again, what do you think ?

[2019-05-31 08:53] svorfolomiev commented on #22867
It's probably a problem TinyMCE 3/4 redactor - it removed the inline styles. Possible solution - add something like valid_children : "+body[style]" to TinyMCE config. Here more details: https://www.tiny.cloud/docs/configure/content-filtering/#valid_children.

[2019-05-31 09:19] rammohan-krish commented on #23042
@magento give me 2.2-develop instance

[2019-05-31 09:19] magento-engcom-team commented on #23042
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-05-31 09:20] magento-engcom-team commented on #23042
Hi @rammohan-krish, here is your [Magento instance](https://i-23042-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23042-2-2-develop.instances.magento-community.engineering/admin](https://i-23042-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-05-31 09:27] magento-engcom-team commented on #23042
:white_check_mark: Confirmed by @rammohan-krish
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17151`, `MC-17152` were created

**Issue Available**: @rammohan-krish, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-31 09:48] magento-engcom-team commented on #22971
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17154`, `MC-17155` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-31 10:10] sebastien-kathmandu opened #23077 "Triggers created by MView are triggered all the time"
### Preconditions (*)

1. Magento version: 2.2.8
2. mysql 5.7

### Steps to reproduce (*)

1. Set an index on schedule ( ex: catalog_product_flat)
2. update an attribute in the database with the same value as before
I use this query to set the same value as 10 rows has previously to test the trigger on Update.
[code]

### Expected result (*)

1. The trigger related to the attribute shouldn't inser

[2019-05-31 10:19] krishnamsgr opened #23078 "Magento 2.3 Table rate shipping charge with free cart price rule for Configurable Product"
Hai,

I have my ecommerce in magento 2.3 which has configurable product with attribute checkout type.
There are 2 option for checkout type home delivery and Pay and collect.
I uploaded table rate shipping weight vs destination. I created free cart price rule if customer choose product with pay and collect then shipping free. other wise it will take shipping from csv.

It is working only after i ne

[2019-05-31 12:35] arendarenko opened #23080 "Missing whitespace in mobile navigation for non-English websites"
### Preconditions (*)

1. Magento 2.2.8
2. Two websites with different locales: en_US and fr_FR
3. Installed language pack for fr_FR, for example: https://github.com/mageplaza/magento-2-french-language-pack

### Steps to reproduce (*)

1. Create category "Collections" set "Include in menu" and "Enabled" checked
2. Create two categories inside "Collections": "Test collection 1", "Test collection 2"

[2019-05-31 12:36] orlangur commented on #20033
@MarcusWolschon,

If it's true, somebody please find an exact patch and post it here.

[2019-05-31 12:55] ihor-sviziev commented on #23080
I checked, https://github.com/mageplaza/magento-2-french-language-pack doesn't have translation of "All " (with space at the end), but has translation of "All" (w/o space at the end), so magento using this translation.
For this case looks like removal of space after "All" - looks good to me.

[2019-05-31 12:56] ghost opened #23082 "Chinese locale code mismatch with PayPal"
### Preconditions

### Steps to reproduce
1.Magento Paypal Express is configured
2.Set Stores->Configuration->General->Locale Options->Locale=Chinese (China)
3.Add product to cart
4.Check mini cart and cart page

### Expected result
a PayPal buttons rendered

### Actual result
a PayPal buttons aren't rendered

### More info:
Magento offers locale codes for zh_Hans_CN (China), zh_Hant_HK (Hong Kong

[2019-05-31 13:01] mpurish commented on #9988
Hi,

I have Magento 2.3.1 installed and this issue still exists, even with all the updates from related commits present.

[2019-05-31 13:06] AlexWorking commented on #23074
As the reporter says "NOTE: URL rules of the product are created for the second website which does not default website, rules only not created for the mail website product." It's that for the 2.3 version. In 2.2-develop it's right the opposite -  rules not created for the second (non-default) website product meening /category-url-key/product-url-key.(html).

[2019-05-31 13:06] magento-engcom-team commented on #23074
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17160`, `MC-17161` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-05-31 13:10] Vishrootways commented on #23074
@AlexWorking Thank you for reviewing issue we are getting and confirm that it's an issue in Magento. Please let us know if you want any additional information from our side to find and solve this issue.
Thanks,
Vish

[2019-05-31 14:01] AlexWorking commented on #23062
Hello @nfourteen. Thanks for reporting. We've been not able to reproduce Your issue on a clean instance of magento. Could You please try to install a vanilla instance of the latest version and try to reproduce on that. It's quite possible that the issue has already been fixed.

[2019-05-31 14:04] AlexWorking commented on #22913
@psuthar12, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-05-31 14:04] #22913 closed, assigned to nobody

[2019-05-31 14:18] magento-engcom-team commented on #23034
Hi @Den4ik. Thank you for your report.
The issue has been fixed in magento/magento2#23035 by @Den4ik in 2.3-develop branch
Related commit(s):
 - [5b0191348477cc72a7f575c0e8b46c3a74c1287f](https://github.com/magento/magento2/commit/5b0191348477cc72a7f575c0e8b46c3a74c1287f)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-31 14:18] #23034 closed, assigned to Den4ik

[2019-05-31 14:18] magento-engcom-team commented on #23030
Hi @matin73. Thank you for your report.
The issue has been fixed in magento/magento2#23033 by @milindsingh in 2.3-develop branch
Related commit(s):
 - [27709457bb655f4e82b687b078ee80142b42354a](https://github.com/magento/magento2/commit/27709457bb655f4e82b687b078ee80142b42354a)

The fix will be available with the upcoming 2.3.3 release.

[2019-05-31 14:18] #23030 closed, assigned to milindsingh

[2019-05-31 15:17] rohankatkar opened #23083 "The image is not assigning to the correct option after sorting - Magento 2.3.1"
**Summary of Issue:**
I have made customization in below files to sort the attribute options:

**File 1:**

in the above file, I have added code before last script tag. (after line 109)

[code]

also added the code in below file in getJsonConfig() after line 71

[code]

after adding the above code, I am able to sort the attribute options.  But the visual swatches images don't sort with respective

[2019-05-31 16:19] Axel29 commented on #13440
I didn't actually try his solution but my guess is that it is due to the wrong use of the constructor.

The Plugin class extends `\Magento\Catalog\Model\Category\DataProvider`, but the parent constructor not only isn't called, but also missing parameters.

I recommand using a simple preference instead of plugin, this way will work (did for me).

[2019-05-31 17:09] hostep commented on #23023
Ok great! Let's close this issue then 🙂

[2019-05-31 17:09] #23023 closed, assigned to nobody

[2019-05-31 17:20] magento-engcom-team commented on #22869
Hi @808brinks. Thank you for your report.
The issue has been fixed in magento/magento2#22895 by @Wirson in 2.2-develop branch
Related commit(s):
 - [9fd7722f66c5024e98a5d3ade1245f253d890369](https://github.com/magento/magento2/commit/9fd7722f66c5024e98a5d3ade1245f253d890369)
 - [f84f0dba7192a5562f26a85c4896cf2de4cf8be3](https://github.com/magento/magento2/commit/f84f0dba7192a5562f26a85c4896cf2de4c

[2019-05-31 17:20] #22869 closed, assigned to Wirson

[2019-05-31 17:44] hostep commented on #23054
This is not entirely true, since it doesn't clean up jobs with status `running`: https://github.com/magento/magento2/blob/48d8d4307fd4ef8f34b399b692664c46dc929ae0/app/code/Magento/Cron/Observer/ProcessCronQueueObserver.php#L496-L499

As far as I know, `running` jobs are just never cleaned up, even if they are no longer actually running. And that's the biggest problem here.

That's a good point, th

[2019-05-31 18:30] kriswen commented on #8018
@shansari25 @CompactCodeEU
Do you guys have a solution? I'm on 2.2.6 and the products disappear from category occasionally, and sometimes does show up on search results, sometimes does not. I'm not exactly else to check anymore.

- isRangingNeeded is set to false in Rows.php
- cron job is running
-all  reindex is set by schedule

However, in the indexer_state table. the updated time for the follow

[2019-05-31 19:27] sshymko opened #23084 "Intercepted methods returning self are generated with incompatible signature"
### Preconditions (*)
- Magento 2.3.1
- Class with pluginized method returning `self`

### Steps to reproduce (*)
1. Extend any class with intercepted methods returning `self`, for example:
    <img width="545" alt="magento2_catalog_indexer_full" src="https://user-images.githubusercontent.com/1231423/58729675-e87ba700-839e-11e9-8486-5065562eb60f.png">
[code]
2. Generate interceptors by compiling D

[2019-05-31 19:30] sshymko commented on #23084
yes

[2019-05-31 20:59] lucasvm opened #23087 "Autorize.net order not being cancelled on payment rejected"
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7

### Steps to reproduce (*)

1. Install lastest patch with Autorize new signature.
2. Place order with a invalid credit card
3. Card will be rejected
4. Order should be cancelled, but instead is created and processing.

### Expected result (*)

1. On rejected payments from autorize the order is being created and processing, it should be cancelled
Si

[2019-05-31 21:21] magento-engcom-team commented on #13266
Hi @arnoudhgz. Thank you for your report.
The issue has been fixed in magento/magento2#22071 by @arnoudhgz in 2.3-develop branch
Related commit(s):
 - [151a48e148445c9d633739098b7bc7872ed62e9e](https://github.com/magento/magento2/commit/151a48e148445c9d633739098b7bc7872ed62e9e)
 - [967328dc6e968fb5f1d2a7c10cb9190a0c9ee66f](https://github.com/magento/magento2/commit/967328dc6e968fb5f1d2a7c10cb9190a

[2019-05-31 21:21] #13266 closed, assigned to arnoudhgz

[2019-05-31 21:21] magento-engcom-team commented on #12696
Hi @Vinai. Thank you for your report.
The issue has been fixed in magento/magento2#18459 by @avstudnitz in 2.3-develop branch
Related commit(s):
 - [4e44cb93fd18ae2fcd8fbad134c6aa956781425e](https://github.com/magento/magento2/commit/4e44cb93fd18ae2fcd8fbad134c6aa956781425e)
 - [03667812817331309c81bfebcb643f8ee0d389c4](https://github.com/magento/magento2/commit/03667812817331309c81bfebcb643f8ee0d

[2019-05-31 21:22] #12696 closed, assigned to avstudnitz

[2019-05-31 21:50] Swahjak commented on #23084
Having the same issue extending `Magento\Catalog\Model\Indexer\Category\Product\Action\Full::execute`. Magento 2.3.1.

[2019-05-31 21:52] Swahjak commented on #23084
Possible duplicate of #11905 and #22769

[2019-06-01 00:36] rob-gonz opened #23088 "B2B Shared Catalog Extremely Slow Loading."
### Summary (*)
Attempting to associate products to a shared catalog after enabling the sharedCatalog results in HTTP Timeout Errors (504) (Catalog -> shared Catalogs -> Add Shared catalog | Set Pricing and Structure).  If the Timeout is increased on the web server and load balancers to 10+ minutes the page will eventually load after 10min. Once loaded, clicking on a category to associate the prod

[2019-06-01 01:10] orlangur commented on #23088
This functionality does not seem to be a part of Magento Open Source, isn't it?

In such case

GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

[2019-06-01 01:10] #23088 closed, assigned to nobody

[2019-06-01 01:11] #23084 closed, assigned to nobody

[2019-06-01 01:49] nfourteen commented on #23062
@AlexWorking It was a clean install...the issue was the CSV editor was removing the padded zeros from the SKU and Magento was considering that a new SKU. I'll close this issue as it's not a Magento problem.

[2019-06-01 01:49] #23062 closed, assigned to AlexWorking

[2019-06-01 01:52] orlangur commented on #23075
Event payload must not be changed in observers.

[2019-06-01 01:52] #23075 closed, assigned to rammohan-krish

[2019-06-01 01:53] orlangur commented on #23087
If payment was rejected you can create a new invoice, isn't it?

[2019-06-01 04:04] lucasvm commented on #23087
No, sorry, the order should be cancelled , as others methods works, because I'm using shipstation to manage the shipments and it will send and approve if Magento does, the order needs to be cancelled when payment is rejected , is this a bug?

[2019-06-01 04:30] xiangxingliyan commented on #21666
@Leandry @magento-engcom-team  Can you tell me what file I modified? I don't want to upgrade to 2.3.1 for the time being, thank you.

[2019-06-01 05:49] Sental commented on #22567
@magento-engcom-team give me 2.3-develop instance

[2019-06-01 05:49] magento-engcom-team commented on #22567
Hi @Sental. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-01 05:49] magento-engcom-team commented on #22567
Hi @Sental, here is your [Magento instance](https://i-22567-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22567-2-3-develop.instances.magento-community.engineering/admin](https://i-22567-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-01 06:06] Sental commented on #22567
@magento-engcom-team yes

[2019-06-01 07:12] rob-gonz commented on #23088
@orlangur Your own product manager has said to report issues here.  See https://github.com/magento/magento2/issues/10439#issuecomment-320287006.

Where are we to discuss EE issues in the open?  Too many questions go unanswered or acknowledged in the community.magento.com forum.

[2019-06-01 07:36] saxenapritesh opened #23089 "Getting Error on Checkout in any payment method in version 2.2.4"
Preconditions

[code]

Steps to reproduce

`User Should be able to pay after buying any product.`

Expected result

`User should be able to pay after buying products from any of the payment methods.`

Actual result

[code]

**UPDATE**:
In Exception Log :

     [2019-06-01 07:43:12] main.CRITICAL: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'sequence_order_1' doesn't exist, query was:

[2019-06-01 08:21] krishprakash commented on #23089
@saxenapritesh This is not an issue
this is server side error.

[2019-06-01 08:26] saxenapritesh commented on #23089
@krishprakash i added my exception log.

[2019-06-01 08:32] krishprakash commented on #23089
It should be your any custom module issue or some issue in setup configuration.
I have checked in fresh magento it's working fine.

[2019-06-01 08:55] krishprakash commented on #22921
Hi @snoroozi,
I'm closing this issue
Feel free to reopen this issue if you phase again with proper steps.
Thanks.

[2019-06-01 08:55] #22921 closed, assigned to ankitsrivastavacedcoss, krishprakash

[2019-06-01 09:29] orlangur commented on #23088
@rob-gonz did you notice the date? It is applicable for Release Candidate phase only (`2.2-RC issues `).

[2019-06-01 09:35] saxenapritesh commented on #23089
@krishprakash I have added the exception log and my env file its there any issue in my setup or something.

[2019-06-01 11:17] krishprakash commented on #23089
Hi @saxenapritesh.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the Community Forums or the Magento Stack Exchange site for advice or general discussion about this issue.
It will help to solve your issue faster.
Thank you.

[2019-06-01 11:17] #23089 closed, assigned to krishprakash

[2019-06-01 11:57] renard123 opened #23093 "Shopping cart layout break when enter long coupon"
Shopping cart layout break when enter long coupon.

### Preconditions (*)
magento 2.2

### Steps to Reproduce(*)
1. Go to shopping cart
2. Enter coupon code like ""!!!!!!!!!!!!!!!!!!aaaaaaaaaaaaaaaaaaaaaaaaaaBBBBBBbbbbbb####################^^^^^^^^^^^^^^^^^^^^nnnnnnnnnnnnnnnnnnnnnnnnnDDDDDDDDDDDDDDDDDDDD%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%""
3. Apply coupon code
4. Review the layout of cart

### Expect

[2019-06-01 12:00] krishprakash commented on #23093
@magento give me 2.2-develop instance

[2019-06-01 12:00] magento-engcom-team commented on #23093
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-01 12:01] magento-engcom-team commented on #23093
Hi @krishprakash, here is your [Magento instance](https://i-23093-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23093-2-2-develop.instances.magento-community.engineering/admin](https://i-23093-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-01 12:06] krishprakash commented on #23093
@magento give me 2.3-develop instance

[2019-06-01 12:06] magento-engcom-team commented on #23093
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-01 12:06] magento-engcom-team commented on #23093
Hi @krishprakash, here is your [Magento instance](https://i-23093-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23093-2-3-develop.instances.magento-community.engineering/admin](https://i-23093-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-01 12:13] magento-engcom-team commented on #23093
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17173`, `MC-17174` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-02 05:54] huzanf opened #23095 "Magento Admin Product upload/edit issue"
Preconditions (*)
Magento 2.3
PHP 7

Expected result (*)
Should be able to edit and add products

Actual result (*)
Loading sign keeps coming and unable to edit or add products

Additional Info (*)
My product page in the admin panel keep showing that loading sign and I am unable to add or edit products. Below screenshot is the error that I am getting in my console:
![error-console](https://user-im

[2019-06-02 06:03] huzanf opened #23096 "Product edit/add issue"
**Preconditions (*)**
1. Magento 2.3
2. PHP 7

**Steps to reproduce (*)**
1. In magento admin panel, on catalogue on clicking on add or edit product the page loads and the loading sign never goes

**Expected result (*)**
1. On clicking on edit or add product, I should be able to edit information and update/save the product

**Actual result (*)**
1. Browser console error log:
![error-console](https

[2019-06-02 08:06] apaolino commented on #7570
Still have it on 2.3.1 CE

[2019-06-02 09:30] okorshenko opened #23098 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-06-02 10:04] #23095 closed, assigned to nobody

[2019-06-02 10:57] gwharton commented on #21672
#21675 and #21676 have been merged. Closing.

[2019-06-02 10:57] #21672 closed, assigned to gwharton

[2019-06-02 12:05] #22021 closed, assigned to nobody

[2019-06-02 12:24] #20736 closed, assigned to nobody

[2019-06-02 12:27] #22022 closed, assigned to nobody

[2019-06-02 20:53] orlangur commented on #23096
@huzanf this is something with your env. Static files not returning 404 Not Found normally.

[2019-06-03 01:11] moderncodes commented on #10636
After upgrading to 2.3.1, and switching from deprecated authorize.net MD5 based hash direct post to SHA-512 signature key method, I find that partial refunds are no longer supported again. Old module used to have settings of `protected $_canRefundInvoicePartial = true;` at _vendor/magento/module-authorizenet/Model/Directpost.php:68_. Anyone be kind enough to suggest what and how to extend `module-

[2019-06-03 04:07] chrisbadley commented on #5929
Have you noticed that simple products are not affected, in my case only bundle and configurable products are affected. Also using 2.3.1.

[2019-06-03 04:11] rohankatkar commented on #23083
The issue is now as per the above format

[2019-06-03 04:57] ajijshekh123 commented on #23096
Give me @magento give me 2.3-develop instance.

[2019-06-03 04:57] magento-engcom-team commented on #23096
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-03 04:58] magento-engcom-team commented on #23096
Hi @ajijshekh123, here is your [Magento instance](https://i-23096-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23096-2-3-develop.instances.magento-community.engineering/admin](https://i-23096-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-03 05:02] huzanf commented on #23096
@orlangur thank you for your comment. Could this be something to do with the file permissions?

[2019-06-03 05:19] ajijshekh123 commented on #23096
Give me @magento give me 2.2-develop instance

[2019-06-03 05:19] magento-engcom-team commented on #23096
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-03 05:19] magento-engcom-team commented on #23096
Hi @ajijshekh123, here is your [Magento instance](https://i-23096-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23096-2-2-develop.instances.magento-community.engineering/admin](https://i-23096-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-03 05:29] syed92hasan commented on #23082
I am working on this at #MM19DE

[2019-06-03 05:34] ajijshekh123 commented on #23096
The issue is not reproduced on Magento 2.3 and Magento 2.2 Instance.
@huzanf - This issue is related to an external static file or any security reason do not read the file.

[2019-06-03 05:43] huzanf commented on #23096
Hi @ajijshekh123
Thank you very much for your time and support. Could this be because of wrong file permissions?

[2019-06-03 05:48] ajijshekh123 commented on #23096
Hi @huzanf, I am not sure but It may be wrong file permission or related to extension file if you have using it.
Please apply permission for the proper file Or Disable the extension and check it.

[2019-06-03 05:52] huzanf commented on #23096
Hi @ajijshekh123
Could you please help with what should be the correct file permissions for Magento?

[2019-06-03 05:57] ajijshekh123 commented on #23096
@huzanf - I don't have proper idea about the correct file permission for Magento.
Sorry for the inconvenience.

[2019-06-03 06:45] MagentoGuysProjects commented on #21438
Hi,

this issue is still not solved and waiting for more then 3 months.
https://github.com/magento/data-migration-tool/issues/661

Please check and provide any solution for this.

Thnaks

[2019-06-03 07:39] sarfarazbheda commented on #22366
I am able to replicate the issue on Magento 2.2.8 after the upgrade.

@magento-engcom-team give me 2.2-develop instance

[2019-06-03 07:40] magento-engcom-team commented on #22366
Hi @sarfarazbheda. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-03 07:40] magento-engcom-team commented on #22366
Hi @sarfarazbheda, here is your [Magento instance](https://i-22366-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22366-2-2-develop.instances.magento-community.engineering/admin](https://i-22366-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-03 07:54] sarfarazbheda commented on #22366
I am able to replicate issue with above instance. Steps:
- Enable Add Secret Key to URLs
- Go to Sales-> Orders
- Navigate to any other menu

[2019-06-03 08:06] QuentinFarizonAfrimarket commented on #23054
Thanks @hostep

Indeed you're right, running jobs are never cleaned. I think it would make sens to clear the after $historyFailure or max($historyFailure, $historySuccess)
There are so many reason a process can fail (out of memory, server reboot, ...), having your indexing stuck until you clear the line in the database is a very high price to pay.

I think this requires a quick fix in 2.2 and 2.3

[2019-06-03 08:36] paul-gene commented on #23082
@syed92hasan what is your proposed fix?

[2019-06-03 09:32] QuentinFarizonAfrimarket commented on #23050
Hello and thanks @Karlasa

Following your recommendation, I have modev my CSS definitions to _extends.less
But, they are still duplicated in both styles-l.css and styles-m.css

What am I missing ?

[2019-06-03 09:38] stephenbori commented on #13440
Confirm this works on Magento 2.3.1

[2019-06-03 09:42] kushhot commented on #8897
g

[2019-06-03 10:05] LindenFR commented on #12494
Any news or updates on this please ?

[2019-06-03 10:06] niravkrish opened #23103 "Payment Failed Email not working"
I made a couple of tests and in my environment, trying a couple of different payment methods, Magento never run those controllers. So, even if the payment fails, the email notification is not sent.

This behaviour is very different from Magento 1, where the merchant receives effective notifications and can monitor checkout/payment problems.

### Preconditions (*)

1. Magento CE 2.3.0
2. PHP 7.2

#

[2019-06-03 10:14] crysix commented on #12950
We also have that issue after upgrade to 2.3.1. But it's a little more strange. If we have a 404 one the homepage and clear the hole cache (FPC enabled), everything is working. But after some time running (without changing anything) it will change to 404 again. So only cache clearing will fix it currently, and that is no solution.

We now switched to Redis as cache backend, but there we have the s

[2019-06-03 10:21] QuentinFarizonAfrimarket commented on #23054
@magento give me 2.2.8-develop instance

[2019-06-03 10:21] magento-engcom-team commented on #23054
Hi @QuentinFarizonAfrimarket. Thank you for your request. I'm working on Magento 2.2.8-develop instance for you

[2019-06-03 10:25] krishprakash commented on #23103
Hi @niravkrish.
I'm closing this issue as it's duplicate to #11347

[2019-06-03 10:25] #23103 closed, assigned to krishprakash

[2019-06-03 10:26] #23083 closed, assigned to nobody

[2019-06-03 10:27] rohankatkar opened #23104 "The image is not assigning to the correct attribute option after sorting when use visual swatch- Magento 2.3.1"
### Summary (*)
The image is not assigning to the correct attribute option after sorting when use visual swatch- Magento 2.3.1

### Examples (*)
**File 1:**

in the above file, I have added code before last script tag. (after line 109)

[code]

also added the code in below file in getJsonConfig() after line 71

[code]

after adding the above code, I am able to sort the attribute options.  But the

[2019-06-03 10:29] QuentinFarizonAfrimarket commented on #23054
@magento give me 2.2.8 instance

[2019-06-03 10:29] magento-engcom-team commented on #23054
Hi @QuentinFarizonAfrimarket. Thank you for your request. I'm working on Magento 2.2.8 instance for you

[2019-06-03 10:30] rohankatkar opened #23105 "The image is not assigning to the correct attribute option after sorting when use visual swatch- Magento 2.3.1"
### Summary (*)
The image is not assigning to the correct attribute option after sorting when use visual swatch- Magento 2.3.1

### Examples (*)
**Please check the below images:**
**A) Below image is before adding the swatch option.**
![before_adding_swatch1](https://user-images.githubusercontent.com/5929761/58713861-226d9d00-83e1-11e9-81b0-a65bddda837e.png)

**B) Below image is after adding the o

[2019-06-03 10:30] #23104 closed, assigned to nobody

[2019-06-03 10:33] crysix commented on #12950
There is alredy a fix for this here #21299

[2019-06-03 10:39] kapil-infobeans commented on #15935
It should be reopened, It still exist in Magento 2.2.5 and upcoming versions.

[2019-06-03 10:39] karnasaradar opened #23107 "Magento 2 product video is not playing for configurable product"
I have uploaded a youtube video for a configurable product. But it's showing as a still image , not showing any play icon and it's not playing.

Can anyone give me a solution for the issue?

[2019-06-03 10:42] rohankatkar commented on #23105
Hi @AlexWorking,   are you looking at this issue?

[2019-06-03 10:44] patrick-bigbridge commented on #15935
@kapil-infobeans It was fixed in 2.2.6. In what version are you still seeing the problem?

[2019-06-03 10:46] kapil-infobeans commented on #15935
Thanks for quick follow up @patrick-bigbridge

We are using 2.2.5 version of Magento EE, I am not sure about more latest version. Could you please share link of fixes? If that's the case here I will change my statement instantly.

[2019-06-03 10:56] patrick-bigbridge commented on #15935
Ok, the link can be found earlier in this issue:
[https://github.com/magento/magento2/issues/15935#issuecomment-403922901](https://github.com/magento/magento2/issues/15935#issuecomment-403922901)

[2019-06-03 11:08] kapil-infobeans commented on #15935
Thanks @patrick-bigbridge, I will try with this fix.

[2019-06-03 11:09] apomili opened #23108 "Validation form "invalid-form" event duplicated"
When you hit "submit button" on a non filled form, multiple submit event error are triggered (listenFormValidateHandler).

The lines in /lib/web/mage/validion.js are extecuted multiple times  and the page jump if you scroll before all the animations are completed. (jQuery create a queue of animations, that scroll one by one to firstActive, but only the first animation is visible).
[code]

_I suppo

[2019-06-03 11:14] rohankatkar opened #23109 "The attribute option should be sorted alphabeticaly on saving - Magento 2.3"
### Description (*)
The attribute option should be sorted alphabetically on saving - Magento 2.3

### Expected behavior (*)
When adding the option for the attribute it should be saved and sorted alphabetically for
following are the scenarios.

A) When the value of "Use Product Image for Swatch if Possible"  =  Dropdown
B) When the value of "Use Product Image for Swatch if Possible"  =  Text Swatch

[2019-06-03 11:22] rohankatkar commented on #23105
@magento give me 2.3-develop instance

[2019-06-03 11:22] magento-engcom-team commented on #23105
Hi @rohankatkar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-03 11:23] magento-engcom-team commented on #23105
Hi @rohankatkar, here is your [Magento instance](https://i-23105-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23105-2-3-develop.instances.magento-community.engineering/admin](https://i-23105-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-03 11:25] AlexWorking commented on #23105
Hi, @rohankatkar. Yes.

Надіслано з мого телефону HTC

----- Відповідь -----
Від: "Rohan Katkar" <notifications@github.com>
Кому: "magento/magento2" <magento2@noreply.github.com>
Копія : "AlexWorking" <workmail2500@gmail.com>, "Mention" <mention@noreply.github.com>
Тема: [magento/magento2] The image is not assigning to the correct attribute option after sorting when use visual swatch- Magento 2.3.

[2019-06-03 11:30] rohankatkar commented on #23105
Ok @AlexWorking ....

[2019-06-03 11:34] Karlasa commented on #23050
@QuentinFarizonAfrimarket Haven't been able to reproduce that and don't have overview of how and what have you done under your theme but could guess that maybe there are some kind of typo or CSS in not inside media selector. example:
`
& when (@media-common = true) {
// code should go here
}
`

[2019-06-03 11:35] magento-engcom-team commented on #22380
Hi @daniel-ifrim. Thank you for your report.
The issue has been fixed in magento/magento2#23058 by @abrarpathan19 in 2.2-develop branch
Related commit(s):
 - [02f8aa6c6e2e5c0d63635e4c2869bf30030dd594](https://github.com/magento/magento2/commit/02f8aa6c6e2e5c0d63635e4c2869bf30030dd594)
 - [ead8e63801f664f4010c307cd6a6e37ea2c15e1a](https://github.com/magento/magento2/commit/ead8e63801f664f4010c307cd

[2019-06-03 12:16] AlexWorking commented on #23105
Ok, @rohankatkar. Thanks for applying. At now we've been not able to reproduce Your issue. Have You been successful in that?  We see You asked for a vanilla instance of magento from our bot.

[2019-06-03 12:19] rohankatkar commented on #23105
Hello @AlexWorking ,

Please check below.

 **(Before replicating the above issue, please add above custom code)**

Steps to replicate:
- Go to Store >> Attribute >> Product
- Search for the color attribute
- Add the swatch option with the image.
- Check that option get sorted
- But image assigned to last option.

Expected result:
The image should assign to the newly added option after sorting. (p

[2019-06-03 12:21] rohankatkar commented on #23105
Actually, I was not aware of the command which provides the vanilla instance of Magento .. I have mistakenly posted that in the comment box...

[2019-06-03 12:21] Beagon commented on #8897
We're encountering the same issue here on 2.2.8 Commerce.

We have a process running that should update an attribute if some criteria are met on a store scope basis, once we save the product in this process (CRON) all attributes get overwritten with the attributes of the default scope.

[2019-06-03 12:30] AlexWorking commented on #23105
@rohankatkar, The GitHub issue tracker is intended for Magento Core technical issues only. For Your case, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-06-03 12:30] #23105 closed, assigned to AlexWorking

[2019-06-03 12:56] AlexWorking commented on #23107
Hello, @karnasaradar. In order to process Your issue, please update Your comment where Your describe the issue with all the required steps as the bot asks. Thank You.

[2019-06-03 13:17] ioweb-gr opened #23110 "product grid select all -> update attributes not working for all selected products"
### Preconditions (*)
1. Magento 2.3.1
2. A good amount of products to test

### Steps to reproduce (*)
1. Set the grid limit to a number below the full number of products in the store.
2. E.g. you have 21 products and the grid size is 20 rows.
3. Click on checkbox -> select all
4. Click on update attributes
5. Update any attribute

You will see that only the products that are shown are saved as i

[2019-06-03 13:17] ioweb-gr commented on #23110
@magento give me 2.3-develop instance

[2019-06-03 13:17] magento-engcom-team commented on #23110
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-03 13:18] magento-engcom-team commented on #23110
Hi @ioweb-gr, here is your [Magento instance](https://i-23110-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23110-2-3-develop.instances.magento-community.engineering/admin](https://i-23110-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-03 13:24] ioweb-gr commented on #23110
OK in develop instance this behaviour has changed compared to 2.3.1. It's now saying the message was added to queue instead of how many products are saved however I cannot test if it actually works because the actual process hasn't been tasked after a few minutes. Perhaps on the  test instance the message queue is not functioning properly.

[2019-06-03 13:28] fairport commented on #13114
Magento ver. 2.3.1 CE
Getting this error trying to set up a configurable product with 9 colors & 7 sizes.
changing max input vars didn't help

[2019-06-03 13:30] AlexWorking commented on #23108
Hello @apomili, This issue is seemingly fixed in 2.3-develop version. Could You please try to reproduce Your issue on it asking for a clear instance from the bot by just leaving a comment "@magento give me 2.3-develop instance" (without quotes). Thank You.

[2019-06-03 13:30] magento-engcom-team commented on #23108
Hi @AlexWorking. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-03 13:30] magento-engcom-team commented on #23108
Hi @AlexWorking, here is your [Magento instance](https://i-23108-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23108-2-3-develop.instances.magento-community.engineering/admin](https://i-23108-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-03 13:38] apomili commented on #23108
Hi @AlexWorking, I just tried to reproduce the problem in the istance  above.
Seems to be fixed cause I don't see animations on the page at all (despite of the code).
I don't know if listenFormValidateHandler is triggered multiple times.

[2019-06-03 13:45] magento-engcom-team commented on #23034
Hi @Den4ik. Thank you for your report.
The issue has been fixed in magento/magento2#23086 by @Den4ik in 2.2-develop branch
Related commit(s):
 - [0820cd71b3fdd8a1b66f101a256b5f9b5690ae01](https://github.com/magento/magento2/commit/0820cd71b3fdd8a1b66f101a256b5f9b5690ae01)

The fix will be available with the upcoming 2.2.10 release.

[2019-06-03 13:45] AlexWorking commented on #23110
Hi @mrtuvn. Thank you for your report. This issue is a duplicate of at least #22986. So we are supposed to close it.

[2019-06-03 13:45] #23110 closed, assigned to AlexWorking

[2019-06-03 13:55] AlexWorking commented on #23108
Ok @apomili, then for now we are supposed to close the issue according to step 4 of our issue confirmation workflow You can find above on this page:
![Supposed](https://user-images.githubusercontent.com/27814011/58807236-5edb0c00-8620-11e9-8167-fcd485b8a982.png)

[2019-06-03 13:55] #23108 closed, assigned to AlexWorking

[2019-06-03 13:59] orlangur commented on #23109
Hi @rohankatkar,

Nope.

Linked SO question seems to be a buggy implementation.

[2019-06-03 13:59] #23109 closed, assigned to nobody

[2019-06-03 14:00] QuentinFarizonAfrimarket commented on #23054
Hello @hostep

I have another issue : individual mview updates (like catalog_product_flat) are stuck in 'working' mode in the table mviews_state.
As they are not hold by any process, and are not cleaned (I believe) so they will be stuck forever.
So even with an indexer job running correctly, you can get individual views that are not updated following their changelogs.

I suspect that this modifica

[2019-06-03 15:06] MeCapron opened #23113 "Date format grid is not based on the locale defined in the back-office"
### Preconditions (*)
Magento 2.3.1

### Steps to reproduce (*)

1. Change locale from Magento back-office (for example, French)
2. Go to Sales -> Orders
3. Check the column "purchase date"
4. Date format is still the english one

### Expected result (*)
Having the format date in French (or whatever locale chosen) instead of the default one

### Actual result (*)
Date format should be the local on

[2019-06-03 15:07] MeCapron commented on #23113
@magento give me 2.3-develop instance

[2019-06-03 15:07] magento-engcom-team commented on #23113
Hi @MeCapron. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-03 15:08] magento-engcom-team commented on #23113
Hi @MeCapron, here is your [Magento instance](https://i-23113-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23113-2-3-develop.instances.magento-community.engineering/admin](https://i-23113-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-03 15:35] orlangur commented on #23093
There is nothing to fix here, actually. Such coupon code is obviously not realistic.

[2019-06-03 15:35] #23093 closed, assigned to nobody

[2019-06-03 16:51] lucasvm commented on #23087
I have found the issue here on github reported few days ago, seems to be a patch, https://github.com/magento/magento2/issues/22373

You can close, i will follow there.

[2019-06-03 17:17] magento-engcom-team commented on #22567
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17191` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-03 17:31] nickpiro commented on #22141
@sakisplus :( ---- If you need a fix just go into catalog_eav_attribute, find your manufacturer ID (mine is 83) and change the apply to column to 'simple,virtual,bundle,downloadable,configurable,grouped'

Works for me. Inconvenient none the less.

[2019-06-03 17:33] shikhamis11 commented on #22731
@singhabhinay I am closing this issue since it is not reproducible let me know if you are able to reproduce this issue . also Please share more details about the issue with screenshots

[2019-06-03 17:33] #22731 closed, assigned to shikhamis11, deepakk-webkul

[2019-06-03 18:26] amanuni commented on #23038
@magento-engcom-team any update on it.

[2019-06-03 20:31] hostep commented on #23054
Agreed. There should be some way for Magento to detect failed cron jobs and not assume they are still running. But I'm not sure if the existing lifetime fields are the right solution here. Maybe a new field should be added for a new lifetime called 'max duration of running job' or something like that?

The change to catching a `Throwable` instead of an `Exception` might prevent more possible probl

[2019-06-03 22:50] magento-engcom-team commented on #23045
Hi @ashsmith. Thank you for your report.
The issue has been fixed in magento/magento2#23046 by @ashsmith in 2.3-develop branch
Related commit(s):
 - [199887d9d4fcc8540c84c9342aeef4915b057491](https://github.com/magento/magento2/commit/199887d9d4fcc8540c84c9342aeef4915b057491)
 - [c0d920d12a7f172ad930b3ba17267398c4660f1e](https://github.com/magento/magento2/commit/c0d920d12a7f172ad930b3ba17267398c4

[2019-06-03 22:50] #23045 closed, assigned to ashsmith

[2019-06-03 22:50] magento-engcom-team commented on #22882
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#22884 by @ihor-sviziev in 2.3-develop branch
Related commit(s):
 - [881e92728c3b96b9afdcbc4347bc2d75a7b31778](https://github.com/magento/magento2/commit/881e92728c3b96b9afdcbc4347bc2d75a7b31778)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-03 22:50] #22882 closed, assigned to ihor-sviziev

[2019-06-04 05:14] ajijshekh123 commented on #23113
Give me @magento give me 2.3-develop instance

[2019-06-04 05:14] magento-engcom-team commented on #23113
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-04 05:15] magento-engcom-team commented on #23113
Hi @ajijshekh123, here is your [Magento instance](https://i-23113-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23113-2-3-develop.instances.magento-community.engineering/admin](https://i-23113-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-04 06:04] magento-engcom-team commented on #23080
:white_check_mark: Confirmed by @ihor-sviziev
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17197`, `MC-17198` were created

**Issue Available**: @ihor-sviziev, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-04 06:07] ajijshekh123 commented on #23096
@huzanf - Have you fixed the issue?

[2019-06-04 06:44] VZeroCool commented on #20029
@engcom-backlog-nazar can you please tell me commit. I'm having same issue I've upgraded to 2.3.1 from 2.3 CE. Suddenly this setting missing. It was there when I was on 2.3 but when it get disappear dont know. Please reference commit to fix this.

[2019-06-04 06:48] royandre commented on #22516
We are experiencing the same issue in 2.3.1 (multi-site, +80k SKUs (around 15k configurable, with simples attached), with the price index taking like forever (7+ hours), though we actually managed to finish it, and thus have the product appear in the store.

We are trying to tune the batch size (https://devdocs.magento.com/guides/v2.3/extension-dev-guide/indexer-batch.html), which seems to might a

[2019-06-04 06:55] VZeroCool opened #23115 "Paypal configurations missing at admin"
### Preconditions (*)

1.  Magento Ver. 2.3.1
2. Apache 2.4.37, Nginx 1.12.2 PHP 7.2

### Steps to reproduce (*)

1. Upgrade to 2.3.1 from 2.3 CE using composer

### Expected result (*)

![paypal avaialble](https://user-images.githubusercontent.com/36662131/58857778-a36bb380-86c3-11e9-9ed3-a1497bd933ba.png)

### Actual result (*)

![paypal missing](https://user-images.githubusercontent.com/3666213

[2019-06-04 07:04] magento-engcom-team commented on #22952
@AlexWorking Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-06-04 07:19] chileap commented on #7084
@magento-engcom-team i know the issue should be discussed in  Community Forums or the Magento Stack Exchange site. but i cannot get solution yet. Do magento2 api has this endpoint?

[2019-06-04 07:32] CRYX2 commented on #22013
We have the same problem with a simple programmatically price import. Normally we update 3000+ products, all indexes are setup up to run at schedule and most of products are indexed correcly but some products constantly disappear. We have to force a full reindex at the end of the import to correctly view all of them.

[2019-06-04 07:37] magento-engcom-team commented on #22952
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17200`, `MC-17201` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-04 07:56] Unlimitedbul opened #23116 "Vat calculated incorrectly on product when added to cart (using a vat number)"
### Preconditions (*)

1. Magento CE 2.3.1 without sample data is installed.

### Steps to reproduce (*)

1. Configure tax zones and rates as follows:
![Screenshot 2019-06-03 at 17 21 36](https://user-images.githubusercontent.com/9057446/58857935-ac9a5780-86a6-11e9-8072-4d68f385892c.png)
2. Configure tax rules as follows:
![Screenshot 2019-06-03 at 17 23 13](https://user-images.githubusercontent.c

[2019-06-04 08:02] Unlimitedbul commented on #23116
@magento give me 2.3-develop instance

[2019-06-04 08:03] magento-engcom-team commented on #23116
Hi @Unlimitedbul. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-04 08:03] magento-engcom-team commented on #23116
Hi @Unlimitedbul, here is your [Magento instance](https://i-23116-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23116-2-3-develop.instances.magento-community.engineering/admin](https://i-23116-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-04 08:12] engcom-backlog-nazar commented on #23115
Hi @VZeroCool thank you for you report, i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/22243

[2019-06-04 08:12] #23115 closed, assigned to nobody

[2019-06-04 08:15] VZeroCool commented on #14784
@engcom-backlog-pb @engcom-backlog-nazar What's status of this is this resolved or not ?

[2019-06-04 08:23] Unlimitedbul commented on #23116
@magento-engcom-team issue reproduced in provided instance.

[2019-06-04 08:26] QuentinFarizonAfrimarket commented on #23023
@magento give me 2.2-develop instance

[2019-06-04 08:27] magento-engcom-team commented on #23023
Hi @QuentinFarizonAfrimarket. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-04 08:27] magento-engcom-team commented on #23023
Hi @QuentinFarizonAfrimarket, here is your [Magento instance](https://i-23023-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23023-2-2-develop.instances.magento-community.engineering/admin](https://i-23023-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-04 08:48] textarea opened #23117 ""panel.addClass is not a function" error in admin product attribute edit page"
### Preconditions (*)
1. Magento version 2.3.1

### Steps to reproduce (*)
1. Go to menù item STORES -> Attributes -> Product
2. Click on any attribute

### Expected result (*)
1. No javascript errors in browser console

### Actual result (*)
1. I get this error in browser console:
Uncaught TypeError: panel.addClass is not a function
    at checkOptionsPanelVisibility ((index):865)
    at bindAttr

[2019-06-04 09:02] QuentinFarizonAfrimarket commented on #23054
Yes agreed, but it would be easy to push as a first fix. I thought about `register_shutdown_function`, but indeed it's probably complicated to make database queries in it.
Database transactions should work yes, specifying to lock table cron_schedule but not lock the indexed table.

[2019-06-04 09:50] hostep commented on #23054
Cool, feel free to create a PR with this suggestion! It will most likely get approved.

[2019-06-04 09:55] magento-engcom-team commented on #23024
@Den4ik Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is adde

[2019-06-04 10:11] AlexWorking commented on #23117
Hello, @textarea. We've been not able to reproduce Your issue. Would You please try to do it Yourself on a clear Magento instance as You are advised to do above:
![Advised](https://user-images.githubusercontent.com/27814011/58871114-19731900-86ca-11e9-9a25-5248085d923e.png)
Thank You.

[2019-06-04 10:26] paul-blundell commented on #21705
We are seeing this same issue on 2.2.7. We had nearly 10,000 of these temp tables created!

[2019-06-04 10:28] textarea commented on #23117
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-06-04 10:28] magento-engcom-team commented on #23117
Hi @textarea. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-04 10:28] magento-engcom-team commented on #23117
Hi @textarea, here is your [Magento instance](https://i-23117-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23117-2-3-develop.instances.magento-community.engineering/admin](https://i-23117-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-04 10:39] asprada commented on #22112
I can confirm that that the same issue appears on 2.3.1 Commerce. It can be reproduced with steps delyriand described.

In my case there's also a popup with an error:
`Carrier with such method not found: %1, %2`

and 404 error from /V1/carts/mine/shipping-information where the billing_address is filled up correctly and the shipping_address has empty values.

[2019-06-04 10:51] textarea commented on #23117
Hi @AlexWorking, I'm not able to reproduce it too.
I'm closing this issue.
Thanks

[2019-06-04 10:55] VasylShvorak commented on #23027
Hi @uniquedeveloper17 . The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-06-04 10:55] #23027 closed, assigned to nobody

[2019-06-04 11:04] VasylShvorak commented on #23026
@magento give me 2.3-develop instance

[2019-06-04 11:04] magento-engcom-team commented on #23026
Hi @VasylShvorak. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-04 11:05] magento-engcom-team commented on #23026
Hi @VasylShvorak, here is your [Magento instance](https://i-23026-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23026-2-3-develop.instances.magento-community.engineering/admin](https://i-23026-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-04 11:09] VasylShvorak commented on #23026
Hi @fasaro thank you for you report, but i'm not able to reproduce issue you described on clean 2.3-develop

[2019-06-04 11:09] #23026 closed, assigned to VasylShvorak

[2019-06-04 11:41] huzanf commented on #23096
Hi @ajijshekh123
No. I haven’t been able to fix this yet.

[2019-06-04 11:54] AndyJAllen commented on #14667
Magento 2.3.1 and we're still slow as ever with gallery.phtml....

[2019-06-04 11:56] Igloczek commented on #14667
@AndyJAllen It's in 2.3-develop, not released yet, please check mentioned commit.

[2019-06-04 12:02] VasylShvorak commented on #22967
Hi @farhangithub27 thank you for you report, i'm not able to reproduce issue by steps you described on clean 2.3-develop .

[2019-06-04 12:02] #22967 closed, assigned to VasylShvorak

[2019-06-04 12:04] engcom-backlog-nazar commented on #23060
Hi @olgaIskra, thank you for you report, this issue has already fixed in 2.3-develop branch, and will be available on 2.3.2 release

[2019-06-04 12:04] #23060 closed, assigned to nobody

[2019-06-04 12:09] jakwinkler opened #23120 "Discount code issues on cart page"
### Preconditions (*)

1. Magento Enterprise 2.2.5 (2.2.8 same issue)
2. Few products in the shopping cart (guest / registered has same issue)

### Steps to reproduce (*)

1. Create new module and create preference for Magento\Checkout\Controller\Cart\Index
2. In method execute try to set a new coupon on customer quote, couponCode is set in the URL parameter

[code]

### Expected result (*)

1. Co

[2019-06-04 12:12] engcom-backlog-nazar commented on #23041
Hi @DanielRuf
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-06-04 12:12] #23041 closed, assigned to nobody

[2019-06-04 12:21] VasylShvorak commented on #22781
Hi @ankursachdeva11 thank you for your report.  Please open issue related with MSI in [msi](https://github.com/magento-engcom/msi) repo to get answer for your question.

[2019-06-04 12:21] #22781 closed, assigned to VasylShvorak

[2019-06-04 12:39] VasylShvorak commented on #22751
Hi @CompactCodeEU . The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-06-04 12:39] #22751 closed, assigned to nobody

[2019-06-04 12:41] AlexWorking commented on #23063
In 2.2-develop not only the name, and the descriptions are in French but the whole text of the email, while in 2.3-develop the first line of the email (right after customer's name) is in English.

[2019-06-04 12:42] magento-engcom-team commented on #23063
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17202`, `MC-17203` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-04 12:56] VasylShvorak commented on #6248
Hi @imbhupendra41 thank you for your report, i'm not able to reproduce issue by steps you described on clean 2.3-develop.
[Case 1:](https://github.com/magento/magento2/issues/6248#issuecomment-351442607)
![#6248_1](https://user-images.githubusercontent.com/26908019/58880647-12a3d080-86e1-11e9-9e8c-ea0b7ebc2cb7.png)
[Case 2:](https://github.com/magento/magento2/issues/6248#issuecomment-241360112)
!

[2019-06-04 12:56] #6248 closed, assigned to VasylShvorak

[2019-06-04 13:15] AndyJAllen commented on #14667
Yes I applied it in my installation and it seems to have helped.

[2019-06-04 13:15] stoleksiy commented on #23039
Hi @zeekzeeky, thank you for your report, this issue has already fixed in 2.2-develop and 2.3-develop branch and available on 2.2.9 and 2.3.1 release.

[2019-06-04 13:15] #23039 closed, assigned to soleksii

[2019-06-04 13:17] ryanpalmerweb opened #23122 "Error handling causes customer data leak"
### Preconditions (*)
1. Magento 2.3.1

### Steps to reproduce (*)
1. Asynchronous email sending must be enabled in global settings
2. Backlog of unsent emails (e.g in Magento\Sales\Model\Order\Email\Sender\CreditmemoSender)
3. An error must be encountered during the getTransport method (e.g a plugin that references this tries to call an undefined function)
4. The application must run via cron so

[2019-06-04 13:17] hostep commented on #23041
@DanielRuf: if I understand you correctly, this is probably a similar request: https://github.com/magento/devdocs/issues/4495

[2019-06-04 13:26] ryanpalmerweb commented on #23122
Just to add to this, one of our clients was receiving complaints from customers that they were being emailed other customers orders, and were concerned about their own privacy.

We isolated the error and found that the Fooman EmailAttachments module was referencing the createAttachment function which existed in Magento 2.2 but was removed in Magento 2.3

In Magento 2.2 :
class Message extends \Zen

[2019-06-04 13:42] DanielRuf commented on #23041
@hostep you are right.

[2019-06-04 13:42] mhenkel1 commented on #11629
A solution would have been nice, same problem here. Please fix @orlangur

[2019-06-04 13:42] DanielRuf commented on #23041
@hostep you are right. This is about the same.

[2019-06-04 13:54] orlangur commented on #11629
@mhenkel1 is there some core bug behind?

[2019-06-04 13:59] mhenkel1 commented on #11629
@orlangur Well, if you do it, like he did, like the devdocs tell you, you get this error. I am writing another module with an event observer and I get the same error.

[2019-06-04 14:10] ryanpalmerweb commented on #23122
@okorshenko I can see this relates to MAGETWO-67680

[2019-06-04 14:21] orlangur commented on #11629
@mhenkel1 I see, thanks. Reopening, could you please attach your module?

[2019-06-04 14:27] Den4ik commented on #23024
@magento give me 2.3-develop instance

[2019-06-04 14:27] magento-engcom-team commented on #23024
Hi @Den4ik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-04 14:28] magento-engcom-team commented on #23024
Hi @Den4ik, here is your [Magento instance](https://i-23024-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23024-2-3-develop.instances.magento-community.engineering/admin](https://i-23024-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-04 14:29] mhenkel1 commented on #11629
@orlangur This would be my module, as you can see its relatively simple... but it still is not working in a production environment.

**registration.php**
[code]

**etc/module.xml**
[code]

**etc/frontend/events.xml**
[code]

**Observer/Redirect.php**
[code]

[2019-06-04 15:09] SolsWebdesign commented on #21817
Okay, I ran into this as well. Magento 2.3.1 This shop too has no "update/cron.php", no update/vendor directory and no setup upgrade or composer update will me help here.

After a lot of searching around and having a good look at the code base of this shop (that I did not install myself) I have concluded the following:

This shop (which is a production shop!) was not installed the right way (throu

[2019-06-04 15:54] diamondavocado commented on #8884
Still happening in 2.3.1.

We are unable to override the template at `vendor/magento/module-payment/view/frontend/templates/info/default.phtml` in an order confirmation email which is frustrating.

Related issue: https://github.com/magento/magento2/issues/10402

[2019-06-04 15:56] diamondavocado commented on #10402
This issue should be re-opened as it is quite a fundamental flaw. It makes it impossible to properly override templates for transactional emails which is pretty serious.

[2019-06-04 16:08] codesource commented on #23107
@magento give me 2.3-develop instance

[2019-06-04 16:08] magento-engcom-team commented on #23107
Hi @codesource. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-04 16:08] magento-engcom-team commented on #23107
Hi @codesource, here is your [Magento instance](https://i-23107-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23107-2-3-develop.instances.magento-community.engineering/admin](https://i-23107-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-04 16:11] orlangur commented on #7231
@DrewML,

3. Teach developers that result of compilation may be different by nature but strive for elimination of any incompatibilities

Wasn't the plan to switch to SASS by the way?

[2019-06-04 16:37] qsolutions-pl commented on #23120
*Update* the same issue is when I removed preference and created plugin beforeExecute

[2019-06-04 16:38] codesource commented on #23107
@magento give me 2.2-develop instance

[2019-06-04 16:38] magento-engcom-team commented on #23107
Hi @codesource. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-04 16:38] magento-engcom-team commented on #23107
Hi @codesource, here is your [Magento instance](https://i-23107-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23107-2-2-develop.instances.magento-community.engineering/admin](https://i-23107-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-04 16:49] magento-engcom-team commented on #22771
Hi @Patelcc. Thank you for your report.
The issue has been fixed in magento/magento2#22783 by @serhiyzhovnir in 2.2-develop branch
Related commit(s):
 - [2b8e142ab6025627d20c5052b538d8e354c29e3c](https://github.com/magento/magento2/commit/2b8e142ab6025627d20c5052b538d8e354c29e3c)
 - [c4411b44f1997062da37c99cf205bbb89f713202](https://github.com/magento/magento2/commit/c4411b44f1997062da37c99cf205bb

[2019-06-04 16:49] #22771 closed, assigned to serhiyzhovnir

[2019-06-04 17:23] magento-engcom-team commented on #22808
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17217`, `MC-17218` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-04 17:47] sdzhepa commented on #22756
@magento give me 2.3-develop instance

[2019-06-04 17:47] magento-engcom-team commented on #22756
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-04 17:48] magento-engcom-team commented on #22756
Hi @sdzhepa, here is your [Magento instance](https://i-22756-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22756-2-3-develop.instances.magento-community.engineering/admin](https://i-22756-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-04 17:54] magento-engcom-team commented on #22756
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17219` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-04 17:55] rob-gonz commented on #23088
@orlangur, sure that's fine.  I still don't know, where are we to discuss EE code issues in the open with the magento team so others may learn too.

[2019-06-04 18:43] sdzhepa commented on #23107
Hello @karnasaradar

Unfortunately, it is very hard to figure out what issue you faced based on the provided description. It does not have any information about preconditions, steps, version and etc.

Please have a look at (Issue reporting guidelines)[https://github.com/magento/magento2/wiki/Issue-reporting-guidelines] from more details.

I tried to investigate and reproduce it but it works for me

[2019-06-04 18:43] #23107 closed, assigned to nobody

[2019-06-04 18:54] sdzhepa commented on #22992
@magento give me 2.2-develop instance

[2019-06-04 18:55] magento-engcom-team commented on #22992
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-04 18:55] magento-engcom-team commented on #22992
Hi @sdzhepa, here is your [Magento instance](https://i-22992-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22992-2-2-develop.instances.magento-community.engineering/admin](https://i-22992-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-04 20:20] sdzhepa commented on #22992
Hello @magento2dev

I tried to reproduce this issue on the vanilla Magento instance based on `2.2-develop` branch.
I used steps from this issue description and from closed 6224

And I cannot reproduce the issue have to close it as `Cannot Reproduce` resolution

But feel free to provide additional details/steps and reopen it.

I suppose it could be some specific and missed precondition(s) or step.

[2019-06-04 20:20] #22992 closed, assigned to nobody

[2019-06-04 20:29] sdzhepa commented on #22916
@magento give me 2.3-develop instance

[2019-06-04 20:29] magento-engcom-team commented on #22916
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-04 20:39] sdzhepa commented on #22916
@magento give me 2.3-develop instance

[2019-06-04 20:39] magento-engcom-team commented on #22916
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-04 20:40] magento-engcom-team commented on #22916
Hi @sdzhepa, here is your [Magento instance](https://i-22916-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22916-2-3-develop.instances.magento-community.engineering/admin](https://i-22916-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-04 20:49] aabumuslimov commented on #5664
Please try to redeclare the preference for the PolicyInterface during the object manager initialization:
[code]

[2019-06-04 20:50] ecoop3r commented on #14977
Dont forget to do the options and the fullscreen:

`<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?php /* @escapeNotVerified */ echo $block->getMagnifier(); ?>,
                "data": <?php /* @escapeNotVerified */ echo $block->ge

[2019-06-04 21:10] sdzhepa commented on #22916
Hello @jorgb90

We tried to reproduce this issue on the vanilla Magento instance based on `2.3-develop` branch.

**Was used next steps**

1. Install clear vanilla Magento instance based on `2.3-develop`
2. Create test Simple product with several types custom options (required and not required)
-- [SCREEn of test product](https://www.screencast.com/t/nSFNZn3g9)
3. Go to StoreFront and add test prod

[2019-06-04 21:10] #22916 closed, assigned to gulshanchitransh, mallikaverma

[2019-06-04 21:55] sdzhepa commented on #21990
Hello @jigar48 @AlexWorking @maghamed

As we can see from the thread and last https://github.com/magento/magento2/issues/21990#issuecomment-496250461 it is a configuration issue but not a bug. Magento has a lot of tax calculation and tax display settings and it could confuse.

Little bit more details about tax setting could be found on DevDocs: https://docs.magento.com/m2/ee/user_guide/tax/tax-set

[2019-06-04 21:55] #21990 closed, assigned to AlexWorking

[2019-06-04 22:25] sdzhepa commented on #12512
Hello @VesnaS , @Axel29, @jsterling, @bobmats @KevinMace @avstudnitz,  @Radosav

We have re-verified this issue and we cannot reproduce it on the latest `2.2-develop` and `2.3-develop` branches.
The issue was fixed and delivered recently. Fixes should be available with `2.3.3` and `2.2.9` releases.

But if it's still can be reproduced with different steps, feel free to add additional details  and

[2019-06-04 23:37] sdzhepa commented on #23096
Hello @huzanf , @ajijshekh123

It is more like local env issue instead of Magento bug
More details about [File systems access permissions](https://devdocs.magento.com/guides/v2.3/config-guide/prod/prod_file-sys-perms.html)
Also, re-generating static content and flush all caches could help

I think we can close this issue as not a bug or Cannot reproduce

[2019-06-04 23:55] sdzhepa commented on #22997
Hello @urvishpatelce

Could you please provide more details about how we can reproduce this issue on the clear Magento instance? Please use [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) for more details

Unfortunately, it is not the best solution in this case because potentially this issue could be taken into progress and fixed by any developers

[2019-06-05 00:03] orlangur commented on #23088
@rob-gonz there are some programs like partners/insiders intended exactly for this. @sidolov could you please give an accurate answer?

[2019-06-05 00:15] orlangur commented on #23122
[code]

Core code must not take unto consideration buggy plugins/interceptors. Sounds like the bug is in Fooman module.

[2019-06-05 00:23] orlangur commented on #23120
GitHub is intended for bug reports. Please use Stack Overflow for questions.

[2019-06-05 04:56] renard123 opened #23128 "Update blank gender it does not saved in direct edits from customer grid"
Update blank gender it does not saved in direct edits from customer grid.

Whereas when update with Male/Female gender it works fine
Also it works fine when edit customer.

### Preconditions (*)
magento 2.3

### Steps to reproduce (*)
1. Go to Admin
2. Customers > All Customers
3. From customer grid update any customer which already have value like male/female to blank
4. Click on save
5. Display

[2019-06-05 04:57] renard123 commented on #23128
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-06-05 04:57] magento-engcom-team commented on #23128
Hi @renard123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-05 04:58] magento-engcom-team commented on #23128
Hi @renard123, here is your [Magento instance](https://i-23128-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23128-2-3-develop.instances.magento-community.engineering/admin](https://i-23128-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-05 05:02] krishprakash commented on #23128
I reproduced it on given instance.

[2019-06-05 05:03] renard123 commented on #23128
Reproduced it for given instance.

[2019-06-05 05:04] krishprakash commented on #23128
@magento give me 2.2-develop instance

[2019-06-05 05:04] magento-engcom-team commented on #23128
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-05 05:04] magento-engcom-team commented on #23128
Hi @krishprakash, here is your [Magento instance](https://i-23128-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23128-2-2-develop.instances.magento-community.engineering/admin](https://i-23128-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-05 06:05] sergiy-v commented on #22934
#23129
@AlexWorking do you have any updates for the issue after [discussions with Valerii](https://github.com/magento/magento2/issues/4788#issuecomment-496940717)?
Thank you.

[2019-06-05 06:26] huzanf commented on #23096
Hello @sdzhepa ,

Could you please help me with what should be the exact file permissions.

My current permissions are:
Folder: 775
Files: 664

Is this the reason I am facing issues?

[2019-06-05 06:33] qsolutions-pl commented on #23120
This is a bug. I've reproduced it on Magento vanilla installation.

[2019-06-05 06:45] qsolutions-pl commented on #22785
@AlexWorking  please close the issue. This was related to data import.
We've created SQL scripts which fixed wrong data

[2019-06-05 06:48] stoleksiy commented on #22994
Hi @jburel-clever-age, thank you for your report. I can not reproduce this issue.

**Result:**
![screen](https://user-images.githubusercontent.com/44244273/58935766-c99e5b80-8776-11e9-9545-637fddb07112.png)

Firefox ver. 67.0

[2019-06-05 06:48] #22994 closed, assigned to soleksii

[2019-06-05 06:55] qsolutions-pl commented on #17898
Ok, so to sum it up. DUplicated fees were caluclated only in my case, but the problem is related to PayPal API.

When you add a custom fee / position in Magento that is added to quote, that variable needs to be added to PayPal Soap / Rest request as a custom parameter.

As @bgorski has described above, all custom fees added to order should be passed to HANDLINGAMT field in PayPal XML request so th

[2019-06-05 07:05] orlangur commented on #23120
@qsolutions-pl no. Functionality works perfectly fine in core while your code not. So, ask a question adding your code so that others can help you.

[2019-06-05 07:30] magento-engcom-team commented on #23082
@VasylShvorak Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-06-05 07:31] magento-engcom-team commented on #23082
:white_check_mark: Confirmed by @VasylShvorak
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17236` were created

**Issue Available**: @VasylShvorak, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-05 07:33] paul-gene commented on #23082
@VasylShvorak what is going to be the proposed fix to this?

Is it Magento at fault, or PayPal?

[2019-06-05 08:09] codesource commented on #23107
For what I have tested, on last version of each branch it works.

@karangar You should try to upgrade your Magento with last version and test it again

[2019-06-05 08:29] devamitbera opened #23133 "Compiled Config cache always enable"
### Preconditions (*)

1. Magento 2.3.0
2. Magento 2.3.1

### Steps to reproduce (*)

1. Get Magento 2.3.x according to [devdocs](https://devdocs.magento.com/guides/v2.3/install-gde/install-quick-ref.html#get-the-magento-software)
2. Install Magento according to [devdocs](https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/install-cli-install.html)
3. Run once `bin/magento setup:di:com

[2019-06-05 08:33] devamitbera commented on #23133
@magento give me 2.3-develop instance - upcoming 2.3.1 release

[2019-06-05 08:33] magento-engcom-team commented on #23133
Hi @devamitbera. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-05 08:33] stoleksiy commented on #22900
Hi @VSevenUser , thank you for your report, this issue has already fixed in 2.2-develop and 2.3-develop branch and available on 2.2.9 and 2.3.1 release.

[2019-06-05 08:33] #22900 closed, assigned to soleksii

[2019-06-05 08:33] magento-engcom-team commented on #23133
Hi @devamitbera, here is your [Magento instance](https://i-23133-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23133-2-3-develop.instances.magento-community.engineering/admin](https://i-23133-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-05 08:34] mariuscris commented on #22504
Hello there,

I want to let you know that we have the same issue with our customer shop.

The shop uses:
- 2.3.1 Magento Commerce (EE)
- PHP 7.1.28
- Redis 3.2.11
- MySQL 5.6.36

Here is a screenshot of our new relic details issue:

![Screenshot 2019-06-05 at 10 11 12](https://user-images.githubusercontent.com/8698833/58940961-17b55e00-877b-11e9-9982-b826d1315bf1.png)

The strange part is that is

[2019-06-05 08:44] ryanpalmerweb commented on #23122
It's surely dangerous to assert that there could never be an exception in this area of code, given the consequences.

In this case, a backwards incompatible change to the Magento core (a function being removed) led to the issue being triggered by a 3rd party plugin.

Any exception in this area of code could lead to customers being inadvertently emailed and it's quite a serious breach of customer p

[2019-06-05 08:47] biglier commented on #9274
@snoroozi  Hi, can you share yours database query, please.

[2019-06-05 08:56] devamitbera commented on #23133
Hi @magento-engcom-team com, i need ssh access to test this  issue.

[2019-06-05 09:00] orlangur commented on #23017
@engineergreg, are you able to reproduce an issue on a supported OS?

[2019-06-05 09:02] engcom-backlog-nazar commented on #23017
H @engineergreg thank you for your report, i'm not able to reproduce following steps you described, seems like this related to your timezone configuration, please specify wich time zone use your php or mysql, then verify if this timezone the same with magento timezone. feel free to reopen if issue still exist. thank you for collaboration.

[2019-06-05 09:02] #23017 closed, assigned to nobody

[2019-06-05 09:08] stoleksiy commented on #22537
Hi @jaimin104, thank you for your report.  I am not able to reproduce issue by steps you described on clean 2.2 and 2.3-develop .

**Result:** Tables was created automatically

![screen](https://user-images.githubusercontent.com/44244273/58944421-82ba6100-878a-11e9-9dd5-fa6d7db6813e.png)

[2019-06-05 09:08] #22537 closed, assigned to soleksii

[2019-06-05 09:12] roma84 opened #23135 "Insert Variable popup missing template variables for new templates"
After the following PR https://github.com/magento/magento2/pull/22469 was merged into 2.3-develop, you cannot anymore insert template variables in the newly created email templates.

### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Marketing > Email Templates and press Add New Template button.
2. Select some template (e.g. Contact Form) and press Load Template bu

[2019-06-05 09:12] orlangur commented on #23122
@ryanpalmerweb no objections to re-create `TransportBuilder` each time, just that there is no defect in core currently which needs to be fixed. Third-party extensions need to be tested properly when upgrading.

[2019-06-05 09:16] textarea commented on #23117
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-06-05 09:16] magento-engcom-team commented on #23117
Hi @textarea. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-05 09:17] magento-engcom-team commented on #23117
Hi @textarea, here is your [Magento instance](https://i-23117-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23117-2-3-develop.instances.magento-community.engineering/admin](https://i-23117-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-05 09:22] textarea commented on #23117
@AlexWorking I've found the case the issue can reproduce, simply disable swatches module:
bin/magento module:disable Magento_SwatchesGraphQl Magento_Swatches

then you will able to reproduce the issue

[2019-06-05 09:28] QuentinFarizonAfrimarket commented on #22504
Hello @mariuscris

I have mitigated the issue by patching a behaviour in Enterprise version, where each time a back-office agent restricted to a certain website does any action, it flushes the whole config cache, which needless to say is a very bad idea.

I still see the issue occurring, I suspect there is similar bad code flushing the whole config cache, but haven't been able to track what code w

[2019-06-05 09:34] JaromirMullerQuanti opened #23137 "Sales rule condtions are duplicated when data validation error occurs"
### Preconditions (*)

1. 2.3

### Steps to reproduce (*)

1. Create any sales rule with conditions like:
  - If ALL  of these conditions are TRUE
    - If an item is FOUND  in the cart with ANY  of these conditions true:
      - At least any condition (I used category is one of ...)
    - If ALL  of these conditions are TRUE
      - At least any condition (I used Subtotal  greater than 0)
2. Save

[2019-06-05 09:40] magento-engcom-team commented on #23135
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17239` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-05 09:41] atwixfirster opened #23138 "Magento_Theme. Incorrect configuration file location"
### Summary (*)
File `system.xml` locates in the `app/code/Magento/Theme/etc/` instead of `app/code/Magento/Theme/etc/adminhtml`.

### Examples (*)

### Proposed solution

Move `system.xml` to `app/code/Magento/Theme/etc/adminhtml`.

[2019-06-05 09:52] krishprakash commented on #23137
@magento give me 2.3-develop instance

[2019-06-05 09:52] magento-engcom-team commented on #23137
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-05 09:53] magento-engcom-team commented on #23137
Hi @krishprakash, here is your [Magento instance](https://i-23137-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23137-2-3-develop.instances.magento-community.engineering/admin](https://i-23137-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-05 10:18] therool commented on #22528
I have encountered the same issue.
The issue I see is this:
- [Magento\Paypal\Block\Adminhtml\System\Config\MultiSelect\DisabledFundingOptions@filterValuesForPaypalCredit](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Paypal/Block/Adminhtml/System/Config/MultiSelect/DisabledFundingOptions.php#L72) which removes the "CREDIT" from the option list so we can't disable it in adm

[2019-06-05 10:42] VasylShvorak commented on #21862
@diamondavocado , thank you for your report. We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-06-05 10:42] #21862 closed, assigned to nobody

[2019-06-05 11:04] roma84 commented on #23135
A possible solution for the issue:
1. Revert changes made in PR https://github.com/magento/magento2/pull/22469
2. Modify the following line instead:
https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Email/Block/Adminhtml/Template/Edit/Form.php#L194

[code]

[2019-06-05 11:12] bellodaniel commented on #22968
I have faced this issue in the past too. But it turned out to be an Inspect Element issue.
When I resized the browser I faced this issue.
But, when I tested on Mobile/Tablet it looked good.
Also, you need to pay attention to the other page elements. There might be any page element that might have bigger width than the device width and it will cause the other page elements to extend further.

[2019-06-05 11:37] saverdaj commented on #18395
I encountered a very similar issue when upgrading to 2.3.1.  It turns out that a few new arguments were added to the customer edit xml here vendor/magento/module-customer/view/frontend/layout/customer_address_form.xml

Since I'm overriding that xml in a custom theme I need to add the additional arguments there as well.  Once the new arguments were added in everything started working as intended

[2019-06-05 11:55] JaromirMullerQuanti commented on #23137
Please let me know if you need any further information or clarification. I'm not able to replicate issue in admin panel without possibility to raise validation error.

[2019-06-05 12:04] AlexWorking commented on #23117
@textarea, here is gathered what I've done in one picture:
![cannot](https://user-images.githubusercontent.com/27814011/58954862-06804780-87a3-11e9-8f3b-a55307b27c14.png)
The issue is still not reproduced as You can see. Have I missed something?

[2019-06-05 12:08] VasylShvorak commented on #22572
Hi @Rickertje thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.3-develop.

[2019-06-05 12:08] #22572 closed, assigned to VasylShvorak

[2019-06-05 12:11] AlexWorking commented on #22934
Hi, @sergiy-v. No we haven't had any yet.

[2019-06-05 12:18] stoleksiy commented on #22777
Hi @marcusirgens, thank you for you report, i'm closing this as duplicate to this -> #16173

[2019-06-05 12:18] #22777 closed, assigned to soleksii

[2019-06-05 12:22] textarea commented on #23117
@AlexWorking I'm in developer mode but nothing else. Please make sure your cache is cleared.
Why I can't see "Storefront properties" tab in your screenshot?
I think your configuration is not loading vendor/magento/module-catalog/view/adminhtml/templates/catalog/product/attribute/js.phtml file.
![Schermata-2019-06-05-alle-14 18 54](https://user-images.githubusercontent.com/1927403/58955837-3593ba80

[2019-06-05 13:08] hostep opened #23141 "Selecting top destination country which isn't in the allowed countries list generates country "0" on frontend."
### Preconditions (*)
1. PHP 7.2.18
2. Magento 2.3.1

### Steps to reproduce (*)
1. Login to the backend
2. Go to Stores > Configuration > General > General > Country Options
3. In the Allow Countries, select Afghanistan, Albania & Algeria
4. In the Top destinations, select Afghanistan, Algeria & American Samoa
5. On the frontend, register as a new user
6. Go to your Address Book and add a new add

[2019-06-05 13:11] krishprakash commented on #23141
@magento give me 2.3-develop instance

[2019-06-05 13:11] magento-engcom-team commented on #23141
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-05 13:12] magento-engcom-team commented on #23141
Hi @krishprakash, here is your [Magento instance](https://i-23141-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23141-2-3-develop.instances.magento-community.engineering/admin](https://i-23141-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-05 13:34] krishprakash commented on #23141
Hi @hostep.
I'm not able to reproduce on clean manento instance as provided steps by you.
![not reproduce](https://user-images.githubusercontent.com/46617848/58960189-473c8880-87c4-11e9-9106-a2a754386506.jpg)
Please give the more information regarding this issue.
Thanks.

[2019-06-05 13:50] sergiy-v commented on #22934
oh, thank you for reply. Please add an update here in case of any.

[2019-06-05 13:59] AlexWorking commented on #23117
@textarea I repeated everything from the very beginning. So I installed a vanilla Magento instance, version 2.3-develop. Then run these bin/magento commands in this order:
deploy:mode:set developer,
module:disable Magento_SwatchesGraphQl Magento_Swatches --clear-static-content,
indexer:reindex,
cache:flush.
Then opened other attribute that had "Storefront Properties" and the result was the same:
!

[2019-06-05 14:12] AlexWorking commented on #22934
@sergiy-v, 👌

[2019-06-05 14:28] hostep commented on #23141
Thanks for looking into this @krishprakash, your result is also not what is expected, because Albania should be in the last spot.

I'll try again on 2.3-develop branch a bit later, maybe something was changed over there.

[2019-06-05 15:16] textarea commented on #23117
@AlexWorking, after lot of research, found it's fixed by #22560 issue on develop branch.
Definitely closing...
Thanks

[2019-06-05 15:16] #23117 closed, assigned to nobody

[2019-06-05 15:23] nuzil opened #23142 "Asynchronous / Bulk API is not supporting store codes in routes"
### Preconditions (*)
1. Magento 2.3.x (tested in 2.3.1)
2. Enabled Message Queue by using Redis

### Steps to reproduce (*)
1. Execute BULK API call: POST /rest/{{store_view_code}}/async/bulk/V1/products with any body you want to (store_view_code - is store code in your website, please do NOT use default one)
2. Run Magento consumer "bin/magento que:cons:st async.operations.all"
3. Check created

[2019-06-05 15:24] nuzil commented on #23142
So this issue it created for track magento Bug and also track a status of this bug.

Solution is already provided: https://github.com/magento/async-import/pull/102

Issue can be closed then it will be merged and available for everybody

[2019-06-05 15:37] guillaumecochard commented on #12697
Hi, I reproduce the issue on magento 2.2.3 do you know if I can apply a fix for it ? Thanks !

[2019-06-05 15:51] dmanners commented on #23120
I am going to reopen this and have ask our QA maintainers to take another look over this.

[2019-06-05 15:59] harperruss commented on #22938
Same thing here with 2.3.1....

[2019-06-05 16:24] torhoehn commented on #18395
@saverdaj Thank you for clarifying that it can come to this behaviour if the layout has been extended/overridden.

[2019-06-05 16:54] mariuscris commented on #22504
Hello @QuentinFarizonAfrimarket,

Thank you for your response and helpful suggestion.
I found a way to reproduce this effect in our customer shop.

Every time when you press the "Save config" button from Stores -> Configuration admin page and during this save request you quickly reload separately a shop page (or someone else uses the shop during the request), than we had the above issue with loadi

[2019-06-05 17:11] QuentinFarizonAfrimarket commented on #22504
Hello @mariuscris
Well what you're describing here is the normal scenario, and the reason they added the locking mechanism.
Before, when you tried to retrieve configurations that were not yet cached in redis, it was retrieved from the database, which could cause massive overload on the database.
Now, it waits for the config to be written in redis, and then retrieves it. I think it's far better thi

[2019-06-05 17:25] hostep commented on #22504
It looks like this PR is trying to resolve this issue I think, it sounds very related at least: https://github.com/magento/magento2/pull/22829

[2019-06-05 17:26] magento-engcom-team commented on #22769
:white_check_mark: Confirmed by @davidverholen
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17251` were created

**Issue Available**: @davidverholen, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-05 17:30] QuentinFarizonAfrimarket commented on #22504
Nice @hostep thanks, it should indeed be an improvement, so that all the requests do not get stuck writing.

But it won't solve (unless I'm mistaken) the fact that there shouldn't be so much config write, when no config is being changed by a human

[2019-06-05 17:47] hostep commented on #23141
@krishprakash: I can confirm your findings on the 2.3-develop branch. It looks like this already got fixed by: [MAGETWO-99424: "0" in country dropdown list when allowed countries differs from top destinations](https://github.com/magento/magento2/commit/0731944dba50283e313f01bceb409592888f97c0)

But the end result is different than what is expected, I'll try to do some more digging...

[2019-06-05 18:03] atwixfirster opened #23143 "Code optimization for the offline shipping methods."
### Summary (*)

`Flat Rate`, `Free Shipping`,  and `Store Pickup` shipping methods use protected $_code variable to provide information about carrier's code.

For example, `Flat Rate` shipping method:
[code]

In the `getAllowedMethods()` function for this shipping method we have:
[code]

So, carrier's code is duplicated.

### Examples (*)

### Proposed solution

Use `$this->_code` in the `getAllo

[2019-06-05 18:04] hostep commented on #23141
Ok closing issue, I made a mistake in my testing on 2.3-develop, looks like @krishprakash made the same mistake. I accidentally selected Albania instead of Algeria in the top destinations. After correcting it, it looks like everything is fixed and works as expected. The extra empty line in the dropdown which used to be represented by a `------` in older versions of Magento2, is also removed, which

[2019-06-05 18:04] #23141 closed, assigned to nobody

[2019-06-05 18:15] magento-engcom-team commented on #22686
Hi @milindsingh. Thank you for your report.
The issue has been fixed in magento/magento2#23119 by @milindsingh in 2.2-develop branch
Related commit(s):
 - [044befab117b5095e04c8dd086c9f2dd4784e573](https://github.com/magento/magento2/commit/044befab117b5095e04c8dd086c9f2dd4784e573)

The fix will be available with the upcoming 2.2.10 release.

[2019-06-05 18:15] magento-engcom-team commented on #22882
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#23114 by @ihor-sviziev in 2.2-develop branch
Related commit(s):
 - [38b8333fad0506816da58276df73d6dee36a07b2](https://github.com/magento/magento2/commit/38b8333fad0506816da58276df73d6dee36a07b2)

The fix will be available with the upcoming 2.2.10 release.

[2019-06-05 18:24] tylers-username opened #23145 "Bug or feature?"
In Magento 2.2 dashes are not allowed in store codes. If you attempted to update a store code with a dash an error is thrown:

[code]

Was this intentional? What negative impact could come from allowing dashes?

[2019-06-05 18:30] davidverholen commented on #23145
hey @tylerssn, thx for bringing this up, but unfortunately this is the wrong place for this discussion.
The issues here are intended for bug reports.

If you want to trigger a technical discussion with the magento architects team, feel free to create an issue in the architecture repository: https://github.com/magento/architecture/issues

Also, the title should be a bit more descriptive or it will

[2019-06-05 18:30] #23145 closed, assigned to davidverholen

[2019-06-05 18:38] lracicot commented on #8933
I have the same issue when trying to import products via a custom API endpoint. It occurs when there are multiple imports at the same time.

We need to import multiple datasets at the same time because there are too many products to keep in sync with other systems, and the import is very slow (12 products/seconds on average).

[2019-06-05 18:55] magento-engcom-team commented on #22608
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17257` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-05 20:36] magento-engcom-team commented on #23142
:white_check_mark: Confirmed by @davidverholen
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17262` were created

**Issue Available**: @davidverholen, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-05 21:16] davidverholen commented on #23116
@magento give me 2.3-develop instance

[2019-06-05 21:16] magento-engcom-team commented on #23116
Hi @davidverholen. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-05 21:17] magento-engcom-team commented on #23116
Hi @davidverholen, here is your [Magento instance](https://i-23116-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23116-2-3-develop.instances.magento-community.engineering/admin](https://i-23116-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-05 21:19] magento-engcom-team commented on #23116
:white_check_mark: Confirmed by @davidverholen
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17263` were created

**Issue Available**: @davidverholen, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-05 22:08] magento-engcom-team commented on #23128
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17258`, `MC-17259` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-05 22:10] magento-engcom-team commented on #23113
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17268`, `MC-17269` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-05 22:13] magento-engcom-team commented on #23024
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17270`, `MC-17271` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-05 22:14] magento-engcom-team commented on #22883
:white_check_mark: Confirmed by @VasylShvorak
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17272`, `MC-17273` were created

**Issue Available**: @VasylShvorak, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-05 23:45] the-midi opened #23146 "Removing disabled product from flat table throw fatal errors."
### Description
With flat tables enabled, one website, 5 store views and 4000 products product saving is throwing a fatal error due to either:
`PHP Fatal error:  Allowed memory size of 792723456 bytes exhausted (tried to allocate 33554440 bytes) in magento/vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php on line 291`
or with more memory
`PHP Fatal error:  PDOException(code: 08S01):

[2019-06-06 01:39] LiamKarlMitchell commented on #8795
Still a problem on 2.3.0
Disabling a product is not removing it from front end and on admin grid it still says enabled despite being disabled in product edit page.

"Websites" column not found site is single store.

![image](https://user-images.githubusercontent.com/1968109/59000841-756fa600-8860-11e9-898f-aa4ea0acb8ae.png)

Smells like a Bug to me.

[2019-06-06 06:04] kirtinariya1 commented on #23057
You can use plugin for single function override.
https://magento.stackexchange.com/questions/142607/magento-2-1-preference-doesnt-work-with-block

[2019-06-06 06:42] rselvakumar29 opened #23153 "Using Event : checkout_cart_add_product_complete Adding "additional_options" to Quote Item is not validating stock when adding product to the Cart"
### Preconditions (*)

1. Version 2.3

### Steps to reproduce (*)

1. Create Event checkout_cart_add_product_complete
2. Update the Last Quote Item "additional_options" in Observer

            $quoteItems = $this->_checkoutSession->getQuote()->getAllVisibleItems();

            $parentItem = 0;
            foreach ($quoteItems as $quoteItem):
                  $parentItem = $quoteItem;

[2019-06-06 06:50] jarnooravainen commented on #18009
To me it looks like this fix (https://github.com/magento/magento2/commit/3b9e96360e71b5d38167068b2b1a069ca97dc672) is trying to fix something that isn't broken.

**Proof**

- If you provide value for option (which is the option ID, incremental ID of the option, by the way) in the POST request, \Magento\Eav\Model\ResourceModel\Entity\Attribute::_updateAttributeOption will make just update query and

[2019-06-06 07:00] AlexWorking commented on #13476
Hello @infortis. We retested Your issue on Your reported version 2.2.2 and on the latest 2.2-develop and 2.3-develop versions. The described behaviour is realy reproduced on Your version, but on those latest develops it isn't reproduced  anymore. Its highly likely that the issue has been fixed, (if it was an issue at all -https://github.com/magento/magento2/issues/13476#issuecomment-375899773). Th

[2019-06-06 07:00] #13476 closed, assigned to nobody

[2019-06-06 07:47] fsw commented on #22769
@davidverholen as mentioned in #22826 you can test something like this to fix this issue:

[code]

[2019-06-06 08:12] yashjain87553 opened #23154 "Magento2 products csv export , getting 404 page , nearly after 7 minutes. ( products count 46452)"
### Preconditions (*)
1.Magento CE 2.3.1 without sample data is installed.
2.Codero (centos 7) server.
3.Total no of Products is 46452
4.All products are of Simple Type.
5.All products are imported using csv.
6.Memory_Limit 4096M

### Steps to reproduce (*)
1.Login to admin
2.Click on SYSTEM->Data Transfer->Export
3.Select Entity type products, Export File Format (CSV)
4.Click Continue.
5.Initial

[2019-06-06 08:16] AlexWorking commented on #23146
Hello @michaelwylde. Thanks for reporting. We've been not able to reproduce Your issue following the steps You provided.
![flat](https://user-images.githubusercontent.com/27814011/59017537-6979e900-884c-11e9-92a8-e4ae47528f2c.png)

Please confirm You can reproduce it on a fresh clear, i.e vanilla instance of magento.

[2019-06-06 08:49] chickenland commented on #7199
Seeing this issue in 2.3.1 too - would be useful to know the correct setup suggested for this if it's config.

[2019-06-06 09:42] evs-xsarus opened #23156 "Importing: non-default multiple value separator can't be used in custom multiple select attribute"
### Preconditions (*)
Magento 2.4-develop

### Steps to reproduce (*)
1. Create a custom product attribute with type multi_select.
2. Create a catalog_product.csv that contains product data and at least 1 multiselect attribute with 2 options or set two option values to the product, save and make export
3. Separate options with custom separator, for example, **|||**
![image](https://user-images.git

[2019-06-06 09:57] SeeniBorn commented on #13225
I'm also facing the same issue. We have multiple instances with AWS. Post deploy my website broken due to 404's on css and js files.
Will the issue be solved when we share the pub/static/_cache across all instances ?

[2019-06-06 09:58] orlangur commented on #23143
@atwixfirster such improvements may be proposed directly as pull requests without even reporting an issue ;) Issues are mostly useful when we deal with a bug and need to verify it against all release lines.

[2019-06-06 09:58] #23143 closed, assigned to atwixfirster

[2019-06-06 10:00] orlangur commented on #23153
@rselvakumar29 you must not change system state in observer in the first place.

GitHub is intended for bug reports, when you face with some questions with your code please use Stack Overflow.

[2019-06-06 10:00] #23153 closed, assigned to nobody

[2019-06-06 10:07] gwharton commented on #13225
@SeeniBorn

Either turn off CSS merging, or pub/static/_cache needs to be writable by and shared across all instances.

[2019-06-06 10:21] orlangur commented on #23120
@dmanners we need to describe in more details somewhere in https://github.com/magento/magento2/blob/2.3-develop/.github/ISSUE_TEMPLATE/developer-experience-issue.md how a proper bug report should look like. In this one there is obviously lack of debug on developer side in own custom code.

[2019-06-06 10:22] SeeniBorn commented on #13225
@gwharton
Turning off CSS merging will affect the site performance right?
If so, I will go for shared across all instances.

[2019-06-06 10:29] craigcarnell commented on #13225
You can't share pub/static/_cache without sharing pub/static.

Is that what's needed?

[2019-06-06 10:32] gwharton commented on #13225
Depends on how many modules you have. I just put up with the fact that i have about 10 css files instead of 1 merged and dont need shared static. Has little effect with http/2.0 anyway. What has far more of an effect is not being able to merge js effectively as there are far far more of them.

[2019-06-06 10:34] gwharton commented on #13225
My pub/static folder is uploaded to a read only cdn drive at deploy time so i cant have a shared writeable area under pub/static using that deploy method. My frontends dont even have the pub/static folder on them.

[2019-06-06 10:45] QuentinFarizonAfrimarket commented on #23054
Even with my patch (https://github.com/magento/magento2/pull/23125) I still have issues where no cron is currently running, it's not stuck in cron_schedule, but some mviews are stuck to 'working'

[code]
[code]

I have no ideas how this can happen, I'm open to suggestions

[2019-06-06 10:52] SeeniBorn commented on #13225
What is the cdn provider you are using?

[2019-06-06 10:53] gianisimone commented on #12614
Magento 2.3 and the issue is still there. Cron jobs saturates the resources of the hosting and the website suffers from memory leaks. I think I will never use Magento again.

[2019-06-06 11:04] gwharton commented on #13225
My servers are on google compute engine so i just upload static content to a google storage bucket configured for direct public access. Handles all the caching and scaling and offloads the majority from your server. Works quite well (given a few tweaks)

[2019-06-06 11:09] qsolutions-pl commented on #23120
I can share the entire module if needed.
The part of the code I copied here as bug report, which is related to applying coupon code, is a direct **copy-paste** from Magento 2 Core `CouponPost` class, from this file
`vendor/magento/module-checkout/Controller/Cart/CouponPost.php`
I was operating on checkout sesssion before and had the exact same issue

[2019-06-06 11:19] Nazar65 commented on #22602
@petterjv we closing due to inactivity feel free to reopen issue if issue still exists.

[2019-06-06 11:19] #22602 closed, assigned to nobody

[2019-06-06 11:21] Nazar65 commented on #22741
Hi @ankursachdeva11 thank you for you report, please open issue here -> https://github.com/magento-engcom/msi

[2019-06-06 11:21] #22741 closed, assigned to mallikaverma

[2019-06-06 11:24] engcom-backlog-nazar commented on #22141
Hi @nickpiro thank you for you report, this issue has already fixed 2.3-dev branch, and will be available on 2.3.2  and 2.2.9 release soon .

[2019-06-06 11:24] #22141 closed, assigned to nobody

[2019-06-06 12:18] engcom-backlog-nazar commented on #22617
Hi @mrtuvn thank you for your updates, i;m not able to reproduce on fresh magento 2.3.1 and 2.3-develop, seems like this related to your configuration, or file system permission, feel free to reopen if issue still exists.

[2019-06-06 12:18] #22617 closed, assigned to nobody

[2019-06-06 12:20] qsolutions-pl commented on #23120
I've resolved the issue and I'm closing this one.
@orlangur it turned out that another peace of the code was not casting variables in the right way, 3rd party extension :-/
Another win for xDebug

@orlangur  @dmanners @shikhamis11  thanks for jumping in and all your feedback and help.
It is now safe to close the issue.

[2019-06-06 12:20] #23120 closed, assigned to shikhamis11

[2019-06-06 12:23] stoleksiy commented on #22938
Hi @mavajih , thank you for you report, i'm closing this as duplicate to this -> #19710

[2019-06-06 12:23] #22938 closed, assigned to soleksii

[2019-06-06 12:24] mattheo-geoffray commented on #23054
@QuentinFarizonAfrimarket Hi did you try this fix?
Issue: https://github.com/magento/magento2/pull/23079/files
Fix: https://github.com/magento/magento2/issues/23077
We have the same issue with millions of line in changelog tables especialy `catalog_product_flat_cl` maybe the same for you.
It is stuck in `\Magento\Framework\Mview\View::update` processing millions of versions in chunck

[2019-06-06 12:24] grahamslam commented on #6415
I had this issue and upon further investigation it appeared the cause of my error was due to running out of hard disk space on my VPS. I had set up a duplicate site on my server for testing and apparently the last product my client added filled up the disk space. So I had no room On-Disk for mysql to use a temporary table. Just something else to look at.

[2019-06-06 12:42] craigcarnell commented on #13225
Is this the kind of error everyone is seeing:

[code]

[2019-06-06 13:12] bobemoe commented on #16134
Yeah I'm still seeing this on 2.3.1 too, kind of.

If I create the category in the admin then the URL Rewrites are generated correctly.

However if I create the category programmatically, then the rewrite is only generated for the default store view, and the other store views have .../view/id/... style URL.

I wonder if its an error in my code? Do I need to trigger the generation of rewrites? Shou

[2019-06-06 13:47] devamitbera commented on #4289
Issue at logical implementation at  [\Magento\Catalog\Model\Layer\Filter\AbstractFilter](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Model/Layer/Filter/AbstractFilter.php#L394)

Current condition `return $optionCount < $totalSize;` should be return `$optionCount  =< $totalSize;`

## Modified Method is

[2019-06-06 14:14] QuentinFarizonAfrimarket commented on #23054
Hello, yes I have applied the fix  https://github.com/magento/magento2/issues/23077 and recreated triggers : https://github.com/magento/magento2/pull/23079#issuecomment-498863413

We sill have issues, also with catalog_product_flat (temporary index table seems to disappear during indexation)

[2019-06-06 14:14] duckchip opened #23157 "Invalid date when timeOnly defined on datetime UIComponent"
### Preconditions (*)
1. Magento 2.3.1

### Steps to reproduce (*)
1. Define a ui_component form.xml
1. add a Datetime UI component with the option 'timeOnly' set to 'yes'
[code]

[2019-06-06 14:29] sigismund commented on #22491
Any news regarding this issue?

[2019-06-06 14:33] Fadjolo commented on #22773
I also got his error but only with payment module,

Module 'Magento_Amqp':
Type Error occurred when creating object: Magento\Framework\Communication\Config\Data

debug.log

[2019-06-06 11:57:30] main.CRITICAL: Type Error occurred when creating object: Magento\Framework\Communication\Config\Data, Argument 2 passed to Magento\Framework\Reflection\TypeProcessor::resolveFullyQualifiedClassName() must

[2019-06-06 14:33] nicholasscottfish commented on #5929
This does indeed look to be an issue with the data migration. @hostep's post helped me find the steps to "solve" the issue.

**Note:** Be sure to run the below steps in a development/staging environment and thoroughly test all url's are working prior to running on a live environment. Take a backup of any database before following any of the steps below.

1. Identify a product that has the issue; u

[2019-06-06 14:53] atwixfirster commented on #23143
Thanks for the flow explanation, @orlangur ! I will use it in my future PRs.

👍

[2019-06-06 15:30] ron-jomashop opened #23159 "Catalog Search module search with parenthesis breaks the site."
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Enable Elastic Search
2. append '/catalogsearch/result/?q=%28%28%28%28' to url. Ex: site.com/catalogsearch/result/?q=%28%28%28%28
3. The site will return a error.

### Expected result (*)

1. Should not have any errors.

### Actual result (*)

1. ```
2 exception(s):
Exception #0 (Zend_Db_Statement_Exception): SQLSTATE[42000]:

[2019-06-06 15:30] ron-jomashop commented on #23159
@magento give me 2.3-develop instance

[2019-06-06 15:30] magento-engcom-team commented on #23159
Hi @ron-jomashop. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-06 15:31] magento-engcom-team commented on #23159
Hi @ron-jomashop, here is your [Magento instance](https://i-23159-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23159-2-3-develop.instances.magento-community.engineering/admin](https://i-23159-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-06 15:36] ron-jomashop commented on #23159
It is reproducible on the Magento instance.

[2019-06-06 15:41] ron-jomashop commented on #23159
@magento give me 2.3.1 instance

[2019-06-06 15:41] magento-engcom-team commented on #23159
Hi @ron-jomashop. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-06-06 15:41] magento-engcom-team commented on #23159
Hi @ron-jomashop, here is your [Magento instance](https://i-23159-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-23159-2-3-1.instances.magento-community.engineering/admin](https://i-23159-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-06 16:01] ron-jomashop commented on #23159
Cannot produce the error. Close the ticket.

[2019-06-06 16:02] MeCapron opened #23160 "Hour is not based on timezone in grid (back-office)"
### Preconditions (*)

Magento 2.3.1

### Steps to reproduce (*)

1. Change Timezone to Europe
2. Create an order
3. Check the hour, there is a gap of ~1hour

### Expected result (*)

1. The hour should be based on the locale

### Actual result (*)

This is the result in the grid
![image](https://user-images.githubusercontent.com/49562288/59047894-0fe1e080-8885-11e9-8d85-ca7bd681098b.png)

This is

[2019-06-06 16:21] shikhamis11 commented on #23135
@roma84 , your changes seems working . you can prepare a pull request with your changes
https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#pull_request

[2019-06-06 16:31] nbennett25 commented on #9214
This seems like base functionality of the cart rule - we have a scenario where the conditions look for specific skus, the discount is 100% the price of the product, but since the 'Maximum Qty Discount is Applied To' doesn't work, all skus are discounted 100%.

[2019-06-06 16:45] magento-engcom-team commented on #23157
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17293`, `MC-17294` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-06 17:12] shikhamis11 commented on #23133
@devamitbera I checked on magento 2.3.1 I am not able to reproduce the issue . It's working fine

[2019-06-06 17:23] orlythatscool commented on #9214
In your case, I believe you should be using the Action rules to specify SKUs.

[2019-06-06 17:30] hubertinio commented on #19209
The issue still exists, there is a bug releated with js module, my resolution below:

[code]

[2019-06-06 17:38] nbennett25 commented on #9214
@orlythatscool  - we do - we have the Actions set to be applied to the same set of skus as the conditions, same result.

[2019-06-06 17:45] orlythatscool commented on #9214
Try taking the SKUs out of the Conditions.

[2019-06-06 17:56] devamitbera commented on #23133
@shikhamis11 ,  Have you check using Command line. Am i right?

[2019-06-06 18:02] nbennett25 commented on #9214
@orlythatscool  - no luck. Removed the skus from the conditions & all skus in the Actions are having the discount applied, even though `Maximum Qty Discount is Applied To` is set to 1.

[2019-06-06 18:46] ron-jomashop commented on #23159
It is replicable with ElasticSearch enabled. I am using elasticsearch2 right now. Cannot reproduce on the instance because it doesn't have elasticsearch running in the background.

[2019-06-06 18:57] devamitbera commented on #23133
@shikhamis11 , seems it is fixed at 2.3-develop branch. Thanks for you all test.

[2019-06-06 19:02] pemann commented on #22366
Occurs for me also after I upgraded to 2.2.8 (from 2.2.3)

[2019-06-06 19:12] nbennett25 commented on #9214
@orlythatscool - tinkered with this a bit - seems that the `Maximum Qty Discount is Applied` is set on a _per_sku_ basis, not on the whole cart.

Ie if I set the action to discount 100%, the `Maximum Qty Discount is Applied` to 1, and assign `Sku is one of S101,S102`. Then put 3 items in my cart: 2x S101 and 1x S102, I will get 100% off _one_ S101 and _one_ S102, whereas I would expect the rule to

[2019-06-06 19:31] AndyJAllen commented on #22960
I am also experiencing this after upgrading from 2.2.6 to 2.3.1. Same exact error doing the same steps. Just clicking edit on an existing order results in the error pointed out by the op.

[2019-06-06 19:43] davidverholen commented on #23159
@ron-jomashop thanks for your report.

While I was able to reproduce the issue on a fresh 2.3.1 instance it seems to be fixed in the 2.3-develop branch. So it should already be fixed for 2.3.2

Since 2.2-develop does not support elasticsearch yet, this issue can be closed.

[2019-06-06 20:07] orlythatscool commented on #9214
Correct. Now you've stumbled upon the exact issue that this ticket is based. It's a major flaw.

[2019-06-06 20:17] ron-jomashop commented on #23159
@magento-engcom-team give me 2.3.1 instance with elasticsearch

[2019-06-06 20:17] magento-engcom-team commented on #23159
Hi @ron-jomashop. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-06-06 20:18] ron-jomashop commented on #23159
@magento give me 2.3-develop instance with elasticsearch

[2019-06-06 20:18] magento-engcom-team commented on #23159
Hi @ron-jomashop. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-06 20:18] magento-engcom-team commented on #23159
Hi @ron-jomashop, here is your [Magento instance](https://i-23159-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-23159-2-3-1.instances.magento-community.engineering/admin](https://i-23159-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-06 20:50] omarmohssen commented on #7652
products without sku in our case caused the problem

[2019-06-06 21:28] 00F100 opened #23161 "why this jerry-rig?"
Why use this jerry-rig? so amateur.

Please @magento-team have many files with jerry-rig, why?

This is not a serious solution!

2.3-develop/app/code/Magento/Tax/view/adminhtml/templates/rate/js.phtml

[2019-06-06 21:50] magento-engcom-team commented on #22506
Hi @GrishmaNayee. Thank you for your report.
The issue has been fixed in magento/magento2#23151 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [15b5cac75555ded4b9a8ddcf6ab7c756dea8a23a](https://github.com/magento/magento2/commit/15b5cac75555ded4b9a8ddcf6ab7c756dea8a23a)

The fix will be available with the upcoming 2.2.10 release.

[2019-06-06 21:51] DanielRuf commented on #23161
Hi @00F100,

what exact issue do you have?

[2019-06-06 21:57] ron-jomashop commented on #23159
I tested it with 2.3.x develop version and it also has this bug.

[2019-06-06 22:03] jarnooravainen opened #23162 "Fix for issue 18009 broke attribute option management"
### Preconditions (*)

1. 2.2.8, Magento_Eav 101.0.7

### Steps to reproduce (*)

1. Update existing attribute option with \Magento\Eav\Api\AttributeOptionManagementInterface::add

### Expected result (*)

1. Existing option and its values get updated

### Actual result (*)

1. New option is being created instead of updating existing one

Fix (https://github.com/magento/magento2/commit/3b9e96360e7

[2019-06-06 22:06] ron-jomashop commented on #23159
@davidverholen I have tested it with 2.3-develop and it is not working. Can you test it again? Thanks!

[2019-06-06 22:20] michaelwylde commented on #23146
@AlexWorking Yes I can confirm I could replicate this on a vanilla install. My max_allowed_packet and/or memory_limit may be different to yours. Since you did not receive the fatal error did you `Watch SQL logs for incorrect query or receive fatal error.` instead? Were your removal of the disabled products `DELETE FROM catalog_product_flat_2 WHERE (entity_id IN(1,1,1,1,1,1,1...` queries sane with

[2019-06-06 23:07] davidverholen commented on #23159
@ron-jomashop I tried again and could not reproduce it (while I was able to reproduce it directly on 2.3.1)

**Steps I tried to reproduce**:
1. Install vanilla 2.3-develop instance with sample data
2. start elastic search server via docker-compose (see config below)
3. log into admin, change search engine to elasticsearch 6.0+
4. clear cache
5. rebuild index
6. open `/catalogsearch/result/?q=%28`

[2019-06-07 02:31] krishprakash commented on #22997
Hello @urvishpatelce
I'm closing this issue as cannot reproduce
Feel free to reopen this issue if you phase again.
Thank you.

[2019-06-07 02:31] #22997 closed, assigned to krishprakash

[2019-06-07 03:05] magento-engcom-team commented on #23080
Hi @alexeya-ven. Thank you for your report.
The issue has been fixed in magento/magento2#23081 by @alexeya-ven in 2.3-develop branch
Related commit(s):
 - [01551217ed8473d692212df8873aea9c19306c7e](https://github.com/magento/magento2/commit/01551217ed8473d692212df8873aea9c19306c7e)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-07 03:05] #23080 closed, assigned to arendarenko

[2019-06-07 03:05] magento-engcom-team commented on #22425
Hi @ketan-krish. Thank you for your report.
The issue has been fixed in magento/magento2#22426 by @ravi-chandra3197 in 2.3-develop branch
Related commit(s):
 - [19e7380ec70ab4df8cc1d1704024dcce4600d24c](https://github.com/magento/magento2/commit/19e7380ec70ab4df8cc1d1704024dcce4600d24c)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-07 03:05] #22425 closed, assigned to ravi-chandra3197

[2019-06-07 03:05] magento-engcom-team commented on #22511
Hi @squeegy06. Thank you for your report.
The issue has been fixed in magento/magento2#22521 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [db71c65a247ccc78bce17e0f4bc44f1300e67c02](https://github.com/magento/magento2/commit/db71c65a247ccc78bce17e0f4bc44f1300e67c02)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-07 03:05] #22511 closed, assigned to shikhamis11, mahesh-rajawat

[2019-06-07 03:08] magento-engcom-team commented on #21671
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#21674 by @gwharton in 2.3-develop branch
Related commit(s):
 - [c764ca310cdfa890caf6fc144da2a3aa5861cbee](https://github.com/magento/magento2/commit/c764ca310cdfa890caf6fc144da2a3aa5861cbee)
 - [057c13d66dc67c8291662ec5be77b87d26db781f](https://github.com/magento/magento2/commit/057c13d66dc67c8291662ec5be77b87d26

[2019-06-07 03:08] #21671 closed, assigned to gwharton

[2019-06-07 03:08] magento-engcom-team commented on #21672
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#21674 by @gwharton in 2.3-develop branch
Related commit(s):
 - [c764ca310cdfa890caf6fc144da2a3aa5861cbee](https://github.com/magento/magento2/commit/c764ca310cdfa890caf6fc144da2a3aa5861cbee)
 - [057c13d66dc67c8291662ec5be77b87d26db781f](https://github.com/magento/magento2/commit/057c13d66dc67c8291662ec5be77b87d26

[2019-06-07 03:08] magento-engcom-team commented on #16446
Hi @LouNik1984. Thank you for your report.
The issue has been fixed in magento/magento2#19184 by @ravi-chandra3197 in 2.3-develop branch
Related commit(s):
 - [dfaee8e70d76f47e39396922d7a05287150945cb](https://github.com/magento/magento2/commit/dfaee8e70d76f47e39396922d7a05287150945cb)
 - [6ce20262a90e0f9045691f3207d9acaa2b7b3f40](https://github.com/magento/magento2/commit/6ce20262a90e0f9045691f32

[2019-06-07 03:08] #16446 closed, assigned to ravi-chandra3197

[2019-06-07 03:08] magento-engcom-team commented on #14492
Hi @victortodoran. Thank you for your report.
The issue has been fixed in magento/magento2#21394 by @novikor in 2.3-develop branch
Related commit(s):
 - [4e11099e6163b5be250725c4727f85c0bba4847b](https://github.com/magento/magento2/commit/4e11099e6163b5be250725c4727f85c0bba4847b)
 - [1e55b13126e87f3b9e120743851ec7f0084eaaea](https://github.com/magento/magento2/commit/1e55b13126e87f3b9e120743851ec7

[2019-06-07 03:08] #14492 closed, assigned to novikor

[2019-06-07 05:59] engcom-backlog-nazar commented on #23161
Hi @00F100
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) Or slack channel,  for advice or general discussion about this issue.

[2019-06-07 05:59] #23161 closed, assigned to nobody

[2019-06-07 06:55] adarshkhatri commented on #18139
@BabliDey  did you find why it was throwing an error?

[2019-06-07 07:06] MeCapron commented on #23160
@magento give me 2.3-develop instance

[2019-06-07 07:06] magento-engcom-team commented on #23160
Hi @MeCapron. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-07 07:07] magento-engcom-team commented on #23160
Hi @MeCapron, here is your [Magento instance](https://i-23160-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23160-2-3-develop.instances.magento-community.engineering/admin](https://i-23160-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-07 07:14] MeCapron commented on #23160
I could not reproduce it on a vanilla instance.

[2019-06-07 07:23] AlexWorking commented on #23154
Hello, @yashjain87553. We are not able to reproduce Your issue:
![export](https://user-images.githubusercontent.com/27814011/59087399-3186aa80-890d-11e9-8944-d2754595fe5d.png)
Our export as You can see is quite successful.
Could You please try to reproduce it on a clear, vanilla instance of Magento. Thank You.

[2019-06-07 08:21] sivasdescalzo opened #23168 "Slack Support"
I am trying to connect my Slack with https://github.com/magento/magento2 repo in order to get notifications everytime there is a release, but it seems GitHub Slack APP needs some permissions to the repo to do that.

Cloud you please install GitHub Slack APP in your repo in order to be able to connect Slack with your repo?
Many thx!

[2019-06-07 08:47] kestraly commented on #7298
Fix for me on a single store view, was to remove anything that had store_id as 1 set from importing data.

DELETE FROM `catalog_product_entity_varchar` WHERE `store_id` = 1

[2019-06-07 08:50] yashjain87553 commented on #23154
Thank you Alex for the reply ,
I don't know why it is working on your system and giving 404 error on my side.

[2019-06-07 08:57] amenk commented on #7298
@kestraly Are you sure you wanted to delete every strings in store_id ? Very dangerous query :)

[2019-06-07 08:58] stoleksiy commented on #23168
Hi @sivasdescalzo
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) Or slack channel,  for advice or general discussion about this issue.

[2019-06-07 08:58] #23168 closed, assigned to soleksii

[2019-06-07 09:01] kestraly commented on #7298
@amenk - Yeah. Backed it up first. A resaved doesn't create anything for that store view. No other issues experienced. So yeah, I did intend to do that and the consequences were none existent apart from fixing the issue. Next!

[2019-06-07 09:11] magento-engcom-team commented on #23162
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17317` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-07 09:15] engcom-backlog-nazar commented on #23078
Hi @krishnamsgr
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-06-07 09:15] #23078 closed, assigned to nobody

[2019-06-07 09:24] huyphan261 opened #23169 "The URL Key field would generate a URL that already exists"
### Preconditions (*)

1. Magento CE 2.2.7 without sample data is installed.
2. Products import from old shop

### Steps to reproduce (*)

1. Go to backend
2. Go to manage products
3. Search any product
4. Try to add Parent category of sub-category

### Expected result (*)

1. [Screenshots, logs or description]
Can not save product with new category
![image](https://user-images.githubusercontent.c

[2019-06-07 09:32] engcom-backlog-nazar commented on #23003
HI @danharper83 thank you for you report, this issue has already fixed in 2.3-develop and 2.2-develop branch and available on 2.3.1 release and 2.2.9 release.

[2019-06-07 09:43] danci1973 commented on #15427
We're also observing that issue on 2.3.1 - lot's of _The "" order ID is incorrect_ messages, some have a number, but most don't:

`main.CRITICAL: The "XXXXXXXXX" order ID is incorrect. Verify the ID and try again. {"exception":"[object] (Exception(code: 0): The \"XXXXXXXXX\" order ID is incorrect. Verify the ID and try again. at /var/www/vhosts/mage_root/vendor/magento/module-paypal/Model/Ipn.php:

[2019-06-07 09:51] huzanf commented on #23096
Hi @sdzhepa,

Looking forward for your support

[2019-06-07 09:55] engcom-backlog-nazar commented on #22999
HI @glo-arandazzo thank you for you report, this issue related to your customization or custom modules, on clean 2.2.8 we are  able to run setup:upgrade without this errors. thank you for collaboration if issue still exists, feel free to reopen.

[2019-06-07 09:55] #22999 closed, assigned to nobody

[2019-06-07 09:56] Mericic commented on #22094
I had the same issue on a project I just joined. Product did not wanted to be saved, and elasticsearch was mentionned in the logs. After I started elastic search (systemctl start elasticsearch), the problem desapeared. Hope It will help.

[2019-06-07 10:14] boter3 commented on #15427
Same issue since upgrade to 2.3.1 (single store mode). There are 7 missing and 2 registered PayPal payments in Magento in 11 days.
Missing orders are recurring in exception log as

`[2019-06-05 20:47:44] main.CRITICAL: The "0000XXXXX" order ID is incorrect. Verify the ID and try again. {"exception":"[object] (Exception(code: 0): The \"0000XXXXX\" order ID is incorrect. Verify the ID and try again.

[2019-06-07 10:20] engcom-backlog-nazar commented on #22981
HI @ioweb-gr thank you for you report, i'm not able to reproduce following steps you described, seems like this related to your configuration, or enviroument m please recheck your system configuration like php.ini.

[2019-06-07 10:20] #22981 closed, assigned to nobody

[2019-06-07 10:33] Emanuel-23 opened #23170 "Unable to override padding in .lib-main-navigation-desktop mixin using @submenu-desktop__padding"
Currently it is not possible to override the `.submenu` padding within the `.lib-main-navigation-desktops()` mixin because of a duplicate definition of the padding property:
[Line 408](https://github.com/magento/magento2/blob/36097739bbb0b8939ad9a2a0dadee64318153dca/lib/web/css/source/lib/_navigation.less#L408)
[Line 412](https://github.com/magento/magento2/blob/36097739bbb0b8939ad9a2a0dadee643181

[2019-06-07 11:02] boter3 commented on #5929
We are experiencing same problem after upgrade to **2.3.1** - store is in '**single store mode**'. New products get _catalog/product/view/id/9027/s/product_name/_ instead of _/product_name/_.

If we switch to **multistore mode** everything works as expected, but this is not an option.

For now the only solution for administrators is:
- create new product and save it **without** assigning it to any

[2019-06-07 11:15] AlexWorking commented on #23160
Hello @MeCapron. Thank You for applying. We also haven't been able to reproduce Your issue. So it's most likely that the problem You are facing is caused not by Magento itself. So we are closing the issue now, but If You find the way how to reproduce it on a vanilla instance of the latest develop version please feel free to reopen it.

[2019-06-07 11:15] #23160 closed, assigned to nobody

[2019-06-07 11:41] orlangur commented on #23169
@huyphan261 did you set `Use Category URL` to `Yes`?

[2019-06-07 11:57] engcom-backlog-nazar commented on #23014
Hi @dverkade thank you for you report, this is not best practice to change app/etc/config.php https://devdocs.magento.com/guides/v2.3/config-guide/prod/config-reference-configphp.html
https://devdocs.magento.com/guides/v2.3/config-guide/config/config-php.html

[2019-06-07 12:15] ivankakurov opened #23171 "Search result relevance Again"
### Summary (*)
I need to add search result relevance in my search. I don't care for marketing, i need just to return relevance result.
### Examples (*)
Go to every clean magetno2 project whit sample data. Enter in search box `Yoga`.
I expect  the first product to be `Yoga Adventure` not `Josie Yoga Jacket`.
Also Searching by phrase is nightmare. When i search `Yoga Adventure` i expect to see resu

[2019-06-07 12:33] engcom-backlog-nazar commented on #23070
Hi @manuelcanepa thank you for you report, it will be proceed faster if you move this to https://github.com/magento/community-features

[2019-06-07 12:33] #23070 closed, assigned to nobody

[2019-06-07 12:36] engcom-backlog-nazar commented on #23169
@magento give me 2.2-develop instance

[2019-06-07 12:36] magento-engcom-team commented on #23169
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-07 12:36] magento-engcom-team commented on #23169
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-23169-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23169-2-2-develop.instances.magento-community.engineering/admin](https://i-23169-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-07 13:27] orlangur commented on #23171
@ivankakurov this is not a valid bug report. You should understand current implementation first and then suggest concrete changes to it.

[2019-06-07 13:27] maurixxxx commented on #22912
Hi did you ran the php bin/magento setup:static-content:deploy -f with the correct language option? i had the same issue and i solved it running again content:deploy in it_IT in my case.

[2019-06-07 13:28] orlangur commented on #23170
@Emanuel-23 great finding! Can you create a PR maybe?

[2019-06-07 13:35] engcom-backlog-nazar commented on #22912
Hi @pietervanuhm thank you for you report, i'm not able to reproduce following steps you described, seems like this related to your configuration, feel free to reopen this one if issue still exists.

[2019-06-07 13:35] #22912 closed, assigned to nobody

[2019-06-07 13:37] engcom-backlog-nazar commented on #23169
Hi @huyphan261  thank you for you report, i'm no t able to reproduce following steps you described on clean magento 2.2-develop , seems like this related yo your configuration or custom modules, thanks for collaboration.

[2019-06-07 13:37] #23169 closed, assigned to nobody

[2019-06-07 13:38] AlexWorking commented on #23146
Got no fatal error but SQL queries really contain those duplicate ids. The issue is not reproduced on 2.2-develop.

[2019-06-07 13:39] magento-engcom-team commented on #23146
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17318` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-07 13:40] duckchip commented on #21885
what's the status on this issue?

[2019-06-07 13:42] duckchip commented on #15273
what's the status of this issue?

[2019-06-07 13:54] LucianMihalache commented on #2892
Why is this closed and tagged as fixed?
It is not fixed in 2.3.1.
The linked task is still not done  too.

Endpoint:

Filters:

Response from api:

Query on the magento end:

[2019-06-07 14:06] phoenix128 commented on #22618
Thank you @kassner for your contribution.
I am reviewing it right now.

[2019-06-07 14:51] maheshWebkul721 commented on #23128
I am working on it.

[2019-06-07 14:59] sprankhub commented on #21299
@mattijv thanks for your work on that. Option 2 does not work for me on Magento 2.3.1. I tried to apply your changes from the pull request via `cweagans/composer-patches`, which worked after some time (by removing the changes made to test classes and applying the `app/etc/di.xml` change manually). However, the bug is still present. So either:

1. I am not applying the changes correctly.
2. Other u

[2019-06-07 15:02] sprankhub commented on #21299
@magento give me 2.3-develop instance

[2019-06-07 15:03] magento-engcom-team commented on #21299
Hi @sprankhub. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-07 15:03] magento-engcom-team commented on #21299
Hi @sprankhub, here is your [Magento instance](https://i-21299-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21299-2-3-develop.instances.magento-community.engineering/admin](https://i-21299-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-07 15:04] cabunar commented on #15545
These commands fix the problem..

You can add a crontab ...
0 0 * * *  /usr/bin/php /var/www/myproject/bin/magento cache:clean && /usr/bin/php /var/www/myproject/bin/magento indexer:reindex

The bin/magento setup:cron:run does not work properly..

[2019-06-07 15:12] sprankhub commented on #21299
Indeed, this works on 2.3-develop. So either option 1 or 2 is correct. Then I will need to wait for 2.3.2...

[2019-06-07 15:12] ivankakurov commented on #23171
@orlangur this is not a bug?
what then do you think is a bug -  syntax error or exception ?
i think is that is a bug, but is not related with concrete implementations. This a core bug.
In my case i found solution and my store has the most accurate and fastest search, but I do not recommend it to anyone unless it is a very experienced programmer.

I reported this here because too many people need a

[2019-06-07 15:12] ron-jomashop commented on #23159
I am sorry but can you test it with ElasticSearch 2 again? I think it only occurs on older version of elasticsearch.

[2019-06-07 15:18] LucianMihalache opened #23172 "Bug - Magento_Eav - eav_attribute_group (repository) filtering"
There is a bug on the Magento_Eav Module, to be more precise, there is a bug when you want to filter the attribute_group collection by multiple values (IN).

**The bug affects rest api too*

### Preconditions (*)

1. Any Magento 2.3.1 that does not overwrite Magento_Eav module
2. Some data on the site, I tested with sampledata

### Steps to reproduce (*)

1. Try to filter the eav_attribute_group (

[2019-06-07 15:21] mattijv commented on #21299
@sprankhub In practice only the `app/etc/di.xml` change should be needed as the root cause is the missing head request interface in most controllers, which leads to Magento deciding that there is no controller that can respond to the incoming request. The other changes are tests or related to stripping body content from the head responses.

Make sure that your change persists and that you apply th

[2019-06-07 16:00] AlexWorking commented on #23171
Hello, @ivankakurov. Thanks for applying. You see, the relevance here may mean much more than simply relevance by search phrase components order. Lets take for instance the following situation. One searches for a product that as far as one remembers contains a word of "Yoga". With that lets assume that "Josie Yoga Jacket" is sold approximately 10000 units per month while "Yoga Adventure" - only 10

[2019-06-07 16:00] #23171 closed, assigned to nobody

[2019-06-07 16:16] AndyJAllen commented on #12679
I was having this issue after upgrading from 2.2.6 to 2.3.1 and I eventually got it to go away. I'm not sure exactly what I did to resolve it but I'll share each step I took.

1. Remove the child folders in App/Code/Magento then run the upgrade/compile/deploy commands.

- TestModuleDirectoryZipCodes

- TestModuleFakePaymentMethod

- TestModuleSample

2. Verify the ownership permissions for files i

[2019-06-07 16:17] orlangur commented on #23171
@ivankakurov if you are not familiar with quality assurance in software development please let me help you.

https://glossary.istqb.org/en/search/bug says

An imperfection or deficiency in a work product where it does not meet its requirements or specifications.
Synonyms: bug, fault

So, when you have no clue how functionality is supposed to work, you cannot determine whether particular observed s

[2019-06-07 17:19] LucianMihalache commented on #23172
@magento-engcom-team Yes, I can reproduce it on multiple instances of 2.3.1
Can somebody work on this?
There is a little problem because I need to do api requests, and by doing N requests to get some attribute groups is really... inneficient, nobody wants to wait 10-20 seconds just to do some checks on the other end...

[2019-06-07 17:40] RenanLazarotto commented on #12271
This happened to me after I decided to format my computer. It worked only after:

1. `rm -rf node_modules`
2. `rm -rf vendor`
3. `composer install`
4. `npm install`
5. `bin/magento setup:upgrade`
6. `grunt exec:<taskname>`

Only now it works.

[2019-06-07 18:06] sdzhepa commented on #22608
@magento give me 2.3-develop instance

[2019-06-07 18:06] magento-engcom-team commented on #22608
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-07 18:06] magento-engcom-team commented on #22608
Hi @sdzhepa, here is your [Magento instance](https://i-22608-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22608-2-3-develop.instances.magento-community.engineering/admin](https://i-22608-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-07 18:07] magento-engcom-team commented on #23138
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17331` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-07 18:12] davidverholen commented on #23159
@ron-jomashop now also tested with elasticsearch2 and it also worked. Please make sure you are on a vanilla magento and on the latest 2.3-develop when trying to reproduce it

[2019-06-07 18:20] sdzhepa commented on #22608
@magento give me 2.2-develop instance

[2019-06-07 18:20] magento-engcom-team commented on #22608
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-07 18:21] magento-engcom-team commented on #22608
Hi @sdzhepa, here is your [Magento instance](https://i-22608-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22608-2-2-develop.instances.magento-community.engineering/admin](https://i-22608-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-07 18:31] 00F100 commented on #23161
this is gambiarra!

[2019-06-07 18:32] 00F100 commented on #23161
@engcom-backlog-nazar gambiarra! just this!

[2019-06-07 18:32] 00F100 commented on #23161
@DanielRuf this is bad pratice, very bad!

[2019-06-07 18:34] 00F100 commented on #23161
JS inline is bad pratice

[2019-06-07 18:35] 00F100 commented on #23161
i use magento EE and I refuse to accept this kind of "thing"

[2019-06-07 18:35] 00F100 commented on #23161
how I will be ignored solemnly

[2019-06-07 18:35] 00F100 commented on #23161
I'll leave some messages

[2019-06-07 18:36] 00F100 commented on #23161
to say: BAD PRATICE!!!!!!11

[2019-06-07 18:36] 00F100 commented on #23161
even an eastern child knows that this should not be done

[2019-06-07 18:42] hostep commented on #23014
@engcom-backlog-nazar: have you ever tried executing: `bin/magento app:config:dump`? Check the `app/etc/config.php` and `app/etc/env.php` files before and after doing so, you might be surprised 🙂

Documentation: https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-config-mgmt-export.html

[2019-06-07 20:26] snoroozi commented on #15115
Any update to a fix on this issue? Using 2.3

[2019-06-07 20:35] ron-jomashop commented on #23159
Alright. I will look into it. Thanks!

[2019-06-07 22:12] magento-engcom-team commented on #23080
Hi @alexeya-ven. Thank you for your report.
The issue has been fixed in magento/magento2#23164 by @speedy008 in 2.2-develop branch
Related commit(s):
 - [3a02c164227a5551571fcff3dfc197f4197a373d](https://github.com/magento/magento2/commit/3a02c164227a5551571fcff3dfc197f4197a373d)

The fix will be available with the upcoming 2.2.10 release.

[2019-06-07 22:12] magento-engcom-team commented on #22087
Hi @nicholasscottfish. Thank you for your report.
The issue has been fixed in magento/magento2#22646 by @Surabhi-Cedcoss in 2.3-develop branch
Related commit(s):
 - [b8bc2885b4059fe6c0f932a26a6495d6f7399896](https://github.com/magento/magento2/commit/b8bc2885b4059fe6c0f932a26a6495d6f7399896)
 - [82d09dcee2e57733c454e34dd48cb322bcccc17b](https://github.com/magento/magento2/commit/82d09dcee2e57733c4

[2019-06-07 22:12] #22087 closed, assigned to surabhisrivastava09

[2019-06-07 22:12] magento-engcom-team commented on #19872
Hi @aasim110. Thank you for your report.
The issue has been fixed in magento/magento2#21131 by @Bartlomiejsz in 2.3-develop branch
Related commit(s):
 - [ed43407dde622f7b6047b99c65fa5bd71db6d986](https://github.com/magento/magento2/commit/ed43407dde622f7b6047b99c65fa5bd71db6d986)
 - [619475dd35eb101e526ec98c6580ff7cb205a7cb](https://github.com/magento/magento2/commit/619475dd35eb101e526ec98c6580ff

[2019-06-07 22:12] #19872 closed, assigned to Bartlomiejsz

[2019-06-07 22:12] magento-engcom-team commented on #22092
Hi @jasonkcarter. Thank you for your report.
The issue has been fixed in magento/magento2#21131 by @Bartlomiejsz in 2.3-develop branch
Related commit(s):
 - [ed43407dde622f7b6047b99c65fa5bd71db6d986](https://github.com/magento/magento2/commit/ed43407dde622f7b6047b99c65fa5bd71db6d986)
 - [619475dd35eb101e526ec98c6580ff7cb205a7cb](https://github.com/magento/magento2/commit/619475dd35eb101e526ec98c65

[2019-06-07 22:15] okorshenko commented on #23098
Jimbo give me test instance

[2019-06-07 22:38] okorshenko commented on #23098
Jimbo give me test instance

[2019-06-07 22:42] engcom-tester commented on #3846
Hello @OleksiyOleksiyovych

Based on https://github.com/magento/magento2/pull/20204#issuecomment-500045327
The issue was fixed in commit https://github.com/magento/magento2/commit/eecedddf13acf2c59978a6817b86b7a7fe045880

[2019-06-07 22:42] #3846 closed, assigned to nobody

[2019-06-07 22:43] magento-probot-user commented on #23098
test

[2019-06-07 22:56] okorshenko commented on #23098
Jimbo give me test instance

[2019-06-07 22:59] #23098 closed, assigned to nobody

[2019-06-08 03:40] Sharlyll commented on #22045
Hi, for us non-techy fellows, the fix is to replace the three files with the those by @Nazar65 right?
I did that but the buttons continue to appear please see image

![Screenshot 2019-06-08 at 6 38 24](https://user-images.githubusercontent.com/22851271/59141579-35233b80-89b8-11e9-8213-77ff36e7706f.png)

[2019-06-08 16:53] lbajsarowicz opened #23180 ""Sort By: Price" issues with Configurable Products does not work without forced reindex"
### Preconditions

Verified with 2 clean installations (no 3rd party modules)

* Magento 2.3.1 CE
* ElasticSearch 5.6.14
* Production Mode
* Index on Schedule

And:

* Magento 2.2.6 CE
* ElasticSearch 5.6.14
* Production Mode
* Index on Schedule

### Steps to reproduce

1. Install clean Magento 2 instance
2. Deploy Sample Data
3. Run setup:upgrade (to install sample data)
4. Enter any category, ch

[2019-06-08 17:19] amenk commented on #23180
Wild guess: configurables are not reindexed when simples are updated?

[2019-06-08 17:52] QuentinFarizonAfrimarket commented on #19479
At least the log must be improved.

[2019-06-08 22:19] tomekjordan commented on #21380
I can confirm that Magento 2.3.1 creates crazy amounts of duplicated cron tasks, some of them are finished, many are missed, due to duplication. Especially some indexers were not refreshed in Update by Schedule mode. Definitely it should be fixed asap.

[2019-06-08 22:20] magento-engcom-team commented on #23053
Hi @TomashKhamlai. Thank you for your report.
The issue has been fixed in magento/magento2#23118 by @Wirson in 2.3-develop branch
Related commit(s):
 - [265e0d4e7ca2bc051652241020a1609e48523f72](https://github.com/magento/magento2/commit/265e0d4e7ca2bc051652241020a1609e48523f72)
 - [74373a005e6c018b691fcbf3191862d9960bc624](https://github.com/magento/magento2/commit/74373a005e6c018b691fcbf3191862d

[2019-06-08 22:20] #23053 closed, assigned to Wirson

[2019-06-08 22:20] magento-engcom-team commented on #21546
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#21605 by @gwharton in 2.3-develop branch
Related commit(s):
 - [5f6e24fa20087d3d37063bfab77ffca42625c9c5](https://github.com/magento/magento2/commit/5f6e24fa20087d3d37063bfab77ffca42625c9c5)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-08 22:20] magento-engcom-team commented on #21604
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#21605 by @gwharton in 2.3-develop branch
Related commit(s):
 - [5f6e24fa20087d3d37063bfab77ffca42625c9c5](https://github.com/magento/magento2/commit/5f6e24fa20087d3d37063bfab77ffca42625c9c5)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-08 22:20] #21604 closed, assigned to gwharton

[2019-06-08 22:20] magento-engcom-team commented on #22940
Hi @renard123. Thank you for your report.
The issue has been fixed in magento/magento2#23007 by @niravkrish in 2.3-develop branch
Related commit(s):
 - [c9f98fcebb40bbb9ee8fd7ca6f27e63c86ecc2ab](https://github.com/magento/magento2/commit/c9f98fcebb40bbb9ee8fd7ca6f27e63c86ecc2ab)
 - [40cc415a21ddc38dc5f410698c830c2918628891](https://github.com/magento/magento2/commit/40cc415a21ddc38dc5f410698c830c2

[2019-06-08 22:20] #22940 closed, assigned to gauravagarwal1001, niravkrish

[2019-06-08 22:20] magento-engcom-team commented on #4247
Hi @fetzi. Thank you for your report.
The issue has been fixed in magento/magento2#21876 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [c50975a7b3dd61cbc0d030cb56b4f0099a61921d](https://github.com/magento/magento2/commit/c50975a7b3dd61cbc0d030cb56b4f0099a61921d)

The fix will be available with the upcoming 2.3.3 release.

[2019-06-08 22:20] #4247 closed, assigned to Nazar65

[2019-06-08 22:24] magento-engcom-team commented on #23156
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17346`, `MC-17347` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-09 09:25] LKarklins commented on #5956
Reproduced in 2.2.8

[2019-06-09 09:52] brideo commented on #6610
Does anyone have a patch for this or can point me in the direction of what is going wrong? My rules are  set for a year in the past and years in the future so it's odd that timezones would affect this.

[2019-06-09 10:07] jimmybsilva commented on #13823
Magento ver. 2.3.1
php 7.2 rc

1 exception(s):
Exception #0 (Magento\Framework\Exception\StateException): The bucket doesn't exist.

Exception #0 (Magento\Framework\Exception\StateException): The bucket doesn't exist.
<pre>#1 Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection\Interceptor->getFacetedData('category') called at [vendor/magento/module-catalog-search/Model/Layer/Filter/Categ

[2019-06-09 10:33] tomekjordan commented on #7997
Tax issue exists even on Magento 2.3.1.
It should be fixed, and tax rate should be inherited from child products on configurables.
Or at least - there should be option for it - to use Main product tax rate, or from child.
Dissapointed that so simple and basic tax "bug" still exists in all Magento 2 releases

[2019-06-09 10:38] tomekjordan commented on #15567
@magento-engcom-team this is not correct behavior.
Tax rate should be taken from child product.
OR the best way
Store admin should have option on main product:
- use main product tax rate
- inherit tax rate from child product

[2019-06-09 12:10] tomekjordan opened #23181 "Configurable - no weight for child products - makes configurable virtual type - no shipping details on checkout"
Configurables child by default doesnt have weight set in Edit Configurable (creators),
when Main Configurable product is not saved with Weight before.
So when you forget it - and save later Configurable and its childs > there are no Shipment step at checkout. Checkot proceed like for virtual products - cannot ship to destination

### Preconditions (*)

1. Any Magento 2 (tested on M 2.3.1)
2. defau

[2019-06-09 12:21] gwharton commented on #21546
Incorrectly closed. Reopened.

[2019-06-09 13:15] tomekjordan opened #23182 "Configurable - removed child from configurable - checkout still possible"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Add Configurable product to the cart
2. Move to checkout
3. REMOVE configurable child and save configurable product. Of course simple child still exists in the store- but its not visible individually. BUT its not a part of configurable anymore.
4. Finish checkout is possible with product child that doesnt' exist

### Expected

[2019-06-09 13:55] tomekjordan opened #23184 "Configurable - saving without childs and no stock - gives 500"
### Preconditions (*)

1. Magento 2.3.1
2. MSI enabled by default. No any additional sources/stockes created. Just default config after install vanilla Magento 2.3.1
Probably with MSI disabled error will no appear - but I'm not sure.
3. Php 7.2

### Steps to reproduce (*)

1. Create Configurable
2. Dont create/assign any child products
3. Dont fill qty field
4. TRY to save Configurable

### Expect

[2019-06-09 16:18] guillaumecochard opened #23185 "Cart price rule on configurable product apply discount to all cart"
### Preconditions (*)
1. Magento 2.3.0 without sample date and totaly nude and on Magento 2.3.1 with custom template
2. PHP 7.1.27
3. Debian 8

### Steps to reproduce (*)
1. Create two configurable product with color configuration
2. Create Cart Rule with conditions :

If ALL  of these conditions are TRUE :
If an item is FOUND  in the cart with ANY  of these conditions true:
SKU  is  testproduit-b

[2019-06-09 20:13] sivaschenko commented on #22484
@magento run all tests

[2019-06-09 20:43] mrlerch opened #23186 "Unable to to add items when creating an order in M2.3.1 admin (error 500)"
### Preconditions (*)

CentOS Linux release 7.6.1810,
PHP 7.2.17 php-fpm,
nginx/1.15.12,
5.7.24-27 Percona
M2.3.1

### Steps to reproduce (*)

1. Log in to Magento Admin
2. Go to Sales -> Orders
3. Create New Order
4. Select Customer
5. Click on "Add Products"
6. Select a Product, or products. I just selected one product with qty 1
7. Click on "Add selected products to order"

### Expected result

[2019-06-09 20:51] mrlerch commented on #22045
I am having the same problems + a PayPal related issue when trying to place an order in Magento Admin. When will Magento 2.3.3 update be released? Rough estimate. I hope that these bugs can be fixed. Thank you in advance.

[2019-06-09 21:07] lbajsarowicz commented on #23180
Tried out already:
- #19878
- #19898
- #20407
- #22028

@amenk - That can be a good guess, let me check that on Monday.

[2019-06-10 03:37] mrlerch commented on #23186
So I have more information. When I disable the PayPal payment method that is included and shipped with M2.3.1 then it is kind of working. At least I can add and modify items in the order.

Still if the customer has items in the cart, and I check one or all and the click update in the left column at the bottom the simply seems to remove the items from the customer cart, but does t add it to the cur

[2019-06-10 06:51] ajijshekh123 commented on #23096
Ok @sdzhepa, Let me check the document and Update it.

[2019-06-10 07:34] krishprakash commented on #23185
@magento give me 2.3-develop instance

[2019-06-10 07:34] magento-engcom-team commented on #23185
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-10 07:35] magento-engcom-team commented on #23185
Hi @krishprakash, here is your [Magento instance](https://i-23185-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23185-2-3-develop.instances.magento-community.engineering/admin](https://i-23185-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-10 08:04] krishprakash commented on #23185
@magento give me 2.2-develop instance

[2019-06-10 08:04] magento-engcom-team commented on #23185
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-06-10 08:05] magento-engcom-team commented on #23185
Hi @krishprakash, here is your [Magento instance](https://i-23185-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23185-2-2-develop.instances.magento-community.engineering/admin](https://i-23185-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-10 08:07] sprankhub commented on #21299
Got it. I only patched `app/etc/di.xml`, but now I understood that I (also?) have to patch the file `vendor/magento/magento2-base/app/etc/di.xml`. Thanks @mattijv!

[2019-06-10 08:13] magento-engcom-team commented on #23185
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17348`, `MC-17349` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-06-10 08:24] huyphan261 commented on #23169
where can I set it?

[2019-06-10 08:34] huyphan261 commented on #23169
Hi there, I imported product from magento 1

[2019-06-10 09:18] aishwaryasunarc opened #23192 "Magento 2 Downloadable Product issue with checkout API"
I am using magento 2.3 instance. I am developing android app with magento 2 default APIs but I am facing issue with checkout.
According to magento 2 default , we don't required billing and shipping information for virtual and downloadable products but when I placing order using magento 2 default API I am getting billing and shipping information required.

Step to reproduce( Using Magento 2 Rest AP

[2019-06-10 09:21] konarshankar07 commented on #23157
@duckchip
Can you please give more information like which type of column did you created in the table?

Thanks

[2019-06-10 09:51] mssyogi opened #23193 "ALTER TABLE `customer_group` MODIFY COLUMN `customer_group_id` int(10) UNSIGNED NOT NULL AUTO_INCREMENT"
(*) PHP 7.1.3
(*)Magnento 2.1.16

### Summary (*)
I tried to upgrde the magento from 2.1.16 To 2.3.1 and i face thiss issue.

### Examples (*)

ALTER TABLE `customer_group` MODIFY COLUMN `customer_group_id` int(10) UNSIGNED NOT NULL  AUTO_INCREMENT

[2019-06-10 09:53] mssyogi commented on #23193
Steps to reproduce:
Do setup Magento 2.1.16 With Php 7.0,
Try to upgrade the Magento to 2.3.1
Using Composer update command

[2019-06-10 10:40] itwebdevgh opened #23194 "[2.3.1] Updating Youtube video via API causes data to be lost."
### Preconditions (*)
 - Magento CE 2.3.1

### Steps to reproduce (*)
1. Add a product to Magento using the API:
[code]

2. Send Product Video update using PUT to rest/V1/products/{SKU}:
[code]

### Expected result (*)

1.  Video appears on product view page/In the magento admin
![image](https://user-images.githubusercontent.com/51627977/59190271-313c1880-8b74-11e9-922a-6d186b17999e.png)

### Actu

[2019-06-10 10:40] itmsenior commented on #23194
@magento give me 2.3-develop instance

[2019-06-10 10:40] magento-engcom-team commented on #23194
Hi @itmsenior. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-10 10:41] magento-engcom-team commented on #23194
Hi @itmsenior, here is your [Magento instance](https://i-23194-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23194-2-3-develop.instances.magento-community.engineering/admin](https://i-23194-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-10 10:57] itmsenior commented on #23194
@magento it looks like for this issue to reoccur you need to be amending an already existing product. I've updated my original issue accordingly.

[2019-06-10 11:34] krishprakash commented on #23194
Hi @itmsenior.
Thank you for your report.
This is not an issue.
You need to set API key for you tube video in below path
Store > Configuration > Catalog > Product video > YouTube API Key
Also please refer issue  #22574

[2019-06-10 11:48] acampos1916 commented on #22516
@royandre we're in a similar situation and get a very slow price reindexing. We adjusted the batch size for configurable and default down to 1000 and the improvement is not great. What batching setup did you end up using?

Investigating the catalog_product_index_price_temp temporal table I can see that it gets populated by a query that is exponentially slower as more products are enabled in more s

[2019-06-10 12:41] trimpirim commented on #7107
It has been two years, why is it closed if for a lot of us it fails without any further explanation?

[2019-06-10 12:45] itmsenior commented on #23194
@krishprakash I have a youtube API key set. I even added this key to the Vanilla test instance.

[2019-06-10 12:51] itmsenior commented on #23194
@krishprakash As the other person said in #22574, could you perhaps share what you sent via swagger to the API? We have the exact same issue in 2.3.1 but only when amending products that already exist.
Could you please give an example JSON/XML that works correctly?

[2019-06-10 13:08] krishprakash commented on #23194
{
  "product": {
    "sku": "test555",
    "name": "test product for video111",
    "attribute_set_id": 9,
    "price": 342,
    "status": 1,
    "visibility": 1,
    "type_id": "simple",
    "weight": "0.5",
    "media_gallery_entries": [
        {
            "media_type": "external-video",
            "disabled": false,
            "label": "Test Video",
            "types": [],
            "co

[2019-06-10 13:19] itmsenior commented on #23194
@magento give me 2.3.1 instance

[2019-06-10 13:19] magento-engcom-team commented on #23194
Hi @itmsenior. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-06-10 13:19] flamboy85 opened #23196 "Show Out of Stock configurable product options"
### Preconditions (*)

1. Set show out fo stock products https://i.imgur.com/IcgxEtz.png
2. Clean-up caches

### Steps to reproduce (*)

1. Go to product list
2.

### Expected result (*)

1. Out of stock options must be visible https://i.imgur.com/ersI0cj.png
2.

### Actual result (*)

1. Out of stock options NOT visible
2.

@see vendor/magento/module-configurable-product/Plugin/Model/ResourceMode

[2019-06-10 13:19] magento-engcom-team commented on #23194
Hi @itmsenior, here is your [Magento instance](https://i-23194-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-23194-2-3-1.instances.magento-community.engineering/admin](https://i-23194-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-10 13:44] hostep commented on #23169
@huyphan261: if you've used Magento's official data migration tool, it transfers over the `url_path` attribute from Magento 1 to Magento 2, even though Magento 2 never populates this field and it should always be empty, but M2 still uses it for generating url rewrites if it is in fact filled in. This might cause the problem you are experiencing. This bug is being tracked in https://github.com/mage

[2019-06-10 13:59] itmsenior commented on #23194
Hi @krishprakash I've just confirmed this issue on both 2.3.1 and develop instance.
You need to add the video to a product via the api, then remove that video in the admin and add it again via the API and then you will see the outcome I've mentioned.

Can you please retry with the above steps and re-open the issue for us? I'll update the steps to reproduce in the original ticket.

[2019-06-10 15:08] pinguluk opened #23197 "Select All products then Delete don't actually delete all products, but only the products visible on the page"
### Preconditions (*)

1. Magento 2.3.1 Community

### Steps to reproduce (*)

1. Select **Select All** on products catalog page (not **Select All on This Page**)
2. Actions -> Delete

### Expected result (*)

1. **All** products to be deleted

### Actual result (*)

1. Only products from the page (20 per page default) are deleted

[2019-06-10 15:09] pinguluk commented on #23197
@magento give me 2.3-develop instance

[2019-06-10 15:10] magento-engcom-team commented on #23197
Hi @pinguluk. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-06-10 15:10] magento-engcom-team commented on #23197
Hi @pinguluk, here is your [Magento instance](https://i-23197-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23197-2-3-develop.instances.magento-community.engineering/admin](https://i-23197-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-06-10 15:27] raumatbel commented on #3890
This behaviour is happening for me as well in 2.2.8

[2019-06-10 15:28] pinguluk commented on #23197
I reproduced the issue on the instance as well

[2019-06-10 15:38] krishprakash commented on #23197
Hi @pinguluk,
Thank you for your report.
This issue is duplicate to #22704
Issue is already added so I'm closing this.

[2019-06-10 15:38] #23197 closed, assigned to nobody

[2019-06-10 15:49] anupamyx commented on #3890
I fixed this via my custom script :

<script type="text/javascript">
        (function(){
            let sortable = [];
           //Fetch recently viewed products from local storage. Magento keeps it there.
            rvp = JSON.parse(localStorage.recently_viewed_product);
            var limit=0;
            for (let rv in rvp) {
                sortable.push(rvp[rv]);
                limit++;

[2019-06-10 16:16] AndreaShining commented on #23185
Hello @guillaumecochard and @krishprakash ,
i think this is not an issue.

You should add "testproduit-blue" in Action conditions if you want to apply rule just for such sku (or cart items you specify in action conditions).

You can find "action conditions" just below Actions.

[2019-06-10 16:29] tprocter1984 commented on #21614
Hi @magento-engcom-team any news on this issue?

[2019-06-10 16:42] krishprakash commented on #23185
@AndreaShining thank you for clarification.
Closing this as non issue.

[2019-06-10 16:42] #23185 closed, assigned to nobody

[2019-06-10 20:36] wingsoul opened #23198 "unable to install Authorize.net Direct Post Signature Key patch"
### Preconditions (*)
Ubuntu Linux 16.4.10,
PHP 7.0 php-fpm,
nginx/1.15.12,
Mariadb 5.7
M2.1.8

### Steps to reproduce (*)
1. download patch from magento site:
[https://magento.com/tech-resources/download#download2279](url)
2. Upload the patch to Magento root directory.
3. run the following code
patch -p1 < %patch_name%

### Expected result (*)

### Actual result (*)
following error will be appear

[2019-06-10 21:28] msawyers opened #23199 "NO sender in email header for magento 2 sales order and password change emails to customer"
**Preconditions**
Magento 2.3.1
PHP 7.2.7

**Steps to reproduce**
Production Mode
Single Store Mode
Add product to cart
Checkout
View email in Live/hotmail account

**Expected result**
Order confirmation email with FROM name and email address sent to the customer per settings from store email addresses in config

**Actual result**
Order confirmation email contains no FROM or FROM EMAIL address
On

[2019-06-11 02:37] indibuyz opened #23203 "Backup functionality is disabled in my magento"
I have launched my magento in google cloud but i am getting this error while i am instaling my extenction " back up functionality is disabled" please tell me how can i solve it & also i went into setting there also getting the same error in the backup folder

[2019-06-11 04:34] Ant5rev opened #23204 "head_shortcut_icon does not contain field 'file' error after uploading favicon icon"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-06-11 05:05] krishprakash commented on #23194
Hi @itmsenior,
You can not update the video using Post so please use the put method for update the video.
As send the same json request again it should be through the error but it doesn't and remove the video.
So for that please update the description.

[2019-06-11 06:10] LovelySetia commented on #7107
I am facing below issues when I tries to convert guest to customer using rest api
"message": "Cannot assign customer to the given cart. Customer already has active cart." Please help me to solve it.

[2019-06-11 06:12] nuzil commented on #23142
https://github.com/magento/async-import/pull/102 - Pull request merged

[2019-06-11 06:12] #23142 closed, assigned to nuzil

[2019-06-11 06:59] moloughlin opened #23205 "'Stored Payment Methods' section in customer dashboard incorrectly depends on Braintree being enabled"
### Preconditions (*)
Tested against Magento Community version 2.3.1 (using latest develop branch)

### Steps to reproduce (*)
1. Implement a new payment method using the Magento_Vault saved card (token) functionality
2. Leave Braintree disabled
3. Place an order, saving a card token against a customer (resulting in an entry in the vault_payment_token table)
4. Navigate to customer account dashboa

[2019-06-11 07:10] duckchip commented on #23157
@konarshankar07 This is not on the table/listing but on the form UI component.

[2019-06-11 07:40] konarshankar07 commented on #23157
@duckchip Can you please add a screenshot of the error message?

[2019-06-11 08:00] krishprakash commented on #23203
Hi @indibuyz.
Please refer below link for enable backup:
https://devdocs.magento.com/guides/v2.3/install-gde/install/cli/install-cli-backup.html
https://devdocs.magento.com/guides/v2.3/comp-mgr/module-man/compman-backup.html

[2019-06-11 08:50] volanar commented on #20033
I have the same problem. Where can I find the patch?