[2019-07-01 03:45] shikhamis11 commented on #23513
Hi @vivianCollins11
It seems some issue due to your server
GitHub is intended for Magento 2 core functionalities bug for discussion you can use
https://community.magento.com and https://magento.stackexchange.com

[2019-07-01 03:45] #23513 closed, assigned to shikhamis11

[2019-07-01 03:49] shikhamis11 commented on #23514
@petardozet please follow Magento issue reporting guideline and correct the format also use Magento instance to reproduce it and if possible share screenshot s also https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-07-01 05:16] keyuremipro commented on #22238
This backward-incompatibility reproduced again in between 2.3.1 and 2.3.2 but can not found on 2.3-dev branch, Is there anyone know when this resolved from 2.3?

[2019-07-01 05:37] gulshan-streammarket commented on #23297
@konarshankar07 That would be great.

[2019-07-01 05:56] LovelySetia commented on #23392
If we pass customer token as authorization, it give response 400 error:
 "{"message": "Cannot assign customer to the given cart. Customer already has active cart."}".
@magento-engcom-team

[2019-07-01 06:03] jigar48 opened #23516 "Product Images are very small in RSS Product Feed"
I have installed the Magento 2.3.1.

I hav enabled the RSS Feed for the category and Product.

### Preconditions
enabled the RSS Feed for the category and Product

Information on your environment
I have installed the Magento 2.3.1.

### Steps to reproduce
Open the Rss feed Page : http://magento2jigar.com/rss/

Click on the Get Feed link and It will show the xml feed.
see attached screenshot

### E

[2019-07-01 07:01] engcom-Charlie commented on #23462
Hello @craigcarnell ! Thank you for your report !
It is hard to reproduce this issue due your steps , can you please provide some additional steps how to reproduce it ?

[2019-07-01 07:07] machaka commented on #23339
I was able to reproduce it.
I'm also think this is related to magento. Everything was working fine until I make the upgrade to 2.3.1. Now I'm facing the issue that @acashley  described.

I hope someone could help :/

[2019-07-01 07:25] shikhamis11 commented on #23339
Hello @machaka
Thanks for the information. I am reopening this issue will check it again from my end and will verify it.

[2019-07-01 08:00] magento-engcom-team commented on #23516
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17907`, `MC-17908` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-01 08:54] craigcarnell commented on #23462
@engcom We have 58 attributes with 'Used in Product Listing' set to Yes. We are going to try and reduce them and see if it increases the speed.

However, on 2.3.1 this was not an issue.

[2019-07-01 08:55] engcom-Bravo commented on #23507
Hello @rszczepaniec. Thanks for reporting. We tried to reproduce Your issue exactly following the steps You provided, but we had no success. The process of upgrade had been lingering on Module 'Magento_CustomerSampleData' for a very long time compared to the other modules but after all the process went forward end everything successfully finished. No errors on that were found in system.log. By the

[2019-07-01 09:21] TomashKhamlai commented on #19865
@kirtinariya1, if you want an instance of Magento2 use the spell
`@magento-engcom-team give me 2.3.1 instance`

[2019-07-01 09:21] magento-engcom-team commented on #19865
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-07-01 09:21] magento-engcom-team commented on #19865
Hi @TomashKhamlai, here is your [Magento instance](https://i-19865-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-19865-2-3-1.instances.magento-community.engineering/admin](https://i-19865-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-01 09:24] engcom-Charlie commented on #23462
@craigcarnell i will try to reproduce it with sample data

[2019-07-01 09:34] hostep opened #23517 "Logging in on frontend of Magento 2.3.2 doesn't seem to work properly after you ran 'bin/magento customer:hash:upgrade'"
### Preconditions (*)
1. PHP 7.2.19 where you have the sodium extension installed, and have libsodium >= 1.0.13 (this is very important!)

### Steps to reproduce (*)
1. Have Magento 2.3.1 installed
2. Create 2 customers in the frontend, remember their passwords
3. Look into the database to the `password_hash` column in the `customer_entity` table, they look something like this: `{64-random-chars}:

[2019-07-01 09:36] sunilit42 commented on #23516
Hello,

https://github.com/magento/magento2/blob/2.3-develop/app/design/frontend/Magento/luma/etc/view.xml

it is not issue, you can modify that size from theme xml file.

[2019-07-01 09:36] hostep commented on #23517
I haven't tested it yet on a vanilla installation, but it would surprise me if it actually works on vanilla. I can spend some time testing it on a vanilla installation later if you want me to (bit busy at the moment, sorry).

[2019-07-01 09:37] maartenwolfsen commented on #8770
I added an if statement to `Magento/MediaStorage/Console/Command/ImagesResizeCommand.php:66`.
Changed:
```$this->appState->setAreaCode(Area::AREA_GLOBAL);```
To:
[code]

[2019-07-01 09:37] sunilit42 commented on #23516
@magento-engcom-team  do you want to change size let me know so i can change it.

[2019-07-01 09:42] sunilit42 commented on #23510
@magento give me 2.2-develop instance

[2019-07-01 09:43] magento-engcom-team commented on #23510
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-01 09:43] magento-engcom-team commented on #23510
Hi @sunilit42, here is your [Magento instance](https://i-23510-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23510-2-2-develop.instances.magento-community.engineering/admin](https://i-23510-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-01 09:59] kanduvisla opened #23518 "M2.2.9 : Uncaught TypeError with the `MSP_Recaptcha` module"
### Preconditions

1. Magento 2.2.9
2. Default installation with 1 example product
3. `customer/captcha/enable` is set to `0`. (Customer captcha is disabled)

### Steps to reproduce

Go to the product detail page.

### Expected result

No JavaScript errors should be present.

### Actual result

The following JavaScript error is present:

[code]

I believe this error is triggered by the `MSP_Recapt

[2019-07-01 09:59] NickvdMeij opened #23519 "Alert and Confirmation Widgets aren't well documented"
### Summary (*)
After doing some research on the Alert and Confirmation widgets, I noticed some lack in documentation about these widgets on their documentation pages ([here ](https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/widgets/widget_alert.html) and [here](https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/widgets/widget_confirm.html)).
Appearently, both widgets have a

[2019-07-01 10:00] magento-engcom-team commented on #23519
Hi @NickvdMeij. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-01 10:01] magento-engcom-team commented on #23519
Hi @NickvdMeij, here is your [Magento instance](https://i-23519-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23519-2-3-develop.instances.magento-community.engineering/admin](https://i-23519-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-01 10:06] quantumAV commented on #22134
Applying the fix detailed in [https://github.com/magento/magento2/commit/233e4c51f7d525f4573b11a24ae5a81c13762343](url)

does remove the Paypal buttons from the Product page but has the adverse effect of removing any ability to alter the look of the Paypal Smart Buttons. The buttons all revert to the standard small buttons with no ability to change colour or size.

I reverted the changes in the fi

[2019-07-01 10:41] craigcarnell commented on #23462
@engcom-Charlie Might be relevant but in vendor/magento/module-catalog/Model/Indexer/Product/Flat/Action/Eraser.php

removeDisabledProducts

[code]

This is an infinite loop.

[code]

Returns 20,000+ results for the same entity_id. (which is not disabled)

[2019-07-01 10:58] magesanjay commented on #23245
Hey @Axel29
Yes exactly!

[2019-07-01 11:08] engcom-Charlie commented on #23519
Hello @NickvdMeij ! Thank you for your report !
Please refer here (https://github.com/magento/devdocs/issues) and create same issue there .

[2019-07-01 11:08] #23519 closed, assigned to nobody

[2019-07-01 11:12] evs-xsarus commented on #23511
Duplicate with https://github.com/magento/magento2/issues/23405

[2019-07-01 11:22] shikhamis11 commented on #23511
Hello @evs-xsarus thanks for your information.
since it is duplicate issue I am closing this one.
@zhiyicai you can check the progress of this issue with #23405

[2019-07-01 11:22] #23511 closed, assigned to shikhamis11

[2019-07-01 11:25] adrian-martinez-interactiv4 opened #23521 "Unable to run \Magento\Downloadable\Test\Unit\Helper\DownloadTest without internet connection / dns resolution"
### Preconditions (*)
1. Magento 2.3.2, just created project, no setup:install
2. PHP 7.2.19

### Steps to reproduce (*)

1. Create Magento 2.3.2 project
2. Run unit tests (at least \Magento\Downloadable\Test\Unit\Helper\DownloadTest) without internet connection

### Expected result (*)

1. Test should pass (image below shows test execution with internet connection):

<img width="1377" alt="Captur

[2019-07-01 11:25] magento-engcom-team commented on #23445
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17910` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-01 11:32] craigcarnell commented on #23462
@engcom-Charlie Nevermind, the last one was fixed with 2.3.3 patch https://github.com/magento/magento2/commit/0a11ce53c9c404266e4badc604dbc9c7c84652aa

[2019-07-01 11:36] ankurvr opened #23522 "UPS shipping booking and label generation gives error when shipper's street given more than 35 chars"
### Preconditions (*)

1. Magento v2.2.5
2. Ubuntu 16.04
3. UPS Shipping method enabled with shipping label generation enabled

### Steps to reproduce (*)

1. Configure Origin in In shipping settings and address should be
(Street1 : "Xth Floor, The Great Persis,", Street2: "D95 Road No 91, LIPC, Anpheri (G)"),
the logic is to make total characters by combining both street should be more than 35 ch

[2019-07-01 11:36] hostep commented on #23518
Indeed, I've noticing the same problem on Magento 2.3.2 btw, didn't look into the details yet.

[2019-07-01 11:50] sunilit42 commented on #23510
Created pull request for this:-
https://github.com/magento/magento2/pull/23524

[2019-07-01 11:58] magento-engcom-team commented on #23330
Hi @Filipe-Bicho. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-01 11:58] magento-engcom-team commented on #23330
Hi @Filipe-Bicho, here is your [Magento instance](https://i-23330-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23330-2-3-develop.instances.magento-community.engineering/admin](https://i-23330-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-01 11:58] magento-engcom-team commented on #22998
Hi @YurySk. Thank you for your report.
The issue has been fixed in magento/magento2#23048 by @Wirson in 2.3-develop branch
Related commit(s):
 - [5ca9ea70e32cbde1bdd96d6be90a3993fb0d44bc](https://github.com/magento/magento2/commit/5ca9ea70e32cbde1bdd96d6be90a3993fb0d44bc)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-01 11:58] #22998 closed, assigned to Wirson

[2019-07-01 12:08] magento-engcom-team commented on #23411
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` aga

[2019-07-01 12:10] magento-engcom-team commented on #23411
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17913` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-01 12:31] engcom-Charlie commented on #23462
@craigcarnell even with sample data i was not able to reproduce this issue .
![Screenshot from 2019-07-01 15-27-15](https://user-images.githubusercontent.com/51680850/60436733-57a22080-9c15-11e9-8909-73a85f4de3a6.png)

[2019-07-01 12:40] JoaoOlsenTecnico opened #23525 "Email Error"
summary
I did an issue here and it was answered that when updating Magento to 2.3.1 I would solve my problem, but I can not upgrade due to the modules that I am using not having this version and the guy who answered me closed the issue before that I could answer.

Examples
here the ISSUE link
https://github.com/magento/magento2/issues/23398

Proposed solution
I would like to know how I can correct

[2019-07-01 12:45] evs-xsarus commented on #23405
For CentOS 7 and PHP 7.1, make sure to also install distribution packages 'libsodium' and 'libsodium-devel'.

[2019-07-01 12:45] engcom-Charlie commented on #23525
Hello @JoaoOlsenTecnico ! Thank you for your report !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-07-01 12:45] #23525 closed, assigned to nobody

[2019-07-01 12:50] JoaoOlsenTecnico opened #23526 "Email Error"
summary
I would like to know how to fix the ERR presented in this ISSUE.
IT IS AN ERROR, so that it is clear, ONE ERROR, can you send me the SOLUTION FOR THE ERROR? ERROR.

Examples
here the ISSUE link
#23398

Proposed solution
I would like to know how to fix the ERR presented in this ISSUE.
IT IS AN ERROR, so that it is clear, ONE ERROR, can you send me the SOLUTION FOR THE ERROR?

[2019-07-01 13:00] quantumAV opened #23527 "Paypal buttons disable issue - Magento 2.3.2"
### Preconditions (*)

1. 2.3.2
2. Fix implemented from
2.3-develop (#22260)

### Steps to reproduce (*)

1. Fix implemented from
2.3-develop (#22260)
2.

### Expected result (*)

1. Hide Paypal Smart buttons on product page
2.

### Actual result (*)

1. Hide Paypal Smart buttons on product page works as expected
2. Side effect - removes any ability to alter the look of the Paypal Smart Buttons. T

[2019-07-01 13:01] magento-engcom-team commented on #23515
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17914` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-01 13:02] engcom-Charlie commented on #23527
Hello @quantumAV !
Link that you attached is not valid , please update it.

[2019-07-01 13:05] quantumAV commented on #23527
it keeps giving me an error on the link to 2.3-develop (#22260)
https://github.com/magento/magento2/commit/233e4c51f7d525f4573b11a24ae5a81c13762343

[2019-07-01 13:19] craigcarnell commented on #23462
@engcom-Charlie

SELECT attribute_code
FROM eav_attribute
INNER JOIN catalog_eav_attribute ON eav_attribute.attribute_id = catalog_eav_attribute.attribute_id
WHERE used_in_product_listing = 1;

We have 97 attributes used in product listing. By removing just 6 of them, we reduce time to 6 minutes.

Why is it taking so long? They are simply varchars..

[2019-07-01 13:31] gwharton commented on #23526
Upgrade to 2.3.1 or later.

[2019-07-01 13:32] #23526 closed, assigned to nobody

[2019-07-01 13:32] JoaoOlsenTecnico commented on #23526
I can not because I have modules that are not upgraded to this version

[2019-07-01 13:44] gwharton commented on #23526
Then you need to patch your installation with the Pull Request #18471 which is the fix for this issue.

[2019-07-01 13:51] RickDBCN commented on #23210
I have reproduced this issue.

[2019-07-01 14:11] engcom-Bravo commented on #23518
Hello, @kanduvisla. Indeed we managed to reproduce Your issue on 2.3.2 as @hostep says he did, but we were not able to do that on 2.3-develop instance. Could You please try to reproduce Your issue on a vanilla 2.3-develop installation and tell us the results. Thank You.

[2019-07-01 14:16] hostep commented on #23518
@engcom-Bravo: MSP_Recaptcha module isn't getting installed when cloning the git repo, you need to install Magento using composer for it to being installed.

Or should we open an issue on https://github.com/magento/magespecialist_ReCaptcha ?

*Update*: looks like somebody already reported it and many people in there replying that the issue is back in 2.3.2: https://github.com/magento/magespecialis

[2019-07-01 14:16] #23518 closed, assigned to nobody

[2019-07-01 14:20] quantumAV commented on #23527
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-01 14:21] magento-engcom-team commented on #23527
Hi @quantumAV. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-01 14:21] magento-engcom-team commented on #23527
Hi @quantumAV, here is your [Magento instance](https://i-23527-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23527-2-3-develop.instances.magento-community.engineering/admin](https://i-23527-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-01 14:27] quantumAV commented on #23527
Realised I am unable to confirm this on the develop instance as I would need FTP access to be able to apply the Fix from #22260

[2019-07-01 14:33] engcom-Bravo commented on #23518
Yes @hostep, You are right. I looked at my 2.3.2 version instance where I succed with reproduction and yes It is the one  installed via composer (Somehow forgot about that). So closing this issue here and referencing it there is the right decision. Thank You.

[2019-07-01 14:39] JoaoOlsenTecnico commented on #23526
Thanks, I was desperate for this, sorry if I was rude, should I replace
this code with this?
[image: image.png]
[image: image.png]

Em seg, 1 de jul de 2019 às 10:45, gwharton <notifications@github.com>
escreveu:

[2019-07-01 14:42] JoaoOlsenTecnico commented on #23526
You recived my awnser?

[2019-07-01 14:51] craigcarnell commented on #15427
Hi all,

Magento support have highlighted the following as fixing this issue..
https://github.com/magento/magento2/commit/547f45390b5056dae75e42987856f05e4ec3cbc9

[2019-07-01 15:56] jigar48 commented on #23516
@sunilit42 Thank you for checking,

Image size can be changed, but the height and width of that attribute is remain same, It does not changed.

![image](https://user-images.githubusercontent.com/16815711/60450138-d3689100-9c46-11e9-8455-ebcde15d171b.png)

[2019-07-01 16:49] shikhamis11 commented on #22659
@ajeetsinghcedcoss I am closing this issue since it is not reproducible.

[2019-07-01 16:49] #22659 closed, assigned to anujwebkul

[2019-07-01 17:11] rogyar commented on #23473
@magento give me 2.3-develop instance

[2019-07-01 17:11] magento-engcom-team commented on #23473
Hi @rogyar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-01 17:11] magento-engcom-team commented on #23473
Hi @rogyar, here is your [Magento instance](https://i-23473-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23473-2-3-develop.instances.magento-community.engineering/admin](https://i-23473-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-01 17:19] rogyar commented on #23473
Hi @abrarpathan19. Could you describe, please, what's exactly wrong with the notification counter? If we are talking about enlarging the "circle" horizontally - it's normal behavior. How do you see the improvement? Enlargement of the circle is not the case: we can enlarge it to fit 2 digits but it results in weird look for 1 digit. Also, what if we have 3 digits?

[2019-07-01 17:21] Nazar65 commented on #23527
hi @quantumAV  this fix not included on 2.3.2 release ? but this present in 2.3-develop so can you describe what the problem you have ?

[2019-07-01 17:27] Nazar65 commented on #23527
@quantumAV well, I understand what the problem is, I will work on this issue

[2019-07-01 17:28] quantumAV commented on #23527
I have applied the fix to 2.3.2 and it did hide the paypal smart buttons on the product page which is what the fix is supposed to do. The issue is the side effect of the fix which caused the paypal Smart buttons on the cart, mini cart and checkout to stop being smart buttons – the buttons reverted to being standard Paypal small buttons and the settings  in Paypal Express Checkout - Front End Exper

[2019-07-01 20:56] dwhiting10 commented on #20783
Thanks, @jbonot.  That fixed it for me.

[2019-07-02 02:06] rhoerr opened #23531 "Improve dashboard charts"
### Description (*)
Following https://github.com/magento/magento2/issues/21599, Magento recently switched from the deprecated Google Charts API to generating static chart images via image-charts.com (https://github.com/magento/magento2/commit/f92c8fd2b031531bac32615ab80ca09a66665617).

That being said, the new charts are not in any way dynamic, and do not provide a user experience befitting an ent

[2019-07-02 02:39] NightmareGrl commented on #23450
Same issue. Any solution yet?

[2019-07-02 02:57] Vital388 commented on #11411
This issue has already been fixed on 2.2 and 2.3

[2019-07-02 04:50] adarshkhatri commented on #19127
I am doing curl connection to third-party API in 2.3 version. And confirm I am getting this error.

And patch does work.

[2019-07-02 04:57] scdroid13 commented on #10165
I read the thread and looks helpful.
In my case, I am using Magneto DevOps. And many people are asking to simply remove the maintenance flag.
But I am a bit scared to do that.
[https://www.hows.tech/2019/07/error-503-backend-fetch-failed.html](https://www.hows.tech/2019/07/error-503-backend-fetch-failed.html)

[2019-07-02 06:34] sunilit42 commented on #23460
@Stepa4man  are you still working?

[2019-07-02 06:51] onlinebizsoft commented on #17171
This is a real bug because the it adds all IDs to the URL and the URL length exceeds the limit

[2019-07-02 07:14] Stepa4man commented on #23460
@sunilit42 Yes.

[2019-07-02 07:15] ankurvr commented on #23522
@magento give me 2.3-develop instance

[2019-07-02 07:15] magento-engcom-team commented on #23522
Hi @ankurvr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-02 07:15] magento-engcom-team commented on #23522
Hi @ankurvr, here is your [Magento instance](https://i-23522-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23522-2-3-develop.instances.magento-community.engineering/admin](https://i-23522-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-02 07:52] jurpro commented on #23405
hi @evs-xsarus thanks for help.
Yesterday I talk with my hosting support, and then they gave me a new command line for running script. I don't know if Magento script command was change for running setup upgrade and all command. And then, it works.
This is the reply from my hosting, May be it will work for anyone who search and face a problem like I did.

Hi there,
Instead of typing :

php scriptna

[2019-07-02 07:56] adam-inco commented on #23462
Hi, I am also seeing this since going from 2.3.1 to 2.3.2, but my flat data wont re-index it just hangs and eventually crashes the system, Left it running overnight for 12hrs and it was still trying
it starts at INSERT INTO `catalog_product_entity_int_tmp_indexer` but never moves, on 2.31 you would see it run thought all the store views as it processes

[2019-07-02 07:59] magento-engcom-team commented on #23521
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17920` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-02 08:08] gwharton commented on #23199
Yes. Plain text emails are currently broken in 2.2 and 2.3. Since 2.2.8 and never worked in 2.3.

[2019-07-02 08:28] theodorhanu opened #23534 "Catalog product attribute indexer breaks for multiselect varchar attribute on Magento 2.3.2"
Custom multiselect product attributes which have custom source and string as source item value break the indexer

### Preconditions (*)
1. PHP 7.1.17
2. Magento 2.3.0 (upgrade to 2.3.2)

### Steps to reproduce (*)
1. Create a custom attribute which is stored in *_varchar table
[code]
2. Source model for attribute:
[code]

3. After adding attribute through installer open product edit page and selec

[2019-07-02 08:31] rszczepaniec commented on #23507
Hello @engcom-Bravo. Thanks for checking this issue. I've done a bit more debugging and it turns out that problem was in my config.php file. After i set it back to default and remove problematic line, everything works fine.

[2019-07-02 08:31] #23507 closed, assigned to engcom-Bravo

[2019-07-02 08:42] engcom-Bravo commented on #23450
Hi again @mesnitu. Here are our steps after vanilla instance installation of 2.3-develop version:
1. Installation + cron:run
![Success](https://user-images.githubusercontent.com/51680745/60497711-0f8b0880-9cbe-11e9-9c06-60eea2f91ceb.png)
2. Product created
![Prods](https://user-images.githubusercontent.com/51680745/60497840-46f9b500-9cbe-11e9-8fc0-b43226f6fb0c.png)
3. Export
![Peek 2019-07-02 11-3

[2019-07-02 08:50] jkeller92 commented on #22407
Is this really a problem?

[2019-07-02 08:58] jkeller92 commented on #22401
The problem here is, that the cart form contains 2 submit buttons.
After hitting `enter` on keyboard or clicking `ok` on mobile devices, the first button[type="submit"] will be triggered.

If you have a look at `module-checkout/view/frontend/templates/cart/form.phtml` you can see the first button[type="submit"] is the delete button.

Changing the order will fix the problem.

just change this:

[2019-07-02 08:59] #23256 closed, assigned to engcom-Charlie

[2019-07-02 09:02] engcom-Charlie commented on #6668
Hello @aligent-lturner ! Can you attach screenshot with error that you have ?

[2019-07-02 09:02] jkeller92 commented on #22401
This is core issue.

[2019-07-02 09:05] engcom-Alfa commented on #23242
Hello @vovayatsyuk . I can't reproducer this issue on 2.3 - develop and 2.2 - develop.

[2019-07-02 09:05] #23242 closed, assigned to engcom-Alfa

[2019-07-02 09:10] mesnitu commented on #23450
Hi
My solution for now was to revert to 2.3.1 where this **issue doesn't occur**.
I guess ( really guessing ) that this is related to the cron tasks on windows. If I do that cron:run all I get is  that cron_table populate heavily  every time a job is fired.  It will never end. I'll tested later if I can update to 2.3.2 on a virtual machine or something.

[2019-07-02 09:31] NetStorm84 commented on #22407
It was for me, the solution from mega667, by setting the `cache_lifetime` to 1, is a cleaner and more effective solution.

[2019-07-02 10:01] engcom-Bravo commented on #23450
@mesnitu, please take a not of this Magento official [page](https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html), in particular the point about Operating Systems. As You can see Magento supports only Linux. Taking into consideration all aforementioned in this ticket we are supposed to close it. But please feel free to reopen it if You find a way to reproduce it on a v

[2019-07-02 10:01] #23450 closed, assigned to nobody

[2019-07-02 10:12] hackronshins commented on #19710
Hi @carolineboivin , I recently did the upgrade to latest version Magento 2.3.2 from Magento 2.3.1, I had an issue like missing images from frontend and backend. I tried above solutions but no luck. in this path /pub/media/catalog/product/(empty) cached images are empty I think it means there is not cache generating for catalog product images in this respective directory, Is there any other altern

[2019-07-02 10:21] ferrazzuk commented on #21126
@magento-engcom-team give me 2.3-develop instance

[2019-07-02 10:21] magento-engcom-team commented on #21126
Hi @ferrazzuk. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-02 10:21] magento-engcom-team commented on #21126
Hi @ferrazzuk, here is your [Magento instance](https://i-21126-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21126-2-3-develop.instances.magento-community.engineering/admin](https://i-21126-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-02 10:53] JeroenGerth commented on #22407
So any updates on this one? This issue is couple of months old now. Is this fixed in 2.3.2?

[2019-07-02 10:55] pandyakrunal commented on #18248
I have the same issue
[code]
@hostep I use your solution
[code]
But it is only for 3 module. Can you please give me all modules solution ?

[2019-07-02 11:34] aligent-lturner commented on #6668
@engcom-Charlie no error is presented to the user - the endpoint just returns no data (with a 200 response).
The error can be seen when debugging, by calling `json_last_error_msg()` - as per the original report, "Malformed UTF-8 characters, possibly incorrectly encoded" is returned.

[2019-07-02 11:46] Swahjak commented on #22842
We are experiencing similar issues. Still haven't been able to properly reproduce the issue but it seems to happen every now and then. Only seen in once or twice local, but customers are reporting similar issues (also every now and then).

[2019-07-02 11:56] carolineboivin commented on #19710
Hello @hackronshins, the reported issue was concerning an upgrade from a 2.2.x version to a 2.3.x, I cannot for sure say if the issue you are experiencing is the same, as I should have already occured in your previous version. Have you tried regenerating the images cache through the CLI first and compared the generated hash (folder name) where the images are put vs the one called on frontend ? If

[2019-07-02 12:01] sunilit42 opened #23538 "wrong validation happen for max-words validation class"
### Preconditions (*)
1. Latest Magento 2.3.2
2. create one form with validation class max-words

### Steps to reproduce (*)

1. Create one form with validation class max-words
e.g
[code]

### Expected result (*)

1.  if i set max-words 5 then it should not show error for 5 words
e.g
https://www.screencast.com/t/voeIZmbGM4

### Actual result (*)

1. it should not show error msg for 5 words

[2019-07-02 12:08] hackronshins commented on #19710
@carolineboivin Thanks for your valid and quick response, I tried the command product:images:resize when I ran this command it returned the item is not found. its like 404 error and there is no cached things in the media/catalog/product directory its purely empty. I thought it wouldn't generating the cache, I am getting that url with cache but the thing is like no cache. I also tried with theme/vi

[2019-07-02 12:13] hackronshins commented on #19710
@carolineboivin Hi I checked this table **catalog_product_entity_media_gallery_value** there is some empty labels, is that causing you are saying right?

[2019-07-02 12:18] rossmc opened #23539 "Magento Security Scan Incorrectly Failing ?"
### Summary (*)
The Magento security scan is failing for sites upgraded to Magento v2.1.18 becuase this version of Magento is missing a newer version of AngularJS.

Please note that this file is only used by the Magento installation wizard.

### Preconditions (*)

1. Magento Open Source Upgraded from 2.1.17 to 2.1.18

### Steps to reproduce (*)

1. Run a [Magento Security Scan](https://docs.magent

[2019-07-02 12:19] sunilit42 commented on #23538
@magento give me 2.3-develop instance

[2019-07-02 12:19] magento-engcom-team commented on #23538
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-02 12:20] magento-engcom-team commented on #23538
Hi @sunilit42, here is your [Magento instance](https://i-23538-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23538-2-3-develop.instances.magento-community.engineering/admin](https://i-23538-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-02 12:20] engcom-Bravo commented on #23539
@magento give me 2.3-develop instance

[2019-07-02 12:20] magento-engcom-team commented on #23539
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-02 12:21] magento-engcom-team commented on #23539
Hi @engcom-Bravo, here is your [Magento instance](https://i-23539-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23539-2-3-develop.instances.magento-community.engineering/admin](https://i-23539-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-02 12:58] engcom-Charlie commented on #23539
Hello @rossmc ! This issue is not reproducible on Magento 2.3-develop

[2019-07-02 13:03] luckyraul commented on #17951
Then you deploy a next release you still have queue consumers running from the old releases@magento-engcom-team

[2019-07-02 13:05] luckyraul opened #23540 "Queue consumers"
### Preconditions (*)
Then you deploy a next release you still have queue consumers running from the old releases. And where is no way to stop them

### Steps to reproduce (*)
run cron on the first release
release new version
run cron on the second release
release new version
run cron on the third release

### Expected result (*)
only new process running
[code]

### Actual result (*)
still running

[2019-07-02 13:11] magento-engcom-team commented on #23538
@sunilit42 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is a

[2019-07-02 13:12] magento-engcom-team commented on #23538
@sunilit42 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-07-02 13:16] magento-engcom-team commented on #23538
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17923` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-02 13:26] rossmc commented on #23539
@engcom-Charlie
That is becuase it's only occurring on Magento v2.1.18, not Magento 2.3-develop.

I thought that was clear from the ticket description?

[2019-07-02 13:37] engcom-Charlie commented on #23539
@rossmc Magento 2.1.x is not actual anymore so i`m closing this issue .

[2019-07-02 13:38] carolineboivin commented on #19710
@hackronshins I'm sorry but I don't have a Magento database on hand to check some data and I'm not currently working on a Magento project, but the labels should not be a problem. I believe the file path is stored in `catalog_product_entity_media_gallery` and if you have some value_id values that are not referenced on a product, those images might have been deleted and the reference still exists, w

[2019-07-02 13:48] hackronshins commented on #19710
@carolineboivin Yes I am using CLI command in SSH, There is a path like **/i/s/isolai-saba_900x900_bf7debd8-283b-42e1-9cb8-8ee463426d14.jpg** in the table catalog_product_entity_media_gallery value content it has a image path. I checked this error like "cannot access" error there is nothing about this string. Its a strange to me in url path cache and hash is adding. In my table it is showing the a

[2019-07-02 14:03] miro91 commented on #13440
You should make the __construct method compatible with the parent.
It's not good for Plugin to extend the class itself but it can work if you copy the __construct method from \Magento\Catalog\Model\Category\DataProvider

[2019-07-02 14:05] kirillvidyuk commented on #23326
Have temporary solution, if somebody interested in:
`--- a/view/adminhtml/templates/catalog/product/attribute/js.phtml	(date 1562075895000)
+++ g/view/adminhtml/templates/catalog/product/attribute/js.phtml	(date 1562075965000)
@@ -38,17 +38,38 @@
     }
 }

+    function initializeOptions() {
+        var maxAttempts = 20,
+            i = 0;
+
+        var interval = setInterval(function () {
+

[2019-07-02 14:08] engcom-Charlie commented on #23540
Hello @luckyraul ! Can you provide more steps how to reproduce it ?

[2019-07-02 14:14] ihor-sviziev commented on #5701
Hi @paragonie-scott,
Magento 2.3.x supports libsodium together with php 7.2, so looks like this issue was already fixed. Wasn't it?

[2019-07-02 14:15] Axel29 commented on #13440
Agreed, but a simple preference would be better in that particular case in my opinion :)

[2019-07-02 14:30] engcom-Bravo commented on #6668
Hi @mbrzuzy, @aligent-lturner. The issue has been retested on 2.3-develop. Here is the full data that endpoint returned:
{
    "items": [
        {
            "billing_address_id": 12,
            "created_at": "2019-07-02 14:08:40",
            "customer_id": 2,
            "entity_id": 4,
            "increment_id": "000000004",
            "order_id": 6,
            "packages": [

[2019-07-02 14:32] rossmc commented on #23539
Really because it was the last upgrade to it last week which broke it :(

What Angular JS version was meant to be changed to in v2.1.18 and we'll create our own patch for it.

[2019-07-02 14:40] rossmc commented on #23539
If you're unable to help, I think we will create our own patch to use the newer version of the file from 2.2.9

https://github.com/magento/magento2/blob/2.2.9/setup/pub/angular/angular.min.js

This file is only used for the installation wizard as far as I can see so it will be just so it passes the Magento Security Scan

[2019-07-02 14:46] luckyraul commented on #23540
I don't do anything except running cron

[2019-07-02 15:07] hostep commented on #18248
@pandyakrunal: in your case, there is probably something else wrong, because there are core Magento modules which are using a newer version in your database then they are in your code.

Did you upgrade Magento and then downgraded again maybe? In that case, if you have a backup of your database from before the upgrade, I would put that back (unless you have some data which you can't afford to loose

[2019-07-02 16:05] maaarghk commented on #22407
looks like it was fixed here before this issue was even opened, lol - https://github.com/magento/magento2/commit/bf8af1e7d3781db0921ed530e4f51e6d54ae56e1

but unfortunately there appears to have been a great deal of bikeshedding over test descriptions so it was only merged 6 days ago: https://github.com/magento/magento2/commit/bc0b41245c5e55ecf27496e9ce1204ac6cf02a81

so i suppose you will have to

[2019-07-02 16:20] paragonie-scott commented on #5701
Yep!

[2019-07-02 16:20] #5701 closed, assigned to nobody

[2019-07-02 17:02] fohnbit commented on #23508
Did you tested? Can you confirm the bug?

Thank you!

[2019-07-02 18:02] simonlandry0 commented on #22373
After testing the 2.3.2 version, I've discovered another potential issue related to the same plugin. I'll investigate further with the authorize.net api and probably create a new issue for this soon. But I'm getting this now...

```'response' => '{"transactionResponse":{"SupplementalDataQualificationIndicator":0},"messages":{"resultCode":"Error","message":[{"code":"E00007","text":"User authenticat

[2019-07-02 18:04] hackronshins opened #23546 "After upgraded to magento 2.3.2 version then missing product images on frontend and backend"
Hi team, I upgraded the magento version to 2.3.2 then after I am facing an issue like missing images in frontend and backend. In this i tried all the solutions but no luck. When I am inspecting the issue in frontend there is I got 404 not found, that media url path has cache/hash code.
**https://example.com/pub/media/catalog/product/cache/12a6713c17ae5202f73943790c153a5f/s/m/image_eel_1024x1024.jp

[2019-07-02 18:05] aligent-lturner commented on #6668
@engcom-Bravo I can't test on 2.3 currently, but this issue was raised for 2.1, and closed because it was supposed to be fixed in 2.2.1
I've reported the same issue is still happening in 2.2.5, so how does the fact it's seemingly fixed in 2.3 result in the issue being closed? Do issues on 2.2.x not get fixed at all?

Also, I'd like to ask how the shipping label in your example was generated? Perha

[2019-07-02 18:25] Olek89 opened #23548 "update from 2.3.1 to 2.3.2"
Hello,

i have a problem, to update to the new version 2.3.2,
i have at the moment the 2.3.1 version.

In Step 2 i get an error at the readiness check, that the php extension mcrypt isnt happening.
in the info.php on the site it still is on.

The System is an Debian 8, with Plesk, the Domainhost have the PHP Version 7.2.19.

What could it be?

Can Somebody help ?

![image](https://user-images.gith

[2019-07-02 18:35] Olek89 commented on #23548
How can i make a check on vanilla Magento?
I cant find a Solution for it.
I think it could also be an misconfiguration of the server, but i still dont see it on magento, why there should not work.

[2019-07-02 19:11] simonlandry0 commented on #22373
I fixed my own issue. Just sharing what fixed it in case someone else has the same issue.

Apparently Authorize.net API keys fields in the backend defaults to be different for each website configuration. While I correctly inputted the prod keys in the "default config" auth.net configuration, I had to go to each one of the my websites and mark the authorize.net fields as "Use Default" so they inher

[2019-07-02 19:48] saeohioalpha opened #23549 "Downloadable product status not updating despite invoice being paid and order complete."
### Preconditions (*)
1. Magento v2.3.1
2. PHP v7.2

### Steps to reproduce (*)

1. Purchase A Downloadable Product normally

### Expected result (*)
1. The downloadable product should be available for download with status 'Available'.

### Actual result (*)
1. The downloadable product is in pending status and not available for download.
2. The order is marked as complete, and the invoice is marke

[2019-07-02 19:49] saeohioalpha commented on #23549
@magento give me 2.3-develop instance

[2019-07-02 19:49] magento-engcom-team commented on #23549
Hi @saeohioalpha. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-02 19:50] magento-engcom-team commented on #23549
Hi @saeohioalpha, here is your [Magento instance](https://i-23549-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23549-2-3-develop.instances.magento-community.engineering/admin](https://i-23549-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-02 20:02] saeohioalpha commented on #23549
@magento yes

Confirmed on vanilla. Order is closed, invoice paid. Downloadable still pending.

![Screen Shot 2019-07-02 at 4 00 58 PM](https://user-images.githubusercontent.com/969559/60542802-c7caa800-9ce2-11e9-9163-038336cf4388.png)
![Screen Shot 2019-07-02 at 4 01 15 PM](https://user-images.githubusercontent.com/969559/60542810-c9946b80-9ce2-11e9-9e2b-a0bb53c5cc73.png)
![Screen Shot 2019-07-02

[2019-07-02 20:10] ihor-sviziev commented on #22407
Hi @rammohan-krish,
Could you double check if this issue was already fixed?
Thx

[2019-07-03 01:20] importwholesales commented on #14211
I use codazon theme and had something stuck in my wishlist.  I went to my profile in admin and removed it. tier pricing worked again!

[2019-07-03 02:36] krishprakash commented on #23549
Hi @saeohioalpha. Thank you for your report.
l'm closing this as Issue is duplicate to #22545
Once it will fixed it's available in next release.

[2019-07-03 02:36] #23549 closed, assigned to engcom-Bravo

[2019-07-03 04:03] vinaysikarwar commented on #15115
Query gives this sql error

[2019-07-03 05:14] rammohan-krish commented on #22407
@ihor-sviziev sure

[2019-07-03 05:16] rammohan-krish commented on #22407
@magento-engcom-team give me 2.3-develop instance

[2019-07-03 05:16] magento-engcom-team commented on #22407
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-03 05:16] magento-engcom-team commented on #22407
Hi @rammohan-krish, here is your [Magento instance](https://i-22407-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22407-2-3-develop.instances.magento-community.engineering/admin](https://i-22407-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-03 05:31] rammohan-krish commented on #22407
Issue not reproduced on the 2.3-develop instance

[2019-07-03 05:32] rammohan-krish commented on #22407
@magento-engcom-team give me 2.2-develop instance

[2019-07-03 05:32] magento-engcom-team commented on #22407
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-03 05:33] magento-engcom-team commented on #22407
Hi @rammohan-krish, here is your [Magento instance](https://i-22407-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22407-2-2-develop.instances.magento-community.engineering/admin](https://i-22407-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-03 05:52] rammohan-krish commented on #22407
Issue reproduced on the 2.2-develop instance
please refer to the following screenshot:
![Magento-menuissue](https://user-images.githubusercontent.com/46926270/60566538-d2d61480-9d84-11e9-953b-b10cc599d79d.png)

[2019-07-03 05:55] vinaysikarwar commented on #15115
I have created an extension as per the above solutions, which worked for me

https://github.com/vinaysikarwar/AddressIssue

[2019-07-03 05:57] rammohan-krish commented on #22407
Hello, @ihor-sviziev  issue reproducing on the 2.2-develop instance.

[2019-07-03 06:04] PawanKumarN commented on #22262
@treybake  How you fixed the issue i am also facing same issue can you provide solution

[2019-07-03 07:17] chris-pook commented on #23210
Thanks @RickDBCN , it seems the logic in the cron task that loops the required email sends is a bit flakey.

[2019-07-03 07:21] Shaggy003 opened #23550 "Magento 2.3 Error: "Invalid Form Key. Please refresh the page." When create new customer account frontend"
hey there,
![image](https://user-images.githubusercontent.com/51018149/60571379-264e5f80-9d91-11e9-82cc-25a98f1fbdb4.png)

I got this error whenever I tried to create a new customer account in frontend please give me a solution

Preconditions
2.3.1
PHP 7 / windows
Steps to reproduce
Go to Sign in
Fill data
Click Button to Create An Account
Expected Result
Account created, email is sent to verify a

[2019-07-03 07:26] engcom-Charlie commented on #23550
Hello @Shaggy003 ! It is impossible to reproduce this issue . Feel free to reopen it in case you can provide
some steps to reproduce it

[2019-07-03 07:26] #23550 closed, assigned to engcom-Charlie

[2019-07-03 07:30] Shaggy003 opened #23551 "Magento 2.3 Error: "Invalid Form Key. Please refresh the page." When create new customer account frontend"
Preconditions
2.3.1
PHP 7 / windows
Steps to reproduce
Go to Sign in
Fill data
Click Button to Create An Account
Expected Result
Account created, email is sent to verify an account? or account must be created
Actual result
![image](https://user-images.githubusercontent.com/51018149/60572119-8691d100-9d92-11e9-967c-f5c2f46fe040.png)

Page refreshes. and shows Invalid Form Key. Please refresh the pa

[2019-07-03 07:44] engcom-Charlie commented on #23551
Hello @Shaggy003 ! I can`t reproduce this issue due your steps.
Magento 2 is not supported by Windows OS (please refer here: https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html). Also you are using custom theme. The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Ma

[2019-07-03 07:44] #23551 closed, assigned to engcom-Charlie

[2019-07-03 08:55] engcom-Bravo commented on #23548
Hello @Olek89. The GitHub issue tracker is intended for Magento Core technical issues only. Your issue is not of that kind as there are already many people who have successfully updated their instances from 2.3.1 to 2.3.2 without facing that problem. In Your case we would suggest You to refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.

[2019-07-03 08:55] #23548 closed, assigned to nobody

[2019-07-03 08:58] FreekVandeursen opened #23552 "Tax calculation in multistore environment"
### Preconditions (*)
1. Magento >= 2.2.5

### Steps to reproduce (*)
1. Create store view store_2
2. Set Sales -> Tax -> Calculation settings -> Catalog Prices to "Including tax"
3. Set Sales -> Tax -> Price display settings -> Display product prices in catalog to "Including tax"
4. Create tax rules so that store_2 has different tax percentage than default store, e.g. 21% for default store and 19

[2019-07-03 09:00] FreekVandeursen commented on #23552
@magento give me 2.3-develop instance

[2019-07-03 09:00] magento-engcom-team commented on #23552
Hi @FreekVandeursen. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-03 09:01] magento-engcom-team commented on #23552
Hi @FreekVandeursen, here is your [Magento instance](https://i-23552-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23552-2-3-develop.instances.magento-community.engineering/admin](https://i-23552-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-03 09:14] magento-engcom-team commented on #23552
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17927` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-03 09:38] xi-ao commented on #23462
Hi,
Same issue here. Flat catalog used to take 2-3 minutes max. on 2.3.1 (for ~50 000 products), now it requires 30+ minutes.
There must be some regression here to explain such difference.

[2019-07-03 09:42] adam-inco commented on #23462
I have downgraded back to 2.3.1 and now its back to 1 -2 mins to process again

[2019-07-03 09:48] magento-engcom-team commented on #23462
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17929` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-03 09:48] adamvarga opened #23553 "Shipping cost is displayed without taxes on the checkout / cart page - Although the settings are included taxes"
### Preconditions
1. 2.3.2

### Steps to reproduce (*)
1. Make and upload Table Rate CSV files with correct shipping price (excluding taxes in csv!) and activate this shipping method
2. Choose "Excluding Tax" setting for Shipping Prices Calculation Setting under the Stores -> Configuration -> SALES -> Tax (Calculation Settings)
3. Choose "Including Tax" setting for Display Shipping Prices and Disp

[2019-07-03 09:54] engcom-Charlie commented on #22960
Hello @xnhinzkyx , @AndyJAllen ! Thank you for your reports !
I`ve tried to reproduce it on Magento 2.3-dev and 2.3.1 and seems like its not reproducible . Can you provide more steps how to reproduce it and update this ticket ?

![Screenshot from 2019-07-03 12-48-59](https://user-images.githubusercontent.com/51680850/60582532-ae346980-9d91-11e9-9cc2-69b946521a1c.png)

[2019-07-03 09:56] 29sunil opened #23554 "Ordered Products Report does not work"
### Preconditions (*)

1. We are using Magento 2.3.0
2. Order Report issue

### Steps to reproduce (*)

1.login in the admin section
2.click on report -> Products ->orderd
3. Select data range from 30-01-19 to 30-06-19 or any other date ranges

### Expected result (*)

1. We need a correct result between two dates
2.

### Actual result (*)

1. [Screensh
![reportse](https://user-images.githubuserco

[2019-07-03 10:04] BB-000 commented on #13078
🤮

[2019-07-03 10:05] craigcarnell commented on #13078
@dapdx It's still shockingly bad I'm afraid..

[2019-07-03 10:07] 29sunil commented on #23554
The current result is given below:
https://prnt.sc/o9wssx
https://prnt.sc/o9wtjs
https://prnt.sc/o9wtyq

So as per our understanding order report is not working. kindly resview it

[2019-07-03 10:12] adamvarga commented on #23553
Maybe he has the same problem: https://magento.stackexchange.com/questions/258199/magento-2-2-6-shipping-method-price-tax-calculation

[2019-07-03 10:28] rohankatkar opened #23555 "authorize.net payment get "Credit card number is required" error message when creating invoice in Magento 2.3"
### Preconditions (*)

1. Install Magento 2.3 CE
2. PHP 7.1.27

### Steps to reproduce (*)

1. Added a product into the shopping cart.
2. Choose authorize.net payment method in the checkout page.
3. Input credit card number expired date and CCV.
4. Place order.
5. Create invoice at the backend.

### Expected result (*)

1.  The invoice should be created.

### Actual result (*)

![Screenshot from 2

[2019-07-03 10:50] xi-ao commented on #23462
In my case, the query that takes a **really** long time to execute (90+ minutes) is the one of that form:

[code]

[2019-07-03 10:51] rohankatkar commented on #23555
Is this related to the change of MD5 to SHA-512 in Magento 2.3

[2019-07-03 11:23] slackerzz commented on #23540
You need to share the `var` directory between releases

[2019-07-03 11:34] hackronshins commented on #23546
Hi,
I tested in fresh installation, it is reproducible and I am able to see the issue, I added custom theme and tried.

[2019-07-03 12:07] engcom-Charlie commented on #23555
@magento give me 2.3-develop instance

[2019-07-03 12:07] magento-engcom-team commented on #23555
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-03 12:08] magento-engcom-team commented on #23555
Hi @engcom-Charlie, here is your [Magento instance](https://i-23555-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23555-2-3-develop.instances.magento-community.engineering/admin](https://i-23555-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-03 12:12] arendarenko opened #23557 "Warning during search in catalog by multiple custom option values. Warning should not be generated in log."
Warning: strip_tags() expects parameter 1 to be string, array given in /.../magento2/vendor/magento/framework/Filter/StripTags.php on line 48 happens when customer using catalog search with custom option values which is not exist (for example: they existed previously, but later was deleted).

### Preconditions (*)

1. Magento 2.2.8 with sample data

### Steps to reproduce (*)

1. Go to frontend ->

[2019-07-03 12:12] magento-engcom-team commented on #23210
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17933`, `MC-17934` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-03 12:20] shikhamis11 commented on #23508
@magento give me 2.3-develop instance

[2019-07-03 12:20] magento-engcom-team commented on #23508
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-03 12:21] magento-engcom-team commented on #23508
Hi @shikhamis11, here is your [Magento instance](https://i-23508-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23508-2-3-develop.instances.magento-community.engineering/admin](https://i-23508-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-03 12:22] rohankatkar commented on #23555
Hi @engcom-Charlie , are you looking into it?

[2019-07-03 12:23] engcom-Charlie commented on #23555
Hello @rohankatkar ! yes

[2019-07-03 12:23] Userr017 opened #23558 "Magento 2.3 backend: Stores > Settings > Configuration pages issue"
Everything Configuration pages display error when use browsers chrome, firefox etc...

### Preconditions (*)

1. Magento 2.3, 2.3.1, 2.3.2
2. PHP 7.2

### Steps to reproduce (*)

1. Open Magento 2 backend and then tab Stores > Settings > Configuration pages
2. Open browser (console)

### Expected result (*)

1. Open Magento 2 backend and then tab Stores > Settings > Configuration pages
2. Open bro

[2019-07-03 12:29] krishprakash commented on #23558
@magento give me 2.3-develop instance

[2019-07-03 12:29] magento-engcom-team commented on #23558
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-03 12:29] magento-engcom-team commented on #23558
Hi @krishprakash, here is your [Magento instance](https://i-23558-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23558-2-3-develop.instances.magento-community.engineering/admin](https://i-23558-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-03 12:32] shikhamis11 commented on #23508
hello @fohnbit
yes I checked the issue .. I am not able to reproduce it at current magento 2.3-develop instance
I am adding product with magento rest api here is my request params
`{
  "product": {
    "sku": "p0006",
    "name": "p0006",
    "attribute_set_id": 4,
    "price": 25,
    "status": 1,
    "visibility": 4,
    "type_id": "simple",
    "weight": "0.5",
    "extension_attributes": {

[2019-07-03 12:33] engcom-Charlie commented on #23555
Hello @rohankatkar ! I`m not able to reproduce this issue on Vanilla Magento 2.3-develop

![Screenshot from 2019-07-03 15-28-49](https://user-images.githubusercontent.com/51680850/60591807-e646a700-9da7-11e9-8f7d-d3de1895275d.png)

[2019-07-03 12:33] #23555 closed, assigned to engcom-Charlie

[2019-07-03 12:36] engcom-Bravo commented on #23546
Hi, @hackronshins. Please tell us more precisely can You reproduce Your issue on a fresh installation without applying the custom theme. Thank You.

[2019-07-03 12:38] krishprakash commented on #23558
Hi @Userr017. Thank you for your report.
I'm not able to reproduce the issue as described, seems like this related to your custom modules.
Feel free to reopen it in case you can confirm that its reproducible on Vanilla Magento instance.

[2019-07-03 12:38] #23558 closed, assigned to krishprakash

[2019-07-03 12:39] rohankatkar commented on #23555
the above order is created through Authorized.net Direct Post using Credit card?
Have you used the signature key as per new rule?

[2019-07-03 12:47] engcom-Charlie commented on #23555
@rohankatkar you can login here (https://i-23555-2-3-develop.instances.magento-community.engineering/admin) and check credentials which i used

[2019-07-03 12:54] TomashKhamlai opened #23559 "REST API Swagger Documentation uses /all/ and confuses people with errors"
### Preconditions (*)

1. Customer is created from Storefront
2. Product is created
3. Cart is active and contains product

### Steps to reproduce (*)

1. Get Customer's token using Swagger. After this message appears
`"The account sign-in was incorrect or your account is disabled temporarily. Please wait and try again later."` use this snippet to get customer token then copy and paste token to th

[2019-07-03 13:16] matthewonassis commented on #23462
Same issue here.
The Product Flat Data index will crash the whole server and I have to restart the server to back up for a while before it crashes again. I manually made the status of the indexers to be INVALID in the database and reindexed again, but none of the solutions works.
I hope someone can find the bug.

[2019-07-03 13:28] rich-humphreys commented on #22338
I'd just encountered this issue myself, attempting to put a mixin on `price-box.js`. The mixin was working fine in Chrome, however not in Firefox. I'd advise changing the single quotes within the `requirejs-config.js` file to double quotes, clearing your cache and testing again.

[2019-07-03 13:34] engcom-Bravo commented on #23553
Hello @adamvarga. Thanks for applying. We haven't noticed in Your Steps to Reproduce such a thing as Tax Class for Shipping Stores -> Configuration -> SALES -> Tax -> Tax Classes. Did You consider it?

[2019-07-03 13:47] ioweb-gr opened #23560 "improve setup:static-content:deploy downtime period"
### Summary (*)
setup:static-content deploy is very annoying to use in production because it produces huge downtime for websites.

### Examples (*)
Currently in order to force any changes in CSS no matter how small, change red to yellow for example requires the following process.

1. rm -rf var/view/preprocessed/* pub/static/frontend/*

Any other procedure will force obsolete files to be used.
Whi

[2019-07-03 13:55] hackronshins commented on #23546
I will try and check on without applying custom theme, I created a custom theme and added custom view.xml file and tried. I upload test product and image on this and it is not updating in the frontend, instead of it and it is showing placeholder, but that image still not found when I ran the command bin/magento product:images:resize

[2019-07-03 14:02] Alexander-Pop commented on #12362
Did someone try https://github.com/integer-net/magento2-session-unblocker ?

[2019-07-03 14:05] adamvarga commented on #23553
Hi @engcom-Bravo ,

Thanks for your response. Here is my update:
(And I checked the tax classes and rules for AT, It is correct as well.)

![Warenkorb - AOS Flyfishing - Fliegenfischen](https://user-images.githubusercontent.com/17138890/60597761-c5805080-9dab-11e9-8ee5-bb4ae01761ee.png)
![Bildschirmfoto 2019-07-03 um 15 57 23](https://user-images.githubusercontent.com/17138890/60597771-c9ac6e00-9d

[2019-07-03 14:06] saeohioalpha commented on #22545
To fix this without waiting for the PR to be approved and pushed to the next release.

1. Edit vendor/magento/module-downloadable/Observer/SaveDownloadableOrderItemObserver.php
   a. Apply changes on lines specified in:
https://github.com/magento/magento2/pull/22658/files
   b. See changes inline in full file:
https://raw.githubusercontent.com/magento/magento2/1524687560c4a71322eefd4448ff79d9ea334

[2019-07-03 14:16] engcom-Bravo commented on #23554
Hello @29sunil. Thanks for reporting. Could You please try to reproduce Your issue on a vanila 2.3-develop instance asking a bot for it as You are advised above:
![Advised](https://user-images.githubusercontent.com/51680745/60598838-172dd880-9db6-11e9-92ef-d56718eea9f2.png)
(We haven't managed to reproduce the issue on such an instance by now).

[2019-07-03 14:41] agata-maksymiuk commented on #10994
For those who are googling this error like me.

This error happens when loading product collection fails for some other reason.
And unfortunately, for an unknown reason, you will get no real error message but this crap.

Here is some information that could help you debug:
1. Open `vendor/magento/module-shared-catalog/Plugin/Catalog/Model/ResourceModel/Product/CollectionPlugin.php`
2. Go to `public

[2019-07-03 15:00] Userr017 commented on #19710
@hackronshins Have you tried edit magento core files?

Check message: @rdeelstra commented on 2 Apr

[2019-07-03 15:05] Userr017 commented on #23546
This duplicate? https://github.com/magento/magento2/issues/19710

[2019-07-03 15:06] magento-engcom-team commented on #23553
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17937`, `MC-17938` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-03 15:06] Uysim opened #23561 "How to get order_statuses from API in Magento2?"
I try to search online but can not find any endpoint that allow to get order_statuses. All I can get is only status_code from the orders.

[2019-07-03 15:17] Den4ik commented on #23455
@magento give me 2.3-develop instance

[2019-07-03 15:17] magento-engcom-team commented on #23455
Hi @Den4ik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-03 15:18] magento-engcom-team commented on #23455
Hi @Den4ik, here is your [Magento instance](https://i-23455-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23455-2-3-develop.instances.magento-community.engineering/admin](https://i-23455-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-03 15:20] Den4ik commented on #23455
@jtalel Sorry, I taken fresh instance for different checks. I have past comment in your issue because it was the first in the grid

[2019-07-03 15:20] magento-engcom-team commented on #23455
Hi @Den4ik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-03 15:21] magento-engcom-team commented on #23455
Hi @Den4ik, here is your [Magento instance](https://i-23455-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23455-2-3-develop.instances.magento-community.engineering/admin](https://i-23455-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-03 15:23] nicoflemming commented on #4548
Same issue with ssl_ca parameter. So when you are using mysql-ssl connection setup:upgrade wont work, because while connecting to information_schema the ssl_ca parameter is omitted.

[2019-07-03 15:23] dapdx commented on #13078
@craigcarnell Completely agree, we were trying again with it for a couple stores with 2.3 and it's still garbage. Plugin installation is a confusing mess, basic features became headaches or didn't function, and it's just inconsistent. We went back to 1.9.3 again. I was hoping after Adobe picked it up they might get it together, but I guess not.

[2019-07-03 15:24] engcom-Bravo commented on #23546
Indeed @hackronshins, Your issue seems to be a duplicate of #19710. Therefore we are closing this issue. Please feel free to reopen it if deem necessary. Thanks for applying.

[2019-07-03 15:24] #23546 closed, assigned to engcom-Bravo

[2019-07-03 15:26] nicoflemming commented on #4548
@magento-cicd2 can you also fix that?

[2019-07-03 16:01] luckyraul commented on #23540
you cannot share var

[2019-07-03 16:12] hackronshins commented on #19710
**Yes tried but no luck**

[2019-07-03 16:36] shikhamis11 commented on #23561
@Uysim github is intended for magento 2 core issues use [Magento Stack Exchange](https://magento.stackexchange.com/) or [Magento Forum](https://community.magento.com/)

[2019-07-03 16:36] #23561 closed, assigned to shikhamis11

[2019-07-03 17:24] Userr017 commented on #19710
@hackronshins If you have backup for old files and database, restore it and try again update.

[2019-07-03 17:45] J-SM commented on #15115
fix qry via named subquery (force MySQL to use temp table) I.e.

 UPDATE quote_address SET customer_address_id=NULL where address_id IN ( select address_id from (select * from quote_address) as QA  where ( QA.customer_address_id is NOT NULL AND QA.customer_address_id NOT IN ( select entity_id from customer_address_entity) ) );

[2019-07-03 17:54] vinaysikarwar commented on #15115
That is not a solution to do things forcely. Its better to do it via try
catch.

On Wed, Jul 3, 2019, 11:16 PM J-SM <notifications@github.com> wrote:

[2019-07-03 18:17] vDeggial opened #23562 "Admin Dashboard Charts not working"
### Preconditions (*)

Magento CE 2.2.9

### Steps to reproduce (*)

After updating Magento from 2.2.8 (where Charts in Dashboard were working fine) to 2.2.9 the Charts in Admin Dashboard stopped showing.

### Expected result (*)

Charts in Admin Dashboard show up as they were in previous versions of Magento

### Actual result (*)

Chart doesn't show in Admin Dashboard and exception.log shows
`[20

[2019-07-03 18:18] shinoamakusa commented on #23562
@magento give me 2.2-develop instance

[2019-07-03 18:18] magento-engcom-team commented on #23562
Hi @shinoamakusa. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-03 18:18] magento-engcom-team commented on #23562
Hi @shinoamakusa, here is your [Magento instance](https://i-23562-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23562-2-2-develop.instances.magento-community.engineering/admin](https://i-23562-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-03 18:22] shinoamakusa commented on #23562
Vanilla instance will not work as it has no data to show :(

[2019-07-03 18:25] FISHWEB commented on #20033
If Magento 2.3.2 is a fresh install, it could be with the server missing the sendmail:

check first if php mail is installed:
          php -r "mail('me@myEmail.com', 'Is PHP Mail Setup', 'Yes - I got this email');"
if you get this message:
sh: 1: /usr/sbin/sendmail: not found

then install:
sudo apt-get install sendmail

run this again:
php -r "mail('me@myEmail.com', 'Is PHP Mail Setup', 'Yes - I

[2019-07-03 18:45] AndyJAllen commented on #22960
Hi Charlie,

The order listing you show a screenshot of will not show the error we are pointing out...You would have to view the order details or view the orders from the customer record. In the screenshot shown by xnhinzkyx he is looking at the orders tab from a customer record.

-Andy

[2019-07-03 19:12] hostep commented on #23562
I've noticed the same problem on a Magento1 shop a couple of months ago on my local machine which uses HTTP/2 on my webserver. There is some bug in parsing of HTTP headers in Magento when you use HTTP/2. If you use HTTP/1.1 it will work fine.

I could fix it like this (Magento1 patch), but haven't tested this very much, so not sure if this fix won't cause new issues:
[code]

It looks like the same

[2019-07-03 19:34] shinoamakusa commented on #23562
But charts worked just short time ago with 2.2.8, after upgrade 2.2.9 it broke down. A bit weird ...

[2019-07-03 20:00] scoops87 commented on #23562
shinoamakusa are you using litespeed cache ?

[2019-07-03 20:02] jasper0514 commented on #22373
Thanks for posting this solution.  I have been struggling with an Invalid Gateway Credentials error message for quite some time.  Once I checked the boxes for "Use Default", everything worked just fine.  I was now able to turn off the old hash method and move to the next public client key method.

[2019-07-03 20:10] avoelkl commented on #23405
I had the following problem in a gitlab ci runner during deployment:

[code]

These 3 lines solved my problem (thank you @markshust):

[code]

see also [https://github.com/markshust/docker-magento/blob/master/images/php/7.2/Dockerfile#L33-L38](https://github.com/markshust/docker-magento/blob/master/images/php/7.2/Dockerfile#L33-L38)

[2019-07-03 20:14] shinoamakusa commented on #23562
No, our vps server is regular apache 2.4

[2019-07-03 20:28] hostep commented on #23562
They've changed the service they used for generating charts, because Google ended (or was going to end) their service, and now Magento uses a different service for rendering charts, see the [release notes](https://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.9CE.html):

[2019-07-03 20:32] shinoamakusa commented on #23562
I know that but isn't it supposed to work seamlessly out of the box?

[2019-07-03 20:33] hostep commented on #23562
Yes, but they forgot to test when using a webserver running HTTP/2 I suppose ...

[2019-07-03 21:20] shinoamakusa commented on #23562
well i have http2 set on cloudflare but not on server itself ...

[2019-07-04 01:21] vDeggial opened #23563 "Product Status Filter doesn't always work"
### Preconditions (*)

Magento CE 2.2.9
Product attributes and attribute sets (which do not include all custom attributes on each one)

### Steps to reproduce (*)

After updating Magento from 2.2.8 to 2.2.9 (it seems) there is a strange issue with Product Grid and applying the Status filter (enabled/disabled). It doesn't always work as it should.

### Expected result (*)

When Status filter is set

[2019-07-04 04:50] tijo2248 opened #23564 "Downloadable products showing out-of-stock in front end"
Hi,
Magento version 2.3.2
Downloadable products showing out-of-stock in front end and in-stock in back end.
i have tried my best, cleared cache, reindex, etc.. but no luck. 

i have added download file, manage stock is 1000.
its showing in-stock in back end.

[2019-07-04 04:59] krishprakash commented on #23564
@magento give me 2.3-develop instance

[2019-07-04 04:59] magento-engcom-team commented on #23564
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-04 04:59] magento-engcom-team commented on #23564
Hi @krishprakash, here is your [Magento instance](https://i-23564-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23564-2-3-develop.instances.magento-community.engineering/admin](https://i-23564-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-04 05:09] krishprakash commented on #23564
Hi @tijo2248. Thank you for your report.
Not able to reproduce the issue as described by you.
Please provide additional steps to reproduce the issue also follow issue reporting guideline to report an issue
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Thanks.

[2019-07-04 05:58] Jilco commented on #22842
I solved it by switching of micro caching in NGINX (engintron)

[2019-07-04 07:05] Volleyb commented on #15043
Again so many Extensions! Surely this is a basic function! Configurative doesn't mean a price difference! In my case none of my products have a price difference but I want to show they are below RRP!!!!!  come on! Frustrating!

[2019-07-04 07:16] 29sunil commented on #23554
We did not understand This point (vanila 2.3-develop instance asking a bot for it as  ) . Can we need to reproduce this issues at vanilla 2.3 platforms? We are facing issues at Magento 2.3.0 version. We do not have more knowledge about vanilla. We think this issue is in Magento 2.3.0 version.

[2019-07-04 07:32] fohnbit commented on #23508
Hello,

no, not working on my site.
Did you checked if the Option in the image at admin "Hide from Product Page" is checked after creating the product?

I used your JSON and just add a JPEG.
The Option "
**"disabled": true**
is set, but after upload the new product, it is not hide from product page:
[https://ibb.co/ZMNtK5H](url)

`{
    "product": {
        "sku": "p0006",
        "name": "p0006",

[2019-07-04 07:37] magento-engcom-team commented on #23559
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17941`, `MC-17942` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-04 07:47] maniramav commented on #6759
Magento 2.3.2, In /vendor/magento/module-page-cache/Model/App/FrontController/BuiltinPlugin.php already have following code. Still asking customer to re-login.
` if (!$this->config->isEnabled() || $this->config->getType() != \Magento\PageCache\Model\Config::BUILT_IN) {
            return $proceed($request);
        }`

[2019-07-04 08:12] g2genious opened #23565 "Main Navigation Codezone Megamenu structure not displaying but loading"
Main Navigation Code zone Mega menu structure not displaying but loading

Hi Im very new to Magneto I m using Version 2.3 . Ivave a strange Problem. I ve installed Code Zone Fastest Theme. When I trying to edit menu via Code zone->Manage mega menu , Mega menu section is loading nothing is displaying

![Untitled](https://user-images.githubusercontent.com/52526612/60650339-9af0cf00-9e61-11e9-9ebd-19

[2019-07-04 08:16] engcom-Bravo commented on #23554
@29sunil, we can confirm the issue only if it is reproduced on a vanilla instance - a fresh installation clear of any custom modules, third party extensions and any other kinds of changes made to the original code.
Why 2.3-develop version - fixes are applied only to the latest develop versions of 2.3 and 2.2 (if the issue has been reproduced on 2.3-develop).
Now according to our workflow, (please

[2019-07-04 08:26] 29sunil commented on #23554
Ok let me check this issues at fresh magento 2.3.0 installation and get back to you

[2019-07-04 08:47] engcom-Delta commented on #23565
Hi @g2genious , thank you for your report . Your issue is connected with third-party extension. Please, contact with support of your extension to get solution. If you'd like to update issue, please reopen it.

[2019-07-04 08:47] #23565 closed, assigned to engcom-Delta

[2019-07-04 09:34] andrewescapsolutions commented on #23539
If you're running from the /pub/ directory this shouldn't flag as an issue as setup isn't accessible to check the file

The other option is to add

Deny from all

To the setup/.htaccess file as if it's on production you shouldn't need anyone in there anyway :)

[2019-07-04 09:40] dyuk1987 opened #23567 "Tear Price? Tier Price?"
### Summary (*)

_(Not sure where to put this "issue")_
I found the term "**Tear Price**" in some part of the core when I was digging around. I was wondering if this is a typo for "**Tier Price**" or actually a special term.

### Examples (*)

With a little grep, I was managed to find "**Tear Price**" in at least 8 files:

1. magento/module-advanced-pricing-import-export/Test/Unit/Model/Import/Adv

[2019-07-04 10:11] southerncomputer commented on #23411
This is normal due to loadQuote throwing an exception when no cart/quote exists for the customerId
[code]

[2019-07-04 10:28] sudheers-kensium commented on #23534
Attribute type should be "text" .
Run below query:
UPDATE eav_attribute SET backend_type = 'text' WHERE eav_attribute.attribute_code = 'my_attribute';

[2019-07-04 10:49] onepack commented on #7730
I'm trying to figure out how to get around this issue.
This is closed by Magento as they see this as normal behavior.
The not proposed solution never made it to production and is not working properly: https://github.com/magento/magento2/pull/10246/commits/676930547154a428fc2b5ce2565b1d6e8edb524f
Example:
The page will show 1-7 of 7 products with a page setting of 12 max per page.
However I know th

[2019-07-04 11:03] developer-vtnetzwelt commented on #23193
Any update on this issue?

We are getting same issue.

[2019-07-04 11:10] hackronshins commented on #19710
I will try it and update the status here. Thanks for response

[2019-07-04 11:17] theodorhanu commented on #23534
Hi @sudheers-kensium
Thanks for your answer.
Even though your answer is correct, this seems to be a bug in magento, at least for me.
If the varchar can be used with multiselect, then the indexer must correctly reindex data in it

[2019-07-04 11:26] slackerzz commented on #23540
@luckyraul why not? I'm using capistrano with https://github.com/davidalger/capistrano-magento2 to deploy and i assure you that you can:
![immagine](https://user-images.githubusercontent.com/3061752/60662889-e5704c80-9e5d-11e9-91f5-24ce618c5505.png)

[2019-07-04 11:30] YiffyToys commented on #20033
2.3.2 here

- order status emails working
- contact form NOT working
- php mail() command working fine
- sendmail (of the courier-mta family) is present

[2019-07-04 11:31] GordonLesti commented on #23411
@southerncomputer Yes, the quote exists, but it is not active anymore at the moment. But this is not normal, cause the order has not been placed yet.

[2019-07-04 11:39] engcom-Bravo commented on #23563
Hello @shinoamakusa. Thanks for applying. We are closing this issue as a duplicate of #23435.

[2019-07-04 11:39] #23563 closed, assigned to engcom-Bravo

[2019-07-04 11:48] engcom-Charlie commented on #23567
@magento give me 2.3-develop instance

[2019-07-04 11:48] magento-engcom-team commented on #23567
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-04 11:48] magento-engcom-team commented on #23567
Hi @engcom-Charlie, here is your [Magento instance](https://i-23567-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23567-2-3-develop.instances.magento-community.engineering/admin](https://i-23567-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-04 11:49] hostep commented on #23540
@slackerzz: it's not really recommended to share the full `var` directory in between releases. Especially if you use file based caching for example. You want the cache to not be shared in between releases.

The examples in the repo's README you reference also shares only specific individual files or directories within the `var` directory:
[code]

Can you tell us a bit more about those .pid files i

[2019-07-04 12:05] engcom-Charlie commented on #23567
@magento give me 2.2-develop instance

[2019-07-04 12:05] magento-engcom-team commented on #23567
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-04 12:06] magento-engcom-team commented on #23567
Hi @engcom-Charlie, here is your [Magento instance](https://i-23567-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23567-2-2-develop.instances.magento-community.engineering/admin](https://i-23567-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-04 12:06] magento-engcom-team commented on #23567
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-07-04 12:11] magento-engcom-team commented on #23567
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17945`, `MC-17946` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-04 12:23] verdde opened #23568 "Can't extend admin_login.xml / Change admin logo"
### Summary (*)
Can't extend admin_login.xml, in order to change the admin logo. The version on which i've tested is 2.3.1 and 2.3.2.

### Examples (*)
Follow exactly the example provided in the dev docs:
https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/themes/admin_theme_create.html

Admin theme is applied but admin_login.xml does not apply.

### Proposed solution
Haven't found a soluti

[2019-07-04 12:41] RedAtRareCandy commented on #17951
I never had this issue until I upgraded from 2.3.1 to the new 2.3.2. All of the PIDs on my server are bin/magento queue:consumers:start and end with --max-messages=10000.

Because they never exit, lfd (Login Failure Daemon) sends me emails on the hour saying that they're using excessive resources (aka Process Time). They simply live too long and lfd keeps letting me know about it.

Is there a work

[2019-07-04 12:45] Naberdz opened #23569 "getSpecialPrice calls afterGetPrice hook"
### Preconditions (*)

1. Magento version 2.3.1
2. php 7.2.15

### Steps to reproduce (*)

1. Create plugin to modify product price with afterGetPrice hook
2. plugin code:
[code]
3. template code to display correct product price:
[code]

### Expected result (*)
1. If condition is met it should display custom price and custom price * modifier which is price from backend.
2. If we have special price

[2019-07-04 12:47] engcom-Bravo commented on #23330
@Filipe-Bicho, and could You please provide us a screenshot of the Actual Result?

[2019-07-04 12:51] slackerzz commented on #23540
Hi @hostep, you're right, it's not ideal but i'm not using files for caching, i use Redis.
However I created a systemd service to run my consumer because at the time of Magento 2.1 there wasn't an option to run it by cron.

When the consumer is started for the first time it creates a pid file in the magento `var` directory.
Every subsequent cron execution checks for the pid file, if this exists th

[2019-07-04 13:37] Clud7 commented on #15984
I need help on this! Magento 2.3.1 here. After SKU 1000 skus magento updates the stock only for the next skus ignoring the first 1000. On 1160 sku i have salable quantity stock only for the last 160.

[2019-07-04 13:43] googlela commented on #22773
@akamenew @just-tom just-tom
change function
Path: Magento\Framework\Reflection\TypeProcessor

 public function getParamType(ParameterReflection $param)
    {
        $type = $param->detectType();
        if ($type === 'null') {
            throw new \LogicException(sprintf(
                '@param annotation is incorrect for the parameter "%s" in the method "%s:%s".'
                . ' First dec

[2019-07-04 13:50] magento-engcom-team commented on #21671
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#21673 by @gwharton in 2.2-develop branch
Related commit(s):
 - [abf66b8f9f6fec9fe9276fc07f6a477b3e486b22](https://github.com/magento/magento2/commit/abf66b8f9f6fec9fe9276fc07f6a477b3e486b22)
 - [36395ef4dc41c455682c9dfe697ec142e1f62408](https://github.com/magento/magento2/commit/36395ef4dc41c455682c9dfe697ec142e1

[2019-07-04 13:50] magento-engcom-team commented on #21672
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#21673 by @gwharton in 2.2-develop branch
Related commit(s):
 - [abf66b8f9f6fec9fe9276fc07f6a477b3e486b22](https://github.com/magento/magento2/commit/abf66b8f9f6fec9fe9276fc07f6a477b3e486b22)
 - [36395ef4dc41c455682c9dfe697ec142e1f62408](https://github.com/magento/magento2/commit/36395ef4dc41c455682c9dfe697ec142e1

[2019-07-04 13:50] magento-engcom-team commented on #22103
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#23537 by @gwharton in 2.2-develop branch
Related commit(s):
 - [dfdbe7cc4b94c103ab66383577e13b91de395dff](https://github.com/magento/magento2/commit/dfdbe7cc4b94c103ab66383577e13b91de395dff)
 - [e6fbf99d409eb77e86266e008ff23db9276f3fb2](https://github.com/magento/magento2/commit/e6fbf99d409eb77e86266e008ff23db927

[2019-07-04 13:50] #22103 closed, assigned to gwharton

[2019-07-04 13:50] magento-engcom-team commented on #23199
Hi @msawyers. Thank you for your report.
The issue has been fixed in magento/magento2#23537 by @gwharton in 2.2-develop branch
Related commit(s):
 - [dfdbe7cc4b94c103ab66383577e13b91de395dff](https://github.com/magento/magento2/commit/dfdbe7cc4b94c103ab66383577e13b91de395dff)
 - [e6fbf99d409eb77e86266e008ff23db9276f3fb2](https://github.com/magento/magento2/commit/e6fbf99d409eb77e86266e008ff23db927

[2019-07-04 13:50] #23199 closed, assigned to shikhamis11, gwharton

[2019-07-04 13:50] magento-engcom-team commented on #23377
Hi @iamckindia. Thank you for your report.
The issue has been fixed in magento/magento2#23536 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [6874f6158e17902809b91659783c597864d2ec16](https://github.com/magento/magento2/commit/6874f6158e17902809b91659783c597864d2ec16)

The fix will be available with the upcoming 2.2.10 release.

[2019-07-04 13:50] magento-engcom-team commented on #21380
Hi @udovicic. Thank you for your report.
The issue has been fixed in magento/magento2#23439 by @ihor-sviziev in 2.2-develop branch
Related commit(s):
 - [e22fb2359efefe91af6f553efdbd934916da415c](https://github.com/magento/magento2/commit/e22fb2359efefe91af6f553efdbd934916da415c)
 - [ff568ac7ceb868cf71a444066be20c9be106b2ba](https://github.com/magento/magento2/commit/ff568ac7ceb868cf71a444066be20c

[2019-07-04 14:12] simonlandry0 commented on #23256
@neha023 I ran into the same "User authentication failed due to invalid authentication values." issue after updating to 2.3.2. If you update to 2.3.2 and are still having that same issue, try doing what I mentioned in my latest comment in this thread https://github.com/magento/magento2/issues/22373

[2019-07-04 14:31] adamvarga commented on #19710
Has somebody the same problem with swatcher images on the category page?

Example:
If you choose a color tile on the category page, is the wrong image displayed as a product image on the top? the hash for the cache is wrong in the url, if I check this in network tab.

[2019-07-04 14:41] peterjaap commented on #18229
@engcom-backlog-nazar

Do you have a commit for this fix? When I look at [this file in 2.3-develop](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Price/CustomOptionPriceModifier.php), I don't see any differences in the `checkIfCustomOptionsExist` method?

[2019-07-04 14:57] shinoamakusa commented on #23563
Then I patiently await the resolution :)

[2019-07-04 15:09] Hexmage commented on #7730
@onepack
I think the reason they haven't merged the commit is because the actual problem is deeper.
The original unfiltered collection returns 12 products. Then proceeds to filter those 12 products which results in the 7 products you see. The 8th product apparently is in the next 12 products.

So the actual problem is that the collection is filtered too late.

[2019-07-04 15:11] engcom-Bravo commented on #6668
@aligent-lturner, Your issue is really reproduced on 2.2.5, but we can not fix the version where the issue is still reproduced. The fixes are provided only in one of the following versions. Now the issue is reproduced nether on 2.3-develop nor on 2.2-develop version which for now is 2.2.9. You may recheck it Yourself. So You may  get the fix for Your instanse by upgrading it to a later version.

[2019-07-04 15:35] magento-engcom-team commented on #23285
Hi @nishantjariwala. Thank you for your report.
The issue has been fixed in magento/magento2#23566 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [e1d04914dd26b22040b7ee53ff5f16d950e0c7fe](https://github.com/magento/magento2/commit/e1d04914dd26b22040b7ee53ff5f16d950e0c7fe)

The fix will be available with the upcoming 2.2.10 release.

[2019-07-04 15:40] jaywilliams commented on #18229
FYI, that patch didn't fully fix my issues on v2.2, so I ended up having to disable store-specific price indexing.

[2019-07-04 16:05] onepack commented on #7730
@Hexmage
Thanks for the reply!
For now I will stick with the proposed solution combined with a high items per grid setting.
This way I can get around 80% of the issue that some products are not shown as they would be in the second page collection.
I will spend more time on this when time allows it.

[2019-07-04 17:05] jaywilliams commented on #7298
Although this doesn't fix the underlying bug(s) in Magento, running this CLI command can help mitigate it.
https://github.com/elgentos/regenerate-catalog-urls

[2019-07-04 17:05] seyuf commented on #7730
Hi,
yep @Hexmage the problem is surely deeper.
The thing is i had the same issue somewhere else ie [here](https://github.com/magento/magento2/pull/22291).
Someone found a fix that better and had nothing to do with mine :).
@onepack may be you can take a look?
My solution at the time was to reset the total count if i remember correctly :).

Hope this helps.

@shikhamis11 maybe you'll be interested

[2019-07-04 17:41] simonlandry0 opened #23571 "Add support for new lines to the Wysiwyg widget plugin"
### Description (*)

The Magento Wysiwyg plugin for tinymce4 does not detect a widget when it has a new line in the data because of a regex. Changing this regex would add support for textarea inputs in widgets.

https://github.com/magento/magento2/blob/2.3-develop/lib/web/mage/adminhtml/wysiwyg/tiny_mce/plugins/magentowidget/editor_plugin.js#L126

This regex should be changed:
(old)
`return conten

[2019-07-04 18:52] luckyraul commented on #23540
@slackerzz
Firstly there is no command to stop them.
Secondly it is not a var/pid.
Lastly, If we keep pid files shared it will not start new one if there is old running? Am I correct?  This creates a new problem because old code is still running

[2019-07-04 19:07] onepack commented on #7730
@seyuf,
Thank you for your reply. Resetting the count seems like a good approach.
Will have a test with that now.

[2019-07-04 19:26] seyuf commented on #7730
@onepack you can also take a look at this approach https://github.com/magento/magento2/pull/22291/commits/b881a5d98db719eae436d80965ea41365b53295e

[2019-07-04 19:46] onepack commented on #7730
I tried a combination of both fixes:
[code]

But the result stays like it was. Products are missing that are supposed to be on the next page if the filter was not in place.
Any suggestion on the code?

[2019-07-04 19:56] seyuf commented on #7730
Humm just curious can you replace fetchOne by fetchAll?
And tell me what it gives you?

[2019-07-04 20:06] onepack commented on #7730
It gives me the total count of one in the toolbar and shows 11 items that should be 12.
Setting the page limit to 32 products shows me 12 products but the count is still one.
I reverted that last change so it is  fetchOne again.

[2019-07-04 20:20] seyuf commented on #7730
Alright thanks, hmm so it's not what i was thinking then if the total stays at one.
I will take a look at this when i have a bit more time.
But hopefully, @shikhamis11 will have found a fix by then :).

[2019-07-04 20:48] chequille commented on #23411
Hi Guys,
just a small comment from my site:
Be aware, the eception was not thrown in version 2.3.1.
Therefore, it must be a bug in 2.3.2
Regards,
Chequille

[2019-07-04 21:08] jtalel commented on #23455
Just noticed following issues:

1. It's not possible to assigned to a custom status the state "new". Had to change it through database.
2. Assuming the Order Lifetime refer only to the "Pending Payment" method I assigned "new" state to that order and created orders in "pending payment" status.
3. Cron is not cancelling those orders either.
4. Magento is supposed to clean (Cancel) orders as per thi

[2019-07-04 21:13] seyuf commented on #7730
@onepack what's your magento version?

[2019-07-04 21:13] jtalel commented on #23455
help wanted

[2019-07-04 21:18] onepack commented on #7730
M2 version 2.3.2 in development mode.

[2019-07-04 21:31] seyuf commented on #7730
^^
what is this supposed to mean? https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/CatalogSearch/Model/ResourceModel/Fulltext/Collection/TotalRecordsResolver.php

[2019-07-04 21:32] duffner commented on #18477
Team,

In addition to #23319 , the use case for 0 in the world of Magento is a value for infinite.

Now instead of setting 0, we have to set some artificial number that’s quite high.

[2019-07-04 21:53] onepack commented on #7730
This is the first time I see that. Will check tomorrow morning.

[2019-07-04 22:13] southerncomputer commented on #23411
It is because there is no quote! I just showed you the routine above! No Quote means when customer-data is called it cannot load the quote that does not exist! Whether this was changed in 2.3.2 i don't know but i've been working around this bug for the last day or so since it messes up onestepcheckout when the quote structure is not existing already!

[2019-07-04 23:15] duffner commented on #18477
I vote on reverting this commit. If we are not going to revert, please provide solution for not restricting the max amount in the cart

[2019-07-04 23:24] aligent-lturner commented on #6668
@engcom-Bravo I can see now where the issue has been fixed in both 2.2.8 and 2.3.0 - for anyone wondering, it's `Magento\Sales\Plugin\ShippingLabelConverter`, so not sure why this was initially marked as being fixed in 2.2.1.
In any case, this should be fixed with an upgrade, so I'll close the ticket.

[2019-07-04 23:24] #6668 closed, assigned to nobody

[2019-07-04 23:26] SoloDevAtrix commented on #9861
I fixed this and it is sitll an issue in 2.2.3
stopping event propagation never worked for me.  I created a workaround that creates a full screen invisible div for 1 second and then removes it on clicking the exit button.

[code]

then just call assign_clickthroughprevention() from any module in a jquery document.ready call

[code]

It works, which is more than I can say for anything else this rep

[2019-07-05 04:12] rossmc commented on #23539
Thank you @andrewescapsolutions :)
I hadn't set up the security scan tool and did not think of that.

Very good point, that must be it.

[2019-07-05 04:22] msawyers commented on #23199
Awesome, thanks @gwharton

[2019-07-05 04:25] salehawal opened #23572 "Type Error occurred when creating object"
### Summary (*)
frontend to displaying any product .. i get this error

[2019-07-05 03:01:42] main.CRITICAL: Type Error occurred when creating object: Magento\ConfigurableProduct\Model\Product\Type\Configurable\Variations\Prices {"exception":"[object] (Magento\\Framework\\Exception\\RuntimeException(code: 0): Type Error occurred when creating object: Magento\\ConfigurableProduct\\Model\\Product\\T

[2019-07-05 04:30] DanielRuf commented on #23539
Hi @rossmc,

Is this resolved or why did you reopen it?

[2019-07-05 04:40] rossmc commented on #23539
I agree that changing the file permissions makes sense for `setup/` directory to get around the security scan.  I'm not sure if it's the best solution?

The Magento docs says this directory [should be have read access](https://devdocs.magento.com/guides/v2.3/config-guide/prod/prod_file-sys-perms.html#make-code-files-and-directories-read-only).

[2019-07-05 05:15] salehawal commented on #23572
Detailed Error Message ...

1 exception(s):
Exception #0 (Magento\Framework\Exception\RuntimeException): Type Error occurred when creating object: Magento\ConfigurableProduct\Model\Product\Type\Configurable\Variations\Prices

Exception #0 (Magento\Framework\Exception\RuntimeException): Type Error occurred when creating object: Magento\ConfigurableProduct\Model\Product\Type\Configurable\Variations\

[2019-07-05 05:49] engcom-Charlie commented on #23572
Can you provide more steps how to reproduce it ?

[2019-07-05 06:07] andrewescapsolutions commented on #23539
Changing to the /pub directory on production sites would be the
best option. I was just giving another alternative

On Fri, 5 Jul 2019, 05:41 Ross, <notifications@github.com> wrote:

[2019-07-05 06:39] webspeaks commented on #19479
To debug the faulty column, you can add `var_dump` in `/vendor/magento/framework/Setup/Declaration/Schema/Db/DefinitionAggregator.php` as below

![image](https://user-images.githubusercontent.com/1465109/60702832-9ee22700-9f1d-11e9-8d4d-a6128e909860.png)

It will show you the incorrect column, so you can fix that column.
![image](https://user-images.githubusercontent.com/1465109/60702794-87a33980-

[2019-07-05 06:39] bhavik43 opened #23575 "Created date mismatch with calendar icon"
Created date mismatch with calendar icon

### Preconditions (*)
magento 2.3
magento 2.2

### Steps to reproduce (*)
1) Admin -> Marketing -> User Contents -> Reviews
2) Select created date

### Expected result (*)
Date should not be mismatch with calendar icon

### Actual result (*)
![created date issue](https://user-images.githubusercontent.com/49804008/60702778-7f4afe80-9f1d-11e9-897b-85a4cbb6fa

[2019-07-05 06:41] krishprakash commented on #23575
@magento give me 2.3-develop instance

[2019-07-05 06:41] magento-engcom-team commented on #23575
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-05 06:41] magento-engcom-team commented on #23575
Hi @krishprakash, here is your [Magento instance](https://i-23575-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23575-2-3-develop.instances.magento-community.engineering/admin](https://i-23575-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-05 06:44] krishprakash commented on #23575
@magento give me 2.2-develop instance

[2019-07-05 06:44] magento-engcom-team commented on #23575
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-05 06:44] magento-engcom-team commented on #23575
Hi @krishprakash, here is your [Magento instance](https://i-23575-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23575-2-2-develop.instances.magento-community.engineering/admin](https://i-23575-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-05 06:49] magento-engcom-team commented on #23575
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17949`, `MC-17950` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-05 06:58] hostep commented on #23540
Out of curiosity: is it safe to kill these `queue:consumers:start` processes? What if some message is just being handled by that process and in the middle of it you kill that process, what happens then? (sorry for asking stupid questions, I don't quite understand yet how the whole message queueing works in Magento and how stable it is).

Also: what we are seeing, is that no new `queue:consumers:st

[2019-07-05 07:07] engcom-Bravo commented on #23344
@razvang10, the contributor guide suggests that tickets that have not been active for two weeks should be closed. Please reopen as needed.

[2019-07-05 07:07] #23344 closed, assigned to nobody

[2019-07-05 08:01] hostep opened #23577 "Since 2.3.2, we can no longer switch maintenance modes with an empty database"
### Preconditions (*)
1. Magento 2.3.2
2. PHP 7.2.19

### Steps to reproduce (*)
1. Setup Magento 2.3.1 using composer
2. Drop the database and create it again so it's empty (meaning: db has zero tables)
3. Run `bin/magento maintenance:enable` or `bin/magento maintenance:disable`
4. Notice that this works => **good**
5. Setup Magento 2.3.2 using composer
6. Drop the database and create it again so

[2019-07-05 08:06] engcom-Charlie commented on #23568
@magento give me 2.3-develop instance

[2019-07-05 08:06] magento-engcom-team commented on #23568
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-05 08:06] magento-engcom-team commented on #23568
Hi @engcom-Charlie, here is your [Magento instance](https://i-23568-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23568-2-3-develop.instances.magento-community.engineering/admin](https://i-23568-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-05 08:10] engcom-Charlie commented on #23568
The issue is not reproducible on 2.3-develop branch
![1](https://user-images.githubusercontent.com/51680850/60707794-32632a00-9f15-11e9-8cd6-7eedc1fb3957.png)
![Screenshot from 2019-07-05 11-01-44](https://user-images.githubusercontent.com/51680850/60707796-32632a00-9f15-11e9-8180-58d733345dc4.png)

[2019-07-05 08:19] #23568 closed, assigned to engcom-Charlie

[2019-07-05 08:27] iozkn opened #23578 "Item (Magento\Catalog\Model\Product\Interceptor) with the same ID "137324" already exists."
Hello,

I'm facing a problem and can't solvin. All my product detail pages are returns "Item (Magento\Catalog\Model\Product\Interceptor) with the same ID "137324" already exists." error.

### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.1.30
3. Redis 3.0.6
4. Mysql 5.7
5. Nginx 1.14.2

### Steps to reproduce (*)

Packages :
[code]

### Expected result (*)

Working product detail page.

### Actual

[2019-07-05 08:44] engcom-Bravo commented on #23557
Hello, @alexeya-ven. Thanks for applying. You see, though the attribute is of type multiselect (in Your case materials) in the Backend, it's implementation in the Frontent (Layered Navigation) remains as of single choice type. Please take a note of the following product: Hero Hoodie - one of the products that appears on the page while following Your Steps to Reproduce. This product contains Fleece

[2019-07-05 09:03] rakeshdonga commented on #7298
@jaywilliams  i have use your suggest extension but after url generate and my database size full and product page gone 404 error page

[2019-07-05 09:24] engcom-Charlie commented on #23577
@magento give me 2.3-develop instance

[2019-07-05 09:24] magento-engcom-team commented on #23577
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-05 09:25] magento-engcom-team commented on #23577
Hi @engcom-Charlie, here is your [Magento instance](https://i-23577-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23577-2-3-develop.instances.magento-community.engineering/admin](https://i-23577-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-05 09:30] engcom-Charlie commented on #23577
Hi @hostep thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.3.2-develop.
If you'd like to update issue, please reopen it.
![6](https://user-images.githubusercontent.com/51680850/60712867-9b03d400-9f20-11e9-89a2-3104b3eb3351.png)

[2019-07-05 09:39] hostep commented on #23577
@engcom-Charlie, has Magento 2.3.2 code already been merged in `2.3-develop`, because a couple of days ago that wasn't the case yet...
This first needs to happen before you can start testing properly on the `2.3-develop` branch I think.

[2019-07-05 09:52] alchemyconsulting opened #23581 "Magento 2.3.2 upgrade schema error with Percona XtraDB Cluster"
### Preconditions (*)

1. Magento 2.3.2 (Upgrading from 2.2.9)
2. Centos 7.6.1810, PHP 7.1.30-3, Percona XtraDB Cluster 5.7.26-31

### Steps to reproduce (*)

1. After doing `composer update` to magento 2.3.2, perform `magento setup:upgrade`
2.

### Expected result (*)

1. Expected clean upgrade of modules and database schema
2.

### Actual result (*)

1.
[code]
2.

[2019-07-05 10:09] elvinristi commented on #22366
this seems to fix the issue what is in 2.3 branch for `app/code/Magento/Backend/Block/Menu.php`
- https://github.com/magento/magento2/commit/956f36132e3438acfea61a3e4cd41b43e1bd1fc0

[code]

It seems to be also already in 2.2-development branch but not part of 2.2.9
- https://github.com/magento/magento2/commit/5be13c5da3f73360fef761c9a4f368bf715927fd#diff-69ae04f06b2a290de8d689525dfe33e0R222

[2019-07-05 10:31] DTaksta commented on #11708
Hi there when will Magento Community 2.3.3 be released, furtherest I could gather is that it will be by August 31, 2019, as that is when the GraphQL component is due, https://github.com/magento/graphql-ce/milestone/5

[2019-07-05 11:11] bhq300 commented on #22373
I am experiencing the same issue on 2.3.1 with auth.net CIM.  Will disabling accet.js fix the issue temporarily?  Or is the code change mentioned above required to fix it unless you install the 2.3.2 update?

[2019-07-05 11:41] Nazar65 opened #23582 "Custom UI component conditions can't add category"
When i Implements custom UI component conditions can't add category   from category tree js error.Uncaught TypeError: Cannot read property 'updateElement' of undefined

### Preconditions (*)
magento 2.3.1
Create custom module with ui component admin page.

### Steps to reproduce (*)
1- Add conditions element to form.
[code]
2. Go to admin page and try to select conditions with category tree.
![Dee

[2019-07-05 12:03] swnsma opened #23583 "\Magento\Catalog\Model\ProductRepository does not respect store scope"
### Preconditions (*)
1. Create 2 websites (W1, W2) with with 1 store each (Store1, Store2) (W1 - Store1, W2 - Store2).
2. Create product P1 and assign it to W1.

### Steps to reproduce (*)
1. Try to load in code P1 in context of Store2 from Product Repository
[code]
### Expected result (*)
1. \Magento\Framework\Exception\NoSuchEntityException

### Actual result (*)
1. Product has been  loaded and

[2019-07-05 12:05] salehawal commented on #23572
here i also tried to change the theme to Luma and same error
![jomlah com-Sales24HourJomlah comWholesaleMarket](https://user-images.githubusercontent.com/3238761/60721343-ea043600-9f2d-11e9-9ec8-4d8b7698426b.png)

[2019-07-05 12:15] slackerzz commented on #23540
@luckyraul

`kill` will do the work

I was suggesting that we can think to submit a pull request to change the pid file location to `var/pid` to not share all the `var` directory between release. I know that there is no `var/pid` directory.

You're right

@hostep i didn't know about the PoisonPill, maybe this can resolve the last point of @luckyraul

My "personal" solution was to add
[code]
to `ap

[2019-07-05 13:04] asadki5 commented on #1471
I am facing the same issue 2.2.6 when products name are same throws this error any solution ?

[2019-07-05 13:29] TomashKhamlai opened #23588 "[REST API] Argument 2 passed to Magento\Eav\Model\Attribute\Data\Text::validateLength() must be of the type string, null given"
The server's response code is 500 in cases either success or failure when Show Prefix is set to be required. Customer is created by setting prefix in Address section

### Preconditions (*)

1. No preconditions

### Steps to reproduce (*)

1. Navigate to Stores -> Settings -> Configuration -> Customers -> Customers Configuration
2. Set **Show Prefix** to be **Required**
3. Reindex and Flush Cache
4

[2019-07-05 13:43] gustavogravina commented on #1471
This worked for me.

1 - No url_key should be the same. Name of the products can be the same but check the url_key
2 - Try to find products with empty name
3 - Export all your product on csv and search for some strange caracters in some line

Good luck

[2019-07-05 13:50] magento-engcom-team commented on #23038
Hi @amanuni. Thank you for your report.
The issue has been fixed in magento/magento2#23574 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [0b5ee99cf568d29829b2e1b638283f7807c2966d](https://github.com/magento/magento2/commit/0b5ee99cf568d29829b2e1b638283f7807c2966d)
 - [138b4cf31c6d499d2817c53c663710ce894c058a](https://github.com/magento/magento2/commit/138b4cf31c6d499d2817c53c663710c

[2019-07-05 13:50] #23038 closed, assigned to sertlab, krishprakash

[2019-07-05 13:50] magento-engcom-team commented on #22676
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#23573 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [5a1ca956d52a0103d9df965b51a2d90803692ca5](https://github.com/magento/magento2/commit/5a1ca956d52a0103d9df965b51a2d90803692ca5)
 - [2a052552d2c86d15742f776836283f09e511df61](https://github.com/magento/magento2/commit/2a052552d2c86d15742f77683628

[2019-07-05 13:50] #22676 closed, assigned to cedarvinda, krishprakash

[2019-07-05 13:50] pravalitera commented on #14118
Same issue.

**Preconditions;**
- using Magento 2.1 or 2.2 (not tested on 2.3)
- must be a human that really wants to solve problem and not closing as much as ticket as possible with "can't reproduce" tag

**Steps to reproduce :**

1) Create a module with the following mixin:

[code]

The JS :

[code]

3: Open a category page with a product Configurable.
4: donc left-click , open the link in a new

[2019-07-05 14:32] engcom-Bravo commented on #23577
Hello @hostep. Magento 2.3.2 will not merge into 2.3-develop. No plan for it.

[2019-07-05 14:38] velvetyWorld opened #23590 "The "product in website" value is ignored for the configurable option displaying."
### Preconditions (*)
1. Magento CE 2.3.1
2. 2 websites (Ex: test1 and test2)
3. Configurable product with two configurations
4. Configurable products are assigned to 2 websites
5. Configurations(child simple products):
- first product/option is assigned to 2 websites (test1 and test2)
- second product/option assigned to 1 website (test1)

### Steps to reproduce (*)

1. Open configurable product o

[2019-07-05 14:55] pravalitera commented on #22338
@AlexWorking
I understand that you need to clean the backlog, but really. Stop closing every issue wih "no activity" or "i can't reproduce it". It's fucking not true. I've already read the same exact pb on 2 anothers tickets :

https://github.com/magento/magento2/issues/7322
https://github.com/magento/magento2/issues/14118

It's really annoying when you encounter a real problem, to see that it's a

[2019-07-05 15:30] magento-engcom-team commented on #22103
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#23535 by @gwharton in 2.3-develop branch
Related commit(s):
 - [fa030f284662ea698ea149b1b5de50cc9ea10e68](https://github.com/magento/magento2/commit/fa030f284662ea698ea149b1b5de50cc9ea10e68)
 - [7e3bc7154913af3c53b955a14c1f8f7dc78e7cfd](https://github.com/magento/magento2/commit/7e3bc7154913af3c53b955a14c1f8f7dc7

[2019-07-05 15:30] magento-engcom-team commented on #23199
Hi @msawyers. Thank you for your report.
The issue has been fixed in magento/magento2#23535 by @gwharton in 2.3-develop branch
Related commit(s):
 - [fa030f284662ea698ea149b1b5de50cc9ea10e68](https://github.com/magento/magento2/commit/fa030f284662ea698ea149b1b5de50cc9ea10e68)
 - [7e3bc7154913af3c53b955a14c1f8f7dc78e7cfd](https://github.com/magento/magento2/commit/7e3bc7154913af3c53b955a14c1f8f7dc7

[2019-07-05 15:30] magento-engcom-team commented on #23538
Hi @sunilit42. Thank you for your report.
The issue has been fixed in magento/magento2#23541 by @sunilit42 in 2.3-develop branch
Related commit(s):
 - [9e95177e73b029e8d3f1a40752d9f80d4df04405](https://github.com/magento/magento2/commit/9e95177e73b029e8d3f1a40752d9f80d4df04405)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-05 15:30] #23538 closed, assigned to sunilit42

[2019-07-05 15:30] magento-engcom-team commented on #8298
Hi @CNanninga. Thank you for your report.
The issue has been fixed in magento/magento2#23528 by @bobemoe in 2.3-develop branch
Related commit(s):
 - [c06c1d84424a3390428c163e8f4f81950f0e58ee](https://github.com/magento/magento2/commit/c06c1d84424a3390428c163e8f4f81950f0e58ee)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-05 15:30] magento-engcom-team commented on #23522
Hi @ankurvr. Thank you for your report.
The issue has been fixed in magento/magento2#23523 by @ankurvr in 2.3-develop branch
Related commit(s):
 - [45ac10a9cbae218b5a185f637dfa2562a5e01277](https://github.com/magento/magento2/commit/45ac10a9cbae218b5a185f637dfa2562a5e01277)
 - [c83bf54376ca5cd770bff21e6c7d0147eee7b832](https://github.com/magento/magento2/commit/c83bf54376ca5cd770bff21e6c7d0147eee7

[2019-07-05 15:30] #23522 closed, assigned to ankurvr

[2019-07-05 15:47] joaolisboa commented on #15199
I also have a similar issue. I can update the dates through the API, but it's impossible to update a product through the admin when the special_price is set. This happens in Enterprise version because Magento has removed these fields from the admin, which causes the update to fail when submitting the form I'm guessing. I've opened a ticket with Magento themselves, escalated to the developers and I

[2019-07-05 15:54] hostep commented on #23577
Say what? Can you explain please, this makes no sense?

[2019-07-05 16:28] shikhamis11 commented on #23514
Hello @petardozet , I am closing this issue due to inactivity . feel free to reopen it by correcting the format

[2019-07-05 16:28] #23514 closed, assigned to shikhamis11

[2019-07-05 16:31] shikhamis11 commented on #23560
hello @ioweb-gr
Thanks for reporting this issue.
This will process faster if you will create it on [Magento  Feature request ](https://github.com/magento/community-features). so closing from here .

[2019-07-05 16:31] #23560 closed, assigned to shikhamis11

[2019-07-05 16:33] shikhamis11 commented on #23508
@magento give me 2.3-develop instance

[2019-07-05 16:33] magento-engcom-team commented on #23508
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-05 16:34] magento-engcom-team commented on #23508
Hi @shikhamis11, here is your [Magento instance](https://i-23508-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23508-2-3-develop.instances.magento-community.engineering/admin](https://i-23508-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-05 16:53] shikhamis11 commented on #23508
@fohnbit
I checked this at magento 2.3-develop instance it's working fine . Please check screenshots
![Screenshot from 2019-07-05 22-17-41](https://user-images.githubusercontent.com/25526037/60736011-2e65f500-9f73-11e9-8e8e-0453dadef173.png)
![Screenshot from 2019-07-05 22-18-27](https://user-images.githubusercontent.com/25526037/60736012-2efe8b80-9f73-11e9-9d30-9c8d001acd8f.png)
![Screenshot from

[2019-07-05 16:53] #23508 closed, assigned to shikhamis11

[2019-07-05 16:57] salehawal commented on #23572
ok problem resolved .. there was a custom module causing this issue, i disable modules until i found it, this custom module was overriding magneot module related to price filter

[2019-07-05 16:57] #23572 closed, assigned to engcom-Charlie

[2019-07-05 16:58] amanuni commented on #23038
Thank you very much @sertlab its really appreciated.

[2019-07-05 17:00] shikhamis11 commented on #23508
@fohnbit
I checked this at magento 2.3-develop instance it's working fine . Please check screenshots
![Screenshot from 2019-07-05 22-17-41](https://user-images.githubusercontent.com/25526037/60736011-2e65f500-9f73-11e9-8e8e-0453dadef173.png)
![Screenshot from 2019-07-05 22-18-27](https://user-images.githubusercontent.com/25526037/60736012-2efe8b80-9f73-11e9-9d30-9c8d001acd8f.png)
![Screenshot from

[2019-07-05 17:07] sivaschenko commented on #23577
Hi @hostep can you please clarify what code from 2.3.2 is missing in 2.3-develop branch?

[2019-07-05 18:25] hostep commented on #23577
@sivaschenko: sure, I think it might be everything related to the security fixes from 2.3.2

Here are some random examples:
- [MC-5968: Fixed incorrect config override behavior](https://github.com/magento/magento2/commit/c5a083cd89f49fa5f4ec5e7f292648f6558dadb2)
- [MC-11054: Remove possibility to upload swf files through wysiwyg editor](https://github.com/magento/magento2/commit/0fdae522bcbaec4c32

[2019-07-05 18:38] magento-engcom-team commented on #23290
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17959`, `MC-17960` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-05 20:15] magento-engcom-team commented on #23233
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#23579 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [ecfaea17beafdfbd77f831cee29a819cad6c98ef](https://github.com/magento/magento2/commit/ecfaea17beafdfbd77f831cee29a819cad6c98ef)
 - [371755171cde37b2ef96f3b24758e427c0b93893](https://github.com/magento/magento2/commit/371755171cde37b2ef96f3b24758e427c0

[2019-07-05 20:15] magento-engcom-team commented on #8298
Hi @CNanninga. Thank you for your report.
The issue has been fixed in magento/magento2#23547 by @bobemoe in 2.2-develop branch
Related commit(s):
 - [0a9418f704c1f8597fd2c2c943b817149848e79b](https://github.com/magento/magento2/commit/0a9418f704c1f8597fd2c2c943b817149848e79b)

The fix will be available with the upcoming 2.2.10 release.

[2019-07-05 21:02] ioweb-gr commented on #23560
OK thanks I've reopened there

[2019-07-05 21:43] magento-engcom-team commented on #23466
Hi @nirmalraval18. Thank you for your report.
The issue has been fixed in magento/magento2#23477 by @nirmalraval18 in 2.3-develop branch
Related commit(s):
 - [6735bc5d68117f139d4b7376fc8ffcf756df5211](https://github.com/magento/magento2/commit/6735bc5d68117f139d4b7376fc8ffcf756df5211)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-05 21:43] #23466 closed, assigned to nirmalraval18

[2019-07-05 21:43] magento-engcom-team commented on #23467
Hi @vrajesh-patel1993. Thank you for your report.
The issue has been fixed in magento/magento2#23494 by @kazim-krish in 2.3-develop branch
Related commit(s):
 - [2d7d8a85d23f928b64e769038009b05fb6bcbf68](https://github.com/magento/magento2/commit/2d7d8a85d23f928b64e769038009b05fb6bcbf68)
 - [11b1c2bf64f4650add22371e39b5a7e510231e01](https://github.com/magento/magento2/commit/11b1c2bf64f4650add2237

[2019-07-05 21:43] #23467 closed, assigned to sivaschenko, kazim-krish

[2019-07-05 21:43] magento-engcom-team commented on #23471
Hi @dipeshrangani. Thank you for your report.
The issue has been fixed in magento/magento2#23474 by @dipeshrangani in 2.3-develop branch
Related commit(s):
 - [5a0c19d7616551e8171af9044b34918f7a876424](https://github.com/magento/magento2/commit/5a0c19d7616551e8171af9044b34918f7a876424)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-05 21:43] #23471 closed, assigned to dipeshrangani

[2019-07-05 21:43] magento-engcom-team commented on #21126
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#21128 by @speedy008 in 2.3-develop branch
Related commit(s):
 - [eebd15faf5392ba40879c3a3813f7cb7c6fea60b](https://github.com/magento/magento2/commit/eebd15faf5392ba40879c3a3813f7cb7c6fea60b)
 - [c8dba0b497d0ee94bbc44ef23f89c8a832ec75df](https://github.com/magento/magento2/commit/c8dba0b497d0ee94bbc44ef23f89c8a8

[2019-07-05 21:43] #21126 closed, assigned to SyntaxKay, abrarpathan19

[2019-07-05 23:33] elfinger commented on #12614
I tried Magento 1.9.4 years ago and it was a nightmare to install and configure. I recently got an e-commerce project and started analyzing Magento 2.3.2. Wow, what a horribly, bug-ridden hot mess of crap! First you go through the installation process and it supposedly finishes successfully. You access the admin page and css and js files don’t load. Same on the front end. And you realize this has

[2019-07-05 23:35] magento-engcom-team commented on #23354
Hi @bhavik43. Thank you for your report.
The issue has been fixed in magento/magento2#23360 by @konarshankar07 in 2.3-develop branch
Related commit(s):
 - [471fd852fe8ddbd489f9a77aecbbc37e8a15f1cd](https://github.com/magento/magento2/commit/471fd852fe8ddbd489f9a77aecbbc37e8a15f1cd)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-05 23:35] #23354 closed, assigned to konarshankar07

[2019-07-05 23:35] magento-engcom-team commented on #16234
Hi @molovo. Thank you for your report.
The issue has been fixed in magento/magento2#23496 by @sarfarazbheda in 2.3-develop branch
Related commit(s):
 - [538f69036bbb4f75e44061816996ccfcb4a0df73](https://github.com/magento/magento2/commit/538f69036bbb4f75e44061816996ccfcb4a0df73)
 - [bfa6074cab9b99a5daf26c1dbe4a6100f18d4855](https://github.com/magento/magento2/commit/bfa6074cab9b99a5daf26c1dbe4a610

[2019-07-05 23:35] #16234 closed, assigned to sarfarazbheda

[2019-07-05 23:35] magento-engcom-team commented on #23222
Hi @stkrelax. Thank you for your report.
The issue has been fixed in magento/magento2#23310 by @ProcessEight in 2.3-develop branch
Related commit(s):
 - [8c4667a5ad17b8ab9c82fdc49a9c35b36ab167bf](https://github.com/magento/magento2/commit/8c4667a5ad17b8ab9c82fdc49a9c35b36ab167bf)
 - [671876ebaf4e61fbc4efdad9b1d9d67677ccc43d](https://github.com/magento/magento2/commit/671876ebaf4e61fbc4efdad9b1d9d6

[2019-07-05 23:35] #23222 closed, assigned to ProcessEight

[2019-07-05 23:35] magento-engcom-team commented on #9798
Hi @troublediehard. Thank you for your report.
The issue has been fixed in magento/magento2#23529 by @lpouwelse in 2.3-develop branch
Related commit(s):
 - [f6c957cb0c92776f4dc10a0ebc1c9a1b4884db51](https://github.com/magento/magento2/commit/f6c957cb0c92776f4dc10a0ebc1c9a1b4884db51)
 - [c0a360fadc542dabead1425244d5080321328f1c](https://github.com/magento/magento2/commit/c0a360fadc542dabead1425244d

[2019-07-05 23:35] #9798 closed, assigned to lpouwelse

[2019-07-05 23:35] magento-engcom-team commented on #23424
Hi @engcom-Golf. Thank you for your report.
The issue has been fixed in magento/magento2#23427 by @jeysmook in 2.3-develop branch
Related commit(s):
 - [36190fbbb77f1f3f22187f8b65905967b23b283e](https://github.com/magento/magento2/commit/36190fbbb77f1f3f22187f8b65905967b23b283e)
 - [a8f5c0d6c98a04ad88dc4f73580e08f1c572cefe](https://github.com/magento/magento2/commit/a8f5c0d6c98a04ad88dc4f73580e08f

[2019-07-05 23:35] #23424 closed, assigned to engcom-Golf

[2019-07-06 01:24] vipin12117 commented on #12614
This is not Magento issues. Please enable Apache rewrite module. Your problems will fix.

[2019-07-06 06:30] ihor-sviziev commented on #23324
Hi @orlangur,
Any updates?

[2019-07-06 09:25] bobemoe commented on #18734
@aluusqull solution also worked for me.

[2019-07-06 11:17] OvalMedia commented on #22567
I am having the same issue on 2.2.9. [ionutturdean's fix](https://github.com/magento/magento2/issues/22567#issuecomment-494437836) works for me.

[2019-07-06 11:23] OvalMedia commented on #22269
Same issue was reported [here](https://github.com/magento/magento2/issues/22567).
This is also an issue in 2.2.9.

[2019-07-06 13:01] gwharton opened #23594 "Database Media Storage : php bin/magento catalog:images:resize fails when image does not exist locally"
### Preconditions (*)
1. magento 2.3-develop
2. Database Storage Mode Enabled

### Steps to reproduce (*)
1. Deploy 2.3-develop
2. Change mode to database media storage mode
3. Clear cache
4. Create product and assign image
5. Save Product
6. Delete pub/media/catalog folder

`www-data@dev:~/dev2$ rm -rf pub/media/catalog/`

7. Verify image exists in database

[code]
8. run php/magento catalog:imag

[2019-07-06 13:09] gwharton opened #23595 "Database Media Storage : php bin/magento catalog:images:resize fails to generate cached images in database"
### Preconditions (*)
1. magento 2.3-develop
2. Database Storage Mode Enabled

### Steps to reproduce (*)
1. Deploy 2.3-develop
2. Change mode to database media storage mode
3. Clear cache
4. Create product and assign image
5. Save Product
6. Verify image exists on disk

[code]

7. Verify image exists in database

[code]
8. run php/magento catalog:image:resize to generate cached images

[code]

##

[2019-07-06 13:21] gwharton opened #23596 "Database Media Storage : Add new product image, cached images not generated"
### Preconditions (*)
1. magento 2.3-develop

### Steps to reproduce (*)
1. Deploy 2.3-develop
2. Create product and assign image
3. Save Product
4. Verify image exists on disk and all cached images generated
[code]
5. Delete image from product and save
6. Clear media catalog folder
[code]
7. Change mode to database media storage mode
8. Clear cache
9. Add image to product
10. Verify image exists

[2019-07-06 13:21] #21547 closed, assigned to nobody

[2019-07-06 13:22] gwharton commented on #21546
See #23596

[2019-07-06 13:22] #21546 closed, assigned to nobody

[2019-07-06 13:33] gwharton opened #23597 "Database Media Storage : Difficulty changing mode to database media storage due to poor "Use Default Value" checkbox behaviour"
### Preconditions (*)
1. 2.3-develop

### Steps to reproduce (*)
1. Deploy 2.3-develop
2. Stores -> Configuration -> Advanced -> System
3. Storage Configuration for Media
4. Change File System to Database
5. Select Media database = "Default setup"
6. Notice that the Use Default Values checkboxes are still ticked!!!
7. Click Synchronize
8. Save Config
9. Media Storage Mode is greyed out, but set to

[2019-07-06 14:40] magento-engcom-team commented on #6287
Hi @alexgoodey. Thank you for your report.
The issue has been fixed in magento/magento2#20918 by @rav-redchamps in 2.3-develop branch
Related commit(s):
 - [e062906ed76ffbc3e2226d42c43c9be023391f8d](https://github.com/magento/magento2/commit/e062906ed76ffbc3e2226d42c43c9be023391f8d)
 - [ae5b032443f68742bab92b71753c697a4f66cd9b](https://github.com/magento/magento2/commit/ae5b032443f68742bab92b71753

[2019-07-06 21:02] magento-engcom-team commented on #16958
Hi @bedroomathletics. Thank you for your report.
The issue has been fixed in magento/magento2#20849 by @emilie-blackbird in 2.2-develop branch
Related commit(s):
 - [891123b5b3683f6bee77f8488f60e1e7a9a90d71](https://github.com/magento/magento2/commit/891123b5b3683f6bee77f8488f60e1e7a9a90d71)

The fix will be available with the upcoming 2.2.10 release.

[2019-07-06 21:02] #16958 closed, assigned to nobody

[2019-07-06 21:02] Nazar65 commented on #23557
Hi @engcom-Bravo the main reason that the warning should not be generated in log.

[2019-07-07 07:25] parekhreena opened #23601 "Magento2 Impossible to update custom option value based on custom option SKU"
### Preconditions (*)
Magento 2.4-develop

### Steps to reproduce (*)
- Create product with Customizable Options:
- ![#23601IssueProduct](https://user-images.githubusercontent.com/51681379/61936983-87cfab80-af96-11e9-9042-e944ae310eaf.png)
- Check `option_type_id` in table `catalog_product_option_type_value`
- Export this product
- Edit in csv file custom options title and/or price
- Save scv file

[2019-07-07 08:15] ghost opened #23602 "Images missing /pub/ in url"
### Summary (*)
website has mismatch url, missing /pub/

magento 2.2.6

any ideas what might cause this?

### Examples (*)
[code]

I have tried everything, nothing in the .access file that I can see

bin/magento deploy:mode:set developer

bin/magento deploy:mode:set production

[2019-07-07 08:17] broros commented on #23602
yes

[2019-07-07 08:51] magento-engcom-team commented on #8258
Hi @kanduvisla. Thank you for your report.
The issue has been fixed in magento/magento2#15383 by @jayankaghosh in 2.3-develop branch
Related commit(s):
 - [113440fde52703e35e9c80e0c2229c91b02a3222](https://github.com/magento/magento2/commit/113440fde52703e35e9c80e0c2229c91b02a3222)
 - [874d77083329e66ea574ad32dc1d98184e45e71a](https://github.com/magento/magento2/commit/874d77083329e66ea574ad32dc1d

[2019-07-07 08:51] #8258 closed, assigned to jayankaghosh

[2019-07-07 08:51] magento-engcom-team commented on #13561
Hi @craigcarnell. Thank you for your report.
The issue has been fixed in magento/magento2#18075 by @bnymn in 2.3-develop branch
Related commit(s):
 - [41e17938b6b3b6ea94e0cb0552727eb596341782](https://github.com/magento/magento2/commit/41e17938b6b3b6ea94e0cb0552727eb596341782)
 - [3b67548c8c85686dc6ae34995f84f412e844d2af](https://github.com/magento/magento2/commit/3b67548c8c85686dc6ae34995f84f412e

[2019-07-07 09:12] sunilit42 commented on #23567
@magento give me 2.3-develop instance

[2019-07-07 09:12] magento-engcom-team commented on #23567
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-07 09:12] magento-engcom-team commented on #23567
Hi @sunilit42, here is your [Magento instance](https://i-23567-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23567-2-3-develop.instances.magento-community.engineering/admin](https://i-23567-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-07 09:13] sunilit42 commented on #23567
Hello @magento-engcom-team

grep -ril "Tear Price" vendor/magento/

i did not find any thing.

[2019-07-07 10:15] scne opened #23604 "POST product with REST API doesn't save manufacturer attribute"
### Preconditions
1. magento 2.3.1 CE
2. PHP 7.1.29

### Steps to reproduce
I'm able to save a product with a POST request to my REST API endpoint. Now I would like to save **manufacture** attribute,too.
To reproduce this issue send a POST request to insert a product (or a PUT request to update).  I prepare this json structure.

[code]

### Expected result
I'm expecting that all `custom_attributes

[2019-07-07 11:09] mugua commented on #22778
@tuyennn  Well done, Fixed it now. Thanks a lot.

[2019-07-07 11:14] JasperLawrence opened #23605 "Documentation so bad as to be unusable"
### Description (*)
make sure the directories listed exist, that the interface elements referenced are where indicated, that installation scripts, permissions, etc., are or should be as described, make a web interface that works, a cron install that produces the desired results, and on.

### Expected behavior (*)
sigh

### Benefits
it would make installation less gruelling

### Additional informat

[2019-07-07 12:10] rogyar opened #23606 "Default value for report filters might result in errors"
### Description
For reports like Reports -> Products -> Ordered and other reports, the default date range is set to past 18 years (from the year 2001 till today). If you have large orders history, this default range might result in an attempt to get millions of records with no luck (because of the timeout).

### Preconditions (*)
1. Webshop with ~100 orders per day
2. The orders history starts fro

[2019-07-07 12:22] Sam43210 opened #23608 "Magento reindex job fail"
Getting below error during the reindex

main.CRITICAL: Table "catalogrule_product_replica" does not exist {"exception":"[object] (Zend_Db_Exception(code: 0): Table \"catalogrule_product_replica\" does not exist

Any suggestions much appreciated.
This issue happening in Magento 2.2 version.

[2019-07-07 15:02] mikimobile commented on #12950
We have actually the same issue as yours right now @crysix
Have you been able to solve it ?

[2019-07-07 15:16] adam2211 commented on #12950
@mikimobile
I was getting 404 for every new cms page I create. I was able to resolve this issue by deleting the URL redirect from the database using the following:

DELETE FROM url_rewrite WHERE (entity_type = 'cms-page');

[2019-07-07 20:32] crysix commented on #12950
@mikimobile Yes, I resolved it as described here #21299

[2019-07-07 21:21] mikimobile commented on #12950
Thanks Christian.

On Sun, 7 Jul 2019, 22:33 Christian Hinz, <notifications@github.com> wrote:

[2019-07-07 21:38] crysix commented on #7367
I found out, that if your simple products doesn't have a stock qty (but use stock set to "no"), you wont ever see a min_price in the index_price table for config products.

Solution: Add a qty and is_on_stock (in sql, but also possible with mass attribute change):
UPDATE `cataloginventory_stock_item` SET qty = 9999999, is_in_stock = 1 WHERE qty = 0;
UPDATE `cataloginventory_stock_status` SET qty =

[2019-07-07 22:38] onepack commented on #19469
Data recurring is now taking 15 minutes after I did an install via composer of a new module on dev.
It has always been slow but it even seems to hang now. Developing stuff is taking sooo long this way.
Getting tired from waiting for the update process to finish after you deployed something tp dev and later prod.
Please fix.

[2019-07-07 23:10] magento-engcom-team commented on #23383
Hi @diamondavocado. Thank you for your report.
The issue has been fixed in magento/magento2#23500 by @manishgoswamij in 2.3-develop branch
Related commit(s):
 - [45e211f0ee5a3f7fb5606915d2b2eb326967d3b5](https://github.com/magento/magento2/commit/45e211f0ee5a3f7fb5606915d2b2eb326967d3b5)
 - [50c051f3bee94921e2be0c2349edf0c08ba9a2b2](https://github.com/magento/magento2/commit/50c051f3bee94921e2be0c

[2019-07-07 23:10] #23383 closed, assigned to mahesh-rajawat, manishgoswamig

[2019-07-07 23:10] magento-engcom-team commented on #22545
Hi @KooTjoo. Thank you for your report.
The issue has been fixed in magento/magento2#22658 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [c4dc289c57852cfe906462a605c7aaff814932d7](https://github.com/magento/magento2/commit/c4dc289c57852cfe906462a605c7aaff814932d7)
 - [7174745ab7e2443349a644f64261b388b41935b7](https://github.com/magento/magento2/commit/7174745ab7e2443349a644f64261b388

[2019-07-07 23:10] #22545 closed, assigned to sourabhmodi60, shikhamis11, GovindaSharma

[2019-07-08 00:52] kalpmehta commented on #23608
Duplicate of https://github.com/magento/magento2/issues/11912

[2019-07-08 00:53] kalpmehta commented on #23608
@Sam43210 I am closing this, please re-open if you think it is a core bug. Thanks

[2019-07-08 00:53] #23608 closed, assigned to nobody

[2019-07-08 00:55] magento-engcom-team commented on #23606
@kalpmehta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-07-08 00:56] magento-engcom-team commented on #23606
:white_check_mark: Confirmed by @kalpmehta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17968` were created

**Issue Available**: @kalpmehta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-08 00:58] #23605 closed, assigned to nobody

[2019-07-08 01:00] kalpmehta commented on #23602
@broros Please ask this question at https://community.magento.com/ or https://magento.stackexchange.com/ to get help.

[2019-07-08 01:00] #23602 closed, assigned to nobody

[2019-07-08 01:22] brideo commented on #15427
Hey @magento-engcom-team,

We are seeing this in a fairly high percentage of orders for us, is there an internal ticket I can take a look at for this?

[2019-07-08 04:34] jigardhaduk opened #23609 "REST API: 'searchCriteria' and 'fields' paramaters can't used with one another to fetch orders"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Create a simple code of REST API with `curl` to fetch orders with `updated_at` **searchCriteria** parameter and **fields** parameter.
2. Code as below

[code]

### Expected result (*)

1. Output should json of orders with mentioned fields

### Actual result (*)

1. Output is blank array

[2019-07-08 04:50] jigardhaduk commented on #23609
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-08 04:50] magento-engcom-team commented on #23609
Hi @jigardhaduk. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-08 04:50] magento-engcom-team commented on #23609
Hi @jigardhaduk, here is your [Magento instance](https://i-23609-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23609-2-3-develop.instances.magento-community.engineering/admin](https://i-23609-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 05:01] mangamuri opened #23610 "Magento 2.2.6 Cart Price Rules for Bundle Product Items"
### Preconditions (*)

1. Magento 2.2.6
2.

### Steps to reproduce (*)

1. Create  2 simple products
2.Create a Bundle product and add those 2 simple products as options in Bundle product
3. Create a cart price rule  Condition : Items in cart matching  SKU is one of  simpleproduct1, Bundle product and Action as 100% discount
4. When i have added  Bundle product with Simple product 1 , apply coupon

[2019-07-08 05:09] jigardhaduk commented on #23609
Hello @magento,
Used the given instance to fetch order.

And using below **curl** command to fetch last 1 day updated orders with required fields but give blank array.

`$ch = curl_init("https://i-23609-2-3-develop.instances.magento-community.engineering/rest/V1/orders?searchCriteria[filter_groups][0][filters][0][field]=updated_at&searchCriteria[filter_groups][0][filters][0][value]=2019-07-07&sear

[2019-07-08 05:24] engcom-Bravo commented on #23590
@magento give me 2.3-develop instance

[2019-07-08 05:24] magento-engcom-team commented on #23590
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-08 05:24] magento-engcom-team commented on #23590
Hi @engcom-Bravo, here is your [Magento instance](https://i-23590-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23590-2-3-develop.instances.magento-community.engineering/admin](https://i-23590-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 05:28] engcom-Bravo commented on #23590
Hi @velvetyWorld thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.3-develop seems like this related to your modules.

[2019-07-08 05:28] #23590 closed, assigned to engcom-Bravo

[2019-07-08 05:33] LovelySetia commented on #23392
If we pass customer token as authorization, it give response 400 error:
"{"message": "Cannot assign customer to the given cart. Customer already has active cart."}" . Please guide me asap @magento-engcom-team @maheshWebkul721

[2019-07-08 05:59] krishprakash commented on #23610
Hi @mangamuri.
This is not an issue.
You should add that specific SKU in Action conditions if you want to apply rule just for such SKU (or cart items you specify in action conditions).
![image](https://user-images.githubusercontent.com/46617848/60786264-75bad400-a173-11e9-80d1-b9d1c3551495.png)
You can find "action conditions" just below Actions.
Feel free to reopen it in case you can confirm that

[2019-07-08 05:59] #23610 closed, assigned to krishprakash

[2019-07-08 06:06] mangamuri commented on #23610
@magento give me 2.2.6-develop instance

[2019-07-08 06:06] magento-engcom-team commented on #23610
Hi @mangamuri. Thank you for your request. I'm working on Magento 2.2.6-develop instance for you

[2019-07-08 06:08] mangamuri commented on #23610
@krishprakash thanks for testing it. Could you please share your bundle product details and conditions screenshots . I have tried action rule as per your screen shot but no luck. Anyways I am requesting instance to reproduce this.

[2019-07-08 06:17] krishprakash commented on #23610
Bundle product child:
![image](https://user-images.githubusercontent.com/46617848/60786826-810eff00-a175-11e9-9b4f-6c778803791d.png)

Action Condition:
![image](https://user-images.githubusercontent.com/46617848/60786999-13170780-a176-11e9-9111-afbec1ace3ce.png)

[2019-07-08 06:34] sunilit42 commented on #23567
@dani97, why you removed, can not reproduce tag?

are you able to genereate issue?

[2019-07-08 06:47] rogyar commented on #21126
@magento-engcom-team give me 2.2-develop instance

[2019-07-08 06:47] magento-engcom-team commented on #21126
Hi @rogyar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-08 06:48] magento-engcom-team commented on #21126
Hi @rogyar, here is your [Magento instance](https://i-21126-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21126-2-2-develop.instances.magento-community.engineering/admin](https://i-21126-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 06:50] mangamuri commented on #23610
@krishprakash Thanks.

Here is my screenshots:

Bundle product:

![image](https://user-images.githubusercontent.com/1827538/60788258-e507d800-a121-11e9-8507-6a5b24c98f03.png)

![image](https://user-images.githubusercontent.com/1827538/60788288-f6e97b00-a121-11e9-89f5-c80c3dff4f6b.png)

Sales Rule -> Rule setup

![image](https://user-images.githubusercontent.com/1827538/60788378-2ac4a080-a122-11e9-

[2019-07-08 06:51] ghost opened #23613 "health_check.php forbidden by rule"
### Preconditions (*)
1. 2.3.2

### Steps to reproduce (*)
1. Fresh install magento 2.3.2 + varnish via composer

### Expected result (*)
1. Front and Admin working

### Actual result (*)
1. 503 Backend Fetch failed
2. access forbidden by rule, request: "GET /pub/health_check.php HTTP/1.1"

nginx.conf.sample
location ~ ^/(index|get|static|errors/report|errors/404|errors/503|health_check)\.php$

If

[2019-07-08 07:05] krishprakash commented on #23610
Hi @mangamuri. Thanks for response.
Please review attached screenshot
![image](https://user-images.githubusercontent.com/46617848/60789500-de5a7e80-a17c-11e9-8021-62914daaa520.png)

[2019-07-08 07:17] LovelySetia commented on #23392
If we pass customer token as authorization, it give response 400 error:
"{"message": "Cannot assign customer to the given cart. Customer already has active cart."}" .

[2019-07-08 07:21] mangamuri commented on #23610
@krishprakash
I have tried that option as well when i use sku is simple1 condition my coupon is not working as expected.

![image](https://user-images.githubusercontent.com/1827538/60790345-e556a200-a126-11e9-8dfd-516356c01cb9.png)

I have tried tweaking both conditions and actions  with various combinations, only working one is for me is the sku is one of simple1,bundle.

[2019-07-08 07:25] krishprakash commented on #23610
Please verify once in Vanilla Magento instance
![image](https://user-images.githubusercontent.com/46617848/60790616-8a9d6480-a17f-11e9-814f-6d69da0a1a25.png)

[2019-07-08 07:27] mangamuri commented on #23610
@krishprakash Thanks i assume you have tested this in 2.3.x?

[2019-07-08 07:29] mangamuri commented on #23610
@magento could you please give me 2.3.x instance as i would like to test that with latest release.

[2019-07-08 07:30] krishprakash commented on #23610
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-07-08 07:30] magento-engcom-team commented on #23610
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-08 07:31] magento-engcom-team commented on #23610
Hi @krishprakash, here is your [Magento instance](https://i-23610-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23610-2-3-develop.instances.magento-community.engineering/admin](https://i-23610-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 07:31] krishprakash commented on #23610
@magento give me 2.2-develop instance

[2019-07-08 07:31] magento-engcom-team commented on #23610
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-08 07:31] magento-engcom-team commented on #23610
Hi @krishprakash, here is your [Magento instance](https://i-23610-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23610-2-2-develop.instances.magento-community.engineering/admin](https://i-23610-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 07:32] krishprakash commented on #23610
Please verify once in above both Vanilla Magento instances and add your feedback
Thanks.

[2019-07-08 07:39] velvetyWorld commented on #23590
@magento give me 2.3-develop instance

[2019-07-08 07:39] magento-engcom-team commented on #23590
Hi @velvetyWorld. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-08 07:40] magento-engcom-team commented on #23590
Hi @velvetyWorld, here is your [Magento instance](https://i-23590-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23590-2-3-develop.instances.magento-community.engineering/admin](https://i-23590-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 08:11] mangamuri commented on #23610
@krishprakash i am not able to reproduce this issue in 2.2.9-dev , i think this issue might be fixed in later versions 2.2.6 i guess. Thanks for helping with testing this and appreciate your help.

[2019-07-08 08:28] arnoudhgz commented on #23540
I can also easily reproduce it by just manually creating an export job. After that all other cron tasks get status `missed` (payments, indexers etc).

So this is not only happening when doing a new release.

[2019-07-08 08:31] magento-engcom-team commented on #23597
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17969` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-08 08:45] alex5513 commented on #22189
Same issue after upgrade to magento 2.3.2

[2019-07-08 08:49] erfanimani commented on #21904
Thanks @Berdir — this must have taken a while to debug. I've created a patch from your commit and can confirm it works (2.3.1 and 2.3.2).

[2019-07-08 08:58] magento-engcom-team commented on #23609
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17970` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-08 09:50] arnoudhgz commented on #17951
Also only have this issue since upgrading to Magento 2.3.2, related issue: https://github.com/magento/magento2/issues/23540

[2019-07-08 10:24] romainruaud opened #23615 "ElasticSearch module inconsistent DI"
### Summary (*)

The Magento_Elasticsearch module has too authoritative DI and is happening functional & technical modifications even when Elasticsearch is not used as search engine.

### Examples (*)

See here :

https://github.com/magento/magento2/blame/2.3-develop/app/code/Magento/Elasticsearch/etc/di.xml#L25

In any cases, when having the Magento_Elasticsearch module, the `context` injected in

[2019-07-08 10:43] engcom-Charlie commented on #23613
Hello @vszgalaxy ! We can not reproduce this issue follow steps that you provide.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-07-08 10:43] #23613 closed, assigned to engcom-Charlie

[2019-07-08 11:08] chohanbhagchand commented on #23604
<?php

//Authentication rest API magento2.Please change url accordingly your url
$adminUrl='http://localhost/m2.3/magento2/rest/V1/integration/admin/token';
$ch = curl_init();
$data = array("username" => "admin ", "password" => "admin123");
$data_string = json_encode($data);
$ch = curl_init($adminUrl);
curl_setopt($ch, CURLOPT_CUSTOMREQUEST, "POST");
curl_setopt($ch, CURLOPT_POSTFIELDS, $data_stri

[2019-07-08 11:10] chohanbhagchand commented on #23604
![image](https://user-images.githubusercontent.com/43440703/60805885-183c7c80-a19f-11e9-8089-faf9cadbb12c.png)

[2019-07-08 11:11] chohanbhagchand commented on #23604
Here is the response array which I get
===========================Response =======================
![image](https://user-images.githubusercontent.com/43440703/60805921-36a27800-a19f-11e9-8ef7-fdc1146f4b48.png)

Please let me know if the issue is still persists

[2019-07-08 11:37] scne commented on #23604
@chohanbhagchand thanks for your replay but I have to set **manufacture** (drop-down value on admin backend) with my REST request. All other custom attribute are ok i.e. _categories_ or _description_ or custom attribute _family_

[2019-07-08 11:38] Shopahollik opened #23617 "Magento 2.8.2 stuck in orders"
### Summary (*)

My magento 2 is currently stuck in orders please see link
https://www.loom.com/share/f7b980d94cde4448a1fa5fdc4ad2a16c?fbclid=IwAR3OEjD1p5k3lJXSWBePka6e4bnIzg6P-SG-J1y0fBknhv0LKmZQdzPCun0

### Examples (*)

 see link problem
https://www.loom.com/share/f7b980d94cde4448a1fa5fdc4ad2a16c?fbclid=IwAR3OEjD1p5k3lJXSWBePka6e4bnIzg6P-SG-J1y0fBknhv0LKmZQdzPCun0

### Proposed solution

[2019-07-08 11:44] engcom-Charlie commented on #23617
Hello @Shopahollik ! I`m not able to reproduce it on Vanilla Magento . Feel free to reopen it in case you can provide some steps how to reproduce this issue .

[2019-07-08 11:44] #23617 closed, assigned to engcom-Charlie

[2019-07-08 12:01] jeroenschipper commented on #9486
Can confirm that this is still an issue in Magento 2.3.1.

Steps to reproduce;
Assign an existing product to a new website.
Try changing product attributes (for example 'name') to 'use default value'.
Save the product

Expected result: Product attribute is saved with the use default value checkbox.

Actual result: Product attribute is not saved with the use default value checkbox.

[2019-07-08 12:11] chohanbhagchand commented on #23604
@scne can you please send me your admin URL where manufacture attribute already set to any particular product. so it is easy to debug.

[2019-07-08 12:13] dipti2jcommerce commented on #23486
@magento give me 2.3-develop instance

[2019-07-08 12:13] magento-engcom-team commented on #23486
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-08 12:13] magento-engcom-team commented on #23486
Hi @dipti2jcommerce, here is your [Magento instance](https://i-23486-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23486-2-3-develop.instances.magento-community.engineering/admin](https://i-23486-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 12:32] scne commented on #23604
@chohanbhagchand do you need only admin URL of my magento or do you want admin and password, too? How can I send you securely?

[2019-07-08 12:51] chohanbhagchand commented on #23604
@scne Please send me your developing instance where the issue occurred. with admin URL and credentials.

[2019-07-08 12:51] #10663 closed, assigned to nobody

[2019-07-08 12:51] gwharton commented on #17691
Dont seem to have this issue in 2.3.2 anymore. Closing.

[2019-07-08 12:51] #17691 closed, assigned to nobody

[2019-07-08 12:52] gwharton commented on #22397
Legacy issue on 2.2. Closing. Not present in 2.3

[2019-07-08 12:52] #22397 closed, assigned to nobody

[2019-07-08 12:59] onepack opened #23618 "Invalid address id at check out"
### Preconditions (*)

1. Magento 2.3.2
2.

### Steps to reproduce (*)

1. Delete a customer and then re-create it with the same email.
2. Go to checkout with a product in the basket.
3. At sending press "next".

### Expected result (*)

1. The next step is supposed to load

### Actual result (*)

1. I get the error:  Unable to save shipping information. Please check input data.
2. Error log: [201

[2019-07-08 13:00] scne commented on #23604
@chohanbhagchand give me your ip address because my instance is in maintenance mode. Admin url is [this](http://shop.dicanio.it) and credentials are developer:9dPuV5PC.

[2019-07-08 13:01] snoroozi commented on #9274
@biglier are you still in need of this?

On Wed, Jun 5, 2019, 4:49 AM biglier <notifications@github.com> wrote:

[2019-07-08 13:04] krishprakash commented on #23618
@magento give me 2.3-develop instance

[2019-07-08 13:04] magento-engcom-team commented on #23618
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-08 13:05] magento-engcom-team commented on #23618
Hi @krishprakash, here is your [Magento instance](https://i-23618-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23618-2-3-develop.instances.magento-community.engineering/admin](https://i-23618-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 13:23] patruvlad opened #23619 "Less compilation extend 'mixin' has no matches"
### Preconditions (*)

1. Magento version 2.3.1 - 2.3.2
2. Production mode

### Steps to reproduce (*)

1. Having nodejs v8 installed
2. Setting up vanilla Magento installation using composer
3. Run `npm install less@2.7.3`
4. Run `bin/magento setup:static-content:deploy -f -t Magento/luma en_US`
5. Run `node_modules/.bin/lessc var/view_preprocessed/pub/static/frontend/Magento/luma/en_US/css/style

[2019-07-08 13:24] patruvlad commented on #23619
@magento give me 2.3-develop instance

[2019-07-08 13:24] magento-engcom-team commented on #23619
Hi @patruvlad. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-08 13:25] magento-engcom-team commented on #23619
Hi @patruvlad, here is your [Magento instance](https://i-23619-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23619-2-3-develop.instances.magento-community.engineering/admin](https://i-23619-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 13:30] krishprakash commented on #23618
Hi @onepack.
I'm not able to reproduce this issue as provided steps by you.
Please updated the reproducible steps and kindly confirm that its reproducible on Vanilla Magento instance.
Thanks.

[2019-07-08 13:38] engcom-Bravo commented on #23619
@magento give me 2.3-develop instance

[2019-07-08 13:38] magento-engcom-team commented on #23619
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-08 13:39] magento-engcom-team commented on #23619
Hi @engcom-Bravo, here is your [Magento instance](https://i-23619-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23619-2-3-develop.instances.magento-community.engineering/admin](https://i-23619-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 13:52] onepack commented on #23618
Hi @krishprakash ,

I tried to reproduce the same but was not able to.
The difference now is that as I remember there had been an update via an account import on this account in between.
I will need to check that.

But for now, is there anyone that can explain what is happening to that account and why I get this error on it?

[2019-07-08 14:00] engcom-Bravo commented on #23619
Hi @patruvlad thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.3-develop.

[2019-07-08 14:03] elsdeniep commented on #10821
@PhiIipp solution worked for me in PHP 7.1

[2019-07-08 14:04] johncarlson21 commented on #22497
hey guys. can we get an update on this?
@shikhamis11

[2019-07-08 14:20] johncarlson21 commented on #21879
any word?

[2019-07-08 14:28] engcom-Bravo commented on #23588
@magento give me 2.3-develop instance

[2019-07-08 14:28] magento-engcom-team commented on #23588
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-08 14:28] magento-engcom-team commented on #23588
Hi @engcom-Bravo, here is your [Magento instance](https://i-23588-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23588-2-3-develop.instances.magento-community.engineering/admin](https://i-23588-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 14:36] bassmo opened #23620 "Unable to add hreflang link tag to head via layout update XML"
### Summary (*)
When attempting to add an ahreflang link tag to a page via the custom layout xml field the following error occurs:

The format of an hreflang tag is:

`<link rel="alternate" hreflang="en" href="https://www.example.com/products-en" />`

which does not require the src attribute but does use the href attribute.
### Examples (*)

[code]

### Proposed solution
Rewrite the validations fo

[2019-07-08 14:46] engcom-Bravo commented on #23557
@magento give me 2.3-develop instanc

[2019-07-08 14:48] simonlandry0 commented on #22373
@bhq300 the code fix is part of the 2.3.2 update and fixes magento\module-authorizenet-acceptjs.

I don't know what third party plugin auth.net CIM you use and if it inherits from the libraries in magento\module-authorizenet-acceptjs (if this is the case, it might fix your issue). But I would recommend contacting them about the issue and they will probably be able to address it.

[2019-07-08 14:52] enl commented on #22516
It looks like this guy ignores product's type when it creates batches and therefore each indexer walks through all the products: https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Model/Indexer/Product/Price/Action/Full.php#L275

[2019-07-08 14:52] Nazar65 commented on #23557
@magento give me 2.3-develop instance

[2019-07-08 14:52] magento-engcom-team commented on #23557
Hi @Nazar65. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-08 14:53] magento-engcom-team commented on #23557
Hi @Nazar65, here is your [Magento instance](https://i-23557-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23557-2-3-develop.instances.magento-community.engineering/admin](https://i-23557-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 15:09] engcom-Bravo commented on #23588
By editing previous request with prefix foolows:
 ## Set your endpoint name, example: endpoint="http://gql-ce.io/rest"
endpoint="REPLACE";
curl -X POST $endpoint/all/V1/customers" -H "accept: application/json" -H "Content-Type: application/json" -H "Authorization: Bearer f0rgqlhfg4memmr6ngwzlcyn9scgk7cl" -d "{\"customer\":{\"default_billing\":\"1\",\"default_shipping\":\"1\",\"email\":\"yhitecwass

[2019-07-08 15:09] magento-engcom-team commented on #23588
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17971`, `MC-17972` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-08 15:12] engcom-Bravo commented on #23557
@magento give me 2.3-develop instance

[2019-07-08 15:12] magento-engcom-team commented on #23557
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-08 15:13] magento-engcom-team commented on #23557
Hi @engcom-Bravo, here is your [Magento instance](https://i-23557-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23557-2-3-develop.instances.magento-community.engineering/admin](https://i-23557-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 15:13] engcom-Bravo commented on #23557
@magento give me 2.2-develop instance

[2019-07-08 15:13] magento-engcom-team commented on #23557
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-08 15:14] magento-engcom-team commented on #23557
Hi @engcom-Bravo, here is your [Magento instance](https://i-23557-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23557-2-2-develop.instances.magento-community.engineering/admin](https://i-23557-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-08 15:17] engcom-Bravo commented on #23557
Warning should not be generated in log.

[2019-07-08 15:18] magento-engcom-team commented on #23557
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17974`, `MC-17975` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-08 15:32] krishprakash commented on #23618
Please feel free to reopen the issue if you reproduce on venilla instance.
Thanks

[2019-07-08 16:55] hostep commented on #23577
Let's continue with the issue itself.

I just tested on 2.3-develop (using c3f29ce8efa1e59c7e1f01b6eab2f09504442924) and was able to reproduce myself, looks like @engcom-Charlie didn't test properly.

Did some git bisecting between 2.3.1 and 2.3.2, and found this commit to have caused this regression: https://github.com/magento/magento2/commit/0e373538ded9abe3051d8e9e7a04ca1b6e1d173f

Currently I

[2019-07-08 17:58] marklehm opened #23622 "Saved customer information lost in checkout after changing quantity of item in cart or adding a new product"
### Preconditions (*)
1. Magento 2.2.4
2. Magento 2.3.0
3. Magento 2.3.1

PHP 7.2

### Steps to reproduce (*)
The issue was found with and without sample data.
1. Begin as a guest customer and add any product to cart
2. Proceed to checkout and fill out shipping information and proceed to review and payments.
<img width="2054" alt="Screen Shot 2019-07-08 at 10 45 44 AM" src="https://user-images.git

[2019-07-08 18:05] magento-engcom-team commented on #23082
Hi @paul-gene.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-17977` was closed as `non-reproducible` in `2.2-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you stil

[2019-07-08 18:08] paul-gene commented on #23082
It's been confirmed in 2.3...

[2019-07-08 18:16] kmv commented on #21201
Sometime it is a hosting settings issue - its try to find "static" folder directly in magento root but not in pub/
To fix it try to make symbol link in magento root directory
$ ln -s pub/static static

[2019-07-08 18:41] sdzhepa commented on #23567
Hello @sunilit42, @dyuk1987, @DanielRuf

It can be found in Magento codebase on GitHub using search
- https://github.com/magento/magento2/search?q=%22Tear+Price%22&unscoped_q=%22Tear+Price%22

[2019-07-08 18:58] cyberbasement commented on #23012
FYI - This issue is directly related to another issue ( https://github.com/magento/magento2/pull/22944 ), the fix proposed in "Fix Issue 22743" to app/code/Magento/Sales/Model/Service/InvoiceService.php appears to also correct the incorrect invoicing issue stated above. We have thoroughly tested this fix in our dev environment and it corrected both issues for us.

[2019-07-08 19:27] gwharton commented on #23620
I'm not sure this is possible to do what you want. Using a `<link>` tag in `<head>` in xml layout files is for adding javascript files to a page. e.g

[code]

would result in

[code]

To do what you need to do, I would use

layout.xml
[code]

hreflang.phtml
[code]
 
or do do it all in layout

layout.xml
[code]

[2019-07-08 19:29] fsw opened #23623 "Order's "protect_code" is changed on every save causing old shipment links to 404."
### Preconditions (*)
1. Magento version 2.2.5 on cloud (probably affects any version)

### Steps to reproduce (*)
1. Create any order
2. Go to Order page in admin panel
3. Click "Ship", click "add Tracking Number" on shipping form and fill tracking data
4. Click "Submit Shipment"
5. User receives working tracking link to email (A)
6. Perform any action that triggers save on order. For example "Ho

[2019-07-08 19:30] simonlandry0 opened #23624 "[Authorize.net accept.js] "Place Order" button not being disabled"
### Preconditions (*)

1. Magento 2.3.2
2. Configure and setup authorize.net accept js payment method

### Steps to reproduce (*)

1. Place non-free item in cart
2. Proceed to checkout.
3. Enter shipping information and proceed to the billing step.
4. Use Authorize.net accept js payment method.
5. Fill out billing information + card details but don't hit the "update" button (this would make isPlac

[2019-07-08 19:37] #23623 closed, assigned to nobody

[2019-07-08 19:44] fsw commented on #23623
After posting this and trying to reproduce on vanilla Magento I realized that the link to shipment comes from our custom implementation witch simply assumed this code does not change. Please ignore and sorry for confusion.

[2019-07-08 19:45] DanielRuf commented on #23567
It was already reproduced twice.

[2019-07-08 20:38] gwharton opened #23625 "MessageQueue cron runner repeatedly launches duplicate consumers when ps command is provided by Busybox"
### Preconditions (*)
1. Magento 2.3.2
2. Alpine Linux (or any distro using busybox to provide ps command)
3. ps command provided by busybox (no procps installed)
4. no php-posix module installed.
5. Cron jobs setup

### Steps to reproduce (*)
1. ps -a
2. Wait 5 minutes
3. ps -a

### Expected result (*)
1. Only one set of consumers should be running.

### Actual result (*)
1. Every minute a new se

[2019-07-08 20:46] gwharton commented on #23625
ok, installing php7-posix module seems to resolve the issue on alpine to get the posix functions.

The module should be a little more intelligent at determining what it should do if both methods fail, instead of just relaunching and killing the machine.

[2019-07-08 21:09] AJHopper opened #23626 "Magento 2 table not found after Migration"
### Preconditions (*)

1. Magento 2.3.1
### Steps to reproduce (*)
Important: Provide a set of clear steps to reproduce this bug. We can not provide support without clear instructions on how to reproduce.
--
1. Migrated data from Magento 1.9.3.8 using migration tool
2. Attempt to access or index Customers

### Expected result (*)
1. re-index customers or load customer tab

### Actual result (*)
1.

[2019-07-08 21:42] sjb9774 commented on #22112
I'm facing this same issue this PR attempted to address and am trying to find an elegant solution. Tracing the code altered in this PR up to where it is initiated I find `vendor/magento/module-checkout/view/frontend/web/js/model/shipping-rates-validator.js` lines 150-152 being of interest.
[code]
It seems strange to me that the fields are validated on a timeout rather than on billing address chang

[2019-07-08 23:19] salelsol commented on #14952
- It continues to work well and the emails are received correctly after upgraded to Magento 2.2.9 ??

[2019-07-08 23:43] andimov commented on #22516
@batmike, @royandre, @acampos1916 do you have Magento Inventory (MSI) enabled in your Magento installation?

[2019-07-09 00:57] batmike commented on #22516
@andimov - we do not have any of the MSI modules enabled in our install.

[2019-07-09 02:15] joinso opened #23627 "middleName not present in getCustomerName from Order"
### Preconditions (*)

In this scenario:
1. Magento 2.3

### Steps to reproduce (*)

1. In Magento Admin, setup MiddleName as visible on Customer Configuration
2. Register a new customer and provide First Name, Middle Name and Last Name.
3.- Place an order.

### Expected result (*)

1. In Email of new order, you must see "First Name" "Middle Name" "Last Name"
2. Also in backend, you must see "Firs

[2019-07-09 04:28] krishprakash commented on #23627
@magento give me 2.3-develop instance

[2019-07-09 04:28] magento-engcom-team commented on #23627
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-09 04:28] magento-engcom-team commented on #23627
Hi @krishprakash, here is your [Magento instance](https://i-23627-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23627-2-3-develop.instances.magento-community.engineering/admin](https://i-23627-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-09 04:34] chohanbhagchand commented on #23604
@scne I also unable to share my IP with you can you pls inbox me your cred in the mail my mail id is chohan.bhagchand@gmail.com

[2019-07-09 04:44] jigardhaduk commented on #23609
Hello,

Is there any update on this?

[2019-07-09 05:10] krishprakash commented on #23622
Hi @marklehm.
I'm not able to reproduce this issue as provided steps by you.
Kindly confirm that it's reproducible on Vanilla Magento instance.
![image](https://user-images.githubusercontent.com/46617848/60860873-e88c8380-a235-11e9-8c93-ec14bbcbf854.png)
Thanks.

[2019-07-09 06:07] YiffyToys commented on #23435
Where is that patch? I don't see any commits referencing #23435 automatically here or any commit linked in this ticket.

[2019-07-09 06:19] cscd98 opened #23628 "2.3.2 Deployment - Missing required argument $encoder of MSP\TwoFactorAuth\Model\UserConfigManager"
### Preconditions (*)
1.Magento 2.3.2
2.PHP 7.2.x
3. MySQL 5.7.x

### Steps to reproduce (*)
1.Deploy website via capistrano
2.Error:
Missing required argument $encoder of MSP\TwoFactorAuth\Model\UserConfigManager

### Expected result (*)
1. No error

### Actual result (*)
1. Error above

[2019-07-09 07:02] avoelkl opened #23630 "CSV Import error: Please enter a correct entity model"
I have recently updated from Magento Magento Open Source 2.3.1 to 2.3.2 and out of a sudden the CSV import does not work any more.
The error message when importing products is: "Please enter a correct entity model."

### Preconditions (*)
1. Update from Magento Open Source 2.3.1 to 2.3.2

### Steps to reproduce (*)
1. Go to System > Import
2. Choose Entity Type: Products
Import Behavior: Add/Updat

[2019-07-09 07:40] bst2002git commented on #23435
it is not a patch in the true sense...
look here: https://github.com/magento/magento2/pull/23444/files

[2019-07-09 07:41] nawabamit commented on #19303
Hi,
I have the same issue in Magento 2.3 version. I have already created tax-rule etc and do the needfull setting in config->Tax.
(iii)Assing tax class to the product. but it always shows tax price 0.

[2019-07-09 08:06] omniprolatam commented on #22516
@andimov we do have MSI enabled.

[2019-07-09 08:07] acampos1916 commented on #22516
@andimov we do have MSI enabled.

[2019-07-09 08:17] engcom-Bravo commented on #23630
Hello @avoelkl. Thanks for reporting. Give me please your code from .csv file for import.

[2019-07-09 08:29] TaniRay123 opened #23631 "Multishipping checkout, shipping amount is not applied correctly when different on different addresses/items"
### Preconditions (*)

1. Magento 2.2.6

### Steps to reproduce (*)
1. I have at least 2 shipping methods enabled - Free and Fixed

2. Login as a customer who has at least 2 addresses and add 2 Items to cart and go to view Edit Cart

3. Click Check out with Multiple Address

4. Select a different address for the second item and click Update Qty and Addresses

5. Go to Shipping Information

6. Sele

[2019-07-09 08:29] #23630 closed, assigned to engcom-Bravo

[2019-07-09 08:30] avoelkl commented on #23630
Turns out it was my own mistake. Sorry!

[2019-07-09 08:32] chohanbhagchand commented on #23604
@scne Please put file which is emailed to you in the root folder of your server.

[2019-07-09 08:32] pixiemediaweb commented on #5305
We've noticed another issue with translations which have double spaces in the strings, for example;

"This is a line of text.  This is the next line","translated version of text.  Translated version of next line"

This works fine in developer mode, but in production strings with double spaces dont work.  Remove the double spaces from templates and the corresponding translation string in your csv.

[2019-07-09 08:50] chohanbhagchand commented on #23604
@scne here is the product which is I save in your backend
![image](https://user-images.githubusercontent.com/43440703/60873776-8727dd00-a254-11e9-86a8-0f2ae6a8fad8.png)

[2019-07-09 09:02] developer-vtnetzwelt commented on #22189
Any workaround and fix of this issue?
I am also facing same issue after upgrade 2.3.2.

[2019-07-09 09:16] LucianMihalache opened #23634 "Eav Group Repository Order not changing."
### Preconditions (*)

1. I tried on magento 2.3.1.
2. Fresh and developer instances.

### Steps to reproduce (*)

1. The problem is that you cannot update the order of a group in an attribute set by repository. It does not have support for it.

Basically, I am trying to update the groups of some attribute set via rest api.
The code asks for a specific format

But it does not work. When I debugged

[2019-07-09 09:16] chohanbhagchand commented on #23604
@scne now you are able to save **manufacture** attribute and also please note in the problem statement you will give manufacture id i.e. 213

{
    			"attribute_code": "manufacturer",
    			"value": "213"
    		}]

and in your backend, no **manufacture** value is associated with 213

Kindly let me know if your still facing problem to save :)

[2019-07-09 09:23] LucianMihalache commented on #23634
I updated the question with more details and valid data.

[2019-07-09 09:39] LucianMihalache commented on #23604
Your problem is that you are saving(sending to magento) the wrong value of manufacturer.

If you want to update the value of an attribute, you must send an existing value.
Basically, you must do a request to get the option_ids (value) of the manufacturer attribute.
Map them with your wanted value.
Send the correct (the remote) value along with the product.

[2019-07-09 10:12] engcom-Charlie commented on #23634
Hello @LucianMihalache ! Thank you for report
Can you show which Rest Api calls did you use when reproduce this issue ?

[2019-07-09 10:15] chohanbhagchand commented on #23604
@scne issue is resolved and is still if you are in problem then let me know.

[2019-07-09 10:15] #23604 closed, assigned to chohanbhagchand

[2019-07-09 10:16] LucianMihalache commented on #23634
Isn't there only one rest api call for this?
/rest/all/V1/products/attribute-sets/groups.

[2019-07-09 10:21] magento-engcom-team commented on #9486
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-07-09 10:35] supportnubix commented on #22346
As the issue is reproduced on 2.3.x, is anyone still looking at this issue?

[2019-07-09 10:37] sreenathnr commented on #22189
Hello

I am getting same issue after upgrade to magento 2.3.2

[code]

[2019-07-09 10:45] bassmo commented on #23620
But the hreflang information would be different for every single product, category and CMS page.

[2019-07-09 10:53] engcom-Bravo commented on #23624
@magento give me 2.3-develop instance

[2019-07-09 10:53] magento-engcom-team commented on #23624
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-09 10:53] magento-engcom-team commented on #23624
Hi @engcom-Bravo, here is your [Magento instance](https://i-23624-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23624-2-3-develop.instances.magento-community.engineering/admin](https://i-23624-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-09 10:54] engcom-Bravo commented on #23624
magento give me 2.2-develop instance

[2019-07-09 11:47] hostep commented on #23260
Also seeing this problem using Magento 2.3.2.
Switching from the `compact` strategy to `quick` or `standard` fixes the issue.

It only seems to happen when you have at least 3 layers of themes (blank => parent => child), with 2 layers of themes, it works find (blank => child).

So I can confirm @danielgoodwin97's finding.

[2019-07-09 11:55] engcom-Bravo commented on #23442
@magento give me 2.3-develop instance

[2019-07-09 11:55] magento-engcom-team commented on #23442
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-09 11:55] magento-engcom-team commented on #23442
Hi @engcom-Bravo, here is your [Magento instance](https://i-23442-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23442-2-3-develop.instances.magento-community.engineering/admin](https://i-23442-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-09 12:00] engcom-Bravo commented on #23442
Hi @govereem thank you for your report.  Please, rewrite your code on this:
'system' => [
        'default' => [
            'dev' => [
                'js' => [
                    'session_storage_key' => 'collected_errors'
                ],
                'debug' => [
                    'debug_logging' => '0'
                ]
            ]
]
],

[2019-07-09 12:00] #23442 closed, assigned to engcom-Bravo

[2019-07-09 12:08] patruvlad commented on #23619
I modified the description with some Manual testing scenario , can this be reopened and rechecked?

[2019-07-09 12:13] nguyenbach95 opened #23636 "UPS negotiated price not work"
### Preconditions (*)

1. Magento 2.2.8

### Steps to reproduce (*)

1. Create order with UPS shipping (use negotiated price is enable)
2. The shipping price is right on checkout screen
3. Shipping price on UPS is different to Magento

### Expected result (*)

1. Price on UPS and Magento are the same

### Actual result (*)

1. Prices are not the same

Note: After I added RateInformation on line 13

[2019-07-09 12:19] engcom-Charlie commented on #23636
Hello @nguyenbach95 ! Please provide more info and update your issue

[2019-07-09 12:27] vszgalaxy commented on #23613
I found this bug duplicated on github. (magento 2.3.1 and magento 2.3.2)
https://github.com/magento/magento2/issues/22143

Issue: domain/health_check.php response 500

Fix: replace code in pub/health_check.php (line 50 - 76) with this one:

**// check cache storage availability
$cacheConfigs = $deploymentConfig->get(ConfigOptionsListConstants::KEY_CACHE_FRONTEND);
if ($cacheConfigs) {
    foreach

[2019-07-09 12:55] engcom-Delta commented on #23423
Hi @mattijv thank you for your report. I'm not able to reproduce issue by steps you described on clean 2.3-develop.
![#23423Issue](https://user-images.githubusercontent.com/51681379/60889510-d3c5e500-a261-11e9-8f34-4e85c9ebdd7b.png)

![#23423IssueDb](https://user-images.githubusercontent.com/51681379/60889515-d7596c00-a261-11e9-9d0a-972c24d9a755.png)

If you'd like to update issue, please reopen i

[2019-07-09 12:55] #23423 closed, assigned to engcom-Delta

[2019-07-09 13:11] sezio commented on #23553
Hello @adamvarga

Did you found any temporary fix for this ? I currently have the same problem on a shop I'm working on.

Thanks, have a nice day

[2019-07-09 13:20] damienwebdev opened #23637 "Magento v2.3.2 Integration Test Framework fails on Alpine Linux"
### Preconditions (*)
1. Magento v2.3.2
2. Alpine Linux
3. PHP 7.2

### Steps to reproduce (*)
1. Run an instance of Alpine Linux w/ php7.2
2. Setup Magento environment, etc.
3. `cd dev/tests/integration`
4. `cp phpunit.xml.dist phpunit.xml`
4. `phpunit --configuration phpunit.xml`

### Expected result (*)
I expect to be able to run the test suite.

### Actual result (*)
The test suite fails with

[2019-07-09 13:20] samuel-reinhardt opened #23638 "Sample Files for Unsalable Products Redirect Instead of Download"
### Preconditions (*)

1. 2.4-develop
2. Set Stores->Catalog->Inventory->Stock Options->Display Out of Stock Products=Yes

### Steps to reproduce (*)

1. Login to admin
2. Go to Catalog-->Products
3. Select 'Downloadable product' from 'Add product' button dropdown
4. Fill all required inputs
5. Set product status to 'Out to stock'
6. Go to 'Downloadable information' tab
7. Press 'Add link' button

[2019-07-09 13:21] samuel-reinhardt commented on #23638
@magento give me 2.3-develop instance

[2019-07-09 13:21] magento-engcom-team commented on #23638
Hi @samuel-reinhardt. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-09 13:22] magento-engcom-team commented on #23638
Hi @samuel-reinhardt, here is your [Magento instance](https://i-23638-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23638-2-3-develop.instances.magento-community.engineering/admin](https://i-23638-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-09 13:23] sudheers-kensium commented on #23534
@theodorhanu  If you want to use attribute type is varchar the option values should be int or attribute type is text then you can use option values like option1, option2 etc.

[2019-07-09 13:32] damienwebdev commented on #23625
@gwharton I was able to resolve a similar issue by installing `procps` to my alpine dependencies.

[code]

[2019-07-09 13:37] samuel-reinhardt commented on #23638
This issue is not present on 2.2-develop or 2.3-develop. 2.2 and 2.3 releases do contain the issue however. It is due to this commit in which a salable check is added to the sample downloads logic.
https://github.com/magento/magento2/commit/9498c975b45999b4aba69568f6be1457116d702f#diff-3ce343f8897fe36416d4a848dab0a7da

[2019-07-09 13:39] asim-vax opened #23639 "Cart Price Rule - No expiry date field"
Hi,
When trying to edit expiry dates for voucher codes, i noticed that the box is missing.
This is made worse by migrating data from m1 - and all of our live voucher codes expired, and we can't change them via them admin, only via direct sql on the database.

### Preconditions (*)
1. Magento 2.3.2
2. Ubuntu 19.04, php 7.2

### Steps to reproduce (*)
1. Set up blank magento 2.3.2 installation
2. Lo

[2019-07-09 13:40] asim-vax commented on #23639
@magento give me 2.3-develop instance

[2019-07-09 13:41] magento-engcom-team commented on #23639
Hi @asim-vax. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-09 13:41] magento-engcom-team commented on #23639
Hi @asim-vax, here is your [Magento instance](https://i-23639-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23639-2-3-develop.instances.magento-community.engineering/admin](https://i-23639-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-09 13:45] asim-vax commented on #23639
Hi,
I do apologise - this is an issue with EE 2.3.2 - the to/from date is there in the above instance, but not in a vanilla EE 2.3.2 install.
![Screenshot from 2019-07-09 14-44-57](https://user-images.githubusercontent.com/4798940/60893101-331ef780-a258-11e9-84bf-b1e2fbab9888.png)

Do you want me to close this ticket?

[2019-07-09 13:48] engcom-Bravo commented on #23639
@magento give me 2.3-develop instance

[2019-07-09 13:48] magento-engcom-team commented on #23639
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-09 13:49] engcom-Alfa commented on #21957
I can't reproduce this issue on 2.3-develop.

[2019-07-09 13:49] #21957 closed, assigned to engcom-Alfa

[2019-07-09 13:49] magento-engcom-team commented on #23639
Hi @engcom-Bravo, here is your [Magento instance](https://i-23639-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23639-2-3-develop.instances.magento-community.engineering/admin](https://i-23639-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-09 13:51] engcom-Bravo commented on #23639
Hi @asim-vax thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.3-develop
![55](https://user-images.githubusercontent.com/51680745/60893560-c9a7e480-a269-11e9-8964-11b73866e138.png)
.

[2019-07-09 13:51] asim-vax commented on #23639
@engcom-Bravo as above - it is an issue with the enterprise version of magento 2.3.2, i cannot replicate the issue with the 2-3-develop instance granted here

[2019-07-09 14:02] engcom-Bravo commented on #23639
@asim-vax on enterprise 2.3.2 also not reproduse
![66](https://user-images.githubusercontent.com/51680745/60894414-47202480-a26b-11e9-8873-bbc7cb8ae598.png)

[2019-07-09 14:05] matin73 opened #23640 "getUrlPath() not working correct with store views with url-fallback"
### Preconditions (*)

1. Magento 2.3.x
2. PHP 7.2.119

### Steps to reproduce (*)

1. Create some store views for different countries - f.e. de, de_at, de_ch, en and en_gb
2. Add categories and use for de, de_at and de_ch same url (all 3 store views are in german - so name of category is same) by using checkbox "Use Default Value" vor field "url_key".
3. Translate category for english store views

[2019-07-09 14:06] magento-engcom-team commented on #23640
Hi @matin73. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-09 14:06] magento-engcom-team commented on #23640
Hi @matin73, here is your [Magento instance](https://i-23640-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23640-2-3-develop.instances.magento-community.engineering/admin](https://i-23640-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-09 14:10] matin73 commented on #23640
Thanks. But I can not add function $this->categoryRepository->get($this->registry->registry('current_category')->getId(), $value['store_id'])->getUrlPath() (f. e. to generate hreflang-tag) which shows problem

[2019-07-09 14:11] engcom-Bravo commented on #23639
@asim-vax really, on 2.3.2 is reproduced.

[2019-07-09 14:11] adamvarga commented on #23553
Hi @sezio! Nope, we’re waiting for the response.

[2019-07-09 14:13] sidolov commented on #22112
Hi @sjb9774 , we found an issue with the solution and PR was closed due to inactivity. You may create your own PR with proper solution and we will process it. Thank you!

[2019-07-09 15:28] damienwebdev commented on #23637
The code in question is:

https://github.com/magento/magento2/blob/0eb8677b0b4e35606032e856cc1ef7c80e68829f/dev/tests/integration/framework/Magento/TestFramework/Helper/Memory.php#L71

We would need an additional variant for the base alpine `ps`, or as there are several conditionals in this file that could be cleaned up, a `ps` abstraction.

[2019-07-09 16:08] AndyJAllen commented on #9988
I can confirm this behavior happens in 2.3.1

[2019-07-09 16:11] shikhamis11 commented on #23290
@magento give me 2.3-develop instance

[2019-07-09 16:11] magento-engcom-team commented on #23290
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-09 16:12] magento-engcom-team commented on #23290
Hi @shikhamis11, here is your [Magento instance](https://i-23290-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23290-2-3-develop.instances.magento-community.engineering/admin](https://i-23290-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-09 16:23] Nazar65 commented on #9988
@AndyJAllen https://github.com/magento/magento2/issues/9988#issuecomment-378644539

[2019-07-09 16:36] mpurish commented on #23447
Hi @ravi-chandra3197, do you know if there's already a fix for this issue?

Thanks

[2019-07-09 16:39] shikhamis11 commented on #23290
@magento give me 2.3.1 instance

[2019-07-09 16:39] magento-engcom-team commented on #23290
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-07-09 16:39] magento-engcom-team commented on #23290
Hi @shikhamis11, here is your [Magento instance](https://i-23290-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-23290-2-3-1.instances.magento-community.engineering/admin](https://i-23290-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-09 16:49] viktym commented on #23082
We are working on it

[2019-07-09 16:58] AndyJAllen commented on #9988
@Nazar65 https://github.com/magento/magento2/issues/9988#issuecomment-398715921

[2019-07-09 16:59] aleron75 commented on #7367
I just incurred in this issue on Magento 2.2.6, the `BETWEEN...AND...` statement gives for granted that entities have consecutive IDs that was not my case, thus I (and others) have the error.

If you create products and have consecutive IDs it's impossible to reproduce the issue.

[2019-07-09 17:10] magento-engcom-team commented on #23467
Hi @vrajesh-patel1993. Thank you for your report.
The issue has been fixed in magento/magento2#23614 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [c2c2fd57beb0d6a9cbc044f48b770f0f6d48e194](https://github.com/magento/magento2/commit/c2c2fd57beb0d6a9cbc044f48b770f0f6d48e194)
 - [e2e901061600c0fc46a1359dff4c801aa8d22f94](https://github.com/magento/magento2/commit/e2e901061600c0fc46a13

[2019-07-09 17:10] magento-engcom-team commented on #23333
Hi @alexeya-ven. Thank you for your report.
The issue has been fixed in magento/magento2#23438 by @ihor-sviziev in 2.2-develop branch
Related commit(s):
 - [171c9ce069904263803d5b60d68efa82d7269820](https://github.com/magento/magento2/commit/171c9ce069904263803d5b60d68efa82d7269820)

The fix will be available with the upcoming 2.2.10 release.

[2019-07-09 17:43] mattijv commented on #23423
@engcom-Delta To clarify: by dynamic I don't mean the FieldArray input type. I guess "dynamic" was not a good term.

What I mean by "dynamically" is to use a plugin to add fields (of any input type) that are not defined in a system.xml file. For example by creating a plugin for the `setData` method of `app/code/Magento/Config/Model/Config/Structure/Element/AbstractComposite.php``that adds an addit

[2019-07-09 17:46] Nazar65 commented on #9988
@AndyJAllen well this can be done with mysql config ft_min_word_len=2, the default value for this config 3, in this case dashes is prohibited and splitef to 2 query's xx and xx and mysql doesn't search for 2 words

[2019-07-09 17:48] lingwooc opened #23642 "Braintree Integration support for 3D Secure 2.0 for hosted fields (JS SDK 3.46)"
In order for users of the Braintree magento2 integration in the EU to continue using it after September 14, 2019 3D Secure 2.0 (3DS 2.0) must be used. This is the SCA used by braintree to comply with PSD2.

For users of the hosted fields method this isn't available in the current version (2.3.2) which uses version 2.32.0 of the Braintree JS SDK. The 2.3-develop branch is also behind as it is on 3.

[2019-07-09 17:57] olivermontes commented on #15187
hi @XxXgeoXxX any updates?

[2019-07-09 18:08] magento-engcom-team commented on #23627
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17990`, `MC-17991` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._