[2018-05-24 06:17] amanuni commented on #7977
@Grumag which currency is your default currency

[2018-05-24 06:21] Userr017 opened #15476 "Order confirmation sending takes a long time - Magento 2.2.4"
After magento 2.2.4 updates, order confirmation sending takes a long time when customer use email service outlook.com and hotmail.com, sometimes it don't send Order confirmation message. I tested use this but it doesn't work -> Store > Configration > Sales > Sales Emails > General Settings > Asynchronous sending > Enable. Also tested send manually order confirmation -> Sales > Order > Send Email

[2018-05-24 07:15] nicolallias commented on #5536
For the 2.2-develop, maybe [11049](https://github.com/magento/magento2/commit/dc7ce8acf60961c1fbcd6628fbe42118ade2b7b4) ? (I do not know how to filter commits by description)

[2018-05-24 07:26] dmarkos commented on #11542
Isn't there a way to make all the fields editable again?

[2018-05-24 07:30] leahaense commented on #11542
in theory I would assume if you remove the configs from `app/etc/config.php` and then run `./bin/magento app:config:import` it should make them editable again. I haven't figured out what to remove exactly though, deleting the whole file is not working.

[2018-05-24 07:44] BezV8 commented on #15426
Just out of interest, why was this issue closed? I have noticed a similar issue and was not sure whether it is a bug or the intended behaviour.

[2018-05-24 08:10] hostep commented on #6415
@magento-engcom-team: can you reference the commit(s) which solve this issue in 2.2.x ?

We run against this problem on Magento 2.1.12 with a big shop, although it's a different table then referenced above, namely: `catalog_product_index_eav_tmp`

I can find some commits referencing something related:
- [MAGETWO-66904: General error: The table 'catalog_category_product_index_tmp' is full](https://

[2018-05-24 08:12] syntheticlab commented on #9116
Hi @Cristiano81, we are experiencing same issue. Did you manage it and resolved it?
thanks for reply.

[2018-05-24 08:48] diedburn commented on #11740
This broke the normal confirmation email https://github.com/magento/magento2/issues/14952

[2018-05-24 09:06] gitgiangalbe opened #15481 "When link to simple product my configurable product lose image roles."
### Preconditions

1.  PHP Version 7.1.14
2.  Magento Version 2.2.0 on Linux Fedora
3.  5.7.21 - MySQL Community Server (GPL)
4.  Using Magento 2 REST API

### Steps to reproduce

1.  Create Configurable Product
2.  Create multiple Simple product
3.  Assing/Link relative Simple product to Configurable (using "/rest/V1/configurable-products/" + ConfigSku + "/child" " )

### Expected result

1.  Con

[2018-05-24 09:10] gwharton commented on #15118
Updated PR #15471 working perfectly for me. Thanks @chirag-wagento

[2018-05-24 09:15] dmarkos commented on #11542
You mean you tried removing the file and it didn't work? Maybe remove only
part of the file. The part with the admin settings.

Στις Πέμ, 24 Μαΐ 2018, 10:30 π.μ. ο χρήστης Lea Hänsenberger <
notifications@github.com> έγραψε:

[2018-05-24 09:26] leahaense commented on #11542
Exactly, remove only the config parts that you want to be editable again in the admin interface from the config file and then import that config with `./bin/magento app:config:import`

[2018-05-24 09:35] dmarkos commented on #11542
Well I suppose I could use this method for now. :) Cheers

Στις Πέμ, 24 Μαΐ 2018, 12:26 μ.μ. ο χρήστης Lea Hänsenberger <
notifications@github.com> έγραψε:

[2018-05-24 09:38] Jaydeepjd commented on #15430
ok

[2018-05-24 10:00] BezV8 opened #15483 "Too many password reset requests. Please wait and try again or contact ..."
Magneto 2 is limited to a maximum of one password reset request, even when the setting is set higher in the backend. Similar to issue [#11409](https://github.com/magento/magento2/issues/11409), but still present on 2.2.1

### Preconditions

1. Magento 2.2.1

### Steps to reproduce

1. Login to Admin Panel.
2. Select customer from Customers -> All Customers
3. Click reset password link and on page

[2018-05-24 10:15] mrprabhu commented on #14951
We are also facing same issue, upgrade from 2.2.3 to 2.2.4

[2018-05-24 10:30] daniyal154 opened #15484 "Requested Store not found while applying new theme after updating magento 1.9 to 2.1.7"
After I had migrated my website from magento 1.9 to magento 2.1, Everything is working fine except for a few bugs

## # **Preconditions**

- Magento 2.1.7

## Steps to reproduce

- Open Cli

- Open Admin Panel and go to content->configuration->edit

- Apply New Theme

## Expected result

- My Theme should have been changed

## Actual result

- When i try to change the Theme i get the ERROR

**Requ

[2018-05-24 10:57] dmarkos commented on #11542
How could I pinpoint a setting from admin to the file? I am trying to
change a setting , say in stores, configuration, general, web, auto
redirect to base url.

Στις Πέμ, 24 Μαΐ 2018, 12:34 μ.μ. ο χρήστης Markos Dimijazz <
dimitsas.markos@gmail.com> έγραψε:

[2018-05-24 10:59] leahaense commented on #11542
I usually inspect the input element in the browser, from it's id and name you can usually derive the actual configuration path

[2018-05-24 11:27] pixiemediaweb commented on #13440
any further feedback on this, or a temporary work around?  it's a big issue for a project we're working on

[2018-05-24 11:34] mtjweb opened #15486 "Error 404 when changing content configuration in Magento 2.2.4"
I just upgraded from Magento 2.2.3 to 2.2.4 and when I want to change the transactional email logo of a website, I get a page with an 404 error.

My setup;
- Multistore
- 4 websites
- All websites have 4 languages

Steps to reproduce:
- Go to Content => Design => Configuration
- Select Website
- Change some settings
- Save configuration

Normaly I get a message that the configuration is saved, but

[2018-05-24 11:36] Rickertje commented on #11542
I got a "Import failed: Unable to unserialize value, string is corrupted." running ./bin/magento app:config:import after changing the config.php. Any idea?

[2018-05-24 11:38] leahaense commented on #11542
check #11899

[2018-05-24 11:53] venkat-korampalli opened #15488 "Add to Cart not working after upgrading to 2.2.4"
HI,

We've recently upgraded our store to 2.2.4, since after Add to Cart functionality not working. From var/log messages we got below exception.

main.CRITICAL: Class Magento\SalesRule\Api\Data\CouponExtensionInterface does not exist in [Magento\SalesRule\Model\Coupon\Interceptor] {"exception":"[object] (RuntimeException(code: 0): Class Magento\\SalesRule\\Api\\Data\\CouponExtensionInterface does

[2018-05-24 12:05] pniel-cohen opened #15490 "Magento 2.2.4 - Breadcrumbs on product page are now created from the top-menu & missing when there's a custom menu"
I upgraded my Magento to 2.2.4 & noticed that the breadcrumbs disappeared from product pages.
So after some research I found out that you started building the breadcrumbs on product pages based on the top-menu using JS & since I customized my top menu on my theme with different CSS selectors & structure - it just stopped working.
I have no idea why you did it that way, but that makes it really fra

[2018-05-24 12:09] woakley opened #15491 "2.2.4 Product Name Quote not escaped"
### Preconditions
1.  Magento 2.2.4

### Steps to reproduce
1.  Enter product with double quote in product name (3" Quicktape)
2.  View product

### Expected result
1.  Product should display correctly

### Actual result

Uncaught SyntaxError: Unexpected token Q in JSON at position 124
    at JSON.parse (<anonymous>)
    at getData (VM580 main.js:58)
    at Array.map (<anonymous>)
    at HTMLDocum

[2018-05-24 12:23] tim-bezhashvyly opened #15493 "Allow shipping method usage in RMA but not in checkout"
Currently it is not possible to use shipping method for RMA without enabling it for checkout.

### Preconditions
1. Magento 2.2.3

### Steps to reproduce
1. Enable shipping method for RMA bit not for checkout
2. Go to authorised return request and click on "Create Shipping Label" button

### Expected result
1. The enabled method is available for returns

### Actual result
1. The enabled method doe

[2018-05-24 12:26] rommelfreddy opened #15494 "Update quote item"
### Preconditions

1. Magento 2.2.2

### Steps to reproduce

1.  Create a cart item update script like that: https://stackoverflow.com/a/31453908 (it updates a option on a cartitem/quoteitem)
2. create a product with the quantity of 1
3. put the product into the cart
4. trigger the script so that the script will call the function `$cart->updateItem($idemId)`

### Expected result

1. the quoteitem

[2018-05-24 12:52] zenomordiante commented on #14817
Mee too. I'm forcing reindex manually by command line

[2018-05-24 13:06] diglin commented on #8884
I confirm to have the same issue with Magento 2.2.4 while trying to send email from admin and having overwritten the `info.phtml` of the payment method, this one is not taken from the theme of the frontend store but from the default one.

[2018-05-24 13:32] Orstio opened #15497 "requestShippingRates populates wrong store and website IDs when retrieving shipping rates and methods in admin panel"
When creating a new order in the admin panel, clicking "Get shipping methods and rates" returns methods for store ID 1, even if another store ID is chosen for the order.
### Preconditions

1. Magento version 2.2.3
2. Create two websites within the Magento install install, and create each with their own store and store view.
3. Turn on some shipping methods for one store, and other shipping methods

[2018-05-24 13:32] woakley commented on #15491
Great, that was fast :)

[2018-05-24 13:32] #15491 closed, assigned to nobody

[2018-05-24 14:55] Grumag commented on #7977
Base Currency: Canadian Dollar
Default Display Currency: Canadian Dollar
Allowed Currencies: Canadian Dollar

[2018-05-24 15:36] cmuench commented on #9280
I also analysed the API call. One idea would be to move the image processing to an asynchronously process. Maybe we can process all images by a worker.
After each call the cache is invalided. This could also be optimized.
Maybe we can refactor this within the BulkAPI project.

[2018-05-24 16:20] hirale opened #15501 "M2.2.4 missing meta title tag and doesn't show product name if meta title is empty"
### Preconditions

1. Magento 2.2.4
2. PHP 7.1

### Steps to reproduce

1. fresh install via composer
2. install sample data

### Expected result

1. should show product name as brower title and should have meta title tag in html source

### Actual result

1. [Screenshot, logs]
![snipaste20180524_181222](https://user-images.githubusercontent.com/22028058/40498232-bf049cf0-5f7e-11e8-8990-c9ed032e1b

[2018-05-24 18:49] orbitrod opened #15504 "Magento Admin pages not fully loading and rendering when opened in the background"
### Preconditions

1.  Magento Version 2.2.3
2. Chrome Version 66.0.3359.181 (Official Build) (64-bit)

### Steps to reproduce

1. Login to Magento Admin
2. Navigate to Products
3. Open multiple edit product links in new tabs
4. Wait a few seconds for all loading indicators to stop spinning for new tabs
5. Switch to new tabs that were opened

### Expected result

1. The new pages should fully load

[2018-05-24 19:17] nunorcsousa commented on #11110
I'm trying to install a template in a local server using Magento. I made a copy to the server and then an upgrade to Magento. My Admin Panel is functioning but I face a problem when I access localhost. I'm working in developer mode. Here's my output of the page.

I have no idea to solve this. Can someone please help me on this?

[2018-05-24 19:59] jsamhall opened #15505 "Interceptor class methods do not support nullable return types"
### Preconditions

1. Magento 2.3.1-develop (cloned from magento-engcom/php-7.2-support)
2. PHP 7.2.5.1

### Steps to reproduce

1. Declare a public method with a nullable return type on a class that will have an Interceptor generated for it. In this case, the class extends from the Session Manager:
[code]

2. Trigger code generation in your environment.

### Expected result

1. The method signatu

[2018-05-24 20:37] johnny-longneck commented on #15474
The problem already occurs when doing php bin/magento

[code]
Local machine - same code - everything works
Remote machine - the problem comes up.

I am super frustrated. Any help highly appreciated

[2018-05-24 20:43] leoquijano commented on #5907
I was having the same issue in v2.2.4, and the fix by @rogan-son fixed it for me.

This is more of a server configuration issue, but maybe Magento could present a warning to the admin. This is especially critical for those of us who are importing attribute option values from external data sources. If many values are configured, any administrator that goes in to update an attribute, could break the

[2018-05-24 21:04] DanielRuf commented on #15474
Can you easily create a clone to test with `git bisect`?

[2018-05-24 21:06] johnny-longneck commented on #15474
I cloned everything to a new server with the same result. Trying to disable and uninstall each module one by one.

Need to check what git bisect is.

[2018-05-24 21:47] nikoelgatito opened #15506 "PayPal Module - Canada - Tax Issue - Not Recognized State/Province: Newfoundland"
When placing an order with a PayPal account using a shipping address within the Newfoundland province, Magento does not recognize the region and does not apply the sales tax. This is caused by the fact that Magento doesn't recognize the previous province name that had changed from "Newfoundland" to "Newfoundland & Labrador" and all PayPal accounts that had an address created before PayPal actually

[2018-05-24 22:04] NicoDG commented on #15245
warning: core hack ahead ;)

I managed to bypass the bug by adding the following in /vendor/magento/framework/Locale/Resolver.php

[code]

[2018-05-25 00:03] J-Fricke commented on #8815
@jdubbya We are currently testing removing the chunking patch and increasing the values Varnish can send/receive based on this: https://devdocs.magento.com/guides/v2.2/config-guide/varnish/tshoot-varnish-503.html - This guide only discusses http_resp_hdr_len & http_resp_size, though only increasing those values did not fix our issue. We have a current test we'll continue over the next couple of da

[2018-05-25 01:19] walrus28 commented on #8724
Thanks @shreyap26 Your solution worked for me! There were a couple of deleted products in my quote_item table.

[2018-05-25 01:31] venkat-korampalli commented on #15488
I've fixed issue my self, It is permissions issue with var folder.

[2018-05-25 01:31] #15488 closed, assigned to nobody

[2018-05-25 02:50] Topski2015 commented on #8966
What happened? Is this already implemented?

[2018-05-25 04:37] hitesh-wagento commented on #15417
@nadeefit6 I have tested  above email templates in **Magento ver. 2.2.6-dev** and  **Magento ver. 2.2.4** it's working fine.

[2018-05-25 04:42] msptrooper911 opened #15508 "REST API no longer working properly"
I use a google script that pulls information from my magento 2 and it was working on all prior versions including 2.2.3 until I updated to 2.2.4. The line of code that seems to be failing now is maybe UrlFetchApp.fetch("http://WEBSITE/rest/default/V1/orders/?searchCriteria", plusOptions).

### Preconditions

1. magento 2.2.4
2. php7

### Steps to reproduce

1. install magento 2.2.4
2. create API i

[2018-05-25 05:16] Mrunal13 commented on #12095
@thomvanderboon Thank you for your post, it really helped. :) :+1:

[2018-05-25 05:43] nadeefit6 commented on #15417
may be its magento version 2.2.3 bug

[2018-05-25 06:03] hitesh-wagento commented on #12437
@magefan I have tested above alt tag issue in Magento ver. 2.2.6-dev and Magento ver. 2.2.4 it's working fine please review attached screenshots.

![-magento-ver -2 2 4-cateogrypage](https://user-images.githubusercontent.com/23443991/40528682-6919a0e2-600f-11e8-851f-3a50459ac470.png)
![magento-ver -2 2 4-product-detailpage](https://user-images.githubusercontent.com/23443991/40528683-6943a39c-600f-

[2018-05-25 06:20] rishabhrkrai opened #15509 "Breadcrumb not showing"
### Preconditions

1. Magento 2.2.4, PHP 7.X, MySQL 5.6
2. Nginx Server

### Steps to reproduce

1. Upgrade Magento version from 2.1.7 to 2.2.4
2. Run all the Magento command after upgrade

### Expected result

1. On product page, breadcrumb is showing.

### Actual result

1. Breadcrumb is not showing on product page.

[2018-05-25 06:45] anthony-jullien commented on #4492
Same behavior as luckyduck on Magento 2.2.3, if user does not have access to Magento Admin Notification user can't download any PDF after login.

[2018-05-25 06:51] hoanglan87 commented on #8145
Any way to work around this? Should be a way to block automatically generate cache images until run the catalog:images:resize command manually?

[2018-05-25 06:58] magento2dev opened #15510 "First PDF download / export after login"
### Preconditions

1. Magento 2.2.3

### Steps to reproduce

1. Log in with an admin user who does not have the permissions Other Settings -> Notifications -> *
2. Right after login try to download any PDF or export data

### Expected result

1. Download of generated file

### Actual result

1. Redirect to Admin Dashboard

If you are trying a second time to download PDF or export it will work. The

[2018-05-25 07:27] valanitin commented on #15035
@dmanners Can you please assign me this issue? Or add me in the contribution team so that I can self-assign issues to myself. As I have solution for this issue, I need to commit the code and generate pull request for the same.

[2018-05-25 07:38] sidolov commented on #15356
Hi @vgelani. Thank you for your report.
The issue has been fixed in magento/magento2#15422 by @patelnimesh1988 in 2.2-develop branch
Related commit(s):
 - [28642a6b17ba9c6d64061ea90f7d39348a5ed767](https://github.com/magento/magento2/commit/28642a6b17ba9c6d64061ea90f7d39348a5ed767)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-25 07:38] sidolov commented on #15192
Hi @jignesh-baldha. Thank you for your report.
The issue has been fixed in magento/magento2#15211 by @flancer64 in 2.2-develop branch
Related commit(s):
 - [a95034a140326ede1f4fbd18236a1db9ed3e20f8](https://github.com/magento/magento2/commit/a95034a140326ede1f4fbd18236a1db9ed3e20f8)
 - [131a45818c88a0f57a8459f96fc24860946a0729](https://github.com/magento/magento2/commit/131a45818c88a0f57a8459f96fc

[2018-05-25 07:38] #15356 closed, assigned to nobody

[2018-05-25 07:38] #15192 closed, assigned to nobody

[2018-05-25 07:38] sidolov commented on #13793
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#15340 by @amjadm61 in 2.2-develop branch
Related commit(s):
 - [153faa6e823e0aa4baa5400503ed8bc993c0c9f8](https://github.com/magento/magento2/commit/153faa6e823e0aa4baa5400503ed8bc993c0c9f8)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-25 07:38] #13793 closed, assigned to amjadm61

[2018-05-25 07:38] sidolov commented on #15361
Hi @Yogeshks. Thank you for your report.
The issue has been fixed in magento/magento2#15364 by @Yogeshks in 2.2-develop branch
Related commit(s):
 - [f295906c3c9951b19a5ed3aee66aabe0d9e05a92](https://github.com/magento/magento2/commit/f295906c3c9951b19a5ed3aee66aabe0d9e05a92)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-25 07:38] #15361 closed, assigned to nobody

[2018-05-25 07:48] akosglue commented on #15501
@Naturegreen have you got a fix for it?

[2018-05-25 08:59] viral-wagento commented on #14691
Hello,
I have checked in Magento latest branch 2.2-develop, and it seems that issue is not being reproduced in this version.
I can add attribute option "Men's" , "Women's"  and it is saved properly by first time, without any other characters as you have shown in video.
Please check attached screenshot for your reference.

![myattribute product attributes attributes stores magento admin](https://us

[2018-05-25 09:13] PrajapatiChirag commented on #12572
Facing same issue on magento 2.1.4

[2018-05-25 09:44] sadeeshmca commented on #13971
I'm working on it

[2018-05-25 09:58] paulie51 commented on #14166
We're getting this same error on 2.2.4, medium profile, benchmark.jmx with the only customisations to the command being overriding the host, and admin_(user|path|password).
Tested on Windows and Linux using jmeter 4.0

[2018-05-25 10:04] andyexeter commented on #15325
Closing this. User error

[2018-05-25 10:04] #15325 closed, assigned to nobody

[2018-05-25 10:31] johnny-longneck commented on #15474
Okay I close this ticket. It seems the files in the vendor directory got corrupted and there was something wrong with the autoload. Thank god it is not the database.

[2018-05-25 10:31] #15474 closed, assigned to nobody

[2018-05-25 10:38] osrecio commented on #15440
I will close this Issue, this channel is to report technical problems with framework
The right place can be a [Magento Forums](http://community.magento.com/).

Thanks

[2018-05-25 10:38] #15440 closed, assigned to nobody

[2018-05-25 10:52] jsamhall commented on #15505
According to [this declined RFC](https://wiki.php.net/rfc/reflectiontypeimprovements) it appears the exclusion of ? when casting to the object to a string was an oversight/mistake due to lackluster documentation. The RFC proposed fixing this (by ensuring ? is included for nullable types) which classified as a BC break. Therefore I think the bug is Magento (via misuse of Zend) or Zend's (via poor h

[2018-05-25 11:36] magento-engcom-team commented on #15210
Hi @dryadav. Thank you for your report.
The issue has been fixed in magento/magento2#15360 by @saravananvelu in 2.3-develop branch
Related commit(s):
 - [cad44a3db14797f7fd2978e1c2a252e785fc0ec1](https://github.com/magento/magento2/commit/cad44a3db14797f7fd2978e1c2a252e785fc0ec1)
 - [560aa38603ac0cd7762ff7d791c598f734eb5435](https://github.com/magento/magento2/commit/560aa38603ac0cd7762ff7d791c598

[2018-05-25 11:52] Rich07082 opened #15516 "Magento 2.2.4 unable to add to cart-Session id issue? Multiple store 2 don't work 1 does"
Upgraded to Magento 2.2.4 and no longer able to add items to the cart.  Currently have 3 stores running on the same instance and 2 don't work and one does.

Don't work:
https://m2.dieselfiltersonline.com/
https://m2.nationalfleetparts.com/

These 2 stores were set up and running fine under 2.2.3 but no longer under 2.2.4

I created a 3rd store to test after error and everything seems to work fine.

[2018-05-25 11:56] peterjaap commented on #13240
@magento-engcom-team that is not the fix, that is just an integration test. Could you refer us to the actual commit that *fixes* it?

[2018-05-25 11:56] peterjaap commented on #8227
@magento-engcom-team that is not the fix, that is just an integration test. Could you refer us to the actual commit that *fixes* it?

[2018-05-25 11:56] peterjaap commented on #10073
@magento-engcom-team that is not the fix, that is just an integration test. Could you refer us to the actual commit that *fixes* it?

[2018-05-25 11:56] peterjaap commented on #5863
@magento-engcom-team that is not the fix, that is just an integration test. Could you refer us to the actual commit that *fixes* it?

[2018-05-25 12:31] sadeeshmca commented on #3795
I am working on this at #dmcdindia

[2018-05-25 12:31] magento-engcom-team commented on #3795
@sadeeshmca thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-25 12:31] melyancey opened #15518 "Magento2 not syncing to ShipStation suddenly"
### Preconditions

1.  Magento 2.2.3 & ShipStation on web
2.

### Steps to reproduce

1.  ShipStation gave us an error log this morning as to why Magento store was not connecting and updating Ship Station

 05/25/2018 08:11 am myancey
    An error occurred attempting to update orders: <!doctype html> <html xmlns="http://www.w3.org/1999/xhtml" > <head> <title>There has been an error processing your

[2018-05-25 13:01] yaroslav-zenin commented on #15508
try `UrlFetchApp.fetch("http://WEBSITE/rest/default/V1/orders/?searchCriteria=[]", plusOptions)`

[2018-05-25 13:02] magento-engcom-team commented on #10210
Hi @diybook. Thank you for your report.
The issue has been fixed in magento/magento2#15040 by @gwharton in 2.2-develop branch
Related commit(s):
 - [ca3245fc9c80247dfd637e5699914bea1b1e8df8](https://github.com/magento/magento2/commit/ca3245fc9c80247dfd637e5699914bea1b1e8df8)
 - [874260d3bf90d51c003597d071392c14bad315cf](https://github.com/magento/magento2/commit/874260d3bf90d51c003597d071392c14bad

[2018-05-25 13:02] #10210 closed, assigned to RomaKis

[2018-05-25 13:51] msptrooper911 commented on #15508
thank you. adding the = [ ] fixed the issue!

On Fri, May 25, 2018 at 8:01 AM, Yaroslav Zenin <notifications@github.com>
wrote:

[2018-05-25 13:54] #15508 closed, assigned to nobody

[2018-05-25 15:53] chipsmaster opened #15523 "MAGE_RUN_TYPE to "store" doesn't work"
MAGE_RUN_TYPE environment variable only works with "website" scope type. "store" seems a possible value but it doesn't work.

### Preconditions

1. Magento 2.2.4
2. Apache 2.4 / PHP 7.0.27

### Steps to reproduce

1. Setup Magento and Apache HTTPD with multiple domains as discribed here https://devdocs.magento.com/guides/v2.2/config-guide/multi-site/ms_apache.html
2. change MAGE_RUN_TYPE to "store

[2018-05-25 17:47] misha-kotov commented on #15270
From the business use case perspective, this scenario looks valid to me.

A simple example is "I registered on a site, bought myself an item (with my billing/shipping address), and saved the card. I come back and want to buy an item to be shipped to my parents' house using the saved card". In this case I need to provide different shipping and billing addresses, otherwise my card could get rejected

[2018-05-25 18:09] okorshenko commented on #15518
@magento-engcom-team give me 2.2.4 instance

[2018-05-25 18:09] magento-engcom-team commented on #15518
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-05-25 18:11] okorshenko commented on #15518
Hi @melyancey could you please demonstrate the behavior on the test instance https://i-15518-2-2-4.engcom.dev.magento.com/admin  ?

[2018-05-25 19:01] melyancey commented on #15518
Hello,

I’m not sure what you mean by this. I can log into the instance you created but it doesn’t have any orders and isn’t connected to ShipStation.

Besides a few hours ago it suddenly started working again.  Although on one of computers/logins the orders in question lost all items in them in Magento. But not on the other two people’s login

If you have any questions, please feel free to contac

[2018-05-25 19:03] melyancey commented on #15518
Magento2 and ShipStation suddenly started syncing again around 1130am EST.

[2018-05-25 19:03] #15518 closed, assigned to nobody

[2018-05-25 20:31] Rich07082 commented on #15516
had someone figure it out.  Was some old sales rules from a data import.

[2018-05-25 20:31] #15516 closed, assigned to nobody

[2018-05-25 22:17] Ctucker9233 commented on #5490
@magento-engcom-team what commits fix this issue?

[2018-05-26 04:40] jigardhaduk commented on #15447
Is there anyone to check this?

[2018-05-26 04:40] jigardhaduk commented on #15446
Is there anyone to check this?

[2018-05-26 04:48] gzchauhan opened #15528 "Magento 2.2.4 not install on php7.2.1"
### Preconditions

1. Magento 2.2.4 not support on php7.2.1

### Steps to reproduce

1. MAMP php7.2.1 and try to install new magento 2.2.4
2. ![screen shot 2018-05-26 at 10 16 35 am](https://user-images.githubusercontent.com/1052373/40572610-009f0bdc-60ce-11e8-9d0a-7c70a012b266.png)

### Expected result

1. It should support php7.2.1

### Actual result

1. ![screen shot 2018-05-26 at 10 16 35 am](

[2018-05-26 06:39] Puru2016 commented on #4737
Still issue is there as I am not able to update the "pelago/emogrifier" due to below error:-

Problem 1
    - magento/magento2-base 2.2.3 requires pelago/emogrifier 1.2.0 -> satisfiable by pelago/emogrifier[V1.2.0] but these conflict with your requirements or minimum-stability.
    - magento/magento2-base 2.2.3 requires pelago/emogrifier 1.2.0 -> satisfiable by pelago/emogrifier[V1.2.0] but these

[2018-05-26 07:19] loibv5989 opened #15530 "The product suddenly disappeared on the frontend. (We can not find products matching the selection. )"
Dear magento team.

PHP 7.0.27-0 + deb9u1
Mysql Ver 14.14 Distrib 5.7.21-20
nginx version: nginx / 1.10.3
Magento version 2.2.2, 2.2.3

My site it regularly disappears product on the entrance. When I watch it say we can not find the product matching the selection.

I have to reset the index with: bin / magento indexer: reindex. Then the product is displayed.

I've lost quite a bit of time finding

[2018-05-26 07:31] vkublytskyi commented on #12986
@sanjay-wagento Thank you for verifying this bug report

[2018-05-26 07:31] #12986 closed, assigned to sanjay-wagento

[2018-05-26 07:36] Puru2016 commented on #4737
Still issue is there as I am not able to update the "pelago/emogrifier" due to below error:-

Problem 1
    - magento/magento2-base 2.2.3 requires pelago/emogrifier 1.2.0 -> satisfiable by pelago/emogrifier[V1.2.0] but these conflict with your requirements or minimum-stability.
    - magento/magento2-base 2.2.3 requires pelago/emogrifier 1.2.0 -> satisfiable by pelago/emogrifier[V1.2.0] but these

[2018-05-26 07:47] ishakhsuvarov commented on #14955
Thank you for pointing out @ArjenMiedema
I am closing this now per your comment.

[2018-05-26 07:47] #14955 closed, assigned to nobody

[2018-05-26 07:54] vkublytskyi commented on #15528
Magento 2.2.4 does not support PHP 7.2 and it's hardly possible that it support will be added in Magento 2.2.x release line because it requires too big changes in a code and massive update of third party libraries that will make update process very complicated. We are trying to keep upgrades between patch versions simple and safe to enable possibility easily upgrade to the actual version.

The fir

[2018-05-26 07:54] #15528 closed, assigned to nobody

[2018-05-26 08:06] phoenix128 commented on #15509
Unable to reproduce the issue on 2.1, 2.2 and 2.3 . Can you please provide more details?
Does it work with the default Luma theme?

[2018-05-26 08:08] ishakhsuvarov commented on #13102
@Ananth747 Unfortunately, there is no exact estimate.

[2018-05-26 08:29] phoenix128 commented on #15483
Unable to reproduce in 2.1, 2.2 and 2.3 .
Please check you are not having an issue with a misconfiguration of `Min Time Between Password Reset Requests` parameter. You are probably trying to send multiple requests within the minimum required interval.

[2018-05-26 08:31] ashokramji commented on #14296
Anyone fix the issue....??

[2018-05-26 08:45] magento-engcom-team commented on #14689
Hi @flnative we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-05-26 08:45] #14689 closed, assigned to nobody

[2018-05-26 08:47] magento-engcom-team commented on #14741
@kowsikm we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-05-26 08:47] #14741 closed, assigned to nobody

[2018-05-26 08:49] magento-engcom-team commented on #14724
Hi @iyezhou
Thank you for the update. Closing the ticket now per your comment

[2018-05-26 08:49] #14724 closed, assigned to nobody

[2018-05-26 08:51] magento-engcom-team commented on #14732
Hi @bexdoggett
we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-05-26 08:51] #14732 closed, assigned to nobody

[2018-05-26 08:51] magento-engcom-team commented on #14824
@lcmarie29 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-05-26 08:51] #14824 closed, assigned to nobody

[2018-05-26 08:52] magento-engcom-team commented on #14808
Hi @anilahy
we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-05-26 08:52] #14808 closed, assigned to nobody

[2018-05-26 08:53] magento-engcom-team commented on #14870
@deepak956
we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-05-26 08:53] #14870 closed, assigned to nobody

[2018-05-26 08:54] magento-engcom-team commented on #14612
Hi @Arthi22
We are closing the ticket now as it seems that issue is solved.
Please note that we can not provide any help with websites linked.

[2018-05-26 08:54] #14612 closed, assigned to nobody

[2018-05-26 08:55] magento-engcom-team commented on #14686
@hkpatel201  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-05-26 08:55] #14686 closed, assigned to nobody

[2018-05-26 08:55] magento-engcom-team commented on #14926
@Poonika
we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-05-26 08:55] #14926 closed, assigned to nobody

[2018-05-26 08:55] magento-engcom-team commented on #14917
@175009
we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-05-26 08:55] #14917 closed, assigned to nobody

[2018-05-26 08:56] magento-engcom-team commented on #14933
@digitalbricklayer
we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-05-26 08:56] #14933 closed, assigned to nobody

[2018-05-26 08:58] magento-engcom-team commented on #14984
Hi @fmitu
Closing this ticket now, looks like issue is solved.

[2018-05-26 08:58] #14984 closed, assigned to nobody

[2018-05-26 09:01] magento-engcom-team commented on #14980
@EmilyPepperman Thank you for your help.
@josecoelho509 Closing this ticket for now due to inactivity. Steps mentioned above would help most likely.

[2018-05-26 09:01] #14980 closed, assigned to nobody

[2018-05-26 09:06] magento-engcom-team commented on #14038
Hi @sanjay-wagento Thank you for your research.
@siliconalchemy Could you please confirm that latest `2.2-develop` works fine for you?

[2018-05-26 09:07] s-pistore commented on #14052
#mmit18

[2018-05-26 09:07] magento-engcom-team commented on #14052
@s-pistore thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-05-26 09:53] magento-engcom-team commented on #13259
@sanjay-wagento Thank you for researching. Indeed, it seems to be a correct behavior.
We are closing the ticket now.

[2018-05-26 09:53] #13259 closed, assigned to nobody

[2018-05-26 09:53] galanis-a commented on #15049
This issue is also reproduced in Magento 2.2.3 with greek characters.

[2018-05-26 09:54] sakisplus commented on #15049
I confirm this issue too, in 2.2.3.

[2018-05-26 09:58] magento-engcom-team commented on #12820
@bjoern-flagbit Looks like the issue was fixed in the commit https://github.com/magento/magento2/commit/67b5fe71f23d32c96c0c9992b8adf2f378cd2a58 by @sanjay-wagento

Thank you for collaboration!

[2018-05-26 09:58] #12820 closed, assigned to sanjay-wagento

[2018-05-26 10:11] magento-engcom-team commented on #14050
@chrisgan If you think the issue is caused by migration we suggest reporting to https://github.com/magento/data-migration-tool

@roychandrasekhar Thank you for your research. Closing this ticket now.

[2018-05-26 10:11] #14050 closed, assigned to nobody

[2018-05-26 10:31] magento-engcom-team commented on #5071
@maniprakash Thank you for research.
@eric128 Closing this ticket now, as issue does not seem to be reproducible anymore.

[2018-05-26 10:31] #5071 closed, assigned to maniprakash

[2018-05-26 10:36] magento-engcom-team commented on #13636
@amitsiliguri Thank you for your research.
@Karlasa we are closing the issue now based on the comment above. Please reopen if you still experience the problem.

[2018-05-26 10:38] magento-engcom-team commented on #15130
@lewis-dan @rohit-wagento Thank you for research.
@BNStudio  We are closing the issue now, as it was most likely related to indexer not being executed.
Thanks

[2018-05-26 10:38] #15130 closed, assigned to lewis-dan

[2018-05-26 10:38] phoenix128 commented on #15449
Can you provide information about the script you used?

[2018-05-26 10:41] magento-engcom-team commented on #13851
@gerben86 Could you please verify that it works as expected for you now?

[2018-05-26 10:42] magento-engcom-team commented on #14777
Hi @divyakrishnashetty Looks like the issue is not reproducible anymore in 2.2
@lewis-dan @neeta-wagento Thank you for your research.
Closing ticket for now. Please reopen if you are still experiencing trouble.

[2018-05-26 10:42] #14777 closed, assigned to lewis-dan

[2018-05-26 10:45] magento-engcom-team commented on #15244
Hi @Sylvesterx1
Please check if the issue is reproducible on a clear installation without customizations. It looks like it's working fine from the screenshot above by @neeta-wagento
Thanks

[2018-05-26 10:49] magento-engcom-team commented on #13507
@sanjay-wagento Thank you for in-depth research on this.
@blizam We are closing this ticket now, please refer to the comment above. If you still experience the issue – please reopen.
Thanks

[2018-05-26 10:49] #13507 closed, assigned to sanjay-wagento

[2018-05-26 10:51] magento-engcom-team commented on #14007
Hi @Yogeshks
Could you please check the comment above?
Thanks

[2018-05-26 10:52] magento-engcom-team commented on #11984
Hi @SlavaYurthev
We are closing this ticket now as multiple people already commented that it is not reproducible.
Thank you all for collaboration.

[2018-05-26 10:52] #11984 closed, assigned to nobody

[2018-05-26 10:55] magento-engcom-team commented on #11864
Hi @syedsaleem086
Unfortunately we can not provide any assistance with custom themes here.
Thank you @solwininfotech for verification!

[2018-05-26 10:55] #11864 closed, assigned to solwininfotech

[2018-05-26 10:57] magento-engcom-team commented on #14112
Hi @kunj1988
Could you please submit a Pull Request to this repository with your fix? Thank you

[2018-05-26 10:59] magento-engcom-team commented on #12437
@hitesh-wagento Thank you for research.
@magefan We are closing this now, as problem does not seem to be reproducible. Thanks

[2018-05-26 10:59] #12437 closed, assigned to vindhuja, lewis-dan

[2018-05-26 11:13] gerben86 commented on #13851
@magento-engcom-team , Unfortunally the issue still exist (Magento 2.2.4) See printscreens.
Adding adjustment amounts:
![step1](https://user-images.githubusercontent.com/17478858/40575512-80fed7ae-60e6-11e8-8655-bc2f00e79e8a.JPG)
Decimals are gone after clicking on "Update Totals":
![step2](https://user-images.githubusercontent.com/17478858/40575503-6306a772-60e6-11e8-81a3-bbfdc58d0c5d.JPG)

[2018-05-26 11:48] inkobject commented on #13823
Just ran into this issue on 2.2.3.
Can be seen on my dev site for the next day or so:
Go to https://z9t.tech/2230/plants  on right, select bottom most category: Archive
Which leads to https://z9t.tech/2230/plants?cat=31 (kaplooey!). That category is set Anchor:No
If I set the category to Anchor:Yes, the problem goes away, But for my purposes, I need it set to Anchor:No
Fortunately accessing the pa

[2018-05-26 11:58] gwharton commented on #10663
I think this issue is exposing an underlying problem in the way Magento handles dates and times.

If I set the locale to en_US and call \Magento\Framework\Stdlib\DateTime\DateTime::date() it returns 2018-05-26 11:45:58

If I set the locale to en_GB and call \Magento\Framework\Stdlib\DateTime\DateTime::date() it returns 2018-05-26 11:46:05

So, DateTime::date() returns the same format regardless of

[2018-05-26 12:12] jakwinkler opened #15533 "Issue with removing images by using class Magento\Catalog\Model\Product\Gallery\GalleryManagement"
### Preconditions

1. Magento 2.2.3
2. PHP 7.0.x

### Steps to reproduce

1. Create a console command and inject Magento\Catalog\Model\Product\Gallery\GalleryManagement to constructor
2. load a product model by API repository
3. try to remove images using GalleryManagement class (like this)

[code]

### Expected result

1. Images should be removed and records in catalog_product_entity_media_galler

[2018-05-26 12:12] edthomas1 commented on #14980
No these  steps never worked. The issue is not fixed, do you have other workaround?

Thanks

Sent from my iPhone

[2018-05-26 12:45] magento-engcom-team commented on #13320
@santhoshp Unfortunately this is not recommended to edit dependencies directly.
Instead you submit set up a Pull Request to `magento/zendframework1`.

[2018-05-26 12:47] magento-engcom-team commented on #11141
Hi @teoteo
Could you please check if the issue is reproducible for you? Looks like it was fixed in later version.

[2018-05-26 13:08] sakisplus commented on #15049
Before change any record from Marketing -> Email Templates, the records in the database is ok, but in the grid all subject's characters that are note latin (i.e. Greek letters) appear as the issue "Actual result".
After change any record, this record saved as the issue "Actual result" in the database too.
This is also true for the characters out of {{trans  }}
(i.e. "ΑΒΓΔΕ{{trans ΑΒΓΔΕ}}" --> "???

[2018-05-26 13:35] magento-engcom-team commented on #13419
Hi @jsawhitepixel
Thank you for your report. This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this. Otherwise you may submit Pull Request with the suggested changes.

[2018-05-26 13:35] #13419 closed, assigned to nobody

[2018-05-26 13:39] magento-engcom-team commented on #13964
Hi @Robert-Damon @Ctucker9233
On the other hand, if somebody is using this as described by @orlangur (expect that images will remain) they will have much harder time customizing it to stop images removal.
In your case there are multitude of ways to remove unused files when you need.

Closing, as not a bug.

[2018-05-26 13:39] #13964 closed, assigned to nobody

[2018-05-26 13:40] mwaheed92 commented on #14930
@phoenix128 another example

This is a new magento version with sample data 2.2.3
I have just created some sub-categories

open: https://megatronic.com.eg/test/x/y/z/a.html
and switch to Arabic language

[2018-05-26 13:44] mwaheed92 commented on #14930
you can also check that the configurations are normal

https://megatronic.com.eg/test/adminbw
user: bwmagento
pass: abcd1234

[2018-05-26 13:44] magento-engcom-team commented on #13766
Hi @pradeeprcs
Looks like this issue is not reproducible with Magento 2.2 anymore. We are closing this ticket now.
Please reopen if the issue persists.

[2018-05-26 13:44] #13766 closed, assigned to nobody

[2018-05-26 13:48] magento-engcom-team commented on #14296
@ashokramji Doesn't look like it's fixed now.
You may assign it back to yourself if you are still interested.

[2018-05-26 13:56] jobinyatnam commented on #12176
@andkirby I have applied your fix to resolve the issue for now and its bypassing the loop without throwing the fatal error.
@Jakhotiya As you mentioned the issue is that some attributes objects in loop are not in 'ResourceModel/Eav/Attribute'. I just added some code to log the attribute code and type of the object coming in loop and found that issue is for attributes Status and Visibility.
2018-05

[2018-05-26 13:58] gwharton commented on #12176
As someone hinted it is a problem with the cached version of the eav attribute and not the attribute itself, I have disabled the EAV cache and for now I have not seem this problem again.

[2018-05-26 14:26] HirokazuNishi opened #15541 "Cannot retrieve currency rates for TWD"
### Preconditions

1. Magento2.2 and later
2. PHP, MySQL and other environment are not matter
3. Allow some currencies.

### Steps to reproduce

1. Allow TWD from currency setup
2. Access to "Stores > Currency Rates"
3. Retrieve currency rates against all services
4. Rate cannot retrieve

### Expected result

All services can retrieve TWD currency rate.

### Actual result

1. Webservicex
<img widt

[2018-05-26 15:44] megubyte commented on #10395
I saw the commits in question here and I am left wondering about the `x_forwarded_for` field too - checking my Magento 2 installation here, it does seem that this has the same schema definition that `remote_ip` once had, which would cause some problems if you have a IPv6 "X-Forwarded-For" IP.

About the new size of the field being set to 45 - wouldn't it be more efficient setting the field to a si

[2018-05-26 16:33] hostep commented on #13240
@peterjaap: indeed, but if you read the PR's description, you'll find a link to the fix: https://github.com/magento/magento2/commit/a0d3a637a08c2efa444a4fa259ac9d0d8100a113#diff-4e1fd4e484fc5142fc23f8ef0cde6718L53

A colleague of mine put this in a patch (see below) and reported it fixed the problem.

Patch for the `magento/module-catalog-url-rewrite` module:
[code]

[2018-05-26 17:35] Yogeshks commented on #14007
Hello @magento-engcom-team ,

[2018-05-26 18:46] gwharton commented on #15122
I have done some debug on the cron process, and in my test installation I have one cronjob that result in a new session being created every time it is run. It is

"Magento\Catalog\Cron\DeleteOutdatedPriceValues.php"

From what I can see in the stack trace,
[code]

[2018-05-26 18:51] gwharton commented on #15476
If you want emails to go out straight away, make sure you set Store > Configration > Sales > Sales Emails > General Settings > Asynchronous sending to OFF.

Asynchronous sending queues up outbound emails and fires them off at a later time using cron. Non asynchronous sending fires them off straight away.

Is this the issue?

You could also be running into the #14952 issue, because alot of people a

[2018-05-26 18:58] gwharton commented on #15306
Be aware there is a potential new bug in 2.2.4 where the from address in transactional emails is not getting set for some people. #14952 Could be related.

[2018-05-26 19:23] gwharton opened #15544 "[2.2.4] setDiscountDescription passes array not string in /Magento/SalesRule/Model/Quote/Discount.php"
### Preconditions
1. Magento 2.2.4

### Steps to reproduce
I am unable to successfully reproduce this issue on demand. It seems to happen on random occassions when M2ePro is downloading and creating orders from eBay in my store, however code analysis and code debug shows what seems to be a pretty glaring type error in the code.

### Expected result
1. Order should be created by M2ePro with no erro

[2018-05-26 19:43] rsulym opened #15545 "query INSERT INTO “search_tmp…” never ends after mass attribute update"
### Preconditions
Magento 2.2.1, php-fpm 7.1, MariaDB 10.3.5

### Steps to reproduce
Perform mass attribute values update (~30000 items)

### Expected result
1) Everything works fine

### Actual result
1) re-index process finished ok, but:
2) A lot of queries INSERT INTO “search_tmp…” started, until server reaches pm.max_children parameter value and PHP-fpm die, and they constantly resurrecting ev

[2018-05-27 01:47] vishal-g commented on #11882
Same problem

[2018-05-27 05:11] keevitaja commented on #10395
@megubyte 45 is correct!

https://www.google.ee/search?q=ipv6+max+length

[2018-05-27 09:14] jurpro commented on #15393
Hello. Anyone help? It is more then 1 weeks nobody answer.

Thank you

[2018-05-27 09:35] magento-engcom-team commented on #15469
Hi @brian-labelle. Thank you for your report.
The issue has been fixed in magento/magento2#15499 by @brian-labelle in 2.2-develop branch
Related commit(s):
 - [31e3b63b2fa812f845a4461ce44d1fbdea430956](https://github.com/magento/magento2/commit/31e3b63b2fa812f845a4461ce44d1fbdea430956)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-27 09:35] #15469 closed, assigned to nobody

[2018-05-27 09:35] magento-engcom-team commented on #4977
Hi @theycallmepepper. Thank you for your report.
The issue has been fixed in magento/magento2#15382 by @kacperchara in 2.2-develop branch
Related commit(s):
 - [c427ff12681baf2bb276dd12335a293302ca5310](https://github.com/magento/magento2/commit/c427ff12681baf2bb276dd12335a293302ca5310)

The fix will be available with the upcoming 2.2.5 release.

[2018-05-27 09:35] #4977 closed, assigned to kacperchara

[2018-05-27 10:18] pixiemediaweb commented on #5143
We have this problem in 2.2.3. We've migrated products from M1 and have a size attribute with around 200 options and 6 store views.  We expect the text swatch to take on the already populated label value for each store view but it does not. I am unable to save 'Admin is a required field in the each row.'

[2018-05-27 14:10] HashDefineElectronics commented on #11998
Hi All,

## My Issue
When the store is configure to allow both Include and Exclude tax to be display on the product page then the following happens to me.

On products with ***special price*** enabled, The
 special price value for excluding tax will be set to Old price excluding tax.
This is because the Excluding tax html element for Special price and Old price using the same price type. This mean

[2018-05-27 16:17] anant-svc commented on #15164
Hello @magento-engcom-team I think there is no issue in magento core regarding Checkout as Guest. I mentioned the screenshot also.
So I request you to close this issue.

[2018-05-28 02:21] katiakweb commented on #10485
I'm getting the same issue on magento 2.2.4 when I switch to Portuguese language in Admin account...

[2018-05-28 04:34] nicework125 commented on #15151
Any update please?

[2018-05-28 05:08] DanielRuf commented on #15151
Can you kindly add steps to reproduce the issue, please? In case it was presented in other GitHub issue can you give issue # for it, please?

Also it depends on how the code is written. Are requirejs modules used and extra files emitted?

You can always exclude files from the bundle or create another one.

So you add yourself 3MB which results in 5MB+ bundlesize? There are also bundle settings for

[2018-05-28 05:10] DanielRuf commented on #15151
Imho this is just a (best practice) coding, theme and general setting issue which is documented.

See https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/themes/js-bundling.html#setting-bundle-file-size

[2018-05-28 05:43] Bhavik-kumar commented on #15048
@magento-engcom-team : HI Team
I am waiting your replay.

[2018-05-28 06:13] AnnaGashenko opened #15550 "Cannot save the customer"
I try to registration on https://u.magento.com/
Fill out the registration form and get error "Cannot save the customer"
And I got in console
[DOM] Found 2 elements with non-unique id #cn35249_00: (More info: https://goo.gl/9p2vKq)

![magento](https://user-images.githubusercontent.com/17450710/40599739-5c6b7394-6257-11e8-89d8-7b9820cb02ec.jpg)

[2018-05-28 06:19] mropanen commented on #15509
At least sometimes this seems to depend on where you come to the product page from.
If entering through category page, breadcrumb is shown.
If entering from search, breadcrumb is not shown.

[2018-05-28 06:31] pini-girit commented on #15490
I pasted my temporary workaround in [here](https://magento.stackexchange.com/questions/227232/magento2-breadcrumbs-disappeared-from-product-page-after-upgrading-to-2-2-4) (If it helps someone...)

[2018-05-28 06:40] pini-girit commented on #15509
Do you have a custom top-menu?
-- if so, that might explain... you may try my workaround from [here](https://magento.stackexchange.com/questions/227232/magento2-breadcrumbs-disappeared-from-product-page-after-upgrading-to-2-2-4)

[2018-05-28 08:02] sunilaccorin commented on #14118
Hey @magento-admin

any update on that?

[2018-05-28 08:33] digvijay2017 commented on #13929
Hi Guy's,
I have applied the above solution and now i am able to create the new directory. But now i am not able to delete the directory. Is someone else facing this problem after applying the above solution. I have created the directory 'Testing' and now i am trying to delete this, but nothing happening and  i'm not getting any error.
![screenshot from 2018-05-28 13-58-04](https://user-images.git

[2018-05-28 08:44] LouNik1984 commented on #15449
Hi, sure. I first created the product :

[code]
then I associate the image (the images are stored in the magentoroot/tmp/folder):

[code]

Here the variabile position is simply the image they want to display as main image. But when the product has the image everything works: the products which have images are shown correctly. My problem is that not all the products have an image to associate and f

[2018-05-28 09:00] shinesoftware commented on #5873
Hi @magewallet how did Magento solved this issue?

[2018-05-28 10:39] Sachin-Suresh opened #15553 "Magento Iphone/Ipad- Product detail page not loading on click of product link or image"
### Preconditions

1. Using Magento 1.14 EE
2. On click of product link/image, product detail page not working in Phone

### Steps to reproduce

1. For instance, if the user is on Home Page and clicks the product image (from any category section), then the page reloads, and user lands on Homepage

2. If user is on Product Listing page and then clicks on product name/image then also the page reload

[2018-05-28 10:53] paulie51 commented on #14166
Hi @mslabko ,

Yes can confirm that works.  I read @Grohotun initial comment about testing 2,3 and 4 and figured it'd be pointless me doing the same.

Thanks,

Paul.

[2018-05-28 10:53] miguelbalparda commented on #15255
@tizzyguy87 there is a patch for this in #15534, can you check it and report back?

[2018-05-28 12:21] dmytro-ch commented on #2010
That does not seem to be an issue since Magento 2 cleans the session storage for cacheable requests in order to avoid caching of customer private content. In short, you should not access the customer session data, while processing the GET request intended to render the cacheable page.
I would also not recommend disabling the cache for the whole page via layout update as a workaround.
Magento 2 pro

[2018-05-28 12:31] kerlama commented on #14991
Hi,
on clean installation it is working and somehow started to work on previous one too.

Ivan

[2018-05-28 12:31] #14991 closed, assigned to nobody

[2018-05-28 12:34] ecomchallenger commented on #6411
Unable to reproduce the original issue on branch: 2.2-develop (commint: 6f8fc455560f34a773a9a116d5548b60142afd59).

By the way during trying to reproduce the issue, I encountered another issue, which might be the reason of the customer address custom attribute value reset in case from issue description.

This another issue is that entries from database table: customer_form_attribute are not cleare

[2018-05-28 12:39] EliasKotlyar commented on #13902
I have also encountered this bug after upgrading M2.1 to M2.2. It took a while to debug this issue. I have made a small module which has the fix from @kanduvisla. It can be found here:
https://github.com/EliasKotlyar/Twinsen_CarrierCodeFix/tree/master

[2018-05-28 12:39] tizzyguy87 commented on #15255
Sure. I will work on it and provide an update.

[2018-05-28 12:50] johnny-longneck opened #15555 "Cache disabled after module:uninstall"
I am not sure if that is expected behaviour but, after trying to uninstall a composer loaded module and turning back to production mode, all caches are being disabled.

Happened twice to me. First time it took me 3 complete days debugging. Caches being disabled was the last thing I thought of when I did not enter "bin/magento cache:disable"

### Preconditions

1. Magento 2.2.0
2. PHP 7.0

### Step

[2018-05-28 13:06] RishabhRkRai commented on #15509
@phoenix128 I upgrade my magento version from 2.1.7 to 2.2.4.  I have porto theme but breadcrumb was working on earlier magento version.

@pini-girit I have Magento's default top menu. Just styling some this from the admin category section

[2018-05-28 14:13] Kershrew commented on #15541
I can receive rates from Fixer.io but not from Yahoo or Webservicex.
Magento 2.2.3

[2018-05-28 14:36] pini-girit commented on #15509
Did you try upgrading your theme after the Magento upgrade? (maybe they made the necessary adjustments for 2.2.4). Also - You may still try my workaround to see if it's working for you.

[2018-05-28 14:48] linden2015 commented on #13002
@magento-engcom-team ,

On Magento 2.2.2 and Magento 2.2.3 we are experiencing the same issue.

Sitemap is generated with Media URLs like https://www.site-name.com/media/catalog/....&? But image is be in path https://www.site-name.com/pub/media/catalog/.... and opening without problem.

We expect the image url in the sitemap to be /media/.. because that's also the url of the image used on the actu

[2018-05-28 15:16] rajatkar104 opened #15556 "COOKIES WERE IDENTIFIED WITHOUT SECURE OR HTTP ONLY FLAG SET"
In Magento 2, I have configured the required configuration related to the cookie but in some of the  URLs the cookie is not secure or HTTP only flag not set. Please find the URLs yourdomainname.com/sales/order/history the secure cookie is not set.

Please look into this ASAP.

[2018-05-28 16:00] gianlucagaspari commented on #11963
Still have this issue on a 2.2.4, but only on the catalog pages.

[2018-05-28 16:10] mtjweb commented on #15486
I found some new info.

I got the same error when changing a static block. Tried to change the data directly in phpMyAdmin and got a 403 error (Forbidden (rejected)).

This only happens when there is HTML-code in te field.

I hope this will help to find a solution for this problem.

[2018-05-28 17:28] hostep commented on #13002
This is probably a duplicate of: https://github.com/magento/magento2/issues/5321
Can you try if my [suggested workaround](https://github.com/magento/magento2/issues/5321#issuecomment-310153777) fixes the issue?

[2018-05-28 17:38] middlegrey opened #15557 "Products shown as 'out of stock' after upgrading from 2.1.9 to 2.2.4"
### Preconditions
1. Magento 2.1.9
2. Using multiple websites, stores and languages
3. Apache 2.4.33 with PHP 7.0.30 and MySQL 5.7.22

### Steps to reproduce
1. Import Bundle Product.

### Expected result
1. Bundle Product visible on frontend.

### Actual result
1. Bundle Product absent on frontend - catalog_product_relation table data not filled.

[2018-05-28 19:30] bruno-serfe commented on #15501
Hi Guys, same issue here, do you have an update on this? thanks!

[2018-05-28 22:25] chipsmaster opened #15559 "Wrong asset urls in transactional email"
Theme assets are managed by Magento\Framework\View\Asset\Repository and there are problems with it when using "app emulation" (used by email template processing) :
* Sending emails from backend use the backend base url for static urls (it is a real problem if the admin url is to be hidden and/or is inaccessible from most IP).
* Besides the "pub" problem ( https://github.com/magento/magento2/pull/1

[2018-05-28 22:58] chipsmaster commented on #15559
I'll detail here the fix i may use in my project (this is not necessarily the fix to be used by Magento)

The safest choice i think is to use a dedicated Asset Repository instance (instead of a singleton) during one Email Template processing (there is also its "baseUrl" argument to instantiate and change its class to Magento\Framework\Url instead of the backend one).
Changing that could be achieve

[2018-05-29 00:38] Alex1844 commented on #15164
What does it mean "there is no issue"?

There is an option to enable captcha on the guest checkout. If the feature is not available then remove it, do not leave it in the options and say there is no issue.

There is the same feature in Open Cart since forever and it works just fine

[2018-05-29 03:55] nicework125 commented on #15151
Hi

Can you please show me example that Magento 2's bundling feature works fine? I tried to enable production mode & js bundling on Luma theme, but the page size becomes 3.8MB from 2.4 MB(default).

Regards.

[2018-05-29 04:05] DanielRuf commented on #15151
In general it would be helpful to get a screenshot of the network tab or a webpagetest test link.

[2018-05-29 05:16] nic02381 commented on #15425
Does anyone have idea about this?

[2018-05-29 07:44] wescey commented on #14951
Same here, facing on 2.2.2 & 2.2.3.

Google API information filled out in stores/configuration. Performing a purchase, result = no conversion is tracked at all.

[2018-05-29 08:26] BezV8 commented on #15483
The `Min Time Between Password Reset Requests` parameter is currently set to 0, which according to the helptext on the backend should disable the time interval entirely.

[2018-05-29 08:43] viral-wagento commented on #13440
Hello,

I have got below solution and it worked for me. Please add below code into your module's di.xml

`<preference for="Magento\Catalog\Model\Category\DataProvider" type="Mynamespace\Mymodule\Model\Category\DataProvider" />`

Here, we need to override DataProvider.php file to add 'Use Default Value' checkbox for custom attributes. There is a function named 'getFieldsMap', we need to do changes

[2018-05-29 08:51] eugenbg commented on #9032
i just wandered to this issue after seeing that the table catalogrule_product_price does not change after applying the rules..
but after executing the cron the table refreshed, so i guess this is the problem everyone here are having

[2018-05-29 08:53] GeorgeBogdanA commented on #11263
We've had the same issue on Magento 2.2.4 under php 7.1.17 with Plesk 17.8.11 but we've discovered that there was an error on the cron tasks of Magento: PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 2359296 bytes) in
 /var/www/vhosts/*****.***/magentodomain.***/vendor/magento/module-cron/Observer/ProcessCronQueueObserver.php on line 352. After we've fixed th

[2018-05-29 09:16] Toregam commented on #15455
Can you help me??

[2018-05-29 09:17] krukas opened #15564 "2.2.4 Created admin token has no access"
When you create a token for an admin user and have set the options **(Admin Token Lifetime (hours))** to empty, you will get an access denied because the token immediately expires.

### Preconditions
1. Set the option **Admin Token Lifetime (hours))** to empty.

### Steps to reproduce
1. Create admin token with /V1/integration/admin/token
2. Do any other call with this token

### Expected result
1

[2018-05-29 09:19] Hexmage commented on #8211
A workaround is setting the page_size parameter to a very large number.

[2018-05-29 09:34] parthaccorin commented on #13440
@viral-wagento Which version of Magento you are using for this solution?
It's not working in Magento Version 2.2.3

[2018-05-29 09:37] nmallepally commented on #13427
same issue on 2.1.12, cart is empty.
only happens on simple products for me on quick reload, is there any quick fix to this issue for 2.1.12 version ?

[2018-05-29 09:49] viral-wagento commented on #13440
@parthaccorin
I am using Magento Version 2.2.3.  Please find below if that can help you.

I have added below code in my category_form.xml
/Mynamespace/Mymodule/view/adminhtml/ui_component/category_form.xml

[code]

[2018-05-29 10:10] EliasKotlyar opened #15565 "Getting wrong frontend-controller, when using storecodes in urls"
### Preconditions
1. PHP 7.0
2. Magento 2.2.4

### Steps to reproduce
1. Create a Store with 2 StoreViews like "de" and "en". "de" is the default storeview
2. Set 'Stores' > 'Configuration' > 'General' > 'Web' > 'Add Store Code to Urls' to 'Yes'
3. Set "web/default/front" from Store "en" to somehing different like "catalog/product/view/id/productid"
4. Go to "domain.com/en"

### Expected result
I

[2018-05-29 10:26] ankurAuriga commented on #15376
@magento-engcom-team  - Any update on this?

[2018-05-29 11:14] sandipansaha opened #15567 "Configurable product price (tax) not applying as per tax class of simple (child) product"
### Preconditions

1. Magento Community 2.2.2
2. PHP 7.0.30
3. MySql 5.7.22
4. Apache2

### Steps to reproduce

1. Create a configurable product, which has two simple (child) products.
2. Configurable product is set as taxable with 20% tax setup.
3. First simple product is set as taxable with 20% tax setup.
4. Second simple product is set as no tax i.e. 0% tax.
5. Add second product through config

[2018-05-29 11:28] etcik1 opened #15568 "Products order in Categories are same for all stores."
### Preconditions
1. Magento 2.2 **Updated(09/25/2019):** Still actual on `2.3-develop`
2. Having two websites with two store views (e.g website1 with stores store1 and store2 and website2 with stores store3 and store4)
3. Different websites use same categories.

### Steps to reproduce

1. In Admin go to Catalog -> Categories
2. Choose some category
3. Change storefront from default to some specif

[2018-05-29 11:33] parthaccorin commented on #13440
@viral-wagento
@stevekarwacki
@pixiemediaweb
When we override using preferance in more than one module then only 1st one will execute and other will does not take any effect. and that's the reason it's not showing the default selection checkbox

to solve use **after plugin** of **PrepareMeta()** from \Magento\Catalog\Model\Category\DataProvider.php

Below is the solution which works perfect for me

[2018-05-29 11:42] viral-wagento commented on #13440
@parthaccorin
Yes correct, it worked for me using preference because i am working on fresh magento installation.
and the function (from DataProvider.php) , which i wanted to change was protected. So i selected to override using preference.

Thanks for your suggestion.

[2018-05-29 12:01] lchemwolo commented on #15406
Hello, did you find a solution for this? I am experiencing the same issue.

[2018-05-29 12:08] srinivasnovamodule opened #15569 "Getting error when edit the configurable product on Magento 2.2.4 after migration"
Hi There,

Last week we have migrated the data from Magento 1 (Version 1.9.3.0) to Magento 2.2.4. After completion of migration all configurable products edit section is getting an error as below.

**1 exception(s):
Exception #0 (Exception): Warning: Illegal offset type in isset or empty in /var/www/vhosts/mysite.com/vendor/magento/module-ui/Config/Reader/Definition/Data.php on line 126

Exception

[2018-05-29 12:33] shakthivelp commented on #6627
May I know what are files that has been changed ?

[2018-05-29 13:03] EliasKotlyar commented on #15569
There is some issue in one of your config files(xml-files). You should debug this down and find it out. I suppose thats a 3rd party module.

[2018-05-29 13:06] ravikasarla commented on #15569
Hi @EliasKotlyar thanks for the update.

I have disabled all the 3rd party modules and tested. Still getting the issue. Any other solutions?

Thanks

[2018-05-29 13:07] srinivasnovamodule commented on #15569
Hi @EliasKotlyar thanks for the update.

I have disabled all the 3rd party modules and tested. Still getting the issue. Any other solutions?

Thanks

[2018-05-29 13:21] EliasKotlyar commented on #15569
Then you have to debug it. I see no other solution for that.

[2018-05-29 13:32] AndreaRivadossi commented on #13445
Hi, i've analyzed the code in the catalogsearch and in the catalog-category page after adding filters.

I've noticed that in the catalogsearch page is missing the class "page-with-filter" in the body when a filter is added.

I've tried to add manually this class in the code inspector, after i've selected a filter, and if this class is present the code will work correctly, the state filter is displ

[2018-05-29 14:06] nicolallias commented on #14113
In the end, what is the official fix? Only the requirejs call by @tousif12 ?

Which are the relevant commits? (I have third party constraints to stay beyond 2.1.12)

[2018-05-29 14:53] densen45 opened #15571 "[2.2.4] Gallery product image variable changes have no effect or changes crashes the layout"
### Preconditions

1. Ubuntu 17.10
2. PHP 7.1
3. Magento 2.2.4

### Steps to reproduce

1. Create a product with one or more images
2. Create custom theme and open etc/view.xml (or open file from blank or luma themes -- doesn't matter)
3. Change the size of the product image (set width and height for product_page_image_medium, product_page_main_image and product_page_main_image_default e.g. to 350

[2018-05-29 15:15] kirmorozov commented on #13685
@antonkril @okorshenko @vrann Please check it and make sure we are up-to-date with major js libraries.

[2018-05-29 15:57] bruno-serfe commented on #15501
Hey guys, it's possible to apply an override of this? I saw that there're multiple protected and private methods and that's not usual when we made overrides, plugins cannot be used for this purpose (only public methods can be modified with Magento 2 plugins) can anyone share an alternative method to apply this until a new Magento version comes out?

thanks.

[2018-05-29 16:13] oleksii-lisovyi opened #15579 "Order payment method is not updated for free payment method while placing order from Admin Panel"
### Preconditions

1. Magento 2.2.3.
2. Enabled Check Money (or some other) payment method for test.

### Steps to reproduce

1. Go to Admin Panel -> Sales -> Orders.
2. Click on "Create New Order" button.
3. Do all the necessary steps to go on the Order Create page.
4. Add some product.
5. Click on "Custom Price" checkbox near the product.
6. Change custom price on 0.
7. Click on "Update Items an

[2018-05-29 16:21] GoogleYY opened #15580 "The bug of Ajax add to cart after the second time at the same page"
### Preconditions

1. Win 7 / CentOS Linux release 7.4.1708
2. PHP Version 7.0.28
3.Magento ver. 2.2.4
4.Luma blank theme without sample data

### Steps to reproduce

1. Go to product detail page, click Add to Cart button
2. Wait for seconds and then click the Add to Cart button on the same page of step1

### Expected result

1. It should be two items in the shopping cart

### Actual result

1.Thr

[2018-05-29 16:29] tmolina-geedop commented on #7550
I have the same problem but only when using Chrome (Magento 2.2.2), I've tried everything, please, has someone fixed it already?

[2018-05-29 17:22] melyancey opened #15581 "Magento Admin Side of Site extremely slow, customer side also slow"
### Preconditions

1. Magento v 2.2.4
2. Chrome and Firefox are both being used to access both the backend and the frontend

### Steps to reproduce

1. we say reload the page and it takes over 7 minutes every time
2.
3.

### Expected result

1. it should reload

### Actual result

1. [Screenshots, logs or description]

[2018-05-29 17:34] melyancey opened #15582 "4 out of 6 recent orders didn't go through, frontend checkout just "spins""
### Preconditions

1. Magento 2.2.4
2. Firefox for frontend, firefox and Chrome for backend

### Steps to reproduce

1. filled out order checkout on front end
2. get to part where it says "place order", click it and the busy circle comes up and spins and spins and it never gives an order number
3. but it's intermittent, now 6 out of 8 recent orders

### Expected result

1. the confirmation page th

[2018-05-29 18:13] melyancey opened #15586 "sometimes when placing an order through frontend, instead of showing confirmation page, it shows "cart is empty""
### Preconditions

1. Magento 2.2.4
2. Firefox and chrome plus who knows what else for frontend

### Steps to reproduce

1. add item to cart
2. go to checkout
3. fill out all your information
4. hit submit order

### Expected result

1. the confirmation page that congratulates you on placing your order and gives you order order number

### Actual result

1. you see a page that says your cart is em

[2018-05-29 18:16] anant-svc commented on #15164
Checkout as Guest means if customer's email is registered on Magento store. Because visitors are not registered customer.

[2018-05-29 18:17] melyancey opened #15587 "for 1 of our admins, the products sold no longer show in the order in Magento - for other 2 admins, they see them"
### Preconditions

1. Magento 2.2.4
2. Firefox and Chrome

### Steps to reproduce

1. we have not changed user roles
2. we have not changed users
3. but one of our admins no longer sees products sold in the order in magento, just the total.
4. the invoice has the products for her, but not the order
5.  for our other 2 admins, nothing changed and we can see products in the order

### Expected resul

[2018-05-29 20:29] LucScu commented on #14052
The issue seems to be present also in 2.3-develop.
Digging in the core i think the issue is related to `$quote->collectTotals()` in `/app/code/Magento/Quote/Model/QuoteRepository/SaveHandler.php`.

It calls (after many calls) `/app/code/Magento/Tax/Model/Sales/Total/Quote/CommonTaxCollector.php` where in `mapAddress()` has `$address->getRegionId()`.

Finally in `/app/code/Magento/Customer/Model/Ad

[2018-05-29 20:49] dvershinin opened #15588 "Images in XML sitemap are always linked to base store in multistore"
### Preconditions

1.  Magento 2.2.3
2. PHP 7.0.30
3. MySQL: 5.6.37-82.2 Percona Server

### Steps to reproduce

1.  Have a multistore Magento setup
2. Configure each store to use their own domain
3. Generate Magento XML sitemap

### Expected result

1. All images should be linked to corresponding store domain

### Actual result

1. All pages are linked to proper store but all *images* linked to `

[2018-05-29 21:20] ADVANCEDSPORTVE commented on #15439
OK SO I HAVE TO ASK AGAIN... IF ANYONE KNOW FOR SURE SO I DON'T BREAK THE STORE
why not just take out this completely out of the equation? would that work?

'RATED_ACCOUNT_PACKAGE',
'PAYOR_ACCOUNT_PACKAGE',
'RATED_ACCOUNT_SHIPMENT',
'PAYOR_ACCOUNT_SHIPMENT',
];

[2018-05-29 21:26] DanielRuf commented on #13685
This includes latest jQuery.

Just to mention it, the "new" standard is to not use jQuery and use Babel to transpile JavaScript / TypeScript to ES6 using browserslist.

jQuery is huge and mostly not needed imho.

[2018-05-29 21:41] AirmanAJK commented on #15439
As I said in my previous comment, that array is an order of priorities. If and when no items in the list match any results from a FedEx rates query, Magento will simply use the first rate provided in the collection.

That being said, it seems they put these particular items in this collection for good reason, so it's probably best just to reorder them to your liking. However, I don't see any reaso

[2018-05-29 21:50] DanielRuf commented on #15581
Did you enable the production mode and run the deploy command for the static content?

[2018-05-29 22:14] Olive777 opened #15589 "Magento 2.2.4 Demo Product Display Disclaimer Doesn't Disappear After Configuration for Live Production"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-05-29 22:51] ADVANCEDSPORTVE commented on #15439
thanks and sorry for the "caps lock" on previous message ( i was not yelling)
so if i understand correctly and based on previous store version i had that never gave me that issue, this new M2 ver, it is actually terrible. if they are deciding what is best for each store owner, that is like saying "well your are not in control of your own life" not good. ! who are they to decide what's best for me?

[2018-05-29 22:57] ADVANCEDSPORTVE commented on #15439
and here is an example , order comes in from Hawaii Fedex 2nd day , customer paid $55.78 when the actual rate is $68.06 .. is M2 going to pay for packaging materials and handling ? i think not...

[2018-05-29 23:19] prayagr commented on #15188
Hello everyone, we are aware of this issue and will address it in the next release. The 404 only occurs when there are no relevant logs present. Please follow the issue here: https://github.com/amzn/amazon-payments-magento-2-plugin/issues/178

[2018-05-29 23:36] AirmanAJK commented on #15439
That's what the shipping markup feature is for. It's what we and everyone else uses to cover expenses. Using the standard rate in comparison to your negotiated rate is not a good way to try and cover expenses. This is why it's not a feature, but a configurable markup is.

[2018-05-30 00:22] cpjeanpaul commented on #5594
What about this: https://magento.stackexchange.com/a/167112/62952

[2018-05-30 00:49] ADVANCEDSPORTVE commented on #15439
correct, but the problem with that is that it can not be used for all types of shipping because the negotiated discount that FedEx gives for the ground versus samrtpost and express is different .. so in using the markup one still loses and or in smartpost and ground it would be too expensive to the customer ..
so in my case and in conclusion i will make that modification unless i know for sure tha

[2018-05-30 02:19] kmddevdani opened #15590 "Typo in tests / setCateroryIds([])"
Good morning,

I am not sure if this is an issue. Browsing through the source code, we found occurences of the word "Caterory" in tests, which seemed as if it would be a typo. Please have a look - and just close it, if we are wrong. ;) Thank you!!!

### Preconditions

1. Access to github magento/magento2 repository

### Steps to reproduce

1. Browse to https://github.com/magento/magento2/search?q=

[2018-05-30 03:11] anant-svc commented on #15164
Thats your own business logic. But in ours customers mostly are registered and if not they get registered themself. We don't have to enable - Checkout as Guest captcha. Its very rare case that we have to enable it.

Its like Customer login captcha but here registered customer don't want to visit login page then refresh or visit checkout page just because he/she was not logged in to Magento store.

[2018-05-30 03:29] Arthur2Sereno commented on #10687
I came up with two temporary solution by myself, hope it will help someone: [Lost product image roles when save product by program](https://magento.stackexchange.com/a/227952/44237).

If someone has better solution or the official fix the bug, please let me know :)

[2018-05-30 04:14] shakthivelp opened #15593 "Deleting product custom option from quote gives error in product page"
Deleting product custom option from quote gives error in product page. It Looks like that it may be fixed in issue(Quote breaks if custom option deleted #6627).

But i need to know what are those files. I am using magento 2.1.7 i need that fix for my magento.

Preconditions

    Magento CE 2.1.*
    A product with a custom option

Steps to reproduce

    Add the product to the cart,  with a value

[2018-05-30 05:34] deva96 opened #15596 "customer name shouldn't display after rebooting the system"
### Preconditions

1. Welcome message shouldn't contain user name after restarting the system
2. Even after closing the tab without logging out before restarting the sysem

### Steps to reproduce

1. login as a user
2. close the tab without logged out
3. restart the system
4. open brower and open magento local
5. see the welcome message

### Expected result

1. Welcome! - Sign In - Create an accou

[2018-05-30 06:48] milenishte opened #15597 "Problem with registerProductsSale() on checkout"
### Preconditions

1. Magento CE 2.2.4
2. PHP >= 7.0 with error_reporting(E_ALL)
2. Having products with inventory

### Steps to reproduce

1. Order products with inventory
2. Enter shipping and billing information
3. Place order

### Expected result
1. Successful order

### Actual result
1. A Javascript error is trown to the browser:
SyntaxError: JSON.parse: unexpected non-whitespace character af

[2018-05-30 06:50] Pankaj08 commented on #6683
@robbanl your code is working fine for the products. Can you help me with categories?

[2018-05-30 07:04] sonal-infobeans commented on #10479
Still facing the same issue(popup with title "Attention" and the content is simply "true") on Magento ver. 2.2.2 when uploading the large file which is not allowed.

[2018-05-30 07:12] andkirby commented on #12176
@gwharton , that's a good note. Thanks!

[2018-05-30 07:19] magento-engcom-team commented on #15352
Hi @NamrataChangani. Thank you for your report.
The issue has been fixed in magento/magento2#15560 by @vgelani in 2.3-develop branch
Related commit(s):
 - [467ebb2b234def50f0ca2f95ad372953bfa60071](https://github.com/magento/magento2/commit/467ebb2b234def50f0ca2f95ad372953bfa60071)
 - [4ec581c858b79cc40862c8f746e3efb3658af67b](https://github.com/magento/magento2/commit/4ec581c858b79cc40862c8f746e3

[2018-05-30 07:19] magento-engcom-team commented on #12330
Hi @indefinitedevil. Thank you for your report.
The issue has been fixed in magento-engcom/import-export-improvements#104 by @adam-paterson in 2.3-develop branch
Related commit(s):
 - [9cbef5e6cf8a1a853bfc83b2ce59dffaaf443eea](https://github.com/magento/magento2/commit/9cbef5e6cf8a1a853bfc83b2ce59dffaaf443eea)
 - [e07b0749f0af08ff7fcec2c33f49324e52e122ce](https://github.com/magento/magento2/commit

[2018-05-30 08:42] srinivasnovamodule commented on #15569
Hi @magento-engcom-team, can you please look into this and advice asap. We have go-live plan, please suggest.

[2018-05-30 09:15] RishabhRkRai commented on #7997
Hi,

This issue is still not resolved on Magento 2.2.4 installation. I install new version and didn't see anything changed on this version. Is there anything else?

[2018-05-30 09:18] etcik1 opened #15599 "Incorrect currency code in Orders grid"
### Preconditions
1. Magento 2.2
2. Having two websites with two store views (e.g website1 with stores store1 and store2 and website2 with stores store3 and store4)
3. Currencies are configured on website level

### Steps to reproduce

1. Order products in store1 with currency A
2. Order products in store4 with currency B
3. Open orders Grid in Admin

### Expected result
1. Correct Currency code i

[2018-05-30 09:31] robbertstevens commented on #14832
The reason for this is probably you used the same sorting value for multiple products.

When you have the following
[code]

it wil only show one, two and four. See issue 13720

[2018-05-30 09:35] suman2061 commented on #3989
i am also facing same issue.
same website work perfectly on localhost, but on server, it facing this css issue.
how to solve this???

[2018-05-30 09:51] maxxeh1 commented on #14052
@magento-engcom-team You're not prioritising releasing a backport patch for a checkout breaking issue?

[2018-05-30 10:34] indefinitedevil commented on #14977
Short version: this is a theme issue. Make sure your theme has been updated with the relevant changes for 2.2.4.

We use Porto and it broke the same way.
Luma was updated with 2.2.4 and experienced no issues.

[2018-05-30 10:57] sanjay-wagento opened #15601 "Wrong annotation in formatDateTime - lib/internal/Magento/Framework/Stdlib/DateTime/TimezoneInterface.php"
### Preconditions

1. Magento 2 code.

### Steps to reproduce

1. Observe \Magento\Framework\Stdlib\DateTime\TimezoneInterface::formatDateTime

### Expected result

1. The annotation for **locale** and **timezone** should be **@param string|null $locale** and **@param string|null $timezone**

### Actual result

1. The annotation for **locale** and **timezone** is **@param null $locale** and **@par

[2018-05-30 11:09] Karlasa commented on #15393
@jurpro  Could you check your attribute settings under STORES -> Atrributes -> Product -> [your attribute] ->  Storefront Properties -> Allow HTML Tags on Storefront -> Should be set to "Yes"
Im sure it's not bug but just configuration issue :)

Cheers,

[2018-05-30 11:19] alexvandervegt commented on #14118
We have the same issue, would like an update asap!

[2018-05-30 12:00] ikk0 commented on #14236
@magento-engcom-team Are you sure it is appropriate to close this ticket? This seems to be a real issue. TransportBuilder should not be usable once per request only. For example, what about an extension creating 5 shipments for different orders and emailing them to customers, in "one request/execution" -- right now, using Magento\Sales\Model\Order\Email\Sender\ShipmentSender only the first of the

[2018-05-30 12:01] enrajatjain commented on #15406
Not till now ... we are still struggling with this issue... Did not get a solution... Kindly let us know if you find any solutions for this.

[2018-05-30 12:26] KnagarajuK commented on #5927
Hello Team,

I am also facing same issue when i follow the below scenario

Magento 2 version is: 2.2.3 CE
Mode:- Production
Css/Js :- Merged from (developer mode)

File/path from theme :-  app/design/frontend/Custom/demo/web/css/custom.less

Server:- AmazonCloud  (magemojo)
Result:- These  custom.less files changes are not effecting/updating in the respected custom.css in the pub folder.

Again if

[2018-05-30 12:39] jurpro commented on #15393
@Karlasa Thank you for reply.
But nothing happend. It works on Magento 2.2.3 but now on Magento 2.2.4 it mess. Just be a plain text not html tags.
here the screenshots for backend and frontend.

![music-error-1](https://user-images.githubusercontent.com/5201127/40720477-1524d246-6441-11e8-87b0-d3f59f99644e.png)
![music-error-2](https://user-images.githubusercontent.com/5201127/40720480-16f4180c-64

[2018-05-30 12:57] praveen1248 commented on #12726
Hi
This error is happening to me in 2 of my installations of magento 2.1.3.
It does't only happen on iPads and iPhones..

[2018-05-30 13:12] Axel29 commented on #12512
Hi,

Am I the only one who still has the same bug in 2.2.3?

Thank you in advance.

[2018-05-30 13:14] melyancey commented on #15581
I'm not sure, I 'm checking with other on staff

[2018-05-30 13:21] harshvardhanmalpani commented on #8970
I am getting this on Magento 2.2.3
I was first clueless but I narrowed down it a bit. here is the scenario.
Cat 174 has multiple products, then it was disabled. Now from the product edit page, i tried to remove the product from this category Klm. I receive error
**Could not save product "3572" with position 0 to category 174**
I repeat the steps and next time it says **You saved the product.** and

[2018-05-30 13:31] kirmorozov commented on #14646
@magento-engcom-team This is sourcemaps for all minified javascript.

[2018-05-30 13:44] rauberdaniel commented on #12602
This is a major issue here as well, since it seems that `sales_send_order_emails` jobs are queued multiple times at the same time which causes order emails to be sent multiple times. I wonder if it could be simply "fixed" (workaround) by adding a `UNIQUE` constraint to the `job_code` and `scheduled_at` columns, but I assume that might break the whole scheduling stuff.

[2018-05-30 13:55] hostep commented on #13156
For the folks interested in this problem, we've received a patch from the Cloud support a while ago (MDVA-8298) which fixes this problem, apply to the `magento/module-eav` module:

[code]

[2018-05-30 14:03] jfrontain opened #15603 "Known Issues for Magento 2.2.4"
This issue collects post-release Known Issues for Open Source and Commerce 2.2.4. We will close this issue after thoroughly investigating and documenting these issues.

@hostep, this issue tracks the two issues you identified in Slack: https://github.com/magento/magento2/issues/15245  https://github.com/magento/magento2/issues/15205

Issue 1: (We don't recommend upgrading to Magento 2.2.4 if you u

[2018-05-30 14:21] Scarraban commented on #10687
We've patched this for now by adding the following block into `vendor/magento/module-catalog/Model/ProductRepository.php`

[code]

Before the `clearMediaAttribute()` method mentioned by @capkafitz - this essentially adds the missing 'types' keys that should be in the $images array anyway - and ensures they are restored after being initially cleared.

Don't think this is a permanent fix - as the `g

[2018-05-30 14:22] duckchip opened #15605 "'Used for sorting in product listing' causes errors in catalogsearch_fulltext reindex when elasticsearch is used."
Hi guys,

We're having a pretty annoying issue, especially because it was kinda hard to figure out what went wrong.. but here it goes:

We're using elastic search for the catalog search and we noticed that the catalogsearch_fulltext indexer threw errors about Double date specification.

After further debugging this is what we found:

### Preconditions

1.  Magento 2.3-develop 2cbe1a679629ae022744c

[2018-05-30 14:38] heldchen commented on #14236
we have this problem too, first noticed after updating to 2.2.4.

the TransportBuilder uses ObjectManager in reset() to create a "new" `\Magento\Framework\Mail\Message` instance:

[code]

once a mail was previously created, the object returned from the ObjectManager won't be a new, uniinitalized object and thus needs at least be reset properly. or get rid of the object manager stuff as everyone se

[2018-05-30 14:42] PaperDS commented on #15580
Magento 2.2.4
Customised Luma theme
Having same Issue here.

[2018-05-30 15:20] kirmorozov commented on #11816
Moving with https://github.com/magento/magento2/issues/14646 for 12, 16 June.
We can team up and push code in.

[2018-05-30 15:46] denda888 commented on #15530
Can anybody help me fix it?

[2018-05-30 16:23] anant-svc commented on #15164
It seems that there are few registered customers in your Magento 2 store and you get frustrated.

But in our client's Magento 2 store there mostly registered customers. Be cool!

[2018-05-30 17:12] anant-svc commented on #15164
It seems that there are few registered customers in your Magento 2 store and you get frustrated.

But in our client's Magento 2 store there mostly registered customers. Be cool!

[2018-05-30 18:05] denistrator opened #15608 "Styling <select> by changing less variables in Luma theme doesn't work as expected"
### Preconditions
1. FE theme inherited from Luma

### Steps to reproduce
1. In Custom/theme/web/css/source/_theme.less set less variables:
@select__background: rgba(255, 255, 255, 0.15);
@select__border: 2px dashed blue;
@select__height: 50px;
@select__padding: 15px 40px 15px 15px;
@select__background-clip: border-box;
2. Compile less

### Expected result
Have "select" elements with the styles yo

[2018-05-30 18:24] viniciusbordinhao-redstage opened #15609 "Magento 2.2.4 Product sorting list by price on category page wrong when configurable product has special price set by mass action."
### Preconditions

1.  Magento 2.2.4

### Steps to reproduce

1. Add a special price to configurable product using mass action.
2. Re-index price

### Expected result

1. It is expected that catalog category page show products sorted by price correctly, taking account that special price of the configurable product should not make difference to price indexer process

### Actual result

1. Indexer p

[2018-05-30 18:33] hostep commented on #15603
So next to the two mentioned above, here are some other new bugs introduced in 2.2.4 which I've seen popup in the past few weeks, sorted in order of importance I think:

Unverified, but sounds legit and feels like it is important:
- Wrong from sender in outgoing transaction emails: https://github.com/magento/magento2/issues/14952

Some issues introduced by those Amazon modules bundled by default n

[2018-05-30 20:16] dschmidthawk commented on #14977
Any word on this?  Using the Luma theme so not a theme issue.  The Luma gallery.phtml has the updated json language, no files to replace since using Luma files. So none of the fixes above have worked. Issue can be seen at link at my issue above.

[2018-05-30 21:34] andrewdaluz commented on #11427
@magento-engcom-team can you please share commit link or a fix as alternative?

[2018-05-30 21:47] erikhansen commented on #14978
Closing this as a duplicate of #15024

[2018-05-30 21:47] #14978 closed, assigned to nobody

[2018-05-30 22:43] oviliz commented on #8017
The solution is to upgrade Magento, @Jeeva-Rathinam

[2018-05-31 01:59] crantron commented on #3890
Still in `2.2.3`

[2018-05-31 04:06] jurpro opened #15612 "Magento 2.2.4 Atribute html tags broke only show plain text"
### Preconditions
Magento 2.2.4 Fresh installation and upgrade from 2.2.3

### Steps to reproduce
I wrote this problem here but no answers. Link: https://github.com/magento/magento2/issues/15393

And I found. For Magento 2.2.4 there are many diffrent structure on "Vendor -> Magento Catalog" for Product section. Many files add and diffrent from 2.2.3 and below.

### Expected result
On Magento 2.2.3

[2018-05-31 06:12] PiedPip3r opened #15613 "Can't install on step 6 Magento 2.2.4"
Starting Magento installation:
File permissions check...

Required extensions check...

Enabling Maintenance Mode...

Installing deployment configuration...

![untitled](https://user-images.githubusercontent.com/39789184/40764729-fa16b172-645e-11e8-8994-15bccc9b015d.png)

[2018-05-31 06:28] viral-wagento commented on #14377
@ishakhsuvarov @dmanners @magento-engcom-team

I have checked above issue, following the description added by @densen45.
Please refer below comments.

1. I set 'Minimum Qty Allowed in Shopping Cart' = 5 - from the Store Configuration.
2. I created a bundle product (Bundle A) with 2 child products.
- Child Product A
- Child Product B
3. Bundle A is consist of Bundle of  (2 x Child Product A) and (3

[2018-05-31 06:36] kamal9484 opened #15617 "Advanced Catalog Search for Price"
**Description**
Advanced catalog search is  not working correct for product price filter. For Ex: Let i have a configurable product, having 2 children one has price 100$ and second has price 300$. then set filter range from 200$ to 400$, the result showing is 0. but according to the rule result should be 1.

**Preconditions**
Php 7.0, Magento 2.2.x

**Steps to reproduce**
1. Open Advanced Search r

[2018-05-31 06:49] nvtho opened #15618 "add to cart be pending"
I had add to cart but it not update mini cart, i see button only "pending"
Who can help me?
Thanks!

### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-05-31 07:06] kemexyz commented on #8094
This issue is still in in 2.2.4

### Preconditions

1.  Magento Version 2.2.4
2. PHP 7.0.30-0ubuntu0.16.04.1

### Steps to reproduce
1. Create a e-mail template containing a "ü" (üäö  german stuff)  in the subject
2. Create an Order to get the E-mail
3. View the email in outlook

### Expected result
1. E-mail subject should display the "ü" like it was authored

### Actual result
1. E-mail subject

[2018-05-31 07:57] nmallepally commented on #8807
same issue on 2.1.12 any fix around?

[2018-05-31 08:03] kervin commented on #15406
Any luck with this? Same issue here, i've updated from 2.1.8 to 2.2.4

[2018-05-31 08:06] jigardhaduk commented on #15447
Hello @magento-engcom-team
Would you please take a look at it?

[2018-05-31 08:06] jigardhaduk commented on #15446
Hello @magento-engcom-team
Would you please take a look at it?

[2018-05-31 08:34] ihor-sviziev commented on #8094
Hi @kemexyz ,
It looks Avery similar, but it's different. Could you report it as separate issue?

[2018-05-31 08:39] kemexyz commented on #8094
Hey @ihor-sviziev ,

sure, not quite sure if got 2 issues mixed up here ... sorry!

[2018-05-31 08:39] vaso123 commented on #7171
It still happens in Magento 2.2.4.

Guys, this ticket opened Oct 25, 2016, so it is 1.5 years old.

[2018-05-31 08:46] KM-HM opened #15620 "E-Mail subject not showing "ü" german Umlaute"
### Preconditions

1.  Magento Version 2.2.4 installed via composer
2. PHP 7.0.30-0ubuntu0.16.04.1
(3.  My magento has this module https://github.com/magepal/magento2-gmail-smtp-app)

### Steps to reproduce
1. Create a e-mail template containing a "ü" (üäö  german stuff)  in the subject
2. Create an Order to get the E-mail
3. View the email in outlook (web.de was also reported to me)

### Expected

[2018-05-31 08:53] lchemwolo commented on #15406
After I modified some lines of code the error disappeared. Looking back, it appears that when the $order->save() stage is attempting an order object that is not yet properly instantiated, that error occurs (saving an order object that does not exist). I think in my case I changed the line

$orderId = $this->orderRepository->get($this->checkoutSession->getLastOrderId()); (which I was using yet I ha

[2018-05-31 08:55] 3wlink commented on #8337
Hello, I am facing the same issue in version 2.2.4. Category image upload works fine, but product image upload and video does not work, nothing happens, even image is not uploaded to media folder. This is the first time I am using Magento (with default Luma theme), so I don't understand what to do now. Any help will be highly appreciated.

[2018-05-31 09:29] peterjaap commented on #1822
@magento-engcom-team you moved this to DONE in 2.3-develop branch. Do you have a commit that belongs to this? I'm still having this issue on 2.2.3.

[2018-05-31 09:30] peterjaap commented on #1822
This is my dirty workaround for the issue (after 6 hours of investigation I still haven't found what causes this, the tax module is one complicated mess);

[code]

[2018-05-31 09:53] vasudevsundar opened #15622 "Reindex when used_in_grid column in true for custom attribute for customer"
@magento-engcom-team

Preconditions
Magento version 2.2.3
Mysql 57
PHP 7.0

Steps to reproduce
See file:
lib/internal/Magento/Framework/Indexer/Handler/AttributeHandler.php
Your file has bug at line:
$source->addAttributeToSelect($fieldInfo['origin'], 'left');
Method addAttributeToSelect not found.

Need to display custom attribute in customer grid.

If i use used_in_grid = true gretting error. bu

[2018-05-31 09:57] viral-wagento commented on #13153
@klakovskiy

I think, Once the invoice/shipment is generated, you can not cancel order, only option available is to refund that order, if customer do not want to proceed for ordered items.

And when we place an order of Zero amount, there is no need to refund (or create credit memo) that order.
Please correct if any.

[2018-05-31 10:39] kervin commented on #15406
I've changed the following line instead and it seems to work.

Magento\Paypal\Model\Adminhtml\Express.php
From:
    public function isOrderAuthorizationAllowed(Payment $payment): bool

to

    public function isOrderAuthorizationAllowed(Payment $payment)

[2018-05-31 10:41] D-David11 commented on #11113
Same issue:

Element 'script', attribute 'data-requiremodule': The attribute 'data-requiremodule' is not allowed.
Line: 42

Element 'script', attribute 'data-requiremodule': The attribute 'data-requiremodule' is not allowed.
Line: 43

Element 'script', attribute 'data-requiremodule': The attribute 'data-requiremodule' is not allowed.
Line: 44

Element 'script', attribute 'data-requiremodule': The

[2018-05-31 10:46] D-David11 commented on #11110
Same issue:

Element 'script', attribute 'data-requiremodule': The attribute 'data-requiremodule' is not allowed.
Line: 42

Element 'script', attribute 'data-requiremodule': The attribute 'data-requiremodule' is not allowed.
Line: 43

Element 'script', attribute 'data-requiremodule': The attribute 'data-requiremodule' is not allowed.
Line: 44

Element 'script', attribute 'data-requiremodule': The

[2018-05-31 11:10] devamitbera commented on #14968
@magento/community-engineering-team ,

Can you please clarify
#15137 is the Final PR for this issue?

[2018-05-31 12:01] srinivasnovamodule commented on #15569
Hi,

Please, anyone, help on this issue as I am unable to fix this issue since last week. Please, someone help on this.

Thanks

[2018-05-31 12:04] bendesignsweb opened #15625 "Quote REST API reserved_order_id is 0 if prefix set - quoteCartRepositoryV1"
Hello,

When using the REST api **/rest/all/V1/carts/search** if you have a prefix set then the **reserved_order_id** returns 0 as it's returning an integer when it should be a string. If you don't have a prefix set then reserved_order_id is filled out correctly with the order number.

### Preconditions
1. Magento 2.2.2
2. PHP 7.0.21
3. Set an order prefix in the database - I used a guide by Class

[2018-05-31 12:05] psapoznik commented on #13254
same problem, angry customers.

[2018-05-31 12:11] psapoznik commented on #6167
same problem, angry customers.

[2018-05-31 12:13] shibinyatnam commented on #7399
hi when upgrade with ClassyLlama_ModalEnhancements.zip module but still modal not close when click overlay. any idea why

[2018-05-31 12:15] kirmorozov commented on #13685
@DanielRuf Yes, new, fancy JS, but:
1. Backward compatibility is what keeps your system running.
And most of the web is running due to Linux backward compatibility.
2. We have to inject js processing via nodejs within the core. https://github.com/magento/magento2/issues/14646 Will start this process. Feel free to join.

Babel, another beast to worship, like redis or varnish or nginx, it will be pa

[2018-05-31 12:27] bendesignsweb commented on #15569
@srinivasnovamodule  have you tried creating a new configurable product from the Magento admin panel and seeing if it's editable? If it allows you to create a new one and edit it, it would suggest some problem with the data migration. You'd then be able to compare your new accessible product against your migrated products in MySQL and look for any odd looking data.

[2018-05-31 12:28] enrajatjain commented on #15406
@kervin we are getting this error when we changed it according to your specification. Also, there is no such file in our version which you mentioned. we changed in file which we have and got below error.

PHP Fatal error:  Declaration of Magento\\Paypal\\Model\\Adminhtml\\Express\\Interceptor::isOrderAuthorizationAllowed(Magento\\Sales\\Model\\Order\\Payment $payment) must be compatible with Magen

[2018-05-31 12:38] srinivasnovamodule commented on #15569
@bendesignsweb Thanks for replying on this.

I have tried to create a new configurable product and it is giving the same error. I am not able to create new conf prod also. Please, advice or suggestion.

![screenshot_6](https://user-images.githubusercontent.com/34563507/40782642-9a3623ba-64fd-11e8-95c7-d44c24735740.png)

Thanks

[2018-05-31 12:44] AndrewPenry commented on #13153
@viral-wagento

Creating a credit memo is the way you return the items to stock.

[2018-05-31 12:50] viral-wagento commented on #13153
@AndrewPenry
Yes, that can be the case, if we are managing stock to magento system.
I am working on this.

[2018-05-31 13:08] dverkade opened #15626 "Product list query order by references same column more then once."
### Preconditions
1.  Magento 2.2.4
2. PHP 7.1

### Steps to reproduce
1. Have a category with several products
2. Print the query for retrieving category products.
3. Use the following code in the Magento_Catalog/templates/product.list.phtml to display the query used:

[code]

### Expected result
1. ORDER BY should reference the same column only once. In this example it should reference:

[code]

[2018-05-31 13:13] LucScu commented on #9580
@plastiqman Same issue here with 2.2.2.
After i applied the fix magento commit the issue remains. So i go deep in the core and with your hint i find that MSP_CashOnDelivery create this loop

`Magento\Quote\Model\QuoteRepository->getForCustomer() exec loadByCustomer()`
`Magento\Quote\Model\Quote->loadByCustomer() exec _afterLoad()`
`_afterLoad() exec collectTotals()`
`collectTotals() trigs some eve

[2018-05-31 13:17] LucScu commented on #9580
@magento/magespecialist Are you aware of this problem?

[2018-05-31 13:54] louisnorthmore commented on #15084
Same issue. Is there going to be a solution for their new label API moving forward?

[2018-05-31 13:59] bendesignsweb commented on #15569
@srinivasnovamodule Unfortunately I'm no expert, I can replicate the error by passing an Array to the get function in data.php I've also tried dumping the value of the key when editing a configurable product and it's always a string so not sure why your particular install is passing an array. You should try some debugging, I don't think there's a lot more I can say without seeing the install. - So

[2018-05-31 13:59] dverkade opened #15627 "Product order in category changed after update to Magento 2.2.4"
### Preconditions
1. Magento 2.2.4
2. PHP 7.1
3. This issue is introduced by the following PR: #11429

### Steps to reproduce
1. Have a category in Magento with several products in it, all have the position in the category set to the value 0
2. The default sort order should be set to position
3. In Magento 2.2.3 the newest product in the database (the one with the highest entity_id) was shown firs

[2018-05-31 14:11] melyancey commented on #15581
No, I'm sorry.  We do not know how to do that.  Can you explain please?

[2018-05-31 14:21] nmallepally commented on #13427
It happens when people clicked twice on the checkout button and the cart is empty but mini cart has items.

[2018-05-31 14:27] aeu commented on #4301
@nmallepally I applied this patch https://github.com/magento/magento2/commit/a6f146cd9302fbbb6305df9613c7ce3eea7a05ae and it is fixed for me, Magento 2.1.12 PHP7.

[2018-05-31 14:34] SRaromicon opened #15630 "Attribute Options can't get reloaded, after adding new option"
### Preconditions
1. PHP 7.1
2. Magento 2.2.4

### Steps to reproduce
1. Create a Script for adding new options on Select Attributes.
[code]
2. Try to get option id for newly added value
3. Try to load Attribute. Jump to step Number 2.

### Expected result

1. $attribute->getSource()->getOptionId() should return new value
or
2. All Options for Attribute can be reloaded by some function.

### Actua

[2018-05-31 14:35] DanielRuf commented on #14968
Yes, this is the final PR which is already merged for 2.2.5.

[2018-05-31 14:39] DanielRuf commented on #15581
See the following links

https://devdocs.magento.com/guides/v2.2/howdoi/install/mode-switch.html
https://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-mode.html
https://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-static-view.html
https://devdocs.magento.com/guides/v2.1/config-guide/prod/prod_deploy.html

https://magento.stackexchange.com is bet

[2018-05-31 14:41] DanielRuf commented on #13685
I will do some planning how we could get there (browserslist config + webpack + babel).

[2018-05-31 15:35] p3ll3 opened #15631 "Issue when we create a new product with double quotes in the title"
### Preconditions

1. Magento version 2.2.4
2. PHP 7.0.30-0ubuntu0.16.04.1

### Steps to reproduce

1. Go to Catalog >> Products
2. Create a new product with double quotes, e.g. PROBASS BAFLE 15" 1000W
3. Go to the detailed view of the product

### Expected result

1. Product loading correctly:
![captura de pantalla 2018-05-31 a la s 9 30 38 a m](https://user-images.githubusercontent.com/4666948/4

[2018-05-31 15:43] leoquijano commented on #13685
I'm all for new cool stuff with tangible benefits.

But having jQuery upgraded to a recent version (v3) is important for all of us that are working with third party libraries (sliders, carousels, plugins included in extensions, etc), and can't just make the switch. I don't think jQuery is going away any time soon, and for some use cases is very practical.

Magento is using a fairly old version of

[2018-05-31 15:59] DanielRuf commented on #13685
Sure.

It was just meant as notice.

[2018-05-31 16:00] DanielRuf commented on #13685
Totally agree with this.

[2018-05-31 16:28] DanielRuf commented on #3989
This was about an old release. Please open a new issue and provide all details about your setup and steps.

[2018-05-31 17:07] kirmorozov commented on #13685
@VladimirZaets was assigned to latest PR,
There might be 3-4-5 other issues found after complete MFTF run, can be resolved easily.

[2018-05-31 18:43] AirmanAJK commented on #15596
This is happening because that information is stored in local storage in the browser, and clearing/invalidating server sessions won't actually give the client any signal to "flush" local storage.

Especially since Magento's local storage refreshing works based on post requests to different "sections". Any solution would have to somehow detect an invalidated session, and then only clear out the nec

[2018-05-31 18:55] AirmanAJK commented on #15439
It sounds like a better solution for you would be a percentage markup restricted by a minimum and maximum value. For example, the markup needs to be at least $5, but no more than $50, and anything in between based on a percentage is left alone. This can be done with an extension, but out of the box Magento only supports fixed or percentage markups.

[2018-05-31 19:12] VitaliyBoyko opened #15632 "No ACL set for Marketplace"
It's currently not possible to set access to Marketplace for Admin roles. They are only available when *Role Resources* is set to *all*
Also, it trows Zend_Acl_Exception all the time when system builds menu items.

### Preconditions
1. install any version of Magento 2

### Steps to reproduce
1. create admin role
2. set custom role resources
3. select all resources
4. add a user to the role
5. logi

[2018-05-31 19:33] pioneerathletics opened #15636 "Error when updating from 2.1.12 to 2.2.4 on CLI"
### Preconditions

1. Magento 2.2.4 from Magento 2.1.12
2.

### Steps to reproduce

1. Upgraded via CLI from Magento 2.1.12 to 2.2.4
2.composer require magento/product-community-edition 2.2.4 --no-update
3. composer update
4. rm -rf <Magento install dir>/var/cache/*
rm -rf <Magento install dir>/var/page_cache/*
rm -rf <Magento install dir>/var/generation/*
5. setup:upgrade
6. setup:di:compile
7.se

[2018-05-31 20:14] ishakhsuvarov commented on #13992
Hi @ThisIsRuddy. Thank you for your report.
The issue has been fixed in magento/magento2#15619 by @dmytro-ch in 2.1-develop branch
Related commit(s):
 - [ab64a2c39358c6f37d27206a16272cc176a33abe](https://github.com/magento/magento2/commit/ab64a2c39358c6f37d27206a16272cc176a33abe)

The fix will be available with the upcoming 2.1.15 release.

[2018-05-31 20:14] ishakhsuvarov commented on #9580
Hi @bh-ref. Thank you for your report.
The issue has been fixed in magento/magento2#15522 by @rogyar in 2.1-develop branch
Related commit(s):
 - [bddb976d9a13da3a2c40301e31791469a0e62669](https://github.com/magento/magento2/commit/bddb976d9a13da3a2c40301e31791469a0e62669)

The fix will be available with the upcoming 2.1.15 release.

[2018-05-31 20:14] ishakhsuvarov commented on #14941
Hi @paales. Thank you for your report.
The issue has been fixed in magento/magento2#15445 by @JeroenVanLeusden in 2.1-develop branch
Related commit(s):
 - [3d05e6b5361d28877ac97e7dfd264b8b5ccf6482](https://github.com/magento/magento2/commit/3d05e6b5361d28877ac97e7dfd264b8b5ccf6482)

The fix will be available with the upcoming 2.1.15 release.

[2018-05-31 20:34] francoocchi commented on #11531
Any news?

[2018-05-31 21:35] evagabond commented on #11263
Experiencing this weird issue on M2.2.3, @webusat [fix](https://github.com/magento/magento2/issues/11263#issuecomment-348974252) worked for me. Thanks!

[2018-05-31 21:50] ADVANCEDSPORTVE commented on #15439
i am not going to do markups.. i got some help and we did what you first mentioned.. now shows correct rates..
in any case something else even more weird is happening now..
Customer placed an order , choosing a PO rather than CC or PayPal.. order shows up and no payment of course .. i called the customer and he assured me that he paid with Credit card... so...... what is going on ? i have no clue

[2018-05-31 21:53] danharper83 opened #15638 "WYSIWYG not working after upgrading from 2.2.3 -> 2.2.4"
### Preconditions
1. Sart with Magento version 2.2.3
2. Run composer update to version 2.2.4
3. Follow update steps using command line.

### Steps to reproduce
1. Go to catalog
3. Click on any product
2. Click show hide editor

### Expected result

1. Should see WYSIWYG

### Actual result

1. Do not see WYSIWYG
2. Get errors in console
[Screenshot was included. Redacted due to sensitive info]

[2018-05-31 23:06] nopenopenope commented on #11113
@D-David11 I have had a similar issue and resolved it this way:

[code]

in Mage2 root. Check the corresponding files in your IDE and fix the errors. If the XML happens to be in a module, check if there are updates via Composer or Vendor Homepage.

[2018-05-31 23:31] ghost opened #15639 "(Home Page and index.php ) using both the www & non-www domain variations"
### Preconditions

1. originally Bitnami Magento 2.2.3-3 AFTER upgrade to 2.2.4
2.

### Steps to reproduce

1. site is configured to run as www
2.
3.

### Expected result
all pages to show www
1. [Screenshots, logs or description]

### Actual result
Website (Home Page only) is indexed in Google using both the www & non-www domain variations
https://example.com AND https://www.example.com/home
1. [

[2018-05-31 23:39] DanielRuf commented on #15639
How did you configure it? With .htaccess and 301 redirects?

[2018-05-31 23:44] Fitdiva commented on #15639
sudo /opt/bitnami/apps/magento/bnconfig --machine_hostname NEW_DOMAIN

[2018-06-01 01:08] allumanatu opened #15640 "Error when typing "php bin/magento setup:di:compile""
[code]

[2018-06-01 02:40] Gaboemmi opened #15641 "Customer logged out automatically in checkout process"
### Preconditions
1. Magento ver. 2.2.4
2. Current PHP Version: PHP 7.0.28
3. I have tried deleting the browser cache, and doing it from a new incognito tab and from other computers
4. It has installed a module of One Step Checkout, however the error persists with the module enabled and disabled.
5. In the browser's developer console it does not show any errors, it simply redirects me to (.../cust

[2018-06-01 04:05] jigardhaduk commented on #15446
Hello @magento-engcom-tea
Would you please take a look at it?

[2018-06-01 04:07] pkksrct commented on #8207
i cannot find answer............. please share the answer @manojs229

[2018-06-01 04:26] winds1983 opened #15642 "TODO: use correct Exception class SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '6024' for key 'PRIMARY', query was: INSERT INTO `sequence_product` (`sequence_value`) VALUES (?)"
When we add below code to fix multiselect save issue:
vendor/magento/module-catalog/etc/di.xml
`
<type name="Magento\Catalog\Model\Product">
        <arguments>
            <argument name="resource" xsi:type="object" shared="false">Magento\Catalog\Model\ResourceModel\Product</argument>
        </arguments>
    </type>
`
Multiselect issue is fixed, but new error was happenned:
TODO: use correct Exc

[2018-06-01 04:26] kervin commented on #15406
On which version are you?

Just change method isOrderAuthorizationAllowed in Magento\Paypal\Model\Adminhtml\Express

Remove the ":bool" part. Be extra careful if you use Paypal Express. I am not using it and I have not tested. This is just to allow the checkout.

[2018-06-01 05:02] DanielRuf commented on #15640
Did you run the commands for composer install and setup upgrade?

It seems you deleted our issue template which makes it harder to help you.

[2018-06-01 05:20] sandipansaha commented on #15567
For the time being who is having this issue and looking for a workaround I have built a module to change the Magento behaviour according to our requirement.

You can check the answer below -

https://magento.stackexchange.com/questions/228276/how-can-i-allow-a-configurable-product-price-tax-to-apply-as-per-tax-class-of/228277#228277

[2018-06-01 05:33] hitesh-wagento commented on #7897
I am working on this

[2018-06-01 05:41] valanitin commented on #15035
For a quick solution you can follow https://magento.stackexchange.com/questions/227354/product-image-zoom-issue-on-product-details-page-when-drop-down-menu-have-overla/227398#227398 this.

[2018-06-01 05:41] DanielRuf commented on #15639
We do not know what this does. I guess this creates a .htaccess? If so please share the mod_rewrite and vhost settings with us.

Normally you should set the right domain / url in the store settings.

[2018-06-01 05:59] magento-engcom-team commented on #15467
Hi @jonshipman. Thank you for your report.
The issue has been fixed in magento/magento2#15468 by @jonshipman in 2.2-develop branch
Related commit(s):
 - [1e364956495b6fbd30ddcdeebcae3208fef52de9](https://github.com/magento/magento2/commit/1e364956495b6fbd30ddcdeebcae3208fef52de9)
 - [caa818ec68e7cf4f9e95ed2851bd20a654f29c12](https://github.com/magento/magento2/commit/caa818ec68e7cf4f9e95ed2851bd20

[2018-06-01 05:59] magento-engcom-team commented on #14153
Hi @milansimek. Thank you for your report.
The issue has been fixed in magento/magento2#15459 by @hitesh-wagento in 2.2-develop branch
Related commit(s):
 - [2cc78bcd1895c47e958e2bb2799a8694d30220fa](https://github.com/magento/magento2/commit/2cc78bcd1895c47e958e2bb2799a8694d30220fa)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-01 05:59] #15467 closed, assigned to nobody

[2018-06-01 05:59] #14153 closed, assigned to hitesh-wagento

[2018-06-01 06:39] VitaliyBoyko commented on #15632
Looks like the same issue has Shopial_Facebook module.

[2018-06-01 06:50] #13213 closed, assigned to nobody

[2018-06-01 07:00] rauberdaniel commented on #12602
I created a mysql query that takes care of the duplicate jobs and removes them. Simply run this as a cron job every minute and you should be fine:

[code]

[2018-06-01 07:00] Pruthviraj26 opened #15651 "When I try to change frontend theme : something went wrong while saving this configuration: Area is already set"
[code]

[2018-06-01 07:33] DanielRuf commented on #15651
This will be fixed in 2.2.5 and is already fixed in the develop branch.

[2018-06-01 07:33] DanielRuf commented on #15651
See https://github.com/magento/magento2/pull/15137

[2018-06-01 07:34] #15651 closed, assigned to nobody

[2018-06-01 07:35] DanielRuf commented on #15651
Feel free to reopen if the changes from the pull request do not fix this on your side.

[2018-06-01 07:44] bibiseb opened #15652 "REST API create order POST /V1/orders"
### Preconditions

1. Magento 2.2.4
2. PHP 7.0.18

### Steps to reproduce

POST http://magento2.test/index.php/rest/V1/orders

`{
	"entity": {
		"base_grand_total" : 100,
		"customer_email" : "user@domain.tld",
		"grand_total" : 100,
		"items" : [
			{
				"sku" : "TESTSEB"
			}
		]
	}
}`

### Expected result

An order should have been created

### Actual result

I received this json:

`{
    "mes

[2018-06-01 07:52] nunorcsousa commented on #11110
@D-David11 I had install Magento 2.2.3 in my server and then applied the template and problems started to appear. After many tests i found out that the main cause was incompatibility between Magento and the installed template. Check the details of your template and if necessary install a previous version of Magento. Regards

[2018-06-01 07:54] Userr017 commented on #15476
Issue is: After magento 2.2.4 updates, order confirmation sending takes a long time when customer use email service outlook.com and hotmail.com, sometimes it don't send Order confirmation message...?

[2018-06-01 08:00] magento-engcom-team commented on #15469
Hi @brian-labelle. Thank you for your report.
The issue has been fixed in magento/magento2#15607 by @dmytro-ch in 2.3-develop branch
Related commit(s):
 - [1e2019ccb7f39c4158f77258cec6d52f32011d70](https://github.com/magento/magento2/commit/1e2019ccb7f39c4158f77258cec6d52f32011d70)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-01 08:00] magento-engcom-team commented on #14941
Hi @paales. Thank you for your report.
The issue has been fixed in magento/magento2#15200 by @JeroenVanLeusden in 2.3-develop branch
Related commit(s):
 - [08cf8b878a9919b95b44ef69b04830532d487c24](https://github.com/magento/magento2/commit/08cf8b878a9919b95b44ef69b04830532d487c24)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-01 08:00] Userr017 opened #15653 "Magento 2 varnish port 8080 issue"
How solve this problem because magento 2.2.4 system.log can see error?

`main.CRITICAL: Unable to connect to localhost:8080 . Error #0: stream_socket_client(): unable to connect to localhost:8080 (Connection refused)`

This mean varnish port 8080 and varnish doesn't work?

[2018-06-01 08:23] nadroj467 opened #15654 "Layered Nav Price Filter negative and incorrect Magento 2.2.0"
### Preconditions

1. Php 7.1
2. Centos 7
3. Migrated data from Magento 1.9.2.1 to Magento 2.2.0
4. Clean 2.2.0 install with custom theme
5. Single store mode active

### Steps to reproduce

1. Currently experiencing issue with layered Nav price filter. The price ranges are completely incorrect. Default filter is showing price range -10 to 395

2. Applying price range filter just seems to throw ra

[2018-06-01 08:37] AndyMardell commented on #12398
Same problem in 2.2.4 when running

`php bin/magento setup:static-content:deploy -f`

But when I run with specified language (en_GB) it deploys the static content without issue:

`php bin/magento setup:static-content:deploy en_GB -f`

[2018-06-01 08:43] proman77 commented on #15035
@valanitin
Seems that will solve with Gallery Magnifier hover. Thanks. And what's about second part of issue: the word "image" under the photo?

[2018-06-01 08:50] enrajatjain commented on #15406
@kervin version is 2.2.4 community edition ("magento/product-community-edition": "2.2.4")

we are also not using Paypal Express.

[2018-06-01 09:16] allumanatu commented on #15640
Which commands do I need to type in console?

Daniel Ruf <notifications@github.com> schrieb am Fr., 1. Juni 2018, 07:02:

[2018-06-01 09:18] abcpremium commented on #15636
Do you have client-side LESS compilation enabled?

[2018-06-01 09:31] viral-wagento commented on #13153
@magento-engcom-team @ishakhsuvarov
I am working on this. Please assign me.

[2018-06-01 09:33] DanielRuf commented on #15640
[code]

[2018-06-01 09:37] mattiasorgato opened #15655 "Catalog product list widget not working with user defined product attribute"
### Preconditions
1. Magento 2.1.13
2. PHP 7.0.29

### Steps to reproduce
1. Fresh install of Magento
2. Add a product attribute with type boolean (Yes/No) via admin
3. Add the attribute to product and set the desired value
4. Create a CMS Widget of type **Catalog Products List**
5. In **Widget Options**, inside 'Conditions' selector, use the newly created attribute as a condition (attribute_code

[2018-06-01 09:42] emiprotech commented on #15631
Hello,
We have a solution for this issue,  you have faced this issue just because of breadcrumb feature update.
 To solve this issue override **"breadcrumb.phtml"** file in your theme

path and replace with below code.
[code]

I hope it will help you !!.

[2018-06-01 09:50] nadroj467 commented on #15654
Further to this I have looked at product min_price max_price in database and found that the parent confiurable product is displaying incorrect min max price when all associated simple products are showing correct min max see here https://prnt.sc/jpfpj1

[2018-06-01 09:56] kervin commented on #15406
Did you try this fix? By removing the ":bool" part?

[2018-06-01 10:39] allumanatu commented on #15640
Okay, thanks. But this is the output:

`root@v01 /var/www/html # composer install

Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Warning: The lock file is not up to date with the latest changes in composer.json. You may be getting outdated dependencies. Run update to update them.
  - Installing doctrine/lexer (v1.0.1)
    Load

[2018-06-01 10:42] RavindraSaini commented on #15580
having same issue here anyone have the solution ?

[2018-06-01 10:45] rommelfreddy opened #15656 "Duplicate product"
### Preconditions

1.  Magento 2.2.2
2. Existing product with different values in different StoreViews (e.g StoreView UK, NL, DE, ...)

### Steps to reproduce

1. open the product
2. select one StoreView (e.g. UK - not "All StoreViews"!)
3. click on "Save product & duplicate"

### Expected result

1. the product got be duplicated with all (different) values in each storeView

### Actual result

1.

[2018-06-01 11:06] enrajatjain commented on #15406
Yes , it gave below error...

PHP Fatal error: Declaration of Magento\Paypal\Model\Adminhtml\Express\Interceptor::isOrderAuthorizationAllowed(Magento\Sales\Model\Order\Payment $payment) must be compatible with Magento\Paypal\Model\Adminhtml\Express::isOrderAuthorizationAllowed(Magento\Sales\Model\Order\Payment $payment): bool in /var/www//public_html/generated/code/Magento/Paypal/Model/Adminhtml/E

[2018-06-01 11:10] magento-engcom-team commented on #15564
Hi @krukas. Thank you for your report.
The issue has been fixed in magento/magento2#15598 by @krukas in 2.2-develop branch
Related commit(s):
 - [eab367461cefb99faa2fe40089c179ee924e2e3b](https://github.com/magento/magento2/commit/eab367461cefb99faa2fe40089c179ee924e2e3b)
 - [3ca1c6fdb83b6078ce16e20452a6765b8eac2d32](https://github.com/magento/magento2/commit/3ca1c6fdb83b6078ce16e20452a6765b8eac2d

[2018-06-01 11:10] #15564 closed, assigned to nobody

[2018-06-01 11:29] ihor-sviziev commented on #13425
This issue was fixed in 2.2-develop branch with following commit https://github.com/magento/magento2/commit/ff422002cd2d977c3b10ac512c557f58e1cba5c6 and already available in release 2.2.4.

[2018-06-01 11:32] DanielRuf commented on #15640
Related:
https://github.com/magento/magento2/issues/4784

[2018-06-01 11:32] ankurvr opened #15660 "Wrong order amount on dashboard on Last orders listing when having more than one website with different currencies"
On Dashboard Last order's table shows wrong table for specific store view dashboard when you have multiple websites and both have different currencies.
Actual Problem is mentioned in 8th point of Steps to Reproduce.

### Preconditions

1. Magneto CE (2.2.3, 2.2.4)
2. PHP Ver 7.0.24
3. MySQL Ver (5.7, 8.0.11)
4. Platform : MacOS High Sierra Ver 10.13.4

### Steps to reproduce

1. Create 2 Websites

[2018-06-01 11:35] allumanatu commented on #15640
But this could not be reproduced and there is no fix... What can I do now? Is it possible to "reinstall" those composer thinks without dropping a database or losing installed templates?

[2018-06-01 11:37] DanielRuf commented on #15640
Sure, just run `rm -r vendor`. And probably delete composer.lock.

[2018-06-01 11:45] allumanatu commented on #15640
I did it and then I ran "composer install":

composer install

Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - magento/product-community-edition 2.2.0 requires magento/magento2-base 2.2.0 -> satisfiable by magento/magento2-base[2.2.0].
    - Conclusion:

[2018-06-01 11:53] rishabh58 opened #15662 "No clicks are working on Dashboard Page."
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-01 11:55] rishabh58 commented on #15662
Also frotend website opening soo slow.

[2018-06-01 12:17] allumanatu commented on #15640
Hello?

[2018-06-01 12:29] peterjaap commented on #13240
This fix is already in 2.2.3. What is exactly the change that will be in 2.3.0?

[2018-06-01 12:35] ihor-sviziev commented on #13425
This issue was also fixed in commit https://github.com/magento/magento2/commit/14a4df89ab6aebec1a669ecf99aac50a8a07e553#diff-1adf66757a67ccb575ad0282b3a7fdfb in 2.3-develop branch and will be available in upcoming 2.3 release.

[2018-06-01 12:35] #13425 closed, assigned to mayankzalavadia

[2018-06-01 12:37] DanielRuf commented on #15640
Was vendor and composer.lock really moved / renamed / deleted?

[2018-06-01 12:48] mahmoudissmail commented on #13207
Hi @aref-lazrek ,

Update `ar_SA.xml` like below:

[code]

[2018-06-01 13:02] j0um opened #15663 "LinkManagement cannot be properly overridden"
Properties and function of the class (Magento\ConfigurableProduct\Model) LinkManagement are all private instead of protected which makes it impossible to properly extend the class to add useful function like "addChildren" (multiple skus at once) and/or "setChildren" (remove old associations if any and add new ones).

### Expected result
LinkManagement functions should be overridable as they are th

[2018-06-01 13:06] pioneerathletics commented on #15636
Hi @abcpremium,
No I have it set to Server side LESS compilation.

[2018-06-01 13:23] #15662 closed, assigned to nobody

[2018-06-01 13:24] tizzyguy87 opened #15664 "StoreManager returns admin store by default while creating customer and resetting password"
### Preconditions
1. Initially used Magento 2.2.0 CE
2. Upgraded to Magento 2.2.4 CE
3. PHP version 7

### Steps to reproduce
1. Upgraded to Magento version 2.2.4 from 2.2.0
2. Created customer from admin console
3. Triggered reset password for newly created customer
4. Customer receives email.
5. When tries to set password with reset link, getting below response from reset password API -
[code]

[2018-06-01 13:26] magento-engcom-team commented on #15663
Hi @j0um
According to section `2.6` of [Technical Guidelines](https://devdocs.magento.com/guides/v2.2/coding-standards/technical-guidelines.html) this is a desired behavior. Try redesigning your code to use composition.

[2018-06-01 13:27] magento-engcom-team commented on #15653
Hi @Userr017
Unfortunately we can not provide any assistance with issue reports which do not follow recommended convention.
Please update description with clear preconditions, steps to reproduce and actual/expected result and reopen if the issue persists.
Thanks.

[2018-06-01 13:27] #15653 closed, assigned to nobody

[2018-06-01 14:01] ishakhsuvarov commented on #13153
@viral-wagento Please accept organization invite here https://github.com/orgs/magento/invitation
You will be able to self-assign it afterwards.
Thank you

[2018-06-01 14:17] indefinitedevil commented on #12073
My fix was to add the following code after the call to `$this->cacheProduct($cacheKey, $product);` in ProductRepository:

            $sku = $product->getSku();

I did this with a custom module by creating a preference for my version of the ProductRepository class.

The 2.2-develop branch has a fix for this properly, but until that goes in, my fix appears to work.

You can get it from https://gith

[2018-06-01 14:29] magento-engcom-team commented on #15618
Hi @nvtho
Unfortunately it is barely possible to help without all of the required information like Preconditions, Steps to Reproduce, Expected and Actual result.
We are closing this ticket now. Please reopen when all all information is in place.
Thank you

[2018-06-01 14:29] #15618 closed, assigned to nobody

[2018-06-01 14:30] j0um commented on #15663
Thank you.

[2018-06-01 14:30] #15663 closed, assigned to nobody

[2018-06-01 15:22] siliconalchemy commented on #14038
The problem is still present in 2.2.4.  I don't have a develop branch to test on.

[2018-06-01 15:31] melyancey commented on #15581
thank you,  I have forwarded this info to our developer

[2018-06-01 15:38] siliconalchemy commented on #14038
@sanjay-wagento I'm not setting up a completely separate git install and database for you.  I've reported the issue, and it's been reproduced by @magento-engcom-team.

[2018-06-01 15:42] sanjay-wagento commented on #14038
@siliconalchemy It is solved in the latest 2.2-develop branch. So you need to ask @magento-engcom-team to provide a patch.

[2018-06-01 15:44] siliconalchemy commented on #14038
@sanjay-wagento Can you point to commit that fixes it?  It should be referenced here.  If it's fixed for the next release, that's great.

[2018-06-01 15:50] wujku commented on #13695
@orlangur ?

[2018-06-01 16:26] magento-engcom-team commented on #15642
Hi @winds1983
We can not help with issues caused by editing files from `vendor`. You may try discussing it at [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/)

Thanks

[2018-06-01 16:26] #15642 closed, assigned to nobody

[2018-06-01 16:28] magento-engcom-team commented on #15405
Hi @akpra88 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result and then reopen the ticket. We are closing it for now.
Please, add the following informati

[2018-06-01 16:28] #15405 closed, assigned to nobody

[2018-06-01 16:30] magento-engcom-team commented on #15401
Hi @VladSuciu76 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result and then reopen the ticket. We are closing it for now.
Please, add the following infor

[2018-06-01 16:30] #15401 closed, assigned to nobody

[2018-06-01 16:34] magento-engcom-team commented on #15400
Hi @achatpc
Unfortunately we can not provide any assistance with a live customized website.
Please attempt to reproduce the issue on a clean installation without any customizations.

Closing the ticket for now. Please reopen if issue persists with clean install.

[2018-06-01 16:34] #15400 closed, assigned to nobody

[2018-06-01 16:46] treii28 commented on #2732
I get similar issues. When combining javascript, it ends up erroring out and doesn't allow require.js to fully import all that is needed so any libraries that would have been loaded later in the page-load aren't there producing still more errors. The most significant thus far is that the CookieLaw code isn't loaded so once the pop-up appears, you can't dismiss it as the button is tied directly to

[2018-06-01 16:48] treii28 commented on #14569
I'm using 2.2

[2018-06-01 16:56] treii28 commented on #14569
What specific version of the magento/module-cms does that change first appear within? (I can't seem to find a repository on it and it's  not specifically listed in my composer.json with the default magento 2.2.2 install setup.)  I may be able to name it specifically in the composer.json to force it up to a newer cms and/or figure out what is calling it as a dependency.

[2018-06-01 17:12] p3ll3 commented on #15631
Thank you @emiprotech , I'll try that solution and hopefully with the upcoming  of Magento 2.2.5 the issue will be solved.

[2018-06-01 17:20] treii28 commented on #14569
FYI, I copied the change made in the patch - still getting the same result:

`<div><img src="{{media%20url=&quot;wysiwyg/image.jpg&quot;}}" /></div>`

[2018-06-01 18:46] orbitrod commented on #15504
I have done some more testing and I believe that this behavior might be exclusive to Chrome.  Firefox and Edge do not behave this way.  They fully load pages in the background.

Does anyone know why Chrome might be behaving this way vs the other browsers?

[2018-06-01 19:09] seanscott49 commented on #10071
I had the issue too, and it turned out to be an issue with Custom Options. Once I deleted them, I was able to save the product. Make the changes and re-add the custom options back in.

[2018-06-01 19:47] magento-engcom-team commented on #15612
Hi @jurpro
Please avoid creating duplicate issues as it only creates clutter in a backlog, not speeding up the process.

We are now closing this in favor of #15393

[2018-06-01 19:47] #15612 closed, assigned to nobody

[2018-06-01 19:47] magento-engcom-team commented on #15393
More details on report: https://github.com/magento/magento2/issues/15612

[2018-06-01 19:51] magento-engcom-team commented on #15638
Hi @danharper83
Please try clearing static content in your store. This issue looks like it relates to it.

[2018-06-01 19:55] magento-engcom-team commented on #15589
Hi @Olive777
Unfortunately we can not provide any assistance with issue reports not following guidelines.
If you wish to proceed – please update description with clear information and reopen.

Thank you

[2018-06-01 19:55] #15589 closed, assigned to nobody

[2018-06-01 19:57] magento-engcom-team commented on #15586
Hi @melyancey
Thank you for reporting. Please provide clear steps to reproduce applicable to a vanilla magento instance. Unfortunately we can not accept issue reports for customized websites.
Thanks.

[2018-06-01 20:00] magento-engcom-team commented on #15582
@melyancey This looks like related to https://github.com/magento/magento2/issues/15586
Closing in favor of the other ticket.

[2018-06-01 20:00] #15582 closed, assigned to nobody

[2018-06-01 20:01] magento-engcom-team commented on #15581
@melyancey Closing this ticket per your comment above.

[2018-06-01 20:01] #15581 closed, assigned to nobody

[2018-06-01 20:06] magento-engcom-team commented on #15569
@srinivasnovamodule Unfortunately we can not provide any assistance with migration related issues here. Please report to magento/data-migration-tool repository instead.

Thank you.

[2018-06-01 20:06] #15569 closed, assigned to nobody

[2018-06-01 20:09] magento-engcom-team commented on #15567
Hi @sandipansaha
This looks like a correct Magento behavior.
We are closing this report now, as you have been able to find a workaround.

Thanks

[2018-06-01 20:09] #15567 closed, assigned to nobody

[2018-06-01 20:15] magento-engcom-team commented on #15556
@rajatkar104 thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Step

[2018-06-01 20:15] #15556 closed, assigned to nobody

[2018-06-01 20:16] magento-engcom-team commented on #15553
Hi @Sachin-Suresh
Unfortunately, this github issue tracker is only related to Magento 2.
Closing, since issue described for magento 1.

[2018-06-01 20:16] #15553 closed, assigned to nobody

[2018-06-01 20:25] treii28 opened #15673 "getGrandTotal() returning shipping cost without discount"
### Preconditions
Created a discount (in this case 100% off including 100% off shipping cost) as cart price rule

### Steps to reproduce
Create rule above
Applied discount code to cart

### Expected result
$0.00 total

1. [Screenshots, logs or description]

### Actual result
$0.30 (tax on cost of shipping)

We are trying to give certain customers that are going to review our website a 100% discoun

[2018-06-01 20:31] joebusby commented on #15580
I had a customer call indicating they received double their large order.  Now, after verifying the problem I am going back through many orders and calling customers.  It appears this will be costly.  Ouch.  Something soon?  We are going to have to call every customer on orders with quantities over 1 (almost all new orders) until we have a fix.

[2018-06-01 21:45] treii28 commented on #15673
Doing more testing here, this may be what it's supposed to be doing at that point. I've also opened a ticket with the taxjar folks to try to see if they aren't utilizing the getShippingDiscountAmount() function as it appears that while shipping has the value, there is also an equal value returned by the former.  It still does seem odd that it would return the 'grandtotal' applying the product disc

[2018-06-01 23:18] lucasgonzalez opened #15674 "Error message hidden in widget options with server validation"
Hi,

I have an issue where the error message returned by the server validation is not showing in the active widget tab (widget options). It is showing inside the "Storefront Properties" tab, but as that tab is not the active one, the user is not seeing any error and does not know why it did not work. The user should go to the "Storefront Properties" tab in order to actually see the error.

The pro

[2018-06-02 00:55] malikt opened #15675 "Image uploader doesn't work if the field name is in multi-dimension array form"
I have to get images from admin end for "Customizable Options", I added a new column to custom option type value table and i was able to inject "File" field through rewrite of Ui Dataprovider. The default name for the upload field makes as product[options][0][values][0][image]. But when i try to upload the image, i get an exception. however, If i rename the upload field  as a string  like "image"

[2018-06-02 01:59] Fitdiva commented on #15639
![untitled](https://user-images.githubusercontent.com/33468278/40869313-2bc4b710-665c-11e8-86de-d44166caea55.png)

httpd-vhosts
<VirtualHost *:81>
    ServerName magento.example.com
    ServerAlias www.magento.example.com
    DocumentRoot "/opt/bitnami/apps/magento/htdocs"

    Include "/opt/bitnami/apps/magento/conf/httpd-app.conf"
</VirtualHost>

<VirtualHost *:443>
    ServerName magento.exampl

[2018-06-02 02:01] Fitdiva commented on #15639
httpd-prefix
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^/(.*) https://%{SERVER_NAME}/$1 [R,L]
# App url moved to root
DocumentRoot "/opt/bitnami/apps/magento/htdocs"
    #Alias /magento/ "/opt/bitnami/apps/magento/htdocs/"
#Alias /magento "/opt/bitnami/apps/magento/htdocs"

Include "/opt/bitnami/apps/magento/conf/httpd-app.conf"
httpd-app
<IfDefine USE_PHP_FPM>
    <Proxy "unix:/opt/b

[2018-06-02 06:04] nic02381 commented on #15425
I got a solution for this. Just leave.

[2018-06-02 07:49] GoogleYY opened #15679 "Attribute image exceeded max length in row(s) when importing images from Amazon.com with CSV file"
### Preconditions

1. Win 7 / CentOS Linux release 7.4.1708
2. PHP Version 7.0.28
3.Magento ver. 2.2.4
4.Luma blank theme without sample data

### Steps to reproduce

1. Log into backend panel
2. Go to System->Import
3. Select products as Entity Type option, select Add/Update as Import Behavior, Select Stop on Error, Allowed Errors Count is 10,Field separator is Comma(,) ,Multiple value separator

[2018-06-02 08:17] #15112 closed, assigned to nobody

[2018-06-02 08:25] VijaySankhat opened #15680 "Allowed memory size of 2097152 bytes exhausted (tried to allocate 20480 bytes)"
### Preconditions

Magento 2.2.2 on Window 10 [64 bit]
1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]
### Actual result

1. [Screenshots, logs or description]
![error_screenshot](https://user-images.githubusercontent.com/9927047/40872479-6b1fc2d2-666c-11e8-9de2-c7c422fc8437.png)
When I trigger any command most probably giving me an error
'Allowe

[2018-06-02 08:31] Sujeet84190 opened #15681 "Magento Version show Unknown"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-02 09:05] simonjanguapa commented on #15393
mm18nl

[2018-06-02 09:13] #15680 closed, assigned to nobody

[2018-06-02 09:27] VijaySankhat opened #15684 "Allowed memory size of 2097152 bytes exhausted (tried to allocate 20480 bytes) in vendor\zendframework\zend-eventmanager\src\Event.php on line 107"
### Preconditions

1.  Magento 2.2.2
2. Window 10 [64 bit]
3. PHP Version 7.1.16

### Expected result

1. php bin/magento indexer:reindex [Should re-index ]
2. php bin/magento cache:clean  [Should clear cache ]
3. php bin/magento setup:upgrade [Should upgrade setup]

### Actual result

1.
![error_screenshot](https://user-images.githubusercontent.com/9927047/40872949-fe737e22-6674-11e8-8eb4-cc625d3

[2018-06-02 10:02] dmanners commented on #15681
Hi @Sujeet84190 to help us reproduce the issue could you please fill in the steps on how to reproduce and well as expected and actual results.

[2018-06-02 10:02] #15681 closed, assigned to nobody

[2018-06-02 10:06] hostep commented on #13240
Hmm, I don't see the fix in 2.2.3, however, I can see it in 2.2.4.

Not sure if there will be a more elaborate fix in 2.3.0, but I doubt it. You can ignore those automated comments from @magento-engcom-team, they are very naive, in that they automatically put that message in all issues which get mentioned in a PR after it gets approved (which isn't always correct, but I guess it's better then not

[2018-06-02 10:10] cream-julian commented on #4803
I will be working on this issue

[2018-06-02 10:37] FreekVandeursen opened #15686 "Install with existing stores defined in config.php"
### Preconditions
1. Core Magento, no additional modules
2. Tested on 2.2-develop with PHP 7.0 and 2.3-develop with PHP 7.1

### Steps to reproduce
1. Create app/etc/config.php, with additional store, e.g.
[code]

2. run bin/magento setup:install

### Expected result
1. Magento being installed, and additional store created

### Actual result
The result depends on the store_id chosen for the additi

[2018-06-02 10:45] simonjanguapa commented on #15580
#mm18nl

[2018-06-02 10:46] magento-engcom-team commented on #15580
@simonjanguapa thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-06-02 10:49] FreekVandeursen commented on #15641
Duplicate of https://github.com/magento/magento2/issues/12362 ?

[2018-06-02 11:00] DanielRuf commented on #15684
Did you restart PHP and the server? Also you can apply the memory setting to the php command on your console.

[2018-06-02 11:11] hostep commented on #15638
@danharper83: do you have minifying JS enabled?
If yes: then you are running into a new bug introduced in 2.2.4, because the now-included-by-default Klarna modules have a bug in them which causes the tinymce editor to not work properly when minifying JS is enabled.
It has already been reported at the end of [an old issue](https://github.com/magento/magento2/issues/11577#issuecomment-391313584), so

[2018-06-02 11:26] VijaySankhat commented on #15684
Thanks @DanielRuf, yes I did it, even restarted my PC twice.

[2018-06-02 11:31] hostep commented on #15684
@VijaySankhat : can you run `php --ini` and look at the file mentioned in `Loaded Configuration File`, it will tell you which ini file is used when php is executed over the cli, if you increase the `memory_limit` setting in that particular file, it should work.
There is no need for restarting anything when manipulating configuration files for the php cli, it will be read every single time you exec

[2018-06-02 11:31] #15684 closed, assigned to nobody

[2018-06-02 11:34] VijaySankhat commented on #15684
thanks  @hostep, sorry to post my issue here, now onward I will use given link to report my issue.

[2018-06-02 11:42] allumanatu commented on #15640
root@v01 /var/www/html # ls
adminer.php                ISSUE_TEMPLATE.md
app                        lib
auth.json.sample           LICENSE_AFL.txt
bin                        LICENSE.txt
CHANGELOG.md               Magento-CE-2.2.3-2018-02-23-10-26-06.tar.gz
composer.json              nginx.conf.sample
CONTRIBUTING.md            package.json.sample
COPYING.txt                php.ini.sample
dev

[2018-06-02 11:54] DanielRuf commented on #15639
Please use code blocks (```) for better readability.

[2018-06-02 11:55] DanielRuf commented on #15640
Is the auth for magento.com still in tact?

[2018-06-02 12:13] hostep commented on #15580
This sounds like a duplicate of https://github.com/magento/magento2/issues/15052

Can the people who run into this problem try to disable the Amazon modules (Amazon_Core, Amazon_Login & Amazon_Payment) which come bundled with Magento 2.2.4, and report back if this fixes the issue? Thanks!

[2018-06-02 12:58] magento-engcom-team commented on #10346
Hi @careys7. Thank you for your report.
The issue has been fixed in magento/magento2#13328 by @KarlDeux in 2.2-develop branch
Related commit(s):
 - [521d11bb39bcddda5d9554240ec3c2d5ea653232](https://github.com/magento/magento2/commit/521d11bb39bcddda5d9554240ec3c2d5ea653232)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-02 12:58] #10346 closed, assigned to KarlDeux

[2018-06-02 12:58] magento-engcom-team commented on #15590
Hi @kmddevdani. Thank you for your report.
The issue has been fixed in magento/magento2#15621 by @neeta-wagento in 2.2-develop branch
Related commit(s):
 - [1d47b28cbaf42b7cc024ad4c04b32080e61fe0e1](https://github.com/magento/magento2/commit/1d47b28cbaf42b7cc024ad4c04b32080e61fe0e1)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-02 12:58] #15590 closed, assigned to nobody

[2018-06-02 12:58] magento-engcom-team commented on #7897
Hi @slackerzz. Thank you for your report.
The issue has been fixed in magento/magento2#15645 by @hitesh-wagento in 2.2-develop branch
Related commit(s):
 - [2694906a296fb94049dd348ffb3636e6f30370e2](https://github.com/magento/magento2/commit/2694906a296fb94049dd348ffb3636e6f30370e2)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-02 12:58] #7897 closed, assigned to hitesh-wagento

[2018-06-02 12:58] magento-engcom-team commented on #13415
Hi @angelo983. Thank you for your report.
The issue has been fixed in magento/magento2#15585 by @julienanquetil in 2.2-develop branch
Related commit(s):
 - [2e4bd95d910f577f8999d6a5d7dcbb8f14973e92](https://github.com/magento/magento2/commit/2e4bd95d910f577f8999d6a5d7dcbb8f14973e92)
 - [187c5290e4db5aba1af3d3b6ec53c75b99f52a89](https://github.com/magento/magento2/commit/187c5290e4db5aba1af3d3b6ec5

[2018-06-02 12:58] magento-engcom-team commented on #15348
Hi @neeta-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#15349 by @neeta-wagento in 2.2-develop branch
Related commit(s):
 - [20d8e6afbe15b37949f22ed35ec20f547fba5861](https://github.com/magento/magento2/commit/20d8e6afbe15b37949f22ed35ec20f547fba5861)
 - [3c8f6f433445e6f339ff15178a7c133dbaeff95a](https://github.com/magento/magento2/commit/3c8f6f433445e6f339ff1517

[2018-06-02 12:58] #15348 closed, assigned to neeta-wagento

[2018-06-02 12:58] simonjanguapa commented on #15580
It's a problem within the Amazon_Payment module.

They're creating a custom add-to-cart widget which fails to override the core one. The validate-product.js in the Catalog module creates 1 request; the Amazon_Payment one creates the second.

I believe the Amazon_Payment/js/catalog-add-to-cart.js is completely unnecessary... since the core is already handling validation and the click event.

[2018-06-02 13:03] hostep commented on #15580
Ok thanks for acknowledging @simonjanguapa, let's close this issue and continue in https://github.com/magento/magento2/issues/15052 then.

[2018-06-02 13:03] #15580 closed, assigned to nobody

[2018-06-02 13:10] magento-engcom-team commented on #15601
Hi @sanjay-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#15667 by @vgelani in 2.3-develop branch
Related commit(s):
 - [2feaf3049e3b2397ba54aafcaa9ec5ff8cba0d83](https://github.com/magento/magento2/commit/2feaf3049e3b2397ba54aafcaa9ec5ff8cba0d83)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-02 13:10] magento-engcom-team commented on #15601
Hi @sanjay-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#15670 by @vgelani in 2.3-develop branch
Related commit(s):
 - [11923bc4439e29bd707226bef8377f2ea458a29a](https://github.com/magento/magento2/commit/11923bc4439e29bd707226bef8377f2ea458a29a)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-02 13:10] magento-engcom-team commented on #14987
Hi @vovayatsyuk. Thank you for your report.
The issue has been fixed in magento/magento2#15478 by @vovayatsyuk in 2.3-develop branch
Related commit(s):
 - [7b1d1b624bd1e07cc60673b40ee996a7c0dcbd89](https://github.com/magento/magento2/commit/7b1d1b624bd1e07cc60673b40ee996a7c0dcbd89)
 - [fd03f7c2c508b8994003dcd18b616a0243b7f66f](https://github.com/magento/magento2/commit/fd03f7c2c508b8994003dcd18b61

[2018-06-02 13:10] magento-engcom-team commented on #15660
Hi @ankurvr. Thank you for your report.
The issue has been fixed in magento/magento2#15682 by @ankurvr in 2.3-develop branch
Related commit(s):
 - [f5f3c761a42579a4b0b6b2cafc45c17e4e17248f](https://github.com/magento/magento2/commit/f5f3c761a42579a4b0b6b2cafc45c17e4e17248f)
 - [d696233736f0883e5c54f0ba81f635f8e2da8603](https://github.com/magento/magento2/commit/d696233736f0883e5c54f0ba81f635f8e2da

[2018-06-02 13:55] michielgerritsen commented on #6299
I am unable to recreate this problem on Magento 2.2.4. I did the following steps:

- Enabled translate inline for the admin.
- Flushed all cached, deleted var/* and generated/*.
- Whatever i tried, i'm alway able to create a new product.

[2018-06-02 14:04] allumanatu commented on #15640
Which auth for magento.com? Sorry, I am a total beginner. What do I have to change or type?

[2018-06-02 14:50] lfluvisotto commented on #6146
@magento-engcom-team I think this pull request in zend framework will fix the issue:

https://github.com/magento/zf1/pull/15

[2018-06-02 15:02] Valentin-Huwer commented on #11885
@roman204 Thanks for your module, when I install it it doesn't really solve the problem though. It just makes PayPal disappear completely. Kinda solves the problem, but yeah - You have any advice? And this seems to be rather old, how come that Magento did not release a fix for that yet..

[2018-06-02 17:32] ipascual commented on #13929
Applying @osrecio patch:

**1. Install composer-patches**
`composer require cweagans/composer-patches`

**2. Save patch file**
patches/13929_2.2.3_directory_resolver_composer_v1.patch
[code]

**3. Modify composer.json**
[code]

**4. Patch it!**
`composer install`

[2018-06-02 19:27] allumanatu commented on #15640
I would be happy to get an anwser, Magento community? Where are you? @magento-admin

[2018-06-02 20:42] DanielRuf commented on #15640
GitHub is an english platform and support is in English.

Magento stores the auth info in auth.json in the global composer directory.
https://devdocs.magento.com/guides/v2.0/install-gde/prereq/dev_install.html#instgde-prereq-compose-clone-auth

[2018-06-02 20:43] DanielRuf commented on #15640
Was this a normal install without the composer steps?

[2018-06-02 20:48] DanielRuf commented on #15640
Please try

[code]

I guess some parts are out of sync, eg `symfony/yaml` as it conflicts with `symfony/console`.

[2018-06-02 20:51] DanielRuf commented on #15640
Also see https://github.com/symfony/yaml/blob/b3d0c9c11be3831b84825967dc6b52b5a7b84e04/composer.json#L25

[2018-06-02 21:53] joebusby commented on #15052
I made the code changes, recompiled / cleared all caches and the problem persisted.  Eventually I changed from production mode to developer mode and back to production mode and that did the trick.  Thanks for posting a solution, it was a big help.

[2018-06-03 01:36] GoogleYY commented on #15580
@simonjanguapa Hey nice guy, thank you for your constructive answer. After I commented  self.submitForm($(this)); and this._bindSubmit(); in vendor\amzn\amazon-pay-and-login-magento-2-module\src\Payment\view\frontend\web\js\catalog-add-to-cart.js the problem solved!

[2018-06-03 03:24] mpchadwick opened #15697 "GraphQL + Elasticsearch Not Working Due To "Out Of Range Int""
### Preconditions

- Running 2.3-develop at 166dd6103544e7f98c272822f613b64dda700c24
- Elasticsearch v2.3.3 installed via Homebrew on Mac OS 10.13.4

### Steps to reproduce

Run the following...

[code]

### Expected result

Product results are returned.

### Actual result

The following error

Numeric value (9223372036854775807) out of range of int

---

Issue seems to be due to the `size` parame

[2018-06-03 03:28] mpchadwick commented on #15697
Based on the comment I think it just needs to be a really big number, but probably doesn't need to be `PHP_INT_MAX` as I don't think there are any Magento stores with _that_ many products....

[2018-06-03 08:03] allumanatu commented on #11034
I have the same problem... Did anyone find a fix for that?

[2018-06-03 08:25] allumanatu opened #15712 "Can not access Magento 2 extension manager"
### General

* Magento version: 2.2.4
* PHP version: 7.0

### Issue description

Unfortunately, I can not access the marketplace via Magento 2 Extension Manager, so accordingly I can not download my plugins I bought.

### Steps to reproduce

1. Open the Magento 2 Extension Manager
2. Type your public and private key inside
3. Submit the data

### Expected result

I should be able to see and to dow

[2018-06-03 10:15] simonjanguapa commented on #15393
@jurpro it's a corebug. Fixed it in this [request](https://github.com/magento/magento2/pull/15687).

[2018-06-03 12:05] GoogleYY commented on #15679
I've solved this problem by myself. There are two AbstractEntity.php file in magento file. One is in vendor\magento\module-import-export\Model\Import folder the another one is in vendor\magento\module-import-export\Model\Import\Entity\AbstractEntity.php. After I changed the number of DB_MAX_VARCHAR_LENGTH up to 1024 in vendor\magento\module-import-export\Model\Import\Entity\AbstractEntity.php the

[2018-06-03 14:01] ArjenMiedema commented on #6832
@SubrataBauri I think that if we remove the deprecated Finnish currency, we should also remove all other deprecated currencies. For example all other European currencies that were used before the Euro are still in this list. Talking about the German Mark, French Franc, Spanish Peseta, etc. These currencies are deprecated since 2002.

I think other currencies have been deprecated in the past decade

[2018-06-03 16:10] pramodkharade commented on #14389
<div style='font-size:12px;font-family:arial;'>Hello Magento/Magento2,<br /><br />Greetings from FundsIndia! <br /><br />A wonderful friend of you  "Pramod(kharade.pramod91@gmail.com)" referred your name as a person who would be interested in our services.<br /><br />We are an exciting new online platform for investment services in India. We provide a variety of investment products on our platform

[2018-06-04 00:37] orlangur commented on #11034
@allumanatu did you try [my suggestion](https://github.com/magento/magento2/issues/11034#issuecomment-334732954)?

[2018-06-04 00:41] orlangur commented on #13695
@dudzio12 @wujku quoting myself:

Nope, this is incorrect. You are not supposed to use PHP native functions in client code like PHTML templates generally.

Much more robust approach is to encapsulate logic with `strftime` and `setlocale` calls in some class then just calling its methods in templates.

[2018-06-04 03:56] hitesh-wagento commented on #15608
I am working on this

[2018-06-04 04:40] hitesh-wagento commented on #15608
@DanielRuf No it's not working in **_extend.less**. We should move change from web/css/source/_forms.less to web/css/source/_theme.less

![image](https://user-images.githubusercontent.com/23443991/40898495-6724cf8c-67df-11e8-9eb7-85c840b62913.png)

[2018-06-04 05:00] kervin commented on #15406
You must modify this one

Magento\Paypal\Model\Adminhtml\Express::isOrderAuthorizationAllowed

and remove the ":bool"

[2018-06-04 05:12] LovelySetia commented on #4432
I follow this steps:
vendor/magento/module-integration/Model/CustomerTokenService.php
Put this
$this->getRequestThrottler()->resetAuthenticationFailuresCount($username, RequestThrottler::USER_TYPE_CUSTOMER);

before
$this->getRequestThrottler()->throttle($username, RequestThrottler::USER_TYPE_CUSTOMER);

But After sometimes,they did not generate token with correct username and password.Please Tell

[2018-06-04 05:34] matthew-muscat commented on #13902
Confirming we're also seeing this issue.

@paliarush — are we able to get confirmation that this can be treated as a bug that needs to be fixed?

[2018-06-04 05:43] dasharath-wagento commented on #15447
HI @jigardhaduk ,
you can add hyperlink this way in template.
<span>
  {{trans '<a href="%example">Example</a>' example='www.example.com' | raw }}
<span>

[2018-06-04 05:53] vishalsri opened #15733 "How to add new sales order grid in magento 2.1.6"
Hey, there i m using magento 2.1.6 and i want to add some fields to the sales order filters and grid .

for that i code to add filters and grid in sales order table but unfortunately its working on thr magento 2.1.4 but didnt work in magento 2.1.6. Please help me out to do that for my client.

Thanks You ,

Vishal srivastava

[2018-06-04 06:22] msawyers opened #15735 "Bot still able to create accounts with captcha enabled - Mail.RU_Bot/Img/2.0;"
Issue Description
Bot still able to create customer accounts with captcha enabled - Mail.RU_Bot/Img/2.0;

Magento version 2.2.1

[2018-06-04 06:33] mageprince commented on #12837
@viral-wagento and @alnmaiafernandes
Yes, I know this is default Magento behavior but this is wrong. Magento core team should update this behavior. Also, I'm working on it.

[2018-06-04 08:02] magento-engcom-team commented on #15733
@vishalsri please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-04 08:02] #15733 closed, assigned to nobody

[2018-06-04 08:04] magento-engcom-team commented on #15712
Hi @allumanatu
Looks like your issue is related to git credentials for `firegento/firegento-magesetup2`. Please try with the clean Magento installation and reopen if issue persists.

[2018-06-04 08:04] #15712 closed, assigned to nobody

[2018-06-04 08:06] sidolov commented on #15601
Hi @sanjay-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#15669 by @vgelani in 2.1-develop branch
Related commit(s):
 - [5575523512807ede0d93bb86bde30b792a5cc882](https://github.com/magento/magento2/commit/5575523512807ede0d93bb86bde30b792a5cc882)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-04 08:06] sidolov commented on #15601
Hi @sanjay-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#15668 by @vgelani in 2.1-develop branch
Related commit(s):
 - [c633d16c15d1676d4604421d096917f863832601](https://github.com/magento/magento2/commit/c633d16c15d1676d4604421d096917f863832601)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-04 08:06] sidolov commented on #7897
Hi @slackerzz. Thank you for your report.
The issue has been fixed in magento/magento2#15714 by @dmytro-ch in 2.1-develop branch
Related commit(s):
 - [57fed5a09f515904a87f71b01e146c90c0ec2123](https://github.com/magento/magento2/commit/57fed5a09f515904a87f71b01e146c90c0ec2123)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-04 08:07] magento-engcom-team commented on #15697
Hi @mpchadwick
It would be best to open up a ticket at https://github.com/magento/graphql-ce as there are more people related to GraphQL tracking that project.

[2018-06-04 08:20] duckchip commented on #10304
@nikoelgatito Did you implement your second solution?

We're dealing with the same issue at the moment, I can't believe magento sees this as intended behaviour and this is still an issue in 2.3

Would you be so kind to share your code with us? Or create a PR? :)

Big thanks for all the research you already did!.

Thx in advance!

[2018-06-04 08:26] miguelbalparda commented on #15255
It seems some code you are missing was introduced in 2.2.3. I'd recommend upgrading to the latest 2.2 available and then apply the patch to see if it fixes your issue.

[2018-06-04 08:38] JamesAllwood opened #15743 "Required attribute not available during process to create associated simple/virtual products to configurable parent"
If an attribute is set as "is required", then during the quick creation of simple/virtual products via the "create configurations" options, the admin user should be able to quickly assign those values as they can for "quantity" and "weight".

In M1, this was certainly the case and we'd used this for attributes like "barcode". In M2, this isn't available, and this means that each simple product cre

[2018-06-04 08:47] orlangur commented on #11110
@nunorcsousa @D-David11 simply eliminate all XSD schema violations. Looks like in 2.1 validation did not work properly thus you could have invalid declarations without even knowing it.

[2018-06-04 09:11] sanjay-wagento commented on #13636
@magento-engcom-team give me test instance

[2018-06-04 09:42] nopenopenope commented on #7550
The solution is to remove Magento_Checkout-template and web files from your custom theme, enable all caches and clean them. After that we were able to operate with a fully working minicart in Magento 2.2.4

[2018-06-04 09:45] RishabhRkRai commented on #14518
I also get this error after Upgrading Magento to 2.2.4 from 2.1.7. In previous Magneto installation it works fine.

[2018-06-04 09:52] franckgarnier21 commented on #3034
The customer grid update by schedule is broken in Magento 2.1.12 and maybe other versions.
You need to set the reindex mode on Save for customer grid.

[2018-06-04 09:54] AaronKaa commented on #14278
We're just about to go live on 2.2.4 with the same behaviour, its a bit of a show stopper as we have a clothes store where 70% of our products have variations, is there any kind of update for this @magento-engcom-team ?

[2018-06-04 10:04] magento-engcom-team commented on #15735
Hi @msawyers
Unfortunately this this information is insufficient to verify the issue.
Please update report according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen.

[2018-06-04 10:04] #15735 closed, assigned to nobody

[2018-06-04 10:06] magento-engcom-team commented on #15622
Hi @vasudevsundar
Unfortunately the information provided is insufficient to verify the issue.
Please format report according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen.

[2018-06-04 10:06] #15622 closed, assigned to nobody

[2018-06-04 10:09] magento-engcom-team commented on #15613
Hi @PiedPip3r
Unfortunately this report does not contain enough information to reproduce the issue. Please see devdocs section on Web installation on devdocs: https://devdocs.magento.com/guides/v2.2/install-gde/install/web/install-web_6-install.html
Please format issue according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen.
Thanks.

[2018-06-04 10:09] #15613 closed, assigned to nobody

[2018-06-04 10:20] magento-engcom-team commented on #15565
Hi @EliasKotlyar. Thank you for your report.
The issue has been fixed in magento/magento2#15566 by @EliasKotlyar in 2.2-develop branch
Related commit(s):
 - [1cbb265dbe72c2b86aaf185494b9fbda86eba8a9](https://github.com/magento/magento2/commit/1cbb265dbe72c2b86aaf185494b9fbda86eba8a9)
 - [4d886b2d2418712a4d9e463c5463a82943b79953](https://github.com/magento/magento2/commit/4d886b2d2418712a4d9e463c54

[2018-06-04 10:20] #15565 closed, assigned to nobody

[2018-06-04 10:32] sebfie opened #15761 "Cannot overwrite Magento_Payment::info/instructions.phtml"
Hello,

I have an issue trying to overwrite Magento_Payment::info/instructions.phtml template on my theme. It never uses my template but always the vendor one.

### Preconditions

1. Magento 2.2.3
2. PHP 7.1.12

### Steps to reproduce

1. Create a frontend theme
2. Create file : `Magento_Payment/templates/info/instructions.phtml`in the theme
3. Create an order using a payment with instruction (exa

[2018-06-04 10:53] Hajo-Magre commented on #7873
@devonto and others coming accross this issue. The end of the env.php file looks like this when there are no cache hosts defined, using Magento 2.2.3:

[code]

I ran accross the same problem, but was able to recover the previous settings in env.php by examining a backup copy.

[2018-06-04 11:01] magento-engcom-team commented on #15550
Hi @AnnaGashenko
Unfortunately the github issue tracker is only intended for Magento 2 technical issues. We can not provide any guidance here for other Magento resources.

Thanks

[2018-06-04 11:01] #15550 closed, assigned to nobody

[2018-06-04 11:05] magento-engcom-team commented on #15530
Hi @denda888
Unfortunately information in the report is insufficient to verify the issue.
Please update the report according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen the thicket.

Thanks

[2018-06-04 11:05] #15530 closed, assigned to nobody

[2018-06-04 11:09] magento-engcom-team commented on #15429
Hi @zezooo2
Unfortunately information in the report is insufficient to verify the issue.
Please update the report according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen the thicket.

Thanks

[2018-06-04 11:09] #15429 closed, assigned to nobody

[2018-06-04 11:11] magento-engcom-team commented on #15428
Hi @ajaikumartiwari
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-04 11:11] #15428 closed, assigned to nobody

[2018-06-04 11:11] magento-engcom-team commented on #15423
Hi @nicoloHevelop
please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-04 11:11] #15423 closed, assigned to nobody

[2018-06-04 11:47] patelnimesh1988 commented on #5037
I am working on this issue

[2018-06-04 11:50] kerlama commented on #15062
Can anyone else reproduce this ?

[2018-06-04 11:53] koseduhemak opened #15771 "Magento 2.1.9 - Sorting products by price ASC not working (wrong order of products)"
Hi,

I have a strange problem with ordering products. I set default order to "price" ASC, but the products are "randomly" (not in price ascending order sorted).

You can have a look here:
https://neu3.bootsbyboots.de/men.html
or screenshot:
![mag_problem](https://user-images.githubusercontent.com/12804757/40915455-7103e6b0-67fc-11e8-8442-ac75091fe8f1.jpg)

The orange prices are sale-prices, the bo

[2018-06-04 12:00] dverkade opened #15772 "Price tiers calculated on 2 decimals even when prices of 4 decimals are entered"
### Description
Although a lot of currencies use only 2 decimals for displaying a price, products might have to be calculated on smaller prices especially in the B2B space. For instance the product price is just 0.5292 per piece for 5 pieces (tier price). Magento now first round the price per piece to 0,53 and then multiplies that by the number you are buying (500), which makes for a total price o

[2018-06-04 13:11] magento-engcom-team commented on #15389
Hi @smartwebme
Closing this ticket now per comment above.

[2018-06-04 13:11] #15389 closed, assigned to nobody

[2018-06-04 13:12] magento-engcom-team commented on #15306
Hi @Rich07082
Unfortunately this github issue tracker is only intended for Magento 2 core technical issues. We can not track tickets related to third-party extensions. Please contact extension vendor regarding this issue.

Thanks

[2018-06-04 13:12] #15306 closed, assigned to nobody

[2018-06-04 13:13] magento-engcom-team commented on #15281
@vtulse please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-04 13:13] #15281 closed, assigned to nobody

[2018-06-04 13:13] magento-engcom-team commented on #15243
@jigneshthummar please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-04 13:13] #15243 closed, assigned to nobody

[2018-06-04 13:18] magento-engcom-team commented on #15225
Hi @springimport
This is a perfectly valid suggestion and already covered by [Magento 2 Technical Guidelines](https://devdocs.magento.com/guides/v2.3/coding-standards/technical-guidelines.html) for all new code added to the core.
Unfortunately, as of now, fixing all of the existing occurrences is not a top priority. We may or may not revisit this in the future.

Thanks. Closing, there is no clear

[2018-06-04 13:18] #15225 closed, assigned to nobody

[2018-06-04 13:19] magento-engcom-team commented on #15214
Hi @tizzyguy87
Unfortunately information in the report is insufficient to verify the issue.
Please update the report according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen the thicket.

Thanks

[2018-06-04 13:19] #15214 closed, assigned to nobody

[2018-06-04 13:21] magento-engcom-team commented on #15195
@Rakeshsivagouni please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-04 13:21] #15195 closed, assigned to nobody

[2018-06-04 13:22] magento-engcom-team commented on #15193
Hi @pythondevshiv
We are closing this now due to inactivity. Please update description and reopen if issue persists.

[2018-06-04 13:22] #15193 closed, assigned to nobody

[2018-06-04 13:23] magento-engcom-team commented on #15181
@AbedOmari Unfortunately this report does not contain enough information to reproduce the issue. Please see devdocs section on Web installation on devdocs: https://devdocs.magento.com/guides/v2.2/install-gde/install/web/install-web_6-install.html
Please format issue according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen.
Thanks.

[2018-06-04 13:23] #15181 closed, assigned to nobody

[2018-06-04 13:23] magento-engcom-team commented on #15170
@rajwiner please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-04 13:23] #15170 closed, assigned to nobody

[2018-06-04 13:27] magento-engcom-team commented on #15151
@nicework125 We would also suggest to take a look at a different approach also describe in the devdocs: https://devdocs.magento.com/guides/v2.3/performance-best-practices/advanced-js-bundling.html

[2018-06-04 13:28] magento-engcom-team commented on #15141
Hi @DanielRuf
Thanks for the input. We are already working on it.
We are closing this ticket now, as it is slightly out of scope for M2 github issue tracker.

[2018-06-04 13:28] #15141 closed, assigned to nobody

[2018-06-04 13:28] magento-engcom-team commented on #15125
@BNStudio please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-04 13:28] #15125 closed, assigned to nobody

[2018-06-04 13:31] magento-engcom-team commented on #15117
Hi @kingboyno1
Please provide exact and clear steps to reproduce, as it is impossible to reproduce the issue with the information provided.
Thanks

[2018-06-04 13:33] magento-engcom-team commented on #15113
Closing as a duplicate of #15117

[2018-06-04 13:33] #15113 closed, assigned to nobody

[2018-06-04 13:33] #15096 closed, assigned to nobody

[2018-06-04 13:33] magento-engcom-team commented on #15096
Hi @BhaminiPrajapati
Unfortunately we can not provide any assistance for issue reports without description.

[2018-06-04 13:35] magento-engcom-team commented on #15055
@Saad34ML Unfortunately information in the report is insufficient to verify the issue.
Please update the report according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen the thicket.

Thanks

[2018-06-04 13:35] #15055 closed, assigned to nobody

[2018-06-04 13:35] magento-engcom-team commented on #15029
@vlad-brosolutions
please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-04 13:35] #15029 closed, assigned to nobody

[2018-06-04 13:35] magento-engcom-team commented on #15004
@salerpsan
please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-04 13:35] #15004 closed, assigned to nobody

[2018-06-04 13:36] magento-engcom-team commented on #14979
@ranjithtsims Unfortunately information in the report is insufficient to verify the issue.
Please update the report according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen the thicket.

Thanks

[2018-06-04 13:36] #14979 closed, assigned to nobody

[2018-06-04 13:37] magento-engcom-team commented on #14962
@Jeeva-Rathinam Unfortunately information in the report is insufficient to verify the issue.
Please update the report according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen the thicket.

Thanks

[2018-06-04 13:37] #14962 closed, assigned to nobody

[2018-06-04 13:40] magento-engcom-team commented on #14900
Hi @Karanp13 Thank you for reporting.
Closing this issue now due to inactivity.

[2018-06-04 13:40] #14900 closed, assigned to nobody

[2018-06-04 13:42] magento-engcom-team commented on #14880
@antheny916
thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version

[2018-06-04 13:44] magento-engcom-team commented on #14877
Hi @igor-imaginemage
Thank you for the suggestion. As this github issue tracker is only intended for Magento Core technical issues we would suggest submitting a feature request to https://github.com/magento/community-features/issues

Thanks for collaboration

[2018-06-04 13:44] #14877 closed, assigned to nobody

[2018-06-04 14:03] alexmorco commented on #7083
SSL does not only take care of user side, It also helps you to rank faster and also let your user trust you in the search engine and making a transaction without any problem, Enabling SSL with cloudways is easier. https://www.cloudways.com/blog/how-to-install-ssl-on-magento/, Thanks for sharing this guide about configuring it.

[2018-06-04 14:17] giacmir commented on #6415
Had the same error today on Magento 2.2.2. In my case the table was `catalog_product_index_price_cfg_opt_agr_temp`

[2018-06-04 14:24] magento-engcom-team commented on #14717
Hi @shaikhmasud147
Unfortunately we do not track issues related only to Magento 2.0.x in this github issue tracker. Please try newer versions.
We are closing this ticket now, please reopen if issue persists.

[2018-06-04 14:24] #14717 closed, assigned to nobody

[2018-06-04 14:25] #14619 closed, assigned to nobody

[2018-06-04 14:25] #14611 closed, assigned to nobody

[2018-06-04 14:26] magento-engcom-team commented on #14593
Hi @apomili thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-06-04 14:27] magento-engcom-team commented on #14590
Hi @kikinbenshakib Thank you for reporting.
Unfortunately this github issue tracker only relates to Magento 2 and not Magento 1.
Closing.

[2018-06-04 14:27] #14590 closed, assigned to nobody

[2018-06-04 14:28] magento-engcom-team commented on #14578
Hi @saadjawaid123
Unfortunately information in the report is insufficient to verify the issue.
Please update the report according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen the thicket.

Thanks

[2018-06-04 14:28] #14578 closed, assigned to nobody

[2018-06-04 14:33] magento-engcom-team commented on #14548
Hi @relentless1
we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-06-04 14:33] #14548 closed, assigned to nobody

[2018-06-04 14:34] magento-engcom-team commented on #14512
@shotteabso thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-06-04 14:36] magento-engcom-team commented on #14475
Hi @amit0505 Thank you for reporting.
Unfortunately information in the report is insufficient to verify the issue.
Please update the report according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen the thicket.

Thanks

[2018-06-04 14:36] #14475 closed, assigned to nobody

[2018-06-04 14:36] magento-engcom-team commented on #14447
@Kepra
please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-04 14:36] #14447 closed, assigned to nobody

[2018-06-04 14:37] magento-engcom-team commented on #14441
Hi @Sathishkumar8731 Thank you for reporting
Unfortunately information in the report is insufficient to verify the issue.
Please update the report according to [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) and reopen the thicket.

Thanks

[2018-06-04 14:37] #14441 closed, assigned to nobody

[2018-06-04 14:39] magento-engcom-team commented on #14427
@kauansoft  please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-04 14:39] #14427 closed, assigned to nobody

[2018-06-04 15:49] springimport opened #15775 "Incorrect return type getList() in CustomerRepository"
### Preconditions
Magento 2.2.3.
Get customers using CustomerRepository.

### Steps to reproduce
1. CustomerRepository->[getList()](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Customer/Model/ResourceModel/CustomerRepository.php#L342).

### [Expected result](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Customer/Api/CustomerRepositoryInterface.php#L

[2018-06-04 15:55] jfrontain commented on #15603
We've added the following Known Issue description to the 2.2.4 Open Source and Commerce release notes. Code fix is in process. Thanks. Closing this issue.

"Customers have reported the following behavior after upgrading to Magento 2.2.4 in deployments that span multiple websites:

Magento multi-store installations do not use the store view-specific values from the store configuration settings if t

[2018-06-04 15:55] #15603 closed, assigned to nobody

[2018-06-04 16:03] AshwinParmar commented on #15640
Can I install magento 2 without UI interaction. e.g. using `php bin/magento ??`

[2018-06-04 16:43] DanielRuf commented on #15640
Sure, there is a setup:install command afaik.

[2018-06-04 19:05] GuiltyNL commented on #15376
I think we have the same issue here. All pages are cached, but I get frequent misses while trying to open a cached page in different browser and / or incognito.

[2018-06-04 19:06] GuiltyNL commented on #13229
It is a pity it takes so long for this ticket. :(

[2018-06-04 19:07] GuiltyNL commented on #13325
This bug is causing severe issues, is no one working on this one?

[2018-06-04 19:11] ubedarab commented on #4096
@hostep I am also facing same problem with 2.2.4. with duplication space filled by duplicate images.
have any one get proper solution ?

[2018-06-04 19:17] paliarush commented on #13902
@thlassche thanks for reporting the issue. Internal ticket has been created MAGETWO-92416

[2018-06-04 19:22] treii28 commented on #7167
We upgraded to v2.2.2 and I'm still getting the issue. What is necessary to fix it as anything that manages to sneak into content with one of these __directive links hangs the process in apache in a 'closing' state that consumes 100cpu and don't go away until manually killed.

[2018-06-04 19:40] patelnimesh1988 commented on #5037
Fixed issue. Please check it out here: https://github.com/magento/magento2/pull/15783

[2018-06-04 21:36] jarsh88 commented on #7265
We are trying this:
I understand you are getting an error 14. I am happy to assist you with that today.

This error means that the Referrer or Relay Response URL is invalid.
If you prefer to have your customer view our receipt page that includes a link to return to your site, you should be submitting the x_receipt_link_url field. Alternately, if you want to use your own receipt page hosted on your

[2018-06-05 03:55] magewallet commented on #5873
@shinesoftware
I dont know how they resolve it. But once we have upgrade to 2.1.4. Its resolved.

[2018-06-05 05:10] Jeeva-Rathinam commented on #14962
@magento-engcom-team Thank you for your response, the issue solved.

[2018-06-05 05:40] magento-engcom-team commented on #12221
Hi @alexhadley. Thank you for your report.
The issue has been fixed in magento/magento2#15765 by @torhoehn in 2.2-develop branch
Related commit(s):
 - [24a5abd95a177d9e21f5c2791931e6d104be42aa](https://github.com/magento/magento2/commit/24a5abd95a177d9e21f5c2791931e6d104be42aa)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-05 05:40] magento-engcom-team commented on #15210
Hi @dryadav. Thank you for your report.
The issue has been fixed in magento/magento2#15614 by @dmytro-ch in 2.2-develop branch
Related commit(s):
 - [896ca96988ed8b79e2cc732415655fdbada14463](https://github.com/magento/magento2/commit/896ca96988ed8b79e2cc732415655fdbada14463)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-05 05:40] #15210 closed, assigned to nobody

[2018-06-05 05:40] magento-engcom-team commented on #6058
Hi @dnadle. Thank you for your report.
The issue has been fixed in magento/magento2#15365 by @dankhrapiyush in 2.2-develop branch
Related commit(s):
 - [9ecb84b8c17413eac3b125f3893644c161cc4e14](https://github.com/magento/magento2/commit/9ecb84b8c17413eac3b125f3893644c161cc4e14)
 - [62c1a146dab6f7d6c0e553de581e9886f9fedf44](https://github.com/magento/magento2/commit/62c1a146dab6f7d6c0e553de581e988

[2018-06-05 05:40] #6058 closed, assigned to dankhrapiyush

[2018-06-05 05:57] eduard13 commented on #13747
I am working on this one.

[2018-06-05 06:29] shater1990 opened #15815 "Admin startup page issue."
### Preconditions

1. Magento 2.2.4 version.
2. Google cloud server with bitnami

### Steps to reproduce

1. I installed Infortis theme .
2. Login Admin page(It is good).
3. After login admin page, enter the admin url directly in the my web browser again, I had 404 page not found.

### Expected result

1. [Screenshots, logs or description]
![unnamed qq screenshot20180605152637](https://user-images

[2018-06-05 07:02] orlangur commented on #15432
Hi @josephmcdermott, here are the changes from ancient times related to unit tests: https://github.com/magento/magento2/commit/e9a6f52d082d3a955b1a19d07df58e6d1f53e7e1#diff-842b5002744a47500b1081259d4b2822, https://github.com/magento/magento2/commit/d74ea1050bbd165638ec59890c036c06dcbb975e#diff-842b5002744a47500b1081259d4b2822

I'm closing this issue as GitHub is intended exclusively for bug repor

[2018-06-05 07:02] #15432 closed, assigned to nobody

[2018-06-05 07:11] vutrankien opened #15819 "Magento 2.2.x - Product save not working correctly after changed attributes by API code"
Hello Magento Team

I have meeting the problem with magento 2.2.4 when change attribute of product via API, after changed attributes of product via API code, if admin change any attributes of product in backend, frontend will not show data changed

### Preconditions

1. Magento 2.2.4
2. PHP Version 7.1.16 + MySQL 5.6.39

### Steps to reproduce

1. Update product already in magento store via API :

[2018-06-05 07:18] apomili commented on #14593
Done

[2018-06-05 07:29] sidolov commented on #7897
Hi @slackerzz. Thank you for your report.
The issue has been fixed in magento/magento2#15764 by @hitesh-wagento in 2.3-develop branch
Related commit(s):
 - [ecc5f7b4ae8c43f588710bb6bc7c6183ccaf2538](https://github.com/magento/magento2/commit/ecc5f7b4ae8c43f588710bb6bc7c6183ccaf2538)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-05 07:29] sidolov commented on #15355
Hi @saurabh-aureate. Thank you for your report.
The issue has been fixed in magento/magento2#15763 by @vgelani in 2.3-develop branch
Related commit(s):
 - [bcdd8f2a6fdc722828b3c0d3ac72fd19df1ae226](https://github.com/magento/magento2/commit/bcdd8f2a6fdc722828b3c0d3ac72fd19df1ae226)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-05 07:29] sidolov commented on #15356
Hi @vgelani. Thank you for your report.
The issue has been fixed in magento/magento2#15747 by @vijay-wagento in 2.3-develop branch
Related commit(s):
 - [6711694e180078c714f9216ac0b83cef74ac0a6f](https://github.com/magento/magento2/commit/6711694e180078c714f9216ac0b83cef74ac0a6f)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-05 07:29] sidolov commented on #13793
Hi @koenner01. Thank you for your report.
The issue has been fixed in magento/magento2#15696 by @vgelani in 2.3-develop branch
Related commit(s):
 - [04583ac165cd775864e2ace38c5196c12ffc4ae8](https://github.com/magento/magento2/commit/04583ac165cd775864e2ace38c5196c12ffc4ae8)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-05 07:29] sidolov commented on #13415
Hi @angelo983. Thank you for your report.
The issue has been fixed in magento/magento2#15705 by @julienanquetil in 2.3-develop branch
Related commit(s):
 - [82d0491bc5f697c77092c686038f14f2b60efc34](https://github.com/magento/magento2/commit/82d0491bc5f697c77092c686038f14f2b60efc34)
 - [fbb81c9470a5356ce7d21f609f0c70bdae9fb8a0](https://github.com/magento/magento2/commit/fbb81c9470a5356ce7d21f609f0

[2018-06-05 07:30] sidolov commented on #7897
Hi @slackerzz. Thank you for your report.
The issue has been fixed in magento/magento2#15709 by @dmytro-ch in 2.3-develop branch
Related commit(s):
 - [14bf8af3db1683cbf4aeb5ca5924d8fd119e6d5a](https://github.com/magento/magento2/commit/14bf8af3db1683cbf4aeb5ca5924d8fd119e6d5a)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-05 07:30] sidolov commented on #15354
Hi @amittiwari024. Thank you for your report.
The issue has been fixed in magento/magento2#15731 by @vijay-wagento in 2.3-develop branch
Related commit(s):
 - [eaa585d36791c5ddb7073f0c7332f9c06f238bba](https://github.com/magento/magento2/commit/eaa585d36791c5ddb7073f0c7332f9c06f238bba)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-05 07:30] sidolov commented on #14063
Hi @shinesoftware. Thank you for your report.
The issue has been fixed in magento/magento2#15665 by @vgelani in 2.3-develop branch
Related commit(s):
 - [d5c395295aa59d8d42e12dca82ec933bad096668](https://github.com/magento/magento2/commit/d5c395295aa59d8d42e12dca82ec933bad096668)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-05 07:36] vasudevsundar opened #15820 "Baseurl in core-config"
### Preconditions

1. Set Base url in core-config instead of passing url directly in Database

### Steps to reproduce

1. Upgrade Magento to Latest version of Magento 2.1.X .
2. Set Base url in core-config instead of passing url directly,

### Expected result

1. Need to run site

### Actual result

1. Redirecting to localhost

[2018-06-05 07:41] reillo commented on #2924
I am also developing in mac and it was very slow. Disabling JS/Css merging makes it faster.

[2018-06-05 08:15] magento-engcom-team commented on #15354
Hi @amittiwari024. Thank you for your report.
The issue has been fixed in magento/magento2#15736 by @vijay-wagento in 2.1-develop branch
Related commit(s):
 - [02453f67e75170f9ff7fe7c5725731a99320534f](https://github.com/magento/magento2/commit/02453f67e75170f9ff7fe7c5725731a99320534f)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-05 08:31] maxhopei opened #15822 "SQL Error: ambiguous column 'customer_group_id' in 'All customers' page in admin when extension attribute table is joined"
### Preconditions

1. Magento CE 2.2.4 without sample data is installed.

### Steps to reproduce

1. In a custom module add the following mysql table for storing customer group preferences with one-to-one relation to customer group:

[code]

2. In a custom module add the following extension attribute to customer group:

[code]

3. Refresh caches
4. Go to `Admin -> Customers -> All Customers` page.

[2018-06-05 09:15] Munszu commented on #15541
http://api.fixer.io/latest
"This API endpoint is deprecated and has now been shut down. To keep using the Fixer API, please update your integration to use the new Fixer API endpoint, designed as a simple drop-in replacement."

The API endpoint needs to be updated.

[2018-06-05 09:20] PiotrSzlagura opened #15827 "Can't use input type in query"
### Preconditions

1. Magento version: 2.3
2. PHP: 7.1.18
3. Server: nginx, version: 1.12.2

### Steps to reproduce

1. Create empty Magento 2.3 instance
2. Install sample data from repo
3. Using graphql client/plugin of your choice (tested on many of them, always with the same result) send POST request to http://[your Magento instance]/index.php/graphql
[code]
with variables:
[code]

### Expected

[2018-06-05 09:20] Flowlance opened #15828 "Multisite installation, default website slow (X-Magento-Vary)"
Hi. We have a multisite installation. The default website is fast, but the non-default website is really slow. When we switch the default website to the slow one, that ones becomes fast. What I've found out so far is that the slow site always get a cookie named **X-Magento-Vary**, while the fast one get a **PHPSESSID** cookie.

### Preconditions
Ubuntu 16.04
PHP 7.1.16
Aurora MySQL 5.6.10a (Aws RD

[2018-06-05 09:23] EliasKotlyar commented on #12180
Encountered same result with M2.2.4 and PHP 7.0.8. Used https://github.com/magento/magento2/commit/a7d4180ce61a7e9027befefac4ef4af6333ee8ff for fixxing the error.

[2018-06-05 09:33] nmallepally commented on #15404
@magento-engcom-team Any update on your findings?

[2018-06-05 09:33] oefterdal commented on #15828
I have the same issue, and if I flip what site should be the default site the secondary site is slow. So It's nothing with the website.

[2018-06-05 09:36] Flowlance commented on #15828
@oefterdal This is exactly what happens here too. And it's holding back the launch of our second website.

[2018-06-05 09:37] DanielRuf opened #15832 "No button-primary__font-weight"
### Preconditions
Magento 2.2.4

### Steps to reproduce

There is no `@button-primary__font-weight` for setting the font weight of the primary buttons.
(under lib/web/css/source/lib/variables/_buttons.less)

### Expected result
Possibility to change only primary button font-weight without changing regular button font-weight with less variables

### Actual result
Primary button don't have specific

[2018-06-05 10:26] tizzyguy87 commented on #15255
@miguelbalparda

I upgraded Magento to 2.2.4. But unfortunately we have different issue (#15664).

So I am not able to login once user is created.

I will verify fix you have suggested once that issue is resolved. Thanks.

[2018-06-05 10:55] nikidexa opened #15844 "show product name in product page"
Hi, I just want to show product name in product page, on the top, above product image

Preconditions
magento 2.2.2
Luma theme

Steps to reproduce
Want to show product  name in product page

Expected result
See product name in product page on top, above product image

Actual result
Dont see anything at the moment, just product name in breadcrumbs

This is what I want
![schermata-2018-06-05-alle-12

[2018-06-05 11:22] #9592 closed, assigned to nobody

[2018-06-05 11:24] #9640 closed, assigned to nobody

[2018-06-05 11:25] #9166 closed, assigned to nobody

[2018-06-05 11:26] magento-engcom-team commented on #9379
@cdiacon, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-06-05 11:26] #9379 closed, assigned to nobody

[2018-06-05 11:26] magento-engcom-team commented on #9164
@mikeymike, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-06-05 11:26] #9164 closed, assigned to nobody

[2018-06-05 11:27] magento-engcom-team commented on #8960
@jzahedieh, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-06-05 11:27] #8960 closed, assigned to nobody

[2018-06-05 11:28] magento-engcom-team commented on #8956
@jurgisl
, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-06-05 11:28] #8956 closed, assigned to nobody

[2018-06-05 11:29] magento-engcom-team commented on #8834
@Tjab, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https://