[2021-12-07 12:40] cmuench commented on #8975
https://dev98.de/2017/01/02/how-to-add-alternative-http-headers-to-magento-2/

[2021-12-07 13:21] engcom-Hotel commented on #32834
Hello @theshreyas,

We have analysed this issue on a clean instance of 2.4-develop, please find my observations below.

The **updateCartItems** mutation takes **cart_id** & **cart_items** as input attributes, from which it uses the **cart_item_uid** to identify and update the details of the respective cart item, the concerned mutation is appended for reference.
[code]
When the **cart_item_uid** of

[2021-12-07 13:21] #32834 closed, assigned to nobody

[2021-12-07 13:26] engcom-Delta commented on #34657
Hi @pixel-paul ,
Thanks for providing detailed steps for reproducing the issue, we could see the problem when we provide the url for 'Base URL for user media files ' field and tried to add the Images for products . Hence ,we are confirming the issue.
Steps:
1. Go to Stores --> configuration --> General-->Web
2. Provide URL for 'Base URL for user media files' field
![Medial_url](https://user-images

[2021-12-07 14:02] engcom-November commented on #34752
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
**Steps performed:**
Installed Braintree payment module on 2.4-develop branch
Admin - Stores - Configuration - Sales - Payment Methods - Configure Braintree for US Merchant, Payment Action Instant Sale
Enable Vault and re-verification for CVV
Save and clear Cache
Front-end - Login - Add product to Cart - Checkout
Selec

[2021-12-07 14:07] VivekShingala commented on #12565
Hi @harrigo

How did you fix it?

[2021-12-07 14:22] amenk commented on #22198
Does anybody have a clue how this was influence by the opcache?

[2021-12-07 14:31] rosemariepopescu commented on #32387
Waiting for an answer here as well! Issue is pretty straight forward, clearly explained and it bothers us all developers!!

[2021-12-07 14:49] mrtuvn commented on #33593
maybe @hostep have interesting with this patch. I don't have live instance for real-case test.
But i tried first 5 cases of denis with update and mixins load as expected. All case background go green

[2021-12-07 15:11] ihor-sviziev commented on #33593
@mrtuvn, could you create a PR, so we'll be able to run all tests on top of these changes?

[2021-12-07 15:58] ericerway commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2021-12-07 16:32] david-garcia-garcia commented on #13128
One more addition to the composer patches... this is for **magento/framework**.

`diff --git a/Logger/Handler/Base.php b/Logger/Handler/Base.php
index 4c136fd..4b73e61 100644
--- a/Logger/Handler/Base.php
+++ b/Logger/Handler/Base.php
@@ -50,8 +50,9 @@ class Base extends StreamHandler
             $filePath ? $filePath . $this->fileName : BP . DIRECTORY_SEPARATOR . $this->fileName,
             $t

[2021-12-07 17:14] Organizer21 commented on #28100
After wasting a lot of time I have landed here and seem to have this issue in 2.4.3 CE, presumably just like @EmilyPepperman (not sure you solved it?). I'm very new to Magento and a quick attempt to apply that patch @stkrelax on 2.4.3 (using ./vendor/bin/ece-patches with the patch in a m2-hotfixeds folder) quickly gave an error about -> No such file or directory: Model/Category/Attribute/Backend/I

[2021-12-07 21:32] DanielRuf commented on #34726
Generally the current modern browsers do not have any XSS auditor

Generally CSP is the new and recommended way.

https://web.dev/strict-csp/
https://portswigger.net/web-security/cross-site-scripting/content-security-policy

Afaik Magento 2 already sets some CSP-headers.

For some better graphical overview regarding the XSS header support see https://caniuse.com/mdn-http_headers_x-xss-protection

[2021-12-07 23:01] KyleGospo commented on #22007
This ticket that got closed for unfathomable reasons cost us 100s of hours of debugging work.

[2021-12-07 23:49] kal-codes opened #34770 "Guest Cart Id Error"
### Preconditions (*)

1. Magento v2.4.2, reproducible in Chrome & Safari. Works correctly in Firefox, despite expectations that it not.

### Steps to reproduce (*)

1. Create a guest cart using `createEmptyCart ` mutation to receive a guest cart id exactly as specified here: https://devdocs.magento.com/guides/v2.4/graphql/tutorials/checkout/checkout-shopping-cart.html?itm_source=devdocs&itm_mediu

[2021-12-08 06:11] engcom-November commented on #34702
Hi @dankhrapiyush ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-08 06:11] #34702 closed, assigned to engcom-November

[2021-12-08 07:27] engcom-Hotel commented on #33269
Hi @oneserv-heuser,

Thank you for reporting this.

Based on Docs [here](https://devdocs.magento.com/guides/v2.4/graphql/queries/products.html). I can notice that ‘Swatch Image’ is ‘Deprecated input attributes’ and it can’t be used anymore.

We can’t consider this issue as a bug since that functionality attribute is deprecated. But users may require to use that option so we can consider it as ‘Fea

[2021-12-08 07:28] a4deel opened #34771 "Exception on Customer Email Update"
### Summary (*)
I am trying to update customer email in Magento 2 by using Customer Repository via REST API but it throws exception when we try to save customer. We are using Magento 2.3.7 Community Version.

Here is my exception

"messages": {
        "error": [
            {
                "code": 500,
                "message": "Fatal Error: 'Uncaught Error: Call to undefined method Magento\\F

[2021-12-08 07:49] oneserv-heuser commented on #33269
@engcom-Hotel You're totally right, this was never intended to be a bug request. It's a missing feature which existed before but is now gone because of the deprecation of the field "filters".

[2021-12-08 08:24] engcom-Hotel commented on #33770
Hello @burgh8wp,

As per my analysis in this [comment](https://github.com/magento/magento2/issues/33770#issuecomment-966100955), if the `url_rewrite_id ` column has duplicate values in it, then during upgrade the issue will occur. Hence confirming this issue.

Thanks

[2021-12-08 09:15] ihor-sviziev commented on #33770
@sidolov, I added P2 priority, as this issue prevents Magento upgrade.

[2021-12-08 09:24] engcom-Hotel commented on #34607
Hello @agubarev-ifuelinteractive,

We have tried to reproduce the issue in Magento 2.4-develop branch the issue is not reproducible for us. Please refer the below video for reference and let us know if we missed anything in order to reproduce it:

https://user-images.githubusercontent.com/51681618/145182966-2c40f126-3e5e-413e-9891-8d35672823be.mp4

Thanks

[2021-12-08 09:43] andrewbess opened #34772 "Fix mftf tests to be compatible with PHP8.1"
### Description (*)
Fix mftf tests to be compatible with the PHP 8.1.
Need to run all mftf tests on PHP8.1 environment and fix all issues.

#### Currently found problems
- **explode()** - `Passing null to parameter #2 ($string) of type string is deprecated`
- **strpos()** - `Passing null to parameter #1 ($haystack) of type string is deprecated`
- **substr()** - `Passing null to parameter #1 ($stri

[2021-12-08 10:09] Volima commented on #34763
Hi

attached 2 screenshots that show the loading times of pages when searching for articles for example. (see time)

When completing orders, I am very often shown error messages.

If I want to add articles, cross-selling products it comes to enormous waiting times until then the article page crashes completely.

Mit freundlichen Grüßen
[https://www.volimea.de/emailsignatur/logo.png]<https://www.vo

[2021-12-08 10:44] bunnyofficiial commented on #32177
I have created a fix for this and this fix works for me.

https://github.com/bunnyofficiial/Customerprefixchange

[2021-12-08 10:51] jadebaileywowcher opened #34773 "Magento ver. 2.4.2 is not allowing me to view orders"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)
Magento ver. 2.4.2 is not allowing me to view orders due to an error that flashed up from a previous search - it is not allowing me to do a new orders search through the option 'sales', 'orders'
1.on the left i click sales, then click on orders and then i get an error that states "Attention Something went wrong." then the circle in the middl

[2021-12-08 10:56] mihaimatei commented on #32268
Fix was merged into 2.4-develop, but still not in any of the current 2.4.3 releases.

[2021-12-08 11:00] Green2Matter commented on #34390
magento/composer-dependency-version-audit-plugin and ShipperHQ caused a big fail when issuing `composer update` command:
<img width="1678" alt="composer update fail" src="https://user-images.githubusercontent.com/71682684/145196140-27f7fabb-6b2f-4e82-8850-f025830abfc3.png">
I had to restore my own magento backup because at that point many files were missing (magento, autoload and so on)
After remo

[2021-12-08 11:27] engcom-November commented on #34773
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
Sales - Orders - Searched using Keywords - ID and email id - No issue. Filter applied as expected.
User is able to view Order details page - No issue
![image](https://user-images.githubusercontent.com/60198231/145199803-3f5b9687-98e7-4bde-b262-f69414ef87cb.png)

@jadebaileywowcher FYI.. Sometimes, this error c

[2021-12-08 11:28] jadebaileywowcher commented on #34773
Im really sorry but im in customer services and have no technical knowledge of what to do to resolve the issue!? Do I need to speak to the tech guy in the office?

Thank you

Jade Bailey
EU Customer services

From: Girija Bhavani Kudupudi ***@***.***>
Sent: 08 December 2021 11:27
To: magento/magento2 ***@***.***>
Cc: Jade Bailey ***@***.***>; Mention ***@***.***>
Subject: Re: [magento/magento2] Ma

[2021-12-08 11:39] engcom-November commented on #34773
Hi @jadebaileywowcher,
Kindly apply the possible solutions that are provided in [comment](https://github.com/magento/magento2/issues/34773#issuecomment-988729837) in your local system. If its still not resolved, provide configuration details (Ex: Magento specific versions before and after upgrade if issue occurred due to upgrade).

Thank you.

[2021-12-08 11:59] engcom-November commented on #34770
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.

**Steps performed:**
Created guest cart using below mutation in Chrome browser (Altair GraphQL client extension):
mutation {
  createEmptyCart
}
Item is added to cart using addProductsToCart mutation for guest cart id - No issue
![image](https://user-images.githubusercontent.com/60198231/145204835-3eab829a-36

[2021-12-08 12:04] engcom-November commented on #34732
@magento give me 2.4-develop instance

[2021-12-08 13:13] homecoded commented on #32177
I tried the solution by bunnyofficiial, DanBecket and Sental. For me only Sental's solution worked via core patch. It's also the most elegant as it gets obsolete as soon as there is a fix in the core (because then the patch cannot be applied anymore).

[2021-12-08 13:37] engcom-November commented on #34732
This issue is reproducible when index mode is set to both "Update by schedule" and "Update on Save"

[2021-12-08 14:03] engcom-Delta commented on #34699
Hi @DylanHopman ,
Thanks for providing video , We are missing where VAT is getting calculated in the video during checkout .it would be great help if you provide the details steps with screenshots.

Looking forward to hear from you .

Regards,

[2021-12-08 14:10] wilfriedwolf commented on #34753
Hi @engcom-Hotel

I thougth providing you with a module, but it is simpler.

In vanilla Magento you have 3 Media Image Attributes (`image`, `small_image`, `thumbnail`) (Well actually 3, but `swatch_image` is a little different)

If you create a custom Media Image Attribute (`custom_image`)

![image](https://user-images.githubusercontent.com/23700116/145218207-b5c76812-6655-476e-bc59-35e3ad79250c.p

[2021-12-08 14:44] engcom-Hotel commented on #34161
Hi @ngtuan96lc,

Thank you for reporting the issue with a proper video description and details.

I have tested the functionality with your custom module but I think it could be happening due to the custom functionality which you have added. As far as I can understand you are overriding the default functionality and the issue is not related to Magento core implementation.

Similar questions can be

[2021-12-08 15:04] engcom-Hotel commented on #34748
Hi @TheRealHunzik,

Thank you for reporting the issue.

Hope you got the answer to your question. I think you can wait until it is implemented or Documented in Magento.

As of now since there is no action required from our side, we are closing this issue. You can re-open this issue or raise a new one if you still need assistance on this. Similar questions can be raised on various Magento Forums li

[2021-12-08 15:56] ihor-sviziev commented on #34733
After discussion with @xmav in Slack - it feels like the current tests work with outdated libxml2 library version **2.9.1**, while on Ubuntu 20.04 we have **2.9.10** and (2.9.12).

Just a side note: on local env unit tests are running 2 minutes. Why the hell they're running for 30+ mins on the CI?

[2021-12-08 16:51] markshust commented on #27217
I've confirmed the same issue as @lfolco, this is definitely a bug.

Out of the box, Magento's HTML structure looks like this:

<img width="1321" alt="Screen Shot 2021-12-08 at 11 45 38 AM" src="https://user-images.githubusercontent.com/437029/145248426-4478dd97-2342-492e-82d3-fe8ed4c7c46c.png">

Notice how there is a single `<ul role="menu">` element.

Now, when I add a new third item with a chil

[2021-12-08 17:25] markshust commented on #34748
@lbajsarowicz I think the "deprecated" flags should be removed from the admin controller parent classes, since they aren't really deprecated (there is no alternative, and I don't think there are plans for any moving forward at this time).

[2021-12-08 19:27] KVoisard commented on #34770
Do you have a public url to that 2.4-develop is accessible from? I'm guessing the one from your screenshot (`http://magento24.local/graphql`) is running from your local..

[2021-12-08 20:59] Januszpl commented on #30758
@magento give me 2.4-develop instance

[2021-12-08 21:37] Januszpl commented on #30758
@harrigo and @thinksys-dev the issue related to this error in login popup was related fixed here:

https://github.com/magento/magento2/commit/55172bfd643757335ddc79723527ee4f20a3b449#diff-eb75768377727a571a5861f7385ed31d37a8eb632def30bfb9bd9a02f4486508

I had the same issues in "magento/product-enterprise-edition": "2.3.7-p2" but fix from above PR fixes this issue.

[2021-12-08 22:19] cpartica commented on #32437
@jesse-deboer Can you elaborate more on why do you need both with vat and not in the catalog?
When we deprecated PriceAdjustment the consideration was that Catalog would not need this because the use cases for catalog and cart are different.
Also, vat is just a type of tax. I wouldn't name the fields "vat" as is very Europe-specific.
Whatever we do from this point on the schema has to be generalis

[2021-12-09 02:12] engcom-Delta commented on #34719
We have noticed that this issue has not been updated for a period of 13 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2021-12-09 02:12] #34719 closed, assigned to engcom-Delta

[2021-12-09 02:34] Avantree2020 opened #34777 "Website cache issue"
Preconditions (*)

1. Magento version  2.3.5-p2
2. Use Amasty Geoip extension for IP redirection

Steps to reproduce (*)

1. I visit a non-default store(for example, an EU store), and close. When I visit the default store(US store), it will redirect me to the previous store(EU store) that I visit previously and cannot switch back. After clearing cookies or using the Incognito window on the browser

[2021-12-09 03:59] github-jira-sync-bot opened #34778 "Fix MFTF Tests to be compatible with PHP 8.1"
There are deprecation notices generated in MFTF tests. Those notices need to be fixed for tests to pass with error*reporting=E*ALL
 - < ] [https://github.com/magento/magento2]
 - [ ] [https://github.com/magento/partners-magento2ee]
 - [ ] [https://github.com/magento/partners-magento2b2b]
 - [ ] [https://github.com/magento/partners-magento2-infrastructure]
 - [ ] [https://github.com/magento/invento

[2021-12-09 04:47] GamesmenJordan commented on #28111
@engcom-Hotel What do you mean by "not able to reproduce"?

[2021-12-09 06:22] ihor-sviziev commented on #34748
I think it's better to mark this issue as a feature request rather than just close it. What do you think?

[2021-12-09 06:27] ihor-sviziev commented on #34777
Hi @Avantree2020,
If I got it correctly, the issue is located basically in the Amasty GeoIP extension, not the Magento itself. Could you please contact Amasty support for further assistance?

[2021-12-09 06:47] oneserv-heuser commented on #32437
@cpartica I can give you a use case. In our frontend we have a "price switcher" where the customer can select whether he wants to see the prices with tax or without tax. When a customer switches prices I dont want to reload the entire page just for that. With the implementation of this feature I could just replace the prices dynamically.

[2021-12-09 06:47] engcom-Hotel commented on #34406
Hi @lilbumblebear,

Thank you for reporting the issue.

Can you please elaborate on the issue? From the issue title and description, you want GraphQL AddProductsToCart mutation should have a file update option. Right?

Although which is confusing is that how product image upload will help in customization? Can you please help me understand the process that you want to build or perhaps some illustr

[2021-12-09 06:50] bibhuasish004 commented on #33290
Hi

We are facing this issue on the 2.4.3-p1 cloud versions, could you please share with us the fix for the issue.

[2021-12-09 06:56] Avantree2020 commented on #34777
Hi ihor-sviziev，

Thanks for your comment.
1. I contacted Amasty support and they told me that it is due to cache, which can only be done by clearing the visitor's cookies.
2. If it is due to the extension, I think the issue should be gone, but it was not. And also, what about the issue for currency not matching the store after redirection? The extension could not be able to change the currency of

[2021-12-09 06:58] engcom-Hotel commented on #34443
Hi (username),

Thank you for reporting the issue.

However, we tried to reproduce it on Magento 2.4-develop but the issue is not reproducible.

Steps followed to reproduce issue:

1. Installed the fresh Magento 2.4-dev instance.
2. Added the sample product data.
3. Visited the store website, product details page and added the product to the cart (See the attached screenshots)
<img width="1291" al

[2021-12-09 07:11] ihor-sviziev commented on #34777
@Avantree2020, could you try to reproduce the issue without custom extensions to make sure any of they does not cause that behavior?

[2021-12-09 07:28] ihor-sviziev commented on #34634
@magento/ext-klarna could someone check this issue?

[2021-12-09 07:34] Avantree2020 commented on #34777
Hi ihor-sviziev，

I'm afraid we are not able to do that, since we use so many extensions on our site and the real time visitors are using some of them.

Are you only dealing with Magento core issue? Shall I post the same question to the developer experience issue section? Will it be helpful? Thanks.

[2021-12-09 07:48] engcom-Hotel commented on #34771
Hi @a4deel,

Thank you for reporting the issue.
However, we tried to reproduce it on Magento 2.4-develop but the customer update functionality is working as expected.
From the error details, it looks like the issue is with the code that you have tried.
See the code sample used in the following integration test, it is having the almost same code that you want to do.

dev/tests/integration/testsuite

[2021-12-09 08:05] in-session opened #34779 "The subcategories are not expandable via Android (Samsung Internet App)"
### Preconditions (*)

Can be tested in a test instance

### Steps to reproduce (*)

1. Create a test instance and open it via Andoid Internet App
2. Open the main menu and try, for example, to collapse the woman submenu.

### Expected result (*)

![Ashampoo_Snap_Donnerstag, 9  Dezember 2021_09h03m32s_010_](https://user-images.githubusercontent.com/16542619/145357489-4def51c8-7817-4c35-920a-b41b81

[2021-12-09 08:13] in-session commented on #34777
@Avantree2020
I would suggest contacting Amasty, they usually answer very quickly and usually have a solution. Amasty is also able to copy the environment and perform a local test.
Then a note about Geoip, which is not allowed in Europe according to the GDPR, which also leads to problems when using providers such as Cloudflare.

[2021-12-09 08:55] andrewbess commented on #34772
Closed due to https://github.com/magento/magento2/issues/34778

[2021-12-09 08:55] #34772 closed, assigned to nobody

[2021-12-09 09:12] engcom-Delta commented on #34154
HI @hostep,
We verified this issue again in Magento 2.4 Develop with latest branch , Issue is reproducible. Hence added the label 'Issue confirmed'
.Please find the attached screenshot for reference.
![Response_400](https://user-images.githubusercontent.com/51681379/145367484-b313128a-76c4-418a-85f3-f32f7dae844d.JPG)

[2021-12-09 09:19] engoory opened #34780 "OAuth 2.0 and OpenID support"
One of the biggest problem for integrations is that Magento 2 supports already depreciated and insecure OAuth 1.0 instead of 2.0. On top of that, OpenID would helped third party apps to be securely integrated to Magento 2 increasing security and transparancy.

Its also adviseble to add in support Keycloak, Simplesamlphp (It has OAuth 2.0 and OpenID plugins) and also Gluu server as open source iden

[2021-12-09 09:39] engcom-Hotel commented on #34390
Hello @denis-zyk @Green2Matter,

I have tried once again with Magento 2.4.3-P1 but I am unable to reproduce the issue. Please have a look into below video for reference and let us know we have missed anything:

https://user-images.githubusercontent.com/51681618/145371756-f7e1b70b-460b-4508-aad6-1c651e1f43a0.mp4

Thanks

[2021-12-09 09:57] engcom-Hotel commented on #33318
Hi @oneserv-heuser,

Thank you for informing the issue.

The issue is verified and is reproducible on Magento 2.4-develop.

Navigated to Stores->Attributes->Product and I changed ‘Use in Layered Navigation’ to ‘No’ for ‘Price’ Attribute. Below a screenshot of the same:
![image](https://user-images.githubusercontent.com/51681618/145374547-d77c6f31-680e-4415-88a4-21149d5f33f9.png)
I tried to run Gra

[2021-12-09 10:00] jadebaileywowcher commented on #34773
Please can you put this into Laymans terms as I literally work in customer services - I do not have any knowledge of the set-up of the systems,  I just use them to do my job role. Please can you assist from the back end? Or dumb it down for me a bit.

Thanks

Jade

Wowcher customer services

From: Girija Bhavani Kudupudi ***@***.***>
Sent: 08 December 2021 11:39
To: magento/magento2 ***@***.***>
C

[2021-12-09 10:00] engcom-Delta commented on #33565
Hi @stephan-cream ,
We tried the steps provided in the issue description , at this movement we could not get error that you got ,it works fine on Magento 2.4 Develop with latest branch. Here is video attached and screenshots attached.
Kindly have a look and confirm .
Before subscribe in DB:
------------------------
![before_subscriptionDB](https://user-images.githubusercontent.com/51681379/1453744

[2021-12-09 10:08] jesse-deboer commented on #32437
Sorry my mistake, I wil change it to tax indeed.

So normally without GraphQL setting the Display Product Prices in Catalog to Including and Excluding Tax would show both prices, but this doesn't make any change to GraphQL. I think this is the biggest problem without even needing a use case, because people are setting in to both and GraphQL gives you back something else.

Also the use case is in t

[2021-12-09 10:15] engcom-Hotel commented on #33610
Hello @mrtuvn,

We have tried to reproduce the issue in Magento 2.4-develop branch but this is not reproducible for us. Please have a look into below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/145377282-e8cab873-cc92-4730-a212-7e719c87f5cd.png)

we request you to please try to reproduce it again in the latest branch and let us know if this is still repro

[2021-12-09 10:19] engcom-Hotel commented on #32118
Hello @amitvkhajanchi,

Thanks for the clarification!

As per your comment, it seems that your issue has been resolved. Can we close this now?

Thanks

[2021-12-09 10:29] engcom-Alfa commented on #34486
Thanks for the information @hoangss !

Tried placing an order for a child product with out of stock status where parent product in stock. Found the proper out of stock error as expected.
The issue seems to be affected only for the described code usage.

Note: The _isSalable()_ method has been called in multiple places like : sales, catalog, wishlist, products (group/configurable/bundle), quotes an

[2021-12-09 10:37] baoutch commented on #21646
How is it closed ?
Applying the patch https://github.com/magento/magento2/issues/21646#issuecomment-976552179 worked instantly

[2021-12-09 10:51] engcom-Delta commented on #34711
closing the issue as it is duplicate of #34712 .

[2021-12-09 10:51] #34711 closed, assigned to engcom-Hotel

[2021-12-09 10:55] engcom-Delta commented on #34712
We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2021-12-09 10:55] #34712 closed, assigned to nobody

[2021-12-09 11:10] engcom-November commented on #34476
Hi @salehawal ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-09 11:10] #34476 closed, assigned to engcom-November

[2021-12-09 11:19] engcom-Hotel commented on #34224
@magento give me 2.4-develop instance

[2021-12-09 11:32] engcom-November commented on #34777
Hi @Avantree2020
Amasty is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketplace.m

[2021-12-09 11:32] #34777 closed, assigned to engcom-November

[2021-12-09 11:36] engcom-November commented on #34634
Hi @fritzmg ,
This is a Klarna issue and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](https://marketplace.magento.com/e

[2021-12-09 11:36] #34634 closed, assigned to engcom-November

[2021-12-09 11:40] engcom-Hotel commented on #34224
Hello @PedroGuerraTrellis,

We are able to reproduce the issue in Magento 2.4-develop branch with the given steps. We have also gone through the [document](https://docs.magento.com/user-guide/system/data-export.html), the line mentioned in the document is as follows:

Hence confirming the issue.

Thanks

[2021-12-09 11:42] Green2Matter commented on #34390
Hi @engcom-Hotel
I have tried as well installing autocomplete
<img width="1042" alt="autocomplete failed installation" src="https://user-images.githubusercontent.com/71682684/145389979-06a0977e-bb58-4dff-b1b2-ab14e72ff4a8.png">
But then composer-dependency-version-audit-plugin kicks in and stops installation... Couldn't we set repos we want to update from?

[2021-12-09 11:45] engcom-Hotel commented on #32581
Hi @damienwebdev,

Thank you for providing this info.

I have gone through the description and the requirement seems appropriate. Since we can’t call this a bug so I am moving this issue to the ‘feature request’ board where it’ll be further analyzed and appropriate action will be taken accordingly.

Thanks

[2021-12-09 11:49] engcom-November commented on #34773
Hi @jadebaileywowcher ,
Please check the below possible solutions to resolve your issue in local system:
1. Switch to your Magento Database - Verify Database table "catalog_product_entity" if any Products have NULL as SKU value
SQL Query for the same: > SELECT * FROM catalog_product_entity WHERE sku IS NULL
Update the sku using UPDATE Query  > UPDATE catalog_product_entity SET sku='" WHERE sku IS

[2021-12-09 12:41] fritzmg commented on #34634
@engcom-November it is an extension that Magento itself requires:

[code]

[code]

As you can see `magento/product-community-edition` currently requires a _specific_ version of `klarna/m2-payments`:

[code]

So when Klarna fixes the issue and creates a new release, then Magento will also need to create a new release, in order to fix this issue. And in my opinion, the dependency should be changed t

[2021-12-09 12:53] engcom-November commented on #34770
@magento give me 2.4-develop instance

[2021-12-09 13:07] engcom-November commented on #34770
Verified the issue again using above Magento 2.4-develop bot instance but still the issue is not reproducible:
![image](https://user-images.githubusercontent.com/60198231/145402041-c07d8565-6cca-426e-b231-f396f95fd101.png)

[2021-12-09 13:08] engcom-Hotel commented on #34469
Hello @AartiJogiya

We have rechecked the issue, but still, we are unable to reproduce it.

@hoangoclan as per your comment, we have tried to reproduce the issue in the slow network by using **Throttling dropdown** in chrome browser and selecting **Slow 3G** option but still, we are unable to reproduce the issue. Please suggest the missing steps.

Thanks

[2021-12-09 13:09] engcom-Hotel commented on #34502
Hi @vipin12117,

Please see the attached screenshots, I have tried the scenario that you have mentioned and sort by position works fine. “position” is the only field that is used for sorting when you sort using the position.
<img width="1425" alt="Screenshot 2021-12-09 at 5 39 05 PM" src="https://user-images.githubusercontent.com/51681618/145402429-681db064-0154-4511-96c9-44bc5246c7f7.png">
<img w

[2021-12-09 13:16] hussam-qasem opened #34782 "Add Encryption to S3 Remote Storage Upload"
### Description (*)
Magento 2.4.3 [remote-storage](https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage.html) `aws-s3` driver does not currently support encryption algorithm to encrypt files with on upload.

### Expected behavior (*)
Add a `--remote-storage-encryption` option, with possible values:
* `none` (default, current behavior)
* `sse-s3` (AES-256)
* `ss

[2021-12-09 13:31] markshust commented on #34748
@ihor-sviziev if you'd like to build in the ability for backend controllers to be created using composition, yes 👍

[2021-12-09 13:34] a4deel commented on #34771
Hi @engcom-Hotel,
When we try to update customer email in web flow then it works fine but in REST API it did not work for me. I tried this code on multiple systems. And also if we use  $customer->setData() function to set email it works fine as well. issue is only in REST API when we save customer repository after setting email.

[2021-12-09 14:10] amenk commented on #33770
We tried to workaround this using

    alter ignore table catalog_url_rewrite_product_category add unique index tmp_remove_key(url_rewrite_id, category_id, product_id);
    alter table catalog_url_rewrite_product_category drop index tmp_remove_key

the update runs through then - when saving category - we get

    SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '51541850' for

[2021-12-09 14:16] vipin12117 commented on #34502
Hi @Abhinav Pathak

*Surprising, you are not able to understand the basic issue. Let me try
again with your shared screenshots.*

Based on your screenshots. Product "Luma Yoga for Life" Position is 1. So
it must be last as other product positions are 0.

*And other products have position 0, so it must be in order with product id
like 50, 49, 48, 47, 46, and last 51.*

*Check the same case with mys

[2021-12-09 14:54] niksjethva commented on #4728
I have faced the same issue(Order Email not showing items list) after migrations from Magento 1 to Magento 2.3.

**You can make the following changes to get resolved from this issue :**
I am sure, this happens almost in 2.3.5 AND 2.3.5-p1

`The solution is open 'email_template' table from database, find column 'is_legacy' and set is_legacy = 1.`

I hope it will helpful to you.

Thanks!

[2021-12-09 14:56] karim-haned commented on #34731
@nthurston You need to generate integration access token from admin panel and pass it for this to call to avoid Recaptcha. It worked for me

[2021-12-09 15:06] #34543 closed, assigned to andrewbess

[2021-12-09 15:22] t-heuser opened #34783 "[GraphQl] Wrongly deprecated fields in ProductInterface"
In the `ProductInterface` the fields `new_from_data` and `new_to_date` are marked as deprecated. This happened in #30694 because of the issue #30625.
They were deprecated alongside other fields which are said that they would expose data that should not be visible. While i agree with most of the deprecated fields I **strongly** disagree with the deprecation of the fields `new_from_data` and `new_to

[2021-12-09 15:22] dudzio12 opened #34784 "Very slow `catalogrule_product` index even when no catalog rule exists"
On a Magento 2.4.3 instance:
- I don't have any catalog rule
- I have ~100k products, mostly configurable
- I have 4 websites
- Have almost all my indexes setup on scheduled mode

### Preconditions (*)

### Steps to reproduce (*)

1. Add some ids (or update some product attributes) into `catalogrule_product_cl` table.
2. Run `indexer_update_all_views` CRON job.

### Expected result (*)

1. Product

[2021-12-09 15:26] dudzio12 commented on #34784
[code]

[2021-12-09 15:30] dudzio12 commented on #34784
I'll prepare PR and run some tests with that change implemented. It won't fix non optimal index, but will lock some unnecessary code execution.

[2021-12-09 15:49] alexgubarev commented on #10556
@magento give me 2.4-develop instance

[2021-12-09 17:16] Nuranto opened #34786 "Product Gallery Processor addImage returning wrong fileName when duplicate file name"
### Summary (*)

`Magento\Catalog\Model\Product\Gallery\Processor::addImage` always returns original filename instead of rewritten filename. when `$move` is `false`

### Examples (*)

* Add an image `toto.jpg` : `addImage` returns `/t/o/toto.jpg`
* Add another image `toto.jpg` : `addImage` returns `/t/o/toto.jpg` instead of `/t/o/toto_1.jpg`

Here is my use case :

[code]
What I try to do is to co

[2021-12-09 18:31] colin-redbox commented on #23251
Further to the discussion taking place here, I can confirm that the following works in 2.4.3 and makes a significant performance improvement. The autoloader is added to OpCache following this command, I haven't tested it in earlier versions.

`composer dump-autoload && bin/magento s:di:c && composer dump-autoload --optimize --no-dev --classmap-authoritative`

[2021-12-09 19:54] kwojc opened #34787 "Dear magento 2 maintainers, please take a relaxing pill and think about backward compatibility"
Lets say... it's totally crazy to build stable store on magento 2.

Everything from 2.3 does not fit to 2.4. In addition lot of tests from  "stable" relase fails.
You need example?

Find Magento\InventoryApi\Api\Data\SourceItemInterfaceFactory in source code, you will find it only in tests, and there is no such interface in repo. For gods sake... Keep backward compatibility. Nothing works as expec

[2021-12-09 21:07] drew7721 commented on #33748
Hello,

Just want to report that this is also happening in version `2.3.7-p2`

It would be nice to mention this in the release notes as currently there is no mention at the moment.

[2021-12-10 04:36] #34533 closed, assigned to karyna-t

[2021-12-10 04:36] #34591 closed, assigned to SilinMykola, karyna-t

[2021-12-10 04:36] #34751 closed, assigned to karyna-t

[2021-12-10 06:24] webgility-amazonapi commented on #34178
Hi,
Is there any update on the resolution of this issue.

Thanks,
Webgility team

[2021-12-10 08:07] mohanwbsofttech opened #34789 "I am getting Fallback to JQueryUI Compat activated. Your store is missing a dependency for a jQueryUI widget. Identifying and addressing the dependency will drastically improve the performance of your site. warning in browser console."
I am getting Fallback to JQueryUI Compat activated. Your store is missing a dependency for a jQueryUI widget. Identifying and addressing the dependency will drastically improve the performance of your site. warning in the browser console.
peoples are saying that to remove
require(['jquery',
        'priceBox',
        'mage/translate',
        'Magento_Catalog/js/price-utils',
        'mage/valida

[2021-12-10 08:39] engcom-Hotel commented on #34485
Hello @n2diving-dgx,

Previously we have tried to reproduce this error in cloud instance but this time I tried to reproduce it in our local machine, but still, we are unable to reproduce it, below is the specification of my system:

- httpd -v

- mysql --version

- php -v

- composer --version

- curl -s -XGET http://localhost:9200 | grep "cluster_name"

- curl -s -XGET http://localhost:9200 | gre

[2021-12-10 09:24] engcom-Hotel commented on #34546
Hello @Hexmage,

Thanks for the reply!

This is the valid point, if the cart item is less in stock then proper handling is required. I have followed the below steps to reproduce the issue:

- Add 2 items in the cart with 4 quantities each
- Set the quantity of a product to 2 in the admin panel, it should be in the customer cart.
- Run the `cart` query:
[code]

- The response for the same is as fol

[2021-12-10 09:29] engcom-Hotel commented on #34654
Dear @Domux-France,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-10 09:29] #34654 closed, assigned to nobody

[2021-12-10 09:33] engcom-Hotel commented on #34452
Hello @davidandersson1,

Thanks for the confirmation!

Hence the issue is not related to Magento. We are closing this issue.

Thanks

[2021-12-10 09:33] #34452 closed, assigned to engcom-Hotel

[2021-12-10 10:10] vkadkol commented on #21519
I have fixed this issue on my magento application. Please refer the link for detailed description
https://stackoverflow.com/a/70302695/1468900

[2021-12-10 11:39] engcom-November commented on #34581
Verified again on 2.4-develop branch having multiple Store views with below steps performed but cannot able to reproduce the issue:
Created a simple product and assigned to only one Store (Main Store view). Visibility set to - Catalog Search. Product is visible on Main website front end and not visible on other Stores.
Created Configurable Product with multiple Simple product variations along with

[2021-12-10 12:21] engcom-Hotel commented on #28111
Hello @GamesmenJordan,

I mean we are not able to see such errors in the console as mentioned in the main description. Maybe the issue has been fixed already. So I am requesting reproduction in Magento 2.4-develop.

Thanks

[2021-12-10 12:37] engcom-Hotel commented on #34390
Hello @Green2Matter,

Thanks for the reply!

I tried to install `shipperhq/module-address-autocomplete`, and I am able to install it without any issues:

![image](https://user-images.githubusercontent.com/51681618/145574908-5780578f-d04d-4a99-bae1-af832127ec04.png)

I think I am missing something to reproduce the issue. Please help me in reproduction of the issue.

Thanks

[2021-12-10 12:41] Hexmage commented on #34546
@engcom-Hotel I also consider the fact that a null object appears in the items node when an error occurs very crucial to resolve. As it currently breaks default Venia.

[2021-12-10 13:21] Usik2203 commented on #34602
Hello @preeteshtavant @engcom-Delta

I have investigated reported issue and seems Expected result is Not Correct for this feature.
**Enable "Remember Me"**  config in **Stores->Configuration->Customer->Persistent Shopping Cart->General Option** doesn't not provide auto filling functionality for **Email** and **Password** fields while logging to customer accout .
These configurations using for othe

[2021-12-10 13:28] Usik2203 commented on #34570
@magento I am working on this

[2021-12-10 13:44] ArjenMiedema commented on #32437
@cpartica I currently have several projects (and also had a lot of projects in the past) that require both the prices excluding and including tax in the front end. I'm surprised that this issue is marked as both `Priority P3` and `On Hold` while this feature is something that has been in Magento since the beginning of Magento 1. I'd expect this to be a key feature in GraphQL as well, especially wi

[2021-12-10 13:46] engcom-November commented on #34763
Hi @Volima ,
Verified the issue again in Magento 2.4-develop branch by creating new Product with Cross-Sell Products and Up-Sell Products included - User is able to save and edit the product in multi store environment - No issue
![image](https://user-images.githubusercontent.com/60198231/145583632-9a891179-7628-4d9a-aa69-8e7d543778da.png)

![image](https://user-images.githubusercontent.com/6019823

[2021-12-10 14:16] engcom-November commented on #33278
@magento give me 2.4-develop instance

[2021-12-10 14:18] mushketer888 opened #34790 "js/model/customer.js isLoggedIn() is populated only when user opens the checkout page"
### Summary
js/model/customer.js isLoggedIn() is populated only when user opens checkout page
Until the user hasn't opened the checkout page, js/model/customer.js isLoggedIn() will always return undefined
So the js/model/customer.js isLoggedIn() is barely useless
Version: 2.4.2

### Examples
See 'Magento_Customer/js/model/customer'
var isLoggedIn = ko.observable(window.isCustomerLoggedIn)
But wind

[2021-12-10 14:48] cpartica commented on #34717
bumping severity since we're getting an error and there's no workaround for this workflow

[2021-12-10 14:49] engcom-November commented on #33278
Verified the issue on Magento 2.4-develop branch and Cart Query is working fine as per official Magento [dev docs](https://devdocs.magento.com/guides/v2.4/graphql/queries/cart.html) however "configurable_product_options_selection" option is not applicable for cart Query as per Magento Docs. Hence labeling this as feature request.
Current behavior:
![image](https://user-images.githubusercontent.com

[2021-12-10 14:59] amenk commented on #33770
Maybe related pull request: https://github.com/magento/magento2/pull/34791

[2021-12-10 15:20] nicholasscottfish commented on #27898
Is there any update on this? Any patch or fix?

[2021-12-10 15:28] amenk commented on #33770
Okay, we solved or problem here by the following workaround:

Before the upgrade we ran

    alter ignore table catalog_url_rewrite_product_category add unique index tmp_remove_key(url_rewrite_id, category_id, product_id);
    alter table catalog_url_rewrite_product_category drop index tmp_remove_key;

Then we were still having problems on saving categories such as @Thundar reported in https://git

[2021-12-10 15:32] mushketer888 commented on #34790
@magento give me 2.4-develop instance

[2021-12-10 15:41] mushketer888 commented on #34790
Its easy to replicate
use js console and window.isCustomerLoggedIn

[2021-12-10 15:45] Volima commented on #34763
Ok.
Thank you.

Mit freundlichen Grüßen
[https://www.volimea.de/emailsignatur/logo.png]<https://www.volimea.de/>
Thomas Zarski

Volimea GmbH & Cie. KG
T  +49 (0)3606 – 50 666 0
E  ***@***.***
W volimea.de<https://www.volimea.de/>
[https://www.volimea.de/emailsignatur/pinterest.png]<https://www.pinterest.de/volimea/> [https://www.volimea.de/emailsignatur/youtube.png] <https://www.youtube.com/volime

[2021-12-10 16:00] vandijkstef opened #34794 "Magento barely showing used tax percentage"
Magento is not showing the applied tax amount in any of the locations. We're legally bound to show this, apart from the currency amount, we need the percentage. I'm aware you can use the 'extended' display, but this isn't working for all locations, and is just not appropriate for single tax-class orders.

### Preconditions (*)

1. Magento 2.3.7
2. PHP 7.3.X

### Steps to reproduce (*)

1. Make an

[2021-12-10 16:47] coutes commented on #32294
Fallowing on that issue , expecting a release of a patch to fix this adress duplication
I am suprised that this is considered as low priority

[2021-12-10 16:48] coutes commented on #32294
Any fallow up with MC-41083

[2021-12-10 21:31] gkunz opened #34795 "OpenSSF: MFA Tokens for your project"
Hi!

My name is Georg Kunz and I work with the [Developer Best Practices Working Group](https://github.com/ossf/wg-best-practices-os-developers) of the Linux Foundation's Open Source Security Foundation (OpenSSF) ["Great Multi-Factor Authentication (MFA) Distribution Project"](https://github.com/ossf/great-mfa-project).

We'd like to give your project *free* MFA hardware tokens from Google and Git

[2021-12-10 21:52] sdzhepa commented on #34613
@magento give me 2.4-develop instance

[2021-12-10 23:55] robolmos opened #34796 "Is Elasticsearch log4j2 vulnerable behind M2? Upgrade to ES 7.16.x?"
From the recent log4j2 vulnerability announcement, it looks like Elasticsearch may also be vulnerable: https://discuss.elastic.co/t/apache-log4j2-remote-code-execution-rce-vulnerability-cve-2021-44228-esa-2021-31/291476

Is that still the case when it's running behind Magento?

If so, M2 system requirements page has been showing older versions of ES, like 7.9 and 7.10, which may not receive any se

[2021-12-11 03:00] kavingas commented on #34576
@magento give me 2.4-develop instance

[2021-12-11 09:20] psydog-1101 commented on #34735
@magento give me 2.4-develop instance

[2021-12-11 09:52] psydog-1101 commented on #34735
hi @engcom-Hotel , sorry for late reply. I has tested on my environment and the issue still alive. In my case, shipping address not selected by default, hence quote.shippingAddress is NULL. Did you test with new session or incognito mode? That ensure that shipping address is not selected by default
-------------
to go live, I must used a temp fix on my env and our website is working fine now.

[2021-12-11 20:46] Assambra opened #34797 "Sitemap creation missing last category"
### Preconditions (*)

Magento Commerce 2.4.3-p1, fresh installation and my production Site
Missing 3th subcategory in sitemap. It generates a lot of trouble with SEO Canonical tag shows on -> https://www.example.com/Subcategory1/Subcategory2/Subcategory3/Product1 and Sitemap generates https://www.example.com/Subcategory1/Subcategory2/Product1

Edit:
I don't know if that has anything to do with it

[2021-12-12 00:34] mrtuvn commented on #34790
as i remembered `isLoggedIn` this is ko observable placed in file mentioned for check customer flag logged or not. Maybe it will be used in another place such as checkout screen

[2021-12-12 09:34] ioweb-gr commented on #34258
@engcom-November This is not really a dev experience issue, it's causing a huge performance bottlneck as this way of joining is used in pretty much everything including indexers. Thus indexing takes quite a bit more time compared to what it should. It's more of a a core bug that should be addressed.

On our instance, due to constant data entry, it caused the CPU to use 32 cores at all times fully

[2021-12-12 15:01] DanielRuf commented on #34796
According to Elastic they are not vulnerable for log4shell.

See https://discuss.elastic.co/t/apache-log4j2-remote-code-execution-rce-vulnerability-cve-2021-44228-esa-2021-31/291476

Generally it makes not much difference if it is running behind Magento 2. In general ES has REST-APIs and is often available on specific ports.

Onlineshops should keep ES and Java updated to mitigate this.

[2021-12-12 16:18] DanielRuf commented on #34796
See also all comments at https://github.com/apache/logging-log4j2/pull/608

[2021-12-12 18:14] operations1 opened #34799 "Checkout/cart/product pages price and shipping zero values after upgrade from 2.2.8 to 2.4.3"
Preconditions (*)

    Magento CE upgraded to 2.4.3
    Nginx
    PHP 7.4

Steps to reproduce (*)

    1. Upgrade Magento from 2.2.8 to 2.4.3
    2. Re-index everything and clear all caches
    3. Go to product, cart and one step checkout pages

Expected result (*)

    Correct prices, order totals and shipping fees

Actual result (*)

    Zero product price and shipping (0.00). Checkout order sub

[2021-12-13 06:05] engcom-November commented on #34728
Hi @wildxl ,
We are closing this issue as there has been no latest update on the same.
Thank  you.

[2021-12-13 06:05] #34728 closed, assigned to engcom-November

[2021-12-13 08:11] karyna-t opened #34800 "Regular expression Error in ZendFramework"
An issue with a regular expression was found. Line:
https://github.com/magento/zf1/blob/master/library/Zend/Db/Statement.php#L198

Executed with some Sql queries it can return NULL, which means that the function had an [error](https://www.php.net/manual/en/function.preg-replace.php#refsect1-function.preg-replace-returnvalues).

I reproduced the issue with a specific query from PageBuilder module (

[2021-12-13 08:13] karyna-tsymbal-atwix commented on #34800
may be a fix, however it's only a suggestion, didn't check it in details
https://regex101.com/r/rbq5JH/1

[2021-12-13 08:18] engcom-Delta commented on #34629
We have noticed that this issue has not been updated for a period of 13 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2021-12-13 08:18] #34629 closed, assigned to engcom-Delta

[2021-12-13 08:22] engcom-Hotel commented on #34717
Hello @larsroettig,

We have tried to reproduce this issue and it is reproducible in Magento 2.4-develop branch. Steps we have followed in order to reproduce this issue is as follows:

**Steps**
1. Create a bundled product with a multi-select option.
2. Order that item from the front end.
3. Query the orders from GraphQL for e.g.:
[code]
4. The response for the above query is:
[code]

The issue oc

[2021-12-13 09:33] Prashanthtop12 opened #34801 "Magento 2.4.3-P1 showing negative price in Layered Navigation"
We have updated from 2.3 to 2.4.3-P1, and the Price Filters are showing negative price in Website.

after running SELECT count(*) FROM catalog_product_entity_decimal WHERE entity_id in (SELECT entity_id FROM catalog_product_entity c where c.type_id = 'configurable');, i have a count around 550

I saw we could delete the price records, but I am relatively new and a bit skeptical if that would not w

[2021-12-13 09:49] engcom-November commented on #34515
Hi @TekniskSupport
This is an issue related with 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Market place](h

[2021-12-13 09:49] #34515 closed, assigned to engcom-November

[2021-12-13 09:58] fritzmg commented on #34515
@engcom-November again, there is still need for action for Magento itself, see my explanation here: https://github.com/magento/magento2/issues/34634#issuecomment-989816327

Reporting this with Klarna won't matter as Magento still would have to release a new versino, once Klarna released a new version.

[2021-12-13 10:11] engcom-Hotel commented on #34402
Hello @kkhebbar89,

We have tried to reproduce this issue in Magento 2.4-develop branch but it is not reproducible for us. It might be possible it resolved in the latest release. Please try to reproduce it in the latest version and let us know if it is reproducible for you.

Thanks

[2021-12-13 10:37] engcom-November commented on #34794
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
Used Tax % is displayed in Front end Checkout page, Order Summary page, Admin Orders page, Invoice page etc - No issue
![image](https://user-images.githubusercontent.com/60198231/145797021-b80203fc-d371-4536-a9ec-84bfb2816641.png)
![image](https://user-images.githubusercontent.com/60198231/145797308-2a45f9b6-b

[2021-12-13 10:45] pablomishchenko commented on #34466
@magento I am working on this

[2021-12-13 10:45] pablomishchenko commented on #34466
@magento add to contributors team

[2021-12-13 10:46] pablomishchenko commented on #34466
@magento I am working on this

[2021-12-13 11:01] #34801 closed, assigned to nobody

[2021-12-13 11:13] m2-assistant[bot] opened #34805 "[Issue] Improve Bundle Option & Selection Data Extensibility"
This issue is automatically created based on existing pull request: magento/magento2#34803: Improve Bundle Option & Selection Data Extensibility

---------

### Description (*)
Updated the visibility from `private` to `public` for the following functions in `Magento\Bundle\Block\Catalog\Product\View\Type\Bundle` for improved extensibiility:
- `getOptionItemData()`
- `getSelectionItemData()`

### M

[2021-12-13 13:34] vandijkstef commented on #34794
@engcom-November : You actually confirmed my issue. You have the extended options enabled and that works. I want it to be visible without, especially when its a single tax class order. So just on a single line of output. "US-CA-*-Rate 1 (8.25%)" isn't really a customer friendly output anyway. "Tax 8.25%" is, doesn't require 'interaction' and hides 'technicalities' from customers.

[2021-12-13 13:43] engcom-Hotel commented on #34288
Hi @engcom-Alfa,

I have gone through the code and tried to find the usage of column “row_total_with_discount”. I have searched its getter and setter method but didn't find the direct function/method call to the method ->get/setRowTotalWithDiscount(). But this method is called through the object and its method map.

It is used under the checkout functionality and creates orders through admin.

Tha

[2021-12-13 13:48] engcom-Hotel commented on #34657
Hello  @pixel-paul,

Thank you for reporting the issue.

We have tried this issue on Magento 2.4-develop and we have successfully reproduced it.

Steps followed to reproduce issue:

1. Set the base URL for the media file. (Stores --> Configuration --> Web --> Base URL for User Media Files)
2. Setup media server URL and sync existing media folder to the media server.
3. Create/Edit product and add

[2021-12-13 13:57] engcom-Hotel commented on #34258
Hi @ioweb-gr,
I have tried the above query using the quotes around the integer value and without quotes, in both of the cases, the required indexes are being used. I have run the query using EXPLAIN ANALYZE and compared their plans, both are almost the same.

Please have a look at the query plan: https://explain.depesz.com/s/A63S

In the above link, I have added 2 plans one is with the quotes arou

[2021-12-13 14:07] ronak197 commented on #2380
Is this ever gonna be fix?

[2021-12-13 15:49] #34542 closed, assigned to nobody

[2021-12-13 15:53] xmav commented on #34573
library partially upgraded. leftovers currently ignored in test builds to unblock testing

[2021-12-13 15:55] andrewbess commented on #34573
Closed due to PR has been created

[2021-12-13 15:55] #34573 closed, assigned to anzin

[2021-12-13 16:02] ely-fornoville commented on #26840
I still have this issue in 2.4.3
Many clients have this error and we receive orders with the status Payment Review holding stock from salable qty and not expiring.

[2021-12-13 16:03] tripleasupplies opened #34807 "Magento 2 Problem: Allowing price to show on website"
hi all,

as I was changing my e-commerce website to show the pricing of each product. I didn't see the category permission to enable this action for my company's website. Is there any solution for this ?

[2021-12-13 17:15] #34538 closed, assigned to anzin

[2021-12-13 17:19] #34603 closed, assigned to nobody

[2021-12-13 17:28] SoCix commented on #33856
I am on 2.4.3-p and having same issue

[2021-12-13 17:29] SoCix commented on #33798
I am on Magento ver. 2.4.3-p1 and having same issue

[2021-12-13 19:35] antondkv commented on #33770
I faced the same issue on 2.4.3 during catalog importing for multi-stores. The duplication appears in  **\Magento\CatalogUrlRewrite\Model\ResourceModel\Category\Product::saveMultiple** method on insertMultiple step (56 and 61 rows).

I tried to find out the root of the problem but have not enough time for now, so as a temporary solution I just replaced the insert function with **insertOnDuplicate*

[2021-12-13 22:03] ihor-sviziev commented on #33770
Hi @antondkv,
Could you please create a new PR with explanation of the issue you have?
Thank you!

[2021-12-13 22:36] sdzhepa commented on #34613
@magento give me 2.4-develop instance

[2021-12-13 23:32] Adel-Magebinary commented on #19220
This still happens in 2.4.2

[2021-12-14 00:25] Adel-Magebinary commented on #25987
This still happens in 2.4.2 community. Introduced flock and separated the corn group now. Will report back if it still happens.

[2021-12-14 00:27] Adel-Magebinary commented on #26507
Still happens in 2.4.2

[2021-12-14 00:44] pagesailor commented on #25052
Issue is still present in Magento 2.4.1

[2021-12-14 01:30] marciomaciel opened #34809 "Add support to Remote Storage for Static files"
### Description (*)
In addition to the media content, the possibility of sending static content also to a remote storage would be interesting, allowing it to be shared in environments with multiple instances of the Magento application.

### Expected behavior (*)
Possibility of configuring a remote storage to store static content, thus allowing the same content to be made available to multiple inst

[2021-12-14 03:21] Joshua-Ye opened #34810 "search page result price filter missing"
### Preconditions (*)

1. Magento 2.4.3
2. Elasticsearch 7 on cloud server

### Steps to reproduce (*)

1. install M2
2. create one configurable product with several colors and different prices
3. enable price & color attribute in search results layered navigation
4. see the search result

### Expected result (*)

1. price filter will show on sidebar in search result page

### Actual result (*)

1

[2021-12-14 08:05] engcom-Hotel commented on #34810
Hello @Joshua-Ye,

We have tried to reproduce this issue in Magento 2.4-develop branch. But we are unable to reproduce it, we can see the `price` attribute in `Shopping Options` while searching. Please have a look at below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/145957597-191523c6-1797-4a25-aff7-c11799a834e6.png)

Please let us know if we have missed

[2021-12-14 08:15] engcom-Hotel commented on #34807
Hello @tripleasupplies,

Thank you for your report.

To speed up the processing of this issue, please provide us with the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2021-12-14 09:24] ihor-sviziev commented on #33798
Hi @SoCix,
Please review https://github.com/magento/magento2/issues/33856#issuecomment-946761019 for the information about fix for this issue.

[2021-12-14 09:35] dphilipps commented on #33799
Hi @chequille
Have you checked that consumers are running, specifically **inventory.reservations.updateSalabilityStatus**

This consumer is responsible for changing the salability status after a product is completely sold out.  And because it runs as an asynchronous process, there is sometimes a delay in the sold out product being crossed out on the front-end.  Without the consumer running, it doe

[2021-12-14 09:51] dphilipps commented on #34127
@engcom-Alfa
Whilst sounding similar and having a similar effect, this is actually a **different issue with a different use-case**.

This issue occurs when **a manual reindex is done, or indexes invalidated via admin**, causing a reindex.  This reverts/resets the salabililty data which is set by the **inventory.reservations.updateSalabilityStatus** consumer when a product sells out.

The related b

[2021-12-14 10:17] dudzio12 commented on #34784
Fixed by https://github.com/magento/magento2/pull/34785

[2021-12-14 10:18] msheehan21 opened #34811 "Something went wrong with processing the default view and we have restored the filter to its original state."
### Preconditions (*)

1. 2.3.4-p2
2.

### Steps to reproduce (*)

1. When entering to **products** in the Catalogue menu, an error message comes up "Something went wrong with processing the default view and we have restored the filter to its original state." I am unable to search or edit products.  I logged in and out and tried other browsers, issue persists.
2.

### Expected result (*)

1. [Scre

[2021-12-14 10:20] engcom-Hotel commented on #33901
Hello @tuyennn,

Thanks for posting the issue!

We have tried it in Magento 2.4-develop and seems this is expected behaviour. If the original file has been removed then it should raise an error so that the admin can check this issue.

Please correct me if I am wrong.

Thanks

[2021-12-14 10:31] tuyennn commented on #33901
@engcom-Hotel I believe while I process the customer group as saving them for example then I also have to check all the member of this group whether several or many customer members were missing those data.

If you find that is expected behaviour I will close the ticket, but please get me back those questions

[2021-12-14 10:44] demandre commented on #5115
I think this issue has been treated here : https://github.com/magento/magento2/issues/21237

[2021-12-14 10:55] SoCix commented on #33856
Thanks ihor, I've applied the patch, and it is working like a charm, thank You

[2021-12-14 10:55] SoCix commented on #33798
Thanks ihor, I've applied the patch, and it is working like a charm, thank You

[2021-12-14 11:23] freakpol commented on #34796
So, if we indeed need to have ES updated to mitigate this, should we update to 7.16.x? Whats the deal with the requirement matrix then? For 2.4.2, 2.4.3 it says ES should be 7.9 and for 2.4.4 and 2.4.5 it should be 7.10, so, not sure how to deal with this....

[2021-12-14 11:26] DanielRuf commented on #34796
@freakpol did you read the official statement?

https://github.com/magento/magento2/issues/34796#issuecomment-991913539

Not sure, maybe it is the "least" requirement.

[2021-12-14 11:27] DanielRuf commented on #34796
Latest statement (see discussion):

[2021-12-14 13:43] #33889 closed, assigned to nobody

[2021-12-14 13:43] #34337 closed, assigned to nobody

[2021-12-14 14:00] sdzhepa commented on #34613
@magento give me 2.4-develop instance

[2021-12-14 14:11] engcom-Hotel commented on #34137
composer-root-update-plugin version ~2.0  change has already been made and will be released in 2.4.4

To upgrade from pre-2.4.4 using the new require-commerce command, users will need to require the new version of the plugin manually, but any fresh installation of 2.4.4 (or higher, when we get there) will include the correct plugin version.

Of note, the previous version of the plugin will still w

[2021-12-14 14:11] #34137 closed, assigned to nobody

[2021-12-14 14:55] preeteshtavant commented on #34602
@Usik2203
thanks for reply, i will go through those links but could you please clear me on below points

1. if expected result is incorrect than how @engcom-Delta mentioned that it is reproducible and confirmed.
2. Are you saying that if customer logged in by selecting this remember me option , he/she will never be logged automatically.
3. If expected result is incorrect than what about those arti

[2021-12-14 16:12] ageffray commented on #33157
Any update on this bug ?
@engcom-Lima it's a real bug, as @millennialdeveloper said address is defined on Paypal not on checkout

[2021-12-14 17:02] ashar01 commented on #33417
@magento give me 2.4-develop instance

[2021-12-14 17:19] ihor-sviziev commented on #34799
Hi @operations1,
It looks like this is a duplicate of https://github.com/magento/magento2/issues/33856 that was already fixed in the 2.4-develop branch. For more info, please check https://github.com/magento/magento2/issues/33856#issuecomment-946761019

[2021-12-14 17:25] ashar01 commented on #33417
@magento give me 2.4-develop instance

[2021-12-14 18:46] SolsWebdesign opened #34814 "Catalog Product Gallery UpdateHandler class not extending CreateHandler correctly"
### Summary (*)
Currently the class UpdateHandler (agento\Catalog\Model\Product\Gallery\UpdateHandler.php) prevents developers from writing a preference for CreateHandler due to an incorrect extend of this class that happens to be in the same directory.

### Examples (*)
Let's say you would like to rewrite a function in CreateHandler and you have in your module a di.xml containing the following li

[2021-12-14 20:21] DanielRuf commented on #34796
See also https://xeraa.net/blog/2021_mitigate-log4j2-log4shell-elasticsearch/

[2021-12-14 20:38] chequille commented on #33799
Hi @dphilipps ,
must be honest, I do not know how to check. As well, as I do not need it currently, I don't have cronjobs running.
But I know, that this did all work in Magento 2.3.x wihtout problem.

My solution currently is to make the changes in Magento/InventoryIndexer/Model/IsProductSalable.php as describe in https://github.com/magento/magento2/pull/33885

Fact as I see it is, that as I said

[2021-12-14 21:26] iflam opened #34815 "Media Gallery mediaAttribute string|array, only array works"
### Preconditions (*)

1. When doing $product->addImageToMediaGallery(), it says you can provide both a string and an array, however if you provide a string then it breaks.

### Steps to reproduce (*)

1. Create a product programmatically
2. addImageToMediaGallery($path, "thumbnail")
3. productRepository->save($product)
### Expected result (*)

1. Image is added successfully on saving with product

[2021-12-15 00:56] PivitParkour94 opened #34816 "Vertex_Tax Module Requires Vertex_RequestLogging"
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Enable Vertex_Tax module (vendor\vertexinc\module-tax) with Vertex_RequestLogging (vendor\vertexinc\module-request-logging) disabled
2. Add product to cart

### Expected result (*)

1. Product adds to cart

### Actual result (*)

1. Error is thrown
2. Nothing logged

---
Please provide [Severity](https://devdocs.magento.com

[2021-12-15 05:23] nidhigupta13-ey commented on #33702
I am picking up this issue, can you please assign it to me?

[2021-12-15 06:19] trunglv commented on #3294
***So somewhat reason, Customer Session is modified by other functions before.***
It will work well if we create a new instance. ***Create***
[code]
It won't work if we get already an instance one. ***GET***
[code]
And use an instance from Constructor as well. By default, Object Manager will use GET function to inject an instance.

[2021-12-15 06:28] ihor-sviziev commented on #34816
@magento/ext-vertex, could someone check this issue?

[2021-12-15 08:14] doninAtwix commented on #32351
@magento I am working on this

[2021-12-15 10:23] engcom-Hotel commented on #34590
Dear @Axel29,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-15 10:23] #34590 closed, assigned to engcom-Hotel

[2021-12-15 10:52] millennialdeveloper commented on #33157
The whole point of PayPal Express is not to have the user input their address again on the store to speed things up and get it directly from PayPal 🙄 how is it not an issue?

Magento should do better

[2021-12-15 11:00] engcom-Hotel commented on #33901
Hello @tuyennn,

Please clarify the below comment:

Thanks

[2021-12-15 11:08] Usik2203 commented on #34546
@magento I am working on this

[2021-12-15 11:56] tuyennn commented on #33901
@engcom-Hotel I believe this is still the problem while it prevents us to process customer, customer group which related to this exception.

But fine, Magento often considered expect behavior rather than admit it a bug.

[2021-12-15 11:56] #33901 closed, assigned to engcom-Hotel

[2021-12-15 12:47] Hexmage commented on #34546
@Usik2203 I'd rather have something that has to be unique to identify the product, because the product name can be identical for products. Also your solution doesn't solve the null object that suddenly got added to the items array.

[2021-12-15 13:38] navarr commented on #34816
If I remember correctly, `vertexinc/module-tax` requires there to be an implementation of `vertexinc/module-request-logging-api`.  When I was on the team we attempted to set this up with a requires and a provides (on vertexinc/module-request-logging) but was told it was unsupported.

A quick, incorrect fix would be to simply have vertexinc/module-tax require vertexinc/module-request-logging but it

[2021-12-15 14:36] engcom-Hotel commented on #34815
Hello @iflam,

We have tried to reproduce this issue in Magento 2.4-develop branch but for us, it is not reproducible. Please have a look at the below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/146205559-d2a0e5c6-e9d3-4cd3-966d-c2e50767e21b.png)

We have used the below lines to upload an image:

[code]

Please let us know in case we have missed anything.

[2021-12-15 14:53] engcom-Hotel commented on #34789
Hi @mohanwbsofttech.

Thank you for your report.
To speed up the processing of this issue, make sure that you provided the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2021-12-15 14:55] Usik2203 commented on #34124
@magento I am working on this

[2021-12-15 15:17] Usik2203 commented on #34570
@magento give me 2.4-develop instance

[2021-12-15 15:37] sidolov commented on #34787
@kwojc `Magento\InventoryApi\Api\Data\SourceItemInterfaceFactory` is auto-generated factory class to provide ability to generate objects based on `Magento\InventoryApi\Api\Data\SourceItemInterface` located under inventory repo: https://github.com/magento/inventory/blob/develop/InventoryApi/Api/Data/SourceItemInterface.php#L20.
Please, provide more details in case I'm missing something.

[2021-12-15 15:57] hostep commented on #30029
Another way to workaround this problem in case you can't get the quote from the `$subject`, is to fetch the quote id from the session, then load the quote using a QuoteFactory. That way it also circumvents an infinite loop.

[2021-12-15 18:30] nmintcheva commented on #34469
Hello, I was able to reproduce it with the same exception.log error message as above. The steps I took on my local were to 1. enable reCaptcha v2 invisible and 2. try to submit a message through the contact form.

[2021-12-15 18:40] Axel29 opened #34822 "Can't deploy with multi-threading + compact mode"
### Preconditions

1. Magento 2.4.3-p1 (also tested on 2.3.4)

### Steps to reproduce

1. Create a first theme as child of Magento/blank
2. Create a second theme as child of the first theme
3. Create a CSS (can be empty for the test) in the parent theme's `web/css` folder
3. Try to deploy the child theme's static content with multi-threading and compact mode enabled :
[code]

### Expected result

[2021-12-15 20:26] iflam commented on #34815
After that you ran save() on product repository? That's the part where it doesn't work for me.

[2021-12-15 22:43] PivitParkour94 commented on #34816
Yeah in my debugging, I found no actual reference to the RequestLogging module, but it seems that the di had gotten into a state that the logger was implicitly trying to load that module. A rather strange issue, that broke all logging and was tedious to track down.

I just don't want someone else to have the same issue.

[2021-12-16 05:04] glo11468 commented on #34271
Hi @mklooss,

Please find attached proofs for reference and updated issue description.
![PT_taxRule](https://user-images.githubusercontent.com/90306034/146310895-3679cd0b-29bc-4f8a-8e75-3c0c2e8ccbf2.JPG)
![PT_taxRule_star_configured](https://user-images.githubusercontent.com/90306034/146310936-b33f6333-5b11-4dc2-90a8-85f6316c1db6.JPG)
![PT_taxRule_Star](https://user-images.githubusercontent.com/90

[2021-12-16 06:12] engcom-Delta commented on #34271
Hi @mklooss,

Please find attached proofs for reference and updated issue description.

**Issue description:** irrespective of zip code & tax rule , tax gets calculated only default is 23% which is zip code set '* '.

Screenshots:
![PT_taxRule_star_configured](https://user-images.githubusercontent.com/51681379/146317960-dcc52c38-9919-46f8-bbe7-3f468344e75c.JPG)
![PT_taxRule_Star](https://user-imag

[2021-12-16 07:40] engcom-Hotel commented on #33826
Hi @speedupmate,

Thank you for reporting the issue.

However, we tried to reproduce it on Magento 2.4-develop, we didn’t find any error in the checkout and the adding/updating billing address.

Steps followed to reproduce issue:
1. Added product to the cart, started the checkout process.
2. Added new billing address, also tried the existing address.
3. Able to checkout successfully.
4. Tried to u

[2021-12-16 07:46] engcom-Hotel commented on #34815
Hello @iflam,

Thanks for the reply!

Yes we are also running `$product->save();` after that. We request you to please try to reproduce it in Magento 2.4-develop branch and let us know if it is reproducible for you.

Thanks

[2021-12-16 08:06] engcom-Hotel commented on #34736
Hello @iflam,

Thanks for reporting this issue!

We have tried to reproduce this issue in Magento 2.4-develop branch and it is reproducible for us. As per the code in this [file](https://github.com/magento/magento2/blob/7900123af59e5d7f2c90f053fe5189ac04380108/app/code/Magento/Catalog/Model/Product.php#L664), it should return `int`, but actually, it is returning `string`:

`echo gettype($product->

[2021-12-16 08:16] engcom-Hotel commented on #34779
Hi @in-session,

Thank you for reporting the issue.

Verified the issue and is reproducible on the 2.4-develop instance.

Below are the steps which I followed to reproduce this:

1. Open frontend started Chrome Mobile Emulator.
2. The first time, the left menu is working as expected.
3. From the menu, click on the Women section or any section.
4. Once the clicked section page loaded, clicked on th

[2021-12-16 08:22] engcom-Hotel commented on #34726
Hi @n2diving-dgx

Thank you for your input.

Now coming to your point, I think for now it's okay to have X-XSS-Protection: 1; mode=block as default since Safari supports XSS auditor which you also agreed on. Once all the browsers remove support for it, we can look at it again or make X-XSS-Protection: 0; as default or provide Admin UI to change value respectively as you suggested.

Let me know if

[2021-12-16 08:57] engcom-Hotel commented on #34696
Hello @vahir2016,

We have tried to reproduce this issue in Magento 2.4-develop with EE, but for us it is not reproducible for us.

We have debugged the code and our code has been reached in the above code.

For us the below query has been generated:
[code]

Please let us know in case we have missed anything.

Thanks

[2021-12-16 09:13] Joshua-Ye commented on #34810
Hi @engcom-Hotel,

Thank you very much for your help.
I made a boo-boo. I apologize.
I regarded the Cost of product attribute to Price.
I am terrible sorry for these.
Please forgive me.
This issue can be closed.

Best Regards

[2021-12-16 09:22] engcom-Alfa commented on #31870
As I have re-verified again, the $saveoptions is not getting omitted!
Please refer below steps that I have followed, and kindly let me know if anything needs to be added/changed.

**Using existing model:**

1. Referred the ConfigurableProduct module and its di.xml; Changed the sort order to 40 as shown in below screenshot
<img width="1440" alt="Screenshot 2021-12-16 at 2 35 39 PM" src="https://use

[2021-12-16 09:51] engcom-Hotel commented on #32590
@magento give me 2.4-develop instance

[2021-12-16 09:54] amenk commented on #33770
@ihor-sviziev My Pullrequest https://github.com/magento/magento2/pull/34791 does something similar like @antondkv approach - no clue what's better...

I realized today, that https://github.com/magento/magento2/issues/33770#issuecomment-898520221 is just dropping all the contraints, so it is no suprise that they key violation vanish after that.

[2021-12-16 09:57] engcom-Hotel commented on #32590
@magento give me 2.4-develop instance

[2021-12-16 10:11] bireney commented on #33455
Assign to me

[2021-12-16 10:17] Thundar commented on #33770
@amenk The constraints are not present before https://github.com/magento/magento2/issues/33770#issuecomment-898520221 . It is meant to solve the error before this query is run in setup:upgrade.
ALTER TABLE catalog_url_rewrite_product_category ADD CONSTRAINT PRIMARY KEY (url_rewrite_id);
So you should have the constraints after the setup:upgrade.

[2021-12-16 10:25] amenk commented on #33770
@thundar I actually was running it after the upgrade because I still got unique key constraint errors on category save.
That problems then disappeared, because the unique-key-constraints were not there any more and I wondered why.

I still think it is safer to filter the table using

    alter ignore table catalog_url_rewrite_product_category add unique index tmp_remove_key(url_rewrite_id, categor

[2021-12-16 10:30] Thundar commented on #33770
@amenk I use this to prevent duplicates from both category save and csv import: https://github.com/magento/magento2/issues/33770#issuecomment-924837177

[2021-12-16 10:33] gkunz commented on #34795
Kind reminder. If you are interested, please let me know before 2021-12-20.

[2021-12-16 11:02] engcom-Hotel commented on #32590
Hello @heerdt,

We have tried to reproduce this issue in Magento 2.4-develop branch. But it is not reproducible for us, may be the issue has been already resolved. We request you to please try to reproduce it in the 2.4-develop branch and let us know if it is still reproducible for you.

We have run the below mutation to add Bundle product in the cart:
[code]

And the response for the same is as f

[2021-12-16 11:08] engcom-Hotel commented on #34663
Hello @Vartikamish,

This issue is not related to Magento core, please contact the actual developer of this module from Marketplace. I am closing this issue from here.

Thanks

[2021-12-16 11:08] #34663 closed, assigned to engcom-Hotel

[2021-12-16 11:08] Usik2203 opened #34825 "[Issue][MFTF] extends tests from Magento Enterprise"
### Preconditions (*)

While running `AdminLoginSuccessfulTest` for Magento Commerce  i see next mesage

<img width="1283" alt="Screenshot 2021-12-16 at 13 04 59" src="https://user-images.githubusercontent.com/13517181/146360593-45695921-67b5-407a-9537-df3aa9dc04b0.png">

### Steps to reproduce (*)

1. Run `./vendor/bin/mftf run:test AdminLoginSuccessfulTest --remove`
2. See `dev/tests/acceptance/

[2021-12-16 12:10] #34789 closed, assigned to engcom-Hotel

[2021-12-16 12:47] engcom-November commented on #34729
Hi @LadyMEnterprises ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-16 12:47] #34729 closed, assigned to engcom-November

[2021-12-16 12:52] amenk commented on #34154
Happens also for `PUT /rest/V1/products/attributes/test_attribute` with lots of options.

[2021-12-16 13:01] engcom-November commented on #34725
Hi @0xMatt ,

We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-16 13:01] #34725 closed, assigned to engcom-November

[2021-12-16 13:02] engcom-November commented on #34574
Hi @laminatinkaa ,

We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-16 13:02] #34574 closed, assigned to engcom-November

[2021-12-16 13:02] speedupmate commented on #33826
@engcom-Hotel

this is so simple programming ABC I can't even argue here:

1. if you request a property or method from the object and the object does not exist it will fail so `currentBillingAddress().street` will fail if `currentBillingAddress()` is "null, undefined, false , or does not have the street property".
2. it was working before and you were spoon fed with the exact line and before and a

[2021-12-16 13:04] engcom-November commented on #34601
Hi @davidduong90 ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-16 13:04] #34601 closed, assigned to engcom-November

[2021-12-16 13:05] engcom-November commented on #34052
Hi @lilbumblebear ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-16 13:05] #34052 closed, assigned to engcom-November

[2021-12-16 13:15] engcom-Delta commented on #34269
We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh  ticket or reopen this ticket if you need more assistance on this.

[2021-12-16 13:15] #34269 closed, assigned to engcom-Delta

[2021-12-16 13:46] engcom-November commented on #34816
Hi @PivitParkour94 ,
Thank you for reporting. However, this is an issue related with 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(supp

[2021-12-16 13:46] #34816 closed, assigned to engcom-November

[2021-12-16 13:47] ihor-sviziev commented on #33826
Maybe @sdzhepa ?

[2021-12-16 13:48] ihor-sviziev commented on #34816
@engcom-November, this is bundled extension, not the 3rd party

[2021-12-16 13:52] engcom-November commented on #34727
Hi @xtremevision ,
It looks like this is a duplicate of https://github.com/magento/magento2/issues/33856 that was already fixed in the 2.4-develop branch. For more info, please check the [comment](https://github.com/magento/magento2/issues/33856#issuecomment-946761019)

[2021-12-16 13:55] navarr commented on #34816
Bundled extensions are being unbundled as of 2.4.3; so it's likely OK that it is closed.  A fix could not be backported anyway, since its a composer.json metadata issue.

[2021-12-16 14:14] engcom-November commented on #23908
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible. Also, related JIRA is closed and [PR](https://github.com/magento-commerce/magento2ce/pull/4998) is merged. Hence we are closing this issue.
Thank you.

[2021-12-16 14:19] xtremevision commented on #34727
Mmm... I will try this patch and see what mileage I get. Thank you.
But how do you explain it is working fine or one server but not on another? Same codebase/version, but different hosting stack?

[2021-12-16 15:49] convenient commented on #28092
We're seeing this issue as well on an enterprise client. Replicable on safari and firefox when you quickly click the paypal button after selecting the payment method.

[2021-12-16 16:34] itsmemagento commented on #34650
Hi @thehl  @engcom-Hotel  Is there any fix for this issue ?

[2021-12-16 16:34] arjunadobe commented on #34649
Hi @thehl  @sidolov  Is there any fix for this issue ?

[2021-12-16 16:35] arjunadobe commented on #34650
I am also facing the same issue in Magento 2.4.3-p1

[2021-12-16 16:35] arjunadobe commented on #34649
I am also facing the same issue in Magento 2.4.3-p1

[2021-12-16 16:36] itsmemagento commented on #34650
I am also facing the same issue in Magento 2.4.3-p1

[2021-12-16 16:37] itsmemagento commented on #34649
@thehl Is there any fix this issue

[2021-12-16 20:50] mahmoudbeikhit opened #34830 "Magento 2.4.3-p1 Checkout Infinite loop detected"
### Preconditions (*)
After I upgrade Magento form 2.4 to 2.4.3-p1  get error in Checkout page

1-Add product to cart and go to checkout page
2-Select any payment method and try to checkout

### Steps to reproduce (*)

1- Add product to cart and go to checkout page
2- Select any payment method and try to checkout
3- I got this error "Internal Error. Details are available in Magento log file. Repor

[2021-12-16 21:35] #34477 closed, assigned to xmav

[2021-12-16 21:55] jonashrem opened #34831 "Magento installation fails with composer 2.2.0 RC1"
magento installation fails with composer 2.2.0 RC1

### Preconditions (*)
install composer 2.2.0 RC1

### Steps to reproduce (*)
download composer 2.2.0 from https://getcomposer.org/download/2.2.0-RC1/composer.phar
php7.4 composer2  create-project --repository-url=https://repo.magento.com/ magento/project-community-edition magento2

### Expected result (*)
magento installes as with composer 2.1

#

[2021-12-16 22:23] PivitParkour94 commented on #34816
So, if this is closed.... where do I make an issue to have this fixed with Vertex (assuming they are some other 3rd party.. Even though it is bundled in core)?

@navarr unbundled as of 2.4.3? This is on 2.4.3 and still bundled? Sorry I'm just a little confused here

Could someone please explain the choice to close the issue?

[2021-12-16 23:31] PivitParkour94 commented on #34816
Turns out as a customer of Magento, you have special access to the 3rd party (but bundled?) module companies customer support.
Just a simple typo from @navarr which meant to say 2.4.4 (so the coming version)
That clears things up.
Thanks slack!

[2021-12-17 02:28] brideo opened #34832 "Magento custom attributes not being updated via the api"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Have a product with a description set to "a"
2. Try and update it via the API to "b"

[code]

### Expected result (*)

1. Description should be "b"

### Actual result (*)

1. description is still "a

---

`$product->getData('description')` uses the `$_data` variable on the DataObject whereas `$product->getData()` uses `getCust

[2021-12-17 06:44] VivekShingala commented on #21738
Thanks @khasru

Worked for me in M2.4.2

[2021-12-17 07:31] engcom-Hotel commented on #34675
Dear @mimou78,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-17 07:31] #34675 closed, assigned to engcom-Hotel

[2021-12-17 07:36] engcom-Hotel commented on #34810
Dear @Joshua-Ye,

Thanks for the confirmation!

As per your comment, we are closing this issue.

Thanks

[2021-12-17 07:36] #34810 closed, assigned to engcom-Hotel

[2021-12-17 07:44] mlaurense opened #34833 "Crowdin translations aren't updating to the composer language packages"
### Preconditions (*)

1. N/A (all versions)

### Steps to reproduce (*)

1. Translations are made on https://crowdin.com/project/magento-2/activity-stream
2. Translations are not visible in their composer packages, e.g. https://github.com/magento-l10n/language-nl_NL

### Expected result (*)

1. Translations should be in the Github projects within a day or two

### Actual result (*)

1. On decembe

[2021-12-17 07:54] vrkansagara opened #34834 "Why https://www.magento.com redirect to https://business.adobe.com"
issue :- **Why https://www.magento.com redirect to https://business.adobe.com**

Any strategic decision behind **Magento Open source** ? or Someone is playing !

[2021-12-17 09:00] oviliz commented on #23908
@engcom-November this is a popular cross-version issue going around for many years and you took the liberty to close it simply because you were unable to reproduce?!... :(

[2021-12-17 09:02] makzef commented on #34830
@magento give me 2.4-develop instance

[2021-12-17 09:56] engcom-Hotel commented on #34834
Hello @vrkansagara,

The issue is not related with core Magento functionality. This board is using for collecting the issues occurs in Magento code modules. So we are closing this issue.

Thanks

[2021-12-17 09:56] #34834 closed, assigned to engcom-Hotel

[2021-12-17 10:22] engcom-Hotel commented on #34831
Hello @jonashrem,

We have tried this issue by running below command:

`./composer220RC1.phar create-project --repository-url=https://repo.magento.com/ magento/project-community-edition magento34831 <FOLDER-NAME>`

And for us, the issue is reproducible for us:

![image](https://user-images.githubusercontent.com/51681618/146529696-b612ec99-2601-486b-831b-bc0278c28bcc.png)

Hence confirming this iss

[2021-12-17 10:28] manhtranisobar opened #34835 "Landing page for Website Closed does not work"
### Preconditions (*)

1. Magento 2.4.1-p1
2. PHP 7.4
3. Use redis for default cache

### Steps to reproduce (*)

1. Go to Website Restrictions configuration General > General > Website Restrictions
2. Change Access Restriction to Yes
3. Select 503 CMS page as Landing Page
4. Save configuration and clear cache
5. Go to frontend and access homepage
![image](https://user-images.githubusercontent.com

[2021-12-17 10:32] vrkansagara commented on #34834
@engcom-Hotel Can you tell me the right place for raising this issue ?

[2021-12-17 10:33] vrkansagara commented on #34834
Ping @m2-community-project re-open this issue.

[2021-12-17 10:55] m2-assistant[bot] opened #34836 "[Issue] MFTF: Unlock Admin User Entity Test"
This issue is automatically created based on existing pull request: magento/magento2#32758: MFTF: Unlock Admin User Entity Test

---------
This PR contains a test for unlocking admin user on "Locked Users" grid

**Steps to reproduce:**

1 - Create Admin user

2 - Lock Admin User

3 - Find locked Admin User on "Locked Users" grid

4 - Unlock Admin User

5 - Perform Assertions

[2021-12-17 11:26] gmonseur commented on #29090
Hi

I have the same problem in Open Source 2.4.3-p1. I would add that the problem is not solved by adding the column "is_in_stock" in csv file. The column seems to be simply ignored.

I think you need to change the following condition:

https://github.com/magento/magento2/blob/8afdb9858d238392ecb5dbfe556068ec1af137bc/app/code/Magento/CatalogImportExport/Model/Import/Product.php#L3191

By this
`if

[2021-12-17 11:50] ihor-sviziev commented on #23908
@engcom-November, could you provide some **public** pull request link or links to commits that fix this issue?

[2021-12-17 12:16] engcom-Hotel commented on #34835
@magento give me 2.4-develop instance

[2021-12-17 12:35] engcom-November commented on #34811
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue
Admin - Catalog - Products - Search using Product Name or any other filter applied - No issue. Search working fine.
User is able to navigate to Product Details page.
@msheehan21 FYI.. Sometimes, this error can occur due to version upgrade. Check "catalog_product_entity" table in DB and verify if any Products ha

[2021-12-17 13:09] engcom-November commented on #34281
Hi @oneserv-heuser ,
As per official Magento [dev docs,](https://devdocs.magento.com/guides/v2.4/graphql/interfaces/category-interface.html) this is an expected behavior
The path to the category is a a string of category IDs, separated by slashes (/). For example, 1/2/20
![image](https://user-images.githubusercontent.com/60198231/146549237-44ac626c-8bd1-4cef-93dd-461e705e9de9.png)
Hence changing c

[2021-12-17 14:03] engcom-November commented on #33848
Hi @paales ,
As per official Magento [dev docs,](https://devdocs.magento.com/guides/v2.4/graphql/queries/cart.html) this is an expected behavior
"price_excl_tax" and ""price_incl_tax"" are available for  available_shipping_methods but not for Discount.
"SelectedShippingMethod" has amount only but not price_incl_tax and price_excl_tax
Hence implementing these features can be considered as a feature

[2021-12-17 16:04] tradeincarthage opened #34841 "Magento 2.4 translate checkout, quantity in product page, compare and my wishlist near search bar"
Hi Guys)

Preconditions
Magento 2.4
Steps to reproduce and Environment
I have a multilanguage store.

I used the GitHub method to install relevant language packs The file containing the different language packs is located at /var/www/html/magento/app/i18n/Mageplaza Each language pack such as fr_fr, ar_sa is composed of: composer.json, language.xml, license, registration.php, fr_FR.csv

I have almo

[2021-12-17 16:28] jmulleman commented on #34678
@reense A temp fix can be setting the indexing on schedule is still terribly slow but the product is saving without errors.

[2021-12-17 17:07] efurnituremax commented on #30341
This is exactly our issue as well.  Working on developing the checkbox ourselves as this is a core bug.  Even if you set price scope - Global, it ignores the custom option value in the store view.

[2021-12-17 17:57] fredden commented on #31752
@sdzhepa or @dhorytskyi, please can you provide some information here to explain why this has been closed?

[2021-12-17 18:21] sdzhepa commented on #33826
@engcom-Hotel

Could you please review this issue one more time?
also, i noticed that this issue was fixed in the scope https://jira.corp.magento.com/browse/AC-691. PR is created but not merged yet. I assume it means that Issue is reproducible

So, could you pls investigate the situation and bring more clarity to it?

cc: @ihor-sviziev , speedupmate

[2021-12-17 18:31] ebmau76 commented on #32589
Same problem with my multi-language store. When copying a simple products, where storeview data (languages) is added for 3 stores, after copying, the Content part is back to default and no storeview data is passed on.
Any News? Melhores cumprimentos, 2.4.3p1

[2021-12-17 19:09] sdzhepa commented on #31752
Hello @fredden

As I can see this issue was fixed in the scope of the Jira ticket by the internal team
Related commits: https://github.com/magento/magento2/search?q=MC-41807&type=commits

[2021-12-17 19:49] fredden commented on #31752
Thanks @sdzhepa that's helpful. From what I can tell, deleting all values from the `catalogrule_product_price_replica` table seems safe.

[2021-12-17 22:11] kanevbg commented on #31752
Confirming I have done this previously and had no issue in practice.

[2021-12-17 22:20] kanevbg commented on #32589
This issue is not available in 2.3.6+ on the 2.3.x release line

[2021-12-17 22:33] samma3a-dev commented on #34799
Thanks Ihor. So I need to upgrade to 2.4-develop branch in order to fix it?

[2021-12-17 22:39] operations1 commented on #34799
Thanks @ihor-sviziev. So I need to upgrade from 2.4.3 to 2.4-develop branch in order to fix it?

[2021-12-17 22:41] ebmau76 commented on #32589
Unfortunately it is on 2.4

[2021-12-18 07:18] ihor-sviziev commented on #34799
@operations1, you can apply that fix as a patch

[2021-12-18 10:46] ihor-sviziev commented on #34799
Hi @operations1,
I'm closing this issue as a duplicate of https://github.com/magento/magento2/issues/33856

[2021-12-18 10:47] #34799 closed, assigned to ihor-sviziev, engcom-November

[2021-12-18 10:48] ihor-sviziev commented on #34831
@sidolov i put priority to p1 as you can’t crate a new magento project with composer 2.2

[2021-12-18 19:02] xtremevision commented on #14881
Confirmed in Magento 2.3.7. The "additional_attributes" column is totally igored.

[2021-12-19 07:52] usman-xs4arabia-dev opened #34843 "Element 'route': Missing child element(s). Expected is ( resources )."
I'm using magento 2.4.3-p1 and while running setup:upgrade commend I'm getting this error.

[2021-12-19 10:56] andrewbess commented on #34843
Hello @usman-xs4arabia-dev
Could you please provide screenshot and stack trace of your error?
Thank you in advance.

[2021-12-19 13:09] usman-xs4arabia-dev commented on #34843
![image](https://user-images.githubusercontent.com/96001451/146675939-0cb1a12c-3d02-4740-8ba8-54e0665258d0.png)

[2021-12-19 13:11] usman-xs4arabia-dev commented on #34843
Moreover there is another module Magento_MysqlMq in which I'm also getting the same error. So two module Magento_Ampq and Magento_MysqlMq.

[2021-12-19 13:42] usman-xs4arabia-dev commented on #34843
![image](https://user-images.githubusercontent.com/96001451/146677009-ee2eb92a-58c7-46f7-b5ea-336563523848.png)

[2021-12-19 15:46] zeekinfo opened #34845 "Upgrade 2.4.2 to 2.4.3 error: Integrity constraint violation"
I was trying to upgrade from 2.4.2 to 2.4.3 in my test environment. While trying to run bin/magento setup:upgrade,

The below error appeared:

SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '249191' for key 'PRIMARY', query was: ALTER TABLE catalog_url_rewrite_product_category ADD CONSTRAINT PRIMARY KEY (url_rewrite_id)

How to fix these issues

[2021-12-20 02:59] HuaZilly commented on #10410
Oke @nntoan

[2021-12-20 05:22] devqualwebs opened #34846 "Export CSV or excel both only works in the second time."
### Preconditions (*)

1. Install and setup magento 2
2. Even tried with the latest version of magento. Orders, products, reports all export option works in second time.

### Steps to reproduce (*)

1. Login to the admin panel.
2. Go to reports section, click on export CSV.
3. It will redirect to the dashboard page instead of export the csv.

### Expected result (*)

1. After clicking on the expor

[2021-12-20 06:50] engcom-Hotel commented on #33123
Hello @laurentiumagureanu @cpartica,

We have tried to reproduce the issue in Magento 2.4-develop branch but still, we are not able to reproduce it. Please find the below video for reference:

https://user-images.githubusercontent.com/51681618/146723990-c0332a4c-4da4-4bd9-86b3-41042c7582fb.mp4

Hence we are closing this issue.

Thanks

[2021-12-20 06:50] #33123 closed, assigned to nobody

[2021-12-20 08:00] engcom-Alfa commented on #34766
@magento give me 2.4-develop instance

[2021-12-20 08:53] webgility-amazonapi commented on #34178
Hi @engcom-November , Is there any update on the issue fix??

Thanks,

Webgility Apollo Team

[2021-12-20 08:57] m2-assistant[bot] opened #34847 "[Issue] Add core/app as deps in requirejs config"
This issue is automatically created based on existing pull request: magento/magento2#34701: Add core/app as deps in requirejs config

---------
After many performance tests with the default luma theme and other themes I found out that the Magento_Ui/js/core/app should be inserted as deps because it managing the frontend components. This way the file is loaded earlier and does not block the rest of

[2021-12-20 08:57] ihor-sviziev commented on #34845
Hi @zeekinfo,
Thank you so much for your report!
I'm closing this issue as a duplicate of https://github.com/magento/magento2/issues/33770.

[2021-12-20 08:57] #34845 closed, assigned to ihor-sviziev

[2021-12-20 09:04] ihor-sviziev commented on #33770
It looks like this issue was caused by https://github.com/magento/magento2/issues/34210 + in 2.4.3 was added unique key on this table.

[2021-12-20 09:37] engcom-November commented on #34783
As per official Magento [dev docs,](https://devdocs.magento.com/guides/v2.4/graphql/queries/products.html) new_to_date and new_from_date are deprecated input attributes. Hence implementing these features can be considered as a feature request but not as a bug. Hence labeling this as feature request.

[2021-12-20 09:39] makzef commented on #34846
@magento give me 2.4-develop instance

[2021-12-20 09:39] oneserv-heuser commented on #34783
@engcom-November  Yeah thats true, but this ticket is not about the input attributes for filters. Its about the output in ProductInterface.

[2021-12-20 09:44] MaximGns commented on #34576
@ajijshekh123 any updates on the progress of this bugfix? Also happening here, a patch would be very handy. Thanks in advance.

[2021-12-20 09:47] nidhigupta13-ey commented on #33702
Hello @magento-engcom-team ,

After doing so many research on this I found that the Magento is getting timezone from  function getOptionTimezones from vendor/magento/framework/locale/TranslatedLists.php. So it is related to php. If the PHP is having the timezone it will work fine and if the PHP is not having the timezone then it will not work.

<img width="455" alt="Screenshot 2021-12-20 at 3 11 2

[2021-12-20 10:05] engcom-November commented on #34846
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible for 1st time admin login as well.
Export is working fine for Orders, Products etc. - No issue
@devqualwebs kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if any if the issue is still reproducible.
Thank you.
![image](https://user-images.githubusercontent.com/60198231/146749664-d5d4c

[2021-12-20 10:35] engcom-November opened #34848 "Login as Customer from Admin is not working for 1st time when Store URL is changed in Magento multi store steup"
### Preconditions (*)

1. Magento 2.4-develop having multi Store setup

### Steps to reproduce (*)

1. Stores - Configuration - Customer Configuration - Share Customer Accounts - Set to Website and Save
2. Stores - Configuration - Customers - Enable Login as Customer and set Store To Login To - "Auto-detection" - Save
3. Front end - Create a Customer in 2nd Store website
4. Admin - Stores - Config

[2021-12-20 10:41] rohit-prjpt commented on #16295
This may happen when you've attribute group code 'description' set, even though you change label but if `attribute_group_code` = 'description' then it may create issue with PageBuilder element "description" in 2.4.3

So just change the attribute code to something else, for example: "desc"
UPDATE `eav_attribute_group` SET `attribute_group_code` = 'desc' WHERE `attribute_group_code` = 'description';

[2021-12-20 10:49] engcom-Hotel commented on #33826
Hello @sdzhepa @speedupmate @ihor-sviziev

We will look into it and get back to you soon.

Thanks

[2021-12-20 11:12] engcom-Hotel commented on #33416
Hello @mrtuvn,

I have checked the Github repo related to that [lib](https://github.com/julien-maurel/jQuery-Storage-API), it is not maintained now. And for [another library](https://github.com/julien-maurel/js-storage), has a very old commit.

So we need to think of some other way to do it. I am confirming this issue for further analaysis.

Thanks

[2021-12-20 13:31] densen45 opened #34850 "Dynamic rows component behaves incorrectly when a new element is added"
### Preconditions (*)

1. Magento 2.4.2-p2

### Steps to reproduce (*)

The following process leads to two issues.

1. Create a Grouped Product
2. Add about 30+ Simple Products to the Grouped Product (at least "display per page" + 1, but it is clearer when you add more)
3. Save the Grouped Product
4. Add another Simple Product to the Grouped Product
5. Go to the last page of the pagination
6. Noti

[2021-12-20 13:31] isxam commented on #24660
@magento give me 2.4.3 instance

[2021-12-20 13:31] ioweb-gr opened #34851 "OrderRepositoryInterface memory leak when used in foreach loops"
### Preconditions (*)
1. 2.4.1 - 2.4.3-p1
2. A very large collection of orders / shipments

### Steps to reproduce (*)
I'm trying to process all orders related to the stored shipments to do some data clean up when I stumbled into this memory leak.
Basically on each repository->get() action the memory increases and is never released.

Check the following sample code using a single OrderRepositoryIn

[2021-12-20 13:31] densen45 commented on #34850
@magento give me 2.4.2-p2 instance

[2021-12-20 13:42] densen45 commented on #34850
Reproduced on the provided 2.4.2-p2 instance.

[2021-12-20 13:43] densen45 commented on #34850
@magento give me 2.4-develop instance

[2021-12-20 13:52] densen45 commented on #34850
@magento give me 2.4-develop instance

[2021-12-20 13:54] engcom-November commented on #34253
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Admin:
![image](https://user-images.githubusercontent.com/60198231/146777736-4e9bd258-1b0c-4be5-b6b0-28647983e3c2.png)

Front end -
Stored card info is displayed however payment is not working. Page not loading.
![image](https://user-images.githubusercontent.com/60198231/146777826-a3d0f08b-27f5-4dd2-8a76-2d6e82e06214.p

[2021-12-20 14:27] andrewbess commented on #34441
Closed due to fixes have been delivered into 2.4-develop

[2021-12-20 14:27] #34441 closed, assigned to andrewbess, anzin, karyna-t

[2021-12-20 14:27] andrewbess commented on #34778
Closed due to fixes have been delivered into 2.4-develop

[2021-12-20 14:27] #34778 closed, assigned to karyna-t

[2021-12-20 14:28] andrewbess commented on #34567
Closed due to fixes have been delivered into 2.4-develop

[2021-12-20 14:28] #34567 closed, assigned to anzin, karyna-t

[2021-12-20 14:28] #34653 closed, assigned to andrewbess, karyna-t

[2021-12-20 14:31] engcom-Hotel commented on #34841
Hi @tradeincarthage,

Mageplaza translation is a 3rd party extension and the code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as a community is not able to provide a fix for it in this repository. All questions, issue reports, and fixes for them should be addressed to the corresponding extension.

Thank you

[2021-12-20 14:31] #34841 closed, assigned to engcom-Hotel

[2021-12-20 14:56] jonathanribas commented on #22973
Hi @magento-engcom-team, we are actually running `2.4.3-p1` and we still have this issue. Are you sure it was fixed?!

[2021-12-20 15:03] makzef commented on #34736
@magento I am working on this

[2021-12-20 15:11] github-jira-sync-bot opened #34852 "Remove PHP 8.0 declaration from composer.json"
Remove PHP 8.0 declaration from composer.json files of the following projects and modules:
* Magento OS (<ins> Framework)
* Adobe Commerce
* B2B
* SampleData
* Inventory
* ASI
* Adobe IMS
* PageBuilder (</ins> PB Commerce)
* SecurityPackage (+ SecurityPackage B2B)
* Update packaging configuration

[2021-12-20 15:33] ioweb-gr commented on #34851
Some interesting facts by memprof

![image](https://user-images.githubusercontent.com/20220341/146792218-88f34d0a-5a93-47ca-8839-e5197e0071df.png)

It seems the plugins in GiftMessage are responsible for a huge increase in memory consumption although it doesn't explain the object not being able to release memory just for using lots of memory per call.

![image](https://user-images.githubuserconten

[2021-12-20 15:57] tradeincarthage opened #34854 "Magento 2.4 translate checkout, quantity in product page, compare and my wishlist near search bar"
Hi Guys)

Preconditions
Magento 2.4
Steps to reproduce and Environment
I have a multilanguage store.

I already installed my language packs The file containing the different language packs is located at /var/www/html/magento/app/i18n/  Each language pack such as fr_fr, ar_sa is composed of: composer.json, language.xml, license, registration.php, fr_FR.csv....

I have almost everything translated o

[2021-12-20 17:59] mamsincl commented on #10978
and still an issue .... just freshly experienced under 2.4.1 ....

[2021-12-20 21:22] kwojc commented on #34787
Dear @sidolov - Interfaces are Contracts, written in stone contracts between developers how to treat objects. They descibe behaviour of objects. How whould you call "auto generated contract"?
For gods sake, it doesn't make any sense to generate Interfaces. Auto-gen instances for cache some magic (like findBy* methods in doctrine - it's ok for me) but interfaces? How to develop, trust code, run sta

[2021-12-20 22:23] pmonosolo opened #34855 "Captcha refreshes when Payment Method is changed (when checkout Captcha is set to OFF)"
### Preconditions (*)

1. ReCaptcha turned OFF on all of the forms:

![image](https://user-images.githubusercontent.com/66754347/146839349-44f6b0c3-b151-4ff7-b28c-ad72c89421a1.png)

2. ReCaptcha keys added to the configuration

![image](https://user-images.githubusercontent.com/66754347/146839280-9338f584-99a0-4d12-a3b9-05b8f0beb1a3.png)

3. At least 2 payment methods are enabled.

### Steps to re

[2021-12-20 22:24] pmonosolo commented on #34855
@magento give me 2.4-develop instance

[2021-12-20 23:47] steven-hoffman-jomashop commented on #33763
@engcom-Lima, How can we re-open this issue?

[2021-12-21 06:14] taipt-0504 commented on #32717
@magento give me 2.4-develop instance

[2021-12-21 06:46] taipt-0504 commented on #32717
@magento give me 2.4-develop instance

[2021-12-21 07:31] engcom-November commented on #34752
Hi @VZeroCool ,
Can you please confirm the Brain-tree payment Mode (Sandbox or Production) that you have used while reproducing this issue.
Thank you.

[2021-12-21 07:39] taipt-0504 commented on #32717
@magento give me 2.4-develop instance

[2021-12-21 08:38] AKALuffy commented on #33157
Totally agree the paypal graphql plugin vendor/magento/module-paypal-graph-ql/Model/Plugin/Resolver/SetPaymentMethodOnCart.php:87

should be set on beforeResolve not afterResolve

[2021-12-21 08:41] tgreeve commented on #33819
@engcom-Echo @engcom-November @chequille

I found a reliable way to reproduce this issue in a fresh installed magento version 2.4.3-p1.

There should be a magento process listening to queue "inventory.reservations.updateSalabilityStatus" to mark the product out-of-stock in storefront (storefront-out-of-stock). When the process is running, the product will be marked as out-of-stock automatically wh

[2021-12-21 08:49] #34749 closed, assigned to engcom-November

[2021-12-21 09:29] glo11486 commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2021-12-21 09:47] tpaaro commented on #32956
For anyone struggling with PDP CLS issue, this is what I did to solve it on my `2.3.5-p2` Magento CE instance.
1. Defined width and height for the placeholder image, just as it is done in this [PR](https://github.com/magento/magento2/pull/33265).
    * For responsive resizing I also added this:
[code]
2. Updated [gallery.js](https://github.com/magento/magento2/blob/2.4-develop/lib/web/mage/gallery

[2021-12-21 10:43] kasperth commented on #9113
Hi @sdzhepa

From my understanding the url_path is still being used for categories. A new magento 2.4.3-p1 installation includes url_path for categories, and are also generated when creating new categories and updating already existing ones.

Can you refer to documentation about url_path and it being deprecated?
Thanks in advance.

[2021-12-21 11:27] marcoveeneman commented on #33947
The issue is moved to done, but how was it resolved? Is there a patch available? I'm having the same issue on 2.4.3-p1.

[2021-12-21 11:32] m2-assistant[bot] opened #34857 "[Issue] Make the title of the "Show Password" checkbox translatable"
This issue is automatically created based on existing pull request: magento/magento2#34370: Make the title of the "Show Password" checkbox translatable

---------

### Description (*)

The title of the "Show Password" checkbox (Customer Login, Customer Registration, Customer Edit (Change Password section), Customer Set New Password) is not translatable. This pull request makes the title translatab

[2021-12-21 11:33] mebbopakko commented on #13149
Issue confirmed by two clients with different versions, 2.3.4 and 2.4.3

[2021-12-21 13:02] fredden commented on #34253
@nathanjosiah I think there is a security issue here.

Consider a case where the payment gateway gives weak / colliding tokens. This is fine, because the token means nothing to us, and the association with actual payment happens at the payment gateway side. Let's say (for ease of discussion here) that the payment gateway gives sequential numeric identifiers per account as its tokens.

With the abo

[2021-12-21 13:11] ioweb-gr commented on #10304
@magento give me 2.4-develop instance

[2021-12-21 13:11] engcom-Hotel commented on #34429
Hello @manhtranisobar,

We have tried to reproduce the issue in Magento 2.4-develop branch but the issue is not reproducible for us. For us only 1 failed email has been received.

We request you to please share some more screenshots or videos in order to better analyse the issue.

Thanks

[2021-12-21 13:13] engcom-Hotel commented on #34662
Dear @kalyani-zithas,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-21 13:13] #34662 closed, assigned to engcom-Hotel

[2021-12-21 13:31] glo11486 commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2021-12-21 14:42] bartoszkubicki commented on #7302
Still an issue in 2.3.5 - Commerce Edition

[2021-12-21 14:54] engcom-November commented on #34850
Verified the issue on Magento 2.4-develop branch and issue 1 is reproducible but issue 2 is not reproducible. Hence updating the description.

[2021-12-21 16:17] vahir2016 commented on #34696
Hello,

That's weird. Have you got an idea your query is different from mine ?

[2021-12-21 16:22] panthar1 commented on #27641
I believe the reason this error occurs is if you or a customer has a product in the "shopping cart" that has been deleted/no longer exists.

[2021-12-21 16:58] artttj commented on #34646
Hi @speller,

Did you solve the issue?

[2021-12-21 17:22] tuyennn commented on #29797
https://github.com/magento/magento2/commit/269b47af3e37fbbe76e9f38d45fdb0cf969d45e3
https://github.com/magento/magento2/commit/1d9e07b218c7c8ad1f05706828cb2dd47d2d2d58
https://github.com/magento/magento2/pull/31495

[2021-12-21 18:21] ksenia-zlotin opened #34858 "Favicon Icon upload form in Magento does not actually support .ico file types"
When attempting to upload a favicon file of .ico extension type in Magento admin, Magento will not deem the file as valid.
Tested on a clean composer install of Magento 2.4.3-p1 with a PHP version of 7.4.13.

Perhaps the usage of PHP's `imagecreatefromstring` causes for an .ico file type to always be deemed invalid by Magento. The exception is thrown: "Warning: imagecreatefromstring(): one paramet

[2021-12-21 18:46] magento-engcom-team opened #34859 "GJSS CONFIGURATION - TEST ISSUE"
This issue is created to test the GJSS configuration. Please don't touch on this issue, it will be closed after testing.

[2021-12-21 18:46] magento-engcom-team commented on #34859
The issue was exported from the internal Jira. The link to the original Jira issue: https://jira.corp.magento.com/browse/ACP2E-413

[2021-12-21 19:52] slavvka opened #34860 "[TEST] Test!"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-12-21 19:53] slavvka commented on #34860
@magento export issue to Jira

[2021-12-21 20:06] pmonosolo commented on #34855
@magento give me 2.4-develop instance

[2021-12-21 20:39] #34859 closed, assigned to nobody

[2021-12-21 20:40] magento-engcom-team opened #34861 "GJSS CONFIGURATION - TEST ISSUE"
This issue is created to test the GJSS configuration. Please don't touch on this issue, it will be closed after testing.

[2021-12-21 20:40] magento-engcom-team commented on #34861
The issue was exported from the internal Jira. The link to the original Jira issue: https://jira.corp.magento.com/browse/ACP2E-413

[2021-12-21 21:39] hostep commented on #9113
@kasperth: there is no mention of categories in the opening post. This issue had to do with products.

But you are both correct though, the `url_path` of products is not used in Magento2, but the `url_path` of categories is definitely still being used 🙂

[2021-12-22 02:52] PromInc opened #34863 "Cookie mage-messages does not respect cookie configuration settings"
### Preconditions (*)

1. version 2.4.3

### Steps to reproduce (*)

1. Load any page of the website
2. View the `mage-messages` cookie in the browsers developer tools **Application** panel and observe the `Expires`, `Path`, and `Domain` and compare to the admin configuration

### Expected result (*)

1. The configuration would match

### Actual result (*)

1. The configuration does not match

###

[2021-12-22 02:59] PromInc commented on #34863
I believe this issue relates to / causes #33611

[2021-12-22 06:44] glo11486 commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2021-12-22 08:17] ihor-sviziev commented on #33995
@sidolov FYI, I put P1 priority as a result of this bug the raw SQL is showing in the admin

[2021-12-22 09:08] manhtranisobar commented on #34429
Hi @engcom-Hotel
Thanks for your checking,
I will try to reproduce this issue and provide to you more information if It happen again.

[2021-12-22 09:32] engcom-Hotel commented on #34607
Dear @agubarev-ifuelinteractive,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-22 09:32] #34607 closed, assigned to engcom-Hotel

[2021-12-22 09:44] engcom-Hotel commented on #34696
Hi @vahir2016,

I am also using the same version of MySQL in my system and as I analyzed our queries they seem similar to me. I request you to please reverify the steps to reproduction and let me know if we missed anything.

[2021-12-22 09:49] engcom-Hotel commented on #34429
Hello @manhtranisobar,

Thanks for replying!

We will wait for your reply

Thanks

[2021-12-22 11:24] giacmir commented on #34831
Composer 2.2 has been released today. At this time Magento2 is not compatible with Composer 2.

[2021-12-22 11:53] raumatbel commented on #34831
Can you downgrade the version of composer to 2.1.4
Run this `composer selfupdate -- 2.1.4`. With the last version of composer 2.2, the installation fails.

[2021-12-22 12:39] andrewbess opened #34864 "Fix errors in exception log files for send friend feature for WebAPI tests"
### Description (*)
Currently we have a problem for send friend feature when WebAPI tests are run on PHP 8.1
An error with trace provided below

[code]

The problem is related to new deprecations in PHP 8.1.

We need to research and fix the problem.

### Expected result (*)
1. An exception.log files don't contain provided error

### Actual result (*)
1. An exception.log files contain provided erro

[2021-12-22 13:02] hnsr opened #34865 "Mass actions silently process only a subset of selected products due to max_session_size_admin limitation"
### Preconditions (*)

1. Magento 2.4.3
2. Catalog size of ~18k products (I estimate this issue will occur starting at around 10k products)

### Steps to reproduce (*)
1. From the product grid, 'Select All' products
2. From the Actions drop-down, select 'Update Attributes'
3. Change any attribute (this step is technically not needed, the error is triggered at the above step when IDs are submitted)

[2021-12-22 13:27] engcom-November commented on #34863
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue.
mage-messages cookie in the browsers developer tools Application panel has same - "Expires", "Path", and "Domain" values in front-end and Admin configurations all the pages - No issue.
Also - Stores -> Configuration -> General -> Web -> Default Cookie Settings values are same for Default Config and Main Websit

[2021-12-22 13:49] mbrioski commented on #34831
In Magento cloud we have the version 2.1.14 and we have the same problem

[2021-12-22 13:56] ssx commented on #34831
If you pin it in `.magento.app.yaml` it'll work:

[code]

then clear your project's build cache.

[2021-12-22 14:04] #32875 closed, assigned to shikhamis11

[2021-12-22 14:14] alanbort commented on #34831
Hi, consider using the more generic '>=2.0 <2.2' for composer version:

[code]

[2021-12-22 14:18] ssx commented on #34831
yup, or that :)

[2021-12-22 14:21] mbrioski commented on #34831
As long there are versions like 2.1.14 having the same issue, i will go with :
[code]

[2021-12-22 14:24] chiralium commented on #10673
Still reproduced in 2.4.3

[2021-12-22 14:40] engcom-Hotel commented on #33895
Hello @moonbutt20,

It seems that still CLI picked up an older version of PHP. Please try to update PHP and let us know if you still facing the same issue.

Thanks

[2021-12-22 14:43] say-my-name-user commented on #27460
Hello,
check the observer `\Magento\CatalogPermissions\Observer\ApplyIsSalableToProductObserver`.

If you have `Stores > Configuration > Catalog > Catalog Permitions > Add to cart` disabled in admin panel then this observer set product's IsSalable to false. And based on this property "Out of Stock" is shown.

[2021-12-22 14:44] hostep commented on #34064
@nathanjosiah: what's the official standpoint of Adobe on this? Are there plans to change anything around this or not?

We also notice this problem when we have many modules installed that the session size of the ACL part in the session while logged in the backoffice of Magento starts exceeding the default session limit size (256000). We can work around the issue by doubling the allowed sessions s

[2021-12-22 15:16] speller commented on #34646
@artttj Unfortunately not...

[2021-12-22 15:25] artttj commented on #34646
@speller

The problem for us was, when we set env variable with API key from AWS into the global scope, they are not encrypted in scope config. A New Relic config helper tries to decrypt it and we get non-valid hieroglyphic  API key which throws an error when you send it as header with Zend Http. That is what's going on in the stack trace.

[2021-12-22 16:56] amenk commented on #28636
While I understand that reproducible examples are needed most of the time, I want to point out that it is much harder to reproduce the issue than just get rid of the exit() which should never be used, because it can break tests

[2021-12-22 17:05] preeteshtavant opened #34866 "Cart Price Rule with shipping method set as condition is not working Magento 2.4.1"
### Preconditions (*)

1. Magento 2.4.1
2. just plain , default magento setup

### Steps to reproduce (*)

1. Create a cart price rule (as mentioned in video/ below setp)
Admin - Marketing - Cart Price Rules - Add new Rule
- Set coupon basic information and select Specific Coupon, Enter Coupon code
- Go to condition and set : If ALL  of these conditions are TRUE : Shipping Method  is  [flatrate] F

[2021-12-22 17:28] Alexander-Pop commented on #34831
changing composer version to '2.1.4' fixed this issue for us. TY

[2021-12-22 17:38] magento-engcom-team opened #34867 "GJSS CONFIGURATION - TEST ISSUE"
This issue is created to test the GJSS configuration. Please don't touch on this issue, it will be closed after testing.

[2021-12-22 17:38] magento-engcom-team commented on #34867
The issue was exported from the internal Jira. The link to the original Jira issue: https://jira.corp.magento.com/browse/ACP2E-413

[2021-12-22 19:51] gvasilakiss commented on #34831
Same issue here, by changing the version to 2.1.4 fixed my installation.

[2021-12-22 20:23] hostep commented on #34831
Linking to two bugreports on composer's repo:
- https://github.com/composer/composer/issues/10390
- https://github.com/composer/composer/issues/10384

Based on the comments in there, I'd expect the next version of composer to be released within a few days which will probably fix this problem.

[2021-12-23 05:19] nidhigupta13-ey commented on #34195
Hi @magento-engcom-team ,

I have worked on this issue and tried to reproduce it. Below are the results:

1.  "addProductsToCart" this mutation is not available inside grapql.
2. I have used addSimpleProductsToCart, addBundleProductsToCart, addConfigurableProductsToCart, addDownloadableProductsToCart these are working fine and showing the correct count in summary. This issue is not reproducible .

[2021-12-23 05:36] engcom-November commented on #34773
Hi @jadebaileywowcher ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-23 05:36] #34773 closed, assigned to engcom-November

[2021-12-23 05:37] engcom-November commented on #34770
Hi @KVoisard ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-23 05:37] #34770 closed, assigned to engcom-November

[2021-12-23 05:39] nidhigupta13-ey commented on #34342
@magento-engcom-team ,

I am picking up this issue please assign this ticket to me.

Thanks,

[2021-12-23 05:50] engcom-Hotel commented on #32118
Dear @amitvkhajanchi,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-23 05:50] #32118 closed, assigned to engcom-Hotel

[2021-12-23 05:51] engcom-Hotel commented on #33610
Dear @mrtuvn,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-23 05:51] #33610 closed, assigned to engcom-Hotel

[2021-12-23 06:16] engcom-Hotel commented on #34611
Dear @Eddcapone,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-23 06:16] #34611 closed, assigned to engcom-Hotel

[2021-12-23 06:35] johnulecan opened #34871 "Cart Rule product subselect condition is missing total including tax option"
### Preconditions (*)

1. 2.4.3-p1

### Steps to reproduce (*)

1. Create a Cart price rule and add a products subselection condition. There is only a total amount option limiting the condition to be set only for a value excluding tax.

### Expected result (*)

1. Have the option to add the the total excluding tax as a condition option in products subselection

### Actual result (*)

1. There is o

[2021-12-23 07:22] hostep commented on #34831
This issue is now fixed in composer 2.2.1

Make sure to allow all the plugins it asks for during installation to be allowed though.

[2021-12-23 07:54] johnulecan commented on #34871
@magento I am working on this

[2021-12-23 08:58] vladyslav-sikailo-decima commented on #5876
It still doesn't work for 2.4.3

[2021-12-23 09:57] hnsr commented on #32427
@engcom-Lima Can you elaborate on the improvements for 2.4.3? I'm currently on this version, and still find myself running into the queryComplexity limit that seems to be set to 300.

For our application to remain compatible with standard Magento (that is, without requiring one to change the default limits through DI customisation) this would require splitting up such queries, which only introduce

[2021-12-23 10:05] arnopp commented on #29529
@magento-engcom-team This issue should be closed as it has been fixed in Magento Release 2.4.3 by @bubasuma in commit https://github.com/magento/magento2/commit/c3f32ac5b7fb39a53ebd50979f26b704446892d3.

[2021-12-23 10:13] engcom-Hotel commented on #34858
Hi @ksenia-zlotin,
Thank you for reporting the issue.
We have tried this issue on Magento 2.4-develop and we have successfully reproduced it. Magento is not accepting the “.ico” extension files for the favicon icon event the ".ico" extension is in the allowed extension list.
Steps followed to reproduce issue:

1. log in to Magento admin
2. Navigate to Content -> Design -> Configuration
3. Click 'E

[2021-12-23 10:16] engcom-Hotel commented on #34854
Hi @tradeincarthage,

Could you please provide the steps/commands/screenshots, how you installed the language packs?

Thank you.

[2021-12-23 10:17] engcom-Hotel commented on #34786
Hello @Nuranto,

Thank you for reporting the issue.
We have tried this issue on Magento 2.4-develop and we have successfully reproduced it.
Steps followed to reproduce issue:

1. Executed the case provided by the user and found that the method $this->getMediaGalleryProcessor()->addImage() is not returning the correct name.

Sample code:
[code]
2. In the above case when we run the same come multipl

[2021-12-23 10:27] engcom-Hotel commented on #34734
Dear @reense ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-23 10:44] engcom-Hotel commented on #34677
Dear <user>,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-23 10:44] #34677 closed, assigned to engcom-Hotel

[2021-12-23 10:45] engcom-Hotel commented on #34647
Dear @devendhiranr,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-23 10:45] #34647 closed, assigned to engcom-Hotel

[2021-12-23 10:47] engcom-Hotel commented on #34420
Dear @minhluan259,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-23 10:47] #34420 closed, assigned to engcom-Hotel

[2021-12-23 10:48] engcom-Hotel commented on #34161
Dear @ngtuan96lc,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-23 10:48] #34161 closed, assigned to engcom-Hotel

[2021-12-23 11:42] engcom-Hotel commented on #34566
Hello @1si11cs122,

Have you tried with other Magento versions like 2.4.3?

Thanks

[2021-12-23 11:57] engcom-November commented on #34866
Verified the issue on Magento 2.4-develop branch and the issue is reproducible on Shopping Cart page:
Shopping Cart page - Shipping Method is selected as (Flat rate fixed by default)
![image](https://user-images.githubusercontent.com/60198231/147236997-731952d8-409a-40fd-8363-5e5213e8f113.png)
However this issue is not observed on Checkout page. Coupon applied successfully.
![image](https://user-i

[2021-12-23 12:22] engcom-November commented on #34581
Hi @jonathanribas ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-23 12:22] #34581 closed, assigned to engcom-November

[2021-12-23 12:23] engcom-November commented on #34763
Hi @Volima ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-23 12:23] #34763 closed, assigned to engcom-November

[2021-12-23 12:29] engcom-November commented on #34727
Hi @xtremevision ,
This issue was fixed in the 2.4-develop branch (latest code base), which wasn't yet included in the latest release. Hence this is not reproducible on 2.4-develop version. Kindly recheck on 2.4-develop branch and provide missing steps if any if you are still facing issues.
Thank you.

[2021-12-23 12:36] mmezhensky commented on #33263
Hi @WilliejanB, @engcom-Hotel
Right now, I can't reproduce this issue in the 2.4-develop branch. Could you provide a more detailed description of the steps to reproduce?

[2021-12-23 12:39] demandre commented on #25222
Same Here on Magento 2.4.0 CE

[2021-12-23 12:43] mmezhensky commented on #34858
@magento I am working on this

[2021-12-23 12:51] engcom-Hotel commented on #34871
Hi @johnulecan,

Thank you for reporting the issue.

Although I think it is more of a feature that you are requesting. Since you are asking for an additional option apart from the existing ones in the ‘Cart Price Rule’.

So for now, I am moving this issue to the ‘feature request’ board where it’ll be further analyzed and proper action can be taken accordingly. If you think, it is an issue/bug rela

[2021-12-23 12:58] #33748 closed, assigned to nobody

[2021-12-23 13:00] #33347 closed, assigned to nobody

[2021-12-23 13:12] engcom-Hotel commented on #34527
Hi @mzenner1,

I understood your reference after checking the less file which you referred to in the description. So based on it, can you please below additional details:
1. Please confirm if this issue is happening with the Composer-based 2.4.x version or is it happening on 2.4-develop as well?
2. If you can share some screenshots like how this particular less file code is affecting whole website

[2021-12-23 13:19] ihor-sviziev commented on #33748
@sidolov @sivaschenko  why this issue was closed without any comments?

[2021-12-23 13:26] hostep commented on #33748
It's probably because of [AC-1170 Session size of 276672 exceeded allowed session max size of 256000](https://github.com/magento/magento2/commit/1b84b623f36282e9a95eddbb8205b8d45a9ca77b) which got merged an hour ago.

It would also be very nice if an answer could come to [this question I posted yesterday](https://github.com/magento/magento2/issues/34064#issuecomment-999628356).

[2021-12-23 14:06] engcom-November commented on #34764
@magento give me 2.4-develop instance

[2021-12-23 14:28] engcom-Hotel commented on #34695
Hi @Tirakal,

Yes, it could be due to permissions or you may need to debug that XML more if not resolved after giving proper permissions also. A similar issue was reported [here](https://magento.stackexchange.com/questions/133815/warning-domdocumentloadxml-empty-string-supplied-as-input) and answered so please check. It should help.

By your last comment, it seems you are not facing this issue any

[2021-12-23 14:28] #34695 closed, assigned to engcom-Hotel

[2021-12-23 16:07] engcom-Hotel commented on #34865
Hi @hnsr,
Thank you for reporting the issue.
We have tried this issue on Magento 2.4-develop and we have successfully reproduced it.

Steps followed to reproduce issue:

1. Installed the clean Magento 2.4-dev
2. Created 20000 plus products.
3. From the product grid, 'Select All' products
4. From the Actions drop-down, select 'Update Attributes'
5. Try to change any attribute and observe the error

[2021-12-23 16:13] engcom-Hotel commented on #34830
Hi @mahmoudbeikhit,
Thank you for reporting the issue.

However, we tried to reproduce it but the issue is not reproducible at our end.

Steps followed to reproduce issue:

1. Installed Magento 2.4.0 (composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.4)

2. Created 40000 products using the performance tools. (php bin/magento setup:perf:generate-

[2021-12-23 16:34] Axel29 commented on #34822
Up

[2021-12-23 16:50] steven-hoffman-jomashop opened #34875 "Price indexer slow for configurable BaseStockStatusSelectProcessor (Partial Clone from Issue 33763)"
Preconditions (*)
1) Magento 2.4.2
2) Catalog with lot of configurable products

Steps to reproduce (*)
1) Reindex catalog_product_price

Expected result (*)
1) Fast

Actual result (*)
1) Slow (in my case it never ends)

Please see https://github.com/magento/magento2/issues/33763.
Please see my last comment below

Also:
- Is there a procedure for re-opening tickets?

---

Hi @engcom-Lima,

We see

[2021-12-23 17:06] makzef commented on #34686
@magento I am working on this

[2021-12-23 17:08] hostep commented on #34830
@mahmoudbeikhit: we've seen this problem also a couple of times as of lately. You won't be able to reproduce this on a vanilla Magento installation. But there most likely will be some custom code in your case that is active on the checkout that tries to load the quote from the session. This can sometimes causes infinite loops in php. Try to rewrite the custom code so it gets the quote object from

[2021-12-23 19:40] github-jira-sync-bot opened #34876 "[TEST] Test!"
<!---
Please review our guidelines before adding a new issue: https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Fields marked with (*) are required. Please don't remove the template.
--]

### Preconditions (*)
[!---
Provide the exact Magento version (example: 2.4.0) and any important information on the environment where bug is reproducible.
--]
1. # h3. Steps to reproduce (*)
[!-

[2021-12-23 19:40] #34876 closed, assigned to nobody

[2021-12-23 19:47] github-jira-sync-bot opened #34877 "[TEST] Test!"
<!---
Please review our guidelines before adding a new issue: https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Fields marked with (*) are required. Please don't remove the template.
--]

### Preconditions (*)
[!---
Provide the exact Magento version (example: 2.4.0) and any important information on the environment where bug is reproducible.
--]
1. # h3. Steps to reproduce (*)
[!-

[2021-12-23 19:54] #34877 closed, assigned to nobody

[2021-12-23 20:37] github-jira-sync-bot opened #34878 "GJSS CONFIGURATION - TEST ISSUE"
This issue is created to test the GJSS configuration. Please don't touch on this issue, it will be closed after testing.

[2021-12-23 20:37] #34867 closed, assigned to nobody

[2021-12-23 20:37] #34861 closed, assigned to nobody

[2021-12-23 20:38] hnsr commented on #34865
Hi @engcom-Hotel , thanks for confirming!

[2021-12-23 22:37] github-jira-sync-bot opened #34879 "Graphql categoryList does not filter based on Store header"
Steps to reproduce:

1. Create one more Root Category ('root2')
1. Create a second Website/Store/Storeview and assign root2 to new Store (storeview code = 'new')
1. Create category under Default root category = 'cat'
1. Using graphql request get categories list for second website (use Header 'store' = 'new')
[code]

**Actual result:** category from default Root Category available in results
**Expe

[2021-12-23 22:46] iwkse opened #34880 "Minifying templates breaks when two consecutive comments exist and first is //"
I've noticed when you use // with phtml the static generator is going to strip the comment, it doesn't happen the same when using # or /* */

### Preconditions (*)
Tested with 2.4.2

### Steps to reproduce (*)
1. Write in a phtml template file, something like:
[code]
### Expected result (*)
[code]
### Actual result (*)
[code]
---
- [ ] Severity: **S1** _- Affects critical data or functionality and

[2021-12-24 00:05] iwkse commented on #32153
Hi all,
that's a related issue: #34880

Patching last regex like:
[code]
[code]
fixes it

[2021-12-24 05:59] engcom-Hotel commented on #34390
Dear @Green2Matter,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-24 05:59] #34390 closed, assigned to engcom-Hotel

[2021-12-24 05:59] engcom-Hotel commented on #28111
Dear @GamesmenJordan,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-24 05:59] #28111 closed, assigned to engcom-Hotel

[2021-12-24 06:41] engcom-Hotel commented on #34485
Dear @n2diving-dgx,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-24 06:41] #34485 closed, assigned to engcom-Hotel

[2021-12-24 07:40] mlaurense commented on #6401
After having raised the http_resp_hdr_len to 1MB (derived by calculating the largest number of products in a category multiplied by 21, as advised by Magento: https://support.magento.com/hc/en-us/articles/360034631211-Troubleshooting-503-error-caused-by-necessity-to-change-default-Varnish-settings), we were still experiencing intermittent 503 errors. These would happen on static files, e.g. javasc

[2021-12-24 08:20] ihor-sviziev opened #34881 "[Static tests] Phpstan fails on checking CLI command"
I found this issue during working on https://github.com/magento/magento2/pull/34817#issuecomment-995544761 - there was a static test failure from phpstan (that's not related to changes in that PR)

### Preconditions (*)

### Steps to reproduce (*)

1. Check out the 2.4-develop branch (tested on the following commit https://github.com/magento/magento2/commit/d0dccd89217f4c2021271e2a4cd71b698177fea4

[2021-12-24 08:38] m2-assistant[bot] opened #34882 "[Issue] Symfony Console update - Fix incorrect return types for console commands"
This issue is automatically created based on existing pull request: magento/magento2#34817: Symfony Console update - Fix incorrect return types for console commands
##

### Description (*)
I'm trying to work on upgrading Symfony console to version 5.x in order to have the ability to use https://github.com/paratestphp/paratest for faster test runs.
The first step of this upgrade guide is to fix dep

[2021-12-24 08:47] engcom-Hotel commented on #34443
Dear @nbennett25,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-24 08:47] #34443 closed, assigned to engcom-Hotel

[2021-12-24 08:47] engcom-Hotel commented on #34406
Dear @lilbumblebear,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-24 08:47] #34406 closed, assigned to engcom-Hotel

[2021-12-24 08:48] engcom-Hotel commented on #34540
Dear @binbee,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-24 08:48] #34540 closed, assigned to engcom-Hotel

[2021-12-24 08:50] engcom-Hotel commented on #30668
Dear @drc0,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-24 08:50] #30668 closed, assigned to engcom-Hotel

[2021-12-24 08:52] engcom-Hotel commented on #34331
Dear <user>,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-24 08:52] #34331 closed, assigned to engcom-Lima

[2021-12-24 08:54] engcom-Hotel commented on #34160
Dear @nopenopenope,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-24 08:54] #34160 closed, assigned to engcom-Lima

[2021-12-24 08:55] TELESONOSATELLITE commented on #30668
Bonjour, je suis intéressé de acheter une copie légal magento2 comment ?

[2021-12-24 08:55] engcom-Hotel commented on #34217
Dear @Muhamann,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-24 08:55] #34217 closed, assigned to engcom-Lima

[2021-12-24 09:30] engcom-November commented on #34797
@magento give me 2.4-develop instance

[2021-12-24 09:49] engcom-Delta commented on #34814
Hi @SolsWebdesign ,

Thank you for raising an issue , Kindly provide steps to reproduce , clear issue discerption, actual results ,expected results and screenshots.

Thanks

[2021-12-24 09:54] engcom-Delta commented on #34126
Hi @mrtuvn  ,

Thank you for raising an issue , we are happy to work on this issue . Kindly provide steps to reproduce , actual results with screenshots.

Regards,

[2021-12-24 09:56] engcom-Delta commented on #33555
Hi @mrtuvn  ,

Thank you for raising an issue , we are happy to work on this issue . Kindly provide steps to reproduce , actual results with screenshots.

Regards,

[2021-12-24 09:57] makzef commented on #34686
@magento add to contributors team

[2021-12-24 09:58] makzef commented on #34686
@magento add to contributors team

[2021-12-24 09:59] makzef commented on #34686
@magento I am working on this

[2021-12-24 10:10] engcom-November commented on #32898
Hi @matteolavaggi ,
Are you still facing this issue? If yes, kindly recheck the issue on Magento 2.4-develop branch as it is having latest code base.
As per Magento [dev docs](https://devdocs.magento.com/cloud/before/before-workspace-magento-prereqs.html), The Adobe Commerce environments supports MariaDB, with Galera Cluster.
Thank you.

[2021-12-24 10:18] isxam commented on #34614
@magento give me 2.4-develop instance

[2021-12-24 10:19] engcom-Delta commented on #34121
Hi @chanforix ,

Thank you for raising an issue , we are happy to work on this issue . Kindly provide clear issue description , actual results with screenshots or logs.

Regards,

[2021-12-24 10:22] engcom-Delta commented on #34412
Hi @Thelatinlabel   ,

Thank you for raising an issue , we are happy to work on this issue . Kindly provide steps to reproduce , issue description, expected results  and actual results with screenshots.

Regards,

[2021-12-24 10:24] engcom-Delta commented on #34746
Hi @mischabraam   ,

Thank you for raising an issue , we are happy to work on this issue . Kindly provide steps to reproduce , expected results, actual results with screenshots.

Regards,

[2021-12-24 10:26] engcom-November commented on #33586
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
![image](https://user-images.githubusercontent.com/60198231/147344800-602d6dc5-d814-455e-adfc-e119867ee047.png)

`
[2021-12-24T10:25:00.341233+00:00] main.CRITICAL: Exception: Warning: trim() expects parameter 1 to be string, array given in /var/www/html/mg24/magento2/app/code/Magento/CatalogSearch/Model/Advanced.php o

[2021-12-24 10:27] hostep commented on #34324
@smiverma: can you maybe discuss this with the security team? Thanks!

[2021-12-24 10:28] engcom-Delta commented on #32909
Hi @marciomaciel   ,

Thank you for raising an issue , we are happy to work on this issue . Kindly provide steps to reproduce , issue description, actual results with screenshots.

Regards,

[2021-12-24 10:31] hostep commented on #31224
@nthurston: could you open a new issue with your findings? It will get more traction than to comment on this old issue.

[2021-12-24 10:33] engcom-November commented on #34335
Hi @leonhelmus ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-24 10:33] #34335 closed, assigned to nobody

[2021-12-24 10:43] isxam commented on #34614
@magento give me 2.4-develop instance

[2021-12-24 10:49] hostep commented on #33890
Hi @engcom-Hotel: I think you may have misunderstood the issue. Could you read it again? It has to do with `bin/magento setup:install` not `bin/magento setup:upgrade`.
If it's not very clear my explanation, could you point me to the part that needs extra explanation? Thanks!

[2021-12-24 11:05] engcom-November commented on #34762
Verified the issue on Magento 2.4-develop branch but the issue is not reproducible in both Shopping Cart page and Checkout pages.
![image](https://user-images.githubusercontent.com/60198231/147347535-b4668bc4-a4a8-4e5b-ac19-bf209048a396.png)
![image](https://user-images.githubusercontent.com/60198231/147347553-a8479ef7-3079-440f-b990-bf9c411c2a6f.png)
@liquidia kindly recheck the issue on Magento

[2021-12-24 11:07] hostep commented on #28102
@ToonSpinISAAC: I have the feeling that the following PR might solve your issue: https://github.com/magento/magento2/pull/33468

[2021-12-24 11:21] engcom-November commented on #34119
Hi @esteban-serfe ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-24 11:21] #34119 closed, assigned to nobody

[2021-12-24 11:32] engcom-November commented on #34411
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
![image](https://user-images.githubusercontent.com/60198231/147349247-2d49f75a-4dbd-473b-9cbc-007b86284607.png)
Exception stack trace:
`
[2021-12-24T11:27:33.855730+00:00] main.CRITICAL: TypeError: explode() expects parameter 2 to be string, null given in /var/www/html/mg24/magento2/app/code/Magento/Ups/Model/Carrier.p

[2021-12-24 12:15] engcom-Hotel commented on #30498
Hello @pitbulk,

We request you to please try to reproduce this issue in Magento 2.4-develop branch and let us know if it is still reproducible for you.

Thanks

[2021-12-24 12:26] engcom-Hotel commented on #34881
Dear @ihor-sviziev,

We have tried to reproduce the issue in Magento 2.4-develop branch and it is reproducible for us with the mentioned steps. Please have a look at the below screenshot for reference:
![image](https://user-images.githubusercontent.com/51681618/147352468-1749d97d-5916-43f4-bdde-1c815f5e5a30.png)

Hence confirming this issue.

Thanks

[2021-12-24 12:40] mmezhensky commented on #34866
@magento I am working on this

[2021-12-24 13:10] ihor-sviziev commented on #34881
@xmav @andrewbess, could we add this issue to the platform health?

[2021-12-24 13:22] engcom-Delta commented on #34655
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-12-24 13:22] #34655 closed, assigned to engcom-Delta

[2021-12-24 13:25] engcom-Delta commented on #34699
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-12-24 13:25] #34699 closed, assigned to engcom-Delta

[2021-12-24 13:29] engcom-Delta commented on #34718
Hi @devchris79 ,
Can we close the issue please?

Thanks

[2021-12-24 13:33] engcom-Delta commented on #33565
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2021-12-24 13:33] #33565 closed, assigned to engcom-Delta

[2021-12-24 13:34] mrtuvn commented on #34126
This can reproduceable in development scenario
Example
Main codeline branch (master) created theme ABC. Now developer switch to feature (branch) create new theme D. Everything setup theme correctly without problem. Now developer switch code back to branch master. And run setup upgrade to continues works at this branch. Now if we check database (theme database) , magento setup theme D to type 1 (vi

[2021-12-24 13:34] TheRealHunzik commented on #34195
@nidhigupta13-ey

Dovdocs to addProductToCart Mutation ->  https://devdocs.magento.com/guides/v2.4/graphql/mutations/add-products-to-cart.html

Code Reference  -> https://github.com/magento/magento2/blob/d0dccd89217f4c2021271e2a4cd71b698177fea4/app/code/Magento/QuoteGraphQl/etc/schema.graphqls#L29

[2021-12-26 19:20] pmatra opened #34885 "Can magento2-functional-testing-framework be removed? Getting in the way of an upgrade."
I'm trying to upgrade 2.3.1 to 2.3.7 using Composer V2 up to date using php 7.4 and I get an error message that

[code]

When I use PhP 7.1 I get this error

[code]

I cannot get around this update because magento2-functional-testing-framework is getting in the way. Can it be updated separately? Or be removed since it is not being used?

[2021-12-27 04:53] webgility-amazonapi commented on #34178
Hi @engcom-November ,
Is there any update on the issue fix??

Thanks,

Webgility Apollo Team

[2021-12-27 05:07] nidhigupta13-ey commented on #34195
Hello @TheRealHunzik ,

I have tried this in magento 2.4.3 version and I am getting the below :

<img width="1792" alt="Screenshot 2021-12-27 at 10 36 26 AM" src="https://user-images.githubusercontent.com/93646392/147436494-3cd1bfa5-7d8a-48bd-811d-2f77eff93bc5.png">

Thanks,

[2021-12-27 05:56] engcom-Hotel commented on #34402
Dear @kkhebbar89,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-27 05:56] #34402 closed, assigned to engcom-Hotel

[2021-12-27 06:15] savan13 commented on #3739
Same facing issue in 2.4 Magento 2 version.
Showing this error [https://prnt.sc/24r4bh3]

[2021-12-27 06:17] engcom-Hotel commented on #34258
Dear @ioweb-gr,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-27 06:17] #34258 closed, assigned to engcom-Hotel

[2021-12-27 08:16] engcom-November commented on #34119
Hi @esteban-serfe ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-27 10:02] engcom-Echo commented on #34753
Hi @wilfriedwolf,

Thank you for providing the details.

However I am not able to reproduce the ‘Alt Text’ issue. I tried with below steps:
1. Created 1 test product.
2. Created Media Image Attribute with name ‘Custom Image’.
3. Added that attribute in Image set as you suggested.
4. Now added ‘Alt Text’ in Admin product image detail shown as below:

<img width="1268" alt="Screenshot 2021-12-27 at

[2021-12-27 10:12] engcom-Echo commented on #34885
Hi @pmatra,

Thank you for reporting the issue.

I think you are getting requirement compatibility related errors which you'll have to met in order to install new version of Magento. You can check [this](https://magento.stackexchange.com/questions/322661/magento-2-4-composer-php-7-4-error-magento-magento2-functional-testing-framewo) query and see if it helps.

You can also raise similar queries on

[2021-12-27 10:29] engcom-Echo commented on #34715
Hi @mebingeorge04,

Thank you for reporting the issue.

I understood the issue to some point but some additional details are required for me to do further analysis and reproduce this:
1. Which Magento version are you facing this issue on ?
2. In which version it was working fine ?
2. Can you provide the sample module code that you are using for adding extra fee ?

Thanks

[2021-12-27 11:15] engcom-Bravo commented on #34822
@Axel29 We have tried to reproduce this issue in Magento 2.4-develop branch but for us, it is not reproducible.
Please check below screen shots and let us know if we are missing something here.

Customtheme created.
Customtheme as a child of `magento/blank` and `subtheme` as a child if `Customtheme`.
<img width="395" alt="image" src="https://user-images.githubusercontent.com/51680745/147466341-180

[2021-12-27 11:29] Axel29 commented on #34822
Hello @engcom-Bravo ,

The issue is not that the theme isn't listed, it is that the command to deploy static files in compact mode, associated to multi-threading doesn't work: `php bin/magento setup:static-content:deploy -a frontend -t Customtheme/subtheme -f en_US --jobs 4 -s compact --no-less` (with or without the `no-less` option).

[2021-12-27 11:33] paresh6002 opened #34886 "Close button not working in a mobile device on product image zoom popup."
### Preconditions (*)

1. Magento 2.4.3-p1

### Steps to reproduce (*)

1. Open product page on a mobile device
2. Scroll product page on mobile
3. Click on a product image then zoom popup open
4. Then try to close the popup by clicking the close button
5. Popup can't be close.
### Description (*)
I found issue https://github.com/artpolikarpov/fotorama/issues/529 on fotorama git repo. so It is rel

[2021-12-27 11:37] engcom-Hotel commented on #34796
Hello @robolmos,

I have gone through with the [Magento's system requirement](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html), it still shows the vulnerable version. It should be updated.

I have also gone through with the below link, it is also suggesting we to upgrade the ES with >= 7.16.1:

Hence confirming this issue.

Thanks

[2021-12-27 11:40] engcom-Bravo commented on #34822
@Axel29 Sorry in the previous comment incorrect screenshot was attached. command to deploy static files in compact mode, associated to multi-threading
<img width="1417" alt="image" src="https://user-images.githubusercontent.com/51680745/147468329-33a3a2af-78d2-42a8-8f35-78778e8b9447.png">

[2021-12-27 11:51] engcom-Echo commented on #34621
Hi @Nuranto,

Thank you for providing the info.

I may have to check the validity of the duplicated data then only I can confirm this issue. I reproduce this issue which you got so can you help me with the data to reproduce this ? Or at least help me create the data so that I can do further analysis.

Thanks

[2021-12-27 11:58] Axel29 commented on #34822
Hello @engcom-Bravo ,

I just realized why you don't have the error.
You created the less files in both parent theme and subtheme.

The bug seems to occur only when the parent theme has a CSS that isn't created in the subtheme.

Also, I didn't try to use a less file but directly include a CSS inside the web/css folder so I'm not sure that you'll reproduce the bug with a less file.

[2021-12-27 12:20] engcom-Bravo commented on #34822
@Axel29 I have also tried without CSS as well but still not able to reproduce the issue.

Below are the screen shots.
<img width="495" alt="image" src="https://user-images.githubusercontent.com/51680745/147471152-035a6581-1a4c-4f33-91ba-ed6e1a3f8fa9.png">

Deploy command output

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/51680745/147471177-8dcf7940-e93b-40b6-a5ba-

[2021-12-27 12:23] engcom-Hotel commented on #34825
Hello @Usik2203,

We have tried to reproduce the issue in Magento EE with the mentioned steps. But the issue is not reproducible for us.

I have attached the `mftf.log` file for reference;

[mftf.log](https://github.com/magento/magento2/files/7780124/mftf.log)

Please let us know if we missed anything in order to reproduce the issue.

Thanks

[2021-12-27 12:41] engcom-Hotel commented on #33386
Hello @ioweb-gr,

We have tried to reproduce the issue in Magento 2.4-develop branch with the following data:

- 10 Lakhs product
![image](https://user-images.githubusercontent.com/51681618/147472292-de1b6657-24f6-4bce-bbca-c50b40e3872c.png)
- 3053 Product Attributes
![image](https://user-images.githubusercontent.com/51681618/147472257-b606400f-0bb4-42a5-83a3-716fbae95142.png)
- Indexer is set on

[2021-12-27 12:44] engcom-Hotel commented on #34469
Hello @nmintcheva,

We have tried to reproduce [these](https://github.com/magento/magento2/issues/34469#issuecomment-995060150) steps as well but still, the issue is not reproducible for us.

Please tell us if we missed anything in order to reproduce the issue.

Thanks

[2021-12-27 13:02] pmatra commented on #34885
Thank you very much for your help! It helped. The Community could not solve my problem. I appreciate your advice. I will try Stack Exchange.

[2021-12-27 13:02] #34885 closed, assigned to engcom-Echo

[2021-12-27 13:11] ioweb-gr commented on #33386
Hi, that only means that you cannot simulate real conditions this way.

On our client's store we have around 60k products, 500 orders daily, 50-150 concurrent customers browsing the website at all times, 5 people doing data entry, multiple catalog price rules, 5 sources, 11 stocks  etc etc.

The indexers are constantly having items on queue to reindex and while it's not always happening that setup

[2021-12-27 13:19] lilbumblebear commented on #34406
This should not be closed. I apologize for my delay.

Example of a customizable file upload:
A store sells a mug, which users can upload an image to add to the mug.

This is functionality that exists in Magento's default custom options:
https://docs.magento.com/user-guide/catalog/settings-advanced-custom-options.html

Therefore, it should also be possible to use this functionality through graphql.

[2021-12-27 13:48] ihor-sviziev commented on #32948
Hi @JoostWan,
It looks like the issue was already fixed in the 2.4-develop branch by the following PR https://github.com/magento/magento2/pull/34207.

Could you confirm that?

[2021-12-27 13:49] ihor-sviziev commented on #26254
Hi @Jilco,
It looks like the issue was already fixed in the 2.4-develop branch by the following PR https://github.com/magento/magento2/pull/34207.

Could you confirm that?

[2021-12-27 14:21] Axel29 commented on #34822
Hello @engcom-Bravo , in your screenshot, the `app/design/frontend/Customtheme/theme/web/css` folder is empty.
The goal is to have a CSS present in that theme but absent in the child theme as I did in my [sample theme](https://github.com/magento/magento2/files/7721889/sample-theme.tar.gz) I gave in the issue.

[2021-12-27 14:34] nthurston opened #34887 "Indexing fails to index all items with MSI enabled and a large gap in salable entity IDs"
### Summary
Related to #31224 which was closed because the issue didn't exist except with 3rd party module/plugin.  Same issue now exists with a built-in MSI plugin: module-inventory-catalog-search/Plugin/CatalogSearch/Model/Indexer/ChildProductFilterByInventoryStockPlugin.php

### Preconditions (*)

1. 2.4.3-p1
2. MSI Enabled

### Steps to reproduce (*)

1. Set display out of stock products to No

[2021-12-27 14:35] nthurston commented on #31224
Sure - I just made #34887
Wasn't sure if this belongs here or in MSI repo (ticket exists there already).

[2021-12-27 14:36] ToonSpinISAAC commented on #28102
Thanks for the tip @hostep! I'll pass it on to our devs, I think you're right.

[2021-12-27 15:40] glo11486 commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2021-12-27 16:45] ghost opened #34888 "Magento page is not loading properly after migration"
Hi github folks ,
I migrated my magento 2.3.7 from cloud hosting to VPS Ubuntu 18.04 Server , after the successful migration of the website the magento website is not loading properly . I can tell the whole website is messed up (All the pages layout are not proper)
I dont know that is because of css ,js issue or migration issue .
I am attaching my website screenshot please anyone suggest a solutio

[2021-12-27 17:46] Jilco commented on #26254
Ihor,

In 2.4.3-p1 it is still present...

Regards Jilco

________________________________
Van: Ihor Sviziev ***@***.***>
Verzonden: maandag 27 december 2021 14:49
Aan: magento/magento2 ***@***.***>
CC: Jilco ***@***.***>; Mention ***@***.***>
Onderwerp: Re: [magento/magento2] Either “offers”, “review”, or “aggregateRating” should be specified (#26254)

Hi @Jilco<https://emea01.safelinks.protectio

[2021-12-27 18:31] VZeroCool commented on #34752
@engcom-November - It doesn't matter as long you have enabled AVS rules as I mentione above.

[2021-12-27 20:15] ihor-sviziev commented on #26254
@Jilco, it's still not available in the stable version. You can check it directly on 2.4-develop branch, or apply the changes from that pull request as a patch

[2021-12-28 00:37] uandiweb opened #34889 "Store Pickup Not Available for Products with Custom Options When SKU is Assigned to Custom Options"
### Preconditions (*)

1. Magento 2.4.3-p1
2. Enable Store Pickup
3. Assign custom stock to all products (so store pickup will become available during checkout)

### Steps to reproduce (*)

1. Assign custom option (i.e. text field) to a product
2. Assign a SKU for the custom option (i.e. "TEST1001")
2. Add the product to cart

<img width="1130" alt="custom" src="https://user-images.githubuserconte

[2021-12-28 03:13] PromInc commented on #34863
@magento give me 2.4-develop instance

[2021-12-28 03:17] PromInc commented on #34863
@magento give me 2.4-develop instance

[2021-12-28 03:31] PromInc commented on #34863
@engcom-November Please ensure that you set the **Cookie Domain** for the **Scope**: `Main Website` as noted in my configuration in the original post.

I wasn't able to get a Magento develop instance at this time to test the vanilla install.  I'll have to try again at a later date.

I did put together a pull request to address this issue.
https://github.com/magento/magento2/pull/34890

[2021-12-28 04:52] engcom-Bravo commented on #34822
@Axel29  with the sample theme that you provided we were able to reproduce the issue.
However we have checked the issue and it seems to be due to the **parent theme folder name** as `default`.

Once we change the folder name to something else from default it works fine.
Please see the below screenshot.

Deploy commands
<img width="1415" alt="image" src="https://user-images.githubusercontent.com/51

[2021-12-28 05:37] Deepeey commented on #14592
Hello. Is there any updates on this? I'm experiencing duplicated orders using paypal on my magento 2.2.8. Can you help?
Already done with the skynix but still no luck. Thanks.

[2021-12-28 05:55] engcom-Hotel commented on #34807
Dear @tripleasupplies,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-28 05:55] #34807 closed, assigned to nobody

[2021-12-28 06:25] engcom-Echo commented on #34395
Hi @baljinderimpinge,

The current description is not enough for me to reproduce this as the link is also not working now. In order to try again, can you please update the description with more detailed **'Steps to reproduce'** so that I can reproduce on 2.4-develop instance ?

Thanks

[2021-12-28 06:43] engcom-Echo commented on #34386
Hi @tuyennn,

I checked and still the info is not clear. What I could not understand is, if you are creating an ajax function to be called multiple times then obviously it'll display same messages again if you have provided logic like that. It would be more clear after I can look at the code.

Can you please share the code and other relevant details due to which you are facing this issue ? I will

[2021-12-28 06:47] engcom-November commented on #34764
@magento give me 2.4-develop instance

[2021-12-28 07:57] engcom-Echo commented on #34886
Hi @paresh6002,

Thank you for reporting the issue.

However, I am not able to reproduce the same. I have tried on multiple fresh 2.4-develop instances but the zoomed up product image on detail page is getting closed properly. The close button action is not getting affected by the console error and I think that console error is already being addressed by our team somewhere. Some screenshots attach

[2021-12-28 08:06] Djohn12 commented on #29181
Hi,

still facing this issue on magento enterprise 2.3.6 when trying to download order invoice from my customer account in storefront.

Any idea if this still happens on magento 2.4.x ?

[2021-12-28 09:35] paresh6002 commented on #34886
Hi @engcom-Echo
I have added a video for this issue. so you can try to reproduce this issue by scrolling as shown in the video. the issue is in the mobile devices.
https://user-images.githubusercontent.com/59193951/147551614-058371a7-71ca-44e7-83e7-16aeb78bcfe7.mp4

Thank You

[2021-12-28 09:49] merodio7 opened #34893 "Cookies problem in backoffice after deploy in environments with Varnish"
### Preconditions (*)
1. Magento 2.4.3p1  (but probably also with 2.4.3)
2. Varnish

1. Admin User in backoffice, working as usual.
2. Deploy in PRE / PROD (the environments in which we have varnish).
3. Admin User is shown a message "An error has happened during application run. See exception log for details". Backoffice is not available.
4. Admin User go to navigator --> options, delete the mage

[2021-12-28 10:23] kingshukdeb opened #34895 "Save and Duplicate page issue"
### Preconditions (*)

1. 2.3.2 EE

### Steps to reproduce (*)

1. You have created 2 pages.
2. Assign 1 page to only 1 store view and Assign the other one to multiple store views.
3. Go to Admin panel Content -> Pages.
4. Try to "Save & Duplicate" both the pages.

### Expected result (*)

1. We expect we can duplicate both the pages.

### Actual result (*)

1. The page which has only 1 store view

[2021-12-28 10:41] engcom-Echo commented on #34888
Hi @homedirect76,

Thank you for reporting the issue.

I think that your Magento is not properly installed to your new server after migration. Looks like resources are not getting pointed to correct location.

You can also raise similar queries on various Magento forums like [Magento Stack Exchange](https://magento.stackexchange.com/) or [Magento Community](https://community.magento.com/) platform

[2021-12-28 10:49] sprankhub commented on #27126
So has this finally been fixed? If so, where? Or why has it been closed?

cc @sivaschenko

[2021-12-28 12:10] northdakota commented on #22885
Same thing on magento 2.4.2-p2

[2021-12-28 12:19] engcom-November commented on #34650
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Since Cart Price Rule is applied to Shipping amount as well, Discount amount is applied to subtotal and shipping amount.
![image](https://user-images.githubusercontent.com/60198231/147565267-0f302b9f-f3a6-4e25-b747-41c8c18d4778.png)
Verified  DB tables sales_order, quote and quote_item tables but none of the t

[2021-12-28 12:38] engcom-November commented on #34797
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Generated sitemap after setting the Product Category to Subcategory3
http://magento24.local/default/subcategory1/subcategory2/subcategory3.html
![image](https://user-images.githubusercontent.com/60198231/147566839-195e8c9f-6d47-49e3-a760-63e7ca94af97.png)
sitemap.xml:
![image](https://user-images.githubusercon

[2021-12-28 13:02] engcom-Bravo commented on #34325
Hi @marceldekoning

We have tried to reproduce this issue but for us, it is not reproducible.

Precondition:
Php 7.4
Compose 2.1.6
Magento 2.4.3

 We have followed below steps

1.Installed magento version 2.4.3

<img width="452" alt="Install" src="https://user-images.githubusercontent.com/51680745/147568595-5a0d9b80-7d1c-402c-96ea-bc5c0e069ecd.png">

2. composer require shipperhq/module-shipper
<i

[2021-12-28 13:13] engcom-November commented on #34764
@magento give me 2.4-develop instance

[2021-12-28 14:05] glo11486 commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2021-12-28 14:46] engcom-Echo commented on #34887
Hi @nthurston,

Thank you for reporting the issue.

However, we tried to reproduce it on Magento 2.4.3-p1/2.4-dev but the issue is not reproducible.
Steps followed to reproduce issue:

1. Installed the fresh Magento 2.4-dev/2.4.3-p1 instance.
2. Added the sample product data (40000 products).
3. Select all products except one and disable the rest and then reindex.
4. Observe the front end and it w

[2021-12-28 14:53] nthurston commented on #34887
That isn't exactly what I mentioned in the steps to reproduce.

Try leaving the first and the last entity id in either test.  So keep entity id 1 and entity id 40000, then disable or delete the rest, then re-index.

[2021-12-28 14:54] nthurston commented on #34887
@magento give me 2.4-develop instance

[2021-12-28 15:12] engcom-Echo commented on #34893
Hi @merodio7,

Thank you for reporting the issue.

We tried to reproduce the issue on Magento 2.4.3-p1/2.4-dev by using the steps provided but the issue is not reproducible on the fresh installation.
Please provide more detailed steps (error/system logs, screenshots) to reproduce this issue.

Thanks

[2021-12-28 15:44] hostep commented on #23938
@sidolov: like discussed on Slack, could you talk to the product owner about this ticket again?

I believe the correct solution might be found in @webtekindo's answer:

The adjustment fee field currently doesn't know to which line(s) of a credit memo it should apply to (which one of the products, or shipping, ...) so it doesn't know which tax should be used for calculations. Therefore it makes sen

[2021-12-28 16:49] hostep commented on #25987
@Adel-Magebinary: as mentioned in the post above yours, some extra [smaller improvements](https://github.com/magento/magento2/pull/28007) were made in Magento 2.4.3, maybe you could try to upgrade Magento first?

[2021-12-28 18:11] ZephyrDogma opened #34898 "Magento 2 version 2.4.3-p1 “Page Builder was rendering for 5 seconds without releasing locks” error."
So friends im having an issue with saving my page at the pagebuilder:

Ubuntu 20.04 Magento Version 2.4.3-p1
So i attempt to create a new page(has same effect as i try to edit an existing one) and i add some elements to the page, afterwards i click save

It should have made the page successfully

1.  And here i get the spinning wheel of death perpetually there and the error "Page Builder was rende

[2021-12-28 18:27] ZephyrDogma commented on #34898
@magento I am working on this

[2021-12-28 20:02] #34731 closed, assigned to nobody

[2021-12-28 21:58] in-session opened #34899 "critical CSS needs to move"
### Preconditions (*)

1. Use CSS critical path

### Steps to reproduce (*)

1.  Configuration>Developer>Use CSS critical path>Yes

### Expected result (*)
1. Critical CSS should appear before all link tags

### Actual result (*)

1. At present it is only issued after the Fonts

[2021-12-28 21:59] in-session commented on #34899
@magento give me 2.4-develop instance

[2021-12-28 22:10] in-session commented on #34899
@magento give me 2.4-develop instance

[2021-12-28 23:23] mrtuvn commented on #34880
PR Fix here https://github.com/magento/magento2/pull/33016

[2021-12-29 01:13] Den4ik commented on #33749
@sidolov I believe we can close this issue with upcoming release version where will be available fix https://github.com/magento/magento2/commit/3d262f88824c7acbf23f3c520078377bc8129c9f

[2021-12-29 05:11] engcom-Echo commented on #34843
Hi @usman-xs4arabia-dev,

Thank you for reporting the issue.

Have you run setup:di:compile after adding API routes ? You can find similar issue with its solution [here](https://stackoverflow.com/questions/66122868/error-on-magento-setupupgrade-element-route-missing-child-elements-expe). Hope it helps.

You can also raise similar queries on various Magento forums like [Magento Stack Exchange](http

[2021-12-29 05:29] engcom-Echo commented on #34899
Hi @in-session,

Issue description is empty. Can you please update issue description with below details of the issue so that we can check further:

1. Summary of the issue
2. Information on your environment
3. Steps to reproduce
4. Expected and actual results

Thanks

[2021-12-29 06:07] girija-kudupudi commented on #34764
@magento give me 2.4-develop instance

[2021-12-29 06:20] engcom-Delta commented on #34889
Hi @uandiweb,

Thanks for raising an issue , Kindly help us in knowing the which module or extension you had used for store pickup.
Regards,

[2021-12-29 07:12] merodio7 commented on #34893
Hello,

In the test did you have Varnish? I think the problem happens with the
2.4.3p1 (and probably with 2.4.3) but it only happens in the preproduction
and production servers in which we have it installed. In the integration
server, I think I haven't seen the message. Also this is a new system, we
started with the version 2.4.2 (enterprise) and with this one i don't
remember to see the message.

[2021-12-29 08:32] engcom-Hotel commented on #34790
Hello @mushketer888,

Thanks for posting the issue!

In order to reproduce the issue, we need some more information like steps to reproduce, screenshots, or video recording (if possible).
Please help us with the above information.

Thanks

[2021-12-29 08:56] Sental commented on #31109
Tempory solution available via composer (instrictions in the repo's readme) https://github.com/Sental/db-override

Obviously with there being no offical support, use it at your own risk on anything other than development.

This avoids the need to change files all the time.

[2021-12-29 09:42] Assambra commented on #34797
Thank you for working on this issue. What i see is on your sitemap.xml the default categorie are included this is not the issue i descriped but is this a new issue? You are sure that the sitemap.xml is correct for the rewrite picture?

[2021-12-29 09:57] engcom-Hotel commented on #34735
@magento give me 2.4-develop instance

[2021-12-29 09:59] engcom-Hotel commented on #34721
Dear @martinshawruroc,

The issue is reproducible in the 2.4.3-p1 version but not in Magento 2.4-develop, which means the issue has been fixed and will be available in the next release.

Hence we are closing this issue.

Thanks

[2021-12-29 09:59] #34721 closed, assigned to engcom-Hotel

[2021-12-29 10:03] engcom-Hotel commented on #34735
@magento give me 2.4-develop instance

[2021-12-29 10:05] Assambra commented on #34797
Step to reproduce the issue:
Create three categories -> Category1 Category2 Category3 each as subcategory from the last one.
Category1
    |->Category2
        |-->Category3

Create a product name it Product1 set the product category from this product to Subcategory3 (only)
Create the sitemap

[2021-12-29 10:05] Assambra commented on #34797
![1](https://user-images.githubusercontent.com/6276777/147650842-3cde603a-191a-4a95-ba9c-fc332532df5c.jpg)

[2021-12-29 10:09] Assambra commented on #34797
![2](https://user-images.githubusercontent.com/6276777/147651224-f9e07c7a-49be-4147-9eea-78a3a27a239b.jpg)

[2021-12-29 10:12] Assambra commented on #34797
![3](https://user-images.githubusercontent.com/6276777/147651460-c97b6d18-4587-4a0f-bd7c-85bb3632fd70.jpg)

[2021-12-29 10:18] Assambra commented on #34797
![4](https://user-images.githubusercontent.com/6276777/147652012-896381de-3635-41fc-b4c6-9e55057d6839.jpg)

[2021-12-29 10:34] Assambra commented on #34797
![5](https://user-images.githubusercontent.com/6276777/147653307-23e1d545-509d-47ae-85d0-4933a5bc24cc.jpg)

[2021-12-29 13:13] girija-kudupudi commented on #34764
@magento give me 2.4-develop instance

[2021-12-29 13:20] webgility-amazonapi opened #34900 "Issue while creating product on store"
### Preconditions (*)

1. Magento ver. 2.3.6
2.

### Steps to reproduce (*)

1. Call the API /rest/V1/products  [Request magento.txt](https://github.com/magento/magento2/files/7789027/Request.magento.txt)
2. Getting Error in api call

### Expected result (*)

1. Product should be successfully created on store without any error.
2.

### Actual result (*)

1. Getting Error in api call
2. [response e

[2021-12-29 13:25] engcom-Echo commented on #34898
Hi @ZephyrDogma,

Thank you for reporting the issue.

However, I tried to replicate the same on Magento 2.4.3-p1 version but not facing any issue as you are having. Below screenshots of the same.

<img width="1433" alt="Screenshot 2021-12-29 at 6 51 32 PM" src="https://user-images.githubusercontent.com/51681435/147666757-02cb5980-9c10-4ada-b35c-dd01a75fe1e0.png">

<img width="1434" alt="Screenshot

[2021-12-29 13:42] vass30 commented on #34848
@magento I am working on this

[2021-12-29 15:07] engcom-Echo commented on #34887
Hi @nthurston,

We tried the following scenario:
1. Imported 40000 products.
2. On the product page select all products except entity id 1 and entity id 40000.
3. Disable or delete the rest product and then re-index.
4. Verified the front end.

The frontend works fine, all of the other products are disabled/deleted only showing the reaming products(first and last).

See the attached screenshots:

[2021-12-29 15:12] engcom-Echo commented on #34900
Hi @webgility-amazonapi,

Thank you for reporting the issue.

However, we tried to reproduce it on Magento 2.4-dev but the issue is not reproducible. Steps followed to reproduce issue:

1. Installed the fresh Magento 2.4-dev instance.
2. Added sample product by using JSON provided in the ticket description.
3. API works fine, see the attached response body.

By looking at the response provided in

[2021-12-29 15:12] nthurston commented on #34887
@magento give me 2.4.3-p1 instance

[2021-12-29 15:17] ZephyrDogma commented on #34898
Hello friend i didnt update magento from older versions i just installed it from scracth on my ubuntu, if this would help i will post the rest of the console output after i press save
![image](https://user-images.githubusercontent.com/77338971/147676709-59008be9-fba2-405e-be1d-a76971f58448.png)

[2021-12-29 15:29] ghost opened #34901 "Listings being deleted from magento 2.2.6 please help"
### Preconditions (*)

1.  magento 2.2.6

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*) stop listings from being deleted

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2021-12-29 16:31] nthurston commented on #34887
Give me some time to reproduce on a development box, I don't think I will be able to reproduce on the github instance as I'm not able to reindex there.

Possible you need to have a custom stock as well.

[2021-12-29 16:43] nunogato opened #34902 "price and base_price with same value even though order is with non base currency"
When creating an order with a configurable product (not tested with others) and setting up a custom price, magento saves on the database the price and base_price as the same value as base_price.

When printing invoices it gets the 'price' but as it's wrong the invoice is with wrong data.

### Preconditions (*)
1. Magento 2.3.7-p2

### Steps to reproduce (*)
1. create order for existing customer th

[2021-12-29 17:33] nunogato commented on #34902
@magento give me 2.4-develop instance

[2021-12-29 19:15] nthurston commented on #34887
Ok - yes i reproduced.  I updated the original issue but the steps are as follows:
1. Set display out of stock products to No
1. Create more than 2500 products
1. Create a new stock and source
1. Set website to use new stock
1. Assign all items to new source
1. Add inventory to source on first and last entity so that they are the only 2 in stock at that source
1. Re-index

[2021-12-30 00:14] kyleLPG commented on #17323
This is most definitely still an issue

[2021-12-30 03:11] james-noon commented on #29090
@gmonseur thanks for posting this (and attempting a fix) but unfortunately this didn't work for me. Did it fix it for you?

I'm running into the same bug I think. I'm on v2.4.3-p1 and I have tried the following columns in my CSV file but it just keeps my configurable products "out of stock" even know I put a 1 in the column for the configurable product SKU. Ugh

source_code | sku | status | quanti

[2021-12-30 04:31] engcom-Echo commented on #34726
Dear @n2diving-dgx,

We have noticed that this issue has not been updated for a period of 14 Days. Since there is no action required from our side, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-30 04:31] #34726 closed, assigned to engcom-Hotel

[2021-12-30 05:21] engcom-Echo commented on #34901
Hi @chris197645,

Issue description is empty. Can you please update issue description with below details of the issue so that we can check further:

1. Summary of the issue
2. Information on your environment
3. Steps to reproduce
4. Expected and actual results

Thanks

[2021-12-30 05:41] engcom-Hotel commented on #32590
Dear @heerdt,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-30 05:42] engcom-Hotel commented on #34815
Dear @iflam,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-12-30 05:42] #34815 closed, assigned to engcom-Hotel

[2021-12-30 05:59] Abdulkadiragoliya commented on #3123
Please try increasing the max_session_size_admin and  max_session_size_storefront either from admin or by executing the below commands

bin/magento config:set system/security/max_session_size_admin 512000
bin/magento config:set system/security/max_session_size_storefront 512000

[2021-12-30 07:02] engcom-Echo commented on #34902
Hi @nunogato,

Thank you for reporting the issue.

I tried to reproduce this issue with your provided steps but this issue is not occurring in Magento 2.4-develop version. Attached screenshots of the same:

<img width="1440" alt="Screenshot 2021-12-30 at 12 20 22 PM" src="https://user-images.githubusercontent.com/51681435/147728714-96380b5c-9020-4106-8357-5ccb014ef528.png">

<img width="772" alt="

[2021-12-30 07:06] engcom-Hotel commented on #30949
Hello @webamMarko,

We request you to please try to reproduce the issue in Magento 2.4-develop and let us know if this is still reproducible for you.

Thanks

[2021-12-30 07:16] tuyennn commented on #34386
@engcom-Echo I believe the Suggestion I put on the top could describe the bug in detail, while `cookieMessages` was made unique, but `messages().messages` was not. Possible you could get multiple duplicate messages on customerData message. You'll see the frontend messed with duplicated messages throwed.

[2021-12-30 08:17] engcom-Hotel commented on #34835
Hello @manhtranisobar,

We have tried to reproduce this issue in Magento 2.4-develop branch, but for us, the issue is not reproducible for us. Please have a look at the below screenshot and let us know if we have missed anything:

- For HomePage:
![image](https://user-images.githubusercontent.com/51681618/147733756-5be941e1-0d88-40a7-8184-07b70634f1cc.png)

- For other pages:
![image](https://user

[2021-12-30 09:08] nunogato commented on #34902
@magento give me 2.4-develop instance

[2021-12-30 09:22] engcom-Echo commented on #33909
Hi @jglassmaker,

Thank you for providing the code details.

However I think the issue maybe with your code since default functionality of Magento is working fine. Since the issue is happening after adding custom code so I am not sure if there is anything that we can do to make Magento functionality better. Can you please check and update if you have found any specific Magento core file which coul

[2021-12-30 09:28] Eddcapone commented on #17583
I have the same issue with store views in Magento 2.4.2, but on a fresh instance it works. Any clues?

[2021-12-30 09:42] hostep commented on #17583
@Eddcapone: try upgrading to Magento 2.4.3, it contains [a bunch of url generation fixes](https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-3.html#url-rewrites), who knows, maybe one of those fixes your issue (it won't magically fix the categories that are already broken, the fixes only apply to new categories you create I believe, maybe re-saving old categories might fix it, b

[2021-12-30 10:04] Eddcapone commented on #17583
@hostep Thank you, I will try your module. I already tried saving the category but it does not generate the URL rewrite either. Even for a brand new category which I created prior to creating my new store-view

[2021-12-30 10:10] glo11486 commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2021-12-30 10:28] manhtranisobar commented on #34835
Hi @engcom-Hotel

Thanks for your checking,

I see this issue was fixed at the version 2.4.3 so I will create new patch and apply for my current version 2.4.1-p1.

[2021-12-30 11:47] engcom-November commented on #34811
Hi @msheehan21,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-12-30 11:47] #34811 closed, assigned to engcom-November

[2021-12-30 11:50] MeCapron opened #34903 "DataObjectProcessor reflection is not using FQN for return types"
### Preconditions (*)

1. Magento 2.4.2-p2

### Steps to reproduce (*)

1. Add an extension attribute to the CustomerInterface with a specific Model :

[code]

[code]

With InnerAttribute defined in the same folder :

[code]
3. Class will not be instantied in Reflection and you will get an error from `vendor/magento/framework/Reflection/DataObjectProcessor.php`

4. While the `getParamType` from `v

[2021-12-30 11:56] MeCapron opened #34904 "\DateTime object should be usable in ExtensionAttributes or in relatd"
### Preconditions (*)

1. Magento 2.4.2-p2

### Steps to reproduce (*)

1. Define DateTime extension attributes
2.
[code]
3. Error shows : `1 exception(s): Exception #0 (InvalidArgumentException): Each getter must have a doc block. See DateTime::format()`

### Expected result (*)

1. `DateTime` built-in must be ignored as `\Magento\Framework\Phrase` is

### Actual result (*)

1. Error shows : `1 e

[2021-12-30 13:23] zigojacko commented on #29734
Is anyone actually bothering to acknowledge this bug and roll-out a fix?

It was reported over a year ago and is still a present issue in the latest stable release...

[2021-12-30 13:37] engcom-Echo commented on #34386
Hi @tuyennn,

Yes I understood the issue but in order to confirm this issue, I will have to reproduce this with the correct code implementation so that I can confirm the validity of it.

And also, I’ll have to check the impact of it and it won’t be possible until I try with the code changes. So can you please help me with that ?

Thanks

[2021-12-30 13:45] engcom-November commented on #34797
@magento give me 2.4-develop instance

[2021-12-30 13:47] glo11486 commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2021-12-30 14:13] engcom-November commented on #34797
Hi @Assambra,
I re-verified the issue again on Magento 2.4-develop branch with below Steps followed:
1 - Admin - Stores - Configuration - Catalog - Catalog - Search Engine Optimization - Use Categories Path for Product URLs is set to YES and Save config
2. Created Categories as below:
![image](https://user-images.githubusercontent.com/60198231/147759091-853b1684-c9a0-4c4c-b353-143e23c543e6.png)

3

[2021-12-30 14:16] ilnytskyi commented on #29769
faced same issue

[2021-12-30 14:17] pitbulk commented on #30498
Yes, it is reproducible, basically there is a js that belong to the customer-data.js that defines a listener:
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/view/frontend/web/js/customer-data.js#L423

which invalidates customer data.

During external SSO, the normal login flow is not used, not submit click, so that invalidation was never executed, and that generated

[2021-12-30 16:38] pitbulk opened #34905 "Allow admins to verify its identity by providing an OTP code of its MFA, rather than a password."
### Description (*)
In a scenario where admins authenticates at Magento using a SSO feature (SAML, OAuth, OIDC), there is usually no password assigned (authentications happens at the Identity Provider side), so there is no sense to request a password for validate an action on the admin area

### Expected behavior (*)
Be able to validate the identity of the admin providing a valid OTP code, rather

[2021-12-30 17:18] uandiweb commented on #34889
Hi @engcom-Delta

I use the default Magento store pickup module (not a 3rd party extension). It works fine as long as custom options don't have a sKU assigned to it.

Thank you!

[2021-12-30 20:22] secaliskan commented on #33947
Hi we have the same issue on 2.4.3, Product price is entered (VAT included) 1000 and its showing 1000 +VAT on catalog... Altough as above all settings are "Including Tax"...

How this case resolved??

[2021-12-30 21:43] frilogg commented on #34727
@engcom-November where can we find the solution? I have  a couple of Norwegian pages where this error occur in Magento 2.4.3-p1

[2021-12-30 22:30] jalung commented on #28916
I'm seeing this message also, but it seems to appear only in the case of a "bot" requesting a specific link:

`GET /paypal/express/cancel/ HTTP/2.0`

It causes an Exception in the logs M2.4.3-p1
`main.CRITICAL: Exception message: PayPal Express Checkout Token does not exist.
Trace: <pre>#1 Magento\Paypal\Controller\Express\AbstractExpress\Cancel->execute() called at [vendor/magento/framework/Inter

[2021-12-31 02:24] magepro-dev commented on #33820
@magento I am working on this

[2021-12-31 02:25] magepro-dev commented on #33820
@magento add to contributors team

[2021-12-31 02:27] magepro-dev commented on #33820
@magento I am working on this

[2021-12-31 05:50] engcom-Echo commented on #34886
Hi @paresh6002,

Thank you for providing the video.

Since you are checking on your website, it could be happening due to some other error which you may have been getting after deployment. You can check logs and see if you find anything.

For confirmation, you can also check on fresh Magento installation or Magento 2.4-develop instance. I have checked again, even on Magento 2.4.3-p1 but this funct

[2021-12-31 06:31] engcom-Echo commented on #34898
Hi @ZephyrDogma,

Thank you for providing with the console errors info but it is not helpful since I am not getting same errors. The issue was there before but as documentation said, it was fixed and I am not getting it in the same version 2.4.3-p1 as you suggested now.

If you are getting it, there might be a set of steps through which I can also get the same. Can you please try with some other b

[2021-12-31 06:59] engcom-Hotel commented on #34880
Hello @iwkse,

We have tried to reproduce the issue in Magento 2.4-develop branch and it is reproducible for us with the given steps in the main description.

Hence confirming the issue.

Thanks

[2021-12-31 07:23] engcom-Hotel commented on #34833
Hello @mlaurense,

We have checked the translation in this [Github repo](https://github.com/magento-l10n/language-da_DK) and we are able to find the translation in a CSV file.

Please let me know if we missed anything.

Thanks

[2021-12-31 07:35] glo11486 commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2021-12-31 08:24] jadebaileywowcher commented on #34773
Morning,

This issue still persists, I am just unable to do the things you ask me to as I am working from home and not technical in the slightest.

Here are screenshots again

Magento does not allow me to view the orders section in the sales tab shown in this screenshot -
***@***.***

This next screenshot shows you what happens when I click on orders -

***@***.***

It advises something went WRONG

[2021-12-31 10:09] engcom-November commented on #31898
@magento give me 2.4-develop instance

[2021-12-31 10:42] Assambra commented on #34797
I dont use any third party extension this is a clean magento 2.4.3-p1 installation on my server.

What is normal behaviour?
if i enable Use Categories Path for Product it should show in your case http://magento24.local/default/product9.html
Or it should show http://magento24.local/default/category1/category2/category3/product9.html
Please clearify me!

in any case something isnt work correct on yo

[2021-12-31 10:52] Assambra commented on #34797
@magento give me 2.4-develop instance

[2021-12-31 11:16] glo11486 commented on #30835
@magento give me 2.4.3 instance with edition b2b

[2021-12-31 11:43] MIANZAHOOR opened #34906 "Latest data doesn't show at front end after addding data in my custom module"
### Summary (*)

Latest data does not show at front-end after submitting form in my custom module. when I clear cache then latest data show at front end.

### Expectation (*)
Help me! how to fix that problem.

when I disable cache my module work correctly but I want to displaying latest data at front side without disable cache.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4

[2021-12-31 11:45] engcom-November commented on #31898
Verified the issue on Magento 2.4-develop branch but cannot able to reproduce the issue:
Edited the Configurable Product as per mentioned steps and added product to Cart using GraphQL mutation.
Ran updateCartItems mutation with below request and response retrieved as expected - No issue
@fkukus kindly recheck the issue on Magento 2.4-develop branch and provide missing steps if any if the issue is

[2021-12-31 11:52] engcom-November commented on #34727
Hi @frilogg ,
As a workaround, kindly apply this https://github.com/magento/magento2/commit/ae304d43cd36322b1ff8145d70c9b2e9aeb0cde as a patch and confirm if you are still facing the issue.
Thank you.

[2021-12-31 12:16] engcom-Echo commented on #34906
Hi @MIANZAHOOR,

Thank you for reporting the issue.

However, the issue description is not enough for us to reproduce it. By the looks of it, issue seems to be with your custom code. You can also raise similar queries on various Magento forums like [Magento Stack Exchange](https://magento.stackexchange.com/) or [Magento Community](https://community.magento.com/) platform and there you may get some

[2021-12-31 13:12] engcom-Echo commented on #34887
Hi @nthurston,

I have followed the steps that you have given and was able to reproduce the issue but it seems it's not an issue.

After assigning a new source the new source status is out of stock and item quantity is zero which is causing the product to not display on the website which is expected.

After updating out of stock display to the “Yes” site works as expected. Please see the attached

[2021-12-31 13:16] engcom-Hotel commented on #34461
@magento give me 2.4-develop instance

[2021-12-31 13:19] PromInc commented on #34863
@magento give me 2.4-develop instance

[2021-12-31 13:41] PromInc commented on #34863
@magento give me 2.4-develop instance

[2021-12-31 13:46] PromInc commented on #34863
@engcom-November I still can't get a Magento instance to test on.  Thoughts?

![image](https://user-images.githubusercontent.com/7319505/147826450-133cfe01-d896-4ce5-998a-4cf44c21125d.png)

[2022-01-01 05:39] Lukeclusterwa opened #34907 "diary issue"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2022-01-01 06:07] mandarzope opened #34908 "Magento Graph QL : route query product and cms-page caching issue"
### Preconditions (*)
1. Magento 2.4.3-p1
2. Sample Data is imported

### Steps to reproduce (*)
1. Query using route(url:"<<product-url>>")

### Expected result (*)

1. Response header should contain X-Magento-Tags and Cache-Control to be public

### Actual result (*)

1. X-Magento-Tags header is missing and Cache-Control is no-cache

- [ ] Severity: **S2** _- Affects non-critical data or functio

[2022-01-01 06:09] mandarzope commented on #34908
@magento give me 2.4-develop instance