[2020-04-16 09:04] milan-vugrinchev commented on #10821
The solution with the dot worked for me on one of the servers. On the second server is not working. The servers are identical.

[2020-04-16 09:23] amenk commented on #26682
Thanks @azambon . You can also get a diff by adding .diff to the PRs URL:

https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/27338.diff

Can even be referenced from composer patches directly.

[2020-04-16 09:29] azambon commented on #26682
Hmm, are you sure that it works using the straight PR diff?
The issue that I see is the file path. In the PR diff the path is app/code/Magento/Quote/Model/ShippingMethodManagement.php, which is correct if one wants to apply the patch to a clone of the main Magento repo.
But if one wants to patch a regular Magento 2 installation where each module is a separate dependency ( https://devdocs.magento.c

[2020-04-16 10:35] amenk commented on #26682
In composer-patches there is a level-parameter which was just invented for that :)

[2020-04-16 10:42] nitish-ranjan05 commented on #27251
@magento give me 2.4-develop instance

[2020-04-16 10:42] magento-engcom-team commented on #27251
Hi @nitish-ranjan05. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-16 10:43] magento-engcom-team commented on #27251
Hi @nitish-ranjan05, here is your [Magento instance](https://i-27251-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27251-2-4-develop.instances.magento-community.engineering/admin_797a](https://i-27251-2-4-develop.instances.magento-community.engineering/admin_797a)
Login: `66c17e88` Password: `b460a24b0b66`
Instance will be terminated in up to 3 hours.

[2020-04-16 12:43] WIKAWebmaster opened #27874 "Vat Validation URL for EU Vat numbers changed. (Vies Service)"
An Vat Validation is not possible anymore because in the file:
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/Model/Vat.php

On line 47 the is the following code available
` const VAT_VALIDATION_WSDL_URL = 'http://ec.europa.eu/taxation_customs/vies/services/checkVatService?wsdl';`

This url is not working anymore and should be changed to the new one to get it workin

[2020-04-16 12:44] WIKAWebmaster commented on #27874
yes

[2020-04-16 13:10] nervusdm commented on #7930
That's impressive.

[2020-04-16 13:19] Yonn-Trimoreau commented on #7930
The "fix" of @ulftietze works (I still don't know if it's a bug or a feature request). I used a plugin instead of his fix, but in the concept, it actually works.

[2020-04-16 13:40] azambon commented on #26682
@amenk Didn't know about that parameter. I'll look into it. Thank you :+1:

[2020-04-16 14:08] srsathish92 commented on #27848
Yes, As per the steps to reproduce coupon reports working fine, from your [comments](https://github.com/magento/magento2/issues/27848#issuecomment-613240160) you didn't added a  coupon code. Its seems just a cart price rule with no coupon code. Then how it shows in report?

can you please confirm?

[2020-04-16 14:59] dudzio12 opened #27875 "Package weight is zero when Free Shipping cart rule is applied."
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. Create cart rule with free shipping.

### Expected result (*)
1. Package weight should be valid.

### Actual result (*)
1. Package weight is 0.

[2020-04-16 15:15] rvitaliy commented on #27227
Hi @sdzhepa!
Thanks for update and sorry for this dislikes, is not my scope.

I think that this kind of work must be open and related to a card like this to keep community updated.

My suggestion is that Mangento must keep in mind that they have many external libs that must be updated for properly work with new release, if community doesn't know whats happen in next release it's hard to be ready f

[2020-04-16 18:53] mateuschaves commented on #27875
@magento give me 2.3-develop instance

[2020-04-16 18:53] magento-engcom-team commented on #27875
Hi @mateuschaves. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-16 20:17] sdouma commented on #25620
Does Magento just not test? It seems pretty common for production instances to minify js files.

[2020-04-16 20:21] gamort commented on #6401
A product[parent or not] knows what categories it was in and what categories it is now in when it is saved.
A child product can lookup what parent products it is in before and after it is saved.
for an edge case, a child product can lookup what categories it's parent product is in when it is saved.

Therefore when a product is saved, a product is able to trigger a flush for all related category pa

[2020-04-16 20:25] ingedicson commented on #13846
Yes DanielRuf, that work for me!
Thanks!

I executed commands like:

/opt/plesk/php/7.2/bin/php -d memory_limit=-1 bin/magento setup:upgrade
/opt/plesk/php/7.2/bin/php -d memory_limit=-1 bin/magento setup:di:compile
/opt/plesk/php/7.2/bin/php -d memory_limit=-1 bin/magento setup:static-content:deploy -f es_ES
/opt/plesk/php/7.2/bin/php -d memory_limit=-1 bin/magento indexer:reindex
/opt/plesk/php/

[2020-04-16 20:55] danieljoeblack commented on #14735
@Neusta-Hartwig You solution worked for me on 2.3.3, the only change I needed to make was to change the single quotes around %1 to double quotes as the single was ending the string.

I was pulling out my hair before I found this so thanks!

[2020-04-16 21:49] lukpheakdey commented on #27684
@engcom-Alfa @mrtuvn Yes, I just want to test only to make sure what is the problem.

[2020-04-16 23:40] laurnts commented on #27528
I am currently running magento 2.3.4 php 7.2 with nginx and just run into this issue. The logo is uploaded correctly to the pub directory, the preview works fine, but when previewed using mailhog, the logo is missing. The issue lies within {{var logo_url}} sometimes output /pub/media/email and sometimes output /media/email (without pub).

[2020-04-17 03:19] manishgoswamig commented on #27862
Hi @b2bdokter did you check the issue ?

[2020-04-17 07:16] #8121 closed, assigned to nobody

[2020-04-17 08:36] simonmaass commented on #8084
we are having the same issue in m2.3.4

[2020-04-17 08:46] hkvega01 commented on #26682
I've tried to create a module to override the core model but didn't work,

[code]

[2020-04-17 08:49] madhurajawat commented on #27469
@magento I need to fork MSI directory. Can you please provide the permission
Thanks.

[2020-04-17 10:01] bhagyashreebvi opened #27878 "Review Report Filters are not working in admin"
### Preconditions (*)

1.Magento 2.3.2

 Steps to reproduce (*)

1. In the admin panel go to reports -> Reviews
2. By Customers -> In Customer Reviews Report, apply filters for "Reviews" column.
3. By Products -> In Product Reviews Report, apply filter for Average , Average(Approved) column.

 Expected result (*)

1. It should return the filtered results with count

 Actual result (*)
1.Filters ar

[2020-04-17 10:01] Sharmilasrini95 opened #27879 "Cookies Does not contain the secure flag on Fronted(checkout/cart)"
Our site is SSL secured site, and Magento 'secure' and 'insecure' URL variables both point at https:// URL. However, the PCI audit indicated that cookies are insecure on the 'checkout/cart' page.

### Preconditions (*)

1.Magento 2.3.3
I have updated the  below patch https://github.com/magento/magento2/commit/2d1f8ca5d13c626000b34002704de9e0a99d3d99

but it seems not working

### Steps to reproduc

[2020-04-17 10:08] kamzata commented on #27540
Great Scott! I think I find the bug. The problem is in the view... and exactly in `module-store/view/frontend/templates/switch/languages.phtml` at the line 28.

**WRONG**
[code]

**CORRECT**
[code]

...and now it works like a charm!

[2020-04-17 10:21] kamzata commented on #27540
I've just made a Pull request here: https://github.com/magento/magento2/pull/27880

[2020-04-17 10:39] joshspivey commented on #8084
https://github.com/joshspivey/magento2-sales-grid

On Fri, Apr 17, 2020 at 1:37 AM Simon Maass <notifications@github.com>
wrote:

[2020-04-17 11:09] duckchip opened #27881 "Use default value not working on custom admin form"
### Introduction
In scope of MC-18153, the [following html element](https://github.com/magento/magento2/commit/7caf49278aa88391decae5d1a6a5afe4427e6ad9#diff-a7a8af13cbad18dd607f30a5ea391642R65) got stronger escaping.

[code]
### Preconditions (*)

1. 2.3.4 CE

### Steps to reproduce (*)

1. Create a custom Admin form in a page with scoping enabled.

### Expected result (*)

1. Try to uncheck the "

[2020-04-17 11:41] sudheers-kensium commented on #27881
@magento give me 2.4-develop instance

[2020-04-17 11:42] magento-engcom-team commented on #27881
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-17 11:43] magento-engcom-team commented on #27881
Hi @sudheers-kensium, here is your [Magento instance](https://i-27881-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27881-2-4-develop.instances.magento-community.engineering/admin_8d32](https://i-27881-2-4-develop.instances.magento-community.engineering/admin_8d32)
Login: `97517293` Password: `e8ecddcd47cb`
Instance will be terminated in up to 3 hours.

[2020-04-17 11:50] bjornmeat commented on #27865
@magento give me 2.4-develop instance

[2020-04-17 11:50] magento-engcom-team commented on #27865
Hi @bjornmeat. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-17 11:52] magento-engcom-team commented on #27865
Hi @bjornmeat, here is your [Magento instance](https://i-27865-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27865-2-4-develop.instances.magento-community.engineering/admin_232e](https://i-27865-2-4-develop.instances.magento-community.engineering/admin_232e)
Login: `cbf39616` Password: `70a57e5239eb`
Instance will be terminated in up to 3 hours.

[2020-04-17 12:13] tux-rampage commented on #10766
The languages must no longer be specified via the `-l` or `--language` flags, but as optional argument list.

This was changed and the input option was not removed causing an incorrect cli usage for `--help`. :facepalm:

Use it like this, and the locales will be deployed:

[code]

Never the less they should also be generated for `'all'` (i.e. when Locales are omitted)

[2020-04-17 14:30] prabhacse09 commented on #22313
Hi @KooTjoo

Magento 2.3.4 CE still has the issue on the below file.

/vendor/magento/framework/Indexer/etc/indexer_merged.xsd

Open the file and edit Line 64:
from
`<xs:pattern value="[a-zA-Z\\]+" /> `
to
`<xs:pattern value="[a-zA-Z|\\]+[a-zA-Z0-9\\]+" />`

[2020-04-17 14:36] KooTjoo commented on #22313
Hi,

Thank you I know how to fix it, but I thought this bug was solved.

[2020-04-17 14:53] lbajsarowicz opened #27883 "Duplicated keys for Weight"
### Preconditions (*)
Resource Models use `const` to avoid typos and represent reusable element across the application.

https://github.com/magento/magento2/blob/eab4eba4809e866c55527fd2cbe63ab9b488a6b7/app/code/Magento/OfflineShipping/Model/ResourceModel/Carrier/Tablerate/CSV/ColumnResolver.php#L11-L28

You can notice that 2 `const`s are using the same value, which is developer's mistake.

The re

[2020-04-17 15:07] Sabarivaassan opened #27884 "Class 'PHPUnit_Framework_TestCase' not found in Magento2"
**Preconditions**
Magento Open Source 2.3.3
**Steps to reproduce**
Upgraded from version 2.2 to 2.3
composer require magento/product-enterprise-edition=2.3.3 --no-update
composer require --dev allure-framework/allure-phpunit:~1.2.0 friendsofphp/php-cs-fixer:~2.14.0 lusitanian/oauth:~0.8.10 magento/magento-coding-standard:~3.0.0 magento/magento2-functional-testing-framework:2.4.5 pdepend/pdepend:2.

[2020-04-17 16:36] RN-Say commented on #25221
While working on another issue yesterday, I had to delete and re-deploy static content as well as clear all of my cache layers. My error has now resolved with the use of the Luma email templates instead of the Porto templates for New Shipment and New Shipment Guest. (Not sure if changing php max input variables had anything to do with it or not.)

![success](https://user-images.githubusercontent.c

[2020-04-17 16:36] shikhamis11 commented on #27546
hi @PascalBrouwers
I am closing this issue due to not activity
feel free to open this issue

[2020-04-17 16:36] #27546 closed, assigned to shikhamis11

[2020-04-17 16:40] magento-engcom-team commented on #26931
@shikhamis11 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to fol

[2020-04-17 16:41] #26848 closed, assigned to shikhamis11

[2020-04-17 16:44] shikhamis11 commented on #27874
@magento give me 2.4-develop instance

[2020-04-17 16:44] magento-engcom-team commented on #27874
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-17 16:45] magento-engcom-team commented on #27874
Hi @shikhamis11, here is your [Magento instance](https://i-27874-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27874-2-4-develop.instances.magento-community.engineering/admin_49d6](https://i-27874-2-4-develop.instances.magento-community.engineering/admin_49d6)
Login: `facdbe41` Password: `ef8c306dbeb5`
Instance will be terminated in up to 3 hours.

[2020-04-17 17:08] magento-engcom-team commented on #27874
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33515` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-17 19:23] textarea opened #27889 "Phrase "Invalid Form Key. Please refresh the page." doesn't get translated"
#24344 # Preconditions (*)
1. Magento composer 2.3.4 with a locale store view different from English.

### Steps to reproduce (*)
1. As a guest customer, go to login page, simulate expired session removing your browser cookies and then try to login (even with invalid credentials).

### Expected result (*)
1. Get the error phrase "Invalid Form Key. Please refresh the page." translated into the stor

[2020-04-17 19:23] textarea commented on #27889
@magento give me 2.4-develop instance

[2020-04-17 19:23] magento-engcom-team commented on #27889
Hi @textarea. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-17 19:25] magento-engcom-team commented on #27889
Hi @textarea, here is your [Magento instance](https://i-27889-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27889-2-4-develop.instances.magento-community.engineering/admin_d34a](https://i-27889-2-4-develop.instances.magento-community.engineering/admin_d34a)
Login: `a7aca63e` Password: `f0082c42a24c`
Instance will be terminated in up to 3 hours.

[2020-04-17 19:44] textarea commented on #27889
The error message come from this point:
https://github.com/magento/magento2/blob/cd77da6b216c9aa33681dc2569ef1d5ad4e6a160/app/code/Magento/Customer/Controller/Account/LoginPost.php#L155

[2020-04-17 22:03] themew commented on #4159
Not working in OpenLiteSpeed with webroot in /pub/  Still getting 404

[2020-04-17 22:17] ktleach opened #27891 "Images:resize then Flush Catalog Images Cache breaks image links"
### Preconditions (*)
1. Magento 2.3.4
2. Hosted on SiteGround.  over 27k simple products
3. Php 7.3

### Steps to reproduce (*)
1. Run `php bin/magento catalog:images:resize`  (took 6 hours)
2. Click on Flush Catalog Images  (deleted /pub/media/catalog/products/cache)
3. Click on FlushMagento Cache
4. Refresh browser for front end

### Expected result (*)
1. Expect images in product grid and prod

[2020-04-17 22:21] riconeitzel commented on #14459
If anyone comes here because one or more *.less files are copies instead of symlinks and grunt watch doesn't watch these files:

See here: https://magento.stackexchange.com/a/310705/5988

[2020-04-17 22:23] riconeitzel commented on #1619
If anyone comes here because one or more *.less files are copies instead of symlinks and grunt watch doesn't watch these files:

See here: https://magento.stackexchange.com/a/310705/5988

[2020-04-17 22:34] riconeitzel commented on #6367
A quick summary how grunt:watch works smoothly with @import rules: https://magento.stackexchange.com/a/310705/5988

[2020-04-18 10:22] patrickpeng2091 commented on #12866
jzahedieh

edit:  vendor/magento/module-analytics/view/adminhtml/layout/adminhtml_dashboard_index.xml

`<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>
        <referenceContainer name="content">
            <block ifconfig="analytics/general/enabled" template="Magento_Analyti

[2020-04-18 10:55] ennostuurman commented on #10766
hey @tux-rampage thank you for chiming in. I didn't dig into this further for some time, this refers back to a release candidate version some while ago. I indeed didn't use the language flag anymore for quite some time.

I didn't dig into the code but maybe @magento-engcom-team can shed some light on the supposed removal of the locale flag. Because if it has been removed than both the  `bin/magent

[2020-04-18 11:20] DaveSkirrow commented on #26991
@arnoudhgz Just wondering if you could let me know how to apply the fix? I installed via composer so there was no app/code/magento folder.
I have found the original file in the appropriate vendor folder but I'm not sure if it's safe to change it there?
Creating app/code/Magento/ConfigurableProduct/view/frontend/web/js/  and adding the file there doesn't do anything

Any help much appreciated!

[2020-04-18 11:26] arnoudhgz commented on #26991
@DaveSkirrow you'll need to change the text app/code/Magento/ConfigurableProduct to the vendor location of the configurable product. So vendor/magento/module-configurable-product

[2020-04-18 11:43] DaveSkirrow commented on #26991
Thank you! I wasn't sure if it was OK to edit vendor files but I will do that now.

[2020-04-18 13:40] arnoudhgz commented on #26991
@DaveSkirrow it is not alright to edit vendor files manually. But you can use git patch to apply a patch to your codebase. So when you do a new deployment you can easily apply the patches again.

[2020-04-18 18:21] Manwanigaurav opened #27893 "Paypal Express Checkout : paypal_fetch_settlement_reports cron is not working"
When you update the required configuration to enable and schedule the cron, you can see the cron is not scheduled at the specified time and i have checked cron_schedule table also but there is no job_code with the paypal_fetch_settlement_reports.
**configuration path to enable and schedule the cron** : store > configurtion > sales > payment methods > paypal express chekout > Advance settings > Set

[2020-04-18 18:53] Manwanigaurav commented on #27893
@magento I am working on it

[2020-04-18 19:32] lbajsarowicz commented on #27607
Still to be implemented.

[2020-04-18 20:36] slavvka commented on #23233
https://github.com/magento/magento2/pull/23579 has been reverted

[2020-04-18 20:37] magento-engcom-team commented on #23233
:white_check_mark: Confirmed by @slavvka
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33532` were created

**Issue Available**: @slavvka, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-18 23:02] #27299 closed, assigned to lbajsarowicz

[2020-04-18 23:08] mrtuvn commented on #27540
2.2.11 still use old implement url .  The params post to url use ? mark
In 2.3.0 magento use new implement url so no use ? anymore (for security i think)
My opinion both url still redirect to same one

[2020-04-19 01:33] mrtuvn commented on #27189
actually it work but your changes will not apply. Magento take over the previous property defined
If you want to override boxshadow why not use lib-css(box-shadow, none) instead of use lib-css(box-shadow, false) false flag will ignored

[2020-04-19 02:45] mrtuvn commented on #5927
my workaround work with less in production mode
2.4-develop redis varnish enabled production on

Is this problem still happen in 2.4 ?

[2020-04-19 03:18] mrtuvn commented on #22627
@dverkade  why do you need re-import that file ? It's already included in styles of magento theme isn't it ?
Magento already automatic find less in web/css so you don't need more specific path

[2020-04-19 04:05] ABDUL-RAQEEB opened #27894 "Products per Page on Grid Allowed Values"
### Preconditions (*)

1. We want to display products like **12,24,36,48, All** but unable to do this. Below we have attached two screenshots one is expected and the other which is right now.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1.
![store view issue-expected](https://user-images.githubusercontent.com/15211627/79679120-81681a80-821c-11ea-9936-a24a12c89517.JPG)

### Actual r

[2020-04-19 04:19] ABDUL-RAQEEB opened #27895 "New Order Confirmation Email Sender"
### Preconditions (*)

1. **We are unable to fix the Order Confirmation Email. Our customers are reporting multiple times that they are not getting any email from our portal when they order any product.**

### Expected result (*)

1. **We want that if our customers order any product they must be getting Email Confirmation from of their orders but right now our customers are not getting emails from

[2020-04-19 07:19] mrtuvn commented on #25592
if it's only affected in line height case why not use native property instead mixins. You can controll value you want
Some case you don't want convert to rem you can set @font-size-unit-convert: false; in top of customises less

[2020-04-19 13:17] lbajsarowicz opened #27897 "MFTF: Inconsistent case in Section name"
`StorefrontMinicartSection` and `StorefrontMiniCartSection` are defined.
There should be consistency.

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-04-19 14:50] SewHappy58 commented on #5929
I'm on Magento 2.3.4 and just uploaded my products from Magento 1 store and am facing this problem.  No matter what I try, I'm still seeing the incorrect URL.  Any suggestions?  I have a multi-store and not sure if that is causing the issues as well

[2020-04-19 15:04] SewHappy58 commented on #16134
Still having the same problem on Magento 2.3.4

[2020-04-19 15:43] eugene-shab commented on #27836
@jhakamlesh What is your version of MySQL?

[2020-04-19 15:58] jhakamlesh commented on #27836
@eugene-shab mysql Ver 8.0.19-0ubuntu0.19.10.3 for Linux on x86_64 ((Ubuntu))

I already have mentioned above.

[2020-04-19 16:11] jackrevate commented on #25495
Still think this is an issue in 2.3.4 - anyone got a fix? starting to annoy me now.

[2020-04-19 16:27] jackrevate opened #27898 "Product Page doesn't show categories in breadcrumbs (Magento 2.3.4) *HELP*"
### Preconditions (*)

1. 7.2
2. 2.3.4

### Steps to reproduce (*)

1. Visit categories, go through the motions you'll see breadcrumbs work correctly.
2. Visit categories and click on a product, the breadcrumbs that were on the categories will disappear and only show a direct breadcrumb for the product (not a trail breadcrumb list as expected).

### Expected result (*)

1. Breadcrumbs from categor

[2020-04-19 18:27] shikhamis11 commented on #27895
Hi @ABDUL-RAQEEB
Can you update the issue format so that it should provide necessary informations.
You can check this https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Also don't forget to mention your magento version

[2020-04-19 18:29] shikhamis11 commented on #27894
@ABDUL-RAQEEB please share magento version

[2020-04-19 18:30] shikhamis11 commented on #27898
@magento give me 2.4-develop instance

[2020-04-19 18:30] magento-engcom-team commented on #27898
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-19 18:31] magento-engcom-team commented on #27898
Hi @shikhamis11, here is your [Magento instance](https://i-27898-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27898-2-4-develop.instances.magento-community.engineering/admin_afc1](https://i-27898-2-4-develop.instances.magento-community.engineering/admin_afc1)
Login: `9bf7f265` Password: `41648d14f4e0`
Instance will be terminated in up to 3 hours.

[2020-04-19 18:50] shikhamis11 commented on #27898
@magento give me 2.3.4 instance

[2020-04-19 18:50] magento-engcom-team commented on #27898
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-04-19 18:51] magento-engcom-team commented on #27898
Hi @shikhamis11, here is your [Magento instance](https://i-27898-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27898-2-3-4.instances.magento-community.engineering/admin_8109](https://i-27898-2-3-4.instances.magento-community.engineering/admin_8109)
Login: `361fc435` Password: `6a273f6df29f`
Instance will be terminated in up to 3 hours.

[2020-04-19 19:01] shikhamis11 commented on #27898
@jackrevate thank you for reporting this issue . I checked this issue on 2.3.4 as well as 2.4-develop instances but not able to reproduce this issue .. can you also check and confirm ?
Also shared screenshot / video if you are able to reproduce this issue

[2020-04-19 19:04] ioweb-gr opened #27899 "duplicate key name while adding indexes and constraints in db_schema.xml"
Expanding on #27829 I bumped into a bug here that I can't find a way to work around.

### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. Create a new module
2. In db_schema.xml add the following declarations in a new table

[code]

3. Execute bin/magento setup:db-schema:upgrade
4. Modify XML like this

[code]
5. Execute bin/magento setup:db-schema:upgrade

### Expected result (*

[2020-04-19 19:35] lbajsarowicz opened #27900 "Module elements are processed when not logged in"
To be described later. Listing there to not forget

### Preconditions (*)

[code]

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-04-19 19:43] ajithkumar-maragathavel commented on #18823
@magento give me 2.4-develop instance

[2020-04-19 19:43] magento-engcom-team commented on #18823
Hi @ajithkumar-maragathavel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-19 19:45] magento-engcom-team commented on #18823
Hi @ajithkumar-maragathavel, here is your [Magento instance](https://i-18823-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-18823-2-4-develop.instances.magento-community.engineering/admin_48bb](https://i-18823-2-4-develop.instances.magento-community.engineering/admin_48bb)
Login: `4a22aa9f` Password: `248f137f6031`
Instance will be terminated in up to 3 hours.

[2020-04-19 19:57] ajithkumar-maragathavel commented on #18823
@magento-admin Please assign this ticket to me. I will work

[2020-04-19 21:51] p810 commented on #25438
Just wanted to chime in here, since I've landed on this thread from Google after having encountered the error on a site I'm working on.

I have a controller that returns an instance of `Magento\Framework\Controller\Result\Json`. If I don't call `setData()` before returning the result object, I get the following error:

[code]

Obviously the fix on my end is very simple, and I'm not entirely sure w

[2020-04-20 02:58] Leland commented on #25592
Setting global button line-heights to `1` is a very common use case here, as outlined above. On a default instance of Luma, that would produce an output of 0.1rem. That's clearly not intended or correct output one way or another, and we can't expect developers to look at that 0.1rem and think "oh, I should just be using properties, not the mixin!"

We should definitely support unitless values on t

[2020-04-20 04:27] ajijshekh123 commented on #27851
@nitin19 - Let me close this issue now. If you want to reopen this issue please follow the Magento Issue reporting guidelines.

Thanks.

[2020-04-20 04:27] #27851 closed, assigned to ajijshekh123

[2020-04-20 05:33] mrtuvn commented on #25592
ok i see plenty usage line-height around button here. Undoubtedly we need refactor to work with unitless

[2020-04-20 05:41] todssmith opened #27901 "USPS Free Shipping Pre-Selected"
### Description (*)

"Select Method" USPS Free Shipping $0 is not pre-selected and defaulted for the consumer. This is a time when qualified free shipping purchases should be given priority for convenience.

It seems that Paypal allows you to bypass "Select Method" selection, but Amazon Pay doesn't. It's unknown why it's coded this way.

### Expected behavior (*)

Consumer gets to click next to co

[2020-04-20 05:55] dimplemenon commented on #5929
@SewHappy58 Add url_key column in ur CSV, add unique URL for ur product (ex: name-sku) and then try to upload.

[2020-04-20 06:58] madhurajawat commented on #23682
@magento Please give me 2.3 develop instance

[2020-04-20 07:16] drazulay commented on #8964
Anybody home?

[2020-04-20 07:33] ABDUL-RAQEEB commented on #27895
Hi @shikhamis11
We are using **Magento ver. 2.3.4**
We are facing **Order Confirmation Email issue**. Our customers are continuously blaming us that they are not receiving email as they punch order on our portal. Please fix these features.

Our portal: http://rajahs.com.pk/

[2020-04-20 07:52] baltechies commented on #27872
@magento-engcom-team  any suggestion?

[2020-04-20 09:32] norgeindian commented on #27474
@luanalves , @shikhamis11 , during the invoice creation step a backend user can choose if the invoice mail should be sent or not. As it is possible to send the mail later again in the backend view of the invoice, it should be visible if the mail has already been sent or not in my eyes.
This was already shown in Magento1 and I don't see a reason, why it should not be displayed in Magento2 as well.

[2020-04-20 09:47] ndrukajsh commented on #8285
Bugs all over the place, this issue is still persisting on 2.3.4

[2020-04-20 09:50] swell-d commented on #8145
i use multistore - 13 web-sites, ~20.000 products, 31760 images, 2 additional themes.
product images folder is ~3GB, cache images folder is ~218GB. is it legal?!

[2020-04-20 10:51] hostep commented on #26796
https://github.com/magento/magento2/pull/26801 got merged a while ago, so we can close this issue.

No information was provided about in which Magento versions it will be fixed, but I'm guessing 2.4.0 and maybe 2.3.6?

[2020-04-20 10:51] #26796 closed, assigned to hostep, engcom-Alfa

[2020-04-20 11:12] shikhamis11 commented on #27474
@norgeindian this issue is already confirmed and ticket has been created.
If you have possible solution for the issue you can create pull request for this issue.

[2020-04-20 11:42] jackrevate commented on #27898
Appears to be caused by Amasty SEO extensions - will confirm shortly!

[2020-04-20 12:21] bartoszkubicki opened #27904 "Topology installation fails silently"
### Preconditions (*)

1. Magento 2.3.3, PHP 7.3, Rabbit 3.7.8

### Steps to reproduce (*)

1. Create topology having, for example queue, which causes exceptions from `php-ampqlib`, for example redeclare queue with different arguments values. (Possible if these PR are processed: https://github.com/magento/magento2/pull/26966, https://github.com/magento/magento2/pull/26967)
2. Magento topology inst

[2020-04-20 12:37] chris-pook commented on #25906
If anyone is looking for the cause of this issue in 2.3.3 or below, I believe the fix referred to above is an unchecked variable as fixed here:

https://github.com/magento/magento2/commit/18a83d6de6d850a732d16aed2c95fb99dbcd6702#diff-123aaca295c4956e7dc6076a2bac45d7L75-R75

[2020-04-20 12:53] hostep commented on #21885
I've seen some change in the codebase of Magento 2.3.5 which might fix this issue. Would be great if somebody could verify this when 2.3.5 is officially released on 28 April.

[2020-04-20 13:05] Perzonallica commented on #27641
Hello,

we had the same issue:

`Fatal error: Uncaught Error: Call to a member function getProduct() on bool in /var/www/magento-v2/vendor/magento/module-configurable-product/Plugin/SalesRule/Model/Rule/Condition/Product.php:61`

But interestingly not during simple checkout, but when someone wanted to remove an item during **Check Out with Multiple Addresses**.

@qsolutions-pl I managed to "solve"

[2020-04-20 13:15] mangamuri opened #27906 "Fixed Dollar Amount Cart Price Rule for Bundle Product shows discount on both items in order/invoice"
### Preconditions (*)
1. Magento 2.3.4
2.

### Steps to reproduce (*)
1. Create 2 simple products
2. Create Bundle product and add above two simple products as options to customer choose one or two
3. Create Cart price rule to  apply fixed dollar amount discount  for simple product 1
4. Add both items in bundle to cart
5. Apply discount code
6. discount covers fixed price which is equal to product

[2020-04-20 13:16] mangamuri commented on #27906
@magento could you please give me 2.3.4-develop instance

[2020-04-20 13:28] erfanimani commented on #21885
Thank @hostep , let's hope that's the case! I should be able to verify soon after the release.

[2020-04-20 13:50] Eddcapone opened #27907 "Can't use alias in referenceBlock"
### Preconditions (*)

1. Magento 2.3.4
2. Linux Server @ Rackspeed

### Steps to reproduce (*)

I tried to inject an argument to the Block **category.products.list** (_vendor\magento\module-catalog\view\frontend\layout\catalog_category_view.xml_) by calling _referenceBlock_ from my themes layout file **app\design\frontend\company\base\Magento_Catalog\layout\catalog_category_view.xml**
by using th

[2020-04-20 13:53] lbajsarowicz opened #27908 "Magento test modules cause setup:di:compile to fail"
[code]

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-04-20 14:14] navarr commented on #27700
@magento give me 2.4-develop instance

[2020-04-20 14:14] magento-engcom-team commented on #27700
Hi @navarr. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-20 14:15] magento-engcom-team commented on #27700
Hi @navarr, here is your [Magento instance](https://i-27700-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27700-2-4-develop.instances.magento-community.engineering/admin_4421](https://i-27700-2-4-develop.instances.magento-community.engineering/admin_4421)
Login: `fc0777d5` Password: `2ef1660fb08b`
Instance will be terminated in up to 3 hours.

[2020-04-20 14:23] navarr commented on #27700
Confirmed on 2.4

[2020-04-20 14:57] hostep commented on #7065
Looks like a fix for this is also coming in Magento 2.3.5 (not 100% sure)

[2020-04-20 14:57] engcom-tester commented on #24426
@magento I am working on it

[2020-04-20 15:00] FrancescoG77 commented on #2540
Hi All,
I've Magento 2.3.4 but I got the same error
oauth_problem=Cannot+create+request+token+because+consumer+token+is+not+a+verifier+token

I set an Integrations with ConsumerKey and ConsumerSecret.

In Stores -> Setting Oauth -> Expiration Period I need to enter value 1000000000000
If I leave default value (300) I got oauth_problem=Consumer+key+has+expired

Testing with Postman I have this erro

[2020-04-20 15:03] Wohlie opened #27909 "Updating Customer through rest/all/V1/customers/:id resets custom attributes if the custom attributes are not passed in payload"
Hi, we upgrade from 2.3.0 to 2.3.3-p1 and now have the following issue. Maybe also other REST api endpoints are effected by this problem.

### Preconditions (*)
1. 2.3.3-p1
2. Add at least one customer custom attribute with data type `int` e.g. type select and yes-no source model:
[code]

### Steps to reproduce (*)
1. Register a customer in the frontend
2. Go to the admin panel and edit the new cu

[2020-04-20 15:04] engcom-tester opened #27910 "[TEST] TEST Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-04-20 15:09] alexvais commented on #26589
What module caused that issue?

[2020-04-20 15:18] ioweb-gr opened #27911 "serialize objects"
### Summary (*)

### Examples (*)

### Proposed solution

[2020-04-20 15:18] #27911 closed, assigned to nobody

[2020-04-20 15:24] hostep commented on #25042
In case people see a different sized logo after upgrading to Magento 2.3.5, please follow the [advice](https://github.com/magento/magento2/pull/25789) from @mfickers and update your layout xml from:
[code]

to:
[code]

[2020-04-20 15:50] lbajsarowicz opened #27912 "Probably unnecessary use of `around` plugin"
As a part of improving performance and Developer Experience, Magento should reduce the use of `around` plugins. The ticket mentions some of these, as a "TODO" list to handle in near future.

https://github.com/magento/magento2/blob/b7f6d644399456fda2c12148cc79945aee2ee894/app/code/Magento/Catalog/Model/Indexer/Product/Price/Plugin/CustomerGroup.php#L81-L95

https://github.com/magento/magento2/blob

[2020-04-20 15:57] rr10 opened #27913 "Uncaught TypeError: Argument 1 passed to Magento\Catalog\Block\Product\ImageFactory::getRatio() must be of the type integer"
0

i have this error in product page after upgrade to magento 2.3.4 from 2.2.6 php 7.2

magento 2.3.4
php 7.2
centos
apache
template porto 2.3.2

[code]
thanks

i have found a similar issue
[https://magento.stackexchange.com/questions/264084/uncaught-typeerror-argument-1-passed-to-magento-catalog-block-product-imagefact](url)

[2020-04-20 16:39] #27910 closed, assigned to nobody

[2020-04-20 16:50] tushhan commented on #13929
Hi, This problem occurs on Magento 2.3.4 as well.

1- File validation fails if upload an image
2- Sub folders shows an error as below.

---
Fatal error: Uncaught Error: Call to undefined function mime_content_type() in
.....
/vendor/magento/module-cms/Model/Wysiwyg/Images/Storage.php on line 362
----

![Screenshot 2020-04-20 at 17 42 39](https://user-images.githubusercontent.com/746774/79777417-21

[2020-04-20 17:13] gabrielxavila commented on #27272
Products have been set to “yes” and still experiencing the issue.

[2020-04-20 17:15] gabrielxavila commented on #27272
Good afternoon, thank you for looking into the issue. I have turned the products data to visible and I am still not able to see the text fields on any of my products. Please advise

[2020-04-20 17:47] hostep commented on #13929
@tushhan: you need the `fileinfo` php extension, I already mentioned it above 😉
Good luck!

Strictly speaking, it's a bug in Magento however, there is [a suggestion](https://github.com/magento/magento2/pull/24455#issuecomment-530907778) to fix it, but might take a while until somebody picks it up.

[2020-04-20 19:04] magento-engcom-team commented on #27899
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33558` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-20 19:07] dvershinin commented on #25142
I think it would be helpful that for mere mortals  (which are probably in majority)  who don't need bulk API and *don't need* that `var/log/system.log` is littered with the message:

to have the `Magento_WebapiAsync` module disabled by default.

And if it's not possible, at least mention that disabling it will help to get rid of the message and keep logs clean. As per [post](https://www.getpagespe

[2020-04-20 20:32] okorshenko opened #27915 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity]() assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functi

[2020-04-20 20:32] okorshenko commented on #27915
@magento I am working on it

[2020-04-20 20:33] #27915 closed, assigned to okorshenko

[2020-04-21 00:16] aliomattux commented on #7247
I agree it is not a bug but the error could indicate the problem generically such as just what you said, error: Cannot update non-eav attribute.

[2020-04-21 01:07] dvershinin commented on #4159
The big question is not this bug. The big question is Magento 2 Q/A, speed of fixing things, inadequate closing of tickets then further neglect.

@KrystynaKabannyk was the issue really fixed when you closed it? Following all the scrolling thereafter it's obvious that it at least returned very soon, or likely never been truly fixed. Based on the volume of complaints, it has to be reopened.

It take

[2020-04-21 01:08] LiamKarlMitchell commented on #8145
Cache folder seems somewhat pointless if you are using Cloudflare or other CDN.
Can we just disable this feature where requests would serve a resized image but cache that response with an etag based on the original source file's checksum?

[2020-04-21 02:56] manobi commented on #24442
@lpouwelse Thank you, I'll trying something on K8s deployment.

[2020-04-21 05:52] congrallion commented on #25778
I face the same issue. Upsells, Crosssells & Related product not imported completly. Does anyone have patch for this

[2020-04-21 05:58] magento-engcom-team commented on #27897
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33577` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-21 06:27] manishthummar111 commented on #27894
Hi @ABDUL-RAQEEB .
I've checked and not found an issue in Magento 2.3.4
To get your expected result need to the following config
![2020_04_21_config](https://user-images.githubusercontent.com/19949807/79832414-fe36f800-83c6-11ea-8c76-fd97ca4f4c4b.png)

I've got on frontend All option
![2020_04_21_frontend](https://user-images.githubusercontent.com/19949807/79832455-1b6bc680-83c7-11ea-88b0-d6ebbfa0

[2020-04-21 07:02] engcom-Echo commented on #27889
Hi, @textarea. Thank you for your report.

I think you can use a translation file for used language.
https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/translations/xlate.html

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the l

[2020-04-21 07:21] tdgroot commented on #25182
Related PR: #27311

[2020-04-21 07:26] textarea commented on #27889
Hi @engcom-Echo,
why did you close this issue?
Were you unable to replicate it or have you not even tried?
Obviously I HAVE a translation file (Italian language) and it works for all the strings except the one of this issue.
I've found others italian magento 2 stores, completely translated, but not "Invalid Form Key....."

[2020-04-21 07:29] engcom-Echo commented on #27872
Hi, @baltechies. Thank you for your report.

An example of using a plugin for this method can be found in Magento.
![image](https://user-images.githubusercontent.com/51681435/79837852-c32ec780-83ba-11ea-9b1d-4d68b804c86a.png)
![image](https://user-images.githubusercontent.com/51681435/79837906-d6419780-83ba-11ea-8e7a-b9284a9e2eca.png)

[2020-04-21 08:07] engcom-Echo commented on #27889
Hi, @textarea.
Unfortunately, I couldn't repeat an issue.

![image](https://user-images.githubusercontent.com/51681435/79840486-a3010780-83be-11ea-9aef-9a3a3fd859c1.png)
![image](https://user-images.githubusercontent.com/51681435/79840827-24f13080-83bf-11ea-8a69-1f9cc3083764.png)

Please provide advanced steps, I will try again. What language is used for the store by default?

[2020-04-21 08:16] textarea commented on #27889
Ok @engcom-Echo, thanks for reopening.
You are verifying the "The account sign-in was incorrect or your account is disabled temporarily. Please wait and try again later." error message, not the one "Invalid Form Key. Please refresh the page.".
So, please try these steps:
1 - go to login page
2 - after page loaded remove all xxx domain cookies (Chrome developer window "Application" -> "Storage" ->

[2020-04-21 08:24] SerhiyShkolyarenko commented on #27867
I had the same issue, but Magento 2.4 installation works fine with latest(1.10.5) composer.

[2020-04-21 08:26] engcom-Echo commented on #27889
![image](https://user-images.githubusercontent.com/51681435/79843463-fa08db80-83c2-11ea-8036-af813d75cb7a.png)

[2020-04-21 08:34] textarea commented on #27889
Ok @engcom-Echo , you are viewing the translated message correctly.
Can I know what italian translation did you used?
Thanks for your test.

[2020-04-21 08:45] engcom-Echo commented on #27889
If your Default store is English, after remove all xxx domain cookies, you redirected to Default Store.
Now for Default Store, I used Italian.
Do you have two or more stores? I want to check this case.

[2020-04-21 08:54] textarea commented on #27889
Only one store with italian locale.

[2020-04-21 09:23] textarea commented on #27889
clean magento test, get english error message
http://mageita.textarea.it/customer/account/login

[2020-04-21 09:56] engcom-Echo commented on #27889
Make sure your language pack has a translation of the phrase "Invalid Form Key. Please refresh the page."

[2020-04-21 09:59] textarea commented on #27889
It is present

[2020-04-21 10:15] textarea commented on #27889
Which italian package did you used @engcom-Echo ?

[2020-04-21 10:19] engcom-Echo commented on #27889
Yes it is

[2020-04-21 10:38] textarea commented on #27889
Changed phrase in vendor/magento/module-customer/Controller/Account/LoginPost.php line 155, which below get translated, but the error message is still untranslated.

![Schermata 2020-04-21 alle 12 34 08](https://user-images.githubusercontent.com/1927403/79856464-adc29900-83cc-11ea-8a55-85186340a9c9.jpg)

[2020-04-21 10:39] ktruehl commented on #16779
This is apparently still an issue even in 2.3.5.

[2020-04-21 10:54] xpoback commented on #26991
Nothing weird, it's very typical for Magento to no include fixes that have been already merged to the develop branch to the nearest release. Get used to it :)

[2020-04-21 10:58] xpoback commented on #26991
To simplify this procedure you can use [`cweagans/composer-patches`](https://github.com/cweagans/composer-patches). The patch will be applied on each composer install/update.

[2020-04-21 11:14] ktruehl opened #27918 "integrity constraint violation in sales_clean_orders cron job"
### Preconditions (*)

1. Magento 2.3.4 (but also Magento 2.3.5)

### Steps to reproduce (*)

1. Create a catalog price rule with coupon.
2. Add product to cart and apply the coupon.
3. Start placing an order. Choose a credit card payment method, or any payment method that allows transitioning the order to the `pending_payment` status works.
4. Do not finish the payment, so that the order stays wi

[2020-04-21 11:17] ktruehl commented on #27918
The `yes` checkbox in the bot questionaire doesn't work. I cannot check it. But yes, I do confirm that it can be reproduced on a vanilla Magento instance.

[2020-04-21 11:33] ABDUL-RAQEEB opened #27919 "Our Customers are not getting Order Confirmation Email"
### Steps to reproduce (*)

We are using **Magento ver. 2.3.4**
We are facing the Order Confirmation Email issue. Our customers are continuously blaming us that they are not receiving email as they punch order on our portal. Please fix this issue.

### Expected result (*)

We want that our customers must be getting their **ORDER CONFIRMATION EMAIL** as they punched order on our portal.
We are usin

[2020-04-21 12:03] hostep opened #27920 "[2.3.5] Incorrect html structure after MC-30989"
### Preconditions (*)
1. Magento 2.3.5 or 2.4-develop (I'm using commmit 1e28f35a6de15f65371c64afda7531611d1be242)

### Steps to reproduce (*)
1. Look at this piece of code: https://github.com/magento/magento2/blob/1e28f35a6de15f65371c64afda7531611d1be242/app/code/Magento/Catalog/view/frontend/templates/product/list/items.phtml#L245-L292
2. Remove a bunch of the inner structure until you have the

[2020-04-21 12:18] ABDUL-RAQEEB opened #27922 "We need only mouse over preview for Color Palettes"
### Description (*)

**We are using Magento Ver 2.3.4**
Our color palettes are working fine like below screenshot when we click on any color palette it opened in Images preview frame which we don't want. Please suggest.
**We want the only mouse over preview for our COLOR PALETTES**

![color palettes](https://user-images.githubusercontent.com/15211627/79864526-0c9b0900-83f3-11ea-948d-324279d6db94.p

[2020-04-21 12:35] madhurajawat commented on #27469
@stkrelax  There is code added in InventorySales module di.xml. with this code getting 2 errors.

<item name="is_any_source_item_in_stock" xsi:type="array">
	<item name="required" xsi:type="boolean">true</item>
	<item name="object" xsi:type="object">Magento\InventorySales\Model\IsProductSalableForRequestedQtyCondition\IsAnySourceItemInStockCondition</item>
</item>

We can remove this code.

[2020-04-21 13:04] DaveSkirrow commented on #26991
Thank you @xpoback. I'd actually already manually edited the vendor file. In this case, will this cause a problem? Will it prevent updates entirely or will the file just be overwritten (and I'll lose my changes) if I try to update?

If the latter, am I right in saying that these changes will most likely be in the next release anyway?

Thanks!

[2020-04-21 13:05] AnnaShepa commented on #27875
@magento give me 2.4-develop instance

[2020-04-21 13:06] magento-engcom-team commented on #27875
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-21 13:06] devranowski opened #27923 "Swiping through photorama pictures causes the page to move up/down"
### Preconditions (*)

1. A Magento 2.3.x instance.
2. At least one product with at least two images with certain dimensions (can be reproduced with 700x700 px).
3. iPhone + Safari Mobile.

### Steps to reproduce (*)

1. Go to mobile PDP.
2. Swipe through product images.

### Expected result (*)

1. When cycling through product images on mobile by swiping, the vertical movement of the page should

[2020-04-21 13:07] magento-engcom-team commented on #27875
Hi @AnnaShepa, here is your [Magento instance](https://i-27875-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27875-2-4-develop.instances.magento-community.engineering/admin_9a8c](https://i-27875-2-4-develop.instances.magento-community.engineering/admin_9a8c)
Login: `44b1b79c` Password: `058f31bccc8f`
Instance will be terminated in up to 3 hours.

[2020-04-21 13:08] jkbdbrnwsk commented on #27923
@magento give me 2.4-develop instance

[2020-04-21 13:08] magento-engcom-team commented on #27923
Hi @jkbdbrnwsk. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-21 13:10] magento-engcom-team commented on #27923
Hi @jkbdbrnwsk, here is your [Magento instance](https://i-27923-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27923-2-4-develop.instances.magento-community.engineering/admin_4879](https://i-27923-2-4-develop.instances.magento-community.engineering/admin_4879)
Login: `b7d235bb` Password: `145998e99e3b`
Instance will be terminated in up to 3 hours.

[2020-04-21 13:12] dudzio12 commented on #27875
I've created new cart rule with coupon `FREE_SHIPPING_COUPON`. Now check what is the weight of quote item, when coupon is applied.

[2020-04-21 13:20] magento-engcom-team commented on #10363
Hi @miquelcoma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-33501` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you sti

[2020-04-21 13:34] jkbdbrnwsk commented on #27923
@magento give me 2.3-develop instance

[2020-04-21 13:34] magento-engcom-team commented on #27923
Hi @jkbdbrnwsk. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-21 13:40] devranowski opened #27924 "In the photorama zoomed view, vertical movement of images is faster than horizontal"
### Preconditions (*)

1. A Magento 2.3.x or 2.4-develop
2. At least one product with at least two images.
3. Ideally, it should be tested on a physical device - a touchscreen smartphone.

### Steps to reproduce (*)

1. Go to mobile PDP.
2. Tap on an image and zoom in.

### Expected result (*)

1. When moving a picture up/down in the zoomed view on mobile PDP, the movement speed should be the same

[2020-04-21 13:45] jkbdbrnwsk commented on #27923
Valid on 2.3.x, cannot reproduce on the 2.4.x instance. Please be so kind to double check.

[2020-04-21 13:50] engcom-tester commented on #24426
@magento I am working on it

[2020-04-21 13:56] vestman opened #27925 "Checkout: Placing an order using the enter key causes a redirect to the checkout"
### Preconditions (*)

1. Tested on Magento 2.3.2, 2.3.3, 2.3.4 and 2.3.5
2. At least one product enabled
3. Enable "Purchase Order" as a payment method, or any other payment method where one or more input fields needs to be filled out

### Steps to reproduce (*)

1. Add a product to the cart and proceed to the checkout
2. Enter your shipping details and proceed to "Review & Payments"
3. Select "P

[2020-04-21 13:57] vestman commented on #27925
@magento give me 2.4-develop instance

[2020-04-21 13:58] magento-engcom-team commented on #27925
Hi @vestman. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-21 13:59] magento-engcom-team commented on #27925
Hi @vestman, here is your [Magento instance](https://i-27925-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27925-2-4-develop.instances.magento-community.engineering/admin_5c30](https://i-27925-2-4-develop.instances.magento-community.engineering/admin_5c30)
Login: `f87617b8` Password: `60b2fb6c03ff`
Instance will be terminated in up to 3 hours.

[2020-04-21 14:02] sdzhepa commented on #27043
Hello @textarea

Based on https://github.com/magento/magento2/issues/27043#issuecomment-613687993
Documentation has been updated:
- https://devdocs.magento.com/guides/v2.3/config-guide/prod/config-reference-envphp.html#directories
8:57
- https://devdocs.magento.com/guides/v2.3/install-gde/tutorials/change-docroot-to-pub.html#3-update-the-envphp-file

This issue can be closed

[2020-04-21 14:02] #27043 closed, assigned to vovsky, thiaramus

[2020-04-21 14:10] vestman commented on #27925
Confirmed behavior on the vanilla Magento instance provided above.

[2020-04-21 17:25] magento-engcom-team commented on #10363
Hi @miquelcoma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-30227` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you sti

[2020-04-21 17:25] #10363 closed, assigned to nobody

[2020-04-21 17:28] ArtemVasyliev commented on #10363
I was not able to reproduce the issue according to provided steps.
_find pub/media/catalog/product/cache -type f -exec sha1sum {} \; | sort_ did not show any duplicate files

[2020-04-21 17:58] iambaljitdhanoa commented on #13843
Hello

We are facing same issue in default search XSS vulnerability in magento 2.3.please suggest how can fix this issue

[2020-04-21 20:03] shikhamis11 commented on #27919
@ABDUL-RAQEEB this issue is not reproducible at magento 2.3.4 instance. Please ask your server provider to check if mail server setup on your server or it may be issue due to custom extension or customisation at your server

[2020-04-21 20:03] #27919 closed, assigned to nobody

[2020-04-21 20:20] shikhamis11 commented on #27925
@magento give me 2.4-develop instance

[2020-04-21 20:20] magento-engcom-team commented on #27925
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-21 20:21] magento-engcom-team commented on #27925
Hi @shikhamis11, here is your [Magento instance](https://i-27925-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27925-2-4-develop.instances.magento-community.engineering/admin_4076](https://i-27925-2-4-develop.instances.magento-community.engineering/admin_4076)
Login: `375ebddb` Password: `fb2152b818c4`
Instance will be terminated in up to 3 hours.

[2020-04-21 20:22] shikhamis11 commented on #27925
@magento give me 2.4-develop instance

[2020-04-21 20:22] magento-engcom-team commented on #27925
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-21 20:24] magento-engcom-team commented on #27925
Hi @shikhamis11, here is your [Magento instance](https://i-27925-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27925-2-4-develop.instances.magento-community.engineering/admin_f2ce](https://i-27925-2-4-develop.instances.magento-community.engineering/admin_f2ce)
Login: `96574240` Password: `a03f91ac3f9f`
Instance will be terminated in up to 3 hours.

[2020-04-21 20:52] shikhamis11 commented on #9948
I also tried to reproduce this issue on magento 2.3.4 instance but it is not reproducible now
@scottsb can you confirm the same ?

[2020-04-21 21:07] magento-engcom-team commented on #27925
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33618` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-22 02:13] Sharmilasrini95 commented on #27879
Can you check this, please? It is a very critical security issue to us.

[2020-04-22 02:20] Sharmilasrini95 commented on #22993
@ivanoanekcha  Got a solution?

[2020-04-22 02:21] keke996 opened #27932 "Magento\Quote\Model\Quote\Address\RateRequest getDestRegionCode() return null"
### Summary (*)

I'm developing custom shipping method, different price for different address.
When customer select/entered address, my carrier model use Magento\Quote\Model\Quote\Address\RateRequest getDestRegionCode() to get region.
But sometimes ,getDestRegionCode return null.
If address is been selecter and region is entered to input not select, getDestRegionCode() return null. I can't get ful

[2020-04-22 02:24] keke996 commented on #27932
The web is run in magento CLI 2.3.3.
I'm able to reproduce the issue on vanilla Magento instance following steps to reproduce.

[2020-04-22 05:36] ajijshekh123 commented on #27906
@magento give me 2.4-develop instance

[2020-04-22 05:36] magento-engcom-team commented on #27906
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-22 05:37] magento-engcom-team commented on #27906
Hi @ajijshekh123, here is your [Magento instance](https://i-27906-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27906-2-4-develop.instances.magento-community.engineering/admin_35d2](https://i-27906-2-4-develop.instances.magento-community.engineering/admin_35d2)
Login: `8590ebbf` Password: `f5247ab1abc3`
Instance will be terminated in up to 3 hours.

[2020-04-22 05:53] ajijshekh123 commented on #27906
@mangamuri - can you please share the video about the cart price rule?

[2020-04-22 06:00] BorisovskiP commented on #27126
@engcom-Alfa Any updates on this issue?

[2020-04-22 06:12] hostep commented on #27879
I've just checked a couple of shops of ours and the ones running on 2.3.3-p1 have a lot fewer secure cookies then the ones running on 2.3.4-p1 or 2.3.5.
(the general availability of those versions will happen on 28 April, we already have pre-release access, that's why I can already test those)

The release notes of Magento 2.3.5 also say:

Which links to this commit: https://github.com/magento/mag

[2020-04-22 06:18] sudheers-kensium commented on #27878
@magento give me 2.4-develop instance

[2020-04-22 06:18] magento-engcom-team commented on #27878
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-22 06:20] magento-engcom-team commented on #27878
Hi @sudheers-kensium, here is your [Magento instance](https://i-27878-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27878-2-4-develop.instances.magento-community.engineering/admin_2076](https://i-27878-2-4-develop.instances.magento-community.engineering/admin_2076)
Login: `1d033c16` Password: `e4fbc9527120`
Instance will be terminated in up to 3 hours.

[2020-04-22 06:52] sudheers-kensium commented on #27878
@bhagyashreebvi I am not able to reproduced the issue on Magento 2.4-develop instance. Maybe issue fixed in latest version. Please upgrade Magento to latest version.

[2020-04-22 06:52] #27878 closed, assigned to sudheers-kensium

[2020-04-22 07:00] sudheers-kensium commented on #27908
@lbajsarowicz I have executed the setup:di:compile without any issue.

Please follow the Magento Add Issues process to add the issues.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2020-04-22 07:00] #27908 closed, assigned to nobody

[2020-04-22 07:34] dani97 opened #27935 "Bulk API route didn't resolve with trailing slash"
### Preconditions (*)

1. magento 2.3.4
2. Bulk API with rabbitmq setup

### Steps to reproduce (*)

1. Create a webapi and declare a custom webapi eg. for product service
The route url should be like this `<route url="/V1/myproducts/" method="POST">`
2. This will work perfect for sync requests
3. But for bulk api it will fail with error "WebapiAsync config for \"%lookupKey\" does not exist.
async

[2020-04-22 07:35] dani97 commented on #27935
@nuzil  created like we discussed in slack channel :+1:

[2020-04-22 07:44] mrtuvn commented on #27907
You can use referenceBlock and referenceContainer with name only

[2020-04-22 08:30] engcom-Alfa commented on #27126
Hi @BorisovskiP. Sorry for the delay.

 We've checked the issue and can conclude that indeed, the sort order by position has not been preserved

**Actual Result:**
productZ (position 3) is first, productY (position 2) is second and  productX (position 1)  is last
![screenshot](https://user-images.githubusercontent.com/51679138/79957151-d65c9880-8489-11ea-911e-7866d345b3b1.png)

But we are not quit

[2020-04-22 08:51] euchenhofer commented on #27126
@engcom-Alfa
I think this would be a great solution!

[2020-04-22 09:04] theBigBlackEyes commented on #20520
How are you Craig :)
I miss you and Alex so much...

[2020-04-22 09:45] duckchip opened #27936 "Special price styling of configurations not shown if the first configuration doesn't have a special price defined"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1.  Create a configurable product with two configurations
2. Only set a special price on the last configuration
3. Visit the product detail page

### Expected result (*)

1. Configuration has the special price and the special price styling (old price striked through)

### Actual result (*)

1. Configuration doesn't have the speci

[2020-04-22 09:46] duckchip commented on #27936
@magento give me 2.4-develop instance

[2020-04-22 09:46] magento-engcom-team commented on #27936
Hi @duckchip. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-22 09:47] magento-engcom-team commented on #27936
Hi @duckchip, here is your [Magento instance](https://i-27936-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27936-2-4-develop.instances.magento-community.engineering/admin_7a78](https://i-27936-2-4-develop.instances.magento-community.engineering/admin_7a78)
Login: `5183ef5e` Password: `98a5f7b42f81`
Instance will be terminated in up to 3 hours.

[2020-04-22 09:58] duckchip commented on #27936
@magento give me 2.3.4 instance

[2020-04-22 09:58] magento-engcom-team commented on #27936
Hi @duckchip. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-04-22 10:00] magento-engcom-team commented on #27936
Hi @duckchip, here is your [Magento instance](https://i-27936-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27936-2-3-4.instances.magento-community.engineering/admin_2fb2](https://i-27936-2-3-4.instances.magento-community.engineering/admin_2fb2)
Login: `0f4dcd63` Password: `b270f80b45bb`
Instance will be terminated in up to 3 hours.

[2020-04-22 10:06] kassner commented on #3594
Why not displaying the frontend labels instead?

![Screenshot from 2020-04-22 12-01-55](https://user-images.githubusercontent.com/301255/79969335-a6b18e80-8491-11ea-9b91-98c4924910a4.png)

[2020-04-22 10:10] #27936 closed, assigned to nobody

[2020-04-22 10:10] duckchip commented on #27936
could not reproduce on 2.4-develop and 2.3.4. Closing this issue.

[2020-04-22 10:30] duckchip commented on #27936
This is issue is still present in Magento 2.3.3 but was fixed in commit: https://github.com/magento/magento2/commit/76b348d90f74b8f4857829b84d4f736acdbf186c

[2020-04-22 11:00] thokiller opened #27937 "Custom attribute default value not set by the api"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. go to the backend and create a product attribute with a default value. My case: multi-select, not required, 4 options 2 selected as is default and attribute code: test_default_value
2. Add this attribute to the attribute set to use it.
3. Get token for the REST API.
4. Create a new product with the REST API. (do not send the c

[2020-04-22 11:04] BorisovskiP commented on #27126
@engcom-Alfa I think that by default, sort by position should be applied, but having the possibility to set the sort order in the widget does sound nice.

[2020-04-22 11:24] CarmineDamore78 commented on #27918
@magento give me 2.4-develop instance

[2020-04-22 11:24] magento-engcom-team commented on #27918
Hi @CarmineDamore78. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-22 11:25] magento-engcom-team commented on #27918
Hi @CarmineDamore78, here is your [Magento instance](https://i-27918-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27918-2-4-develop.instances.magento-community.engineering/admin_3eeb](https://i-27918-2-4-develop.instances.magento-community.engineering/admin_3eeb)
Login: `b5c6dfa8` Password: `0a949c0e9b1d`
Instance will be terminated in up to 3 hours.

[2020-04-22 11:48] ihor-sviziev commented on #26255
This issue is duplicate of https://github.com/magento/magento2/issues/8815, but as it have quite a good description I think it's good to keep it open.

[2020-04-22 12:08] lewisvoncken commented on #27937
@magento give me 2.4-develop instance

[2020-04-22 12:08] magento-engcom-team commented on #27937
Hi @lewisvoncken. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-22 12:09] magento-engcom-team commented on #27937
Hi @lewisvoncken, here is your [Magento instance](https://i-27937-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27937-2-4-develop.instances.magento-community.engineering/admin_ca84](https://i-27937-2-4-develop.instances.magento-community.engineering/admin_ca84)
Login: `7c48cffe` Password: `3125f77225ca`
Instance will be terminated in up to 3 hours.

[2020-04-22 12:11] robhuijben commented on #25447
Same issue happens on 2.2.11

[2020-04-22 12:15] lewisvoncken commented on #27937
@shikhamis11 this has been tested on a vanilla Magento instance.
cc @thokiller

[2020-04-22 12:51] qsolutions-pl commented on #26427
@sdzhepa  this is in progress for 28 days, any update?

[2020-04-22 14:10] mangamuri commented on #27906
@ajijshekh123  Thanks for working on this issue

![image](https://user-images.githubusercontent.com/1827538/79992094-ac4eaa80-8478-11ea-9bec-9e9615127ffb.png)

![image](https://user-images.githubusercontent.com/1827538/79992127-b7a1d600-8478-11ea-8736-8c78cd25755c.png)

I have products configured as

Bundle - Bundle product

Simple 1 - $150

Simple 2 - $100

Both simple products are part of bundle

[2020-04-22 14:43] CarmineDamore78 commented on #27918
Hi @ktruehl I wasn't enable to reproduce the issue on M2.4 develop and M.2.3.4
Can you give me more details on how reproduce the issue?

Thanks

[2020-04-22 14:44] sayanthkoroth commented on #12486
I have the issue in 2.3.4 The unit price and total is not getting updated as given in the tier price. It always show the default unit price.

[2020-04-22 15:19] CarmineDamore78 commented on #27925
@magento give me 2.3.4 instance

[2020-04-22 15:19] magento-engcom-team commented on #27925
Hi @CarmineDamore78. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-04-22 15:20] magento-engcom-team commented on #27925
Hi @CarmineDamore78, here is your [Magento instance](https://i-27925-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27925-2-3-4.instances.magento-community.engineering/admin_ee5c](https://i-27925-2-3-4.instances.magento-community.engineering/admin_ee5c)
Login: `5add296c` Password: `c915e6761b0f`
Instance will be terminated in up to 3 hours.

[2020-04-22 15:40] santosh-gaggle opened #27941 "Elastic search giving error when filtering attribute at Layered navigation"
Elastic search giving error when filtering  attribute at Layered navigation

### Preconditions (*)

using Magento 2.3.3
Elasticsearch 6.0+

### Steps to reproduce (*)
On the category page when filtering the attribute like color,size etc.
it's giving the error and not getting and product

### Expected result (*)

it's should be given the filtered result with the product

### Actual result (*)

 mai

[2020-04-22 15:55] mrtuvn commented on #27913
@rr10 This issue fixed in this PR https://github.com/magento/magento2/pull/26974

[2020-04-22 15:56] alepane21 commented on #19710
We prepared two patches to fix this issue on Magento 2.3.4:
- https://github.com/Hevelop/magento2-patches/blob/master/Patch-Magento_Catalog-M2.3-issue-19710-wrong-keep-frame-value.patch
- https://github.com/Hevelop/magento2-patches/blob/master/Patch-Magento_Media_Storage-M2.3-issue-19710-wrong-keep-frame-value.patch

[2020-04-22 16:37] Krapulat opened #27942 "2.3.4: Update "Custom Layout Update" doesn't work"
### Preconditions (*)

Magento 2.3.4

### Steps to reproduce (*)

Add the file: app/design/frontend/VENDOR/THEME/Magento_Catalog/layout/catalog_category_view_selectable_[ID]_name.xml

Edit the category in the backend to use the Specifc Layout (Catalog->Categories->Design> Custom Layout Update->select "name" )
Save. I get the message "You saved the category."
Clear cache
Refresh category frontend a

[2020-04-22 16:46] magento-engcom-team commented on #27089
:white_check_mark: Confirmed by @okorshenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33644` were created

**Issue Available**: @okorshenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-22 18:28] ProkopovVitaliy commented on #12075
@sdzhepa  Looks like it is not bug this is default behavior. Even more, for this responsible not magento.

There is special class for validation` Zend_Validate_EmailAddress`  his contain function where regular expression prohibits emails with such characters.

![image](https://user-images.githubusercontent.com/29776509/80019292-f74fd880-84df-11ea-94a2-d52730a77534.png)

It is easy to fix but it is

[2020-04-22 18:47] sorinsinner commented on #19173
I just noticed this on Magento 2.3.4 also. So if anyone is still struggling with this, as a temporary fix, you can add in your custom theme, on customer_account_login.xml a noindex nofollow in the head tag.

Like this:
[code]
After the above, the login page is now properly marked as noindex,nofollow.

[2020-04-22 18:58] CarmineDamore78 commented on #27925
Hi @vestman
I was unabled to riproduce the issue on M2.3.4

[2020-04-22 19:16] rparsi-boxycharm commented on #12075
@ProkopovVitaliy No, it is Magento because magento core code is using this.  Magento customers such as myself need customer entity email addresses to support special characters like diacritics.
Magento team is responsible for fixing this.

[2020-04-22 19:29] amanuni opened #27945 "Level 3rd level top navigation is not working"
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. Create top navigation at least 3rd level (Top->Level1->Level2)

### Expected result (*)
1. When i hover on top level it will drop-down 2nd Level and when i hover to 2nd Level it should drop-down 3rd level and able to click on 3rd level menu items.

### Actual result (*)
1. When i am hovering on 2nd level its opening 3rd level bu

[2020-04-22 19:30] amanuni commented on #27945
@magento give me 2.4-develop instance

[2020-04-22 19:30] magento-engcom-team commented on #27945
Hi @amanuni. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-22 19:31] magento-engcom-team commented on #27945
Hi @amanuni, here is your [Magento instance](https://i-27945-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27945-2-4-develop.instances.magento-community.engineering/admin_4716](https://i-27945-2-4-develop.instances.magento-community.engineering/admin_4716)
Login: `20390246` Password: `c4a9de8c5ec5`
Instance will be terminated in up to 3 hours.

[2020-04-22 21:24] #27941 closed, assigned to nobody

[2020-04-22 21:38] juretopolak commented on #18550
@engcom-Charlie I have exactly the same problem with Magento 1.9.4.4.

I was just searching for commits in which this issue was solved but couldn't find it.

Would be someone so kind and help me find it, maybe I could somehow help myself with it.

[2020-04-23 02:48] mrtuvn opened #27949 "Argument 4 passed to Magento\Developer\Model\View\Asset\PreProcessor\FrontendCompilation::processContent() must be an instance of Magento\Framework\View\Asset\File\FallbackContext"
### Preconditions (*)

1.Magento 2.4-develop, 2.3.4+
2. php 7.3

### Steps to reproduce (*)

1. Enable developer mode
2. Go to Admin -> Stores -> Configuration ->Developer -> Frontend development workflow and Enable **Client side less compilation**
3. In the Css settings tab enable **Merge css files** (this is must have)

### Expected result (*)

1. Page should render without error

### Actual res

[2020-04-23 02:54] ATA-ERA opened #27950 "magento2.3.4 can't open the product detail page"
I use the porto theme. I add a simple product. The homepage is normal. I can see the new product and the category is also normal. I click in the product detail page. It seems like loading page all the time.
![image](https://user-images.githubusercontent.com/64180350/80053985-c3f96200-8550-11ea-8871-9d87c1b083ce.png)

[2020-04-23 02:55] ATA-ERA commented on #27950
Yes

[2020-04-23 02:55] ATA-ERA commented on #27950
Yes

[2020-04-23 02:56] magento-engcom-team commented on #27950
Hi @ATA-ERA. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-23 02:57] magento-engcom-team commented on #27950
Hi @ATA-ERA, here is your [Magento instance](https://i-27950-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27950-2-4-develop.instances.magento-community.engineering/admin_0c76](https://i-27950-2-4-develop.instances.magento-community.engineering/admin_0c76)
Login: `145e35ae` Password: `dbce9381e507`
Instance will be terminated in up to 3 hours.

[2020-04-23 03:11] ATA-ERA commented on #27950
I need magento2.3.4

[2020-04-23 03:12] magento-engcom-team commented on #27950
Hi @ATA-ERA. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-23 03:12] ATA-ERA commented on #27950
I don't need2.4

[2020-04-23 03:13] magento-engcom-team commented on #27950
Hi @ATA-ERA, here is your [Magento instance](https://i-27950-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27950-2-4-develop.instances.magento-community.engineering/admin_1356](https://i-27950-2-4-develop.instances.magento-community.engineering/admin_1356)
Login: `fe52293e` Password: `8c14a16d53a2`
Instance will be terminated in up to 3 hours.

[2020-04-23 04:09] lukpheakdey commented on #27684
@engcom-Alfa @mrtuvn do you any solution or guide line for me to solve this problem?

[2020-04-23 04:36] krishprakash commented on #27950
Hi @ATA-ERA,
Can not able to reproduce on latest instance
It should be your porto theme issue or any of your custom module issue.
Kindly connect their for further assistance
Thank you !!

[2020-04-23 04:36] #27950 closed, assigned to krishprakash

[2020-04-23 05:10] ktruehl commented on #27918
Hi @CarmineDamore78,

You won't be able to reproduce the issue on a Magento instance that lasts only 3 hours. The default setting for the delay for cleaning out orders is 8 hours. So you would have to create an order, wait for at least 8 hours without touching the order, then check the result of the `sales_clean_orders` cron job in the `cron_schedule` table.

[2020-04-23 06:52] vestman commented on #27925
@magento give me 2.3.4 instance

[2020-04-23 06:52] magento-engcom-team commented on #27925
Hi @vestman. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-04-23 06:53] magento-engcom-team commented on #27925
Hi @vestman, here is your [Magento instance](https://i-27925-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27925-2-3-4.instances.magento-community.engineering/admin_83a3](https://i-27925-2-3-4.instances.magento-community.engineering/admin_83a3)
Login: `05068f8d` Password: `566437dd4bf6`
Instance will be terminated in up to 3 hours.

[2020-04-23 07:18] vestman commented on #27925
@CarmineDamore78
![magento-issue--27925](https://user-images.githubusercontent.com/564243/80070559-6ad70180-8543-11ea-8e31-6d4700746bf0.gif)

[2020-04-23 08:13] sunel opened #27952 "Missing store_name in GraphQl Resolver"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Request for store_name in storeConfig Query

### Expected result (*)

1. Return store name
[code]

### Actual result (*)

[code]

As Mentioned in schema 'store_name' can be queried

https://github.com/magento/magento2/blob/d4a90989db911a27af3aa9ce81c1f6d9f7b1f0f4/app/code/Magento/StoreGraphQl/etc/schema.graphqls#L33

But in `S

[2020-04-23 08:55] Stevie-Ray commented on #23196
hi @aliuosio,

I've removed my fork because the problem got fixed in the **interjar** repo!
So it should work on 2.3.x now:

[code]

[2020-04-23 09:46] ajijshekh123 commented on #27945
Hello @amanuni,
This issue is relevant to the below issues.
https://github.com/magento/magento2/issues/14930
https://github.com/magento/magento2/issues/25589
This issue already fixed and closed that's why I have to close this issue.

Thanks.

[2020-04-23 09:46] #27945 closed, assigned to ajijshekh123

[2020-04-23 09:49] ajijshekh123 commented on #27906
@magento give me 2.4-develop instance

[2020-04-23 09:49] magento-engcom-team commented on #27906
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-23 09:51] magento-engcom-team commented on #27906
Hi @ajijshekh123, here is your [Magento instance](https://i-27906-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27906-2-4-develop.instances.magento-community.engineering/admin_aa96](https://i-27906-2-4-develop.instances.magento-community.engineering/admin_aa96)
Login: `e62496ef` Password: `74608b5105e9`
Instance will be terminated in up to 3 hours.

[2020-04-23 10:26] ajijshekh123 commented on #27906
Hello @mangamuri,
First of all thanks for the given me valuable information.
I have verified this issue in 2 scenarios:
**Scenario 1:**
Cart rule create with added Bundle Product SKU - Coupon code successfully Applied
**Scenario 2:**
Cart rule creates with added Simple Product SKU - Coupon code not applied successfully. It is displayed as an error.
**See attached screenshot:**

![1](https://user-i

[2020-04-23 11:04] kamzata commented on #8933
Any news on this? Here's my `magento.cron.log` file:

Magento CE 2.3.4

[code]

[2020-04-23 11:17] Jibin1996 commented on #27655
So what was the issue then for showing "The Date of Birth should not be greater than today." I have the same issue now. I am using 2.3.4 and why did you close it when the issue wasn't fixed

[2020-04-23 11:18] aliuosio commented on #23196
@Stevie-Ray
:+1:
thx for the info... will try it out right now.

[2020-04-23 11:21] gilbertsohal commented on #27655
Yes this issue is still present in 2.3.4 nobody want to fix it...lol

[2020-04-23 11:25] gilbertsohal commented on #27655
Screenshot (MM/DD/YYYY)
https://prnt.sc/rvgavu

Screenshot 1 (DD/MM/YYYY)
https://prnt.sc/rvgcgt

Same thing happening with product Set as new

Screenshot 1
https://prnt.sc/rvd3o8

Screenshot 2
https://prnt.sc/rvd42u

[2020-04-23 11:26] jkg1996 commented on #27655
I have the same issue exact same issue I am not sure why this is happening like its unreal.

[2020-04-23 11:30] jkg1996 commented on #27655
I am only seeing this issue on the customer section in admin, if I update a customer I get this error.
I can see the date is picking up on Catalog Price Rule, Basket Price Rules

[2020-04-23 12:18] rafal-kos opened #27954 "Can't create/reset user password if user address is not valid"
### Preconditions (*)

1. Magento 2.4-develop
2. Open `Create New Account Options` and enable `Require Emails Confirmation`
3. Create user with address (no special validation) via admin

### Steps to reproduce (*)

1. Add some kind of validation to address fields (limit length for city name)

    WHERE attribute_id=(SELECT attribute_id FROM eav_attribute WHERE entity_type_id=2 AND attribute_code='

[2020-04-23 12:39] jkg1996 commented on #27655
@gilbertsohal I found a temporary solution for amine customer dob issue
core file -> Need to create a patch magento\module-ui\view\base\web\js\lib\validation\rules.js
"validate-dob": [
                function (value) {
                    **return true;** - this does the job
                    if (value === "") {
                        return true;
                    }

                    ret

[2020-04-23 12:47] gilbertsohal commented on #27655
Sorry what to do here?

[2020-04-23 12:51] jkg1996 commented on #27655
Check it in your core file add **return true;** before the if statement.
The core file is located ->magento\module-ui\view\base\web\js\lib\validation\rules.js line 1071

[2020-04-23 12:58] gilbertsohal commented on #27655
My Coding already showing that

'validate-dob': [
            function (value) {
                if (value === '') {
                    return true;
                }

                return moment(value).isBefore(moment());
            },
            $.mage.__('The Date of Birth should not be greater than today.')
        ]

[2020-04-23 13:01] jkg1996 commented on #27655
Did that work for you? after adding a new return true before the if statement

[2020-04-23 13:02] gilbertsohal commented on #27655
Sorry not working for me. Do i need to clear cache or deploy static content?

[2020-04-23 13:04] jkg1996 commented on #27655
Oh yes you need to clear clear cache and I did ran set:di:compile please run set:up as well

[2020-04-23 13:05] jkg1996 commented on #27655
It's working for me now I can save/edit a customer from the admin area

[2020-04-23 13:07] gilbertsohal commented on #27655
Can't we add same file in theme folder and change code coz core files always risky...

[2020-04-23 13:45] gilbertsohal commented on #27655
Yes, great its working fine.

[2020-04-23 13:58] jkg1996 commented on #27655
Hi @gilbertsohal  I won't add it in frontend I am not sure would that work, to be honest.
I created a patch for this. good to hear you got it working too.

is that product thing a custom module? or core?

[2020-04-23 13:59] gilbertsohal commented on #27655
Yes this is core functionality not working with dd/mm/yyyy

[2020-04-23 14:05] jkg1996 commented on #27655
@gilbertsohal I will check the js file maybe you are missing this return true there as well

[2020-04-23 14:18] gilbertsohal commented on #27655
If you can find out will be much appreciated.

[2020-04-23 14:21] gilbertsohal commented on #27654
Is there anyone who can help me?

[2020-04-23 14:21] jkg1996 commented on #27655
can you tell me which core module it is? like i can't see it on mine

[2020-04-23 14:22] gilbertsohal commented on #27654
Error occurs stating Invalid input date time format of value '21/04/2020'  with dd/mm/yyyy

Screenshot 1
https://prnt.sc/rvd3o8

Screenshot 2
https://prnt.sc/rvd42u

[2020-04-23 14:25] gilbertsohal commented on #27655
I think this is module-catalog

[2020-04-23 14:28] jkg1996 commented on #27655
Hi @gilbertsohal
the same issue you have with the product
https://github.com/magento/magento2/issues/12215
the fix they provided
https://github.com/Magonex/module-datetime

[2020-04-23 14:29] gilbertsohal commented on #27655
they put this function here
vendor\magento\framework\Stdlib\DateTime\Filter

[2020-04-23 14:32] jkg1996 commented on #27655
Yeah, but it might fix it not sure about this issue but could be the right one

[2020-04-23 15:38] szreka commented on #27346
@magento give me 2.4-develop instance

[2020-04-23 15:39] magento-engcom-team commented on #27346
Hi @szreka. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-23 15:40] magento-engcom-team commented on #27346
Hi @szreka, here is your [Magento instance](https://i-27346-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27346-2-4-develop.instances.magento-community.engineering/admin_e9da](https://i-27346-2-4-develop.instances.magento-community.engineering/admin_e9da)
Login: `e777863a` Password: `a038f396c4aa`
Instance will be terminated in up to 3 hours.

[2020-04-23 15:52] magento-engcom-team commented on #6401
Hi @katef, @o-iegorov.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.5` release.

[2020-04-23 15:53] szreka commented on #27346
I realised gift cards is an enterprise feature so I can't test it on the instance requested, however we are facing the same issue on 2.3.4 when the gift card amount is set to be open.

[2020-04-23 16:02] gilbertsohal commented on #27655
The mention module is 2 year old. i don't think so this will work.

Where have all the magneto 2 developer gone!! Please help

[2020-04-23 16:35] magento-engcom-team commented on #8933
Hi @w130pmpo.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.5` release.

[2020-04-23 17:14] chandru-199 commented on #27925
@magento give me 2.4-develop instance

[2020-04-23 17:14] magento-engcom-team commented on #27925
Hi @chandru-199. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-23 17:15] chandru-199 commented on #27901
@magento Give me 2.4-develop instance.

[2020-04-23 17:15] magento-engcom-team commented on #27901
Hi @chandru-199. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-23 17:15] magento-engcom-team commented on #27925
Hi @chandru-199, here is your [Magento instance](https://i-27925-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27925-2-4-develop.instances.magento-community.engineering/admin_0b3c](https://i-27925-2-4-develop.instances.magento-community.engineering/admin_0b3c)
Login: `4c6379ec` Password: `01ff55536c2c`
Instance will be terminated in up to 3 hours.

[2020-04-23 17:17] magento-engcom-team commented on #27901
Hi @chandru-199, here is your [Magento instance](https://i-27901-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27901-2-4-develop.instances.magento-community.engineering/admin_df15](https://i-27901-2-4-develop.instances.magento-community.engineering/admin_df15)
Login: `0bd02e8a` Password: `40fe1528595e`
Instance will be terminated in up to 3 hours.

[2020-04-23 17:35] chandru-199 commented on #27925
@magento assign me this issue.

[2020-04-23 17:36] mangamuri commented on #27906
@magento please give me 2.4-develop instance to verify

[2020-04-23 19:25] bjornmeat commented on #27865
Some screenshots from db tables magento_operation and magento_bulk
![Screenshot 2020-04-22 at 21 53 02](https://user-images.githubusercontent.com/1308059/80140863-e28b4780-85a8-11ea-8bd6-893740570ab1.png)
![Screenshot 2020-04-22 at 21 52 55](https://user-images.githubusercontent.com/1308059/80140873-e5863800-85a8-11ea-8369-3974aecb833b.png)

[2020-04-23 23:52] okorshenko opened #27959 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-04-24 02:48] khanhhuynh11 commented on #8098
Hi,
I have same issue. We use magento 2.3.4
![image](https://user-images.githubusercontent.com/64239754/80169761-83611d80-8610-11ea-823d-06862506fafe.png)

[2020-04-24 03:51] trunglv commented on #13952
I think it's not an issue of Magento itself. It relates to several modules that work on a checkout process are DHL, Paypal, Amazon Pay ... I fixed the issue for one client. Some small fixings I found on the internet just to prevent Magento to make an order again for already existed quote id ... but don't solve real problems. Just my idea to solve that issue
- It's really hard to reproduce it on TE

[2020-04-24 04:24] khanhhuynh11 commented on #9768
hi, i use magento 2.3.4, i have issue "We couldn't find any records". We hope to help soon, thanks U very much!!!
![image](https://user-images.githubusercontent.com/64239754/80174827-08066880-861e-11ea-82a3-869be9e4cf48.png)

[2020-04-24 05:09] #27959 closed, assigned to okorshenko

[2020-04-24 06:22] sunilit42 opened #27961 "search is not working properly"
### Preconditions (*)

1. latest Magento
2. create one product

### Steps to reproduce (*)

1. create one product with sku test123456
2. seach 12345

### Expected result (*)

1. It should be show that product

### Actual result (*)

1. it is not showing any product

Note : - if we search from staring of sku then work e.g test then works but not working from the middle of a word

[2020-04-24 06:49] bharat1811 commented on #27657
It is the main issue is not managed **$storeId** in attribute builder. I dig the issue and I get to manage the issue with a temporary solution by overriding following file in my custom module using preference type,

**vendor/magento/module-catalog-graph-ql/DataProvider/Product/LayeredNavigation/Builder/Attribute.php**

First for **Attribute.php** I changed below functions to mange **$storeId**,

p

[2020-04-24 06:56] nikunj8892 commented on #18785
The above issue is caused by Temando_ShippingM2 module, with the following code, it is overriding "ship-to" component in checkout page layout.

[code]
So, in Temando_Shipping/js/view/checkout/shipping-information/address-renderer/shipping i.e.
vendor/temando/module-shipping-m2/view/frontend/web/js/view/checkout/shipping-information/address-renderer/shipping.js
JS File, which is rendering the custo

[2020-04-24 07:02] lbajsarowicz opened #27962 "Plugins in \Magento\Framework namespace"
### Preconditions (*)
One of Magento Architects contacted me in private message blaming me for [introducing Plugin to the Core](https://github.com/magento/magento2/tree/2.3.4/lib/internal/Magento/Framework/App/Action/Plugin) that is not allowed in Magento and couldn't have been done by Magento Employees due to Quality Standards.

https://github.com/magento/magento2/blob/5f3b86ab4bd3e3b94e65429fed3

[2020-04-24 07:45] ajijshekh123 opened #27963 "Testing Priority and Sevarity"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-04-24 07:45] #27963 closed, assigned to nobody

[2020-04-24 08:02] tsalumets commented on #21264
This issue was closed ??!! We can also see the issue. Whats the resolution?

[2020-04-24 08:09] mrtuvn commented on #27256
Not sure about this but i heard from internal core team already merged some commits fix performance issue after upgrade to 2.3.4. The fixes related with config module
Not availables in 2.3.4. Only in 2.4-develop
Not sure that can related to resolve store or not

[2020-04-24 08:15] peterjaap commented on #21264
@AnshuMishra17 it looks like nobody found a way to reproduce it without making manual entries.

@tsalumets see https://github.com/magento/magento2/issues/21264#issuecomment-524234603, under 'Solution'

[2020-04-24 09:10] AlexandrKozyr commented on #26344
@magento give me 2.3.3 instance

[2020-04-24 09:10] magento-engcom-team commented on #26344
Hi @AlexandrKozyr. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-04-24 09:12] magento-engcom-team commented on #26344
Hi @AlexandrKozyr, here is your [Magento instance](https://i-26344-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26344-2-3-3.instances.magento-community.engineering/admin_9750](https://i-26344-2-3-3.instances.magento-community.engineering/admin_9750)
Login: `16deaab7` Password: `2bcaa03a7561`
Instance will be terminated in up to 3 hours.

[2020-04-24 09:20] magento-engcom-team commented on #27962
@ihor-sviziev Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-04-24 09:20] magento-engcom-team commented on #27962
:white_check_mark: Confirmed by @ihor-sviziev
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33718` were created

**Issue Available**: @ihor-sviziev, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-24 10:16] novakivskiy commented on #24442
my attempt to resolve this issue https://github.com/magento/magento2/pull/27967

part of the problem is described here:
https://github.com/magento/magento2/issues/3135

[2020-04-24 10:40] Sharmilasrini95 opened #27968 "Exclude the certain product from Google search"
### Description (*)
Exclude the certain product from Google search
1. I have added the below.
catalog->product->Edit product->Migration_Design(Tab)->Layout Update XML

<head>
    <meta name="robots" content="NOINDEX,NOFOLLOW"/>
</head>
2. Add 'product url  ' (product file name ) in robots.txt file which is under root file of the project folder

### Expected behavior (*)
Google should not be scroll

[2020-04-24 10:41] Sharmilasrini95 commented on #27968
Description (*)
Exclude the certain product from Google search

I have added the below.
catalog->product->Edit product->Migration_Design(Tab)->Layout Update XML
2. Add 'product url ' (product file name ) in robots.txt file which is under root file of the project folder
Expected behavior (*)
Google should not be scroll the url.

Additional information
But it is not reflecting. Is there any possibil

[2020-04-24 10:54] wojtekn opened #27969 "children_count can become negative after deleting categories"
### Preconditions

1. Install clean Magento 2.3.4

### Steps to reproduce

1. Log in into admin backend
2. Navigate to Catalog -> Categories
3. Click "Add Subcategory"
4. Fill category name with "Parent 1", Save
5. Click "Add Subcategory"
6. Fill category name with "Child 1", Save
7. Click "Add Subcategory"
8. Fill category name with "Child 2", Save
9. Click "Add Subcategory"
10. Fill category nam

[2020-04-24 11:05] Sharmilasrini95 opened #27970 "Exclude the certain product URL from Google search"
### Preconditions (*)

1.Magento 2.3.3
.

### Steps to reproduce (*)
Exclude the certain product from Google search

I have added the below.
catalog->product->Edit product->Migration_Design(Tab)->Layout Update XML
2. Add 'product URL ' (product file name ) in robots.txt file which is under root file of the project folder

### Expected result (*)
Google should not index the URL.
### Actual result (

[2020-04-24 11:18] hakro commented on #13225
Having the issue on 2.3.4 as well.
The static-content deployment happens on the CI, which will build a docker image. This image does not have the pub/static/_cache directory.
If I deploy a first container, it works well, and the _cache directory is generated somehow.
If I deploy a second container, from exactly the same image, the _cache directory is not there, so CSS and JS fails.
I think sharing

[2020-04-24 11:23] behrang1981 commented on #24942
since this is not a small bug invisible but affects customers any hint for fixing temporarily on 2.3.4 would be appreciated. removing the entry in the di.xml is obviously not one working for at least 2.3.4

[2020-04-24 11:51] mam08ixo commented on #26732
The bug is **revealed** by a third-party extension, yes. But it is still **caused** by a Magento Core technical issue.

I can replicate it by setting a field's `config_path` property to a different section. Simplified example:

[code]

Fixing the argument order as detected by @brian-ebizmarts solves the issue.

@shikhamis11 @engcom-Bravo This needs to be reopened.

[2020-04-24 12:02] lbajsarowicz opened #27971 "Listener \Magento\TestFramework\Event\PhpUnit loads all unit tests while in Integration Tests scope"
### Preconditions (*)
When running Integration Tests, I expect that only Integration Tests files are being loaded. Eventually the ones that are part of the scope I test. Unfortunately \Magento\TestFramework\Event\PhpUnit causes loading all the registered Unit Tests in the system.

### Steps to reproduce (*)
1. Add fatal error in Unit Test class
2. Run integration tests

### Expected result (*)
1.

[2020-04-24 12:07] ArjenvanEck commented on #13803
Having this issue, how did you solve it?

[2020-04-24 12:24] nicholasscottfish commented on #23511
I had the same issue but realised it was due to me having switched php version to 7.1.

For anyone have this issue it is definitely worth checking the php version you're running as the first port of call.

[2020-04-24 12:49] sheepfy commented on #27954
i can take this one :)

[2020-04-24 13:06] albertopriore commented on #24353
Is there any update to this issue?

[2020-04-24 13:37] aqdennis opened #27973 "Order number taken from AUTO_INCREMENT instead of sequence_value"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.3.12
3. MySQLi 5.0.12

### Steps to reproduce (*)

1. Check AUTO_INCREMENT value of table sequence_order_1
2. Delete all records from table sequence_order_1 (do NOT use TRUNCATE)
3. Create in table sequence_order_1 a record with sequence_value unequal to the AUTO_INCREMENT value of the table
3. Create an order in the store view with store_id = 1

##

[2020-04-24 13:41] aqdennis commented on #27973
I cannot test it in the upcoming release 2.4 as testing it would require access to the MySQL database, which the vanilla Magento instance won't give me.

[2020-04-24 13:55] kishorekumarkesavan opened #27974 "free shipping shopping cart rule not applied in cart page,when cart rule has shipping country/state/Postcode based condition"
Preconditions (*)

1. Magento 2.4

Steps to reproduce (*)

1. In Store > configurations > sales > shipping > select the origin
2. Enable 'free shipping' shipping method along with any other shipping method
3. Create shopping cart rule, with condition based on shipping country/state/Postcode and  cart rule's action 'Free shipping' is enabled with the 'for shipment with matching items' condition.
![

[2020-04-24 14:06] rohit247 commented on #9214
facing the sames issue. is this issue still not fixed.

can anyone suggest any solution for it.

Thanks!!

[2020-04-24 14:16] peterjaap commented on #15656
@sdzhepa any progress on this?

[2020-04-24 14:40] Krapulat commented on #27942
@magento give me 2.4-develop instance

[2020-04-24 14:41] magento-engcom-team commented on #27942
Hi @Krapulat. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-24 14:42] magento-engcom-team commented on #27942
Hi @Krapulat, here is your [Magento instance](https://i-27942-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27942-2-4-develop.instances.magento-community.engineering/admin_bfb0](https://i-27942-2-4-develop.instances.magento-community.engineering/admin_bfb0)
Login: `280cabec` Password: `1c814b467a41`
Instance will be terminated in up to 3 hours.

[2020-04-24 14:44] magento-engcom-team commented on #27954
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33734` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-24 14:51] Krapulat commented on #27942
The instance can't help because I need to create the file app/design/frontend/VENDOR/THEME/Magento_Catalog/layout/catalog_category_view_selectable_[ID]_name.xml

[2020-04-24 15:33] nitish-ranjan05 commented on #27251
@magento give me 2.4-develop instance

[2020-04-24 15:33] magento-engcom-team commented on #27251
Hi @nitish-ranjan05. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-24 15:34] magento-engcom-team commented on #27251
Hi @nitish-ranjan05, here is your [Magento instance](https://i-27251-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27251-2-4-develop.instances.magento-community.engineering/admin_6451](https://i-27251-2-4-develop.instances.magento-community.engineering/admin_6451)
Login: `36b50dfb` Password: `3e8776a1ea19`
Instance will be terminated in up to 3 hours.

[2020-04-24 15:35] mike-thepixel opened #27978 "HTTP 502 error when cart has coupon code and disabled products"
### Preconditions (*)

1. 2.3.2 and above

### Steps to reproduce (*)

1. Add a product to the cart
2. Add a coupon code to the cart
3. Disable the product in the admin
4. Re-load the cart page

### Expected result (*)

1. Cart page should load with the disabled product removed and totals recalculated

### Actual result (*)

1. HTTP 502 error

Some coupon code validation is loading he quote record

[2020-04-24 15:42] nitish-ranjan05 commented on #27251
@magento give me 2.3-develop instance

[2020-04-24 15:42] magento-engcom-team commented on #27251
Hi @nitish-ranjan05. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-24 16:54] shikhamis11 commented on #27978
@magento give me 2.4-develop instance

[2020-04-24 16:54] magento-engcom-team commented on #27978
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-24 16:55] magento-engcom-team commented on #27978
Hi @shikhamis11, here is your [Magento instance](https://i-27978-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27978-2-4-develop.instances.magento-community.engineering/admin_192a](https://i-27978-2-4-develop.instances.magento-community.engineering/admin_192a)
Login: `20d6cffd` Password: `7d14682a3fc4`
Instance will be terminated in up to 3 hours.

[2020-04-24 17:22] shikhamis11 commented on #27978
hi @mike-thepixel
I checked this issue at magento 2.4-develop instance but not able to reproduced this issue there.
can you check this issue on the instance and confirm

[2020-04-24 17:47] jefflenz commented on #22975
Still happening on 2.3.3-p1.  Not sure why url keys are being touched when you don't include it in your import file, very odd

[2020-04-24 17:55] kishennagaraju opened #27979 "Sampledata not imported for Configurable Products."
### Issue Description/Summary (*)

After installing the magento 2.3.4, when I run the command to install the sampledata i.e., "php bin/magento sampledata:deploy", the data for configurable products are not imported into the database. Only 52 products are imported in the database table "catalog_product_entity".

### Preconditions (*)
**1.) My LAMP Environment:**
    A.) Apache 2.4
    B.) PHP 7.3

[2020-04-24 18:12] orlythatscool commented on #9214
Find an extension that does it.

[2020-04-24 18:15] orlythatscool commented on #9214
It's BS that this issue is Closed. Why is it so difficult to provision a rule ammendment that limits a discount to a max quantity of total qualified items in cart? Why?

[2020-04-24 18:19] ProkopovVitaliy commented on #26603
I will work on it.

[2020-04-24 18:19] xpoback commented on #23336
@robert-schmidt They say they fixed it in 2.3.4
https://github.com/magento/magento2/pull/25398

Haven't tried it yet tough

[2020-04-24 19:51] magento-engcom-team commented on #8933
Hi @w130pmpo.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [84f6a3826b33dc7e523d457a573bbac16d292695](https://github.com/magento/magento2/commit/84f6a3826b33dc7e523d457a573bbac16d292695)
 - [0cf9026eb69e8ec5077764da62830313046996aa](https://github.com/magento/magento2/

[2020-04-24 19:56] magento-engcom-team commented on #6401
Hi @katef, @o-iegorov.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [8280a9a6478d27131e7a12fa4b112baaf84ca86f](https://github.com/magento/magento2/commit/8280a9a6478d27131e7a12fa4b112baaf84ca86f)
 - [1729dcc4d9172e2dd51d061e7d5f560f244ed304](https://github.com/magento/

[2020-04-24 22:00] sdzhepa commented on #26732
Based on feedback it seems issue should be reopened and re-verified one more time on the `2.4-develop`

[2020-04-24 22:58] kamzata commented on #27540
Anyway, it works partially out of the box with Magento 2.3.4. Url rewrite is created just for 1 store view. So, to make it works you have to add manually the url rewrites for the other store view.

[2020-04-25 04:30] baltechies commented on #27872
@engcom-Echo  Yes, I know the steps for plugin into. I had installed a fresh magento 2.3.4 with sample data. Plugin on other repositories like customerReposistoryInterface aroundSave is working fine. But this is not working against ProductReposistoryInterface save method.

[2020-04-25 04:41] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-04-25 04:41] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-25 04:43] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_15d7](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_15d7)
Login: `29d286cd` Password: `75f92af8f0f1`
Instance will be terminated in up to 3 hours.

[2020-04-25 05:27] yogeshkarodiya commented on #27952
I am working on this issue

[2020-04-25 05:44] jigneshkhunt commented on #27309
I am working on this issue.

[2020-04-25 06:09] dhairya-shah commented on #27925
I am working on this issue.

[2020-04-25 06:20] magento-engcom-team commented on #27089
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27093 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [17236cc014ab718161e0cf446ce40f4eb8d27d9e](https://github.com/magento/magento2/commit/17236cc014ab718161e0cf446ce40f4eb8d27d9e)
 - [381ab640c0039652e93c2be24f0a9bf6be9a883e](https://github.com/magento/magento2/commit/381ab640c0039652e93c2be24f

[2020-04-25 06:20] #27089 closed, assigned to lbajsarowicz

[2020-04-25 06:21] #27874 closed, assigned to shikhamis11

[2020-04-25 06:21] #25769 closed, assigned to ihor-sviziev

[2020-04-25 06:22] VZeroCool opened #27982 "Order information thorugh order repository"
### Preconditions (*)

1. Magento 2.3.3 CE, Apache2
2. MySQL, AWS Ec2 instance, PHPstorm with magento extension

### Steps to reproduce (*)

1. Retrieve order information from order Id using repository (Magento\Sales\Api\OrderRepositoryInterface)
2.  Try to get shipping address like, `$this->orderRepository->get($orderId)->getShippingAddress()`
3. No suggestion as there's no shippingAddress method

[2020-04-25 06:23] Aniket10Nov commented on #27346
i am working on this.

[2020-04-25 07:21] ihor-sviziev commented on #24353
@sdzhepa could anyone from QA team review this issue? It is really important to fix as for me

[2020-04-25 07:30] Hanhan1989 commented on #24353
I tested the solution of drew777 and it solves the issue for me.

[2020-04-25 08:38] fritzmg commented on #8933
@magento-engcom-team links to the commits do not seem to be working

[2020-04-25 10:15] kirtinariya1 commented on #27351
@magento give me 2.4-develop instance

[2020-04-25 10:15] magento-engcom-team commented on #27351
Hi @kirtinariya1. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-25 10:16] magento-engcom-team commented on #27351
Hi @kirtinariya1, here is your [Magento instance](https://i-27351-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27351-2-4-develop.instances.magento-community.engineering/admin_4815](https://i-27351-2-4-develop.instances.magento-community.engineering/admin_4815)
Login: `3fe7f393` Password: `a1c7dcb71305`
Instance will be terminated in up to 3 hours.

[2020-04-25 10:33] RHapani opened #27985 "Privacy and Cookie Policy link not display as active on current page."
### Preconditions (*)

Install Magento 2.3.4

### Description (*)
Go to the footer and click on the "**Privacy and Cookie Policy**" link. After the redirect, It's not displayed as active link as like other footer links.

### Steps to reproduce (*)
Go to footer and click on the "**Privacy and Cookie Policy**" link

### Expected result (*)

It should be displayed as an active link when the "**Privac

[2020-04-25 10:40] krishprakash commented on #27985
@magento give me 2.4-develop instance

[2020-04-25 10:41] magento-engcom-team commented on #27985
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-25 10:42] magento-engcom-team commented on #27985
Hi @krishprakash, here is your [Magento instance](https://i-27985-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27985-2-4-develop.instances.magento-community.engineering/admin_bf87](https://i-27985-2-4-develop.instances.magento-community.engineering/admin_bf87)
Login: `dc18c05b` Password: `89c2ab8b95f3`
Instance will be terminated in up to 3 hours.

[2020-04-25 10:48] magento-engcom-team commented on #27985
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33752` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-25 11:46] Den4ik commented on #14113
@magento give me test instance

[2020-04-25 12:14] kirtinariya1 commented on #27351
Can't reproduce the issue.
it's working as expected.

![Screenshot from 2020-04-25 17-42-43](https://user-images.githubusercontent.com/28681937/80279587-5bf77700-871c-11ea-808e-c5864cae3e48.png)

[2020-04-25 12:18] vbyno commented on #27351
@kirtinariya1 , thanks for checking! Have you tried the issue I've described [here](https://github.com/magento/magento2/issues/27351#issuecomment-601656068) , or the initial one?

[2020-04-25 12:33] kirtinariya1 commented on #27351
@vbyno I have checked both scenario.

[2020-04-25 12:45] Dharmeshvaja91 opened #27987 "Mini cart 'View and Edit Cart" link not in alignment issue"
### Preconditions (*)

1. Magento version 2.3.4
2.

### Steps to reproduce (*)

1.Add product into cart
2.click on mini cart button

### Expected result (*)

1. "View and Edit Cart" link should be vertically aligned.

2.
 ![minicart-fix](https://user-images.githubusercontent.com/43463281/80280248-8a775100-8720-11ea-880d-3cb2c50e350a.png)

### Actual result (*)

1.
![minicart-issue](https://user-im

[2020-04-25 12:50] magento-engcom-team commented on #27987
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33753` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-25 13:49] santosh-gaggle commented on #25038
@magento give me 2.3-develop instance

[2020-04-25 13:49] magento-engcom-team commented on #25038
Hi @santosh-gaggle. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-25 13:54] Sharmilasrini95 commented on #27970
Does anybody know the solution?

[2020-04-25 14:07] santosh-gaggle commented on #27987
@magento give me 2.3-develop instance

[2020-04-25 14:07] magento-engcom-team commented on #27987
Hi @santosh-gaggle. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-25 15:52] santosh-gaggle opened #27989 "Elasticsearch attribute filter with pagination issue"
**Elasticsearch attribute filter with pagination issue**

### Preconditions (*)
1. Magento 2.4-develop;
2. Sample Data;
2. Elasticsearch 6 +

### Steps to reproduce:

1. Go to Storefront;
2. Go to Men->Tops->Hoodies & Sweatshirts category (for example);
3. Go to the second **2** page;
4. On filter panel choose **black** from **Color** (for example);

**Actual result:**

:heavy_multiplication_x: Af

[2020-04-25 17:54] cruz94 opened #27991 "GET - /rest/all/V1/carts/mine says customerId is required."
### Preconditions (*)

Magento(2.3.4)

### Steps to reproduce (*)

GET : http://localhost/magento2/rest/all/V1/carts/mine
 gives an error
"{
    "message": "\"%fieldName\" is required. Enter and try again.",
    "parameters": {
        "fieldName": "customerId"
    }
}"

### Expected result (*)

 It should provide the latest cart created by that user at least.

### Actual result (*)

![Screenshot

[2020-04-26 00:23] msramanujam commented on #26437
Any idea when 2.4 will be released? We currently have this issue on our 2.3.4 system and would like to get an idea on how to deploy a patch to fix this issue ASAP. Appreciate your help.

[2020-04-26 02:21] rav-redchamps commented on #26437
@msramanujam you might use this https://github.com/redchamps/customer-shopping-carts-tab-fix in the meantime

[2020-04-26 04:09] mrtuvn commented on #27987
@Dharmeshvaja91 Issue seem has been fixed in PR https://github.com/magento/magento2/pull/27988

[2020-04-26 06:17] niravkrish commented on #27991
hi @cruz94,

This is not an issue you used wrong URL.

may be your request URL is wrong.

Please check guide for getting request URL or endpoints.

you can try below URL.

GET : http://localhost/magento2/rest/all/V1/carts/mine // wrong
GET : http://localhost/magento2/rest/V1/carts/mine // right

you can get all rest api endpoint by below URL in your project.
http://magento_project.local/swagger

T

[2020-04-26 06:35] niravkrish commented on #13143
Hello,

Please try below. in my local this is working fine.

http://magento.local/rest/V1/store/storeConfigs?params={storeCodes:[default,test]}

Thank you,
Nirav Patel

[2020-04-26 09:00] msramanujam commented on #26437
Thanks for the pointer. I'll check it out.

On Sat, Apr 25, 2020 at 7:21 PM Ravinder <notifications@github.com> wrote:

--
Thanks
Madhu Ramanujam
(415)-738-6013 / (415)-794-3805

[2020-04-26 10:38] aqdennis commented on #13398
Issue still exists for me in version 2,3,2.  When I reached the payment page I just keep having the spinner going around. I can select a payment method and continue to the PSP though, but users get confused as they think they have to wait for the page finishing loading

![image](https://user-images.githubusercontent.com/48013601/80305064-bcd58c80-87ba-11ea-9ebe-ddd1fe74a87a.png)

[2020-04-26 10:59] Notranslator commented on #27631
I found some more about this issue. The index has not been refreshed. I expected this query to yield zero results:

SELECT * FROM `mg_catalog_product_index_eav`
Join mg_cataloginventory_stock_status on product_id = entity_id
where attribute_id= 115 and store_id =1
and value <> stock_status

Even after refreshing all indexes in the Magento backend, I still get results from this query.
It looks like

[2020-04-26 11:32] aqdennis opened #27992 "Shipping/Payment page keeps showing spinner as if it's loading"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.3

### Steps to reproduce (*)

1. In One Page Checkout follow checkout procedure
2. At both Shipping and Payment page the loading spinner remains, though checkout can be completed

### Expected result (*)

1. Payment page without loading spinner

### Actual result (*)

1. No error message, payment page functions. But spinner remains which users find

[2020-04-26 11:33] aqdennis commented on #27992
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-04-26 11:33] magento-engcom-team commented on #27992
Hi @aqdennis. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-26 11:34] magento-engcom-team commented on #27992
Hi @aqdennis, here is your [Magento instance](https://i-27992-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27992-2-4-develop.instances.magento-community.engineering/admin_2245](https://i-27992-2-4-develop.instances.magento-community.engineering/admin_2245)
Login: `1ba1ccd8` Password: `f67bb14b1e73`
Instance will be terminated in up to 3 hours.

[2020-04-26 11:36] Notranslator commented on #27631
php bin/magento indexer:reindex
does not do the trick either

Design Config Grid index has been rebuilt successfully in 00:00:00
Customer Grid index has been rebuilt successfully in 00:00:00
Product Flat Data index has been rebuilt successfully in 00:00:04
Category Flat Data index has been rebuilt successfully in 00:00:00
Category Products index has been rebuilt successfully in 00:00:01
Product Ca

[2020-04-26 11:50] aqdennis commented on #27992
Can't reproduce it in the 2.4-develope branch.
The loading spinner in this branch takes a long time to disapper (up to 30 seconds), but does disappear in the end.

[2020-04-26 11:54] aqdennis commented on #27992
Changed my own site to the bare minimum checkout : only Flat rate shipping and Money Order payment. But spinner remains. Hence, it doesn't seem to be in one of the third party shippers or PSPs.

[2020-04-26 11:57] Notranslator opened #27993 "Follow-up: #27631: inconsistency between catalog_product_index_eav and cataloginventory_stock_status"
### Preconditions (*)
Magento 2.2.3 CE
This issue is a follow-up of issue #27631 and has the same preconditions.
In addition in Index management in Magento backend all indexes have "update on save".

### Steps to reproduce (*)
Place an order which has stock status "in stock" and quantity = 1 for a simple product.

### Expected result (*)
Stock status = "out of stock" and quantity = 0.
For both pro

[2020-04-26 11:58] aqdennis commented on #27992
Occasionally I even have 2 spinners (see below).  A refresh page makes the top left disappear again.

![image](https://user-images.githubusercontent.com/48013601/80306823-f2cc3e00-87c5-11ea-8e38-ed7080e929e0.png)

[2020-04-26 15:56] mrtuvn commented on #27285
https://github.com/magento/magento2/issues/26901

[2020-04-26 17:31] ShelburneCountryStore opened #27995 "New Sales chart is wrong on the dashboard"
Since we updated to Magento 2.3.4 the new sales chart on the dashboard has been driving us crazy.
I know this is not the most pressing issue of our day, but it is like a mis-spelling that keeps showing up as mis-spelt.

Why does the chart show low sales as fractional sales?  If I have 1 sale at 5:00, the chart should show 1, but instead the chart shows 1.5 sales.  So is 3 sales 3@1per or 2@1.5 per

[2020-04-26 21:58] lbajsarowicz opened #27996 "Magento Integration Tests fixtures do not work or are using deprecated methods"
### Preconditions (*)
There are about 300 Product Fixtures for Integration Tests in Magento. I was looking for **at least one** best-practice example of fixture of a Product that `isSalable` returns `true`. Let's search together. Let's review what Magento Fixtures give us.

#### Failures
I won't copy the test result for all the Fixtures, as it's pretty the same:
[code]

:red_circle:  `Magento/Conf

[2020-04-26 23:02] shahed1993 opened #27997 "Magento2 <>Virtual box <>Phpstorm CLI"
Hello guys, i have installed magento2 on Oracle virtual box and I have connected phpstorm CLI and use php7.2 like I'm using on vbox so my question is: Why when I type CLI Commands using ssh it shows me this error
In file.php line 578:   File".idea/misc.xml" cannot be opened Warning!open(.idea/misc.xml): failed to open stream: no such file or directory environments, and so on. -->

[2020-04-26 23:49] Tomasz-Silpion commented on #26908
@sdzhepa what about this pull request? I can confirm the issue exists and @vishal-7037 patch resolves it. Problem seems to be relevant to 2.4-develop branch and looks like it was caused by ENGCOM-5728 https://github.com/magento/magento2/commit/c5c5f393814e3a89a4f0e0e880a50c8b0dfdc479

[2020-04-27 04:01] katef commented on #6401
@magento-engcom-team Wonderful, thank you!

The commits you linked to 404 though. Was that branch rebased and now they have different hashes now, perhaps?

[2020-04-27 04:54] namthanh95 commented on #26870
@magento I am working on this

[2020-04-27 05:27] koushikch7 commented on #19618
@magento-engcom-team give me 2.3.0 instance

[2020-04-27 05:27] magento-engcom-team commented on #19618
Hi @koushikch7. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2020-04-27 05:28] magento-engcom-team commented on #19618
Hi @koushikch7, here is your [Magento instance](https://i-19618-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-19618-2-3-0.instances.magento-community.engineering/admin_a3b8](https://i-19618-2-3-0.instances.magento-community.engineering/admin_a3b8)
Login: `62a0ce0a` Password: `24766071239a`
Instance will be terminated in up to 3 hours.

[2020-04-27 05:30] parekhreena commented on #8384
@KrystynaKabannyk
This issue persists in 2.3.x and needs to be reopened. Asking for concrete attribute values is just a way to delay the solution. You can use "abc" and "def" for example purpose. This issue is very much evident and problematic when you have different language storeviews.

[2020-04-27 05:31] koushikch7 commented on #19618
@magento-engcom-team give me 2.3.3 instance

[2020-04-27 05:32] magento-engcom-team commented on #19618
Hi @koushikch7. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-04-27 05:33] magento-engcom-team commented on #19618
Hi @koushikch7, here is your [Magento instance](https://i-19618-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-19618-2-3-3.instances.magento-community.engineering/admin_7839](https://i-19618-2-3-3.instances.magento-community.engineering/admin_7839)
Login: `15f994b6` Password: `f777ac92a870`
Instance will be terminated in up to 3 hours.

[2020-04-27 05:52] VivekShingala commented on #23958
This worked for me

[2020-04-27 06:19] madhurajawat commented on #27899
@magento-engcom-team I am unable to assign this task. Can you please give access to assign the task

[2020-04-27 06:28] shikhamis11 commented on #27899
@madhurajawat once you will create Pull Request for this issue you will be automatically assign to this issue

[2020-04-27 06:31] madhurajawat commented on #27899
@shikhamis11 Ok, Thanks

[2020-04-27 07:00] shikhamis11 commented on #27995
@magento give me 2.4-develop instance

[2020-04-27 07:00] magento-engcom-team commented on #27995
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-27 07:01] magento-engcom-team commented on #27995
Hi @shikhamis11, here is your [Magento instance](https://i-27995-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27995-2-4-develop.instances.magento-community.engineering/admin_7ccd](https://i-27995-2-4-develop.instances.magento-community.engineering/admin_7ccd)
Login: `dda54069` Password: `e7d50febd65c`
Instance will be terminated in up to 3 hours.

[2020-04-27 08:05] koenner01 commented on #27881
You will not be able to reproduce this on 2.4-develop branch as "MC-18153: Correct phtml templates" (https://github.com/magento/magento2/commit/7caf49278aa88391decae5d1a6a5afe4427e6ad9#diff-a7a8af13cbad18dd607f30a5ea391642) was never merged into 2.4-develop

[2020-04-27 08:20] lbajsarowicz commented on #27996
I've received valuable resources **for Magento with MSI installed**

https://github.com/magento/inventory/blob/84c311c8bee8c021e470cce70e18ba4d8517448f/InventorySales/Test/Integration/IsProductSalable/IsSalableWithReservationsConditionTest.php#L96-L118

https://github.com/magento/inventory/blob/84c311c8bee8c021e470cce70e18ba4d8517448f/InventorySales/Test/Integration/Order/PlaceOrderOnDefaultStockT

[2020-04-27 08:49] Sutharsan27 commented on #27923
@magento give me 2.3-develop instance

[2020-04-27 08:49] magento-engcom-team commented on #27923
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-27 08:58] mike-thepixel commented on #27978
@magento give me 2.4-develop instance

[2020-04-27 08:58] magento-engcom-team commented on #27978
Hi @mike-thepixel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-27 08:59] magento-engcom-team commented on #27978
Hi @mike-thepixel, here is your [Magento instance](https://i-27978-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27978-2-4-develop.instances.magento-community.engineering/admin_c4d7](https://i-27978-2-4-develop.instances.magento-community.engineering/admin_c4d7)
Login: `dac2efdb` Password: `0bdc77aa04a5`
Instance will be terminated in up to 3 hours.

[2020-04-27 09:18] Sutharsan27 commented on #27923
@magento give me 2.3.4 instance

[2020-04-27 09:18] magento-engcom-team commented on #27923
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-04-27 09:20] magento-engcom-team commented on #27923
Hi @Sutharsan27, here is your [Magento instance](https://i-27923-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27923-2-3-4.instances.magento-community.engineering/admin_d11c](https://i-27923-2-3-4.instances.magento-community.engineering/admin_d11c)
Login: `5dae9e4f` Password: `d6c847312d00`
Instance will be terminated in up to 3 hours.

[2020-04-27 10:02] mtjweb opened #27998 "EU VAT number validation not working"
### Preconditions (*)

1. Magento 2.2.11
2.

### Steps to reproduce (*)

1. In the admin go to Stores -> Configurstion -> General -> General -> Store Information
2. Fill in a valid EU VAT-number (You can check at https://ec.europa.eu/taxation_customs/vies/)
3. Press "Validate VAT-number"

### Expected result (*)

Message that the VAT-number is valid

### Actual result (*)

Error message: Error dur

[2020-04-27 10:25] aqdennis commented on #27992
In de console I see the warning "Expected to start loader but did not find one in the dom" ,.... It sounds like that has something to do with it, but I don't know how....

[2020-04-27 10:52] madhurajawat commented on #27899
@ioweb-gr  You can add one index for a column at a time. You can either add INDEX or UNIQUE for a column.

For adding UNIQUE constraint You have to first drop index then add a UNIQUE constraint fo that column
The query will be like below:

ALTER TABLE `mytable` DROP INDEX `MYTABLE_IDENTIFIER`, ADD UNIQUE `MYTABLE_IDENTIFIER` (`identifier`) USING BTREE;
![image](https://user-images.githubuserconten

[2020-04-27 10:53] Sutharsan27 commented on #27923
@jkbdbrnwsk not able to reproduce on 2.3.4 as well on 2.4. Please refer to the attached video recording.

[https://drive.google.com/open?id=1KDsWFpBVKEXOqCVFVzK0MePfHNDrdeL4](https://drive.google.com/open?id=1KDsWFpBVKEXOqCVFVzK0MePfHNDrdeL4)

[2020-04-27 10:58] ioweb-gr commented on #27899
Yes exactly that's the point of the bug. While in mariadb you can define both indexes at the same time with a different name, with db_schema.xml you can't because it's reusing the same referenceId, it can't create a unique one for both at the same time because the algorithm that creates the names cannot create a unique name for both.

[2020-04-27 11:33] trunglv commented on #25177
Quick fixing :
- Reference Class:  Magento\Sales\Model\ResourceModel\Order\Handler\State
[code]
-- Adjust : If grand-total > 0 so don't set order status to be CLOSED
[code]

[2020-04-27 11:55] santosh-gaggle commented on #27989
@magento give me 2.3-develop instance

[2020-04-27 11:55] magento-engcom-team commented on #27989
Hi @santosh-gaggle. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-04-27 12:24] jkbdbrnwsk commented on #27923
Thank you for checking, @Sutharsan27! Would you be able to try to check this on an iPhone (Safari) as well? This is were I could reproduce it.

[2020-04-27 12:33] sourav88 commented on #24522
I get same issue on magento2.3.2

[2020-04-27 12:45] Sutharsan27 commented on #27923
lol, don't have an Iphone @jkbdbrnwsk .

[2020-04-27 13:31] lbajsarowicz commented on #27998
Already fixed #27886

[2020-04-27 13:32] lbajsarowicz commented on #27998
Already fixed #27886, you can apply patch to your code: https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/27886.patch

[2020-04-27 13:32] #27998 closed, assigned to nobody

[2020-04-27 13:38] lbajsarowicz opened #28001 "Magento Layout cache contains unnecessary characters"
### Preconditions (*)
It's more and more often reported that Magento misuse the caching mechanisms (too many requests, too much space used etc). I reviewed the requests that are being sent to REDIS and I'm not a Redis expert, but according to what I see on the screen - we cache not only the necessary XML data, but also the effect of "beautification" (formatting) of the XML output. I mean `\n` and

[2020-04-27 13:55] duckchip commented on #14509
What's the status of this ticket?

[2020-04-27 14:30] Sutharsan27 commented on #27923
@jkbdbrnwsk got a device, will keep you posted

[2020-04-27 14:30] Sutharsan27 commented on #27923
@magento give me 2.3.4 instance

[2020-04-27 14:30] magento-engcom-team commented on #27923
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-04-27 14:31] magento-engcom-team commented on #27923
Hi @Sutharsan27, here is your [Magento instance](https://i-27923-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27923-2-3-4.instances.magento-community.engineering/admin_dcbe](https://i-27923-2-3-4.instances.magento-community.engineering/admin_dcbe)
Login: `e2ea229b` Password: `1e161ee8a011`
Instance will be terminated in up to 3 hours.

[2020-04-27 14:49] duckchip commented on #14509
I created the following Plugin that adds the gender:
[code]

[code]

[2020-04-27 15:20] lbajsarowicz commented on #27997
Magento does not require `.idea` directory. Could you elaborate more in details what you are trying to achieve?

[2020-04-27 15:21] lnagys opened #28003 "Magento 2.2.6 customers excel export not working"
### Preconditions (*)
<!---
1. version 2.2.6

### Steps to reproduce (*)
1. Login to Admin
2.Customers
3. Export
4. Select CSV or Excel XML
5. Export

### Expected result (*)
1. File exports

### Actual result (*)
1. Error is received

Error received= Fatal error: Uncaught TypeError: Argument 2 passed to Magento\Framework\View\Element\UiComponentFactory::argumentsResolver() must be of the type arr

[2020-04-27 15:53] kapil-infobeans commented on #26774
Hey, Folks,

I am getting the same issue, We do not have stripe payment gateway.

[2020-04-27 16:23] Sutharsan27 commented on #27923
@jkbdbrnwsk not able to reproduce on iPhone, please refer below
https://drive.google.com/file/d/1KdsPsc4-U5b6fwx3XnWSdgmqARcULc4t/view?usp=sharing

[2020-04-27 16:27] hewgim commented on #27482
How does a bug like this slip through testing. Just migrated a store from Magento 1 to a Magento development environment and found this bug in the first five of minutes of testing.

[2020-04-27 16:30] AltayAkkus commented on #27562
@magento give me 2.4-develop instance

[2020-04-27 16:30] magento-engcom-team commented on #27562
Hi @AltayAkkus. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-27 16:31] magento-engcom-team commented on #27562
Hi @AltayAkkus, here is your [Magento instance](https://i-27562-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27562-2-4-develop.instances.magento-community.engineering/admin_9e8c](https://i-27562-2-4-develop.instances.magento-community.engineering/admin_9e8c)
Login: `4a5b050a` Password: `5f2dbb244a52`
Instance will be terminated in up to 3 hours.

[2020-04-27 16:35] jkbdbrnwsk commented on #27923
Can you please try one more time on a product with these two attached images added to the gallery? Perhaps the image size has to do with it. Thank you.

![ws12-orange_main_2](https://user-images.githubusercontent.com/7212882/80396877-9c3e2d00-88b5-11ea-9525-e3cd6dde1c31.jpg)
![ws12-orange_back_2](https://user-images.githubusercontent.com/7212882/80396881-9cd6c380-88b5-11ea-8dd1-5323d8ed94dc.jpg)

[2020-04-27 19:15] sdzhepa commented on #27925
Hello @vestman
fyi: @dhairya-shah, @shikhamis11

This issue has been reviewed by Magento team during the internal triage meeting.

Based on feedback from Product Managers and UX expected result should be changed.

**Expected Result**
- The order should NOT be placed and after push "Enter" button
- The page should not be reloading

I updated issue description

[2020-04-27 19:22] sdzhepa commented on #27920
PR with fix for this issue has been merged https://github.com/magento/magento2/pull/27926

The Issue can be closed

[2020-04-27 19:22] #27920 closed, assigned to hostep

[2020-04-27 19:30] boxyashish commented on #26500
@sdzhepa , once this issue has been resolved, can you please let me know the fix so that we can apply the patch  ourselves

[2020-04-27 20:24] mizzimizzi commented on #18785
Please check this for the solution:
https://github.com/magento/magento2/commit/6d985af3486280a5a672ef32681a6cdb2a148aa3

[2020-04-27 21:11] LiamKarlMitchell commented on #11002
Still a problem at least in 2.3.0

[2020-04-27 22:01] msyhr commented on #27942
I can confirm this is occurring as well. It looks like the data is just not being stored on save.

See **catalog_category_entity_varchar**

@Krapulat

FYI you can manually add the data into the table and the logic will work on the frontend.

I did it with a data patch

`        $table = $this->moduleDataSetup->getTable('catalog_category_entity_varchar');

        $connection = $this->moduleDataSet

[2020-04-27 22:12] lbajsarowicz commented on #28003
1. There is no description for the issue
2. Magento 2.2 is not supported anymore

[2020-04-27 22:12] #28003 closed, assigned to nobody

[2020-04-27 22:19] Ghadawi commented on #25837
i have update magento 2.3.4 but still remain same problem, any suggestion?

[2020-04-27 22:49] Ghadawi commented on #25837
i have update vendor/magento/module-catalog/Model/Category/Tree.php
with following code and it works
` $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
       $categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
       $categoryId = $node->getId();
       $nodeS = $categoryFactory->create()->load($categoryId);
       /** @var \Magento\Catalog\Api\D

[2020-04-28 02:39] carlzata commented on #12486
Same issue in 2.3.4. Price still uses regular price after setting up tier prices

[2020-04-28 04:12] PivitParkour94 commented on #24199
So is the length of the varchar data getting changed? Or is there a different backend_type value we should use for long custom product attributes?

[2020-04-28 04:55] ajijshekh123 commented on #27974
@magento give me 2.4-develop instance

[2020-04-28 04:55] magento-engcom-team commented on #27974
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-28 04:56] magento-engcom-team commented on #27974
Hi @ajijshekh123, here is your [Magento instance](https://i-27974-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27974-2-4-develop.instances.magento-community.engineering/admin_b84d](https://i-27974-2-4-develop.instances.magento-community.engineering/admin_b84d)
Login: `244b6e92` Password: `674fd54ca9cf`
Instance will be terminated in up to 3 hours.

[2020-04-28 05:17] ajijshekh123 commented on #27974
Hello @kishorekumarkesavan,
I have verified this issue as per your steps to reproduce and screenshot.
This issue I have found in Latest Magento 2.4 Instance.
**See attached screenshot:**

![1](https://user-images.githubusercontent.com/24711761/80449776-9d1aa180-893d-11ea-8337-77f466d6b97e.png)

![2](https://user-images.githubusercontent.com/24711761/80449779-a0159200-893d-11ea-837b-88a037a5b83a.pn

[2020-04-28 05:19] magento-engcom-team commented on #27974
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33800` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-28 05:31] Sutharsan27 commented on #27923
@jkbdbrnwsk , sure will try and let you know

[2020-04-28 05:31] Sutharsan27 commented on #27923
@magento give me 2.3.4 instance

[2020-04-28 05:31] magento-engcom-team commented on #27923
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-04-28 05:33] magento-engcom-team commented on #27923
Hi @Sutharsan27, here is your [Magento instance](https://i-27923-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27923-2-3-4.instances.magento-community.engineering/admin_5d06](https://i-27923-2-3-4.instances.magento-community.engineering/admin_5d06)
Login: `fa841e1e` Password: `86f12e9148e0`
Instance will be terminated in up to 3 hours.

[2020-04-28 06:24] stkrelax commented on #27469
@madhurajawat will have a look at it

[2020-04-28 06:45] deepakpant91 opened #28006 "magento 2.3.3 payment pending status"
### Preconditions (*)

1. Magento version ( 2.3.3)
2. Manual order creation from admin

### Steps to reproduce (*)

1. Go to orders and create and order and select any online payment method.
2. Then after creating order you can see there is no change option for order status rather then pending payment.

### Expected result (*)

1. Go to orders and create and order and select any online payment met

[2020-04-28 06:51] Naberdz commented on #24199
@PivitParkour94 the length of 255 is not enough for multiselect attribute. if you have selected 70 options * ( 3( length of id ) + 1(separating char) )  we will get 70*4 -1=279 which is greater than 255.

[2020-04-28 07:12] vestman commented on #27925
@sdzhepa

Thanks for reviewing the issue. May I ask what led you to come to the conclusion that the form should *not* be submitted on enter keypress when the input field has focus? I'm all for a discussion, so I'll start...

If you have focus in a textbox and hit enter, the form will be submitted automatically. This behavior is consistent across all browsers and is known as implicit submission. It

[2020-04-28 07:51] kapil-infobeans commented on #7429
Hey https://github.com/karlsminton,

You are missing one line here.

Just add `<item name="customScope" xsi:type="string">shippingAddress.custom_attributes</item>` in your codes "config" node. Updated code below, It should work then.

`<item name="duplicate-email" xsi:type="array">
   <item name="component" xsi:type="string">Magento_Ui/js/form/element/abstract</item>
   <item name="config" xsi:typ

[2020-04-28 08:17] Sutharsan27 commented on #27923
Hi @jkbdbrnwsk , still not able to reproduce the issue. Uploaded with couple more 700 x 700 pixel images and works just fine.
Please see the recordings [https://drive.google.com/file/d/1kOoI5im86WweFTRiIa1UYm82F6z519Xh/view?usp=sharing](url)
note: there will be a slight disturbance on the scroll and the page scrolls down, it was due to the finger position and not because of the scroll option.

[2020-04-28 08:20] aqdennis commented on #27992
Solved!
My theme overrides "onepage.phtml"  but has an incomplete checkout-loader <div>

`<div id="checkout-loader" data-role="checkout-loader" class="loading-mask" >`

Changed it to

`<div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>`

And now spinning wheel disappears shortly after page is loaded.

[2020-04-28 08:20] #27992 closed, assigned to krishprakash

[2020-04-28 08:39] sanjay-github commented on #26119
@tdgroot :
Thanks a lot. The workaround is working for me in v2.3.4. Saved a lot of time.

[2020-04-28 09:12] engcom-Alfa commented on #24353
The issue is reproducible on fresh 2.4-develop.

**_Preconditions:_**

Magento 2.4-develop;
Production mode;
Sample Data;
Php 7.3;
Varnish v. 6.2

**_Manual testing scenario:_**

1. Configure Varnish and Web server (Apache 2 in my case) [devdocs](https://devdocs.magento.com/guides/v2.3/config-guide/varnish/config-varnish-configure.html);
2. Configure Magento to use Varnish

Go to Admin->Stores->Co

[2020-04-28 09:14] mrkimmok opened #28008 "Magento 2.3.3-p1: Error during VAT Number verification"
### Preconditions (*)

1. Magento Community Edition v. 2.3.3-p1
2. Updated from v.2.2.10 > 2.3.3 > 2.3.3-p1 (updated with composer installation method)

### Steps to reproduce (*)

1. From backend go to Store > Configuration > General > General > Store Information.
2. Try to validate a valid VAT Number by pressing the **Validate VAT Number** button

### Expected result (*)

1. VAT Number validatio

[2020-04-28 09:15] stkrelax commented on #27469
sry we decided to disable msi. Other oversale reasons are the cause.

[2020-04-28 09:15] #27469 closed, assigned to madhurajawat

[2020-04-28 09:26] ambkimmok commented on #28008
As a side note, here's a screenshot of the same VAT Number being validated straight from the VIES VAT number validation service:

![image](https://user-images.githubusercontent.com/54927315/80470949-6186d400-894b-11ea-9cf0-bba710a04830.png)

[2020-04-28 09:30] krishprakash commented on #28008
Already fixed #27886 , you can apply patch to your code: [https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/27886.patch](https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/27886.patch)

[2020-04-28 09:30] #28008 closed, assigned to nobody

[2020-04-28 09:50] TheRealHunzik opened #28009 "Cateogry Image is Not Moving from catalog/tmp to catalog/category on save in 2.3.4"
### Preconditions (*)

1. Magento 2.3.4
2. Local Environment
3. OS (Ubuntu 16.04)

### Steps to reproduce (*)

1. Log in to Admin Dashboard
2. Catalog -> Category -> Content
3. Upload New Picture
4. Log in to Database navigate to `catalog_category_entity_varchar` and see recently uploaded record

### Expected result (*)

1. file should be moved from tmp to `catalog/category` and  saved like `image

[2020-04-28 09:57] santosh-gaggle opened #28011 "ElasticSearch When applying the extra filter to the product listing, Magento keeps the same page number"
### ElasticSearch 6 filter issue

### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.2
3. elasticsearch 6+

### Steps to reproduce (*)

1. Enter listing with n products,
2. Move to the last page of results
3. Select filter in the sidebar that filters out most of the products

### Expected result (*)

1.I'm redirected either to last page of results or first page of the listing (so I see any products)

[2020-04-28 10:04] magento-engcom-team commented on #24353
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33804` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-28 10:06] bartoszkubicki opened #28012 "Decomposition of dev/tests testsuites across corresponding modules"
### Summary (*)

Magento 2.3 or 2.4. There are a lot of tests inside `dev/tests` directory, which violates modularity of platform, because while uninstalling (I mean completely removing) package from vendor tests stays in `dev/tests`. Wouldn't be better to spread them across corresponding modules? What if, I would like to uninstall module `Magento_Wishlist` and still run all integration tests? I s

[2020-04-28 10:06] ihor-sviziev commented on #28011
Seems like might be fixed by https://github.com/magento/magento2/pull/26988, but not sure

[2020-04-28 10:08] jkbdbrnwsk commented on #27923
Thanks for checking, @Sutharsan27! What you are mentioning in your note is actually the kind of behavior I am reporting and one that my client would like to see blocked. On your screencast, the page is moving down a little bit probably because you are not swiping the images 100% horizontally (just a guess, though; that's how I was able to reproduce it). Is it possible to block the vertical scroll

[2020-04-28 10:16] santosh-gaggle commented on #28011
checked but still the same issue

[2020-04-28 10:17] ihor-sviziev commented on #28012
Related to https://github.com/magento/inventory/issues/2876, I see for MSI integration tests were already moved to the module directories.

[2020-04-28 10:22] ihor-sviziev commented on #27638
I see that this issue was already fixed by #27701, so I'm closing this issue.

[2020-04-28 10:22] #27638 closed, assigned to lbajsarowicz

[2020-04-28 10:27] bartoszkubicki commented on #28012
@ihor-sviziev is there a chance that PRs transporting (and by the way cleaning up formatting) is going to be accepted?

[2020-04-28 10:33] sivaschenko opened #28013 "Magento/ProductVideo MFTF test fail due to quota limits"
### Steps to reproduce (*)
Run Magento/ProductVideo tests multiple times
 * app/code/Magento/ProductVideo/Test/Mftf/Test/YoutubeVideoWindowOnProductPageTest.xml
 * app/code/Magento/ProductVideo/Test/Mftf/Test/AdminAddRemoveDefaultVideoSimpleProductTest.xml
 * app/code/Magento/ProductVideo/Test/Mftf/Test/AdminAddRemoveDefaultVideoDownloadableProductTest.xml
 * app/code/Magento/ProductVideo/Test/Mft

[2020-04-28 10:34] ihor-sviziev commented on #28012
AFAIK there is quite big dependency mess in the integration tests, so basically a lot of tests should be improved, this is definitely not a small part.

Fixing fixture paths could be the first step forward, similar to https://github.com/magento/inventory/pull/2931. Such PR could be accepted in any patch release. But huge test refactoring - not sure if they could be accepted before 2.5.0.

[2020-04-28 10:36] barryvdh opened #28014 "Download link in order email shows incorrect escaped link"
### Preconditions (*)
Magento 2.4-develop
Php 7.3

### Steps to reproduce (*)
1. Create a simple product with **File** customizable option;
![Screenshot from 2020-04-29 16-13-29](https://user-images.githubusercontent.com/51679138/80601195-290ff480-8a36-11ea-97fb-8a0202c1552a.png)

2. Go to Storefront;
3. Add created before the product to Cart;
![Screenshot from 2020-04-29 16-21-52](https://user-im

[2020-04-28 10:37] barryvdh commented on #28014
@magento give me 2.4-develop instance

[2020-04-28 10:37] magento-engcom-team commented on #28014
Hi @barryvdh. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-28 10:37] ihor-sviziev commented on #27168
Hi @engcom-Charlie,
This is not a feature, but a bug. Production image shouldn't be stored in temporary (tmp) folder, they have to be moved.

[2020-04-28 10:38] magento-engcom-team commented on #28014
Hi @barryvdh, here is your [Magento instance](https://i-28014-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28014-2-4-develop.instances.magento-community.engineering/admin_0d6c](https://i-28014-2-4-develop.instances.magento-community.engineering/admin_0d6c)
Login: `b43882c3` Password: `d9cd71bcb265`
Instance will be terminated in up to 3 hours.

[2020-04-28 10:38] ihor-sviziev commented on #28009
Looks like duplicate of https://github.com/magento/magento2/issues/27168

[2020-04-28 10:41] bartoszkubicki commented on #28012
@ihor-sviziev my idea is not to do all job in one PR, but for example, one PR per module having a few tests - examples - `Magento_AdminNotification` - 5 integration tests + 1 fixutre

[2020-04-28 10:43] Bartlomiejsz commented on #28011
Hi @santosh-gaggle - could you please specify if attribute on layered navigation that you use to filter is standard attribute or swatch?

[2020-04-28 10:48] barryvdh commented on #28014
Thanks, I've submitted an order but don't receive any email. How can I test transactional emails with the test instance?

[2020-04-28 10:52] ihor-sviziev commented on #28012
@bartoszkubicki personally I'm ok with it, but after migration to phpunit 9 & php7.4, just to prevent fixing a lot of onflicts

[2020-04-28 10:57] lbajsarowicz commented on #28011
@ihor-sviziev No, because in my PR I fixed situation when you change amount of items on page, here it is about adding extra filters. And previously it was working by coincidence. Now, when Magento is expected to work properly with pagination - we need to address also that issue.

[2020-04-28 10:58] ihor-sviziev commented on #24353
Hi @HOSTED-POWER @drew7721,
This issue was finally confirmed! 🎉
Could you create Pull Request that fixes it? Seems like you already have working solution.

Thank you!

[2020-04-28 11:02] TheRealHunzik commented on #28009
@ihor-sviziev  Is it a Bug or A Feature Please let me Know

[2020-04-28 11:03] ihor-sviziev commented on #28009
Looks like a bug

[2020-04-28 11:23] engcom-Echo commented on #27872
Hi @baltechies. For example, provide me your plugin. I'll try a check.

[2020-04-28 11:27] engcom-Alfa commented on #24353
Checked the solution to the problem from @drew7721  in the [comment](https://github.com/magento/magento2/issues/24353#issuecomment-592038624) and looks like it solves the problem.

[2020-04-28 11:30] Bartlomiejsz commented on #28011
I created PR that fixes this case. Important here is that issue occurs only with swatch filter, same as color on video attached to ticket.

[2020-04-28 11:30] bartoszkubicki commented on #28012
For which release is this planned? I don't think justo moving classes will do any harm. By slight refactor I mean optimizing imports, nothing really changing logic of test. My proposal is to preapre small PR, for smallest module I can find - I think it is `Magento_Rss` - it has only one test, and we would have kind of prototype, how this migration could look like.

[2020-04-28 11:48] HOSTED-POWER commented on #24353
@ihor-sviziev it seems confirmation took quite a while, happy it's finally getting confirmed :)

[2020-04-28 11:55] ihor-sviziev commented on #28012
It’s for 2.4.0, already in progress.

Good idea, please create PR, we’ll see how big effort will be

On Tue, 28 Apr 2020 at 14:30, Bartosz Kubicki <notifications@github.com>
wrote:

[2020-04-28 12:17] magento-engcom-team commented on #28011
:white_check_mark: Confirmed by @ihor-sviziev
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33806` were created

**Issue Available**: @ihor-sviziev, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-28 12:31] lbajsarowicz commented on #27283
@sdzhepa Any update there?

[2020-04-28 12:39] thiaramus commented on #26471
The internal Magento team is working on this issue right now.
The fix will be based on commits from the author and delivered according to our internal processes. All original commits made by the author will be preserved.

[2020-04-28 12:54] santosh-gaggle commented on #28011
Thanks @Bartlomiejsz ,
Now this issue fixed and working well ...:)

[2020-04-28 13:06] weiweiouyang opened #28016 "Fulltext search with double quote doesn't work well in the Backoffice grid"
### Preconditions (*)
1. The bug is reproducible in Magento 2.4-develop, v2.3.4 and v2.2.11
2. It worked in Magento v2.2.2 and v2.2.4

### Steps to reproduce (*)
1. Go to the Backoffice Admin Panel
2. Go to grid Customers --> All Customers
3. In the fulltext search bar (with the placeholder : Search by keyword) type any existing email with **double-quote** for example "roni_cost@example.com"

###

[2020-04-28 13:11] lbajsarowicz opened #28017 "Multiple `app/etc/di.xml` overridding preferences"
### Preconditions (*)
Magento 2.4-develop
Magento OOTB should provide only 1 preference for each Interface in `app/etc/di.xml` as it's "base config"

### Steps to reproduce (*)
Verify the contents of `app/etc/di.xml`

### Expected result (*)
Only 1 preference for 1 Interface

### Actual result (*)
https://github.com/magento/magento2/blob/960a51f7afa371e444842b953f0b5493d2255b13/app/etc/di.xml#L46

[2020-04-28 13:44] simonworkhouse commented on #20481
@magento-engcom-team Still a problem in 2.3.4.

@siliconalchemy It looks like the issue resides in the `mergeCategoryLinks($newCategoryPositions, $oldCategoryPositions)` function in `Magento\Catalog\Model\Category\Link\SaveHandler`. This function will remove the categories _iff_ you supply an empty array, otherwise it will always merge the old with the new.

Something odd to take note of is that t

[2020-04-28 13:49] siliconalchemy commented on #20481
@simonworkhouse - Magento don't care. See #25646.  I just hack my fix into place for every point release, a long with a bunch of other bugs Magento don't care about fixing.

[2020-04-28 13:59] simonworkhouse commented on #20481
@siliconalchemy Ah, I didn't see that one, but thank you. It looks like I found the source of the issue as you did.

It astonishes me that Magento was sold for ~$1.7b, I honestly didn't know piles of manure could be so expensive.

[2020-04-28 14:33] Den4ik commented on #28016
@magento give me 2.4-develop instance

[2020-04-28 14:33] magento-engcom-team commented on #28016
Hi @Den4ik. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-28 14:34] magento-engcom-team commented on #28016
Hi @Den4ik, here is your [Magento instance](https://i-28016-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28016-2-4-develop.instances.magento-community.engineering/admin_5a6c](https://i-28016-2-4-develop.instances.magento-community.engineering/admin_5a6c)
Login: `d9dc4164` Password: `e9584845cefe`
Instance will be terminated in up to 3 hours.

[2020-04-28 15:03] NiklasBr opened #28021 "CHANGELOG out of date"
### Summary (*)

[CHANGELOG](https://github.com/magento/magento2/blob/2.4-develop/CHANGELOG.md) was updated last time on 8 Oct 2019 for version 2.3.3, since then version 2.3.4 has been released on 28 Jan 2020 and just now version 2.3.5.

Neither version has been documented in the document.

### Examples (*)

See [CHANGELOG](https://github.com/magento/magento2/blob/2.4-develop/CHANGELOG.md)

### Pr

[2020-04-28 15:07] NiklasBr commented on #28021
@magento Yes, I confirm

[2020-04-28 16:23] iszabo-gcgi commented on #13746
Same issue here, running 2.3.3, FPC is on - almost 2 years later... any solution guys?

[2020-04-28 16:39] davidlopes opened #28022 "2.3.2 - View Order -Exception occured during order load"
### Preconditions (*)

1. magento 2.3.2
2. php 7.2

### Steps to reproduce (*)

1. Create an order
2. Delete one or more products in that order
3. Try to view order details

### Expected result (*)

1. Overview of clicked order

### Actual result (*)

1. Order page reloads → Error Message appears: "Exception occurred during order load"
    Exception.log shows following error message:
report.CRITIC

[2020-04-28 17:41] jg-development commented on #21885
@erfanimani
OK, I can confirm that the images are now no more duplicated on import.
That is very good...
BUT.....
The Add/Update does not delete images either.
Example:
I import a product (sample_1) with 8 images => fine
Add/Import the product sample_1 with 2 images .... the product is not correctly updated, still 8 images in the db.

[2020-04-28 19:03] Yonn-Trimoreau commented on #21885
@jg-development, if you're importing your images from disk, my fix should work. If you're using urls, don't bother trying my fix.

[2020-04-28 19:25] cdru commented on #27330
This is the same issue as in #27482 and #26991

Fix, though no elegant, is simple and can be found [here](https://github.com/magento/magento2/issues/26991#issuecomment-597709544)

[2020-04-28 19:48] jg-development commented on #21885
@Yonn-Trimoreau
I am importing from disk.
Should your fix including the deleting of existing images?

[2020-04-28 20:03] zzvara commented on #11002
Still a problem in 2.3.4:

[code]

[2020-04-28 20:53] Yonn-Trimoreau commented on #21885
Yes

[2020-04-28 21:30] trucatchtraps opened #28023 "Admin Customer Default Address Needs Break after Street"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Login to Admin
2. Navigate to Customers -> All Customers
3. Add New Customer
4. Fill in Required Information
5. Save and Continue Edit
6. Navigate to Addresses Tab
7. Add New Address
8. Fill in Required Information and Select as Default Billing and Shipping Address
9. Save

### Expected result (*)

1. The Address information s

[2020-04-28 23:24] achleitner opened #28024 "Product is displayed as "in stock" for non logged in users when salable quantitiy is 0"
1. Magento 2.3.4

### Steps to reproduce (*)
1. Buy product via bank transfer which has salable quantitiy 1
2. Product should appear as out of stock for both logged in and non logged in users

### Expected result (*)
1. Product should appear as out of stock for both logged in and non logged in users

### Actual result (*)
1. Non logged in users are displayed the product as "in stock"
2. Logged in

[2020-04-28 23:27] fooman commented on #11002
@zzvara see above comment https://github.com/magento/magento2/issues/11002#issuecomment-556889494
261 is within normal range - I'd suggest monitoring this over time to see if this increases.

[2020-04-29 00:05] orbisunom opened #28025 "System Upgrade Using Web Wizard"
## Preconditions (*)
Magento 2.3.4

## Steps to reproduce (*)
1. Click System - > Web Setup - > System Up
2. Follow the usual 4 step for upgrade

### Expected result (*)
1. Magento ver. 2.3.5 p1 (Admin Area Footer )

### Actual result (*)
1. Still Magento ver. 2.3.4
![actual-image-not-change-234instead235p1](https://user-images.githubusercontent.com/16284743/80549688-7bc6bd80-89f0-11ea-84c9-c9ce61

[2020-04-29 00:56] #27897 closed, assigned to engcom-Echo

[2020-04-29 02:09] magento-probot-user opened #28026 "Test Pull Request"
This issue is automatically created based on existing pull request: magento/magento2#27960: Test Pull Request

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. ...

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits

[2020-04-29 02:12] #28026 closed

[2020-04-29 02:37] m2-backlog[bot] opened #28027 "Test Pull Request"
This issue is automatically created based on existing pull request: magento/magento2#27960: Test Pull Request

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. ...

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits

[2020-04-29 02:43] #28027 closed

[2020-04-29 02:57] m2-backlog[bot] opened #28028 "Test Pull Request"
This issue is automatically created based on existing pull request: magento/magento2#27960: Test Pull Request

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. ...

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits

[2020-04-29 02:59] m2-backlog[bot] opened #28029 "Test Pull Request"
This issue is automatically created based on existing pull request: magento/magento2#27960: Test Pull Request

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. ...

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits

[2020-04-29 03:19] #28028 closed

[2020-04-29 03:23] m2-backlog[bot] opened #28030 "Test Pull Request"
This issue is automatically created based on existing pull request: magento/magento2#27960: Test Pull Request

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. ...

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits

[2020-04-29 03:26] m2-backlog[bot] opened #28031 "Test Pull Request"
This issue is automatically created based on existing pull request: magento/magento2#27960: Test Pull Request

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. ...

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits

[2020-04-29 03:29] #28031 closed

[2020-04-29 05:01] lukpheakdey commented on #27684
@mrtuvn @engcom-Alfa: I am waiting your response. Please response me for any solution.

[2020-04-29 05:18] paugnu commented on #27675
Hi,

I'm sorry to comment in a closed issue: but is this a confirmed bug in Magento 2.3.4? I'm experiencing exactly the same issue described by @vbyno and I would like to fix this in this release instead of waiting for 2.4. Is it not a blocker issue? Basically all tax calculations are wrong because of this :( (or maybe I'm missing something)

[2020-04-29 05:36] Vigneshmuthusamy commented on #28023
We can achieve it using the configuration of Magento admin as shown below:
![Configuration   Settings   Stores   Magento Admin](https://user-images.githubusercontent.com/11820699/80563620-2f3bac00-8a09-11ea-9ef1-3424f78d16ef.png)
Goto Stores->Configuration -> CUSTOMERS -> Customer Configuration -> Address Templates

[2020-04-29 06:20] #28023 closed, assigned to nobody

[2020-04-29 06:23] zzvara commented on #11002
I'm not sure. Magento is already using 12/24 cores constantly.

[2020-04-29 06:26] Vigneshmuthusamy commented on #28022
Hello @davidlopes , thanks for your contribution. Unfortunately, because of the fact that this is the EE feature and it is not reproducible here, I'm going to close it.

Worry not, I'm going to pass this issue and try to fix it for EE version and get back to you once it is fixed there.

[2020-04-29 06:26] #28022 closed, assigned to Vigneshmuthusamy

[2020-04-29 06:28] mts527 commented on #26740
On EE 2.3.4. we also needed to extend `js/view/checkout/shipping-information/address-renderer/shipping.js` from the **Temando Shipping module** by adding `getCustomAttributeLabel` method which was missing (same way as applied in the [4ef5d39]https://github.com/magento/magento2/commit/4ef5d3939ee7498f1d0af1257b603e55fb5ff162)).

[2020-04-29 07:15] zzvara commented on #11002
Not much is running on that Kubelet node, but Magento is using 12/24 cores.

![image](https://user-images.githubusercontent.com/8371789/80568482-6012e580-89f7-11ea-8ef9-6e7da73cb95f.png)

The site itself has become incredibly slow as well. These CRON jobs are running all the time. They are all on default values of 2.3.4.

We are using the following deployment: https://github.com/bitnami/charts/tre

[2020-04-29 07:19] Sutharsan27 commented on #27923
@jkbdbrnwsk I will try to reproduce in 2.4.x and update this ticket.

[2020-04-29 07:20] Sutharsan27 commented on #27923
@magento give me 2.4-develop instance

[2020-04-29 07:20] magento-engcom-team commented on #27923
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-29 07:21] magento-engcom-team commented on #27923
Hi @Sutharsan27, here is your [Magento instance](https://i-27923-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27923-2-4-develop.instances.magento-community.engineering/admin_5fd2](https://i-27923-2-4-develop.instances.magento-community.engineering/admin_5fd2)
Login: `50b51af0` Password: `498a3069760c`
Instance will be terminated in up to 3 hours.

[2020-04-29 07:42] azambon commented on #25659
2.3.5 is out and it still contains the bug fixed by this PR

https://github.com/magento/magento2/blob/2.3.5-p1/app/code/Magento/Sales/Model/Order/Payment/State/RegisterCaptureNotificationCommand.php#L38

[2020-04-29 07:59] rvitaliy opened #28033 "Composer throw deprecation for psr-0/psr-4 standard"
### Preconditions (*)
PHP: 7.3.17
Composer version: 1.10.5
"magento/product-enterprise-edition": "2.3.4"

### Steps to reproduce (*)
run this commands
1. composer install --no-interaction --no-progress --no-suggest --no-dev
2. composer dump-autoload --optimize --no-dev --classmap-authoritative

### Expected result (*)
no depreciation shown

### Actual result (*)
[code]

[2020-04-29 07:59] jg-development commented on #21885
hmmm did not work for me.
[code]
This is my first import.
Second was only with 2 additional images.

[2020-04-29 08:09] msainadh commented on #18229
FYI. I'm getting this issue on Magento v2.3.2

`SQLSTATE[HY000]: General error: 1137 Can't reopen table: 'catalog_product_index_price_temp', query was: INSERT INTO `catalog_product_index_price_temp` SELECT `e`.`entity_id`, `cg`.`customer_group_id`, `cw`.`website_id`, IF(MIN(i.tax_class_id) IS NULL, 0, MIN(i.tax_class_id)) AS `tax_class_id`, NULL AS `price`, NULL AS `final_price`, MIN(i.min_price)

[2020-04-29 08:18] msainadh opened #28035 "Magento 2.3.2 - Issue with catalog_product_price reindex (Product Price)"
### Preconditions (*)
1. Magento Version 2.3.2
2. More than 75k+ products.

### Steps to reproduce (*)
1. php bin/magento indexer:reindex catalog_product_price

### Expected result (*)
1. The product price index should be completed without any issue.

### Actual result (*)
1. `SQLSTATE[HY000]: General error: 1137 Can't reopen table: 'catalog_product_index_price_temp', query was: INSERT INTO `catal

[2020-04-29 08:20] Sutharsan27 commented on #27923
@magento give me 2.3.4 instance

[2020-04-29 08:20] magento-engcom-team commented on #27923
Hi @Sutharsan27. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-04-29 08:21] magento-engcom-team commented on #27923
Hi @Sutharsan27, here is your [Magento instance](https://i-27923-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27923-2-3-4.instances.magento-community.engineering/admin_6909](https://i-27923-2-3-4.instances.magento-community.engineering/admin_6909)
Login: `3317d413` Password: `d9e1c2c639c8`
Instance will be terminated in up to 3 hours.

[2020-04-29 08:40] GreenMinion commented on #2504
@Dannymx Thank You! It worked for Vagrant/Homestead Magento 2.3.
I am also using Homesteads' Magento "site-type" script instead of provided nginx config provided by Magento.
So it worked when i added the suggested directive into etc/nginx/sites-available/<magentoConfFile>

[2020-04-29 08:44] engcom-Alfa commented on #27968
Duplicate of #27970

[2020-04-29 08:44] #27968 closed, assigned to engcom-Alfa

[2020-04-29 08:49] Sutharsan27 commented on #27923
@jkbdbrnwsk Tried with multiple 700 X 700 pixel images on both 2.4-develop and 2.3.4 versions of Magento. As notified earlier, the issue is not reproducible in 2.4-develop but on 2.3.4 the issue is occuring onlyl on iOS + Safari Mobile browser.

Please can you update the ticket under Pre Condition that the issue is with iOS + Safari Mobile browser.

I have got some additional video for your refere

[2020-04-29 08:58] rvitaliy opened #28037 "Some of magento/module-* are outdated after run composer update"
### Preconditions (*)
PHP: 7.3.17
Composer version: 1.10.5
"magento/product-enterprise-edition": "2.3.5-p1"

### Steps to reproduce (*)
run commands

1. composer update (to download latest versions of all vendors)
2. composer outdated

### Expected result (*)
no outdated magento/module-*

### Actual result (*)
[code]

[2020-04-29 09:13] kennedyabitbol commented on #23411
A similar error occurs in 2.3.4, i get this error and the user seems to be logged out, but the [patch](https://github.com/magento/magento2/pull/25307) is there.

Anyone encountering the same issue?

[2020-04-29 09:14] VadimLugovoy commented on #10824
Does it possible to set position of the adding custom column?

[2020-04-29 09:21] rvitaliy commented on #28033
same deprecation in "magento/product-enterprise-edition": "2.3.5-p1"

[2020-04-29 09:43] engcom-Delta commented on #18027
HI @krzysztofkuzniar . I am not able to reproduce issue by steps from [comment](
https://github.com/magento/magento2/issues/18027#issuecomment-439338846) on 2.4-develop.
![#18027issue](https://user-images.githubusercontent.com/51681379/80582105-d83cd380-8a16-11ea-916e-86105b8a5f5f.png)

Are you facing with this issue on branch 2.4-develop?

[2020-04-29 10:17] engcom-Alfa commented on #27969
The issue is reproducible on a fresh 2.4-develop instance.

**Actual Result:**

Categories are deleted but children_count for remaining categories are negative
![screenshot](https://user-images.githubusercontent.com/51679138/80585245-a843ff00-8a1b-11ea-9fd1-ea4d44ac08c5.png)

[2020-04-29 10:19] fohnbit commented on #18057
Hello,

I upgraded to Magento ver. 2.3.5-p1 and have the same problem!
When I send via API a new attribute text swatch, the swatch field is empty.

Is this not fixed or did I need more modifications?
my Payload for **rest/V1/products/attributes/**:
`{
    "attribute": {
        "backend_type": "int",
        "frontend_input": "swatch_text",
        "default_frontend_label": "Default Label ",

[2020-04-29 10:23] magento-engcom-team commented on #27969
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33835` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-29 10:23] magento-engcom-team commented on #27590
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33836` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-29 10:38] theodorhanu commented on #10824
It should be possible by adding an afterGetColumns plugin for these two classes
_Magento\Sales\Block\Adminhtml\Order\View\Items_ and _Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer_ and reorder columns based on your needs.

In plugin you can add something like this (should be same for both plugins, only injected class  should be changed ):
Add this to _app/code/Vendor/Modu

[2020-04-29 10:40] engcom-Delta commented on #27440
Hi @edwardbatchelor thank you for your report, I'm not able to reproduce issue on clean 2.4-develop and it is related to your custom modules.
Please, refer to YoastSEO support

[2020-04-29 10:40] #27440 closed, assigned to engcom-Delta

[2020-04-29 10:44] Hanhan1989 opened #28038 "The variables of the mails appear as [object object] in the section of creating templates of the mails"
### Preconditions (*)

1. Magento 2.3.4
2. Linux
3. Php: 7.3
4. Apache: 2.4
5. Mysql: 5.7

### Steps to reproduce (*)

1. Go to the admin
2. Go to Marketing > Email Templates
3. Click Add New Templates
4. Click Insert Variable

### Expected result (*)

The variables should appear

### Actual result (*)

1. Result in the admin
![object-object](https://user-images.githubusercontent.com/11807165/8058

[2020-04-29 10:52] Krapulat commented on #27942
@msyhr I haven't been able to obtain the attribute_id for "Custom Layout Update"

[2020-04-29 11:01] hostep commented on #28021
You can view it over here: https://github.com/magento/magento2/blob/2.3.5/CHANGELOG.md

I currently have no opinion if the changelog should be updated as well on the `2.4-develop` branch.

[2020-04-29 11:03] hostep commented on #28033
For the `Zend_Validate_Barcode_IntelligentMail` error, this issue was created: https://github.com/magento/zf1/issues/28, and a fix is pending: https://github.com/magento/zf1/pull/29 (would be great if this could get picked up one day btw ...)

[2020-04-29 11:13] hostep commented on #28037
Hmm good point indeed!

I [noticed](https://magentocommeng.slack.com/archives/CANPJTBC5/p1587125756040900) during the 2.3.4-p1 pre-release period that they updated some modules with newer versions which wasn't necessary because the modules contained zero changes. I assume they did the same for 2.3.4-p2 but then didn't do it for 2.3.5 or 2.3.5-p1.

This is very confusing indeed!

[2020-04-29 11:28] #28035 closed, assigned to nobody

[2020-04-29 11:29] atwixfirster opened #28040 "GraphQl. Retrieve customer's shopping cart without an authorization token"
### Preconditions (*)

1. Sample data
2. Login as `Veronica Costello`
3. Add any product(s) into a shopping cart

### Steps to reproduce (*)

1. Copy `PHPSESSID` value from a browser window

<img width="1384" alt="27373-01" src="https://user-images.githubusercontent.com/13585327/80591103-c44c9e00-8a25-11ea-96f4-116b3b76826a.png">

2. Set `PHPSESSID` in a header

<img width="1211" alt="27373-02" sr

[2020-04-29 11:30] atwixfirster commented on #28040
Fix provided in https://github.com/magento/magento2/pull/27373

[2020-04-29 11:48] weiweiouyang commented on #28016
@magento give me 2.4-develop instance

[2020-04-29 11:48] magento-engcom-team commented on #28016
Hi @weiweiouyang. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-29 11:50] magento-engcom-team commented on #28016
Hi @weiweiouyang, here is your [Magento instance](https://i-28016-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28016-2-4-develop.instances.magento-community.engineering/admin_6d54](https://i-28016-2-4-develop.instances.magento-community.engineering/admin_6d54)
Login: `19d3b910` Password: `13f447c47f67`
Instance will be terminated in up to 3 hours.

[2020-04-29 12:03] AbdulRahmanAbouzaid commented on #27987
@Dharmeshvaja91 Can you check @mrtuvn's [comment](https://github.com/magento/magento2/issues/27987#issuecomment-619478276) and approve the fix ?

[2020-04-29 12:05] magento-engcom-team commented on #28016
Hi @weiweiouyang. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-29 12:07] magento-engcom-team commented on #28016
Hi @weiweiouyang, here is your [Magento instance](https://i-28016-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28016-2-4-develop.instances.magento-community.engineering/admin_d313](https://i-28016-2-4-develop.instances.magento-community.engineering/admin_d313)
Login: `d2661277` Password: `55091d3cd5f3`
Instance will be terminated in up to 3 hours.

[2020-04-29 12:31] ProkopovVitaliy commented on #27969
I`m working on it.

[2020-04-29 12:38] engcom-Alfa commented on #27907
Hi, @Eddcapone. Thank you for your report!

You can use _**referenceBlock**_ and _**referenceContainer**_ with block `name="..."` attribute only, as described in dev docs in [this](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/xml-instructions.html#fedg_layout_xml-instruc_ex_ref) part.
An alias name serves as an identifier in the scope of the parent element.
So, we have to clo

[2020-04-29 12:38] #27907 closed, assigned to engcom-Alfa

[2020-04-29 13:29] engcom-Alfa commented on #28014
The issue is reproducible on fresh 2.4-develop

**Manual testing scenario:**

1. Create a simple product with **File** customizable option;
![Screenshot from 2020-04-29 16-13-29](https://user-images.githubusercontent.com/51679138/80601195-290ff480-8a36-11ea-97fb-8a0202c1552a.png)

2. Go to Storefront;
3. Add created before the product to Cart;
![Screenshot from 2020-04-29 16-21-52](https://user-im

[2020-04-29 13:35] srokatonie opened #28041 "Customer registration captcha easy override for spammers (aka. _nosecret vulnerability)"
### Preconditions (*)

1. Magento 2.2.8

### Steps to reproduce (*)
1. Enable Magento captcha on the registration page
2. Visit https://www.domain.com/customer/account/create/_nosecret/1/

### Expected result (*)
1. You should not be able to submit the form without filling the right captcha code

### Actual result (*)

1. You can submit the form with any text in the captcha field

Reference issue:

[2020-04-29 13:36] magento-engcom-team commented on #28014
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33840` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-29 14:10] sdzhepa commented on #27969
@ProkopovVitaliy  fyi [Assigning an issue](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#assigning-an-issue)

[2020-04-29 14:10] engcom-Echo commented on #27899
Hi @madhurajawat.
https://github.com/magento/magento2/wiki/Working-Issues-and-PRs

[2020-04-29 14:12] amenk commented on #26308
@sdzhepa  what is the progress of the internal ticket? Can I check that in any way or is it private?

[2020-04-29 14:33] trucatchtraps commented on #28023
@Vigneshmuthusamy - Please explain which section, I had default settings still configured in Address Templates. And addresses look correct in all sections but the Customer Address tab in admin. According to the default settings in Address Templates section, there should be a break after the street

[2020-04-29 14:38] trucatchtraps commented on #28023
And looking at module-customer/view/adminhtml/web/template/default-address.html there should be a break after street as well.
Developer console information from address tab section in admin:
![Annotation 2020-04-29 083609](https://user-images.githubusercontent.com/16922585/80608769-82efca80-89f4-11ea-954e-dfbab22a6193.jpg)
Or at the very least a comma after the street I guess:
![Annotation 2020-04

[2020-04-29 14:56] msyhr commented on #27942
@Krapulat The attribute is called custom_layout_update_file There are two (one for product pages, one for category pages). You can get the ID's from the actual table (eav_attribute).

SELECT * FROM eav_attribute WHERE attribute_code = 'custom_layout_update_file'

[2020-04-29 15:04] j-robin-hunter commented on #26254
This is an issue with products that are not simple products but, for example, configurable products. The schema for such products does not generate either the offers, review or aggregateRating if the product has not been reviewed or rated. The configurable product does not have an offer either, perhaps because it is not configured?

[2020-04-29 15:09] sdzhepa commented on #27954
Hello @rafal-kos  and @shikhamis11

Could you please provide more details in the Description about

It is not clear how exactly it should be done

[2020-04-29 15:37] gaiterjones opened #28042 "Magento 2.3.4 swatch-render-js _getNewPrices does not return correct tierPrice data for variations"
### Preconditions (*)

1. Magento 2.3.4 / 2.3.5-p1
2. Configurable product with swatch enabled variations

### Steps to reproduce (*)

1. Open a configurable product page with swatch variation products that have tier pricing
2. Click on the lowest priced variation swatch image

### Expected result (*)

1. Tier pricing for variation displayed

### Actual result (*)

1. No tier pricing displayed

sw

[2020-04-29 15:40] m2-backlog[bot] opened #28043 "[Issue] Test Pull Request"
This issue is automatically created based on existing pull request: magento/magento2#27960: Test Pull Request

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. ...

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits

[2020-04-29 15:42] gaiterjones commented on #28042
@magento give me 2.4-develop instance

[2020-04-29 15:42] magento-engcom-team commented on #28042
Hi @gaiterjones. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-29 15:44] magento-engcom-team commented on #28042
Hi @gaiterjones, here is your [Magento instance](https://i-28042-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28042-2-4-develop.instances.magento-community.engineering/admin_caf5](https://i-28042-2-4-develop.instances.magento-community.engineering/admin_caf5)
Login: `14afe72d` Password: `6a766da55ee8`
Instance will be terminated in up to 3 hours.

[2020-04-29 15:45] #28043 closed

[2020-04-29 16:07] trucatchtraps opened #28045 "Thousands of records for new Customer in Shopping cart tab"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Customers -> All Customers
2. Add New Customer
3. Fill in Required Fields
4. Save and Continue Edit
5. Shopping cart tab

### Expected result (*)

1. Zero Records since new customer

### Actual result (*)

1. Customer has thousands of records listed

Additional Information:
This appears to be linked to Confirmation Required st

[2020-04-29 16:10] SistemasTroyStone opened #28046 "Translate Magento 2 using Translate Inline Tool, Checkout process doesn't finish"
### Preconditions (*)

### Steps to reproduce (*)
When I try to continue with the purchase process, I fill in all the necessary fields but never proceed in view of the checkout / success.
1. Translate Inline - Enabled for Storefront.
2. I try to continue with the purchase process

### Expected result (*)
I got the next issue:
1.
![image](https://user-images.githubusercontent.com/55449744/80619060-

[2020-04-29 16:34] m2-backlog[bot] opened #28047 "[Issue] Test Pull Request"
This issue is automatically created based on existing pull request: magento/magento2#27960: Test Pull Request

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. ...

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits

[2020-04-29 17:55] niravkrish commented on #28014
@magento I am working on it

[2020-04-29 18:15] barryvdh commented on #28014
Thank you. This issue is also present in the latest 2.2 and 2.3 releases, in case Magento is willing to fix older releases too.

[2020-04-29 18:37] nrkapoor opened #28554 "B2B Company Credit Queries"
As a Magento Developer, 

I want to expose B2B company credit storefront functionality via GraphQL

So that customers can use a more flexible and performant API technology. 

### Acceptance Criteria

- GraphQL exposes only storefront B2B company credit functionality 
- GraphQL respects user permissions for all storefront operations.
- WebAPI test coverage
- All builds are green

### Approved Schem

[2020-04-29 18:43] nrkapoor opened #28552 "B2B negotiable quote feature set"
As a Magento Developer,

I want to expose B2B Negotiable Quote functionality via GraphQL

So that customers can use a more flexible and performant API technology.
### Acceptance Criteria
 - GraphQL exposes only storefront B2B negotiable quote functionality
 - GraphQL respects user permissions for all storefront operations.
 - WebAPI test coverage
 - All builds are green

### Approved Schema

<http

[2020-04-29 18:45] nrkapoor opened #28550 "B2B shared catalog feature set"
As a Magento Developer,

I want to expose B2B shared catalog functionality via GraphQL

So that customers can use a more flexible and performant API technology.

### Connected tickets

- [GraphQL "categories" and "categoryList" do not consider Category Permissions configuration ](https://github.com/magento/magento2/issues/29880)
- [Prices should be hidden from products query results when the categ

[2020-04-29 18:49] nrkapoor opened #28553 "B2B requisition list feature set"
As a Magento Developer,

I want to expose B2B requisition list functionality via GraphQL

So that customers can use a more flexible and performant API technology.

**Acceptance Criteria**

- GraphQL exposes only storefront B2B requisition list functionality
- GraphQL respects user permissions for all storefront operations.
- WebAPI test coverage
- All builds are green

**Approved Schema**
https://

[2020-04-29 18:51] nrkapoor opened #28555 "B2B Purchase order details"
As a Magento Developer,

I want to expose B2B purchase order details via GraphQL

So that customers can use a more flexible and performant API technology.

**Related issues**
https://github.com/magento/partners-magento2b2b/issues/331
https://github.com/magento/partners-magento2b2b/issues/332
https://github.com/magento/partners-magento2b2b/issues/333

**Related branch**
https://github.com/magento/p

[2020-04-29 19:10] jackrevate commented on #7869
Agreed, having it on 2.3.4 also...

[2020-04-29 19:14] buskamuza opened #28050 "Eliminate plugins for ActionInterface in Framework"
### Summary (*)
Magento 2.4-develop
Eliminate plugins for `\Magento\Framework\App\ActionInterface` under `lib/internal/Magento/Framework/App/Action/Plugin`
Reason: plugins should be used to customize behavior of one module from another module. In this case, plugins that belong to Framework customize class behavior of the same Framework.

### Examples (*)

The problem is in the code and execution f

[2020-04-29 19:27] chequille commented on #23411
It seems to be fixed in 2.3.5
I do not have the error anymore.

[2020-04-29 19:46] navarr opened #28051 "Fixed Price Bundle Products taxed incorrectly under certain circumstances"
### Preconditions (*)
1. Magento 2.4
2. Vertex not installed
3. entire state of PA configured to be 6% taxable
4. Customer "Bob Saget" with address:
    525 N Allen St
    State College, PA 16803-3503
    USA
    (any phone number)
5. Incl/Excl tax display enabled for all fields
6. "Apply Tax On" configured to "Original price only"

### Steps to reproduce (*)
1. Create a bundle product
2. Set dyan

[2020-04-29 21:27] bartoszkubicki commented on #28012
@ihor-sviziev PR is ready https://github.com/magento/magento2/pull/28053

[2020-04-29 21:46] Hanhan1989 commented on #28038
It's solved.  The problem is that we added <update handle="editor"/>. For this reason, two urls appear (variables.js). Each one belongs to different modules
1. Magento_Variable
2. Magento_Email

In the section of creating new templates, the file variables.js of the Magento_Email module is used.
If the Magento_Variable module file also appears, it steps on it. That is why it gives error.

The chang

[2020-04-29 21:46] #28038 closed, assigned to nobody

[2020-04-29 21:51] naydav commented on #27283
Hi @lbajsarowicz,
What do you think about a clearer name fo command?

Something like `config:reset` or `config:set-to-default`. Because for me, `config:delete` is a little bit ambiguous.

[2020-04-29 21:52] lbajsarowicz commented on #27283
@naydav `config:reset` sounds fine.

[2020-04-29 21:53] naydav commented on #27283
@sdzhepa I don't have objections about this proposal.

[2020-04-29 22:01] sdzhepa commented on #27283
@naydav thank you for your feedback.

@lbajsarowicz  could I ask you to add some user example flow with steps and desire results?
it will help a lot to understand the business value during triage for guys who are not developers

Thank you in advance

[2020-04-29 22:07] lbajsarowicz commented on #27283
## Case 1: MFTF Tests

1. For the scope of Acceptance Test I need to change number of products per page to `1`, for store `fr_FR`, having default value untouched
2. I perform the tests
3. The rule of Test Isolation requires me to revert the previous state of application after test finished ("Use default" items per page value)

I'll list more of them soon

[2020-04-29 22:29] okolesnyk commented on #27283
Hi @lbajsarowicz
I like this feature, should simplify test creation and help with test isolation issues.

I would prefer to have command called `config:use-default` to align it what see on the Config Page. Should be more obvious then `reset` or `delete`.

The other thing I think would be helpful to have command `config:get path/to/config` which will return value which is set right now. It should h

[2020-04-29 22:31] lbajsarowicz commented on #27283
@okolesnyk I like the idea, but...  still, you are setting the value, so if you change the global value, the store-specific value won't follow anymore.

[2020-04-29 23:27] sdzhepa commented on #27985
@magento give me 2.4-develop instance

[2020-04-29 23:27] magento-engcom-team commented on #27985
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-29 23:29] magento-engcom-team commented on #27985
Hi @sdzhepa, here is your [Magento instance](https://i-27985-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27985-2-4-develop.instances.magento-community.engineering/admin_02f2](https://i-27985-2-4-develop.instances.magento-community.engineering/admin_02f2)
Login: `3bd61110` Password: `cd4af8bf6385`
Instance will be terminated in up to 3 hours.

[2020-04-30 00:10] MichaelThessel commented on #19469
Too bad that it takes 6 months for a confirmed and fixed issue to be released. Not to speak of the 17 months it took to actually fix it. In case you use composer this is a quick way to patch your install.

[code]

[2020-04-30 00:34] duythvn commented on #27039
@GuiltyNL  what message queue you were using. We are also cleaning up this mess, May I know what you ended up doing?

[2020-04-30 01:02] vilmarmoreno opened #28054 "Instalação Magento 2 W8 Xampp"
apos instalar apareceu essa mensagem abaixo:
Um ou mais indexadores são inválidos . Verifique se o seu trabalho Magento cron está sendo executado.

[2020-04-30 02:06] #28054 closed, assigned to nobody

[2020-04-30 07:04] yomiojo001 opened #28055 "Issue installing magento 2.3.5p1 on local server stuck at 51%"
### Preconditions (*)

1. I'm stuck at 51% while installing magento 2.3.5p1
![Screenshot (188)](https://user-images.githubusercontent.com/46981986/80681725-273b4500-8ab9-11ea-82a6-480b4f8a9623.png)
on my wamp server on windows 10.
2.

### Steps to reproduce (*)

1. After clicking install it fails at  Module 'Magento_Theme':
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

###

[2020-04-30 07:32] fohnbit opened #28056 "set and read product attributes"
Hello,

I try to write, update and read product attributes and faced in some problems

### Preconditions (*)
Magento 2.3.5-p1 (updated from 2.3.3)

### Steps to reproduce (*)
1. POST to https://comp.com/rest/V1/products/attributes/
payload:
`{
    "attribute": {
        "is_wysiwyg_enabled": false,
        "is_html_allowed_on_front": true,
        "used_for_sort_by": true,
        "is_filterable":

[2020-04-30 07:34] spiilmusic commented on #10673
Any news here? Still reproduced in 2.3.x 😕

[2020-04-30 07:35] fohnbit commented on #28056
@magento give me 2.4-develop instance

[2020-04-30 07:36] magento-engcom-team commented on #28056
Hi @fohnbit. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-30 07:37] magento-engcom-team commented on #28056
Hi @fohnbit, here is your [Magento instance](https://i-28056-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28056-2-4-develop.instances.magento-community.engineering/admin_6ae5](https://i-28056-2-4-develop.instances.magento-community.engineering/admin_6ae5)
Login: `ea0eeec4` Password: `4e355a9bd252`
Instance will be terminated in up to 3 hours.

[2020-04-30 07:42] rvitaliy commented on #28037
yes, but it's strange that compose don't pull latest tag.
example if i do: `composer why magento/module-advanced-sales-rule` output is
[code]

so the problem is that `magento/product-enterprise-edition  2.3.5-p1` require exactly `magento/module-advanced-sales-rule (100.3.4)` i think that to fix this we must change require to `100.3.*` or in `100.3.4|100.3.4-p1|100.3.4-p2` or if other tags is not s

[2020-04-30 07:47] fohnbit commented on #28056
I can confirm the issue on vanilla Magento instance:
after create the text swatch:
![image](https://user-images.githubusercontent.com/5511404/80685244-2c06f580-8ac7-11ea-98bc-77657fdaf692.png)

after creating, add a new option via API:
{
    "message": "The \"%1\" attribute can't be saved.",
    "parameters": [
        "test_specs"
    ]
}

This is not possible ... in 2.3.5-p1 I could add more tex

[2020-04-30 07:56] Hexmage commented on #27657
@bharat1811 I did something similar to fix it for me locally. Changes to vendor/magento/module-catalog-graph-ql/DataProvider/Product/LayeredNavigation/Builder/Attribute.php were identical.

For attributeOptionProvider I did the following.
[code]
But I think your solution is better, because mine assumes that every store has translated values (which is true in my case).

[2020-04-30 08:01] sudheers-kensium commented on #28045
@magento give me 2.4-develop instance

[2020-04-30 08:01] magento-engcom-team commented on #28045
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-30 08:02] magento-engcom-team commented on #28045
Hi @sudheers-kensium, here is your [Magento instance](https://i-28045-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28045-2-4-develop.instances.magento-community.engineering/admin_ac7a](https://i-28045-2-4-develop.instances.magento-community.engineering/admin_ac7a)
Login: `a1593ca8` Password: `a79f32f8cd79`
Instance will be terminated in up to 3 hours.

[2020-04-30 08:17] paul-sysint commented on #26774
Hey,

I have just updated to Magento 2.3.5-p1 on a development domain using default Braintree Payment method and I am getting "Infinite Loop" detected as well

[2020-04-30 08:26] akosglue commented on #22142
so it is closed, but what is the solution for this problem?

[2020-04-30 08:34] magento-engcom-team commented on #28016
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33867` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-30 08:55] mrixwan-407 opened #28057 "Magento 2.3.4 Wrong Tax Calculation"
### Preconditions (*)
Magento 2.3.4

### Steps to reproduce (*)
1-On the Admin Panel, Stores > Tax Zones and Rates. Create a Tax Zone and Rate
 create tax zone and enter tax percentage amount.
2- On the Admin panel, Stores > Tax  Rules> Product Tax Classes.
    Hit the Add New button and create a  VAT Standard class:
    Add Tax Zone and rate class in Tax Rule
3-Add Tax Class to products in Catalo

[2020-04-30 08:59] magento-engcom-team commented on #27949
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-04-30 08:59] mrixwan-407 commented on #28057
yes

[2020-04-30 09:02] mrixwan-407 commented on #28057
@magento give me 2.3.4 instance
--

[2020-04-30 09:02] magento-engcom-team commented on #28057
Hi @mrixwan-407. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-04-30 09:03] magento-engcom-team commented on #28057
Hi @mrixwan-407, here is your [Magento instance](https://i-28057-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-28057-2-3-4.instances.magento-community.engineering/admin_2e01](https://i-28057-2-3-4.instances.magento-community.engineering/admin_2e01)
Login: `75f8384a` Password: `8f04280b2316`
Instance will be terminated in up to 3 hours.