[2017-10-09 08:30] #7775 closed, assigned to nobody

[2017-10-09 08:30] magento-engcom-team commented on #8387
@varun-jyothi, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 08:30] #8387 closed, assigned to tkacheva

[2017-10-09 08:30] magento-engcom-team commented on #10128
@joergmaertin, thank you for your report.
We've created internal ticket(s) MAGETWO-70503 to track progress on the issue.

[2017-10-09 08:30] magento-engcom-team commented on #9453
@hostep, thank you for your report.
We've created internal ticket(s) MAGETWO-70322 to track progress on the issue.

[2017-10-09 08:30] magento-engcom-team commented on #11272
@kingshukdeb, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-09 08:30] #11272 closed, assigned to nobody

[2017-10-09 08:30] magento-engcom-team commented on #6281
@Corefix, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 08:30] #6281 closed, assigned to nobody

[2017-10-09 08:30] magento-engcom-team commented on #11236
@Franzld, thank you for your report.
We've created internal ticket(s) MAGETWO-81242 to track progress on the issue.

[2017-10-09 08:31] scholtz commented on #11264
Just to copy from the other thread, i believe that if you run PHP7.1 CLI version for composer, and run PHP 7.0 on PHP-FPM, the Magento should warn administrator that something is broken, because users may get unexpected blank screens on unknown places (everywhere where php 7.1 specifi code is used) when php get parse error..

I also agree that if you install using cli 7.1, fpm should be 7.1+, but

[2017-10-09 08:33] kingshukdeb commented on #11272
I will check with 2.2.0 and will update. Thanks.

[2017-10-09 08:36] manuelson commented on #10048
Hello,
can i get this issue?
Thanks

[2017-10-09 08:45] magento-engcom-team commented on #8385
Hi @CatherineLearmonth
I understand your issue.
I try to reproduce it in 2.1.9 and 2.2.0 (Revision number: 07465f8ce879ff0bd0ba72a662c9e2473e49afe4), but attribute was saved correctly.

My steps are:
1. Create simple product With id =1 and Special price = 10
2. Execute:
[code]
After this action the field Special price is empty.

Please update you Magento 2.2.0 to latest version and try reproduce i

[2017-10-09 08:50] joni-jones commented on #10437
Closed as the duplicate to https://github.com/magento/magento2/issues/3789.

[2017-10-09 08:50] #10437 closed, assigned to nobody

[2017-10-09 09:09] esimov opened #11301 "Customer address hidden attributes visible on admin panel after upgrade to Magento 2.2.0"
### Preconditions

1. Magento 2.2.0
2. PHP 7.1

### Steps to reproduce

After upgrading to Magento 2.2.0 some of the hidden custom attributes associated to customer_address became visible on magento customer address form in backend. Please see the snapshots below.

And here is the code section from the Upgrade script, how it was defined:
[code]
You will observe, that `visible` is set to false.

##

[2017-10-09 09:10] AgentGod commented on #10821
The solution provided by @PhiIipp worked for me too. Thanks.

[2017-10-09 09:15] nagno commented on #6281
Of course you are not able to reproduce it, because it was fixed in 2.1.8. (See changelog for 2.1.8)
I did report it in October 2016 via the partner portal and after 2 not working patches Magento finally fixed it. It took about 9 months to provide it even with "priority" partner portal support...

[2017-10-09 09:30] magento-engcom-team commented on #11287
@Webroju, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 09:30] #11287 closed, assigned to nobody

[2017-10-09 09:30] magento-engcom-team commented on #8314
@azeemism, thank you for your report.
We've created internal ticket(s) MAGETWO-81256 to track progress on the issue.

[2017-10-09 09:30] magento-engcom-team commented on #7640
@redelschaap, thank you for your report.
We've created internal ticket(s) MAGETWO-81249 to track progress on the issue.

[2017-10-09 09:30] magento-engcom-team commented on #6634
@alexkuk, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 09:30] #6634 closed, assigned to nobody

[2017-10-09 09:30] magento-engcom-team commented on #10705
@durgagupta, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-09 09:30] magento-engcom-team commented on #10201
@parksddd, thank you for your report.
We've created internal ticket(s) MAGETWO-81246 to track progress on the issue.

[2017-10-09 09:35] mdruguet commented on #5363
Hello,

Same problem on magento 2.1.8, have u found any solution to solve it?

Best regards

[2017-10-09 09:39] hezide commented on #11110
I have a similar issue but strange as it sounds, I can't understand which file is problematic, this is my exception:

[code]

[2017-10-09 09:49] rbostan commented on #9088
Any update on this ? Same issue in 2.1.8

[2017-10-09 09:50] nntoan commented on #7399
@erikhansen It's working.

[2017-10-09 09:51] sasilinux commented on #11238
After enabling cache, unable to get the customer data.

[2017-10-09 09:52] sasilinux commented on #11238
via js "Magento_Customer/js/customer-data". Unable to get the customer details. please have a look and provide the solution.

[2017-10-09 09:56] JerVoo commented on #11289
The error actually describes the problem pretty clear. A file is missing from the file system. Try to get the files back to the filesystem with composer and it will work.

The fact that backend isn't showing is due to missing static content files, which can easily be fixed by running `php bin/magento setup:static-content:deploy` followed by `php bin/magento cache:flush`.

[2017-10-09 09:59] JerVoo commented on #11284
Sounds to me like the indexes haven't updated properly after you've migrated M1 to M2, because the catalog_product_product index has crashed.

Check your PHP error log to see what went wrong at the time the indexers ran, or try clearing the `var/locks` directory and run `php bin/magento indexer:reindex` to see if the error still persists.

[2017-10-09 10:17] wintermute-84 commented on #10406
Unfortunately doing it as dev docs say is not an option.
Magento core itself is not using repositories probably for a reason - product repository save does not work in many cases as intended which is ridiculous.
Ended up using model save() directly and wrapping it in custom code.

Don't know if this (and other repository save() related problems, like image save) is fixed in 2.2 as we are not spend

[2017-10-09 10:30] magento-engcom-team commented on #6832
@milinka, thank you for your report.
We've created internal ticket(s) MAGETWO-60033 to track progress on the issue.

[2017-10-09 10:30] magento-engcom-team commented on #6593
@jernejh, thank you for your report.
We've created internal ticket(s) MAGETWO-58378 to track progress on the issue.

[2017-10-09 10:30] magento-engcom-team commented on #10123
@daniel-ifrim, thank you for your report.
We've created internal ticket(s) MAGETWO-70479 to track progress on the issue.

[2017-10-09 10:30] magento-engcom-team commented on #6423
@akamura, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-09 10:30] #6423 closed, assigned to nobody

[2017-10-09 10:30] magento-engcom-team commented on #7643
@yariksheptykin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 10:30] #7643 closed, assigned to nobody

[2017-10-09 10:30] magento-engcom-team commented on #8644
@yumicom, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-09 10:30] #8644 closed, assigned to nobody

[2017-10-09 10:30] magento-engcom-team commented on #10076
@raceves2005, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 10:30] #10076 closed, assigned to nobody

[2017-10-09 10:30] magento-engcom-team commented on #7960
@rbostan, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-09 10:30] magento-engcom-team commented on #7965
@kkdg, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-09 10:30] #7965 closed, assigned to ioliinyk

[2017-10-09 10:34] pgsutariya opened #11303 "Frontend couldn't load in developer mode after Updating Magento 2.1.9 to 2.2.0"
I recently update my Magento v2.1.9 to Magento v2.2.0
And i found below kind of error loading frontend.
1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'css': This element is not expected.
Line: 660

Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'css': This element is not expected.
Line: 660

![](https://i.imgur.com/Y0XjyUS.png)

[2017-10-09 10:36] manuelson commented on #10355
Hello, can i get this issue? Thanks

[2017-10-09 10:46] Nix-id commented on #8084
Also have this problem when try open configurable product with more then 3k assigned simple products

[2017-10-09 10:46] ludwig-gramberg opened #11304 "huge performance issue: db media storage fetches and saves each file when viewing files in admin"
### Preconditions (*)

1. Magento 2.4-develop
2. Media Storage is Database (Stores->Configuration->Advanced->System->Storage Configuration for Media)

### Steps to reproduce (*)

this is a severe performance bottleneck, on each call to the controller listing the directory contents this happens:
1. admin controller gets called
2. Go to Content->Pages
3. Click Add New Page
4. Expand Content, click I

[2017-10-09 10:48] magento-engcom-team commented on #9700
@kaseyfurlong We can't reproduce this issue. Please install clean and fresh Magento, and try to reproduce this issue again.

[2017-10-09 10:58] magento-engcom-team commented on #8024
Hi @navarr
Thanks for reporting this issue.
Could you please share your code, that appear how do you load javascript file

[2017-10-09 11:01] AmannMax opened #11305 "No specialprice showing on Customer Wishlist"
### Preconditions

1. Magento 2.1.5 - 2.1.8 and new versions.

### Steps to reproduce

1. Setup special price for any product
2. Add this product to wishlist
3. go to wishlist section

### Expected result

1. It should display the special price.
### Actual result

1. Normalprice is shown.

![wishlist](https://user-images.githubusercontent.com/29060188/31335213-e07ceeea-acf1-11e7-8c52-0a593ed08801.

[2017-10-09 11:01] czettnersandor commented on #7536
Similar issue here, but I'm getting an error message in the checkout, where normally the payment methods are shown: "No payment methods available" and the Place Order button is hidden.

The issue goes away when I refresh the page and the Zero Subtotal payment method is showing with a text that reads "No Payment Information Required". I can progress the checkout after this.

[2017-10-09 11:04] mritu19 commented on #11284
Hi @JerVoo

Thanks for your reply.
I would like to share with you that our 'MAGE_MODE' => 'default' and i have 5 root category which is mapped with 5 respective stores. However, I Have Re-mapped the all root category and inserted all root category into one store i.e under "Default Category" still I am not able to see any product on category's product listing page.

AS suggested, I have checked err

[2017-10-09 11:17] magento-engcom-team commented on #7118
Hello @sippsolutions. We were not able to reproduce this issue by following the steps you provided on clean Magento installation(v2.1.9). We are attaching a video. Please, let know whether everything is done correctly.
[#7118.zip](https://github.com/magento/magento2/files/1368265/7118.zip)

[2017-10-09 11:28] PieterCappelle commented on #5726
I'm working on this. Will create backport for 2.1-develop and 2.2-develop branch.

[2017-10-09 11:30] magento-engcom-team commented on #7636
@Rudolfff, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 11:30] #7636 closed, assigned to nobody

[2017-10-09 11:30] magento-engcom-team commented on #6820
@koenner01, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-09 11:30] #6820 closed, assigned to nobody

[2017-10-09 11:30] magento-engcom-team commented on #7478
@wenpingguo, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-09 11:30] #7478 closed, assigned to nobody

[2017-10-09 11:30] magento-engcom-team commented on #6574
@ytorbyk, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 11:30] #6574 closed, assigned to nobody

[2017-10-09 11:30] magento-engcom-team commented on #8548
@robin31, thank you for your report.
We've created internal ticket(s) MAGETWO-81270 to track progress on the issue.

[2017-10-09 11:30] magento-engcom-team commented on #10743
@ADDISON74, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-09 11:30] magento-engcom-team commented on #10058
@zts, thank you for your report.
We've created internal ticket(s) MAGETWO-70451 to track progress on the issue.

[2017-10-09 11:30] magento-engcom-team commented on #7934
@andidhouse, thank you for your report.
We've created internal ticket(s) MAGETWO-81265 to track progress on the issue.

[2017-10-09 11:37] andkirby commented on #11248
Sure. Updated it.

Yeah, you are completely right. I just don't want to fix core code in my module.

The main purpose of this issue is to shape providing child products of *grouped* type in the same way like it works in other aggregating product types.

[2017-10-09 11:43] magento-engcom-team commented on #8836
@korostii Thanks for reporting this issue.
According to http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/themes/theme-create.html
In order to create or update theme, You should be in developer mode.
We are closing this issue as non-issue. Please reopen this issue as needed.

[2017-10-09 11:43] #8836 closed, assigned to nobody

[2017-10-09 12:22] filipepiressemait commented on #11202
Magento version: 2.1.7
Make Api call with postman
Expect a list of stores
Actual result:
![oauth_error](https://user-images.githubusercontent.com/31819207/31337801-d6b30db0-acf4-11e7-96eb-59babcc0cc0b.PNG)

[2017-10-09 12:30] magento-engcom-team commented on #8255
@barbanet, thank you for your report.
We've created internal ticket(s) MAGETWO-63706 to track progress on the issue.

[2017-10-09 12:30] magento-engcom-team commented on #10368
@alexgifts, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-09 12:30] #10368 closed, assigned to nobody

[2017-10-09 12:30] magento-engcom-team commented on #6755
@alexkuk, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 12:30] #6755 closed, assigned to nobody

[2017-10-09 12:30] magento-engcom-team commented on #6731
@lsv, thank you for your report.
We've created internal ticket(s) MAGETWO-59136 to track progress on the issue.

[2017-10-09 12:30] magento-engcom-team commented on #7698
@tzyganu, thank you for your report.
We've created internal ticket(s) MAGETWO-70026 to track progress on the issue.

[2017-10-09 12:30] magento-engcom-team commented on #6033
@thagxt, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 12:30] #6033 closed, assigned to nobody

[2017-10-09 12:30] magento-engcom-team commented on #8253
@rtk0407, thank you for your report.
We've created internal ticket(s) MAGETWO-81284 to track progress on the issue.

[2017-10-09 12:30] magento-engcom-team commented on #8035
@sterfpaul, thank you for your report.
We've created internal ticket(s) MAGETWO-81288 to track progress on the issue.

[2017-10-09 12:31] vincentwinkel commented on #4462
"We were not able to reproduce this issue. We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9"

Are you kidding ? This ticket is tagged for 2.0, we don't care about 2.1, 2.2 and 2.3.
Stop to close tickets all the time and assume the platform you created.

[2017-10-09 12:33] vincentwinkel commented on #3484
Each time we have a problem with Magento2 (actually 10 times per day), we see a lot of people in the same situation since several months / years, and you just close the tickets without fixing anything.
Stats to be pathetic...

[2017-10-09 12:59] EliasKotlyar opened #11310 "Method "getChildren" sort ordering"
### Preconditions
Bug can be reproduced in every Magento Version. M1 has it, M2 has it. Even M2.2 has it.

### Steps to reproduce
Create a Code which will call the following Class:
M1: Mage_Catalog_Model_Resource_Category_Flat
M2:  Magento\Catalog\Model\ResourceModel\Category\Flat

With the following Method:
getChildren()

### Expected result
You will get a list of Ids of the children categories.

[2017-10-09 13:02] hi-rafa opened #11311 "User flow issue"
I was adding a new attribute to a configuration product and I had to leave for a while. When I came back and I keep on working my user session expired. When I clicked on the "Create New Attribute" button, the modal opened and asked me to login. After I inserted my credentials rather than allowing me to keep on working it showed me the admin home panel.

Magento ver. 2.1.9

### Steps to reproduce

[2017-10-09 13:30] magento-engcom-team commented on #5834
@Arkyden, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 13:30] #5834 closed, assigned to nobody

[2017-10-09 13:30] magento-engcom-team commented on #7200
@titus213, thank you for your report.
We've created internal ticket(s) MAGETWO-60362 to track progress on the issue.

[2017-10-09 13:30] magento-engcom-team commented on #8244
@joshspivey, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 13:30] #8244 closed, assigned to denisristic

[2017-10-09 13:30] magento-engcom-team commented on #7303
@samgranger, thank you for your report.
We've created internal ticket(s) MAGETWO-69704 to track progress on the issue.

[2017-10-09 13:30] magento-engcom-team commented on #11305
@AmannMax, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-09 13:30] #11305 closed, assigned to nobody

[2017-10-09 13:30] magento-engcom-team commented on #6861
@mverstraete, thank you for your report.
We've created internal ticket(s) MAGETWO-60465 to track progress on the issue.

[2017-10-09 13:30] magento-engcom-team commented on #10014
@mikelevy300, thank you for your report.
We've created internal ticket(s) MAGETWO-70081 to track progress on the issue.

[2017-10-09 13:30] magento-engcom-team commented on #7768
@dnadle, thank you for your report.
We've created internal ticket(s) MAGETWO-81297 to track progress on the issue.

[2017-10-09 13:30] magento-engcom-team commented on #8045
@dmanners, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-09 13:30] magento-engcom-team commented on #8073
@Danielc3, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-09 13:30] #8073 closed, assigned to nobody

[2017-10-09 13:30] magento-engcom-team commented on #8385
@CatherineLearmonth, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-09 13:30] #8385 closed, assigned to misha-kotov, magento-engcom-team

[2017-10-09 13:32] AurelienLavorel commented on #3484
Magento ver. 2.2.0-dev, since the Magento ver. 2.1.0-dev

[2017-10-09 13:33] AmaxUA opened #11312 "Search Error Magento 2 - ValidationException - Not expected Element"
This issue is about an Search error I stumbled upon when setting up a Magento ver. 2.2.0 store.  When trying to search for any string in the default frontend, I get the below described result.

### Preconditions
1. Magento Version 2.2.0 -> fresh install, some extensions installed
2. PHP 7.0.22-1~dotdeb+8.1 (cli) ( NTS ), Apache Server, MySQL DB
3. Migrated Data from Magento 1 Store with LITExtensi

[2017-10-09 13:37] Puru2016 commented on #8488
Is there any update on this as I am using Magento 2.1.2 and getting same error in checkout page

[2017-10-09 14:02] goutamgde opened #11313 "Varnish cache problem with mutli website"
### Preconditions

Magento2.1.7
PHP Version 7.0.24
MySql version 5.6.32
CentOS 6.9 (Final)
Apache
varnishd (varnish-4.0.5 revision 07eff4c29)
Copyright (c) 2006 Verdens Gang AS
Copyright (c) 2006-2014 Varnish Software AS
### Steps to reproduce

1.  Create two websites "base" and "international", each one have one one store with store view, but have the same base url
2. Enable magento2 by default F

[2017-10-09 14:03] shekhar162 commented on #4819
If you followed the doc instruction properly, then this issue can be resolve by removing
var/cache
and
var/generation folders

[2017-10-09 14:19] stevenlavine opened #11314 "Cart not clearing when session expires"
### Preconditions

1. Magento 2.4
2. PHP 7.x
3. MySQL 5.7
4. Apache 2.4
5. "Persistent Shopping Cart" is enabled

### Steps to reproduce

1. Add product to basket
2. Login - choose "remember me"
3. Leave the browser open
4. Refresh the page after some time

### Expected result

1. The customer should remain logged in
2. Or - if the session has expired, the minicart should have not any content

###

[2017-10-09 14:30] magento-engcom-team commented on #7386
@wenpingguo, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 14:30] #7386 closed, assigned to nobody

[2017-10-09 14:30] magento-engcom-team commented on #11311
@hi-rafa, thank you for your report.
We've created internal ticket(s) MAGETWO-81316 to track progress on the issue.

[2017-10-09 14:30] magento-engcom-team commented on #7927
@tomasinchoo, thank you for your report.
We've created internal ticket(s) MAGETWO-69966 to track progress on the issue.

[2017-10-09 14:30] magento-engcom-team commented on #11310
@EliasKotlyar, thank you for your report.
We've created internal ticket(s) MAGETWO-81314 to track progress on the issue.

[2017-10-09 14:30] magento-engcom-team commented on #9944
@PatrickSH, thank you for your report.
We've created internal ticket(s) MAGETWO-81311 to track progress on the issue.

[2017-10-09 14:30] magento-engcom-team commented on #7260
@samgranger, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 14:30] #7260 closed, assigned to dthampy

[2017-10-09 14:30] magento-engcom-team commented on #7194
@pronto2000, thank you for your report.
We've created internal ticket(s) MAGETWO-60255 to track progress on the issue.

[2017-10-09 14:30] magento-engcom-team commented on #10235
@arvenzis, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-09 14:30] #10235 closed, assigned to nobody

[2017-10-09 14:30] magento-engcom-team commented on #8214
@youness, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-09 14:30] #8214 closed, assigned to miakusha

[2017-10-09 14:30] magento-engcom-team commented on #8174
@gputignano, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-09 14:30] #8174 closed, assigned to nobody

[2017-10-09 14:30] magento-engcom-team commented on #6226
@eharvest, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-09 14:30] #6226 closed, assigned to victor-v-rad

[2017-10-09 14:52] magento-engcom-team commented on #5971
@springimport Thanks for the feedback. Please add more details to your description of the steps you followed when identifying this issue. Request body would be helpful, too.

[2017-10-09 15:08] duckchip commented on #11211
this issue is a result of pull request [https://github.com/magento/magento2/issues/8509] which fixes cookie redirect problems with multidomains

[2017-10-09 15:10] duckchip commented on #8509
This merge caused a new problem with the store switcher #11211

[2017-10-09 15:30] magento-engcom-team commented on #7886
@delyriand, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-09 15:30] #7886 closed, assigned to nobody

[2017-10-09 15:30] magento-engcom-team commented on #11288
@Kronmose, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-09 15:55] stevenlavine commented on #11252
Here is the UpgradeData.php The file attribute is defined on line 109.

[UpgradeData.php.txt](https://github.com/magento/magento2/files/1369118/UpgradeData.php.txt)

[2017-10-09 15:58] osrecio commented on #5439
Created PR for 2.1 and 2.2

[2017-10-09 16:11] okorshenko commented on #10355
Sure. Please accept the invitation on the GitHub

[2017-10-09 16:13] okorshenko commented on #10048
@manuelson  Sure, please, accept the invitation on the GitHub

[2017-10-09 16:15] okorshenko commented on #10679
Hi @crissanclick could you please accept the invitation on GitHub?

[2017-10-09 16:17] okorshenko commented on #7075
Hi @michielgerritsen thank you for research. We will double check this

[2017-10-09 16:19] southerncomputer commented on #8777
The ClassyLlama patch can cause a loop to occur if you've modified your reloading of payment upon Billing Address change in One Step Checkout! Be careful!

[2017-10-09 16:19] okorshenko commented on #10893
Hi @patrikpihlstrom could you please accept the invitation on GitHub?

[2017-10-09 16:24] okorshenko commented on #10479
Hi @eswolters thank you for research.
Closing this issue since it is already fixed in 2.2.0

[2017-10-09 16:24] #10479 closed, assigned to nobody

[2017-10-09 16:27] southerncomputer commented on #11313
https://inviqa.com/blog/how-full-page-cache-works-magento-2

check out GETVARYSTRING and the resultant SHA1 to varnish @ https://github.com/magento/magento2/blob/2.1/lib/internal/Magento/Framework/App/Http/Context.php

This is what tells varnish how to differentiate between normal not-logged in user, and say different storesite/different currency. You either need to bring your INTERNATIONAL into t

[2017-10-09 16:30] magento-engcom-team commented on #11314
@stevenlavine, thank you for your report.
We've created internal ticket(s) MAGETWO-72402 to track progress on the issue.

[2017-10-09 16:42] okorshenko commented on #5105
Assign to @michielgerritsen

[2017-10-09 16:55] sippsolutions commented on #7118
Hi @magento-engcom-team, try to not choose a CMS Page in the first step in your video and you will see that the second widget will not be inserted.

[2017-10-09 16:57] Bikermanirl commented on #2391
It would be nice if the message at the end of the setup stated what the command was. Or if not, somebody posted a link to how to do it on this thread.

[2017-10-09 17:07] EmilyPepperman commented on #9515
I have this same issue. Just had a new South Korean customer try and place an order.

[2017-10-09 18:00] tdgroot opened #11318 "Feature: extra arguments for setup:config:set"
### Preconditions
1. Imported Magento 2.2 environment

### Steps to reproduce

1. Import database from production backup
2. Download/copy/sync `app/etc/config.php` from production
3. Set deployment config to your environment using `bin/magento setup:config:set`
4. Run `bin/magento setup:upgrade`
4. Go to your webserver and it'll tell you that the environment is not installed yet.

### Expected res

[2017-10-09 18:05] Nix-id commented on #8084
Some magic for method appendXML()

in file /var/www/html/vendor/magento/framework/View/TemplateEngine/Xhtml/Template.php
method public function append($content)

must be changed to:

		$target=$this->templateNode->ownerDocument;

		$source = new \DOMDocument();
		$source->loadXml($content, LIBXML_PARSEHUGE);

		$this->templateNode->appendChild(
			$target->importNode($source->documentElement, TRUE

[2017-10-09 18:12] marinagociu commented on #10502
I'm working on it #SQUASHTOBERFEST

[2017-10-09 18:26] manuelson commented on #10048
@okorshenko done :)

[2017-10-09 18:26] manuelson commented on #10355
@okorshenko done!

[2017-10-09 18:30] magento-engcom-team commented on #9909
@rbostan, thank you for your report.
We've created internal ticket(s) MAGETWO-70429 to track progress on the issue.

[2017-10-09 18:59] galanis-a commented on #11301
This is something you wrote? Because a i can't find this in the Magento 2 code.

[2017-10-09 19:26] #10780 closed, assigned to strell

[2017-10-09 19:40] magento-engcom-team commented on #10646
@andidhouse, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-09 19:40] #10646 closed, assigned to magento-engcom-team

[2017-10-09 19:59] orlangur commented on #10501
Why would someone ever use it in normal circumstances? it can be simply stripped or validated so that you cannot save such character combination.

[2017-10-09 20:14] EstebanAorta commented on #5247
**# Try using different browser. Somehow it doesn't work in Chrome.**

[2017-10-09 20:16] kytan91 commented on #7298
any solution?

[2017-10-09 20:25] lano-vargas commented on #11275
@magento-engcom-team the "continuous-integration/travis-ci/pr" has errored with

ref: https://travis-ci.org/magento/magento2/jobs/285215690

Please advice what to do next.
Thanks.

[2017-10-09 20:27] okorshenko commented on #11015
Hi @technweb
Thank you for the update. The issue has been added to #SQUASHTOBERFEST program to speed up the fix

[2017-10-09 20:29] dinkeronline commented on #7265
@joni-jones what if transact.dll doesn't appear in Network Console?
same as @mvaisberg shown

![ec3881e6-a116-11e6-828f-06a66ee00d31](https://user-images.githubusercontent.com/4199068/31357226-78bce1c6-ad5e-11e7-9236-32bd8148c1b4.png)

[2017-10-09 20:40] hostep commented on #10501
Perhaps someone wants to show a dollar currency symbol in front of a value which comes from a variable?

Other proposed solution: put add a 'zero width space' character (U+200B) in between them, or maybe even better a 'word joiner' character (U+2060), see: https://en.wikipedia.org/wiki/Whitespace_character#Unicode

Just tested the two above solutions, using a 'zero width space' character still fai

[2017-10-09 21:54] Skullsneeze commented on #10501
I've noticed that this not only goes for cms pages / block, but actually affects all text fields (product names, category titles, etc.) A solution like @hostep supplied might be a fix. I was currently working on a "global" validator that would notify the user that the "${" character combination is not allowed, but I'm thinking the fix mentioned before might be a better solution, since it still all

[2017-10-09 22:23] slackerzz commented on #10501
I was thinking about substituting `$` with `&#36;` which is the corresponding HTML Entity but the solution proposed by @hostep  seems better.

[2017-10-09 22:27] orlangur commented on #10501
Does template syntax like `${something}` WITHOUT backticks makes some sense actually?

According to https://github.com/magento/magento2/blob/2.2-develop/lib/web/mage/utils/template.js#L23 and https://lukehaas.me/articles/es6-in-a-nutshell/ it looks like not.

Thus proper fix should be applied to https://github.com/magento/magento2/blob/2.2-develop/lib/web/mage/utils/template.js#L79 so that it chec

[2017-10-09 23:21] pmcmanaman opened #11322 "User.ini files specify 768M - Docs recommend at least 1G"
### Preconditions

1. Magento 2.2 and PHP-FPM

### Steps to reproduce

1. The .user.ini files at /.user.ini and /pub/.user.ini have memory_limit = 768M
2. Magento documentation ( http://devdocs.magento.com/guides/v2.2/install-gde/trouble/php/tshoot_php-set.html ) recommned 1GB for normal use or at least 2GB for debugging.

### Expected result

1. For values specified in files to match the document

[2017-10-09 23:22] slackerzz commented on #10501
Yes, `${something}` is largely used in magento js without backticks.

This are not real ES6 template literals:
- https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Ui/view/base/web/js/grid/data-storage.js#L23
- https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/AdminNotification/view/adminhtml/web/js/grid/listing.js#L19
- ...and many more

`hasStringTmpls` at

[2017-10-10 02:27] brobie commented on #9931
I'm working on it #SQUASHTOBERFEST

[2017-10-10 03:25] brobie commented on #9931
PHP: PHP 7.0.15-1+deb.sury.org~xenial+1 (cli) (built: Jan 20 2017 08:53:13) ( NTS )
Magento: 2.2.1-dev

When importing the attached CSV, everything is working as expected:

[product_import.csv.zip](https://github.com/magento/magento2/files/1370489/product_import.csv.zip)

![image](https://user-images.githubusercontent.com/213990/31367988-721a428c-ad40-11e7-8777-a570b2298743.png)

![image](https://

[2017-10-10 05:01] andrewkett opened #11324 "Updating a product via the REST API assigns it to all websites automatically."
Updating a product via the REST API using `PUT /rest/all/V1/products/example_sku` assigns it to all websites automatically.

Possibly a duplicate of https://github.com/magento/magento2/issues/10495

### Preconditions
1. Magento 2.2.0 CE (upgraded from 2.1.9)
2. PHP 7.0.20
3. MYSQL 5.7.17
4. NGINX

### Steps to reproduce
1. Remove a product from all websites in admin
2. `GET V1/products/example_sku

[2017-10-10 05:14] esimov commented on #11301
Yes, i specified that these are custom attributes associated to the customer_address. The idea is that, before Magento 2.2.0 this worked as expected, so the custom attribute was not visible on backed.

[2017-10-10 05:19] UrbanSurfers commented on #7038
Same here with 2.1.9 and Braintree. Clearing cache, running cron jobs have no effect.
Sorting sales by date is the only way I can see new orders.
I come from a 1.7.0.2 using migration tools.

[2017-10-10 05:36] jahvi commented on #10860
I can have a look if that's ok, trying to do my part for SWASHTOBERFEST 🙂

[2017-10-10 06:01] bondimedical3 commented on #5231
I have tried to change the page title of the Contacts page on Magento 2.2 with XML and it still not working. This issue has been open for over 1 year. When is it going to be fixed?

[2017-10-10 06:30] magento-engcom-team commented on #10234
@ravibhalodia, thank you for your report.
We've created internal ticket(s) MAGETWO-70700 to track progress on the issue.

[2017-10-10 06:30] magento-engcom-team commented on #7118
@sippsolutions, thank you for your report.
We've created internal ticket(s) MAGETWO-60413 to track progress on the issue.

[2017-10-10 06:50] hi-rafa commented on #11311
Would it be ok to redirect the user to the Sign in page?
This behavior should be apply to all the magento2 admin panel sections where this issue occurs right?

[2017-10-10 06:53] ankursachdeva11 opened #11325 "Error while submitting Extension to Magento"
We have extension released in Magento with 1.3.1 version.

Now we are trying to Upload new extension with version 1.3.2

This is our composer.json
{
  "name": "celigo/magento2-netsuite-connector",
  "description": "A Magento 2 module for Celigo Magento2 NetSuite Connector",
  "type": "magento2-module",
  "version": "1.3.2",
  "license": [

  ],
  "require": {
    "php": "~5.6.5|7.0.2|7.0.4|~7.0.6"

[2017-10-10 07:02] orlangur commented on #10501
True, too bad ES6 templates are not integrated natively and it cannot be even fixed easily due to BC constraints.

I like approach suggested by @hostep more as well, let's go this way, will do a full code review now.

[2017-10-10 07:23] waqarriaz commented on #5948
its only work on swatches icons not on dropdown

[2017-10-10 07:30] magento-engcom-team commented on #5785
@ADDISON74, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-10 07:30] magento-engcom-team commented on #7095
@hezide, thank you for your report.
We've created internal ticket(s) MAGETWO-59977 to track progress on the issue.

[2017-10-10 07:30] magento-engcom-team commented on #6578
@heldchen, thank you for your report.
We've created internal ticket(s) MAGETWO-81350 to track progress on the issue.

[2017-10-10 07:56] angelo983 opened #11326 "SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock catalogrule_product_price"
Error in reindexing process by schedule

### Preconditions
1. Magento 2.1.7

### Steps to reproduce
1. I created new 5 catalog price rules and deactivated others 15.

### Expected result

1. Scheduled reindex going on and discounted prices shown

### Actual result
1. After some days reindex started to crash continuosly and I found the error (see under) in log and I have inspected the table finding

[2017-10-10 08:08] magento-engcom-team commented on #11247
@wintermute-84 We cannot reproduce this issue as described. Please provide the detailed steps we must follow to reproduce this issue. In addition, what payment method do you use, and any other information needed to reproduce your issue.

[2017-10-10 08:09] basselalaraaj commented on #8084
Same here in the customer grid, im on magento 2.1.8

[2017-10-10 08:16] ankursachdeva11 commented on #11325
I have again submitted extension.

Now i got this issue

Command: composer require celigo/magento2-netsuite-connector:1.3.2'
Installation issue: Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operations: 1 install, 0 updates, 0 removals
- Installing celigo/magento2-netsuite-connector (1.3.2): Downloading (connecting...)

[2017-10-10 08:30] magento-engcom-team commented on #9682
@matthewhaworth, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-10 08:30] #9682 closed, assigned to nobody

[2017-10-10 08:30] magento-engcom-team commented on #2229
@shu1313, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-10 08:30] #2229 closed

[2017-10-10 08:30] magento-engcom-team commented on #6263
@Snowball678, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-10 08:30] #6263 closed, assigned to nobody

[2017-10-10 08:30] magento-engcom-team commented on #7080
@qbo-tech, thank you for your report.
We've created internal ticket(s) MAGETWO-60619 to track progress on the issue.

[2017-10-10 08:30] magento-engcom-team commented on #7467
@marcel-moldovan-vm, thank you for your report.
We've created internal ticket(s) MAGETWO-81366 to track progress on the issue.

[2017-10-10 08:30] magento-engcom-team commented on #8099
@careys7, thank you for your report.
We've created internal ticket(s) MAGETWO-58841 to track progress on the issue.

[2017-10-10 08:30] magento-engcom-team commented on #8136
@ericrisler, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-10 08:30] #8136 closed, assigned to magento-engcom-team

[2017-10-10 08:30] magento-engcom-team commented on #8179
@maximehuran, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-10 08:30] #8179 closed, assigned to magento-engcom-team

[2017-10-10 08:30] magento-engcom-team commented on #8199
@ziliquas, thank you for your report.
We've created internal ticket(s) MAGETWO-81370 to track progress on the issue.

[2017-10-10 08:30] magento-engcom-team commented on #9768
@poojawebkul, thank you for your report.
We've created internal ticket(s) MAGETWO-81371 to track progress on the issue.

[2017-10-10 08:30] magento-engcom-team commented on #9862
@royvanos, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-10 08:30] #9862 closed, assigned to nobody

[2017-10-10 08:30] magento-engcom-team commented on #6378
@farior, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-10 08:30] #6378 closed, assigned to nobody

[2017-10-10 08:30] magento-engcom-team commented on #8239
@patrickdesroches, thank you for your report.
We've created internal ticket(s) MAGETWO-81373 to track progress on the issue.

[2017-10-10 08:50] attilai commented on #11278
@orlangur Unfortunately, the proposed solution to the problem has already been applied by the vendor of the extension "Magestore" and doesn't solve the problem. https://goo.gl/mAEk2A

[2017-10-10 09:03] vajor-saurabh commented on #6445
Hello,
I have query when we signup new customer then i getting unsubscribed newsleetr mail.. I am using 2.1.5 version ... please let me know what i do ..?

[2017-10-10 09:04] eharvest commented on #9441
I have put my site into maintenance mode and I still couldn't remove var/generation/Magento for these folders:
Backend
Config
Framework
Store
Translation
Since I upgrade from 2.1.0 to 2.1.9 I experienced some strange issues and this is one of them.

[2017-10-10 09:07] orlangur commented on #11278
@attilai I'm more interested in browser-specific fix attempt:

So, if it solves the problem we can get steps reproducible for core

1. Screw browser configuration
2. Observe fatal error on site

[2017-10-10 09:10] escounpo commented on #8122
and for summary rating? how can i do to change in available?

[2017-10-10 09:13] poojawebkul commented on #9768
@magento-engcom-team , thanks for the notification, but issue still exists on latest version 2.2.0. Thanks again for your concern.

[2017-10-10 09:19] dverkade commented on #11236
Which icon is the correct one for the extension manager? The one on main part of the page, or the one in the menu at the left side of the screen?

[2017-10-10 09:23] AlexanderHuyghebaert commented on #9505
@magento-engcom-team : can you let us know where this has been fixed? Closing without reaction or helping people on 2.1.x is not what we want. It seems that you close all issues with saying: it's fixed in 2.2.x ...

[2017-10-10 09:26] LSERRE commented on #9861
I can confirm this issue on 2.2.0

[2017-10-10 09:30] magento-engcom-team commented on #7245
@kandrejevs, thank you for your report.
We've created internal ticket(s) MAGETWO-81385 to track progress on the issue.

[2017-10-10 09:30] magento-engcom-team commented on #7436
@davidverholen, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-10 09:30] #7436 closed, assigned to nobody

[2017-10-10 09:30] magento-engcom-team commented on #2173
@rodrigowebjump, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-10 09:30] #2173 closed

[2017-10-10 09:30] magento-engcom-team commented on #6208
@blizam, thank you for your report.
We've created internal ticket(s) MAGETWO-57630 to track progress on the issue.

[2017-10-10 09:30] magento-engcom-team commented on #7970
@rohit-prjpt, thank you for your report.
We've created internal ticket(s) MAGETWO-70596 to track progress on the issue.

[2017-10-10 09:51] magento-engcom-team commented on #11119
@koopjesboom Thanks for reporting this issue.
Unfortunately, I could not reproduce the issue as you described it.
Could you please share data rows from table `tax_calculation_rate` (maybe csv file).

[2017-10-10 09:52] gulshan-streammarket opened #11328 "app:config:dump adds extra space every time in multiline array value"
### Preconditions

1. php 7.0.19
2. Magento 2.2

### Steps to reproduce

1. RUN > php bin/magento app:config:dump
2. Search for 'address_templates' key in config.php and count number of spacees in every line of formatted multiline text value.
3. Now run  again>php bin/magento app:config:dump
4. Again check for number of spaces. You will find two more space.
5. Every time when we dump of execute se

[2017-10-10 09:56] tcurilla opened #11329 "Unable to proceed massaction "Update attributes" with required multiple select attribute"
### Preconditions

1. Magento ver. 2.2.0
2. PHP 7.0.24

### Steps to reproduce

1. clean install
2. create product attribute Multiple Select with id "test_multiselect" and set required values to true
3. fill some options values
4. create product with previously created multiple select attribute
5. save product
6. In  Adminhtml -> Catalog -> Products grid select product and do massaction "Update at

[2017-10-10 09:56] rehoehle opened #11330 "TinyMCE adds id after image url and break image path"
### Preconditions
1. PHP 7.0.22
2. Magento 2.1.7

### Steps to reproduce

We could reproduce the problem now. I've added some screenshots with steps.

The link after inserting the image looks like this:

`<img src="{{media url="wysiwyg/media/171xxxxxx.JPG"}}id/3/" width="531" height="275" />`

so the "id/3/" is added after the src and break the url. If you delete it it's working again. Does anyone

[2017-10-10 10:01] stevenlavine opened #11331 "Knockout.js getCountryNam() returning nothing"
### Preconditions

1. Magento 2.1.9
2. MySQL 5.7
3. PHP 7.x
4. Apache 2.4

### Steps to reproduce

1. Add product to basket
2. Go to checkout
3. Proceed as guest
4. Enter shipping address
5. Click Next

### Expected result

1. Ship to should show full address including country
2. Billing address (within payment method) should show country

### Actual result

1. No country displayed in address

![i

[2017-10-10 10:29] selusi opened #11332 "How to Fix the wrong input format of Customer date of birth"
### Preconditions
1. PHP 7.0.22
2. MySql 5.7
3. Apache 2.4
4. Magento 2.2.0

### Steps to reproduce
1. Login to frontend
2. Edit Customer information

### Expected result
1. The year of birth date should be in the format: yyyy.

### Actual result
1. The actual format is yy

### To fix the issue
To solve the issue have to modify the file:
vendor\magento\module-customer\Block\Widget\Dob.php
Actually

[2017-10-10 10:30] magento-engcom-team commented on #7213
@boldhedgehog, thank you for your report.
We've created internal ticket(s) MAGETWO-81390 to track progress on the issue.

[2017-10-10 10:30] magento-engcom-team commented on #9331
@JoshuaSoileau, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-10 10:30] #9331 closed, assigned to nobody

[2017-10-10 10:30] magento-engcom-team commented on #8004
@chm1975, thank you for your report.
We've created internal ticket(s) MAGETWO-81393 to track progress on the issue.

[2017-10-10 10:33] magento-engcom-team commented on #11331
Unfortunately, I could not reproduce the issue as you described it.

[2017-10-10 10:34] ParimalMakwana commented on #5427
Need to re-open as we are facing the same issue on Magento ver. 2.1.4

[2017-10-10 10:41] fitao opened #11333 "V1/carts/{cartId}/billing-address parameter "useForShipping" never used"
### Preconditions

1. Magento EE 2.1.7
2. PHP 7.0.12
3. Mysql Ver 14.14 Distrib 5.6.33-79.0, for Linux (x86_64) using 6.2

### Steps to reproduce

1.  Send a request to the REST endpoint V1/carts/{cartId}/billing-address using the payload below
`{
  "address": {
    "id": 1,
    "region": "ee",
    "region_id": 1,
    "region_code": "eee",
    "country_id": "FR",
    "street": [
      "string"

[2017-10-10 10:43] orlangur commented on #9984
@magento-engcom-team could you please recheck this issue taking into account the information provided?

[2017-10-10 11:14] Techytt opened #11334 "Adding Product To Compare not working"
Steps to reproduce

Install Magento 2.0.x or 2.1.
Add a product to compare.
Expected result

Product should be added to compare.
Actual result

Product can't be added to compare.
Compare button only works after adding any product to cart
If you test this bug, you should clear all cookies on Magento site.

[2017-10-10 11:30] franckgarnier21 opened #11336 "Cannot refund with Refund Shipping > 0 when the order shipping amount = 0"
### Preconditions
1. Magento 2.1.9 (same code on Magento 2.2 dev)
2. Redis + Varnish + Mysql 5.6 + PHP 7 + ElasticSearch (it is not related to these stacks)

### Steps to reproduce
1. Create an order with shipping amount = 0 but where the total amount > 0
2. Create the invoice and capture with braintree for example the order amount
3. Create a credit memo with Refund Shipping > 0 , 1 for example
4

[2017-10-10 11:30] magento-engcom-team commented on #6456
@heldchen, thank you for your report.
We've created internal ticket(s) MAGETWO-58142 to track progress on the issue.

[2017-10-10 11:30] magento-engcom-team commented on #6955
@shahankitb997, thank you for your report.
We've created internal ticket(s) MAGETWO-69947 to track progress on the issue.

[2017-10-10 11:30] magento-engcom-team commented on #11333
@fitao, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-10 11:30] #11333 closed, assigned to nobody

[2017-10-10 11:30] magento-engcom-team commented on #5674
@Whaaaaat, thank you for your report.
We've created internal ticket(s) MAGETWO-56474 to track progress on the issue.

[2017-10-10 11:30] magento-engcom-team commented on #11328
@gulshan-streammarket, thank you for your report.
We've created internal ticket(s) MAGETWO-81401 to track progress on the issue.

[2017-10-10 11:30] magento-engcom-team commented on #7136
@sharmashashank342, thank you for your report.
We've created internal ticket(s) MAGETWO-70328 to track progress on the issue.

[2017-10-10 11:30] magento-engcom-team commented on #5686
@ToshiroMifune, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-10 11:30] #5686 closed, assigned to nobody

[2017-10-10 11:30] magento-engcom-team commented on #6450
@janepoltoratskaya, thank you for your report.
We've created internal ticket(s) MAGETWO-57996 to track progress on the issue.

[2017-10-10 11:30] magento-engcom-team commented on #11329
@tcurilla, thank you for your report.
We've created internal ticket(s) MAGETWO-81398 to track progress on the issue.

[2017-10-10 11:30] magento-engcom-team commented on #11331
@stevenlavine, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-10 11:30] #11331 closed, assigned to nobody

[2017-10-10 11:30] magento-engcom-team commented on #6120
@dnadle, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-10 11:30] #6120 closed, assigned to misha-kotov

[2017-10-10 11:30] magento-engcom-team commented on #9369
@thdoan, thank you for your report.
We've created internal ticket(s) MAGETWO-70344 to track progress on the issue.

[2017-10-10 11:30] magento-engcom-team commented on #9666
@jsdupuis, thank you for your report.
We've created internal ticket(s) MAGETWO-70209 to track progress on the issue.

[2017-10-10 11:30] magento-engcom-team commented on #10154
@angelo983, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-10 11:30] #10154 closed, assigned to alena-marchenko

[2017-10-10 11:30] magento-engcom-team commented on #11262
@pemacviper, thank you for your report.
We've created internal ticket(s) MAGETWO-81407 to track progress on the issue.

[2017-10-10 11:30] magento-engcom-team commented on #10735
@netzkollektiv, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-10 11:30] #10735 closed, assigned to magento-engcom-team

[2017-10-10 11:34] netzkollektiv commented on #10735
Is this issue fixed? If not, why did you close it?

The steps are clear easy follow.
Even without reproducing this should be clear for a developer.

[2017-10-10 11:35] kp-drc commented on #9666
@magento-engcom-team  Please check same for arabic too as I am facing same issue.

[2017-10-10 11:42] gulshan-streammarket commented on #11328
Thank You. I will be waiting for fix.

[2017-10-10 11:44] lano-vargas commented on #11275
@okorshenko Could you please restart build/trigger as mentioned here:https://stackoverflow.com/questions/17606874/trigger-a-travis-ci-rebuild-without-pushing-a-commit
Appreciate.

[2017-10-10 11:52] thiagolima-bm commented on #11211
Hey @okorshenko PR #11337

[2017-10-10 11:53] goutamgde commented on #11313
Hi,
Thank you for your reply. I temporarily modify vendor/magento/framework/App/Http::getVaryString() function as below:
public function getVaryString()
    {
        \Magento\Framework\App\ObjectManager::getInstance()->get('\Psr\Log\LoggerInterface')->emergency('vary-string:' . implode(',', $this->data));
        $data = $this->getData();
        if (!empty($data)) {
            ksort($data);

\M

[2017-10-10 12:12] orlangur commented on #11336
Is it a valid scenario? Refund Shipping may be an arbitrary number in real world?

[2017-10-10 12:13] orlangur commented on #11334
Please perform some investigation on your side and provide additional details.

On http://magento2-demo.nexcess.net/women/tops-women/hoodies-and-sweatshirts-women.html you may assure that Add to Compare works just fine.

[2017-10-10 12:17] orlangur commented on #11275
@lano-vargas restarted, main CI source of truth is Bamboo runned internally, I'll let you know if there will be some issues revealed.

[2017-10-10 12:22] rehoehle commented on #11330
@magento-engcom-team I've updated the complete steps and we could reproduce the error.

[2017-10-10 12:24] basselalaraaj commented on #8084
i dont agree with the provided fixes, we should limit the collection and work with page sizes. Else its a matter of time before we run out of memory limits, time after time.

[2017-10-10 12:25] franckgarnier21 commented on #11336
It is a valid scenario because Magento allows this. At least the field should be disabled.

However, how do you manage the return shipping cost on a creditmemo.

Thanks,

[2017-10-10 12:28] tkacheva commented on #4934
Please refer to the user guide http://docs.magento.com/m2/ee/user_guide/catalog/product-price-group.html

[2017-10-10 12:28] #4934 closed, assigned to nobody

[2017-10-10 12:30] magento-engcom-team commented on #8770
@cherreman, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-10 12:30] #8770 closed, assigned to nobody

[2017-10-10 12:30] magento-engcom-team commented on #7760
@kanduvisla, thank you for your report.
We've created internal ticket(s) MAGETWO-62508 to track progress on the issue.

[2017-10-10 12:30] magento-engcom-team commented on #7627
@xi-ao, thank you for your report.
We've created internal ticket(s) MAGETWO-69958 to track progress on the issue.

[2017-10-10 12:30] magento-engcom-team commented on #5645
@j1nx3d, thank you for your report.
We've created internal ticket(s) MAGETWO-70455 to track progress on the issue.

[2017-10-10 12:30] magento-engcom-team commented on #7842
@reijervano, thank you for your report.
We've created internal ticket(s) MAGETWO-73621 to track progress on the issue.

[2017-10-10 12:30] magento-engcom-team commented on #6953
@HellgaM, thank you for your report.
We've created internal ticket(s) MAGETWO-81419 to track progress on the issue.

[2017-10-10 12:30] magento-engcom-team commented on #6362
@lgarridoj, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-10 12:30] #6362 closed, assigned to nobody

[2017-10-10 12:30] magento-engcom-team commented on #11295
@ajpevers, thank you for your report.
We've created internal ticket(s) MAGETWO-81420 to track progress on the issue.

[2017-10-10 12:30] magento-engcom-team commented on #9846
@magento2developer, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-10 12:30] #9846 closed, assigned to nobody

[2017-10-10 12:30] magento-engcom-team commented on #11324
@andrewkett, thank you for your report.
We've created internal ticket(s) MAGETWO-81413 to track progress on the issue.

[2017-10-10 12:35] orlangur commented on #11336
Nope.

My point is - whether we must validate `Shipping Amount <= Refund Shipping` or sometimes we really need shipping refund in case of free shipping?

[2017-10-10 12:39] K-Projects opened #11338 "Admin url not found - Magento 2.2"
After running the setup wizard for Magento 2.2, it's not possible to go to the admin login page.

Steps to reproduce
1. Download Magento 2.2 from github
2. Run composer install in root folder Magento project
3. Run setup wizard -> set admin url to "admin"
4. Go to the admin url (magento-project.com/admin)

Expected result
1. Show the login screen for the admin.

Actual result

![screen shot 2017-1

[2017-10-10 13:01] mritu19 opened #11339 "Magento2.2.0 :: Child categories Product not coming in frontend and configurable price is not editable"
Hi @magento-engcom-team

I am working on M2.2.0 and have successfully migrated M1.9.1.0 data. But Unfortunately I have the same Problem, I am not able to see any product under category. However, I am able to search the all migrated products and respected product detail page.

Preconditions

Magento 2.2.0

**Steps to reproduce**

Products is already assigned to categories and subcategories (After d

[2017-10-10 13:05] magento-engcom-team commented on #9245
Description updated.

[2017-10-10 13:08] slavkodick commented on #10737
It seems that's the same problem as #10707, could you leave the issue open until it's solved?

[2017-10-10 13:12] orlangur commented on #10737
@slavkodick why keep two issues for the same problem open?

[2017-10-10 13:17] Otatti opened #11340 "Unable to run commands using SSH magento 2.2.0"
Hi everyone. I was using magento 2.1.8. My intention was to upgrade to 2.2.0 but i didnt want to update directly. So i upgraded to magento 2.1.9 through the admin set up first. The upgrade was smooth and fast. I then decided to go for 2.2.0 but the upgrade failed and thats where my problem began. I attemped a rollback but it didnt work. My site was now inaccesible from the front end and the admin.

[2017-10-10 13:24] kkrieger85 commented on #8084
@Nix-id @basselalaraaj did you try Version 2.2.x?

[2017-10-10 13:29] AmastyLtd-zz opened #11341 "Attribute category_ids issue"
Preconditions

1. Magento 2.2.0 EE.
2. PHP 7.0

Steps to reproduce

1. Enable developer mode.
2. Go to Admin->Stores->Attributes->Product (https://screen.amasty.com/1507615065816.png)
3. Find attribute category_ids
4. Go to Storefront Properties in this attribute
5. Enable Visible on Catalog Pages on Storefront https://screen.amasty.com/1507615274284.png
6. Go to product page on front and take thi

[2017-10-10 13:30] magento-engcom-team commented on #7895
@steros, thank you for your report.
We've created internal ticket(s) MAGETWO-81440 to track progress on the issue.

[2017-10-10 13:30] magento-engcom-team commented on #9418
@lojasmarques, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-10 13:30] magento-engcom-team commented on #8585
@mhauri, thank you for your report.
We've created internal ticket(s) MAGETWO-60631 to track progress on the issue.

[2017-10-10 13:30] magento-engcom-team commented on #7831
@georgios-2317, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-10 13:30] magento-engcom-team commented on #8141
@ytorbyk, thank you for your report.
We've created internal ticket(s) MAGETWO-81439 to track progress on the issue.

[2017-10-10 13:30] magento-engcom-team commented on #11336
@franckgarnier21, thank you for your report.
We've created internal ticket(s) MAGETWO-81441 to track progress on the issue.

[2017-10-10 13:30] magento-engcom-team commented on #7171
@rbostan, thank you for your report.
We've created internal ticket(s) MAGETWO-63840 to track progress on the issue.

[2017-10-10 13:30] magento-engcom-team commented on #8126
@boldhedgehog, thank you for your report.
We've created internal ticket(s) MAGETWO-81442 to track progress on the issue.

[2017-10-10 13:30] magento-engcom-team commented on #9741
@PauleHan, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-10 13:30] #9741 closed, assigned to nobody

[2017-10-10 13:34] ParimalMakwana commented on #5427
Finally resolved an
![cache-issue](https://user-images.githubusercontent.com/23012268/31389152-ca2785f4-aded-11e7-8a50-6696716e9c6a.png)
issue for me:
I have unselected system value for Magento cache configuration setting.
See attached screenshot for reference.

[2017-10-10 13:37] denisristic commented on #11310
I'm working on it #SQUASHTOBERFEST

[2017-10-10 13:44] franklinvvidal commented on #2999
On windows i use [Bitnami](bitnami.com).

[2017-10-10 13:50] GuerrillaCoder commented on #10499
I tried updating the layout and have billing agreements set to YES but paypal is not showing as an option.  I upgraded to 2.1.9 but still same issue.

What can I do?

[2017-10-10 14:01] stevenlavine commented on #11252
Here is the extension code

[Customer.zip](https://github.com/magento/magento2/files/1372160/Customer.zip)

[2017-10-10 14:02] mtpbold opened #11343 "Search term in admin grid column filter is replaced with unicode characters"
Search term in admin grid column filter is replaced with unicode characters. This happens in attribute set and attribute grid.

### Preconditions

Magento 2.2
PHP 7.0
Mysql 5.7
Attributes (attribute sets) with numeric codes

### Steps to reproduce

Go to Attribute Set grid in Admin Panel and try to filter by name. Type one digit in the filter and change sorting direction.

### Expected result

Do

[2017-10-10 14:09] Tonop opened #11344 "Magento 2.1.9 Indexer. Catalog Product Flat indexing Error"
### Preconditions

Magento: 2.1.9
PHP: 5.6.26
MySQL: 14.14 Distrib 5.7.15

### Steps to reproduce

1. php bin/magento indexer:reindex
2.
3.

### Expected result

1. No errors,
2. Catalog Product Flat Data has been rebuild successfull

### Actual result

1. Catalog Product Flat Data error
2. Log:
Design Config Grid index has been rebuilt successfully in 00:00:00
Customer Grid index has been rebuilt

[2017-10-10 14:17] ishakhsuvarov commented on #10860
Hi @jahvi
Please accept the github team invitation (in email or GitHub UI) so that we could assign this ticket to you. Thanks.

[2017-10-10 14:20] orlangur commented on #2999
Same situation as https://github.com/magento/magento2/issues/1726#issuecomment-335011730.

Such kind of issue, especially related to unsupported OS, are out of scope for this repo.

[2017-10-10 14:24] southerncomputer commented on #11313
Are the users logged in? Have they received their cookie for X-MAGENTO-VARY?
clear your browser cache and cookies and try to map out each step.
1st visit -? do they get cookies? X-MAGENTO-VARY? when?
2nd Visit -? dittoy
Change store - clear cookies/cache - repeat ?

[2017-10-10 14:30] magento-engcom-team commented on #7462
@jhbowser, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-10 14:30] #7462 closed, assigned to nobody

[2017-10-10 14:30] magento-engcom-team commented on #7691
@koenner01, thank you for your report.
We've created internal ticket(s) MAGETWO-81448 to track progress on the issue.

[2017-10-10 14:30] magento-engcom-team commented on #11332
@selusi, thank you for your report.
We've created internal ticket(s) MAGETWO-81452 to track progress on the issue.

[2017-10-10 14:30] magento-engcom-team commented on #7513
@maximbaibakov, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-10 14:30] #7513 closed, assigned to nobody

[2017-10-10 14:30] magento-engcom-team commented on #5937
@vigoss-ru, thank you for your report.
We've created internal ticket(s) MAGETWO-70501, MAGETWO-81449 to track progress on the issue.

[2017-10-10 14:30] magento-engcom-team commented on #9379
@cdiacon, thank you for your report.
We've created internal ticket(s) MAGETWO-81446 to track progress on the issue.

[2017-10-10 14:30] magento-engcom-team commented on #9248
@PascalBrouwers, thank you for your report.
We've created internal ticket(s) MAGETWO-81455 to track progress on the issue.

[2017-10-10 14:58] orlangur commented on #11344
There is nothing to fix here from Magento side, you need to setup MySQL properly for the needs of your particular store. Here is some insight: https://serverfault.com/questions/326836/issue-with-maximum-row-size-in-mysql/326870

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

[2017-10-10 14:58] #11344 closed, assigned to nobody

[2017-10-10 15:02] orlangur commented on #11341
This is clearly store misconfiguration and not a bug. `E_NOTICE` will not be displayed to end user.

[2017-10-10 15:04] orlangur commented on #11340
You need to upgrade PHP to version 7.0 or higher as PHP 5.x support was dropped in Magento 2.2.

[2017-10-10 15:11] manuelson commented on #11332
Can i work in this issue? Thanks!

[2017-10-10 15:14] ebaschiera opened #11347 "Payment Failed Email not working as intended"
According to [documentation](http://docs.magento.com/m2/ce/user_guide/sales/checkout-payment-failed-emails.html), an email should be sent "if the payment method that is chosen during checkout fails to complete the transaction."

Looking at the code, the `sendPaymentFailedEmail()` method is called only in `Magento\Multishipping\Controller\Checkout\OverviewPost` class and in `Magento\Checkout\Contro

[2017-10-10 15:23] JeroenVanLeusden commented on #11207
@okobchenko How you want to see this fixed? Maybe I can give it a go.

I can implement the solution I have right now and only add the first found comment in the email or combine all comments into one message.

[2017-10-10 15:30] magento-engcom-team commented on #11343
@mtpbold, thank you for your report.
We've created internal ticket(s) MAGETWO-81460 to track progress on the issue.

[2017-10-10 15:30] magento-engcom-team commented on #7127
@redelschaap, thank you for your report.
We've created internal ticket(s) MAGETWO-81462 to track progress on the issue.

[2017-10-10 15:30] magento-engcom-team commented on #9245
@tipofloe, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-10 15:30] #9245 closed, assigned to nobody

[2017-10-10 15:30] magento-engcom-team commented on #6750
@paales, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-10 15:30] #6750 closed, assigned to nobody

[2017-10-10 15:30] magento-engcom-team commented on #5876
@akamura, thank you for your report.
We've created internal ticket(s) MAGETWO-58213 to track progress on the issue.

[2017-10-10 15:42] scholtz opened #11350 "Infinite redirect issue when switching to https"
### Preconditions

1. Magento 2.2, Magento 2.3-dev
2. Any version of PHP
3. Webserver that supports Strict-Transport-Security

### Steps to reproduce
1. Install magento using only http
2. Set up HTTPS on webserver
3. Test webserver address
4. Go to magento administration

### Expected result
1. Magento login screen is displayed

### Actual result
1. Infinite redirect loop

It is because webserver

[2017-10-10 15:44] Otatti commented on #11340
Thanks for your quick response. I am on a shared hosting plan and unable to upgrade the PHP version. However, Siteground provides a php version manager and I was able to change the PHP version of my magento root folder and sub folders. The problem is still there. unable to run commands through ssh.

[2017-10-10 15:44] daddyStan commented on #5659
Hi, whats new for now?

[2017-10-10 15:46] Otatti commented on #11340
But if magento 2.2.0 only works on PHP 7 and above, why is the frontend and admin area of my website loading?

[2017-10-10 15:58] avinashamrutkar opened #11352 "Not able to change dashboard language English to Swedish, tried everything"
I have installed magento from cPanel > installatron with English and Swedish language but not able to change dashboard language, I have tried everything but no effect.

[2017-10-10 15:59] orlangur commented on #11340
I have no idea, probably due to upgrade fail your store is running in 2.1.9 semi-upgraded state now. Or your local env is using PHP7 for web server but PHP5 for CLI.

Anyway this seems to be a problem of your particular environment and not a Magento issue.

[2017-10-10 15:59] #11340 closed, assigned to orlangur

[2017-10-10 15:59] Tonop commented on #11344
There was no such errors in previous versions of Magento,

[2017-10-10 16:02] enriquei4 opened #11353 "Use VARCHAR const in custom table"
### Preconditions
Magento ver. 2.2.0
PHP 7.0.24

### Steps to reproduce
If need to customize a table with  a new column using a VARCHAR attribute i cant use Table::TYPE_VARCHAR because it doesn't exist.

I have to use TYPE_TEXT with 'length'  255

### Expected result
TYPE_VARCHAR constant definition at framework/DB/Ddl/Table.php

[2017-10-10 16:03] orlangur commented on #11344
This is not related to Magento version. I see a lot of attributes not belonging to core thus it is just a matter of time when row limit will be reached.

By the way, flat tables are not recommended for production as performance boost is negligible (not sure if this recommendation applicable to 2.1 or just to 2.2+).

[2017-10-10 16:06] orlangur commented on #11353
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

http://lmgtfy.com/?q=magento+2+varchar

[2017-10-10 16:06] #11353 closed, assigned to nobody

[2017-10-10 16:06] Otatti commented on #11340
So would you advise that I downgrade to a 2.1.9?

[2017-10-10 16:08] orlangur commented on #11350
Seems to be an incorrect server setup to me. Magento is not supposed to check if you configured server properly with some hacks.

[2017-10-10 16:11] orlangur commented on #11300
PHP 7.0 is not obsolete. PHP version used for `composer update` is not kept anywhere as far as I know. The only problem here is that Magento needs to be deployed properly and Composer does his job pretty well on this.

[2017-10-10 16:11] #11300 closed

[2017-10-10 16:11] moleculech commented on #10071
I got the same error (Magento 2.2.0, ngix). But only for backend-users with limited access (catalog and customers). There is no error messages in the admin-account.

All available backend-pages are contaminated. There is no deleted store-view as mentioned in the know-issues section of the dokumentation.

Thanks for any help.

[2017-10-10 16:14] enriquei4 commented on #11353
I know that @orlangur , i create this issue because i thought that should be fixed Table.php adding the const of this issue.

[2017-10-10 16:17] orlangur commented on #11340
If you cannot have PHP7 on your env - yes, there is no other option.

Otherwise check http://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.0CE.html carefully and then upgrade should not cause any troubles. Note that PHP5 is somewhat x2-3 times slower, so, it is a good idea to use PHP7 even if you stay on Magento 2.1.x.

[2017-10-10 16:19] orlangur commented on #11353
Nope, there is nothing to fix here, there are hundreds if not thousands `VARCHAR` columns created successfully in core.

[2017-10-10 16:21] abhinavsk90 commented on #9191
Any update on this. Im getting this issue in Prod server and Prod is down for 12 hrs. It was all good till last night around 2 oclock. We observe the server is down in morning. Trying to upgrade but getting this error.

[2017-10-10 16:23] scholtz commented on #11350
Let me opose.. The server is not set up incorrectly.. Use of http after Use of https is severe security issue!

[2017-10-10 16:26] scholtz commented on #11350
Also infinite redirect is huge magento flaw.. What if developer by mistake redirects user in a loop? Eshop owners will loose clients because they will not get any reasonable response from eshop?

[2017-10-10 16:32] orlangur commented on #11312
Please check https://github.com/magento/magento2/issues/11194#issuecomment-333978626 for a solution.

[2017-10-10 16:32] #11312 closed, assigned to nobody

[2017-10-10 16:32] orlangur commented on #11303
Please check https://github.com/magento/magento2/issues/11194#issuecomment-333978626 for a solution.

[2017-10-10 16:32] #11303 closed, assigned to nobody

[2017-10-10 16:38] orlangur commented on #11350
Just checked what https://www.google.com/search?q=Strict-Transport-Security&oq=Strict-Transport-Security&sourceid=chrome&ie=UTF-8 is.

You shouldn't do this if you enabled such feature of your web server.

In your scenario it is not caused by Magento. It is caused by incompatible web server setup.

There is internal counter disallowing more than 100 internal redirects. External redirects are out o

[2017-10-10 16:38] #11350 closed

[2017-10-10 16:43] hostep commented on #10860
@magento-engcom-team, I believe the tag `Reproduced on 2.2.x` is incorrect here.

I just tested this on a 2.2.0 installation, installed the Persian language pack mentioned above, changed that one line, also installed a Dutch language pack, as a reference, setup 2 extra storeviews next to the default English one, both for Persian and Dutch, setup the correct locale's. Reindexed, flushed cache, remo

[2017-10-10 16:44] orlangur commented on #9191
@abhinavsk90 did you face with this issue trying to upgrade 2.1.7 to 2.1.9 on prod, while on staging all went smoothly? Or such error just started to appear without any action from you side?

[2017-10-10 16:46] abhinavsk90 commented on #9191
Started without any action from my side. Didn't try to update or do anything.

[2017-10-10 16:53] orlangur commented on #11318
Why not just run  `bin/magento setup:install`?

[2017-10-10 16:58] orlangur commented on #10406
Yeah, here is some insight: https://github.com/magento/magento2/blob/2.2-develop/lib/internal/Magento/Framework/EntityManager/EntityManager.php#L19

So, instead of using repositories for now you can rely on resource models, just like repositories mostly do currently. Thanks for the quick response!

[2017-10-10 16:58] #10406 closed, assigned to orlangur

[2017-10-10 17:00] goutamgde commented on #11313
I switch the website based on user geo location, not whether the user logged in or not.

My concept is simple, if any user try to access my website from inside India that user redirect to "base" website(which is default website) and if any user try to access my website from outside India that user redirect to "international" website. Both the website have same base URL. But have different display

[2017-10-10 17:03] orlangur commented on #9191
That's strange, usually such error may happen when `var/di` or `var/generation` become out of sync. Did you tried to flush all the caches? Can you provide a full exception stack trace?

[2017-10-10 17:07] southerncomputer commented on #11313
https://serverfault.com/questions/547225/how-to-enable-geoip-on-magento-with-varnish-page-cache

you want to do the geo-ip in varnish so it can hash a cookie first!

[2017-10-10 17:08] orlangur commented on #10431
Closing due to lack of activity from issue reporter.

@HRR1337 thanks for report. Feel free to provide additional details, then issue will be reopened.

[2017-10-10 17:08] #10431 closed, assigned to magento-engcom-team

[2017-10-10 17:12] abhinavsk90 commented on #9191
Yeah. Strange only.  But seems you are right. Seems some how upgrade got triggered and cause the issue. Im restoring the files from backup and trying to sync everything except db. That's for the clue.

I just observe that my magento file in bin has
$application = new Magento\Framework\Console\Cli('Magento CLI', AppInterface::VERSION);
but the back up has
$application = new Magento\Framework\Consol

[2017-10-10 17:16] hostep commented on #11318
@tdgroot: in your second step, if you also download the `app/etc/env.php` file to your local environment, it will probably work? We do it exactly the same in our workflow for Magento 2.1 and it works perfectly fine like that, I haven't had the chance yet to test the same workflow on 2.2 though.

[2017-10-10 17:21] orlangur commented on #9191
There is no such setting on Magento side.

Looks like something on your side downgraded Magento to `2.0.x`, as such constant was removed in `2.1.x`: https://github.com/magento/magento2/commit/e46a3cfeccae6f8fcd1eb408719f48d2e039c433#diff-162b082e41b9d0990e5dcc7439d19f26L20

[2017-10-10 17:37] abhinavsk90 commented on #9191
@orlangur  any clue why it got downgraded?

[2017-10-10 18:07] orlangur commented on #9191
No, this is not builtin Magento feature, some backup management of your env maybe. Try to understand which particular commands were executed on your instance after last backup which caused a trouble.

[2017-10-10 18:08] pmoreno1980 opened #11354 "Merged CSS file name generation"
Preconditions

Magento 2.1.7
PHP 7.0
Mysql 5.7
Attributes (attribute sets) with numeric codes

### Steps to reproduce
1. Store >> configuration > advanced > developer
2. Merge and minify CCS & JS
3. deleted static content & deploy the static content again

### Expected result
1. change the CCS merged file name

### Actual result
1. always the same file name , example <link  rel="stylesheet" type="

[2017-10-10 18:18] abhinavsk90 commented on #9191
Thanks. Ill investigate why this is happening.

[2017-10-10 18:18] Otatti commented on #11340
@orlangur Thanks. I think I have solved it. You were right. The server was using PHP5 for the CLI. I contacted the support team in siteground and they provided a solution. Would drop it here in case any newbie like me encounters such.

Normally, I use "php bin/magento indexer:reindex" for re-indexing in my root folder.
But now i have been advised to use this instead; /usr/local/php70/bin/php-cli b

[2017-10-10 18:30] abhinavsk90 commented on #9191
Forgot to mention 1 thing. Seems this has happened once news letter was sent to everyone. I can see the news letter completed around 11:30 this morning and site was down around that time. Most probably after all newsletters were sent.

Any suggestion!!!

[2017-10-10 18:34] apotdar commented on #10847
I'm working on it #SQUASHTOBERFEST

[2017-10-10 18:36] apotdar commented on #11314
I'm working on it #SQUASHTOBERFEST

[2017-10-10 18:43] selusi commented on #10838
This issue is incredible because It is a result of a fake configuration of the file:

module-customer/etc/indexer.xml

In fact the bug is the line 14:
<fieldset name="customer" source="Magento\Customer\Model\Indexer\Source"
must be changed in
<fieldset name="customer" source="Magento\Customer\Model\ResourceModel\Customer\Collection"

The file Magento\Customer\Model\Indexer\Source doesn't exists.
T

[2017-10-10 18:44] ankursachdeva11 commented on #10495
@magento-engcom-team, please go through requirement again and please open ticket,

[2017-10-10 18:51] ankursachdeva11 commented on #11324
@andrewkett, Thanks for creating this issue. I am facing the same issue where we are able to assign website via API call and delete website link to the product via API call but we are unable to get all linked website to the product.

[2017-10-10 19:06] orlangur commented on #11340
Cool 👍 PHP version is an easiest part to spot, sometimes you have to find the divergence between extensions enabled, in such case `php -i` may be helpful or call `phpinfo();` if accessing Magento via web server.

[2017-10-10 19:10] scholtz opened #11355 "Infinite redirects in magento"
### Preconditions
1. Magento 2.2, Magento 2.3-dev
2. Any version of PHP
3. Webserver that supports Strict-Transport-Security or buggy extension

### Steps to reproduce
1. Install magento using only http
2. Set up HTTPS on webserver
3. Test webserver address
4. Go to magento administration

### Expected result
1. Magento login screen is displayed

### Actual result
1. Infinite redirect loop

Strict

[2017-10-10 19:12] hostep commented on #10838
@selusi

What's this then?
https://github.com/magento/magento2/blob/2.2.0/app/code/Magento/Customer/Model/Indexer/Source.php

[2017-10-10 19:12] scholtz opened #11356 "Magento does not follow Strict-Transport-Security"
### Preconditions
1. Magento 2.2, Magento 2.3-dev
2. Any version of PHP
3. Webserver that supports Strict-Transport-Security

### Steps to reproduce
1. Install magento using only http
2. Set up HTTPS on webserver
3. Test webserver address
4. Go to magento administration

### Expected result
1. Magento login screen is displayed

### Actual result
1. Blank browser screen (infinite redirects)

Strict

[2017-10-10 19:38] tdgroot commented on #11318
@orlangur I feel like running `bin/magento setup:install` is a workaround for the problem. It has a lot of overhead, because it installs a database first, and it would create a `app/etc/config.php` file which differs from the production `app/etc/config.php`.

@hostep Thank you, I haven't really thought about that. It would also tackle the problem of getting the crypt key to the environment. I didn

[2017-10-10 19:43] selusi commented on #10838
I apologize because in the previous comment I indicated that the Magento \ Customer \ Model \ Indexer \ Source file did not exist, while it is actually alive and well.
However, by modifying the indexer.xml file the index rebuild work fine.

[2017-10-10 20:22] jahvi commented on #10860
That's strange I tested in `2.2` and the `2.2-dev` branch and I was able to reproduce the issue in both, I tried with the Spanish translation and also the Persian translation mentioned above:

<img width="620" alt="screen shot 2017-10-10 at 9 12 39 pm" src="https://user-images.githubusercontent.com/661330/31408492-af702ee2-ae00-11e7-8f2a-e11ecf39260c.png">

The main problem as far as I can see is

[2017-10-10 20:32] magento-engcom-team commented on #9283
@Mike-DHC  thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source o

[2017-10-10 20:32] #9283 closed, assigned to nobody

[2017-10-10 20:33] scholtz commented on #11340
yet another magento bug not notifying user that he is using old PHP.. be aware that if you use PHP7.1 cli, and 7.0 in webserver, magento will be in unstable state without telling you.. (You can get white screen of death on unexpected places (php parse error)) and magento team does not think it is a bug :)

[2017-10-10 20:41] orlangur commented on #11340
This statement is wrong. Just use Composer properly, Magento cannot do it by itself.

[2017-10-10 20:42] heyqule opened #11358 "Full Tax Summary display wrong numbers."
The full tax summary is displaying total tax, instead of showing individual tax value.

### Preconditions
1. Magento 2.1.8 and 2.2.0
2.  PHP 7.0.22
3. MYSQL 5.6.35

### Steps to reproduce
1.   Set Display Full Tax Summary to Yes
2.   Set up 2 tax rule to apply 2 taxes.
3.   Create an order with 2 taxes.  I create an order for BC Canada with GST 5% and PST 7%.
4.  Go to order page and expand total

[2017-10-10 20:44] hostep commented on #11318
Yes, that's exactly what we do when setting up a local environment.

Just informational and completely off topic, here is what we do when starting a new project in Magento 2.1 (this will most likely change in 2.2 because of various reasons):

- setup a new directory
- run `composer create-project ...` (*not* installing Magento just yet though)
- configure some files for the staging environment
- c

[2017-10-10 20:47] orlangur commented on #11318
It can use existing database. What exactly can differ in `app/etc/config.php` generated?

I didn't get familiar with new 2.2 pipeline workflow yet but it seems normal to me that every installation start from, well, install command :) If it is not suitable for some cases, like if it didn't allow to use existing database which is not true in fact, I believe it would be better to fix it than set some

[2017-10-10 20:50] scholtz commented on #11340
the statement is not wrong.. if you do clean install using composer on php7.1 cli, magento on php-fpm7.0 is in unstable way. and magento will not notify user. mr. orlangur tagged it as not a bug here https://github.com/magento/magento2/issues/11300 and here https://github.com/magento/magento2/issues/11264

[2017-10-10 20:53] paales commented on #11354
@pmoreno1980 Are you sure the contents of the file are actually changed, I believe the file name is based on the contents that are in the file. If the contents of the file change, the hash should change as well?

[2017-10-10 20:54] hostep commented on #10860
@jahvi, yes the translation is in my `pub/static/frontend/Magento/luma/fa_IR/js-translation.json` file:
[code]

Make sure you follow step 3 of @fxdegroot's instructions, because by default that particular string hasn't been translated in the Persian language pack as of writing.
Also: make sure to clear out the local storage of your browser, at one point I had a wrong version of the translations in

[2017-10-10 20:59] orlangur commented on #11340
And if you try running under PHP 5.6, it will fail as well. There is nothing to discuss here, if you treat it as a bug - prepare a pull request for consideration, maybe I'm not seeing an obvious way to "fix" this.

[2017-10-10 21:08] pmoreno1980 commented on #11354
I'm using a custom theme (porto for Magento 2), i changed some styles in the custom css file that is merged and minify. So supposedly if i change the content the file name should change?

thanks for you help

[2017-10-10 21:11] orlangur commented on #11356
As already explained in https://github.com/magento/magento2/issues/11350#issuecomment-335533670, such behavior is expectable and caused by incorrect server configuration. Just like a mistake in `nginx.conf` by itself may lead to infinite redirects not even involving backend application.

User should notice server misconfiguration and either switch https off to change Base URL via Admin UI or speci

[2017-10-10 21:11] #11356 closed

[2017-10-10 21:11] orlangur commented on #11355
As already explained in https://github.com/magento/magento2/issues/11350#issuecomment-335533670, such behavior is expectable and caused by incorrect server configuration. Just like a mistake in `nginx.conf` by itself may lead to infinite redirects not even involving backend application.

User should notice server misconfiguration and either switch https off to change Base URL via Admin UI or speci

[2017-10-10 21:11] #11355 closed

[2017-10-10 21:15] orlangur commented on #11354
What's the problem with it? You can find it out from the code, in order to get immediate CSS file update you can enable Static Files Signature.

[2017-10-10 22:26] ausl commented on #10875
i think i have similar issue

[2017-10-11 01:10] mpchadwick commented on #10666
This is happening to me.

[2017-10-11 03:57] harimayco commented on #4148
I 'm also facing this issue in 2.1.7
but only happened when customer pay with paypal express checkout
![screenshot_20171011_105503](https://user-images.githubusercontent.com/5478980/31421656-b35300d0-ae72-11e7-862a-126ca5a8823d.png)
how to fix it?

[2017-10-11 05:45] #9243 closed, assigned to dverkade

[2017-10-11 06:00] magento-team commented on #11089
Internal ticket to track issue progress: MAGETWO-80514

[2017-10-11 06:22] joni-jones commented on #5659
Hi, @daddyStan, we fixed this issue for REST API but found an issue with SOAP API and could not find the solution for it, so now it's not fixed for both APIs.

[2017-10-11 06:30] magento-engcom-team commented on #8944
@andreasacca, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-11 07:04] JerVoo commented on #11352
What have you tried exactly?

In order to change the language of an existing admin account, you have to change the "Interface locale" setting for this account. You can do so by clicking the username on the upper right side of any backend page and than clicking on "Account Setting".

[2017-10-11 07:11] esimov commented on #11301
Hi. Any news regarding this issue?

[2017-10-11 07:30] magento-engcom-team commented on #9005
@rbostan, thank you for your report.
We've created internal ticket(s) MAGETWO-81555 to track progress on the issue.

[2017-10-11 07:30] magento-engcom-team commented on #5124
@commalex, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 07:30] #5124 closed, assigned to odubovyk

[2017-10-11 07:30] magento-engcom-team commented on #9088
@spyrule, thank you for your report.
We've created internal ticket(s) MAGETWO-71184 to track progress on the issue.

[2017-10-11 07:30] magento-engcom-team commented on #9779
@kassner, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-11 07:30] #9779 closed, assigned to magento-engcom-team

[2017-10-11 07:51] rishabhrkrai opened #11364 "Catalog Price Rule for Associated Product affecting Configurable Product"
### Preconditions

1. Magento 2.1.7, PHP 7.0.18, MySQL 5.x
2. Nginx Web Server

### Steps to reproduce

1. I have simple and configurable product for the store. All the products are visible to the store.
2. Some simple have associated with the configurable product.
3. I have a cateogry with id "x" with the simple associated products.
4. Apply Catalog Price Rule for the Category ID "x" with 10%.

#

[2017-10-11 07:55] sigismund opened #11365 ""Ignore this notification" isn't working"
### Preconditions

1. Magento 2.2
2. 3 store views

### Steps to reproduce

1. Set-up wrong tax settings
2. Message similar "To apply the discount on prices including tax and ..." will be display as system message.
3. Click on "ignore this notification"

### Expected result

1. System message (ignoreTaxNotification) shouldn't be displayed in future because it's supposed to be ignored

### Actual r

[2017-10-11 07:56] reviskar commented on #10210
Hi.
Meanwhile could anyone pinpoint us to a patch for this?

[2017-10-11 08:09] lxgiang90 commented on #5985
@miakusha thank lots.
pub/static/frontend/magento/theme/en_US/Magento_Checkout/js/view/billing-address.js
`addressOptions.push(newAddressOption);

           // start adding fix
	if (_.isEmpty(countryData())) {
		countryData(customerData.reload(['directory-data'], false));
	}
           // end adding fix

    return Component.extend({`

[2017-10-11 08:12] jimmyhien commented on #11189
I also have this issue when I upgrade from version 2.1.7 to version 2.1.9. I think there was some changes with indexer in newer version make the system couldn't find any products with custom attribute filterable results.

[2017-10-11 08:12] logeecom commented on #11325
Hi ankursachdeva11, what did you do to get pass the first error? I got the same report. Thanks!

[2017-10-11 08:30] magento-engcom-team commented on #6486
@cherreman, thank you for your report.
We've created internal ticket(s) MAGETWO-58101 to track progress on the issue.

[2017-10-11 08:30] magento-engcom-team commented on #9015
@fooman, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-11 08:30] magento-engcom-team commented on #9138
@skymeissner, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-11 08:30] magento-engcom-team commented on #11347
@ebaschiera, thank you for your report.
We've created internal ticket(s) MAGETWO-81571 to track progress on the issue.

[2017-10-11 08:30] magento-engcom-team commented on #9555
@bendraxguy, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 08:30] #9555 closed, assigned to nobody

[2017-10-11 08:30] magento-engcom-team commented on #7443
@DmitryChukhnov, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-11 08:45] nmallepally commented on #9497
Is this Issue fixed? or any update?.
losing a lot of sales - happening very frequently any quick workaround to eliminate this issue?.

[2017-10-11 08:48] magento-engcom-team commented on #9015
Seems like it not break any backward compatibility. Look http://devdocs.magento.com/guides/v2.0/extension-dev-guide/plugins.html. You can find here next lines : "You can use before methods to change the arguments of an observed method by returning a modified argument. If there are multiple arguments, the method should return an array of those arguments. Returning null will indicate that the argume

[2017-10-11 08:49] magento-engcom-team commented on #9138
Please, look http://devdocs.magento.com/guides/v2.2/get-started/authentication/gs-authentication.html "Web API clients and authentication methods" - here you can see allowed authentication methods.

[2017-10-11 09:03] orlangur commented on #11341
@magento-engcom-team please provide some reasoning when reopening issue.

This case can be covered in https://github.com/magento/magento2/pull/10619/files, just that expected behavior is not so clear in described store setup. Should any `is_array($value)` be treated as `$value = ''`?

[2017-10-11 09:05] ishakhsuvarov commented on #11341
@orlangur While `E_NOTICE` is not displayed to the end user it still should be eliminated

[2017-10-11 09:19] joachimVT commented on #5306
I can confirm this, having the same issue in version 2.1.8

`pub/media/catalog/product/cache/image/e9c3970ab036de70892d86c6d221abfe/h/t/httpwww.vinesse.bemediacatalogproductpapapeclement2012.png`

[2017-10-11 09:19] ferraramax commented on #10821
in first time, soluton of @Philipp worded. Now, 3 days later, i have the same problem, and in plesk is setted "." as path

[2017-10-11 09:20] afavata opened #11366 "Shopial Integration - wrong Immage path"
**Refers to MAgento 2.2.0**

**### Preconditions**
Magento 2.2.0
PHP 7.0.22-0ubuntu0.16.04.1
Apache/2.4.18
MySQL 5.7.19

**### Steps to reproduce**
1. Go to Admin Marketing/Social/Connect to Facebook
2. Follow step by step the configuration including the activation of the Extension Integration.
3. The configuration leads to the facebook fun page with a product grid.

**### Expected result**
1.  Ex

[2017-10-11 09:22] thioz opened #11367 "Magento 2.2 : Indexer crashes"
### Preconditions

Magento 2.2 upgrade from 2.1

While running ./bin/magento indexer:reindex I get the following error :

PHP Fatal error:  Uncaught Error: Call to a member function ensureBatchSize() on null in vendor/magento/module-catalog/Model/Indexer/Category/Product/Action/Full.php:218

It seems the Magento\Framework\Indexer\BatchSizeManagementInterface does not get injected by the DI and als

[2017-10-11 09:29] eTonki commented on #10485
Any solution?
Or will I have to keep the EN-EN language forever?

[2017-10-11 09:30] magento-engcom-team commented on #7451
@timneutkens, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 09:30] #7451 closed, assigned to nobody

[2017-10-11 09:30] magento-engcom-team commented on #4680
@wq9, thank you for your report.
We've created internal ticket(s) MAGETWO-53668 to track progress on the issue.

[2017-10-11 09:30] magento-engcom-team commented on #11358
@heyqule, thank you for your report.
We've created internal ticket(s) MAGETWO-81574 to track progress on the issue.

[2017-10-11 09:30] magento-engcom-team commented on #7412
@osmansorkar, thank you for your report.
We've created internal ticket(s) MAGETWO-81573 to track progress on the issue.

[2017-10-11 09:30] magento-engcom-team commented on #11341
@AmastyLtd, thank you for your report.
We've created internal ticket(s) MAGETWO-81575 to track progress on the issue.

[2017-10-11 09:31] eTonki commented on #10580
The same problem in it-IT

[2017-10-11 09:36] denisristic commented on #9036
I'm working on it #SQUASHTOBERFEST

[2017-10-11 09:39] ishakhsuvarov commented on #10847
Hi @apotdar
Please accept the GitHub repository invitation so that we could assign this ticket to you.
Thank you.

[2017-10-11 09:41] ishakhsuvarov commented on #11207
Hi @JeroenVanLeusden
It would be best to discuss proposed changes in a PR, as it allows for better code comparison. So feel free to set up a PR with what you have in mind and we can discuss.
Thank you.

[2017-10-11 09:48] ferraramax commented on #10821
i have see that after solution by @philipp, i have the problem only with customer that before migration have a not void cart. Then i have supposed that clear all crt of all customer solved the problem, then i have executed this query:
`DELETE FROM quote WHERE is_active = 1;`
Now problem is solved, but i don't know if this is the better way for clear all cart.... how do you think?

PS. Before do sq

[2017-10-11 09:52] slackerzz commented on #2956
any news about MAGETWO-47807?

[2017-10-11 09:59] hemendraajmera commented on #5260
I am still facing issue on magento 2.1.8  We're unable to send the password reset email.

[2017-10-11 10:04] Tristan-N commented on #9961
@hostep I implemented your fix and it seems to work well on the productpage in my local dev environment, but when we test it (unit testing using Travis), Travis fails to accept this solution. Any idea why and how this error occurs?

[code]

[2017-10-11 10:05] davidverholen commented on #5999
same problem here with 2.1.9
Although the target attribute set has the Bundle Items group including the shipment_type and also the price attributes are still under the Product Details group

[2017-10-11 10:07] mbijnsdorp commented on #10583
My personal fix was replacing `get_class($quoteCustomer)` with `CustomerInterface::class`. Haven't submitted it as a fix, as I thought there might be a specific reason behind using `get_class`.

[2017-10-11 10:11] scholtz commented on #11354
@orlangur .. Standard systems use to name minified css and js as hash of the content.. as described above.. If content changes, it is bug of css minifier (i dont know if in magento) or supply of css to that minifier (perhaps cached css before minifying)

The name of css or js file names are usually derived as hash of the content because the browsers can cache it properly and change it when develop

[2017-10-11 10:12] davidverholen commented on #5999
actually this seems to happen with any attribute from the default attribute set, which is missing in the custom target attribute set

[2017-10-11 10:30] magento-engcom-team commented on #8988
@ivokund, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-11 10:30] #8988 closed, assigned to nobody

[2017-10-11 10:30] magento-engcom-team commented on #9047
@MaximKitsenko, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-11 10:30] #9047 closed, assigned to nobody

[2017-10-11 10:30] magento-engcom-team commented on #5907
@rbostan, thank you for your report.
We've created internal ticket(s) MAGETWO-58966 to track progress on the issue.

[2017-10-11 10:30] magento-engcom-team commented on #9737
@PierAlex, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 10:30] #9737 closed, assigned to nobody

[2017-10-11 10:30] magento-engcom-team commented on #6376
@ankitce, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-11 10:30] magento-engcom-team commented on #7422
@sma09sjb, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 10:30] #7422 closed, assigned to nobody

[2017-10-11 10:42] orlangur commented on #11354
Here is a PR with related logic but only in one place: https://github.com/magento/magento2/pull/10378/files Before change timestamp was used, probably the same happens in described scenario.

As I mentioned, Sign Static Files feature is used to avoid browser caching issues.

Clearly not. If system works as intended it is not a bug. Marking for recheck by someone who is aware how it is supposed to

[2017-10-11 10:44] danslo commented on #8508
Can confirm this to be broken in 2.1.9 with production mode (works in developer mode).

[2017-10-11 10:50] orlangur commented on #9961
@Tristan-N please continue work on top of https://github.com/magento/magento2/pull/10619/files branch. The only problem left there was integrity test for translations didn't like `__('')` and `__('Yes')`, I didn't have a chance to look into it deeper yet.

Another case which would be nice to be covered is to not perform string casting when `$value` is an array.

[2017-10-11 11:21] barbazul commented on #8508
Hey @tadhgbowe, thanks for the reply. I am working with single language stores. The resulting json file is simply an empty array.

It is worth mentioning that as @danslo explained, this only happens in production mode.  The develop mode creates a correct js-translaion.js file but the June 1st fix is still required for Magento to pick up the theme CSV file

[2017-10-11 11:22] dwirt commented on #11002
@gwharton I have been having the same problem since upgrading to 2.2.0. Have you done anything outside of clearing the cron_schedule table to fix it? I have done the same, but old entries are still not deleted. The timezone is set correctly, but that doesn't seem related.

[2017-10-11 11:30] magento-engcom-team commented on #8674
@dmatthew, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-11 11:30] #8674 closed, assigned to nobody

[2017-10-11 11:30] magento-engcom-team commented on #6802
@schmengler, thank you for your report.
We've created internal ticket(s) MAGETWO-81592 to track progress on the issue.

[2017-10-11 11:30] magento-engcom-team commented on #6803
@R4c00n, thank you for your report.
We've created internal ticket(s) MAGETWO-81589 to track progress on the issue.

[2017-10-11 11:30] magento-engcom-team commented on #3031
@theGC, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-11 11:30] #3031 closed, assigned to nobody

[2017-10-11 11:30] magento-engcom-team commented on #7410
@markoshust, thank you for your report.
We've created internal ticket(s) MAGETWO-81595 to track progress on the issue.

[2017-10-11 11:30] magento-engcom-team commented on #7580
@biolauri, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-11 11:30] #7580 closed, assigned to nobody

[2017-10-11 11:30] magento-engcom-team commented on #6954
@shanevbg, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 11:30] #6954 closed, assigned to nobody

[2017-10-11 11:30] magento-engcom-team commented on #9016
@mb-tec, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-11 11:30] #9016 closed, assigned to nobody

[2017-10-11 11:30] magento-engcom-team commented on #9151
@hostep, thank you for your report.
The issue is already fixed in develop branch
But we will consider to backport the fix to patch releases

[2017-10-11 11:32] anil-suthar opened #11370 "Requested store is not found - while switching between store views"
I've installed Fresh Magento 2.2.0 (PHP version is 7.1.9) and created three store views.
English, French and German and set locale and code (en_gb), (fr_fr) and (de_de) respectively.

Did reindex, flush/clear cache, deploy etc....

Now I've checked frontend and I can see a store switcher with three options. Default English was selected. It's correct.

**Steps to reproduce**
1. I switched to French

[2017-10-11 11:36] hostep commented on #9151
@magento-engcom-team: can you point me to the commit which fixes this, since I don't see it.
The last change to the last `<lastmod>` in the `Magento\Sitemap\Model\Sitemap` class was done 4 years ago ...

I think you are talking about issue 10598 which is not the same as this one :)

[2017-10-11 11:41] TomashKhamlai commented on #11211
@latypatil, I think that this issue is similar to issue #10908? Do you have logs in var/logs/exception.log?

[2017-10-11 11:41] #10045 closed, assigned to piotrkwiecinski

[2017-10-11 11:51] orlangur commented on #11370
@anil-suthar thanks for bug report! This problem is already tracked as https://github.com/magento/magento2/issues/10908.

[2017-10-11 11:51] #11370 closed, assigned to nobody

[2017-10-11 11:51] goutamgde commented on #11313
As GEOIP_COUNTRY_CODE already appear in my varnish log, so I add below code in my varnish configuration  var/default.vcl and it works.

sub vcl_hash {
    if(req.http.GEOIP_COUNTRY_CODE){
       hash_data(req.http.GEOIP_COUNTRY_CODE);
    }
}

Thank you very much for your valuable help. Now you can close this issue.

[2017-10-11 11:52] orlangur commented on #11366
Is this extension a part of core?

[2017-10-11 12:05] afavata commented on #11366
Yes, it is in 2.2.0

[2017-10-11 12:05] gwharton commented on #11002
All of my installations are working as they should. The size of my cron_schedule tables are fairly static at around 1200 rows. This seems to be the correct behaviour, as the Magento settings regarding keeping cron history say to keep 1 hour, and looking at the entries in the table that is correct. The behaviour I saw in 2.1 where the cron_schedule table was only a 100 or so rows seemed to be incor

[2017-10-11 12:06] avinashamrutkar commented on #11352
Thanks JerVoo,  We have already tried all but still showing English.

[2017-10-11 12:09] JerVoo commented on #11352
Have you installed a Swedish language pack? Without a language pack installed it won't work. By default Magento only contains de_DE, en_US, es_ES, fr_FR, nl_NL, pt_BR and zh_CN.

[2017-10-11 12:11] orlangur commented on #11366
Hm, ok, I cannot find related "social" or "facebook" occurrences in `/app/code/` of this repo though.

[2017-10-11 12:19] basselalaraaj commented on #8084
i found my problem to be in a extention.
I found a node <container> with the name "listing_top", the original type of the node was <listingToolbar>.
By using the same in name in different node, it throws the original node <listingToolbar> away, including the <paging name="listing_paging"/>.
Causing the ui grid trying to load all the data at once, instead of using page size.
I renamed node <contain

[2017-10-11 12:21] avinashamrutkar commented on #11352
Yes, I have tried everything.

[2017-10-11 12:27] gwharton commented on #11002
One thought that I did have, is that I was doing a lot of development work on a module at the time these problems occurred. During some of these changes/recompiles/updates I would get emails telling me that the cron process failed, or when I restarted mysql that the database connection failed. Perhaps this is when the cron job starts but doesn't finish and then from this point on it just creates t

[2017-10-11 12:28] slackerzz commented on #10941
I'm working on it #SQUASHTOBERFEST

[2017-10-11 12:30] magento-engcom-team commented on #10998
@binnykumar, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-11 12:30] #10998 closed, assigned to magento-engcom-team

[2017-10-11 12:30] magento-engcom-team commented on #8178
@slackerzz, thank you for your report.
We've created internal ticket(s) MAGETWO-63985 to track progress on the issue.

[2017-10-11 12:30] magento-engcom-team commented on #7426
@ostmond, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 12:30] #7426 closed, assigned to nobody

[2017-10-11 12:30] magento-engcom-team commented on #7361
@rosandrest, thank you for your report.
We've created internal ticket(s) MAGETWO-81605 to track progress on the issue.

[2017-10-11 12:30] magento-engcom-team commented on #8490
@LTC-fperrin, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 12:30] #8490 closed, assigned to nobody

[2017-10-11 12:30] magento-engcom-team commented on #3865
@keyurshah070, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 12:30] #3865 closed, assigned to nobody

[2017-10-11 12:30] magento-engcom-team commented on #7585
@thaihung38, thank you for your report.
We've created internal ticket(s) MAGETWO-81604 to track progress on the issue.

[2017-10-11 12:30] magento-engcom-team commented on #11365
@sigismund, thank you for your report.
We've created internal ticket(s) MAGETWO-81606 to track progress on the issue.

[2017-10-11 12:30] magento-engcom-team commented on #8491
@mgeoffray, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 12:30] #8491 closed, assigned to nobody

[2017-10-11 12:35] joni-jones commented on #11366
@orlangur, Shopial it's a bundle extension. It is not located in Magento codebase repository but it is shipped during Magento installation.

[2017-10-11 12:43] gabrielqs-redstage commented on #9028
I'm working on it #SQUASHTOBERFEST

[2017-10-11 12:45] gulshan-streammarket opened #11372 "Pipeline deployment build failed "Uncaught Error: Call to a member function getPackage()""
`PHP Fatal error:  Uncaught Error: Call to a member function getPackage() on null in vendor/magento/module-deploy/Package/Processor/PostProcessor/CssUrls.php:215`
This fails only on build system but works fine in development system if i run same deployment command.

### Preconditions

1. Magento 2.2
2. PHP 7.0.19
3. Merge css enabled

### Steps to reproduce

1. Run app:config:dump on development s

[2017-10-11 12:46] magento-engcom-team commented on #11364
@RishabhRkRai We could not reproduce the issue as you described it. Please install clean and fresh Magento, and try to reproduce this issue again.

[2017-10-11 12:53] avinashamrutkar commented on #11352
Is anyone available magento expert who will change language for you?

I have tried also following command:

php bin/magento setup:static-content:deploy sv_SE
Requested languages: sv_SE
Requested areas: frontend, adminhtml
Requested themes: Magento/blank, Magento/luma, Magento/backend
=== frontend -> Magento/blank -> sv_SE ===
=== frontend -> Magento/luma -> sv_SE ===
=== adminhtml -> Magento/backe

[2017-10-11 12:59] orlangur commented on #11366
@joni-jones thanks for clarification! Is this repo a right place for bundle extensions bug reports? Is there a full list of extensions matching this repository somewhere then? (sorry, I didn't check if bundled extensions were mentioned in 2.2 release notes yet)

[2017-10-11 13:07] mbrinton01 commented on #10666
@mpchadwick please email me directly and I can help you resolve this.

[2017-10-11 13:30] magento-engcom-team commented on #7606
@rahulvramesh, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 13:30] #7606 closed, assigned to nobody

[2017-10-11 13:30] magento-engcom-team commented on #7668
@Styopchik, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-11 13:30] #7668 closed, assigned to magento-engcom-team

[2017-10-11 13:30] magento-engcom-team commented on #6384
@ddznelad, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 13:30] #6384 closed, assigned to nobody

[2017-10-11 13:30] magento-engcom-team commented on #7314
@scottishracer, thank you for your report.
We've created internal ticket(s) MAGETWO-60709 to track progress on the issue.

[2017-10-11 13:30] magento-engcom-team commented on #6618
@Pigau, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-11 13:30] #6618 closed, assigned to nobody

[2017-10-11 13:30] magento-engcom-team commented on #7607
@paales, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-11 13:30] magento-engcom-team commented on #10855
@Olek89, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-11 13:33] Dkmafia opened #11373 "'General system exception happened' on import"
I save the CSV in UTF-8 format. Still get the error.

### Preconditions

1.
2.
Import a CSV
### Steps to reproduce

1.
2.
3.
Import successful
### Expected result

1.
Error: General system exception happened
### Actual result

1. [Screenshot, logs]

[2017-10-11 13:44] franckgarnier21 commented on #11336
@magento-engcom-team Thank you for the internal ticket tracking.

@orlangur I do not agree, but it is a different point of view. At least the error message should be more explicit. And you do not have to try a division by 0 in PHP.

Can someone explain me the use-case of the 3 different fields allowed to adjust the credit-memo total. How do we manage the return shipping cost on a creditmemo.

[2017-10-11 13:52] ferraramax commented on #10141
editing this file:

vendor/magento/module-eav/Model/Entity/Attribute/Backend/arrayBackend.php

adding this method:
`   /**
     * @return array
     */
    public function getAllOptions()
    {
        //$arr = $this->toArray();
	$arr=array();
        $ret = [];

        foreach ($arr as $key => $value) {
            $ret[] = [
                'value' => $key,
                'label' => $value

[2017-10-11 14:23] magento-engcom-team commented on #11252
Hi @stevenlavine
After add your module, the "customer file upload attribute" can't appear in customer information CMS.
http://prntscr.com/gw3c35
http://prntscr.com/gw3cpk
http://prntscr.com/gw3cxf
http://prntscr.com/gw3can
Please describe all steps to reproduce the issue

[2017-10-11 14:23] xpoback commented on #11194
@orlangur @magento-engcom-team
There's no mention on[ this page ](http://devdocs.magento.com/guides/v2.2/release-notes/backward-incompatible-changes.html) neither on [this page ](http://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.0CE.html) that any XSD schema has changed and it can have adverse effects.
So it would be good to still consider this an issue, even if this is a **docu

[2017-10-11 14:26] orlangur commented on #11336
@franckgarnier21 I'm fully support you that system should behave normally in any conditions, just depending on the scenarios used by real merchants it can be of lower severity.

So there are two possible approaches: do not allow to enter such Refund Shipping value or just avoid division by zero.

Such kind of question may be quicker answered on [Magento Stack Exchange](https://magento.stackexchang

[2017-10-11 14:30] magento-engcom-team commented on #8432
@lizhi941, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 14:30] #8432 closed, assigned to nobody

[2017-10-11 14:30] magento-engcom-team commented on #6080
@bjoern-quast, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 14:30] #6080 closed, assigned to nobody

[2017-10-11 14:30] magento-engcom-team commented on #7284
@githeat, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 14:30] #7284 closed, assigned to nobody

[2017-10-11 14:30] magento-engcom-team commented on #6076
@sergei-sss, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-11 14:30] #6076 closed, assigned to nobody

[2017-10-11 14:30] pmoreno1980 commented on #11354
@orlangur  the Sign Static Files change the path of the file (added the version) but doesn't change the name of the file. it's the same. I need to change the name of the file.

thanks for your help

[2017-10-11 14:30] magento-engcom-team commented on #7805
@twistedindustries, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-11 14:30] #7805 closed, assigned to nobody

[2017-10-11 14:30] magento-engcom-team commented on #6119
@JanPetr, thank you for your report.
We've created internal ticket(s) MAGETWO-81625 to track progress on the issue.

[2017-10-11 14:30] magento-engcom-team commented on #10019
@tinxit, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-11 14:30] #10019 closed, assigned to nobody

[2017-10-11 14:30] magento-engcom-team commented on #6352
@devhn, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 14:30] #6352 closed, assigned to nobody

[2017-10-11 14:30] magento-engcom-team commented on #10875
@McDev814, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 14:30] #10875 closed, assigned to nobody

[2017-10-11 14:30] magento-engcom-team commented on #7317
@usuyukiso, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 14:30] #7317 closed, assigned to nobody

[2017-10-11 14:30] magento-engcom-team commented on #9205
@hezide, thank you for your report.
We've created internal ticket(s) MAGETWO-81627 to track progress on the issue.

[2017-10-11 14:30] magento-engcom-team commented on #9226
@rashidtahir, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-11 14:30] #9226 closed, assigned to nobody

[2017-10-11 14:30] magento-engcom-team commented on #11208
@Cornoud, thank you for your report.
We've created internal ticket(s) MAGETWO-81631 to track progress on the issue.

[2017-10-11 14:37] orlangur commented on #11194
@xpoback as far as we identified in previous similar bug reports XSD schema really didn't change (or didn't change much). Just somehow validation didn't work properly before.

Do agree that it would be nice to have some FAQ or recipes section in update guide. Documentation issues should be reported in https://github.com/magento/devdocs.

[2017-10-11 14:38] franckgarnier21 commented on #11336
Many thanks for the information.

I will create a question for the two other fields on Stack Excange.

I let you chose the best solution in order to manage this issue.

Help was appreciated.

[2017-10-11 14:40] orlangur commented on #11354
Why do you need to change specifically a name? Yes, basically it changes URL, if in current implementation file name is not obtained as a hash of file content, such system behavior change is definitely a feature request.

[2017-10-11 14:53] leptoquark1 commented on #6603
Ok since @magento-engcom-team is unable to reproduce it here step by step for you:

1. Make a clean install of Magento (in my case 2.1.9)
2. Create a Test Category
3. Create 2 Products and assign them to the Test-Category
  - One have Visibility "Catalog"
  - The other have Visibility "Search"
4. Go to Stores -> Configuration -> Catalog -> Storefront
  - set Config Value of "Products per Page on G

[2017-10-11 15:12] spipu opened #11374 "[2.2.0 CE] bug between integration and shopialfb modules"
During any setup:upgrade command, the integration account of the module shopialfb is reset.

### Preconditions
1. having afresh magento 2.2.0 environment
2. look at in the BO integration screen that the shopialFB accoung is "Inactive".

### Steps to reproduce
1. Launch the setup:upgrade command
2. look at in the BO integration screen that the shopialFB accoung is "Reset".
3. look at in the BO the

[2017-10-11 15:21] okorshenko commented on #11089
Hi @ju5t the issue has been fixed and delivered to 2.2-develop branch (#11155) and will be available with release 2.2.1

[2017-10-11 15:21] #11089 closed, assigned to nobody

[2017-10-11 15:21] orlangur commented on #11265
@bondimedical3 thanks for bug report! Closing in favor of https://github.com/magento/magento2/issues/11374 which contains some more details.

[2017-10-11 15:21] #11265 closed, assigned to nobody

[2017-10-11 15:26] pmoreno1980 commented on #11354
To force the browser visitors to read the new ccs file. I tested a lot and the static content version in the path it's not enough. The other solution maybe is adding the version in the file like ?v=1.2.3 but I don;t know how the merged min.css file is created.

[2017-10-11 15:26] tadhgbowe commented on #8508
Hi @barbazul. Oh it's all fun and games with js-translation.json :-0

I have installed a 2.1.9. CE, created a theme with a i18n/en_GB.csv. I then configured the default store view to use the new theme and also set the default locale to en_GB. And it works in production mode! But I think I got lucky. There's something not right.

When you run the php bin/magento deploy:mode:set production command c

[2017-10-11 15:30] magento-engcom-team commented on #8940
@sennin32, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-11 15:30] magento-engcom-team commented on #8973
@DuckThom, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 15:30] #8973 closed, assigned to nobody

[2017-10-11 15:30] magento-engcom-team commented on #7283
@magecodenet, thank you for your report.
We've created internal ticket(s) MAGETWO-69970 to track progress on the issue.

[2017-10-11 15:30] orlangur commented on #11354
Browsers cache URLs, not file paths.

Please provide more details how it can be observed.

[2017-10-11 15:36] spipu commented on #11374
The `Magento_Backend::admin` acl allows to use the BO, it is logical that magento add it if we do not ask for it.
The pb is that the test made [here](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Integration/Model/ConfigBasedIntegrationManager.php#L171) forgot to ignore the ACL diff if this diff is only that the `Magento_Backend::admin` acl is in the database and no in the

[2017-10-11 15:38] Flamestyle commented on #8508
Hi @tadhgbowe! Please write, you clear this directories before enabling production mode?
`var/cache
generated/metadata
generated/code
var/view_preprocessed
pub/static`

[2017-10-11 15:38] lexwet commented on #11314
Similar issue.

**Preconditions:**
- Magento: 2.2
- PHP: 7.0.24
- Mode: developer

**Steps to reproduce:**
- Add product to the cart
- Go to checkout
- Double refresh the page
On the checkout page double/fast refresh (chrome/win double CTRL + R _or_ F5 key )

**Result:**
- User redirected to shopping cart page.
- Minicart still has content
- On the cart page showing "You have no items in your shop

[2017-10-11 15:46] spipu commented on #11374
The `Magento_Backend::admin` acl is missing because the following method doest not add it when it reads the integration.xml files

https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Integration/Model/Config/Consolidated/Converter.php#L78

[2017-10-11 15:51] pioneerathletics opened #11375 "Minicart Issue with upgrade 2.1.7-2.1.9"
### Preconditions

1. Magento 2.1.9 CE
2. PHP 7.0.24
3. Apache/2.4.23 CentOS
4. Redis enabled
5. All Caches enabled

### Steps to reproduce

1. Updating from 2.1.7 to 2.1.9
2. Ran from the CLI– composer require magento/product-community-edition 2.1.9 --no-update
composer update
3. rm -rf /var/cache/*
rm -rf /var/page_cache/*
rm -rf  /var/generation/*
4. php bin/magento setup:upgrade
5. php bin/mag

[2017-10-11 15:53] annhudspeth commented on #11236
That's a good catch - the icons don't match because the smaller one looked better in the left nav but it's definitely inconsistent and potentially confusing.  The icon in the left nav would need to change to the four-pronged piece. I'm not sure we have that already made but I can get it made if needed.

[2017-10-11 15:55] tadhgbowe commented on #8508
Hi @Flamestyle.
Yes I removed all the folders you mention. The main one in this case is pub/static because that's where the js-translation.js file resides. If you don't delete pub/static/frontend the js-translation.json doesn't get regenerated.
We will win!
Thanks,
Tadhg

[2017-10-11 15:56] #7607 closed, assigned to nobody

[2017-10-11 16:00] AgentGod commented on #2380
Hi
I have the same issue with Magento 2.2.0
What was the solution?

[2017-10-11 16:10] afavata commented on #6879
Same situation with Magento 2.2.0

[2017-10-11 16:21] pmoreno1980 commented on #11354
every time that I did a new deploy I have a new version in the URL of course. (fyi, yes i delete the static content before deploy), this is what I see in the source code

http://xxxxxxxxx.com/pub/static/version1507067651/_cache/merged/f4ae032b4d845f97179714bb8f1806a7.min.css
http://xxxxxxxxx.com/pub/static/version1507232359/_cache/merged/f4ae032b4d845f97179714bb8f1806a7.min.css
http://xxxxxxxxx.co

[2017-10-11 16:25] orlangur commented on #11354
Browser is caching full URL http://xxxxxxxxx.com/pub/static/version1507299443/_cache/merged/f4ae032b4d845f97179714bb8f1806a7.min.css, what is the exact problem?

[2017-10-11 16:27] tadhgbowe commented on #8508
Hi All.
Just to follow up on my comment a little while ago:

The Admin Panel also has an Interface Locale (click on your login user top right in the Admin Panel and then click on Account Setting). My account was set to en_US.

I changed the above to en_GB. That then matched my frontend default locale of en_GB. I then ran the bin/magento deploy:mode:set production command again (deleted pub/static

[2017-10-11 16:30] magento-engcom-team commented on #5996
@bachlee89, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 16:30] #5996 closed, assigned to odubovyk

[2017-10-11 16:30] magento-engcom-team commented on #9135
@refaelgold, thank you for your report.
We've created internal ticket(s) MAGETWO-81655 to track progress on the issue.

[2017-10-11 16:32] pmoreno1980 commented on #11354
the problem is that i can see the new url path in the source code but i can't see the changes in the css, only i can see the changes after press Shift + F5.

make sense?

thanks for your help again

[2017-10-11 16:38] magento-engcom-team commented on #11087
@stevenlavine we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue

[2017-10-11 16:38] #11087 closed, assigned to magento-engcom-team

[2017-10-11 16:39] magento-engcom-team commented on #9848
@nickbartlett we are closing this issue for now. If you'd like to update it, please reopen the issue any time

[2017-10-11 16:39] #9848 closed, assigned to magento-engcom-team

[2017-10-11 16:40] magento-engcom-team commented on #10251
@melwinVincent we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue

[2017-10-11 16:40] #10251 closed, assigned to nobody

[2017-10-11 16:45] orlangur commented on #11354
Any of
http://xxxxxxxxx.com/pub/static/version1507067651/_cache/merged/f4ae032b4d845f97179714bb8f1806a7.min.css
http://xxxxxxxxx.com/pub/static/version1507232359/_cache/merged/f4ae032b4d845f97179714bb8f1806a7.min.css
http://xxxxxxxxx.com/pub/static/version1507232880/_cache/merged/f4ae032b4d845f97179714bb8f1806a7.min.css
http://xxxxxxxxx.com/pub/static/version1507299443/_cache/merged/f4ae032b4d845f

[2017-10-11 16:49] magento-engcom-team commented on #10873
Hi @cckassis we are closing this issue for now. Looks like the issue already fixed in 2.1.9. We can not patch 2.1.5 separately.

[2017-10-11 16:49] #10873 closed, assigned to nobody

[2017-10-11 16:50] magento-engcom-team commented on #8838
@mfdj we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-11 16:50] #8838 closed, assigned to magento-engcom-team

[2017-10-11 16:51] pmoreno1980 commented on #11354
Yes, return the same content for you until you press Shift+F5? I'm not using Varnish

[2017-10-11 17:00] bluemwhitew commented on #10893
Possibly related to #7428?

[2017-10-11 17:01] magento-engcom-team commented on #6729
Hi @yangsystem the issue has been fixed in 2.2-develop branch and will be available with release 2.2.1 soon

[2017-10-11 17:01] #6729 closed, assigned to magento-engcom-team

[2017-10-11 17:02] magento-engcom-team commented on #4530
Hi @ntoombs19 the issue has been fixed in 2.2-develop branch and will be available with release 2.2.1 soon

[2017-10-11 17:02] #4530 closed, assigned to nobody

[2017-10-11 17:04] magento-engcom-team commented on #6709
Hi @XigenDominic the issue has been fixed in 2.2-develop branch and will be available with release 2.2.1 soon

[2017-10-11 17:04] #6709 closed, assigned to nobody

[2017-10-11 17:05] orlangur commented on #11375
Please make sure your updated https://github.com/magento/magento2/blob/2.1.8/app/code/Magento/Checkout/view/frontend/web/js/view/minicart.js#L81 corresponds to the core version. Can you reproduced on a clean Magento 2.1.9 install? What kind of minicart customizations are made?

[2017-10-11 17:37] apotdar commented on #10847
Invitation accepted.

[2017-10-11 17:56] pioneerathletics commented on #11375
Hi there Vlad,
Yes I have confirmed that the linked file you've provided is the same file I have in my system. I do not have any minicart customizations whatsoever. I've only had this issue when upgrading from 2.1.7 to 2.1.9 just within the last week. Interestingly enough I updated another store to 2.1.9 during the week of Sept. 22nd and didn't notice any issues.

When I did update this week, thou

[2017-10-11 18:14] lano-vargas commented on #11275
@magento-engcom-team errored for the same reason as https://github.com/magento/magento2/issues/11275#issuecomment-335446425

[2017-10-11 18:16] vikktor commented on #8337
Same problem uploading product images does not work, nothing happens (however image is uploaded to /pub/media/tmp/catalog/product/... succesfully but it never shows up anywhere) - solved it by doing what @carfantasy suggested - switching back from croatian to original english, but after that I switched back to croatian and now it's working (we'll see for how long...).

Magento 2.1.8

[2017-10-11 18:18] Ctucker9233 commented on #5943
@magento-engcom-team Thanks for finally deciding to fix this issue. I appreciate it. Now, what release might this fix be included in?

[2017-10-11 18:21] andy17612 opened #11379 "In magento 2.2 Changing language twice gives error [bug]"
If you change the language twice in a store this system won't redirect you back to the right store. Instead it gives a server error with the message: Requested store is not found

### Preconditions

1. In magento 2.2
2. PHP 7.1

### Steps to reproduce

1. If you change the language twice in a store this system won't redirect you back to the right store. Instead it gives a server error with the mes

[2017-10-11 18:24] cbend opened #11380 "Payment Method Issue in Admin"
### Preconditions
1. Magento EE 2.2.0

### Steps to reproduce
1. Only enable one payment method that has a form (PayPal, Purchase Order, etc.)
2. Place an order in the admin

### Expected result
1. The form to enter information for the payment method should display

### Actual result
1. The form does not display

![image](https://user-images.githubusercontent.com/25639152/31458886-5e7886c6-ae8f-11

[2017-10-11 18:31] Ctucker9233 commented on #1033
@akhan522 How did you install? With composer or .zip/CLI?

[2017-10-11 18:49] magento-engcom-team commented on #1146
@hostep, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-11 18:53] okorshenko commented on #11191
Closing as non issue

[2017-10-11 18:53] #11191 closed, assigned to magento-engcom-team

[2017-10-11 18:58] orlangur commented on #11375
I don't think composer packages could break it. Just search for "maxItemsToDisplay" all over the 2.1.9 vanilla code and your codebase to check if all of them in place. For example it can be missing in `\Magento\Checkout\Block\Cart\Sidebar::getConfig`.

[2017-10-11 19:03] magento-engcom-team commented on #9116
@col-be, thank you for your report.
The issue is already fixed in 2.1.9

[2017-10-11 19:03] #9116 closed, assigned to nobody

[2017-10-11 19:03] magento-engcom-team commented on #8981
@shifra123, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-11 19:03] #8981 closed, assigned to nobody

[2017-10-11 19:03] magento-engcom-team commented on #10531
@spyrule, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-11 19:03] magento-engcom-team commented on #9415
@konstanchuk, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-11 19:03] #9415 closed, assigned to nobody

[2017-10-11 19:03] magento-engcom-team commented on #10976
@jayankaghosh, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-11 19:03] #10976 closed, assigned to nobody

[2017-10-11 19:03] magento-engcom-team commented on #10351
@dverkade, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-11 19:03] #10351 closed, assigned to nobody

[2017-10-11 19:03] magento-engcom-team commented on #10524
@tomnyson, thank you for your report.
The issue is already fixed in 2.1.9

[2017-10-11 19:03] magento-engcom-team commented on #9106
@popduyhan, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-11 19:03] #9106 closed, assigned to nobody

[2017-10-11 19:03] magento-engcom-team commented on #10494
@baltechies, thank you for your report.
The issue is already fixed in 2.1.8

[2017-10-11 19:03] #10494 closed, assigned to nobody

[2017-10-11 19:03] magento-engcom-team commented on #10660
@codedge, thank you for your report.
The issue is already fixed in 2.2.0

[2017-10-11 19:03] #10660 closed, assigned to nobody

[2017-10-11 19:06] #9604 closed, assigned to nobody

[2017-10-11 19:10] magento-engcom-team commented on #11241
Hi @Prad2703 we closing the issue for now. If you can reproduce the issue on clean Magento installation, please, update this issue and reopen it. thank you

[2017-10-11 19:10] #11241 closed, assigned to nobody

[2017-10-11 19:17] magento-engcom-team commented on #9386
@kitsupport, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 19:17] #9386 closed, assigned to nobody

[2017-10-11 19:17] magento-engcom-team commented on #6895
@hectornguyen, thank you for your report.
We've created internal ticket(s) MAGETWO-71001 to track progress on the issue.

[2017-10-11 19:27] magento-engcom-team commented on #10567
@tprocter-ldg, thank you for your report.
We've created internal ticket(s) MAGETWO-81672 to track progress on the issue.

[2017-10-11 20:00] jahvi commented on #10860
I can confirm that this works for `fa_IR` translations after clearing cache and generated files now, however I'm getting a strange issue for the [es_AR](https://github.com/mageplaza/magento-2-spanish-language-pack) translation.

I installed following the same instructions but I noticed it didn't work even after adding the translated string in the `es_AR.csv` file, I then noticed that this language

[2017-10-11 20:11] rbur0425 opened #11387 "Text Swatch showing extra input field"
### Preconditions

1. Magento 2.2 GA
2. PHP 7.0
3. MySQL 5.7

### Steps to reproduce

1. upgrade to magento 2.2 GA

### Expected result

1. Text swatches should be only inputs displayed

![text swatch should look like](https://user-images.githubusercontent.com/14355895/31464212-ceefa5f6-ae9e-11e7-87a6-5633ff23d178.jpeg)

### Actual result

1. Extra input fields under text swatches

![text swatch](

[2017-10-11 20:21] magento-engcom-team commented on #11295
@ajpevers, thank you for your report.
We've created internal ticket(s) MAGETWO-81420 to track progress on the issue.

[2017-10-11 20:35] hostep commented on #10860
@jahvi: as far as I remember correctly, if two or more `.csv` files are in one single language pack, magento bundles them together and treats them as one language pack. In the Spanish pack you are referring, there are two csv files. Since `es_ES.csv` comes alphabetically after `es_AR.csv`, I think the lines defined in `es_ES` win, so if you would only change the line in `es_ES.csv` it should proba

[2017-10-11 20:43] pioneerathletics commented on #11375
I'm not sure how I can check the entire codebase? How will I know where they are supposed to be?

[2017-10-11 20:48] jahvi commented on #8958
Just wanted to give this one a go with #11390, I also submitted a PR to fix the docs with https://github.com/magento/devdocs/pull/1450

[2017-10-11 20:51] jahvi commented on #10860
I understand, thanks for the clarification!

[2017-10-11 20:55] orlangur commented on #11375
In PhpStorm you can do it with Cmd+Shift+F, in terminal with `grep -i maxItemsToDisplay`.

[2017-10-11 20:59] magento-engcom-team commented on #10949
@enrybisco, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 20:59] #10949 closed, assigned to magento-engcom-team

[2017-10-11 21:01] magento-engcom-team commented on #10865
@MathijsDelva, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 21:01] #10865 closed, assigned to nobody

[2017-10-11 21:02] magento-engcom-team commented on #5840
@daniel-ifrim, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-11 21:02] #5840 closed, assigned to nobody

[2017-10-11 21:03] magento-engcom-team commented on #7759
@ale8193, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-11 21:03] #7759 closed, assigned to nobody

[2017-10-11 21:04] magento-engcom-team commented on #7948
@perry3181, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-11 21:04] #7948 closed, assigned to antboiko

[2017-10-11 21:05] magento-engcom-team commented on #8010
@martijnhovinga, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-11 21:05] #8010 closed, assigned to antboiko

[2017-10-11 21:06] magento-engcom-team commented on #8115
@TommyKolkman, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 21:06] #8115 closed, assigned to nobody

[2017-10-11 21:06] magento-engcom-team commented on #8267
@FerihumF, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 21:06] #8267 closed, assigned to nobody

[2017-10-11 21:07] magento-engcom-team commented on #10825
@timbaker1991, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 21:07] #10825 closed, assigned to nobody

[2017-10-11 21:09] magento-engcom-team commented on #10767
@RJacksonm1, thank you for your report.
We've created internal ticket(s) MAGETWO-72351 to track progress on the issue.

[2017-10-11 21:10] magento-engcom-team commented on #10767
The issue MAGETWO-72351 already fixed and delivered to 2.2.1 release which will be available soon. Closing the issue

[2017-10-11 21:10] #10767 closed, assigned to alena-marchenko

[2017-10-11 21:11] magento-engcom-team commented on #10586
@storepeinture, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.7, 2.1.8

[2017-10-11 21:11] #10586 closed, assigned to nobody

[2017-10-11 21:13] bondimedical3 commented on #11374
Am experiencing the same issue. Only temporary fix I have been able to come up with is to disable the shopialfb module.

[2017-10-11 21:14] magento-engcom-team commented on #10081
@noprobz09, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 21:14] #10081 closed, assigned to nobody

[2017-10-11 21:15] magento-engcom-team commented on #10230
@minesh0111, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 21:15] #10230 closed, assigned to nobody

[2017-10-11 21:15] magento-engcom-team commented on #10350
@dverkade, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.2.0

[2017-10-11 21:15] #10350 closed, assigned to nobody

[2017-10-11 21:17] magento-engcom-team commented on #10427
@skashish, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 21:17] #10427 closed, assigned to nobody

[2017-10-11 21:17] magento-engcom-team commented on #10451
@msawyers, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 21:17] #10451 closed, assigned to nobody

[2017-10-11 21:18] magento-engcom-team commented on #10466
@rcmcronny, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 21:18] #10466 closed, assigned to nobody

[2017-10-11 21:18] magento-engcom-team commented on #10571
@jobsmartdesigner1507, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-11 21:18] #10571 closed, assigned to nobody

[2017-10-11 21:29] dverkade commented on #10350
Hi, tested this again and this is solved in 2.2, so this issue can be closed.

[2017-10-11 21:31] #9015 closed, assigned to nobody

[2017-10-11 21:31] fooman commented on #9015
Thanks for the comments.

[2017-10-11 21:33] daniel-ifrim commented on #5840
You don't have to reproduce it.
It's basic programming.

[2017-10-11 21:38] #10812 closed, assigned to dverkade

[2017-10-11 21:41] okorshenko commented on #5105
Hi @srbarba the issue has been fixed in 2.2-develop branch and will be available in 2.2.1 release soon

[2017-10-11 21:42] okorshenko commented on #7582
Hi @Bartlomiejsz the issue has been fixed in 2.2-develop branch and will be available in 2.2.1 release soon

[2017-10-11 21:42] #7582 closed, assigned to bka

[2017-10-11 21:50] magento-team commented on #5105
Internal ticket to track issue progress: MAGETWO-81340

[2017-10-11 21:50] magento-team commented on #7582
Internal ticket to track issue progress: MAGETWO-80894

[2017-10-11 22:47] patrikpihlstrom commented on #11263
I can work on this if nobody else is.

[2017-10-11 22:57] barbazul commented on #8508
@tadhgbowe Your comment sparked some ideas that I will explore further before sharing to avoid adding to the mess.

In the meantime, here is the command I am running (while on production mode):

[code]

When enabling production mode I am not actually running any compilation:

[code]

[2017-10-11 23:12] apotdar commented on #10394
I'm working on it #SQUASHTOBERFEST

[2017-10-11 23:12] MIMOCOM commented on #2332
same issue! have simple and configurable product with weight! everything set correctly and shipping methods (UPS and Flat rate - both of them are active and configured) does not shown in checkout page!

[2017-10-12 00:22] crissanclick commented on #11343
¿Can i work on this issue? Thanks,

[2017-10-12 01:05] coleHafner commented on #11259
Thank you for your response. The only additional details I can give is that the parent category was part of the cart rule as well as the child categories. I don't think that would make a difference, but maybe.

[2017-10-12 01:45] travisdetert commented on #5273
This problem is laughable ridiculous, and inexcusable.  Why is this section of magento so pathetically fragile?

[2017-10-12 01:55] #11163 closed, assigned to magento-engcom-team

[2017-10-12 01:55] #11166 closed, assigned to magento-engcom-team

[2017-10-12 01:57] magento-engcom-team commented on #8958
Hi @MighT-W315H31T the issue has been fixed in 2.2-develop branch and will be available with release 2.2.1 soon.

[2017-10-12 01:57] #8958 closed, assigned to jahvi

[2017-10-12 01:58] magento-engcom-team commented on #11329
Hi @tcurilla the issue has been fixed in 2.2-develop branch and will be available with release 2.2.1 soon.

[2017-10-12 01:58] #11329 closed, assigned to manuelson

[2017-10-12 02:01] magento-team commented on #8958
Internal ticket to track issue progress: MAGETWO-81679

[2017-10-12 02:01] magento-team commented on #11329
Internal ticket to track issue progress: MAGETWO-81467

[2017-10-12 02:02] magento-team commented on #11163
Internal ticket to track issue progress: MAGETWO-80829

[2017-10-12 04:04] minesh0111 commented on #10230
@magento-engcom-team  i am also can not reproduce this issue again but code issue is still there if you check code. argument miss match is still present in code.

[2017-10-12 04:11] kervin commented on #10531
Will this be ported to 2.1.10?

[2017-10-12 05:40] sasilinux commented on #5475
@elachino - Which file you have added if(is_array($categoryId)){ $categoryId = $categoryId[0]; } this line. Please guide me.

[2017-10-12 06:25] magento-engcom-team commented on #7249
@kanduvisla, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 06:25] #7249 closed, assigned to nobody

[2017-10-12 06:30] RishabhRkRai commented on #11364
I do this on the same version with fresh installation.

1. Default Shipping country is UK.
2. Product have prices excluding VAT in DB and VAT on products in GB is 20% for some of the associated product.
3. We enable the configuration to show price "Including VAT".
4. Configurable Product don't have the VAT class i.e, VAT class for the configurable is "None". Some associated products also have VAT

[2017-10-12 06:35] JuteSenthil commented on #5129
Hi Team,

Is this issue has resolved ? Can any one provide solution or suggestion for this issue ? It will be more

helpful for me.

Thanks.

[2017-10-12 06:39] magento-engcom-team commented on #6481
@ihor-sviziev, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-12 06:39] #6481 closed, assigned to nobody

[2017-10-12 06:53] magento-engcom-team commented on #7145
@sylink, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 06:53] #7145 closed, assigned to nobody

[2017-10-12 07:30] magento-engcom-team commented on #8086
@wintermute-84, thank you for your report.
We've created internal ticket(s) MAGETWO-69696 to track progress on the issue.

[2017-10-12 07:35] mhpsaa opened #11392 "Backup tabs and some other tabs in magento2 admin panel are not responding while accessing them."
The backup buttons and options under stores>>configuration are not responding while clicking them. Once I click the respective button the scrollbar disappears.

Before clicking backup buttons,
![image](https://user-images.githubusercontent.com/32730259/31485010-ffdf86f2-af4f-11e7-917f-a9e83142c31c.png)

After clicking the backup buttons, the scrollbar disappears,
![image](https://user-images.githu

[2017-10-12 07:53] tadhgbowe commented on #8508
Hi @barbazul - Okay if you have only one requested language in the static deploy then it should work. I'm not an expert in the deployment process. I traced ours to here:

/vendor/magento/module-deploy/Model/Filesystem.php function deployStaticContent

        $output->writeln('Starting deployment of static content');
        $cmd = $this->functionCallPath . 'setup:static-content:deploy '

[2017-10-12 08:01] mhpsaa opened #11394 "Not able to change configirations from magento2 admin panel."
Not able to change configurations from magento2 admin panel STORES >> configuration >> Store View >>
![image](https://user-images.githubusercontent.com/32730259/31485404-50f81c06-af51-11e7-9b01-c99a3584114a.png)

While clicking these options there isn't any response and also the scrollbar disappears.

Please help.

[2017-10-12 08:03] magento-engcom-team commented on #7249
@kanduvisla, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 08:03] C4rter opened #11395 "Issue with "Insert Image" or "Insert Link" in WYSIWYG editor on catalog product pages"
### Preconditions

Magento Version 2.2.0

### Steps to reproduce

1. Login to backend
2. Go to catalog product grid
3. Click on any product
4. Go to "Content" area
5. If already open, close WYSIWYG editor for every field (usually "Description" and "Short Description").
6. Re-Open WYSIWYG editor for the upper field (usually "Description")
7. Click on Insert Link, choose any image and click "Insert

[2017-10-12 08:14] magento-engcom-team commented on #7939
@astorm, thank you for your report.
We've created internal ticket(s) MAGETWO-62590 to track progress on the issue.

[2017-10-12 08:15] gulshan-streammarket opened #11396 "app:config:dump locks every configuration setting no alternative to dump specific setting only"
While using pipeline deployment app:config:dump locks every configuration setting and if merchant want to update any email he must have to run app:config:set command which is not possible. There should be some alternative to dump only specific setting that is required to prepare static content on build system.

### Preconditions

1. Magento 2.2
2. Pipeline deployment

### Steps to reproduce

1. Ru

[2017-10-12 08:16] magento-engcom-team commented on #11338
@K-Projects, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 08:16] #11338 closed, assigned to nobody

[2017-10-12 08:22] magento-engcom-team commented on #11289
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2017-10-12 08:30] magento-engcom-team commented on #7629
@ihor-sviziev, thank you for your report.
We've created internal ticket(s) MAGETWO-81725 to track progress on the issue.

[2017-10-12 08:30] magento-engcom-team commented on #8501
@umang-ranium, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-12 08:30] magento-engcom-team commented on #5491
@geeta-randev, thank you for your report.
We've created internal ticket(s) MAGETWO-70353 to track progress on the issue.

[2017-10-12 08:30] magento-engcom-team commented on #9171
@jroca22, thank you for your report.
We've created internal ticket(s) MAGETWO-81719 to track progress on the issue.

[2017-10-12 08:31] ricoliv commented on #10878
Same problem here.
"FLUSH MAGENTO CACHE"  throws this exception in admin.
Magento just updated yesterday (11 Oct 2017) to latest patched Version 2.1.9 with Setup Wizard/System Upgrade

[2017-10-12 08:34] magento-engcom-team commented on #9312
@kikinbenshakib, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-10-12 08:34] #9312 closed, assigned to nobody

[2017-10-12 08:37] magento-engcom-team commented on #7175
@deepthit57, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 08:37] #7175 closed, assigned to nobody

[2017-10-12 08:41] smdevdk commented on #2760
This is absolutely ridiculous.

[2017-10-12 08:46] magento-engcom-team commented on #9174
@matin73, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 08:46] #9174 closed, assigned to nobody

[2017-10-12 08:57] magento-engcom-team commented on #6937
@tanghia, thank you for your report.
We've created internal ticket(s) MAGETWO-60779 to track progress on the issue.

[2017-10-12 08:59] ju5t commented on #11089
Hi @okobchenko. Awesome work everyone. I'm impressed by the speed at which this was resolved.

[2017-10-12 09:13] elachino commented on #5475
@sasilinux - I added this string in code/Magento/Catalog/Model/CategoryRepository.php, but i found the problem in amasty module finally.
On Magento 2.1 collection filter with array works, category ids filters in my case:

`$productCollection->addAttributeToFilter(category_ids,

But it didn't work on Magento 2.2, i found solution changed it with:

`$productCollection->addCategoriesFilter(['in' => $

[2017-10-12 09:26] sasilinux commented on #5475
@elachino - Thanks for the update. But in which amasty file you have changed it to the following line: $productCollection->addCategoriesFilter(['in' => $categoryIds]);

Beacuse i am also using Magento 2.2 with amasty.

[2017-10-12 09:30] magento-engcom-team commented on #8718
@sma09sjb, thank you for your report.
We've created internal ticket(s) MAGETWO-81743 to track progress on the issue.

[2017-10-12 09:30] magento-engcom-team commented on #8733
@kiazhi, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0

[2017-10-12 09:30] #8733 closed, assigned to nobody

[2017-10-12 09:30] magento-engcom-team commented on #8971
@korostii, thank you for your report.
We've created internal ticket(s) MAGETWO-52095 to track progress on the issue.

[2017-10-12 09:30] magento-engcom-team commented on #5872
@ludwig-gramberg, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-12 09:30] #5872 closed, assigned to nobody

[2017-10-12 09:30] magento-engcom-team commented on #7637
@brendanWeb, thank you for your report.
We've created internal ticket(s) MAGETWO-81738 to track progress on the issue.

[2017-10-12 09:30] magento-engcom-team commented on #8828
@umang-ranium, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 09:30] #8828 closed, assigned to nobody

[2017-10-12 09:30] magento-engcom-team commented on #8897
@phirunson, thank you for your report.
We've created internal ticket(s) MAGETWO-81741 to track progress on the issue.

[2017-10-12 09:30] magento-engcom-team commented on #2313
@SidneyBilliet, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 09:30] #2313 closed

[2017-10-12 09:42] elachino commented on #5475
@sasilinux - i posted update to amasty and they fix it in new module version. If you prefer, below you find all:

We changed your code in app/code/Amasty/Shopby/Model/Layer/Filter/Category.php

[code]

with

[code]

[2017-10-12 10:01] sasilinux commented on #5475
@elachino - It is working for me. Thanks a lot.

[2017-10-12 10:01] bmxmale commented on #11372
Hi, we have similar problem. Workaround for that is remove generated data before deploy. If var/view_preprocessed` exists magento using data from this dir.

`rm -rf pub/static/* var/view_preprocessed/pub/*`
`php bin/magento setup:static-content:deploy -f en_US`

[2017-10-12 10:18] maderlock commented on #10524
@magento-engcom-team could you please explain in what way this is fixed for 2.1.9 as colinmollenhour/credis is still set at v1.6 which is part of the problem. When exactly was this fixed and why can't I see it?

[2017-10-12 10:20] magento-engcom-team commented on #5247
@rbostan, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-12 10:20] #5247 closed, assigned to nobody

[2017-10-12 10:25] magento-engcom-team commented on #4696
@BenSpace48, thank you for your report.
We've created internal ticket(s) MAGETWO-81749 to track progress on the issue.

[2017-10-12 10:25] magento-engcom-team commented on #7843
@royvanos, thank you for your report.
We've created internal ticket(s) MAGETWO-47858 to track progress on the issue.

[2017-10-12 10:30] magento-engcom-team commented on #8705
@rendyep, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 10:30] #8705 closed, assigned to nobody

[2017-10-12 10:30] magento-engcom-team commented on #7785
@DariuszMaciejewski, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-12 10:30] #7785 closed, assigned to magento-engcom-team

[2017-10-12 10:30] magento-engcom-team commented on #7789
@guvra, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.1.9

[2017-10-12 10:30] #7789 closed, assigned to magento-engcom-team

[2017-10-12 10:30] magento-engcom-team commented on #8734
@craigcarnell, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 10:30] #8734 closed, assigned to nobody

[2017-10-12 10:30] magento-engcom-team commented on #6661
@astorm, thank you for your report.
We've created internal ticket(s) MAGETWO-81748 to track progress on the issue.

[2017-10-12 10:30] jimmyhien commented on #11189
@palo I solved the problem by do this change https://github.com/magento/magento2/commit/2c62aa376eeed447e632aedb42085c9d255520df

[2017-10-12 10:31] magento-engcom-team commented on #6711
@woakley, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-12 10:31] #6711 closed, assigned to nobody

[2017-10-12 10:33] samc2810 commented on #11241
I have a quick fix for this
I replaced
`            $customerQuote = $this->quoteRepository->getForCustomer($this->_customerSession->getCustomerId());`
in
`\Magento\Checkout\Model\Session::loadCustomerQuote`
with
`            $customerQuote = $this->quoteRepository->getActiveForCustomer($this->_customerSession->getCustomerId());`

ps. ofcourse do it the right way. override in di.xml ;)

[2017-10-12 10:34] magento-engcom-team commented on #7623
@dharake, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-12 10:36] #7603 closed, assigned to nobody

[2017-10-12 10:38] samc2810 commented on #11241
@magento-engcom-team
heres how you can reproduce it:

1. Start off by clearing caches, browser caches etc
2. Register a new user and place an order with this user
3. Open a different browser
4. Go till checkout as guest
5. Enter the email of the previous user (do not close the 1. browser window)
6. Enter the correct password in checkout when you are asked

This is when I get this error each time M

[2017-10-12 10:44] PieterCappelle commented on #6711
@magento-engcom-team Which commit? Would need backport to 2.1 definitely.

[2017-10-12 10:48] magento-engcom-team commented on #5707
@rpeddinti, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-12 10:48] #5707 closed, assigned to nobody

[2017-10-12 10:55] magento-engcom-team commented on #5691
@kongkiat, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 10:55] #5691 closed, assigned to nobody

[2017-10-12 11:16] vikktor commented on #11256
Try switching language back to English (I guess you are using some other lang?), deploy static content and delete cache. Had same problem and that was the solution. After that I switched back to my language and it continued working.

[2017-10-12 11:25] dev-Dhaval commented on #3374
Guys, any solutions ?

[2017-10-12 11:30] magento-engcom-team commented on #8153
@roma84, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-12 11:30] #8153 closed, assigned to misha-kotov

[2017-10-12 11:30] magento-engcom-team commented on #7603
@KalaiarasanSeetharaman, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-12 11:30] magento-engcom-team commented on #6606
@akamura, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-12 11:30] #6606 closed, assigned to nobody

[2017-10-12 11:30] magento-engcom-team commented on #3139
@Pakkapao, thank you for your report.
We've created internal ticket(s) MAGETWO-57766 to track progress on the issue.

[2017-10-12 11:30] magento-engcom-team commented on #6816
@apurv-anand, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-12 11:30] #6816 closed, assigned to nobody

[2017-10-12 11:30] magento-engcom-team commented on #2931
@hatimeria-artur-jewula, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 11:30] #2931 closed, assigned to nobody

[2017-10-12 11:30] magento-engcom-team commented on #8496
@shoptofit, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 11:30] #8496 closed, assigned to nobody

[2017-10-12 11:30] magento-engcom-team commented on #8201
@OZZlE, thank you for your report.
We've created internal ticket(s) MAGETWO-70950 to track progress on the issue.

[2017-10-12 11:35] magento-engcom-team commented on #6183
@Umfi, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-12 11:35] #6183 closed, assigned to nobody

[2017-10-12 11:36] pushpendra07 commented on #8807
@yuvraj993 ,

Check attribute id which you are using in api is valid or not.

[code]

You can use above code for configurable product add in cart. It's working well in my side.

[2017-10-12 11:51] pankajpragma opened #11398 "Get failed due to "Fix data or replace with a valid value." while upgrade from 2.1.9 to 2.2"
### Preconditions

1.  PHP 7.0.24
2.  Ubantu
3. MySQL 5.X
4.  Product Catalog Count 200K

### Steps to reproduce

1.  Run composer require "magento/product-community-edition:2.2" --no-update
2.  composer update
3.  php bin/magento cache:clean
4.  php bin/magento setup:upgrade

### Expected result

1.  Version should get updated to 2.2

### Actual result

1.  Upgrading data.. Error converting field

[2017-10-12 11:52] magento-engcom-team commented on #5550
@Sanfam, thank you for your report.
We've created internal ticket(s) MAGETWO-55230 to track progress on the issue.

[2017-10-12 11:57] hatimeria-artur-jewula commented on #2931
Yes, this was fixed some time ago.

[2017-10-12 11:59] reihaan commented on #11247
I am also facing same issue, when we cancel the payment it take us to cart instead of checkout page and all the fields get emptied.
The issue exists in Magento Community Edition 2.2.0

[2017-10-12 12:08] denisristic commented on #11176
I'm working on it #SQUASHTOBERFEST

[2017-10-12 12:10] denisristic commented on #11176
As I can see @osrecio fixed that in #11199

[2017-10-12 12:18] magento-engcom-team commented on #5852
@rasmuswikman , thank you for your report.

Please add more details for steps to reproduce. Could you provide full path to the folder where you  edit the files:  **_typography.less** and **_variables.less** ?

We need the information for reproduce this issue.
Thanks.

[2017-10-12 12:30] magento-engcom-team commented on #8995
@rb124559, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 12:30] #8995 closed, assigned to nobody

[2017-10-12 12:30] magento-engcom-team commented on #6674
@timbaker1991, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 12:30] #6674 closed, assigned to nobody

[2017-10-12 12:30] magento-engcom-team commented on #9416
@bendraxguy, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 12:30] #9416 closed, assigned to nobody

[2017-10-12 12:30] magento-engcom-team commented on #5980
@andidhouse, thank you for your report.
We've created internal ticket(s) MAGETWO-81759 to track progress on the issue.

[2017-10-12 12:30] magento-engcom-team commented on #8422
@Ctucker9233, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-12 12:30] #8422 closed, assigned to ivan-veres

[2017-10-12 12:30] magento-engcom-team commented on #7848
@quienti, thank you for your report.
We've created internal ticket(s) MAGETWO-81764 to track progress on the issue.

[2017-10-12 12:30] magento-engcom-team commented on #10889
@gwharton, thank you for your report.
We've created internal ticket(s) MAGETWO-81760 to track progress on the issue.

[2017-10-12 12:33] Webroju commented on #10821
The solution @philipp works for the email validation - but I can't also not place an order.

[2017-10-12 12:37] phuocpro1326 commented on #2761
change:
case 'related':
....
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
----
and
<?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
to
<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true) ?>

[2017-10-12 12:38] magento-engcom-team commented on #6012
@Corefix We need more information about this issue in order to successfully investigate potential fixes.

[2017-10-12 12:48] ferraramax commented on #10821
@webroju, can you try to create a new user from a private window of browser and make new order?

[2017-10-12 12:58] Webroju commented on #10821
@ferraramax in a private window i can create an new account, but I can also not place an order - it occurred the same exception.
`[2017-10-12 12:54:37] main.CRITICAL: Validate class not found from basename 'NotEmpty' {"exception":"[object] (Zend_Validate_Exception(code: 0): Validate class not found from basename 'NotEmpty' at .../vendor/magento/zendframework1/library/Zend/Validate.php:244)"} []`

[2017-10-12 13:00] rvsmediauk commented on #5726
Hello ,
Same issue with my multistore i have follow up all your above steps no result pls somebody help me to solve this issue.

[2017-10-12 13:06] magento-engcom-team commented on #8437
@shavounet , thank you for your report.
Unfortunately, link from provided steps to reproduce returns 404.
We were not able to reproduce this issue. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-10-12 13:07] hostep commented on #6481
@magento-engcom-team: any chance you can provide us the commit where this was fixed, as this fix interests me greatly. Thanks!

[2017-10-12 13:19] magento-engcom-team commented on #5520
@grasdaggel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 13:19] #5520 closed, assigned to nobody

[2017-10-12 13:28] skymeissner commented on #9138
@magento-engcom-team
The behaviour is clearly stated otherwise in the documentation. In the link you posted above it reads "Each administrator or integration user can have a unique set of permissions which is configured in the Magento Admin." and "Administrator or Integration | Resources for which administrators or integrators are authorized."

![adminorinteg](https://user-images.githubusercontent

[2017-10-12 13:30] magento-engcom-team commented on #7680
@steros, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 13:30] #7680 closed, assigned to nobody

[2017-10-12 13:30] magento-engcom-team commented on #5943
@Ctucker9233, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-12 13:30] #5943 closed, assigned to nobody

[2017-10-12 13:30] magento-engcom-team commented on #8401
@malikt, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 13:30] #8401 closed, assigned to nobody

[2017-10-12 13:30] magento-engcom-team commented on #8357
@thelettuce, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 13:30] #8357 closed, assigned to nobody

[2017-10-12 13:30] magento-engcom-team commented on #4918
@sas-flame, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-12 13:30] #4918 closed, assigned to nobody

[2017-10-12 13:30] magento-engcom-team commented on #6109
@nmallepally, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 13:30] #6109 closed, assigned to nobody

[2017-10-12 13:30] magento-engcom-team commented on #6676
@RUjmiak, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-12 13:34] magento-engcom-team commented on #5512
@blizam, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-12 13:34] #5512 closed, assigned to nobody

[2017-10-12 13:45] MoschenBayern opened #11400 "Magento 2 Update from 2.1.9 to 2.2.0"
### Preconditions

1.
2.

### Steps to reproduce

1. Web Setup Wizard
2. System Upgrade
3. Check readiness

### Expected result

1. all Points should be green

### Actual result

1. We found conflicting component dependencies. Hide detail

Command "update" failed: Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be res

[2017-10-12 13:46] mhpsaa opened #11401 "'Save Web Site' button and General drop down tab in store >> Configuration >> General is not responding in Magento 2 Admin panel"
The 'Save Web Site' button is not responding for creating multidomain in Magento 2 admin panel.

![image](https://user-images.githubusercontent.com/32730259/31498862-b9b3a0b0-af80-11e7-8730-9e60f8c9566c.png)

Also the General tab for drop the configuration settings while configuring the Store.
![image](https://user-images.githubusercontent.com/32730259/31499060-49d8294a-af81-11e7-991e-26dc2385d4ab

[2017-10-12 13:48] #11392 closed, assigned to nobody

[2017-10-12 14:06] wetken opened #11402 "installation success, attempt to go on to admin interface gives blank screen"
### Preconditions

1. Centos centos-release-7-4.1708.el7.centos.x86_64 server with cPanel
2. Magento 2.2 new install prior to upgrade from 1.9, all pre-requisites met

### Steps to reproduce

1. create account in cPanel [<mysite>]
2. as root, cd /home/<mysite>/www [symlink to public_html]
3. tar -zxvf Magento-CE-2.2.0-2017-09-26-07-35-18.tar.gz
4. chown -R <mysite>.<mysite> *
5. create database, e

[2017-10-12 14:11] magento-engcom-team commented on #8333
@ChevCheusov, thank you for your report.
We've created internal ticket(s) MAGETWO-81795 to track progress on the issue.

[2017-10-12 14:21] hostep commented on #6005
It would be great if someone could pass along the solution of @elvinristi to the enterprise developers.

Without this change it takes tens of minutes until Magento Commerce 2.1.9 gets bootstrapped over here on my machine. I have 121 databases in my local mysql server. With the change from @elvinristi  the time to bootstrap Magento is reduced significantly. I haven't got exact timings because I hav

[2017-10-12 14:21] magento-engcom-team commented on #9441
@Tonop, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-12 14:23] magento-engcom-team commented on #7845
@bartlubbersen, thank you for your report.
We've created internal ticket(s) MAGETWO-81796 to track progress on the issue.

[2017-10-12 14:24] magento-engcom-team commented on #11380
@cbend, thank you for your report.
We've created internal ticket(s) MAGETWO-81797 to track progress on the issue.

[2017-10-12 14:30] magento-engcom-team commented on #6265
@Sonnh290791, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-12 14:30] #6265 closed, assigned to nobody

[2017-10-12 14:30] magento-engcom-team commented on #8377
@shinesoftware, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 14:30] #8377 closed, assigned to nobody

[2017-10-12 14:30] magento-engcom-team commented on #8421
@speedupmate, thank you for your report.
We've created internal ticket(s) MAGETWO-81798 to track progress on the issue.

[2017-10-12 14:30] magento-engcom-team commented on #10838
@jhruehl, thank you for your report.
We've created internal ticket(s) MAGETWO-81802 to track progress on the issue.

[2017-10-12 14:33] magento-engcom-team commented on #11395
@C4rter Thanks for reporting this issue. Closing as a duplicate of [#7368](https://github.com/magento/magento2/issues/7368) .

[2017-10-12 14:33] #11395 closed, assigned to nobody

[2017-10-12 14:42] blizam commented on #5512
sweet!

[2017-10-12 14:42] rbur0425 opened #11403 "Product Attributes Not Updating on Frontend"
### Preconditions

1. Magento 2.2 CE
2. PHP 7.0.23
3. MySQL 5.7

### Steps to reproduce

1. Add a custom product attribute and assign values
2. Select Text Swatch for Catalog Input Type for Store Owner
3. Save and view on frontend
4. Go back to product attribute and select Dropdown for Catalog Input Type for Store Owner
5. The changes are not applied, the text swatch still shows even though produc

[2017-10-12 14:56] elvinristi commented on #6005
@hostep PR is done to Commerce branch and is in progress.

[2017-10-12 14:59] apotdar commented on #10847
Hello @ishakhsuvarov,

Can you please assign this ticket to me?  I have already accepted the invitation.

Thank you
Ashutosh Potdar

[2017-10-12 15:00] orlangur commented on #6005
@elvinristi great 👍 Could you remove the source code from comment or it is intended for anybody to apply for their instance?

[2017-10-12 15:03] elvinristi commented on #6005
@orlangur I would keep it here due not all have access to make new PR there and maybe someone has better idea/input to that which could be taken over to magento2ee.

[2017-10-12 15:03] magento-engcom-team commented on #8344
@mgeoffray, thank you for your report.
We've created internal ticket(s) MAGETWO-81808 to track progress on the issue.

[2017-10-12 15:04] magento-engcom-team commented on #7753
@Nehace40, thank you for your report.
We've created internal ticket(s) MAGETWO-81809 to track progress on the issue.

[2017-10-12 15:09] #10070 closed, assigned to magento-engcom-team

[2017-10-12 15:13] apotdar commented on #11314
Hi @okorshenko,

Can you please assign this issue to me?

Thank you :)

[2017-10-12 15:17] #9894 closed, assigned to nobody

[2017-10-12 15:18] magento-engcom-team commented on #9894
@luigi-pelosi, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-12 15:20] magento-engcom-team commented on #10285
@experius-nl, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-12 15:20] #10285 closed, assigned to magento-engcom-team

[2017-10-12 15:23] #10460 closed, assigned to nobody

[2017-10-12 15:24] magento-engcom-team commented on #11115
@matthiashama, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-10-12 15:24] #11115 closed, assigned to nobody

[2017-10-12 15:30] magento-engcom-team commented on #10857
@benhath, thank you for your report.
We've created internal ticket(s) MAGETWO-81815 to track progress on the issue.

[2017-10-12 15:30] magento-engcom-team commented on #8715
@grasdaggel, thank you for your report.
We've created internal ticket(s) MAGETWO-81812 to track progress on the issue.

[2017-10-12 15:30] magento-engcom-team commented on #4443
@gayankt, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-12 15:30] #4443 closed, assigned to nobody

[2017-10-12 15:33] magento-engcom-team commented on #10556
@johnny-longneck, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-12 15:34] magento-engcom-team commented on #9441
@Tonop, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-12 15:34] #9441 closed, assigned to magento-engcom-team

[2017-10-12 15:36] magento-engcom-team commented on #5192
@Dayssam, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-10-12 15:36] #5192 closed, assigned to nobody

[2017-10-12 15:37] #6713 closed, assigned to nobody

[2017-10-12 15:38] #7831 closed, assigned to misha-kotov

[2017-10-12 15:38] #8940 closed, assigned to nobody

[2017-10-12 15:38] #8944 closed, assigned to nobody

[2017-10-12 15:42] magento-engcom-team commented on #9345
Hi All,
Thank you for your feedback and research. If you would like to change this behavior, feel free submit a pull request with proposed changes.
We are closing the ticket as non-issue for now.

[2017-10-12 15:42] #9345 closed, assigned to nobody

[2017-10-12 16:08] yohanespradono commented on #7230
we are still having this issue on 2.1.9. how to fix?

[2017-10-12 16:28] heyepic opened #11404 "FedEx Smart Post with International Orders"
**Preconditions**

Magento 2.2
PHP 7 / Linux
PayPal as merchant, FedEx as shipping service.

**Steps to reproduce**

Enable SmartPost for Fedex Account (account/meter/hub)
Choose countries that Fedex can ship to
Choose Ground, SmartPost, International, etc.

**Expected result**

If domestic, show SmartPost and allows SmartPost to be used. In debug, it shows SmartPost being used and it works great.

[2017-10-12 16:44] okorshenko commented on #8374
Hi @t7m feel free to submit a pull request with the fix to make the product better for you 👍  and for all other users of the platform.

[2017-10-12 16:45] okorshenko commented on #7997
Hi @jghaanstra thank for linking the issues.
@RishabhRkRai the issue #6729 has been fixed in 2.2-develop branch and will be available with release 2.2.1 soon

[2017-10-12 16:45] #7997 closed, assigned to nobody

[2017-10-12 16:50] t7m commented on #8374
So a reply nine months later is "you fix it."

Magento is a joke. I'm muting this thread. We created something from scratch that works much, much better.

[2017-10-12 18:14] patadeloso commented on #5836
If the indexers work from CLI, but not from cron. Check the default system ulimits. I've found that to be an issue on some systems.

[2017-10-12 18:34] peterjaap commented on #9201
@okorshenko what's the exact status on this? Just that the PR by @dreamworkers doesn't pass the tests? Or also lacking functionality?

[2017-10-12 19:02] pioneerathletics commented on #11375
I see, I do not have PhpStorm-I'll have to look into it. [It seems like the issue is related to this one?  #4170](https://github.com/magento/magento2/issues/4170)

[2017-10-12 19:15] peterjaap commented on #9277
@osrecio I don't think it's a good idea to move it to `env.php`. The reason being that `env.php` is not yet parsed by `app/bootstrap.php` by the time it now initializes the profiler, thereby eliminating the possibility to profile everything between `app/bootstrap.php` and the moment it parses `env.php`.

My suggestion would be to use a stopfile (like `./var/profiler`) to activate the profiler, and

[2017-10-12 19:21] osrecio commented on #9277
GO ahead with PR, I forget this task :) . I think your idea is good, I like it like maintenance file, etc

Thanks @peterjaap

[2017-10-12 19:23] peterjaap commented on #9240
@okorshenko I'm looking to pick this issue up, but I'm struggling with point 5 of BC. What do you mean with BC in this regard? If we swap out the hardcoded Zend_Feed in `app/code/Magento/Rss/Model/Rss.php` with an adapter, it'll break BC in some cases.

[2017-10-12 19:28] misha-kotov commented on #9497
Our engineers have not been able to reproduce using the steps listed in the original post. Does anyone have any additional steps that will help us better reproduce the issue? Maybe something out of the ordinary in the PP configuration settings?

[2017-10-12 19:33] annhudspeth commented on #11236
Looks like the four-pronged icon is available here:http://devdocs.magento.com/guides/v2.1/pattern-library/graphics/iconography/iconography.html
It's the one called "Plug-in".
Let me know if we need to make one specifically for the nav or if you can call it from the icon font.

[2017-10-12 20:06] peterjaap commented on #9277
@osrecio 45 minutes booooom

[2017-10-12 20:08] osrecio commented on #9277
You’re the best 😎

[2017-10-12 20:36] lfritsche opened #11408 "First partial invoice contains all ordered products, not only invoiced ones [CE 2.1.5]"
### Preconditions

1. Magento CE 2.1.5
2. PHP 7

### Steps to reproduce

1. Create Order with 1x simple product & 1 configurable product
2. Create invoice separately for each product
3. Get invoiced items programmatically

### Expected result

1. first invoice id should return the simple product only
2. second invoice id should return the configurable and the corresponding simple product.

### Act

[2017-10-12 20:39] abhinavsk90 commented on #9191
@orlangur My magento downgraded to 2.0.16 as showing on Admin panel. Earlier my version was 2.0.13 which i upgraded to 2.1.7. Now files belongs to 2.1.7 as i restored from back up. lib, vendor and setup folder is of 2.1.7.
Everything is messed up. Prod is running anyhow. Not sure what going to break and when.

Could you please help me to resolve the version issue.

[2017-10-12 20:47] magento-engcom-team commented on #11379
@rigu12  thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2017-10-12 20:55] rigu12 commented on #11379
Hi
I from Magento downloaded ver.2.2, tried to reproduce this issue on a clean installation, in the Luma theme too.
My php is 7.1

Magento Community Engineering <notifications@github.com<mailto:notifications@github.com>> 於 2017年10月13日 04:48 寫道：

@rigu12<https://github.com/rigu12> thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide

[2017-10-12 21:13] tdgroot commented on #11209
I would like to pickup this issue!

[2017-10-12 21:43] aeu commented on #6522
Seeing this issue on 2.1.9 still.

@asrar7787 - am going to try your solution, thank you for sharing.

[2017-10-12 21:58] aeu commented on #6522
Seeing this issue on 2.1.9, except I'm not running multistore, we only have one storefront.

@asrar7787 - am going to try your solution, thank you for sharing.

Incidentally - would setting the site to single store mode (assuming there is no need for multistore) resolve this issue?

[2017-10-12 22:00] magento-team commented on #11295
Internal ticket to track issue progress: MAGETWO-81276

[2017-10-12 22:00] magento-team commented on #10441
Internal ticket to track issue progress: MAGETWO-80916

[2017-10-12 22:00] magento-team commented on #10922
Internal ticket to track issue progress: MAGETWO-75322

[2017-10-12 22:11] coleHafner opened #11409 "Too many password reset requests even when disabled in settings"
### Summary
When attempting to reset a customer's password via the admin, the system tells me 'Too many password reset requests' even when I have disabled the 'max wait time between password resets' in the store configuration settings.

### Preconditions
- Magento Open Source version 2.1.7
- Ubuntu version 14.04.5
- Nginx version 1.10.2
- PHP version 7.0.14
- Mysql version 14.14

### Steps to repr

[2017-10-12 22:18] kfriend opened #11411 ""We can't find the quote item." error after updating item in cart (IE 11, Edge)"
This is a duplicate of https://github.com/magento/magento2/issues/7120, but that issue was closed, and the OP didn't provide enough detail to recreate.

### Preconditions
1. Observed on macOS 10.12 and Ubuntu 16.04.
2. Observed in Internet Explorer 11 and Edge. Was not able to recreate in Chrome.
3. Fresh install of Magento 2. The error appears in at least 2.1.8 and 2.1.9. Did not test other versi

[2017-10-12 23:03] aeu commented on #5847
I am seeing the same error on a Magento 2.1.9 install.

[2017-10-13 01:22] wangzhi0417 opened #11412 "Undefined offset error when upgrading CE 2.1.6 to CE 2.2.0"
I was upgrading my magento from CE 2.1.6 to CE 2.2.0:

1) Navigate to my magento folder
2) Execute

[code]

3) Then
`php bin/magento setup:upgrade`

I saw:

`Notice: Undefined offset: 1 in /var/www/html/vendor/magento/module-theme/Model/ResourceModel/Theme/Collection.php on line 137`

Can any help? Thanks.

[2017-10-13 02:32] JodieA commented on #11412
Same issue here as well.

[2017-10-13 04:48] luongkane opened #11413 "Magento 2.1.9 PayPal Transaction has been declined"
I'm running into an error with Magento 2.1.9 with Credit Card Payments. I'm using PayPal Payments Pro.
So I've was able to decode the error message by switching the line of in .../transparent/iframe.phtml
from:
  message: $t('An error occurred on the server. Please try to place the order again.')

to:
 message: $t(' < ?php echo $params['error_msg'];? > ')

The error message that's been returning b

[2017-10-13 04:57] yogendrabmishra opened #11414 "Magento 2.2 product date attribute throwing error"
Installed Magento 2.2 CE fresh. Created one test product attribute with date type. Assigned attribute to default attribute set and tried to create new product

### Preconditions
 WAMP on Windows7
1. Magento 2.2 CE
2. PHP 7.0.1
3. MySQL 5.7

### Steps to reproduce
1. Create product attribute with Date type and assign to default attribute set
2. Create new product and provide date value to new produ

[2017-10-13 05:23] sheldmandu commented on #5931
@magento-engcom-team Any chance of this being backported to 2.1 as it's quite a major issue that stops reorders working?  Perhaps you could point me to a commit in which this issue was resolved so I can review what would be involved in backporting myself?

[2017-10-13 05:30] sheldmandu commented on #7875
@magento-engcom-team Is this resolved given it's a duplicate of #5931 and should hence be closed?  What commit was it resolved in? I'm looking to perhaps backport it unless Magento would consider doing it.

[2017-10-13 05:30] magento-engcom-team commented on #8629
@neerajproweb, thank you for your report.
The issue is already fixed in develop branch, 2.2.0, 2.1.9

[2017-10-13 05:30] #8629 closed, assigned to nobody

[2017-10-13 06:04] dev-Dhaval commented on #6817
@SerhiyShkolyarenko @justinahsnyder @tkacheva @czettnersandor Guys any solution for magento 2.1.7 ?

[2017-10-13 06:18] magento-engcom-team commented on #2913
@twiking, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-10-13 06:18] #2913 closed, assigned to victorgugo

[2017-10-13 06:29] mayankzalavadia commented on #11139
I'm working on it #SQUASHTOBERFEST

[2017-10-13 06:30] magento-engcom-team commented on #5536
@LittleCamel, thank you for your report.
The issue is already fixed in develop branch, 2.2.0

[2017-10-13 06:30] #5536 closed, assigned to nobody

[2017-10-13 06:54] ihor-sviziev commented on #6481
@hostep looks like it was fixed there:
https://github.com/magento/magento2/blob/2.2/app/code/Magento/Deploy/Source/Lib.php#L62

[2017-10-13 06:54] convenient commented on #10765
@okorshenko I'm working on it #SQUASHTOBERFEST

[2017-10-13 06:58] danilkrasnorudskyi commented on #9885
Hi, it is happen because in UiRegistry already exist data of Ui Component, try to clear Ui Registry, and reinit Ui Component. Something like that
`$('.yourSelector').click(function () {
    uiRegistry.remove(scopeName);
    $.ajax({
        url: url,
        success: function (response) {
            $('.main').replaceWith($(response).find('.main'));
            $('.main').trigger('contentUpdated'

[2017-10-13 06:59] MattDelac opened #11415 "Tier price with minimum quantity 0"
### Preconditions

1. Magento 2.1.9
2.

### Steps to reproduce

1. Create a product XX
2. Create a customer group YY
3. Assign multiple customers to the customer group
4. Apply a tier price for XX with YY with a min_quantity = 0

### Expected result

1. The tier price should work as the MINIMUM quantity is 0 (thus there is no minimum)

### Actual result

1. The tier price appears on the product pa