[2016-05-03 18:09] pboisvert commented on #3641
passing to Olena as this ties to theme. Please reassign if a different PM owner for the feature request

[2016-05-03 18:14] afavata commented on #4346
I do confirm all points described on issue  #4312. I have tested them on Magento 2.0.5.

Thanks bh-ref!

[2016-05-03 18:18] pboisvert commented on #3607
@antboiko adding Anton to capture the feature request portion of this issue

[2016-05-03 18:27] piotrekkaminski commented on #438
MAGETWO-33402 @tkacheva  seems to be incorrectly referenced as it is closed story for product video, nothing to do with sliders.

The relevant epic is MAGETWO-43193 but is it not currently scheduled.

[2016-05-03 18:31] piotrekkaminski commented on #571
Related issues:
MAGETWO-24837 Extended information in "template path hint"
MAGETWO-24840 Improvement: template path hint in tooltip

[2016-05-03 18:47] erikhansen commented on #571
@piotrekkaminski I know that @jonathanhodges and @beejhuff worked on an extension to implement some of this functionality at the Imagine Hackathon. I just talked with @jonathanhodges and he said that refactoring would need to be done to the extension before merging in any of the code, but it is at least a helpful reference point: https://github.com/magento-hackathon/magento2-improved-template-hint

[2016-05-03 18:48] piotrekkaminski commented on #630
@tanya-soroka  can you check if it was done?

[2016-05-03 18:49] piotrekkaminski commented on #571
@erikhansen  the issues are unscheduled, in backlog for now. So if you have can do anything to contribute, that would be great.

[2016-05-03 20:19] sammarcus commented on #4151
@kandy Thanks for looking into this. To clarify, you are seeing a Group Pricing section as the screenshot in the docs displays?
Or, there is no separate Group Pricing section but Tier Pricing is working to handle this functionality?

[2016-05-03 21:46] pboisvert commented on #3023
adding @piotrekkaminski as security PM owner

[2016-05-03 22:04] okorshenko commented on #2946
@gigadesign1 Thank you for reporting the issue. Fix for MAGETWO-48425 merged to develop branch.

[2016-05-03 22:04] #2946 closed, assigned to slavvka

[2016-05-03 22:05] okorshenko commented on #2786
@moe-kayali Thank you for reporting the issue. Fix for MAGETWO-51294 merged to develop branch.

[2016-05-03 22:05] #2786 closed, assigned to nobody

[2016-05-03 22:06] ryanstreet commented on #571
That's great.  Thank you @piotrekkaminski .

[2016-05-03 22:06] okorshenko commented on #3660
@RUjmiak Thank you for reporting the issue. Fix for MAGETWO-50192 merged to develop branch.

[2016-05-03 22:06] #3660 closed, assigned to ishakhsuvarov

[2016-05-03 22:07] okorshenko commented on #4181
@thomvanderboon Thank you for reporting the issue. Fix for MAGETWO-51987 merged to develop branch.

[2016-05-03 22:07] #4181 closed, assigned to nobody

[2016-05-03 22:10] okorshenko commented on #3944
@vesan-83  Thank you for reporting the issue. Fix for MAGETWO-51451 merged to develop branch.

[2016-05-03 22:10] #3944 closed, assigned to jamescowie

[2016-05-03 23:01] okorshenko commented on #4009
@jaimestuardo , thank you for reporting the issue. Unfortunately, not all parts of Magento use intl php extension to get local information. Some parts still using Zend_Locale. Since you modified Zend files, you got incorrect behavior. We have a ticket in our backlog to cleanup the code and make it more consistent, but this refactoring will take some time. For now, you can pluginize method `\Magent

[2016-05-03 23:40] stevenocta commented on #3743
Hi,
I can confirm that the error can be reproduced with Composer-based installation (Magento and Sample Data installation).

I have cleaned up both my browser and Magento cache, they have no effect on the issue.

[2016-05-04 00:14] OgreMHDW opened #4391 "Web Setup Wizard Circular Reference"
## Steps to reproduce
1. Install Magento.
2. Select System > Tools > Web Setup Wizard

Expected result
Display Web Setup Wizard

Actual result
Display:
Welcome to Magento Admin, your online store headquarters.
To use the Magento setup wizard sign into your Admin account and navigate to System => Tools => Web Setup Wizard

![2016-05-03_171317](https://cloud.githubusercontent.com/assets/4369476/1500

[2016-05-04 00:36] pen65978 commented on #2412
Fixed!!!!!!!!

man this was a tough one, i'm running CentOS 7 with Cpanel/WHM the fix was to use EasyApache 4 to disable SUphp... that's it... done and fixed :)

[2016-05-04 01:16] jaimestuardo opened #4392 "When updating, bad PHP version is reported"
When trying to update with Web Setup Wizard, and running readiness check, it is reported PHP version 5.6.20. when I execute <?php phpinfo() ?>, reported version is 5.6.13. The latter is correct. Why the wizard detects 5.6.20 and how can I  fix it?

[2016-05-04 01:31] thaiphan commented on #4392
Are you running <?php phpinfo() ?> on the same server as Magento?

[2016-05-04 01:46] jaimestuardo commented on #4392
of course

[2016-05-04 01:58] jaimestuardo commented on #4009
Hi Okorshenko,

For "pluginize" you mean I can create a class under /app/code/[MyCompany]/[MyPlugin] that implements FormatInterface and the system will automatically call my own getPriceFormat method?

[2016-05-04 03:30] laics1984 commented on #2732
I have this issue now with the latest build. It happens after i enabled merging and minifying js files in the admin. but the moment i cant go back as all js is broken because of the 404 error of mixins and require.min,.js

[2016-05-04 04:11] samtay opened #4393 "Cannot create widget from install script"
This is related to #1405, lack of area code being set during `bin/magento setup:upgrade`. There are events after the widget save that deal with generating layout xml -- which relies `Magento\Theme\Model\View\Design`, which then tries to access the current app state area code.

[code]

[2016-05-04 04:40] thomvanderboon commented on #4181
@okorshenko Thanks. Did test on latest development and I can confirm issue is fixed. Please move the i18n fixes a.s.a.p. to the stable branch Please :)

[2016-05-04 05:19] pboisvert commented on #2958
@antboiko Anton--does this fall under product creation ownership? if so please accept and route as either issues or feature requests as applicable

[2016-05-04 05:21] pboisvert commented on #2821
@piotrekkaminski Piotr--passing to you as this seems like a dev experience issue. If not please reassign as needed.

[2016-05-04 05:24] pboisvert commented on #2553
@tanya-soroka Tanya--are you the right owner for this until the item moves from backlog to development?

[2016-05-04 05:30] pboisvert commented on #2035
@elenleonova Elena--domain owner page shows you for sitemap so assigning to you

[2016-05-04 05:32] pboisvert commented on #1991
@antboiko Anton--passing to you since this is a catalog function

[2016-05-04 05:34] pboisvert commented on #1843
@piotrekkaminski Piotr--can you own this one or reassign as appropriate?

[2016-05-04 05:36] pboisvert commented on #1823
@choukalos Chuck--i see your reference to a closed issue. Can you take a look at this one and reassign as needed?

[2016-05-04 05:38] pboisvert commented on #1715
@elenleonova Elena--can you take ownership on this one? @piotrekkaminski Wasn't this one of the hack ideas from Imagine? If so is there a starting point that could be leveraged?

[2016-05-04 05:39] pboisvert commented on #1638
My suggestion of "Here be Dragons" was dismissed outright. Will run this by UX team for a recommendation.

[2016-05-04 06:14] kanduvisla opened #4394 "Undefined index notice when trying to add a new user role"
When I try to add a new user role in the admin I get the following notice on production mode (and developer mode too):

[code]

Anyone knows what causes this? Or why I even am seeing notices on production mode? I thought those where suppressed?

[2016-05-04 06:41] kandy commented on #4393
If you need run some code in specific aria you nee use code like

[code]

where state is instance of  `Magento\Framework\App\State` class

[2016-05-04 06:42] #4393 closed, assigned to nobody

[2016-05-04 07:29] antboiko commented on #2923
Internal ticket MAGETWO-49913 have been created #2314.

Best,
Anton.

[2016-05-04 07:43] antboiko commented on #3607
Hi @hungvt , I've created internal ticket MAGETWO-52474 and added it to the backlog to cover the feature described in the second case.

Best,
Anton.

[2016-05-04 07:52] tkn98 commented on #4383
@mazhalai: If you look closer, this is not a genuine EE issue. Even my report cites it, the component this report is about is MagentoHackathon/Composer that is incorporated in the Magento 2 project. Do you think it's still worth to open an issue in the partner portal?

[2016-05-04 08:08] peec commented on #2797
Not fixed in 2.0.5 either.

## THE PROBLEM

[code]

## NOW LETS SEE:

[code]

## TEMPORARY SOLUTION:

[code]

[2016-05-04 09:04] benbor commented on #4386
@flancer64 Hi. All right! The same method from this repo **for 2.0.5 tag** has wrong  [code](https://github.com/magento/magento2/blob/2.0.5/lib/internal/Magento/Framework/Translate/Inline/Proxy.php). I think you can use develop branch or wait one more patch version.

[2016-05-04 09:18] kozhemyakin opened #4395 "Minimum Order Amount doesn't work at the checkout page"
## **Steps to reproduce**
1. Go to Configuration -> Sales: enable "Minimum Order Amount" and set some value in "Minimum Amount" _(e.g. Minimum Amount = 40$)_
2. Go to Marketing -> Cart Price Rules: create some code with fixed amount discount _(e.g. Discount = 20$)_
3. Go to frontend: add some product, which has price more than Minimum Amount _(e.g. Product Price = 45$)_ to cart and go to the check

[2016-05-04 10:07] OLTC-fperrin commented on #4113
Hi,

I'm having the same issue here, although the process is a bit different the end result is the same and I can reproduce it every time.

**Store config:**
1 Website
1 Store
2 Store views (EN, FR)

**Process**
1. Create CMS page "Page1" for "All Store Views" (saves page ok, rewrite created for all store views)
2. Edit CMS page "Page1" to set the store view to EN only (saves page ok but rewrite r

[2016-05-04 10:11] mengento commented on #3323
+4

[2016-05-04 11:11] abhilashac opened #4397 "Custom address attribute not getting saved in sales order address (Enterprise Magento ver. 2.0.2)"
## Steps to reproduce
1. Create an address attribute from stores >> Attribute >> Customer address.
2. Set the attribute input type as Text Field
3. Set show in Frontend and show in Customer Address Registration and Customer Account Address forms.
4. The new text field will show up in forms.
5. Add an address in Customer >> Address Book >> Add new address, also input some value in the new attribute

[2016-05-04 11:26] alex-parra opened #4398 "Deploy Static files - backend only or specific module"
First time here, so apologies if not the right place for this.

I've search and could not find a way to deploy static files for the backend only.
Is this possible, planned or would cause issues?
Or is it possible to deploy static files for a specific module?

When we run bin/magento setup:static-content:deploy it goes through all themes.
And it takes too long (about 2 minutes) considering the only

[2016-05-04 11:27] paales opened #4399 "Render product options with template instead of directly with block"
https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Block/Product/View/Options/Type/Select.php

It currently renders the HTML in the block, would be nice if is rendered in a template. That would make customization a lot easier.

[2016-05-04 11:45] karanbhomiagit commented on #2655
Hi, Any update on this? This seems to be a serious bug and is a blocker for me.

[2016-05-04 11:47] vkublytskyi commented on #4397
This issue have been already fixed in 2.0.5.
@abhilashac Please do not post EE related issues on github. Please use partner portal for such reports.

[2016-05-04 11:49] maderlock commented on #3832
Apologies for not responding to this - I wasn't getting notifications. I'll test again on the latest version..

[2016-05-04 12:30] flancer64 commented on #4386
I'll wait.

[2016-05-04 12:46] yagneshponkiya opened #4400 "Configurable option renderer template override is not possible"
## Steps to reproduce
1. Have Created custom module to override **Magento_ConfigurableProduct::product/view/type/options/configurable.phtml** using module.
   2.Llayout code in catalog_product_view_type_configurable.xml

`<referenceBlock name="product.info.options.configurable">
            <action method="setTemplate">
                <argument name='template' xsi:type="string">Namespace_ModuleNa

[2016-05-04 13:08] mazhalai commented on #4391
@OgreMHDW What version of Magento, OS, webserver? Also, did you deploy via git, composer create-project or downloaded a zip from magento.com?

[2016-05-04 13:09] bh-ref commented on #3545
the same problem applies to text- and visual-swatches, too

[2016-05-04 13:10] mazhalai commented on #4392
@jamescowie is this after installation? during upgrade or update? This php version is the CLI version, ie the php version that cron uses. Please update your CLI PHP to be the same as the one used by web.

[2016-05-04 13:16] mazhalai commented on #4383
@tkn98  I agree with you, however, we do not want to encourage posting of EE issues on Github. Especially posting code, no matter how insignificant. Also, this is not an error, just a Deprecation Notice, do it does not break anything yet.

[2016-05-04 14:06] vil11 commented on #4317
We still can't reproduce it neither on Win7 (GChrome 50, IE11, MFirefox 45) nor on Mac 10.10 (Safari 9.1) - all the grid lines are present, current day is highlighted without the hover.

Have you flushed Magento cache after the Configs save?
Have you cleared your browser cache?

[2016-05-04 14:09] gewaechshaus commented on #2732
We're running into the same issues... Fresh instance, fresh composer installation(2.0.5).
Luma OOB settings.

After setting the js merge+bundle+minify config and deploying static files, the front- and backend doesn't respond anymore, cause hhvm or php7fpm (or php whatever) processes are going up to 100%+ cpu which results in a partially frozen service. The process rests even 2min in space before i

[2016-05-04 14:13] bh-ref commented on #3545
here some guidance if you already created the attributes and need to remove the values from the database: https://github.com/magento/magento2/issues/3545#issuecomment-215442156

[2016-05-04 14:14] sameasterling opened #4401 "Visual Swatch for Custom Options"
We seriously need visual swatches for custom options.

[2016-05-04 14:22] rafaelstz commented on #4401
I see it as necessary, if the customer does not manage inventory, but has variations like configurable.

[2016-05-04 14:27] davidalger commented on #4398
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-05-04 14:27] #4398 closed, assigned to nobody

[2016-05-04 14:30] agjalpm commented on #2997
This is really embarrassing me.

Can anybody tell me how to install/add an extension from _extension key_ in Magento 2 stepwise?

[2016-05-04 14:43] anton-huz commented on #4322
Currently not reproducible on Magento 2.0.5.
Was retested with
- enabled "Minify JavaScript Files"
- enabled "Minify JavaScript Files" + "Enable JavaScript Bundling"

I'm closing the issue.

@ @stevekem, @adzminz
if you can still observe issue, please try to flush your browser cache or run it in Privacy mode. If you will still faced issue please provide a little bit more details about environment

[2016-05-04 14:43] #4322 closed, assigned to guz-anton

[2016-05-04 14:44] anton-huz commented on #2938
Currently not reproducible on Magento 2.0.5.

[2016-05-04 14:44] #2938 closed, assigned to guz-anton

[2016-05-04 14:50] vil11 commented on #4079
The 1st hover on your video isn't performed because correspondent browser window isn't active (see browser header action panel). Once you activate browser window, the hover works as expected - Product plate appears by hover on image/price.

---

:sunny: dima vilchynskyi, M2 QA

[2016-05-04 14:59] antboiko commented on #4079
@duffner I'm closing this issue as it's not a bug.

Regards,
Anton.

[2016-05-04 14:59] #4079 closed, assigned to nobody

[2016-05-04 15:01] erikhansen commented on #4331
@mazhalai I just experienced this on a project. More and more merchants are going to run into this over the coming weeks as the _Password Lifetime (days)_ value defaults to 90 days, so merchants who installed Magento 2 90 days prior will run into this issue. In fact, every merchant that has installed Magento 2 up to this point is going to run into this issue, so this is a pretty big issue that sho

[2016-05-04 15:23] samtay commented on #4393
I would still consider this a bug. Shouldn't have to emulate an area code every time we want to create entities in an `InstallData` class.

[2016-05-04 15:24] ntzz commented on #2855
@bondimedical3 @rganin Could it be part of my problem with launch correctly a cron to see the log?
http://magento.stackexchange.com/questions/113972/cron-magento2-didnt-work

[2016-05-04 15:31] OgreMHDW commented on #4391
I have tested this on Magento 2.0.4 and 2.0.5. The OS is CentOS 7 running Apache2. The deploy was done with Composer.

[2016-05-04 15:34] antboiko commented on #2992
Hi @zamboni084, thanks for your inquiry. I've created internal ticket MAGETWO-52488 for this feature and added it to the backlog.

Best,
Anton.

[2016-05-04 15:36] okorshenko commented on #4009
Hi @jaimestuardo , here is a documentation for Magento 2 plugins. http://devdocs.magento.com/guides/v2.0/extension-dev-guide/plugins.html
Please, let me know if you need some help

[2016-05-04 15:41] mazhalai commented on #4391
@OgreMHDW Thank you, we have created MAGETWO-52489 to investigate and fix

[2016-05-04 15:47] antboiko commented on #4097
Hi @joshdifabio , thanks for your inquiry. I've created internal ticket MAGETWO-52491 for this improvement and added it to the backlog.

Best,
Anton.

[2016-05-04 15:48] pboisvert commented on #1554
@piotrekkaminski Piotr can you take this one for dev experience?

[2016-05-04 15:50] pboisvert commented on #1006
passing to Chuck as Performance PM

[2016-05-04 15:56] alex-parra commented on #4391
I'm experiencing this also.

[2016-05-04 16:05] maghamed commented on #2121
Current issue has been fixed and delivered in the scope of 2.0.3 patch release.
So, it's now available on github
The fix is the same as @ktruehl provided above
https://github.com/magento/magento2/blob/develop/app/code/Magento/CatalogSearch/Model/Adapter/Mysql/Plugin/Aggregation/Category/DataProvider.php

[2016-05-04 16:09] mazhalai commented on #4391
@OgreMHDW  @alex-parra any errors on browser's console log?

[2016-05-04 16:15] joshdifabio commented on #4097
Thank you. Please also consider the implications for other API actions which reference category ID's, such as updating product-category associations via the product API. When third party platforms, such as Akeneo, tell us which categories a product is associated to we currently have to map each of the business category identifiers to a Magento category ID before we can update the product via the A

[2016-05-04 16:23] quienti commented on #3294
I can confirm this bug, when I'm logged in fronted

When I use this :

[code]

My return is false...

But, when I used this, it's work fine :

[code]

[2016-05-04 16:26] alex-parra commented on #4391
Went to check again.
My /setup/ screen (browser) now is blank and the following error on error_log.

[04-May-2016 14:50:57 UTC] PHP Fatal error:  Uncaught exception 'Exception' with message 'Notice: Undefined index: arguments in /home/m2bysoftag/public_html/vendor/magento/framework/ObjectManager/Config/Compiled.php on line 132' in /home/m2bysoftag/public_html/vendor/magento/framework/App/ErrorHand

[2016-05-04 16:30] mazhalai commented on #4391
@alex-parra can you please clean your var/di and var/generation folder and try again.

[2016-05-04 16:39] rwemmercksys opened #4402 "Rest API: JSON Response for Orders showing incorrect shipping address"
## Steps to reproduce
1. Create at least 2 Orders in Magento 2.0.5
2. Execute a REST call to retrieve orders using GET Method
   a. Example URL: http://192.168.1.9/magento/index.php/rest/V1/orders?searchCriteria[filter_groups][0][filters][0][field]=status&searchCriteria[filter_groups][0][filters][0][value]=Processing
3. If you use my url, be sure to change the order statuses to processing for both

[2016-05-04 16:40] alex-parra commented on #4391
Hi @mazhalai. rm -rf var/di and var/generation.
Got the circular reference screen posted by @OgreMHDW.
The browser console log displays:
"NetworkError: 401 Unauthorized - http://magento2.bysoftag.com/setup/index.php/session/unlogin"
Tried a few times... With Firefox v45 and Chrome v50

[2016-05-04 16:44] mazhalai commented on #4391
@alex-parra Any errors in server log? Does your var directory have correct permissions?

[2016-05-04 16:45] alex-parra commented on #4391
Server:
- CLOUDLINUX 6.7
- Apache/2.2.29

Magento 2 Cookies Config:
- Cookie Lifetime: 3600
- Cookie Path: /
- Cookie Domain: magento2.bysoftag.com
- HTTP Only: Yes

[2016-05-04 16:47] gacleg commented on #4317
I flushed Magento and browser cache and seems to solve highlight of current day but gridline still not showing, just in FF.  See attached.  Am I able to suppress display of the Wk column?
![calendar1](https://cloud.githubusercontent.com/assets/18035280/15021718/3b670036-11dd-11e6-9a98-ef680f937c81.jpg)

[2016-05-04 16:50] alex-parra commented on #4391
error_log is empty now.
- var and subfolders 770, files 660

[2016-05-04 18:16] mazhalai commented on #4392
@jaimestuardo can you please post screenshot of your error?

[2016-05-04 18:26] ghost commented on #4392
@jaimestuardo Did the PHP readiness check fail? (Working on a documentation update.)

[2016-05-04 18:56] rafaelstz opened #4403 "New 2.0.5 does not compile theme created for 2.0.2"
## Steps to reproduce
1. Install Magento CE or EE.
2. Use theme created to 2.0.2 in 2.0.5.
3. This theme must have the folder `web/css/source`.
4. Remove files in `var/*` and `pub/static/*`.
5. Run this command in terminal `php bin/magento setup:static-content:deploy`.
## Expected result
1. The static files are generated without errors in the terminal.
2. Apparently everything works normally.
## A

[2016-05-04 19:05] foxer-zt commented on #4392
@jaimestuardo, readiness check detects PHP version by parsing composer.lock, so you can just regenerate it.

[2016-05-04 20:07] LeeSaferite commented on #2561
For me the problem suddenly appeared on April 29th or April 30th.  We've had --no-dev in out build process since the beginning and this suddenly started happening. Due to the way out build process works we cannot use the composer.lock file. I'm guessing something changed in one of the million magento packages that broke something.

Using Magento 2.0.4

[2016-05-04 20:32] jonsaf opened #4404 "Visual Swatch and Filterable (no results) not displaying swatches correctly"
## Steps to reproduce
1. If you have visual swatches as a selection for attribute with Filterable (no results) setting, and that attribute is being used to create a configurable product, the swatches displayed do not confirm with what is expected from other attributes with the same settings.
## Expected result
1. Filterable (no results) means that what should display is all the results pertaining

[2016-05-04 20:43] jaimestuardo commented on #4392
I have removed composer.lock but I get this error now:

"Sorry, we can't take that action right now."

[2016-05-04 20:47] mazhalai commented on #4392
@jaimestuardo please recreate it by running `composer install` in your magento root folder

[2016-05-04 20:58] jaimestuardo commented on #4392
I am in magento root folder, however, the .json file is trying to be located in another location.

[root@vps-1128921-x /home/depasa/public_html] # composer install
X-Powered-By: PHP/5.6.13
Content-type: text/html; charset=UTF-8

Warning: Composer should be invoked via the CLI version of PHP, not the cgi-fcgi SAPI
Running composer as root/super user is highly discouraged as packages, plugins and sc

[2016-05-04 21:55] LeeSaferite commented on #2561
One thing that resolve the issue for me was 'rm -rf /dev/' since this is a prod package I have no need of the dev subdirectory anyway.

@alankent Why is /dev part of the base package and no a require-dev include?

[2016-05-04 22:00] jaimestuardo commented on #4392
I have solved the problem about PHP CLI, but now when running composer install, authentication is required for repo.magento.com. I have used my same credential of MarketPlace, but it did not work.

[2016-05-04 22:02] ikruchynskyi commented on #4392
@jaimestuardo, please, look here for solution http://devdocs.magento.com/guides/v2.0/install-gde/prereq/connect-auth.html.

[2016-05-04 22:51] forgeonline opened #4405 "addAttributeToFilter in Product List is no effect"
## Steps to reproduce
1. Create a Product attribute (Text Field) named groupcatalogavailability which will programmed to add Customer Groups to given product in backend. All works fine (Use text values for testing)
2. write a event hook for catalog_block_product_list_collection
3. Apply addAttributeToFilter to observer to filter listing with testfield
## Expected result
1. Should filter result bas

[2016-05-04 23:03] jaimestuardo commented on #4392
I have finally updated, however, this is shown at the end:

Deprecation Notice: The callback MagentoHackathon\Composer\Magento\Plugin::onNewCodeEvent declared at /home/depasa/public_html/vendor/magento/magento-composer-installer/src/MagentoHackathon/Composer/Magento/Plugin.php accepts a Composer\Script\CommandEvent but post-update-cmd events use a Composer\Script\Event instance. Please adjust your

[2016-05-04 23:07] jaimestuardo commented on #4146
I have upgraded to version 2.0.4 but the same error occurs.

[2016-05-05 04:31] agjalpm opened #4406 "Can anybody tell me how to install/add an extension from extension key in Magento 2 stepwise?"

[2016-05-05 05:20] karanbhomiagit commented on #4385
I am also facing the same issue. The invoice status does not change when making a V1/invoices/{id}/capture API call.

[2016-05-05 06:06] raykai opened #4407 "system ram requirement"
just wondering what it minimum Ram and the recommended Ram would be as in the system requirement is missing this info.

[2016-05-05 06:06] agjalpm commented on #2527
@mage2pro Why Magento does not work properly on top-level domain like `localhost`?

[2016-05-05 06:50] srinivasanithin commented on #4385
Hi

I see that payment is getting settled in payment gateway (braintree sandbox) when capture rest api call is made but it is not changing the status of the invoice in Magento. It remains in pending status. Can you guys please fix it?

[2016-05-05 07:57] chong1227 commented on #4374
same error....  did you fix it ?

[2016-05-05 07:59] YellowSmith commented on #3865
Still not fixed. Any suggestions?

[2016-05-05 08:03] clhari commented on #4071
I got the same issue in production mode, but not in developer mode.

[2016-05-05 08:05] gewaechshaus commented on #4407
You can't give an exact value how much RAM is needed cause it depends on what you want to do with the system, how many transactions it should be able to handle, how much data does innodb hold and so on...

F.e. - in some cases it makes sense to split the db and app servers. A DB-Server normally needs more RAM than an APP-Server which needs more CPU to handle php processes etc.

If you would go for

[2016-05-05 08:21] pynej opened #4408 "Cant checkout with Paypal PayFlow Pro"
We have everything configured and can see the approval response from PayFlow in the debug log, but the fronted/spiny wheel never goes away an no order is ever created.

No errors or the logs or in the browser console.

Here is the approval response in the log:

[code]

I'v tried in test and production, with precompiled code and without, in developer mode and production. No luck and no errors anywh

[2016-05-05 08:27] Sanuch commented on #4283
Hi @daim2k5

I tried to create cart price rule which should base on a product attribute.
I think it's customer's specific case and I cannot reproduce it on v2.0.4

[2016-05-05 08:42] gewaechshaus commented on #4406
https://firebearstudio.com/blog/how-to-install-magento-2-modules-extensions.html

[2016-05-05 08:47] mrkhoa99 commented on #2527
@agjalpm this issue occurs on Chrome. You can read more here: http://superuser.com/questions/274562/teach-google-chrome-to-understand-custom-tld
https://bugs.chromium.org/p/chromium/issues/detail?id=30636

[2016-05-05 08:53] anthony1510 commented on #2389
It's worked! Thank @antonkril nkril  very much

[2016-05-05 09:32] rashidtab commented on #2531
@chapagain   Sudo command worked for me.

[2016-05-05 09:54] anton-huz commented on #3856
Because main producer for date-time configuration is Backend (Php app with ICU datetime format).

[2016-05-05 09:58] dkvashninbay commented on #4408
Hi @pynej ,
May your issue be related to this one https://github.com/magento/magento2/issues/3509 ?

[2016-05-05 10:12] OleksiyOleksiyovych commented on #3856
Ok, but can I set 24h time format in calendar?

[2016-05-05 10:20] kumbas1 commented on #3856
Currently there is fix for issue MAGETWO-52178 waiting to be merged in mainline.

[2016-05-05 10:28] vil11 commented on #4317
In order to disable the **week counter** you may go to **/app/code/Magento/Theme/view/frontend/templates/js/calendar.phtml** file & set **showWeek** = false.

But the issue with MFirefox stays unknown...
Try to change yours MFirefox zoom to several custom values in both directions (Ctrl + / Ctrl -) & then back to default state (Ctrl 0).
Which Magento version do you use?
Which MFirefox version do y

[2016-05-05 10:54] katmoon commented on #2855
@ntzz It seems to be a different problem. You can submit a new issue here on github for your problem if it doesn't exist yet.

[2016-05-05 10:54] SasiKiranK commented on #1958
Hi Team

Please provide any other way to create the empty page or without head.

Thanks

[2016-05-05 12:42] pynej commented on #4408
Hrm.  I'm not sure.  Now that you mention it I notice that the `amt` in the log is 0 but the cart actually had a total sale of $2.  But it also comes back and says approved.  So maybe it is approved but for the wrong amount so nothing happens.

I do have Payment Action set to Authorization so maybe that is causing the issue?  I will read through some of the documentation links in that other bug ca

[2016-05-05 13:05] kandy commented on #4151
@sammarcus, i use Tier Pricing

[2016-05-05 13:15] mazhalai commented on #4406
@agjalpm this is only for bug reporting. Please post your question on [stack exchange](http://magento.stackexchange.com/) or [Magento community forums](https://community.magento.com)

[2016-05-05 13:15] #4406 closed, assigned to nobody

[2016-05-05 13:17] mazhalai commented on #4392
@jamescowie we are working on fixing that deprecation notice. Ticket MAGETWO-52431

[2016-05-05 13:18] mazhalai commented on #4344
@jaimestuardo has your issue been resolved?

[2016-05-05 13:23] vancoz commented on #4407
Hi @raykai we have not added php memory limit requirements on installation readiness check. But some operations can require more memory, for example compilation process requires 756M of memory and we added this as requirement in Setup Wizard Readiness Check step. Also Setup Wizard needs more memory to complete Upgrade/Install process(based on Composer), so we recommend to have at least 2G for this

[2016-05-05 13:23] #4407 closed, assigned to nobody

[2016-05-05 13:32] ksz2013 opened #4409 "Invoice pdf generation not in proper language"
### Summary (*)
We are using a store with 3 store views, each store view a different language. Everything is ok on frontend, proper languages are displayed.
The problem is on the backend when we are generating the invoice pdf, (also shipping) the generated pdf is in the language of the admin logged in user. It is not taking in consideration the language of the store view where the order was placed

[2016-05-05 13:40] antboiko commented on #2855
@bondimedical3 We couldn't reproduce your issue. Looks like it's on your side.

Please try post your question on [stack exchange](http://magento.stackexchange.com/) or [Magento community](https://community.magento.com/) forums.

Best,
Anton.

[2016-05-05 13:55] antboiko commented on #3641
Hi @mitul69 , thanks for your inquiry. I've created internal ticket MAGETWO-52537 to track this feature and added it to the backlog.

Best,
Anton.

[2016-05-05 14:05] antboiko commented on #4387
@thomasnordkvist
Hi Thomas, could you please tell me what Magento version you use?

Thanks,
Anton.

[2016-05-05 14:08] palmultimedia opened #4410 "Magento 2 problem on Godaddy VPS Stylesheel not loaded..."
I have created VPS on godaddy and install Magento 2 CE 2.0.5 successfully. After installation when I try to open front page or admin page it comes like without style sheet loaded...like in plain text only.
Contacted Godaddy saveral time and have no satisfied answer.
mod_rewrite - checked and working...!
here is domain name
www.hyperretail.co.uk

Can any one guide me where is the problem?

[2016-05-05 14:11] palmultimedia commented on #4410
I have created VPS on godaddy and install Magento 2 CE 2.0.5 successfully. After installation when I try to open front page or admin page it comes like without style sheet loaded...like in plain text only.
Contacted Godaddy saveral time and have no satisfied answer.
mod_rewrite - checked and working...!
here is domain name
www.hyperretail.co.uk

Can any one guide me where is the problem?

[2016-05-05 14:13] jaimestuardo commented on #4344
No... this is really a mystery.
![image](https://cloud.githubusercontent.com/assets/9195659/15045651/23556066-12b2-11e6-888f-6b72c56b9273.png)

And if I run phpinfo, I get this:
![image](https://cloud.githubusercontent.com/assets/9195659/15045672/44a8424c-12b2-11e6-86e5-71222cae6c57.png)

The same result was obtained at command line using "php -i" command.

[2016-05-05 14:47] ghost commented on #4392
@jaimestuardo To help with the PHP readiness check, we just published [this topic](http://devdocs.magento.com/guides/v2.0/comp-mgr/trouble/cman/php-version.html). Please let us know if you think it's useful.

[2016-05-05 14:59] RMcLeod79 commented on #2574
Still broken in 2.0.5

[2016-05-05 14:59] ghost commented on #4344
The only obvious thing is to restart the web server. Assuming you did that, because you evidently have >1 version of PHP installed, make sure you change the value in all the `php.ini` files, at least for troubleshooting.

The command `php --ini` and `which php` probably report the first one in your `$PATH`. You'll need to find any other `php.ini` files and modify them. Ultimately, you should put o

[2016-05-05 15:07] mazhalai commented on #4397
Closing since this an EE issue.

[2016-05-05 15:07] #4397 closed, assigned to nobody

[2016-05-05 15:09] jaimestuardo commented on #4392
I have followed instructions in that page,  but it did not help at all. These are the commands I issued in console:

[code]

phpinfo page shows this:

![image](https://cloud.githubusercontent.com/assets/9195659/15047051/57e10d24-12b9-11e6-8dc1-89b1bcf5c123.png)

![image](https://cloud.githubusercontent.com/assets/9195659/15047035/4986e906-12b9-11e6-9021-ffa7215880af.png)

![image](https://cloud.gi

[2016-05-05 15:15] joanhe commented on #3583
It looks like this is caused by the issue in HHVM. I will close this. @shalavjaiswal @xplodeart Please let us know if you find other cause than this HHVM issue. Thanks.

[2016-05-05 15:15] #3583 closed, assigned to nobody

[2016-05-05 15:17] mazhalai commented on #4394
@kanduvisla what version of Magento?

[2016-05-05 15:18] mazhalai commented on #4381
Thank you for reporting, we have created MAGETWO-52550 to investigate and fix.

[2016-05-05 15:36] mlogvin commented on #4385
Hi, internal ticket MAGETWO-52552 created

[2016-05-05 15:36] astorm commented on #3845
Any update/ETA on this?  It's causing a real world problem for an extension/theme developer who's migrating their theme to Magento 2.

[2016-05-05 15:37] jaimestuardo commented on #4344
This is obvious, that is why I think this is a mystery. When I run php --ini I get this:

[code]

The fact is in that path, there is no ini file.

I will modify the variable in all PHP.ini files I have and will see what happen.

[2016-05-05 15:46] stamster commented on #4410
Which web server in particular do you use? What HTTP status code do you get from web server while tying to load styles? 404 is expected, but can be also 500.
It must be some issue with your configuration of pub or var dirs, and/or static content not deployed.
Run  cache:clean, cache:flush, setup:di:compile, setup:static-content:deploy from command line using magento CLI app ("binary").
example:
`m

[2016-05-05 15:48] YevSent commented on #4402
Hi @rwemmercksys, thanks for your reporting. We created internal ticket MAGETWO-52554.

[2016-05-05 15:59] jaimestuardo commented on #4392
Maybe it would help if you tell me what component or module or whatever is ran to detect PHP version. Maybe I could troubleshoot the problem by myself

[2016-05-05 16:01] #4251 closed, assigned to nobody

[2016-05-05 16:05] vil11 commented on #4313
@SidneyBilliet

Hi, Sidney!
Thanks for a detailed report. We've already fixed this & delivered fix to mainline. See details [here](https://github.com/magento/magento2/issues/3361). Please let us know if you won't be able to change Product Attributes via mass actions after the Magento version update.

![05-05-2016 18-49-34](https://cloud.githubusercontent.com/assets/5585456/15048767/901038ca-12f3-1

[2016-05-05 16:06] #4313 closed, assigned to nobody

[2016-05-05 16:07] ntzz commented on #2855
@antboiko i had already create an issue on stackoverflow a few comments before, could you check if you could find anything wrong there?

[2016-05-05 16:48] ruby10 commented on #2607
@NadiyaS  Any update on this issue?

[2016-05-05 17:51] gacleg commented on #4317
We are using Magento 2.04 FF is 46.0.1.  If I Ctrl + and Ctrl - both look perfect!

Thanks for the help.

[2016-05-05 18:05] thomasnordkvist commented on #4387
I have this issue in version 2.0.4 whish is the only version I have access to at the moment

[2016-05-05 18:17] nigelcopley opened #4411 "Product Fields Auto-Generation Including HTML for meta fields"
When  reviewing products on the live site, i can see that the meta desciption is being generated to include html tags rather than just plain text which results in a random display of content on product pages.

![image](https://cloud.githubusercontent.com/assets/1584853/15052462/c4fcf422-12f5-11e6-93cc-494a7a762458.png)

![image](https://cloud.githubusercontent.com/assets/1584853/15052515/00c64364-

[2016-05-05 18:52] navarr commented on #1022
This may no longer be worthwhile as Chrome is removing requestAutocomplete:

https://codereview.chromium.org/1931043002/#ps110001

[2016-05-05 18:53] gewaechshaus commented on #4345
Also js merge minify bundle totally freezes cpu in Magento 2.0.5 in our case...

[2016-05-05 19:17] adamzero1 opened #4412 "Unable to extend primary config"
Hi,

I'm struggling to see a way to extend primary configuration, without copying files outside of the vendor folder. (which I see as bad practise, though this may be wrong?)

I am trying to extend the the model Magento\Framework\Setup\BackupRollback to change the functionality of the method: getCodeBackupIgnorePaths() (to alter the exclude paths - as they aren't configurable)

So I was hoping I c

[2016-05-05 19:51] nes710 commented on #4408
I had the same issue took me weeks to get it to work.

Set Payment Action to Sale not Authorization or you will not get payment.  In PayPal Manager set URL Method to POST instead of GET.  Make sure secure token is checked.  Also be sure you're not using the same user as the PayPal Manager, create a user under it for Magento.

[2016-05-05 19:55] nes710 opened #4413 "Magento 2.0.5 product import giving"
## Steps to reproduce
1. Upgrade to Magento 2.0.5
2. Run product import, even export/import sample data
## Expected result
1. Products import
## Actual result
1. "General system exception happened"

Had no issues importing same file with 2.0.2 and 2.0.4.  Have tried redownloading sample product upload file from 2.0.5 and re-uploading it and still get same error.

[2016-05-05 20:57] jpreed2 opened #4414 "Gift Message not returned via API on getList"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Call API GET /V1/orders?searchCriteria=
## Expected result
1. Result contains list of all orders including [extension_attributes][gift_message] object.
## Actual result
1. gift_message object is not returned.

When retrieving a specific id using:
GET /V1/orders/xxx

The [extension_attributes][gift_message] object is returned.  The

[2016-05-05 21:11] keithbentrup commented on #3460
@erikhansen @lilmuckers I cherrypicked @davidalger's #3339 in 2.0.5. While `bin/magento cache:flush` now works as expected, the admin "Flush Magento Cache" option does not generate a PURGE reguest, and all I see in varnishlog is `HttpGarbage    "PURGE%00"`. Can anyone else confirm?

[2016-05-05 21:22] erikhansen commented on #3460
@keithbentrup I have a Magento Enterprise site running 2.0.5 and clicking the "Flush Magento Cache" button results in this output from `varnishlog` (we're using Varnish 4):

[code]

Make sure you've configured Varnish properly. Here are the Magerun 2 commands we use to configure  Varnish in our standard environment:

[code]

You'll also want to make sure you have the latest VCL from 2.0.5.

[2016-05-05 22:16] keithbentrup commented on #3460
I believe the config settings are just populating core_config_data and used to generate the sample VCL file. The settings are actually read from app/etc/env.php on the app server, and of course, the active VCL conf loaded on the varnish server.

Regardless, the app server and the cache server are communicating (otherwise, I wouldn't be seeing any responses or the output in varnishlog). `bin/magent

[2016-05-05 23:12] bondimedical3 commented on #2855
@antboiko You need to investigate this issue further. Stack Exchange is already flooded with the same question from many people. You haven't even bothered to ask for my Admin details.

[2016-05-05 23:37] jpreed2 commented on #4319
I've confirmed this is working now in the develop branch.  Thanks.

[2016-05-06 01:32] jpreed2 commented on #3727
That looks like JSON to me, not XML.

[2016-05-06 01:54] OgreMHDW commented on #3572
I have full page cache turned off and still having the issue. I even rebuilt the site thinking the composer install was the issue, it is the same with a downloaded zip install.

[2016-05-06 04:47] maityutpal commented on #3727
The data is in XML format . If there is problem in that XML please tell me where I have to change .

[2016-05-06 05:26] enochrod opened #4415 "Help link, links to Magento Community Edition, 1.9.2.4 getting started guide"
## Steps to reproduce
1. Go to stores > configuration
2. Click on help icon with question mark
## Expected result
1. Should go to help page for Magento 2
## Actual result
1. Goes to Magento Community Edition, 1.9.2.4 getting started page
   http://merch.docs.magento.com/ce/user_guide/Magento_Community_Edition_User_Guide.html#configuration/scope.html

[2016-05-06 05:32] ksz2013 commented on #4409
Hi guys,

Any update on this?

Thanks

[2016-05-06 05:37] jpreed2 commented on #3727
Sorry, you're right. I've only used JSON with the Rest API, so can’t help with XML. Are you setting the content type of your request to text/xml or application/xml?

[2016-05-06 07:33] YevSent commented on #4402
Duplicate for #4019

[2016-05-06 07:36] katesuykovskaya opened #4416 "Mini cart shows old values when customer session is over"
## Steps to reproduce
1. Magento 2.0.2, all cache types are disabled
2. go to frontend, do not log in
3. add few products to shopping cart
4. wait until session is over (1 hour by default)
5. go to shopping cart page
## Expected result
1. shopping cart and mini shopping cart should show the same values - zero in our case
## Actual result
1. shopping cart is empty, but mini shopping cart has added

[2016-05-06 07:42] antboiko commented on #4387
@thomasnordkvist thanks for reporting this issue. Internal ticket MAGETWO-52577 was created.

[2016-05-06 07:55] ksz2013 commented on #4409
Same happens on the latest 2.0.5 version, they are not translated. (This functionality worked well on magento 1).

Any feedback would be appreciated.

Best regards,

[2016-05-06 07:56] ksz2013 commented on #4409
Same happens on the latest 2.0.5 version, they are not translated. (This functionality worked well on magento 1).
Any feedback would be appreciated.

Best regards

[2016-05-06 08:20] palmultimedia commented on #4410
I am new here,, where can I run command? can I run in SSH? Please give me some steps to I can understand..

[2016-05-06 08:22] palmultimedia commented on #4410
How to check $MAGE_ROOT??

[2016-05-06 08:43] asemenenko commented on #4319
Closing the ticket as resolved. Thanks to all!

[2016-05-06 08:43] #4319 closed, assigned to nobody

[2016-05-06 08:52] asemenenko commented on #4019
Hi @tw123

We fixed it in develop branch. Closing the ticket as resolved. Thanks all. Feel free to re-open if there any open questions for this fix.

[2016-05-06 08:52] #4019 closed, assigned to NadiyaS

[2016-05-06 08:52] ntzz commented on #2895
@tigerx7 if still have the problem contact me and i will provide you my own module for the prefix order number/invoice

[2016-05-06 08:53] asemenenko commented on #4402
Hi @rwemmercksys
#4019 is already resolved on develop branch. Closing this one as duplicate.

[2016-05-06 08:53] #4402 closed, assigned to alena-marchenko

[2016-05-06 11:08] naveenabt commented on #3989
Hi,

I am also facing same issue.
And i have executed "bin/magento setup:static-content:deploy" command but issue not solved.

Thanks,

[2016-05-06 11:11] Aquarvin opened #4417 "Step 6: Install fails:"
During setup installation the magento 2 with (or without) sample data I catch such error:
`[ERROR] exception 'Exception' with message 'No Administrators role was found, data fixture needs to be run' in`
I used **Full Release with Sample Data 2.0.5.**

**Part of installation output:**

Module 'Magento_WidgetSampleData':
Installing data..

Module 'Magento_Wishlist':

Module 'Magento_WishlistSampleDa

[2016-05-06 11:13] arkadiych commented on #4016
@ircsome , I've installed Magento 2.0.5 from composer. I verified for php 5.6 and php 7. In both cases  it works as expected.
I'd recommend you to check permissions. Try also to debug the code.

[2016-05-06 11:18] redboxmarcins opened #4418 "Associating simple products with configs programmaticaly fails"
## Steps to reproduce

Using magento 2.0.5
Created 1 config product and 3 simple products.
All having same attribute set.

Now trying to associate

...

[code]

and now problematic part

[code]
## Expected result
1. I would expect that 3 simple products will be associated with config
## Actual result
1. No errors logged
2. Configurable product has no child / associated simple products

What I foun

[2016-05-06 11:24] andidhouse commented on #3451
Hi there,

we have exact the same problem when trying to backup.

Did you find a solution for this?

[2016-05-06 11:33] keithbentrup commented on #3460
I revisited this issue with xdebug which required a server restart. I could no longer reproduce and verified the path was set to "/". It was probably opcache related. Doh!

[2016-05-06 11:34] andidhouse commented on #4416
Same here. I think maybe this has something to do with sessions save?

[2016-05-06 12:06] shayanhusaini opened #4419 "Configurable product disabling lowest price associated product still shows its price"
## Steps to reproduce
1. Create a configurable product and associate simple products with it.
2. Disable the lowest price simple product
## Expected result
1. It should display the price of lowest enabled product
## Actual result
1. Displays the price of lowest disabled product
   ![1](https://cloud.githubusercontent.com/assets/9675791/15072510/a77df132-13ac-11e6-9799-9e5b1b5bc98e.png)
   ![2](htt

[2016-05-06 12:19] riversy opened #4420 "Usage of Magento\Framework\Stdlib\DateTime isn't normalized in the source"
Please open following classes:
\Magento\Eav\Model\Entity\Attribute\Backend\Time\Updated
\Magento\Eav\Model\Entity\Attribute\Backend\Time\Created

We can see that in both of classes \Magento\Framework\Stdlib\DateTime\DateTime is injected but never used.
![cool](https://cloud.githubusercontent.com/assets/773002/15072770/cab4aa7e-139d-11e6-981e-8a5c02242fe6.png)

[2016-05-06 12:54] aymone commented on #4242
+1 nginx, php7.0-fpm

[2016-05-06 13:00] redboxmarcins commented on #4416
Same here

[2016-05-06 13:58] mazhalai commented on #4417
@Aquarvin did you start with a clean database?

[2016-05-06 14:20] Aquarvin commented on #4417
@mazhalai  Sure, database was cleaned always before instalation

[2016-05-06 14:25] ghost commented on #4415
Thanks for letting us know. Forwarding to the merchant documentation team.

[2016-05-06 14:27] mazhalai commented on #4420
@riversy thank you for reporting, we have created ticket MAGETWO-52598 to investigate and fix.

[2016-05-06 14:29] mazhalai commented on #4417
@Aquarvin can you please share details of your environment? OS, webserver and MySQL versions too?

[2016-05-06 14:32] Aquarvin commented on #4417
@mazhalai  Windows 10 64-bit, XAMPP v3.2.1, PHP Version  5.6.3 , MySQL version 5.6.21

[2016-05-06 14:36] arthursp opened #4421 "Newsletter Cron Sending"
## Steps to reproduce

Launch cron for newsletter queue ( create a console script which load Magento\Newsletter\Model\Observer::scheduledSend() )
## Expected result

Newsletter correctly sent to subscribers
## Actual result

Not sent : "5.1.7 Bad sender address syntax"

cause of this :

`$transport = $this->_transportBuilder->setTemplateOptions(
                ['area' => \Magento\Framework\App\Ar

[2016-05-06 14:41] mazhalai commented on #4417
@Aquarvin can you post your complete install.log?

[2016-05-06 14:52] Aquarvin commented on #4417
@mazhalai
**Install.log**

<span class="text-info">Starting Magento installation:</span><br><span class="text-info">File permissions check...</span><br><span class="hidden">[Progress: 1 / 365]</span><br><span class="text-info">Enabling Maintenance Mode...</span><br><span class="hidden">[Progress: 2 / 365]</span><br><span class="text-info">Installing deployment configuration...</span><br><span clas

[2016-05-06 15:19] pboisvert commented on #4418
@antboiko Anton--can you confirm if expected or an issue and take next action as appropriate?

[2016-05-06 15:19] klec commented on #4296
I have pretty same issue with Magento\Directory\Model\Region.php when I'm passing the checkout as a Guest

[2016-05-06 15:31] mazhalai commented on #4417
@Aquarvin we have created MAGETWO-52603 to investigate and fix, but this is low priority since this is on windows. Officially, only [Linux distributions](http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html) are supported and we cannot reproduce this on error.

[2016-05-06 15:57] joanhe commented on #1817
@rklerck @cgrechcw @po2go-sean @sunilit42 It looks like this issue is fixed on the latest develop branch. Please make sure refresh layouts cache type after you update any layout. The cached layout without your change can be still used, which may appear that this function is not working correctly.

[2016-05-06 16:30] andidhouse opened #4422 "All store pages are uncached after one order with one product?"
Hi there,

we are facing a huge problem regarding the magento own caching.

We installed version 2.0.5 - all ok so far.
We installed sample data medium - all ok so far.

We crawled the hole site so every page is in the magento own cache.

But if we only place one order with one product ALL pages of the whole shop are uncached again?

Is this a bug or the normal magento cache behavior. In version 1

[2016-05-06 16:33] AddoSolutions commented on #2666
+1 Same issue here.  Tried manually specifying a path like `var/import_media` tried specifying `pub/media/import` and leaving it blank.  Any ideas?

[2016-05-06 16:38] Alkar778 commented on #3456
@Nas1k I investigated you issue, for correct displaying of you custom attribute, you should install attribute with `is_user_defined => true` property :)

[2016-05-06 16:54] pboisvert commented on #4422
Chuck--can you get this to the team to test if they are seeing the same?

[2016-05-06 17:28] rafaelstz commented on #4422
What is your deploy mode?

[2016-05-06 17:35] andidhouse commented on #4422
you mean magento mode?

Current application mode: default.

[2016-05-06 17:37] pboisvert commented on #1193
@piotrekkaminski Piotr--would you be the right owner here?

[2016-05-06 17:38] OgreMHDW commented on #4333
So an update. I figured this may have happened due to installing from Composer. I created a staging site and used the downloaded Magento 2.0.5 for installation. The site was working normally until I enabled SSL. After that I am experiencing the same issues as my other installation. Since SSL is critical to protecting passwords, this is not functional without it. No caching is being used on the new

[2016-05-06 17:52] devamitbera opened #4423 "Admin username is not case sensitive during login"
Hi Magento,

created an username is Amit ,password: paas1234 for backend at default Magento 2.0.5.

Whenever I have to try to login at  admin , then   enabled to log in with Username **amit** but My username: **Amit** . A is the uppercase letter.
 I have  also tried different 3 magento2 instance and  something occur to  all the instances.

As  per as,my concern it should case sensitive

Thanks

Am

[2016-05-06 18:17] joebusby commented on #4422
I am getting the same or very similar with each order invalidating the page cache.  With all the variations (over 300) we have for a configurable product, flushing the cache means the customer will wait quite a while to get the first product to respond after an order is placed by anyone.  The varnish cache can't help with this.   Any ideas for a workaround or what I have wrong?

Production mode  w

[2016-05-06 18:31] piotrekkaminski commented on #3938
We do have internal commit hooks that do just that. Will see if they are deeply tied to our process or can be used in more generic way.

[2016-05-06 18:51] rafaelstz commented on #4423
with **amit** is ok? And **Amit** not?

[2016-05-06 19:03] devamitbera commented on #4423
My Username is **Amit**. I _enable login with_ both **Amit** and **amit** username and at my system username  **amit** does not exist. User should not log in  with **amit** and it  should  be case sensitive always.

[2016-05-06 19:40] avoelkl commented on #4423
I don't think this is a bug.
That's the same behavior as in Magento 1:

The setting in Magento 2 can be found here:
Stores > Configuration > Advanced > Admin > Security
Login is Case Sensitive: No (=default)

[2016-05-06 20:03] devamitbera commented on #4423
Ya, @avoelkl ,it is my mistake. I have  found that setting  as you mentioned ... Sorry for such foolish question

[2016-05-06 20:05] pynej commented on #2855
Ok, doing a composer update has fixed that issue.

I am still being a similar/related issue where when i add a new product and wait ann the con jobs run and all by index's claim they are valid, but the new product wont show up unless i manually run the reindex.  I will try to get a more detailed explication next week.

[2016-05-06 20:10] joanhe commented on #4422
@andidhouse @joebusby What kind of cache do you use: builtin or Varnish?

[2016-05-06 20:29] orbitrod opened #4424 "Disabling module's output not saved"
## Steps to reproduce
1. Go to Stores > Configuration > Advanced > Advanced
2. Under Disable Modules Output, select disable next to a module.
3. Click Save
## Expected result
1. At the configuration page under Advanced > Advanced > Disable Modules Output, the drop down menu next to the previously selected module, should show as Disabled.
## Actual result
1.  At the configuration page under Advance

[2016-05-06 20:39] davidalger commented on #4423
@devamitbera No worries…there are no foolish questions! It's how one learns :)

Going ahead and marking this one as closed.

[2016-05-06 20:39] #4423 closed, assigned to nobody

[2016-05-06 20:54] choukalos commented on #4422
Created internal ticket:  MAGETWO-52605 for tracking; assigned as bug.

[2016-05-06 21:00] choukalos commented on #3926
Created internal ticket - MAGETWO-52607 for tracking as a performance bug.

[2016-05-06 21:00] choukalos commented on #3921
Re-assigning to Mark

[2016-05-06 21:07] choukalos commented on #3283
Adding to epic - MAGETWO-39787 for consideration (improved layered navigation)

[2016-05-06 21:08] choukalos commented on #2862
Re-assigning to Mark Brinton.

[2016-05-06 21:12] choukalos commented on #1530
re-assigning to Mark.

[2016-05-06 21:15] pboisvert commented on #768
@asemenenko Andrii--is this one your for checkout or for Piotr (security)?

[2016-05-06 21:54] joebusby commented on #4422
http goes through varnish  https goes to the server direct via forwarding ports 80 and 443

As required, the internal cache is enabled, but varnish is selected and configured  via:
Stores/Configuration/Advanced/System/Full Page Cache with the VCL file exported and plugged into varnish.  It works fine except the problematic breaks in the "Page Cache" validation, and the occasional problem with payp

[2016-05-07 01:34] mrkhoa99 opened #4425 "Remove some fields on checkout page."
**Steps to reproduce**

When customizing checkout page, we want to remove some fields (e.g company). There is a question on StackExchange: http://magento.stackexchange.com/questions/113992/how-to-remove-company-field-from-checkout-process-in-magento-2/

**Expected result**

Can remove these fields via layout or template.

Any guide how to remove these fields via layout or template?

[2016-05-07 08:30] anisagrebi commented on #3507
[2016-05-07 08:11:14] main.CRITICAL: Broken reference: the 'bannerslider.sidebar.left.top' tries to reorder itself towards '', but their parents are different: 'left' and '' respectively. [] []
[2016-05-07 08:11:14] main.CRITICAL: Broken reference: the 'store.settings.currency' tries to reorder itself towards 'store_language', but their parents are different: 'store.settings' and 'header.panel' re

[2016-05-07 08:53] adragus-inviqa commented on #3507
@vzaporozhets - you're kidding, right? :)
I **always** get those. My logs are full of it. So much so that I've come to accept it as a feature. Unfortunately, I'm not looking at system.log anymore. Nothing _critical_ to see in there. Just a lot of noise.

[2016-05-07 12:06] jsakars commented on #3507
issue still persists

[2016-05-07 13:33] joebusby commented on #2697
I set up MAXCDN with Magneto2 using the following settings and it seems to work well.

![cdnsetmage](https://cloud.githubusercontent.com/assets/16857667/15092386/3a58e636-1436-11e6-8204-239f55689fa0.PNG)

![cdnsettings](https://cloud.githubusercontent.com/assets/16857667/15092387/4a6a2f08-1436-11e6-877d-434d4e7324bd.PNG)

Make sure you clear all caches after you make the changes.  I am getting abo

[2016-05-07 14:02] stamster commented on #4410
Yes, you need SSH/terminal access. There are other ways to achieve this by custom PHP script / exec(), but SSH is preferred.

Your $MAGE_ROOT is set in web server VHOST configuration.

Your Magento is now broken:

There has been an error processing your request

Exception printing is disabled by default for security reasons.

Error log record number: 577738707933

Check report log in var/reports w

[2016-05-07 14:18] joebusby opened #4426 "User with custom resources can't print packing slips"
## Steps to reproduce

Magento upgrade to 2.0.5 (probably earlier versions too)
Create a new user role called "Shipping Clerk"
Check all boxes under "Custom Resources"
Create a new user, give them the "Shipping Clerk" role
Select an order and "Submit Shipment"
go back to the orders list, select the order and "Print Packing Slips" and
## Expected result

PDF would be generated containing the packin

[2016-05-07 17:21] blizam commented on #3562
I'm having this same issue

[2016-05-07 18:59] SmarDeFiProjects commented on #2882
To fix message  "Your web server is set up incorrectly and allows unauthorized access to sensitive files. Please contact your hosting provider".
1) ### shh-  Run the following command from your root account. ###
chown -R accountuser:accountusergroup  /path-to-root-folderl/

2) ### ssh - Run the following command from the domain account user(not your web server account such as apache etc).  ###
fin

[2016-05-07 19:13] mstumpf818 opened #4427 "SEO/HEAD - Meta title is null when breadcrumb section is removed via XML"
## Steps to reproduce
1. Install Magento 2.0.2
2. Add
   `<referenceBlock name="breadcrumbs" remove="true"/>` to app/design/frontend/[VendorName]/[ThemeName]/Magento_Theme/layout/default.xml
## Expected result
1. Breadcrumb section should be removed from all pages
## Actual result
1. Meta title in <head> disappears with breadcrumb section.  Meta title prefix and suffix (set in the admin panel) sti

[2016-05-07 19:14] andidhouse commented on #4422
Hi there,

we use the built in cache.
The same happens if we save a category - all pages are uncached after saving.

Is there maybe a way of a wrong setup in magento backend that can cause this or a wrong mode like developer mode the system is running on etc?

[2016-05-07 19:18] mstumpf818 opened #4428 "SEO/HEAD - Meta title is null when column section is removed via XML"
## Steps to reproduce
1. Install Magento 2.0.2
2. Add
   `<referenceBlock name="columns" remove="true"/>` to app/design/frontend/[VendorName]/[ThemeName]/Magento_Theme/layout/default.xml
## Expected result
1. Column section should be removed from all pages
## Actual result
1. Meta title in <head> disappears with column section.  Meta title prefix and suffix (set in the admin panel) still appear.
2

[2016-05-07 19:18] andidhouse commented on #4255
Hi there,

we also have problems migrating from 1.7.0.2 and having totally messed up urls.
If you truncate the core rewrite table you will get the urls you mentioned like:

http://localhost/projectname/catalog/category/view/s/designers/id/34/
etc.

But if you save a product or category the right url should be generated.
We just search for a way to autosave all products and categories so all urls a

[2016-05-07 19:25] mstumpf818 commented on #4428
This also happens with

`<referenceContainer name="content" remove="true"/>`

and

`<referenceContainer name="main" remove="true"/>`

[2016-05-07 19:27] Yogesh7989 commented on #4255
Hello ,

Its Migration tool issue in mapping for url attribute. but i can't find solution for that till now.

[2016-05-08 12:14] adragus-inviqa commented on #4351
relevant SO: http://magento.stackexchange.com/questions/114347/how-to-retain-double-quotation-marks-on-product-attributes

[2016-05-08 13:21] andidhouse commented on #4422
We had a magento developer looking over this topic and it really looks like magento itself is clearing all cache data after each order:

"On checkout success page, magento clear category tags that related with purchased product (catalog_category_226,catalog_category). Catalog inventory module dispatch cache clean task."

Can someone other confirm this bug on as well on a 2.0.5 system?

[2016-05-08 14:19] vdloo commented on #3963
I'm getting the same issue, also on php 7. I tested on php 5 and that worked fine.

[code]

I'm running 7.0.5, and I'm guessing the people above are as well. I think this might have something to do with:

If that's not the case it could be that there is a missing extend [here](https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/App/AreaList.php#L10)

[2016-05-08 18:09] Vinai commented on #4422
I think I saw this issue in Magento 1.14, too. The top menu was cached with all category tags associated with the cache entry. Not sure if it was core behavior or because of a customization though.

[2016-05-08 22:01] sbwcws commented on #3105
I CONFIRM THE same in Magento 2.05 - Product is not saving - Spinner is just spinner if I am even lucky going that far.

<img width="1280" alt="screenshot 2016-05-08 18 00 22" src="https://cloud.githubusercontent.com/assets/7937555/15100669/c1b3ad30-1546-11e6-8992-fca77dc739b2.png">

[2016-05-08 22:13] devdesco-ceo opened #4429 "Flat Products issue in 2.0.5"
I have Catalog rules applied to different user groups, and when "Use Flat Catalog Product" is on, the Catalog rules do not get applied, prices do not change for each individual user. With the "Use Flat Catalog Product" OFF everything works fine.

So, I just have "Use Flat Catalog Category" ON and it works fine.

[2016-05-09 02:18] birchestx commented on #4059
Timeline on getting a fix into a release?  Causing issues for many SIs trying to push Magento2 live. It's pretty fundamental that it does an ajax callback when the address changes.

[2016-05-09 02:31] sbwcws commented on #3651
After enabling merge javascript and css.. Magento 2.05 is extremely slow even If I try to buid static content it says time out or execution time over limit or something where as I increase the limit but same thing, Is M2 really ready for LIVE Store ???

[2016-05-09 02:33] sbwcws commented on #4321
Same issue here

[2016-05-09 03:19] medinadato commented on #3507
Yes, the issue still persists. I've installed Magento 2.0.5 and the errors keep popping up. Pretty disappoint having an application with those kind of bugs out of the box.

[code]

[2016-05-09 04:49] birchestx commented on #2984
This really needs fixing ASAP in a RELEASE, not just a patch. It affects all the shipping carriers (USPS, UPS, FedEx, DHL) that have encrypted fields, we have tested with UPS XML standalone to confirm issue.

Causing major support issues, especially as PHP 7.x is now the recommended version to run Magento 2 on.

Will also affect SAAS apps or any app that has encrypted password data being stored in

[2016-05-09 05:15] birchestx commented on #3789
Needs to be fixed ASAP, is affecting rollout of Magento 2 to clients.

[2016-05-09 05:44] pboisvert commented on #4425
Andrii--can you have the team validate this one?

[2016-05-09 05:46] pboisvert commented on #4414
Mark--can you have the team validate if this is reproducible?

[2016-05-09 05:54] pboisvert commented on #3789
@ilol Illia--as shipping PM owner please investigate this ticket

[2016-05-09 05:56] tzyganu commented on #404
Since the PR was merged, I will close this issue.
So after the 2.5 years that have passed since this issue was opened, I can finally make the stupid joke.  Issue #404..."Issue not found".

[2016-05-09 05:56] #404 closed

[2016-05-09 06:05] tzyganu commented on #482
I will close this issue since the PR was merged.  Thank you.

[2016-05-09 06:05] #482 closed

[2016-05-09 06:07] pboisvert commented on #3651
@choukalos can you have Oleh and team check into this?

[2016-05-09 06:12] pboisvert commented on #4059
bug shows as fixed in mainline. Trying to see if this will go with the next patch.

[2016-05-09 07:40] krisdass opened #4430 "Update category issue"
I have created a new category and its not visible in navigation menu as of now.
I am adding products to it via code and its working.

Now i am editing the category to show in navigation menu, it thorws error as
"URL key for specified store already exists".

I tried to
- Unassign products, throws same error
- Changed URL, left blank or changed value of URL

Please let me know.

[2016-05-09 08:13] MartijnBraam opened #4431 "New orders and customers are not saved"
## Steps to reproduce
1. Upgrade to magento newer than 2.0.2
2. Order anything
## Expected result
1. New customer created in magento
2. New order created in magento
3. Customer emailed
4. Payment procedure
## Actual result

Customer gets an email with a new order number and the whole payment procedure is successful. There is nothing logged about the customer or order at all but the customer gets a

[2016-05-09 08:42] gplanchat commented on #2780
This also happened to me while developing a payment method.

Edit : Calling `module:enable` and `module:disable` on the custom payment module makes the bug appear or not, after investigation why the module generates this, it was a DI misconfiguration, a class name was misspelled.

[2016-05-09 08:59] maderlock commented on #2561
The best solution we've come up with to allow us to get round the PhpCsFixerReview.php error is to add the expected library from require-dev to require, giving a require setting like this:

[code]

While we wait for Magento to sort out this pretty fundamental issue, this should at least let us compile for production.

[2016-05-09 09:00] andidhouse commented on #4422
Yes i think it has something to to with this:
Top menu (that visible on all pages), related with tag catalog_category.

[2016-05-09 09:23] SailendraShakyaEbp commented on #1740
Hi Darji,

Have you got the solution of your above problem? If not I have faced the same issue and figure out the issue. I am posting this, hoping it may help others.

Actually in my case the problem was the php system environment variable was not set.Go to system environment variable add your php location to path, in my case ";D:\xampp\php".

Now run the script given in the error message on your

[2016-05-09 09:24] aton1004 commented on #1740
Hi Darji,

Have you got the solution of your above problem? If not I have faced the same issue and figure out the issue. I am posting this, hoping it may help others.

Actually in my case the problem was the php system environment variable was not set.Go to system environment variable add your php location to path, in my case ";D:\xampp\php".

Now run the script given in the error message on your

[2016-05-09 09:31] sheldonli999 opened #4432 "Rest api getting customer token does not work"
## Steps to reproduce
1. curl to magento 2.0.5 installation to get customer token
2. curl -X POST "http://youdomain/index.php/rest/V1/integration/customer/token" \
    -H "Content-Type:application/json" \
    -d '{"username":"xxx@yahoo.com", "password":"xxxxxxxx1"}'
## Expected result
1. a token return
## Actual result
1. get the following msg: {"message":"You did not sign in correctly or your acc

[2016-05-09 09:50] modlqo opened #4433 "2.0.4 Productionmode Error 505"
My site works in developer mode. But when i switch to production mode with
`php bin/magento deploy:mode:set production`
i get an 505 error in the frontend and in the backend.

My php version is  5.6.19

I also tried

[code]

[2016-05-09 10:08] modlqo commented on #4433
I solved the problem by changing the owner of the /var folder :)

[2016-05-09 10:08] #4433 closed, assigned to nobody

[2016-05-09 10:21] prasanthsd commented on #3786
So if im building a mobile app how do I list the products/categories on my app. What API so I use as a anonymous user or a customer?

[2016-05-09 10:22] gplanchat commented on #3963
In `Magento\Framework\ObjectManager\Factory\Compiled`, there is a call to interface method [`Magento\Framework\ObjectManager\ConfigInterface::getArguments()`](https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/ObjectManager/Factory/Compiled.php#L56) that internally fetches serialized array data from `var/di/*.ser` files.

In the method [`Magento\Framework\ObjectManager

[2016-05-09 10:33] Vinai commented on #3249
Still happens when upgrading from 2.0.4 to 2.0.5.

[2016-05-09 12:13] aunts commented on #4394
+1
Magento ver. 2.0.4

[2016-05-09 12:53] SidneyBilliet commented on #4315
Any news on this issue?

Kind regards,

[2016-05-09 13:07] ruby10 commented on #3307
Hey @NadiyaS  , This issue has been blocker for development work we are doing, Please let us know the updates regarding this issue.

[2016-05-09 13:29] Kdtv1977 commented on #2666
Hello Icereaper, I updated to PHP7 but I still don't see any images. So I have the same problem as described above : the base, small etc images are working. So the overview in frontend and backend are both having images. When editing the product, the gallery is empty. When entering the product detail-page, the images are missing.

How did you manage to work around and import the image if i may ask

[2016-05-09 14:50] TommyKolkman commented on #2732
I can confirm I've got this problem (gewaechshaus) too. Quick fix available?

[2016-05-09 14:59] webtonic commented on #3789
Hi has this bug been fixed yet?

[2016-05-09 14:59] gewaechshaus commented on #2732
I don't know the current status... But there's a bunch of threads related to this issue.
https://github.com/magento/magento2/issues/1203
https://github.com/magento/magento2/issues/4345
https://github.com/magento/magento2/issues/4321

[2016-05-09 15:15] maksek commented on #3789
@webtonic , @wsakaren  - at the very moment we are fixing it.

[2016-05-09 15:17] TommyKolkman commented on #2732
Thanks, will keep an eye out for those threads as well.

[2016-05-09 15:18] joebusby commented on #4422
I'm not sure what happened, but orders are coming in now and all system caches are remaining validated.  I did reboot once or twice, but tried both Payflo pro and payflo link and they are both working on quite a few orders with no disruption.  I will update this thread if it starts happening again.

[2016-05-09 15:29] webtonic commented on #3789
Thanks! Appreciated!

[2016-05-09 16:02] sheldonli999 commented on #4432
looks like the issue occurs inside event Manager.php.  Any quick fix?

[2016-05-09 16:03] ghost commented on #4329
Created internal P1 ticket MAGETWO-52613.

[2016-05-09 16:04] mazhalai commented on #3562
@cod3gen @blizam Thank you for reporting, we have created MAGETWO-52615 to investigate and fix.

[2016-05-09 16:09] mazhalai commented on #3651
@npearson72 @vigentocommerce @stevekem @shashankitsoft @sbwcws
- firstly, please do not post on already closed issues.
- secondly, Magento does not support windows, only [Linux](http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html).
- for speed, have you setup [Varnish](http://devdocs.magento.com/guides/v2.0/config-guide/varnish/config-varnish.html) as recommended?

[2016-05-09 16:13] mazhalai commented on #3249
@all have created ticket MAGETWO-52617 to investigate and fix.

[2016-05-09 16:34] pynej commented on #2855
Ok, I have identified a second issue with my cron configuration that was causing the jobs to fail but not produce any appropriate error messages.

I'm suing the following cron script:

[code]

As you can see the `php` is installed at `/usr/local/bin/php`.  The default settings for cron when running jobs runs them in a limited environment witch isn't exactly the same as running a program in an inte

[2016-05-09 16:42] npearson72 commented on #3651
Should we open a new ticket to respond to your questions?

Anyway, you're welcome for the feedback.

[2016-05-09 17:01] mazhalai commented on #3651
@npearson72 please open a new ticket if it is a bug. However, if you simply looking for a discussion, the proper forums are http://magento.stackexchange.com/ and https://community.magento.com/

[2016-05-09 17:04] joanhe commented on #4422
@joebusby Thanks for your information. Could you check if Varnish is used now?

[2016-05-09 17:39] mazhalai commented on #3123
Closing as non responsive

[2016-05-09 17:39] #3123 closed, assigned to nobody

[2016-05-09 17:41] mazhalai commented on #4394
@kanduvisla @aunts thank you for reporting, we have created MAGETWO-52619 to investigate and fix.

[2016-05-09 17:43] mazhalai commented on #3963
@all this issue has been fixed in the develop branch. Related commit b029938ae996ee0a2d8948587882ddf52e3bc994
Closing this issue. Please add a new ticket if problems persist

[2016-05-09 17:43] #3963 closed, assigned to mazhalai

[2016-05-09 17:47] mazhalai commented on #4424
@orbitrod "Disable Module's **Output**" is not the same as disabling module. Please go to  **System->Web Setup->Wizard->Component Manager** and click disable from the list of modules. Please note this feature is only available if you have deployed Magento 2 via `composer create-project` or a zip from magento.com. Will not work on git instance. Alternatively, you can use command line `bin/magento m

[2016-05-09 17:52] mazhalai commented on #4082
@ircsome github issues are only for reporting bugs, if you want to have a discussion on process https://community.magento.com/ seems like the best avenue.
Closing since this is not a bug.

[2016-05-09 17:52] #4082 closed, assigned to nobody

[2016-05-09 17:53] mazhalai commented on #3985
@nestocabrera any update?

[2016-05-09 17:53] mazhalai commented on #4273
@victorchiriac89 can you please add the screenshots and logs?

[2016-05-09 17:56] mazhalai commented on #4369
AFAIK it will be removed in 2.1
Closing since it is not a bug.

[2016-05-09 17:56] #4369 closed, assigned to nobody

[2016-05-09 18:03] orbitrod commented on #4424
@mazhalai I understand that "Disable Module's Output" is not the same as disabling module.  If this is not a bug, then what is the expected result after disabling a Modules Output?  When I try it, it still says enabled at the Configuration page.  Should it not say disabled, after disabling a modules output?

[2016-05-09 18:12] hshar7 commented on #4394
Hi @kanduvisla @aunts could one of you please provide detailed steps on how to reproduce this? This seems like a problem with one of the ACL nodes. Possibly it doesn't have the attribute 'title'.

[2016-05-09 18:17] hshar7 commented on #4424
@orbitrod this will help: http://magento.stackexchange.com/questions/68622/what-is-the-difference-between-disable-module-output-and-module-active-true :)

[2016-05-09 18:18] mazhalai commented on #4424
@orbitrod your expected result says "selected module should be disabled" , perhaps you could clarify that it is on the configuration page and it related to Module's output and not disabling module itself.

Reopening issue after clarification.

We have created MAGETWO-52620 to investigate and fix.

[2016-05-09 18:24] alex-parra opened #4434 "New Review via Admin bug"
## Steps to reproduce
1. On Admin, go to Marketing › User Content › Reviews
2. Click "New Review" button
## Expected result
1. Review form
## Actual result
1. Review form shows for 1 or 2 seconds and is replaced by an unpaginated list of ALL products.

[2016-05-09 18:26] stevekem commented on #3651
I currently have a ticket open for this same or very similar issue here:

https://github.com/magento/magento2/issues/4321

[2016-05-09 18:26] mazhalai commented on #4377
@wienczny can you specify exact steps, it is confusing since you say step #1 is install and #2 is deploy db schema. etc. Also, did you install via web or CLI?

[2016-05-09 18:31] samtay opened #4435 "The cron setting `use_separate_process` is not actually parallelized"
I can see from the wording in [comments](https://github.com/magento/magento2/blob/f10c7c83a93628122a929949b97e08faa13ce652/app/code/Magento/Cron/Observer/ProcessCronQueueObserver.php#L28-L32) and variable naming that the expected [ShellInterface virtual type](https://github.com/magento/magento2/blob/f10c7c83a93628122a929949b97e08faa13ce652/app/code/Magento/Cron/etc/di.xml#L22-L31) passed to the `\

[2016-05-09 18:33] orbitrod commented on #4424
@mazhalai My apologies, I will clarify.

[2016-05-09 18:36] stevekem commented on #3651
Also Nexcess support confirmed this issue was a bug as they spent alot of time recently troubleshooting why our site was literally crawling when merge css was enabled.

[2016-05-09 18:38] aunts commented on #4394
Hi @hshar7
1. Login with default admin user to backoffice Magento ver. 2.0.4
2. System - User Roles
3. Add New Role
4. Error Page "Notice: Undefined index: title in ../vendor/magento/module-integration/Helper/Data.php on line 24

Hope it works for you as well!?

[2016-05-09 18:39] maksek commented on #4410
@palmultimedia please use forum and documentation for setup related questions. This issues doesn't describe particular bug in magento 2 codebase, so closing it.

[2016-05-09 18:39] #4410 closed, assigned to nobody

[2016-05-09 18:40] mazhalai commented on #4375
@tkn98 you mentioned composer install, but did you install magento? via CLI or Web?

[2016-05-09 18:41] #4160 closed, assigned to nobody

[2016-05-09 18:42] hshar7 commented on #4394
Unfortunately I cannot reproduce that. I am on 2.0.4 and I am able to add new roles correctly. Could you clear your cache and try again? Maybe your acl cache is corrupt?

[2016-05-09 18:44] mazhalai commented on #4424
@orbitrod thank you!

[2016-05-09 18:44] hshar7 commented on #4394
If that doesn't work can you try putting a breakpoint at ../vendor/magento/module-integration/Helper/Data.php on line 24 and use xdebug to investigate which resource is causing this? Maybe that will give you an idea of why it is failing.

[2016-05-09 18:44] maksek commented on #4238
Please use forum for questions, GitHub only for bugs and PR.
Forum link - https://community.magento.com/t5/Core-Technology-Magento-2/ct-p/Magento-2

[2016-05-09 18:44] #4238 closed, assigned to nobody

[2016-05-09 18:47] maksek commented on #4345
Closing issue since doesn't report bug in codebase. Use form for discussion regarding configuration and env settings.

[2016-05-09 18:47] #4345 closed, assigned to nobody

[2016-05-09 18:55] mazhalai commented on #4281
@xplodeart we are closing this as non-responsive

[2016-05-09 18:55] #4281 closed, assigned to nobody

[2016-05-09 18:56] mazhalai commented on #4392
@jaimestuardo it is not a module, it is within setup/ if you want to investigate.

[2016-05-09 18:57] mazhalai commented on #4325
@serajin closing this as non-responsive.

[2016-05-09 18:57] #4325 closed, assigned to nobody

[2016-05-09 18:58] maksek commented on #4076
Closing issue due no activity for long time. Issue was fixed in develop Commit 32ca5c9.

[2016-05-09 18:58] #4076 closed, assigned to alena-marchenko

[2016-05-09 18:58] mazhalai commented on #4344
@jamescowie closing this as duplicate of #4392

[2016-05-09 18:58] #4344 closed, assigned to nobody

[2016-05-09 18:59] maksek commented on #4064
Issue related/clone #4076. Closing as duplicate and not activity for long time.

[2016-05-09 18:59] #4064 closed, assigned to alena-marchenko

[2016-05-09 18:59] mazhalai commented on #3544
@andrew-smart closing this as non-responsive.

[2016-05-09 18:59] #3544 closed, assigned to nobody

[2016-05-09 19:00] srinivasanithin opened #4436 "Creating Online Refund- Feature request"
Feature Request

Currently there is no way to create credit memo to refund the amount online via API. can this ability to refund a transaction online for while creating credit memo be provided? Any many people want to control this from ERP connected to eCommerce websites.

[2016-05-09 19:00] mazhalai commented on #3332
@ranimstudios closing this as non-responsive.

[2016-05-09 19:00] #3332 closed, assigned to nobody

[2016-05-09 19:00] maksek commented on #4028
Please use forum for questions.

[2016-05-09 19:00] #4028 closed, assigned to nobody

[2016-05-09 19:01] maksek commented on #4029
Please use forum for questions.

[2016-05-09 19:01] #4029 closed, assigned to nobody

[2016-05-09 19:01] mazhalai commented on #3311
@vikkymedia  closing as non-responsive.

[2016-05-09 19:01] #3311 closed, assigned to nobody

[2016-05-09 19:01] maksek commented on #4030
Please use forum for questions.

[2016-05-09 19:01] #4030 closed, assigned to nobody

[2016-05-09 19:02] mazhalai commented on #3298
@Shento we assume your issue has been resolved, hence closing this ticket. Please feel free to open a new one if issues arise.

[2016-05-09 19:02] #3298 closed, assigned to nobody

[2016-05-09 19:03] mazhalai commented on #3236
@gokhanayan closing due to non-responsiveness

[2016-05-09 19:03] #3236 closed, assigned to nobody

[2016-05-09 19:04] mazhalai commented on #3278
@thor777 closing due to non-responsiveness.

[2016-05-09 19:04] #3278 closed, assigned to nobody

[2016-05-09 19:05] mazhalai commented on #3115
@ashishnai is this still an issue?

[2016-05-09 19:05] mazhalai commented on #3065
@ifekaj this issue has been resolved. Please refer to this comment: https://github.com/magento/magento2/issues/3056#issuecomment-176426683

Closing this issue.

[2016-05-09 19:05] #3065 closed, assigned to nobody

[2016-05-09 19:06] mazhalai commented on #3011
@mage2pro closing due to non-responsiveness

[2016-05-09 19:06] #3011 closed, assigned to nobody

[2016-05-09 19:07] mazhalai commented on #3010
@smartperf any update? Has this issue been resolved?

[2016-05-09 19:07] mazhalai commented on #3110
@freshface closing due to non-responsiveness.

[2016-05-09 19:07] #3110 closed, assigned to nobody

[2016-05-09 19:08] mazhalai commented on #3086
@MichielTG any update?

[2016-05-09 19:09] mazhalai commented on #2648
@lenkaren closing due to non-responsiveness.

[2016-05-09 19:09] #2648 closed, assigned to nobody

[2016-05-09 19:10] mazhalai commented on #2977
@jkristoffer is this still an issue?

[2016-05-09 19:11] mazhalai commented on #2981
@jkristoffer has this issue been resolved?

[2016-05-09 19:22] mazhalai commented on #2614
@Elsharif closing due to non-responsiveness

[2016-05-09 19:22] #2614 closed, assigned to nobody

[2016-05-09 19:23] mazhalai commented on #2300
@mage2pro @ktomk is this still an issue?

[2016-05-09 19:30] mazhalai commented on #3611
@luca-vercelli closing since your issue has been resolved. Please feel free to open a new issue if problems persist.

[2016-05-09 19:30] #3611 closed, assigned to nobody

[2016-05-09 19:30] #4126 closed, assigned to nobody

[2016-05-09 19:31] mazhalai commented on #3597
@korbi1919  closing due to non-responsiveness.

[2016-05-09 19:31] #3597 closed, assigned to nobody

[2016-05-09 19:31] maksek commented on #4274
@shashankitsoft should we close the issue, since it is new one created?

[2016-05-09 19:31] mazhalai commented on #3596
@gnusmus is this still an issue?

[2016-05-09 19:36] mazhalai commented on #3958
@SudoCat any update?

[2016-05-09 19:36] mazhalai commented on #3970
@chloeefr closing due to non-responsiveness.

[2016-05-09 19:36] #3970 closed, assigned to nobody

[2016-05-09 19:36] mazhalai commented on #3514
@flipflap do you still have this issue?

[2016-05-09 19:37] maksek commented on #4156
Closing due no response from  @Lreeseg  to @orlangur comment. Screenshot indeed represents JS was not loaded. If issue reproduced again - create new issue with step to reproduce as defined in template.

[2016-05-09 19:37] #4156 closed, assigned to nobody

[2016-05-09 19:38] maksek commented on #4021
Closing due no follow up from issue creator.

[2016-05-09 19:38] #4021 closed, assigned to alena-marchenko

[2016-05-09 19:40] maksek commented on #4057
steps to reproduce was not provided, closing due inactivity on the ticket from creator. @devdesco-ceo, if you can provide detailed steps and precondition, we will reopen the ticket.

[2016-05-09 19:40] #4057 closed, assigned to ishakhsuvarov

[2016-05-09 19:41] hshar7 commented on #4435
Thanks for reporting this. Internal ticket MAGETWO-52621 created to investigate.

[2016-05-09 19:45] mazhalai commented on #3818
@ivanweiler this has been removed in 2.0.3, hence closing this issue.

[2016-05-09 19:45] #3818 closed, assigned to nobody

[2016-05-09 19:46] mazhalai commented on #3885
@noprobz09 @magentotejpal closing due to non-responsiveness

[2016-05-09 19:46] #3885 closed, assigned to nobody

[2016-05-09 19:46] maksek commented on #2417
closing due inactivity from @caesarcxiv on @alankent last request.

[2016-05-09 19:46] #2417 closed, assigned to nobody

[2016-05-09 19:46] maksek commented on #2326
closing due inactivity, PR was merged.

[2016-05-09 19:46] #2326 closed

[2016-05-09 19:47] maksek commented on #2139
@ch1oe assuming we can close the issue?

[2016-05-09 19:53] #1243 closed

[2016-05-09 19:53] #1320 closed

[2016-05-09 19:54] #1340 closed

[2016-05-09 19:54] #1498 closed

[2016-05-09 19:56] maksek commented on #1597
Controllers were refactored since time the issue was logged. So no valid anymore, unless @fooman thinks differently, i am closing this ticket.

[2016-05-09 19:56] #1597 closed

[2016-05-09 20:00] maksek commented on #1855
Use forum for questions.

[2016-05-09 20:00] #1855 closed

[2016-05-09 20:01] ch1oe commented on #2139
Yes @maksek

[2016-05-09 20:02] maksek commented on #945
closing as outdated issue.

[2016-05-09 20:02] #945 closed

[2016-05-09 20:02] mazhalai commented on #2817
@mage2pro closing this as non-reproducible.

[2016-05-09 20:02] #2817 closed, assigned to nobody

[2016-05-09 20:04] maksek commented on #1019
Closing the issue, since discussion is closed. For further discussions please open topic in forum.

[2016-05-09 20:06] maksek commented on #1331
Closing the topic, for further discussion please create topic in forum.

[2016-05-09 20:06] #1331 closed

[2016-05-09 20:07] #1342 closed

[2016-05-09 20:07] #1343 closed

[2016-05-09 20:08] #1439 closed

[2016-05-09 20:09] maksek commented on #973
@Vinai, closing the feature request, since no progress on it. Let me know if you still up to this.

[2016-05-09 20:09] #973 closed

[2016-05-09 20:11] #2139 closed

[2016-05-09 20:13] maksek commented on #1821
Hi @chicgeek, did you find answer or workaround on the issue you reported?

[2016-05-09 20:15] maksek commented on #1685
@Manashvi, i have hard time to reproduce it, can you provide steps how you are getting it with env settings?

[2016-05-09 20:17] maksek commented on #1880
GitHub issue must contain bug description with steps to reproduce, all HowTo questions please post in forum or other sources.

[2016-05-09 20:17] #1880 closed

[2016-05-09 20:19] #1893 closed

[2016-05-09 20:19] shashankitsoft commented on #4274
@maksek  yep sure. It can be closed. The cause/solution found by myself which is mentioned in #4330

[2016-05-09 20:19] #1902 closed

[2016-05-09 20:20] #1928 closed

[2016-05-09 20:23] maksek commented on #1892
Please ask questions in forum

[2016-05-09 20:23] #1892 closed

[2016-05-09 20:28] #2088 closed

[2016-05-09 20:29] #2134 closed

[2016-05-09 20:31] #2152 closed

[2016-05-09 20:31] mbrinton01 commented on #4137
@MicroKloon does this answer your question about how to configure weight for your products? http://magento.stackexchange.com/questions/24659/magento-what-is-the-minimum-weight-a-product-can-weigh-and-its-corresponding-fo/

[2016-05-09 20:38] mazhalai commented on #3880
@Lovnish closing as non-responsive.

[2016-05-09 20:38] #3880 closed, assigned to nobody

[2016-05-09 20:40] maksek commented on #2424
Please ask questions on forum, you won't get answer in github. GitHub only for bugs with proper descriptions.

[2016-05-09 20:40] #2457 closed, assigned to nobody

[2016-05-09 20:42] #2536 closed, assigned to nobody

[2016-05-09 20:43] maksek commented on #2640
Hi @ivanweiler, do you want keep the topic or we are ok to close it?

[2016-05-09 20:44] #2653 closed, assigned to nobody

[2016-05-09 20:44] #4274 closed, assigned to nobody

[2016-05-09 20:45] MicroKloon commented on #4137
It does answer it somewhat.
But I already found the solution, I switched to WooCommerce and everything works great.
Thank you for your kind answer.

[2016-05-09 20:46] mazhalai commented on #3703
@artmiller closing since this has been resolved in commit b72339ed343bb00bf1e73da74f8a87a2ffa84dc7

[2016-05-09 20:46] #3703 closed, assigned to nobody

[2016-05-09 20:47] maksek commented on #3439
Hi @LTC-fperrin, please ask questions on forums. GitHub only for bugs with steps to reproduce.

[2016-05-09 20:47] #3439 closed, assigned to voleye

[2016-05-09 20:47] mbrinton01 commented on #4137
@MicroKloon thank you for following up, I will close this issue

[2016-05-09 20:47] #4137 closed, assigned to nobody

[2016-05-09 20:47] maksek commented on #3432
Closing due no response for long time.

[2016-05-09 20:47] #3432 closed, assigned to voleye

[2016-05-09 20:48] mazhalai commented on #1817
@all closing due to non-responsiveness.

[2016-05-09 20:48] #1817 closed

[2016-05-09 20:48] maksek commented on #3295
@giangitman, please use forum for questions.

[2016-05-09 20:48] #3295 closed, assigned to nobody

[2016-05-09 20:49] maksek commented on #3270
@craigcarnell , please use forums for questions, GitHub only for bugs and PR.

[2016-05-09 20:49] #3270 closed, assigned to nobody

[2016-05-09 20:49] mazhalai commented on #2827
@anaxmedia closing due to responsiveness.

[2016-05-09 20:49] #2827 closed, assigned to nobody

[2016-05-09 20:49] maksek commented on #3258
please use forums for questions, GitHub only for bugs and PR.

[2016-05-09 20:49] #3258 closed, assigned to yaronish

[2016-05-09 20:50] maksek commented on #3245
please use forums for questions, GitHub only for bugs and PR.

[2016-05-09 20:50] #3245 closed, assigned to nobody

[2016-05-09 20:50] mazhalai commented on #2914
@tinxit this has been resolved in commit 73ef9f559f2888eaa7649686415faa7e89dceef5 and b5078f011a5ad9b3c0586084678d6402de6fad7e, hence closing this issue.

[2016-05-09 20:50] #2914 closed, assigned to nobody

[2016-05-09 20:51] maksek commented on #3241
please use forums for questions, GitHub only for bugs and PR.

[2016-05-09 20:51] #3241 closed, assigned to nobody

[2016-05-09 20:51] maksek commented on #3237
Not relevant to Magento 2

[2016-05-09 20:51] #3237 closed, assigned to nobody

[2016-05-09 20:53] maksek commented on #3206
Please use forums for questions, GitHub only for bugs and PR related to Magento 2 code.

[2016-05-09 20:53] #3206 closed, assigned to yaronish

[2016-05-09 20:54] maksek commented on #3204
Closing, since it was answered  in the data migration tool section

[2016-05-09 20:54] #3204 closed, assigned to yaronish

[2016-05-09 20:54] hshar7 commented on #4394
Any updates @aunts ?

[2016-05-09 20:56] chris-brabender commented on #3206
@maksek this wasn't a question, it is a bug with the migration tool, please re-open.

[2016-05-09 20:57] maksek commented on #3195
@lilmuckers, any follow up on this? Did you try?

[2016-05-09 20:58] maksek commented on #3051
Please ask questions on forum. GitHub only for confirmed issues with steps to reproduce or PR.

[2016-05-09 20:58] #3051 closed, assigned to nobody

[2016-05-09 20:59] #3046 closed, assigned to asemenenko

[2016-05-09 21:01] #2996 closed, assigned to nobody

[2016-05-09 21:02] maksek commented on #2971
Hi @3m0, have you resolved the issue?

[2016-05-09 21:02] maksek commented on #2927
Please ask questions on forum. GitHub only for confirmed issues with steps to reproduce or PR.

[2016-05-09 21:02] #2927 closed, assigned to nobody

[2016-05-09 21:05] #3646 closed, assigned to vkorotun

[2016-05-09 21:07] maksek commented on #3679
What is purpose of truncating tables? It is not expected to do, and do not expect to support such actions.

[2016-05-09 21:08] tomispepe commented on #4108
For example if I create a widget with the condition stated and accept all other default settings I get the following mustache code:
`{{widget type="Magento\CatalogWidget\Block\Product\ProductsList" products_count="10" template="product/widget/content/grid.phtml" conditions_encoded="a:2:[i:1;a:4:[s:4:`type`;s:50:`Magento|CatalogWidget|Model|Rule|Condition|Combine`;s:10:`aggregator`;s:3:`all`;s:5:`v

[2016-05-09 21:10] maksek commented on #3730
Hi @giacmir, GitHub is for reported issues with steps to reproduce. All HowTo questions you may address in forum.

[2016-05-09 21:10] #3730 closed, assigned to yaronish

[2016-05-09 21:10] maksek commented on #3731
Hi @polyakovao , GitHub is for reported issues with steps to reproduce. All HowTo questions you may address in forum.

[2016-05-09 21:10] #3731 closed, assigned to nobody

[2016-05-09 21:13] maksek commented on #3758
This issue belongs to migration tool, not magento 2 core. Please open issue with steps in according repo - https://github.com/magento/data-migration-tool

[2016-05-09 21:13] #3758 closed, assigned to nobody

[2016-05-09 21:14] maksek commented on #3777
Please use form for all questions regarding magento 2. GitHub only for reported bugs with steps to reproduce.

[2016-05-09 21:14] maksek commented on #3778
Closing due no feedback from creator.

[2016-05-09 21:14] #3778 closed, assigned to nobody

[2016-05-09 21:15] maksek commented on #3792
Please ask questions in Forum. GitHub only for issue reporting with steps to reproduce.

[2016-05-09 21:15] #3792 closed, assigned to kandy

[2016-05-09 21:15] maksek commented on #3794
Please ask questions in Forum. GitHub only for issue reporting with steps to reproduce.

[2016-05-09 21:15] #3794 closed, assigned to kandy

[2016-05-09 21:16] #3948 closed, assigned to asemenenko

[2016-05-09 21:17] maksek commented on #4176
closing due no response from creator. if you have more question - please create them in forum.

[2016-05-09 21:17] #4176 closed, assigned to nobody

[2016-05-09 21:18] maksek commented on #4302
Please ask questions in Forum. GitHub only for issue reporting with steps to reproduce.

[2016-05-09 21:18] #4302 closed, assigned to alena-marchenko

[2016-05-09 21:20] maksek commented on #3206
The repo is for Magento2 code. There is separate repo for data migration tool, if you can create issue with concrete step to reproduce team will work on it.  In the repo - you will not have answer of fix.

[2016-05-09 21:22] tomispepe commented on #4108
The widget type calls the following method:
`\Magento\CatalogWidget\Block\Product\ProductsList::createCollection`

By placing a breakpoint in this method on the last line before the method returns the collection of products you can run the following line:

`$collection->getSelect()->assemble()`

The SQL produced follows
`SELECT`e`.*,`cat_index`.`position`AS`cat_index_position`,`price_index`.`price

[2016-05-09 21:33] stevekem opened #4437 "Custom options (admin) will not load using Firefox"
## Preconditions
1. Install Magento 2.0.4

## Steps to reproduce
1. Use Firefox browser to access Admin.
2. Go to Admin > Products > Catalog > (Select any product) > Advanced Settings > Custom Options
3. Click "Import Options" or "Add New Option"
## Expected result
1. Custom options "New Option" box will load for you to select option title and input type.
## Actual result
1. Nothing happens, box w

[2016-05-09 21:33] adragus-inviqa commented on #2536
👍

[2016-05-09 21:35] tomispepe commented on #4108
The comment above shows that only catalog_product_entity_int is queried to find wether a product is out of stock or in stock.  However, that table is not updated by changing inventory in admin.  I haven't tried running a product out of stock through the front end but I am concerned that the same issue probably exists under that circumstance as well.  I will return here and update this issue at a l

[2016-05-09 21:39] joebusby commented on #4422
@joanhe    Yes,  Varnish is caching all the http output,  https/ssl is routed around the varnish server (direct to Magento 2) using port forwarding.  All Magento caches are enabled and have been (suprise) staying that way.  CDN was set up last week and running about a 70% hit rate, using both media and static entries.

[2016-05-09 22:16] astorm commented on #4287
Pinging because two weeks and no acknowledgment.

Is this issue not a priority for Magento 2 at this time?  Consistent behavior of the filters in the Web API methods **seems** like it should be, but if it's not it would still be good to know so we can work around it.

If the issue isn't clear please let me know -- it's not the sort of thing that lends itself to easy, clear, and reproducible test s

[2016-05-09 22:29] kevinjavitz opened #4438 "email inlinecss by extension module does not work"
## Steps to reproduce
1. Install Magento
2. Make a custom module with a custom email template. Use markup like this: {{inlinecss file="Company_ModuleName::css/custom-inline.css"}}
## Expected result
1. Should apply the custom inline css, this is possible according to vendor/magento/module-email/Model/Template/Filter.php:814 Usage: {{inlinecss file="Magento_Sales::css/filename.css"}} - Load file fr

[2016-05-09 22:52] astorm commented on #1332
This issue is nearing a year old -- I'm assuming it's not a priority for the team.  Closing it out.  If anyone's coming across this via Google I love `di.xml` configuration in depth in my Magento object manager series over here: http://alanstorm.com/category/magento-2#magento_2_object_system

[2016-05-09 22:52] #1332 closed

[2016-05-09 22:56] astorm commented on #1763
I haven't seen any action on this in nine months, so am closing it out.  Based on what I've seen in the core code it looks like skipping calls to `$proceed()` is standard, if only occasionally, practice in the core, and that each module developer will need to decide if and when they want to break the plugin calling chain for a feature.  @alankent @antonkril -- if you disagree with the above and ha

[2016-05-09 22:56] #1763 closed

[2016-05-09 22:57] astorm commented on #2399
Any update on this issue?  It's been six months since it was originally opened, and it's not clear if this isn't a priority for the core team, or if it's just gotten lost in the business of launch.

/cc @piotrekkaminski

[2016-05-09 23:01] cpartica commented on #3789
Where exactly do you plug-in to our checkout flow to get the live quotes?
I think the problem is that the checkout flow doesn't have the selected customer address in the main request, as all is controlled by javascript, by making rest calls with selected info, and updating dynamically the page, producing a final place order request that only at that point you'll have that info

So if you're extend

[2016-05-09 23:04] astorm commented on #2832
Any update on this issue?  As an outside developer, my main question here is still which Magento application entry points load which `di.xml` files.  My programmer side wants to be able to use modules to change/improve the behavior of he static asset serving application via a module's `di.xml` file, but I can see reasons for not implementing that.  I clear and well documented set of how and why `d

[2016-05-09 23:04] astorm commented on #2910
Any update on this issues?

/cc @piotrekkaminski

[2016-05-09 23:05] astorm commented on #3167
Any update on this feature request?

/cc @piotrekkaminski

[2016-05-09 23:06] astorm commented on #3293
@MomotenkoNatalia pinging -- any update on the internal ticket here?

[2016-05-09 23:06] astorm commented on #3845
Any update/ETA on this? It's causing a real world problem for an extension/theme developer who's migrating their theme to Magento 2.

/cc @piotrekkaminski

[2016-05-09 23:07] mazhalai commented on #3167
@astorm for this we do have a story MAGETWO-26534

[2016-05-09 23:09] astorm commented on #3167
@mazhalai Dos that mean it's fixed?  Being worked on?  Might happen?  Is acknowledged but will slowly die on the vine?  It's hard for outsiders to understand what having a story means if they're not a part of your process :)

[2016-05-09 23:11] wienczny commented on #4377
Step one is install the files only. I used the cli but that should not make any difference.
The problem is that Magento2 uses the Mysql's auto_increment for entries that require a certain id. auto_increment does NOT guarantee neither 1 as starting point nor that the increment is 1. This is perfectly fine if you don't have constants referring to database entries in your code. We are experiencing th

[2016-05-09 23:14] pboisvert commented on #3845
@choukalos Can you update this issue? Jira shows as closed now but unsure when that ticket will be released (2.1 or earlier in a patch).

[2016-05-09 23:21] pboisvert commented on #3167
@tanya-soroka can you provide any insight on where this one sits?

[2016-05-09 23:43] piotrekkaminski commented on #2399
Logged as MAGETWO-52625, asked @antonkril  & @alankent to provide guidance as this should be global and consistent behavior if to fail fast or log error & continue.

[2016-05-09 23:45] piotrekkaminski commented on #3167
@astorm we don't have yet a final decision on that. The performance of the commands has higher priority.

[2016-05-09 23:53] piotrekkaminski commented on #4377
We are aware of this issue. Will provide updates in near future.

[2016-05-09 23:57] piotrekkaminski commented on #4377
@wienczny it should be fixed in 2.0.5 patch, as part of MAGETWO-50224. Can you check if you still have this issue on 2.0.5? We are using Galera ourselves.

[2016-05-10 00:00] piotrekkaminski commented on #2910
This is not yet fixed. Increased priority but I don't expect the fix in nearest release.

[2016-05-10 00:12] sbwcws commented on #2525
I m running into same issue

[2016-05-10 00:42] dimasdwika commented on #2933
I can still replicate this issue with these configuration (on [2.0.5](https://github.com/magento/magento2/releases/tag/2.0.5))

"Stores > General > Default Country:  Australia"
"Stores > General > Allow Country: Australia"
"Stores > Sales > Tax > Default Tax Destination Calculation: Australia"

When going to checkout, the issue still persist with `Cannot read property 'is_region_required' of undef

[2016-05-10 01:25] devdesco-ceo commented on #4176
Nginx default config file is broken.
I have made my own Nginx configuration for three servers tier and implemented all of the latest and the bestest practices for secure and fast web. Check me out at https://endohaus.com

[2016-05-10 02:15] gayankt opened #4439 "Wishlist My Account Dashboard wishlist sidebar do not show price just after logged in"
Steps to reproduce
01. Add some products to wishlist (at the time you add to wishlist the account dashboard wish list slider get updated with price)
02. Now log out and clear browser cache also.
03. Then re log in to my account.
In dashboard wishlist items do not show the price values.

![wishlist-no-price](https://cloud.githubusercontent.com/assets/654973/15135655/7542a720-1696-11e6-8357-0e8a0888

[2016-05-10 02:21] wsagen commented on #3789
A custom shipping carrier shouldn't require any block or front end modification at all, assuming it intends to only return shipping rates.

If we ignore any custom shipping methods for a second and just look at core Magento 2 - consider the DHL carrier that is built in to Magento. In the Carrier.php in module-dhl:
            ->setDestStreet($this->string->substr(str_replace("\n", '', $request->ge

[2016-05-10 02:33] gayankt opened #4440 "Visual Swatch - Configurable Products Edit Item Do not shows the selected option"
01 . Add to cart Configurable product with Visual Swatch options enabled
02. Goto cart page and click edit item
03. The sected options are not shows on edit product page

![edit-product](https://cloud.githubusercontent.com/assets/654973/15134008/a7fa433c-1685-11e6-8609-964762f23ad2.png)

[2016-05-10 03:04] xiangkundavis opened #4441 "Backend image Preview icon button does not show"
1. I create a new customer attribute using backend UI and this attribute is Image type
2. at the backend customer edit page, I upload a image for this attribute and save
3. There is no preview image for this attribute

[2016-05-10 03:54] gayankt opened #4442 "Configurable Products special Price appear for all options"
I have added special price only for one simple product of the configurable product.
Other simple products associated with it do not have special prices.
But on fronted special price appears for all options
![specialprice](https://cloud.githubusercontent.com/assets/654973/15135114/5db41892-1690-11e6-9482-f2cdbcd6cf5b.png)
## Steps to reproduce
1. Create a configurable product with different (size)

[2016-05-10 04:12] gayankt opened #4443 "Special Price From date cannot be cleared."
## Steps to reproduce
1. Add Special Price to a product with a specific from date and save
2. Now delete the special price from date, and save
3. it will now set the current date as from date, you cannot clear it at all
   ![specialprice-fromdate](https://cloud.githubusercontent.com/assets/654973/15135428/8d2251f4-1693-11e6-9554-23d466da83a5.png)
## Expected result

1.If from date removed it shoul

[2016-05-10 04:22] gayankt opened #4444 "Multiple Success Messages appear in some pages"
Sometimes the success message not appear but later in some other page it appears as multiple success messages

May be knockut js getting delayed and the messages we added to the queue and appears at onces in some other page.

![multiple-success](https://cloud.githubusercontent.com/assets/654973/15135512/ac1a5858-1694-11e6-9a14-a8e19400c97d.png)

[2016-05-10 05:42] aunts commented on #4394
@hshar7 You are right. There was a missing title tag in one custom acl xml. Now it's working fine. I think we can close this ticket!

[2016-05-10 05:58] flipflap commented on #3514
Thanks for your feedbacks.
I deleted Files and DB and setup all again. Now I don't have that problem anymore.

[2016-05-10 06:12] zaranapatel commented on #4444
Have you got any solution for this issue?

[2016-05-10 06:34] Vinai commented on #4287
Consist filtering behavior over the API (Web API and PHP API) is very important.

[2016-05-10 06:41] Vinai commented on #973
Thanks Max. I've started to think that anybody who uses jenkins already has a working template that they adjust, and nobody who isn't familiar with jenkins would start using it because a build config was present. So no use adding and maintaining that.

[2016-05-10 07:12] sunilit42 commented on #1817
Hello,

If it is fixed, then provide us one example how to prevent block from caching on product view page?

[2016-05-10 07:30] tkn98 commented on #4375
Via the command line interface and composer install. The git checkout was done first containing a composer.json requiring the magento package. Composer install then took care to fetch all requirements and do the file-copying (e.g. of the testsuite into the dev folder).

I then wanted to invoke the integration testsuite as it is my understanding that it will take the code-base and do an install of

[2016-05-10 07:53] amenk commented on #2134
The idea of subtree splitting of the GitHub repo evolved, when there was not yet a release and the composer repo was lacking behind. No that there are releases, there is not so much need for this modular GitHub install.

Another nice-to-have is the `--prefer-source` option, which I guess does not work with the composer repo and allows easily to contribute patched during development. But I think it

[2016-05-10 08:02] NadiyaS commented on #3807
Hi @keyurshah070 ,
the fix was delivered to develop branch. This ticket is closed as resolved.
Feel free to reopen this issue if you still can reproduce this bug.

[2016-05-10 08:02] #3807 closed, assigned to NadiyaS

[2016-05-10 08:04] slavvka commented on #3457
Hi @keyurshah070. MAGETWO-49820 has been fixed and delivered, please see at commits.

[2016-05-10 08:04] #3457 closed, assigned to slavvka

[2016-05-10 08:07] dweirich commented on #2999
I am having long load times on development as well (page load times from 30s - 1min) running locally on OSX. I'm not sure why, but stopping the event clean_cache_by_tags from firing on any given page decreased the page load time to 5s on average. This is with all caches disabled.

[2016-05-10 08:07] slavvka commented on #3990
Hi @AndreyChorniy, the issue has been fixed and delivered to mainline. Please see ec2d3f3.

[2016-05-10 08:07] #3990 closed, assigned to slavvka

[2016-05-10 08:10] slavvka commented on #3990
@AndreyChorniy the bug has been fixed and delivered. Please see ec2d3f3 or contact Magento Support to get a patch

[2016-05-10 08:10] NadiyaS commented on #4062
Hi @Katerina1993 ,
ticket is closed with resolution 'Cannot reproduce'.

[2016-05-10 08:10] #4062 closed, assigned to NadiyaS

[2016-05-10 08:12] AndreyChorniy commented on #3990
@slavvka
Thank you so much.

[2016-05-10 08:34] xiangkundavis commented on #4441
![1](https://cloud.githubusercontent.com/assets/998396/15140311/142fd2be-16cd-11e6-88e7-89951ee66b82.png)
![2](https://cloud.githubusercontent.com/assets/998396/15140312/142fe01a-16cd-11e6-97e7-ebcac3d0de91.png)

[2016-05-10 08:41] xiangkundavis commented on #4441
![3](https://cloud.githubusercontent.com/assets/998396/15140487/e8baa752-16cd-11e6-8fd1-6b7f2de7ce20.png)

[2016-05-10 08:42] NadiyaS commented on #2861
Hi @srinivasanithin,
issue about returning the same shipping address for different orders was fixed and delivered to develop branch.
See details in #4019.
This issue is closed as resolved. Feel free to open new issue if you find some problems with shipping address.
Thanks

[2016-05-10 08:42] #2861 closed, assigned to NadiyaS

[2016-05-10 08:45] keyurshah070 commented on #3807
@NadiyaS

Thank you for resolving this issue.

[2016-05-10 08:48] keyurshah070 commented on #3457
@slavvka

Thank you for resolving this issue.

[2016-05-10 09:01] #3456 closed, assigned to slavvka

[2016-05-10 09:26] AngelsDustz opened #4445 "Magento unable to fully read themes [Magento 2.0.5]"
## Steps to reproduce
1. Create a new theme in `app/design/frontend/[Vendor]/[Theme]`
2. Create a `layout.xml` and `theme.xml`
   3.
   a. When trying to select your theme in Page->Theme you will get the default Theme name
   b. When trying to select a layout from your theme in Content->page you are only able to select the    default layouts.
## Expected result
1. Create the files, configure them

[2016-05-10 09:56] creatuitydevelopers opened #4446 "Bundle Products - while Bundle Item option has only one product added the price calculation fails"
## Hello All,

We have encountered an error related to bundle product pages - if bundle product has Bundle Items with only one product added to each option the price is not updated.
## Steps to reproduce
1. Go to Magento admin panel.
2. Crate a bundle product with various prices for few (ex. 3) different products options and only one required option.
3. Go to newly created product on frontend.
4.

[2016-05-10 09:57] andidhouse commented on #4422
Hi,

we tested on another 2.0.5 environment and here the same with magento built in cache.
Can someone other also confirm this to make shure it is not our setup somehow?

Many thanks!

[2016-05-10 10:00] sevos1984 commented on #4307
This is a known problem, internal ticket id is MAGETWO-46014, magento team is working on it.

[2016-05-10 10:05] maderlock opened #4447 "No way to specify cascade for onUpdate in foreign keys"
In \Magento\Framework\DB\Ddl\TableAdapterInterface the addForeignKey method's type hints include a @param string $onUpdate, but no such parameter exists in the signature of the interface:

[code]

This interface is then implemented by \Magento\Framework\DB\Adapter\Pdo\Mysql etc. and so there is no way to specify the onUpdate action, only onDelete.

Is this feature likely to be added, and/or is the

[2016-05-10 10:11] chicgeek commented on #1821
Hey @maksek,

Yes, definitely a 'workaround'.

If you add an attribute to the internal CSS, it will force it to parse this command after other CSS links. _**This attribute doesn't itself do anything**_. I named the attribute as follows, but it could be anything:

[code]

[2016-05-10 10:20] sevos1984 commented on #4167
I can not reproduce this issue on latest develop, try update your code.

[2016-05-10 10:22] sevos1984 commented on #4284
Have you tried clearing browser cache?

[2016-05-10 10:25] sevos1984 commented on #4360
This is a known issue (internal ticket MAGETWO-51413), magento team is working on it.

[2016-05-10 10:45] kandrejevs commented on #2228
Any update on this issue? it is a major blocker if you are using CDN as you should be for any store that has extended latin alphabet.

[2016-05-10 10:50] satishashilwar opened #4448 "Login link appears for logged customer when we switch from https page to http link"
## Steps to reproduce
1. Set admin configurations for secure URL (https).
2. Browser home page (http) page.
3. Click on login link and logged in with customer email id & password.
4. Land on myaccount pages ( any https page )
5. From https page click on logo ( home page ) link.
## Expected result

In header section my account link will be populate in dropdown
## Actual result

1.Sign In link appea

[2016-05-10 10:51] anton-huz commented on #4243
Please notice that e6f9261 doesn't fix issue. We'll deliver proper fix under MAGETWO-52590.
The main issue that on client side there is no necessity to replace `HH` to `hh`.

[2016-05-10 10:54] SudoCat commented on #3958
Sorry - as I said, I simply gave up and reinstalled. Seems to be the only way to make anything work in this framework.

[2016-05-10 11:22] Nehace40 commented on #4255
@andidhouse can you get any solution for rebuilt all urls?

[2016-05-10 11:33] andidhouse commented on #4255
@ND17 No sry - not so far!
I think it must be done via a small script - no option here in the backend etc.

[2016-05-10 11:33] dennesabing opened #4449 "knockout.js:2908 Uncaught Error: You cannot apply bindings multiple times to the same element."
## Steps to reproduce
1. Go to Admin and launch Catalog or Catalog Category or maybe Customers
2. When page is loaded, a loader appear and just keep on loading, and in the console tab, an error is:
   uncaught Error: You cannot apply bindings multiple times to the same element.

knockout.js:2908 Uncaught Error: You cannot apply bindings multiple times to the same element.

![magentoknockoutissue](

[2016-05-10 11:35] Nehace40 commented on #4255
@andidhouse  if you get any solution than please post it here, i am also trying if i get the solution than i will post it

[2016-05-10 11:40] #4167 closed, assigned to nobody

[2016-05-10 12:28] antboiko commented on #4442
Hi @gayankt , what Magento version do you use?

Could you please clarify if you have the price A$18 appearing along with "was A$22.00" for all possible configurations (i.e. Blue/L, Pink/L, Orange/S, Orange/M, etc.)?

Thanks,
Anton.

[2016-05-10 12:29] ksz2013 commented on #4409
Meanwhile made a fix for it, pull request was submitted.

[2016-05-10 12:57] pynej commented on #4408
We have went with another solution.  It does appear that this authorization was the issue.  The problem is that our business process(not in my control) if to do authorizations and manually approval so we couldn't just use Sale.

Anyway, that aside I feel that these payment modules should generate actually error messages in the logs.  Basically every payment and shipping module doesn't generate any

[2016-05-10 13:39] antonkril commented on #2536
Multi-tenant setup is a SAAS solution based on magento (Magento GO), where one magento installation can serve requests for multiple not connected merchants. Magento stores/websites are not example of multi-tenancy.

[2016-05-10 14:18] mazhalai commented on #4375
@tkn98 we have created MAGETWO-52652 to investigate and fix.

[2016-05-10 14:21] aleron75 opened #4452 "Save dates in UTC (like in Magento 1)"
Hi,
this is not something which doesn't work but something that doesn't work as expected, so feel free to take it more as a suggestion than as a bug.

As stated in the title, I expected dates saved in UTC just like in Magento 1 but it doesn't seem to work this way in Magento 2.

What's more, the `\Magento\Eav\Model\Entity\Attribute\Backend\Time\Created` and `\Magento\Eav\Model\Entity\Attribute\Bac

[2016-05-10 14:21] mazhalai commented on #4445
@AngelsDustz this looks like the duplicate of #2797

[2016-05-10 14:23] mazhalai commented on #4447
@maderlock closing as duplicate of #1728

[2016-05-10 14:23] #4447 closed, assigned to nobody

[2016-05-10 14:25] mazhalai commented on #3958
@SudoCat thank you for your update. closing this issue for now, please feel free to open a new issue if you continue to have problems.

[2016-05-10 14:25] #3958 closed, assigned to mazhalai

[2016-05-10 14:28] ilol commented on #3066
MAGETWO-52506

[2016-05-10 14:29] mazhalai commented on #4375
@tkn98 do you get a stack trace if you add the `-vvv` option when running the command.

[2016-05-10 14:42] cpartica commented on #3789
That's a better info and thank you for that, very valuable
We are investigating how can we improve this by rewriting some interfaces, so you can have a better easier access to full shipping data

[2016-05-10 14:44] #3514 closed, assigned to nobody

[2016-05-10 14:52] mazhalai commented on #3052
@ajzele this has been fixed in the develop branch in scope of #2335. Please have a look and create a new ticket if issues arise.

[2016-05-10 14:52] #3052 closed, assigned to mazhalai

[2016-05-10 14:54] pboisvert commented on #4446
@antboiko can you have the team verify this issue and file a ticket?

[2016-05-10 14:57] perryholden commented on #4108
It appears that when saving a product in the admin, the Magento\Catalog\Model\Product\Attribute\Backend\Stock::beforeSave() method takes the data property 'quantity_and_stock_status' which contains 'qty' and 'is_in_stock' data for the product and then sets that data to the product's 'stock_data' property, overwriting any existing values there. It then unsets 'quantity_and_stock_status' entirely. W

[2016-05-10 15:06] hshar7 commented on #3722
Hey guys I am not able to reproduce this. If I disable a module using cli then it will not show up on the Configurations page. If I disable it from the Configurations page then it will stay as "disable"
Screenshot:
![screen shot 2016-05-09 at 1 28 36 pm](https://cloud.githubusercontent.com/assets/17727543/15151466/dad2d380-1696-11e6-8b25-c3aaeb754cb5.png)

[2016-05-10 15:06] #3722 closed, assigned to nobody

[2016-05-10 15:07] hshar7 commented on #4424
Same as: #3722

[2016-05-10 15:07] #4424 closed, assigned to mazhalai

[2016-05-10 15:14] pboisvert commented on #4287
@mbrinton01 can you pass this along for investigation?

[2016-05-10 15:25] bh-ref commented on #2552
There is an additional, important issue with this: if the child product is set to "out of stock" and you edit and save the grouped product (the parent), the relation will be deleted.

[2016-05-10 15:44] vrann commented on #4377
@piotrekkaminski correct ticket number is MAGETWO-52448 scheduled for 2.0.7

[2016-05-10 15:49] rganin commented on #2855
@bondimedical3, seems your issue is not related to cron but to search indexer. Internal ticket MAGETWO-52583, will be delivered soon.

[2016-05-10 15:53] andidhouse commented on #4422
We just realized that also saving one product in the backend causes the magento cache to be flushed completely.

Is this really a bug or are we in a wrong setup/mode?

[2016-05-10 15:54] anton-huz commented on #4248
Hi @skmomemo
You can retest issue on current develop branch.
Fill free continue discussion if it still reproducible for you.

[2016-05-10 15:54] #4248 closed, assigned to nobody

[2016-05-10 15:55] mazhalai commented on #4391
@OgreMHDW @alex-parra cannot reproduce this issue. I urge you to check file/folder groups and  permissions again, especially `var/session`(of course assuming session is stored in files and not in redis). I checked on Cento 7.0-64, Apache 2.4, Magento 2.0.5 and cannot reproduce this issue.

[2016-05-10 15:56] joshuaswarren commented on #4310
We should've specified - this was on Magento Enterprise, not Community. Not sure if that'll make a difference in attempting to reproduce. I'll see if I can find the original team member who submitted this bug and get those additional details for you.

[2016-05-10 16:10] MomotenkoNatalia commented on #3972
Closing the issue as it cannot be reproduced and there is no response has been received from the reporter.
@chloeefr  please feel free to reopen if you feel that issue could be reproduced.

[2016-05-10 16:10] #3972 closed, assigned to MomotenkoNatalia

[2016-05-10 16:11] MattDeanCS opened #4453 "Magento 2.0.4 Warning: getimagesize - Product\Image.php on line 949"
I can see this issue has arisen before and is down as fixed but I'm getting this issue on 2.0.4 on product and category pages. Cache is off. Thanks

[2016-05-10 16:12] MomotenkoNatalia commented on #2835
Closing the issue as it cannot be reproduced and there is no response has been received from the reporter.
@mage2pro please feel free to reopen if you feel that issue could be reproduced.

[2016-05-10 16:12] #2835 closed, assigned to MomotenkoNatalia

[2016-05-10 16:21] OgreMHDW commented on #4391
File permissions appear normal as the system is creating session files properly. I am also using Centos 7. Apache 2.4 and Magento 2.0.5. There are no errors in the error log. What logs can I check to determine the cause?

[2016-05-10 16:27] mazhalai commented on #4391
@OgreMHDW any errors in Apache's [access log](https://httpd.apache.org/docs/2.4/logs.html#accesslog) or [error log](https://httpd.apache.org/docs/2.4/logs.html#errorlog)?

[2016-05-10 16:40] antboiko commented on #3919
Hello @cs221313, kindly ask you to provide a response on comment above.

Thanks,
Anton.

[2016-05-10 18:28] alex-parra commented on #4391
I've been testing but haven't found a solution...
Permissions make no change;
Cookie settings either;
I'll keep trying to figure it out and publish here any findings.
PS: The strange thing is that earlier today, I deleted env.php to trigger reinstall.
Setup kick-in without issues, installation took about 1 or 2 minutes...

[2016-05-10 19:11] mazhalai commented on #4016
@ircsome we are closing this bug, since it is not reproducible after repeated tries. Please feel free to open a new issue if problems exist.

[2016-05-10 19:11] #4016 closed, assigned to nobody

[2016-05-10 19:13] mazhalai commented on #4391
@alex-parra why is that strange? Also, please post here if you have any update regarding original issue.

[2016-05-10 19:33] maksek commented on #4431
@MartijnBraam, there is not enough data in steps to reproduce. What is payment method used? What is configuration of orders in store?
Did you check admin orders? Did you check logs if there are any info with errors? Did you try use developer mode for testing purpose?

[2016-05-10 19:36] maksek commented on #4453
@MattDeanCS, there is not enough information. Log must be more extended, warning on call getimagesize must follow with trace logs. Please provide full log around the call.

[2016-05-10 19:37] alex-parra commented on #4391
@mazhalai Well, if the issue were permissions, setup should not work since I only delete the env.php file.
After install, setup no longer works...
I'm performing a clean install now to see if I get past this.
Thank you.

[2016-05-10 19:40] maksek commented on #4449
@dennesabing, did you try to clean browser cache and reload?

[2016-05-10 20:04] maksek commented on #2797
@peec all fixes from github are targeting 2.1 release, you won't see them in patch releases yet. For this particular i got confirmation - will be targeting 2.0.7

[2016-05-10 20:14] zhiyicai opened #4454 "CMS Page with <head> in layout update xml"
Hello all,

I was able before to include custom css in my **cms page** using the Layout update xml field with this

[code]

But since the v2.0.4 I have the following message whenever I try to save my page
"Please correct the XML data and try again. Element 'head': This element is not expected. Expected is one of ( referenceContainer, container, update, move ). Line: 1"

How can I do no to include

[2016-05-10 20:17] maksek commented on #4430
Hi @krisdass, what you mean by "let me know"? The error means you have similar category with the same URL key. And you trying to do another one. We don't know how you added products via code, and if it was correct.
Please provide exact steps to reproduce with examples and issue you are experience, then we will be able to try reproduce. At the current state the issue is not possible to confirm.

[2016-05-10 20:30] maksek commented on #4444
@gayankt can you provide steps for reproduce? Also do you use custom developed code or it is reproducible on vanilla magento 2 code, which version?

[2016-05-10 20:43] mazhalai commented on #4391
@alex-parra Please see [this comment](https://github.com/magento/magento2/issues/4391#issuecomment-218213226) and check both access and error logs.

[2016-05-10 21:02] alex-parra commented on #4391
Hi @mazhalai
The clean reinstall solved it for me.
I deleted all files and folders and did a clean install.
For now at least, it's solved for me.
Thanks for your support!

[2016-05-10 21:05] choukalos commented on #4429
Did you get a notification to flush the cache/did you flush the cache after changing the settings?

[2016-05-10 21:10] bycollar opened #4455 "Rating error"
Hello all
I can not set the ratings , need help.
## Steps to reproduce
1. Go to Magento admin panel - Stores - Rating
2. Press Add new rating
3. Set Default Value
4. Set Visibility
5. Check box Is Active
6. Save rating
## Expected result
1. The new rating is stored and visible on the product page
## Actual result
1. Error message appears: "Rolled back transaction has not been completed correctly."

[2016-05-10 21:13] maksek commented on #4434
@alex-parra, can you provide version where you are experiencing the issue. Also if there are additional extensions installed?

[2016-05-10 21:16] piotrekkaminski commented on #500
This proposal makes sense but is currently not our priority. It was added to backlog and will be handled with other i18n/l10n issues.

[2016-05-10 21:18] piotrekkaminski commented on #513
This proposal is currently not our priority. It was added to the backlog. Similar functionality can be achieved with server rewrites if needed.

[2016-05-10 21:22] piotrekkaminski commented on #537
We are currently considering providing a default development environment image that would help with such use case. Currently it is recommended to have a local installation and git pull the latest code (only for contributing/core development purposes, end users should use composer or ZIP download).

[2016-05-10 21:23] alex-parra commented on #4434
Hi @maksek
I've just made a clean install and was about to check this issue again.
It's still happening...
- Magento 2.0.5
- No additional modules

[2016-05-10 21:25] piotrekkaminski commented on #635
This is currently not a priority but asked architects for evaluation.

[2016-05-10 21:25] maksek commented on #4434
@alex-parra, thank you. Our team will try to reproduce and will back with results

[2016-05-10 21:30] piotrekkaminski commented on #641
This is currently not a priority seeing many stores use Rs. It will be considered with other i18n/l10n issues.

[2016-05-10 21:31] jstuardo opened #4456 "quote.getCalculatedTotal() does not include shipping price"
I have implemented a payment method whose method renderer has this function:

[code]

The problem is that quote.getCalculatedTotal()  does not include shipping price. Is this a bug or do I need to call other function? I tried searching for other function but without success.

Any help please?
Thanks
Jaime

[2016-05-10 21:31] piotrekkaminski commented on #1023
This is on the roadmap, tentatively scheduled for next year. Internal ticket MAGETWO-46399.

[2016-05-10 21:35] piotrekkaminski commented on #1193
@pboisvert actually @antboiko as it is i18n issue. I've created internal issue MAGETWO-52665 to track this request.

[2016-05-10 21:45] piotrekkaminski commented on #1554
This is not currently a priority since external projects exist that seems to be tackling this issue:
- https://github.com/vpietri/magento2-developer-quickdevbar
- http://store.pulsestorm.net/products/commerce-bug-3

[2016-05-10 21:45] #1554 closed

[2016-05-10 21:46] piotrekkaminski commented on #1843
Reassigned to @tanya-soroka

[2016-05-10 21:50] piotrekkaminski commented on #2136
@micmeister59 @mblarsen can you provide some information why it would be useful? What is the use case? Is it security? Is it not conflicting with other tools?

[2016-05-10 21:53] OgreMHDW commented on #4391
There are no errors in access_log or error_log.

[2016-05-10 21:53] piotrekkaminski commented on #2151
CAPTCHA changes are on the roadmap, tentatively scheduled for next year.
In github it is tracked here https://github.com/magento/magento2/issues/3023.
As for deleting the images, it is usually a bad idea as they might be referenced from marketing emails, blogs, search engines etc. With storage costs going down I do not consider it a priority - is it a problem for many users?

[2016-05-10 22:09] go6media commented on #2732
This is still an issue, and i cant find anything in the DB related to minification in order to disable it !

all i see in core_config_data is

<img width="675" alt="screen shot 2016-05-10 at 23 08 44" src="https://cloud.githubusercontent.com/assets/6851754/15164075/49cb7338-1704-11e6-9082-2330cec3b8e3.png">

NOTHING about JS or CSS minifying at all

now stuck with a broken admin area and slow shop

[2016-05-10 22:16] mazhalai commented on #4391
@OgreMHDW have you setup up these log files in your apache `.conf` file?

[2016-05-10 22:18] cpartica commented on #4456
quote.getCalculatedTotal does not include shipping ,that's true if you look at Magento/Checkout/view/frontend/web/js/model/quote.js

[code]

it only has one key: the subtotal with discount that's without shipping but quote.getCalculatedTotal() would collect all keys added to the collectedTotals() observable object

We are investigating this if the expected behavior or is it a bug

[2016-05-10 22:44] OgreMHDW commented on #4391
Yes, the files are showing normal activity, no errors. In the access_log shows the normal get commands. Shows backendapp/redirect/app and backendapp/redirect/key followed by getting the unlogin URL.

[2016-05-10 22:46] mazhalai commented on #4391
@OgreMHDW anything in the browser console log?

[2016-05-10 23:02] okorshenko commented on #4094
@heldchen Thank you for reporting the issue. MAGETWO-51783 merged to develop branch.

[2016-05-10 23:02] #4094 closed, assigned to nobody

[2016-05-10 23:03] okorshenko commented on #4072
@jaimestuardo Thank you for reporting the issue. MAGETWO-51792 merged to develop branch.

[2016-05-10 23:03] #4072 closed, assigned to nobody

[2016-05-10 23:06] OgreMHDW commented on #4391
Just this:
GET https://www.domain.com/setup/index.php/session/unlogin 401 (Unauthorized)
Navigated to https://www.domain.com/setup/index.php/session/unlogin

[2016-05-10 23:43] tanya-soroka commented on #3167
Updates has been provided by @piotrekkaminski .
We have created a story for this, MAGETWO-26534.

[2016-05-10 23:47] tanya-soroka commented on #2553
@pboisvert Looks like we have some other similar request "configuration via CLI  #3238."

[2016-05-10 23:50] tanya-soroka commented on #2419
Hello
Could you please confirm that the issues has been resolved? If yes, please go ahead and close the ticket.

Thanks

[2016-05-11 00:12] tanya-soroka commented on #1843
We have already task MAGETWO-43040 for this changes which is related to the #1885 and #2446 pull requests

[2016-05-11 01:06] jpreed2 opened #4457 "Improve oAuth Integration Identity Link Popup"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. In Magento Admin: System > Extensions > Integrations click Add New Integration.
3. Enter an integration name, email address, callback url and identity link url.
4. Click API tab on the left and choose Resource Access All.
   Click Save.
5. The new integration displays in the list of integrations. Click the "Authorize" link for the

[2016-05-11 01:16] cs221313 commented on #3919
Hi, Anton,

Only US states was in the region table. If I want to develop the ecommerce website for Chinese company, I have to add the Chinese region at the backend.
![Uploading 1.jpg…]()

[2016-05-11 01:16] cs221313 commented on #3919
Hi, Anton,

Only US states was in the region table. If I want to develop the ecommerce website for Chinese company, I have to add the Chinese region at the backend.
![image](https://cloud.githubusercontent.com/assets/8097168/15167623/fb7b1036-175c-11e6-8d9e-52bd0181be3a.jpeg)
After user click the new region, we can add new region in the following page:

![image](https://cloud.githubusercontent.com

[2016-05-11 01:40] hshar7 commented on #3919
@cs221313 could you please reupload the photo. It seems like it didn't finish uploading.

[2016-05-11 03:17] piotrekkaminski commented on #3023
This is on the roadmap, tentatively scheduled for next year. Internal ticket MAGETWO-46399.

[2016-05-11 03:19] piotrekkaminski commented on #1023
Merging into one  issue https://github.com/magento/magento2/issues/3023

[2016-05-11 03:19] #1023 closed

[2016-05-11 03:22] piotrekkaminski commented on #3022
This is internally tracked as MAGETWO-35358 and tentatively scheduled for early next year.

[2016-05-11 03:25] piotrekkaminski commented on #3920
Due to the structure of translations it would be really hard to distinguish admin from front-end strings. All the popular languages should be translated using https://crowdin.com/project/magento-2, which should not require you to spend time or money translating the core strings yourself. The only thing left to translate is the custom content, which does not really differ between admin and front-en

[2016-05-11 03:25] #3920 closed, assigned to piotrekkaminski

[2016-05-11 03:28] piotrekkaminski commented on #3938
@maksek please review and advise.

[2016-05-11 03:33] piotrekkaminski commented on #2821
The bug is now in the backlog as MAGETWO-52671.

[2016-05-11 03:38] parthviroja commented on #4167
Thanks

[2016-05-11 03:46] #4367 closed, assigned to nobody

[2016-05-11 03:48] piotrekkaminski commented on #2246
This issue is tracked internally as MAGETWO-52672

[2016-05-11 03:50] piotrekkaminski commented on #4380
@maksek please redirect to proper person

[2016-05-11 03:51] QuangAn commented on #2332
i have added configurable product but not have shipping step in onepage checkout
So how to show shipping step ?
http://prntscr.com/b2mw71

[2016-05-11 03:51] piotrekkaminski commented on #4379
@choukalos please review and file bug

[2016-05-11 03:53] piotrekkaminski commented on #4376
The resolution will be tracked in more generic issue https://github.com/magento/magento2/issues/2961

[2016-05-11 03:53] #4376 closed, assigned to nobody

[2016-05-11 03:56] piotrekkaminski commented on #4376
Tracked in internal issue MAGETWO-52673

[2016-05-11 03:56] piotrekkaminski commented on #2961
Reproduction steps in https://github.com/magento/magento2/issues/4376

Tracked in internal issue MAGETWO-52673

[2016-05-11 03:58] piotrekkaminski commented on #4374
@tanya-soroka  can you review and file an issue?

[2016-05-11 05:08] sjauck commented on #4347
Is there a solution for this problem?

[2016-05-11 05:16] gewaechshaus commented on #2732
@waynep16 - you are at the wrong page, try to use pagination in phpmyadmin...Core_config_data does contain more than 13 records for sure ;) You can also click the search button at the top while viewing the related table. Search in the path field for something %like% js css and so on.

[2016-05-11 05:24] aaronsturm opened #4458 "No theme updates working"
I created a new theme based on the blank theme. It loads correctly with no issues. I've tried a myriad of examples to try and change the theme (to learn), but nothing is having any effect.

To keep it simple, I used [http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/layouts/xml-manage.html#layout_markup_css](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/layouts/xml-manage.html#

[2016-05-11 06:39] bhavinrshah opened #4459 "Could not install new components"
## Steps to reproduce
1. Login into admin area.
2. Select System -> Web Setup Wizard
3. Select Component Manager
4. Enable new component
5. Click on Readiness Check
6. It gives PHP version and extension issue.

I have checked PHP version and extension as per documentation are enabled.
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Examp

[2016-05-11 06:39] parthviroja opened #4460 "shipping cart is empty than also minicart display item [ Magento 2.0.0 ]"
i have install magento 2.0.0 on live server

when i have remove items from shipping cart, minicart not updated.

now i refresh page few times, than also minicart display item.

![15](https://cloud.githubusercontent.com/assets/9655554/15172068/ffe0b392-1770-11e6-8e43-30ab889e8ebd.png)

[2016-05-11 06:52] dmanners commented on #3938
So @amacgregor and I did have a go at this during the Imagine hackathon and results can be seen at https://github.com/amacgregor/magento-contributor-tools

[2016-05-11 07:09] parthviroja commented on #2477
This is not an bug, Need to fill store information from Admin Side.

Admin -> Stores -> Configuration -> General -> General -> Store Information

After fill this info, you can visible data in footer block of mail

[2016-05-11 07:27] misaert commented on #2136
It is useful because we have three websites with the same domains. Only the subdomain changes. The websites 1 and 2 (the same magento) have the common cart. It is why we choosed the same domain for cookie domain. The website 3 (an other magento) is different compared to websites 1 and 2 but it has the same domain to keep brand image for client : with the same frontend, we have conflicts.
I thinf i

[2016-05-11 07:39] AngelsDustz commented on #4445
@mazhalai By the looks of it (s)he wants to include/load a Theme using composer as where I tried to create one.
Also my themes were added, it simply didn't read beyond the fact it saw the folder, theme.xml etc. was being ignored.

[2016-05-11 07:55] BlackIkeEagle commented on #2419
@tanya-soroka I confirm the issue is resolved, you can close this ticket or @patrick4u can close it

[2016-05-11 08:01] mattiaclementi opened #4461 "Add new custom attributes to attributeGroup fails."
## Steps to reproduce
1. Install Magento from `2.0` branch.
2. Add a custom command to Magento's CLI called _example:module:create-feature_ or as you like;
3. The goal of this command is to create a series of custom **attributes**, connect this with a new custom **attributeGroup** and connect this attribute group with a new **attributeSet** that extend the native attribute set of Product entity;

[2016-05-11 08:29] MattDeanCS commented on #4453
Full error message is;

Warning: getimagesize(E:/dev/www/magento2/): failed to open stream: No such file or directory in E:\dev\www\magento2\app\code\Magento\Catalog\Model\Product\Image.php on line 949
#0 [internal function]: Magento\Framework\App\ErrorHandler->handler(2, 'getimagesize(E:...', 'E:\dev\www\mage...', 949, Array)
#1 E:\dev\www\magento2\app\code\Magento\Catalog\Model\Product\Image.php

[2016-05-11 08:44] webspeaks commented on #3451
I also have same error. Any update?

[2016-05-11 08:46] rganin commented on #4453
The product image was not uploaded. Verify that httpd has access rights to uploads directory of your instance and the filesize limit in server configuration allows images of size you are uploading.

[2016-05-11 08:58] tkn98 commented on #4375
@mazhalai: I tried to reproduce clean but now I get an earlier failure. When running the first bin/magento command (_module:enable_) there is a `require()` failure:

[code]

So I can't provide the -vvv output. I perhaps need to reven more simplify the reproduction case.

/e: While we're at it: the file `bin/magento` is not with executable bits checked in in the repository, that's why I use `php -f

[2016-05-11 09:00] devdesco-ceo commented on #4429
Everything is flushed.

[2016-05-11 09:02] devdesco-ceo commented on #4360
As I see in dob.phtml file, there is no callout to get customer data from database, just the field. Also, trying to use the suggested widget code in the comment lines in the file did produce 500 error.

[2016-05-11 09:02] devdesco-ceo commented on #4284
Yes, all caches flushed, including browser cache. Tried in different browsers. You can try yourself at https://endohaus.com

[2016-05-11 09:11] wittness87 opened #4462 "Custom Options 'Required' Checkbox issue"
## Steps to reproduce
1. Install Magento 2.0.4
2. Add a custom option attribute with dropdown box.
## Expected result
1. Product page shows custom option attribute with dropdown options (NOT REQUIRED).
## Actual result
1. Custom options are required for selection.
2. Upon removing the required checkbox in custom options and saving, the checkbox is still ticked and the custom option still required

[2016-05-11 09:12] flipflap opened #4463 "Theme languages will be ignored after installation of language packages"
## Steps to reproduce
1. Personal theme translations in file ch_DE at app/design/frontend/name/name/i18n (works before installing the language package)
2. Installing language package at app/i18n/name/ch_DE
## Expected result
1. Personal theme translation should overwrite language package
2. Language package should show up
## Actual result
1. **Personal theme translations are ignored**
2. Language

[2016-05-11 09:22] sergei-sss opened #4464 "Pager variable for catalog - question"
## Steps to reproduce
1. Install Magento 2.0.5 with sample data.
2. In the class Magento\Theme\Block\Html\Pager change $_pageVarName to 'z'.
   (analog of using setPageVarName() public method)
3. Go to the category .../women-custom/tops-women.html and click page 2 in the toolbar.
   URL is .../women-custom/tops-women.html?z=2 now and you can see in toolbar that page 2 is active.
## Expected result

[2016-05-11 09:25] krisdass commented on #4430
Hi @maksek, The code for adding product programmatically is working fine.
But the issue noted was, After adding product when you are trying to update the category I am getting the error as "URL key for specified store already exists".

There is no duplication of URL. Even this error occurs when you edit product as well.

**If you select any store from Store View dropdown, there is no error !**

I

[2016-05-11 09:28] LucScu commented on #2778
Is this issue fixed in last release?

[2016-05-11 09:28] MattDeanCS commented on #4453
@rganin
The image is showing in the backend and is at /pub/media/catalog/product/
Is it different for the frontend?
Thanks

[2016-05-11 09:34] ktruehl commented on #2552
The problem lies in the `Magento\Catalog\Model\Product\Link` class in the `getProductCollection()` method. Here the in stock filter is always added to the product collection regardless of whether we are in the frontend or backend.

A patch/hack/woraround is to replace the line

[code]

with the following

[code]

[2016-05-11 10:01] #4453 closed, assigned to nobody

[2016-05-11 10:15] antboiko commented on #2950
Hello @sIiiS, sorry for the delay with response. Thanks for your inquiry. We've created internal ticket MAGETWO-52680 for this feature and added it to the backlog.

Best,
Anton.

[2016-05-11 10:39] MattDeanCS opened #4465 "Warning: getimagesize(E:/dev/www/magento2/): failed to open stream: No such file or directory in E:\dev\www\magento2\app\code\Magento\Catalog\Model\Product\Image.php on line 949"
Fresh install of magento 2.0.4.
Added a category and a product with one image, image shows in the admin area.
Created a theme that does not inherit and only contains composer.json, registration.php, theme.xml and media/preview.jpg.

Using either blank or luma the image shows.
When using this new theme home works fine, but on product and category pages get the following;

[code]

Am I missing somet

[2016-05-11 10:42] iflairkinjal commented on #2368
It seems like if there is blank field for category URL, need to add category URL manually which is not existing for any other category

[2016-05-11 10:58] toniyecla commented on #3592
development workaround:

`ln -s /path_to_magento2/i18n /`

`bin/magento setup:static-content:deploy es_ES`
Requested languages: es_ES
=== frontend -> Magento/blank -> es_ES ===
...............................................................................................................................................................................................................................

[2016-05-11 11:13] antboiko commented on #1785
Hi @dustinnordquist , sorry for the delay in response. Thanks for your inquiry. We've created internal ticket MAGETWO-52687 for this feature and added it to the backlog.

Best,
Anton.

[2016-05-11 11:21] NadiyaS commented on #4409
Hi @ksz2013 ,
thanks for reporting this issue and making PR. Please see comments in your PR and only after your changes we can start to process it.

[2016-05-11 11:28] antboiko commented on #3085
Hi @riswit , we have internal ticket MAGETWO-52688 for this feature in our backlog.

Thanks,
Anton.

[2016-05-11 11:34] MattDeanCS commented on #4465
To answer my own question, forgot the etc/view.xml file with image settings.
Could do with a slight more useful error message in logs though.

[2016-05-11 11:34] #4465 closed, assigned to nobody

[2016-05-11 12:01] priyankagarg8 opened #4466 "Magento 2: Want to have custom options of simple product on configurable product detail page on change of options"
Magento 2: Want to have custom options of simple product on configurable product detail page on change of options

[2016-05-11 12:07] naveenabt commented on #3989
Backend:
static/adminhtml/Magento/backend/en_US/css/styles.css

Css will not load if above file not loading or not generated properly using "bin/magento setup:static-content:deploy" command.
If user and group are different it will not generate properly.
Make sure the group and user should be  "www-data"

[2016-05-11 12:17] Frits1980 commented on #4131
Still no patch or something?

[2016-05-11 12:21] MomotenkoNatalia commented on #4218
Yes this issue exists and now it's not possible to use 3rd party composer packages web assets. Thank you for pointing out to this problem, architects will work on finding solution for this use case.

[2016-05-11 12:32] antboiko commented on #4401
Hello @sameasterling , thanks for your inquiry. We've created internal ticket MAGETWO-52691 for this feature and added it to the backlog.

Best,
Anton.

[2016-05-11 12:54] ivanweiler commented on #2640
Hello Max,

It's not really solved since unneeded styling is still part of CE, now we only know why it is there (mentioned less evil solution) :) I don't know if something is changed in latest commits, but I see that EE less files are still in CE themes, so they're most likely still compiled in final CE css.

If it's not doable at this point maybe this should be feature request or similar, since i

[2016-05-11 13:04] mazhalai commented on #4459
@bhavinrshah do you have the required [crons](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html) setup?
And why is expected result related to shopping cart?

[2016-05-11 13:07] farior commented on #4131
Temporary workaround using plugin:

**di.xml**

[code]

**My\Module\Model\Directory\Country\Postcode\Config\Plugin.php**

[code]

[2016-05-11 13:08] mazhalai commented on #3451
Thank you for reporting, we have created MAGETWO-52692 to investigate and fix.

[2016-05-11 13:13] mazhalai commented on #4375
@tkn98 this failure is due to not running `composer install`

[2016-05-11 13:13] go6media commented on #2732
Nope - we are using latest magento and there are only 13 records when i click in to Core_config_data with no pagination to advance to another...

MySQL returned an empty result set (i.e. zero rows). (Query took 0.0005 sec)
SELECT \*
FROM  `core_config_data`
WHERE  `path` LIKE  'js'
LIMIT 0 , 30

[2016-05-11 13:20] ilol commented on #2246
Hi all,
since the required fields are literraly reqiured, the user must fill in these fiells, and the system will not allow any further action without that information. Agree?

[2016-05-11 13:56] #2419 closed, assigned to tanya-soroka

[2016-05-11 14:01] joanhe commented on #4422
@andidhouse @joebusby I spent some time investigate this problem. This issue only appears in Magento 2 with Built-in Cache. Everything works fine with Varnish. This is due to absence of ESI protocol support in Built-in Cache. As a results update of single product can lead to invalidation of category data that triggers correspondingly invalidation of menu, last one lead to almost all catalog pages

[2016-05-11 14:03] kandrejevs opened #4468 "Unable to insert multiple catalog product list widgets in CMS page"
## Preconditions
1. Magento 2.1

## Steps to reproduce
1. Insert at least two widgets with type Catalog Product List in CMS page, in my case I want to output 16 products from one category and 16 from another one in homepage (4 products in row with pager and page size- 4)

## Actual result
error in CMS page output:

and no content at all.

## Expected result
Content is displayed properly, error mes

[2016-05-11 14:13] choukalos commented on #4422
I'm converting this to a feature request and putting this under our internal story ( MAGETWO-36845 ).  @Vinai I believe this exists in M1x .  From a timeline perspective this is pretty low priority - focus more heavily on Varnish for caching ( hence our recommendation ) and other performance work at this point.

[2016-05-11 14:25] joebusby commented on #4422
If it's easy, please check to see if this happens when you enter an order on the backend through SSL.  If so, it's still a bug since Varnish does not support SSL.  We should not have to set up a secure reverse proxy to use the admin interface.

[2016-05-11 14:25] shayanhusaini commented on #4419
Any update on this issue?

[2016-05-11 14:28] pboisvert commented on #4419
@antboiko can you have the team validate this issue and file a ticket if confirmed

[2016-05-11 14:33] alex-parra commented on #4434
Hi @maksek
I went to check this again, and I found out that I did not understand the screen.
The product list I say appears, makes sense, it's so we can choose the product for the new review.
Did not get it... Maybe a small phrase at the top of the list would make it clear.
After clicking a product on the list, the New Review Form shows up, as expected.

Pagination does not seem to be implemented

[2016-05-11 14:33] joebusby commented on #4422
I just entered an order through the backend and it invalidated the cache.  Still a bug in my mind.

[2016-05-11 15:39] cspruiell commented on #4381
@wq9 - when specifying a file as a custom option, the `optionValue` must be "file". The `fileInfo` section should also be corrected to specify the `type` as "image/png" and the `name` with the .png extension. After making those changes you should see the item added to the cart and the image saved.

[2016-05-11 15:43] #4381 closed, assigned to nobody

[2016-05-11 16:09] cspruiell commented on #2910
This was fixed in the scope of another ticket (MAGETWO-48495) and is in the latest develop branch. It will be included in the next release.

[2016-05-11 16:09] #2910 closed, assigned to nobody

[2016-05-11 16:40] cspruiell commented on #3936
An internal ticket (MAGETWO-52703) has been created to track this issue.

[2016-05-11 16:45] SantyagoSeaman commented on #3941
Hello!

Unfortunately, you can't add custom attributes to any model without implementing backend logic for storing and loading appropriate data. For example, it's already implemented in Catalog and Customer modules and the entities like Product, Category or Customer can be easily extended with new attributes according to a number of articles:
https://www.atwix.com/magento/adding-attribute-programa

[2016-05-11 16:55] eb84 commented on #3822
I am also running into this issue when attempting to POST a new product. Are there any updates on this issue?

[2016-05-11 16:57] heyitsroberthe commented on #4446
I will try to reproduce this on EE.

[2016-05-11 17:28] cspruiell commented on #3282
@Git-Rajkumar - I am unable to reproduce this scenario. When you change the base URL, it changes both the admin and frontend URLs. If I change the URL to my IP address I still get correct behavior under the new address. If I try to use the old address it resolves to the newly configured URL. Please retry this under the latest develop branch.

[2016-05-11 18:04] p3mbo commented on #3777
Hi,
This is not a question - hence there being no question mark in my original post. The setting In Magento 2 does not do anything.

Steps to reproduce:
- Install M2 on a Windows Based System
- Fill out system/smtp/host and system/smtp/port from the configuration setting.
- Try to send an email.

Expected Result:
- Email is sent.

Actual Result:
- Email is not sent because the host and port are no

[2016-05-11 18:10] piotrekkaminski commented on #3777
Internal issue MAGETWO-52707

[2016-05-11 18:44] bycollar commented on #4455
Any body help me?

[2016-05-11 18:48] maksek commented on #4455
@bycollar which version you are using? Do you have extra modules installed?

[2016-05-11 18:55] maksek commented on #4460
@parthviroja, looks like you have customized theme already, can you reproduce the same behavior on vanilla Magento 2.0.5 installation?

[2016-05-11 19:04] bycollar commented on #4455
O, sorry, latest version, Magento ver. 2.0.5

I instalil latest version - this is not an error . And on the current site error occurred since the previous update and after the latter update has not disappeared

[2016-05-11 19:15] maksek commented on #4455
@bycollar, you are saying - you do not have the error on clean 2.0.5, but you had it on older version, but after upgrade the error still reproducible?

[2016-05-11 19:24] maksek commented on #4461
Hi @ilCleme, thank you for reporting your experience. It will take some time to go throw steps and then we will back to you.

[2016-05-11 19:27] tzsolti opened #4470 "import.xml doesn't allow numbers in vendor name and class name"
## Preconditions

1. Magento 2.

## Steps to reproduce
1. Create a simple module with a vendor name which contains at least one number (ex. test123) which creates an import entity
2. etc/import.xml will look something like:

[code]
3. Enable module, clear the cache and open the Magento backend Import page

## Expected result
1. It should load the import page

## Actual result
1. The site will die

[2016-05-11 19:47] bycollar commented on #4455
Yes

[2016-05-11 20:14] pboisvert commented on #4060
@choukalos can you take a look at this one Chuck?

[2016-05-11 20:55] lucas-santos-chaordic commented on #2951
We are facing a similar problem, but it happens when we use accented letters, like í ú. In portuguese it is very common to have words with accents... In this case, some translations are not shown in the frontend. Any ideia?

[2016-05-11 21:14] mikeweis commented on #3832
@maderlock Thanks!

[2016-05-11 21:24] JDavidVR commented on #3625
I'm experiences same bug, is there a date for solution?
Thanks

[2016-05-11 21:27] choukalos commented on #4457
Internal ticket to improve this flow - MAGETWO-52007 ; reassigning to Mark

[2016-05-11 21:41] choukalos commented on #3625
Looks like ( MAGETWO-43095 ) is the internal story where this would actually be solved

[2016-05-11 21:42] bwaters commented on #3926
I am having trouble reproducing these results. The number of transactions per second seem low.  Can you confirm that you are running in production mode and have done all the steps to switch -- ie remove any conflicting MAGE_MODE server-variables in .htaccess or apache config and then
run

Also how was your siege test structured did you have the same query or a url file with a lot of unique queries

[2016-05-11 21:50] robfico commented on #3926
Yes, it was in production mode, no conflicts, etc... Same store using FPC was fast for search and adding to cart, with Varnish it was much slower for search and add to cart. siege tests were same URL. The catalog was around 5,000 products.

[2016-05-11 22:45] okorshenko commented on #4103
@dmitriyse thank you for reporting the issue. In scope of this commit https://github.com/magento/magento2/commit/c001fb981ed36179e4a0ea409c026c112d83b6a5 described issue was fixed.

[2016-05-11 22:45] #4103 closed, assigned to nobody

[2016-05-11 22:51] okorshenko commented on #3663
hi @devdesco-ceo could you please provide more details and steps to reproduce the issue?
Could you please use this template:

Steps to reproduce
--
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...

Expected result
--
1. [Example] Configurable product added to the shopping cart.
2. ...

Actual result
--
1. [Example] Error message appears: "Cannot s

[2016-05-11 22:53] pboisvert commented on #4053
@maksek Max--can you steer this one to the right resource to investigate?

[2016-05-11 22:54] okorshenko commented on #3450
@gary287 thank you for reporting the issue. MAGETWO-51112 was merged to develop branch.

[2016-05-11 22:54] #3450 closed, assigned to nobody

[2016-05-11 23:08] piotrekkaminski commented on #1337
We are working on a plan to move towards SaSS.

[2016-05-11 23:27] ignaciomella commented on #2933
I have the same problem on 2.0.5.

Country is Chile but steps too recreate problem are the same as detailed by dimasdwika.

[2016-05-11 23:59] ghost commented on #3970
Same issue on a fresh install, @mazhalai I have tried everything mentioned including setup:static-content:deploy

[2016-05-12 00:31] mirkocesaro opened #4471 "Unable to update links in CatalogImportExport"
Hi,
I tried to import a products csv file but I received a "foreign key constraint fails" during the execution of **_saveLinks** method of _Magento\CatalogImportExport\Model\Import\Product_.

The constraint is on _catalog_product_link_attribute_int_ table named CAT_PRD_LNK_ATTR_INT_LNK_ID_CAT_PRD_LNK_LNK_ID.

When **insertOnDuplicate** method updates the primary key in catalog_product_link table,

[2016-05-12 02:05] maksek commented on #4455
I was not able to reproduce issue you mentioned, also i didn't see the issue in 2.0.3, and after upgrade to 2.0.5 i didn't see any issue as well. It may be issue with your original installation. Btw which version did you use originally and how you did upgrade to 2.0.5?

[2016-05-12 02:07] #4148 closed, assigned to alena-marchenko

[2016-05-12 02:14] maksek commented on #2732
@waynep16, you are using wrong SQL query. Try this one:
SELECT \* FROM core_config_data  WHERE path LIKE '%js%' LIMIT 0 , 30

[2016-05-12 02:23] maksek commented on #2933
@dimasdwika, @ignaciomella  - the fix was delivered to the `develop` branch, as @ishakhsuvarov mentioned in his comment.
 `develop` !=  `2.0.x`, I will contact product team to validate if it will be delivered into 2.0.x, otherwise fix will be available in 2.1.0

[2016-05-12 02:27] maksek commented on #3970
@jupiter01, most likely it is related to permission. We have documentation on devdocs how to install Magento 2.

[2016-05-12 03:45] ghost commented on #3970
@maksek you are correct, had to fix permissions again after executing setup:static-content:deploy

[2016-05-12 04:08] parthviroja commented on #4460
Thanks @maksek,

Same Issue produce in 2.0.5 after upgrade from 2.0.0.

This issue produce when i add item in cart after 15 to 20 minute, when i open shipping cart page, this happens.

When i clean browser cache and history than, minicart display empty.

[2016-05-12 04:40] josegreyes commented on #3572
Any update on this issue, I am on an Ubuntu 14.04 and am having the same issue. Cart won't update selected and even though guest checkout is enabled I get a popup to sign or register to checkout. I believe it has something to do with the sessions but have exhausted all avenues there.

[2016-05-12 05:03] lijithmg commented on #3970
@jupiter01 You should run the command setup:static-content:deploy from the user were your websever can execute the files.

[2016-05-12 06:51] devhn commented on #4460
Same problem here using a custom theme (2.0.5). This was also reproduced with clean install - theme default. Mostly it happens when submitting an order when minicart should be cleared but it still shows the same product altough the cart page shows no products.

[2016-05-12 06:53] lucscu commented on #2778
In magento 2.0.5 it seems fixed.
Please update ufficially this issue.

[2016-05-12 07:03] tomislavbilic commented on #2640
Issue of "removing unnecessary styling" should not, by all means, fit into "undoable" category. :)

[2016-05-12 07:07] SidneyBilliet opened #4472 "Order grid: not returning to previous page when clicking back on order view page"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Make sure you have more than 20 orders so you have at least two pages in the order grid
3. go to page 2 (or 3, or 4...) and open an order by clicking 'view'
4. Click the "back" button on the order view page
## Expected result
1. You should be redirected to the page 2 (or 3, or 4...) of the order grid (where you opened the order)
##

[2016-05-12 07:13] andidhouse commented on #4460
Same problem here on 2.0.5 fresh install - no custom theme.
Seems to me that the minicart is not cleaned after the cart is cleaned.

We had this issue also on 2.0.0 and 2.0.2.

[2016-05-12 07:20] mattiaclementi commented on #4461
Hi @maksek, thank you for your help.

I add some other information about the module i'm developing:
1. The module.xml is like this:

[code]

the module haven't dependency from other module.
2. The di.xml contain only the injection of the command in the Magento CommandList:

[code]

There are many command inside this module, many of this command are only for example and exercise.
3. The composer.js

[2016-05-12 07:21] andidhouse commented on #4422
First - thanks all for your answers and response.

So for us - magento internal chache solution is not usable at the moment due to this at all. A caching cleaning every cache at one backend action or frontend order is not an option.

For varnish:
Can some magento internal confirm that magento CE has the same varnish functions as magento enterprise? I read some time ago that varnish was not usable

[2016-05-12 07:23] kandy commented on #3905
We finally can reproduce issue so, We have created ticket MAGETWO-52716 to fix this.

[2016-05-12 07:38] antboiko commented on #4419
Hi @shayanhusaini, thanks for reporting this issue. We've created internal ticket MAGETWO-52717 to fix this.

Best,
Anton.

[2016-05-12 07:47] odubovyk commented on #4330
Hi, shashankitsoft, we are glad that the sample code helped you a lot. And we are sorry that it took so much of your time and efforts. Thank you for the explanation, it will be passed to the team responsible for themes.

[2016-05-12 07:48] kayintveen commented on #3905
Perfect, thanks for the update. Any idea how long that would take?

[2016-05-12 08:11] antboiko commented on #4153
@zolthan

Hi Sebastian, I got your point. I've created internal ticket MAGETWO-52718 for this improvement and added it to the backlog.

Best,
Anton.

[2016-05-12 08:12] andrew-smart commented on #3544
@mazhalai My Apologies. I have not been getting updates from this ticket.
I run natively on mac osx with brew installed php 5.6.20 and mysql 5.6.27 with native apache.

@paulerickson Yes this is a custom repo. I built it to test the new uninstall scripts within modules. Your theory is quite interesting but not sure how I can test it.

[2016-05-12 08:15] carmelomtb commented on #3572
In my case i solve the problem activating Varnish Caching.
Go to Stores -> Configuration -> System -> Full Page Cache, select Varnish Caching, and follow the instructions for configure/install Varnish.

[2016-05-12 08:31] zolthan commented on #4153
@antboiko

Hi Anton, thanks for the reply. Maybe a backend config would be suitable where one can choose whether to include tier prices in the minimal price calculation.

Best Sebastian

[2016-05-12 08:40] antboiko commented on #4466
Hi @priyankagarg8 , thanks for your inquiry. Could you please provide detailed steps to reproduce the issue you have? Some screenshots will be helpful as well.

Thanks,
Anton.

[2016-05-12 08:46] go6media commented on #2732
Still nothing with that query

MySQL returned an empty result set (i.e. zero rows). (Query took 0.0005 sec)

maybe the install didn't complete properly? even though its working (minus the admin panel not working due to this JS issue which i cant disable because i cant find the DB table)

See attached.

![image](https://cloud.githubusercontent.com/assets/6851754/15208978/6b58471a-1826-11e6-9f82-b6a

[2016-05-12 09:12] datbunneh commented on #4221
Hello @dexteritycc

This issue is fixed and merged. Also it has to be included in 2.0.7.

[2016-05-12 09:17] SidneyBilliet commented on #4315
Hello??

[2016-05-12 09:26] antboiko commented on #4443
Hi @gayankt , could you please describe the need of setting this field as empty?

Thanks,
Anton.

[2016-05-12 09:37] SidneyBilliet commented on #4290
![2016-05-12_11h29_52](https://cloud.githubusercontent.com/assets/13572447/15210260/e81a6cf6-1835-11e6-9943-6e3a221e8eb1.png)

Still not able to translate these fields

[2016-05-12 09:56] neelimabenapally opened #4473 "invoice not found in admin panel after being created and getting the response back via rest api magento 2.0"
Below is the code to create invoice via rest api

[code]

I got the response as:

{"base_currency_code":"USD","base_discount_amount":0,"base_grand_total":119.93,"base_discount_tax_compensation_amount":0,"base_shipping_amount":15,"base_shipping_discount_tax_compensation_amnt":0,"base_shipping_incl_tax":15,"base_shipping_tax_amount":0,"base_subtotal":104.93,"base_subtotal_incl_tax":104.93,"base_tax_

[2016-05-12 10:01] bycollar commented on #4455
I deleted all ratings and added new. On visibility set I have this DB exception:
[2016-05-12 09:54:36] main.CRITICAL: exception 'PDOException' with message 'SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`magen
to-prod`.`rating_store`, CONSTRAINT `RATING_STORE_STORE_ID_STORE_STORE_ID` FOREIGN KEY (`store_id`) REFERENCES `stor

[2016-05-12 10:03] rbncha commented on #3034
@slavvka, for me manual reindexing isn't solving the issue. in the backend, the customers were imported from version 1.9.1.0 using data migration tool from magento. Customers are in eav format (customer_entity) and not in customer_grid_flat.

[2016-05-12 10:12] karl-ravn opened #4474 "Unable to continue with payment of order when pressing "back" to payment selection"
When an order
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add Product to the cart.
3. Install (for instance) SaferPay plugin from CustomWeb
4. Go to Checkout
5. Fill in shipment details
6. Select payment method and click "Place order"
7. Press back in button (not cancel in payment provider)
8. Press "Place order" again
## Expected result
1. You would go to the payment provid

[2016-05-12 10:26] Zaitsev commented on #4455
posted data for error above::
rating_code:asdfasdf
rating_codes[3]:asdf
rating_codes[6]:asdf
rating_codes[4]:asdf
option_title[36]:1
option_title[37]:2
option_title[38]:3
option_title[39]:4
option_title[40]:5
stores[]:3
stores[]:4
stores[]:6
is_active:1
position:1

Stores table:
![image](https://cloud.githubusercontent.com/assets/127843/15211699/6d155cae-1845-11e6-9550-6b514ba1496f.png)

[2016-05-12 10:30] marius-bica opened #4475 "Local customer data doesn't get invalidated after account confirmation"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Set the "Require Emails Confirmation" option in the admin to "Yes" (Stores -> Configuration -> Customers -> Customer Configuration -> Create New Account Options).
3. Make sure that at least the `config` and the `block_html` caches are cleared. Also clear the browser cookies
4. Create an account in the frontend and wait for the conf

[2016-05-12 10:35] ericahoekerd commented on #2862
yes this is exactly what we need! thanks for bringing this new methods in! Good Job!

[2016-05-12 10:36] ericahoekerd commented on #2932
strange workaround, but this is indeed working, we will put in the label name always the extension of the image

[2016-05-12 10:53] Druzzdil commented on #2463
Cannot gather stats! Warning!stat(): stat failed for /tmp/opt/lampp/temp/phpadCXWZ
LAMPP with php 5.6.15
Magento 2.0.4

[2016-05-12 10:53] avra911 commented on #3676
Have the same issue on a sub-domain multi stores.
After using site store switcher on front, is entering in loop in back-end page.

When browsing the stores, just by typing in the URL, without using the switcher, there is no problem.

[2016-05-12 11:07] #2862 closed, assigned to mbrinton01

[2016-05-12 11:08] creatuitydevelopers commented on #4310
Thanks for all your help here, guys!

Just to give you some more background - we have initially found this issue during testing data migration on Magento EE 2.0.4 and were able to reproduce the issue multiple times. The good news is that we cannot recreate the scenario outlined above on clean EE 2.0.5 instance.

Currently we're looking for the source of this issue. We do suspect that it may be rel

[2016-05-12 11:14] aude opened #4476 "Discouraging GitHub description"
The used GitHub description is not very welcoming:

What about some message explaining what Magento is, and possibly also note that it is open source so you can build whatever you'd like with it?

[2016-05-12 11:24] ericahoekerd opened #4477 "WEBAPI: bug in catalogProductLinkRepositoryV1SaveRequest doesnt assign item to grouped product if this linked item has no stock"
If we send an XML message like this:

`<?xml` version="1.0" encoding="utf-8"?>
`<soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope" xmlns:def="http://localhost/magento205/soap/default?services=catalogProductLinkRepositoryV1">
`  soap:Body
`<def:catalogProductLinkRepositoryV1SaveRequest>
`     <entity>
 `<sku>1120</sku>
`       <linkedProductSku>1001</linkedProductSku>
 `<linkedProd

[2016-05-12 11:27] toniyecla opened #4478 "Order State select box (Assign Order Status to State) shown wrong"
## Steps to reproduce

1/ Create 2 New Status
2/ Assign Status to State
3/ Assign Status to State again
## Expected result
1. Order State dropbox showing "New"
## Actual result
1. Order State dropbox shows "the name of the status created before"
## Final consideration

After all, If we choose it, works fine (aesthetic bug)

[2016-05-12 11:50] ruby10 opened #4479 "Order cancel api "/V1/orders/{order_id}/cancel" doesn't fail for completely invoiced order"
Hi there,
As per observation on Magento2.0 on back-end there is no "Cancel" option for the order which is invoiced completely, which goes as per logic. But If I make cancel call via api "/V1/orders/{order_id}/cancel"  in response I am getting "true" ,which is not correct. According to my understanding we should not be allowed to make cancel call for such orders.  Also , On making cancel call for a

[2016-05-12 11:51] #3941 closed, assigned to alena-marchenko

[2016-05-12 12:01] ghost commented on #3886
@mazhalai I have run into this issue on a fresh install also. Only the frontend is accessible and provides ERR_TOO_MANY_REDIRECTS as an error when trying to access the admin. The setup consists of haproxy with ssl termination in front of nginx. I'm assuming the issue is how haproxy interacts with the magento backend with ssl enabled.

[2016-05-12 12:27] YevSent commented on #4474
@karl-ravn , seems your problem not related to Magento functionality and relates to `SaferPay` plugin.
If this behavior is reproducible with other Magento built-in payments, please, update details and reopen this issue.

In other case, please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-05-12 12:27] #4474 closed, assigned to nobody

[2016-05-12 13:02] alena-marchenko commented on #4114
This issue is already fixed in develop branch, closing the issue.

[2016-05-12 13:02] #4114 closed, assigned to alena-marchenko

[2016-05-12 13:12] IqbalMobarik commented on #2540
I am also having this issue
when sending POST request to /oauth/token/request  I get back

Cannot+create+request+token+because+consumer+token+is+not+a+verifier+token

What does this error mean?

@amansrivastava : You say this is not an issue and  point back to the very poor Magento  documentation. It would be helpful if you say what you specifically saw in the original documentation that helped yo

[2016-05-12 13:15] antboiko commented on #4472
Hi @SidneyBilliet , thanks for your inquiry. We have internal ticket MAGETWO-52733 for this improvement in our backlog.

Best,
Anton.

[2016-05-12 13:26] alena-marchenko commented on #4139
Hi @Zaylril
Please specify Magento version that you are using and specify type of products added to the cart for us to be able to investigate the issue further.

[2016-05-12 13:40] ghost commented on #3886
Adding fastcgi_param HTTPS on; within my nginx config made the admin area accessible. Is this the appropriate solution for this?

[2016-05-12 13:52] antonkril commented on #4228
The plan was to release small set of @api annotated classes and later annotate classes requested by community. We did not get many requests for marking with @api, but we will be marking more classes in the next release.

If we apply SemVer to all code, we will be releasing lots of major an minor version bumps. It will force many extension developers to recheck their extensions even if they follow

[2016-05-12 14:02] mazhalai commented on #4273
@victorchiriac89 closing due to non-responsiveness

[2016-05-12 14:02] #4273 closed, assigned to nobody

[2016-05-12 14:24] jakobfdev commented on #3323
+5

[2016-05-12 14:38] #4009 closed, assigned to okorshenko

[2016-05-12 14:48] pboisvert commented on #4468
@tkacheva can you review if this is a bug or an improvement?

[2016-05-12 14:54] ericahoekerd commented on #2914
was this part of release 2.05? because in 2.05 I still have the same issue

[2016-05-12 15:22] pboisvert commented on #4462
Anton--can you check this one with the team if expected or not and open an issue if not expected.

[2016-05-12 15:25] joanhe commented on #2671
The fix for this issue has been delivered to the develop branch. Please check out the latest code. I will close this issue for now. You can reopen this issue if you still see this problem after you check out the latest code.

[2016-05-12 15:25] mhabou opened #4480 "Report -> By customers -> Base table or view not found"
Magento ver. 2.0.5
## Steps to reproduce
1. Report
2. By costomers

Actual result

`SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento2.customer_entity' doesn't exist, query was: SELECT COUNT(DISTINCT detail.customer_id) FROM`mag2_review`AS`main_table`
 INNER JOIN`mag2_review_detail`AS`detail`ON main_table.review_id = detail.review_id
 INNER JOIN`customer_entity`AS`customer` ON cus

[2016-05-12 15:27] pboisvert commented on #4440
Olena--assuming this may be your area given this is theme related.

[2016-05-12 15:31] antboiko commented on #3919
@cs221313

Hello David, could you please close the issue if the problem was solved?

Also, would you be interested in making pull request for this feature?

Thanks,
Anton.

[2016-05-12 15:42] joanhe commented on #2893
@mage2pro Thank you for reporting this issue. After careful evaluation of Multi-tenant compiler, Magento decided to remove Multi-tenant compiler in any post 2.0.x releases. I will close this issue.

[2016-05-12 15:42] #2893 closed, assigned to joanhe

[2016-05-12 15:43] iMilnb commented on #2596
Sorry to re-open this subject but I also am witnessing this behavior, with CE version 2.0.5:

[code]

The status is frozen in "Processing" for about 5 hours now. There's no MySQL queries running:

[code]

Any hint where I should start looking?

**Update**

I found a workaround here http://magento.stackexchange.com/questions/96590/magento-2-0-with-upgraded-to-php-7-0-indexer-stuck-at-processing

[c

[2016-05-12 15:51] antboiko commented on #4418
Hello @redboxmarcins , please refer to this link https://github.com/magento/magento2/blob/develop/dev/tests/integration/testsuite/Magento/ConfigurableProduct/_files/product_configurable.php and check the way you can associate simple products with configurable.

Best,
Anton.

[2016-05-12 17:54] dexterityzx commented on #4413
Try to use UTF-8 encoding for your csv file.

[2016-05-12 18:05] dexterityzx commented on #3679
I truncated the url_rewrite table because I met the [error ](https://github.com/magento/magento2/issues/1471)\- 'URL key for specified store already exists.'

I followed the suggestions in the discussion list and it did work.

However, the rewritten url never came back even I manually input the url and saved the categories again.

[2016-05-12 18:09] webspeaks opened #4481 "Backup tools not available after upgrade to 2.0.5"
## Steps to reproduce
1. Upgrade to 2.0.5.
2. Go to System -> Backups.
## Expected result
1. Backup grid should be visible
2. All three backup buttons should function
## Actual result
1. Backup grid not visible
   ![backupt-bug-1](https://cloud.githubusercontent.com/assets/1465109/15225152/b12aa494-189a-11e6-864f-c34fd89ec442.png)
2. Backup buttons giving error
   ![backupt-bug-2 png](https://clou

[2016-05-12 18:15] GPetrova opened #4482 "Can't see pictures in controlpanel"
[bug](https://cloud.githubusercontent.com/assets/1122604/15225302/91c9474a-1886-11e6-960b-87da815493ce.jpg)

[2016-05-12 18:15] dexterityzx opened #4483 "Category URL Rewrite page not working"
## Steps to reproduce
1. Create a category with single quotes in its name, for example, Mother's day, Valentine's day.
2. Go to Marketing => URL rewrites
3. Select "For category"
## Expected result
1. System displays a category tree and we can select and edit the url rewrites.
## Actual result
1. The category tree is empty and the navigation tab in the left is not working either.

Suspicious reaso

[2016-05-12 18:52] mazhalai commented on #4481
Closing as duplicate of #3451

[2016-05-12 18:52] #4481 closed, assigned to nobody

[2016-05-12 18:57] bwaters commented on #3926
Thank you for pointing out this issue -- still working on a general fix but this is a solution for your version of varnish.

In sub vcl_backend_response {

At the bottom remove the return (deliver); and then add the following:

[code]

[2016-05-12 19:13] piotrekkaminski commented on #2406
This was fixed back in Jan and will be part of 2.1. @chong1227 this change was part of much larger change, so it's hard to extract.

[2016-05-12 19:13] #2406 closed, assigned to nobody

[2016-05-12 19:25] jchesko opened #4484 "403 on images in wysiwyg when using a non-administrator role"
Magento 2.0.5
1. Created a "Content Manager" role to give to users who will be managing content.  Assigned all role resources under and including the Content role.
2. Edit a content page using the WYSIWYG editor and inserting an image the image will not display in either the image selector in the editor once the image is inserted.    The URL of the image is resulting in a 403 error.  Note that if

[2016-05-12 19:56] maksek commented on #2732
@waynep16, i have clean installation, do enable js merging, bundling and minifying and have this in DB:
![screen shot 2016-05-12 at 2 54 48 pm](https://cloud.githubusercontent.com/assets/1527969/15228377/7f7f1c8e-1851-11e6-838e-e24d5c23b5ab.png)
So, if it works for you, maybe you are checking wrong DB? :)

[2016-05-12 20:02] maksek commented on #4476
@aude please use form for suggestion, github only for bugs and PR.

[2016-05-12 20:02] #4476 closed, assigned to nobody

[2016-05-12 20:10] maksek commented on #2914
@tinxit, no - currently it is planned only for 2.1.0, and can be found in develop branch.
@elenleonova can you address patch release possibility for API?

[2016-05-12 20:12] maksek commented on #4480
@Dayssam, you have issue with DB, and error is clear stated in log. Check you DB and reinstall Magento 2.

[2016-05-12 20:12] #4480 closed, assigned to nobody

[2016-05-12 20:16] maksek commented on #2596
@iMilnb, here http://magento.stackexchange.com/a/96607/35714 possible explanation. Which PHP version you are using?

[2016-05-12 20:21] maksek commented on #4482
@GPetrova. It may be due file permissions, please follow devdocs to resolve this.

[2016-05-12 20:23] maksek commented on #4483
@dexteritycc, seems like issue with JS files on you env, maybe related to static content. Have you tried other pages, let's say with grids (product, cms)?

[2016-05-12 20:36] Chrisk1993 opened #4485 "Indexing problem."
Trying to reindex manually as my con jobs are throwing errors and came across this which I am struggling to get rid of. It doesn't seem to be permission related as setting everything to 777 doesn't help. Customer Grid indexer process unknown error:

[code]

Also have this as a debug.

[code]

[2016-05-12 20:41] josegreyes commented on #3572
I installed varnish and am still having the issue. Could it be possibly be related to this problem http://alanstorm.com/magento_sessions_early is there any way to check to see if the sessions are being set correctly?

[2016-05-12 20:43] asemenenko commented on #4315
@melnikovi please update the ticket.

@SidneyBilliet can you send a file (you can delete all sensitive data there)? Also please use mention function otherwise no notification will be read.

[2016-05-12 20:55] pboisvert commented on #3323
@tkacheva Olena--can you file a ticket for the backlog to make this configurable with the default set to no comparison?

[2016-05-12 21:15] piotrekkaminski commented on #4368
internal issue MAGETWO-52765

[2016-05-12 21:19] go6media commented on #2732
In the correct db of cours. I CHMODed all files in pub folder which were incorrect and now the admin interface loads but still doesn't click or do any JS effects.

If anyone wants to see via Skype I'll happily show

go6_media

[2016-05-12 21:21] piotrekkaminski commented on #4365
internal ticket MAGETWO-52766

[2016-05-12 21:24] piotrekkaminski commented on #4363
@shashankitsoft the client denied error is not a bug. It is a security check that i think runs every time you open admin and if it can access the file, it raises a warning (that config is accessible outside).

[2016-05-12 21:25] piotrekkaminski commented on #4362
@adragus-inviqa that would be very helpful

[2016-05-12 21:30] piotrekkaminski commented on #4362
Internal ticket MAGETWO-52767

[2016-05-12 21:39] piotrekkaminski commented on #4361
Issue id MAGETWO-5489

[2016-05-12 22:16] piotrekkaminski commented on #4360
@devdesco-ceo we run into performance issues while fixing MAGETWO-51413 so we need to resolve that first.

Can you elaborate a little more on the steps to reproduce the 500 error?

[2016-05-12 22:21] piotrekkaminski commented on #4358
@davidalger escalated

[2016-05-12 22:23] piotrekkaminski commented on #4356
@Yogesh7989 Can you explain step by step how to reproduce this issue?

[2016-05-12 22:28] piotrekkaminski commented on #4353
Internal issue MAGETWO-52768

[2016-05-12 22:29] piotrekkaminski commented on #4352
@elenleonova  can you respond to that?

[2016-05-12 23:13] maksek commented on #4485
@Chrisk1993 it looks like session storage permission issues. Check where session files are stored, and make sure your user has rights to read/write to the storage.
The issue is not reproducible, and it seems like your local env. Please provide detailed steps to reproduce how we can get the same error, otherwise we will close the issue. All questions HowTo please ask in forum.

[2016-05-12 23:17] maksek commented on #4455
@bycollar, we can't reproduce the issue on any version. It is issue with your local instance.
I am closing the ticket, since you confirmed it works on clean installation.
If you able to reproduce the issues and confirm it on clean installations, feel free to comment with exact steps to reproduce.

[2016-05-12 23:17] #4455 closed, assigned to nobody

[2016-05-12 23:29] maksek commented on #4470
@tzsolti, thanks for reporting, we are aware of the issue, and going to resolve it.

[2016-05-12 23:33] piotrekkaminski commented on #4351
internal ticket MAGETWO-52772

[2016-05-12 23:37] piotrekkaminski commented on #4349
internal ticket MAGETWO-52773

[2016-05-12 23:43] piotrekkaminski commented on #4347
Internal issue: MAGETWO-52774

[2016-05-12 23:46] piotrekkaminski commented on #4346
Internal ticket MAGETWO-52775

[2016-05-12 23:46] piotrekkaminski commented on #4312
Internal ticket MAGETWO-52775

[2016-05-12 23:58] piotrekkaminski commented on #4341
@jaatr create new account with full access from command line, reset the account from admin. You should not directly edit the database.

[2016-05-12 23:58] #4341 closed, assigned to nobody

[2016-05-12 23:59] piotrekkaminski commented on #4340
@Victor4G can you provide steps to reproduce? does it reproduce on clean install?

[2016-05-12 23:59] alankent commented on #4358
The .gitignore file is created during the "install" phase. It copies lots of files out of the base package into the root directory. So the --no-install is why the .gitignore file does not exist in this case.

Note: I think we copy too many things out of the base package into the root directory at present - e.g. some of the COPYING.txt, LICENSE, README files etc really are Magento files, not custom

[2016-05-13 00:03] piotrekkaminski commented on #4337
Internal issue MAGETWO-52776

[2016-05-13 00:08] piotrekkaminski commented on #4334
@guz-anton  @vkorotun  can you look into it?

[2016-05-13 00:12] piotrekkaminski commented on #4331
It is fixed in develop branch and should be released in a patch release. cc @elenleonova  for more information.

[2016-05-13 00:15] piotrekkaminski commented on #4330
I'm closing it for now. If someone can find a way to reproduce the issue, please notify me to reopen.

[2016-05-13 00:17] piotrekkaminski commented on #4329
@mbrinton01 there are comments in the internal ticket that might explain this - please transfer here.

[2016-05-13 00:23] piotrekkaminski commented on #4328
@antonkril can you look into it?

[2016-05-13 00:38] piotrekkaminski commented on #4324
cc @elenleonova

[2016-05-13 01:03] sengaigibon commented on #3572
@josegreyes If you look into %magento root folder%/var/sessions you'll find the files used to store the data for specific sessions. Delete everything there, open Magento, login, and if you look into the session file recently created, and your customer already had items in his cart, the file will show it with all the relevant info related to him. Also, in the web browser see that on every Magento p

[2016-05-13 01:31] cs221313 commented on #3919
Anton,

Now I solved this problem by plugin in a extension to avoid to change any code in Magento repository code. Do you mean I need to solve it in Magento repository code?

I never made a pull request. I think I need to read the code contribution part first.

Thanks

cs221313

[2016-05-13 01:43] josegreyes commented on #3572
@sengaigibon hi there, i did what you said and i saw the session file created, but the form key does not match what is on the site. Also, each time I go to a different page, a new session file is created, I am thinking that is probably not right either. Thanks for your help!

[2016-05-13 01:53] sengaigibon commented on #3572
@josegreyes For me, when I wrote last comment I had sess_87xxx file, and now I updated the page and navigate here and there, that file doesn't exist anymore, now is sess_aaxxx but with the same form_key, also for each time I navigate between pages, but I'm not using Varnish Caching, actually I have all cache disabled. But only one session file... Not sure what's happening :-/

[2016-05-13 01:56] jtrimm007 commented on #4482
Please explain what a "devdoc" is.....

[2016-05-13 02:29] davidalger commented on #4358
@alankent The response / effort you made in replying is appreciated, but I'm wondering if you tried reproducing the stated issue :)

The purpose of my using --no-install was to de-clutter the bug report. In 2.0.4 and prior, the .gitignore file (as indicated by the first series of above commands) was in fact brought in via the create-project prior to the install phase, not copied in from base. In 2

[2016-05-13 03:28] Victor4G commented on #4340
Hello,

I guess i have already mentioned about it..and yes.. i am using m2.0.2 and
2.0.4

Still you may follow as:
1. Your website have enables multi currency feature.
2. Add to cart any product and mini cart will be updated.
3. Now change currency from top dropdown.
4. You will see that minicart count and popup will be blank .. and will be
updated if you again add to cart on same page.

So this i

[2016-05-13 03:56] pen65978 opened #4487 "Magento 2.0.5 "Specified url key is already exist in rows""
after updating to magento 2.0.5 i am receiving the following error on mass product upload:

Specified url key is already exist in rows

the url key column of the csv file is empty and the file uploaded fine in 2.0.4... also i am having this problem with an empty catalog and have re-indexed prior to importing.

system running CentOS 7, CPanel, PHP 7

[2016-05-13 04:29] shiftedreality commented on #2732
This DB entries are missed by default. Only after you go to Admin->Developer and save this section, they have to appear.

[2016-05-13 04:48] rbncha opened #4488 "Admin customer grid exports only 20 rows"
# Magento ver. 2.0.2 export only 20 rows of customer records no matter selected some/all or none in csv/excel format.

[2016-05-13 07:04] quienti commented on #4483
https://github.com/magento/magento2/issues/3677

I'm actually with Magento 2.0.5 and It's work fine

[2016-05-13 07:05] dartanandan commented on #4327
Hello @joni-jones,
May i know when release the Authorizenet issue fixed version.

[2016-05-13 07:05] webspeaks commented on #2666
Having same problem. Any update?

[2016-05-13 07:08] Yogesh7989 commented on #4356
Hello ,

 @piotrekkaminski  We have done following step,

I have installed magento 2.0.5 with sample database. i want to regenerate or update url key for all products as well category. i used method same as magento 1. truncate table of **url_rewrite** which is used in magento 2, after truncate this table magento is not generated url key path for products as well category. its gives system url like

[2016-05-13 07:09] go6media commented on #2732
Thanks @shiftedreality for clearing  that up and showing im not stupid lol

Problem is I can't go to admin / Dev and save the page because JS and the back end doesn't load due to the initial problem ! So I can't do anything. Stuck

[2016-05-13 07:13] shiftedreality commented on #2732
What if manually insert this settings into table?

[2016-05-13 07:16] jsakars commented on #4482
@jtrimm007 [devdocs](http://devdocs.magento.com/)

[2016-05-13 08:02] iMilnb commented on #2596
@maksek PHP 7.0.5 in FPM mode with nginx, but note that I did not witness segfaults, only frozen "Processing" status.

[2016-05-13 08:12] dooblem commented on #2873
Hello,
We also got the problem. The fix works. At least it allows login in backoffice.
But we decided not to use memcached for now.

[2016-05-13 09:16] joost-florijn-kega commented on #4394
The ACL XSD needs to be updated for this, because it states that [title isn't required](https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Acl/etc/acl.xsd#L51) but the data helper [depends on it](https://github.com/magento/magento2/blob/develop/app/code/Magento/Integration/Helper/Data.php#L24).

[2016-05-13 09:16] SidneyBilliet commented on #4315
@melnikovi

[catalog_product_20160513_091248.zip](https://github.com/magento/magento2/files/262870/catalog_product_20160513_091248.zip)

No need to delete any data. The customer should be able to export everything he has inside his catalog to be able to change prices and stock easily. But we are not able to reimport. It seems strange that it is impossible to re-import a file you have just exported

[2016-05-13 10:26] arkadiych commented on #3093
@MonteShaffer, Fixer.io as additional currency converter service has been added in scope of https://github.com/magento/magento2/issues/2757
Future releases should have currency service "YahooFinance".

[2016-05-13 10:39] arkadiych commented on #3118
Internal ticket MAGETWO-52780

[2016-05-13 10:46] jamespauljacob3 commented on #2463
Attempted to save email logo

Cannot gather stats! Warning!stat(): stat failed for C:/Users/xxxx/AppData/Local/Temp/C:/xampp/tmp/php6F2.tmp

Magento 2.0.5 in developer mode
PHP 5.6.21

[2016-05-13 10:49] ishakhsuvarov commented on #4420
@riversy Closing, as the fix for this issue has been delivered to the `develop` branch in the scope of the linked commit.
Thank you for contribution. Please reopen if you have any additional questions.

[2016-05-13 10:49] #4420 closed, assigned to ishakhsuvarov

[2016-05-13 10:52] ishakhsuvarov commented on #3594
@parekhreena Closing, as the fix for the issue seems to be delivered to the `develop` branch with the commit [`a610b45`](https://github.com/magento/magento2/commit/a610b45e4777b561c95a26d91ad776792a9121f0).
Please feel free to reopen if you have any additional questions.

[2016-05-13 10:53] ishakhsuvarov commented on #3462
@markwalravens Closing, as the fix for this issue is already delivered to the `develop` branch in the scope of the linked commit.
Please reopen, if you have any additional questions.

[2016-05-13 10:53] #3462 closed, assigned to ishakhsuvarov

[2016-05-13 10:54] ishakhsuvarov commented on #2693
@mage2pro Closing the ticket as the fix for the issue has been delivered to the `develop` branch in the scope of the linked commit.
Please reopen if you have any additional questions.

[2016-05-13 10:54] #2693 closed, assigned to ishakhsuvarov

[2016-05-13 10:55] alena-marchenko commented on #4296
Hi @devdesco-ceo

Is this case reproducible on develop branch? Could you also specify Magento version that you are using for us to be able to investigate the issue further?

[2016-05-13 11:12] moleman commented on #4070
I had the same issue when running on php 7.0.5 but it works on php 7.0.6

[2016-05-13 11:15] joebusby commented on #4422
Update:
Made changes to descriptions and on some products and the Mage page cache started invalidating on each order again.   All caches were cleared, no help.  System was re-indexed, no help.  Re-deployed static files, no help.  Reboot has fixed the problem so far.  Possibly restarting the web server would have worked also.  Using Magento 2 with varnish on http traffic is working again.  An order

[2016-05-13 11:55] jaatr commented on #4341
i have done all  those method still showing this in admin login .You did not sign in correctly or your account is temporarily disabled.

[2016-05-13 12:11] ilol commented on #4488
Registered MAGETWO-52673

[2016-05-13 12:50] PieterCappelle opened #4490 "Minify bug footer magento-backend"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Set mode production
3. Activate HTML minify
4. Go to backend & login.
## Actual result

See attachment.
![schermafbeelding 2016-05-13 om 14 46 44](https://cloud.githubusercontent.com/assets/4049627/15248277/96195f2c-1919-11e6-972e-1f1627039fb7.png)

Open `/var/view_preprocessed/html/vendor/magento/module-backend/view/adminhtml/temp

[2016-05-13 12:51] alena-marchenko commented on #4349
Hi @SidneyBilliet

Could you specify Magento version that you are using? Also, are you able to reproduce this issue on the develop branch?