[2018-07-12 22:31] larsroettig commented on #16758
Hi @genyuk i close your issue is duplicated by #14674

[2018-07-12 22:31] #16758 closed, assigned to nobody

[2018-07-12 22:32] DevOli commented on #16531
Same problem here after updating to 2.2.5.

I was able to track my problem to Magento/Framework/File/Uploader.php:

`private function _getMimeType()
     {
-        return $this->_file['type'];
+        return $this->fileMime->getMimeType($this->_file['tmp_name']);
     }`

The temporary file name stored in  `$this->_file['tmp_name']` does not have an extension so Mime type returned will not be co

[2018-07-12 22:33] larsroettig commented on #14674
I can also reproduce this Issue on 2.2.5 CE and EE.

best regards,

Lars

[2018-07-12 22:37] genyuk commented on #14674
Too sad that such core functionality does not work since 2.2.1...

[2018-07-13 02:44] snoroozi commented on #14667
@chattertech I updated to 2.2.5 and I don't see any improvement in the image loading as advertised.  This shouldn't still be a lingering issue since 2016. Pretty fucking ridiculous to be honest.

[2018-07-13 03:32] DanielRuf commented on #14952
@chequille

Thirdparty code.

[2018-07-13 03:41] sashas777 commented on #14952
@DanielRuf
Question if you work at Magento: Is there a way to have 3rd  party modules which included in core being QA'd and checked by Magento before they added into the new release? There are two of them at least added and both seem like wasn't checked. I was developing at some time one of them for 2.0 and I don't see that code was adapted to the newest versions.

[2018-07-13 03:56] mariaTowersys opened #16762 "Customer Custom Attribute Removed After Programmatically Saving Customer for The Second Time"
**Preconditions**
1. Magento 2.2.5
2. PHP Version 7.1.1

**Steps to reproduce**

1. Install Custom Attribute

[code]

I don't want this attribute in any form

2. Create Customer

[code]

**Expected result**

1. New customer will be created.
2. my_attribute has value in customer_entity_int

**Actual result**
1. New customer is created.
2. I can't find the customer's my_attribute value in customer_e

[2018-07-13 03:56] magento-engcom-team commented on #16762
Hi @mariaTowersys. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-13 04:15] dankoz51 commented on #14667
That problem has to do with sessions and php locking and how it’s really
bad in php to have many Ajax call backs using the same session, the product
page contains more than other pages hence the issue.

I have some notes in my blog post but I think it’s probably the subject of
another post all together.

Php uses read locks on request so it will wait sequentially for requests
that are made from th

[2018-07-13 04:16] likemusic opened #16763 "List of custom product options should be provided by some service."
https://github.com/magento/magento2/blob/b4c23c4c09bfad7c419f48b5ccce239f45974f67/app/code/Magento/Catalog/Model/ResourceModel/Product/Indexer/Price/DefaultPrice.php#L629

If new custom product options added by extension indexer ignore this.  Method DefaultPrice::_applyCustomOption() has too big body, therefore his overloading require to many copy-paste.

Custom options types has many other depend

[2018-07-13 04:16] magento-engcom-team commented on #16763
Hi @likemusic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-13 04:36] kervin commented on #14952
It is the same for EE.

I am on Magento 2.2.5 EE and I am having the same issues.

[2018-07-13 05:55] mritu19 commented on #16532
@magento-engcom-team @veloraven  @wert2all .. looking for feasible solution. any updates ?

[2018-07-13 05:58] Sathishkumar8731 opened #16764 "Rating Star issue on Product detail Page."
### Preconditions
1.  Magento 2.2.4
2.  MYSQL 5.6
3. PHP 7.1.X

### Steps to reproduce

1.  Go to the Product detail page and select "Review"  tab
2.  Now, enter the information such as "Nick name, Summary and Review" and press "Submit Review" button without select any star rating
3.  **Issue**:  Its throws an error Message " Please select one of each of the ratings above". But, by default **First

[2018-07-13 05:59] magento-engcom-team commented on #16764
Hi @Sathishkumar8731. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-07-13 06:00] Sathishkumar8731 commented on #16764
Please find the solution for the above issue

1) Go to the File path:  vendor/magento/module-review/view/frontend/templates/form.phtml

2)  Search the below code

<?php $iterator = 1; foreach ($options as $_option): ?>

replace with

<?php $iterator = 0; foreach ($options as $_option): ?>

[2018-07-13 06:18] shakthivelp commented on #14110
@magento-engcom-team

This issue still exist with configurable product with child simple. And the below exception has been generated.

[2018-07-13 06:10:17] main.CRITICAL: Notice: Array to string conversion in /var/www/html/magento2/vendor/magento/framework/DB/Adapter/Pdo/Mysql.php on line 2999 {"exception":"[object] (Exception(code: 0): Notice: Array to string conversion in /var/www/html/magento2

[2018-07-13 06:39] engcom-backlog-nickolas commented on #16764
Hello @Sathishkumar8731, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-13 06:41] nntoan commented on #8640
@magento-engcom-team This is reproducible on 2.2.5, the price of simple products changed to zero if it's out of stock and the setting is set to show out of stock.

[2018-07-13 06:45] engcom-backlog-nazar commented on #14733
Hi @pusachev  the fix for this issue already has been avaible on 2.2-develop branch

[2018-07-13 06:47] bordeo commented on #13149
Anyone know what commit fixes this problem?

[2018-07-13 06:58] Karlasa commented on #16764
@Sathishkumar8731  it's not solution, it only miscalculates ratings now :)
with this fix you can't select 5 stars and if you give 2 stars system will read it as 3.

I think the Issue is with field validation js. Because as a default after submit it will auto focus into first incorrect field. In this case its first rating star.

[2018-07-13 07:00] engcom-backlog-nazar commented on #14745
Hi @NerminPh  thank you for you report, We've acknowledged the issue and added to our backlog.
On 2.2-develop and 2.3-develop branch i have another error type like ->Error filtering template: Unknown condition operator; but only with operator "greater than".

[2018-07-13 07:15] magento-engcom-team commented on #11717
Hi @HirokazuNishi. Thank you for your report.
The issue has been fixed in magento/magento2#16590 by @vkublytskyi in 2.2-develop branch
Related commit(s):
 - [e1db595425a207779a04ca83f36a60549f517ec5](https://github.com/magento/magento2/commit/e1db595425a207779a04ca83f36a60549f517ec5)

The fix will be available with the upcoming 2.2.6 release.

[2018-07-13 07:15] magento-engcom-team commented on #16529
Hi @sanganinamrata. Thank you for your report.
The issue has been fixed in magento/magento2#16530 by @sanganinamrata in 2.2-develop branch
Related commit(s):
 - [83e3818ed41b04c3290139398f68d5fa043fff28](https://github.com/magento/magento2/commit/83e3818ed41b04c3290139398f68d5fa043fff28)
 - [7e173eeaa9a43e544501ec239147bf83d8b7741d](https://github.com/magento/magento2/commit/7e173eeaa9a43e544501ec

[2018-07-13 07:15] #16529 closed, assigned to sanganinamrata

[2018-07-13 07:15] magento-engcom-team commented on #15940
Hi @Stepa4man. Thank you for your report.
The issue has been fixed in magento/magento2#16584 by @mageprince in 2.2-develop branch
Related commit(s):
 - [e233d6ce88b08644839d4401d86317a1798d2d90](https://github.com/magento/magento2/commit/e233d6ce88b08644839d4401d86317a1798d2d90)

The fix will be available with the upcoming 2.2.6 release.

[2018-07-13 07:15] #15940 closed, assigned to nobody

[2018-07-13 07:23] engcom-backlog-nazar commented on #14838
Hi @Detzler  this is duplicate for this -> https://github.com/magento/magento2/issues/15852

[2018-07-13 07:24] engcom-backlog-nickolas commented on #16762
Hello @mariaTowersys, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-13 07:36] serhiirepin commented on #11263
Also you can clean directly via db, just clear table `eav_attribute_option` by attribute_id

[2018-07-13 07:37] orlangur commented on #16532
@mritu19 you need to find out MySQL queries which are slow in your case and try to optimize them.

[2018-07-13 07:41] Karlasa commented on #16764
@Sathishkumar8731  that PR should fix the issue.

[2018-07-13 07:44] orlangur commented on #16754
This GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

You may also try installing module via CLI to figure out if there is any core bug which prevents installation.

[2018-07-13 07:44] #16754 closed, assigned to nobody

[2018-07-13 07:47] engcom-backlog-pb commented on #16763
@likemusic, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-13 07:49] engcom-backlog-nickolas commented on #16752
Hello @Sathishkumar8731, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-13 07:56] kandy commented on #16532
@mritu19 I believe there is no the simple solution to show option/price for a 13k product.

In your case, I will recommend moving the loading  of option in a separate ajax call,  write code that load  only needed data and render  it in the browser

[2018-07-13 08:16] sagonne commented on #16531
Thanks @DevOli :)

Your solution works for me.

Magento 2.2.5 + Apache

[2018-07-13 08:19] JosiahCarberry commented on #14952
Using 2.2.5 CE plain vanilla. Amazon Pay has NEVER been enabled. Problem still exists.

[2018-07-13 08:20] farhadfrz commented on #13553
I don't know if this is related or I should make a new issue, but we have the same issue while upgrading Magento_Quote and Magento_Sales. It took almost one day to upgrade our staging page!

[2018-07-13 08:20] mohsengit commented on #16565
Hi, Thanks for testing this & Sorry for the delay.

I do exactly the same but I get the errors above and the hang time on the "Please Wait"

Now My installation has been upgraded couple of times from 2.1.8 to 2.2.3 to 2.2.4 and now 2.2.5

Do the errors above make any sense? would it help if I provide any of the files mentioned above?

Thanks again
Mohsen

[2018-07-13 08:21] engcom-backlog-nazar commented on #14649
Hi @zach-allgood  can you provide more information about this? i cannot reproduce this on 2.2-develop branch?

[2018-07-13 08:21] jigardhaduk commented on #15447
as per @engcom-backlog-nickolas

Please check,
https://streamable.com/692vs

[2018-07-13 08:23] engcom-backlog-pb commented on #14882
@domeglic, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-13 08:24] paul-blundell commented on #14952
@DanielRuf

That Magento forced upon us.

[2018-07-13 08:34] engcom-backlog-nazar commented on #14641
@ssmadsen  Hi i cannot reproduce this on 2.2-develop branch, can you provide more information about this ?

[2018-07-13 08:35] orlangur commented on #16752
@engcom-backlog-nickolas I don't think there is something to fix here from Magento side - we use third-party strength checker library without any customizations.

@Sathishkumar8731 your expectation is wrong, please check https://stormpath.com/blog/5-myths-password-security#3-myth-password-checkers-ensure-strong-passwords. Also, from https://stackoverflow.com/questions/1327742/why-are-passwords-wit

[2018-07-13 08:38] engcom-backlog-nickolas commented on #15447
@jigardhaduk, thanks for feedback. Could you please provide more details?
For instance, I don't see "Convert to Plain Text" button on your video. So, probably it's enabled on your instance by default?

[2018-07-13 08:38] orlangur commented on #16763
GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-07-13 08:38] #16763 closed, assigned to nobody

[2018-07-13 08:42] engcom-backlog-nazar commented on #14639
hi @SRaromicon GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-07-13 08:42] #14639 closed, assigned to nobody

[2018-07-13 08:43] engcom-backlog-nickolas commented on #16747
Hello @ajay1987tiwari, thank you for your report. Could you please specify exact magento 2.2.x version? I cannot reproduce this issue on 2.2-develop.

[2018-07-13 08:49] engcom-backlog-nickolas commented on #16752
@orlangur, thanks for explanation.
@Sathishkumar8731, I'm closing this issue, due to previous comment.  If you'd like to update it, please reopen the issue.

[2018-07-13 08:49] #16752 closed, assigned to nobody

[2018-07-13 08:50] engcom-backlog-pb commented on #15084
@crantron, thank you for your report.
The fix for this issue is already available in latest Magento releases. Please update your Magento instance.

[2018-07-13 08:50] #15084 closed, assigned to nobody

[2018-07-13 08:51] SlawomirBoczek opened #16772 "Method getGroupId() from \Magento\Customer\Model\Customer returns string back, but it should return int"
### Preconditions

1. "magento/product-community-edition": "2.2.4",
2. My PHP version is 7.1, but this is not revelant for this issue

### Steps to reproduce

[code]

### Expected result

Function should return int, because it has defined "@return int" PhpDoc, so I expect result to be int.
When I do:
`$customer->getGroupId() === 5`
It will be always "false" cause we compare string with int.

### A

[2018-07-13 08:51] magento-engcom-team commented on #16772
Hi @SlawomirBoczek. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-13 08:55] SamB-GB commented on #14952
@JosiahCarberry make sure to run

bin/magento module:disable Amazon_Core Amazon_Login Amazon_Payment

I have disabled a lot of these extra plugins that have come with Magento recently and added this to composer.json

 "replace": {
        "dotmailer/dotmailer-magento2-extension": "*",
        "klarna/module-core": "*",
        "klarna/module-kp": "*",
        "klarna/module-ordermanagement": "*",

[2018-07-13 08:56] SlawomirBoczek commented on #16772
Yes, I was able to reproduce the issue on vanilla Magento instance. If you would read my issue content then you would understand what kind of problem it is. It is problem with Core Magento function returning wrong type and I didn't make any modifications to the Core.

@magento-engcom-team give me 2.2.4 instance

[2018-07-13 08:56] magento-engcom-team commented on #16772
Hi @SlawomirBoczek. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-07-13 08:57] magento-engcom-team commented on #16772
Hi @SlawomirBoczek, here is your [Magento instance](https://i-16772-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-16772-2-2-4.engcom.dev.magento.com/admin](https://i-16772-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-13 08:58] pieal86 commented on #16531
@DevOli Thanks That solved the issue for me.
@engcom-backlog-pb  Really didnt like the way it was declared as not a core issue.. but looks like it is.
Let me know if u have any solution other than changing in core framework file.

[2018-07-13 08:58] SamB-GB commented on #10485
Has this been corrected in 2.2.5?

[2018-07-13 08:59] SlawomirBoczek commented on #16772
I don't have time to do additional tests on your instances... I already wasted 1 hour debugging this and posting this issue.

I just wanted to help, if you don't want to improve your product, then just ignore this issue...

[2018-07-13 09:02] Scqualo71 commented on #16383
Hi,

in clean installation magento 2.2.5, Quantity Increment works, I replicated the same configurations (you can see [here](http://test2.scatolesumisura.it/chaz-kangeroo-hoodie.html)).
Sorry for this warning that it can now be closed.

Fabio

[2018-07-13 09:02] radub opened #16774 "Inconsistent visibility for getProductForThumbnail not allowing plugin method reusability"
### Preconditions
- Magento 2.2.5
- Apache 2.4.18
- PHP 7.0.22-0ubuntu0.16.04.1 (fpm-fcgi)
 Copyright (c) 1997-2017 The PHP Group
 Zend Engine v3.0.0, Copyright (c) 1998-2017 Zend Technologies
     with Zend OPcache v7.0.22-0ubuntu0.16.04.1, Copyright (c) 1999-2017, by Zend Technologies
     with Xdebug v2.4.0, Copyright (c) 2002-2016, by Derick Rethans
- mysql  Ver 15.1 Distrib 10.3.7-MariaDB, fo

[2018-07-13 09:03] magento-engcom-team commented on #16774
Hi @radub. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-07-13 09:07] radub commented on #16774
yes

[2018-07-13 09:53] engcom-backlog-pb commented on #14821
@anasmansuri1989, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.
![1](https://user-images.githubusercontent.com/40756187/42685453-a8931c82-869b-11e8-9ebb-84f848b0afe9.gif)

[2018-07-13 10:08] ashanrajapaksha commented on #16729
Hi!

I'm using version 2.2.5

I have installed it as a fresh install yesterday on localhost xampp with php version 7.0 . Everything works fine with Mozilla Firefox. But new customer account signup in Google Chrome browser doesn't works. I use chrome version 67.

FYI  - Customer Signup works fine in Hosted Environment with google chrome.

Thank you.
________________________________
From: engcom-bac

[2018-07-13 10:14] orlangur commented on #16762
`->setMyAttribute(1)` I suppose you don't have this value in customer model after it is saved.

Please check https://devdocs.magento.com/guides/v2.2/extension-dev-guide/extension_attributes/adding-attributes.html on how to extend entities properly.

GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customizati

[2018-07-13 10:14] #16762 closed, assigned to nobody

[2018-07-13 10:20] orlangur commented on #16774
@radub you are not supposed to write plugins for classes not marked with `@api`, please intercept `\Magento\Checkout\CustomerData\ItemInterface::getItemData` method instead of protected one, `\Magento\Checkout\Block\Cart\Item\Renderer::getProductForThumbnail` is fine for interception.

[2018-07-13 10:20] #16774 closed, assigned to nobody

[2018-07-13 10:23] mritu19 commented on #16532
@kandy  Thanks for your response.

Further, I would like to share with you that yes I have already implemented seperate ajax call for this page by loading each product's swatch options one by one through ajax call, But still page is loading much more time to load and user experience is not good.

Also, I have tried to fetch and display the swatch data by another method , using the concept of filte

[2018-07-13 10:24] #16772 closed, assigned to nobody

[2018-07-13 10:30] engcom-backlog-pb commented on #14802
@sun948534670, thank you for your report.
This issue is already fixed in Magento 2.2

[2018-07-13 10:30] #14802 closed, assigned to nobody

[2018-07-13 10:32] magefan opened #16779 "Clean Expired Orders Issue"
### Preconditions

When you have pending orders, from time to time magento cancel this orders. It depends on the option Pending Payment Order Lifetime (minutes) (https://prnt.sc/k5zs2m).
Magento has a cronjob sales_clean_orders to do this

Magento 2.2.4
PHP 7.0.27

### Steps to reproduce
1. Create a catalog price rule without a coupon
2. Add product to cart, and make sure that the rule is applied

[2018-07-13 10:32] magento-engcom-team commented on #16779
Hi @magefan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-13 10:41] JosiahCarberry opened #16781 "Is Vertex required for taxing orders?"
I am working through configuring a first installation of Magento 2.2.5 and have come to managing the taxes. The online documentation makes no clear distinction between the steps to create and manage taxes and the use of Vertex, as if the "correct" or maybe even the only way to set up taxes is via Vertex.
So, my question is whether this is just the tendency of the Magento docs to advertise third pa

[2018-07-13 10:41] magento-engcom-team commented on #16781
Hi @JosiahCarberry. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-13 10:47] orlangur commented on #16738
This GitHub repository is intended for bug reports in core Magento modules, in case of problems with some third party extensions their respective vendors should be contacted instead.

Well, calling such method in GET violates CQRS and leads to expected problems.

[2018-07-13 10:47] #16738 closed, assigned to nobody

[2018-07-13 10:49] #16781 closed, assigned to nobody

[2018-07-13 10:56] engcom-backlog-nickolas commented on #16750
Hello @fabianaromagnoli, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-13 10:58] Rutvee123 commented on #5157
Same issue when overriding Magento\ImportExport\Controller\Adminhtml\Import\Start
Magento Version 2.2.3

[2018-07-13 11:14] radub commented on #16774
Learned something new today! Maybe this should also be in the documentation.

Thanks! :)

[2018-07-13 11:20] engcom-backlog-nazar commented on #14853
Hi @aruds i reproduce this on 2.2-develop branch, in my case installScript is create the store view but rigger is NULL -> $this->eventManager->dispatch('store_add', ['store' => $store]); is it right ?

[2018-07-13 11:37] webcretatechnologies commented on #2504
Hello @iget-esoares

I have setup server with nginx , php 7.1.19, mysql for magento 2 environment.

I am tyring to setup magento site even trying to install simple magento 2.2.5 showing error in google dve chrome console

GET http://206.189.221.91/setup/index.php/navigation 404 (Not Found)
GET http://206.189.221.91/setup/index.php/navigation/side-menu 404 (Not Found)
GET http://206.189.221.91/setu

[2018-07-13 12:14] stefanguapa commented on #13627
@ywsw I am not sure what is causing this issue. There are lots of Magento 2 webshops without specifically allowing REST URLs on your host, yet the REST calls seems to work. I am not sure if it's a simple server configuration or not.

[2018-07-13 12:17] akssaiyad commented on #7047
<?php
//increase the max execution time
@ini_set('max_execution_time', -1);
//memory_limit
@ini_set('memory_limit', -1);

error_reporting(E_ALL);
ini_set('display_errors', '1');

// Start Despaly All Product Meta Title And Description
require_once('app/Mage.php'); //Path to Magento
umask(0);
Mage::app();

$categories = Mage::getModel('catalog/category')
                         ->getCollection()

[2018-07-13 12:30] duckchip commented on #14456
@magento-engcom-team  Can you please reopen this issue as it's reproducible on the community edition?

[2018-07-13 12:38] vegangirlthatcodes commented on #16710
Leaving an update because it may help someone else.

My problem was an error on the customer_account_createpassword.xml file on my theme.

Even in developer mode, instead of throwing an error, the customer was only redirected to the the Forgot you password form with the Reset password token expired error.

[2018-07-13 12:39] engcom-backlog-pb commented on #14784
@VZeroCool, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-13 12:44] NiteshKuyate commented on #7298
@sadeeshmca @scher200  @umarch06  Can you please tell me, What is '1' in below which is used in our custom function

[2018-07-13 12:45] engcom-backlog-nazar commented on #14605
HI @springimport i cannot reproduce this on 2.2-develop branch

[2018-07-13 12:53] engcom-backlog-nickolas commented on #15160
Hello @JeromeLa, thank you for your report. Unfortunately I cannot reproduce this issue.
![peek 2018-07-13 15-46](https://user-images.githubusercontent.com/40755810/42692414-4b6a514c-86b4-11e8-8a0c-d209a6545982.gif)
Could you please provide more details?

[2018-07-13 12:59] engcom-backlog-pb commented on #14766
@Moulbac, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-13 12:59] #14766 closed, assigned to nobody

[2018-07-13 13:00] danmentzer commented on #13433
Any news on this issue @joni-jones ?
I am also experiencing this issue.

[2018-07-13 13:01] engcom-backlog-nickolas commented on #15085
Hello @jesse-dev, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-13 13:02] joni-jones commented on #13433
Hi, @danmentzer, the fix already merged to 2.2-develop and will be available in Magento 2.2.6 release.

[2018-07-13 13:06] engcom-backlog-pb commented on #14728
@visahardik, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-13 13:06] #14728 closed, assigned to nobody

[2018-07-13 13:11] giuseppemorelli commented on #16129
Just a little clarification about @cmuench commands:

[code]

If you run composer update you will update all packages, and sometimes maybe you don't want to.
Just update the package with that has checksum error

[code]

So the `composer.lock' will be update with shasum correctly and you can download the package

[2018-07-13 13:11] engcom-backlog-nickolas commented on #15059
Hello @TomashKhamlai, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-13 13:12] emreozandac commented on #7298
@NiteshKuyate

[2018-07-13 13:13] harshvardhanmalpani commented on #7298
@NiteshKuyate

[2018-07-13 13:17] danmentzer commented on #13433
Hi @joni-jones , Thank you for getting back to me so quickly.

[2018-07-13 13:42] orlangur commented on #16774
@radub I'm pretty sure it's described somewhere about versioning or backward compatibility policy. If not, try to find the most suitable article and modify it by yourself or report an issue refferring to it in devdocs repo. Thanks for collaboration!

[2018-07-13 13:43] engcom-backlog-pb commented on #14729
@kaalar, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-13 13:43] #14729 closed, assigned to nobody

[2018-07-13 13:51] mukdam commented on #7537
The same issue create a custom attribute programmatically on product multi-select .
Values saved in db but not showing on form and multiselect.js also showing values but not selected.

[2018-07-13 14:00] yyevgenii commented on #16129
@giuseppemorelli it looks like the klarna/module-ordermanagement won't be updated with the `composer update klarna/module-ordermanagement` command if it isn't listed in the `required` packages.

[2018-07-13 14:03] engcom-backlog-nickolas commented on #16565
@mohsengit, thanks for answer. Well, one thing, which may cause this error may be your "Root Catalog" or "Default" category is messed up somehow(or any other category to be honest).
First thing you may do, is take a look into catalog_category_entity table and check first two rows. They should be like:
1. "entity_id" = 1; "path" = 1 for "Root Catalog" category.
2. "entity_id" =2; "path" = 1/2 for "

[2018-07-13 14:15] engcom-backlog-pb commented on #14722
@dev2233, thank you for your report.
Version 2.1.7 is deprecated. We cannot resolve your problem without updating your Magento instance.

[2018-07-13 14:15] #14722 closed, assigned to nobody

[2018-07-13 14:32] cmuench commented on #16129
@yyevgenii
Maybe we should remove all Klarna modules before any update?

[code]

[2018-07-13 14:47] engcom-backlog-pb commented on #14682
@densen45, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-07-13 14:51] iGerchak opened #16786 "Page title on the my account page moved to bottom"
### Preconditions
1. Magento 2.2.4 or 2.2.5 installed via composer
2. Installed following module: https://github.com/deved-it/magento2-disable-customer-registration#installation

### Steps to reproduce
1. Go to my account page on frontend
2. Look at the page title

### Expected result
1. Page title should be located at the top
![screenshot2](https://user-images.githubusercontent.com/34220204/42697

[2018-07-13 14:51] magento-engcom-team commented on #16786
Hi @iGerchak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-13 14:58] engcom-backlog-nazar commented on #14595
hi @tristanisginger thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-13 15:10] timelam commented on #16531
Thanks, @DevOli. Your solution worked for me too.

Funny. I have two Magento 2.2.5 w/ Apache websites on two different servers. One had this problem and the other did not.

[2018-07-13 15:19] ghost opened #16789 "Permanent Redirect for old URL missing via API or no documentation"
### Preconditions
1. Magento 2.2.5
2. PHP 7.0.30

### Steps to reproduce
1. **POST** a request for a product via REST API: **V1/products/**
{"product":{"sku": "703","custom_attributes":[{"attribute_code":"url_key","value":"new-url"}, {"attribute_code":"url_key_create_redirect","value":1}, {"attribute_code":"save_rewrites_history","value":1}]}}

### Expected result
1. Product URL changes to domain/

[2018-07-13 15:19] magento-engcom-team commented on #16789
Hi @vegangirlthatcodes. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-07-13 16:00] magento-engcom-team commented on #15848
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#16732 by @hitesh-wagento in 2.2-develop branch
Related commit(s):
 - [1fbc2db2ada04f8f2951acdb9591231d82a3f711](https://github.com/magento/magento2/commit/1fbc2db2ada04f8f2951acdb9591231d82a3f711)

The fix will be available with the upcoming 2.2.6 release.

[2018-07-13 16:00] #15848 closed, assigned to hitesh-wagento

[2018-07-13 16:00] magento-engcom-team commented on #16703
Hi @JRhyne. Thank you for your report.
The issue has been fixed in magento/magento2#16704 by @JRhyne in 2.2-develop branch
Related commit(s):
 - [1b53299b238f4a83e0f54801182fde7134bbb5c1](https://github.com/magento/magento2/commit/1b53299b238f4a83e0f54801182fde7134bbb5c1)

The fix will be available with the upcoming 2.2.6 release.

[2018-07-13 16:00] #16703 closed, assigned to nobody

[2018-07-13 16:00] magento-engcom-team commented on #16174
Hi @tiagosampaio. Thank you for your report.
The issue has been fixed in magento/magento2#16175 by @tiagosampaio in 2.2-develop branch
Related commit(s):
 - [e0b26a7bb49871a701cb85062227297575243451](https://github.com/magento/magento2/commit/e0b26a7bb49871a701cb85062227297575243451)
 - [23d616d1913fcc40b8cf7e21c3f9cbbe933f83f6](https://github.com/magento/magento2/commit/23d616d1913fcc40b8cf7e21c3

[2018-07-13 16:00] #16174 closed, assigned to nobody

[2018-07-13 16:10] erikkubica opened #16790 "GraphQL - Category query - children field returning empty [CategoryTree]"
### Preconditions

1. Magento 2.3-dev
2. MYSQL 5.6
3. PHP 7.1.X
4. Ubuntu 16

### Summary of the issue
"children" field of "category" query is not populated in GraphQL result.

### Steps to reproduce
1. Get the latest zip of magento 2.3-dev from github
2. Install magento using standard next next finish process
3. Add a product
4. Add one or more subcategories into default category
5. Check if cate

[2018-07-13 16:10] magento-engcom-team commented on #16790
Hi @erikkubica. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-13 16:31] ywsw commented on #10534
can someone please provide a solution to this issue? We are using Magento 2.2.5 and Apache 2.4. The discount codes do not work on the checkout page but they do work on the shopping cart page. The checkout page uses PUT which does not work and the shopping cart uses POST which does work. Can someone please provide a solution to get the discount codes working on the checkout?

[2018-07-13 16:40] VladimirZaets commented on #15355
Hi @saurabh-aureate. Thank you for your report.
The issue has been fixed in magento/magento2#16761 by @gelanivishal in 2.1-develop branch
Related commit(s):
 - [7a6217c5a6bc59f9b318c0de1d73ef3c8c3eccca](https://github.com/magento/magento2/commit/7a6217c5a6bc59f9b318c0de1d73ef3c8c3eccca)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-13 16:40] VladimirZaets commented on #16378
Hi @mohitka. Thank you for your report.
The issue has been fixed in magento/magento2#16526 by @hitesh-wagento in 2.1-develop branch
Related commit(s):
 - [86ed9df6955ea67631674be285f3e1abde5646ec](https://github.com/magento/magento2/commit/86ed9df6955ea67631674be285f3e1abde5646ec)
 - [b5902e9aa40e6e2d3efaed0124f73770c9e9fb81](https://github.com/magento/magento2/commit/b5902e9aa40e6e2d3efaed0124f73

[2018-07-13 16:40] VladimirZaets commented on #14351
Hi @simpleadm. Thank you for your report.
The issue has been fixed in magento/magento2#14380 by @simpleadm in 2.1-develop branch
Related commit(s):
 - [ead41d96302630687627b6ba84187fefffbcee25](https://github.com/magento/magento2/commit/ead41d96302630687627b6ba84187fefffbcee25)
 - [053fea21816b022dc5ed04845612594a1ce7a537](https://github.com/magento/magento2/commit/053fea21816b022dc5ed04845612594a

[2018-07-13 16:46] erikkubica commented on #16790
@magento-engcom-team

- Version is 2.3-develop https://github.com/magento/magento2/tree/2.3-develop
- It's clean vanilla magento instance, no third party modules or themes (http://m23sandbox.netlime.eu)
- I confirm that here: http://m23sandbox.netlime.eu/graphql the issue can be reproduced with the following query

[code]

and with following query variables

[code]

[2018-07-13 16:58] vegangirlthatcodes commented on #14987
I applied the changes on my theme to the file Magento/Catalog/view/frontend/web/js/product/breadcrumbs.js and the breadcrumbs do show on the page.

The only problem is that the categories do not show on the breadcrumbs while navigating from a category page to the product page. Can you confirm that is fixed on 2.3.0?

[2018-07-13 17:08] lbajsarowicz commented on #16786
The problem is not related with Magento itself.
Plugin also does not suggest to break this.
I think it's related with your customizations. Could you provide more information about your custom theme?

[2018-07-13 17:11] drew7721 commented on #16074
Nope, for the moment I'm not using the user agent exception anymore. I just set the mobile theme on one language and the desktop one on another language. That way I still get to test both versions without this issue breaking the page.

I don't know when this issue will be addressed. If I do find a solution I will post the update.

[2018-07-13 18:10] DevOli commented on #16531
So I think the reason why it won't work for some people will depend on the PHP installation having the mime_magic extension off and with it the function "mime_content_type" undefined (That will be my case).  You can see this in Magento/Framework/File/Mime.php. The code has a fallback in case the function is not defined but it will not work because my temporary files do not have extensions even tho

[2018-07-13 18:48] VyacheslavCh opened #16793 "Cron Stopped Working after upgrading to 2.2.5"
### Preconditions

1. Magento version 2.2.5
2. PHP 7.0.3

### Steps to reproduce

1. After upgrading from 2.2.2 to 2.2.5 Cron Job Stopped working
2. Running Command via SSH -  /usr/local/bin/php /home/.../public_html/bin/magento cron:run nothing happens - please see attached image
![cron nothing happens](https://user-images.githubusercontent.com/41207293/42708585-c70d99ac-86ab-11e8-897d-837ee9d75d

[2018-07-13 18:48] magento-engcom-team commented on #16793
Hi @VyacheslavCh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-13 18:52] VyacheslavCh commented on #16793
@magento-engcom-team give me 2.2.5 instance

[2018-07-13 18:52] magento-engcom-team commented on #16793
Hi @VyacheslavCh. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-13 18:53] magento-engcom-team commented on #16793
Hi @VyacheslavCh, here is your [Magento instance](https://i-16793-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16793-2-2-5.engcom.dev.magento.com/admin](https://i-16793-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-13 19:05] VyacheslavCh commented on #16793
Can't reproduce the issue on vanilla Magento as it doesn't have the Cron job
    On Friday, July 13, 2018, 2:53:50 PM EDT, Magento Community Engineering <notifications@github.com> wrote:

Hi @VyacheslavCh, here is your Magento instance.
Admin access: https://i-16793-2-2-5.engcom.dev.magento.com/admin
Login: admin Password: 123123q
Instance will be terminated in up to 3 hours.

—
You are receiving

[2018-07-13 19:06] jc-hurricane commented on #5491
We are having the issues mentioned above -- in Magento CE 2.2.4 and Magento CE 2.2.5 - I am installing a vanilla copy and I will test and do a data dump. This is happening on multiple servers - dev, stage and production. Ugg
 Using gene/Braintree 3.0.3

1.Refunding an order with qty 0 and a adjustment refund
•Only positive numbers can be put into Adjustment Fee/refund (expected)
•Putting a value i

[2018-07-13 19:15] alextricity commented on #9940
I had this issue when I truncated some tables to try to wipe out some data... I ended up having to scap the entire site. I can confirm this is an issue with the latest version of Magento. I hate to see this closed as I have seen quite a few other desperate pleas in regard to this issue. I truncated most product and category tables too. Did you truncate any tables to get to this point?

[2018-07-13 20:50] ghost opened #16794 "Problem JS Checkout - Method Title"
Magento version 2.2.5
PHP 7.0.3

**Problem**

good afternoon,
Can someone help me with the error below in the ckeckout page?

<img src="http://dmxcargo.com/erro.jpg">

tks

[2018-07-13 20:50] magento-engcom-team commented on #16794
Hi @douglaspduarte. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-13 21:29] lbajsarowicz commented on #16794
Not a Magento bug. Remember that `data-bind` is for binding element attributes to the knockout expressions, not to translate elements.

For general issues use https://community.magento.com/t5/Magento-2-x-PWA-Theming-Layout/bd-p/magento-2-theming instead of Github

[2018-07-13 21:30] lbajsarowicz commented on #16793
If it's `500` error, could you @VyacheslavCh provide the `error.log` contents?

[2018-07-13 21:38] chequille commented on #14952
@SamB-GB
the replace in composer did not work on my site.
Error: Could not parse version constraint : Invalid version string ""
Any idea?

[2018-07-14 03:14] VyacheslavCh commented on #16793
hi @lbajsarowicz no error.log is being created in var directory if trying to run from Admin Panel

Thank you

[2018-07-14 03:19] VyacheslavCh commented on #16793
@lbajsarowicz  Attached also the jobs that I have configured - all produce 0 bytes files
![capture3](https://user-images.githubusercontent.com/41207293/42720325-2c624234-86f3-11e8-8db1-59acb1e8ccf7.PNG)

[2018-07-14 05:15] jitendra-cedcoss commented on #16158
@magento-engcom-team
We found this issue in Magento 2.2.3 CE but this issue is not available in Magento 2.2.4 CE. We attach a video to produce issue
[video.zip](https://github.com/magento/magento2/files/2194671/video.zip)

[2018-07-14 07:13] danielleng commented on #16531
@DevOli  thanks it fixed for me too. So whats the plan on fixing this in the future ?

[2018-07-14 08:00] mwaheed92 commented on #14930
@engcom-backlog-pb thank you for your notice
Is there a patch to apply to fix the problem instead of updating to the latest version?

[2018-07-14 08:33] snez commented on #7769
@choukalos this issue cannot be easily reproduced at the front-end, in my case I came across it while developing a module that injects the quote JS object in a component. But the issue is that the tax is omitted in the back end where @4DallasC pointed out. There is no step-by-step guide to reproduce this, something custom must be put together to have this manifest.

Possibly load the quote object

[2018-07-14 09:20] Lorraine1903 opened #16804 "results won't show up"
Hello,

Whenever I research an order with the order number reference. I get 1 result but it won't show up in the list section. (please see picture attached)

I'm using Google Chrome on a Macbook pro.

I tried to empty the cache and cookies but nothing has worked.

Please help

thank yoy
![magento bug](https://user-images.githubusercontent.com/41230636/42723095-6d26cc7a-874f-11e8-8701-d766dcaefa65.

[2018-07-14 09:20] magento-engcom-team commented on #16804
Hi @Lorraine1903. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-14 09:29] Lorraine1903 commented on #16804
I don't understand anything

[2018-07-14 10:10] Swahjak opened #16806 "Duplicate argument overwrites option language DeployStaticContentCommand"
### Preconditions

1. Magento 2.3-alpha
2. Not installed: no env.php present, no database available, build environment

### Steps to reproduce

1. run `bin/magento setup:static-content:deploy -t Magento/blank -l nl_NL -f
2.
3.

### Expected result

1. Static content for locale `nl_NL` is deployed for theme `Magento/blank`

### Actual result

1. Static content for locale `all` is deployed (defaults

[2018-07-14 10:11] magento-engcom-team commented on #16806
Hi @Swahjak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-14 10:18] jer23jk commented on #7955
@areoid
No, I haven't found the solution. It is hard to debug, because it is random.

[2018-07-14 10:18] Swahjak commented on #16806
@magento-engcom-team give me 2.3.0-alpha instance

[2018-07-14 10:18] magento-engcom-team commented on #16806
Hi @Swahjak. Thank you for your request. I'm working on Magento 2.3.0-alpha instance for you

[2018-07-14 11:44] DanielRuf commented on #14952
@chequille which composer version do you use?

[2018-07-14 12:54] pathakkrunal commented on #15655
I was facing same problem after updating 2.2.5 I have change scope of attribute to "Global" from "Store View" and it run for me.
I have also tried "Website" view but it also gives same error.
Change Attribute Scope to "Global" and problem will be solved.

[2018-07-14 12:56] pathakkrunal commented on #12717
I was facing same problem after updating 2.2.5 I have change scope of attribute to "Global" from "Store View" and it run for me.
I have also tried "Website" view but it also gives same error.
Change Attribute Scope to "Global" and problem will be solved.

[2018-07-14 14:21] lbajsarowicz commented on #16804
Are you sure that your cron is working (or make sure that indexes are up to date).

What is more - try to put order reference in filters, not as a keyword?

[2018-07-14 14:41] advcha commented on #2504
@webcretatechnologies Have you checked your php.ini file? in case you're using php 7.1.x in linux, it should be in /etc/php/7.1/fpm/php.ini. What is 'cgi.fix_pathinfo' value? You can try to modify the value to 1 like my solution above.

[2018-07-14 14:51] cralls opened #16807 "Images and Videos tab not working"
Summary:
When I click to expand Image & Videos when editing a product does not show images after migration from 1.9.2.2 to 2.2.3. Console error shows: Uncaught TypeError: Cannot use 'in' operator to search for 'length' in [{

The images show on the product grid and in the frontend just fine. I cannot even upload an image to a new product so something in the migration has not allowed magento to pul

[2018-07-14 14:51] magento-engcom-team commented on #16807
Hi @cralls. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-07-14 15:05] Lorraine1903 commented on #16804
What is a cron ??

--
Bien cordialement, Best regards
*Lorraine KANZONGO ABES*
*Service Client France*
Téléphone : (+33) 09 75 18 28 75 <+33%209%2075%2018%2028%2075>
Email: lorraine@evematelas.fr

*eve Sleep France*

https://www.evematelas.fr

2018-07-14 15:21 GMT+01:00 Lukasz Bajsarowicz <notifications@github.com>:

[2018-07-14 16:12] JosiahCarberry commented on #12598
This may be solved by increasing the value of max_input_vars. You may do this either in php.ini or in .user.ini in the magento root directory, if you are on a shared platform where you cannot change php.ini

[2018-07-14 21:01] VladimirZaets commented on #16764
Hi @Sathishkumar8731. Thank you for your report.
The issue has been fixed in magento/magento2#16766 by @Karlasa in 2.2-develop branch
Related commit(s):
 - [dd6b78a225f452b98521fb8ca7c86ed418e7cebd](https://github.com/magento/magento2/commit/dd6b78a225f452b98521fb8ca7c86ed418e7cebd)

The fix will be available with the upcoming 2.2.6 release.

[2018-07-14 21:01] #16764 closed, assigned to Karlasa

[2018-07-14 21:01] VladimirZaets commented on #14351
Hi @simpleadm. Thank you for your report.
The issue has been fixed in magento/magento2#14379 by @simpleadm in 2.2-develop branch
Related commit(s):
 - [54507a7909b4c9c4eac57ec3436a35e408c03c4d](https://github.com/magento/magento2/commit/54507a7909b4c9c4eac57ec3436a35e408c03c4d)
 - [637979f5959a687fd14d57e725496ed469f683ed](https://github.com/magento/magento2/commit/637979f5959a687fd14d57e725496ed4

[2018-07-14 21:01] VladimirZaets commented on #10210
Hi @diybook. Thank you for your report.
The issue has been fixed in magento/magento2#16599 by @gwharton in 2.2-develop branch
Related commit(s):
 - [61b868ff4d6f2e85a9ff9e6621f774a98e1f0bd4](https://github.com/magento/magento2/commit/61b868ff4d6f2e85a9ff9e6621f774a98e1f0bd4)

The fix will be available with the upcoming 2.2.6 release.

[2018-07-14 21:01] #14351 closed, assigned to nobody

[2018-07-14 21:01] VladimirZaets commented on #5067
Hi @samtay. Thank you for your report.
The issue has been fixed in magento/magento2#13569 by @JeroenVanLeusden in 2.2-develop branch
Related commit(s):
 - [d7f6baa1f20492a43ef76d32cb32be8b5f4b903d](https://github.com/magento/magento2/commit/d7f6baa1f20492a43ef76d32cb32be8b5f4b903d)
 - [cb304dbdc9520528cacc77e214901a5ddb7a25fa](https://github.com/magento/magento2/commit/cb304dbdc9520528cacc77e21490

[2018-07-14 21:01] #5067 closed, assigned to nobody

[2018-07-14 23:15] chequille commented on #14952
Hi Daniel,
it is the one coming with magento installation.
I typed all versions as of the composer.json file of each module into the replace statement mentione above.
It worked after this.

Which version of composer is accepting the empty version definition as in the replace array above?

Regards,
Chequille

[2018-07-14 23:17] DanielRuf commented on #14952
No I mean `composer --version`.

[2018-07-14 23:48] hzubyrss opened #16822 "magento showing wrong thumbnail on product page"
I recently update magento to latest version of M1 but after upgrade on product view thumb nail showing wrong name not same as it i checked in admin product manager any help ? on category page and in other all blocks show fine !

Thanks in advance

[2018-07-14 23:48] magento-engcom-team commented on #16822
Hi @hzubyrss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-15 05:47] rincelau02 commented on #11185
I solved this problem using .htaccess just add this following
php_value include_path "."

http://prntscr.com/k6lo2q

[2018-07-15 08:12] salehawal commented on #11498
any solution here?

[2018-07-15 08:39] Lorraine1903 commented on #16804
I applied the ID in filters, not working either

[2018-07-15 09:50] chequille commented on #14952
Hi Daniel,
as I said, I am running composer version which is under vendor/composer/composer/bin coming with magento installation.

It returns with --version  "Composer version 1.4.1 2017-03-10 09:29:45"

[2018-07-15 15:17] resolvr commented on #6585
no never

[2018-07-15 15:18] resolvr commented on #6585
@matin73, i don't think so..

[2018-07-15 18:39] Ethan3600 commented on #16793
@VyacheslavCh I think it's worth noting that php v7.0.3 [isn't supported with version 2.2.x](https://devdocs.magento.com/guides/v2.2/install-gde/system-requirements-tech.html). I have a clean instance of Magento v2.2.5 running with php v7.0.30 and it seems to be operating as expected. Pending jobs are being made, and cron jobs are being run.

But, I think it'd be helpful if you could provide the [

[2018-07-15 20:47] oviliz commented on #11498
@salehawal , I believe this must be fixed since 2.2.4.

[2018-07-16 04:44] uandiweb opened #16843 "Magento 2.2.5: Configurable Product with Only Size Options (No Color Options) Shows No Image in Cart"
### Preconditions

1. Magento 2.2.5 (CE)
2. Set in admin: Stores > Configuration > Sales > Checkout > Shopping Cart: "Configurable Product Image: Parent Product Thumbnail"

### Steps to reproduce

1. Create a configurable product with multiple size options, but no color options
2. Assign an image(s) only to the configurable product (not to child/simple products)
3. Visit the product page in the st

[2018-07-16 04:44] magento-engcom-team commented on #16843
Hi @uandiweb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-16 06:04] mhauri commented on #16822
Hi @hzubyrss this issue section is for issues with Magento 2 only.

Please ask your question on [Magento StackExchange](https://magento.stackexchange.com/) or in the [Magento Forum](https://community.magento.com/t5/Magento-1-x-Technical-Issues/bd-p/Technical).

[2018-07-16 06:04] #16822 closed, assigned to nobody

[2018-07-16 06:34] ihor-sviziev commented on #16786
@lbajsarowicz look at tech details section. We were able to reproduce it on empty magento installation.

[2018-07-16 06:41] engcom-backlog-nazar commented on #14582
Hi @dinkeronline I cannot reproduce by your's scenarios steps. can you check the websites for your advicind pricing ?

[2018-07-16 06:42] engcom-backlog-nickolas commented on #16843
Hello @uandiweb, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-16 06:56] engcom-backlog-nazar commented on #14567
Hi @C0D31GN1T3R  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-16 06:59] pratikmage commented on #16556
I have facing same issue.

[2018-07-16 07:05] erfanimani commented on #5927
I can reproduce similar symptoms on our installation. However, `en_US` it works fine. In other locales LESS compilation fails.

**My steps to reproduce**

[code]

**Expected and actual result:**

- Two files come up, both .less and .css

Now let's try that for a different locale!

[code]

**Expected result:**

- Two files come up, both .less and .css

**Actual result:**

- Only the .less file come

[2018-07-16 07:11] topranavp commented on #16525
@magento-engcom-team , Same issue here able to produce the issue in V2.2.4 and V2.2.5. While creating custom drop-down attribute programmatically,  I am able to generate those products only which having alphabetic values,
E.G.
$this->_options = [
            ['label'=>'First Option', 'value'=>'FIROPT'],
            ['label'=>'Second Option', 'value'=>'SECOPT'],

But not able to create product when

[2018-07-16 07:36] engcom-backlog-pb commented on #14691
@oroskodias, thank you for your report.
This issue is already fixed in Magento 2.2.

[2018-07-16 07:36] #14691 closed, assigned to nobody

[2018-07-16 07:42] engcom-backlog-pb commented on #16383
@Scqualo71, thank you for investigation.

[2018-07-16 07:42] #16383 closed, assigned to nobody

[2018-07-16 07:46] jaromirmuller commented on #12030
Is there any general approach how to tackle this problem?

O have error:
`Fatal error: Uncaught Magento\Framework\Exception\LocalizedException: Invalid Document Element 'config', attribute 'xsi:noNamespaceSchemaLocation': The attribute 'xsi:noNamespaceSchemaLocation' is not allowed. Line: 17 in /var/www/html/vendor/magento/framework/Config/Reader/Filesystem.php on line 163`

And I have now clue wh

[2018-07-16 07:48] engcom-backlog-pb commented on #16804
@Lorraine1903, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-16 07:48] #16804 closed, assigned to nobody

[2018-07-16 07:49] engcom-backlog-pb commented on #16794
@douglaspduarte, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-16 07:49] #16794 closed, assigned to nobody

[2018-07-16 07:51] nelero commented on #13409
Hi,
so, what's the solution ? seems this bug is openend for a while now :(

[2018-07-16 07:54] engcom-backlog-pb commented on #16793
@VyacheslavCh, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-16 07:57] kanduvisla commented on #15115
I have this when I try to create an order in the admin for customers that have an account.

I'm using Magento 2.2.5. The error is:

    No such entity with addressId =

Note that the customer has an account and an address, and use for shipping address the "use same as billing address" is checked.

[2018-07-16 07:57] SolRey commented on #12655
Thanks @flancer64 , Yous module fixed my issue in 2.2.3 :)

[2018-07-16 07:57] zeeshan2523806 opened #16852 "Magento2 Attribute option does not validate for existing records before insert"
### Preconditions

When creating product attribute and their options dynamically magento does not validate the data before inserting it into the database,

1. Magento2.2.3
2.

### Steps to reproduce

1. Create a product eav attribute dynamically using class (Magento\Catalog\Model\ResourceModel\Eav\Attribute) and set the entity type Id to the type id of catalog_product (See sample code below)  (eg:

[2018-07-16 07:57] magento-engcom-team commented on #16852
Hi @zeeshan2523806. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-16 08:00] engcom-backlog-nickolas commented on #16789
Hello @vegangirlthatcodes, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-16 08:01] engcom-backlog-pb commented on #16786
@iGerchak, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-16 08:05] #16158 closed, assigned to nobody

[2018-07-16 08:06] arnoudhgz commented on #13260
It is still present in 2.2.5.

[2018-07-16 08:08] engcom-backlog-nazar commented on #14526
Hi @n1cehua1991 i cannot reproduce by your's scenarious steps, can you provide more information ?

[2018-07-16 08:23] #14725 closed, assigned to nobody

[2018-07-16 08:37] dwaynebartels opened #16854 "Default billing and shipping information is lost when updating new default billing and shipping addresses"
When the id's default billing and shipping are set on customer, you cannot add new addresses that are default billing or shipping using the API (PUT /V1/customers/{customerId})

### Preconditions
1. Magento CE 2.2.3 and above.
ENTERPRISE also has these problems. I suspect earlier versions then 2.2.3.

### Steps to reproduce
Make sure customer's default billing and shipping id's aren't set.
1. Upda

[2018-07-16 08:37] magento-engcom-team commented on #16854
Hi @dwaynebartels. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-16 08:38] dwaynebartels commented on #16854
@magento-engcom-team
yes

[2018-07-16 09:21] engcom-backlog-pb commented on #14720
@savadk00hi, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce.

[2018-07-16 09:29] zeeshan2523806 commented on #16852
its development bug, not sure how i can produce this on the existing setup

[2018-07-16 09:47] engcom-backlog-nazar commented on #14530
Hi @evgenyvas  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-16 09:54] engcom-backlog-pb commented on #14744
@stormbyte, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce.

[2018-07-16 10:01] engcom-backlog-nazar commented on #14446
HI @tmoreau thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-07-16 10:01] #14446 closed, assigned to nobody

[2018-07-16 10:03] ishakhsuvarov commented on #16790
Hi @erikkubica
Thank you for reporting. It makes sense to report this issue directly to https://github.com/magento/graphql-ce repository, where all of QraphQL action is happening.

Please close this ticket of you decide to file a ticket in that project.

Thank you

[2018-07-16 10:11] engcom-backlog-nazar commented on #14478
Hi @duffner hank you for your report.
The issue is already fixed in 2.2-develop branch

[2018-07-16 10:12] #14478 closed, assigned to nobody

[2018-07-16 10:19] engcom-backlog-nickolas commented on #16854
Hello @dwaynebartels, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-16 10:36] engcom-backlog-pb commented on #16786
@iGerchak, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-16 10:46] engcom-backlog-nickolas commented on #16852
Hello @zeeshan2523806, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-16 10:51] engcom-backlog-nickolas commented on #15484
Hello @daniyal154, thank you for your report. As I cannot reproduce this issue on clean magento 2.1.7 installation, could you please report this issue here: https://github.com/magento/data-migration-tool/issues

[2018-07-16 10:51] #15484 closed, assigned to nobody

[2018-07-16 11:01] engcom-backlog-nickolas commented on #15441
Hello @fooman, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-16 11:08] engcom-backlog-nickolas commented on #15410
@indefinitedevil, thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open S

[2018-07-16 11:08] #15410 closed, assigned to nobody

[2018-07-16 11:12] indefinitedevil commented on #15410
@engcom-backlog-nickolas Are you saying that because *we* experienced this issue on Commerce, that it thus cannot exist on Open Source?

[2018-07-16 11:19] engcom-backlog-nickolas commented on #15410
@indefinitedevil, I cannot reproduce this issue on CE version.

row_id introduced by Staging module, which is enterprise module.

[2018-07-16 11:25] #15223 closed, assigned to nobody

[2018-07-16 11:31] engcom-backlog-nickolas commented on #15150
@woshka, thanks you for your report. Unfortunately I cannot reproduce this issue by described steps too.
If you'd like to update it, please reopen the issue.

[2018-07-16 11:31] #15150 closed, assigned to nobody

[2018-07-16 12:03] engcom-backlog-pb commented on #14640
@AmastyLtd, thank you for the report. This is expected behavior - when
"Filterable (no results)" is enabled, Layered navigation includes filters for all available attribute values and their product counts, including those with zero (0) product matches.
Please see [Magento documentation](https://docs.magento.com/m2/ee/user_guide/catalog/navigation-layered-filterable-attributes.html).

[2018-07-16 12:03] #14640 closed, assigned to nobody

[2018-07-16 12:09] engcom-backlog-nazar commented on #14510
Hi @victortodoran  i cannot reproduce by your's scenarious steps, do you try ->
When creating the customer attribute, please take care about following things:

Attribute is added to the attribute set, group

customer_eav_attribute
eav_entity_attribute
Attribute is assigned to customer forms

customer_form_attribute

[2018-07-16 12:30] hostep commented on #16531
@engcom-backlog-pb : I'm re-opening this for re-evaluation if that's ok for you, please see the above comment of @DevOli

[2018-07-16 12:35] engcom-backlog-nazar commented on #14510
@victortodoran  also  -> https://github.com/magento/magento2/issues/1393#issuecomment-338879075

[2018-07-16 12:40] Toike commented on #10534
I've got the same problem with Magento 2 version 2.2.5, promotion code working in shopping cart, but not on the payment page.

[2018-07-16 12:47] ewallteam opened #16859 "Failed - Network error Magento2 export"
### Preconditions

1. Magento 2.2.4
2. PHP 7.1
3. Ubuntu 16.04

### Steps to reproduce

1. Goto System-> Export
2. Select Entity Type as Customers Main FIle
3. Select Export File Format as CSV
4. Click on Continue button

### Expected result

1. Export file should be downloaded with the customer data

### Actual result

1. File started to download and showing the file size while the download is in

[2018-07-16 12:47] magento-engcom-team commented on #16859
Hi @ewallteam. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-16 12:56] engcom-backlog-nickolas commented on #15415
Hello, @gnanasekaranl, thank you for your report. I'm not quite sure I fully understand issue you've described.
So, I did the next:
Created TestRepository with endpoint V1/my-orders/:id with resource - self, which use OrderInterface to get specified order data. And I can successfully get all order data using customer token.

![peek 2018-07-16 15-55](https://user-images.githubusercontent.com/407558

[2018-07-16 12:56] #15415 closed, assigned to nobody

[2018-07-16 13:01] engcom-backlog-pb commented on #14788
@rocketweb, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-16 13:06] engcom-backlog-pb commented on #16859
@ewallteam, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-16 13:06] #16859 closed, assigned to nobody

[2018-07-16 13:08] erikkubica commented on #16790
@magento-engcom-team thank you, i have submitted the issue into the repository you suggested. I am closing this ticket.

[2018-07-16 13:08] #16790 closed, assigned to nobody

[2018-07-16 13:22] ishakhsuvarov commented on #16790
@erikkubica Thank you for collaboration

[2018-07-16 13:35] richardreen opened #16860 "Headings of the Curstomer Account page are shown at the end of the page"
In Magento 2.2.5 the headings of the customer account page are not visible at the top of the page but at the end.
See screenshot for more. This is a new install of Magento 2.2.5.

![screenshot_20180713_171625](https://user-images.githubusercontent.com/18627705/42761426-c6e3f318-890d-11e8-9be5-263e905beb55.png)

Error is caused by wrong name of destination in vendor//magento/theme-frontend-luma/Mag

[2018-07-16 13:35] magento-engcom-team commented on #16860
Hi @richardreen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-16 13:36] sidolov commented on #16764
Hi @Sathishkumar8731. Thank you for your report.
The issue has been fixed in magento/magento2#16839 by @Karlasa in 2.1-develop branch
Related commit(s):
 - [8e4cda67b30cf2f4c276703e6d12a6034fb47d44](https://github.com/magento/magento2/commit/8e4cda67b30cf2f4c276703e6d12a6034fb47d44)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-16 13:40] cjj25 commented on #16531
@DevOli solution didn't work for me.

I had to change the following:
[code]

To this:
[code]

[2018-07-16 13:48] richardreen commented on #16860
Magento version 2.2.5

[2018-07-16 14:09] orlangur commented on #12030
@jaromirmuller looks like you have something like `<config xsi:noNamespaceSchemaLocation=...` in one of the config XML files.

[2018-07-16 14:19] jaromirmuller commented on #12030
Is there any "official" way how to debug such issue?

The problem is that the validation validates merged xml object so the information which original file is malformed is not available at the moment of validation.

It's really difficult to find a problem in 5000+ xml files.

Anyway.

After a while I discovered it. But my approach was quite brute force:

I added into vendor/magento/framework/Confi

[2018-07-16 14:36] Januszpl commented on #12390
I can also confirm issues related to AJAX POST calls. After installing extension on clean Magento 2.2.1  that had js with ajax (POST) call (for example mailchimp 1.0.24 / bscommerce popup 1.0.1) we had issues with notifications. For example sending newsletter form (placed in the footer) resulted in showing msg for a few second/no messages. Updating mailchimp to 1.0.29 fixed issues (waiting for upd

[2018-07-16 14:41] engcom-backlog-pb commented on #14633
@amalkarmick, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-16 14:58] engcom-backlog-pb commented on #14642
@AleksLi, this is not a bug. By setting this fields you can exclude some products from export, not columns.

[2018-07-16 15:02] stellasoft-matt commented on #6167
Any update on this, we are having the same issues with configurable products?

[2018-07-16 15:14] craigcarnell commented on #3897
+esi_ignore_https doesn't work for me, but removing ttl did. That is not a good solution.

Magento any ideas? @piotrekkaminski

[2018-07-16 15:28] phpology opened #16862 "% symbol in editor, throws URI error prompt"
Hi guys,

Magento ver. 2.0.16

We have noticed that if a content item has a percentage (%) symbol in the copy of the description content, we get a javascript prompt error within the WYSIWYG editor:

**error: error in [unknown object].fireEvent(): event name: tinymceSaveContent error message: URI malformed.**

If our content has images/links inserted using the Magento variables, this all breaks.

!

[2018-07-16 15:30] engcom-backlog-pb commented on #14645
@aeu, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-16 15:33] BezV8 commented on #15483
I can confirm that this is now fixed on a fresh install of 2.2.5

[2018-07-16 15:33] #15483 closed, assigned to phoenix128

[2018-07-16 16:00] gcampedelli commented on #3897
Hello @craigcarnell . Thanks for joining our conversation to solve this. I had the same problem using NGINX. Turns out that the problem was my NGINX settings and varnish settings that were blocking menu to be rendered. Could you please check your varnish and NGINX settings using curl "curl -I -v --location-trusted '<your http Magento base URL>'" and then "curl -I -v --location-trusted '<your https

[2018-07-16 16:08] miguelbalparda commented on #6585
There is a fix for this in #14393

[2018-07-16 16:15] anthony-jullien commented on #10304
We have the same issue, I can't believe Magento considers this as the normal behaviour... By allowing the backorders, of course, I would like to allow customers to purchase out of stock products, it's the definition of backorders...
Does anyone has found a solution ?

Thanks !

[2018-07-16 17:11] herod2k opened #16865 "Order mail sender empty"
### Preconditions
1. Magento 2.2.5 (vanilla) with sample products
2. Php 7.1.19
3. Apache 2.4.33
4. Operating system: Fedora 28

### Steps to reproduce
1. Install Magento 2.2.5 with sample products
2. Configure the store with more than a view
![image](https://user-images.githubusercontent.com/3713164/42772081-30e12c6e-8921-11e8-8470-c48bf5ab7160.png)
3. Configure each view a different currency and

[2018-07-16 17:11] magento-engcom-team commented on #16865
Hi @herod2k. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-16 18:15] abhaykhatariya commented on #16556
@mariuscris

[2018-07-16 18:17] abhaykhatariya commented on #16556
@tzyganu Can you please check this issue

[2018-07-16 18:18] HardRock88 opened #16866 "Incorrect behavior after changing config through command line"
When I changing Add Secret Key to URLs through command line, changes take effet only after manual save in Stores -> Configuration -> ADVANCED -> Admin

### Preconditions

1. Magento 2.2.5 (vanilla) with sample products
2. Php 7.1.19
3. Apache 2.4.33
4. Operating system: Fedora 28

### Steps to reproduce
1.  Install magento2 with compsoer
`composer create-project --repository-url=https://repo.magen

[2018-07-16 18:29] cralls commented on #16807
Any suggestions on this? It's a major issue. I have all extensions disabled and I can't even add a new product and add images to it. I get the same error. It's like javascript can't get a json object of images for the gallery.

[2018-07-16 20:55] brplassen commented on #11263
I love Magento 2 because I understand the database structure, and
dependency management, but what about a noob with a brilliant idea? It
seriously needs a better guide for it's functionalities for noobs. The
installation and management can be done far better(without loosing console
management), like Joomla.

Den fre. 13. jul. 2018, 09.37 skrev Sergey Repin <notifications@github.com>:

[2018-07-16 21:55] trucatchtraps opened #16867 "Admin Order Shipping Address Please Wait Loading on Every Field"
### Summary
New order in Admin Panel, edit Shipping Address, receive a Please Wait Loading icon for every field. Cannot tab through the fields to quickly fill them in while talking with customer.

Same order, enter Credit Cart information, then edit Shipping Address, Credit Card information is removed.

### Preconditions
1. Magento 2.2.3 (dev site is Magento 2.2.5 happening as well)
2. From what I

[2018-07-16 21:55] magento-engcom-team commented on #16867
Hi @trucatchtraps. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-16 21:57] drew7721 commented on #7679
I have the same issue.

- Magento 2.2.5
- PHP 7.1

In a custom carrier class I am using the `getAllItems` method from the `\Magento\Quote\Model\Quote\Address\RateRequest` class and it returns duplicate items in the quote. Both items have the same sku and share almost the same proprieties but only one of them has the correct price info and the other the correct stock information.

This is :100: a b

[2018-07-17 00:57] abbasalibutt commented on #3897
Hello @gcampedelli. Maybe my question is a very basic question. Actually, I am talking with our hosting company and trying to convince them it is a Varnish or server configuration issue. Can you please tell me in simple words how can I explain them or ask them to change in the server or varnish cache configuration to fix this issue?

[2018-07-17 01:06] abbasalibutt commented on #3897
When I execute the command

curl -I -v --location-trusted http://URL
I get some

< HTTP/1.1 302 Found
HTTP/1.1 302 Found
< Date: Tue, 17 Jul 2018 01:00:34 GMT
Date: Tue, 17 Jul 2018 01:00:34 GMT
< Server: Apache
Server: Apache
< Pragma: no-cache
Pragma: no-cache

and with

curl -I -v --location-trusted https://URL there is no 302.

[2018-07-17 03:24] terrybakshi opened #16868 "Stock Management"
Magento 2 All the version Same issue, admin is not getting any emails in regards to the low stock of the products, even after setting it up in settings to notify for low stock.
### Preconditions
Magento 2.2.3
This hasn't been happening since Magento 2 was launched
PHP 7.1.12
MySQL 5.0.12
### Steps to reproduce
Login to Admin Panel
Store Configuration -> Catalog -> Inventory
Product Stock Option
No

[2018-07-17 03:45] jigardhaduk commented on #15447
Hello @engcom-backlog-nickolas
Is there any update?

[2018-07-17 06:47] engcom-backlog-nickolas commented on #16866
Hello @HardRock88, thank you for your report. "use_form_key" configuration receives numbers. So, if you try to enter "php bin/magento config:set admin/security/use_form_key 0"
![peek 2018-07-17 09-47](https://user-images.githubusercontent.com/40755810/42800904-3a0feebc-89a6-11e8-8e27-dc5c37603425.gif)
everything will work just fine.
If you'd like to update this issue, please feel free to reopen it

[2018-07-17 06:47] #16866 closed, assigned to nobody

[2018-07-17 07:15] engcom-backlog-nickolas commented on #16860
Hello @richardreen, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-17 07:19] engcom-backlog-nickolas commented on #16862
Hello @phpology, thank you for your report. Unfortunately magento 2.0.x no longer supported https://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.0.18CE.html.
To maintain the performance and security of your site, we advise you to upgrade to the latest version of Magento Open Source.

[2018-07-17 07:19] #16862 closed, assigned to nobody

[2018-07-17 07:39] engcom-backlog-pb commented on #16868
@terrybakshi, thank you for your report.
Please provide more detailed steps to reproduce or try to reproduce this issue.

[2018-07-17 07:57] engcom-backlog-nickolas commented on #15404
Hello @nmallepally, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-17 08:19] engcom-backlog-nickolas commented on #15057
Hello @Saad34ML, thank you for your report. As rogyar correctly pointed out, duplicated product is created without quantity specified and with "Out of Stock" status.

![peek 2018-07-17 11-19](https://user-images.githubusercontent.com/40755810/42804948-16a86f82-89b3-11e8-9f4c-5b8049612c4f.gif)

If you'd like to update this issue, please feel free to reopen it.

[2018-07-17 08:19] #15057 closed, assigned to nobody

[2018-07-17 08:31] chirag-wagento commented on #16786
@magento-engcom-team give me test instance

[2018-07-17 08:36] engcom-backlog-nickolas commented on #16860
@chirag-wagento, you are right. Thanks for pointed it out.
@richardreen, I'm closing this issue as duplicate of #16786. If you'd like to update it, please please feel free to reopen this issue.

[2018-07-17 08:36] #16860 closed, assigned to nobody

[2018-07-17 08:40] skitter-anton commented on #16469
I have the same issue. It's as @sidchs says:

Klarna Payments has been selected as a Core Bundled Extension, CBE for Magento Commerce latest platform release, Magento 2.2.4, and is now distributed with Magento 2 core code. This means that using Klarna Payments on your M2 store has never been easier.

[2018-07-17 08:44] engcom-backlog-nickolas commented on #15056
Hello @TBSMage, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-17 08:49] AaronONeill commented on #16531
Thanks @DevOli, I had to contact our hosting provider and ask them to check on the mime_magic extension which in our case wasn't enabled. Turning this on resolved the issue for us.

[2018-07-17 08:53] simonmaass commented on #8084
I am having the same issue with 6k product variations... is there any magento 2 fix in the core for this happening any time soon?

[2018-07-17 09:01] engcom-backlog-pb commented on #16865
@herod2k, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue.

[2018-07-17 09:02] peterjaap commented on #8084
@simonmaass I wouldn't bet on it... this doesn't seem to be a priority for Magento unfortunately :(

[2018-07-17 09:03] simonmaass commented on #7658
I am still having the same issue in magento 2.2.5 - will this be fixed in the core soon? any updates?

@peterjaap I will try to install your workaround for the time... thank you!

[2018-07-17 09:19] #16865 closed, assigned to nobody

[2018-07-17 09:39] senders commented on #16450
Hello,
perhaps somebody has the same problem. I was getting to work by disabling the system extension Vertex_Tax before upgrading to 2.2.5;
php bin/magento module:disable Vertex_Tax.
Then start the normal composer update. And setup:upgrade will work.

So maybe there is something wrong with Vertex_Tax extension with existing data in some case.

[2018-07-17 09:44] etcik1 commented on #16377
@engcom-backlog-nazar

Provided screencast:

https://monosnap.com/file/f9bFiedEVlnt98P6z8QqAkCBPziH1f

[2018-07-17 09:45] engcom-backlog-pb commented on #14647
@cherreman, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-07-17 09:53] engcom-backlog-pb commented on #14657
@aaureli-alp, thank you for your report. This is not a bug.
Free shipping is always displayed because you enable it in store>configuration>sales>shipping methods.

[2018-07-17 09:53] #14657 closed, assigned to nobody

[2018-07-17 09:58] BenSpace48 commented on #9870
I have witnessed this on most Magento 2 stores I've used and/or worked on, I struggle to replicate it though as a refresh usually resolves it.

[2018-07-17 10:00] gcampedelli commented on #3897
I don't know your settings, but if you are running ssl you have to get 200 on HTTP.

[2018-07-17 10:02] engcom-backlog-pb commented on #14606
@oefterdal, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-17 10:02] #14606 closed, assigned to nobody

[2018-07-17 10:03] SannePetersNL commented on #12612
Also had this problem in 2.2.5, @hostep's solution worked for me to.

[2018-07-17 10:03] gcampedelli commented on #3897
Hello @abbasalibutt. As it is hard to say because of server configuration, only thing I can tell you is my experience. In my case, it was NGINX and Varnish configuration. I had to replace default VCL and reconfigure varnish. My default VCL is like this:

`vcl 4.0;

import std;
# The minimal Varnish version is 4.0
# For SSL offloading, pass the following header in your proxy server or load balancer

[2018-07-17 10:23] salehawal commented on #11498
@oviliz just upgraded to 2.2.4, still payment method not showing

is it because the base currency ?

[2018-07-17 10:31] craigcarnell commented on #3897
@gcampedelli

[code]

[code]

[2018-07-17 10:44] gcampedelli commented on #3897
On http you have to get 200.  To achieve that, you have to configure NGINX with proxy-pass.

Rebuilt URL to:myurl
*   Trying 54.207.126.154...
* Connected to localhost port 80 (#0)

< HTTP/1.1 200 OK
HTTP/1.1 200 OK
< Date: Tue, 17 Jul 2018 07:53:40 GMT
Date: Tue, 17 Jul 2018 07:53:40 GMT
< Content-Type: text/html; charset=UTF-8
Content-Type: text/html; charset=UTF-8
< X-Content-Type-Options: nosn

[2018-07-17 10:48] gcampedelli commented on #3897
Nginx - conf

upstream fastcgi_backend {
  server   unix:/var/run/php/php7.0-fpm.sock;
}
server {
    server_name myurl;
    listen 8080;
    set $MAGE_ROOT /var/www/html/magento2/pub;
    set $MAGE_MODE production; # or developer
    root $MAGE_ROOT;
    access_log /var/log/nginx/myurl.com-access.log;
    error_log /var/log/nginx/myurl-error.log;

    include /var/www/html/magento2/nginx.conf.sam

[2018-07-17 11:37] engcom-backlog-pb commented on #14545
Issue related to file system permissions.

[2018-07-17 11:37] #14545 closed, assigned to nobody

[2018-07-17 11:39] engcom-backlog-nickolas commented on #15163
Hello @dccampbell, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-17 11:44] engcom-backlog-pb commented on #14523
@haiwera-silk-cd, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-17 11:44] #14523 closed, assigned to nobody

[2018-07-17 11:46] #14514 closed, assigned to nobody

[2018-07-17 11:50] engcom-backlog-pb commented on #14511
@ankit1388  thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-17 11:50] #14511 closed, assigned to nobody

[2018-07-17 12:05] engcom-backlog-pb commented on #14509
@ottosschweiz, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-17 12:06] webspeaks commented on #15490
@pini-girit Thanks. You solution works perfect.

[2018-07-17 12:20] engcom-backlog-nickolas commented on #15090
Hello @BlitzInternet, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-17 12:38] kaydee92 commented on #6688
@Tarek-Adra When i tried php bin/magento setup:static-content:deploy -f then i got below error
[RuntimeException]
The "-f" option does not exist.

so can you please check

[2018-07-17 12:50] engcom-backlog-nickolas commented on #15028
Hello @yspeedwicked, thank you for your report. Unfortunately I'm not able to reproduce this issue.
![peek 2018-07-17 15-51](https://user-images.githubusercontent.com/40755810/42818213-edb5c7de-89d8-11e8-99de-63f4406089a8.gif)

Could you please add more details?

[2018-07-17 12:51] hansvanl commented on #13396
@losttheplot and @alexvandervegt and @brekz do stil experience this issue?

If so, do you run the Layered Navigation extension from Aheadworks?

https://ecommerce.aheadworks.com/magento-2-extensions/layered-navigation/

[2018-07-17 12:51] ghost opened #16878 "Mini cart not getting updated if product disabled from backed."
In my Magento project, if the product is in the cart and I disabled that product from backend after adding it to the cart. Then that product should not display to the cart or should show a message that "Product is out of stock"

### Preconditions
- PHP 7.0.30
- magento 2.1.10

### Steps to reproduce

1. make user login on the website
2. add the product to cart
3. Disabled product from backend
4. R

[2018-07-17 12:51] magento-engcom-team commented on #16878
Hi @gaurid-iprogrammer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-07-17 12:57] brekz commented on #13396
Yes & yes!

[2018-07-17 12:58] hansvanl commented on #13396
Ah, our developper found out that is has something to do with the new feature in the Aheadworks extensions. It seems to mess with the Meta descriptions on the category pages. I'm going to send them a ticket about this.

[2018-07-17 13:00] losttheplot commented on #13396
Well done - this issue has been causing no end of trouble with our client's SEO efforts.

[2018-07-17 13:07] engcom-backlog-pb commented on #14486
@dverkadee, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-17 13:31] raydvard commented on #14968
Ass @EzzyEcom is saying, this problem is still in 2.2.5 ? on production server it's a hassle to modify core code and fix it nor using a hotfix.

[2018-07-17 13:33] knelus commented on #15201
Exact same issue here. Hopefully Magento (Adobe) will fix this soon.

[2018-07-17 13:53] engcom-backlog-pb commented on #14488
@deepshik, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-17 13:53] #14488 closed, assigned to nobody

[2018-07-17 13:53] willwright111 commented on #16531
I too can confirm that moving from 2.2.4 to 2.2.5 produced this bug on apache

[2018-07-17 14:00] chammedinger commented on #4737
Again having the same issue on Magento 2.2.5.
I had it fixed with the composer line "pelago/emogrifier": "2.0.0 as 1.2.0" on Magento 2.2.3
but sadly on 2.2.5 this fix does not work anymore.

[2018-07-17 14:00] engcom-backlog-pb commented on #14483
@47Things, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-17 14:00] #14483 closed, assigned to nobody

[2018-07-17 14:12] driskell commented on #11706
@msawyers Not sure if you ever resolved but this can happen if when upgrading Magento you copy files from new version to your installation, but do not remove deleted files from the target installation. In this case, between some specific versions of 2.1, the gallery block moved from one XML file to another and the original XML file was deleted - thus you get the error in your logs about duplicatio

[2018-07-17 14:15] engcom-backlog-pb commented on #14456
@erikhansen, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-17 14:19] engcom-backlog-nickolas commented on #16237
Hello @reviskar, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-17 14:20] DanielRuf commented on #14968
Yes, it will be fixed in 2.2.6.

[2018-07-17 14:32] joshuabromero opened #16884 "Issues adding block to sidebar in sales_order_create_index.xml"
When adding a custom block to the sidebar in a sales_order_create_index.xml file the block is not rendered on the first page load. However, on every subsequent page load thereafter the block renders fine.

**Preconditions**

PHP 7.0.30
MariaDB 10.3.8
Apache 2.4.33
Magento 2.2.5

**Steps to reproduce**

1. Create a new module
2. Add a custom layout (view/adminhtml/layout/sales_order_create_index.xm

[2018-07-17 14:32] magento-engcom-team commented on #16884
Hi @oddyssey. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-17 14:48] Webroju opened #16886 "Magento 2.2.5 Backend redirect loop after change default storview url"
Create in Magento 2.2.5 two websites and assign each website a store and a storeview.
For all is now "domain.tld"  the url.
Now I changed for the first storeview (at storeview level) the domain to another domain like "domain2.tld". Save, update, compile over cli, then I can't access the backend, because of a redirect loop.
The expected result is, that I can access over the "domain.tld" the backend

[2018-07-17 14:49] dyron commented on #15037
Again not in Magento 2.2.5:
https://github.com/magento/magento2/blob/2.2.5/app/code/Magento/Catalog/view/frontend/templates/product/breadcrumbs.phtml#L14

[2018-07-17 14:57] Webroju commented on #16886
@magento-engcom-team give me {2.2.5} instance

[2018-07-17 15:06] bedroomathletics commented on #16531
I too can confirm that moving from 2.2.4 to 2.2.5 produced this bug on apache

[2018-07-17 15:23] trucatchtraps commented on #16867
Hi, this is my first issue I have mentioned. Do I need to do something for your post? Thanks!

[2018-07-17 15:48] ebofi commented on #11372
@malikt Can you provide the Path URL of the email.css and email-inline.css you find in your theme file

[2018-07-17 15:57] ihor-sviziev commented on #16786
@chirag-wagento AFAIK it works only in PRs

[2018-07-17 15:59] Aaron-Lewis commented on #16101
Hi.

We are having a similar problem as well, "Email has a wrong Format".

We set up a watch in the code to return what value was been sent to SagePay payment gateway.

Server logs was telling us Email Address value was returning NULL.

Looking in the database we discovered table 'sales_order_address' email address column had NULL references for some customers details who entered different shippin

[2018-07-17 16:11] xirikiri commented on #16469
I have a problem with Klarna too after composer update from 2.2.3 to 2.2.5.
My error in setup:upgrade ->
``Module 'Klarna_Core':
Installing schema... SQLSTATE[23000]: Integrity constraint violation: 1022 Can't write; duplicate key in table 'klarna_kco_order', query was: CREATE TABLE IF NOT EXISTS `klarna_kco_order` (
  `kco_order_id` int UNSIGNED NOT NULL auto_increment COMMENT 'Order Id' ,
  `kla

[2018-07-17 16:46] zuzuman commented on #9066
ASAP fix if you need:

Create new module with plugin:
**app/code/Vendor/Module/etc/config.xml**
`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Vendor_Module" setup_version="1.0.0"/>
</config>`

Create di file for out plugin:
**app/code/Vendor/Module/etc/front

[2018-07-17 16:52] chammedinger commented on #4737
found a solution for Magento 2.2.5:

created the files
/web/css/email.less and
/web/css/email-inline.less
in my custom theme and added the content from
/vendor/magento/theme-frontend-blank/web/css/email.less and
/vendor/magento/theme-frontend-blank/web/css/email-inline.css respectively
but each with the line "@import 'source/_theme.less';" commented out (or removed)

[2018-07-17 17:16] DigitalStartupUK commented on #14977
I'm a Porto 3.1.2 (child) user running Magento 2.2.5.

@PaperDS solution worked a treat for me. I'm yet to work out why Porto requires a custom file. Low on my list of things to think about right now though... Thanks for the solution!

[2018-07-17 17:47] loganstellway commented on #6817
Hi @lennartbee,

I'm curious to see your changes to `Magento_Customer/js/customer-data.js` - would you be able to share? 🙏

[2018-07-17 19:33] lennartbee commented on #6817
hi @loganstellway
Ultimately I got it working on 2.2.5 perfectly with a combination of https://github.com/magento/magento2/commit/bcffc4161e4960713922506870e1a4b711c5ca9e#diff-ee3a4dc8a625074b5313aa7d915944fd as mentioned by @sanderjongsma and module-checkout\view\frontend\web\js\checkout-data.js as mentioned by @elvinristi. I use the original customer-data.js now on 2.2.5. Also, I disabled Redis

[2018-07-17 19:44] lennartbee commented on #6817
@loganstellway & @sanderjongsma please be aware that https://github.com/magento/magento2/commit/bcffc4161e4960713922506870e1a4b711c5ca9e#diff-ee3a4dc8a625074b5313aa7d915944fd can throw errors if $refererUri on line 138 is null (if there is no refferer). I added "!is_null($refererUri) &&" before "false !== strpos($refererUri, $this->checkoutPagePath)" to prevent that.

[2018-07-17 20:03] kennedyabitbol commented on #12233
Hi, not sure, but in 2.1.13, the tierprices are not showed, but in source i see that:

`priceBoxes.priceBox({'priceConfig': {"productId":"1052","priceFormat":{"pattern":"%s\u00a0\u20ac","precision":2,"requiredPrecision":2,"decimalSymbol":",","groupSymbol":"\u00a0","groupLength":3,"integerRequired":1},"prices":{"oldPrice":{"amount":3.8,"adjustments":[]},"basePrice":{"amount":3.1666656666667,"adjust

[2018-07-17 20:13] CompactCodeEU commented on #15490
I have created a Fix module for this that will generate the product breadcrumbs trough PHP and not trough JS

https://github.com/CompactCodeEU/FixProductBreadcrumbs.git

[2018-07-17 20:30] medspec commented on #4688
I still have this issue on 2.2.5. can we reopen this?

[2018-07-17 20:32] jfmontanaro commented on #14912
Can confirm this is also an issue on 2.2.5.

I have found a possible workaround, however.  There are 3 places where `customer-data.js` sets that cookie.  In 2.2.5 it happens on lines 112, 173, and 353.  If you change `$.cookieStorage.set` on those lines to `$.cookieStorage.setExpires(n).set`, where `n` is the number of days for which you would like the cookie to remain valid, the issue disappears.

[2018-07-17 20:52] AdminLinenStore commented on #16221
That's exactly my set up has been

[2018-07-17 22:18] Bob123a1 opened #16901 "Magneto v2.1.8 - Unable to revert URL suffix (Product and Categories URL)"
Steps to reproduce

1. Blank out Product URL suffix option and Category URL suffix option
2. Save config, flush cache, and reindex
3. Go back to change Product and Category URL suffix back to ".html", save config, flush cache, reindex
4. But now all site still have no ".html" suffix, it has no suffix at all
5. When adding in a new product they will have the ".html" suffix, however all existing web

[2018-07-17 22:18] magento-engcom-team commented on #16901
Hi @bob7689. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-18 02:52] Notall-wo commented on #14412
I also encountered this bug,shield the'Magento_Checkout/js/action/get-totals'  will not report an error, but there aren't data. don't know why.

[2018-07-18 02:55] Notall-wo commented on #14412
I also encountered this bug, shield the'Magento_Checkout/js/action/get-totals' will not report an error,  I don't know why it's affected, so no data was loaded

[2018-07-18 04:46] hungpvdev commented on #15898
@duckchip You just need to set attribute set value for customer model before run save()

For example:
// Set customer model attribute set id
$customer->setAttributeSetId(\Magento\Customer\Api\CustomerMetadataInterface::ATTRIBUTE_SET_ID_CUSTOMER);

// Set some value to customer model
$customer->setSavedTokens('some string');
$customer->save();

[2018-07-18 05:10] pradeepnew commented on #5735
Hi,
I have added additional fee and its working with other payment gateway but not working with Paypal express payment option. I am getting below error

Any solution?

[2018-07-18 05:13] medinadato commented on #7617
I'm facing same issue.

Magento 2.2.3
PHP 7.0.

[2018-07-18 06:31] mritu19 commented on #16532
Hi @orlangur
I would like to share with you that I haven't modify any default query of magento2.. I am using the default/core code.

The only things i have done :: I have added 5 attributes and there are many options in a configurable products. and combining all attributes options for a configurable product , total variations becomes around 1100 simple products under one configurable product.

did

[2018-07-18 06:42] zaheerbadi commented on #14968
This happens even in 2.2.5. Some people have provided the solution but this is a patch to the core and it's not considered a permanent solution. Hope community fixed this in the new version and release it soon.

[2018-07-18 06:45] Knight017 commented on #6415
We are still facing this issue in Magento 2.2.3 in `catalog_category_product` and `catalog_product_category` reindexing.

[2018-07-18 06:48] darabaig opened #16904 "Catalog Rule Ui Component Field set CONDITIONS throws error in Magento 2.2.3"
Preconditions:
I was trying to implement Module Catalog rule conditions in my custom module with help ui component form field set , in an environment given below.
1. Magento 2.2.3
2. Custom Module with a form created via Ui Component

Steps to reproduce

1. Copy the fieldset of catalog rule in the custom ui component form as given below:

`<htmlContent name="block_promo_catalog_edit_tab_conditions

[2018-07-18 06:48] magento-engcom-team commented on #16904
Hi @darabaig. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-18 06:56] rip057 commented on #6415
Did you read the thread? You need to increase the max temp table setting in
my.cnf

See

https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_tmp_table_size

On Wed, Jul 18, 2018, 1:45 AM Rajesh Harwani, <notifications@github.com>
wrote:

[2018-07-18 07:09] suyash2025 commented on #11411
same issue we got in 2.1.7.
@magento-admin  Is it solved?

[2018-07-18 07:19] darabaig commented on #16904
@magento-engcom-team give me {2.2.3} instance

[2018-07-18 07:35] DanielRuf commented on #14968
Please read the previous comments, this will be fixed in 2.2.6. The bot communicated a wrong date.

[2018-07-18 07:42] slackerzz commented on #2797
This bug is still present in 2.2.5.
@magento-engcom-team maybe this issue should be reopened

[2018-07-18 07:51] engcom-backlog-nickolas commented on #16901
Hello @bob7689, thank you for your report. Unfortunately I can not reproduce this issue.
![peek 2018-07-18 10-50](https://user-images.githubusercontent.com/40755810/42867437-4a3255e6-8a78-11e8-80ba-af3aee564c9d.gif)
Could you please add more details?

[2018-07-18 08:02] craigcarnell commented on #3897
@gcampedelli

My Varnish is running on port 80, nginx on 8080 and 443.

I believe it may be Magento doing to the 302 redirect from HTTP to HTTPS as my base URL and secure URL are both HTTPS?

If this is the case, then this would not work?

Why would setting ttl to 0 make it work?

[2018-07-18 08:16] engcom-backlog-nickolas commented on #16884
Hello @oddyssey, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-18 08:19] engcom-backlog-nickolas commented on #16485
@andregurjao, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-18 08:19] #16485 closed, assigned to nobody

[2018-07-18 08:23] engcom-backlog-nickolas commented on #16455
@ankitdbst, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-18 08:23] #16455 closed, assigned to nobody

[2018-07-18 08:29] engcom-backlog-nickolas commented on #16655
Hello @dverkade, thank you for your report and pull request.
We've acknowledged the issue and added to our backlog.

[2018-07-18 08:37] avinashgarg commented on #11252
i have fixed this issue. for this i need to use preference in di file and copy the code in our new file. for more discussion please join on skype avinash.garg1991

[2018-07-18 08:39] glwstor commented on #15828
We have the same issue with Magento 2.2.4 with two store views.
The default store view has no X-Magento-Vary set and the page load is around 52ms.
The non-default store view has X-Magento-Vary set and the page load is around 352ms.
We do not use Varnish, only the build in FPC with Redis.

Is there any solution?

Best regards

[2018-07-18 08:41] dzSo commented on #14968
Having same problem,
Magento 2.2.5

can't save "default page title" in Content > Design > Configuration

[2018-07-18 08:49] engcom-backlog-nickolas commented on #16587
Hello @damien-lechopier, thank you for your report. Unfortunately I wasn't able to reproduce this issue.
magento 2.2.4 clean installation:
![peek 2018-07-18 11-50](https://user-images.githubusercontent.com/40755810/42870383-64eb0d4e-8a80-11e8-8c78-f3f7495d1e94.gif)
Could you please add more details?

[2018-07-18 08:50] jignesh26 commented on #6803
Hello Folks,

 I am trying to resolve this issue with flow the way it should work its taking time more than usual. this only for update from my side if any buddy resolved this or found any way to resolve this by stranded way Lets us know here please.

[2018-07-18 08:51] waymanxie opened #16906 "magento2.2.5, found bug for attribute with multiple select"
### Preconditions

1. new installation of magento2.2.5 by bitnami package

### Steps to reproduce

1. create 3 store views for 3 languages, like Default, JP, ENG
2. create an attribute "Application" with multiple select
3. add 2 options, fill in the textbox for admin in ENG, then do the translations
![image](https://user-images.githubusercontent.com/41362735/42870374-46073590-8aaa-11e8-802e-cb1e65

[2018-07-18 08:51] magento-engcom-team commented on #16906
Hi @waymanxie. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-18 09:03] waymanxie commented on #16906
@magento-engcom-team give me 2.2.5 instance

[2018-07-18 09:03] magento-engcom-team commented on #16906
Hi @waymanxie. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-18 09:04] magento-engcom-team commented on #16906
Hi @waymanxie, here is your [Magento instance](https://i-16906-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16906-2-2-5.engcom.dev.magento.com/admin](https://i-16906-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-18 09:14] radulff opened #16907 "Not redirecting depending on the storeview code"
We have different store views: Spanish (es_es), French (fr_fr) and English (en). And we have a RMA extension where you can create them. Once you create a RMA you redirect to the same RMA page; we assume it works for the english storeview because of the code of the storeview is "en", not like the spanish and the french ones which have respectively (es_es) and (fr_fr) which redirect to the homepage.

[2018-07-18 09:14] magento-engcom-team commented on #16907
Hi @rvilama97. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-18 09:31] vinoth44 opened #16908 "Magento Store view URL with slash instead of underscore"
We have different stores for 6 countries with 2 languages for each English and Arabic. So totally we have 12 store view. Everything works fine, but the URL of store http://example.com/COUNTRY_LANGUAGE to changed to http://example.com/COUNTRY/LANGUAGE. I am not sure how to achieve this, I know it is adding store in the URL after domain name. But I cannot setup store with slash(/).

### Precondition

[2018-07-18 09:31] magento-engcom-team commented on #16908
Hi @vinoth44. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-18 09:49] dwaynebartels opened #16910 "Getting a full list of customerGroups with searchCriteria"
Endpoints like customerGroup/search need searchCriteria to get a full list of items.
What we did in Magento 2.1.X is adding V1/customerGroups/search/?searchCriteria to get a list.
but since 2.2.4 this doesn't work anymore and we found different solutions to the problem.
One of them is sending invalid searchCriteria like V1/customerGroups/search/?searchCriteria=[] OR a question mark V1/customerGrou

[2018-07-18 09:49] magento-engcom-team commented on #16910
Hi @dwaynebartels. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-18 09:51] dwaynebartels commented on #16910
@magento-engcom-team yes

[2018-07-18 10:02] engcom-backlog-nickolas commented on #16542
Hello @BabliDey, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-18 10:06] Tofandel commented on #3673
Same issue here on magento 2.2.5

I found what is causing the problem

In the file lib/web/mage/gallery/gallery.less

There is this line
@import '../../css/source/_variables.less'; // Local theme variables

That import the theme variables but the theme usually define fonts in those files with a relative path, so the font families in the generated css are being declared on non existant files

Can t

[2018-07-18 10:12] engcom-backlog-nickolas commented on #16908
@vinoth44, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-18 10:12] #16908 closed, assigned to nobody

[2018-07-18 10:15] DanielRuf commented on #14968
Please just upvote at the top, do not comment `I have this too`. We are aware that it is not yet fixed but will be in 2.2.6.

[2018-07-18 10:15] engcom-backlog-nickolas commented on #16907
@rvilama97, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-18 10:15] #16907 closed, assigned to nobody

[2018-07-18 10:33] engcom-backlog-nickolas commented on #16910
Hello @dwaynebartels, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-18 11:13] gcampedelli commented on #3897
It is really hard to say. In my Magento 2 configuration, both are https.
Curl gives 200 on http
Varnish settings are above and Nginx or Apache should have proxy_pass correctly configure 127.0.0.1:80
I had the same problem as you are facing right now. I tried every possible solution and it was a server configuration preventing menu to render.

[2018-07-18 11:15] vinoth44 commented on #16908
@engcom-backlog-nickolas  I have already posted in stack exchange there is no response so I have posted here consider that is could be potential issue / change request.

[2018-07-18 11:19] engcom-backlog-pb commented on #16906
@waymanxie, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![1](https://user-images.githubusercontent.com/40756187/42878373-81b72a2e-8a95-11e8-8cce-addab7238a1b.gif)

[2018-07-18 11:39] engcom-backlog-pb commented on #16886
@Webroju, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-18 11:43] engcom-backlog-pb commented on #14495
@nans, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-18 11:43] czettnersandor commented on #11708
It looks like the only place this notification is shown is at the cart. The problem is, you can easily skip the cart from the checkout process because the minicart is showing the checkout button in a primary colour and the visit cart as a simple link.

[2018-07-18 11:50] engcom-backlog-pb commented on #16349
@yongred, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-18 11:50] #16349 closed, assigned to nobody

[2018-07-18 11:52] engcom-backlog-pb commented on #16295
@mtbottens, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-18 11:52] #16295 closed, assigned to nobody

[2018-07-18 12:14] densen45 commented on #14682
@engcom-backlog-pb thank you for your efforts! You are right, we can not reproduce this issue on a clean 2.2.3 installation.

However, do you have any idea what might be the cause for this issue? Just to push us in the right direction ...

[2018-07-18 12:17] sidolov commented on #15848
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#16797 by @hitesh-wagento in 2.1-develop branch
Related commit(s):
 - [faa98158a42b2a5841e789be0f09b430f3b6e9bb](https://github.com/magento/magento2/commit/faa98158a42b2a5841e789be0f09b430f3b6e9bb)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-18 12:43] Ravii0 commented on #10355
We have the same issue on 2.2.5

[2018-07-18 12:46] engcom-backlog-pb commented on #16531
@umdesplenter, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-18 12:47] chedaroo commented on #10351
https://github.com/magento/magento2/issues/10351#issuecomment-356560861

This issue is being tracked elsewhere https://github.com/magento/magento2/issues/13440

[2018-07-18 13:03] ShadiAkhras commented on #7251
I don't think this issue is fixed.
I am encountering exactly the same problem in Magento 2.2.3

 I read that the prices in the category pages are coming from the price index (table catalog_product_index_price) which is not the case for the product details page.

In that table, there is a column **website_id**, but there is no column **store_id**. This means that a product which has different price

[2018-07-18 13:19] binnykumar commented on #6144
Hi i am also facing this issue.

V 2.1.5

Is there any fix in this version ?

[2018-07-18 13:24] #16714 closed, assigned to nobody

[2018-07-18 13:34] engcom-backlog-nickolas commented on #16525
Hello @praveen-chelumalla, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-18 13:36] Tofandel opened #16912 "Magento 2.2.5 blank theme compilation error"
Hello, after upgrading from magento 2.2.3 I had a need to recompile all less files, so I remove the view_preprocessed files and tried to recompile using a simple setup:static-content:deploy

But I got an error:
Compilation from source: vendor/magento/theme-frontend-blank/web/css/styles-m.less
variable @abs-checkout-tooltip-content-position-top is undefined in file

So I checked and indeed the vari

[2018-07-18 13:36] magento-engcom-team commented on #16912
Hi @Tofandel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-18 13:41] engcom-backlog-nickolas commented on #16807
Hello @victortodoran, thank you for report. As I cannot reproduce this issue on clean magento 2.2.3 installation, please report this issue in https://github.com/magento/data-migration-tool repository.

[2018-07-18 13:41] #16807 closed, assigned to nobody

[2018-07-18 13:43] viperet commented on #14097
Had this issue after upgrade to 2.2, by adding an empty condition to ProductList:
[code]

[2018-07-18 13:48] engcom-backlog-pb commented on #14959
@p-bystritsky, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-18 13:48] osrecio commented on #16786
@ihor-sviziev yes, now it's work the command in issues 😉 :

I reproduced the error too

[code]

[2018-07-18 14:04] tizzyguy87 commented on #15664
Team,

I found this issue in Magento2 as well. Am I supposed to do anything to set my store as default store?

It was working perfectly fine in Magento 2.2.0. But not working in 2.2.4 and 2.2.5 as well.

[2018-07-18 14:15] BenSpace48 commented on #2630
It's embarrassing that this is still an issue.

[2018-07-18 14:20] BenSpace48 commented on #2056
This is still an issue I have `data-bind="text: isVirtual ? $t('Enter your billing address to get a tax estimate.') : $t('Enter your destination to get a delivery estimate.')"` which does not get added to a CSV when running `collect-phrases` and trying to manually translate it doesn't work.

[2018-07-18 14:23] Tofandel commented on #16912
@magento-engcom-team give me 2.2.5 instance

[2018-07-18 14:23] magento-engcom-team commented on #16912
Hi @Tofandel. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-18 14:32] mariamghalleb commented on #4822
same issue, magento 2.2.4

[2018-07-18 14:46] engcom-backlog-nickolas commented on #16425
Hello @cappecar, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-18 14:49] engcom-backlog-pb commented on #14970
@winterk80, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![1](https://user-images.githubusercontent.com/40756187/42889379-f7a1e32e-8ab2-11e8-89fe-26f399eed109.gif)

[2018-07-18 14:49] #14970 closed, assigned to nobody

[2018-07-18 14:51] Tofandel commented on #16912
@magento-engcom-team yes

[2018-07-18 14:59] engcom-backlog-pb commented on #14965
@vicabitu, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-18 14:59] #14965 closed, assigned to nobody

[2018-07-18 15:04] engcom-backlog-pb commented on #14809
@juroszed, thank you for your report.
Unfortunately, we cannot investigate the issue without unambiguous steps to reproduce.

[2018-07-18 15:04] #14809 closed, assigned to nobody

[2018-07-18 15:18] simonmaass commented on #6436
I have the same request - any news?

[2018-07-18 15:34] paliarush commented on #2630
Hi @BenSpace48, I see that @magento-engcom-team has closed this issue about a year ago. Could you please clarify the scenario in which you still experience a bug?

[2018-07-18 15:41] jayanta88 opened #16913 "Magento 2.1.4 Cart Rule Issue"
### Preconditions
Magento 2.1.4

### Steps to reproduce
1. Navigate to admin area Marketing > Cart Price Rules
2. Create new price rule. Set "Uses per Customer" = 1. "Discount Amount" = 10%
3. Create simple product.
4. Navigate to storefront and create customer.
5. Buy simple product as registered customer and proceed to checkout.
6. Check Discount applied.
7. Place order.
8. Navigate to admin are

[2018-07-18 15:42] magento-engcom-team commented on #16913
Hi @jayanta88. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-18 16:17] mariamghalleb opened #16914 "Multi Select attribute don't save changes - Magento 2.2.4"
### Preconditions

1. Magento 2.2.4
2. Php 7

### Steps to reproduce

1. Stores -> Product (Attributes) -> Select  a multi select Attribute that already exists and that is also associated to products.
2. Change the Attribute Properties for example, change scope from "Store view" to "Global".
3. Save Attribute

### Expected result
1. Properties change as expected, for example scope becomes "Global"

[2018-07-18 16:18] magento-engcom-team commented on #16914
Hi @mariamghalleb. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-18 16:19] winterk80 commented on #14970
Reason you are not seeing this is your products do not have custom options. When the majority of products have custom options the dramatic slowdown occurs. It gets progressively worse the more custom options and products with custom options you add. Please retry with a dataset of products all with custom options.

[2018-07-18 16:32] skymeissner commented on #15620
Same issue after update to 2.2.5

This issue realy should be reopened! Mentioned also here https://github.com/magento/magento2/issues/8094

[2018-07-18 16:40] skymeissner commented on #15620
Until this is fixed ou can replace the Umlauts (or any special char, I guess) in the subject with the corresponding html entity. The subject then will be shown in /admin/email_template/ as well.

[2018-07-18 16:41] skymeissner commented on #15620
Until this is fixed ou can replace the Umlauts (or any special char, I guess) in the subject with the corresponding html entity. The subject then will be shown in /admin/email_template/ as well.

[2018-07-18 18:10] magento-engcom-team commented on #5067
Hi @samtay. Thank you for your report.
The issue has been fixed in magento/magento2#16838 by @JeroenVanLeusden in 2.3-develop branch
Related commit(s):
 - [955fbf2b92cee5336489c0fdede4d862dee275fd](https://github.com/magento/magento2/commit/955fbf2b92cee5336489c0fdede4d862dee275fd)
 - [db95d8ab1dee5030a3d592f9ecdea117b6b34a1f](https://github.com/magento/magento2/commit/db95d8ab1dee5030a3d592f9ecde

[2018-07-18 18:10] magento-engcom-team commented on #16764
Hi @Sathishkumar8731. Thank you for your report.
The issue has been fixed in magento/magento2#16808 by @Karlasa in 2.3-develop branch
Related commit(s):
 - [1dd2017ffae83cbebadf78f02f7bc1eb9c860302](https://github.com/magento/magento2/commit/1dd2017ffae83cbebadf78f02f7bc1eb9c860302)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-18 20:09] dudzio12 commented on #15533
If you trying to delte images prgramtically, remember to set edited gallery object to your Product object.
In my case I want to delete all images, then add new ones:
1. Delete images.
2. Set gallery for product object.
3. Add new images
4. Save product.
Second step I've just: `$product->setMediaGalleryEntries([]);`

[2018-07-19 00:01] Silarn opened #16927 "2.2.5 Swagger: With JS minification enabled, the swagger-ui-bundle.js becomes corrupted"
### Preconditions
1. Magento 2.2.5
2. PHP 7.1

### Steps to reproduce
1. Enable JS minification
2. Deploy a fresh copy of the static content
3. Visit the Swagger page

### Expected result
The swagger page loads and is usable

### Actual result
The swagger page fails because the swagger-ui-bundle.js throws an error
![image](https://user-images.githubusercontent.com/826174/42913851-d2da9496-8abc-11e

[2018-07-19 00:01] magento-engcom-team commented on #16927
Hi @Silarn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-07-19 00:02] Silarn commented on #16927
@magento-engcom-team give me 2.2.5 instance

[2018-07-19 00:03] magento-engcom-team commented on #16927
Hi @Silarn. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-19 00:03] magento-engcom-team commented on #16927
Hi @Silarn, here is your [Magento instance](https://i-16927-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16927-2-2-5.engcom.dev.magento.com/admin](https://i-16927-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-19 00:06] Silarn commented on #16927
I am able to reproduce on your vanilla instance. Simply enable JS minification and load the Swagger page.

[2018-07-19 00:38] LiamKarlMitchell commented on #8018
Possibly having this on Magento 2.2.0
Backend appears fine, but some products don't show on front end including a whole brand category...

Planning to use work around: https://github.com/bangerkuwranger/Magento-2.1.3-500-Product-Category-Limit-Bug-Workaround for now.

[2018-07-19 01:42] waymanxie commented on #16906
@magento-engcom-team give me 2.2.5 instance

[2018-07-19 01:42] magento-engcom-team commented on #16906
Hi @waymanxie. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-19 01:42] magento-engcom-team commented on #16906
Hi @waymanxie, here is your [Magento instance](https://i-16906-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16906-2-2-5.engcom.dev.magento.com/admin](https://i-16906-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-19 02:53] waymanxie commented on #16906
yes，i can't reproduce this issue on the new instance. but on my VM instance, this still happen even if i create a new attribute.

i'll check this out by my side, and will report here if i find anything. thanks for the support.

[2018-07-19 03:12] gundamkid commented on #13530
I did the fix but still got error, i debugged and found my solution:

`public function getDesignParams()
    {
        return [
            // Retrieve area from getDesignConfig, rather than the getDesignTheme->getArea(), as the latter doesn't
            // return the emulated area
            'area' => $this->getDesignConfig()->getArea(),
            'theme' => $this->design->getDesignTheme()->g

[2018-07-19 03:21] Jason-Truman commented on #10071
Solution For Issue, with reason it happens (most of the time)

Various times you will see messages such as  "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."

There is a very good reason for this error which i'll describe as follows.  This is not an error with Magento.  It is not a bug in Magento.  There is

[2018-07-19 03:44] seanscott49 commented on #10071
Thank you. I use Nexcess. I will try on another server and see if it happens.

[2018-07-19 03:47] saxsax1995 commented on #7056
Fatal error: Uncaught Error: Cannot instantiate interface Fudu\HelloWorld\Api\Data\StudentsRepositoryInterface in C:\xampp\htdocs\magento\vendor\magento\framework\ObjectManager\Factory\Dynamic\Developer.php:50 Stack trace: #0
---
follow @vutrankien  but doesn't work
here's my di.xml after i follow alot of github, stackexchange, stackoverflow ..:
`<config xmlns:xsi="http://www.w3.org/2001/XMLSchema

[2018-07-19 03:56] lowks commented on #11170
We are also facing the same issue. How come this ticket was closed ?

[2018-07-19 04:11] AbdulKadir-Agoliya commented on #4822
hello #mariamghalleb
Fixed For me magento2.1.0, go to eav_attibute table, search you multiselect attibute and change in "backend_model" column NULL value with this value: Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend, clear cache and reindex .

[2018-07-19 04:34] realGomez commented on #16758
Which guy solved this issue? I have a similar issue.2.2.2[#16454](https://github.com/magento/magento2/issues/16454)； same issue in2.2.5.

[2018-07-19 04:40] realGomez commented on #14674
Which guy solved this issue? I have a similar issue 2.2.2[#16454](https://github.com/magento/magento2/issues/16454); the same issue in 2.2.5

[2018-07-19 05:55] DanielRuf commented on #13530
@gundamkid this is not the right file.

[2018-07-19 06:14] sidolov commented on #13692
Hi @NeosKnowledgeBasePluswerk. Thank you for your report.
The issue has been fixed in magento/magento2#16811 by @mage2pratik in 2.1-develop branch
Related commit(s):
 - [0f3ec2516effd4ea76db76a5d6677d0e09057bad](https://github.com/magento/magento2/commit/0f3ec2516effd4ea76db76a5d6677d0e09057bad)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-19 06:33] gundamkid commented on #13530
@DanielRuf
Can you help me debug in case change settings of Website view or Global view?

[2018-07-19 06:35] engcom-backlog-nickolas commented on #15533
@dudzio12, thanks for feedback. Could you please provide some code snippets on which way do you remove and add images to product programmatically?

[2018-07-19 06:37] DanielRuf commented on #13530
@gundamkid try https://github.com/magento/magento2/commit/7019a0a1392095185505ff3ca7b97dd3e9cb4ef2 and clear all caches.

[2018-07-19 06:41] gundamkid commented on #13530
@DanielRuf
still got the bug after I created plugin to override this function in case i edit settings on Website View or Global view.

my version is 2.2.5

[2018-07-19 06:43] engcom-backlog-nickolas commented on #16927
Hello @Silarn, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-19 07:04] DanielRuf commented on #13530
Do not create a plugin, use composer-patches and there is a patch from Magento.

[2018-07-19 07:11] dzima-chyzhou opened #16929 "Incorrect displaying Product Image Watermarks on Magento 2.2.5"
### Summary
Background of Product Image Watermarks is displayed incorrect if it is transparent.

### Preconditions
1. Magento 2.2.5 CE with sample data
2. PHP 7.0.30

### Steps to reproduce
1. Login to Admin Panel
2. Create a simple product with any configuration and upload any product image (the image that I uploaded below)
![mb01-blue-0](https://user-images.githubusercontent.com/40271588/4292833

[2018-07-19 07:11] magento-engcom-team commented on #16929
Hi @chizhov13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-19 07:19] engcom-backlog-nickolas commented on #16914
Hello @mariamghalleb, thank you for your report. I'm not able to reproduce this issue
![peek 2018-07-19 10-23](https://user-images.githubusercontent.com/40755810/42927410-2378a35e-8b3d-11e8-853a-856e51c243fb.gif)
Could you please add more details?

[2018-07-19 07:22] chizhov13 commented on #16929
@magento-engcom-team give me 2.2.5 instance

[2018-07-19 07:22] magento-engcom-team commented on #16929
Hi @chizhov13. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-19 07:23] magento-engcom-team commented on #16929
Hi @chizhov13, here is your [Magento instance](https://i-16929-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16929-2-2-5.engcom.dev.magento.com/admin](https://i-16929-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-19 07:44] chizhov13 commented on #16929
@magento-engcom-team yes. I am able to reproduse this issue. Just go to the product view on the store front and look at the result.

[2018-07-19 07:52] engcom-backlog-nickolas commented on #16497
@WalterSmulders, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-19 08:03] hypershopbv commented on #9073
Any update on this issue?

[2018-07-19 08:05] sidolov commented on #15467
Hi @jonshipman. Thank you for your report.
The issue has been fixed in magento/magento2#16812 by @mage2pratik in 2.1-develop branch
Related commit(s):
 - [d6e8ce940235903b2296c5fbb7ee70c39b57e544](https://github.com/magento/magento2/commit/d6e8ce940235903b2296c5fbb7ee70c39b57e544)
 - [66dc4d8b9a053b6746cd0920266c087751b145f5](https://github.com/magento/magento2/commit/66dc4d8b9a053b6746cd0920266c0

[2018-07-19 08:05] sidolov commented on #16184
Hi @Jakhotiya. Thank you for your report.
The issue has been fixed in magento/magento2#16801 by @gelanivishal in 2.1-develop branch
Related commit(s):
 - [25a71d51afa648ae7940dcd0b5d633fedaa9953d](https://github.com/magento/magento2/commit/25a71d51afa648ae7940dcd0b5d633fedaa9953d)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-19 08:08] engcom-backlog-nickolas commented on #16929
Hello @chizhov13, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-19 08:19] harshvardhanmalpani commented on #8003
This issue is still present in 2.2.4. None of exchange rate providers work

[2018-07-19 08:19] sajidpatel opened #16930 "On PDP - Fatal error: Uncaught Error: Cannot instantiate abstract class"
### Issue
class Magento\Catalog\Block\Product\View\AbstractView causes errors on magento-cloud

https://github.com/mobilefunuk/magic42-packt/blob/integration/shared/app/design/frontend/Packt/default/Magento_Catalog/layout/catalog_product_view.xml

lines 13 and 20

I am getting the following error on cloud:
Fatal error: Uncaught Error: Cannot instantiate abstract class Magento\Catalog\Block\Product

[2018-07-19 08:19] magento-engcom-team commented on #16930
Hi @sajidpackt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-19 08:21] #16930 closed, assigned to nobody

[2018-07-19 08:22] BenSpace48 commented on #2630
There are issues currently open for this problem so despite it being closed it still isn't fixed fully, I'm referring to the fact that these issue has been around since 2015 and are still causing issues.

It feels like Translations have always been broken when it comes to html and JS translations.

See https://github.com/magento/magento2/issues/8508#issuecomment-305417154 and https://github.com/ma

[2018-07-19 08:39] engcom-backlog-nickolas commented on #16901
@bob7689, thanks for feedback. Looks like your indexers should be updated by cron on schedule.
But, actually even without reindexation via console I cannot reproduce this issue.
![peek 2018-07-19 11-40](https://user-images.githubusercontent.com/40755810/42931416-49307d46-8b48-11e8-9e94-4c4462d4104d.gif)

[2018-07-19 08:49] shaikhmasud147 opened #16931 "Magento 2.0.17 - Mixed Content issue URL"
**Summary**
Mix Content Issue URL

**Preconditions**
Magento 2.0.17 CE with sample data
PHP 7.0.30

**Steps to reproduce**
Some product page link not active HTTPS. When I checked under inspect element thier display mix content url issue.

![screenshot_2018-07-19_14-35-39](https://user-images.githubusercontent.com/21688214/42933167-b9d58ee2-8b61-11e8-8f54-9a296eba138a.png)

**Expected result**
All

[2018-07-19 08:49] magento-engcom-team commented on #16931
Hi @shaikhmasud147. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-19 08:53] kirtinariya1 commented on #8295
@krutkoroma79911
Hello,
I have downloaded your attached zip file but for some reasons it is not extracting.
So, please would you attache it again so we can take reference from your file to resolve PRI issue.

Thanks in advance.

[2018-07-19 09:02] engcom-backlog-pb commented on #14583
@rohittechmahinra, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-07-19 09:04] engcom-backlog-nickolas commented on #16913
Hello @jayanta88, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-19 09:21] ghost opened #16933 "After product disabled from backed memory exhausted issue is coming"
After product disabled from the backend, memory exhausted issue is coming.
This issue is coming for only those user whos cart has the product which later disabled.

**Preconditions**

-  PHP 7.0.30
-  Magento 2.1.10

**Steps to reproduce**
1. login to the site
2. add products to cart
3. now disable any one product from the backend (a product which is in the cart)
4. then try to add another product

[2018-07-19 09:21] magento-engcom-team commented on #16933
Hi @gaurid-iprogrammer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2018-07-19 09:29] engcom-backlog-pb commented on #14762
@melwinVincent, thank you for your report.
We were not able to reproduce this issue by following the steps you provided.  Seems like you have added all your images to parent product in addition to children. If you'd like to update it, please reopen the issue.

[2018-07-19 09:29] #14762 closed, assigned to nobody

[2018-07-19 09:35] sibi4586 commented on #16751
Hi Team,

Sorry for the delay

Still I am getting this issue.

I am using

Browser => Chrome browser - Version 67.0.3396.99 (Official Build) (64-bit)

Magento version => Mage 2.2.3

Reproduce scenario : I logged into adminpanel and Store -> Attributes ->
Product

Clicked Add New Attribute button from right top side. Then I can see *Advanced
Attribute Properties *tab content collides with footer ar

[2018-07-19 09:39] shaikhmasud147 opened #16934 "Magento 2.0.17 - Customer Name Not Display After Login"
**Summary**
Customer Name Not Display After Login

**Preconditions**
Magento 2.0.17 CE with sample data
PHP 7.0.30

**Steps to reproduce**
Customer Name Not Display After Login. I have checked under inspect element **Customer-Data.js** issue viewed.

![screenshot_2018-07-19_15-06-42](https://user-images.githubusercontent.com/21688214/42934785-a73d7dae-8b65-11e8-905d-a27de6dc6ab6.png)

**Expected r

[2018-07-19 09:39] magento-engcom-team commented on #16934
Hi @shaikhmasud147. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-19 09:41] sibi4586 commented on #16751
Hi Team,

I also tested this scenario in Firefox browser. But I can also not getting
that error.

I hope the issue may be because of the two tab content are displaying on
load action. In firefox we need to click the tab head to open the second tab

I hope this will help you to track the issue

Thanks again

On Thu, Jul 19, 2018 at 1:35 PM, sibi a <sibi4586@gmail.com> wrote:

[2018-07-19 09:44] engcom-backlog-nazar commented on #16199
hi @pascalckunz we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-19 09:44] #16199 closed, assigned to nobody

[2018-07-19 09:54] AnjaliReddy123 commented on #6382
Step:
In "module-swatches/etc/view.xml " file it is overriding to ""YOUR THEME/etc/view.xml" it is not working can you please tell me how to override module-swatches/etc/view.xml file my magento version 2.22.3
<?xml version="1.0"?>
<view xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/view.xsd">
    <media>
        <images modul

[2018-07-19 09:56] engcom-backlog-pb commented on #14971
@winterk80, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-19 10:08] vongts commented on #7525
Read my post for more detail
https://mrvts.wordpress.com/2018/07/19/magento-2-javascript-translation-sometime-translate-sometime-not-work-why-and-how-to-fix/

[2018-07-19 10:32] JeroenBoersma commented on #14952
Related issue on Amazon...

https://github.com/amzn/amazon-payments-magento-2-plugin/issues/274

Module: *Amazon_Payment*
File: `etc/di.xml`
Line: 63
Code: <type name="Magento\Framework\Mail\MessageInterface" shared="false" />

Reason:
This is set in the global scope and makes every DI create a new version of message.

[2018-07-19 10:34] engcom-backlog-pb commented on #14881
@einicher, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-19 10:38] engcom-backlog-nickolas commented on #16934
Hello @shaikhmasud147, thank you for your report. Unfortunately magento 2.0.x no longer supported https://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.0.18CE.html.
To maintain the performance and security of your site, we advise you to upgrade to the latest version of Magento Open Source.

[2018-07-19 10:38] #16934 closed, assigned to nobody

[2018-07-19 10:59] engcom-backlog-nickolas commented on #16933
Hello @gaurid-iprogrammer, thank you for your report. I cannot reproduce this issue.
![peek 2018-07-19 14-03](https://user-images.githubusercontent.com/40755810/42938693-d3a86926-8b5b-11e8-993a-acd6adc11db1.gif)
Could you please provide more details?

[2018-07-19 11:01] engcom-backlog-nickolas commented on #16931
Hello @shaikhmasud147, thank you for your report. Unfortunately magento 2.0.x no longer supported https://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.0.18CE.html.
To maintain the performance and security of your site, we advise you to upgrade to the latest version of Magento Open Source.

[2018-07-19 11:01] #16931 closed, assigned to nobody

[2018-07-19 11:01] engcom-backlog-nazar commented on #14494
Hi @raymond62 i cannot reproduce by yours scenarios steps can you provide more information ?

[2018-07-19 11:07] engcom-backlog-nazar commented on #14472
Hello @jphat , thank you for your report. I cannot reproduce this issue on clean 2.2.4 magento installation. Please use https://github.com/magento/data-migration-tool/issues to report issues related to migration from magento 1.x to 2.x.

[2018-07-19 11:07] #14472 closed, assigned to nobody

[2018-07-19 11:19] sakiss commented on #13224
Same here with a fresh installation of M2.2.5.
In my case this happens in multi-store setup, when i have different configurations for each store.
The error comes in the "default config", possibly due to the fact that there are duplicate entries for columns that supposed to be unique.

[code]

[2018-07-19 11:32] engcom-backlog-nazar commented on #14476
HI @damiandawber thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-19 11:39] engcom-backlog-nazar commented on #14490
Hi @sanganinamrata which version of magento you tested ?

[2018-07-19 11:41] shaikhmasud147 commented on #16934
Ok, You mean should upgrade Magento 2 then the issue will resolve?

[2018-07-19 11:47] sanganinamrata commented on #14490
@engcom-backlog-nazar Hello,

I've tested in **Magento version 2.2.2**

[2018-07-19 11:48] shahanasnkv opened #16938 "Sales order emails not sending"
### Preconditions
1. Magento 2.2.5
2. Ngnix
3. Php 7

### Steps to reproduce
1. Click send email button from admin panel order details
2. Place order

### Expected result
1. Email should send to customer

### Actual result
1. No Email sending

### Temporary solution which i found
Changing content of Magento\Sales\Model\Order\Email\ SenderBuilder
to below

protected function configureEmailTemplate(

[2018-07-19 11:48] magento-engcom-team commented on #16938
Hi @shahanasnkv. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-19 11:50] shaikhmasud147 commented on #16931
Hi @engcom-backlog-nickolas
Ok, I will upgrade. Thank you very much.

[2018-07-19 12:07] engcom-backlog-pb commented on #16912
@Tofandel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![default](https://user-images.githubusercontent.com/40756187/42941438-78a4a80a-8b65-11e8-9ff3-0edb00e50ff8.png)

[2018-07-19 12:17] engcom-backlog-pb commented on #16938
@shahanasnkv, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-19 12:17] #16938 closed, assigned to nobody

[2018-07-19 12:19] gwharton commented on #16938
See PR #16461

[2018-07-19 12:30] engcom-backlog-pb commented on #15664
@ tizzyguy87, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2018-07-19 12:30] engcom-backlog-nazar commented on #14492
HI @victortodoran,  thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-19 12:39] engcom-backlog-nazar commented on #14477
Hi @mimdev can you provide more information about your scenarios steps ? I cannot reproduce by yours scenarios steps.

[2018-07-19 12:42] matthew-muscat opened #16939 "Incorrect configuration scope is occasionally returned when attempting to resolve a null scope id"
### Preconditions
1. Magento v2.2.x and Magento v2.3-develop are affected
2. PHP v7.1

### Steps to reproduce
1. Setup a multi-store magento installation
2. Setup a configuration value that is specific to a particular store scope
3. Using environment emulation, emulate a store id and then attempt to retrieve the store configuration property using `\Magento\Framework\App\Config\ScopeConfigInterface

[2018-07-19 12:42] magento-engcom-team commented on #16939
Hi @matthew-muscat. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-07-19 12:45] engcom-backlog-nickolas commented on #16303
Hello @infocurci, thank you for your report. I cannot reproduce this issue
![peek 2018-07-19 15-48](https://user-images.githubusercontent.com/40755810/42943186-ba84eb86-8b6a-11e8-86f6-98ffdd7b7107.gif)
Could you please add more details?

[2018-07-19 12:46] #14516 closed, assigned to nobody

[2018-07-19 12:49] xpoback commented on #15620
Still an issue in 2.2.5 (!)

[2018-07-19 12:56] engcom-backlog-pb commented on #15673
@treii28, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-19 12:56] #15673 closed, assigned to nobody

[2018-07-19 13:00] engcom-backlog-nickolas commented on #16939
Hello @matthew-muscat, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-19 13:00] engcom-backlog-pb commented on #15597
@milenishte, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-19 13:00] #15597 closed, assigned to nobody

[2018-07-19 13:11] engcom-backlog-pb commented on #15541
@HirokazuNishi, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-19 13:14] matthew-muscat commented on #16939
@magento-engcom-team give me 2.2.5 instance

[2018-07-19 13:14] magento-engcom-team commented on #16939
Hi @matthew-muscat. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-19 13:15] magento-engcom-team commented on #16939
Hi @matthew-muscat, here is your [Magento instance](https://i-16939-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16939-2-2-5.engcom.dev.magento.com/admin](https://i-16939-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-19 13:22] matthew-muscat commented on #16939
@engcom-backlog-nickolas - this one's a little difficult to repeat in the test instance, as it requires a multistore setup and either environment emulation or store scope switching.

My process to verify and repeat the issue has been to use environment emulation, then using the `ScopeConfigInterface::getValue` to retrieve a value using just the $path and $scope params (ie: no scopeId is passed) —

[2018-07-19 13:24] ghost opened #16942 "How to disabled quantity box on checkout page"
### Preconditions
1. PHP 7.0.30
2. Magento 2.1.10

### Expected result
 I want to disabled quantity box on checkout page

[2018-07-19 13:29] engcom-backlog-nazar commented on #14490
@sanganinamrata  i cannot reproduce this on 2.2-develop branch. can you check on 2.2-develop branch?

[2018-07-19 13:29] xpoback commented on #15620
The problem is present in 2.2.5

The source of all evil is not in Magento itself but in [Dotmailer module](https://github.com/dotmailer/dotmailer-magento2-extension/blob/master/Plugin/TemplatePlugin.php#L104) v2.5.0.

I've created an [issue](https://github.com/dotmailer/dotmailer-magento2-extension/issues/517) there.

[2018-07-19 13:34] engcom-backlog-nazar commented on #14616
Hi @raymond62 can you provide more information ? I cannot reproduce by yours scenarios steps

[2018-07-19 13:34] engcom-backlog-nickolas commented on #16942
@gaurid-iprogrammer, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-19 13:34] #16942 closed, assigned to nobody

[2018-07-19 13:38] xpoback commented on #15620
@kemexyz Why are closing and opening the issue again and again?

[2018-07-19 13:47] engcom-backlog-pb commented on #15504
@orbitrod, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-19 13:47] xpoback commented on #16188
@sanganinamrata Since it is strongly _not_ recommended to use Magento and especially the checkout with unsecure urls, the issue can be considered as an acceptable negative side effect of such use and will not affect the majority of systems. Well, at least not the ones I have to work with.

[2018-07-19 14:02] engcom-backlog-pb commented on #14888
@rigu12, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-19 14:02] #14888 closed, assigned to nobody

[2018-07-19 14:05] juandosil commented on #9377
Any updates?

[2018-07-19 14:09] kemexyz commented on #15620
@xpoback
sorry, first one was an honest miss click, second one was because I quickly got confused why this is open again – and then I had to reopen it. To be honest: I'm ashamed of myself, sorry again!

[2018-07-19 14:19] xpoback commented on #15620
@kemexyz no problem.

I've got a *temporary* fix for those who _don't use Dotmailer_.

Put this somewhere in  a `di.xml` of any module:
(I've created a new one for this fix)

[code]

This disables the plugin that is the source of the problems.

For a permanent fix, let's wait until Dotmailer fix their module and Magento includes the fixed version to their package.

[2018-07-19 14:30] engcom-backlog-pb commented on #14517
Duplicate of #3535

[2018-07-19 14:30] #14517 closed, assigned to nobody

[2018-07-19 14:30] nelero commented on #6823
So, nothing to solve this but issue closed ? so many issues aren't fixed with this process.
Magento 2.X really needs to fix,  Thousands of regression compared to 1.9 version.
I know it's not the same engine and so on, but why loosing all the work ?

i reproduced this : multistore (2 websites with 1 store and 1 store view each) If i checked it to be displayed on the 2 websites, and put them in the

[2018-07-19 14:51] engcom-backlog-nickolas commented on #16751
@sibi4586, thanks for feedback. Using chrome Version 67.0.3396.99 (Official Build) (64-bit) with Magento 2.2.3 still not able to reproduce this issue.
![peek 2018-07-19 17-53](https://user-images.githubusercontent.com/40755810/42950321-69f51df0-8b7c-11e8-9779-361d09aff62b.gif)

[2018-07-19 15:07] juandosil commented on #7624
I have also tried the method mentioned by @joebordo with Magento 2.2.4 but doesnt seem to work as no old price is showing.

Any advice would be much appreciated.

[2018-07-19 15:17] Andreavbr commented on #1525
He tried to access luma by logging in as a client and the page only refreshes and sends me to the same place, nor does it register clients

[2018-07-19 15:22] vberthet commented on #12860
Same problem with magento 2.1.14.

Fix in https://github.com/magento/magento2/pull/13468/ works. Please merge in 2.1.x

[2018-07-19 15:32] pskigen commented on #15490
@CompactCodeEU thank you, your module works great!

[2018-07-19 15:45] collinanderson commented on #4822
I had to change `backend_type` from `varchar` to `text` to get it to work.

[2018-07-19 15:53] springimport opened #16944 "Wrong using @var comments"
### Preconditions
1. Check `@var` comments in magento 2 (except zend framework).

### Steps to reproduce
1. Search files by `@var $` and `@var \`.

### Expected result
[code]

### Actual result
[code]

I think magento should use only `phpdoc` for variable comments instead of `phpdoc/vardoc`.

- [phpdoc and vardoc](https://stackoverflow.com/questions/1798477/variable-type-hinting-in-netbeans-php) o

[2018-07-19 15:53] magento-engcom-team commented on #16944
Hi @springimport. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-19 16:00] collinanderson commented on #4545
in addition to changing `backend_model`, I needed to change `backend_type` from `varchar` to `text`

[2018-07-19 16:03] ihor-sviziev commented on #12860
@vberthet I created PR for fixing it in 2.1.x

[2018-07-19 16:14] mariamghalleb commented on #4822
@AbdulKadir-Agoliya that column is not NULL by default it has Magento\Eav\Model\Entity\Attribute\Backend\ArrayBackend.

[2018-07-19 16:45] victortodoran commented on #14510
Will update. Please don't close just yet.

[2018-07-19 17:38] SnowCommerceBrand commented on #5863
Hello, I am running 2.2.4 and can confirm this is not fixed for our multi store platform.

The fix will be available with the upcoming 2.2.4 release.
@magento-engcom-team

We have category urls for a store view that will not generate even manually saving under Marketing tab.
Error states "Request Path for Specified Store already exists." when trying to make a custom redirect for view/s/ url

How c

[2018-07-19 17:43] mcyrulik commented on #12176
We've noticed that this seems to happen more often for us with the following scenario:

1. Flush magento cache (all of them)
2. Load catalog pages, search for products, etc. on the Front End (DO NOT go into magento admin)
3. After the front end has populated the EAV cache, go into the admin and go to cart price rules.

If we do it the other way around - clear cache, go into admin cart price rules.

[2018-07-19 17:43] raymond62 commented on #14494
What kind of information?

Please try to setup the 3 language labels as discribed above. I cannot imagine you get different results as i do.

As i show in the picture in "reproduce 2" there is shown only the placeholder s% instead of the third translation label (nl_NL nederlands). When you change to another shop view (p.e. en_GB english), the translation is shown in dutch (nl_NL nederlands),  as s

[2018-07-19 18:29] SnowCommerceBrand commented on #5863
@angelflo
Since you seem to be having similar issue I just found something that seemed to fix the issue for us.
At the store view level of your category can you check if the use default was unchecked and the value at store level and default level are the same value ?
Uploaded image showing website and store level as what was our issue we had to remove db entries from url_rewrite table since they g

[2018-07-19 21:08] ioweb-gr commented on #13112
Any news on this one?

[2018-07-19 21:35] CompactCodeEU commented on #15490
@pskigen thanks. Versdivers is my other account so my apologies about the delay. Been busy.

[2018-07-19 21:49] DePalmo commented on #4778
Still reproducible in v2.2.3 ...

[2018-07-19 22:15] Aarhan commented on #14968
Hello Friends!

I was taking a look into this issue today and noticed that this error only seems prevalent when attempting to change the theme in the Global Configuration itself. If you change the theme in the Store View specifically it will be inherited by the Website and Global Configurations. I tested this with fresh installations of Magento 2.2.5 across multiple domains and was consistently ab

[2018-07-19 22:18] DanielRuf commented on #14968
This is all already known, please see the previous comments and the linked PR.

[2018-07-19 23:50] Ctucker9233 opened #16949 "Magento 2.2.5 - Table catalogsearch_fulltext_scope1_tmp not being automatically generated"
Summary
The exception log becomes bloated with "main.CRITICAL: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'catalogsearch_fulltext_scope1_tmp' doesn't exist". It appears as if the indexer is not automatically generating this table. I can manually add the table, but it disappears after one indexing cycle.

Environment
Magento 2.2.5 and possibly earlier versions
PHP 7.0
Custom extensio

[2018-07-19 23:50] magento-engcom-team commented on #16949
Hi @Ctucker9233. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-19 23:51] #16949 closed, assigned to nobody

[2018-07-19 23:59] Ctucker9233 opened #16950 "Magento 2.2.5 - Table catalogsearch_fulltext_scope1_tmp is not being generated"
The issue is the exceptions.log file quickly becomes bloated with the error "[2018-07-19 22:30:10] main.CRITICAL: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'catalogsearch_fulltext_scope1_tmp' doesn't exist, query was: ALTER TABLE catalogsearch_fulltext_scope1_tmp RENAME TO catalogsearch_fulltext_scope1 {"exception":"[object] (Zend_Db_Statement_Exception(code: 42): SQLSTATE[42S02]:

[2018-07-19 23:59] magento-engcom-team commented on #16950
Hi @Ctucker9233. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-20 03:12] sashas777 commented on #16018
@engcom-backlog-nazar  Can you provide link for commit where it has been fixed, please?

[2018-07-20 05:24] D-David11 commented on #4409
You can add this code in following file.
vendor/magento/module-sales/etc/di.xml

<type name="\Magento\Framework\Locale\ResolverInterface">
	<plugin name="mage_localeresolver_reload" type="Magento\Framework\Translate\Locale\Resolver\Plugin" sortOrder="1" disabled="false"/>
</type>

[2018-07-20 06:08] engcom-backlog-nazar commented on #16018
@sashas777 I can't find the commit, but also i cannot reproduce this on 2.2-develop branch.

[2018-07-20 06:08] engcom-backlog-nazar commented on #14616
@raymond62 Can you reproduce this on clean magento install ?

[2018-07-20 06:16] sashas777 commented on #16018
@engcom-backlog-nazar  I run into this issue at the 2.2.4 Magento Cloud.
Any advice where to see code changes what fix it?

Thanks

[2018-07-20 06:20] engcom-backlog-nickolas commented on #16944
Hello @springimport, thank you for your report. In Magento both phpdoc and vardoc are valid.
https://devdocs.magento.com/guides/v2.2/coding-standards/docblock-standard-general.html#var

[2018-07-20 06:20] #16944 closed, assigned to nobody

[2018-07-20 06:27] tizzyguy87 opened #16953 "Admin store is returned instead of Default store while placing order"
### Preconditions

1. Upgraded from Magento Open source 2.2.0 to Magenti 2.2.4 and 2.2.5
2. PHP version 7, My Sql
3. Magento deployed on Amazon AWS
4. Use headless commerce approach i.e use Magento rest APIs.

### Summary of the issue
After upgrading Magento admin store is returned instead of default store. This is causing inconsistency. Existing customers are not able to login, orders are placed

[2018-07-20 06:27] magento-engcom-team commented on #16953
Hi @tizzyguy87. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-20 06:27] jignesh-baldha commented on #16933
@gaurid-iprogrammer I can't reproduce this issue.

[2018-07-20 06:32] tizzyguy87 commented on #16953
@magento-engcom-team give me Magento Open source 2.2.5 instance which is migrated from Magento 2.2.0

[2018-07-20 06:32] jfuntas opened #16954 "Unable to view orders, receive "An error occurred on the server. Please try to place the order again. ""
I have been looking at similar posts with these issues but have run out of things to try.  Getting ready to hire someone to help work through these issues but thought I would check with this community first. Hoping someone can get me pointed in the right direction.

There are two issues:
1) Trying to view Orders but we receive the error below.
"Order View
Information Changes have been made to this

[2018-07-20 06:33] magento-engcom-team commented on #16954
Hi @jfuntas. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-07-20 06:34] engcom-backlog-nickolas commented on #16583
@archonkulis, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-20 06:34] #16583 closed, assigned to nobody

[2018-07-20 06:35] engcom-backlog-nickolas commented on #16567
@nbennett25, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-20 06:35] #16567 closed, assigned to nobody

[2018-07-20 06:36] sidolov commented on #5316
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#16917 by @ronak2ram in 2.1-develop branch
Related commit(s):
 - [28ef78dcea296f1e47ff119ccd4926df6af5ded0](https://github.com/magento/magento2/commit/28ef78dcea296f1e47ff119ccd4926df6af5ded0)
 - [433a9c36c86afb942aac1b589a74a13255ebdacb](https://github.com/magento/magento2/commit/433a9c36c86afb942aac1b589a74a13255e

[2018-07-20 06:36] engcom-backlog-nazar commented on #14577
Hi @tristanisginger the fix for this issue has already on 2.2-develop branch

[2018-07-20 06:38] #16954 closed, assigned to nobody

[2018-07-20 06:42] engcom-backlog-nickolas commented on #16049
@craigcarnell, thank you for report. However, problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2018-07-20 06:42] #16049 closed, assigned to nobody

[2018-07-20 06:48] tizzyguy87 commented on #15664
1. Install Magento 2.2.0
2. Use default store. No need of multiple stores.
3. Import Products, create customers.
4. Create customers from admin console, trigger welcome mail and password reset mails.
5. Reset password from link given in email. Login using new password. Login works perfectly.
6. Place couple of orders.
7. Store is set as default store for customers, orders.
8. order sequence number

[2018-07-20 06:50] tizzyguy87 commented on #15664
@16953 is created for the same. I will close any one based on your inputs.

[2018-07-20 07:01] ronin1310 commented on #15148
On 2.2.5 this issue still occurs.

[2018-07-20 07:02] engcom-backlog-nazar commented on #14575
Hi @ashokrathorecdn  A 302 Found message is an HTTP response status code indicating that the requested resource has been temporarily moved to a different URI. So its mean when you save the uri was editPost not an edit

[2018-07-20 07:11] kervin commented on #14038
Do you have any updates on this? Could you point to the commit so that I can backport it to 2.2.5.

Thanks.

[2018-07-20 07:22] engcom-backlog-nazar commented on #14620
@mvaisberg can you still reproduce this? I cannot reproduce by yours scenarios steps.

[2018-07-20 08:10] VladimirZaets commented on #5316
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#16916 by @ronak2ram in 2.2-develop branch
Related commit(s):
 - [bf86012edc5c790762aa927bbda664dc2ad64069](https://github.com/magento/magento2/commit/bf86012edc5c790762aa927bbda664dc2ad64069)
 - [7f0bce469f70c55fc9beb044e3c23a6146b262c7](https://github.com/magento/magento2/commit/7f0bce469f70c55fc9beb044e3c23a6146b

[2018-07-20 08:10] #5316 closed, assigned to lisovyievhenii

[2018-07-20 08:10] VladimirZaets commented on #6058
Hi @dnadle. Thank you for your report.
The issue has been fixed in magento/magento2#16595 by @gelanivishal in 2.2-develop branch
Related commit(s):
 - [1d9cf03eab23766d25bfec2d10f9a312b9176f83](https://github.com/magento/magento2/commit/1d9cf03eab23766d25bfec2d10f9a312b9176f83)
 - [475cf0eed09c7a1be1de23bebca24ed96d310e03](https://github.com/magento/magento2/commit/475cf0eed09c7a1be1de23bebca24ed9

[2018-07-20 08:14] #16205 closed, assigned to nobody

[2018-07-20 08:18] #15953 closed, assigned to nobody

[2018-07-20 08:19] #15852 closed, assigned to nobody

[2018-07-20 08:20] #15417 closed, assigned to nobody

[2018-07-20 08:21] #15126 closed, assigned to nobody

[2018-07-20 08:22] #15048 closed, assigned to nobody

[2018-07-20 08:22] engcom-backlog-nickolas commented on #15973
@Swahjak, thank you for your report. GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-07-20 08:22] #15973 closed, assigned to nobody

[2018-07-20 08:23] #15036 closed, assigned to nobody

[2018-07-20 08:25] #14577 closed, assigned to nobody

[2018-07-20 08:26] #14733 closed, assigned to nobody

[2018-07-20 08:27] #14605 closed, assigned to nobody

[2018-07-20 08:28] #14566 closed, assigned to nobody

[2018-07-20 08:33] #14838 closed, assigned to nobody

[2018-07-20 08:40] engcom-backlog-nazar commented on #16312
@hxm7094  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-20 08:40] #16312 closed, assigned to nobody

[2018-07-20 08:44] engcom-backlog-nazar commented on #16072
@msptrooper911  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-20 08:44] #16072 closed, assigned to nobody

[2018-07-20 08:46] engcom-backlog-nazar commented on #15979
@CROSP  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-20 08:46] #15979 closed, assigned to nobody

[2018-07-20 08:46] engcom-backlog-nazar commented on #15964
@jhill711   we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-07-20 08:46] #15964 closed, assigned to nobody

[2018-07-20 08:59] kerlama commented on #10624
I can confirm this is not working on Magento 2.1.12 too.

[2018-07-20 09:04] engcom-backlog-nickolas commented on #15148
Hello @34cnk34. thank you for your report. Unfortunately I cannot reproduce this issue.
![peek 2018-07-20 12-06](https://user-images.githubusercontent.com/40755810/42993816-08c088c8-8c15-11e8-80aa-a6214c989d8c.gif)

Could you please try to reproduce it on clean magento 2.2.4 instance, or add more details?

[2018-07-20 09:07] bedroomathletics opened #16958 "Order View Issue - This tab contains invalid data"
Hi there,

I get the following error when viewing an order;

Information Changes have been made to this section that have not been saved. This tab contains invalid data. Please resolve this before saving.

### Preconditions

1. php71
2. 10.1.33-MariaDB
3. Magento 2.2.5 CE

### Steps to reproduce

1. Sales > Orders > View Order

### Expected result

1. Show Sales Order information

### Actual resul

[2018-07-20 09:07] magento-engcom-team commented on #16958
Hi @bedroomathletics. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-07-20 09:12] siliconalchemy commented on #14038
The problem is still present in 2.2.5.  @magento-engcom-team please ignore @sanjay-wagento comments, this issue is still outstanding.

[2018-07-20 09:33] engcom-backlog-nazar commented on #14469
Hi @vbuck I cannot reproduce by your's scenarious steps.
![selection_031](https://user-images.githubusercontent.com/40756439/42995242-0793cb28-8c19-11e8-8b3f-326b917073f1.png)

[2018-07-20 09:38] bedroomathletics commented on #16958
@magento-engcom-team give me 2.2.5 instance

[2018-07-20 09:38] magento-engcom-team commented on #16958
Hi @bedroomathletics. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-07-20 09:38] magento-engcom-team commented on #16958
Hi @bedroomathletics, here is your [Magento instance](https://i-16958-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16958-2-2-5.engcom.dev.magento.com/admin](https://i-16958-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-20 09:40] ghost opened #16960 "SQLSTATE[HY000] [2002] Connection refused"
I'm  trying to install extension and  before submitting this issue I have tried a lot of things but nothing worked for me.

I have purchased paid extension and I'm having problem while installing it
Following is the error, I have changed the permission for path as well.

Check Cron Scripts
Cron script readiness check failed. Hide detail

Error from Setup Application Cron Script:
SQLSTATE[HY000] [2

[2018-07-20 09:40] magento-engcom-team commented on #16960
Hi @Gurdeep0007. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-07-20 09:43] Gurdeep0007 commented on #16960
I'm not sure about vanilla Magento instance. I'm having own my live server

[2018-07-20 09:44] engcom-backlog-nickolas commented on #16729
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2018-07-20 09:44] #16729 closed, assigned to nobody

[2018-07-20 09:56] engcom-backlog-nazar commented on #14574
Hi @molovo  can you provide more information ?

[2018-07-20 10:02] engcom-backlog-nickolas commented on #15935
Hello @patrick-bigbridge, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-20 10:04] molovo commented on #14574
@engcom-backlog-nazar what other information do you need?

[2018-07-20 10:07] engcom-backlog-nazar commented on #14565
Hello @agavshinde , thank you for your report. Unfortunately magento 2.0.x no longer supported https://devdocs.magento.com/guides/v2.0/release-notes/ReleaseNotes2.0.18CE.html.
To maintain the performance and security of your site, we advise you to upgrade to the latest version of Magento Open Source.

[2018-07-20 10:07] #14565 closed, assigned to nobody

[2018-07-20 10:11] engcom-backlog-nazar commented on #14574
@molovo Steps to reproduce. write more information.

[2018-07-20 10:13] molovo commented on #14574
@engcom-backlog-nazar All the steps to reproduce are already included in the issue description

[2018-07-20 10:15] engcom-backlog-nickolas commented on #15931
Hello @nopenopenope, thank you for your report.
We've acknowledged the issue and added to our backlog.

Looks like the only thing which should be changed is set minOccurs from "1" to "0":
https://github.com/magento/magento2/blob/075de969fc470463a58c412f8a4d6d497f9b79a6/lib/internal/Magento/Framework/Event/etc/events.xsd#L12
If you'd like, you can create pull request to fix this issue.

[2018-07-20 10:22] #15952 closed, assigned to nobody

[2018-07-20 10:50] alan-ngai opened #16963 "Inconsistent official guide on changing order of elements in mini shopping cart"
- Summary of the issue,
I followed the guide to change the order of elements in mini shopping cart. [This page](https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/templates/template-sample.html)
It mentioned the template is on <Magento_Checkout_module_dir>/view/frontend/web/template/minicart/content.html ,
it does not work, even I have cleaned caches.
However, I found there was inconsisten

[2018-07-20 10:50] magento-engcom-team commented on #16963
Hi @alan-ngai. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-07-20 10:51] engcom-backlog-nickolas commented on #15571
Hello @densen45, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-20 10:55] magento-engcom-team commented on #15590
Hi @kmddevdani. Thank you for your report.
The issue has been fixed in magento/magento2#16926 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [77c5e85e329bd5e80270436c1335809e00808114](https://github.com/magento/magento2/commit/77c5e85e329bd5e80270436c1335809e00808114)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-20 10:55] magento-engcom-team commented on #15848
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#16796 by @hitesh-wagento in 2.3-develop branch
Related commit(s):
 - [85caf639895f5fa1dd71dda08b791e8cbfaee7e4](https://github.com/magento/magento2/commit/85caf639895f5fa1dd71dda08b791e8cbfaee7e4)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-20 10:55] magento-engcom-team commented on #14035
Hi @kamilszewczyk. Thank you for your report.
The issue has been fixed in magento/magento2#16742 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [9fb7323cd3952d9a92bc42bb1a180fe2df0775cd](https://github.com/magento/magento2/commit/9fb7323cd3952d9a92bc42bb1a180fe2df0775cd)
 - [69c9a63b1b1e79475546a1095daee0935ca31b7d](https://github.com/magento/magento2/commit/69c9a63b1b1e79475546a1095daee

[2018-07-20 10:55] magento-engcom-team commented on #10346
Hi @careys7. Thank you for your report.
The issue has been fixed in magento/magento2#16715 by @rogyar in 2.3-develop branch
Related commit(s):
 - [a27fc6e23abc1dae1a52f8dc8d7489d0219347d6](https://github.com/magento/magento2/commit/a27fc6e23abc1dae1a52f8dc8d7489d0219347d6)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-20 11:25] #15505 closed, assigned to nobody

[2018-07-20 11:50] engcom-backlog-nazar commented on #15437
Hi @zestbeauty  thank you for your report. I cannot reproduce this issue on clean 2.2.3 magento installation. Please use https://github.com/magento/data-migration-tool/issues to report issues related to migration from magento 1.x to 2.x.

[2018-07-20 11:50] #15437 closed, assigned to nobody

[2018-07-20 12:11] isitnikov commented on #15049
Issue doesn't related to Magento code. Can be reproduced even on the 2.2-develop, if you enable Dotmailer extension.

*INFO:*
Caused by *vendor/dotmailer/dotmailer-magento2-extension/Plugin/TemplatePlugin.php*
LINES: 103-105
{code:php}
...
                    if ($field == 'template_subject') {
                        $result = utf8_decode($result);
                    }
...
{code}

[2018-07-20 13:04] patrick-bigbridge commented on #6135
note that naming is confusing here:

"option_id" is the primary key of eav_attribute: attribute_id (the super attribute)
"option_value" is the primary key of eav_attribute_option: option_id (the super attribute's option)

[2018-07-20 13:13] gaurid-iprogrammer commented on #6144
hi, I am facing the same issue.
 Magento version 2.1.10

Is there any solution to this issue?

[2018-07-20 13:15] catstantin commented on #13149
Anyone know what commit fixes this problem?

[2018-07-20 13:16] lbajsarowicz commented on #16963
Maybe it's better place to go: https://github.com/magento/devdocs/issues

Also @alan-ngai you can update the documentation on your own and create PR

[2018-07-20 13:19] lbajsarowicz commented on #16960
For general issues it's better to use https://community.magento.com/t5/Magento-2-x-Technical-Issues/bd-p/magento-2-technical-issues

[2018-07-20 13:44] swishhh commented on #16063
@vasudevsundar Hey, how did you disable amazon module? I wanna do it correctly, cause i don't use it anywhere

[2018-07-20 13:47] patrick-bigbridge opened #16968 "Adding multiple configurable variants (with low stock) to cart fails"
### Preconditions
Tested on Magento 2.1.11, but by checking the code, this will still fail on Magento 2.2

### Steps to reproduce
Hang on, this is complicated ;)

I am adding configurable products to the cart, programmatically. Some of these products have low stock, let's say: one item in stock each. The problem occurs when I add multiple variants of the same configurable in the same request.

[co

[2018-07-20 13:47] magento-engcom-team commented on #16968
Hi @patrick-bigbridge. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2018-07-20 13:51] engcom-backlog-nickolas commented on #15327
Hello @BabliDey, thank you for your report. I cannot reproduce this issue.
![peek 2018-07-20 16-55](https://user-images.githubusercontent.com/40755810/43005968-121096b6-8c3d-11e8-8123-d85e976736bc.gif)
Could you please add more details?

[2018-07-20 13:54] engcom-backlog-nazar commented on #14491
Hi @Webgradeit I cannot reproduce this, by your scenarios steps.

[2018-07-20 14:12] tehtea commented on #4737
@chammedinger your fixed worked, thank you! If you don't mind sharing, what is your thought process towards fixing the bug?

[2018-07-20 14:14] vbuck commented on #14469
@engcom-backlog-nazar I am not able to get to a PR at the moment, but in response to your update I wanted to share a diff I've had sitting around until I could come back to this issue:

- https://gist.github.com/vbuck/fdc552f8bc6fa3434aa521684c242b0c

I noticed that you made a comment about not being able to reproduce, which I received via email. But by the time I came back to this issue the comme

[2018-07-20 14:15] engcom-backlog-nickolas commented on #16963
Hello @alan-ngai, thank you for report. The GitHub issue tracker is intended for Magento Core technical issues only. As mentioned in previous comment, please move your issue here: https://github.com/magento/devdocs/issues

[2018-07-20 14:15] #16963 closed, assigned to engcom-backlog-nickolas

[2018-07-20 14:17] nikolinekh commented on #16843
I have this issue too (on 2.2.5)
For information this is the commit causing the problem: https://github.com/magento/magento2/commit/fb64086b5c0e9b52591ae341e52908fee66f727c

From what I see, the code that uses the ImageBuilder should always set the required product before calling create() - which is the case for e.g. \Magento\Catalog\Block\Product\AbstractProduct

[2018-07-20 14:19] engcom-backlog-nickolas commented on #16968
Hello @patrick-bigbridge, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-07-20 14:24] engcom-backlog-nickolas commented on #16958
Hello @bedroomathletics, thank you for your report. I cannot reproduce this issue. Could you please provide more details?

[2018-07-20 14:31] engcom-backlog-nickolas commented on #16751
@sibi4586, As I wasn't able to reproduce this issue by following the steps you provided, I'm closing it for now. If you'd like to update it, please reopen the issue.

[2018-07-20 14:31] #16751 closed, assigned to engcom-backlog-nickolas

[2018-07-20 14:37] SKovbel commented on #4822
This is old bug, which mentioned in old 0.74 version and has a lot of visualization in system.

When  different call of function from AbstractExtensibleModel
**getData($key)** and **getData()[$key]**
returns different values

One variant return scalar after ArrayBackend, next return reinited data (may be) .

I fixed in ArrayBackend, added line with $object->setCustomAttribute(...
![screenshot from

[2018-07-20 14:39] mad-develop commented on #16747
Happens for me too.
Magento version 2.2.5

Additionaly if i use "Password Forgot" i also get a "Newsletter subscription confirmation" E-Mail.
Dunno if its related, but i guess it is.

[2018-07-20 15:41] nuzil commented on #16960
@Gurdeep0007 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-07-20 15:41] #16960 closed, assigned to nobody

[2018-07-20 15:49] ywsw commented on #4946
@komsitr I am having this same issue (coupon code working in shopping cart with GET method but not working in checkout page which uses PUT method) and I do not have mod_security in my apache. Do you have any suggestions for me to get this working?

I am using Magento 2.2.5 and Apache 2.4

[2018-07-20 16:07] arunelangovan opened #16969 "Exception #0 (InvalidArgumentException): Element with id "system_cron_template_use_separate_process" already exists"
### Preconditions
1. Magento 2.2.4 and Magento 2.2.5 CE

### Steps to reproduce
1. When i try to navigate in admin panel to Configuration -> Advanced -> System am getting the below error
`1 exception(s):
Exception #0 (InvalidArgumentException): Element with id "system_cron_template_use_separate_process" already exists

Exception #0 (InvalidArgumentException): Element with id "system_cron_template_

[2018-07-20 16:08] magento-engcom-team commented on #16969
Hi @arunelangovan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-07-20 16:28] SCush opened #16970 "General error: 1114 The table 'catalog_product_entity_datetime' is full"
I am in the process of updating prices on a magento site by replacing complex data through the import/export feature in the backend of Magento. This have uploaded successfully but some products require me to go to manage products and manually change the price there or add a special price. When I try to apply a new price I am met with the following error.

SQLSTATE[HY000]: General error: 1114 The t

[2018-07-20 16:45] igor-imaginemage commented on #16886
I am able to reproduce the same issue in a vanilla Magento instance. Trying to fix the issue and contribute.

[2018-07-20 16:56] arunelangovan commented on #16969
No i cannot reproduce it in vanilla magento

[2018-07-20 17:42] hostep commented on #16063
@swishhh, you have two options:

1. In composer, define that you don't want to download and install those modules, by adding these lines to the `composer.json` file:
[code]
Then run `composer update`, followed by a `bin/magento setup:upgrade`.

After this, there won't be any trace of the Amazon modules code in your project, there might still be some leftovers in the database though, but that's les

[2018-07-20 18:38] maierb commented on #12366
@magento-engcom-team This is causing us to have to recommend against using Authorize.net why is this a good thing?

[2018-07-20 18:51] bmzero commented on #12366
I'm with @maierb. I don't get why anyone would want this. This has caused several issues with customers who abandon their transaction completely because they think the site is incapable of processing their transaction. When, in reality, they entered their card information incorrectly. Authorize.Net is a popular provider. This has to be affecting thousands upon thousands of transactions.

[2018-07-20 18:55] Ian410 commented on #12987
I'm pretty sure this originates here: vendor/magento/module-customer/Model/Plugin/CustomerNotification.php.

As far as I can tell on post _after_ a customer save event has occurred it regenerates the session id.  The save event notifies the system that the customer session should be updated.  If another event does a post after the save but before the browser is notified of the session id update it

[2018-07-20 18:58] Ecksters commented on #12366
We've been forced to add text to our site telling customers to try to checkout with PayPal if they have issues, since at least PayPal will give them proper error messages..

[2018-07-20 19:01] samidhat opened #16974 "Checkout gives error all the time in case added incorrect shipping info once and updated later"
Summary:
Checkout gives error all the time in case added incorrect shipping info once and updated later

Information on your environment:
Browser: Google Chrome Version 67.0.3396.99
OS: Windows 8.1 Enterprise (64-bit)

Steps To Reproduce:
- Select any product and add it to cart.
- Click on place order now.
- On shipping information page->Enter incorrect pincode, city and mobile number.
- Click on

[2018-07-20 19:01] magento-engcom-team commented on #16974
Hi @samidhat. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-07-20 19:10] shochdoerfer opened #16976 "StoreResolver does not read store param from url"
The `\Magento\Store\Model\StoreResolver` determins the active store from either the defined cookie or the passed request parameter but does not take the store code from the url into account (/rest/my_store_code/V1/...).

### Preconditions

1. Tested with Magento 2.2.5 - other versions might also be affected

### Steps to reproduce
1. Pass the store code in the url to Magento
2. Call `\Magento\Stor

[2018-07-20 19:10] magento-engcom-team commented on #16976
Hi @shochdoerfer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-07-20 19:35] beargroup-jay commented on #14423
Also having this issue on a 2.2.5 site, var/log/update.log growing very quickly with these "errors".

However, per [the devdocs](https://devdocs.magento.com/guides/v2.2/config-guide/prod/prod_file-sys-perms.html):

In accordance with this, and our own security practices we are using a split ownership scheme where the web user can only write to a handful of specific directories, and don't _want_ th

[2018-07-20 20:29] torhoehn opened #16979 "Stores configuration is not opened"
### Preconditions

1. Magento 2.3-develop
2. PHP 7.1.20
3. MySQL 5.7.22

### Steps to reproduce

1. Login into Magento Admin
2. Open Stores -> Settings -> Configuration

### Expected result

1. Configuration should be opened

### Actual result

1. User is logged out and message "Visible section not found." is shown.

[2018-07-20 20:30] torhoehn commented on #16979
@magento-engcom-team give me 2.3-develop instance

[2018-07-20 20:30] magento-engcom-team commented on #16979
Hi @torhoehn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-07-20 20:31] magento-engcom-team commented on #16979
Hi @torhoehn, here is your [Magento instance](https://i-16979-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-16979-2-3-develop.engcom.dev.magento.com/admin](https://i-16979-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-07-20 20:50] DanielRuf commented on #14968
For those wo need a fix and can not update the entry in the database, see https://github.com/magento/magento2/issues/14968#issuecomment-404536405

[2018-07-20 23:51] cpartica commented on #8168
Note that this fix is different on 2.3. Wishlist should obey cart image setting from config. Fix will be backported to 2.2 future releases

[2018-07-21 01:54] airtonix commented on #3108
@vancoz @magento-admin  Two years later and no response. It would be good if at least someone at Magento responded.

[2018-07-21 05:13] airtonix commented on #2523
Still a blocker for automation.

[2018-07-21 08:46] Userr017 commented on #14849
I have same problem with magento 2.2.5. What is the correctly for this fix without problems?

[2018-07-21 12:01] sidolov commented on #12081
Hi @jhruehl. Thank you for your report.
The issue has been fixed in magento/magento2#16892 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [18d11f580bc51dd2fba1b082c95cf194cd6c477c](https://github.com/magento/magento2/commit/18d11f580bc51dd2fba1b082c95cf194cd6c477c)

The fix will be available with the upcoming 2.3.0 release.

[2018-07-21 12:01] sidolov commented on #12860
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#16945 by @ihor-sviziev in 2.1-develop branch
Related commit(s):
 - [045b95c50bce57f67264337865b63af4dfb8782d](https://github.com/magento/magento2/commit/045b95c50bce57f67264337865b63af4dfb8782d)

The fix will be available with the upcoming 2.1.15 release.

[2018-07-21 12:02] sidolov commented on #2956
Hi @volnnn. Thank you for your report.
The issue has been fixed in magento/magento2#16948 by @ronak2ram in 2.1-develop branch
Related commit(s):
 - [082aea78624be55e779067ee40c35b42d6fe4cf3](https://github.com/magento/magento2/commit/082aea78624be55e779067ee40c35b42d6fe4cf3)
 - [94452f734a27e1865dc7db378b7bc741162f4e68](https://github.com/magento/magento2/commit/94452f734a27e1865dc7db378b7bc741162

[2018-07-21 12:02] sidolov commented on #16174
Hi @tiagosampaio. Thank you for your report.
The issue has been fixed in magento/magento2#16920 by @mage2pratik in 2.1-develop branch
Related commit(s):
 - [fb93d25e62be47bdc9270ef97fbf75f6a307c933](https://github.com/magento/magento2/commit/fb93d25e62be47bdc9270ef97fbf75f6a307c933)
 - [ff940759095d965932720dadbf628fa11fc36728](https://github.com/magento/magento2/commit/ff940759095d965932720dadbf6

[2018-07-21 12:22] ermohanlal commented on #15048
Fix this issue use this

app/design/frontend/theme_vendor/currnet_theme/Magento_Tax/web/js/view/checkout/summary/grand-total.js

define([
    'Magento_Checkout/js/view/summary/abstract-total',
    'Magento_Checkout/js/model/quote',
    'Magento_Catalog/js/price-utils',
    'Magento_Checkout/js/model/totals',
	'Magento_Checkout/js/model/cart/totals-processor/default',
	'Magento_Checkout/js/model/ca

[2018-07-21 13:30] raymond62 commented on #14494
Maybee another issue i posted is related to this one. see https://github.com/magento/magento2/issues/14849

[2018-07-21 15:15] rahimalizada commented on #7178
In my case it was happening when i was importing a product with duplicate images. Magento imports an image and moves/removes its file from tmp folder (pub/media/tmp), and thus unable to import the duplicate one.

[2018-07-21 17:08] southerncomputer commented on #16786
happens since magento 2.1, order of modules causes this plus my orders to flip address below items in my account

[2018-07-21 17:39] keevitaja commented on #7652
In case anyone comes across with this issue again, then please check if your product does have a valid attribute set. I had the same error when creating products programmatically without attribute set.

[2018-07-21 18:02] keevitaja commented on #13639
There is an easy fix :)

When creating product, assign the type id and price magically appears!

[code]

[2018-07-21 18:22] denistrator opened #16989 "Less variables defined in theme "_extend.less" can't be overridden in "_theme.less""
### Summary
Less variables defined in theme `<Module>/_extend.less` can't be overridden in `_theme.less`

### Steps to reproduce
1.  Create new theme
2.  Add `Magento_Theme/web/css/source/_extend.less`  with this content:
[code]
3. Try to override `@test` in `web/css/source/_theme.less`:
```@test: green;```

### Expected result
`body` has `green` background

### Actual result
`body` has `red` back

[2018-07-21 18:44] denistrator opened #16990 "M2 docs says nothing about where to declare custom less mixins"
There is info in [M2 docs](devdocs.magento.com) how to declare custom variables or how to override existing less variables.
For example: custom less variables can be define in theme in `web/css/source/_variables.less`
But where custom less mixing must be declared?