[2020-12-04 13:37] alex-james commented on #25099
@timh5690 Anything showing up in your PHP error log, Magento system log or your browser console log? Have you looked in the media folder where the images are bing stored to see if here are any files being created / updated?

[2020-12-04 14:07] poebel commented on #29884
We changed the 2FA Controllers to use the generic "Magento_Backend::admin" ACL Resource which all roles should include instead of using the "Magento_TwoFactorAuth::config" ACL Resource to avoid this problem:
[Github Issue 29884 - wrong ACL for 2FA.patch.txt](https://github.com/magento/magento2/files/5643206/Github.Issue.29884.-.wrong.ACL.for.2FA.patch.txt)

[2020-12-04 14:12] ihor-sviziev commented on #31167
Hi @anvanza,
Could you create a Pull Request with your suggested changes?

[2020-12-04 14:24] engcom-Alfa commented on #28473
Hi @manan-india .
Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop.
Everything works as expected.

**Manual testing scenario:**

1. Enable the configuration: Stores>Configuration>Sales>Sales Email>General Settings>Asynchronous sending
2. Place an order for a virtual product.
3. Generate an invoice
4. Run cron (to successfully job done by cron)

**Actual Result:** :heavy_c

[2020-12-04 14:24] #28473 closed, assigned to engcom-Alfa

[2020-12-04 14:30] engcom-Alfa commented on #31124
@magento give me 2.4-develop instance

[2020-12-04 14:32] qaniel commented on #8251
This issue came back with vengeance on version 2.4...
I have the same issue now, I'm importing product customizable options into different products but it only takes the default one and ignore the options created per store view :(

[2020-12-04 14:34] magento-engcom-team commented on #31140
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39641` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-04 14:36] moiashvin opened #31168 "REST endpoint /customers/search not working for multi-store newsletter subscriptions"
### Preconditions (*)

1. Magento version 2.4.1
2. Magento 2.4-develop
3. Admin -> Stores -> Configuration -> Customers -> Customer Configuration -> Account Sharing Options and set S**hare Customer Accounts** to **Global**

![Screenshot from 2020-12-07 12-59-48](https://user-images.githubusercontent.com/51679138/101343060-1d1dc800-388c-11eb-914f-4ac3e0579d06.png)

4. Multiple-store views setup in

[2020-12-04 14:42] #30467 closed, assigned to Zifius

[2020-12-04 14:42] #30625 closed, assigned to andrewbess

[2020-12-04 14:43] #29480 closed, assigned to nobody

[2020-12-04 14:43] #29990 closed, assigned to sasha19957099

[2020-12-04 14:48] jasminrathod commented on #31124
My magento version is 2.3.6

[2020-12-04 14:54] victorpetryk commented on #23843
@magento I am working an this

[2020-12-04 14:55] victorpetryk commented on #23843
@magento I am working on this

[2020-12-04 15:05] m2-assistant[bot] opened #31169 "[Issue] Feature south america country regions"
This issue is automatically created based on existing pull request: magento/magento2#31158: Feature south america country regions

---------

### Description (*)
Add states/regions for Argentina, Bolivia, Chile, Ecuador, Guyana, Paraguay, Peru, Suriname and Venezuela.

### Manual testing scenarios (*)

1. Install Magento
2. Check table directory_country_region for Argentina, Bolivia, Chile, Ecuado

[2020-12-04 15:06] m2-assistant[bot] opened #31170 "[Issue] Allow to load base64 encoded images and fonts"
This issue is automatically created based on existing pull request: magento/magento2#31162: Allow to load base64 encoded images and fonts

---------
### Description
Magento 2.4-develop

Current Content Security Policy setup doesn't allow to load images and fonts via `data:` scheme which is quite a popular method to load local resources (base64 encoded images). Additionally, it's used internally by

[2020-12-04 15:07] m2-assistant[bot] opened #31171 "[Issue] Adjust .editorconfig to correct the automatic formatting of db_schema_whitelist.json files"
This issue is automatically created based on existing pull request: magento/magento2#31166: Adjust .editorconfig to correct the automatic formatting of db_schema_whitelist.json files

---------
Since the [.editorconfig](https://github.com/magento/magento2/blob/2.4.1/.editorconfig) file was changed to use two spaces for json files, this leads to problems with **db_schema_whitelist.json** files. All

[2020-12-04 15:09] Prashanthtop12 commented on #18229
Can someone let me know that the solution here is? Having same trouble  what @msainadh had.

running ver. 2.3.5-p1

[2020-12-04 15:10] Prashanthtop12 commented on #18229
Can someone let me know what the solution is? Having same trouble what @msainadh had

running ver. 2.3.5-p1

[2020-12-04 15:10] ioweb-gr opened #31172 "uiComponent grids cannot handle aggregate functions in columns with having clause"
### Preconditions (*)
1. Magento 2.4.1

### Steps to reproduce (*)
1. Try to add a column in a grid which represents an aggregate function

Let's try an example with the total quantity of all items by adding a Field/Filter Strategy to add the new column

[code]

### Expected result (*)
1. The system is taking `group` and `having` clauses into account and rendering the grid correctly

### Actual re

[2020-12-04 15:16] denchev commented on #18229
@Prashamth

Try putting your site into maintenance mode, reset all indexation, stop cron tasks and run the reindexation. Once it went though re-enable cron and disable maintenance mode.

[2020-12-04 15:27] magento-engcom-team commented on #30466
Hi @magento-engcom-team, @andrewbess.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-38187` was closed as `Complete`.

The fix will be available with the upcoming `2.4.2` release.

[2020-12-04 15:30] sivaschenko opened #31173 "Update laminas/laminas-di dependency to PHP 8 compatible version"
### Description (*)
Update laminas/laminas-di dependency version from "^2.6.1" to "^3.2.0"

Migration guide https://docs.laminas.dev/laminas-di/migration/

### Expected behavior (*)

### Benefits

### Additional information

[2020-12-04 15:33] sivaschenko opened #31174 "Update laminas/laminas-dependency-plugin dependency to PHP 8 compatible version"
### Description (*)
Update laminas/laminas-dependency-plugin dependency version from "^1.0" to "^2.1.0"

### Expected behavior (*)

### Benefits

### Additional information

[2020-12-04 15:35] sivaschenko opened #31175 "Update dealerdirect/phpcodesniffer-composer-installer dependency to PHP 8 compatible version"
### Description (*)
Update dealerdirect/phpcodesniffer-composer-installer dependency version from "^0.5.0" to "^0.7.0"
Ensure `composer install` runs on PHP 7.4 and 8.0

### Expected behavior (*)

### Benefits

### Additional information

[2020-12-04 15:37] sivaschenko opened #31176 "Update phpstan/phpstan dependency to PHP 8 compatible version"
### Description (*)
Update phpstan/phpstan dependency version from ">=0.12.3 <=0.12.23" to ">=0.12.3 <=0.12.54"
Ensure composer install runs on PHP 7.4 and 8.0

### Expected behavior (*)

### Benefits

### Additional information

[2020-12-04 15:38] sivaschenko opened #31177 "Update league dependencies to PHP 8 compatible versions"
In scope of the user story MC-41382 we need to the update league/flysystem, league/flysystem-aws-s3-v3 and league/flysystem-cached-adapter dependency versions from "<sup>1.0" to "</sup>2.0"

 

In scope of this spice we need to estimate the effort required to provide that upgrade.

 

[2020-12-04 15:46] neddy236 commented on #30794
I confirm this issue is still valid in 2.3.5p2 and reverting it to the old method works fine.

[2020-12-04 15:54] neddy236 commented on #5726
#30794 was born from this.

[2020-12-04 16:18] Prashanthtop12 commented on #18229
Hi Denchev,

Thanks for the input.
The error still exists.
The only option left is to change the value in "private function checkIfCustomOptionsExist(IndexTableStructure $priceTable): bool"

SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(0, IFNULL(cpp.rul

[2020-12-04 16:29] ageffray commented on #19469
Any news for this ? It's a huge thing, I've got performance issue because of this on many large projects

[2020-12-04 16:31] jonathanribas commented on #19469
We also have this issue at Zadig & Voltaire.

It's just crazy to recreate the whole customer grid flat table at every deploy we do every day.

[2020-12-04 16:41] timh5690 commented on #25099
Hi Alex,

The files are showing in the media folder. I don't see any related in the error or system logs.

Error messages from console:

GET https://www.*********.com/pub/static/version1607041079/frontend/Smartwave/porto_child/en_US/Magento_Catalog/images/product/placeholder/.jpg 404

VM4714:3 Fallback to JQueryUI Compat activated. Your store is missing a dependency for a jQueryUI widget. Identify

[2020-12-04 16:48] alex-james commented on #25099
@timh5690 The JQueryUI thing is because Magento now allows you to add just the UI components you need (in this case widget) rather that the whole library so a warning but not the cause of the issue

The fact that you don't have a filename before the .jpg with your placeholder is odd and a worry

If the files are getting added to the media folder then your POST is working, but for some reason they

[2020-12-04 16:48] HenKun commented on #28916
Occassionally we face this same issue on M2.4.1, since we switched to use Redis.

[code]

The order gets created and the payment was successful.

This can further result in issue https://github.com/magento/magento2/issues/13952 where duplicated orders are created. (This already has a patch, see https://github.com/magento/magento2/issues/13952#issuecomment-711439385)

[2020-12-04 18:23] fredden commented on #19469
From what I read this is solved in versions 2.3.6 and 2.4.0. If you're running versions below these, I'd recommend upgrading.

[2020-12-04 18:58] laurentiumagureanu opened #31180 "CartItemInterface should include customizable_options"
Fix all nullable customizable_options

[code]

to be non nullable
customizable_options: [SelectedCustomizableOption]!

this will fix the BiC introduced in 2.4.1
will also fix the bundle problem which is the only one that's nullable now
[~cspruiell> plz update this description accordingly

 !screenshot-1.png|thumbnail!

1. I need to query a user's cart via `graphQL` and include `customizable_option

[2020-12-04 18:59] laurentiumagureanu commented on #31180
@magento export issue to Jira project MCLOUD as Story

[2020-12-04 19:17] engcom-Delta commented on #29519
@salman231 ,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-12-04 19:17] #29519 closed, assigned to engcom-Delta

[2020-12-04 19:22] Grumag commented on #28614
Well still getting attacked, so 2.3.6 didn't fix the issue. I also wanted to know sb-nick enabled recapctha at the api layer

[2020-12-04 19:26] dthampy commented on #31180
@magento export issue to Jira project MC as Bug

[2020-12-04 19:30] hirensoni2005 commented on #8227
I am facing the same issue for the category after upgrading Magento 2.4.0 to Magento 2.4.1

[2020-12-04 19:30] lbajsarowicz opened #31181 "Magento CLI enforces layout, block_html and full_page caches enable"
### Preconditions (*)
1. Clear Magento 2.4

### Steps to reproduce (*)
1. `bin/magento cache:disable full_page`
2. `bin/magento setup:upgrade`

### Expected result (*)
1. `bin/magento cache:status full_page` should confirm that Full Page cache is disabled

### Actual result (*)
1. `bin/magento cache:status full_page` is... enabled 🤦🏻

---
Please provide [Severity](https://devdocs.magento.com/guide

[2020-12-04 19:38] mauragcyrus commented on #31180
@magento export issue to Jira project MCLOUD as Bug

[2020-12-04 19:38] magento-engcom-team commented on #31180
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MCLOUD-7370) is successfully created for this issue.

[2020-12-04 19:39] magento-engcom-team commented on #30672
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39689` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-04 19:41] jeckojim commented on #28614
@cdbessig no,  the problem seems to be with any gateway extension.

[2020-12-04 20:08] ihor-sviziev commented on #31181
Hi @lbajsarowicz,
It seems like this issue was already fixed in 2.4-develop in https://github.com/magento/magento2/pull/28491. Could you confirm that?

[2020-12-04 20:10] lbajsarowicz commented on #31181
@ihor-sviziev I work with Magento 2.4.1, so... I need to wait for 2.4.2 then 🤦🏻

[2020-12-04 20:13] ihor-sviziev commented on #31181
@lbajsarowicz or you can apply fix as a patch, more into at https://devdocs.magento.com/guides/v2.4/comp-mgr/patching.html#custom-patches

[2020-12-04 20:14] ihor-sviziev commented on #31181
I’m closing this issue as duplicate.
Thank you do much for reporting this issue!

[2020-12-04 20:14] #31181 closed, assigned to ihor-sviziev

[2020-12-04 21:45] m2-assistant[bot] opened #31182 "[Issue] Keep dependencies in composer.json sections sorted alphabetically"
This issue is automatically created based on existing pull request: magento/magento2#31179: Keep dependencies in composer.json sections sorted alphabetically

---------

### Description (*)

Since we have the [sort](https://github.com/magento/magento2/blob/2.4-develop/composer.json#L11) flag set to **true**, all sections must be sorted alphabetically.

### Manual testing scenarios (*)

1. open **c

[2020-12-05 07:00] crankycyclops commented on #25098
Just curious if there's been any progress on this issue.

[2020-12-05 09:48] jissereitsma commented on #30575
@pusachev @ihor-sviziev I bumped into this same issue and was able to solve it by removing the PSR extension (Ubuntu with PHP 7.3: `apt-get remove php7.3-psr`). However, the question of @pusachev intrigued me: Why is the proxy needed in the first place? I tried it and this gave the error `Circular dependency: Magento\Framework\Logger\Monolog depends on Magento\Framework\Interception\PluginListGene

[2020-12-05 10:25] mrtuvn opened #31183 "Issue circular dependency with 2.4-develop branch"
### Summary (*)

Got issue when run cli magento setup upgrade command in 2.4-develop

Circular dependency: customRemoteFilesystem depends on Magento\RemoteStorage\Driver\Cache\CacheFactory and vice versa.

Basically command setup upgrade not work after merge 2.4-develop

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide

[2020-12-05 15:41] TomR5 commented on #25098
I have confirmed the pblm still exists on a new client website on Magento 2.4.  The only fix I can figure out, which goes against the don't-modify-core-files rule, is to delete the file:
vendor/magento/module-offline-shipping/Setup/Patch/Data/UpdateShippingTablerate.php
and edit the getcode function in the file:
vendor/magento/module-offline-shipping/Model/Carrier/Tablerate.php replacing two lines

[2020-12-05 16:57] shiftedreality commented on #31183
@mrtuvn have you cleaned all caches and `generated` folder before running `setup:upgrade`?

[2020-12-05 16:58] mrtuvn commented on #31183
Yes i have cleared that

[2020-12-05 17:14] shiftedreality commented on #31183
What if you install cleanly? Upgrade of dev branch might have unpredictable results

[2020-12-05 17:34] mrtuvn commented on #31183
OK i will try again

[2020-12-05 18:45] chuckgreenman commented on #22363
@magento-engcom-team give me 2.3-develop instance

[2020-12-05 19:04] chuckgreenman commented on #25872
@magento add to contributors team

[2020-12-05 19:04] chuckgreenman commented on #25872
@magento I am working on this

[2020-12-05 19:05] chuckgreenman commented on #25872
@magento give me 2.3-develop instance

[2020-12-06 03:55] mrtuvn commented on #31183
@shiftedreality you are right now i can run setup upgrade
But in local i got issue with setup di compile command
![Screenshot from 2020-12-06 10-52-58](https://user-images.githubusercontent.com/1908873/101270997-736a0880-37b1-11eb-8cd4-623cafa12e25.png)
Any idea why this happen

[2020-12-06 03:56] mrtuvn commented on #31183
php74 with magento 2.4-develop branch no sample data

[2020-12-06 07:14] #31183 closed, assigned to nobody

[2020-12-06 07:21] Amit-Hariyani commented on #28092
Well this error comes because of Magento_Csp extension , it creates some problem for paypal so disable the Magento_Csp extension, set all paypal configurations for paypal payment method from magento admin and try again,

I hope error will gone.

[2020-12-06 11:29] bmullins420 commented on #21517
Hello @ghost and @nexus4alii1991.  Is there a resolution for this? we process orders the same way Order->Ship->Invoice because we are cash on delivery only.  When a shipped order is canceled, items are not returned to stock in 2.4

[2020-12-06 14:36] itisraza commented on #31172
Hi, below works, please try join instead of joinTable

$collection->getSelect()->join('cataloginventory_stock_item', 'product_id = entity_id', ['SUM(qty) as aggregate_qty']);
        $collection->getSelect()
            ->group('entity_id')
            ->having('aggregate_qty <= ?', 0)
        ;

[2020-12-06 14:48] ioweb-gr commented on #31172
Nope sorry it won't work on a grid

[code]

Unless I override the getSize() method in the collection like this for example:

[code]

And then it also present issues later on in mass actions where more overrides are necessary.
This is a serious limitation with no easy workaround. Whenever the query is altered to retrieve subsets or counts from the collection, the having clause is causing issues.

[2020-12-06 16:27] Coosos commented on #29052
Hi,

Sorry for my long response time.
I have tested with magento 2.4.1 and am reproducing this problem.

Import product file : [test_catalog_product_import.csv.gz](https://github.com/magento/magento2/files/5649095/test_catalog_product_import.csv.gz)

Varnish logs : [varnishlog.gz](https://github.com/magento/magento2/files/5649100/varnishlog.gz)

We can therefore see in the varnish logs that the ta

[2020-12-06 21:34] chuckgreenman commented on #25872
@magento give me 2.3-develop instance

[2020-12-06 22:52] CalamityJames commented on #30848
Thank you for this patch, I had the same bug in a shop that has been migrated from 1.9.4.0 to 2.4.1.

This was occurring with all orders, regardless of whether they were placed before or after the migration.

[2020-12-06 23:12] chequille commented on #28092
@Amit-Hariyani
Hi, unfortunately this did not solve the problem in my setup.
As well I do not know if it is a good idea to disable this, because maybe some other extensions depend on it.

[2020-12-07 01:53] adarshkhatri commented on #29952
I just came across this.

I purpose changing https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Sales/view/frontend/templates/email/shipment/track.phtml#L13 line to:

`<?php $trackCollection = $_shipment->getTracksCollection() ?>`

[2020-12-07 03:01] IanHong66 commented on #27470
I have the same issue on my local Magento 2.3.4 and I reproduced the same issue using Magento Demo online: #3 Firebearstudio Demo (version 2.4.0). Cart price rule setting is as below:
![image](https://user-images.githubusercontent.com/29475644/101304502-78ec4f00-3894-11eb-9438-38d137d62e74.png)

[2020-12-07 04:10] brianrootways commented on #28092
@Amit-Hariyani Hi, I did disable CSP module but we are getting an error while doing PayPal express checkout. @chequille

![image](https://user-images.githubusercontent.com/68637204/101308484-fce01000-386f-11eb-91de-56243fac2913.png)

Maybe its causes because of customer-data.js error (line number: 95) throw in the console.

![image](https://user-images.githubusercontent.com/68637204/101308506-09fc

[2020-12-07 04:47] krishprakash commented on #29780
Closing this issue as related PR #29770 is already closed due to issue can not reproduce

[2020-12-07 04:48] #29780 closed, assigned to krishprakash

[2020-12-07 04:51] krishprakash commented on #29730
Closing this issue as related PR #29717 closed due to inactivity.
Thanks!!

[2020-12-07 04:51] #29730 closed, assigned to krishprakash

[2020-12-07 04:57] magento-engcom-team commented on #29651
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39701` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-07 07:45] engcom-Echo commented on #23793
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-12-07 07:45] #23793 closed, assigned to nobody

[2020-12-07 07:47] magento-engcom-team commented on #23793
Hi @ron-jomashop.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23872` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.2` release.

[2020-12-07 09:00] Ecoceramica opened #31186 "IP access to Magento 2.2.7 and tracking of modfications"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-12-07 09:07] Ecoceramica commented on #31186
Magento 2.2.7. As an e-commerce manager, I need an updated tracking of IP access to the platform and areas of intervention, to better coordinate the job and repair errors. This feature is currently not provided by the platform, apparently. I wait for anybody of the community to help me on this. Thank you very much

[2020-12-07 09:51] magento-engcom-team commented on #31171
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39707` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-07 10:14] itisraza commented on #31186
Hi @Ecoceramica, you can join **admin_user_session** with other entity tables to find out who updated what and from where(IP). For example "catalog_product_entity" in conjunction with "admin_user_session" you can find out all the updates done on a product.

Hope this will help

Regards,
Raza.

[2020-12-07 10:38] Ecoceramica commented on #31186
Thank you Muhammad,

from where can I join admin_user_session?

How can I control this practically? Please send me the instructions

Chiara Montorsi
*Marketing and Customer Care*
ECO CERAMICA S.P.A.
Via Don P.Borghi, 5
42013 S.Antonino di Casalgrande (RE) - Italy
Tel. +39 0536.991729
Mob +39 334.6722456
www.ecoceramica.com
www.shop.ecoceramica.com

*to see our new handcrafted collection, click her

[2020-12-07 10:47] itisraza commented on #31186
Hi Chiara, unfortunately entity tables(e.g. catalog_product_entity) only tells us when an entity is updated but doesn't give idea about who did this change so the only way to combine both admin_user_session and entity tables is via updated time stamps' windows of both admin_user_session and catalog_product_entity and that would not always be accurate.

Alternatively, you can update the installatio

[2020-12-07 11:09] Eddcapone commented on #5863
Same Problem on 2.4.1

[2020-12-07 11:11] magento-engcom-team commented on #31168
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39712` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-07 11:43] engcom-Delta commented on #26588
Hi @honzakadlec . I'm not able to reproduce issue by steps you described on clean 2.4-develop using/
Could you provide additional steps that helps to reproduce issue?

[2020-12-07 12:09] savimar06 opened #31188 "Newsletter enabled setting is always retrieved from the default scope"
When disabling the newsletter for store scope and website scope the newsletter checkbox is still visible in register form and the newsletter info-box is visible in customer account dashboard.

The newsletter enabled setting is always retrieved from the default scope

### Preconditions (*)

1. Magento Version: 2.3.5-p2

### Steps to reproduce (*)

1. Enable the newsletter for default scope in Store

[2020-12-07 12:12] magento-engcom-team commented on #30964
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39718` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-07 13:21] magento-engcom-team commented on #31032
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39723` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-07 13:28] magento-engcom-team commented on #31132
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39724` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-07 14:11] DanielIconate opened #31190 "DHL "Enable Free Shipping Threshold" not working"
### Preconditions (*)

1. Magento version 2.3.2
2. Apache server PHP 7.2
3. Reproducible on the latest 2.4-develop

### Steps to reproduce (*)

1. Enable DHL Shipping and Configure necessary Information
2. Set "Free Method", "Enable Free Shipping Threshold" and "Free Shipping Amount Threshold" for Default DHL Magento Shipping Method under Configuration->Sales->Shipping Methods

### Expected result

[2020-12-07 14:14] oneserv-heuser commented on #15196
This issue still exists in Magento 2.4.1. Why is this closed?
Had to use @kanduvisla fix which fortunately still works.

[2020-12-07 14:26] engcom-Alfa commented on #30971
Hi @lisouski .

Unfortunately, we are not able to reproduce the issue on clean 2.4-develop. Looks like the problem has been already fixed.

**Manual testing scenario:**

1. Create Cart price rule with condition "If ANY of these conditions are TRUE : Payment Method is Purchase Order"

![Screenshot from 2020-12-07 16-18-54](https://user-images.githubusercontent.com/51679138/101362177-70057880-38a8-1

[2020-12-07 14:26] #30971 closed, assigned to engcom-Alfa

[2020-12-07 14:44] denchev commented on #20689
@magento give me 2.4-develop instance

[2020-12-07 14:45] aloupfor commented on #31105
I am facing the same issue on Magento ver. 2.3.5-p2.
Issue seems to already have been reported: https://github.com/magento/magento2/issues/28092 but no information about a fix has been provided.

---

I am able to produce the issue on Firefox 78.5.0esr.

After click on `Continue to PayPal` button, following message is displayed in Magento checkout before reaching paypal page:

[code]

Console:
[co

[2020-12-07 14:45] Ecoceramica commented on #31186
Thank you Raza.
If I was satisfied only to know WHEN an entity table has been updated,
which is the path inside Magento I should follow to come to that
information?

Please consider I am not a developer with coding skills, but a digital
specialist, with content management and coordination, follow up skills.

Thank you for your precious support

Chiara Montorsi
*Marketing and Customer Care*
ECO CER

[2020-12-07 15:00] denchev commented on #20689
This behavior continues to appear in 2.4 Not quite sure if this is a bug but I will spend some time to investigate a bit deeper.

I created 3 products with the mentioned skus 42-315, 42-317 and 42-318. When I search for the first one 42-315 I got all the 3 products + 3 more than have SKUs like 24-WG080, 24-WG088 and 24-WG084. Since 24 is the reverse of 42 and there is a dash in the SKU I assume th

[2020-12-07 15:52] itisraza commented on #31186
Hi Chiara, this is only available in EE although there is a free plug-in available for CE which serves the purpose, please take a look at https://www.mageplaza.com/magento-2-security/action-log.html?utm_source=mageplaza&utm_medium=mageplaza&utm_campaign=mageplaza-review&a=bigvn&utm_content=Admin%20Actions%20Log

Regards,
Raza.

[2020-12-07 16:06] Ecoceramica commented on #31186
Great Raza,

I see it is only 149 USD one shot (no every year).

I am wondering why the previous Ecommerce Manager did not adopt it.

Thank you for your precious support

[image: image.png]

Chiara Montorsi
*Marketing and Customer Care*
ECO CERAMICA S.P.A.
Via Don P.Borghi, 5
42013 S.Antonino di Casalgrande (RE) - Italy
Tel. +39 0536.991729
Mob +39 334.6722456
www.ecoceramica.com
www.shop.ecoceram

[2020-12-07 19:12] aleksejsbaranovs10 opened #31192 "Database table triggers creation using mview multiple subscriptions with different entity columns for one table"
### Issue description
Two indexers with mview configuration, subscribed to the same table but using different "entity_column" values override each other when creating triggers (enabling indexers to work on schedule mode).

For reproduction was used Magento core indexer "Catalog Search" and custom indexer.
Both indexers subscribed to "catalog_product_super_link" table. "Catalog Search" indexer uses

[2020-12-07 19:28] m2-assistant[bot] opened #31193 "[Issue] Clean code less vendor prefix appearance"
This issue is automatically created based on existing pull request: magento/magento2#31191: Clean code less vendor prefix appearance

---------

### Description (*)

Clean code less prefix apperance. Also clear unneccesary prefix flexbox
Flexbox supported widely in all major browsers so we don't need prefix for flexbox anymore
https://caniuse.com/flexbox

### Related Pull Requests

### Fixed Issue

[2020-12-07 19:29] m2-assistant[bot] opened #31194 "[Issue] Add uid field to the DownloadableProductsSample type"
This issue is automatically created based on existing pull request: magento/magento2#31187: Add uid field to the DownloadableProductsSample type

---------
For the Downloadable Product GraphQL schema file contains the DownloadableProductSamples type. In this type, We have already deprecated id field and we will replace it with uid changes.

Only changes of UID will automatically gets the latest ch

[2020-12-07 20:54] engcom-Delta commented on #28107
@catalyst-steve I rechecked and issue is still not reproducbile on EE 2.4-develop
**Manual testing scenario:**
- Create Gift Card
![image](https://user-images.githubusercontent.com/51681379/101080228-2e778380-35b1-11eb-9551-ac0e05d136b0.png)
- Place order with created gift card
- Create invoice for order
- Generate admin bearer token
- Do a GET request to https://[DOMAIN]/rest/V1/orders/{id} using

[2020-12-07 21:29] markshust commented on #28897
FYI I just published a new Docker image for PHP 8.0 at https://github.com/markshust/docker-magento/tree/master/images/php/8.0

You can use the standard docker-compose setup at https://github.com/markshust/docker-magento and install Magento as usual. After it's installed, update the `docker-compose.dev.yml` file to use the new image/tag:
`markoshust/magento-php:8.0-fpm-develop`

I hope this helps o

[2020-12-07 23:40] viniciusbordinhao-blueacorn commented on #30293
@magento-engcom-team

This issue is not reproducible on Community Edition since the media_image type is banned from the frontend and backend as an attribute like you can see below:

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/Model/Address/DataProvider.php#L216

I am not even able to create the attribute via admin panel like the steps to reproduce the issue sugge

[2020-12-07 23:44] viniciusbordinhao-blueacorn commented on #30294
@magento-engcom-team

It is related to issue #30293 , Therefore I will use the same comment that I wrote there:

This issue is not reproducible on Community Edition since the media_image type is banned from the frontend and backend as an attribute like you can see below:

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/Model/Address/DataProvider.php#L216

I am not ev

[2020-12-08 02:25] magento-engcom-team opened #31195 "[EY] Support CORS for GraphQL"
As a web developer, I want Magento to support the CORS standard:

https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

so that I can develop my applications according to defined best practices. 

Use env for settings not system config

Other Issues:

Related issue: https://github.com/magento/magento2/issues/28561 (original issue: https://github.com/magento/magento2/issues/8399)

Acceptance Crit

[2020-12-08 02:25] magento-engcom-team commented on #31195
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-39743

[2020-12-08 02:45] magento-engcom-team opened #31196 "[EY] Routable Interface in GraphQL"
More info here. <https://github.com/magento/architecture/blob/898049e0834d7a07e4a9ee500937c011a111aa99/design-documents/graph-ql/coverage/storefront-route.md>

**Acceptance Criteria:**

Add a `RoutableInterface` to the base schema, and require all entity types which are routable to implement it.

A subset of Magento entities is "routable", in that they have URLs and they serve as the model for a r

[2020-12-08 02:45] magento-engcom-team commented on #31196
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-39746

[2020-12-08 04:29] krishprakash commented on #31188
@magento give me 2.4-develop instance

[2020-12-08 04:45] Adel-Magebinary commented on #18229
This issue still happens at 2.3.5-p2

[2020-12-08 05:00] magento-engcom-team commented on #31188
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39748` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-08 05:01] saphaljha commented on #31188
@magento I am working on this issue.

[2020-12-08 06:11] srenon opened #31197 "Magento loading the wrong Tax info on admin Invoice and Creditmemo page"
After upgrading from Magento 2.3.3 to 2.4.1, we are having random broken invoice pages. After further debugging, this seems to be core issue.

### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Install clear Magento!
2. Set-up tax rule for `CA` region.
3. Go to `Store`->`Configuration`->`Sales`->`Tax`->`Orders, Invoices, Credit Memos Display Settings` and set
     `Inclu

[2020-12-08 07:57] Swahjak commented on #15115
Experiencing similar issues on Magento 2.4.1, why was this issue closed? As it is obviously still unresolved (based on the comments and experience).

[2020-12-08 08:11] NickdeK opened #31199 "`data-price-amount` doesn't get updated on configurable product page"
### Preconditions (*)
1. Magento 2.4.1
2. Configurable product where the price changes based on the options you select

### Steps to reproduce (*)
1. Go to a configurable product where the price changes when options are changed
2. On page load the `data-price-amount` on the span's with class `price-wrapper` are set correctly
3. Change the options so the price(s) change on the page

### Expected re

[2020-12-08 08:59] MrBlueEyez opened #31202 "Magento 2.4 product_list_toolbar not showing because of incorrect count"
### Preconditions (*)

1. A category with at least one (simple) product is created.
2. Elasticsearch 7 enabled for catalog search.

### Steps to reproduce (*)
1. Open the POP for the category with at least one (simple) product.
2. On this page, look for the toolbar, it should contain tools to order the page.

### Expected result (*)
1. Expecting to see the toolbar and allow us to change the sortin

[2020-12-08 09:04] rutgerrademaker opened #31203 "Performance toolkit makes wrong assumptions on retrieving admin tokens after updating to 2.4.1"
### Preconditions (*)

1. 2.4.1
2. Also tested with jmx file from 2.4-develop branch

### Steps to reproduce (*)

Option 1 (actual scenario)

1. Generate data for performance testing https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-perf-data.html
2. Install / configure Jmeter (Here's a nice write-up on that: https://www.magentoextensions.org/documentation/md_vendor_m

[2020-12-08 09:30] oviliz commented on #11372
And even on 2.4.1... @magento-admin

[2020-12-08 10:03] ioweb-gr opened #31204 "Inventory sources cannot be deleted only disabled"
It's impossible to delete custom sources that were created by mistake, during development for testing purposes or no longer needed even if we don't assign them to stocks or sales channels.

### Preconditions (*)
1. Magento 2.4.1 with MSI
2. Add an additional custom source in Manage Sources

### Steps to reproduce (*)
1. Create a custom source
2. Try to delete a custom source

### Expected result (

[2020-12-08 10:04] ioweb-gr commented on #31204
@magento give me 2.4-develop instance

[2020-12-08 10:10] Pavel-Fekete commented on #31190
The issue is reproducible on the latest Magento 2.4-develop

**Steps to reproduce:**

1.  Enable DHL Shipping and Configure necessary Information
![DHL enable](https://user-images.githubusercontent.com/67371013/101468576-4736bf00-394c-11eb-80e1-e683a38eee12.png)
2. Set "Free Method", "Enable Free Shipping Threshold" and "Free Shipping Amount Threshold" for Default DHL Magento Shipping Method under

[2020-12-08 10:14] ioweb-gr commented on #31204
It's the same on the dev instance

[2020-12-08 10:22] engcom-Hotel commented on #29334
Hello @maciej-orba.
Trying to reproduce the issue and not able to do it.

Steps which I have used:
PHP 7.4
MySQL  Ver 8
1. composer create-project --repository=https://repo.magento.com/ magento/project-community-edition=2.4.0 .
 (sample data packages are not present at composer.json file yet)
2. bin/magento setup:install*
3. bin/magento deploy:mode:set developer
4. bin/magento sampledata:deploy
 (

[2020-12-08 10:26] Pavel-Fekete commented on #31204
According to magento [documentation](https://docs.magento.com/user-guide/catalog/inventory-sources-disable.html): Sources may not be deleted to ensure all order data retains in Magento. Sources, orders, and shipments are directly connected to each other. You can disable sources and modify information including location and point of contact.

[2020-12-08 10:31] maciej-orba commented on #29334
@engcom-Hotel please refer to first post.
in your case: cleanup DB and install again WITH sample data modules in composer.json
Regards

[2020-12-08 10:51] ioweb-gr commented on #31204
@Pavel-Fekete This is also happening to ERPs to retain data coherence, however, when a source has no type of connection to order data or shipments I think it's useful be able to delete it. I think the delete action should be allowed but throw an exception if there's related data that depend on the specific source.

[2020-12-08 11:13] itisraza commented on #31204
Totally agree with @ioweb-gr, there should be a delete option and the system should validate underlying entities before triggering the delete i.e. if dependent entity exists then return the delete operation with error otherwise system should allow the delete.

Regards,
Raza.

[2020-12-08 11:15] Pavel-Fekete commented on #31202
Hello @MrBlueEyez

On the latest 2.4-develop, I have a category with at list one simple product, and sorting tool is present on the category page
![Sorting](https://user-images.githubusercontent.com/67371013/101476783-ef518580-3956-11eb-85c2-7d71f9948fd1.png)
Correct me if I'm wrong, which toolbar are you expecting to see on this page?

[2020-12-08 11:32] engcom-Hotel commented on #29334
Tried, also works as expected.
Steps:
1. https://github.com/magento/magento2/issues/29334#issuecomment-740530131
2. bin/magento se:un
(DB is empty)
3. bin/magento setup:install*
Could you please try my steps and let me know if you are able to reproduce the issue?

[2020-12-08 11:40] ioweb-gr commented on #31204
This can also be caught on the data layer as well for additional safeguards with a ON DELETE RESTRICT

[2020-12-08 11:47] guvra commented on #29334
On my end, on both Magento 2.4.0 and 2.4.1, I can reproduce the issue 100% of the time with the following steps:

1. Create the project using the `composer create-project ...` command
2. Manually add the sample data packages to composer.json
3. Install magento using bin/magento setup/install

We have a set of bash scripts that handles the installation of Magento, everything worked perfectly until

[2020-12-08 11:49] davidandersson1 commented on #30315
Do some investigation and found that due to bundle products catalog_product_price reindex time has been increased. we have around 600 bundle products.
catalog_product_price reindex time with bundle products = 38-40 mins
without bundle only 2-3 mins

[2020-12-08 11:54] chiara-delrio commented on #30775
I am having the same issue with GraphQL and Magento 2.4

[2020-12-08 13:11] engcom-Hotel commented on #29334
@guvra
Could you please check the issue according to my steps?
Basically, it is just
"bin/magento sampledata:deploy"
instead of manual customization of the composer.json file.
And let me know if you can reproduce it.

[2020-12-08 13:41] Hexmage opened #31206 "[GraphQl] Selected shipping method does not contain value including tax."
### Preconditions (*)

1. Magento 2.4.1 (also present in at least 2.3.5p2)

### Steps to reproduce (*)

1. Enable the shipping method flatrate and set its price to 10
2. Configure a default tax class for shipping that's not 0%. My example is 21%
2. Set tax/calculation/shipping_includes_tax to "Including Tax"
3. Set tax/cart_display/shipping to "Including Tax"
4. Set tax/display/shipping to "Includ

[2020-12-08 14:00] kory27 commented on #31103
Hi,

I have an update.

Please view the attached payment logs. I have debug mode on. It shows the $0 transactions as Approved. But, in PayPal Manager all transactions are declined with a reason code of 12. The website spins out and never completes the transaction. The order doesn't show as a failed order and no failed order emails fire off.

I turned off my theme and the same thing happened. So, I

[2020-12-08 14:11] fmsthird commented on #29334
This might sound unrelated but when I changed my Elasticsearch version to 7.6.0, ddl statements issue and other installation errors were gone.

[2020-12-08 14:42] engcom-Hotel commented on #29334
@maciej-orba @guvra could you please also check elasticsearch version.
Recommendation for it you may find here:
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/elasticsearch.html

[2020-12-08 14:44] maciej-orba commented on #29334
ES Version: 7.6.2

[2020-12-08 14:48] mateuszrusiecki commented on #12598
I have the same issue(exactly like @webmdt described - I used 20 options with single products)
I have Magento ver. 2.3.5-p2 and php 7.3. I increased max_input_varr to 100000 but it didn't helped.

[2020-12-08 14:52] mateuszrusiecki opened #31209 "Magento 2.3 Error: "Invalid Form Key. Please refresh the page." When creating Bundled Products"
### Preconditions
1. Magento 2.3.5-p2
2. PHP 7.3
3. max_input_vars=100000

### Steps to reproduce
1. Create new bundled products
2. Add 20 options with single product attached to each
3. Save the bundled product

### Expected result
1. Bundled product saved successfully.

### Actual result
1. Unable to save bundled product, error: "Invalid Form Key. Please refresh the page."

[2020-12-08 14:56] guvra commented on #29334
@engcom-Hotel I can't test it with your steps because you add the sample data packages AFTER installing magento.
This can't be done with the way we implemented our tools.

But I can confirm it's also 100% reproducible on my side with the following steps:

1. Create the project using the composer create-project ... command
2. Use `bin/magento sampledata:deploy`
3. Install magento using bin/magento

[2020-12-08 14:59] guvra commented on #29334
Additional stack trace:

[code]

[2020-12-08 15:03] Pavel-Fekete commented on #27470
Reproducible on the latest 2.4-develop

**Steps to reproduce:**

1. Setup cart price rule with the following conditions
![new rule](https://user-images.githubusercontent.com/67371013/101499713-4155d380-3976-11eb-9a6b-244b20a15195.png)
2. Go to frontend and add corresponding products to the cart
![Shopping cart](https://user-images.githubusercontent.com/67371013/101500003-92fe5e00-3976-11eb-977f-c6

[2020-12-08 15:10] mauragcyrus commented on #31114
Checked and this is not reproducible so closing this issue.

[2020-12-08 15:10] #31114 closed, assigned to nobody

[2020-12-08 15:16] engcom-Charlie commented on #31069
Hello @siimm we are not able to reproduce on latest 2.4-develop by the following steps:

1. Set all indexers to `Update by Schedule` mode
2. Create two websites, each with own StoreView
3. Create a product on the second website, with `name, sku, qty, price, status=enable, Stock Status=In Stock`.
4. Fire an API call to `rest/V1/products/{sku}/websites`, adding the product created in step 3 to the `

[2020-12-08 15:24] engcom-Hotel commented on #29334
@guvra
Provided steps https://github.com/magento/magento2/issues/29334#issuecomment-740530131 just closer to the issue description.
I have tested it in both ways.
1. composer create-project --repository=https://repo.magento.com/ magento/project-community-edition=2.4.0 .
(sample data packages are not present at composer.json file yet)
2. bin/magento sampledata:deploy
(sample data packages are prese

[2020-12-08 15:38] vishalpatel19862 commented on #14667
@DrewML having same issue with 2.3.1. any solution?

[2020-12-08 16:05] nicholasscottfish commented on #29756
This is common on environments running multiple php versions. Running 'which php' on the server will confirm which version of php the command line is using; in our case we had to specify php 7.4 when running commands manually:

`/usr/bin/php74 bin/magento admin:user:create`

[2020-12-08 16:06] iphigenie commented on #28614
I had it back in August on Stripe

First batch of about 25 attempts failed at card validation. Second session was a lot more but in between I'd talked to Stripe so they got blocked by gateway. In the meantime I set cloudflare to do a js challenge on all countries not in my core list (a luxury I have on this site)

I havent seen an attempt since. Don't know if it also is new Magento version, new st

[2020-12-08 16:07] guvra commented on #29334
@engcom-Hotel It does work when I replicate the same steps directly from the VM.

I don't know how to give you simple steps that would allow you to reproduce the issue for sure.

When I look at the stack trace, the cause of the issue is pretty logic though:
- The InstallSalesSampleData setup triggers a reindexation
- The reindexation triggers a truncate table
- Truncate table is a DDL query, which

[2020-12-08 16:13] sdzhepa commented on #15115
Seems this issue has been closed by mistake
Reopen it not fixed yet

[2020-12-08 16:18] elisei opened #31211 "[Vault] Template term is not translatable"
Unable to create translation for [highlighted term](https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e08609376ac39e/app/code/Magento/Vault/view/frontend/templates/customer_account/credit_card.phtml#L46-L48)

### Preconditions
1. Magento 2.3+
2. Payment method with vault support and using [native template](https://github.com/magento/magento2/blob/9544fb243d5848a497d4ea7b88e0860937

[2020-12-08 17:00] ityetti opened #31213 "Added missing save operation for bulk"
### Preconditions (*)

1. When you create own bulk and make it via
`$this->bulkManagement->scheduleBulk($bulkUuid, $operations, $bulkDescription, $userId);`
Operation doesn't save. (This tread it is reference to this issue - https://github.com/magento/magento2/issues/23958)

### Steps to reproduce (*)

1. Read this tread - https://github.com/magento/magento2/issues/23958

### Expected result (*)

[2020-12-08 17:08] nemke82 commented on #22196
@engcom-Charlie how is this issue fixed in 2.4-develop?

HTTP/2 200
server: nginx/1.14.1
date: Tue, 08 Dec 2020 16:59:04 GMT
content-type: text/html; charset=UTF-8
cache-control: no-store, no-cache, must-revalidate
expires: Thu, 19 Nov 1981 08:52:00 GMT
pragma: no-cache
set-cookie: PHPSESSID=1pucas00l87kchgbfqdeg6c4c2; expires=Tue, 08-Dec-2020 17:59:04 GMT; Max-Age=3600; path=/; domain=.gitpod.io;

[2020-12-08 18:18] Lunaetic commented on #31121
Alright, working on this waylaid by the fact that one of the use cases relies on a static call to File/Uploader::getNewFileName (which I'm guessing is why there aren't currently unit tests for this code :( ) Halting work on this and seeing if that can be addressed.

[2020-12-08 18:34] mrtuvn commented on #29334
@engcom-Hotel have you try scenario install both magento and data at same time ? Composer update with sample data required in file composer.json and after composer downloaded all files you start installing

[2020-12-08 18:57] sidolov commented on #15115
Hi here! I have investigated an issue a little bit, agree that it's really hard to reproduce it, but I found steps to reproduce with some direct changes in the DB. And thank you guys for your comments, it helped a lot!

So, the following steps may help you to reproduce the issue:
1. Configure persistent shopping cart with the following settings
<img width="2258" alt="Screen Shot 2020-12-08 at 12 4

[2020-12-08 19:08] sdzhepa commented on #15115
The issue was investigated and prioritized today during a public triage meeting.
- Issue very specific and does not have simple steps to reproduce
- after review comments and code analyses it seems that the bug exists and should be fixed
- initial description was updated - added links to the comment with possible steps to reproduce and result of the investigation
- triaged and confirmed it as P1

[2020-12-08 19:09] magento-engcom-team commented on #15115
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39765` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-08 19:49] sasha19957099 commented on #30463
propesed schema changes
https://github.com/magento/architecture/pull/472

[2020-12-08 19:52] magento-engcom-team commented on #31211
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39767` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-08 19:53] sasha19957099 commented on #31112
@magento I am working on this

[2020-12-08 19:53] m2-assistant[bot] opened #31215 "[Issue] Correct plural string"
This issue is automatically created based on existing pull request: magento/magento2#31207: Correct plural string

---------
### Description (*)
Just found it today, a mistyping somewhere :-)

Display correct plural strings under condition

[2020-12-08 19:54] m2-assistant[bot] opened #31216 "[Issue] fix for ambigous column user_id in where clause"
This issue is automatically created based on existing pull request: magento/magento2#31205: fix for ambigous column user_id in where clause

---------
Magento\Users\Model\ResourceModel\User\Collection addFilterToMap for user_id

### Description (*)
When filtering Magento\Users\Model\ResourceModel\Users\Collection by user_id , it throws an SQL exception ( ambigous user_id in where condition )

**Pr

[2020-12-08 22:03] ihor-sviziev commented on #30575
@jissereitsma I believe the only one valid fix will be introducing some not dynamically created logger proxy with the same logic inside

[2020-12-08 22:30] magento-engcom-team commented on #26114
Hi @0-Sony.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-29941` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still r

[2020-12-08 22:59] moloughlin opened #31217 "[AWS Aurora] Indexing not using in-memory temporary tables on AWS Aurora"
### Preconditions (*)
1. Any version of Magento
2. Using AWS Aurora as the default and/or indexer DB

### Steps to reproduce (*)
1. ./bin/magento indexer:reindex

### Expected result (*)
1. Complete within a reasonable time frame

### Actual result (*)
1. Index process takes unreasonably long on a non-trivial data set

---

- [X] Severity: **S2** _- Affects non-critical data or functionality and f

[2020-12-08 23:01] moloughlin commented on #31217
Note; we've employed the following workaround on multiple projects successfully, though it's not an ideal solution.

[code]

[code]

[2020-12-08 23:03] moloughlin commented on #31217
@kandy FYI, per https://twitter.com/MrKAndy/status/1336046798150963202 - hope it helps!

[2020-12-08 23:07] moloughlin commented on #31217
Note; we've employed the following workaround on multiple projects successfully, though it's not an ideal solution.

[code]
    /**
     * Immediately switch to memory engine (which should be the default according to core schema)
     * Workaround for AWS Aurora
     *
     * @param \Magento\Catalog\Model\ResourceModel\Product\Indexer\TemporaryTableStrategy $subject
     * @param $result
     * @r

[2020-12-08 23:26] TonySchiano commented on #31104
Same Issue,
multiple order have multiple checkout with different quoteID.
I have this issue with braintree payments.
![WhatsApp Image 2020-12-08 at 23 51 52](https://user-images.githubusercontent.com/9199001/101553538-1ccd1c00-39b5-11eb-8221-3aa0bce7c1e2.jpeg)

[2020-12-08 23:46] Leland commented on #30705
This is a non-issue IMO.

Long pages have scrollbars. Short pages do not. That's just how browsers work.

The Luma homepage in the issue description's GIF doesn't have a scrollbar because it's, well, an empty homepage. Once content is added, this issue will be "fixed."

[2020-12-09 00:37] mauragcyrus commented on #30100
https://github.com/magento-commerce/magento2ce/pull/6383 and https://github.com/magento-commerce/magento2ee/pull/2699 covered a fix for this (cc: @cspruiell)

[2020-12-09 00:37] #30100 closed, assigned to nobody

[2020-12-09 03:32] kotamreddy commented on #26002
Is this issue resolved in the latest version of Magento?  How to keep this issue active?  Is someone working on it?

[2020-12-09 03:46] Leland commented on #25592
This is still important to me.

[2020-12-09 08:21] thomas-kl1 commented on #5891
Don't stale :)

[2020-12-09 08:27] WilliejanB commented on #20352
Has this issue been solved? In Magento 2.4.0 it still exists. Please let me know in which version it is solved?

[2020-12-09 08:28] shikhamis11 commented on #27346
@magento give me 2.3.4 instance with edition ee

[2020-12-09 08:37] dooblem commented on #29334
Hello. This might not be specific to sample data. We got the issue on one project when upgrading to 2.4.

[2020-12-09 08:45] davidandersson1 opened #31219 "Product price reindex takes too long with Magento 2.4.1 + MySQL 8.x + PHP 7.4 + nginx"
Hello,

We are facing issue on catalog_product_price reindex. reindex takes too long to complete or never completes.

### Preconditions (*)
1. Magento version 2.4.0 or 2.4.1
2. MySQL version 8.x
3. PHP version 7.4
4. Total number of products = 400k (400000)
5. Total number of bundle products = 1000

### Steps to reproduce (*)
1. Create 1000 bundled products with 15 options.
2. Create 1 bundled pro

[2020-12-09 08:49] Pavel-Fekete commented on #31209
Hello @mateuszrusiecki

I Couldn't reproduce this issue on the latest 2.4-develop
Bundled product (with 20 options) saved successfully and displayed on the frontend
![Bundled product](https://user-images.githubusercontent.com/67371013/101606429-0f8f4c00-3a0c-11eb-9427-d39d48eef79d.gif)

[2020-12-09 09:27] shikhamis11 commented on #31183
@magento give me 2.3.4 instance with edition ee

[2020-12-09 09:31] shikhamis11 commented on #31183
@magento give me 2.4-develop instance with edition ee

[2020-12-09 10:03] magento-engcom-team commented on #30377
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39781` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-09 10:05] paulvandermeijs commented on #30853
I noticed in `app/code/Magento/Sales/Model/Order/Invoice/Total/Tax.php` that the discount tax compensation is added to the grand total; if I'm right that is the amount that is removed from the tax by a discount. In that case shouldn't it be excluded from the grand total?

https://github.com/magento/magento2/blob/445b0f1a3d6a91b5da32d311077c2112ef0b1503/app/code/Magento/Sales/Model/Order/Invoice/To

[2020-12-09 10:10] engcom-Hotel commented on #29334
For those, who have some issues with sample data composer version and can’t find the reason - try to clone it separately from https://github.com/magento/magento2-sample-data
1. gh repo clone magento/magento2-sample-data
2. php -f magento2-sample-data/dev/tools/build-sample-data.php -- --command link --ce-source .
(link it with already installed magento)
*path depends, here sample data has been dow

[2020-12-09 10:13] Eddcapone opened #31220 "Entry in quote_item is not getting deleted after product is deleted"
### Preconditions (*)

1. 2.4.1

### Steps to reproduce (*)

1. Create a new product
2. Add the product to the cart
3. Open the database table "quote_item" and filter for the related quote_id.
4. Notice that the quote_item has one entry for the product you just added to the cart
![image](https://user-images.githubusercontent.com/16349349/101616341-8bd75e80-3a0f-11eb-9bdc-3222e7e26814.png)

5. Dele

[2020-12-09 10:16] mrtuvn commented on #29334
@engcom-Hotel sample data work when install after magento installed success. But it will fails when you install same time with magento
Can you addressing this issue. I found problem with csv file here (invalid json)
https://github.com/magento/magento2-sample-data/blob/2.4-develop/app/code/Magento/CatalogRuleSampleData/fixtures/catalog_rules.csv
This file has never changed 4 years. But now i believ

[2020-12-09 10:19] ThomasNegeli commented on #30853
@paulvandermeijs
Until 2.2.11 the $invoice->getGrandTotal() was a negative value in that case.
In 2.3 something happenend so that the $invoice->getGrandTotal() returns 0 (which is logically right, but wrong when adding tax compensation).

[2020-12-09 10:19] engcom-Hotel commented on #29334
@mrtuvn Could you please provide steps for "install at the same time"?
Is it different from steps from https://github.com/magento/magento2/issues/29334#issuecomment-740686322?
Thank you.

[2020-12-09 10:22] mrtuvn commented on #29334
Steps
1. Run composer init project (composer create-project)
2. Edit composer.json -> Add manual packages sampledata
3. Run composer update to download files modules related with sample data
4. At step all files ready in vendor
5. Start install magento via command line

[2020-12-09 10:26] mrtuvn commented on #29334
I will try your steps mentioned tonight and will back with the results

[2020-12-09 10:29] shikhamis11 commented on #31183
@magento give me 2.4.1 instance with edition ee

[2020-12-09 10:31] ihor-sviziev commented on #30705
Hi @Leland,
TBH I do agree with @Leland that it's not an issue, but just a default behavior of the browsers which is expected.

What do you think about that?

[2020-12-09 10:31] krishprakash commented on #28940
Hi @SmooreMB. Not able to replicate the issue as you mentioned
It maybe due to bad from address, bad reply to address, bad dkim signature, bad SPF setup as answered by @gwharton
Thanks!!

[2020-12-09 10:31] #28940 closed, assigned to nobody

[2020-12-09 10:32] krishprakash commented on #28929
@magento give me 2.4-develop instance

[2020-12-09 10:40] gwharton commented on #30705
As the original reporter of the issue, I was going to close it as soon as i realised it was a scroll bar issue, however after a bit of thought, I couldnt decide whether it was valid or not.

I understand exactly why it is happening, but..... I dunno, it just feels like the luma theme, in its out of the box format, should present a nice example of a UI which doesn't suffer from the shifting when br

[2020-12-09 10:44] krishprakash commented on #28929
Hi @aqdennis. Thank you for your report.
Not able to replicate issue on latest magento 2.4-develop instance.
![image](https://user-images.githubusercontent.com/46617848/101619538-6d865880-3a39-11eb-87ef-8bc2068a5259.png)
Feel free to reopen once you confirm the issue reproduce on 2.4-develop instance

[2020-12-09 10:44] #28929 closed, assigned to krishprakash

[2020-12-09 10:46] Aquive commented on #8170
Is this issue being worked on? Any updates form @magento-admin

[2020-12-09 10:46] Aquive commented on #10901
Any updates on this?

[2020-12-09 10:49] shikhamis11 commented on #31183
@magento give me 2.4.0-beta2 instance with edition ee

[2020-12-09 10:50] krishprakash commented on #28538
Closed as duplicate #28541

[2020-12-09 10:50] #28538 closed, assigned to nobody

[2020-12-09 10:50] shikhamis11 commented on #31183
@magento give me 2.4.0 instance with edition ee

[2020-12-09 10:51] krishprakash commented on #28542
Closed as duplicate #28541

[2020-12-09 10:51] #28542 closed, assigned to nobody

[2020-12-09 10:51] krishprakash commented on #28534
Closed as duplicate #28541

[2020-12-09 10:51] #28534 closed, assigned to nobody

[2020-12-09 10:53] krishprakash commented on #28533
Closed as duplicate of #28529

[2020-12-09 10:53] #28533 closed, assigned to nobody

[2020-12-09 10:55] krishprakash commented on #28535
Closed as duplicate of #28531

[2020-12-09 10:55] #28535 closed, assigned to nobody

[2020-12-09 10:58] Pavel-Fekete commented on #30341
Not reproducible on the latest 2.4-develop

Checked with the steps from description:
1. Have multiple store views setup.
2. Create a product with a custom option (see screenshot) and set the price of the product.
![custom options](https://user-images.githubusercontent.com/67371013/101619400-e5de2100-3a1b-11eb-8deb-71d834f2c09e.png)
3. Switch to the store view level and change the price of the cust

[2020-12-09 11:19] #30705 closed, assigned to nobody

[2020-12-09 11:21] magento-engcom-team commented on #30705
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-09 11:24] krishprakash commented on #26951
Hi @deepakpant91. Thank you for your report.
Feel free to reopen once you confirm that issue is reproduce on 2.4-develop instance

[2020-12-09 11:24] #26951 closed, assigned to krishprakash

[2020-12-09 11:30] krishprakash commented on #26340
Hello @jamie-selesti
Closing this ticket due to inactivity
Feel free to reopen/comment with reproducible steps
Thanks!!

[2020-12-09 11:30] #26340 closed, assigned to nobody

[2020-12-09 11:35] Jieiku opened #31222 "Gain Performance by making Magento2 Lightweight with Configurable Modules Included or Disabled"
### Summary (*)
I am seeing 181 requests totaling 2.03 MB on my home page, also this is a fresh install of Magento using Luma theme, there are no added images on homepage. For some they will think this is not a lot and can mostly be managed by using bundles, but for anyone performance oriented they are going to wonder why ALL of these js files are being loaded on their home page that has nothing i

[2020-12-09 11:39] kassner commented on #26209
bump -.-

[2020-12-09 11:50] krishprakash commented on #30144
Hi @elizad. Thank you for your report.
Feel free to reopen once you confirm that issue reproduce on 2.4-develop instance

[2020-12-09 11:50] #30144 closed, assigned to nobody

[2020-12-09 11:57] korovitskyi commented on #31180
@magento I am working on this

[2020-12-09 12:02] dverkade commented on #30341
@Pavel-Fekete you're screenshot do not show the "Use default value" checkbox for the price, only for the title. That's the issue here. Even if switching from storeviews is now working you'll never ever be able to fall back to the default scope again.

[2020-12-09 12:05] krishprakash commented on #28206
Hi @jitenderkamat. Thank you for your report.
Closing this issue due to inactivity

[2020-12-09 12:05] #28206 closed, assigned to nobody

[2020-12-09 12:05] engcom-Hotel opened #31224 "Improve Fulltext indexer to not stop when getSearchableProducts return 0 depending on batch or other plugins"
### Summary (*)
Recreated from https://github.com/magento/magento2/issues/30798

Based on the issue mentioned above, there may be scenarios that with some customizations to Magento that will cause problems where Fulltext indexer will stop because `getSearchableProducts` returns 0 and the condition `while (count($products) > 0)` makes the indexer stop.

More details are provided on the discussion o

[2020-12-09 12:08] engcom-Hotel commented on #30798
Recreated the issue at https://github.com/magento/magento2/issues/31224

[2020-12-09 12:08] #30798 closed, assigned to engcom-Hotel

[2020-12-09 12:14] m2-assistant[bot] opened #31225 "[Issue] Add missing entity type constraint to catalog URL rewrite check"
This issue is automatically created based on existing pull request: magento/magento2#31218: Add missing entity type constraint to catalog URL rewrite check

---------

### Description (*)

This fixes the error
[code]

Which happens if one tries to access a URL which ends with a category URL rewrite. It happens because `findProductRewriteByRequestPath` in that class doesn't constrain the `$productF

[2020-12-09 12:20] sasha19957099 commented on #31115
@magento I am working on this

[2020-12-09 12:29] robbie-thompson commented on #30958
We've noticed this when using the Bulgarian locale with Euros, it doesn't seem specific to Lev.

[2020-12-09 12:45] Pavel-Fekete commented on #31220
Not able to reproduce on 2.4.1

"quote_item" table when product is added to cart
![add to cart](https://user-images.githubusercontent.com/67371013/101631185-9d7b2f00-3a2c-11eb-92c7-af09724e8ded.png)

"quote_item" table after deleting product from the backend
![empty](https://user-images.githubusercontent.com/67371013/101631423-fa76e500-3a2c-11eb-830b-3f3538044d0f.png)

[2020-12-09 12:49] dphilipps opened #31226 "Braintree vault JS error"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-12-09 12:50] dphilipps commented on #31226
@magento give me 2.4-develop instance

[2020-12-09 12:56] Eddcapone commented on #31220
Then maybe a third party extension is causing this. Thank you for testing!

[2020-12-09 12:56] #31220 closed, assigned to nobody

[2020-12-09 13:36] #31226 closed, assigned to nobody

[2020-12-09 13:47] Damikooo opened #31227 "All orders creating with 0000-00-00 00:00:00 created_at"
I'm using Magento 2.2.9 and i can't create order.
Before this i was getting Undefined index: year in /var/www/html/vendor/magento/zendframework1/library/Zend/Date.php on line 2653 at /var/www/html/vendor/magento/framework/App/ErrorHandler.php:61)"} []
I hardcoded it by this way
$parsed = ['date_format' => "yyyy-MM-dd",  "locale"=>"ru_RU", "year"=>"2020","month"=>"12","day"=>"02","fixed"=>0];
But n

[2020-12-09 13:55] kmvan commented on #30741
I removed `~/.config/composer` dir and solved.

[2020-12-09 14:19] mateuszrusiecki commented on #31209
@Pavel-Fekete sorry, the issue appears when there is 30+ options. And turns out that this is max_input_vars related. I changed the value wrong - for cli instead of fpm. After increasing it to 10000 and restarting fpm it worked.

But issue still persist. There "Invalid Form Key. Please refresh the page." message is useless, and debug log provide no informations whatsoever.

So you can set max_input

[2020-12-09 14:40] mateuszrusiecki commented on #31209
oh for fuck sake, now half of my options vanished after saving. This is so piece of shit...

[2020-12-09 14:54] magento-engcom-team commented on #31224
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39790` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-09 14:59] mrtuvn commented on #29334
Followed the way https://github.com/magento/magento2/issues/29334#issuecomment-740686322 i can finished install magento full 2.4.1 with sample data without any problem! No issue
The process download sample data via composer seem very slow (Almost 40minutes in my local! I have 70Mb fast Internet connection)
Here is some screenshot
![Screenshot from 2020-12-09 21-54-31](https://user-images.githubuse

[2020-12-09 15:09] mobeen-sarwar opened #31230 "Configurable products sorting by price issue"
**Preconditions (*)**

1- Magento 2.3.4
2- Not reproducible on 2.4.1

**Steps to reproduce (*)**

**1-** Install `Magento 2.3.4` with sample data

**2-** Go to some product category page that has configurable products from the front end
![menue](https://user-images.githubusercontent.com/75013004/101647007-0dec7500-3a5a-11eb-94c8-d85c50050db2.png)

**3-** Sort products by price from the sorting too

[2020-12-09 15:27] Pavel-Fekete commented on #31230
Not reproducible on the latest 2.4-develop with sample data
![price](https://user-images.githubusercontent.com/67371013/101649566-b4794b80-3a43-11eb-936c-855990b806f5.gif)

[2020-12-09 16:23] xekon commented on #30722
@thomas-kl1 Is your metapackage the bare minimum to get Magento 2 up and running? using my own meta package sounds like exactly what I might be looking for. I do not want all the modules that got installed by default, I use only 1 of them as far as I am aware, and I would much rather add modules on an as needed basis.

[2020-12-09 16:27] xekon commented on #30501
This is the reason that these modules should not be included by default, because its a slippery slope. If the goal were to always include the bare minimum required for a store front where users can register and view products then there would be so many less issues. Anyone able to install Magento can also add additional modules as they require them.

[2020-12-09 16:48] thomas-kl1 commented on #30722
@xekon didn't tried in production  but I did some tests and it was running fine :) Some packages are still mandatory because of wrong dependencies in the code (some PR are in progress).
Also I've added non mandatory package to the magento2-base-light metapackage such as the developer module. Be aware to specify the elasticsearch package you need.

[2020-12-09 17:51] nbennett25 commented on #28614
We just had an attack on our 2.3.3 site - we were able to add a `deny all` to the server config for a quick fix, & will look into the above suggestions.

[2020-12-09 18:15] m2-assistant[bot] opened #31232 "[Issue] Inconsistent labels for attributes in marketing rules"
This issue is automatically created based on existing pull request: magento/magento2#31231: Inconsistent labels for attributes in marketing rules

---------

### Description (*)

In task MAGETWO-94407, functionality was added for correct operation of marketing rules with configurable products. But additional labels for attributes are inconsistent. Some of them do not contain spaces, and some have

[2020-12-09 18:17] m2-assistant[bot] opened #31233 "[Issue] Removed usage of CliIndexerReindexActionGroup action group for Catalog module"
This issue is automatically created based on existing pull request: magento/magento2#31228: Removed usage of CliIndexerReindexActionGroup action group for Catalog module

---------
### Description
Remove usage or changed value of CliIndexerReindexActionGroup action group from tests to improve execution time for the Catalog module.

[2020-12-09 18:18] m2-assistant[bot] opened #31234 "[Issue] [MFTF] Refactoring of AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatTest"
This issue is automatically created based on existing pull request: magento/magento2#31221: [MFTF] Refactoring of AdminUpdateSimpleProductWithRegularPriceInStockEnabledFlatTest

---------
### Description (*)
The test is refactored according to the best practices

### Manual testing scenarios (*)
1. Enable flat catalog product
2. Create a simple product
3. Update product (main info) and save
4. Che

[2020-12-09 18:19] m2-assistant[bot] opened #31235 "[Issue] Add missing entity type constraint to catalog URL rewrite check"
This issue is automatically created based on existing pull request: magento/magento2#31218: Add missing entity type constraint to catalog URL rewrite check

---------

### Description (*)

This fixes the error
[code]

Which happens if one tries to access a URL which ends with a category URL rewrite. It happens because `findProductRewriteByRequestPath` in that class doesn't constrain the `$productF

[2020-12-09 18:20] gwharton commented on #23881
It is stale because nobody is working on a fix.

[2020-12-09 18:35] aliomattux commented on #28614
Really? Could you explain how deny all is a quick fix. That would deny anybody from reaching your site. I would not suggest that anybody use this as an option.

In general, the current best solution to this problem is to implement recaptcha. There are previous comments of a working extension for M2. There is too much spam in this thread. It does seem that Magento is uninterested in providing an up

[2020-12-09 18:42] sdzhepa commented on #28618
Hello @rakhi98

Thank you for your report and collaboration!

Based on confirmation result this issue related to 2.3.x release and does not exist in 2.4.
2.3.x branch is not available in this public repository so we are not able to process PR and provide updates here.

An internal ticket was created and added to the backlog for prioritization and future processing `MC-36829`

[2020-12-09 18:42] #28618 closed, assigned to nobody

[2020-12-09 18:42] sdzhepa commented on #28462
Hello @snez

Thank you for your report and collaboration!

Based on confirmation result this issue related to 2.3.x release and does not exist in 2.4.
2.3.x branch is not available in this public repository so we are not able to process PR and provide updates here.

An internal ticket was created and added to the backlog for prioritization and future processing `MC-36822`

[2020-12-09 18:42] #28462 closed, assigned to nobody

[2020-12-09 21:14] MagentoSeba commented on #29317
The instance is not accessible

[2020-12-09 21:25] wilfriedwolf opened #31237 "Row totals sum differs from subtotal in special cases when decimal qty is allowed"
### Preconditions (*)
Fresh Magento2 (Tested with 2.4.0)

### Steps to reproduce (*)
1. Create 2 identical products, Qty can be decimal: "yes", minimum Qty: 0.1, price 16.5  (choose no tax to exclude tax calculation effects)
2. Add 0.25 units of each product to cart.

### Expected result (*)
1. Each row total should be 4.13
2. Subtotal should be 8.26

### Actual result (*)
1. Each row total should

[2020-12-09 21:26] wilfriedwolf commented on #31237
@magento give me 2.4-develop instance

[2020-12-09 21:45] wilfriedwolf commented on #31237
I could reproduce this on the 2.4-develop instance:

![totals-from-dev-instance](https://user-images.githubusercontent.com/23700116/101692206-27002080-3a70-11eb-8e46-bd52f6bcf817.png)

[2020-12-10 00:50] maciej-orba commented on #29334
Guys, to still do `bin/magento sampledata:deploy` - this way it works.
Issue is whrn you have sample data entirs in your composer.json / lock files and thry to install magento with them

[2020-12-10 02:35] adarshkhatri commented on #24231
You are using DROPDOWN type. You will have to use "YES/NO" type. I confirm it is happening in my 2.3.6 instance. I will check this in fresh 2.3.6 shortly.

[2020-12-10 02:36] adarshkhatri commented on #24231
@magento give me 2.3.6 instance

[2020-12-10 04:17] krishprakash commented on #31230
Hi @mobeen-sarwar. Thank you for your report.
We can not approve and confirm issue which is already fixed in latest 2.4-develop instance
So kindly refer[ magento stack exchange ](https://magento.stackexchange.com/)or [community forum](https://community.magento.com/) for general discuss about this topic
Thanks!!

[2020-12-10 04:17] #31230 closed, assigned to krishprakash

[2020-12-10 04:38] Ana-spec-hub opened #31238 "Backend updates on Sold out to in Stocks does not update on our website."
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-12-10 04:58] krishprakash commented on #31238
Hi @Ana-spec-hub.
Kindly update all the details precondition,steps to reproduce,expected and actual result as per [issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
Without all these details your ticket should be closed
Thanks!!

[2020-12-10 05:07] krishprakash commented on #31227
Hi @Damikooo. Thank you for your report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this topic.

[2020-12-10 05:07] #31227 closed, assigned to krishprakash

[2020-12-10 05:50] krishprakash commented on #31237
@magento give me 2.4-develop instance

[2020-12-10 06:46] krishprakash commented on #31237
Hi @wilfriedwolf. Yes it shows row totals as 4.13 and sub total as 8.25 but as per product price sub total is correct 16.5/2  = 8.25
But yes here we can allow 3 digits for row total as 4.125 + 4.125 = 8.25

[2020-12-10 06:48] magento-engcom-team commented on #31237
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39808` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-10 07:09] hostep commented on #31213
@ityetti: out of curiosity: did you try this solution: https://github.com/magento/magento2/issues/23958#issuecomment-519834216 ? That was the solution for https://github.com/magento/magento2/issues/23958 and why the author closed the issue.

[2020-12-10 07:37] m2-assistant[bot] opened #31239 "[Issue] Invalid combination of tabs and spaces in phpstan.neon"
This issue is automatically created based on existing pull request: magento/magento2#31165: Invalid combination of tabs and spaces in phpstan.neon

---------

### Description (*)

The [phpstan.neon](https://github.com/magento/magento2/blob/2.4.1/dev/tests/static/testsuite/Magento/Test/Php/_files/phpstan/phpstan.neon) file contains both spaces and tabs for different lines. But [one line](https://gi

[2020-12-10 07:38] wilfriedwolf commented on #31237
Hi @krishprakash,

in my opinion you are not right. Of course

But I think you do have to give row total as full cents not as fraction of cents. I do not think, that this is legally correct.
And I do not think you can put 0.5 ct on an invoice (at least in Germany)

Also I do not quite agree about the S3 rating:
- This has also consequences with the invoice: As i saw it (I'll try to reproduce) the

[2020-12-10 07:38] wilfriedwolf commented on #31237
@magento give me 2.4-develop instance

[2020-12-10 07:57] wilfriedwolf commented on #31237
Hi @krishprakash

I was wrong. In vanilla Magento this also yields illegal invoices (see screenshot from the dev-instance). In my opinion it is not the row total that should be corrected, but the subtotal itself!
Please reconsider the severity.

Best regards,
Willi
![invoice](https://user-images.githubusercontent.com/23700116/101737813-a9ff9600-3ac5-11eb-8775-4750b7776747.png)

[2020-12-10 08:04] superdav42 commented on #13915
Please don't close this until it's fixed.

[2020-12-10 08:06] lunch22result commented on #2457
The command to start Magento 2 compilation progress is:
`php bin/magento setup:di:compile
`
If you see the error about php memory limit when compiling code, run this command
`php -dmemory_limit=4G bin/magento setup:di:compile`
You will see this message if the compile command runs properly
[code]
Reference source: [https://magentip.com/please-re-run-magento-compile-command-magento-2/](https://magen

[2020-12-10 08:28] markhyng commented on #26172
Hi @magento-engcom-team, any update?

[2020-12-10 08:47] stephansteiner commented on #19716
I ran into the same issue, having bundles consisting of products from the same manufacturer. The fix is to either add "bundle" to the list of values in "apply_to" or to set apply_to to NULL (so it can be assigned to any product type).
First, find out the attribute id by searching in the database for:
`select attribute_id from eav_attribute where attribute_code='manufacturer';`

Then, do an update

[2020-12-10 08:55] ihor-sviziev commented on #29334
Hi @maciej-orba,
Thank you for confirmation that the issue isn't reproducing anymore.
I'm closing this issue as not relevant.

[2020-12-10 08:55] #29334 closed, assigned to ihor-sviziev, engcom-Hotel

[2020-12-10 09:26] mattijv commented on #30486
This is due to the MSP_ReCaptcha module storing the public key in plain text (type="text"), but the Magento recapthca module stores it encrypted (type="obscure"). The migration however just copies the plain text value over, so when it is "decrypted", the resulting value is invalid.

To fix this get the `msp_securitysuite_recaptcha/general/public_key` value from the core_config_data (or your Google

[2020-12-10 09:26] mverstegen commented on #29216
i'm on 2.4.1, still not fixed, anyone knows a quick fix for this problem?

[2020-12-10 09:46] krishprakash commented on #30884
Hi @gabrielagusmao.
Feel free to reopen issue once you update all the details
Thanks !!

[2020-12-10 09:46] #30884 closed, assigned to nobody

[2020-12-10 09:46] iphigenie commented on #28614
I'd guess deny all for a particular IP or IP block - buy yourself the breathing space

I'm very wary of the Magento implementation of recaptcha in checkout since it has an "all or nothing" approach, has privacy and accessibility implications too.

I did put in place "a form of recaptcha" by using the cloudflare JS challenge but at least I can make it more granular - country specific.

[2020-12-10 09:56] krishprakash commented on #30877
Hi @GuiltyNL. Thank you for your report
MSI related issues should be reported to its separate [repo ](https://github.com/magento/inventory/issues)

[2020-12-10 09:56] #30877 closed, assigned to nobody

[2020-12-10 10:03] sugaryusuf commented on #26515
I am facing the same issue.  How did you solve it?

[2020-12-10 10:03] krishprakash commented on #30757
Hi @thinksys-dev. Ticket is not updated
Feel free to reopen once you update all the details
Thanks!!

[2020-12-10 10:03] #30757 closed, assigned to krishprakash

[2020-12-10 10:08] krishprakash commented on #30597
Hi @uvaper
Feel free to reopen once you update all the proper details.

[2020-12-10 10:08] #30597 closed, assigned to krishprakash

[2020-12-10 10:12] ihor-sviziev commented on #17310
Hi,

Due to this issue, we faced a few issues in the custom extensions that were resulting in the partially broken product page (**custom options and add to cart blocks**) were missing AND then cached in Varnish.

The investigation shown that basically when you're just creating any session object - it tries to start the session and as result tries to connect to Redis.

In the constructor, it just

[2020-12-10 10:39] krishprakash commented on #28327
Hi @Damikooo. Thank you for your report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this topic.

[2020-12-10 10:39] #28327 closed, assigned to krishprakash

[2020-12-10 10:50] engcom-Hotel commented on #31235
Closing as duplicate of https://github.com/magento/magento2/issues/31225

[2020-12-10 10:50] #31235 closed, assigned to aapokiiso

[2020-12-10 11:07] krishprakash commented on #27862
Hi @b2bdokter Feel free to reopen/comment the issue once you update the issue as per issue reporting guidelines
and also confirm the issue on magento instance once
Thanks!!

[2020-12-10 11:07] #27862 closed, assigned to krishprakash

[2020-12-10 11:11] magento-engcom-team commented on #31190
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39814` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-10 11:16] engcom-Bravo commented on #31204
Hello @ioweb-gr

Thank you for your report.

The Inventory sources can not be deleted for a reason. According to magento [documentation](https://docs.magento.com/user-guide/catalog/inventory-sources-disable.html): Sources may not be deleted to ensure all order data retains in Magento. Sources, orders, and shipments are directly connected to each other. You can disable sources and modify informatio

[2020-12-10 11:16] #31204 closed, assigned to nobody

[2020-12-10 11:20] engcom-Hotel commented on #31225
Hello @aapokiiso .
Trying to reproduce the issue
M2.4
PHP 7.3
ES 7
dev mode
1. Created a new category with name "Test Category" and URL Key "test-category".
2. Opened "<base_url>/asdf/test-category" - 404, no errors or reports.
![31225_test_category](https://user-images.githubusercontent.com/51681618/101765756-7125e800-3aea-11eb-8af1-b8882ffeca12.png)
![31225_fake_path_404](https://user-images.git

[2020-12-10 11:21] engcom-Bravo commented on #31202
Hello @MrBlueEyez

Thank you for your report.

We are not able to reproduce the issue on the latest 2.4-develop. The sorting dropdown is displayed and works.

Can you please provide more details and if possible screenshots?

Thank you in advance

[2020-12-10 11:25] engcom-Bravo commented on #27470
Hello @GordonMak

Thank you for your report

We confirm that the issue is reproducible on the latest Magento 2.4-develop

Additional info is added to the Description

[2020-12-10 11:27] magento-engcom-team commented on #27470
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39815` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-10 11:28] Kishorchhugani commented on #27223
I have the same issue on 2.4.1
Any one have any solution for this?

[2020-12-10 11:32] itisraza commented on #31209
Hello @mateuszrusiecki

Besides changing max_input_vars, please try changing max_input_nesting_level and max_input_time as well to some higher values. Hope this will help

Regards,
Raza.

[2020-12-10 11:44] itisraza commented on #31206
Hi @Hexmage, I think you need to include the following constructs in your input request
[code]
Hope this will help

Regards,
Raza.

[2020-12-10 11:48] andik85 commented on #25221
This issue appears because old Magento version has shipment_new.html with {{block ... }} directive
<img width="1523" alt="Снимок экрана 2020-12-10 в 14 36 29" src="https://user-images.githubusercontent.com/3668892/101767371-2b225180-3af5-11eb-8e07-88645ef2b66e.png">

But now it contaions {{layout ... }} directive.
<img width="1671" alt="Снимок экрана 2020-12-10 в 14 37 53" src="https://user-images

[2020-12-10 11:50] engcom-Delta commented on #31161
Hi @webrod  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**

- Add additional website, it has websiteid=>2 (second)
![image](https://user-images.githubusercontent.com/51681379/101767509-f4e0d400-3aec-11eb-930c-fddef0fcb059.png)

- Set a value to a category attribute like category name with admin scope (pick ALL STO

[2020-12-10 12:12] Hexmage commented on #31206
@itisraza those only exist for AvailibleShippingMethods, I want them on SelectedShippingMethod.

[2020-12-10 12:13] engcom-Bravo commented on #30260
:heavy_check_mark: QA Passed

### Manual testing scenario

1. Go to admin -> sales -> orders -> Created New Order -> Select Customer
2. Add simple product to the Order
3. Select Action => Move to Wish List
4. Click Update Items and Quantities button
![1](https://user-images.githubusercontent.com/67371013/101769701-0a0b3200-3af0-11eb-84f2-dd544111df3e.png)
5. Select checkbox 'Add To Order' => yes
6

[2020-12-10 12:15] brianrootways commented on #31105
@aloupfor  Let me know if you find any solution for this error.

[2020-12-10 12:17] brianrootways commented on #28092
@chequille  Let me know if you find any solution regarding to error: PayPal express checkout error something went wrong with your request.

[2020-12-10 12:35] engcom-Delta commented on #15047
@ihor-sviziev @joshdavenport I'm not able to reproduce issue by [steps](https://github.com/magento/magento2/issues/15047#issue-321016708) on clean 2.4-develop
**Result:**
:heavy_check_mark: The red swatch (out of stock) is crossed out.
![image](https://user-images.githubusercontent.com/51681379/101770971-e9dc7280-3af1-11eb-80b8-75d00cc42fed.png)

And according [comment](https://github.com/magento/

[2020-12-10 12:40] magento-engcom-team commented on #30265
Hi @magento-engcom-team. Thank you for your report.
The issue has been fixed in magento/magento2#31022 by @zaximus84 in 2.4-develop branch
Related commit(s):
 - [d01898822c090f5a04d616271bd94c8ae3679672](https://github.com/magento/magento2/commit/d01898822c090f5a04d616271bd94c8ae3679672)

The fix will be available with the upcoming 2.4.3 release.

[2020-12-10 12:40] #30265 closed, assigned to zaximus84

[2020-12-10 12:40] magento-engcom-team commented on #28511
Hi @TerrapinSoftware. Thank you for your report.
The issue has been fixed in magento/magento2#30868 by @gwharton in 2.4-develop branch
Related commit(s):
 - [e0d8149083b51604b82dbcee3d412f5424e7aa60](https://github.com/magento/magento2/commit/e0d8149083b51604b82dbcee3d412f5424e7aa60)

The fix will be available with the upcoming 2.4.3 release.

[2020-12-10 12:40] #28511 closed, assigned to gwharton

[2020-12-10 12:40] magento-engcom-team commented on #30830
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30822 by @thomas-kl1 in 2.4-develop branch
Related commit(s):
 - [f5d692ffa6c1e81f9528686a20cfa556677b0fd5](https://github.com/magento/magento2/commit/f5d692ffa6c1e81f9528686a20cfa556677b0fd5)
 - [73edcb1970607daf9e8843e2ff892c34345859e3](https://github.com/magento/magento2/commit/73edcb1970607daf9e8843e

[2020-12-10 12:40] #30830 closed, assigned to nobody

[2020-12-10 12:40] magento-engcom-team commented on #30909
Hi @aligent-lturner. Thank you for your report.
The issue has been fixed in magento/magento2#30910 by @aligent-lturner in 2.4-develop branch
Related commit(s):
 - [5512626bfdfdede24ded8095998c647092d60ebb](https://github.com/magento/magento2/commit/5512626bfdfdede24ded8095998c647092d60ebb)
 - [ffcc5234644f0b6813dcbacc120689c372ee7af9](https://github.com/magento/magento2/commit/ffcc5234644f0b6813dc

[2020-12-10 12:40] #30909 closed, assigned to aligent-lturner

[2020-12-10 12:40] magento-engcom-team commented on #29528
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28926 by @matiashidalgo in 2.4-develop branch
Related commit(s):
 - [fb9f52daa532b4020a9cb5a805ab1e2df87560d5](https://github.com/magento/magento2/commit/fb9f52daa532b4020a9cb5a805ab1e2df87560d5)
 - [2cbb726956d9e0481deeb99de348e6af769ea2ea](https://github.com/magento/magento2/commit/2cbb726956d9e0481dee

[2020-12-10 12:40] #29528 closed, assigned to matiashidalgo

[2020-12-10 12:40] magento-engcom-team commented on #31034
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31013 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [3adff7a93fd84bdcbb8b758119499bc5a528a417](https://github.com/magento/magento2/commit/3adff7a93fd84bdcbb8b758119499bc5a528a417)
 - [fe4a58f2533d49502a455b8436a29f88b463602a](https://github.com/magento/magento2/commit/fe4a58f2533d49502a455b843

[2020-12-10 12:40] #31034 closed, assigned to AnnaAPak

[2020-12-10 12:40] magento-engcom-team commented on #31160
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31079 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [a3aa42c4846a99c547dfcd53fb714d88f9971586](https://github.com/magento/magento2/commit/a3aa42c4846a99c547dfcd53fb714d88f9971586)
 - [42a2d1f00da7238a38cd5951d4014e5cddb1a5ba](https://github.com/magento/magento2/commit/42a2d1f00da7238a38cd5951d

[2020-12-10 12:40] #31160 closed, assigned to AnnaAPak

[2020-12-10 12:40] magento-engcom-team commented on #31152
Hi @sivaschenko. Thank you for your report.
The issue has been fixed in magento/magento2#31151 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [55926f83b5517b4acf989b20029830187e4df8ca](https://github.com/magento/magento2/commit/55926f83b5517b4acf989b20029830187e4df8ca)

The fix will be available with the upcoming 2.4.3 release.

[2020-12-10 12:40] #31152 closed, assigned to ihor-sviziev

[2020-12-10 12:40] magento-engcom-team commented on #30270
Hi @magento-engcom-team. Thank you for your report.
The issue has been fixed in magento/magento2#30477 by @Chandresh22 in 2.4-develop branch
Related commit(s):
 - [4c5a1303fe4c7826024fd0d2119cec4de2a77d26](https://github.com/magento/magento2/commit/4c5a1303fe4c7826024fd0d2119cec4de2a77d26)
 - [4e80ef94826eb709bc5b8d96ad46f13f6fc4fe74](https://github.com/magento/magento2/commit/4e80ef94826eb709bc5b

[2020-12-10 12:40] #30270 closed, assigned to Chandresh22

[2020-12-10 12:40] magento-engcom-team commented on #30952
Hi @sky-hub. Thank you for your report.
The issue has been fixed in magento/magento2#30953 by @sky-hub in 2.4-develop branch
Related commit(s):
 - [d56db5bed6424e94fb70ae116eb89360465d1762](https://github.com/magento/magento2/commit/d56db5bed6424e94fb70ae116eb89360465d1762)
 - [4d1e4eafc8a5554d4114e2d892b0ecd99402a5b3](https://github.com/magento/magento2/commit/4d1e4eafc8a5554d4114e2d892b0ecd99402

[2020-12-10 12:40] #30952 closed, assigned to sky-hub

[2020-12-10 12:40] magento-engcom-team commented on #26909
Hi @manish-sirvi. Thank you for your report.
The issue has been fixed in magento/magento2#27845 by @shawnabramson in 2.4-develop branch
Related commit(s):
 - [dcc6381a921ee5225e46ef05b6d9e2386e663a1c](https://github.com/magento/magento2/commit/dcc6381a921ee5225e46ef05b6d9e2386e663a1c)
 - [de1f6262870dd84dddac687377b8edca59f266a0](https://github.com/magento/magento2/commit/de1f6262870dd84dddac68737

[2020-12-10 12:40] #26909 closed, assigned to shawnabramson

[2020-12-10 12:41] magento-engcom-team commented on #30622
Hi @pawel-siejba. Thank you for your report.
The issue has been fixed in magento/magento2#30626 by @pawel-siejba in 2.4-develop branch
Related commit(s):
 - [5a5b6f7d4ada5ffbf55821499c547d182f8509c1](https://github.com/magento/magento2/commit/5a5b6f7d4ada5ffbf55821499c547d182f8509c1)

The fix will be available with the upcoming 2.4.3 release.

[2020-12-10 12:41] #30622 closed, assigned to pawel-siejba

[2020-12-10 12:41] magento-engcom-team commented on #31034
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31013 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [3adff7a93fd84bdcbb8b758119499bc5a528a417](https://github.com/magento/magento2/commit/3adff7a93fd84bdcbb8b758119499bc5a528a417)
 - [fe4a58f2533d49502a455b8436a29f88b463602a](https://github.com/magento/magento2/commit/fe4a58f2533d49502a455b843

[2020-12-10 12:41] magento-engcom-team commented on #31160
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31079 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [a3aa42c4846a99c547dfcd53fb714d88f9971586](https://github.com/magento/magento2/commit/a3aa42c4846a99c547dfcd53fb714d88f9971586)
 - [42a2d1f00da7238a38cd5951d4014e5cddb1a5ba](https://github.com/magento/magento2/commit/42a2d1f00da7238a38cd5951d

[2020-12-10 12:41] magento-engcom-team commented on #31034
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31013 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [3adff7a93fd84bdcbb8b758119499bc5a528a417](https://github.com/magento/magento2/commit/3adff7a93fd84bdcbb8b758119499bc5a528a417)
 - [fe4a58f2533d49502a455b8436a29f88b463602a](https://github.com/magento/magento2/commit/fe4a58f2533d49502a455b843

[2020-12-10 12:41] magento-engcom-team commented on #31160
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31079 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [a3aa42c4846a99c547dfcd53fb714d88f9971586](https://github.com/magento/magento2/commit/a3aa42c4846a99c547dfcd53fb714d88f9971586)
 - [42a2d1f00da7238a38cd5951d4014e5cddb1a5ba](https://github.com/magento/magento2/commit/42a2d1f00da7238a38cd5951d

[2020-12-10 12:41] magento-engcom-team commented on #31034
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31013 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [3adff7a93fd84bdcbb8b758119499bc5a528a417](https://github.com/magento/magento2/commit/3adff7a93fd84bdcbb8b758119499bc5a528a417)
 - [fe4a58f2533d49502a455b8436a29f88b463602a](https://github.com/magento/magento2/commit/fe4a58f2533d49502a455b843

[2020-12-10 12:41] magento-engcom-team commented on #31160
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31079 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [a3aa42c4846a99c547dfcd53fb714d88f9971586](https://github.com/magento/magento2/commit/a3aa42c4846a99c547dfcd53fb714d88f9971586)
 - [42a2d1f00da7238a38cd5951d4014e5cddb1a5ba](https://github.com/magento/magento2/commit/42a2d1f00da7238a38cd5951d

[2020-12-10 12:58] thomas-kl1 commented on #27883
Don't stale

[2020-12-10 13:00] krishprakash commented on #31238
Hi @Ana-spec-hub.
Feel free to reopen/comment after update all the details
Thanks!!

[2020-12-10 13:00] #31238 closed, assigned to krishprakash

[2020-12-10 13:25] engcom-Delta commented on #30912
This issue should be discussed in the scope of **Feature Request**.

[2020-12-10 13:28] korovitskyi commented on #31168
@magento I am working on this

[2020-12-10 13:57] madbounce commented on #31224
@magento give me 2.4-develop instance

[2020-12-10 14:24] arutr opened #31244 "Cannot specify mass action for CMS widget category chooser"
### Summary (*)

When adding a widget parameter that uses category chooser, mass action option cannot be set. It is always set to select a single category.

### Examples (*)

The following declaration in `widgets.xml` should enable multiple category selection, but `use_massaction` value is ignored by `Magento\Catalog\Block\Adminhtml\Category\Widget\Chooser`:
[code]

### Proposed solution

Modify `

[2020-12-10 14:32] magento-engcom-team commented on #29952
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39821` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-10 15:00] engcom-Delta commented on #15047
@magento give me 2.4-develop instance

[2020-12-10 15:26] Morezon opened #31246 "magento extension manager themes v 2.3.6"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2020-12-10 15:47] Morezon commented on #31246
![WhatsApp Image 2020-12-10 at 9 06 02 PM](https://user-images.githubusercontent.com/69711167/101794676-2083ae80-3b2d-11eb-8dde-4b1db7a753b3.jpeg)

[2020-12-10 15:57] viktym commented on #25862
@sodhancha The internal team resolved the issue -  async processing for the coupon/rule usage was implemented. PR with the solution will be delivered in the 2.4-develop branch during the next 2 weeks.

[2020-12-10 16:14] notyouranon commented on #8754
I have the same problem. Any new item created by scheduled import that is configurable, dose not get the chidden associated with it in Magento.

For your scheduler:
Field separator: ,
Multiple value separator: |

Now, if I take the same import, pull out all the parent items, the entire row with the configurable associations, create a new .csv file with just the parent. Then take that file and impo

[2020-12-10 16:47] TerrorSquad commented on #15187
@ctadlock You mentioned that there are fixes for this. Are we talking about a patch? Do you mind sharing?

[2020-12-10 17:17] m2-assistant[bot] opened #31248 "[Issue] [MFTF] Refactoring of AdminUpdateSimpleProduct...Tests (asserting product details on Storefront)"
This issue is automatically created based on existing pull request: magento/magento2#31247: [MFTF] Refactoring of AdminUpdateSimpleProduct...Tests (asserting product details on Storefront)

---------
### Description (*)
Asserting product details on Storefront has been refactored in **_AdminUpdateSimpleProduct...Tests_**
(according to the best practices)

[2020-12-10 17:18] m2-assistant[bot] opened #31249 "[Issue] [MFTF] Updating with OpenEditProductOnBackendActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31243: [MFTF] Updating with OpenEditProductOnBackendActionGroup

---------
### Description (*)
Utilizing AssertAdminProductIsAssignedToCategoryActionGroup instead of filtering Products Grid by SKU and clicking the first row (in order to decrease test execution time)

[2020-12-10 17:18] m2-assistant[bot] opened #31250 "[Issue] [MFTF] Adding AssertAdminProductIsAssignedToCategoryActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31241: [MFTF] Adding AssertAdminProductIsAssignedToCategoryActionGroup

---------
### Description (*)
Adding AssertAdminProductIsAssignedToCategoryActionGroup

[2020-12-10 17:18] m2-assistant[bot] opened #31251 "[Issue] [MFTF] Refactoring of Search actions on Storefront"
This issue is automatically created based on existing pull request: magento/magento2#31240: [MFTF] Refactoring of Search actions on Storefront

---------

### Description (*)
- **_StorefrontAssertProductNameIsNotOnProductMainPageActionGroup_** has been added
- Tests have been refactored with existing **_StorefrontCheckQuickSearchStringActionGroup,_** **_StorefrontAssertProductNameOnProductMainPage

[2020-12-10 17:21] hostep commented on #30366
@engcom-Delta, @sdzhepa: I believe this issue is closed incorrectly.

@an4rei wants to see both a version of mail contents in text/plain and text/html in one and the same email.
You are talking about two different emails, but the OP wants them to be in one and the same email, which is technically possible: https://blog.aweber.com/email-template-design/are-you-sending-html-without-plain-text-altern

[2020-12-10 17:38] m2-assistant[bot] opened #31252 "[Issue] Added company & vat id fields value to shipping & billing address renderers"
This issue is automatically created based on existing pull request: magento/magento2#28998: Added company & vat id fields value to shipping & billing address renderers

---------

### Description (*)

The company name & Vat ID were not being shown on address blocks on checkout. These blocks are

1. "Ship To" section in the summary sidebar on the checkout page
2. "Billing Address" section under "Re

[2020-12-10 18:08] ityetti commented on #31213
@hostep
As a temporary fix I used solution from https://github.com/magento/magento2/issues/23958#issuecomment-519834216
But when you use class MassSchedule, you work with inplementation.
Instead of MassSchedule you can use interface BulkManagementInterface and your code will more compatibility with future changes in the core. Read about [Dependency Inversion Principle](https://devdocs.magento.com/

[2020-12-10 18:10] #30851 closed, assigned to sasha19957099

[2020-12-10 18:12] magento-engcom-team commented on #30851
Hi @magento-engcom-team, @sasha19957099.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-38979` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-10 18:18] Axel29 commented on #29263
Up, is there a fix for that?

[2020-12-10 18:29] sidolov commented on #17310
@ihor-sviziev thanks for investigation and detailed report! I changed priority to P2

[2020-12-10 18:38] engcom-Delta commented on #15047
@magento give me 2.4-develop instance

[2020-12-10 18:43] Axel29 commented on #29263
I have tested a fix that I can suggest that would impact only one class but I'm not sure that it wouldn't have side effects on other parts of the website.

The idea would be to emulate the order's store using `\Magento\Store\Model\App\Emulation::startEnvironmentEmulation` and `\Magento\Store\Model\App\Emulation::stopEnvironmentEmulation` inside `\Magento\Sales\Model\Order::getFrontendStatusLabel`

[2020-12-10 18:59] engcom-Delta commented on #15047
@ihor-sviziev @joshdavenport I'm not able to reproduce issue by [steps](https://github.com/magento/magento2/issues/15047#issue-321016708) on clean 2.4-develop
**Result:**
:heavy_check_mark: The red swatch (out of stock) is crossed out.
![image](https://user-images.githubusercontent.com/51681379/101770971-e9dc7280-3af1-11eb-80b8-75d00cc42fed.png)

And according [comment](https://github.com/magento/

[2020-12-10 19:11] joshdavenport commented on #15047
Well, this looks positive. I was definitely seeing this issue in mid/late November in the instance made [here](https://github.com/magento/magento2/issues/30046#issuecomment-730624706) but in this instance you made today it does look to be working as intended. I'm guessing a change has been made in 2.4-develop in the last few weeks that has addressed this issue. If this is for real, very excited fo

[2020-12-10 19:17] devpatil7 opened #31253 "Default store (Root category A) breadcrumbs are being returned for New Store (Root category B) when Product belongs to both root categories."
### Preconditions (*)

1. Magento 2.4.1
2. Two root categories exists in Admin-Categories
3. Two stores exists with different root categories for each of it
4. Each Stores should have atleast one store view.
5. Each Root category should have one sub-category.
5. Product should belong to both stores. i.e. Assign product to all root and sub categories.

### Steps to reproduce (*)

1. Query -
[code]

[2020-12-10 19:20] joshdavenport commented on #30046
Just to further corroborate this, I also followed my original steps from November in that instance and found that the swatches are indeed correctly showing now:

![image](https://user-images.githubusercontent.com/757828/101819100-b3681d00-3b1c-11eb-96f8-e1ef7fbfc2bf.png)

[2020-12-10 19:21] joshdavenport commented on #15047
Just to further corroborate this, I also followed my original steps from November in that instance and found that the swatches are indeed correctly showing now:

![image](https://user-images.githubusercontent.com/757828/101819100-b3681d00-3b1c-11eb-96f8-e1ef7fbfc2bf.png)

Would be very interested to learn what commit(s) addressed this.

[2020-12-10 19:30] wilzon008 commented on #30498
I am one of the customers affected by this issue. There are still a lot of people running Magento 2.3.x. Thank in advance to anyone who can help implement this fix.

[2020-12-10 19:36] chequille commented on #31197
Hi Guys, do have the same problem. The Page showing the invoice as described above breaks.
It happens if correct tax is 0.00 f.e. if a coupon code was entered and nothing has to be paid.
It happens as well if a product without tax is the only product in the order.
So as this worked everything in 2.3.5 I hope you will fix this as fast as possible.
Everybody is recommending updating to 2.4.1 but new

[2020-12-10 20:32] SchranzKatharina commented on #31117
Facing the same issue....

[2020-12-11 04:49] krishprakash commented on #31246
@Morezon. Kindly update all the details Pre-condition,steps to reproduce,expected and actual result as per [issue reporting guidelines ](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
Without these details your ticket should be closed

[2020-12-11 04:50] krishprakash commented on #31252
@magento give me 2.4-develop instance

[2020-12-11 05:06] magento-engcom-team commented on #31252
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39841` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-11 05:29] moloughlin commented on #31115
@sasha19957099 do you mean it's being cached by Varnish? Wouldn't the default VCL inherently prohibit the caching of preview responses, since using the Preview-Version header requires you to also include an Authorization bearer token...

And the following logic exists in vendor/magento/module-page-cache/etc/varnish5.vcl:112:

[code]

[2020-12-11 05:37] test4295 opened #31254 "Category Layout Update XML not working on frontend"
### Preconditions (*)

1.Magento 2.3.2
2.Default Mode

### Steps to reproduce (*)

1.In category admin, catalog > category > select category > Design >Layout
2. Select custom layout

### Expected result (*)

1. Updated layout should be show on frontend page-layout-customlayout

### Actual result (*)

1. It is showing page-layout-1column not updated layout showing in default mode

[2020-12-11 06:44] krishprakash commented on #30826
@bargoslino. Feel free to reopen/comment once you update all the details as per issue reporting guidelines
Thanks!!

[2020-12-11 06:44] #30826 closed, assigned to krishprakash

[2020-12-11 06:44] Morezon commented on #31246
i give you screenshot i dont no what is promblem but extension manager is not open

[2020-12-11 06:48] krishprakash commented on #30540
Hello @trunglv. Feel free to reopen/comment once you confirm that issue reproduce on 2.4-develop instance
Thanks!!

[2020-12-11 06:48] #30540 closed, assigned to krishprakash

[2020-12-11 07:00] krishprakash commented on #31246
Hi @Morezon. It's totally unclear as per your screenshot attached so suggest you to refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com/) for general discuss about this problem
Thanks!!

[2020-12-11 07:09] mohanelamurugan commented on #30738
@magento I am working on it

[2020-12-11 07:44] ioweb-gr commented on #31109
I just bumped into the same issue. Newer OS versions break Magento 2 installations because of automatically updating MariaDB to 10.5

[2020-12-11 07:52] LiamKarlMitchell commented on #24926
Can you not delete tables, its rather annoying.
Delete the table if the module is completely deleted or add a warning on every setup:upgrade that the tables still exist...

[2020-12-11 08:08] ilnytskyi commented on #30151
We got similar issue on customer_listing.
@kamui23 have you managed to find any workaround ?

[2020-12-11 08:23] ilnytskyi commented on #30151
I think that in
`vendor/magento/module-ui/view/base/web/js/grid/columns/date.js`
this patch would work
[code]

[2020-12-11 08:27] ihor-sviziev commented on #15047
Hi @kinhcan,
Thx for confirmation. I'm closing this issue as not relevant anymore.

Unfortunately, I don't have information on which exactly changes fixed it.

[2020-12-11 08:36] krishprakash commented on #31246
Closing this ticket as per given feedback https://github.com/magento/magento2/issues/31246#issuecomment-743015101

[2020-12-11 08:36] #31246 closed, assigned to krishprakash

[2020-12-11 09:00] DylanHopman opened #31255 "Command "queue:consumers:start" is not defined."
### Magento (*)
Magento 2.3.3

### How to reproduce (*)
bin/magento queue:consumers:start product_action_attribute.update
However, if you look in the bin / magento list and scroll to the queue, you will only see the: list in it. consumer: start is not even listed here. If you do in manually, you get the following error:
`Command "queue:consumers:start" is not defined.

  Did you mean one of these?

[2020-12-11 09:31] cundd commented on #30498
We are also not able to update our customer's system to a secure version, because this issue makes it impossible. :(

[2020-12-11 10:04] pnaimish opened #31260 "Reindexing is taking a too much time"
![Screenshot 2020-12-11 at 15 10 08](https://user-images.githubusercontent.com/28819105/101890115-47da8a00-3bc6-11eb-9209-ba8cdd5312c0.png)

### Summary (*)

I am Putting magento2 in reindexing brfore 3 hrs and it't taking a too much and products are stop showing in frontend.
### Examples (*)

  I am using cron job httpdocs/bin/magento indexer:reindex and indexer are stuck in processing
### Propos

[2020-12-11 10:39] Axel29 commented on #29263
Here is a quickfix until the patch is made in the official release that you can apply in a custom module (think about replacing the "Vendor\Module" parts):

1. `File etc/adminhtml/di.xml`

[code]

2. File `Plugin/Model/OrderPlugin.php`

[code]

i'll try to make a pull request as soon as possible but even if it is accepted, it wouldn't be available until at least one of these versions I guess 2.4.2

[2020-12-11 11:31] krishprakash commented on #31260
Hi @pnaimish. Can you please update issues description with all the details like pre-condition,reproducible steps,expected and actual result as per [issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
Thanks!!

[2020-12-11 11:37] markojak commented on #21705
Why is this issue closed when it's an ongoing issue!

[2020-12-11 11:55] sasha19957099 commented on #31115
@moloughlin Yes, it's ok for Varnish, I made it for built-in cache.

[2020-12-11 12:14] zakdma commented on #15115
@magento i am working on it

[2020-12-11 12:15] krishprakash commented on #29855
Hi @sarvang01. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com) for general discuss about this problem

[2020-12-11 12:15] #29855 closed, assigned to krishprakash

[2020-12-11 12:27] renttek opened #31265 "Using multiple depends options with the same name on widgets creates an error"
### Preconditions (*)
1. Magento 2.4.1

### Steps to reproduce (*)
1. Create a new module
2. Create a widget in this new module with the following content:
[code]
3. Add widget to a cms page or block

### Expected result (*)
1. Widget form is renders correctly
2. Field "Dependend Field" is shown if Options 1 (`Yes`) or 2 (`Specified`) are selected on "Source Field"

### Actual result (*)
1. Widget

[2020-12-11 12:32] krishprakash commented on #29495
Hi @geekizaidi. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only
Kindly refer [community forum](community forum) or [magento stack exchange](https://magento.stackexchange.com/) for general discuss about this problem

[2020-12-11 12:32] #29495 closed, assigned to krishprakash

[2020-12-11 12:49] DmitryFurs commented on #30691
@ihor-sviziev maybe you can help? There is no answer for a long time, but I would like this issue to be completely fixed in the next release. Or should I create a separate ticket?

[2020-12-11 13:05] engcom-Alfa commented on #31255
Hi @DylanHopman .
Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop. Everything works as expected.

**Manual testing scenario:**
1. Configure Rabbit Mq ([devdocs](https://devdocs.magento.com/guides/v2.4/install-gde/prereq/install-rabbitmq.html));
2. Run in console: `bin/magento queue:consumers:start product_action_attribute.update`
3. Update any product attribute;

**Actua

[2020-12-11 13:10] DylanHopman commented on #31255
@engcom-Alfa, thank you for answering. No we have a couple of websites, also websites on 2.3.3. But this is the first website we have this issue with. Is there an option to fix it, without updating?

[2020-12-11 13:13] engcom-Delta commented on #29714
@BarnyShergold we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-12-11 13:13] #29714 closed, assigned to engcom-Delta

[2020-12-11 13:15] engcom-Alfa commented on #31255
Maybe this solution will help you https://github.com/magemojo/m2-ce-cron/issues/89#issuecomment-604938652

[2020-12-11 13:16] engcom-Delta commented on #29259
@bharanikonda we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-12-11 13:16] #29259 closed, assigned to engcom-Delta

[2020-12-11 13:35] Knase commented on #31089
I got this problem after the update Xdebug.
The fix is turn off Xdebug
`sudo mv /etc/php/7.3/cli/conf.d/20-xdebug.ini /etc/php/7.3/cli/conf.d/20-xdebug.ini.bak`

[2020-12-11 13:35] DylanHopman commented on #31255
Hi,

Thanks for your quick reply. Unfortunately it doesn't solve the problem :(

[2020-12-11 14:06] sasha19957099 commented on #30915
@magento I am working on this

[2020-12-11 14:14] engcom-Hotel commented on #31213
Hello @ityetti .
I have checked the issue and not able to reproduce it.
M2.4
PHP 7.3
ES 7
Steps:
1. Create a few products;
2. Select created products at the admin product grid (select all);
3. Choose from actions "update attributes";
4. Update 'Price' field;
5. Save;
6. bin/magento cron:run (if not started);

Issued method used in \Magento\Catalog\Controller\Adminhtml\Product\Action\Attribute\Save

[2020-12-11 14:17] WilliejanB commented on #29263
Thank you for your "quick-fix" @Axel29 I will ask our developer to add it, because I could not find the exact location (folder) where to put the replacements.

[2020-12-11 14:27] engcom-Alfa commented on #30691
@DmitryFurs I'll check it.

[2020-12-11 15:11] SchranzKatharina commented on #27223
We also have this issue on 2.4.1 and it is really frustrating!

[2020-12-11 15:44] SchranzKatharina opened #31267 "Product is visible & in stock although salable quantity = 0"
### Preconditions (*)

1. Magento 2.4.1

### Steps to reproduce (*)

1. 'Display Out of Stock Products' is set to "No"
2. Buy the entire available number of a product so that the salable quantity is 0.
3. The quantity of the product is still not null, because the product was not shipped yet.

### Expected result (*)

1. The product is not longer visible on frontend.

### Actual result (*)

1. The

[2020-12-11 16:28] robbie-thompson opened #31268 "Swatches missing when all products are out of stock"
### Preconditions (*)

1. Magento 2.4.1

### Steps to reproduce (*)
1. Install sample data
2. Set Admin > Stores > Configuration > Catalog > Inventory > Stock Options > Display Out of Stock Products = Yes
3. Create configurable product with multiple sizes
4. Change all simple/size products to have 0 quantity and out of stock status

### Expected result (*)
1. All sizes still show on the frontend,

[2020-12-11 16:29] robbie-thompson commented on #30046
@nordcomputer @joshdavenport +1 this behaviour is incredibly annoying and has gone on for too long for what is now a standard feature. I've created a separate issue [here](https://github.com/magento/magento2/issues/31268) which I believe better addresses this scenario, as OP's refers to something different.

[2020-12-11 17:26] siliconalchemy commented on #30540
I'm getting exactly the same problem.  I wasn't actually aware I had so many attributes searchable (141!) so it will be difficult to track down which is the problem attribute, but this only occurred after upgrade from 2.3 to 2.4 and change from mysql to elasticsearch catalog search engine.  The elasticsearch error is:
[code]

And the corresponding entry in magento log:
[code]

Magento: 2.4.1 opens

[2020-12-11 17:27] srenon commented on #31197
@chequille You could use a composer patch to temporarily fix this issue until a new version is released. See https://devdocs.magento.com/guides/v2.4/comp-mgr/patching/composer.html

filename: {root}/composer.json

    "magento/module-sales": {
          "GITHUB:Magento2 - 31197 - Loading wrong order tax info":"patches/composer/magento-github-issue-31197.diff"
    }

filename: {root}/patches/compos

[2020-12-11 17:37] #29302 closed, assigned to dineshvb

[2020-12-11 17:39] magento-engcom-team commented on #29302
Hi @drpayyne, @dineshvb.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37414` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-11 17:40] magento-engcom-team commented on #31180
Hi @laurentiumagureanu, @shikhamis11, @korovitskyi.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39690` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-11 17:44] drpayyne commented on #29302
Hi @magento-engcom-team, why was neither the PR, nor the issue updated with the existence and the status of an internal issue and PR? This is counterproductive of having an open source repository... almost two months of the linked PR work is useless now?

[2020-12-11 17:53] siliconalchemy commented on #30540
OK this was actually pretty easy to track down.  Look for eav_attribute.backend_type ='decimal' and change 'Use in Search' to 'No' for each attribute:

<img width="1908" alt="Screenshot 2020-12-11 at 17 53 05" src="https://user-images.githubusercontent.com/4799996/101937432-c42a9880-3bd9-11eb-89e0-84af676f7c68.png">

<img width="1075" alt="Screenshot 2020-12-11 at 17 52 03" src="https://user-image

[2020-12-11 20:36] hostep commented on #31255
@DylanHopman: that `ce_mq:consumers:start` is strange. When I google it I end up on https://github.com/renatocason/magento2-module-mq, I suspect you have that one installed. Maybe that module is removing the default `queue:consumers:start` command (which is definitely available in Magento 2.3.3).

Anyway, I strongly believe this issue is because of some customisation done to your webshop, hope you

[2020-12-12 00:07] chequille commented on #31197
@srenon
Thanks for this. I made the changes manually. It is only one line to change :)
After chaning the page break when showing an invoice with zero tax did not happen again. So far so good.
But unfortunately, I found another bug regarding tax. It seems in 2.4.1 there are a lot of changes which did not solve problems but made new problems. I will show you what I found:
1. Tax calculation is set i

[2020-12-12 01:39] zion64 commented on #12598
Open the console tab in your browser's developer tools and check if a CORS error has occurred. If there is a CORS error, please add the address to the csp white list... This is the most frequent cause in my case.
________________________________
보낸 사람: mateuszrusiecki <notifications@github.com>
보낸 날짜: 2020년 12월 8일 화요일 오후 11:48
받는 사람: magento/magento2 <magento2@noreply.github.com>
참조: Subscribed <s

[2020-12-12 07:59] #30260 closed, assigned to nobody

[2020-12-12 07:59] #31090 closed, assigned to engcom-Golf

[2020-12-12 07:59] #24184 closed, assigned to engcom-Golf

[2020-12-12 07:59] #30285 closed, assigned to nobody

[2020-12-12 07:59] #31095 closed, assigned to engcom-Echo

[2020-12-12 13:02] xpoback commented on #12671
Well, when something doesn't work as expected until an action is taken, this _is_ a bug.

[2020-12-12 13:03] xpoback commented on #12671
Magento 2.3.6, the problem is still there.

[2020-12-12 13:12] oviliz commented on #23908
Hopefully, this will be fixed within two years... :(

[2020-12-12 19:36] chuckgreenman commented on #25872
When I picked up this issue I assumed that DHL would let me sign up for an account.  Unfortunately I can't get their form to work, I'm going to release this.

[2020-12-12 19:52] andrewbess commented on #30083
The issue has been fixed with [this commit](https://github.com/magento/magento2/commit/e6e5c738eb47a982d90aef8e9a087cb3fd9bcacf) by the internal team.

Hello @rogyar
Could you please close this issue?

Thank you in advance.

[2020-12-12 22:02] matt-mainstreetdesign commented on #16439
Have this issue on 2.3.3, cant find a solution

[2020-12-12 22:42] OleksiyOleksiyovych opened #31270 "[NOT READY] Coupon with Apply to Shipping Amount not working correctly in GraphQl"
### Preconditions
Magento version: 2.4
php version : 7.3

### Steps to reproduce
1. Go to Magento admin panel
2. Create a cart price rule (type coupon)
3. Set "Apply to Shipping Amount" to "Yes" in tab "Actions"
4. in GraphQl:
 - create cart  (createEmptyCart)
 - add product (addSimpleProductsToCart)
 - set shipping address (setShippingAddressesOnCart)
 - select shipping method (setShippingMethods

[2020-12-13 09:13] snez commented on #23908
For people still struggling with this, if you delete the customer addresses from the Magento admin, the customer will then be able to use the checkout. The issue is caused from data corruption when a guest customer logs in. Deleting the address fixes the corrupted data.

[2020-12-13 10:25] shuaiZend commented on #30194
Also, get this error Magento 2.3.5-p1 ES 7

[2020-12-13 10:56] #30268 closed, assigned to engcom-Kilo

[2020-12-13 10:58] magento-engcom-team commented on #30268
Hi @magento-engcom-team, @engcom-Kilo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-36425` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-13 15:31] ananth-iyer commented on #28102
I think it could be related to the website server configuration.
https://websiteforstudents.com/resolved-400-bad-request-request-header-or-cookie-too-large-via-nginx/

For nginx,
[code]

[2020-12-13 15:50] jamescowie commented on #31081
Going to use this ticket as the tracker for what issues I faced and resolved.

Currently working on `resolveArgument` with $enforcedArguments being the wrong type. Within ClassReader reflection resolved the deprecated code of `getType` with `getName`

[2020-12-13 15:51] sodhancha opened #31271 "Recommendation engine (Adobe Sensei) shows products already disabled or out of stock"
### Preconditions (*)
1. Magento Commerce 2.4.0-P1  (On-Prem)
2.Recommendation Engine Module enabled in Product Details Page (Adobe Sensei)

### Steps to reproduce (*)
1. Enable Recommendations Engine module for Product Details Page
2.Use the Most Viewed setting for the recommendation engine

### Expected result (*)
1. Links to recommended products should be of products which are In-Stock and are

[2020-12-13 16:28] sinepen commented on #4688
I've been having the same problem with varnish cache being invalidated or purged on every small product update, which has been really annoying lately.
I recently figured out that it helps a lot to set index management to "update on schedule" instead of "update on save" though.

I'm not into the technical part of M2, but if the index is being refreshed on product save and the event "clean_cache_aft

[2020-12-13 16:39] jamescowie commented on #31081
For composer and package manager we need to upgrade `"laminas/laminas-mvc": "3.1.*",` however that version conflicts which then stops installation of additional packages

[2020-12-13 17:33] saphaljha commented on #28961
Any way to downgrade Xdebug?

[2020-12-13 17:43] lagunacellar commented on #30293
This may be EE specific.  We are running Magento 2.4.1 on Cloud and encountering this issue repeatedly.  See screenshots attached.

Checkout-1 shows the initial state at Review & Payments step, Place Order button is greyed out until customer confirms billing address.

Checkout-2 shows what happens after customer selects My billing and shipping addresses are the same.

![checkout-1](https://user-im

[2020-12-13 18:01] lagunacellar opened #31272 "Customer sees raw code displayed after selecting My billing and shipping addresses are the same"
### Preconditions (*)

1. Magento 2.4.1 on Cloud
2.

### Steps to reproduce (*)

1. Log in as customer
2. Add product to cart and enter checkout
3. Select shipping method, click Next
4. At Review & Payments screen, check My billing and shipping addresses are the same
5. See raw code inserted between Street Address and City/Zip

### Expected result (*)

1. Screenshot Checkout-1
2. Expect confirmati

[2020-12-13 18:47] romainruaud commented on #31219
@davidandersson1 I do have the exact same issue with MariaDB 10.1 (I don't want to update on latest since there are other known issues with recent MariaDB).

[2020-12-13 18:52] romainruaud commented on #31219
That being said it appears that the MDVA-31224 patch is available here : https://github.com/magento/quality-patches/blob/master/patches/os/MDVA-31224__improves_performance_of_catalog_product_price_reindex_operation_for_bundle_products__2.3.3.patch

I'll have a look at it to see if this improves things for me.

Regards

[2020-12-13 19:01] romainruaud commented on #29264
Same issue here, I think that's a valid one, seems to appear randomly.

I'll check replacing the crossUpdateFromSelect by insertFromSelect since it also appears that the crossUpdateFromSelect is dramatically slow on my version of MariaDB. It also appears to be slow with other DB versions as described in #31219

[2020-12-13 19:07] Yonn-Trimoreau commented on #28961
pecl install -f xdebug-2.9.8

[2020-12-13 19:09] romainruaud commented on #31219
Okay, after a quick test :

- patch MDVA has no effect, it's already what is included in Magento 2.4.1

However as stated in #29264 I switched these lines :

And the index did run in 2 minutes instead of hanging forever. Prices in the index table seems to be accurate.

Maybe you could give this a try on your project also. I'm curious if that does also fix your situation.

Regards

[2020-12-14 03:32] pavinduLakshan commented on #31108
This issue was solved when I tried this StackOverflow answer.   Thank you @absentbri
https://stackoverflow.com/a/38159033/8810941

[2020-12-14 03:32] #31108 closed, assigned to nobody

[2020-12-14 05:12] davidandersson1 commented on #31219
Hi @romainruaud, Thanks for your help! I have checked with switches lines as you mentioned above but somehow its not help.

And yes, you are right that MDVA-31224 patch is already included in Magento 2.4.1

However, as per my previous investigation, method calculateDynamicBundleSelectionPrice (line no 588 in vendor/magento/module-bundle/Model/ResourceModel/Indexer/Price.php file + Magento version

[2020-12-14 05:14] ajijshekh123 commented on #31268
@magento give me 2.4-develop instance

[2020-12-14 07:20] luitelbj commented on #21385
hi @GuiltyNL,

I'm facing the same issue, I truly appreciate if you can share the fix.

Thank You

[2020-12-14 07:47] advancedngwarati commented on #25947
@Nazar65 any updates regarding this? I have a live site that is affected with this. Thank you.

[2020-12-14 07:49] mohanelamurugan commented on #30738
@magento give me 2.4-develop instance

[2020-12-14 07:50] mrtuvn commented on #25592
Is there any solutions available for this issue ? Can we possible to fix this

[2020-12-14 07:57] engcom-Delta commented on #29882
@Eddcapone I am not able to reproduce issue on magento EE 2.4-develop with configured redis for [page-cache](session) and [session](https://devdocs.magento.com/guides/v2.4/config-guide/redis/redis-session.html#config-redis-config)
**Result:**
:heavy_check_mark: Home page is loaded
:heavy_check_mark: No errors when change from production mode to developer mode `php bin/magento deploy:mode:set devel

[2020-12-14 07:57] #29882 closed, assigned to nobody

[2020-12-14 08:11] engcom-Alfa commented on #30691
Hi @DmitryFurs.

The issue, described in the comment https://github.com/magento/magento2/issues/30691#issuecomment-735590948, is still reproducible on fresh 2.4-develop.

**Actual Result:** :heavy_multiplication_x: Only the input field is hidden, the label remains visible

![Peek 2020-12-14 09-33](https://user-images.githubusercontent.com/51679138/102056015-61f9af80-3df4-11eb-81d5-fb87bc4a0b44.gif

[2020-12-14 08:25] ihor-sviziev commented on #23908
@sidolov @gabrieldagama seems like priority for this issue was set incorrectly, it should be p2 or even p1 as the customer can't place an order in such case

[2020-12-14 08:39] Axel29 commented on #29263
No problem, you can add it in `app/code/[Vendor]/[Module]/` where `[Vendor]/[Module]` is one of your modules.

[2020-12-14 09:33] DylanHopman commented on #31255
Thank you @hostep ,

This fixed the issue for me:
bin/magento mod:dis Rcason_Mq Rcason_MqMysql
bin/magento se:di:co
bin/magento s:s:d nl_NL en_US -f
bin/magento c:f
bin/magento cron:run --group default
bin/magento cron:run

You helped me a lot, thanks 👍

[2020-12-14 09:33] #31255 closed, assigned to engcom-Alfa

[2020-12-14 09:45] krishprakash commented on #31260
Hi @pnaimish. Feel free to reopen ticket once you update with all required details as per issue reporting guidelines
Thanks!!

[2020-12-14 09:45] #31260 closed, assigned to nobody

[2020-12-14 09:55] engcom-Bravo commented on #31267
Hello @SchranzKatharina

Thank you for your report.

This issue is a Duplicate of #31117. Please, see all the future updates in that issue

Thank you

[2020-12-14 09:55] #31267 closed, assigned to engcom-Bravo

[2020-12-14 10:06] krishprakash commented on #28410
Hi @mariojacobo. This should be any of your custom module issue.
GitHub issue tracker is intended for magento core technical issues only kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com/) to general discuss about this problem

[2020-12-14 10:06] #28410 closed, assigned to krishprakash

[2020-12-14 10:23] krishprakash commented on #28353
Hi @cyberbloke. Github issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com/) for general discuss about this problem

[2020-12-14 10:23] #28353 closed, assigned to krishprakash

[2020-12-14 10:32] krishprakash commented on #28328
@Lucky9821 Github issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com) for general discuss about this problem

[2020-12-14 10:32] #28328 closed, assigned to krishprakash

[2020-12-14 10:39] engcom-Bravo commented on #31117
Hello @chichitsai0517

Thank you for your report

We confirm that the issue exists on 2.4.1 composer version. It may not appear on 2.4-develop because the MSI modules are missing

Related issues:
- https://github.com/magento/magento2/issues/31267

[2020-12-14 10:43] magento-engcom-team commented on #31117
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39869` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-14 10:44] dineshvb commented on #18140
Hi @vdubyna, can I add this line and give a PR? Will it resolve the issue?

[2020-12-14 10:53] krishprakash commented on #28258
Hi @cfriedm. Thank you for your report.
Feel free to reopen once you update reproducible steps and other all require details to reproduce this issue

[2020-12-14 10:53] #28258 closed, assigned to krishprakash

[2020-12-14 11:16] ajijshekh123 commented on #31272
@magento give me 2.4-develop instance

[2020-12-14 11:17] magento-engcom-team commented on #31038
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39871` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-14 11:50] Scarraban commented on #30339
Identified a similar issue in 2.4.x - 3DS was failing on production but not sandbox.

We've isolated the issue to the AVS settings being a little too strict on production:
![image](https://user-images.githubusercontent.com/3777938/102078043-2c5bc300-3e02-11eb-8cd9-f229bf97ac64.png)

If set so that the address and postcode are required fields, the request returns with a "Postal code is required, Bi

[2020-12-14 12:11] ajijshekh123 commented on #31272
Hi @lagunacellar,
I have verified this issue as per your steps, actual result, and expected result.
**See attached the screenshot:**
![image](https://user-images.githubusercontent.com/24711761/102079927-93de3680-3e33-11eb-9f92-ab8dfb550a4e.png)

Thanks.

[2020-12-14 12:23] engcom-Alfa commented on #31254
Duplicate of #27942

[2020-12-14 12:23] #31254 closed, assigned to engcom-Alfa

[2020-12-14 12:30] engcom-Delta commented on #31024
Hi @pratikkamani , thank you for your report. I'm not able to reproduce issue on clean magento without custom modules. I tried upgrade from 2.3.6 to 2.4.1 according [docs](https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html) and there was no issue after upgrade

Could you provide additional magento configuration you have before upgrade?

[2020-12-14 12:38] ajijshekh123 commented on #31268
Hi @robbie-thompson,
As per your scenario, I have reproduced this issue on the latest Magento 2.4 instance. Whenever all the simple products, Set the status "Out of Stock" with Qty "0". The system is not displayed any of the size attributes with strike symbol but The system is displayed blank configurable products.
**Screenshot:**
![image](https://user-images.githubusercontent.com/24711761/1020819

[2020-12-14 12:41] magento-engcom-team commented on #31268
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39873` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-14 13:47] krishprakash commented on #29450
Hi @Jeeva-Rathinam. Feel free reopen the ticket once you update reproducible steps and other all details
Thanks!!

[2020-12-14 13:47] #29450 closed, assigned to krishprakash

[2020-12-14 13:50] magento-engcom-team commented on #31143
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39878` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-14 13:50] Pavel-Fekete commented on #28183
I can confirm that issue is reproducible on 2.4.1
![241](https://user-images.githubusercontent.com/67371013/102088542-bbc59e00-3e23-11eb-8f54-9ebfb56d4e7c.png)

But not reproducible on 2.4-develop, drop down contain the admin values of the options
![develop](https://user-images.githubusercontent.com/67371013/102088625-d7c93f80-3e23-11eb-810f-a1ccf8f7f752.png)

[2020-12-14 14:22] rohan-magento opened #31277 "Page Builder Error Popup"
### Preconditions (*)

1. PHP 7.4
2. Magento 2.4.1 EE

### Steps to reproduce (*)

1.  Log in to Magento admin panel
2.  Go to any existing CMS Block or CMS Page
3. With the page builder, we are getting a popup error "Page Builder Error An error has occurred while initiating Page Builder. Please consult with your technical support contact."
3. When we keep the inspect window open on chrome browser

[2020-12-14 14:46] drinkingsouls commented on #9458
Magento 2.4x, my store is 8000+ product. Magento 2 cache fills server every week. Did anyone have any solutions to this?

[2020-12-14 14:48] kassner opened #31278 "Cannot give discount on Fixed Product Tax (WEEE)"
### Preconditions

1. Magento 2.4.1, fresh install; reproducible on 2.4-develop
2. PHP 7.4.3 (Ubuntu 20.04 LTS);

### Steps to reproduce

1. Enable the Fixed Product Tax module;

![Screenshot from 2020-12-14 15-30-03](https://user-images.githubusercontent.com/301255/102095058-5b366100-3e23-11eb-93f4-5566aabc7fe5.png)

2) Create the FPT and associate it to the default attribute set;

![Screenshot f

[2020-12-14 14:54] kassner commented on #31278
The `Include FPT In Subtotal` = `Yes` configuration yields the same result.

[2020-12-14 15:00] AddoSolutions commented on #9458
Same issue here, we have a relatively small catalog (~2500) and just had to clear `var/page_cache` which was over 52GB.  This seems like a memory-leak for HDDs, possibly a DDoS attack?

[2020-12-14 15:41] srenon commented on #31197
@chequille .... did you open a new ticket for the issue mention above (I have not fully reviewed but it seems to be a different issue)?

[2020-12-14 15:56] chequille commented on #31197
@srenon
No, I did not, because I thought this is also related to the wrong tax calculation as it is as well in this ticket.
On the other hand, as it happens when generating the invoice it is another issue.

Could you transfer it to a new one?

[2020-12-14 16:24] sidolov commented on #23908
@ihor-sviziev changed to P1, thank you for the clarification!

[2020-12-14 17:17] korostii commented on #26194
@sivaschenko @sidolov This looks like a fun issue to work on, but it's still unclear what would be the best way to approach it, considering backwards compatibility. For example, `Magento\Customer\Block\Account\Dashboard` is marked as `@api` - is that something that could be reconsidered for 2.5? And apart from that, removing injected classes from constructors would involve deprecating them first,

[2020-12-14 18:08] lagunacellar commented on #31272
Our issue was resolved after applying patch MDVA-33289_EE_2.4.1_v1.  The solution was to remove _.values for currentBillingAddress().street in line 10 of file vendor/magento/module-checkout/view/frontend/web/template/billing-address/details.html:

<text args="_.values(currentBillingAddress().street).join(', ')"/><br/>

![Screen Shot 2020-12-14 at 10 04 08 AM](https://user-images.githubusercontent.

[2020-12-14 19:39] nbennett25 opened #31280 "Error: Area code is already set written to system.log 5x every minute"
Using Magento 2.3.5-p2, we are seeing an 'Area code is already set' error logged to the system log file 5 times every minute:

[code]

Seems to be related to the `magento/module-message-queue` module.

It's unclear if there are any concrete implications of the triggering of the error message, but seems like bad form.

### Preconditions (*)

1. Magento 2.3.5-p2
2. PHP 7.3

### Steps to reproduce (*

[2020-12-14 19:57] nbennett25 opened #31281 "SQL error on CMS > Block > Save and Duplicate"
When selecting 'Save & Duplicate' from a CMS block, a SQL error is shown above the success message, and no duplicate block is created.

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Log into admin > Content > CMS > Blocks
2. Create a block, or select an existing block
3. From the button on the top right, select 'Save and Duplicate'

### Expected result (*)

1. Success mes

[2020-12-15 02:21] lfluvisotto commented on #28961
vendor/magento/magento2-functional-testing-framework/src/Magento/FunctionalTestingFramework/_bootstrap.php

Replace:

if (!(bool)$debugMode && extension_loaded('xdebug')) {
    xdebug_disable();
}
By:

if (!(bool)$debugMode && extension_loaded('xdebug')) {
    if (function_exists('xdebug_disable')) {
        xdebug_disable();
    }
}

[2020-12-15 04:37] ajijshekh123 commented on #31272
Okay, that's fine @lagunacellar

[2020-12-15 04:37] #31272 closed, assigned to ajijshekh123

[2020-12-15 04:37] krishprakash commented on #31281
@magento give me 2.4-develop instance

[2020-12-15 05:00] krishprakash commented on #31281
Hi @nbennett25. Cannot able to reproduce the issue as provided steps by you

![image](https://user-images.githubusercontent.com/46617848/102172723-5a530d00-3ebf-11eb-9899-8d200712425d.png)

Kindly provide additional details/steps to reproduce issue also confirm once issue reproduce on latest 2.4-develop instance
Thanks!!

[2020-12-15 06:22] rvtechmagento opened #31283 "The "magento/magento-composer-installer" plugin was skipped"
The "magento/magento-composer-installer" plugin was skipped because it requires a Plugin API version ("^1.0") that does not match your Composer installation ("2.0.0"). You may need to run composer update with the "--no-plugins" option.
The "magento/inventory-composer-installer" plugin was skipped because it requires a Plugin API version ("^1.1") that does not match your Composer installation ("2.0

[2020-12-15 06:40] mobeen-sarwar opened #31284 "Cannot filter records in customer returns grid in Magento 2.4.1 Admin"
### Summary (*)

When we try to filer records in customer returns grid from admin (`Admin->All Customers->Edit (open a customer details)->Returns`), it redirects to all customers page (`Admin->All Customers`). Even `Reset Filter` and chaging `per page` value redirects to all customers page.

### Preconditions (*)
1. Magento 2.4.1
2. Magento 2.3.5-p2
3. Magento 2.3.4-p2

### Steps to reproduce (*)

[2020-12-15 06:41] mobeen-sarwar commented on #31284
@magento give me 2.4-develop instance

[2020-12-15 06:43] krishprakash commented on #29919
Hi @Jeeva-Rathinam. Github issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com) for general discuss about this problem

[2020-12-15 06:43] #29919 closed, assigned to nobody

[2020-12-15 07:06] mobeen-sarwar commented on #31284
@magento 2.4-develop instance did not have RMA settings here (`Admin->Configuration->Sales->Sales`)

[2020-12-15 07:19] ihor-sviziev commented on #30691
@engcom-Alfa the labels just disappeared. Could you add them back?

[2020-12-15 07:21] magento-engcom-team commented on #31129
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39904` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-15 07:23] pnaimish commented on #31260
Hi

I am try to reindexing Product Categories, Category Products, Product Price but it it take too much time and in frontend all enabled product are stop showing could you please help me .

I am using magento 2.1.1

![Screenshot 2020-12-15 at 12 53 31](https://user-images.githubusercontent.com/28819105/102183859-8c229e80-3ed4-11eb-90b9-89e5e7d85e7a.png)

[2020-12-15 07:25] ihor-sviziev commented on #30847
This issue was fixed in https://github.com/magento/magento2/commit/fd8749f6ecea40dcd759b1bf76cb68695737fadf. I'm closing this issue as fixed.

[2020-12-15 07:25] #30847 closed, assigned to devamitbera

[2020-12-15 07:26] magento-engcom-team commented on #30847
Hi @Nuranto, @devamitbera.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-38992` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-15 07:26] oneserv-heuser commented on #18025
Hold up, just because no one works on it it'll get closed? It's an bug which needs to be fixed!

[2020-12-15 07:28] pnaimish opened #31285 "Reindexing taking too much time"
### Summary (*)

I am try to reindex Product Price, Product Categories and Category Products,  from last 3 days but it's stuck in processing
and in frontend all products are stop showing
![Screenshot 2020-12-15 at 13 00 15](https://user-images.githubusercontent.com/28819105/102184448-7cf02080-3ed5-11eb-853f-27b6656820a1.png)

### Examples (*)

I am indexing using cron bin/magento indexer:reindex
#

[2020-12-15 07:31] pnaimish commented on #31285
I am using magento version 2.1.11

[2020-12-15 08:22] engcom-Hotel commented on #30567
Hello @amine-y .
As it was discussed at https://github.com/magento/magento2/pull/30580#issuecomment-736649030, the issue needs additional information to reproduce.
Closing due to inactivity.
Please feel free to reopen it and provide steps to reproduce.

[2020-12-15 08:22] #30567 closed, assigned to amine-y

[2020-12-15 08:22] engcom-Alfa commented on #31285
Hi @pnaimish . Thank you for your report.

The same problem for 2.1.x described in the issue https://github.com/magento/magento2/issues/10531.
And one way to solve this problem is described in https://github.com/magento/magento2/issues/10531#issuecomment-330832822

We hope this helps you.

[2020-12-15 08:39] bhaveshbalar commented on #15545
[2020-12-14 17:29:31] main.ERROR: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'merkmale_filter.source_id' in 'on clause', query was: INSERT INTO `qz8v_search_tmp_5fd7a0fb910a15_37972217` SELECT `main_select`.`entity_id`, SUM(score) AS `relevance` FROM (SELECT DISTINCT  `search_index`.`entity_id`, (((0) + (0) + (0) + (0)) * 1) AS `score` FROM `qz8v_catalog_product_index_eav` AS `search_i

[2020-12-15 08:45] jamie-selesti commented on #15545
We have the exact same issue now too and also have Amasty Shopby extension installed

[2020-12-15 08:46] AngelsDustz opened #31286 "Magento 2 CLI Installation fails"
### Preconditions (*)

1. Have GiT installed
2. Have docker installed
3. Clone the magento2 project with branch (2.4-develop, commit: ad2945209811dc9fb5cd531af8f2a2bace8647f3)
4. Have PHP CLI version 7.4.10 installed
5. Have MariaDB Percona Server 5.7.32-35 installed

### Steps to reproduce (*)

1. Create an mariadb and php docker image
2. Configure Magento to use proper credentials/hosts
3. Run `

[2020-12-15 09:10] alexalisov commented on #31143
I've tried to fix this issue in my module, using my custom method for checking last invoice. Seems like it is working fine

[code]

[2020-12-15 09:12] engcom-Alfa commented on #31091
Hi @WebHostingAce . Thank you for your report!
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop.

**Manual testing scenario:**

1. Configure **_DHL_** shipping method

![2020-12-15_10-57](https://user-images.githubusercontent.com/51679138/102193117-5970aa00-3ec4-11eb-96f1-eb7d65bb8bb2.png)

2. Sandbox Mode - Yes

![2020-12-15_10-57_1](https://user-images.githubuserconten

[2020-12-15 09:12] #31091 closed, assigned to engcom-Alfa

[2020-12-15 09:21] ihor-sviziev commented on #31283
Hi @rvtechmagento,
You're having this issue due to missing composer 2  support by magento.

We have a feature request for that https://github.com/magento/community-features/issues/302.

For now, you should use composer 1.x while working with Magento installations.

[2020-12-15 09:21] #31283 closed, assigned to ihor-sviziev

[2020-12-15 09:25] pnaimish commented on #31285
Hi @engcom-Alfa I tried The same problem for 2.1.x described in the issue #10531.
And one way to solve this problem is described in #10531 (comment) but this doesn't work

[2020-12-15 09:41] sudma commented on #22490
I can also confirm issue still happens in Magento 2.4.1.

[2020-12-15 09:42] sudma commented on #25003
Any update on this?

[2020-12-15 09:51] krishprakash commented on #31026
Hi @NTK-2016. We only confirm the issue which is reproduce on latest magento 2.4-develop

[2020-12-15 09:53] rvtechmagento commented on #31283
Hi,

**I already instaled composer 2.0.7 in magento.But still it gives me an below error.**

The "magento/magento-composer-installer" plugin was skipped because it requires a Plugin API version ("^1.0") that does not match your Composer installation ("2.0.0"). You may need to run composer update with the "--no-plugins" option.
The "magento/inventory-composer-installer" plugin was skipped because i

[2020-12-15 09:54] rvtechmagento commented on #31283
Hi,

I already instaled composer 2.0.7 in magento.But still it gives me an below error.

The "magento/magento-composer-installer" plugin was skipped because it requires a Plugin API version ("^1.0") that does not match your Composer installation ("2.0.0"). You may need to run composer update with the "--no-plugins" option.
The "magento/inventory-composer-installer" plugin was skipped because it re

[2020-12-15 09:56] krishprakash commented on #31017
Hi @faca5. Hope you got the answer if anything that you need to know then Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com) for general discuss about this problem
Thanks!!

[2020-12-15 09:56] #31017 closed, assigned to krishprakash

[2020-12-15 10:12] faca5 commented on #31017
Hello.

I have solved the problem with add additional lines which for guest order add email address in customer.

[code]

[2020-12-15 10:18] krishprakash commented on #27835
Hi @syedsaleem086. Thank you for your report and hope you got the answer.
Github issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com) for general discuss about this topic.

[2020-12-15 10:18] #27835 closed, assigned to krishprakash

[2020-12-15 10:41] Nazar65 opened #31288 "FileSystem IO Ftp connection ls() method error for empty folders"
### Preconditions (*)

1. Magento 2.4-develop
2. Use the FTP connection by `Magento\Framework\Filesystem\Io\Ftp`

Regarding to the PHP documentation `ftp_nlist() `method can return as array and the false,
and in case of empty folder it returns false.
https://github.com/magento/magento2/blob/ad2945209811dc9fb5cd531af8f2a2bace8647f3/lib/internal/Magento/Framework/Filesystem/Io/Ftp.php#L316

Need to

[2020-12-15 11:28] ihor-sviziev commented on #31283
@rvtechmagento as I said above - you should use **composer 1.x**, not 2.x

[2020-12-15 11:39] rvtechmagento commented on #31283
okay

[2020-12-15 11:55] DJB95 commented on #18025
Does anyone have an update on this? Is this maybe fixed in M2.4.x?

[2020-12-15 12:00] magento-engcom-team commented on #28183
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39910` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-15 12:06] engcom-Alfa commented on #31209
Hi @mateuszrusiecki. Thank you for your report!
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop. Everything works as expected.

**Manual testing scenario:**
`max_input_vars=100000`

1. Create new bundled products;
2. Add 35 options with a single product attached to each;
3. Save the bundled product;

**Actual Result:** :heavy_check_mark: Bundled product saved successful

[2020-12-15 12:06] #31209 closed, assigned to engcom-Alfa

[2020-12-15 12:12] oneserv-heuser commented on #18025
I can confirm that the error still exists in 2.4.1, so not yet fixed.

[2020-12-15 13:11] viniciusbordinhao-blueacorn commented on #29957
@magento I am working on it.

[2020-12-15 13:15] MagicLegend commented on #31286
I just ran into almost the same; with a little different setup. I'm using the containers found [here](https://devdocs.magento.com/cloud/docker/docker-mode-developer.html), but the error was identical. It appears to have fixed itself after I ran `bin/magento setup:db-schema:upgrade`, _which will fail_, but then the `setup:install` command will suddenly work...

[2020-12-15 13:50] chalov-anton commented on #31192
Seems to be related to https://github.com/magento/magento2/issues/21853 and already fixed by https://github.com/magento/magento2/pull/21857
@aleksejsbaranovs10 what do you think?

[2020-12-15 13:52] DJB95 commented on #18025
@oneserv-heuser alright, thanks Timon! hopefully this will be fixed soon

[2020-12-15 13:59] AngelsDustz commented on #31286
That does indeed work as a quick fix, thank you for that. I still believe it should have some investigation because why does the setup try to access database values before the database is set-up?

[2020-12-15 14:04] engcom-Bravo commented on #27223
A similar issue has been Confirmed with High Priority https://github.com/magento/magento2/issues/27223.

[2020-12-15 14:06] #27223 closed, assigned to engcom-Bravo

[2020-12-15 14:12] mateuszrusiecki commented on #31209
@engcom-Alfa I think I mentioned in few paces that I use 2.3 NOT 2.4 but whatever. Did you set max_input_vars=100? I pretty sure that it will fail wit only 100

[2020-12-15 14:15] rohan-magento commented on #31277
The issue is resolved after provided the patch by the Magento team.
[Patch by Magento.zip](https://github.com/magento/magento2/files/5696417/Patch.by.Magento.zip)

[2020-12-15 14:15] #31277 closed, assigned to nobody

[2020-12-15 15:36] mauragcyrus commented on #27346
@alnmaiafernandes Hi there, is this still repro at 2.4.1?

[2020-12-15 16:06] m2-assistant[bot] opened #31289 "[Issue] Spellings mistake"
This issue is automatically created based on existing pull request: magento/magento2#31276: Spellings mistake

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description

[2020-12-15 16:06] m2-assistant[bot] opened #31290 "[Issue] [MFTF] Adding AdminSelectAttributeSetOnEditProductPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31287: [MFTF] Adding AdminSelectAttributeSetOnEditProductPageActionGroup

---------
### Description (*)
Adding AdminSelectAttributeSetOnEditProductPageActionGroup

[2020-12-15 16:13] m2-assistant[bot] opened #31291 "[Issue] Declare optional argument after required."
This issue is automatically created based on existing pull request: magento/magento2#31275: Declare optional argument after required.

---------
### Description
This prevents PHP fatal error when a plugin is added to the one of parent classes.

### Manual testing scenarios
1. Create a plugin for `\Magento\Framework\View\Element\BlockInterface`.
2. Navigate to _Content > Pages_.

### Plugin example

[2020-12-15 16:55] o-iegorov commented on #25862
The changes already merged into 2.4-develop. Commit id: a18bfe065517d485aef15c3ac05456bccb560af8

[2020-12-15 17:00] sidolov commented on #31117
@chichitsai0517 do you have all Magento consumers running?

[2020-12-15 17:30] m2-assistant[bot] opened #31293 "[Issue] Fixed frontend resize for product configurations images"
This issue is automatically created based on existing pull request: magento/magento2#31274: Fixed frontend resize for product configurations images

---------

### Description (*)

When creating new configurations from the configurable product page wizard, the images of the configurations are not resized on the frontend via javascript before uploading. This is caused by a misconfiguration of the j

[2020-12-15 21:02] sdzhepa commented on #25862
Due to the comments above issue is fixed and delivered
Closed as fixed

[2020-12-15 21:02] #25862 closed, assigned to nobody

[2020-12-16 04:06] toantvlf opened #31294 "WYSIWYG ISSUE"
### Description (*)
When i try use wysiwyg in form backend  i can't click button Show / Hide Editor and Insert Widget... . I checked code and realize that the error is coming from the code of magento.
This is conflict git. https://i.imgur.com/fijhW6u.png
### Preconditions (*)
Bug on Magento version 2.4.0 and 2.4.1
### Steps to reproduce (*)
check file vendor/magento/framework/Data/Form/Element/Edi

[2020-12-16 04:36] krishprakash commented on #31294
@magento give me 2.4-develop instance

[2020-12-16 04:43] magento-engcom-team commented on #31289
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39936` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-16 05:42] magento-engcom-team commented on #31293
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39937` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-16 06:54] Asifjalil99 commented on #29197
@khanzadimahdi mostly this issues occur due to miss configuration of your folder users permission by permission i mean "**Owner**" and "**Group**"  e.g if your server using owner as "**root**" and group as "**root**" also and your files and folder user owner as "**user**" and group as "**server**" so you will face this error **Class Magento\Framework\App\ResourceConnection\Proxy does not exist**

[2020-12-16 07:11] krishprakash commented on #31186
Hi @Ecoceramica. Hope you got the help if you need any other help then kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com) for general discuss about this problem because GitHub issue tracker is intended for magento core technical issues only

[2020-12-16 07:11] #31186 closed, assigned to krishprakash

[2020-12-16 07:28] mrtuvn commented on #31294
Are you sure problem happen in 2.4.0 or 2.4.1 ?
I can't reproduce issue! Can you update details steps by steps for able reproduce issue
<img width="1640" alt="Screen Shot 2020-12-16 at 14 27 37" src="https://user-images.githubusercontent.com/1908873/102317895-f6a60e00-3faa-11eb-9624-d88b059f2582.png">
<img width="1683" alt="Screen Shot 2020-12-16 at 14 28 11" src="https://user-images.githubusercon

[2020-12-16 07:47] r-martins commented on #30741
The documentation in contradictory. If you look on the previous page ([Installation Flow Diagram](https://devdocs.magento.com/guides/v2.4/install-gde/install-flow-diagram.html)) you'll see:

I always advocated for using composer in production to manage everything.
Sorry for the (semi) off-topic here.

[2020-12-16 07:57] forwells commented on #7544
For me work! Full Thanks!

[2020-12-16 08:09] engcom-Delta commented on #30380
@chrisbadley I tried to reproduce issue with Asynchronous sending=Enable/Disable and issue is not reproducible on 2.4-develop
**Manual testing scenario:**
**_Case 1:_**
- Set Stores->Configuratio->Sales->Sales Emails->General Settings->Asynchronous sending=Disable
- Create configurable product
- Place order with configurable product
- Create invoice and credit memo for this order
- Go to Sales->Cr

[2020-12-16 08:09] #30380 closed, assigned to nobody

[2020-12-16 08:28] Kalashreeprem commented on #25222
Can you able to solve this? we are also seeing this happen.

[2020-12-16 08:38] krishprakash commented on #31294
Hi @toantvlf. Not able to replicate the issue as provided steps by you
Can you please provide more details/additional steps to reproduce this issue

[2020-12-16 09:07] engcom-Bravo commented on #31192
Hello @aleksejsbaranovs10

Thank you for your report

This issue is already fixed by PR https://github.com/magento/magento2/pull/21857 and soon should be delivered into 2.4-develop branch.

We are closing this issue. If you have any questions, please feel free to comment, reopen, or create a new ticket.

Thank you

( Duplicate of #21853 )

[2020-12-16 09:07] #31192 closed, assigned to engcom-Bravo

[2020-12-16 09:07] krishprakash commented on #31026
Hi @NTK-2016. Feel free to reopen the issue once you confirm that issue is reproduce on latest 2.4-develop instance as per https://github.com/magento/magento2/issues/31026#issuecomment-732937246

[2020-12-16 09:07] #31026 closed, assigned to krishprakash

[2020-12-16 09:16] bojandavkov opened #31298 "2.4.1 After logging as customer from admin to a second website customer, the admin is unreachable"
### Preconditions (*)

1. Magento CE 2.4.1 without sample data is installed.
2. Second website created
3. Stores > Settings > Configuration > Customers > Login As Customer > Store View to Log in set to Manual selection

### Steps to reproduce (*)

1. Create a customer in the second (not default website)
2. From admin go to the created customer and use the functionality to login as customer (to the

[2020-12-16 09:17] bojandavkov commented on #31298
@magento give me 2.4-develop instance

[2020-12-16 09:26] m2-assistant[bot] opened #31300 "[Issue] fix reference layout cms_noroute_index core"
This issue is automatically created based on existing pull request: magento/magento2#31299: fix reference layout cms_noroute_index core

---------

### Description (*)

**cms_index_noroute.xml**, It turns out the file is named incorrectly in the core, the correct file name should be **cms_noroute_index.xml**

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (

[2020-12-16 09:33] toantvlf commented on #31294
please check screenshot in **Description**
use \Magento\Cms\Model\Wysiwyg\Config for field editor in form backend https://i.imgur.com/3Hn47Ot.png - custom module
or u can check directly file **vendor/magento/framework/Data/Form/Element/Editor.php**

[2020-12-16 09:33] toantvlf commented on #31294
please check screenshot in Description
use \Magento\Cms\Model\Wysiwyg\Config for field editor in form backend https://i.imgur.com/3Hn47Ot.png - custom module
or u can check directly file vendor/magento/framework/Data/Form/Element/Editor.php

[2020-12-16 09:49] magento-engcom-team commented on #31291
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39947` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-16 10:17] magento-engcom-team commented on #30691
:white_check_mark: Confirmed by @ihor-sviziev
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39096` were created

**Issue Available**: @ihor-sviziev, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-16 10:38] engcom-Bravo commented on #31278
Hello @kassner

Thank you for your report

We Confirm that the issue is reproducible on the latest 2.4-develop

[2020-12-16 10:38] magento-engcom-team commented on #31278
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39949` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-16 10:46] ihor-sviziev commented on #15559
Hi @chipsmaster,
Could you confirm that this issue still reproducing on 2.4-develop branch?

[2020-12-16 11:19] PierreLeMaguer opened #31301 "[Multishipping] Custom Price issue"
### Preconditions (*)

1. Magento version CE 2.3.6

### Steps to reproduce (*)

I don't know how reproduce natively with Luma Theme, but here the conditions to reproduce with few developments
1. Having Multi Shipping enabled
2. Having the One Page Checkout disabled
3. Add a simple product to cart
4. Having a development which sets a custom price and an original custom price to the quote item
5. Go

[2020-12-16 11:22] LiamKarlMitchell commented on #28274
Yeah confirming that this is still a problem in 2.3.0

Price being website scope is fine (should add a store view scope as an option as well by the way).
But when I'm updating products using the rest api via an extension to a PIM system its only updating the Default price even though website scope is set...

[2020-12-16 12:06] engcom-Delta commented on #30946
@igorwulff I am not able to reproduce issue on clean EE magento 2.4-develop
Manual testing scenario:
Install magento EE 2.4-develop
Run `bin/magento setup:performance:generate-fixtures -s setup/performance-toolkit/profiles/ee/small.xml`
**Result:**
:heavy_check_mark: Data generated succesfully
![image](https://user-images.githubusercontent.com/51681379/102346483-9497d980-3fa7-11eb-82f9-5a5b3406213

[2020-12-16 12:16] krishprakash commented on #29619
Closing this issue as pull request was closed as issue mentioned in the description has been already fixed.

[2020-12-16 12:16] #29619 closed, assigned to krishprakash

[2020-12-16 13:29] krishprakash commented on #28655
Hi @zhican. Feel free to reopen the issue once you update additional steps/details to reproduce the issue.
Thanks!!

[2020-12-16 13:29] #28655 closed, assigned to krishprakash

[2020-12-16 13:33] krishprakash commented on #28637
Hi @saadfaruq. Feel free to reopen once you update all the details as per issue reporting guidelines.
Thanks!!

[2020-12-16 13:33] #28637 closed, assigned to krishprakash

[2020-12-16 13:35] engcom-Delta commented on #30890
Hi @SageKit thank you for your report. Could you provide more details how to reproduce issue? Code snippets of custom module would be helpful

[2020-12-16 13:47] krishprakash commented on #28624
Closing this issue as it fixed by Pull request #28480

[2020-12-16 13:47] #28624 closed, assigned to krishprakash

[2020-12-16 13:51] sivaschenko commented on #31081
@jamescowie great idea, It could be really helpful if you share the issues you faced, however, it could be even more helpful if these issues could be described thoroughly. Unfortunately, I don't really understand which `resolveArgument` and `$enforcedArguments` you are talking about.

Also, this issue is related to the Magento codebase only, there are separate issues created for dependencies versi

[2020-12-16 14:16] mastiuhin-olexandr commented on #31143
@magento I am working on this

[2020-12-16 14:21] SmVladyslav commented on #30262
@magento I am working on this.

[2020-12-16 14:21] SmVladyslav commented on #30262
@magento add to contributors team

[2020-12-16 14:22] SmVladyslav commented on #30262
@magento I am working on this.

[2020-12-16 14:27] mastiuhin-olexandr commented on #31143
@magento add to contributors team

[2020-12-16 14:28] mastiuhin-olexandr commented on #31143
@magento I am working on this

[2020-12-16 14:31] dphilipps opened #31302 "Free shipping rule not deducting shipping amount"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-12-16 14:31] dphilipps commented on #31302
@magento give me 2.4-develop instance

[2020-12-16 14:34] Pavel-Fekete commented on #27411
Reproducible on the latest 2.4-develop
Product is added without issues,  even if  SKU value is '_NULL_'

![database](https://user-images.githubusercontent.com/67371013/102361991-8607ed00-3fbc-11eb-9dfc-ec6485a2a2b1.png)

[2020-12-16 15:02] mrtuvn commented on #31294
Can you reproduce issue in clean 2.4.0 or 2.4.1 ?
Test Case 1 Vanilla install magento no extra customises or 3rd-party modules, custom theme
Test Case 2 Setup with configuration same as your enviroments (provide details)

Description not clearly to me(Can you clean markup or syntax). Sorry I don't understand what you want to describe. Please clarify more! Thanks

[2020-12-16 15:14] jove4015 commented on #3028
I realize I'm commenting on an old issue but - the main reason I want to properly set the time zone is so that promotions set via special_price_from_date and to_date actually end at the correct time and not on UTC schedule.  We don't all live in England.

[2020-12-16 15:28] magento-engcom-team opened #31305 "[GraphQL]DeleteRequisitionListOutput should not return the deleted Req.list data"
Create a customer and create couple requisition lists for the customer.

[code]

Expected Result:
The deleteRequisitionListOutput should return the status and/or lists of un-deleted requisition lists.( to align with deletewishlist) Or just return the status

Actual Result:
The output returns the details of the deleted requisition list along with the status

[2020-12-16 15:28] magento-engcom-team commented on #31305
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-39894

[2020-12-16 15:29] sidolov opened #31306 "Test PHP8 project"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-12-16 15:30] Nazar65 commented on #31288
@magento I am working on this

[2020-12-16 15:40] magento-engcom-team commented on #27411
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39963` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-16 15:52] nbennett25 commented on #31281
@magento give me 2.3 instance

[2020-12-16 16:03] #31306 closed

[2020-12-16 16:31] #31302 closed, assigned to engcom-Alfa

[2020-12-16 17:37] alex-ugodnikov commented on #9051
same issue here Magento 2.3.3
@chirag-taraviya @NMills12 @bruno-canada did you find the solution?

[2020-12-16 18:29] christianbookpwood commented on #29365
I can confirm I'm also having this issue trying to upgrade from magento community 2.3.4 to 2.4.1:

`Unable to apply data patch Magento\CatalogUrlRewrite\Setup\Patch\Data\UpdateUrlKeyForProducts for module Magento_CatalogUrlRewrite. Original exception message: SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`XXredactedXX`.`cata

[2020-12-16 18:48] christianbookpwood commented on #29365
I can also confirm that applying the patch from @ravi-chandra3197 allowed the upgrade to proceed. https://github.com/magento/magento2/pull/29804/files

[2020-12-16 19:08] JonathanHelvey commented on #7298
I am running into this issues on Magento2.3.5pt-2.  Is there any fix for this?

[2020-12-16 20:08] ihor-sviziev commented on #29365
@christianbookpwood any ideas how to reproduce this issue on clean magento installation?

[2020-12-16 20:35] christianbookpwood commented on #29365
The only thing that comes to mind is that, back when we upgraded to Magento 2.3.3, we had an issue with URL keys, as did a number of other people, described in this issue: https://github.com/magento/magento2/issues/26499 -- it was still an issue when we upgraded to 2.3.4, which is the version we're currently on. We're now trying to upgrade from 2.3.4 to 2.4.1.

We had applied the fix specified by

[2020-12-16 21:03] christianbookpwood commented on #30753
I can confirm that I'm having this issue after upgrading from CE 2.3.4 to 2.4.1.
I can also confirm that applying the fix described by @hostep to my custom theme fixed the issue for me.

[2020-12-16 21:53] Sartoric opened #31311 "getShippingMethod as object still suffer from "carrier underscore" bug"
### Preconditions (*)

1. Magento 2.4-develop
2. Magento 2.3.5-p1

### Steps to reproduce (*)

1. Use a custom carrier with underscore in his name eg. *aa_bb*
2. retrieve the shipping method as an object eg.
` $shipping = $order->getShippingMethod(true)`
3. get the carrier_code
`$code = $shipping->getCarrierCode()`

### Expected result (*)

1. $code should be *aa_bb*

### Actual result (*)

1. $co

[2020-12-16 22:06] LiamKarlMitchell commented on #21364
Weirdly having this problem in a live site, but on the staging site which was a copy of the live site at one point (same Magento 2.3.0 version) it does not have the problem.
The environments are identical as far as I can tell.

One Magento 2.3.0

Attribute "producttype" has invalid value. The "array" value's type is invalid. The "string" type was expected. Verify and try again.

[2020-12-17 00:27] aarontalcott commented on #30151
[code]

[2020-12-17 01:18] gilbertsohal commented on #23950
I m facing same problem after upgraded from 2.3.4 to 2.3.6. Getting error when trying to submit invoice
(The invoice can't be saved at this time. Please try again later.)

Is there anyone who can please help?

[2020-12-17 05:21] krishprakash commented on #28465
Hi @xAvarice. Its totally unclear from your issue description and there is no any update from you.
So closing this issue due to inactivity.

[2020-12-17 05:21] #28465 closed, assigned to krishprakash

[2020-12-17 05:41] ihor-sviziev commented on #28465
@krishprakash I believe I know what the issue here.
When you trying to login to the admin - you're getting redirected to special page where you should change your password, and after changing you're still staying on the same page, and it's a bit confusing because it might seems that magento asks you to change password again and again instead of just redirect to the admin homepage.
Does it make sen

[2020-12-17 06:43] gbyte-dev opened #31312 "Category and Search page not opening EngineResolver, Argument 2 passed to Magento\Search\Model\EngineResolver::__construct() must be of the type array, null given, called in"
Upgraded from magento 2.3.5 to 2.4.1 version, installed ElasticSearch 7.10.1

Working on magento 2.4.1
1. Reaching to the search page - https://freedom.southernsarms.com/search/?q=sarm
2. Reaching to the category page - https://freedom.southernsarms.com/sarms.html

### Steps to reproduce (*)

Following info of elastic search-
{
  "name" : "freedom",
  "cluster_name" : "elasticsearch",
  "cluster_u

[2020-12-17 07:12] krishprakash commented on #28419
Hi @tuyennn. Not able to replicate the issue
Feel free to reopen the issue once you conform that issue is reproduce on latest magento 2.4- develop instance

[2020-12-17 07:12] #28419 closed, assigned to krishprakash

[2020-12-17 07:16] deepanshuyadav87 opened #31313 "Product Prices And Cart Prices With Tax Setting From Configurations Are Not Showing In Graphqls"
### Preconditions (*)

1.Magento 2.3.4

### Steps to reproduce (*)

1. Set the tax class for product and customer
2. Set the tax configurations from Sales->Tax->Calculation Settings, Sales->Tax->Price Display Settings
![taxconfig](https://user-images.githubusercontent.com/76148264/102455242-3f220200-4065-11eb-9b55-06289371858b.png)

3. Get the product data from products Graphql using this query
qu

[2020-12-17 07:22] WebKenth commented on #7298
You can install: https://github.com/baldwin-agency/magento2-module-url-data-integrity-checker to find possible bad categories and products

if you follow the url_path regeneration feature of magento2 within category save you can see that the problem exists internaly
The error happens when you attempt to save the category and it regenerates neighbouring category url_path's along with each category'

[2020-12-17 08:45] krishprakash commented on #28203
Hello @jhouedanou. Feel free to reopen the issue once you confirm that issue is reproduce on latest 2.4-develop instance
Thanks!!

[2020-12-17 08:45] #28203 closed, assigned to krishprakash

[2020-12-17 08:47] YouCanDoIt12 opened #31314 "in MAgento2.4 <all/V1/integration/admin/token> asking for <Please use the 2fa provider-specific endpoints to obtain a token.>"
### Preconditions (*)

1.Magento 2 Version community 2.4.0

2. enable 2FA

### Steps to reproduce (*)

1. make a post-call to all/V1/integration/admin/token with body {username: 'xx', password:'yy'}

### Expected result (*)

1. Should give a token in the response
2.

### Actual result (*)

1.Asking for 2 FA configuration
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/con

[2020-12-17 08:57] krishprakash commented on #27997
Hi @shahed1993. Closing this issue due to inactivity

[2020-12-17 08:57] #27997 closed, assigned to nobody

[2020-12-17 09:12] igorwulff commented on #30946
I have now found that one of our modules with an plugin and an event is disturbing the generation. The weird thing is that it is just inserting data in the customer address entity during a save. So why would this conflict so much with the basic generation structure. I will look further into this, and hopefully this information is still helpful to others, but to continue we can disable the module w

[2020-12-17 09:18] ngtuan96lc opened #31315 "Showing welcome text is wrong when switch websites"
### Preconditions (*)

1. Magento version 2.4.1
2. PHP 7.4
3. MariaDB 10.0.26

-  The site has multiple websites (2 websites): Website A and Website B
-  In BO, setting "Account Sharing Options" is "Per websites"

### Steps to reproduce (*)

- Login into website A, I can see welcome text in the header "Welcome, Trang Thi", as the image.
![image](https://user-images.githubusercontent.com/22560466/1

[2020-12-17 10:10] iphigenie opened #31316 "Google optimizer interceptor causes crash error reports when 404 should happen."
I have been seeing the number of error report files mushroom since moving to 2.4.1

when i look at the corresponding error report, the error is

    "Entity is not found in registry.","1":"#1 Magento\\GoogleOptimizer\\Block\\Code\\Category->getIdentities() called at [vendor\/magento\/module-page-cache\/Model\/Layout\/LayoutPlugin.php:96]

Now **I have never enabled nor used Google Optimizer** and

[2020-12-17 10:21] sven-codeculture commented on #31145
I can confirm this as we have the same problem.

[2020-12-17 10:26] iphigenie commented on #19737
This is still the case: Magento CMS wysiwyg integration is breaking its own variables

Obviously there is a partial solution with the "dont quote" approach but when we are using data-mage-init variables entries will have spaces, and then it can't work.

`data-mage-init="{blah: {}}"` `data-mage-init="{'blah': {}}"` are not broken on load by tinymce+magento but they are **not valid javascript data**

[2020-12-17 10:28] arsalanworld opened #31317 "Product price range filter exception on category page"
### Preconditions (*)

1. Magento 2.4.1
2. At least a category with bunch of products.

### Steps to reproduce (*)

1. Navigate to Category page and apply a price range filter
2. Remove or leave blank second parameter in range. for example `..?price=30-`
3. Check the log file

### Expected result (*)

1. There should be no exception
2. The filter either should not apply or it should filter the pro

[2020-12-17 10:36] sathiyaaa commented on #30719
@magento I am working on this

[2020-12-17 11:02] Krielkip commented on #6146
https://github.com/magento/zf1/pull/26
This is still open for this issue. 😺

[2020-12-17 11:33] sergey-fedosimov commented on #28916
Magento 2.3.5-p2 with MDVA-31006. The issue still here.

[2020-12-17 11:45] engcom-Hotel commented on #31213
Hello @ityetti.
I have checked the issue with the custom code sample and confirm that it is reproducible.
Steps to reproduce:
1. Create custom bulk, the example has been attached
[31213_-_simple_example_to_reproduce_.zip](https://github.com/magento/magento2/files/5709022/31213_-_simple_example_to_reproduce_.zip)
2. bin/magento see:up
3. Log in to admin panel and open "*/admin/check" route
4. Check

[2020-12-17 12:45] engcom-Delta commented on #31298
@magento give me 2.4-develop instance

[2020-12-17 12:49] engcom-Bravo commented on #31317
Hello @arsalanworld

Thank you for your report

We confirm that the issue is reproducible on the latest 2.4-develop. Additional info from Engcom is added to the Description

[2020-12-17 12:51] magento-engcom-team commented on #31317
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-39986` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-17 12:55] engcom-Delta commented on #30946
@igorwulff yes, I think we can close issue now
Please feel free to comment, reopen or create new ticket if additional information appears during your investigation. Thank you for collaboration.

[2020-12-17 12:55] #30946 closed, assigned to engcom-Delta

[2020-12-17 13:14] engcom-Delta commented on #31298
Hi @bojandavkov you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: Admin is able to use admin panel after login as customer on second website
:heavy_check_mark: No crash in browser
![Peek 2020-12-17 15-09](https://user-images.githubusercontent.com/51681379/102492484-6d5e0c80-407a-11eb-849d-75e512483580.gif)

Could you try

[2020-12-17 13:26] KrishnaK-Z commented on #31196
@magento I am working on this

[2020-12-17 13:38] Nazar65 opened #31319 "Where is the Cancel Shipment functionality ?"
### Preconditions (*)

Regarding this documentation https://docs.magento.com/user-guide/v2.3/sales/shipment-cancel.html
There must be such functionality to cancel only shipment,
But from code There is no any button for that action, you have ability to only cancel the whole order and then it will cancel the shipping amounts.

this is the only place where the shipment with whole order can be cancele

[2020-12-17 13:56] bojandavkov commented on #31298
Hi @engcom-Delta
I`m noticing that you`re using same Base URLs for both websites. Can you set different Base URLs and that i`ll try to reproduce it. Since the redirect loop in admin is switching both url`s before crashing?

[2020-12-17 14:01] hostep commented on #31213
Hi @nuzil: since you helped out on https://github.com/magento/magento2/issues/23958#issuecomment-519834216, could you verify the claim from @ityetti above if you find some time? Thanks! 🙂

[2020-12-17 14:02] LiamKarlMitchell commented on #22567
Not sure if related but this issue came up in my google searches.
I had to go into the catalog_eav_attribute table and set the global to 2 for price, special price, special from date and special to date attributes.
Just setting the price to be website scoped in core_config table did not update these accordingly.

In my scenario I was adding a second store on a different url for consumer facing to

[2020-12-17 14:14] engcom-Hotel commented on #31216
Not able to reproduce the issue.
M2.4
Steps:
1. Create a few admin users;
2. Open admin panel and sort admin users by ID at grid "System > Permissions > All users grid"
![31205_not_able_to_rep](https://user-images.githubusercontent.com/51681618/102498579-d3e72880-4082-11eb-8830-031aa7cc3cce.gif)

Works as expected. Could you please provide additional information to reproduce the issue?
Thank you.

[2020-12-17 15:19] wasimhc commented on #28961
I faced the issue after updating and upgrading my Ubuntu server. I use multiple PHP version on my server. I needed to downgrade xDebug version and fixed this issue for Magento 2.4.1 and PHP7.4:

If you get “phpize: command not found” error, you can run:

For older version like PHP7.3, if you have multiple PHP versions on your server, you can modify their php.ini file and add the path of xdebug-2.9

[2020-12-17 15:30] sasha19957099 commented on #28573
@magento I am working on this

[2020-12-17 15:53] dpavic commented on #14784
Hello,
I wanted to work on this, but it looks like it is fixed.
On Magento 2.4.1 i was not able to reproduce this.
I have created Product attribute with name "Brands", and assign it to "Wayfarer Messenger Bag" product
I got Expected result:
Discount was only applied on the products that are without "Nike" attribute.
When in cart only product that contains "Nike" attribute, coupon was not applied

[2020-12-17 16:06] venugopal-codilar commented on #29018
@magento give me 2.4-develop instance

[2020-12-17 16:24] JonathanHelvey commented on #7298
@WebKenth Thank you. I will give this a try. I know this module only shows you the problems. Does not fix. If I do find two products that have same url_key do I just manually delete url_key from Magento admin in url rewrites? Or do it from database? What would be the proper way to fix these conflicts?

[2020-12-17 16:29] WebKenth commented on #7298
@JonathanHelvey Yep or just change the product's url_key to something different

I handled it by updating the products url_key with a script that simply adds a number depending on the occurences :P

it can probably be done in multiple ways

[2020-12-17 16:40] JonathanHelvey commented on #7298
@WebKenth, Sounds good thank you for the advice. I guess, I could also go with a paid module that will do it for me. But like the free module says. It can mess with SEO. The paid module is pretty cheap from Magento store. https://marketplace.magento.com/webpanda-catalog-url-rewrites.html.

May do this to save time. If your url_key script is an open source project and up on github I would not mind

[2020-12-17 17:03] christianbookpwood commented on #30486
Just wanted to confirm that I am having this issue after upgrading from 2.3.4 to 2.4.1, and @mattijv's solution worked for me, with a slight difference, I used the following config keys since I am running Recaptcha v3:

[code]

[2020-12-17 17:25] m2-assistant[bot] opened #31325 "[Issue] [MFTF] Adding AdminClickRefundOfflineOnNewMemoPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31323: [MFTF] Adding AdminClickRefundOfflineOnNewMemoPageActionGroup

---------
### Description (*)
Adding AdminClickRefundOfflineOnNewMemoPageActionGroup

[2020-12-17 17:29] m2-assistant[bot] opened #31326 "[Issue] Add missing "VAT Number" field to customer registration page"
This issue is automatically created based on existing pull request: magento/magento2#31321: Add missing "VAT Number" field to customer registration page

---------
### Description
This commits makes "VAT Number" field visible when `customer/create_account/vat_frontend_visibility` is enabled.
The code was copied from nearby [address/edit.phtml](https://github.com/magento/magento2/blob/2.4-develop/a

[2020-12-17 17:32] m2-assistant[bot] opened #31327 "[Issue] Removed CliIndexerReindexActionGroup action group usage for Catalog module"
This issue is automatically created based on existing pull request: magento/magento2#31320: Removed CliIndexerReindexActionGroup action group usage for Catalog module

---------
### Description
Remove CliIndexerReindexActionGroup action group usage or change value for it from tests to improve execution time for the Catalog module.

[2020-12-17 17:42] terzano commented on #18682
Are there plans to port this fix to the 2.2.x release? Maybe 2.2.12. .

[2020-12-17 18:21] sdzhepa commented on #31278
Hello @kassner
cc: @engcom-Bravo

It seems not a bug but an expected result.
FPT it's not the same as regular tax in Magento.
The main use case for this attribute(FPT) its e.g. state/country law like "all plastic or electronic stuff must have an additional $$ for recycling /utilization"
So applying a discount on FPT could violate the law

More details:
- https://docs.magento.com/user-guide/tax/fix

[2020-12-17 18:24] DiegoSana opened #31329 "MSI - Source Notify Qty and Notify Qty Below not working as expected"
### Preconditions (*)

Im trying to configure **Notify Qty Below** by source on product edit page.
Theres no problem, but the salable qty at stock level, is not the expected one.

1. Magento 2.4.1
2. MSI enabled
3. Sample data

### Steps to reproduce (*)

1. Create a **test_source**
2. Simple product with **manage_stock**=yes
3. Global **Out-of-Stock Threshold**=10
4. Define a **qty**=100 for the

[2020-12-17 18:24] nizarn commented on #30915
@magento export issue to Jira project MC

[2020-12-17 18:24] magento-engcom-team commented on #30915
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MC-39998) is successfully created for this issue.

[2020-12-17 18:47] kassner commented on #31278
@sdzhepa while I agree for some cases, this render some impossible order scenarios. Stripe, for example, requires a minimum of $0.50 in a payment, so when we try to charge $0.08 for the French WEEE tax, the customer is not able to place the order. My finance department asked me to, _if the order is completely free disregarding the WEEE_, do not charge it, as, technically, there isn't a sale being

[2020-12-17 18:52] DiegoSana commented on #31329
@magento give me 2.4.1 instance

[2020-12-17 19:17] DiegoSana commented on #31329
Here is the evidence taken from the provided magento instance...

![Screenshot - 2020-12-17T161719 470](https://user-images.githubusercontent.com/4226282/102532857-5e2f8c80-4083-11eb-8145-ecf573fe3ada.png)
![Screenshot - 2020-12-17T161707 397](https://user-images.githubusercontent.com/4226282/102532873-64256d80-4083-11eb-8706-fb44eb25e23b.png)
![Screenshot - 2020-12-17T161648 951](https://user-ima

[2020-12-17 19:40] ityetti commented on #31213
@engcom-Hotel
I created PR for adding this fix - https://github.com/magento/magento2/pull/31214

[2020-12-17 20:15] sdzhepa commented on #31278
Thank you for your feedback @kassner!

I got your point about improvement.
I will discuss it with Product Managers for the final decision(approve/reject).

[2020-12-17 20:46] ihor-sviziev commented on #31176
Hi @sivaschenko,
This is duplicate of https://github.com/magento/magento2/pull/30581
That was approved in October, but still didn’t get any attention. Can we close this one and move forward original one?

[2020-12-17 22:58] #29544 closed, assigned to nobody

[2020-12-17 22:59] magento-engcom-team commented on #29544
Hi @stevekem.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-36787` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-18 03:30] Rich07082 commented on #14881
Had same issue with clean install of Magento 2.4.1.  What i found fixed my problem was when a new attribute was created the default value in the eav_attribute dafault_value cell was blank. Once i changed the cell to 'null' the import of addtional_attributes via csv file worked flawless.

Rich

[2020-12-18 04:20] magento-engcom-team opened #31331 "[GraphQl] Add wishlist item to cart Implementation"
Implement coverage for this new mutation 

<https://github.com/magento/architecture/blob/master/design-documents/graph-ql/coverage/customer/Wishlist.graphqls]

`addWishlistItemsToCart( wishlistUid: ID!, @doc(description: "unique Id of wishlist") wishlistItemUids: [ID!> @doc(description: "Optional param. selected wish list items that are to be added") ): AddWishlistItemsToCartOutput @doc(descriptio

[2020-12-18 04:20] magento-engcom-team commented on #31331
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-39973

[2020-12-18 04:20] magento-engcom-team opened #31332 "Implement the schema changes for Configurable Options Selection"
As a developer I should be able to perform all operations in selecting a configurable variant by just using **configurable*product_options*selection .**

**The schema changes are available here <https://github.com/magento/architecture/blob/master/design-documents/graph-ql/coverage/catalog/configurable-options-selection.graphqls>

After this implementation the system should be performant enough to