[2016-10-28 09:09] grasdaggel commented on #7085
Does this ticket still needs my update or can I now just wait until the feature request has been implemented?

[2016-10-28 09:10] grasdaggel commented on #6697
Since Mage2 doesn't provide de_DE you need to utilize something else. We use this: https://github.com/splendidinternet/Magento2_German_LocalePack_de_DE/

[2016-10-28 09:20] veloraven commented on #5554
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 09:20] #5554 closed, assigned to antboiko

[2016-10-28 09:37] lucscu opened #7230 "[Magento 2.1.2] Wrong error message in cart after entering invalid discount code with product stock qty = 1 (only for simple variant products)"
Tested on last magento 2 version 2.1.2 and Luma sample data.
### Preconditions

1. Set a simple variant product qty to 1.<br>
   With sample data i used<br>
   http://luma.kamiceria.com/tiffany-fitness-tee.html<br>
   with blue color and xs size (sku WS09-XS-Blue)
### Steps to reproduce

1. Add above product WS09-XS-Blue to cart
2. Go to cart
3. Add invalid discount code like 'xxx'
### Expected re

[2016-10-28 09:40] lhsatch commented on #7102
Although it is a live site I would put it into developer mode so that you can see the errors that are being generated

[2016-10-28 09:41] abubner commented on #7212
Update: I can associate the variants now to the config product by a custom code.
It seems very complex, so i hope you will develop a better way for the flow:
1. Have simples already which have his own attributset and with this you know the super attributes and knows the super values
2. Have config product already
3. you can add the associated variant ids and the super attribute codes at the config

[2016-10-28 09:48] SerhiyShkolyarenko commented on #6746
Fix is delivered to mainline. Closing the issue.

[2016-10-28 09:48] #6746 closed, assigned to nobody

[2016-10-28 09:48] slackerzz opened #7231 "Different results from compiling less with Grunt or with "server side compilation""
### Preconditions (*)
1. Magento 2.3.x (tried both CE and EE)
2. Ubuntu 16.04, PHP 7.x, node v4.6.1

### Steps to reproduce (*)
1. set Magento in developer mode
2. in the backend set css generation in "server side compilation"

While developing a custom template i found some differences between my local dev site (inside a vagrant box) and our staging server. Some css rules in the staging server ar

[2016-10-28 10:11] #6986 closed, assigned to nobody

[2016-10-28 10:32] lucscu commented on #5651
@PascalBrouwers You have to look at the xml in question: if you see the old code the issue is still present.

[2016-10-28 10:36] lucscu commented on #4321
@cowmix88 yes, you have to set nginx in production mode.

[2016-10-28 10:47] #7214 closed, assigned to nobody

[2016-10-28 10:51] jakobfdev opened #7232 "Product repository save complains about required attributes not included in defined attribute set"
### Preconditions

1. Magento CE 2.1.2
2. PHP 5.6.27
3. MySQL 5.7.15
### Steps to reproduce
1. Clean install via composer
2. Create attribute, with attribute code `test_attribute`, set `is_required` to `1`
3. Create a new attribute set `Test Set` (e.g. clone from `Default`)
4. Add `test_attribute` attribute to the `Test Set`, but _not_ to `Default` attribute set
5. Programmatically try to create p

[2016-10-28 10:56] ravibhoraniya commented on #5309
Admin Side login that time session expired

msg is :
![capture](https://cloud.githubusercontent.com/assets/17870539/19804336/45db5362-9d2b-11e6-9911-ce48be4bc7ef.JPG)

give solution

[2016-10-28 11:21] hostep commented on #7231
If you are able to install and use nodejs on your production server, you can use [our module](https://github.com/baldwin-agency/magento2-module-less-js-compiler), which uses less.js to compile less files on the server instead of the less.php library (which indeed produces slightly different results).

[2016-10-28 11:29] veloraven commented on #3986
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 11:29] #3986 closed, assigned to nobody

[2016-10-28 11:45] debuysserk opened #7233 "Shipping cost calulator in cart keeps spinning in every version of IE (9 - 10 - 11) except Edge"
In the cart, there's a shipping cost calculator. By default it's closed. When you open it in Internet Explorer, the box opens but the loader keeps spinning without ever going away.

The postcode validator works but when entering a valid postcode, nothing happens.
This occurs in Magento 2 versions up until 2.1.2 on Luma theme.
No JS errors visible.
This happens in IE 9, 10, 11 but NOT in Edge. It w

[2016-10-28 11:47] veloraven commented on #4662
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 11:47] #4662 closed, assigned to nobody

[2016-10-28 11:48] Igloczek commented on #6866
It's going to be released as standalone update to Magento_Wishlist module or we have to wait for 2.2 to get this fix?

[2016-10-28 11:48] veloraven commented on #4709
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 11:48] #4709 closed, assigned to nobody

[2016-10-28 11:49] veloraven commented on #4976
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 11:49] #4976 closed, assigned to nobody

[2016-10-28 11:49] veloraven commented on #5360
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 11:49] #5360 closed, assigned to nobody

[2016-10-28 11:50] veloraven commented on #5508
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 11:50] #5508 closed, assigned to nobody

[2016-10-28 11:50] veloraven commented on #5622
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 11:50] #5622 closed, assigned to nobody

[2016-10-28 11:51] olysenko commented on #6970
1) Sorry , service  catalogCategoryLinkManagementV1  doesn't contain any store id (see prove in http://devdocs.magento.com/swagger/index.html)
2) Regarding websites filtering:
I meant situation you have Default Website  with url somewebshop.com with some products.  After you add Test Website and assigned some products to it. You can configure url for this Test Website like somewebshop.com/website/

[2016-10-28 11:51] veloraven commented on #5789
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 11:51] #5789 closed, assigned to nobody

[2016-10-28 11:52] veloraven commented on #6524
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 11:52] #6524 closed, assigned to nobody

[2016-10-28 11:53] veloraven commented on #6562
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 11:53] #6562 closed, assigned to nobody

[2016-10-28 11:53] veloraven commented on #6724
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 11:53] #6724 closed, assigned to nobody

[2016-10-28 12:05] endergreen commented on #6769
The same error is thrown when trying to add a new Integration as well.

[2016-10-28 12:07] veloraven commented on #6388
@heldchen is there any update on this issue? Is it still actual?

[2016-10-28 12:10] djfordz commented on #6797
You can close, I've been sick for over a week and have not had time to do any research, I've fixed the issue for the customer, I am just now getting back to work, most likely an M2Epro deal anyways if no one else is having issue. Thank you.

[2016-10-28 12:15] sidolov commented on #6882
Hi guys, this issue already fixed in develop branch, commit: 861f596371825d9e24672cd613229ae9486c635f

[2016-10-28 12:15] veloraven commented on #6658
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-28 12:15] #6658 closed, assigned to nobody

[2016-10-28 12:25] slackerzz commented on #7231
thank you @hostep, i'll try your module

[2016-10-28 13:01] kandrejevs commented on #7135
nice, closing as a duplicate then.

[2016-10-28 13:01] #7135 closed, assigned to nobody

[2016-10-28 13:10] veloraven commented on #7057
I'm closing this report as issue was solved.

[2016-10-28 13:10] #7057 closed, assigned to nobody

[2016-10-28 13:38] maderlock commented on #7169
We have a similar deployment process, but have seen the white page issue at random points, not necessarily at deployment, so it may not be the only trigger.

[2016-10-28 13:52] lhsatch commented on #7216
Have you installed any other modules?

[2016-10-28 13:56] almarchenko commented on #1812
@markoshust Thanks, I got it!

[2016-10-28 14:09] SerhiyShkolyarenko commented on #7216
@umang-ranium i used the same environment, but my adding to cart was successful.
Which changes to config have you done after the installation? Do you use the standard theme?
Is the issue reproducible after reinstalling to clean DB?

![added_to_cart](https://cloud.githubusercontent.com/assets/15108140/19809195/e427fdd6-9d30-11e6-9bba-3bf113223cc6.png)

[2016-10-28 15:06] olysenko commented on #7194
Hi. thank you for request. Internal ticket  MAGETWO-60255 was created

[2016-10-28 15:34] askarbin commented on #6983
I have experienced the same issue after removing _**checkout.cart.order.actions.gift_options**_ block in my custom theme layout. Putting it back just resolved the problem

[2016-10-28 15:37] ghost commented on #2831
This is a real issue, maybe fixed in later versions but if the status in the indexer_state is stuck to working the customer grid won't reindex properly, have to set it to invalid manually.

[2016-10-28 15:54] julienanquetil commented on #6725
Same issue here in 2.1.2 in Europe Timezone (Paris)

[2016-10-28 16:13] dthampy commented on #7177
@anilkasar12 , couple of questions for you.
1.Once you create a product attribute, does that attribute get assigned to all the Attribute Sets  ---> is that the issue?
2. Also when you create a product that belongs to any Attribute Set, does this attribute show up on the Product edit form?( even though it is not assigned to any specific Attribute set?)
1. Typically, after you create a product attri

[2016-10-28 16:31] adragus-inviqa opened #7235 "When the quote expires, an exception is thrown on Checkout refresh"
- M2 2.1.1
- PHP 7.0.12
### Steps to reproduce
1. Add something in Cart. Wait for it to expire. Or maybe remove the session cookie (haven't tried it, though).
2. Refresh checkout. I was on `/checkout/#payment`.
### Expected result
1. Redirected back to Cart page.
### Actual result

Got this exception:

[code]

So it ends up [here](https://github.com/magento/magento2/blob/76315a6caa4cabfd8da5ec3ea6

[2016-10-28 16:33] fechever commented on #4432
As @shoguniphicus  hinted, the problem resides with the authentication failure/throttling mechanism that is part of the REST API authentication flow.  At least that's what happened in the case I had access to.

It keeps track of failed attempts to get a token with an email and the wrong password (in the **oauth_token_request_log** table). If the **failures_count** column reaches the max allowed va

[2016-10-28 16:37] adragus-inviqa commented on #7235
False alarm. I'm an idiot on fridays.

[2016-10-28 16:37] #7235 closed, assigned to nobody

[2016-10-28 16:38] saderra opened #7236 "Warning: Cannot use a scalar value as an array"
### Preconditions

1. 2.1.2
2.
### Steps to reproduce

1.  Upgraded to 2.1.2
2.
3.
### Expected result

1. Should load the dashboard
### Actual result

1. getting stuck on error.

[2016-10-28 16:48] navarr opened #7237 "Custom EAV Entity does not save if only EAV attributes have changed"
### Preconditions

1. Magento 2.1.2, PHP 5.6
2. Have an EAV model with a few static attributes, no custom attribute model, a resource model, a collection, etc.
3. Resource Model implements `getMainTable` method
   4, Create through an update script an EAV attribute for this model (see exhibit A)

Exhibit A:

[code]
### Steps to reproduce

1. Load an instance of this EAV Model
2. Change _only_ the

[2016-10-28 16:51] navarr commented on #7237
I found this while trying to save an EAV attribute using <customAttributes> in a custom made API.  It retrieves it fine and sets it fine, but it doesn't _save_.

[2016-10-28 19:51] dthampy commented on #7145
internal jira ticket MAGETWO-60259 has been created for this issue.

[2016-10-28 21:19] dthampy commented on #7152
internal jira ticket to track this issue - MAGETWO-60272

[2016-10-28 22:24] Ctucker9233 commented on #5642
@dyushkin @alena-marchenko What is the commit number for the fix?

[2016-10-28 22:57] Will-I4M commented on #2978
Something changed in magento 2.1.2 but, its not possible to change the swatche image size. I tried with the etc/view.xml, it doesen't work anymore. Could we have details on the proper way to change the size of swatches images ?

[2016-10-28 23:15] bartoszkubicki commented on #7018
I have checked on clean 2.1.2 install - I confirm that I can't reproduce the issue. I am not sure about 2.1.1., but I am not going to check it, as I will soon move to 2.1.2.

[2016-10-28 23:16] #7018 closed, assigned to nobody

[2016-10-29 00:28] dmcmillin opened #7238 "paypal flow showing incorrect sub total amounts in adminhtml"
### Preconditions

1. 2.2.0-dev
2. php 5.6
### Steps to reproduce

1. Order 80 products in cart.
2. Then in checkout / mini cart remove said items.
3. update
4. checkout with paypal payflow.
### Expected result

1. Order should not show a weird subtotal
### Actual result

1. order shows a weird sub total. Please See attached.

![your main website store order confirmation](https://cloud.githubuserc

[2016-10-29 06:42] darrenjennings commented on #7149
I was able to get TinyMCE 4 working with Magento 1.7. Will post a PR here if I have time to get it working with Magento2.

[2016-10-29 07:35] brekz opened #7239 "Multistores Dropdown disappear"
We have 9 multistores ( https://www.dropbox.com/s/40txyw4tcusedzq/Screenshot%202016-10-29%2010.33.33.png?dl=0 )

& if I want to select farthest store - I can't, dropdown disappear, because this line is killing http://awesomescreenshot.com/0ed6651r0c

[2016-10-29 07:35] philipvandebriel commented on #7193
Hi,
We have exact the same problem with 4500 categories, this problem start from Magento 2.1.X

[2016-10-29 07:53] giusecapo commented on #5475
@kiranmaip Same issues here, how did you fix?

[2016-10-29 12:16] brekz opened #7240 "Product Price / Name disappear after trying to delete/change photo roles in Multistore"
Version 2.1.2

Product Price & Name disappear after changing/trying to delete photo in one of the multi stores.
http://awesomescreenshot.com/0086654lea

I found this bug after I tried to delete main photo (just first photo which uploaded), then I got notification - that system can't delete photo, because "The image cannot be removed as it has been assigned to the other image role". In "Store View:

[2016-10-29 14:09] pjona commented on #6764
I had this same on:
1. Magento 2.1.2
2. PHP 7.0.8
3. MySQL 5.6

and this [pull request](https://github.com/magento/magento2/pull/6957) solve the problem.

[2016-10-29 14:35] nomuprive commented on #6917
@SerhiyShkolyarenko Hi, and thanks for the support! The theme developer/ designer tested the store with Luma and got the error just as I did. The "Add to Cart" is redirecting to homepage causing a loop and checkout never complete. If the issue happens with Luma which is Magento 2 default theme then I don't think the theme is the cause of the issue.

[2016-10-29 16:23] devdesco-ceo commented on #6823
Checked again on upgraded 2.4.0 Porto theme... same thing - Add to Cart button is missing on all default store views, even when switched o Magento/Blank theme. That is definitely a bug.

[2016-10-29 23:21] Ctucker9233 commented on #7046
@odubovyk the link for the fix throws a 404 error.

[2016-10-29 23:31] Ctucker9233 commented on #7178
Had this error happen a few times myself.

Magento 2.1.2

[2016-10-30 00:16] Ctucker9233 commented on #7086
@olysenko is there a commit reference?

[2016-10-30 00:25] markdavies commented on #1458
window.checkout.autocomplete is undefined if you remove the minicart... still

[2016-10-30 08:05] EmpeRoar commented on #5288
the issue it solve using vivek201 solution

[2016-10-30 17:46] smatric commented on #4911
I'm running Magento 2.0.10 and in my case it seems like Magento wants to have every single file and directory writeable in its root directory. That includes a directory with a WordPress installation and .bashrc file. That's clearly wrong.

My var/log/update.log file is growing real fast. The first time I checked it it was over 10GB in size.

[CronReadinessCheck.php.zip](https://github.com/magento/

[2016-10-30 18:46] tobi2185 commented on #1471
Same issue here with Magento 2.1.2. I set up a blank M2 installation, and imported 150 products and 8 categories with the Migration Tool. Can not make changes to my categories, same error will occur. Can anybody help me?

(Maybe unrelated, maybe related: I can not make some of my attributes show up in the layered navigation for any reason. It worked flawlessly in the magenta 1.9.3 installation. Al

[2016-10-30 20:54] johnhughes1984 commented on #6403
Still happening in CE 2.1.2, any ETA on this being fixed?

[2016-10-30 22:51] ytorbyk commented on #6849
@SerhiyShkolyarenko This is very weird. I retested it on the develop branch again and I have another result.
<img width="913" alt="screen shot 2016-10-31 at 00 41 29" src="https://cloud.githubusercontent.com/assets/6418650/19840676/265cc5ae-9f04-11e6-96f4-1285d3a54ae6.png">

[2016-10-31 02:20] spyrule opened #7241 "No option to start with blank option for prefix and suffix in checkout."
Fairly straight forward,

If you configure both/either Prefix and Suffix as Optional, and then populate the configuration list, there is no option to allow a blank option (if they choose not to select an option, it defaults to the first option in the list).  Even if you precursor the list with a space and ";" it defaults to the first option after the first semi-colon.

### Preconditions

1.  Magen

[2016-10-31 03:42] pyyick commented on #3209
@alphatwenty Same on 2.0.10

[2016-10-31 08:17] SilvanLaroo commented on #4974
I also have this problem on 2.0.7. Individual printing of an invoice works well, but the mass action gives the error 'There are no printable documents related to selected orders.'.

[2016-10-31 08:42] franckgarnier21 commented on #6938
To my mind, the problem is in this file:
- vendor/magento/module-configurable-import-export/Model/Export/RowCustomizer.php:26

Indeed, the variable $this->configurableData[$product->getId()] is replaced on each loop.

Thanks,

[2016-10-31 08:46] veloraven commented on #7212
@abubner thank you for your feedback.
Please describe exact steps you do instead of link to the external resource.
Please also provide expected and actual results if you think it to be an issue.
If it is rather a question how to do it and get desired result please  refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site

[2016-10-31 08:52] heldchen commented on #6388
yes, sorry for the delay, got caught up with the security patches. will try to produce more info asap.

[2016-10-31 08:58] veloraven commented on #7239
@brekz  thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-10-31 08:59] veloraven commented on #7240
@brekz thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-31 09:01] veloraven commented on #7236
@saderra thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-10-31 09:06] veloraven commented on #7210
@R4c00n thank you for your feedback.
Customer custom address attributes are available in Enterprise edition only.
If you use this one, please contact Magento support instead of posting your issue here.
If you use Community Edition please address your question at  [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) or [Magento Stack Excha

[2016-10-31 09:06] #7210 closed, assigned to nobody

[2016-10-31 09:15] olysenko commented on #7086
Yes, in [5871](https://github.com/magento/magento2/issues/5871) you can find the commit [reference](https://github.com/magento/magento2/commit/2db5aa15722307fb6ad703627933224f5f74bbe3)

[2016-10-31 09:24] sergiojovanig commented on #4778
Hi, I can reproduce this bug in Magento 2.1.2. Any temporal workaround? I think this is critical...

[2016-10-31 09:30] PascalBrouwers commented on #7108
Have the same issue, even after removing var/di var/generation first.

[2016-10-31 09:44] olysenko commented on #4974
Hi, this issue was fixed in develop branch (see [commit](https://github.com/magento/magento2/commit/c5a612a92288eb23d6f6140602b0492e5047779b)). Also fix will be delivered in 2.1 with 2.1.3 release in the end of November

[2016-10-31 09:44] #4974 closed, assigned to nobody

[2016-10-31 09:50] olysenko commented on #6983
@rbostan, please have a look at @askarbin above comment. Does it help you?

[2016-10-31 10:06] veloraven commented on #7227
@ytorbyk thank you for your report.
Please, update formatting of this issue as it is hard to read now.
Please, also identify which version of Magento you are running.

[2016-10-31 10:08] PascalBrouwers commented on #7108
Did a complete reinstall. Still the same issue.

[2016-10-31 10:11] ytorbyk commented on #7227
@veloraven  I apologize for the issue format. It's already updated.

[2016-10-31 10:13] #7014 closed, assigned to sevos1984

[2016-10-31 10:15] convenient commented on #7108
Yeah @PascalBrouwers I saw the same, the only ways to bypass this would be to one of the following
1. Merge in the work done in my branch on https://github.com/magento/magento2/pull/7059
2. Comment out the following lines of code: https://github.com/convenient/mtwo/blob/7eca94436239585f8f91e981005db2928b77a1d9/app/code/Magento/Deploy/Console/Command/DeployStaticContentCommand.php#L493

[2016-10-31 10:16] sevos1984 commented on #6874
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-10-31 10:16] #6874 closed, assigned to sevos1984

[2016-10-31 10:21] kiranmaip commented on #5475
@giusecapo I didn't find any solution till now searching for that

[2016-10-31 10:26] sevos1984 commented on #6759
This should be fixed in develop branch https://github.com/magento/magento2/commit/861f596371825d9e24672cd613229ae9486c635f. Could you please try this fix.

[2016-10-31 10:28] sevos1984 commented on #6594
Is this still reproducible in latest release branch?

[2016-10-31 10:29] sevos1984 commented on #6319
Is this still actual in latest release version?

[2016-10-31 10:41] dcabrejas opened #7244 "Admin : Sales Order Reports don't work for locales different than en_US"
**Environment**
I use Magento version 2.1.1
Linux Server
PHP 7

**Steps to reproduce**
1. Create an admin user and assign him the en_GB locale (or any other locale except en_US)
2. Log in with that user
3. Navigate to Reports/Sales/Orders
4. Fill in all the fields and click Show Report.

**Expected result**
The Report generated and shown.

**Actual result**
The following error is shown
![m2excepti

[2016-10-31 10:46] dmitrisol commented on #4974
Magento2 filters in Admin grid are all affected by this bug, had to bypass the filter applied to collection in my custom MassAction, implementing my own version of the filter's applySelection($collection) method. See example:

[code]

[2016-10-31 11:15] sevos1984 commented on #7241
Thanks for reporting, internal ticket created MAGETWO-60288

[2016-10-31 11:18] PascalBrouwers commented on #7108
@convenient Tnx, it seems to have done the trick. Strange that this behaviour started since my last pull from develop on Oct 26, 2016

[2016-10-31 11:18] sevos1984 commented on #6273
Have you tried upgrading to latest release version?

[2016-10-31 11:22] sevos1984 commented on #5825
Is this still actual in latest release version?

[2016-10-31 11:22] Umfi commented on #6273
i used an workaround to fix this problem.
using plugin: aroundExecute() of \Magento\Customer\Controller\Account\Confirm

[2016-10-31 11:23] sevos1984 commented on #5681
Is this still actual in latest release version?

[2016-10-31 11:52] sysradium commented on #5836
Any news regarding that issue? After installation Magento says that indexes need to be reindexed even after running a cron job.

I could only change that manually running index:reindex job. I could add it as a cron job but it seems to be kind of weird and maybe expensive.

[2016-10-31 12:04] kandrejevs opened #7245 "Configuration group is not visible if it does not have fields in default view."
I'm creating a custom module for price import from sftp server. It is multi-store Magento shop, prices for each store are recognised by a unique identifier. I want to assign this identifier to store_id in in Magento configuration. I added new tab and section. I want to show section in all modes- default, website and store because it contains a comment with instructions, how to set up everything pr

[2016-10-31 12:05] shaw-tech opened #7246 "Multiple Address Checkout - Stored Cards (Using Magento_Vault)"
### Preconditions

1. Magento 2.1.2
2. PHP 5.6.11
3. mysql  Ver 14.14 Distrib 5.6.31,

### Details
I've developed a credit card payment method, integrating with a 3rd party, which has the option to store cards for reuse.

I've achieved the latter part by using the constructs provided Magento_Vault in a very similar way to the way that the Magento_Braintree extension leverages it.

When I attempted

[2016-10-31 12:23] CatherineLearmonth opened #7247 "sku attribute save error"
### Preconditions

1. Magento 2.1.2
Note: I thought this may be the same as bug https://github.com/magento/magento2/issues/1222 but I have upgraded from Magento 2.1.0 to 2.1.2 and am still seeing the same error

### Steps to reproduce

I am updating the attributes of an existing product through the Magento API, using method addAttributeUpdate($code, $value, $store) in Catalog/Model/Product.php

I

[2016-10-31 12:28] matt-bailey commented on #2978
+1

I can confirm we also have this issue. The `swatch_image` setting in view.xml no longer exists.

[2016-10-31 12:31] JerVoo opened #7248 "Categories column in products grid stays empty"
### Preconditions

Magento v2.1.0

### Steps to reproduce
1. Add a product
2. Add the product to a category
3. Add the categories column in to the product grid
4. Find the added products in the grid and take a look at the categories column

### Expected result
1. The categories column should display the category or categories the product has been added to

### Actual result
1.  The column stays em

[2016-10-31 12:44] PascalBrouwers commented on #6855
@veloraven what is the duplicate issue?

[2016-10-31 12:48] kanduvisla opened #7249 "M2.1.2 Character encoding issue with widgets including in WYSIWYG editor"
When I try to insert a widget with the WYSIWYG edit, the characters get encoded wrong when the WYSIWYG editor is enabled.

For example, `Fóó Bär` becomes: `FÃ³Ã³ BÃ¤r`.

This only happens when I try to insert a widget using the WYSIWYG-editor. If the WYSIWYG-editor is disabled, the content is correct:

![encoding-issue](https://cloud.githubusercontent.com/assets/346681/19854697/b7235bb8-9f70-11e6-

[2016-10-31 12:49] HyperC commented on #5509
@Choufourax Thanks for this solution, however it doesn't work for me. The validation stops working at all. My theme didn't have the requirejs-config file so I added it and copied the content from the vendor/magento theme. I added validation.js to web/js in my theme folder but not validation occurs..

[2016-10-31 13:18] veloraven commented on #6921
As this issue was solved and there have been no new comments from the reporter for more than two weeks, I'm closing this issue.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result and spe

[2016-10-31 13:18] #6921 closed, assigned to nobody

[2016-10-31 13:22] CatherineLearmonth commented on #7247
I have seen this ticket - https://github.com/magento/magento2/issues/3687 suggesting it's not possible to update the sku value through the api. If this is the case, can you change the error message to something more meaningful to indicate that the sku can't be changed as it's a unique key.

[2016-10-31 13:25] HyperC commented on #5509
Ah I had to re-deploy. Works now. Thanks!

[2016-10-31 13:29] veloraven commented on #6965
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-31 13:35] veloraven commented on #6797
@djfordz thank you for update.
If you face this issue again and have some proofs that this is Magento's issue, feel free to create the new GitHub issue.

[2016-10-31 13:35] #6797 closed, assigned to nobody

[2016-10-31 13:37] veloraven commented on #7002
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-10-31 13:37] #7002 closed, assigned to nobody

[2016-10-31 13:42] veloraven commented on #7050
@Dbl0207 was it clear install or upgrade from some other version?
Did you try to clear your browser cache including offline website data?

[2016-10-31 14:09] agoeurysky opened #7250 "Production mode : error after di:compile (Magento v2.1.2)"
In production mode, after deploying into integration environment, I am getting the following notices after running :

`rm -rf var/generation/* var/di/*`
`php bin/magento setup:upgrade`
`php bin/magento setup:di:compile`
`php bin/magento cache:clean`

[code]

If I delete the var/di directory, everything is working fine.
There is no difference if the cache is activated or not.

[2016-10-31 14:10] veloraven commented on #7051
@sma09sjb sorry once more - my mistake, there was a wrong link. I have updated it, it should open normally now.
And yes, we took it as an issue, internal ticket for Magento 2.1 - MAGETWO-60293

[2016-10-31 14:28] SerhiyShkolyarenko commented on #6917
@williambize please confirm that the issue is reproducible for you on the latest develop branch or release 2.1.2 when you install Magento without any code changes to absolutely clean database. Is the issue reproducible when you don't enable Braintree?

[2016-10-31 14:30] olysenko commented on #7207
Hi, thank you for your report. To get full prices with tax, discount, shipping  etc in the shopping cart use request /V1/carts/mine/totals. Calls like /V1/carts/mine and /V1/carts/mine/items are not supported price calculation.  Was this comment helpful for you?

[2016-10-31 14:38] SerhiyShkolyarenko commented on #6849
@ytorbyk have you settled transaction after placing order?
Could you please put your credentials to this script and settle transaction with it?
[braintree_settle.zip](https://github.com/magento/magento2/files/561968/braintree_settle.zip)
Transaction id should be a parameter of the script.

[2016-10-31 14:46] samgranger commented on #7212
I have encountered the same issue. Try cleaning your browser cache (worked here).

[2016-10-31 14:57] lid3rs opened #7251 "Product regular price on category page is using Default Store regular product price instead of Current Active Store product price"
### Preconditions
If we have multiple web stores (one website) and product is active on store A and on Store B (Store A and Store B are instances of one website; store A and Store B are NOT Store Views), but with different prices, then on category page, in Store A and in Store B, the product regular price is the same for store A and for Store B. Mismatch here is that in Admin panel in Store A regu

[2016-10-31 15:00] frostshoxx commented on #6671
I'm having the same issue as well. Is it being fixed, so should I just do the dirty fix to get the ball rolling?

I tried to update DbStorage.php per @janmyszkier recommendation, but the error `URL key for specified store already exists.` still thrown after I tried to update the category name.

[2016-10-31 15:09] rganin commented on #7251
Thank you for reporting, the issue is actually in broken price scoping: price can have only global or website scope depending on configuration setting in Stores -> Configuration -> Catalog -> Price -> Catalog Price Scope field, and should not be scoped per store view.
Issue is already aknowledged in https://github.com/magento/magento2/issues/5133.
Internal ticket created MAGETWO-54704.

[2016-10-31 15:09] dthampy commented on #7180
According to the Product Owner:

[2016-10-31 15:09] dthampy commented on #7180
closing this as not a bug.

[2016-10-31 15:09] #7180 closed, assigned to nobody

[2016-10-31 15:27] olysenko commented on #7222
Hi, thank you for your report. I cannot reproduce this issue on the latest 2.0 version. Please upgrade and try again

[2016-10-31 15:27] gabs77 opened #7252 "Widget node depends with block parameter"
On Magento 2.1.2, When we create specific widget, the node "depends" has some difficulties to turn well.

        <parameter name="url_type" xsi:type="select" visible="true" required="true">
                <label translate="true">Type Link Bloc</label>
                <options>
                    <option name="product" value="product" selected="true">
                        <label translate="tr

[2016-10-31 15:32] navarr commented on #7237
I initially closed this issue as I realized I had a completely different problem wherein my EAV collections weren't EAV collections.  After converting them over, the problem continues to occur in the same locations as initially stated.

[2016-10-31 15:33] dthampy commented on #7250
duplicate of #7108

[2016-10-31 15:33] #7250 closed, assigned to nobody

[2016-10-31 15:47] olysenko commented on #7233
Hi, thank you for you report. This issue duplicates [7051](https://github.com/magento/magento2/issues/7051) . Please trace this issue in 7051
Closed as an duplicate

[2016-10-31 15:47] #7233 closed, assigned to olysenko

[2016-10-31 15:49] olysenko commented on #5358
hi, fix was delivered in develop branch, see [commit](https://github.com/magento/magento2/commit/f3d7952805c7b5adc9b47c4d979c49e547a0772e). Closed as fixed

[2016-10-31 15:49] #5358 closed, assigned to ishakhsuvarov

[2016-10-31 15:56] shuaiZend commented on #7178
+1

[2016-10-31 16:16] sevos1984 commented on #7127
Thanks for reporting, internal ticket MAGETWO-57833

[2016-10-31 16:19] SerhiyShkolyarenko commented on #6849
Offline refunds(credit memos) are not associated with invoices 1:1
It's possible to refund several invoices with one offline refund transaction, so in this case invoice_id will be NULL in sales_credit_memo record.

[2016-10-31 16:29] thanasisgalanis commented on #7249
Check this out #5548

[2016-10-31 16:57] CatherineLearmonth commented on #7247
I'm also getting the same issue on trying to update the category the product belongs to.
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'catalog_product_entity.value_id' in 'field list', query was: SELECT `catalog_product_entity`.`value_id` FROM `catalog_product_entity` WHERE (attribute_id='102' AND entity_id='2052')

This happens in program module-eav\Model\Entity\AbstractEntity.php - sav

[2016-10-31 16:57] choukalos commented on #7199
Did you set the default or the website's shipping origin and tax default calculation to the same country?  Did you also setup a tax rule that has an appropriate rate to it?  It sounds like Magento thinks you uploaded the prices with tax (but found a 0% tax rate) and then is now dynamically adjusting the price based on the customer's tax rate (> 0% tax rate).

[2016-10-31 17:06] springimport opened #7253 "I cannot move the block"
### Preconditions
Magento 2.4-develop
Php v. 7.2
### Steps to reproduce
1. Open catalog module -> catalog_category_view.xml
2. Try to move a toolbar outside the block.

[code]
(product_list_toolbar_container - my container).

### Actual result
1. `Fatal error: Uncaught Error: Call to a member function getSize() on null in \vendor\magento\module-catalog\view\frontend\templates\product\list\toolbar.

[2016-10-31 17:14] maderlock commented on #6173
OK, so here is an updated way to reproduce this issue:
1. Install Magento 2.1.2 (seems like this has not been fixed from 2.1.0)
2. Create a new attribute set.
3. Move some attributes into the new attribute set
4. Create a new product and try to select the new attribute set

Expected result:
The set of attributes shown will change

Actual result:
Attributes are cleared and shown as failed validatio

[2016-10-31 17:19] maderlock commented on #6173
As a work-around, I edited eav_entity_type and cleared the config cache. Now creating as product defaults to my new attribute set.

[2016-10-31 17:31] maderlock commented on #6942
Thanks for all that work! I will try and go through it soon. For now, I'll just note that I thought there were unsafe calls in symfony and zend components that are manually turning on libxml_disable_entity_loader. Thanks again,

[2016-10-31 17:31] shuaiZend commented on #6671
same problem on Magento 2.1.2

[2016-10-31 17:32] nomuprive commented on #6917
@SerhiyShkolyarenko The issue persist with or without BrainTree. I tested the store with Luma and got the same issue; even set the ID to 0 and still got the same issue (Add to Cart is redirecting to homepage instead of cart page or checkout causing a loop). At this point I think is a Magento 2 bug unless proven differently. I'm wondering how the "Add to Cart" and checkout worked for you in Luma, b

[2016-10-31 17:43] maderlock commented on #5662
I think their thought is that although this is incorrect business logic, the functionality works correctly - only under their faulty assumptions, but in that sense not a code bug.

[2016-10-31 17:45] bartoszkubicki commented on #6319
I am happy to say it is not :)
For example `email` attribute only values in `customer_entity_varchar` are ones connected with existing customer entities.

[2016-10-31 18:19] mr-ford opened #7254 "Can't apply different templates to input containers on M2 Checkout"
I've been struggling with this for a few days and hope someone can help.

I'm trying to change the wrapper that surrounds each of the form inputs on the Magento 2.1.1 shipping address fields.  The original template is:

 /module-ui/view/frontend/web/templates/form/field.html

I'm trying to add additional templates (e.g. field2.html, field3.html), which I can then specify through checkout_index_ind

[2016-10-31 20:53] btjackson11 opened #7255 "Magento 2.1.2 Authorize.net Amex Transaction Declined Infinite Spinwheel"
After testing my credit card payment method in my Magento 2.1.2 shop using the Authorize.net test Amex card information I place the order and it shows "Please Wait" infinitely, while in my exception logs it is showing a Transaction Declined (what it should be showing) error.

### Preconditions
1. Magento 2.1.2
2. Php 5.6.1

### Steps to reproduce
1. Setup Authorize.net Direct Post
2. Place order w

[2016-10-31 23:31] Will-I4M commented on #5352
one quick and dirty way is to edit vendor/magento/module-email/view/frontend/email/header.html line 50, replace the {{xxx}} by the src of your image for example : https://www.example.com/pub/media/logo/stores/1/logo.png

[2016-10-31 23:47] MaN4thes3t opened #7257 "Edit items link on multishipping goes to wrong route"
**Preconditions**

1. Developer mode, ubuntu, php 7
2. Magento 2.1

**Steps to reproduce**

1. Add item to cart
2. Select checkout with multi shipping addresses
3. Click to go to shipping
4. Click to edit items icon

**Expected result**

1. Should go to /checkout/cart page

**Actual result**
Goes to 404 page (/multishipping/cart).

[Screenshot, logs]
Issue in file vendor/magento/module-multishippi

[2016-11-01 00:08] Ctucker9233 commented on #6746
@SerhiyShkolyarenko is there a commit reference?

[2016-11-01 00:44] Ctucker9233 commented on #6866
@Igloczek use the above commits and do a diff comparison on your code.

[2016-11-01 01:44] iknowtech commented on #5662
No it does not work correctly.   For businesses that need to list an actual Sale price, a MAP price that that a reseller buyer must adhere to, as well as an MSRP price that the reseller buyer can have for reference to post on their own site and price lists.     Many people needing a MAP pricing field will likely be selling to other resellers.

[2016-11-01 02:51] qbo-tech commented on #3268
The problem in this case, is likely that you have 2 or more products with the same name under the same category path and you try to save the category or add a new product with that same duplicated name.

In our case, there where 2 products with a EMPTY name (you can find those on the product grid by sorting by name), **deleting/disabling/changing those duplicated products fixes the problem.**

Thi

[2016-11-01 02:55] qbo-tech commented on #4989
It can be reproduced by having 2 products with a blank name under the same category.

The problem in this case, is likely that you have 2 or more products with the same name under the same category path and you try to save the category or add a new product with that same duplicated name.

In our case, there where 2 products with a EMPTY name (you can find those on the product grid by sorting by na

[2016-11-01 02:58] azeemism commented on #6759
@sevos1984 , with https://github.com/magento/magento2/commit/861f596371825d9e24672cd613229ae9486c635f the customer name and welcome message display after 3 seconds. Good work!

Any reason that there is a delay of 2-3 seconds? Anything I can do to shorten this length of time?

**Note: I am running in developer mode with `php bin/magento cache:disable`**
**Note: I have not tested the mini cart or th

[2016-11-01 02:59] mengento commented on #5835
Temporary solution
Change line 243 of Magento/Framework/RequireJs/Config.php

`Url = url.replace (/ (\. Min)? \. Js $ /, '.min.js');`
To:
`If (url == 'https://www.paypalobjects.com/api/checkout.js') {`
`Url = url;`
`} Else {`
`Url = url.replace (/ (\. Min)? \. Js $ /, '.min.js');`
`}}`

[2016-11-01 04:06] Dbl0207 commented on #7050
@Olga, It was a clean install. Yes i cleared browser cache. We use
cloudflare caching and i switched tht off as well.

@ihsatch Sure i will check that. But when i did install magento 1.9.x it is
perfect. Ill get back once if follow what you have said.​

Regards,

## _Bright Livingstone Davidraj, B.Tech, B.L, M.B.A;_

CEO & Co-Founder - _Brightlivingstone.com_
Google+:         _https://plus.google.

[2016-11-01 06:27] lid3rs commented on #7251
U'r welcome. I was expecting the price change not per store view, but per **Store** if we speak Website -> Store -> Store View.

_A little offtopic:_
What i'm trying to achieve, is that there are different Websites (businessess with different products), Stores (only different countries and prices), Store Views (Different Langs). So I used the Store to setup different prices. It worked as i expecte

[2016-11-01 08:07] cizgidekiadam commented on #6983
@olysenko Yes, it does. Thanks @askarbin

[2016-11-01 08:07] #6983 closed, assigned to nobody

[2016-11-01 08:35] kanduvisla commented on #7146
I can confirm this behaviour in Magento 2.1.2.

`system.log` shows the following error:

[code]

[2016-11-01 09:27] sevos1984 commented on #6963
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-01 09:27] #6963 closed, assigned to sevos1984

[2016-11-01 09:27] sevos1984 commented on #6973
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-01 09:27] #6973 closed, assigned to sevos1984

[2016-11-01 09:29] sevos1984 commented on #6319
Thanks for reply, I will close this ticket

[2016-11-01 09:29] #6319 closed, assigned to sevos1984

[2016-11-01 09:38] SerhiyShkolyarenko commented on #6746
There we six commits for this issue: 8ec49df, 027491e, be4d557, 0d0e683, b1066bf, e908e6c

[2016-11-01 09:45] sevos1984 commented on #6759
With enabled cache and production mode this should run faster. You can also enable Merge JavaScript Files, JavaScript Bundling or Minify JavaScript Files to accelerate js. For more information regarding performance configuration contact [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/). Thanks.

[2016-11-01 09:45] #6759 closed, assigned to sevos1984

[2016-11-01 09:51] sevos1984 commented on #6273
Could you create a pull request for this?

[2016-11-01 09:53] ashsmith commented on #4921
Seeing this issue too in 2.1.2. Just tested @liiskmaa's suggestion, and it works 👍

[2016-11-01 09:55] sevos1984 commented on #3419
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-01 09:55] #3419 closed, assigned to nobody

[2016-11-01 09:55] sevos1984 commented on #4421
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-01 09:55] #4421 closed, assigned to nobody

[2016-11-01 09:56] SerhiyShkolyarenko commented on #6917
@williambize thank you for clarifying it's not dependent on Braintree. To reopen the issue I still need your confirmation that it's reproducible on absolutely clean installation.
Generally, adding to cart is very basic flow and it's tested several hundred times before the release.

[2016-11-01 10:16] sevos1984 commented on #6949
This has a fix in develop branch https://github.com/magento/magento2/pull/6280

[2016-11-01 10:16] #6949 closed, assigned to VladimirZaets

[2016-11-01 10:18] bartlubbersen opened #7258 "Index error after saving same value in multiselect double"
### Preconditions
Magento version: 2.1.2
PHP 7

### Steps to reproduce
1. Create or update a product via API
2. Specify a multiselect value with the same ID multiple times in an array
3. Try to reindex Magento

### Expected result
1. Magento should just reindex because the duplicate values should also be filtered by Magento.

### Actual result
1. SQLSTATE[23000]: Integrity constraint violation: 10

[2016-11-01 10:43] SerhiyShkolyarenko commented on #6849
@ytorbyk we analyzed our offline refunding again and concluded it needs improvement. After implementing story MAGETWO-60332 our credit memos will be bound strictly to invoices.
Thank you for taking part.

[2016-11-01 10:54] jameshalsall commented on #6671
Can confirm this is happening with 2.1.2 EE as well.

[2016-11-01 11:02] sevos1984 commented on #6852
So your website timezone is different from default config, try setting default timezone same to your server timezone

[2016-11-01 11:47] vasilii-b opened #7259 "Admin Left Navigation present in Email Template preview window"
### Preconditions

1. Magento 2.1, upgraded from 2.0
2. __OR Magento 2.2.0-dev__

### Steps to reproduce

1. Go to Email Templates
2. Create new email template ( my example New Order)
3. Go to Email Templates Grid
4. Press 'Preview'

### Expected result

1. Preview windows should appear with email template html, *without left navigation*

### Actual result

1. In preview window there is *left navi

[2016-11-01 12:28] olysenko commented on #7198
Hi, thank you for your reporting. Internal ticket was created MAGETWO-60340

[2016-11-01 12:39] vasilii-b commented on #6826
@SerhiyShkolyarenko  I used email autofill. After pressing button to go to next step, in console was the notification that my filled in email (it was norma) is not an email.

![image](https://cloud.githubusercontent.com/assets/13456702/19890082/36fdf6ec-a041-11e6-900e-5e4f12bb04e5.png)

![image](https://cloud.githubusercontent.com/assets/13456702/19890096/47167220-a041-11e6-8a7c-1d717ae6e2da.png)

[2016-11-01 12:58] samgranger opened #7260 "Simple product prices in a configurable product get reset to zero"
### Preconditions
1. Magento 2.1.2
2. Chrome

### Steps to reproduce
1. Create a configurable product & make sure the simple products all have a price. Save this product (English/US admin language).
2. Switch your admin language to Dutch.
3. Go to the same configurable product & save it. You will notice that the simple products will change to $0 after doing so.

### Expected result
1. The simple p

[2016-11-01 13:01] PaulBoss commented on #7207
It would be great if there is a way to get the same price the frontend is showing available in the API for products. Right now you can get price, special_price but special logic has to be made by the programmer implementing the API.

As for tax: I'd like to see that the API returns both prices, with and without tax. Then you can easily select which price you want to synchronize via the API. It is

[2016-11-01 13:03] MikeOshadami opened #7261 "Sales Orders displayed are not sorted"
### Preconditions

1. Magento 2.1.2
2. PHP 5.6.26
3. MySQL .6.26

### Steps to reproduce

1. Add a new Order
2. Go to dashboard, see order
3. Go to Admin-Sales-orders

### Expected result

1. Should see new orders at the top in the order grid.

### Actual result

1. new orders are not shown at the top, some appears in the middle or next page.
![magento_orders](https://cloud.githubusercontent.com/a

[2016-11-01 13:14] MagePsycho commented on #3174
I have been facing the same issue:

[code]

And the `openStream()` method is missing in class `Magento\Framework\Filesystem\Io\File`.
Is this a bug or what?

[2016-11-01 13:47] veloraven commented on #1685
@bvboas is this issue still actual?
If it is please describe detailed steps, actual result and expected result.
If it is not, please close it.

[2016-11-01 13:48] #1685 closed

[2016-11-01 13:49] veloraven commented on #1917
@wojtekn is this issue still actual?
If it is please describe detailed steps, actual result and expected result.
If it is not, please close it.

[2016-11-01 14:04] veloraven commented on #2971
@3m0 is this issue still actual?
If it is please describe detailed steps, actual result and expected result.
If it is not, please close it.

[2016-11-01 14:05] veloraven commented on #3109
@hgpit is this issue still actual?
If it is please describe detailed steps, actual result and expected result.
If it is not, please close it.

[2016-11-01 14:07] veloraven commented on #3195
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-01 14:07] #3195 closed, assigned to nobody

[2016-11-01 14:08] veloraven commented on #3198
@swnsma is this issue still actual?
If it is please describe detailed steps, actual result and expected result.
If it is not, please close it.

[2016-11-01 14:12] katmoon commented on #7093
Hi @claridgeandco

Please try to set rule to 'SKU _is one of_ james test art, James Test Art'.
It looks like the problem is that the rule definition is not intuitive.

Thanks,
Kateryna.

[2016-11-01 14:18] veloraven commented on #3232
@tkn98 is this issue still actual?
If it is please describe detailed steps, actual result and expected result.
If it is not, please close it.

[2016-11-01 14:20] veloraven commented on #3250
@atishgoswami is this issue still actual?
If it is please describe detailed steps, actual result and expected result.
If it is not, please close it.
if it is a question and is not an issue, please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/)

[2016-11-01 14:25] andidhouse commented on #1691
ok - i give it up. if it takes more then one year to implement a highly needed function like making the telephone number not a required field i am out of this topic.

For me it feels like "bugs" and functions are discussed here over and over again but nothing happens. I do not like to know how many people from magento side and developers have spent time in reading this and finding a solution.
For

[2016-11-01 14:27] SerhiyShkolyarenko commented on #7100
@apurv-anand thank you for reporting the issue.
I tried Magento 2.1.2 with Varnish installed by official docs(http://devdocs.magento.com/guides/v2.0/config-guide/varnish/config-varnish-magento.html) and didn't reproduce the issue. Each time the minicart value was shown, it corresponded items count in the cart.
Which of your steps were different from that manual? Do you use the exported from Magent

[2016-11-01 14:54] veloraven commented on #3690
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-01 14:54] #3690 closed, assigned to nobody

[2016-11-01 14:56] Will-I4M commented on #5517
It seems to be back in 2.1.2 !
I disabled the use of SID in admin but :

Résolution de www.xxxxxxx.com (www.xxxxxxxx.com)… xx.xx.xx.xx
Connexion à www.xxxxxxxx.com (www.xxxxxxxx.com)|xx.xx.xx.xx|:80… connecté.
requête HTTP transmise, en attente de la réponse… 301 Moved Permanently
Emplacement : http://xxxxxxxx.com/?SID=ggjarfb9f28190a51b0nossoh2 [suivant]

I use 301 in admin.

[2016-11-01 15:01] veloraven commented on #4357
@cedcommerce is this issue still actual?
If it is please describe detailed steps, actual result and expected result.
If it is not, please close it.
If it is more question than an issue please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) as GitHub issue tracker is intended for technical issues only.

[2016-11-01 15:03] veloraven commented on #4412
@adamzero1 thank you for your feedback.
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-11-01 15:03] #4412 closed, assigned to nobody

[2016-11-01 15:06] veloraven commented on #4514
@ADDISON74  the GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue please feel free to report new GitHub issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/

[2016-11-01 15:06] #4514 closed, assigned to nobody

[2016-11-01 15:06] gewaechshaus commented on #5517
Damn, I'm going to recheck it asap...

[2016-11-01 15:13] veloraven commented on #4538
I'm closing this issue as the issue was resolved.
If you can still reproduce this issue, please create a new GitHub issue report according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-01 15:13] #4538 closed, assigned to nobody

[2016-11-01 15:16] veloraven commented on #4550
@mihaai
I'm closing this issue as  the GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue please create new GitHub report according to the [Issue reporting guidelines](https://github.com/magent

[2016-11-01 15:16] #4550 closed, assigned to nobody

[2016-11-01 15:42] kassner commented on #4412
@veloraven some configurations are impossible to overwrite without editing `app/etc/di.xml` directly, so I see this as a technical issue. Can you explain further why is not?

[2016-11-01 15:53] PascalBrouwers commented on #6761
@kriby is the the same issue as https://github.com/magento/magento2/issues/6855 ?
veloraven is talking about another ticket but I cannot find it, except this one.

[2016-11-01 15:54] olysenko commented on #7230
Hi, thank you for your reporting.  Internal ticket is created MAGETWO-60352

[2016-11-01 15:55] Will-I4M commented on #5517
Thanks, just a thing, i've edited my message to remove ip on the github website, but as you answered using mail, the ip is back in your response, could you edit and remove the ip in it ?
Thanks a lot !

[2016-11-01 16:01] davidnguyen2205 commented on #7207
Ya, as @PaulBoss said.
We should get prices with or without tax as same way the frontend showing.
For now, I must hack by getting tax rate with admin token then implementing in the price calculation before showing on my app... and something is going to be bad if using search via the api....
It's so painful :(

[2016-11-01 16:05] davidnguyen2205 commented on #7199
I checked that my config is right as you said. Can you reproduce it or not? :)

[2016-11-01 16:20] mvaisberg opened #7265 "Authorized.net "Sorry, but something went wrong. Please contact the seller.""
**Preconditions**

Magento 2.1.0
PHP 5.6.26
MySQL .6.26

**Steps to reproduce**

Go to checkout and pay with authorized.net (sandbox or production, i tested both)
should see a message "Sorry, but something went wrong. Please contact the seller."

**Expected result**

Should see success page after pay.

**Actual result**

After click in "placer order" with authorized.net i get that error. I searche

[2016-11-01 16:32] veloraven commented on #4672
@mvistas is this issue still actual?
If it is please describe detailed steps, actual result and expected result according to the template.
If it is not, please close it.
If it is more question than an issue please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) as GitHub issue tracker is intended for technical issues

[2016-11-01 16:33] veloraven commented on #4714
@usn0545 is this issue still actual?
If it is please describe detailed steps, actual result and expected result.
If it is not, please close it.
If it is more question than an issue please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) as GitHub issue tracker is intended for technical issues only.

[2016-11-01 16:37] veloraven commented on #4796
@srenon
I'm closing this issue as the GitHub issue tracker is intended for technical issues only.
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue than please create new GitHub report following the [Issue reporting guidelines](https://github.com/magen

[2016-11-01 16:37] #4796 closed, assigned to nobody

[2016-11-01 16:38] nathandallaire commented on #1651
Hahaha buddy. 25 seconds is a dream. I ran a `php bin/magento c:f` (cache flush) and I have literally been waiting over 1 hour for this page to load.

[2016-11-01 16:42] veloraven commented on #5005
@kmoguls
I'm closing this issue as the GitHub issue tracker is intended for technical issues only.
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-11-01 16:42] #5005 closed, assigned to nobody

[2016-11-01 16:48] veloraven commented on #5100
@minhluan259
I'm closing this issue as the GitHub issue tracker is intended for technical issues only.
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-11-01 16:48] #5100 closed, assigned to vkorotun

[2016-11-01 16:51] ilol commented on #5823
Registered as [MAGETWO-60356](https://jira.corp.magento.com/browse/MAGETWO-60356)

[2016-11-01 16:51] #5290 closed, assigned to nobody

[2016-11-01 16:54] veloraven commented on #5515
@Digisha97
I'm closing this issue as the GitHub issue tracker is intended for technical issues only.
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue than please create new GitHub report following the [Issue reporting guidelines](https://github.com/ma

[2016-11-01 16:54] #5515 closed, assigned to nobody

[2016-11-01 16:56] #5613 closed, assigned to nobody

[2016-11-01 17:06] veloraven commented on #5743
@s00071609 GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue please format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-gui

[2016-11-01 17:12] veloraven commented on #5965
@MagePsycho
I'm closing this issue as the GitHub issue tracker is intended for technical issues only.
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue than please create new GitHub report following the [Issue reporting guidelines](https://github.com/m

[2016-11-01 17:12] #5965 closed, assigned to nobody

[2016-11-01 17:18] veloraven commented on #5986
@kanduvisla if you think it to be an issue please format description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
If it is just a question please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange

[2016-11-01 17:20] #6054 closed, assigned to nobody

[2016-11-01 17:27] veloraven commented on #6361
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-01 17:27] #6361 closed, assigned to nobody

[2016-11-01 17:28] veloraven commented on #6373
I'm closing this issue as the GitHub issue tracker is intended for technical issues only.
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue than please create new GitHub report following the [Issue reporting guidelines](https://github.com/magento/magen

[2016-11-01 17:28] #6373 closed, assigned to nobody

[2016-11-01 17:29] olysenko commented on #7232
Nice, thank you for your report. Internal issue is created MAGETWO-60360

[2016-11-01 17:30] btjackson11 commented on #7223
@veloraven @alena-marchenko any ideas on a potential fix for this issue?

[2016-11-01 17:42] veloraven commented on #6379
@ale8193
I'm closing this issue as the GitHub issue tracker is intended for technical issues only.
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue than please create new GitHub report following the [Issue reporting guidelines](https://github.com/mage

[2016-11-01 17:42] #6379 closed, assigned to nobody

[2016-11-01 17:43] veloraven commented on #7071
@pbvkrishna
I'm closing this issue as the GitHub issue tracker is intended for technical issues only.
Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue than please create new GitHub report following the [Issue reporting guidelines](https://github.com/m

[2016-11-01 17:43] #7071 closed, assigned to nobody

[2016-11-01 18:08] olysenko commented on #7200
Hi, thank you for your report. Internal issue is created MAGETWO-60362

[2016-11-01 18:50] maqlec commented on #5682
I confirm, when translation pack is present in app/i18n/Vendor/package or vendor directory then translations from separate modules are ignored. The worst is that Magento is getting latest translation from translation pack file while ignoring third and fourth column of CSV file.

Conclusion is that when you using translation pack you can't change translation in separate module without changing the

[2016-11-01 18:55] cyuzik opened #7266 "Account signup form is attack vector for spammers, and is active in the wild."
Using Magento 2.1.2 running on linux with php 5.6.1.

Spammers have been posting to /customer/account/create and similar form pages to send out spam. Our server had thousands of spam messages submitted using this in the past couple of days. The site is pretty much stock running the stock template.

We've done packet captures to the server and the attackers are simply using the last name field for

[2016-11-01 20:01] orlangur commented on #7266
Are you serious? :) There are other languages exist besides English, you know.

Agree with this point, looks like slashes and line breaks are not really needed for these fields in any language. But I'm not sure it is worth adding to core as your case is quite narrow (was it ever reported as a problem for Magento 1?).

In vanilla core you can just enable CAPTCHA or implement any other defending tec

[2016-11-01 20:12] orlangur commented on #7253
Well, some of the blocks are supposed to be inside other blocks or exist in layout by design. I don't think putting "if block exists" conditions everywhere is a wise idea. Only if product listing without toolbar is a real-world use case such check should be added.

Why do you need to move toolbar block outside? If it's really necessary, you can just render its markup in another place in your HTML

[2016-11-01 21:45] PatriceManset commented on #6852
As logical as this solution might be, the Magento platform we are putting in place is supposed to be able to cover multiple countries and multiple timezones with the same instance of Magento, so it doesn't exactly suit us.

[2016-11-01 21:50] AlexandreKhayrullin commented on #6852
The Magento platform we are putting in place is supposed to cover multiple countries and multiple timezones, so if we do this, the links will only work for one timezone.

[2016-11-01 21:51] Morgon commented on #2619
This is definitely not fixed, @oserediuk . Our base install was 2.1.0, subsequently upgraded to 2.1.2, and the Webserver Rewrites setting is not enabling SEF URLs for products.

[2016-11-01 21:56] cyuzik commented on #7266
I don't know if this was ever reported in Magento 1. However if spammers found our little low-traffic server, they're definitely going to be looking for others. We have enabled CAPTCHA on the site, and that's stopped the spam, for now. Again, we're running latest patch version of Magento 2.1.2 and were hit by this.

However, we're still back to the point that there is no reasonable length limit on

[2016-11-01 21:57] VahanDrnoyan commented on #7266
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  v.drnoyan@gmail.com
    Domain magejet.com has exceeded the max emails per hour (203/199 (102%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2016-11-01 22:02] tiffanyqm commented on #3417
It's not a permanent fix by any means (take care that when rebuilding, deploying, etc. you could overwrite this change), but to keep yourself from needing to restore or take other drastic measures, replacing the content of the custom-options.min.js with custom-options.js (the unminified version) in /pub/static/adminhtml/Magento/backend/en_US/Magento_Catalog/js/ will _temporarily_ allow you to edit

[2016-11-01 22:14] fooman commented on #6965
@veloraven please reopen this one. This applies to any 2.x version of Magento as can easily be seen here https://github.com/magento/magento2/commits/develop/lib/internal/Magento/Framework/Pricing/PriceCurrencyInterface.php

[2016-11-01 22:17] dinkeronline opened #7267 "Can not show Yes/No Attributes on frontend"
Yes/No Attributes are not visible on frontend due to error in the file

-/Magento/Catalog/Block/Product/View/Attributes.php

function getAdditionalData(array $excludeAttr = []) check if the attributes value is string but in case of Yes/No Attributes the value is something like this -

object(Magento\Framework\Phrase)#2322 (2) { ["text":"Magento\Framework\Phrase":private]=> string(3) "Yes" ["argume

[2016-11-01 22:39] Ctucker9233 opened #7268 "Magento 2.1.2 Cannot save CMS Page"
### Preconditions
1. Magento 2.1.2 Upgraded by CLI from 2.1.1
2. PHP 5.6.x

### Steps to reproduce
1. Navigate to store backend
2. Go to content -> Pages
3. Create new page
4. Add content
5. Save

### Expected result
1. Page saves with no problems

### Actual result
Page does not save. Clicking on the save button or the same and continue button has no results. Reference Issue #5295

I do not have

[2016-11-01 23:01] xpertm opened #7269 "Products not shown on magento 2.0.10 fresh build."
### Preconditions

1. Commandline install Magento 2.0.10 build released on 22nd Oct. on Ubuntu 14.04.5 LTS (GNU/Linux 3.13.0-100-generic x86_64)
2. Load products through admin console or API
3. run indexer, cache clean and cache flush

### Steps to reproduce

1.  Visit your sites website. The categories show up properly
2. No products seen on click on any category / sub category.
3. When used thro

[2016-11-01 23:20] #7269 closed, assigned to nobody

[2016-11-02 00:14] Ctucker9233 commented on #7268
Clearing all caches plus var/generation /view_preprocessed /cache doesn't help.

[2016-11-02 00:37] dhx2 opened #7270 "Visual swatch preventing the display of the required asterisk for any attributes that's display before it."
When a configurable product has a visual swatch, the required asterisk for all attributes display before it is missing.

Magento CE 2.1.2 with actual products.

**Recreate:**
1. Create some product attributes:
   2. Select Drop Down as it's Catalog Input Type.
   3. Mark it as required
4. Create an attribute using the Visual Swatch Catalog Input Type
5. Assign all newly created attribute to an att

[2016-11-02 00:40] claridgicus commented on #7093
Hey Kat,

We tried this and its still not working,

We would also like to report (could be related) that this is affecting coupons without any preconditions.

[2016-11-02 00:41] claridgicus commented on #5651
Hey guys, this timestamp issue is still featuring in 2.1.2 - is it going to be resolved in 2.1.3 or?

[2016-11-02 00:42] claridgicus commented on #5648
@magento-team is this resolved in your other tickets or?

[2016-11-02 00:43] claridgicus commented on #3154
Is this slated for 2.1.3?

[2016-11-02 00:43] claridgicus commented on #6387
Any progress on this issue?

[2016-11-02 02:47] VahanDrnoyan commented on #3690
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  v.drnoyan@gmail.com
    Domain magejet.com has exceeded the max emails per hour (202/199 (101%)) allowed.  Message will be reattempted later

------- This is a copy of the message, inclu

[2016-11-02 03:44] shuaiZend commented on #5670
+1:
2.1.2,
2.1.3,
2.0.11

[2016-11-02 03:46] apb-github commented on #6387
we finally moved to 2.1.x and the issue seems to have been fixed... or something changed anyway. It appears to no longer be an issue in this branch.

Edit to add: we also moved to php 7.0, so that may have been part of the solution. Don't know.

[2016-11-02 03:51] ankursachdeva11 commented on #6688
Thanks @sevos1984
I was not able to find this setting because after fresh install UI not working because of version number present in static urls. So, i tried to set this path in database and it works.

[2016-11-02 04:08] soncp commented on #3139
Hello, did you fixed this issue?

[2016-11-02 04:26] robert-lero9 commented on #7036
Just following up on this issue, @veloraven, as it is actually a pretty bad problem as store administrators cannot correctly manage customer information in a multistore setup where the default store has country limitations.

[2016-11-02 06:44] eldonbite commented on #3507
Using 2.1.0 before and encountered this. Upgraded to 2.1.2 and still experiencing this error.

[code]

It causes Error 500s on initial page load but gets displayed on subsequent reloads. This is probably the reason why we also keep on getting Error 500s whenever we enable Varnish.

[2016-11-02 06:50] klakekent commented on #6895
same issue met. any update on this @veloraven

[2016-11-02 07:29] ihor-sviziev commented on #6882
@sidolov I think this issue can't be fixed in this way, because there also issue on client side (JS)

[2016-11-02 07:32] ihor-sviziev commented on #7268
@Ctucker9233 could you open developer tools (F12) and show console? I think you have JS issue, maybe broken static

[2016-11-02 07:48] pantaoran commented on #3507
I also have always had this problem, since the very beginning, now using Magento 2.1.0.
We have learned over time to ignore these, but it's a lot of logging noise and very annoying.

[2016-11-02 08:00] tkn98 commented on #3232
You're asking stuff. This is months away. We have many more tickets opened in the enterprise gold support, you should perhaps concentrate on these. This one was just reported for your information.

I close as I read your comment as there is no real interest from your side to reproduce/fix it. Just so that my motivations are clear.

[2016-11-02 08:00] #3232 closed, assigned to nobody

[2016-11-02 08:01] veloraven commented on #2170
I'm closing this issue as the GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-11-02 08:01] #2170 closed

[2016-11-02 08:09] veloraven commented on #2525
I'm closing this issue as GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If there are any issues which should be fixed please create new GitHub issue following the [Issue reporting guidelines](https://github.com/magento/

[2016-11-02 08:09] #2525 closed, assigned to vrann

[2016-11-02 08:11] sammarcus commented on #4337
Interesting. I haven't been able to get it working so am curious if that functionality is even maintained anymore.

[2016-11-02 08:12] sammarcus commented on #4151
Can this please be clarified?

[2016-11-02 08:19] veloraven commented on #2731
I'm closing this issue as  GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue which requires fix please create new GitHub issue following the [Issue reporting guidelines](https://github.com/mag

[2016-11-02 08:19] #2731 closed, assigned to nobody

[2016-11-02 08:20] veloraven commented on #3381
@bh-ref I'm closing this issue as  GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue which requires fix please create new GitHub issue following the [Issue reporting guidelines](https://github

[2016-11-02 08:20] #3381 closed, assigned to nobody

[2016-11-02 08:21] veloraven commented on #3526
I'm closing this issue as  GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue which requires fix please create new GitHub issue following the [Issue reporting guidelines](https://github.com/mag

[2016-11-02 08:21] #3526 closed, assigned to nobody

[2016-11-02 08:25] veloraven commented on #4328
@giacmir is this issue still actual?
If it is please format it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result. Please, also identify which version of Magento you are running.
Please note that GitHub issue tracker is intended for technical issues only and refer to the [Com

[2016-11-02 08:29] veloraven commented on #4334
@shabith is this issue still actual?
If it is please specify Magento version you are running.

[2016-11-02 08:32] lucscu commented on #5068
Why this bug is so little discussed? Isn't it very important for who sells only configurable products?

[2016-11-02 08:33] veloraven commented on #4807
@Spittal is this issue still actual?
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue which requires fixing please format this issue according to  the [Issue reporting guidelines](https:/

[2016-11-02 08:50] sylvainraye commented on #3356
The reason why it doesn't work is because the method \Magento\Framework\View\Layout\Generator\Block::generateBlock:

When we want to overwrite an existing block, this one was at first initialized via a layout XML with an attribute `template`.

Into the `generateBlock`method, `arguments` are passed to the block, then `setTemplate` is called and then in the calling method `process` the action is cal

[2016-11-02 08:56] ivankaranjac commented on #6151
magento 2.1.2
Problem with deleting, updating and adding to cart once an item is added to the cart

traced the problem to vendor/magento/module-quote/Model/ShippingAddressManagement.php#120

commented out that if and it all seams to work fine now.

Also InputException takes  \Magento\Framework\Phrase for first param but in this class string is used, so 500 error.

[2016-11-02 08:59] veloraven commented on #5588
@robg66
I'm closing this issue as GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
eature Requests and Improvements should now be submitted to the new[ Magento 2 Feature Requests and Improvements forum](https://community.m

[2016-11-02 08:59] #5588 closed, assigned to nobody

[2016-11-02 09:04] veloraven commented on #5706
@Onkovat
I'm closing this issue as GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue which requires fix please create new GitHub issue according to the [Issue reporting guidelines](https://git

[2016-11-02 09:04] #5706 closed, assigned to nobody

[2016-11-02 09:04] debuysserk commented on #7051
Hi guys, is this effectively fixed? Could you point us to the correct commit in the develop branch so we can try to cherry pick it to our project?

Thanks.

[2016-11-02 09:17] veloraven commented on #5863
@kayintveen it seems that you describe to issues in this report:
- with urls format
- with missed url rewrites for store 1
  Please create separate GitHub issue for the second case.

[2016-11-02 09:23] matmarchant opened #7271 "REST API - Unable to authenticate using admin-only domain"
It is not possible to authenticate using the REST API if a store is set up with a different front-end and backend domain - as many international retailers do. e.g.
www.mystore.com - frontend (mage run code default)
admin.mystore.com/admin - backend (mage run code admin)

### Preconditions
1. Magento ver. 2.0.8
2. PHP 7.0.12 (cli) (built: Oct 15 2016 19:03:00)
3. nginx version: nginx/1.9.15
4. mysq

[2016-11-02 09:25] olysenko commented on #7217
Hi thank you for your report.
Closed as duplicate. Duplicate: #5101 & PR: #5116
We have separate internal issue for ver. 2.1 - MAGETWO-57026

[2016-11-02 09:37] tkn98 commented on #3174
@MagePsycho: Please try with `Magento\Framework\Filesystem\Driver`.

[2016-11-02 09:41] flancer64 commented on #7271
@maximinimus , "catalog_category_flat" is not an authentication related table. Try to re-index your data:

[code]

then post your authentication request once again.

[2016-11-02 09:43] matmarchant commented on #7271
The first thing I tried was a reindex. The results I posted are following the full reindex.
I am also running in developer mode and have cleared my var/generation var/cache and var/page_cache folders.

[2016-11-02 09:45] MarekKarmelski opened #7273 "Remember me template is not loaded from the original module"
### Steps to reproduce

1. Install Magento from 2.1.2 branch.
2. Create a module with a preference for the `Magento\Persistent\Block\Form\Remember`
3. Preference in `di.xml`:
`<preference for="Magento\Persistent\Block\Form\Remember" type="MyCompany\Module\Block\Persistent\Form\Remember" />`
4. Create your custom class:
[code]
5. Reload your page.

### Expected result

1. Custom class is used
2. No

[2016-11-02 09:53] redboxdigital-m2 commented on #7266
Any validation you do on names is either going to be not strict enough, or way to strict. I feel like rate limiting is probably the way forward here.

[2016-11-02 10:00] nmallepally commented on #5836
any work around for reindexing error or temporary solution ?
it is a painful process for us, indexing every hour to make configurable products attributes display for customers.
every hour or so, the config attributes disappears and displays again aft
![missing attribute](https://cloud.githubusercontent.com/assets/19605497/19924267/287fc710-a0e3-11e6-80a4-dd2eef36fb1a.png)
![after man index](https:

[2016-11-02 10:02] cscd98 commented on #5304
Totally agree here - trying to develop a new payment method and it's not very clear

[2016-11-02 10:03] nmallepally commented on #6615
I have same experience after upgrading from 2.0.7 to 2.1.0.
config attributes disappears and displays back after reindexing again.
![missing attribute](https://cloud.githubusercontent.com/assets/19605497/19924381/9370d014-a0e3-11e6-8963-605a99d3ad01.png)
![after man index](https://cloud.githubusercontent.com/assets/19605497/19924384/95d0fba4-a0e3-11e6-8c78-84922cda0341.png)

Any temporary solution

[2016-11-02 10:08] TheNavigat commented on #7028
Alright, there you go.

**Steps**:
1. Install Magento, the normal way
2. Using MySQL directly, grant all permissions to the MySQL magento user
3. Refresh the Magento platform

**Actual Result**: Exception

**Expected Result**: The platform should work

**Possible Reason of the issue**:

[2016-11-02 10:08] shabith commented on #4334
@veloraven yes! the issue still exists.
Magento ver. 2.1.2

[2016-11-02 10:10] veloraven commented on #6484
@rodrane I'm closing this issue as GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think it to be an issue which requires fixing please create new GitHub issue according to  to the [Issue reporting guidelines](http

[2016-11-02 10:10] #6484 closed, assigned to nobody

[2016-11-02 10:13] joni-jones commented on #5304
@rahulvramesh this isn't an issue. Some integrations doesn't have this fields, for example, Braintree PayPal.

[2016-11-02 10:17] jernejh commented on #7265
possibly connected with https://github.com/magento/magento2/issues/5642

[2016-11-02 10:19] jernejh commented on #7255
possibly related to https://github.com/magento/magento2/issues/5642

[2016-11-02 10:29] Rudik123 commented on #5784
Hi, I have a similar problem. Did  you solve this problem? I use magento 2.0.10.
I try @SerhiyShkolyarenko solution, but i have still notice "ATTENTION Sorry, we're unable to complete this request".
Please help.

[2016-11-02 10:40] YevSent commented on #7265
Hi @mvaisberg, thanks for reporting.
Could you check errors in a browser console, attach debug log and response from `transact.dll` request?

[2016-11-02 10:42] Pigau opened #7274 "Combine widget rule"
Hi,
I have some problem to use combine rule in product list widget.
It seems that the method Magento\CatalogWidget\Model\Rule\Condition\Combine::collectValidatedAttributes is not correct and try to call addToCollection without checking the rule type

### Preconditions
1.  Magento 2.1.1

### Steps to reproduce
1. Add a new widget 'Catalog Product List' on a cms page
2. Add a combine rule condition

[2016-11-02 10:42] YevSent commented on #6474
Fix from MAGETWO-56932 ticket will be available for 2.1.3 version.

[2016-11-02 10:44] YevSent commented on #7255
Hi, @btjackson11, thanks for reporting.

Please, attach debug log with declined transaction.

[2016-11-02 10:46] flancer64 commented on #7271
Is URL "https://admin.mysite.co.uk/V1/integration/admin/token" correct? "_/rest/V1/integration/admin/token_" & "_/rest/default/V1/integration/admin/token_" are correct URLs for me ("default" is a store view code).

[2016-11-02 10:48] matmarchant commented on #7271
I typed out the address wrong on the ticket, I have since updated it to the correct url - /rest/V1/integration/admin/token

As soon as I change the admin-only domain to use a front-end store code, the webservice will authenticate. Setting it to "website" scope and "admin" run code produces the error.

[2016-11-02 10:51] lucscu commented on #5948
Here the query that retrieves catalog products after filter

[code]

you could see the subquery

[code]

the issue is that the query joins between `catalog_product_index_eav`

[code]

where table correctly has ONLY CONFIGURABLE PRODCUTS, but INCORRECTLY has attribute value of child products that are OUT OF STOCK (compared to magento1.9). I think there is an error in reindex process that not clean

[2016-11-02 10:56] carlowens commented on #6195
👍 Thanks for the fix

[2016-11-02 11:05] kirashet666 opened #7275 "Getting "The resource isn't set". via Interceptor after Upgrading to 2.1.2"
Hi there,

we recently upgraded Magento from 2.0 to 2.1.2.

In our project we created a new REST Service for getting additional information besides what `"CategoryTreeInterface"` delivers.

In Magento 2.0 we had no issues. After upgrading to 2.1.2 we get following error:

[code]

If I overwrite the "getProductCount" method in the generated Interceptor.php, it works, but that can't be the solution.

[2016-11-02 11:05] diybook commented on #7027
Hi bizzi, thanks for clarification. So it's no bug but a feature.

Best regards,
Gerald

[2016-11-02 11:08] kirashet666 opened #7276 "Product editing: double buttons for Back and Save"
Hi there,

I just discovered there are some buttons shown double if you edit a product in the magento administration.

See attached file.

### Preconditions

1. Magento 2.1.2

Is there a solution for that?

Thanks,
Ali

Edit: file upload seems broken: http://imgur.com/CwCQYXJ

[2016-11-02 11:09] sevos1984 commented on #7193
This is already fixed in develop https://github.com/magento/magento2/commit/bebb2ceb000b9296f9b04ecd5424ef66cd723fbf. Soon will be delivered to 2.1.

[2016-11-02 11:09] #7193 closed, assigned to nobody

[2016-11-02 11:24] kunzi commented on #5836
We have this problem too. Crons are set up and running in Magento 2.1.2, but still new products are not visible in frontend and it also seems that extensions that rely on product indexing are not working properly.

[2016-11-02 11:34] veloraven commented on #7244
@dcabrejasazagra thank you for your report, but I'm closing it as it is a duplicate for #7037

[2016-11-02 11:34] #7244 closed, assigned to nobody

[2016-11-02 11:35] kirashet666 commented on #7275
Solved. The problem was that the implementation class which extended `CategoryTreeInterface` had no valid constructor.

[2016-11-02 11:35] #7275 closed, assigned to nobody

[2016-11-02 11:36] veloraven commented on #7246
@shaw-tech thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-02 11:39] lucscu commented on #6212
This bug is also present in catalog pages:
when you filter by super attribute like size, magento lists also configurable products that have its simple products for searched size out of stock.

[2016-11-02 11:39] veloraven commented on #7252
@gabs77 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-02 11:42] veloraven commented on #7254
@nlscrw GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.
If you think this to be an issue which requires fixing please create new GitHub issue according to the [Issue reporting guidelines](https://github.com/magento/magent

[2016-11-02 11:42] #7254 closed, assigned to nobody

[2016-11-02 11:50] veloraven commented on #7267
I'm closing this issue as duplicate for #6634

[2016-11-02 11:50] #7267 closed, assigned to nobody

[2016-11-02 11:57] veloraven commented on #7276
@kirashet666 thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-02 12:03] kirashet666 commented on #7276
@veloraven Really? Just create a product and edit it. No need to elaborate.

[2016-11-02 12:21] olysenko commented on #7163
Hi, thank you for your request. Magento expects id as key for option array, Please use
\Magento\Eav\Api\AttributeOptionManagementInterface for attribute options management

[2016-11-02 12:21] #7163 closed, assigned to nobody

[2016-11-02 12:34] AntonEvers commented on #3063
@Ctucker9233 It is fixed since 2.1.0-rc1 so all the way up to 2.1.2 you will have phpseclib/phpseclib 2.0.*

[2016-11-02 12:35] veloraven commented on #6828
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:35] #6828 closed

[2016-11-02 12:36] giacmir commented on #7163
@olysenko But if so, why is that method called at the end of `addAttribute` that is meant to add attributes during setup?

[code]

Should the options be created before the attribute? Should we really use AttributeOptionManagementInterface in setup files? It don't makes sense.

[2016-11-02 12:39] veloraven commented on #6844
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:39] #6844 closed, assigned to nobody

[2016-11-02 12:40] veloraven commented on #6900
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:40] #6900 closed, assigned to nobody

[2016-11-02 12:40] veloraven commented on #6995
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:40] #6995 closed, assigned to nobody

[2016-11-02 12:41] veloraven commented on #7007
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:41] #7007 closed, assigned to nobody

[2016-11-02 12:41] #7017 closed, assigned to nobody

[2016-11-02 12:41] veloraven commented on #7019
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:41] #7019 closed, assigned to nobody

[2016-11-02 12:41] veloraven commented on #7029
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:41] #7029 closed, assigned to nobody

[2016-11-02 12:42] veloraven commented on #7040
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:42] #7040 closed, assigned to nobody

[2016-11-02 12:42] veloraven commented on #7048
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:42] #7048 closed, assigned to nobody

[2016-11-02 12:42] #7049 closed, assigned to nobody

[2016-11-02 12:42] veloraven commented on #7064
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:42] #7064 closed, assigned to nobody

[2016-11-02 12:42] veloraven commented on #7079
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:42] #7079 closed, assigned to nobody

[2016-11-02 12:44] olysenko commented on #7163
The recommended flow is to use API if it is possible, using API you can create attribute(\Magento\Eav\Api\AttributeRepositoryInterface), manage it options(\Magento\Eav\Api\AttributeOptionManagementInterface) etc

[2016-11-02 12:44] nagrgk commented on #7187
I have given you all the information. Please take this and resolve issue immediatly.

thanks

[2016-11-02 12:47] veloraven commented on #7039
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:47] #7039 closed, assigned to nobody

[2016-11-02 12:51] veloraven commented on #7170
@Morgon thank you for update and for additional information.

[2016-11-02 12:57] giacmir commented on #7163
Wait a minute, APIs should be used in setup also? I mean... in InstallData classes too? Why so there still are EavSetup classes?

[2016-11-02 12:58] mvaisberg commented on #7265
Hi @joni-jones thank you for the answer.

This is the response log in the debug.xml:

![selection_017](https://cloud.githubusercontent.com/assets/4543889/19929543/87ce70b2-a10c-11e6-80ae-aefb125a8e62.png)

In my console of the browser i haven't any error, this is the screenshot:

![selection_016](https://cloud.githubusercontent.com/assets/4543889/19929569/9ac9f7fe-a10c-11e6-8887-bdbb14aa5c86.png)

[2016-11-02 12:58] veloraven commented on #6696
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:58] #6696 closed, assigned to antboiko

[2016-11-02 12:59] veloraven commented on #6017
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-11-02 12:59] #6017 closed, assigned to nobody

[2016-11-02 13:06] YevSent commented on #7265
Do you use Authorize.net production or sandbox mode?
Also, your `x_relay_url` looks like URL for a local environment, but authorize don't work for local instances.

[2016-11-02 13:11] mvaisberg commented on #7265
I tried with sandbox credentials and production credentials, both same issue. The screenshot are from sandbox credentials.

Same error apear in staging enviroment too.

![selection_018](https://cloud.githubusercontent.com/assets/4543889/19929925/8c352716-a10e-11e6-916d-781887ad7055.png)

[2016-11-02 13:12] springimport commented on #7253
bad design

I have a custom layout, why do I need.

Also I cannot remove the [block](https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Block/Product/ListProduct.php#L224). How can I hide it?

[code]

[2016-11-02 13:17] YevSent commented on #7265
For sandbox environment, the `Test Mode` option should be disabled (`x_test_request`), this option only for production mode.

[2016-11-02 13:26] rganin commented on #7266
@cyuzik , Thank you for reporting, the issue is acknowledged, created internal ticket MAGETWO-60396 for adding more strict fields validation.

[2016-11-02 13:30] shaw-tech commented on #7246
Hi Veloraven,

The format doesn't really apply because this isn't necessarily a bug, it just looks like there's a feature missing or hasn't been considered.

Could you please address the last query:

To me, it looks like Magento's multiple address checkout doesn't support the Magento_Vault functionality - is that correct? If so, are there any plans to do so?

[2016-11-02 13:37] tdgroot commented on #5973
Switching the **Interface Locale** back to `en_US` worked for me, this is a great temporary fix!

[2016-11-02 13:37] GordonLesti commented on #5722
Hello @aliantech
Seems to be a duplicate issue https://github.com/magento/magento2/issues/6513 and is solved in current `develop` branch. Problem was the `updateValue` function in [import-handler.js](https://github.com/magento/magento2/blob/2adb6e287f53c7a860aa5829733aad1014e11be2/app/code/Magento/Catalog/view/adminhtml/web/js/components/import-handler.js#L58).

[2016-11-02 13:55] pareshe opened #7277 "Order confirmation email send take time"
In checkout when click on Place order button take time around 13 seconds.

And when
Store > Configration > Sales > Sales Emails > General Settings > Asynchronous sending > Enable.

Then it take 7 seconds.

So it take to much time ,also send email from admin order view page. Also sending custom email using
 observer "checkout_onepage_controller_success_action".

So email sending very slow.

[2016-11-02 13:58] mvaisberg commented on #7265
I changed test mode to "No" and still not working

![selection_021](https://cloud.githubusercontent.com/assets/4543889/19931445/359b1b2a-a115-11e6-9915-45e24e6cd053.png)

[2016-11-02 14:00] YevSent commented on #7265
Please, attach response from `transact.dll` request.

[2016-11-02 14:01] mvaisberg commented on #7265
How can i get it? is there a log or i have to debug the core?

[2016-11-02 14:06] SerhiyShkolyarenko commented on #5784
@Rudik123 we didn't reproduce the issue. Could you point all required steps for fresh installed Magento to reproduce it?

[2016-11-02 14:06] mr-ford opened #7278 "Form Input Templates Not Being Applied on M2 Checkout"
My issue was marked as closed without an answer so I'm posting again.

### Preconditions
I'm running Magento 2.1.1.

### Steps to reproduce
1) I'm attempting to update the template used to wrap the form fields on a per field basis via checkout_index_index.xml.

2) I've created new template files saved in the same place as the original template file
(/module-ui/view/frontend/web/templates/form/fiel

[2016-11-02 14:07] YevSent commented on #7265
You can get response from browser network console.

[2016-11-02 14:08] mayankzemiprotech commented on #7277
Yes you are right Man I also face the same problem. Checkout really take a too much time just because of send email.

[2016-11-02 14:10] mvaisberg commented on #7265
After click in place order this request response appear

![selection_024](https://cloud.githubusercontent.com/assets/4543889/19931939/ec3881e6-a116-11e6-828f-06a66ee00d31.png)

![selection_023](https://cloud.githubusercontent.com/assets/4543889/19931915/de2a5692-a116-11e6-8a8b-04531f739470.png)

The second one is:

{"success":true,"authorizenet_directpost":{"fields":{"x_version":"3.1","x_delim_dat

[2016-11-02 14:16] YevSent commented on #7265
You need a response from `transact.dll`.
![transactdll](https://cloud.githubusercontent.com/assets/2736528/19932137/9489bc7a-a117-11e6-98b2-51f903f50a7a.png)
Also, check if URL for `transact.dll` is correct (`https://test.authorize.net/gateway/transact.dll` for sandbox)

[2016-11-02 14:40] yumicom opened #7279 "Bill-to Name and Ship-to Name trancated to 20 characters in backend"
### Preconditions
Magento ver. 2.1.2
php version 7.0, MariaDB 10.1

### Steps to reproduce
Input firstname longer than 20 characters on Checkout shipping step

### Actual result
Go to backend Sales-Orders and check Bill-to Name and Ship-to Name. Both names trancated to 20 characters!

[2016-11-02 14:45] sevos1984 commented on #7191
Have you tried clearing browser cache? Do you have any errors is browser's console?

[2016-11-02 14:48] odubovyk commented on #7199
@pitangaweb, thank you for report. Internal ticket MAGETWO-60411

[2016-11-02 14:57] mvaisberg commented on #7265
ok, changing that for sandbox it works!

should i use "https://secure.authorize.net/gateway/transact.dll" ?

[2016-11-02 14:59] sevos1984 commented on #7130
Have you cleared browser cache? Check your browser's console for errors as well as magento logs.

[2016-11-02 15:10] YevSent commented on #7265
Sandbox URLs:
https://test.authorize.net/gateway/transact.dll - gateway
https://apitest.authorize.net/xml/v1/request.api - transaction details

Production URLs:
https://secure.authorize.net/gateway/transact.dll - gateway
https://api.authorize.net/xml/v1/request.api - transaction details

For more details, please, see [API reference](http://developer.authorize.net/api/reference/) .

[2016-11-02 15:12] sevos1984 commented on #7118
Thanks for reporting, internal ticket created MAGETWO-60413

[2016-11-02 15:12] mvaisberg commented on #7265
Thanks, it works perfecto in both sandbox and production now !!!

thanks you very much!!

[2016-11-02 15:15] #7265 closed, assigned to alena-marchenko

[2016-11-02 15:19] slopukhov commented on #6846
@kapeel45 thank you for your feedback,
Please provide detailed information about version of Magento and information about your environment: operating system, versions of PHP, MySQL and web server.

Since on my environment, this problem can not be reproduced.
![result](https://cloud.githubusercontent.com/assets/8982177/19934655/1ce86bf4-a120-11e6-992c-31a7cce9fefb.png)

[2016-11-02 15:35] matmarchant opened #7280 "TargetRule - error when using a select attribute for a rule condition"
EE Issue

[2016-11-02 15:38] #7280 closed, assigned to nobody

[2016-11-02 15:40] Ctucker9233 commented on #7268
@ihor-sviziev yes, you are correct. I cleared pub/static, redeployed static content and the button works again. Thanks for pointing me in the right direction. Closing issue.

[2016-11-02 15:40] #7268 closed, assigned to nobody

[2016-11-02 15:48] ghost commented on #5973
Thanks for this, also a dutch user :-)

[2016-11-02 15:51] trichter01 commented on #6950
Has there been any success towards a resolution for this issue?

[2016-11-02 15:53] cscd98 commented on #6929
Same issue here, thought it was my payment code.. guess it's not! 2.1.2

[2016-11-02 15:54] sevos1984 commented on #7088
I've tried that using luma theme and block removed. Could your case with using luma theme?

[2016-11-02 16:01] nuwaus commented on #6929
It is more of db related issue, please check those tables mentioned.

[2016-11-02 16:07] slopukhov commented on #6143
@pieal86 thank you for your feedback,
Please, recheck it on the latest 2.1 version of Magento.

Just to clarify, сan you open the image to these links?
Since I have links:
in the email like site.com/sales/download/downloadCustomOption/id/3/key/74e0e2326f17da27aa32/,
in the backend like site.com/sales/download/downloadCustomOption/id/3/key/74e0e2326f17da27aa32/?SID=pmjci4l0t9hiph86ndig83q244
and by

[2016-11-02 16:08] craigcarnell commented on #6929
Their is no street option on mine - EE 2.1.2. It does appear in adminhtml/system.xml for the module however.

![screen shot 2016-11-02 at 16 08 16](https://cloud.githubusercontent.com/assets/1188869/19936755/9aba1776-a116-11e6-9e94-495fea1f85e8.png)

[2016-11-02 16:13] jk100magnys commented on #7088
This problem may be visible if you make new theme "MyTheme" via extends (for example) Luma.
And then, in MyTheme directory
`
app/design/frontend/MyTheme /mytheme/Magento_Customer/layout/default.xml
`
you try to move some block from Luma Theme.

`
<referenceBlock name="register-link" remove="true" />
`

So, it means that you have to have possibility edit and control Parent's theme blocks from layou

[2016-11-02 16:14] franckgarnier21 commented on #2671
@brideo

Workaround :
Add an isset condition in the file :
vendor/magento/module-elasticsearch/Model/DataProvider/Suggestions.php:157

`if (is_array($result) && isset($result['suggestions'])) {`

I just created an Enterprise support ticket.

It occurs only when I have no product on Magento EE 2.1.2

[2016-11-02 16:15] pilardo opened #7281 "PHP Parse error: syntax error, unexpected '.' in vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php on line 93"
Preconditions
1. Magento Version: 2.1.2
2. PHP 7.0.12
3. MySql 5.6.33

Steps to reproduce
1. run composer install
2. setup:di:compile
3. setup:upgrade --keep-generated
4. flush cache

Expected result
1. able to load the site. instead of showing http 500 error.

Actual result
1.  PHP Parse error:  syntax error, unexpected '.' in vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php on

[2016-11-02 16:16] abi2 commented on #7265
I'm experiencing the same issue,
I'm in production mode and using the correct Production URLs,
Any help?

Thank you!

[2016-11-02 16:18] abi2 commented on #5642
@alena-marchenko Any updates on this issue?

Thank You!

[2016-11-02 16:18] cscd98 commented on #4921
@piotrekkaminski when is 2.1.3 due? This is stopping me developing a payment module
@liiskmaa didn't work for me - EE 2.1.2
@matt-bailey I hacked it to 1.. still doesn't work for me in EE

[2016-11-02 16:20] jameshalsall commented on #6671
@frostshoxx it's like your root category has a different ID than the one in @janmyszkier's example code

[2016-11-02 16:21] olysenko commented on #7179
Hi, thank you for your report.  If I understand correctly you mean table "catalog_product_entity_varchar", it doesn't contain duplicated rows. Combination of attribute_id, store_id, entity_id and value differs at least  by entity_id value. Please provide more info to be on the same page.

[2016-11-02 16:28] VladimirZaets commented on #5044
Hi @Vinai, we've updated this library in scope of our internal task, you can see this in current mainline.
Thanks for your contribution.

[2016-11-02 16:28] #5044 closed, assigned to nobody

[2016-11-02 16:29] schnappenberger commented on #7179
Yes, i mean catalog_product_entity_varchar. By editing products in Backend in a multistore environment we’re getting rows in this table which differ in value_id. But  attribute_id, store_id, entity_id and value are not unique. So we have the same attribute value for a product and a store multiple times.

[2016-11-02 16:29] mvaisberg commented on #7265
Do you have authorized.net in live mode and Test Mode => No in the configuration of magento?

Attach please the response in var/log/debug.xml

[2016-11-02 16:30] rganin commented on #7281
Please verify you have same PHP version in httpd (by echoing `phpversion()` output or any).

[2016-11-02 16:32] cscd98 commented on #6929
@nuwaus Plus the store Id i'm checking out on is 3

![screen shot 2016-11-02 at 16 31 59](https://cloud.githubusercontent.com/assets/1188869/19937626/eac13f8a-a119-11e6-8c1c-9e79b411cdbf.png)

![screen shot 2016-11-02 at 16 32 23](https://cloud.githubusercontent.com/assets/1188869/19937641/f598c3a6-a119-11e6-823f-415c4f19f83f.png)

Here is my error:

[code]

[2016-11-02 16:34] abi2 commented on #7265
authorize.net is in live mode,
(replaced domain with changed.com)
[debug.log.txt](https://github.com/magento/magento2/files/567144/debug.log.txt)

Thanks for your help!

[2016-11-02 16:40] nuwaus commented on #6929
@craigcarnell
Please check the `AUTO_INCREMENT` of your `sequence_order_1` if it possible to delete your current orders please do as follow,

[code]

Doing this worked for me, make sure to disable any 3rd party extensions which effect on ordering process, such as modules for rewards points etc..

And make sure to backup your database as it is before doing truncate.

[2016-11-02 16:48] devdesco-ceo commented on #6823
By digging deeper into log files, I discovered the following error (thousands on error lines like this) produced on `default`, i.e. main/default store views of each and separate `websites` in my multi-store installation:

[2016-11-02 16:50] orlangur commented on #7253
As you can see from implementation blocks are mixed with collection model and thus some data is obtained from toolbar block and defines model state. In this (poor) implementation product list block does not make sense without toolbar block (which is not just visual representation but also a storage for some collection flags).

You cannot remove block from layout without additional fixes but you ca

[2016-11-02 16:52] olysenko commented on #7273
Hi, thank you for your report. This topic is in progress in scope of PR #[1895](https://github.com/magento/magento2/pull/1895). So I closed this conversation as duplicate and it could be continued in mentioned PR

[2016-11-02 16:54] SerhiyShkolyarenko commented on #7100
@apurv-anand thank you for reporting the issue.
I tried Magento latest with Varnish and didn't reproduce the issue. Each time the minicart value was shown, it corresponded items count in the cart. Minicart never shown 0.
Which Varnish version do you use? Is the issue reproducible without varnish(with FPC)?
Which mode magento works in?

[2016-11-02 16:55] cscd98 commented on #6929
@nuwaus tried truncating my tables, increase the sequence, didn't work for me I'm afraid :( I'll have to try disabling modules.

[2016-11-02 16:58] orlangur commented on #7273
@olysenko what is the time frame for #1895 to be delivered? It exists for more than a year already and I don't observe any real movement in it.

[2016-11-02 17:01] sevos1984 commented on #7068
Thanks for reporting, internal ticket created MAGETWO-60429

[2016-11-02 17:02] abi2 commented on #6474
@joni-jones  Any ETA on when 2.1.3 will be released?

Thank You

[2016-11-02 17:05] nuwaus commented on #6929
@craigcarnell

Please try to place an order, then after you get the error message, go to `sales_order` table and see if it has inserted a new record. If that happen you can narrow down the issue.

Sometimes order places, but some other DB transaction after that can cause the issue because it happened to me as well after the order is placed I got an error when it trying to add records to rewards po

[2016-11-02 17:13] springimport commented on #7253
So, I have to make a crutch.

[2016-11-02 17:29] ksz2013 opened #7282 "_extend.less not merge in themes"
Hi,
I have a custom theme, extends the luma theme, everything works properly. My custom less modifications were added in web/css/source/_extend.less

Now I would like to create a subtheme from this custom theme I created previously, but if I add a content to /web/css/source/_extend.less the css modifications added in the parent theme are not taken in consideration.

 Should't they be merged or how

[2016-11-02 18:43] dthampy commented on #7260
Internal jira ticket MAGETWO-60441 is created to track this issue. Thank you for your bug report.

[2016-11-02 19:15] Igloczek commented on #6866
I know that I can handle everything on my own, but it's painful when you have ~10-20 modules to just fix something, flying around ~5 projects, with ~20 devs working on them...

I'm pretty sure that there was a plan to release patches to modules independently from main project releases and AFAIK you are talking about doing that after 2.1.2 (same as about smaller, but frequent updates of whole produ

[2016-11-02 19:31] dthampy commented on #7120
This is already fixed in 2.0.11 . Jira ticket: MAGETWO-58035

[2016-11-02 19:55] miller-nicholas opened #7283 "Insignificant stores sorting issue"
### Preconditions
1. Magento 2.1.2 Release Archive
2. Magento 2.4-develop

### Steps to reproduce
1. Login to Admin
2. go to Stores -> All Stores.
3. Sort by any column

### Expected result
Sorting should work or disable the  sorting option

### Actual result
sorting doesn't work

[2016-11-02 20:14] abi2 commented on #5642
As per #6474 fix for MAGETWO-56932 will in Magento 2.1.3.

Thanks!

[2016-11-02 20:16] Hawk30100 commented on #5882
I just cloned our productive 2.0.8 system in order to update it to 2.1.2 and the problem is back.

If I want to add a configurable product (color) to the bag, the page gets reloaded and the message: "You need to choose options for your item."   is displayed.

I updated the magento version using composer. In addition we are using the Porto theme 2.4.0.1 for Magento.

[2016-11-02 21:28] githeat opened #7284 "Invalid option value in row(s) when importing configurable products"
When I try and use the Magento 2 native import function, I get a validation error which reads
"1. Invalid option value in row(s)". This happens when importing configurable products, and does not affect simple/virtual products. This does not affect every single configurable product I'm trying to import, I cannot find a pattern.

I have used Notepad++ to encode the .csv using UTF-8-BOM. I have also

[2016-11-02 22:40] joshdavenport commented on #7197
Have recently experienced this issue with a client and it sure is a pain. Even setting backorder settings "Allow qty to below 0" which based purely on the language would lead you to believe a negative qty would be valid. Worth noting: setting allow qty decimals allows you to save with a negative qty but that feels hacky.

[2016-11-03 01:22] dthampy commented on #7259
Internal Jira Ticket to track this issue : MAGETWO-60448

[2016-11-03 01:25] jernejh opened #7285 "Chosen option values not shown when configurable product is added to cart"
### Preconditions

1. Magento 2.1.2
2. PHP 7.1

### Steps to reproduce

1. Prepare attributes and values
2. Prepare the configurable product with different options
3. Prepare a set of simple products which are a basis for a configurable product
4. Import products over CSV
5. Refresh indexes, cache
6. Select some options such as size, color. At this point: {1} product is dynamically changing price

[2016-11-03 01:32] pilardo commented on #7281
@rganin PHP version in http is 5.5.9-1ubuntu4.20, I also run php -v in command line it shows PHP 7.0.12-1+deb.sury.org.

[2016-11-03 02:40] chi07 opened #7286 "Table rate Shipping method (Weight and Destination) does not work"
Hi Everyone. I have a problem with shipping method is table rate (Shipping method). When i create a new order. All Shipping methods are working fine (including table rate shipping method: Price and destination). **There is table rate Weight and Destination** does not work only => can not applied into the order.

**I'm using magento 2.1.1**

This is my tablerate.csv content. The Region/State have b

[2016-11-03 02:52] pilardo commented on #7281
@rganin thank you for comment. it help to fix the issue.

[2016-11-03 02:52] #7281 closed, assigned to nobody

[2016-11-03 03:01] devdesco-ceo commented on #6823
Finally, resolution came from another issue #5183.
I compared `lib/internal/Magento/Framework/Locale/Format.php` both from `2.0.9` and `2.1.2` versions, and in the latest one there is so much bogus code...

I had to replace code on line 112
`$defaultSet = $localeData['NumberElements']['default'] ?: self::$defaultNumberSet;` with `$defaultSet = self::$defaultNumberSet;` and here is the miracle... d

[2016-11-03 04:14] phuc128t opened #7287 "Get error when updating Category has a large number of products"
### Preconditions

1. Magento 2.1.2, PHP 7.0.8, Mysql 5.7
2. Ubuntu Apache

### Steps to reproduce

1. Create new category (A) with Anchor = Yes, then create some sub categories below it.
2. Add a large of products to A and sub categories. In my case, the total count number of A more than 10000 products.

### Expected result

1. Category can be updated without error

### Actual result

1. Change c

[2016-11-03 05:56] srinathweb commented on #4432
{
    "message": "You did not sign in correctly or your account is temporarily disabled.",
    "trace": "#0 /home/public_html/shop/vendor/magento/module-integration/Model/AdminTokenService.php(81): Magento\Integration\Model\Oauth\Token\RequestThrottler->throttle('admin ', 3)\n#1 [internal function]: Magento\Integration\Model\AdminTokenService->createAdminAccessToken(

I have same issue.

[2016-11-03 06:29] mdmujassam commented on #3275
@augsteyer @jigneshkhunt
did you get the solution... I got the same issue.. Help if any of you have got solution. Thanks

[2016-11-03 06:56] mitulispace commented on #7191
yes i tried @sevos1984

[2016-11-03 07:26] orlangur commented on #7253
Exactly, until product list block implementation is decoupled from toolbar you cannot just change layout structure without consequences.

Since it's [quite old](https://github.com/OpenMage/magento-mirror/blob/magento-1.9/app/code/core/Mage/Catalog/Block/Product/List.php#L201) code it does not seem to me that it's a big problem.

[2016-11-03 07:34] nick-iFactory opened #7288 "Tier price and Tax Calculation show incorrect saving %"
### Preconditions

1. Running Magento 2.1.2

### Steps to reproduce
1. I have setup tax of 10% for all products.
2. I have set catalog price to show including tax.
3. I create multiple price tiers if you order multiple discounts
4. The saving % displayed is different than the actual price displayed

### Expected result
1. Buy 1 for $100
2. Buy 10 for $90 save %10
3. Buy 100 for $75 save %25

### A

[2016-11-03 08:10] vasilii-b opened #7289 "Store Emails are not sent to destination (admin, customer)"
### Preconditions

1. Magento 2.1 upgraded from 2.0
2. Cronjobs are running. `cron_schedule` [mysql table content](http://prntscr.com/d2gw7m)
3. default _php_ `mail()` function works
4. No 3rd modules to send emails are active. Just [Mandrill](https://store.ebizmarts.com/magemonkey-magento2.html) installed (!**not activated**)

### Steps to reproduce

##### Order email
1. Add product to cart
2. Go

[2016-11-03 08:11] vasilii-b commented on #5508
@veloraven  oppened new [issue](https://github.com/magento/magento2/issues/7289) regarding the same problem.

[2016-11-03 08:17] VladimirZaets commented on #5091
Hi @Vinai. We have fixed JS tests, you can see this in current mainline.
Thanks for your report.

[2016-11-03 08:17] #5091 closed, assigned to nobody

[2016-11-03 08:22] PieterCappelle opened #7291 "E-mail after Contact Us not in default e-mail layout (plain text)"
### Preconditions
1. Magento 2.1.2
2. Default installation no plugins/extensions installed

### Steps to reproduce
1. Browse to the default Contact page with the default Contact form
2. Fill in the Contact Form and submit
3. E-mail will be sent to the email address you configured in the configuration panel

### Expected result
1. Receive e-mail in the Magento default header and footer layout (like

[2016-11-03 08:29] rganin commented on #7287
Thank you for reporting. Seems like an indexing performance issue. It is highly recommended to use 'Update On Schedule' indexer mode for large catalogs, try to switch it to defer indexing process and reproduce again.
Links to documentation:
- http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-index.html
- http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cl

[2016-11-03 08:31] olysenko commented on #7163
Usage of API for your extension guarantees compatibility with upcoming versions. Magento code or your extension may rely on private implementation. But with this approach your code may be compatible only with one particular version that selected for development.

[2016-11-03 08:37] phoenix128 commented on #7163
@olysenko , can you please let us understand how you could create an attribute in a **setup** script using API? Are you sure you correctly understand the @giacmir question? I had the same problem and he is talking about **SETUP** classes.

I'm asking you because you do it in a very different way in your original Magento's code.
Take a look in `Magento\Catalog\Setup\InstallData.php::install` (just

[2016-11-03 09:00] vasilii-b commented on #7289
#### After I disabled Mandrill module at all, order email was sent.

My apologizes.

[2016-11-03 09:00] #7289 closed, assigned to nobody

[2016-11-03 09:04] quynhvv commented on #6916
Yeah, let's do steps as @riyuk hav indicated to solve this issue.

[2016-11-03 09:05] BaDos commented on #5202
Hi @MagePsycho
Are you using Magento from Composer or Git?

If Magento was installed from Composer, then `sampledata:deploy` works correctly.
But if Magento was installed from Git, you should install Sample Data from [magento2-sample-data](https://github.com/magento/magento2-sample-data)

[2016-11-03 09:06] #7094 closed, assigned to nobody

[2016-11-03 09:34] KooTjoo commented on #5882
Same here, I have upgraded to 2.1.2 and the add to cart issue is there when using configurable products.

[2016-11-03 09:35] vkorotun commented on #7273
Will be resolved within #1895 (Internal ticket: MAGETWO-60451)

[2016-11-03 09:43] kanduvisla commented on #6671
Confirmed in M2.1.2

I have 2 categories that have similar sub-category names (For example foo/bar, goo/bar). 'bar' is considered a duplicate key.

Fun fact: truncating the url_rewrite table did solve the problem for me.

[2016-11-03 09:46] phuc128t commented on #7287
Still same result. This time it took me more than 20 min.

[2016-11-03 09:49] olysenko commented on #7163
see example

[code]

[2016-11-03 09:54] Taral-Patoliya opened #7292 "Managing large number of customer groups and Products."
I am working on a store where i need to import products on a daily basis and the number of products may go up to more then 1,90,000. The Store discount heavily depends on the customer groups which are around 8800 including the core ones in number.

The Products are imported seamlessly, but when trying to reindex the `Catalog Product Price index`, it inserts 130 million records in  `catalog_product

[2016-11-03 10:04] quynhvv commented on #6916
Hi guys,

The root issue because the attribute sets of your bundle products was missing the Attribute group named
`Bundle Items`
So to solve this issue, for each the Attribute Set of your bundle products let's open it and add more the Attribute Group named `Bundle Items` and move the Attribute code named `shipment_type` to the Attribute Group you have just added. See more here: http://i.prntscr.co

[2016-11-03 10:22] phoenix128 commented on #7163
So what you are saying is that Magento's code is wrong in every setup class in its code? Are you sure you correctly understood the question @giacmir asked?

So what **EavSetup** is for? You are using it in every single setup file in original Magento's code.

Thank you.

[2016-11-03 10:28] BaDos commented on #5208
Hi @webspeaks

I have upgraded Magento 2.0.6 to 2.1.0 via Web Wizard.

Just Magento 2.0.6 doesn't write anything during composer update via Web Setup Wizard.
It was fixed.
For example, Magento 2.0.10 every minute writes a message "Update is already in progress." during composer update.

If you have the same problem with 2.0.10, please reopen this issue.

Thank you.

[2016-11-03 10:28] #5208 closed, assigned to BaDos, dthampy

[2016-11-03 10:43] bardkalbakk commented on #6275
It supprising to find that this bug is still pending. Has anyone backported this to 2.1 [23103c0](https://github.com/magento/magento2/commit/23103c03c527fe1ed3e1a3be691436818b7963fe) ?

The commit looks quite simple and isolated.

[2016-11-03 11:05] rzinnatullin commented on #4432
The same issue here. Magento 2.1.1
Manual clearing oauth_token_request_log table helps.

[2016-11-03 11:17] NSanthoshpriya commented on #5736
Hi,
I'm using 2.0.10 i'm getting this issue. Any way to fix this without updating to 2.1?

[2016-11-03 11:38] dinkeronline commented on #6634
Yes/No Attributes are not visible on frontend due to error in the file

-/Magento/Catalog/Block/Product/View/Attributes.php

function getAdditionalData(array $excludeAttr = []) check if the attributes value is string but in case of Yes/No Attributes the value is something like this -

object(Magento\Framework\Phrase)#2322 (2) { ["text":"Magento\Framework\Phrase":private]=> string(3) "Yes" ["argume

[2016-11-03 11:49] hazmihaz commented on #5627
Same issue(s) with 2.1.2.

Similar log appear after i added product to cart:

In Chrome, 'Add to cart' button always stopped at 'Adding..', and products didn't appear in cart. In Firefox the cart functionality still working.

[2016-11-03 12:27] olysenko commented on #7179
Hi, sorry but I cannot reproduce issue using your description.
I am always have the unique combination of  attribute_id, store_id, entity_id for each value_id after Save & Duplicate product in admin regardless multistore or not environment. Please provide clear steps how to replicate your issue in format like this
_Steps_
1. Fresh install of Magento 2.1.2
2. Create Second website in Stores->All St

[2016-11-03 12:32] sijad commented on #5836
same problem here with 2.1.2 and PHP 7.0.12

[2016-11-03 12:35] BaDos commented on #6737
Hi @jedhodson

I cannot reproduce it.
Please provide your PHP error log and Magento logs.

[2016-11-03 12:46] akaplya commented on #7163
EavSetup is a private implementation, it can be rewritten or replaced (with moving to declarative schema for example). but API will be supported. Wherever it possible usage of API is preferable;

[2016-11-03 12:59] KalaiarasanSeetharaman commented on #4039
Same error is coming for me in live in magento 2.0.6 . How it should be fixed

[2016-11-03 13:08] theodorhanu opened #7295 "Dynamic rows date column in stores configuration"
Date column in dynamic rows stores -> configuration field  throws SyntaxError: Invalid or unexpected token error.

### Preconditions
1. Magento 2.1.1
2. PHP 7

### Steps to reproduce
1. Create a custom module with system.xml containing a dynamic field which uses a class extending Magento\Config\Block\System\Config\Form\Field\FieldArray\AbstractFieldArray
2. Use \Magento\Framework\View\Element\Html

[2016-11-03 13:10] theodorhanu commented on #7295
Adding any javascript to column renderer( like \Magento\Framework\View\Element\Html\Date does   ) will break functionality of dynamic rows

[2016-11-03 13:10] sevos1984 commented on #6904
This was fixed in develop branch https://github.com/magento/magento2/commit/bebb2ceb000b9296f9b04ecd5424ef66cd723fbf. Soon will be delivered to 2.0

[2016-11-03 13:10] #6904 closed, assigned to nobody

[2016-11-03 13:30] cscd98 opened #7296 "Varnish Cache not cleared from Admin"
I've setup Varnish Cache for my Magento 2 site but the System->Cache Management never clears it.

I also don't see in the configuration somewhere to specify the varnish secret, if required.

### Preconditions
1. Magento CE 2.1.2
2. Varnish 4.1.3

### Steps to reproduce
1. Stores->Configuration->System->Full Page Cache->Set to Varnish Cache
2. Go to System->Cache Management
3. Clear the cache
4. Re

[2016-11-03 13:31] BaDos commented on #7206
Hi @vanderlee

Thank you for for your feedback.

Do you get version conflicts without MDVA-532 patch?
Did you install clear Magento and then apply patch?

I cannot reproduce it.
I tried to reproduce it with/without MDVA-532

[2016-11-03 13:38] veloraven commented on #2684
@mswaidan is this issue still actual?

[2016-11-03 13:40] augsteyer commented on #3275
Not that there is an answer or anything, but the topic moved to the [forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/REST-API-POST-of-a-2D-array-results-in-error/idi-p/45331)

[2016-11-03 13:41] veloraven commented on #3002
@magenx is this issue still actual?
If it is please describe it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result. Please, also identify which version of Magento you are running.

[2016-11-03 13:55] veloraven commented on #4619
@hostep if your proposition is still actual could you please transfer it to  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests)? (see details [here](https://community.magento.com/t5/News-Announcements/Improvements-to-GitHub-Management/m-p/44572#M96)).

[2016-11-03 13:56] sevos1984 commented on #6861
Thanks for reporting, internal ticket created MAGETWO-60465

[2016-11-03 13:56] rganin commented on #7292
Thanks for reporting, the performance improvement work for this area is on it's way to implementation. Internal ticket: MAGETWO-54578.

[2016-11-03 13:58] veloraven commented on #5482
@rcbharath if this issue still actual please refer to the [Community Forums](https://community.magento.com) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions as GitHub issue tracker is intended for technical issues only.

[2016-11-03 14:01] petterkj commented on #5836
EDIT:
I can reproduce this error in 2.1.5.

[2016-11-03 14:06] veloraven commented on #5964
@Onkovat please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result. If you describes an issue.
Questions should be posted to a question and answer site, such as [Stack Exchange](https://magento.stackexchange.com/) and the [Magento Forums](https://community.

[2016-11-03 14:13] Asitis commented on #6929
I eventually fixed this by tracing the problem all the way back to certificates used for the payment provider. I recreated new certificates and replaced the old ones, and I then saw that the key in app/etc/env.php was changed _after_ the installation. I changed it back to what it was before and the error resolved.

[2016-11-03 14:13] olysenko commented on #7271
Please, provide more information in which way you setup your routing (i.e. how you setup mage run codes  backend and default)

[2016-11-03 14:15] BaDos commented on #4686
Hi @flipflap

Do you have the same problem with other versions of Magento?

[2016-11-03 14:17] frostshoxx opened #7297 "WYSIWYG Image URL is incorrect on the frontend"
I tried to insert an image to a content of a category. The image is shown on the WYSIWYG editor. However, when I go to the front end, it throws error 404 because the path is `wysiwyg/water-safety/someimage.jpg`. I ended up have to modify the HTML code to use the full path `pub/media/wysiwyg/water-safety/someimage.jpg` instead

### Preconditions

1. Magento version 2.1.2
2. PHP version 7.0.12
3. My

[2016-11-03 14:21] matmarchant commented on #7271
The mage run code is using a config map from nginx:
i.e.
map $http_host $MAGE_RUN_CODE {
  magento2.loc default;
  admin.magento2.loc admin;
}

Then in my fastcgi settings in the server block:

fastcgi_param  MAGE_RUN_TYPE website;
fastcgi_param  MAGE_RUN_CODE $MAGE_RUN_CODE;

[2016-11-03 14:41] sevos1984 commented on #6859
What is your Calculation Settings>Shipping Prices setting? If it is set to Including Tax price will be shown without tax. And also did you specified Tax Class for Shipping?

[2016-11-03 14:43] sevos1984 commented on #7191
So are there any errors in browser console? Could you check magento logs for errors as well?

[2016-11-03 14:48] alena-marchenko commented on #6813
Hi @ytorbyk

We are closing this issue because it hasn’t been updated in more than two weeks. If the issue still persists, please create a new GitHub issue report.

[2016-11-03 14:48] #6813 closed, assigned to alena-marchenko

[2016-11-03 14:54] rganin commented on #7287
Thank you for clarification. The performance issue is in URLRewrite area, internal ticket created: MAGETWO-52305.

[2016-11-03 15:00] NiteshKuyate commented on #6176
I have also same problem "Something went wrong while saving the category"
Please provide some solution for it.

[2016-11-03 15:03] jernejh commented on #7285
ok, finally got a solution. attribute type was 'text' for my imported attributes. when i changed it to 'int' (even though the values for atributes are strings, for example blue, green, red), the chosen option values are now shown in the cart.

product image is still not changing though, when selecting different options.

[2016-11-03 15:03] #7285 closed, assigned to nobody

[2016-11-03 15:14] janeblonde opened #7298 ""URL key for specified store already exists." cannot save category"
I've been trying to update/save a specific category but get the message "URL key for specified store already exists." every time.

I don't know if you can replicated it as it's very specific.
### Recreate
1. go to Products > Categories
2. Select the Category
3. Click Save

Message: _URL key for specified store already exists._ comes up and nothing is saved

### Preconditions
Magento ver. 2.1.2
PHP

[2016-11-03 15:20] theodorhanu commented on #7295
A workaround which I found was to extend Magento\Framework\View\Element\Html\Date, override _toHtml method, remove all new lines within <script> tag and replace closing script tag with <'+'/script>.

It's only a workaround for dynamic rows in stores -> configuration.
If you have a better solution please let me know

[2016-11-03 15:34] cuiyang000 commented on #5278
Having the same issue here.

A dirty&temporary way to solve this is to copy the menu.js file to your theme's folder, under web/js folder, and hardcode the text there. And you have to add line:
`'menu':'js/menu'`
to requirejs-config.js

See here: https://github.com/magento/magento2/issues/5509#issuecomment-244964654

[2016-11-03 15:42] azrob68 commented on #7178
I had the same problem under 2.1.0. I upgraded to the latest version (2.1.2) because there was a bug fix that looked like it might fix the problem, but I'm still getting the same thing. My installation is pretty much dead in the water if I can't add products, so this is a major bug. Is there any workaround until the issue is fixed permanently?

[2016-11-03 15:58] schnappenberger commented on #7179
Got it. The table structure doesnt contain the mentioned key CATALOG_PRODUCT_ENTITY_VARCHAR_ENTITY_ID_ATTRIBUTE_ID_STORE_ID. The database was created before the official 2.0 release. Perhaps some version updates havent upgraded the db properly. I will try to fix the table structure.

Sorry for the inconveniences.

[2016-11-03 15:58] #7179 closed, assigned to nobody

[2016-11-03 16:06] quienti commented on #7298
Duplicate https://github.com/magento/magento2/issues/6671

[2016-11-03 16:30] alessandrozucca opened #7299 "V1/carts/mine/billing-address returning %fieldName is a required field."
### Preconditions

1. Magento EE 2.1.1
2. PHP 7.0.12
3. Mysql Ver 14.14 Distrib 5.6.33-79.0, for Linux (x86_64) using  6.2

### Steps to reproduce
- 1. Go to the checkout after adding something to the basket
- 2. Send a request to the REST endpoint V1/carts/mine/billing-address using the payload below

[code]

Note that this api endpoint is used by the module `ebizmarts/sagepaysuite` for the payme

[2016-11-03 16:48] olysenko commented on #7247
Hi, thank you for your report. The purpose of addAttributeUpdate($code, $value, $store) in Catalog/Model/Product.php is to update EAV attributes only. So you cannot use this method for SKU which is not en EAV attribute. Closed as not a bug

[2016-11-03 16:48] #7247 closed, assigned to olysenko

[2016-11-03 16:52] jameshalsall commented on #6671
I managed to fix this in the end, I would recommend _not_ emptying your `url_rewrite` table.

We had multiple stores, and products from store A were associated to categories under store B. At a high level this is what I can tell was happening:
- Store `A` had category `X` with multiple products
- Store `B` had product `Y` that was somehow added to category `X` in Store `A`
- When Magento generates

[2016-11-03 16:58] vanderlee commented on #7206
Didn't try without the patch because, as I understand it, it might have screwed up my database had it succeeded.

[2016-11-03 17:02] signalprime commented on #7066
I have the same issue on 2.1.2, upgraded from 2.0.7.  I have enabled the debug option, but I don't see any helpful clues.  Not sure what to do next.  Any ideas?  I have disabled all validation and fraud protection trying to diagnose the issue, but again.. no real clues... yet

[2016-11-03 17:03] kanduvisla opened #7300 "M2.1.2 : What are the plans on the URL rewrite module"
What are the plans for the URL rewrite module? Are there also going to be (API) service contract so it provides an easy interface to programatically add rewrites? Or a repository for example?

Just curious what to expect from Magento, or if I have to write something myself (and perhaps create a pull request for it?)

[2016-11-03 17:07] frostshoxx commented on #6671
@jameshalsall How did you manage to fix this issue in the end?

[2016-11-03 17:11] stamster commented on #5627
I guess this will be broken for a while in entire 2.1.x stack.

[2016-11-03 17:21] btjackson11 commented on #7255
@joni-jones the debug log for the declined transaction is below.

`[2016-11-03 17:15:05] main.DEBUG: cache_invalidate:  {"method":"POST","url":"https://WEBSITEURL.com/authorizenet/directpost_payment/place/","invalidateInfo":{"tags":["catalog_product_344","FPC"],"mode":"matchingTag"},"is_exception":false} []
[2016-11-03 17:15:05] main.DEBUG: cache_invalidate:  {"method":"POST","url":"https://WEBSIT

[2016-11-03 17:23] PhiIipp commented on #7066
Had same issue, what is the response message in debug.log ? For me it was postal code missing or must be number form validation allowerd \* . This caused that braintree rejected

[2016-11-03 17:32] signalprime commented on #7066
The response was:
 'client' => 'Magento\Braintree\Gateway\Http\Client\TransactionSale',
  'response' =>
  array (
  ),
) {"is_exception":false} []

But the good news is that it is solved now, but I'm not sure how.  My steps were to disable all cache, and flush all cache.  I saved the payment gateway configuration, and retried.  It worked this time.

[2016-11-03 17:37] PhiIipp commented on #7066
Ok good that its working  now  my response code looked different

[2016-11-03 17:51] ghost opened #7301 "M2.1.2: Date Attribute not saving for Products"
### Preconditions

1. Magento CE 2.1.2
2. PHP 7.0.8+, MySQL 5.6+

### Steps to reproduce

1. Install Magento 2 CE from `composer create-project`.
2. Add new Product Attribute with type of "Date".
3. Add the created attribute to any Attribute Set (Default in this case).
4. Either create a new product or edit a current one.
5. Set the date to be any valid date value.
6. Save the product.

### Expect

[2016-11-03 18:57] manfrinm commented on #5612
@veloraven news about this?

[2016-11-03 18:59] manfrinm commented on #5931
@veloraven Do you have any update on this?

[2016-11-03 19:42] willstorm commented on #5823
+1 for this issue.

[2016-11-03 21:47] ps202 commented on #6424
I have updated several configurable product programmatically - meta data, descriptions etc.
All configurable products have lost the connection with their children...

[2016-11-03 22:37] infoitservit commented on #6704
No Fix yet?

[2016-11-03 22:59] ghost commented on #6704
Technically it has been fixed, its just stalled on the development version. Would be nice to know when these issues are gonna be implemented into the mainline so we don't have to check for them with each magento install/upgrade we do.  Especially since this was marked as fixed a month ago.

[2016-11-03 23:00] peec opened #7302 "[2.1.2] Integrity constraint violation error when saving product (google experiments on)"
Had to re-add this issue. Originally posted as #5709 .

### Preconditions

1. Install Magento 2.1.2 (fresh)
2. Go to admin -> Stores -> Configuration -> Sales -> Google API section
3. Change the configuration Enable Content Experiments to "Yes"
4. Save a configurable product and its child product consecutively.

**Environment**
PHP 7
Mysql 5.6
Nginx
Varnish
Production enabled
Google apis enabled
G

[2016-11-03 23:05] samgranger opened #7303 "Clicking on save twice while editing a configurable product causes current variations to disappear"
### Preconditions

1. Magento2
2. Chrome

### Steps to reproduce
1. Edit a configurable product and click on save.
2. Be impatient and click on save again a few times, just really go at it.
3. The 'current variations' are gone.

### Expected result
1. Current variations shouldn't disappear

### Actual result
1. Current variations are no longer current.

[2016-11-03 23:14] cyuzik commented on #7266
@rganin You're welcome. Any idea when this ticket could be resolved?

[2016-11-03 23:27] Ctucker9233 commented on #7086
@olysenko I actually had a questions about this commit. Can you take a look and maybe answer it?

[2016-11-04 00:06] aliimirza commented on #2666
Magento 2.1.0
PHP 5.6.23

Having the same issue Imported resource (image) could not be downloaded from external resource due to timeout or access permissions in row(s):

I tried the following [nothing worked so far]:
1. Use base_image value as /pub/media/import/image.jpg . got the error message
2. Only used image.jpg as base_image value in csv file and used the following value during different att

[2016-11-04 00:46] pboisvert commented on #7300
No immediate term plans for this. I would suggest posting to Stack Exchange or Community Forums to get some ideas on how others in the community may wish to extend and if you create a pull request we will review. Closing this here though as Issues are meant for reporting defects and not discussion.

[2016-11-04 00:46] #7300 closed, assigned to nobody

[2016-11-04 01:08] PiscesThankIT commented on #4321
I tested on 2.1.2.
When Magento is in developer mode, I enable Merge Css, then the whole site crawl.
But When I switch to production mode first, then enable Merge CSS, it's ok.

[2016-11-04 02:31] quynhvv commented on #7298
@janeblonde :

That issue because the table `catalog_product_entity_varchar` has duplicate values of (store_id, value) with attributes: url_key (119) vs url_path (120) See more about these attributes: http://i.prntscr.com/8604a114212f4661a8f52b48576fe6f0.png

Let's run below SQL in your Magento 2 database, you will see the duplicated values:

[code]

After run that sql, if you see any rows in resu

[2016-11-04 02:33] quynhvv commented on #6671
Hi guys,

Let's try with a workaround in reply from @quynhvv in here:
https://github.com/magento/magento2/issues/7298

Regards,
Mall.

[2016-11-04 03:10] eldonbite commented on #6746
Hi @SerhiyShkolyarenko,

Noticed another issue when selecting product variants using the swatches.
1. GBP:
   ![image](https://cloud.githubusercontent.com/assets/3441674/19993278/53c6b85a-a27f-11e6-867b-902e3df6d2ca.png)
2. Select a product variant while in GBP:
   ![image](https://cloud.githubusercontent.com/assets/3441674/19993300/761e35e0-a27f-11e6-8c50-2c7b1766129c.png)
3. Then, switch currenc

[2016-11-04 06:22] deepak-netwin opened #7304 "Magento2 Mini cart not working in icognito on chrome"
Hi,

I've installed magento2 using composer with version 2.1.1.
I found that minicart is not loading in icognito mode. Product has been successfully added to the cart and can see on the checkout/cart page but its not showing in minicart.
I've cache enabled and checking this issue on localhost wamp with php 7.

Thanks & Regards,
Deepak K.

[2016-11-04 08:03] pboisvert commented on #7149
thanks @darrenjennings new features in the latest version look really interesting so I'd imagine a PR would be very valuable for the community

@tkacheva please review in context of upcoming CMS work

[2016-11-04 08:04] pboisvert commented on #7147
@povesma thanks for the suggestion

@mbrinton01 passing to you until Misha is ramped up

[2016-11-04 08:05] pboisvert commented on #7119
@piotrekkaminski Piotr--can you validate if this is a potential issue or if other mechanisms are in place to prevent impact.

[2016-11-04 08:06] YevSent commented on #7255
@btjackson11, thanks, but this is not full log for a transaction. Your debug log should contain authorize.net transaction details. Please, check Authorize.net configuration, debug should be enabled.

[2016-11-04 08:11] BaDos commented on #7206
Could you try to upgrade Magento once more? For example, on a local machine.
I tried some variations of upgrading Magento. But the issue is not reproduced.

[2016-11-04 08:34] ferrarinim opened #7305 "cannot ordering catalog datatable"
### Preconditions

1. Magento 2.1.1
2. PHP 5.6.27

### Steps to reproduce

1. Go to Products -> Catalog
2. You can see the datatable not appearing right.

### Expected result

1. The expectation was to see all columns, sortable. And to see more than 2 rows of my datatable.... if I have 5000 rows it's quite unusable..

### Actual result

1. ![c](https://cloud.githubusercontent.com/assets/23255766/1

[2016-11-04 08:37] vanderlee commented on #7206
Other Magento 2 upgrades on other servers worked, I'm sure a new install on a different machine might work too.

What I don't understand is why the upgrade seems to fail on 2.1.0-rc1, 2.1.0-rc2 en 2.1.0-rc3. Why would an upgrade to 2.1.2 need to do anything with older `rc` versions? Might this be a problem with my `composer.json` file that? This is the current `composer.json`:

[code]

[2016-11-04 08:39] ferrarinim opened #7306 "Images in Product description disappear"
### Preconditions

1. Magenyo 2.1.1
2. PHP 5.6.27

### Steps to reproduce

1. Edit a Configurable Product
2. Insert image using the WYSIWYG in Content - Description
3. Save the product

### Expected result

1. See image in my frontend Product Page

### Actual result

1. The image is visible for some time...maybe since another operation
2.![f](https://cloud.githubusercontent.com/assets/23255766/199

[2016-11-04 09:03] quienti commented on #7306
Duplicate and already fixed https://github.com/magento/magento2/issues/6138

[2016-11-04 09:09] cmutz commented on #4699
It works for magento 2.1.2 (2.1 branch).

[2016-11-04 09:12] ferrarinim commented on #6138
Hi, I use Magento 2.1.1 but I'm still having the issue.

[2016-11-04 09:30] kassner commented on #2312
#7307

[2016-11-04 09:33] SerhiyShkolyarenko commented on #6746
@eldonbite thank you for the notice.
It looks like a different issue. Could you please create a separate issue for it?

[2016-11-04 09:36] HellgaM opened #7308 "Magento\Eav\Model\Entity\Attribute\Exception: No such entity with cartId"
### Preconditions

Magento version is 2.1.0
PHP 7
MySql 5.6
Admin session lifetime 15 min
Customer session lifetime 30 days
"checkout/cart/delete_quote_after" value is 30

### Steps to reproduce

1. Add products to a shopping cart, no matter logged in user on not.
2. Make sure you have cron setup and clean quotes job run  (possibly this is an issue condition)
3. Wait until cron jobs run at 0:00

#

[2016-11-04 09:41] pierzakp opened #7309 "Wrong object passed to collectRates method in collectRatesByAddress method in Shipping model"
### Preconditions

1. Magento CE 2.1.1.

### Steps to reproduce

1. In your custom code call method collectRatesByAddress which is implemented in \Magento\Shipping\Model\Shipping.

### Expected result

1. Expected behavior is to not have fatal error for sure. Be able to get result of collect rates.

### Actual result

1. Fatal error: Uncaught TypeError: Argument 1 passed to Magento\Shipping\Model\

[2016-11-04 09:44] paalsoberg commented on #5813
Any progress on this at all?

[2016-11-04 09:55] cscd98 commented on #5423
I have the same issue, clean install of 2.1.2 using the LUMA theme. Varnish 4.1.3, PHP 7.0.12.

Happens to me on OSX and Ubuntu 16.04

[code]

[2016-11-04 10:12] sevos1984 commented on #7056
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-04 10:12] #7056 closed, assigned to nobody

[2016-11-04 10:13] sevos1984 commented on #7054
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-04 10:13] #7054 closed, assigned to sevos1984

[2016-11-04 10:13] sevos1984 commented on #7026
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-04 10:13] #7026 closed, assigned to sevos1984

[2016-11-04 10:15] DreLincolin commented on #7178
Azrob, well you can try creating the products with no categories assigned, that works and after that have to think about how to link them to be displayed in the specific categories.
Maybe doing some straight inserts into the database.

[2016-11-04 10:26] LucScu commented on #5948
i found the error!
the table above `catalog_product_index_eav` correctly list ONLY CONFIGURABLE PRODCUTS, but INCORRECTLY list attribute value of products that are OUT OF STOCK. I think there is an error in reindex process that not clean properly this table.

[2016-11-04 10:27] BaDos commented on #7206
Yes, I reproduced it with your composer.json file.

You should change versions for all Data Modules to 100.1.*
See for example [Command-line upgrade to Magento 2.1 with sample data](http://devdocs.magento.com/guides/v2.1/comp-mgr/cli/cli-rc1-samp.html)

Why did you write `magento/module-wishlist` in the require section?
Remove it from the require section.

[2016-11-04 10:33] andidhouse commented on #7296
We use M2.1 and have no problem so far using varnish with nginx and php7.

I think you do not see the varnish in the cache backend but it behaves like the normal magento cache if varnish is installed correctly meaning varnish gets cleared for pages when for example saving them or stock changes. hope this helps

[2016-11-04 10:35] markshust opened #7310 "Package fabpot/php-cs-fixer is abandoned"
Receiving this error from composer on a fresh install of M2.1:
`Package fabpot/php-cs-fixer is abandoned, you should avoid using it. Use friendsofphp/php-cs-fixer instead.`

### Preconditions
N/A

### Steps to reproduce
1. Install M2.1 via composer

### Expected result
1. This error shouldn't occur

### Actual result
`Package fabpot/php-cs-fixer is abandoned, you should avoid using it. Use friends

[2016-11-04 10:42] quienti commented on #7310
Already fixed https://github.com/magento/magento2/pull/4791

[2016-11-04 10:46] cscd98 commented on #7296
@andidhouse do you have a secret specified:

[code]

[2016-11-04 10:47] ferrarinim commented on #6138
I've downloaded and replace the file into the server folder lib/web/mage/adminhtml/wysiwyg/tiny_mce/setup.js

but I'm still having the problem...

[2016-11-04 10:47] ferrarinim commented on #6138
I've downloaded and replace the file into the server folder lib/web/mage/adminhtml/wysiwyg/tiny_mce/setup.js

but I'm still having the problem...

[2016-11-04 10:47] ferrarinim commented on #6138
I've downloaded and replace the file into the server folder lib/web/mage/adminhtml/wysiwyg/tiny_mce/setup.js

but I'm still having the problem...

![f](https://cloud.githubusercontent.com/assets/23255766/20003062/7f1e0eae-a284-11e6-8581-9fb58f601730.PNG)

[2016-11-04 10:48] lucscu commented on #5948
if i clean manually the table removing out of stock record, after run `magento indexer:reindex catalog_product_attribute` they return! The reindex is bugged, please verify and confirm! (magento 2.1.2)

[2016-11-04 10:49] rhodimus opened #7311 "Vimeo videos in product gallery do not work over https"
### Preconditions

1. Magento 2 EE 2.1
2. Google Chrome 54.0.2840.71 (64-bit)

### Steps to reproduce

1. Add vimeo video to a product
2. View and play the video via a https URL

### Expected result

1. Video should play

### Actual result

1. Video does not play
2. Blocked due to Mixed Content error (dev tools console output: This request has been blocked; the content must be served over HTTPS.)

[2016-11-04 10:51] lucscu commented on #5948
Related question:
is normal that if i flagged USE PRODUCT FLAT TABLE, magento continue to use and search in `catalog_product_index_eav`?

[2016-11-04 10:53] viktym commented on #7066
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-04 10:53] viktym commented on #7066
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-04 10:53] BaDos commented on #7165
Hi @azeemism

Thank you for your feedback.
I tried to reproduce it with/without Magefan_Blog module, but I cannot reproduce it.

When did you install Magefan_Blog? Please write number step.
This information is absent on preconditions list.

You enabled maintenance mode `php bin/magento maintenance:enable`
Did you run `php bin/magento module:disable Magefan_Blog` and  `php bin/magento module:status

[2016-11-04 10:54] viktym commented on #7066
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-04 10:54] viktym commented on #7066
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-04 10:54] viktym commented on #7066
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-11-04 10:54] #7066 closed, assigned to alena-marchenko, viktym

[2016-11-04 11:09] markshust commented on #7310
Why hasn't this been merged into the latest release?

[2016-11-04 11:17] Vinai commented on #6114
Solution: delete line `dev/tests/static/testsuite/Magento/Test/Integrity/Di/CompilerTest.php:104` and `\Magento\Framework\Code\Validator\ContextAggregation`.

[2016-11-04 11:30] BaDos commented on #7132
Hi @hamdrew

Thank you for your feedback.

I've installed Magento using your composer.json file.
Cannot reproduce this issue.

Did you upgrade Magento from 2.0.7 to 2.1.0 or installed new version using your composer.json?
Was `{MAGE_ROOT}/app/etc/config.php` file  created by you or created by previous version of Magento?

Please write steps to reproduce more detailed.

[2016-11-04 12:10] mageprakash opened #7312 "Order Collection Rest API call error for Payflow Pro (Includes Express Checkout)"
Hello Magento team,

I have used rest API to get orders collection. During the implementation, I got an error for order which was placed by Pay Flow Pro (Includes Express Checkout) payment method.

Error :  Message: Notice: Array to string conversion

I have described flow of code for rest API call along with an error.

After debugging a while, I found that pay flow module has saved some informati

[2016-11-04 12:11] alena-marchenko commented on #7238
Hi @dmcmillin

I was unable to reproduce the issue on the latest develop branch.
Please provide us with exact steps to reproduce the issue, product price, tax configuration, debug logs, that include request to PayPal for us to be able to investigate the issue further.

[2016-11-04 12:12] yumicom commented on #5923
issue exist in v. 2.1.2

[2016-11-04 12:20] alena-marchenko commented on #7223
Hi @btjackson11

Please ensure that transaction is already settled on Authorize.net side when you are trying to create online credit memo for it, it can take next to 24 hours. If it is not settled, you will not be able to create online credit memo. Please inform us if it was the cause of the issue.

[2016-11-04 12:20] azrob68 commented on #7178
DreLincoln:  That did work, thank you.

For anyone else who wants to attempt this, here's what I did:
1. I added the item without assigning categories, per DreLincoln's suggestion.
2. For each category I wanted to assign, I found the entity_id in the catalog_category_entity_varchar database table. For example, I wanted to assign the item to three categories and their entity_id's were 32, 126, and

[2016-11-04 12:24] shiftedreality commented on #6138
Hi @ferrarinim. Please re-edit your product description, because you have corrupted data in your DB.

[2016-11-04 12:29] vanderlee commented on #7206
That worked! Thank you so much.

I didn't put the `magento/module-wishlist` in myself. Initially this site was installed using a tool called `Installatron`, which doesn't keep up with security issues hence the need to update manually. I guess Installatron put it in there.

[2016-11-04 12:29] #7206 closed, assigned to BaDos

[2016-11-04 12:36] kunzi opened #7313 "2.1.2 and double .html suffix problem"
Some product pages have .html suffix two times at the end or url. They also appear at the URL Rewrites section in admin.

Like this:
http://domain.com/product-url.html.html

[2016-11-04 12:38] quienti commented on #7310
This is merged in develop branch, so this is for Magento 2.2

[2016-11-04 12:59] markshust commented on #7310
Ok thank you

[2016-11-04 12:59] #7310 closed, assigned to nobody

[2016-11-04 13:19] choukalos commented on #7287
We don't index this right now but sounds like we should be.  Assigning this to myself to see how this lines up with some of the performance and performance issues that are in flight now.

[2016-11-04 13:24] ferrarinim commented on #6138
Hi @shiftedreality... I've tried but after some time the image disappears...
look at http://www.e-miko.com/mayliss-chelsea-vernice-black.html

[2016-11-04 13:25] choukalos commented on #7292
Hello @Taral-Patoliya

How many websites & store views do you have now and plan to expand to (that'll also have an impact on catalog index)?
Do you expect the # of customer groups to grow over time as well?  What would you expect them to grow to?
What's the longest indexer run time you'd be okay with?  Would you be okay having additional machines (aka workers) enabled to help run the indexer faste

[2016-11-04 13:32] BaDos commented on #7109
Hi @slackerzz

Thank you for your feedback.

Please, write steps to reproduce more detailed.

Cannot reproduce this issue.

[2016-11-04 13:36] Dublerq commented on #5428
same

[2016-11-04 13:54] scottishracer opened #7314 "Product Attributes On Product Page Are Displayed In Wrong Order When Uploaded via CSV File"
I need to reorder how attributes are displayed on a product page for a configurable product. This issue was previously closed with the assumption it was fixed in 2.1.1 which is not the case.

1. I created additional attributes and added those to an attribute set based on Default in the order they should be displayed.

![image](https://cloud.githubusercontent.com/assets/1956910/20006537/58ab94aa-a2

[2016-11-04 14:00] johnlos opened #7315 "Order Comments not display in front-end"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.  we use  www.customerparadigm.com/magento-2-order-comments-extension-for-checkout/
plugin to enable order comments both front-end and back-end.
2. Front -end not showing

### Actual result

1. admin screen: http://awesomescreenshot.com/03766aiccf
2. Front-end: http://awesomescreenshot.com/09166aioe3

[2016-11-04 14:01] frostshoxx commented on #7298
@quynhvv What would be the implication of delete entries from `catalog_product_entity_varchar`?

[2016-11-04 14:09] johnlos opened #7316 "Facing InvalidArgumentException after creating an customer address attribute"
### Preconditions

1. Magento 2.0.7, Zend engine 2.6
2.  PHP 5.6.23

### Steps to reproduce

1. Create an customer address attribute.
2. After creating add those attributes in frontend
3. Add product to cart
4. Go to checkout
5. Fill shipping address with created attribute
6. Click place order button

### Expected Result
1. Order should be placed

### What happens
Its show error, and stops at the

[2016-11-04 14:14] KrystynaKabannyk commented on #7277
Hello @pareshe, thank you for reporting this issue, the internal ticket is created - MAGETWO-60521.
We will notify you once any changes are made.

[2016-11-04 14:17] slackerzz commented on #7109
@BaDos do you want to laugh? Cannot reproduce the issue me too :confused:

[2016-11-04 14:17] #7109 closed, assigned to BaDos

[2016-11-04 14:28] janmyszkier commented on #6671
:-1: for @magento-team for leaving this issue unresolved for so long with not even a workaround.

[2016-11-04 14:34] SerhiyShkolyarenko commented on #6392
@bartek9007 could you please create a separate module with that block and corresponding layout update to activate it on category page? Attaching that module as archive would be handy here. I need it to be sure we have the same code changes.
Your block has obligatory parameter $data in constructor and for me Object Manager fails to instantiate it. It means there are some code/config changes which i

[2016-11-04 14:49] Achitakayoh commented on #5999
Same as flipflap. You should avoid moving "price type AND price" out of "product details".

[2016-11-04 14:50] dthampy commented on #7257
Internal jira ticket to track this issue is : MAGETWO-60523

[2016-11-04 14:59] quienti commented on #7315
This is a custom module, not a Magento bug, please contact Customer Paradigm

[2016-11-04 15:01] spyrule commented on #7146
I can confirm the same problem in Magento 2.1.2 on PHP 7 using Chrome.

I get this if I click the "save roll" button.

[2016-11-04 15:17] usuyukiso opened #7317 "Unable to export data in System-Export in Admin (CSV file not downloaded to end user)"
### Preconditions

1. Server nginx/1.10.1
2. Magento 2 ver.2.1.0
3. PHP 7.0 gentoo

### Steps to reproduce

1. Go to System Export in Admin.
2. Choose any entity from dropdown, for example, 'Products'
3. Scroll to end of page and press 'Continue'.

### Expected result

1.  File is downloaded (popup window displayed, or download starts automatically).

### Actual result

1. After pressing 'Continue

[2016-11-04 15:54] markshust commented on #2523
I think this ticket should be re-opened, as with the current setup it's not possible to create an automated M2 build with composer + sample data.

[2016-11-04 15:54] spyrule commented on #7146
Can a role be added manually in the interim?

[2016-11-04 15:55] cscd98 commented on #6929
I setup a clean install of CE 2.1.2 continue development. I didn't have this issue with it, except now I do.? I tried setting address to 1

[code]

[2016-11-04 15:56] iivashchenko commented on #6568
Try to debug: `app\code\Magento\Sales\Model\Order\Email\Sender\OrderSender::prepareTemplate`
The `$transport['payment_html]` variable must contain required template data.

[2016-11-04 15:57] choukalos commented on #7277
Hi @pareshe

It sounds like you have customizations (order observer) that are sending emails when ever an order is placed in addition to Magento's out of the box emails.  Are you sending those custom emails synchronously?  Are your times also for customers that are creating accounts (we send emails - unfortunately not asynchronously for new registered customers)?

@mayankzemiprotech do you have cu

[2016-11-04 16:00] dthampy commented on #7215
Duplicate of #6138 which is already acknowledged internally
MAGETWO-59690( for 2.1) and MAGETWO-57796( for 2.2.0)

[2016-11-04 16:05] BaDos commented on #7061
Hi @pepepepowski

Thank you for you feedback.
Cannot reproduce this issue.

Are you using Sample Data?
Did you try to upgrade fresh installation 2.0.7 to 2.1.2?

[2016-11-04 16:07] ghost opened #7318 "BLOB data type breaks display of UI Grid Component"
### Preconditions

1. Magento 2.1.1
2. PHP 5.6
3. MySQL Ver 14.14 Distrib 5.7.16, for Linux (x86_64)

### Steps to reproduce

1. Vanilla install with example data set loaded
2. Custom module registered, and setup with custom interfaces, models, resources, routes etc
3. Following table schema used for a custom request object:

[code]

3. Admin grid created with the custom request object as the data

[2016-11-04 16:28] pepepepowski commented on #7061
Hi,  @BaDos
few days ago, i decided to "manual copy" data (html pages, blocks etc) from old version  to new fresh instalation - 2.1.1
It looks like there is some difference between cms_page tables/records  in 2.0.7/2.1.1 and magento have problems with update.

Instalation & Upgrade from 2.1.1 to 2.1.2 worked.

[2016-11-04 16:32] quynhvv commented on #7298
@frostshoxx : Let's run below SQL in your database, you will see the records which you have to delete.

[2016-11-04 16:37] xaiamedia opened #7319 "Product edit breaks after upgrade from 2.0.6 to 2.1.5"
### Preconditions

1.  PHP Version 7.0.12
2.  Magento 2.1.2

### Steps to reproduce
1. Having an perfect working 2.0.6 working shop
2. Upgrade from 2.0.6 via commandline to 2.1.2
3. Login to admin
4. Go to catalog
5. Pick a product and click edit
6. First problem we've challenged was this error: Exception #0 (ReflectionException): Class Magento\Catalog\Block\Adminhtml\Product\Helper\Form\BaseImage

[2016-11-04 16:37] frostshoxx commented on #7298
There's actually nothing return as a result.

[2016-11-04 16:39] SerhiyShkolyarenko commented on #6697
Tried both 2.1.2 and 2.0.10 and didn't reproduce errors in console.
@grasdaggel is it reproducible for you after uprading to 2.0.10 and cleaning caches, cookies and static files?

[2016-11-04 16:41] quynhvv commented on #7298
@frostshoxx : So, what happened with below SQLs:

vs

[2016-11-04 16:43] ccyfly commented on #5788
followed MAGETWO-56347, but issue still exists. Any ideas?

[2016-11-04 16:45] btjackson11 commented on #7223
@alena-marchenko

Some of the transactions we have been trying to create online credit memo's for are almost 2-3 weeks old. I looked in Authorize.net and they have already settled. Although I see the 24 hour difference between when the order was placed to when it settled. This doesn't seem to be the problem in this case though, any other ideas?

[2016-11-04 16:48] frostshoxx commented on #7298
@quynhvv the first entry return empty, the 2nd one return 0. Perhaps my store attribute_id for url_key and url_path are not 119, 120?

[2016-11-04 16:52] tehXor commented on #1691
Meanwhile some lines of mad JavaScript with timeouts, intervals and all the dirty stuff which simply needs to be thrown anywhere in the frontend to make the telephone number optional. (Yea, it doesn't make it optional from a technical point of view but fills in a pseudo value. However for the user it exactly behaves like the field is truly optional.)

Beware, this script might need adjustment for

[2016-11-04 17:03] olysenko commented on #7271
Please set Use Custom Admin URL to Yes in   Stores->Configuration->Advanced->Admin->->Admin Base URL  menu and specify your admin url. It is proper way to configure custom admin Url. In this case REST API authentication  is working

[2016-11-04 17:08] YevSent commented on #5788
@ccyfly, this issue was fixed and merged to develop branch. On what branch do you have this issue?

[2016-11-04 17:14] spyrule opened #7320 "Removing Parent Product during Create New Order (from admin) generates error."
When attempting to add a configurable product via the Admin panel > Sales > Order > Create New Order button. If you add a Parent product without selecting a child product you get a message that you need to choose an option.  If you attempt to remove the parent product without a child product selected you get the error:
`Notice: Undefined index: type in /home/m2track/public_html/vendor/magento/modu

[2016-11-04 17:14] tgsergiu opened #7321 "Admin sidebar top links not reachable"
Hello,

I am trying to add some products and after saving the problem the admin sidebar has some problems. i can not reach the top links. ther is no more scroll. I know the buttons are there but i can not reach them.
Sorry if i do not follow the exact rules of explaining but i am doing my best. I attached a screenshot.
I am usig a toshia satellite 11 inch.
![issue](https://cloud.githubusercontent.

[2016-11-04 17:18] btjackson11 commented on #7255
@joni-jones here is the full log for the transaction with the debug turned on

`[2016-11-04 17:14:21] main.DEBUG: cache_invalidate:  {"method":"POST","url":"http://WEBSITEURL.com/index.php/authorizenet/directpost_payment/place/","invalidateInfo":{"tags":["catalog_product_344","FPC"],"mode":"matchingTag"},"is_exception":false} []
[2016-11-04 17:14:21] main.DEBUG: cache_invalidate:  {"method":"POST"

[2016-11-04 17:32] jameshalsall commented on #6671
@frostshoxx I removed the associations of products to categories that were cross-store, if that makes sense.

EDIT: I think this could be a problem with the save + duplicate feature, when you're editing a product from one store and then duplicate it to the other store it may keep the category associations from the original store.

[2016-11-04 18:08] dthampy commented on #7304
Internal ticket to track this: MAGETWO-60558

[2016-11-04 19:35] cscd98 commented on #6246
@SerhiyShkolyarenko Same issue here - trying to create a custom payment method and no useful error is displayed. It's probably my di.xml but how am I supposed to find the issue? :)

[2016-11-04 19:42] duffner commented on #7255
Similar Issue, We are not receiving a response back from Authorize.net, and this only happens occasionally.

[2016-11-04 20:26] gabs77 opened #7322 "Extend Magento widget JS"
Magento 2.1.2

### Steps to reproduce

I create in app/code/Namespace/Modulename/view/frontend/requirejs-config.js
`var config = {
    map: {
         '*': {
                priceBox:'namespace_modulename/js/custompricebox',
         }
    }
};`

In app/code/Namespace/Modulename/view/frontend/web/js/custompricebox.js

`
define(
    [
        'jquery',
        'Magento_Catalog/js/price-utils',

[2016-11-04 21:10] ferrarinim opened #7323 "Infinite load when I try to create product configurations"
### Preconditions

1. Magento 2.1.1
2. PHP 5.6.27

### Steps to reproduce

1. Add new Product to Catalog
2. Compile all fields before the section Configurations (like name, sku, description, ...)
3. Go to Configurations

### Expected result

1. I expect that the Tab with attributes opens and I can choose between my attributes in order to create my configurations.

### Actual result

1. Infinite lo

[2016-11-04 21:36] ferrarinim opened #7324 "possible improvement - Go to last/first page"
### Preconditions

1. Magento 2.1.1
2. PHP 5.6.27

### Steps to reproduce

1. Go to Products - Catalog

### Expected result

1. It would be nice if there were two buttons in addition to the 2 already existing: one to go to the first page of the pagination of the datatable, and one to go to the last page.

### Actual result

1. nothing

[2016-11-04 23:02] dthampy commented on #7288
Since the same issue was already acknowledged via a similar issue #6923 , closing this as a duplicate.

[2016-11-04 23:02] #7288 closed, assigned to nobody

[2016-11-04 23:41] azeemism commented on #7165
Hi @BaDos ,

Thanks for checking on the case.

Yes I enabled maintenance mode with `php bin/magento maintenance:enable`
Yes I ran `php bin/magento module:disable Magefan_Blog` and `php bin/magento module:status` when this mode is enabled?

Steps to reproduce:

1. Use php7.0 w/ opcache
2. Install magento 2 with composer
3. `php bin/magento maintenance:enable`
4. `php bin/magento deploy:mode:set dev

[2016-11-05 00:24] ShiloRune commented on #7297
Same issue, but with all WYSIWYG images using the Magento image shortcode {{media url=.

There's lots of older posts about this problem, but I haven't seen a Magento 2 solution.

[2016-11-05 00:30] Ctucker9233 commented on #6852
@sevos1984 I tried that. I set the timezone to Central/Chicago, same as my server. When I go to queue up a newsletter, the send time shows up as two hours ahead of my time (Pacific) like it should. But as soon as I hit send/save and it redirects to the newsletter queue grid, the send time is shifted back five hours. So for example, my local time is 5:20pm. In the newsletter queue set up part, it w

[2016-11-05 02:18] piotrekkaminski commented on #7119
reported as APPSEC-1619 and removing here. @yariksheptykin please next time report security issues to security@magento.com. Thanks.

[2016-11-05 05:56] pareshe commented on #7277
Hi @choukalos

We have removed out customisation , in fresh magento2  when
Store > Configration > Sales > Sales Emails > General Settings > Asynchronous sending > Disabled ,That take much time.

But Store > Configration > Sales > Sales Emails > General Settings > Asynchronous sending > Enabled , take to less time.

Customer registration is also taking around 10 seconds.

[2016-11-05 07:10] VijaySankhat opened #7326 "No action column in Widget manager, need to navigate to specific widget to remove it."
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2016-11-05 09:01] soncp commented on #3139
hello,
Is there any update on this one?

[2016-11-05 10:33] lexbailey opened #7327 "HTML Entities in product names are not consistently escaped."
### Preconditions
1. XAMPP Windows 7, PHP 7.0.9  OR  Ubuntu 16.04 with Apache
2. Magento 2.1.1

### Steps to reproduce
1. Add a product with the name "A&amp;amp;B"
2. View the product in the front-end category view. (It shows as "A&amp;B")
3. View the product in Admin->Products->Catalog. (It shows as "A&amp;amp;B")

### Expected result
Should show as "A&amp;amp;B" in all locations, as this is what

[2016-11-05 10:52] Vinai commented on #5083
The rendered content has to distinguish if the rendered result will be cached or not. There are several ways to do that (e.g. check if it is an ajax request or check if the customer session is anonymized).

According to the devdocs, the "official" way to create dynamic blocks with private data is to use a UI element private section to display customer data.
Strangely this development related infor

[2016-11-05 11:43] pareshe opened #7329 "Some Translation not working in Safari browser Private Mode."
#  **Some Translation not Working in Safari Browser Private Mode**

## **Magento version : 2.1.2**

## **Preconditions**

1) Open magento2 in safari browser private mode, in mac os/iPhone/iPad.

2) Add product to cart and check minicart .

Private mode safari -- http://www.awesomescreenshot.com/09b66b4z01
Normal mode safari -- http://www.awesomescreenshot.com/02866b4y67

3) Also same problem in ww

[2016-11-05 12:25] martijnhovinga commented on #7322
Please consult: http://alanstorm.com/magento_2_and_requirejs/

[2016-11-05 13:08] gabs77 commented on #7322
I have already read this article and several others article.
Some developers try with me and we can't make it with success.
Maybe we missing something

[2016-11-05 13:26] hezide commented on #5101
@olysenko this is not the same issue...
this issue is solved by adding the ',' but my issue is because of the %account_url.
Besides in this issue its only an error on preview and in my issue I can't save the template...

[2016-11-05 23:01] pobrassard commented on #5068
@LucScu i agree, it's really annoying.

@sevos1984 Any updates?

Thanks

[2016-11-06 02:11] jpcsguru commented on #4546
Issue is in 2.1.2 as well

[2016-11-06 04:42] nammdp commented on #4321
The same issue with me.
Develope mode merge css site slow load.
Switch to production mode merge css dont work. 2.1.2 porto theme.

[2016-11-06 10:31] matmarchant opened #7331 "Missing AdditionalInformation setter in vendor/magento/module-sales/Api/Data/OrderPaymentInterface.php"
**Our use case for this problem is the EE message queues, but the problem also extends to CE**

There is a problem with the OrderPaymentInterface, which has no function for setAdditionalInformation.

The exception thrown is:
Property "AdditionalInformation" does not have corresponding setter in class "Magento\Sales\Api\Data\OrderPaymentInterface"

### Preconditions
1. Magento ver. 2.0.8
2. PHP 7.0

[2016-11-06 10:58] Mohammed8960 commented on #5594
me also face same issue. is there any result ?

[2016-11-06 13:03] hocomadvies commented on #4546
In 2.1.2 I had it working fine. Until I added a module using the CLI after that it stopped working and giving the spinning-wheel again.

[2016-11-06 14:12] JimDantin opened #7332 "ChromeOS (Chromebook) format problem"
When accessing the Magento 2 Dashboard using a Chromebook, some forms/fields are sized improperly.

Magento version 2.1.2
1. Sign in to Dashboard using a Chromebook
2. Navigate to System...Import (or Export or possibly other areas)
3. Observe that selector boxes (Entity type in screenshot below) are small and pushed to the right edge of the screen

### Expected result
1. Forms should look the same

[2016-11-06 14:22] jameshalsall commented on #7131
The block will only be loaded in via XHR (AJAX) if your layout does not contain a block with attribute `cacheable="true"`. When it finds a non-cacheable block it won't cache any of the layout (see `Magento\PageCache\Observer\ProcessLayoutRenderElement::execute()` on line 105.

[2016-11-06 16:31] muneeb456 commented on #3743
I've encountered the same issue on a fresh installation of community edition 2.1.2 on WAMP (Windows 10, Apache 2.4.9, MySQL 5.6.17, PHP 5.6.27). Any fixes?

[2016-11-06 18:40] WaterSlide opened #7333 "Unable to set negative custom option fixed price in admin view."
In versions 2.1.1 and 2.1.2, setting custom options for a product with fix price settings will not allow a negative value. I'm not sure if this is a simple ui problem or if there is a validator issue. Either way, this was always an option in Magento 1.x in which you can set discounts on an item via custom option. Uploading values via CSV works correctly, however making admin view changes for given

[2016-11-06 18:50] jbpilatre opened #7334 "encrypt /decrypt ccsave module (cc)"
I created a Credit Card payment module (Save) which works very well.
The encryption feature seems to work correctly.... (but no !)

`$info->encrypt($data->getDataByPath('additional_data/cc_number'))`

but decrypt function always returns an empty field
in Magento\payment\Model\info.php line 76

`public function getData($key = '', $index = null)
{
    if ('cc_number' === $key) {
        if (empty($t

[2016-11-07 04:57] ghost commented on #2671
Sorry to disappear, I stopped working at this job and Magento 2 stuff.  If someone else wants to take ownership that's fine, or it can stay here.  Glad to see the community take over.

[2016-11-07 06:05] brideo commented on #7319
+1 also seeing this

[2016-11-07 06:38] ewallkrishnaprakash opened #7335 "Print order / invoice shows blank preview and blank pdf in my account order detail page"
While click the print order / print invoice button in my-account order detail page it shows blank in print preview also the downloaded pdf also shows blank.

### Preconditions

1. My Magento version  is 2.1.1
2. Php Version is 7.0.8

### Steps to reproduce

1. Create an account in magento.
2. Place an order with any kind of product and any kind of payment gateway.
3.Go to order detail page in my a

[2016-11-07 07:23] nick-iFactory commented on #6938
Did a bit of testing on this it seems to me export doesn't work for "configurable_variations" field. Whenever I exported it only included the data for one of the configurable attributes. By manually fixing the data I got import to work.

The export I got (line breaks added for clarity)

[code]

The export I wanted (line breaks added for clarity)

[code]

[2016-11-07 07:28] bpoiss commented on #5101
The issue still exists. Can someone explain how it can take more than 5 months to add a comma to four files?

[2016-11-07 08:16] gabriel-sf commented on #6662
Guys, is there any update on this item?

[2016-11-07 08:20] YevSent commented on #7255
@btjackson11, your response from Authorize.net contains error code

[code]

Please, re-check your configuration (credentials, sandbox URLs).

[2016-11-07 08:35] BaDos commented on #7028
Hi, @TheNavigat

I cannot reproduce it.
Could you debug this and write the content of $grantInfo on line 166 and 174?

Function `array_diff` works correctly for this.
See description:

[2016-11-07 08:36] johnhughes1984 commented on #1146
This is causing us a fair bit of hassle too, any update on potential release as still not resolved in 2.1.2

[2016-11-07 08:39] BaDos commented on #7061
@pepepepowski  What about fresh installation 2.0.7 and then upgrading to 2.1.2?
Do you have the same issue?

[2016-11-07 08:58] rganin commented on #7333
Thank you for reporting. Internal issue created: MAGETWO-60573

[2016-11-07 09:07] #6458 closed, assigned to nobody

[2016-11-07 09:08] YevSent commented on #7312
Hi, @prakash282, thanks for reporting. This is known issue (ticket MAGETWO-57426) and already fixed on the develop branch. For 2.1.x versions fix will be available in Magento 2.1.3.

Closed as duplicate to https://github.com/magento/magento2/issues/6215 .

[2016-11-07 09:08] #7312 closed, assigned to nobody

[2016-11-07 09:10] iivashchenko commented on #7000
Hi, @tehXor. Getting back to this issue finally I've reproduced same JS error allowing guest checkout for downloadable products. I've created internal ticket MAGETWO-60572 and linked this GitHub issue to it. Thank you.

[2016-11-07 09:13] veloraven commented on #6149
@tiwarimukesh thank you for your submission. We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues. Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) (see details [her

[2016-11-07 09:15] olysenko commented on #4324
MAGETWO-52378 is delivered into develop branch

[2016-11-07 09:15] #4324 closed, assigned to nobody

[2016-11-07 09:19] veloraven commented on #6167
Fix for MAGETWO-54682 includes following commits:
df200939528ca54119e23c02d19e1fdc8a707745
cd102ba9dbab3d06be34cfff68e0e212552a0479
4a4e5e3d28e7fcec47dbd1d8ab89fd9631f05012
feccbc6379c2789517ec0e79d2feba130ea539d2
3c3d612dbdcbb550689a22de612160ff1d44c77b
cf195e720cd48e6da93716f33a9731c0b4564081
3c51b12113690d79d7456cf403a25e67b3c1a0b3

[2016-11-07 09:23] ghost commented on #5272
same thing just happened to me using default blank theme, developer mode 2.1.2
![screen-shot-2016-11-07-at-1 20 31-am](https://cloud.githubusercontent.com/assets/21045500/20052405/c014bc18-a488-11e6-84ce-c7c0b4e63fb4.jpg)

[2016-11-07 09:26] developer-vivacity opened #7336 "Shipping Options Not Updating After Change"
Changing zip code on Shipping Address page does not update shipping options correctly after the second change (enter zip code for address (wait for shipping options to update), enter incorrect zip code for address (wait for shipping options to update), re-enter correct zip code for address
### Preconditions

1. Magento 2.1.1

### Steps to reproduce

1. Enter correct zip code for address and wait f

[2016-11-07 09:38] fowbi commented on #7303
We see the same behaviour in 2 of our installations, both running 2.1.1.

[2016-11-07 09:48] SerhiyShkolyarenko commented on #6246
2All: if you need a quick fix, please, pay attention to this commit 2a2e979. It's in develop branch now.

@craigcarnell does it help you?

[2016-11-07 10:11] Dublerq commented on #6882
Bug still present in 2.1.2. Let's make magento work with cashes! Natively! And tell them to use caches all they long. Who cares about devs

[2016-11-07 10:14] RaemNL commented on #6889
I'm running into the same kind of problem.
1. Add Customizable Options
2. Set the Euro Price without dots or commas (for example 1050€)
3. Save
4. Price for the option is saved as 1.050,00
5. No problem so far. (€1050 is added on product page)
6. Save again (without any adjustments)
7. Price is saved as €1,05
8. €1,05 is added on product page

[2016-11-07 10:23] BaDos commented on #4687
Hi, guys!

Cannot reproduce it.
Do you have the same issue on Magento 2.0.10?
Please, provide information about your environment (php, web server, OS, etc).

[2016-11-07 10:24] veloraven commented on #2172
@dmaciej is this issue still actual?

[2016-11-07 10:24] veloraven commented on #2210
@CNanninga is this issue still actual?

[2016-11-07 10:25] PascalBrouwers commented on #6146
Same for 2.1.2

[2016-11-07 10:29] patrick-bigbridge commented on #5946
This bug still appears in a fresh install of Magento 2.1.2. Some details:

Magento: 2.1.2
PHP Version: 7.0.9-1+deb.sury.org~wily+1

virtual host:

[code]

clean install
developer mode
sample data installed
all caches disabled
Browser client: Chrome version: 49.0.2623.110 / Linux: 4.4.0-45-generic
Not logged in

Steps to repeat:
Start at homepage
Click below "Hero Hoodie" "Add to Cart"
Color: green

[2016-11-07 10:47] shaw-tech commented on #7246
Hi again,

Could someone please respond to my query:

It looks like Magento's multiple address checkout doesn't support the Magento_Vault functionality - is that correct? If so, are there any plans to do so?

[2016-11-07 10:50] sevos1984 commented on #6852
There are several issues with newsletter queue https://github.com/magento/magento2/issues/2937 and https://github.com/magento/magento2/issues/5943. Looks like the same with your issue.

[2016-11-07 11:02] tiwarimukesh commented on #6149
Hi @veloraven

I am aware of feature request section of the Magento forums. I know most of the feature requests has been already moved to the Community forums _Magento 2 Feature Requests and Improvements_ section. If this topic also qualify for the new feature request then your team can move it to Forums.

Otherwise if you suggest I can my self post this to the _Magento 2 Feature Requests and Impr

[2016-11-07 11:04] grasdaggel commented on #6697
Since upgrading triggers a unfunctional shop I cannot reproduce this bug on higher versions due to the ton of different bugs.

If you can't reproduce it on a 2.1.2 env I'd consider it fixed. Other thoughts about this?

[2016-11-07 11:14] rganin commented on #7321
Thanks for reporting, Seems it's caused by system notifications block in the top along with success message. Page refresh helps.
Created internal ticket: MAGETWO-60580.

[2016-11-07 11:16] rganin commented on #7315
This is not a Magento native module, please contact the module vendor for help.

[2016-11-07 11:16] slopukhov commented on #6027
@vocongdanh thank you for your feedback,
Please, recheck it on the latest 2.1 version of Magento with configured cron job.

[2016-11-07 11:17] #7315 closed, assigned to nobody

[2016-11-07 11:23] fowbi commented on #7303
The issue is caused when passing the configurable matrix for a second (or nth-time) to the controller via Ajax. The saveFormHandler in variations.js (in the ConfigurableProduct module) serialises the configurable-matrix value to **configurable-matrix-serialized**, but deletes the original **configurable-matrix** value afterwards. When the save button is pressed a second time, the **configurable-ma

[2016-11-07 11:28] deepak-netwin opened #7337 "Magento2: Can't create bundle product at backend"
I'm using Magento version 2.1.1 and trying to create a bundle product at backend. By default the product page chooses Default attribute set and when I change it to something other e.g. "Rooms" (my custom attribute set) its just loading and firebug showing the error attached in the file.
![image](https://cloud.githubusercontent.com/assets/19583969/20056284/5bfb28b0-a50b-11e6-934b-fe51404a0b1e.png)

[2016-11-07 11:31] veloraven commented on #2994
@jkristoffer is this issue still actual?

[2016-11-07 11:31] veloraven commented on #3412
@brideo is this issue still actual?

[2016-11-07 11:32] veloraven commented on #3487
@maxbucknell is this issue still actual?

[2016-11-07 11:33] veloraven commented on #3525
@algostore is this issue still actual?

[2016-11-07 11:33] veloraven commented on #3547
@algostore is this issue still actual?

[2016-11-07 11:34] veloraven commented on #3564
@kakeyang is this issue still actual?

[2016-11-07 11:37] veloraven commented on #3805
@nobodypb if this issue is still actual please describe it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-11-07 11:53] kakeyang commented on #3564
@veloraven I've not resolved this issue but I no longer need to resolve this issue for our product because we decided to use another framework. I hope this will be resolved for currencies like Vietnam dong.

[2016-11-07 12:25] veloraven commented on #5160
@paales is this issue still actual?
If it is please format it according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
if it is rather improvement than an issue please move it to the new  [Magento 2 Feature Requests and Improvements forum](https://community.magento.com/t5/Magento-