[2020-08-11 06:30] aqdennis commented on #28929
Is there any conclusion or progress on this?

[2020-08-11 07:14] Renu05 opened #29467 "country_code is not consistent in customer address Graphql API"
### Preconditions (*)

1. Magento Commerce version: 2.3.4
2. PHP version 7.3.18

### Steps to reproduce (*)

1.  In case of creating a customer address(createCustomerAddress), the country_code is defined as an enum.

![createCustomerAddress-mutation-Magento-2-Developer-Documentation](https://user-images.githubusercontent.com/34090452/89862091-d9a89b00-dbc4-11ea-9f82-d4cdf65e641f.png)

![Screenshot

[2020-08-11 07:19] krishprakash commented on #29465
Hi @Renu05. Thank you for your report.
Closing this as duplicate of #29467

[2020-08-11 07:19] #29465 closed, assigned to krishprakash

[2020-08-11 07:25] magento-engcom-team commented on #29346
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36610` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-11 07:30] amorr commented on #27942
same problem,i want to custom home page layout,but failed. I can only write data directly to the database. custom_layout_update_xml  or layout_update_xml field.

[2020-08-11 07:31] m2-assistant[bot] opened #29468 "[Issue] Improve html markup thumbnail image"
This issue is automatically created based on existing pull request: magento/magento2#28642: Improve html markup thumbnail image

---------

### Description (*)

Magento 2.4-develop
Improve markup thumbnail image for easier customise
Previous only use img tag for some case impossible add style without touch directly to img tag. Add wrapper tag around img instead

### Expected behavior (*)

### Bene

[2020-08-11 07:40] magento-engcom-team commented on #29468
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36611` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-11 07:44] gwharton commented on #28239
Perhaps a compromise would be a command line argument --process-hidden-images with the default to not process hidden images??

[2020-08-11 08:11] Blatant commented on #27942
I think what I realized in debugging is that it does not parse the layout XML in the file when the page is loaded (after a cache flush) but rather, when you save the page it checks if the file exists, parses the layout then and if it's good saves it to the database, it then, on parsing the page on the frontend loads the XML from the database.

Not sure if I'm correct in that, there were alot of ho

[2020-08-11 08:24] cypx commented on #29235
If they upgrade from a Magento version later than 2.3.2, its possible but also depend to previous php environment (the best way to verify is to test constant value before and after).

[2020-08-11 08:41] amorr commented on #27942
my environment
Magento v2.3.5-p1
PHP 7.2.24

i can find my custom layout name in  Custom Layout Update, but after save page. nothing changed. I confirmed that my code in xml file is available when in the default.xml.

None of the above is working for me.

For now, my solution is write to cms_page table custom_layout_update_xml or layout_update_xml field like

`<referenceContainer name="main.conten

[2020-08-11 09:06] ihor-sviziev commented on #29462
hi @lucasvm,
As I understood - did you run the composer install command before it?

[2020-08-11 09:10] m2-assistant[bot] opened #29469 "[Issue] fix paypal payflow mobile iframe redirection for new browsers"
This issue is automatically created based on existing pull request: magento/magento2#24865: fix paypal payflow mobile iframe redirection for new browsers

---------

### Description (*)

One of our clients were having issue for paypal payflow payments on mobile being marked as cancelled lead to loss on sales, we found that browser prevents redirection for payflow from iframe on new safari browser

[2020-08-11 09:10] ihor-sviziev commented on #29469
@engcom-Alfa could you verify this issue?

[2020-08-11 09:11] JannMulton commented on #29421
Klarna response to this
![image](https://user-images.githubusercontent.com/23705682/89879551-cd740c00-dbcb-11ea-8bc8-cfbee00e5920.png)

[2020-08-11 09:18] ihor-sviziev commented on #29421
@JannMulton thank you so much for your response! I'll re-open this issue.

@engcom-Alfa @engcom-Bravo @engcom-Charlie could you verify this issue?

[2020-08-11 09:38] m2-assistant[bot] opened #29470 "[Issue] :speech_balloon: fix typo in php doc"
This issue is automatically created based on existing pull request: magento/magento2#29451: :speech_balloon: fix typo in php doc

---------

### Description (*)
fix a typo in downloadable in the class description of \Magento\Downloadable\Block\Sales\Order\Email\Items\Downloadable

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits are

[2020-08-11 09:42] vahir2016 opened #29471 "Module CSP : HTTPInterface response return ArrayIterator instead of HeaderInterface"
Hello,

I have got a issue with module-csp. It only works when it's "reportOnly".

I searched why and it appears "Content-Security-Policy" implements "MultipleHeaderInterface" (src/vendor/zendframework/zend-http/src/Header/ContentSecurityPolicy.php) whereas "Content-Security-Policy-Report-Only" not which leads to an issue.

In src/vendor/magento/module-csp/Model/Policy/Renderer/SimplePolicyHeaderR

[2020-08-11 10:10] Blatant commented on #27942
Strange, that's exactly the same Magento version as me, I'm on php 7.3. Actually running it on Ubuntu 18 and Windows 10 (dev machines) and it works ok for me.

On review it seems XML is not saved to the database at all on my working version. just `layout_update_selected` so I guess the XML isn't transported to the DB on Page save (it might still be getting validated?).

I assume your layout file c

[2020-08-11 11:04] convenient commented on #19597
I was debugging this for an old instance (2.3.1, upgrade coming next month 🤞 ) and was writing a tool to help understand it better.

I wrote the below script which gives this kind of output, I see keys matching the ones [discussed above](https://github.com/magento/magento2/issues/19597#issuecomment-510497674) by @php4umagento so I'm going to leave debugging further until the upgrade works.

I'm th

[2020-08-11 11:33] rav-redchamps opened #29473 "PayPal Express Checkout error "Failed address validation: %1""
### Preconditions (*)

1. Magento 2.4-develop
2. PayPal Express Checkout configured with option "Skip Order Review Step" to "No"
3. Setting "Store > Configuration > Customers > Customer Configuration > Enable Automatic Assignment to Customer Group" to "Yes"

### Steps to reproduce (*)

1. Add any product to cart
2. Go to Checkout & Proceed as a guest user
3. Choose PayPal Express Checkout & Hit Pl

[2020-08-11 11:42] ldubreuil commented on #26377
@okorshenko any update on this?

[2020-08-11 12:08] magento-engcom-team commented on #26255
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-08-11 12:08] magento-engcom-team commented on #26255
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36618` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-11 12:38] magento-engcom-team commented on #29453
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36620` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-11 13:13] shravanpathipaka opened #29476 "Unable to process binding "if: function (){return quoteIsVirtual == 0 }""
Preconditions (*)
2.3.5-p2
Default Checkout

Steps to reproduce (*)
Add any product to cart
Go to Checkout & Proceed as a guest user
Choose Any payment
Expected result (*)
Order should have been created.

Actual result (*)
Error appears in the console  "Unable to process binding "if: function (){return quoteIsVirtual == 0 }"
![js](https://user-images.githubusercontent.com/57125351/89901287-88b7978

[2020-08-11 13:20] puntable commented on #28302
If you want to test something on Magento 2.4.0, without having Elasticsearch running, you can edit `vendor/magento/module-elasticsearch/Setup/Validator.php` and make it return empty array like below.

[code]

[2020-08-11 13:36] m2-assistant[bot] opened #29477 "[Issue] Reduce TierPriceManagement class complexity by quick refactor"
This issue is automatically created based on existing pull request: magento/magento2#29202: Reduce TierPriceManagement class complexity by quick refactor

---------
### Preconditions (*)
I had to debug the issue of removing Tier price.  I found the class complex and code style rather poor.
That is why I extracted some repeated code to separate private methods with singular responsibility and expli

[2020-08-11 13:38] m2-assistant[bot] opened #29478 "[Issue] Avoids endless loop of indexers being marked as invalid"
This issue is automatically created based on existing pull request: magento/magento2#29196: Avoids endless loop of indexers being marked as invalid

Magento 2.4-develop
---------
### Description (*)

This was discovered on a particular project where we noticed that the indexers `catalogrule_rule` and `catalog_category_product` are constantly being marked as `Reindex required`.

The cronjob `indexe

[2020-08-11 13:57] lucasvm commented on #29462
Yes of course i have ran the composer install, there is no more web setup wizard install', only cli?, im running php 7.3 on Ubuntu, do i need to install some php extension? the docs are not clear.

[2020-08-11 14:08] joemstar commented on #29383
@ajijshekh123 Have you had any luck reproducing this issue? Is there anything additional I can do to help?

[2020-08-11 14:31] nrkapoor opened #29479 "Returns :: GraphQL Implementation"
As a developer,

I want to create a flexible returns schema that can be added to the customer's account

so 

the end customer can view and manage their returns.  

**Acceptance Criteria** 

The new schema accommodates flexible returns management.
An approved and merged architecture PR for the schema.
A merged and approve code PR(s).

**Schema PR**
https://github.com/magento/architecture/pull/397

[2020-08-11 14:33] nrkapoor opened #29480 "B2B GraphQL :: Login as Customer"
As a developer,

I want to create a flexible login as a customer schema that can be added to the graph

so 

a merchant or merchant admin can log into an end customer's account to assist them with their account.  

**Acceptance Criteria** 

**Schema PR**
https://github.com/magento/architecture/pull/414

**fixes**
https://github.com/magento/magento2/pull/30130

[2020-08-11 14:38] magento-engcom-team commented on #29352
Hi @jesperbrejning.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [dd151d11f4d709abb91b82a5d4360aae651c20e3](https://github.com/magento/magento2/commit/dd151d11f4d709abb91b82a5d4360aae651c20e3)

The fix will be available with the upcoming `2.4.1` release.

[2020-08-11 14:38] #29352 closed, assigned to nobody

[2020-08-11 15:27] mtjweb opened #29481 "Wrong product URL rewrites in Multistore setting"
### Preconditions (*)

1. Magento 2.3.5-p1
2. Multiple scopes

### Steps to reproduce (*)

1. In admin open a product
2. Change scope. For example Default (Dutch) => German
3. Delete URL key and save product

### Expected result (*)

1. URL key in german scope should be made from the German product name

### Actual result (*)

1. URL key in german scope keeps the same as the default scope

---
Ple

[2020-08-11 15:36] ihor-sviziev commented on #29462
Yes, in magento 2.4 there no more web installer. In case if you’ll have
some missing extension - composer install should fail. Could you rerun the
install command with -vvv flag at the end?

On Tue, 11 Aug 2020 at 16:57, lucasvm <notifications@github.com> wrote:

[2020-08-11 16:06] mrtuvn commented on #29462
in case you download package from magento homepage you don't need run composer install. If you add extra package to composer.json just run composer update

From 2.4.0 magento install via cli only cause web wizard has removed
Cli command should add elasticsearch to avoid issue during cli run
--search-engine=elasticsearch7 --elasticsearch-host=elasticsearch --elasticsearch-port=9200 --elasticsearch-

[2020-08-11 16:13] lucasvm commented on #29462
I have installed via Composer, doing the create project.

[2020-08-11 16:31] PSalvatore commented on #26379
As identified in this related issue https://github.com/magento/magento2/issues/21738, the error can be replicated by adding a row to the `catalog_product_entity_decimal` table like so:
`INSERT INTO catalog_product_entity_decimal (attribute_id, store_id, row_id, value) VALUES (279, 0, 1224, 45.00);`

The `attribute_id` here corresponds to "tier_prices" attribute_id which can be found by:
`SELECT *

[2020-08-11 17:59] nickpiro commented on #21637
@magento-engcom-team give me 2.3.0 instance

[2020-08-11 17:59] magento-engcom-team commented on #21637
Hi @nickpiro. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2020-08-11 18:46] phanku commented on #29312
Great security feature added for that administration login section of Magento however I have also ran into another weird issue that personally has stopped me from being able to set up 2FA on a fresh install. My issue is that magento does not use the domain name set for the outgoing email when sending the email out to set up 2FA on a fresh install instead it sends the email from `owner@example.com`

[2020-08-11 18:49] Anantkprajapati commented on #26840
Hello @pilardo - can you please set the domain name under cookie from magento backend and check it.
Like : https://prnt.sc/txy7n6
Than check it in private window.

[2020-08-11 19:33] #26110 closed, assigned to michalderlatka

[2020-08-11 19:33] #28524 closed, assigned to rogyar

[2020-08-11 20:50] sdzhepa commented on #29462
Hello @lucasvm

Not sure exactly but seems this issue related to your dev environment. Probably some required extension is missed or some artifacts in DB or code.

I verified this issue by the next steps:
1. Get Magento using composer as described here: https://devdocs.magento.com/guides/v2.4/install-gde/composer.html#get-the-metapackage
[code]
2. Create empty DB and user for Magento.
3. Check tha

[2020-08-11 21:13] fedekrum commented on #27223
I have the same issue.
Why has this issue been closed?

[2020-08-11 21:28] ioweb-gr commented on #27223
Sometimes I'm confused because people here seem to close issues without trying to reproduce correctly or ask clarification. So it ends up lost forever.

The issue  is reproducible with the steps provided.

[2020-08-11 21:29] LiamKarlMitchell commented on #28274
Still having weird issues with the rest API, can't seem to disable product from Default store view or update its name.

[2020-08-11 21:36] fedekrum commented on #27223
@magento give me 2.4 instance

[2020-08-12 00:50] zifting commented on #26266
It is working. Just that with new Magento deployment, the default values of visibility on product of drop down attributes is set to false and hence the attribute value don't bubble up. Please set them to true from stores -> attributes -> attribute-name -> storefront-properties -> 'used in product listing' -> true

[2020-08-12 01:49] lucasvm commented on #29462
Ok thank you!, i think i have installed the software, i can see all the tables in the database, also the env file has been created, but when going to the website i still see the setup landing page, do i need to delete something?

[2020-08-12 02:17] #29463 closed, assigned to nobody

[2020-08-12 02:25] mrtuvn commented on #29462
@lucasvm yes 2.4 required elastic when install. Before you run cli for install make sure elastic service run

[2020-08-12 03:47] mrtuvn commented on #29320
add inline style to html structure is not good for seo/rank page. Just wonder pwa project have integrate pagebuilder yet ?
@ericerway Can you give some comments

[2020-08-12 05:54] garihogar commented on #28302
Hi, can you tell me how you had configured elasticsearch "localhost or IP" and what version you have.

I have elasticsearch 7.8.1, I have kibana and cerebor connected, both marked green in elasticsearch and both marked local. They work perfectly, however I can't install Magento 2.4 because of the
——
In SearchConfig.php line 81:

  Could not validate a connection to Elasticsearch. No alive nodes fo

[2020-08-12 06:15] #29114 closed, assigned to engcom-Foxtrot

[2020-08-12 06:17] #29113 closed, assigned to engcom-Foxtrot

[2020-08-12 07:50] LiamKarlMitchell commented on #26599
Ah sorry, my issue stems from somewhere else, currency round is used in the setPrice method and other places throughout the collection of rates which removes extra precision intended to be used.

<details>
  <summary>Spoiler warning</summary>

  The item->unit_price is 8.7 when I entered a decimal number with longer precision 8.695652173913043, I need at least 3 decimal places, even calling a setP

[2020-08-12 08:29] AntonEvers commented on #29358
This issue can be closed as Amasty has announced to fix this in their next release.

[2020-08-12 08:30] ejaz-alam opened #29487 "Customer Token Life in system config"
This field should be save empty, but incorrect validation was applied. Because of that, admin user couldn't save the empty value.

### Preconditions (*)

1. Magento 2.4 CE

### Steps to reproduce (*)

1. Go to Stores > Settings > Configuration > Services > OAuth
2. Save Customer Token Lifetime (hours) without any value, Should be empty as mentioned in comment note

### Expected result (*)

1. conf

[2020-08-12 08:30] aliejaz55 commented on #29487
@magento I am working on this

[2020-08-12 08:31] aliejaz55 commented on #29487
@magento give me 2.4-develop instance

[2020-08-12 08:31] magento-engcom-team commented on #29487
Hi @aliejaz55. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-12 08:32] magento-engcom-team commented on #29487
Hi @aliejaz55, here is your [Magento instance](https://i-29487-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29487-2-4-develop.instances.magento-community.engineering/admin_c662](https://i-29487-2-4-develop.instances.magento-community.engineering/admin_c662)
Login: `1e8f3a93` Password: `23acb281bacc`
Instance will be terminated in up to 3 hours.

[2020-08-12 08:37] aliejaz55 commented on #29487
fixed in  https://github.com/magento/magento2/pull/29486

[2020-08-12 08:42] aliejaz55 commented on #29487
@rogyar  Could you review this one please ?

[2020-08-12 09:24] Eddcapone opened #29488 "Can't use livereload anymore because of new CSP policy"
### Summary (*)

I am using a tool called livereload, which helps to fasten the workflow when working with LESS.
The script does not work anymore since magento added a new module (Magento_CSP).
I get:

Note that I get this message, even though the script is hosted on my own server.
How can I whitelist this?

### Examples (*)

-

### Proposed solution

Make it possible to whitelist scripts loaded f

[2020-08-12 09:26] Eddcapone commented on #29488
I posted a question on stackoverflow:
https://magento.stackexchange.com/questions/319636/magento-2-how-to-allow-livereload-in-csp-whitelist

[2020-08-12 09:49] vahir2016 commented on #29488
Hello,

You can already whitelist scripts, you should read : https://devdocs.magento.com/guides/v2.4/extension-dev-guide/security/content-security-policies.html

Personally, I use flancer32/csp to create rules from database.

Regards

[2020-08-12 09:54] vladimirspucko opened #29489 "Pagination is not working in Gift Registry Search Results page"
### Preconditions (*)

1. Magento version 2.3.3 (Enterprise Edition)
2. Pagination in the Gift Registry Search Results page is not working as expected.

### Steps to reproduce (*)

1. Create a customer account.
2. Create 11 or more Gift Registries with the same co-registrant.
3. Open Gift Registry Search page, fill the form with your co-registrant First Name & Last Name.
4. Choose second/next page

[2020-08-12 10:05] netzkollektiv commented on #28302
@puntable Thanks, good solution, for all who do not use Sample Data! Installation of sample data fails without Elastic.

[2020-08-12 10:14] Blatant commented on #28750
I wanted to add a little update to the above for CMS pages.

Firstly, you can use any update handle that's available, it doesn't have to be the file name. This mightbe obvious but I wanted to explicitly declare it. For example `default` or `cms_page_view` work just as well.

Second, turns out the homepage ignores Layout Updates, because it generates from a different controller (cms_index_index not

[2020-08-12 10:42] mrtuvn commented on #29488
IMO the quickest way to bypass is disable module Magento_Csp

[2020-08-12 11:46] engcom-Delta commented on #29382
Hi @Erickhdez thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop.
![Peek 2020-08-12 14-44](https://user-images.githubusercontent.com/51681379/90011566-7d1fab80-dcaa-11ea-95a5-d177bcd04355.gif)

If you'd like to update the issue, please reopen it.

[2020-08-12 11:46] #29382 closed, assigned to engcom-Delta

[2020-08-12 11:50] cyildirim commented on #26333
Cart request on checkout is coming from web api. So theme translation is not in the scope of API. You can either add the translation under some other module or you can add it to under `app/i18n/de_DE`

[2020-08-12 12:07] magento-engcom-team commented on #29377
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36662` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-12 12:13] magento-engcom-team commented on #29473
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36663` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-12 12:28] engcom-Delta commented on #28145
@magento give me 2.4-develop instance

[2020-08-12 12:28] magento-engcom-team commented on #28145
Hi @engcom-Delta. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-12 12:29] magento-engcom-team commented on #28145
Hi @engcom-Delta, here is your [Magento instance](https://i-28145-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28145-2-4-develop.instances.magento-community.engineering/admin_fc3d](https://i-28145-2-4-develop.instances.magento-community.engineering/admin_fc3d)
Login: `5012a086` Password: `485597a34bab`
Instance will be terminated in up to 3 hours.

[2020-08-12 12:31] atwixfirster commented on #3759
Not sure if a provided fix works as expected.

Unable to see the expected result in Magento 2.4.

<img width="839" alt="3759" src="https://user-images.githubusercontent.com/13585327/90015114-ce329e00-dcb0-11ea-8dfe-3923fcd60e12.png">

[2020-08-12 12:49] engcom-Delta commented on #28145
Hi @Thomas-gt3  thank you for your report, I'm not able to reproduce issue by steps you described on 2.4-develop
![Peek 2020-08-12 15-41](https://user-images.githubusercontent.com/51681379/90016808-413d1400-dcb3-11ea-87dc-0d685242c6fb.gif)

If you'd like to update the issue, please reopen it.

[2020-08-12 12:49] #28145 closed, assigned to engcom-Delta

[2020-08-12 12:50] JMC-PK commented on #3759
@atwixfirster Can you open a new issue with your issue/results. I don't think they are monitoring this anymore because it is closed. People have been saying the fix from 2.2 did not work and the issue was present still in 2.2 and 2.3 but they haven't acknowledged it.

[2020-08-12 13:14] creative-ae commented on #24963
im facing same issue, any solution ?

[2020-08-12 13:21] tgamanov commented on #29166
Hello @mgroensmit.
I got your point. Let me check it.
Thank you for the additional information.

[2020-08-12 13:40] #28581 closed, assigned to cpartica

[2020-08-12 13:44] #28536 closed, assigned to danielrenaud

[2020-08-12 13:45] cpartica commented on #28536
issue delivered to 2.4.1

[2020-08-12 13:46] cpartica commented on #28528
closing as fixed in https://github.com/magento/magento2/issues/28536

[2020-08-12 13:46] #28528 closed, assigned to danielrenaud

[2020-08-12 13:50] sdzhepa commented on #29489
Hello @vladimirspucko

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at

[2020-08-12 13:54] nickpiro commented on #21637
@magento-engcom-team never got my instance...

[2020-08-12 14:11] hostep commented on #26949
Issue can probably be closed since the reversal of the code which introduced the bug was included in Magento 2.3.5. @drew7721 or somebody else, could you confirm this?

[2020-08-12 14:28] sb-nick commented on #28614
@johnvanrees can you share the queries you used to invalidate the cart? Is this done through multiple tables?
tables: quote, quote_item, quote_item_option

[2020-08-12 14:30] geekizaidi opened #29495 "Some of the admins panel tab not loading."
### Preconditions (*)

1. Magento version: Magento 2.3.3
2. Live server

### Steps to reproduce (*)

1. Not exactly why the problem came to me
2. I was installing some extensions but most of the time the panel was fine

### Expected result (*)

1.
![Screenshot (161)](https://user-images.githubusercontent.com/44756985/90027572-1f9f5500-dcd2-11ea-9e02-f034bdf30e47.png)
![Screenshot (162)](https://us

[2020-08-12 14:39] phoenix-bjoern commented on #20034
We still experience this issue in 2.4. When patching `vendor/magento/module-inventory-sales/Setup/Operation/AssignWebsiteToDefaultStock.php` and reinit stores, it works:

[code]

So why has this issue been closed if it can only work if manually patching core files?!

[2020-08-12 14:43] pfdcdigital commented on #28614
Yes, please let us know how you can invalidate the cart, I have the same
attack on cloud instance with netacea protection still getting the attack

if you have any solution, share your solution

Thanks

On Wed, Aug 12, 2020 at 7:28 PM Nick M <notifications@github.com> wrote:

[2020-08-12 14:57] johnvanrees commented on #28614
To invalidate the cart and stop the current attack, in 'quote' update 'is_active' to '0'.

I sort the by entity_id by the most recent and find the cart based on value since the carding attack is always very small. If you have the failed transaction email, you can look in quote_address to find the entity_id of the offending order.

[2020-08-12 15:03] sankalpshekhar opened #29496 "UI : Time field element in admin"
The CSS class for limited width doesn't gets applied after CSP port.

Tested on :
1. Google Chrome : Version 84.0.4147.125 (64-bit)
2. Firefox : 79.0 (64-bit)

### Preconditions (*)

1. Magento 2.4 Installed with Sample data
2.

### Steps to reproduce (*)

1. Install M2.4.0 with Sample Data
2. Login to Admin/Backend.
3. Navigate to following path Store > Configuration > Catalog > XML Sitemap > Gen

[2020-08-12 15:21] engcom-Alfa commented on #27310
The issue is reproducible on fresh 2.4-develop

![Peek 2020-08-12 16-10](https://user-images.githubusercontent.com/51679138/90033862-9a637280-dcc8-11ea-804b-fd65bd64f370.gif)

[2020-08-12 15:23] atwixfirster commented on #3759
Hi, @JMC-PK !

Yes, I will create a new issue.

Tier price "grid" has been removed from the product details page via [MAGETWO-41076: Get rid of remove directive](https://github.com/magento/magento2/commit/b222bb4a7cb48f291ac9d28a7e4465696da36ce9).

If you remove

[code]

from app/code/Magento/Swatches/view/frontend/layout/catalog_product_view_type_configurable.xml then tier price grid will apper.

[2020-08-12 15:27] magento-engcom-team commented on #27310
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36668` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-12 15:39] hostep commented on #29439
We're running into a very similar problem with Magento OS 2.3.3 and ElasticSearch 6.8.11, but I haven't found the time and haven't got the knowledge yet to figure out what this is about.

@AleksandrPlotnikov: have you already found out more about this issue in the mean while?

[2020-08-12 15:42] magento-engcom-team commented on #29496
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36669` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-12 15:46] HenKun commented on #2703
I am on 2.3.5-p2 and still encounter this issue, which leads to massive problems. Can anyone guide me to the place where this issue should be fixed? @katmoon, why creating a new ticket, the description is quite exact. The product is transformed to `simple` after all variants are removed from the product and the product is saved. The result can be seen in `catalog_product_entity` in column `type_id

[2020-08-12 15:46] AleksandrPlotnikov commented on #29439
@hostep kind of. I`ve updated reindex mechanism to set updated_at as keyword field, included this field into indexed fields and also couple of files was overrided with old elasticsearch magento module, this is a workaround but works well with sorting. But I still dont understand why is was working on previous version.

[2020-08-12 15:46] magento-engcom-team commented on #29416
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36670` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-12 16:01] abdullah-bin-hasan opened #29497 "Imagemagick Black pixels instead of watermark in magento 2.4.0"
### Preconditions (*)

1. Magento 2.4.0
2. php 7.4

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. Watermark in product images

### Actual result (*)

1. Black pixels / background in selected area

Using PHP GD2 solves the problem.

[2020-08-12 17:06] m2-assistant[bot] opened #29498 "[Issue] magento/web-api-test-recursive-array-comparison"
This issue is automatically created based on existing pull request: magento/magento2#29458: magento/web-api-test-recursive-array-comparison

---------
### Preconditions (*)
This pull request adds a function to \Magento\TestFramework\TestCase\WebapiAbstract to enable comparing large nested arrays of expected and actual outcomes in tests. It also means we're able to ignore irrelevant keys in the act

[2020-08-12 17:08] ved1585 opened #29499 "Swatches from disabled items visible on store front"
1. Createed configurable product
2. Added 10 child with different color variant
3. 5 child in disabled mode.
4. on PLP and PDP  displaying 10 color swatches
5. Expected  5 color swatch should be display on PLP and PDP

 - Information on your environment, Magento2.3.3 , PHP 7.3.3

[2020-08-12 17:09] m2-assistant[bot] opened #29500 "[Issue] [MFTF] Add test coverage for AdminAnalytics module"
This issue is automatically created based on the existing pull request: magento/magento2#29482: [MFTF] Add test coverage  for AdminAnalytics module

---------
**Preconditions:**

This PR creates test for AdminAnalytics module and check is AnalyticsMetadata present in the page source

**Steps to reproduce:**

1. Go to Admin->Stores->Configuration->Advanced->Admin->Admin Usage and set **Enable Admin

[2020-08-12 17:09] m2-assistant[bot] opened #29501 "[Issue] [MFTF] Add ActionGroup for clicking edit link on customer grid"
This issue is automatically created based on existing pull request: magento/magento2#29460: [MFTF] Add ActionGroup for clicking edit link on customer grid

---------
This PR add `AdminCustomerClickFirstRowEditLinkActionGroup` to clicking edit link for first row on customer grid

[2020-08-12 17:12] m2-assistant[bot] opened #29502 "[Issue] System configuration Validation"
This issue is automatically created based on existing pull request: magento/magento2#29486: System configuration Validation

---------

### Description (*)
This field should be save empty, but incorrect validation was applied. Because of that, admin user couldn't save the empty value.

### Preconditions:

1. Base Magento 2.4-develop installed.

### Steps to reproduce:

1. Log in in the admin area.

[2020-08-12 17:49] atwixfirster opened #29503 "Tier price grid is not shown on Product Details Page"
### Preconditions (*)

1. Magento 2.4 with sample data
2. Configurable product SKU - **MT07**
3. Set tier prices for the an associated one, for example for SKU - **MT07-XS-Gray**

<img width="913" alt="001" src="https://user-images.githubusercontent.com/13585327/90048632-790c8180-dcdc-11ea-88f3-fef8ac058f2e.png">

### Steps to reproduce (*)

1. Open **MT07** on front-end side
2. Select
- Size: **X

[2020-08-12 17:51] m2-assistant[bot] opened #29504 "[Issue] magento/magento2#8171: Price not saved when creating product via REST API"
This issue is automatically created based on existing pull request: magento/magento2#24606: magento/magento2#8171: Price not saved when creating product via REST API

---------

### Description (*)

The change covers adding a default typeId set to **simple** for new products created if no other is sent in post request.

### Fixed Issues (if relevant)

1. magento/magento2#8171: Price not saved when

[2020-08-12 17:55] dmcmillin opened #29505 "upgrading from 2.3.3 to 2.4.0 causes category widget cms page to display Error filtering template: Notice: Array to string conversion"
### Preconditions (*)

1.install 2.3.3
2.load up a child theme to luma
3. upgrade to 2.4.0
4. centos 7.

### Steps to reproduce (*)

1.install 2.3.3
2.load up a child theme to luma
3. setup a cms page to display the products via widget for a specific category.
4. upgrade to 2.4.0
5. check cms page afterwards.

### Expected result (*)

1. should show the products from that category.
2.

### Actual

[2020-08-12 18:00] atwixfirster commented on #3759
Reported a new issue - https://github.com/magento/magento2/issues/29503

[2020-08-12 18:16] Edelstahlshop commented on #27126
@shikhamis11 @magento-engcom-team : Is there any update? Thanks for your efforts until. I would really like to get this issue fixed.

[2020-08-12 18:40] aboutzahurul opened #29506 "Wrong tax calculation after applying discount coupon in Magento Open Source v2.3.4"
### Preconditions (*)
1. Fresh Magento 2.3.4, 2.4-develop (Open Source) with sample data

### Steps to reproduce (*)
1. Stores->Configuration-> Sales->Tax : Set all values including tax and Apply Customer Tax After Discount (http://prnt.sc/tyizqn)
2. Stores->Tax Zones and Rates: Set VAT of 15% (http://prnt.sc/tyizuc)
3. Stores->Tax Rules: Set VAT of 15% (http://prnt.sc/tyizwl)
4. Marketing-> Cart

[2020-08-12 20:31] sdzhepa commented on #29421
@engcom-Alfa
Could you please check this issue on the latest released 2.3.x and 2.4.x composer version?
Probably this issue is already fixed in the current versions.

[2020-08-12 20:31] m2-assistant[bot] opened #29507 "[Issue] Feature add autocomplete to checkout and user area inputs"
This issue is automatically created based on existing pull request: magento/magento2#24712: Feature add autocomplete to checkout and user area inputs

---------

### Add autocomplete to checkout inputs, make it customizable from XML & add autocomplete to user area inputs
### Description (*)
This feature allows to pass arguments (autocomplete, pattern and input type) from checkout_index_index.xml t

[2020-08-12 21:28] sdzhepa commented on #29497
Hello  @Abdullah-Bin-Hasan

Could you please provide more details as described in [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) or https://github.com/magento/magento2/issues/29497#issuecomment-672963575?

In the current stage, it is not clear what the problem and what functionality is broken.
Steps to reproduce, actual and expected result, screen

[2020-08-12 22:05] sdzhepa commented on #29495
Hello @geekizaidi

Could you please provide more details?
Without exact steps to reproduce and actually expected results, it almost not possible to replicate and fix this issue.

Also, if you are Magento Commerce user, I would recommend report this problem to the Magento Support portal associated with your account.

[2020-08-12 22:26] dsojevic opened #29508 "Multi-shipping checkout does not associate tax details to line items in v2.3.4"
### Preconditions (*)
1. Magento 2.3.4. installed
2. At least one tax rule setup that targets products (to be used + applicable to a checkout)
3. Multi-shipping address checkout enabled

### Steps to reproduce (*)
1. Add one (or more) products that will incur tax to your cart with a quantity of 2 or more
2. Go to your cart page, select "Checkout with multiple shipping addresses"
3. Send the order

[2020-08-12 23:07] LiamTrioTech opened #29509 "Add custom URL rewrites using the Rest API?"
Can this be done?
Resource Access is All but I can't seem to see the endpoint in Swagger?

Magento 2.3.2

[2020-08-13 00:21] geekizaidi commented on #29495
I don't know what exactly the cause is. After installing all of my required extensions i then setup my shipping methods etc and few days when i'd to change the shipping cost i visit the shipping sections but some of tabs were not loading. There is no error in the logs nor in the console.
I report the issue in magento community still waiting for any response there.

[2020-08-13 03:24] Sorbog commented on #25778
@congrallion I fixed this with the following patch
[code]

[2020-08-13 03:53] portchris commented on #27564
I had to tweak @xtremevision's manual fix a tad to for my particular version (2.3.3).

di.xml
[code]

app/code/MyVendor/MyModule/Block/Adminhtml/Edit/Tab/Cart.php
[code]

[2020-08-13 04:58] krishprakash commented on #29509
Hi @LiamTrioTech. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-08-13 04:58] #29509 closed, assigned to krishprakash

[2020-08-13 05:29] konarshankar07 commented on #29496
@magento I'm working on this

[2020-08-13 05:30] LiamTrioTech commented on #29509
Feature request.

[2020-08-13 06:22] dyuk1987 commented on #16507
May I know what are the related commits for the fix(es) for this issue?

[2020-08-13 07:40] armandomiani commented on #29338
That's strange because documentation is up to date: https://devdocs.magento.com/guides/v2.4/reference/cli/magento.html#setupconfigset

[2020-08-13 07:40] Eddcapone commented on #29488
It is not described how to whitelist a script from your own server though. How can I do it and why does magento not even trust my own server?

[2020-08-13 07:42] maciej-orba commented on #29338
@armandomiani
Issue is about setup:config:set

[2020-08-13 08:34] vahir2016 commented on #29488
By default, Magento CSP is on "report-only" he can't block your custom script. It only shows warnings in browser's console. Are you sure your problem is related to CSP ?

[2020-08-13 09:16] magento-engcom-team commented on #15686
Hi @FreekVandeursen.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24597` was closed as `non-reproducible` in `2.2-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if yo

[2020-08-13 09:29] hostep commented on #29439
Okay, we've figured out the issue on our side, it's not really related to the problem mentioned here I think. But let me briefly explain it just in case other people run into similar problems:
- We have a custom product import which can also create attributes
- One attribute which was created had type "text" but also had the flag "is_filterable" set to "yes" (normally Magento backend doesn't allow

[2020-08-13 10:03] Eddcapone commented on #29488
Yes it is. If I disable the module Magento_Csp then it works and I am already in report only mode.

[2020-08-13 10:07] Eddcapone opened #29513 "Can't add script from external sources"
### Preconditions (*)

1. Magento 2.3.5-p2

### Steps to reproduce (*)

1. Create theme
2. Add the following code to **Magento_Theme\layout\default_head_blocks.xml**

[code]

3. Flush cache
4. Load site and inspect source code
5. Notice that the scripts are not showing anywhere in the head section.

### Expected result (*)

1. Scripts should get rendered in head html section.

### Actual result (*

[2020-08-13 10:08] Eddcapone commented on #29513
I also removed the attributes `integrity` and `crossorigin` because I thought they are maybe not supported by magento 2, but it still fails. I executed `grunt clean` to clear the cache.

[2020-08-13 10:09] IngusSkaistkalns commented on #4053
Hello, whats the status of this?

[2020-08-13 11:33] Eddcapone opened #29514 "Can't add script with ampersant (&) symbol in url"
### Preconditions (*)

1. Magento 2.3.5-p2

### Steps to reproduce (*)

1. Create fresh theme
2. Add this script to *Magento_Theme\layout\default_head_blocks.xml*:

[code]

### Expected result (*)

1. Script should get included

### Actual result (*)

1. Script does not appear in head section of html source code.

If I remove `&display=swap` then it works.

---
Please provide [Severity](https://de

[2020-08-13 11:40] chdzma commented on #23729
The bug still exists with 2.3.5. Any solution?

[2020-08-13 11:52] ihor-sviziev commented on #29514
@Eddcapone you have a mistake. In the xml patameters ampersand symbol need to be replaced to escaped value `&amp`, so your file should look like this:
[code]

[2020-08-13 12:11] #29245 closed, assigned to nobody

[2020-08-13 12:23] engcom-Delta commented on #29464
Hi @ziyaindia thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
![image](https://user-images.githubusercontent.com/51681379/90133670-92630b80-dd78-11ea-9dee-1a03e9aca7b9.png)

If you'd like to update the issue, please reopen it.

[2020-08-13 12:23] #29464 closed, assigned to engcom-Delta

[2020-08-13 12:24] Eddcapone commented on #29514
Thank you, but it looks still like a bug to me, since no one can know this. I also did not found it in the documentation. Can you show me the entry?

[2020-08-13 12:28] ihor-sviziev commented on #29514
Hi @Eddcapone,
This is special character in all XML files, not only in magento.
You can see it https://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references#Predefined_entities_in_XML

Is suggested solution works fine for you?

[2020-08-13 12:29] #29514 closed, assigned to ihor-sviziev

[2020-08-13 12:39] chrom commented on #27942
@magento give me 2.4-develop instance

[2020-08-13 12:39] magento-engcom-team commented on #27942
Hi @chrom. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-13 12:41] magento-engcom-team commented on #27942
Hi @chrom, here is your [Magento instance](https://i-27942-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27942-2-4-develop.instances.magento-community.engineering/admin_d415](https://i-27942-2-4-develop.instances.magento-community.engineering/admin_d415)
Login: `7db9be75` Password: `7e5de3a7bd4e`
Instance will be terminated in up to 3 hours.

[2020-08-13 12:56] m2-assistant[bot] opened #29515 "[Issue] Static font name for loading fonts"
This issue is automatically created based on existing pull request: magento/magento2#29210: Static font name for loading fonts

---------

### Description (*)

The variable `@font-family-name__base` shouldn't be used when loading the Open Sans font because it's not really something that should change, since the source will still point to the Open Sans font. Using the variable here (can) cause issu

[2020-08-13 12:58] nuovecode commented on #13984
Same for me

[2020-08-13 13:22] atwixfirster commented on #29503
Fixed by [MC-33147: Most Tier Prices not Visible on Configurable variations|https://github.com/magento/magento2/commit/b385e3094ea7bd392c8e6db0063d219f4d7c9f39].

[2020-08-13 13:22] #29503 closed, assigned to nobody

[2020-08-13 13:52] jaxtheking opened #29516 "2FA - Admins with custom resource access can't setup 2FA or login"
On my site, I have created a custom user role for shop admins. They have access to pretty much all of the content and tools (Dashboard, Sales, Catalog, Carts, Customer, Marketing, Content, Reports) but none of the settings (Stores or Systems).

After upgrading to Magento 2.4.0 and enabling Two-Factor Authentication, I had no problem with my admin user (with unlimited resource access) to setup 2FA

[2020-08-13 13:55] magento-engcom-team commented on #29371
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36704` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-13 14:19] mrtuvn opened #29517 "Issue related amasty blog with image uploader compatible in Open Source 2.4"
This extension may use widely by merchants so possible reproduce issue

### Preconditions (*)

1. Magento  Open Source  2.4.0 (No sample data)
2. Amasty blog pro v2.5.5
3. Developer mode enabled
4. PHP 7.4.9

### Steps to reproduce (*)

When use amasty blog module
1. Go to Admin
2. Go to Content > Amasty Blog Pro > Add new Post
3. Use upload image post
Note The image will be resized to size from b

[2020-08-13 14:50] gwharton commented on #28111
I'm going to close this as unsafe-inline is due to be removed in 2.4.1

[2020-08-13 15:06] gwharton commented on #25150
Still broken in 2.4.0

[code]

[2020-08-13 15:13] mrtuvn commented on #29514
you should use link instead css tag
Example
<link src="https://fonts.googleapis.com/css2?family=Inter&amp;display=swap" rel="stylesheet" src_type="url"/>

[2020-08-13 16:05] salman231 opened #29519 "Magento 2 Amazon pay Uncaught TypeError: Cannot read property 'indexOf' of null"
### Summary (*)
I'm experiencing some JS issues on my store, this issue is experiencing in very strange matter. Once you reload the page error disappears and on again reload, it comes again and Checkout is not working. Loader is not going from checkout

### Examples (*)
Widgets.js?nomin:2 Uncaught TypeError: Cannot read property 'indexOf' of null
    at Object.S.Button (Widgets.js?nomin:2)
    at

[2020-08-13 16:35] magento-engcom-team commented on #29470
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29451 by @brosenberger in 2.4-develop branch
Related commit(s):
 - [2f2ceb64f6b1d8808960bf2e4ca36fafbb06f73f](https://github.com/magento/magento2/commit/2f2ceb64f6b1d8808960bf2e4ca36fafbb06f73f)
 - [200484d90f18a4ad932bf1205bf7bebe1f7c4bf0](https://github.com/magento/magento2/commit/200484d90f18a4ad932bf

[2020-08-13 16:35] #29470 closed, assigned to nobody

[2020-08-13 16:35] magento-engcom-team commented on #29345
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29305 by @fooman in 2.4-develop branch
Related commit(s):
 - [8bb3b5e6040ba270683e837c90bacc486f2c89ae](https://github.com/magento/magento2/commit/8bb3b5e6040ba270683e837c90bacc486f2c89ae)
 - [4cc85f38623cee4af1960db0d8be43b019a4018f](https://github.com/magento/magento2/commit/4cc85f38623cee4af1960db0d8b

[2020-08-13 16:35] #29345 closed, assigned to engcom-Delta

[2020-08-13 16:35] magento-engcom-team commented on #29346
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29272 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [03198de345527a1e981011c469be57c20391f86f](https://github.com/magento/magento2/commit/03198de345527a1e981011c469be57c20391f86f)
 - [d0218e19ae5dd5c519ca960db28fac46edca84a0](https://github.com/magento/magento2/commit/d0218e19ae5dd5c519ca9

[2020-08-13 16:35] #29346 closed, assigned to lbajsarowicz

[2020-08-13 16:35] magento-engcom-team commented on #18823
Hi @DanieliMi. Thank you for your report.
The issue has been fixed in magento/magento2#28238 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [7aa9a9c35990d4f7115661a03a1cce39733a21c9](https://github.com/magento/magento2/commit/7aa9a9c35990d4f7115661a03a1cce39733a21c9)
 - [daecbb410a7481d8ea0e80e8c57479e02beb93b4](https://github.com/magento/magento2/commit/daecbb410a7481d8ea0e80e8c57

[2020-08-13 16:35] #18823 closed, assigned to engcom-Charlie

[2020-08-13 16:35] magento-engcom-team commented on #26498
Hi @brightonmike. Thank you for your report.
The issue has been fixed in magento/magento2#28480 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [bacb8172fb9d2df6b93adacd5cf115b725b45da9](https://github.com/magento/magento2/commit/bacb8172fb9d2df6b93adacd5cf115b725b45da9)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-13 16:35] #26498 closed, assigned to nobody

[2020-08-13 16:35] magento-engcom-team commented on #8815
Hi @erikhansen. Thank you for your report.
The issue has been fixed in magento/magento2#26256 by @moloughlin in 2.4-develop branch
Related commit(s):
 - [e2123017375ee389cb49514c7b1e3d60b9aa6e1b](https://github.com/magento/magento2/commit/e2123017375ee389cb49514c7b1e3d60b9aa6e1b)
 - [4c223031e12bf6de7380ff8b13688d475f92f8d0](https://github.com/magento/magento2/commit/4c223031e12bf6de7380ff8b13688d

[2020-08-13 16:35] #8815 closed, assigned to moloughlin

[2020-08-13 16:35] magento-engcom-team commented on #26255
Hi @moloughlin. Thank you for your report.
The issue has been fixed in magento/magento2#26256 by @moloughlin in 2.4-develop branch
Related commit(s):
 - [e2123017375ee389cb49514c7b1e3d60b9aa6e1b](https://github.com/magento/magento2/commit/e2123017375ee389cb49514c7b1e3d60b9aa6e1b)
 - [4c223031e12bf6de7380ff8b13688d475f92f8d0](https://github.com/magento/magento2/commit/4c223031e12bf6de7380ff8b13688d

[2020-08-13 16:35] #26255 closed, assigned to moloughlin

[2020-08-13 17:00] m2-assistant[bot] opened #29520 "[Issue] Bug - addition of arrays instead of array merging"
This issue is automatically created based on existing pull request: magento/magento2#29255: Bug - addition of arrays instead of array merging

---------
Bug in save_rewrites_history for product import. Due to incorrect addition instead of array merging only the last store will get the url rewrite for save_rewrites_history

### Description (*)

### Related Pull Requests

### Fixed Issues (if releva

[2020-08-13 17:05] rreid2020 opened #29521 "Message is added to queue, wait to get your file soon. Make sure your cron job is running to export the file"
I receive this error when trying to export products in Magento 2.3.  Is there a solutions to this issue?

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contribut

[2020-08-13 17:07] engcom-Alfa commented on #29421
Hi @ihor-sviziev @sdzhepa @JannMulton . We can confirm that this problem can be reproduced on the 2.3.5-p2 and 2.4.0 composer versions.

**Manual testing scenario** (for 2.4.0 composer)

1. Disable `Magento_Paypal`:
run in console: `php bin/magento module:disable Magento_Paypal PayPal_Braintree Amazon_Payment Amazon_Login Amazon_Core Magento_PaypalGraphQl`

_info:_ To disable PayPal, you must also

[2020-08-13 17:18] m2-assistant[bot] opened #29522 "[Issue] honor queue_consumer.xml maxMessages"
This issue is automatically created based on existing pull request: magento/magento2#28995: honor queue_consumer.xml maxMessages

---------

### Summary (*)

Magento 2.4-develop
The maxMessages="100" attribute in `app/code/Magento/MediaStorage/etc/queue_consumer.xml` for instance is not being used. Instead only deployment configuration is used.

### Examples (*)

1. install vanilla Magento and run

[2020-08-13 17:27] pjean-gorillagroup commented on #29090
Hi @engcom-Lima, the `is_in_stock` product attribute is optional. If we do not include it in our product import, it should automatically calculate it. Unfortunately, it doesn't do it right now because of a bug in the file https://github.com/magento/magento2/blob/b06b839934218db725140d74a4d053d423fa3ec9/app/code/Magento/CatalogImportExport/Model/Import/Product.php#L3087

This line of code was meant

[2020-08-13 17:52] sdzhepa commented on #27153
Closed as cannot reproduce

[2020-08-13 17:52] #27153 closed, assigned to mahesh-rajawat, niravkrish

[2020-08-13 17:54] sdzhepa commented on #27130
Hello @surelockrich

Thank you for your feedback and your proposal!

Based on the description and label `feature request` the issue has been transferred to [Magento Feature Request](https://github.com/magento/community-features) public repo.

Additionally, based on [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) feel free to raise this topic on the

[2020-08-13 18:34] mrtuvn commented on #29513
Have you try this
https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/xml-manage.html#layout_markup_css

[2020-08-13 18:42] nathanjosiah commented on #28102
Hello everyone!

In regards to the size of the CSP headers, we are aware that it is a problem for some of our customers. We are investigating our options for how we can address this specific issue. However, as some of you have already noticed, this isn't simply from CSP alone and the Magento cache tags are also playing a big part in the total size of the headers.

As for those of you that are comm

[2020-08-13 18:59] m2-assistant[bot] opened #29523 "[Issue] Add an option for setup:config:set to define the document root"
This issue is automatically created based on existing pull request: magento/magento2#29176: Add an option for setup:config:set to define the document root

---------

### Preconditions: (*)

Add `bin/magento setup:config:set --document-root-is-pub`
I think this is needed in order to raise awareness for https://devdocs.magento.com/guides/v2.3/install-gde/tutorials/change-docroot-to-pub.html section

[2020-08-13 19:02] m2-assistant[bot] opened #29524 "[Issue] Update Curl to respect case-insensitive headers"
This issue is automatically created based on existing pull request: magento/magento2#29274: Update Curl to respect case-insensitive headers

---------
According to RFC 2616 header names are case-insensitive: "Each header field consists of a name followed by a colon (":") and the field value. Field names are case-insensitive." - see https://tools.ietf.org/html/rfc2616#section-4.2

The "Set-Cookie"

[2020-08-13 19:53] m2-assistant[bot] opened #29525 "[Issue] fix fatal error when exception was thrown"
This issue is automatically created based on existing pull request: magento/magento2#29483: fix fatal error when exception was thrown

---------

### Preconditions (*)

In some specific cases method ```convertConfigTimeToUtc``` was throwing an exception. There was a bug in this part: incorrect params sent to ```Phrase``` constructor

### Related Pull Requests

### Steps to reproduce (*)

1. Try to

[2020-08-13 19:58] m2-assistant[bot] opened #29526 "[Issue] Improvements webfont loading for theme"
This issue is automatically created based on existing pull request: magento/magento2#29044: Improvements webfont loading for theme

---------

### Description (*)

This PR aims to bring improvement while theme load icons font. Apply font-display while magento import font icons
Ensure text remains visible during webfont load
The best option finally is block or optional for optimize web icons font l

[2020-08-13 20:21] m2-assistant[bot] opened #29527 "[Issue] improve and make more strict autoload.php"
This issue is automatically created based on existing pull request: magento/magento2#28923: improve and make more strict autoload.php

---------
### Preconditions (*)
two improvements:
1. use `is_readable` instead of `file_exists`. if we use `require` or `include` on a existing file that is not readable php generate errors. So we need to chech if file_exists and is_readable (`is_readable` do both

[2020-08-13 20:23] m2-assistant[bot] opened #29528 "[Issue] Fix for communication.xml Handlers merging processs"
This issue is automatically created based on existing pull request: magento/magento2#28926: Fix for communication.xml Handlers merging processs

---------
### Description (*)
This changes fixes the "handler" merging process into communication.xml files which currently overrides all the handlers with the last one created, ignoring it's different names as expected. Issue found during custom handler

[2020-08-13 20:24] m2-assistant[bot] opened #29529 "[Issue] Fix return type in getCustomerIsGuest method."
This issue is automatically created based on existing pull request: magento/magento2#28920: Fix return type in getCustomerIsGuest method.

---------
**Description**

The method "**_getCustomerIsGuest_**" returned a value of type string ("0" or "1") making the comparison of this method within the **_CheckCartCheckoutAllowance_** class always return true, because the comparison is Boolean.

**Manual

[2020-08-13 20:29] m2-assistant[bot] opened #29530 "[Issue] Integration Tests for #8897 - Category `url_key` and `url_path` by scope"
This issue is automatically created based on existing pull request: magento/magento2#28604: Integration Tests for #8897 - Category `url_key` and `url_path` by scope

---------
### Description (*)
During the review of my Closed PRs, I found out that there are still valuable changes, that should be added to Magento itself, to keep an eye of changes made to generating URLs for Categories.

:heavy_che

[2020-08-13 20:29] m2-assistant[bot] opened #29531 "[Issue] Removed unused construct parameters"
This issue is automatically created based on existing pull request: magento/magento2#28653: Removed unused construct parameters

---------

### Description (*)

This PR removes some unused parameters in construct of the class

### Expected behavior (*)

### Benefits

### Additional information

[2020-08-14 01:20] adarshkhatri commented on #29517
@magento give me 2.4-develop instance

[2020-08-14 01:20] magento-engcom-team commented on #29517
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-14 01:21] magento-engcom-team commented on #29517
Hi @adarshkhatri, here is your [Magento instance](https://i-29517-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29517-2-4-develop.instances.magento-community.engineering/admin_f75d](https://i-29517-2-4-develop.instances.magento-community.engineering/admin_f75d)
Login: `349aadfa` Password: `8d6f20b03a06`
Instance will be terminated in up to 3 hours.

[2020-08-14 01:24] adarshkhatri commented on #29517
@magento give me 2.3.5-p2 instance

[2020-08-14 01:24] magento-engcom-team commented on #29517
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.3.5-p2 instance for you

[2020-08-14 01:26] magento-engcom-team commented on #29517
Hi @adarshkhatri, here is your [Magento instance](https://i-29517-2-3-5-p2.instances.magento-community.engineering).
Admin access: [https://i-29517-2-3-5-p2.instances.magento-community.engineering/admin_9413](https://i-29517-2-3-5-p2.instances.magento-community.engineering/admin_9413)
Login: `8faf320f` Password: `746d9ec68606`
Instance will be terminated in up to 3 hours.

[2020-08-14 01:42] adarshkhatri commented on #29517
There is no "Amasty" extension installed in native `Magento 2.4`. You should contact Amasty support for the issue.

[2020-08-14 03:15] ziyaindia commented on #29464
My Magento Version is  Magento ver. 2.3.2

Please check following URL:
https://www.eventgift.net/rest/V1/configurable-products/MO5001/children

[2020-08-14 03:34] jerome-zhang commented on #25391
Hi @magento-engcom-team , when do you think this issue will be fixed?

[2020-08-14 03:36] magento-engcom-team commented on #25391
Hi @jerome-zhang.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.4.1` release.

[2020-08-14 03:36] #25391 closed, assigned to nobody

[2020-08-14 03:58] mrtuvn commented on #29517
yes just noted here hope someone can contact to amasty team

[2020-08-14 04:38] krishprakash commented on #29517
Hi @mrtuvn. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
This should consider as Third party issue
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-08-14 04:38] #29517 closed, assigned to krishprakash

[2020-08-14 04:39] krishprakash commented on #29521
Hi @rreid2020. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-08-14 04:39] #29521 closed, assigned to krishprakash

[2020-08-14 04:57] LiamTrioTech commented on #29432
Thanks @tgamanov, yes that does help.
But I wonder if it should show the store contact details from the general section by default, or a button/page in magento 2's admin screens to edit the maint page.

Like under the Content | Pages menu.

[2020-08-14 06:11] nuntapon-hir opened #29532 "Newsletter queue start date is not working properly in magento 2.3.4"
### Preconditions (*)
Hi guys , can anyone help me on this. Basically am using Magento 2.3.4-p2 and am here trying to send newsletter . After saving the newsletter queue the queue start date is changing from Thailand standard time to some other format . I was already set the Timezone in magento2

Thank you.

### Steps to reproduce (*)

1. Create Newsletter Templates
2. Select 'Action' create 'Queu

[2020-08-14 06:18] sandy6666 opened #29533 "Date time ui component is not taking the time which we give it is converting the time to GMT"
In Magento backend in a custom form date, time picker is converting time for GMT instead of using the server timezone specified.
### Preconditions (*)

1. In Magento 2.3.5-p2

### Steps to reproduce (*)

1. create a date time picker UI component
2. Click on save

### Expected result (*)

1. [Screenshots, logs or description]
2. It should take the timezone which is given in server while saving in D

[2020-08-14 06:31] engcom-Delta commented on #28986
Hi @Vanitha-bujjinga  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
![Peek 2020-08-14 09-29](https://user-images.githubusercontent.com/51681379/90220456-ea4d5100-de10-11ea-9ed6-db5b689d6055.gif)

If you'd like to update the issue, please reopen it.

[2020-08-14 06:31] #28986 closed, assigned to engcom-Delta

[2020-08-14 06:33] sandy6666 commented on #29533
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-08-14 06:33] magento-engcom-team commented on #29533
Hi @sandy6666. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-14 06:35] magento-engcom-team commented on #29533
Hi @sandy6666, here is your [Magento instance](https://i-29533-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29533-2-4-develop.instances.magento-community.engineering/admin_46e4](https://i-29533-2-4-develop.instances.magento-community.engineering/admin_46e4)
Login: `92a0548b` Password: `a372e24f8e73`
Instance will be terminated in up to 3 hours.

[2020-08-14 06:49] engcom-Delta commented on #29499
Hi @ved1585 thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
![Peek 2020-08-14 09-47](https://user-images.githubusercontent.com/51681379/90221690-52049b80-de13-11ea-878e-9a6815e059b2.gif)

If you'd like to update the issue, please reopen it.

[2020-08-14 06:49] #29499 closed, assigned to engcom-Delta

[2020-08-14 07:20] magento-engcom-team commented on #1742
Hi @Michal-sk. Thank you for your report.
The issue has been fixed in magento/magento2#29493 by @jmonteros422 in 2.4-develop branch
Related commit(s):
 - [faf1de2fffd71704f1c63c5390c634387f579690](https://github.com/magento/magento2/commit/faf1de2fffd71704f1c63c5390c634387f579690)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-14 07:20] magento-engcom-team commented on #26702
Hi @vahir2016. Thank you for your report.
The issue has been fixed in magento/magento2#27758 by @ProkopovVitaliy in 2.4-develop branch
Related commit(s):
 - [e5271144dd535e4473bed3b72a1fa4c3ecfe805e](https://github.com/magento/magento2/commit/e5271144dd535e4473bed3b72a1fa4c3ecfe805e)
 - [677ddce85ae53150a846d4768592ae59ce81b332](https://github.com/magento/magento2/commit/677ddce85ae53150a846d47685

[2020-08-14 07:20] #26702 closed, assigned to nobody

[2020-08-14 07:20] magento-engcom-team commented on #29468
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28642 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [3337da2decf2549ac96e9cc524c37c42d3adf2f9](https://github.com/magento/magento2/commit/3337da2decf2549ac96e9cc524c37c42d3adf2f9)
 - [8f75f1f243a631f22f699c2b2cb28b3f886539a3](https://github.com/magento/magento2/commit/8f75f1f243a631f22f699c2b2cb

[2020-08-14 07:20] #29468 closed, assigned to nobody

[2020-08-14 07:20] magento-engcom-team commented on #28319
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#26175 by @p-bystritsky in 2.4-develop branch
Related commit(s):
 - [9383fe1e8933adf30e0f18be383738719856442f](https://github.com/magento/magento2/commit/9383fe1e8933adf30e0f18be383738719856442f)
 - [3343d815c472354e44de9280d845e4917bbd5d0e](https://github.com/magento/magento2/commit/3343d815c472354e44de928

[2020-08-14 07:20] #28319 closed, assigned to nobody

[2020-08-14 07:20] magento-engcom-team commented on #29313
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#26175 by @p-bystritsky in 2.4-develop branch
Related commit(s):
 - [9383fe1e8933adf30e0f18be383738719856442f](https://github.com/magento/magento2/commit/9383fe1e8933adf30e0f18be383738719856442f)
 - [3343d815c472354e44de9280d845e4917bbd5d0e](https://github.com/magento/magento2/commit/3343d815c472354e44de9

[2020-08-14 07:20] #29313 closed, assigned to nobody

[2020-08-14 07:26] Eddcapone commented on #29514
@mrtuvn what is the difference?

[2020-08-14 07:28] Eddcapone commented on #29513
I had to use `css` instead of `link` and I had to change `href` to `src`

[2020-08-14 07:28] #29513 closed, assigned to nobody

[2020-08-14 08:02] garihogar opened #29534 "Install Magento 2.4 : could not validate a connection to elasticsearch. no alive nodes found in your cluster"
Hi, I'm having the same problem you reported on GitHub in the Magento 2.4 installation

In SearchConfig.php line 81:

Could not validate a connection to Elasticsearch. No alive nodes found in y

our cluster

I've got elasticserarch running locally, I've got kibana, brain and enterprise-search hooked up and they're all communicating smoothly and reporting a green health status.

My version of elast

[2020-08-14 08:14] Eddcapone opened #29536 "`grunt refresh` removes parts of magento 2 style"
### Preconditions (*)

1. Magento 2.3.5-p2

### Steps to reproduce (*)

1. Create fresh theme based on luma

**theme.xml**

[code]

**registration.php**

[code]

2. Select your theme in the backend. Then install and configure grunt to work with your theme
3. Login in the frontend as a customer
4. Go to customer area in frontend.  https://www.example.com/customer/account/
5. Make screenshot
![image

[2020-08-14 08:21] engcom-Delta commented on #29342
Hi @stefliekens  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
![Peek 2020-08-14 10-58](https://user-images.githubusercontent.com/51681379/90227486-546bf300-de1d-11ea-80cf-3a42195e64c6.gif)

If you'd like to update the issue, please reopen it.

[2020-08-14 08:21] #29342 closed, assigned to stefliekens, engcom-Delta

[2020-08-14 08:50] m2-assistant[bot] opened #29537 "[Issue] Implement ActionInterface for wishlist/shared"
This issue is automatically created based on existing pull request: magento/magento2#27494: Implement ActionInterface for wishlist/shared

---------

### Preconditions (*)

This is a part of the process of introducing implementations of `ActionInterface`.

### Related Pull Requests

### Fixed Issues (if relevant)

N/A

### Steps to reproduce (*)

### Actual Result
### Expected Result

N/A

### Que

[2020-08-14 08:51] ihor-sviziev opened #29538 "Store view creation fails when we have two cms pages with different scopes"
### Preconditions (*)
1. Two store views
![image](https://user-images.githubusercontent.com/1873745/90235599-4375ae80-de2a-11ea-9459-c75460c53e4c.png)

2. two CMS pages with the same identifier "home", one assigned to "default store view", 2nd has assigned to "second store view"
![image](https://user-images.githubusercontent.com/1873745/90235625-4ec8da00-de2a-11ea-8393-67ad20232835.png)

### Steps

[2020-08-14 08:51] ihor-sviziev commented on #29538
@magento give me 2.4-develop instance

[2020-08-14 08:51] magento-engcom-team commented on #29538
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-14 08:52] magento-engcom-team commented on #29538
Hi @ihor-sviziev, here is your [Magento instance](https://i-29538-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29538-2-4-develop.instances.magento-community.engineering/admin_d9ef](https://i-29538-2-4-develop.instances.magento-community.engineering/admin_d9ef)
Login: `d7d4e474` Password: `37c62d164482`
Instance will be terminated in up to 3 hours.

[2020-08-14 08:57] garihogar commented on #29534
when you run the installation command:
bin/magento setup:install \
--base-url=https://++++++++.de \
--db-host=localhost \
--db-name=G+++++++bd \
--db-user=G++++++++++0 \
--db-password=@+++++++++++@ \
--admin-firstname=J++++n \
--admin-lastname=W++++r \
--admin-email=jw++++++++++ail.com \
--admin-user=j++++++++s \
--admin-password=B+++++++++k \
--language=en_US \
--currency=USD \
--timezone=America

[2020-08-14 08:58] ihor-sviziev commented on #29538
Can't reproduce on clean magento installation .Can't create CMS page with the same identifier for specific store view.

[2020-08-14 08:58] #29538 closed, assigned to nobody

[2020-08-14 09:03] garihogar commented on #29534
The only thing I doubt is the Elasticsearch version. Version 7.8.1 is compatible with Magento 2.4?
I understand it's version 7.6 or higher. No?

[2020-08-14 09:17] Coosos commented on #28986
Hi,

I reproduce this problem in `2.3.x`, but is fixed with this commit (https://github.com/magento/magento2/commit/c3f9f3d733dc56624fb95e1b07f7916966b7f212) who apply in 2.4.x

[2020-08-14 09:35] magento-engcom-team commented on #29477
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36738` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-14 09:37] ihor-sviziev commented on #29538
Duplicate of https://github.com/magento/magento2/issues/28357, it was already fixed.

[2020-08-14 09:38] Eddcapone commented on #29536
I just double testet it on a fresh magento 2.3.5-p2 and was able to reproduce it.

[2020-08-14 09:50] m2-assistant[bot] opened #29539 "[Issue] [MFTF] Add new ActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29472: [MFTF] Add new ActionGroup

---------
This PR add new `StorefrontCheckoutClickNextButtonActionGroup` for clicking next button on checkout page

[2020-08-14 09:57] brosenberger opened #29540 "Price Indexer for configurable products does not work correctly when showing out of stock products"
# Description
The min/max Price of a configurable product is not correctly updated if the configurable has out of stock products and the option "Show out of stock products" is checked

# Manual testing scenarios

* configure to show out of stock products (stores -> configuration -> catalog -> inventory -> display out of stock product)
* create a configurable product with 2 out of stock products an

[2020-08-14 10:01] magento-engcom-team commented on #29213
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36739` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-14 10:15] magento-engcom-team commented on #29286
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36740` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-14 10:28] magento-engcom-team commented on #29527
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36742` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-14 11:49] marvinhinz commented on #29185
I just encountered the same problem. The do-while fixes it.

[2020-08-14 11:50] chrisastley commented on #26882
Changing "is_legacy" doesn't work for me on 2.3.5-p2. Does anyone know of a patch to get this working as I'm not in a position to upgrade to 2.4 yet?

[2020-08-14 12:04] kestraly commented on #26377
Ebizmarts suggest setting cookie path: /;Secure;SameSite=None

[2020-08-14 12:26] magento-engcom-team commented on #29063
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36745` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-14 12:59] engcom-Delta commented on #29304
Hi @francescorm thank you for your report, I'm not able to reproduce issue by steps you described on 2.4-develop
**Result:**
![Peek 2020-08-14 15-54](https://user-images.githubusercontent.com/51681379/90251722-e9cfad00-de46-11ea-8bfa-bd8b71b9dad0.gif)

If you'd like to update the issue, please reopen it.

[2020-08-14 12:59] #29304 closed, assigned to engcom-Delta

[2020-08-14 13:09] engcom-Delta commented on #28908
@Acmeel ,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-08-14 13:09] #28908 closed, assigned to engcom-Delta

[2020-08-14 13:17] engcom-Alfa commented on #29505
Hi @dmcmillin . Unfortunately, we are not able to reproduce this issue.

**Manual testing scenario:**

1. Install Magento 2.3.3 composer;
2. Load up custom child theme to **Luma**;
3. Go to Admin -> Content -> Pages and Add New Page;
4. Fill title (**test** for example) field and click on **Insert Widget...** button;
5. Select **Catalog Category Link** from drop-down menu and select any category w

[2020-08-14 13:24] magento-engcom-team commented on #28674
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36751` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-14 13:24] magento-engcom-team commented on #29504
@engcom-Oscar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-08-14 13:27] magento-engcom-team commented on #29504
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36752` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-14 13:41] #15686 closed, assigned to nobody

[2020-08-14 13:53] mdehaan commented on #28981
Hi Hexmage, I have a problem with your this fix: #48 {main} [] []
[2020-08-14 13:30:16] main.CRITICAL: Error: Class 'Amasty\Mage24Fix\Block\Theme\Html\Title' not found in /public_html/generated/code/Amasty/Mage24Fix/Block/Theme/Html/Title/Interceptor.php:7

[2020-08-14 13:56] Hexmage commented on #28981
@mdehaan not my fix contact @alexey-motorny-amasty instead.

[2020-08-14 14:10] alexey-motorny-amasty commented on #28981
@mdehaan  please check if you have copied all the files. or run setup:di:compile

[2020-08-14 14:18] magento-engcom-team commented on #29428
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36754` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-14 14:45] engcom-Charlie commented on #29421
by default (when all modules are enabled) all **Configure** button go from backend as disabledduring the page loads in `module-paypal/view/adminhtml/web/js/solutions.js` in function `wipeButtonsConfiguration()` is removing attribute disable from all `.button.action-configure` (for Klarna Config button also).
![image](https://user-images.githubusercontent.com/51680850/90261476-ac265080-de55-11ea-8c

[2020-08-14 15:03] mdehaan commented on #28981
I did that about 20 times and am not having any luck

[2020-08-14 15:18] shyamranpara commented on #6426
Thanks worked

[2020-08-14 16:10] dmcmillin commented on #29505
@engcom-Alfa - What could I provide so you see what I am encountering? All plugins are magento only. All I did was upgrade from 2.3.3. to 2.4 and now its displaying that error.

[2020-08-14 17:04] stevekem opened #29544 "Cannot mass update Enable Qty Increments & Qty Increments attributes"
### Preconditions (*)
1. 2.4.0 (and 2.4-develop)

### Steps to reproduce (*)
1. Go to Admin > Catalog > Products
2. Check 1 or more products
3. Select dropdown Actions > Update attributes
4. Under Advanced Inventory > Enable Qty Increments
    Check Change, uncheck Use Config Settings and change to Yes
5. Under Advanced Inventory > Qty Increments
    Check Change, uncheck Use Config Settings and c

[2020-08-14 17:11] stevekem commented on #29544
Previously reported it (issue #29215) and bug was confirmed and reproduced in latest 2.4.0 instance but was closed because Rabbit MQ was not installed in instance. We did have Rabbit MQ installed on OUR site and bug is still reproducible. Only these 2 attributes seem to be affected, all others (that we tested) are updating fine with mass update using steps above.

[2020-08-14 17:14] stevekem commented on #29544
@magento give me 2.4-develop instance

[2020-08-14 17:14] magento-engcom-team commented on #29544
Hi @stevekem. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-14 17:16] magento-engcom-team commented on #29544
Hi @stevekem, here is your [Magento instance](https://i-29544-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29544-2-4-develop.instances.magento-community.engineering/admin_902c](https://i-29544-2-4-develop.instances.magento-community.engineering/admin_902c)
Login: `bbb94b13` Password: `08c4c669ac8e`
Instance will be terminated in up to 3 hours.

[2020-08-14 17:27] stevekem commented on #29544
Issue is reproducible on instance.

[2020-08-14 17:51] kzobov commented on #26377
can this be pushed in 2.3.5-p3 or as a hotfix?

[2020-08-14 17:59] magento-engcom-team commented on #29421
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36756` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-14 18:17] sdzhepa commented on #29544
@engcom-Oscar

Could you please re-check this issue?

Note: Previous report https://github.com/magento/magento2/issues/29215 I closed due to https://github.com/magento/magento2/issues/29215#issuecomment-664602234 but seems I was wrong

[2020-08-14 19:00] lano-vargas opened #29545 "Catalog Product Website Link Repository V1 SOAP API All Store Views Only remove role from image"
### Preconditions (*)
1.Magento2.2.2

### Steps to reproduce (*)

2. Create configurable product either manually or VIA API add at least one image on all store view and assign all the roles to it.
3. Create simple product and assign to the configurable just created (not really necessary but this is what I have ).
4. Via any tool  like postman (in my case). send the following.

**POST:** https://ma

[2020-08-14 20:15] m2-assistant[bot] opened #29546 "[Issue] Improvement PageLayout Config Builder. Added save in cache config files."
This issue is automatically created based on existing pull request: magento/magento2#28818: Improvement PageLayout Config Builder. Added save in cache config files.

---------

### Preconditions (*)

Magento 2.4-develop

Magento often runs `getPageLayoutsConfig`. I added to save in cache config files. This optimization will be reduced load time.
### Related Pull Requests

### Fixed Issues (if rele

[2020-08-14 20:20] m2-assistant[bot] opened #29547 "[Issue] Fix for empty category field values in REST calls"
This issue is automatically created based on existing pull request: magento/magento2#28828: Fix for empty category field values in REST calls

---------

### Description (*)
When using either rest/all/V1/categories or rest/all/V1/categories?rootCategoryId=2 the name and product_count fields are empty for all categories in the tree. This does not happen when using a store code like default without

[2020-08-14 20:24] m2-assistant[bot] opened #29548 "[Issue] magento/magento2#: Add i18 translations for Reset password GraphQL mutations"
This issue is automatically created based on existing pull request: magento/magento2#28865: magento/magento2#: Add i18 translations for Reset password GraphQL mutations

---------

### Description (*)

PR adds `i18` translations for the reset password GraphQl mutations created in https://github.com/magento/magento2/pull/27876.

### Related Pull Requests

- https://github.com/magento/magento2/pull/

[2020-08-14 20:24] m2-assistant[bot] opened #29549 "[Issue] Scheduled price rule time zone correction"
This issue is automatically created based on existing pull request: magento/magento2#28973: Scheduled price rule time zone correction

### Description (*)

Apply the same logic for time zone correction on `\Magento\CatalogRule\Model\Indexer\IndexBuilder::assignProductToRule` as in `\Magento\CatalogRule\Model\Indexer\ReindexRuleProduct::execute`.

The problem here is that Magento 2.3 uses the metho

[2020-08-14 20:28] m2-assistant[bot] opened #29550 "[Issue] focus on empty payment field"
### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
When you are going to the checkout and are filling in the shipping form and
then forget to fill out one of these inputs you will scroll to that input.
Only when you are on the payment page and you want to change the address you will only get the red colored boxes but won't scroll to what is wrong. For mobile users this could be reall

[2020-08-14 20:29] m2-assistant[bot] opened #29551 "[Issue] Backend: focus search field when pressing forwardslash - '/'"
keydown event listener in magento backend to activate global search form if forward slash was pressed.

### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)

1. Login to backend
2. Press '/' on the keyboard.
3. Start typing a query.

### Expected result (*)
No need to grab the mouse!

### Actual result (*)
Not working with forward slash

https://user-images.githubusercontent.com/306080

[2020-08-14 20:30] #28652 closed, assigned to nobody

[2020-08-14 20:30] m2-assistant[bot] opened #29552 "[Issue] Fixed creating shipping labels in part-shipment"
This issue is automatically created based on existing pull request: magento/magento2#27672: Fixed creating shipping labels in part-shipment

Fixed creating package when we ship not all items

### Description (*)
When we use sources, we can create shipment for only one item from order. In this case when we try to create shipping label with shipment ("Create Shipping Label" Checkbox), the system req

[2020-08-14 20:32] m2-assistant[bot] opened #29553 "[Issue] Initialize inline translations module only when they are enabled"
This issue is automatically created based on existing pull request: magento/magento2#27696: Initialize inline translations module only when they are enabled

---------

### Description (*)

This PR is a part of my effort to improve Magento 2 frontend performance.

The focus point of this PR was to remove downloading of inline translations JavaScript modules when they are not enabled. This was happ

[2020-08-14 20:33] m2-assistant[bot] opened #29554 "[Issue] Added processing of missed 'Fields enclosure' on admin exports"
This issue is automatically created based on existing pull request: magento/magento2#27830: Added processing of missed 'Fields enclosure' on admin exports

---------
### Description

The value of "Fields Enclosure" checkbox on admin export page (System -> Export) is not passed to appropriate export model, therefore enclosure behavior is not handled.
This Pull Request is fixing that.

### Manual te

[2020-08-14 20:36] m2-assistant[bot] opened #29555 "[Issue] Avoid exception when config.xml nodes exist for not-installed payment methods"
This issue is automatically created based on existing pull request: magento/magento2#27940: Avoid exception when config.xml nodes exist for not-installed payment methods

---------
### Preconditions (*)
Magento 2.4-develop
When a payment configuration node exists in XML but there is no `<model>` defined, `getList()` will throw an `UnexpectedValueException`. One use case for creating such a set-up

[2020-08-14 20:40] nathanjosiah opened #29556 "test. ignore."
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-08-14 20:40] nathanjosiah commented on #29556
@magento give me 2.4-develop instance

[2020-08-14 20:40] magento-engcom-team commented on #29556
Hi @nathanjosiah. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-14 20:42] magento-engcom-team commented on #29556
Hi @nathanjosiah, here is your [Magento instance](https://i-29556-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29556-2-4-develop.instances.magento-community.engineering/admin_138f](https://i-29556-2-4-develop.instances.magento-community.engineering/admin_138f)
Login: `61d40b00` Password: `62aaa7f74077`
Instance will be terminated in up to 3 hours.

[2020-08-14 20:43] #29556 closed, assigned to nathanjosiah

[2020-08-14 20:43] sdzhepa commented on #28016
Hello @rmanor1

Do you have any updates?
Could you suggest Severity and Priority for this issue?

[2020-08-14 20:44] m2-assistant[bot] opened #29557 "[Issue] Adding failure callback to ui file uploader"
This issue is automatically created based on existing pull request: magento/magento2#27092: Adding failure callback to ui file uploader

---------

### Summary (*)

Magento 2.4-develop
`Magento_Ui` file uploader works fine. However, recently when I have used it for custom file upload, and when I had error while uploading file there was no info what happened. Uploader just stopped uploading. After

[2020-08-14 20:46] m2-assistant[bot] opened #29558 "[Issue] Update FlushCacheByTags to use after plugins instead of around plugins"
This issue is automatically created based on existing pull request: magento/magento2#27077: Update FlushCacheByTags to use after plugins instead of around plugins

---------

### Description (*)

This PR contains a few small quality of life improvements to the FlushCacheByTags class:

1. Conversion of around plugins to after plugins.
These original plugins were created when after plugins did not c

[2020-08-14 20:54] oleksandrmakhno opened #29559 "Magento import product csv do not import all crosssell relations"
### Preconditions
1. Magento EE 2.3.5-p2, Magento CE 2.4
2. Mysql version 5.7.31-0ubuntu0.18.04.1
3. Php version 7.3.21-1+ubuntu18.04.1+deb.sury.org+1

### Steps to reproduce
1. Prepare for import file product.csv with data in column crosssell_skus
2. Product.csv file should contain more than 100 products
3. the product A on line 100 or lower should have crosssell_sku, let say 5 relations
3. the p

[2020-08-14 21:15] m2-assistant[bot] opened #29560 "[Issue] Aria-atomic="true" missing on error container"
This issue is automatically created based on existing pull request: magento/magento2#27386: Aria-atomic="true" missing on error container

---------

### Description (*)
Issue : Aria-atomic="true" is missing on error container

Summary: The page contains an error container made with the WAI-ARIA `role="alert"` attribute, but it does not contain a WAI-ARIA attribute that will make sure all assistiv

[2020-08-14 21:35] feavilan04 commented on #15545
We had same issue, we found problem on magento 2.3.4. Issue was fixed by using AWS ElasticSearch as catalog_search system [https://devdocs.magento.com/guides/v2.4/config-guide/elasticsearch/configure-magento.html](url)

[2020-08-14 21:53] sdzhepa commented on #26341
Based on previous comment https://github.com/magento/magento2/issues/26341#issuecomment-585042767
it seems configuration issue

[2020-08-14 21:53] #26341 closed, assigned to nobody

[2020-08-14 22:37] okolesnyk commented on #26409
The hight priority of ticket reason:

[2020-08-15 06:20] magento-engcom-team commented on #1750
Hi @tungmpo. Thank you for your report.
The issue has been fixed in magento/magento2#29492 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [8420c37f27ee754de24f2d455f0658c086fd42e8](https://github.com/magento/magento2/commit/8420c37f27ee754de24f2d455f0658c086fd42e8)
 - [19728410e48cf44f28529ad43e71ef22a6e7ef02](https://github.com/magento/magento2/commit/19728410e48cf44f28529ad43e71ef22a6e7

[2020-08-15 06:20] magento-engcom-team commented on #1749
Hi @biotech. Thank you for your report.
The issue has been fixed in magento/magento2#29490 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [c410eae85cb8ba2a150fd83b581cc24f23a0e61e](https://github.com/magento/magento2/commit/c410eae85cb8ba2a150fd83b581cc24f23a0e61e)
 - [a1de7214949210220abe3a3428ba78778ac9d2ab](https://github.com/magento/magento2/commit/a1de7214949210220abe3a3428ba78778ac9

[2020-08-15 06:20] magento-engcom-team commented on #25211
Hi @JuraseQ. Thank you for your report.
The issue has been fixed in magento/magento2#29455 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [b2a8ff40814a7646d2f9f09eebd18bbe2d90d57a](https://github.com/magento/magento2/commit/b2a8ff40814a7646d2f9f09eebd18bbe2d90d57a)
 - [176ce4321019adb3ca3f4f9fd6851d2ad45e1cfc](https://github.com/magento/magento2/commit/176ce4321019adb3ca3f4f9fd6851

[2020-08-15 06:20] #25211 closed, assigned to engcom-Charlie

[2020-08-15 06:20] magento-engcom-team commented on #29477
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29202 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [30caed7f38f900904753d7248a1d79a4220232fc](https://github.com/magento/magento2/commit/30caed7f38f900904753d7248a1d79a4220232fc)
 - [3ec0f57754c4b0096d17a2c26ef9a838aa65f5d9](https://github.com/magento/magento2/commit/3ec0f57754c4b0096d17a

[2020-08-15 06:20] #29477 closed, assigned to lbajsarowicz

[2020-08-15 06:20] magento-engcom-team commented on #29539
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29472 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [5ed8190e3bc83ce6711218310ce837d3b2105309](https://github.com/magento/magento2/commit/5ed8190e3bc83ce6711218310ce837d3b2105309)
 - [6066e18eec1db72d722a3dd97ecdc54c62abd5d0](https://github.com/magento/magento2/commit/6066e18eec1db72d722a3dd97

[2020-08-15 06:20] #29539 closed, assigned to Usik2203

[2020-08-15 06:20] magento-engcom-team commented on #1684
Hi @Michal-sk. Thank you for your report.
The issue has been fixed in magento/magento2#29398 by @yolouiese in 2.4-develop branch
Related commit(s):
 - [deb001c63d195c7c0d5d0cebc0fbb38bc622d58b](https://github.com/magento/magento2/commit/deb001c63d195c7c0d5d0cebc0fbb38bc622d58b)
 - [b5550cc239f57bcf3dc5dd8279efac9da40dcff6](https://github.com/magento/magento2/commit/b5550cc239f57bcf3dc5dd8279efac9d

[2020-08-15 06:20] magento-engcom-team commented on #29213
Hi @sarron93. Thank you for your report.
The issue has been fixed in magento/magento2#29214 by @sarron93 in 2.4-develop branch
Related commit(s):
 - [2af87179617897d39c97dcddbfa89576cf95578d](https://github.com/magento/magento2/commit/2af87179617897d39c97dcddbfa89576cf95578d)
 - [1be7e8ceeee68ee04f595055b2280195fd613eac](https://github.com/magento/magento2/commit/1be7e8ceeee68ee04f595055b2280195fd

[2020-08-15 06:20] #29213 closed, assigned to sarron93

[2020-08-15 06:20] magento-engcom-team commented on #29453
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29376 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [d8a386e5c3be5f99c37c19714e46de5c48b4977a](https://github.com/magento/magento2/commit/d8a386e5c3be5f99c37c19714e46de5c48b4977a)
 - [2c187400fc51c9277328e6b754569d3510fc3d03](https://github.com/magento/magento2/commit/2c187400fc51c9277328e

[2020-08-15 06:20] #29453 closed, assigned to lbajsarowicz

[2020-08-15 06:20] magento-engcom-team commented on #29286
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#29291 by @iGerchak in 2.4-develop branch
Related commit(s):
 - [08671ba3d1a80c805742219a01d2134787ac144b](https://github.com/magento/magento2/commit/08671ba3d1a80c805742219a01d2134787ac144b)
 - [aeccbe5ec1d4c5cee1ab7ee291efd9b25253ea8a](https://github.com/magento/magento2/commit/aeccbe5ec1d4c5cee1ab7ee291efd9

[2020-08-15 06:20] #29286 closed, assigned to iGerchak

[2020-08-15 06:20] magento-engcom-team commented on #29527
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28923 by @rvitaliy in 2.4-develop branch
Related commit(s):
 - [d87d307baeb67ca38c6caa3aa5a63e6931686560](https://github.com/magento/magento2/commit/d87d307baeb67ca38c6caa3aa5a63e6931686560)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-15 06:20] #29527 closed, assigned to nobody

[2020-08-15 08:42] zedlockuk opened #29561 "Unable to add products to cart, M2.3.4"
We are unable to add products to the shopping cart (URL: zedlock.com). The timer icon appears next to the cart but nothing else happens:
![Zedlock shopping basket issue](https://user-images.githubusercontent.com/69712533/90308882-32d14100-dedb-11ea-93ca-bedb42dbea41.png)

In addition, from Admin we are denied access to the 'Products' area:
![Zedlock Error page 13 Aug](https://user-images.githubuse

[2020-08-15 09:07] lbajsarowicz opened #29562 "Cart is being dropped on a non-cached page when Persistent cart module is uninstalled"
### Preconditions (*)
1. Goal: **decomposition of modules** - Being able to disable one module without side effects
2. Uninstalled **Persistent** module
3. Enabled Full Page Cache (does not matter if Varnish or built-in)

### Steps to reproduce (*)
1. Make sure that your FPC is enabled, and Persistent module is uninstalled
2. Add product to cart
3. Expect Minicart to contain the product
3. Open a

[2020-08-15 12:48] BassemN commented on #27137
This issue started after migrating from Magento 1

[2020-08-15 14:03] orthener commented on #28186
@ktruehl Can you show how to implement this patch? I tried "by manual" but `setup/src/Magento/Setup/Model/Installer.php` file not changed.

[2020-08-15 14:32] dipakCrayon commented on #22262
How you fixed the issue ?

[2020-08-15 21:53] garihogar commented on #29534
Error detected.
I cloned the server, uninstalled Elasticsearch and reinstalled it this time without the authentication enabled and it installed without problem.

I think the bug is in using username and password in localhost

Someone can check what I explain to provide a solution

[2020-08-15 23:12] EstebanAorta commented on #29312
Did you get it to work?

[2020-08-16 08:47] vinaysikarwar opened #29566 "Currency not changed on Checkout Cart Summary when multiple currency enabled & switched from header Magento 2.4.0"
### Preconditions (*)

1. Magento Version 2.4.0 with fresh setup & Cache Enabled

### Steps to reproduce (*)

1. Fresh Magento 2.4.0 setup
2. Enable the Cache
3. Enable Multiple Currencies
4. go to Frontend, Add product to Cart
5. Go to Cart
6.. Change Currency from Switcher
7. You will see Currency not updated in summary. due to caching. It should not be cached or refresh the summary. check the s

[2020-08-16 08:49] plastikschnitzer commented on #15420
I can confirm the issue still exists in Magento 2.3.5-p1.

Any solution?

[2020-08-16 09:27] garihogar opened #29567 "Error Class Magento\MediaContentApi\Api\Data\ContentIdentityExtensionInterface does not exist"
### Summary (*)
I have a new installation, I made a change in the sample home text and when I wanted to save the changes I got the following error:
Class Magento MediaContentApiPiDataContentIdentityExtensionInterface does not exist
He won't let me save any changes on the page

### Examples (*)
Whenever I ask you to save a page, it skips that error and doesn't allow me to move forward

### Proposed

[2020-08-16 09:35] lbajsarowicz commented on #29562
Related: https://github.com/magento/magento2/issues/21614

[2020-08-16 09:36] lbajsarowicz commented on #29562
Related: https://github.com/magento/magento2/issues/17973

[2020-08-16 09:50] amorr commented on #27942
@Blatant I did a new test and found out what the potential problem is.
i used following custom layout xml content:

`<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
     <body>
         <referenceContainer name="page.wrapper">
             <referenceBlock name="breadcrumb

[2020-08-16 10:12] plastikschnitzer opened #29568 "Banktransfer payment method on multistore showing wrong title (of default store view) on order overview grid"
### Preconditions (*)

1. Magento 2.4-develop
2. Multistore with different websites (Main Website and New Website)
![image](https://user-images.githubusercontent.com/51681379/91849369-9e016e00-ec64-11ea-8eb3-d730e0855e34.png)
3. Set Title and Instructions of Bank Transfer Payment for each store view
![image](https://user-images.githubusercontent.com/51681379/91849598-fafd2400-ec64-11ea-8999-378df6

[2020-08-16 10:12] iamvishalrathod commented on #26840
Not working for magento 2.3.0, any suggestions?

[2020-08-16 10:13] plastikschnitzer commented on #29568
@magento give me 2.4-develop instance

[2020-08-16 10:13] magento-engcom-team commented on #29568
Hi @plastikschnitzer. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-16 10:14] magento-engcom-team commented on #29568
Hi @plastikschnitzer, here is your [Magento instance](https://i-29568-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29568-2-4-develop.instances.magento-community.engineering/admin_3623](https://i-29568-2-4-develop.instances.magento-community.engineering/admin_3623)
Login: `e661b795` Password: `8689fb80582e`
Instance will be terminated in up to 3 hours.

[2020-08-16 10:28] plastikschnitzer commented on #29568
Thank you @magento but we have a little problem with the automatic testing instances: They are single stores only. I can create multiple store views inside them but this does not help.
I need to create and test in different multisite websites, and as I cannot access your shops index.php, I think I cannot build a proper multisite for testing.
Please correct me if I am wrong and advise how to build

[2020-08-16 10:52] MadonnaRagu commented on #26589
@iindranil - Could you please let us know which module caused the issue? Thanks!

[2020-08-16 14:49] scommercemage commented on #21663
Check your custom modules or extensions and find if you are using either of the following -:

**Magento\Catalog\Model\Product (in the constructor)

$this->_product->load($id)**

or

**$this->_objectManager->get('\Magento\Catalog\Model\Product')->load($id)**

If yes then change it to use **Magento\Catalog\Model\ProductRepository** and load product using **getById($id)** instead. Hope it helps

[2020-08-16 16:19] gcampedelli commented on #28673
I had the same error after installing showed me an error from missing composer.json file in var/composer_home folder.
So I placed an auth.json file with my keys to magento repo, reinstalled it and issue was solved. Let me know if this help you.

[2020-08-16 16:47] Blatant commented on #27942
Hey @amorr,

I had the exact same thing, specifically overriding the home! I have a fix / workaround for that!

What happens is the controller in the CMS module for the homepage is not the same as any  CMS page, it's not `cms_page_view` but `cms_index_index`. you'll note that the controller path is part of the file name.

The workaround is to duplicate your file `cms_page_view_selectable_home_cust

[2020-08-17 01:56] PivitParkour94 commented on #12597
So to be clear, we can't have any sort of api methods like `getData` for a custom model we create in a module, and return something like `mixed[]`? And this isn't considered a breaking change? It was definitely working previously and suddenly all the saving methods for our custom module is broken. Is having a method like `getData` not supposed to exist on the interface?

This seems like a really b

[2020-08-17 02:03] gilbertsohal commented on #29419
Is there a magento developer who can help me? We have newly upgraded to magento 2 website. I am facing issues with order and payments. Which i never faced in M1

1) With the below order number, the order never got recorded in magento nor i received a confirmation email. But braintree deducted the payment.
1000002100

2) With the below order numbers, the amount, details and sku are same. Braintree

[2020-08-17 04:41] amorr commented on #27942
@Blatant you're right, It's work!

[2020-08-17 05:12] brosenberger commented on #29540
the same wrong check seems to be wrong in https://github.com/magento/magento2/blob/49309635a56774ce4d3f326a08a4e607020a2a6e/app/code/Magento/ConfigurableProduct/Model/ResourceModel/Product/StockStatusBaseSelectProcessor.php#L48

[2020-08-17 05:52] IgorVitol commented on #28102
Hi! Adding few notes.

In **M2.4.0** with sample data installed, same **Women/Tops** category response headers total size increased again. And now it is bigger than 6k - you have to keep this in mind while adding any kind of workarounds. As I see, Magento team has "fixed" this by changing default nginx configuration to use 32k buffer. Hope that it is just a temporary fix.

**Headers example (M2.4.

[2020-08-17 06:51] Eddcapone opened #29570 "Executing `grunt refresh` or `grunt exec:all` in production mode, leads to error "Unable to retrieve deployment version of static files from the file system.""
### Preconditions (*)

1. Magento 2.3.5-p2

### Steps to reproduce (*)

0. Make the folder `pub` your project root
1. Put magento in production mode. `php bin/magento deploy:mode:set production`
2. Create a theme.
3. Setup grunt.
4. Execute `grunt exec:all`

### Expected result (*)

1. It should compile.

### Actual result (*)

1. You will get **Unable to retrieve deployment version of static file

[2020-08-17 07:43] majidiyan commented on #28598
We installed new version 2.4.0, but this bug has still remained.

[2020-08-17 08:01] Naberdz opened #29571 "Magento 2 report sales orders are missing from report"
### Preconditions (*)

1. Magneto 2.3.5-p1
2. php 7.2.3

### Steps to reproduce (*)

1. Upgrade magento from 2.3.2 to 2.3.5-p1
2. Create some orders

### Expected result (*)

1. All orders that where made should be in report

### Actual result (*)

1. some orders are missing
2. See data for 15 aug, one is cancelled, another one is pending and 3rd is processing, but in report we have no orders for

[2020-08-17 08:47] tdgroot commented on #26119
@m2-assistant I'm picking up this issue

[2020-08-17 09:05] ihor-sviziev commented on #29275
@mlambley good catch!
Could you create PR with your suggested changes and we'll review them?

[2020-08-17 09:13] koushikch7 opened #29572 "Product custom option delete while edit product programmatically"
### Preconditions (*)

1. Magento 2.3.0
2. php 7.2.3

### Steps to reproduce (*)

1. Add custom options to any product.
2. Update product SKU programmatically (custom script or custom module) that have custom options, for instance using following code:
[code]
3.  check the same product in the backend

### Expected result (*)

1. The custom options should be unchanged/undeleted

### Actual result (

[2020-08-17 09:16] Naberdz commented on #29571
As i understand it misses statics cronjob, if i refresh manually it shows all data, but which cronjob was removed and how to add it back ?

[2020-08-17 09:22] tdgroot commented on #26119
@magento I'm picking up this issue

[2020-08-17 09:25] mdehaan commented on #28981
@alexey-motorny-amasty
Thanks for your help!
I found out that my generated code folder was missing Title.php and copied the file there manually and now it works.
This is not a permanent fix ofcourse.
Could you point out to me what could be causing this file not getting generated?

I have checked the files.
In folder /home/xxxx/public_html/app/code/Amasty I have the following directory/file structu

[2020-08-17 09:55] iloa08 commented on #7997
Same here with magento 2.3.1 : is there a fix ?
Thanks

[2020-08-17 10:05] densen45 commented on #25430
I experienced the same issue in 2.3.5 (Temando_ShippingRemover is disabled).

Setting the source_model for the three Temando's eav_attributes to NULL solved this issue.

Thanks to all who have pointed this out!

[2020-08-17 10:32] Eddcapone commented on #29570
I figured out that `grunt exec` calls this code: `grunt --force clean:company_fresh`. This calls the script **dev/tools/grunt/configs/clean.js**.

It looks like this script is deleting the file **pub/static/deployed_content.txt** and so the errors **Unable to retrieve deployment version of static files from the file system** and **Can not load static content version.** are showing.

So I modified

[2020-08-17 10:41] gwharton opened #29574 "Dynamic Rows - deleteValue/deleteProperty not used on deleting records"
Magento Docs state the following for dynamic rows config

deleteProperty
The property added to a record data object when the record is deleted. Applied if the deleteValue option is enabled.

deleteValue
Adds the deleteProperty property in the data object for the deleted record.

If I create a dynamic rows instance and set deleteValue to true and deleteProperty to "delete". When I delete a record,

[2020-08-17 10:45] stijnkuppens commented on #8170
any updates on this issue? I am still experiencing this in 2.3.5-p2.

[2020-08-17 10:50] engcom-Delta commented on #29568
Hi @plastikschnitzer thank you for your report.

Issue is not reproducible by steps you described on clean 2.4-develop. Please, see [comment](https://github.com/magento/magento2/issues/29304#issuecomment-674062131)

Actually you could create multisite websites on test instance, set Stores->Configuration->General->Web->Url Options->Add Store Code to Urls=Yes and navigate to each website by adding s

[2020-08-17 10:51] nomedia opened #29575 "Product Form Modifier Datetime Can't store correct DateTime to product attributes"
### Preconditions (*)
I created a product attribute called datedate want to store DateTime, in default Magento product attributes, just have a date input type, so I using Ui Modifier to config date picker support time, but it doesn't work.

version: community-edition 2.2.3

### Steps to reproduce (*)

this is my di.xml

[code]

this is my modifier code:

[code]

### Expected result (*)

I want to

[2020-08-17 11:03] Bartlomiejsz commented on #16362
@magento I am working on this

[2020-08-17 11:05] Bartlomiejsz commented on #16362
Hi @ihor-sviziev, got a question. I got fix for that issue, but I'm wondering, if some category page is being used as homepage, should that in result generate urls in layered navigation as `http://local.test/consumer-electric.html?manufacturer=15`, or rather as `http://local.test/?manufacturer=15` to stay on homepage after using filters. Second one makes more sense to me, but it's different approa

[2020-08-17 11:05] engcom-Delta commented on #29561
Hi @zedlockuk thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop seems like this related to your custom modules.
![image](https://user-images.githubusercontent.com/51681379/90389581-833ecf00-e092-11ea-8190-a82e623bd0a6.png)

If you'd like to update the issue, please reopen it.

[2020-08-17 11:05] #29561 closed, assigned to engcom-Delta

[2020-08-17 11:06] ihor-sviziev commented on #29572
Seems like this is the same issue as described in https://github.com/magento/magento2/pull/29349

[2020-08-17 11:10] luccame commented on #29570
From: https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/tools/using_grunt.html

### Prerequisites
Make sure that you set your Magento application to the developer or default mode.

[2020-08-17 11:13] ihor-sviziev commented on #16362
As for me both options are correct. As for me `http://local.test/consumer-electric.html?manufacturer=15` is better option because we'll have only one page url with applied filters instead of `http://local.test/consumer-electric.html?manufacturer=15` and `http://local.test/?manufacturer=15`. But personally I don't for `http://local.test/?manufacturer=15`, for instance if it's easier.

[2020-08-17 11:17] Bartlomiejsz commented on #16362
@ihor-sviziev thank you, I'll go with second option then. I looked into this PR and I don't think such complex solution is needed. I found fix with only few lines. I will create some MFTF tests and create PR then, so you could review :)

[2020-08-17 11:21] Eddcapone commented on #29570
@luccame Thx. Then how are we supposed to compile in production mode?

[2020-08-17 11:35] ericmorand opened #29577 "Page Builder polutes the frontend HTML markup with attributes that are only needed for the adminhtml area"
### Preconditions (*)
1. Magento 2.3.5 EE

### Steps to reproduce (*)
1. Create a new page
2. From the page builder, add a text inside the first available row
3. Save the page
4. Head to the newly created page from the front-office

### Expected result (*)
1. The HTML markup is free from "data-" attributes that are not needed to theme the website.

### Actual result (*)
1. The HTML markup is popul

[2020-08-17 11:53] mlambley commented on #29275
Hi @ihor-sviziev I'm happy to create a PR. But could you please advise how willing you are to introduce breaking changes?

Either:
1. Add an ability to remove entities from CacheContext, which would involve breaking changes to this interface
2. Change all instances of CacheContext to non-shared across the system, which would be "good enough" whilst not introducing breaking changes

[2020-08-17 12:05] magento-engcom-team commented on #29525
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36778` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-17 12:22] engcom-Oscar commented on #29566
Hi @vinaysikarwar

Thank you for your report and collaboration!

I closing this issue, because I was unable to reproduce it using provided Steps to Reproduce from the Description section on clean 2.4-develop and 2.4.0 composer version of Magento. Perhaps the issue has been already fixed in the scope of other tasks.

But if you still run into this problem please update or provide additional informa

[2020-08-17 12:22] #29566 closed, assigned to engcom-Oscar

[2020-08-17 12:25] engcom-Delta commented on #29540
Hi @brosenberger thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**

- Create configurable product with Visual Swatch attribute:
![image](https://user-images.githubusercontent.com/51681379/90394107-b4230200-e09a-11ea-9682-e2b72d0c8458.png)
![image](https://user-images.githubusercontent.com/51681379/90394201-e5033700-e

[2020-08-17 12:28] dverkade commented on #29365
Please note that this patch is not working for commerce installations. `entity_id` is not a column name for commerce, it should be `row_id` instead.

[2020-08-17 12:29] brosenberger commented on #29540
@magento give me 2.4-develop instance

[2020-08-17 12:29] magento-engcom-team commented on #29540
Hi @brosenberger. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-17 12:30] magento-engcom-team commented on #29540
Hi @brosenberger, here is your [Magento instance](https://i-29540-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29540-2-4-develop.instances.magento-community.engineering/admin_a07d](https://i-29540-2-4-develop.instances.magento-community.engineering/admin_a07d)
Login: `cfcf8b06` Password: `ef7f981e63ef`
Instance will be terminated in up to 3 hours.

[2020-08-17 12:34] ihor-sviziev commented on #29275
@mlambley I think option with using non-shared CacheContext instance should be better

[2020-08-17 12:38] engcom-Delta commented on #28701
Hi @ioweb-gr thank you for your report.
Seems like this behavior is not Magento Core technical issue
Please feel free to open issue in [community-features](https://github.com/magento/community-features/issues) repo for further discussion

[2020-08-17 12:38] #28701 closed, assigned to engcom-Delta

[2020-08-17 12:38] ihor-sviziev commented on #29570
@Eddcapone
for production you should use `bin/magento setup:static-content:deploy` command. More info here https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-static-view.html#config-cli-subcommands-staticview

[2020-08-17 12:41] brosenberger commented on #29540
@engcom-Delta some behavior seems to be changed that not even the simple options are displayed (i experience that problem with a 2.2.x magento - but the underlying price indexer is still the same).

in my opinion when the option show out of stock products the simple options should be choosable (as the images might be different) and the price should additionally be shown for each simple (including

[2020-08-17 12:48] vinaysikarwar commented on #29566
@engcom-Oscar I think you have not cache enabled or not checked in cart and checkout page.

This is fresh magento setup https://www.magetech.in/

1. If you go here https://www.magetech.in/test-product.html and add product to Cart.
2. Now go to Cart https://www.magetech.in/checkout/cart/
3. Change currency from top, you will see Item price & Symbol changed in Item Grid but in summary section Item P

[2020-08-17 13:05] gwharton commented on #29574
If I run the test module on 2.1.18 (updated version that works on 2.1.18 attached) then it works as expected.

![image](https://user-images.githubusercontent.com/30697781/90399181-76ba7680-e092-11ea-9bb9-31f680e06fa6.png)

[app.zip](https://github.com/magento/magento2/files/5084324/app.zip)

[2020-08-17 14:08] engcom-Oscar commented on #29559
Hi  @oleksandrmakhno !

Thank you for your report and collaboration!

I closing this issue, because I was unable to reproduce it using provided Steps to Reproduce from the Description section on clean 2.4-develop branch of Magento. Perhaps the issue has been already fixed in the scope of other tasks.

But if you still run into this problem please update or provide additional information/steps/prec

[2020-08-17 14:08] #29559 closed, assigned to nobody

[2020-08-17 14:11] mrtuvn commented on #29577
@davemacaulay can you give some comments on this

[2020-08-17 14:18] mrtuvn commented on #29570
i believe in production we should not use grunt . Every changes need to update by ultimate commands di compile and deploy static

[2020-08-17 14:46] m2-assistant[bot] opened #29580 "[Issue] Fix ability to query bulk operations across multiple bulk_uuid values (broken by 2.4 release)"
This issue is automatically created based on existing pull request: magento/magento2#29579: Fix ability to query bulk operations across multiple bulk_uuid values (broken by 2.4 release)

---------
### Description (*)

The 2.4 release broke our ability to query Bulk Operations by status or start_date. Any attempt to do so causes an exception response:

`"Item (Magento\\AsynchronousOperations\\Model

[2020-08-17 15:01] m2-assistant[bot] opened #29581 "[Issue] Catalog Product: fix admin product options saving on store level"
This issue is automatically created based on existing pull request: magento/magento2#29349: Catalog Product: fix admin product options saving on store level

---------

**Preconditions:**

Configure Magento in multi-store mode.
Create a website with 2 store views in it.

**Steps to reproduce:**

1. Create a product in Admin panel that supports custom options.
1.1. Assign a product to the website.

[2020-08-17 15:09] m2-assistant[bot] opened #29582 "[Issue] Update AddDataForItaly.php"
This issue is automatically created based on existing pull request: magento/magento2#28248: Update AddDataForItaly.php

---------

### Description (*)

Updated italian provinces with last data

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)

### Questions or comments

Data from Wikipedia (https://it.wikipedia.org/wiki/Province_d%27Italia)

### Contribut

[2020-08-17 15:11] m2-assistant[bot] opened #29583 "[Issue] replace addException method with addExceptionMessage in Magento core …"
This issue is automatically created based on existing pull request: magento/magento2#28350: replace addException method with addExceptionMessage in Magento core …

---------
…modules
 Replace the deprecated addException method with addExceptionMessage  method in Magento core modules

### Description (*)
Replace the deprecated addException method with addExceptionMessage  method in Magento core mod

[2020-08-17 15:14] m2-assistant[bot] opened #29584 "[Issue] 25344 : Do not show Wishlist sidebar on customer dashboard Wishlist view"
This issue is automatically created based on existing pull request: magento/magento2#28321: 25344 : Do not show Wishlist sidebar on customer dashboard Wishlist view

---------

[2020-08-17 15:15] ericmorand commented on #29577
@mrtuvn it would also be very helpful if we could have a workaround. I know that this won't solve anytime soon - it probably requires a huge refactoring of the way Page Builder works - but I think there may be a way to avoid the issue. I'm thinking about some sort of filtering before the HTML markup is sent to the renderer. This way, the HTML markup would remain "poluted" in th database (ensuring

[2020-08-17 15:20] m2-assistant[bot] opened #29585 "[Issue] Prevent side effect on category objects store_id and url_key on save"
This issue is automatically created based on existing pull request: magento/magento2#28164: Prevent side effect on category objects store_id and url_key on save

---------

### Preconditions (*)

Magento 2.4-develop

Category URL rewrites are saved by an "after save" observer for categories. But if saved for global scope, the URL rewrite generator itself modifies the passed category object *for ea

[2020-08-17 15:29] m2-assistant[bot] opened #29586 "[Issue] Include 'name.xsd' in 'constraint.xsd'"
This issue is automatically created based on existing pull request: magento/magento2#28169: Include 'name.xsd' in 'constraint.xsd'

---------
[code]

`referenceIdType` is declared in `name.xsd` but `name.xsd` is not included. IDEA warns about it:
![image](https://user-images.githubusercontent.com/5052385/81438950-42bbe500-9176-11ea-8b7f-d8982772d515.png)

[2020-08-17 15:32] m2-assistant[bot] opened #29587 "[Issue] Moving admin export form to Ui components"
This issue is automatically created based on existing pull request: magento/magento2#28188: Moving admin export form to Ui components

---------

### Description

Admin export form (`System > Export`) has been moved from blocks to Ui components.

The Pull Request adds the following Ui components:

1. `Magento_ImportExport::view/adminhtml/ui_component/export_form.xml`
2. `Magento_ImportExport::view

[2020-08-17 15:34] m2-assistant[bot] opened #29588 "[Issue] Status of cache types changed after running setup:upgrade"
This issue is automatically created based on existing pull request: magento/magento2#28191: Status of cache types changed after running setup:upgrade

---------

### Description (*)
Fixed the issue that running `bin/magento setup:upgrade` re-enables layout, block_html and full_page caches.

### Related Pull Requests

 NA

### Manual testing scenarios (*)

1. Disable cache types layout, block_html

[2020-08-17 15:38] m2-assistant[bot] opened #29589 "[Issue] MFTF: Admin Delete Customer Test Refactoring"
This issue is automatically created based on existing pull request: magento/magento2#28121: MFTF: Admin Delete Customer Test Refactoring

---------
This PR contains refactored MFTF Test for deleting customer entity as Admin User

Steps to reproduce:
1 - Create Customer entity
2 - Login As Admin
3 - Delete created customer
4 - Perform Assertions

[2020-08-17 15:40] m2-assistant[bot] opened #29590 "[Issue] Fix SQL query quoting/casting when type is passed to where function"
This issue is automatically created based on existing pull request: magento/magento2#27980: Fix SQL query quoting/casting when type is passed to where function

---------
Framework/DB/Select where function doesn't handle the "type" correctly.

### Preconditions (*)
The $type variable can be both string or int, so before comparing it to
'TYPE_CONDITION' string it has to be casted to avoid comparing

[2020-08-17 15:48] m2-assistant[bot] opened #29591 "[Issue] fix return type in getAttributeGroupId function of EavSetup"
This issue is automatically created based on existing pull request: magento/magento2#27669: fix return type in getAttributeGroupId function of EavSetup

---------

### Description (*)

Wrong Return type in getAttributeGroupById function, should be int, implementation would never return EavSetup
### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)

### Questio

[2020-08-17 15:56] m2-assistant[bot] opened #29592 "[Issue] Added optional description field to the <route> tag in webapi.xml"
This issue is automatically created based on existing pull request: magento/magento2#27868: Added optional description field to the <route> tag in webapi.xml

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. magento/magento2#<issue_number>: Issue title

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklis

[2020-08-17 15:58] m2-assistant[bot] opened #29593 "[Issue] Fix error implementing getStreetLine3 and getStreetLine4 methods"
This issue is automatically created based on existing pull request: magento/magento2#27947: Fix error implementing getStreetLine3 and getStreetLine4 methods

---------
### Description (*)
Fix error implementing getStreetLine3 and getStreetLine4 methods.

### Contribution checklist (*)
 - [X] Pull request has a meaningful description of its purpose
 - [X] All commits are accompanied by meaningful c

[2020-08-17 15:59] mrtuvn commented on #29577
From frontend view i don't like PB sometimes when i need to copy/paste data around in backend. Hard to edit/modify content like before. From frontend some extra divs generated by code can take you extra time to figure some issues around . Other hand i love PB in the way make user easier to build their contents without need knowledge html

[2020-08-17 16:01] m2-assistant[bot] opened #29594 "[Issue] Implement ActionInterface for UI/Index"
This issue is automatically created based on existing pull request: magento/magento2#27498: Implement ActionInterface for UI/Index

---------

### Description (*)

This is a part of the process of introducing implementations of `ActionInterface`.

### Related Pull Requests

### Fixed Issues (if relevant)

N/A

### Manual testing scenarios (*)

N/A

### Questions or comments

### Contribution check

[2020-08-17 16:02] m2-assistant[bot] opened #29595 "[Issue] Bugfix #27601: Allow products with MSI to wishlist with no default stock inventory source"
This issue is automatically created based on existing pull request: magento/magento2#27527: Bugfix #27601: Allow products with MSI to wishlist with no default stock inventory source

---------

### Description (*)
When a product has multiple inventory sources excluding a "default stock", it is possible to add the product to a wishlist, although the product is saleable. If we try to add such a prod

[2020-08-17 16:06] m2-assistant[bot] opened #29596 "[Issue] Improvement for price indexer"
This issue is automatically created based on existing pull request: magento/magento2#27571: Improvement for price indexer

---------

### Description (*)
This PR created to improve the price indexer.
The previous code contained `$select->where(sprintf('e.entity_id BETWEEN %s AND %s', min($entityIds), max($entityIds)));` with SQL construction `BETWEEN %s AND %s'`.
It was wrongly because for partial

[2020-08-17 16:07] m2-assistant[bot] opened #29597 "[Issue] Fix wrong position of button list when load "New Attribute" page"
This issue is automatically created based on existing pull request: magento/magento2#27574: Fix wrong position of button list when load "New Attribute" page

### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to backend, create new product
2. Fill required field, go to "Create Configurations"
3. Create New Attribute
4. Look at the position of the button "Reset" and "S

[2020-08-17 16:09] rafaelstz commented on #29357
I checked and we don't have the XML customizations available in the CMS pages anymore, so we can't fix it via admin panel. The page that contains the contact form must implement the **view_model** via XML.

[code]

[2020-08-17 16:09] m2-assistant[bot] opened #29598 "[Issue] Refactor moveFileFromTmp to not use a static method call"
This issue is automatically created based on existing pull request: magento/magento2#27581: Refactor moveFileFromTmp to not use a static method call

---------

### Summary (*)
Magento 2.4-develop
Currently the class `\Magento\Catalog\Model\ImageUploader` has a static call to `Uploader::getNewFileName`

In this PR I plan to:
 - Create new class for the method `getNewFileName`,
 - Refactor the `\Ma

[2020-08-17 16:10] m2-assistant[bot] opened #29599 "[Issue] Remove redundant fieldset in sale rule form"
This issue is automatically created based on existing pull request: magento/magento2#27585: Remove redundant fieldset in sale rule form
---------
remove redundant fieldset in sale rule form. "Currently Active". This field is used in Magento Commerce, not in open source.

### Preconditions (*)
1. Magento 2.4 CE

### Steps to reproduce (*)
1. Go to backend.
2. Create New Cart Price Rule.

Check:

![

[2020-08-17 16:16] darpanpatel2018 commented on #29192
dear sir,
I have used 2.3.5-p1 version. and when I was select qty increment in decimal value after that I added product in add to cart after that I was trying to update product qty in decimal value that time one message created ( please enter valid value).
for example, I have added 1.2 product qty and after that, I tried to update 1.5 that time not updated qty value.

[2020-08-17 16:20] m2-assistant[bot] opened #29600 "[Issue] Use Logger implementation based on deployment configuration"
This issue is automatically created based on existing pull request: magento/magento2#27379: Use Logger implementation based on deployment configuration

---------
### Summary (*)
Magento 2.4-develop
Use Logger implementation based on deployment configuration

### Examples (*)
 -  Configure Magento to run in production mode
 -  Add `'log' => [ 'type' => \Monolog\Logger::class, 'args' => ['name' =>

[2020-08-17 16:22] m2-assistant[bot] opened #29601 "[Issue] magento/magento2#: Add a new index for `cron_schedule` table"
This issue is automatically created based on existing pull request: magento/magento2#27391: magento/magento2#: Add a new index for `cron_schedule` table

---------

### Preconditions(*)

[Magento\Cron\Model\ResourceModel\Schedule::trySetJobStatusAtomic()](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Cron/Model/ResourceModel/Schedule.php#L37) executes an UPDATE SQL with an

[2020-08-17 16:24] m2-assistant[bot] opened #29602 "[Issue] [Admin][improvement] Do not allow HTML tags for product attribute options when type is dropdown or multiple select"
This issue is automatically created based on existing pull request: magento/magento2#27417: [Admin][improvement] Do not allow HTML tags for product attribute options when type is dropdown or multiple select

---------
### Description (*)
This PR aims to add a new validation for the options of the product attribute type "Dropdown", "Multiple Select" that checks whenever the option value contains HT

[2020-08-17 16:26] m2-assistant[bot] opened #29603 "[Issue] Convert MSRP currency of configurable product options"
This issue is automatically created based on existing pull request: magento/magento2#27446: Convert MSRP currency of configurable product options

---------
### Preconditions:

Magento 2.4-develop

The MSRP of configurable products is updated in Javascript when an option is chosen. Javascript uses an object with prices of the options. The prices in this object are converted to the chosen currency.

[2020-08-17 16:27] m2-assistant[bot] opened #29604 "[Issue] Add missing order_data array to EmailSender classes"
This issue is automatically created based on existing pull request: magento/magento2#27454: Add missing order_data array to EmailSender classes

---------
### Summary (*)
Magento 2.4-develop
Magento 2.3.4 now recommends using scalar variables instead of objects within the email templates. Unfortunately, not all classes were migrated. For example, [\Magento\Sales\Model\order\Email\Sender\ShipmentSe

[2020-08-17 16:27] lenaorobei commented on #8181
Closing this issue with "Cannot reproduce" resolution. P{lease feel free to reopen if you are still experiencing it using `2.4-develop` branch. Thank you.

[2020-08-17 16:27] #8181 closed, assigned to nobody

[2020-08-17 16:29] m2-assistant[bot] opened #29605 "[Issue] MAGETWO-2745: added appEmulation Plugin for the $sitemap->generateXml() for generating the sitemap via cron and backend"
This issue is automatically created based on existing pull request: magento/magento2#27476: MAGETWO-2745: added appEmulation Plugin for the $sitemap->generateXml() for generating the sitemap via cron and backend

---------

### Description (*)
I found almost the same issue here: #24605, here you generate the sitemap via backend.
In my case i let generate the sitemap with cron schedule. The problem

[2020-08-17 16:30] m2-assistant[bot] opened #29606 "[Issue] improve exception handling in Layout render"
This issue is automatically created based on existing pull request: magento/magento2#27478: improve exception handling in Layout render

---------
### Preconditions (*)

When layout is being rendered in production mode, all exception messages are logged to system log as critical issues. However exception stack is lost. If we pass exception to `LoggerInterface::critical` instead this data will be s

[2020-08-17 16:30] magento-engcom-team commented on #29544
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36787` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-17 16:38] jambardnishvili opened #29607 "Adding new filter for category grid, "from" date, doesn't have an effect"
### Summary (*)

Created the following plugin to filter products on category grid from a specific date during  `Magento\Catalog\Block\Product\ProductList\Toolbar::setCollection` method, the date is correctly formatted by Magento core function, and passed in `addFieldToFilter` function correctly formated as well with `from` array key, the expected result is to have results correctly filtered by spe

[2020-08-17 17:24] plastikschnitzer commented on #29568
@engcom-Delta thank you very much! I will try again with the Multistore setup you described. Also interesting to see that I am not the only one who experienced the issue.

@magento give me 2.4-develop instance

[2020-08-17 17:24] magento-engcom-team commented on #29568
Hi @plastikschnitzer. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-17 17:25] magento-engcom-team commented on #29568
Hi @plastikschnitzer, here is your [Magento instance](https://i-29568-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29568-2-4-develop.instances.magento-community.engineering/admin_223b](https://i-29568-2-4-develop.instances.magento-community.engineering/admin_223b)
Login: `0e48a2b7` Password: `edfe3e30c949`
Instance will be terminated in up to 3 hours.

[2020-08-17 17:51] rmanor1 commented on #28016
Sorry for delay, is it possible to split this issue? I would put higher (P2, next release) priority on the exact search issue as it currently returns nothing. And a lower (P3, future release) priority fix on the '+' operator splitting queries, since it returns the expected result (if not others as well).

[2020-08-17 17:53] sdzhepa commented on #28517
Hello @chris-huffman

Thank you for your report and collaboration!

Unfortunately, we are closing this issue as low priority and as fixed in the current `2.4-develop`

According to [Code Contributions](https://devdocs.magento.com/contributor-guide/contributing.html#backlog) requirements and section [Accepted pull requests and ported code](https://devdocs.magento.com/contributor-guide/contributing.

[2020-08-17 17:53] #28517 closed, assigned to nobody

[2020-08-17 18:05] sdzhepa commented on #28482
Hello @Ankush-Webkul

Update based on internal Jira.
The issue has been fixed by internal team in the scope of `MC-32364` internal ticket. Fix was delivered into 2.3.x branch
Target fix version is next `2.3.6` release

[2020-08-17 18:05] #28482 closed, assigned to chandu-pinpoint

[2020-08-17 18:10] sdzhepa commented on #28254
Hello @operator888

Just checked and the issue has been fixed and available in 2.3.5-p2 and `2.4.0`

[2020-08-17 18:10] #28254 closed, assigned to CarmineDamore78

[2020-08-17 18:14] m2-assistant[bot] opened #29608 "[Issue] Bugfix: Changed saving sorting order in RefundOrder class"
This issue is automatically created based on existing pull request: magento/magento2#26972: Bugfix: Changed saving sorting order in RefundOrder class

---------
### Description

Bugfix: Changed saving sorting order. For Magento Commerce a comment is set on the order when refunding to store credit. This comment will not be saved and the store credit refund will not be shown on the order page, becau

[2020-08-17 18:16] duffner commented on #25663
@magento-engcom-team, @engcom-Charlie, this is a critical feature of Magento, it's probably one of the main features which still make Magento more feature-rich than other platforms.

This removal impacts almost every Commerce Edition Customer we maintain. Without this support, these customers have no reason to stay on Magento.  This is a huge SALES issue, please fix it immediately!

[2020-08-17 18:18] m2-assistant[bot] opened #29609 "[Issue] resolved consistency error for merged indexer xml files"
This issue is automatically created based on existing pull request: magento/magento2#27212: resolved consistency error for merged indexer xml files

---------
The allowed values in classType should be equal in unmerged and merged indexer.xml files

Allowing only letters and backspaces is wrong, since PHP-namespaces can also contain numbers.

### Preconditions: (*)

Magento 2.4-develop

### Related

[2020-08-17 18:20] m2-assistant[bot] opened #29610 "[Issue] Relaxing strict method access modifiers for easier consumer reusage"
This issue is automatically created based on existing pull request: magento/magento2#27294: Relaxing strict method access modifiers for easier consumer reusage

---------

### Description (*)

Although basic magento consumer does its job fine, it has limited usage. If we want to add more complex usage, basing for example on arguments, we have to implement it on our own. In majority of cases we wou

[2020-08-17 18:24] m2-assistant[bot] opened #29611 "[Issue] Replace deprecated functionality in “customer:hash:upgrade” command"
This issue is automatically created based on existing pull request: magento/magento2#27333: magento/magento2#: Replace deprecated functionality in “customer:hash:upgrade” command [WIP]

---------

### Description (*)

PR replaces deprecated `customer->load()`, `customer->save()` functionality in the

```bin/magento customer:hash:upgrade```

command.

Original PR: https://github.com/magento/magento

[2020-08-17 18:38] m2-assistant[bot] opened #29612 "[Issue] Prevent "Overwrite the existing configuration for db-ssl-verify?" question"
This issue is automatically created based on existing pull request: magento/magento2#26818: Prevent "Overwrite the existing configuration for db-ssl-verify?" question

---------
### Summary (*)
Magento 2.4-develop
This question is occurred [every time](https://github.com/magento/magento2/issues/26762#issuecomment-584698357) I run:
[code]

after upgrade to 2.3.4

Also see #26762

We should ask this

[2020-08-17 18:39] m2-assistant[bot] opened #29613 "[Issue] Add support for multiple space-separated CDATA sections in Magento\Framework\Xml\Parser"
This issue is automatically created based on existing pull request: magento/magento2#26822: Add support for multiple space-separated CDATA sections in Magento\Framework\Xml\Parser

---------

### Description (*)

Our XML files sometimes contain multiple CDATA sections per node. The XML parser class provided by Magento in [`/lib/internal/Magento/Framework/Xml/Parser.php`](https://github.com/magento

[2020-08-17 18:40] m2-assistant[bot] opened #29614 "[Issue] Removed leading backslash in xml"
This issue is automatically created based on existing pull request: magento/magento2#26948: Removed leading backslash in xml

---------
### Description (*)
Removed leading backslash in namespace & class in XML

`xsi:type="object">\Magento\...
xsi:type="string">\Magento\...
xsi:type="const">\Magento\...
<type name="\Magento\...
type="\Magento\...
<virtualType name="\Magento\...
for="\Magento\...`

[2020-08-17 18:42] m2-assistant[bot] opened #29615 "[Issue] Fix for queue numeric argument conversion"
This issue is automatically created based on existing pull request: magento/magento2#26967: Fix for queue numeric argument conversion

---------

### Description (*)

Magento 2.4-develop

If we want to declare queue (I bet this also occurs the same way for exchanges) with arguments and we use numeric type argument in `queue_topology.xml` it is casted to string and in corrected file it gets wrapped

[2020-08-17 18:43] m2-assistant[bot] opened #29616 "[Issue] Making message lock release possible"
This issue is automatically created based on existing pull request: magento/magento2#26968: Making message lock release possible

---------

### Description (*)

Message can't be processed by the same consumer if it was rejected previuosly, beacause message lock is not released.
Example:
If we create dead-letter exchange (so far not possible using xml-s - see related PRs) we want our consumer to p

[2020-08-17 18:48] plastikschnitzer commented on #29568
Hello @engcom-Delta I tested the issue again and I can confirm it is almost fixed in Magento 2.4-develop. Only one small detail of the bug remains and I could rebuild it here in your 2.4-develop instance AND in my Magento 2.3.5-p1 where I just copied over the app/code/Magento/OfflinePayments folder from the 2.4-dev version (not sure if this is best practice, but at least it did not break the shop

[2020-08-17 19:13] m2-assistant[bot] opened #29617 "[Issue] Fixed problems in the ResourceModel for the Inbox."
This issue is automatically created based on existing pull request: magento/magento2#26303: Fixed problems in the ResourceModel for the Inbox.

---------

### Description (*)

When inserting a notification through `Magento\AdminNotification\Model\Inbox::add`
with the URL empty(as it by default is), would result in the empty string being inserted into the database and therefore the `IS NULL` where

[2020-08-17 19:15] m2-assistant[bot] opened #29618 "[Issue] Add support for symlinked magento root in errors pages / maintenance mode"
This issue is automatically created based on existing pull request: magento/magento2#26361: Add support for symlinked magento root in errors pages / maintenance mode

---------
If the magento root or magento/pub is symlinked into a diffrent directory the Error Processor (`Magento\Framework\Error\Processor`) does no longer generate a correct view file url.
The `$this->_indexDir` variable is set to

[2020-08-17 19:17] m2-assistant[bot] opened #29619 "[Issue] Rollback MAGETWO-96403 as it was closed as "NOT A BUG""
This issue is automatically created based on existing pull request: magento/magento2#26392: Rollback MAGETWO-96403 as it was closed as "NOT A BUG"

---------
# Description (*)
See https://github.com/magento/magento2/issues/24422
Cannot enable "Apply to shipping amount" when you Apply "Fixed amount discount for whole cart"
It should be possible according to documentation (https://docs.magento.com/m

[2020-08-17 19:18] m2-assistant[bot] opened #29620 "[Issue] Improvement: Add DB index on attribute_id and sort_order to eav_attribute_option"
This issue is automatically created based on existing pull request: magento/magento2#26400: Improvement: Add DB index on attribute_id and sort_order to eav_attribute_option

---------
### Description (*)
This adds a composite index on (`attribute_id`, `sort_order`) to the eav_attribute_option table, which speeds up many queries done by Magento internally.
Currently there are no indexes on `sort_or

[2020-08-17 19:20] m2-assistant[bot] opened #29621 "[Issue] Add Event Prefix And Object To The Catalog Product Option Value Collection"
This issue is automatically created based on existing pull request: magento/magento2#26401: Add Event Prefix And Object To The Catalog Product Option Value Collection

---------
### Preconditions (*)

Magento 2.4-develop

### Fixed Issues (if relevant)
n/a

### Steps to reproduce: (*)
1. Try to customize the collection loading of \Magento\Catalog\Model\ResourceModel\Product\Option\Value\Collection

[2020-08-17 19:22] m2-assistant[bot] opened #29622 "[Issue] feat(framework): pull HeaderManager beforeSendResponse back to HttpInterface"
This issue is automatically created based on existing pull request: magento/magento2#26405: feat(framework): pull HeaderManager beforeSendResponse back to HttpInterface

---------
### Description (*)
The [HeaderManager](https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/App/Response/HeaderManager.php) depends on a concrete type for the `beforeSendResponse` method,

[2020-08-17 19:29] victor-v-rad commented on #26731
@hostep @SamJUK
It is recommended to use Data Migration Tool to fix this issue and it is the easiest way. You just need to install it into your Magento 2 and it will take care of BCRYPT passwords. As an alternative you can upgrade your Magento 1 to 1.9.4.5/1.14.4.5. These versions has the fix as well. But you need to wait until all the customers relogin and their passwords get rehashed with SHA256

[2020-08-17 19:36] m2-assistant[bot] opened #29623 "[Issue] Removed duplicated content from luma theme's etc/view.xml."
This issue is automatically created based on existing pull request: magento/magento2#26655: Removed duplicated content from luma theme's etc/view.xml.

---------
### Description (*)

Removed duplicated content of view.xml from the luma theme as its already a child of the blank theme.
Refer below Magent 2 guidelines for view.xml workflow: - -
- https://devdocs.magento.com/guides/v2.3/frontend-dev-g

[2020-08-17 20:04] sdzhepa commented on #26956
Based on https://github.com/magento/magento2/issues/26956#issuecomment-601094586 issue was already fixed and cannot be reproduced on the latest `2.4-develop`

[2020-08-17 20:04] #26956 closed, assigned to nobody

[2020-08-17 20:05] sdzhepa commented on #29364
Closed as Duplicate of https://github.com/magento/magento2/issues/26903

[2020-08-17 20:05] #29364 closed, assigned to nobody

[2020-08-17 20:08] mcfriend99 commented on #29197
This issue still persists.

[2020-08-17 20:27] sdzhepa commented on #26797
Hello @g-anedda

Thank you for your report and collaboration!

Unfortunately, we are closing this Issue report because we are not able to process contribution to the `2.3.x` release line through this public repository. See details [Code Contributions: Accepted pull requests and ported code](https://devdocs.magento.com/contributor-guide/contributing.html#rules)
And starting from `2.4.0` release, co

[2020-08-17 20:27] #26797 closed, assigned to nobody

[2020-08-17 20:44] sdzhepa commented on #26946
Hello @gwharton

Thank you for your report and collaboration!

Unfortunately, we are closing this Issue report because starting from `2.4.0` release, code related to this payment was removed for Magento code-base:
[Magento Commerce 2.4.0 Release Notes](https://devdocs.magento.com/guides/v2.4/release-notes/release-notes-2-4-0-commerce.html)

[Deprecation of Magento core payment integrations](https:

[2020-08-17 20:44] #26946 closed, assigned to nobody

[2020-08-17 20:45] sdzhepa commented on #26937
Hello @salvadorcanillas

Thank you for your report and collaboration!

Unfortunately, we are closing this Issue report because we are not able to process contribution to the `2.3.x` release line through this public repository. See details [Code Contributions: Accepted pull requests and ported code](https://devdocs.magento.com/contributor-guide/contributing.html#rules)
And starting from `2.4.0` rel

[2020-08-17 20:45] #26937 closed, assigned to nobody

[2020-08-17 20:46] sdzhepa commented on #26852
Hello @vishaltajpara

Thank you for your report and collaboration!

Unfortunately, we are closing this Issue report because we are not able to process contribution to the `2.3.x` release line through this public repository. See details [Code Contributions: Accepted pull requests and ported code](https://devdocs.magento.com/contributor-guide/contributing.html#rules)
And starting from `2.4.0` releas

[2020-08-17 20:46] #26852 closed, assigned to nobody

[2020-08-17 21:06] sdzhepa commented on #26731
Thank you @victor-v-rad  for the update and details
It seems Issue already resolved and we can close it

cc: @hostep

[2020-08-17 21:06] #26731 closed, assigned to nobody

[2020-08-17 21:37] rparsi-boxycharm commented on #29439
Just letting everyone know that I'm getting this same error with m2.3.5-p2 (enterprise/whatever the paid version is called) with ES 7.0

[2020-08-17 21:45] sdzhepa commented on #29419
Hello @gilbertsohal

It's very sad that you faced such issue...
But according to rules [Code Contributions:Accepted pull requests and ported code](https://devdocs.magento.com/contributor-guide/contributing.html#rules)

This means here we can process, assist, and deliver issues related to 2.4+ version only.

And starting from `2.4.0` release code related to this payment was removed for Magento code

[2020-08-17 21:58] sdzhepa commented on #29387
Hello @TheRealHunzik

Did you have a chance to check https://github.com/magento/magento2/issues/29387#issuecomment-669209489 ?
Based on the description it seems some kind of configuration/env issue.

Could you please provide an update?

Also, be aware that Web Install Wizard has been removed from Magento starting from 2.4.0 release.
Now it can be installed only using CLI https://devdocs.magento.co

[2020-08-17 23:16] northdakota commented on #7298
Still have an issue on 2.3.3

[2020-08-17 23:45] mtsmtyuta commented on #29293
Had the same issue here and this error freezes up the admin sales page. I manually added the column in sales_order_grid to solve the error temporarily so I could click on another column.

[2020-08-18 06:27] pprignesh commented on #25221
Hi
To fix the issue please replace following file.
vendor/magento/module-sales/view/frontend/templates/email/shipment/track.phtml

`<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_shipment = $block->getShipment() ?>
<?php $_order = $block->getOrder() ?>
<?php if ($_shipment && $_order && $_shipment->

[2020-08-18 06:51] koushikch7 commented on #29572
Hello @ihor-sviziev , I think #29349  is not related, because my problem is custom options are completely deleted/unlinked from the product store and default view. where has in the mentioned ticket #29349  the custom options are re-defining w.r.t store level. so still does this related?

[2020-08-18 07:29] weiweiouyang commented on #28016
@sdzhepa @rmanor1 Hello, thank you for your reply.
I've removed the part for '+' operator, so that we only have to fix the perfect match in this issue.
I'll open another issue for it later.

[2020-08-18 07:33] yesman2104 commented on #28706
Hello , I have problem same here . Description of Product can't update after I try add a new content for it with Page Builder . Pls Help me !!! I'm using Magento EE 2.3.5p2

[2020-08-18 08:01] tripathiprakash commented on #26606
Hello,
I recently updated to Magento 2.3.5-p1 and I have this force serialize code but when I check my exception Log there are still error messages indicating Unable to unserialize value. You have mentioned that you created a program. Can you suggest how to solve this issue?

[2020-08-18 08:02] engcom-Oscar commented on #29476
Hi @shravanpathipaka

Thank you for your report and collaboration!

I closing this issue, because I was unable to reproduce it using provided Steps to Reproduce from the Description section on clean 2.4-develop and 2.3.5-p2 version of Magento. Perhaps the issue has been already fixed in the scope of other tasks.

But if you still run into this problem please update or provide additional informatio

[2020-08-18 08:02] #29476 closed, assigned to engcom-Oscar

[2020-08-18 08:04] snez commented on #28462
@magento

[2020-08-18 08:04] snez commented on #28462
@Mohan2594 are you still working at Magento? If so, can you re-assign to someone who cares to have a look at this?

[2020-08-18 08:37] Eddcapone commented on #29570
But this does not compile your themes LESS files, so it makes no sense?

[2020-08-18 08:40] Eddcapone opened #29625 "URL Rewrites Filter is not showing right result"
### Preconditions (*)

1. EE 2.3.5-p2

### Steps to reproduce (*)

1. Login to Backend
2. Open: Marketing -> SEO & Search: Url Rewrites
3. Set Filter for ID and search for a ID of a existing product, for example 5

### Expected result (*)

1. It should show the record with ID 5 if it exists.

### Actual result (*)

1. It shows all records which contains the number 5 in their ID

![image](https://u

[2020-08-18 08:42] Eddcapone commented on #29570
The commands `bin/magento setup:di:compile` and `bin/magento setup:static-content:deploy` are not compiling your themes LESS files, so how are we supposed to compile the Theme without using grunt?

[2020-08-18 08:48] ihor-sviziev commented on #29570
It is done on php. Yes this is not logical and much slower than it could
be, but that’s what we have in magento

On Tue, 18 Aug 2020 at 11:43 Eddcapone <notifications@github.com> wrote:

[2020-08-18 08:50] mdehaan commented on #25182
@magento-engcom-team

I have updated to Magento 2.4 and the date issue on promo rules still exists.

**Catalog price rule:**

1. ![catalog price rule pre save - Dutch locale](https://user-images.githubusercontent.com/581336/90491711-97d9a080-e140-11ea-837f-944179e12d15.PNG)
2. ![catalog price rule after save - Dutch locale](https://user-images.githubusercontent.com/581336/90491717-9ad49100-e140-11

[2020-08-18 09:04] videni opened #29626 "how to fill One-to-many model with just 1 SQL?"
# One to many relation

A  parent has muitple children. Let's say we want to query all parents with its children.

# Related classes

ParentModel, ChildModel , both are instance of Magento\Framework\Model\AbstractModel.

ParentCollection is an instane of \Magento\Framework\Model\ResourceModel\Db\Collection\AbstractCollection

# Question

how can we get all parents that are filled with its children

[2020-08-18 09:13] krishprakash commented on #29626
Hi @videni. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-08-18 09:13] #29626 closed, assigned to krishprakash

[2020-08-18 09:41] hostep commented on #29570
@Eddcapone: you can use https://github.com/baldwin-agency/magento2-module-less-js-compiler which uses nodejs to compile less code instead of php, which - in the early days of Magento was much more performant, but recently the scales have tipped. But the most important feature of that module, is that the outputted css code should be 100% the same between local development (using grunt) and producti

[2020-08-18 09:45] mdehaan opened #29627 "Datepicker does show the wrong date after saving a price rule, CMS page and on other cases aswell on a Dutch locale"
### Preconditions (*)
1. Magento 2.4
2. Admin interface language set to Dutch for the currently logged in admin.

### Steps to reproduce (*)
1. Create a catalog price rule and set the start date to 18-08-2020 and end date 31-08-2020 and save it.

### Expected result (*)
1. After the price rule is saved and when opening it again then the start date should be 18-08-2020 and end date should be 31-08-

[2020-08-18 09:51] Eddcapone commented on #2619
@koopjesboom We are using Enterprise 2.3.5-p2 and the problem is still not fixed. If I execute `php bin/magento indexer:reindex`, then the url_rewrite Table does not change.

[2020-08-18 10:01] pitbulk commented on #28428
I confirm Magento 2.4 also experience this issue.

[2020-08-18 10:09] Eddcapone commented on #29570
I just tested it and `bin/magento setup:di:compile` acutally does compile your Theme. It works.
But I still don't understand why grunt only works for default/developer mode? It just makes no sense for me.
I applied my fix and I will use grunt in production, until someone gives a valid reason why we should not use grunt in production.

[2020-08-18 10:11] ihor-sviziev commented on #29570
Php compiler gives a bit different result time to time, that’s the main
reason - you might see the issues that no one else see

On Tue, 18 Aug 2020 at 13:09 Eddcapone <notifications@github.com> wrote:

[2020-08-18 10:13] Eddcapone opened #29628 "Why does magento try to compile inactive themes?"
### Summary (*)

I have two themes, company_base and company_fresh. I am only using **company_fresh** and company_base is just laying around atm.
If I execute `php bin/magento setup:static-content:deploy` then I often get errors from my inactive corrupted experimental theme `company_base` for example:

[code]

Why does magento even try to compile it?

### Examples (*)

Create a second theme beside

[2020-08-18 10:16] Eddcapone commented on #29570
So grunt uses the php compiler? Then which compile is used by setup:di:compile? Is it working better than grunt compiler?

[2020-08-18 10:38] Eddcapone opened #29629 "Magento 2 is missing a method to regenerate url rewrites"
### Preconditions (*)

1. EE 2.3.5-p2

### Steps to reproduce (*)

1. Create some categories and products
2. Truncate table `url_rewrites`
3. Login to Backend.
4. Go to: `Marketing -> SEO & Search: URL Rewrites`
5. Notice that there are no records.
6. Try to regenerate url_rewrites e.g. with `php bin/magento indexer:reindex`
7. Notice that there are still no records.

### Expected result (*)

1. T

[2020-08-18 11:03] magento-engcom-team commented on #28309
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36814` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-18 11:24] magento-engcom-team commented on #29230
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36816` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-18 11:30] magento-engcom-team commented on #29498
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36817` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-18 11:46] hostep commented on #2619
@Eddcapone: Magento 2 doesn't generate url rewrites with indexers, Magento 1 did that, but Magento 2 has no official way to regenerate url rewrites.
If you want to regenerate them, you need to use an external module (be sure to test one of these thoroughly before running it on production, it could destroy your SEO ranking):
- https://github.com/elgentos/regenerate-catalog-urls/
- https://github.co

[2020-08-18 11:48] magento-engcom-team commented on #24060
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36819` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-18 11:57] hostep commented on #29570
@Eddcapone

1) `setup:di:compile` has nothing to do with generating static assets
2) `setup:upgrade` also implicitly executes `setup:static-content:deploy` (unless you specify the `--keep-generated` flag)
3) the main reason for wanting to use `setup:static-content:deploy` on production is because it does a lot more than simply compiling less code. It's also merging/bundling/minifying css and javas

[2020-08-18 12:02] stkrelax commented on #28933
no interest anymore

[2020-08-18 12:02] #28933 closed, assigned to nobody

[2020-08-18 12:07] Hexmage opened #29631 "[2.3.5-p2] GraphQl Special Price Ignore's special price from to dates."
### Preconditions (*)

1. Magento 2.3.5-p2

### Steps to reproduce (*)

1. Create a product with a price of 100 and a special price of 50
2. Set a special from date of 1-1-1999, set a special to date of 1-1-2000
3. Run the following GraphQl query with the sku of the product created in step 1:
[code]

### Expected result (*)

Final price and regular price are identical.

### Actual result (*)

![Sc

[2020-08-18 12:07] Hexmage commented on #29631
@magento give me 2.4-develop instance

[2020-08-18 12:07] magento-engcom-team commented on #29631
Hi @Hexmage. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-08-18 12:09] magento-engcom-team commented on #29631
Hi @Hexmage, here is your [Magento instance](https://i-29631-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29631-2-4-develop.instances.magento-community.engineering/admin_eddf](https://i-29631-2-4-develop.instances.magento-community.engineering/admin_eddf)
Login: `915d91dc` Password: `c72f060cd535`
Instance will be terminated in up to 3 hours.

[2020-08-18 12:14] Hexmage commented on #29631
Still an issue in 2.4

[2020-08-18 12:14] magento-engcom-team commented on #29606
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36821` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-18 12:18] mayankzalavadia commented on #27867
It's just because of the composer's old version.

You need to install the new version: Composer version 1.10.10

First check your composer version if it's 1.10.10 then run `composer self-update` Command it'll solve your issue. If it's older version the follow below steps:
[code]

Now if your composer's version is 1.10.10 then run `composer self-update` and after that run `composer update`

**That'

[2020-08-18 12:26] Eddcapone commented on #2619
@hostep, Thank you for the info. Do you know why they removed the feature from M2? How are we officialy supposed to auto generate URL Rewrites now without using a 3rd party extension? I thought M2 is supposed to be better than M1.

I tried https://github.com/olegkoval/magento2-regenerate_url_rewrites but it does not generate category urls. I will try the others though. Thanks!

[2020-08-18 12:32] Eddcapone commented on #29570
I made a color change in a less file of my theme and then executed `php bin/magento setup:static-content:deploy && php bin/magento cache:flush` but the change was not visible after it.

I always have to call the whole set of commands to make it work:

 `php bin/magento maintenance:enable && php bin/magento setup:upgrade && php bin/magento setup:di:compile && php bin/magento setup:static-content:de

[2020-08-18 12:41] hostep commented on #2619
It's bad for SEO if you regenerate a bunch of url rewrites without then also generating 301 redirects from the old to the new url. I think that was the main thought when they rebuild the system for M2. But never saw such an official statement being made, this is only guessing here.

I do agree that it's a feature missing in M2 in certain cases, for example when you aren't in production yet and are

[2020-08-18 12:42] magento-engcom-team commented on #28462
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36822` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-18 12:47] hostep commented on #29570
That's because you start from dirty directories, Magento uses previously generated files in their SCD procedures and doesn't always overwrite them. If you start from a clean environment (like we always do with every single new deploy to production) it should work.

In your case, please try removing these files before running `setup:static-content:deploy`:
- `rm -R var/view_preprocessed/*`
- `rm -R

[2020-08-18 12:53] engcom-Oscar commented on #29383
Hi @joemstar

Thank you for your report and collaboration!

I closing this issue, because I was unable to reproduce it using provided Steps to Reproduce from the Description section on clean 2.4-develop and 2.3.5-p2 version of Magento. Perhaps the issue has been already fixed in the scope of other tasks.

But if you still run into this problem please update or provide additional information/steps/

[2020-08-18 12:53] #29383 closed, assigned to engcom-Oscar

[2020-08-18 13:01] SolsWebdesign commented on #26515
This also happened in a custom module: it happens when one of the columns contains a "null" value (the column does not have to be filterable for this to happen!). And when it happens, you get an entry in the 'ui_bookmark' table that contains the user_id of the user that tried to filter and a namespace of the module and a config containing something like "this_is_a_column":{"visible":true,"sorting"

[2020-08-18 13:16] Eddcapone commented on #29570
I see thank you. I just tried `php bin/magento maintenance:enable && grunt clean && php bin/magento setup:static-content:deploy de_DE && php bin/magento maintenance:disable` instead.

That worked.

[2020-08-18 13:23] magento-engcom-team commented on #28618
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36829` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-18 13:27] lano-vargas opened #29635 "GraphQl Get Product Filter By Category display incorrect label"
### Preconditions (*)

1.  Magento2.3.5 instance
### Steps to reproduce (*)

2. Set up multistore view at most 2 or 3 store views
3. Add options for Color at red, green etc.
4. Add labels for all store views.
5. Have at least 2 or 3 products  and add option Color attribute.
6. Query getProductFiltersByCategory
[code]

### Expected result (*)

1. [Screenshots, logs or description]
2. I expected to

[2020-08-18 13:50] magento-engcom-team commented on #29547
@engcom-Oscar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-08-18 13:52] magento-engcom-team commented on #29547
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36830` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-08-18 14:09] ihor-sviziev commented on #27540
Hi @kamzata,
Seems like this issue duplicates https://github.com/magento/magento2/issues/23755 and it was already resolved in 2.4-develop branch in https://github.com/magento/magento2/pull/26548.

Could you confirm that?

[2020-08-18 14:11] lano-vargas commented on #29635
@magento I am working on this

[2020-08-18 14:12] lano-vargas commented on #29635
@magento add to contributors team

[2020-08-18 14:13] lano-vargas commented on #29635
@magento I am working on this

[2020-08-18 14:56] rhoerr commented on #28860
I investigated this error for a customer.

Debugging, ​the problem is `vendor/magento/module-configurable-product-graph-ql/Model/Resolver/ConfigurableCartItemOptions.php:61` expects an `$option['option_value']` to ​contain the custom option value ID, but no such value exists. `$option` is generated at `vendor/magento/module-catalog/Helper/Product/Configuration.php:113`, but `$itemOption->getValue(

[2020-08-18 15:21] noshok opened #29638 "MySql Searching for exact matches - Not Working"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-08-18 15:34] m2-assistant[bot] opened #29640 "[Issue] Reuse password reset tokens until they expire"
This issue is automatically created based on existing pull request: magento/magento2#25280: Reuse password reset tokens until they expire

---------

### Description (*)

This avoids a race condition where email delivery is slow and user generates
new token before original (now invalid) token is received.

Consider the following scenario:
1. User requests token (1)
1. User waits, but does not yet

[2020-08-18 15:41] Usik2203 commented on #29168
@magento I am working on this

[2020-08-18 15:46] santosh-ks153 opened #29641 "Campare list page broken in magento 2.3.5"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-08-18 15:58] m2-assistant[bot] opened #29642 "[Issue] Fix BadMethodCallException when some modules are disabled"
This issue is automatically created based on existing pull request: magento/magento2#25508: Fix BadMethodCallException when some modules are disabled

---------
When the "magento/module-amqp" and "magento/module-bundle-graph-ql" modules are disabled a request to /rest/default/V1/guest-carts/XXXXXXXXX/estimate-shipping-methods fails with the following error.
`Exception #0 (BadMethodCallException):

[2020-08-18 16:03] hostep commented on #29628
@Eddcapone: quick fix - execute `bin/magento setup:static-content:deploy --theme=company_fresh`

I'd strongly recommend you to read the help so you are aware of all possible options of that command: `bin/magento setup:static-content:deploy --help`

[2020-08-18 16:04] m2-assistant[bot] opened #29643 "[Issue] Corrected scope of _construct to protected"
This issue is automatically created based on existing pull request: magento/magento2#25537: Corrected scope of _construct to protected

---------
### Description

Corrects the scope of _construct() method in `Magento\Cron\Model\ResourceModel\Schedule.php`.

### Fixed Issues (if relevant)

None.

### Manual testing scenarios (*)

No tests performed. However I did perform a scan of the code base to

[2020-08-18 16:05] joemstar commented on #29383
I have been unable to resolve this issue. I still cannot open the image uploader. What additional information can I provide to help get a resolution to this?

[2020-08-18 16:06] hostep commented on #29629
I've already tried to explain that Magento2 no longer regenerates url rewrites using an indexer in https://github.com/magento/magento2/issues/2619#issuecomment-675430116

But I'd love to hear an official response from Adobe/Magento around this, maybe it makes sense to have this feature available for shops not yet in live?

[2020-08-18 16:07] m2-assistant[bot] opened #29644 "[Issue] Change selected identifier"
This issue is automatically created based on existing pull request: magento/magento2#25627: Change selected identifier

---------

### Description (*)

magento can translate contents only when adding new blocks, assigned to different stores with the same identifier. when adding a cms block e.g. within a cms page a cms block widget can add the relation as {{widget .... }}. the id is chosen for the

[2020-08-18 16:10] m2-assistant[bot] opened #29645 "[Issue] Add null return hint to RouterInterface docblock"
This issue is automatically created based on existing pull request: magento/magento2#25651: Add null return hint to RouterInterface docblock

---------
### Description (*)
In the wild, returns null in almost all implementations:
- https://github.com/magento/magento2/blob/c0ab1d9c7a3ee84b1c880ee3fb2d16793a7edb9d/lib/internal/Magento/Framework/App/Router/Base.php#L274
- https://github.com/magento/ma

[2020-08-18 16:12] hostep commented on #29625
This is expected behavior I believe, searching in admin grids is supposed to work "fuzzy". Let's imagine you type `test` in the "request path" column, would you expect to only get one exact match? Or the two matches which are shown in your screenshot? In my opinion it should the second, it's much more user friendly.

The question then becomes: should filtering on an ID column differ and only retur

[2020-08-18 16:14] hostep commented on #29641
It's hard to determine based on the very little information in this ticket, but it's probably a duplicate of https://github.com/magento/magento2/issues/27920 which got fixed in https://github.com/magento/magento2/pull/27926

[2020-08-18 16:30] #29078 closed, assigned to nobody

[2020-08-18 16:43] m2-assistant[bot] opened #29646 "[Issue] Fix the getOptionText() fallback. It can return the wrong option (an array, breaking contract) if $value does not exist and is an integer < count($options)"
This issue is automatically created based on existing pull request: magento/magento2#25235: Fix the getOptionText() fallback. It can return the wrong option (an array, breaking contract) if $value does not exist and is an integer < count($options)

---------
Fix the getOptionText() fallback. It can return the wrong option (an array, breaking contract) if $value does not exist and is an integer < c

[2020-08-18 16:49] m2-assistant[bot] opened #29647 "[Issue] Extend password reset token validity on password change page load"
This issue is automatically created based on existing pull request: magento/magento2#25279: Extend password reset token validity on password change page load

---------

### Description (*)

This avoids a race condition where the password reset token is valid at page load time, but no longer valid at page submission time.

In a scenario where a user begins the password reset flow but is unable to

[2020-08-18 16:52] m2-assistant[bot] opened #29648 "[Issue] [MFTF] Added some ActionGroups to Analytics module"
This issue is automatically created based on existing pull request: magento/magento2#29634: [MFTF] Added some ActionGroups to Analytics module

---------
This PR adds `AdminConfigGeneralAnalyticsPageOpenActionGroup` and `AssertAdminAdvancedReportingPageUrlActionGroup`  ActionGroups to Analytics module

[2020-08-18 16:52] m2-assistant[bot] opened #29649 "[Issue] [MFTF] Add new AdminOrderClickSubmitOrderActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29630: [MFTF] Add new AdminOrderClickSubmitOrderActionGroup

---------
This PR adds new  `AdminOrderClickSubmitOrderActionGroup`

[2020-08-18 16:54] m2-assistant[bot] opened #29650 "[Issue] Fixed MFTF tests naming convention"
This issue is automatically created based on existing pull request: magento/magento2#29578: Fixed MFTF tests naming convention

---------

### Description (*)

This PR will fix the MFTF naming convention for login as customer functionality
### Related Pull Requests

https://github.com/magento/magento2/pull/29415

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of it

[2020-08-18 17:04] m2-assistant[bot] opened #29651 "[Issue] Fixed issue where removing breadcrumbs removes the page title"
This issue is automatically created based on existing pull request: magento/magento2#29437: Fixed issue where removing breadcrumbs removes the page title

---------

### Description (*)
There was an issue in the [2.1 branch](https://github.com/magento/magento2/issues/4427) where if you removed the breadcrumbs via XML:
`<referenceBlock name="breadcrumbs" remove="true" />`, the page title would also

[2020-08-18 17:05] m2-assistant[bot] opened #29652 "[Issue] [BUG] Admin order create validate vat confirm box"
This issue is automatically created based on existing pull request: magento/magento2#29466: [BUG] Admin order create validate vat confirm box

---------
Was broken with commit https://github.com/magento/magento2/commit/faa5f9a572ac1ea44750936bd9dc51c20513269d#diff-47459785dc7008bc9145a9609c9c7f6c and never fixed.

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. F

[2020-08-18 17:05] m2-assistant[bot] opened #29653 "[Issue] Refactor not needed before and around plugins"
This issue is automatically created based on existing pull request: magento/magento2#29518: Refactor not needed before and around plugins

---------
### Preconditions (*)
Refactored some parts that using both before and after plugins for save method, also one that uses around.

It's possible to do because of replacing `!$object->getId()` to `$object->isObjectNew()` which is true even after saving

[2020-08-18 17:12] m2-assistant[bot] opened #29654 "[Issue] Use Object Cache for Category Links to avoid redundant calls"
This issue is automatically created based on existing pull request: magento/magento2#29565: Use Object Cache for Category Links to avoid redundant calls

---------
### Description (*)
Having **52** products in cart, I get 156 requests to the database:
![image](https://user-images.githubusercontent.com/1639941/90322159-f7715980-df50-11ea-9484-de7dee34d3f4.png)
This PR goal is to reduce this to **52

[2020-08-18 17:19] m2-assistant[bot] opened #29655 "[Issue] [BUGFIX] Also set the Quantity for the product for correct tier pricing"
This issue is automatically created based on existing pull request: magento/magento2#28893: [BUGFIX] Also set the Quantity for the product for correct tier pricing

---------

### Description (*)

When you retrieve a cart through GraphQl after a quantity update for a product with tier pricing the single unit price is returned.

### Manual testing scenarios (*)

1. Add a product with a tier price t

[2020-08-18 17:25] m2-assistant[bot] opened #29656 "[Issue] AppState emulateAreaCode was not respected by file collector"
This issue is automatically created based on existing pull request: magento/magento2#28917: AppState emulateAreaCode was not respected by file collector

---------
### Preconditions (*)

Magento 2.4-develop

The "hack" to emulate an area code via AppState->emulateAreaCode() is not respected by the base file collector. The consequence is that *.xml file in the emulated area is not found by the file

[2020-08-18 17:27] m2-assistant[bot] opened #29657 "[Issue] add subnet mask IP support for maintenance mode"
This issue is automatically created based on existing pull request: magento/magento2#28934: add subnet mask IP support for maintenance mode

---------

### Description

Maintenance mode should accept IP ranges instead of separate IP's so that for instance you can add the whole range of your payment service provider or CDN etc...

### Fixed Issues (if relevant)

1. PR #10570
### Manual testing scen

[2020-08-18 17:28] m2-assistant[bot] opened #29658 "[Issue] magento/magento2#: Add i18 translations to requestPasswordResetEmail and resetPassword GraphQl mutations"
This issue is automatically created based on existing pull request: magento/magento2#28950: magento/magento2#: Add i18 translations to requestPasswordResetEmail and resetPassword GraphQl mutations

---------

### Description (*)

PR adds a missed translations for `requestPasswordResetEmail` and `resetPassword` GraphQl mutations which were introduced in https://github.com/magento/magento2/pull/2787

[2020-08-18 17:48] #28451 closed, assigned to nobody

[2020-08-18 17:58] m2-assistant[bot] opened #29659 "[Issue] UPS Shipment Tracking: Show "Delivered On" only when package has actually been delivered"
This issue is automatically created based on existing pull request: magento/magento2#29080: UPS Shipment Tracking: Show "Delivered On" only when package has actually been delivered

---------

### Summary (*)

Magento 2.4-develop
The UPS Tracking API returns the activity status code "D" for delivered packages. The delivery properties of the tracking object should only be set if we see this status

[2020-08-18 18:09] sdzhepa commented on #29641
@santosh-ks153

Could you please provide detailed steps and results?
 Summary of the issue

Is it possible to reproduce on the latest `2.4-develop` code?
Is it possible to reproduce on the latest release Magento 2.3.5p2 composer code?

[2020-08-18 18:49] milan-vugrinchev commented on #12255
Nothing worked for me and I want to ask one question. Why in HELL would you use the Zend Framework 1 for anything... we're not in the Stone Age anymore...

[2020-08-18 19:20] m2-assistant[bot] opened #29660 "[Issue] 503 error on store front catalog pages"
This issue is automatically created based on existing pull request: magento/magento2#29146: 503 error on store front catalog pages

---------

### Description (*)

https://support.magento.com/hc/en-us/articles/360025762211-503-error-on-store-front-catalog-pages-with-Integrity-constraint-violation-in-logs
The described error even occurs in Magento 2.3.3 Open Source, so the changes of the patch shou

[2020-08-18 19:21] mrtuvn commented on #25150
seem your case is scenario A like docs https://devdocs.magento.com/guides/v2.4/extension-dev-guide/plugins.html
What wrong with order executed

[2020-08-18 19:21] m2-assistant[bot] opened #29661 "[Issue] Grammar fixes in Registry.php PHPDoc"
This issue is automatically created based on existing pull request: magento/magento2#28512: Grammar fixes in Registry.php PHPDoc

---------
### Description (*)
This pull request fixes grammar in PHPDoc for the framework/Registry.php file

### Contribution checklist (*)
 - [ ] Pull request has a meaningful description of its purpose
 - [ ] All commits are accompanied by meaningful commit messages

[2020-08-18 19:30] m2-assistant[bot] opened #29662 "[Issue] Rewrote Magento\Framework\DB\Adapter\Pdo\Mysql->isTableExists"
This issue is automatically created based on existing pull request: magento/magento2#28516: Rewrote Magento\Framework\DB\Adapter\Pdo\Mysql->isTableExists

---------
### Preconditions

Magento 2.4-develop

### Description
During heavier load on newer productive Magento2 installations (2.3 with MSI or 2.3.4+), we noticed increased execution time was spent in `SHOW TABLE STATUS` queries to MySQL. Ana

[2020-08-18 19:30] gwharton commented on #25150
Indeed, seems it was less intrusive/problematic to fix the documentation instead of the bug. 😀

[2020-08-18 19:31] #25150 closed, assigned to nobody

[2020-08-18 19:34] m2-assistant[bot] opened #29663 "[Issue] Fixed the customer rp token invalid issue."
This issue is automatically created based on existing pull request: magento/magento2#28704: Fixed the customer rp token invalid issue.

---------
Steps To reproduce :

Step 1 : Hit the api for getting the customer rp token.
Setp 2 : Use the rp token.
Step 3 : Again use that rp token for resetting password, in this case 500 server error is get instead of no such rp token.

Explanation.

When the to

[2020-08-18 19:36] m2-assistant[bot] opened #29664 "[Issue] Use MenuCategoryData to generate array in TopMenu plugin to allow extension via plugins"
This issue is automatically created based on existing pull request: magento/magento2#28715: Use MenuCategoryData to generate array in TopMenu plugin to allow extension via plugins

---------
### Description
Following [discussion on Magento Community Engineering Slack instance](https://magentocommeng.slack.com/archives/CBSL1DF8B/p1592055254155800), it has become clear that the `private` method `Mag

[2020-08-18 19:38] m2-assistant[bot] opened #29665 "[Issue] Fix page cache controller block renderer error handling"
This issue is automatically created based on existing pull request: magento/magento2#28836: Fix page cache controller block renderer error handling

---------
### Description (*)
Private content handling page cache controller has poor error handling. It does not handle invalid JSON and undefined offset errors. This may not be a problem normally as this controller has limited usage but it may gener

[2020-08-18 19:41] m2-assistant[bot] opened #29666 "[Issue] Load color picker dependencies only when it is actually used"
This issue is automatically created based on existing pull request: magento/magento2#28400: Load color picker dependencies only when it is actually used

---------

### Description (*)
This is just another performance PR, which focuses on loading only the needed dependencies. This time I am optimizing color picker component and its `spectrum` and `tinycolor` dependencies.

Loading mentioned module

[2020-08-18 19:41] m2-assistant[bot] opened #29667 "[Issue] Replacing deprecated add success method"
This issue is automatically created based on existing pull request: magento/magento2#28402: Replacing deprecated add success method

---------

### Description (*)

Replaced deprecated method "addSuccess()" with "addSuccessMessage()".

[2020-08-18 19:57] sdzhepa commented on #27628
Closed as cannot reproduce on the latest `2.4-develop`  https://github.com/magento/magento2/issues/27628#issuecomment-622027423

[2020-08-18 19:57] #27628 closed, assigned to nobody

[2020-08-18 20:02] sdzhepa commented on #26865
Closed as cannot reproduce

[2020-08-18 20:02] #26865 closed, assigned to nobody

[2020-08-18 20:10] sdzhepa commented on #26376
Hello @nbennett25

Thank you for your report and collaboration!

Unfortunately, we are closing this Issue report because we are not able to process contribution to the `2.3.x` release line through this public repository. See details [Code Contributions: Accepted pull requests and ported code](https://devdocs.magento.com/contributor-guide/contributing.html#rules)

And starting from `2.4.0` release,

[2020-08-18 20:10] #26376 closed, assigned to dharmendra-wagento

[2020-08-18 20:36] seansan opened #29668 "Add timestamp to cron logging"
Read here

https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-cron.html

Cron log from these commands looks like

OUTPUT

OUTPUT

But there is no date time stamp in for example /var/log/cron.log

### Description (*)
Can add dt to echo output from ProcessCronQueueObserver
Or change the cron config to something like `php bin/magento cron:run 2>&1 | sed -e "s/^/$(date -R)

[2020-08-18 20:49] bluedarter2 commented on #29357
@rafaelstz Thanks for the clarification.  This is an upgrade breakage that should have been noted as such in the 2.4.0 release notes.  Then the document should be updated to provide a new, correct, example of how to customize the Contact Us content if one doesn't have the sample data.

[2020-08-18 21:09] sdzhepa commented on #25752
Closed due to https://github.com/magento/magento2/issues/25752#issuecomment-561092265 https://github.com/magento/magento2/issues/25752#issuecomment-561576861

[2020-08-18 21:09] #25752 closed, assigned to nobody

[2020-08-18 21:15] #25468 closed, assigned to milindsingh

[2020-08-18 21:33] sdzhepa commented on #25344
Hello @sudheers-kensium

Could you please provide more information on why you consider it as bug or incorrect behavior that should be changed?
Probably you have links to official documentation where described expected result? Or you have examples when the current result block other functional user flows?

[2020-08-18 21:36] sdzhepa commented on #25186
Closed as already fixed in `2.4-develop`

[2020-08-18 21:36] #25186 closed, assigned to nobody

[2020-08-18 21:54] sdzhepa commented on #25086
I am not able to reproduce this issue on the latest `2.4-develop` possibly it was already fixed.

[2020-08-18 21:54] #25086 closed, assigned to nobody

[2020-08-18 22:15] sdzhepa commented on #24952
Hello @med-amin

Could you please provide more detailed steps on how you create these attributes in the Magento Admin panel?
Without clear steps, it is not to process this issue and define is it bug or wrong steps or expectations.

[2020-08-19 06:13] j-lloyd-slc commented on #22094
In a case that I had to deal with, the problem was that the `cataloginventory_stock` table was empty (even though everything looked fine from the admin under Stores > Inventory).

I was able to resolve the problem by viewing another database and copying the single row, via `INSERT INTO cataloginventory_stock values(1, 0, 'Default');`

Magento version 2.3.5-p1,

[2020-08-19 06:42] t-eichmann commented on #25209
Can confirm that this still happens with 2.4.

[2020-08-19 06:47] t-eichmann commented on #25743
This issue is not solved, it still happens in 2.4.

[2020-08-19 06:49] DavidEu000 commented on #28207
There is a setting in backend: System - Configuration - Catalog - Inventory - Stock Option - Display Products Availability in Stock on Storefront. The default value is No and it will exclude out of stock products via product repository.

For using API, it is better to create a plugin to remove this limitation instead of changing the above setting!

[2020-08-19 07:06] engcom-Hotel commented on #26203
Hello @monotheist.
I haven't able to reproduce the issue. In my case (nginx version: nginx/1.18.0), it is possible to access static files only from the pub folder but not from the root of the project.
Described behaviour depends on your Nginx configuration and it is not related to Magento.
Please check [documentation](https://devdocs.magento.com/guides/v2.4/install-gde/tutorials/change-docroot-to-

[2020-08-19 07:23] magento-engcom-team commented on #26203
@m2-backlog[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-08-19 08:06] Eddcapone commented on #29625
@hostep Yes. It makes sense for the *request path*  column, but not for the ID column

[2020-08-19 09:18] m2-assistant[bot] opened #29672 "[Issue] Minor refactoring to AccessChangeQuoteControl and it's Unit Tests"
This issue is automatically created based on existing pull request: magento/magento2#29670: Minor refactoring to AccessChangeQuoteControl and it's Unit Tests

---------
### Description (*)
Improve the Unit Tests, adjust the plugin.
Introduced `: void` to return type of plugin, that does not require from us to make extra assertions in Unit Tests to the return type.

### Related Pull Requests

### F

[2020-08-19 09:19] m2-assistant[bot] opened #29673 "[Issue] ChangeQuoteControl minor refactor"
This issue is automatically created based on existing pull request: magento/magento2#29669: ChangeQuoteControl minor refactor

---------
### Description (*)
Just a minor refactor to improve readability and Coding Standard
Unit Tests were ✔️ . I just removed redundant annotations (method names are perfectly descriptive) and replaced deprecated ObjectManager with `new` syntax.

### Related Pull Requ

[2020-08-19 10:25] dmytro-ch commented on #25150
It's really disappointing. The dev certification questions are still based on the previous "original" version of the scenario. While the official documentation does not reflect it anymore.
Updating the documentation instead of fixing the root of the issue is not the best approach.

[2020-08-19 10:41] magento-engcom-team commented on #1449
Hi @markoshust. Thank you for your report.
The issue has been fixed in magento/magento2#29576 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [a74d422b30b2142d4b2195aa86d58acf0c506bfe](https://github.com/magento/magento2/commit/a74d422b30b2142d4b2195aa86d58acf0c506bfe)
 - [9b8c81c657102c5b7e2fee8fc91ae926c82e2c67](https://github.com/magento/magento2/commit/9b8c81c657102c5b7e2fee8fc91ae926c

[2020-08-19 10:41] magento-engcom-team commented on #1694
Hi @Zaylril. Thank you for your report.
The issue has been fixed in magento/magento2#29429 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [4ebe9d6397312bda6da09654c5fac51391844757](https://github.com/magento/magento2/commit/4ebe9d6397312bda6da09654c5fac51391844757)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-19 10:41] magento-engcom-team commented on #1755
Hi @LifeAsBook. Thank you for your report.
The issue has been fixed in magento/magento2#29429 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [4ebe9d6397312bda6da09654c5fac51391844757](https://github.com/magento/magento2/commit/4ebe9d6397312bda6da09654c5fac51391844757)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-19 10:41] magento-engcom-team commented on #1703
Hi @LifeAsBook. Thank you for your report.
The issue has been fixed in magento/magento2#29400 by @yolouiese in 2.4-develop branch
Related commit(s):
 - [b2b45e679b94cdf526f8a74834246e73c5de185e](https://github.com/magento/magento2/commit/b2b45e679b94cdf526f8a74834246e73c5de185e)
 - [c716884e24b80b8fc48688f5eded7c1910b1835d](https://github.com/magento/magento2/commit/c716884e24b80b8fc48688f5eded7c1

[2020-08-19 10:41] magento-engcom-team commented on #1738
Hi @LifeAsBook. Thank you for your report.
The issue has been fixed in magento/magento2#29433 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [36335422453af4abf58859acba7224cabe0f5e43](https://github.com/magento/magento2/commit/36335422453af4abf58859acba7224cabe0f5e43)
 - [651bd690cb0687565cc2a1e99a57d99be5e8f14c](https://github.com/magento/magento2/commit/651bd690cb0687565cc2a1e99a

[2020-08-19 10:41] magento-engcom-team commented on #29498
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29458 by @bricht in 2.4-develop branch
Related commit(s):
 - [9cf55e57f115486d44f448976ffabd8ee10cce5a](https://github.com/magento/magento2/commit/9cf55e57f115486d44f448976ffabd8ee10cce5a)
 - [289af76d3f469af88be7734376f325c23ce6a025](https://github.com/magento/magento2/commit/289af76d3f469af88be7734376f

[2020-08-19 10:41] #29498 closed, assigned to nobody

[2020-08-19 10:41] magento-engcom-team commented on #29496
Hi @sankalpshekhar. Thank you for your report.
The issue has been fixed in magento/magento2#29511 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [23b5a2488586c0ed493a834a04669e5c410ca85a](https://github.com/magento/magento2/commit/23b5a2488586c0ed493a834a04669e5c410ca85a)
 - [3723b61e6ec9a3dea7265f8cafae692d60bd2b69](https://github.com/magento/magento2/commit/3723b61e6ec9a3dea7265f

[2020-08-19 10:41] #29496 closed, assigned to konarshankar07

[2020-08-19 10:41] magento-engcom-team commented on #29525
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29483 by @rafal-kos in 2.4-develop branch
Related commit(s):
 - [8b8e496fa243b7fc3f92906cbbfbc1505298adf0](https://github.com/magento/magento2/commit/8b8e496fa243b7fc3f92906cbbfbc1505298adf0)

The fix will be available with the upcoming 2.4.1 release.

[2020-08-19 10:41] #29525 closed, assigned to nobody