[2019-02-10 07:26] sshymko commented on #21106
@magento-engcom-team yes

[2019-02-10 07:50] sshymko commented on #21106
@kandy
This is the issue with the performance toolkit I've been facing.
Any idea what could be wrong?

[2019-02-10 10:53] Accurno opened #21107 "CSS and JS gets deleted inside vendor or app folder when enabling production mode"
### Preconditions (*)

1. Magento 2.2.3

### Steps to reproduce (*)

1. Magento must be in developer mode
2. When enabling production mode, sometimes an error will appear saying that some CSS and JS folder in the pub/static folder cannot be deleted because it's not a directory

### Expected result (*)

1. Just set the Magento store to production mode without an issue

### Actual result (*)

1. Whe

[2019-02-10 10:53] magento-engcom-team commented on #21107
Hi @Accurno. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-10 13:43] babybeddingdesign opened #21108 "Magento 2.3.0 product image cache resizing images to look very bad"
i have uplpud images to magento 2.3 and when i look on prodact page i can see it been resizing to different size with white lines. look : original images that been upload: https://babybeddingdesign.r.worldssl.net/pub/media/catalog/product/d/u/dumbo_bedding_set.jpg the one seen on my site: https://babybeddingdesign.r.worldssl.net/pub/media/catalog/product/cache/9d08971813a040f8f96067a40f75c615/d/u/

[2019-02-10 13:43] magento-engcom-team commented on #21108
Hi @babybeddingdesign. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-02-10 17:18] pbmage commented on #21103
![52536750 94639d00 2d84 11e9 8a07 685e51f4757f png png image 1366 x 768 pixels scaled 85](https://user-images.githubusercontent.com/28181522/52536841-882c0f80-2d85-11e9-87a5-3aece61110b6.png)

Please see more details...! I can not overwrite this code using Plugin or Preference...! I tried both way but no luck. So i can not make my extension compatible with Magento 2.3 version. Can you please do n

[2019-02-10 17:20] Schrank commented on #21099
https://blog.fabian-blechschmidt.de/adding-viewmodels-to-widgets/

[2019-02-10 17:20] #21099 closed, assigned to nobody

[2019-02-10 17:22] marcusirgens opened #21109 "Area code not set inside emulateAreaCode when using OrderRepository in CLI"
### Preconditions (*)

1. Magento 2.3.0 with sample data

### Steps to reproduce (*)

1. Create a console command that fetches an Order by ID inside an emulated area using State::emulateAreaCode

### Expected result (*)

1. The OrderRepository should fetch the provided Order or throw a NoSuchEntityException

### Actual result (*)

1. A LocalizedException is thrown with an "Area code is not set" me

[2019-02-10 17:22] magento-engcom-team commented on #21109
Hi @marcusirgens. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-10 17:23] marcusirgens commented on #21109
@magento-engcom-team give me 2.3.0 instance

[2019-02-10 17:23] magento-engcom-team commented on #21109
Hi @marcusirgens. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-02-10 17:24] magento-engcom-team commented on #21109
Hi @marcusirgens, here is your [Magento instance](https://i-21109-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21109-2-3-0.instances.magento-community.engineering/admin](https://i-21109-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-10 17:57] marcusirgens commented on #21109
I didn't know I couldn't install modules on those instances-

I created a [sample module](https://github.com/marcusirgens/module-order-repository-cli-test) that reproduces this issue. Install it with
[code]

The specific code that reproduces the error (with annotations for readability):
[code]

[2019-02-10 18:00] marcusirgens commented on #21109
Aaaaand after X hours of debugging, of course this only happens using magerun2. Closing this issue.

[2019-02-10 18:00] #21109 closed, assigned to nobody

[2019-02-10 18:20] magento-engcom-team commented on #20859
Hi @saphaljha. Thank you for your report.
The issue has been fixed in magento/magento2#20861 by @abrarpathan19 in 2.3-develop branch
Related commit(s):
 - [5f258f2ca735ec951fca8945d379e6ffc063438d](https://github.com/magento/magento2/commit/5f258f2ca735ec951fca8945d379e6ffc063438d)
 - [394665fd154f83f874042c844fd4cab983b591a3](https://github.com/magento/magento2/commit/394665fd154f83f874042c844fd4

[2019-02-10 18:20] #20859 closed, assigned to abrarpathan19

[2019-02-10 18:20] magento-engcom-team commented on #19705
Hi @mfickers. Thank you for your report.
The issue has been fixed in magento/magento2#20109 by @mfickers in 2.3-develop branch
Related commit(s):
 - [dbf5c4577c6559edd7cfb28ba0d384050be7ddf5](https://github.com/magento/magento2/commit/dbf5c4577c6559edd7cfb28ba0d384050be7ddf5)
 - [a185ca1566097bdbec94bc3fbd356f976081baba](https://github.com/magento/magento2/commit/a185ca1566097bdbec94bc3fbd356f9760

[2019-02-10 18:20] #19705 closed, assigned to nobody

[2019-02-10 18:20] magento-engcom-team commented on #20382
Hi @irajneeshgupta. Thank you for your report.
The issue has been fixed in magento/magento2#20383 by @irajneeshgupta in 2.3-develop branch
Related commit(s):
 - [5aa0cd069e82ae106d7d9eb6c37d38776a2ba762](https://github.com/magento/magento2/commit/5aa0cd069e82ae106d7d9eb6c37d38776a2ba762)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-10 18:20] #20382 closed, assigned to cedarvinda

[2019-02-10 18:20] magento-engcom-team commented on #13675
Hi @pradeeprcs. Thank you for your report.
The issue has been fixed in magento/magento2#20565 by @XxXgeoXxX in 2.3-develop branch
Related commit(s):
 - [f3d410b0c23a868c319a9aa0c8a6d3eb3090c673](https://github.com/magento/magento2/commit/f3d410b0c23a868c319a9aa0c8a6d3eb3090c673)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-10 18:20] #13675 closed, assigned to willtran, zolat, XxXgeoXxX

[2019-02-10 18:20] magento-engcom-team commented on #20802
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#20803 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [124a42fbb26a2e59f66611afd8f7be92df0f6bd2](https://github.com/magento/magento2/commit/124a42fbb26a2e59f66611afd8f7be92df0f6bd2)
 - [beffcf16eb32b6e399126de612fdb932a4f9d5a9](https://github.com/magento/magento2/commit/beffcf16eb32b6e399126de612fdb932a4

[2019-02-10 18:20] #20802 closed, assigned to GovindaSharma

[2019-02-10 18:20] magento-engcom-team commented on #20786
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#20787 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [0614a9a86ff4fa5bab61bb80198f1ffe06b63c3a](https://github.com/magento/magento2/commit/0614a9a86ff4fa5bab61bb80198f1ffe06b63c3a)
 - [24221c946d6f387829a1e44e0dbd5c20c3126b45](https://github.com/magento/magento2/commit/24221c946d6f387829a1e44e0dbd5c20c3

[2019-02-10 18:20] #20786 closed, assigned to surabhisrivastava09

[2019-02-10 18:20] magento-engcom-team commented on #19714
Hi @sreichel. Thank you for your report.
The issue has been fixed in magento/magento2#19798 by @janakbhimani in 2.3-develop branch
Related commit(s):
 - [927ca80fca4c1ec298df925c137dba7d1d799808](https://github.com/magento/magento2/commit/927ca80fca4c1ec298df925c137dba7d1d799808)
 - [b36dc042a8ac9c414c65dffa7538ea1af1fc412f](https://github.com/magento/magento2/commit/b36dc042a8ac9c414c65dffa7538ea

[2019-02-10 18:20] #19714 closed, assigned to janakbhimani

[2019-02-10 18:20] magento-engcom-team commented on #1537
Hi @Hiteshbb. Thank you for your report.
The issue has been fixed in magento/magento2#17424 by @phoenix128 in 2.3-develop branch
Related commit(s):
 - [f281a053938504331a277e83a7a1152dc5143636](https://github.com/magento/magento2/commit/f281a053938504331a277e83a7a1152dc5143636)
 - [a0379a4bb36486ac26aaabaff969923b01a665f0](https://github.com/magento/magento2/commit/a0379a4bb36486ac26aaabaff969923b

[2019-02-10 18:20] magento-engcom-team commented on #20157
Hi @ajay2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20159 by @GovindaSharma in 2.3-develop branch
Related commit(s):
 - [47f51327fef62a4177e4e344cf3292e6c4ed97dc](https://github.com/magento/magento2/commit/47f51327fef62a4177e4e344cf3292e6c4ed97dc)
 - [81cd0d41781c117f07e4ba87b8e3ab3d5afea430](https://github.com/magento/magento2/commit/81cd0d41781c117f07e4ba8

[2019-02-10 18:20] #20157 closed, assigned to priti2jcommerce, GovindaSharma

[2019-02-10 18:20] magento-engcom-team commented on #18953
Hi @pmclain. Thank you for your report.
The issue has been fixed in magento/magento2#18978 by @pmclain in 2.3-develop branch
Related commit(s):
 - [789bc9ad6e42fda07f7baf8c3bcd86c4b6d278ae](https://github.com/magento/magento2/commit/789bc9ad6e42fda07f7baf8c3bcd86c4b6d278ae)
 - [5d2c8c93f31c881283aafad04ad3e7e680ad699b](https://github.com/magento/magento2/commit/5d2c8c93f31c881283aafad04ad3e7e680ad

[2019-02-10 18:20] #18953 closed, assigned to pmclain

[2019-02-10 20:44] a7medeeuae opened #21111 "Failed to set ini option session.use_only_cookies"
Hi

Everyone after I install magento 2.3 on my godady hosting
Showing me this error

There has been an error processing your request
Failed to set ini option session.use_only_cookies to value 1.
Error log record number: 1154399512761

`{"0":"Failed to set ini option session.use_only_cookies to value 1. ","1":"#0 \/home\/a7med\/public_html\/m2\/vendor\/magento\/framework\/Session\/SessionManager.ph

[2019-02-10 20:45] magento-engcom-team commented on #21111
Hi @a7medeeuae. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-10 21:17] daliaAbughoush opened #21112 "Terms & Conditions"
### Preconditions (*)

1. Terms & Conditions not showing at all

[2019-02-10 21:17] magento-engcom-team commented on #21112
Hi @daliaAbughoush. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-10 22:30] magento-engcom-team commented on #20790
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#20791 by @abrarpathan19 in 2.3-develop branch
Related commit(s):
 - [5f258f2ca735ec951fca8945d379e6ffc063438d](https://github.com/magento/magento2/commit/5f258f2ca735ec951fca8945d379e6ffc063438d)
 - [f4e9176a17f5a9bd3efd2bba08e2840bafeffe37](https://github.com/magento/magento2/commit/f4e9176a17f5a9bd3efd2bba

[2019-02-10 22:30] #20790 closed, assigned to abrarpathan19

[2019-02-10 22:30] magento-engcom-team commented on #20492
Hi @dipti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20493 by @dipti2jcommerce in 2.3-develop branch
Related commit(s):
 - [00e1069dbf70d98873281871776c76e4abf341e2](https://github.com/magento/magento2/commit/00e1069dbf70d98873281871776c76e4abf341e2)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-10 22:30] #20492 closed, assigned to nainesh2jcommerce, amol2jcommerce, parag2jcommerce

[2019-02-10 22:30] magento-engcom-team commented on #9988
Hi @harimayco. Thank you for your report.
The issue has been fixed in magento/magento2#20727 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [cb681ab9f7f44457b420d7ae86cf7b324b7b8c94](https://github.com/magento/magento2/commit/cb681ab9f7f44457b420d7ae86cf7b324b7b8c94)
 - [7539e8e6829197467b59e417e317d38ea39a005b](https://github.com/magento/magento2/commit/7539e8e6829197467b59e417e317d38ea3

[2019-02-10 22:30] #9988 closed, assigned to nobody

[2019-02-10 22:30] magento-engcom-team commented on #20689
Hi @arijit-codilar. Thank you for your report.
The issue has been fixed in magento/magento2#20727 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [cb681ab9f7f44457b420d7ae86cf7b324b7b8c94](https://github.com/magento/magento2/commit/cb681ab9f7f44457b420d7ae86cf7b324b7b8c94)
 - [7539e8e6829197467b59e417e317d38ea39a005b](https://github.com/magento/magento2/commit/7539e8e6829197467b59e417e317d

[2019-02-10 22:30] magento-engcom-team commented on #20716
Hi @Nazar65. Thank you for your report.
The issue has been fixed in magento/magento2#20727 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [cb681ab9f7f44457b420d7ae86cf7b324b7b8c94](https://github.com/magento/magento2/commit/cb681ab9f7f44457b420d7ae86cf7b324b7b8c94)
 - [7539e8e6829197467b59e417e317d38ea39a005b](https://github.com/magento/magento2/commit/7539e8e6829197467b59e417e317d38ea39a

[2019-02-10 22:30] #20716 closed, assigned to Nazar65, GovindaSharma

[2019-02-10 22:30] magento-engcom-team commented on #20755
Hi @priti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20756 by @ranee2jcommerce in 2.3-develop branch
Related commit(s):
 - [85a5e4dcc487bbfc87ec0ff049da3254005c6dd4](https://github.com/magento/magento2/commit/85a5e4dcc487bbfc87ec0ff049da3254005c6dd4)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-10 22:30] magento-engcom-team commented on #19269
Hi @kevingimbel. Thank you for your report.
The issue has been fixed in magento/magento2#19270 by @ErikPel in 2.3-develop branch
Related commit(s):
 - [42308ca83f7cf4f13ee762ff225b7f51d6cbbb4c](https://github.com/magento/magento2/commit/42308ca83f7cf4f13ee762ff225b7f51d6cbbb4c)
 - [2d20343ce4b9b9cfae9be8ad76b19c91a72d9a3a](https://github.com/magento/magento2/commit/2d20343ce4b9b9cfae9be8ad76b19c91

[2019-02-10 22:30] #20755 closed, assigned to priti2jcommerce, GovindaSharma

[2019-02-10 22:30] #19269 closed, assigned to nobody

[2019-02-10 22:30] magento-engcom-team commented on #20609
Hi @dipti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20610 by @dipti2jcommerce in 2.3-develop branch
Related commit(s):
 - [8c4dc05e1a2595a3c9a56831d8967514fd94adb0](https://github.com/magento/magento2/commit/8c4dc05e1a2595a3c9a56831d8967514fd94adb0)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-10 22:30] magento-engcom-team commented on #20402
Hi @amol2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20403 by @amol2jcommerce in 2.3-develop branch
Related commit(s):
 - [9ce78e09a22c8b8b12f501ab1842a6038b384158](https://github.com/magento/magento2/commit/9ce78e09a22c8b8b12f501ab1842a6038b384158)
 - [48917fc59ac4fee46ca7bb179d31fe5a6939254a](https://github.com/magento/magento2/commit/48917fc59ac4fee46ca7bb

[2019-02-10 22:30] magento-engcom-team commented on #20134
Hi @nainesh2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20138 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [b46a3078628a1be026894f690b4f3ce6784d3d41](https://github.com/magento/magento2/commit/b46a3078628a1be026894f690b4f3ce6784d3d41)
 - [fb38437acdf3d33e197ba7459fe6c556bbc5089a](https://github.com/magento/magento2/commit/fb38437acdf3d33e197ba7

[2019-02-10 22:30] #20402 closed, assigned to amol2jcommerce, surabhisrivastava09

[2019-02-10 22:30] #20134 closed, assigned to nainesh2jcommerce

[2019-02-10 22:30] magento-engcom-team commented on #19442
Hi @ryanreeves-taxjar. Thank you for your report.
The issue has been fixed in magento/magento2#19845 by @SikailoISM in 2.3-develop branch
Related commit(s):
 - [3ad96a1d8bcf870600abf8751147676b1e709772](https://github.com/magento/magento2/commit/3ad96a1d8bcf870600abf8751147676b1e709772)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-10 22:30] #19442 closed, assigned to nobody

[2019-02-10 22:37] okorshenko commented on #20933
@magento-engcom-team give me 2.3-develop instance

[2019-02-10 22:37] magento-engcom-team commented on #20933
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-10 22:38] magento-engcom-team commented on #20933
Hi @okorshenko, here is your [Magento instance](https://i-20933-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20933-2-3-develop.instances.magento-community.engineering/admin](https://i-20933-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-10 23:43] jtomka commented on #17910
#mlau

[2019-02-10 23:44] magento-engcom-team commented on #17910
@jtomka thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-10 23:44] magento-engcom-team commented on #17910
Hi @jtomka. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Detai

[2019-02-11 00:40] magento-engcom-team commented on #5730
Hi @yuchenacidgreen. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-02-11 00:43] yuchenacidgreen commented on #5730
@magento-engcom-team give me 2.3-develop instance

[2019-02-11 00:43] magento-engcom-team commented on #5730
Hi @yuchenacidgreen. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-11 00:44] magento-engcom-team commented on #5730
Hi @yuchenacidgreen, here is your [Magento instance](https://i-5730-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-5730-2-3-develop.instances.magento-community.engineering/admin](https://i-5730-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 00:46] magento-engcom-team commented on #2291
Hi @rvovnenko. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-02-11 00:47] rvovnenko commented on #2291
* @magento-engcom-team give me 2.3-develop instance

[2019-02-11 00:47] magento-engcom-team commented on #2291
Hi @rvovnenko. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-11 00:47] magento-engcom-team commented on #2291
Hi @rvovnenko, here is your [Magento instance](https://i-2291-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-2291-2-3-develop.instances.magento-community.engineering/admin](https://i-2291-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 00:58] magento-engcom-team commented on #13851
Hi @tonytrinh218. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-11 01:00] tonytrinh218 commented on #13851
@magento-engcom-team give me 2.3-develop instance

[2019-02-11 01:00] magento-engcom-team commented on #13851
Hi @tonytrinh218. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-11 01:00] magento-engcom-team commented on #13851
Hi @tonytrinh218, here is your [Magento instance](https://i-13851-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-13851-2-3-develop.instances.magento-community.engineering/admin](https://i-13851-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 01:08] jtomka commented on #17910
@magento-engcom-team give me 2.2-develop instance

[2019-02-11 01:08] magento-engcom-team commented on #17910
Hi @jtomka. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-11 01:09] magento-engcom-team commented on #17910
Hi @jtomka, here is your [Magento instance](https://i-17910-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-17910-2-2-develop.instances.magento-community.engineering/admin](https://i-17910-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 02:28] okorshenko opened #21116 "Test Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-02-11 02:28] magento-engcom-team commented on #21116
Hi @okorshenko. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-11 02:40] jtomka commented on #17910
Tested in 2.2-develop and 2.3-develop and the issue is not reproducible any more.

The 3 proposed new items - compression quality, max width, max height - are present in the backend (Stores / Configuration / System / Images Upload Configuration) and taken into account during image upload, when Enable Frontend Resize is set to Yes.

When Enable Frontend Resize is set to No, image is uploaded as is,

[2019-02-11 02:40] #17910 closed, assigned to jtomka

[2019-02-11 02:52] kkdg commented on #17388
#mlau

[2019-02-11 02:53] robolmos commented on #12124
Is there any update?

At the very least the docs should be updated to indicate this issue and a workaround if one is available, such as ignoring temporary tables.

[2019-02-11 02:54] jtomka commented on #20906
#mlau

[2019-02-11 03:57] magento-engcom-team commented on #17388
Hi @kkdg. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Details

[2019-02-11 04:05] okorshenko commented on #2291
Please use this convention: https://devdocs.magento.com/guides/v2.3/extension-dev-guide/plugins.html

[2019-02-11 04:06] bawwwa commented on #8964
Hi,

I have tried this and it seems to be working.

Magento\SalesRule\Model\Validator::processShippingAmount(Address $address)

from
`
        $shippingAmount = $address->getShippingAmountForDiscount();
        if ($shippingAmount !== null) {
            $baseShippingAmount = $address->getBaseShippingAmountForDiscount();
        } else {
            $shippingAmount = $address->getShippingInclTax()

[2019-02-11 04:51] allblued commented on #10697
magento2.3.0
same problem

[2019-02-11 04:51] jtomka commented on #20906
@magento-engcom-team give me 2.3-develop instance

[2019-02-11 04:52] magento-engcom-team commented on #20906
Hi @jtomka. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-11 04:52] magento-engcom-team commented on #20906
Hi @jtomka, here is your [Magento instance](https://i-20906-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20906-2-3-develop.instances.magento-community.engineering/admin](https://i-20906-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 05:06] magento-engcom-team commented on #20906
Hi @jtomka. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Detai

[2019-02-11 05:19] mudithae commented on #19590
For me,
Check the PHP version you are working. (For me it's 7.1 and 7.0 and 7.2 also exists in my machine).
In the debugging process, I notice that it needs the php7.1-sodium
So I installed,
` sudo apt install php7.1-sodium`

Checked,
`php -i | grep "sodium"
/etc/php/7.1/cli/conf.d/20-sodium.ini,
sodium
sodium support => enabled
sodium compiled version => 2.0.10
libsodium headers version => 1.0.16

[2019-02-11 05:56] vrutiksuthar commented on #21082
Hello @engcom-backlog-nazar ,

I have checked solution #19395 which is already there for Magento 2.2.7 still I am facing this issue.

Kindly provide a working solution OR commit reference for the same.

Thank you.

[2019-02-11 06:10] kkdg commented on #17388
@pavelshulga is correct in regards to the solution, this issue happens due to intention of core developers to disable the attribute for whatever reason I don't know, the only solution would be removing gaps between backend and frontend of product export feature by consensus of core developers. Who else now needs to be in charge of solving this? or if you want to revive the stock filter for product

[2019-02-11 06:17] arijit-codilar commented on #20689
@magento-engcom-team The issue is still not resolved. The changes that he made is already there in Magento 2.3. Please reopen the issue.

[2019-02-11 06:20] arijit-codilar commented on #20689
@Nazar65 The changes that you made are already there in Magento 2.3. With this elastic search is still not working. Please download Magento 2.3 from magento.com and verify once.

[2019-02-11 06:48] pmouawad commented on #21106
@sshymko can you attach the jmx file you use ? thanks

[2019-02-11 07:08] Fredwak commented on #19544
same issue.
same steps to reproduce...

[2019-02-11 07:24] sshymko commented on #21106
@pmouawad
This is an unmodified JMX file that comes with the performance toolkit:
https://github.com/magento/magento2/blob/2.2.7/setup/performance-toolkit/benchmark.jmx

[2019-02-11 07:27] sshymko commented on #21106
@pmouawad
I see you're part of the JMeter team :)
Please note that an old version of JMeter 3.1 is used for testing.
More up-to-date versions 4 and 5 are unfortunately not supported.
I would really appreciate any clues of what could be wrong.

[2019-02-11 07:29] pmouawad commented on #21106
Thanks, any way to provide to me an access to your instance or a docker image or any other alternative ? thanks

[2019-02-11 07:35] gelanivishal commented on #21111
Hello @a7medeeuae ,

There is look like the server is not stored session, Please follow the below steps and let me know if you still got an issue.

Find below code in php.ini file
[code]
replace with
[code]

Also edit php.env file:
[code]
replace with
[code]

[2019-02-11 07:35] magento-engcom-team commented on #21112
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-11 07:35] magento-engcom-team commented on #21111
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-11 07:35] magento-engcom-team commented on #21108
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-11 07:35] magento-engcom-team commented on #21107
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-11 07:36] magento-engcom-team commented on #21106
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-11 07:36] magento-engcom-team commented on #21082
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-11 07:39] magento-engcom-team commented on #21103
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-11 07:46] engcom-backlog-nazar commented on #21112
Hi @daliaAbughoush
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-11 07:46] #21112 closed, assigned to nobody

[2019-02-11 07:50] sshymko commented on #21106
@pmouawad
Here's a test instance for you: http://3.85.65.228/
Feel free to play with it for the next ~10 hours; it will be terminated after that.
The JMeter command provided in the ticket description has all credentials embedded.
Thank you so much for looking into this issue, it's greatly appreciated.

[2019-02-11 07:50] engcom-backlog-nazar commented on #21111
Hi @a7medeeuae
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-11 07:50] #21111 closed, assigned to nobody

[2019-02-11 07:52] engcom-backlog-nazar commented on #21108
HI @babybeddingdesign
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-11 07:52] #21108 closed, assigned to nobody

[2019-02-11 07:56] babybeddingdesign commented on #21108
you can see this is a core problem as Magento change size of the images! its not a theme problom its Magento problem that need to be fix!

[2019-02-11 07:56] engcom-backlog-nazar commented on #21103
HI @pbmage I'm not able to reproduce following steps you described,
also this is duplicate to this -> https://github.com/magento/magento2/issues/19983
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discus

[2019-02-11 07:56] #21103 closed, assigned to nobody

[2019-02-11 08:00] engcom-backlog-nazar commented on #21108
@babybeddingdesign so please provide clean steps to reproduce and more detail information.

[2019-02-11 08:05] pmouawad commented on #21106
It would be better if you let it live until 23h30 Paris Timezone, it’s 9am now. I am working for a customer, not sure I can dedicate time today before 20h30

[2019-02-11 08:08] magento-engcom-team commented on #21085
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-11 08:08] babybeddingdesign commented on #21108
Hi,
sorry i am not sure i undersntd what you mean but it very simaple.
i uploud images from admin that looks like that (1024X1024): https://babybeddingdesign.r.worldssl.net/pub/media/catalog/product/d/u/dumbo_bedding_set.jpg

very good full images.
and Magento resize it to look like that (1000X1320): https://babybeddingdesign.r.worldssl.net/pub/media/catalog/product/cache/9d08971813a040f8f96067a40

[2019-02-11 08:09] erfanimani commented on #14398
Hi @agorbulin , was there any update on this?

[2019-02-11 08:12] gelanivishal commented on #21108
Hello @babybeddingdesign
Can you please upload below image on same product?

![baby](https://user-images.githubusercontent.com/12389799/52551449-95d3aa80-2e02-11e9-8c60-690d629539a8.jpg)

Let me know.

[2019-02-11 08:20] babybeddingdesign commented on #21108
Hi,
the only image i have upload to Magento from admin to this product: https://babybeddingdesign.com/dumbo-crib-bedding-collection-crib-bedding-set
as you attach (https://babybeddingdesign.r.worldssl.net/pub/media/catalog/product/d/u/dumbo_bedding_set.jpg)
magento change it and make it look like this: https://babybeddingdesign.r.worldssl.net/pub/media/catalog/product/cache/9d08971813a040f8f96067a

[2019-02-11 08:49] magento-engcom-team commented on #21107
Hi @ravi-chandra3197. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-02-11 09:44] craigcarnell commented on #17310
@engcom-backlog-nazar I am still seeing this issue in 2.3.0. I am using it for sessions and cache, both on different ports.

This is a major issue, as it causing payments to fail in dev environment - which makes it look like a coding issue with the plugin but I believe in fact it is due to Magento not being able to read session data.

Is Magento falling back to /var/lib/php/sessions? Would that ca

[2019-02-11 10:00] erfanimani commented on #14398
Product imports should be idempotent and declarative. Importing the same CSV twice should not result in unwanted side-effect, as clearly is the case now.

I do want to add that to do this properly is quite a big job and requires Magento to keep track of file metadata such as a hash of uploaded images. Then it can compare the hash with a hash of the newly uploaded file and determine whether it shou

[2019-02-11 10:10] dni commented on #2996
yes is happening to me aswell using magento 2.3.0

[2019-02-11 10:14] chris-pook commented on #17310
@craigcarnell @werfu do you get these same symptoms in a vanilla install of the relevant versions of M2? If it is the introduction of custom code that is causing it then as per [my comment](https://github.com/magento/magento2/issues/17310#issuecomment-410672582) I think this is certainly due to the limitation on max concurrency (usually only seen in the admin with multi tabs open). You should be a

[2019-02-11 10:26] craigcarnell commented on #19597
Any updates on this issue please?

[2019-02-11 10:27] shikhamis11 commented on #20024
since this issue is fixed in 2.3-develop branch and also not reproducable at 2.2-develop I closing this

[2019-02-11 10:27] #20024 closed, assigned to dmytro-ch

[2019-02-11 10:31] SyntaxKay opened #21126 "Backend Import behavior design break"
### Preconditions (*)

1.Magento 2.3-develop

### Steps to reproduce (*)

1.Login to backend > system > import
2.select any > Entity Type and without selecting any option click on check data
### Expected result (*)

![expactedss](https://user-images.githubusercontent.com/33230237/52557599-ef91a000-2e15-11e9-9dc8-61bbb198aef5.png)

### Actual result (*)

![actualss](https://user-images.githubuserco

[2019-02-11 10:31] magento-engcom-team commented on #21126
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-11 10:31] magento-engcom-team commented on #21126
Hi @abrarpathan19. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-11 10:32] abrarpathan19 commented on #21126
@magento-engcom-team give me test instance

[2019-02-11 10:36] fetzi commented on #4247
![](https://botlab.io/wp-content/uploads/2017/07/1-BBT_ZPaQIuw5YUqiQ1FXew-1080x588.png)

[2019-02-11 10:38] magento-engcom-team commented on #21126
@abrarpathan19 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-02-11 10:46] ikk0 commented on #4247
@fetzi Please don't close this issue just because of frustration. 👎 This is a valid issue, and MUST be fixed. @magento-engcom-team *Please* take a closer look, it's a real issue that affects merchants.

[2019-02-11 10:47] abrarpathan19 commented on #21126
@magento-engcom-team
I have reproduced in local magento 2.3 instances.

![screenshot_2](https://user-images.githubusercontent.com/43603387/52558478-83fd0200-2e18-11e9-8cd1-6cd5afc912b9.jpg)

[2019-02-11 10:47] magento-engcom-team commented on #21126
:white_check_mark: Confirmed by @abrarpathan19
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-11 10:48] magento-engcom-team commented on #21126
:white_check_mark: Confirmed by @abrarpathan19
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-11 10:52] shikhamis11 commented on #21086
@nickpiro I checked even in magento1 process is same that linked products are not discounted with catalog rule so It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-11 10:52] #21086 closed, assigned to shikhamis11

[2019-02-11 10:53] dmytro-ch commented on #20497
@magento-engcom-team give me 2.2-develop instance

[2019-02-11 10:53] magento-engcom-team commented on #20497
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-11 10:53] magento-engcom-team commented on #20497
Hi @dmytro-ch, here is your [Magento instance](https://i-20497-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20497-2-2-develop.instances.magento-community.engineering/admin](https://i-20497-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 10:58] magento-engcom-team commented on #21126
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-11 11:00] abrarpathan19 commented on #21126
@magento-engcom-team give me 2.3-develop instance

[2019-02-11 11:00] magento-engcom-team commented on #21126
Hi @abrarpathan19. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-11 11:01] magento-engcom-team commented on #21126
Hi @abrarpathan19. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-11 11:01] magento-engcom-team commented on #21126
Hi @abrarpathan19, here is your [Magento instance](https://i-21126-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21126-2-3-develop.instances.magento-community.engineering/admin](https://i-21126-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 11:02] magento-engcom-team commented on #21126
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98188` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-11 11:03] abrarpathan19 commented on #21126
![screenshot_3](https://user-images.githubusercontent.com/43603387/52559248-d17a6e80-2e1a-11e9-98ba-9da14e395b0b.jpg)

[2019-02-11 11:08] Radosav commented on #16368
I have the same issue as @MaximilianSchwarz on 2.2.7
After a bit of debugging I see that in
vendor/magento/module-customer/Model/Address/AbstractAddress.php:627
`if (!in_array($countryId, $countryCollection->getAllIds(), true)) {`

the countryCollection is returning the configuration  from from store ID 1 even though the order was made on Store ID 3.

[2019-02-11 11:20] agorbulin commented on #14398
Hi @erfanimani
unfortunately, but I'm not investigation this issue.

[2019-02-11 11:29] fetzi commented on #4247
Sorry, but after almost 3 years since ticket creation, I think this step is legit. The way the magento core team handles community issues forced me to stop working with magento.

You are free to open your own issue but I have absolutely no interest in this one any more.

[2019-02-11 11:35] ikk0 commented on #4247
@shikhamis11 Please re-open, or create a new ticket, or remove fetzi from this ticket. Also, as you've assigned this to yourself, would you please talk to your point of contact with Magento so this issue is finally taken care of?

[2019-02-11 11:37] shikhamis11 commented on #4247
@fetzi yes I know It's annoying to wait so long for any issue to be fixed but still I would suggest you to let this issue remain open this will be surely taken care of.

[2019-02-11 11:37] shikhamis11 commented on #4247
@ikk0 sure

[2019-02-11 11:55] pemann commented on #14398
What if there were a selection between replacing all product images with the ones from csv, or adding new images but not deleting old ones? It could be easy as one more column to csv or one more checkbox to the import form.

[2019-02-11 12:23] erfanimani commented on #14398
@pemann I'm just thinking, there are four situations:

1. Filename changed, image changed
2. Filename changed, image is still the same
3. Filename is the same, image changed
4. Filename is the same, image is still the same

I was thinking about things like filename comparisons and hash comparisons, but I think the only option is a hash check and ignore things like filename changes because it would

[2019-02-11 12:39] abrarpathan19 opened #21132 "Magento luma theme Orders and Returns page layout design improvement"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Go to Luma theme footer links click on **"Orders and Returns"** page
2. Check the consistance layout as per the luma theme contact page create account page etc

### Expected result (*)

1. Please click to review Expected link :  http://prntscr.com/mjjeqb

### Actual result (*)

1. http://prntscr.com/mjjfhb

[2019-02-11 12:39] magento-engcom-team commented on #21132
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-11 12:40] magento-engcom-team commented on #21132
Hi @speedy008. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-02-11 12:42] speedy008 commented on #21132
@magento-engcom-team give me 2.3-develop instance

[2019-02-11 12:42] magento-engcom-team commented on #21132
Hi @speedy008. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-11 12:43] magento-engcom-team commented on #21132
Hi @speedy008, here is your [Magento instance](https://i-21132-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21132-2-3-develop.instances.magento-community.engineering/admin](https://i-21132-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 12:45] amol2jcommerce commented on #21132
Duplicate #20816

[2019-02-11 12:46] magento-engcom-team commented on #21132
@speedy008 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-02-11 12:46] wojtekn opened #21134 "Invalid argument supplied for foreach thrown in EAV code"
### Preconditions

1. Latest Magento 2.3

I spot the problem in M2 Commerce in RMA module, but as problem comes from M2 Open Source core and is clearly visible by code review, I'm adding it here.

### Steps to reproduce

1. Enable RMA feature in backend
2. Place order in frontend
3. Invoice and ship order in backend
4. Navigate to order details in My Account pages in frontend
5. Open order details

[2019-02-11 12:46] magento-engcom-team commented on #21134
Hi @wojtekn. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-11 12:48] #21132 closed, assigned to SyntaxKay

[2019-02-11 13:03] VZeroCool commented on #21126
@magento-engcom-team give me 2.3-develop instance

[2019-02-11 13:03] magento-engcom-team commented on #21126
Hi @VZeroCool. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-11 13:04] magento-engcom-team commented on #21126
Hi @VZeroCool, here is your [Magento instance](https://i-21126-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21126-2-3-develop.instances.magento-community.engineering/admin](https://i-21126-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 13:06] abrarpathan19 commented on #20983
@dmytro-ch
It is not properly visible for tablet user that why we are considering as a bug. Please review it again.

![screenshot_4](https://user-images.githubusercontent.com/43603387/52565012-9b91b600-2e2b-11e9-939e-64508ff352f8.jpg)

[2019-02-11 13:07] magento-engcom-team commented on #20983
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-02-11 13:08] magento-engcom-team commented on #21134
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-11 13:53] DigitalStartupUK commented on #17310
This appears to be something that I've been suffering with lately. I have changed my `max_concurrency` from '6' to '20' _(technically I should be able to go to '25')_. However, I still get the Apache error emails through.

After changing `max_concurrency` in `env.php`, does anything need restarting for the changes to take affect? I'm currently in `Production Mode`.

[2019-02-11 14:14] oleksii-lisovyi opened #21136 "Magento installation via metapackage: checkExtensions fails"
### Preconditions (*)

1. Magento 2.2.*.

### Steps to reproduce (*)

1. Install Magento via composer as a metapackage (according to [docs](https://devdocs.magento.com/guides/v2.2/install-gde/composer.html)):
[code]
2. Install package, that has a PHP extension dependency, that is not added to your PHP:
I've installed [aws/aws-sdk-php](https://github.com/aws/aws-sdk-php), for example, that has depe

[2019-02-11 14:14] magento-engcom-team commented on #21136
Hi @oleksii-lisovyi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-02-11 14:41] Erchiragdodia commented on #12412
I'm facing the same problem. @xpedicion your solution working but I afraid your solution breaking any other functionality.

[2019-02-11 14:51] andyjv commented on #21088
@magento-engcom-team give me 2.2-develop instance

[2019-02-11 14:51] magento-engcom-team commented on #21088
Hi @andyjv. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-11 14:52] magento-engcom-team commented on #21088
Hi @andyjv, here is your [Magento instance](https://i-21088-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21088-2-2-develop.instances.magento-community.engineering/admin](https://i-21088-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 15:20] magento-engcom-team commented on #21136
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-11 15:20] riconeitzel commented on #21134
@magento-engcom-team give me 2.3-develop instance

[2019-02-11 15:20] magento-engcom-team commented on #21134
Hi @riconeitzel. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-11 15:20] magento-engcom-team commented on #21134
Hi @riconeitzel, here is your [Magento instance](https://i-21134-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21134-2-3-develop.instances.magento-community.engineering/admin](https://i-21134-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 16:35] magento-engcom-team commented on #20786
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#21110 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [99106e1e1a744fb4f3657783bbd6d6687c347f04](https://github.com/magento/magento2/commit/99106e1e1a744fb4f3657783bbd6d6687c347f04)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-11 16:35] magento-engcom-team commented on #13309
Hi @navalnichnik. Thank you for your report.
The issue has been fixed in magento/magento2#21078 by @ssp58bleuciel in 2.2-develop branch
Related commit(s):
 - [4cb01ef1823358aa9444f348e51e4c65c5bb95b6](https://github.com/magento/magento2/commit/4cb01ef1823358aa9444f348e51e4c65c5bb95b6)
 - [5ecc6b2c9f3e205fc41f86b8feecc77a8521fb0f](https://github.com/magento/magento2/commit/5ecc6b2c9f3e205fc41f86b8f

[2019-02-11 16:35] magento-engcom-team commented on #9988
Hi @harimayco. Thank you for your report.
The issue has been fixed in magento/magento2#20876 by @Nazar65 in 2.2-develop branch
Related commit(s):
 - [49d09cf331cd1ec6644b19ee7666ccfd87500c38](https://github.com/magento/magento2/commit/49d09cf331cd1ec6644b19ee7666ccfd87500c38)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-11 16:35] magento-engcom-team commented on #20716
Hi @Nazar65. Thank you for your report.
The issue has been fixed in magento/magento2#20876 by @Nazar65 in 2.2-develop branch
Related commit(s):
 - [49d09cf331cd1ec6644b19ee7666ccfd87500c38](https://github.com/magento/magento2/commit/49d09cf331cd1ec6644b19ee7666ccfd87500c38)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-11 16:47] sts-ryan-holton opened #21138 "Magento 2.2.7 single product image doesn't display unless more than one image is added to product"
### Preconditions (*)
1. Magento 2.2.7
2. Custom theme based off of Magento Black/Luma

### Steps to reproduce (*)
1. Add a new product and attach a single image

### Expected result (*)
1. Image should be displayed on frontend

### Actual result (*)
1. Image area is empty and isn't displayed, the images will display if more than one image is attached to a product.

![screenshot 2019-02-11 at 16 4

[2019-02-11 16:47] magento-engcom-team commented on #21138
Hi @sts-ryan-holton. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-02-11 17:46] miguelbalparda commented on #20983
Hi @abrarpathan19, I closed this issue and the corresponding PR. Did anything changed for you to reopen it? If not, this is not considered a bug. Also, why did you delete @shikhamis11 comments?

[2019-02-11 17:46] magento-engcom-team commented on #20983
Hi @miguelbalparda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-11 18:07] kandy commented on #21106
@sshymko Looks like there is an issue of our Jmeter configuration. If loops count < 2 it will not run any scenario.
So current workaround will be to increase number of loops.

[2019-02-11 18:09] sshymko commented on #21106
@kandy
Thank you so much! I'll try running with loops > 1 and let you know how it goes.

[2019-02-11 18:19] sshymko commented on #21106
@kandy
I can confirm that the workaround of `-Jloops=2` does work!

[2019-02-11 18:46] sshymko commented on #21106
@kandy
I'm just curious, how did you figure out that the issue was `loops=1`?
The usage of the `loops` parameter in the JMX is pretty straightforward and looks correct to me.
Is there a `loops=loops-1` logic hidden somewhere in the BinShell scripts?

[2019-02-11 19:00] kandy commented on #21106
@sshymko Looks like it's strange behavior in case **Thread Group** with **Throughput Controler** and throughput less than 100% work. The scenario with 100 throughput work with 1 loop too.

[2019-02-11 19:02] joni-jones commented on #19515
This is not an issue but expected behavior. Magento always stores Vault tokens (to provide future partial capture, reorder, etc.) but these payment tokens are not available for customers.

`Save for later use` option affects only customers but not admin users.

[2019-02-11 19:07] sshymko commented on #21106
@kandy
Perhaps it's finally the time to upgrade to the latest JMeter that hopefully has no issues like that ;)

[2019-02-11 19:12] magento-engcom-team commented on #21138
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-11 19:14] shikhamis11 commented on #21077
@magento-engcom-team give me 2.3-develop instance

[2019-02-11 19:14] magento-engcom-team commented on #21077
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-11 19:15] magento-engcom-team commented on #21077
Hi @shikhamis11, here is your [Magento instance](https://i-21077-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21077-2-3-develop.instances.magento-community.engineering/admin](https://i-21077-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 19:18] justinharris1986 commented on #19515
I have to respectfully disagree.
1. There is a save for later use in the admin panel. If this is default behavior, then lets remove this to stop confusion:
![image](https://user-images.githubusercontent.com/7268384/52587174-77bc7900-2e07-11e9-977b-03a303dfc120.png)

2. Even if an order is created in the back end, the saved credit card shows up in the customers account login in the front end. This

[2019-02-11 19:26] pmouawad commented on #21106
Hello,
The problem is that with a loop of 1, and none of the ThroughputController having 100%, you can end up executing nothing.
In the long run (more loops) the percentage will be matched.

This is expected behavior.
If you want a guarantee of running use one of those 2 approaches:
- https://github.com/Blazemeter/jmeter-bzm-plugins/blob/master/wsc/WeightedSwitchController.md
- https://www.ubik-in

[2019-02-11 19:32] shikhamis11 commented on #21077
@magento-engcom-team give me 2.2-develop instance

[2019-02-11 19:32] magento-engcom-team commented on #21077
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-11 19:32] magento-engcom-team commented on #21077
Hi @shikhamis11, here is your [Magento instance](https://i-21077-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21077-2-2-develop.instances.magento-community.engineering/admin](https://i-21077-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-11 19:38] magento-engcom-team commented on #21077
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98204`, `MAGETWO-98205` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-11 19:41] pmouawad commented on #21106
I see a potential issue in:
"SetUp - BeanShell Sampler: Collect simple product for edit"

on second iteration, editProductList is null
`
if (1 == Integer.parseInt(vars.get("simple_products_counter_for_edit"))) {
    editProductList = new ArrayList();
    props.put("simple_products_list_for_edit", editProductList);
} else {
    productList = props.get("simple_products_counter_for_edit");
}
`

Shoul

[2019-02-11 19:42] pmouawad commented on #21106
Also be aware that with upgrade of Beanshell version, it became more strict and you need to declare variables.

Anyway I suggest you move out of Beanshell, javascript which break scalability of JMeter

[2019-02-11 19:58] sshymko commented on #21106
All right, I'm shutting down the test instance 3.85.65.228.
I'll proceed with the workaround to unblock my testing.
Thanks everybody for the assistance!

[2019-02-11 20:17] LiamKarlMitchell opened #21139 "How to get extra shipping attributes into rate request?"
### Summary (*)
I need to use extra shipping attributes on the estimate shipping post request that gets sent through as a RateRequest to carriers/shipping modules.

### Examples (*)
Add an extra shipping attribute.
Add/Create a shipping module.

Output the contents of RateRequest object in your shipping module.
It will not have the extra attribute in it.

### Proposed solution
There must be some w

[2019-02-11 20:17] magento-engcom-team commented on #21139
Hi @LiamKarlMitchell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-02-11 20:21] joni-jones commented on #19515
@justinharris1986  this behavior requested by the product owner, if the admin doesn't check `Save for later use` option, the saved tokens shouldn't appear in the `Stored Payment Methods`.

Admin should have a possibility to define if the card should be available for customers or not (this is a real business case when a merchant representative asks to save or not the card details by phone during or

[2019-02-11 21:39] travis5491811 commented on #14243
@gawpo50

How did you move the store to a new host? Did you backup your magneto directory, backup the DB and deploy to new host or just start building again on new host? Did you have any log data that pointed to your error? Did the new host have all the same magento dependencies? Same OS? Just seems strange and now i'm having this same error but in the site where watermark image upload is.

[2019-02-11 22:34] zaximus84 commented on #20825
I came across this issue when Magento_ConfigurableProductSales was disabled on a 2.2.3 installation. The productAvailabilityChecks argument isn't defined in di.xml in Magento_Sales. The sole definition comes from Magento_ConfigurableProductSales's di.xml when its adding its own check to the array (and in fact defining the argument as an array).

If you disable Magento_ConfigurableProductSales, you

[2019-02-11 22:50] magento-engcom-team commented on #19328
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#19333 by @speedy008 in 2.2-develop branch
Related commit(s):
 - [4fcc190b29946dc0b9920aafb094def6ae859df8](https://github.com/magento/magento2/commit/4fcc190b29946dc0b9920aafb094def6ae859df8)
 - [aa13b7dc9fd4d868b3ff4f9ea07450588cbf7d4d](https://github.com/magento/magento2/commit/aa13b7dc9fd4d868b3ff4f9ea0745058

[2019-02-12 00:08] Ctucker9233 commented on #1461
@magento-engcom-team This fix doesn't appear to be included in 2.2. Does it need to be ported?

[2019-02-12 03:36] shikhamis11 commented on #20825
@zaximus84 thanks for explanation I will recheck and reopen the issue if it exists

[2019-02-12 05:31] abrarpathan19 commented on #20983
@miguelbalparda

Yes, I agree with you it is not a bug but according to user point of view, It is not displaying properly so it can be considering an improvement. and @shikhamis11 comment was deleted by mistake.

[2019-02-12 05:34] shikhamis11 commented on #21138
@sts-ryan-holton this issue doesn't exists on current magento 2.2-develop instance it is may be due to custom work on at your end. as github is intended for issues in magento core files and functionality I am closing this

[2019-02-12 05:34] #21138 closed, assigned to shikhamis11

[2019-02-12 06:38] dmytro-ch commented on #20983
Hi @abrarpathan19,
please stop closing pull requests from other developers and creating new ones.
Especially those PRs that are already passed the review.

Thank you.

[2019-02-12 06:42] abrarpathan19 commented on #20983
Hi @dmytro-ch : Can you please review this issue, I have already passed the PR.

[2019-02-12 06:46] magento-engcom-team commented on #20472
Hi @bhaveshsurani. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2019-02-12 06:46] magento-engcom-team commented on #20825
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98209`, `MAGETWO-98210` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-12 06:56] santosh051987 opened #21143 "Product Import - Create new product with same SKU"
Encountered an issue, still would love to hear from other if this issue really persists or is only replicating on my end.

### Steps to reproduce (*)

1.In System > Import > Entity type (Products) & Import behaviour is Add/Update, while importing products of SKU's which are already in inventory, same products are inserted in database as a new entry where as the stock of the existing item should be

[2019-02-12 06:56] magento-engcom-team commented on #21143
Hi @santoshsingsys. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-12 06:57] shikhamis11 commented on #20825
@zaximus84 yes found the issue .. yes Sales module shouldn't depend on ConfigurableProductSales . If you have solution for the issue please create Pull request .
https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#pull_request

[2019-02-12 07:02] dmytro-ch commented on #20859
Hi guys,
it looks like the latest changes violate accessibility standards by complicating the navigation through a keyboard interface.

https://www.w3.org/TR/WCAG20/#keyboard-operation

The purpose of this shadow is to highlight the focus on the element. And as for me, we have nothing to fix here. :)
After the latest fixes, it's hard to guess which element is under focus.

Shouldn't we revert thes

[2019-02-12 07:08] santoshsingsys commented on #21143
I am able to reproduce the issue on our server with Magento Version 2.2.2, I did not check on vanilla Magento instance.
I will check this issue on vanilla Magento instance.
Thanks

[2019-02-12 07:29] abrarpathan19 commented on #20859
@dmytro-ch As per your suggestion, we can do manage shadow design: http://prntscr.com/mjws42

[2019-02-12 07:31] fbkaasa commented on #8933
Any updates on this bug?

[2019-02-12 07:45] magento-engcom-team commented on #21134
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98212`, `MAGETWO-98213` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-12 08:26] magento-engcom-team commented on #20797
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-12 08:27] engcom-backlog-nazar commented on #20797
HI @ygyryn thank you  for you report i'm closing this as duplicate to this -> https://github.com/magento/magento2/issues/19899

[2019-02-12 08:27] #20797 closed, assigned to KiraLis, XxXgeoXxX

[2019-02-12 08:34] engcom-backlog-nazar commented on #21082
@magento-engcom-team give me 2.3-develop instance

[2019-02-12 08:34] magento-engcom-team commented on #21082
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-12 08:35] magento-engcom-team commented on #21082
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21082-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21082-2-3-develop.instances.magento-community.engineering/admin](https://i-21082-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-12 08:47] fritzmg commented on #21076
@engcom-backlog-nazar This is not a feature request. Magento 1.x supports this functionality by default and Magento 2.x already saves the last sort order in the session. However, it never actually reads the last sort order from the session, as explained in the original post.

[2019-02-12 08:49] engcom-backlog-nazar commented on #21076
@fritzmg but this is magento 2 not one. so this is feature.

[2019-02-12 08:50] engcom-backlog-nazar commented on #21085
Hi @KooTjoo thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release.

[2019-02-12 08:50] #21085 closed, assigned to shikhamis11

[2019-02-12 08:52] fritzmg commented on #21076
As already said,

Yet, it does not use it anywhere. Why would it do that on purpose?

[2019-02-12 08:54] engcom-backlog-nazar commented on #21076
@fritzmg ok can you provide more information ?  so we can edit this issue and report as issue.

[2019-02-12 09:02] fritzmg commented on #21076
@engcom-backlog-nazar the necessary information is already posted here: https://github.com/magento/magento2/issues/21076#issue-408160019

https://github.com/magento/magento2/blob/32e14dbda4da211f86fc25ef62a42378448fa434/app/code/Magento/Catalog/Block/Product/ProductList/Toolbar.php#L252-L254

https://github.com/magento/magento2/blob/32e14dbda4da211f86fc25ef62a42378448fa434/app/code/Magento/Catalog

[2019-02-12 09:02] gaurav-473 opened #21144 "Can't change customer group when placing an admin order"
When ordering in the admin, we can't change the customer group when creating a new customer while creating an order.
### Preconditions
1.  Magento 2.3
3.  Several Customer Groups created
### Steps to reproduce
1.  In admin select Sales->Orders.
2.  Select Create New Order
3.  Select Create New Customer
4.  Under Account Information, change the group.
### Expected result
1.  Selected customer group

[2019-02-12 09:02] magento-engcom-team commented on #21144
Hi @gauravagarwal1001. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-02-12 09:03] magento-engcom-team commented on #21144
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-12 09:03] shikhamis11 commented on #21144
@magento-engcom-team give me 2.3-develop instance

[2019-02-12 09:03] magento-engcom-team commented on #21144
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-12 09:04] magento-engcom-team commented on #21144
Hi @shikhamis11, here is your [Magento instance](https://i-21144-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21144-2-3-develop.instances.magento-community.engineering/admin](https://i-21144-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-12 09:07] engcom-backlog-nazar commented on #21082
HI @vrutiksuthar i'm not able to reproduce following steps you described on 2.2-develop and 2.3-develop branch this may be related to your custom modules.

[2019-02-12 09:07] #21082 closed, assigned to nobody

[2019-02-12 09:11] engcom-backlog-nazar commented on #21143
Hi @santoshsingsys thank you for you report, i'm not able to reproduce following steps you described, this may be related to your custom modules.

[2019-02-12 09:11] #21143 closed, assigned to nobody

[2019-02-12 09:11] magento-engcom-team commented on #21144
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98214`, `MAGETWO-98215` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-12 09:11] magento-engcom-team commented on #21139
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-12 09:13] fritzmg commented on #21076
Look at the differences between the old Magento 1.x code and the new Magento 2.x code:

### Magento 1.x

[code]

### Magento 2.x

[code]

Magento 2.x is missing the following:

[code]

[2019-02-12 09:17] engcom-backlog-nazar commented on #21076
@fritzmg nice find!, can you prepare a pull request  for this ?

[2019-02-12 09:17] magento-engcom-team commented on #21076
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98216`, `MAGETWO-98217` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-12 09:19] shikhamis11 commented on #15059
@okorshenko I have also worked on this issue and proposed solution in my pull request . it is already assigned to @sivaschenko you can also check

[2019-02-12 09:20] fritzmg commented on #21076
The same applies to `Toolbar::getCurrentDirection()`.

Yes, we can test the changes and prepare a Pull Request.

[2019-02-12 09:21] #20983 closed, assigned to miguelbalparda, dmytro-ch, abrarpathan19

[2019-02-12 09:22] fritzmg commented on #21076
@engcom-backlog-nazar since this is something that (presumably) never worked in Magento 2.x, but did work in Magento 1.x - should it still be considered a bug fix, or would it technically be a new feature? Against which branch should this PR be targeted?

[2019-02-12 09:23] vrutiksuthar commented on #21082
Hello @engcom-backlog-nazar,

It seems to be fixed in the 2.3-develop instance, but currently, I am facing this issue on one of my live site so would you able to share specific commit reference OR patch which fixed this issue and I can apply in my instance?

Thank you.

[2019-02-12 09:23] miguelbalparda commented on #20983
Closing as a non issue again. Please refrain from reopening this and modifying other people’s issies and PRs please.

[2019-02-12 09:41] engcom-backlog-nazar commented on #21076
@fritzmg 2.3-develop, this would be a feature request and need to be cover with tests.

[2019-02-12 09:53] erfanimani commented on #14398
Added PR here: https://github.com/magento/magento2/pull/21146

[2019-02-12 10:10] bramvanderholst opened #21147 "Can't scroll in modal-popup on iOS"
### Preconditions (*)
1. Magento 2.2.7 (https://github.com/magento/magento2/commit/76ae28f82032a0af152d3285bedc1ffa46ff2055)

### Steps to reproduce (*)
1. Open any modal-popup of which the height exceeds the viewport height
2. Try scrolling in the popup on an iPhone (tested on iPhone 6s Plus & iPhone X)

### Expected result (*)
1. Scrolling inside the .modal-popup element

### Actual result (*)
1

[2019-02-12 10:10] magento-engcom-team commented on #21147
Hi @bramvanderholst. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-02-12 10:13] magento-engcom-team commented on #21147
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-12 10:15] krishprakash commented on #21147
@magento-engcom-team give me 2.3-develop instance

[2019-02-12 10:15] magento-engcom-team commented on #21147
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-12 10:15] magento-engcom-team commented on #21147
Hi @krishprakash, here is your [Magento instance](https://i-21147-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21147-2-3-develop.instances.magento-community.engineering/admin](https://i-21147-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-12 10:18] magento-engcom-team commented on #12354
Hi @rav-redchamps. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2019-02-12 10:30] nroomaney commented on #5279
I'm having the same issue when selecting UK as the country.
I'm using Magento version 2.2.2

[2019-02-12 10:31] magento-engcom-team commented on #21147
@krishprakash Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-02-12 10:32] magento-engcom-team commented on #21147
Hi @priti2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-02-12 10:33] magento-engcom-team commented on #21147
:white_check_mark: Confirmed by @priti2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-12 10:35] magento-engcom-team commented on #21147
Hi @priti2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-02-12 10:36] priti2jcommerce commented on #21147
* @magento-engcom-team give me 2.2-develop instance

[2019-02-12 10:36] magento-engcom-team commented on #21147
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-12 10:36] magento-engcom-team commented on #21147
Hi @priti2jcommerce, here is your [Magento instance](https://i-21147-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21147-2-2-develop.instances.magento-community.engineering/admin](https://i-21147-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-12 10:51] rav-redchamps commented on #12354
Just created a pull request https://github.com/magento/magento2/pull/21148 this will fix the problem.

[2019-02-12 10:51] magento-engcom-team commented on #21147
:white_check_mark: Confirmed by @krishprakash
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-12 10:59] magento-engcom-team commented on #21136
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98219`, `MAGETWO-98220` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-12 11:30] vkharlamov opened #21149 "Configured products not saving"
### Preconditions (*)

1. Magento v. 2.2.2, 2.2.6
2. PHP 7.0.31-1+ubuntu16.04.1+deb.sury.org+1 (cli) (built: Jul 25 2018 10:00:37) ( NTS )

### Steps to reproduce (*)

1.  Open admin side, Open configurable product edit page with relative product(s)
2. Clear any required(*) fields and click save button. Got focus on that field(This is a required field.)
3. Set value for fields and save product
###

[2019-02-12 11:30] magento-engcom-team commented on #21149
Hi @vkharlamov. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-12 12:02] engcom-backlog-nazar commented on #21139
Hi @LiamKarlMitchell   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-02-12 12:02] #21139 closed, assigned to nobody

[2019-02-12 12:08] magento-engcom-team commented on #21149
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-12 12:27] engcom-backlog-nazar commented on #21149
Hi @vkharlamov thank you for you report this issue has already fixed in 2.2-develop and 2.3-develop branch and will be available on 2.3.1 release
https://github.com/magento/magento2/commit/ea3a8c7a42ad4132f5641de6d47e9b8d7020cdef

[2019-02-12 12:27] #21149 closed, assigned to nobody

[2019-02-12 12:33] magento-engcom-team commented on #21001
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98221`, `MAGETWO-98222` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-12 13:44] Karlasa commented on #21147
PR that introduced the issue #15172

[2019-02-12 13:55] kanduvisla opened #21152 "Possible wrong implementation of denyPayment()"
If you consider the following method `\Magento\Sales\Model\Order\Payment::deny()`, you'll notice the following part:

    if ($isOnline) {
        /** @var \Magento\Payment\Model\Method\AbstractMethod $method */
        $method = $this->getMethodInstance();
        $method->setStore($this->getOrder()->getStoreId());

        $result = $method->denyPayment($this);
    } else {
        $result = (bo

[2019-02-12 13:55] magento-engcom-team commented on #21152
Hi @kanduvisla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-12 14:03] magento-engcom-team commented on #21152
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-12 14:30] joni-jones commented on #21152
@kanduvisla , as you mentioned, this implementation depends on deprecated `AbstractMethod`, there are still payment integrations which based on `AbstractMethod` and we should still support the old return type.

I don't think that is an issue for the payment integrations based on `Adapter` because of a result processing and entities modifications (like payment or order) are performed in command exe

[2019-02-12 14:36] infinityredux opened #21153 "AttributeOptionInterface returns Phrase instead of string"
As part of an app to transfer data into Magento, including automatically creating appropriate attributes, I was receiving an unexpected `Exception` citing an `Illegal offset type` when attempting to use an attribute label as an array key.

### Preconditions (*)
1. Magento 2.3.0 CE (upgraded from 2.2.7, if relevant).
2. Same code was previously working in 2.2.6 (not 100% certain if it was tested in

[2019-02-12 14:36] magento-engcom-team commented on #21153
Hi @kedomir. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-12 14:57] magento-engcom-team commented on #21153
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-12 15:00] peterjaap commented on #17813
Beware; even though this issue has the 'Fixed in 2.2.x` label, this is **NOT** fixed in 2.2.7, but in 2.2-develop, which is not released yet.

[2019-02-12 15:12] travis5491811 opened #21154 "2.3.0 Watermark not showing on images"
### Preconditions (*)

1. v2.3.0
2. Fresh installation, no third party modules

### Steps to reproduce (*)

1. Create categories
2. Create products
3. Modify [buggy image uploader ](https://magento.stackexchange.com/questions/252256/magento-2-3-favicon-and-logo-upload-does-not-take-hold)to work around bug so you actually can upload a watermark.
4. Upload a watermark (use [watermark in this issue ]

[2019-02-12 15:12] magento-engcom-team commented on #21154
Hi @travis5491811. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-12 15:13] magento-engcom-team commented on #21154
Hi @travis5491811. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-12 15:13] magento-engcom-team commented on #21154
Hi @travis5491811, here is your [Magento instance](https://i-21154-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21154-2-3-develop.instances.magento-community.engineering/admin](https://i-21154-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-12 15:29] travis5491811 commented on #21154
@magento-engcom-team same problem in your instance. Thumbnails show in the admin area Catalog > products list. But don't show on front-end.

![magenotbug_screenshot from 2019-02-12 10-23-23](https://user-images.githubusercontent.com/41482601/52646641-194bd500-2eb1-11e9-983c-f446a8bc61e9.png)
![magentobug_screenshot from 2019-02-12 10-23-48](https://user-images.githubusercontent.com/41482601/526466

[2019-02-12 16:09] magento-engcom-team commented on #21076
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2019-02-12 16:26] magento-engcom-team commented on #21153
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-12 16:28] Adr79 commented on #19821
I am having the same problem in my magento 2.2.7 - php 7.1
Does workaround work on magento 2.2.7?

[2019-02-12 16:35] Karlasa commented on #21147
@magento-engcom-team give me 2.3-develop instance

[2019-02-12 16:35] magento-engcom-team commented on #21147
Hi @Karlasa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-12 16:36] magento-engcom-team commented on #21147
Hi @Karlasa, here is your [Magento instance](https://i-21147-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21147-2-3-develop.instances.magento-community.engineering/admin](https://i-21147-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-12 17:25] magento-engcom-team commented on #13675
Hi @pradeeprcs. Thank you for your report.
The issue has been fixed in magento/magento2#20566 by @XxXgeoXxX in 2.2-develop branch
Related commit(s):
 - [ca9bb265526f1461ee8647ed9de8ad81d13e36ce](https://github.com/magento/magento2/commit/ca9bb265526f1461ee8647ed9de8ad81d13e36ce)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-12 17:25] magento-engcom-team commented on #20382
Hi @irajneeshgupta. Thank you for your report.
The issue has been fixed in magento/magento2#21124 by @irajneeshgupta in 2.2-develop branch
Related commit(s):
 - [05848e5e999e25aa75583fdfbee960f708a8e8dc](https://github.com/magento/magento2/commit/05848e5e999e25aa75583fdfbee960f708a8e8dc)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-12 17:25] magento-engcom-team commented on #19139
Hi @rafaelstz. Thank you for your report.
The issue has been fixed in magento/magento2#20845 by @mage2pratik in 2.2-develop branch
Related commit(s):
 - [e1e4f1beec3aecf6332db20e3d063ac25fab151a](https://github.com/magento/magento2/commit/e1e4f1beec3aecf6332db20e3d063ac25fab151a)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-12 17:40] magento-engcom-team commented on #20828
Hi @mohammadzakir. Thank you for your report.
The issue has been fixed in magento/magento2#20829 by @GovindaSharma in 2.3-develop branch
Related commit(s):
 - [dd48394edb0c830af02cd4548035db5ea0a0d238](https://github.com/magento/magento2/commit/dd48394edb0c830af02cd4548035db5ea0a0d238)
 - [8ea63ddd31046cfb885986eb9da95c7740503bd7](https://github.com/magento/magento2/commit/8ea63ddd31046cfb885986eb

[2019-02-12 17:40] #20828 closed, assigned to GovindaSharma

[2019-02-12 17:40] magento-engcom-team commented on #20143
Hi @ajay2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20155 by @ajay2jcommerce in 2.3-develop branch
Related commit(s):
 - [5515f7e39c9f306c692064c95e8b6e69e0be9631](https://github.com/magento/magento2/commit/5515f7e39c9f306c692064c95e8b6e69e0be9631)
 - [15ddead5dde8f362c6cad9d245dc828e0c61c077](https://github.com/magento/magento2/commit/15ddead5dde8f362c6cad9

[2019-02-12 17:40] #20143 closed, assigned to cedarvinda

[2019-02-12 17:40] magento-engcom-team commented on #21034
Hi @kanduvisla. Thank you for your report.
The issue has been fixed in magento/magento2#21035 by @milindsingh in 2.3-develop branch
Related commit(s):
 - [e64dbcb257e9bc1c9f311c36eeeafed1253f51a6](https://github.com/magento/magento2/commit/e64dbcb257e9bc1c9f311c36eeeafed1253f51a6)
 - [666c63c1a37361d1bf58398e88ad85e8809c7b56](https://github.com/magento/magento2/commit/666c63c1a37361d1bf58398e88ad8

[2019-02-12 17:40] #21034 closed, assigned to nobody

[2019-02-12 17:40] magento-engcom-team commented on #18580
Hi @jcourtei. Thank you for your report.
The issue has been fixed in magento/magento2#18981 by @denispapec in 2.3-develop branch
Related commit(s):
 - [c0df2e42bdd4d30c1db58d62bfba2b2781531c27](https://github.com/magento/magento2/commit/c0df2e42bdd4d30c1db58d62bfba2b2781531c27)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-12 17:40] #18580 closed, assigned to denispapec

[2019-02-12 17:40] magento-engcom-team commented on #20989
Hi @dharmendra-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#20990 by @dharmendra-wagento in 2.3-develop branch
Related commit(s):
 - [734c44080dce9e13252da70224961187ec65cb2f](https://github.com/magento/magento2/commit/734c44080dce9e13252da70224961187ec65cb2f)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-12 17:40] #20989 closed, assigned to sskulkarni

[2019-02-12 17:40] magento-engcom-team commented on #20816
Hi @yashwant2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20817 by @amol2jcommerce in 2.3-develop branch
Related commit(s):
 - [604ab26369ae150e108825f26e14a4a9a10268fe](https://github.com/magento/magento2/commit/604ab26369ae150e108825f26e14a4a9a10268fe)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-12 17:40] #20816 closed, assigned to amol2jcommerce

[2019-02-12 17:40] magento-engcom-team commented on #20800
Hi @priti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20801 by @priti2jcommerce in 2.3-develop branch
Related commit(s):
 - [3dc4f9b3de87943580b100c41cfeec99fe857ff7](https://github.com/magento/magento2/commit/3dc4f9b3de87943580b100c41cfeec99fe857ff7)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-12 17:40] #20800 closed, assigned to priti2jcommerce

[2019-02-12 17:40] magento-engcom-team commented on #20819
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#20820 by @eduard13 in 2.3-develop branch
Related commit(s):
 - [fd28eb0d2c55ddd60f1bf174473311317bd1712f](https://github.com/magento/magento2/commit/fd28eb0d2c55ddd60f1bf174473311317bd1712f)
 - [8a276c1e9938b432b6122bfa62695bdfe048d6f9](https://github.com/magento/magento2/commit/8a276c1e9938b432b6122bfa62695bdfe0

[2019-02-12 17:40] #20819 closed, assigned to eduard13

[2019-02-12 17:40] magento-engcom-team commented on #18525
Hi @vetshopdeveloper. Thank you for your report.
The issue has been fixed in magento/magento2#20913 by @hiren-wagento in 2.3-develop branch
Related commit(s):
 - [1e77ebe49c1e2a503a688eeeef850657c4661eeb](https://github.com/magento/magento2/commit/1e77ebe49c1e2a503a688eeeef850657c4661eeb)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-12 17:40] #18525 closed, assigned to hiren2615

[2019-02-12 17:40] magento-engcom-team commented on #20911
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#20914 by @GovindaSharma in 2.3-develop branch
Related commit(s):
 - [e92b9a36a7b5c3800e8e7531a5ae1b78c3e18ab6](https://github.com/magento/magento2/commit/e92b9a36a7b5c3800e8e7531a5ae1b78c3e18ab6)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-12 17:40] #20911 closed, assigned to GovindaSharma

[2019-02-12 17:40] magento-engcom-team commented on #6960
Hi @schnappenberger. Thank you for your report.
The issue has been fixed in magento/magento2#20548 by @hostep in 2.3-develop branch
Related commit(s):
 - [3ed5efb6d43067132dd10dd01579461513e3e7ef](https://github.com/magento/magento2/commit/3ed5efb6d43067132dd10dd01579461513e3e7ef)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-12 17:40] #6960 closed, assigned to nobody

[2019-02-12 17:40] magento-engcom-team commented on #20908
Hi @kunj1988. Thank you for your report.
The issue has been fixed in magento/magento2#20930 by @kunj1988 in 2.3-develop branch
Related commit(s):
 - [b715afa16f5ff9f8a0c4e783e6c6c1829738a57c](https://github.com/magento/magento2/commit/b715afa16f5ff9f8a0c4e783e6c6c1829738a57c)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-12 17:40] #20908 closed, assigned to kunj1988, cedmudit

[2019-02-12 17:40] magento-engcom-team commented on #20924
Hi @dankhrapiyush. Thank you for your report.
The issue has been fixed in magento/magento2#20936 by @dankhrapiyush in 2.3-develop branch
Related commit(s):
 - [01d68c6849149d499fe1412e1f40b236d6791b44](https://github.com/magento/magento2/commit/01d68c6849149d499fe1412e1f40b236d6791b44)
 - [0b5e0e29d22a39c3c368ffe5491ce5f99d3890a5](https://github.com/magento/magento2/commit/0b5e0e29d22a39c3c368ffe5

[2019-02-12 17:40] #20924 closed, assigned to dankhrapiyush

[2019-02-12 17:40] magento-engcom-team commented on #20906
Hi @mage2pratik. Thank you for your report.
The issue has been fixed in magento/magento2#20907 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [85beeec61b061f9494df14cad448753bd9e75c8b](https://github.com/magento/magento2/commit/85beeec61b061f9494df14cad448753bd9e75c8b)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-12 17:40] magento-engcom-team commented on #20760
Hi @nainesh2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20558 by @priti2jcommerce in 2.3-develop branch
Related commit(s):
 - [7495afbc8c78e9a27292a5f358a243363b9c6050](https://github.com/magento/magento2/commit/7495afbc8c78e9a27292a5f358a243363b9c6050)
 - [565f6250b427b30dc2db9f09f1e59a521dbc5479](https://github.com/magento/magento2/commit/565f6250b427b30dc2

[2019-02-12 17:40] #20760 closed, assigned to priti2jcommerce

[2019-02-12 17:48] magento-engcom-team commented on #21089
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-12 17:48] magento-engcom-team commented on #21089
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98226` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-12 18:04] magento-engcom-team commented on #18183
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-12 18:33] vetshopdeveloper commented on #18525
Hi, Will the fix be back ported to the 2.2.x branch

[2019-02-12 18:38] Tarek-Adra commented on #19557
Magento not accepting your format you can use only 2 formats to be saved correctly
1- Normal Number without and character like 123456789
2- the Default format provided by Magento 2 "123,456.00"

in your example :
if you put 10000 => it will save like 10,000.00
if you put 10,000=> it will save like 10
if you put 10,000.00 => it will save like 10,000.00

so you have to be sure ".00" exist if you use

[2019-02-12 19:33] magento-engcom-team commented on #20689
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-02-12 19:33] cralls commented on #7996
I have a 2.2.3 instance where this is still an issue. When I click update the billing address overwrites the shipping address and my shipping calculations are changed based on the billing address instead of what I had selected for my shipping address in the previous step.

[2019-02-12 19:45] Nazar65 commented on #20689
@arijit-codilar this wrongly added to the referenced pr but i'm working on this with elastic search

[2019-02-12 21:19] paras89 commented on #11002
Which setting is this? Failure history lifetime?

[2019-02-12 22:29] omiroshnichenko commented on #20952
Hi @gizmocn, I'm not able to reproduce your issue. Please, take a look at my steps and add aditional steps/information to reproduce this issue. What have I done:
1. Installed Magento 2.3-develop
2. Node.js v8.11.3
3. grunt clean
![image](https://user-images.githubusercontent.com/18548994/52671773-a3ac2d00-2ee1-11e9-9a6d-8a6c7fe8770e.png)
4. grunt exec (screenshot with success message)
![image](htt

[2019-02-12 22:44] magento-engcom-team commented on #20497
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#20821 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [06f74305096998fef2434966adec7308fbc20bf8](https://github.com/magento/magento2/commit/06f74305096998fef2434966adec7308fbc20bf8)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-12 23:22] GuiltyNL commented on #3897
I can confirm this is still an issue in 2.2.7 too. Removing the ttl solves it, but why doesn't it work with the ttl?

@piotrekkaminski  I think this ticket should be reopened?

[2019-02-13 00:13] araby93 commented on #21126
@magento-engcom-team give me 2.3-develop instance

[2019-02-13 00:13] magento-engcom-team commented on #21126
Hi @araby93. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-13 00:13] magento-engcom-team commented on #21126
Hi @araby93, here is your [Magento instance](https://i-21126-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21126-2-3-develop.instances.magento-community.engineering/admin](https://i-21126-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-13 02:34] winstonojeda commented on #14952
Hi guys,

I figured before I go the patch route I'd give Terrybakshi's solution a try. Seemed easy enough.
But after backing up the two files and making the changes, I get the following error everywhere I go in the site including the admin module.

There has been an error processing your request
Exception printing is disabled by default for security reasons.
Error log record number: 376655659721

[2019-02-13 03:16] terrybakshi commented on #14952
after adding the code did u run the commands
php bin/magento setup:upgrade

php bin/magento cache:clean

php bin/magento setup:static-content:deploy

php bin/magento setup:di:compile

[2019-02-13 03:43] winstonojeda commented on #14952
No. I did not.

[2019-02-13 03:51] terrybakshi commented on #14952
so after adding code you have to run commands to get it working

[2019-02-13 04:32] amol2jcommerce commented on #21147
* @magento-engcom-team give me 2.2-develop instance

[2019-02-13 04:32] magento-engcom-team commented on #21147
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-13 04:33] magento-engcom-team commented on #21147
Hi @amol2jcommerce, here is your [Magento instance](https://i-21147-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21147-2-2-develop.instances.magento-community.engineering/admin](https://i-21147-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-13 07:02] SyntaxKay opened #21177 "Cart Page cross sell product Add to cart button overlapping"
### Preconditions (*)

1.Magento 2.3-dev

### Steps to reproduce (*)

1.Add any product to cart into frontend(Note : This product must have cross-sell product added from backend )
2.Check Cross-sell product into 640 * 767 screen.

### Expected result (*)

![expactedresultss](https://user-images.githubusercontent.com/33230237/52692932-479de300-2f8b-11e9-893f-82bd8c4a1cd2.png)

### Actual result (*)

[2019-02-13 07:03] magento-engcom-team commented on #21177
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-13 07:03] magento-engcom-team commented on #21177
Hi @abrarpathan19. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-13 07:03] magento-engcom-team commented on #21177
@abrarpathan19 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2019-02-13 07:04] magento-engcom-team commented on #21177
@abrarpathan19 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2019-02-13 07:08] magento-engcom-team commented on #21177
@abrarpathan19 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-02-13 07:10] magento-engcom-team commented on #21177
@abrarpathan19 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-02-13 07:11] magento-engcom-team commented on #21177
@abrarpathan19 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-02-13 07:13] magento-engcom-team commented on #21177
:white_check_mark: Confirmed by @abrarpathan19
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-13 07:13] magento-engcom-team commented on #21177
Hi @abrarpathan19. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-13 07:14] magento-engcom-team commented on #21177
:white_check_mark: Confirmed by @abrarpathan19
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-13 07:15] magento-engcom-team commented on #18761
Hi @DenisSaltanahmedov. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><s

[2019-02-13 07:21] magento-engcom-team commented on #21177
:white_check_mark: Confirmed by @dipti2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-13 07:48] magento-engcom-team commented on #21154
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-13 07:48] magento-engcom-team commented on #21153
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98244` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-13 08:08] azambon commented on #18148
@PathToLife The origin of the issue is not specifically linked to Paypal, but it extends to anything using the registerCaptureNotification command. It has already been identified in a previous comments by @jasper-multisafepay and @numan201

Take a look at the highlighted line: https://github.com/magento/magento2/commit/f39138b6dc504f93dae9697ad45d11d57f1aaf1f#diff-68f9035e0545c5442dde19b0ba0fa9b4R

[2019-02-13 08:35] engcom-backlog-nazar commented on #21049
Hi @justinharris1986 thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release

[2019-02-13 08:35] #21049 closed, assigned to nobody

[2019-02-13 08:36] gwharton commented on #14952
Your stack trace is showing an interceptor problem. This is because you havent rerun php bin/magento setup:di:compile

Do this and then run the static deploy command after.

[2019-02-13 08:38] magento-engcom-team commented on #21177
Hi @abrarpathan19. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-13 08:40] xfolder opened #21179 "REST API unable to make requests with slash (/) in SKU"
### Preconditions
1. Tested in CE 2.3

### Steps to reproduce
Fresh install
Create product (of any type) with SKU containing /, e.g. "0RJ9548SN-212/W0-54"

searching for the product with
GET : /rest/v1/products?searchCriteria[filter_groups][0][filters][0][field]=sku&searchCriteria[filter_groups][0][filters][0][value]=0RJ9548SN-212%2FW0-54
returns results as expected

but when getting the stockItem

[2019-02-13 08:40] magento-engcom-team commented on #21179
Hi @xfolder. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-13 08:43] magento-engcom-team commented on #21179
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-13 08:58] johnny-longneck commented on #8198
We have wrong currency symbol for Singapore Dollar. It always shows "$" instead of SGD, S$ or the user entered value in the backend.

Note we have a multi-store setup, with at least 10 currencies. Singapore Dollar is the only wrong format.
Even CHF is shown correctly.

How is the progress on this one?

[2019-02-13 09:03] DeLuuk commented on #21059
@engcom-backlog-nazar Oke I just changed the files to match this [commit](https://github.com/magento/magento2/pull/20727/commits/cb681ab9f7f44457b420d7ae86cf7b324b7b8c94) and added this to `/etc/my.cnf`:
[code]

But I still can't search for "A-327".
(And yes I restarted mysql, upgraded, compiled, redeployed, reindexed and flushed the cache)

[2019-02-13 09:07] SoloDevAtrix commented on #9744
https://github.com/magento/magento2/issues/7299

https://github.com/magento/magento2/issues/1443

https://github.com/magento/magento2/issues/5847

https://github.com/shipperhq/module-shipper/issues/27

https://github.com/magento/magento2/issues/6522

All related, tried every solution on all pages and still have the issue, including @sydekumf solution,
this solution https://github.com/magento/magen

[2019-02-13 09:08] engcom-backlog-nazar commented on #21059
@DeLuuk wrong commit you simply need add "-" to this ->
` const SPECIAL_CHARACTERS = '-+~/\\<>\'":*$#@()!,.?`=%&^';`

https://github.com/Nazar65/magento2/blob/7539e8e6829197467b59e417e317d38ea39a005b/lib/internal/Magento/Framework/Search/Adapter/Mysql/Query/Builder/Match.php#L29

[2019-02-13 09:09] SoloDevAtrix commented on #7299
Similar or identical github issues for this same error:

https://github.com/magento/magento2/issues/9744

https://github.com/magento/magento2/issues/7299

https://github.com/magento/magento2/issues/1443

https://github.com/magento/magento2/issues/5847

https://github.com/shipperhq/module-shipper/issues/27

https://github.com/magento/magento2/issues/6522

All related, tried every solution on all pa

[2019-02-13 09:10] SoloDevAtrix commented on #5847
Still an open issue.

Similar or identical github issues for this same error:

https://github.com/magento/magento2/issues/9744

https://github.com/magento/magento2/issues/7299

https://github.com/magento/magento2/issues/1443

https://github.com/magento/magento2/issues/5847

https://github.com/shipperhq/module-shipper/issues/27

https://github.com/magento/magento2/issues/6522

All related, tried ev

[2019-02-13 09:13] DeLuuk commented on #21059
@engcom-backlog-nazar the reason I did the [other commit](https://github.com/magento/magento2/pull/20727/commits/cb681ab9f7f44457b420d7ae86cf7b324b7b8c94) is because [that commit](https://github.com/Nazar65/magento2/blob/7539e8e6829197467b59e417e317d38ea39a005b/lib/internal/Magento/Framework/Search/Adapter/Mysql/Query/Builder/Match.php#L29) was already in my Magento 2.2.6 environment.
But I just r

[2019-02-13 09:15] engcom-backlog-nazar commented on #21059
@DeLuuk ok thanks, give me 5 minutes i'm will recheck, because i'm migrated to archlinux :)

[2019-02-13 09:24] DeLuuk commented on #21059
@engcom-backlog-nazar I see. I noticed that thats a 2.3dev environment. Does this also work on a 2.2.6 environment?

[2019-02-13 09:26] engcom-backlog-nazar commented on #21059
@DeLuuk hm.. try  change to     `<queryReference clause="should" ref="search" />`

[2019-02-13 09:28] DeLuuk commented on #21059
@engcom-backlog-nazar yeah but that's the whole point! That would indeed work.

But then if customers search for "Blue boots" they get all the products with "Blue" **or** "boots". My client wants to only show products that have "Blue" **and** "boots". That way the search results go from 300 to 20.

[2019-02-13 09:35] engcom-backlog-nazar commented on #21059
@DeLuuk yeap, i'm found the problem this works for skus like this 41-315 but does not for sku like yours A-315

[2019-02-13 09:38] DeLuuk commented on #21059
Oke @engcom-backlog-nazar but now what?

Can this be fixed or is it already fixed somewhere? Or?

[2019-02-13 09:41] engcom-backlog-nazar commented on #21059
@DeLuuk i will recheck it deeper this may be related to monomal search words, but anyway i'm will reopen this if have no solution and this caused by magento

[2019-02-13 09:55] deloenzien commented on #13466
will this be solved in 2.3.1?

[2019-02-13 10:04] Abdullah-Mza opened #21182 "Getting error while trying to edit product attributes, configure product atttributes."
Hi,

I'm using magento 2.1.15.
I'm getting this error while trying to configure product options.

Uncaught TypeError: Cannot create property 'chosenOptions' on string '<'
    at UiClass.createAttribute (VM18258 attributes_values.js:91)
    at UiClass.<anonymous> (VM18258 attributes_values.js:58)
    at executeBound (underscore.js:694)
    at UiClass.bound (underscore.js:726)
    at memoize (unders

[2019-02-13 10:04] magento-engcom-team commented on #21182
Hi @Abdullah-Mza. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-13 10:05] magento-engcom-team commented on #21182
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-13 10:07] engcom-backlog-nazar commented on #21182
Hi @Abdullah-Mza
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-13 10:07] #21182 closed, assigned to nobody

[2019-02-13 10:17] engcom-backlog-nazar commented on #21059
@DeLuuk The core problem in Mysql because they have not ability to set min_search_world to =1 , your select is `AGAINST ('+a* +315*' IN BOOLEAN MODE))` where +a have 1 lenth word that mysql dosnt find product but if you have 2 words that it works.

[2019-02-13 10:28] DeLuuk commented on #21059
@engcom-backlog-nazar oke so you're saying that for it to work you need to be able to search for 1 character?
Damn... That works great for "A-327", but if 10 people search for just "A" that could be bad..

What do you suggest? Is there a fix for this?

[2019-02-13 10:37] Abdullah-Mza opened #21183 "Problem in creating as well as setting attributes"
### Preconditions (*)

1. Magento version (example: 2.1.15)

### Steps to reproduce (*)

1. Create Product
2. Add attributes to product
3. Try to Set Attribute Values

1. Edit product attributes.
2. Save

### Expected result (*)

1. To work properly And set attributes

1. Save without error

### Actual result (*)

1. Uncaught TypeError: Cannot create property 'chosenOptions' on string '<'
   and p

[2019-02-13 10:37] magento-engcom-team commented on #21183
Hi @Abdullah-Mza. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-13 10:41] magento-engcom-team commented on #21183
Hi @Abdullah-Mza. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-13 10:41] magento-engcom-team commented on #21183
Hi @Abdullah-Mza, here is your [Magento instance](https://i-21183-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21183-2-3-develop.instances.magento-community.engineering/admin](https://i-21183-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-13 10:46] GuiltyNL commented on #3897
An update, I don't think that it is caused by core Magento in our case. What I did:

Change php.ini, to display errors:

display_errors = on

Then I noticed an exception error where normally the menu is. It was from a plugin.

I disabled the plugin, ran setup:di:compile and rechecked.

The error was gone, while ttl="3600" still was enabled in default.xml. Also I didn't need to use the Varnish 'p f

[2019-02-13 10:46] magento-engcom-team commented on #21183
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-13 10:47] engcom-backlog-nazar commented on #21183
Hi @Abdullah-Mza i'm not able to reproduce following steps your described, only 2.2.0+ bug reports are considered nowadays. Try upgrading.

[2019-02-13 10:47] #21183 closed, assigned to nobody

[2019-02-13 10:48] Abdullah-Mza commented on #21183
theme is built for that version, can't do anything about the version, using Claue theme

[2019-02-13 10:52] xiaolinwuu commented on #14674
It works!!! Thank you!

[2019-02-13 11:14] wwwebgainss commented on #3374
this is not working for me. anyone got a solution ?

[2019-02-13 11:32] Pekkonen opened #21185 "Can't view products list in admin"
### Preconditions (*)
1. Magento 2.3.0.
2. PHP 7.2.14
3. MySQL - 5.6.43

### Steps to reproduce (*)

1. I have about 6700 products on site (migrated from Magento 1.9 with Migration Tool)
2. When I open Catalog - Products I see list of products
3. I need sort products by descending ID and click to "ID header"

### Expected result (*)
1. Standard product list

### Actual result (*)
1. I see an error

[2019-02-13 11:32] magento-engcom-team commented on #21185
Hi @Pekkonen. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-13 11:35] magento-engcom-team commented on #21185
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-13 11:49] aledefreitas commented on #19544
@pooshok @Fredwak

Since magento team most of the times don't really care enough to solve simple problems like this one, I came up with a simple solution to prevent entire page reloads:

Just comment out the following line: https://github.com/magento/magento2/blob/2.3-develop/dev/tools/grunt/configs/watch.js#L17

This way Live reload won't be trigger to a `.less` file, and will only be triggered b

[2019-02-13 12:00] Dieudon opened #21186 "Magento 2.2.7 and above - missing theme path for part of js files after clean install"
Magento 2.2.7 and above

############# Environment #############
Windows10
Wampserver: 3.1.0
Apache: 2.4.27
PHP: 7.1
Mysql: 5.7.19

############# Issue description #############
When I do a clean install of Magento 2.2.7 or above some of the core js files are not given a 404 because the them path is missing in the URL. This is for both frontend and backend.
examples
- http://domain.name/mage/boots

[2019-02-13 12:00] magento-engcom-team commented on #21186
Hi @Dieudon. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-13 12:10] winstonojeda commented on #14952
Great! I wasn't sure about that step. Thanks!

[2019-02-13 12:12] magento-engcom-team commented on #21186
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-13 12:12] magento-engcom-team commented on #21185
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-13 12:13] engcom-backlog-nazar commented on #21185
Hi @Pekkonen     thank you for your report,  problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-02-13 12:13] #21185 closed, assigned to shikhamis11

[2019-02-13 12:19] Pekkonen commented on #21185
Hi @engcom-backlog-nazar!
I'm not sure problem with Migration tool!
Now I can't view any products in admin and don't reset sorting settings!

[2019-02-13 12:19] engcom-backlog-nazar commented on #21186
`@magento-engcom-team give me 2.2-develop instance

[2019-02-13 12:19] magento-engcom-team commented on #21186
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-13 12:20] magento-engcom-team commented on #21186
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21186-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21186-2-2-develop.instances.magento-community.engineering/admin](https://i-21186-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-13 12:20] ashar01 commented on #20003
i am getting same error. Please help

[2019-02-13 12:22] engcom-backlog-nazar commented on #21185
@Pekkonen this also may be related to some custom modules, on clean magento 2.3.0 i'm not able to reproduce this. So this problem maybe in migration tool or custom modules.

[2019-02-13 12:25] magento-engcom-team commented on #21179
Hi @ravi-chandra3197. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-02-13 12:26] engcom-backlog-nazar commented on #21186
Hi @Dieudon thank you for you report, i'm not able to reproduce following steps you described, this may be related to your environment.

[2019-02-13 12:26] #21186 closed, assigned to nobody

[2019-02-13 12:28] Pekkonen commented on #21185
Yes, it's possible...
Now I have clean M2.3 instance without custom modules, and I could import all products to this shop.
But it's will be not clear test, because products was migrated from Magento 1.9
BTW - how many products do you have on your test site?

[2019-02-13 12:32] engcom-backlog-nazar commented on #21185
@Pekkonen I'm generate product with magento tool  `600000`

[2019-02-13 12:34] Pekkonen commented on #21185
Hmmm. That should be enough.
Thanks, I will report to migration tool repository!

[2019-02-13 12:35] Sharlyll opened #21188 "backend and frontend Css and JS not loading on fresh magento 2.3"
Hi,

**### Preconditions (*)**

1. Magento version 2.3
2. server: Php 7.1

**### Steps to reproduce (*)**

1. Download Magento2.3 from magento site
2. upload zip on live server and install following magento install instructions

**### Expected result (*)**

1. beautiful luma theme on magento2.3 site
2. No errors

**### Actual result (*)**

1.  css and js not loading on frontend and backend
see ima

[2019-02-13 12:36] magento-engcom-team commented on #21188
Hi @Sharlyll. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-13 12:37] magento-engcom-team commented on #21188
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-13 12:38] alexander-aleman commented on #19908
I created a plugin using your fix as a workaround [https://packagist.org/packages/xsarus/magento2-rest-api-locale](https://packagist.org/packages/xsarus/magento2-rest-api-locale)

[2019-02-13 12:52] vrutiksuthar commented on #21082
Hello @engcom-backlog-nazar @magento-engcom-team,

Any update???

[2019-02-13 12:53] engcom-backlog-nazar commented on #21188
@magento-engcom-team give me 2.3.0 instance

[2019-02-13 12:53] magento-engcom-team commented on #21188
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-02-13 12:54] magento-engcom-team commented on #21188
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21188-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21188-2-3-0.instances.magento-community.engineering/admin](https://i-21188-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-13 13:15] engcom-backlog-nazar commented on #21188
Hi @Sharlyll thank you for you report i'm not able to reproduce following steps you described.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-13 13:15] #21188 closed, assigned to nobody

[2019-02-13 13:35] eduard13 opened #21190 "The Wishlist removing icon isn't correctly positioned on category pages"
### Preconditions (*)

1. Magento 2.3-develop, 2.2-develop
2.

### Steps to reproduce (*)

1. Log In
2. Add a product to your wishlist
3. Go to the **category page**

### Expected result (*)

1. The removing icon should be placed on the top-right corner (as it is on other pages - customer dashboard)
![xnip2019-02-13_15-33-05](https://user-images.githubusercontent.com/15868188/52715290-bd627880-2fa

[2019-02-13 13:35] magento-engcom-team commented on #21190
Hi @eduard13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-13 13:36] magento-engcom-team commented on #21190
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-02-13 13:38] ankit-root commented on #12870
Migrate 1.9.0.1 to 2.2.6 but I am also facing the same issue and unable to fix it. anyone, please help me

PHP Fatal error:  Uncaught TypeError: Argument 2 passed to Magento\Framework\View\Element\UiComponentFactory::argumentsResolver() must be of the type array, null given, called in /var/www/html/magentofirst/vendor/magento/framework/View/Element/UiComponentFactory.php on line 220 and defined in

[2019-02-13 13:40] Dieudon commented on #21186
I dont understand this is related to my environment.
As I have described all versions work on the same environment except from 2.2.7 and above.
Has there been any changes to the requirements since this version?

And I dont understand it happens for certain files (see attached screenshot)
![404_errors](https://user-images.githubusercontent.com/3502039/52715636-35c53b80-2f9d-11e9-8329-c676441343f0.J

[2019-02-13 13:45] engcom-backlog-nazar commented on #21186
@magento-engcom-team give me 2.2.7 instance

[2019-02-13 13:45] magento-engcom-team commented on #21186
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-02-13 13:45] DenisSaltanahmedov opened #21192 "Wrong data of Import status with Add/Update method in Advanced Prices in CSV"
### Preconditions (*)
1. Tested in CE 2.3
2. Fresh installation, no third party modules

### Steps to reproduce (*)
1. Prepare CSV with Advanced Prices data
2. Go to System > Import > Advanced Pricing
3. Select the "Add/Update" method
4. Make an import

### Expected result (*)
1. Status of import should be correct

### Actual result (*)
1. In the example, I imported two items but in status, I have

[2019-02-13 13:45] magento-engcom-team commented on #21192
Hi @DenisSaltanahmedov. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-02-13 13:45] magento-engcom-team commented on #21186
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-21186-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-21186-2-2-7.instances.magento-community.engineering/admin](https://i-21186-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-13 13:46] magento-engcom-team commented on #21190
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98251` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-13 13:47] magento-engcom-team commented on #21192
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-02-13 13:59] theodorhanu opened #21193 "Types not merged for etc/di.xml etc/adminhtml/di.xml"
### Preconditions (*)
1. Magento 2.3

### Steps to reproduce (*)
1. Create a custom listing in custom module which adds a new collection data source to Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory in etc/adminhtml/di.xml
[code]

### Expected result (*)
1. Add custom collection among others defined in etc/di.xml, for example sales_order_grid_data_source

### Actual resu

[2019-02-13 13:59] magento-engcom-team commented on #21193
Hi @theodorhanu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-13 14:01] magento-engcom-team commented on #21192
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-02-13 14:03] dmytro-ch commented on #21192
Please note, the issue is not reproducible in `2.2-develop` branch.
Thank you!

[2019-02-13 14:04] theodorhanu commented on #21193
@magento-engcom-team give me 2.3-develop instance

[2019-02-13 14:04] magento-engcom-team commented on #21193
Hi @theodorhanu. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-13 14:05] magento-engcom-team commented on #21193
Hi @theodorhanu, here is your [Magento instance](https://i-21193-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21193-2-3-develop.instances.magento-community.engineering/admin](https://i-21193-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-13 14:06] engcom-backlog-nazar commented on #21059
@DeLuuk https://lists.mysql.com/mysql/174354

[2019-02-13 14:10] engcom-backlog-nazar commented on #21059
@DeLuuk this is Mysql bug https://bugs.mysql.com/bug.php?id=2095

[2019-02-13 14:10] #21059 closed, assigned to nobody

[2019-02-13 14:14] domeglic commented on #12390
So Magento also does POST requests in checkout, but they are all done using REST which doesn't invalidate. (example: guest-carts/totals-information).

I guess we should be using REST in checkout instead of controllers or only use controllers for GET requests.

[2019-02-13 14:16] ata333 commented on #2732
We encountered this error, and the issue was that the **minifier** couldn't recognize  **** this type of comments so it left it as it was and this was causing issues in our js file and lead to an error , we fixed it by just changing the comment from ** <!-- ** to ** // ** , hope this helps

[2019-02-13 14:16] magento-engcom-team commented on #21193
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-13 14:20] engcom-backlog-nazar commented on #21059
@DeLuuk here is another workaround. It was recently added to the manual:
"
Modify a character set file: This requires no recompilation. The true_word_char()  macro uses a “character type” table to distinguish letters and numbers from other characters. . You can edit the <ctype><map> contents in one of the character set XML files to specify that '-' is a “letter.” Then use the given character set f

[2019-02-13 14:32] krzksz commented on #17813
@magento-engcom-team give me 2.3.0 instance

[2019-02-13 14:32] magento-engcom-team commented on #17813
Hi @krzksz. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-02-13 14:33] magento-engcom-team commented on #17813
Hi @krzksz, here is your [Magento instance](https://i-17813-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-17813-2-3-0.instances.magento-community.engineering/admin](https://i-17813-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-13 14:44] theodorhanu commented on #21193
The problem seems to reside in vendor/magento/framework/App/ObjectManager/ConfigLoader.php in load method:
[code]
The problem is with this line: ` $data = $this->_getReader()->read($area);`
 When accessing admin area, $area variable is set to 'adminhtml', thus, the configLoader only takes into account di.xml's found in etc/adminhtml.
Logically for me would be to merge config values with those foun

[2019-02-13 14:54] dervishm96 opened #21195 "Duplicate Sign Out Buttons on Mobile"
### Preconditions (*)

1. 2.3.0
2. Frontend

### Steps to reproduce (*)

1. Customer signs in to their account on mobile.
2. Goes to Menu > Account >
3. There are 3 Sign Out buttons and 2 My Account butttons present

### Expected result (*)

1. Customer signs in to their account on mobile.
2. Goes to Menu > Account >
3. There should be one sign out button and one My Account button.

### Actual res

[2019-02-13 14:54] magento-engcom-team commented on #21195
Hi @dervishm96. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-13 15:16] magento-engcom-team commented on #21195
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-13 15:16] amenk commented on #1377
@piotrekkaminski Do you have a patch / commit where this was fixed? Looks like it is done in 2.3 develop

I saw https://github.com/magento/magento2/commit/4c9194d86abb7a6f701828d4466798118c2bce31 but that does not look like it fixed that issue

[2019-02-13 15:17] magento-engcom-team commented on #21192
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-02-13 15:45] magento-engcom-team commented on #20555
Hi @amitcedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20556 by @amitcedcoss in 2.3-develop branch
Related commit(s):
 - [a5dfa0dcf58e2a95dd0aa953b890154922efb74a](https://github.com/magento/magento2/commit/a5dfa0dcf58e2a95dd0aa953b890154922efb74a)

The fix will be available with the upcoming  release.

[2019-02-13 15:45] #20555 closed, assigned to jitendra-cedcoss, amitvishvakarma

[2019-02-13 15:45] magento-engcom-team commented on #20376
Hi @mohammadzakir. Thank you for your report.
The issue has been fixed in magento/magento2#20461 by @serhiyzhovnir in 2.3-develop branch
Related commit(s):
 - [dd9e8cf217b78baf12da5120fdfc76d869043bfa](https://github.com/magento/magento2/commit/dd9e8cf217b78baf12da5120fdfc76d869043bfa)
 - [85c4e92c8e2f60a71ab3745ef3056deb6a4d795e](https://github.com/magento/magento2/commit/85c4e92c8e2f60a71ab3745e

[2019-02-13 15:45] magento-engcom-team commented on #20380
Hi @maheshWebkul721. Thank you for your report.
The issue has been fixed in magento/magento2#20381 by @maheshWebkul721 in 2.3-develop branch
Related commit(s):
 - [82b1707b9b5c3dab9c74ab6a9a11a93f98880515](https://github.com/magento/magento2/commit/82b1707b9b5c3dab9c74ab6a9a11a93f98880515)
 - [ccd301441585b21f23f8ae942ca4a2b0c05b06d1](https://github.com/magento/magento2/commit/ccd301441585b21f23f8

[2019-02-13 15:45] #20380 closed, assigned to mahesh-rajawat

[2019-02-13 15:45] magento-engcom-team commented on #20172
Hi @nainesh2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20173 by @nainesh2jcommerce in 2.3-develop branch
Related commit(s):
 - [645617a7978c2eed2b4b483f8cfc9d120764c6aa](https://github.com/magento/magento2/commit/645617a7978c2eed2b4b483f8cfc9d120764c6aa)
 - [3f6c2c84db3ae61231c646361c6876d000cb8ec9](https://github.com/magento/magento2/commit/3f6c2c84db3ae612

[2019-02-13 15:45] magento-engcom-team commented on #20091
Hi @chaplynsky. Thank you for your report.
The issue has been fixed in magento/magento2#20092 by @chaplynsky in 2.3-develop branch
Related commit(s):
 - [ba325135318e2c856e5300d7139f529662679d3e](https://github.com/magento/magento2/commit/ba325135318e2c856e5300d7139f529662679d3e)

The fix will be available with the upcoming  release.

[2019-02-13 15:45] #20091 closed, assigned to nobody

[2019-02-13 15:45] magento-engcom-team commented on #20010
Hi @jcourtei. Thank you for your report.
The issue has been fixed in magento/magento2#20011 by @milindsingh in 2.3-develop branch
Related commit(s):
 - [5ee1d4281c1b6c3456aeec5a069ac0338c8b3898](https://github.com/magento/magento2/commit/5ee1d4281c1b6c3456aeec5a069ac0338c8b3898)

The fix will be available with the upcoming  release.

[2019-02-13 15:45] #20010 closed, assigned to nobody

[2019-02-13 15:45] magento-engcom-team commented on #19596
Hi @lano-vargas. Thank you for your report.
The issue has been fixed in magento/magento2#19598 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [d5b0ffdd32ccc0d6ed23b41b33617958a659fc75](https://github.com/magento/magento2/commit/d5b0ffdd32ccc0d6ed23b41b33617958a659fc75)
 - [16f11f760b89bb240ce2f6948214da5775695d92](https://github.com/magento/magento2/commit/16f11f760b89bb240ce2f6948214da57

[2019-02-13 15:45] #19596 closed, assigned to Nazar65

[2019-02-13 16:02] eduard13 opened #21196 "[UI] The dropdown state doesn't change if the dropdown is expanded or not"
### Preconditions (*)

1. Magento 2.3-develop, Magento 2.2-develop
2.

### Steps to reproduce (*)

1. Make sure you have several categories
2. Go to Admin panel
3. Open a Product Page
4. Expand the **Categories** field
5. Click on the Category icon to expand/unexpand
![xnip2019-02-13_18-05-00](https://user-images.githubusercontent.com/15868188/52725490-fe18bc80-2fb9-11e9-934a-c8d3a3b0f16e.jpg)

##

[2019-02-13 16:02] magento-engcom-team commented on #21196
Hi @eduard13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-13 16:09] magento-engcom-team commented on #21196
Hi @dmytro-ch. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-02-13 16:09] orlangur commented on #21062
Oh, there is existing `phpcs` sniff actually, thanks @lenaorobei for finding this out.

Closing in favor of https://github.com/magento/magento-coding-standard/issues/23.

@novikor please consider `php-cs-fixer` integration anyway ;)

[2019-02-13 16:12] shikhamis11 commented on #21195
@magento-engcom-team give me 2.3-develop instance

[2019-02-13 16:12] magento-engcom-team commented on #21195
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-13 16:13] magento-engcom-team commented on #21195
Hi @shikhamis11, here is your [Magento instance](https://i-21195-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21195-2-3-develop.instances.magento-community.engineering/admin](https://i-21195-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-13 16:15] magento-engcom-team commented on #21196
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98252`, `MAGETWO-98253` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-13 16:23] shikhamis11 commented on #21195
hello @dervishm96 thank you for your report . It seems this issue is already fixed in current magento 2.3 - develop instance

[2019-02-13 16:23] #21195 closed, assigned to shikhamis11

[2019-02-13 16:45] magento-engcom-team commented on #21177
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-13 16:45] magento-engcom-team commented on #21177
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98254` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-13 16:54] dervishm96 commented on #21195
Hi,

I am still experiencing this issue and I am currently using the latest version 2.3.0.

Please see temporary frontend:
www.new.image-work.co.uk/magento2/

[2019-02-13 16:58] shikhamis11 commented on #21195
hello @dervishm96 I checked on current magento 2.3-develop instance this is not present It seems it is fixed in earlier commits . You can check on the above instance

[2019-02-13 18:24] justinharris1986 commented on #21049
Good afternoon @engcom-backlog-nazar
I appreciate you looking in to this. Are there any plans in fixing it in the 2.2.x branch?

[2019-02-13 20:16] Fredwak commented on #19544
great @aledefreitas !
this works for me! - thank you!

[2019-02-13 20:34] AleksLi commented on #13537
@magento-engcom-team  I would like to have this issue, but I can't assign it to me. Please take a look at my permissions.

[2019-02-13 20:38] Cristy94 opened #21201 "Static content not generated, only generated file is requirejs-config.js"
### Preconditions (*)

1. PHP Version 7.1
2. Magento CE 2.3.0
3. Installed on a shared server, only have cPanel access, no shell

### Steps to reproduce (*)

1. Fresh installation of Magento 2.3.0
2. Installation is successful, but when I access the frontend no CSS is loaded:

### Expected result (*)

1. I expect the store to properly load CSS, which is requested (but missing) from the static fold

[2019-02-13 20:38] magento-engcom-team commented on #21201
Hi @Cristy94. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-13 20:43] Cristy94 commented on #11170
Having same issue on a shared hosting, where all write permissions are correct, Magento2 installation is successful, but the only generated static file is **requirejs-config.js**. Why is this issue closed? I also opened a similar issue: #21201

[2019-02-13 21:25] magento-engcom-team commented on #20402
Hi @amol2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20404 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [2eeecdb5501e68e53ee1f2e40d5d1012232860c6](https://github.com/magento/magento2/commit/2eeecdb5501e68e53ee1f2e40d5d1012232860c6)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-13 21:25] magento-engcom-team commented on #6960
Hi @schnappenberger. Thank you for your report.
The issue has been fixed in magento/magento2#21169 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [bfa4e1ff8f4173e75cb0c45fc7cbb0f644f6c96f](https://github.com/magento/magento2/commit/bfa4e1ff8f4173e75cb0c45fc7cbb0f644f6c96f)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-13 21:25] magento-engcom-team commented on #20816
Hi @yashwant2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#21163 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [ce53cee6adf5a58978333e42e9c4bc8309e0c0cb](https://github.com/magento/magento2/commit/ce53cee6adf5a58978333e42e9c4bc8309e0c0cb)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-13 21:25] magento-engcom-team commented on #19714
Hi @sreichel. Thank you for your report.
The issue has been fixed in magento/magento2#21140 by @janakbhimani in 2.2-develop branch
Related commit(s):
 - [bd1e5380e64634a2275d224c2c08e8d1dcd974e7](https://github.com/magento/magento2/commit/bd1e5380e64634a2275d224c2c08e8d1dcd974e7)
 - [a8861035b34da209b00d4a37a7704208853c0d0c](https://github.com/magento/magento2/commit/a8861035b34da209b00d4a37a77042

[2019-02-13 21:25] magento-engcom-team commented on #20157
Hi @ajay2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#21114 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [cb67c971714308c0f8a0ce2831185c31da6c3887](https://github.com/magento/magento2/commit/cb67c971714308c0f8a0ce2831185c31da6c3887)
 - [665dbefec928193cfcb0c4de9702fd78de6a5c62](https://github.com/magento/magento2/commit/665dbefec928193cfcb0c4

[2019-02-13 21:25] magento-engcom-team commented on #20240
Hi @saphaljha. Thank you for your report.
The issue has been fixed in magento/magento2#20616 by @niravkrish in 2.2-develop branch
Related commit(s):
 - [b8fa8f3069b3559f4276783a9b9d254e8bb9568f](https://github.com/magento/magento2/commit/b8fa8f3069b3559f4276783a9b9d254e8bb9568f)

The fix will be available with the upcoming 2.2.9 release.

[2019-02-13 21:25] magento-engcom-team commented on #19891
Hi @Surabhi-Cedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20115 by @GovindaSharma in 2.3-develop branch
Related commit(s):
 - [b9d13e69c4928a0b6d740845bed305a399a42fd5](https://github.com/magento/magento2/commit/b9d13e69c4928a0b6d740845bed305a399a42fd5)

The fix will be available with the upcoming 2.3.2 release.

[2019-02-13 21:25] #19891 closed, assigned to GovindaSharma

[2019-02-13 21:25] magento-engcom-team commented on #21089
Hi @scottsb. Thank you for your report.
The issue has been fixed in magento/magento2#21090 by @pmclain in 2.3-develop branch
Related commit(s):
 - [8483e9479885e420f92f970535362d4fb99b0207](https://github.com/magento/magento2/commit/8483e9479885e420f92f970535362d4fb99b0207)
 - [db4c00cebb227f7a5ff1846de78be4838f78759d](https://github.com/magento/magento2/commit/db4c00cebb227f7a5ff1846de78be4838f78

[2019-02-13 21:25] magento-engcom-team commented on #21021
Hi @priti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#21022 by @priti2jcommerce in 2.3-develop branch
Related commit(s):
 - [bf2a704f6e45e689678593fcc825c33f8863af38](https://github.com/magento/magento2/commit/bf2a704f6e45e689678593fcc825c33f8863af38)
 - [6e7734e4066347b61c65278f2ae54f0138ee7479](https://github.com/magento/magento2/commit/6e7734e4066347b61c65

[2019-02-13 21:25] #21089 closed, assigned to pmclain

[2019-02-13 21:25] #21021 closed, assigned to faizan2jcommerce

[2019-02-13 21:25] magento-engcom-team commented on #19630
Hi @suryakant-krish. Thank you for your report.
The issue has been fixed in magento/magento2#19631 by @suryakant-krish in 2.3-develop branch
Related commit(s):
 - [d0c0bccdfec92a7657c3d94e86f7fa13b70b4df2](https://github.com/magento/magento2/commit/d0c0bccdfec92a7657c3d94e86f7fa13b70b4df2)
 - [dce80fd6606eabbfb25447c4ca4eed8d8f9434a4](https://github.com/magento/magento2/commit/dce80fd6606eabbfb254

[2019-02-13 21:25] #19630 closed, assigned to suryakant-krish

[2019-02-13 22:33] verdde opened #21204 "Translate "This is a required field" and validation errors on 2.3"
### Summary (*)
Magento 2.3 vanilla with 2 store views

I've installed multiple language packs, currently using this one
https://github.com/EaDesgin/magento2-romanian-language-pack

Everything is translated except the JS validation errors.

### Examples (*)
For example :
"This is a required field."

Static deploy is ok generating static files correctly. We can find the translation in mage_translat

[2019-02-13 22:33] magento-engcom-team commented on #21204
Hi @verdde. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-13 22:51] MichaelThessel opened #21205 "Different behaviour between grunt and setup:static-content:deploy"
### Summary (*)

I expect that when the grunt asset compilation succeeds without errors that setup:static-content:deploy will work with identical results. This doesn't seem to be the case.

### Examples (*)

I have a custom theme. that defines custom variables in: `app/design/frontend/vendor/theme/web/css/source/_custom-variables.less`

the file is imported via `@import "_custom-variables.less";`

[2019-02-13 22:51] magento-engcom-team commented on #21205
Hi @MichaelThessel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-14 02:03] goivvy opened #21209 "appendTimeIfNeeded supplies wrong datetime format on 2.3 php7.1, cannot set product new from/to dates"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.1.26

### Steps to reproduce (*)

1. Open up any product edit page in admin
2. Set Product as New From / To dates
3. Click on Save

### Expected result (*)

1. Product is saved correctly

### Actual result (*)

1. An error is displayed 'Invalid input datetime format of value'

This is clearly a bug (at least for my php version).

It was introduced i

[2019-02-14 02:03] magento-engcom-team commented on #21209
Hi @goivvy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-14 02:06] goivvy commented on #21209
@magento-engcom-team give me 2.3-develop instance

[2019-02-14 02:07] magento-engcom-team commented on #21209
Hi @goivvy. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-14 02:07] magento-engcom-team commented on #21209
Hi @goivvy, here is your [Magento instance](https://i-21209-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21209-2-3-develop.instances.magento-community.engineering/admin](https://i-21209-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 02:13] goivvy commented on #21209
Well, I cannot replicate it on your system but I can sure replicate it on my system.

[2019-02-14 03:32] charleskj commented on #12483
This is happening to us also.
Migrated from m1 to m2-2.2.6.
In our case, stock get incremented very frequently for some particular orders.

[2019-02-14 04:13] adarshkhatri commented on #21209
@magento-engcom-team give me 2.3 instance

[2019-02-14 04:17] adarshkhatri commented on #21209
@magento-engcom-team give me 2.3.0 instance

[2019-02-14 04:17] magento-engcom-team commented on #21209
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-02-14 04:18] magento-engcom-team commented on #21209
Hi @adarshkhatri, here is your [Magento instance](https://i-21209-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-21209-2-3-0.instances.magento-community.engineering/admin](https://i-21209-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 04:24] amol2jcommerce commented on #21196
* @magento-engcom-team give me 2.2-develop instance

[2019-02-14 04:24] magento-engcom-team commented on #21196
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-14 04:24] magento-engcom-team commented on #21196
Hi @amol2jcommerce, here is your [Magento instance](https://i-21196-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21196-2-2-develop.instances.magento-community.engineering/admin](https://i-21196-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 05:47] devendrant commented on #14592
We have encountered this issue in Magento ver. 2.2.5 Enterprise edition.

[2019-02-14 06:04] abrarpathan19 opened #21214 "Luma theme Apply Discount Code section design improvement"
### Description (*)

Luma theme Apply Discount Code section design improvement according to shopping cart page  Discount Coupon box section. please review link : Shopping Cart page : http://prntscr.com/mkvc7o

Step to reproduce :
1. Luma theme Go to the checkout Review & Payments step you can find the coupon box section

### Expected behavior (*)

Checkout page step "Review & Payments" : http://pr

[2019-02-14 06:04] magento-engcom-team commented on #21214
Hi @abrarpathan19. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-14 06:05] magento-engcom-team commented on #21214
Hi @krishprakash. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a v

[2019-02-14 06:07] krishprakash commented on #21214
@magento-engcom-team give me 2.3-develop instance.

[2019-02-14 06:07] magento-engcom-team commented on #21214
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-14 06:08] magento-engcom-team commented on #21214
Hi @krishprakash, here is your [Magento instance](https://i-21214-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21214-2-3-develop.instances.magento-community.engineering/admin](https://i-21214-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 06:15] krishprakash commented on #21214
@magento-engcom-team give me 2.2-develop instance

[2019-02-14 06:15] magento-engcom-team commented on #21214
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-14 06:16] magento-engcom-team commented on #21214
Hi @krishprakash, here is your [Magento instance](https://i-21214-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21214-2-2-develop.instances.magento-community.engineering/admin](https://i-21214-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 06:23] developer-vtnetzwelt commented on #13411
Hi @shikhamis11 @magento-engcom-team
I am not 100% sure but I believe this issue is coming due to the area under which this code is working.
Please check this  `class Index extends \Magento\Framework\App\Action\Action ` this code is working under frontend area so if we have flat catalog enabled, frontend is not suppose to have disabled products so it looks like  functionality.
@shikhamis11  To ver

[2019-02-14 06:33] magento-engcom-team commented on #21201
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-14 06:33] magento-engcom-team commented on #21204
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-14 06:33] magento-engcom-team commented on #21205
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-14 06:34] magento-engcom-team commented on #21209
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-14 06:40] hema94 commented on #10960
Hi @DanielRuf Thank you for your response. I am new to magento. Can you please say how to check which  "extension doesn't have resource title".

[2019-02-14 06:55] shikhamis11 commented on #13411
hi @developer-vtnetzwelt
what I think this issue is coming due to restriction of out of stock product display at frontend . for this I think there is some conditions applied basically joins in collection at frontend which eventually removes the disabled product from collection along with out of stock products. I will more dig out this and show the queries

[2019-02-14 07:20] DanielRuf commented on #10960
We have new issue templates. Please open a new issue.

[2019-02-14 07:53] Mohsin07 opened #21217 "Magento 2.2.6 - uploading PNG image throws warning"
### Summary (*)

When I try to upload a PNG image (transparent background) for my custom form I get this warning message.
**Warning: file_get_contents(): stream does not support seeking in \/var\/www\/html\/RootFolder\/vendor\/magento\/framework\/Image\/Adapter\/Gd2.php on line
294"**
This warning does not occur when I use a JPEG image.

### Examples (*)

The Gd2.php file has the following code on

[2019-02-14 07:53] magento-engcom-team commented on #21217
Hi @Mohsin07. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-14 07:59] engcom-backlog-nazar commented on #21209
Hi @goivvy thank you for you report i'm not able to reproduce following steps you described, did you change the datepicker to use hours ?

[2019-02-14 07:59] #21209 closed, assigned to nobody

[2019-02-14 08:01] engcom-backlog-nazar commented on #21217
Hi @Mohsin07 thank you for you report,
See file_get_contents(): stream does not support seeking PHP

You are working with a remote file. Seeking is only supported for local files.

You probably need to copy the file to your local file system before using file_get_html. It should work fine on localhost.

[2019-02-14 08:01] #21217 closed, assigned to nobody

[2019-02-14 08:04] farrukhk opened #21218 "Salable Qty=0 still showing on list pages"
Precondition
(1) Magento Commerce 2.3.0
(2) PHP 7.2

Steps to reproduce (*)
(1) Add a product having stock 1
(2) Buy the same product by placing an order.
(3) The order will show in processing and you will notice that product Quantity is shown as 1 while the salable quantity is shown as 0.
(4) In catalog/inventory "Display Out of Stock Products=No

Expected result (*)
(1) Product should be removed

[2019-02-14 08:04] magento-engcom-team commented on #21218
Hi @farrukhk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-14 08:04] engcom-backlog-nazar commented on #21201
Hi @Cristy94 thank you for you report,
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-14 08:04] #21201 closed, assigned to nobody

[2019-02-14 08:05] magento-engcom-team commented on #21218
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-14 08:12] adarshkhatri opened #21219 "Cannot create shipment: Source item not found by source code: default and sku: sols-imp-adult-t-shirt-Black-Full Colour - position 2"
### Preconditions (*)

1. Magento Open Source 2.3
2. Inventory Source Enabled (By default? cannot disable)
3. https://imgur.com/uFZE5Y4

### Steps to reproduce (*)

1. Config product with Custom Options
2. Place order from frontend
3. Create Invoice
4. Create Shipment

### Expected result (*)

1. It should create shipment

### Actual result (*)

1. Source item not found by source code: default and

[2019-02-14 08:12] magento-engcom-team commented on #21219
Hi @adarshkhatri. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-14 08:12] wcladesh commented on #7298
Hello,
I got also the same issue in Magento 2.2.4 after data migration from Magento1.9.1.0.
I have checked file

vendor/magento/module-url-rewrite/Model/Storage/DbStorage.php

and found that in  function doReplace(array $urls) ,$this->deleteOldUrls($urls); is not working properly.
So I have resolve this issue with help of forums

[code]

Now issue is resolved and working fine.

[2019-02-14 08:16] adarshkhatri commented on #21219
I checked in Vanilla instance v2.3.0 but couldn't see "inventory source" section. I strongly believe the error is related to this new module.

In vanilla 2.3.0 instance (without "inventory source"), I was able to create shipment.

[2019-02-14 08:16] engcom-backlog-nazar commented on #21218
Hi @farrukhk thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1` release

[2019-02-14 08:16] #21218 closed, assigned to nobody

[2019-02-14 08:17] magento-engcom-team commented on #21219
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-14 08:17] engcom-backlog-nazar commented on #21219
Hi @adarshkhatri thank you for you report, please open issue here -> https://github.com/magento-engcom/msi

[2019-02-14 08:17] #21219 closed, assigned to nobody

[2019-02-14 08:20] engcom-backlog-nazar commented on #21107
Hi @Accurno thank you for you report, i;m not able to reproduce following steps you described, this may be related to your environment, or some custom modules,

[2019-02-14 08:20] #21107 closed, assigned to ravi-chandra3197

[2019-02-14 08:25] engcom-backlog-nazar commented on #21204
Hi @verdde thank you for you report, i'm not able to reproduce following steps you described,
![deepinscreenshot_select-area_20190214102430](https://user-images.githubusercontent.com/40756439/52773101-d3267b00-3042-11e9-9523-1e09a9b281d8.png)

[2019-02-14 08:56] farrukhk commented on #21218
Hi,
Is there a temporary workaround for this?

[2019-02-14 09:02] craigcarnell commented on #17310
@chris-pook This seems to have gone away after increasing max_concurrency but it is very worrying

[2019-02-14 09:08] tzsolti opened #21222 "Catalog Product List Widget throws Integrity constraint violation"
### Preconditions (*)

1. Magento 2.3.0 with sample data
2. PHP 7.2.13
3. MySQL 5.7.24
4. CentOS 7 (the same happens also under Windows 10)
5. Nginx 1.15.7

### Steps to reproduce (*)

1. Edit page "Home page" in the backend
2. Insert widget "Catalog Product List", set some title, display page control No, number of products 10, template Products Grid Template (or any other), cache lifetime empty.

[2019-02-14 09:08] magento-engcom-team commented on #21222
Hi @tzsolti. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-02-14 09:11] magento-engcom-team commented on #21222
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-14 09:13] Mohsin07 commented on #21217
Hi @engcom-backlog-nazar  thanks for the suggestion.

I face this issue in the production server. It works fine in my testing server and in my local system. If I need to copy the file to the local system, then how come it works for JPEG file formats?

[2019-02-14 09:14] tzsolti commented on #21222
@magento-engcom-team give me 2.3-develop instance

[2019-02-14 09:14] magento-engcom-team commented on #21222
Hi @tzsolti. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-14 09:14] engcom-backlog-nazar commented on #21222
HI @tzsolti thank you for you report this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release.

[2019-02-14 09:14] #21222 closed, assigned to nobody

[2019-02-14 09:15] magento-engcom-team commented on #21222
Hi @tzsolti, here is your [Magento instance](https://i-21222-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21222-2-3-develop.instances.magento-community.engineering/admin](https://i-21222-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 09:22] engcom-backlog-nazar commented on #21193
Hi @theodorhanu thank you for you report, can you please explain actual result.
![deepinscreenshot_select-area_20190214111939](https://user-images.githubusercontent.com/40756439/52776677-cdcd2e80-304a-11e9-9f92-661af384b0e8.png)
![deepinscreenshot_select-area_20190214112138](https://user-images.githubusercontent.com/40756439/52776679-cdcd2e80-304a-11e9-9a0d-efe79e1d8c52.png)

[2019-02-14 09:29] tzsolti commented on #21222
Thanks. It works indeed with the 2.3-develop version.

[2019-02-14 09:32] theodorhanu commented on #21193
Hi @engcom-backlog-nazar. Thanks for checking the issue.
If the ...CollectionFactory's  additional collection script is placed in etc/adminhtml/di.xml( see steps to reproduce from my first comment), other grids will be broken and page will display "Not registered handle [collection_data_source handle]". Eg: Not registered handle cms_block_listing_data_source

Please see this stackoverflow thread:

[2019-02-14 09:39] engcom-backlog-nazar commented on #21193
@theodorhanu Thanks i'm was  not see that di.xml must be in adminhtml

[2019-02-14 09:59] magento-engcom-team commented on #21154
Hi @progreg. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-02-14 10:03] hema94 opened #21223 "2.1.3. System -> Integrations is empty / creating a new Integration is not possible. I am new to magento 2 Help me to fix this. I am using Magento 2.1.13, Excepted result: should create new integration. Actual result: Error It shows error 4:{i:0;s:178:"Notice: Undefined index: all_resources in /home/227158.cloudwaysapps.com/qzqhwannuw/public_html/vendor/magento/module-integration/Controller/Adminhtml/Integration.php on line 129";i:1;s:5883:"#0 /home/227158.cloudwaysapps.com/qzqhwannuw/public_html/vendor/magento/module-integration/Controller/Adminhtml/Integration.php(129)"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-02-14 10:03] magento-engcom-team commented on #21223
Hi @hema94. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-14 10:05] Januszpl commented on #10419
When working on requirejs optimizer and wanted to implement it only at one store (multistore) i turned off minify JS on one website (scope).

Then other websites had started to load unminifed js. Admin theme also start load unminifed js files (and it should load .min.js). When making another deployment it didn't create .min.js for all other stores (where minify js was turned ON)

Magento 2.1.11.

[2019-02-14 10:08] magento-engcom-team commented on #21223
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-14 10:09] engcom-backlog-nazar commented on #21223
Hi @hema94
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-14 10:09] #21223 closed, assigned to nobody

[2019-02-14 10:27] magento-engcom-team commented on #21193
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98272`, `MAGETWO-98273` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-14 10:29] magento-engcom-team commented on #21193
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-02-14 11:12] engcom-backlog-nazar commented on #20952
@omiroshnichenko
![deepinscreenshot_select-area_20190214131144](https://user-images.githubusercontent.com/40756439/52783287-235d0780-305a-11e9-8a70-acdcacf77c73.png)

[2019-02-14 11:14] craigcarnell commented on #21049
@engcom-backlog-nazar Do you have a link to the PR please?

[2019-02-14 11:22] davoc commented on #16531
Same issue in v2.3 and we have fileinfo extension installed and enabled in php.ini

[2019-02-14 11:58] amanraj09 commented on #7107
Did any one has solution for this?
Basically once I attach a cart with customer with this API `/rest/V1/carts/{cart_id}` and something goes wrong while placing the order, I cannot try placing the order since it throws `Cannot assign customer to the given cart. Customer already has active cart.`. Is there any way to detach the cart from customer.

[2019-02-14 12:02] engcom-backlog-nazar commented on #1461
Hi @vinhtrau this already ported to 2.2-develop, issue not reproducible on 2.2-branch

[2019-02-14 12:02] #1461 closed

[2019-02-14 12:04] t-eichmann commented on #6710
Any updates on this? I have the same issue in 2.3.0, none of the workarounds/code fixes work.

[2019-02-14 12:34] yanncharlou commented on #19597
Emergency ugly fix : :warning:  (DON'T DO THIS AT HOME !)

Patch file : composer-overrides/Magento/Framework/Setup/Declaration/Schema/Comparator.php
[code]
Then edit you composer.json file to load your patched file in place of the original one :
autoload/psr-4 section should look like this. (first line added)

[code]
In some case you should run `composer dump-autoload` to this change apply.

:warn

[2019-02-14 12:47] SyntaxKay opened #21225 "Cart page responsive wish-list icon alignment"
### Preconditions (*)

1.Magento 2.3-dev

### Steps to reproduce (*)

Frontend > Add any product to cart > check wish list-icon into less then 767 screen size

### Expected result (*)

![expectedss](https://user-images.githubusercontent.com/33230237/52787651-86fc2a80-3084-11e9-915d-24c268db4e44.png)

### Actual result (*)

![actualss](https://user-images.githubusercontent.com/33230237/52787629-7ba

[2019-02-14 12:47] magento-engcom-team commented on #21225
Hi @speedy008. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-14 13:22] engcom-backlog-nazar commented on #20952
Hi alll sorry i'm have wrong configuration, now all works as expected.
![deepinscreenshot_select-area_20190214131144](https://user-images.githubusercontent.com/40756439/52789389-5b6d4600-306c-11e9-879c-c867c991e879.png)

[2019-02-14 13:22] #20952 closed, assigned to nobody

[2019-02-14 13:39] engcom-backlog-nazar commented on #21205
Hi @MichaelThessel thank you for you report i'm not able to reproduce following steps you described.
![deepinscreenshot_select-area_20190214153817](https://user-images.githubusercontent.com/40756439/52790216-b30cb100-306e-11e9-8404-f48d0d8589af.png)
![deepinscreenshot_select-area_20190214153831](https://user-images.githubusercontent.com/40756439/52790217-b3a54780-306e-11e9-952e-f54a311faf13.png)
!

[2019-02-14 13:39] #21205 closed, assigned to nobody

[2019-02-14 14:29] AnotherAlexSmith commented on #19714
@magento-engcom-team tell me please, when 2.2.9 will be available?

[2019-02-14 15:40] #20872 closed, assigned to nobody

[2019-02-14 15:58] tsoftp opened #21231 "REST API order info -> "parent" products sku inconsistency with product_id"
### Preconditions (*)

1.Magento 2.4-develop
2.Using Luma test sample data
3.Using Postman for REST API calls.

### Steps to reproduce (*)

1.Simply create an order with a configurable product (i.e. a shirt size M color grey or something like that)
2.Make a REST API call to return that order/list of orders.

### Expected result (*)

1. Receive the API response for the order.
2. The product I order

[2019-02-14 15:58] magento-engcom-team commented on #21231
Hi @tsoftp. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-14 16:00] tsoftp commented on #21231
@magento-engcom-team give me 2.3-develop instance

[2019-02-14 16:00] magento-engcom-team commented on #21231
Hi @tsoftp. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-14 16:01] magento-engcom-team commented on #21231
Hi @tsoftp, here is your [Magento instance](https://i-21231-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21231-2-3-develop.instances.magento-community.engineering/admin](https://i-21231-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 16:18] tsoftp commented on #21231
Just reproduced it.

[2019-02-14 16:18] magento-engcom-team commented on #21231
Hi @tsoftp. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-14 16:19] magento-engcom-team commented on #21231
Hi @tsoftp, here is your [Magento instance](https://i-21231-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21231-2-3-develop.instances.magento-community.engineering/admin](https://i-21231-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-14 16:20] tsoftp commented on #21231
I just reproduced it on the first instance @magento-engcom-team created. (2nd instance I created by accident by quoting him/it)

[2019-02-14 16:25] cralls opened #21232 "Custom select attribute code "container" breaks javascript on update attributes"
### Preconditions (*)
1. Magneto 2.2.3
2. PHP 7.0.33

### Steps to reproduce (*)
1. Create a custom select attribute with a code of "container"
2. Go to the Catalog->Products and check the box next to at least one product.
3. Click the Action dropdown and select "Update Attributes"
4. Scroll down until you see your container attribute and you will see that it is not disabled

### Expected result (

[2019-02-14 16:25] magento-engcom-team commented on #21232
Hi @cralls. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-14 16:35] alessandrosiervo opened #21233 "Product images are not displayed on category pages Magento 2.2.7"
Hi,

sorry for my language..
I am new on Magento and i have this problem:

Product images are not displayed on category pages and in any product list. I used Porto theme 3.1.7 and Magento 2.2.7

This is an example:
![cattura](https://user-images.githubusercontent.com/47639050/52801658-ab550880-307e-11e9-82f3-5fabc05777f8.PNG)

i tried to: clean cache, flush cache, resize image command ssh , reinde