[2020-06-09 11:26] btekbtek commented on #28614
Create an empty cart
Add one or more products to the cart
Set the billing address
Set the shipping address
Set the shipping method
Set the payment method
For guest customers, assign an email to the cart

In GraphQl

[code]
mutation {
  createEmptyCart
}
[code]

And after changing Ip you can still add to cart like a quest, also finish order.

[code]

Set shipping address

[code]
and rest points, I

[2020-06-09 12:11] sumeet-mis commented on #28616
for @all
When i change attribute set directly from database "default to our attribute set(changed attribute_set_id from 4 to 9(database - catalog_product_entity))" then page is open without console error

[2020-06-09 12:43] ajijshekh123 commented on #28634
@magento give me 2.4-develop instance

[2020-06-09 12:43] magento-engcom-team commented on #28634
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-09 12:45] magento-engcom-team commented on #28634
Hi @ajijshekh123, here is your [Magento instance](https://i-28634-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28634-2-4-develop.instances.magento-community.engineering/admin_7d74](https://i-28634-2-4-develop.instances.magento-community.engineering/admin_7d74)
Login: `7458527a` Password: `985982f5301b`
Instance will be terminated in up to 3 hours.

[2020-06-09 12:56] ajijshekh123 commented on #28634
Hello @mrtuvn,
This issue is reproduced on Magento 2.4 Instance.
See attached the screenshot:

![Checkout_ProductImage](https://user-images.githubusercontent.com/24711761/84149812-aa6b9580-aa7e-11ea-8633-43e9a8709b61.png)

Thanks.

[2020-06-09 12:57] magento-engcom-team commented on #28634
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35036` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-09 13:45] sasha19957099 commented on #28571
@magento I am working on this

[2020-06-09 13:50] swathishs commented on #28589
Hi @jstrzz , thank you for your report. According to the contributor's guide, Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop branch and 2.3.5 p1.

If you'd like to update the issue, please reopen it

[2020-06-09 13:50] #28589 closed, assigned to swathishs

[2020-06-09 13:57] swathishs commented on #28630
@magento give me 2.3.5-p1 instance

[2020-06-09 13:57] magento-engcom-team commented on #28630
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-09 14:05] amenk opened #28636 "Integration tests can break because they run into "exit" statement when using secure base URL"
### Summary

When the base URL is set to a secure https:// URL and the integration tests are run via CLI and PHPunit the _checkShouldBeSecure runs into an exit

### Example

The error disguises itself as "Some transactions have not been committed or rolled back during integration tests"

Such exit statements are super hard to debug, especially when appearing on CI where no Xdebug is available. Eve

[2020-06-09 14:09] swathishs commented on #28630
@hemendraajmera : The issue is not reproducible in Magento 2.4 develop instance.

Please find the attachment below:

1. Console:
![image](https://user-images.githubusercontent.com/58288685/84157771-beb49000-aa88-11ea-9dd9-bb385fb4c0e4.png)

2. Remove cart from the mini cart:
![jBQRx80Ytr](https://user-images.githubusercontent.com/58288685/84157955-ee639800-aa88-11ea-8975-be888ccef79e.gif)

[2020-06-09 14:12] swathishs commented on #28630
@hemendraajmera :  I have tested the issue with the step described above in both 2.4 develop instances and 2.3.5 p1 instance . The issue is not reproducible. Could you please let me know whether I should follow any other step to create the issue.

[2020-06-09 14:15] swathishs commented on #28364
Hi @sainialpana:
Feel free to reopen once you update all the details with reproducible steps
Thanks !!

[2020-06-09 14:15] #28364 closed, assigned to swathishs

[2020-06-09 14:25] Faruqsd opened #28637 "Invalid response line returned from server: HTTP/2 200 when i try to connect to the magento market place with my public and private key"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-09 15:28] nabilrizvi commented on #26786
**_Infinite loop detected, review the trace for the looping path while checking out for paypal or strip both.._**
do we have any solution to fix this in Magento 2.3.4??

[2020-06-09 15:29] rahulthakral38 commented on #26786
Infinite loop detected, review the trace for the looping path in Payment gateways on checkout.

do we have any solution to fix this in Magento 2.3.4??
Any Solution will be helpful.

[2020-06-09 15:32] alessandroniciforo commented on #10402
For the records, the only blocker at that time for merging the PR was an apparently unrelated integration test that I couldn't understand why it was failing.
Afterwards, the bug seemed fixed by another commit but I see now that it's still there in 2.3.4.

I encourage anybody that is interested in this to copy [my changes](https://github.com/magento/magento2/pull/10403/files) into a new fork from 2

[2020-06-09 15:46] amenk commented on #28636
Current workaround, in phpunit.xml

    <php>
        <env name="HTTPS" value="1" force="true" />

[2020-06-09 15:46] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-06-09 15:46] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-09 15:54] operator888 commented on #26501
Hi @nickpiro ,
I just stumbled upon the same error after working on a magento2.3.5 branch installing the Pearl theme and then I switched back to master branch and can not run the magento setup:upgrade because of the same error.
And in my db_schema.xml there is no record about the wishlist.
Do you have any suggestion...?
Thank you

[2020-06-09 16:21] Stoux opened #28648 "Cacheable=false is ignored in page_layouts"
### Preconditions (*)

1. New Magento 2.3.4 install

### Steps to reproduce (*)

1. Create a new module
2. Create a new page layout in `view/frontend/page_layout/`
3. Add the layout to `view/frontend/layouts.xml`
4. Add a block to the layout with `cacheable=false`
5. Create a page in the backend and set it's layout to the created layout

### Expected result (*)

1. Magento should detect the cachea

[2020-06-09 16:26] magento-engcom-team commented on #28288
Hi @m2-backlog[bot], @nuzil, @lenaorobei.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.4.1` release.

[2020-06-09 16:26] #28288 closed, assigned to nuzil, lenaorobei

[2020-06-09 17:37] chandu-pinpoint commented on #21885
@magento I'm working on this

[2020-06-09 17:50] Grumag commented on #18532
Well, this issue happened yesterday to our site that is running 2.3.5-p1. It was a 1.9 migration, to 2.3.3 fresh install, which was later upgraded to 2.3.5-p1.

1. Duplicated a product and got an infinite loop, closed the tab, and did it again and got the same issue
2. After few hours 15gb of new data was created

So not fixed?

[2020-06-09 18:04] doublesharp commented on #25486
@engcom-Charlie - I am also having this issue with Magento 2.3.4. The test that you ran to reproduce the issue would not have exposed the issue as the cron job status is "pending" in your screenshot. You also need to set `Configuration > Catalog > Inventory > Stock Options > Display Out of Stock Products` to "No", the code is skipped otherwise.

To reproduce the issue reset the search indexer and

[2020-06-09 19:31] magento-engcom-team commented on #28261
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28222 by @eduard13 in 2.4-develop branch
Related commit(s):
 - [a41e38411fb220536fe1d8615abe8ea2a7fd4db4](https://github.com/magento/magento2/commit/a41e38411fb220536fe1d8615abe8ea2a7fd4db4)
 - [1d799ab68689901077f6c54aa3ea08605ec2cf5b](https://github.com/magento/magento2/commit/1d799ab68689901077f6c54aa3e

[2020-06-09 19:31] #28261 closed, assigned to eduard13

[2020-06-09 19:31] magento-engcom-team commented on #28011
Hi @santosh-gaggle. Thank you for your report.
The issue has been fixed in magento/magento2#28015 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [92b29c6f9eb05dbf45cebdc601a4a9aeb95b713d](https://github.com/magento/magento2/commit/92b29c6f9eb05dbf45cebdc601a4a9aeb95b713d)
 - [475be33cdc0e4bc058176669d05243462bafc8a3](https://github.com/magento/magento2/commit/475be33cdc0e4bc058176669

[2020-06-09 19:31] #28011 closed, assigned to Bartlomiejsz

[2020-06-09 19:33] #27989 closed, assigned to nobody

[2020-06-09 20:38] danielrenaud commented on #28565
@gallyamov Before getting too far in to this can you verify the issue still persists. It may have already been resolved in another ticket.

[2020-06-09 20:39] hostep commented on #18532
@Grumag: according to [this comment](https://github.com/magento/magento2/issues/9466#issuecomment-583758819), it should get fixed finally in Magento 2.4.0, no idea why they didn't backport the fix to 2.3.x ...

Maybe you can try to apply the changes from https://github.com/magento/magento2/pull/25875 to your installation and see if that solves it?

[2020-06-09 21:15] hostep commented on #28633
Hi @BarnyShergold

Can you verify if https://github.com/magento/magento2/pull/26784 fixes your issue?

It's been a known issue since Magento 2.0.0 was released, I've been complaining about this bug since 2016 and finally after many years and [many](https://github.com/magento/magento2/pull/7667), [many](https://github.com/magento/magento2/pull/14344), [many](https://github.com/magento/magento2/pull

[2020-06-09 21:20] VladimirZaets opened #28652 "TEST ISSUE DO NOT TOUCH"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-09 21:21] magento-engcom-team commented on #28652
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35055` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-10 01:04] zhican opened #28655 "Installation is incomplete.(win7 + php7.2 + nginx)"
![image](https://user-images.githubusercontent.com/26996587/84215565-3e7a4300-aaf9-11ea-9aa8-374caae1641d.png)

[2020-06-10 01:55] happymachines commented on #28221
@astvdurnev I was running into the same issue, it turns out the issue stemmed from a theme override of the file `vendor/magento/module-customer/view/frontend/web/js/section-config.js`. The theme override in my case was missing the changes that appeared in this commit https://github.com/magento/magento2/commit/d57d43a0bf0e620f006fbca9562f70dc3bdc1036#diff-82971003fd8862a51cf2b4e47b34733a

[2020-06-10 02:23] phongphanmage opened #28656 "Enabled Translation inline affect to result of REST APIs."
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Go to admin
2. Stores > Settings > Configuration
3. In the left panel, expand Advanced and choose Developer
4. Expand selector the Translate Inline section
5. Set Enabled for Storefront to Yes
6. Click on save config
7. Try to login to admin as a user using API-
POST -  {Baseurl}/rest/V1/integration/admin/token
Body-{
"usernam

[2020-06-10 03:01] sazo17 commented on #28419
apparently this persists in magento 2.3.5 as well as magento 2.3.4

[2020-06-10 04:50] LiamKarlMitchell commented on #21602
Reopen please.

[2020-06-10 05:00] swathishs commented on #28656
@magento give me 2.4-develop instance

[2020-06-10 05:00] magento-engcom-team commented on #28656
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-10 06:19] nidhy-gupta opened #28657 "AsyncClientInterface not found"
I am trying to override UPS method in magento2.3.2. But cart page is not working. Giving the error:

Class Magento\Framework\HTTP\AsyncClientInterface does not exist.

![1](https://user-images.githubusercontent.com/63915532/84233842-c586e580-ab10-11ea-85be-9be74602cce4.jpg)

[2020-06-10 07:06] rahulthakral38 commented on #26799
**Infinite loop detected, review the trace for the looping path in Payment gateways on checkout.**

![magento-payment-checkout](https://user-images.githubusercontent.com/17290393/84237387-e6ead000-ab16-11ea-80d2-bcf4e0985cce.png)

**Any solution for this, any patch released..??**

[2020-06-10 07:07] rahulthakral38 commented on #26786
**Infinite loop detected, review the trace for the looping path in Payment gateways on checkout.
![magento-payment-checkout](https://user-images.githubusercontent.com/17290393/84237458-041f9e80-ab17-11ea-98e1-36e21c2a43a6.png)
**

**Any soltion or any information for this issue patch released..??**

[2020-06-10 07:42] munkhulzii commented on #28584
@magento give me 2.4-develop instance

[2020-06-10 07:42] magento-engcom-team commented on #28584
Hi @munkhulzii. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-10 08:25] alexmtch opened #28658 "Pagebuilder custom style property does not render"
### Preconditions (*)

1. Magento EE 2.3.5-p1

### Steps to reproduce (*)

1. Create file app/code/Vendor/Module/view/adminhtml/pagebuilder/content_type/button_item.xml
`<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_PageBuilder:etc/content_type.xsd">
    <type name="button-item">
        <appearances>

[2020-06-10 08:29] engcom-Alfa commented on #22856
After multiple discussion and several attempts to fix consequences was decided to revert this PR #22917

Purpose for revert
During internal regression testing for future 2.4.0 release Core team found two regression bugs
1. [MC-34245] Adding a Product with Customizable Option to Wish List results in a fatal error
2. [MC-34322] Adding a Product with Customizable Option to a "Gift Registry" results i

[2020-06-10 08:36] duckchip commented on #13411
This ticket should be re-opened. I can reproduce it on m2.3.5 @magento-engcom-team

[code]
the above snippet returns the following query:

[code]

[2020-06-10 08:57] Stepa4man commented on #28419
@magento give me 2.4-develop instance

[2020-06-10 08:58] magento-engcom-team commented on #28419
Hi @Stepa4man. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-10 09:14] Zyles opened #28659 "MariaDB 10.4 replication errors"
Problems using MariaDB 10.4 and replication.

Halts the replication progress.

### Preconditions (*)

1. Magento 2.3.3
2. MariaDB 10.4

### Steps to reproduce (*)

1. Run Magento 2.3.3
2. Install MariaDB 10.4 with master and slave

### Expected result (*)

No errors.

### Actual result (*)

`Could not execute Update_rows_v1 event on table magento.sales_bestsellers_aggregated_monthly; Duplicate ent

[2020-06-10 09:16] MobiphoneNL opened #28660 "Advanced Reporting 404"
**Intro**

Im having some issues with Advanced Reporting. I have tried a lot of different things, spent many hours debugging and took the necessary 24hrs waiting time in between each "experiment". Unfortunately, it does not work. I have tried it on a vanilla magento 2.3.5 with sample data and some orders. I verified whether the Magento Analytics Integration is correct by calling the Magento 2  API

[2020-06-10 09:45] magento-engcom-team commented on #22856
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35065` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-10 09:46] ajardin commented on #28302
I confirm that setup wizard seems to be removed and Magento 2.4 requires a valid Elasticsearch connection during the installation process. There is [something in the documentation](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements-tech.html#elasticsearch) about this change.

You can declare the Elasticsearch credentials with these parameters: `--elasticsearch-host=elasticsear

[2020-06-10 10:09] prince-auriga commented on #15187
Is there a patch for this issue?

[2020-06-10 11:02] sambath1293 commented on #28660
@MobiphoneNL -This issue is a duplicate of https://github.com/magento/magento2/issues/24180
moving this ticket to closed.

[2020-06-10 11:02] #28660 closed, assigned to nobody

[2020-06-10 11:03] sambath1293 commented on #28600
@deepakpant91  -This issue is a duplicate of #24180
moving this ticket to closed.

[2020-06-10 11:03] #28600 closed, assigned to nobody

[2020-06-10 11:14] AbdulRahmanAbouzaid commented on #22856
@magento give me 2.4-develop instance

[2020-06-10 11:14] magento-engcom-team commented on #22856
Hi @AbdulRahmanAbouzaid. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-10 11:48] Seppo-Konttinen-Solteq commented on #28428
Hi.

Exactly same problem here

[2020-06-10 11:57] AbdulRahmanAbouzaid commented on #22856
@magento-engcom-team give me 2.4-develop instance

[2020-06-10 11:57] magento-engcom-team commented on #22856
Hi @AbdulRahmanAbouzaid. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-10 11:59] AJHopper opened #28662 "AppendReservationsAfterOrderPlacementPlugin afterPlace function doesnt work if SKU ends with a ".""
### Preconditions (*)

1. Magento 2.3.5-p1
2. php 7.2

### Steps to reproduce (*)

1. create a configurable product with a numeric sku ending in a "." example 12345.
2. proceed through with a purchase of the product.

### Expected result (*)

1. purchase completes successfully and creates reservations for the order

### Actual result (*)

1. Order places into the back end successfully and payment

[2020-06-10 13:09] sainialpana opened #28664 "New order create issue"
### Preconditions (*)
1) I am using Magento ver. 2.3.5.

### Steps to reproduce (*)
1) Login into backend.
2) Under sales > order > click on create new order
3)After click on add products, no data showing.

### Expected result (*)
1) List of my store products.

### Actual result (*)
1) No products shown.

[2020-06-10 13:26] #9807 closed, assigned to nobody

[2020-06-10 13:31] #25708 closed, assigned to nobody

[2020-06-10 17:18] smoi opened #28671 "Magento 2.3.5 Braintree and Paypal"
Everything was working fine in Magento 2.3.2, after updating to Magento 2.3.5 Paypal through Braintree is not working anymore and is giving errors

### Preconditions (*)
Magento 2.3.5
Magento Braintree 100.3.5

### Steps to reproduce (*)
Go to checkout

### Expected result (*)
No errors on PayPal

### Actual result (*)
Console showing this error
`Uncaught (in promise) o {name: "BraintreeError", co

[2020-06-10 18:46] adamstapley opened #28672 "Customizable Options - Option Type Area - Validate Issue"
Issue is with the validation of customizable options across the board but will test the "Option Type-Area" as an example.

We have a Customizable Option with an Option Type of Area and set a maximum 350 characters (doesn't matter when the max value is error still happens at 100, 500 etc.)

If you enter text that gets near this limit i.e. 345 characters with spaces and line breaks the notification

[2020-06-10 19:00] ashwinshenoi99 opened #28673 "Reflection Exception: Interceptor Class Does Not Exist during Installation"
### Summary (*)

Reflection Exception: Interceptor Class Does Not Exist during Installation

### Examples (*)

CLI install using bin/magento setup:install
On checking the webpage, error is reported

`An error has happened during application run. See exception log for details.`

Exception.log shows:

[code]

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.

[2020-06-10 19:03] m2-assistant[bot] opened #28674 "[Issue] Use Variable for border-radius"
**Preconditions:**
This issue is automatically created based on existing pull request: magento/magento2#28548: Use Variable for border-radius

The border-radius was hardcoded, so i changed it to: @button__border-radius

**Steps to reproduce:**

Variable **@button__border-radius** is defined in `lib/web/css/source/lib/variables/_buttons.less` library and has default value for border-radius = 3px
![

[2020-06-10 22:18] m2-assistant[bot] opened #28675 "[Issue] TEST"

[2020-06-10 22:48] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-06-10 22:48] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-10 22:59] VladimirZaets commented on #28675
@magento coverage not required

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-10 23:09] VladimirZaets commented on #28675
@magento coverage not required

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-10 23:15] VladimirZaets commented on #28675
@magento coverage not required

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-10 23:16] VladimirZaets commented on #28675
@magento coverage not required

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-10 23:21] VladimirZaets commented on #28675
@magento coverage not required

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-10 23:23] VladimirZaets commented on #28675
@magento coverage not required

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-10 23:45] nrkapoor commented on #28576
@danielrenaud As per our discussion yesterday this doesn't look like an issue.

[2020-06-11 00:04] #28576 closed, assigned to munkhulzii, danielrenaud

[2020-06-11 00:12] aunik commented on #28455
In addition, the position_category_<n> is always 0 in ElasticSearch when the full-text index is processed by cron . but with CLI processed full-text index set correct value in ElasticSearch

[2020-06-11 00:21] magento-engcom-team commented on #13401
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-06-11 00:23] magento-engcom-team commented on #13401
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35092` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-11 00:38] sdzhepa commented on #28634
Hello @mrtuvn
fyi: @ajijshekh123

Thank you for your report and confirmation!

Occasionally, I found this bug was found and reporter into internal Jira during regression before 2.4.0
The bug has been fixed in delivered into the internal 2.4.0 branch (not publicly available)
- Fix has been done and delivered in the scope of `MC-34950`
- Internal PR: https://github.com/magento/magento2ce/pull/5757

[2020-06-11 02:11] VladimirZaets commented on #28675
@magento coverage not required

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-11 03:21] VladimirZaets commented on #28675
@magento coverage not required

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-11 04:05] VladimirZaets commented on #28675
@magento coverage not required

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-11 04:29] ajijshekh123 commented on #28664
@magento give me 2.4-develop instance

[2020-06-11 04:29] magento-engcom-team commented on #28664
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-11 04:52] ajijshekh123 commented on #28634
Thanks for the information @sdzhepa

[2020-06-11 04:58] sambath1293 commented on #28660
@MobiphoneNL -Thanks

[2020-06-11 05:08] VladimirZaets commented on #28675
@magento coverage not required

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-11 07:03] vipin12117 commented on #20000
This is major bug, we really need to remove all comments. it will reduce the merged js file size which will help to fast load on mobile devices. It will help better in google page score.

[2020-06-11 07:23] sainialpana commented on #28664
Hi @ajijshekh123 Have you checked the issue? Should i need to reinstall the M2? Please update me ASAP, its very urgent.

[2020-06-11 07:26] ajijshekh123 commented on #28664
Sorry for Inconvenience @sainialpana, There are some issue on Magento Instance that's why I can't able to reverify it.
Let me try again.

[2020-06-11 07:26] ajijshekh123 commented on #28664
@magento give me 2.4-develop instance

[2020-06-11 07:26] magento-engcom-team commented on #28664
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-11 07:39] sainialpana commented on #28664
@ajijshekh123 Can you please check at my site backend?

[2020-06-11 07:43] ajijshekh123 commented on #28664
Sure @sainialpana, Please share with me your site link and credentials on my slack account (Ajij Shekh).

[2020-06-11 07:44] sainialpana commented on #28664
I don't have slack account. Please share your email id.

[2020-06-11 07:45] ajijshekh123 commented on #28664
azizshaikh1987@gmail.com- This is my email id.

[2020-06-11 07:46] sainialpana commented on #28664
Thanks

[2020-06-11 07:48] sainialpana commented on #28664
Sent email. please check.

[2020-06-11 07:49] ajijshekh123 commented on #28664
Got Email.
Let me check and update you

[2020-06-11 07:49] sainialpana commented on #28664
Sure

[2020-06-11 07:58] ajijshekh123 commented on #28664
Hello @sainialpana,
I have verified this issue on your Magento 2.3 Instance.
The issue is related to the Product list. First Fixed the Catalog issues then It will be automatically showing the products on Create order section.
Now, Catalog is not showing and It's displayed 'Content Security Policy' related error.
See attached the screenshot:

![Error](https://user-images.githubusercontent.com/24711

[2020-06-11 08:01] sainialpana commented on #28664
@ajijshekh123  Can you please ask technical team for this?

[2020-06-11 08:05] ajijshekh123 commented on #28664
@sdzhepa - Can you please help to @sainialpana for this issue?

[2020-06-11 08:48] Hexmage commented on #28410
@mariojacobo This sounds like your redis sessions is reaching its memory cap. Which means no new sessions can be made which stops logging in.

[2020-06-11 09:02] mariojacobo commented on #28410
@Hexmage  that's the first thing we looked at and we are nowhere near the memory cap. with magento out of the box, we couldnt replicate the issue, so it's some custom module that's giving us issues. the hard part is tracking down which module is blocking us, as the issue is only triggered under high stress

[2020-06-11 09:29] AbdulRahmanAbouzaid commented on #13401
@magento give me 2.4-develop instance

[2020-06-11 09:30] magento-engcom-team commented on #13401
Hi @AbdulRahmanAbouzaid. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-11 09:33] reesmcivor commented on #3451
I am experiencing the same issue on a 2.3.3 installation.

[2020-06-11 09:47] pitbulk commented on #28428
@vzabaznov any help?

[2020-06-11 10:09] Seppo-Konttinen-Solteq commented on #28428
I also tried by adding

`
$customerModel = $this->customerFactory->create()->updateData($customer);
        $this->eventManager->dispatch(
            'customer_customer_authenticated',
            ['model' => $customerModel, 'password' => $password]
        );

$this->eventManager->dispatch('customer_data_object_login', ['customer' => $customer]);
`

which are in /vendor/magento/module-customer/M

[2020-06-11 10:13] pitbulk commented on #28428
@Seppo-Konttinen-Solteq This is a very simple module with the basics:
https://github.com/pitbulk/magento-custom-login

If we can fix it, we can later port to any sso module.

I was reviewing the login-as-customer module since it is kinda similar situation, not using the standard login. I see it already had which had a similar issue
https://github.com/magefan/module-login-as-customer/issues/13

[2020-06-11 10:52] gallyamov commented on #28565
@danielrenaud you are right, I was not able to reproduce this problem.
@nrkapoor please advise how to proceed in cases like this.

[2020-06-11 11:11] AleksLi commented on #25003
I found where is the issue.
You simply can compare sales_invoice_grid and sales_creditmemo_grid column by column and you will see that there is no *currency_code* tables in creditmemo_grid table at all. But it should take the currency_code from there to show it in the grid.
I've found that \Magento\Sales\Api\Data\CreditmemoInterface::setBaseCurrencyCode has currency_code in their interface.

Also

[2020-06-11 11:22] chandu-pinpoint commented on #28482
@magento  and @Ankush-Webkul
I have created a patch for 2.3.5 here: https://github.com/chandu-pinpoint/magento2/commit/d3f8e5407403f78f3b09fe5af3e7a9222d19ba39
I hope this helps.

[2020-06-11 12:17] magento-engcom-team commented on #28476
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35110` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-11 12:31] m2-assistant[bot] opened #28685 "[Issue] 'Ship Here' in CamelCase as that's how it is written elsewhere"
This issue is automatically created based on existing pull request: magento/magento2#28547: 'Ship Here' in CamelCase as that's how it is written elsewhere

---------

### Preconditions (*)

In the checkout shipping address modal the text in the primary button was written with a lowercase 'h'. On all other places, and in the translation files, it is written with a capital: 'Ship Here'. As a result,

[2020-06-11 12:39] nrkapoor commented on #28565
@gallyamov @danielrenaud We can close this issue.

[2020-06-11 12:41] magento-engcom-team commented on #28685
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35113` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-11 12:44] anujeetphj opened #28686 "Magento2 controller_action_predispatch not working with Varnish enabled"
Magento  2.3.3
Varnish 6 enabled
Docker setup:

Below is my docker-compose.yml

[code]

I am trying to implement Force Login with controller_action_predispatch observer.
Below is my code:

app/code/Vendor/Module/etc/frontend/events.xml

[code]
app/code/Vendor/Module/Observer/FrontSendResponseBefore.php

[code]

**Expected Result:**
The pages are redirected to Login page when setting enabled

**Act

[2020-06-11 12:50] nrkapoor commented on #28578
@serhiyzhovnir @rogyar @paliarush This is another issue for this PR https://github.com/magento/magento2/pull/28316

[2020-06-11 13:17] swathishs commented on #28630
Hi @hemendraajmera , thank you for your report. According to the contributor's guide, Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop branch.
If you'd like to update the issue, please reopen it.

[2020-06-11 13:17] #28630 closed, assigned to swathishs

[2020-06-11 13:19] swathishs commented on #28612
@magento give me 2.4-develop instance

[2020-06-11 13:19] magento-engcom-team commented on #28612
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-11 13:49] alfredsgenkins commented on #28575
I believe this is related to `Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\Product\CollectionProcessor\StockProcessor` class.

For some reason it seems to return wrong value, despite adding only following lines to SQL QUERY:

[code]

I did reindex after disabling product, which did not help. Maybe my observations are wrong :)

[2020-06-11 13:51] cpartica commented on #28579
Soft dependencies:
- a module that contain a *.graphqls file shouldn't be dependent on Graphql module
- a *.graphqls file that extends (redeclares) an existing type declared in another module SHOULDN't be dependent on the Graphql module that declared the same type

Hard dependencies:
- a *.graphqls file that implements an existing interface declared in another module SHOULD be dependent on the Gra

[2020-06-11 13:52] sdzhepa opened #28688 "[TOOLS] Test Magento Instance Deployer"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-11 13:52] sdzhepa commented on #28688
@magento give me 2.4-develop instance

[2020-06-11 13:52] magento-engcom-team commented on #28688
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-11 13:54] alfredsgenkins commented on #28575
Maybe disabled products do not appear in `cataloginventory_stock_status`? I can only see `1` in `stock_status` column.

[2020-06-11 13:58] danielrenaud commented on #28565
Issue was already resolved: https://github.com/magento/magento2/commit/d788918891ff02ebdbeb8ca9b6cc1fab756719b9

[2020-06-11 13:58] #28565 closed, assigned to gallyamov

[2020-06-11 14:18] paales commented on #28257
@cpartica Great to see you're picking this up!

I think you should change something like:

'Same service' fields:

These fields come directly from the service and will not be distributed to multiple services.

- All 'Same service' fields should be required (e.g. https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/CatalogGraphQl/etc/schema.graphqls#L86)
- Relation fields should be

[2020-06-11 14:54] SamJUK commented on #28368
Can confirm this is happening also on `Mage CE 2.3.4-p2` where the installs shares the same Mysql host.

On our UAT env I've disabled the cron consumers, and replaced with custom crontab entries that start the multithreaded versions instead since they don't trigger the lock. And seems to be operation fine so far.

[code]

[2020-06-11 15:03] kanenas commented on #15187
In my Magento v.2.3.1 installation (with two languages) I have this error while trying to install an extension for Brands.

[code]

I wonder if this is the same issue.

[2020-06-11 15:37] striPe355 commented on #28675
@magento I am working on it

[2020-06-11 15:37] striPe355 commented on #28675
@magento add to contributors team

[2020-06-11 16:57] edward-simpson commented on #2780
If anyone comes across this issue looking for an answer - I've found this is normally caused when in developer mode, with insufficient permissions for the generated folder.  Locally I run `chmod -R 777 generated`, but this might not be the best solution if you're having this issue on a server

[2020-06-11 17:04] thesurenk opened #28690 "What is the recommended approach to enable CORS to access Magento REST APIs for localhost development?"
### Summary (*)

How to use Magento REST API's from a developer machine running web applications on their localhost when Magento server to be used is on their intranet or external.

With more emphasis on developing applications using REST APIs and headless, enabling dev teams accessing external Magento's APIs would be very helpful.

Often they come across CORS issues and had to go about fixing/all

[2020-06-11 17:51] florinm8 opened #28691 "Import History: Unable to download error report file"
### Preconditions (*)

1. Magento version: 2.3.5-p1
2. Issue was not reporoducing in version 2.3.3
3. Issue is caused by the addition of ``$this->_directoryHandle->delete($this->_destination);``
in ``\Magento\ImportExport\Model\Export\Adapter\Csv::destruct`` method. (the error file generated is deleted from disk before Validate action is finished)

### Steps to reproduce (*)

1. Login to admin are

[2020-06-11 17:52] sdzhepa commented on #27175
Due to no response https://github.com/magento/magento2/issues/27175#issuecomment-627661528 I am closing this issue.
 Business value is not clear. Magento Product Managers reject such changes

[2020-06-11 17:52] #27175 closed, assigned to nobody

[2020-06-11 18:14] striPe355 commented on #28675
@magento add to contributors team

[2020-06-11 18:14] striPe355 commented on #28675
@magento I am working on it

[2020-06-11 18:15] VladimirZaets commented on #28675
@magento coverage manual MC-199

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-11 18:16] VladimirZaets commented on #28675
@magento coverage manual MC-35059

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-11 18:18] VladimirZaets commented on #28675
@magento coverage manual MC-35059

Test Path:
app/code/magento/dsds/mftf/dsds/dd.xml

No need additional manual/automated case for regression.
The fix contains minor UI changes like alignment, move a couple of pixels, change color/style or so.
Was fully tested during pull request delivery, the report can be found as QA comment for PR on GitHub

[2020-06-11 18:19] bassplayer7 opened #28692 "CustomerData messages do not render"
### Preconditions (*)

1. Magento 2.3.5-p1

### Steps to reproduce (*)

1. Trigger error message here: `\Magento\CatalogInventory\Model\StockStateProvider::checkQuoteItemQty()` "The fewest you may purchase is %1" by adding something to cart that is less than the minimum product is configured for. For example, a bundled product, with a child product that has "Option Min Qty" of 2 but only entering

[2020-06-11 18:45] sidolov commented on #28691
@magento give me 2.4-develop instance

[2020-06-11 18:45] magento-engcom-team commented on #28691
Hi @sidolov. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-11 18:47] n2diving-dgx opened #28693 "IPv6 values of X_FORWARDED_FOR in sales orders are truncated to 32 characters."
### Preconditions (*)

1. Magento 2.4-develop
2. When customer is using IPV6 address, the x_forwarded_for IP might get saved only partially into sales_order and quote tables depending on the address str length.  Problem appears to be in the x_forwarded_for column length which currently is VARCHAR(32)
3. This seems to be a version of the error descripted in #10395 for REMOTE_IP
4. Known to exist in

[2020-06-11 18:47] magento-engcom-team commented on #28691
Hi @sidolov, here is your [Magento instance](https://i-28691-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28691-2-4-develop.instances.magento-community.engineering/admin_3e14](https://i-28691-2-4-develop.instances.magento-community.engineering/admin_3e14)
Login: `e2151d8d` Password: `00e9382c2552`
Instance will be terminated in up to 3 hours.

[2020-06-11 18:49] sidolov commented on #28691
@magento give me 2.4-develop instance

[2020-06-11 18:49] magento-engcom-team commented on #28691
Hi @sidolov. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-11 18:52] magento-engcom-team commented on #28691
Hi @sidolov, here is your [Magento instance](https://i-28691-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28691-2-4-develop.instances.magento-community.engineering/admin_007f](https://i-28691-2-4-develop.instances.magento-community.engineering/admin_007f)
Login: `240591f7` Password: `be585de14ffd`
Instance will be terminated in up to 3 hours.

[2020-06-11 19:10] magento-engcom-team opened #28694 "[TEST] DO NOT TOUCH"
Showing extra spacing in top navigation sub menu 2.3.5 issue

### Preconditions (*)
Magento 2.3.5

### Steps to reproduce (*)
1. Review the top navigation menu sub menu

### Expected result (*)
Everything is good

### Actual result (*)
All is bad :)

[2020-06-11 19:55] astvdurnev commented on #28221
@magento give me 2.4-develop instance

[2020-06-11 19:55] magento-engcom-team commented on #28221
Hi @astvdurnev. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-11 19:56] magento-engcom-team commented on #28221
Hi @astvdurnev, here is your [Magento instance](https://i-28221-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28221-2-4-develop.instances.magento-community.engineering/admin_f4c8](https://i-28221-2-4-develop.instances.magento-community.engineering/admin_f4c8)
Login: `a268848d` Password: `7efe6e44b5cc`
Instance will be terminated in up to 3 hours.

[2020-06-11 20:19] #28694 closed, assigned to nobody

[2020-06-11 20:25] magento-engcom-team opened #28695 "[TEST] DO NOT TOUCH"
Showing extra spacing in top navigation sub menu 2.3.5 issue

### Preconditions (*)
Magento 2.3.5

### Steps to reproduce (*)
1. Review the top navigation menu sub menu

### Expected result (*)
Everything is good

### Actual result (*)
All is bad :)

[2020-06-11 20:51] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-06-11 20:52] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-11 20:53] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_e59f](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_e59f)
Login: `62b1a60b` Password: `28f92b1c40cc`
Instance will be terminated in up to 3 hours.

[2020-06-11 21:07] lenaorobei opened #30101 "Create JPEG Exif writer for MediaGalleryMetadata module"
### Description (*)
Create the `\Magento\MediaGalleryMetadata\Model\Jpeg\Segment\WriteExif` class implmenting the `\Magento\MediaGalleryMetadataApi\Model\WriteMetadataInterface`. The class should add the metadata information to the image in exif format.

### Expected behavior (*)
1. Disable old media gallery in Store Configuration -> Advanced -> System
2. Go to Content -> Media Gallery
3. Upload a

[2020-06-11 21:22] magento-engcom-team commented on #27200
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-06-11 21:22] magento-engcom-team commented on #27200
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35127` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-11 23:09] sarjangautam commented on #15115
We are getting this issue in production with Magento Enterprise 233 code. After some investigation,  i have found this is happening for us in below scenario :

1. Customer has account with us (say General account) but do not have any address assigned yet.
2. They go through checkout process add add billing and shipping addresses
3. They tick Save in address book option for their address added in c

[2020-06-12 00:52] BarnyShergold commented on #12718
Please keep me updated too @chohanbhagchand - it's been 5 months since you assigned this - how is it progressing?

[2020-06-12 02:27] grichards opened #28697 "After Downgrading from 2.3.5-p1 to 2.3.4, I cannot run bin/magento (An abstract factory could not create an instance of magentoframeworkappdeploymentconfig(alias: Magento\Framework\App\DeploymentConfig).)"
### Preconditions (*)

1. 2.3.4
2. After downgrading from 2.3.5-p1

### Steps to reproduce (*)

1. Have 2.3.4
2. Upgrade to 2.3.5-p1
3. Downgrade to 2.3.4
4. Try to run bin/magento

### Expected result (*)

1. Get a list of command options.

### Actual result (*)

1. An abstract factory could not create an instance of magentoframeworkappdeploymentconfig(alias: Magento\Framework\App\DeploymentConfi

[2020-06-12 03:36] swathishs commented on #28691
@florinm8: Since the issue is duplicate. Please refer this ticket for your reference - https://github.com/magento/magento2/issues/28420

Hence closing the ticket

[2020-06-12 03:36] #28691 closed, assigned to swathishs

[2020-06-12 03:48] swathishs commented on #28656
@magento give me 2.4-develop instance

[2020-06-12 03:48] magento-engcom-team commented on #28656
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-12 03:49] magento-engcom-team commented on #28656
Hi @swathishs, here is your [Magento instance](https://i-28656-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28656-2-4-develop.instances.magento-community.engineering/admin_eebe](https://i-28656-2-4-develop.instances.magento-community.engineering/admin_eebe)
Login: `8ec2452d` Password: `3491f0e425f7`
Instance will be terminated in up to 3 hours.

[2020-06-12 04:29] LiamKarlMitchell opened #28698 "In WYSIWYG editor, i tags with class but no content are removed."
### Summary (*)
These are used for icons to be shown in some blocks/content and so editing the content causes the icons to be removed.

It probably removes empty spans as well but I have not tried this yet.

Duplicate of #21602 which was closed for no reason.
https://github.com/magefan/module-wysiwyg-advanced/issues/13
### Preconditions
Magento 2.3.0
Magento 2.4-develop

### Examples (*)
### Steps

[2020-06-12 05:48] swathishs commented on #28612
@Yuwei9291: Issue is not reproducible in Magento 2.4 develop instance
Please find the attachment below:

1. Configurable product:
![image](https://user-images.githubusercontent.com/58288685/84469178-11b36080-ac9e-11ea-87e6-e0441402c0f9.png)

2. Product detail page:
![image](https://user-images.githubusercontent.com/58288685/84469213-23950380-ac9e-11ea-9a26-d4f47d8ee534.png)

3. Cart page:
![image]

[2020-06-12 05:48] swathishs commented on #28612
@magento give me 2.3.5-p1 instance

[2020-06-12 05:48] magento-engcom-team commented on #28612
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-12 05:49] magento-engcom-team commented on #28612
Hi @swathishs, here is your [Magento instance](https://i-28612-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28612-2-3-5-p1.instances.magento-community.engineering/admin_ce7f](https://i-28612-2-3-5-p1.instances.magento-community.engineering/admin_ce7f)
Login: `cfbbaefc` Password: `320eda01258c`
Instance will be terminated in up to 3 hours.

[2020-06-12 06:04] LiamKarlMitchell commented on #28698
@magento give me 2.4-develop instance

[2020-06-12 06:04] magento-engcom-team commented on #28698
Hi @LiamKarlMitchell. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-12 06:05] magento-engcom-team commented on #28698
Hi @LiamKarlMitchell, here is your [Magento instance](https://i-28698-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28698-2-4-develop.instances.magento-community.engineering/admin_eb47](https://i-28698-2-4-develop.instances.magento-community.engineering/admin_eb47)
Login: `2c8b8d46` Password: `be56a0e9582a`
Instance will be terminated in up to 3 hours.

[2020-06-12 06:17] LiamKarlMitchell commented on #28698
Confirmed on 2.4-develop
![image](https://user-images.githubusercontent.com/1968109/84470985-8c996d00-acd8-11ea-98c8-2984e7662692.png)

Entered in the content in source editor.
[code]

Click the Show / Hide editor, wait a moment.
![image](https://user-images.githubusercontent.com/1968109/84471029-a1760080-acd8-11ea-9981-d83b692fa2fb.png)

Click the Show / Hide editor again to go back to source edi

[2020-06-12 06:23] LiamKarlMitchell commented on #28698
Issue: Confirmed

[2020-06-12 06:42] LiamKarlMitchell commented on #11116
It just needs to have better error message for developer to debug what is wrong... It should tell the filepath and line number at least.

[2020-06-12 06:50] bernd-reindl commented on #25754
This only works if $this->getOptions() returns the options array. But if you want to save the product without affecting the options (CanSaveCustomOptions is set inside the repository and product  initialization helper by the flag getOptionsReadonly) this wouldn't work.

The canAffectOptions flag determins if 'has_options' and 'required_options' should be changed. So these values can't be set at th

[2020-06-12 07:06] live4soccer7 commented on #7647
I am having this issue as well on 2.3.5-p1 and used the data-migration tool. The other thing you may want to check is if your sitemap is generating. I am receiving an error generating my sitemap, which I believe could be tied to this issue.

This solution worked to allow me to delete images, however there is still something amiss in the database values. Someone that is having this issue, please go

[2020-06-12 07:17] n2diving-dgx commented on #28614
We too have had severe problems with carding attacks (merchant account is Braintree, but I doubt that makes a difference.)   Settings on our merchant account can enable rate limiting, which will eventually cause the card validation to always decline and defeats the purpose of the attack, but doesn't stop directly the hammering of checkout and the merchant card processor with many attempts at valid

[2020-06-12 07:37] Yuwei9291 opened #28700 "Cart Price Rules based on Payment Method condition has wrong logic on cart page."
### Preconditions (*)

1.magento 2.3.5-p1

### Steps to reproduce (*)

1. Offline payment available, for instance, Bank transfer.
2. Another available payment method, such as paypal.
3. Generate a cart rule
[code]
Actions setting like this :
![actions](https://user-images.githubusercontent.com/45879513/84476143-50f2a900-acc0-11ea-950e-271c469a2004.png)
4. Add items to cart then go to cart page.

#

[2020-06-12 07:37] swapnilT2jcommerce commented on #26719
@magento I am working on this
--

[2020-06-12 07:37] swathishs commented on #28612
@Yuwei9291: Issue is reproducible in Magento 2.3.5-p1 instance

I have added 8 products and the first product has this problem

Please find the attachment :

1. Admin:
![image](https://user-images.githubusercontent.com/58288685/84476747-3a425700-acac-11ea-8a43-c807eb15f412.png)

2. Product detail page:
![image](https://user-images.githubusercontent.com/58288685/84476942-7f668900-acac-11ea-9890-ace

[2020-06-12 07:41] eurobeautiful commented on #28614
Thank you for your comments. I think adding adding ReCaptcha should be a last-resort measure. Specially when there are other low-hanging fruit opportunities.

The focus of my posting this issue is on the fact that Magento, during checkout, can check that all activity (requests) related to a specific cart are coming from a single IP (maybe cart can be associated with a PHP session ID).

This should

[2020-06-12 07:47] swathishs commented on #28612
Can be reproduced only on 2.3.5p1 but not on 2.4 develop instance

[2020-06-12 07:47] ioweb-gr opened #28701 "backend usability is slowed down when working with multiple tabs"
### Preconditions (*)
1. Magento 2.3.4+
2. Firefox

### Steps to reproduce (*)
1. Open multiple tabs (x5 at least) using middle wheel click or ctrl + click
2. Wait for the tabs to load

### Expected result (*)
1. All tabs load in the backround and I can work as soon as I switch to them

### Actual result (*)
1. It seems knockout ui components do not load entirely if the tab is out of focus.
2. As

[2020-06-12 07:50] magento-engcom-team commented on #28612
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35131` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-12 07:51] stkrelax commented on #23251
We have a similar issue but with module:disable

same problem as @scottsb said. Thanks for the Input btw...

We found the one resposible for this.
https://github.com/magento/magento2/blob/f3a160c2dc7a883dffdfbb5f268fa87087b639a5/setup/src/Magento/Setup/Console/CompilerPreparation.php#L91

[2020-06-12 08:01] n2diving-dgx commented on #28614
We tried various methods based on the IP. The carding software adapts within minutes, switching to using the same IP until that blocks, then switching to another.  Then we are playing 'whack-a-mole' in the Cloudflare WAF adding IP addresses.   Block Tor exit nodes, and they switch to anonymous VPN's. We tried all the other ideas mentioned here that were 'low hanging' fruit... some worked for a  fe

[2020-06-12 08:31] stkrelax commented on #24718
Reopening... either still missing or fix deleted.

When this is available in upcoming Release 2.3.4, why am I not seeing this fix in
module version magento/module-eav 102.0.5 which is used in magento 2.3.5.-p1 ?

Where is it gone ?

[2020-06-12 08:34] btekbtek commented on #28614
@n2diving-dgx  What about this 3D validation changed for smaller amount. Looks like its fixing issue. All out card attacks was with cards that use 3D

[2020-06-12 08:38] omarmohssen commented on #28419
Hi, please be aware that receiving the email is not the major issue here, but the subscriber's status is unsubscribed regardless the chosen option in the registration form!

[2020-06-12 08:43] sippsolutions opened #28702 "Region select field stays disabled after switching back from country without regions"
### Preconditions (*)

1. 2.3.5-p1 (B2B)

### Steps to reproduce (*)

1. Go to "company/account/create" (should also work if you enter an address in the checkout)
2. Select country "Germany" => select box with regions is visible (Berlin etc.)
3. Select country "Georgia" => select box is hidden, country input field is shown
4. Select country "Germany" again

### Expected result (*)

1. I can select

[2020-06-12 08:44] stkrelax opened #28703 "Unique Key on eav_attribute_option_value expected. Not in Release 2.3.5-p1"
### Preconditions (*)
#24718
1. as in the comments this fix was released in 2.3.4
https://github.com/magento/magento2/issues/24718#issuecomment-537933827
2. use magento 2.3.5-p1 composer installed

### Steps to reproduce (*)
1. have a look if the commits are there

https://github.com/magento/magento2/commit/502146f7f2d086b3a1beaea41de3edc488f78b3c

### Expected result (*)
1. Commits are there and

[2020-06-12 09:21] max21 commented on #3759
Hi,
It would appear that the error is still present on CE 2.3.4 and 2.3.5.
When we have a configurable product with text swatch options, tier-price on attached simple products not appears.

[2020-06-12 09:26] j-robin-hunter commented on #26719
Hi,

We have been looking into a problem where new group assignments have not been applied to an order, ie old group is still being used, and this looks like it is this same issue.

The difference is that we are not using re-order but just creating an new order after the group has been changed.

Looking at the customer_entity in the database this has clearly been changed to the new group but on th

[2020-06-12 09:50] n2diving-dgx commented on #28614
3D secure validation requires the card be enrolled by the cardholder in the card issuer's version of the 3D secure program... Visa Secure and Verified by Visa, American Express SafeKey, Mastercard Identity Check and Mastercard Securecode.   Unfortunately, North American cardholders (we are in the US) are far behind Europe (or anywhere else for that matter) in the issue of cardholder security becau

[2020-06-12 10:11] AnnaShepa commented on #28620
@magento give me 2.4-develop instance

[2020-06-12 10:11] magento-engcom-team commented on #28620
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-12 10:13] magento-engcom-team commented on #28620
Hi @AnnaShepa, here is your [Magento instance](https://i-28620-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28620-2-4-develop.instances.magento-community.engineering/admin_1f8a](https://i-28620-2-4-develop.instances.magento-community.engineering/admin_1f8a)
Login: `65227837` Password: `739eed0e12f1`
Instance will be terminated in up to 3 hours.

[2020-06-12 10:18] zeeshan2523806 commented on #28092
Hi, i can confirm this error is also being reproduced on other payment methods as well. any luck with the solution ?

[2020-06-12 10:30] AnnaShepa commented on #28620
@Eddcapone thank you for your report, I tried to reproduce according to your description, but I can see all reviews
![Screenshot 2020-06-12 at 12 28 56](https://user-images.githubusercontent.com/24183408/84493695-783d7c00-aca8-11ea-96e5-bfc55d529b62.png)

[2020-06-12 10:30] #28620 closed, assigned to sambath1293

[2020-06-12 10:41] MarcinJarowski commented on #25565
@taihuuho I'm having the same issue, what steps did you take?

[2020-06-12 11:06] m2-assistant[bot] opened #28705 "[Issue] Created config used for showing/hiding clear cart button on the shopping cart view page."
This issue is automatically created based on existing pull request: magento/magento2#27917: Created config used for showing/hiding clear cart button on the shopping cart view page.

---------
Created config used for showing/hiding a clear cart button on the shopping cart view page. Modified styles in the luma theme which hide the clear cart button.

### Preconditions (*)
By default button for clea

[2020-06-12 11:08] chequille commented on #28092
@zeeshan2523806
ok, but question: is on your site the order processed till the end or not as @LLudas reported?

This is a main difference, because on my site, I do only get this error message shown for a few seconds and afterwards it is going to PayPal site and I make my payment and get at the end the checkout success page.

How is it on your site?

[2020-06-12 11:13] JelleGroenendal opened #28706 "Page builder wont safe content if the content was copied from another page builder element"
### Preconditions (*)
1. Magento 2 EE 2.3.5-p1

### Steps to reproduce (*)
1. Create CMS page
2. Create a text element with page builder
3. Create a header element with page builder
4. Copy content of header element in to text element
5. Safe

### Expected result (*)
1. Page builder content is saved

### Actual result (*)
1. Infinite loading on save
2. Content is not saved
3. Console log error:
[E

[2020-06-12 11:35] magento-engcom-team commented on #28705
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-06-12 11:36] magento-engcom-team commented on #28705
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35138` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-12 12:12] ralbin commented on #28582
@nrkapoor I found If I deprecate this, the CustomerOrders will have issues. I decided to unassign this for now until I find a better way or maybe another dev can complete it before I get back to it.

[2020-06-12 12:46] swapnilT2jcommerce commented on #27848
Hi @petehouston ,

Yes, I have tried to replicate this case as mention steps and found that, it's working as expected.

If you go through Magento reference doc, you will understand the use of this option  **Any** or **Specific** of Cart Price Rule field in coupon report section.

https://docs.magento.com/user-guide/marketing/price-rules-cart-coupon-report.html

**Cart Price Rules** | Determines wh

[2020-06-12 13:24] magento-engcom-team commented on #28308
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35142` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-12 14:05] swapnilT2jcommerce opened #28708 "Enhancement to the Coupon report"
### Description (*)

The Current coupon code report enables users to extract a report with selected coupon code or Any/all codes.
Addition to this can be made to get the usability to select if user wants the report to include the rules with No coupon codes too.
This would also enables the user to see a combined report with all the rules used including and excluding Rules with No coupon codes.

###

[2020-06-12 15:05] bakennguyen commented on #13952
Hi, I can also confirm it is reproduced in 2.3.4-p2

### steps to reproduce:

- add items in your cart
- go to cart
- checkout with paypal
- go to review page
- click place Order, then quickly cancel page submission
- refresh review page

### observed behavior
an order is created with email notification
the review page is still available and user can place another order

### expected behavior
User

[2020-06-12 15:32] lenaorobei commented on #27200
Commit was cherry-picked and merge to 2.4.0 is in progress.

[2020-06-12 16:05] sdzhepa commented on #24393
Still actual for `2.4-develop`
[Order # 000000001.pdf](https://github.com/magento/magento2/files/4771879/Order.000000001.pdf)

[2020-06-12 16:08] sdzhepa commented on #24400
It looks like
Duplicate of #24348

[2020-06-12 16:53] SarojRam commented on #26870
@magento I am working on this

[2020-06-12 17:27] justinwatkins opened #28712 "Adding 2 million coupons to a cart discount rule breaks the Admin UI"
### Preconditions (*)

1. 2.3.4

### Steps to reproduce (*)

1. Create a cart price rule, set any condition, it's not relevant.  Setup to use dynamic coupon codes
2. Generate 2 million coupon codes using the Admin UI
3. Wait approximately 2 hours for the background process to complete

### Expected result (*)

1. The UI loads fine and you can page through the 2 million discount coupons

### Actual

[2020-06-12 17:28] justinwatkins commented on #28712
@magento give me 2.4-develop instance

[2020-06-12 17:28] magento-engcom-team commented on #28712
Hi @justinwatkins. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-12 17:30] magento-engcom-team commented on #28712
Hi @justinwatkins, here is your [Magento instance](https://i-28712-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28712-2-4-develop.instances.magento-community.engineering/admin_60de](https://i-28712-2-4-develop.instances.magento-community.engineering/admin_60de)
Login: `6aafee74` Password: `a50f482b9df9`
Instance will be terminated in up to 3 hours.

[2020-06-12 17:50] magento-engcom-team commented on #28488
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28417 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [6548d3cb259a741e08ed6a65dbc37f9b5f016a98](https://github.com/magento/magento2/commit/6548d3cb259a741e08ed6a65dbc37f9b5f016a98)
 - [96e2cc0b08d7dd4d6b0bd8625023d47007104074](https://github.com/magento/magento2/commit/96e2cc0b08d7dd4d6b0bd

[2020-06-12 17:50] #28488 closed, assigned to engcom-Charlie

[2020-06-12 17:50] magento-engcom-team commented on #28198
Hi @stradd. Thank you for your report.
The issue has been fixed in magento/magento2#28260 by @kishorenagalingam in 2.4-develop branch
Related commit(s):
 - [a06e9c04f6abf257863d7abe115b567f3fd2a035](https://github.com/magento/magento2/commit/a06e9c04f6abf257863d7abe115b567f3fd2a035)
 - [d0bcebae8741211afbefabef597ce6d4b556d8c5](https://github.com/magento/magento2/commit/d0bcebae8741211afbefabef597

[2020-06-12 17:50] #28198 closed, assigned to kishorenagalingam

[2020-06-12 19:04] zaximus84 commented on #27195
The problem is in \Magento\Shipping\Model\Order\Track::getNumberDetail. If a carrier instance can be loaded, the logic assumes it will have a getTrackingInfo method that will return a data object. When it doesn't, a phrase object is returned instead. A phrase object is fundamentally incompatible with Magento_Shipping::tracking/details.phtml.

When a carrier instance doesn't return tracking info, i

[2020-06-12 19:13] sdzhepa commented on #28479
Hello @IgorM92 @AbdulRahmanAbouzaid

Thank you for your report and collaboration!

This issue has been reviewed and discussed during the Triage Meeting with Magento Product Managers.

The results and resolution based on https://github.com/magento/magento2/issues/28479#issuecomment-640722555
-  `product_type` and `type_id`  are **reserved keys** in Magento that in use through a lot of functionality

[2020-06-12 20:26] AbdulRahmanAbouzaid commented on #28479
@sdzhepa
Thanks for your comment. I already provided this PR #28663 that updated the error message in that case.
Can you please review it?

[2020-06-12 20:41] vbuck commented on #27475
Following up on this to request attention.

Also, I checked "no" incorrectly to the reproduction steps. I _was_ able to reproduce it on a vanilla 2.3 instance.

[2020-06-12 21:13] VadimLugovoy commented on #28697
Have found a manual solution to fix this.
there needs to be removed laminas folder from vendor directory
and also vendor/bin/templatemap_generator.php file (cause it`s a hyper link to some file inside previous laminas folder).
then run **composer install**
, that there will be created zendframework inside vendor folder and all will work

The core of the issue that 2.3.5 version migrates to laminas

[2020-06-12 21:45] cesarlanz commented on #5580
Hi. I am having the same problem with Magento 2.3. I am following the tutorial: "Create configurable products" and it gives me error at this [point](https://devdocs.magento.com/guides/v2.3/rest/tutorials/configurable-product/define-config-product-options.html#link-the-simple-products-to-the-configurable-product). Any suggestion?

[2020-06-12 22:07] IgorM92 commented on #28479
@magento give me 2.4-develop instance

[2020-06-12 22:07] magento-engcom-team commented on #28479
Hi @IgorM92. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-12 22:08] magento-engcom-team commented on #28479
Hi @IgorM92, here is your [Magento instance](https://i-28479-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28479-2-4-develop.instances.magento-community.engineering/admin_b2ff](https://i-28479-2-4-develop.instances.magento-community.engineering/admin_b2ff)
Login: `b3b2b52a` Password: `7a51914455ac`
Instance will be terminated in up to 3 hours.

[2020-06-12 22:17] IgorM92 commented on #28479
@swathishs @AbdulRahmanAbouzaid @sdzhepa first i would like to apologise to all of you.

First of all i've realised that i have not provided in `Steps to reproduce` point 2 more information and `ELSE edit any of them and change anything` does not indicate to the problem i was facing.

**Overall** the issue i've stumbled across was that in admin panel i could not edit labels for attribute `product_

[2020-06-13 01:40] magento-engcom-team commented on #27489
Hi @hoangnm89. Thank you for your report.
The issue has been fixed in magento/magento2#27854 by @ProkopovVitaliy in 2.4-develop branch
Related commit(s):
 - [bdeb9343e3235a7b837d959abaf3d5dddbec12bc](https://github.com/magento/magento2/commit/bdeb9343e3235a7b837d959abaf3d5dddbec12bc)
 - [e2244427a280ce57de69d78b98bdba2ce25a9165](https://github.com/magento/magento2/commit/e2244427a280ce57de69d78b98

[2020-06-13 01:40] #27489 closed, assigned to ProkopovVitaliy, neerajchand

[2020-06-13 01:40] magento-engcom-team commented on #28308
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28264 by @kishorekumarkesavan in 2.4-develop branch
Related commit(s):
 - [6a69a8fadc050a77f443ba217446b064a5dfd6d0](https://github.com/magento/magento2/commit/6a69a8fadc050a77f443ba217446b064a5dfd6d0)
 - [877a017893a83810b1a73e556eb6737ef94ffa6f](https://github.com/magento/magento2/commit/877a017893a83810

[2020-06-13 01:40] #28308 closed, assigned to kishorekumarkesavan

[2020-06-13 01:40] magento-engcom-team commented on #26682
Hi @NathMorgan. Thank you for your report.
The issue has been fixed in magento/magento2#27338 by @amenk in 2.4-develop branch
Related commit(s):
 - [ea70c0ba65fd76c037c33ed77e1e1a40abbdb45a](https://github.com/magento/magento2/commit/ea70c0ba65fd76c037c33ed77e1e1a40abbdb45a)
 - [dcb59d31677bee2a9116bdab4ec17e1c1301b65a](https://github.com/magento/magento2/commit/dcb59d31677bee2a9116bdab4ec17e1c130

[2020-06-13 01:40] magento-engcom-team commented on #21101
Hi @eduard13. Thank you for your report.
The issue has been fixed in magento/magento2#27451 by @eduard13 in 2.4-develop branch
Related commit(s):
 - [11195fcf2c0b67ae150ed67efe1186acd6f64ca3](https://github.com/magento/magento2/commit/11195fcf2c0b67ae150ed67efe1186acd6f64ca3)
 - [3e18da8553e06c50a1967a1755e7e86ec6d914e1](https://github.com/magento/magento2/commit/3e18da8553e06c50a1967a1755e7e86ec6

[2020-06-13 01:40] #21101 closed, assigned to eduard13

[2020-06-13 01:40] magento-engcom-team commented on #26449
Hi @Puru2016. Thank you for your report.
The issue has been fixed in magento/magento2#27339 by @tna274 in 2.4-develop branch
Related commit(s):
 - [e7ff694959704cc0c570d330b70ee8c79855ad43](https://github.com/magento/magento2/commit/e7ff694959704cc0c570d330b70ee8c79855ad43)
 - [1071acfcea57b050d8ba432371455e2de09d723f](https://github.com/magento/magento2/commit/1071acfcea57b050d8ba432371455e2de09d

[2020-06-13 01:40] #26449 closed, assigned to shikhamis11

[2020-06-13 01:40] magento-engcom-team commented on #27099
Hi @premprakashprajapati. Thank you for your report.
The issue has been fixed in magento/magento2#27106 by @dipeshrangani in 2.4-develop branch
Related commit(s):
 - [706eee57d2fbd1d8105f09655d35a1e53c8c93bc](https://github.com/magento/magento2/commit/706eee57d2fbd1d8105f09655d35a1e53c8c93bc)
 - [017d9de10b507c7db9f4ca040d7b0ed85be32ac6](https://github.com/magento/magento2/commit/017d9de10b507c7db

[2020-06-13 01:40] #27099 closed, assigned to dipeshrangani

[2020-06-13 04:28] adamstapley commented on #28672
After more investigation it looks like it's an issue with line breaks being counted as two characters but only when you add to cart and not in the message below the text input field. Anybody have any ideas how to fix this?

[2020-06-13 04:52] #28672 closed, assigned to nobody

[2020-06-13 04:53] adamstapley commented on #28672
Looks like this was fixed  and will be part of 2.4 release

https://github.com/magento/magento2/commit/284e3edc3b97fb05c9f01b3e9932a542551fec87

[2020-06-13 05:12] sainialpana commented on #28664
@ajijshekh123

Are you working on this issue?

[2020-06-13 10:41] PsmIndia commented on #11995
we are also facing same issue after upgrade magento 2.3.4 now i am not able upload/delete/edit product image ?

[2020-06-13 11:16] Vishrootways commented on #18148
We are getting same issue with PayPal Pro, any solusion?

[2020-06-13 12:44] PsmIndia commented on #7647
working cool

[2020-06-13 13:24] fredden commented on #25498
This has been re-raised as https://github.com/magento/community-features/issues/216

[2020-06-13 13:53] nrkapoor commented on #28582
@ralbin We are working on customer orders that will be a part of the customer object. here is the schema.  https://github.com/magento/architecture/blob/master/design-documents/graph-ql/coverage/customer-orders.md

[2020-06-13 13:55] nrkapoor commented on #28582
@ralbin If you have already done the work please submit a PR and we will review.

[2020-06-13 14:06] jmonrove commented on #13823
Occurs on EE 2.3.5-p1 as well

`1 exception(s):
Exception #0 (Magento\Framework\Exception\StateException): The bucket doesn't exist.

Exception #0 (Magento\Framework\Exception\StateException): The bucket doesn't exist.
<pre>#1 Magento\CatalogStaging\Model\ResourceModel\Fulltext\Collection\Interceptor->___callParent() called at [vendor/magento/framework/Interception/Interceptor.php:138]
#2 Magento\

[2020-06-13 15:09] mrtuvn commented on #28624
duplicated issue The first raise already here
https://github.com/magento/magento2/issues/26498

[2020-06-13 15:27] Ig0r-M-magic42 commented on #28479
@magento give me 2.3.5-p1 instance

[2020-06-13 15:27] magento-engcom-team commented on #28479
Hi @Ig0r-M-magic42. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-13 15:29] magento-engcom-team commented on #28479
Hi @Ig0r-M-magic42, here is your [Magento instance](https://i-28479-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28479-2-3-5-p1.instances.magento-community.engineering/admin_4e07](https://i-28479-2-3-5-p1.instances.magento-community.engineering/admin_4e07)
Login: `abb3982d` Password: `a2c463f811a2`
Instance will be terminated in up to 3 hours.

[2020-06-13 17:16] HenKun commented on #28624
It's a different issue, but the PR seems to fix  anyways.

[2020-06-13 20:35] magento-engcom-team opened #28716 "[TEST] DO NOT TOUCH"
Showing extra spacing in top navigation sub menu 2.3.5 issue

### Preconditions (*)
Magento 2.3.5

### Steps to reproduce (*)
1. Review the top navigation menu sub menu

### Expected result (*)
Everything is good

### Actual result (*)
All is bad :)

[2020-06-13 20:37] #28716 closed, assigned to nobody

[2020-06-13 20:38] magento-engcom-team opened #28717 "[TEST] DO NOT TOUCH"
Showing extra spacing in top navigation sub menu 2.3.5 issue

### Preconditions (*)
Magento 2.3.5

### Steps to reproduce (*)
1. Review the top navigation menu sub menu

### Expected result (*)
Everything is good

### Actual result (*)
All is bad :)

[2020-06-13 20:51] #28717 closed, assigned to nobody

[2020-06-13 20:51] magento-engcom-team opened #28718 "[TEST] DO NOT TOUCH"
Showing extra spacing in top navigation sub menu 2.3.5 issue

### Preconditions (*)
Magento 2.3.5

### Steps to reproduce (*)
1. Review the top navigation menu sub menu

### Expected result (*)
Everything is good

### Actual result (*)
All is bad :)

The issue was exportd from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/MC-32503

[2020-06-13 20:53] magento-engcom-team opened #28719 "[TEST] DO NOT TOUCH"
Showing extra spacing in top navigation sub menu 2.3.5 issue

### Preconditions (*)
Magento 2.3.5

### Steps to reproduce (*)
1. Review the top navigation menu sub menu

### Expected result (*)
Everything is good

### Actual result (*)
All is bad :)

The issue was exportd from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/MC-32503

[2020-06-14 10:39] PsmIndia commented on #9466
i think this issue still there, we are move magento 1 to magento 2.3.4, we i am try to duplicate, its take too much time, finally request crashed but when i login back duplicate product created , log error see below..
--------------------------------------------------------------
[2020-06-13 13:12:11] main.CRITICAL: We couldn't copy file catalog/product/b/a/bana-02_1.jpg. Please delete media with

[2020-06-14 11:38] chhillarakul commented on #2713
Hi I am still encountering the above error. I am using POST request with the following parameters in the body section
`{"data":{"cartItem":{"productOption":{"extensionAttributes":{"customOptions":[]}},"qty":1,"quote_id":"1507026","sku":"FTW122019B3541","price":225}},"cartId":"1507026"}`

And I get the following output
`{
    "message": {
        "message": "No such entity with %fieldName = %fieldV

[2020-06-14 11:46] akulchhillar commented on #2713
Hi I am still encountering the above error. I am using POST request with the following parameters in the body section
{"data":{"cartItem":{"productOption":{"extensionAttributes":{"customOptions":[]}},"qty":1,"quote_id":"1507026","sku":"FTW122019B3541","price":225}},"cartId":"1507026"}

And I get the following output
{ "message": { "message": "No such entity with %fieldName = %fieldValue", "paramet

[2020-06-14 11:55] taqvi commented on #18251
Same issue in 2.3.3

[2020-06-14 12:08] LathropPreston commented on #6167
I am experiencing the same general issue. Simple products save in nominal time, however if I try to do even a simple configurable product. This is for a book store, we are wanting configureable products where the customer can choose the format of the text (Paperback, Hardcover, etc -there are a few-) but for any given product on that one option type there are only 2 in many cases and I think 6 max

[2020-06-14 19:03] #28695 closed, assigned to nobody

[2020-06-15 01:40] PsmIndia commented on #21885
2.3.4 duplicate images - issue not fixed

[2020-06-15 03:44] manishmittalm commented on #28705
Let me check this issue.

[2020-06-15 04:38] jalung commented on #21885
It does not work for most of us because we have in our import CSV the base name of the image, for example;
`base_image_78989.jpg ` but magento's existing images are named `/b/a/base_image_78989_10.jpg`. Unless there is a comparison between these two names on updating the product, this issue will persist.

[2020-06-15 05:22] swathishs commented on #28706
@magento give me 2.4-develop instance

[2020-06-15 05:22] magento-engcom-team commented on #28706
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-15 05:23] magento-engcom-team commented on #28706
Hi @swathishs, here is your [Magento instance](https://i-28706-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28706-2-4-develop.instances.magento-community.engineering/admin_effc](https://i-28706-2-4-develop.instances.magento-community.engineering/admin_effc)
Login: `65aa4622` Password: `bb129ed21e4d`
Instance will be terminated in up to 3 hours.

[2020-06-15 06:10] aholovan commented on #21264
I've got the same problem. It might be due to session expire (for example if catalog page opened for some time).
Related issue: https://github.com/magento/magento2/issues/26911

[2020-06-15 06:48] m2-assistant[bot] opened #28720 "[Issue] MFTF: Sharing Wishlist with more than allowed emails qty test"
**Preconditions:**

This issue is automatically created based on existing pull request: magento/magento2#28641: MFTF: Sharing Wishlist with more than allowed emails qty test

---------
This PR contains a test for sharing customer's wishlist with more than allowed emails qty

**Steps to reproduce:**

1 - Set maximum allowed qty of emails for sharing
2 - Login as a customer
3 - Add product into wish

[2020-06-15 07:04] magento-engcom-team commented on #28720
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35165` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-15 07:25] guido7171 commented on #21885
@PsmIndia @jalung
Check PR  https://github.com/magento/magento2/pull/26713
The PR comes with image hash compare logic, which is working fine (in my workflow) for the community version.

[2020-06-15 07:53] m2-assistant[bot] opened #28721 "[Issue] MFTF: Admin Deletes Customer's Wishlist Item Test"
**Preconditions:**

This issue is automatically created based on existing pull request: magento/magento2#28632: MFTF: Admin Deletes Customer's Wishlist Item Test

---------
This PR contains a test for deleting items from customer wishlist as Admin user.

**Steps to reproduce:**

1 - Add a created product into wishlist as a customer
2 - Login as admin user
3 - Find created customer on grid
4 - Find

[2020-06-15 08:08] psolovyov commented on #7869
Still happening on 2.3.5 with nginx.conf.sample

[2020-06-15 08:14] JithinJay commented on #22762
Can someone please review the PR, We have faced the same issue on orders paid with Magento store credit.

[2020-06-15 08:20] EngPeterMaged opened #28722 "how to debug magento ..?"
please i need to debug magento ..?
how to debug modules and web pages ..?
what is the tools the i need to debug magento 2.3.3 ?

[2020-06-15 08:37] nomis11uk commented on #18148
@numan20 fix worked for me in 2.3.5-p1

[2020-06-15 08:47] magento-engcom-team commented on #28721
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35169` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-15 09:12] Vishrootways commented on #18148
@nomis11uk can you please let us know which fix works for you? Can you please share solutions with us?

[2020-06-15 09:16] numan201 commented on #18148
@Vishrootways https://github.com/magento/magento2/issues/18148#issuecomment-435555218

[2020-06-15 09:45] Eddcapone commented on #15117
I face the same problem after upgrading from Open Source to Enterprise 2.3.5-p1

[2020-06-15 09:57] Eddcapone commented on #7652
Adding

custom_design_from
custom_design_to
custom_design
custom_layout

to the Default Attribute set, was solving it for me :)

[2020-06-15 10:35] swathishs commented on #28706
Hi @JelleGroenendal, all issue specific for Magento EE should be reported in the EE repo

@sdzhepa - It seems this issue specific for Magento EE and should be fixed in the EE repository.

EngCom team, please confirm and transfer this issue too-
https://github.com/magento/partners-magento2ee/issues

Closing this issue

[2020-06-15 10:35] #28706 closed, assigned to swathishs

[2020-06-15 10:41] krishprakash commented on #28722
Hi @EngPeterMaged.
GitHub issue tracker is intended for magento core technical issues only
Kindly refer [magento community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com/) for general discuss about this
Thanks !!

[2020-06-15 10:41] #28722 closed, assigned to krishprakash

[2020-06-15 10:45] sta1r commented on #28302
Elasticsearch 7.6+ is required. I saw the 'Could not validate a connection' message as above while running Elasticsearch 7.2, and resolved via:
[code]
then re-running `setup:install`. I didn't need to pass in any `--elasticsearch` parameters.

My local configuration of ES is I think just a vanilla install.

[2020-06-15 12:51] amenk commented on #28395
Is this intended behavior or a bug?

[2020-06-15 12:52] borishinzer commented on #28097
I can confirm this issue with PHP-FPM 7.2 and 7.3 on a CentOS7 machine with PHP from Plesk-Repos:
PHP 7.3:
ICU version => 50.1.2
ICU Data version => 50.1
ICU TZData version => 2018e
ICU Unicode version => 6.2

PHP 7.2:
ICU version => 50.1.2
ICU Data version => 50.1
ICU TZData version => 2018e
ICU Unicode version => 6.2

[2020-06-15 13:10] cosmicvibes commented on #11141
This is still the case on 2.3.4, please reopen.

[2020-06-15 14:03] GalichMolodothon commented on #26687
Could somebody clarify
I run bin/magento queue:consumers:start product_action_attribute.update and it started working.
We should run and configure it like cron? I could found information about it and that is so important.

[2020-06-15 14:12] magento-engcom-team commented on #28622
@lenaorobei Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/mage

[2020-06-15 14:15] magento-engcom-team commented on #28622
@lenaorobei Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2020-06-15 14:20] AnnaShepa commented on #28702
Hi @sippsolutions thank you for your report. I tried to reproduce your case, but every time dropdown list properly has been changed to text field and back. It looks like cache issue, please check your installation and cache settings. Althernahtivity you can try to reproduce the issue on clean magento installation and may be add some details how to reproduce the issue.

[2020-06-15 14:20] #28702 closed, assigned to swathishs

[2020-06-15 14:31] magento-engcom-team commented on #28622
@lenaorobei Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2020-06-15 14:34] zby745853073 commented on #28622
hello

| |
zby745853073
|
|
zby745853073@163.com
|
签名由网易邮箱大师定制
On 6/15/2020 22:33，Magento Community Engineering<notifications@github.com> wrote：

@lenaorobei Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:

Update issue content to follow format required by Issue Reporting Guidelines

Once all requir

[2020-06-15 14:46] magento-engcom-team commented on #28622
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35177` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-15 15:22] sdzhepa commented on #28096
Hello @engcom-Kilo

Could you please check it using the note from https://github.com/magento/magento2/issues/28096#issuecomment-632179719

[2020-06-15 15:29] sdzhepa commented on #27949
Hello @mrtuvn  @engcom-Delta @engcom-Kilo

Could you please provide more details about steps to reproduce
[code]

Which exact CLI commands or steps in Admin Panel were run. In which order

This information will help to Triage and prioritize  this issue quicker and easier

[2020-06-15 15:35] mrtuvn commented on #27949
You can follow this order
#1 enable developer mode via cli
#2 go to admin change less compilation to frontend instead server
#3 enable minify css

[2020-06-15 15:43] davidalger opened #28729 "Admin Login Unusable on PHP 7.4 Due to PHP Notices"
### Preconditions (*)

1. Magento marketplace keys with access to 2.4 alphas (to mimic my testing, which is installing from composer, not the git repo)
2. PHP Notice reporting is enabled (as it is by default in `app/bootstrap.php`)
3. Target environment is running PHP 7.4.x (my testing was running PHP 7.4.6)

### Steps to reproduce (*)

1. Install Magento 2.4.0-alpha9 on a web stack running PHP 7.

[2020-06-15 15:57] sdzhepa commented on #27351
Based on multiple comments above "non-issue", "expected behavior", "cannot reproduce"
we can close this issue

[2020-06-15 15:57] #27351 closed, assigned to nobody

[2020-06-15 16:40] leonhelmus commented on #28096
Hello @engcom-Kilo ,

i've got the same issue. I also have row_id/ entity_id different from eachother and no cross sells are shown on the frontend.

[2020-06-15 18:51] shashidharg opened #28730 "Unable to add to cart in CE 2.3.4 due to form_key value is always different"
### Preconditions (*)

1. Magento CE 2.3.5-p1 with sample data installed
2. Cache enabled
3. My local domain is http://mage2/

### Steps to reproduce (*)

1. Click on 'Add to Cart' on Product Page or Category Page
2. After page is loaded a message is shown 'Your session has expired'

### Expected result (*)

1. Item should be added to Cart/Basket

### Actual result (*)

1. Getting an error 'Your s

[2020-06-15 19:09] sportmma opened #28731 "Web scraping"
If I have created a module that will send a lot of inquiries to the warehouse about stock levels, prices, etc. magento 2 will be too burdened? I mean Web scraping module. It will download photos, descriptions, stocks, prices. It is better for the application to work as a magento 2 module or as a separate website?

[2020-06-15 19:17] nbennett25 opened #28732 "Allow dynamic date variable in Theme > Footer > Copyright"
### Description (*)
The ability to pass a year variable via the Theme Footer configuration

### Expected behavior (*)
1. Go to Content > Configuration > [ Select Theme ] > Click Edit > Footer > Copyright
2. Insert copy like 'Copyright {{date_Y}} Store Name, Inc.'
3. View the footer on the front end rendered as 'Copyright 2020 Store Name, Inc'

### Benefits
I would say most if not all stores requir

[2020-06-15 20:08] shashidharg commented on #28730
Not sure how, but all of a sudden this issue is not there now. I have not altered any configurations.
I am closing this issue as it is not occuring for me now.

[2020-06-15 20:22] hostep commented on #26687
@GalichMolodothon: the default Magento cron has a job called `consumers_runner` which should already spawn these consumer processes, so normally you only need to call `bin/magento cron:run`.

But that can change depending on your configuration of those consumers. See [the documentation](https://devdocs.magento.com/guides/v2.4/config-guide/mq/manage-message-queues.html#configuration) for this, the

[2020-06-15 20:45] sdzhepa commented on #27163
Hello @DaveSkirrow

This issue has been reviewed during the Triage meeting with Magento Product Managers.
After discussion, we cannot consider it as a bug or any kind of unexpected behavior.

Considering it as an improvement of feature request, a business value still unclear.

Such improvement possibly could have some value for a very rare situation or for a specific merchant but not for all.

[2020-06-15 20:45] #27163 closed, assigned to edenduong

[2020-06-15 20:45] magento-engcom-team commented on #27163
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-32174).

[2020-06-15 20:46] magento-engcom-team commented on #27163
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-32174).

[2020-06-15 20:46] magento-engcom-team commented on #27163
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-32174).

[2020-06-15 20:46] magento-engcom-team commented on #27163
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-32174).

[2020-06-15 20:47] magento-engcom-team commented on #27163
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-32174).

[2020-06-15 20:47] magento-engcom-team commented on #27163
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-32174).

[2020-06-15 20:57] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 20:58] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 20:58] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 20:59] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 20:59] magento-engcom-team commented on #28675
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35090` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-15 20:59] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:00] #28675 closed, assigned to striPe355, VladimirZaets

[2020-06-15 21:00] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:00] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:01] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:01] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:01] VladimirZaets opened #28734 "TEST ISSUE"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-15 21:02] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:02] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:03] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:03] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:04] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:04] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:05] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:05] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:06] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:06] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:07] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:07] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:08] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:08] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:09] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:10] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:10] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:11] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:11] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:12] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:12] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:13] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:13] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:13] magento-engcom-team commented on #26504
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-30875).

[2020-06-15 21:14] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:14] magento-engcom-team commented on #26504
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-30875).

[2020-06-15 21:14] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:14] magento-engcom-team commented on #26504
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-30875).

[2020-06-15 21:15] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:15] magento-engcom-team commented on #26504
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-30875).

[2020-06-15 21:15] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:15] magento-engcom-team commented on #26504
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-30875).

[2020-06-15 21:16] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:16] magento-engcom-team commented on #26504
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-30875).

[2020-06-15 21:16] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:17] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:17] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:18] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:18] magento-engcom-team commented on #28675
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35090).

[2020-06-15 21:31] #28734 closed, assigned to nobody

[2020-06-15 21:31] VladimirZaets opened #28736 "TEST ISSUE 2"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-15 21:44] danhort commented on #28610
@joinso  It seems the attribute "custom_layout_update_file" had been introduced in M2.3.4. If you have recently upgraded from a version prior to this and not performed a re-indexation of the Category Flat Data this column would be missing in the catalog_category_flat_store_ table and therefore throwing the error above when the mviews are processed. Reindexing will regenerate the table with the cor

[2020-06-15 22:38] magento-engcom-team commented on #26723
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31173).

[2020-06-15 23:36] leonhelmus commented on #28096
This patch solved it for me. Does this solve your issue @sdzhepa
[code]

[2020-06-16 00:39] magento-engcom-team commented on #28622
Hi @m2-backlog[bot], @lbajsarowicz, @sivaschenko.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.4.1` release.

[2020-06-16 00:39] #28622 closed, assigned to lbajsarowicz, sivaschenko

[2020-06-16 03:48] Techytt commented on #28337
@magento-engcom-team anyone working on this????

[2020-06-16 04:31] swathishs commented on #28731
@sportmma: Thank you for your report. For GitHub issue tracker is for Magento core technical issues only
Kindly refer https://community.magento.com/ or https://magento.stackexchange.com/ for general discussion

[2020-06-16 04:39] darshanperpule commented on #28384
Hi @PivitParkour94

I am also facing a similar issue. I have catalog rules for an active website apart from the default website. When catalog rule indexing runs, it throws an error `Catalog rule indexing failed. See details in exception log.`. When i saw in exception.log file, it's logging an exception like `Unknown or bad timezone () {"exception":"[object] (Exception(code: 0): DateTimeZone::__con

[2020-06-16 04:41] #28731 closed, assigned to swathishs

[2020-06-16 04:54] chirag-taraviya commented on #27252
Same problem on Magento 2.3.4

[2020-06-16 05:27] PivitParkour94 commented on #28384
@darshanperpule the quick fix I am using is to get the value for the default config and setting it on the specific store view. It's a shame the fallback isn't working properly.

[2020-06-16 06:01] joinso commented on #28610
Thanks, @danhort !
It works!

Regards,
Jordi
JOINSO

[2020-06-16 06:03] #28736 closed, assigned to nobody

[2020-06-16 06:03] VladimirZaets opened #28737 "TEST 03"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-16 06:07] swathishs commented on #28656
@phongphanmage : Issue is reproducible in Magento 2.4 develop instance
Please find the attachment below:

1. **Admin:**
![inline](https://user-images.githubusercontent.com/58288685/84737440-92879a80-afc5-11ea-932b-f85fce0d40fd.png)

2. **Frontend:**
![inline2](https://user-images.githubusercontent.com/58288685/84737502-adf2a580-afc5-11ea-8fba-a3b30297d360.png)

3. API response:
![inline3](https://

[2020-06-16 06:08] #28737 closed, assigned to nobody

[2020-06-16 06:08] VladimirZaets opened #28738 "TEST 04"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-16 06:08] magento-engcom-team commented on #28738
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2020-06-16 06:08] magento-engcom-team commented on #28656
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35193` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-16 06:09] magento-engcom-team commented on #28656
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35193).

[2020-06-16 06:09] magento-engcom-team commented on #28656
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35193).

[2020-06-16 06:09] magento-engcom-team commented on #28656
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35193).

[2020-06-16 06:10] magento-engcom-team commented on #28656
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35193).

[2020-06-16 06:11] magento-engcom-team commented on #28656
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35193).

[2020-06-16 06:11] magento-engcom-team commented on #28656
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35193).

[2020-06-16 06:12] magento-engcom-team commented on #28656
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35193).

[2020-06-16 06:12] magento-engcom-team commented on #28656
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35193).

[2020-06-16 06:13] magento-engcom-team commented on #28656
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35193).

[2020-06-16 06:13] swathishs commented on #28270
Hi @pixiemediaweb
Feel free to reopen once you update the comment
Thanks !!

[2020-06-16 06:17] swathishs commented on #28448
@madonzy: Thank you for your contribution and collaboration. Since this is the default behavior of Magento. I think your issue can be approved only like a feature request.
So it is not for this tracker.
Hello @sdzhepa . Could you transfer this issue to the feature requests repository?

[2020-06-16 07:03] zbigniewKurasLM commented on #28471
The issue is reproducible in Magento 2.3.5-p1 instance. There is a missing update handle in
`vendor/magento/module-inventory-low-quantity-notification-admin-ui/view/adminhtml/layout/inventorylowquantitynotification_report_exportlowstockcsv.xml`
To fix this issue you have to add:
`<update handle="inventorylowquantitynotification_lowstock_grid"/>`

[2020-06-16 07:08] pixiemediaweb commented on #28270
@swathishs - you need to use the attribute ID and value ID in the hash.  It will look something like #123=56 where 123 is the attribute ID for colour and 56 is the value for red

[2020-06-16 07:12] zbigniewKurasLM commented on #28471
The issue is reproducible in Magento 2.3.5-p1 instance. There is a missing update handle in
`vendor/magento/module-inventory-low-quantity-notification-admin-ui/view/adminhtml/layout/inventorylowquantitynotification_lowstock_grid.xml`
To fix this issue you have to add:
`<update handle="reports_report_product_lowstock"/>`

[2020-06-16 07:43] advcha commented on #27140
I found this variable `$this->mapProviders` is empty. not sure what happened. I solved this problem by modifying the core magento file in /vendor/magento/module-catalog/Model/ProductLink/CollectionProvider.php. In `getMap` function, add this after `if (!$types) {...}`. So it'd be:
[code]

I know this fix not clean as magento way. let me know if there is a better fix.

[2020-06-16 07:48] advcha commented on #27303
I found this variable `$this->mapProviders` is empty in /vendor/magento/module-catalog/Model/ProductLink/CollectionProvider.php file. This caused the problem. not sure what happened. I solved this problem by modifying the core magento file in /vendor/magento/module-catalog/Model/ProductLink/CollectionProvider.php. In `getMap` function, add this after `if (!$types) {...}`. So it'd be:

[code]
You n

[2020-06-16 08:53] dni commented on #28132
same issue here, any news?

[2020-06-16 09:25] mattijv opened #28740 "mageUtils.convertToMomentFormat does not convert lowercase "m" to moment format"
### Preconditions (*)
1. Magento 2.4-develop

### Steps to reproduce (*)

1. Call mageUtils.convertToMomentFormat (lib/web/mage/utils/misc.js) with a date format that includes a lower case "m".
https://github.com/magento/magento2/issues/28740#issuecomment-644656245

### Expected result (*)
1. A valid moment.js format is returned.

### Actual result (*)
1. Invalid moment.js format is returned.
![im

[2020-06-16 09:41] mattijv commented on #28740
Easiest way to reproduce the issue is to open the developer tools javascript console on any Magento site and writing the following
[code]
which should output "DD.m.YYYY" in the console, whereas the expected result would be "DD.M.YYYY".

[2020-06-16 09:48] tdgroot commented on #22375
@magento I am working on it

[2020-06-16 10:32] paul-gene commented on #4432
This is still an issue in 2.3. Please re-open.

[2020-06-16 10:42] MarianMates opened #28741 "Incorrect Item count on product listing"
### Preconditions (*)

1. Magento 2.3.5
2. Elasticsearch 6.8.6
3. Stores -> Configuration -> Catalog -> Catalog Search -> Search Engine = Elasticsearch 6.0+

### Steps to reproduce (*)

1. Create a bundle product without assigned options
2. Assign the product to a category
3. On the frontend, go to that category

### Expected result (*)

The bundle product is not displayed because it does not have

[2020-06-16 10:48] mattijv opened #28742 "Vertex_AddressValidation breaks checkout on IE11 due to the use of Object.entries"
### Preconditions (*)
1. M2.3.5-p1 (untested on other versions).
2. Vertex_AddressValidation enabled.
3. IE11 as the browser.

### Steps to reproduce (*)
1. Add an item into the cart.
2. Navigate to checkout.

### Expected result (*)
1. Checkout works without errors in the console.

### Actual result (*)
1. Error in the console "Object doesn't support property or method 'entries'".

### Notes
This

[2020-06-16 10:52] swathishs commented on #28742
@magento give me 2.3.5-p1 instance

[2020-06-16 10:52] magento-engcom-team commented on #28742
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-16 10:53] magento-engcom-team commented on #28742
Hi @swathishs, here is your [Magento instance](https://i-28742-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28742-2-3-5-p1.instances.magento-community.engineering/admin_e87c](https://i-28742-2-3-5-p1.instances.magento-community.engineering/admin_e87c)
Login: `9c10c339` Password: `1092453e9202`
Instance will be terminated in up to 3 hours.

[2020-06-16 11:08] magento-engcom-team commented on #28580
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-23769).

[2020-06-16 11:08] magento-engcom-team commented on #28580
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-23769).

[2020-06-16 11:09] magento-engcom-team commented on #28580
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-23769).

[2020-06-16 11:09] magento-engcom-team commented on #28580
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-23769).

[2020-06-16 11:10] magento-engcom-team commented on #28580
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-23769).

[2020-06-16 11:10] pmarjan commented on #28580
The above mentioned AbstractExtensibleModel will ignore all attributes that are not relevant to the product. One reason for that to happen is that the attribute has not been assigned to the attribute set that the product is assigned to.

[2020-06-16 11:10] magento-engcom-team commented on #28580
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-23769).

[2020-06-16 11:12] magento-engcom-team commented on #28567
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34502).

[2020-06-16 11:13] magento-engcom-team commented on #28567
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34502).

[2020-06-16 11:13] magento-engcom-team commented on #28567
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34502).

[2020-06-16 11:14] magento-engcom-team commented on #28567
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34502).

[2020-06-16 11:14] magento-engcom-team commented on #28567
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34502).

[2020-06-16 11:15] magento-engcom-team commented on #28567
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34502).

[2020-06-16 11:16] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-24875).

[2020-06-16 11:16] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-21569).

[2020-06-16 11:17] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-24875).

[2020-06-16 11:17] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-21569).

[2020-06-16 11:17] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-24875).

[2020-06-16 11:17] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-21569).

[2020-06-16 11:18] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-24875).

[2020-06-16 11:18] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-21569).

[2020-06-16 11:18] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-24875).

[2020-06-16 11:18] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-21569).

[2020-06-16 11:19] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-24875).

[2020-06-16 11:19] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-21569).

[2020-06-16 11:19] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-24875).

[2020-06-16 11:19] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-21569).

[2020-06-16 11:20] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-24875).

[2020-06-16 11:20] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-21569).

[2020-06-16 11:20] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-24875).

[2020-06-16 11:20] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-21569).

[2020-06-16 11:21] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-24875).

[2020-06-16 11:21] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-21569).

[2020-06-16 11:21] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-24875).

[2020-06-16 11:21] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-21569).

[2020-06-16 11:22] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-24875).

[2020-06-16 11:22] magento-engcom-team commented on #24922
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-21569).

[2020-06-16 11:27] m2-assistant[bot] opened #28744 "[Issue] MFTF: Storefront Disabled Customer Wishlist Functionality Test"
This issue is automatically created based on existing pull request: magento/magento2#28635: MFTF: Storefront Disabled Customer Wishlist Functionality Test

---------
**Preconditions:**

This PR contains a test for disabling Wishlist functionality.
Wishlist Functionality is disabled in system configurations and should be not visible on FE

**Steps to reproduce:**
1 - Disable Wishlist in configs ( G

[2020-06-16 11:28] matthewhaworth commented on #28741
@magento give me 2.3.5 instance

[2020-06-16 11:28] magento-engcom-team commented on #28741
Hi @matthewhaworth. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-06-16 11:29] magento-engcom-team commented on #28741
Hi @matthewhaworth, here is your [Magento instance](https://i-28741-2-3-5.instances.magento-community.engineering).
Admin access: [https://i-28741-2-3-5.instances.magento-community.engineering/admin_968d](https://i-28741-2-3-5.instances.magento-community.engineering/admin_968d)
Login: `8a27a083` Password: `52b5e40e3a23`
Instance will be terminated in up to 3 hours.

[2020-06-16 11:50] swathishs commented on #28741
@matthewhaworth: Issue is not reproducible in Magento 2.3.5-p1 instance.
Please find the attachment below:

1. **Bundle product :**
![image](https://user-images.githubusercontent.com/58288685/84770236-cded8d80-aff4-11ea-8aed-4ed4e53af182.png)

2. Frontend:
![image](https://user-images.githubusercontent.com/58288685/84770302-f1183d00-aff4-11ea-9b1c-6dc1306b37ee.png)

Could you please update me with

[2020-06-16 12:01] magento-engcom-team commented on #28744
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35199` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-16 12:17] MarianMates commented on #28741
One of the preconditions is using ElasticSearch as a search engine, I have updated the initial post for more clarity.
Stores -> Configuration -> Catalog -> Catalog Search -> Search Engine is using MySQL by default and needs to be changed for this issue.

[2020-06-16 12:19] shikhamis11 commented on #28732
@magento give me 2.4-develop instance

[2020-06-16 12:19] magento-engcom-team commented on #28732
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-16 12:21] magento-engcom-team commented on #28732
Hi @shikhamis11, here is your [Magento instance](https://i-28732-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28732-2-4-develop.instances.magento-community.engineering/admin_0638](https://i-28732-2-4-develop.instances.magento-community.engineering/admin_0638)
Login: `e5ce57b2` Password: `4d9955047dd6`
Instance will be terminated in up to 3 hours.

[2020-06-16 12:23] shikhamis11 commented on #28732
Hi @nbennett25
for fast processing of this issue please create this  on Community feature repository.
Thanks
https://github.com/magento/community-features

[2020-06-16 12:23] #28732 closed, assigned to shikhamis11

[2020-06-16 12:40] DuckThom commented on #28697
I ran into the same issue earlier this month. I solved it by removing my vendor folder and running `composer install` again.

As @VadimLugovoy pointed out, laminas is the main issue. It's marked as a replacement for the zendframework packages in composer but the laminas packages are not providing the same namespace for the zend classes. So while composer thinks it can keep, for example, `laminas/l

[2020-06-16 12:43] magento-engcom-team commented on #28376
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35202` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-16 12:45] swathishs commented on #28741
@MarianMates : I have changed search engine -  Elasticsearch 7.0+ which was working in Magento 2.3.5p1 instance

Attachments:
![image](https://user-images.githubusercontent.com/58288685/84775726-2e80c880-affd-11ea-9794-c1b9ebbd4caf.png)
![image](https://user-images.githubusercontent.com/58288685/84775768-37719a00-affd-11ea-8cec-068f30af8b40.png)
![image](https://user-images.githubusercontent.com/5

[2020-06-16 13:00] MarianMates commented on #28741
Yes, I have check it and the issue is not reproducing. Possibly an ElasticSearch 6+ problem, will investigate more and upgrade if necessary. Thank you.

[2020-06-16 13:04] #28741 closed, assigned to swathishs

[2020-06-16 13:17] magento-engcom-team commented on #28319
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35203` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-16 13:39] anujeetphj commented on #28686
Did anyone looked into my issue?

[2020-06-16 13:48] HenKun commented on #21885
I can confirm #26713 is working fine on 2.3.5-p1. Since this seems to be an endless issue, here the link to the correct application of this patch via composer: https://devdocs.magento.com/guides/v2.4/comp-mgr/patching.html

[2020-06-16 13:51] magento-engcom-team commented on #26797
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31471).

[2020-06-16 13:51] magento-engcom-team commented on #26797
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31471).

[2020-06-16 13:52] magento-engcom-team commented on #26797
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31471).

[2020-06-16 13:52] magento-engcom-team commented on #26797
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31471).

[2020-06-16 13:53] magento-engcom-team commented on #26797
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31471).

[2020-06-16 13:53] magento-engcom-team commented on #26797
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31471).

[2020-06-16 13:56] TOIVI291 commented on #10580
Still not working for nl_NL in 2.3.4

[2020-06-16 13:56] paugnu commented on #23668
Hi,
In my case, to create a new invoice, I've created a class based on the Paypal Ipn.php class (this is my code: https://github.com/catgento/magento-2-redsys/blob/master/Controller/Result/Index.php#L238)

On the other hand, I have an observer using the event: sales_order_invoice_register. When an order is made with Paypal, the invoice id is there. When the order is created paying with my module,

[2020-06-16 14:05] dverkade commented on #28471
I can confirm we have this issue on Magento 2.3.5 and Magento 2.3.5-p1 as well.

[2020-06-16 14:05] Eddcapone commented on #28620
Thank you for testing, so I guess the error is resolved in 2.4

[2020-06-16 14:15] magento-engcom-team commented on #26105
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-29903).

[2020-06-16 14:16] magento-engcom-team commented on #26105
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-29903).

[2020-06-16 14:16] magento-engcom-team commented on #26105
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-29903).

[2020-06-16 14:17] magento-engcom-team commented on #26105
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-29903).

[2020-06-16 14:17] magento-engcom-team commented on #26105
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-29903).

[2020-06-16 14:18] magento-engcom-team commented on #26112
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-29927).

[2020-06-16 14:18] magento-engcom-team commented on #26105
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-29903).

[2020-06-16 14:18] magento-engcom-team commented on #26112
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-29927).

[2020-06-16 14:19] magento-engcom-team commented on #26112
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-29927).

[2020-06-16 14:19] magento-engcom-team commented on #26112
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-29927).

[2020-06-16 14:20] magento-engcom-team commented on #26112
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-29927).

[2020-06-16 14:20] magento-engcom-team commented on #26112
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-29927).

[2020-06-16 14:27] magento-engcom-team commented on #28563
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-18346).

[2020-06-16 14:28] magento-engcom-team commented on #28563
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-18346).

[2020-06-16 14:28] mharron-adobe commented on #28132
Issue Update from Magento: This issue will be resolved in Magento 2.3.5-p2 and 2.4.0, which will be released in early August.  You can also reach out to magento@klarna.com for support with this issue in the meantime.

[2020-06-16 14:28] magento-engcom-team commented on #28563
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-18346).

[2020-06-16 14:29] magento-engcom-team commented on #28569
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34187).

[2020-06-16 14:29] magento-engcom-team commented on #28563
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-18346).

[2020-06-16 14:29] magento-engcom-team commented on #28569
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34187).

[2020-06-16 14:29] magento-engcom-team commented on #28563
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-18346).

[2020-06-16 14:30] magento-engcom-team commented on #28569
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34187).

[2020-06-16 14:30] magento-engcom-team commented on #28563
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-18346).

[2020-06-16 14:30] magento-engcom-team commented on #28569
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34187).

[2020-06-16 14:31] magento-engcom-team commented on #28569
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34187).

[2020-06-16 14:31] magento-engcom-team commented on #28569
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34187).

[2020-06-16 14:33] magento-engcom-team commented on #26830
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31440).

[2020-06-16 14:33] magento-engcom-team commented on #26830
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31440).

[2020-06-16 14:34] magento-engcom-team commented on #26830
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31440).

[2020-06-16 14:34] magento-engcom-team commented on #26830
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31440).

[2020-06-16 14:35] magento-engcom-team commented on #26830
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31440).

[2020-06-16 14:35] magento-engcom-team commented on #26830
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-31440).

[2020-06-16 14:38] dverkade commented on #28471
I've identified this is en issue with the Magento_InventoryLowQuantityNotificationAdminUi module from Magento MSI / Inventory. Will raise a ticket in that project.

[2020-06-16 14:45] magento-engcom-team commented on #28567
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34502).

[2020-06-16 14:45] magento-engcom-team commented on #28567
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34502).

[2020-06-16 14:46] magento-engcom-team commented on #28567
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-34502).

[2020-06-16 14:51] magento-engcom-team commented on #28656
:x: Something went wrong. Cannot update Jira issue (https://jira.corp.magento.com/browse/MC-35193).

[2020-06-16 14:58] mrtuvn commented on #28729
@davidalger this class also recall in https://github.com/magento/magento2/issues/28081 by @lbajsarowicz
Seem a quite lot of files got error in php7.4

[2020-06-16 15:00] lbajsarowicz commented on #28729
Ouch. That was reported during PHP 7.4 migration to Core Team, that we need to stabilize such.
I'll check what we can do now with these.

[2020-06-16 15:22] CsSatter commented on #24654
Hi,
We're currently also encountering this issue. @archonkulis @devendrant, have two been able to find a solution to this issue? A fix for this issue would be for to have
`$quote->setCustomerIsGuest(false)` place in a method that would make this relevant. I.e. when you login and merge the quote.

Will provide a solution / PR if you haven't been able to solve this :)

[2020-06-16 16:23] devendrant commented on #24654
@CsSatter we are still looking for a fix, please share with us the solution in detail

[2020-06-16 17:03] shashidharg commented on #28730
Hello team,

I am again facing this issue so reopening it. I am not sure how it started working yesterday, and why now suddenly it stopped working.

Regards,
Shashidhar.G

[2020-06-16 17:51] grichards commented on #28697
Thanks for your comments @VadimLogovoy and @DuckThom.

After I remove vendor and or only vendor/laminas, then run composer install... the laminas folders just reinstall themselves, despite my having switched my magento version in composer.json down to 2.3.4.

[2020-06-16 18:01] grichards commented on #28697
Looks like I had to run composer update instead of install after removing /vendor... I wonder why.

[2020-06-16 18:49] sdzhepa commented on #28132
Hello @jorgb90 @dni @BenItt
fyi: @mharron-adobe

Based on https://github.com/magento/magento2/issues/28132#issuecomment-644801670 the issue has been fixed. The fix will be available in 2.3.5-p2 and 2.4.0 releases.

To avoid double work, I close this issue.

[2020-06-16 18:49] #28132 closed, assigned to nobody

[2020-06-16 18:54] rendyep commented on #26582
I'm unable to reproduce above issue in Magento 2.4-develop branch with custom module.

Below is the code of the custom module: [http://www.mediafire.com/file/ev813ldhnhsolpl/rendyep.tar.gz/file]()

Extract the compressed file, put it on `app/code/`, enable the module (`Rendyep_Test`), run the upgrade script, and execute `bin/magento rendyep:test:test` from terminal to see the result. The result ca

[2020-06-16 19:43] magento-engcom-team commented on #28738
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2020-06-16 20:16] magento-engcom-team commented on #28738
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2020-06-16 20:18] NicholasRoge opened #28748 "[Issue] Virtual Product Prices Included in Shipping Request's Package Physical Value"
### Preconditions (*)

1. Magento Version:  2.3.5-p1
2. Confirmed on the latest `2.4-develop` https://github.com/magento/magento2/issues/28748#issuecomment-646483593

### Steps to reproduce (*)

1. On the backend
    1. Create and enable a virtual product with some price > 0
    2. Create and enable a simple product
2. On the frontend
    1. Add the previously created virtual product and simple pr

[2020-06-17 03:28] n1cehua1991 commented on #28428
@pitbulk The section may be updated only by POST or PUT form submitting or AJAX request,you action `sso/saml2/acs` is not ajax request,so section is not load.

[2020-06-17 04:48] swathishs commented on #28748
@magento give me 2.3.5-p1 instance

[2020-06-17 04:48] magento-engcom-team commented on #28748
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-17 04:50] magento-engcom-team commented on #28748
Hi @swathishs, here is your [Magento instance](https://i-28748-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28748-2-3-5-p1.instances.magento-community.engineering/admin_9330](https://i-28748-2-3-5-p1.instances.magento-community.engineering/admin_9330)
Login: `5d6e4d55` Password: `b81dc0eb5093`
Instance will be terminated in up to 3 hours.

[2020-06-17 06:36] ihor-sviziev commented on #28697
@grichards you have to remove /vendor directory as downgrading sometimes fails when vendor folder exists (bug might not fail), also you need to update your composer.lock (using composer update), as `composer install` command just reads and installs what package versions you have in the composer.lock file.

[2020-06-17 06:38] ihor-sviziev commented on #28703
Fix was reverted in https://github.com/magento/magento2/commit/e1958fece28f2726d2d7cb6a48b1b25cb5b3862e.
@lenaorobei @slavvka could you add more info why it was reverted?

[2020-06-17 06:41] ihor-sviziev commented on #28693
Should be fixed by https://github.com/magento/magento2/pull/27221

[2020-06-17 07:11] DuckThom commented on #28697
Ah yes, now that you mention it, it was a `composer update` that fixed it for me aswell.

To me, it mainly looks like an issue with laminas as the packages are currently marked as being a "drop-in replacement" but the different namespaces are causing it to break if not all zendframework packages are replaced with their laminas alternatives.

[2020-06-17 07:13] kardi31 opened #28750 "Custom update layout XML not applied to product page in 2.3.5-p1"
### Preconditions (*)

2.3.5-p1

### Steps to reproduce (*)

1. Create product view layout file app/code/{Namespace}/{Module}/view/frontend/layout/catalog_product_view_selectable_{productIdentifier}_removebreadcrumbs.xml with content `<referenceBlock name="breadcrumbs" remove="true" />`
2. Go to product page in admin panel, in design section apply `removebreadcrumbs` custom layout update.
3. Go to

[2020-06-17 07:55] engcom-Echo commented on #28374
Hi @webgility-amazonapi, I'm closing this PR now due to inactivity.
Please reopen and update if you wish to continue.
Thank you for your collaboration.

[2020-06-17 07:55] #28374 closed, assigned to engcom-Echo

[2020-06-17 07:59] eduard13 commented on #28103
Closing this issue based on the following [comment](https://github.com/magento/magento2/pull/28259#issuecomment-634472654).

[2020-06-17 07:59] #28103 closed, assigned to nirmalraval18

[2020-06-17 08:07] drc0 opened #28751 "Data patch for creating a new product attribute group replaces the "General" one"
### Preconditions (*)

1. Magento 2.3.4
2. Clean install

### Steps to reproduce (*)

1. Write a data patch with the following code
2.
[code]
3. If running the patch on the first setup:install (empty db), the file_put_contents around line 61 dumps `{"g_id":7,"sid":"4","name":"Product Details"}`, notice how g_id should be null instead of 7 that is the id of the product attribute group called "Gener

[2020-06-17 08:17] ktruehl commented on #28186
In case this helps, we're using the following patch for this:
[code]

[2020-06-17 08:54] pitbulk commented on #28428
@n1cehua1991 Thanks for replying.
The sso/saml2/acs is a POST endpoint.

The [custom login controller of the example module](https://github.com/pitbulk/magento-custom-login/blob/master/Custom/Login/Controller/Custom/Login.php#L77) is right now a GET, but will update it to be a POST.

[2020-06-17 09:24] nikhil91100 commented on #22591
Any update on this issue . I have this issue in magento 2.3.2.

[2020-06-17 09:35] krisdante commented on #22375
@tdgroot the fix is ready. The test is missing because it's tricky to make.
Do you have an idea of how to make a valid test? The difference can be spotted mainly with eyes.

[2020-06-17 09:37] pitbulk commented on #28428
@n1cehua1991 I [updated](https://github.com/pitbulk/magento-custom-login/commit/872dca1298220b9e40ac2daa60e48bc579dfe02c) the Custom Login controller to be processed as a POST, but the issue continues.

The [Private content doc](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/cache/page-caching/private-content.html) mentions to create a [sections.xml](https://github.com/pitbulk/magento

[2020-06-17 09:49] CsSatter commented on #24654
Hi @devendrant,
I solved the issue by creating a patch to add `$this->setCustomerIsGuest(false);` on `Magento\Quote\Model\Quote::setCustomer` method.

This method is expected to be removed due to MAGETWO-19930.

I've considered creating a plugin (so it'll work with third party PSP implementations) on the `registerCancellation` method of `Magento\Sales\Model\Order` that'll use the `Magento\Quote\Mo

[2020-06-17 09:52] Eddcapone opened #28753 "Web Setup Wizard not working if root directory is set to pub/"
### Preconditions (*)

1. Magento 2.3.5-p1
2. Apache
3. [This](https://devdocs.magento.com/guides/v2.4/install-gde/tutorials/change-docroot-to-pub.html) instruction to configure the magento 2 root directory - pub / folder

### Steps to reproduce (*)

1. Install magento 2
2. Configure your webserver so that root directory of magento 2 is pub/ folder
3. Login to backend
4. System -> Tools: Web Setup

[2020-06-17 09:54] E-Commerce-Team commented on #11897
For me it fixed the error in 2.3.5

If you see something like this in your block:
`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`sku`,`operator`:`^[^]`,

Change it to
`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`sku`,`operator`:`()`,

i hope it help somebody

[2020-06-17 10:31] stkrelax commented on #28703
Thx for finding that @ihor-sviziev and yes i am very courious about the why part...
@lenaorobei @slavvka  same question as @ihor-sviziev why ?
because i think it would be a necessary feature...

[2020-06-17 10:41] stkrelax opened #28754 "Naviagtion delay in _startOpening not working in magento 2.3.5-p1"
### Preconditions (*)
1. magento 2.3.5-p1
2. changed topmenu.phtml --> "delay":300 added
[code]

### Steps to reproduce (*)
1. open menu via mouse over
2. close menu via mouse leave

### Expected result (*)
1. _startOpening method uses delay
2. _close uses delay

### Actual result (*)
1. _startOpening does not use delay anymore
2. _close uses delay as provided

### Reason
this commit
https://githu

[2020-06-17 11:17] n2diving-dgx commented on #28693
#27221 fixes 2.4, but we are going to be on 2.3.x for a while, could we get a backport?

[2020-06-17 11:19] m2-assistant[bot] opened #28755 "[Issue] [MFTF] Check visibility block only x product left for simple product"
This issue is automatically created based on existing pull request: magento/magento2#27549: [MFTF] Check visibility block only x product left for simple product

---------

### Preconditions (*)

This MFTF test checks visibility only x product left block for simple product
<img width="1281" alt="Screenshot 2020-04-02 at 16 52 52" src="https://user-images.githubusercontent.com/13517181/78257392-744

[2020-06-17 11:33] magento-engcom-team commented on #28755
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35234` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-17 12:07] engcom-Alfa commented on #28685
The issue has been fixed in #28547 by @woutk88  in 2.4-develop branch

[2020-06-17 12:07] #28685 closed, assigned to nobody

[2020-06-17 12:58] lenaorobei commented on #28703
@ihor-sviziev internal ticket says that it was reverted due to backward incompatible change that was not approved.

[2020-06-17 13:13] magento-engcom-team commented on #24922
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35237` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-17 13:26] cs-media opened #28758 "Customer not properly notified when back-ordering a product"
### Preconditions (*)
1. Magento v2.3.2 & v2.3.5 p1 (not tested between these versions)

### Steps to reproduce (*)
1. Blank install of v2.3.5 p1
2. Add a product, set to "in stock", quantity 0.
3. In advanced inventory, set back-orders to "Allow Qty Below 0 and Notify Customer"

### Expected result (*)
1. When adding that product to the basket, you should receive a warning about the stock level a

[2020-06-17 13:35] toanthree commented on #21059
Thanks for pointing it out. Mirasvit extension works for me as well.

[2020-06-17 13:46] sdzhepa commented on #28436
Hello @abrarpathan19

In general, literally, your statement sounds quite logical: _"Update design to be alignment with Magento 2 standard UI"_

But after reviewing the result, it looks not very friendly for users. Especially on a big screen(resolution), a lot of contrast lines(dark and white)...

After the additional discussion was decided to leave the design as is now for this exceptional case.

[2020-06-17 13:46] #28436 closed, assigned to abrarpathan19

[2020-06-17 13:51] gallyamov commented on #28569
Hello @nishantjariwala could you confirm that the following response will work?

[code]

[2020-06-17 13:52] Ibensh opened #28759 "Having issues with the site displaying in addition to interceptor error"
we installed Magento 2.35p1 and we are using a theame.  It was fine but then the site starts to get an error and for some reason changed into the index look as oppose to the theme original look. we also have an issue with interceptor error as you see from the screen shot. need help if anyone has an idea of what we can do to fix it. Thank you Ilan

![image](https://user-images.githubusercontent.com

[2020-06-17 14:17] sdzhepa commented on #28016
Hello @weiweiouyang

Sorry for the delays. No update from you required.
I wrote an email to Magento Product Manager who owns(responsible) this functionality.

still waiting for response

[2020-06-17 14:21] weiweiouyang commented on #28016
Good, thank you for your reply. Hoping that we get the feedback from the PM soon.

Best Regards,

[2020-06-17 14:29] sdzhepa commented on #28345
Hello @yavuz
fyi: @mrtuvn

Could you please provide more details about the issue?
- How it impacts product or functionality?
- What functional flows are broken due to this issue?

Or its just typo that does not affect any functionality?

[2020-06-17 14:53] rmanor1 commented on #28016
Hi all, PM team here. We're discussing internally and will get an answer back here as soon as we can.

[2020-06-17 14:56] sdzhepa commented on #26679
Hello @ageffray
fyi: @engcom-Bravo

Could you please provide more details about the issue?
- How it impacts product or functionality?
- What functional flows are broken due to this issue?
- what is the business value?

Or its just typo that does not affect any functionality?

[2020-06-17 15:13] ageffray commented on #26679
hello @sdzhepa

There is no impact on features or any kind of bug it's only typo

[2020-06-17 15:20] shashidharg commented on #28730
I changed my local domain from http://mage2/ to http://mage2-dev.com/ and this behaviour was corrected.
I assumed this behaviour that was observed in M1 would not be there in M2. I hope I don't open this bug again.

[2020-06-17 15:20] #28730 closed, assigned to nobody

[2020-06-17 15:20] grichards commented on #28697
As there is a work around, I'll close this.

[2020-06-17 15:20] #28697 closed, assigned to ihor-sviziev

[2020-06-17 15:23] marciommm opened #28760 "Shogun Free Page Builder is not free, just deceive the customers"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2020-06-17 15:28] chrisputnam9 commented on #5709
We've been able to reproduce this fairly regularly by doing the following:
1. Enable Google Experiments
2. Add a product to two categories
3. Remove the product from one category
4. Remove the product from the other category
5. Repeat steps 2-4 as needed until error occurs.

**Key piece of error:**
Duplicate entry '1-161-category' for key 'GOOGLEOPTIMIZER_CODE_STORE_ID_ENTITY_ID_ENTITY_TYPE', quer

[2020-06-17 16:00] pitbulk commented on #28428
I was debugging and I found that [customer-data.js](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/view/frontend/web/js/customer-data.js#L95) was raising:
[code]

If I remove that section manually in the js
[code]

The customer data is loaded using the Custom Login.

[2020-06-17 16:16] davidtisn opened #28762 "Cached frontend uicomponents showing up on the backend and vice versa"
### Preconditions (*)

1. Commerce/B2b edition 2.3.4

### Steps to reproduce (*)

1. Create a uicomponent in base ui_component.
2. Create an override for the uicomponent in adminhtml area, adminhtml/ui_component.
3. Create an override for the uicomponent in frontend area, frontend/ui_component.
4. Clear cache and go to the frontend
5. On the frontend, view the uicomponent and note that it has the

[2020-06-17 16:29] jmonrove commented on #11332
This bug is still present in Magento 2.3.5-p1

The code suggested by @lewisje fixes the issue on the customer registration page, otherwise the system will only let people born after 2000 register.... #ageism!

[2020-06-17 16:44] PromInc opened #28763 "Unable to Create Order with Grand Total = $0.00 in Magento Admin"
### Preconditions (*)

1. Magento Version 2.3.4-p2
2. Vertex is Enabled, configured, and tested to be working (Stores -> Configuration -> Sales -> Tax -> Vertex Settings)
3. Simple product is created with price > $0.00
4. A customer account exists
5. The customer account has a saved address in a state that charges tax (ie. Minnesota, USA)

### Steps to reproduce (*)
1. In the Magento Admin, naviga

[2020-06-17 16:47] PromInc commented on #28763
My proposed solution:

File: `vendor/magento/module-tax/Model/Sales/Total/Quote/CommonTaxCollector.php`

Line: 782

Change:
`$baseAppliedTax = $baseAppliedTaxes[$taxId];`
To:
`$baseAppliedTax = ( isset( $baseAppliedTaxes[$taxId] ) ? $baseAppliedTaxes[$taxId] : 0 );`

[2020-06-17 16:51] praniljoshi13 commented on #12396
Dear,

please check this

Final Solution -

changed "base_row_total" to "row_total_incl_tax"  in

/var/www/html/partsvillage/vendor/magento/module-sales-rule/Model/Rule/Condition/Product/Subselect.php

public function loadAttributeOptions()
    {
        $this->setAttributeOption(['qty' => __('total quantity'),
'row_total_incl_tax' => __('total amount')]);
        return $this;
    }

Got below so

[2020-06-17 17:12] ruospo commented on #24683
You have solved your problem?

[2020-06-17 17:18] veloraven commented on #25158
Described issue is not a bug.
To enable Negative  "Out of Stock Threshold" you need to turn on "Backorders" as well. This functionality is described in [Configure MSI backorders|https://github.com/magento/inventory/wiki/Configure-MSI-backorders].
When backorders are enabled issue is not reproducible and negative threshold is saved successfully.

[2020-06-17 17:36] VladimirZaets commented on #24400
Closet as a duplicate of #24348

[2020-06-17 17:36] #24400 closed, assigned to shikhamis11, mahesh-rajawat

[2020-06-17 17:40] sdzhepa commented on #25348
This issue still actual for `2.4-develop`

The short variant of the problem can be described:

**Precondition**
- any customer with non-US address is created

**Steps**
1. in Admin Panel remove  United States from **State is Required for**  _Store -> Settings -> Configuration -> General -> General -> State Options_
2. Go to Storefront and login as test customer
3. Open for edit billing/shipping ad

[2020-06-17 17:44] sdzhepa commented on #25158
Closed due to prev https://github.com/magento/magento2/issues/25158#issuecomment-645507793

[2020-06-17 17:44] #25158 closed, assigned to geet07

[2020-06-17 17:52] denniskopitz commented on #12502
In case this helps anyone else landing here, I believe the actual core issue is that admin controllers are not set to the admin store.  ie, when you getStore(), the default store is retrieved (ie frontend store).  The easy fix is to `$this->storeManager->setCurrentStore(0);` before you try

[code]

That will actually cause `$this->_redirect->getRefererUrl()` to return the correct url

Ofcourse, Th

[2020-06-17 18:09] okorshenko opened #28765 "Test Link Issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-17 18:22] #28765 closed, assigned to nobody

[2020-06-17 18:33] denniskopitz commented on #12502
I actually ended up putting a plugin in place because this issue was also affecting some third party modules.

[code]

[code]

[2020-06-17 18:34] ajijshekh123 commented on #28760
@marciommm - Please add proper steps to be reproduced, actual result and expected result.

[2020-06-17 18:49] fgagne commented on #28395
I would say it's a bug because I get a empty URL when trying to get the category URL in a Block with the code:
{{widget type="Magento\Catalog\Block\Category\Widget\Link" template="category/widget/link/link_href.phtml" id_path="category/79"}}.

I get the category url for the first store view that have a different URL key and an entry in URL rewrite. But the exact same code doesn't works in the seco

[2020-06-17 18:54] amenk commented on #28395
@fgagne thanks for the confirmation. We already know about the URL regeneration script, but it's still really annoying as new categories are created in the PIM all the time, causing API pushes and URL problems.

[2020-06-17 19:11] magento-engcom-team commented on #27350
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35252` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-17 19:38] nmklong opened #28766 "Magento_Multishipping needs to declare globally implementation for Magento\Payment\Model\Method\SpecificationInterface"
### Preconditions (*)

1. Magento version: 2.3.4-p2

### Steps to reproduce (*)

1. In a custom module, try to inject Shipping related classes
2. For example, we have a custom module, and we added a custom queue consumer, in its constructor we have these classes injected
[code]

### Expected result (*)

1. When function `process` is run, it should execute normally

### Actual result (*)

1. Ran in

[2020-06-17 21:13] nrkapoor opened #28769 "GraphQL Rewards Points :: Monolith Implementation - Customers query"
As a Headless Commerce Magento Merchant,

I want to offer a reward points feature in MyAccount to my end customers via GraphQL

so that

they can receive reward points on purchase and other site actions. 

**Acceptance Criteria**

- Customers can retrieve reward points details. 
- Customers can see the reward history in their accounts.

**Schema** 

https://github.com/magento/architecture/blob/e1e

[2020-06-17 21:22] VladimirZaets opened #28770 "TEST 05"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-17 21:22] magento-engcom-team commented on #28770
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35257` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-17 21:25] #28770 closed, assigned to nobody

[2020-06-17 21:26] VladimirZaets opened #28771 "TEST 06"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-17 21:27] magento-engcom-team commented on #28771
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35258` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-17 21:43] #28771 closed, assigned to nobody

[2020-06-17 21:43] VladimirZaets opened #28772 "TEST 07"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-17 21:44] magento-engcom-team commented on #28772
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35260` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-17 23:14] textarea commented on #26582
Hi @rendyep ,
your module works, but I replicated it using Data\Interface instead of Model and it doesn't works.

Please give it a try with these sources:
https://www.mediafire.com/file/qmgjqadpn5ixbbr/Acme.zip/file

Same instructions as yours, run bin/magento acme:test:test then check db table acme_test_test, detail column will remain filled.

[2020-06-17 23:43] mrtuvn commented on #28345
@sdzhepa for me just clean up code remove deprecated method call in previous. Validate code and correct class follow correct context inside

[2020-06-18 00:02] aliomattux commented on #28614
I have spent quite some time on this issue. There is a general consensus in the community that implementing recaptcha on checkout is bad practice, many developers have refused to create this functionality, but apparently at the moment it seems to be the only way to stop it.

Having seen this first hand, each request was coming from a different ip, so not even possible to track add to cart action t

[2020-06-18 00:14] wutever0 commented on #27899
facing the same issue. Would make sense if the SQL generated would use the referenceId value as the name of the key.

[2020-06-18 00:41] #28772 closed, assigned to nobody

[2020-06-18 00:41] VladimirZaets opened #28773 "TEST 08"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 00:42] magento-engcom-team commented on #28773
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35261` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 01:22] #28773 closed, assigned to nobody

[2020-06-18 01:22] VladimirZaets opened #28774 "TEST 09"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 01:22] magento-engcom-team commented on #28774
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35263` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 01:38] magento-engcom-team commented on #28738
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35264` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 01:41] magento-engcom-team commented on #28738
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35265` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 01:50] VladimirZaets opened #28775 "TEST 10"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 01:50] magento-engcom-team commented on #28775
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35266` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 02:08] VladimirZaets opened #28776 "TEST 11"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 02:09] magento-engcom-team commented on #28776
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35267` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 02:10] #28776 closed, assigned to nobody

[2020-06-18 02:10] VladimirZaets opened #28777 "TEST 12"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 02:10] magento-engcom-team commented on #28777
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2020-06-18 02:11] magento-engcom-team commented on #28777
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2020-06-18 02:11] magento-engcom-team commented on #28777
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35268` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 02:13] #28777 closed, assigned to nobody

[2020-06-18 02:13] VladimirZaets opened #28778 "TEST 13"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 02:15] magento-engcom-team commented on #28778
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35269` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 02:18] #28778 closed, assigned to nobody

[2020-06-18 02:18] VladimirZaets opened #28779 "TEST 14"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 02:18] magento-engcom-team commented on #28779
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information

[2020-06-18 02:20] magento-engcom-team commented on #28779
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35270` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 02:28] #28774 closed, assigned to nobody

[2020-06-18 02:28] #28779 closed, assigned to nobody

[2020-06-18 02:28] VladimirZaets opened #28780 "TEST 15"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 02:29] magento-engcom-team commented on #28780
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35271` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 02:35] #28780 closed, assigned to nobody

[2020-06-18 02:35] VladimirZaets opened #28781 "TEST 16"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 02:36] magento-engcom-team commented on #28781
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35272` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 02:38] #28781 closed, assigned to nobody

[2020-06-18 02:38] VladimirZaets opened #28782 "TEST 17"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 02:40] magento-engcom-team commented on #28738
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-06-18 02:40] #28738 closed, assigned to nobody

[2020-06-18 02:56] #28782 closed, assigned to nobody

[2020-06-18 02:57] VladimirZaets opened #28783 "TEST 18"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 02:57] magento-engcom-team commented on #28783
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35273` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 03:26] #28783 closed, assigned to nobody

[2020-06-18 03:26] VladimirZaets opened #28784 "TEST 19"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 03:27] magento-engcom-team commented on #28784
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35275` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 03:32] #28784 closed, assigned to nobody

[2020-06-18 03:32] VladimirZaets opened #28785 "TEST 20"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 03:33] magento-engcom-team commented on #28785
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35276` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 03:34] #28785 closed, assigned to nobody

[2020-06-18 03:34] VladimirZaets opened #28786 "TEST 21"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 03:35] magento-engcom-team commented on #28786
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35277` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 03:38] #28786 closed, assigned to nobody

[2020-06-18 03:38] VladimirZaets opened #28787 "TEST 21"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 03:39] magento-engcom-team commented on #28787
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35278` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 03:42] #28787 closed, assigned to nobody

[2020-06-18 03:42] VladimirZaets opened #28788 "TEST 22"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 03:43] magento-engcom-team commented on #28788
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35279` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 03:51] #28788 closed, assigned to nobody

[2020-06-18 03:51] VladimirZaets opened #28789 "TEST 23"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 03:52] magento-engcom-team commented on #28789
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35280` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 03:52] #28789 closed, assigned to nobody

[2020-06-18 03:53] VladimirZaets opened #28790 "TEST 23"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 03:53] magento-engcom-team commented on #28790
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35281` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 03:54] #28790 closed, assigned to nobody

[2020-06-18 03:54] VladimirZaets opened #28791 "TEST 24"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-06-18 03:56] magento-engcom-team commented on #28791
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35282` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 04:03] rendyep commented on #26582
@textarea the issue is in your repository class:

[code]

The value `$testData` of the first line when you call `toNestedArray` would only get `test_id`, no `detail`, so when you call `$testModel = $this->testFactory->create()->setData($testData);`, only `test_id` is filled. To be clear, this is the output of the model values just before you save.

[code]

That is why, when you save that model, th

[2020-06-18 04:05] techzilla commented on #26344
Please status update

[2020-06-18 05:17] swathishs commented on #28742
@magento give me 2.3.5-p1 instance with vertex setting

[2020-06-18 05:17] magento-engcom-team commented on #28742
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-06-18 05:33] amenk commented on #28395
@fgagne

do you mean pushing the same URL key with for example -2 appended to the second store? If so, yes this would work. But of course the visible URLs are then "not clean" anymore and have an unnecessary suffix

[2020-06-18 06:17] aholovan commented on #26840
Hi @AndyJAllen, I have not applied MC-31573-Base.diff due to it contains dev/tests code only but if You perform code-testing using Magento apparently that patch should be applied also.

[2020-06-18 06:53] HenKun commented on #21885
I noticed that the PR has another issue: If you import data for another store (e.g. english translations) without any image related data in the import CSV, all images get removed (globally). Images should only be removed if the according image columns are present and empty.

[2020-06-18 07:20] textarea commented on #26582
Thanks @rendyep,
that code is generated by mage2gen, however, I don't know how to mark the `getDetail` method in `Acme\Test\Api\Data\TestInterface` as required

[2020-06-18 07:25] ajijshekh123 commented on #28700
@magento give me 2.4-develop instance

[2020-06-18 07:25] magento-engcom-team commented on #28700
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-18 07:36] onepack commented on #21364
Is this tested with just only admin values applied?
When I add translations it seems that the multiselect breaks again.

[2020-06-18 07:37] PurushothamanKrishnamoorthy commented on #22005
@pixmin : I faced similar issue while installing Magento 2 from command line. I mapped existing database while installing Magento 2.

Could you please check your env.php configuration.

We can address this issue, by following way:

1. --cleanup-database to your installation command, which will drop existing database tables.

[2020-06-18 08:12] goutam1github commented on #21885
How can I get this patch. Anyone please advise.

[2020-06-18 08:23] fusionbeam opened #28792 "/search/ajax/suggest doesn't support CORS"
While all the other APIs /rest/v2/... provide the 'access-control-allow-origin: *' header
The /search/ajax/suggest doesn't.

## Preconditions (*)
magento 2.3.4

### Steps to reproduce (*)
 curl -H "Content-Type: application/json" -X GET http://localhost:8080/search/ajax/suggest/?q=193c -v
### Expected result (*)
access-control-allow-origin: * -  should be provided in the response
### Actual result

[2020-06-18 08:32] Yonn-Trimoreau commented on #21885
Get the patch corresponding to the pull request : https://patch-diff.githubusercontent.com/raw/magento/magento2/pull/26713.patch
And apply it to `magento/catalog-import-export` composer dependency using https://github.com/cweagans/composer-patches

[2020-06-18 09:38] stkrelax commented on #28703
@ihor-sviziev  Okay Thanks

[2020-06-18 09:38] #28703 closed, assigned to ihor-sviziev

[2020-06-18 09:42] ihor-sviziev commented on #24718
Fix for this issue was reverted in https://github.com/magento/magento2/commit/e1958fece28f2726d2d7cb6a48b1b25cb5b3862e

Explanation from @lenaorobei in https://github.com/magento/magento2/issues/28703#issuecomment-645357575

I re-opened this task.

[2020-06-18 09:44] ihor-sviziev commented on #28703
Hi @stkrelax thank you for raising this issue!

I just re-opened original issue.

[2020-06-18 09:47] boseasha opened #28793 "Magento 2 CustomerAddressId missing for backend orders"
### Preconditions (*)

In Magento 2 ,for backend orders created the customer_address_id is missing/NULL for sale order addresses
1.2.2.8
2.2.3.3

### Steps to reproduce (*)

1.Go to Magento 2 backend login. Create a new order for a new customer from Sales->Orders->Create New Order After the creation of Order you can see the customer_address_id in sales_order_address table as NULL for both shipping

[2020-06-18 10:03] PsmIndia commented on #21885
just update your magento setup with latest version, all patches will apply automatically.
`php bin/magento maintenance:enable
composer require magento/product-community-edition 2.0.2 --no-update, you can follow this guide or this link : https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html
composer update
rm -rf var/di var/generation
php bin/magento cache:flush
php bin/magento setu

[2020-06-18 10:42] m2-assistant[bot] opened #28795 "[Issue] Changed array creation to be in line with the class"
This issue is automatically created based on existing pull request: magento/magento2#28515: Changed array creation to be in line with the class

---------
Make the array creation consistent throughout the class.
This is mostly just a convention fix.

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenario

[2020-06-18 11:11] AndyJAllen commented on #26606
FYI using this method corrupts data in the order tables and you will experience new problems looking at historical data (from both back end and when logged in as customer to look at past order details). I had used that method through my 2.2.x upgrades because I also experienced a bunch of serialize problems; but then I had to create myself a php program to fix a bunch of encoding issues that were

[2020-06-18 12:33] engcom-Echo commented on #24418
Hi, @kirtinariya1.
[Assigning an issue](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#assigning-an-issue)

[2020-06-18 12:55] barryvdh commented on #24418
I think this should probably be fixed, or at least made possible by adding an extra parameter in case.

[2020-06-18 13:00] m2-assistant[bot] opened #28800 "[Issue] Add validation phone field on checkout page"
This issue is automatically created based on existing pull request: magento/magento2#27537: Add validation phone field on checkout page

---------

### Description (*)

This PR adds validation for phone field on checkout page
### Preconditions (*)
Magento 2.4-develop

### Steps to reproduce (*)
1. Create simple product
2. Add product to cart
3. Go to checkout page
4. Enter any non-numeric symbols

[2020-06-18 13:12] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-06-18 13:12] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-18 13:15] textarea commented on #26582
Ok @rendyep,
I removed @return string|null and left @return string in getDetail() method and now NULL value is saved.
However I don't think this is the right solution, it is still a bug.

[2020-06-18 13:17] fgagne commented on #28395
@amenk this is exactly what I've done.

But perhaps it could done the other way around?
1. change the url key of the "All Store View" by appending something unique to the url key like "-0",  by calling the REST API with no store code in the URL (or "all"?)
2. for each store view, change the url key for the original value by calling the REST API with the store view code in the URL

Please keep us u

[2020-06-18 13:19] gwharton commented on #28758
This has been fixed in 2.4.

[2020-06-18 13:20] magento-engcom-team commented on #28800
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35291` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-06-18 13:23] tzyganu commented on #24718
I don't understand where this is breaking BC, but anyway, the beauty of the declarative schema is that it does not matter if it's in the core or not.
If you have this problem, lust add the constraint in one of your custom modules and it will work. And if this reaches the core it will still work even if it's duplicated in your module

[code]

[2020-06-18 13:24] gwharton commented on #28690
Allow origin * effectively turns off cors as it allows everywhere which defeats the point of cors. Personally i prefer to manage cors in apache/nginx config and not in magento. If someone hacks and gains access to your admin, the last thing you want is them modifying cors hosts and opening up your shop. I keep my cors config in apache config and requires root to modify.

[2020-06-18 13:29] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-06-18 13:29] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-18 13:36] amenk commented on #28395
@fgagne Okay, got it. That would work, but need changes in the API consumer. We'll try to identify the issue during the next days...

[2020-06-18 13:38] ksurendra commented on #28690
Yes @gwharton , allowing cors can only be done in Apache/Nginx. But was looking at a more recommended way. And yes "*" is not secure. Developers may forget that on stage/prod servers.

I was able to solve this on our dev server ( https://community.magento.com/t5/Magento-2-x-Hosting-Performance/Accessing-Magento-REST-APIs-from-localhost-Blocked-by-CORS/m-p/449304#M1581 ) but had to go through lots

[2020-06-18 13:50] DanielRiezebos opened #28801 "Advanced Price - From & To Dates do not format correctly in any non-English locale."
### Preconditions (*)

1. Magento ver. 2.3.4-p2 | `2.4-develop`
2. PHP 7.3 (Although I suspect this to be on the JavaScript/jQuery side)

### Steps to reproduce (*)

1. Log into the Magento admin with an account that uses any non-English locale.
2. Open/Create a Product with an advanced price.
3. Open said advanced price and look at the dates in the "Special Price From" & "To" fields.

### Expecte

[2020-06-18 13:54] DanielRiezebos commented on #28801
@magento give me 2.3.4-p2 instance

[2020-06-18 13:54] magento-engcom-team commented on #28801
Hi @DanielRiezebos. Thank you for your request. I'm working on Magento 2.3.4-p2 instance for you

[2020-06-18 14:19] danielrenaud commented on #28575
Caused by core functionality that can not be fixed at this time

[2020-06-18 14:19] #28575 closed, assigned to gallyamov

[2020-06-18 14:56] brigitschroeder commented on #28742
I had the same issue and was able to get around it using a polyfill.
app/code/Vendor/Module/view/frontend/web/js/ie11polyfill.js
`define([],function(){
    if (!Object.entries)
        Object.entries = function( obj ){
            var ownProps = Object.keys( obj ),
                i = ownProps.length,
                resArray = new Array(i); // preallocate the Array
            while (i--)

[2020-06-18 15:40] laurensknoll commented on #12124
I investigated the EAV indexer code to figure out what's going wrong. Found out that this [commit](https://github.com/magento/magento2/commit/3b5840b01a12a86a74cdad91a5852406c09fab9d) configured the indexer with a `TemporaryTableStrategy`. This strategy tells the indexer to use a TEMP table instead of SQL tables `catalog_product_index_eav_idx` or `catalog_product_index_eav_tmp`.

Because this temp

[2020-06-18 15:42] iphigenie commented on #27282
This bug also prevents OPENING an old order in the admin, for example if orders were migrated using data migration tool

[2020-06-18 16:44] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-06-18 16:44] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-06-18 16:45] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_fae9](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_fae9)
Login: `06755346` Password: `e863bafe52a1`
Instance will be terminated in up to 3 hours.

[2020-06-18 17:24] mattijv commented on #28742
@brigitschroeder Great workaround, thanks for posting! Luckily for me, I could just disable the Vertex modules and not worry about it.

[2020-06-18 19:42] sasha19957099 commented on #26830
Can this issue be closed, it already seems to be fixed. Here is my results:

<img width="1216" alt="add_to_cart" src="https://user-images.githubusercontent.com/28062227/85064764-b9f08a00-b1b4-11ea-8d6f-7dd119beb62c.png">
![product_quantity](https://user-images.githubusercontent.com/28062227/85064835-d42a6800-b1b4-11ea-8ab3-5795ddad2f76.png)
<img width="1360" alt="retrieve a cart" src="https://user

[2020-06-18 20:01] mtoothaker-links commented on #7075
I am also seeing it on an upgraded Magento 2.3.5 site

[2020-06-18 21:23] medigeek opened #28802 "typo: setup:config:set --session-save-redis-sentinel-connect-retires (instead of retries)"
### Preconditions (*)

1. 2.3.5-p1
2. 2.4-develop -- in git: https://github.com/magento/magento2/blob/2.4-develop/setup/src/Magento/Setup/Model/ConfigOptionsList/Session.php#L43

`     const INPUT_KEY_SESSION_REDIS_SENTINEL_CONNECT_RETRIES = 'session-save-redis-sentinel-connect-retires';`

### Steps to reproduce (*)

[code]

### Expected result (*)

the command parameter ought to be named "retries

[2020-06-18 21:27] rickcj commented on #28423
@magento give me 2.3.5-develop instance

[2020-06-18 21:27] magento-engcom-team commented on #28423
Hi @rickcj. Thank you for your request. I'm working on Magento 2.3.5-develop instance for you

[2020-06-18 21:31] slavvka commented on #26504
Hi @Zyles. Thank you for your report.
The issue has been fixed in magento/magento2#28735 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [9c6653dad7fa63a5c30c25d6c70d93b89dac6ed4](https://github.com/magento/magento2/commit/9c6653dad7fa63a5c30c25d6c70d93b89dac6ed4)

The fix will be available with the upcoming 2.4.1 release.

[2020-06-18 21:31] #26504 closed, assigned to Bartlomiejsz

[2020-06-18 21:31] slavvka commented on #28755
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27549 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [b9b939941bcd12e0fcf988c41125e6ca8658ac13](https://github.com/magento/magento2/commit/b9b939941bcd12e0fcf988c41125e6ca8658ac13)
 - [4c767837129303c29e75418d81e03734132f8fb8](https://github.com/magento/magento2/commit/4c767837129303c29e75418d8

[2020-06-18 21:31] #28755 closed, assigned to Usik2203

[2020-06-18 21:31] slavvka commented on #21237
Hi @judaschwartz. Thank you for your report.
The issue has been fixed in magento/magento2#28332 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [4afc05fe11dfa954f27a4585d0cd33ce55b5c85a](https://github.com/magento/magento2/commit/4afc05fe11dfa954f27a4585d0cd33ce55b5c85a)
 - [d6d15d792f2cb4237dacc20a9f23bb1c952da503](https://github.com/magento/magento2/commit/d6d15d792f2cb4237dacc20a

[2020-06-18 21:31] #21237 closed, assigned to engcom-Charlie

[2020-06-18 22:01] m2-assistant[bot] opened #28803 "[Issue] Assign user to role and roles list commands"
This issue is automatically created based on existing pull request: magento/magento2#28677: Assign user to role and roles list commands

---------
### Description (*)
Creates Admin-role management commands.

### Preconditions (*)
Magento 2.4-develop

### Steps to reproduce (*)
1. Run `bin/magento admin:role:list`
2. Get some of the existing roles and save role ID
3. Create new admin user from admi

[2020-06-18 22:06] lbajsarowicz opened #28804 "Fatal error when using Custom Admin URL"
### Preconditions (*)
1. Magento 2.4-develop
2. Set custom Admin URL using Admin Panel (not `env.php`)

### Steps to reproduce (*)
1. Open `https://custom-domain.test/backend`

### Expected result (*)
1. Login screen displayed

### Actual result (*)
[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as