[2022-11-02 20:49] hostep commented on #35993
Closed without comments? (again @sdzhepa, please end this situation!!! All issue closings should have a comment explaining why!!!)

But most likely fixed by [AC-6588: Error during app:config:import -- Import failed](https://github.com/magento/magento2/commit/8bfe6109eb5b99281a3675a3d809a13f19f5b020)

[2022-11-02 23:58] DavaGordon commented on #34135
@magento give me 2.4-develop instance

[2022-11-03 00:11] DavaGordon commented on #34135
@magento Reproduced on 2.4.dev

[2022-11-03 00:17] DavaGordon commented on #34135
Reproduced on 2.4.dev

Issue present if Ship to Applicable Countries set to Specific Country.

[2022-11-03 00:29] DavaGordon commented on #36398
@stefancic i followed your steps on vanilla instance using version 2.4.4 locally and was unable to replicate the issue following the steps you provided in your initial issue.

[2022-11-03 01:23] jerrylopez commented on #34108
Any updates on this issue?

[2022-11-03 02:31] Vigneshmuthusamy commented on #745
Ah, man. it's been 7 years and is still on the roadmap. I don't see any light at the end of the tunnel.

[2022-11-03 02:51] engcom-November commented on #36407
Hi @Shaikh-Samir ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop instance and is reproducible. But however this warning message is an expected behavior but not a bug as Magento strongly recommends using https:// in integration urls for security reasons.
[Ref docs](https://docs.magento.com/user-guide/system/integrations.html)
Kindly recheck and let us know

[2022-11-03 03:18] engcom-November commented on #36383
@magento give me 2.4-develop instance

[2022-11-03 03:33] engcom-November commented on #36383
Verified the issue on Magento 2.4-develop instance and is reproducible. Hence confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/199642762-d2384f9d-7aab-4f69-83d3-db3f111ca28a.png)

[2022-11-03 03:53] engcom-Dash commented on #36264
Hi @AdrianChungie ,

Thanks for your Collaboration!!!

As per your instructions we are closing the issue Now.

Thanks!!!

[2022-11-03 03:53] #36264 closed, assigned to engcom-Dash

[2022-11-03 05:12] convenient commented on #34108
@jerrylopez FWIW I've had my hotfix composer patched into our instances for over a year now with no ill effects.

[2022-11-03 05:43] Shaikh-Samir commented on #36407
Hi @engcom-November

Thanks for the response.

We are agreed on recommendation of "https://" for Call back URL and Identity Link URL. But both fields are optional in API integration Form. Now if we do not pass Call back URL or Identity URL and save the API Integration Form. In the Grid it is showing warning (Integration is not secure), So client will be worried about security of APIs we are going

[2022-11-03 06:02] engcom-Hotel commented on #35993
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-6588 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-6588&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-11-03 06:12] engcom-Bravo commented on #36333
Hi @nithinreddyb,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-03 06:12] #36333 closed, assigned to engcom-Bravo

[2022-11-03 07:15] engcom-Bravo commented on #33343
Hi @prasannanwr,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and the issue is not reproducible.The list of allowed countries in checkout working as per configuration per store.Kindly refer the screenshots.

Steps Followed:

1.Create multiple websites and stores.
2.Set Account Sharing Option to "Global" under System > Customer > Customer configuration
3.Up

[2022-11-03 07:20] engcom-November commented on #36378
@magento give me 2.4-develop instance with edition ee

[2022-11-03 07:23] engcom-November commented on #36404
@magento give me 2.4-develop instance

[2022-11-03 08:05] #36258 closed, assigned to engcom-Hotel

[2022-11-03 08:21] seo-master opened #36412 "Unable to apply data patch Magento\Catalog\Setup\Patch\Data\UpdateMultiselectAttributesBackendTypes"
### Preconditions and environment

- Magento version 2.4.3
- I have migrated version of Magento. Migration was made on april M1.9.4.5 to M2.3.5, after that Magento has upgraded successfully two times 2.3.5 -> 2.4.2 and 2.4.2 -> 2.4.3

### Steps to reproduce

1. Composer upgrade from 2.4.3 to 2.4.5
2. php bin/magento setup:upgrade

### Expected result

1. Successful upgrade

### Actual result

Modu

[2022-11-03 08:24] engcom-Hotel commented on #28161
@magento give me 2.4-develop instance

[2022-11-03 08:27] engcom-Dash commented on #35978
@magento give me 2.4-develop branch

[2022-11-03 08:29] engcom-Hotel commented on #28161
@magento give me 2.4-develop instance

[2022-11-03 08:29] engcom-Dash commented on #10605
@magento give me 2.4-develop branch

[2022-11-03 08:31] engcom-Dash commented on #35978
@magento give me 2.4-develop instance

[2022-11-03 08:31] engcom-Dash commented on #10605
@magento give me 2.4-develop instance

[2022-11-03 08:43] engcom-Hotel commented on #36385
Hello @pierzakp,

Thanks for the report and collaboration!

We have tried to reproduce this issue in Mac Monterey 12.6 with the Chrome browser. We are able to create a fork. It might be possible that the issue has been resolved.

Thanks

[2022-11-03 08:50] engcom-Bravo commented on #33705
@magento give me 2.4-develop instance

[2022-11-03 09:05] engcom-November commented on #36404
Verified the issue on Magento 2.4-develop instance and the issue is reproducible.
Incorrect count is displayed on Catalog Search results page while searching for the products using search term. Hence confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/199682287-eeffac11-1ba5-4835-a6f8-bb352bcddb5b.png)

[2022-11-03 09:12] engcom-Dash commented on #35978
Hi @dtavieres ,

Thanks for your contribution!!!

We are checking the issue with 2.4-develop branch as well as 2.4.5 magento instance...We are confirming the issue...its still reproducible.
Steps:
1.Install magento instance
2.Go to Admin Panel
3.Go content
4.Click Homepage and Edit with Page Builder
5.Html code is Displaying
 We are getting actual result as per your description...so we are confirm

[2022-11-03 09:14] ppKrauss commented on #745
Sorry, see the README page, it's not "very open", it is oriented to Adobe, a former [anti-competitive](https://en.wikipedia.org/wiki/Adobe_Inc.#Anti-competitive_practices) and anti-FOSS company.

[2022-11-03 09:14] engcom-November commented on #36297
Hi @NguyenXuanNam ,
We are closing this issue as there has been no latest updates on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-03 09:14] #36297 closed, assigned to engcom-November

[2022-11-03 09:16] dtavieres commented on #35978
Hello  @engcom-Dash, Thank you. This is one of there problems, the other are sources.

![error](https://user-images.githubusercontent.com/11996996/199684330-621b5625-98cc-443d-b10a-53e208058543.png)

[2022-11-03 09:40] adamlavery opened #36413 "Gd2 error logs need improving"
### Preconditions (*)

1. OS 2.4.3-p1
2. PHP 7.4
3. Ubuntu 20.4

### Steps to reproduce (*)

1. Run catalog:images:resize

### Expected result (*)

1. If there are any issue with image files then any files that have an issue are logged so they can checked.

### Actual result (*)

Nothing to show which files have an issue so no way to know which need to be looked at:
[code]

[2022-11-03 10:20] engcom-Dash commented on #10605
Hi @ Taral-Patoliya,

We are worked the issue with 2.4-develop instance...we are not able to reproduce the issue.we are getting actual result.
Steps we followed:

1.Install  magento Instance
2.go to stores
3.Click Advanced Go to developer
4.Click Js settings
5.Disable Js merge, minify, bundling for default scope in system config
6.Enable the same in Website scope
7.Enable the same in store view sc

[2022-11-03 10:37] luka4 commented on #22165
for me - simply clear cookie in browser solved the issue.

[2022-11-03 10:37] VeronikaKurochkina commented on #21618
Hello, this issue is still reproduced on 2.4-develop. I faced this issue with condition 'is **NOT** one of' condition.  Space is added
![image](https://user-images.githubusercontent.com/93131106/199699893-b41e89ed-3a68-41e4-ae08-d9c16e62b95a.png)
Condition 'is one of' works fine as expected.
Could you please have a look at this issue?

[2022-11-03 10:41] engcom-Bravo commented on #33705
Hi @vseager,

Thank you for reporting and collaboration.

Verified the issue on Magento `2.4-develop` and the issue is not reproducible.Kindly refer the screenshots.

Steps Followed:

1.Set locale to English (United Kingdom) and timezone to GMT (London)
2.Create a custom DATE attribute
3.Import date attribute for product via CSV

<img width="1219" alt="Screenshot 2022-11-03 at 3 57 38 PM" src="htt

[2022-11-03 11:00] hostep commented on #10605
@engcom-Dash: it kind of looks good I think (not sure why files aren't bundled in the admin that sounds like a problem still).
But next to this test, can you also try the reverse by:

- Disabling Js merge, minify, bundling for default scope in system config
- Enabling them in Website scope
- Enabling them same in store view scope

Which you said you did, but according to your screenshots you did t

[2022-11-03 11:12] engcom-November commented on #36292
Hi @baptiste09 , Thank you for the response. This issue cannot be tested / reproduced in Magento test instance with Sandbox mode as it is dependant on PayPal side (PayPal archiving the payment on their end) We are considering this as feature request.
Thank you.

[2022-11-03 11:17] engcom-Dash commented on #36112
@magento give me 2.4-develop instance

[2022-11-03 11:27] denysaw-gaming commented on #10605
How to unsubscribe of this channel? Magento is finally dead, but I'm still getting notifications of this thread and GitHub bugs to unsubscribe me ((

[2022-11-03 11:31] engcom-Bravo commented on #32554
Hi @lewisvoncken,

Thank you for reporting and collaboration.

As per Magento devdocs [document](https://devdocs.magento.com/guides/v2.4/graphql/caching.html).Magento explicitly disallows the storeConfig caching.

However it is an existing behaviour of Magento.This is not an issue.

Hence we are considering as Feature Request.

Thanks.

[2022-11-03 11:56] engcom-November commented on #36392
@magento give me 2.4-develop instance

[2022-11-03 11:57] engcom-November commented on #36378
@magento give me 2.4-develop instance with edition ee

[2022-11-03 12:07] hostep commented on #10605
@denysaw-gaming: There should be an `Unsubscribe` button on the right side of this ticket. If there is only a `Subscribe` button, press it and then press `Unsubscribe` afterwards, that should hopefully do the trick :)
Or stop watching the project entirely in github, that might also help ...

If you want to see what the future of Magento looks like, I would suggest you start following https://mage-

[2022-11-03 12:13] denysaw commented on #10605
@hostep Thanx ;) I got I was logged in with different account. And Github was unable to unsubscribe me cuzz of that.

[2022-11-03 12:25] engcom-November commented on #36378
Hi @nikita-biliavskyi ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop with Enterprise edition but the issue is not reproducible.
Related Products/Up-Sells products that have the same category as the selected product are displayed as expected.
![image](https://user-images.githubusercontent.com/60198231/199719569-dbd9daa8-7a9a-47ae-a375-b04db41df01e.png)
Kindly

[2022-11-03 13:25] mustanguy69 commented on #34929
Hello is there any news on this ? I can't access the commit mentionned in previous comment ...

[2022-11-03 13:36] willbrammer commented on #35313
Hi

I just want to add this issue is happening on Magento 2.4.5-p1 too.

I have also raised a ticket with Magento Support to see if they have anything for this.

Bit surprised how long this has been open. Deleting and re-creating the integrations is not ideal for some systems

Thanks
Will

[2022-11-03 13:37] DavaGordon commented on #36385
@engcom-Hotel i also am using Mac Monterey 12.6 with the Chrome browser and was able to recreate the issue.

[2022-11-03 14:02] csanseverinoNL opened #36415 "Hierarchy node duplicated when changing Url key on a CMS page"
### Preconditions and environment

Magento Commerce 2.4.3

### Steps to reproduce

1. Add a new or existing CMS page to an hierarchy tree
2. Edit the CMS page Url key field
3. Check result on front-end

### Expected result

No duplicated nodes are visible in the navigation menu, the existing hierarchy node is updated with the new Url.

### Actual result

Hierarchy tree has duplicates: a new hierar

[2022-11-03 14:18] erikffflabel commented on #3294
when cache is enabled and you have session->getCustomerId = null issue, you just need to add Factory pattern
Magento/blabla/Customer/SessionFactory

private SessionFactory $customerSessionFactory;

construct(SessionFactory $customerSessionFactory) {
$this-customerSessionFactory = $customerSessionFactory;
}

public function someFunction() {
$sessionModel = $this->customerSessionFactory->create();
r

[2022-11-03 14:21] erikffflabel commented on #2010
when cache is enabled and you have session->getCustomerId = null issue, you just need to add Factory pattern
Magento/blabla/Customer/SessionFactory

private SessionFactory $customerSessionFactory;

construct(SessionFactory $customerSessionFactory) {
$this-customerSessionFactory = $customerSessionFactory;
}

public function someFunction() {
$sessionModel = $this->customerSessionFactory->create();
r

[2022-11-03 15:44] zepgram commented on #35313
Still waiting for a <b>quality patch</b> since July @magento.

It's just my opinion but security patch **SHOULD** never include a `data`/`schema` patch or any database changes.
You should talk about this with your architecture team.

The reason is simple: you may break Magento on a security patch, which is a total non-sense by doing this you are also breaking customer's confidence on security rele

[2022-11-03 16:15] i6media commented on #35603
Same here, possibly related to invoices being sent twice by cron (1 minute after each other)

[2022-11-03 16:30] engcom-November commented on #36392
Hi @cptX ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop instance and is reproducible. But however this is existing behavior of Magento. On selecting the configurable option - "As low as" text is removed and only price is displayed to the user which is not causing any functional issues or there is no impact on UI. Kindly recheck and provide your inputs on

[2022-11-03 16:32] ilnytskyi opened #36417 "Headless/API/GraphQL operations are not locked (order can be placed twice)"
### Preconditions and environment

- any Magento 2 version
- headless installation (when front app works with backend API)

### Steps to reproduce

1. open https://venia.magento.com/ or use any other headless installation
2. add any product
3. proceed to checkout
4. fill data
5. use chekmo or any other offline payment
6. proceed to review order step without placing the order
7. extract cart-id fro

[2022-11-03 16:46] pmonosolo commented on #36258
@engcom-Hotel Sorry I ran out of steam - the 2.4.5 upgrade took everything out of me...lol.

I'll need to re-approach this in the new year or if somebody in https://github.com/magento/magento2/issues/30596 will pick this up.

[2022-11-03 17:06] cptX commented on #36392
Hi @engcom-November,

but this is not the correct behavior! You cannot expect to read As low as if the price is single and common in all configurations!
I don't understand your phrase "But however this is existing behavior of Magento. On selecting the configurable option - "As low as" text is removed and only price is displayed". In a catalog page you always see "As low as" on this product! Also,

[2022-11-03 17:19] cptX commented on #36392
@DavaGordon
I tested what you say and I cannot verify this! I always have "As low as" even after cache clear and reindexing

[2022-11-03 19:24] angelo983 commented on #36398
https://github.com/magento give me 2.4.4 instance

[2022-11-03 19:28] angelo983 commented on #36398
@stefancic be more careful next time, opening an issue takes time for other people.
https://megatoner.si/pisarna/dahle-skarje-professional-10-26cm.html - THIS ONE IS ERROR 404
it is a product link and you don't enabled Product URL Suffix in Stores => Settings => Configuration => Catalog => Catalog => Search Engine Optimization
https://megatoner.si/pisarna/dahle-skarje-professional-10-26cm WORKS!

[2022-11-03 19:35] angelo983 commented on #36398
@magento give me 2.4-develop instance

[2022-11-03 20:18] rodrigowebjump commented on #36417
@magento give me 2.4-develop instance

[2022-11-04 06:38] engcom-Hotel commented on #35313
Hello @zepgram @willbrammer,

The related JIRA status is `Deployment Queue`, it will be merged soon with the development branch. I will keep you posted.

Thanks

[2022-11-04 06:39] m2-assistant[bot] opened #36419 "[Issue] Set default indexer mode to 'schedule'"
This issue is automatically created based on existing pull request: magento/magento2#36347: Set default indexer mode to 'schedule'
### Description

It is recommended that indexers be in the `schedule` ("Update by Schedule") mode, and not `realtime` ("Update on Save") mode. However, when Magento is installed for the first time, all indexers are by default in the "wrong" mode. This pull request chan

[2022-11-04 07:44] engcom-Bravo commented on #36376
@magento give me 2.4-develop instance

[2022-11-04 07:55] engcom-Lima commented on #36417
@magento give me 2.4-develop instance

[2022-11-04 08:02] angelo983 commented on #36279
Updates:
DevTools failed to load source map: Could not load content for https://5a6e47f9b7eaa11ced36627e0bf2d9f2.instances.magento-community.engineering/static/version1667504227/frontend/Magento/luma/en_US/vimeo/player.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

https://5a6e47f9b7eaa11ced36627e0bf2d9f2.instances.magento-community.engineering/set-of-sprite-yoga-straps.

[2022-11-04 09:46] engcom-Bravo commented on #36409
@magento give me 2.4-develop instance

[2022-11-04 09:48] mrtuvn opened #36420 "Cannot import magento lib variables less from module scope"
### Preconditions and environment

Any version

### Steps to reproduce

Go to app/code/Vendor/Module/web/css

Create file styles.less for example

Inside import less code
Full path
app/code/Vendor/Module/web/css/styles.less

[code]
https://github.com/magento/magento2/blob/2.4-develop/lib/web/css/source/lib/_variables.less
https://github.com/magento/magento2/blob/2.4-develop/lib/web/css/source/lib/

[2022-11-04 10:22] engcom-Hotel commented on #31361
Hello @prabhakaran777,

We have tried to reproduce this issue in the Magento 2.4-develop instance and the issue is not reproducible for us. We have made a custom module in order to reproduce it. We are attaching the same for reference:

[Magz.zip](https://github.com/magento/magento2/files/9937258/Magz.zip)

We are getting the expected response from the query:

<img width="930" alt="image" src="htt

[2022-11-04 10:37] nikita-biliavskyi commented on #36378
Hi @engcom-November
I found the reason for this behavior myself, it is caused by the added fixes to the standard Magento module, so this behavior is normal.

[2022-11-04 11:22] engcom-Lima commented on #36417
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch and also on venia website.

**Description:** Headless/API/GraphQL operations are not locked (order can be placed twice)

**Pre-requisite:**
- Fresh magento `2.4-develop` should be installed.

**Steps to reproduce:**
1. Open https://venia.magento.com/ or use any other headless installation
2. Add any product
3. Proce

[2022-11-04 11:34] engcom-Bravo commented on #36391
Hi @rogerdz,

Thank you for reporting and collaboration.

Verified the issue on Magento` 2.4-develop` instance and the issue is reproducible.Customer data in localstorage not reset when session file lost.Kindly refer the screenshots.

Steps Followed:

1.Login customer in frontend
2.Add product to cart
3.Remove magento session files with command: rm -rf var/session/*
4.Flush cache

<img width="1359

[2022-11-04 11:39] engcom-Bravo commented on #36376
Hi @Ritesh-Rana,

Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the video.

Steps Followed :

1- login as admin, go to Catalog > Products > Add new Product .
2- Create new simple product.
3- Go to Images and videos and click on Add video.
4- Now add YouTube video Link in URL and save and save product.
5-

[2022-11-04 11:44] engcom-November commented on #34321
Verified the behavior on Magento 2.4-develop instance and is reproducible.
No information about which job is running in the process tree background has been observed. Hence confirming this issue.

[2022-11-04 11:45] engcom-Bravo commented on #36409
Hi @nbennett25,

Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop instance we are not able to reproduce the issue.Kindly Provide more information about disable_auto_group_change value and also provide exact steps to reproduce the issue and screenshots if required.

Kindly provide your CSV file it is helpful for us.

Thanks.

[2022-11-04 12:07] danielpugh commented on #14582
2.4.4 - broken still
main.CRITICAL: Something went wrong while export process. There is no data for the export. [] []

[2022-11-04 13:33] VladyslavSikailo opened #36421 "Inventory Indexer | Configurable product is Out of Stock but should be In Stock"
### Preconditions and environment

`magento/product-enterprise-edition:2.4.4`

### Steps to reproduce

1. Create 2 websites, for example, `website1` and `website2`
2. Create stores and storeviews for created websites
3. Create Inventory Source like `source1`
4. Create Inventory Stock like `stock1`, and assign created source to created stock and to `website2`
5. Create configurable product with one

[2022-11-04 14:08] engcom-Lima commented on #36376
@magento give me 2.4-develop instance

[2022-11-04 14:51] ssstankiewicz commented on #26484
@magento-engcom-team It occurs again in Magento 2.4.5. Adding new image via API to product cause uncheck checkboxes for 'Use default value'

Product before request:
![24-MB01_before_request](https://user-images.githubusercontent.com/25231802/200004056-b96f2705-b57d-49f0-b853-44d59f343bb4.png)

Product after request:
![24-MB01_after_request](https://user-images.githubusercontent.com/25231802/200004

[2022-11-04 18:10] engcom-November commented on #36392
Thank you for response @cptX . Agreed that "As low as" should not be displayed to the configurable products if single price is set for all configurable child options. Hence confirming this issue.

[2022-11-04 18:13] engcom-November commented on #36378
Thank you for the response @nikita-biliavskyi . We are closing this issue as its not reproducible on clean vanila Magento 2.4-develop latest Magento instance. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-04 18:13] #36378 closed, assigned to engcom-November

[2022-11-04 18:22] ninjacoder30 commented on #35313
Hello @engcom-Hotel

I am facing same issue on 2.4.4-p1 , i deleted the patch entries and still not able to fix the issue.

Also when i try to active new key its giving me below error
The attempt to post data to consumer failed due to an unexpected error. Please try again later.

Below is the trace

`
2022-11-04T18:11:58+00:00 INFO (6): Unable to read response, or response is empty
2022-11-04T18:1

[2022-11-04 18:27] engcom-November commented on #36407
Hi @Shaikh-Samir ,
Thank you for the response. Reverified the issue again on Magento 2.4-develop instance and agreed that warning message should not be displayed if we do not pass Call back URL and Identity Link URL optional fields. Temporary workaround to resolve this issue is to updated in DB by running below SQL queries:
UPDATE `integration` set `endpoint` = '' where `endpoint` IS NULL;
UPDATE

[2022-11-04 18:47] cptX commented on #7647
2.4.5 same issue!!! Amazing that this is a 6 years old bug and still unsolved!
I have 2 stores English and Greek and have created a configurable product. Initially I set an image to the parent. By coincidence the same image I used for one configuration. Then I wanted to remove the image from the parent and it's impossible. I get the same error. I have removed all possible roles from this image and

[2022-11-04 19:10] Shaikh-Samir commented on #36407
@magento add to contributors team

[2022-11-04 19:22] Shaikh-Samir commented on #36407
@magento i am working on the issue

[2022-11-04 20:52] alikhani97 commented on #36415
@magento give me 2.4-develop instance

[2022-11-05 07:03] alikhani97 commented on #36415
https://github.com/magento give me 2.4-develop instance

[2022-11-05 07:05] alikhani97 commented on #36421
@magento give me 2.4-develop instance

[2022-11-05 11:57] kestraly opened #36423 "Adminhtml - Product with custom option date [required] when creating an order via admin"
### Preconditions and environment

- Magento version 2.4.4-p2
- PHP 7.4

### Steps to reproduce

**- Set Date as drop down in Stores > Configuration > Catalog > [Date & Time Custom Options]**
Date Fields Order - Day / Month / Year
Save

**- Catalog > Products > Select or add a new product**
Add a date custom option to a product with date.phtml as **required**

**- Sales > Order**
Create a new orde

[2022-11-05 11:58] kestraly commented on #36423
@magento give me 2.4-develop instance

[2022-11-05 12:11] kestraly commented on #36423
Error is reproduced, but allowed to add to cart with single option

**Uncaught SyntaxError: Unexpected token '}'
    at legacy-build.min.js:1:9878
    at Array.map (<anonymous>)
    at Array.collect (legacy-build.min.js:1:19426)
    at String.evalScripts (legacy-build.min.js:1:9845)
    at legacy-build.min.js:1:6086**

[code]

[2022-11-05 12:55] antonioste commented on #3544
but in the auth.json file, the "key" fields must be with "and <>?

Or just with ""?

[2022-11-05 12:58] Jehangir-Wahid commented on #3544
Just with ""

[2022-11-05 13:06] antonioste commented on #3544
a lot of try, don't work for me :(

[2022-11-05 15:02] Jehangir-Wahid commented on #3544
Have you tried my solution?

[2022-11-05 15:05] antonioste commented on #3544
SURE!

[2022-11-05 15:06] Jehangir-Wahid commented on #3544
Try it and please don't miss a single step in that solution.

I hope it works for you.

[2022-11-05 15:10] antonioste commented on #3544
I've add my key in auth.json (no github)
and not work :(

[2022-11-06 11:38] quintinnel2 opened #36424 "Error when uploading Image in Admin Page (Category and Page Content section)"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug
Magento Open Source 2.4.5-p1

### Steps to reproduce

Login in as Admin
Navigate to Catalog -> Categories
Select and category, navigate to the Content Section, and try adding a Media Image.
Upload Image from Local drive.

### Expected result

The image should be added to the content o

[2022-11-06 16:41] jakegore commented on #30128
@websecureNL Did anyone find a fix/workaround for this? We appear to be having this issue on a store that we just recently updated to 2.4.5-p1.

[2022-11-06 18:26] angelo983 opened #36425 "Hidden custom Shipping Policy in Admin Store View scope"
### Preconditions and environment

- Magento version 2.4-develop
- PHP 8.1
- Apply Shipping Policy.

### Steps to reproduce

1. Go to Stores => Settings => Configuration => Sales => Shipping Settings => Shipping Policy Parameters
2. Set 'Apply custom Shipping Policy' to Yes
3. Fill Shipping Policy field with text
4. Switch in Store View scope in admin.

### Expected result

Shipping Policy field v

[2022-11-06 22:16] gilbertsohal opened #36426 "Magento 2.4.5 - Shipment Email not showing Tracking Number, Shipping Info, Shipping Methods, Order Item"
### Preconditions and environment

- 2.4.5
- Create an order and Send Tracking Information email

Screenshot
https://prnt.sc/XP6t0NzYnDlq

### Steps to reproduce

1. Create an Order
2. Create New Shipment for Order
3. Add Carrier, Title, Number to New Shipment
4. Click and checked Check Email Copy of Shipment checkbox
5. Click Submit Shipment Button

### Expected result

1. Shipment email showing

[2022-11-06 22:18] chaikivskyi opened #36427 "HTML minification issue"
### Preconditions and environment

- 2.4.3
- issue occurs after HTML minification

Possible fixes:
1. Fix HTML minification to remove needless space
2. Use `empty(trim($html))` or `$html === ' ' || $html === ''`rather than `$html == ''`

### Steps to reproduce

1. Add to layout container, blocks as a child for this container, template of this block should contain the default Magento license discla

[2022-11-06 22:41] gilbertsohal opened #36428 "Magento 2.4.5 - Unable to Create New Order in Backend"
### Preconditions and environment

- 2.4.5
- Add Selected Product(s) to Order not adding product to Items Ordered list
- Payment Method not showing
- Shipping Method not showing

### Steps to reproduce

1. Login to Backend
2. Create new Order Sales > Orders > Create New Order
3. Select Existing Customer
4. Click Add Products button > Select simple product
5. Click Add Selected Product(s) to Order

[2022-11-07 01:36] engcom-Dash commented on #35227
Hi @Gelmo ,

We are trying to reproduce the issue in 2.4-develop instance but we are not able to reproduce.
Steps We followed:
1.Install mAgento
2.Done Varnish Setup Configuration
3.Install Klaviyos Module
4.Integrate with magento from klaviyos
5.we are not able to integrate the module

Screenshots:
<img width="1512" alt="Screenshot 2022-11-04 at 4 34 16 PM" src="https://user-images.githubusercont

[2022-11-07 06:09] Shaikh-Samir commented on #36407
@magento give me 2.4-develop instance

[2022-11-07 06:43] engcom-Dash commented on #36426
Hi @gilbertsohal ,

We are trying to reproduce the issue in 2.4.5 magento instance...But we are not able to reproduce the issue...We are getting the expected results.

Steps:
1.Install Magento instance
2.create oder
3.checked the mail and verifying showing Carrier, Title, Number, showing Shipping Info, Shipping Methods.
4.Everything Is showing in the mail

Screenshot:
<img width="1512" alt="Screen

[2022-11-07 06:59] engcom-Dash commented on #36423
@magento give me 2.4-develop instance

[2022-11-07 07:14] norgeindian commented on #28153
@sdzhepa , did the status change or is everything still the same?

[2022-11-07 07:18] mitaldeveloper commented on #35970
I have fixed by below changes
File: vendor/magento/module-elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplier.php
Line no: 235

**From**
[code]

**TO**

[code]

[2022-11-07 07:31] ssstankiewicz opened #36429 "Updating a product through the API unchecks "Use Default Value" on a bunch of attributes"
### Preconditions and environment

- Magento 2.4.5
- 2 store views

### Steps to reproduce

1. Create 2 store views
2. Add a new product with a price
3. Change store view on the product. You can see "Use Default Value" for price is checked.
4. Update the product using the API, for example uploading an image
5. View the product again
6. Notice the "Use Default Value" on Name or Description is now u

[2022-11-07 07:34] engcom-Lima commented on #36415
@magento give me 2.4-develop instance

[2022-11-07 07:52] engcom-Bravo commented on #36428
@magento give me 2.4-develop instance

[2022-11-07 07:54] mreichenbach-igniti commented on #35812
@engcom-Dash  We have a Magento 2.4.4-p2 and can reproduce the problem just my calling the "/graphql" URL of the store. This adds the "id_salt" value into the `env.php` and afterwards the frontend returns only http-500. On the other side we could not reproduce this behaviour with Magento 2.4.3. Sounds like a serious problem to me.

I'm confused: this issue was claused with the reason that it's a d

[2022-11-07 08:01] engcom-Hotel commented on #35411
Hello,

As going through with the comments on the related PR, the issue is already fixed and merged with the development branch. Hence closing this issue. Let us know if the issue is still occurring.

Reference Link: https://github.com/magento/magento2/pull/35408#issuecomment-1132694741

Thanks

[2022-11-07 08:01] #35411 closed, assigned to nobody

[2022-11-07 08:19] engcom-Lima commented on #36415
Hi @csanseverinoNL ,

Thanks for your contribution and collaboration.

I have tried to reproduce the issue but issue is not reproducible to me.
Below are the steps I have followed:
1. Add a new CMS page from content >> Elements >> Pages
2. Edit the CMS page Url key field.
3. Cleared cache and indexers.
4. Check result on front-end

I couldn't find any duplicated one and older one not working as ex

[2022-11-07 08:29] csanseverinoNL commented on #36415
hello @engcom-Lima i think there's a misunderstanding: this is not an issue about routing, it affects only the way navigation menu is built and CMS pages hierarchy structure.

Your page should be in the navigation menu hierarchy because that's where the issue happens: if your test page is going to be set as a child of the "Sale" navigation menu node for instance, changing the url key afterwards sh

[2022-11-07 08:57] csanseverinoNL commented on #36415
@engcom-Lima please also note that this is ONLY reproducible on Magento Commerce (CMS page hierarchy is not available in Magento Open Source), and therefore the Magento instance created for this issue is not useful.

[2022-11-07 09:00] engcom-Hotel commented on #33008
Hello @fooman,

Thanks for the report and collaboration!

We appreciate it if you provide the below information related to this issue:

- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2022-11-07 09:30] nuzil commented on #35788
It is still there on 2.4.4-p2

[2022-11-07 09:41] engcom-Lima commented on #36415
Hi @csanseverinoNL ,

Thanks for quick reply. Kindly provide us more detailed steps to reproduce as well as screenshots.

Thanks

[2022-11-07 09:46] engcom-Lima commented on #36429
@magento give me 2.4-develop instance

[2022-11-07 10:06] engcom-Lima commented on #35788
Hi @nuzil & @xtremevision ,

Thanks for your contribution and collaboration.

Kindly provide us more information about the **steps to reproduce** the issue because issue is not reproducible to us.

Please find the screenshot for your reference:
<img width="1111" alt="image" src="https://user-images.githubusercontent.com/60198022/200282407-ab3bfd44-7707-47bb-a862-83d730402f73.png">

Kindly check th

[2022-11-07 11:16] engcom-Bravo commented on #36424
@magento give me 2.4-develop instance

[2022-11-07 11:22] engcom-Dash commented on #36423
@magento give me 2.4-develop instance

[2022-11-07 11:57] engcom-Bravo commented on #36428
Hi @gilbertsohal,

Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is not reproducible on both the instances.We are able to Create New Order from Backend.Kindly refer the screenshots.

Steps to reproduce:

1.Login to Backend
2.Create new Order Sales > Orders > Create New Order
3.Select Existing Customer
4.Click Add Products but

[2022-11-07 11:58] engcom-Lima commented on #36429
Hi @ssstankiewicz ,

Thanks for your contribution and collaboration.

i have tried to reproduce the issue on `2.4-develop` but issue is not reproducible to me. Below are the steps which I have followed:

1. Created two views.
2. Created a product.
3. Changed the Store view and verified "Use Default" checkbox.
4. Uploaded image from rest api.
5. Again verified the Use Default checkbox.

**Screensho

[2022-11-07 12:01] engcom-Bravo commented on #36425
Hi @angelo983,

Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Shipping Policy field visible in Store View scope.Kindly refer the screenshots.

Steps to reproduce :

1.Go to Stores => Settings => Configuration => Sales => Shipping Settings => Shipping Policy Parameters
2.Set 'Apply custom Shipping Policy' to Yes
3.Fil

[2022-11-07 12:06] engcom-Bravo commented on #36424
Hi @quintinnel2,

Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

We are able to add the image to the content of the Category page from Local Drive.

<img width="1410" alt="Screenshot 2022-11-07 at 4 53 01 PM" src="https://user-images.githubusercontent.com/51680745/200306227-8f8ff9e2-11dc

[2022-11-07 12:31] richardreen commented on #35812
In magento 2.4.5 this error is not thereanymore

Verstuurd vanaf mijn iPad

[2022-11-07 12:38] kestraly commented on #36423
@engcom-Dash
Whilst selecting date, if you check your console in the browser, you’ll see the JS error. It basically stops the validation process, which in turn breaks adding further custom options.

The bigger issue is how pre_processed files is handled.

I can add imagery if required

[2022-11-07 12:54] angelo983 commented on #36425
@engcom-Bravo read better steps and follow them to the letter, according also to issue title.

Switch ADMIN setup in store view scope
![image](https://user-images.githubusercontent.com/24254454/200315501-8ed9133a-c3a5-4c34-907b-c25c78fabbb6.png)

Thanks.

[2022-11-07 13:32] TheBadong opened #36430 "Can't login as customer on customer not created in default store."
### Preconditions and environment

- 2.4.4

### Steps to reproduce

1. have two stores
2. create a customer in the store that is not default.
3. In the back office, try to login as this new customer (after having allowed this in the customer account)

### Expected result

Admin can login as customer

### Actual result

Error "something went wrong during application run"

### Additional information

[2022-11-07 13:33] TheBadong commented on #36430
@magento give me 2.4-develop instance

[2022-11-07 13:51] #36430 closed, assigned to engcom-Bravo

[2022-11-07 14:02] ssstankiewicz commented on #36429
@magento give me 2.4-develop instance

[2022-11-07 14:39] ssstankiewicz commented on #36429
https://github.com/magento give me 2.4.5 instance

[2022-11-07 14:40] ssstankiewicz commented on #36429
@magento give me 2.4.5 instance

[2022-11-07 15:08] ssstankiewicz commented on #36429
@engcom-Lima I can confirm that issue is not reproducible on 2.4-develop. But on 2.4.5 is. Do you have any idea how to fix it temporarily?

[2022-11-07 15:38] #36300 closed, assigned to nobody

[2022-11-07 15:38] #36274 closed, assigned to nobody

[2022-11-07 15:38] #36390 closed, assigned to nobody

[2022-11-07 15:48] #36256 closed, assigned to nobody

[2022-11-07 15:48] #36271 closed, assigned to nobody

[2022-11-07 15:48] #35796 closed, assigned to nobody

[2022-11-07 15:48] #36272 closed, assigned to rogerdz

[2022-11-07 15:59] engcom-November commented on #36381
Hi @Aythamiza ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance but unable to reproduce the issue.
**Steps performed:**

1. Navigate to admin Panel > create a simple product with 1 image > save
2. generate admin integration token using POST request : /rest/default/V1/integration/admin/token
_{
  "username": "admin",
  "password": "admin@123"
}_

3. The

[2022-11-07 16:28] trunglv commented on #34202
A patch for you guys while waiting updating from Magento.
https://gist.github.com/trunglv/9956b6e4adb206ad304c0b00eec05a5a

[2022-11-07 16:37] dtavieres commented on #35978
Hi @engcom-Dash, Is there any new about this fix?  Thank you in advance

[2022-11-07 16:56] chittima commented on #34202
Issue is already fixed in the develop branch and not reproducible anymore. Here is the commit https://github.com/magento-commerce/magento2ce/commit/b4f87e9632055d369a0a4c943dee00888c336ea4

[2022-11-07 17:51] engcom-November commented on #36413
Hi @adamlavery ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance but unable to reproduce the issue.
On running the command:  bin/magento catalog:images:resize, image files having issue are logged as expected in the response. Kindly recheck the behavior on Magento 2.4-develop instance and elaborate steps to reproduce if the issue is still reproducible.

[2022-11-07 18:19] clockworkgeek opened #36431 "Undefined index in TierPriceValidator.php"
### Preconditions and environment

- Magento version 2.4.5
- MariaDB 10.3.36 although that's probably irrelevant since this is normal database behaviour.

### Steps to reproduce

1. Create a customer group with a trailing space in it's name.
2. Create admin integration token using POST: ` /rest/default/V1/integration/admin/token`
3. Using the API endpoint `/rest/V1/products/tier-prices`, attempt t

[2022-11-07 18:20] engcom-November commented on #36387
Hi @pierzakp ,
Thank you for reporting and collaboration. As per the Magento [devdocs](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/plugins.html), plugins can not be used on Virtual Types and is mentioned as limitation in the documentation. Hence this issue cannot be fixed as this is a known limitation. Please refer the document and provide your inputs on this.
Thank you.

[2022-11-07 19:48] Andryel-Blanco opened #36432 "Error when i try to get products/attributes"
### Preconditions and environment

- Magento 2.4
- Anything else that would help a developer reproduce the bug

When I make a request to https://kubaaudio.projeto.online/rest/V1/products/attributes?searchCriteria[currentPage]=1 I get the following return:
  "message": "Each method must have a doc block. See Magento\\Eav\\Api\\Data\\AttributeInterface::getIsUserDefined()",
 "trace": "#0 /var/www/pr

[2022-11-07 20:28] kestraly commented on #36423
Image of the error that appears in console.
<img src="https://iili.io/plJ8Q4.md.jpg" alt="plJ8Q4.md.jpg" border="0">

It definitely breaks custom options. Please review your console @engcom-Dash whilst adding the custom option to basket. Then review the line to see that addMethod is becoming ommited ` //<![CDATA[                jQuery.validator.addMethod('validate-datetime-1', function(v) {`

[2022-11-07 20:42] nbennett25 commented on #36409
@engcom-Bravo I was able to reproduce this on the 2.4-develop instance provided. The csv content will be determined by the customer records (specifically email address), but the base of it is below:

[code]

[2022-11-07 22:28] bartoszkubicki commented on #32608
It seems to be solved in magento 2.4.5

[2022-11-07 22:56] fooman commented on #33008
@engcom-Hotel thanks for checking in on this.

To answer your questions:

**environment**
all supported Magento versions

**steps to reproduce**
write a plugin to change the title of a payment method during checkout targeting
`\Magento\Quote\Api\Data\PaymentMethodInterface::getTitle()`

**expected results**
I can change the title of all payment methods that follow Magento best practices.  Accordin

[2022-11-07 23:34] kenseiatwork opened #36433 "Cart price rule Action "Price in cart" condition, applying when It should not"
### Preconditions and environment

- Magento 2.4.4 / 2.4.5

### Steps to reproduce

1. Create a Cart Price Rule
2. Set Specific Coupon Code (ex "TEST")
3. Conditions : none
4. Actions: Apply "Percent of product price discount"
5. Discount Amount: 50
6. Apply the rule only to cart items matching the following conditions : "Price in Cart" .. "Less than" .. "50"
7. Create a Configurable product with

[2022-11-08 01:40] onlinebizsoft commented on #34003
@engcom-November do we have the linked pull request?

[2022-11-08 04:34] engcom-November commented on #36432
@magento give me 2.4-develop instance

[2022-11-08 04:36] engcom-November commented on #36357
Hi @gitchrisqueen ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-08 04:36] #36357 closed, assigned to engcom-November

[2022-11-08 05:42] engcom-November commented on #32382
Verified the behavior on Magento 2.4-develop instance with 10k products and Product price reindex took 01 sec but where as  Catalog Search index took 18 seconds to reindex.
![image](https://user-images.githubusercontent.com/60198231/200484405-d07b2ff2-7302-4eaa-a8f3-e1c0226abe2b.png)

[2022-11-08 05:58] engcom-November commented on #32382
Verified the behavior again on Magento 2.4-develop instance with 19k products (With both simple and configurable products  combined) and Product Price index took 00:06:25 time during reindex.
![image](https://user-images.githubusercontent.com/60198231/200486752-aa1a436c-0c37-4de6-b0ff-8c884b709258.png)

[2022-11-08 07:57] nidhigupta13-ey commented on #36004
@magento I am working on this

[2022-11-08 07:57] nidhigupta13-ey commented on #36004
@magento add to contributors team

[2022-11-08 07:59] nidhigupta13-ey commented on #36004
@magento accepted.

[2022-11-08 08:03] WouterSteen commented on #33770
Problem here in our case was that our customer had duplicate entries in the url_key field from products.

This issue needs to be fixed, so no duplicate urls can exist. This is what we did:

- installed: composer2 require elgentos/regenerate-catalog-urls
- bin/magento regenerate:product:url

With output let the customer fix there url keys

Obv we did this on a test env, and after the customer fixed

[2022-11-08 08:19] TheBadong opened #36434 "Admin user can't login as customer if a GWS scope not including the default store is set on their role"
### Preconditions and environment

- Adobe Commerce : 2.4.4
- Commerce only, is this the right place to report commerce bugs?
- Working on 2.4.3

### Steps to reproduce

1. Have a magento commerce 2.4.4 setup with the module admin-gws enabled
2. Create a secondary website, store and store view (all linked to each other)
3. Create a user role with only the second website scope, not the default one

[2022-11-08 08:31] thomas-kl1 commented on #36434
Hi, it seems related to this modification: https://github.com/magento/magento2/commit/c16c12bba2a19a4d85d0bdef7b589a80f1a2bff3

Indeed GWS has plugins over the getDefaultStore method and checks if the current admin user is allowed to load it. If the admin user has only permission for a specific website, then it fails and returns null.

[2022-11-08 09:34] elioermini commented on #32943
We have this on 2.4.5-p1 with the bundled Braintree module @engcom-Lima

[2022-11-08 10:05] devchris79 commented on #36426
The layout handles were changed, I think your shipment layout handle needs to change from:

{{layout handle="sales_email_order_shipment_track" shipment=$shipment_id order=$order_id}}
to
{{layout handle="sales_email_order_shipment_track" shipment_id=$shipment_id order_id=$order_id}}

You should then find the details added.

[2022-11-08 10:09] wkdcode-liam commented on #5847
@cjohansson me too, did you fix it? I have a live site and staging site. Live was on 2.3.6 having this issue so I upgraded staging to 2.4.4-p2 and still having the same issue. My problem is that it happens with OneStepcheckout and if I disable that module and use the core checkout it works fine.. yet this checkout is used on all my sites with no issues

[2022-11-08 10:14] nidhigupta13-ey commented on #36004
@magento-admin

This issue is not reproducible, I have checked it in Magento version 2.4.5. Attaching screenshot for reference.

<img width="1774" alt="Screenshot 2022-11-08 at 3 41 24 PM" src="https://user-images.githubusercontent.com/93646392/200537820-8a91a0cb-1dc8-43df-87d9-f52b589116a6.png">

[2022-11-08 10:19] davidduong90 commented on #35329
In my case, I updated the file:
lib/web/mage/menu.js

Hope it helps someone!

[2022-11-08 10:24] jesseihatsu commented on #35329
https://github.com/magento/magento2/issues/35329#issuecomment-1306971521

This is the method used in the original patch mentioned in https://github.com/magento/magento2/issues/35329#issuecomment-1139618176 but when magento2-base package updates it overrides the `lib/web/mage/menu.js` contents, so you have to patch it manually everytime it changes.

[2022-11-08 14:02] 0m3r opened #36435 "requirejs([''vimeo/player''], ...) doesn't work"
### Preconditions and environment

- Magento 2.4.5 after this commit https://github.com/magento/magento2/commit/2b98dc6517c4148cb98afb25fa86efd63c348948#diff-6bbf557f143626ce945375a3488dcdf7a55ecabf84cc53f4413197ffc3c5d3e7

### Steps to reproduce

1. open Magento 2.4.5 home page
2. press F12 to open the dev toolbar
3. run js code in a console

[code]

jquery works
vimeo/* doesn't work

because  co

[2022-11-08 14:38] 0m3r commented on #36435
Sorry look like the problem is in Page Builder
https://github.com/magento/magento2-page-builder/commit/a8b806386305712b6086bd4594aab817d5e34094

https://github.com/magento/magento2-page-builder/commit/a8b806386305712b6086bd4594aab817d5e34094#r80397027

[2022-11-08 14:38] #36435 closed, assigned to nobody

[2022-11-08 15:29] convenient commented on #36112
Thanks for getting here @arko-betersport

This is the EXACT same issue as i described on https://github.com/magento/magento2/issues/30915

The magento solution to that issue was to set the new relic transaction name only when `newrelicreporting/general/enable` is configured in the database.

https://github.com/magento/magento2/blob/28c7f79f4d74564ba880e35e59ea45b896437ca7/app/code/Magento/GraphQl/

[2022-11-08 15:59] igi8819 opened #36438 "Email template displayed incorrectly when using depend inside an if"
### Preconditions and environment

- Magento version: 2.4.5-p1
- Magento version: 2.4.4-p2

### Steps to reproduce

1. Go to admin -> marketing -> email templates
2. Click Add new email template
3. Load Default Template form "New Order"
4.
Add these lines before greeting/or wherever you want
`{{if order_id}}
                {{depend order_id}}
                {{trans 'My order id is: <span class="

[2022-11-08 16:10] nwcasebolt opened #36439 "OrderGridCollectionFilter Plugin Breaks Mapping for `created_at` Column"
### Preconditions and environment

- Magento 2.4.5-p1

### Steps to reproduce

1. Add an `afterSearch` plugin on `Magento\Framework\View\Element\UiComponent\DataProvider\Reporting` that joins the `sales_order` table to the `sales_order_grid` table.

Example:

[code]

2. Filter the Order grid on purchase date.

### Expected result

The orders are filtered by purchase date.

### Actual result

- The

[2022-11-08 16:38] paulhaidon commented on #36362
@FadedOut

We upgraded from 2.4.4 to 2.4.5-p1 and also found this to be an issue. Very frustrating. Sometimes you can do the following to make it work:
- Set the product back in stock, save
- Set the product disabled, save
- Set the product enabled, save
- Frontend loads as expected (with product being in stock)

But this doesn't always work and I am still struggling to find a solution to getting

[2022-11-08 16:44] cjohansson commented on #5847
For example, the error message says `No such entity with cartId = 34080`
but if I run SQL query
[code]
I actually find a quote

[2022-11-08 16:54] cjohansson commented on #5847
Ok I solved the issue now, the issue is not what Magento 2 reports, check the XHR log in checkout for other potential issues, in my case a e-mail module failed to send e-mail and that showed the error

[2022-11-08 17:16] Axel29 opened #36440 "Newsletter (un)subscription sent after changing email address"
### Preconditions and environment

- Magento 2.4.3-p3

### Steps to reproduce

1. Create a customer account
2. Subscribe to the newsletter
3. Change customer email address

### Expected result

1. The email address changed email is sent to the customer
2. No other email than the email address update confirmation is sent.

### Actual result

1. The customer recieves both email changed AND newslette

[2022-11-08 17:19] pmathbliss commented on #33799
I found a similar issue where the cataloginventory_stock_status is not updating when reindexing.
After deleting the cataloginventory_stock_status rows for the product, the indexer reindexed properly.

[2022-11-08 18:46] suggs628 opened #36441 "Cannot see the whole webpage"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2022-11-08 20:21] eshcoleswarming opened #36442 "Custom Wysiwyg Style Formats Disappeared After Upgrade to 2.4.5-p1"
### Preconditions and environment

- Magento 2.4.5-p1

### Steps to reproduce

1. Create a custom module
2. Add custom style format according to the instructions for Extending the TinyMCE editor given in the [Magento DevDocs](https://developer.adobe.com/commerce/frontend-core/ui-components/components/wysiwyg/configure-tinymce-editor/#extending-the-tinymce-editor)
3. Clear cache and load the Wyswig

[2022-11-08 20:43] FadedOut commented on #36362
So you're also having the "Only X left" not showing when it should be?

But indeed very frustrating. Especially because
A) the magento devs think it's broken on a clean version of 2.4.5-p1 when it's not - it appears to be maybe just my site (or maybe  not) or maybe a bug from upgrading from 2.4.4 - so IDK what they're going to "fix".
And B) this is a pretty important aspect of selling bulk product

[2022-11-08 21:24] nbennett25 opened #36443 "Product API updates to 'status' field not reflected in the admin UI"
### Preconditions and environment

Magento 2.4.2

### Steps to reproduce

1. Go to Admin > Catalog > Inventory > Products
2. Go to a product record
3. Select Enable Product -> Yes
4. Create a REST admin api token using admin credentials and the REST `/v1/admin/token` endpoint
5. Use the token created in step 4 to send the following PUT data to the `/rest/V1/products/[sku]` endpoint:
    `{"product

[2022-11-08 21:24] nbennett25 commented on #36443
@magento give me 2.4-develop instance

[2022-11-08 21:39] nbennett25 commented on #36443
Confirmed in 2.4-develop:

![Screen Shot 2022-11-08 at 4 38 19 PM](https://user-images.githubusercontent.com/13220124/200681463-2a9ac645-7588-4983-b30f-dc6bc575a141.png)

[2022-11-09 06:09] engcom-Bravo commented on #36350
Hi @johncarlson21,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-09 06:09] #36350 closed, assigned to engcom-Bravo

[2022-11-09 06:09] #36372 closed, assigned to engcom-Bravo

[2022-11-09 06:13] engcom-Bravo commented on #36433
@magento give me 2.4-develop instance

[2022-11-09 06:54] faizan-shk commented on #35199
This issue is fixed in scope of https://jira.corp.adobe.com/browse/ACPT-488 and no longer reproducible on 2.4-develop.
Hence we can close this issue.

[2022-11-09 06:58] kylepham103 commented on #36400
Hello, Does anyone have any comments?

[2022-11-09 07:00] engcom-Dash commented on #36441
Hi @suggs628 ,

Kindly Provide preconditions,Steps to reproduce, Screenshots,Actual results,Expected results....It is easy to proceed further.

Thanks!!!

[2022-11-09 07:01] engcom-Dash commented on #36440
@magento give me 2.4-develop instance

[2022-11-09 07:02] engcom-Dash commented on #36423
@magento give me 2.4-develop instance

[2022-11-09 07:59] engcom-Dash commented on #36440
Hi @Axel29 ,

We are Worked this issue in magento 2.4.4 instance...We are able to reproduce the issue with respective results.

Magento version 2.4.4
PHP 8.1
Steps to reproduce:
1.Install magento instance
2.Login with customer email
3.Subscribe the newsletter with Same Email id
4.Trying to change the email in store front end
5.Email changed successfully

While subscribe the current email id i rece

[2022-11-09 08:02] engcom-Hotel commented on #35199
Thanks @faizan-shk for the updates. We are closing this issue.

[2022-11-09 08:02] #35199 closed, assigned to engcom-Bravo

[2022-11-09 08:25] engcom-Hotel commented on #34202
Thanks for the update @chittima. We are closing this issue.

Thanks

[2022-11-09 08:25] #34202 closed, assigned to nobody

[2022-11-09 09:10] engcom-Dash commented on #36423
Hi @kestraly ,
Thanks For your Information!!!
We are Worked as per your last comment...We are also getting same JS error in console.So we are confirming the issue.

Precondition:
Magento Version 2.4-develop
PHP 8.1
Magento installed with custom date module.
Steps To reproduce:
1.Set Date as drop down in Stores > Configuration > Catalog > [Date & Time Custom Options]
2.set the Date Fields Order - D

[2022-11-09 09:14] engcom-November commented on #36375
Hi @mikew-westlund ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.
Catalog search results page in both Admin and Front end loads immediately with no issues in an instance with 30k - 40k products.
![image](https://user-images.githubusercontent.com/60198231/200789003-c331b30c-272e-48f3-84c8-4082bba70628.png)
![image](

[2022-11-09 09:18] adamlavery opened #36446 "CMS content images missing title attribute"
### Preconditions and environment

OS 2.4.3-p1

### Steps to reproduce

Add an image to a CMS page or block content or indeed any product or category description field.

### Expected result

Admin should be able to set both the alt (image description) and title attributes like was available in M1:

![image](https://user-images.githubusercontent.com/13659750/200789429-b51cb9b2-4fef-4ae5-819b-154207

[2022-11-09 09:19] adamlavery commented on #36446
@magento give me 2.4-develop instance

[2022-11-09 09:24] engcom-Bravo commented on #36438
Hi @igi8819,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is not reproducible on both the instances.**Email Template Displayed Correctly**.Kindly refer the screenshots.

**Steps to reproduce** :

1.Go to admin -> marketing -> email templates
2.Click Add new email template
3.Load Default Template form "New Order"
4.Add thes

[2022-11-09 09:30] engcom-Dash commented on #35978
@magento give me 2.4-develop instance

[2022-11-09 09:31] engcom-Bravo commented on #36425
@magento give me 2.4-develop instance

[2022-11-09 09:31] engcom-Dash commented on #36426
@magento give me 2.4-develop instance

[2022-11-09 09:40] engcom-Hotel commented on #36385
Hello @DavaGordon,

It seems the issue has been resolved because we have tried to reproduce this in other systems as well but this is not reproducible. We request you to please let us know if the issue is still reproducible for you.

Thanks

[2022-11-09 09:42] engcom-Hotel commented on #35616
Dear @rob-gonz,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-11-09 09:42] #35616 closed, assigned to engcom-Hotel

[2022-11-09 09:47] adamlavery commented on #36446
Confirmed, no option to set image title:

![image](https://user-images.githubusercontent.com/13659750/200797231-7ee78c4f-157b-4006-bd93-48669ef932e8.png)

[2022-11-09 09:50] paulhaidon commented on #36362
We don't allow backorders, no.

It may well be a separate issue, I thought it might be linked given the issue we also have relates to the stock issues which seem to have only arisen as a result of going from 2.4.4 to 2.4.5-p1.

As you've mentioned it may not be the same however, I will create my own bug report and have that looked into.

[2022-11-09 09:52] engcom-Dash commented on #35978
Hi @dtavieres ,

Thanks For your contribution!!!

We were checked the issue as per your last comments...We are getting some different results.
We checked 2.4-develop instance as well as 2.4.5 instance
Screenshots of 2.4-develop instance:
<img width="1512" alt="Screenshot 2022-11-09 at 3 12 40 PM" src="https://user-images.githubusercontent.com/60198592/200798019-3518986b-4c21-4c87-a181-4fbcb3d7f6fb

[2022-11-09 10:04] dtavieres commented on #35978
Hello @engcom-Dash,
Here you can see the errors (it's your instance) PageBuilder is broken.
Same outcome for every page.
![error_1](https://user-images.githubusercontent.com/11996996/200800969-e204f4f0-784a-42aa-b133-e52ec5de2e55.png)

ThanK YOU

[2022-11-09 10:07] dtavieres commented on #35978
HI again @engcom-Dash ,
Please. I'd appreciate if you can solve it as soon as possible.
Thank you in advance.

[2022-11-09 10:14] dtavieres commented on #35978
HI  @engcom-Dash ,
This error shows same error in 2.4.5-p1
Thank you
![error_2](https://user-images.githubusercontent.com/11996996/200803400-4450c416-5c39-432f-892b-f030426028ff.png)

[2022-11-09 10:22] igi8819 commented on #36438
I mentioned that in **2.4.5** and **2.4.4** is **WORKING**!

**Not Working in:**
- 2.4.5-p1
- 2.4.4-p2

So please test in 2.4.5-p1 and 2.4.4-p2 (security version)

[2022-11-09 10:25] MyroslavDobra commented on #36439
I also found it an hour ago. It's impossible that people that make such mistakes are working for a corporation like Adobe.

[2022-11-09 10:43] timpea commented on #36375
@magento give me 2.4-develop instance

[2022-11-09 10:51] engcom-November commented on #32382
Verified the issue again on Magento 2.4-develop instance with and without PR changes. On an instance with 20k products - Product Price index took 00:06:25 time during reindex. After removing / commenting the line mentioned in PR , Product Price index took 05 seconds during reindex on an instance with 40,000 products. Hence confirming this issue.
![image](https://user-images.githubusercontent.com/6

[2022-11-09 11:10] timpea commented on #36375
@magento give me 2.4.5-p1 instance

[2022-11-09 11:22] daiduongvo18 commented on #36204
Hi @db879
Is this issue fixed?

[2022-11-09 11:25] magenx commented on #36082
make sure `tmp` folder exists in path provided in config

[2022-11-09 11:36] asannikov commented on #28133
In my case, the old patch in composer changed the name of the "content" XML block here vendor/magento/module-user/view/adminhtml/layout/adminhtml_auth_resetpassword.xml and as a result, the content block was not readable here: vendor/magento/module-user/Controller/Adminhtml/Auth/ResetPassword.php.

I summed up the key entry points, where you can check it:
[code]

[2022-11-09 11:41] engcom-Bravo commented on #36433
Hi @kenseiatwork,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is reproducible on both the instances.Kindly refer the screenshots.

**Steps to Reproduce** :

1.Create a Cart Price Rule
2.Set Specific Coupon Code (ex "TEST")
3.Conditions : none
4.Actions: Apply "Percent of product price discount"
5.Discount Amount: 50
6.App

[2022-11-09 12:02] timpea commented on #36375
@engcom-November @mikew-westlund I have had the same issue with 2.4.5-p1 on our system, but I am unable to replicate.

The issue goes away on our website if I set "Display Out of Stock Products" to "No".

I am not sure what I am missing when trying to replicate.  I have tried importing 10,000 products to the 2.4.5-p1 instance, setting  "Display Out of Stock Products" to "Yes", then search on the f

[2022-11-09 12:15] pbritka opened #36447 "Password reset - The session has expired, please login again"
### Preconditions and environment

- Magento version 2.4.5
- Clean installation with Luma theme
- developer environment

### Steps to reproduce

Have 2 browsers open. One with the magento shop, second one with your gmail account.

Register a new customer.

In the first browser, click on the "forgotten password" link and enter your email address. You'll be redirected to a customer login page. Don't

[2022-11-09 12:24] Vasudev-22 commented on #36443
Hi @engcom-Bravo / @nbennett25 ,

API Endpoint:- **{base_url}/rest/all/V1/products/{sku}.** . This will trigger ALL Store View, and it's working fine in 2.4-develop . Attaching screenshot here.

![RestApi_Change](https://user-images.githubusercontent.com/104893739/200829447-04e5b6ed-85d2-4427-b450-8d5cc9eaf298.png)

API Endpoint:- **{base_url}/rest/V1/products/{sku}.** . This will trigger Default

[2022-11-09 12:27] engcom-Bravo commented on #36425
Hi @angelo983,

Thanks for quick Update.

Store Views are mostly used to handle different languages on your website as per magento [devdocs](https://experienceleague.adobe.com/docs/commerce-admin/stores-sales/site-store/store-views.html?lang=en).We Cannot configure Shipping Policy.When we Configure Shipping Policy initially from Default store view it will not reflected in the Frontend.

Kindly let

[2022-11-09 12:40] adamj88 commented on #36032
This relates to: https://github.com/magento/magento2/commit/294a4a2fa94b6ff3458a91bd6b1bea79adc589d9#r86752477

The change to `lib/web/magnifier/magnifier.js` in https://github.com/magento/magento2/commit/294a4a2fa94b6ff3458a91bd6b1bea79adc589d9 checking prevents the magnifier from showing when enabled.

[2022-11-09 13:52] motau opened #36448 "Cart Price Rule Update Queue Process Dies Without (known) Reason"
Cart Price Rule Update Queue Process Dies Without (known) Reason
### Environment:
  - running on aws infrastructure:
    - kubernetes cluster namespace, scalable, health check detection
    - magento2 CE 2.4.3 - PHP 7.3 (php-fpm) : pod
    - nginx: pod
    - redis: pod
    - db: aws

### Preconditions (*)

1. in adminUI we setup several magento cart price rules with 1 per user codes
2. on machine

[2022-11-09 13:56] eragag opened #36449 "Filter navigation issue"
### Preconditions and environment

After Upgrade from 2.4.3-p1 to 2.4.5 or 2.4.5-p1
PHP8.1
Elasticsearch 7.10.x

### Steps to reproduce

Frontend:

I choose in Layered navigation Men-> Jackets and in Filter navigation Size XL
or i enter Jacket in the search box and choose size in the filter navigation

### Expected result

Now all men's jackets should be displayed in XL.

If you enter in the searc

[2022-11-09 13:58] igi8819 commented on #15219
any update on this?
why you guys not working on a sulution?

[2022-11-09 14:18] alimurtaza026 commented on #26786
Facing it on 2.4.2 why still exists?

[2022-11-09 14:34] yair-levy commented on #25294
Same issue on clean installation 2.4.5

[2022-11-09 14:36] nbennett25 commented on #36443
Thanks @engcom-Bravo - changing the endpoint works as expected. We are using single store mode, so no scope change was available in the product record.

As a design, this seems backwards: I would imagine not specifying a scope in the endpoint would set the change at the top scope, and you would need to specifically target a lower scope with the API endpoint, rather than the other way aroudn.

[2022-11-09 14:36] #36443 closed, assigned to engcom-Bravo

[2022-11-09 17:04] engcom-Dash commented on #36426
Hi @devchris79 ,

Thanks For your information....We are able to see the Carrier, Title, Number, showing Shipping Info, Shipping Methods.But the Reporter side is not displaying.

Thanks!!!

[2022-11-09 17:29] CHallski commented on #30012
Having had this crushing our relatively small store (few thousand products, a dozen customer groups, a dozen catalog price rules) by hanging up the process for indexer_update_all_views for hours: I'm trying a different approach.

Rather than building out a massive batch walker update to deal with multiple version_ids per entity_id and get the max for each one, I'm updating the generic table defini

[2022-11-09 23:29] angelo983 commented on #36425
Sorry but I cannot understand what you wrote. The issue is still present, example try to write a shipping policy for a specific language different from the default one.

[2022-11-10 03:48] twvictor commented on #15427
Having the same issue on the latest Magento version 2.4.5-p1. I recently upgraded magento from 2.4.1 to 2.4.5-p1, and made some test orders, then the issue happened occasionally. Unfortunately I can not reproduce it, but I can provide some details for solving this problem.
The system log as following:
<img width="767" alt="issue-log" src="https://user-images.githubusercontent.com/117882516/2009929

[2022-11-10 03:53] twvictor commented on #15427
I will make some test orders, If I can reproduce it, I will report here.

[2022-11-10 06:38] engcom-Bravo commented on #36432
@magento give me 2.4-develop instance

[2022-11-10 06:47] dtavieres commented on #35978
Good morning @engcom-Dash
Any progress with this issue?
Thank you in advance.

[2022-11-10 06:57] engcom-Dash commented on #36446
@magento give me 2.4-develop instance

[2022-11-10 06:58] engcom-Dash commented on #36449
@magento give me 2.4-develop instance

[2022-11-10 07:01] engcom-Dash commented on #35978
Hi @dtavieres ,

We are Working with this issue will update you as soon as possible.

Thanks!!!

[2022-11-10 07:04] dtavieres commented on #35978
Thank you. @engcom-Dash

[2022-11-10 07:15] engcom-Dash commented on #36446
Hi @adamlavery ,

We are trying to reproduce the issue in 2.4-develop instance....we are not able to reproduce the issue.
we are getting actual result....
Steps:
1.install magento instance
2.Go to content
3.click Edit with page Builder
4.Set image and image uploaded successfully
ScreenShots:
<img width="1512" alt="Screenshot 2022-11-10 at 12 41 56 PM" src="https://user-images.githubusercontent.com

[2022-11-10 07:22] engcom-Bravo commented on #36432
Hi @Andryel-Blanco ,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance but the issue is not reproducible.
No errors/exceptions are observed when trying to get the response for above mentioned API. Status code response: 200 OK
Kindly recheck the issue on Magento 2.4-develop instance as it is an upcoming 2.4.x release and have latest code base. Also check

[2022-11-10 07:23] engcom-Dash commented on #36449
Hi @eragag ,

We are trying to reproduce the issue in 2.4-develop branch...But we are not able to reproduce the issue.
We got expected results....when we trying to filter with Size XL its displaying all the jackets....when we enter the product name with particular size its displaying all the products with the particular size.

Steps:
1.install magento instance
2.go to frontend
3.filter with size X

[2022-11-10 07:51] DaWheelz commented on #7199
This is still happening in 2.3.6... Can we please get a fix for this soon?

[2022-11-10 08:24] dbruehwiler commented on #27447
Would be very helpful as MeiliSearch is very lightweight and fast.

[2022-11-10 08:53] adamlavery commented on #36446
Gosh, I wish you'd read information supplied properly! Nowhere does this ticket mention an issue with uploading images, The issue is with adding the Title attribute to images.

[2022-11-10 08:53] bigbangx commented on #30012
As the REPLACE statement is slower than INSERT, I think that approach could impact triggers performances and slow down large operations.

Also, what about replacement occurring while mview indexation is running ? Some rows that would have been processed during this cron process, would be delayed to next cron, right ?

[2022-11-10 09:30] fschwan commented on #29084
Same issue on 2.4.3-p1 installation with 2 stores (domainA.com = base & domainB.com = child).
Layout updates to child theme doesn't take affect.
Is there any solution or workaround?

[2022-11-10 09:37] engcom-Bravo commented on #36409
Hi @nbennett25,

Thanks for your update.

We tired to reproduce the issue but we are not able to reproduce the issue.we Followed these steps

1.Go to System > Import/Export > Export
2.Select type: Customer Main File
3.Export Customer record

We got Customer File :

[export_customer_20221110_010422.csv](https://github.com/magento/magento2/files/9979337/export_customer_20221110_010422.csv)

Kindly P

[2022-11-10 09:59] thomas-kl1 opened #36453 "Sales order email not sent"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Setup a new customer account with a lastname including the following characters:

Foo-<Bar

Because the lastname is not sanitised, the emails fails:

msmtp: recipient address Foo?=_<foo_bar@mail.net not accepted by the server msmtp: server message: 501 Syntax

[2022-11-10 10:19] engcom-Bravo commented on #36438
Hi @igi8819,

Thanks for your Update.

As per steps to reproduce the issue is reproducible in 2.4.5-p1 and 2.4.4-p2, but it is recommended to verify the issue on Magento 2.4-develop instance as it is an upcoming 2.4.x release and have latest code base.

we can accept the issues if they are reproducible in 2.4-develop branch.

Thanks.

[2022-11-10 10:28] engcom-November commented on #36431
@magento give me 2.4-develop instance

[2022-11-10 10:45] engcom-Bravo commented on #36447
Hi @pbritka,

Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is reproducible on both the instances.

We are not getting any exception.But the session has expired, and again we need to Login.

**Steps to reproduce** :

1.Have 2 browsers open. One with the magento shop, second one with your gmail account.

2.Register a new custo

[2022-11-10 10:45] ssx commented on #36384
I'm fairly sure we're seeing this issue in a production site.

[2022-11-10 10:49] engcom-November commented on #36380
Hi @athreyag ,
Thank you for reporting and collaboration. This issue related to Upgrade Compatibility tool should be reported here in this [repository](https://github.com/magento/magento2-phpstorm-plugin/projects/3) We are closing this issue. Kindly report [here](https://github.com/magento/magento2-phpstorm-plugin/projects/3) if you are facing any issues.
Thank you.

[2022-11-10 10:49] #36380 closed, assigned to engcom-November

[2022-11-10 11:01] TWIAntonio opened #36454 "Data order wrong on invoice"
### Preconditions and environment

- Magento version 2.3.5-p2
- Anything else that would help a developer reproduce the bug

data order is 13-april - 2028

real data order was 24-oct-2022

### Steps to reproduce

1. try number ordre
2. select numebr order
3. selct invoices
4. flag on row
5. select action
6. select pdf invoice

### Expected result

data order 24-oct-2022

### Actual result

13 -apr

[2022-11-10 11:06] engcom-Bravo commented on #36454
@magento give me 2.4-develop instance

[2022-11-10 11:18] engcom-Bravo commented on #36454
Hi @TWIAntonio,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

**Steps to Reproduce** :

1.Place an order.
2.Submit an Invoice.
3.Select action.
4.Select pdf Invoice.
5.Check the ordered Date.

<img width="580" alt="Screenshot 2022-11-10 at 4 43 46 PM" src="https://user-images.githubus

[2022-11-10 11:19] engcom-November commented on #36431
Verified the issue on Magento 2.4-develop instance and the issue is reproducible. Hence updating the description and confirming this issue.
Issue occurred for existing customer group names having trailing space and for any other non existing customer group names given in the api request, this issue is not reproducible.
![image](https://user-images.githubusercontent.com/60198231/201077424-80b00e1a-

[2022-11-10 11:25] engcom-Dash commented on #35978
Hi @dtavieres ,

Thanks For your contribution with us...As we discussed earlier with chat...we are confirming the issue. Because we are getting actual results which means when we trying to open Edit with page builder its displaying the HTML code with all respective pages Along with in console its showing page-builder broken image.So we are confirming with 2.4-develop branch as well as 2.4.5 magent

[2022-11-10 11:34] engcom-Bravo commented on #36425
Hi @angelo983,

Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop instance and the issue is reproducible.Kindly refer the screenshots.

**Steps to Reproduce** :

1.Go to Stores => Settings => Configuration => Sales => Shipping Settings => Shipping Policy Parameters
2.Set 'Apply custom Shipping Policy' to Yes.
3.Fill Shipping Policy field with text.
4.Switch in St

[2022-11-10 11:39] engcom-November commented on #36375
Hi @timpea ,
There is an ongoing confirmed issue: https://github.com/magento/magento2/issues/36404 - incorrect item count on search results page if display out of stock products is set to "Yes" which is a different issue. Kindly move on this [issue](https://github.com/magento/magento2/issues/36404) for latest updates / solutions on the same.
Thank you.

[2022-11-10 12:48] dtavieres commented on #35978
Hi @engcom-Dash . That's everything OK.

Thank you.

[2022-11-10 13:12] TWIAntonio commented on #36454
where do I go wrong ?

![image](https://user-images.githubusercontent.com/117908267/201100521-929db5be-f35e-438f-bb7c-db337ff7c2c0.png)

![image](https://user-images.githubusercontent.com/117908267/201099849-ef204b58-e717-4ef5-9815-178a2be4eb76.png)

![image](https://user-images.githubusercontent.com/117908267/201100113-9f70f0b4-a082-4f6f-96c5-36577fb94f2b.png)

Thanks

[2022-11-10 13:58] Axel29 commented on #36440
Hi @engcom-Dash , thank you for confirming the issue :)

Just an additional information (I added it to the original message), the same bug occurs if the customer is unsubscribed from the newsletter.
In this case, the email sent when changing the customer's email is not the subscription confirmation but the unsubscribe confirmation.

Also, there has been a notification from the jira bot that said t

[2022-11-10 13:59] Axel29 commented on #36440
Hi @engcom-Dash , thank you for confirming the issue :)

Just an additional information (I added it to the original message), the same bug occurs if the customer is unsubscribed from the newsletter.
In this case, the email sent when changing the customer's email is not the subscription confirmation but the unsubscribe confirmation.

Also, the jira bot seems to have issues, I'm just mentioning it t

[2022-11-10 14:18] davidandersson1 commented on #35721
Hello @engcom-Delta please let me know if there any update on this issue or patch released.

Regards,
David Andersson

[2022-11-10 14:39] engcom-Hotel commented on #30012
Hello @gamort @hostep @bigbangx,

Thanks for your input on this issue. I have some findings and would like to share them here. In order to try to reproduce the issue, I have followed the below steps:

1. Change the price of the product with SKU `24-MB01` 20 times via API `rest/all/V1/products/24-MB01`
2. Doing the price change data inserted in the table `catalog_product_price_cl`
3. Adjust the `DE

[2022-11-10 14:42] convenient commented on #28387
@pmonosolo It was a 2.4.2 instance

[2022-11-10 15:22] ssx commented on #36384
@SamJUK yeah - same here. The affected orders had no invoice either.

[2022-11-10 16:00] ppeyman opened #36455 "pagebuilder ( element margins ) doesn't compatible with direction rtl"
### Preconditions and environment

- 2.4.5-p1
- magento default luma theme

### Steps to reproduce

1.create a row from pagebuilder
2.add a column to the row
3.add to banner or add to image
4.go to settings of each of them
5. add margin left or right for both of them

### Expected result

when i added a css code `direction:rtl` margins doesn't works well

![Selection_005](https://user-images.githu

[2022-11-10 16:43] glevhen opened #36456 "The js error when click on video thumbnail in product gallery fullscreen mode"
### Preconditions and environment

- Magento version: 2.4.4-p2

### Steps to reproduce

1) open on the storefront the product page which has video in product gallery
2) click on the product image to open the gallery fullscreen mode
3) click on the product video thumbnail

### Expected result

the product video will autoplay and no errors in browser console

### Actual result

the js error will app

[2022-11-10 16:44] engcom-Hotel commented on #34003
Hello @onlinebizsoft,

This issue is happening because of the known limitations of the Adobe Commerce platform related to price calculation rounding precision.

The issue will be fixed in the scope of the Epic https://jira.corp.adobe.com/browse/AC-6221

We will keep posted here about the progress on the above JIRA - AC-6221.

Thanks

[2022-11-10 17:21] adamlavery opened #36457 "Incorrect validation of html elements in content"
### Preconditions and environment

oS 2.4.3-p1

### Steps to reproduce

Using old style editor (not blocks editor), insert an image from the media library into the content. Wrap that image in an "a" tag. Save the content (product description, CMS page, block it doesn't matter). Something like this:

`<p><a href="/uk/digital-print-design/"><strong><img style="float: left; padding: 0 20px 45px 20px;

[2022-11-10 17:32] adamlavery commented on #36457
@magento give me 2.4-develop instance

[2022-11-10 17:45] adamlavery commented on #36457
Confirmed still present.

Opened dev instance, disabled page builder, edited a product (any product), added a media image to the description (any image) and saved. No error. Modified description (any mod) and saved again and now get the false validation warning every time the description is modified and saved,

[2022-11-10 17:49] pmonosolo commented on #28387
@convenient hmm. Since 2021, I've been using lock_mode = 0 and its been holding up.  Its not perfect - I'm having issues with DB locking - possibly because of having to use lock_mode = 0.

[2022-11-10 18:17] ed007m commented on #34318
@jesse-deboer, @kassner
This issue has been fixed here
https://github.com/magento/magento2/blob/2.4.5/lib/internal/Magento/Framework/Mail/AddressConverter.php#L68

[2022-11-10 18:18] convenient commented on #28387
Thanks @pmonosolo

We're just building a module that will fire an alert when we are over 90% capacity on auto increment IDs, to allow us to do maintenance.

It's only every few years we've encountered it

[2022-11-10 18:33] pmonosolo commented on #28387
Whats the plan when you do hit the limit?

Change to differen field type or there is some way of purging the table?

[2022-11-10 18:36] convenient commented on #28387
@pmonosolo https://github.com/magento/magento2/issues/21890

The "workaround" section on that is largely valid

Due to declarative schema we need to drop the constraints on the existing table, and add properly named constraints on the new table before swapping the table names around.

But this way we end up back at auto_increment=1 with the original Magento schema intact

[2022-11-10 18:37] hagotupagina-spa commented on #35237
It is reproducible for me 2.4.5-p1, the translated text flashes for about 0.1 seconds and then return the untranslated string.

[2022-11-10 18:46] kassner commented on #34318
@ed007m it hasn't. As it was stated in previous comments, this piece of code is converting the `$user` variable, but it should be converting the `$host` variable _only_.

[2022-11-10 18:59] ed007m commented on #34318
Cases like this as passed now
aaaa-bbb-@hotmail.co.uk
aaa.-bbbb@asd.com

so why it's not working?)

[2022-11-10 20:49] nbennett25 commented on #36409
@engcom-Bravo is there a way to attach files to a comment..? Please try creating a csv with the following (based on your file):

[code]
Then Import the file via System > Import/Export > Import, Customer Main File. (if the customer already has the disable auto group change checked in their customer record, switch the `1` above to `0` to flag the change.

[2022-11-10 22:19] CHallski commented on #35517
I just finished tracing through this myself and came up with the exact same patch as @kassner and @Mavlyan (we DO use special prices). Wish I'd found this thread earlier and saved myself several hours of digging, but the title was definitely misleading as to the actual issue. This has nothing to do with the date formatting, but with the core code incorrectly calling a framework function.

This is

[2022-11-10 23:01] sdouma opened #36459 "Can't add to cart"
### Preconditions and environment

- Magento version 2.4.4-p2
- A grouped product with more than one product and one product out of stock with backorder enabled

### Steps to reproduce

1. Go to a grouped product page from preconditions
2. Add any product to cart

### Expected result

Product is added to cart

### Actual result

Product is not added to cart

### Additional information

A past PR #

[2022-11-10 23:03] sdouma commented on #36459
@magento give me 2.4-develop instance

[2022-11-10 23:27] CHallski commented on #30012
@bigbangx You are correct that it does impact trigger performance, but we weighed the impact to doing a catalog-wide update as a couple of seconds increased processing time for our store. Impact to saving product changes and other real-time actions like stock updates was negligible. We had far more problems with the backlog reprocessing changes on the same entities than we are having with the vers

[2022-11-10 23:35] CHallski commented on #30012
With all that being said: there are other issues that should be addressed with the current architecture like the sheer number of changelog entries that can be triggered: auto_increment int fields do run out of digits eventually. This was an expeditious band-aid that could be patched in to keep things running while an optimal long-term solution is explored.

[2022-11-11 00:01] sdouma commented on #36459
unable to duplicate with settings but if display out of stock product is shown then it works. Closing ticket will reopen if reoccurs

[2022-11-11 00:01] #36459 closed, assigned to nobody

[2022-11-11 01:39] lukutpg commented on #26850
I had also performance issue for configurable product which have almost 2000 simple products (Magento CE  2.4.4).
For me the most slow was function `\Magento\InventoryConfigurableProduct\Plugin\Model\Product\Type\Configurable\IsSalableOptionPlugin::filterProducts`, so I just overridden it with follow code:
[code]

[2022-11-11 04:43] MTheProgrammer commented on #26850
Exactly, MSI is querying every stock for every product. Another newralgic point is swatches renderer which loads all options for every configurable product on the listing.

[2022-11-11 06:07] engcom-Bravo commented on #36382
Hi @Nuranto,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-11 06:07] #36382 closed, assigned to engcom-Bravo

[2022-11-11 06:30] engcom-November commented on #36421
@magento give me 2.4-develop instance

[2022-11-11 06:48] engcom-November commented on #36319
Verified the issue on Magento 2.4-develop instance and "Action" column is not movable is sales - > Orders Grid.
There is no issue with other columns. All other columns are movable with drag and drop. Hence confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/201280221-06efe733-0702-4db9-a790-9c92b0cf05f5.png)

[2022-11-11 07:10] engcom-Dash commented on #36457
@magento give me 2.4-develop instance

[2022-11-11 07:12] engcom-Dash commented on #36456
@magento give me 2.4-develop instance

[2022-11-11 07:18] engcom-Bravo commented on #36454
@magento give me 2.4-develop instance

[2022-11-11 07:30] engcom-Bravo commented on #36454
Hi @TWIAntonio,

Thanks for your update.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

<img width="1036" alt="Screenshot 2022-11-11 at 12 57 03 PM" src="https://user-images.githubusercontent.com/51680745/201288945-91a32c72-d9a7-4e4a-b99f-3ba9102caf86.png">

<img width="767" alt="Screenshot 2022-11-11 at 12 57 13 PM" src="https:

[2022-11-11 07:38] engcom-November commented on #34472
Hi @live4soccer7 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-11 07:38] #34472 closed, assigned to engcom-November

[2022-11-11 07:40] engcom-November commented on #35875
Hi @m2-amn,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-11 07:40] #35875 closed, assigned to engcom-November

[2022-11-11 07:49] monteshot commented on #36174
@magento I am working on this

[2022-11-11 08:31] engcom-Bravo commented on #36455
@magento give me 2.4-develop instance

[2022-11-11 08:34] rostilos commented on #33725
@magento I am working on this

[2022-11-11 09:06] Kiraberos commented on #33223
@magento I am working on this

[2022-11-11 09:06] engcom-Dash commented on #36446
@magento give me 2.4-develop instance

[2022-11-11 09:55] thomas-kl1 commented on #36434
This could be fixed like it has been done for the page builder: https://github.com/magento/magento2-page-builder/commit/1e2bcadef49fb6ff5cbc198265e84d26bea74b74

[2022-11-11 09:55] serbynskyi commented on #15568
@magento I am working on this

[2022-11-11 09:55] thomas-kl1 commented on #36434
@magento I work on this

[2022-11-11 09:56] thomas-kl1 commented on #36434
@magento I am working on this

[2022-11-11 10:06] Vasudev-22 commented on #36363
@magento give me 2.4.5-p1 instance

[2022-11-11 10:10] eragag commented on #36449
Hi! Thanks for Answer

I can't reproduce the problem in the test environment either. The error occurs only with a large amount of products, in our case it is about 6000.
I suspect that this is related to the attribute sets and number of attributes with filter navigation enabled.

Products that have few attributes are usually displayed correctly. The more complex the attribute sets of the products

[2022-11-11 10:15] engcom-Hotel commented on #35149
Hello @sheepfy,

Just to confirm you are talking about the catalog delete API:

<img width="1409" alt="image" src="https://user-images.githubusercontent.com/51681618/201318906-fe9d8beb-f919-4508-a130-3f437d179a49.png">

Is that right?

Thanks

[2022-11-11 10:19] engcom-Bravo commented on #36455
Hi @ppeyman,

Thanks for your update.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

**Steps to reproduce** :

1.create a row from pagebuilder
2.add a column to the row
3.add to banner or add to image
4.go to settings of each of them
5. add margin left or right for both of them

We are getting Margin Space as per dimensions we a

[2022-11-11 10:19] quterorta commented on #20154
Couldn't reproduce this Issue on 2.4.5

[2022-11-11 10:21] Vasudev-22 commented on #36363
@magento give me 2.4-develop Instance.

[2022-11-11 10:23] lauraseidler commented on #33147
Is there any update on this? We are running into the same issue on 2.4.4-p2. Any workaround?

For us, this is not the case (not migrated from Magento 1, and that query returns 0 rows)

[2022-11-11 10:29] Vasudev-22 commented on #36363
@magento I am working on this

[2022-11-11 10:29] Vasudev-22 commented on #36363
@magento add to contributors team

[2022-11-11 10:31] Vasudev-22 commented on #36363
@magento Accepted .

[2022-11-11 10:32] Vasudev-22 commented on #36363
@magento I am working on this

[2022-11-11 10:36] Vasudev-22 commented on #36363
Hi @jponeill ,

Issue is reproducible in Magento 2.4.5-p1 Instance.

<img width="862" alt="Magento2 4 5-p1" src="https://user-images.githubusercontent.com/104893739/201322164-25b7605d-1324-4588-885a-c002a48697e5.png">

Mentioned issue on Magento 2.4-develop instance as it is an upcoming 2.4.x release and have latest code base, its fixed.
So in Upcoming release magento has a fix for the above issue

[2022-11-11 10:39] engcom-Bravo commented on #36409
@magento give me 2.4-develop instance

[2022-11-11 10:58] Kiraberos commented on #33223
I tried to reproduce it by steps to reproduce on the latest 2.4-develop and I couldn't reproduce it.
I ship only one product with Tracking Number (Updated Quantity to 0 to remaining/other products) and Submit (Enable email invoice copy)
![photo_2022-11-11_12-51-22](https://user-images.githubusercontent.com/70772975/201325716-09f7417a-c2a6-431d-9bcf-6c1b0631a8db.jpg)
![photo_2022-11-11_12-51-42](ht

[2022-11-11 10:58] engcom-Hotel commented on #26292
Hello @kassner @thomas-kl1,

We have tried to reproduce this issue in Magento 2.4-develop branch but the issue is not reproducible now. You can refer the below screenshots for reference:

## app/etc folder permission
<img width="610" alt="image" src="https://user-images.githubusercontent.com/51681618/201326346-01d3bc0b-0af7-436e-8c41-81e4630e2ba4.png">

## Output of `bin/magento setup:upgrade --ke

[2022-11-11 10:59] MarianNapi opened #36461 "[GraphQL] related, upsell and crosssell products query ignoring the position they were saved in"
### Preconditions and environment

- Magento version 2.4.5

### Steps to reproduce

1. Create a product
2. add other products as related, upsell or crosssell products and sort them in a random order
3. Request these fields via the GraphQl API

### Expected result

The related, upsell and crosssell products should be returned in the specific order they were saved in.

### Actual result

The related

[2022-11-11 11:01] engcom-Hotel commented on #30012
We are confirming this issue as per our findings here: https://github.com/magento/magento2/issues/30012#issuecomment-1310391317

Also updated the main description to reproduce the issue.

Thanks

[2022-11-11 11:03] MarianNapi commented on #36461
@magento give me 2.4-develop instance

[2022-11-11 11:11] MarianNapi commented on #36461
I can reproduce the issue on a vanilla magento instance with version 2.4-develop

[2022-11-11 11:42] engcom-Bravo commented on #36409
Hi @nbennett25,

Thanks for your Update.

You can attach files through a comment.

<img width="504" alt="Screenshot 2022-11-11 at 5 11 38 PM" src="https://user-images.githubusercontent.com/51680745/201333446-22ab0af6-539e-4ba1-aa7b-cadf4d65448a.png">

Kindly attach.

Thanks.

[2022-11-11 11:59] Kiraberos commented on #32489
@magento I am working on this

[2022-11-11 12:19] monteshot commented on #36351
@magento I am working on this

[2022-11-11 12:34] MartynasKasp commented on #35603
The issue still exists in 2.4.5-p1 (community edition) when sending an email after shipping an order.

[2022-11-11 13:00] simonmaass commented on #35603
can confirm this for 2.4.5-p1

[2022-11-11 13:06] monteshot commented on #36269
@magento I am working on this

[2022-11-11 13:15] quterorta commented on #33394
@magento I am working on this

[2022-11-11 13:17] engcom-Dash commented on #36446
Hi @adamlavery ,

Thanks for your  contribution !!!

1.We are confirming the issue in 2.4-develop branch..We are getting actual result.

2.Admin should be able to set both the alt (image description) and title attributes

Preconditions:
Magento version 2.4-develop
PHP 8.1

Steps We followed by:
1.open the product page which has video in product gallery
2.click on the product image to open the gall

[2022-11-11 13:19] KrasnoshchokBohdan commented on #6092
@magento I am working on this

[2022-11-11 13:23] ppeyman commented on #36455
i said when we have direction rtl tag margins doesn't works in luma fresh default theme
i don't know how explain it to you
thanks

[2022-11-11 14:02] paulhaidon commented on #36421
We have had similar in that we are experiencing issues since upgrading from 2.4.4 to 2.4.5-p1 but we don't have to update it via API for it to fail - we are just updating it via the backend.

When a configurable product's "simple product" variation goes out of stock, it is being set to out of stock on the frontend but when we add stock to the simple product again, the frontend still doesn't think

[2022-11-11 14:04] engcom-Bravo commented on #36453
Hi @thomas-kl1,

Thanks for your update.

Verified the issue on Magento 2.4-develop instance and we are not able to reproduce the issue.Kindly refer the screeenshots.

We are not able to setup the customer account for the lastname you have provided.

<img width="900" alt="Screenshot 2022-11-11 at 7 30 45 PM" src="https://user-images.githubusercontent.com/51680745/201356088-37197658-13fb-4c26-ac7b-

[2022-11-11 14:10] bruce-gemberling commented on #35306
I can confirm that using this require-dev in my composer.json file in Magento 2.4.5-p1 was exactly what allowed me to complete composer2 update and then successfully complete setup:upgrade:

   "require-dev": {
        "allure-framework/allure-phpunit": "~1.5.0",
        "dealerdirect/phpcodesniffer-composer-installer": "^0.7.0",
        "friendsofphp/php-cs-fixer": "~3.3.0",
        "lusitanian/o

[2022-11-11 14:19] engcom-November commented on #36363
@magento give me 2.4-develop instance

[2022-11-11 15:05] Kiraberos commented on #32489
@mtwegrzycki  I want to clarify:
What did you mean about 'Set "Result limit" for rule e.g. on 2.'?
In the admin panel we didn't set result limits for related, upsell and cross-sell.
According to the project, I can't find a use for this condition 'related-rule'.
![image](https://user-images.githubusercontent.com/70772975/201363277-2eb2fde9-0558-4685-9ec3-4cac73473acc.png)

In **Magento/Catalog/view

[2022-11-11 15:06] ksenia-zlotin opened #36464 "Magento throws 'No such entity' when saving product with custom options"
### Preconditions and environment

- 2.4.3-p1, 2.4.4 (vanilla installations)
- Product must have at least one custom option
- Might be a duplicate / related to https://github.com/magento/magento2/issues/28364

### Steps to reproduce

1. In a product with custom options, create a scheduled update and save the update
2. Once the scheduled update appears at the top of the page, edit that update
3. Up

[2022-11-11 15:13] engcom-November commented on #36363
Hi @jponeill ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance but the issue is not reproducible.
![image](https://user-images.githubusercontent.com/60198231/201369110-42416883-2d36-447e-9e5f-74e379b82ff6.png)

Kindly recheck the issue on Magento 2.4-develop instance and provide missing steps if any if the issue is still reproducible.

[2022-11-11 15:44] nbennett25 commented on #36409
Here's a csv version of the above @engcom-Bravo:

[auto_group_change.csv](https://github.com/magento/magento2/files/9991379/auto_group_change.csv)

[2022-11-11 15:55] tuyennn commented on #30924
@mauragcyrus which commit and pull request regarding to this fix as it was marked completed

[2022-11-11 16:01] Jilco opened #36465 "2.4.5-p1 some of the products are disabled in checkout"
### Preconditions and environment

- Magento 2.4.5-p1
- It is with products in the cart with a qty below 1 (eg. 0.6)

### Steps to reproduce

Note: We sell fabrics per meter with a minimum qty of 0.5
1. Add product (in backend) with a "Minimum Qty Allowed in Shopping Cart" of 0.5, and "Qty Uses Decimals" to yes
2. Add product to cart with default qty (0.5) or 0.6
3. Go to checkout
4. Fill in adres

[2022-11-11 16:01] Jilco commented on #36465
@magento give me 2.4.5-p1 instance

[2022-11-11 16:10] Jilco commented on #36465
Issue: Confirmed (See screenshot)
![repro](https://user-images.githubusercontent.com/23727130/201382795-e35ebbbb-bbb6-48f6-a085-4ad19ca9096e.jpg)

[2022-11-11 16:11] Jilco commented on #36465
Issue: Confirmed

[2022-11-11 16:26] adamlavery opened #36467 "How can Saleable Quantity be higher than physical quantity?"
### Preconditions and environment

OS 2.4.3-p1

### Steps to reproduce

No idea how to reproduce something that should never be able to happen.

### Expected result

Saleable Quantity should never be higher than physical quantity

### Actual result

How does this happen? How can saleable quantity be 2 when physical quanity is 0?

![image](https://user-images.githubusercontent.com/13659750/20138358

[2022-11-11 16:40] adamlavery commented on #36467
Please don't ask to reproduce this. As noted this scenario shouldn't be possible so reproducing is a non-starter. What's needed is to look at the code the generates the Saleable Quantity figure and work out how that can be wrong and cause this.

[2022-11-11 19:31] jesse-thomas opened #36468 "FedEx Update WSDL and Add New Services"
I discovered that the Latest M2 is using very old FedEx wsdl files when trying to add the International Connect Plus rates (FEDEX_INTERNATIONAL_CONNECT_PLUS).

M2 is using v10 wsdl files, current FedEx wsdl files are at v31.

Are there any plans to update the core FedEx module?

[2022-11-11 20:13] thomas-kl1 commented on #36453
Hello @engcom-Bravo
It is possible on Magento 2.3. but you are right, it seems not possible on 2.4. However, even if you upgrade, the already created accounts are not sanitized regarding this new rule which should prevent invalid characters

[2022-11-11 22:34] kenseiatwork commented on #36322
I had this issue as well.
I looks like it was fixed in 2.4.4 but the problem was re-introduced in 2.4.5

Had to re-add this line at around 422 from the commit: https://github.com/magento/magento2/commit/ae304d43cd36322b1ff8145d70c9b2e9aeb0cde#diff-09a839078aa6453eb8fb437430724140207e2aa7214c3bb98bc7ced29fe39927R442

` $formattedCurrency = preg_replace(['/[^0-9.,۰٫]+/', '/ /'], '', $formattedCurren

[2022-11-12 02:12] veloraven commented on #36255
Hello @texboy !

Thank you for your contribution and collaboration!

To speed up the delivery process of this fix, the internal Adobe team will take this fix in progress, complete all other work according to the Definition of Done and deliver the fix using internal workflow.

The fix for this issue will be done in the scope of the internal Jira ticket ACP2E-1245.

[2022-11-12 08:43] rostilos commented on #36383
@magento I am working on this

[2022-11-12 12:37] tarunpg commented on #36322
Thanks @kenseiatwork - this worked for me

[2022-11-12 14:59] cptX commented on #21862
I also am frustrated about forcing me to not use a password I want and happened to be used before...
If there articles that state that actually is a bad methodology maybe we should reconsider

[2022-11-12 15:53] magentox commented on #36446
Not really a bug. If you take a look at Tinymce 5 demo even the version on their website which includes Premium plugins does not have an "image title" option.
[https://www.tiny.cloud/docs/demo/full-featured/](url)

![Capture1](https://user-images.githubusercontent.com/44047835/201482489-bf3fc077-8cb0-4e2a-881f-362d9e2891d3.jpg)

![Capture2](https://user-images.githubusercontent.com/44047835/201482

[2022-11-12 16:47] Yonn-Trimoreau commented on #34758
I've come up with an acceptable solution for this: https://github.com/colinmollenhour/php-redis-session-abstract/issues/50#issuecomment-1311398648

To temporarily fix this issue, here are the patches to apply:

On `colinmollenhour/php-redis-session-abstract` module => [fix-redis-write-lock-patch.txt](https://github.com/magento/magento2/files/9995452/fix-redis-write-lock-patch.txt)

And on `magento

[2022-11-12 16:48] Yonn-Trimoreau commented on #32754
I've come up with an acceptable solution for this: https://github.com/colinmollenhour/php-redis-session-abstract/issues/50#issuecomment-1311398648

To temporarily fix this issue, here are the patches to apply:

On `colinmollenhour/php-redis-session-abstract` module => [fix-redis-write-lock-patch.txt](https://github.com/magento/magento2/files/9995452/fix-redis-write-lock-patch.txt)

And on `magento

[2022-11-13 04:20] colinmollenhour commented on #34758
@Yonn-Trimoreau I suppose you're right if you are referencing "Only one process may get a write lock on a session." - it should just read "Only one process may get a lock on a session." but that is just semantics..

As of now when you start a session is is basically assumed that there will be a write, like a "SELECT ... FOR UPDATE". Unlike a database, you can't know if there will be a write until

[2022-11-13 10:08] Yonn-Trimoreau commented on #34758
@colinmollenhour Yes I am referencing this sentence "Only one process may get a write lock on a session". And semantics is actually the key to the problem here.

A read lock is what LibreOffice or Microsoft Word implements for example. When you open it, a lock file is written next to the file you're editing, just to remind you that you've already opened it in another text editor instance, in case

[2022-11-13 10:27] Keivanph commented on #32268
Hi, out of curiosity what was that  "affiliate marketing template" ? I am facing very same problem with loading all of the products when ever I touch the collection in any level.

[2022-11-13 12:04] FadedOut commented on #36467
@adamlavery

Yeah I don't think that looks right. Something might be misconfigured maybe?

A shot in the dark, but try checking the settings here:
Store Config > Catalog > Inventory > Product Stock Options (Out of Stock threshold)

Also check to make sure the indexing is running correctly (check cron.log). Maybe just re-run the reindex command just in case. Maybe also try just changing the number

[2022-11-13 16:09] engcom-Dash commented on #36456
Hi @glevhen ,

we are trying to  reproduce the issue in 2.4-develop branch...But we are not able to reproduce the issue.
we got some different in console.

Steps we followed:
1.install magento instance
2.select any products
3.open the product page which has video in product gallery
4.click on the product image to open the gallery fullscreen mode
5.click on the product video thumbnail

We got js er

[2022-11-13 16:37] qsolutions-pl commented on #20045
Please reopen this issue, it still exists...

[2022-11-13 21:10] peterjaap commented on #33802
The current pull request here does not work on 2.4.3 currently since the load() function differs between 2.4.3 and 2.4.4;

- https://github.com/magento/magento2/blob/2.4.3/lib/internal/Magento/Framework/App/DeploymentConfig.php#L150
- https://github.com/magento/magento2/blob/2.4.4/lib/internal/Magento/Framework/App/DeploymentConfig.php#L167

[2022-11-13 22:32] vitormcsi commented on #15201
@vteofilo you can help me to apply this code?

[2022-11-14 05:31] engcom-Dash commented on #36356
Hi @nadroj467 ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-14 05:31] #36356 closed, assigned to engcom-Dash

[2022-11-14 05:33] engcom-Dash commented on #36340
Hi @boardwalki ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-14 05:33] #36340 closed, assigned to engcom-Dash

[2022-11-14 05:36] engcom-Dash commented on #36467
@magento give 2.4-develop instance

[2022-11-14 05:38] engcom-Dash commented on #36467
@magento give me 2.4-develop instance

[2022-11-14 05:49] engcom-Dash commented on #36467
Hi @adamlavery ,

We are trying to reproduce the issue in 2.4-develop instance...we are not able to reproduce because we are getting Expected result.
Screenshots:
<img width="1512" alt="Screenshot 2022-11-14 at 11 17 07 AM" src="https://user-images.githubusercontent.com/60198592/201584845-374d0b18-9a64-49a4-bab9-e8af125e02cd.png">

Steps:
1.Install Magento instance
2.Go to catalog---> Products
3.s

[2022-11-14 05:49] engcom-Dash commented on #36468
Hi @jesse-thomas ,

We need some inputs from your side to reproduce the issue which is

1.Description
2.Preconditions
3.Environment
4.Actual Results and Expected results
5.Screenshots of the issue.

Above the informations helps to reproduce the issue...So Kindly attach above the information.

Let us know if we missing anything!!!

Thanks!!!

[2022-11-14 06:15] engcom-Dash commented on #36449
Hi @eragag ,

We are tried as per your comment... we installed more then 6000 products with magento instance...we weorked the issue with magento 2.4.4 and we are getting same expected results.
Steps we followed:
1.Install magento instance
2.Install more then 6000 products
3.go to frontend
4.filter with Size Large
5.enter the product name in search bar
6.its showing all the products with respective

[2022-11-14 06:16] engcom-Dash commented on #36457
@magento give me 2.4-develop instance

[2022-11-14 06:17] FadedOut opened #36469 "[2.4.5-p1] Maintenance Mode: Allow IP does not work"
UPDATE: Anyone else having this issue and uses Cloudflare (or any reverse proxy like Cloudflare) most likely you'll have the same problem as I did and your visitor IPs are being masked. Please read my solution [HERE](https://github.com/magento/magento2/issues/36469#issuecomment-1316777083).

### Preconditions and environment

- Magento 2.4.5-p1
- PHP 8.1
- Apache 2.4.x
- I'm not on VPN

### Steps

[2022-11-14 07:39] engcom-Bravo commented on #36465
@magento give me 2.4-develop instance

[2022-11-14 07:41] mdiab1996 commented on #19710
After a lot of debugging , I found that .htaccess was change in pub/media ( this file is very import because each not found image forwarded to pub/get.php to grantee the cache image immediately if its not found on the cache , so i jsut restored the .htaccess file and my problem was solved .

<img width="591" alt="image" src="https://user-images.githubusercontent.com/82683945/201602411-b091bb9d-d62

[2022-11-14 07:50] sheepfy commented on #35149
@engcom-Hotel  see my previous comment, I posted the api there:

https://github.com/magento/magento2/issues/35149#issuecomment-1162882172

[2022-11-14 07:54] sheepfy commented on #35149
I am not really sure, it's been a while. Buuut I guess the SKU we are trying to update needs to have already product links saved in database before starting the siege.
Otherwise, yeaa, it doesn't make sense. Because empty links, tries to delete the link, nothing is there, no mysql transaction conflict.

So make sure you set some links before, then update the links using siege.

[2022-11-14 08:04] engcom-Bravo commented on #36465
Hi @Jilco,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is not reproducible on both the instances.Kindly refer the screenshots.

**Steps to reproduce** :

1.Add product (in backend) with a "Minimum Qty Allowed in Shopping Cart" of 0.5, and "Qty Uses Decimals" to yes
2.Add product to cart with default qty (0.5) or 0.6
3.Go

[2022-11-14 08:18] engcom-Bravo commented on #36461
@magento give me 2.4-develop instance

[2022-11-14 08:31] OtoKalan commented on #35237
Same here on Magento ver. 2.4.3-p1

[2022-11-14 09:15] adamlavery commented on #36467
As stated at the start, this should not happen. How it's happened is anyone's guess hence being able to reproduce it is impossible. Neverthess it has happened. Question now is how can it be corrected. As far as I'm aware Saleable Quantity is **calculated** as quantity minus any reservations. There are no reservations but even if there only 0 minus a minus produces a positive result!

We therefore

[2022-11-14 09:22] Jilco commented on #36465
@magento give me 2.4-develop instance

[2022-11-14 09:23] Jilco commented on #36465
I found with a lot of google this article, the file: vendor/magento/module-checkout/Model/GuestPaymentInformationManagement.php

So it only occurs when checking out as a guest

https://magento.stackexchange.com/questions/355647/error-message-some-of-the-products-are-disabled-on-checkout

[2022-11-14 09:33] santibm commented on #36438
@engcom-Bravo how are we then supposed to deal with this, an issue is not an issue because is not on the develop branch?! Then how come a security patch is released and promoted but it ends up creating another issue and can't be considered an issue!?

@igi8819 did you come up with any idea on how to deal with this?!

Thanks

[2022-11-14 10:01] engcom-Bravo commented on #36453
Hi @thomas-kl1,

Thanks for your Update.

As it is not possible on 2.4 can u please confirm can we close this issue.

Please let us know if you are still facing any issue.

Thanks.

[2022-11-14 10:02] engcom-Bravo commented on #36455
@magento give me 2.4-develop instance

[2022-11-14 10:12] vseager commented on #33705
@magento give me 2.4.3-p3 instance

[2022-11-14 10:16] hemendraajmera opened #36470 "Show category based widget content/ static block"
### Summary

I have created once widget as static block and add layout update for specific page --> catalog category page and layout update **before page footer** it working fine and showing block on all category pages as as excepeted. Now i want to show one block which can show when any once browser category 1 from navigation and it will be showing before block which showing on all category. can

[2022-11-14 10:19] igi8819 commented on #36438
@santibm i did not wait for fix, i just created a composer patch in my project and i updated the file from 2.4.4
My project is on 2.4.4-p2.
The files is: vendor/magento/framework/Filter/Template.php

[2022-11-14 10:23] thomas-kl1 commented on #36453
You misunderstood the problem. My bad the description is not clear. Shortly, You have a website with Magento < 2.4. You create a user with an a lastname which would be invalid with Magento 2.4.
Then you upgrade your website to 2.4. So your user still have the lastname, with now invalid characters. So unless I edit the customer, the invalid characters remains. However I won't spend my time to look

[2022-11-14 10:54] glevhen commented on #36456
@engcom-Dash did you upload the correct screenshot? from I see the attached screenshot is for admin product settings and not for product page gallery on the storefront, and there is no opened product video on your screenshot

[2022-11-14 10:55] engcom-November commented on #36464
@magento give me 2.4-develop instance

[2022-11-14 11:24] engcom-Hotel commented on #28161
Hello @wilhelmpa @speedupmate @teodorpav,

We have tried to reproduce the issue in the bot instance above but the issue is still not reproducible for us. The bot instance has version 2.4-develop.

As I can see the issue is a little bit old and we have had enough discussion here on this issue. But still, I am requesting to summarise the steps in order to reproduce the issue. It will help us in movi

[2022-11-14 11:30] vseager opened #36471 "catalog_product_price index getting stuck"
### Preconditions and environment

- Magento 2.4.5-p1
- Large catalog (~8,000 products)
- All indexes set to "UPDATE BY SCHEDULE"

### Steps to reproduce

Let indexes run on cron

### Expected result

Indexes run successfully

### Actual result

* Indexes get stuck at `catalog_product_price`.
* Product disappear from categories

Logs show the following errors:

[code]

Changing `catalog_product_pr

[2022-11-14 11:33] engcom-Bravo commented on #36461
Hi @MarianNapi,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is reproducible.Kindly refer the screenshots.

**Steps to reproduce**
1.Create a product
2.add other products as related, upsell or crosssell products and sort them in a random order
3.Request these fields via the GraphQl API

The related, upsell and crosssell products are

[2022-11-14 11:36] engcom-Hotel commented on #35617
Hello @Hexmage,

We have tried to reproduce the issue in the latest 2.4-develop branch but the issue is not reproducible for us. As I can see now the 2.4.5 and further released have happened. So we request you to please try to reproduce the issue in the latest released branch or 2.4-develop branch and let us know if the issue is still reproducible for you.

Thanks

[2022-11-14 11:37] technodelight commented on #35325
This is still present in 2.4.4-p2

[2022-11-14 11:38] RocktechnolabsDev opened #36472 "Magento Community Edition: Version 2.4.5 - Import Status Showing Wrong Count"
### Preconditions and environment

- Magento version: 2.4.5
- I am using Magento Community Version 2.4.5, Importing the customers, CSV have 1708 records including the Header.
- Validate the data, Validation result shows: Checked rows: 1707, checked entities: 1707, invalid rows: 0, total errors: 0
- Click on Import button: Import status shows: Created: 0, Updated: 7, Deleted: 0
- It's shown last bu

[2022-11-14 12:17] monakd opened #36473 "Google pay button missing from cart page in magento 2.4.4/2.4.5"
### Preconditions and environment

- Magento version:2.4.4 or 2.4.5

### Steps to reproduce

Go to admin dashboard store > configuration > sales > payment Methods > braintree > google pay through braintree
Add google pay merchant id, provided by google.

Then move to storefront, add a product to cart page

### Expected result

google pay button should show below 'proceed to checkout' button.
![Scr

[2022-11-14 12:17] webgility-amazonapi opened #36474 "Some product options missing in Product response"
### Preconditions and environment

Magento 2.4.3-p2

### Steps to reproduce

There is a configurable product having options which is linked to the order.
1.Retrieve the order response by using below API
~/rest/V1/orders/28125
Method: GET

Response -
[#1000030755_28125.txt](https://github.com/magento/magento2/files/10002795/1000030755_28125.txt)

2. Download the Product by using below API
~/rest/V1

[2022-11-14 12:20] engcom-Bravo commented on #36455
Hi @ppeyman,

Thanks for your Update.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

Steps to reproduce :

1.create a row from pagebuilder
2.add a column to the row
3.add to banner or add to image
4.go to settings of each of them
5. add margin left or right for both of them

Before applying `direction:rtl`

<img width="1444" alt

[2022-11-14 13:04] jponeill commented on #36363
It looks like  @Vasudev-22 reproduced the problem in 2.4.5-p1 (thanks!) and that it's fixed in 2.4-develop.

[2022-11-14 13:04] #36363 closed, assigned to engcom-November, Vasudev-22

[2022-11-14 13:13] jsdupuis commented on #36412
Getting the same error when upgrading from Magento 2.4.2 -> 2.4.4 (Open Source)

[2022-11-14 14:02] LusienGG commented on #30147
Actualy the problem is that the person is not even seeing the edit page. Page is reloading and popin up "This product is out of stock.".

I face the same issue now 2 years later.

[2022-11-14 15:47] jaminion commented on #36471
Hello, I'm having this problem updating product inventory directly using `Magento\CatalogInventory\Api\StockRegistryInterface::updateStockItemBySku()`. In `Magento\CatalogInventory\Model\ResourceModel\Stock\Item::_afterSave()`, there's a check to see if the data changed for any of the fields ['is_in_stock','use_config_manage_stock','manage_stock'], and if so it runs the function `reindexRow()` fro

[2022-11-14 15:55] nbennett25 opened #36476 "Child required modules not enabled when parent is enabled"
### Preconditions and environment

Magento 2.4.2-p1

### Steps to reproduce

1. Create two new modules: `Vendor_One` and `Vendor_Two`
2. In the `module.xml` of `Vendor_Two`, set `Vendor_Two` to require `Vendor_One`:

[code]

3. Run `bin/magento module:enable Vendor_Two`

### Expected result

1. In the `app/etc/config.php`, both modules should be enabled (seeing how `Vendor_Two` requires `Vendor_On

[2022-11-14 16:13] jsdupuis commented on #36412
I managed to fix the problem by manually deleting rows in catalog_product_entity_text.

All the rows that are fully identical between catalog_product_entity_varchar and catalog_product_entity_text need to be deleted in the later one. Then run setup:upgrade and all the multiselect attributes will be copied from varchar to text.

The pain is to compare the data of both tables. Not an SQL expert so h

[2022-11-14 16:16] btantlinger commented on #22591
We're still seeing this issue intermittently on version 2.4.2

[2022-11-14 16:59] gwharton commented on #36467
This is the calculation of salable qty in the code.

[code]
Do you have multiple stocks and multiple websites or are you using the default stock and source.

If so, check the stock levels and out of stock threshold for all websites. It could be that the "Use config settings" has become unticked for the non default store?

Out of interest, try setting out of stock threshold to -10, then check to se

[2022-11-14 17:06] adamlavery commented on #36467
Thanks Graham. One website, one stock source, three store views. Checked all three store views and all using default config.

However, setting threshold to -10 does indeed now create a saleable quantity of 12.

![image](https://user-images.githubusercontent.com/13659750/201721698-9f9ad3fc-9c6a-492d-a17c-0baae3782643.png)

I'll locate and debug that code to see if it provides any clues.

[2022-11-14 17:14] gwharton commented on #36467
Just to rule out something else, if you set out of stoick threshold to zero, instead of use config value, do you get salable qty 0 or 2.

[2022-11-14 17:16] gwharton commented on #36467
for the default stock, stock levels are taken from cataloginventory_stock_item

for non default stocks, stock levels are taken from inventory_stock_x where x is the stock id.

Locate the product in those tables and check the stock level is not 2.

[2022-11-14 18:19] adamlavery commented on #36467
We have no inventory_stock_x tables. This from cataloginventory_stock_item:

![image](https://user-images.githubusercontent.com/13659750/201736197-843b5fae-fa27-4012-91b2-09ba7618509d.png)

Everything has two entries, one for website id 0 (admin) and one for website id 2 (the default website).

[2022-11-14 18:20] adamlavery commented on #36467
Setting threshold explictly to 0 on the product still results in a saleable of 2.

[2022-11-14 18:40] adamlavery commented on #36467
All very weird! It's this bit of code returning a value of 2:

[code]
Despite there being no records in that table for that SKU:

![image](https://user-images.githubusercontent.com/13659750/201738981-161e2804-b8b7-42ee-9211-2a27f945f5bc.png)

SKU passed in is most definitely the product with the issue:

![image](https://user-images.githubusercontent.com/13659750/201739856-53af9886-6b7f-4faa-85c9-a

[2022-11-14 19:24] zaximus84 commented on #36076
I ran into this issue as well. To provide additional detail, the problem with the name sort is that it joins the catalog_product_entity_varchar table in a way that can produce multiple rows for the same product in the final query. On my Magento installation we have 3 websites and lots of products have ended up with name values at the default scope and all 3 website scopes.

The final query execute

[2022-11-14 19:42] gwharton commented on #36467
Weird. Turn on db logging and check what the actual SQL statement that was executed.

[2022-11-14 20:49] pmonosolo commented on #35985
I was testing a size with OWASP ZAP and got the same issue with one of the requests:

The POST content was:

form_key=QaxoFpREuXOnJBHd&success_url=&error_url=&firstname=ZAP&lastname=ZAP&is_subscribed=1&dob=ZAP&assistance_allowed_checkbox=1&assistance_allowed=&email=foo-bar%40example.com&password=ZAP&password_confirmation=ZAP&persistent_remember_me=on

ERROR

ValueError: bcsub(): Argument #1 ($num1

[2022-11-14 23:08] Vamshidhar2022 opened #36477 "PayPal payments declining"
### Preconditions and environment

- Magento version :2.3.5
-PayPal declining the credit card issue:
 The payment system was working fine before. Our client changed the PayPal password on Wednesday 9th November 2022.
And PayPal started declining the credit card payments from Friday 11th November 2022 onwards saying: "your payments has been declined. Please try again."
We didn't change any settings

[2022-11-15 01:20] DerringersMusic commented on #23618
Thank you  @ssstankiewicz - This issue persists on my 2.4.3-pt1 Magento instance. Have patched using [your composer module.](https://github.com/DominicWatts/InvalidCustomerAddressId/blob/main/Plugin/Frontend/Magento/Quote/Model/QuoteAddressValidator.php)

[2022-11-15 03:23] engcom-November commented on #36471
Hi @vseager ,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance but the issue is not reproducible with below steps performed:
**Steps performed:**
1. Setup 20k products in Magento 2.4-develop instance
2. Ran php bin/magento indexer:reindex
catalog_product_price index took 06min to reindex. There is an ongoing issue confirmed [here](https://github.com/ma

[2022-11-15 03:29] engcom-November commented on #36464
@magento give me 2.4-develop instance

[2022-11-15 03:37] engcom-November commented on #36477
Hi @Vamshidhar2022 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance with below steps performed but the issue is not reproducible.
Steps performed:
1. Configured PayPal Payflow Pro payment method in Sandbox mode with credit card payment enabled.
2. Front-end Placed Order with existing paypal CC credentials -No issue. Placed order successfully.
3. Confi

[2022-11-15 03:50] Vamshidhar2022 commented on #36477
Hi Girija Bhavani,
Thank you very much for looking into this issue.
We have magento 2.3.5 version and express check out is working fine.
Only the below option is selected then the credit card decline is coming up. Below is the test card details.
***@***.***
But when I put the right details it will give me this error:

***@***.***

Thanks,
Vamshi
From: Girija Bhavani Kudupudi ***@***.***>
Sent: Tue

[2022-11-15 03:54] engcom-November commented on #36464
@magento give me 2.4-develop instance with edition ee

[2022-11-15 04:20] engcom-November commented on #36464
Hi @ksenia-zlotin ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop enterprise editions both cloud and local instance but observed below different issue when scheduling the update.
"error: : The Future Update Start Time is invalid. It can't be earlier than the current time." is displayed even after selecting valid future update date and time.
![image](https://u

[2022-11-15 05:09] engcom-November commented on #36434
Hi @TheBadong ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop enterprise edition but observed different behavior with below steps performed:
1. Stores - Configuration - Customers - Enabled login as customer
2. Stores - Configuration - Customer configuration - Share Customer Accounts - Set to Global
3. Created a customer from front end main website with "Allow

[2022-11-15 05:20] alek-s-andr commented on #36471
We have faced the same error, **Magento 2.4.5-p1**, in the cron_schedule table many error rows having messages:
```Cron Execution ErrorSQLSTATE[21S01]: Insert value list does not match column list: 1136 Column count doesn't match value count at row 1, query was: INSERT INTO `catalog_product_index_price` SELECT `ip_tmp`.* FROM `catalog_product_index_price_temp` AS `ip_tmp` ON DUPLICATE KEY UPDATE `

[2022-11-15 06:35] ciancastillo opened #36479 "Configurable product children saleable issue this.products.length is always 1"
### Preconditions and environment

- Magento 2.4.5-p1 deadstock
- PHP8.1-FPM
- NGINX
- Ubuntu 20

### Steps to reproduce

1. Create a configurable product
2. Make 1 child product out of stock (Make sure Stores->Configuration->Catalog->Inventory->Stock Options->Display Out of Stock Products->Yes)
3. Visit the product in store front
4. The out of stock product is showing as if it is available, no st

[2022-11-15 06:37] engcom-Bravo commented on #36472
@magento give me 2.4-develop instance

[2022-11-15 07:00] speedupmate commented on #28161
@engcom-Hotel do you know how to use google chrome developer tools ? If so then just trigger the action without data being set in forms and you get the error

[2022-11-15 07:28] alikhani97 commented on #36476
@magento give me 2.4-develop instance

[2022-11-15 07:39] engcom-Hotel commented on #34433
Hello @ilnytskyi,

As I can see the issue https://github.com/magento/magento2/issues/28387, for which this ticket and its related PR are submitted has been confirmed and triaged as P1.

I think we can close this issue and its related PR. Please suggest.

Thanks

[2022-11-15 07:43] engcom-Hotel commented on #34855
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-2338 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2338&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-11-15 07:43] #34855 closed, assigned to nobody

[2022-11-15 07:45] engcom-Hotel commented on #35833
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-6057 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-6057&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-11-15 07:45] #35833 closed, assigned to nobody

[2022-11-15 07:54] engcom-Hotel commented on #35666
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-5992 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-5992&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-11-15 07:54] #35666 closed, assigned to nobody

[2022-11-15 08:35] ilnytskyi commented on #34433
@engcom-Hotel yes PR is just for issue confirmation and this one [# ](https://github.com/magento/magento2/issues/34433) can be closed

[2022-11-15 08:39] engcom-Hotel commented on #34433
Thanks for the confirmation @ilnytskyi. We are closing this issue and its related PR.

[2022-11-15 08:39] #34433 closed, assigned to ilnytskyi, engcom-Hotel

[2022-11-15 08:54] engcom-Bravo commented on #36474
@magento give me 2.4-develop instance

[2022-11-15 08:59] CanBeer commented on #23889
I reproduced this issue on Magento 2.4.3-p2 EE.

Based on [gwharton](https://github.com/gwharton) analysis, here are a workaround patch, who solve this issue :

[code]

[2022-11-15 10:07] engcom-Bravo commented on #36465
Hi @Jilco,

Thanks for your Update.

We verified with both guest and existing customers we are not able to reproduce the issue.we are able to place the order successfully.

Kindly recheck the behavior on Magento 2.4-develop instance and elaborate steps to reproduce if the issue is still reproducible.

Thanks.

[2022-11-15 10:11] engcom-Bravo commented on #36479
Hi @ciancastillo,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

**Steps to reproduce**
1.Create a configurable product
2.Make 1 child product out of stock (Make sure Stores->Configuration->Catalog->Inventory->Stock Options->Display Out of Stock Products->Yes)
3.Visit the product in st

[2022-11-15 10:12] adamlavery commented on #36467
Did that and query is as expected:

[code]

Tried restarting MySQL and reset the query cache; no change. Tried explicting faking a reservation for that product and external query comes back as expected:

![image](https://user-images.githubusercontent.com/13659750/201891809-e10eb662-700c-4f82-8481-41d1be9dacdc.png)

But Magento query still comes back with 2!

I'll continue trying to trace but debug

[2022-11-15 10:18] engcom-Bravo commented on #36472
Hi @UtsavRock1811,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

**Steps to reproduce**

1.Login into admin > System > Data Transfer > Import, Select "Customer Main File" from entity type drop down.

2.Select "Add/Update Complex Data" option from Import Behaviour drop down.

3.Rest of

[2022-11-15 10:18] gwharton commented on #36467
I'm stumped. Step through the fetchOne call. Its getting butchered somewhere in there.

[2022-11-15 11:08] engcom-Hotel commented on #36440
@engcom-Dash Please recheck this issue in 2.4-develop.

[2022-11-15 11:11] alikhani97 commented on #36476
@magento give me 2.4-develop instance

[2022-11-15 11:23] UtsavRock1811 commented on #36472
Hi @engcom-Bravo,

Can you please check with more then the 100 records please? As magento divide the CSV data in bunch of 100 limit, So while you import the data more then the 100 count, You are able to reproduce the issue.

Also please find attachment of CSV file.
[customer.csv](https://github.com/magento/magento2/files/10012130/customer.csv)

Thank you

[2022-11-15 11:26] engcom-Hotel commented on #36461
@engcom-Bravo We need to check this functionality in the frontend as well. So well reverify it and let us know the outcome here.

[2022-11-15 12:02] engcom-Bravo commented on #36474
@magento give me 2.4-develop instance

[2022-11-15 12:46] engcom-Bravo commented on #36474
Hi @webgility-amazonapi,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

We are getting Product Options via Product APi.

<img width="1039" alt="Screenshot 2022-11-15 at 5 24 32 PM" src="https://user-images.githubusercontent.com/51680745/201922574-865449fc-a060-470a-9f11-b00aad7084ed.pn

[2022-11-15 13:07] magenx commented on #36469
can you see your IP address in apache access log?

[2022-11-15 13:13] engcom-Bravo commented on #36461
Hi @MarianNapi,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is reproducible.Kindly refer the screenshots.

**Steps to reproduce**

1.Create a product
2.add other products as related, upsell or crosssell products and sort them in a random order
3.Request these fields via the GraphQl API

![graph](https://user-images.githubusercontent

[2022-11-15 13:36] WebHostingAce opened #36481 "bestsellers monthly and yearly Tables Keep growing due to website deletion"
### Preconditions (*)

1. Magento 2.4.3-p1 | Magento 2.4.5-p1, 2.4-develop
2. Multi-Store Setup

### Steps to reproduce (*)

1. Place an order in a Multi-Store (both websites)
2. Delete the 2nd website. (Admin - Stores - All Stores - Open Website and delete)
3. Reindex and flush cache
4. Refresh Bestsellers Statistics (Refresh Lifetime Statistics / Refresh Statistics for the Last Day) .
(Reports -

[2022-11-15 14:17] stkrelax commented on #10978
Due to attributemetadata is added to attribute on load , loaded attributes will have scope_ values set.

First Request after Cache Clean (may be store 4) will save this attribute in Cache via Module Eav Model Config with Cache Key EAV_ENTITY_ATTRIBUTES .  $entityTypeCode..... no store provided

Second Request (may be store 3) will load attributes from Eav Config Cache. These loaded Attributes will

[2022-11-15 14:33] Vasudev-22 commented on #36461
@magento I am working on this

[2022-11-15 15:33] jaminion commented on #36471
Hello @engcom-November, I'd suggest that the conditions to reproduce this issue include the adjustment of some products to change their is_in_stock/manage_stock/etc values. The full `php bin/magento indexer:reindex` runs through a different set of functions, and the specific calls that get to the erroring code require that you're only reindexing specific products at a time, rather than all of them

[2022-11-15 15:48] webgility-amazonapi commented on #36474
Please try to create a product of type configurable and add Customizable Option over there.The order response should be like as mentioned in the screenshot.
Attach this product to order and configure the product.
Submit an order.
Now download the order you will see items[]-> product_option->extension_attributes-> configurable_item_options node .
The value coming inside the configurable_item_option

[2022-11-15 16:42] brohon commented on #21413
@orlangur  No where in the link you provided does it say that this is not best practice.

[2022-11-15 17:20] pmonosolo commented on #34855
Beautiful! Thank you! @engcom-Hotel

[2022-11-15 18:15] jaminion commented on #36471
Hey @vseager and @alek-s-andr, is there any chance that you have custom product types defined, possibly with third party modules? I have been able to determine that the disappearing products and logged query exceptions are limited to my custom product types. I did not declare an "indexerModel" for them, and it looks like the default indexerModel that gets used for any product type which does not h

[2022-11-15 19:14] hostep commented on #36256
Closed without a comment explaining why?

But it's probably fixed by https://github.com/magento/magento2/search?q=ACP2E-1200&type=commits ...

[2022-11-15 19:17] hostep commented on #35796
@chittima, @sdzhepa: can you please explain why this issue got closed?

[2022-11-15 20:36] chittima commented on #36256
Issue is already fixed in the develop branch and not reproducible anymore. Here is the commit https://github.com/magento/magento2/commit/1de1cea3607422b55cdd7158ce1af85c8167211d

[2022-11-15 20:36] chittima commented on #35796
Issue is already fixed in the develop branch and not reproducible anymore. Here is the commit https://github.com/magento/magento2/commit/0d90748aa1dd76581b8a3dbf34b5ce82961d9902

[2022-11-15 21:37] jaminion commented on #36471
I have two changes that I'm using on a site now to resolve this problem. The first one is a composer patch against magento/module-catalog, and just adjusts that `_syncData()` function to target specific columns instead of using the "SELECT *". I don't believe it's much of a performance knock as the DDL information that gets queried is pretty heavily cached. This requires `cweagans/composer-patches

[2022-11-16 00:24] alek-s-andr commented on #36471
Hi @jaminion, yes we have custom product type from third party module.

[2022-11-16 04:07] engcom-November commented on #36421
Hi @VladyslavSikailo ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4 enterprise edition with inventory enabled and the issue is not reproducible on 2nd store but is reproducible on 1st store with below steps performed.
1. Configurable product assigned to both the stores and both stocks
2. Rest API PUT request to update stock with below payload. Note: stock id is mand

[2022-11-16 04:29] engcom-November commented on #36398
Hi @stefancic ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-16 04:29] #36398 closed, assigned to DavaGordon, engcom-November

[2022-11-16 04:45] engcom-November commented on #36408
Hi @p24-max ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop instance with 30k products and mysql slow query log enabled. The Fulltext search in catalog > products executes for 2 to 3 seconds. We are considering this as feature request to improve the performance as this is existing behavior of Magento.
Thank you.

[2022-11-16 06:06] engcom-Bravo commented on #36342
Hi @psdevquestions,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-16 06:06] #36342 closed, assigned to engcom-Bravo

[2022-11-16 06:06] engcom-Bravo commented on #33995
Hi @lbajsarowicz,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-16 06:06] #33995 closed, assigned to kandy, maghamed, vzabaznov, ddzhura, engcom-Lima

[2022-11-16 06:12] engcom-Bravo commented on #36472
@magento give me 2.4-develop instance

[2022-11-16 06:32] engcom-Bravo commented on #36469
@magento give me 2.4-develop instance

[2022-11-16 07:02] engcom-November commented on #35810
@magento give me 2.4-develop instance

[2022-11-16 07:14] engcom-November commented on #36477
Hi @Vamshidhar2022 , Thank you for the response.
Magento 2.3.x reached end of support in September 2022. Adobe no longer provide support to fix the issues in Magento 2.3.x versions. Kindly upgrade your instance with the latest Magento 2.4.x version / recheck in 2.4-develop instance as it the upcoming 2.4.x release and have latest code. Please provide missing steps / third party modules / extension

[2022-11-16 07:42] PaperDS commented on #36473
Apple Pay button missing on checkout Safari also in 2.4.5 as well as Google Pay in Chrome which I assume is the same issue. Payment provider Stripe.

[2022-11-16 07:53] engcom-Bravo commented on #36409
@magento give me 2.4-develop instance

[2022-11-16 08:48] technodelight commented on #35864
This is still reproducible on 2.4.4-p2 as well

[2022-11-16 09:24] engcom-Bravo commented on #36474
@magento give me 2.4-develop instance

[2022-11-16 09:35] nkajic commented on #32956
Hi @ gondas33 thanks for this fix. It works perfectly on 2.4.3-p3. Is solved my CLS from 0.36 on mobile to 0.00! Same it is not merged yet.

[2022-11-16 10:05] engcom-November commented on #35810
Hi @KrasnoshchokBohdan ,
As mentioned by @glo35082 in the [comment](https://github.com/magento/magento2/issues/35810#issuecomment-1294555440), after internal discussions with Product Owner and team, it has been decided that a proper error message (The "sku" attribute value is empty") will be displayed to the end user when trying to create or save a product without SKU for the time being. This is t

[2022-11-16 10:35] engcom-Bravo commented on #36469
Hi @FadedOut,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

<img width="691" alt="Screenshot 2022-11-16 at 2 39 29 PM" src="https://user-images.githubusercontent.com/51680745/202157600-442885ee-6f44-4040-897f-89434d25afa3.png">

Kindly recheck the behavior on Magento 2.4-develop insta

[2022-11-16 10:37] #36469 closed, assigned to engcom-Bravo

[2022-11-16 10:41] engcom-Bravo commented on #36474
Hi @webgility-amazonapi,

Thanks for your update.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

We are getting configurable_item_options in Product Response.

<img width="776" alt="Screenshot 2022-11-16 at 3 35 30 PM" src="https://user-images.githubusercontent.com/51680745/202158430-9ef4490c-38ec-4577-b98d-0f0e77383ec6.png">

<

[2022-11-16 10:44] engcom-November commented on #36464
Thank you for the response @ksenia-zlotin .
Rechecked the issue again on Magento 2.4-develop instance with enterprise edition modules enabled and the issue is reproducible with below steps followed:
1. Created simple product with customizable option added
2. Product edit page - Scheduled new update with both start date and end date set to future dates
3. Refresh the page
4. Edit scheduled update -

[2022-11-16 10:49] engcom-Bravo commented on #36472
Hi @UtsavRock1811,

Thanks for your update.

Verified the issue on Magento 2.4-develop instance.As per steps to reproduce issue is reproducible, but can you please confirm in your case customers are created or not (i.e.108).We are able to create the customers(108) as per your CSV file.Kindly refer the screenshots.
There is no issue in creating customers and the issue is in import status.

Before i

[2022-11-16 11:03] UtsavRock1811 commented on #36472
Hi @engcom-Bravo,

For your information customer create/update action is working fine, Just having issue in import status summary.

Thanks.

[2022-11-16 11:14] FadedOut commented on #36362
Would anyone have any ideas as to what would make the "Only X left" not show up properly?

It works fine on a standard/stock Magento 2.4.5-p1 but I can't seem to figure out what could be doing it on my side. I tried the standard Luma theme and it still doesn't show. I don't have any modules that would mess with that area and I don't have any modules that mess with the Javascript (like deferring).

[2022-11-16 11:25] dtavieres commented on #35978
Hi @engcom-Dash, Is there any advance with this issue?
Thank you in advance

[2022-11-16 11:26] engcom-Bravo commented on #36409
Hi @nbennett25,

Thanks for your update.

Verified the issue on Magento 2.4-develop instance and the issue is reproducible.

Customer Import: update to `disable_auto_group_change` was ignored.

**Steps to reproduce**

1.Go to System > Import/Export > Export
2.Select type: Customer Main File
3.Export Customer record
4.In downloaded file, strip out all non-required fields except for `disable_auto_gr

[2022-11-16 12:10] engcom-November commented on #36101
@magento give me 2.4-develop instance

[2022-11-16 12:27] engcom-November commented on #36400
Hi @kylepham103 ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop instance but unable to retrieve shipment_status information anywhere in UI or in DB as well.
**Steps performed:**
1. Orders placed with flat rate, UPS, FEDEX shipping methods
2. Invoiced and created shipments with (Partial and Full quantity)
3. Sent tracking Information
"shipment_status" colum

[2022-11-16 12:35] engcom-November commented on #36101
@magento give me 2.4-develop instance

[2022-11-16 12:55] soledc commented on #36374
Hello,
I'm having the same problem with BI reports. The settings are as indicated. Is there any other option?
Version: Magento 2.4.3
Thank!

[2022-11-16 13:08] joggienl commented on #33318
Hopefully someone can respond to this question because I am confused.

Which one of the following settings should be affected by this issue?

<img width="903" alt="image" src="https://user-images.githubusercontent.com/1089150/202188664-566d2b88-1025-4d93-8395-e731b829eb1f.png">

The issue seems to be talking about both of them.

Thanks!

[2022-11-16 13:24] joggienl commented on #32557
I am trying out this fix and the aggregation now shows `category_uid` in stead of `category_id`. BUT the values are still the category id values, and not the uid values, is that correct and intended? This way they are not usable.

Example query:

[code]

Result I see (not a complete result:

[code]
In my case I would expect values like `NDg=` for 48,  `NTg=` for 58 and `NDc=` for 47.

@damienwebde

[2022-11-16 13:34] tuyennn commented on #28161
Has same issue with payments which have input credit card on checkout
![image](https://user-images.githubusercontent.com/4010395/202194361-6e25353a-a16c-4235-8430-5e1cde19e311.png)

[2022-11-16 13:46] APanteleychuk commented on #16163
@magento-engcom-team  give me 2.4.4 instance

[2022-11-16 13:48] APanteleychuk commented on #36479
@magento give me 2.4.4 instance

[2022-11-16 13:51] damienwebdev commented on #32557
@joggienl I haven't re-reviewed.

[2022-11-16 14:16] joggienl commented on #32557
@damienwebdev thanks for your quick reply!

I've tried the call I used on https://venia.magento.com/graphql and there I do get the actual uid's.

So that is weird to say the least.

<img width="1489" alt="image" src="https://user-images.githubusercontent.com/1089150/202204004-665c810f-fe25-4d0e-8813-f7ce41fea07b.png">

[2022-11-16 14:47] engcom-Dash commented on #36440
@magento give me 2.4-develop instance

[2022-11-16 14:58] engcom-Dash commented on #36440
@magento give me 2.4-develop instance

[2022-11-16 14:59] ciancastillo commented on #36479
@magento give me 2.4.5-p1 instance

[2022-11-16 15:35] jaminion commented on #36471
Hi @alek-s-andr , you might peek at the "etc/product_types.xml" file in that third party module, see if there is a declaration for an `<indexerModel>` inside the `<type>` declaration for the product type. It would probably be useful to communicate with the vendor for that module and reference this github issue to see if they can confirm the problem and provide a fix. Even if an indexerModel is def

[2022-11-16 15:58] m2-assistant[bot] opened #36482 "[Issue] Fixed table difference insert during price reindex"
This issue is automatically created based on existing pull request: magento/magento2#36370: Fixed table difference insert during price reindex

---------

### Description (*)
Problem appears when dimensions are not used.
`catalog_product_index_price` is now incompatible with `catalog_product_index_price_tmp` as new ID columnt added
https://devdocs.magento.com/guides/v2.4/release-notes/backward-inc

[2022-11-16 16:15] sdzhepa commented on #28153
Hello @norgeindian

As I can see the issue is still in "Progress: ready for dev" and does not have any assigned person
![image](https://user-images.githubusercontent.com/3409584/202233444-9a6fca96-c227-4684-baea-fa708a3cd082.png)

When someone from the public Community or internal team takes it in progress, the status "Progress: ready for dev" will change to something like "Dev in progress"

so, s

[2022-11-16 16:21] engcom-Hotel commented on #36167
Hello,

We are reopening this issue to process it further.

Thanks

[2022-11-16 16:27] engcom-Hotel commented on #32492
Hello @adamzero1,

Thanks for the reporting and collaboration!

We are requested to review this issue in the latest Magento 2.4-develop or the latest released version. and let us know if the issue is reproducible for you.

Thanks

[2022-11-16 16:37] engcom-Hotel commented on #26975
Hello @dverkade,

Thank you for your report.

To speed up the processing of this issue, please provide us with the following information:

- Summary of the issue
- Information on your environment
- Steps to reproduce
- Expected and actual results

Thanks

[2022-11-16 16:42] engcom-Hotel commented on #29893
Hello @pmarjan,

Thanks for the report and collaboration!

As per this comment https://github.com/magento/magento2/pull/29894#issuecomment-909118997 in its related PR, the issue is already been fixed. Hence closing this issue.

Let us know in case you are still facing the issue.

Thanks

[2022-11-16 16:42] #29893 closed, assigned to engcom-Hotel

[2022-11-16 16:48] veloraven commented on #35707
Internal team is working on this issue.

[2022-11-16 17:16] adamlavery commented on #36467
Thanks for your input @FadedOut but that approach is never a good one for production websites and was impossible to reproduce on a dev site. Traditional technical debugging of the live issue is what was required here. What I needed was a point in the right direction - thanks @gwharton.

Anyhow, while in the middle of debugging it, the problem stock updated from the external system and the issue we

[2022-11-16 17:16] adamlavery commented on #36467
Not Magento - closing.

[2022-11-16 17:16] #36467 closed, assigned to engcom-Dash

[2022-11-16 17:37] engcom-November commented on #36471
Hi @alek-s-andr / @jaminion ,
If the issue occurred due to 3rd party module /extension, community is not able to provide fix for it in this repository as code of the extension is not part of https://github.com/magento/magento2 git repository. Re verified the issue again and no errors were observed in cron_schedule table if indexers are set on "Update by Schedule" and invalidated. Kindly recheck th

[2022-11-16 21:30] Vamshidhar2022 commented on #36477
Hi Girija,
Thanks for the reply.
We have fixed it now. The reason is related to PayPal account itself. We added another account in PayPal manager and got the API credentials and it is working fine now.
Thanks for your time.
Kind Regards,
Vamshi

From: Girija Bhavani Kudupudi ***@***.***>
Sent: Wednesday, 16 November 2022 6:14 PM
To: magento/magento2 ***@***.***>
Cc: Vamshidhar Sankarapura ***@***.

[2022-11-16 22:07] jaminion commented on #36471
Hello @engcom-November , this is a wee bit tricky as it appears that the code which had a recent regression or got "broken" is part of the magento/magento2 repository - however it's only called in the circumstance that a third party module has a product type defined without defining a custom indexerModel, and that is/was optional.

The default indexerModel which gets used is not the same indexerMo

[2022-11-17 01:00] jmonrove commented on #35093
Recaptcha V3 is causing issues on my store as well when adding a bundled product to the cart, seems like the promise is not triggered and then it hands and resends, ends up doubling up the quantity in the cart, as soon as I disabled Recaptcha V3  on the frontend the problem went away....

[2022-11-17 02:08] engcom-Hotel commented on #35666
Hello,

Currently the issue has been fixed for `app/code/Magento/Webapi/Model/ServiceMetadata.php` file. For the remaining files, there is a new JIRA created: https://jira.corp.adobe.com/browse/AC-7036

We will keep you posted here with more updates.

Thanks

[2022-11-17 05:05] webgility-amazonapi commented on #36474
Hi Hi @engcom-Bravo,
Can you please also attach the screenshot for order ->orderItems->product_options ? I need to see the values in product_option->extension_attributes-> configurable_item_options ? just like
![image](https://user-images.githubusercontent.com/54638813/202360708-b2db81a7-8aec-4238-ab11-14ccff8ad323.png)

[2022-11-17 05:46] ninjacoder30 opened #36484 "Jquery vulnerability for 3.4.0"
### Preconditions and environment

- Magento version - 2.4.4-p1
- PHP 8.1

We have upgraded the Magento version and Jquery Version is upgraded to 3.4.0 with the same.

But getting Below error in our scans. Please check

![image](https://user-images.githubusercontent.com/12250864/202366230-f2010407-47ab-40dc-a146-82ffbb2f684b.png)

### Steps to reproduce

Upgrade Magento version - 2.4.4-p1

### Exp

[2022-11-17 06:14] engcom-Bravo commented on #33343
Hi @prasannanwr,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-17 06:14] #33343 closed, assigned to engcom-Bravo

[2022-11-17 06:14] engcom-Bravo commented on #33705
Hi @vseager,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-17 06:14] #33705 closed, assigned to engcom-Bravo

[2022-11-17 06:19] engcom-Bravo commented on #36479
@magento give me 2.4.5 instance

[2022-11-17 06:30] engcom-November commented on #36477
Thank you for the response @Vamshidhar2022 . As the issue is with the PayPal account and not with Magento, we are closing this issue. Kindly create new issue if you face any issues.
Thank you.

[2022-11-17 06:30] #36477 closed, assigned to engcom-November

[2022-11-17 06:31] engcom-Dash commented on #36440
@magento give me 2.4-develop instance

[2022-11-17 06:33] engcom-Dash commented on #36457
@magento give me 2.4-develop instance

[2022-11-17 06:41] engcom-Bravo commented on #36479
@magento give me 2.4-develop instance

[2022-11-17 06:42] engcom-November commented on #36101
@magento give me 2.4-develop instance

[2022-11-17 06:46] engcom-Bravo commented on #36472
@magento give me 2.4-develop instance

[2022-11-17 07:08] engcom-Hotel commented on #36484
@magento give me 2.4-develop instance

[2022-11-17 07:11] engcom-Hotel commented on #36484
@magento give me 2.4-develop instance

[2022-11-17 07:13] engcom-Hotel commented on #36484
@magento give me 2.4.5-p2 instance

[2022-11-17 07:15] adjig commented on #22477
Hello @AlexWorking
I also need price format in Indian format.
How to do this?

[2022-11-17 07:41] engcom-Bravo commented on #36472
@magento give me 2.4-develop instance

[2022-11-17 07:48] engcom-Dash commented on #36457
@magento give me 2.4-develop instance

[2022-11-17 08:19] mhamzaraja commented on #34202
Hi, @chittima I am facing the same issue on Magento 2.4.3P and I check your commit link its shows 404 can you please share the patch with me?

Thanks

[2022-11-17 08:59] engcom-Bravo commented on #36474
@magento give me 2.4-develop instance

[2022-11-17 09:07] oneserv-heuser commented on #33318
@joggienl The "Use in Layered Navigation" setting should be affected by this issue.

[2022-11-17 09:29] engcom-November commented on #36137
Hi @rafaelpatro ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop instance and is reproducible.
deletePaymentToken mutation is always returning true even if already deleted payment tokens public_hash is given in the graphql request. If any invalid public_hash is given in the request, there is no issue. Proper error message is displayed as expected. This issu

[2022-11-17 09:43] engcom-November commented on #36101
@magento give me 2.4-develop instance

[2022-11-17 09:57] engcom-Hotel commented on #18329
Hello @martin-cod,

As per the comment below in https://github.com/magento/magento2/issues/18329#issuecomment-776291249, it seems the issue has been resolved. Hence we are closing this issue.

Please let us know if you are still facing this issue.

Thanks

[2022-11-17 10:29] engcom-Dash commented on #36456
**Hi @glevhen ,**

Thanks For your Information....Last time I uploaded wrong screenshot.
Again we worked this issue in 2.4-develop branch...We are confirming the issue.
the js error will appear in the browser console and video will not autoplay.

**Preconditions:**
Magento version : 2.4-develop
PHP :8.1

**Steps we followed:**
1.Install fresh 2.4-develop
2.Add product in Magento admin
3.Add Images

[2022-11-17 10:41] engcom-Bravo commented on #36472
Hi @UtsavRock1811,

Thanks for your Update.

Verified the issue on Magento 2.4-develop instance and the issue is reproducible.Kindly refer the screenshots.

**Steps to reproduce**

1.Login into admin > System > Data Transfer > Import, Select "Customer Main File" from entity type drop down.

2.Select "Add/Update Complex Data" option from Import Behaviour drop down.

3.Rest of fields leave as it is.

[2022-11-17 10:45] engcom-Dash commented on #36457
@magento give me 2.4-develop instance

[2022-11-17 10:49] engcom-Bravo commented on #36474
Hi @webgility-amazonapi,

Thanks for your Update.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

We are getting "configurable_product_options"

<img width="561" alt="Screenshot 2022-11-17 at 4 13 39 PM" src="https://user-images.githubusercontent.com/51680745/202426682-4aefedc0-6a6b-483f-8a07-efd820cc18e2.png">

<img width="546"

[2022-11-17 10:53] engcom-Bravo commented on #36479
Hi @ciancastillo,

Thanks for your Update.
Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.

<img width="1366" alt="Screenshot 2022-11-15 at 12 22 31 PM" src="https://user-images.githubusercontent.com/51680745/201892343-d1c6b21f-4782-4c4b-b3db-82c190d407c4.png">

<img width="1310" alt="Screenshot 2022-11-15 at 12 22 38 PM" src="https://user-images.githubusercon

[2022-11-17 11:02] ssx opened #36486 "Default Value being duplicated it attribute edit"
### Preconditions and environment

- 2.4.5-p1

![image](https://user-images.githubusercontent.com/254889/202429181-9cb6972d-642c-42ca-8298-485bf56ad8ca.png)

### Steps to reproduce

1. Create a text attribute
2. Run setup:upgrade
3. Edit attribute in panel
4. Two default values appear

### Expected result

Only a single default value field appears.

### Actual result

Two default value fields appe

[2022-11-17 11:04] engcom-November commented on #36101
Verified the issue on Magento 2.4-develop instance and the issue is reproducible. Hence confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/202429882-c4cea6b7-c435-4733-bccb-6b1769fd7b5d.png)
![image](https://user-images.githubusercontent.com/60198231/202429798-149a358f-a817-4422-854b-480a46aafac1.png)

[2022-11-17 11:11] engcom-November commented on #36374
Hi @lolareifs ,
As the issue cannot be reproduced on local Magento 2.4-develop instance which have unsecured URL, test  environment setup in progress to check on public web server.
Thank you.

[2022-11-17 12:16] webgility-amazonapi commented on #36474
Hi @webgility-amazonapi,
Does it mean that custom_options[] coming in Order API needs to map with options[] coming in Product API ?
Does it mean that configurable_item_options[] coming in Order API needs to map with configurable_product_options [] coming in Product API ?

Also Within configurable_product_options For AttributeId = 93 which is having label = Color , the value is Blue but here we can

[2022-11-17 12:19] engcom-November commented on #36481
Verified the issue on Magento 2.4-develop instance and the issue is reproducible. Hence updating the description and confirming the issue.
"sales_bestsellers_aggregated_monthly", "sales_bestsellers_aggregated_yearly" DB tables keep growing after every refresh of Best Sellers due to website deletion.
![image](https://user-images.githubusercontent.com/60198231/202444584-2d6ca303-a5ed-4b7d-9ee2-d68dc

[2022-11-17 15:17] chittima commented on #34202
Hi @mhamzaraja Please find the commit: b4f87e9632055d369a0a4c943dee00888c336ea4

[2022-11-17 16:02] engcom-November commented on #36384
Verified the issue on Magento 2.4-develop instance and the issue is reproducible.
This issue is not reproducible if any other is deleted from sales_order_grid DB table. Issue only reproduced if oldest order order is deleted and sales_grid_order_async_insert cron job. Hence updating the description and confirming the issue.

[2022-11-17 17:00] edward-simpson commented on #36384
Our solution has been to add a new ID List provider:

[code]

And inject into the relevant types in a di.xml:

[code]

[2022-11-17 18:56] sdouma commented on #27559
Still having this issue in 2.4.4-p2. This doesn't seem to be fixable with the way it is currently structured. The reason why is it uses select distinct on a table that is going to have millions of records.
Why even cache it?

[2022-11-17 21:47] jmonrove commented on #35542
This fixed an issue on my Commerce edition on version 2.4.5-p1 in which I was getting the same error on a 3rd party module, patching the core magento vendor file as suggested worked wonders, thank you

[2022-11-18 01:35] ankitrtpl commented on #35311
Does anyone find the resolution of this issue. I am also facing the same issue.

[2022-11-18 03:20] engcom-Dash commented on #36440
@magento give me 2.4-develop instance

[2022-11-18 03:23] engcom-Dash commented on #36440
@magento give me 2.4-develop instance

[2022-11-18 04:41] AngeloZou commented on #36243
Can the problem be solved, if so, please let me know how. Thank you!

[2022-11-18 05:43] realadityayadav commented on #25199
For anybody on Maria db 10.4 and experiencing long reindexing times please do
https://experienceleague.adobe.com/docs/commerce-operations/performance-best-practices/configuration.html

[optimizer_switch='rowid_filter=off']
[optimizer_use_condition_selectivity = 1]

[2022-11-18 06:12] engcom-Bravo commented on #36376
Hi @Ritesh-Rana,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-18 06:12] #36376 closed, assigned to engcom-Bravo

[2022-11-18 06:17] RocktechnolabsDev opened #36488 "Magento Community Edition: Version 2.4.5 - Import Status Summary Not Showing for Stock Sources Entity"
### Preconditions and environment

- Magento version: 2.4.5
- I am using Magento Community Version 2.4.5, Importing the Stock Source, CSV have 3 records including the Header.
- Validate the data, Validation result shows: Checked rows: 2, checked entities: 2, invalid rows: 0, total errors: 0
- Click on Import button: Import status showing notice icon and "Import successfully done" message only, Sum

[2022-11-18 06:19] engcom-Bravo commented on #36488
@magento give me 2.4-develop instance

[2022-11-18 06:31] engcom-Bravo commented on #36453
@magento give me 2.4-develop instance

[2022-11-18 07:16] engcom-Dash commented on #36440
@magento give me 2.4-develop instance

[2022-11-18 07:23] engcom-Dash commented on #36440
Hi @Axel29 ,

We are Worked this issue in magento 2.4 -develop instance...We are able to reproduce the issue with respective results.

Pre condition:
Magento version 2.4 -develop
PHP 8.1

Steps to reproduce:
1.Install magento instance
2.Login with customer email
3.Subscribe the newsletter with Same Email id
4.Trying to change the email in store front end
5.Email changed successfully

While subscri

[2022-11-18 07:24] engcom-Bravo commented on #36474
@magento give me 2.4-develop instance

[2022-11-18 07:29] thanhthaitran opened #36489 "Clear all filter when switch store on front end"
### Preconditions and environment

- Magento version: 2.4.5
I switch store after filter product, but the parameters have been disappeared.

### Steps to reproduce

1. Choose filter on layered navigation
2. Switch store

### Expected result

 Parameter filter still appeared

### Actual result

 Parameter filter disappeared

### Additional information

_No response_

### Release note

_No response_

[2022-11-18 07:51] engcom-Hotel commented on #36474
@magento give me 2.4-develop instance

[2022-11-18 08:01] ppeyman commented on #36455
did you check it in frontend side result  ?

i saw the result in frontend side

[2022-11-18 08:07] thanhthaitran commented on #36489
Seem the issue is in Magento\UrlRewrite\Model\StoreSwitcher\RewriteUrl when call `$request->getPathInfo()`
[code]
why you remove the query string from REQUEST_URI in Magento\Framework\HTTP\PhpEnvironment\Request ?
[code]

[2022-11-18 08:46] engcom-Bravo commented on #36489
@magento give me 2.4-develop instance

[2022-11-18 09:11] engcom-Hotel commented on #30311
Hello @fsw,

As this ticket does not related with any internal Magento core issue, hence we are marking this issue as a feature request for further processing.

Thanks

[2022-11-18 09:17] engcom-Dash commented on #36473
@magento give me 2.4-develop instance

[2022-11-18 09:34] vseager commented on #33705
https://github.com/magento give me 2.4.3-p3 instance

[2022-11-18 09:35] hostep commented on #35517
It looks like this was fixed internally by ticket "ACP2E-1243: the catalog_index_refresh_price cron fails with an error that is only reported when run between 0000 and 0059 UTC", commits: e0625468fcbf282b90cfbdd85e139f91e1275cc2 & 0e261c8a202be04a39a4c5ff4563165f0116e90f & d9557e6fd6f6335d7cc10e8a06445979cb113369
Unfortunately there is no clean merge commit, but here is a patch I created out of th

[2022-11-18 09:35] mariogobos commented on #29409
Hello, i've same problem on my magento 2.4.4 my product have 1500 custom options and load time is 7sec. Do you have find a solution? Thanks a lot

[2022-11-18 09:39] vseager commented on #33705
@magento give me 2.4.3-p3 instance

[2022-11-18 09:41] engcom-Bravo commented on #36488
@magento give me 2.4-develop instance

[2022-11-18 09:53] engcom-Hotel commented on #30582
Hello @samc2810,

We have tried to reproduce this issue in Magento 2.4-develop and the is still relevant. Hence confirming the issue. For reference, I am attaching the custom indexer and error screenshot:

[Magz.zip](https://github.com/magento/magento2/files/10040200/Magz.zip)

<img width="1244" alt="image" src="https://user-images.githubusercontent.com/51681618/202673580-769492e1-8fd2-49d5-a7b0-b

[2022-11-18 10:14] engcom-Bravo commented on #36453
@magento give me 2.4-develop instance

[2022-11-18 10:31] engcom-Hotel commented on #31102
Hello @lbajsarowicz,

We are marking this as a feature request for moving it further.

Thanks

[2022-11-18 10:50] Vasudev-22 commented on #36472
@magento I am working on this

[2022-11-18 10:54] Vasudev-22 commented on #36472
@magento I am working on this

[2022-11-18 11:16] engcom-November commented on #36278
Hi @loneken79 , Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop instance and is reproducible. Condition check for $newArray[$key]) parameter is missing in recursiveDiff function. Hence confirming the issue.

[2022-11-18 11:51] engcom-Bravo commented on #36489
Hi @thanhthaitran,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Kindly refer the screenshots.

Steps to reproduce:

1.Choose filter on layered navigation
2.Switch store

We have created two store view.in first store we a applied a filter on layered navigation and switched to another store view.Parameter filter sti

[2022-11-18 11:52] engcom-Bravo commented on #36488
@magento give me 2.4-develop instance

[2022-11-18 11:56] engcom-Bravo commented on #36453
HI @thomas-kl1,

Thanks for your Update.

we tired to reproduce the issue but we are not able to reproduce the issue.In 2.3.X we are not able to create the customer account with a last name **Foo-<Bar**.

Installed Magento version 2.3.7 with php 7.4.

<img width="856" alt="Screenshot 2022-11-18 at 3 05 06 PM" src="https://user-images.githubusercontent.com/51680745/202699671-42fd410f-ea6d-4c0d-b476

[2022-11-18 12:00] engcom-Bravo commented on #36474
Hi @webgility-amazonapi,

Thanks for your Update.

Kindly refer the screenshot for Child Product Color Blue for Configurable Product.

<img width="696" alt="Screenshot 2022-11-18 at 2 22 38 PM" src="https://user-images.githubusercontent.com/51680745/202700472-96a5d428-e0dd-4827-92e5-50c280434392.png">

<img width="497" alt="Screenshot 2022-11-18 at 5 28 28 PM" src="https://user-images.githubuserco

[2022-11-18 12:27] webgility-amazonapi commented on #36474
Hi @engcom-Bravo ,
Can you please elaborate. I did not get how the value mentioned in the screenshot mentioned by you in the above comment matches with  "Color : Blue" .
How I will be able to map  "Color" to "Blue" .Is there some sort of Id  which I can use to map "Color" with "Blue" ?
![image](https://user-images.githubusercontent.com/54638813/202704141-743ed54d-3cf7-4bca-9d79-d7c51ac5bb87.png)

[2022-11-18 12:34] shane-clickingmad commented on #36449
Same issue here on a couple of 2.4.5-p1 sites.

One of the sites only has 71 total products so I dont think the quantity of products is a factor here.

Same issue with both PHP 8.0 and 8.1
Elastic Search 7.9.3

For us, navigating to a category page and selecting any filter doesnt narrow the results. Haven't been able to narrow it down.

[2022-11-18 13:05] Vasudev-22 commented on #36409
@magento I am working on this

[2022-11-18 13:29] thomas-kl1 commented on #36453
Was possible with 2.3.0 for sure

[2022-11-18 13:59] affcue25 opened #36491 "Creates product in all website instead of given specific website_ids"
I have been trying to add product using the Rest API `https://{myDomain}/rest/{store_id}/V1/products` and giving `website_ids: [1]`
But it creates this product in all websites. Currently I am using version 2.4.4.

### Actual result (*)
![Screenshot from 2022-11-18 18-53-50](https://user-images.githubusercontent.com/31040870/202721457-c7225aa5-4cbc-40f8-9ae9-5a8f63cd89ab.png)

Is there any patch fo

[2022-11-18 14:03] Vasudev-22 commented on #35953
@magento I am working on this

[2022-11-18 14:13] mrramanathan31 commented on #34975
@stevekem Getting the same below error on Magento 2.4.5-p1 Enterprise edition. Please provide the patch for this issue.

`report.ERROR: Magento\Framework\Exception\InputException: Can not resolve reCAPTCHA parameter. in /var/www/html/oreo/vendor/magento/module-re-captcha-ui/Model/CaptchaResponseResolver.php:25`

[2022-11-18 15:43] icecactus opened #36492 "Default V6 VCL Template Logic"
### Preconditions and environment

v2.4.5

### Steps to reproduce

Navigate to a page that does a 301 redirect or has "private" in cache-control header with a status code of 200.

### Expected result

I would think anything (200, 404, 301 etc) that has "private" in Cache-Control header would not get cached.

### Actual result

https status 200 with private in Cache-Control header is now cached and

[2022-11-18 15:54] ciancastillo commented on #35864
Facing the same issue in 2.4.5-p1

[2022-11-18 16:02] #36491 closed, assigned to nobody

[2022-11-18 21:53] FadedOut commented on #36488
Jeez looks like the Magento instance creator is broken again...

In any case, @UtsavRock1811 from looking at your sample file, it appears there is only one stock source. Is that all you have for the actual file/site? Just one stock source (default)?

If that is the case, you'd be better off updating by product instead and simply using the following column headers with data:
[code]

That is how I d

[2022-11-18 22:39] Veltix commented on #35938
REST api issue still exists 2.4.4

[2022-11-18 22:44] briangmoore77 commented on #36054
Is this going backwards? I figured this would be fixed by now.

[2022-11-18 22:57] briangmoore77 commented on #34975
Having to wait 4 months (3/14/23) for this fix to be in 2.4.6 is a little ridiculous.

[2022-11-19 07:26] Hanhan1989 commented on #34975
sadly, my solution was disable it.

[2022-11-19 07:39] engcom-November commented on #32252
Verified the issue on Magento 2.4-develop branch and the issue is still reproducible.
Configured the instance as per [devdocs](https://devdocs.magento.com/guides/v2.4/graphql/functional-testing.html#run-functional-tests) but unable to run the functional tests from CLI. Hence confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/202840409-5304d3c4-182e-44ae-91fe-01e08bc0

[2022-11-19 15:53] hostep commented on #36438
@nathanjosiah: what's the reason why the recent security fixes haven't been merged yet in the `2.4-develop` branch? It's a bit unfortunate because that makes it hard for these engcom guys here to verify this issue.

[2022-11-19 16:29] hostep commented on #36476
I'm not sure if the expected outcome is correct here.

The sequence in the `module.xml` file is a soft dependency and doesn't require those modules (`Vendor_One` in this case) to even be available or installed for the other module (`Vendor_Two`) to work.
It's mostly used to determine the order of certain code in modules to get loaded/executed but it's really not a hard dependency that needs to be

[2022-11-19 16:38] hostep commented on #36484
@ninjacoder30: Magento 2.4.4-p1 ships with jQuery 3.6.0:
- https://github.com/magento/magento2/blob/2.4.4-p1/lib/web/jquery/jquery.min.js
- https://github.com/magento/magento2/blob/2.4.4-p1/lib/web/jquery.js

Are you sure you are looking at the jquery library from core Magento? Because it could be a 3rd party module or some custom code that pulls in an earlier version?

[2022-11-19 16:47] hostep commented on #36492
I think your remark makes sense. @gquintard what do you think?

[2022-11-19 17:17] hostep commented on #36471
I think https://github.com/magento/magento2/pull/36370 might fix this, could somebody maybe confirm?

[2022-11-20 01:31] WebHostingAce commented on #36484
@ninjacoder30 upgraded to 2.4.4-p1 from 2.4.3-p1.

I can confirm the jQuery has been upgraded to jQuery 3.6.0

As @hostep mentioned, It could be a 3rd party module or custom theme customization.

[2022-11-20 09:33] magejof commented on #34898
please add some user permission on media gallery
<img width="411" alt="Screenshot 2022-11-20 at 12 32 39 PM" src="https://user-images.githubusercontent.com/117264332/202895025-349d1dda-ecbc-46b2-a88d-5296ff2ea609.png">

[2022-11-20 11:05] vandijkstef commented on #35311
@ankitrtpl Still facing this issue, maybe we can compare packages to lock down the culprit?

[code]

[2022-11-20 18:20] gquintard commented on #36492
indeed, that should have been

[code]

[2022-11-21 02:06] engcom-Dash commented on #36473
@magento give me 2.4-develop instance

[2022-11-21 02:07] engcom-Dash commented on #36457
@magento give me 2.4-develop instance

[2022-11-21 02:10] engcom-Dash commented on #36446
@magento give me 2.4-develop instance

[2022-11-21 02:10] engcom-Dash commented on #36457
@magento give me 2.4-develop instance

[2022-11-21 02:10] engcom-Dash commented on #36457
@magento give me 2.4-develop instance

[2022-11-21 02:11] engcom-Dash commented on #36446
@magento give me 2.4-develop instance

[2022-11-21 05:21] engcom-Bravo commented on #36488
@magento give me 2.4-develop instance

[2022-11-21 05:41] tschirmer commented on #34975
yeah it's a long time between writing the bugfix and getting into a release version. Would be good to get attribution on my work there @engcom-Hotel

[2022-11-21 06:11] engcom-Bravo commented on #36424
Hi @quintinnel2,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-21 06:11] #36424 closed, assigned to engcom-Bravo

[2022-11-21 06:11] engcom-Bravo commented on #36428
Hi @gilbertsohal,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-21 06:11] #36428 closed, assigned to engcom-Bravo

[2022-11-21 07:22] ssstankiewicz commented on #36429
@magento give me 2.4.4 instance

[2022-11-21 07:48] engcom-Bravo commented on #36453
@magento give me 2.4-develop instance

[2022-11-21 09:15] rahulrj-eglobeits opened #36498 "Unable to install B2B module in magento 2.4.5-p1 EE"
### Summary

we are trying to install b2b in fresh magento 2.4.5-p1 EE unfortunately getting some error

### Examples

[code]

### Proposed solution

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users without workaround._
- [ ] Severity: **S1** _- Affects critical data or functionality and force

[2022-11-21 09:50] RocktechnolabsDev opened #36499 "Magento Community Edition: Version 2.4.5 - Date Picker design getting disturb"
### Preconditions and environment

1. Magento Community Edition 2.4.5 without sample data is installed.
2. Login into admin > Marketing > Cart Price Rules
3. Click on date picker of start column in grid, Select the date from date picker, After selecting the date "Date selector" text visible instead of calendar icon.

### Steps to reproduce

1. Login into admin > Marketing > Cart Price Rules
2. Cli

[2022-11-21 10:24] engcom-November commented on #36498
Hi @rahulrj-eglobeits ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance with enterprise edition and unable to reproduce the issue.
B2B modules are successfully installed in Magento 2.4-develop with ee edition. No exceptions/errors were observed.
Kindly recheck the issue by installing b2b on Magento 2.4-develop instance with ee editon and elaborate step

[2022-11-21 10:26] engcom-November commented on #36413
Hi @adamlavery ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-21 10:26] #36413 closed, assigned to engcom-November

[2022-11-21 10:27] engcom-November commented on #36381
Hi @Aythamiza ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-21 10:27] #36381 closed, assigned to engcom-November

[2022-11-21 10:59] engcom-Bravo commented on #36488
@magento give me 2.4-develop instance

[2022-11-21 11:12] engcom-November commented on #36291
Verified the issue on Magento 2.4-develop instance and the issue is reproducible.
On using separate database while running API functional tests, all the data from main database is removed. Hence confirming this issue.

[2022-11-21 11:34] engcom-Bravo commented on #36499
@magento give me 2.4-develop instance

[2022-11-21 11:39] engcom-Bravo commented on #36499
Hi @UtsavRock1811,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is reproducible.Kindly refer the screenshots.

**Steps to Reproduce** :

1.Login into admin > Marketing > Cart Price Rules
2.Click on date picker of start column in grid, Select the date from date picker.

After selecting date from the date picker, "Date selector" text v

[2022-11-21 11:46] engcom-Bravo commented on #36474
Hi @webgility-amazonapi,

Since Color is an Custom Attribute hence we are getting Configurable Child Product details in Custom Attributes Node.

Kindly refer the screenshots.

<img width="579" alt="Screenshot 2022-11-21 at 5 14 25 PM" src="https://user-images.githubusercontent.com/51680745/203043353-60952ab3-c8f7-417e-9490-ece2ffef4f8d.png">

<img width="569" alt="Screenshot 2022-11-21 at 3 06 34

[2022-11-21 11:57] Episodio1 commented on #19710
@mdiab1996
I can't test it because I already deleted that project from my computer. But your solution makes a lot of sense, and not the previously posted workarounds.
Thank you!

[2022-11-21 13:16] engcom-Hotel commented on #32260
Hello @artttj,

Thanks for the contribution and collaboration!

As per the below comment https://github.com/magento/magento2/issues/32260#issuecomment-1026933545:

The issue is no more reproducible. So we request you to please try to reproduce the issue in the latest development branch i.e. 2.4-develop and let us know if the issue is still reproducible for you.

Thanks

[2022-11-21 13:27] engcom-Hotel commented on #31870
Hello @Quazz,

The issue is still relevant. Hence confirming the issue. The below method does not return the `$saveOptions` as per the Magento standard:

https://github.com/magento/magento2/blob/39f0be8226abd6036afccfc012a6a14dcb828b20/app/code/Magento/ConfigurableProduct/Model/Plugin/ProductRepositorySave.php#L58-L90

Thanks

[2022-11-21 16:38] engcom-Dash commented on #36446
Hi @magentox ,

Thanks for your information...the link is not working for me which is attached in last comment...Kindly attach any other links you have...its very help to reproduce the issue again.

Thanks!!!

[2022-11-21 16:39] engcom-Dash commented on #36473
**Hi @monakd ,**

We are worked this issue in 2.4.4 magento instance...We can able to reproduce the issue.We got Actual result.

**PreConditions:**
Magento instance 2.4.4
PHP 8.1
Braintree configured in Magento admin Panel
Google Pay payment enabled in Back end

Steps to reproduce:
1. Install magento instance
2. go to stores > configuration>sales
3. Click Payment methods
4. select Braintree config

[2022-11-21 17:07] engcom-November commented on #36387
Hi @pierzakp ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-21 17:07] #36387 closed, assigned to pierzakp, engcom-November

[2022-11-21 17:25] #36255 closed, assigned to texboy

[2022-11-21 17:52] nathanjosiah commented on #36438
@magento export issue to Jira project AC as Bug

[2022-11-21 17:55] nathanjosiah commented on #36438
@hostep None of the 2.4.6 security fixes will be merged back into `2.4-develop` until after 2.4.6 is GA in March'23. `2.4.5-p1`, `2.4.4-p2` and `2.4.6` all have their own scope and all security fixes are kept private until the release is GA.

As for the issue being described here, we are taking a look at this issue via internal ticket AC-7093

[2022-11-21 18:10] hostep commented on #36255
Closed without any comments? But looks like fixed by [ACP2E-1245](https://github.com/magento/magento2/search?q=ACP2E-1245&type=commits).

[2022-11-21 18:13] hostep commented on #36438
@nathanjosiah: I'm talking about the security fixes from 2.4.5-p1 (which already went GA more than a month ago), not upcoming ones from 2.4.6 😉
These really should get merged in 2.4-develop, otherwise bugs introduced by them can't be verified.

[2022-11-21 18:34] hostep commented on #36498
@rahulrj-eglobeits: you'd probably want to also upgrade the package `magento/module-b2b` to version `100.3.4-p1`.
That should work.

@engcom-November: stuff like this can't be tested on `2.4-develop`, this is about version constraints of stable released magento packages. Just FYI 😉

[2022-11-21 18:39] briangmoore77 commented on #34975
@Hanhan1989 you disabled the recaptcha completely?

[2022-11-21 18:56] Hanhan1989 commented on #34975
I only disabled the Recaptcha of the admin user login form.

`bin/magento security:recaptcha:disable-for-user-login `

[2022-11-21 19:10] briangmoore77 commented on #34975
@Hanhan1989 you don't have bots hitting your other login pages causing the same error?

[2022-11-21 19:19] Hanhan1989 commented on #34975
@briangmoore77  I only had problem of Recaptcha in the admin user login form. In the Frontend， all Ok.

[2022-11-21 20:47] chazzs opened #36501 "image uploader does not work when more than one fieldset deep in ui_component"
### Preconditions and environment

Magento ver. 2.4.3-p2

### Steps to reproduce

File uploader fails when uploader is more than one fieldset level deep in a ui_component. this results in a failed upload of the image.

controller for upload using `\Magento\Framework\File\UploaderFactory $uploaderFactory`

code to upload:
[code]

`"Notice: Undefined index: emp1][img in /home/application/html/vendor

[2022-11-21 22:07] cdcrothers commented on #25684
Issue still exists in 2.4.2-p2 Enterprise.

Caused by lib/web/legacy-build.min.js
which maps to prototype
which is depended on by Magento_GoogleTagManager/js/google-analytics-universal
which is depended on by vendor/magento/module-google-tag-manager/view/frontend/web/js/google-tag-manager-cart.js
which is injected by vendor/magento/module-google-tag-manager/view/frontend/templates/js.phtml
referen

[2022-11-21 22:13] mattmary opened #36502 "Can't deploy an app/code plugin when using symlinks"
### Preconditions and environment

- Magento version: Magento CLI 2.4.5-p1
- Anything else that would help a developer reproduce the bug
find app/code/ -type l
app/code/(Vendor}

### Steps to reproduce

!. Create a plugin in /var/www/modules/{myvendor_myplugin}
2. Link this plugin into your app/code folder:

- cd {magento2 root folder]
- ln -s /var/www/modules/{myvendor_myplugin} app/code/{myvendo

[2022-11-21 22:53] cdcrothers opened #36503 "JS Code is rendered as text for the billing address's street"
### Preconditions and environment

- Magento version 2.4.2-p2 Enterprise and Community
- Enable google/analytics/active

https://github.com/magento/magento2/issues/25684#issuecomment-1322712773
https://github.com/magento/magento2/issues/26276#issuecomment-833671346
^ relevant issues that reported and caused the bug.

### Steps to reproduce

Reach billing step.
See billing address's street render J

[2022-11-22 05:59] engcom-Hotel commented on #36453
@magento give me 2.4-develop instance

[2022-11-22 06:26] engcom-Echo commented on #30306
This is expected behaviour.

[2022-11-22 06:26] #30306 closed, assigned to nobody

[2022-11-22 06:44] engcom-Dash commented on #36457
@magento give me 2.4-develop instance

[2022-11-22 07:42] mobweb commented on #27126
Where can we open a feature request for this? Right now there seems to be no way to specify an order for products shown in a "Catalog Products List" widget. But I strongly suggest adding this, as a merchant might want to show selected products on a CMS page with a specific order, e.g. the most important product first.

[2022-11-22 08:14] rahulrj-eglobeits commented on #36498
thank you mahn its worked

[2022-11-22 08:32] thinksys-dev opened #36505 "Downloading Error in repository of Paradoxlabs Magento 2"
### Summary

Magento Version: Magento ver. 2.3.5-p2
Paradox Current Version Installed in ProWorld: 4.5.0

![deploy-error](https://user-images.githubusercontent.com/71755795/203264095-81628acd-413c-47e2-bb07-93f8c237419d.png)

### Examples

Error:

https://repo.magento.com/archives/paradoxlabs/tokenbase/paradoxlabs-tokenbase-4.5.1.0.zip" file could not be downloaded (HTTP/1.1 404 Not Found)

### Pr

[2022-11-22 09:01] engcom-November commented on #36505
Hi @thinksys-dev ,
Thank you for reporting and collaboration. "paradoxlabs" is a 3rd party package / library that doesn't come along with latest / default Magento installation. Code of this package is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for t

[2022-11-22 09:01] #36505 closed, assigned to engcom-November

[2022-11-22 09:14] engcom-Dash commented on #36473
@magento give me 2.4-develop instance

[2022-11-22 09:19] engcom-Dash commented on #36457
@magento give me 2.4-develop instance

[2022-11-22 09:55] engcom-November commented on #34383
Hi @AnnaAPak ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop instance and "AdminApplyTierPriceToProductTest" MFTF test case is running fine successfully in local instance. Can you please provide more information about improvements / functional modifications of existing test case to confirm this issue.
![image](https://user-images.githubusercontent.com/6019

[2022-11-22 10:09] mohitnavik opened #36507 "Content Staging with Custom options"
### Preconditions and environment

Magento version: 2.4.4-p1(EE)

I configure the content staging for a product to update the price and it has custom option.

![image](https://user-images.githubusercontent.com/41897612/203282312-990a783a-f4fd-445f-ac14-36e5216cb91c.png)
![image](https://user-images.githubusercontent.com/41897612/203281459-ab727f9d-590c-4288-bf51-f33610889454.png)
![image](https://

[2022-11-22 10:25] engcom-Hotel commented on #36501
Hello @chazzs,

Thanks for the contribution & collaboration!

We have tried to reproduce the issue in the 2.4-develop branch but unfortunately, the issue is not reproducible for us. We have tried to change the below file and add an extra `fieldset` attribute as you mentioned in the line number 161:

https://github.com/magento/magento2/blob/88745a870d2cc4cbe87d0a855fba4e20744cc453/app/code/Magento/

[2022-11-22 10:26] engcom-Dash commented on #36507
@magento give me 2.4-develop instance

[2022-11-22 10:56] engcom-Dash commented on #36446
Hi @adamlavery

We are trying to reproduce the issue in 2.4-develop instance...We are not able to reproduce the issue.
we are getting expected results.
Admin should be able to set both the alt (image description) and title attributes.

Steps we followed:
1.Install 2.4-develop instance
2.go to content
3.Create new page
4. we are trying to add image as well as title attributes and We are able to add

[2022-11-22 11:00] WouterSteen commented on #35535
Its not only cart and checkout, its on every page where an image from a product exists.

[2022-11-22 11:01] adamlavery commented on #36446
Can't see that this latest comment adds anything. How does that demonstrate adding a title attribute to the image? You're not testing adding a title to the page are you? If so, suggest you re-read the issue!

[2022-11-22 11:15] engcom-Hotel commented on #36440
Hello @engcom-Dash,

As per the discussion in the triage call, we need to check the expected behavior of this scenario.

thanks

[2022-11-22 11:27] convenient commented on #36112
Hey @engcom-November I've added some detailed notes to reproduce the issue on https://github.com/magento/magento2/pull/36436

[2022-11-22 11:40] thinksys-dev commented on #36505
Hi Team,
Thanks for the reply.
But the zip file is trying to download from repo.magento.com https://repo.magento.com/archives/paradoxlabs/tokenbase/paradoxlabs-tokenbase-4.5.1.0.zip.

The ParadoxLabs extension is on marketplace and during composer install it pulls the zip file from Magento, which is clearly showing in the error , zip file is not available in repo.magento.com end.

Please look and

[2022-11-22 12:00] hostep commented on #36498
Great to hear, can you close this issue now that you solved your problem? 🙂

[2022-11-22 12:03] IvanVizcaino commented on #30846
Any solution? I have the same problem in Magento 2.4.4 Community

[2022-11-22 12:42] adamlavery commented on #36446
@magentox is correct (thanks). This was standard in M1 (TinyMCE3) but options disabled in M2 (TinyMCE4). Following restores both title and advanced image options (thanks https://meetanshi.com/blog/configure-tinymce4-toolbar-in-magento-2-3-x/ for reference)...

Create a new module or use existing:

In **etc\di.xml** add:
[code]
Create **Plugin\TinyMCEConfig.php** and add:
[code]

**setup:di:compile

[2022-11-22 12:42] #36446 closed, assigned to engcom-Dash

[2022-11-22 13:51] #36498 closed, assigned to engcom-November

[2022-11-22 14:33] Shaikh-Samir opened #36508 "B2B module in ECE - Purchase order module - Company admin not able to place the order."
### Preconditions and environment

Magento version 2.4.5-p1
PHP 8.1 (FPM)
Apache2.4
Ubuntu 20.04.5 LTS

### Steps to reproduce

### **Configuration part for B2B purchase order**
1. Login to admin panel
2. Go to "Stores >> Configuration >> General >> B2B features >> B2B features >> Enable Company(Set to **YES**)".
3. Go to "Stores >> Configuration >> General >> B2B features >> Order approval config

[2022-11-22 15:16] ed007m commented on #35988
That happens because of pagination was added here
vendor/magento/module-catalog-graph-ql/Model/Resolver/Products/DataProvider/CategoryTree.php:215

`        $pageSize = $criteria['pageSize'] ?? 20;
        $currentPage = $criteria['currentPage'] ?? 1;`

[2022-11-22 15:42] davidhiendl opened #36509 "Customer Account Share per Website causes Exception in Admin when adding addresses"
### Preconditions and environment

When attempting to add an address to a customer entity in the admin area a "NoSuchEntity" exception is thrown because the website id does not exist. This happens because https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/Model/ResourceModel/Address/Attribute/Source/CountryWithWebsites.php#L131 us using a storeId as websiteId when looki

[2022-11-22 17:12] engcom-Dash commented on #36457
Hi @adamlavery ,

We worked this issue in 2.4-develop instance....we can able to reproduce the issue as well as we are confirming the issue.

Preconditions:
Magento version: 2.4-develop instance
PHP 8.1

Steps:
1.Install magento instance
2.Go to content
3.Create new Page
4.Add the given content in new page
5.Trying to save the new page
6.we got some error as per actual results.
Screenshots:
<img w

[2022-11-22 17:14] engcom-Dash commented on #36507
@magento give me 2.4-develop instance

[2022-11-22 17:30] adamlavery commented on #36457
Thanks for confirming. When fixing this can you also consider changing what's reported to attribute(s) found as invalid rather than  (or in addition to) reporting a long list of what's allowed?

[2022-11-22 17:35] smartexcan commented on #36255
[ACP2E-1245](https://github.com/magento/magento2/search?q=ACP2E-1245&type=commits) should fix the issue, but also creates a new issue.

bulk/notification/dismiss gets sent a POST request, but the fix added the HttpGetActionInterface, which will likely break things

[2022-11-22 17:52] engcom-November commented on #36167
Verified the behavior on Magento 2.4-develop local instance and unit tests are getting failed with below steps performed:
On running unit tests of mentioned modules from CLI, below errors are observed. Hence confirming the issue.
./vendor/bin/phpunit -c dev/tests/unit/phpunit.xml.dist app/code/Magento/SalesRule/Test/Unit
./vendor/bin/phpunit -c dev/tests/unit/phpunit.xml.dist app/code/Magento/Tax/

[2022-11-22 18:03] chazzs commented on #36501
I only see one level of fieldset in your example above.  my problem is happening with more than one level of fieldset (take a closer look at the example)

If I follow what you are saying is that you dont see the error but the file does not upload?  The file not uploading is definitely a bug, as i would expect the file to upload.

The error does not appear on screen specifically; what is displayed

[2022-11-22 18:05] chazzs commented on #36501
The use case here is an admin form with several tabs(fieldsets) and on one of those tabs there are several fieldsets each having its own fields and image upload.

[2022-11-22 19:37] andrzejwp commented on #25334
Hi @matteolavaggi @pineappledev48 sorry - I missed your comments. Yes, there are some ways to work around this, one of them I added directly in the issue description:

you can read through this here too: https://codewave.eu/blog/magento-galera-cluster-upgade-failure

Magento team was not interested in providing any support on this issue (even via paid enterprise support request) and was kind enoug

[2022-11-22 19:55] joaquin-becerra commented on #35492
The problem, I Think, it happend in the Commerce Version, since the module magento/module-price-permissions in not in the Community version. I reproduceit in a 2.4.5 Commerce enterprise version, and the version: 100.4.1 of the magento/module-price-permissions module:

`    /**
     * Handle adminhtml_block_html_before event
     *
     * @param EventObserver $observer
     * @return void
     */

[2022-11-23 05:02] Manjula-kalyan opened #36512 "Anonymous web APIs - Magento2"
### Preconditions and environment

- Magento version - above 2.4
- Anonymous user can create empty cart session, Adobe Commerce allows some web APIs to be accessed by unauthenticated (anonymous) users.
If hacker predicted or identified the Masked Id (CART ID), Then hacker can get another users' cart details, personal details, card detail, payment details etc. Hacker can update/delete/add another u

[2022-11-23 05:06] engcom-Bravo commented on #36509
@magento give me 2.4-develop instance

[2022-11-23 05:32] engcom-Dash commented on #36441
Hi @suggs628 ,

We are closing this issue as there has been no latest updates on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-23 05:32] #36441 closed, assigned to engcom-Dash

[2022-11-23 05:32] engcom-Dash commented on #36426
Hi @gilbertsohal ,

We are closing this issue as there has been no latest updates on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-11-23 05:32] #36426 closed, assigned to engcom-Dash

[2022-11-23 05:36] engcom-Dash commented on #36508
@magento give me 2.4-develop instance

[2022-11-23 05:59] engcom-Hotel commented on #36385
Dear @pierzakp,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-11-23 05:59] #36385 closed, assigned to engcom-Hotel

[2022-11-23 07:08] sazo17 commented on #26585
Hello, recently I was interested in this topic and I want to consult to settle all the possible doubts of the community,

Understanding that these changes can break the scheme and functions of Widgets in conjunction with Themes

but

If there was the possibility of changing them and these changes made correctly, would this work correctly?

And if so, why not add the possibility of doing it with a