[2020-01-25 18:46] erikhansen commented on #24025
After upgrading from Magento 2.3.2 to 2.3.3, [the patch I mentioned above](https://github.com/magento/magento2/issues/24025#issuecomment-542476510) no longer applies (since the underlying code changed). If you're using 2.3.3 and you need to fix this issue, you can use this updated patch (it contains the relevant changes from [16ab63](https://github.com/magento/magento2/commit/16ab63b347dd4628ed1cc

[2020-01-25 19:56] ajithkumar-maragathavel commented on #26520
@magento give me 2.4-develop instance

[2020-01-25 19:56] magento-engcom-team commented on #26520
Hi @ajithkumar-maragathavel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-25 19:57] magento-engcom-team commented on #26520
Hi @ajithkumar-maragathavel, here is your [Magento instance](https://i-26520-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26520-2-4-develop.instances.magento-community.engineering/admin_53ef](https://i-26520-2-4-develop.instances.magento-community.engineering/admin_53ef)
Login: `0881875e` Password: `79b45c776599`
Instance will be terminated in up to 3 hours.

[2020-01-25 22:08] onepack commented on #5792
Same here on a 2.3 shop. It has migrated data from M1.

[2020-01-25 22:36] TawabG commented on #23450
After running this command `php bin/magento queue:consumers:start exportProcessor` I encountered another error.

Can anyone help me with this?

[2020-01-25 23:06] magento-engcom-team commented on #26205
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-01-25 23:06] #26205 closed, assigned to nobody

[2020-01-26 01:13] davidalger commented on #23834
@astorm These are the defaults which I usually roll with any varnish deployment for Magento 2:
[code]
ref: https://github.com/davidalger/ansible-role-varnish/blob/master/defaults/main.yml

Not saying there is not an underlying issue, but it definitely remediates in the majority of cases.

[2020-01-26 06:15] magento-engcom-team commented on #26521
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30798` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-26 08:55] pfortin-expertime commented on #22094
@tsurkanovm thanks for the tip, you saved my day !

[2020-01-26 15:06] Zyles opened #26539 "Order status not translated"
Making custom order statuses will not translate in the order grid when using multiple store views.

### Preconditions (*)

1. Magento 2.3.3
2. Multiple store views
3. Multiple languages

### Steps to reproduce (*)

1. Create mutliple store views
2. Install a second language pack
3. Create custom order status and enter translation for both
4. Assign language setting for admin user
5. View order gri

[2020-01-26 15:09] Zyles commented on #26467
Sadly I can not. They are freelancers not employees and I have no ongoing contact.

All I know the problem lies in the layout XML files for the extension.

[2020-01-26 15:49] #26536 closed, assigned to nobody

[2020-01-26 21:25] bartoszkubicki commented on #26524
Magento could be faster, but..

[First take a look at this](https://devdocs.magento.com/guides/v2.3/config-guide/bootstrap/magento-modes.html) - on developer mode you shouldn't have to make di compile every time.
Permissions problem don't happen unless you execute you commands from wrong user.

[2020-01-27 04:34] ajijshekh123 commented on #26528
Give me @magento give me 2.4-develop instance

[2020-01-27 04:35] magento-engcom-team commented on #26528
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-27 04:35] magento-engcom-team commented on #26528
Hi @ajijshekh123, here is your [Magento instance](https://i-26528-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26528-2-4-develop.instances.magento-community.engineering/admin_65fc](https://i-26528-2-4-develop.instances.magento-community.engineering/admin_65fc)
Login: `4818c466` Password: `4564f30abaed`
Instance will be terminated in up to 3 hours.

[2020-01-27 04:41] ajijshekh123 commented on #26528
Hello @zyukov,
I have verified this issue in Magento 2.3 Instance but I am not able to reproduce this issue as per your steps.
Can you please provide me a video?

Thanks.

[2020-01-27 04:52] shyam100379 opened #26541 "Order status pending payment not changing to processing after invoicing"
Order status is not getting updated from pending payment to processing once invoice is generated. When a customer choose payment option and click order, he/she will be redirected to payment gateway making that order as pending payment. Somehow the order is not fulfilled and order stays as pending payment.

### Preconditions (*)
1. Magento 2.3.2
2. Single store
3. Payment method which makes redirec

[2020-01-27 07:02] zyukov commented on #26528
@ajijshekh123 I have downloaded default 2.3.3 installation. MSI is out of the box. Please check video - https://youtu.be/ka4aaSAzptg

[2020-01-27 07:09] hitesh-wagento opened #26543 "My Wish List Product not showing properly between >768px and <1023px"
### Summary
My Wish List Product not showing properly between >768px and <1023px

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce

1. Login in frontend
2. Add 4-5 products in wishlist
3. Go to Wishlist page

### Expected result

Products should show 3 items
![expected](https://user-images.githubusercontent.com/23443991/73155872-00f4ba80-4102-11ea-8059

[2020-01-27 07:10] hitesh-wagento commented on #26543
I am working on this issue

[2020-01-27 07:15] ajijshekh123 commented on #26528
@zyukov - Thanks for the video. Let me verify this issue again and update you.

[2020-01-27 07:34] zyukov commented on #26528
@ajijshekh123 Tried to reproduce on 2.3.2 - no error, but after upgrade to 2.3.3 - was reproduced.

[2020-01-27 07:42] Vibhanshu-Sharma opened #26544 "Something went wrong while saving this post. Warning: array_intersect(): Argument #1 is not an array in /magento/vendor/magento/module-admin-gws/Model/Models.php on line 1094"
### Preconditions (*)
I have created a user "Tester" for Only Store3 Access from admin restricted role in Magento 2.3.1 Enterprise Edition and then open cms page or blog page if i am going to update anything i got this Error  Warning: array_intersect(): Argument #1 is not an array in /magento/vendor/magento/module-admin-gws/Model/Models.php on line 1094.

1.
2.

### Steps to reproduce (*)
with tes

[2020-01-27 08:44] ajijshekh123 commented on #26543
Give me @magento give me 2.4-develop instance

[2020-01-27 08:44] magento-engcom-team commented on #26543
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-27 08:44] magento-engcom-team commented on #26543
Hi @ajijshekh123, here is your [Magento instance](https://i-26543-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26543-2-4-develop.instances.magento-community.engineering/admin_6eb8](https://i-26543-2-4-develop.instances.magento-community.engineering/admin_6eb8)
Login: `f4babffa` Password: `454c09bc7e5c`
Instance will be terminated in up to 3 hours.

[2020-01-27 08:54] magento-engcom-team commented on #26543
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30802` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-27 09:21] valugi opened #26547 "Magento 2 using a jQuery version with known vulnerabilities"
### Preconditions (*)

1. Magento EE ver. 2.2.8
2. I see that 2.3.x is using the same version of jQuery

### Steps to reproduce (*)
1. Install Magento
2. check jQuery version that is packed with it

### Expected result (*)
1. Have a newer version of jQuery, possibly the latest
2. Maybe having a mechanism of updating jQuery independently

### Actual result (*)
1. A security scan shows that the vers

[2020-01-27 09:30] ajijshekh123 commented on #26528
Hello @zyukov,
I can't able to reproduce this issue in the Default Magento 2.4 Community because of Multisource inventory functionality is not available in the community edition.

Thanks.

[2020-01-27 09:58] TobiasCodeNull commented on #26384
The problem seem to exist in the request between "stores/store/redirect" and "stores/store/switch".

I have a Magento 2.4-dev setup with two stores (sv and default). The requests for the two mentioned above when switching from sv to default is
"http://magento-dev.dev.int/index.php/stores/store/redirect/___store/default/___from_store/se/uenc/{unec}/"
and
 "http://sv.magento-dev.dev.int/index.php/st

[2020-01-27 10:02] ray-moncada commented on #9202
Thank you, this helped alot, and saved time.

[2020-01-27 10:15] engcom-Bravo commented on #26484
Hello @Zyles

We have tested Updating the product with **Text Swatch** attribute through the API.
We have rechecked with a default _value1_, for example,
![swatch_2](https://user-images.githubusercontent.com/51680745/73165101-d273e100-40fb-11ea-8750-c46360a5491e.png)
and with default _empty_ value.
![swatch_1](https://user-images.githubusercontent.com/51680745/73164549-d2bfac80-40fa-11ea-9170-986d

[2020-01-27 10:42] krishprakash commented on #26544
Hi @Vibhanshu-Sharma. Please add all data with all details like pre-condition,steps to reproduce,expected and actual result.
Thanks

[2020-01-27 10:45] magento-engcom-team commented on #26437
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30803` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-27 10:59] seb-jean commented on #23196
Any news ?

[2020-01-27 11:02] magento-engcom-team commented on #26507
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30804` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-27 11:05] magento-engcom-team commented on #26482
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30805` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-27 11:21] lcanonge commented on #19173
Have you made a fix for this? If yes on which version of magento or where could we find the patch?

Thanks

[2020-01-27 11:29] engcom-Hotel commented on #26524
I agree with @bartoszkubicki . In developer modeyou have not to run `set:di:compile` for every change.
If you make changes in non-cached file you can just refresh the page and new added code will be run.
So i have to close this issue as non-issue.

Thanks for your report!

[2020-01-27 11:29] #26524 closed, assigned to engcom-Hotel

[2020-01-27 11:37] Vibhanshu-Sharma commented on #26544
Preconditions (*)
I have created a user "Tester" for Only Store3 Access from admin restricted role in Magento 2.3.1 Enterprise Edition and then open cms page or blog page if i am going to update anything i got this Error Warning: array_intersect(): Argument #1 is not an array in /magento/vendor/magento/module-admin-gws/Model/Models.php on line 1094.

Steps to reproduce (*)
with test user save any

[2020-01-27 11:47] cdiacon-img commented on #23834
@astorm
We solved the issue by disabling this plugin product_identities_extender.
<type name="Magento\Catalog\Model\Product">
        <plugin name="product_identities_extender" disabled="true"/>
    </type>

[2020-01-27 12:00] marvinhinz opened #26550 "Any reason for not printing Exception Message in ObjectManager\Factory\AbstractFactory::createObject?"
### Summary (*)
When debugging an error that prevents object creation, the original exception message is not printed, its just logged. I think it would improve the developer experience when working on cli code, to see the message instantly and not having it to look up in the log.

Source of the RuntimeException:
magento/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php::createObje

[2020-01-27 12:01] devchris79 commented on #26507
I have tweaked my cron job setup slightly and so far there hasn't been any sticking in the running state. I am wondering if its possible that two or more instances of the same cron job are being run at the same time and if that's causing lockup.

[2020-01-27 12:04] shikhamis11 commented on #26461
@magento give me 2.4-develop instance

[2020-01-27 12:04] magento-engcom-team commented on #26461
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-27 12:05] magento-engcom-team commented on #26461
Hi @shikhamis11, here is your [Magento instance](https://i-26461-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26461-2-4-develop.instances.magento-community.engineering/admin_0000](https://i-26461-2-4-develop.instances.magento-community.engineering/admin_0000)
Login: `51d07d98` Password: `7e68e5f7a568`
Instance will be terminated in up to 3 hours.

[2020-01-27 12:12] shikhamis11 commented on #26461
hi @CRYX2
thank you for reporting this issue .
I tried reproducing this issue at 2.4 develop instance but not able to reproduce . Let me know if it requires any additional steps to reproduce this issue

[2020-01-27 12:12] #26461 closed, assigned to shikhamis11

[2020-01-27 12:13] nileshsaste commented on #18091
I am also facing problem to load gallery image in magento 2. It will working fine in filezilla but not working in chrome. I got error in my console is as below 👍
Uncaught TypeError: settings.$elementF.fotorama is not a function
    at UiClass.initGallery (gallery.js:297)
    at UiClass.initialize (gallery.js:139)
    at UiClass.initialize (wrapper.js:109)
    at UiClass (class.js:49)
    at main.j

[2020-01-27 12:20] shikhamis11 commented on #26304
Hi @LucasMDL !
thank you for reporting this issue .. I tried reproducing this issue but not able to reproduce this issue .
Let me know If it requires additional steps to reproduce this issue.
also Please share screen shots if you are able to reproduce this issue at develop instance

[2020-01-27 12:40] engcom-Hotel commented on #26539
Hello @Zyles
This is expected behavior. If you add your new order status you have to manually add translation in e.g. de_DE language pack.
You can do it here(if you are using Mageplaza language packs):
![image](https://user-images.githubusercontent.com/51681618/73175427-d2cba680-4112-11ea-870b-13eab2225d73.png)

Hope it helps.

So i have to close this issue as non-issue.

Thanks for your report!

[2020-01-27 12:40] #26539 closed, assigned to engcom-Hotel

[2020-01-27 13:20] honzakadlec opened #26551 "404 Error if create a shipment for order from Admin Panel using IE11"
### Preconditions (*)

1. Magento version  2.3.3 | `2.4-develop`
2. browser IE11

### Steps to reproduce (*)

1. In backend, go to order detail and ship it
2. it displayed the following error on IE11: https://screenshots.dbhq.tech/tracey/20-01-22-15-53-17.png

### Expected result (*)

1. Order shipment is created and succesfull message is shown
2.

### Actual result (*)

1. 404 page is shown with

[2020-01-27 13:53] aholovan commented on #25221
Hi @arnoutvreugdenhil,

Thanks for the correct point on resolving of the issue but looks like the some problems still there.
As we know order can has some shipments with relevant tracking information in each.
So, if you try send shipping info (for example from admin, using shipment button) Magento using trackCollection in track.phtml will sent all trackings, not from that one you have used.

[2020-01-27 14:08] nbennett25 commented on #26376
@magento give me 2.3.2 instance

[2020-01-27 14:08] magento-engcom-team commented on #26376
Hi @nbennett25. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2020-01-27 14:09] magento-engcom-team commented on #26376
Hi @nbennett25, here is your [Magento instance](https://i-26376-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-26376-2-3-2.instances.magento-community.engineering/admin_953e](https://i-26376-2-3-2.instances.magento-community.engineering/admin_953e)
Login: `cd987667` Password: `2b49de3107db`
Instance will be terminated in up to 3 hours.

[2020-01-27 14:22] nbennett25 commented on #26376
Also confirmed on 2.3.2

[2020-01-27 15:05] #23462 closed, assigned to engcom-Hotel

[2020-01-27 15:06] hugodeaguiar commented on #18329
Hello!

I changed the following sections to work OR filter:

 In magento/framework/View/Element/UiComponent/DataProvider/FilterPool.php line 37

[code]
In magento/framework/View/Element/UiComponent/DataProvider/RegularFilter.php i create a function applyFilterGroup

[code]

After this change the filters working fine.

Regards,
Hugo Aguiar.

[2020-01-27 15:25] bo91 commented on #19710
@anvanza Thx for the hint. I am thinking about it.

It would still be nice to get a proper solution. Any updates here?

[2020-01-27 15:25] Zyles commented on #26539
Then what is the point of "Store View Specific Labels" option?

[2020-01-27 16:09] azambon commented on #26149
I'm reopening this mostly as a help for anyone who may stumble upon this issue while looking for the `ProductExtensionInterfaceFactory` error message (including myself :-) ).
If the fix I suggest below is not acceptable, please close the issue again.

It looks like the issue happens if one tries to run the tests in an application mode other than `developer` OR if the mode is `developer` but there

[2020-01-27 16:51] hugodeaguiar commented on #18329
Hello!

I changed the following sections to work OR filter:

 In magento/framework/View/Element/UiComponent/DataProvider/FilterPool.php line 37

[code]
In magento/framework/View/Element/UiComponent/DataProvider/RegularFilter.php i create a function applyFilterGroup

[code]

After this change the filters are working fine.

Regards,
Hugo Aguiar.

[2020-01-27 18:10] Usik2203 commented on #26409
Hi @lbajsarowicz .
Can I clarify for myself two point
    1. All this fields `<magentoCLI command="cache:flush" stepKey="flushCache"/>` must be removed in core.
    2. All fields  `<magentoCLI command="indexer:reindex" stepKey="reindex"/>` must be changed to
        `<magentoCLI command="cron:run --group=index" stepKey="runCron"/>` in core.

Do I understand correctly ?

Thanks!

[2020-01-27 20:00] rommelfreddy opened #26553 "wrong currency exchange calculation on product page"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. create a website (DE) with the currency EUR and a tax rate so it got 19 % applied on products
2. create a website (CH) with the currency CHF and a tax rate so it got 7 % applied on products
4. Setup that all prices does already have tax included (while entered at admin)
3. Setup base currency to EUR
4. Setup price display on p

[2020-01-27 20:03] rommelfreddy commented on #26553
@magento give me 2.4-develop instance

[2020-01-27 20:03] magento-engcom-team commented on #26553
Hi @rommelfreddy. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-27 20:03] magento-engcom-team commented on #26553
Hi @rommelfreddy, here is your [Magento instance](https://i-26553-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26553-2-4-develop.instances.magento-community.engineering/admin_b7f0](https://i-26553-2-4-develop.instances.magento-community.engineering/admin_b7f0)
Login: `4f0c1aee` Password: `b2d61421b43e`
Instance will be terminated in up to 3 hours.

[2020-01-27 20:42] rommelfreddy commented on #26553
lets go a little bit freakier than it already is:

if you change the display of the price in the cart to "excl. and incl. tax", the price will displayed on the product page correctly.

[2020-01-27 20:43] rommelfreddy commented on #26553
@magento-engcom-team sorry, but i need to setup a second website in the instance. but i am not able to add and second base url to access the second instance. Could you help me please?

[2020-01-27 21:05] iuwqyir opened #26554 "Form with a field named 'action' throws error when submitted"
When developing a custom payment method module, I needed to send order data to the payment gateway. To do that, I appended a form to the checkout body and submitted it.

If one of the form fields is named `action`, then an error will be thrown on form submittion.

### Preconditions (*)

1. Tested on Magento 2.3.3, but it also occurs on Magento 2.1.x and 2.2.x

### Steps to reproduce (*)

1. Go to

[2020-01-27 22:42] matthewhaworth commented on #25484
Also, wondering what @rparsi-boxycharm asked.

[2020-01-27 22:48] rparsi-boxycharm commented on #25484
@matthewhaworth

According to magento-engcom-team:

I searched closed pr's and commit history of various branches, can't find the commits for the fix.
I can't wait for release 2.3.5, need to find the commits magento-engcom-team made so I can create a composer patch and apply the fix(es) to my project.

[2020-01-27 23:15] not-art commented on #25675
I'm unsure if this is related, but we're experiencing something similar:

If we have a configurable product with a simple child item that's at its last qty available of stock, we can add it to the cart, but if we update the cart programatically behind the scenes (post to our 3rd party payment provider and save a custom value on the quote, for example), Magento throws a,

"Could not save custom_fie

[2020-01-28 00:07] galanis-a commented on #26404
Hi @periwalbhanu sorry for my late response.
I am aware of the MySQL limitation you mention and that's not the issue i am reporting.

The issue is that before db_schema.xml, when you created a mysql table and its name had more than 64 characters Magento was handling it correctly and shorten the name to be able to create the table and reference it correctly. Now with db_schema.xml it doesn't and se

[2020-01-28 03:07] MeenaMonika opened #26555 "Managing quantity at website level in magento 2.3.2"
We have created two websites (website_A and website_B). We want to manage quantity at the website level. In website_A, quantity is set to be 200 and website_B, quantity is set to be 300. I want to set each and every product quantity on the website level. How can I manage that in Magento2?

### Preconditions (*)

Tested on Magento2.3.2 version.

### Steps to reproduce (*)

1. Create multi-website W

[2020-01-28 04:45] krishprakash commented on #26551
@magento give me 2.4-develop instance

[2020-01-28 04:45] magento-engcom-team commented on #26551
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 04:46] magento-engcom-team commented on #26551
Hi @krishprakash, here is your [Magento instance](https://i-26551-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26551-2-4-develop.instances.magento-community.engineering/admin_6f14](https://i-26551-2-4-develop.instances.magento-community.engineering/admin_6f14)
Login: `034915f7` Password: `3d2dd1da129c`
Instance will be terminated in up to 3 hours.

[2020-01-28 04:58] magento-engcom-team commented on #26551
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30842` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-28 04:58] krishprakash commented on #26551
Reproduced on latest instance:
![image](https://user-images.githubusercontent.com/46617848/73236587-ea5d6a80-41b8-11ea-9932-e2955e5cae16.png)

[2020-01-28 05:18] shmisting commented on #19173
I am also facing same issue with my Magento 2.3.3 version.

[2020-01-28 05:19] Mathanagopal97 opened #26556 "Product Image is not generated from cache in product list page but is available in the product main page"
### Summary of the issue
I was implementing attributes as swatches(both visual and text based) for the configurable products. I have separate set of images for the attributes in every product. I also made sure that the swatches are visible in the product listing page. When I select the swatches from the product listing I am not getting a image from the cache. But when I click on the product and go

[2020-01-28 05:37] Mathanagopal97 commented on #26556
When I did some debugging on my own I found that the images are delivered from the cache and I think the following screenshots should explain more clearly than my words.
1. Look at the files generated in the pub/media/catalog/product/cache in the first page load
![Files at the beginning of the page load](https://i.imgur.com/6g798os.png)
2. The image is loaded from a cache folder whose name starts

[2020-01-28 06:09] monotheist opened #26557 "Ajax pagination issue with Varnish"
### Preconditions (*)

1. Magento 2.3.3
2. Varnish 6
3. Amasty layered navigation extension uses ajax calls for next page and previous pages
4. SSL enabled
5. Redis

### Steps to reproduce (*)

1. After setting up above configuration, navigation through category pages. Previous and next page clicks via Ajax calls works fine.
2. Next day no response after clicking previous and next category pages.

[2020-01-28 06:34] rav-redchamps commented on #26437
@mustdobetter I have created the pull request https://github.com/magento/magento2/pull/26489 for the fix of this issue. But seems like it is not going to be merged soon. So, I have packed the fix in the form of a Magento 2 extension https://github.com/redchamps/customer-shopping-carts-tab-fix. You may directly use it till the time pull request is processed.

[2020-01-28 07:22] Mathanagopal97 commented on #26556
@magento give me 2.4-develop instance

[2020-01-28 07:22] magento-engcom-team commented on #26556
Hi @Mathanagopal97. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 07:23] magento-engcom-team commented on #26556
Hi @Mathanagopal97, here is your [Magento instance](https://i-26556-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26556-2-4-develop.instances.magento-community.engineering/admin_6e2b](https://i-26556-2-4-develop.instances.magento-community.engineering/admin_6e2b)
Login: `91eef5bc` Password: `46b28be59dac`
Instance will be terminated in up to 3 hours.

[2020-01-28 08:05] ramesh-durairajaram commented on #26520
@magento give me 2.4-develop instance

[2020-01-28 08:05] magento-engcom-team commented on #26520
Hi @ramesh-durairajaram. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 08:05] magento-engcom-team commented on #26520
Hi @ramesh-durairajaram, here is your [Magento instance](https://i-26520-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26520-2-4-develop.instances.magento-community.engineering/admin_7919](https://i-26520-2-4-develop.instances.magento-community.engineering/admin_7919)
Login: `3c73da5a` Password: `fcdb398c71d1`
Instance will be terminated in up to 3 hours.

[2020-01-28 08:28] Usik2203 commented on #26518
Give me @magento give me 2.4-develop instance

[2020-01-28 08:28] magento-engcom-team commented on #26518
Hi @Usik2203. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 08:29] magento-engcom-team commented on #26518
Hi @Usik2203, here is your [Magento instance](https://i-26518-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26518-2-4-develop.instances.magento-community.engineering/admin_98c8](https://i-26518-2-4-develop.instances.magento-community.engineering/admin_98c8)
Login: `0453f547` Password: `d2a0524a3a91`
Instance will be terminated in up to 3 hours.

[2020-01-28 08:51] Usik2203 commented on #26518
@magento give me 2.4-develop instance

[2020-01-28 08:51] magento-engcom-team commented on #26518
Hi @Usik2203. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 08:53] Mathanagopal97 commented on #26556
Instance not working

[2020-01-28 09:10] Usik2203 commented on #26389
@magento give me 2.4-develop instance

[2020-01-28 09:10] magento-engcom-team commented on #26389
Hi @Usik2203. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 09:17] multidimensionro opened #26559 "GraphQL in 2.3.3 does not seem to work properly with the new peregrine mutations for adding to cart"
### Preconditions (*)
1. Magento 2.3.3
2. Latest pwa-studio/venia-concept/peregrine from https://github.com/magento/pwa-studio.git
3. Venia Sample Data Loaded via the deployVeniaSampleData.sh bash script
4. Everything setup on a CENTOS 7 mashine with PHP 7.1

### Steps to reproduce (*)
1. After setting up the above launch yarn run watch:venia
2. Browse to one of the configurable products from the

[2020-01-28 09:26] Mathanagopal97 commented on #26556
@magento give me 2.4-develop instance

[2020-01-28 09:27] magento-engcom-team commented on #26556
Hi @Mathanagopal97. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 09:37] engcom-Bravo commented on #26467
Hello @adamlavery

Thank you for your report.

Unfortunately, we are not able to reproduce the reported issue.
We have tried several scenarios:
- Clean Magento 2.4-develop
- Clean Magento 2.3.3 composer version
- Magento 2.1.17 composer version upgraded to 2.3.3 composer
- Magento 2.2 composer version with installed [2FA](https://devdocs.magento.com/guides/v2.2/security/two-factor-authentication.h

[2020-01-28 09:48] FerihumF opened #26561 "Wrong special_price is displayed for products on frontend"
### Preconditions (*)

1. Magento 2.2.10
2. PHP 7.1

### Steps to reproduce (*)

1. Create 2 websites with a store and a store view each. Stores share the same root category.
2. Set catalog prices to "website" scope.
3. Set default currency to EUR and currency of website 2 to USD
4. Create a product and set values only for default store view (id 0)
5. Set a special price of 100 (EUR) and a valid t

[2020-01-28 09:49] FerihumF commented on #26561
@magento give me 2.4-develop instance

[2020-01-28 09:49] magento-engcom-team commented on #26561
Hi @FerihumF. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 10:10] Usik2203 commented on #24840
@magento give me 2.4-develop instance

[2020-01-28 10:10] magento-engcom-team commented on #24840
Hi @Usik2203. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 10:13] shikhamis11 commented on #26561
@magento give me 2.4-develop instance

[2020-01-28 10:13] magento-engcom-team commented on #26561
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 10:23] Usik2203 commented on #24840
@magento give me 2.4-develop instance

[2020-01-28 10:23] magento-engcom-team commented on #24840
Hi @Usik2203. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 10:32] FerihumF commented on #26561
First thing I noticed: In file [SpecialPrice.php#L105](https://github.com/magento/magento2/blob/06a0dd0d5f7ea3e389dc5fa718400866ab4c1eef/app/code/Magento/Catalog/Model/ResourceModel/Product/Price/SpecialPrice.php#L105) the select should return only one entry per store_id but it returns every combination of datetime_from and datetime_to with it. That is wrong and adds overhead for multi store envir

[2020-01-28 10:38] engcom-Bravo commented on #26528
Hello @zyukov

Thank you for your report.

We have rechecked this on 2.4-develop with the inventory functionality

This seems to be fixed on Magento 2.4-develop, no error message appears in the developer console, and the product is saved properly.
There was a similar issue https://github.com/magento/inventory/issues/2440 but it is closed already.

So we have to close it.
If you are still facing th

[2020-01-28 10:38] #26528 closed, assigned to engcom-Bravo

[2020-01-28 10:38] mdsoft123456 commented on #16958
I have the same error in 2.2.6 and disabling Temando_Shipping don't fixed it also i tried overriding vendor/magento/module-downloadable/view/adminhtml/templates/sales/items/column/downloadable/name.phtml but error doesn't fixed

[2020-01-28 10:50] adamlavery commented on #26467
Hi Anton,

Tested with two different accounts and same results on both. Yes, enabled Google Authenticator. It knows it should be giving the QR code, just isn't, This is on the dev site, the live site is still running 2.3.1. I've just tested 2FA on that too. Also fails but slightly differently giving this page...

![image](https://user-images.githubusercontent.com/13659750/73256672-45439180-41ba-11

[2020-01-28 10:59] adamlavery commented on #26467
Ok, so password message just because I hadn't disabled the password expiry. Now done and same result as on dev site. Suggests something happened (or didn't) during the 2.3.1 upgrade. Don't have the 2.2.8 version of the site to see if it worked then.

[2020-01-28 11:05] sathishkumarContus commented on #13774
@magento-engcom-team , Any update on this issues. We are still facing this problem on Magento version 2.3.2

[2020-01-28 11:16] engcom-Echo commented on #26188
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-01-28 11:16] #26188 closed, assigned to engcom-Echo

[2020-01-28 11:39] chris-pook commented on #19043
This is still an issue on 2.3.3.

When purchasing the last available stock of a simple product associated to a configurable product, the configurable's cache tag is not cleared. The same is true of updating the stock value via API /rest/V1/products/<sku>/stockItems/<itemId>.

MAGETWO-96150 and MAGETWO-96151 were created for this in 2018. Please can we have an update of the status there? This is a

[2020-01-28 11:42] densen45 opened #26564 ""Number of Products to Display" doesn't work for the Catalog Products Widgets"
The setting `Number of Products to Display` for catalog products widgets has no effect, i.e. the amount of products shown by the widget is not limited to the provided value. Instead it shows all products passing the `Conditions`.

### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

Create a new CMS page with a product list widget.

1. Adminhtml: Content > Pages > Add New Page
2. E

[2020-01-28 11:45] densen45 commented on #26564
@magento give me 2.3.3 instance

[2020-01-28 11:45] magento-engcom-team commented on #26564
Hi @densen45. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-01-28 11:47] magento-engcom-team commented on #26564
Hi @densen45, here is your [Magento instance](https://i-26564-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26564-2-3-3.instances.magento-community.engineering/admin_e4c8](https://i-26564-2-3-3.instances.magento-community.engineering/admin_e4c8)
Login: `3761dbfa` Password: `c9a1c2c3b384`
Instance will be terminated in up to 3 hours.

[2020-01-28 11:47] ajijshekh123 commented on #26564
Give me @magento give me 2.4-develop instance

[2020-01-28 11:47] magento-engcom-team commented on #26564
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 11:48] magento-engcom-team commented on #26564
Hi @ajijshekh123, here is your [Magento instance](https://i-26564-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26564-2-4-develop.instances.magento-community.engineering/admin_641b](https://i-26564-2-4-develop.instances.magento-community.engineering/admin_641b)
Login: `8750ae65` Password: `7b7ba8cff2aa`
Instance will be terminated in up to 3 hours.

[2020-01-28 11:49] Mathanagopal97 commented on #26556
@magento give me 2.4-develop instance

[2020-01-28 11:49] magento-engcom-team commented on #26556
Hi @Mathanagopal97. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 11:49] magento-engcom-team commented on #26556
Hi @Mathanagopal97, here is your [Magento instance](https://i-26556-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26556-2-4-develop.instances.magento-community.engineering/admin_24a2](https://i-26556-2-4-develop.instances.magento-community.engineering/admin_24a2)
Login: `54c629f1` Password: `99351c5c9328`
Instance will be terminated in up to 3 hours.

[2020-01-28 12:16] Mathanagopal97 commented on #26556
@magento-engcom-team how to reindex in magento 2.4 instance provided by you?

[2020-01-28 12:19] Mathanagopal97 commented on #26556
@magento how to reindex in magento 2.4 instance provided by you?

[2020-01-28 12:19] Mathanagopal97 commented on #26564
@ajijshekh123 how to reindex in magento 2.4 instance provided by @magento-engcom-team ?

[2020-01-28 12:26] syno-bvo commented on #19710
Yeah, as I said, changing NGINX conf solved the issue.

[2020-01-28 12:38] bo91 commented on #19710
@syno-bvo Do you know what was changed in the nginx conf??

or could you check how this line looks in your nginx conf?
probably one of these?
1: location ~ (index|get|static|report|404|503)\.php$
2: location ~ (index|static|report|404|503)\.php$

[2020-01-28 12:43] zhulak commented on #19710
We are sseing the same issue, $relativePath is empty. Did you find a solution for this?

[2020-01-28 12:44] sky-hub commented on #26472
New issue was opened in the [Magento Inventory Repository](https://github.com/magento/inventory/issues/2793)

[2020-01-28 12:47] magentopits opened #26565 "The front-end date-picker is not localized."
The front-end date-picker is not localized: days short names are all in default en_US.
### Preconditions (*)
1. Magento 2.3.x & 2.4-develop
2. Date format used is "E, dd.mm.yy"
3. Create a store view ( German -  de )
4. From Stores > Settings > Configuration > General > General > Locale drop down , assign language ( German (Switzerland) )  to the created store . ( Scope : German from top left drop

[2020-01-28 12:56] ajijshekh123 commented on #26564
Hello @densen45,
The issue is not reproduced in the Magento 2.3.3 and Magento 2.4 Instance.
Thanks.

[2020-01-28 13:11] magento-engcom-team commented on #26425
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information i

[2020-01-28 13:12] magento-engcom-team commented on #26425
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-01-28 13:13] magento-engcom-team commented on #26425
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30844` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-28 13:14] engcom-Bravo commented on #26425
Hello @damienwebdev

Thank you, for your report.

Can you please create a pull request on this issue?

Thank you for collaboration

[2020-01-28 13:16] densen45 commented on #26564
Hey @ajijshekh123,
you are right, I cannot reproduce the issue in the provided Magento 2.3.3 instance either. Therefore I close this issue. Many thanks for your investigation!

[2020-01-28 13:17] #26564 closed, assigned to nobody

[2020-01-28 13:19] chris-pook commented on #19043
The issue looks to be that the stock status of the simples is held in the `collections` and `block_html` caches and not re-queried when rendering the configurable's product detail page (despite the fact its FPC cache tag has been cleared). Disabling BOTH of these caches results in the stock updates working as expected.

[2020-01-28 13:34] engcom-Bravo commented on #26547
Hello @sdzhepa

This issue looks like a feature request, can you please move this to a propper repository?

Thank you

[2020-01-28 13:37] valugi commented on #26547
hi @engcom-Bravo,
If you treat this as a feature request it will be implemented only for the future versions. But this is a bug - a security bug - for the existing versions and should be patched in 2.2 and 2.3, not in 2.4 or above.
Regards

[2020-01-28 14:07] engcom-Charlie commented on #22196
Hi @c-doug, the issue is fixed on 2.4-develop.

Thank You for your contribution and collaboration!

[2020-01-28 14:07] #22196 closed, assigned to engcom-Charlie

[2020-01-28 14:12] Mathanagopal97 commented on #26556
I am unable to add any product in the instance provided by you. The magento indexer is not working properly. Please look into it.

[2020-01-28 14:17] engcom-Hotel commented on #26550
Hello @sdzhepa
This issue looks like feature request. Could you transfer this issue to the feature request repository?
Thanks for collaboration!

[2020-01-28 14:26] AddyAhmed commented on #19710
I have been experiencing the same issue, more so with product watermarks.

While communicating with Magento regarding the issue and they provided the patch and instructions below

[MDVA-24153_EE_2.3.3_v1.composer.txt] (https://github.com/magento/magento2/files/4122826/MDVA-24153_EE_2.3.3_v1.composer.txt)
Rename the file from .txt to .patch

patch -p1 < FILE_NAME.patch

(If the above command does n

[2020-01-28 14:37] Mathanagopal97 commented on #26556
I am not able to reproduce the this issue in magento 2.4. Going to check in a new version of magento 2.3

[2020-01-28 14:42] hostep commented on #6401
We are also running against this problem on our local machines which seems to be caused by a configurable product on which 510 simple products are linked.

Does anybody know what settings to tweak in php-fpm and/or apache2 to get around this?

The [solution linked](https://gist.github.com/mpchadwick/ea7fb4ceecb230881a70094ab6082a76) by @mpchadwick on his blog doesn't seem to resolve the issue over

[2020-01-28 14:45] mpchadwick commented on #6401
@hostep I haven't found any way to get around this with Apache and PHP-FPM. We've had to move to nginx to get around this.

[2020-01-28 14:46] Mathanagopal97 commented on #26556
It is working fine in the fresh version of magento 2.3. I am closing this issue.

[2020-01-28 14:46] #26556 closed, assigned to nobody

[2020-01-28 14:47] chris-pook commented on #19043
This comes down to the `clean_cache_by_tags` event dispatched in Magento\CatalogInventory\Model\Indexer\Stock\CacheCleaner::clean() only cleaning the full page cache. There is no event observer for the `block_html` or `collections` cache to be cleaned alongside this.

[2020-01-28 14:48] engcom-Hotel commented on #26544
Hello @Vibhanshu-Sharma

I am not able to reproduce this issue on the latest Magento 2.4-develop EE.

**Manual testing scenario:**
Create user role for some store with permissions for a `Content` page
Assign recently created role to some user
Create Cms page for same store as in first step
Login in user account created in second step
Try to edit recently created Cms page

**Result**:
You have perm

[2020-01-28 14:48] #26544 closed, assigned to engcom-Hotel

[2020-01-28 14:49] chris-pook commented on #19043
Checking if this is fixed in 2.4.x

@magento give me 2.4-develop instance

[2020-01-28 14:49] magento-engcom-team commented on #19043
Hi @chris-pook. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 14:50] magento-engcom-team commented on #19043
Hi @chris-pook, here is your [Magento instance](https://i-19043-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-19043-2-4-develop.instances.magento-community.engineering/admin_06a3](https://i-19043-2-4-develop.instances.magento-community.engineering/admin_06a3)
Login: `349ae423` Password: `fdf1e181feac`
Instance will be terminated in up to 3 hours.

[2020-01-28 14:51] engcom-Hotel commented on #6401
Hello @hostep
I will try to advance this task.

Thanks for contributing!

[2020-01-28 14:56] chris-pook commented on #19043
Looks like it might be fixed in 2.4-develop, can't replicate it on this instance.

[2020-01-28 14:56] diazwatson commented on #26377
@okorshenko @magento-engcom-team guys do you see any potential issue in production sites with this change going live next week?

[2020-01-28 14:59] KevinMace commented on #6401
We're also seeing this issue on a category containing a large configurable product (+1000 variations) along with a dozen simple products.

Magento Version 2.3.1

[2020-01-28 15:36] lmeyer commented on #19710
Hello,

I don't know if the issue i'm experiencing is exactly this one but i think it's related.
Some images are working, some other not. Strangely the problem began by 1 or 2 products and spread to more than a half of my catalog.

Images in product page are working, but "for example" the style `category_page_grid` does not.
In my category pages, some product images path are wrong and redirect to

[2020-01-28 15:44] engcom-Hotel commented on #6401
Hello @sdzhepa

Could you raise the priority of this issue by talking to internal Magento teams?
The problem really needs a solution as @hostep wrote earlier.

Thanks for collaboration!

[2020-01-28 16:05] bo91 commented on #19710
@AddyAhmed  It seems that this did the trick. Just patched my mg2 and ta-ta, pictures are working again. Now the thumbnails are showing up as well but blurry =D

[2020-01-28 16:53] chris-pook commented on #19043
For anyone else coming across this, there is a fix as of the 2.3.4 release:

https://github.com/magento/magento2/blob/2.3.4/app/code/Magento/Indexer/etc/di.xml#L70-L72

https://github.com/magento/magento2/blob/2.3.4/app/code/Magento/Indexer/Model/Indexer/CacheCleaner.php

This plugin causes the required cache flush of the parent configurable product when updating the stock values of the child simp

[2020-01-28 17:29] mediclab opened #26567 "Magento CMS module haven't dispatches like Catalog module"
### Summary (*)
Magento CMS module haven't needed event dispatches for creating observers to controller actions. Catalog module also have few dispatches for a work, but it has a _controller_action_catalog_product_save_entity_after_ event.

### Examples (*)
Let's see **Magento\Cms\Controller\Adminhtml\Page\Save**
[code]
### Proposed solution
I want it to be like this
[code]
This also applies **Mage

[2020-01-28 17:48] iuwqyir commented on #26554
@magento give me 2.4-develop instance

[2020-01-28 17:48] magento-engcom-team commented on #26554
Hi @iuwqyir. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 17:48] magento-engcom-team commented on #26554
Hi @iuwqyir, here is your [Magento instance](https://i-26554-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26554-2-4-develop.instances.magento-community.engineering/admin_3495](https://i-26554-2-4-develop.instances.magento-community.engineering/admin_3495)
Login: `53fd45dc` Password: `cdff791c63c2`
Instance will be terminated in up to 3 hours.

[2020-01-28 18:16] metalleg commented on #26465
Also running into this issue.

Clean M2.3.3 installation onto macOS Catalina.
php 7.1.3.3
mySql 5.7.29

[2020-01-28 18:18] iuwqyir commented on #26554
On Magento 2.4 the issue still persists, however it manifests in a different place. This error is thrown:

![error_on_submit](https://user-images.githubusercontent.com/16590638/73292367-9aa78f00-420a-11ea-91bb-ed56dec39a4d.png)

This is because in [common.js](https://github.com/magento/magento2/blob/2.4-develop/lib/web/mage/common.js#L28) the form's `action` prop is acquired using `.prop('action')

[2020-01-28 18:28] sdouma commented on #10666
@sreenulanka seems so obvious thanks

[2020-01-28 19:42] adamzero1 commented on #7932
The following worked for me:
- Edit your `index.php` put this at the start of the file `die('maintenance');` to stop requests hitting the box and breaking things. (this can happen even if you are in maintenance mode)
- edit `app/etc/env.php` make sure:
  1. deploy mode set to `developer`
  2. caches all set to 0
- make sure your `composer.json` extra contains `"magento-force": "override"`
- then r

[2020-01-28 19:46] ilnytskyi commented on #26521
The country is not translated in async mailing mode too.
e.g. enable async sending; use a few stores with different locales; see that translation falls to default store locale

[2020-01-28 20:27] erikhansen commented on #17973
@magento-engcom-team [The 2.3.3 release notes](https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-3-open-source.html#cache) say that:

If this indeed the case, can you provide a link to the commit that fixed this issue and then close this issue?

[2020-01-28 20:28] erikhansen commented on #21614
@magento-engcom-team [The 2.3.3 release notes](https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-3-open-source.html#cache) say that:

If this indeed the case, can you provide a link to the commit that fixed this issue and then close this issue and issue #17973?

[2020-01-28 20:28] 34cnk34 commented on #8664
@farisshindsite
I checked your website, your search results are very fast now. How did you solve this issue? my website is https://dev.suppliesontime.com
And i am also using mirasvit spinx search ultimate, mirasvit page cache.. etc..
But search results are still too slow

Can you please help?

[2020-01-28 20:32] VladimirZaets commented on #26364
Hi @tejash-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#26424 by @ptylek in 2.4-develop branch
Related commit(s):
 - [9ec1d67e18d0b4fed5cc1ef3c8b9a8ad7327d41c](https://github.com/magento/magento2/commit/9ec1d67e18d0b4fed5cc1ef3c8b9a8ad7327d41c)

The fix will be available with the upcoming 2.4.0 release.

[2020-01-28 20:32] #26364 closed, assigned to tejash-wagento, ptylek

[2020-01-28 20:32] VladimirZaets commented on #25968
Hi @paul-gene. Thank you for your report.
The issue has been fixed in magento/magento2#26313 by @AndreyChorniy in 2.4-develop branch
Related commit(s):
 - [0b7a99d7a330216a829056af1b7eb876c14657db](https://github.com/magento/magento2/commit/0b7a99d7a330216a829056af1b7eb876c14657db)
 - [28e8e5aa46ffe2cfed80124bb95d3ce025a127c8](https://github.com/magento/magento2/commit/28e8e5aa46ffe2cfed80124bb95d

[2020-01-28 20:32] #25968 closed, assigned to AndreyChorniy

[2020-01-28 20:32] VladimirZaets commented on #26364
Hi @tejash-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#26365 by @tejash-wagento in 2.4-develop branch
Related commit(s):
 - [f4f61f7265c16446ea2444bac6e867192580dce6](https://github.com/magento/magento2/commit/f4f61f7265c16446ea2444bac6e867192580dce6)

The fix will be available with the upcoming 2.4.0 release.

[2020-01-28 21:10] multidimensionro commented on #26559
The issue is solved in Magento 2.3.4 - The documentation for peregrine should be updated to explain this.

[2020-01-28 21:10] #26559 closed, assigned to nobody

[2020-01-28 22:08] Usik2203 commented on #26567
@magento give me 2.4-develop instance

[2020-01-28 22:08] magento-engcom-team commented on #26567
Hi @Usik2203. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 22:09] magento-engcom-team commented on #26567
Hi @Usik2203, here is your [Magento instance](https://i-26567-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26567-2-4-develop.instances.magento-community.engineering/admin_b669](https://i-26567-2-4-develop.instances.magento-community.engineering/admin_b669)
Login: `8cf0d654` Password: `35c2e6375278`
Instance will be terminated in up to 3 hours.

[2020-01-28 22:43] Userr017 commented on #19710
I have this issue is fixed after magento 2.3.4 installation.

[2020-01-28 23:05] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-01-28 23:05] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-28 23:06] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_c617](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_c617)
Login: `d2a6ae68` Password: `350b74d08f66`
Instance will be terminated in up to 3 hours.

[2020-01-28 23:38] neddy236 commented on #19710
@Userr017 were you running apache or nginx? Did you change anything else? Also how many images were having the problem?

[2020-01-29 04:13] shikhamis11 commented on #26555
Hi @MeenaMonika
In latest magento versions magento has provided feature for MSI .. with that you can create stocks for website and can assign sources in that and at product level you can assign products into sources .. in this way you can handle quantity at website level .. you can ave more details about MSI by below link
https://devdocs.magento.com/guides/v2.3/inventory/

[2020-01-29 04:13] #26555 closed, assigned to shikhamis11

[2020-01-29 04:14] shyam100379 commented on #26541
Hi didnt anybody checked the mentioned issue. Its seems their is a bug in the system, order status from pending payment not getting updated even if that order is marked as complete. Please advise.

[2020-01-29 04:16] Bhagyashri-Ranosys commented on #23450
@TawabG,

you have to pass $filename instead of '$Path'. in below file.

Magento\ImportExport\Controller\Adminhtml\Export\File\Download.php

  **Before**
   public function execute()
    {
        if (empty($fileName = $this->getRequest()->getParam('filename'))) {
            throw new LocalizedException(__('Please provide export file name'));
        }
        try {
            $path = 'export/'

[2020-01-29 04:54] magentopits commented on #26565
@magento give me 2.4-develop instance

[2020-01-29 04:55] magento-engcom-team commented on #26565
Hi @magentopits. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-29 04:55] magento-engcom-team commented on #26565
Hi @magentopits, here is your [Magento instance](https://i-26565-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26565-2-4-develop.instances.magento-community.engineering/admin_9ff6](https://i-26565-2-4-develop.instances.magento-community.engineering/admin_9ff6)
Login: `e63bae5e` Password: `c2e324309205`
Instance will be terminated in up to 3 hours.

[2020-01-29 05:34] oldoldowl opened #26571 ""Save" button doesn't work"
### Preconditions (*)
Magento ver. 2.3.3 is installed

### Steps to reproduce (*)
1. Open System-->Integrations in the menu on the left side
2. Select "Add New Integration"
3. Fill in the required fields "Name" and "Password"
4. Try to save with "Save" button --> the button doesn't work. Nothing happening

### Expected result (*)
The save button should work when I press on it.

### Actual result (

[2020-01-29 05:36] oldoldowl commented on #26571
@magento give me 2.4-develop instance

[2020-01-29 05:36] magento-engcom-team commented on #26571
Hi @oldoldowl. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-29 05:36] magento-engcom-team commented on #26571
Hi @oldoldowl, here is your [Magento instance](https://i-26571-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26571-2-4-develop.instances.magento-community.engineering/admin_e8cf](https://i-26571-2-4-develop.instances.magento-community.engineering/admin_e8cf)
Login: `54d56fad` Password: `63d8bddb9c03`
Instance will be terminated in up to 3 hours.

[2020-01-29 05:41] oldoldowl commented on #26571
@magento give me 2.3-develop instance

[2020-01-29 05:41] magento-engcom-team commented on #26571
Hi @oldoldowl. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-01-29 06:10] magentopits commented on #26565
@magento give me 2.3-develop instance

[2020-01-29 06:10] magento-engcom-team commented on #26565
Hi @magentopits. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-01-29 06:12] sheshagiriAnvekar commented on #25403
This issues fixed in Magento 2.3.4.

[2020-01-29 06:37] srsathish92 commented on #26571
@oldoldowl Issue is not reproducible in `2.4-develop` branch & `v2.3.3`. So I close the issue.
![integration](https://user-images.githubusercontent.com/18184256/73333409-b43eea00-428f-11ea-968b-6f21ae0dade8.png)

[2020-01-29 06:37] #26571 closed, assigned to srsathish92, shikhamis11

[2020-01-29 07:50] maddyBoy commented on #22587
@rickschippers ,

Is this patch work for Magento 2.3.0

As i am getting

[code]

[2020-01-29 07:54] mrtuvn commented on #26187
add replace attribute to your composer.json to remove unused core modules
https://www.integer-net.com/make-magento-2-small-again/

[2020-01-29 08:02] mrtuvn commented on #26504
This issue is not related with magento. This is 3rd-party theme issue
The reason is your destination id in custom theme is not exist

[2020-01-29 08:25] Serializator commented on #26224
Hi @rogyar, any progress in regards to the internal discussion or not yet? Just checking out of curiosity 😉

[2020-01-29 08:58] mallikaverma commented on #26374
@magento-engcom-team  give me 2.4-develop instance

[2020-01-29 09:11] mallikaverma commented on #26388
@magento  give me 2.4-develop instance

[2020-01-29 09:21] gauravagarwal1001 commented on #26388
@magento give me 2.4-develop instance

[2020-01-29 09:21] magento-engcom-team commented on #26388
Hi @gauravagarwal1001. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-29 09:22] magento-engcom-team commented on #26388
Hi @gauravagarwal1001, here is your [Magento instance](https://i-26388-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26388-2-4-develop.instances.magento-community.engineering/admin_f1f4](https://i-26388-2-4-develop.instances.magento-community.engineering/admin_f1f4)
Login: `8f9883ac` Password: `f7aba51d9e8e`
Instance will be terminated in up to 3 hours.

[2020-01-29 09:26] engcom-Bravo commented on #26467
@adamlavery Thank you for the quick response.

We would like to ask you for one more detail.
The 2FA became a Core Bundled Extension since 2.3.x
When the M2 instance was 2.2.x, did you [install 2FA separately](https://devdocs.magento.com/guides/v2.2/security/two-factor-authentication.html)  and used it, or did you start using it only after upgrade to 2.3.x ?

Thank you

[2020-01-29 09:28] adamlavery commented on #26467
Hi Anton, first time we tried to enable 2FA was in 2.3.3. We have never installed an independent 2FA module.

[2020-01-29 09:33] engcom-Bravo commented on #26467
@adamlavery Thank you for the quick response.

We would like to ask you for one more detail, if you don't mind.
The 2FA became a Core Bundled Extension since 2.3.x
When the M2 instance was 2.2.x, did you [install 2FA separately](https://devdocs.magento.com/guides/v2.2/security/two-factor-authentication.html)  and used it, or did you start using it only after the upgrade to 2.3.x ?

Thank you

[2020-01-29 09:34] adamlavery commented on #26467
???

[2020-01-29 09:37] shikhamis11 commented on #26374
@magento give me 2.4-develop instance

[2020-01-29 09:37] magento-engcom-team commented on #26374
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-29 09:37] magento-engcom-team commented on #26374
Hi @shikhamis11, here is your [Magento instance](https://i-26374-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26374-2-4-develop.instances.magento-community.engineering/admin_93bc](https://i-26374-2-4-develop.instances.magento-community.engineering/admin_93bc)
Login: `470337f6` Password: `807f32adcd15`
Instance will be terminated in up to 3 hours.

[2020-01-29 09:39] engcom-Bravo commented on #26467
You've mentioned several upgrades
_This particular site went from 2.2.1 > 2.2.3 > 2.2.6 > 2.2.8 > 2.3.1 then 2.3.3 (dev)._
When using 2.2.1 for example, before the upgrade, did this site use 2FA ?

[2020-01-29 09:41] adamlavery commented on #26467
If it wasn't in the core in 2.2x then no, we didn't add anything to any 2.2.x for 2FA. We have only tried to enabled as of 2.3.x, and it's there as standard.

[2020-01-29 09:48] afavata commented on #26465
Hello @LucasMaliszewski
thanks for the info...
I'm trying to downgrade MySQL from 8.0 to 5.7 but MySQL is giving many errors and doesn't start

[2020-01-29 09:55] Vibhanshu-Sharma commented on #26544
By override AdminGws Models.php . It has been fixed . I think Magento 2.3.1 EE needs to update 2.4. Anyways thanks

[2020-01-29 09:59] engcom-Hotel commented on #26465
@metalleg @afavata
Magento 2 is not supported on MacOS:
![image](https://user-images.githubusercontent.com/51681618/73346552-b8b6d300-428e-11ea-8d67-4aff99130094.png)

[2020-01-29 10:12] onepack opened #26573 "Upgrade 2.3.3 to 2.3.4 with Dotdigitalgroup_Email disabled"
### Preconditions (*)

1. Magento 2.3.4
2.

### Steps to reproduce (*)

1. Disable the Dotdigitalgroup_Email module in 2.3.3 and upgrade Magento 2 to 2.3.4
2. After upgrading via composer login to the backend of magento2.

### Expected result (*)

1. Expected to dashboard

### Actual result (*)

I got an error page with the following:
Exception #0 (OutOfRangeException): Specified invalid parent id

[2020-01-29 10:26] template-provider commented on #14398
Yes, this is still an issue

[2020-01-29 10:37] engcom-Echo commented on #26189
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-01-29 10:37] #26189 closed, assigned to engcom-Echo

[2020-01-29 10:56] Zyles commented on #26504
Luma is not part of Magento 2?

[2020-01-29 11:01] chris-pook commented on #22264
Hi, just a quick heads up on this latest advice from Magento:

https://docs.magento.com/m2/ce/user_guide/catalog/catalog-flat.html

This documentation isn't really clear on the reasoning and (also contradicts elsewhere in the same docs) but I have disabled flat catalog on sites now and it has fixed numerous issues.

[2020-01-29 11:09] Zyles commented on #26539
Please explain what these fields are for:

![image](https://user-images.githubusercontent.com/1741593/73351839-26afca00-4290-11ea-802d-e75637140a84.png)

[2020-01-29 11:18] Userr017 commented on #19710
@neddy236 I have about 700pcs images and server is Apache.

I just upgrade magento 2.3.3 to 2.3.4. After this remove pub/media/catalog/product/cache folder.
Then run the command bin/magento catalog:image:resize. It looks like it's different type now and
it is much slower...

Magento 2.3.4 changes log: "The bin/magento catalog:image:resize command now processes images from the database as expected

[2020-01-29 11:23] afavata commented on #26465
Hello @engcom-Hotel

I'm not running Magento on Windows or MAC...
It is installed on Ubuntu 18.04

thanks

[2020-01-29 11:31] engcom-Hotel commented on #26465
@afavata but your mySql version is wrong

[2020-01-29 11:34] onepack commented on #26573
Enabling the module fixes the backend but the backend should not break on a disabled third-party module!

[2020-01-29 11:35] devchris79 commented on #26573
I have attempted an upgrade with Dotdigitalgroup_Email enabled this morning and get an error report:

`{"0":"Specified invalid parent id (Dotdigitalgroup_Email::marketing_automation)","1":
"#1 Magento\\Backend\\Model\\Menu\\Builder\\Interceptor->___callParent() called at [vendor\/magento\/framework\/Interception\/Interceptor.php:138]
\n#2 Magento\\Backend\\Model\\Menu\\Builder\\Interceptor->Magent

[2020-01-29 11:41] engcom-Hotel commented on #26149
Hello @azambon
Yes, you are right. We must run integration tests only in `developer mode`, because e.g. `ProductExtensionInterfaceFactory` will be generated when you will try to execute some class where you call it.

This issue should be closed.

Thanks for collaboration and contributing!

[2020-01-29 11:41] #26149 closed, assigned to engcom-Hotel

[2020-01-29 11:43] engcom-Bravo commented on #26501
Hello @nickpiro

Thank you for your report.

We had similar issues reported before. It is not always reproducible, that is why we can't start fixing it.
I'm not able to reproduce this issue now.

I can offer you a workaround that should help. Rename the existing index for the wishlist table in your database:
```alter table wishlist rename index WISHLIST_CUSTOMER_ID to WISHLIST_CUSTOMER_ID_2; ```

[2020-01-29 11:52] afavata commented on #26465
yes... You are right.... Mysql is wrong ... I'm trying to downgrade it but It's painful

[2020-01-29 12:13] magento-engcom-team commented on #26513
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30871` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-29 12:20] atwixfirster opened #26575 "REST API rest/all/V1/orders/create does not trigger "inventory_reservations_placement" plugin"
REST API `rest/all/V1/orders/create` does not trigger `inventory_reservations_placement` plugin.

### Preconditions (*)

`Magento 2.3.3` with `sample` data

1. Create OAuth tokens with access to create order resource

<img width="921" alt="2787-01" src="https://user-images.githubusercontent.com/13585327/73123853-3a5fe580-3f9d-11ea-9e6f-7043058043ab.png">

2. End point: `https://INSTANCE/rest/all/V

[2020-01-29 12:32] neddy236 commented on #19710
@Userr017 Well 90% percent of the time catalog:image:resize would solve the issue but when you have 10k products it can take days to complete, which means downtime for the shop. Images should be generated upon entering the catalog/product/etc page if the cached image does not exist

[2020-01-29 13:24] VanArmenia commented on #20348
I also have this problem with 2.3.2

[2020-01-29 13:35] christianbookpwood opened #26578 "Results not paginated after upgrading to Magento 2.3.4"
### Preconditions (*)

Magento 2.3.4, PHP 7.3.13, Apache 2.4.6, CentOS 7.3.1611

### Steps to reproduce (*)

1. Install and configure Magento 2.3.3.
2. Configure a product catalog with greater than 24 products.
3. Configure paging controls to limit to 24 products per page for grid, 10 products per page for listing.
4. Upgrade Magento to 2.3.4.
5. View product listing.

### Expected result (*)

1.

[2020-01-29 13:46] christianbookpwood commented on #26578
@magento give me 2.4-develop instance

[2020-01-29 13:46] magento-engcom-team commented on #26578
Hi @christianbookpwood. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-29 13:46] magento-engcom-team commented on #26578
Hi @christianbookpwood, here is your [Magento instance](https://i-26578-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26578-2-4-develop.instances.magento-community.engineering/admin_3774](https://i-26578-2-4-develop.instances.magento-community.engineering/admin_3774)
Login: `53ea486d` Password: `07f8867ba29a`
Instance will be terminated in up to 3 hours.

[2020-01-29 13:47] christianbookpwood commented on #26578
I receive the following error when I try to access the admin:

Forbidden
You don't have permission to access this resource.

[2020-01-29 13:54] magento-engcom-team commented on #26573
@srsathish92 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2020-01-29 13:58] Nazar65 commented on #26554
Hi @iuwqyir why you do li that ? why you just not send the ajax request with data ?

[2020-01-29 14:10] srsathish92 commented on #26573
@onepack Instead of enabling `Dotdigitalgroup_Email`, you can also disable `Dotdigitalgroup_Chat`. It will solve the issue.
FYI: `Dotdigitalgroup_Chat` added in new release.

[2020-01-29 14:13] maxq commented on #16436
I am using 2.3.0 and have the same problems.
Magento is pushing everyone to upgrade and we still have these bugs.

[2020-01-29 14:14] davidalger commented on #19597
Does not appear to be resolved. Spun up https://github.com/davidalger/m2demo/ using `./start.sh --no-sampledata` (making this an easy reproducible test case for Open Source) and re-built images with 2.3.4 codebase and got the following:

[code]

Same exact results if I install on `mariadb:10.2` image. In fact, if I deploy on `mysql:5.7` image same story…reports incorrectly:

[code]

This is with 2

[2020-01-29 14:14] onepack commented on #26573
@srsathish92 I noticed the new module later today and suspected this. I will disable both now. Is it an idea to work in a different way with dependencies regarding non-core modules?

[2020-01-29 14:28] srsathish92 commented on #26573
@onepack As of now, No. We need to do manually. I thought purposefully added on exception in `app/code/Magento/Backend/Model/Menu/Builder.php Line: 83` .

@engcom-Bravo @magento-engcom-team please add the valid label for triage.

[2020-01-29 14:48] ruggi69 commented on #26573
To solve the issue I changed parent attribute in line 5 in /vendor/dotmailer/dotmailer-magento2-extension-chat/etc/adminhtml/menu.xml
from "Dotdigitalgroup_Email::marketing_automation" to "Magento_Backend::marketing"

[2020-01-29 14:54] magento-engcom-team commented on #26504
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30875` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-29 15:00] elrosi commented on #5127
I am facing the same issues for Magento ver. 2.3.3, Win 10, Xampp, PHP: 7.2.16, 10.3.14-MariaDB
Help from henk-webleads has helped.

[2020-01-29 15:01] nbennett25 commented on #26376
@magento if this is not going to be worked on in the immediate future, can we at least get a patch file?

There are now reports of the same issue affecting live/production Auth.net integrations

[2020-01-29 15:04] nickpiro commented on #26501
@engcom-Bravo would I rename the wishlist table before or after the upgrade?

[2020-01-29 15:14] christianbookpwood commented on #26578
There are a couple of instances that prevent me from reproducing on this instance:

1. The instance is running Magento 2.4-devel, but my issue occurs in Magento 2.3.3.
2. I need to be able to add multiple products to the catalog and render them on a page, in order to test pagination of the product listing. I was able to add multiple products, but they are not showing up in the product listing whic

[2020-01-29 15:40] ochnygosch opened #26581 "getExistsStoreValueFlag() in catalog product model returns wrong data"
The getExistsStoreValueFlag function in \Magento\Catalog\Model\Product returns wrong information, if it is used on different products during one request.

### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Use  #26601 to create integration test
2. Run integration test with `../../../vendor/bin/phpunit testsuite/Magento/Catalog/Model/ProductTest.php` in directory `dev/tests/int

[2020-01-29 16:05] Beowulf891 commented on #26376
@magento-engcom-team @magento I must agree with @nbennet25. This issue is affecting live accounts and needs a resolution ASAP!

[2020-01-29 16:56] textarea opened #26582 "Cannot update NULL value in custom module"
### Preconditions (*)
1. Magento 2.3.4 & 2.4-develop
2. PHP 7.2.27

### Steps to reproduce (*)
1. Create a custom module with a field of any data type, for example "varchar", nullable.
2. Insert one record with a (not null) value into the varchar field
3. Update programmatically with null value, i.e.:
[code]

### Expected result (*)
1. Field value is NULL

### Actual result (*)
1. Field value stil

[2020-01-29 18:12] #25403 closed, assigned to nobody

[2020-01-29 18:13] #25502 closed, assigned to sdzhepa

[2020-01-29 18:13] #25471 closed, assigned to sdzhepa

[2020-01-29 18:13] #24930 closed, assigned to nobody

[2020-01-29 19:22] srsathish92 opened #26583 "Product Detail Page - Tier price (fixed & discount) save percentage displaying wrong calculation"
Tier price (fixed & discount) save percentage displaying wrong calculation in product detail page.

### Preconditions (*)
1. Magento 2.4-develop

### Steps to reproduce (*)
1. Create simple product with
	Price - $100.00
	Special price - $65.00
2. Add tier price rule
        For 2 (Qty) - Fixed $40.00
	For 3 (Qty) - Percentage 36%
3. Save the product.

### Expected result (*)
Both fixed and discoun

[2020-01-29 19:24] ihor-sviziev commented on #25268
@engcom-Hotel i think we expected result should be changed, that magic method should highlight that it could return null. This is not direct responsibility of order object to retrieve customer. In client code customer  could be retrieved by customerId.
Btw both methods getCustomer and getCustomerId might return null in case when order were placed as guest, and that would be absolutely valid behavi

[2020-01-29 19:42] magento-engcom-team commented on #7658
Hi @rbostan.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [a4182bc75797c052e3ffb17735f381f32fb30e3f](https://github.com/magento/magento2/commit/a4182bc75797c052e3ffb17735f381f32fb30e3f)

The fix will be available with the upcoming `2.3.5` release.

[2020-01-29 19:56] ajithkumar-maragathavel opened #26585 "Ability to modify Design Package/Theme field after widget creation."
### Description (*)

Navigate to **Content -> Elements -> Widgets** and click **Add Widget** button.
Select Type in the widget settings and select Design Theme in widget settings and click continue.
After creating a widget for a specific theme, the **Design Theme filed becomes non-editable**.
There is no way for admin user to change the widget Design  Theme configuration after creating a widget.

[2020-01-29 21:08] nadroj467 commented on #26351
Exact same issue noted in this ticket
https://github.com/magento/magento2/issues/19712

[2020-01-29 21:24] ashikp commented on #26351
as seen the Issue for paypal module. It's a simple bug over there. Just Replace some controller that will do the work. CSRF Function is not added those file and you must need to upgrade your paypal account to pro.
Folder Location: vendor/magento/module-paypal/Controller
replace all the file with this file download from here https://github.com/ashikp/magento2.3paypalissuefixed

[2020-01-29 21:42] GuiltyNL commented on #26557
@monotheist What version of Amasty Improved Layered Navigation are you using? We have a live setup like yours only with Varnish 5, without this issue.

[2020-01-29 21:51] robolmos commented on #24353
Experienced the same issue. In my case it was the primary nav loading via ESI was experiencing the "too many restarts" error loop and showing the default Varnish 503 error. It took a good amount of time before it started showing up.

I used the fix from https://github.com/magento/magento2/issues/24353#issuecomment-526098763 and so far that seems to have fixed the issue.

### Testing setup idea
The

[2020-01-29 22:21] metalleg commented on #26465
Really good eye - didn't even consider that compatibility based on guides I'd read. I'm operating through MAMP as an intermediary and all is well. Thank you!

[2020-01-30 00:02] mrtuvn commented on #26504
I don't say that you should check my reply. I said this problem come from your custom theme

[2020-01-30 00:04] mrtuvn commented on #26504
<move element="content.top" destination="category.view.container" />
category.view.container only visible in category page
add move directive in default.xml is not best practices

[2020-01-30 03:34] nickpiro commented on #26501
Also, we're using MySQL 5.6. The syntax above works for 5.7 and above!

[2020-01-30 04:18] krishprakash commented on #26583
@magento give me 2.4-develop instance

[2020-01-30 04:18] magento-engcom-team commented on #26583
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-30 04:18] magento-engcom-team commented on #26583
Hi @krishprakash, here is your [Magento instance](https://i-26583-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26583-2-4-develop.instances.magento-community.engineering/admin_9af1](https://i-26583-2-4-develop.instances.magento-community.engineering/admin_9af1)
Login: `02b8101b` Password: `b06c0c655279`
Instance will be terminated in up to 3 hours.

[2020-01-30 04:28] monotheist commented on #26557
@GuiltyNL We are using version 2.13.1. Could please post your Redis config part from env file? Below is what I have in my file.

[code]

[2020-01-30 04:51] magento-engcom-team commented on #26583
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30912` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-30 05:31] prashantvictory commented on #22270
I am having the same issue in **Magento ver. 2.2.2**. Is there any quick tip to fix this in v2.2.2 instead updating the whole magento version?

[2020-01-30 05:32] ajithkumar-maragathavel commented on #26585
@magento give me 2.4-develop instance

[2020-01-30 05:32] magento-engcom-team commented on #26585
Hi @ajithkumar-maragathavel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-30 05:33] magento-engcom-team commented on #26585
Hi @ajithkumar-maragathavel, here is your [Magento instance](https://i-26585-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26585-2-4-develop.instances.magento-community.engineering/admin_9bba](https://i-26585-2-4-develop.instances.magento-community.engineering/admin_9bba)
Login: `e88a05f1` Password: `8ed0c7405382`
Instance will be terminated in up to 3 hours.

[2020-01-30 05:41] Mathanagopal97 opened #26587 "Product tier price not getting calculated properly when MSRP is applied"
### Preconditions (*)

1. Magento 2.4-develop
2. Also in Magento 2.3.3

### Steps to reproduce (*)

1. Enable MSRP in
    Store -> Configuration -> Sales -> Minimum Advertised Price
    Set Display Actual price on gesture
2. Create a new simple product. Set it's price, quantity and weight(optional)

- Price=100$
3. Go to advanced pricing and add a special price, add 2 or more tier pricing of your

[2020-01-30 05:43] Mathanagopal97 commented on #26587
Yes, I was able to reproduce the issue on vanilla Magento instance 2.4. Check my screenshots

[2020-01-30 07:13] loppp commented on #12398
Yes, helps a lot, by the way just created child theme with this tutorial
https://www.dckap.com/blog/how-to-create-child-theme-in-magento2/

[2020-01-30 08:03] kurtinge commented on #19597
I can also verify that this is an issue in Magento 2.3.4.
The issue is within the new Magento_AdobeIms module with the field `access_token_expires_at`.
It will always try to run `ALTER TABLE `adobe_user_profile` MODIFY COLUMN `access_token_expires_at` timestamp NOT NULL   COMMENT "Access Token Expires At"`

If you dont use the Magento_AdobeIms module, just disabling it is a workaround, but doesn't

[2020-01-30 08:49] engcom-Bravo commented on #26501
@nickpiro

Please, try to use this query
[code]
And then, try to run ```php bin/magento setup:upgrade```

Thank you

[2020-01-30 09:18] engcom-Hotel commented on #25268
@ihor-sviziev thanks for contributing! I have updated the description.

[2020-01-30 09:25] ihor-sviziev commented on #24353
@engcom-Delta could you try to reproduce issue using additional info from @robolmos ?

[2020-01-30 09:28] Mathanagopal97 commented on #26587
@magento give me 2.4-develop instance

[2020-01-30 09:28] magento-engcom-team commented on #26587
Hi @Mathanagopal97. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-30 09:29] magento-engcom-team commented on #26587
Hi @Mathanagopal97, here is your [Magento instance](https://i-26587-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26587-2-4-develop.instances.magento-community.engineering/admin_c3e3](https://i-26587-2-4-develop.instances.magento-community.engineering/admin_c3e3)
Login: `dec8c8af` Password: `fd77026fb90b`
Instance will be terminated in up to 3 hours.

[2020-01-30 09:40] engcom-Hotel commented on #26565
Hello @magentopits
The GitHub issue tracker is intended for Magento Core technical issues only.
Your issue is related to 3rd party extension.
Please refer to the `magento/language-de_de` support.

I have to close this issue.

Thanks for your report!

[2020-01-30 10:05] Aashir-334 commented on #7003
@muhzi4u
I get Bellow as api response please help me out please

 {
    "message": "\"%fieldName\" is required. Enter and try again.",
    "parameters": {
        "fieldName": "option"
    }
}

[2020-01-30 10:11] magento-engcom-team commented on #26573
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30914` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-30 10:21] developeruserextension commented on #18091
@nileshsaste I have also faced same problem. Is your problem solved?

[2020-01-30 10:23] Usik2203 commented on #26520
@magento give me 2.4-develop instance

[2020-01-30 10:23] magento-engcom-team commented on #26520
Hi @Usik2203. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-01-30 10:23] magento-engcom-team commented on #26520
Hi @Usik2203, here is your [Magento instance](https://i-26520-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26520-2-4-develop.instances.magento-community.engineering/admin_d597](https://i-26520-2-4-develop.instances.magento-community.engineering/admin_d597)
Login: `448fdece` Password: `c12d5625fa00`
Instance will be terminated in up to 3 hours.

[2020-01-30 10:25] nileshsaste commented on #18091
No my problem is also not solved?

On Thu, Jan 30, 2020 at 2:21 AM developeruserextension <
notifications@github.com> wrote:

[2020-01-30 10:31] honzakadlec opened #26588 "Paypal hosted pro: Cancel request and C"
### Preconditions (*)

1. 2.2.1
2.

### Steps to reproduce (*)

1. We do not know how to reproduce it unfortunatelly. This happens each 150 - 200 orders
2. I can see this behaviour from apache log:
apache log:
176.254.25.161 - - [20/Jan/2020:19:53:39 +0000] "GET /paypal/hostedpro/cancel/
176.254.25.161 - - [20/Jan/2020:19:53:40 +0000] "GET /checkout/
173.0.81.1 - - [20/Jan/2020:19:53:39 +0000] "PO

[2020-01-30 10:32] magento-engcom-team commented on #26565
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30916` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-30 10:52] harperruss commented on #10737
This has been reproduced on a vanilla 2.3.3 commerce installation running the standard demo data/Luma theme:

Steps to reproduce:

1.  Create a new product attribute with a type of Visual Swatch
2.  POST a payload to **rest/V1/products/attributes/{attributecode}/options**

**Example Payload**
{
    "option": {
        "label": "Red",
        "is_default": "false",
        "sort_order": 0,

[2020-01-30 10:59] danielpfarmer commented on #22270
You should be keeping up to date to ensure the security of your website

From: Prashant Kumar <notifications@github.com>
Reply to: magento/magento2 <reply@reply.github.com>
Date: Thursday, 30 January 2020 at 05:31
To: magento/magento2 <magento2@noreply.github.com>
Cc: Daniel Farmer <dan@danielfarmer.co.uk>, Mention <mention@noreply.github.com>
Subject: Re: [magento/magento2] 2.2.8 Configurable pro

[2020-01-30 11:15] sfritzsche commented on #25650
I am too on 2.3.3.

[2020-01-30 11:20] iindranil opened #26589 "Not Generating Auto Generate coupons Code and getting this - Message is added to queue, wait to get your coupons soon"
### Preconditions (*)

1. Magento 2.3.2
2. PHP 7.2.2

### Steps to reproduce (*)

1. Create a Cart Price Rule.
2. Coupon option "Specified Coupon"
3. Checked the Auto-Generated checkbox.
4. Under the "Manage Coupon Code", Enter Coupon Qty 2 and Enter discount details then click on the Generate Button.

### Expected result (*)

1. It should add two rows with generated coupon detail.

### Actual res

[2020-01-30 11:28] gkroy1982 commented on #8455
Any update on this issue?

[2020-01-30 11:37] cstergianos commented on #26389
@magento-engcom-team @paliarush this issue is resolved already in the 2.4-develop branch. As you can see here a (string) cast is added.

![Screenshot 2020-01-30 at 11 36 02](https://user-images.githubusercontent.com/25661926/73446542-df3f4180-4354-11ea-9dd8-ad6c01694539.png)

[2020-01-30 11:37] #26389 closed, assigned to cstergianos

[2020-01-30 12:03] cmacdonald-au commented on #19597
@kurtinge double check your MySQL settings as per #1 in https://github.com/magento/magento2/issues/19597#issuecomment-573510633
If you could confirm that change resolves the issue with the AdobeIms module, then we can try and get that setting referenced in the mage docs, (we are a week or two away from testing 2.3.4, otherwise I'd do it)

[2020-01-30 12:44] engcom-Hotel commented on #26463
Hello @alexmtch

I used [this guide](https://magento.stackexchange.com/questions/278142/magento-2-add-new-attribute-delivery-time-to-recently-viewed-widget) for testing and i am not able to reproduce this issue on the latest Magento 2.4-develop.

**Result:**
I am able to add my custom attribute(SKU) to recently viewed widget:
![1](https://user-images.githubusercontent.com/51681618/73450577-592ff48

[2020-01-30 12:44] #26463 closed, assigned to engcom-Hotel

[2020-01-30 12:55] engcom-Bravo commented on #26553
Hello @romellfredy

Thank you for your report

The tax calculation will work properly if the following is observed:
If there is a Store, German for example, the locale should also be German

[2020-01-30 13:14] MagePsycho commented on #4492
Verified the issue on Magento 2.2.4

[2020-01-30 13:33] engcom-Bravo commented on #26553
Hello @rommelfreddy

Thank you for your report

The tax calculation will work as expected if the following is observed:
If the Store is German for example
- the **Default** and **Locale** country is Germany (the same is for Switzerland)
![gefault country](https://user-images.githubusercontent.com/51680745/73451824-2cc9a780-4371-11ea-86be-1f01e06ea44b.png)

-  the created _"19% tax rule"_ is assign

[2020-01-30 13:50] pmsteil commented on #11657
On 2.3.3 this workaround was successful:

[code]

[2020-01-30 14:02] asannikov commented on #8862
this problem still exists in 2.3.3

[2020-01-30 14:15] ebanolopes commented on #15209
@bradjones1 not really only for Google Cloud, all managed databases are following this. Azure will also block non GTIDs instances on a close future. We're using Google Cloud, moved to Azure to avoid this and now we're working to try to fix this, as we don't want to have a self managed database inside our business.

[2020-01-30 14:17] ebanolopes commented on #15209
@bradjones1 does Magento has this on the roadmap on any ways? This is an old issue =[

[2020-01-30 14:26] magento-engcom-team commented on #26582
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30919` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-30 14:27] maddyBoy commented on #25872
Hello @shubhamkhandelwalrtpl,

Are you working on this issue?

[2020-01-30 14:29] nickpiro commented on #26501
Hey @engcom-Bravo that worked in regards to MySQL, but this is the message I received when Schema creation/updates:
Syntax error or access violation: 1061 Duplicate key name 'WISHLIST_CUSTOMER_ID', query was: ALTER TABLE `wishlist` ADD COLUMN `customer_id` int(10) UNSIGNED NOT NULL DEFAULT 0  COMMENT "Customer ID", ADD CONSTRAINT `WISHLIST_CUSTOMER_ID_CUSTOMER_ENTITY_ENTITY_ID` FOREIGN KEY (`custo

[2020-01-30 14:31] nickpiro commented on #26501
Do you think there is something in the wishlist dbschema that causes it not to ignore the fact that the wishlist_customer_id already exists?

[2020-01-30 14:39] magento-engcom-team commented on #26209
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30920` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-30 15:04] sadiqmalik commented on #25754
@bernd-reindl I had the same issue and I solved it by writing before plugin on Magento\Catalog\Model\ResourceModel\Product save method.

If the object has options

if ($object->getHasOptions()) {
       $object->setData('can_save_custom_options', 1);
}

[2020-01-30 15:17] engcom-Hotel commented on #6532
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-01-30 15:17] #6532 closed, assigned to engcom-Hotel

[2020-01-30 15:20] engcom-Bravo commented on #26554
Hello @iuwqyir

This behaviour is not supported by Magento2.
Please, use [ajax request](https://api.jquery.com/jQuery.post/).

We have to close this issue.

Thank you for collaboration

[2020-01-30 15:20] #26554 closed, assigned to engcom-Bravo

[2020-01-30 15:49] angelflo commented on #21877
Hi, does someone find a solution to have the datepicker who work correctly in backend filter.
I currently use magento **2.2.10** with French backend admin and have this pb of date when i try to filter orders. (if I switch in english it's ok ... but this is not a solution).
Thanks a lot for your help

[2020-01-30 16:07] AeroFury opened #26590 "Customer registration multiple form submit"
### Preconditions (*)

1. Magento v2.3.3

### Steps to reproduce (*)

1. From the Storefront, Create a new account (customer/account/create/ URL)
2. Fill in all the required fields
3. Click the "Create an Account" button multiple times really fast
![create_an_account](https://user-images.githubusercontent.com/51680745/73521816-a44e1400-440f-11ea-8604-71bf774a23ff.png)

### Expected result (*)

1.

[2020-01-30 16:55] nwmagento opened #26591 "TEST ISSUE- THIS IS NOT A REAL ISSUE."
This is a test issue used for testing githubapp functionality, no work is needed on this.
Contact: @nwmagento

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2020-01-30 16:57] nwmagento commented on #26591
Hey MDS give me 2.4-develop instance

[2020-01-30 16:59] nwmagento commented on #26591
Hey MDS give me test instance

[2020-01-30 17:03] nwmagento commented on #26591
Hey MDS give me test instance

[2020-01-30 17:12] nbennett25 opened #26592 "Composer dependency issue with 2.3.4"
Trying to run `composer require magento/product-community-edition 2.3.4` is running into dependency issues:

- magento/product-community-edition 2.3.4 **requires magento/framework 102.0.4** -> satisfiable by magento/framework[102.0.4].
- magento/module-backend 100.2.4 **requires magento/framework 101.0.***

[2020-01-30 17:14] nwmagento commented on #26591
Hey MDS give me test instance

[2020-01-30 17:21] davidalger commented on #19597
@cmacdonald-au I had missed that note, thanks! Just checked with the following in my docker file:

[code]

Success! 🎉
[code]

Seems to be ok with and without sample data as long as `explicit_defaults_for_timestamp=on` is there. MariaDB 10.3 vs MySQL 5.7 doesn't make a difference. I've got a production PerconaDB 5.7 system running Commerce which I'll get to find out on relatively soon (we're workin

[2020-01-30 17:42] nwmagento commented on #26591
Hey MDS give me test instance

[2020-01-30 17:46] #26591 closed, assigned to nwmagento

[2020-01-30 17:57] adamrandazzo commented on #26573
Magento really needs to stop including this crapware with the core packages.

[2020-01-30 18:22] nadroj467 commented on #26588
Have experienced similar issue on 2.3.4

[2020-01-30 18:35] judin commented on #6713
Not just aesthetic, but functional. Very very easy in a busy environment to mis-read this data.

[2020-01-30 20:11] rpss2 opened #26595 "Admin Page Many Redirects"
### Preconditions (*)

1. Magento v2.3.3
2. I've done deployment bitnami magento 2 to GCP with one instance group with four instances and connected it to Cloud SQL (MySQL) and Load Balancer to redirect requests to these instances. But, when I try admin login, I am redirect to the same page. When instance group has only one instance, all works fine. I'm not using DNS domain, just ip address.

### S

[2020-01-30 20:24] rpss2 commented on #26595
@magento I wasn't able to reproduce, because I need make deploy application.

[2020-01-30 20:55] elvinristi commented on #12679
Usually it means that in your customized project `checkout.cart.shipping` crashed on something and therefor it wasn't returning `Magento_Checkout::cart/shipping.phtml` content which initilizes `window.checkoutConfig` javascript object.

As all those components or their sub-components (mentioned on reporter's screenshot) require `Magento_Checkout/js/model/quote` then initialising this fails due har

[2020-01-30 22:23] wbfiretoss opened #26596 "Sample Data won't install on Magento Commerce Cloud 2.3.4"
### Preconditions (*)

1. Magento Commerce Cloud 2.3.4

### Steps to reproduce (*)
1. bin/magento sampledata:deploy
2. bin/magento setup:upgrade

### Expected result (*)
1. Sample Data to install

### Actual result (*)
[code]

[2020-01-31 04:08] adarshkhatri commented on #5542
I am facing this error as well. In magneto 2.3.3 EE

[2020-01-31 04:44] moloughlin opened #26597 "Tax discount compensation amount not populated if product prices are configured excl. tax"
### Preconditions
1. Magento 2.3.4
2. Configure **Sales > Tax > Calculation Settings > Catalog Prices** to **Excluding Tax**
3. Create a shopping cart price rule which applies a discount

### Steps to reproduce
1. Add items to cart
2. Apply discount code
3. Place Order
4. Inspect sales_order and sales_order_item tables, noting the 0.0000 for discount_tax_compensation_amount

### Expected result
`s

[2020-01-31 04:52] ajijshekh123 commented on #26597
@moloughlin - Please add this issue to the below Magento guidelines.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

Thanks.

[2020-01-31 05:00] moloughlin commented on #26597
https://github.com/magento/magento2/pull/26598

[2020-01-31 05:03] willtran commented on #26582
FYI can't reproduct on 2.3.3

[2020-01-31 05:27] willtran opened #26599 "Shipping tax rounding error - off by 1 cent"
### Preconditions (*)
1. Magento 2.4-develop
2. PHP 7.3

### Steps to reproduce (*)
1. Create a fixed price shipping - cost is unimportant, but the problem is found when shipping cost is $5 fixed
2. Create product that can be added to cart. Again price is not important but problem can be replicated if product price can be divided by $5
3. Create tax for product and shipping. When problem is found

[2020-01-31 06:26] kurtinge commented on #19597
@cmacdonald-au Thanks! I had also missed that note and was not aware that this setting was required.

[2020-01-31 07:28] sdzhepa commented on #24426
#mm20in

[2020-01-31 07:32] Sathishkumar8731 commented on #13983
Hi Team,

I have cross checked with Magento 2.4 develop package and noticed the same issue. The title is not changing while importing the csv with store view code.

Also, I noticed the record is not creating under "catalog_product_option_type_title".

Could you please check the problem again and share the feedbacks

[product_fr.csv.txt](https://github.com/magento/magento2/files/4138034/product_fr.

[2020-01-31 08:00] ajijshekh123 commented on #26597
Okay @moloughlin, If this issue is related to #26598 so please update me, Let me close this issue Or first you can fill issue details in a proper format then I will confirm it.

[2020-01-31 08:01] magento-engcom-team commented on #26590
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30969` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-31 08:16] magento-engcom-team commented on #26409
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30970` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-31 08:30] sunilit42 opened #26603 "customer save performance issue"
### Preconditions (*)

1. latest Magento
2. customer contains 50 address

### Steps to reproduce (*)

1. try to save customer
2. on save customer why Magento check each address and updating

### Expected result (*)

1. it should be saved address if anything change related to address

### Actual result (*)

1. on every customer save, it is calling each address and save it

More info for this:-
http

[2020-01-31 09:08] mrtuvn commented on #26592
modify your composer.json

add
replace: {
"magento/module-backend": "101.0.4"
}

[2020-01-31 09:11] jonathan-martz opened #26604 "Outdated Composer Packages - magento/composer"
https://github.com/magento/composer/issues/23

### Preconditions (*)
1. a simple Magento2 Shop with Community Edition

### Steps to reproduce (*)
1. Update Magento2 to 2.3.3
2. Update Php to 7.2
3. use Proxy like Toran which uses repo.magento.com as source of package
4. clean composer cache
5. Run Composer update

### Expected result (*)
1. updates every package, maybe fails because of php version

[2020-01-31 09:16] textarea commented on #26582
@willtran I can reproduce this issue on 2.3.3 also.

[2020-01-31 09:19] jonathan-martz opened #26605 "Outdated Composer Packages - product-community-edition"
### Preconditions (*)
1. a simple Magento2 Shop with Community Edition

### Steps to reproduce (*)
1. Update Magento2 from 2.3.3 to 2.4.3
2. use Proxy like Toran which uses repo.magento.com as source of package
3. clean composer cache
4. Run Composer update

### Expected result (*)
1. updates every package

### Actual result (*)
1. Doesnt find a possible package of versions, because of Missing Ver

[2020-01-31 09:44] amiyoghoshstar opened #26606 "Unable to unserialize value. Magento 2.3.4 [new update]"
### Summary (*)

1. After upgrading Magento CE 2.3.3 to 2.3.4, I'm facing this issue.
2. The same issue happened in Magento CE 2.3.3 but I followed the answer to the stack exchange question and fixed it. Link : https://magento.stackexchange.com/questions/194010/magento-2-2-unable-to-unserialize-value
3. Cannot able to create an account, login. Not able to check customers from admin dashboard

###

[2020-01-31 09:48] jonathan-martz commented on #26605
Strange, for my colleague it works.
On my local machine it doesnt work and on the dev server it doesnt work.

[2020-01-31 10:15] TenderDishes commented on #10978
Hello
TL;DR: I have encountered a similar phenomenon which i believe has the same root cause as this problem here.

For a better structure i am using the issue template.

### Preconditions (*)
1. Magento CE 2.3.4
2. PHP 7.2
3. Two stores (B2B and B2C) and for each own websites and view

### Steps to reproduce (*)
1. Go to backend configuration and switch scope to B2B store
2. Set Customers->Custom

[2020-01-31 10:28] lbajsarowicz opened #26607 "MFTF: AdminReorderWithCatalogPriceTest is failing in CI process"
### Summary (*)
The error occurs on Magento GitHub repository CI validations.
![image](https://user-images.githubusercontent.com/1639941/73532313-baae9c80-441c-11ea-8fef-26d423b0a2d7.png)

### Examples (*)
* https://github.com/magento/magento2/pull/26594/checks?check_run_id=417846845

### Proposed solution
C'mon, fix it :-)

[2020-01-31 10:38] engcom-Echo commented on #26585
Hi, @ajithkumar-maragathavel. Thank you for your report.
A twain of settings "Type" and "Design Package/Theme" determine the possible options for further widget settings.
For different "Type" and different "Design Package/Theme" further settings may differ.
Changing these parameters can lead to incorrect behavior after saving the widget.
Example:

![screenshot](https://user-images.githubuserconten

[2020-01-31 10:38] #26585 closed, assigned to engcom-Echo

[2020-01-31 11:00] lbajsarowicz opened #26610 "MFTF: AdminAddingNewOptionsWithImagesAndPricesToConfigurableProductTest is failing in CI process"
### Summary (*)
When working with https://github.com/magento/magento2/pull/26454 - I faced the failing test `AdminAddingNewOptionsWithImagesAndPricesToConfigurableProductTest`. Test outcome was completely unclear:
![image](https://user-images.githubusercontent.com/1639941/73534118-a66c9e80-4420-11ea-9cd9-6be2948fdf10.png)

Also, ScreenShot wasn't helpful at all:
![image](https://user-images.github

[2020-01-31 11:41] engcom-Hotel commented on #26582
@willtran this issue is reproducible on 2.4-develop

[2020-01-31 11:42] engcom-Hotel commented on #26330
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-01-31 11:42] #26330 closed, assigned to engcom-Hotel

[2020-01-31 11:42] engcom-Hotel commented on #26318
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-01-31 11:42] #26318 closed, assigned to engcom-Hotel

[2020-01-31 11:42] engcom-Hotel commented on #26266
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-01-31 11:42] #26266 closed, assigned to engcom-Hotel

[2020-01-31 11:44] engcom-Hotel commented on #26244
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-01-31 11:44] #26244 closed, assigned to engcom-Hotel

[2020-01-31 11:47] engcom-Echo commented on #26589
Hi, @iindranil. Thank you for your report.

You can able to process all codegeneratorProcessor queue items with the next command:

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboratio

[2020-01-31 11:47] #26589 closed, assigned to engcom-Echo

[2020-01-31 11:57] harpreetsinghhora commented on #25835
Hi, any updates on this?

[2020-01-31 12:03] engcom-Charlie commented on #26458
Hello @NetStorm84, could you please add an example of code?

[2020-01-31 12:05] singhhrpreet commented on #25835
Hi @magento-admin, Any updates on this?

[2020-01-31 12:09] engcom-Echo commented on #26529
Hi, @guoni. Thank you for your report.
Unfortunately I could not repeat it
Make sure that your modules are configured correctly.
I got the correct result:
![image](https://user-images.githubusercontent.com/51681435/73538045-a2e21300-4432-11ea-8311-1aaecb5f5526.png)

Maybe you can specify more detailed steps for reproducing.

Please feel free to comment, reopen or create new ticket according to the

[2020-01-31 12:09] #26529 closed, assigned to engcom-Echo

[2020-01-31 12:15] engcom-Echo commented on #26249
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-01-31 12:15] #26249 closed, assigned to engcom-Echo

[2020-01-31 12:17] iindranil commented on #26589
Hello @engcom-Echo, Thank you for your suggestion.

I've run this comment via SSH and getting this error:

[code]

Please suggest what I need to do next,

Thank you again!
Indranil

[2020-01-31 12:39] lbajsarowicz opened #26612 "MFTF: StorefrontApplyPromoCodeDuringCheckoutTest is failing in CI process"
### Summary (*)
![image](https://user-images.githubusercontent.com/1639941/73539942-e5a1ec00-442e-11ea-8e5f-55348be1d605.png)

Issue occurs randomly, when Magento instance is running slower. It's related with the fact, that Assertion does not wait for Loading Mask to disappear.

### Examples (*)
- https://github.com/magento/magento2/pull/26611/checks?check_run_id=419074708

### Proposed solution
E

[2020-01-31 12:44] elmahone opened #26613 "Review summary block is not rendered in product page or product listing"
### Preconditions (*)

1. Magento 2.3.3
2. An environment with multiple MySQL instances (3 in this case)

### Steps to reproduce (*)

1. Create a product that can be seen in a product list
2. Enable reviews
3. Add a review to the product

### Expected result (*)

1. Review summary block should display in the product cards and product page with the correct amount of stars

### Actual result (*)

1.

[2020-01-31 12:46] iindranil commented on #26589
Hello @engcom-Echo,

I got the issue and I confirmed that this is not related to Magento core.

This is happening due to one thrid party extension where they have used function `setAreaCode`  in the wrong format.

Thank you for your answer!

[2020-01-31 13:47] magento-engcom-team commented on #26603
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30973` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-01-31 13:59] zkliouel opened #26616 "Create/change one catalog price rule result in all catalog product price and catalog fulltext re-index"
### **Preconditions**

1. Magento 2.3.3
2. Indexing mode set to Update by Schedule

### **Steps to reproduce**
Create/change one a single catalogRule
Run the index cron in order to generate Mviews (e.g. magento cron:run --group=index)

### **Expected result**
invalidate catalogRule  index
reindex catalog_product_price and catalogsearch_fulltext using  products that match the catalogRule

### **Act

[2020-01-31 14:22] Zyles commented on #26539
Still awaiting response. Should I file a new ticket?

[2020-01-31 14:50] rparsi-boxycharm commented on #13996
@misha-kotov Hi, in my project we're using magento 2.3.3. We're seeing this strange issue:
Submitting a product review triggers varnish cache purge.

Why does this happen and where in magento code is this logic?

[2020-01-31 14:53] guoni commented on #26529
Thanks @engcom-Echo.

I have found the problem and it concern the module "paypal/module-braintree": "^3.4".

Explanations :
paypal/module-braintree replace the module magento/module-braintree and the BraintreeAdapterFactory is missing so Magento 2 create automatically the file in generate/code folder with the default parameter $data = []  (the "original" method optionally need a $storeId = null)

[2020-01-31 15:09] GuiltyNL commented on #26557
Note, we have session locking disabled because of a performance issue in our checkout.

[code]

[code]

[2020-01-31 15:30] engcom-Bravo commented on #26578
Hello @christianbookpwood

Thank you for your report.

Unfortunately, we are not able to reproduce this issue. After the upgrade, the listing remained 10, and only 10 products are displayed
![10_per page](https://user-images.githubusercontent.com/51680745/73551031-53114500-444e-11ea-8ebc-eb208ad7eb15.png)

Can you please attach a screenshot with your settings from _Stores - Configuration Catalog -

[2020-01-31 16:08] paul-gene commented on #26149
I am facing this issue even when in `developer` mode, on 2.3.3. I can manually clean out the `generated/code` folder and run my tests, but it still fails

[2020-01-31 16:30] ACassiusD commented on #11897
@arunu Yep, issue still existing on 2.3.2

[2020-01-31 17:31] christianbookpwood commented on #26499
Just wanted to confirm that I manually added the fix provided by @DanieliMi and it has resolved the issue for our Magento 2.3.3 installation.

[2020-01-31 17:33] christianbookpwood commented on #26578
Unfortunately I cannot send you a screenshot from 2.3.4, as we have since downgraded to Magento 2.3.3 which has fixed the issue for us. Would a screenshot from 2.3.3 be of any use?

[2020-01-31 17:48] Kleibert opened #26620 "The website with id 0 that was requested wasn't found."
Hello I have this problem, can someone help me?
I tried several things but it doesn't work, the pages load normally but the php commands don't work on the SSH terminal

### Preconditions (*)

1. PHP 7.2.21
2. MySQL V82
2. Magento 2.3.3

### Steps to reproduce (*)

1.  connect SSh
2.  execute comand php bin/magento cache:clean
3.

### Expected result (*)

1. It should return :Flushed cache types:
c

[2020-01-31 20:39] fj-sfd commented on #23808
After upgrading to 2.3.3, I also had same issue:
[code]
Updating template: \app\design\frontend\THEME\PACKAGE\Magento_Checkout\web\template\billing-address.html
from: \vendor\magento\module-checkout\view\frontend\web\template\billing-address.html
**worked** for me.

[2020-01-31 21:43] Zyles commented on #26484
I just re-produced it on 2.4-dev.

Seems to be a problem with scopes.

In addition to the steps above, do the following:

1. Stores > All Stores. Click "Main Website Store" and change "Default Store View" to the second store view

![image](https://user-images.githubusercontent.com/1741593/73576575-0b54e280-447b-11ea-863e-c8f466999a25.png)

2. Open "Default Store View" and change to status to disab

[2020-02-01 01:53] aligent-lturner opened #26622 "Fixed cart discount calculated incorrectly when product first added to cart."
### Preconditions (*)

1. Magento 2.3.4
2. PHP 7.1+
3. Create a cart price rule for a fixed amount for the whole cart (e.g. $1). The rule should have no conditions attached to it (or restrictions on the items it applies to)
4. Create at least one configurable product with at least one simple product attached to each configurable.
5. Set the price of each item to be $10 (actual price doesn't matter

[2020-02-01 02:04] mrtuvn commented on #26606
@Amiyo-Ghosh if you used redis make sure check redis configuration your env.php in app/etc
You can re-config redis with commands below. This is recommended from magento

[2020-02-01 02:06] aligent-lturner commented on #26622
@magento give me 2.4-develop instance

[2020-02-01 02:06] magento-engcom-team commented on #26622
Hi @aligent-lturner. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-01 02:07] magento-engcom-team commented on #26622
Hi @aligent-lturner, here is your [Magento instance](https://i-26622-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26622-2-4-develop.instances.magento-community.engineering/admin_9f98](https://i-26622-2-4-develop.instances.magento-community.engineering/admin_9f98)
Login: `277ecaa4` Password: `ef4621a07619`
Instance will be terminated in up to 3 hours.

[2020-02-01 02:19] aligent-lturner commented on #26622
Luma does not display discounts in minicart, and I do not have access to the underlying database to confirm the issue in the provided vanilla instance.

[2020-02-01 02:32] aligent-lturner commented on #26622
Actually - I was able to use the database backup functionality to confirm the issue in vanilla instance:

From quote table, after adding 2 $10 items:

[code]

Note the values $19.33 (i.e. a discount of $0.67 has been applied, rather than $1)

And from the quote_item table:
[code]

Here, we can see discounts for the 2 items of $0.33 and $0.34 instead of $0.50 for each.

[2020-02-01 05:39] monotheist commented on #26557
@GuiltyNL Noted. Thanks. I see that your redis frontend configuration is split into two sections. Default and Page_cache. While mine is missing Page_cache. Would this have any impact on caching performance?

[2020-02-01 08:16] GuiltyNL commented on #26557
You should change it to my settings. If you don't have Varnish, you are missing FPC in your setup.

[2020-02-01 13:14] Naeemakhter1999 commented on #23462
How to reindex the indexer in every 5 Minutes in MagentoVersion  2.1.16 ?

[2020-02-01 13:33] rommelfreddy commented on #26553
Hey @engcom-Bravo
you misunderstood me.

You have to different (Magento-)Websites.
In the first website (DE) you have the following conditions:
- Tax 19 % (doesn't matter how it will achieve - easiest way is via the default shipping/invoice address)
- Currency EUR
In the second website (CH) you have the following conditions:
- Tax  7.7%  (doesn't matter how it will achieve - easiest way is via the

[2020-02-01 14:08] monotheist commented on #26557
@GuiltyNL I do have Varnish 6 running.

[2020-02-01 14:13] GuiltyNL commented on #26557
Sorry wasn't paying attention. :(

[2020-02-01 14:22] monotheist commented on #26557
Would you mind disclosing the theme that you are using on your store? I am using Ultimo but now the author has stopped updating.

[2020-02-01 14:45] GuiltyNL commented on #26557
We are using a complete custom made theme. :/

[2020-02-01 15:27] gwharton commented on #26573
It also breaks di compile if dotdigital email is disabled but chat is enabled.

[2020-02-01 16:19] bradjones1 commented on #15209
@ebanolopes Indeed this is not just a Google Cloud issue, however it is pertinent in so far as they are sunsetting related functionality as per above.

I do not have any insight into Magento development priorities; to be honest, I am not a real fan of the product and we are moving away from M2. Sorry I don't have any information for you there. I suspect this issue will either only move forward if

[2020-02-01 20:51] gauravagarwal1001 commented on #26590
@magento give me 2.4-develop instance

[2020-02-01 20:51] magento-engcom-team commented on #26590
Hi @gauravagarwal1001. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-01 20:52] magento-engcom-team commented on #26590
Hi @gauravagarwal1001, here is your [Magento instance](https://i-26590-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26590-2-4-develop.instances.magento-community.engineering/admin_b812](https://i-26590-2-4-develop.instances.magento-community.engineering/admin_b812)
Login: `564fb5ee` Password: `89924c4d4a88`
Instance will be terminated in up to 3 hours.

[2020-02-02 01:59] merance2000 commented on #14443
I'm having same issue

[2020-02-02 04:09] stephenbori commented on #8615
Has their been progress on this as still getting this issue in 2.2.3

[2020-02-02 04:09] shikhamis11 commented on #26620
#MM20IN

[2020-02-02 04:09] GovindaSharma commented on #26518
@magento give me 2.4-develop instance

[2020-02-02 04:09] magento-engcom-team commented on #26518
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-02 04:10] magento-engcom-team commented on #26518
Hi @GovindaSharma, here is your [Magento instance](https://i-26518-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26518-2-4-develop.instances.magento-community.engineering/admin_7a95](https://i-26518-2-4-develop.instances.magento-community.engineering/admin_7a95)
Login: `8b4295df` Password: `945f26169d06`
Instance will be terminated in up to 3 hours.

[2020-02-02 04:10] shikhamis11 commented on #26521
I am working on this issue at #MM20IN

[2020-02-02 04:11] shikhamis11 commented on #23133
I am working on this issue at #MM20IN

[2020-02-02 04:12] sanjay-wagento commented on #26582
#MM20IN

[2020-02-02 04:22] GovindaSharma commented on #26518
#MM20IN

[2020-02-02 04:24] shikhamis11 commented on #26590
I am working on this issue at #MM20IN

[2020-02-02 04:24] GovindaSharma commented on #26567
#MM20IN

[2020-02-02 04:25] mallikaverma commented on #22409
#MM20IN

[2020-02-02 04:26] chirag-d-wagento commented on #26587
I'm working on this issue.

[2020-02-02 04:28] shikhamis11 commented on #24704
I am working on this issue at #MM20IN

[2020-02-02 04:29] nimitagajera commented on #24426
@magento I am working on it

[2020-02-02 04:30] Vijayashanthim commented on #26469
I'm Interested to work on this issue #26469

[2020-02-02 04:30] tejash-wagento opened #26624 "Color swatch tooltip arrow position is not proper on the Product detail page"
### Summary
Color swatch attribute options tooltip arrow position is not proper on the Product detail page

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce

On the Product detail page

### Expected result

![image](https://user-images.githubusercontent.com/15318347/73602948-1c4c4380-45a2-11ea-8bb5-29266ec8873e.png)

### Actual result

![image](https:/

[2020-02-02 04:31] GovindaSharma commented on #26393
#MM20IN

[2020-02-02 04:32] Vijayashanthim commented on #26469
#mm20in

[2020-02-02 04:32] magento-engcom-team commented on #26469
@Vijayashanthim thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-02-02 04:32] shikhamis11 commented on #26620
@magento give me 2.4-develop instance

[2020-02-02 04:32] magento-engcom-team commented on #26620
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-02 04:33] magento-engcom-team commented on #26620
Hi @shikhamis11, here is your [Magento instance](https://i-26620-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26620-2-4-develop.instances.magento-community.engineering/admin_a3e3](https://i-26620-2-4-develop.instances.magento-community.engineering/admin_a3e3)
Login: `b51f21d7` Password: `dc1556e70afe`
Instance will be terminated in up to 3 hours.

[2020-02-02 04:33] balathangam commented on #13440
#mm20in

[2020-02-02 04:33] vignesvaran commented on #26590
#mm20in

[2020-02-02 04:33] magento-engcom-team commented on #13440
@balathangam thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-02-02 04:33] magento-engcom-team commented on #26590
@vignesvaran thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-02-02 04:34] tejash-wagento commented on #26624
#mm20in

[2020-02-02 04:34] dharmendra-wagento commented on #26376
#mm20in

[2020-02-02 04:34] vikalps4 commented on #26513
I am working on this issue at #MM20IN

[2020-02-02 04:37] shikhamis11 commented on #26620
hi @Kleibert
thank you for reporting this issue ..
this issue is not reproducible at magento 2.4-develop instance
please let me know if it requires any additional step to reproduce this issue .

[2020-02-02 04:37] viral-wagento commented on #14373
#MM20IN

[2020-02-02 04:38] lavanyadckap commented on #14134
#mm20in

[2020-02-02 04:38] magento-engcom-team commented on #14134
@lavanyadckap thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-02-02 04:40] ashish-wagento commented on #24426
I am working on it

[2020-02-02 04:40] ashish-wagento commented on #24426
@magento I am working on it

[2020-02-02 04:44] saravanansp96 commented on #24543
#mm20in

[2020-02-02 04:44] magento-engcom-team commented on #24543
@saravanansp96 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-02-02 04:46] vigneshbalasubramani commented on #14885
#mm20in

[2020-02-02 04:46] magento-engcom-team commented on #14885
@vigneshbalasubramani thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-02-02 04:46] sanjay-wagento commented on #26582
@magento-engcom-team I have checked in Magento 2.4-develop branch with custom module and I can not reproduce issue.

[2020-02-02 04:47] wagento-bhavin commented on #26500
@sdzhepa Could you move this issue into ee related repository

[2020-02-02 04:55] sanjay-wagento commented on #26114
#MM20IN

[2020-02-02 04:57] ashish-wagento commented on #24045
#MM20IN

[2020-02-02 05:04] shikhamis11 commented on #24400
#MM20IN

[2020-02-02 05:06] tejash-wagento commented on #26624
Same issue on the category list page
solved on #26625

[2020-02-02 05:12] sdzhepa commented on #26286
@magento give me 2.4-develop instance

[2020-02-02 05:12] magento-engcom-team commented on #26286
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-02 05:12] magento-engcom-team commented on #26286
Hi @sdzhepa, here is your [Magento instance](https://i-26286-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26286-2-4-develop.instances.magento-community.engineering/admin_48cf](https://i-26286-2-4-develop.instances.magento-community.engineering/admin_48cf)
Login: `810b7e13` Password: `73adc26fead9`
Instance will be terminated in up to 3 hours.

[2020-02-02 05:13] gulshanchitransh commented on #26531
I am working on this issue #mm20in

[2020-02-02 05:14] dasharath-wagento commented on #26187
I am working on this issue #mm20in

[2020-02-02 05:14] sanjay-wagento commented on #26107
#MM20IN

[2020-02-02 05:19] shikhamis11 commented on #26286
Hi @sdzhepa
can you please check this issue with the product owner for what will be the actual result for this issue ..
It seems issue for flat rate if setting is per item but it will not be issue for other custom shipping methods

[2020-02-02 05:20] krishprakash commented on #26135
#mm20in

[2020-02-02 05:21] krishprakash commented on #26135
Hi @sdzhepa. can you please provide suggestion for this issue.
Thanks.

[2020-02-02 05:23] wagento-bhavin commented on #25955
#mm20in

[2020-02-02 05:24] krishprakash commented on #26098
#mm20in

[2020-02-02 05:25] krishprakash commented on #26098
@sdzhepa any suggestion for this improvement.
Thanks

[2020-02-02 05:39] magento-engcom-team commented on #26624
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31013` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-02 05:40] krishprakash commented on #24426
@magento give me 2.4-develop instance

[2020-02-02 05:40] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-02 05:41] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_824c](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_824c)
Login: `9d8ca178` Password: `43311f176dfc`
Instance will be terminated in up to 3 hours.

[2020-02-02 05:50] tejash-wagento commented on #26624
I have created Pull request in #26624

[2020-02-02 05:57] sanjay-wagento commented on #26107
@lenaorobei I have reviewed the issue and it seems this is not related to graphql only. The message is comming from Magento core module. It seems above message is not related to virtula product only but it is for all product that does not contain shipping address.

If you think this is valid issue then can you please tell me which type of mesage you want to display through out system for downloada

[2020-02-02 06:03] milindsingh commented on #25490
I am working on this issue #mm20in

[2020-02-02 06:11] sureshsdckap commented on #17164
the issue is not reproducible on 2.4-develop branch
@magento give me 2.3.x instance with sample data

[2020-02-02 06:11] magento-engcom-team commented on #17164
Hi @sureshsdckap. Thank you for your request. I'm working on Magento 2.3.x instance for you

[2020-02-02 06:16] sdzhepa commented on #26098
@magento give me 2.4-develop instance

[2020-02-02 06:16] magento-engcom-team commented on #26098
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-02 06:17] magento-engcom-team commented on #26098
Hi @sdzhepa, here is your [Magento instance](https://i-26098-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26098-2-4-develop.instances.magento-community.engineering/admin_2684](https://i-26098-2-4-develop.instances.magento-community.engineering/admin_2684)
Login: `ffa537b9` Password: `5d681aedd2ee`
Instance will be terminated in up to 3 hours.

[2020-02-02 06:18] dharmendra-wagento commented on #26021
@magento give me 2.4-develop instance

[2020-02-02 06:18] magento-engcom-team commented on #26021
Hi @dharmendra-wagento. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-02 06:19] magento-engcom-team commented on #26021
Hi @dharmendra-wagento, here is your [Magento instance](https://i-26021-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26021-2-4-develop.instances.magento-community.engineering/admin_76a7](https://i-26021-2-4-develop.instances.magento-community.engineering/admin_76a7)
Login: `d1d27ab6` Password: `38dc154c1e0e`
Instance will be terminated in up to 3 hours.

[2020-02-02 06:20] drpayyne commented on #24640
@magento give me 2.4-develop instance

[2020-02-02 06:21] magento-engcom-team commented on #24640
Hi @drpayyne. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-02 06:21] magento-engcom-team commented on #24640
Hi @drpayyne, here is your [Magento instance](https://i-24640-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24640-2-4-develop.instances.magento-community.engineering/admin_48cf](https://i-24640-2-4-develop.instances.magento-community.engineering/admin_48cf)
Login: `4c8c7575` Password: `e2f7fc9e4895`
Instance will be terminated in up to 3 hours.

[2020-02-02 06:27] drpayyne commented on #24640
Issue seems to be fixed in `2.4-develop` and is not reproducible. Closing.

[2020-02-02 06:27] #24640 closed, assigned to nobody

[2020-02-02 06:32] sureshsdckap commented on #17164
@magetno the issue is not reproducible on 2.3.4 version

[2020-02-02 06:37] dharmendra-wagento commented on #26021
Hi @magento-engcom-team ,

Thank you for providing the instance.

I have followed the above steps and tried to re-produce it in the given instance but it's not re-produced. The custom media image is showing properly in front side in product media gallery area.

Herewith I have attached the screen-shot for admin and front-end for the same.

![image-gallery-front](https://user-images.githubuserconte

[2020-02-02 06:48] shikhamis11 commented on #26098
hi @krishprakash @sdzhepa
thanks for clarifications .. It was  intentionally made to improve user experience so I am closing this issue .

[2020-02-02 06:48] #26098 closed, assigned to sdzhepa, sudheer-gajjala

[2020-02-02 07:03] gulshanchitransh commented on #26324
I am working on this issue #mm20in

[2020-02-02 07:53] GovindaSharma commented on #26613
@magento give me 2.4-develop instance

[2020-02-02 07:53] magento-engcom-team commented on #26613
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-02 07:53] magento-engcom-team commented on #26613
Hi @GovindaSharma, here is your [Magento instance](https://i-26613-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26613-2-4-develop.instances.magento-community.engineering/admin_bf44](https://i-26613-2-4-develop.instances.magento-community.engineering/admin_bf44)
Login: `151cb6ea` Password: `8effc726b013`
Instance will be terminated in up to 3 hours.

[2020-02-02 08:21] devamitbera commented on #25186
The issue is produced at Magento at 2.4-develop' branch.

**Original:**

![Screenshot from 2020-02-02 13-51-38](https://user-images.githubusercontent.com/6008488/73605347-292d5f00-45c3-11ea-8ce9-c34293b79254.png)

**after uploaded**

![Screenshot from 2020-02-02 13-50-56](https://user-images.githubusercontent.com/6008488/73605337-1155db00-45c3-11ea-8533-a81850d32d15.png)

[2020-02-02 08:31] princecb commented on #26590
@Jens-Bourgeois This has been fixed and pull request has been created https://github.com/magento/magento2/pull/26642

[2020-02-02 08:43] rohit-wagento commented on #25438
#mm20in

[2020-02-02 08:43] magento-engcom-team commented on #25438
@rohit-wagento thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-02-02 08:47] sanjay-wagento commented on #25518
#MM20IN

[2020-02-02 08:49] chequille opened #26647 "Blank frontend after Upgrade from 2.3.3 to 2.3.4"
Unbelievable,
every version introduces new bugs.
I am not happy currently.
Updated from WORKING 2.3.3 Version to 2.3.4
Now having blank frontend output.

What is this?

[2020-02-02 08:53] vignesvaran commented on #25052
@magento give me 2.3.3 with sample data

[2020-02-02 08:59] vignesvaran commented on #25052
@magento please give me 2.3.3 instance with sample data

[2020-02-02 09:01] sanjay-wagento commented on #25700
#MM20IN

[2020-02-02 09:02] vignesvaran commented on #25052
@magento give me 2.3-develop instance

[2020-02-02 09:02] magento-engcom-team commented on #25052
Hi @vignesvaran. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2020-02-02 09:04] nimitagajera commented on #26432
I am working on it
#mm20in

[2020-02-02 09:08] chirag-d-wagento commented on #25619
I'm working on it #mm20in

[2020-02-02 09:09] tejash-wagento opened #26648 "Table bottom border color different then thead and tbody border color"
### Summary
Table bottom border color different then thead and tbody border color
On table footer border color : #e4e4e4
![image](https://user-images.githubusercontent.com/15318347/73605784-91327400-45c8-11ea-9f46-7590b02e8d2d.png)

But table other row border color: #CCCCCC
![image](https://user-images.githubusercontent.com/15318347/73605849-76143400-45c9-11ea-93d4-d372a733fa73.png)

### Precondit

[2020-02-02 09:09] tejash-wagento commented on #26648
#mm20in

[2020-02-02 09:15] milindsingh commented on #25468
I am working on this in #mm20in

[2020-02-02 09:21] chirag-wagento opened #26652 "In the minicart edit and remove icon is not aligned."
### Summary
In the minicart edit and remove icon is not aligned with a qty input box.
### Preconditions
1. Magento 2x - This issue reproduce in all version.
### Steps to reproduce
 Add any item in the cart and check minicart edit and remove icon is not aligned with a qty input box.

### Expected result

![image](https://user-images.githubusercontent.com/15214167/73605984-33ebf200-45cb-11ea-85a2-ed

[2020-02-02 09:22] chirag-wagento commented on #26652
#mm20in

[2020-02-02 09:28] chequille commented on #26647
Makes no sense to test with vanilla, because it seems that the problem is in my own theme, but no idea what changed regarding own themes.

Any idea how I can find whats wrong now?
Getting no errors, makes it more difficult to find.

[2020-02-02 09:33] chequille commented on #26647
New information:

when looking at the source code of the blank page, I find the following:

[code]

[2020-02-02 09:39] vikalps4 commented on #25754
I am working on this issue at #MM20IN

[2020-02-02 09:49] shikhamis11 commented on #26449
@magento give me 2.4-develop instance

[2020-02-02 09:49] magento-engcom-team commented on #26449
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-02 09:50] magento-engcom-team commented on #26449
Hi @shikhamis11, here is your [Magento instance](https://i-26449-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26449-2-4-develop.instances.magento-community.engineering/admin_34c2](https://i-26449-2-4-develop.instances.magento-community.engineering/admin_34c2)
Login: `c42e9552` Password: `e7b88a189aa3`
Instance will be terminated in up to 3 hours.

[2020-02-02 10:17] Puru2016 commented on #10697
I am still facing this issue in 2.3.2.
I have already created categories and importing the products using CSV.
I am getting same error:-
`Additional data: Invalid URL key`

Please let me know what is proper fix for this issue.

[2020-02-02 10:44] chequille commented on #26647
Ok, reverted back to 2.3.3 and everything is working.
Hopefully somebody will answer to this and have a solution for this problem.

[2020-02-02 10:54] krishprakash commented on #26648
@magento give me 2.4-develop instance

[2020-02-02 10:55] magento-engcom-team commented on #26648
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-02 10:55] magento-engcom-team commented on #26648
Hi @krishprakash, here is your [Magento instance](https://i-26648-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26648-2-4-develop.instances.magento-community.engineering/admin_fa60](https://i-26648-2-4-develop.instances.magento-community.engineering/admin_fa60)
Login: `5ca01748` Password: `ec368bb86ca3`
Instance will be terminated in up to 3 hours.

[2020-02-02 10:59] sureshsdckap commented on #26596
@wbfiretoss, I have installed Magento commerce and deploy the sample data.
Didn't the face the above issue.

Could you please let me check and let me know if i need to proceed with anyother steps.

[2020-02-02 12:25] chequille commented on #26647
Got it !
In module_customer default.xml, there was a change in the block customer.section.config
There is now a argument name="sectionNamesProvider".
This argument was missed in my layout file. This causes the error when trying to call getSectionNames().

[2020-02-02 12:25] #26647 closed, assigned to nobody

[2020-02-02 12:41] hostep commented on #26647
Good that you found a solution @chequille

Issue was introduced by https://github.com/magento/magento2/commit/d6ef3ef017dc33c12d489c3e2923d3c2f3c4d6de#diff-9befd0fa1a9fa40bd79ea89372d51c98R19-R20
The template assumes an argument `sectionNamesProvider` always exists in every single instance of that particular block.

@maghamed & @nathanjosiah: this is another example of the thing we talked about la

[2020-02-02 14:29] SergioMordente opened #26664 "Is changing store_Id in quote possible?"
In Magento 2.3.3 I have two stores and I use the API to create a cart and add the products with a Java application. This quote / cart is created using the client's token for / rest / V1 / carts / mine with store_id from the main store, until then everything worked perfectly. In the step of defining the delivery method I need to change the store_id for the store that will fulfill the order, and the

[2020-02-02 16:53] mustdobetter commented on #26437
Thank you for working on this @rav-redchamps, and for providing a fix.

[2020-02-02 18:03] nik4152 commented on #26465
Hi @afavata @LucasMaliszewski
you can add the code in file
vendor/magento/framework/DB/Adapter/Pdo/Mysql.php
line 1846
after line
`case 'smallint':`
add
`case 'smallint unsigned':`
and
after line
`case 'int':`
add
"case 'int unsigned':"

or full method code
[code]
Please let me know if works

[2020-02-02 20:42] Mirat-pl-eu opened #26666 "Magento 2.3.1 problem z GA"
Hello,
Help, Magento 2.3.1 doesn't count my transactions.
What's the problem?

[2020-02-02 21:27] cse00241 opened #26667 "After Migration from Magento 1.9.4 to 2.3.1 Customer can't login"
After migration Magento 1.9.4 to Magneto 2.3.1 Using Uber Theme Can't Login Customer Account.

` php -f bin/magento customer:hash:upgrade`
This command used but its not working.

user : mahbub0047@gmail.com not work cause it has password has like: $2y$10$PTpXmxtV1U4MrGOCs302..naVdKUgwBlXVNykc504nVfrHn9.TLr6:0

But a user from old version magento did work fine cause it has like: 914f122d6b829b371ca

[2020-02-02 21:33] cse00241 opened #26668 "After Migration from Magento 1.9.4 to 2.3.1 Customer can't login"
Summary
I recently Migrate to Magento 1.9.4 to Magento 2.3.1. But Some of my customers can't log in to there account. I did found the issue why it happen:
`php -f bin/magento customer:hash:upgrade`
This command used but it's not working.
user: mahbub0047@gmail.com does not work cause it has the password has like $2y$10$PTpXmxtV1U4MrGOCs302..naVdKUgwBlXVNykc504nVfrHn9.TLr6:0

But a user from old ve

[2020-02-02 21:44] cse00241 opened #26669 "After Migration from Magento 1.9.4 to 2.3.1 Customer can't login"
**Summary**
I recently Migrate to Magento 1.9.4 to Magento 2.3.1. But Some of my customers can't log in to there account. I did found the issue why it happen:
`php -f bin/magento customer:hash:upgrade`
This command used but it's not working.
user: mahbub0047@gmail.com does not work cause it has the password has like $2y$10$PTpXmxtV1U4MrGOCs302..naVdKUgwBlXVNykc504nVfrHn9.TLr6:0

But a user from ol

[2020-02-02 21:45] #26668 closed, assigned to nobody

[2020-02-02 21:52] cse00241 commented on #26667
Duplicate

[2020-02-02 21:52] #26667 closed, assigned to nobody

[2020-02-03 03:14] adarshkhatri opened #26670 "Permission Issue for Admin User"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)

1. Create an User
2. Add permission to
   a. view order
    b. add comment
    c. edit order

### Expected result (*)

1. Admin user should have Order view/edit/add comment permission.

### Actual result (*)

1. Doesn't allow to add comment. No comment form in order view page.
2. Doesn't allow to edit order billing/shipping addres

[2020-02-03 03:14] adarshkhatri commented on #26670
@magento give me 2.3.3 instance

[2020-02-03 03:14] magento-engcom-team commented on #26670
Hi @adarshkhatri. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-02-03 03:15] magento-engcom-team commented on #26670
Hi @adarshkhatri, here is your [Magento instance](https://i-26670-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-26670-2-3-3.instances.magento-community.engineering/admin_c067](https://i-26670-2-3-3.instances.magento-community.engineering/admin_c067)
Login: `46ed7a9d` Password: `764b529fe3d1`
Instance will be terminated in up to 3 hours.

[2020-02-03 03:22] #26670 closed, assigned to nobody

[2020-02-03 03:58] Mathanagopal97 commented on #26587
@chirag-d-wagento Were you able to reproduce the issue in magento 2.4-develop?

[2020-02-03 04:29] bap14 opened #26671 "One Step Checkout Billing Fails To Load With Virtual Items and No Default Shipping Address"
### Preconditions (*)
1. Magento 2.3.4
2. PHP 7.3
3. Found in production

### Steps to reproduce (*)
1. Create new store running Magento 2.3.4
2. Enable One Step Checkout
3. Create virtual item (simple product, no weight)
4. Create customer account on frontend
5. Create address for customer, set only as "Default Billing Address"
6. Add virtual product to cart and proceed to checkout
7. If not logg

[2020-02-03 04:29] bap14 commented on #26671
@magento give me 2.4-develop instance

[2020-02-03 04:29] magento-engcom-team commented on #26671
Hi @bap14. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-03 04:30] magento-engcom-team commented on #26671
Hi @bap14, here is your [Magento instance](https://i-26671-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26671-2-4-develop.instances.magento-community.engineering/admin_3868](https://i-26671-2-4-develop.instances.magento-community.engineering/admin_3868)
Login: `e4627a51` Password: `111843dd7b50`
Instance will be terminated in up to 3 hours.

[2020-02-03 05:10] sreenathnr-tm commented on #4911
Any update on this issue?

[2020-02-03 05:57] bap14 commented on #26671
With the development instance provided I was not able to reproduce this issue. Will close this issue as invalid as I can't reproduce it in the test environment.

[2020-02-03 05:57] #26671 closed, assigned to nobody

[2020-02-03 06:25] Bhavik-kumar commented on #25390
is any one confirm that this is fixed with 2.3.4 ?

[2020-02-03 06:38] sunilit42 opened #26672 "Product url key allowing space into url"
### Preconditions (*)

1. latest magento version
2. edit any product and add space into url key

### Steps to reproduce (*)

1. edit any product and add space into url key

### Expected result (*)

1. it should be give error msg your URL key is wrong or trim space from it

### Actual result (*)

1.  it is saving url key without any error message

[2020-02-03 06:38] sunilit42 commented on #26672
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-02-03 06:39] magento-engcom-team commented on #26672
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-03 06:39] magento-engcom-team commented on #26672
Hi @sunilit42, here is your [Magento instance](https://i-26672-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26672-2-4-develop.instances.magento-community.engineering/admin_1a05](https://i-26672-2-4-develop.instances.magento-community.engineering/admin_1a05)
Login: `8e4435bd` Password: `15aafc0b363d`
Instance will be terminated in up to 3 hours.

[2020-02-03 06:41] ajijshekh123 commented on #26597
Hi @moloughlin,
Any update??

[2020-02-03 06:43] sunilit42 commented on #26672
Screenshot of Proof:-
![image](https://user-images.githubusercontent.com/2923438/73631310-994ceb00-467e-11ea-98f0-9a6d5cff53e8.png)

[2020-02-03 06:45] ajijshekh123 commented on #26672
Wait @sunilit42 , Let me verify this issue and update it.

[2020-02-03 06:46] sunilit42 commented on #26672
@ajijshekh123  i already checked and verify it and i added a screenshot for the same.

[2020-02-03 06:47] ajijshekh123 commented on #26672
Hello @sunilit42 ,
The product is saved in the admin section but In Front end view Product URL is not open and Trim functionality is not applied.

Thanks.

[2020-02-03 06:48] magento-engcom-team commented on #26672
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31014` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-03 08:11] engcom-Bravo commented on #26578
Hello @christianbookpwood

Thank you for the response

Yes, please attach a screenshot from 2.3.3. We want to see the settings before the upgrade.

Thank you

[2020-02-03 08:42] seb-jean opened #26673 "Display Out of Stock configurable product options"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. A configurable product with only one attribute for variant (just size, not color)
2. 3 simple products with attribute size : XL (stock 0) L (stock 100), S (stock 100).
3. Go to the product page

### Expected result (*)

1. Have the product with the 3 sizes displayed (XL, L, XS)

### Actual result (*)

1. I have the product wit

[2020-02-03 09:04] ajijshekh123 commented on #26673
Give me @magento give me 2.4-develop instance

[2020-02-03 09:04] magento-engcom-team commented on #26673
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-03 09:05] magento-engcom-team commented on #26673
Hi @ajijshekh123, here is your [Magento instance](https://i-26673-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26673-2-4-develop.instances.magento-community.engineering/admin_0a98](https://i-26673-2-4-develop.instances.magento-community.engineering/admin_0a98)
Login: `1f8786df` Password: `c6d01d0a76fa`
Instance will be terminated in up to 3 hours.

[2020-02-03 09:27] chirag-d-wagento commented on #26587
Yes I was able to reproduce this issue in 2.4-develop branch

[2020-02-03 09:32] ajijshekh123 commented on #26673
Hello @seb-jean,
I have verified this issue as per your steps and review the Actual and Expected result.
I didn't reproduce this issue in Default Magento 2.4 Instance.
Please review attached the screenshot and Let me know Should I close this issue or not?
If you have added an extension or library please let me know.

**Admin_Screenshot:**
![AdminScreenshot](https://user-images.githubusercontent.co

[2020-02-03 09:38] seb-jean commented on #26673
I see that you have the same problem: XL is not displayed.

[2020-02-03 09:41] ajijshekh123 commented on #26673
Okay, I understand @seb-jean, It should be there on the front end and when the user selects the XL option, "Out of stock" status should be displayed.
Am I Right @seb-jean?

[2020-02-03 09:42] seb-jean commented on #26673
You are right :)

[2020-02-03 09:43] magento-engcom-team commented on #26673
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31017` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-03 09:55] marcusirgens commented on #26284
Confirming we're seeing this issue on 2.3.2 when trying to create an offline memo as well:
![Order](https://i.imgur.com/EBLdmbL.png)

When trying to credit memo:
![Credit memo](https://i.imgur.com/Obis1tE.png)

[2020-02-03 09:57] engcom-Bravo commented on #26553
Hello @rommelfreddy

- Can you please clarify what Product price do you set on step 6?
![prod_price](https://user-images.githubusercontent.com/51680745/73642451-643e9980-467a-11ea-8fb8-14ba3720038e.png)
Because in expected result, you subtract 19% out of it:
_DE-Gross / DE-Tax = DE-NET (35.30 / 1.19 = 29.66)_
Does it mean that the original price of the product is 29.66 ?

- Why do you divide 35.3

[2020-02-03 09:58] krishprakash commented on #26673
Hello @seb-jean,
Thank you for report.
This issue is duplicate to #16069 and already discussed many times.
You can track the conversation from above issue id.

[2020-02-03 09:58] #26673 closed, assigned to nobody

[2020-02-03 10:14] magento-engcom-team commented on #26652
@sudheers-kensium Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-02-03 10:15] seb-jean commented on #26673
So in fact this is normal behavior?

[2020-02-03 10:16] magento-engcom-team commented on #26652
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31018` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-03 10:18] magento-engcom-team commented on #26492
:white_check_mark: Confirmed by @engcom-Kilo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31019` were created

**Issue Available**: @engcom-Kilo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-03 10:20] engcom-Delta commented on #13983
Hi @Sathishkumar8731, thanks for update.

[2020-02-03 10:21] magento-engcom-team commented on #13983
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31020` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-03 10:22] ioweb-gr commented on #26492
Let me note that most developers in order to work around the issue encode the widgets in base64 encoding. That way they bypass the issue however, base64 encoding is not possible to fail-safe detect as there are many false positives in all detection mechanisms so nested widgets are very prone to break with this approach because you can never be 100% sure the string was encoded in the first place.

[2020-02-03 10:31] devchris79 opened #26675 "Date incorrect on pdf invoice"
### Preconditions (*)

1. Magento 2.4-develop
2.

### Steps to reproduce (*)

1. Go to Sales->Orders, select an order and then try to "print invoices"

### Expected result (*)

1. Date to reflect purchase date

### Actual result (*)

1. Dates are incorrect, we have 2006 and 2008 for orders, before the website was developed....
2. Dates were fine in 2.3.2.
[#26665issueInvoice.pdf](https://github.co

[2020-02-03 10:31] engcom-Bravo commented on #26592
Hello @nbennett25

Did this help to resolve your issue?

Thank you

[2020-02-03 11:02] textarea commented on #26582
@sanjay-wagento can you share your custom module?

[2020-02-03 11:05] duongnvk55 commented on #10737
Hi guys,
I tested this ticket on Magento Fresh 2.3 and found the problem of the issue.
My solution: after saved option to attribute, we will need to get option_id and add to swatch attribute, like this :
`private function saveSwatchValue(
        \Magento\Eav\Api\Data\AttributeOptionInterface $option,
        \Magento\Eav\Api\Data\AttributeInterface $attribute,
        string $optionLabel
    ){

[2020-02-03 11:17] duongnvk55 commented on #10737
Hi guys,
I tested this ticket on Magento Fresh 2.3 and found the problem of the issue.
My solution: after saved option to attribute, we will need to get option_id and add to swatch data, like this :
1. Function add option to attribute

[code]
2. function save option_id to swatch
[code]

[2020-02-03 11:24] engcom-Bravo commented on #26604
Hello @jonathan-martz

Thank you for your report

When updating to Magento 2.3.3, before updating the composer, please use the following commands:
1. ```php bin bin/magento maintenance:enable```
2. ```composer remove magento/product-community-edition --no-update```
3. ```composer require magento/product-community-edition=2.3.3 --no-update```
4. ```composer require --dev allure-framework/allure-php

[2020-02-03 11:29] salehawal opened #26676 "Add/Edit Product | Duplicating ".00" zeros on saves"
### Preconditions (*)
1. Magento 2.3.1
2. php 7.2

### Steps to reproduce (*)
1. Open Admin
2. Change to Arabic Store ( it only happens there )
from the top right click admin -Account settings
change the **Interface locale** to _Arabic (Egypt)_ for example
3. Go to Catalog/Products
4. Edit a Product
5. Save Multiple Times and you will see the price added (.00) on each Save you make

### Expected r

[2020-02-03 11:51] hostep commented on #26592
@mrtuvn, @engcom-Bravo, please don't give such advise, that's really bad.

@nbennett25: have you tried running `composer require --no-update magento/product-community-edition 2.3.4` followed by `composer update`? Maybe that solves it, there is a bug in composer where it doesn't try it's very best to solve all dependencies when running `require`.

You could also try running `composer why-not magent

[2020-02-03 12:13] jonathan-martz commented on #26604
Fails on Step 5, because php 7.3 isnt compatible.
If i skip that it works, like expected because magento 2.3.3 isnt my problem.

I want to install 2.3.4, bot ;)

When i add 2.3.4 to composer.json and try update again, it fails because of:
Your requirements could not be resolved to an installable set of packages.

[2020-02-03 12:13] developeruserextension commented on #18091
@nileshsaste I have solved my problem. Please check on your page if any additional jQuery file has been added with another version. Because in my case different jQuery version were conflicting fotorama.

[2020-02-03 12:21] engcom-Bravo commented on #26501
@nickpiro

Great that it helped.

Turned out that there has been a fix related to this behavior
![DeepinScreenshot_select-area_20200203141618](https://user-images.githubusercontent.com/51680745/73652699-25b3d980-4690-11ea-879b-fda88adc02e8.png)

This issue will not appear on Magento 2.3.4

We have to close this issue.

Thank you for collaboration

[2020-02-03 12:21] #26501 closed, assigned to engcom-Bravo

[2020-02-03 12:32] engcom-Delta commented on #10737
Hi @harperruss, thank you for your report. Unfortunately, I am not able to reproduce issue by steps you described on clean 2.4-develop.

**Manual testing scenario:**

- Create a new product attribute with a type of Visual Swatch.
![#10737issueSwathAdmin](https://user-images.githubusercontent.com/51681379/73652995-e5089000-4690-11ea-8f0a-e53356061c34.png)
![#10737issueSwatchDB](https://user-images.

[2020-02-03 12:34] engcom-Bravo commented on #26604
Hello @jonathan-martz

In the first **Step to Reproduce** you've set _Update Magento2 to **2.3.3**_

If you face the same with upgrading to Magento 2.3.4, please try to
- install php 7.2
- on the step3 change the 2.3.3 to 2.3.4 ```composer require magento/product-community-edition=2.3.4 --no-update```

Thank you

[2020-02-03 12:35] magento-engcom-team commented on #26587
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31033` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-03 12:36] engcom-Alfa commented on #26587
Reproduced on 2.4-develop

**Actual Result:**
![test](https://user-images.githubusercontent.com/51679138/73653731-8f34e780-4692-11ea-9718-8f8cabbf9bcc.gif)

[2020-02-03 12:37] jonathan-martz commented on #26604
No everything works well with 2.3.3.
With 2.3.4 it fails, like always.
Tried many things like clean cache, no-update stuff, install with composer install and no lock or composer update with no lock.

[2020-02-03 12:40] harperruss commented on #10737
@engcom-Delta If you don't send the "value" in the payload or try null or "" it will not create a record in eav_attribute_option_swatch.

We are using visual swatches but the image is coming from the swatch image attribute attached to the product not as a hex colour defined against the attribute:

{
    "option": {
        "label": "red",
        "is_default": "false",
        "sort_order": 0,

[2020-02-03 12:46] engcom-Bravo commented on #26604
@jonathan-martz

Thank you for the quick response.

As we understand, you've tried to use the following command line, correct? ```composer require magento/product-community-edition=2.3.4 --no-update```

[2020-02-03 13:08] anvanza commented on #26675
Same issue here but my dates are way higher.
<img width="212" alt="Screenshot 2020-02-03 at 14 01 43" src="https://user-images.githubusercontent.com/2848347/73655281-f00df100-468d-11ea-911d-cf540f2666db.png">

[2020-02-03 13:27] engcom-Delta commented on #10704
@nadeefit6 @rafaelcalero we are closing this issue due to inactivity. If you'd like to update the issue, please reopen it.

[2020-02-03 13:27] #10704 closed, assigned to Den4ik, engcom-Delta

[2020-02-03 13:27] nickpiro commented on #26501
I too found those changes and made them but they did not correct the issue. I'm still receiving the duplicate key name issue.

[2020-02-03 13:28] nickpiro commented on #26501
@engcom-Bravo this issue should not be closed. I am still not able to upgrade to 2.3+ due to this issue!

[2020-02-03 13:32] nickpiro commented on #26501
It seems the setup/Schema/AddProductIdConstraint.php is not included in 2.3.4, but is in 2.3.3. There are also changes that were done to db_schema_whitelist.json but none of them seem to make a difference with my issue that I am seeing.

Should the setup/Schema/AddProductIdConstraint.php be used? Or the updates to the db_schema_whitemist.json?

I need help with this!

[2020-02-03 13:36] jonathan-martz commented on #26604
Yes.
Result is:
Could not find package magento/product-community-edition in a version matching 2.3.4

[2020-02-03 13:41] nickpiro commented on #26501
I think the issue lies somewhere in here:

<constraint xsi:type="foreign" referenceId="WISHLIST_CUSTOMER_ID_CUSTOMER_ENTITY_ENTITY_ID" table="wishlist"
                    column="customer_id" referenceTable="customer_entity" referenceColumn="entity_id"
                    onDelete="CASCADE"/>
        <constraint xsi:type="unique" referenceId="WISHLIST_CUSTOMER_ID">
            <column name="custo

[2020-02-03 13:57] samcantineau commented on #11141
I'd like this issue reopened, as it is still present in version 2.3. There is currently no way that I am able to specify customizable option titles on a store view level, everything else gets overwritten.

[2020-02-03 13:57] Jens-Bourgeois commented on #26590
Great thx!

[2020-02-03 13:59] renard123 opened #26677 "Show by not working at one stage in address book"
Show by not working at one stage in address book

### Preconditions (*)
Magento: 2.3.3

### Steps to reproduce (*)
- Register into store
- Address Book
- Add billing/shipping address
- Additional addresses -> Add 11 addresses
- Click on Show by to 20 (Working fine)
- Revert to Show by to 10 (Working fine)
- Click on 2nd pagination (Working fine)
- Repeat the process
- Click on Show by to 20 (Issue

[2020-02-03 14:21] engcom-Bravo commented on #26604
@jonathan-martz

This error usually occurs if try to update a git version using a composer update.
![invalidargument](https://user-images.githubusercontent.com/51680745/73660414-d1652580-46a0-11ea-9a82-4137364a02e3.png)

- Do you experience the same error as on the screenshot?
- Is your current Magento 2.3.3 is a git version?

Thank you in advance

[2020-02-03 14:27] Adam-Young commented on #3923
... any updates yet on this - I'm also getting the exact same color and size validation errors form a direct export / import on the same site without any differences in locale

[2020-02-03 14:27] engcom-Echo commented on #26664
Hi, @SergioMordente, Thank you for your report.

You create a quote for an individual store using parameter /rest/<store_id>/V1/carts/mine.
Change "store_id" for the created quote impossible.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue

[2020-02-03 14:27] #26664 closed, assigned to engcom-Echo

[2020-02-03 14:27] jonathan-martz commented on #26604
![magento-update-2 3 4](https://user-images.githubusercontent.com/20771653/73660977-8b589380-4699-11ea-8da2-30397178b895.png)

What do you mean with git version?
Iam using composer to update the project.

[2020-02-03 14:35] digitalbricklayer opened #26678 "Magento UI Library markup removed from product text"
### Preconditions (*)

1. Magento 2.3.4 open source
2.

### Steps to reproduce (*)

1. Edit a product. Put the product text into HTML mode. Place ```<i class="fa fa-times" aria-hidden="true"></i>``` (from the Magento UI library) inside the product description.
2. Save & Close the product
3. Examine the product in the frontent. The "x" will be displayed on the product page
4. Edit the product again

[2020-02-03 14:38] ageffray opened #26679 "Billing_region field name on customer grid"
### Summary (*)
On sales_order_create_customer_block.xml column for billing region is missnamed "billing_regione" instead of "billing_region"

### Examples (*)
in sales_order_create_customer_block.xml:73 and on sales/Model/ResourceModel/Order/Customer/Collection.php:41

### Proposed solution
Rename "billing_regione" to "billing_region"

[2020-02-03 14:39] engcom-Bravo commented on #26604
When you installed the current Magento 2.3.3 did you:
- clone it from github?
OR
- installed it via composer like ```composer create-project --repository=https://repo.magento.com/ magento/project-community-edition=2.2.3 .``` ?

[2020-02-03 14:48] jonathan-martz commented on #26604
I used composer create-project.

[2020-02-03 14:49] ngreimel-lt opened #26680 "Disabled products not being removed from existing customer carts"
### Preconditions (*)

1. Magento 2.3.2 (Upgrade from 2.2.6)
2. Magento Cloud environment

### Steps to reproduce (*)

1. Start logged in session for customer 1.
2. Add a product A to customer 1's cart.
3. As an admin, disable product A.
4. Return to customer 1's session.
5. Add product B to customer 1's cart.
6. View cart

### Expected result (*)

1. Expect to see product B in the cart.
2. Expect

[2020-02-03 14:51] magento-engcom-team commented on #26679
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31038` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-03 14:53] digitalbricklayer commented on #26678
@magento give me 2.3.4 instance-26678

[2020-02-03 14:53] magento-engcom-team commented on #26678
Hi @digitalbricklayer. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-02-03 14:53] magento-engcom-team commented on #26678
Hi @digitalbricklayer, here is your [Magento instance](https://i-26678-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-26678-2-3-4.instances.magento-community.engineering/admin_45da](https://i-26678-2-3-4.instances.magento-community.engineering/admin_45da)
Login: `f51cd798` Password: `e3cff4aaac02`
Instance will be terminated in up to 3 hours.

[2020-02-03 15:02] digitalbricklayer commented on #26678
I have managed to reproduce using the Magento instance provided except that the cross was not displayed on the product page. It was present in the HTML source code but was not displayed in the browser, presumably because Font Awesome was not available.

[2020-02-03 15:03] opensourcelib commented on #23581
Maybe I'm little late about this issue but just in case someone gets this problem in the future this will be "helpful".
According to Galera Cluster this issued is part of the  Known Limitation to be able to run that query you need to change the value of the variable "pxc_strict_mode" to DISABLED or PERMISSIVE  for more details please read    [Percona website](https://www.percona.com/doc/percona-xt

[2020-02-03 15:05] lenaorobei commented on #26107
Hi @sanjay-wagento! Please have a look at the comment from @pmclain. This is the best option we have now - change the exception message.

[2020-02-03 15:07] engcom-Bravo commented on #26604
Can I please ask you to try one more thing, because it all looks like an OS-specific issue, not a general Magento issue.

Can you please try to create a new folder on your machine, and try to create a new Magento instance
```composer require magento/product-community-edition=2.3.4 --no-update```

Let's see if any error occurs.

Sorry for so many questions. We try to reproduce this, but no results

[2020-02-03 15:20] hunterallen commented on #23908
I am able to reproduce this in 2.3.4

[2020-02-03 15:20] jonathan-martz commented on #26604
It works but the reason is that he isnt using toran as proxy, which uses repo.magento.com.

[2020-02-03 15:30] jonathan-martz commented on #26604
Looks like using repo.magento.com works because composer project use repo.magento.com.
The Problem is Toran i think.

[2020-02-03 15:32] nbennett25 commented on #26592
@engcom-Bravo, @mrtuvn  - ultimately we were able to get this working by removing `sebastian/phpcpd` - it was requiring `phpunit/phpunit` which requires `php 7.0`, and M2.3.4 requires 7.1+

[2020-02-03 15:32] #26592 closed, assigned to engcom-Bravo

[2020-02-03 15:36] bubasuma commented on #18057
This issue is fixed in 2.3.4 https://github.com/magento/magento2/commit/1963fd0915e9a3b76871bbe0b8cb43850bc150f1

[2020-02-03 15:43] magento-engcom-team commented on #18057
Hi @jakubderdziak, @bubasuma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-21117` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

[2020-02-03 15:57] magento-engcom-team commented on #18057
Hi @jakubderdziak, @bubasuma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24569` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

[2020-02-03 15:57] #18057 closed, assigned to bubasuma

[2020-02-03 16:09] guido7171 commented on #21885
Also missed the 2.3.4 ship. @jalung 's patch is working fine for me in 2.3.4. Still needs more testing, for my case, where images are updated by sku, but have same name.jpg.

[2020-02-03 16:11] saigadekar commented on #11754
Hi

.gallery-placeholder{ width: 100%; } not working on magento 2.3.3

[2020-02-03 16:19] NathMorgan opened #26682 "Magento 2.3.4 Quote Address Extension Attribute Issue"
### Preconditions (*)

1. Using Magento 2.3.4
2. USing a custom extension attribute on `Magento\Quote\Api\Data\AddressInterface` Example module here: https://github.com/NathMorgan/module-test-module

### Steps to reproduce (*)
1. Sending a post request to `estimate-shipping-methods` containing a `extension_attributes`

For example a post request to `/rest/default/V1/guest-carts/{cartId}/estimate-s

[2020-02-03 16:21] jonathan-martz commented on #26604
... doesnt works Toran is the Problem.

[2020-02-03 16:27] christianbookpwood commented on #26578
Here you go:

![storefront config](https://user-images.githubusercontent.com/48963551/73670933-14f76980-4678-11ea-949e-3c0abde235ae.png)

[2020-02-03 18:56] bve-9384 commented on #25199
Migrated to MariaDB 10.4.12 on my M2.1.7 install with 6000 products (centos 8, php7.0)
Indexing seems to be OK, plan to migrate to M2.3 within the next few weeks
[code]

[2020-02-03 19:08] milindsingh commented on #25490
I am closing this issue as it seems the fix may break things in an unexpected manner.

Earlier:
`defaultShipping1` -> `default_shipping1`
Now:
`defaultShipping1` -> `default_shipping_1`

So, If my column is default_shipping1 then it will not store data now.

The recommended snake case is `default_shipping1` which is already followed by Magento.

[2020-02-03 19:08] #25490 closed, assigned to antbates91

[2020-02-03 19:47] matheusgontijo commented on #4662
Thanks @willstorm !!!

[2020-02-03 20:15] rommelfreddy commented on #26553
Hello @engcom-Bravo
i inserted the gross price.

Your calculation is not correct.
19% of 35.3 € are 6.707, thats correct. - but this is not the tax. it is only 19%
the tax will always added to the net amout. so the net amount are 100%. after you added 19% tax (of the 100% net) you have 119% (of net) --> the gross price

do you understand? (but this is simple tax calculation - so you should get it

[2020-02-03 20:39] logaretm opened #26683 "Unable to execute addSimpleProduct mutation while other items out of stock"
### Summary (*)

We are using Magento as a headless backend for our front-facing application, we are using the GraphQL API to build the frontend.

We noticed if we added a product to cart, and that product later became **out of stock**, any further attempts to add items to cart will fail with `Some cart items are out of stock` effectively locking up the cart from adding other items or changing oth

[2020-02-03 20:40] logaretm commented on #26683
@magento give me 2.4-develop instance

[2020-02-03 20:40] magento-engcom-team commented on #26683
Hi @logaretm. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-03 20:41] magento-engcom-team commented on #26683
Hi @logaretm, here is your [Magento instance](https://i-26683-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26683-2-4-develop.instances.magento-community.engineering/admin_c31c](https://i-26683-2-4-develop.instances.magento-community.engineering/admin_c31c)
Login: `b054e3e7` Password: `656c5038bda6`
Instance will be terminated in up to 3 hours.

[2020-02-03 21:15] dyushkin commented on #26377
Hello @diazwatson!
I have created an internal Magento ticket `MC-31046`. The fix should be completed and delivered into the `2.4-develop` branch with internal PR.
Thank you for your collaboration.

[2020-02-03 21:25] diazwatson commented on #10737
@harperruss could reproduce the issue in `2.4-develop` branch?

[2020-02-03 22:07] DavaGordon commented on #26377
This comes in tomorrow so a fix is a pretty high priority as it will affect a lot of payment gateways thus making the checkout process impossible

[2020-02-03 22:43] ron-sooryen commented on #6817
Related tickets:
https://github.com/magento/magento2/pull/11958
https://github.com/magento/magento2/issues/6817
https://github.com/magento/magento2/issues/16149
https://github.com/magento/magento2/issues/5959
https://github.com/magento/magento2/issues/13690

[2020-02-03 22:43] ron-sooryen commented on #16149
Related tickets:
https://github.com/magento/magento2/pull/11958
https://github.com/magento/magento2/issues/6817
https://github.com/magento/magento2/issues/16149
https://github.com/magento/magento2/issues/5959
https://github.com/magento/magento2/issues/13690

[2020-02-03 22:43] ron-sooryen commented on #5959
Related tickets:
https://github.com/magento/magento2/pull/11958
https://github.com/magento/magento2/issues/6817
https://github.com/magento/magento2/issues/16149
https://github.com/magento/magento2/issues/5959
https://github.com/magento/magento2/issues/13690

[2020-02-03 22:43] ron-sooryen commented on #13690
Related tickets:
https://github.com/magento/magento2/pull/11958
https://github.com/magento/magento2/issues/6817
https://github.com/magento/magento2/issues/16149
https://github.com/magento/magento2/issues/5959
https://github.com/magento/magento2/issues/13690

[2020-02-03 22:54] ron-sooryen commented on #22112
Related tickets:
#11958
#6817
#16149
#5959
#13690

[2020-02-04 04:28] magentopits commented on #26565
Any update on this issue ?

[2020-02-04 04:34] dasharath-wagento commented on #26187
@Zyles
You can simply remove  the Yotpo module using composer.json by below way in replace object of JSON,

"replace": {
        "yotpo/magento2-module-yotpo-reviews": "*"
    },

You have to add above data in your Magento root composer.json file with replace the object.

Run command from Magento SSH,

composer update
Your  the Yotpo module will be removed from the core code after composer update.

[2020-02-04 04:43] ajijshekh123 commented on #26680
Give me @magento give me 2.4-develop instance

[2020-02-04 04:43] magento-engcom-team commented on #26680
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-04 04:43] magento-engcom-team commented on #26680
Hi @ajijshekh123, here is your [Magento instance](https://i-26680-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26680-2-4-develop.instances.magento-community.engineering/admin_fdf3](https://i-26680-2-4-develop.instances.magento-community.engineering/admin_fdf3)
Login: `a05e4ef1` Password: `39d8842b4b74`
Instance will be terminated in up to 3 hours.

[2020-02-04 04:53] lionelbui opened #26686 "Billing Form not appear"
Hello Magento Team
### **site info:**
http://medev.hypernode.io/clients/kantoor/stekkerblokkenshop_be/index.php/
htaccess: dev/dev

### **issue**
 I have upgrade to magento 2.3.3
and now billing form on checkout page not appear and avaible error like bellow
knockout.js:3381 Uncaught ReferenceError: Unable to process binding "template: function(){return detailsTemplate }"
Message: detailsTemplate i

[2020-02-04 04:54] ajijshekh123 commented on #26680
Hi @ngreimel-lt,
I have verified this issue as per your steps to be reproduced.
Product A is automatically removed after disabling the product on the admin section and Added Product B is not displayed on the shopping cart page.

Thanks.

[2020-02-04 04:55] magento-engcom-team commented on #26680
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31068` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-04 05:08] magento-engcom-team commented on #26648
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31069` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-04 05:09] krishprakash commented on #26677
@magento give me 2.4-develop instance

[2020-02-04 05:09] magento-engcom-team commented on #26677
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-04 05:10] magento-engcom-team commented on #26677
Hi @krishprakash, here is your [Magento instance](https://i-26677-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26677-2-4-develop.instances.magento-community.engineering/admin_18ac](https://i-26677-2-4-develop.instances.magento-community.engineering/admin_18ac)
Login: `78837715` Password: `8c4064b970ed`
Instance will be terminated in up to 3 hours.

[2020-02-04 05:28] nickpiro commented on #26501
Just for anyone else who has this issue: I've been able to resolve it by removing the following from the db_schema.xml
`<constraint xsi:type="unique" referenceId="WISHLIST_CUSTOMER_ID">
            <column name="customer_id"/>
        </constraint>`

Also, the setup/Schema/AddProductIdConstraint.php is not used in 2.3.0.

[2020-02-04 05:32] krishprakash commented on #26677
Hi @renard123. Thank you for your report.
Not able to reproduce the issue as provided steps by you.
Feel free to reopen with video attachment if you phase this issue again

[2020-02-04 05:32] #26677 closed, assigned to krishprakash

[2020-02-04 06:47] sudheers-kensium commented on #26596
@wbfiretoss I am not able to reproduced the issue. I have installed sample data without any issue. So I am closing this issue.

[2020-02-04 07:25] sudheers-kensium commented on #26605
@jonathan-martz I am able to upgrade using package magento/product-community-edition 2.3.4 without any issue. So I am closing this issue. Still you are facing an issue feel free to reopen and provide more details.

[2020-02-04 07:25] #26605 closed, assigned to nobody

[2020-02-04 07:37] edwinchandra commented on #3361
We are also facing same issue with Magento 2.3.3. We still not able to the update weight attribute as it shows in the disabled state. Can you please let us know the specific commit for this issue.

[2020-02-04 07:41] engcom-Delta commented on #24582
Hi @sudheers-kensium, thank you for your report. I am not able to reproduce issue by steps you described on clean 2.4-develop.

If you'd like to update the issue, please reopen it.

[2020-02-04 07:41] #24582 closed, assigned to kkorushkin, engcom-Delta

[2020-02-04 07:57] santosh-ks153 opened #26687 "Bulk product attribute not updated in magento 2.3.2"
### Preconditions (*)

1. PHP 7.2.27
2. MySql 5.6.40

### Steps to reproduce (*)

1. Go to Admin -> Catalog -> Product
2. Select multiple products from product grid
3. Choose Update Attributes from Action drop-down
4. Change any attribute  and Save

### Expected result (*)

1. Product attribute should be updated.

### Actual result (*)

1. Product attribute not updated
![image](https://user-images

[2020-02-04 08:01] engcom-Bravo commented on #26604
@jonathan-martz

We are glad that the issue is resolved.

As this is not a Magento issue, we have to close it.

If you ever experience any issues with Magento, please feel free to create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thank you for your collaboration

[2020-02-04 08:01] #26604 closed, assigned to engcom-Bravo

[2020-02-04 08:03] sudheers-kensium commented on #26687
@santosh-ks153 Can you please update more details.

[2020-02-04 08:07] mwieschke commented on #10424
I have the same issue with 2.3.3.

1. create product on website level with name "test"
2. edit product attribute on store view level (attribute: name with value "test store view")
3. set checkbox "Use Default Value" for attribute name on store view level and save
4. after page reload name has value "test store view", checkbox is unchecked

It seems to be a javascript issue regarding the toggle eve

[2020-02-04 08:07] santosh-ks153 commented on #26687
when I m trying to update the product attribute using Magento backend. got the below message always.
![screenshot-dev](https://user-images.githubusercontent.com/55832852/73725469-6fb1c380-4753-11ea-8064-c3bbb1acaf6f.png)

[2020-02-04 08:08] santosh-ks153 commented on #26687
Look like it will never updates the product attribute.

[2020-02-04 08:12] lionelbui commented on #26686
pls let me know, if you can help me
Thanks so much

[2020-02-04 08:52] dverkade commented on #15114
Hi,

Same issue here with doing a deployment to the test environment. See full deployment log in the file attached:
[pipelineLog-929.txt](https://github.com/magento/magento2/files/4152222/pipelineLog-929.txt)

[2020-02-04 08:55] santosh-ks153 commented on #26687
Any solution for that @sudheers-kensium

[2020-02-04 09:47] engcom-Delta commented on #23645
**Note:** Pull request [#24882](https://github.com/magento/magento2/pull/24882) should fix the issue with logging exception

[2020-02-04 09:47] magento-engcom-team commented on #23645
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31077` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-04 09:47] sudheers-kensium commented on #26687
@santosh-ks153 You need to enable the magento cron

[2020-02-04 09:54] engcom-Delta commented on #26666
Hi @Mirat-pl-eu
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-02-04 09:54] #26666 closed, assigned to engcom-Delta

[2020-02-04 09:54] santosh-ks153 commented on #26687
i did

[2020-02-04 09:58] magento-engcom-team commented on #26687
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31078` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-04 10:14] rogyar commented on #26224
Still in progress. I will get back here as soon as I have green/red light on how to proceed with this one.

Thank you

[2020-02-04 10:32] ninarosemary opened #26689 "Magento (2.3.x) dependency causing fresh install error (the dependency contains a faulty constraint)"
### Preconditions

1. Magento version 2.3.x
2. Composer version > 1.9.0

### Steps to reproduce
1. Create a new Magento 2.3.x project

### Expected result

1. A working Magento installation

### Actual result
I received the following error for both commands:

 "_Could not load package firebear/importexport in https://repo.magento.com [UnexpectedValueException] Could not parse version constraint 5.

[2020-02-04 10:41] hostep commented on #10424
Hi @mwieschke: great! Can you please open a new issue for this? It's probably a new issue you are running into, commenting on an old ticket is not going to get picked up by the Magento support staff I think.

[2020-02-04 10:48] sedonik commented on #26111
Hi @lenaorobei , @lsv

After some thinking, I've another solution: added a plugin that detects if an option is disabled, unset this variable from return array.
Could you check is it implemented correctly.
[New PR](https://github.com/magento/magento2/pull/26690)

Thanks.

[2020-02-04 10:50] hostep commented on #15114
@dverkade: this probably happens because some files failed to be copied from the `vendor/magento/magento2-base` directory to the root directory. If you are able to figure out why that happens, you might be able to solve your issue. I'm assuming that this one file won't be the only one which is missing in the root directory?

Unfortunately the magento-composer-installer plugin is not doing the nece

[2020-02-04 10:52] engcom-Bravo commented on #26578
@christianbookpwood

Unfortunately, we are not able to reproduce this issue with the provided settings. On product listing, still, 10 products are displayed, not all the products. And 24 on Grid

We noticed that you are using _Bestseller_ sorting. There is a possibility that this extension is causing the problem.

Please, try to use one of the defaults sorting options: _Position_, _Product name_,

[2020-02-04 10:54] #26578 closed, assigned to engcom-Bravo

[2020-02-04 11:06] engcom-Alfa commented on #12059
Hi @yogisfunda, thank you for your report.

Unfortunately, we are not able to reproduce this issue on a fresh 2.4-develop instance following by your steps. Everything works correctly.

**Actual Result:**
![screen](https://user-images.githubusercontent.com/51679138/73739485-f87a3080-474e-11ea-92d8-dd5c7471b9d1.png)
Checked and with the "PayPal" payment method.
So, we have to close it.
Please feel f

[2020-02-04 11:06] #12059 closed, assigned to engcom-Alfa

[2020-02-04 11:08] lbajsarowicz opened #26691 "CI: Validate i18n coverage"
### Summary (*)
Currently when new PR introduces new Phrase to be translated, it's very uncommon to remember about adding the phrase to `i18n/en_US.csv`.

### Examples (*)
- https://github.com/magento/magento2/pull/26440 Even without creating new phrase, the old phrase is not covered in i18n file. What is more - even if there were such entry in CSV, contributor's change would lead to introduce new

[2020-02-04 11:20] magento-engcom-team commented on #26675
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31082` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-04 11:28] dverkade commented on #15114
@hostep Up on further research I discovered my coworker removed the "extra.magento-force" option from our root composer.json. This has been to cause of our issue.

[2020-02-04 11:31] alchemyconsulting commented on #23581
@opensourcelib - Changing the PXC mode to permissive is generally a Bad Idea (TM) - it turns off the validation and integrity checks that are there for a reason, when you have semi-synchronous replication.
In this particular case I think it means that the relevant table will then not be replicated, so if you then use another node you may have inconsistent/unreliable data.

[2020-02-04 11:37] lbajsarowicz commented on #23180
I will provide MFTF test to prove the issue, then.

[2020-02-04 11:42] devchris79 commented on #26675
@engcom-Delta Why did you edit the post to include a precondition of Locale Storeview: nl_NL?
This is not a precondition that we used.....

It looks like the date is inserted in:
/vendor/magento/module-sales/Model/Order/Pdf/AbstractPdf.php

So this may affect other pdf documents like shipping, credit memo etc.

[2020-02-04 11:44] monotheist opened #26692 "Increased page load time with 2.3.4"
### Preconditions (*)

1. Magento 2.3.4
2. Varnish
3. Redis

### Steps to reproduce (*)

1. Upgrade from 2.3.3 to 2.3.4

### Expected result (*)

1. Page load either match the previous version or better

### Actual result (*)

1. Product page load is around 2700 ms while 2.3.3 delivers at 800 to 1000 ms

[2020-02-04 11:51] devchris79 commented on #26675
Credit memos are indeed also affected.

[2020-02-04 12:01] andreas-ateles commented on #19119
We have same/similar issue on (deployed) Magento 2.3.3. Running `bin/magento setup:config:set --http-cache-hosts=1.2.3.4` adds the `http_cache_hosts` section to `env.php`  but also the DB `indexer` part (without a host). Which seems to break Magento cron for us (with the error: `MySQL adapter: Missing required configuration option 'host'`). Removing the `indexer` part solves the problem.

[2020-02-04 12:04] shahednasser opened #26693 "Overriding CreatePost can automatically confirm a customer"
### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. In Admin, turn on confirmation required through Stores - Configuration - Customers - Customer Configuration - Create New Account Options - Require Emails Confirmation
2. Override Magento\Customer\Controller\Account\CreatePost in a module. Copy everything in execute function as it is, but add after
`$customer = $this->accountMa

[2020-02-04 12:07] mwieschke opened #26694 "Store view // product attribute / "Use default value" not working"
### Preconditions (*)
1. Magento 2.3.3 installed from zip file. Updated using composer update
2. Multiple store mode
3. Multiple stores created
4. Multiple store views for one store

### Steps to reproduce (*)
1. create product on website level with name "test"
2. edit product attribute on store view level (attribute: name with value "test store view")
3. set checkbox "Use Default Value" for attri

[2020-02-04 12:07] mwieschke commented on #10424
Done: https://github.com/magento/magento2/issues/26694

[2020-02-04 12:10] rabraga commented on #5172
I have version 2.3.2 and the link does not appear. What's the fix?

[2020-02-04 12:12] mwieschke commented on #26694
@magento give me 2.4-develop instance

[2020-02-04 12:12] magento-engcom-team commented on #26694
Hi @mwieschke. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-04 12:12] magento-engcom-team commented on #26694
Hi @mwieschke, here is your [Magento instance](https://i-26694-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26694-2-4-develop.instances.magento-community.engineering/admin_dd8c](https://i-26694-2-4-develop.instances.magento-community.engineering/admin_dd8c)
Login: `6470dc28` Password: `86b9497cdb00`
Instance will be terminated in up to 3 hours.

[2020-02-04 12:15] ramesh-durairajaram commented on #26520
Hi @akaplya,
**Issue**: `catalogsearch_fulltext_scope1` table is not found in database after a fresh installation of 2.4-develop branch. Hence search query not able to be completed.

**Cause**: This table was created when re-indexing is triggered during installation. Your commit c4c36dcc48c4e74a70aaf83cee760cc5ffa34d29 to `Removed force reindex from the database patch` is preventing the re-indexin

[2020-02-04 12:22] krishprakash commented on #26693
@magento give me 2.4-develop instance

[2020-02-04 12:22] magento-engcom-team commented on #26693
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-02-04 12:22] magento-engcom-team commented on #26693
Hi @krishprakash, here is your [Magento instance](https://i-26693-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26693-2-4-develop.instances.magento-community.engineering/admin_cdc5](https://i-26693-2-4-develop.instances.magento-community.engineering/admin_cdc5)
Login: `a9496018` Password: `2fb28b1558a6`
Instance will be terminated in up to 3 hours.

[2020-02-04 12:24] mwieschke commented on #26694
The issue is not reproducible on the vanilla Magento instance.

[2020-02-04 12:29] devchris79 commented on #26692
You might want to check the cache is enabled, Composer does disable it following an upgrade. I think this is due to be fixed though.

To check cache status:

`bin/magento cache:status`

To enable cache:

`bin/magento cache:enable`

[2020-02-04 12:31] sudheers-kensium commented on #26694
@mwieschke Maybe this issue is fixed in latest Magento Version. So can I close this issue?

[2020-02-04 12:33] devchris79 commented on #26692
Sorry, looks like it should be fixed in 2.3.4 #24892

[2020-02-04 12:34] magento-engcom-team commented on #7658
Hi @rbostan.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [2324d99cd740fd969413aa50096b24c054ecf653](https://github.com/magento/magento2/commit/2324d99cd740fd969413aa50096b24c054ecf653)

The fix will be available with the upcoming `2.4.0` release.

[2020-02-04 12:34] #7658 closed, assigned to nobody

[2020-02-04 12:35] magento-engcom-team commented on #24061
Hi @schmengler.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [581ac89489128c3a0bcc4f8558413fbe8a4a43f8](https://github.com/magento/magento2/commit/581ac89489128c3a0bcc4f8558413fbe8a4a43f8)

The fix will be available with the upcoming `2.4.0` release.

[2020-02-04 12:35] #24061 closed, assigned to nobody

[2020-02-04 12:38] monotheist commented on #26692
Cache is enabled. I have also tested this in atleast 3 development instances.

[2020-02-04 12:39] darshankhatri16 commented on #26687
Hi @santosh-ks153
You need to enable start queue consumer "product_action_attribute.update". You can list out all the consumers via below command:
`php bin/magento queue:consumers:list`

Please find below screenshot
![Screenshot from 2020-02-04 18-05-19](https://user-images.githubusercontent.com/22095982/73745543-4572fc80-4779-11ea-92c2-0c7e81210333.png)

You can start consumer by below command:
`

[2020-02-04 12:42] varun2287 commented on #25430
Hi All,

I am getting the same error so i deleted the 3 rows in the eav_attribute table using the above query.
Now i am getting this error-
Uncaught TypeError: Argument 3 passed to Magento\Framework\View\Element\UiComponentFactory::mergeMetadataElement() must be of the type array, null given, called in /home/ampscooters/public_html/vendor/magento/framework/View/Element/UiComponentFactory.php on li

[2020-02-04 12:46] mwieschke commented on #26694
We double check this with 2.3.4 in the next hours.

[2020-02-04 12:57] Zyles commented on #26484
Please re-open this issue.

[2020-02-04 13:04] MeeGz commented on #26683
Overcome this issue by overriding Model Cart adding line bolded below to remove error during process.
`<?php
declare(strict_types=1);

namespace Robusta\CartStockErrorHandler\Model\Cart;

use Magento\Framework\Exception\LocalizedException;
use Magento\Framework\GraphQl\Exception\GraphQlInputException;
use Magento\Framework\GraphQl\Exception\GraphQlNoSuchEntityException;
use Magento\Framework\Messa

[2020-02-04 13:11] santosh-ks153 commented on #26687
after doing the above I got the below response.
![Screenshot from 2020-02-04 18-37-54](https://user-images.githubusercontent.com/55832852/73747674-f380a580-477d-11ea-895a-45020f51ebc0.png)

[2020-02-04 13:17] darshankhatri16 commented on #26687
Could you please try below command with area-code
`php bin/magento queue:consumers:start product_action_attribute.update  --area-code='adminhtml'`

[2020-02-04 13:18] engcom-Delta commented on #23180
Hi @lbajsarowicz . Unfortunately,  I am not able to reproduce issue on 2.4-develop

**Manual testing scenario:**

- ElasticSearch 6.x(6.5.4)
- Production Mode
- Cron is installed
- Index on Schedule
- Enter any category, choose "Price" as a "Sort By"
- :heavy_check_mark: Products are displayed from the cheapest to the most expensive
![#23180issue](https://user-images.githubusercontent.com/51681379

[2020-02-04 13:25] mwieschke commented on #26694
The issue is not reproducible on Magento 2.3.4 - bug seems to be fixed.

[2020-02-04 13:25] #26694 closed, assigned to sudheers-kensium

[2020-02-04 13:26] magento-engcom-team commented on #26683
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31084` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-04 13:31] santosh-ks153 commented on #26687
Getting the same issue.
![Screenshot from 2020-02-04 19-00-07](https://user-images.githubusercontent.com/55832852/73749098-b36ef200-4780-11ea-8e1e-7a6a581f292f.png)

[2020-02-04 13:32] adrianalin89 opened #26696 "Empty attribute value constant not seting null the atribute"
### Preconditions (*)

1. Magento version 2.3.3
2.

### Steps to reproduce (*)

1. Create a csv whit sku custom_atrr ( must be type select )
2. In the csv use the Empty attribute value constant __EMPTY__VALUE__

### Expected result (*)

1. Expect to have no more attribute option on that product
2. Expect in the db in the table catalog_product_entity_int on that product and that attribute id to hav

[2020-02-04 13:36] engcom-Echo commented on #13165
Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank you for collaboration.

[2020-02-04 13:36] #13165 closed, assigned to engcom-Echo

[2020-02-04 13:37] devchris79 commented on #26675
I think this may be because of the changes in #23693. @edenduong does that sound likely?

[2020-02-04 13:39] idziakjakub commented on #24426
@magento give me 2.3 instance

[2020-02-04 13:41] magento-engcom-team commented on #26676
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-31085` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-02-04 14:12] sedero commented on #13851
The problem is the trim function on Magento/module-sales/Model/Order/Creditmemo.php

setAdjustmentPositive / setAdjustmentNegative

$amount = trim($amount);

[2020-02-04 14:27] edenduong commented on #26675
Hi @devchris79 ,

Thank you for your issue report. I try to reproduce it on my local site but I can not reproduce  in my site. In my commit, I try to change the logic of `scopeDate similar to the `date` function. Before that, they are different and the scopeDate didn't support full type of interface.

[2020-02-04 14:32] engcom-Delta commented on #26675
@devchris79 According your steps as its are now, issue is not reproducible. [comment](https://github.com/magento/magento2/issues/26675#issuecomment-581405573) adds more details to haw reproduce issue and  **Locale=Dutch (Netherlands)** is important thing to reproduce issue

[2020-02-04 14:33] anvanza commented on #26675
@magento give me 2.3-develop instance

[2020-02-04 14:33] magento-engcom-team commented on #26675
Hi @anvanza. Thank you for your request. I'm working on Magento 2.3-develop instance for you