[2019-07-09 18:12] magento-engcom-team commented on #23627
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17990`, `MC-17991` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-09 18:12] magento-engcom-team commented on #23631
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17993`, `MC-17994` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-09 18:12] magento-engcom-team commented on #9486
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17995` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-09 18:12] magento-engcom-team commented on #23624
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17996` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-09 18:12] magento-engcom-team commented on #23634
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17997` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-09 18:12] magento-engcom-team commented on #23638
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17998`, `MC-17999` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-09 18:13] magento-engcom-team commented on #21739
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18000`, `MC-18001` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-09 18:36] mpurish commented on #9988
@AndyJAllen Here's a ticket I've opened last month, but it's probably not solver yet. https://github.com/magento/magento2/issues/23447

[2019-07-09 19:05] hostep commented on #23619
Just to clarify, we've opened this issue, because it indicates that certain less code isn't following the less standard. It accidentally didn't output errors with the [less compiler](https://github.com/oyejorge/less.php/) Magento ships with but if we want to use an [alternative less compiler](https://github.com/less/less.js), it should still work.

Here are some findings:
- `.abs-action-reset` is

[2019-07-09 19:07] #23314 closed, assigned to nobody

[2019-07-09 19:18] SamB-GB commented on #23462
I can confirm I am also seeing the same issue with the same query as posted by @xi-ao posted.

[2019-07-09 19:47] NeuralNeurosis commented on #12271
I tried this and now it wont even recognize my grunt commands at all.
`apollodesign@apollodesign.me [~/public_html]# grunt clean
Loading "Gruntfile.js" tasks...ERROR

Warning: Task "clean" not found. Use --force to continue.

Aborted due to warnings.
`

grunt-cli v1.3.2
grunt v1.0.4

[2019-07-09 19:48] shilpambb commented on #13226
I'm not sure how to reopen the issue, but it is still there in production mode when opting to minify js files. It seems like the fix was not put into the minified version of the script.

[2019-07-09 19:49] paul-gene commented on #23082
@viktym you might want to remove the "cannot reproduce" label then?

Not sure what's going on with what I presume is a bot?

[2019-07-09 19:56] Nazar65 commented on #9988
@mpurish i don't think that this can be done here's. As for case if sku like xx-gg you can use config mentioned above, but if you have skus like x-xx then you will have same issue, and dash must be also included in search.

[2019-07-09 20:02] mpurish commented on #9988
@Nazar65 I have SKUs like xx-xx. Changing search logic to AND doesn't solve the issue and I'm not very keen on updating ft_min_word_len in database, since it might mess things up with next Magento update.

[2019-07-09 20:11] mpurish commented on #9988
@Nazar65 Sorry, I thought that ft_min_word_len is a field in database and not a database config property. Actually tried adding ft_min_word_len=2 to my.cnf file on server, reindexed the catalog, but still can't search using my xx-xx SKUs.

[2019-07-09 20:16] Nazar65 commented on #9988
@mpurish  you need to restart mysql, more information in this ticket https://github.com/magento/magento2/issues/21059#issuecomment-463122053

[2019-07-09 20:29] mpurish commented on #9988
@Nazar65 Thank you, it works now! Дякую, Назаре!

[2019-07-09 20:32] torhoehn commented on #13226
@shilpambb Minified version of fotorama was removed in https://github.com/magento/magento2/pull/22082.

[2019-07-09 20:40] sdzhepa commented on #23639
Hello @asim-vax

It is not a bug it is expected behavior because of Commerce(Enterprise) version of Magento has Staging functionality.
In general, all "From" and "To" time fields were removed and should be used "Staging Updates Schedule" functionality.

More information about "Content Staging" can be found in Magento docs for Commerce version:
- [Content Staging](https://docs.magento.com/m2/ee/use

[2019-07-09 20:40] #23639 closed, assigned to sdzhepa, engcom-Bravo

[2019-07-09 20:40] shilpambb commented on #13226
@torhoehn thanks for the update. Looks like it didn't make it into 2.2.9. I guess it will make it into the next release for 2.2.

[2019-07-09 21:08] dan-ding commented on #19479
@orlangur, @engcom-backlog-tomash if magento isn't going to support a standard database column type, or any other standard of the softwares it uses, it should be documented, preferably well.
no one is going to remember/find years old conversations about the enum column type or why magento barfs on it. https://github.com/magento/magento2/issues/9883

the documentation should also be changed to say

[2019-07-09 21:38] VladimirZaets commented on #23460
@magento give me 2.3-develop instance

[2019-07-09 21:38] magento-engcom-team commented on #23460
Hi @VladimirZaets. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-09 21:39] magento-engcom-team commented on #23460
Hi @VladimirZaets, here is your [Magento instance](https://i-23460-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23460-2-3-develop.instances.magento-community.engineering/admin](https://i-23460-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-09 21:50] ffauvel opened #23643 "Mime parts of email are no more encoded with quoted printable"
### Preconditions (*)
1. 2.2.8+

### Steps to reproduce (*)
1. Add a lot of css to the email template
2. Complete an order

### Expected result (*)
1. The email is sent to the customer

### Actual result (*)
1. The email is rejected by the mail server - Error message: Message too big

Before 2.2.8, Magento was using Zend_Mail and Zend_Mime_Part (from ZF1) to send email.
The default encoding of Zen

[2019-07-09 21:56] ffauvel commented on #23643
@magento give me 2.3-develop instance

[2019-07-09 21:56] magento-engcom-team commented on #23643
Hi @ffauvel. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-09 21:57] magento-engcom-team commented on #23643
Hi @ffauvel, here is your [Magento instance](https://i-23643-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23643-2-3-develop.instances.magento-community.engineering/admin](https://i-23643-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-09 22:30] marklehm commented on #23622
@magento give me 2.2-develop instance

[2019-07-09 22:30] magento-engcom-team commented on #23622
Hi @marklehm. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-09 22:31] magento-engcom-team commented on #23622
Hi @marklehm, here is your [Magento instance](https://i-23622-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23622-2-2-develop.instances.magento-community.engineering/admin](https://i-23622-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-09 22:52] #23622 closed, assigned to krishprakash

[2019-07-10 00:16] rey8a commented on #22189
I am also getting this error. Any work around?

Cannot instantiate interface Magento\InventoryReservationsApi\Model\ReservationBuilderInterface in /vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php:50
Stack trace:
#0 /vendor/magento/framework/ObjectManager/ObjectManager.php(70): Magento\Framework\ObjectManager\Factory\Dynamic\Developer->create('Magento\\Invento...')
#1 /vendor/m

[2019-07-10 01:28] nguyenbach95 commented on #23636
@engcom-Charlie What information do you need?

[2019-07-10 05:05] LovelySetia commented on #23392
@magento-engcom-team  Please tell me what is issue asap.

[2019-07-10 05:17] jaredchu commented on #20033
Email stops working after upgrade to 2.3.2

[2019-07-10 05:56] alex-79 commented on #22516
Trigger is not work correctly:

vendor/magento/framework/Mview/View/Subscription.php

Magento 2.2.5:
[code]
Magento 2.3.1:
[code]
**!=** is not **<=>**

See https://github.com/magento/magento2/issues/23077

[2019-07-10 05:59] engcom-Bravo commented on #14486
@magento-engcom-team give me 2.3-develop instance

[2019-07-10 05:59] magento-engcom-team commented on #14486
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-10 05:59] magento-engcom-team commented on #14486
Hi @engcom-Bravo, here is your [Magento instance](https://i-14486-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-14486-2-3-develop.instances.magento-community.engineering/admin](https://i-14486-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 06:00] engcom-Bravo commented on #14486
@magento-engcom-team give me 2.2-develop instance

[2019-07-10 06:00] magento-engcom-team commented on #14486
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-10 06:01] magento-engcom-team commented on #14486
Hi @engcom-Bravo, here is your [Magento instance](https://i-14486-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-14486-2-2-develop.instances.magento-community.engineering/admin](https://i-14486-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 06:07] magento-engcom-team commented on #14486
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18021`, `MC-18022` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-10 06:14] levi-dtn opened #23644 "The incorrect qty ( Bundle products)"
Preconditions (*)
1.Magento 2.3.2
2.PHP 7.2.x

Steps to reproduce (*)
1. Add Bundle product ( including child product with qty greater than 1)
2. Checkout by Paypal/ Visa/ Master card

Show error message: We found an invalid quantity to invoice item (edited)
I checked and found that $orderItem->getId() return null  in vendor/magento/module-sales/Model/Service/InvoiceService.php

Expected result (*

[2019-07-10 06:28] YiffyToys opened #23645 "Magento 2.3 contact form not sending emails( No log entry)"
### Preconditions
Magento 2.4-develop

### Steps to reproduce (*)

- Add `throw new LocalizedException(__('test localized exception'));` before https://github.com/magento/magento2/blob/2268edc5cadfb7b0fbf0e998a23abd60a4608efb/app/code/Magento/Contact/Controller/Index/Post.php#L75
- Enter the contact form
- Send a message

### Expected result (*)
1. Exception with stack trace is logged

### Actual

[2019-07-10 06:31] ajijshekh123 commented on #23644
Give me @magento give me 2.3-develop instance.

[2019-07-10 06:31] magento-engcom-team commented on #23644
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-10 06:31] magento-engcom-team commented on #23644
Hi @ajijshekh123, here is your [Magento instance](https://i-23644-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23644-2-3-develop.instances.magento-community.engineering/admin](https://i-23644-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 06:32] engcom-Charlie commented on #23645
Hello @YiffyToys ! Please provide more information about this issue

[2019-07-10 06:35] YiffyToys commented on #20033
I created #23645 for the remaining issue with the contact form.

[2019-07-10 06:47] YiffyToys commented on #23645
@magento give me 2.3-develop instance
@engcom-Charlie  How to reproduct that no information is logged if the contact form fails to send an email? How to check logs on the automatically created instances used to reproduce an issue? Can these instances actually send email?

[2019-07-10 06:47] magento-engcom-team commented on #23645
Hi @YiffyToys. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-10 06:48] magento-engcom-team commented on #23645
Hi @YiffyToys, here is your [Magento instance](https://i-23645-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23645-2-3-develop.instances.magento-community.engineering/admin](https://i-23645-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 06:52] magento-engcom-team commented on #23645
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18023` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-10 06:54] engcom-Charlie commented on #23636
@nguyenbach95 What do you mean "Price on UPS and Magento are the same" ?

[2019-07-10 06:56] LucianMihalache commented on #23634
@engcom-Charlie thank you for looking into this.
Can you please look into https://github.com/magento/magento2/issues/23172 too?
It is about attribute groups too.
The problem is that you can't filter the group repository (with attribute set id filter and attribute group filter) with any other condition_type than =
More details there.

[2019-07-10 07:17] ajijshekh123 commented on #23644
Hi @levi-dtn,
I have verified this issue as per your steps to be reproduced. I have placed a Bundle product with incorrect qty to order using the Credit card. I have placed an order successfully and I have not found any Qty related issue invoice section in Front end as well as in the backend.

Please see attached screenshot:
![Order details_1](https://user-images.githubusercontent.com/24711761/609

[2019-07-10 07:17] blob84 commented on #13411
The same issue is present in magento 2.3.1 .

[2019-07-10 08:20] engcom-Charlie commented on #23172
Hello @LucianMihalache ! Thank you for your report !
I`ve just tested this on Vanilla Magento 2.3-develop without Sample Data and got this result

![Screenshot from 2019-07-10 11-14-32](https://user-images.githubusercontent.com/51680850/60952827-a8e09d00-a304-11e9-94e7-4e103538ae6a.png)

[2019-07-10 08:24] engcom-Bravo commented on #7367
@magento-engcom-team give me 2.3-develop instance

[2019-07-10 08:24] LucianMihalache commented on #23172
@engcom-Charlie so, for you, a filter of AttributeGroupRepository by multiple attribute_set_id applied the correct filter, 'IN' ?
Can I get a develop instance?
I wanna try a rest api call for that repository to see if the response is the same.
What is the exact version of your instance? Release 2.3.1, or the develop version?

[2019-07-10 08:24] magento-engcom-team commented on #7367
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-10 08:24] magento-engcom-team commented on #7367
Hi @engcom-Bravo, here is your [Magento instance](https://i-7367-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-7367-2-3-develop.instances.magento-community.engineering/admin](https://i-7367-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 08:32] LucianMihalache commented on #23172
@magento give me 2.3-develop instance

[2019-07-10 08:32] magento-engcom-team commented on #23172
Hi @LucianMihalache. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-10 08:33] magento-engcom-team commented on #23172
Hi @LucianMihalache, here is your [Magento instance](https://i-23172-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23172-2-3-develop.instances.magento-community.engineering/admin](https://i-23172-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 08:50] engcom-Bravo commented on #7367
I just incurred in this issue also on Magento 2.2.9. The issue is fixed.

[2019-07-10 08:50] #7367 closed, assigned to engcom-Bravo

[2019-07-10 08:53] LucianMihalache commented on #23172
@engcom-Charlie , Look, on the develop instance, run this curl:

This one is for you to see how many groups are there, and note their attribute_set_id.
I created 3 more attribute_sets

![attribute sets](https://user-images.githubusercontent.com/48981554/60954462-ac295800-a307-11e9-80d3-69f60fa9caa2.png)

And the curl is to get all the groups assigned to the attribute sets.
I made it with swagger.

[2019-07-10 09:01] magento-engcom-team commented on #23172
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18024` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-10 09:18] LucianMihalache commented on #23172
@engcom-Charlie Thank you

[2019-07-10 09:33] nicoflemming commented on #5560
mmd

[2019-07-10 09:48] juhanihaapala opened #23646 "Send friend sender email should be static not user defined"
### Preconditions (*)

1. Magento 2.3.2 with send friend email enabled

### Steps to reproduce (*)

1. On product page select email friend
2. Fill the form

### Expected result (*)

1. Email is sent from the email configured as sender in configuration

### Actual result (*)

1. Email is sent from the email filled in form it won't work because server is not qualified sender and gmail for example se

[2019-07-10 09:54] sudheers-kensium commented on #23553
@magento give me 2.3-develop instance

[2019-07-10 09:55] magento-engcom-team commented on #23553
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-10 09:55] magento-engcom-team commented on #23553
Hi @sudheers-kensium, here is your [Magento instance](https://i-23553-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23553-2-3-develop.instances.magento-community.engineering/admin](https://i-23553-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 10:00] engcom-Bravo commented on #23646
@magento give me 2.3-develop instance

[2019-07-10 10:00] magento-engcom-team commented on #23646
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-10 10:00] magento-engcom-team commented on #23646
Hi @engcom-Bravo, here is your [Magento instance](https://i-23646-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23646-2-3-develop.instances.magento-community.engineering/admin](https://i-23646-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 10:02] engcom-Bravo commented on #23646
Hello @juhanihaapala.  Thank you for your request. I'm not able to reproduce issue by steps you described on clean 2.3-develop
![99](https://user-images.githubusercontent.com/51680745/60960548-e9dfae00-a312-11e9-98bb-eb99c3d385ac.png)
.

[2019-07-10 10:13] juhanihaapala commented on #23646
@engcom-Bravo I was abel to confirm it in that instance. The email never came to my gmail box even not in spam. But yes it will happily send it but it's for sure marked as spam because the sender is not qualified sender.

[2019-07-10 10:23] kevinvarley commented on #15427
2.2.9 affected

[2019-07-10 10:25] FurnitureboxKate opened #23647 "Trying to change images for site - error code "Invalid input datetime format of value '03/01/+00201818""
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-07-10 10:33] simonspoerri commented on #19882
The Problem might be that the store ID was changed through a webserver configuration before the installation. At least that was causing this problem for me. Make sure your webserver sets the MAGE_RUN_CODE to "default" (or not at all) for the URL you're using for the installation process.

[2019-07-10 10:42] sreenathnr opened #23648 "Deployment Breaks After Upgrading to Magento 2.3.2"
### Preconditions (*)

Magento 2.3.2
1. After Magento, upgrading from Magento 2.3.1 to 2.3.2

### Steps to reproduce (*)

1. Multi-stock Inventory Modules are enabled in Magento 2.3.1
2. Upgrade Magento 2.3.2 from Magento 2.3.1 by using composer.
3. Deployment initiated

### Expected result (*)

1. Deployment is a success with no Errors

### Actual result (*)

1. Deployment has the below errors.

[2019-07-10 10:44] sreenathnr commented on #22189
I will raise a ticket to Magento for the above https://github.com/magento/magento2/issues/23648

[2019-07-10 10:48] ajijshekh123 commented on #23647
@FurnitureboxKate - fell free to reopen this issue when you will be ready to provide more details and we will review it and confirm it.

[2019-07-10 10:48] #23647 closed, assigned to ajijshekh123

[2019-07-10 10:49] engcom-Bravo commented on #23619
@magento give me 2.3-develop instance

[2019-07-10 10:49] magento-engcom-team commented on #23619
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-10 10:49] juhanihaapala commented on #23646
Oh, and I was using the form as guest. So enabled guest sending first on settings.

[2019-07-10 10:49] magento-engcom-team commented on #23619
Hi @engcom-Bravo, here is your [Magento instance](https://i-23619-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23619-2-3-develop.instances.magento-community.engineering/admin](https://i-23619-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 10:50] engcom-Bravo commented on #23619
@magento give me 2.2-develop instance

[2019-07-10 10:50] magento-engcom-team commented on #23619
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-10 10:50] magento-engcom-team commented on #23619
Hi @engcom-Bravo, here is your [Magento instance](https://i-23619-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23619-2-2-develop.instances.magento-community.engineering/admin](https://i-23619-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 10:51] magento-engcom-team commented on #23619
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18025`, `MC-18026` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-10 11:05] engcom-Charlie commented on #22790
@apomili  I can`t reproduce it due steps you gave. Feel free to reopen it in case you can provide some more steps to reproduce this issue .

[2019-07-10 11:05] #22790 closed, assigned to engcom-Charlie

[2019-07-10 11:14] engcom-Charlie commented on #22960
@xnhinzkyx i can`t reproduce this issue . Feel free to reopen it in case you can provide more steps to reproduce this issue .

![Screenshot from 2019-07-10 14-08-03](https://user-images.githubusercontent.com/51680850/60964827-05e84d00-a31d-11e9-8bc7-1aa11d5ee48b.png)

[2019-07-10 11:14] #22960 closed, assigned to engcom-Charlie

[2019-07-10 11:19] JeroenGerth commented on #20229
Same.. i still have this problem in 2.3.1. I can see the "fix" in vendor folder, but still i get this error with products with an empty short description.

[2019-07-10 11:36] orlangur commented on #19882
@alex4allofyou sorry, missed your comment. Let's recheck. If you was able to figure out a root cause, please share your findings.

[2019-07-10 11:52] gulshan-streammarket commented on #10531
Magento 2.2.7 has feature to disable product eav attribute indexing when not using MySql as search engine. Most of the vendor's have large catalog and they prefer fast searching with external search engine.

[2019-07-10 11:53] ikis1520 commented on #9980
Hi I reviewed the code this is a possible solution :

Modified the file vendor/magento/module-catalog-search/Model/Layer/Filter/Attribute.php

           if ($isAttributeFilterable && (!$this->isOptionReducesResults($count, $productSize) || $count === 0)) {
            return;
        }
to:

        if ($isAttributeFilterable && $count === 0)) {
            return;
        }
I hope this help you.

[2019-07-10 12:04] Yoomedia commented on #19710
I have exact the same problem in magento 2.3.2 once add new product images not showen up 404 error.

rdeelstra option i have tried but results in a empty/blank category page.

Some one allready has a fix for this?

[2019-07-10 12:30] amjadm61 commented on #23502
@magento give me 2.3-develop instance

[2019-07-10 12:30] magento-engcom-team commented on #23502
Hi @amjadm61. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-10 12:31] magento-engcom-team commented on #23502
Hi @amjadm61, here is your [Magento instance](https://i-23502-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23502-2-3-develop.instances.magento-community.engineering/admin](https://i-23502-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 12:49] alexandrosk commented on #23435
@bst2002git Thank you!

[2019-07-10 12:54] luukschakenraad commented on #15958
@engcom-backlog-nazar Any progress on this issue?

[2019-07-10 13:16] VincentMarmiesse commented on #15273
Hi,
Any news on this issue?
Still happening in 2.3.1.

[2019-07-10 13:25] sudheers-kensium commented on #23553
@magento give me 2.3-develop instance

[2019-07-10 13:25] magento-engcom-team commented on #23553
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-10 13:25] engcom-Alfa commented on #23562
I can't reproduce this issue. I close it, but you can re-open this issue with more details and steps to reproduce.

[2019-07-10 13:25] #23562 closed, assigned to engcom-Alfa

[2019-07-10 13:26] magento-engcom-team commented on #23553
Hi @sudheers-kensium, here is your [Magento instance](https://i-23553-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23553-2-3-develop.instances.magento-community.engineering/admin](https://i-23553-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 14:04] sudheers-kensium commented on #23553
@magento give me 2.3-develop instance

[2019-07-10 14:04] magento-engcom-team commented on #23553
Hi @sudheers-kensium. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-10 14:05] magento-engcom-team commented on #23553
Hi @sudheers-kensium, here is your [Magento instance](https://i-23553-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23553-2-3-develop.instances.magento-community.engineering/admin](https://i-23553-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 14:16] fohnbit commented on #23508
@magento give me 2.3-develop instance

[2019-07-10 14:16] magento-engcom-team commented on #23508
Hi @fohnbit. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-10 14:16] magento-engcom-team commented on #23508
Hi @fohnbit, here is your [Magento instance](https://i-23508-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23508-2-3-develop.instances.magento-community.engineering/admin](https://i-23508-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-10 14:39] magento-engcom-team commented on #23606
Hi @rogyar. Thank you for your report.
The issue has been fixed in magento/magento2#23607 by @rogyar in 2.3-develop branch
Related commit(s):
 - [9aa4744ee6eafbd7ecc722b8c501493cd594b28c](https://github.com/magento/magento2/commit/9aa4744ee6eafbd7ecc722b8c501493cd594b28c)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-10 14:39] #23606 closed, assigned to rogyar

[2019-07-10 14:39] magento-engcom-team commented on #22950
Hi @bhavik43. Thank you for your report.
The issue has been fixed in magento/magento2#23226 by @amjadm61 in 2.3-develop branch
Related commit(s):
 - [878ea22d4a39b6e9503c8fdbf84d6c57043e3b70](https://github.com/magento/magento2/commit/878ea22d4a39b6e9503c8fdbf84d6c57043e3b70)
 - [02ff91ba994dfc017145e48e5b6dcf75ffdb7b32](https://github.com/magento/magento2/commit/02ff91ba994dfc017145e48e5b6dcf75ff

[2019-07-10 14:40] #22950 closed, assigned to amjadm61, serhiyzhovnir

[2019-07-10 14:40] fohnbit commented on #23508
Hi @shikhamis11

it is not working on my site. I made a complete video to show you my steps:
1. Login as admin and setup API to get access token (in the video you see just an integration that I test before and which I deleted)
2. upload the JSON above with the access token (bearer authentification) with Postman
3. open product at admin and check image
4. At the end of the video you see, the **"dis

[2019-07-10 15:24] gabs77 commented on #22952
Same issue for magento 2.2.8

[2019-07-10 15:36] marklehm commented on #23622
We upgraded our 2.3.0 instance to 2.3.2 and the bug was resolved.

[2019-07-10 15:45] magento-engcom-team commented on #23522
Hi @ankurvr. Thank you for your report.
The issue has been fixed in magento/magento2#23603 by @ankurvr in 2.2-develop branch
Related commit(s):
 - [ba2556708e06df3d0cb9657bfb2544fbb68bc11e](https://github.com/magento/magento2/commit/ba2556708e06df3d0cb9657bfb2544fbb68bc11e)

The fix will be available with the upcoming 2.2.10 release.

[2019-07-10 15:45] magento-engcom-team commented on #23354
Hi @bhavik43. Thank you for your report.
The issue has been fixed in magento/magento2#23612 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [90be3ce44c9b36add9da6adbffe59eeb8a3c6e17](https://github.com/magento/magento2/commit/90be3ce44c9b36add9da6adbffe59eeb8a3c6e17)

The fix will be available with the upcoming 2.2.10 release.

[2019-07-10 16:28] nbennett25 opened #23653 "Advanced Reporting not working"
Advanced Reporting is not working in Magento 2.2.4 after following set up steps and verifying that the code change in the patch reported in

https://github.com/magento/magento2/issues/21452#issuecomment-467799311

is present in the code base.

### Preconditions (*)

1. Magento version 2.2.4
2. PHP 7.0.33

### Steps to reproduce (*)

1. Enable Advanced Reporting in Admin
2. Go to System > Integrati

[2019-07-10 16:49] joshuaadickerson commented on #7852
This is incredibly simple to fix. Just move that block to Magento_Review with the code and config. That should be all that's necessary.

This is *not* a feature request. This is poor design of the module. Not being able to disable a high-level feature is a bug.

[2019-07-10 16:51] joshuaadickerson commented on #7852
This is preventing me from disabling the Review module. The Review module adds HTML to the extension attributes element of the `product_data_storage` localStorage item. That is filling up localStorage for browsers and causing other issues. So, I’d like to just disable the module altogether since we don’t use reviews.

[2019-07-10 18:21] hostep commented on #23517
@engcom-Bravo, just FYI: please don't try to test this on the 2.3-develop branch, because parts of the Magento 2.3.2 code which is necessary for this issue hasn't landed yet in the 2.3-develop branch yet at the time of writing. (specifically this commit: [MC-5843: Add Argon2ID support](https://github.com/magento/magento2/commit/eb2d36a4b0f8669f15cafaaf230c33e73adea653))

[2019-07-10 18:31] hostep commented on #7852
Request makes sense, let's re-open this.

There is also a mentioning of MAGETWO-71228 in the forum thread, so maybe somebody with access to Magento's Jira can leave an update here to tell use what the status is...

[2019-07-10 19:50] magento-engcom-team commented on #23359
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18044` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-10 21:37] magento-engcom-team commented on #5863
Hi @kayintveen.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.2.10` release.

[2019-07-10 21:37] magento-engcom-team commented on #5863
Hi @kayintveen.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 21:37] #5863 closed, assigned to nobody

[2019-07-10 21:38] magento-engcom-team commented on #13415
Hi @angelo983.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.2.10` release.

[2019-07-10 21:39] magento-engcom-team commented on #13415
Hi @angelo983.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 21:39] #13415 closed, assigned to nobody

[2019-07-10 21:42] magento-engcom-team commented on #17492
Hi @krzksz.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.2.10` release.

[2019-07-10 21:44] magento-engcom-team commented on #17492
Hi @krzksz.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 21:44] #17492 closed, assigned to nobody

[2019-07-10 21:46] shilpambb commented on #22344
+1

[2019-07-10 21:47] ghost opened #23654 "Frontend Label For Custom Order Status not Editable in Magento Admin in Single Store Mode"
### Preconditions (*)

1. Magento version 2.2.9 with Single Store Mode turned on

### Steps to reproduce (*)

1. Go to Stores -> Order Status
2. Select any status
3. There is no place to edit the status label for the frontend.
4. If single store mode is turned off, there is a field where the status label for the frontend can be modified.

### Expected result (*)

1. There should be a field where w

[2019-07-10 22:23] RodrigoSGE opened #23655 "No se ve nada del Admin de mi Magento 2"
Buenas tardes, me ha surgido un problema en Magento 2 y es que cuando entro al administrador me dice que necesito permisos para tener acceso. Ayuda por favor

[2019-07-10 22:25] magento-engcom-team commented on #17592
Hi @sabl0r.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 22:25] #17592 closed, assigned to nobody

[2019-07-10 22:42] sdzhepa commented on #23655
Hello @RodrigoSGE

Unfortunately, it very hard or even impossible to help without additional details.
Could you please provide more details as mentioned in this [comment](https://github.com/magento/magento2/issues/23655#issuecomment-510253522)?

Without additional details, we will have to close this issue.

Thank you in advance

[2019-07-10 22:45] magento-engcom-team commented on #20906
Hi @mage2pratik, @orlangur, @imrandotftr.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 22:45] #20906 closed, assigned to orlangur, imrandotftr

[2019-07-10 22:58] magento-engcom-team commented on #20186
Hi @ipascual, @Nazar65.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 22:58] #20186 closed, assigned to Nazar65

[2019-07-10 22:59] magento-engcom-team commented on #22127
Hi @jhruehl, @davidverholen.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 22:59] #22127 closed, assigned to davidverholen

[2019-07-10 22:59] magento-engcom-team commented on #22190
Hi @lfluvisotto, @lfluvisotto.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 22:59] #22190 closed, assigned to lfluvisotto

[2019-07-10 22:59] magento-engcom-team commented on #22143
Hi @mikelevy300, @Nazar65.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 22:59] #22143 closed, assigned to Nazar65

[2019-07-10 23:04] magento-engcom-team commented on #21558
Hi @Dharmeshvaja91, @sanjaychouhan-webkul, @krishprakash.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 23:04] #21558 closed, assigned to krishprakash

[2019-07-10 23:05] magento-engcom-team commented on #6659
Hi @JacobDrummond, @torhoehn, @vasilii-b.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 23:05] #6659 closed, assigned to torhoehn, vasilii-b

[2019-07-10 23:06] magento-engcom-team commented on #22924
Hi @speedy008, @dipti2jcommerce, @speedy008.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 23:06] #22924 closed, assigned to dipti2jcommerce, SyntaxKay

[2019-07-10 23:07] magento-engcom-team commented on #22934
Hi @AlexWorking, @sergiy-v.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.3` release.

[2019-07-10 23:07] #22934 closed, assigned to sergiy-v

[2019-07-11 02:14] ioweb-gr commented on #22964
Sorry for bringing this up again, but I need to mention that this issue was raised over 2 months ago and I think it's going to get burried again like the original issues were 2+ years ago. It would be nice to know if there is at least a timeframe to fix this issue or an internal ticket number to track progress as it is a critical issue for non-English speaking users. Could someone let us know at l

[2019-07-11 02:34] krishprakash commented on #23419
Hi @thepratikpatel.
I'm closing this issue as you not provided steps to reproduce.
Feel free to reopen if you confirm issue in venilla magento instace
Thanks

[2019-07-11 02:34] #23419 closed, assigned to krishprakash

[2019-07-11 05:13] nahidacm commented on #8795
Looks like you need to set the "Enable Status" for each store view individually.

[2019-07-11 05:13] ihor-sviziev commented on #5863
Hi @magento-engcom-team,
Where we can find changes that fixes this issue?

[2019-07-11 05:39] HericlisMartins commented on #20003
i am getting same error.

[2019-07-11 06:35] ilnytskyi opened #23661 "Some translations have a Placeholder Renderer in Phrase class"
### Preconditions (*)

Magento 2.3.1 probably other versions as well
1. Mostly happens in custom controllers or modules.
2. However the exception is thrown by core class
`\Magento\Framework\App\Request\CsrfValidator::createException`

![Selection_076](https://user-images.githubusercontent.com/3192770/61026969-367bc580-a3b5-11e9-83e5-743d4d284ea4.png)

### Steps to reproduce (*)

0. Use different l

[2019-07-11 06:42] engcom-Bravo commented on #23654
@magento give me 2.3-develop instance

[2019-07-11 06:42] magento-engcom-team commented on #23654
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-11 06:43] magento-engcom-team commented on #23654
Hi @engcom-Bravo, here is your [Magento instance](https://i-23654-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23654-2-3-develop.instances.magento-community.engineering/admin](https://i-23654-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-11 06:43] engcom-Bravo commented on #23654
@magento give me 2.2-develop instance

[2019-07-11 06:43] magento-engcom-team commented on #23654
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-11 06:43] magento-engcom-team commented on #23654
Hi @engcom-Bravo, here is your [Magento instance](https://i-23654-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23654-2-2-develop.instances.magento-community.engineering/admin](https://i-23654-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-11 06:45] magento-engcom-team commented on #23654
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18054`, `MC-18055` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-11 06:55] pavanusn opened #23662 "Magento 2.3.1 Category update issue via repository save"
**Preconditions (*)**

1. Magento 2.3.1

**Steps to reproduce (*)**

1. When I tried to update category using repository save
2. Here $this->categoryRepository = \Magento\Catalog\Model\CategoryRepository

 		$category = $this->categoryRepository->get($magentoCategory->getId());
         try {
             $category->setData($mappedData);
             $this->categoryRepository->save($category);

[2019-07-11 06:55] RonakParmar commented on #10454
Still exist in Magneto 2.3, I have tested in 2.3-develop branch. Is there any fix for this issue?

[2019-07-11 07:44] magento-engcom-team commented on #23662
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18056` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-11 08:06] engcom-Bravo commented on #23517
Hello @hostep. I know this. Thanks

[2019-07-11 08:07] latenights commented on #22490
#22114

[2019-07-11 08:11] engcom-Bravo commented on #23517
I have 2.3.2 composer version and with upgrade from 2.3.1 to 2.3.2 all reproduce where step9. but I able login both customer1 and customer2. On step10 I have {64-random-chars}:{32-random-chars}:2.

[2019-07-11 08:39] hostep commented on #23517
Ok, that means that you don't have the sodium php extension installed. So Magento still uses the old password hashing algorithm.
So try to install the sodium php extension, and also libsodium (at least version 1.0.13) and you should be able to reproduce the problem.

[2019-07-11 08:40] engcom-Charlie commented on #23370
Hello @subhrajyotiw5rtc ! I rechecked this issue and i found out that your API call isn`t correct. @xmav is right here , so please try to use API call which he provided or refer here(https://devdocs.magento.com/guides/v2.3/rest/performing-searches.html#logical-or-search) to find some more information about searching using REST endpoints.

[2019-07-11 08:40] #23370 closed, assigned to nobody

[2019-07-11 09:05] engcom-Bravo commented on #23517
Now checked database:
![90](https://user-images.githubusercontent.com/51680745/61037608-190a2400-a3d4-11e9-863c-766f59f60222.png)

[2019-07-11 09:07] engcom-Bravo commented on #23517
{64-random-chars}:{16-random-chars}:2. Then runed bin/magento customer:hash:upgrade. After this problem not reproduce

[2019-07-11 09:12] hostep commented on #23517
Are you sure you didn't log in first with the second user?

So steps:
1) Magento 2.3.1: create a new user in frontend and logout.
2) Upgrade to Magento 2.3.2, and run `bin/magento customer:hash:upgrade` (do **not** attempt to login first)
3) Try to login with the user in frontend, it doesn't work anymore.

[2019-07-11 09:17] drazulay opened #23664 "Advanced JavaScript bundling with dependencies that load from urls does not work"
### Preconditions (*)

1. Magento2 2.3.x
2. The [Advanced JavaScript bundling guide](https://devdocs.magento.com/guides/v2.3/performance-best-practices/advanced-js-bundling.html)

### Steps to reproduce (*)
1. Create a build.js file that contains dependencies loaded from urls (for example in 'paths' or 'map').

For example:

[code]

### Expected result (*)

1. When running the r.js optimizer it sh

[2019-07-11 09:19] drazulay commented on #23664
These checkboxes don't work, not sure what to do with this. Was tested on a vanilla instance locally.

[2019-07-11 09:20] magento-engcom-team commented on #23664
Hi @drazulay. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-11 09:20] magento-engcom-team commented on #23664
Hi @drazulay, here is your [Magento instance](https://i-23664-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23664-2-3-develop.instances.magento-community.engineering/admin](https://i-23664-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-11 09:35] asshumski opened #23665 "Payment methods not visible on checkout"
### Preconditions (*)

1. Magento 2.2.8
2. Magento Cloud

### Steps to reproduce (*)

1. Add item to cart and Go to checkout
2. On the first step fill in required data and click next to proceed to the second step (notice that 'next' button is disabled after the first click)
3. Go back to the first step and click 'next' button multiple times, after that 'payment methods' on the second step will bli

[2019-07-11 09:41] engcom-Charlie commented on #23665
@magento give me 2.3-develop instance

[2019-07-11 09:41] magento-engcom-team commented on #23665
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-11 09:42] magento-engcom-team commented on #23665
Hi @engcom-Charlie, here is your [Magento instance](https://i-23665-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23665-2-3-develop.instances.magento-community.engineering/admin](https://i-23665-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-11 09:53] engcom-Charlie commented on #23665
Hello @asshumski ! Thank you for your report !
I`ve just rechecked this issue on Vanilla Magento 2.3-develop instance and i was not able to reproduce it . I will try to reproduce it on 2.2.9-develop instance

[2019-07-11 09:54] engcom-Charlie commented on #23665
@magento give me 2.2.9-develop instance

[2019-07-11 09:54] magento-engcom-team commented on #23665
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.2.9-develop instance for you

[2019-07-11 10:00] safemage commented on #22528
Looks like a bug.
`/vendor/magento/module-paypal/Model/AbstractConfig.php`
Instead of
`'payment/paypal_express/disable_funding_options',`
should be
`'paypal/style/disable_funding_options'`

[2019-07-11 10:04] engcom-Charlie commented on #23665
@magento give me 2.2-develop instance

[2019-07-11 10:04] magento-engcom-team commented on #23665
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-11 10:05] magento-engcom-team commented on #23665
Hi @engcom-Charlie, here is your [Magento instance](https://i-23665-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23665-2-2-develop.instances.magento-community.engineering/admin](https://i-23665-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-11 10:11] php4umagento commented on #19597
Clean 2.3.2 and mysql 5.7 it is still happening - this is serious problem with it.

[2019-07-11 10:14] engcom-Charlie commented on #23665
@asshumski still can not reproduce this issue even on 2.2-develop instance . I`m closing this issue for now but feel free to reopen it in case you can confirm this issue exist in 2.3.x release line
Thanks in advance

[2019-07-11 10:14] #23665 closed, assigned to engcom-Charlie

[2019-07-11 10:30] koopjesboom commented on #5863
I dont understand.
3 years later and: "The fix will be available with the upcoming 2.3.3 release"

kayintveen commented on **28 Jul 2016** •

**11-07-2019** Hi at magento-engcom-team, Where we can find changes that fixes this issue?

URL rewrites is a complicated system which is giving problems for years now in magento 2
I think it is caused by getting from a staging/test/development setup to live

[2019-07-11 10:50] mille2018 commented on #5863
Multistore same problem for the last three years,  since Magento 2.0 was launched.
https://www.fashionplaza.com.au/ and https://www.makevana.com.au/. sick of Magento multi-store now.  never set up dev store, But Magento was installed on a live website.

[2019-07-11 10:53] xuanbinh commented on #22112
Hi @rikwillems,
This is function to refresh shipping method.
When you comment it, the website will can't get shipping method when change Postcode.
Thank you!

[2019-07-11 11:06] magentopits opened #23667 "Shipping address selected changes to default shipping address after clicking browser back button"
### Preconditions (*)

1. Magento 2.2.6 and Magento 2.3.2

### Steps to reproduce (*)

1. Login customer.
2. Add multiple addresses from my account page.
3. Set one as default billing address and other as default shipping address.
4. Add product to cart.
5. Proceed to checkout.
5. Select any address other than the default shipping address as shipping address.
6. Select any online payment method (E

[2019-07-11 11:18] pandyakrunal opened #23668 "Unable to get invoice id in Magento 2.3.2"
I am sending the invoice id to third-party API but I did not get the Invoice id. (Magento 2.3.2)
### Summary (*)

 for that, I use the sales_order_invoice_register event and in observer my code is

 $invoice = $observer->getEvent()->getInvoice();
 $orderId = $invoice->getOrderId();
 $invoiceNumber = $invoice->getIncrementId();
I got OrderId but InvoiceId is blank.

### Examples (*)

### Proposed s

[2019-07-11 11:20] engcom-Bravo commented on #23667
@magento give me 2.3-develop instance

[2019-07-11 11:21] magento-engcom-team commented on #23667
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-11 11:21] magento-engcom-team commented on #23667
Hi @engcom-Bravo, here is your [Magento instance](https://i-23667-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23667-2-3-develop.instances.magento-community.engineering/admin](https://i-23667-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-11 11:23] engcom-Bravo commented on #23667
Hi @magentopits thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.3-develop. If you'd like to update issue, please reopen it.

[2019-07-11 11:23] #23667 closed, assigned to engcom-Bravo

[2019-07-11 11:36] php4umagento commented on #19597
After applying patch I have one more left about key - FK_12C2962523CC7EF2EA73AD4121B5DBFF

[2019-07-11 11:43] engcom-Bravo commented on #19882
Hello @alex4allofyou. Update your newely Preconditions and Actual result

[2019-07-11 11:53] mrk-dzie commented on #22468
When will it be resolved and the fix pushed to Magento 2.3?

[2019-07-11 12:13] Nazar65 commented on #23662
Hi @pavanusn seems like this is not an issue , can you please show how you get this -> $mappedData and just show var_dump($mappedData);

[2019-07-11 12:14] Nazar65 commented on #23662
@pavanusn and if you want to update please use` addData` instead of `setData`

[2019-07-11 12:22] engcom-Bravo commented on #19882
@magento give me 2.3-develop instance

[2019-07-11 12:23] magento-engcom-team commented on #19882
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-11 12:23] magento-engcom-team commented on #19882
Hi @engcom-Bravo, here is your [Magento instance](https://i-19882-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19882-2-3-develop.instances.magento-community.engineering/admin](https://i-19882-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-11 12:58] rav-redchamps commented on #20934
@abbasalis This issue has been fixed in pull request https://github.com/magento/magento2/pull/21007 that's why it's not repeatable on Magento 2.3-develop instance.

Seems like this issue can be closed.

[2019-07-11 12:58] #20934 closed, assigned to abbasalis

[2019-07-11 13:25] pavanusn commented on #23662
Thanks, @Nazar65 addData is working. May I know the difference between addData and setData

[2019-07-11 13:30] engcom-Charlie commented on #23015
Hello @svenakela ! Thank you for your report !
I`ve tried to reproduce this issue both on 2.3.x-develop and 2.2.x-develop instances and was not able to do it. I`m closing this issue for now but if you can confirm that problem is still exist on 2.3.x release line then feel free to reopen this issue.
Thanks in advance!

[2019-07-11 13:30] #23015 closed, assigned to engcom-Charlie

[2019-07-11 13:34] #22608 closed, assigned to sdzhepa

[2019-07-11 13:34] #23315 closed, assigned to sdzhepa

[2019-07-11 13:35] geet07 commented on #23588
@magento give me 2.3-develop

[2019-07-11 13:36] geet07 commented on #23588
@magento give me 2.3-develop instance

[2019-07-11 13:36] magento-engcom-team commented on #23588
Hi @geet07. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-11 13:37] magento-engcom-team commented on #23588
Hi @geet07, here is your [Magento instance](https://i-23588-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23588-2-3-develop.instances.magento-community.engineering/admin](https://i-23588-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-11 13:50] mourjohn commented on #19542
bypassed that problem with ssh
`cat sql_to_migrate.sql | grep -v 'old_db_name' > new_sql_to_import.sql`

mysql adds this line in sql export
`/*!50013 DEFINER=`old_db_name`@`%` SQL SECURITY INVOKER */`
new mysql does not have access to that db removing this line creates the view with

so cat the file  | remove that line with export > export to new sql
importing the new sql inventory_stock_1 or any

[2019-07-11 13:52] ghost opened #23669 "config:set cli not saving config value to default scope"
### Preconditions (*)

1. Magento version 2.2.9
2.

### Steps to reproduce (*)

1. on a Magento instance running in single store mode, use the cli to set the paypal business account with `magento config:set paypal/general/business_account 'paypal@example.com'`

### Expected result (*)

1. the value paypal@example.com should be saved in core_config_data table with scope set to 'default', but scope

[2019-07-11 13:59] php4umagento commented on #19597
Ok I got it working - by applying @heldchen two patches and adding 3 of mine:

[code]

[code]

[code]

[2019-07-11 14:00] baranovserhiy commented on #13443
The same issue in the  2.3.1

[2019-07-11 14:01] shilpambb commented on #23669
@magento give me 2.3-develop instance

[2019-07-11 14:01] magento-engcom-team commented on #23669
Hi @shilpambb. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-11 14:02] magento-engcom-team commented on #23669
Hi @shilpambb, here is your [Magento instance](https://i-23669-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23669-2-3-develop.instances.magento-community.engineering/admin](https://i-23669-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-11 14:03] koopjesboom commented on #5863
@mille2018
If it breaks from the start something is wrong with the server or there are installed extensions are breaking your site. From scratch i have never had the URL rewrite issues.

My URL rewrites breaks sometimes after:

1. Updating magento to newer version
2. Changing root or subcategory Name or some settings related to the URL of root categories and sub categories.

Some S.E.O. extensions

[2019-07-11 14:07] shilpambb commented on #23669
I'm not sure how to gain cli access to reproduce the issue. Any suggestions?

[2019-07-11 14:14] CompactCodeEU commented on #23186
We have resolved this issue for @mrlerch . The problem it is referring to a frontend template. The 2 templates should be moved to the base directory.
So
`vendor/magento/module-paypal/view/frontend/templates/payment/mark.phtml`
`vendor/magento/module-paypal/view/frontend/templates/payment/redirect.phtml`
needs to be moved to
`vendor/magento/module-paypal/view/base/templates/payment/mark.phtml`
`ven

[2019-07-11 14:24] shkoliar opened #23670 "Varnish VCL - bin/magento varnish:vcl:generate command generates vcl with deprecated value"
### Preconditions (*)

1. PHP 7.2, MariaDB 10.3, Varnish 5.2.1
2. Tested with Magento 2.3.2 and  Magento 2.3.1

### Steps to reproduce (*)

1. Run command
[code]
2. Run commands
[code]

### Expected result (*)

1. Contents of generated `var/default.vcl` file, pay attention to correct row `return (miss);`
[code]
2. Varnish `varnishadm` command loads and activates config.

### Actual result (*)

1.

[2019-07-11 14:37] shkoliar commented on #23670
FYI, varnish VCL config generated from Magento admin panel has correct values. The issue is related only to `bin/magento varnish:vcl:generate` command.

[2019-07-11 14:45] engcom-Bravo commented on #23669
@magento give me 2.3-develop instance

[2019-07-11 14:45] magento-engcom-team commented on #23669
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-11 14:45] magento-engcom-team commented on #23669
Hi @engcom-Bravo, here is your [Magento instance](https://i-23669-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23669-2-3-develop.instances.magento-community.engineering/admin](https://i-23669-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-11 14:48] zestbeauty commented on #16101
We are still suffering from this issue. It appears that it only happens on customer accounts that login and that where created in M1 and migrated from M1 to M2

[2019-07-11 14:50] engcom-Bravo commented on #23669
Hi @shilpambb thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.3-develop.

![v6](https://user-images.githubusercontent.com/51680745/61060970-158e9100-a404-11e9-8d4c-c93c779d1602.png)
![v7](https://user-images.githubusercontent.com/51680745/61060971-158e9100-a404-11e9-996d-cb53ad1ab372.png)

[2019-07-11 14:51] Nazar65 commented on #23662
@pavanusn setData completely deletes all data and set yours, addData replaced existing keys

[2019-07-11 14:53] shilpambb commented on #23669
hmmm, ok, I'll look into my environment some more.

[2019-07-11 14:58] ESiebrandt commented on #12356
Issue still exists in 2.3.0 as well

[2019-07-11 15:02] NetStorm84 commented on #1146
give me 2.3-develop instance

[2019-07-11 15:02] sdzhepa opened #23671 "[TEST] TEST ISSUES"
### Preconditions (*)

1.  Magento 2.3
2.

### Steps to reproduce (*)

1. Create new product
2. Add product to cart
3. Place order with product

### Expected result (*)

1. [Screenshots, logs or description]
2. Order is placed

### Actual result (*)

1. [Screenshots, logs or description]
2. Error during palce order

[BEFORE_result.json.txt](https://github.com/magento/magento2/files/3393215/BEFORE_

[2019-07-11 15:02] NetStorm84 commented on #1146
@magento give me 2.3-develop instance

[2019-07-11 15:03] magento-engcom-team commented on #1146
Hi @NetStorm84. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-11 15:03] magento-engcom-team commented on #1146
Hi @NetStorm84, here is your [Magento instance](https://i-1146-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-1146-2-3-develop.instances.magento-community.engineering/admin](https://i-1146-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-11 15:04] sdzhepa commented on #23671
@magento give me 2.3-develop instance

[2019-07-11 15:04] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-11 15:04] magento-engcom-team commented on #23671
Hi @sdzhepa, here is your [Magento instance](https://i-23671-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23671-2-3-develop.instances.magento-community.engineering/admin](https://i-23671-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-11 15:07] sdzhepa commented on #23671
Issue reproduced only with Configurable product

[2019-07-11 15:07] Sherbieny commented on #22952
Issue happening in commerce 2.3.1
A temporary workaround that worked for me was the following:

1. preference for Magento\Framework\Reflection\CustomAttributesProcessor in your module
2. extend Magento\Framework\Reflection\CustomAttributesProcessor with your own class
3. copy the whole class (its a small one) into your custom once
3. add a null handler in the loop of buildOutputDataArray method
fo

[2019-07-11 15:08] magento-engcom-team commented on #23671
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18061` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-11 15:09] koopjesboom commented on #5402
Best,

Magento 2.3.2

Edit /lib/web/mage/menu.js
Add a empty line under $(this.element).off('mouseenter mouseleave click');
So between Line 484 and line 486 Line 485 must be empty to keep it simple.
And the mobile menu is working on magento 2.3.2
Seems 1% is testing there mobile site so this can be useful.

481 _toggleDesktopMode: function () {
482            var categoryParent, html;
483
484

[2019-07-11 15:45] DeanMorganMB commented on #15273
I'd also like an update as this is something that I could do with being fixed.

[2019-07-11 15:58] VincentMarmiesse commented on #15273
FYI, PR #18898 fixed the issue for me

[2019-07-11 16:33] Hailong commented on #22468
@mrk-dzie Here is the PR that fixing the problem, but I'm not sure when it will be able to merged into main.

[2019-07-11 17:11] gwharton commented on #23627
Shouldn't any proposed issue here respect the Magento Settings

[code]

[2019-07-11 17:16] joshuaadickerson commented on #7852
It is reproducible in 2.2 and 2.3. The other component it affects is the Review component.

[2019-07-11 17:59] mihaimatei commented on #14456
Should probably be labeled as Fixed in 2.2.9. ( Reference: https://github.com/magento/magento2/blame/0a1a283cd6a0cf4b98a051867f90150c9490fcec/app/code/Magento/Customer/Model/Customer/DataProvider.php#L384 )

[2019-07-11 19:08] magento-engcom-team commented on #23435
Hi @bst2002git. Thank you for your report.
The issue has been fixed in magento/magento2#23444 by @mattijv in 2.3-develop branch
Related commit(s):
 - [4adee3b19c1396251d29c54df3eb874d5c985388](https://github.com/magento/magento2/commit/4adee3b19c1396251d29c54df3eb874d5c985388)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-11 19:08] #23435 closed, assigned to mattijv

[2019-07-11 19:16] rhoerr commented on #6287
Note https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Customer/Block/Adminhtml/Edit/Tab/Cart.php#L111 is currently bugged -- if the customer being viewed has no active quote, the collection will only be filtered by `parent_item_id is null`, and you'll get all parent items for all customers and quotes. Which is not right.

        $quote = $this->getQuote();
        if ($quote)

[2019-07-11 20:04] sdzhepa commented on #4831
Hello @vovayatsyuk and @orlangur

All internal Jira tickets(`MC-17604`, `MC-17603`) related to this issue were closed by Magento team with resolution `Not a Bug`.
Because of the quote:

It was fixed intentionally.
Additional information:
- GitHub issue https://github.com/magento/magento2/issues/8236 with original report
-  PR: https://github.com/magento/magento2/pull/11802 to fix it

 Also additio

[2019-07-11 20:24] #23655 closed, assigned to nobody

[2019-07-11 22:15] Bowens20832 commented on #23518
I am able to reproduce on a vanilla install of Magento 2.3.2.

There is also an existing open issue on MSP Recaptcha repo related to this.
https://github.com/magento/magespecialist_ReCaptcha

The error occurs here:
https://github.com/magento/magespecialist_ReCaptcha/blob/8280c2ae20c259cd6ecfd6ea6d1c07846998d381/view/frontend/web/js/reCaptcha.js#L69

the settings variable seems to be undefined when

[2019-07-11 22:20] shilpambb commented on #23669
Can we try this on a 2.2.9 instance? I disabled all my third party modules and still can't get it to work on a 2.2.9 instance. Also, if there is a way, I'd like cli access on one of the vanilla instances to try it out.

[2019-07-12 01:42] Haiwera opened #23672 "Token always invalid while timezone has been set"
### Preconditions (*)

### Steps to reproduce (*)

1. Go to Admin > Configuration > General > Local
2. Set timezone to Asia/Shanghai
3. Call login API with password and username to exchange a valid token
4. Call get account info API with the token

### Expected result (*)

1. Account info can be fetched

### Actual result (*)

1. Exception, The consumer isn't authorized to access self

I've debugg

[2019-07-12 01:46] andimov commented on #22516
@batmike, @acampos1916, thank you for your answers.

There are several reasons why price indexation takes a long time for large data profiles:
- As @enl mentioned, there are missed type check in [getBatchesForIndexer() method](https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Model/Indexer/Product/Price/Action/Full.php#L282) so adding a new line with
        `$select->w

[2019-07-12 01:51] Haiwera commented on #23672
app/code/Magento/Webapi/Model/Authorization/TokenUserContext.php
[code]
Should add UTC like
[code]

[2019-07-12 05:00] ajijshekh123 commented on #23644
@levi-dtn - fell free to reopen this issue when you will reproduce this issue. we will review it and confirm it.

[2019-07-12 05:00] #23644 closed, assigned to ajijshekh123

[2019-07-12 05:37] magento-engcom-team commented on #23583
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18129` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-12 05:53] simonworkhouse commented on #5863
@koopjesboom If you have never had rewrite issues, you either haven't been paying attention or you haven't been using Magento. The rewrite system in Magento needs to be entirely rebuilt and this time they need some experienced developers giving the whole system careful consideration.

Just look at some of the following issues, all of which are from a _clean_ install of Magento.

https://github.com

[2019-07-12 06:26] vovayatsyuk commented on #4831
I strongly disagree with this quote:

Let's work on it together to allow to do that and fix all possible issues (if any).

Let me explain:

1. Currently, I have to re-save an existing block (select every store view except one manually) and only after that, I can finally create a block for a specific store view.
2. Previously, I could add a new block and it just works. Magento correctly used the fa

[2019-07-12 07:15] lewis-chilton commented on #14828
ticket #14830 (Chrome NOT IE) was merged into this one. I'm replicating the issue now in Chrome.
Can you re-open this bug?

[2019-07-12 07:21] engcom-Bravo commented on #23670
@magento give me 2.2-develop instance

[2019-07-12 07:21] magento-engcom-team commented on #23670
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-12 07:21] #23662 closed, assigned to nobody

[2019-07-12 07:21] magento-engcom-team commented on #23670
Hi @engcom-Bravo, here is your [Magento instance](https://i-23670-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23670-2-2-develop.instances.magento-community.engineering/admin](https://i-23670-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-12 07:27] magento-engcom-team commented on #23670
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18131`, `MC-18132` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-12 07:43] Hanhan1989 opened #23673 "repeated rows with the same sku in the order form"
### Description (*)

If you add a configurable product to an order, then you search for that same product based on SKU you will get two rows.

![feature_one_row_same_sku](https://user-images.githubusercontent.com/11807165/61111083-07cf1f00-a489-11e9-8ab6-d7820ea7537a.png)

### Expected behavior (*)
The sku of  items are the same. Being the same, I think it would be better to group these rows into

[2019-07-12 08:13] caramidaovidiu commented on #5863
You can use this solution and you won't have any more problems with the URL rewrites.
https://webpanda-solutions.com/url-rewrites-regenerate-and-customize.html

[2019-07-12 08:18] dcdiennea commented on #10014
Hello, is this a regression or a breaking change in version > 2.2?

I tested the newsletter subscription in many version of magento ce.
It seems to me that:
- in magento <= 2.1 (including magento 1.x) > newsletter subscription are unique per email (guest or customer doesn't matter, subscribing the same email for different store_id overwrite  previous record)
- in magento version > 2.2 > newsletter

[2019-07-12 08:19] simonworkhouse commented on #5863
Or alternatively, you could use these solutions:

- https://www.prestashop.com/
- https://sylius.com/
- Anything that's not Magento
- etc...

[2019-07-12 08:23] mille2018 commented on #5863
I have used web panda extension it doesn't work for large product only good for 5 to 10 products. Magento  should mix this problem asap or lose customers

[2019-07-12 08:32] dpdesignthatfits commented on #4688
Were you able to find a proper solution to this?

[2019-07-12 08:37] engcom-Bravo commented on #21564
@magento give me 2.3-develop instance

[2019-07-12 08:37] magento-engcom-team commented on #21564
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-12 08:37] magento-engcom-team commented on #21564
Hi @engcom-Bravo, here is your [Magento instance](https://i-21564-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21564-2-3-develop.instances.magento-community.engineering/admin](https://i-21564-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-12 08:38] engcom-Bravo commented on #21564
@magento-engcom-team give me 2.2-develop instance

[2019-07-12 08:38] magento-engcom-team commented on #21564
Hi @engcom-Bravo. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-12 08:39] magento-engcom-team commented on #21564
Hi @engcom-Bravo, here is your [Magento instance](https://i-21564-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-21564-2-2-develop.instances.magento-community.engineering/admin](https://i-21564-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-12 08:40] Styopchik commented on #5586
I suggest, that in Magento_Customer::address/edit.phtml should be at least

`echo $this->getChildHtml('additional_data');`

inside of `<form>` for having possibility to display custom attributes inputs without overriding core template.

[2019-07-12 08:46] caramidaovidiu commented on #5863
It can process all products at once with the cli command

On Fri, 12 Jul 2019 at 11:24, mille2018 <notifications@github.com> wrote:

[2019-07-12 09:16] sumeetmobiwebtech commented on #3890
issue is still exists in magento 2.3.1
when cache is enable then recently products is not showing
Anyone know how to solve this ?

[2019-07-12 09:32] s70n1e opened #23675 "Products not adding to cart magento 2.3.2"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-07-12 09:33] magento-engcom-team commented on #21564
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18135`, `MC-18136` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-12 09:44] shkoliar commented on #23670
After digging in the source code for `bin/magento varnish:vcl:generate` cli command, I've found out that command line parameter --export-version responsible for vcl version output.

To sum up, `--export-version` parameter, when omitted, defaults to Varnish 4, and to get vcl config for Varnish 5 we need to include that parameter with corresponding version value.

It would be good to add more inform

[2019-07-12 09:49] shkoliar commented on #23670
Dev docs include a note about actual command and its parameters, but no detailed description and defaults like for other commands.

https://devdocs.magento.com/guides/v2.2/reference/cli/magento.html
https://devdocs.magento.com/guides/v2.3/reference/cli/magento.html

[2019-07-12 09:49] #23670 closed, assigned to nobody

[2019-07-12 09:53] edenduong opened #23676 ""Vertex Settings" has the extra line at the bottom"
### Preconditions (*)

1. Magento version 2.3.2
2. PHP 7.1.30

### Steps to reproduce (*)

1. Go to the Backend,
2. Configuration->Sales/Tax
3. Check the display of Vertex Settings

### Expected result (*)

1. It has no extra line at the bottom (the normal style)

### Actual result (*)

1. It has the extra line at the bottom
![image](https://user-images.githubusercontent.com/8234209/61119609-6adea

[2019-07-12 09:55] edenduong commented on #23676
@magento give me 2.3-develop instance

[2019-07-12 09:55] magento-engcom-team commented on #23676
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-12 09:55] magento-engcom-team commented on #23676
Hi @edenduong, here is your [Magento instance](https://i-23676-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23676-2-3-develop.instances.magento-community.engineering/admin](https://i-23676-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-12 09:57] ajijshekh123 commented on #23676
Give me @magento give me 2.3-develop instance

[2019-07-12 09:57] magento-engcom-team commented on #23676
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-12 09:57] magento-engcom-team commented on #23676
Hi @ajijshekh123, here is your [Magento instance](https://i-23676-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23676-2-3-develop.instances.magento-community.engineering/admin](https://i-23676-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-12 10:00] karthik32cse opened #23677 "Asynchronous web endpoints & Bulk Endpoints"
From which version the following features are available in Magento 2 Enterprise Edition,
1. Asynchronous web endpoints
2. Bulk Endpoints

Form the dev docs, I can see the above features are available from Magento EE 2.2. But I want to know the exact version. Please give your inputs on the same

Thanks in advance

[2019-07-12 10:02] skdude commented on #10687
The code fix is not present in 2.2.6, this looks still to be an issue. Any updates ?

[2019-07-12 10:04] ajijshekh123 commented on #23676
Give me @magento give me 2.2-develop instance

[2019-07-12 10:04] magento-engcom-team commented on #23676
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-12 10:05] magento-engcom-team commented on #23676
Hi @ajijshekh123, here is your [Magento instance](https://i-23676-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-23676-2-2-develop.instances.magento-community.engineering/admin](https://i-23676-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-12 10:06] eduard13 commented on #10687
@skdude because the fix was provided in 2.2.7 (Release: 2.2.7).
Upgrade to2.2.7 or use a patch to apply the needed fix.

[2019-07-12 10:08] engcom-Charlie commented on #23637
Hello @damienwebdev ! Thank you for your report !
I have tested this issue using Ubuntu 16.04 and was not able to reproduce it

![integr](https://user-images.githubusercontent.com/51680850/61120663-298acf00-a4a6-11e9-979a-205ea9d3923c.png)

[2019-07-12 10:09] ajijshekh123 commented on #23676
@edenduong - In Default Magento 2.2 and 2.3 Instance, Vertex options are not available in below Configuration.  **Stores >> Configuration >> Sales >> Tax**.
See attached below screenshot:

![2 2 Screenshot](https://user-images.githubusercontent.com/24711761/61120674-23ebb400-a4bb-11e9-9b16-dce6d6b9560c.png)

![2 3 Screenshot](https://user-images.githubusercontent.com/24711761/61120675-24844a80-a4b

[2019-07-12 10:10] wjpbill commented on #22366
Hello everyone

Did anyone find a fix for this. I'm running 2.2.8 and for the minute have disabled secret keys in the admin and it's working again but wondered if there's a code fix anywhere for 2.2.8?

[2019-07-12 10:39] engcom-Charlie commented on #23677
Hello @karthik32cse ! Thank you for your report !
Asynchronous web endpoints & Bulk Endpoints are not exist in Magento 2 EE 2.2.x release line . That features was released in Magento 2 EE 2.3.0 release line . For more information please refer here: https://devdocs.magento.com/guides/v2.3/release-notes/ReleaseNotes2.3.0Commerce.html

[2019-07-12 10:39] #23677 closed, assigned to engcom-Charlie

[2019-07-12 10:47] engcom-Bravo commented on #23672
Hi, @Haiwera . I can't reproduce this issue on 2.2-develop and 2.3-develop. Can you give me more information and maybe more steps to testing scenario?

[2019-07-12 10:54] engcom-Bravo commented on #23675
Hi, @s70n1e . I can't reproduce this issue on 2.2-develop and 2.3-develop. Could you give me more information and preconditions, also steps to testing scenario?

[2019-07-12 11:00] s70n1e commented on #23675
Hi, my new site I have been creating is live at http://sallyswigs.co.uk

Please go to the site and try to add any product, then you will see it does not add to the cart, I recently upgraded magento from 2.3.1 to 2.3.2 so not sure if this has caused the problem. It is driving me insane.

Thanks

Andy

[2019-07-12 11:11] anupamyx commented on #3890
@sumeetmobiwebtech  Did you check my above comment ?https://github.com/magento/magento2/issues/3890#issuecomment-500468475

[2019-07-12 11:14] engcom-Bravo commented on #23668
instead:
$invoiceNumber = $invoice->getIncrementId();
rewrite
$invoiceNumber = $invoice->getData('entity_id'); //or use ->getEntityId();

[2019-07-12 11:19] elvinristi commented on #22366
@wjpbill check previous comment https://github.com/magento/magento2/issues/22366#issuecomment-508707963

[2019-07-12 11:21] sumeetmobiwebtech commented on #3890
@anupamyx
where i need to write that code ?
i am using that code -
myblock.php
[code]
my.phtml
[code]
When cache is disable then this code working but when cache is enable then it is not working.
And when i write your above code in my.phtml then it will be work @anupamyx ?

[2019-07-12 11:26] anupamyx commented on #3890
Only use this https://github.com/magento/magento2/issues/3890#issuecomment-500468475 . Magento (2.3.0) puts recently viewed in browser's local storage. This uses that.

[2019-07-12 11:27] #23539 closed, assigned to nobody

[2019-07-12 11:29] wjpbill commented on #22366
That work, thank you very much. It was driving me around the bend.
The only problem I have now is that stupid "Attention, Something Went Wrong" popup with it's associated "There was a technical problem blah blah" error when you click a menu item. It always goes way when I close it but it's so irritating and nothing in the logs.

[2019-07-12 11:29] sumeetmobiwebtech commented on #3890
Sorry,i am not getting.
It will be great if you write step by step.

[2019-07-12 12:01] engcom-Bravo commented on #23675
We don`t testing websites of peoples. We testing clean instance magento of 2.x.x. I closed these issue.

[2019-07-12 12:01] #23675 closed, assigned to engcom-Bravo

[2019-07-12 12:30] engcom-Bravo commented on #23646
On your hosting is configured mail server?

[2019-07-12 12:32] edenduong commented on #23676
Hello @ajijshekh123,

 It seems in this repository, it doesn't have this module. Because I install the magento version in

https://magento.com/tech-resources/download

So the source code is different. You can close this issue.

Thank you very much!

[2019-07-12 12:34] ajijshekh123 commented on #23676
Okay, @edenduong.
Thanks for the Update.

[2019-07-12 12:42] koopjesboom commented on #5863
@caramidaovidiu

Normally i would say Earning money by a bug in a opensource platform should be avoided at all costs.
In case of magento, you almost need to use this because Magento team itself seems to be unable to resolve the problems.

@simonworkhouse

1. A little bit cynical but if i test things and i dont see a problem it is not there.
"If you have never had rewrite issues, you either haven't

[2019-07-12 12:46] shilpambb commented on #22366
@wjpbill, we only get that message when viewing an order on the admin. We haven't investigated it. It seems to go away after showing up 1 time.

[2019-07-12 13:04] juhanihaapala commented on #23646
Of course. And to clarify the issue: the email shouldn't be sent as the email user has defined email address.

1. When settings are like this:
![Screenshot_2019-07-12_15-54-01](https://user-images.githubusercontent.com/3079827/61129623-7332e400-a4bd-11e9-916b-412399ff1397.png)

2. Then in send friend form user can select where is it send from:
![Screenshot_2019-07-12_16-00-49](https://user-images.

[2019-07-12 13:20] engcom-Bravo commented on #23646
It is Thunderbird. It is blocks your email. Change your settings in the mail client and everything will be good.

[2019-07-12 13:48] hostep commented on #23646
@engcom-Bravo: I'm able to reproduce on vanilla 2.3.2

It makes more sense to put the email address from the Sender email form field in the `Reply-To` header instead of the `From` header. The `From` header should be one of the addresses configured in Magento's configuration under General > Store Email Addresses.

[2019-07-12 13:55] jtalel commented on #23455
@magento give me 2.3-develop instance

[2019-07-12 13:55] magento-engcom-team commented on #23455
Hi @jtalel. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-12 13:56] magento-engcom-team commented on #23455
Hi @jtalel, here is your [Magento instance](https://i-23455-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23455-2-3-develop.instances.magento-community.engineering/admin](https://i-23455-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-12 14:00] pandyakrunal commented on #23668
Yes, I used that all but not working.

[2019-07-12 14:01] damienwebdev commented on #23637
@engcom-Charlie No. This bug only exists in Alpine Linux. Out-of-the-box Alpine Linux does not have a `pid` flag for the `ps` command.

I'm positive the code runs just fine on most common Ubuntu flavors, but Alpine Linux is slightly different, and this is one of the ways.

Much like the code in question handles the "OS" (e.g. Mac vs. Linux), we'll need a way to handle Alpine Linux as well.

[2019-07-12 14:03] jtalel commented on #23455
@magento-engcom-team Reproduced on 2.3-develop

[2019-07-12 14:09] magento-engcom-team commented on #23637
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18138` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-12 14:16] damienwebdev commented on #23637
@engcom-Charlie Additionally, as I just tested this on my Alpine image, merely adding a `isAlpine` flavor for the conditional:

https://github.com/magento/magento2/blob/0eb8677b0b4e35606032e856cc1ef7c80e68829f/dev/tests/integration/framework/Magento/TestFramework/Helper/Memory.php#L71

Would work as:

https://github.com/magento/magento2/blob/0eb8677b0b4e35606032e856cc1ef7c80e68829f/dev/tests/integ

[2019-07-12 14:19] shilpambb commented on #23669
Can we test this out on 2.2.9? I'm able to reproduce it locally after disabling all third party modules.

[2019-07-12 14:27] magento-engcom-team commented on #23646
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18139` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-12 14:28] engcom-Bravo commented on #23646
@hostep @juhanihaapala , thanks for the communication!

[2019-07-12 15:09] clivewalkden commented on #7367
This is still an issue, I've had a site with this issue and the @gavinlimely fix has worked for me. To replicate this you may have to have a configurable product made up of lots of simple products (20)+, this in turn creates many records in the mview_state referencing the same entity_id.

I've created a patch for anyone interested [https://github.com/sozo-design/magento2-patch-module-magento-catal

[2019-07-12 15:16] textarea opened #23678 "Can't see "Zero Subtotal Checkout" payment method settings if "Offline Payments" module is disabled"
### Preconditions (*)
1. Magento 2.3.2

### Steps to reproduce (*)
1. php bin/magento module:disable Magento_OfflinePayments

### Expected result (*)
1. Go to Stores -> Configuration -> Sales -> Payment Methods
2. Can see and change "Zero Subtotal Checkout" payment method settings

### Actual result (*)
1. "Zero Subtotal Checkout" payment method settings are disappeared even if Free payment method

[2019-07-12 15:20] jonathansimonet opened #23680 "Configurable Product getParentIdsByChild return array empty (Shared Catalog Bug)"
### Preconditions (*)

1. Magento version : Magento Commerce 2.3.1
2. PHP 7.1

### Steps to reproduce (*)

1. Enable Shared Calatog Features
2. Setup a Company and a Shared Catalog correctly
3. Use the method **getParentIdsByChild** to get the parent Id of a child product

### Expected result (*)

1. Have at least one ID of parent product

### Actual result (*)

1. The return of this method  **get

[2019-07-12 15:29] sidolov commented on #22940
Hi @renard123. Thank you for your report.
The issue has been fixed in magento/magento2#23658 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [68ba53d05b9777db4a7de7e60dabf29b2d02539a](https://github.com/magento/magento2/commit/68ba53d05b9777db4a7de7e60dabf29b2d02539a)
 - [e378c79beac850ecabc9f348654060a8caea8876](https://github.com/magento/magento2/commit/e378c79beac850ecabc9f34865406

[2019-07-12 15:29] sidolov commented on #22950
Hi @bhavik43. Thank you for your report.
The issue has been fixed in magento/magento2#23657 by @krishprakash in 2.2-develop branch
Related commit(s):
 - [bd6d89f7c2c61c7e849135175bb3086711c916ee](https://github.com/magento/magento2/commit/bd6d89f7c2c61c7e849135175bb3086711c916ee)

The fix will be available with the upcoming 2.2.10 release.

[2019-07-12 15:38] edenduong commented on #23654
@magento give me test instance

[2019-07-12 15:39] jtalel opened #23682 "Impossible to assign "new" state to any "status" from Backend"
### Preconditions (*)

1. Magento Open Source version 2.2.8
2. PHP 7.1.29, MySQL 5.6, Apache 2.4.
3. Clean install. No extensions or themes installed.

### Steps to reproduce (*)

1. Go to Stores -> Configuration -> Sales -> Sales -> Orders Cron Settings -> Pending Payment Order Lifetime (minutes)
2. Set "Pending Payment Order Lifetime" to 1 hour (or desired time).  (this options allows you to can

[2019-07-12 15:41] jtalel commented on #23682
yes. Reproduced the Magento instance.

[2019-07-12 15:47] mattment opened #23683 "Activating B2B company account does not send company admin email with password link"
### Preconditions (*)

1. 2.3.2 Commerce

### Steps to reproduce (*)

1. Set Company accounts to "Pending Approval" by default.
2. Sign up with company account.
3. Approve company account within admin area.
4. Company admin gets email about account approval but can't then use the account or login

### Expected result (*)

1. Company account admin should get an email with a link to set password so

[2019-07-12 15:49] mattment commented on #23683
@magento give me 2.3-develop instance

[2019-07-12 15:49] magento-engcom-team commented on #23683
Hi @mattment. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-12 15:50] magento-engcom-team commented on #23683
Hi @mattment, here is your [Magento instance](https://i-23683-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23683-2-3-develop.instances.magento-community.engineering/admin](https://i-23683-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-12 16:16] lracicot commented on #22438
Same problem here with 2.3.1. We import data with an API and I suspect that the cron interferes with my hourly syncs.

[2019-07-12 16:31] lracicot commented on #8933
Here's what I've been able to found in my case for the moment:

In Magento 2.3.1, if you have an import that takes multiple minutes (for example, you have added an API endpoint that uses the import module), and you have an indexer running at the same time because of a cron job, it is possible to reproduce the error.

The error is NOT systematic. It's a race condition. Pausing the indexer cron solv

[2019-07-12 17:40] magento-engcom-team commented on #16446
Hi @LouNik1984. Thank you for your report.
The issue has been fixed in magento/magento2#22510 by @ravi-chandra3197 in 2.2-develop branch
Related commit(s):
 - [4e190effd9445fec7abca90fcda9431e577f0650](https://github.com/magento/magento2/commit/4e190effd9445fec7abca90fcda9431e577f0650)
 - [c5674e53bb77c4529e42733848acde768c338ca7](https://github.com/magento/magento2/commit/c5674e53bb77c4529e427338

[2019-07-12 18:15] bsacharski commented on #11262
The js script mentioned by [tiberiucontiu](https://github.com/magento/magento2/issues/11262#issuecomment-425350425) doesn't seem to work in Magento 2.3.

Here's what we've been using in out project (copied from js code that renders _short description_ text area on product edit page)
[code]

[2019-07-12 18:17] hostep commented on #23669
Reopening, @engcom-Bravo, you can very easily reproduce this problem on the `2.3-develop` branch.
Make sure you enabled single store mode like @shilpambb mentioned in the opening post.

<img width="1305" alt="Screenshot 2019-07-12 at 20 12 54" src="https://user-images.githubusercontent.com/85479/61149639-e9494200-a4e1-11e9-8b73-becc57d48657.png">

@shilpambb: thanks for creating this issue, it doe

[2019-07-12 18:32] hostep commented on #23676
In theory you should report this bug to https://github.com/magento/ext-vertex/ (but that's still not accessible at the moment of writing)

[According](https://github.com/magento/magento2/issues/18402#issuecomment-427579396) to @okorshenko it was going to be opened to the public one day, but until now this doesn't seem to have happened yet :(

[2019-07-12 18:53] southerncomputer commented on #8933
Yeah I just coded in a giant file-lock when i'm importing products to avoid (indexing) each other causing issues. Not elegant but it is stable.

Otherwise a slow import process will always conflict with indexing since it tries to run every minute from cron..

[2019-07-12 19:07] stevetnt commented on #5980
Chiming in here on 2.2.8. I have this process when I work called multi-tasking and being efficient. It doesn't really work well with Magento.

Is this ever going to be fixed? Dating back to 2016, it doesn't seem likely.

Has anyone found a solution to this?

[2019-07-12 19:08] lracicot commented on #8933
@southerncomputer would you to share your code, if legally possible? It might be a nice temporary workaround for us.

[2019-07-12 19:25] batmike commented on #22516
@andimov - I made the change to the getBatchesForIndexer() method but it didn't seem to improve the indexing time, with or without the batch modification. However, I enabled the MSI modules and then applied the PR 2336 and the rebuild now completes in just a couple minutes.

Is there any reason that the processing should still be degraded so much with MSI disabled though?

[2019-07-12 19:25] gabs77 commented on #21204
The bug is present on 2.2.8 XD

[2019-07-12 20:16] rparsi-boxycharm commented on #12075
@magento-engcom-team any updates? We need a fix asap

[2019-07-12 20:28] wssweb commented on #20010
The open graph price tag is still incorrect in 2.3.2 when Minimum Advertised Price is enabled. The price used will be Price, and not Manufacturer's Suggested Retail Price. Search engines like Google will use the open graph tag to override the price displayed on the page in their search results, which will cause you to violate any normal IMAP agreement.

[2019-07-12 21:08] magento-engcom-team commented on #21770
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18156` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-12 21:28] sdzhepa commented on #23671
@magento give me 2.3-develop instance

[2019-07-12 21:28] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-12 21:28] magento-engcom-team commented on #23671
Hi @sdzhepa, here is your [Magento instance](https://i-23671-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23671-2-3-develop.instances.magento-community.engineering/admin](https://i-23671-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-12 22:31] mattwellss commented on #19225
Isn't this a backwards-compatibility break? For example, the CustomerBalance page `baseurl/storecredit/info/` included the body class `magento-customerbalance-info-index`, whereas in `2.2.9` (and `2.3.2`, I presume) the class is `magento_customerbalance-info-index`.

it seems like a valid issue, and it's caused problems for us both in core modules and custom ones. The class where the change was ma

[2019-07-12 23:02] robdevmen opened #23685 "Framework Search/suggest offset is wrong"
### Preconditions (*)
1. Magento 2.3.2
2. Use default MySql indexing and search adapter

### Steps to reproduce (*)
1. Do a autocomplete/suggest search that has less than 5 results

### Expected result (*)
1. Show the results of the search query

### Actual result (*)
1. Empty result set

### Solution

class : Magento\Framework\Search\Search
line 72 :
$this->requestBuilder->setFrom($searchCriteria

[2019-07-13 01:29] edenduong commented on #23588
@magento give me 2.3-develop instance

[2019-07-13 01:29] magento-engcom-team commented on #23588
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-13 01:52] edenduong commented on #21564
@magento give me 2.3-develop instance

[2019-07-13 01:52] magento-engcom-team commented on #21564
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-13 01:52] magento-engcom-team commented on #21564
Hi @edenduong, here is your [Magento instance](https://i-21564-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21564-2-3-develop.instances.magento-community.engineering/admin](https://i-21564-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-13 04:17] caramidaovidiu commented on #5863
There are free extensions online that do the basic url regeneration. The webpanda one does more than that and the support is also very important. You won't get that with a free one and most of the people who have this kind of problem will need to support even with the extension working.

[2019-07-13 08:25] edenduong commented on #23137
@magento give me 2.3-develop instance

[2019-07-13 08:25] magento-engcom-team commented on #23137
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-13 08:26] magento-engcom-team commented on #23137
Hi @edenduong, here is your [Magento instance](https://i-23137-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23137-2-3-develop.instances.magento-community.engineering/admin](https://i-23137-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-13 09:03] hostep commented on #21204
@gabs77: I've just tested using my steps to reproduce mentioned above on both Magento 2.2.8 and 2.2.9 and I can't reproduce. So what you are running against must be another problem.
Can you open a new issue with exact steps to reproduce on a vanilla installation? That would be great. Thanks!

[2019-07-13 09:42] edenduong commented on #23211
@magento give me 2.3-develop instance

[2019-07-13 09:42] magento-engcom-team commented on #23211
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-13 09:42] magento-engcom-team commented on #23211
Hi @edenduong, here is your [Magento instance](https://i-23211-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23211-2-3-develop.instances.magento-community.engineering/admin](https://i-23211-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-13 10:55] fohnbit opened #23689 "upgrade from 2.2.2 to 2.3.2, Cannot add foreign key constraint"
### Preconditions (*)
1. Magento 2.2.2 copied to a local webserver and update to 2.3.2

### Steps to reproduce (*)
1. after composer update I start "bin/magento setup:upgrade"

### Actual result (*)
I get this error:
Cache cleared successfully
File system cleanup:
/var/www/html/generated/code/Composer
/var/www/html/generated/code/Firebear
/var/www/html/generated/code/Iazel
/var/www/html/generated/

[2019-07-13 14:47] edenduong commented on #23634
@LucianMihalache : the attribute_group_code group field is also not saved in the database. You should change "product-details" to other value like "product-detail-1". It was saved because there is the source code check if the attribute_group_code is empty, it will automatically get the attribute_group_code  value  base on the attribute_group_name

                   $attributeGroupCode = trim(

[2019-07-13 14:53] edenduong commented on #23557
I fixed this issue in the https://github.com/magento/magento2/pull/23687

[2019-07-13 16:09] fritzmg commented on #8933
Yeah, we encounter exactly the same thing. We temporarily fixed it by calling Magento's cron not as often and only after our imports are run - which is just a workaround obviously. We intend to fix it by tying our importer to the regular Magento cron - the theory being, that Magento will execute all cron tasks sequentially when ever Magento's cron is run. This way this problem will hopefully be av

[2019-07-13 16:57] southerncomputer commented on #8933
@lracicot I just look for a file_exists in the these two files, and my importer process touches the files. Ghetto but it works for us.

vendor/magento/module-indexer/Cron/UpdateMview.php:       if ( file_exists('/home/scw/public_html/.indeximporting') )
vendor/magento/module-indexer/Cron/ReindexAllInvalid.php:       if ( file_exists('/home/scw/public_html/.indeximporting') )

We import about 2500

[2019-07-13 18:07] neillrobson opened #23691 "UI component events: observable name limitations"
### Summary

In Magento's event implementation for Javascript UI components, one capability of event registration is creating a handler for a Knockout observable variable simply by passing the variable's qualified name to the `on` function. However, the internal `addHandler` utility function within `events.js` looks for this observable variable using array notation (checking the type of the value

[2019-07-14 01:11] edenduong commented on #23609
@magento give me 2.3-develop instance

[2019-07-14 01:11] magento-engcom-team commented on #23609
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-14 01:12] magento-engcom-team commented on #23609
Hi @edenduong, here is your [Magento instance](https://i-23609-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23609-2-3-develop.instances.magento-community.engineering/admin](https://i-23609-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-14 01:31] edenduong commented on #23609
Hello @jigardhaduk :

fields=billing_address,customer_firstname,customer_lastname . I don't see it in the API docs : https://devdocs.magento.com/swagger/

I removed it and the API has the normal results.

[2019-07-14 04:48] edenduong commented on #23559
@magento give me 2.3-develop instance

[2019-07-14 04:48] magento-engcom-team commented on #23559
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-14 04:48] magento-engcom-team commented on #23559
Hi @edenduong, here is your [Magento instance](https://i-23559-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23559-2-3-develop.instances.magento-community.engineering/admin](https://i-23559-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-14 06:18] GoodLifeMarket opened #23692 "Cart Price Rule"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-07-14 09:12] edenduong commented on #23359
I think we should implement it like date(..) function in the same class:

https://github.com/magento/magento2/pull/23693

[2019-07-14 10:32] araby93 commented on #23646
@magento give me 2.3-develop instance

[2019-07-14 10:32] magento-engcom-team commented on #23646
Hi @araby93. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-14 10:33] magento-engcom-team commented on #23646
Hi @araby93, here is your [Magento instance](https://i-23646-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23646-2-3-develop.instances.magento-community.engineering/admin](https://i-23646-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-14 11:54] #23692 closed, assigned to nobody

[2019-07-14 13:29] migmax48 opened #23694 "Problem rest ship order"
Magento ver. 2.3.1 on AWS LightSail

I'm trying to execute REST WS to ship an order. When I execute the PHP code I receive the following error message: "**The entity that was requested doesn't exist. Verify the entity and try again**". Anyway order_id and item_id are correct.

this is my PHP code:

        $curl = curl_init();
        $data_string = json_encode($shipmentObject);
        $httpheade

[2019-07-14 14:31] edenduong commented on #22346
@magento-engcom-team give me 2.3-develop instance

[2019-07-14 14:31] magento-engcom-team commented on #22346
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-14 14:32] magento-engcom-team commented on #22346
Hi @edenduong, here is your [Magento instance](https://i-22346-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22346-2-3-develop.instances.magento-community.engineering/admin](https://i-22346-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-14 15:22] Goldstar215 opened #23696 "Magento 2.3.2 Venus Megamenu problem"
### Summary (*)
I am upgrading Magento version from 2.2.7 to 2.3.2.
I have installed Magento 2.3.2 on my local.
Then I have installed Theme, Modules and migrated database from live server.
All Theme features work fine, but only Venus Megamenu doesn't work.
In admin panel, I can see menu items and Ves_Megamenu module already enabled.
But in frontend, I can't see menu items.

### Examples (*)

### P

[2019-07-14 15:29] edenduong commented on #23668
The invoice id is blank because it isn't saved in the Database  . So the id is null,

[2019-07-14 15:33] Nazar65 commented on #23696
Hi @Goldstar215 i think you probably need to contact to "Venus" support, as this bug not related to magento.

[2019-07-14 17:25] Goldstar215 commented on #23696
Hi @Nazar65 thanks for your answer.
I have already contacted to them, but they ask "Have you bought our extension?" first.
And they require their license.
But I work for my client and hard to contact to him now.
Could you please help me?
I am checking code, but didn't found the reason yet.

Thanks again!
Regards!!!

[2019-07-14 17:25] #23696 closed

[2019-07-14 17:34] shinoamakusa commented on #23510
Just wondering if there is any update on this? :p

[2019-07-14 17:38] goutamfulcrum commented on #5873
Any luck to anyone on this so far?

[2019-07-14 17:47] Goldstar215 commented on #23696
Hi @hostep Could you please help me?

[2019-07-14 18:16] hostep commented on #23696
Hi @Goldstar215, unfortunately Github isn't meant for support requests. I agree with @Nazar65 in that you should contact the vendor. Try to find the license from your client and tell him/her you can't proceed with fixing the issue if you haven't received it.

[2019-07-14 18:21] Goldstar215 commented on #23696
Hi @hostep, could you please accept me on Skype?
I have sent request to you.

[2019-07-14 20:00] gwharton commented on #23432
Yes, this is a change I made in one of my PR's. The key is to make sure that the argument gallery_options is injected in the catalog_product_view.xml for the Gallery Block. Its not the way I originally wanted to implement it, I wanted to add the getOptionsJson() functions directly to the Magento\Catalog\Block\Product\View\Gallery class, but was blocked from doing so due to backwards compatability

[2019-07-14 21:09] magento-engcom-team commented on #23386
Hi @swnsma. Thank you for your report.
The issue has been fixed in magento/magento2#23387 by @swnsma in 2.3-develop branch
Related commit(s):
 - [9852b08e18f1128a081fd2b366e75e15355988f8](https://github.com/magento/magento2/commit/9852b08e18f1128a081fd2b366e75e15355988f8)
 - [d70edfccdb5051e46e7b78d4e432a88b2f9eb694](https://github.com/magento/magento2/commit/d70edfccdb5051e46e7b78d4e432a88b2f9eb6

[2019-07-14 21:09] #23386 closed, assigned to swnsma

[2019-07-14 21:10] magento-engcom-team commented on #12817
Hi @AleksLi. Thank you for your report.
The issue has been fixed in magento/magento2#20579 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [757856f3c6b6feccb8205950ece8fdedb7cc54a9](https://github.com/magento/magento2/commit/757856f3c6b6feccb8205950ece8fdedb7cc54a9)
 - [378f03c8edb1fab63d708ee60f8971cd379d3677](https://github.com/magento/magento2/commit/378f03c8edb1fab63d708ee60f8971c

[2019-07-14 23:22] edenduong opened #23697 "Searching "Categories" is wrong when pressing 1 character"
### Preconditions (*)

1. Install the 2.3-develop

### Steps to reproduce (*)

1. Add new product
2. Click "Select..." in Categories.
3. Enter the character like "l" or "j" (not match any categories)

### Expected result (*)

1. Show "0 options"

### Actual result (*)

1. Don't search , show wrong results

![image](https://user-images.githubusercontent.com/8234209/61190587-d9d81d80-a6c8-11e9-86f1-

[2019-07-14 23:22] edenduong commented on #23697
@magento give me 2.3-develop instance

[2019-07-14 23:23] magento-engcom-team commented on #23697
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-14 23:23] magento-engcom-team commented on #23697
Hi @edenduong, here is your [Magento instance](https://i-23697-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23697-2-3-develop.instances.magento-community.engineering/admin](https://i-23697-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-14 23:40] edenduong commented on #23697
I can reproduce the issue on vanilla Magento instance

[2019-07-15 04:45] krishprakash commented on #23697
@magento give me 2.3-develop instance

[2019-07-15 04:45] magento-engcom-team commented on #23697
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-15 04:46] magento-engcom-team commented on #23697
Hi @krishprakash, here is your [Magento instance](https://i-23697-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23697-2-3-develop.instances.magento-community.engineering/admin](https://i-23697-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-15 05:02] pandyakrunal commented on #23668
@edenduong So What should I do? I want Invoice id(In observer) when we create the invoice.

[2019-07-15 05:16] krishprakash commented on #23697
Hi @edenduong. Thank you for your report.
This is not an issue.
Search filter is based on two characters once you add 2 characters it will display proper result.
PFA
![image](https://user-images.githubusercontent.com/46617848/61196640-af4c8b80-a6ed-11e9-9e1a-01f3f61effb0.png)

[2019-07-15 05:26] edenduong commented on #23697
Hello @krishprakash, thank you for your reply. Why the search works for 2 character and not work for 1 character? I think it is very wrong. I want to filter only the categories has the first character like ‘s’ ,Shirt, Shoe’ but it shows all categories include like ‘Hat, Men’.
Actually, I find the problem not only the categories, it will happen all the components use ui select app/code/Magento/Ui/v

[2019-07-15 05:30] DanielRuf commented on #23697
Search filter is based on two characters once you add 2 characters it will display proper result.

Probably because of performance issues. Doing a search for only one character over all entries is slower than doing a search with a minimum of two characters.

Same applies to the product search.

[2019-07-15 05:34] edenduong commented on #23697
@DanielRuf thank you. But at least the system should show the notification or some thing like that ? How can we know we should search 2,3 or 4 to run the search ?

[2019-07-15 05:57] edenduong commented on #23697
![image](https://user-images.githubusercontent.com/8234209/61197548-bf6d6680-a6ff-11e9-959e-144d2bf33540.png)

We can create the category with one character like this image, but we can't search it. It is the issue if limit the search is 2 character.

[2019-07-15 06:29] shravan148 opened #23700 "Checkout"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-07-15 06:30] shravan148 commented on #23700
i have restored the checkout_index_index.xml to stock magento.. now the problem there is two city field coming in checkout.

[2019-07-15 06:47] fohnbit commented on #23689
Hello,

When I copy the query in myPhpAdmin, I get the error at:
ADD CONSTRAINT **PRIMARY** KEY
This option conflicts with Constraint (near Primary key).

How can I fix this? Is there a update SQl query wrong in 2.3.2?

[2019-07-15 07:33] LucieAAY commented on #23295
Hello,

I'm currently experiencing the same problem on version 2.2.8, do you have any news about its resolution?

[2019-07-15 07:45] magento-engcom-team commented on #23180
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to

[2019-07-15 07:46] magento-engcom-team commented on #23180
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to

[2019-07-15 07:55] magento-engcom-team commented on #23180
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to

[2019-07-15 07:58] rssawhney commented on #1821
it is not working for <script> tags in default.xml

[2019-07-15 08:01] magento-engcom-team commented on #23180
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to

[2019-07-15 08:03] magento-engcom-team commented on #23180
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to

[2019-07-15 08:08] magento-engcom-team commented on #23669
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18160` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-15 08:09] engcom-Bravo commented on #23669
@shilpambb @hostep , thanks for communication!

[2019-07-15 08:23] Jehangir-Wahid opened #23701 "After upgrading from 2.1.0 to 2.3.2, bin/magento commands throwing exception"
### Preconditions (*)

I am using Ubuntu 18.04, on my local machine, with the following requirements for Magento.

1.    **Apache 2.4.29**
2.    **Php 7.1.30**
3.    **Composer 1.6.1**
4.    **MySQL 5.7.26**

I am facing the exception mentioned below in the **Actual result** section.

### Steps to reproduce (*)

I have upgraded Magento, from 2.1.0 (Community Edition) to 2.3.2 (Open Source), for my

[2019-07-15 08:25] Jehangir-Wahid commented on #23701
I haven't tried to reproduce this issue on vanilla Magento instance.

[2019-07-15 08:34] edenduong commented on #23668
@pandyakrunal you can use sales_order_invoice_save_after event

[2019-07-15 08:35] magento-engcom-team commented on #23697
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18162` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-15 08:37] magento-engcom-team commented on #23180
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to

[2019-07-15 08:38] krishprakash commented on #23700
@shravan148
Please follow issue reporting guideline to report an issue with all issue reproducible steps.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Thanks.

[2019-07-15 10:21] magento-engcom-team commented on #23682
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18163`, `MC-18164` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-15 10:48] PashaIhnatjo commented on #22189
Please, check your di.xml file

[2019-07-15 11:13] orlangur commented on #22662
@anujwebkul @shikhamis11 what about 2.3 here?

[2019-07-15 11:35] orlangur commented on #23324
@ihor-sviziev sorry for delay, will post an update this week.

[2019-07-15 11:41] magento-engcom-team commented on #23594
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#23598 by @gwharton in 2.3-develop branch
Related commit(s):
 - [2f6238232a43c9fb8808f41683d7ab6584ade4b3](https://github.com/magento/magento2/commit/2f6238232a43c9fb8808f41683d7ab6584ade4b3)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-15 11:41] #23594 closed, assigned to gwharton

[2019-07-15 11:41] magento-engcom-team commented on #23595
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#23598 by @gwharton in 2.3-develop branch
Related commit(s):
 - [2f6238232a43c9fb8808f41683d7ab6584ade4b3](https://github.com/magento/magento2/commit/2f6238232a43c9fb8808f41683d7ab6584ade4b3)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-15 11:41] #23595 closed, assigned to gwharton

[2019-07-15 11:41] magento-engcom-team commented on #23596
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#23598 by @gwharton in 2.3-develop branch
Related commit(s):
 - [2f6238232a43c9fb8808f41683d7ab6584ade4b3](https://github.com/magento/magento2/commit/2f6238232a43c9fb8808f41683d7ab6584ade4b3)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-15 11:41] #23596 closed, assigned to gwharton

[2019-07-15 11:41] magento-engcom-team commented on #23345
Hi @pavdan. Thank you for your report.
The issue has been fixed in magento/magento2#23358 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [14212b18de12eed264a452da8907eb953474505e](https://github.com/magento/magento2/commit/14212b18de12eed264a452da8907eb953474505e)

The fix will be available with the upcoming 2.3.3 release.

[2019-07-15 11:41] #23345 closed, assigned to p-bystritsky

[2019-07-15 11:41] magento-engcom-team commented on #22814
Hi @davidpixie. Thank you for your report.
The issue has been fixed in magento/magento2#23459 by @yuriichayka in 2.3-develop branch
Related commit(s):
 - [259534d7f7fe143a7f5846a931657205fee24003](https://github.com/magento/magento2/commit/259534d7f7fe143a7f5846a931657205fee24003)
 - [e2b58cd92e8229dd1b95c6a8412ebd1f16dc4f6f](https://github.com/magento/magento2/commit/e2b58cd92e8229dd1b95c6a8412eb

[2019-07-15 11:41] #22814 closed, assigned to yuriichayka

[2019-07-15 11:54] tejabhagavankollepara opened #23703 "Product check availability for delivery"
### Description (*)
I know that Magento provides the features in the previous installations which are mandatory things to the E-commerce platform and the implements and existed features are fine.

Along with these, the product check availability for the delivery also has to be added to the default Magento while the delivery is also one of the important ones in an E-commerce platform.

If it comes

[2019-07-15 11:56] engcom-Bravo commented on #23685
Hi @robdevmen . I can't reproduce this issue on vanila 2.3-develop and on 2.3.2. My search works fine. Can you add more details?

[2019-07-15 11:56] #23685 closed, assigned to engcom-Bravo

[2019-07-15 12:25] magento-engcom-team commented on #23643
Hi @ffauvel. Thank you for your report.
The issue has been fixed in magento/magento2#23650 by @gwharton in 2.2-develop branch
Related commit(s):
 - [9f66582a354fc57e7931cd1fbdf73d874f25baf2](https://github.com/magento/magento2/commit/9f66582a354fc57e7931cd1fbdf73d874f25baf2)

The fix will be available with the upcoming 2.2.10 release.

[2019-07-15 12:25] #23643 closed, assigned to gwharton

[2019-07-15 12:33] jtalel commented on #23455
Ok, So, the actual issue is caused because you have to create orders in "Pending Payment" status, but Magento 2 won't let you select this payment method by default. Refer to this link: https://github.com/magento/magento2/issues/23682#issue-467479872

[2019-07-15 12:33] #23455 closed, assigned to shikhamis11

[2019-07-15 13:03] SamB-GB commented on #23462
When can we expect a fix for this as its preventing us from indexing our products?

[2019-07-15 13:10] engcom-Charlie commented on #23683
Hello @mattment ! Thank you for you report !
I have tried to reproduce this issue but unfortunately i was not able to do it . I`m closing this for now but feel free to reopen in case you can confirm that issue is reproducible and add some extra information/screenshots.
Thanks in advance !

[2019-07-15 13:10] #23683 closed, assigned to engcom-Charlie

[2019-07-15 13:13] Zabien commented on #9214
+1 with the same problem. Has this issue been solved for Magento 2 (I see the issue in Magento 1).

[2019-07-15 13:21] enr-beck opened #23705 "Css selector [role="button"] in related products javascript is not specific enough"
### Preconditions (*)
1. Magento 2.3.2
2. PHP 7.1.26
3. MySQL 5.7.25

### Steps to reproduce (*)
1. Open product detail page with related products (e.g. http://demoshops.splendid-internet.de/magento/demoshop-magento2-daily/olivia-1-4-zip-light-jacket.html)
2. Click on "Add to wishlist" or "Compare" icon of a related product

### Expected result (*)
1. Text "Unselect all" should not get appended to

[2019-07-15 13:23] lano-vargas opened #23706 "Magento2.2.2 sitemap.xml google link in urlset tag attribute returns 404"
### Preconditions (*)
1.Magento2.2.2 install

### Steps to reproduce (*)
Go to:
1.Dashboard->Marketing->SEO & Search->sitemap
2.Click add new fill in required fields
3. hit save & generate
4.Open newly created xml and check urlset tag attr xmlns:content is: "http://www.google.com/schemas/sitemap-content/1.0"

### Expected result (*)
Should be one of returns 200 OK like: http://www.sitemaps.org/sch

[2019-07-15 13:24] nbennett25 commented on #23653
No updates yet? Do I need to spin up a 2.2.4 instance and then wait for 24 hours to test.. the sample data? What are the next steps here?

[2019-07-15 13:30] TomashKhamlai opened #23707 "Weak validation of allowed Credit Card types on Checkout with Braintree"
### Preconditions (*)

1. Some physical product with status in stock
2. Braintree is configured this way:

Under **Basic Braintree Settings**
 - Environment: Sandbox
 - Payment Action: Authorize
 - Merchant ID: {{Merchant ID}}
 - Public Key: {{Public Key}}
 - Private Key: {{Private Key}}
 - Enable this Solution: Yes
 - Enable PayPal through Braintree: No
 - Vault Enabled: No

Under **Advanced Brai

[2019-07-15 13:39] magento-engcom-team commented on #23706
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18166`, `MC-18167` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-15 13:48] Nazar65 commented on #23668
@pandyakrunal this is not best practices to use observers, please use plugin instead.

[2019-07-15 14:32] designboxcom commented on #18148
Has it been fixed in 2.3.2?
I upgraded last week from 2.2.6 and from now on, all sales are still "Pending payment" with Paypal Express Checkout.

[2019-07-15 15:00] navarr commented on #23676
This is kind of a Magento bug, but I don't know that any core modules replicate it.

The extra-thick/multiple lines are caused by several sections being hidden.  Vertex does not do any custom styling here.

I have plans to turn those sections into subsections instead, but that's a little further on the roadmap.

[2019-07-15 15:30] erickamoedo opened #23708 "Google Tag Manager: JavaScript Issue in HEAD [2.3.1]"
### Preconditions (*)

1. Magento Open Source version 2.3.1
2. PHP 7.2

### Steps to reproduce (*)

I add GTM without third-party extensions

1.  Put the GTM snippet into these two phtml templates for head and body

2. Script to head
[code]

3. Script to body
[code]

4. To load the files correspondingly i use the default .xml file:

[code]
[code]
### Expected result (*)

1. After GTM is added you

[2019-07-15 16:00] magento-engcom-team commented on #23180
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to follow

[2019-07-15 16:17] magento-engcom-team commented on #23708
Hi @erickamoedo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-15 16:17] magento-engcom-team commented on #23708
Hi @erickamoedo, here is your [Magento instance](https://i-23708-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23708-2-3-develop.instances.magento-community.engineering/admin](https://i-23708-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-15 16:27] Goldstar215 opened #23709 "Category doesn't work after setup:upgrade"
### Preconditions (*)

1. Magento version 2.3.2
2. Environment: Windows/Xampp

### Steps to reproduce (*)

1. in Magento root folder, run command php bin/magento setup:upgrade
2. php bin/magento indexer:reindex

### Expected result (*)

1. Catalog url rewrite works well.
2. Category names should be shown in admin/category edit page.

### Actual result (*)

1. Category names show in homepage, but u

[2019-07-15 16:36] magento-engcom-team commented on #23180
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18170` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-15 17:00] DrewML commented on #7231
Hmm, that's news to me. I know people want it, but I haven't seen a concrete proposal for it.

[2019-07-15 17:51] hostep commented on #23676
Ok thanks for the explanation @navarr. Sounds like a Magento bug, let's reopen this then :)

[2019-07-15 18:11] magento-engcom-team commented on #23082
Hi @paul-gene.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [2001743fa8b058586aa208020907895f995683ea](https://github.com/magento/magento2/commit/2001743fa8b058586aa208020907895f995683ea)

The fix will be available with the upcoming `2.3.3` release.

[2019-07-15 18:11] #23082 closed, assigned to nobody

[2019-07-15 19:32] josiahglassone opened #23712 "The remote server returned an error: (401) Unauthorized."
### Summary (*)
I have been working on connecting Magento 2 to Shipworks (3rd party shipping software) via their module and Rest API. Both attempts have returned an error saying

 I've worked with the Shipworks support and concluded that the issue is not with their software but with my setup.
Additionally I have PayPal Pro setup to allow me to take Debit/Credit card on the website without opening

[2019-07-15 20:05] designboxcom commented on #18148
I also noticed this is not possible to manually change the Status of an order. In the drop down list, I can only see "Pending Payment" as an option ... !

[2019-07-15 20:40] andimov commented on #22516
@batmike thank you for updates!
Yeah, it's weird. Please, try to disable MSI with patch and run indexation one more time to recheck degradation.
Fix from https://github.com/magento/inventory/pull/2336 shouldn't affect your price indexation performance until you install MSI itself, but without MSI you should have at least the same indexation time as you receive with the fix.

I performed tests with

[2019-07-15 20:43] chequille opened #23713 "Date Time Format in Backend Order list"
Sorry, why there is no way to change date time format for the orders list view (as well shipment and incoice and all others ...) in the backend. Picture shows what I mean:

![datetime](https://user-images.githubusercontent.com/15807794/61247539-95dd2b00-a751-11e9-842a-c125c52862a1.PNG)

I want to have written there the german format like 29. Juni 09:56:44

Is there a way t do it?

Please advise.

[2019-07-15 20:46] batmike commented on #22516
@andimov - Yes, you are right and your numbers look similar to what I'm seeing. When I let it run longer to test out the full benefit of the fix, the price indexing on our store completed in about 1.5 hours, which was much better than not finishing at all.

1.5 hours still isn't great compared to 5-6 minutes as we got prior in version 2.3.0 but ideally we would be able to use more of the increment

[2019-07-15 20:50] chequille commented on #23713
Yes, I can confirm  this is in vanilla Magento instance the same.
Becuase I found, that this format is hard coded in magento-ui module class \component\filters\type\Date.php and DateRange.php and as well in \component\listing\Colmns\Date.php.

So ias far as I see no way to cahnge this.

Is there any plan do to a change in the future to be able to have the same date format all over all parts of Mag

[2019-07-16 02:53] snoroozi commented on #23518
Same issue on 2.3.2 product pages

[2019-07-16 02:57] Goldstar215 opened #23715 "Some theme features don't working after upgrading from 2.2.7 to 2.3.2"
### Summary (*)
I have upgraded Magento from 2.2.7 to 2.3.2, and after upgrade, some features don't working.

### Examples (*)
1. Tiny MCE doesn't working. It shows an error: wysiwygSetup is not defined.
2. Custom validator(password strength validator) doesn't working.
3. I can't access stores/configuration. When I access to it, it shows an error: Uncaught TypeError: this.rules[this.name] is not a

[2019-07-16 04:42] krishprakash commented on #23713
Hi @chequille. Thank you for your report.
This is default magento issue which is already reported earlier #23113
So I'm closing this as duplicate issue.
You can also refer [Community Forums](https://community.magento.com/) or [ Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-07-16 04:42] #23713 closed, assigned to krishprakash

[2019-07-16 06:55] engcom-Charlie commented on #23712
Hello @josiahglassone ! Thank you for your report !
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.

[2019-07-16 06:55] #23712 closed, assigned to nobody

[2019-07-16 06:55] engcom-Bravo commented on #19882
Hi @alex4allofyou . We can't reproduce this issue.
We tried on 4 computers and we never met such a problem.
Can you give more information and maybe more steps for testing scenario?
Thanks!

[2019-07-16 07:01] engcom-Charlie commented on #23715
Hello @Goldstar215 ! Thank you for your report !
I was not able to reproduce this issue on Vanilla Magento instance . Probably all the problems that you describe arise from third-party modules.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexcha

[2019-07-16 07:01] #23715 closed

[2019-07-16 07:07] ioweb-gr opened #23717 "dependency injection fails for \Magento\ConfigurableProduct\Pricing\Price\PriceResolverInterface"
Unlike other interface classes the \Magento\ConfigurableProduct\Pricing\Price\PriceResolverInterface doesn't seem to be usable via dependency injection.

### Preconditions (*)
1. Magento 2.3.1

### Steps to reproduce (*)
1. Create a new module and a class
2. Add in the constructor the \Magento\ConfigurableProduct\Pricing\Price\PriceResolverInterface
e.g.
[code]
### Expected result (*)
1. The depen

[2019-07-16 07:25] michelecanal opened #23719 "paypal checkout issue"
### Preconditions (*)

1. Magento CE 2.3.2
2. Php 7.1
3. braintree and paypal checkout (sandbox)
4. debug option off
5. developer or production mode

### Steps to reproduce (*)

1. add a product to cart
2. click on paypal checkout
![Immagine1](https://user-images.githubusercontent.com/22873665/61273932-f5b3f000-a7aa-11e9-9f0d-1e06ae3e32ad.jpg)
3. fill with paypal sandbox account

### Expected resu

[2019-07-16 07:26] Goldstar215 commented on #23715
Hi @engcom-Charlie ! Thank you for your work.
I had made some mistakes and now, I made current admin theme to base on 2.3.2 default admin theme.
All features work well now, but only tinymce not working now.
Here is console error.

require.js:1895 GET http://127.0.0.1:10082/static/version1563263538/adminhtml/Bfm/deercreekseed/en_US/tinymce.js net::ERR_ABORTED 404 (Not Found)
req.load @ require.js:1

[2019-07-16 07:27] michelecanal commented on #23719
@magento give me 2.3-develop instance - 2.3.2

[2019-07-16 07:27] magento-engcom-team commented on #23719
Hi @michelecanal. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-16 07:27] magento-engcom-team commented on #23719
Hi @michelecanal, here is your [Magento instance](https://i-23719-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23719-2-3-develop.instances.magento-community.engineering/admin](https://i-23719-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-16 07:37] alexmtch opened #23720 "Filtering a collection on a custom attribute and a custom store_id generate wrong sql request"
### Preconditions (*)
1. Magento CE 2.3.2
2. Php 7.1
3. developer (or production ?) mode

### Steps to reproduce (*)
1. Create a custom attribute with a store_id scope
2. Create a product, attach it to a new store view (not the website or the store group) and set a value for the specific store to the custom attribute
3. Create a product collection on a custom attribute following this code :
[code]

[2019-07-16 07:44] michelecanal commented on #23719
Hi,
I confirm the bug
![Immagine2](https://user-images.githubusercontent.com/22873665/61275403-2ea19400-a7ae-11e9-824f-2b9f562376bb.jpg)

[2019-07-16 07:49] engcom-Bravo commented on #23709
Hi,@Goldstar215 ! I can't reproduce this issue on vanila magento 2.3.2 and on 2.3-develop.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion about this issue.
Thanks!

[2019-07-16 07:49] #23709 closed

[2019-07-16 08:29] magento-engcom-team commented on #23707
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-07-16 08:31] magento-engcom-team commented on #23707
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18202` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-16 09:24] edenduong opened #23721 "So many Fields in Store->Configuration->Catalog has no-validations (digit, greater than zero)"
### Preconditions (*)

1. 2.3-develop

### Steps to reproduce (*)

1. Go to **Store->Configuration->Catalog->catalog**
2. Fill the string value in the fields like **"ggggg"** in following fields:

- Swatches per Product
- Default Recently Viewed Products Count
- Default Recently Compared Products Count
- Lifetime of products in Recently Viewed Widget
- Lifetime of products in Recently Compared Wid

[2019-07-16 10:05] magento-engcom-team commented on #23720
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-07-16 10:07] magento-engcom-team commented on #23720
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18204` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-16 10:24] magento-engcom-team commented on #23708
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18205` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-16 10:34] engcom-Charlie commented on #23719
Hello @michelecanal ! Thank you for your report !
Can you confirm that this issue is reproducible on Vanilla Magento instance ?

[2019-07-16 10:40] michelecanal commented on #23719
Hi,
Yes I confirm
You can check the error in report of instance

Il Mar 16 Lug 2019 12:35 Robert Turchyn <notifications@github.com> ha
scritto:

[2019-07-16 10:52] alexmtch commented on #23720
I am not enough experimented with Github to know how to make a pull request based on this issue so i let other contributors/maintainers create the fix based on the observations i put in the post.

[2019-07-16 11:02] ameshca opened #23724 "Magento 2.3.2 : Warning during di compile - Reference to undeclared plugin with name 'stockedProductsFilterPlugin'"
### Preconditions (*)

1. Magento 2.3.2(composer install)

### Steps to reproduce (*)

1. Do the di compile - bin/magento s:d:c

### Expected result (*)

1. Complete the compilation without any warnings and errors

### Actual result (*)

1. While compiling its showing the warning as "Reference to undeclared plugin with name 'stockedProductsFilterPlugin'"(the warning is being outputted in the files

[2019-07-16 11:06] nitin-bc commented on #7120
Hi @magento-admin Would you please provide some patch for 2.2.7 version if you have resolved it in 2.2.9 as stated here?
https://github.com/magento/magento2/issues/11411

[2019-07-16 11:19] engcom-Bravo commented on #23701
Hi, @Jehangir-Wahid . I have one question for you:
how did you install 2.1.0 version of magento if you have 7.1.30 php version?
This version does not support PHP 7.1.30.
![222](https://user-images.githubusercontent.com/51680745/61290433-8eab3100-a7d4-11e9-98b5-2bb5c0c4454a.png)

[2019-07-16 11:19] #23701 closed, assigned to engcom-Bravo

[2019-07-16 11:27] orlangur commented on #7231
@DrewML there were such discussions much earlier than `architecture` repo was even introduced, here is a community project somebody from Magento should be aware of: https://community.magento.com/t5/Magento-2-x-Less-to-Sass/bd-p/less-to-sass

[2019-07-16 11:50] Goldstar215 opened #23726 "Ves_BaseWidget not working after upgrade from 2.2.7 to 2.3.2"
### Summary (*)

I have upgrade Magento version from 2.2.7 to 2.3.2
After upgrade, Ves_BaseWidget module doesn't work.
It shows 2 console errors.
The issue is TinyMCE(Wysiwyg Setup) issue.
And in admin panel, all Wysiwyg editors not working.

### Examples (*)

### Proposed solution

[2019-07-16 11:56] engcom-Charlie commented on #23726
Hello @Goldstar215 ! Thank you for your report !
I was not able to reproduce this issue on Vanilla Magento instance . The GitHub issue tracker is intended for Magento Core technical issues only. Problem that you describe is with 3rd party module/extension. Please refer to the Community Forums or the Magento Stack Exchange, for advice or general discussion about this issue.
Thanks !

[2019-07-16 11:56] #23726 closed

[2019-07-16 12:00] 0x15f commented on #23405
Cloud Users - You can use this patch on 2.3.2 to fix this issue without waiting on a support ticket

[code]

[2019-07-16 12:06] magento-engcom-team commented on #23705
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18206` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-16 12:12] ladle3000 opened #23727 "Redis Clarifications and Cache Flush"
### Summary (*)

I am using Redis in my magento 2.3 setup and all works ok. I need some clarification regarding a few things and am not finding answers anywhere that satisfy me.

1.  Does cache:flush clear REDIS.  If so, how do you avoid having it flush out sessions as well?  I already have separate databases, but if cache:flush is essentially doing the same as redis-cli flushall then separate dat

[2019-07-16 12:28] ndrukajsh commented on #11129
This issue is still unresolved. The problem with png files is persisting even when you try to upload images through rest API! I think that the problem is the one that @dmanners has pointed out!

[2019-07-16 12:33] engcom-Bravo commented on #23727
Hi, @snoroozi.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/), for advice or general discussion about this issue.

[2019-07-16 12:33] #23727 closed, assigned to engcom-Bravo

[2019-07-16 12:40] craigcarnell commented on #15427
Still seeing this issue even after applying the patch I linked.

[2019-07-16 12:51] Jehangir-Wahid commented on #23701
Hi @engcom-Bravo,
Yes, you are right. But, I have installed Magento 2.1.0 on php7.0.2 and then for upgrading Magento to 2.3.2, I installed php7.1.30.

[2019-07-16 12:56] narayan14 commented on #8084
We have tried to install this extension but it raised an below error in command prompt. Can you please check?
Class Elgentos\LargeConfigProducts\Console\Command\PrewarmerCommand does not exist

[2019-07-16 12:58] ameysar commented on #23462
@craigcarnell, @xi-ao, @SamB-GB  could you please provide more details about your environment:
- How many products do you have on your site
- What kind of products do you have
- How many attributes (used in the product listing) per product ( average )

[2019-07-16 13:10] xi-ao commented on #23462
- Approx. 250.000 products at the time of the tests
- Virtual only
- 48 attributes with `used_in_product_listing = 1`

[2019-07-16 13:15] engcom-Bravo commented on #23701
@Jehangir-Wahid , unfortunately the 2.1.x branches is already closed. We do not work with such issue.
Thank you for your report!

[2019-07-16 13:45] mattheo-geoffray opened #23728 "Cannot create or update a credit memo through API"
### Preconditions (*)
1. Magento Open Source v2.3.1

### Steps to reproduce (*)
1. Create an order
2. Create an invoice
3. Create a credit memo (_not using API_)
4. Use `/V1/creditmemo` endpoint to update it with payload formated as in https://devdocs.magento.com/redoc/2.3/admin-rest-api.html#operation/salesCreditmemoRepositoryV1SavePost
**Important** . `adjustment_positive` or `adjustment_negativ

[2019-07-16 13:48] magento-engcom-team commented on #22842
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18207` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-16 14:13] jammy-git opened #23729 "Customer sent newsletter unsubscribe email when registering for a new account and newsletter confirmation is on"
### Preconditions (*)
1. Recreated with Magento versions 2.2.6, 2.2.9 and 2.3.2.
2. Using CentOS and PHP 7.1

### Steps to reproduce (*)
1. Go to the customer/account/create and sign up as a new customer.
2. Ensure the "Sign Up for Newsletter" checkbox IS ticked.
3. Click "Create an account".

### Expected result (*)
1. Customer receives two emails, 1 - the welcome email for registering a new acco

[2019-07-16 14:18] jammy-git commented on #23729
@magento give me 2.3-develop instance

[2019-07-16 14:18] magento-engcom-team commented on #23729
Hi @jammy-git. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-16 14:19] magento-engcom-team commented on #23729
Hi @jammy-git, here is your [Magento instance](https://i-23729-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23729-2-3-develop.instances.magento-community.engineering/admin](https://i-23729-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-16 14:32] jammy-git commented on #23729
Tried to recreate the issue with the given Magento instance, however it seems that emails are not sent out with these instances?

[2019-07-16 14:46] kamzata commented on #21985
Any news? This is a big issue for me. My stores have basically only downloadable products and because of this I cannot migrate to Magento 2 at the moment.

[2019-07-16 15:03] alexjuniodev commented on #23432
I didn't get how should I override the file module-catalog/view/frontend/templates/product/view/gallery.phtml. Could some of you guys help me?

[2019-07-16 15:15] Nazar65 commented on #23720
@alexmtch i don't think that this an issue because you set store_id not store_view_id

[2019-07-16 15:31] Goldstar215 opened #23730 "Customer Signup not working after upgarde."
### Summary (*)

After upgrading from 2.2.7 to 2.3.2, Customer SignUp not working.
It shows an error.
### Examples (*)

main.CRITICAL: Exception message: Missing required argument $value of DCS\Customer\Model\Attribute\Data\File.
Trace: <pre>#1 Magento\Framework\ObjectManager\Factory\Dynamic\Developer->_resolveArguments('DCS\Customer\Mod...', array(array('localeDate', 'Magento\Framewor...', true,

[2019-07-16 16:16] duffner opened #23731 "Max Qty Allowed: Core Magento feature removed by #18477 and causes bug #23319"
Through ticket #18477, a core Magento feature was removed.  When removing the ability to set "0" as an allowed value of Max Qty in Cart, multiple things happen.

1. *The ability to have an "infinite" value allowed in the cart no longer exists, this forces store administrators to set some crazy value or 1,000,000 for this setting since most stores don't restrict by Max amount in cart.  This has bee

[2019-07-16 16:30] DrewML commented on #7231
Ah right - forgot this whole arch process was so new.

To be fairly transparent, I can't imagine us being able to make this change in core in the current platform. Because of back-compat requirements, we'd have to support less _and_ sass for a long period of time, which is difficult since styles are notoriously hard to statically verify.

I will say it's _possible_ we could support SASS running in

[2019-07-16 16:43] cscd98 opened #23732 "2.3.2 - General error: 1205 Lock wait timeout exceeded"
### Preconditions (*)
1. Magento 2.3.2
2. PHP 7.2.x

### Steps to reproduce (*)
1. Server under minimal load (e.g. 120) users
2. After place order button in checkout

### Expected result (*)
1. No errors

### Actual result (*)
1. Various lock wait timeout errors

[code]

[2019-07-16 16:44] tookuul-owner commented on #9214
+1 having the same problem

[2019-07-16 17:43] gwharton commented on #23432
@alexjuniodev Don't do that.

You need to locate in whichever of your third party modules is instantiating an instance of the "\Magento\Catalog\Block\Product\View\Gallery" class in its layout.xml files and ensure it is injecting the argument "gallery_options" to the block as per the below code.

https://github.com/gwharton/magento2/blob/e29fa3d9b150d81da1caa3484d90ecc3d2156770/app/code/Magento/Cat

[2019-07-16 17:57] sdzhepa commented on #4831
Hello @vovayatsyuk

Thank you for your feedback and collaboration!

I am reopening this issue.
It seems important part/cases were missed and we should consider it again

[2019-07-16 18:27] hostep commented on #23701
@engcom-Bravo: issue report was for Magento 2.3.2 😉

But not reopening as this seems to be something which went wrong in the upgrade.
@Jehangir-Wahid: could it be that your `bin/magento` file is still the [old one](https://github.com/magento/magento2/blob/2.1.0/bin/magento) and not the [new one](https://github.com/magento/magento2/blob/2.3.2/bin/magento)

In that case, you'll need to figure out wh

[2019-07-16 18:28] DanielRuf commented on #7231
Probably not that hard as we can build ASTs and parse in many different ways.

[2019-07-16 18:38] hostep commented on #23727
Hi @snoroozi: you'd probably best want to open an issue on https://github.com/magento/devdocs/issues for this if you want to see better explanation of this in the documentation. Since that's the repo for the documentation.

[2019-07-16 19:24] orlangur commented on #7231
I may recall it wrong, but if we have a separate theme for PWA the plan was to make it SASS-based.

Why we cannot deprecate LESS core styles in 2.4 and remove in 2.5? LESS compilation then may still be in-place for a longer period.

[2019-07-16 19:32] tiagosampaio commented on #19347
@sumeetmobiwebtech take a look on the changed files:

https://github.com/magento/magento2/pull/19393/files

[2019-07-16 20:47] ron-jomashop opened #23736 "Change catalog_category_view.xml to 1column return zero products with elastic search on 2.3.2"
### Preconditions (*)

1. Magento 2.3.2
2. Enabled elastic search 2

### Steps to reproduce (*)

1. Extend catalog_category_view.xml to 1column in a new theme
2. Enable elastic search 2
3. Reindex all indexes
4. Go to any category pages and it will not show any products

### Expected result (*)

1. Should have products

### Actual result (*)

1. It does not have any products showing

[2019-07-16 20:56] ron-jomashop commented on #23736
I cannot reproduce this with Magento2 instance because this requires change of the theme and enable elastic search.

[2019-07-16 21:05] DrewML commented on #7231
This isn't about validating syntax. The problem would be, any dev doing work on core would need to update the luma sass theme and the luma less theme, and then we'd need to always watch for visual regressions across all pages between the two.

PWA isn't a theme but an entirely new rending and compilation pipeline for the front-end outside of core. It doesn't participate in Magento's CSS compilatio

[2019-07-16 22:49] edenduong commented on #23729
@engcom-Charlie I can reproduce and resolved it in Pull Request: https://github.com/magento/magento2/pull/23737

[2019-07-16 22:51] magento-engcom-team commented on #23729
@edenduong Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-07-16 23:12] orlangur commented on #7231
It depends just on opinion "SASS is better than LESS". I have no opinion on this as I don't do HTML/CSS coding.

Why? Just release a SASS theme in 2.4 deprecating LESS theme at the same time. All further fixes are made to SASS only.

[2019-07-17 02:48] edenduong opened #23738 "Bad style on Validate VAT number messages"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to Stores->Configuration->General
2. Scroll to Store Information
3. Click "Validate VAT number" with empty information.
- Fill the correct VAT number with the country. Click "Validate VAT number"

### Expected result (*)

1. The error message should be red.
2. The success message should be green.

### Actual result (*

[2019-07-17 02:58] edenduong commented on #23738
@magento give me 2.3-develop instance

[2019-07-17 02:58] magento-engcom-team commented on #23738
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-17 02:58] magento-engcom-team commented on #23738
Hi @edenduong, here is your [Magento instance](https://i-23738-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23738-2-3-develop.instances.magento-community.engineering/admin](https://i-23738-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 03:11] levi-dtn commented on #23644
@ajijshekh123 Sorry for the late response. I encounter this issue in Magento 2.3.2, please give a Magento 2.3.2 default so that I can reproduce it for u

[2019-07-17 03:47] dbashyal commented on #5937
![sales_rule](https://user-images.githubusercontent.com/833986/61345631-4d308980-a899-11e9-9388-6479d65ae31b.jpg)

Unable to create sales (cart price) rule as value of payment options is blank.

[2019-07-17 03:54] JxBadMood commented on #22274
My goddess, appreciate your answer, spend quite amount of time lmao

[2019-07-17 04:19] krishprakash commented on #23738
@magento give me 2.3-develop instance

[2019-07-17 04:19] magento-engcom-team commented on #23738
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-17 04:20] magento-engcom-team commented on #23738
Hi @krishprakash, here is your [Magento instance](https://i-23738-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23738-2-3-develop.instances.magento-community.engineering/admin](https://i-23738-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 04:27] magento-engcom-team commented on #23738
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18220` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-17 04:30] ajijshekh123 commented on #23644
@levi-dtn - You can ask directly to Magento Team. It will provide you to Magento 2.3 and 2.2 Instance for reproducing this issue.

[2019-07-17 05:17] levi-dtn commented on #23644
@magento give me 2.3-develop instance.

[2019-07-17 05:17] magento-engcom-team commented on #23644
Hi @levi-dtn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-17 05:17] magento-engcom-team commented on #23644
Hi @levi-dtn, here is your [Magento instance](https://i-23644-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23644-2-3-develop.instances.magento-community.engineering/admin](https://i-23644-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 06:03] levi-dtn commented on #23644
@ajijshekh123 can u config payments?

[2019-07-17 06:09] sunilit42 commented on #23720
@alexmtch

That is right query, it will check first store wise if not found then it will check globally

[2019-07-17 06:22] ajijshekh123 commented on #23644
Yes @levi-dtn

[2019-07-17 06:28] iambaljitdhanoa commented on #1112
Hello
I got this error while running setup:di: compile to go to production mode

Class Psr\Logger\LoggerInterface does not exist

We are using Magento 2.3 please let me know anybody have solutions

[2019-07-17 06:56] levi-dtn commented on #23644
@ajijshekh123 I found that this issue just happens on my local, I tried to reproduce it on your site but everything works well

[2019-07-17 07:01] ajijshekh123 commented on #23644
@levi-dtn - This issue may be related to your custom module or extension. So please debug your code in your local system and fix the issue. if this issue did not reproduce in Magento Instance I can't do anything.

@levi-dtn - If any other help you want from my side, You can reply to me.

[2019-07-17 07:05] levi-dtn commented on #23644
@ajijshekh123 I don't use any module or extension on my local

[2019-07-17 07:05] levi-dtn commented on #23644
![image](https://user-images.githubusercontent.com/48718611/61354249-f5475200-a89b-11e9-8be2-9d3ba71dc7fa.png)

[2019-07-17 07:11] ajijshekh123 commented on #23644
@levi-dtn - If you have available Paypal Credential (Sandbox Credential), Send me I will again verify this issue Or You can reopen this issue.

[2019-07-17 07:17] lalitmalav commented on #10821
@PhiIipp  thanks , works for me.

[2019-07-17 07:22] alexmtch commented on #23720
@sunilit42

The first condition 242-246 is right but the second at 250 won't works with store view.

You have 2 stores view
- store A (id = 2)
- store B (id = 3)

When you process this
[code]

After the 242-246 check $storeId value is 2 but whith the condition at 250
`if ($storeId != $this->getDefaultStoreId() && !$attribute->isScopeGlobal())`

The $storeId value is different from 0 and the attrib

[2019-07-17 07:26] levi-dtn commented on #23644
@ajijshekh123
Username:
giang.UK-Facilitator_api1.gmail.com
Password:
ZQU3F8AGRFWYMLSE
Signature:
AFrsE.uQ6zMrM-0onONjJA3MlieKAyF8NEqPg7xJVLXkLwVeHv020l7B

[2019-07-17 08:00] engcom-Bravo commented on #23728
Hi, @mattheo-geoffray ! I have to close this issue, because i can't reproduce this on vanilla 2.3-develop and 2.3.1 open source.
**Manual testing scenario:**
1.Create an order
2.Create an invoice
3.Create a credit memo (not using API)
4.Use /V1/creditmemo endpoint to update
**Important:** adjustment_positive or adjustment_negative MUST be before order_id entry in the body request
**Actual result:*

[2019-07-17 08:00] #23728 closed, assigned to engcom-Bravo

[2019-07-17 08:11] apomili commented on #22790
Hi, the problem is simple and clear. The below snippet used to control the errorPlacement of dob, in register.phtml, edit.phtml and so on (I think in each form where there is a dob input)

[code]

completely ovveride any extend to the web/mage/validation/validation.js, like this

[code]

[2019-07-17 08:15] engcom-Bravo commented on #23731
Hi, @duffner ! I can't reproduce this issue on fresh 2.3-develop branch and on 2.3.1, because this is already fixed(added validation for "max qty in cart" input).
![maxqty](https://user-images.githubusercontent.com/51680745/61358927-0be1af00-a884-11e9-95c9-3f4d31c00ef1.png)
So i have to close this issue.
Thank for your report!

[2019-07-17 08:15] #23731 closed, assigned to engcom-Bravo

[2019-07-17 08:34] mbernabeu commented on #22567
same issue in 2.2.9

[2019-07-17 08:35] ajijshekh123 commented on #23644
Give me @magento give me 2.3-develop instance

[2019-07-17 08:35] magento-engcom-team commented on #23644
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-17 08:35] magento-engcom-team commented on #23644
Hi @ajijshekh123, here is your [Magento instance](https://i-23644-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23644-2-3-develop.instances.magento-community.engineering/admin](https://i-23644-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 08:43] levi-dtn commented on #23644
@ajijshekh123 example
[Sprite Yoga Companion Kit _ Products _ Inventory _ Catalog _ Magento Admin.pdf](https://github.com/magento/magento2/files/3400883/Sprite.Yoga.Companion.Kit._.Products._.Inventory._.Catalog._.Magento.Admin.pdf)

[2019-07-17 08:44] engcom-Charlie commented on #23730
Hello @Goldstar215 ! Thank you for your contribution !
I`m not able to reproduce this issue , can you please provide any steps how to reproduce it ?
Thanks

[2019-07-17 08:54] engcom-Bravo commented on #23732
Hi, @craigcarnell ! Can you give me testing scenario for reproducing this issue at local server?

[2019-07-17 08:54] Goldstar215 commented on #23730
Hi @engcom-Charlie
Sorry for my mistake.
I've solved it.
It isn't Magento core issue.
BTW, could you please help me?
What is schema and data in module?
How it works and What it do?

Thanks.

[2019-07-17 09:00] engcom-Charlie commented on #23719
@magento give me 2.3-develop instance

[2019-07-17 09:00] magento-engcom-team commented on #23719
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-17 09:00] magento-engcom-team commented on #23719
Hi @engcom-Charlie, here is your [Magento instance](https://i-23719-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23719-2-3-develop.instances.magento-community.engineering/admin](https://i-23719-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 09:02] ajijshekh123 commented on #23644
@levi-dtn - I want 'Merchant Account ID', Can you please send me?

[2019-07-17 09:09] levi-dtn commented on #23644
@ajijshekh123
Merchant Account ID: G6Y3B2X3KH6FA

[2019-07-17 09:09] quantumAV commented on #23527
Is there a temporary fix available for this or will it wait for a future release?

[2019-07-17 09:15] paul-gene commented on #23618
I have this issue randomly on 2.3.1

Test customer account with several saved addresses from testing the checkout, try to use one to checkout today, "Invalid customer address ID ..."

[2019-07-17 09:27] ajijshekh123 commented on #23644
@levi-dtn - I have placed orders using Paypal. Placed order successfully with Bundle Items.

**See attached screenshot:**

![Checkout_SuccessOrder](https://user-images.githubusercontent.com/24711761/61364243-11022680-a8a3-11e9-8b63-91bb09182de1.png)

![SuccessOrder](https://user-images.githubusercontent.com/24711761/61364244-119abd00-a8a3-11e9-846c-b5bf6602b770.png)

[2019-07-17 09:41] gauravkhatri99 opened #23740 "Cart Price Rule Not Working With Two SKUs in conditions."
I am facing the issue with Cart Price Rule with two SKUs in the condition.

### Preconditions (*)
1. Using Magento 2.3.1
2. PHP version: 7.1.11

### Steps to reproduce (*)
1. Goto Cart Price Rule in Magneto back-end.
2. Create a condition as the shared screenshot.
![conditions](https://user-images.githubusercontent.com/12871787/61364568-c46b1b00-a8a3-11e9-8605-270164ce219e.png)
3. I want to apply

[2019-07-17 09:50] nguyenbach95 commented on #23636
@engcom-Charlie Example:

[2019-07-17 09:51] shikhamis11 commented on #23740
@magento give me 2.3-develop instance

[2019-07-17 09:51] magento-engcom-team commented on #23740
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-17 09:51] magento-engcom-team commented on #23740
Hi @shikhamis11, here is your [Magento instance](https://i-23740-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23740-2-3-develop.instances.magento-community.engineering/admin](https://i-23740-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 10:03] edenduong commented on #23740
Hi @shikhamis11,

You should modify the condition to:
![image](https://user-images.githubusercontent.com/8234209/61366921-bf629780-a8b4-11e9-9065-c4626702e8b1.png)

[2019-07-17 10:04] magento-engcom-team commented on #23740
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18222`, `MC-18223` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-17 10:06] edenduong commented on #23740
Hi @shikhamis11,
It is not bug. Because no product has the attribute SKU are **both**  A and B, ( 1 product - 1 SKU)
Please change the condition in my previous comment. It will satisfy the requirement.

[2019-07-17 10:10] ameysar commented on #23462
@xi-ao I was trying to reproduce the issue with next data:
- 1 store
- 250000 simple products ( I don't think there is some difference if I use simple instead of virtual )
- 48 additional dropdown attributes with _used_in_product_listing = 1_ added to default dataset (each product has all 48 attributes filled with random value).
- Product Flat Indexer: *On*

**Got next results on different branche

[2019-07-17 10:11] devchris79 opened #23741 "Shipping methods doesn't work in 2.3.2"
### Preconditions (*)

1. Magento 2.3.2

### Steps to reproduce (*)

1. Navigate to Stores>Configuration>Sales>Shipping Methods

### Expected result (*)

1. Able to make changes and save the result

### Actual result (*)

1. Save config and all the sales section menu buttons don't work, unlike all other menus that do. I get errors in the browser console on the page load:

![image](https://user-ima

[2019-07-17 10:11] shikhamis11 commented on #23740
hello @edenduong
thanks for your info I will recheck it and will close the issue if it is not valid

[2019-07-17 10:13] levi-dtn commented on #23644
@ajijshekh123 https://drive.google.com/file/d/1mxOZyJ5SLzQ0xzm829HCEHhMM4ckdaX6/view?usp=sharing

[2019-07-17 10:40] engcom-Charlie commented on #23730
@Goldstar215 Sure , please refer here (https://devdocs.magento.com/guides/v2.3/architecture/archi_perspectives/components/modules/mod_intro.html) to see some information about modules in Magento . Hope this link will be helpful for you !

Thanks for contribution.

[2019-07-17 10:40] #23730 closed

[2019-07-17 10:43] engcom-Charlie commented on #23741
@magento give me 2.3-develop instance

[2019-07-17 10:43] magento-engcom-team commented on #23741
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-17 10:44] magento-engcom-team commented on #23741
Hi @engcom-Charlie, here is your [Magento instance](https://i-23741-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23741-2-3-develop.instances.magento-community.engineering/admin](https://i-23741-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 10:46] engcom-Bravo commented on #23736
Hi, @ron-jomashop ! I can't reproduce this issue on fresh 2.3-develop branch.

**Manual testing scenario:**
1.Extend catalog_category_view.xml to 1column in a luma theme
2.Enable elastic search 2
3.Reindex all indexes
4.Cache flush
5.Go to any category pages

**Actual result:**
The category page is blank
![22222](https://user-images.githubusercontent.com/51680745/61369464-d5faf580-a898-11e9-9a3d-b

[2019-07-17 10:54] asprada commented on #8933
Same deadlock issues in my project. We have around 100k products and we use scheduled import for stocks and prices updates daily. The imports was cancelled caused deadlock occured by reindex process run by cron scheduler doing operations on the same tables during imports.

The deadlock on the cron_schedule table also exist.

The only way to deal with that issues in my case was to change the transa

[2019-07-17 11:00] engcom-Charlie commented on #23741
@magento give me 2.3.2 instance

[2019-07-17 11:00] magento-engcom-team commented on #23741
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-07-17 11:01] magento-engcom-team commented on #23741
Hi @engcom-Charlie, here is your [Magento instance](https://i-23741-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-23741-2-3-2.instances.magento-community.engineering/admin](https://i-23741-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 11:05] engcom-Charlie commented on #23741
Hello @devchris79 ! Thank you for your report !
I was not able to reproduce this issue following steps you provide . I`m closing this for now but feel free to reopen it in case you can provide some extra steps/information about this issue !
Thanks in advance !

[2019-07-17 11:05] #23741 closed, assigned to engcom-Charlie

[2019-07-17 11:08] tuyennn commented on #14236
@gwharton  @magento-engcom-team I'm confusing while it's still an issue after applied the patch on backport for my 2.2.7.
I'm using a observer to send another mail after payment successfully. Even I was trying to set **transportBuilder** with new implementation
[code]

[2019-07-17 11:13] magento-engcom-team commented on #4831
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18224` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-17 11:20] tuyennn commented on #7739
@gwharton Is there anyway to approach the problem in another way implementation while sending multiple emails because seem message still used `from` `subject` etc from previous mail?

[2019-07-17 11:23] Goldstar215 commented on #23730
Hi @engcom-Charlie.
Thanks a lot!!!
A+++

[2019-07-17 11:24] nattapon-central commented on #12837
@mageprince , @magento-engcom-team
How are you guys going to fix this issue? I believe the expected result described in this ticket is not expectation for everyone. The company I am working for has to use the percentage discount based on the item price with its prior discount.
How about implement this in new Action type?

[2019-07-17 11:39] engcom-Bravo commented on #5929
Hi, @boter3 @orlangur ! I can't reproduce this issue on fresh 2.3-develop branch(
I tried with single store mode enabled and disabled) . If you want to update this issue you can reopen it.

[2019-07-17 11:39] #5929 closed, assigned to engcom-Bravo

[2019-07-17 11:51] engcom-Charlie commented on #23636
@magento give me 2.3-develop instance

[2019-07-17 11:51] magento-engcom-team commented on #23636
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-17 11:51] arushi013 commented on #23717
Issue is reproducible in Magento 2.3-develop

[2019-07-17 11:52] magento-engcom-team commented on #23636
Hi @engcom-Charlie, here is your [Magento instance](https://i-23636-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23636-2-3-develop.instances.magento-community.engineering/admin](https://i-23636-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 11:56] gwharton commented on #7739
Someone from Magento will need to pick this up and look at what needs to be done moving forward.

[2019-07-17 11:57] gwharton commented on #14236
Someone from Magento will need to pick this up and look at what needs to be done moving forward.

With respect to updating 2.2 going forward, Magento have stopped accepting fixes for the 2.2 release line now so would need to be pursued in the 2.3-develop line.

[2019-07-17 11:59] engcom-Charlie commented on #23719
Hello @michelecanal ! Thank you for your report !
I can confirm that this issue is reproducible , thanks for your contribution !

[2019-07-17 12:00] magento-engcom-team commented on #23719
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-18226` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-07-17 12:12] AndyJAllen commented on #16101
In my case it was because I migrated from 2.1.x to 2.2.x... I deleted the account, recreated it, and the problem went away. I also noticed while the problem existed, it created an authorization through Paypal Payflow Pro for each failure.

[2019-07-17 12:13] aledevil commented on #12486
some news for this issue?

[2019-07-17 12:18] koendegroote commented on #23462
To emphazise the urgency of a fix. We have 200.000 products in 2.3.2 and actually the release is non-operative without a fix.

[2019-07-17 12:35] arushi013 commented on #23609
Hi @jigardhaduk,

I suppose you want only the customer_firstname,customer_lastname and billing_address field as an result by using search criteria in Magento. But search criteria will response all the fields to you and there is no way to pass like fields=billing_address,customer_firstname,customer_lastname.

This can be achieved using graphql, you can see it here (https://devdocs.magento.com/guide

[2019-07-17 12:36] adam-inco commented on #23462
Hi, I have the following

8 Stores
6000 Products mixed config/simple
20 - 30 attributes used in the product listing

on 2.3.2 My indexes never finished, and just hung for 24hrs before i killed the process, I have done this on 3 servers with different setup and OS's

on 2.3.1 this process finishes in 4 mins

[2019-07-17 12:40] Nexus87UK commented on #5596
Have a related problem. My understanding is that GA doesn't need to be blocked in cookie restriction mode if you turn off data sharing, anonymize the IP, disable user ID function, disable sharing for ad purposes.

So how can I stop Magento 2.2.5 blocking GA in cookie restriction mode?

[2019-07-17 12:44] AndyJAllen commented on #9988
Is there a Magento setting for this or do we have to modify code?

[2019-07-17 13:09] manuelcanepa commented on #23400
@magento give me 2.3-develop instance
@magento give me 2.2-develop instance

[2019-07-17 13:09] magento-engcom-team commented on #23400
Hi @manuelcanepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-17 13:09] magento-engcom-team commented on #23400
Hi @manuelcanepa, here is your [Magento instance](https://i-23400-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23400-2-3-develop.instances.magento-community.engineering/admin](https://i-23400-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 13:11] manuelcanepa commented on #23400
Issue is confirmed

[2019-07-17 13:19] aartipatel6495 commented on #5594
I have already added cacheable="false"  but it is not working in my custom block.
I have to clear cache then it is working.

[2019-07-17 13:23] Goldstar215 commented on #23730
Hi @engcom-Charlie .
May I ask a question?
I have some custom modules that have UpgradeSchema and UpgradeData.
BTW, UpgradeData doesn't working.
Here is code.

<?php
/**
 * @category    Bfm
 * @package     Common
 * @author      Blue Fountain Media <magento@bluefountainmedia.com>
 */

namespace Bfm\Common\Setup;

use Magento\Cms\Api\BlockRepositoryInterface;
use Magento\Cms\Api\Data\BlockInterface

[2019-07-17 13:30] engcom-Charlie commented on #23730
@Goldstar215
The GitHub issue tracker is intended for Magento Core technical issues only. So i can`t really help you with your custom modules or 3rd party extentions...
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/),  for advice or general discussion.

Hope you will find answers there

[2019-07-17 13:47] AdamEarney opened #23744 "Numerous \ slashes are being added to the extra field in admin_user"
### Description (*)

Too many \ slashes are being added to the extra field in the admin_user table. This is happening here in this file: /Volumes/Sites/FleurOfEngland/vendor/magento/module-user/Model/User.php on line 241.

This code in particular.

[code]

### Preconditions (*)
1. Have Magento 2.2.8 installed

### Steps to reproduce (*)
1. Navigate to the admin
2. Login multiple times
3. Check the

[2019-07-17 13:52] Goldstar215 commented on #23730
Hi @engcom-Charlie
Thanks, but I can't find how to add forum in Community Forums.
Could you please let me know it?

Thanks.

[2019-07-17 13:54] nathanjhastings opened #23745 "Credit memo email sent to other customers"
### Preconditions (*)

1. 2.3.1

### Steps to reproduce (*)

1. Customer orders product
2. Customer Pays via PayPal successfully
3. Merchant refunds order via PayPal
4. A credit note is automatically generated by Magento

### Expected result (*)

1. Email is sent to the customers who placed the orders in TO field.

### Actual result (*)

1. Email is sent to last 28 customers who have placed orders

[2019-07-17 13:58] edenduong opened #23746 "Field "Billing ZIP Code" shows and disappears immediately in "Orders and Returns" form"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Go to http://[Magento 2 Domain]/sales/guest/form/
2. See the form

### Expected result (*)

1. Field "Billing ZIP Code" is hiddened.

### Actual result (*)

1. Field "Billing ZIP Code" shows and disappears immediately

See:

![bug](https://user-images.githubusercontent.com/8234209/61381636-8be43500-a8d5-11e9-99d7-2e7bb88

[2019-07-17 14:21] Nader-GenKO commented on #21201
have the same exact issue, first use of Magento. searching for a solution without luck.

[2019-07-17 14:32] hostep opened #23748 "Would it make sense to change the url_rewrite_id column's type from INT to BIGINT?"
### Preconditions (*)
1. Magento 2

### Steps to reproduce (*)
1. Have a store which does a lot of deletes and inserts in the `url_rewrite` table.

### Expected result (*)
1. Trying to avoid running against the autoincrement limit as long as possible

### Actual result (*)
1. When running againt the limit, then trying to save a category or product is no longer working if you try to change their `u

[2019-07-17 14:34] harrigo commented on #21264
I can also confirm on 2.2.7 this occurs although not tested on vanilla. Seems that a user adds to compare as a guest creating the record with a null customer_id and a valid visitor_id however somehow the visitor_id gets changed to 0 and shows for every user.

I have managed to reproduce twice however signing in and out adding and removing products however cannot give exact details as when trying t

[2019-07-17 14:57] ron-jomashop commented on #23736
Can you show me an image with 1 column category page working in your local? Because I have tested with Magento 2.3.2 repository and it does not work.

With 2 column:
![Capture](https://user-images.githubusercontent.com/40342628/61385961-64637d00-a881-11e9-8ec8-c6356c20dcc5.PNG)

With 1 column:
![Capture](https://user-images.githubusercontent.com/40342628/61386138-b73d3480-a881-11e9-87fc-958446bd6b

[2019-07-17 15:42] engcom-tester commented on #23671
@magento I am working on it

[2019-07-17 15:45] lfritsche commented on #13149
I'm facing a similar issue
![image](https://user-images.githubusercontent.com/15127451/61388182-c3dc7f80-a8b7-11e9-803b-71e6e6fd1674.png)
Billing address with two default values, but not the shipping address values.

In my case Paypal disables the possibility to provide a different invoice address during checkout. The checkbox to provide a different billing address get's removed if selecting Paypa

[2019-07-17 16:10] ron-jomashop commented on #23736
@engcom-Bravo All you need is to enable the category to 1 column with elasticsearch 2 enable and it should reproduce the bug.

[2019-07-17 16:24] DrewML commented on #7231
We would need an _extremely_ good argument for stopping support for a theme almost every m2 store is based upon.

[2019-07-17 16:52] magento-engcom-team commented on #23113
Hi @MeCapron.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [db905b8cb6edf9ee6bd933a6d7f718f3147b56d3](https://github.com/magento/magento2/commit/db905b8cb6edf9ee6bd933a6d7f718f3147b56d3)
 - [3a31197544e93a29d86e509eb3389813b99735bc](https://github.com/magento/magento2/

[2019-07-17 16:52] #23113 closed, assigned to nobody

[2019-07-17 16:52] magento-engcom-team commented on #23326
Hi @kirillvidyuk.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [084248165504331c7eb8b62407d83115226fcbd2](https://github.com/magento/magento2/commit/084248165504331c7eb8b62407d83115226fcbd2)

The fix will be available with the upcoming `2.3.3` release.

[2019-07-17 16:52] #23326 closed, assigned to nobody

[2019-07-17 16:54] magento-engcom-team commented on #23288
Hi @akovtun, @gauravagarwal1001.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [1f86c1256e433c6f614f9444ec1cc29ea3a569d1](https://github.com/magento/magento2/commit/1f86c1256e433c6f614f9444ec1cc29ea3a569d1)
 - [d87af0cbf0c395e1df2acc2142176b4659ad3bc3](https://github.co

[2019-07-17 16:54] #23288 closed, assigned to gauravagarwal1001

[2019-07-17 17:20] marcusirgens commented on #8964
@magento give me 2.3-develop instance

[2019-07-17 17:20] magento-engcom-team commented on #8964
Hi @marcusirgens. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-17 17:20] magento-engcom-team commented on #8964
Hi @marcusirgens, here is your [Magento instance](https://i-8964-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-8964-2-3-develop.instances.magento-community.engineering/admin](https://i-8964-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 17:23] PawanKumarN commented on #11906
@inkobject  Where we need change can you explain little bit more

[2019-07-17 17:30] Arthi22 opened #23750 "Product export issue"
When i export the products receiving the following message "Message is added to queue, wait to get your file soon" . But there is no export file found. If i run command is ssh php bin/magento cron:run, it is generating the export file. but all the products not found. Only receiving half list of products.

 Preconditions (*)
1. Version Magento 2.3.2
2. php 7.1

Steps to reproduce (*)
1. Export the

[2019-07-17 17:41] neillrobson commented on #23691
@magento give me 2.3-develop instance

For the purpose of reproducing this bug, I will attempt to re-create the faulty UI component within the JS console of a vanilla Magento instance.

[2019-07-17 17:41] magento-engcom-team commented on #23691
Hi @neillrobson. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-17 17:41] magento-engcom-team commented on #23691
Hi @neillrobson, here is your [Magento instance](https://i-23691-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23691-2-3-develop.instances.magento-community.engineering/admin](https://i-23691-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 17:43] hostep commented on #23748
I'm going to close this again. It's quite hard to change the type of column in a migration script without doing funky stuff I think.

If I have to guess, this probably happened because this shop still runs on Magento 2.1 and over there url rewrites got deleted before getting added to the database again if I understand [the code](https://github.com/magento/magento2/blob/2.1.18/app/code/Magento/Cata

[2019-07-17 17:43] #23748 closed, assigned to nobody

[2019-07-17 18:00] marcusirgens commented on #8964
Confirming this issue is still valid on 2.3-develop.

*Expected result:*
A discount that also applies to shipping costs will correctly apply:
For a flat rate shipping with a cost of 100 including 25% VAT (20), the shipping price when applying a cart rule should be 50, with 10 being the tax amount
*Actual result*
The discount is 60, with 20 being the tax amount.

[2019-07-17 18:58] gwharton opened #23751 "Database Media Storage : PDF Logo file not database aware"
### Preconditions (*)
1. magento 2.3-develop

### Steps to reproduce (*)
[code]

### Expected result (*)
1. Logo always appears at top of pdf

### Actual result (*)
1. Logo is missing from pdf after the local pub/media is cleared.

[2019-07-17 19:17] davejarrard commented on #6865
This still isnt fixed in 2.3.2. Took me all day to find this post and fixed the problem by using the secure https address in both base urls in the database.
Started by using 8080 as the unsecure which worked until going into admin and getting a 404 error.
fixed by;
web/unsecure/base_url | https://mydomain:8443/
web/secure/base_url | https://mydomain:8443
I hope this has no knock on effects.

[2019-07-17 20:05] johnmpasq commented on #9988
I endeded up switching to elasticsearch but before I used an extension http://www.ibnab.com/en/blog/magento-2/magento-2-get-one-search-result-by-sku that fixed the problem. I know it works on 2.3.1

[2019-07-17 23:11] edenduong commented on #16786
@magento-engcom-team give me 2.3-develop instance

[2019-07-17 23:12] magento-engcom-team commented on #16786
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-17 23:12] magento-engcom-team commented on #16786
Hi @edenduong, here is your [Magento instance](https://i-16786-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-16786-2-3-develop.instances.magento-community.engineering/admin](https://i-16786-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-17 23:56] Rus0 commented on #21637
@magento-engcom-team give me 2.2-develop instance

[2019-07-17 23:56] magento-engcom-team commented on #21637
Hi @Rus0. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-18 02:02] magento-engcom-team commented on #23717
@edenduong Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is a

[2019-07-18 02:10] edenduong commented on #23717
Yes, the reason because no preference of PriceResolverInterface in di.xm

[2019-07-18 02:22] n1cehua1991 commented on #13411
Hi @magento-engcom-team I have get same issure in magento 2.3.1.
[code]
print collection sql to log :
`SELECT 1 AS `status`, `e`.`entity_id`, `e`.`attribute_set_id`, `e`.`type_id`, `e`.`created_at`, `e`.`updated_at`, `e`.`sku`, `e`.`entity_id`, `e`.`attribute_set_id`, `e`.`type_id`, `e`.`row_id`, `e`.`allow_open_amount`, `e`.`catalog_code`, `e`.`cost`, `e`.`created_at`, `e`.`description`, `e`.`ema

[2019-07-18 03:33] toddrobards commented on #19795
I had to downgrade to PHP 7.1 (7.1.13) which fixed my issues so far.
My host runs Centos 6.9, as Centos 7 is not supported by Hsphere apparently so can't upgrade to Centos 7.

[2019-07-18 03:45] vincent2090311 opened #23754 "Preview Email Template cut off"
### Preconditions (*)

1. Magento 2.3.2
2.PHP 7.1
3.Nginx 1.17

### Steps to reproduce (*)

1.Add new email template under marketing > Email Templates
2.Load any default magento email template > save without change
3.Go to email templates grid > click preview

### Expected result (*)

Can view full email templates

### Actual result (*)

1. Preview screen is cut off
![Capture 2019-07-18 at 10 36 3

[2019-07-18 03:59] Taku-Yamashita opened #23755 "Store view switcher is wrong , when each store views have different url."
### Preconditions (*)

1.  Magento 2.3.1
2.  using 2 store views and those views have different url (en.magento.local & jp.magento.local)

### Steps to reproduce (*)

1.  Click a target store view on  language switcher.
2.  successfully switch to target store view.
3.  but will be displayed below error.
The store that was requested wasn't found. Verify the store and try again.

### Expected result

[2019-07-18 05:11] farhadniaz opened #23756 "magento2-updater dose not exist!!!!"

[2019-07-18 05:26] ajijshekh123 commented on #23754
Give me @magento give me 2.3-develop instance

[2019-07-18 05:26] magento-engcom-team commented on #23754
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-07-18 05:27] magento-engcom-team commented on #23754
Hi @ajijshekh123, here is your [Magento instance](https://i-23754-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23754-2-3-develop.instances.magento-community.engineering/admin](https://i-23754-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-07-18 05:28] ajijshekh123 commented on #23756
@farhadniaz - Please follow issue-reporting guideline to report an issue with all issue reproducible steps.
**https://github.com/magento/magento2/wiki/Issue-reporting-guidelines**

Thanks.

[2019-07-18 05:39] ajijshekh123 commented on #23754
Give me @magento give me 2.2-develop instance

[2019-07-18 05:40] magento-engcom-team commented on #23754
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-07-18 05:43] xi-ao commented on #23462
Hi @ameysar,
I don't know what to say. There might be some other things to consider besides those 3 elements.

Can you try again using multi-selects instead of dropdown for those attributes?

[2019-07-18 05:57] ajijshekh123 commented on #23754
@vincent2090311 - I have reviewed this issue in Magento 2.3 Instance. I have loaded the different Email template Ex:- Create an Account, Order, Credit, Invoice. All the Email template is proper loading.

**See attached the screenshot:**

![2019-07-18 (1)](https://user-images.githubusercontent.com/24711761/61432659-be7e4400-a94e-11e9-85fb-607206637caa.png)

![2019-07-18](https://user-images.githubu

[2019-07-18 06:20] vincent2090311 commented on #23754
@ajijshekh123
I checked on develop instance and its not using iframe so it doesnt have issue. Pls try to setup new magento installation on your PC, you will see preview email template is iframe

[2019-07-18 06:25] ajijshekh123 commented on #23754
@vincent2090311 - This issue I can review only Magento instance which is given by the Magento Team. If this issue is reproduced in Default Magento Instance I will add the tag reproduce otherwise I can't test Magento instance which is available in my system.

Thanks.

[2019-07-18 06:35] pandyakrunal opened #23758 "Payment method (Authorise.net) is not display in order (admin side)."
I Migrate the site in Magento 2.3.2 all works fine but when open the order in admin side another payment method is display but Authorise.net payment method is not showing.
![image](https://user-images.githubusercontent.com/39430090/61434706-4b77cc00-a954-11e9-8207-428762ed8a0e.png)

### Preconditions (*)

1.Magento 2.3.2
2.Authorise.net method does not display in admin order edit.

### Steps to re