[2019-04-20 17:11] seansan commented on #527
@verklov

I was browsing thru M2.3.1. but cant find this functionality.

- Is there a reference in the documentation?
- Can we turn it on/off via settings?

Did you implement the persistent function? This is quite important! It should handle the use cases for real customers ... often via email where they click a link, start with an empty cart ...might visit the empty cart ... then add a product ..

[2019-04-20 17:12] seansan commented on #527
Reference to similar functionality https://marketplace.magento.com/wsnyc-module-couponlink.html

[2019-04-20 17:20] magento-engcom-team commented on #22317
Hi @p-bystritsky. Thank you for your report.
The issue has been fixed in magento/magento2#22321 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [bed152b45be8c1c227434e66017f2f51a845770f](https://github.com/magento/magento2/commit/bed152b45be8c1c227434e66017f2f51a845770f)
 - [92d0f9324b991f2fdd92692ed643f5be60211148](https://github.com/magento/magento2/commit/92d0f9324b991f2fdd92692ed6

[2019-04-20 17:20] #22317 closed, assigned to p-bystritsky

[2019-04-20 17:20] magento-engcom-team commented on #22309
Hi @cmuench. Thank you for your report.
The issue has been fixed in magento/magento2#22362 by @niravkrish in 2.3-develop branch
Related commit(s):
 - [d4972dcde417536ab676a5a26b2f507299aa289c](https://github.com/magento/magento2/commit/d4972dcde417536ab676a5a26b2f507299aa289c)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-20 17:20] #22309 closed, assigned to cmuench, niravkrish

[2019-04-20 17:20] magento-engcom-team commented on #22152
Hi @Dharmeshvaja91. Thank you for your report.
The issue has been fixed in magento/magento2#22154 by @niravkrish in 2.3-develop branch
Related commit(s):
 - [6cbf55d40ebb33e5fb73c68ba62df83f2af98aa2](https://github.com/magento/magento2/commit/6cbf55d40ebb33e5fb73c68ba62df83f2af98aa2)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-20 17:20] #22152 closed, assigned to niravkrish, krishprakash

[2019-04-20 17:20] magento-engcom-team commented on #22330
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#22332 by @hostep in 2.3-develop branch
Related commit(s):
 - [12c848c79237bb4e6237e4ac4dd5d989ec9bbc53](https://github.com/magento/magento2/commit/12c848c79237bb4e6237e4ac4dd5d989ec9bbc53)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-20 17:20] #22330 closed, assigned to nobody

[2019-04-20 17:20] magento-engcom-team commented on #15090
Hi @BlitzInternet. Thank you for your report.
The issue has been fixed in magento/magento2#22281 by @davidalger in 2.3-develop branch
Related commit(s):
 - [8434d74abd6393d2cb4ad45eff6c9ec292f4dc71](https://github.com/magento/magento2/commit/8434d74abd6393d2cb4ad45eff6c9ec292f4dc71)
 - [e340978f1ef25bb39d5e03939ddad30b0c927eab](https://github.com/magento/magento2/commit/e340978f1ef25bb39d5e03939dd

[2019-04-20 17:20] #15090 closed, assigned to davidalger

[2019-04-20 17:20] magento-engcom-team commented on #21747
Hi @bengower. Thank you for your report.
The issue has been fixed in magento/magento2#22318 by @OlehWolf in 2.3-develop branch
Related commit(s):
 - [ae7179f7bee1b99597aee46da79f581a8a45a018](https://github.com/magento/magento2/commit/ae7179f7bee1b99597aee46da79f581a8a45a018)
 - [1a1eda6a26301b10d97b6b33ab5e3a195e212f94](https://github.com/magento/magento2/commit/1a1eda6a26301b10d97b6b33ab5e3a195e

[2019-04-20 17:20] magento-engcom-team commented on #20917
Hi @pankaj-cedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#22298 by @ansari-krish in 2.3-develop branch
Related commit(s):
 - [9e24d22ac0c6ff6afedefadc9401da6907980d48](https://github.com/magento/magento2/commit/9e24d22ac0c6ff6afedefadc9401da6907980d48)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-20 17:20] #21747 closed, assigned to Bravarg

[2019-04-20 17:20] #20917 closed, assigned to pankaj-cedcoss, ansari-krish

[2019-04-20 17:20] magento-engcom-team commented on #22199
Hi @wexo-team. Thank you for your report.
The issue has been fixed in magento/magento2#22200 by @wexo-team in 2.3-develop branch
Related commit(s):
 - [9675984b0487996de1521e2ba70d35ad7f77a788](https://github.com/magento/magento2/commit/9675984b0487996de1521e2ba70d35ad7f77a788)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-20 17:20] #22199 closed, assigned to wexo-team

[2019-04-20 17:20] magento-engcom-team commented on #21907
Hi @deepakgairola25. Thank you for your report.
The issue has been fixed in magento/magento2#21936 by @kisroman in 2.3-develop branch
Related commit(s):
 - [47233d8cd6f62ec8e233679c3fbab185de00009a](https://github.com/magento/magento2/commit/47233d8cd6f62ec8e233679c3fbab185de00009a)
 - [46e852544ebf86a134004fb710c7913c9bf6d875](https://github.com/magento/magento2/commit/46e852544ebf86a134004fb710c

[2019-04-20 17:20] #21907 closed, assigned to kisroman

[2019-04-20 17:20] magento-engcom-team commented on #6715
Hi @AppChecker. Thank you for your report.
The issue has been fixed in magento/magento2#21968 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [7cb0cf8dc21612761b9e58de600447c12ef340dd](https://github.com/magento/magento2/commit/7cb0cf8dc21612761b9e58de600447c12ef340dd)
 - [bbe71ef43062429cd3f235ad885cc3a996e7628d](https://github.com/magento/magento2/commit/bbe71ef43062429cd3f235ad885cc3a99

[2019-04-20 17:20] magento-engcom-team commented on #21960
Hi @trinitecDev. Thank you for your report.
The issue has been fixed in magento/magento2#21968 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [7cb0cf8dc21612761b9e58de600447c12ef340dd](https://github.com/magento/magento2/commit/7cb0cf8dc21612761b9e58de600447c12ef340dd)
 - [bbe71ef43062429cd3f235ad885cc3a996e7628d](https://github.com/magento/magento2/commit/bbe71ef43062429cd3f235ad885cc3a9

[2019-04-20 17:20] #21960 closed, assigned to Nazar65

[2019-04-20 17:20] magento-engcom-team commented on #21299
Hi @kolucciy. Thank you for your report.
The issue has been fixed in magento/magento2#21378 by @mattijv in 2.3-develop branch
Related commit(s):
 - [46191d82d04e2392cb58a2c03121987a14052043](https://github.com/magento/magento2/commit/46191d82d04e2392cb58a2c03121987a14052043)
 - [d8eb1608e5a5377bdf2fb723413402220c7b9965](https://github.com/magento/magento2/commit/d8eb1608e5a5377bdf2fb723413402220c7

[2019-04-20 17:20] #21299 closed, assigned to Jitheesh

[2019-04-20 17:49] seansan opened #22438 "Magento 2.3.1 Cron Deadlocks for cron_schedule"
### Preconditions (*)
1. Magento 2.3.1
2. MSI

### Steps to reproduce (*)
1. Vanilla install
2. Run CRON every 1 minutes 3 jobs main, setup and upgrade

### Expected result (*)
1. No CRON problems, especially no deadlocks for a simple table .... truncating the table only works 1time ... need a structural solution or some kind of retry method

### Actual result (*)
1. See below

This really should

[2019-04-20 17:55] seansan commented on #8933
This issueis still occuring in M2.3.1 @magento-engcom-team

[2019-04-20 20:27] Karlasa commented on #22434
@magento-engcom-team give me 2.3-develop instance

[2019-04-20 20:27] magento-engcom-team commented on #22434
Hi @Karlasa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-20 20:27] magento-engcom-team commented on #22434
Hi @Karlasa, here is your [Magento instance](https://i-22434-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22434-2-3-develop.instances.magento-community.engineering/admin](https://i-22434-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-20 20:43] Karlasa commented on #22434
@krishprakash
Thanks for follow up 👍
In this case i would say issue description is bit confusing because seems like conditions dropdown is only one that has focus state reverted arrow and other dropdown elements are missing it and should be fixed instead :)

But yeah issue is there.

[2019-04-20 22:30] nikoliuk commented on #19710
I replaced this part of the code with the one indicated by Bashev. But I now do not load the product catalog. I did the wrong thing.

public function create(Product $product = null, string $imageId = null, array $attributes = null)
    {
        $product = $product ?? $this->product;
        $imageId = $imageId ?? $this->imageId;
        $attributes = $attributes ?? $this->attributes;
        retu

[2019-04-20 23:53] Misco commented on #10697
i get same error, exportet from shop, import this error 2.3.1

[2019-04-21 03:00] pmcmanaman commented on #15545
If you are seeing this issue, one thing that may help is to run an OPTIMIZE on the fulltext tables, which are typically catalogsearch_fulltext_scope1 and catalogsearch_fulltext_scope2. There are some extra steps to optimize fulltext tables which are :

- innodb_optimize_fulltext_only needs to be enabled before [https://dev.mysql.com/doc/refman/5.6/en/innodb-parameters.html#sysvar_innodb_optimize_f

[2019-04-21 06:14] kalpmehta commented on #22437
@skdsg Please create the issue in the required format, you can find the issue format here: https://github.com/magento/magento2/blob/2.3-develop/.github/ISSUE_TEMPLATE.md

Also make sure you can reproduce the issue in vanilla Magento 2.3 installation.

[2019-04-21 11:50] bhavik43 opened #22443 "Add more than available qty order placed successfully"
Add more than available qty order placed successfully

### Preconditions (*)
Magento 2.2

### Steps to reproduce (*)
1. Admin >> Add product with 1 qty
2. Sales >> Orders >> Create new order
3. Select customer and add product with 2 qty
4. Submit order
5. Placed order successfully with 2 qty

### Expected result (*)
Order should not be placed
and error message should display.

### Actual result (*

[2019-04-21 11:55] krishprakash commented on #22443
@magento-engcom-team give me 2.2-develop instance

[2019-04-21 11:55] magento-engcom-team commented on #22443
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-21 11:55] magento-engcom-team commented on #22443
Hi @krishprakash, here is your [Magento instance](https://i-22443-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22443-2-2-develop.instances.magento-community.engineering/admin](https://i-22443-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-21 12:03] krishprakash commented on #22443
@magento-engcom-team give me 2.3-develop instance

[2019-04-21 12:03] magento-engcom-team commented on #22443
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-21 12:04] magento-engcom-team commented on #22443
Hi @krishprakash, here is your [Magento instance](https://i-22443-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22443-2-3-develop.instances.magento-community.engineering/admin](https://i-22443-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-21 12:21] magento-engcom-team commented on #22443
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99317`, `MAGETWO-99318` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-21 12:26] neeta-wagento commented on #22437
Dear @skdsg,
If you want to achieve something new so please post the question https://magento.stackexchange.com/ This is the right platform to get your answers related to your customization.

Thank you!

[2019-04-21 14:14] benhtn opened #22445 "Magento version UNKNOWN"
### Preconditions

1.  Starting with Magento 2.2.5 installed via composer on CentOS7 (centos-release-7-6.1810.2.el7.centos.x86_64) on CentOS 7 & nginx version: nginx/1.12.2, php 7.0.  My original [Magento 2.2.5 composer.json is here](https://drive.google.com/open?id=1hP6JvgbYdP6h36DrDU2Rx5qyyTgiUenW).  Config and data were migrated from a pre-existing Magento 1.9 store.
2. Upgraded php to 7.1.28 a

[2019-04-21 15:40] leoquijano commented on #15009
Hi @sidolov ,

It seems that the fix wasn't included in the 2.2.7 or the 2.2.8 releases. Can this be included in a future 2.2.x release?

[2019-04-21 15:47] gwharton commented on #15009
Take a look at 2.2-develop. The whole gallery json code has been reworked and should be much improved in next release.

[2019-04-21 16:20] sudhanshu-bajaj commented on #22406
Already created pull request here #22406

[2019-04-21 17:00] hostep commented on #15681
@Sujeet84190: you might want to follow ticket https://github.com/magento/magento2/issues/22445, this one seems to have much more info (but it doesn't really sound like a bug in Magento, but more like a user error or an environmental issue).

[2019-04-21 20:46] The-Krang commented on #22390
@eleventybillion Unfortunately, no.  Would you mind sharing with the rest of us how you managed to make it work for you?  Thank You.

[2019-04-22 04:43] ajijshekh123 commented on #22392
Can you please give me Magento 2.2.4 Version?

[2019-04-22 04:48] ajijshekh123 commented on #22392
Give me @magento-engcom-team give me 2.3-develop instance?

[2019-04-22 04:48] magento-engcom-team commented on #22392
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-22 04:49] magento-engcom-team commented on #22392
Hi @ajijshekh123, here is your [Magento instance](https://i-22392-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22392-2-3-develop.instances.magento-community.engineering/admin](https://i-22392-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 05:01] ajijshekh123 commented on #22392
Give me @magento-engcom-team give me 2.2.4-develop instance?

[2019-04-22 05:01] magento-engcom-team commented on #22392
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2.4-develop instance for you

[2019-04-22 05:18] harsh719 opened #22449 "Issue With Text editor in magent 2.3 Show and Hide editor is not working"

[2019-04-22 05:21] ajijshekh123 commented on #22392
Give me @magento-engcom-team give me 2.2.4-develop instance?

[2019-04-22 05:21] magento-engcom-team commented on #22392
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2.4-develop instance for you

[2019-04-22 05:21] somat211 commented on #22443
@magento-engcom-team give me 2.3-develop instance

[2019-04-22 05:21] magento-engcom-team commented on #22443
Hi @somat211. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-22 05:22] hiren0241 commented on #22434
@magento-engcom-team give me 2.3-develop instance

[2019-04-22 05:22] magento-engcom-team commented on #22434
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-22 05:22] magento-engcom-team commented on #22443
Hi @somat211, here is your [Magento instance](https://i-22443-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22443-2-3-develop.instances.magento-community.engineering/admin](https://i-22443-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 05:23] magento-engcom-team commented on #22434
Hi @hiren0241, here is your [Magento instance](https://i-22434-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22434-2-3-develop.instances.magento-community.engineering/admin](https://i-22434-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 05:23] harsh719 commented on #22449
I have faced this problem when i edit content in CMS -> Pages.Show/hide editor doesn't work sometimes.Eventhough i have removed all content and save it doesn't work.I can't see any js error in console. So please let me know how to solve this.

[2019-04-22 05:25] Seb33300 opened #22450 ""Add Store Code to Urls" option in store configuration"
I would like to define an url code for both store and store view.
I expect that both url codes will be concatenated.

This could be useful to add both lang code and an other specific store code to URL.

I have 2 multilingual stores:
- public store
- professional store

I am expecting to get URL like:

`/{store-view-code}/{store-code}/`

- public:
`/en/public/`
`/fr/public/`

- professional:
`/en/p

[2019-04-22 05:26] ajijshekh123 commented on #22392
Please give me @magento-engcom-team give me 2.2.4-develop instance?

[2019-04-22 05:26] magento-engcom-team commented on #22392
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2.4-develop instance for you

[2019-04-22 05:27] krishprakash commented on #22449
Hi @harsh719. Thank you for your report.
Please add the issue description as mentioned in below guidelines:
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-04-22 05:28] harsh719 commented on #22449
I faced issue while opening my cms block and then scroll to a content area and text editor is not working.

[2019-04-22 05:34] ajijshekh123 commented on #22392
I have verified this issue in different browser Ex: Chrome (73.0.3683.103), Firefox (66.0.3 (64-bit)), Microsoft( 44.17763.1.0) and Safari (11.1.2) version but not able to reproduce this issue.

[2019-04-22 05:41] krishprakash commented on #22449
Hi @harsh719.
Yes if issue is there we will check and update you but first you need to update issue description as per magneto standard so our team can work further.
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Thanks.

[2019-04-22 05:45] ajijshekh123 commented on #22392
@ioweb-gr - I have verified this issue in Updated Magento instance and I can't reproduce this issue. It may be this issue is related to the third-party extension.
Someone, please verify this issue in your end.

[2019-04-22 05:52] harsh719 opened #22452 "Show/hide text editor is not working on magento2"
I am getting an error while opening cms block and in that, I am not able to see show/hide text editor on Magento 2 and I tried every possible solution that available on internet and GitHub but still not finding any solutions that work for me.

![Magento Issue](https://user-images.githubusercontent.com/49854559/56485260-f6f9b780-64f0-11e9-96b0-7b90b8ff8000.png)

[2019-04-22 05:54] krishprakash commented on #22449
@magento-engcom-team give me 2.3-develop instance

[2019-04-22 05:54] magento-engcom-team commented on #22449
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-22 05:55] magento-engcom-team commented on #22449
Hi @krishprakash, here is your [Magento instance](https://i-22449-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22449-2-3-develop.instances.magento-community.engineering/admin](https://i-22449-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 06:01] krishprakash commented on #22449
As created same issue so i am closing this issue.
https://github.com/magento/magento2/issues/22452

[2019-04-22 06:01] #22449 closed, assigned to krishprakash

[2019-04-22 06:03] harsh719 commented on #12059
I want to fix this issue please guide me @krish

[2019-04-22 06:04] ajijshekh123 commented on #22392
Give me @magento-engcom-team give me 2.2-develop instance.

[2019-04-22 06:04] magento-engcom-team commented on #22392
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-22 06:05] harsh719 commented on #12059
![Magento Issue](https://user-images.githubusercontent.com/49854559/56485681-a5522c80-64f2-11e9-9a95-febf78615e5a.png)
See this image to get a better understanding.

Thanks.

[2019-04-22 06:05] magento-engcom-team commented on #22392
Hi @ajijshekh123, here is your [Magento instance](https://i-22392-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22392-2-2-develop.instances.magento-community.engineering/admin](https://i-22392-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 06:09] ioweb-gr commented on #22392
Hi @ajijshekh123 do you mean browser extension or magento extension? I've tested it in firefox safe-mode and it happened as well and it happened to me on the test instance too. I will try to test again and see if I can provide more info to replicate it.

[2019-04-22 06:09] ioweb-gr commented on #22392
@magento-engcom-team give me 2.3-develop instance

[2019-04-22 06:09] magento-engcom-team commented on #22392
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-22 06:10] magento-engcom-team commented on #22392
Hi @ioweb-gr, here is your [Magento instance](https://i-22392-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22392-2-3-develop.instances.magento-community.engineering/admin](https://i-22392-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 06:11] ajijshekh123 commented on #22392
@ioweb-gr - I am talking about Magento extension. I have verified this issue in your define browser but I can't able to reproduce it.

[2019-04-22 06:14] harsh719 commented on #12059
Preconditions
PHP 7.0.3
Mysql 5.6
Latest chrome browser
Magento environment: Production
JS / CSS minifcation and merging enabled.
Steps to reproduce
Go into any page with a wysiwyg editor possiblity ( e.g. product edit page ).
See that sometimes it does not appear
Try clicking "Show editor". Nothing happens.
If you click the "Show/Hide editor" and do F5 refresh the page, suddenly the WYSIWYG edito

[2019-04-22 06:29] ioweb-gr commented on #22392
This one is on the test instance on clean firefox 66.0.3 (64-bit) on category grid.
![2019-04-22_09-20-50](https://user-images.githubusercontent.com/20220341/56486416-2eac3380-64e0-11e9-9e40-6fe5844ca323.gif)

I've managed to make it bounce as well. Here's what I did and I hope this information will help you replicate it because it has something to do strictly with the height of the total content

[2019-04-22 06:40] ajijshekh123 commented on #22392
Thanks for the update @ioweb-gr.

[2019-04-22 06:46] kalpmehta commented on #22450
@Seb33300 This does not look like out of the box Magento bug. Please ask this question on https://community.magento.com/ or https://magento.stackexchange.com/

[2019-04-22 06:46] #22450 closed, assigned to nobody

[2019-04-22 06:47] kalpmehta commented on #22450
Feel free to reopen it if you still think it is core Magento issue. Make sure you edit the issue in the acceptable format so it is easy to review. Thanks

[2019-04-22 07:15] magento-engcom-team commented on #22427
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99321` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-22 07:23] ajijshekh123 commented on #22392
Hello @ioweb-gr,
I verify this issue as per your configuration and resolution. I can't able to reproduce this issue.

See the video:
![Scroll_Issue](https://user-images.githubusercontent.com/24711761/56488881-72616600-64fd-11e9-8196-734821316c88.gif)

If anyone reproduces this issue please update the configuration details and steps to be reproduced.

[2019-04-22 07:27] ioweb-gr commented on #22392
Hi @ajijshekh123

Could you also adjust the "schedule design update" max-height to around 140px via inspector and adjust it up and down so that you can test in various content heights. What's your effective screen height currently? Perhaps there is some small difference and it's not happening for you

[2019-04-22 07:44] engcom-backlog-nazar commented on #22438
HI @seansan thank you for you report, i'm  closing this as duplicate to this -> https://github.com/magento/magento2/issues/8933

[2019-04-22 07:56] engcom-backlog-nazar commented on #21997
HI @jwilliamson1098 thank you for you report, i'm not able to reproduce following steps you described, on clean magento 2.3-dev instance, please provide steps to reproduce without any 3th party extensions.

[2019-04-22 07:56] #21997 closed, assigned to nobody

[2019-04-22 07:57] ioweb-gr commented on #22392
OK how about trying this test then.

- On a clean firefox install right click on top window bar and enable Menu bar and Bookmarks toolbar
- Open responsive design tool
- Set dimensions to 1920x920px
- Windows taskbar on the bottom
- Navigate to catalog -> category
- Open the first category
- Expand schedule design update
- Scroll to the bottom and then up.

![2019-04-22_10-52-24](https://user-imag

[2019-04-22 07:58] engcom-backlog-nazar commented on #22445
Hi @benhtn  Thank you for your report. problems with data migration from 1.x must be reported in https://github.com/magento/data-migration-tool repository.

[2019-04-22 07:58] #22445 closed, assigned to nobody

[2019-04-22 08:03] krishprakash commented on #22452
@magento-engcom-team give me 2.3-develop instance

[2019-04-22 08:03] magento-engcom-team commented on #22452
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-22 08:03] magento-engcom-team commented on #22452
Hi @krishprakash, here is your [Magento instance](https://i-22452-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22452-2-3-develop.instances.magento-community.engineering/admin](https://i-22452-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 08:08] engcom-backlog-nazar commented on #22392
Hi @ioweb-gr thank you i'm able to reproduce by your steps on latest comment.
![deepin-screen-recorder_Select area_20190422110648](https://user-images.githubusercontent.com/40756439/56490737-de889d80-64ee-11e9-8974-1a0e76838d9d.gif)

[2019-04-22 08:09] magento-engcom-team commented on #22392
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99322` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-22 08:10] benhtn commented on #22445
Where is the evidence that this is due to migration from v1 to v2 please?

[2019-04-22 08:12] engcom-backlog-nazar commented on #22445
@benhtn because i'm not able to reproduce with upgrading from 2.2.5 to 2.3.1

[2019-04-22 08:14] engcom-backlog-nazar commented on #22445
@benhtn
![DeepinScreenshot_select-area_20190422111408](https://user-images.githubusercontent.com/40756439/56491002-c49b8a80-64ef-11e9-9645-47e7d73fa5a7.png)

[2019-04-22 08:15] krishprakash commented on #22452
Hi @harsh719,
Can not reproduce this issue on clean magento instance.
Please review screencast : https://www.screencast.com/t/erhCytaDYsYa
Also please check on fresh magento instance and let us know if you phase this issue again.
Thanks.

[2019-04-22 08:15] #22452 closed, assigned to krishprakash

[2019-04-22 08:16] ioweb-gr commented on #22392
No problem. I was certain this was a certain height of content issue that's why I replicated first via adjusting the height of the "Schedule Design Update" tab first. Keep in mind it happens in all grids in admin potentially. I have seen it in Content -> Design and Configuration pages as well.

[2019-04-22 08:24] seansan commented on #22438
that is a very very old issue almost 2 years, especially in the code world

can something be done to solve this issue you think

On Mon, Apr 22, 2019 at 9:45 AM engcom-backlog-nazar <
notifications@github.com> wrote:

[2019-04-22 08:54] benhtn commented on #22445
The thing is, prior to upgrading from 2.2.5 to 2.3.1 CE, the version was showing correctly.  Can you tell me where the system retrieves it's version code from please?  If it is db based for instance, maybe I can just set it manually and everything will be OK...?

[2019-04-22 08:58] engcom-backlog-nazar commented on #22445
@benhtn the version comes from composer package
![DeepinScreenshot_select-area_20190422115813](https://user-images.githubusercontent.com/40756439/56492932-f7488180-64f5-11e9-9f1b-0b162ee34d1c.png)

[2019-04-22 09:02] benhtn commented on #22445
Thanks Nazar.  Could you post up the composer.json you get after upgrade please?  Just the meta package bit at the top will do.  I had to manually edit that to get the upgrade to work and maybe I did something to upset it...

[2019-04-22 09:11] engcom-backlog-nazar commented on #22445
@benhtn in the end of file composer.json you must have something like this
![DeepinScreenshot_select-area_20190422121032](https://user-images.githubusercontent.com/40756439/56493432-c10c0180-64f7-11e9-84c6-87203f81e157.png)

[2019-04-22 09:11] engcom-backlog-nazar commented on #22445
just add version

[2019-04-22 09:24] visahardik commented on #10454
I am also facing this problem here, Did you get any solution ?

[2019-04-22 09:27] seansan commented on #8933
To be clear issue #22438 is about CRON. Not a user action as the OP.

Many comments and references in issue #22438 are also about CRON

But i can imagine that deadlocks in general are dont-wanna-have

I do suggest fixing the CRON issue fast because it is triggered 24/7 --- also this seems a rather standard business flow where cron actions are executed. It should not lead to errors or warnings

[2019-04-22 09:54] geet07 commented on #13428
#mm19in

[2019-04-22 09:59] Karlasa commented on #22406
@sudhanshu-bajaj Issue tickets should be closed when they are not relevant or fixed. Currently this ticket should be kept open till your PR gets merged.
Thanks for noticing and connecting PR and issue. You can updated your PR description with issue number that it fixes.

Cheers,

[2019-04-22 10:16] jayanta88 commented on #20031
@magento-engcom-team -

I've applied the same [solution here ](https://github.com/magento/magento2/commit/4e62fe32bf6f27b583eeb8d5d2309c7abebd5535) still this is not working. Is there anything else need to do?

Thanks

[2019-04-22 11:25] engcom-backlog-nazar commented on #22431
Hi @aschrammel thank you for you report, this issue has already ben fixed in this -> commit https://github.com/magento/magento2/commit/7c6ecc33bf6d5707021548e0920650b7feec265c

[2019-04-22 11:57] hostep commented on #22445
@engcom-backlog-nazar : what `composer.json` file are you talking about exactly? I can't be the root one, because we always strip out the version from there, and running `bin/magento --version` still reports the correct version. So I think your comment might be incorrect.

[code]

[2019-04-22 12:13] engcom-backlog-nazar commented on #22445
@hostep yes you are right, version comes from root-package,
![DeepinScreenshot_select-area_20190422150929](https://user-images.githubusercontent.com/40756439/56499887-2b7d6b80-6511-11e9-906b-9512f46051f4.png)

[2019-04-22 12:37] geet07 commented on #20689
@magento-engcom-team give me 2.3.1 instance

[2019-04-22 12:37] magento-engcom-team commented on #20689
Hi @geet07. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-04-22 12:38] magento-engcom-team commented on #20689
Hi @geet07, here is your [Magento instance](https://i-20689-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-20689-2-3-1.instances.magento-community.engineering/admin](https://i-20689-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 12:48] engcom-backlog-nazar commented on #22338
Hi @DeepPopat so please provide exact steps to reproduce not a gif.

[2019-04-22 13:04] ydaood opened #22454 "Shopping cart total price doesn't changed after product delete from admin panel"
### Preconditions (*)

1. In Magento 2.3.1
2. Add at least two product to shopping cart

### Steps to reproduce (*)

1. Delete One of two products that in Shopping cart form admin panel
2. Check Mini cart

### Expected result (*)

1. Total Price Changed as Product deleted in mini cart

### Actual result (*)

1. Total Price doesn't Change in mini cart

[2019-04-22 13:36] engcom-backlog-nazar commented on #22454
Hi @ydaood thank  you for you report, i;m not able to reproduce following steps you described on clean magento 2.3-develop instance.
![deepin-screen-recorder_Select area_20190422163516](https://user-images.githubusercontent.com/40756439/56502938-cb8cc200-651c-11e9-9507-f9e34011fbab.gif)

[2019-04-22 13:36] #22454 closed, assigned to nobody

[2019-04-22 13:50] hiren0241 commented on #22434
@magento-engcom-team give me 2.2-develop instance

[2019-04-22 13:50] magento-engcom-team commented on #22434
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-22 13:51] magento-engcom-team commented on #22434
Hi @hiren0241, here is your [Magento instance](https://i-22434-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22434-2-2-develop.instances.magento-community.engineering/admin](https://i-22434-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 14:15] ydaood commented on #22454
@engcom-backlog-nazar  Please check this issue again in mini cart

[2019-04-22 14:16] engcom-backlog-nazar commented on #22454
@ydaood did you able to proceed order with that total ?

[2019-04-22 14:17] ydaood commented on #22454
@engcom-backlog-nazar no  it is  changed when proceed to checkout

[2019-04-22 16:11] hostep commented on #22445
So I dug in a bit more, since I was curious :)

It looks like when you install Magento2 using composer, it searches the version in a package what Magento calls a "system package", that [is determined](https://github.com/magento/magento2/blob/2.3.1/lib/internal/Magento/Framework/Composer/ComposerInformation.php#L260-L266) if the name of that package matches the regex `magento/product-*` and then th

[2019-04-22 17:01] rzaragosin opened #22457 "Show / hide editor is no working"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
![show-hide editor not working](https://user-images.githubusercontent.com/49878598/56513091-52cb3d00-64ff-11e9-9279-8b23241efc82.png)

2.
###

[2019-04-22 17:11] styzzz commented on #7178
Same issue 2.3.1 on php7.2

[2019-04-22 17:16] leoquijano commented on #15009
Thanks @gwharton. I'm just wondering if the patch is going to be included in an official release. Since it's a bug, I think it can be included in 2.2.9 or 2.2.10, right?

[2019-04-22 17:17] krishprakash commented on #22457
Hi @rzaragosin. Thank you for your report.
Please explain the issue in proper issue format.
In which magento version phase this issue ?
Explain in description

[2019-04-22 17:30] rzaragosin commented on #22457
hi guys, thanks for your comments.
I'm working in Magento 2.2.4
I'm not using any extension
I tried in all the browser and didn't work either. I can edit any product, I just available to edit the price.

[2019-04-22 17:39] gwharton commented on #15009
Check out #18443. Already merged into 2.2-develop. Will be in 2.2.9. It rewrites all the code causing these issues.

[2019-04-22 18:03] krishprakash commented on #22457
@magento-engcom-team give me 2.2-develop instance

[2019-04-22 18:03] magento-engcom-team commented on #22457
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-22 18:04] magento-engcom-team commented on #22457
Hi @krishprakash, here is your [Magento instance](https://i-22457-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22457-2-2-develop.instances.magento-community.engineering/admin](https://i-22457-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 18:10] leoquijano commented on #15009
I see!

Looking into it. This is very helpful. Thanks!

[2019-04-22 18:13] Stoyvo opened #22458 "Unable to unarchive an order"
### Preconditions (*)
1. Magento 2.2.8
2. Have orders in your Magento store
3. Order Archiving is enabled

### Steps to reproduce (*)
1. Navigate to Sales -> Operations -> Orders
2. Select 1 order and select action "Move To Archive"
3. Navigate to Sales -> Archive -> Orders
4. Select previous order and attempt to unarchive it (There is no action)

### Expected result (*)
If an order was archived b

[2019-04-22 18:20] CajuCLC commented on #21852
This might be caused by this: https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Deploy/Process/Queue.php#L391

And the function for the timeout: https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Deploy/Process/Queue.php#L372

And that all goes to const `DEFAULT_MAX_EXEC_TIME = 400;`
https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Deploy

[2019-04-22 18:31] krishprakash commented on #22457
Hi @rzaragosin. I'm not able to reproduce this issue.
Can you please explain with proper reproducible steps

[2019-04-22 18:59] harryems commented on #22094
getting same error, trying to install sample data.

[2019-04-22 19:28] nickpiro commented on #22398
@magento-engcom-team give me 2.2.8 instance

[2019-04-22 19:29] magento-engcom-team commented on #22398
Hi @nickpiro. Thank you for your request. I'm working on Magento 2.2.8 instance for you

[2019-04-22 19:29] magento-engcom-team commented on #22398
Hi @nickpiro, here is your [Magento instance](https://i-22398-2-2-8.instances.magento-community.engineering).
Admin access: [https://i-22398-2-2-8.instances.magento-community.engineering/admin](https://i-22398-2-2-8.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 19:30] nickpiro commented on #22398
@orlangur I think the best way would be to do test orders with Check/Money Order payment.

Setup Google Analytics with eCommerce conversion tracking, link it to Magento 2.2.8 instance, test orders. They should show fairly quickly. Unfortunately it's not all orders.

I spoke to someone and it was a js issue on checkout, I did a temp fix on 2.2.5 but it never actually worked.

[2019-04-22 20:36] AndrewPenry opened #22459 "Magento 2.2.8 Filtered search shows out-of-stock subproducts when multiple filters are chosen"
### Preconditions (*)

1. Magento 2.2.8
2. Sample data installed

### Steps to reproduce (*)

1. In the admin, set all the size S simple products of the Leah Yoga Top to 0.
2. In the frontend, choose Women>Tops.
3. Select Size: S and Color: Purple from the filters.

### Expected result (*)

1. The Leah Yoga Top should not be part of the search results.

### Actual result (*)

1. The Leah Yoga Top

[2019-04-22 20:37] AndrewPenry commented on #22459
@magento-engcom-team give me 2.3-develop instance

[2019-04-22 20:37] magento-engcom-team commented on #22459
Hi @AndrewPenry. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-22 20:38] magento-engcom-team commented on #22459
Hi @AndrewPenry, here is your [Magento instance](https://i-22459-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22459-2-3-develop.instances.magento-community.engineering/admin](https://i-22459-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 20:53] magento-engcom-team commented on #22459
Hi @AndrewPenry. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-22 20:54] magento-engcom-team commented on #22459
Hi @AndrewPenry, here is your [Magento instance](https://i-22459-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22459-2-3-develop.instances.magento-community.engineering/admin](https://i-22459-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-22 20:57] AndrewPenry commented on #22459
I was able to reproduce in 2.3-develop as well.

[2019-04-22 21:37] mozgbrasil opened #22460 "COMPOSER_AUTH environment variable is malformed, should be a valid JSON object"
### Preconditions (*)

1. Magento 2.3.1 on AWS EBS

### Steps to reproduce (*)

1.

[code]

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.
![Captura de tela de 2019-04-22 18-29-46](https://user-images.githubusercontent.com/17202780/56533088-62fa1100-652d-11e9-82a1-63b1d6eb2de7.png)
![Captura de tela de 2019-04-22 1

[2019-04-22 21:38] mozgbrasil commented on #22460
yes

[2019-04-22 23:00] magento-engcom-team commented on #21868
Hi @slackerzz. Thank you for your report.
The issue has been fixed in magento/magento2#22422 by @slackerzz in 2.2-develop branch
Related commit(s):
 - [e1f91d1a87dabac77264f40992007124b8febd4e](https://github.com/magento/magento2/commit/e1f91d1a87dabac77264f40992007124b8febd4e)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-22 23:00] magento-engcom-team commented on #15090
Hi @BlitzInternet. Thank you for your report.
The issue has been fixed in magento/magento2#22282 by @davidalger in 2.2-develop branch
Related commit(s):
 - [e12eeaac9a1892bab43b8ab7083e03922da3b2ab](https://github.com/magento/magento2/commit/e12eeaac9a1892bab43b8ab7083e03922da3b2ab)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-22 23:22] The-Krang commented on #22390
Hello Mr. Thomas.
Thank you for contacting me on this issue.
Unfortunately, no. Would you mind letting me know how you managed to make it work for you? Thank You.

________________________________
From: Russell Thomas <notifications@github.com>
Sent: Friday, April 19, 2019 10:20 AM
To: magento/magento2
Cc: The-Krang; Mention
Subject: Re: [magento/magento2] No download link in customer account afte

[2019-04-22 23:48] tomekjordan commented on #22443
This is not an issue, its standard behavior for admin orders since M1.

[2019-04-23 00:11] kalpmehta commented on #22458
Hi @Stoyvo , this is duplicate to [#13645](https://github.com/magento/magento2/issues/13645)

Please contact Magento support from your Magento Commerce account.

[2019-04-23 00:11] #22458 closed, assigned to krishprakash

[2019-04-23 01:01] michaelwylde commented on #13477
I can replicate this issue in 2.3.1 and can confirm it is not a duplicate of #13751 - therefore I am re-opening this issue.

[2019-04-23 05:13] Hashamwebdev commented on #22388
@magento-engcom-team give me 2.3-develop instance

[2019-04-23 05:13] magento-engcom-team commented on #22388
Hi @Hashamwebdev. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-23 05:13] magento-engcom-team commented on #22388
Hi @Hashamwebdev, here is your [Magento instance](https://i-22388-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22388-2-3-develop.instances.magento-community.engineering/admin](https://i-22388-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-23 05:24] aschrammel commented on #22431
Hi @engcom-backlog-nazar,

thanks for your feedback but unfortunately the fix you mentioned does not fix the problem described.
The custom options stored in the `info_buyRequest` as `options` object with it's corresponding ID but not - as it's done before the update - as textual key and value.

E.g. i have on in the the `product_options` field in `sales_order_item`table something like this:
[code]

[2019-04-23 05:27] rammohan-krish commented on #22459
@magento-engcom-team give me 2.3-develop instance

[2019-04-23 05:27] magento-engcom-team commented on #22459
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-23 05:28] magento-engcom-team commented on #22459
Hi @rammohan-krish, here is your [Magento instance](https://i-22459-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22459-2-3-develop.instances.magento-community.engineering/admin](https://i-22459-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-23 05:33] Hashamwebdev commented on #22388
label:"Issue: Confirmed"

[2019-04-23 05:42] Hashamwebdev commented on #22388
@magento-engcom-team Issue confirmed on Magento 2.3

[2019-04-23 06:16] rammohan-krish commented on #22459
@magento-engcom-team give me 2.2-develop instance

[2019-04-23 06:16] magento-engcom-team commented on #22459
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-23 06:17] magento-engcom-team commented on #22459
Hi @rammohan-krish, here is your [Magento instance](https://i-22459-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22459-2-2-develop.instances.magento-community.engineering/admin](https://i-22459-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-23 06:19] aschrammel commented on #22431
Additionally maybe interesting is the fact, that this happens on virutal products!
As far as I've seen now, there's no `ProductOptionProcessor` for virtuals.

[2019-04-23 06:22] devqualwebs opened #22462 "Rest API for place order taking much time."
### Preconditions (*)

1. Created a custom one page checkout.
2. Placing order for guest users using Rest API Magento 2
3. Magento -v 2.1.3
4. php -v 7.0.4
5. Apache 2.4
6. MySQL 5.7, AWS RDS 16G RAM, 4 core CPU with 1000 IOPS
7. AWS EC2 Ubuntu 16.4 4G RAM 4 core CPU 100G SSD
8. Redis for session and cache
9. Opcache enabled

### Steps to reproduce (*)

1. Placing an order using Cash  On Delivery

[2019-04-23 06:39] magento-engcom-team commented on #22459
:white_check_mark: Confirmed by @rammohan-krish
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99351`, `MAGETWO-99352` were created

**Issue Available**: @rammohan-krish, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-23 07:27] i95devdivya commented on #22300
@engcom-backlog-nazar
Is there any patch is available for EE 2.2.6?

[2019-04-23 07:56] orlangur commented on #22462
@devqualwebs you should perform a profiling on your side to find a root cause.

[2019-04-23 08:25] deniskaravai commented on #9434
Have reproduced the issue on Magento 2.1.17, 2.2.2.

[2019-04-23 08:45] engcom-backlog-nazar commented on #22103
Hello @gwharton . We've been not able to reproduce Your issue following the steps Your provided. Herewith we attach two videos on how we were trying to do that. So please watch them carefully and tell us what we missed or did incorrectly there. Thank You.

[2019-04-23 09:25] celorodovalho commented on #22304
I have the same problem here in 2.2.8
Any solution?
This is a blocking issue!

[2019-04-23 09:42] orlangur commented on #22398
@nickpiro ok, please confirm you're able to reproduce problem with such steps on a clean Magento installation and then put such steps into description.

[2019-04-23 10:24] engcom-backlog-nazar commented on #10234
Hello @ravibhalodia. At now we are not able to reproduce Your issue. Please watch here attached videos and point out to us the things we've missed or done wrong.
![Video1](https://user-images.githubusercontent.com/40756439/56574104-aed5a600-657f-11e9-958d-1f06fa18e723.gif)
![Video2](https://user-images.githubusercontent.com/40756439/56574109-b1d09680-657f-11e9-96b7-13637dd54bb0.gif)
![Video3](http

[2019-04-23 10:25] simonmaass commented on #15043
will this get fixed?

[2019-04-23 10:29] magento-engcom-team commented on #22251
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99353`, `MAGETWO-99354` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-23 10:47] aishwaryasunarc commented on #10234
The issue is coming when we switch addresses on the checkout page.

For example, I added multiple addresses from the address book of a customer. At checkout, I switch address from default shipping address to another address and another address to default shipping. In this scenario, the restricted payment method is not working properly.

Kindly check this scenario

[2019-04-23 10:57] magento-engcom-team commented on #18519
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99356` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-23 11:17] benhtn commented on #22445
Hi guys,
Many thanks for your help and curiosity @hostep and @Nazar65!

My [current composer.json is here]( https://drive.google.com/file/d/1GxeA2yn0GqiMmywWTk-eaHczOTXE53cl/view) - it looks a real mess compared to a clean install (and seems to be missing some bits) however - it does contain
        "magento/product-community-edition": "2.3.1"
in the require section - I put it there manually in or

[2019-04-23 11:22] hostep commented on #22445
@benhtn: your `composer.json` files looks like a mess indeed. Honestly I would start over from a clean `composer.json` file and add your extra dependencies (`ebizmarts/sagepaysuite`, and maybe others?) to it and try again.
The fact that the version isn't showing up is probably the least of your worries based on this `composer.json` file you posted I think.

[2019-04-23 11:26] benhtn commented on #22445
Thanks @hostep - OK, what a pain!  I just wish I understood what went wrong to get it like this...

[2019-04-23 11:36] hamplr commented on #22304
No, there´s currently no commit for this patch, but we have the patch in use in our project to solve the problem.

[2019-04-23 11:36] engcom-backlog-nazar commented on #10234
@aishwaryasunarc , here is the next video with the case You described above. Unfortunately there is the same result as You can see. Issue is not reproduced.
![CMO](https://user-images.githubusercontent.com/40756439/56578003-c0bc4680-6589-11e9-8467-415c18177ebf.gif)

[2019-04-23 11:53] bheindl commented on #19549
I'm not sure if changing input type from fileUploader to imageUploader solves the basic issue. When I look at the error message and the code, the problem is, that "Base64"-Method from lib/web/mage/adminhtml/tools.js is not available in global scope.
I can reproduce this issue, when I activate 'dev/js/enable_js_bundling' and 'dev/js/minify_files' and then compile the static content. Tools.js is som

[2019-04-23 11:56] Nazar65 commented on #19549
@bheindl  https://github.com/magento/magento2/pull/19988

[2019-04-23 12:05] magento-engcom-team commented on #22152
Hi @Dharmeshvaja91. Thank you for your report.
The issue has been fixed in magento/magento2#22441 by @saphaljha in 2.2-develop branch
Related commit(s):
 - [b3a799deb5e744e286a37e04abc8425eacc4e878](https://github.com/magento/magento2/commit/b3a799deb5e744e286a37e04abc8425eacc4e878)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-23 12:05] magento-engcom-team commented on #22309
Hi @cmuench. Thank you for your report.
The issue has been fixed in magento/magento2#22440 by @saphaljha in 2.2-develop branch
Related commit(s):
 - [20efb0563782aacef6511cc9cd55f971f2e18657](https://github.com/magento/magento2/commit/20efb0563782aacef6511cc9cd55f971f2e18657)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-23 12:05] magento-engcom-team commented on #19909
Hi @ilnytskyi. Thank you for your report.
The issue has been fixed in magento/magento2#22214 by @ilnytskyi in 2.2-develop branch
Related commit(s):
 - [3a0383808ced01ac1d6af8d7df8fad334866b3d5](https://github.com/magento/magento2/commit/3a0383808ced01ac1d6af8d7df8fad334866b3d5)
 - [4c84817c2a3c5b3b4985900e024437f03ab5704b](https://github.com/magento/magento2/commit/4c84817c2a3c5b3b4985900e024437f0

[2019-04-23 12:06] AndrewPenry commented on #22459
@magento-engcom-team give me 2.2.5 instance

[2019-04-23 12:06] magento-engcom-team commented on #22459
Hi @AndrewPenry. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2019-04-23 12:07] magento-engcom-team commented on #22459
Hi @AndrewPenry, here is your [Magento instance](https://i-22459-2-2-5.instances.magento-community.engineering).
Admin access: [https://i-22459-2-2-5.instances.magento-community.engineering/admin](https://i-22459-2-2-5.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-23 12:25] magento-engcom-team commented on #19825
Hi @nexrobr. Thank you for your report.
The issue has been fixed in magento/magento2#19993 by @hiren0241 in 2.3-develop branch
Related commit(s):
 - [fd92027ac2c34c47ff1f09dafbd1c01b549adc47](https://github.com/magento/magento2/commit/fd92027ac2c34c47ff1f09dafbd1c01b549adc47)
 - [6374f9ddd3c51aa1e4cc96b5e2339c236028c665](https://github.com/magento/magento2/commit/6374f9ddd3c51aa1e4cc96b5e2339c2360

[2019-04-23 12:25] #19825 closed, assigned to hiren0241

[2019-04-23 12:25] magento-engcom-team commented on #22355
Hi @kevinvuillemin. Thank you for your report.
The issue has been fixed in magento/magento2#22382 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [e949e85159dd00640106be24ff72b79441cba121](https://github.com/magento/magento2/commit/e949e85159dd00640106be24ff72b79441cba121)
 - [bfc82b60a404757b8211cbae4067b9dcd7e52fd4](https://github.com/magento/magento2/commit/bfc82b60a404757b8211cbae4067b

[2019-04-23 12:25] #22355 closed, assigned to Nazar65

[2019-04-23 12:25] magento-engcom-team commented on #22246
Hi @ryanpalmerweb. Thank you for your report.
The issue has been fixed in magento/magento2#22263 by @ryanpalmerweb in 2.3-develop branch
Related commit(s):
 - [ec2c6ca7df68de9aaccecfb899b102a2a3eaa631](https://github.com/magento/magento2/commit/ec2c6ca7df68de9aaccecfb899b102a2a3eaa631)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-23 12:25] #22246 closed, assigned to ryanpalmerweb

[2019-04-23 12:25] magento-engcom-team commented on #21702
Hi @crankycyclops. Thank you for your report.
The issue has been fixed in magento/magento2#21711 by @Jitheesh in 2.3-develop branch
Related commit(s):
 - [fc1434b3465a855cb952aae8b63cc886d6c1cce0](https://github.com/magento/magento2/commit/fc1434b3465a855cb952aae8b63cc886d6c1cce0)
 - [8652bc88614875920ecb506c45dff777b2069701](https://github.com/magento/magento2/commit/8652bc88614875920ecb506c45dff

[2019-04-23 12:25] #21702 closed, assigned to Jitheesh

[2019-04-23 12:25] magento-engcom-team commented on #13409
Hi @deagleka. Thank you for your report.
The issue has been fixed in magento/magento2#20174 by @molovo in 2.3-develop branch
Related commit(s):
 - [3bcf0d8cbf0330f3a65b25f74f0193961607ebe4](https://github.com/magento/magento2/commit/3bcf0d8cbf0330f3a65b25f74f0193961607ebe4)
 - [d4e0c28cc3e9016d640f53e5fc27d56c6a1067ab](https://github.com/magento/magento2/commit/d4e0c28cc3e9016d640f53e5fc27d56c6a10

[2019-04-23 12:25] magento-engcom-team commented on #19742
Hi @molovo. Thank you for your report.
The issue has been fixed in magento/magento2#20174 by @molovo in 2.3-develop branch
Related commit(s):
 - [3bcf0d8cbf0330f3a65b25f74f0193961607ebe4](https://github.com/magento/magento2/commit/3bcf0d8cbf0330f3a65b25f74f0193961607ebe4)
 - [d4e0c28cc3e9016d640f53e5fc27d56c6a1067ab](https://github.com/magento/magento2/commit/d4e0c28cc3e9016d640f53e5fc27d56c6a1067

[2019-04-23 12:25] #19742 closed, assigned to molovo

[2019-04-23 12:25] magento-engcom-team commented on #21779
Hi @rafaelstz. Thank you for your report.
The issue has been fixed in magento/magento2#21816 by @kisroman in 2.3-develop branch
Related commit(s):
 - [1dc63e8becdceb7ec50560c30af14e74cdd355d1](https://github.com/magento/magento2/commit/1dc63e8becdceb7ec50560c30af14e74cdd355d1)
 - [4a0fb16a2fdd4082299cb14a9b0e1f5f48504b2c](https://github.com/magento/magento2/commit/4a0fb16a2fdd4082299cb14a9b0e1f5f4

[2019-04-23 12:25] #21779 closed, assigned to kisroman

[2019-04-23 12:25] magento-engcom-team commented on #21654
Hi @sergeynezbritskiy. Thank you for your report.
The issue has been fixed in magento/magento2#21670 by @sergeynezbritskiy in 2.3-develop branch
Related commit(s):
 - [2038d7d00ae6428fd4aea976f275ff01924eecee](https://github.com/magento/magento2/commit/2038d7d00ae6428fd4aea976f275ff01924eecee)
 - [71effbe9252a1a8a840860c102d02e690fbded29](https://github.com/magento/magento2/commit/71effbe9252a1a8a

[2019-04-23 12:25] #21654 closed, assigned to sergiynezbritskiy, milindsingh

[2019-04-23 12:28] AndrewPenry commented on #22459
I think this is a regression. We updated from 2.2.5 to 2.2.8. On 2.2.5 this issue does not reproduce. When I have some time, I'll test all the intervening releases to see when it first appeared.

[2019-04-23 12:30] complexthings commented on #22245
Was fixed here for those who come to this issue later:

https://github.com/magento/magento2/commit/01eb7e61c9a3ebadd7d3350b473fd5d0db8d1578

Shout out to @eduard13 for the fix.

[2019-04-23 12:43] lyusya-nnn commented on #22407
If somebody needs the fix for this issue you can create a plugin for Magento\Theme\Block\Html\Topmenu, so in di.xml you will have something like this:

[code]

And your plugin will look like this:

[code]

[2019-04-23 12:46] magento-engcom-team commented on #22344
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99359` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-23 12:48] geet07 commented on #22119
@magento-engcom-team give me 2.3-develop instance

[2019-04-23 12:48] magento-engcom-team commented on #22119
Hi @geet07. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-23 12:48] magento-engcom-team commented on #22119
Hi @geet07, here is your [Magento instance](https://i-22119-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22119-2-3-develop.instances.magento-community.engineering/admin](https://i-22119-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-23 13:12] magento-engcom-team commented on #22311
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99360` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-23 13:32] jonathan-may commented on #22245
@complexthings Thank you for updating where the fix was added! I created a patch file for my project, and confirmed it fixed this issue.

[2019-04-23 13:36] dudzio12 commented on #22107
Problem was caused by third party extension which was changing are code in it's own constructor inside custom CLI Command class.

[2019-04-23 13:36] #22107 closed, assigned to nobody

[2019-04-23 13:43] dudzio12 commented on #22000
@maghamed -

It's not true, because even when MSI is used, the configurable product has `is_in_stock` = 1 inside `cataloginventory_stock_item` table (by default). Moreover - stock_item's for configurations (simple products, variants) are created too with `is_in_stock` = 0.

When I change it to 0 or delete that row (configurable stock_item) - configurable product is out of stock and changing qty of

[2019-04-23 14:13] toddca commented on #15427
We are running into this issue constantly and its super important we get this fixed. I cannot believe how old this issue is and we still don't have a fix.

[2019-04-23 15:17] vincentwinkel commented on #5860
@JMLucas96 creating a plugin requires to set up a `di.xml` containing at least something like:
[code]

But this workaround doesn't work neither for me. And because I know flushing 100 times the cache + removing generated files is often not enough to see code updates, I directly put some `die(`) in all the `Magento\Sales\Model\Order\Payment\State` commands, but vainly.

Magento 2.0 for me (I know..

[2019-04-23 15:30] TonyRutherford1 commented on #13952
Have upgraded to 2.3.1 and still geting this issue randomly with orders being duplicated. Is anyone looking at this?

[2019-04-23 16:00] imaginae opened #22467 "Import products consumes a lot of memory and is not releasing it producing a memory leak"
When importing products from a programatically php process, using productRepositoryInterface->save($_product), and $mediaGalleryManagement->create() memory on our system is not released and increases for every loop till get an out of memory. We think it is some kind of memory leak bug when releasing memory.

1.  Importing product programatically from an xml by using following method:

2.

### Step

[2019-04-23 16:05] Hailong opened #22468 "Error in pulling currency exchange rates from Currency Converter API"
### Preconditions (*)

Clean Magento 2.3.1 installation.

### Steps to reproduce (*)

1. Set store default currency to CAD, and add CAD and USD as allowed currencies.
2. Navigate to Stores -> Currency Rates
3. Select Currency Converter API as Import Service and click Import.

### Expected result (*)

Get the latest rates.

### Actual result (*)

Got following error:
`Notice: Undefined index: CAD_U

[2019-04-23 16:28] krishprakash commented on #22468
@magento-engcom-team give me 2.3-develop instance

[2019-04-23 16:28] magento-engcom-team commented on #22468
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-23 16:28] magento-engcom-team commented on #22468
Hi @krishprakash, here is your [Magento instance](https://i-22468-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22468-2-3-develop.instances.magento-community.engineering/admin](https://i-22468-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-23 16:46] krishprakash commented on #22468
@magento-engcom-team give me 2.2-develop instance

[2019-04-23 16:46] magento-engcom-team commented on #22468
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-23 16:47] magento-engcom-team commented on #22468
Hi @krishprakash, here is your [Magento instance](https://i-22468-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22468-2-2-develop.instances.magento-community.engineering/admin](https://i-22468-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-23 16:54] magento-engcom-team commented on #22468
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99363` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-23 17:01] magento-engcom-team commented on #22183
@Hailong Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is add

[2019-04-23 17:13] orlangur commented on #22467
@imaginae there is nothing to fix here in general, for your needs you can implement mechanism similar to https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Model/ProductRepository.php#L331.

[2019-04-23 17:13] #22467 closed, assigned to nobody

[2019-04-23 17:19] orlangur commented on #22468
@krishprakash so what about `2.2-develop`?

[2019-04-23 17:30] krishprakash commented on #22468
@orlangur
There is no currency convertor API import service option available in 2.2 develop.
So the issue only in 2.3.x
Thanks.

[2019-04-23 18:20] dbkab commented on #21218
hey @farrukhk, any update on the issue you described? I am experiencing the same problem and can't seem to find any solution.

[2019-04-23 18:27] luctuosa commented on #22243
@Julen10 @staywithabhi I can confirm the ability to enable/disable Paypal Credit is no longer an option in my 2.3.1 instance either. However, when I enable In-Context Checkout Experience, Paypal Credit no longer appears on my frontend. Maybe that will help you guys?

[2019-04-23 18:31] gwharton commented on #22103
Can you view source on the email you received. I see your email client is recognising the email as UTF-8, but in the emails I receive, I don't see any headers that describe the body of the email as being UTF-8 encoded. My email client is just treating it as raw text. Do you manually set your email client to UTF-8 or is it auto detecting UTF-8?

[code]
You can see the Subject and From fields are UT

[2019-04-23 18:49] Julen10 commented on #22243
@luctuosa Finally, I decided to hide it using css because it was a nonsense configuration...

[2019-04-23 19:16] bnymn commented on #14952
Hi @gwharton ,

How can I apply the patch #18472, if I installed magento via composer. Is there any easy way to do? or do I have to change everything manually?

[2019-04-23 19:25] gwharton commented on #14952
Hi @bnymn I'm sorry i can't help with applying patches via composer, as I run from git.

However, if you scroll up through previous comments there is a downloadable patch for 2.2.8 and also some instructions (somewhere) on how to apply these. Unfortunately I can't help with this further.

I look forward to the 2.2.9 release when this issue can finally be put behind us!!! :)

[2019-04-23 19:26] DanielRuf commented on #14952
@bnymn see https://github.com/magento/magento2/issues/14952#issuecomment-461411050

[2019-04-23 19:42] orlythatscool commented on #9214
Facing the same issue. Would love if this rule actually worked on the total contents of the cart instead of per line item.

[2019-04-23 19:44] orlythatscool commented on #19168
+1

[2019-04-23 19:48] magento-engcom-team commented on #6715
Hi @AppChecker. Thank you for your report.
The issue has been fixed in magento/magento2#22453 by @Nazar65 in 2.2-develop branch
Related commit(s):
 - [34b2dccf322c1af0d5c563063e439de1b4a9cbe9](https://github.com/magento/magento2/commit/34b2dccf322c1af0d5c563063e439de1b4a9cbe9)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-23 19:48] magento-engcom-team commented on #21960
Hi @trinitecDev. Thank you for your report.
The issue has been fixed in magento/magento2#22453 by @Nazar65 in 2.2-develop branch
Related commit(s):
 - [34b2dccf322c1af0d5c563063e439de1b4a9cbe9](https://github.com/magento/magento2/commit/34b2dccf322c1af0d5c563063e439de1b4a9cbe9)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-23 19:48] magento-engcom-team commented on #15828
Hi @Flowlance. Thank you for your report.
The issue has been fixed in magento/magento2#22439 by @Ctucker9233 in 2.2-develop branch
Related commit(s):
 - [4b60fad08f07d39e052ef69746b9233a3270f618](https://github.com/magento/magento2/commit/4b60fad08f07d39e052ef69746b9233a3270f618)
 - [9d26084636bdd7f0b1ca428300afcf614f94e123](https://github.com/magento/magento2/commit/9d26084636bdd7f0b1ca428300afcf

[2019-04-23 22:30] magento-engcom-team commented on #22223
Hi @seyuf. Thank you for your report.
The issue has been fixed in magento/magento2#22291 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [b881a5d98db719eae436d80965ea41365b53295e](https://github.com/magento/magento2/commit/b881a5d98db719eae436d80965ea41365b53295e)
 - [bf8e919b4bf203cc6caa59ceee668ff7eddc8a58](https://github.com/magento/magento2/commit/bf8e919b4bf203cc6caa59ceee668ff7ed

[2019-04-23 22:30] #22223 closed, assigned to shikhamis11

[2019-04-23 22:30] magento-engcom-team commented on #6272
Hi @bartoszkubicki. Thank you for your report.
The issue has been fixed in magento/magento2#19806 by @ravi-chandra3197 in 2.3-develop branch
Related commit(s):
 - [7cd48fc3b92c67d3d99257e3d302a931acd966a1](https://github.com/magento/magento2/commit/7cd48fc3b92c67d3d99257e3d302a931acd966a1)
 - [b39550ae4e947da335cea2e836005fc000b0082a](https://github.com/magento/magento2/commit/b39550ae4e947da335ce

[2019-04-23 22:30] #6272 closed, assigned to ravi-chandra3197

[2019-04-23 22:30] magento-engcom-team commented on #8035
Hi @Bbbrinks. Thank you for your report.
The issue has been fixed in magento/magento2#21797 by @swnsma in 2.3-develop branch
Related commit(s):
 - [961e05c23d074b00ebf7c411d6bb677d467244be](https://github.com/magento/magento2/commit/961e05c23d074b00ebf7c411d6bb677d467244be)
 - [4603abc5e36637758ffc48ec93c7a08cd51b45b7](https://github.com/magento/magento2/commit/4603abc5e36637758ffc48ec93c7a08cd51b

[2019-04-23 22:30] magento-engcom-team commented on #3283
Hi @dmitry-fedyuk. Thank you for your report.
The issue has been fixed in magento/magento2#21772 by @stkec in 2.3-develop branch
Related commit(s):
 - [dc3bdb8e2e3dc2b111c4174da2f523e3764f9b71](https://github.com/magento/magento2/commit/dc3bdb8e2e3dc2b111c4174da2f523e3764f9b71)
 - [b34eb7a41477af9223241d7bc24f609093e179fb](https://github.com/magento/magento2/commit/b34eb7a41477af9223241d7bc24f6090

[2019-04-23 22:30] #8035 closed, assigned to swnsma

[2019-04-23 22:30] magento-engcom-team commented on #21771
Hi @stkec. Thank you for your report.
The issue has been fixed in magento/magento2#21772 by @stkec in 2.3-develop branch
Related commit(s):
 - [dc3bdb8e2e3dc2b111c4174da2f523e3764f9b71](https://github.com/magento/magento2/commit/dc3bdb8e2e3dc2b111c4174da2f523e3764f9b71)
 - [b34eb7a41477af9223241d7bc24f609093e179fb](https://github.com/magento/magento2/commit/b34eb7a41477af9223241d7bc24f609093e179fb

[2019-04-23 22:30] #21771 closed, assigned to stkec

[2019-04-24 02:13] ghatamehta commented on #19565
Hi @magento-engcom-team ,

I'm having the same problem with Magento 2.2.3. I have set pub as a document root and my sitemap folder is in html/pub/.

When generated by cron, the sitemap.xml file contains url like this:
http://mysite.com/html/pub/sitemap/sitemap-1-1.xml
http://mysite.com/html/pub/sitemap/sitemap-1-2.xml

But when generated manually through Admin They are :

http://mysite.com/sitemap

[2019-04-24 02:36] diazwatson commented on #18823
@sivaschenko

Is this what you mean?
https://github.com/magento/magento2/blob/18dc53fa7366aa0890a497ec42c8cf872c79cdab/app/code/Magento/Customer/Model/Options.php#L107
[code]
Although and as shown in the code this option won't be added when the field not isOptional

[2019-04-24 03:43] lfluvisotto commented on #20689
@magento-engcom-team

It would be great if the instance comes with elasticseach setup by default

I'm unable to test this issue with vanilla instance

[2019-04-24 05:19] Hashamwebdev opened #22472 "Magento 2.2.5 Enterprise - Special Price issue occur when it set to 0"
### Preconditions (*)
Magento version 2.2.5

### Steps to reproduce (*)
1. Login to Admin panel
2. Catalog ->Product
3. Open any product detail page
4. Go for `Advanced Pricing` below price and set special price to zero because I have sorting based on price on category page it set the final price to zero but it show the actual price on listing not special price

![image](https://user-images.github

[2019-04-24 05:22] Hashamwebdev commented on #22472
@magento-engcom-team give me 2.3-develop instance

[2019-04-24 05:22] magento-engcom-team commented on #22472
Hi @Hashamwebdev. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-24 05:22] magento-engcom-team commented on #22472
Hi @Hashamwebdev, here is your [Magento instance](https://i-22472-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22472-2-3-develop.instances.magento-community.engineering/admin](https://i-22472-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-24 05:29] ajijshekh123 commented on #22472
Give me @magento-engcom-team give me 2.3-develop instance

[2019-04-24 05:29] magento-engcom-team commented on #22472
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-24 05:29] Hashamwebdev commented on #22472
@magento-engcom-team I reproduced the issue on 2.3-develop instance as well

[2019-04-24 05:30] magento-engcom-team commented on #22472
Hi @ajijshekh123, here is your [Magento instance](https://i-22472-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22472-2-3-develop.instances.magento-community.engineering/admin](https://i-22472-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-24 05:45] ajijshekh123 commented on #22472
Give me @magento-engcom-team give me 2.2-develop instance.

[2019-04-24 05:45] magento-engcom-team commented on #22472
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-24 05:46] magento-engcom-team commented on #22472
Hi @ajijshekh123, here is your [Magento instance](https://i-22472-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22472-2-2-develop.instances.magento-community.engineering/admin](https://i-22472-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-24 05:59] ajijshekh123 commented on #22472
@Hashamwebdev - I have set Special price to zero in Magento 2.2 and Magento 2.3 instance. Special price and Regular price both are displaying in Category page.

[2019-04-24 06:03] Nazar65 commented on #20689
@lfluvisotto https://github.com/magento/community-features/issues/145

[2019-04-24 06:15] magento-engcom-team commented on #22472
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99375` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-24 06:17] ajijshekh123 commented on #22472
FYI, Issue not reproduced Magento 2.2.

[2019-04-24 06:31] Hashamwebdev commented on #22472
It reproduced on Magento 2.2.5. Check the reference screenshots

Category page:

![image](https://user-images.githubusercontent.com/49894811/56637148-5c31e200-6684-11e9-8db3-f46171c1f7c9.png)

Admin Product detail page:

![image](https://user-images.githubusercontent.com/49894811/56637193-78358380-6684-11e9-80d2-ad01b7b65200.png)

[2019-04-24 06:31] farrukhk commented on #21218
Hi,
No fix for this. They say that this is supposed to be that way only. They do not plan to fix it. We have Commerce Edition and no support so far. Our customers are going crazy as they see out of stock products i.e. salable=0 on list pages.

[2019-04-24 06:38] hostep commented on #19565
@ghatamehta: as a test, can you try to follow [this advice](https://github.com/magento/magento2/issues/1146#issuecomment-482085895)?

And see if that solves your problem?

I haven't tested the above solution yet, but we used to solve this problem by setting the base media url's configuration as follows, which also fixes this problem:

Stores => Configuration => General => Web:
- Base Urls => Base

[2019-04-24 06:48] keyurk-emipro opened #22474 "Incomplete Dependency on Backup Settings Configuration"
### Preconditions (*)

1. Magento ver. 2.3.1
2.

### Steps to reproduce (*)

1. Go to Store > Configuration > System > Advanced > Backup Settings
2. Enable Backup => Yes
3. Enable Scheduled Backup => Yes
4. Enable Backup => No

### Expected result (*)

1. All fields Must be Hidden on Enable Backup => No
2.

### Actual result (*)

1. Only Enable Scheduled Backup are dependable on Enable Backup Fiel

[2019-04-24 07:07] magento-engcom-team commented on #22474
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99377` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-24 07:58] km9484 opened #22476 "Site going down again and again, multiple tables like 'search_tmp_54455' are created and removed in database"
Site going down again and again, because some tables like "search_tmp_" are creating automatically.
this cause cpu utilization 99% and showing maximum connections to database. as a result site goes down

### Preconditions (*)
1. Magento2.2.7
2. Php 7
3. Mysql 5.6
4. nginx server

### Steps to reproduce (*)
1. Open your site
2. go to any category page
3. print the query on category page

### Expect

[2019-04-24 08:04] km9484 commented on #22476
yes
site is wiorking fine but whenever any bot hit the url'e like www.example.cop/dress.html?color=42&size=10
then site goes down.

[2019-04-24 09:02] PedroFaria99 commented on #15427
Any update on the situation?

[2019-04-24 09:10] #19106 closed, assigned to nobody

[2019-04-24 09:35] agata-maksymiuk commented on #19479
For all coming here from google as me - this issue is caused by some custom modules.
Disabling (or even removing) module wouldn't work. It's issue with an existing table in database, not the code. You have to change column type in database.

[2019-04-24 09:51] nsiebler-dm commented on #22027
@engcom-backlog-nazar Any updates on this issue? Can we deliver any more information to accelerate a solution?

[2019-04-24 10:04] satyavir-singh opened #22477 "How to change the price format to Indian price format in Magento 2?"
How to change the price format to Indian price format in Magento 2
Example: Price display like 453,453, want to display in the Indian manner like 4,53,453

### Preconditions (*)

1.Magento2.2.5
2.Php 7
3.Mysql 5.6
4.nginx server

[2019-04-24 10:06] satyavir-singh commented on #22477
It can be resolved by the following steps but still want a proper solution from the Magento Community?

1. File path: vendor/magento/zendframework1/library/Zend/Locale/Data/en.xml

2. On line number 3353, under section currencyFormat and type = "standard", change the pattern from  `<pattern>¤#,##0.00</pattern>` to `<pattern>¤ #,##,##0.00</pattern>`

3. Still, on PDP page and cart page summary the

[2019-04-24 10:18] AlexWorking commented on #22103
@gwharton the mail client we used is Crome browser if You mean That and we hadn't set manually any encoding related things. Here are the headers we've got:
![Headers](https://user-images.githubusercontent.com/27814011/56652171-f7f12d00-6647-11e9-998c-8f4672e4792d.png)
(Magento version 2.3-develop)

[2019-04-24 10:47] AlexWorking commented on #22477
Hello @satyavir-singh. The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-04-24 10:47] #22477 closed, assigned to nobody

[2019-04-24 11:09] imaginae commented on #22467
Hi @orlangur issue here is for each loop in new product, after saving and unset product, somehow magento is not releasing memory, so it finishes with a > 100 products import in a Out Of Memory. Not sure why magento is not releasing memory and increasing it to much in between those calls:

2019-04-24 11:15:54 edit mode: before get repository,  memory used: 52414792 (got with mem_get_usage)
 $_produ

[2019-04-24 11:11] gwharton commented on #22103
Yes, thats what I see too.

The email is missing the following headers

[code]
These are present in versions prior to 2.2.8, but are not present in plain text emails sent by 2.2.8+ or 2.3.0+

In the video you posted, there is a little drop down box on your email which is set to "UTF-8". I believe this is forcing the email to be interpreted as UTF-8 encoded which forces it to be displayed correctly

[2019-04-24 11:29] orlangur commented on #22467
@imaginae try to figure out which object eats all of memory (how it was with product repository before the fix). Then you can force this object to be recreated from time to time.

I don't think such logic like I mentioned https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Model/ProductRepository.php#L331 should be added to any other places, like media management. Your sc

[2019-04-24 12:00] hiren0241 commented on #18088
@magento-engcom-team give me 2.3-develop instance

[2019-04-24 12:01] magento-engcom-team commented on #18088
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-24 12:01] magento-engcom-team commented on #18088
Hi @hiren0241, here is your [Magento instance](https://i-18088-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-18088-2-3-develop.instances.magento-community.engineering/admin](https://i-18088-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-24 12:15] AlexWorking commented on #22103
@gwharton The headers are missing but seems it does not effect in incorrect displaying results. Could't it be that there's a problem with Your mail client auto-detect capabilities?
![specharem](https://user-images.githubusercontent.com/27814011/56658602-47d7f000-6658-11e9-92a3-a0e46eaed73f.gif)

[2019-04-24 12:27] hiren0241 commented on #18088
Hi @engcom-backlog-nazar,

This issue has been already fixed in 2.3 version. But, when you pass store id = 0, you will get store id = 1 in json response. So, customer get access token.

We can close this issue as it is fixed already.

[2019-04-24 12:40] seyuf commented on #19479
The issue here is that magento2 is unable to handle certain types encountered in the database.
Like in my case, some external table to magento created by aws. This is still linked to magento2 as there should be a mechanism to simply discard the table/column in question or just throw a warning instead of a critical error like it is the case today.

[2019-04-24 12:58] dcwnaveen opened #22479 "Sort by price is not working with custom options as expected in magento 2.3.0 product listing page"
Sort by price is not working with custom options as expected in Magento 2.3.0 product listing page. Because results are showing based on the product price + lowest customizable option price like product B 130$, product C 140$, and product A 150$ and prices are showing like product B 110$, product C 120$, and product A 100$

**Preconditions**
Magento 2.3.0 & 2.3-develop
PHP 7.2

**Steps to reproduc

[2019-04-24 13:01] tnsezer opened #22480 "Discount keep exclude shipping tax even if shipping tax included"
### Preconditions (*)

Magento 2.3.1 community edition

Settings:
https://ibb.co/GsPrwt1
https://ibb.co/LzjN2RZ
https://ibb.co/yQ1CKVS

### Steps to reproduce (*)

1. Created a cart price rule which applies shipping amount and affects the whole cart
2.Added a product which 155 pounds and shipping is fixed price 5 pound
3. Applied discount code

### Expected result (*)

1. Needs to reduce whole pri

[2019-04-24 13:04] krishprakash commented on #22479
@magento-engcom-team give me 2.3-develop instance

[2019-04-24 13:04] magento-engcom-team commented on #22479
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-24 13:05] magento-engcom-team commented on #22479
Hi @krishprakash, here is your [Magento instance](https://i-22479-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22479-2-3-develop.instances.magento-community.engineering/admin](https://i-22479-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-24 13:11] sivaschenko commented on #22370
@engcom-backlog-nazar @bcerban this issue can be reproduced on 2.2.x only, is that correct?

[2019-04-24 13:18] ajijshekh123 commented on #22480
Give me @magento-engcom-team give me 2.3-develop instance

[2019-04-24 13:18] magento-engcom-team commented on #22480
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-24 13:19] magento-engcom-team commented on #22480
Hi @ajijshekh123, here is your [Magento instance](https://i-22480-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22480-2-3-develop.instances.magento-community.engineering/admin](https://i-22480-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-24 13:22] dcwnaveen commented on #22479
Hi @magento-engcom-team
Please check this category URL for the reference.
https://i-22479-2-3-develop.instances.magento-community.engineering/test.html?product_list_order=price

![Screenshot from 2019-04-24 18-50-35](https://user-images.githubusercontent.com/28339353/56662575-f49a8780-66c1-11e9-908e-db2ba10cf3a5.png)

[2019-04-24 13:25] domeglic commented on #22231
The problem seems to be a [new condition](https://github.com/magento/magento2/commit/28c86bed310311247604caa6c5c3b6c165fbd4f3#diff-8256f35d1118cefe17ef3731bbc346abR264) that checks for active payments, but somehow it returns wrong results because in my case the missing methods are active.

[2019-04-24 13:25] krishprakash commented on #22479
@magento-engcom-team give me 2.2-develop instance

[2019-04-24 13:25] magento-engcom-team commented on #22479
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-24 13:26] magento-engcom-team commented on #22479
Hi @krishprakash, here is your [Magento instance](https://i-22479-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22479-2-2-develop.instances.magento-community.engineering/admin](https://i-22479-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-24 13:29] bcerban commented on #22370
Yes @sivaschenko, only 2.2 (we detected this running our test suite on 2.2.8).

[2019-04-24 13:29] engcom-backlog-nazar commented on #22370
@sivaschenko yes labels reproduce on 2.3 added by mistake

[2019-04-24 13:37] dcwnaveen commented on #22479
same issue on 2.2 also

[2019-04-24 13:40] magento-engcom-team commented on #22479
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99380`, `MAGETWO-99381` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-24 13:53] gwharton commented on #22103
I think the fact that your email client is able to automatically detect the content of the email as UTF-8 encoded and display it correctly is a matter of luck, not because Magento is following the specification (which it isn't).

Currently Magento 2.2.8+ and 2.3.0+ is sending plain text emails out in RFC822 format (Non MIME) which supports ONLY the US-ASCII character set. Your email client see's t

[2019-04-24 14:22] toniodlab commented on #12844
@FrancYescO & @djixas , I just fixed it :

1/ Add the following line into /app/etc/di.xml file :
[code]

2/ Create a new module, with the following /etc/di.xml file :
[code]

3/ With command line : `php bin/magento setup:di:compile`, then `php bin/magento setup:upgrade`

4/ Remove the line added in 1/, in /app/etc/di.xml

5/ With command line : `php bin/magento setup:di:compile`, then `php bin/mag

[2019-04-24 14:46] krishprakash commented on #22480
Hi @tnsezer. Thank you for your report.
Issue is duplicate to #21456

[2019-04-24 14:46] #22480 closed, assigned to ajijshekh123

[2019-04-24 14:54] gcampedelli opened #22481 "Request rest API URL issue"
Preconditions (*)

1. Magento Version 2.2.6 Community Edition
2. Server Apache 2
3. Varnish
4. Redis

Steps to reproduce (*)

1. Make an API request to get product attributes and respective response using browser or Postman without Bearer Authorization.
2. First API request using encoded URL - https://mymagento2domain.com/rest/default/V1/products/attributes?searchCriteria[filterGroups][0][filters]

[2019-04-24 15:24] gwharton commented on #22398
Use the Google Tag assistant to diagnose what GA tags are present, where, and when they are being fired.

[2019-04-24 15:31] unreal4u commented on #22103
Today we had some issues as well with the Magento v2.2.8 upgrade.
The encoding doesn't seem to be happening so reaaaaally long lines of CSS gets included. For mail() this is fine, exim (and possibly other MTA's) do not like this, failing the mail (thus NOT delivering it!) with the message:

[code]

If I look at the differences between v2.2.7 and v2.2.8, it is indeed that the message isn't being en

[2019-04-24 15:40] gwharton commented on #22103
@unreal4u Yeah, 2.2.7 used zend framework version 1 and everything was fine. 2.2.8 has been rewritten to use zend framework 2 for mail so it matches 2.3.0+, and infact, some of the mail functions that were originally part of the zend framework, have now been brought into Magento/Framework and look as if they have been implemented incorrectly, especially for plain text. Also check out #22065 which

[2019-04-24 15:42] colettamatteo98 opened #22482 "Sales Email does not arrive"
### Preconditions (*)

 Magento ver. 2.3.1
### Steps to reproduce (*)

Checkout

### Expected result (*)

New Order email should arrive.

### Actual result (*)

New Order email does not arrive.

[2019-04-24 16:09] sam110386 commented on #12950
i m facing same issue after upgrade to 2.3.1, i checked "url_rewrite" DB table and there is no empty request_path record

[2019-04-24 16:23] shikhamis11 commented on #22472
@magento-engcom-team give me 2.2-develop instance

[2019-04-24 16:24] magento-engcom-team commented on #22472
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-24 16:24] magento-engcom-team commented on #22472
Hi @shikhamis11, here is your [Magento instance](https://i-22472-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22472-2-2-develop.instances.magento-community.engineering/admin](https://i-22472-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-24 16:29] shikhamis11 commented on #22472
@magento-engcom-team give me 2.3-develop instance

[2019-04-24 16:29] magento-engcom-team commented on #22472
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-24 16:30] magento-engcom-team commented on #22472
Hi @shikhamis11, here is your [Magento instance](https://i-22472-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22472-2-3-develop.instances.magento-community.engineering/admin](https://i-22472-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-24 16:44] shikhamis11 commented on #22472
@ajijshekh123 I have checked the issue .. at 2.3-develop and 2.2-develop I am able to see the both special price and normal price set at magento admin as you already said. In this case this is expected behaviour.

@Hashamwebdev thank you for report. It seems the your issue is already fixed .. message here if you are able to reproduce it on lastest magento versions

[2019-04-24 16:44] #22472 closed, assigned to shikhamis11

[2019-04-24 17:02] shikhamis11 commented on #22482
Hi @colettamatteo98 , Thank you for your report
I have checked the issue at magento 2.3.1 version also magento 2.3-develop version . I am not able to reproduce the issue. Please make sure you have setup mails on your server & also order emails are enabled from magento backend sales configuration

[2019-04-24 17:02] #22482 closed, assigned to shikhamis11

[2019-04-24 17:31] seansan opened #22483 "Each method must have a docblock"
### Preconditions (*)
M2.3.1 on php72

### Steps to reproduce (*)
1. Have an error somewhere in a docblock
2. run setup:upgrade

### Expected result (*)
1. docblock warning telling me WHERE in the code/function/file there is something wrong

### Actual result (*)
1. General warning like below, but not specific enough to act on it

### Possible improvement
Show calling method, class and filename fo

[2019-04-24 17:36] seansan commented on #22438
Please re=open this issue. the other issue may be about a deadlock but the case is completely different it is about INDEXER and only accurs occasionaly

This is about a very specific CRON schedule

And can influence ALL users that use cron

[2019-04-24 17:38] seansan commented on #22483
Yes done. BTW the buttons above in the autocomment are not "clickable"

[2019-04-24 17:39] cdiacon opened #22484 "Customer address States are duplicated in backend"
### Preconditions (*)
Magento 2.3.1

### Steps to reproduce (*)

1. Install fresh magento 2.3.1
2. create a customer
3. go to backend and click new address
4. select any country United States or Australia

### Expected result (*)

1. State province are not duplicated
### Actual result (*)

1. All the sates are duplicated with the same ID
![image](https://user-images.githubusercontent.com/728734/56

[2019-04-24 17:47] krishprakash commented on #22484
@magento-engcom-team give me 2.3-develop instance

[2019-04-24 17:47] magento-engcom-team commented on #22484
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-24 17:47] magento-engcom-team commented on #22484
Hi @krishprakash, here is your [Magento instance](https://i-22484-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22484-2-3-develop.instances.magento-community.engineering/admin](https://i-22484-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-24 18:01] magento-engcom-team commented on #22484
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99389` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-24 18:12] seansan opened #22486 "Will remaining todo's be solved/closed in 2.3.2?"
### Summary (*)
Coming from M1 where the code was quite full of TODO's: is there any planning to clean up all TODO annotations? Either do the code or remove the TODO?

### Examples (*)

![image](https://user-images.githubusercontent.com/652395/56683157-485e9e00-66cd-11e9-88a2-5ecad339a807.png)

### Proposed solution
Fix code or remove todo

[2019-04-24 20:15] orlangur commented on #22486
@seansan no. Feel free to refactor code related to any of them or remove outdated ones.

[2019-04-24 20:15] #22486 closed, assigned to AlexWorking

[2019-04-24 20:35] EmilyPepperman commented on #19795
I also have the same issue Magento 2.3.1 and php7.2

[2019-04-24 21:11] lfluvisotto commented on #19795
@styzzz, @EmilyPepperman

Make sure that PHP extension int (https://www.php.net/manual/en/book.intl.php) is installled and loaded.

You can check executing via command line in php -m

[2019-04-24 21:13] lfluvisotto commented on #20689
@Nazar65, nice! I was't knowing about that, thanks for the tip.

[2019-04-24 21:22] masuknj commented on #22391
while updating attribute:

_An attribute with the same code (product_type) already exists._

[2019-04-24 21:23] styzzz commented on #19795
Guys this is the solution. My server ran CentOS6....php7.2 and Magento 2.3.1 cannot work with CentOS6.....you need CentOS7...

Until your server gets CentOs7, you need to downgrade your php to 7.1

thats the solution. Happen to me, investigated for weeks. Fixed it. Waiting for my server to update their software to version 7 so I can use php7.2....it has to do with a messed up php intl 4.2 that exi

[2019-04-24 21:35] miketaylr commented on #22338
Hi all - Firefox engineer here. In 66 we added support for `window.event` and changed the value of `keyCode` inside a `keypress` event handler (to match what Chrome does). So rather than be 0, it will be set to the same value as charCode.

We also don't dispatch keypress for non-printable keys: https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent#Compatibility_notes

So if you had Firefo

[2019-04-24 21:49] orlangur commented on #22175
@wsajosh just noticed screenshots contain all the needed information. Observed system behavior is absolutely correct.

[2019-04-24 21:49] #22175 closed, assigned to nobody

[2019-04-24 22:04] RealsaAdministrador opened #22487 "No Design appearing"
### Summary (*)

The area in Stores >Configuration>General>Design is no more! Is it an actualization? Where's the Design Theme, HTML Head, etc. then? Sorry if this is already posted I can't find it anywhere and it's not appearing in the search box

### Examples (*)

It's just not there
![image](https://user-images.githubusercontent.com/49961249/56696930-ed1fb200-66b2-11e9-8984-a26642e3b218.png)

#

[2019-04-24 22:22] RealsaAdministrador commented on #22487
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-04-24 22:22] magento-engcom-team commented on #22487
Hi @RealsaAdministrador. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-24 22:23] magento-engcom-team commented on #22487
Hi @RealsaAdministrador, here is your [Magento instance](https://i-22487-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22487-2-3-develop.instances.magento-community.engineering/admin](https://i-22487-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-24 22:44] RealsaAdministrador commented on #22487
![image](https://user-images.githubusercontent.com/49961249/56698719-8c937380-66b8-11e9-95d1-b45426e0d6e0.png)

Hi, it's still not there

I don't think I'm understanding :(

[2019-04-24 23:34] orlangur commented on #22487
Hi @RealsaAdministrador, please try searching prior to issue creation 😉

Duplicate of https://github.com/magento/magento2/issues/5240

[2019-04-24 23:34] #22487 closed, assigned to nobody

[2019-04-25 01:40] mostafa-elkholy commented on #19491
I have magento 2.3.0 and when try to upgrade using the amdin gives me ( Welcome to Magento Admin, your online store headquarters.
To use the Magento setup wizard sign into your Admin account and navigate to System => Tools => Web Setup Wizard ) I have tried Kashiffrq solution but the same issue.

[2019-04-25 02:54] tschirmer opened #22488 "Bundled product pricing as configured doesn't show special price when available"
### Preconditions (*)

1. Magento 2.3.1
2. php 7.1.27

### Steps to reproduce (*)

1. Setup a bundled product with a radio select box option with definable qty by the end user
2. Add special price to the bundled product

### Expected result (*)

1. ![MagentoBug-expected](https://user-images.githubusercontent.com/3872130/56706620-07ac6680-6759-11e9-8cbd-1b1d3dc65d74.png) This has some var_dumps dur

[2019-04-25 02:56] tschirmer commented on #22488
@magento-engcom-team give me 2.3-develop instance

[2019-04-25 02:56] magento-engcom-team commented on #22488
Hi @tschirmer. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-25 02:57] magento-engcom-team commented on #22488
Hi @tschirmer, here is your [Magento instance](https://i-22488-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22488-2-3-develop.instances.magento-community.engineering/admin](https://i-22488-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-25 03:18] tschirmer commented on #22488
This is replicated on the test instance. Special price does not appear in customisation:
https://i-22488-2-3-develop.instances.magento-community.engineering/catalog/product/view/id/3/

[2019-04-25 03:30] tschirmer commented on #22488
Bundled Option Product setup in default Magento sandbox:
![MagentoBugBundleSetup](https://user-images.githubusercontent.com/3872130/56707856-f6198d80-675d-11e9-969b-fa544571e4de.png)

Product pricing discount setup in default Magento sandbox:
![MagentoBugBundleSetupDiscount](https://user-images.githubusercontent.com/3872130/56707944-4abd0880-675e-11e9-9078-5e3d73c34e30.png)

Discount not showing i

[2019-04-25 03:32] krishprakash commented on #22488
@magento-engcom-team give me 2.3-develop instance

[2019-04-25 03:32] magento-engcom-team commented on #22488
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-25 03:33] magento-engcom-team commented on #22488
Hi @krishprakash, here is your [Magento instance](https://i-22488-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22488-2-3-develop.instances.magento-community.engineering/admin](https://i-22488-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-25 03:45] tschirmer commented on #22488
As a temp workaround, we can load via the regular price, not the configured regular price:

vendor/magento/module-catalog/view/base/templates/product/price/configured_price.phtml
change:
[code]
to:
[code]

[2019-04-25 04:45] ghatamehta commented on #19565
Hi @hostep ,

Thank you for replying. I already have added these solutions but I have over 100000 pages. So my sitemaps are divided into parts. The sitemap index file contains URLs like

http://mysite.com/html/pub/sitemap/sitemap-1-1.xml
http://mysite.com/html/pub/sitemap/sitemap-1-2.xml

which are not correct.

[2019-04-25 04:54] krishprakash commented on #22488
Hi @tschirmer,
We set special price in % for bundle product which is directly calculated in bundle child products while we add Customize product.
So i think it is proper.
Please let me know your thoughts.
Thanks.

[2019-04-25 04:58] tschirmer commented on #22488
I don't think that's what's intended after reading the code here.

On the first page load, the html markup should give us the 2 prices when there's a discount on the bundled product, so that when the javascript updates it, it'll have the markup to inject the price into. At the moment that html markup is missing so if you add a combination of goods that result in a special price, it's not shown as

[2019-04-25 06:03] hiren0241 commented on #22484
@magento-engcom-team give me 2.3-develop instance

[2019-04-25 06:03] magento-engcom-team commented on #22484
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-25 06:04] magento-engcom-team commented on #22484
Hi @hiren0241, here is your [Magento instance](https://i-22484-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22484-2-3-develop.instances.magento-community.engineering/admin](https://i-22484-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-25 06:13] satyavir-singh commented on #22477
Hi @AlexWorking @m2-assistant ,

How to change the price format to Indian price format in Magento 2
Example: Price display like 453,453, want to display in the Indian manner like 4,53,453

### Preconditions (*)

1.Magento2.2.5
2.Php 7
3.Mysql 5.6
4.nginx server

### Steps to reproduce (*)

1. Magento does not provide en_IN language.
2. And even the price format is coming from js is also hard code

[2019-04-25 06:32] Hashamwebdev commented on #22472
@shikhamis11  have you set the special price to 0 ? if yes then you will see only actual price on category page (Frontend). Obviously It will price and special at admin that is not the issue. The issue if you set the special price to 0, that particular will show only actual price and not special on category page (Frontend). I checked in 2.2 and 2.3 in both version it will show the special price on

[2019-04-25 06:34] Hashamwebdev commented on #22472
I request @magento-engcom-team please open the issue

[2019-04-25 06:39] shikhamis11 commented on #22472
hello @Hashamwebdev
Let me share you screenshots

[2019-04-25 06:39] shikhamis11 commented on #22472
@magento-engcom-team give me 2.3-develop instance

[2019-04-25 06:39] magento-engcom-team commented on #22472
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-25 06:40] magento-engcom-team commented on #22472
Hi @shikhamis11, here is your [Magento instance](https://i-22472-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22472-2-3-develop.instances.magento-community.engineering/admin](https://i-22472-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-25 06:42] Hashamwebdev commented on #22472
hello @shikhamis11 please share the screenshot of version 2.2 instance as well

[2019-04-25 06:44] shikhamis11 commented on #22472
@magento-engcom-team give me 2.2-develop instance

[2019-04-25 06:44] magento-engcom-team commented on #22472
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-25 06:45] magento-engcom-team commented on #22472
Hi @shikhamis11, here is your [Magento instance](https://i-22472-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22472-2-2-develop.instances.magento-community.engineering/admin](https://i-22472-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-25 06:51] shikhamis11 commented on #22472
@Hashamwebdev can you please check pages
https://i-22472-2-2-develop.instances.magento-community.engineering/products.html
https://i-22472-2-3-develop.instances.magento-community.engineering/products.html

[2019-04-25 06:52] Kashiffrq commented on #19491
@mostafa-elkholy i had try on 2.2.6 it works for me

[2019-04-25 06:53] Eduardosys opened #22489 "error magento 2.3.1 in catalog (product list)"
A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later in Magento 2.3.1

The Product Catalog is displaying this error and does not open the product list. Magento 2.3.1.

[2019-04-25 06:54] Hashamwebdev commented on #22472
@shikhamis11 Thanks for working on the issue, may be issue occur due to my custom theme, As these are the screenshot of luma theme

[2019-04-25 06:59] shikhamis11 commented on #22472
@Hashamwebdev yes It is possible due to some custom extension installed on your site

[2019-04-25 07:14] p2media commented on #19173
Any Updates on this one?

[2019-04-25 07:17] MarcusWolschon commented on #20033
Any update on this?
It has been reproduced a week ago.

[2019-04-25 07:21] AlexWorking commented on #22489
Hello @Eduardosys. Thank You for reporting. Please provide more information on Your issue and put it out in the way described by the bot under Your post. Install a fresh magento2 instance and describe us every step You take in order to get that issue reproduced.

[2019-04-25 07:38] Eduardosys commented on #22489
There is not much to talk about. When I click on Catalog> Product it does not open the list of products and this error "A technical problem with the server created an error. On the screen the spinner is spinning and it does not go away.

[2019-04-25 07:42] Eduardosys commented on #22489
Already done for SSH
php -dmemory_limit = 5G bin / magento setup: upgrade
php -dmemory_limit = 5G bin / magento indexer: reindex
php -dmemory_limit = 5G bin / magento setup: di: compile
php -dmemory_limit = 5G bin / magento setup: static-content: deploy -f
php -dmemory_limit = 5G bin / magento cache: clean
php -dmemory_limit = 5G bin / magento cache: flush
Everything was 100% correct.

[2019-04-25 07:51] AlexWorking commented on #22489
@Eduardosys But would You please confirm that the same error happens to You with the newly installed instance of magento2 , empty of products, customers and other acquired objects , having no third party extensions etc., just re-indexed and cache-flushed after having been installed?

[2019-04-25 08:03] Eduardosys commented on #22489
do upgrade from magento 2.3 to magento 2.3.1

[2019-04-25 08:09] latenights opened #22490 "Wrong currency sign on creditmemo_grid & sales_order_view > invoice grid"
### Preconditions (*)

1. Magento 2.3
2. Magento 2.2

### Steps to reproduce (*)

1. Create order in different currency as configured on default store view
2. Go to Backend > SALES > Credit Memos, create Credit Memo
3. Check Refunded & Subtotal column on Credit Memo grid (sales_creditmemo_index). You should see price in currency configured on default store view (base_currency_code).
4. Go to Backe

[2019-04-25 08:18] Eduardosys commented on #22489
I deleted the registered products and the problem continues.

[2019-04-25 08:18] Eduardosys commented on #22489
I deleted from MySQL

[2019-04-25 08:19] sigismund opened #22491 "Elasticsearch parsing exception"
### Preconditions (*)
1. Magento 2.3.1 or current `2.3-develop` branch
2. Elasticserach 6.7.1

### Steps to reproduce (*)
1. Add dropdown product attribute with:
   * Scope: global scope
   * Unique value: no
   * Add to Column options: yes
   * Use inf Filter options: yes
   * Use in search: yes
2. Search for a term used in one of the dropdown's options.

### Expected result (*)
1. Search results

[2019-04-25 08:31] AlexWorking commented on #22489
@Eduardosys It's not exactly what we meant.  Please try to deploy on Your server another instance taking code from official magento sources like github or magento.com, so that code does not contain any third party extensions. And use a newly created database for that instance. With that we've been trying now to reproduce your issue updating 2.3 version to 2.3.1.

[2019-04-25 08:48] Eduardosys commented on #22489
When I click on Catalog> Product in keywords appears several commas and in pages appears 20,20,20,20 and gives the error

[2019-04-25 08:49] Nazar65 commented on #22489
Hi @Eduardosys
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site

[2019-04-25 08:49] #22489 closed, assigned to AlexWorking

[2019-04-25 08:55] Eduardosys commented on #22489
I understand that the problem is in the new magento 2.3.1. It is difficult to perform such a procedure by installing from scratch. I do not know if it can be the prefix used in the mysql tables.

[2019-04-25 08:57] kewne2003 commented on #19795
Can I downgrade to 7.1 if I'm running magento 2.3.1????

Will it work?

[2019-04-25 09:06] Eduardosys commented on #22489
I already figured out where the error is. You are in the search for products.

[2019-04-25 09:12] AlexWorking commented on #22489
@Eduardosys We've just obtained a successful upgrade from 2.3 to 2.3.1. It's most likely that the issue You are facing is caused by some custom changes or adds to the code of Your magento2 instance. For such we can not take a responsibility. Please  try to refer to the forums as it was aforementioned.

[2019-04-25 09:13] AlexWorking commented on #22486
Hi @seansan
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the Community Forums or the Magento Stack Exchange site

[2019-04-25 09:37] krishprakash commented on #22488
Hi @tschirmer,
This is not an issue because price calculation is working properly on front end.
This should be consider as feature request.

[2019-04-25 10:18] ndianabasi commented on #21957
This should be part of the steps outlined in the upgrade document (https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html). The command should be run after `composer update `and before `bin/magento cache:clean`.

The Magento team should take note of this.

[2019-04-25 10:20] vjcspy opened #22492 "Wrong sequence plugin call"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Follow devdoc [guide](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/plugins.html) to create 3 plugins A,B,C.
2. Check the sequence call of 3 plugins. I found it doesn't run as expected. It affect to my custom module. Please check and fix it.

### Expected result (*)

PluginA::beforeDispatch()
PluginB::beforeDispa

[2019-04-25 10:22] magento-engcom-team commented on #22490
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99399`, `MAGETWO-99400` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-25 10:22] vjcspy commented on #22492
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-04-25 10:22] magento-engcom-team commented on #22492
Hi @vjcspy. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-25 10:23] magento-engcom-team commented on #22492
Hi @vjcspy, here is your [Magento instance](https://i-22492-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22492-2-3-develop.instances.magento-community.engineering/admin](https://i-22492-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-25 10:32] #22492 closed, assigned to nobody

[2019-04-25 10:39] ndianabasi commented on #21185
I'm having this issues on Magento 2.3.1. If I reset the bookmarks in the ui_bookmark table, the product list will appear but any filter query will return the problem.

[2019-04-25 11:11] sivaschenko commented on #18823
@diazwatson yes, that's what I meant. However, the code you are referencing is not based on options specified in the configuration, it is adding an additional option for an optional field to enable user not to select any options.

To fix this issue we probably will need to change the filtering of the provided option values.

[2019-04-25 11:46] gekamikh commented on #11374
Any solutions? Same bug at 2.3.0

[2019-04-25 12:28] alexey-p-whidegroup commented on #19710
In my case, there was a problem - there were no photos of goods that were not formed earlier, before switching from **2.2.6** to **2.3.1**, and were not in the directory.
The problem was on the server side, namely, in the rule that redirects requests for the file /pub/get.php :

location /media/ {
    try_files $uri $uri/ /get.php$is_args$args;

    location ~ ^/media/theme_customization/.*\.xml {

[2019-04-25 12:42] orlangur commented on #20033
@engcom-backlog-nazar could you please mark it as ready for work or something.

[2019-04-25 13:06] JayashreeDCKAP commented on #10313
@magento-engcom-team ,I am using 2.2.4, But now I am facing the same issue, it is not fixed

[2019-04-25 14:01] AlexWorking commented on #20033
@pixmin, the issue has been revised and retested. We confirm it is already fixed in 2.3-develop branch and will be available in 2.3.2 release. Thank You.

[2019-04-25 14:02] #20033 closed, assigned to nobody

[2019-04-25 14:05] styzzz commented on #19795
Yes. I did it and it worked perfectly fine with Magento 2.3.1

[2019-04-25 14:08] pixmin commented on #20033
OK, thanks @AlexWorking

[2019-04-25 15:24] The-Krang commented on #11529
@kanhaiya5590 Thank you for replying.  I "solved" this issue quite a while back, by updating to a newer version of Magento 2.  Now, it looks like this issue has surfaced again in version 2.3.1, but your response to my post (https://magento.stackexchange.com/questions/198687/customer-sign-in-button-not-working-anymore) may help me resolve it too.  Thank you very much.

[2019-04-25 15:26] The-Krang commented on #22354
To all who may also have this problem, I will post the fix I found, as soon as possible.

[2019-04-25 15:27] The-Krang commented on #22390
To all who may also have this problem, I will post the fix I found, as soon as possible.

[2019-04-25 15:47] JayashreeDCKAP commented on #8624
Hi @magento-team,

I am using Magento 2.2.4, but still, the issue is no fixed

[2019-04-25 15:50] magento-engcom-team commented on #21786
Hi @serhiyzhovnir. Thank you for your report.
The issue has been fixed in magento/magento2#22108 by @serhiyzhovnir in 2.2-develop branch
Related commit(s):
 - [3751e4b1d86aa0f462e1c84e73cfde5c6d8b6e99](https://github.com/magento/magento2/commit/3751e4b1d86aa0f462e1c84e73cfde5c6d8b6e99)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-25 15:50] magento-engcom-team commented on #6272
Hi @bartoszkubicki. Thank you for your report.
The issue has been fixed in magento/magento2#22471 by @ravi-chandra3197 in 2.2-develop branch
Related commit(s):
 - [9aff2a9aafea39288564699e38e1715029342f28](https://github.com/magento/magento2/commit/9aff2a9aafea39288564699e38e1715029342f28)
 - [03db5583c67ea4f7fc685dd4dd48672fb326c65c](https://github.com/magento/magento2/commit/03db5583c67ea4f7fc68

[2019-04-25 15:51] pixiemediaweb commented on #22483
we're getting variations of this 'doc block is required' error with 2.3.1 as well - narrowed it down php opcache.  If you disable it in /etc/php.d/opcache.ini restart php then the issue goes away, but obviously this isnt the way to go production

[2019-04-25 16:11] seansan commented on #22483
Amazing!

We came to the exact same conclusion today. Cost us 2 days.

I do think this issue should stay open because I think it is wise to add a
INI settings check for this value I have heard several developers now who
ran into it

So if opcache skip comments ini setting is enabled

then raise warning

On Thu, Apr 25, 2019 at 5:52 PM Tom Dollar <notifications@github.com> wrote:

[2019-04-25 16:33] bcerban opened #22494 "Magento\Email\Model\Transport only accepts Message implementation instead of interface"
### Summary (*)

Class `Magento\Email\Model\Transport` requires a `Magento\Framework\Mail\Message` in the constructor ([see here](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Email/Model/Transport.php#L73)), but the `Magento\Framework\Mail\MessageInterface` should be used instead. The `TransportBuilder` object responsible for instantiating the transport requires and passes

[2019-04-25 17:46] nathanjosiah commented on #22373
Fix was just delivered to 2.3-develop and will be included in 2.3.2

[2019-04-25 17:46] #22373 closed, assigned to nobody

[2019-04-25 18:23] jakwinkler opened #22496 "Customer not logged to other stores in multistore setup, session ID params passed in URL"
### Preconditions (*)

1. Magento Commerce 2.2.x
2. Multistore Setup, (4 stores, 4 different websites - 4 URLs)
3. Set Customer Account Sharing Options to "global"

### Steps to reproduce (*)

1. Create multistore setup and create customer account
2. Login
3. Store customer session id somewhere (copy to clipboard)
4. Visit 2nd (3rd / 4th) website and add "?SID=jtgm4ejhbkr5t22e25197mj3g3" in the UR

[2019-04-25 18:40] johncarlson21 opened #22497 "Category Design Layout Update XML ignored"
### Preconditions (*)

1. Magento 2.3.1
2. cPanel server
3. custom child theme
4. used to work with version 2.2.x just notice that it no longer works.

### Steps to reproduce (*)

1. Create template file: app/design/frontent/My/Theme/Magento_Catalog/templates/category/cat_collection.phtml
2. Add just some code to the file: <?php echo "<p>we are here</p>" ?>
3. Create a category
4. use xml to updat

[2019-04-25 18:41] johncarlson21 commented on #22497
@magento-engcom-team give me 2.3-develop instance

[2019-04-25 18:41] magento-engcom-team commented on #22497
Hi @johncarlson21. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-25 18:41] magento-engcom-team commented on #22497
Hi @johncarlson21, here is your [Magento instance](https://i-22497-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22497-2-3-develop.instances.magento-community.engineering/admin](https://i-22497-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-25 19:01] johncarlson21 commented on #22497
Cannot fully test this as I have no access to a new template file, and I cannot run the re-index of the site to show new products/categories etc..
I do however have it setup in the instance so it should load but I cannot test.

[2019-04-25 19:13] magento-engcom-team commented on #21375
Hi @krishprakash. Thank you for your report.
The issue has been fixed in magento/magento2#22378 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [57af527696d73c9488afbb15f9642785ef110819](https://github.com/magento/magento2/commit/57af527696d73c9488afbb15f9642785ef110819)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-25 19:13] magento-engcom-team commented on #22370
Hi @bcerban. Thank you for your report.
The issue has been fixed in magento/magento2#22415 by @bcerban in 2.2-develop branch
Related commit(s):
 - [79e90baca6442c0fb3627dd1fa1b083c8df4fa01](https://github.com/magento/magento2/commit/79e90baca6442c0fb3627dd1fa1b083c8df4fa01)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-25 19:13] #22370 closed, assigned to bcerban

[2019-04-25 20:01] johncarlson21 commented on #22497
Seems that my issue isn't happening on the development branch. It might be a problem with my theme, I will try to back track this, but what is the order of these layout updates?
code -> extentions/modules -> theme -> category
is this the order? because what I am overriding should go in this order but seems that my order is going:
code -> extensions/module -> category -> theme

[2019-04-25 20:08] johncarlson21 commented on #22497
So looking further I've disabled my theme override in the layout file and the override in the extension/module layout file and then my category design layout update xml worked.

so it seems that the order goes: framework code -> category -> extension/module -> theme

[2019-04-25 20:11] Eduardosys commented on #22489
ok Alex however I insist that I did not make any customization in magento 2.3.1. I just got the copy and it was installed on the server and gave this error.

[2019-04-25 20:44] Eduardosys commented on #22489
Alex just to inform you that the error is happening only in Chrome Browser. I opened by firefox and ran normal.

[2019-04-25 21:07] rafaelespinoza opened #22498 "Need full version via HTTP request"
This check version guide mentions you can send GET to /magento_version. However, the response is limited to only the major and minor versions of Magento. We're in need of the patch version as well.

In other words, we need 1.2.3, not just 1.2.

This is especially important in light of [PRODSECBUG-2198](https://magento.com/security/patches/magento-2.3.1-2.2.8-and-2.1.17-security-update), which spec

[2019-04-25 22:39] orlangur commented on #22498
@rafaelespinoza,

What do you mean? You don't know which Magento version is installed for each vendor?

Patch version is not exposed intentionally exactly for described reason: to not allow determine outdated stores quickly.

[2019-04-25 22:39] #22498 closed, assigned to nobody

[2019-04-25 23:44] rafaelespinoza commented on #22498
We don't know which version of Magento is installed because we do not maintain the store, the vendor does. We just provide an API service for the store to connect to.

[2019-04-26 00:55] tschirmer commented on #22488
I wouldn't say the price calculation is working correctly, even though the price is correct on the frontend.

The code is expecting to show a discount and the processing of the configuredRegularPrice is showing an incorrect price (it's calculating it with the discount, which means it's always matching the first price).

[2019-04-26 01:57] davidduong90 commented on #22094
I get same issue. Anybody have solve?

[2019-04-26 02:31] rodrigowebjump commented on #13738
Hi @drake1701 This was fixed in Magento 2.3.1 including the key/values in extension attributes

https://github.com/magento/magento2/commit/c0b52afb5f365e0f1239e0fff5a9b964b01953da

[2019-04-26 03:38] magento-engcom-team commented on #22474
Hi @keyuremipro. Thank you for your report.
The issue has been fixed in magento/magento2#22475 by @keyuremipro in 2.3-develop branch
Related commit(s):
 - [60e862f64975378c8c2d269fdde1d97d6621275c](https://github.com/magento/magento2/commit/60e862f64975378c8c2d269fdde1d97d6621275c)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-26 03:38] #22474 closed, assigned to keyurk-emipro

[2019-04-26 03:38] magento-engcom-team commented on #21737
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#22178 by @yvechirko in 2.3-develop branch
Related commit(s):
 - [48b0ab873183966d3f797df97d64cf7fccc1bd5d](https://github.com/magento/magento2/commit/48b0ab873183966d3f797df97d64cf7fccc1bd5d)
 - [30b0f9173a58cba4f9d70c4dc362219375383c6d](https://github.com/magento/magento2/commit/30b0f9173a58cba4f9d70c4dc3622193753

[2019-04-26 03:38] #21737 closed, assigned to yvechirko

[2019-04-26 03:38] magento-engcom-team commented on #7227
Hi @ytorbyk. Thank you for your report.
The issue has been fixed in magento/magento2#21787 by @cmuench in 2.3-develop branch
Related commit(s):
 - [6ce9ee7dbd13bbce08372482c3a4fcd7dcd08499](https://github.com/magento/magento2/commit/6ce9ee7dbd13bbce08372482c3a4fcd7dcd08499)
 - [056b526c9d2f2af1392397d43e58b2a6191067f3](https://github.com/magento/magento2/commit/056b526c9d2f2af1392397d43e58b2a61910

[2019-04-26 03:38] #7227 closed, assigned to cmuench

[2019-04-26 03:38] magento-engcom-team commented on #22047
Hi @PiotrSiejczuk. Thank you for your report.
The issue has been fixed in magento/magento2#22059 by @lbajsarowicz in 2.3-develop branch
Related commit(s):
 - [a1661a5effb01e5fcd3cdf846d3052d8ec8e642f](https://github.com/magento/magento2/commit/a1661a5effb01e5fcd3cdf846d3052d8ec8e642f)
 - [07f8a65073331732f511c61fb66954365e2ada11](https://github.com/magento/magento2/commit/07f8a65073331732f511c61fb

[2019-04-26 03:38] #22047 closed, assigned to lbajsarowicz, PiotrSiejczuk

[2019-04-26 05:20] IainCoSource commented on #15609
@engcom-backlog-nickolas any updates

[2019-04-26 06:10] MarcusWolschon commented on #20033
It's not tagged for "2.3.2" or something in Github.
Is there a planned release date that can be communicated to complaining users?

[2019-04-26 06:31] magento-engcom-team commented on #22103
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99426` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-26 07:16] gody01 opened #22500 "Cron Observer currentTime calculation change to make it cleanly extendable"
### Summary (*)
We have user story requirement to run Cron jobs in local time instead 'UTC' for synchronization issues with external processes.

As we tried to extend Observer we found that it is cumbersome, as private and protected functions are used. Function execute and saveSchedule has to be changed for customization which can brake functionalitiy changes in the future.

However, we found simp

[2019-04-26 08:19] stoutik opened #22502 "Insert variable in existing Email Template"
### Preconditions (*)

1. Magento CE 2.3.1

### Steps to reproduce (*)

1. Navigate to Admin
2. Go to : Marketing > Communication > Email Templates >
3. Click to edit an existing template
4. Click button "Insert Variable..."
5. Show browser console

### Expected result (*)

1. Modal with listing variables

### Actual result (*)

1. Nothing
![image](https://user-images.githubusercontent.com/1099992

[2019-04-26 08:33] krishprakash commented on #22502
Hi @stoutik. Thank you for your report.
Issue is duplicate to #20111

[2019-04-26 08:33] #22502 closed, assigned to krishprakash

[2019-04-26 09:16] orlangur commented on #20033
@MarcusWolschon Google thinks he knows the answer :) https://www.google.com/search?q=when+magento+2.3.2+release

I doubt there is an exact date, probably there will be some announcement on Imagine May 13-15. Previous year it was announced that general approach is having a release each quarter which is more or less true for 2.3.0 and 2.3.1 so far. Then, according to my understanding, end of Q2 2019

[2019-04-26 09:28] AnshuMishra17 commented on #21770
What is the status on this issue?

[2019-04-26 09:40] dipti2jcommerce commented on #22497
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-04-26 09:40] magento-engcom-team commented on #22497
Hi @dipti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-26 09:40] magento-engcom-team commented on #22497
Hi @dipti2jcommerce, here is your [Magento instance](https://i-22497-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22497-2-3-develop.instances.magento-community.engineering/admin](https://i-22497-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-26 09:42] orlangur commented on #22498
@rafaelespinoza why vendor cannot communicate exact version to you then? For what kind of scenario you need a patch-version-dependent behavior of your system?

[2019-04-26 09:46] vincentwinkel commented on #4528
After few investigations, I found a workaround, creating a custom module.
**etc/di.xml**:
[code]

**Model/AttributeManagement.php**
[code]

[2019-04-26 09:48] vincentwinkel commented on #4528
In case the Magento team wants to fix that (let's dream), here is the content of the collection's `_items` property generated after the `load()`:

[code]

[2019-04-26 10:17] GrishmaNayee opened #22503 "Added Wish-list product displaying with wrong configurations"
### Preconditions (*)

1.Magento2.3 with sample data

### Steps to reproduce (*)

1.Log into the customer account.
2. Navigate to product listing page.
3.choose the configurable product and select preferred color and size options.
4.click on the wishlist icon of another configurable product on the same page without selecting any color/size options.

### Expected result (*)

1. On the Wishlist page

[2019-04-26 10:19] QuentinFarizon opened #22504 "Config loading locked for a long time"
### Preconditions (*)
Magento : 2.2.8 EE
PHP: 7.1
Redis: 3.2.11

I have an issue with config loading being stalled by the new locking mechanism introduced in 2.2.8 by https://github.com/magento/magento2/commit/8136dd003b0e4052bd5bea2cad48bb03cc930dff
I understand the need for such a locking mechanism, and it would be normal that at some times it locks for a few milliseconds waiting for the new con

[2019-04-26 10:22] rammohan-krish commented on #22503
@magento-engcom-team give me 2.3-develop instance

[2019-04-26 10:22] magento-engcom-team commented on #22503
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-26 10:22] magento-engcom-team commented on #22503
Hi @rammohan-krish, here is your [Magento instance](https://i-22503-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22503-2-3-develop.instances.magento-community.engineering/admin](https://i-22503-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-26 10:47] magento-engcom-team commented on #22491
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99427` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-26 10:59] GrishmaNayee opened #22506 "Search suggestion panel overlapping on advance reporting button"
### Preconditions (*)
1. Admin panel magento 2.3

### Steps to reproduce (*)
1. Log into the admin panel
2. Click on search icon form the dashboard
3. Enter any Search keyword (Email Id)
4. Search result pop-up overlapping on advanced reporting button

### Expected result (*)
1. After entering sample data in the search box then the system should not be overlapped pop-up on advanced reporting butto

[2019-04-26 11:01] ajijshekh123 commented on #22506
Give me @magento-engcom-team give me 2.3-develop instance.

[2019-04-26 11:01] magento-engcom-team commented on #22506
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-26 11:01] magento-engcom-team commented on #22506
Hi @ajijshekh123, here is your [Magento instance](https://i-22506-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22506-2-3-develop.instances.magento-community.engineering/admin](https://i-22506-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-26 11:02] shikhamis11 commented on #22497
@johncarlson21 It seems the issue you reported is due to your custom theme so closing this issue.

[2019-04-26 11:02] engcom-backlog-nazar commented on #22483
Hi @seansan thank you for you report i'm closing this one as i'm not able to reproduce on clean install and, this settings set to 1 with default configuration.
![DeepinScreenshot_select-area_20190426135818](https://user-images.githubusercontent.com/40756439/56803647-dfda0300-682b-11e9-8550-2aae3ade2468.png)

[2019-04-26 11:02] #22483 closed, assigned to nobody

[2019-04-26 11:05] ajijshekh123 commented on #22506
Give me @magento-engcom-team give me 2.2-develop instance.

[2019-04-26 11:05] magento-engcom-team commented on #22506
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-26 11:05] seansan commented on #22483
The answer is given here:
https://magento.stackexchange.com/questions/271048/magento-2-2-3-1-each-method-must-have-a-doc-block-see-magento-eav-api-attri

We advise Magento2 adds a check for the existance of this INI setting

(it has caused developers a LOT of time to discover this - which feels
logical afterwards - but M2 telling the developer this really solves a lot)

Quick win

On Fri, Apr 26,

[2019-04-26 11:06] magento-engcom-team commented on #22506
Hi @ajijshekh123, here is your [Magento instance](https://i-22506-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22506-2-2-develop.instances.magento-community.engineering/admin](https://i-22506-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-26 11:06] seansan commented on #22483
see my comment

is is not about the quick INI fix: it is about check for the setting

On Fri, Apr 26, 2019 at 1:03 PM engcom-backlog-nazar <
notifications@github.com> wrote:

[2019-04-26 11:10] ajijshekh123 commented on #22506
Issue reproduce in Magento 2.2 and Magento 2.3 Instance:

Magento 2.2
![2 2](https://user-images.githubusercontent.com/24711761/56803978-db204980-6841-11e9-9ac5-1c6b138cc254.png)

Magento 2.3
![2 3 Magento](https://user-images.githubusercontent.com/24711761/56803989-e3788480-6841-11e9-9287-56962cdaec6d.png)

[2019-04-26 11:10] engcom-backlog-nazar commented on #22483
@seansan ok, but as i know from all default installs on unix systems this options always sets to default, i think its better to create issue or PR on devdocs to explain that this option should be set to 1

[2019-04-26 11:10] magento-engcom-team commented on #22506
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99428`, `MAGETWO-99429` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-26 11:13] seansan commented on #22483
Some M1 optimizations would advice to skip the comments
I think these admin/developers/users are the  ones commonly affected

On Fri, Apr 26, 2019 at 1:11 PM engcom-backlog-nazar <
notifications@github.com> wrote:

[2019-04-26 11:19] bart42functions commented on #12970
Hi,

It is still not working in version 2.3.1.
Line 347 of app/code/Magento/GroupedProduct/Model/Product/Type/Grouped.php
`if ($isStrictProcessMode && !$subProduct->getQty()) {
                    return __('Please specify the quantity of product(s).')->render();
                }`
will still throw an error. Removing it seems to work tho

[2019-04-26 11:37] rammohan-krish commented on #22503
@magento-engcom-team give me 2.2-develop instance

[2019-04-26 11:37] magento-engcom-team commented on #22503
Hi @rammohan-krish. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-26 11:38] magento-engcom-team commented on #22503
Hi @rammohan-krish, here is your [Magento instance](https://i-22503-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22503-2-2-develop.instances.magento-community.engineering/admin](https://i-22503-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-26 11:43] engcom-backlog-nazar commented on #22476
HI @km9484 thank you for you report, i'm not able to reproduce following steps you described on clean magento 2 install, in my case all temp_ table are cleared and removed, please verify is you  user have acces to drop table? and this may be related to your custom modules.

[2019-04-26 11:43] #22476 closed, assigned to Nazar65

[2019-04-26 11:49] engcom-backlog-nazar commented on #21635
Hi @bartoszkubicki  It will be processed faster if you move this to https://github.com/magento/community-features becouse it need to introduce a big  code changes. Thanks for collaboration.

[2019-04-26 11:49] #21635 closed, assigned to nobody

[2019-04-26 11:53] lyusya-nnn opened #22507 "Simple products are removed from configurable on product import"
### Preconditions (*)

Magento 2.3.1

### Steps to reproduce (*)

1. Add options to product attribute color - red, black, green
![color   Product Attributes   Attributes   Stores   Magento Admin](https://user-images.githubusercontent.com/8502721/56805368-81178800-6831-11e9-8a1e-dc6803234aa9.png)

2. Create a configurable product with 2 products attached:
sku = test_csv_color-red, color = red;
sku

[2019-04-26 12:21] engcom-backlog-nazar commented on #22040
Hi @PhilipRowe thank you for you report, this is expected behavior, please set .containers
`<a href="#" id="sampleid"  data-mage-init='{"toggleAdvanced": {  "baseToggleClass": "active", "toggleContainers": ".some-container-class" }}'>Click Me</a>`

[2019-04-26 12:21] #22040 closed, assigned to nobody

[2019-04-26 12:30] rammohan-krish commented on #22503
Issue Reproduced on Magento 2.3 and 2.2 as well.
Steps to Reproduce:
**Step1:** In Admin panel, Add two configurable products, for example: **test1** and **test2** with same configurations colors/size and assign to the same category.
**Step2:** on Front end store login as a customer and navigate to product listing page.
**Step3:** select test1 product configurations and click on test2 product wish

[2019-04-26 12:30] magento-engcom-team commented on #22503
:white_check_mark: Confirmed by @rammohan-krish
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99431`, `MAGETWO-99432` were created

**Issue Available**: @rammohan-krish, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-26 12:30] engcom-backlog-nazar commented on #13477
Hi @michaelwylde this issue has already fixed in 2.3-develop branch by this commithttps://github.com/magento/magento2/commit/ae7179f7bee1b99597aee46da79f581a8a45a018 and will be available on 2.3.1 release.

[2019-04-26 12:51] GrishmaNayee opened #22508 "Checkout page_Cancel link is not working in the payment section"
### Preconditions (*)
1. Admin panel Magento 2.3

### Steps to reproduce (*)
1. Log in Or Create an Account.
2. Add the Downloadable Product in the Mini cart
3. Go to the Checkout page.
4. Select any the Payment method
5. The system will open the address fields
4. Click on Cancel link.

### Expected result (*)
1. When user link on the cancel link system should redirect to the previous page. Open A

[2019-04-26 12:53] ajijshekh123 commented on #22508
Give me @magento-engcom-team give me 2.3-develop instance.

[2019-04-26 12:53] magento-engcom-team commented on #22508
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-26 12:54] magento-engcom-team commented on #22508
Hi @ajijshekh123, here is your [Magento instance](https://i-22508-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22508-2-3-develop.instances.magento-community.engineering/admin](https://i-22508-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-26 13:08] johncarlson21 commented on #22497
I think this needs to be re-opened as it seems like the order of the merge of the elements is in the wrong order. even if I install a third party module it doesn't let the xml update from the category.
please have a look at this with another theme of your choice.

[2019-04-26 13:29] ajijshekh123 commented on #22508
Give me @magento-engcom-team give me 2.2-develop instance.

[2019-04-26 13:29] magento-engcom-team commented on #22508
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-26 13:30] magento-engcom-team commented on #22508
Hi @ajijshekh123, here is your [Magento instance](https://i-22508-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22508-2-2-develop.instances.magento-community.engineering/admin](https://i-22508-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-26 13:38] magento-engcom-team commented on #22496
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99433` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-26 13:38] ajijshekh123 commented on #22508
Cancel button is not available in Magento 2.2 and Magento 2.3 Instance.

Issue not reproduced in Magento 2.2 and Magento 2.3 Instance.

Magento 2.2
![2 2 Cancel button issue](https://user-images.githubusercontent.com/24711761/56811517-83400d80-6856-11e9-99cb-b58ea47c3f77.png)

Magento 2.3
![2 3 Cancel button](https://user-images.githubusercontent.com/24711761/56811534-8affb200-6856-11e9-8fac-8eb60

[2019-04-26 13:40] #22508 closed, assigned to ajijshekh123

[2019-04-26 13:41] johncarlson21 commented on #22497
I will try to override the blank theme with a child theme, with just some simple layout updates to the category view page. and see if it does the same thing.

[2019-04-26 14:02] sergiomendonca commented on #6796
Old bug, 3 years later and continues the same bug. It is one bug of checkoutConfig, has many and many bugs... Try to give a discount and you see all collapse.
We cant make payment using checkoutConfig js, its terrible. We have to leave the checkout page to make a payment using only php. So, if the credit card does not work you have to make all the payment again....

[2019-04-26 14:15] mrlerch opened #22509 "2FA Magento Admin - does not remember devices"
### Preconditions (*)

1. Magento 2.3.1
2. CentOS Linux release 7.6.1810, nginx/1.15.12, 5.7.24-27 Percona Server, PHP 7.2.17 FPM

### Steps to reproduce (*)

1. Enable 2FA in Magento admin for your account
2. Log in with your account.
3. Enter 2FA code, and check the "remember me" box
4. Work in Magento as usual for a day or so
5. at a point you will be prompted to enter the 2FA again, even thoug

[2019-04-26 14:18] squeegy06 opened #22511 "Special From Date set to today's date when Use Default Date checked in Store scope"
### Preconditions (*)

1. Magento 2.2.8
2. Configured product with Special Price, Special From Date, and Special To Date set at the All Stores Scope.

### Steps to reproduce (*)

1. Edit a product in store view (say Default Store View) that has a Special Price, Special From Date, and Special To Date already set at the All Store Scope.
2. Open the Advanced Pricing popup.
3. Note that the Use Defaul

[2019-04-26 14:42] Misco commented on #6924
Same to 2.3.1 please have look again. thanks

[2019-04-26 14:43] QuentinFarizonAfrimarket commented on #22504
Please find other examples :

![Screenshot from 2019-04-26 14-41-57](https://user-images.githubusercontent.com/33634848/56815744-5aae1880-6842-11e9-94bc-81cd03a0803a.png)

![Screenshot from 2019-04-26 16-41-59](https://user-images.githubusercontent.com/33634848/56815754-600b6300-6842-11e9-8c24-37bf0ba07e36.png)

[2019-04-26 14:45] acrpro opened #22512 "Attribute Update refers to page display and not selection"
### Preconditions (*)
Magento 2.3.1

### Steps to reproduce (*)

1. Catalog > Product
2. Select All (550) with diplay of 20
3. Change attribute

### Expected result (*)

4. The change should be applied to 550 and not 20

### Actual result (*)
4. The change will be applied to 20 and not 550

[2019-04-26 14:49] magento-engcom-team commented on #22511
:white_check_mark: Confirmed by @AlexWorking
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99435` were created

**Issue Available**: @AlexWorking, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-26 14:56] AlexWorking commented on #22507
Hello @lyusya-nnn . Thanks for reporting. This issue has been fixed in the develop version and will be available in the next 2.3 release version.

[2019-04-26 14:56] #22507 closed, assigned to AlexWorking

[2019-04-26 15:05] krishprakash commented on #22512
Hi @acrpro. Thank you for your report.
This is duplicate to #22004

[2019-04-26 15:05] #22512 closed, assigned to krishprakash

[2019-04-26 15:07] QuentinFarizonAfrimarket commented on #22504
I have tried calling flushall on redis to be sure to start with a clean state, with no luck

[2019-04-26 15:09] acrpro commented on #22512
Sorry about that thanks

ACR Fuchs & Hanimann
35-37, rte de Veyrier
CH-1227 Carouge
Switzerland
T.:+41223435277
F.:+41223000413
W.:www.acrpro.ch
CHE-107.963.696
Custom Acct: 9033-4

From: Prakash Prajapati [mailto:notifications@github.com]
Sent: vendredi 26 avril 2019 17:07
To: magento/magento2
Cc: Eric Henry; Mention
Subject: Re: [magento/magento2] Attribute Update refers to page display and not

[2019-04-26 15:09] johncarlson21 commented on #22497
@shikhamis11

alright.. I can confirm this:

1. create a child theme of Magento Blank
2. create the folder/file structure based on the screenshot I've attached.
3. add the layout update to a category from the screenshot
4. when first loaded you will not get the category design layout update file specified (cat_collection.phtml) you will get the Murals\blank\Magento_Catalog\template\product\list.ph

[2019-04-26 15:10] magento-engcom-team commented on #22474
Hi @keyuremipro. Thank you for your report.
The issue has been fixed in magento/magento2#22499 by @keyuremipro in 2.2-develop branch
Related commit(s):
 - [bd0613a10f5bdfc554361c39b7b43072f3395868](https://github.com/magento/magento2/commit/bd0613a10f5bdfc554361c39b7b43072f3395868)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-26 15:10] magento-engcom-team commented on #21715
Hi @lukeromanowicz. Thank you for your report.
The issue has been fixed in magento/magento2#22358 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [bcc45269c187cdafb144dc1c2e40b78be6050fc8](https://github.com/magento/magento2/commit/bcc45269c187cdafb144dc1c2e40b78be6050fc8)

The fix will be available with the upcoming 2.2.9 release.

[2019-04-26 15:14] shikhamis11 commented on #22497
Hi @johncarlson21, Thank you for your effort .. I will check this at my end also .. for now I will keep this issue opened .

[2019-04-26 15:16] victortodoran commented on #11483
@orlangur stay away from the internet when ur hungry.

[2019-04-26 15:19] shikhamis11 commented on #22372
@pjw345 I am not able to reproduce this issue with your provided steps, Please let me know here if you are still able to reproduce this issue on magento 2.3-develop instance. If possible share the screenshots also

[2019-04-26 15:19] #22372 closed, assigned to shikhamis11

[2019-04-26 21:00] aaron-renovationbrands opened #22515 "/checkout/cart/add"
### Preconditions (*)

1. Magento ver. 2.1.9 update to Magento ver. 2.1.17

### Steps to reproduce (*)

1. composer require magento/product-community-edition 2.1.17 --no-update
2. composer update
3. Hit [HOST]/checkout/cart/add

### Expected result (*)

1. 302 Redirect to [HOST]/checkout/cart/

### Actual result (*)

1.  404 Page not found

[2019-04-26 21:21] orlangur commented on #22515
`2.1.x` bug reports are not acceptable anymore.

[2019-04-26 21:21] #22515 closed, assigned to nobody

[2019-04-26 21:47] batmike opened #22516 "Pricing Index runs without ever completing - Magento 2.3.1"
### Preconditions (*)

1. Magento 2.3.1
2. PHP 7.2
3. MySQL 5.7

### Steps to reproduce (*)

1. Heavily configurable product based catalog - about 375,000 total products of which about 15,000 are configurable products and the remaining 350,000 are simple products links to the configurables.
2. Upon upgrading to version 2.3.1 from version 2.3.0, the pricing index (catalog_product_price) would not c

[2019-04-26 21:48] batmike commented on #22516
@magento-engcom-team give me 2.3.1 instance

[2019-04-26 21:49] magento-engcom-team commented on #22516
Hi @batmike. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-04-26 21:49] magento-engcom-team commented on #22516
Hi @batmike, here is your [Magento instance](https://i-22516-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22516-2-3-1.instances.magento-community.engineering/admin](https://i-22516-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-26 21:59] batmike commented on #22516
@magento-engcom-team

I have the instance but cannot confirm as I would need to run some kind of sample data loader to build out a similar configurable/simple product catalog like we have in production. I also have to way to run the indexer from the CLI.

If these are available to run in a test vanilla environment, I'd be happy to test and see if it still does a similar thing to what we experience

[2019-04-26 22:10] orlangur commented on #11483
@victortodoran what's up, man? :) Was you able to solve a problem which led you here from Google?

[2019-04-26 22:23] orlangur commented on #22516
@batmike this is just a bot :) Simply wow, thanks for such a fruitful investigation.

@kandy you should like it.

[2019-04-26 22:34] batmike commented on #22516
@orlangur - of course it is! Just trying to get used to talking more with the machines than people ahead of time.

[2019-04-26 22:40] ipascual opened #22517 "B2B - Company Edit Profile - full page cache"
### Preconditions (*)
1. B2B Company activated

### Steps to reproduce (*)
1. Disable Rewards Points from Stores > Configuration
2. Enable Full Page Cache
3. Login in FrontEnd as Company administrator
4. Click on Company Profile

### Expected result (*)
1. See Company Profile Index view

### Actual result (*)
[code]

### Reason
Reward block has `cacheable=false`. But without this block active, Mag

[2019-04-26 23:52] engineergreg opened #22518 "config product - Reviews block showing where Details text should be"
### Preconditions (*)

1. VERSION 2.3.1 ON AN XAMPP SERVER WINDOWS 7
2.

### Steps to reproduce (*)

1. CREATE ATTRIBUTE SET, CREATE CONFIG PRODUCT, INPUT CONTENT DESCRIPTION, CREATE PRODUCT VARIATIONS, GENERATE PRODUCTS
2. REINDEX, CLEAR CACHE

### Expected result (*)

1. [Screenshots, logs or description]
2. ATTACHED EXPECTED RESULTS JPG
![MAGENTO CONTENT EXPECTED](https://user-images.githubuser

[2019-04-26 23:58] engineergreg commented on #22518
![MAGENTO CONTENT ISSUE](https://user-images.githubusercontent.com/50034735/56841740-6f8bab80-6844-11e9-8760-56b088a5ea9d.jpg)

[2019-04-27 00:50] engineergreg commented on #22518
found problem...
when creating content, a similar product was used to copy paste into content editor
apparently the html code came over as well and the links were corrupted regarding details tab vs reviews tab.
solution to this problem was creating details content by typing directly into WYSWYG editor

[2019-04-27 00:50] #22518 closed, assigned to nobody

[2019-04-27 01:16] muckee opened #22519 "Magento 2 does not adhere to Redis security protocols."
### Preconditions (*)

1. Magento 2 - all versions
2. Any distribution which utilises Redis

### Steps to reproduce (*)

1. Install redis-server and rename dangerous commands
2. Install magento

### Expected result (*)

1. Some configuration option should be available to assign custom command names to redis commands.

### Actual result (*)

1. Cache management is not properly functional due to Mag

[2019-04-27 01:17] JoshuaFlood commented on #22519
@magento-engcom-team it is not possible to replicate this issue without the ability to rename redis commands.

[2019-04-27 04:22] Technogeek2312 commented on #11347
there is the solution

[2019-04-27 05:09] Technogeek2312 commented on #11347
[Kurl.zip](https://github.com/magento/magento2/files/3123512/Kurl.zip)
try this module, i hope the issue will get resolved.

[2019-04-27 07:46] maheshWebkul721 commented on #22517
@magento-engcom-team give me 2.3-develop instance

[2019-04-27 07:46] magento-engcom-team commented on #22517
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-27 07:47] magento-engcom-team commented on #22517
Hi @maheshWebkul721, here is your [Magento instance](https://i-22517-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22517-2-3-develop.instances.magento-community.engineering/admin](https://i-22517-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-27 08:28] webkul-ajaysaini commented on #22506
@magento-engcom-team give me 2.3-develop instance

[2019-04-27 08:28] magento-engcom-team commented on #22506
Hi @webkul-ajaysaini. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-27 08:29] magento-engcom-team commented on #22506
Hi @webkul-ajaysaini, here is your [Magento instance](https://i-22506-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22506-2-3-develop.instances.magento-community.engineering/admin](https://i-22506-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-27 10:05] webkul-deepak commented on #21518
@magento-engcom-team give me 2.3-develop instance

[2019-04-27 10:05] magento-engcom-team commented on #21518
Hi @webkul-deepak. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-27 10:06] magento-engcom-team commented on #21518
Hi @webkul-deepak, here is your [Magento instance](https://i-21518-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21518-2-3-develop.instances.magento-community.engineering/admin](https://i-21518-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-27 10:16] orlangur commented on #22519
@JoshuaFlood please report in https://github.com/magento/community-features/issues.

[2019-04-27 10:16] #22519 closed, assigned to nobody

[2019-04-27 10:17] orlangur commented on #22517
This functionality does not seem to be a part of Magento Open Source, isn't it?

In such case

GitHub is intended for Magento Open Source bug reports given no account management for Magento Open Source users. This will allow for proper tracking of issues at the account level.

[2019-04-27 10:18] #22517 closed, assigned to nobody

[2019-04-27 12:06] Hailong opened #22522 "Print a meaningful error message when gets the error code 15005 in PayPal payment."
### Description (*)

Our website has PayPal Payflow Pro enabled for user to pay with credit card directly on the same page. And in the operation we found that the error code 15005 is very popular, but the error message just tells user that the transaction is declined. Usually user would try multiple times since there is no specific reason given, and they may think that's some problem of the websit

[2019-04-27 12:30] krishprakash commented on #22522
Hi @Hailong. Thank you for your report.
As per your report it should be enhancement request.

[2019-04-27 12:54] bhavik43 opened #22524 "Show by section mismatch issue in admin"
Show by section mismatch issue

### Preconditions (*)
Magento 2.2 and 2.3

### Steps to reproduce (*)
1. Admin > Reports >> Customers > Order Total/Order Count/New
2. See the Show by section

### Expected result (*)
Show by section design should display appropriate.

### Actual result (*)
![shop by](https://user-images.githubusercontent.com/49804008/56849973-805a2100-6919-11e9-9bd9-5011d5d7f060.pn

[2019-04-27 12:56] krishprakash commented on #22524
@magento-engcom-team give me 2.3-develop instance

[2019-04-27 12:56] magento-engcom-team commented on #22524
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-27 12:57] magento-engcom-team commented on #22524
Hi @krishprakash, here is your [Magento instance](https://i-22524-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22524-2-3-develop.instances.magento-community.engineering/admin](https://i-22524-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-27 12:59] krishprakash commented on #22524
@magento-engcom-team give me 2.2-develop instance

[2019-04-27 12:59] magento-engcom-team commented on #22524
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-27 13:00] magento-engcom-team commented on #22524
Hi @krishprakash, here is your [Magento instance](https://i-22524-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22524-2-2-develop.instances.magento-community.engineering/admin](https://i-22524-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-27 13:02] krishprakash commented on #22524
Hi @bhavik43. Thank you for your report.
Not able to reproduce in 2.2 and 2.3
May be it is your custom module issue.

[2019-04-27 13:02] #22524 closed, assigned to krishprakash

[2019-04-27 15:16] wscull commented on #22373
We are experiencing this same issue. Is there a temporary fix available while we wait for 2.3.2?

[2019-04-27 15:38] GlOnSa opened #22525 "Enable PayPal Credit option not avaible for USA"
### Preconditions (*)

1. Magento 2.3.1

### Steps to reproduce (*)

1. Stores > Config > Sales > Payment Methods
2. Set Merchant Country to United States
3. PayPal Express Checkout > Configure

### Expected result (*)

1. Same with version 2.3.0, there should be Enable PayPal Credit [YES/NO] and Sort Order PayPal Credit.

### Actual result (*)

1. On 2.3.1, after Merchant Account ID, neither opti

[2019-04-27 15:47] Swahjak commented on #13477
@engcom-backlog-nazar I don't see how https://github.com/magento/magento2/commit/ae7179f7bee1b99597aee46da79f581a8a45a018 fixes the issue of not being able to use a custom source table. It's still selecting from `eav_attribute_option_value`.

[2019-04-27 15:49] krishprakash commented on #22522
Hi @Hailong.
please report in https://github.com/magento/community-features/issues.

[2019-04-27 15:49] #22522 closed, assigned to krishprakash

[2019-04-27 15:53] krishprakash commented on #22525
@magento-engcom-team give me 2.3-develop instance

[2019-04-27 15:53] magento-engcom-team commented on #22525
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-27 15:54] magento-engcom-team commented on #22525
Hi @krishprakash, here is your [Magento instance](https://i-22525-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22525-2-3-develop.instances.magento-community.engineering/admin](https://i-22525-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-27 16:24] krishprakash commented on #22525
![issue](https://user-images.githubusercontent.com/46617848/56852288-f0c36b00-6936-11e9-95f5-884c797edf92.png)

[2019-04-27 16:24] magento-engcom-team commented on #22525
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99441` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-27 17:18] Nazar65 commented on #22525
@krishprakash this is expected behavior,` MC-11034: Enable Paypal Credit option should be disabled/greyed out when a non-US merchant is chosen - Fixed review comments` fixed in this commit.

[2019-04-27 17:21] GlOnSa commented on #22525
I don't follow this comment.  The issue pertains to United States... not a non-US Merchant.

[2019-04-27 17:27] Nazar65 commented on #22525
@GIOnsa however I'd don't think that this an issue.

[2019-04-27 17:29] GlOnSa commented on #22525
So, you're saying Magento made the decision to remove this feature in 2.3.1?

[2019-04-27 17:37] Nazar65 commented on #22525
@GlOnSa based on this commit this option should be available to specific countryhttps://github.com/magento/magento2/commit/7cd52fb59a15b0aae863fe98addc4578b77eac75

[2019-04-27 17:41] Nazar65 commented on #22525
@GlOnSa if your country US you don't have this option
![DeepinScreenshot_select-area_20190427204035](https://user-images.githubusercontent.com/2481206/56853181-cf5d8180-692c-11e9-8965-f8f68242f694.png)

[2019-04-27 17:43] Nazar65 commented on #22525
@GlOnSa  also `MC-13710: PayPal label "Credit" should be removed from label configuration when PayPal Credit is disabled from Disable Funding Options multi-select`

[2019-04-27 18:05] GlOnSa commented on #22525
Sorry Nazar65, I guess I just don't understand.  According to this Magento document...  https://docs.magento.com/m2/ce/user_guide/payment/paypal-credit.html  it states...  "For US merchants, PayPal Credit is included as a PayPal Express Checkout option"

[2019-04-27 20:32] Nazar65 commented on #22525
@GlOnSa
![DeepinScreenshot_select-area_20190427233235](https://user-images.githubusercontent.com/2481206/56854777-c37db980-6944-11e9-8970-a89fa27d6d36.png)

[2019-04-27 20:33] #22525 closed, assigned to nobody

[2019-04-27 20:34] GlOnSa commented on #22525
Yep.  That's me. I'm in the US and only accept USD.

[2019-04-27 20:36] Nazar65 commented on #22525
@GlOnSa this is new feature was introduced in 2.3.1 release. so you don't need this option anymore :)

[2019-04-27 20:39] Nazar65 commented on #22525
@GlOnSa https://github.com/magento/magento2/commit/d0a5ba4491d2cc34e2f23cf407304516e50b7b5e

[2019-04-27 20:40] magento-engcom-team commented on #20111
Hi @priti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#22469 by @Bartlomiejsz in 2.3-develop branch
Related commit(s):
 - [7d584acbd86a034402047431479aee22759def88](https://github.com/magento/magento2/commit/7d584acbd86a034402047431479aee22759def88)
 - [4f6a15a487656892490e3042ae7ffe395988b14a](https://github.com/magento/magento2/commit/4f6a15a487656892490e304

[2019-04-27 20:40] #20111 closed, assigned to Bartlomiejsz

[2019-04-27 20:40] magento-engcom-team commented on #22434
Hi @bhavik43. Thank you for your report.
The issue has been fixed in magento/magento2#22456 by @hiren0241 in 2.3-develop branch
Related commit(s):
 - [27e048ff422c5d5b82b4b428ecabf4f1ac3622bf](https://github.com/magento/magento2/commit/27e048ff422c5d5b82b4b428ecabf4f1ac3622bf)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-27 20:40] #22434 closed, assigned to hiren0241

[2019-04-27 20:40] magento-engcom-team commented on #22124
Hi @nussjustin. Thank you for your report.
The issue has been fixed in magento/magento2#22446 by @hostep in 2.3-develop branch
Related commit(s):
 - [f22e16b6f7bd84303cfd22dd5dc17d9a58b8101b](https://github.com/magento/magento2/commit/f22e16b6f7bd84303cfd22dd5dc17d9a58b8101b)
 - [9e00ed29c722e0f77ea7e3dc98f7917dc2afdb9d](https://github.com/magento/magento2/commit/9e00ed29c722e0f77ea7e3dc98f7917dc2

[2019-04-27 20:40] #22124 closed, assigned to hostep

[2019-04-27 20:40] magento-engcom-team commented on #22402
Hi @philippsander. Thank you for your report.
The issue has been fixed in magento/magento2#22424 by @Nazar65 in 2.3-develop branch
Related commit(s):
 - [9205c6fa88e3de4ac09e48a85cd193507d47e1f7](https://github.com/magento/magento2/commit/9205c6fa88e3de4ac09e48a85cd193507d47e1f7)
 - [986d3844227fa59d5e780bc4fc64c7401d65c661](https://github.com/magento/magento2/commit/986d3844227fa59d5e780bc4fc64c7

[2019-04-27 20:40] GlOnSa commented on #22525
Nazar65... the option is NOT being shown during checkout.  Yes, I am in the US so therefore, based your logic, the PayPal Credit option should display... but it doesn't.

[2019-04-27 20:44] navaneeth008 commented on #20033
is there any patch to make this work on Magento 2.3.1?

[2019-04-27 20:51] Nazar65 commented on #22525
@GlOnSa
![DeepinScreenshot_select-area_20190427235141](https://user-images.githubusercontent.com/2481206/56854947-6df6dc00-6947-11e9-92c4-f245207cc69b.png)

[2019-04-28 03:53] The-Krang commented on #22354
I knew that I had not lost my comprehension.  I was correct, there was a change somewhere from Magento 2.3.0 to 2.3.1 that affected download links.

This is what I did to fix my problem.

I did some more searching, and what I found was that on my system, the file with the problem was this one:

/public_html/vendor/magento/module-downloadable/Observer/SaveDownloadableOrderItemObserver.php

I rename

[2019-04-28 03:54] The-Krang commented on #22390
I knew that I had not lost my comprehension.  I was correct, there was a change somewhere from Magento 2.3.0 to 2.3.1 that affected download links.

This is what I did to fix my problem.

I did some more searching, and what I found was that on my system, the file with the problem was this one:

/public_html/vendor/magento/module-downloadable/Observer/SaveDownloadableOrderItemObserver.php

I rename

[2019-04-28 11:44] krishprakash commented on #22435
@magento-engcom-team give me 2.3-develop instance

[2019-04-28 11:44] magento-engcom-team commented on #22435
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-28 11:45] magento-engcom-team commented on #22435
Hi @krishprakash, here is your [Magento instance](https://i-22435-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22435-2-3-develop.instances.magento-community.engineering/admin](https://i-22435-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-28 12:33] bhavik43 opened #22527 "Wishlist and compare icon align issue in product listing page"
Wishlist and compare icon align issue in product listing page

### Preconditions (*)
magento 2.3

### Steps to reproduce (*)
Go to product listing > See the wish list and compare icons in list and grid both views

### Expected result (*)
Both button should display center align with add to cart button as per magento 2.2

![expected](https://user-images.githubusercontent.com/49804008/56864341-ee1c50

[2019-04-28 12:35] krishprakash commented on #22527
@magento-engcom-team give me 2.3-develop instance

[2019-04-28 12:35] magento-engcom-team commented on #22527
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-28 12:36] magento-engcom-team commented on #22527
Hi @krishprakash, here is your [Magento instance](https://i-22527-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22527-2-3-develop.instances.magento-community.engineering/admin](https://i-22527-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-28 12:41] krishprakash commented on #22527
@magento-engcom-team give me 2.2-develop instance

[2019-04-28 12:41] magento-engcom-team commented on #22527
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-28 12:42] magento-engcom-team commented on #22527
Hi @krishprakash, here is your [Magento instance](https://i-22527-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22527-2-2-develop.instances.magento-community.engineering/admin](https://i-22527-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-28 12:50] magento-engcom-team commented on #22527
@krishprakash Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-04-28 12:51] magento-engcom-team commented on #22527
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99442` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-28 14:53] chequille opened #22528 "PayPal and Magento2 2.3.1"
Hi,
it is really great, that everytime there is an update you have to do all work from the beginning again !!!!

Now, as I had PayPal working fine (in 2.3.0) with a button "zahlungspflicht bestellen" (for those not knowing this it is mandatory in Germany), there is a new paypal module doing it completly different.

Does somebody cares about German Stores? Sometimes I think no.

Therefore, any idea

[2019-04-28 19:07] sanjaychouhan-webkul commented on #22527
I am working on the issue

[2019-04-28 22:10] magento-engcom-team commented on #22270
Hi @danielpfarmer. Thank you for your report.
The issue has been fixed in magento/magento2#22466 by @danielpfarmer in 2.3-develop branch
Related commit(s):
 - [d8d8fed62ea570359c6cc60227b338dbb79d00a2](https://github.com/magento/magento2/commit/d8d8fed62ea570359c6cc60227b338dbb79d00a2)
 - [11c31edf2b465f6a529ad26f03b708ab48625c22](https://github.com/magento/magento2/commit/11c31edf2b465f6a529ad26f

[2019-04-28 22:10] #22270 closed, assigned to danielpfarmer

[2019-04-28 22:10] magento-engcom-team commented on #21147
Hi @bramvanderholst. Thank you for your report.
The issue has been fixed in magento/magento2#21150 by @priti2jcommerce in 2.3-develop branch
Related commit(s):
 - [d661d613c17ba25304f2aa1f21e67bc97dff509d](https://github.com/magento/magento2/commit/d661d613c17ba25304f2aa1f21e67bc97dff509d)
 - [85026a47b14a3576c1c98dda56d25ad9c48bc285](https://github.com/magento/magento2/commit/85026a47b14a3576c1c9

[2019-04-28 22:10] #21147 closed, assigned to priti2jcommerce

[2019-04-28 22:10] magento-engcom-team commented on #22299
Hi @tzyganu. Thank you for your report.
The issue has been fixed in magento/magento2#22302 by @tzyganu in 2.3-develop branch
Related commit(s):
 - [5c84c1ad6aecbf6209d04bcaa160c49f356344d4](https://github.com/magento/magento2/commit/5c84c1ad6aecbf6209d04bcaa160c49f356344d4)
 - [97bdecc78dde3a0c6d8eeaad98ecdfe50e8575be](https://github.com/magento/magento2/commit/97bdecc78dde3a0c6d8eeaad98ecdfe50e85

[2019-04-28 22:10] #22299 closed, assigned to tzyganu

[2019-04-28 22:10] magento-engcom-team commented on #19544
Hi @pooshok. Thank you for your report.
The issue has been fixed in magento/magento2#22276 by @torhoehn in 2.3-develop branch
Related commit(s):
 - [066a68febbd4cfb15e8cc271a984ce75bc8f6f3f](https://github.com/magento/magento2/commit/066a68febbd4cfb15e8cc271a984ce75bc8f6f3f)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-28 22:10] #19544 closed, assigned to torhoehn

[2019-04-28 22:10] magento-engcom-team commented on #21962
Hi @vishal-7037. Thank you for your report.
The issue has been fixed in magento/magento2#21963 by @vishal-7037 in 2.3-develop branch
Related commit(s):
 - [eec7473b6c774d72ab2d3e86495b43082face6f5](https://github.com/magento/magento2/commit/eec7473b6c774d72ab2d3e86495b43082face6f5)
 - [719ed40200caeedc87bd56545d4727afb889bed0](https://github.com/magento/magento2/commit/719ed40200caeedc87bd56545d47

[2019-04-28 22:10] #21962 closed, assigned to vishal-7037

[2019-04-28 23:04] farhangithub27 commented on #22400
Hi engcom-backlog-nazar please run following commands and observe the output.
`bin/magento dev:tests:run unit` or  `vendor/phpunit/phpunit/phpunit -c dev/tests/unit/phpunit.xml.dist`

[2019-04-28 23:36] farhangithub27 opened #22531 "Fatal error: Class 'Codeception\Platform\Extension' not found. Issue occurred after magento 2.3.0 upgrade to 2.3.1"
### Preconditions (*)

1.Magento 2.3.1 upgraded from Magento 2.3.0
2.Php 7.2.15
3. OS : Ubuntu 18.04 Bionic
4. Phpstorm 2019.1.1
5. Evnironemnt : Magento development

### Steps to reproduce (*)

1. Issue appears after upgrading magento from 2.3.0 to 2.3.1 and run below commands.
2.`bin/magento dev:tests:run unit`
3.`vendor/phpunit/phpunit/phpunit -c dev/tests/unit/phpunit.xml.dist`.
4. Above comma

[2019-04-29 01:40] magento-engcom-team commented on #16939
Hi @matthew-muscat. Thank you for your report.
The issue has been fixed in magento/magento2#21633 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [bc8f90993c35b5c232a923ef126ba97d046a35c0](https://github.com/magento/magento2/commit/bc8f90993c35b5c232a923ef126ba97d046a35c0)
 - [ca168091922bc4d34e2347304abb12e9f08a81f9](https://github.com/magento/magento2/commit/ca168091922bc4d34e2347304

[2019-04-29 01:40] magento-engcom-team commented on #21477
Hi @julianvdrielen. Thank you for your report.
The issue has been fixed in magento/magento2#21486 by @dverkade in 2.3-develop branch
Related commit(s):
 - [ce441c69dd37859fc4ddbd400ab7209ac021b6f2](https://github.com/magento/magento2/commit/ce441c69dd37859fc4ddbd400ab7209ac021b6f2)

The fix will be available with the upcoming 2.3.2 release.

[2019-04-29 01:40] #21477 closed, assigned to nobody

[2019-04-29 01:40] magento-engcom-team commented on #20481
Hi @siliconalchemy. Thank you for your report.
The issue has been fixed in magento/magento2#20842 by @ygyryn in 2.3-develop branch
Related commit(s):
 - [9dc3a19d2cb37f4d0a4cddbab7334d0c579c45b9](https://github.com/magento/magento2/commit/9dc3a19d2cb37f4d0a4cddbab7334d0c579c45b9)
 - [b6020677c4fd3e99d59c67b953bfa53d70bed165](https://github.com/magento/magento2/commit/b6020677c4fd3e99d59c67b953bfa5

[2019-04-29 01:40] #20481 closed, assigned to nobody

[2019-04-29 01:40] magento-engcom-team commented on #9155
Hi @KishorkumarKar. Thank you for your report.
The issue has been fixed in magento/magento2#19653 by @khodu in 2.3-develop branch
Related commit(s):
 - [e2712f66dee7e4e11898a7cd31568496c9c37949](https://github.com/magento/magento2/commit/e2712f66dee7e4e11898a7cd31568496c9c37949)
 - [dec124e58dfaa5b6308b69779abd30fc7b2ef52a](https://github.com/magento/magento2/commit/dec124e58dfaa5b6308b69779abd30f

[2019-04-29 01:40] #9155 closed, assigned to khodu

[2019-04-29 06:04] fooman commented on #22531
How did you upgrade? If it works with a fresh install but not with an upgrade the most likely is that the require-dev dependencies are different. Please compare your composer.json after the upgrade to the composer.json of the 2.3.1 direct install.

[2019-04-29 06:34] jaimin104 opened #22537 "Magento 2.2.8 After Create New Store View Sequence and catalogsearch_fulltext_scope tables not created automatically"
Summary of the issue

- sequence and scope related tables not created so We have facing issue in re-indexing.

Information on your environment
1.Magento 2.2.8

Steps to reproduce (*)

- Create new store view form admin not created catalogsearch_fulltext_scope, sequence_creditmemo, sequence_invoice, sequence_order and sequence_shipment tables.

Expected and actual results

- catalogsearch_fulltext_

[2019-04-29 07:04] farhangithub27 commented on #22531
@fooman require-dev for both installations (upgraded and clean) is same only except clean install of 2.3.1 has mftf version 2.3.13 and upgraded has 2.3.9. Rest of require-dev is exactly same

[2019-04-29 07:37] fooman commented on #22531
Try running `composer require magento2-functional-testing-framework:~2.3.13 --dev`

[2019-04-29 09:06] itmsenior opened #22539 "Saved Payment methods (Magento Vault) are not remembered on checkout"
### Preconditions (*)

Magento 2.3
### Steps to reproduce (*)

1. Enable BrainTree Payment method with Credit Card saving in Magento admin.
2. Checkout as a registered customer, using Braintree as a payment option and tick the box to save the card details.
3. Complete the checkout
4. Build a new order and go to checkout. Select your new saved card as the payment option.
5. Navigate away from the c

[2019-04-29 09:08] itwebdev2 commented on #22539
@magento-engcom-team give me 2.3-develop instance

[2019-04-29 09:08] magento-engcom-team commented on #22539
Hi @itwebdev2. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-29 09:08] magento-engcom-team commented on #22539
Hi @itwebdev2, here is your [Magento instance](https://i-22539-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22539-2-3-develop.instances.magento-community.engineering/admin](https://i-22539-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-29 09:14] itwebdev2 commented on #22539
I can confirm this issue is reproducible on a vanilla Magento instance using steps provided.

[2019-04-29 09:24] orlangur commented on #22531
@farhangithub27 there is nothing to fix here, it seems like you didn't upgrade vendors correctly during Magento upgrade.

As you already have a working version with clean 2.3.1 install, you can find the differences and get rid of them by yourself.

[2019-04-29 09:24] #22531 closed, assigned to nobody

[2019-04-29 09:30] fooman commented on #22531
Just to cross reference https://github.com/magento/magento2/pull/21565.

Also there are no upgrade instructions that reference this step.

[2019-04-29 09:39] orlangur commented on #22496
@qsolutions-pl what's wrong with actual result? Besides SID in URL, there are also cookie-based checks to avoid CSRF attacks.

[2019-04-29 09:46] ajijshekh123 commented on #22539
Give me @magento-engcom-team give me 2.3-develop.

[2019-04-29 09:48] ajijshekh123 commented on #22539
Give me @magento-engcom-team give me 2.3-develop instance.

[2019-04-29 09:49] magento-engcom-team commented on #22539
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-29 09:49] magento-engcom-team commented on #22539
Hi @ajijshekh123, here is your [Magento instance](https://i-22539-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22539-2-3-develop.instances.magento-community.engineering/admin](https://i-22539-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-29 09:49] mazestricks commented on #12468
Thanks @plumbingworld

I tried your code and it fixed my problem on store running Magento 2.2.2

Thanks!!!

[2019-04-29 10:22] ajijshekh123 commented on #22539
Give me @magento-engcom-team give me 2.2-develop instance.

[2019-04-29 10:22] magento-engcom-team commented on #22539
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-04-29 10:23] magento-engcom-team commented on #22539
Hi @ajijshekh123, here is your [Magento instance](https://i-22539-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-22539-2-2-develop.instances.magento-community.engineering/admin](https://i-22539-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-29 10:38] ajijshekh123 commented on #22539
This issue I have reproduced in Magento 2.2 and Magento 2.3 instance.
@itwebdev2 - This is not an issue. This is default featured by the Magento instance.
If a user has available 2 saved card and user will refresh the page Or navigate another page to redirect to check out user can select the another saved card.

[2019-04-29 10:39] magento-engcom-team commented on #22539
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99444`, `MAGETWO-99445` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-29 10:44] itwebdev2 commented on #22539
@ajijshekh123 If this is default behaviour, then why are other payment methods remembered? If you select Paypal and navigate away, upon returning paypal is still selected. Why isn't it removed to allow the user to select another method?

[2019-04-29 10:53] ajijshekh123 commented on #22539
Okay, @itwebdev2. I understand your point.

[2019-04-29 11:26] krzksz commented on #22272
I'll investigate and try to fix this issue, right now I can see that there are multiple places where cookies are set so the first step is to find them.

[2019-04-29 13:01] KishorkumarKar opened #22540 "Access Denied You don't have permission to access"
### Preconditions (*)

**Steps to reproduce (*)**

Magento 2.3.0

### Steps to reproduce (*)
**Steps to reproduce (*)**

1. Login to admin go to Marketing ->Email Template -> Add new template
2. Tried to create a mail template.
3. Gatting and error.
![image](https://user-images.githubusercontent.com/24475017/56897669-c1366f00-6aac-11e9-9ef7-1dc7af120678.png)

I am not gating any error in my test s

[2019-04-29 13:14] krishprakash commented on #22540
@magento-engcom-team give me 2.3-develop instance

[2019-04-29 13:14] magento-engcom-team commented on #22540
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-04-29 13:14] magento-engcom-team commented on #22540
Hi @krishprakash, here is your [Magento instance](https://i-22540-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22540-2-3-develop.instances.magento-community.engineering/admin](https://i-22540-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-29 13:34] krishprakash commented on #22540
Hi @KishorkumarKar. Thank you for your report.
May be this issue from server side, or this blocked from ht-access or user role permission issue.
So please contact to server guy for this issue.

[2019-04-29 13:34] #22540 closed, assigned to krishprakash

[2019-04-29 13:42] chrischerrett opened #22541 "Undefined index: delete on estimate-shipping-methods"
### Preconditions (*)
1. Magento 2.3.1

### Steps to reproduce (*)
1. Navigate to Cart
2. Ajax call made to <domain>/rest/<store_view>/V1/carts/mine/estimate-shipping-methods

### Expected result (*)
1. Values returned from call to estimate-shipping-methods

### Actual result (*)
[code]

This was post-upgrade form 2.2.8. I'm sure this can't be the default behaviour, but I can't for the life of me

[2019-04-29 13:53] bartoszkubicki commented on #17634
Maybe it is something with all commands objects creation while running any command?

[2019-04-29 13:57] mugiltechnologiesid commented on #19519
Can you please tell me how did you override the require js config? i need to add owl carousel on recenly viewed products!..

[2019-04-29 13:59] KishorkumarKar commented on #22540
@krishprakash thanks for the response our website doesn't open in **http**
I am gating this error.

![image](https://user-images.githubusercontent.com/24475017/56901139-10809d80-6ab5-11e9-993c-391e4e8c94cd.png)

[2019-04-29 14:03] krishprakash commented on #22540
Please contact to server support.
They can help you.
Thank you!

[2019-04-29 14:05] magento-engcom-team commented on #21032
Hi @sivaschenko. Thank you for your report.
The issue has been fixed in magento/magento2#22132 by @yvechirko in 2.3-develop branch
Related commit(s):
 - [2022307ea1cb8b0310ced73026ac2a10e4910bdc](https://github.com/magento/magento2/commit/2022307ea1cb8b0310ced73026ac2a10e4910bdc)
 - [ad544fb0b52cccd32ea939e8475aabae27adc414](https://github.com/magento/magento2/commit/ad544fb0b52cccd32ea939e8475aab

[2019-04-29 14:05] #21032 closed, assigned to nobody

[2019-04-29 14:05] magento-engcom-team commented on #21596
Hi @hiren0241. Thank you for your report.
The issue has been fixed in magento/magento2#22405 by @niravkrish in 2.3-develop branch
Related commit(s):
 - [3beb15adfd769cbf259f45313948e6e3d04dcd4d](https://github.com/magento/magento2/commit/3beb15adfd769cbf259f45313948e6e3d04dcd4d)
 - [e78592a2045d0408f93272a298bc1e967b5548ed](https://github.com/magento/magento2/commit/e78592a2045d0408f93272a298bc1e9

[2019-04-29 14:05] #21596 closed, assigned to Januszpl, niravkrish

[2019-04-29 14:05] magento-engcom-team commented on #12802
Hi @msieprawski. Thank you for your report.
The issue has been fixed in magento/magento2#22149 by @Bartlomiejsz in 2.3-develop branch
Related commit(s):
 - [865d7df16d374246d91d35f1bdb737828c88edc8](https://github.com/magento/magento2/commit/865d7df16d374246d91d35f1bdb737828c88edc8)
 - [6e079a341326aa7bf3a59848cbadbf2153eb4ae0](https://github.com/magento/magento2/commit/6e079a341326aa7bf3a59848cba

[2019-04-29 14:05] #12802 closed, assigned to Bartlomiejsz

[2019-04-29 14:05] magento-engcom-team commented on #19908
Hi @jwundrak. Thank you for your report.
The issue has been fixed in magento/magento2#19913 by @jwundrak in 2.3-develop branch
Related commit(s):
 - [5abd3308539fd0449d9ffe22a2d826e1909cc074](https://github.com/magento/magento2/commit/5abd3308539fd0449d9ffe22a2d826e1909cc074)
 - [ef724a622b5a45cb8dbeb9ca5f5d5039af4affcf](https://github.com/magento/magento2/commit/ef724a622b5a45cb8dbeb9ca5f5d5039af

[2019-04-29 14:05] #19908 closed, assigned to jwundrak

[2019-04-29 14:05] magento-engcom-team commented on #21842
Hi @david-fuehr. Thank you for your report.
The issue has been fixed in magento/magento2#21856 by @david-fuehr in 2.3-develop branch
Related commit(s):
 - [11065422a5c9da48898241786848cbf04d2632e3](https://github.com/magento/magento2/commit/11065422a5c9da48898241786848cbf04d2632e3)
 - [eb989e2f5807ef4afcd3172eea9f60795afea823](https://github.com/magento/magento2/commit/eb989e2f5807ef4afcd3172eea9f

[2019-04-29 14:05] #21842 closed, assigned to david-fuehr

[2019-04-29 14:06] #22052 closed, assigned to keyurshah070, shikhamis11

[2019-04-29 14:55] trucatchtraps commented on #22251
I tried reverting that commit with a custom module but received the same results of the email being required on admin order.

[2019-04-29 14:57] simonlandry0 commented on #22373
Hey @wscull If you wanted you could try replicating this commit that nathanjosiah did on the staging version of 2.3.2 that should resolve the issue. https://github.com/magento/magento2/commit/dd7cb583b112f82ba58ef87d612631ac0eb1c57c

You could go ahead and do those modification directly to your /vendor/magento/module-authorizenet-acceptjs/Gateway/Validator/TransactionResponseValidator.php file (wr

[2019-04-29 15:05] nathanjosiah commented on #22373
@wscull, The advice from @simonlandry0 above would work as described but I would also reinforce that since there isn't an official patch for this that we recommend against modifying any core code manually. That being said, the changes in dd7cb58 are very small should you decide apply them yourself and you would not even need to make the changes to the unit test for the functionality to be fixed.

[2019-04-29 15:43] cscd98 opened #22542 "Clear multiple varnish servers?"
### Description (*)
Is there a way using Magento's implementation of Varnish caching to clear multiple varnish installations from the admin?

In my magento admin I have set Varnish as the caching mechanism.

Each server running Magento 2 has Varnish in front of it.

How do I clear the varnish cache on all servers from the admin?

### Expected behavior (*)
From the admin panel, to enter multiple IP

[2019-04-29 15:59] shikhamis11 commented on #22541
@magento-engcom-team give me 2.3.1 instance

[2019-04-29 15:59] magento-engcom-team commented on #22541
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-04-29 16:00] magento-engcom-team commented on #22541
Hi @shikhamis11, here is your [Magento instance](https://i-22541-2-3-1.instances.magento-community.engineering).
Admin access: [https://i-22541-2-3-1.instances.magento-community.engineering/admin](https://i-22541-2-3-1.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-04-29 16:18] vseager commented on #19064
I can confirm this is still an issue on 2.3.1

[2019-04-29 17:04] KooTjoo opened #22545 "Status downloadable product stays pending after succesfull payment"
When a downloadable product has been order and paid for download status should automatically become available. Status remains pending although order is invoiced and completed automatically by payment processor. When order is invoiced from admin it all works.

### Preconditions (*)

1. Magento 2.3.1 CE
2. PHP 7.2

### Steps to reproduce (*)

1. Setup Magento site with demo contents
2. Order Item St

[2019-04-29 17:17] sanjaychouhan-webkul commented on #22407
It is coming because \Magento\Theme\Block\Html\Topmenu has a cache life time. If we return 0 in `getCacheLifetime()` it works fine. But is it best possible solution?

[2019-04-29 17:22] sanjaychouhan-webkul commented on #22407
Also when clicking on any Footer link one category is marked as active.
![Screenshot (1)](https://user-images.githubusercontent.com/42089978/56914245-3ddb4480-6ad1-11e9-8229-ce0d49209ef4.png)

[2019-04-29 18:17] owebia commented on #18148
Same issue on Magento 2.3.1 with Payplug module using $payment->registerCaptureNotification(...)

[2019-04-29 18:55] shikhamis11 commented on #22541
@chrischerrett Thank you for your report. I am not able to reproduce this issue based on your provided steps. Let me know If if requires any additional step to reproduce this issue.

[2019-04-29 19:00] 13moons commented on #22373
@simonlandry0 & @nathanjosiah Thank for your reply. We will be testing it soon.

[2019-04-29 19:45] magento-engcom-team commented on #22545
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-99452` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-04-29 20:32] sdzhepa commented on #22509
Hello @mrlerch

Unfortunately, we not able to reproduce the issue.
Probably, some important preconditions or steps were missed.

Could you please provide more details?

We tried to reproduce it by next steps

## Preconditions

1. Install a vanilla instance of the last version of Magento using Composer. [Used steps from DevDocs](https://devdocs.magento.com/guides/v2.3/install-gde/composer.html)
2.

[2019-04-29 20:55] matutetandil commented on #15545
I know is not a solution and is not considered to be so. But maybe could be a workaround. Since the main issue is regarding the MySQL connector for the catalog search, what we are doing is to use Elasticsearch.
As I said, this is not a solution, but for someone could be a workaround.

[2019-04-29 21:27] sdzhepa commented on #21599
Hello @eerorika @rougou  @DanielRuf @hostep @durzel

Thank you for contribution and collaboration!

The corresponding internal ticket `MAGETWO-98583 `was fixed and delivered by Magento team

Please see details in the next commits:
- f92c8fd
- 8b34651
- 2f23922
- 83cb9a0
- 07a1570
- a7d1f1b
- eb81913

[2019-04-29 21:27] #21599 closed, assigned to nobody

[2019-04-29 21:38] sdzhepa commented on #21518
Hello @netjordanlee

Thank you for contribution and collaboration!

The corresponding internal ticket `MAGETWO-98522` was fixed, delivered and closed by Magento team

Please see details in the next commits:
- e9de16a
- 2f93680
- 28997a8
- 99d0496
- 1576876
- 645e82e
- 5c5ebc0
- e0ae403

[2019-04-29 21:38] #21518 closed, assigned to nobody

[2019-04-29 21:55] sdzhepa commented on #19590
Hello @vbuck @andykim @evagabond @tig-daanvandenbergh @syno-bvo @

Thank you for contribution and collaboration!

The corresponding internal ticket `MAGETWO-96983` was fixed, delivered and closed by Magento team

Please see details in the next commit:
- 2a65cc6

[2019-04-29 21:55] #19590 closed, assigned to vbuck

[2019-04-29 22:27] sdzhepa commented on #18144
Hello @bartoszkubicki @jakoblundsted @pemann @Jakhotiya @hostep

Thank you for contribution and collaboration!

The corresponding internal ticket `MAGETWO-95176` was fixed, delivered and closed by Magento team

Please see details in the next commits:
- cf316b4
- ee86554

[2019-04-29 22:27] #18144 closed, assigned to Jakhotiya

[2019-04-29 22:32] sdzhepa commented on #16789
Hello @vegangirlthatcodes @lewisvoncken

Thank you for contribution and collaboration!

The corresponding internal ticket `MAGETWO-93424` was fixed, delivered and closed by Magento team

Please see details in the next commits:
- 33b0a51
- fe93034
- fc510d3

[2019-04-29 22:32] #16789 closed, assigned to lewisvoncken

[2019-04-30 00:16] farhangithub27 commented on #22531
This seems like a plausible solution but it generated following error.
[code]
If I do
`composer require allure-framework/allure-codeception:~1.3.0`
then following occurs
`Problem 1
    - magento/magento2-functional-testing-framework 2.3.9 requires allure-framework/allure-codeception ~1.2.6 -> satisfiable by allure-framework/allure-codeception[1.2.6, 1.2.7] but these conflict with your requirements

[2019-04-30 00:44] michaelwylde commented on #13477
@engcom-backlog-nazar As mentioned by @Swahjak there is still the hardcoded tablename for eav_attribute_option_value which is the issue.

The actual select `$attribute->getFlatUpdateSelect($storeId) instanceof \Magento\Framework\DB\Select` is ignored and instead the code does its own link to the `eav_attribute_option_value` rather then using the select which we can change to use other tables for c