[2022-06-27 20:55] VladimirZaets opened #35688 "test issue 1"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

test issue 1

### Expected result

test issue 1

### Actual result

test issue 1

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves u

[2022-06-27 22:10] #35687 closed, assigned to nobody

[2022-06-27 22:11] #35688 closed, assigned to nobody

[2022-06-27 22:11] VladimirZaets opened #35689 "test issue 2"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

test issue 2

### Expected result

test issue 2

### Actual result

test issue 2

### Additional information

_No response_

### Release note

_No response_

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves u

[2022-06-27 22:22] #35689 closed, assigned to nobody

[2022-06-28 02:04] mrtuvn commented on #35684
actually h1 mixin can't be found be cause you already override extend.less in child. So when you call it magento will not able to found define mixin

[2022-06-28 03:57] key-dev commented on #35681
Thank you @devchris79
I have tried that command but it throws errors.
Below is my current composer.json

{
    "name": "magento/project-community-edition",
    "description": "eCommerce Platform for Growth (Community Edition)",
    "type": "project",
    "version": "2.4.3",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],
    "require": {
        "magento/product-community-edition": "2

[2022-06-28 06:05] mrtuvn commented on #35684
styles in module you will not get ability to use some default value than theme. From my experiences, current some value/variables can't call from module scope less. Write styles from module or theme not have much differences. Magento wrap all styles into final css output

[2022-06-28 06:51] engcom-Dash commented on #35685
@magento give me 2.4-develop instance

[2022-06-28 06:58] Zaahed commented on #35353
@magento I'm working on this

[2022-06-28 07:40] engcom-November commented on #35266
Verified the issue on Magento 2.4-develop branch again and the issue is not reproducible anymore. @Surya2211  Kindly reopen/ create new issue if you are still facing any issues.
Thank you.

[2022-06-28 07:40] #35266 closed, assigned to nisha-vaghela

[2022-06-28 07:47] MJTheOne commented on #31117
Why is this closed? Still an issue

[2022-06-28 07:58] engcom-Lima commented on #35667
Hi @kassner

I have changed the custom path of the admin. Followed all your steps but I am able to reset password successfully. Link which I have received is below:
 **http://local.magento2.com/shubham/admin/auth/resetpassword/key/*******?id=4&token=*********
Please find below screeshot for your reference:
![image](https://user-images.githubusercontent.com/60198022/176125411-5eaa9c63-321a-4766-928

[2022-06-28 09:56] FYvwotschel opened #35691 "Make UI Components Form "templates/form/collapsible" default value for "template" and/or give better errors"
### Summary (*)
If you forget to include the "template" item in the "data" argument, you'll get an infinite spinner. Turning on advanved logging in the console, still gives you an unclear message: `Could not get the requested "myuicomponent_index_form.areas" component.`

### Proposed solution
- Add better error message
- Set the "template" item with a default value of "templates/form/collapsible"

[2022-06-28 10:00] FYvwotschel opened #35692 "Allow fieldsets in UI Components without labels"
### Summary (*)
When adding a fieldset, the "label" setting is required.

### Examples (*)
[code]

### Proposed solution
- Make "label" optional

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _-

[2022-06-28 10:23] devchris79 commented on #35681
As I understand it `composer install` will install both the require (production dependencies) and the require-dev (development/test dependencies)

As long as you didn't use `composer install --no-dev` that installs only the development/test dependencies

[2022-06-28 10:33] engcom-November commented on #35563
Hi @routbiplab ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-06-28 10:33] #35563 closed, assigned to engcom-November

[2022-06-28 11:06] rvr-robert commented on #34967
The bug is reproduced in a third-party library (colorpicker.js). I understand that third party libraries should not be edited. This pr fixes the bug described in the problem. If left as is, this bug will be reproduced until this library is changed. The author of colorpicker.js hasn't changed anything since 2009 (https://www.eyecon.ro/colorpicker/#download)

[2022-06-28 11:10] edward-simpson commented on #35630
@engcom-Dash thanks for taking a look, it seems like your replication steps haven't quite matched my issue - the hyphened folder is in the pub root, so, e.g.

/var/html/www/pub/-Retail-/

And appear under the storage root as such:

- Storage Root
    - -Retail-
    -  catalog
    - wysiwyg

[2022-06-28 11:25] engcom-Delta commented on #35584
@magento give me 2.4-develop instance

[2022-06-28 11:27] engcom-Hotel commented on #35594
Hello @MagePsycho,

Thanks for the reply!

We have checked it for `HomePage` as well. But here also the issue is not reproducible for us. Please refer the below screencast for reference:

https://user-images.githubusercontent.com/51681618/176167597-fe98a994-9a85-49f8-818d-f2ed0c26b709.mp4

Please let us know if we have missed anything.

Thanks

[2022-06-28 11:32] bobemoe commented on #32256
Having same issue, 2.4.4CE

The workaround specified in OP ("Put a space before the currency symbol in the backend.") works fine for me.

The code change in post directly above does not make any difference for me.

[2022-06-28 11:36] engcom-November commented on #35670
Hi @schnere ,
Thanks for your reply. Since its not clear in Magento official docs regarding the usage of placeholders for meta data we are considering this as a feature request.
Thank you.

[2022-06-28 11:46] engcom-Delta commented on #35584
@magento give me 2.4-develop instance

[2022-06-28 11:53] gwharton opened #35693 "Media Gallery does not support uploading SVG"
### Description (*)
Media Gallery does not support uploading SVG images

### Expected behavior (*)
We should be able to upload SVG images to media gallery

### Benefits
SVG images are used extensively on the web.

### Additional information

[2022-06-28 12:27] zeljko989 commented on #35464
YEAH,  that was issue with my setup also, and I got this error below ( maybe to someone will be helpful ):

- During the upgrade command process

[code]

[2022-06-28 12:31] bashizee commented on #35649
@engcom-Delta  also we will need the discount percentage for the main price in front end, This also not available in the graphql.  This is required for calculation of discount for dynamic price

[2022-06-28 12:32] engcom-November commented on #35581
Hi @JelleGe ,
Please comment on this issue as "@magento give me 2.4-develop instance" to get vanilla Magento 2.4-develop instance.
Thank you.

[2022-06-28 12:36] engcom-Hotel commented on #35584
@magento give me 2.4-develop instance

[2022-06-28 12:37] cwwhisperpumps commented on #34269
I have tried this and it still isn't working :(

[2022-06-28 12:41] gwharton commented on #35693
Closed due to issues with SVG security

[2022-06-28 12:41] #35693 closed, assigned to nobody

[2022-06-28 12:53] cctorres commented on #34269
Sorry, so I don't know. I used it and it worked for me, but the project has custom attributes on the table and those attributes don't show up.

[2022-06-28 13:14] FYvwotschel opened #35694 "'htmlContent' in Ui Components not rendering if block has no name"
### Summary (*)
Creating the element 'htmlContent' in a UI Component Form does not render if the containing block does not contain a name. Also no error gets thrown, even with the console logger level set to 2.

### Examples (*)
[code]

### Proposed solution
- Display error message

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) a

[2022-06-28 13:20] jorgb90 commented on #35668
@engcom-November Its a core php script? The line is not PHP 8.1 compatible right?

[2022-06-28 13:30] FYvwotschel opened #35695 "'htmlContent' element in Ui Component form can not have 'settings', even though it's defined in the xml definition"
### Preconditions and environment

- Magento version: 2.4.3-p2

### Steps to reproduce

1. Create an UI Component form like this:
[code]

### Expected result

Should work without errors.

### Actual result

Error:
[code]

### Workaround
[code]

### Triage and priority

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users without workaround._
- [X] Severity: **S1** _- A

[2022-06-28 13:54] Quazz commented on #35517
@engcom-November As pointed out by @Mavlyan the problem only occurs on PHP >8 and only when the time hits midnight (since it checks for "day" changes)

@Mavlyan also provided a possible solution for this problem which seems to work!

[2022-06-28 14:33] cwwhisperpumps commented on #34269
![screenshot email](https://user-images.githubusercontent.com/107941857/176205786-ac86a5bb-4f4b-41f1-bed8-d603f682daee.png)

[2022-06-28 15:15] engcom-Hotel commented on #35650
Hello @Eddcapone,

Thanks for your response!

I am moving this issue as a feature request.

Thanks

[2022-06-28 16:00] sta1r opened #35696 "Public deleteSegmentCustomers method no longer used in CustomerSegment module"
### Summary (*)

In 2.4.1-p1, a change was made to stop using the public method `Magento\CustomerSegment\Model\ResourceModel\Segment::deleteSegmentCustomers()` in favour of the private `Magento\CustomerSegment\Model\ResourceModel\Customer\LinksMatcher::deleteSegmentCustomers()`.

See https://github.com/magento-commerce/magento2ee/commit/a2497862cdd547354be3c827eb28363a388c5864.

We have a plugin [

[2022-06-28 16:01] phoenix-bjoern commented on #35536
Can Varnish 7.1 be listed in [System Requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) as the supported version for 2.4.5? It is the recent version released back in March (https://github.com/varnishcache/varnish-cache/tags) and doesn't contain any breaking changes.

[2022-06-28 16:14] cctorres commented on #34269
No. I dont know how to fix that. sorry

[2022-06-28 16:40] slavvka commented on #35584
https://github.com/magento give me 2.4-develop instance

[2022-06-28 16:40] slavvka commented on #35584
@magento give me 2.4-develop instance

[2022-06-28 16:42] slavvka commented on #35584
@magento give me 2.4-develop instance

[2022-06-28 16:52] slavvka commented on #35584
@magento give me 2.4-develop instance

[2022-06-28 16:57] slavvka commented on #35584
@magento give me 2.4-develop instance

[2022-06-28 18:10] EugIvashAmasty opened #35697 "Email template preview issues"
### Preconditions and environment

- Magento version 2.4.4

### Steps to reproduce

1. Go to Marketing->Communications->Email Templates.
2. Go to any email template.
3. Click “preview template”

### Expected result

Template is not clipped
![d5904f78-5aa7-41f0-a5b8-d64880d8df09](https://user-images.githubusercontent.com/108362366/176252634-5a09cc89-3d80-463a-ad11-1e78ef5da19b.png)

### Actual resu

[2022-06-29 00:01] key-dev commented on #35681
Its not working.
I have even tried by removing "phpunit/phpunit": "^9" from composer.json and then trying adding "phpunit/phpunit": "^9.5"

It throws the following errors.

  Problem 1
    - Root composer.json requires magento/product-community-edition 2.4.3 -> satisfiable by magento/product-community-edition[2.4.3].
    - magento/magento2-functional-testing-framework[3.0.0, ..., 3.5.0] require al

[2022-06-29 01:54] nick-ose opened #35698 "Can't use Braintree Paypal without enabling Braintree Credit Card"
### Preconditions and environment

- Magento version 2.4.4
- Braintree PayPal enabled
- Braintree Card Payments Disabled

### Steps to reproduce

1. Enable Braintree in Admin
2. Set 'Enable Card Payments' to 'No'.
3. Set 'Enable PayPal through Braintree' to 'Yes'
4. Navigate to frontend
5. Add product to cart
6. Go to Checkout
7. Select the BrainTree Paypal method

### Expected result

PayPal meth

[2022-06-29 05:57] engcom-Delta commented on #35584
@magento give me 2.4-develop instance

[2022-06-29 06:18] engcom-Hotel commented on #35584
@magento give me 2.4.4 instance

[2022-06-29 06:19] constancyGmbH commented on #23938
sorry @toddliningerdesign but this is not the correct way. Taxes should *never* be recalculated! The order itself is fixed at the time it is placed. The problem that we describe is, that on an refund the tax on the creditmemo is not only the tax calculated from the refund amound, but alway the tax from the original order.

But if this is solved, your problem is also solved. If your client refunds

[2022-06-29 06:24] engcom-Hotel commented on #35464
Hello @zeljko989,

Thanks for the contribution!

Please let us know from which version to which version you are trying to upgrade the Magento.

Thanks

[2022-06-29 07:11] ioweb-gr opened #35699 "Cannot save only group_id using \Magento\Customer\Model\ResourceModel\Customer::saveAttribute"
### Preconditions and environment
 - 2.4.1

### Steps to reproduce

Use the following sample code

``{{php

public function __construct(
CustomerRepositoryInterface $customerRepository,
Customer $customerResourceModel,
CustomerFactory $customerFactory
}

{ $this->customerRepository = $customerRepository; $this->customerResourceModel = $customerResourceModel; $this->customerFactory = $customerFacto

[2022-06-29 07:51] engcom-Hotel commented on #35584
@magento give me 2.4.4 instance

[2022-06-29 08:59] engcom-Hotel commented on #35455
@magento give me 2.4-develop instance with edition ee

[2022-06-29 09:02] kiaann1 opened #35701 "My advanced reporting is not working I enabled it 2 days ago and still nothing, are you able to assist?"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2022-06-29 09:29] engcom-November commented on #35419
Hi @digi-booster , Thank you for reporting and collaboration. Unable to reproduce the issue in local system. Can you please check if the issue occurred due to missing extensions [Ref comment](https://github.com/magento/magento2/issues/35419#issuecomment-1143695517) and elaborate the steps if you are still facing any issues.
Thank you.

[2022-06-29 09:45] ryanpalmerweb commented on #35167
@vicehope What was the issue?

[2022-06-29 10:19] engcom-Dash commented on #35663
@magento give me 2.4-develop instance

[2022-06-29 10:20] engcom-Dash commented on #35630
@magento give me 2.4-develop instance

[2022-06-29 10:42] tuyennn commented on #17310
@engcom-November Could we have update status of this ticket

[2022-06-29 11:01] #35615 closed, assigned to engcom-November

[2022-06-29 11:01] engcom-November commented on #35308
Hi @JelleGe
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-06-29 11:01] #35308 closed, assigned to engcom-November

[2022-06-29 11:02] engcom-November commented on #35607
Hi @Asifjalil99 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-06-29 11:02] #35607 closed, assigned to engcom-November

[2022-06-29 11:30] nshekhada commented on #35474
This works for me works on Windows

Add "extension=sodium" to php.ini (no quotes)
Copy php/libsodium.dll to apache/bin/
Restart Apache

[2022-06-29 11:30] Darkwolf81 commented on #34318
Hello,
we have a silimar issue, dont know if it is the same error, seems the validation in laminas-validator. Emails with dot and hyphen although broken.
a.-test@example.com
only if 2 special-chars are together, alone it is no problem
These are working:
a.test@example.com
a-test.example.com
a.test-test@examlple.com

Regards,
Andreas

[2022-06-29 11:43] engcom-Delta commented on #35701
Hi @kiaann1 ,
Thank you for raising an issue , Kindly provide me the steps to reproduce ,actual test results, expected results and screenshots to replicate the issue.

[2022-06-29 11:51] engcom-November commented on #35697
Verified the issue on Magento 2.4-develop branch and the issue is reproducible. Hence confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/176429854-21c6343b-3413-4bc8-9cd7-56fabb785e60.png)

[2022-06-29 11:53] kiaann1 commented on #35701
Hi,

Here are the steps I had followed

Step 1: Enable Advanced Reporting
In the Commerce configuration, [Advanced Reporting](https://docs.magento.com/user-guide/configuration/general/advanced-reporting.html) is enabled by default, and starts automatically if cron is [configured](https://docs.magento.com/user-guide/configuration/advanced/system.html) and running. An attempt to establish the subscr

[2022-06-29 12:12] devchris79 commented on #35681
For some reason you are not picking up the latest symfony/finder, that's then restricting other things:

It appears there up at v6, so why your latest is v4.4.41 I don't know.

[2022-06-29 12:35] drinkingsouls opened #35702 "Disallowed File Type for YouTube Videos"
### Preconditions and environment

- Magento 2.4.3-p2 & Magento 2.4.4
- YouTube API Key correctly set up

### Steps to reproduce

1. Add YouTube Video to product.

### Expected result

Video is added correctly to product listing.

### Actual result

YouTube video fails to add due to "disallowed file type" warning.

<img src="https://i.ibb.co/ry9vpM2/YCnWO.jpg" alt="disallowed file type" title="dis

[2022-06-29 12:41] engcom-Delta commented on #35644
Hi @stormbyte ,
Thank you for raising an issue , Kindly provide steps , actual results and  expected results.

Regards,

[2022-06-29 12:57] engcom-Lima commented on #31656
Hi @YiffyToys

Thanks for your contribution and collaboration.
As per the @hostep  [comment](https://github.com/magento/magento2/issues/31656#issuecomment-948300013) magento is now supporting OpenSearch in there compatible version. Kindly refer the [document](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) for your reference.
Kindly close the issue.

[2022-06-29 12:59] jrswgtr opened #35703 "Error: Call to a member function getUserName() on null in vendor/magento/module-contact/view/frontend/templates/form.phtml"
### Preconditions and environment

- Magento 2.4.3-p1
- PHP 7.4.28

### Steps to reproduce

1. Navigate to the contact page

### Expected result

The customer sees the contact form

### Actual result

The next error shows:

### Additional information

The `getUserName()` method is called on `\Magento\Contact\ViewModel\UserDataProvider` which is null because the block `\Magento\Contact\Block\Contac

[2022-06-29 13:06] engcom-Lima commented on #35552
Hi @gelado

Thanks for your contribution and collaboration.
I tried to reproduce this issue. But I am unable to reproduce. I followed the mentioned steps-

**Preconditions and environment**

- Magento 2.4.4
- A lot of orders and customers on the database

**Steps to reproduce:**

1. Navigate to admin panel in Magento.
2. Go to Reports >> Abandoned Carts.
3. On my case, I have 1500 abandoned carts

[2022-06-29 13:09] dragonfly4 opened #35704 "Backend Catalog Bundled products do not load when using Dutch language"
### Preconditions and environment

- Magento version v2.4.4
- PHP Version 8.1.7

### Steps to reproduce

1. Navigate to adminhtml and login
2. Set user language to English
3. create bundle product and assign discount
4. Navigate to Catalog -> Products
5. Set filter on Type: Bundle Product
6. Products load normally
7. Change user language to Dutch
8. Navigate to Catalog -> Products
9. Set filter on

[2022-06-29 13:11] dragonfly4 commented on #35704
@magento give me 2.4-develop instance

[2022-06-29 13:21] dragonfly4 commented on #35704
The problem is reproducible on the develop instance

![adminhtml_catalog_products_dutch_dev_instance](https://user-images.githubusercontent.com/221351/176446350-4999baaa-818c-44b9-8ed8-3a66e2ddd4a1.jpg)

![adminhtml_catalog_products_dutch_dev_instance_language](https://user-images.githubusercontent.com/221351/176446486-c4e0fcd0-4088-4f38-abc9-1ce3a06c2125.jpg)

[2022-06-29 13:32] devchris79 commented on #35681
Try `composer show "symfony/finder" --all`

It should show all the versions in the repository, I see up to 6.1.0 as a release instance (there are also betas)

[2022-06-29 13:44] MaksSum41 commented on #35697
@magento I am working on this

[2022-06-29 13:52] n2diving-dgx commented on #35584
FYI, I contacted the original authors of the Braintree extension embedded in 2.4.4, named Gene Commerce, and they were able to reproduce the problem.   They have developed a patch which resolves the issue.

[2022-06-29 14:36] key-dev commented on #35681
Sorry, i am not pro, can you explain where to update it?

[2022-06-29 14:50] Nuranto opened #35706 "Remote storage issue"
### Preconditions and environment

- Magento version 2.4.4
- PHP8.1.7 (allow_url_fopen = ON)

### Steps to reproduce

1. Configure remote storage (S3, minio, ...)
2. Upload an image in Stores > Configuration > Sales > Sales > Logo for PDF Print-outs (200x50)
3. Place an order and invoice it
4. Try to print invoice from backend

### Expected result

PDF is generated

### Actual result

[code]

###

[2022-06-29 15:02] devchris79 commented on #35681
composer require symfony/finder "^4.4.41"

[2022-06-29 18:02] tionousman opened #35707 "Cart Price Rule Discard Subsequent Rules Not Working As Intended"
### Preconditions and environment

- Magento version : 2.4.4
- PHP : 8.1

### Steps to reproduce

1. Create a Cart Price Rule with a coupon code (name it TEST) that gives $10 discount to Product ID 1 with "Discard Subsequent Rules" set to "Yes" and Priority set to 1
2. Create another Cart Price Rule without coupon code that gives $5 discount to Product ID 2 with Priority set to 10 (we assume this

[2022-06-29 18:12] toddliningerdesign commented on #23938
Yes, my wording was wrong. I didn't mean to indicate that anything should be changed on the original order. We're all after the same thing here: the ability to accurately calculate and log the amount of taxes being refunded when issuing a partial refund rather than the entire purchase price. Thanks, @constancyGmbH, for clarifying!

[2022-06-29 18:56] simonmaass commented on #35603
can confirm this issue on 2.4.4 - not only on invoices but also on credit memos

[2022-06-29 19:10] profRomanovski commented on #35410
How it's going on?

[2022-06-30 01:52] kotisyamala commented on #25294
The same issue for me also on 2.4.4

[2022-06-30 06:39] cankarales commented on #35584
@n2diving-dgx correct! I already pointed this out in my first comment. Has Gene Commerce already released the patch? If so, where can we find it?

[2022-06-30 06:48] mortenbirkelund commented on #35237
Still relevant

[2022-06-30 07:44] hoshiray opened #35708 "MySQL errors while running setup:upgrade (Incorrect index name 'PRIMARY')"
### Preconditions and environment

- 2.4.4
- Upgraded from 2.3.2

### Steps to reproduce

Upgrade from version 2.3.2 with some data in database especially in `catalog_url_rewrite_product_category` table. Then run `bin/magento setup:upgrade`

### Expected result

Command ran successfully and DB tables are updated

### Actual result

SQLSTATE[42000]: Syntax error or access violation: 1280 Incorrect

[2022-06-30 07:50] engcom-Hotel commented on #35237
Hello @mortenbirkelund,

We have tried to reproduce the issue as per the main description but the issue is not reproducible. Please let us know if we have missed anything in order to reproduce the issue.

Thanks

[2022-06-30 08:46] engcom-Dash commented on #35663
Hi @Thirumalbalu ,
We need following information to proceed further Steps...

Summary of the issue
Information on your environment
Steps to reproduce
Expected and actual results

Thanks!!!

[2022-06-30 10:16] engcom-Hotel commented on #35410
@Pranav-242 Can you please provide us the Community PR link if you are working on this issue. Else, you may link the PR ticket to this issue.

Thanks in advance!

[2022-06-30 10:45] MaksSum41 commented on #35550
@magento I am working on this

[2022-06-30 10:47] engcom-Lima commented on #35510
Hi @manjeetrwm

Thanks for your contribution and collaboration.
Kindly provide description and steps to reproduce the issue.

[2022-06-30 11:20] engcom-Dash commented on #35170
@magento give me 2.4-develop instance

[2022-06-30 11:20] engcom-Dash commented on #35191
@magento give me 2.4-develop instance

[2022-06-30 11:34] artskirk commented on #35545
@magento give me 2.4-develop instance

[2022-06-30 11:39] artskirk commented on #35545
@magento I am working on this

[2022-06-30 11:51] engcom-Hotel commented on #35515
Hello @Minirock,

We have tried it with the below class as well:

`Magento\Framework\Filesystem\Io\Ftp`

We have tried to write almost 11MB file through FTP. But it was working properly for us. Please let us know if we have missed anything.

Thanks

[2022-06-30 11:55] engcom-Lima commented on #33457
@magento give me 2.4-develop instance

[2022-06-30 12:29] engcom-November commented on #35708
Hi @o7-sol ,
Thank you for reporting and collaboration. Verified the issue by upgrading from 2.3.2 to 2.4.4 but could not able to reproduce the issue.
Steps performed:
Installed Magento 2.3.2 project-community-edition with data in catalog_url_rewrite_product_category table.
Upgraded to Magento 2.4.4 Project-community-edition using: [Ref guide](https://experienceleague.adobe.com/docs/commerce-opera

[2022-06-30 13:02] engcom-Delta commented on #35642
Hi @ilnytskyi ,
Thank you for logging an issue and kindly provide if you have any documentation that async API logs , additional details of request like headers & ip address.

Regards,

[2022-06-30 13:39] engcom-November commented on #35702
Hi @drinkingsouls ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
**Steps performed:**
1. Magento Youtube API key setup using https://docs.magento.com/user-guide/catalog/product-video.html
2. Edited a product and expanded images and videos section - uploaded you tube video and saved
No issue: User is able to s

[2022-06-30 13:46] engcom-Lima commented on #33457
Hi @ioweb-gr
i have tried to reproduce the issue. I have used performance fixtures in which around 50k orders got created with 10 store views. Here, didn't found any increment_id which got duplicated.Please refer this [video](https://shared-assets.adobe.com/link/cf6a98d2-7238-42f3-7d23-405eba4212d3) for your reference.

[2022-06-30 14:03] engcom-November commented on #35532
Verified the issue again on Magento 2.4-develop branch with enterprise edition and found below issue.
Issue: Related products are not retrieved in the response.
![image](https://user-images.githubusercontent.com/60198231/176697112-4bf1c687-3fb2-41e2-b698-c60fafe46547.png)
For other products having no attribute value - related products are retrieved in the response. Updating the description
![image

[2022-06-30 14:54] martin-cod commented on #35457
There is one more addition to the issue related to **SimpleDataObjectConverter** utility class

![image](https://user-images.githubusercontent.com/33550246/176709026-8e1df9f4-d941-410c-bae5-ef306867a77e.png)

[2022-06-30 14:59] engcom-Delta commented on #35707
Hi @tionousman ,
Thank you for raising an issue but issue is not reproducible. observed that for both the products first cart price rule is getting applied . Kindly refer the attached video.

https://www.loom.com/share/b51f03189fb84c6991f3b83747401eaf
Regards,

[2022-06-30 20:38] Den4ik commented on #32456
Issue fixed in https://github.com/magento/magento2/commit/86acabb3a77042d986af7232b91f60f08a70c29a

[2022-06-30 20:38] #32456 closed, assigned to nobody

[2022-06-30 21:16] ericerway commented on #30835
@magento give me 2.4.4 instance

[2022-07-01 03:06] tionousman commented on #35707
@magento give me 2.4-develop instance

[2022-07-01 03:56] tionousman commented on #35707
Hi @engcom-Delta the issue is reproducible on Magento instance I requested. This is the step by step

1. Add Joust Duffle Bag to your cart https://f715d3be47fccca5eb1944cb49639749.instances.magento-community.engineering/joust-duffle-bag.html
2. Add Affirm Water Bottle to your cart https://f715d3be47fccca5eb1944cb49639749.instances.magento-community.engineering/affirm-water-bottle.html
3. In the ca

[2022-07-01 06:34] m2-assistant[bot] opened #35711 "[Issue] Add missing semicolons for 'const' and 'let'"
This issue is automatically created based on existing pull request: magento/magento2#35540: Add missing semicolons for 'const' and 'let'

---------
### Description
Semicolons are required according to the Magento coding standard:
https://github.com/magento/magento-coding-standard/blob/50e7c2ad3d7110b06527d75a1aa954b7c20f6ea1/eslint/.eslintrc-magento#L89

While there are many missing semicolons in

[2022-07-01 08:46] NickvdMeij commented on #35595
@magento give me 2.4.3-p1 instance

[2022-07-01 08:47] nuzil commented on #35675
@magento give me test instance

[2022-07-01 08:47] nuzil commented on #35675
@magento give me 2.4-develop instance

[2022-07-01 08:52] NickvdMeij commented on #35595
This is not the bug i was reffering to. The bug happens currently since update 2.4.3-p1 but sadly i cant get a clean magento instance to test it for you guys, or setup a testcase for that matter.

Like in the bug description, if you have multiple stores, it removed all bundle options from the previous siteview if you update them in a different site view using the REST api. So the next sequence hap

[2022-07-01 08:56] NickvdMeij commented on #35595
@engcom-Delta please fix this. Been trying to get a test instance for a while now and it always seems to be unavailable...

[2022-07-01 08:56] NickvdMeij commented on #35595
@magento give me 2.4-develop instance

[2022-07-01 09:41] giangvdm commented on #31337
We have every reason to implement this as a new feature. Please accept and work on this one.

[2022-07-01 09:55] engcom-Hotel commented on #35699
Hello @ioweb-gr,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch. Actually, I have a suggestion here, no need to save group_id as an attribute. The `customer_entity` table has `group_id` field. So we can set it through the customer model as given below:

[code]

Let me know in case of a query.

Thanks

[2022-07-01 10:34] ioweb-gr commented on #35699
@engcom-Hotel Saving the whole customer is a actually a much heavier process as it saves both the customer model and his address.

We have over 50k customers which need to be processed daily for group changes based on their order totals, so saving the whole customer including his address every single time is consuming a lot of resources especially memory-wise.
Moreover the time of processing is mu

[2022-07-01 10:38] engcom-Dash commented on #35340
@magento give me 2.4-develop instance

[2022-07-01 10:40] devchris79 opened #35713 "Magento 2.4.4 product video not working"
### Preconditions and environment

- Magento 2.4.4
- PHP 8.1

### Steps to reproduce

Follow [official documentation](https://docs.magento.com/user-guide/catalog/product-video.html) for adding product videos

### Expected result

Video added to product page, this was working for us in previous version 2.4.3, but appears to not work in 2.4.4.

### Actual result

After adding the link like https://w

[2022-07-01 10:40] Vishrootways commented on #35335
@hostep Updating magento/zendframework1 to version 1.15.1 works. Thank you

[2022-07-01 10:41] engcom-Hotel commented on #35064
Hello @ameysar,

Thanks for the report and collaboration!

I would like to suggest you to use the customer model as given below:

[code]

Let us know in case of any queries.

Thanks

[2022-07-01 10:58] ameysar commented on #35064
@engcom-Hotel, I've already used workaround, but as for me [\Magento\Eav\Model\Entity\AbstractEntity::saveAttribute](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Eav/Model/Entity/AbstractEntity.php#L1670) should work correclty and should be aware of static attributes.

[2022-07-01 11:10] engcom-November commented on #35367
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
As per Magento [devdocs](https://developer.adobe.com/commerce/frontend-core/guide/templates/email-layout-handle/),  layout handle should be:
layout handle="sales_email_order_creditmemo_items" creditmemo_id=$creditmemo_id order_id=$order_id:"Credit Memo Items Grid"

[2022-07-01 11:14] NickvdMeij commented on #35595
After finally being able to do some testing on a clean magento image, I sadly did not manage to reproduce it in the 2.4.4-develop branch. However, I did come across another illogical bug surrounding the same workflow.

In the test instance, i created 3 websites+stores+storeviews names store_view_1 to store_view_3. I created 3 virtual products, 1 meant as "main product", which is always required in

[2022-07-01 11:15] NickvdMeij commented on #35595
https://github.com/magento give me 2.4.3-p1 instance

[2022-07-01 11:15] NickvdMeij commented on #35595
@magento give me 2.4.3-p1 instance

[2022-07-01 11:46] engcom-Dash commented on #35713
Hello @devchris79 ,
We have tried to reproduce the issue in Magento 2.4-develop branch the issue is not reproducible.

Please refer the below screenshot for the reference;
![Screenshot from 2022-07-01 17-01-43](https://user-images.githubusercontent.com/60198592/176887050-e9451f62-455f-48aa-be5d-0214e0424750.png)

Let us know in case we have missed anything. Thanks

[2022-07-01 11:47] engcom-November commented on #35685
Thanks for the update @Nuranto. Verified the issue again on Magento 2.4-develop branch with above mentioned [steps](https://github.com/magento/magento2/issues/35685#issuecomment-1171322853) and the issue is reproducible. Hence confirming the issue.

[2022-07-01 11:49] devchris79 commented on #35713
Hi @engcom-Dash The issue was linking to Youtube hosted videos using the API key, but the screenshot you have seems to indicate a failed attempt to upload an mp4??

[2022-07-01 12:07] engcom-Dash commented on #35713
Hi @devchris79 ,
Thanks For your Reply...I am facing difficult to get a API for you tube...Kindly provide API key.

Thanks!!!

[2022-07-01 12:16] devchris79 commented on #35713
Here is a temporary key:
AIzaSyDutMydCf8yNxnNH6ULRPbVZnX2vcp29Ls

[2022-07-01 12:55] wyomind opened #35714 "Cart price rules - Incorrect discount amount when using fixed discount amount for whole cart which applies to shipping amount"
### Preconditions and environment

- Magento version 2.4.3 with sample datas.

### Steps to reproduce

1. Create a tax rate (20%) applied on both products and shipping. https://screenrec.com/share/GVq5dIjwnp

2. Configure the tax base calculation to make the tax be applied by default https://screenrec.com/share/3Yv4WJRpDS

3. In Sales > Tax configuration Panel:
Tax Class for Shipping : Taxable Goo

[2022-07-01 12:55] wyomind commented on #35714
-- Please reply above this line --

Hey Magento/magento2,

Thank you for your message.

 Your request has been correctly submitted.
    
 We’ll be getting back to you as soon as possible!

 Best Regards,
 The Wyomind Team

[2022-07-01 13:03] wyomind commented on #35714
In addition to this, if the amount for the cart rule is bigger than the order total (lets say 100€) the order total after discount doesn't go to 0: https://screenrec.com/share/wPibC7jJsD

It looks like the discount is NOT applied to the shipping amount's VAT

[2022-07-01 13:11] emrahuyanik opened #35715 "Partial refund for Gift Cards"
### Preconditions and environment

Magento version 2.4.3-p1 Enterprise

### Steps to reproduce

1. Add 2 gift cards product to the cart (it can be same or different product)
2. Place an order
3. Navigate to order detail in admin panel
4. Navigate to invoce detail
5. Click Creditmemo
6. Create a creditmemo for 1 item

### Expected result

1 Gift card should be removed. The other gift card which has

[2022-07-01 14:06] yasireg opened #35716 "Paypal issue with Magento 2.4.3-P2"
### Preconditions and environment

- Magento version 2.4.3-P2
-After upgrading from 2.4.3-P1 to 2.4.3-P2

### Steps to reproduce

we are experiencing an issue while placing an order with papal, where we get **A wrong PayPal Express Checkout Token is specified**.

1. Enable promotion on specific products with Amasty promo module (Auto-add product)
2. Adding the products into the cart which will als

[2022-07-01 14:07] engcom-Delta commented on #35707
@magento give me 2.4-develop instance

[2022-07-01 14:08] devchris79 commented on #35713
I have found and sorted the issue, it appears that Google have zeroed the API requests limit per day:
![image](https://user-images.githubusercontent.com/43850303/176910133-6bbf0541-3d0a-45bb-ba65-26588e043511.png)

I got the clue for the issue [from here](https://github.com/googleapis/google-api-nodejs-client/issues/2263#issuecomment-741892605), I had assumed the low use mean't the issue was at th

[2022-07-01 14:08] #35713 closed, assigned to engcom-Dash

[2022-07-01 14:54] nahall commented on #30277
I can confirm this issue. I have never had Temando Shipping installed but have the same error when Magento_Swatches is disabled. Enabling Magento_Swatches fixes it, but why should Magento_Swatches need to be enabled?

[2022-07-01 15:24] Nuranto commented on #35706
[code]

I misunderstood the PHP doc, it is indeed not allowed by PHP, cf here : https://www.php.net/manual/fr/wrappers.http.php
So it is "normal" that the code crashes. And `Zend_Pdf_Image_Factory` should definitely be rewritten.

[2022-07-01 16:05] Nuranto commented on #35706
If someone is stuck with this, here is a temporary fix

[code]

[2022-07-01 18:56] abukatar commented on #33386
Started work analysis for [AC-2423](https://jira.corp.magento.com/browse/AC-2423)

[2022-07-01 22:02] drinkingsouls commented on #35702
I can confirm that I have phpinfo enabled.
I did not have this issue on previous versions of Magento prior to 2.4.3.

[2022-07-02 09:20] magentoprasad commented on #34811
same issue are showing in Magento 2.4.4

[2022-07-02 09:32] magentoprasad opened #35717 "Something went wrong with processing the default view and we have restored the filter to its original state. Magento V 2.4.4"
### Preconditions (*)

1. Admin - Catalog Product
2.

### Steps to reproduce (*)

1. After navigate product page from admin this error will get.
2.
3.

### Expected result (*)

1. Access smoothly products and add / edit products.

### Actual result (*)

1.
![error-](https://user-images.githubusercontent.com/15624977/176994945-ab6f86e8-252f-4d6f-b74f-5aa24654741c.png)
![Inventory _ Catalog _ Magent

[2022-07-02 10:10] qsolutions-pl commented on #35680
I'll just leave a note so the issue is not closed by stale-bot

[2022-07-02 10:17] jakwinkler opened #35718 "Plugin disabled for adminhtml gets disabled for frontend environment emulation"
### Preconditions and environment

- Magento version: 2.4.3-p1.

### Steps to reproduce

1. Create a global plugin that changes the product name and define it in `etc/di/xml`
[code]
plugin:
[code]
2. Disable the same plugin in `etc/adminhtml/di.xml`
[code]
3. Create a cron  / CLI task that fetches products from the repository and iterates through them
4. Try to get the product name in the look / b

[2022-07-02 13:04] heyqule commented on #7730
rofl. Isn't this issue fixed in 2.2 and 2.3?  Did they break it again in 2.4?

Adobe probably gonna fix it in Magento 3.

[2022-07-02 13:26] #35663 closed, assigned to engcom-Dash

[2022-07-02 13:27] Thirumalbalu commented on #35663
Vanilla instance working fine and i have issue in our custom modules.

Thanks!

[2022-07-02 21:00] deurzen commented on #31643
Any update on this issue? In 2.4.4, customer order queries are still returning `null` for the `comments` field.

[2022-07-03 01:33] kmosdev commented on #35542
@sheepfy I had this same issue and created a patch for it.

This code can be saved as a .patch file and placed in /m2-hotfixes

`
diff --git a/vendor/magento/module-price-permissions/Observer/AdminhtmlBlockHtmlBeforeObserver.php b/vendor/magento/module-price-permissions/Observer/AdminhtmlBlockHtmlBeforeObserver.php
index 974b4ec..2ac0e01 100644
--- a/vendor/magento/module-price-permissions/Observe

[2022-07-03 07:47] sheepfy commented on #35542
@kmosdev Hi!
That's the patch that I've used, I'd go with "!$block->getNameInLayout()" since the return value is just a string|null and "!" is doing the same thing as "empty"

file: magentoroot/patches/composer/github-issue-35542.diff
[code]

[2022-07-03 16:56] shuvoenr commented on #35464
@engcom-Hotel

Please do try with configuration @hoangngo-calvin at first line.

Magento 2.4.3-p2
php7.4.30
MySQL 8.0
Ubuntu 22.04

With ubuntu 22.04.

I tried with that configuration and every-time found same issue & that's weird.

apt install php7.4-mcrypt install solved the issue but which obviously not optimal. As Magento release on 12 April. On the other hand ubuntu release on 21st april.

Th

[2022-07-03 18:15] magentoprasad commented on #35717
additionally now we facing issue for catalog-product page
list of products not showing on page.
![Product_ Catalog _ Magento Admin](https://user-images.githubusercontent.com/15624977/177052281-7ecb41a3-f0e2-41bb-b327-3bdb95b40d9f.png)

[2022-07-04 04:20] NguyenXuanNam commented on #34967
thanks.

[2022-07-04 04:20] #34967 closed, assigned to rvr-robert

[2022-07-04 05:59] davidandersson1 commented on #31219
Hello @sunilit42

Can you please help me, I want to change table space should be "innodb_file_per_table" on mysql 8 as you said above but I do not getting exactly how and where I have to change and perform again price indexer to check the index timing.

So if possible can you please provide me steps to do it.

Thanks in advance!
David Andersson

[2022-07-04 06:49] davidandersson1 commented on #31219
For example, if we have 350k products where only 600-700 products are bundle products where dynamic price = Enabled then price reindex taking around 17-18 mins with MySQL 8.x.x, if we just disabled or remove those 600-700 bundle products then price reindex taking only 3-4 mins to complete it. so main issue is as i described above like Dynamic price Bundle products  with MySQL 8.x.x is taking lots

[2022-07-04 07:05] kingshukdeb commented on #34898
@engcom-Hotel, Can you try to add that text in 2.3.2 EE and then upgrade to 2.4.3p1 EE and check if you can save the page.

[2022-07-04 07:10] simonrl commented on #7730
@heyqule I noticed that sometimes Flat-Index was enabled, and disabling it solved the problem. It's not recommended to enable it anyways.

[2022-07-04 07:24] tionousman commented on #35707
Hi @engcom-Delta ,

Thank you for the details. I noticed one difference between my cart rules and yours. So I didn't use the "Conditions", but instead I put the specific SKU condition under the "Action". So the "Conditions" should be empty (valid for all) but in the "Action" add the SKU condition so the discount will apply only on the specific product. Could you please try it again?

[2022-07-04 07:28] sunilit42 commented on #31219
@davidandersson1

ALTER TABLE catalog_category_product_index_store1 TABLESPACE = innodb_file_per_table;
- i have same query again for each store

[2022-07-04 07:55] davidandersson1 commented on #31219
Hi @sunilit42 thanks a lot for your quick reply.

However before I run your suggested query, in my case issue below query taking much time during price index run. ( dynamic price type bundle products is original cause)

INSERT INTO `catalog_product_index_price_bundle_sel_temp` SELECT `i`.`entity_id`, `i`.`customer_group_id`, `i`.`website_id`, `bo`.`option_id`, `bs`.`selection_id`, IF(bo.type = 'se

[2022-07-04 08:05] m2-assistant[bot] opened #35719 "[Issue] Improve price index consistency and run time"
This issue is automatically created based on existing pull request: magento/magento2#35524: Improve price index consistency and run time

---------

### Description (*)
With a very large product set (~213k) on 1 of our sites, the price index (and through the use of MSI, the inventory index) takes a very long time to complete, with multiple hours spent executing deleteIndexData. It seems the primar

[2022-07-04 08:17] engcom-Lima commented on #35715
Issue is reproducible on 2.4 -develop branch. Steps to reproduce is same as above comment but for me issue is reproducible with two types of Gift card (ex- gift card virtual + gift card phyical/combined). Hence, confirming the issue.

[2022-07-04 08:22] davidandersson1 commented on #31219
Thanks a lot @sunilit42 for your quick response. I will try with it!

[2022-07-04 08:27] haroldclaus commented on #34566
Same issue here on Magento 2.4.4 (Open Source) + PHP 8.1
`[Progress: 1018 / 1023]
Installing admin user...
[Progress: 1019 / 1023]
Caches clearing:
Cache cleared successfully
[Progress: 1020 / 1023]
Disabling Maintenance Mode:
In ResourceConnection.php line 148:

  [DomainException]
  Connection "default" is not defined

Exception trace:
  at /phpapp/vendor/magento/framework/App/ResourceConnection

[2022-07-04 08:46] convenient commented on #33965
FWIW i saw this dropping off after upgrading to 2.4.3

[2022-07-04 10:22] Eddcapone commented on #31337
@magento-devops Many people need this feature as you can see.

[2022-07-04 10:23] Eddcapone commented on #35684
@mrtuvn Then how can I solve it?

[2022-07-04 10:59] hcsarah commented on #30583
hello, can you please let me know how you managed to set secure flag for mage-messages cookie ?

[2022-07-04 11:00] mrtuvn commented on #35684
have you try add mixin at file _extends ?. In your module

[2022-07-04 11:05] dphilipps commented on #23618
We've had the issue occur 3 times on version 2.4.3-p1.  Guest checkout OFF, persistent cart OFF.

[2022-07-04 11:10] engcom-Delta commented on #35717
Hi @magentoprasad ,
Thank you logging an issue . We tried to reproduce the issue on magento 2.4 develop, issue is not reproducible.
Please find the attached screenshots for reference.

![Screenshot (247)](https://user-images.githubusercontent.com/51681379/177143009-aca274d3-3aec-4e3d-a917-518d1d3046f5.png)

![Screenshot (248)](https://user-images.githubusercontent.com/51681379/177143036-8364f829-b

[2022-07-04 11:13] mrtuvn commented on #35684
Just curious why not to use in theme scope/area in app/design

[2022-07-04 11:31] jissereitsma opened #35720 "Monolog 2.7 issue with Integration Tests"
### Preconditions and environment

This occurs with any Magento instance (2.4.*) that has a dependency with Monolog 2.3.X and actually has Monolog 2.7 installed.

### Steps to reproduce

1. Setup integration tests as usual.
2. Confirm Monolog 2.7 is installed.
3. Run integration tests with a simple test of some kind.

### Expected result

The tests should be initialized.

### Actual result

As soo

[2022-07-04 11:34] jissereitsma commented on #35720
A possible fix for this would be not to create a new class that extends the original class, but have the new class inject itself in the constructor with the old class and then serve as a proxy.

Another possible fix is to simply add the 4th argument to `addRecord`.

Yet another possible fix is to lock Monolog to something between 2.3 and 2.7 (but not including 2.7).

[2022-07-04 13:15] davidandersson1 opened #35721 "2.4.3-p1 + MySQL version: 8.x.x with catalog price index taken too long"
### Preconditions and environment

- 2.4.3-p1
- MySQL version: 8.x.x
- PHP version 7.4

### Steps to reproduce

1) create around 350k~ products **with 500-600 products where type_id = bundle and Dynamic Price = Yes with min 5-6 options with each product**
2) Run catalog_product_price indexer

### Expected result

it's take only around 5-6 mins.

### Actual result

its took 18-20 mins instead of 5-

[2022-07-04 13:47] #35720 closed, assigned to nobody

[2022-07-04 14:39] engcom-Delta commented on #35595
Hi @NickvdMeij ,
Thank you for providing details. We tried to process the it but its not working and throwing different error for first request.

Request:
{
   "product":{
      "sku":1004,
      "name":"Bundle product 1",
      "attribute_set_id":4,
      "price":0,
      "status":1,
      "visibility":4,
      "type_id":"bundle",
      "extension_attributes":{
         "stock_item":{

[2022-07-04 14:40] rajesh-xcube commented on #34566
Hi Got the same issue. I am trying on Ubuntu machine Magento 2.4.4 + PHP 8.1.

[Progress: 1316 / 1319]
Disabling Maintenance Mode:

In ResourceConnection.php line 148:

  Connection "default" is not defined

[2022-07-04 14:42] Adel-Magebinary commented on #32898
@matteolavaggi did you find a solution?

[2022-07-04 14:44] engcom-Delta commented on #35721
Hi @davidandersson1 ,
Thank you for raising an issue. We tried to reproduce the issue on magento 2.4 develop instance. Could you please confirm that do we need to create 350000 products to reproduce the issue ? please confirm.

Regards,

[2022-07-04 14:49] wasimhc opened #35722 "Why api tag here?"
https://github.com/magento/magento2/blob/4c36116dcf878e127059d9be9566a119783583f2/app/code/Magento/Store/Model/App/Emulation.php#L15

[2022-07-04 16:11] iphigenie commented on #28183
It seems fine on 2.4.4
The sort order of attribute values on front end is still messed up on the other hand

[2022-07-04 16:15] ManikandanKaruppaiah commented on #22814
Solution not worked fro me as well

[2022-07-04 23:11] KarenO24 opened #35723 "The attached file can't be seen on clients end."
### Preconditions and environment

- Magento version Magento ver. 1.9.3.6
- Anything else that would help a developer reproduce the bug

We are trying to attach png, PDF file when responding to clients' emails but on clients' end they don't see it.

### Steps to reproduce

Helpdesk
respond to open/new ticket
click the attached file and attached a file
then send a response.

### Expected result

Cl

[2022-07-05 04:06] davidandersson1 commented on #35721
In order to confirm that 350k requires or not, we have one more test instance with same configuration (2.4.3-p1 + MySQL version: 8.x.x + PHP version 7.4), till time there we have 132k~ only simple products but now we have imported there 75~ around bundle dynamic products and tried to perform the catalog product index.

Below are the difference. so now I can confirm that those 350k products does no

[2022-07-05 04:44] davidandersson1 commented on #35721
Here I meant tried to perform the catalog product price reindex (catalog_product_price).

[2022-07-05 05:38] engcom-November commented on #35591
Hi @zxiaoh ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-07-05 05:38] #35591 closed, assigned to engcom-November

[2022-07-05 06:52] hoshiray opened #35724 "2.4.4 Configurable products are out of stock"
### Preconditions and environment

- Magento version 2.4.4

### Steps to reproduce

1. Create/Import configurable products in Magento
2. Product wont be displayed in catalog and will be out of stock even though it is selected in stock in product settings

### Expected result

Configurable product should be in stock

### Actual result

Product wont be displayed in catalog and will be out of stock e

[2022-07-05 07:14] evktalo commented on #34033
Is there a fix on 2.4-develop branch?

[2022-07-05 07:22] evktalo commented on #34033
Since this was closed in Nov 2021, I assume the fix should be in 2.4.4, but I'm still encountering this issue in that version.

[2022-07-05 08:23] NickvdMeij commented on #35595
@engcom-Delta perhaps have a look at your own test instances. It seems that they are once more broken. I've already debugged this twice for you guys now, its getting a bit annoying I must say.
I'd suggest you setup a test image yourself and go through the steps i described twice (and applied on the by you  provided test image which is now totally broken for some reason) to reproduce this issue.

!

[2022-07-05 08:31] ihor-sviziev commented on #35683
@Nuranto, I think it's a duplicate of https://github.com/magento/magento2/issues/34733

[2022-07-05 10:21] mrtuvn commented on #35684
You can try this approach (but this is custom module) not default function of magento
https://github.com/swissup/module-rtl#less-mixins

[2022-07-05 10:47] engcom-Delta commented on #35707
@magento give me 2.4-develop instance

[2022-07-05 11:05] engcom-November commented on #35724
Hi @o7-sol ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue. Configurable products created are displayed on storefront in stock and able to place orders.
![image](https://user-images.githubusercontent.com/60198231/177313996-07cf251d-bafd-46e8-93cb-d87d287808ed.png)

![image](https://user-images.githubusercontent

[2022-07-05 11:11] Eddcapone commented on #35684
Because it is only needed for the extension. If the extension is not active e.g. because it is only enabled for a certain store view, then the style is not needed.

[2022-07-05 11:24] Nuranto commented on #35683
@ihor-sviziev, Oh yes probably. I didn't find it before creating this one. (And I forgot it existed, even if I commented on it on May :p )

I think we could keep this one open for the errors though, which seem to be PHP8.1-compatibility issues.

[2022-07-05 11:30] #35532 closed, assigned to SergeyP18

[2022-07-05 11:31] engcom-Delta commented on #35707
Hi @tionousman ,

Many thanks for confirmation on condition part. After removing condition section and added sku in action section, then issue is reproducible on Magento 2.4. develop instance.

Hence confirming the issue.
Please find the attached reference video.
https://www.loom.com/share/b5bbd3c6dd0842d8931b8cd159b02df2

[2022-07-05 11:33] oneserv-heuser commented on #34562
More than 8 months now 😂

[2022-07-05 12:12] o7-sol commented on #35724
Problem is when you change product stock in this order:
1. In Stock
2. Out of stock
3. In Stock

The product will be out of stock with the value of `stock_status` zero in `cataloginventory_stock_status`

[2022-07-05 12:32] engcom-Dash commented on #35723
Hi @KarenO24 ,
Kindly Attach the Screenshots.  Because it is will easy to proceed to further in this Instance.

Thanks

[2022-07-05 12:54] mautz-et-tong commented on #34562
This official repository is getting a clown show more and more. Can't wait for the community to take over and start the fork. Adobe seems to be not able to handle this

[2022-07-05 12:54] engcom-Delta commented on #35716
@magento give me 2.4.3-p2 instance

[2022-07-05 13:00] engcom-Delta commented on #35716
Hi @yasireg ,
Thank you for raising an issue , We tried to reproduce the issue on Magento 2.4 develop instance , We are able to place an order successfully with paypal express checkout  which cart has promotions.

Kindly refer the attached video .
https://www.loom.com/share/f3ec5a48852248c5b1f79b9261d1529e

[2022-07-05 13:43] artskirk commented on #34507
@magento I am working on this

[2022-07-05 15:35] kardeiz opened #35726 "Breaking change and incorrect docs for `AccountManagement::resetPassword` in 2.4.3-p2+"
### Preconditions and environment

- Magento version 2.4.3-p2 (looks like it also applies to 2.4.4)

### Steps to reproduce

Post an empty string (`''`) as the `email` parameter to POST `/customers/resetPassword` API endpoint.

### Expected result

Expected service returns 200 OK, with password reset appropriately.

### Actual result

Endpoint will respond with 400:
[code]

The 2.4.3-p2 docs sugge

[2022-07-05 16:00] engcom-Hotel commented on #35699
Hello @ioweb-gr,

Thanks for the reply!

As we have a workaround for this issue and seems that the workaround is very heavy in terms of memory consumption I think we can mark this issue as a feature request.

Please suggest.

Thanks

[2022-07-05 16:33] ioweb-gr commented on #35699
How is it considered a workaround?

Saving two models instead of a single attribute is not a workaround in my opinion.

Even if you consider it so,  the issue is still that saveAttribute function is not working as expected. It should be able to save the group id.

This is not a feature request, it's broken functionality.

saveAttribute is supposed to be able to save a single attribute correctly

[2022-07-05 16:47] dankhrapiyush commented on #34702
@sunilit42 @RRRKotov The issue is fixed in the latest released version.

[2022-07-05 17:13] PawanKumarN commented on #8276
same here in magento 2.4.3-p2

[2022-07-05 18:33] Citizen4our opened #35727 "Plugins not working while render email templates"
### Preconditions and environment

- Magento version - 2.4.3-p1
Looks like plugins not working while render email templates if plugin defined in other area, not in adminhtml or global.
it looks like the plugin defination  is missing in \Magento\Framework\Interception\PluginList\PluginList::$_inherited

### Steps to reproduce

1. create a plugin in area frontend for \Magento\Sales\Api\Data\OrderInt

[2022-07-05 20:43] TomR5 commented on #35288
It still won't work for me.  I "purchased" the free Klarna/m2-klarna, but the composer commands still fail  "Could not find a matching version of package klarna/m2-klarna. Check the package spelling, your version constraint and that the package is available in a stability which matches your minimum-stability (stable)."  I even tried klarna:m2-klarna, klarna/klarna-m2-klarna.  Could someone PLEASE

[2022-07-05 23:13] KarenO24 commented on #35723
Okay, I will get an example for you.

On Tue, Jul 5, 2022 at 8:32 PM Rajasekar Panneerselvam <
***@***.***> wrote:

[2022-07-05 23:35] KarenO24 commented on #35723
Please see example below, Hope you will be able to resolved this. Its been
ongoing and its difficult on our part.

As you can see I have an attachment on the ticket.

Ticket ID:  [IHA-17033

[image: image.png]

See Client response:

It was mentioned that he can't see the attached file. Same ticket, same
client.

[image: image.png]

On Wed, Jul 6, 2022 at 7:12 AM plugwork.karen. oblema <
***@***.**

[2022-07-06 04:45] Smpatidar commented on #35288
use this "composer require klarna/m2-klarna"

[2022-07-06 05:32] mikeKots commented on #35704
@magento add to contributors team

[2022-07-06 05:33] mikeKots commented on #35704
@magento I am working on this

[2022-07-06 06:17] engcom-Hotel commented on #35699
Hello @ioweb-gr,

Thanks for your reply!

As per the discussion, we are not able to use the `saveAttribute` method in order to save `group_id`. Hence we are confirming this issue for further processing.

Thanks

[2022-07-06 06:20] mrtuvn commented on #35684
Oke make more senses to me!
One thing need to remind
Try add mixin in theme foo at file _extends instead current

[2022-07-06 06:39] OxCom commented on #32144
Based on latest changes in 2.4-dev branch issue can be closed

[2022-07-06 06:39] #32144 closed, assigned to nobody

[2022-07-06 06:46] mrtuvn commented on #35684
In your specific case you can import mixins in your module like this

_module.less
[code]

[2022-07-06 07:03] bojjaiah commented on #34566
Hi,

Got the same issue while installing Magento 2.4.4 and PHP 8.1.

Any help? on this

![image](https://user-images.githubusercontent.com/10813738/177489404-3ccace17-a5e0-4293-b97e-2a977f5ab4af.png)

[2022-07-06 07:45] rajesh-xcube commented on #34566
It may be permission related issue.
For quick fix comment below line. After completing installation you have to disable maintenance mode.
$script[] = ['Disabling Maintenance Mode:--', 'setMaintenanceMode', [0]];
https://github.com/magento/magento2/blob/2.4.4/setup/src/Magento/Setup/Model/Installer.php#L371

[2022-07-06 08:15] engcom-Hotel commented on #35064
Hello @ameysar,

There is one more similar issue https://github.com/magento/magento2/issues/35699, which is confirmed. So marking this issue as a duplicate. Hence closing this issue.

Thanks

[2022-07-06 08:15] #35064 closed, assigned to engcom-Hotel

[2022-07-06 09:10] eBusinessAtlantique commented on #34349
Where can we get the fix for M2.4.3 ? Thanks.

[2022-07-06 09:16] schmengler commented on #17310
FWIW, it still happened here in a 2.4.3 installation which was not even live yet, so there was not much concurrent traffic. But at least increasing max_concurrency seemed to help

[2022-07-06 09:40] engcom-November commented on #35657
Hi @ubedrajput ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue f you are still facing any issues.
Thank you.

[2022-07-06 09:40] #35657 closed, assigned to engcom-November

[2022-07-06 09:44] engcom-November commented on #35702
hi @drinkingsouls ,
I verified the issue on Magento 2.4-develop branch with PHP fileinfo enabled but still could not able to reproduce the issue. Kindly recheck the issue on Magento 2.4-develop branch as its the upcoming 2.4.x release and have latest code base and provide missing steps if any if the issue is still reproducible.
Thank you.

[2022-07-06 10:09] engcom-November commented on #35724
Thanks for the update @o7-sol . Verified the issue again on Magento 2.4-develop branch with above mentioned steps but cannot reproduce after re-indexing and clearing cache.
Steps performed:
1. Configurable product - Edit - Change stock status to Out of Stock and save
2. Reindex and flush cache
3. Front-end - Verify catalog search - No issue. Product is not displayed since of out of stock
4. Edit a

[2022-07-06 10:30] sunilit42 commented on #28221
https://github.com/magento give me 2.4-develop instance

[2022-07-06 10:33] sunilit42 commented on #28221
@magento give me 2.4-develop instance

[2022-07-06 11:10] mrtuvn commented on #35684
From my experiences from module scope (app/code/ or vendor/magento/ v.v)
you only use variables from magento lib/web/css
You can't get variables/mixins define in app/design

[2022-07-06 11:21] Nuranto opened #35729 "AwsS3 PHP8 compatibility issue"
### Preconditions and environment

- Magento version 2.4.4
- PHP 8.1

### Steps to reproduce

I don't know how to reproduce, I find that error in production logs, but without trace.

However, it should be fixed anyway by adding a cast on `$path` variable, or better : manage the case where `$path` variable is empty or/and null

### Expected result

no error

### Actual result

```.CRITICAL: TypeErr

[2022-07-06 12:08] Nuranto commented on #33685
We are using L2 caching also. It gives good performance results, but we have often issues with some obsolete local cache which get not invalidated as it should. We are actually considering to disable it...

[2022-07-06 12:14] aasim110 commented on #35665
@magento I'm working on this

[2022-07-06 12:47] Rickertje commented on #23938
I dont want to be rude but this issue has been put under the attention of product dev I guess a 2-dozen times since the dawn of Magento 1.0. In the EU VAT should be calculated for a refund amount no matter what kind of refund. Period. Maybe a product owner with more understanding of how taxes work in EU can take a look at this? Pretty frustrating guys.

[2022-07-06 13:51] webtekindo commented on #23938
It would be great if we could find a copy of a partial credit memo from Adobe to a customer in the EU, then 2 outputs their credit memo is not EU compliant (which I doubt) or they will understand what we all mean since all these years.

[2022-07-06 14:35] engcom-Hotel commented on #35668
Hello @jorgb90,

Thanks for the reply!

As we can see here https://github.com/magento/magento2/blob/cd826aa2215e19d543a3a606aebde18fa3e40d4e/app/code/Magento/Directory/Model/ResourceModel/Currency.php#L65

and checked the usages of `getRate($currencyFrom, $currencyTo)` method, we haven't found from where `null` value has been passed to this method. We request you to please suggest a way in order t

[2022-07-06 14:42] muriloksmelo opened #35732 "Found the issue! In Magento 2.4.4 it seems that a value of "0" for "Max Session Size in Admin" breaks it. In normal behaviour "0" should disable the size. I set mine now to "2560000" cause the default setting of "256000" isn't working for us (too low) and that solved this issue for now."
solved my error, thank you very much!

[2022-07-06 14:47] engcom-Delta commented on #35595
Hi @NickvdMeij ,

Thank you for more details. We tried to reproduce the issue on magento 2.4 develop instance. We observed that after creating bundle product with multiple virtual products , we could not able to modify the price for options .
Please correct me if my steps are wrong .

Here is reference video.
https://www.loom.com/share/3818aaa8c89d4a9e9f8b0dc2fd3a1c2a

[2022-07-06 15:10] engcom-Delta commented on #35584
@magento give me 2.4.3-p1 instance with edition ee

[2022-07-06 15:40] mwdana opened #35733 "UPS 150+ weight not allowed"
### Preconditions and environment

Magento Community 2.4.4

### Steps to reproduce

We have items that are exactly 1 pound in weight. When a customer adds 150 of them (150 pounds), a UPS method is listed. When a customer adds 151, no UPS options are shown at checkout.

This issue came up when we updated to 2.4.4. Our settings did not change.

Under stores>configuration>sales>shipping methods, thes

[2022-07-06 16:24] engcom-Hotel commented on #35584
@magento give me 2.4.4 instance with edition ee

[2022-07-06 17:25] simonmaass commented on #35729
I can confirm this error on our magento 2.4.4 and php 8.1 instance. This error occurs when trying to upload an image in the product description:
<img width="897" alt="image" src="https://user-images.githubusercontent.com/32599710/177608354-8b54a370-39de-4222-8fe3-82f405440f91.png">

In the system logs i can see the following error:
[code]

[2022-07-06 19:38] steveberrill commented on #35366
Same, still error in production

[2022-07-06 21:48] jonatanrdsantos commented on #27447
Hello, there is a page where you can upvote for Magento/Meili integration on the Meilisearch side: https://roadmap.meilisearch.com/c/41-magento

[2022-07-07 07:06] kingshukdeb commented on #34898
@engcom-Hotel For me the issue was **_data-content-type="heading"_**. In 2.4.3p1 EE when i'm adding content from scratch then i dont see this attr getting added. But it was there in 2.3.2 EE. After removing this attribute from page now it saves. I have removed that attribute from all pages using mysql replace statement.

What you can try, is to add some content and include this

<h2 contenteditabl

[2022-07-07 07:45] jay-pipaliya opened #35734 "Incorrect selection price of option for bundle product on product view page when the price type is fixed and not dynamic if option product has customer group prices assigned"
### Preconditions and environment

- Magento version 2.4.x

### Steps to reproduce

- set option price type fixed and value >0  for e.g 6.5 and qty >1 for e.g 12
- open the assigned option product :
1. and in advance pricing set price for customer group for e.g price 1 and qty 12
2. In main price add price greater than 1 for e.g 10

Issue occurs on product view page and works fine on cart and chec

[2022-07-07 07:47] engcom-Delta commented on #35732
Hi @muriloksmelo ,
Thanks you for your collaboration and support , As issue is resolved , can we close it ?

Regards,

[2022-07-07 07:49] Nuranto opened #35735 "Warning: Trying to access array offset on value of type null in Mview/View/Subscription.php"
### Preconditions and environment

- Magento version 2.4.4
- PHP8.1

### Steps to reproduce

1. Create a custom Module
2. Configure an indexer
3. Configure an mview subscription
4. Enable module, purge cache, setup upgrade
5. Disable module, purge cache, setup upgrade

### Expected result

Setup upgrade finishes without error

### Actual result

[code]

### Additional information

Could be dangero

[2022-07-07 07:56] engcom-Delta commented on #35584
@magento give me 2.4.4 instance

[2022-07-07 08:14] hostep commented on #35248
For the people looking for more info about this section from the 2.4.4 release notes:

It's was tagged as AC-190 in the release notes, but I think that's an incorrect ticket number and it should be ACP2E-190, for which there is one commit to be found: https://github.com/magento/magento2/commit/f6b12868406678f0c23a3dc4f9eb06fd187bf306

[2022-07-07 08:37] NickvdMeij commented on #35595
@engcom-Delta this is incorrect. You can setup prices for bundle options:

![image](https://user-images.githubusercontent.com/4169805/177729881-157be0b5-b706-4878-904e-8cfb9448fd6b.png)

I'll try once (for the **FINAL** time) try to set it up in one of the test environments you guys provide. Please, **DO NOT** remove this test image before you verify it!!!!!!!

[2022-07-07 08:37] NickvdMeij commented on #35595
@magento give me 2.4.3-p1 instance

[2022-07-07 08:39] NickvdMeij commented on #35595
https://github.com/magento give me 2.4-develop instance

[2022-07-07 08:40] NickvdMeij commented on #35595
@magento give me 2.4-develop instance

[2022-07-07 09:02] NickvdMeij commented on #35595
@magento give me 2.4-develop instance

[2022-07-07 09:08] hostep commented on #35703
@jrswgtr: the viewModel is supposed to be injected with the layout xml file, like so: https://github.com/magento/magento2/blob/2.4.3/app/code/Magento/Contact/view/frontend/layout/contact_index_index.xml#L16-L18 (at least in Magento 2.4.3, in 2.4.4 it [changed again](https://github.com/magento/magento2/commit/b5f3d973973985ea82317fd6d839429c2481929d))

So in your case, I'm going to guess that you a

[2022-07-07 09:56] engcom-Delta commented on #13048
Hi @dooblem,
Thank you for the update , We tried to reproduce the issue on magento 2.4 develop instance.Issue is reproducible.
We got the results when we run the command "find -perm -o+w -not -type l | wc -l".

Please find the attached screenshot for reference.
![image-2](https://user-images.githubusercontent.com/51681379/177746444-13488fe1-9e36-4ff9-8491-6f69bb836bdb.png)

[2022-07-07 10:05] engcom-Hotel commented on #34898
Hello @kingshukdeb,

Thanks for the update!

The issue is reproducible for us by following the below steps:
1. Create a new Page from Admin Panel `Content -> Pages -> Add New Page`
2. After saving the newly created page, edit its content from the database in table `cms_page` column `content` and add the below H2 tag with the specified attributes:
[code]
3. Refresh the page in Admin Panel.
4. Try t

[2022-07-07 10:10] NickvdMeij commented on #35595
@engcom-Delta test image is setup again. Please do not lose it this time and verify it a.s.a.p. please.
Also here is a video explaining the steps i took: https://youtu.be/4FZlHBSJXm4

[2022-07-07 10:17] kingshukdeb commented on #34898
@engcom-Hotel Its coming from 2.3.2 EE. In that version when we edited pages it used to automatically add those attributes. Like for color it used to add like data-desktop-style="color: rgb(255, 255, 255); (the rgb can be diff for sure, its an example) but now if you add color it doesn't add data-desktop-style.

[2022-07-07 12:18] engcom-November commented on #35168
Hi @Rickertje ,
Thanks for your response.
Its mentioned in Magento [docs](https://docs.magento.com/user-guide/marketing/price-rules-cart-create.html) that, "In a case of multiple parallel promotions/rules, the Subtotal condition is applied to the base shopping cart **subtotal amount before any discounts.** " If this has to be changed then it can be considered as feature request but not a bug as it

[2022-07-07 12:22] engcom-Delta commented on #35714
Hi @wyomind ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.Go through with each and every step u have provided for Tax Rates,Tax Rules,Cart Rules.After adding an product to cart coupon code is added successfully, and total for the order is greater than the 24.please refer the screenshots.

![Screenshot (260)](

[2022-07-07 12:47] BorisovskiP opened #35737 "Price not saved for different website/store."
### Preconditions and environment

- Magento version 2.4.4
- PHP 7.4
- Multistore setup

### Steps to reproduce

1. Have two stores/websites (Default, Test)
2. Set the price of a product to 10$ in the default store.
3. Switch to the Test store
4. Set the price of the product to 11$ in the Test store
5. Save

### Expected result

Changes were successfully applied. Success message is shown when savi

[2022-07-07 12:56] wyomind commented on #35714
Hello @engcom-Delta ,

I understand you don't have the exact same bug as the one I am having, but if you pay attention to your order's total you will see it is incorrect

Order total should be 18.00 (24-24+18) and it is 26.40

Would it be useful for you to provide me with an access to an instance so we can work on the same data?

Also as the issue I reported is about Magento 2.4.3, I guess this me

[2022-07-07 13:18] engcom-Hotel commented on #35464
Hello @hoangngo-calvin @shuvoenr,

Thanks for the report and collaboration!

We are able to reproduce the issue with Magento 2.4.3-P2 with the below configuration:

- PHP 7.4.30
- Mysql 8.0
- Ubuntu 22.04

![Versions](https://user-images.githubusercontent.com/51681618/177771973-0cfc4e1b-0a95-430c-b8e6-049320dfa82d.jpg)

Getting the error:
![error](https://user-images.githubusercontent.com/51681618

[2022-07-07 13:24] engcom-Delta commented on #35721
Hi @davidandersson1 ,
Thank you for the update , we tried to replicate the issue on Magento 2.4 develop instance. issue is not reproducible.

Below steps followed:
1. Small. xml

<config xmlns:xi="http://www.w3.org/2001/XInclude">
    <profile>
        <admin_users>50</admin_users>
        <websites>1</websites>
        <store_groups>1</store_groups>
        <store_views>1</store_views>
        <a

[2022-07-07 13:52] TheRealHunzik commented on #35737
@magento give me 2.4-develop instance

[2022-07-07 13:58] hoangngo-calvin commented on #35464
Hi @engcom-Hotel
Thank you so much for your effort.

[2022-07-07 15:29] engcom-Charlie commented on #35683
Hi @Nuranto,

Thank you for your contribution!

In order to reproduce this issue, I have followed below 2 approaches.

1. Installed Magento 2.4-develop with PHP 8.1, run ./vendor/bin/phpunit -c dev/tests/unit/phpunit.xml.dist. Got below result.
<img width="674" alt="image" src="https://user-images.githubusercontent.com/51680850/177811821-a7f59da6-009f-40cb-b87f-5d1e8af836b2.png">

2. Installed Mag

[2022-07-07 15:30] pmzandbergen opened #35740 "Unable to clear \Magento\Framework\Filesystem\Glob::glob(...) cache"
### Summary (*)
The following commit introduced a static cache for `\Magento\Framework\Filesystem\Glob::glob(...)`
https://github.com/magento/magento2/commit/ef76b7e2b885da45cb37641ba9fe3ef27c68f422

Of course this might be the way to go for most processes, but for some cases you should be able to clear this cache. For example
- Sequential functional or unit tests
- Long running processes like con

[2022-07-07 15:31] pmzandbergen opened #35741 "Unable to clear `\Magento\Framework\Filesystem\Glob::glob(...)` cache"
### Summary (*)
The following commit introduced a static cache for `\Magento\Framework\Filesystem\Glob::glob(...)`
https://github.com/magento/magento2/commit/ef76b7e2b885da45cb37641ba9fe3ef27c68f422

Of course this might be the way to go for most processes, but for some cases you should be able to clear this cache. For example
- Sequential functional or unit tests
- Long running processes like con

[2022-07-07 15:35] craig-bartlett commented on #35535
Hi,

I've recently come across this same issue. It is indeed caused by theme images with an odd dimension **and** the watermark position set to centre. If using the Gd2 adapter, it uses [the following](https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/Image/Adapter/Gd2.php#L541) to calculate the position:

[code]

If the image size has an odd dimension, this resul

[2022-07-07 18:22] nbennett25 opened #35743 "Cannot instantiate interface Vertex\AddressValidationApi\Api\CleanseAddressInterface when using bin/magento queue:consumers:start async.operations.all"
### Preconditions and environment
Following the documentation here:

https://devdocs.magento.com/guides/v2.4/config-guide/mq/aws-mq.html

- Magento 2.4.3-p1
- Vertex_AddressValidationApi module enabled
- Vertex_AddressValidation module disabled
- `amqp` configured with Amazon endpoint in app/etc/env.php, per the documentation linked above:
[code]

### Steps to reproduce

Go to cli, run `bin/magent

[2022-07-07 19:33] gainesyeild opened #35744 "Can not Authorize API use because Consumer Key as Expired"
### Preconditions and environment

- Magento version - V2.1.0
- Anything else that would help a developer reproduce the bug
-Postman Request:

POST http://magento2-1.glew.io/oauth/token/request
401
1584 ms
Network
Request Headers
Authorization: OAuth oauth_consumer_key="486mpokb0vpeod2kg5b3qo09mm832wdn",oauth_token="2q1mlu7nxpsg3vwoq25jkd012pw5ft6l",oauth_signature_method="HMAC-SHA1",oauth_timesta

[2022-07-07 20:53] hostep commented on #35740
This one can be closed as a duplicate of https://github.com/magento/magento2/issues/35741, right? @pmzandbergen: could you close it? Thanks! 🙂

[2022-07-08 00:19] KarenO24 commented on #35723
Any update please?

On Wed, Jul 6, 2022 at 7:35 AM plugwork.karen. oblema <
***@***.***> wrote:

[2022-07-08 02:10] #35740 closed, assigned to nobody

[2022-07-08 02:10] mrtuvn commented on #35740
Closed this one due duplication

[2022-07-08 04:45] toantvlf opened #35745 "Ui component grid filter not working"
### Preconditions and environment

- Magento version 2.4.4

### Steps to reproduce

1, Attribute Product Name Set Values Required = NO
2, Create New Attribute Set same Attribute Set Default
3, Import product with new attribute set (
[catalog_product.csv](https://github.com/magento/magento2/files/9068961/catalog_product.csv)
)
4,Go to Catalog > Product Grids-> Filter with new attribute set or SKU o

[2022-07-08 05:05] davidandersson1 commented on #35721
@engcom-Delta thank a lot for provided details steps and it's look like correct but not sure because we are using Unirgy_Rapidflow module for creating/updating products. so currently in out live site, we have imported all bundle products using this rapidflow module.

However for replicate purpose in plain magento, I have removed all products,categories, customers everything from my local setup and

[2022-07-08 06:24] pmzandbergen commented on #35740
Oops, thx! Got an error from GitHub during the initial POST of the issue form, causing this duplicate.

[2022-07-08 07:07] engcom-Charlie commented on #35683
@Nuranto, @ihor-sviziev as per above [comment](https://github.com/magento/magento2/issues/35683#issuecomment-1177810919), I have updated the [#34733](https://github.com/magento/magento2/issues/34733) issue by adding this issue's url and also added Failures examples.

Closing this issue now considering its a duplicate of [#34733](https://github.com/magento/magento2/issues/34733)

[2022-07-08 07:08] #35683 closed, assigned to engcom-Charlie

[2022-07-08 07:58] engcom-Dash commented on #35723
Hi @KarenO24 ,

Thanks for your reply... I am not able to see the images which is attached same ticket!!!

Thanks.

[2022-07-08 08:00] Eddcapone commented on #35684
Thats not true. I just tested it and it works. I defined a mixin in my theme and used in the module successfully.

It just does not work if you create another theme which is a child theme of your first theme like described in my bug report.

[2022-07-08 08:01] engcom-Dash commented on #35733
@magento give me 2.4-develop instance

[2022-07-08 08:33] #35732 closed, assigned to engcom-Delta

[2022-07-08 08:39] engcom-Delta commented on #35647
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-07-08 08:39] #35647 closed, assigned to engcom-Delta

[2022-07-08 09:03] KarenO24 commented on #35723
Yes but on the screenshot I have showed you. the first image tells you that
I have attached a file but client confirmed that he did not received it.

The file I have attached is a PDF File.

On Fri, Jul 8, 2022 at 3:58 AM Rajasekar Panneerselvam <
***@***.***> wrote:

[2022-07-08 09:44] mrtuvn commented on #35684
current my client used v2.3.3. I can't call mixins defined in child theme from module app/code. Got issue mixin undefined
I don't have instance test in higher version

[2022-07-08 09:56] engcom-Dash commented on #35733
Hi @mwdana ,

We are trying to reproduce the issue...But we are not able to reproduce the issue.
In Admin panel we are not able to set a admin configuration Because i need
1.Access License Number
2.User ID
3.Password
I need above mentioned three information Because once done the admin configuration we will proceed further.
For your Reference i attached the screenshots below
![Screenshot from 2022-

[2022-07-08 10:29] engcom-Hotel commented on #34898
Hello @kingshukdeb,

Thanks for the reply!

So the issue is related to the Magento upgrade. I am confirming this issue for further process.

Thanks

[2022-07-08 10:39] davidandersson1 commented on #35721
@engcom-Delta now I have created more 425 bundle products and set Dynamic price = Yes and assigned on all three websites and ran catalog_product_price reindex, you can see the index time difference in attached screenshots.

Total number of products: 55500
Where only 500 bundle products with dynamic price = Yes and assigned all three websites.

however during price index running, I also checked "sh

[2022-07-08 10:54] engcom-Delta commented on #35595
Hi @NickvdMeij ,
Yes, Same instance throws error like "The server returned a "404 Not Found".". let me try on local instance once again .

Thanks

[2022-07-08 11:13] artskirk commented on #32784
@magento I am working on this

[2022-07-08 11:29] engcom-November commented on #35734
Hi @jay-pipaliya ,

Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
Price displayed is the same (fixed option price but not the ) in all pages: Product details/view, shopping cart page and checkout page
![image](https://user-images.githubusercontent.com/60198231/177983873-245b49a9-aefb-4ed8-a5b0-bd09da0f86cf.png

[2022-07-08 12:28] Hermione011 opened #35746 "Sort by price not working with Elasticsearch 7.x in Magento 2.4.4 Enterprise Edition"
### Preconditions and environment

The magento 2.4.4 Enterprise Edition with elastic search is having issues with "Sort by price and Sort by product name" on the PLP page. The sorting is not working when selecting the price and product name.

### Steps to reproduce

1. Install magento 2.4.4 EE with Elastic search
2. Log into admin, navigate to "Store-> Product attributes"
3. Find "price" attribute

[2022-07-08 12:42] engcom-Delta commented on #35714
Hi @wyomind ,
This is a expected behaviour of magento.when we save tax class configuration it will throws an error,it is not recommended
configuration of tax Configuration.Can you please check on 2.4-develop branch whether you are still able to reproduce the issue.
Please refer the attached screenshots.
![Screenshot (269)](https://user-images.githubusercontent.com/51681379/177994012-54122573-92b5-

[2022-07-08 12:43] dpdesignthatfits commented on #8624
This is still an issue, we have this on vanilla 2.4.3-p1 and 2.4.4

[2022-07-08 13:01] igi8819 commented on #26333
same error on 2.4.3... :(

[2022-07-08 13:54] wyomind commented on #35714
@magento give me 2.4-develop instance

[2022-07-08 14:37] engcom-Delta commented on #35721
Hi @davidandersson1 ,
Thank you for confirming once again. Could you please help me how you were able to make 'set Dynamic price = Yes ' . in fact after we ran the command "bin/magento setup:perf:generate-fixtures setup/performance-toolkit/profiles/ce/small.xml" for generating bundle products. We could not find out Dynamic price for those products.

So please guide us to replicate it .

Regards,

[2022-07-08 14:49] engcom-Delta commented on #35746
@magento give me 2.4.4 instance with edition ee

[2022-07-08 16:00] rob-gonz commented on #35616
@engcom-November  This is a scale problem with the M2 handling of catalog_product_index_price indexer. You are not testing the scenario described.

As stated above, the number of products you have used to test this scenario is significantly insufficient. You have not replicated the scenario I described and that is why you were not able to reproduce the issue. The speed at which the database update

[2022-07-08 18:25] mwdana commented on #35733
https://www.ups.com/upsdeveloperkit
 It is free to open a developer account which should produce the same results. We are not using anything Other than the basic UPS account. Thank you

________________________________
From: Rajasekar Panneerselvam ***@***.***>
Sent: Friday, July 8, 2022, 2:57 AM
To: magento/magento2 ***@***.***>
Cc: Dana Yates ***@***.***>; Mention ***@***.***>
Subject: Re: [mage

[2022-07-09 06:56] abbsay commented on #25294
The same issue for me also on 2.4.4 +1

[2022-07-09 06:56] abbsay commented on #25294
so long no fix ?

[2022-07-09 12:12] cptX commented on #20147
Please reopen! This is very important issue!

[2022-07-09 14:54] ledian-hymetllari commented on #35667
HI @kassner have you checked under admin -> stores -> configurations -> ADVANCED -> admin -> admin base url, to check if you have added any custom URL from admin?

[2022-07-09 17:38] richyarcaika opened #35749 "can upload and image into category product - --so is impossible to show in the front end"
### Preconditions and environment

Magento ver. 2.4.1
1. GO TO CATEGORIES-> CONTENT-> UPLOAD IMAGE->. SAVE ( every thing looks ok, but i refresh the page and the category does not a hava a n image --- i look in the gallery and the image is there, but the cotegory is not taking the image
2. www.arcaika.com

### Steps to reproduce

GO TO CATEGORIES-> CONTENT->CHOOSE A CATEGORY -> UPLOAD IMAGE->. SAV

[2022-07-09 18:36] shubhamkanungoo007 commented on #35681
Hi @key-dev ,
Can you please confirm your Composer version using "composer --version" this command and if it is below 2.x so, please try to update it "Composer version 2.0.12" or atleast 2.0.x and then remove your vendor folder. After the removal of vendor folder please run "composer install" and "composer update" commands.
After this process try to run the Magento commands setup:upgrade and setup

[2022-07-09 18:55] shubhamkanungoo007 commented on #35681
@magento Can you please assign this ticket to me. I will work on it ?

Thanks,

[2022-07-11 04:25] davidandersson1 commented on #35721
Hi @engcom-Delta, We are doing it via rapidflow module, however without rapidflow module it's also possible. as we know, Dynamic price is product attribute with code = "**price_type**" with backend_type = "int"  so entity table is catalog_product_entity_int so we can do it directly within below MySQL update query. first you can check with SELECT query and then update. if we do not do it via databa

[2022-07-11 05:13] ayushi011 commented on #35746
HI @engcom-Delta, Do you find any solution for this?

[2022-07-11 06:27] engcom-Dash commented on #35623
Dear @npluimers ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-07-11 06:28] engcom-Dash commented on #35623
Dear @npluimers ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-07-11 06:28] #35623 closed, assigned to engcom-Dash, npluimers

[2022-07-11 06:31] engcom-Dash commented on #35659
Dear @bkristl ,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks!

[2022-07-11 06:31] #35659 closed, assigned to engcom-Dash

[2022-07-11 06:35] engcom-Lima commented on #33457
:heavy_check_mark: Issue cofirmed

Issue got reproduced in ***2.4-develop*** branch.

***Description:*** Order ids getting duplicated while creating orders from different stores.

***Pre-requisite:***

1. Magento should be up and running.
2. Multiple stores should be created.
3. Product should be created.

***Steps to reproduce:***

1. Set the order increment by running below MySql query:
     `AL

[2022-07-11 07:09] engcom-Hotel commented on #35309
@magento give me 2.4-develop instance

[2022-07-11 07:21] ioweb-gr commented on #33457
Thanks for confirming the issue. Up until now there was no way to work around this, only with third party modules which will alter the sequences but they are all slow and prone to other errors including more collisions.

The easiest way to fix this would be to introduce the store id as a prefix with a separator character instead of a plain number

[2022-07-11 08:36] Nuranto commented on #35335
This is issue is partially fixed in 1.15.1.

I still got error, but in different file :

[code]

=> `magento/zendframework1/library/Zend/Memory/Value.php`

[2022-07-11 08:37] engcom-Dash commented on #35723
Hi @KarenO24 ,

Thanks for your reply... I did't get any Images,Screenshots and PDF File with this comments.
So kindly Share appropriate files Directly.

Thanks!!!

[2022-07-11 08:37] engcom-Dash commented on #35733
@magento give me 2.4-develop instance

[2022-07-11 09:09] KarenO24 commented on #35723
Here you go. Please refer to the 3 files attached.

The EFT_Blank is the file that I have attached to the ticket number
[IHA-17033

On Mon, Jul 11, 2022 at 4:37 AM Rajasekar Panneerselvam <
***@***.***> wrote:

[2022-07-11 09:43] engcom-Lima commented on #35749
Hi @richyarcaika

Thanks for your contribution and collaboration.
I have tried to reproduce the issue on `2.4-develop` branch but issue not reproducible to me. Below is the information on this:

**Pre-requisite**
1. Fresh magento `2.4-develop` installed.
2. Category should be created.

**Followed below steps:**
1. Login as admin.
3. Catalog >> Categories >> Content > Upload image.
4. Select image

[2022-07-11 10:06] NathanDayFE opened #35750 "Bug with Visual Merchandiser Category Sorting"
### Preconditions and environment

- Magento version 2.4.4 Commerce

### Steps to reproduce

1. Within the Magento Admin Navigate to `CATALOG` -> `Categories`
2. Navigate to a category with products
3. Open the `Products in Category` section
4. Select `Special price to top` or `Special price to bottom` order
5. Click `Sort`

### Expected result

- Sorts products by selected sort option

### Actual

[2022-07-11 10:12] engcom-November commented on #35581
Hi @JelleGe ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-07-11 10:12] #35581 closed, assigned to engcom-November

[2022-07-11 10:34] engcom-Delta commented on #35746
Hi @ayushi011 ,
Thank you for logging an issue and we tried to reproduce the issue on magento 2.4 develop with EE, We could not find proper steps for it , Kindly review step# 2 .

Here is screenshot for reference.

<img width="1440" alt="Screenshot 2022-07-11 at 3 58 11 PM" src="https://user-images.githubusercontent.com/51681379/178245605-268521d6-6231-4ac9-b2c1-3ceb3a490ab6.png">

<img width="144

[2022-07-11 10:38] speedupmate opened #35751 "bin/magento config:show(or set) design/theme/theme_id fails"
### Preconditions and environment

- Magento 2.4.4
- clean installation is enough

### Steps to reproduce

 in cli try to

`bin/magento config:show design/theme/theme_id`
`bin/magento config:set design/theme/theme_id 3`

while grepping from config values are present

[code]

### Expected result

config values are set

### Actual result

you will get error messages

[code]

### Additional informati

[2022-07-11 11:05] engcom-Hotel commented on #35722
Hello @wasimhc,

As per the Magento devdocs, the @api tag indicates the code is part of the public API and is subject to the [Backward Compatibility Policy](https://developer.adobe.com/commerce/contributor/guides/code-contributions/backward-compatibility-policy/).

https://developer.adobe.com/commerce/php/coding-standards/docblock/#api-tag

Please elaborate more on this if we have missed anything.

[2022-07-11 11:15] wasimhc commented on #35722
Ok,  I thought only interface can be an API what I see in other areas of Magento. That's mean this class is an API here. thank you.

[2022-07-11 11:15] ayushi011 commented on #35746
Hi @engcom-Delta,
1. Click on Stores-> IN Attributes Please select Product
![image](https://user-images.githubusercontent.com/108935783/178251897-b397f0e5-7945-4f0b-a57e-c5f060ac25f8.png)
2. After opening it, search for attribute price in it
3. In price attribute, open storefront properties and then enable used for sorting in product listing
![image](https://user-images.githubusercontent.com/10893

[2022-07-11 11:46] engcom-Hotel commented on #35644
Hello @stormbyte,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but we are not able to face the issue mentioned in the main description. We have followed the below steps:
1. Using PHP 8.1 version
2. Edit file `app/code/Magento/Store/etc/db_schema.xml` line no. 27 and remove the `IndexType` as blank:
<img width="483" alt="image" src="h

[2022-07-11 12:09] engcom-November commented on #35698
Verified the issue on both 2.4.4 project-community-edition and Magento 2.4-develop branch and the issue is reproducible. Hence confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/178260760-da8fcc58-0b3a-4ee3-a8c6-dc0c55afb0a4.png)

Thank you.

[2022-07-11 12:23] pauldonnelly opened #35753 "Configurable option tiered price reverts to lowest price."
### Preconditions and environment

- Magento 2.4.3-p2

### Steps to reproduce

1. Create a standard configurable product with any two options (e.g. with Size attribute **XS** $100 / **S** $200)
2. Catalog > Products > go to simple product **S**
3. Advanced Pricing > Customer Group Price > Add > enter All Websites / All Groups / 5 / Fixed / $180 and Save
4. Go to the configurable product details pa

[2022-07-11 12:30] engcom-November commented on #35751
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
1. Configured Content - design - Configuration - set the theme and save
2. Cache flush
3. Ran sudo php bin/magento config:show | grep design - displayed saved configuration values:
design/theme/theme_id - 2
4. But on running php bin/magento config:show design/theme/theme_id - below error message is displayed:
The "desi

[2022-07-11 12:35] engcom-Delta commented on #35681
Hi @key-dev ,
Any update please on below comments .
https://github.com/magento/magento2/issues/35681#issuecomment-1174909456.

Thanks

[2022-07-11 13:01] engcom-November commented on #35750
hi @NathanDayFE ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch with Enterprise edition modules installed but could not able to reproduce the issue.
No error displayed on UI / logs.
Kindly recheck the issue on Magento 2.4-develop enterprise edition and provide missing steps if any if the issue is still reproducible.
![image](https://user-images.githubu

[2022-07-11 13:02] maheshwaran-1343 opened #35754 "Uncaught ReferenceError: Unable to process binding "if: function(){return label }""
I have the issue when I go to **Admin -> Product --> Add Grouped Product**. Anyone facing this issue.

**Error :**
![image](https://user-images.githubusercontent.com/68689275/178269759-3610751f-98f0-468e-b7e2-e4ffb25da33c.png)

**Output :**
![image](https://user-images.githubusercontent.com/68689275/178270038-396bbf2c-eb84-4688-8d17-d27b6e7485b6.png)

[2022-07-11 13:03] engcom-Hotel commented on #35628
Hello @irabattiakshay,

It could happen if the port is different from the default port of ElasticSearch. So I suggest you to use the below command to install the Magento with specific ES credentials as below:

[code]

Please refer the below link for more information:
https://devdocs.magento.com/guides/v2.4/install-gde/composer.html

Thanks

[2022-07-11 13:03] artemii-karkusha commented on #34089
@magento I am working on this

[2022-07-11 13:04] maheshwaran-1343 commented on #13451
Is the issue fixed?. If so , please share the details

[2022-07-11 13:21] engcom-Delta commented on #35746
Hi @ayushi011 ,
Need to clarify quick query , Do i need to  sort the products after searching on frontend? or directly i should sort the products on frontend?

in fact , we can only sort the products after searching or  we should go to any category?

Frontend home page looks like:
<img width="1440" alt="Screenshot 2022-07-11 at 6 48 46 PM" src="https://user-images.githubusercontent.com/51681379/17

[2022-07-11 14:41] hostep commented on #35335
@Nuranto: could you report this as a new issue on https://github.com/magento/zf1/issues? I think it will get picked up sooner that way, thanks! 🙂

[2022-07-11 16:51] rob-gonz commented on #35616
We do not currently have a fix for this. We know what needs to be fixed, but we are looking to Adobe to fix the issue because they are making significant Database changes in the coming versions. It's also a core issue they need to address.

[2022-07-12 00:15] KarenO24 commented on #35723
Any update on this?

On Mon, Jul 11, 2022 at 5:08 PM plugwork.karen. oblema <
***@***.***> wrote:

[2022-07-12 06:59] engcom-Hotel commented on #35722
Hi @wasimhc,

We are closing this issue as the raised concern is solved.

Thanks

[2022-07-12 06:59] #35722 closed, assigned to engcom-Hotel

[2022-07-12 07:02] engcom-Hotel commented on #35594
Dear @MagePsycho,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-07-12 07:02] #35594 closed, assigned to engcom-Hotel

[2022-07-12 07:11] engcom-Alfa commented on #35326
HI @hemendraajmera
Thanks for reporting here with your thoughts. We want to understand bit more about the requirement.

You are using _products API_ to get category products, I understood this point.
Next is, you want to filter categories for a specific store, I am correct here?
If that is the thing, we have the request `/rest/default/V1/categories` to get the categories with their children data.

[2022-07-12 07:11] engcom-Lima commented on #35667
Hi @kassner
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you

[2022-07-12 08:01] engcom-Dash commented on #35723
Hi @KarenO24 ,

Thanks for your reply...I didn't received any Files and Kindly Provide  some Screenshots with this ticket.

Thanks!!!

[2022-07-12 08:02] engcom-Dash commented on #35733
@magento give me 2.4-develop instance

[2022-07-12 08:04] artskirk commented on #33718
@magento I am working on this

[2022-07-12 08:09] KarenO24 commented on #35723
Please see the screenshot

[2022-07-12 08:09] KarenO24 commented on #35723
Done. Please check

On Tue, Jul 12, 2022 at 4:02 PM Rajasekar Panneerselvam <
***@***.***> wrote:

[2022-07-12 08:11] szagabesz commented on #28387
Any update on this issue? Just have run into it with a high-traffic Magento instance.

[2022-07-12 08:14] engcom-Dash commented on #35733
@magento give me 2.4-develop instance

[2022-07-12 08:47] mariogobos opened #35755 "Disable vat required value"
### Preconditions and environment

- Magento version 2.4.4
- Multi store version

### Steps to reproduce

Only for FR Website in Stores=>Configuration=>Customer=>Customer Configuration=> Name and Adress Options=> Show Tax/VAT Number=> No
after try to save a customer without vat number and you can't to save it

### Expected result

Only for FR Website Vat number is not a required value

### Actual

[2022-07-12 09:34] NickvdMeij commented on #35595
on #1, this was not any of the related issues i opened the issue for, but thanks for the information.
on #2, thanks for the info, any ETA when the fix will be available?

[2022-07-12 09:39] engcom-Delta commented on #35309
Hi @lGlitchl ,
Thank you for reporting and collaboration. Verified the issue in Mobile Platform but could not able to reproduce the issue.When we will go for zoom on a image it works properly. Please refer the screenshots.

![WhatsApp Image 2022-07-11 at 4 33 56 PM](https://user-images.githubusercontent.com/51681379/178460447-3271d666-0923-44d0-bafc-75e201390141.jpeg)
![WhatsApp Image 2022-07-11 a

[2022-07-12 09:58] engcom-Delta commented on #35746
Hi @ayushi011 ,
Thank you for providing more details. We tried to reproduce the issue on Magento 2.4 develop with EE and observed that after sorting by price , products are disappeared on frontend and products are not getting sorted out by price.

Please find the attached video for reference and screenshots.

<img width="1440" alt="Screenshot 2022-07-11 at 6 32 14 PM" src="https://user-images.gith

[2022-07-12 10:07] MagePsycho opened #35756 "$request->getFullActionName() returns "__" on Homepage"
### Preconditions and environment

- Magento 2.4.4
- FPC enabled
- Observe the event `controller_front_send_response_before`

### Steps to reproduce

1. Observe the event `controller_front_send_response_before` on `frontend` area (etc/frontend/events.xml)
2. Get the get full action name from the observer class as `$fullActionName = $observer->getEvent()->getRequest()->getFullActionName()`
[code]
3

[2022-07-12 10:29] engcom-Hotel commented on #33412
Hello @06romix @mrtuvn,

Have you got a chance to check this https://github.com/magento/magento2/issues/33412#issuecomment-1151057477? Please provide us with some more information on this issue.

Thanks

[2022-07-12 10:29] engcom-Delta commented on #35726
Hi @kardeiz ,
Thanks for raising an issue , Need help on the request body that you have tried , so that we can replicate it .

In fact , we have tried below request but getting different error.

Request:
{
email: "roni_cost@example.com",
resetPasswordToken: "gh80pkjGdsPyiXc0sUUXswX1uGN7crUr",
newPassword: "new_password"

}

Response:
{
    "message": "Decoding error."
}

[2022-07-12 10:35] engcom-Charlie commented on #35696
Hi @sta1r,

Yes. Magento have stopped using the public method Magento\CustomerSegment\Model\ResourceModel\Segment::deleteSegmentCustomers() in favour of the private Magento\CustomerSegment\Model\ResourceModel\Customer\LinksMatcher::deleteSegmentCustomers().

In order to get solution on your mentioned issue in proposed solution section you can reach out on https://magento.stackexchange.com/

Hence

[2022-07-12 10:35] #35696 closed, assigned to engcom-Charlie

[2022-07-12 10:51] engcom-November commented on #35754
Hi @maheshwaran-1343 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch and 2.4.4 project-community-edition as well but could not reproduce the issue.
User is able to create and save grouped product. No console errors were observed.
![image](https://user-images.githubusercontent.com/60198231/178473811-64f93670-b40c-4734-a37b-5820e4ccf810.png)
Kindly reche

[2022-07-12 10:53] manhtranisobar opened #35757 "Rest API products-render-info return wrong final price for logged in customer"
### Preconditions and environment

- Magento version: 2.4.4
- B2B modules enabled

### Steps to reproduce

- Create new product SKU A, base price 100 $
- Setup tier price for product A with customer group B, qty 1, price 90$
-
![image](https://user-images.githubusercontent.com/60198231/179221688-f84bc3b1-ebd2-4f90-9547-4bfc816751c3.png)

- Create new customer account C and assign to customer group

[2022-07-12 10:53] hewgim commented on #34412
Hi @perryholden, We have just come across the same issue with stripe and paypal. Did you manage to work out a fix for this ?

Many thanks Mark

[2022-07-12 11:15] engcom-November commented on #35357
Hi @lollar ,

Thank you for reporting and collaboration. Above Mentioned [page](https://devdocs.magento.com/guides/v2.4/get-started/authentication/gs-authentication-oauth.html) has been moved to this [page](https://developer.adobe.com/commerce/webapi/get-started/authentication/gs-authentication-oauth/) and has been updated with "HMAC-SHA256" only as a supported method. Also verified other [docs](h

[2022-07-12 11:17] m2-assistant[bot] opened #35758 "[Issue] Fixed double URL Rewrite when category have 301 redirect"
This issue is automatically created based on existing pull request: magento/magento2#35736: Fixed double URL Rewrite when category have 301 redirect

---------
### Description (*)
Fixed  issue "Item (Magento\Catalog\Model\Category\Interceptor) with the same ID "n" already exists."
if category have 301 Redirect

this issue happend if generate url using Magento\CatalogUrlRewrite\Model\CategoryUrlRew

[2022-07-12 11:24] engcom-Dash commented on #35733
Hi @mwdana ,

We have tried to reproduce the issue in Magento 2.4-develop branch the issue is not reproducible.
Please refer the below screenshot for the reference;
![Screenshot from 2022-07-12 16-39-24](https://user-images.githubusercontent.com/60198592/178477319-b9f5796d-f6e9-4eb6-b0a2-19496ed1e581.png)
![Screenshot from 2022-07-12 16-38-03](https://user-images.githubusercontent.com/60198592/178

[2022-07-12 11:31] #35510 closed, assigned to engcom-Lima

[2022-07-12 12:38] t-heuser opened #35759 "Adding existing single products to configurable product not possible with config product with several singles products already added"
### Preconditions and environment

- Magento version: 2.4.4

### Steps to reproduce

1. Create several attributes with options
2. Create a config product with more than 200 singles
3. Save the config
4. Click on "Add products manually" in the configurable matrix
5. An error occurs

### Expected result

No error should occur, the 'associated-product-insert-listing' modal should load normally.

###

[2022-07-12 12:50] engcom-November commented on #35328
Hi @nwiegers01 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch with enterprise edition modules installed but could not reproduce the issue.
Steps performed:
1. Created a product with Special Price
2. Imported same Product CSV with special_price_from_date and special_price_to_date values
3. Reindex and cache flush
4. Changed base price and special price

[2022-07-12 12:57] oneserv-heuser commented on #35759
I can confirm that the issue occurs on a vanilla magento  2.4-develop instance.

When testing don't add too many products (400 is too much at once) as you'll run into an timeout when trying to save it :')

[2022-07-12 13:28] kardeiz commented on #35726
Our request body looks like:

[code]

Note the empty string for `email`. As far as I can tell, the token key is still `resetToken` not `resetPasswordToken` in 2.4.3-p2 (and possibly 2.4.4).

[2022-07-12 13:36] engcom-Lima commented on #35632
I have tried to reproduce the issue. Need your confirmation on below steps:

**Steps to reproduce:**
1. Create custom appearance by following this [page](https://github.com/magento-devdocs/pagebuilder-examples/blob/master/README.md) & [page](https://github.com/magento-devdocs/pagebuilder-examples/tree/master/BannerApp/Appearance).
2. Go to Content > Block > Edit With Page Builder.
3. Add a banner

[2022-07-12 13:44] engcom-Delta commented on #35745
Hi @toantvlf ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.Can you please check on 2.4-develop branch whether you are still able to reproduce the issue.

Please refer the screenshots.

**Steps followed:**

1.Set Values = No

![Screenshot (281)](https://user-images.githubusercontent.com/51681379/178503269-1204

[2022-07-12 14:15] rempar commented on #4643
@lazarenkoalexey can you share an information on how you solved this problem? I have the same issue

[2022-07-12 14:20] engcom-Charlie commented on #35191
Hi @ioweb-gr,

In order to reproduce the issue, can you please guide me on below points.

1. Have you missed to add something after “Incidentally I've tried adding the description like this” in your comment?
2. Can you please provide some detailed information in order to investigate it further. Eg. Are you trying to see the translated content from i18n/el_GR for the added <meta> tag in .xml file?

[2022-07-12 14:57] ioweb-gr commented on #35191
Hi, it seems github treated the text as tags so they wouldn't appear. I've added the content that was missing in codeblock.

It seems the translate=true tag is not allowed for the above mentioned tags.

[2022-07-12 15:14] cpartica commented on #35412
@bskimball can you link that PR to this issue?

[2022-07-12 15:31] engcom-Echo commented on #35692
Hello @FYvw,

Thanks for the report and collaboration !
we have tried to reproduce this issue in Magento 2.4-develop branch and the scenario is reproducible for us. But it seems not a bug but a feature request.

Can you please lets us know your use-case in which this functionality is not working for you as expected?

Thanks

[2022-07-12 15:43] engcom-Echo commented on #35691
Hello @FYvw,

Thanks for the report and collaboration !
we have tried to reproduce this issue in Magento 2.4-develop branch and the issue is reproducible for us. we have followed the below steps in order to reproduce the issue.

1. Edit this file app/code/Magento/Catalog/view/adminhtml/ui_component/category_form.xml, and make the  comment on line number 14
2. Run php bin/magento setup:upgrade.
3.

[2022-07-12 15:44] Hexmage commented on #35500
The exact same error is thrown when you try to configure bundle products through the adminhtml.

[2022-07-12 16:00] jajajaime commented on #35357
I can see one page that still shows HMAC-SHA1:
https://developer.adobe.com/commerce/webapi/get-started/authentication/oauth-errors/#oauth-error-codes

[2022-07-12 17:20] mwdana commented on #35733
If the address entered is not recognized by UPS, it will not yield results. Can you try with this for the shipping address?

1510 Oliver Road
Fairfield, California 94534

________________________________
From: Rajasekar Panneerselvam ***@***.***>
Sent: Tuesday, July 12, 2022 4:24 AM
To: magento/magento2 ***@***.***>
Cc: Dana Yates ***@***.***>; Mention ***@***.***>
Subject: Re: [magento/magento2]

[2022-07-12 19:44] gelado commented on #35552
Hi, @engcom-Lima! On your csv screenshot I can see the same number of lines, but a lot of duplicated lines for same customer. Is this expected?

[2022-07-12 20:29] pauldonnelly commented on #35753
Hi @engcom-November I can confirm this is still an issue on 2.4.4 but seems to be partially fixed on 2.4-develop. It looks to be this commit (https://github.com/magento/magento2/commit/e7fefc7daae8b6582980abb2359fd8e13bf02bb6) to be partially fixing it.
I say partially as it does not switch the price to the tiered price as it does with simple products. It keeps it at the selected option price e.g.

[2022-07-12 21:05] rahulrave opened #35761 "User Getting Auto Logout From My Account Custom Tab In Magento 2.4.3"
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2022-07-12 21:08] rahulrave commented on #35761
[Workout.tar.gz](https://github.com/magento/magento2/files/9096840/Workout.tar.gz)

Attached custom module , using this module we are managing custom tab in my account , We are recently updated magneto from 2.3.3 to 2.4.3 , The logout issue is coming after 2.4.2 version.

[2022-07-13 06:10] engcom-Lima commented on #35744
Hi @gainesyeild

Thanks for your contribution and collaboration.

In **`oauth_signature_method`** only **`HMAC-SHA256`** is supported. Kindly refer this [document](https://developer.adobe.com/commerce/webapi/get-started/authentication/gs-authentication-oauth/) for your reference.
Please use `HMAC-SHA256` in `oauth_signature_method` on latest `2.4-develop branch` and let us know if you face any iss

[2022-07-13 06:34] engcom-Lima commented on #35675
Hi @ni-bschmitt

Since there is no update from 14 days. Hence, closing the issue.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks!

[2022-07-13 06:34] #35675 closed, assigned to engcom-Lima

[2022-07-13 07:00] engcom-Hotel commented on #35455
Dear @raulsinapsis,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-07-13 07:00] #35455 closed, assigned to engcom-Hotel

[2022-07-13 08:11] toantvlf commented on #35745
please set product name empty when import product

[2022-07-13 09:20] FilipS02 opened #35763 "How can I get price excluding tax"
Hi, I want to display price excluding tax.
In vendor/magento/module-sales/view/frontend/templates/email/items.phtml I added new th.
items.phtml with my custom th:
`<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// phpcs:disable Magento2.Templates.ThisInTemplate
/** @var $block \Magento\Sales\Block\Order\Email\Items */
?>
<?php $_order = $blo

[2022-07-13 09:35] edward-simpson commented on #35630
For anyone else having the issue this patch will solve it, but as I'm unable to guess at the original intention, I can't say whether it will cause any side effects or cause security issues!

[code]

[2022-07-13 10:02] Chrischapot opened #35764 "I cannot open the Catalog tab under my profile - Could you please debug"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

![image](https://user-images.githubusercontent.com/109213974/178707596-267d9283-c877-4b08-9a2c-ef0506bf2c5b.png)
![M2](https://user-images.githubusercontent.com/109213974/178707715-a9bad253-89a1-41b7-97c3-ae238ec8521d.PNG)

### Expected result

Cannot visualis

[2022-07-13 11:14] engcom-Dash commented on #35727
Hi @Citizen4our ,

Kindly Attach the screenshots for this Issue. It is very easy to proceed further.

Thanks!!!

[2022-07-13 11:16] nkajic commented on #35013
Hi @krishprakash
Do you maybe have some additional information you can share with us?

[2022-07-13 11:22] Citizen4our commented on #35727
Hi @engcom-Dash
![image](https://user-images.githubusercontent.com/47303372/178721967-03eb257d-f496-40d9-b354-956a25f808d0.png)

For example, my plugin defined on frontend area and must round up these prices

[2022-07-13 11:30] engcom-Dash commented on #35733
@magento give me 2.4-develop instance

[2022-07-13 11:45] marwan-corals commented on #34546
@Hexmage I just checked and [magento2-pwa](https://github.com/magento/magento2-pwa) didnt fix the issue either

[2022-07-13 11:48] engcom-November commented on #35419
Hi @digi-booster ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-07-13 11:48] #35419 closed, assigned to engcom-November

[2022-07-13 11:49] #35703 closed, assigned to engcom-November

[2022-07-13 11:59] engcom-Lima commented on #35737
Hi @BorisovskiP

I have tried to reproduce the issue on `2.4-develop` branch but issue is not reproducible.

I have followed below steps:
1. Created two websites and two stores and there store views following this [document](https://devdocs.magento.com/guides/v2.4/config-guide/multi-site/ms_websites.html).
2. Go to stores >> configuration >> Catalog >> catalog >> Price and set Catalog Price Scope

[2022-07-13 12:19] engcom-Dash commented on #35723
Hi @KarenO24 ,

Thanks for your reply...Currently we are Supporting magento version 2.4.x versions and we no longer supported magento version 1.9.x versions.So kindly upgrade the magento version.

Let us know in case we have missed anything. Thanks!

[2022-07-13 12:21] #35357 closed, assigned to engcom-November

[2022-07-13 12:29] engcom-November commented on #35753
@magento give me 2.4-develop instance

[2022-07-13 12:46] engcom-November commented on #35753
Thank you for the response @pauldonnelly.
Verified the issue again on Magento 2.4-develop branch and noticed the behavior is different for configurable and simple products. Hence updating the description and confirming the issue.
Thank you.

[2022-07-13 12:49] jamie-selesti opened #35765 "350 or more configurations causes the product not to show on the category page"
### Preconditions and environment

- Magento version: 2.4.3-p2
- PHP 7.4

### Steps to reproduce

1. Create a configurable product with 350 or more configurations
2. Assign this product to a category
3. Ensure, all products are in stock, enabled and associated with the active website

### Expected result

1. The product to be shown on the relevant assigned category page

### Actual result

1. The

[2022-07-13 12:53] mwdana commented on #35733
Are you saying you are receiving shipping amounts for 151 pounds?

________________________________
From: Rajasekar Panneerselvam ***@***.***>
Sent: Wednesday, July 13, 2022 5:28:43 AM
To: magento/magento2 ***@***.***>
Cc: Dana Yates ***@***.***>; Mention ***@***.***>
Subject: Re: [magento/magento2] UPS 150+ weight not allowed (Issue #35733)

Hi @mwdana<https://github.com/mwdana> ,

Thanks for you

[2022-07-13 13:16] engcom-November commented on #35764
Hi @Chrischapot ,
Thank you for reporting and collaboration. This is an intermittent issue which cannot be reproduced frequently on 2.4-develop branch. However this has been confirmed here: https://github.com/magento/magento2/issues/35466. We are closing this issue as duplicate. Kindly move onto this issue for latest updates / solutions on the same.
FYI..as a temporary workaround, please check bel

[2022-07-13 13:17] #35764 closed, assigned to engcom-November

[2022-07-13 13:23] Chrischapot commented on #35764
Hello,

Could yo please find a way to resolve this issue as it bugged - See the print screen, there is no numbers and access for me to do anything ?
How do we do that - Run the query: TRUNCATE ui_bookmark; this will reset the grid back to it's default and stop the infinite load.
***@***.***
Please advise !
Kind Regards

From: Girija Bhavani Kudupudi ***@***.***>
Sent: 13 July 2022 14:17
To: magent

[2022-07-13 13:30] Chrischapot commented on #35764
Issue not closed as unresolved - please revert some instruction as this is stopping me to help customer
Many thanks

From: Girija Bhavani Kudupudi ***@***.***>
Sent: 13 July 2022 14:18
To: magento/magento2 ***@***.***>
Cc: Christophe Chapot ***@***.***>; Mention ***@***.***>
Subject: Re: [magento/magento2] I cannot open the Catalog tab under my profile - Could you please debug (Issue #35764)

You

[2022-07-13 13:58] amenk commented on #7441
I looks to me like this problem resurfaces on 2.4.4 - can anyone confirm this?

[2022-07-13 15:40] amenk commented on #7441
Turns out we had the same problem like @aluckyar - what's a bit confusing is that the admin sorted display and the frontend sorted display differs, if sort_order = 0 for all the field (in our case we use a 3rd party importer which does not seem to write the sort_order field).

[2022-07-13 15:55] glo11468 commented on #35755
Hi @mariogobos ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.Can you please check on 2.4-develop branch whether you are still able to reproduce the issue.Vat Number is not a required value.we can save without it.please refer the screenshots.

![Screenshot (287)](https://user-images.githubusercontent.com/90306

[2022-07-13 16:28] profRomanovski commented on #35410
Have you got a solution for this issue?

[2022-07-13 16:31] youngcrush commented on #35763
@magento I am working on this

[2022-07-13 16:32] youngcrush commented on #35763
@magento add to contributors team

[2022-07-13 17:06] youngcrush commented on #35763
Hi @FilipS02
Thank you for reporting and collaboration. This is not make sense to add Price excluding tax because it is also same as price. As per my suggestion you can add Price including tax as per item.

[2022-07-13 19:21] rahulrave commented on #35761
@magento give me 2.4-develop instance

[2022-07-14 00:20] jorgehs91 opened #35767 "Magento 2.4.4 store view system config issue"
### Preconditions and environment

- I'm using Magento CE 2.4.4.
- I tested with a clean installation.
- Field `enabled` must be hidden in all scopes, except Default Config.

As precondition, I'm using the following `system.xml` and `config.xml` in a custom module.
[code]
[code]

### Steps to reproduce

1. In admin, go to Stores > Configuration;
2. Make sure you are under `Default Config` or `Main

[2022-07-14 00:39] seungwooc-23 opened #35768 "Unable to update cart item's custom option values with REST API"
### Preconditions and environment

- Magento CE version 2.4.4
- Component: REST API

### Steps to reproduce

1. Create a simple product in the catalog with a customizable option

Using the Magento REST API:

2. Create a cart for checkout (`POST /rest/default/V1/guest-carts/`) and add a cart item of the product created in step 1
[code]

3. Specify a new option_value in the payload and perform `PUT

[2022-07-14 03:05] sonnnsmartosc commented on #35132
486798798

[2022-07-14 07:36] srokatonie commented on #32437
I totally agree. There's actually no way to query for both prices (incl. and excl. VAT) using GraphQL!

[2022-07-14 07:43] ravendra1990 commented on #35767
Please use bellow code.
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="testing" translate="label" sortOrder="10">
            <label>Testing</label>
        </tab>
        <section id="testing" translate="label" sortOrder="90" showInDefault="1" showInWebsite="1" showI

[2022-07-14 08:46] #35763 closed, assigned to youngcrush

[2022-07-14 09:07] onlinebizsoft opened #35769 "order with invoice status pending get closed after shipping #34055"
### Preconditions and environment

- Magento version : 2.4.4
- Order with invoice with pending status
- Order have shipment

### Steps to reproduce

1. Place an order
2. Create an invoice
3. Edit the database to set status pending for invoice, set paid amount zero for the order and invoice
4. Ship the order

### Expected result

The order should be Processing (or Completed)

### Actual result

The

[2022-07-14 09:13] glo80326 commented on #35706
@magento give me 2.4-develop instance

[2022-07-14 09:52] jorgehs91 commented on #35767
Hi @ravendra1990, thanks for comment, but one thing that I missed to describe, is that I don't want to show the `enabled` field in store view and website scope.
I'll update my issue to describe this.

[2022-07-14 10:19] drinkingsouls commented on #34975
Just upgraded from 2.4.3-p3 to 2.4.4 and now experiencing this issue on Admin login. Can't login with Google Recaptcha

[2022-07-14T10:12:07.661109+00:00] main.ERROR: Magento\Framework\Exception\InputException: Can not resolve reCAPTCHA parameter. in /vendor/magento/module-re-captcha-ui/Model/CaptchaResponseResolver.php:25

[2022-07-14 10:21] benediktblank commented on #34975
You should apply the fix from @tschirmer or my composer patch that contains his fix.

[2022-07-14 10:34] engcom-Dash commented on #35758
Hi @hryvinskyi ,

Kindly add the Actual results and expected results and screenshots.It is very useful to proceed further.

Thanks.

[2022-07-14 10:40] drinkingsouls commented on #34975
The patch here fails to apply for me:
Corrupt patch at line 8.

[2022-07-14 10:45] engcom-Echo commented on #35756
Hello @MagePsycho,

This issue is reproducible on Magento 2.4-developer branch.
Please find the below screen for your reference.

Hence we are confirming this issue.

Steps followed as given in above [comment](https://github.com/magento/magento2/issues/35756#issue-1301838800).

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/51681435/178957909-c821354b-eea6-4d2b-bb7c-d

[2022-07-14 10:45] engcom-Dash commented on #35733
@magento give me 2.4-develop instance

[2022-07-14 11:04] engcom-Dash commented on #35733
Hi @mwdana ,

We are getting Actual result...there is no shipping methods showing  when we are checkout with 151 pounds.So we are confirming the issue.

Thanks!!!

[2022-07-14 11:30] engcom-Hotel commented on #35515
Dear @Minirock,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-07-14 11:30] #35515 closed, assigned to engcom-Hotel

[2022-07-14 11:58] engcom-Delta commented on #35595
Hi @NickvdMeij ,
Thank you for providing  detailed information, We tried to reproduce the issue on magento 2.4 develop instance , We found that if we update the price from store 1 , that updated price is getting reflected across all the store_view's. Moreover , it is expected behaviour  i believe, Kindly correct me if i am wrong or share me the document if you have.

<img width="855" alt="Screensh

[2022-07-14 12:04] engcom-Delta commented on #35701
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-07-14 12:04] #35701 closed, assigned to engcom-Delta

[2022-07-14 12:05] engcom-Delta commented on #35642
Hi @ilnytskyi ,
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-07-14 12:05] #35642 closed, assigned to engcom-Delta

[2022-07-14 12:07] engcom-Delta commented on #35635
Hi @o7-sol ,
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-07-14 12:07] #35635 closed, assigned to engcom-Delta

[2022-07-14 12:12] engcom-Delta commented on #35755
Hi @mariogobos ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.Can you please check on 2.4-develop branch whether you are still able to reproduce the issue.Vat Number is not a required value.we can save without it.please refer the screenshots attached.

![Screenshot (288)](https://user-images.githubusercontent.

[2022-07-14 12:40] nachosan2 opened #35771 "Admin User can not see categories details and configurations nor create new categories"
### Preconditions and environment

Adobe Commerce 2.4.4

### Steps to reproduce

1. In Admin backend, click side panel Catalog > Categories
![image](https://user-images.githubusercontent.com/109289055/178983805-5568d7ef-90c1-496e-9358-2479d0558f5e.png)
2. Be able to see the Default Category configuration
3. Or create a Root Category o Subcategory

### Expected result

User can see categories confi

[2022-07-14 15:57] drinkingsouls commented on #34975
Manually applied the code by @tschirmer
When using this, the Recaptcha box doesn't show until the Username and Password have been entered and Sign In has been clicked.
The Recaptcha box then momentarily shows before proceeding to the 2FA Authenticator code step.

It feels a little like its bypassing Google Recaptcha completely with the way it's shown. Can anyone confirm that the Recaptcha works co

[2022-07-14 16:03] youngcrush commented on #35771
@magento give me 2.4-develop enterprise edition instance

[2022-07-14 16:32] WilliejanB commented on #29263
Hi @magento-engcom-team @aadmathijssen @edenduong,

We currently use Magento ver. 2.4.3, which still has the problem. Please confirm if it is solved in Magento ver. 2.4.4 release?

Best regards,
Williejan

[2022-07-14 16:56] youngcrush commented on #35761
@magento I am working on this

[2022-07-14 17:08] youngcrush commented on #35761
Hi @rahulrave
issue is from app/code/Bigdrop/Workout/Block/Custom.php
There is no file Subscription.php in Helper folder. That's why issue is coming. After comment that line page is loaded properly.
![custom-workout](https://user-images.githubusercontent.com/63966602/179042096-1220da73-16d0-4c5d-9fb5-149d6e201221.png)

[2022-07-14 19:11] rahulrave commented on #35761
@youngcrush
I was forget to add dependent module called subscription module , Please find in attachment. So enabled that line again and after login you will see custom tabs in my account called BB Challenges , My Custom Workout , if you will click on these tabs and will refresh page again then it will logout automatically.
[Subscription.tar.gz](https://github.com/magento/magento2/files/9114644/Sub

[2022-07-14 22:22] usman786cs commented on #4921
Still getting this error on Magento v2.4.3-p2.
Any suggestions to fix it please?

[2022-07-15 04:39] ravendra1990 commented on #35767
hi @jorgehs91 I think issues persist because  of the
 `<depends>` tag. Your Email Field is depend  on the enabled fields.
   If you will remove the that tag it will work
![Screenshot 2022-07-15 100614](https://user-images.githubusercontent.com/109273522/179151633-ab5d058d-238b-4104-88d3-07485452300b.png)
![Screenshot 2022-07-15 100647](https://user-images.githubusercontent.com/109273522/179151636-

[2022-07-15 05:43] engcom-Lima commented on #35771
@magento give me 2.4-develop enterprise edition instance

[2022-07-15 05:57] engcom-Lima commented on #35771
Hi @nachosan2

I have tried to reproduce the issue but issue is not reproducible to me.
Kindly upgrade your PHP to PHP 8.1 with 2.4.4 as per the [document](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html).
After upgrading to 8.1 follow below steps:
1. Restart your apache.
2. Run bin/magento setup:upgrade.
3. Clear indexer and cache.
If still you are facing this issue t

[2022-07-15 06:14] benediktblank commented on #34975
I think you applied his first version. You should apply the "Try this instead.".
I mentioned the same behavior already you describe and he provided an adjusted fix.

[2022-07-15 06:44] engcom-Dash commented on #35733
@ magento give me 2.4-develop instance

[2022-07-15 08:01] oneserv-heuser commented on #35765
For us, this is a real critical issue as we have several bigger config products.

Magento doesn't seem to be able anymore to handle huge configs, there was a time where problems arised with more than 3000 singles behind a config, but not with 350 or less (see https://github.com/magento/magento2/issues/35759, another issue with bigger configs)...

[2022-07-15 08:58] artskirk commented on #29760
Issue already fixed on 2.4-develop

![image](https://user-images.githubusercontent.com/57759456/179190406-b0a4a678-ae92-40ee-aba4-1198241bffb3.png)

[2022-07-15 09:11] artskirk commented on #35691
@magento I am working on this

[2022-07-15 09:49] #35465 closed, assigned to nobody

[2022-07-15 09:49] engcom-Delta commented on #35465
The issue in this ticket is reproducible. After further investigation we found out that currently in the existing system, this is the default behaviour and filtering of data, store scope wise is not done according to user role scope. Scopes of users which is define in acl.xml file in any module is just used to provide access to api. (which user can access which api) and currently not working on da

[2022-07-15 09:53] engcom-Dash commented on #35733
@magento give me 2.4-develop instance

[2022-07-15 10:12] engcom-Hotel commented on #35612
Hello @j0um,

Thanks for the report and collaboration!

We have checked the issue via going through with the codebase and found that the issue is reproducible in Magento 2.4-develop branch.

The `getStatus` method is defined in `app/code/Magento/Sales/Model/Order/Item.php` which implements the `app/code/Magento/Sales/Api/Data/OrderItemInterface.php` interface. `OrderItemInterface` doesn't have `ge

[2022-07-15 10:17] engcom-November commented on #35708
Hi @o7-sol ,
We are closing this issue as there has been no latest on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-07-15 10:17] #35708 closed, assigned to engcom-November

[2022-07-15 10:23] MabidAlinaqvi commented on #35769
@magento give me 2.4-develop instance

[2022-07-15 10:25] engcom-Hotel commented on #35541
Hello @Sanjay-100,

Thanks for the report and contribution!

We request you to please provide some more information on this issue like expected and the actual result with a screenshot if possible. Currently, both actual and expected results are the same.

Also please let us know the specific issue you are facing while using Magento. I will also suggest you to please raise this query in [Magento st

[2022-07-15 10:35] AbstractFlame commented on #31087
I have the same issue exactly

[2022-07-15 11:01] engcom-Charlie commented on #30635
Hi @hubertus2017,

This issue of unavailability of the option “Allow to Edit Shipping Address Entered During Checkout on PayPal Side” is related to Braintree extension.

Apart from that, we can see the documentation mismatch issue here, to address that, I have created new [issue](https://github.com/magento/devdocs/issues/9480) for document updation about the same field in Magento.

Thank you!

[2022-07-15 11:31] engcom-Dash commented on #35177
@magento give me 2.4-develop branch

[2022-07-15 11:31] Funfelek commented on #33479
as far as i can see this problem exists i've just run into it,
problem is that bin/magento app:co:im is run in adminhtml emulation
when loading collection in vendor/magento/module-theme/Model/Config/Importer.php:getWarningMessages
it runs also vendor/magento/framework/View/Design/Theme/ThemeList.php:_loadFromFilesystem
then addItem is called, and following path is executed:
html/vendor/magento/fra

[2022-07-15 11:32] engcom-Dash commented on #35177
@magento give me 2.4-develop instance

[2022-07-15 11:56] engcom-Dash commented on #35177
Hi @mgoswamirave ,

Kindly add Actual results and Screenshots Because it is very useful to proceed further.

Thanks!!

[2022-07-15 12:03] glo11486 commented on #30835
@magento-admin give me 2.4.3 instance with edition b2b

[2022-07-15 12:04] glo11486 commented on #30835
@magento give me 2.4.4 instance

[2022-07-15 12:07] glo11486 commented on #30835
@magento give me 2.4.4 instance

[2022-07-15 12:08] engcom-November commented on #35757
Verified the issue on Magento 2.4-develop branch with B2B features enabled and the issue is reproducible. Hence updating description and confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/179219654-df33d118-8241-42cd-97c8-cc02b2a2a3bc.png)

[2022-07-15 12:11] glo11486 commented on #30835
@magento give me 2.4.4 instance

[2022-07-15 12:14] engcom-Delta commented on #35375
Hi @nbennett25 ,
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-07-15 12:14] #35375 closed, assigned to engcom-Delta

[2022-07-15 12:21] engcom-Delta commented on #35519
@magento give me 2.4-develop instance with venia 12.4

[2022-07-15 13:20] Werew1942 commented on #30685
Same on 2.3.5

[2022-07-15 13:53] iphigenie commented on #30596
Have you tried a super restrictive config.xml just to see if anything works at all? https://developer.adobe.com/commerce/php/tutorials/backend/modify-image-library-permissions/

Pick one tiny folder you have with a few images and put only that in the xml, just to see if it works.

eg. on 2.4.3-p1  for a folder pub/media/mytest put this in the config.xml of your main customisation module

`

[2022-07-15 14:12] leslilcp opened #35774 "HELP ASAP!!"
### Summary (*)
<The pricing of products is changing to pricing I did not put in. I check the products in Magento and all the pricing is correct and no discounts were added. The pricing shows it correct when you click on the item from the check but as soon as you add it to the chart it changes. The total of the chart says the correct pricing as well so I have no idea what is going on. It is doing

[2022-07-15 14:15] engcom-Delta commented on #35746
@magento give me 2.4-develop instance with edition ee

[2022-07-15 14:48] engcom-Delta commented on #35746
Hi @ayushi011 ,
We tried on cloud instance , issue is not reproducible , it works as expected.
please find the attached reference video.

https://www.loom.com/share/7f31e6096fbb4852a6aa5037d2f202ec

[2022-07-15 14:50] engcom-Delta commented on #35746
@magento give me 2.4.4 -develop instance with edition ee

[2022-07-15 15:09] onlinebizsoft commented on #35774
Look like related to tax setting for price display

[2022-07-15 15:29] dariovranjkovic commented on #35519
Is this pwa-venia theme? This checkout looks like as luma / standard
magento theme.. I sent report for venia, pwa, react theme.

Best regards,
Dario

pet, 15. srp 2022. 16:05 Penchalaiah K ***@***.***> je
napisao:

[2022-07-15 16:18] leslilcp commented on #35774
It does it for random products not all.

[2022-07-15 16:19] leslilcp commented on #35774
I can it back by just taking the product off the website and back on and the price always goes back to what it should be

[2022-07-15 16:26] perfpcs commented on #30596
@iphigenie  I don't think any of us are using Commerce Edition. I want to see a proper fix for the directory tree in Open Source.
If you have any ideas, we are all open to them, thanks.

[2022-07-15 20:08] marwan-corals commented on #34546
@Hexmage are you willing to help here ?

[2022-07-15 21:39] pmonosolo commented on #31167
I can also reproduce on 2.4.3, but with a custom plugin that was built in-house.

Same thing - when importing products using cron job - no problem. When using CLI command throws errors.

Interestingly, if you extend the class that does the import, it throws error. If you just use ObjectManager (yes I know), it does not throw these errors.

[2022-07-15 21:48] pmonosolo commented on #31167
Are you saying just throwing di.xml into src\vendor\magento\module-media-gallery-integration\etc\di.xml with

[code]

will work?

[2022-07-15 23:04] r1tt3r opened #35775 "Weee tax (Fixed product Tax) appears duplicated in the last product of the order"
### Preconditions and environment

- Magento version 2.4.4
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

1 - Enable Fixed product Tax on Store > Configuration > Sales > Tax
2 - Create a new product attribute for Fixed product tax
![image](https://user-images.githubusercontent.com/9289149/179322177-aa472f93-fefb-4e74-904d-39a2f60e9caf.png)
3 - Add this attri

[2022-07-15 23:39] r1tt3r commented on #35775
I found a commit in the develop branch to fix that issue: https://github.com/magento/magento2/commit/b182ae51863d5f738674869ad8bd6145629f4a73
Thank you @bubasuma

[2022-07-16 03:28] youngcrush commented on #35761
Hi @rahulrave Now we found error again of required Bigdrop\Theme\Setup\AttributeManager. Check again and provide all dependencies

[2022-07-16 14:11] mokanfar commented on #30577
Hello I would like to share my experience with this and a possible quirky solution that worked for me without patching code.

This issue was reproducible on production but not on staging leading us to believe it was a data issue. **A simple opening and manual page save of the _Admin Stores->Configuration->General->General tab_ solved the issue for us.**

[2022-07-16 16:52] #35681 closed, assigned to engcom-Delta

[2022-07-17 07:08] DeepShah2511 opened #35776 "Upgrade to Magento 2.4.4: Customer not logged in automatically after click confirmation link"
### Preconditions and environment

- Magento version 2.4.4
- Upgrading from Magento v2.4.1 to v2.4.4.

### Steps to reproduce

1. go to customer/account/create link
2. created customer account successfully
3. get confirmation email and click on confirmation link
4. go to customer/account/login page
5. enter the email and password
6. giving "Invalid form key error" and stay on the login page

### E

[2022-07-17 18:59] rahulrave commented on #35761
[Bigdrop.tar.gz](https://github.com/magento/magento2/files/9128377/Bigdrop.tar.gz)
Added all custom modules , Hope it will fix dependency , let me know if you need whole code folder , I will sahre.

[2022-07-18 02:13] manhtranisobar commented on #35757
Hi @engcom-November
Can I know when we have patch to fix this issue?

[2022-07-18 07:27] FYvw commented on #35692
Hi @engcom-Echo,

Yes, it is more a feature request than a bug. I'm trying to make these UI components less stressful than they already are.

[2022-07-18 09:08] engcom-Hotel commented on #35745
@magento give me 2.4-develop instance

[2022-07-18 09:13] engcom-Hotel commented on #35200
@magento give me 2.4-develop instance

[2022-07-18 10:00] norgeindian commented on #27474
@engcom-Hotel , do you have any news for me?

[2022-07-18 10:11] engcom-Lima commented on #35768
Hi @seungwooc-23

Kindly elaborate more about your steps to reproduce for ex-What option type you have choosed to create customizable options of simple product , your `post` method request body and also provide screeshots of the response that you are getting.

Thank you!!

[2022-07-18 10:16] engcom-Delta commented on #35519
@magento give me 2.4-develop instance with venia 12.4

[2022-07-18 10:19] engcom-Hotel commented on #35319
Hello @FadedOut,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-2877 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2877&type=commits

Based on the Jira ticket, the target version is 2.4.6

Thanks

[2022-07-18 10:19] #35319 closed, assigned to nobody

[2022-07-18 10:20] engcom-Delta commented on #35717
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-07-18 10:20] #35717 closed, assigned to engcom-Delta

[2022-07-18 10:21] engcom-Delta commented on #35726
@magento give me 2.4-develop instance

[2022-07-18 10:21] engcom-Lima commented on #35592
@magento give me 2.4-develop

[2022-07-18 10:22] engcom-Lima commented on #35592
@magento give me 2.4-develop instance

[2022-07-18 10:25] engcom-Hotel commented on #35133
Hello @oskar-olaussen,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-2567 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-2567&type=commits

Based on the Jira ticket, the target version is 2.4.6

Thanks

[2022-07-18 10:25] #35133 closed, assigned to neddy236

[2022-07-18 10:40] engcom-Dash commented on #35746
@magento give me 2.4-develop instance

[2022-07-18 11:07] engcom-November commented on #35775
Hi @r1tt3r ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but couldn't reproduce the issue.
Fixed Product taxes are displayed as expected in admin panel for orders created from both front end and admin - No issue.
![image](https://user-images.githubusercontent.com/60198231/179498718-7009e990-f53b-47ae-9cfc-07c2d28858d1.png)
Kindly recheck the issue on

[2022-07-18 12:02] engcom-November commented on #35765
Hi @jamie-selesti , Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop branch but could not able to reproduce the issue.
Configurable Product is getting displayed on Front end with 500+ options after reindexing and cache flush on the assigned category page.
![image](https://user-images.githubusercontent.com/60198231/179506789-03faaeae-37a6-40d9-be13-72286a04dc79.p

[2022-07-18 12:15] engcom-November commented on #35765
Hi @jamie-selesti ,
Yes I did verified category page as well. Product is displayed on category page after reindex and cache flush:
![image](https://user-images.githubusercontent.com/60198231/179508962-e3e9c394-4e77-4481-8241-3779a6afadd1.png)
![image](https://user-images.githubusercontent.com/60198231/179508905-2e26994f-f9a8-4772-a2e2-e674ce87c1f5.png)

[2022-07-18 12:23] engcom-November commented on #35759
Hi @oneserv-heuser ,
Thank you for reporting and collaboration. Looks like this is a duplicate of this [issue](https://github.com/magento/magento2/issues/35764) filtering/searching with large data is causing page crash and observe below error message in Magento 2.4-develop branch:
![image](https://user-images.githubusercontent.com/60198231/179510037-d460e68b-9cb0-48c9-b4b9-b880b33208b9.png)
Kindly

[2022-07-18 12:32] engcom-Delta commented on #35519
@magento give me 2.4-develop instance with venia 12.4

[2022-07-18 13:08] engcom-Lima commented on #35744
Hi @gainesyeild

As per your above [comment](https://github.com/magento/magento2/issues/35744#issuecomment-1185929818) your issue issue is resolved and now you are getting another issue related to inventory.
Kindly create separate issue for it meanwhile our internal team is working on this new issue.

As your issue is resolved now, hence marking this issue as non-issue and closing it.

Thanks

[2022-07-18 13:08] #35744 closed, assigned to engcom-Lima

[2022-07-18 13:11] apedicdev commented on #31764
@danieluniform did u try reindexing? being a flat table it should add the missing column as it happened for me

[2022-07-18 13:32] engcom-Lima commented on #35592
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Cross Border Trade kicks in even when no tax should be calculated
**Pre-requisite:**

- Install fresh Magento `2.4-develop`.
- Product should be created.

**Steps to reproduce:**
1. After installation of magento, run below set of commands:
[code]
2. Setup tax rates
![image](https://user-images.git

[2022-07-18 14:57] johncy65 commented on #35542
How did you create this patches?

[2022-07-18 15:03] engcom-Lima commented on #35592
Hi @hostep

Thanks for your detailed information provided by you.

In order to involve product owner I will confirm with my internal team members. Then, I will update you further on this.

Thanks!!

[2022-07-18 15:05] leslilcp commented on #35774
Where would I check the tax setting for price display?

[2022-07-18 15:06] engcom-Delta commented on #35745
Hi @toantvlf ,
Verified the issue but could not able to reproduce the issue.Can you please check on 2.4-develop branch whether you are still able to reproduce the issue.please refer the screenshots.
![Screenshot (297)](https://user-images.githubusercontent.com/51681379/179542191-9b929d99-ec7a-427d-ae13-78b5458216b8.png)
![Screenshot (298)](https://user-images.githubusercontent.com/51681379/1795422

[2022-07-18 15:52] seungwooc-23 commented on #35768
https://github.com/magento give me 2.4-develop instance

[2022-07-18 16:12] seungwooc-23 commented on #35768
Hi @engcom-Lima,

* The option type chosen is the Text Field type
* The cart item addition is
[code]

* List the items on the cart to verify its items:
[code]

[2022-07-18 17:42] gainesyeild opened #35778 "Inventory Endpoint Not Working"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Request and Response Message:
GET https://magento2-1.glew.io/rest/default/V1/inventory/source-items
Authorization: OAuth oauth_consumer_key="486mpokb0vpeod2kg5b3qo09mm832wdn",oauth_token="2q1mlu7nxpsg3vwoq25jkd012pw5ft6l",oauth_signature_method="HMAC-SHA1",oau

[2022-07-18 17:53] magentoprasad commented on #35717
Hello
currently we manage to resolve the issue. but it was not good practice.
we made changes in file /vendor/magento/module-catalog/Ui/Component/Listing/Columns/ProductActions.php
line no 61 'ariaLabel' => __('Edit ') . $item['name'], To   'ariaLabel' => __('Edit '),

One more I observe that when Elasticsearch get inactive that time also issue raised or product not get saved.

[2022-07-19 02:15] toantvlf commented on #35745
in screenshot grid product of you - product still has the name but in file csv name is empty -  did you import properly?
![2022-07-19 09_11_16-Test Dev csv - Ron's Editor - licensed to Evaluator](https://user-images.githubusercontent.com/17753058/179649447-443c4d56-e879-4d3a-ae42-85cf8b46ac26.png)
I checked the code, same issue, because you not check isset for $item['name']

[2022-07-19 06:22] engcom-Echo commented on #35692
Hello @FYvw ,

As per your [comment](https://github.com/magento/magento2/issues/35692#issuecomment-1186856678) Its a feature request than a bug. Hence marking as a feature request.

Thanks

[2022-07-19 06:45] oneserv-heuser commented on #35759
@engcom-November Yes, the same error message appears to the end user.

[2022-07-19 06:46] oneserv-heuser commented on #35765
@magento give me 2.4-develop instance

[2022-07-19 07:15] engcom-Delta commented on #35716
Hi @yasireg ,
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards,

[2022-07-19 07:15] #35716 closed, assigned to engcom-Delta

[2022-07-19 07:17] oneserv-heuser commented on #35765
@engcom-November I was able to reproduce the issue again on a vanilla magento 2.4-develop instance.
I just created a new configurable product with 168 options, so significantly less than 350, and even there the issue appears.
I added the config to multiple categories, invalidated all index, flushed the cache, the product still doesn't appear in any of the categories.

Magento knows that the produc

[2022-07-19 07:37] Harpreet-StreamMarket opened #35780 "Can't decrease qty in cart The requested qty is not available"
### Preconditions and environment

Magento version => 2.4.4

### Steps to reproduce

<ol dir="auto">
<li>Admin - Create a product with Quantity more than 1. ex: 20  (Catalog - Products - Add New Product)</li>
<li>Front-end - Login as Customer - Add the Product to Cart with Quantity say ex: 12</li>
<li>Admin - Edit the Product - Update the Quantity  say ex: 10 and save. Or purchase the Product usin

[2022-07-19 08:14] adamlavery commented on #35676
Hi, the issue is described well enough already and doesn't need screenshots or steps. Below example of a custom import that is blocked by the a-z/0-9 column name restriction. Had to override the core class to allow this format to be read so it can be processed.

[code]

The sensible approach is to allow the child class to specify a different validation check, defaulting to usual core validation.

[2022-07-19 08:40] engcom-Lima commented on #35768
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Unable to update cart item's custom option values with REST API.

**Pre-requisite:**
Clean magento should be installed `2.4-develop`

**Steps to reproduce:**

1. Create simple product using customizable option (text as option type).
2. Add product to the cart using guest.
3. Go to db capture quote

[2022-07-19 09:08] vandijkstef opened #35781 "Mage 2.4.4 Admin Grid Filter/Search not visible"
### Preconditions and environment

- Magento 2.4.4 - Updated from Magento 2.4.3-p1

### Steps to reproduce

Just ran the update

### Expected result

Having filter/search on order/product grid available/visible

### Actual result

The search/filter options are not visible. It did however kept the old filter state, indicating the back-end of it is still working

### Additional information

I update

[2022-07-19 09:20] engcom-Lima commented on #35780
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Not able to decrease the qty in cart getting "The requested qty is not available".

**Pre-requisite:**
Fresh magento `2.4-develop` should be installed.

**Steps to reproduce:**

1. Admin - Create a product with Quantity more than 1. ex: 20 (Catalog - Products - Add New Product)
2. Front-end - Logi

[2022-07-19 09:29] vandijkstef commented on #35781
2.4.3-p1
![Schermafbeelding 2022-07-19 om 11 10 50](https://user-images.githubusercontent.com/5433241/179717465-2872d6af-9a66-4287-97c3-2d321145410a.png)

2.4.4
![Schermafbeelding 2022-07-19 om 11 28 50](https://user-images.githubusercontent.com/5433241/179717513-8dad306d-e8d1-4e86-9b53-a0e1f146e9b0.png)

[2022-07-19 10:14] ashkumar-wtc commented on #30915
Do we have a patch for this ? We need it for Magento 2.43 .

[2022-07-19 10:23] convenient commented on #30915
https://github.com/magento/magento2/commit/b0131a276cb34bd928da996658b4110ec1188863

On Tue, 19 Jul 2022 at 11:14, ashkumar-wtc ***@***.***> wrote:

[2022-07-19 10:24] toantvlf commented on #35745
![2022-07-19 17_23_29-Products _ Inventory _ Catalog _ Magento Admin1](https://user-images.githubusercontent.com/17753058/179728865-ae684b1b-6f6e-42a8-be5d-7d99b96c1607.png)

[2022-07-19 10:46] engcom-Charlie commented on #35695
Hi @FYvw,

In order to reproduce this issue, I have added below Ui Component form and its working fine. The issue is not reproducible on 2.4-develop local setup.

[code]

<img width="1366" alt="image" src="https://user-images.githubusercontent.com/51680850/179731481-e33a59af-ecd7-4763-8b5d-2f75157f5b57.png">

Can you please check once again and confirm or let me know if I am missing any other step

[2022-07-19 11:20] engcom-Hotel commented on #35592
Hello @hostep,

We are putting this issue on hold to confirm the expected behavior with the PO.

Thanks

[2022-07-19 12:11] engcom-November commented on #35781
Hi @vandijkstef ,
Thank you for reporting and collaboration. Verified the issue by upgrading from 2.4.3-P1 to 2.4.4 with below steps but couldn't reproduce the issue.
**Steps performed:**
1. Installed 2.4.3-P1 project-community-edition with PHP 7.4 active
2. Created few products and orders in the instance
3. Upgraded to 2.4.4 Project-community-edition using ref upgrade [guide](https://experiencele

[2022-07-19 12:17] VitaliyOlikh commented on #16686
where can I find a solution to this problem?

[2022-07-19 12:23] engcom-November commented on #35776
Hi @DeepShah2511 ,
Thank you for reporting and collaboration. Verified the issue by upgrading from 2.4.1 project-community-edition to 2.4.4 and 2.4-develop branch as well but could not reproduce the issue with below steps performed:
1. Created customer account from both front-end and admin - customers page
2. New Account email triggered when created from front end as below:
![image](https://user-i

[2022-07-19 12:37] engcom-Lima commented on #33685
Hi @onlinebizsoft  ,

Thank you for reporting the issue and collaboration.

Can you please provide us the exact steps to reproduce the issue.
Also can you please confirm if the issue is still reproducible with latest 2.4-develop instance.

Thanks !!

[2022-07-19 13:22] engcom-Lima commented on #35769
As per our internal discussion closing this issue as it is duplicate of this [issue](https://github.com/magento/magento2/issues/34055).

[2022-07-19 13:22] #35769 closed, assigned to nobody

[2022-07-19 13:23] engcom-Lima commented on #34055
As per our internal team discussion, reopening this issue.

[2022-07-19 13:27] engcom-Lima commented on #34055
Hi @onlinebizsoft,

In order reproduce the issue can you provide us steps where we do not have to change anything in Db?

Thank you

[2022-07-19 13:29] engcom-November commented on #35774
Hi @leslilcp ,
Thank you for reporting and collaboration. Please check the tax calculation settings and price display settings in your store: Stores > Settings > Configuration - Sales - Tax. Ref [guide](https://docs.magento.com/user-guide/tax/tax-settings-general.html). Also check the tax zones / rules added. Stores - Taxes - Tax Zones and tax rules. [Ref guide](https://docs.magento.com/user-guide

[2022-07-19 13:36] #35759 closed, assigned to engcom-November

[2022-07-19 13:40] onlinebizsoft commented on #34055
@engcom-Lima Magento designed the status flag for Invoice which can be Pending/Paid.
So can you tell me how can I create an invoice with Pending status?

[2022-07-19 13:41] oneserv-heuser commented on #35466
@engcom-November Will this be available as patch via the quality-patches Tool and in Magento 2.4.5?
For us this is definitly an issue with the highest priority as you can read in #35759

[2022-07-19 13:42] Hexmage commented on #34973
@engcom-Hotel
This is the error I'm receiving when I try to login through graphql.
[code]

[2022-07-19 13:46] engcom-Lima commented on #35661
Hi @OvalMedia ,

Thank you for reporting the issue.

I tried to reproduce the issue on Magento 2.4-develop version but my ViewModel worked as expected for Magento\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist Block.

I added ViewModel in custom module referencing as view.addto.wishlist in the layout file catalog_product_view.xml, it worked for me. Below are the attached screenshot for same:
*

[2022-07-19 13:47] leslilcp commented on #35774
Just checked all of that. All looked good. Any other ideas??

[2022-07-19 14:14] engcom-Hotel commented on #35741
Hello @pmzandbergen,

Thanks for the report and collaboration!

We have tried to reproduce the issue in the 2.4-develop branch and the issue is reproducible for us. We have followed below steps in order to reproduce it:

1. Create a Custom module.
2. In the `execute` function of the controller file we have written the below code:
[code]
3. For both `$cache` and `$cache3`, we are getting the same r

[2022-07-19 14:17] engcom-Lima commented on #35552
Hi @gelado

I have tried to reproduce the issue but unable to reproudce it.
Tried to reproduce with different type of customers and multiple products also at different **times** but I couldn't reproduce the issue.
Below is the screenshots:
**In abandoned cart report**
![image](https://user-images.githubusercontent.com/60198022/179772061-788d6e69-6928-418a-b4c6-cb4678eb84e0.png)

**In CSV file**
![

[2022-07-19 14:31] Hexmage commented on #34546
@marwan-corals
The Plugin
[code]
The schema.graphqls additions
[code]

[2022-07-19 14:36] engcom-Charlie commented on #34945
Hi @tuna2smc,

As per the Magento naming convention mentioned in [this](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-topics/css-themes.html), if you wants to import a custom less file then it should start with an underscore "_".

As per Magento implementation its an expected behaviour and hence not considering it as an issue. Hence closing the same.

Thank you!

[2022-07-19 14:36] #34945 closed, assigned to engcom-Charlie

[2022-07-19 14:56] brayan-kemana opened #35782 "Time to time html display on Backend"
### Preconditions and environment

- Magento version 2.4.3-p2
- PHP 7.4
- Developer mode

### Steps to reproduce

1.) Login on admin.
2.) Open some menu on admin.
3.) It sometimes display sometimes not.

### Expected result

No html diplaye on Admin

### Actual result

When you open some menu this html popup displayed

### Additional information

I'm using Magento 2.4.3-p2 version and I'm getting

[2022-07-19 15:07] vandijkstef commented on #35781
- Switched to PHP8.1 (missed that, thanks!) -> Did not resolve
- Cleared ALL modules in composer and app/code directory -> It did resolve

Going to add everything back in one-by-one and report back here once I got a better idea what is doing this

[2022-07-19 15:46] gainesyeild commented on #35778
HI,

I am having trouble understanding a few of the items. Firstly, I thought
this was a Rest API and I am wondering why I need to install the Magento
package. I can successfully hit other endpoints just not Inventory or
Refunds. Second, what did you do in step 2? Third, I could never get the
generate tokens endpoint to work which is why I have to do it for each
endpoint.

I am using this:
https:/

[2022-07-19 16:29] hostep commented on #35306
Well, for one thing, you really shouldn't have `composer/composer` in your Magento's project `composer.json` file.

Magento did have this a very long time ago, in the 2.0.x, 2.1.x and 2.2.x versions, but it was removed in 2.3.x and 2.4.x versions, so you might have it as a left-over that never got cleaned up? I would strongly suggest you setup a new Magento project from scratch using the exact ver

[2022-07-19 16:59] malikt opened #35783 "Product grid is not getting displayed, getting undefined array key "name" in logs."
### Preconditions and environment

- Magento 2.4.4
- Upgraded from M2.4.1
- PHP 8.1

### Steps to reproduce

1. Login as admin.
2. Go to Store->attributes->product search code "name" and set Values Required to "NO"
3. Create a product without name in 2.4.1 and then upgrade to 2.4.4 along with PHP.
4. Now, create a Product without name after setting the 'Name' attribute as not mandatory.

### Expec

[2022-07-19 17:22] vandijkstef commented on #35781
@engcom-November Thanks again for giving me pointers. I found the module that is creating this behaviour (see mentioned issue in the thread here).

[2022-07-19 17:30] devefectus opened #35784 "Magento Integration not activate"
### Preconditions and environment

![image](https://user-images.githubusercontent.com/109619605/179812507-3233b717-673e-49e0-b1d3-d0271635132b.png)

-v Magento versão 2.4.4

### Steps to reproduce

Magento integration page

### Expected result

I can't activate the integration in my magento store

### Actual result

Integration 'soap api' has been submitted for activation.

### Additional informat

[2022-07-19 18:24] timoffmax commented on #35604
Also reproducible when you run integration tests.

[2022-07-20 02:34] #32464 closed, assigned to mozok

[2022-07-20 02:34] #35652 closed, assigned to Usik2203

[2022-07-20 02:34] #26104 closed, assigned to barryvdh

[2022-07-20 05:03] haroonsulahri opened #35785 "Megento 2.3 Sales Confirugation Not Saving"
Hi,
My site sales configuration not saving after changing.We tired to fix this issue.

[2022-07-20 05:29] engcom-Echo commented on #35024
Hi @in-session,

Thank you for reporting the issue.

We tried to reproduce it on Magento 2.4-dev but the issue is not reproducible.

Steps followed to reproduce issue:

1- Install the fresh Magento 2.4-dev instance.
2- Open file Magento_Customer/layout/customer_account_login.xml
3- Add <link rel="canonical" src="customer/account/login/" />

<img width="1328" alt="34903-I" src="https://user-images.

[2022-07-20 06:17] Laiba-Gillani opened #35786 "Not able to override sortRatesByPrice() method of core class \Magento\Shipping\Model\Rate\Result by using preference"
I am trying to override sortRatesByPrice() method of core class \Magento\Shipping\Model\Rate\Result by using preference but its returning prefered method in script but core method on frontend. Frontend is in vue.

[2022-07-20 06:27] engcom-Dash commented on #35733
@magento give me 2.4-develop instance

[2022-07-20 06:58] engcom-Dash commented on #35784
@magento give me 2.4-develop instance

[2022-07-20 07:22] hubertus2017 commented on #30635
Hi @engcom-Charlie ,

the feedback from braintree is:

_As I mentioned earlier, that functionality was part of Default Magento's module. Now the GENE Module is being used as Default Module and we don't have that functionality included (Mostly because it was not into a requirement when discussed with Braintree and PaypalTeam). The Magento docs haven't been updated completely and it is still in proc

[2022-07-20 07:42] engcom-Delta commented on #35745
Hi @toantvlf ,
Thank you for updating . We are able to reproduce the issue after verifying on Magento 2.4 develop branch.
Please refer the screenshot . Hence issue has been confirmed.

![Screenshot (306)](https://user-images.githubusercontent.com/51681379/179925575-1ab3dae3-f090-4e04-aa92-4e27ac63c8b9.png)

Please find CSV file:
[CD 2.csv](https://github.com/magento/magento2/files/9147572/CD.2.csv

[2022-07-20 07:59] engcom-Charlie commented on #35391
:heavy_check_mark: Issue Confirmed

Tried to reproduce the issue on magento 2.4-develop and its reproducible.

**Manual testing scenario:**

1. Clean Magento setup
2. Created coding error by adding some extra or wrong operator in controller
3. Executed bin/magento set:di:com -vvv
4. Also tried with -v, -vv options
5. We are getting the error on compile

**Expected Result:**
We should get the prope

[2022-07-20 08:02] engcom-Lima commented on #35783
@magento give me 2.4-develop instance

[2022-07-20 09:17] engcom-Dash commented on #35784
@magento give me 2.4-develop instance

[2022-07-20 09:37] engcom-November commented on #35261
Hi @GamerHegi64 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch but couldn't reproduce the issue.
Please check the below code and you will see the correct data:
[code]
<img width="841" alt="image" src="https://user-images.githubusercontent.com/60198231/179950204-de369fc2-27c4-4cf8-bb62-029eb2567ee8.png">
Kindly recheck the issue on Magento 2.4-develop

[2022-07-20 09:39] engcom-November commented on #35680
Hi @qsolutions-pl ,
Thank you for reporting. Verified the issue on Magento 2.4-develop branch but couldn't reproduce the issue.
**Steps performed:**
    1. Create a custom module
    2. Set mode developer
    3. Add events.xml in etc/frontend
Its not getting called in developer and production mode. Because all orders related requests perform by REST API calls. So you need to add events.xml in  etc

[2022-07-20 09:43] engcom-Lima commented on #35666
Hi @WebKenth ,

Thank you for raising this issue.

I have gone through your explanation of some of the core Magento functionality issues which you have raised and found that these part of code can become better in terms of exception handling.

Regarding Street Address validation, Street Address is mandatory while checking out with shipping details so that is why errors don’t come in Magento Vanill

[2022-07-20 09:44] engcom-November commented on #35781
Hi @vandijkstef ,
Thank you for the response. TIG_GLS is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(support) on the [Magento Marke

[2022-07-20 09:44] #35781 closed, assigned to engcom-November

[2022-07-20 09:53] engcom-Lima commented on #34989
Hi @MeCapron ,

Thank you for the collaboration and reporting the issue.
Can you please provide us with the exact steps to reproduce this issue.

Thanks!

[2022-07-20 10:06] engcom-November commented on #35168
Hi @Rickertje ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-07-20 10:06] #35168 closed, assigned to engcom-November

[2022-07-20 10:21] hardikM-addweb commented on #30775
I was facing the same issue here. And i think that price filter in graphql does not work with position. I have set price filter position to 500, but still it always shows on top.

Any help will be appreciated

Thank you

[2022-07-20 10:36] engcom-Hotel commented on #35083
Hello @bjclark13,

Thanks for the report and collaboration!

I hope you have passed `--elasticsearch-enable-auth=true` while running `setup:install` command.

Thanks

[2022-07-20 10:41] engcom-Dash commented on #35782
Hello @magentothings ,

 We have tried to reproduce the issue in Magento 2.4-develop branch the issue is not reproducible.

Please refer the below screenshot for the reference;
![Screenshot from 2022-07-20 15-02-26](https://user-images.githubusercontent.com/60198592/179962381-23b11015-5322-4e03-bc43-20cb5c80e742.png)

We have followed the below steps in order to reproduce the issue:

1.) Login on

[2022-07-20 10:43] engcom-Hotel commented on #35597
Hello @hemendraajmera,

I suggest you post these kinds of queries in the [Magento StackExchange](https://magento.stackexchange.com/). This platform is not suitable for this.

Thanks

[2022-07-20 10:52] engcom-November commented on #35774
Hi @leslilcp ,
Please provide more details to reproduce the issue like: your current Magento version, any 3rd party extensions / modules enabled, previous and current magento versions if issue is caused after upgrade. This issue is not reproducible on 2.4-develop branch. Kindly check the Magento system [requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) and

[2022-07-20 11:11] engcom-Hotel commented on #35471
Hello @BorisovskiP,

We have tried to reproduce the issue in the Magento 2.4-develop branch as well as 2.4.4 but the issue is not reproducible for us with PHP 8.1, which is mentioned here in [system requirement](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html).

The code mentioned below returns `Main Website Store` for us:

[code]

Let us know in case we have missed an

[2022-07-20 11:16] engcom-November commented on #35702
Hi @drinkingsouls ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-07-20 11:16] #35702 closed, assigned to engcom-November

[2022-07-20 11:17] #35724 closed, assigned to engcom-November

[2022-07-20 11:22] NickvdMeij commented on #35595
Hey @engcom-Delta,

Sorry for comming back a bit later than usual, had a few busy days.
Regarding your question, I believe its not expected behaviour. In the documentation (https://developer.adobe.com/commerce/webapi/rest/tutorials/) it stated the following:

As you can see, it states the following regarding the scope: "Specifies which store the call affects. In this tutorial, this value is defaul

[2022-07-20 11:22] #29760 closed, assigned to engcom-Alfa

[2022-07-20 11:38] engcom-Lima commented on #34754
Hi @PTuijtelaars-ISAAC ,

Thanks for reporting the issue

Tried reproducing the issue with latest 2.4-develop instance however the issue is not reproducible.

Steps tried to reproduce the issue

1. Install latest 2.4-develop instance
2. Configure rabbitmq [devdocs](https://devdocs.magento.com/guides/v2.4/install-gde/prereq/install-rabbitmq.html)
3. Create a custom queue [devdocs](https://developer

[2022-07-20 11:51] rvm-pmis commented on #35141
Not sure if this re-opens the ticket, but....
The last test case in this ticket used synonyms "laptop, notebook" combined with 2<75%.
What happens then if you search for either word is that Magento sends the query "laptop notebook" to elasticsearch. The minimum match criterium 2<75% in this case means match at least 1 of the keywords. That's why you get results.

If you were to test with synonyms

[2022-07-20 12:50] MarcusWolschon opened #35787 "Can't create a credit memo with qty 0"
### Preconditions and environment

- Magento version 2.4.3-p2

### Steps to reproduce

1. Create an order
2. pay the order
3. invoice the order
4. enter the credit memo screen
5. enter qty=0
6. press "updaste QTY's"

### Expected result

The "subtotal" updates to 0 and the "refund offline" button is enabled as long as the grand total (including shipping and adjustments) of the refund is >0

### Ac

[2022-07-20 12:53] engcom-Lima commented on #35787
@magento give me 2.4-develop instance

[2022-07-20 12:57] engcom-Echo commented on #35446
Hello @tschirmer,

Thank you for reporting the issue.

We tried to reproduce it on Magento 2.4-dev but the issue is not reproducible.

Steps followed to reproduce issue:

1- Install the fresh Magento 2.4-dev instance.
2- Remove all reference to consumers from env.php and config.php
3- Place order of a product which has 1 quantity remaining.
4- Order is placed
5- Product becomes Out Of Stock after

[2022-07-20 13:22] engcom-November commented on #35765
@magento give me 2.4-develop instance

[2022-07-20 14:36] engcom-Alfa commented on #35474
Hi @marcelovillalta0
As suggested in above-comment, have to tried with settings updated? Is it working now?
If you haven't tried yet, please give a try.

If you tried and still getting an issue, kindly help us with all the step by step commands and settings you are following up during the installation. It will help us to reproduce and then to confirm the issue.

Thanks in advance!

Hi @gwharton &

[2022-07-20 15:03] engcom-Hotel commented on #35106
Hello @wojtekn,

Thanks for reporting the issue.

We are analyzing it at our end. But it will help us better to understand it more accurately if you can provide us some steps with some screenshots of where exactly you are getting this issue so that we can replicate the issue with the given steps at our end and could provide a solution in a better way.

Thanks

[2022-07-20 15:05] engcom-Hotel commented on #34973
Hi @Hexmage,

Thank you for providing this info.

I am able to get this info in debug.log. Now it seems appropriate to log this information in debug.log and not in exception.log. And since it is not getting logged in exception.log so ‘real’ exceptions are visible which you thought is better. So the current flow seems fine.

Now based on this, do you think it should not be logged in the debug.log f

[2022-07-20 16:02] amarroni opened #35788 "Compatibility issue with 8.1 trim() - Media Storage - App/Media.php"
### Preconditions and environment

- Magento version: Commerce Cloud 2.4.4
-  Checking a image that not existe.

[Expected]

[Current]
trim(): Passing null to parameter #1 ($string) of type string is deprecated in <b>/app/vendor/magento/module-media-storage/App/Media.php on line 151

### Steps to reproduce

1- try to get a no exist image using default url example [BASE_URL]/media/catalog/product/p

[2022-07-20 16:02] amarroni commented on #35788
@magento give me 2.4-develop instance

[2022-07-20 16:29] engcom-Hotel commented on #35252
Hello @DmitryFurs,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch  and followed the following steps to replicate the issue:-

1. Created a custom module named ‘Magento_CustomModule’
2. In the etc folder of the module created a di.xml with this content

[code]
3. Set the Production mode on
4. Deleted the generated folder from the root a

[2022-07-20 17:35] youngcrush commented on #35761
Hi @rahulrave
I checked in M2.4.3 and there is no issue about auto logout in custom tabs.
https://user-images.githubusercontent.com/63966602/180044822-83473b10-fea0-4d17-98ee-5d6194462ef9.mp4

[2022-07-20 17:38] jorgehs91 commented on #35767
Important to say that this was working properly on 2.3.

Another problem, probably related to this one, is occuring when the store view scope field is set to `Use Default`. The value is returned as NULL.
![image](https://user-images.githubusercontent.com/26040920/180046031-b1aa479f-1f48-49a4-9625-07c65bb5822d.png)
This screeshot was taken from Dotmailer module.

[2022-07-20 18:01] rahulrave commented on #35761
@youngcrush for us it's happening , let's us know if you need our instance access or db to reproduce the issue.

[2022-07-20 19:04] kuafucode commented on #35651
@engcom-Hotel I experienced this bug and may have a fix, can I claim this issue?

[2022-07-21 01:38] magentothings commented on #35782
Hello @engcom-Dash

Thank you for your reply, appreciated. Can you give me idea where this issue comes from ? I search this for many times and it tooks me almost a week to fix this kind of issue but still no luck. And as I checked this popup it's under Magento_Ui module here's the path.

Path:
Magento_Ui/templates/tooltip/tooltip.html

And I tried to override this html file to add hide this elemen

[2022-07-21 04:33] rolignu2 commented on #34502
To fix this issue only need follow those steps

1 - Go to : vendor/magento/module-catalog/Block/Product/ProductList/Toolbar.php
2 - Find the following function
3 -public function setCollection($collection)

Replace this code

**Old code**

       if ($this->getCurrentOrder()) {
                  if (($this->getCurrentOrder()) == 'position') {

                      $this->_collection->addAttribute

[2022-07-21 06:07] engcom-Lima commented on #35788
@magento give me 2.4-develop instance

[2022-07-21 06:08] DeepShah2511 commented on #35776
Hi @engcom-November I want to say that in this issue sometimes customer can not logged in after registration so what is the causes for that issues in magento-2.4.4. because i am also facing that sometimes i have logged in using not strong password then also it will not successfully logged in to the account.

[2022-07-21 06:35] engcom-Lima commented on #35788
Hi @amarroni

Thank you for your contribution and collaboration.
Issue is not reproducible in `2.4-develop` branch.

Below is the screenshot for your reference:
![no_image_issue](https://user-images.githubusercontent.com/60198022/180144848-16614632-ab51-4c3b-a86e-b395f04b0256.png)
Kindly provide us more information in order to reproduce the issue.
Also try to test on latest `2.4-develop` branch.

[2022-07-21 06:38] engcom-Lima commented on #33869
Hi @oneserv-heuser ,

Thank you for providing the custom module and detailed explanation to the problem.

I have checked with my own created custom payment method and also with @oneserv’s custom module and it seems the issue is there as Payment method is showing after making its validity false in Validator pool. Probable cause being getInfoInstance() being null so Validator pool not getting called

[2022-07-21 06:47] prateeksahus commented on #7734
If you are using elasticsearch you have to set the following preference for virtual type in your custom module's di.xml as elasticsearch overrides the virtualtype SearchCollection

`<preference for="elasticsearchFulltextSearchCollection" type="Vendor\Module\Model\ResourceModel\Fulltext\Collection" />`

next if you face the following error

`Fatal error: Uncaught TypeError: Argument 1 passed to Mag

[2022-07-21 07:26] youngcrush commented on #35761
Hi @rahulrave
ok, Please provide your staging instance and db then I can check properly.

[2022-07-21 07:28] Hexmage commented on #34973
@engcom-Hotel
I'm still on 2.4.2 for this particular client. So if it moves to the debug log it's already an improvement.

Honestly I think these exceptions should only be logged in files with a debug config or when the shop is in developer mode. Because it is very rare that you actually want to use them. As an example when the non GraphQl endpoints trigger these exceptions they aren't logged eith

[2022-07-21 07:33] engcom-November commented on #33896
We are confirming this issue as per the [explanation](https://github.com/magento/magento2/issues/33896#issuecomment-922894389)
Additional Information for dev:
When cron cleans visitor log, report_event table also get clean from app/code/Magento/Reports/Model/ResourceModel/Event.php:180
When we run lifetime statics refresh it collects all data by joining report_event table in app/code/Magento/Repor

[2022-07-21 07:35] engcom-Lima opened #35789 "Admin not able to create a product without giving name."
### Preconditions and environment

- Install fresh Magento 2.4-develop.

### Steps to reproduce

1. Login as admin.
2. Go to Store->attributes->product search code "name" and set **Values Required** to "NO".
3. Clear cacge
4. Go to catalog >> products >>Add Product.
5. Fill all mandatory details. Do not provide name.
6. Save the product. - **Issue. User is not able to save the product without prod

[2022-07-21 07:36] engcom-Lima commented on #35783
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** branch.

**Description:** Product grid is not displayed in the admin panel.

**Pre-requisite:**

1. Install fresh M 2.4.1
2. Upgrade to latest version.
3. PHP 8.1

**Steps to reproduce:**

1. Install 2.4.1.
3. Login as admin.
4. Go to Store->attributes->product search code "name" and set Values Required to "NO"
5. Create a

[2022-07-21 07:41] engcom-November commented on #35727
Hi @Citizen4our , Thank you for reporting and collaboration.
Can you please share your plugin code and on what method of Magento\Sales\Api\Data\OrderInterface Plugin is created?
Thank you.

[2022-07-21 07:46] BorisovskiP commented on #35471
Hello @engcom-Hotel,

Even tho the recommended version of` Magento 2.4.4` is `PHP8.1`, it still supports `PHP7.4`, which a lot of shops/extension version still use.

Could you tests this with `PHP7.4`?

[2022-07-21 08:10] engcom-Lima commented on #35786
Hi @Laiba-Gillani ,

Thank you for raising the issue.

However, the info provided is not enough for us to check and reproduce. Kindly provide below info so that we can check if the issue is related to Magento Dev:

1. Summary of the issue
2. Information on your environment
3. Steps to reproduce
4. Expected and actual results

Also we would like to inform you that if you have any general query rela

[2022-07-21 09:06] alexmtch commented on #34546
They removed the module : https://github.com/magento/magento2-pwa/commit/96c5f5f2ed31865f0b87f096221ddb9245f194da

[2022-07-21 09:09] engcom-November commented on #35765
@magento give me 2.4-develop instance

[2022-07-21 09:38] engcom-Echo commented on #35195
Hello @densen45 ,

Thank you for reporting the issue.

We tried to reproduce it on Magento 2.4.1-p1, magento 2.4.2-p2 and 2.4-develop but the issue is not reproducible.

Steps followed to reproduce issue:

1- Install the fresh magento instance.
2- Create custom theme
3- Create a catalog_category_view.xml file in the app/design/frontend/<Vendor>/<Custom_Theme>/Magento_Catalog/layout directory
4- Ad

[2022-07-21 09:41] Hexmage commented on #34546
That explains a lot.

[2022-07-21 09:41] engcom-Echo commented on #35058
@ioweb-gr,

Thank you for reporting this issue. We have tried to reproduce the issue in Magento 2.4-develop branch and
followed the following steps to replicate the issue:

1- Installed the provided module which creates a custom EAV Entity
2- Go to Admin > Content > Test Entity
<img width="1313" alt="Editentity_1" src="https://user-images.githubusercontent.com/51681435/180182880-0d230ab2-162b-4642

[2022-07-21 09:53] engcom-November commented on #35496
Hi @YiffyToys ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop branch and I can see "order_status" value as $order_data.frontend_status_label for "Order Update" email template.
![image](https://user-images.githubusercontent.com/60198231/180185368-72102cc9-de61-4265-9b52-4bab6cf3f7e8.png)
Kindly recheck the issue on Magento 2.4-develop branch and elaborate the

[2022-07-21 10:13] engcom-Charlie commented on #35448
Hi @anowave,

Currently I have below installed versions on my local machine and the issue is not reproducible.
- Magento 2.4-develop
- PHP 8.1.7
- Composer 2.3.10

In order to reproduce the issue followed below steps.

1. Created a simple class e.g.
class First extends \ArrayObject {}

2. Created a child class e.g.
class Second extends First {}

bin/magento setup:di:compile is running successfully

[2022-07-21 10:18] engcom-Hotel commented on #35617
Hello @Hexmage,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but for us the issue is not reproducible. We have made a custom module for the plugin `afterAddProduct`, but no error is logged here in the log file.

I am attaching the module prepared by us in order to reproduce the issue. Please review and let us know in case we have mis

[2022-07-21 10:23] YiffyToys commented on #35496
Did you read the issue?
Yes, it now has to be "$order_data.frontend_status_label" in the template again. That is the problem. It means the workaround in issue #14849 can not be applied anymore.
But "$order_data.frontend_status_label"  is not translated.
See the linked issue #14849 about steps to reproduce the missing translation.

Template:
[code]

Output is in German for an ENGLISH email :
![graf

[2022-07-21 10:26] tuyennn commented on #34202
Hi folks, any update on this ticket?

[2022-07-21 10:56] engcom-Echo commented on #35069
@xtremevision,

Thanks your contribution and collaboration.
We have tried to reproduce on magento 2.4-develop branch but we are unable to reproduce it please provide more information and please elaborate steps.

Thanks

[2022-07-21 11:30] engcom-Hotel commented on #35668
Dear @jorgb90,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-07-21 11:30] #35668 closed, assigned to engcom-Hotel

[2022-07-21 12:11] engcom-Lima commented on #35450
Hi @Dren7755 ,

Thank you for raising the issue.

Can you please provide some use cases for this customisation ?

Since this issue is not reproducible without your customised code, that’s why asking use cases which will help me with my analysis and how it is relevant for Magento core.

Thanks

[2022-07-21 12:11] ajijshekh123 commented on #35789
@magento give me 2.4-develop instance

[2022-07-21 12:15] engcom-Delta commented on #35519
Hi @dariovranjkovic ,
We have tried to reproduce the issue on Magento Venia PWA , issue is not reproducible.
Please find the attached video for reference.

https://www.loom.com/share/1d0c68b6074a4d40b40d335bf4faed33

[2022-07-21 12:19] engcom-Lima commented on #35639
Hi @Nuranto,
Thanks for the collaboration and reporting the issue.
Can you please provide us with the exact steps to reproduce this issue.

Thanks!

[2022-07-21 12:23] engcom-Lima commented on #35761
Hi @rahulrave,

Thank you for reporting the issue.
However there are no steps given to reproduce the issue.
Can you please updated the description with exact steps to reproduce the issue.
Also can you please confirm if this issue exists in vanilla Magento 2.4-develop instance.

Thanks

[2022-07-21 12:23] engcom-Echo commented on #35406
Hi @MeCapron,

Thank you for reporting. Verified the issue on Magento 2.4-develop branch but couldn't reproduce the issue.

Steps performed:
1. Created a preference on the loadHandler after load
2. Added a product in the back-office
3. Created an order
4. Added the product to the order
5. Refreshed the price
![Screenshot from 2022-07-21 16-47-46](https://user-images.githubusercontent.com/51681435/

[2022-07-21 12:26] Bartiema opened #35790 "Add Amqp as a dependency for ProductAlert"
### Summary (*)
If the amqp module is not installed in your magento 2.4.4 instance and you want to use the ProductAlert module functionality you will never be able to send alert emails because when the cronjob catalog_product_alert is run there will be a critical error with the message: "Publisher 'product_alert' is not declared"

### Steps to reproduce
- Set a specific product to be out of stock

[2022-07-21 13:08] nikkicheng93 opened #35791 "Magento Connector Issue with VAT"
### Preconditions and environment

- Magento version 2.4.3

We have a Vertex VAT customer. The issue is Magento has the product (Junior Maxi, product class 001) price of $54 which includes tax. When we checkout the product, Magento is adding the tax back onto the total price. On Vertex side, we have taxindicator set to true. We thought maybe there could be a setting within Magento to get around th

[2022-07-21 13:23] engcom-Lima commented on #35619
Hi @sezio,
Thank you for the collaboration and reporting the issue.

Tried reproducing the issue on latest 2.4-develop instance and the issue is reproducible for us.

Steps followed to reproduce the issue:-

1. Install latest 2.4-develop instance
2. Create a custom table
[code]
3. Create a new grid in backend with a column configured as follows
[code]
4. Insert into database : `insert into test_ta

[2022-07-21 15:17] engcom-Delta commented on #35721
Hi @davidandersson1 ,
Thanks for providing the update. We are able to reproduce Actual Results.Hence the issue has been confirmed after Verifying on Magento 2.4 develop branch.please refer the screenshots.

1. Medium.xml
![Screenshot (319)](https://user-images.githubusercontent.com/51681379/180248142-084fd2d0-1c55-4cb9-93ac-76b2337ae4a2.png)

2. Creating Bundle Products

<img width="634" alt="Bund

[2022-07-21 15:42] vipin12117 commented on #34502
Above code is not working. I have tested.

I found solution which is working in every case.

Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection

protected function _renderFiltersBefore()
    {
        /**
         * @var \Magento\Framework\App\RequestInterface $request
         */
        if(isset($_SERVER['REQUEST_URI']) && !stristr($_SERVER['REQUEST_URI'], "catalogsearch")){

[2022-07-21 16:27] engcom-Hotel commented on #35471
Hello @sdzhepa,

Thanks for the detailed information!

Hello @BorisovskiP,

We have switched to PHP 7.4 and tried to reproduce the issue in both Magento 2.4.4 and 2.4-develop, but for us the issue is still not reproducible. Please refer the screenshot for reference:

**PHP Version**

<img width="741" alt="image" src="https://user-images.githubusercontent.com/51681618/180264079-5cf8d1c6-0310-4722-a

[2022-07-21 18:10] xtremevision commented on #30151
Same here, Magento 2.4.3-p1, happens in the admin customer grid, and a custom listing. The customer grid is no longer sorting the records ascending/descending, regardless of which column I click on.

[2022-07-21 20:27] jajajaime commented on #30166
I submitted a pull request that fixes this https://github.com/magento/magento2/pull/35779

[2022-07-21 20:56] adrianbsystems opened #35792 "Magento Amazon Extension fails to install if the database has a PREFIX"
### Preconditions and environment

- Magento version : 2.4.4
- Environment:
Fresh install Magento CE 2.4.4
No other third party extensions, default Luma theme
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Steps to replicate:
composer require magento/module-amazon
composer require magento/services-connector
php bin/magento setup:upgrade

### Expected result

[2022-07-21 21:08] artskirk commented on #35367
Seems like the following example: https://github.com/magento/magento2/blob/610f7f51faa94639da29f8001aded7559f114c54/app/code/Magento/Sales/view/frontend/email/creditmemo_new.html#L12 is correct and used together with escape quotes. The layout handle statement is already implemented on line 87:
https://github.com/magento/magento2/blob/610f7f51faa94639da29f8001aded7559f114c54/app/code/Magento/Sales/

[2022-07-21 23:03] Silarn commented on #29409
I would like to also state that we have this issue with large bundle products, essentially configurable servers. Any improvement to the performance would be appreciated.

[2022-07-22 03:53] davidandersson1 commented on #35721
Hi @engcom-Delta thanks for providing all screenshots and all steps you followed correctly. in short, just adding 500 dynamic price bundle products increase price index time around 20~ mins.

[2022-07-22 05:53] engcom-Delta commented on #35714
We have noticed that this issue has not been updated for a period of more than 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

[2022-07-22 05:53] #35714 closed, assigned to engcom-Delta

[2022-07-22 06:13] #35734 closed, assigned to engcom-November

[2022-07-22 06:13] ldc321 opened #35793 "magento 2.4 Home page search cannot search products whose names are numbers"
### Preconditions and environment

- Magento   2.4.4

### Steps to reproduce

1.The latest Magento2.4 is installed
2.create new product name is 'test-STX-1217-300-DCX'
3.Frontend search this product such as  search "217"

The search for "1217" has results  But Search "217" has no result  !!!

![image](https://user-images.githubusercontent.com/57743360/180374645-1ac43cb5-914b-4d56-8e32-2b69f8464d8d

[2022-07-22 06:18] kalvinder123 opened #35794 "hyphen use in domain name , checkout not working Magento 2.4"
### Preconditions and environment

- Magento version :2.4.3
- Anything else that would help a developer reproduce the bug
We have copied our site on domain cpp-ca.com (domain name have '-') , when you will register on site and login
and go for checkout, You will redirect on account page.
We have tested same site with other domain , subdomains , it working well, Only stop to work when  hyphen '-' u

[2022-07-22 06:31] kalvinder123 commented on #35794
I have provide all the steps and live domain for test, kindly test and help

[2022-07-22 06:49] surajkurudiyar opened #35795 "An error has happened during application run. See exception log for details."
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

![image](https://user-images.githubusercontent.com/109786023/180380049-6b6a20ea-50e6-4042-b22b-2e369800b50d.png)

 Everyday and every time it is happening.

Please help to resolve this issues permanently

### Steps to reproduce

httpsd://www.scrollnshops.com

click on any tab

You wi

[2022-07-22 07:01] engcom-Lima commented on #35792
Hi @adrianbsystems ,

Thank you for reporting and collaboration.
Amazon Integration is a 3rd party extension and code of this extension is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports and fix for them should be addressed to the corresponding extension owners(

[2022-07-22 07:01] #35792 closed, assigned to nobody

[2022-07-22 07:41] engcom-Lima commented on #35795
Hi @surajkurudiyar ,

Kindly discuss your magento related issue only and provide exact steps and screenshots to reproduce the issue.
Please go through the [system requirement](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) docs and try to make your setup according to it. Meanwhile you should have all the folder related permissions for your instance instance folder.

[2022-07-22 07:56] Eddcapone commented on #35684
Hello @engcom-Echo, please upload the code you were using for your test as a .zip so I can have a look and compare with mine.

[2022-07-22 07:56] pret1 opened #35796 "Magento unable to reindex bundle product not assigned to any sait (DisabledProductOptionPriceModifier.php on line 117)."
**Preconditions**
Install Magento 2.4-develop with sample data.
 
**Issue** 
product price index (catalog*product*price) not working if bundle product not assigned to any website 
 
**Steps To Reproduce**
1)Go to admin ->catalog ->products -> create new bundle Or edit existing bundle product 
2)"Product in Websites" Tab  -> uncheck all checkboxes (website) and save the product 
3)Perform reindex 

[2022-07-22 08:12] artskirk commented on #34545
@magento I am working on this

[2022-07-22 08:28] mrtuvn commented on #35684
Can you share sample of your ? @Eddcapone

[2022-07-22 08:42] devchris79 opened #35798 "Order API response missing country_of_manufacture"
### Preconditions and environment

- Magento 2.4.4

### Steps to reproduce

Quite a simple one this, integrating our Magento store with DHL Express Commerce I see the Order API response doesn't contain country_of_manufacture. This is a very useful system product attribute for export paperwork.

### Expected result

Respose with country_of_manufacture included

### Actual result

Section of Order A

[2022-07-22 08:53] engcom-Echo commented on #34903
@MeCapron,

Thank you for reporting this issue.

We have tried to reproduce the issue in Magento 2.4-develop branch and
followed below steps to replicate the issue:

1- Installed the provided module i.e., https://github.com/MeCapron/m2-34903 given https://github.com/magento/magento2/issues/34903#issuecomment-1014814789

2- Got the below error:

<img width="1260" alt="Screenshot 2022-07-22 at 2 04

[2022-07-22 08:55] artskirk commented on #35391
The issue is not reproduced on 2.4-develop
![image](https://user-images.githubusercontent.com/57759456/180402760-c759a1fe-0bdf-4dc9-9f35-0757b97c6d69.png)
Seems like it already fixed.

[2022-07-22 09:06] paales opened #35799 "As a developer I want to query the current store category tree without providing the root_category_uid, so that can prevent a roundtrip"
*As a developer I want to query the current store category tree without providing the root_category_uid, so that can prevent a roundtrip*

Currently we have to run two queries:

[code]

With that query we can get the root_category_uid and we use that to query the categories:

[code]

### AC

* Be able to get a category tree for the current store view without providing the root_category_uid

### Ap

[2022-07-22 09:12] magentothings commented on #35782
Hi @engcom-Dash ,

Thank you so much.

[2022-07-22 09:18] engcom-Dash commented on #34646
@magento give me 2.4-develop instance

[2022-07-22 09:21] ihor-sviziev commented on #34903
Hi @engcom-Echo,
I belive the priority should be set to P2 or even P1 for this issue.

[2022-07-22 09:24] adamlavery commented on #35391
That is not testing a code error. The point is when di:com fails it should provide adequate information to identify where the issue is.

[2022-07-22 09:32] engcom-Lima commented on #33555
HI @onlinebizsoft,

I have gone through the conversation happened on this issue and did some research on same.

Based on it, I think the decision to discourage the use of `_isScopePrivate()` is related to performance and main purpose was ‘Reduce AJAX requests due to non-cacheable blocks’ as suggested in the below article:

https://developer.adobe.com/commerce/php/development/cache/page/private-con