[2020-12-18 04:20] magento-engcom-team commented on #31332
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-39974

[2020-12-18 04:57] rani-webkul commented on #30740
@magento give me 2.4-develop instance

[2020-12-18 06:19] YiffyToys opened #31333 "2FA input not requesting focus (Firefox browser)"
### Preconditions (*)
1. 2 Factor Authentication is enabled for the backend
2. **Firefox browser**. Not reproducible on Google Chrome

### Steps to reproduce (*)
1. Login by providing username and password
2. Start typing the 2FA code without using the mouse

### Expected result (*)
1. The 2FA input field has requested the inition keyboard focus and the code is entered into the correct field
![log

[2020-12-18 06:49] 13mcmc12 commented on #31314
if i want to integrate the M2 order rest API to fetch order to an external system, so how can I make a connection to M2 , so i no need to enter 2FA code every time when I need a bearer token to get orders

[2020-12-18 07:06] aleron75 commented on #31216
Hi @engcom-Hotel

Same for me but I managed to reproduce it programmatically as stated here: https://github.com/magento/magento2/pull/31205#issuecomment-742344627

[2020-12-18 08:13] chiranjeevi-cj commented on #31317
@magento I am working on this

[2020-12-18 08:48] krishprakash commented on #31326
@magento give me 2.4-develop instance

[2020-12-18 09:17] magento-engcom-team commented on #31326
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40016` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-18 10:07] magento-engcom-team commented on #31300
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40019` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-18 10:12] Pavel-Fekete commented on #31333
Hello @YiffyToys

I can't reproduce this issue according to your steps, input field is in focus without using the mouse
![login](https://user-images.githubusercontent.com/67371013/102602318-0b5ce000-412a-11eb-92a2-19ff809b3de4.gif)
Please correct me if I'm doing wrong steps.

[2020-12-18 10:22] ihor-sviziev opened #31336 "[GraphQL] Store validation executes after defining current store"
During working on https://github.com/magento/magento2/pull/31263 we found that just making General session a proxy instead of the regular object causing GraphQL web API test failures.

During my investigation (details in https://github.com/magento/magento2/pull/31263#issuecomment-747499196), we found that for some reason the method that sets the current store is executing BEFORE the method that do

[2020-12-18 10:27] Eddcapone opened #31337 "Add support for ifconfig to referenceBlock"
### Description (*)

If you are defining a new block, you can use `ifconfig` to only enable the block when a backend setting is true.
This is not supported for referenceBlock. I created a module where I am modifiying the block `contactForm` from the module `Module_Contact` by replacing the template with my own.

I also created a setting for my extension where I can toggle it on or off.
The templat

[2020-12-18 10:37] YiffyToys commented on #31333
Strange. This is Firefox 84.0 on Windows 10 and it doesn't work in Magento 2.4.1.
(It does work in other the AN entry field for online banking forcing the keyboard focus.)

It seems that "autofocus is defined to work reliably only on page load."
In my case, the 2FA field need an additional second or two to apear. That may be a possible cause as your apears instantly.
So it is not a page load anymo

[2020-12-18 11:18] mnohai opened #31339 "Placeholder is missing"
At the moment it removes all link types

https://github.com/magento/magento2/blob/445b0f1a3d6a91b5da32d311077c2112ef0b1503/app/code/Magento/CatalogImportExport/Model/Import/Product/LinkProcessor.php#L223

[2020-12-18 11:48] sivaschenko opened #31340 "Update laminas/laminas-feed dependency version to "^2.13.0""
### Description (*)
Update laminas/laminas-feed dependency version to "^2.13.0"

### Expected behavior (*)

### Benefits

### Additional information

[2020-12-18 11:53] sivaschenko opened #31341 "Update elasticsearch/elasticsearch dependency version to "~7.11.0""
### Description (*)
Update elasticsearch/elasticsearch dependency version to "~7.11.0"
(https://github.com/elastic/elasticsearch-php/tree/7.11)

### Expected behavior (*)

### Benefits

### Additional information

[2020-12-18 11:54] sivaschenko opened #31342 "Update pelago/emogrifier dependency version to "^5.0.0""
### Description (*)
Update pelago/emogrifier dependency version to "^5.0.0"
https://packagist.org/packages/pelago/emogrifier

### Expected behavior (*)

### Benefits

### Additional information

[2020-12-18 11:57] sivaschenko opened #31343 "Update friendsofphp/php-cs-fixer dependency to PHP 8 Compatible version"
### Description (*)
Update friendsofphp/php-cs-fixer dependency version to "~2.18.0"

### Expected behavior (*)

### Benefits

### Additional information

[2020-12-18 11:58] sivaschenko opened #31344 "Update sebastian/phpcpd dependency version to "~6.0.3""
### Description (*)
Update sebastian/phpcpd dependency version to "~6.0.3"

### Expected behavior (*)

### Benefits

### Additional information

[2020-12-18 12:01] sivaschenko opened #31345 "Update laminas/laminas-code dependency version to "^3.5.1""
### Description (*)
Update laminas/laminas-code dependency version to "^3.5.1"

### Expected behavior (*)

### Benefits

### Additional information

[2020-12-18 12:02] magento-engcom-team commented on #31333
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40020` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-18 12:04] sivaschenko opened #31346 "Update laminas/laminas-servicemanager dependency version to "^3.5.1""
### Description (*)
Update laminas/laminas-servicemanager dependency version to "^3.6.0"

### Expected behavior (*)

### Benefits

### Additional information

[2020-12-18 12:08] sivaschenko opened #31347 "Update laminas/laminas-server dependency version to "^2.9.1""
### Description (*)
Update laminas/laminas-server dependency version to "^2.9.1"

### Expected behavior (*)

### Benefits

### Additional information

[2020-12-18 12:39] engcom-Delta commented on #31339
Hi @mnohai thank you for your report. Please update issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) . Actual and expected result would be helpful

[2020-12-18 12:56] magento-engcom-team commented on #29338
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40023` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-18 13:09] 13mcmc12 commented on #31314
Hi @engcom-Bravo any update on above issue

[2020-12-18 13:18] engcom-Bravo commented on #31314
Hello @13mcmc12

Did you try to use _/V1/tfa/provider/google/authenticate_ ? We have tested via this request and we successfully get the token.

![auth](https://user-images.githubusercontent.com/51680745/102618765-09077f80-4144-11eb-951f-fe493d521d78.png)

https://devdocs.magento.com/guides/v2.4/rest/tutorials/prerequisite-tasks/create-admin-token.html

[2020-12-18 13:27] leonhelmus commented on #28961
@wasimhc I have the same issue. We downgraded our xdebug aswel to 2.9. It would be awesome if this can be resolved. Since it now adds a lot of errors to my console.

[2020-12-18 13:39] Nazar65 commented on #31319
@magento I am working on this

[2020-12-18 13:40] wasimhc commented on #28961
@leonhelmus How are you sure xDebug has been downgraded to 2.9.8 or 2.9 at your end?

[2020-12-18 13:41] #31339 closed, assigned to engcom-Delta

[2020-12-18 13:50] 13mcmc12 commented on #31314
@engcom-Bravo  for this tfa API I have to add OTP from the google authentication app in every 4 hours or based on the configuration for the bearer token.
now if I want to access Magento 2 rest API every time I have to regenerate the bearer token myself and add it to my script in every 4 hours.

Now my question is how can I automate this process, earlier I have a script which will check the token i

[2020-12-18 13:51] edenduong commented on #31301
@magento give me 2.4-develop instance

[2020-12-18 14:03] nicololamigo opened #31349 "Rapidflow Export Issue"
### Preconditions (*)

1. Magento ver. 2.3.3-p1
2. Rapidflow

### Steps to reproduce (*)

1. Export data attributes via Rapidflow
2. Include these attributes stock.is_in_stock, gsa_fssi_category, product.websites,Category.path

### Expected result (*)

1. These attributes should have data values as attached to the picture below.

### Actual result (*)

1. No data when exported. Checked with the ba

[2020-12-18 14:18] engcom-Bravo commented on #31314
@13mcmc12 By default, an admin token is valid for 4 hours. To change this value, log in to Admin and go to _Stores > Settings > Configuration > Services > OAuth > Access Token Expiration >_ **Admin Token Lifetime** (hours).

The other way to get an access token is to **Add New Integration** in _System > Integrations _ **Activate** it and use the _Access Token_
![token](https://user-images.githubus

[2020-12-18 14:39] engcom-Delta commented on #30395
Hi @reshadzazai  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop. Issue is not reproducible after upgrade from latest 2.3.x release(2.3.6) to latest 2.4.x release (2.4.1) also
**Manual testing scenario:**
- Create simple product
- Place order with this product as guest
- Go to admin panel
- Go to Sales->Orders
- Click View on order
- Click Shi

[2020-12-18 14:39] #30395 closed, assigned to nobody

[2020-12-18 14:47] DiegoSana commented on #31329
@magento give me 2.4-develop instance

[2020-12-18 14:59] DiegoSana commented on #31329
@magento I am working on this

[2020-12-18 15:09] tuyennn commented on #29534
Has same issue, pretty sure I didn't touch to any configuration, just do the deployment but the problem found

[2020-12-18 15:16] Hexmage opened #31351 "[GraphQl] Exception are not translated to store scope."
### Preconditions (*)

Reproduced on
1. Magento 2.3.5-p2
2. Magento 2.4.1

### Steps to reproduce (*)

1. Set the locale of a store to anything but en_US.
2. Create a translation file/database entry with one of the translatable exception strings (eg: 'currentPage value must be greater than 0.' to 'This text is translated')
3. Make a GraphQl request that will cause the exception to trigger with the

[2020-12-18 15:23] #15115 closed, assigned to zakdma

[2020-12-18 15:25] magento-engcom-team commented on #15115
Hi @InternetMedicineMan, @zakdma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39765` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-18 15:25] #30262 closed, assigned to nobody

[2020-12-18 16:12] Hexmage opened #31353 "[GraphQl] Watermark images don't show."
### Preconditions (*)

Reproduced in
1. 2.3.5-p2
2. 2.4.1
3. 2.4-develop

### Steps to reproduce (*)

1. Configure a watermark for image, small_image and thumbnail
2. Do a GraphQl product request to get image, small_image and thumbnail.
3. Go to the image, small_image, thumbnail cache link in the GraphQl request.

### Expected result (*)

1. Image is shown with a watermark.

### Actual result (*)

[2020-12-18 16:18] paales commented on #31349
@nicolecornelson You should contact the developers of Rapidflow to solve the issues :)

[2020-12-18 19:33] engcom-Delta commented on #30344
Hi @LDmnfx thank you for your report. According [documentation](https://docs.magento.com/user-guide/system/tools.html):

Closed as **non-issue**

[2020-12-18 19:33] #30344 closed, assigned to nobody

[2020-12-18 20:03] engcom-Delta commented on #31315
@magento give me 2.4-develop instance

[2020-12-18 20:23] engcom-Delta commented on #31315
Hi @ngtuan96lc  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: Customer is logged out and Sign In or Create Account links are shown after change website
![Peek 2020-12-18 22-19](https://user-images.githubusercontent.com/51681379/102658058-813f6680-417f-11eb-8aeb-96511e39e58e.gif)

Could you try to reproduce issu

[2020-12-19 05:04] LiamKarlMitchell commented on #21364
Confirming that the patch https://github.com/ConvertGroupsAS/magento2-patches/commit/fde2602cc3ceed9892971406b2b48b903fc60fd7 fixes this.

[2020-12-19 06:45] prabhakaran777 opened #31361 "Magento 2 custom attribute filter not working graphql products query in product attribute custom source"
### Preconditions (*)

1.Magento 2.3.5-p2 had issue on **product custom attribute Filter**  with custom source (Setup/Patch/CustomSelectOption)

2.But it's  _Working in Product Collection_

### Steps to reproduce (*)

1.Magento 2.3.5-p2

2.Create custom product attribute via setup patch (with select option) - also custom source model file

[code]

3.Assign product type to any of the product

4.Gra

[2020-12-19 10:53] HenKun opened #31362 "Product List / CMS Page & Block List cannot be opened in admin area when plugin used"
https://github.com/magento/magento2/blob/285b3975c67a64966007d6f434ba3c5b4eed5be8/app/code/Magento/MediaGalleryUi/Ui/Component/Listing/Filters/Asset.php#L47

### Summary (*)
Product List / CMS Page & Block List cannot be opened in admin area when a plugin is used for `Magento\MediaGalleryUi\Ui\Component\Listing\Filters\Asset` or one of its parents in the hierarchy.

Vanilla Magento 2.4.1
Tested on

[2020-12-19 10:57] mrtuvn commented on #31362
Seem problem fixed in not merge(open PR) https://github.com/magento/magento2/pull/31275

[2020-12-19 11:02] HenKun commented on #31362
oh gosh, didn't find any related issue. yes, that seems to be the exact issue and solution. Thank you.

[2020-12-19 18:24] mrtuvn commented on #31333
https://github.com/magento/security-package/tree/develop/TwoFactorAuth
I think better add issue to this repo ! Well this module belong another repo and not included in magento repo

[2020-12-19 20:18] xpoback commented on #22337
For what reason has this been closed? It's an existing bug.

[2020-12-19 20:39] willstorm commented on #31281
@magento give me 2.3.3 instance

[2020-12-20 06:00] krishprakash commented on #31362
Seems issue is duplicate to #31291

[2020-12-20 06:00] #31362 closed, assigned to krishprakash

[2020-12-20 08:17] reshadzazai opened #31363 "Arabic characters are separated in PDFs generated by Magento 2.4.1"
### Description:
Summary of the issue: Arabic characters are separated in PDFs generated by Magento 2.4.1

### Preconditions:
Information on your environment: Magento 2.4.1 Fresh Installation
Also reproducible on 2.4-develop
### Steps to reproduce:
While placing the order write the name and address information in Arabic and then process the order and print the invoice PDF.

### Expected results:
T

[2020-12-20 08:52] maheshmakwana-code commented on #29041
**app\code\VendoreName\ModuleName\etc\graphql\di.xml**
[code]
**app\code\VendoreName\ModuleName\Model\Resolver\CartItemPricesUpdate.php**

[code]

[2020-12-20 09:04] ioweb-gr commented on #31172
@magento give me 2.4-develop instance

[2020-12-20 10:25] LiamKarlMitchell opened #31365 "Deadlock Errors during product save (Duplicate)"
Related: #5351

This is still happening, made node.js update multiple products 4 at a time and getting Deadlocks frequently!
Please re-open and fix.

[2020-12-20 11:44] gwharton commented on #30246
Imho advanced bundling should be deprecated in favour of magepack which does the same, but without the headache.

[2020-12-20 11:47] gwharton commented on #30128
Could be because of "only X left" functionality. If so it should only clear cache if qty is less than threshold I guess.

[2020-12-20 13:19] 13mcmc12 commented on #31314
@engcom-Bravo  Thanks

[2020-12-20 13:19] #31314 closed, assigned to engcom-Bravo

[2020-12-20 18:57] YiffyToys commented on #31333
I don't understand your sentence.
Are you asking somebody else if it is a good idea to do that?
Are you informing everyong that you are about to do that or have done that?
Are you asking anyone specific to please do that?

[2020-12-21 02:37] magento-engcom-team commented on #31168
Hi @moiashvin. Thank you for your report.
The issue has been fixed in magento/magento2#31261 by @korovitskyi in 2.4-develop branch
Related commit(s):
 - [f5cc98e68c00ff0e66d1dcc40b706e3bed1b7c98](https://github.com/magento/magento2/commit/f5cc98e68c00ff0e66d1dcc40b706e3bed1b7c98)
 - [66c3bff0b4c5aff1cfd1dd26bd7719bd622d8862](https://github.com/magento/magento2/commit/66c3bff0b4c5aff1cfd1dd26bd7719

[2020-12-21 02:37] #31168 closed, assigned to korovitskyi

[2020-12-21 02:38] magento-engcom-team commented on #31233
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31228 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [c5d2d01e33958ac4d1fdffa5dd0c95aac3c474cc](https://github.com/magento/magento2/commit/c5d2d01e33958ac4d1fdffa5dd0c95aac3c474cc)

The fix will be available with the upcoming 2.4.3 release.

[2020-12-21 02:38] #31233 closed, assigned to sergiy-v

[2020-12-21 02:38] magento-engcom-team commented on #30911
Hi @kamui23. Thank you for your report.
The issue has been fixed in magento/magento2#31142 by @saphaljha in 2.4-develop branch
Related commit(s):
 - [04eaa23cf6409e23ea8de6c2dbc1b1cd4f156e85](https://github.com/magento/magento2/commit/04eaa23cf6409e23ea8de6c2dbc1b1cd4f156e85)
 - [dc957fb58307cc6f5ec62bc93140d9036790ce18](https://github.com/magento/magento2/commit/dc957fb58307cc6f5ec62bc93140d90367

[2020-12-21 02:38] #30911 closed, assigned to saphaljha

[2020-12-21 02:38] magento-engcom-team commented on #31291
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31275 by @vovayatsyuk in 2.4-develop branch
Related commit(s):
 - [b54e7ae78916d215288b4ddb89d7351b5e183cef](https://github.com/magento/magento2/commit/b54e7ae78916d215288b4ddb89d7351b5e183cef)

The fix will be available with the upcoming 2.4.3 release.

[2020-12-21 02:38] #31291 closed, assigned to vovayatsyuk

[2020-12-21 02:38] magento-engcom-team commented on #29936
Hi @mrtuvn. Thank you for your report.
The issue has been fixed in magento/magento2#29991 by @saphaljha in 2.4-develop branch
Related commit(s):
 - [7d6f8bb0846b863d8a2aa78b8ce1e480a7cf7413](https://github.com/magento/magento2/commit/7d6f8bb0846b863d8a2aa78b8ce1e480a7cf7413)
 - [1f0fe69c7965997b43995848119a3b5ec004de27](https://github.com/magento/magento2/commit/1f0fe69c7965997b43995848119a3b5ec00

[2020-12-21 02:38] #29936 closed, assigned to saphaljha

[2020-12-21 02:38] magento-engcom-team commented on #31135
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31098 by @ilnytskyi in 2.4-develop branch
Related commit(s):
 - [66a0607d8d781b2ae84c90e8afc3ad949706cf7a](https://github.com/magento/magento2/commit/66a0607d8d781b2ae84c90e8afc3ad949706cf7a)
 - [e7bd3acc0e39f94d090bf5450581016d61f2c5e5](https://github.com/magento/magento2/commit/e7bd3acc0e39f94d090bf545

[2020-12-21 02:38] #31135 closed, assigned to ilnytskyi

[2020-12-21 02:38] magento-engcom-team commented on #30286
Hi @magento-engcom-team. Thank you for your report.
The issue has been fixed in magento/magento2#30992 by @zaximus84 in 2.4-develop branch
Related commit(s):
 - [54788a81bbe47a963d68d4de0e2ed3732d5fda51](https://github.com/magento/magento2/commit/54788a81bbe47a963d68d4de0e2ed3732d5fda51)
 - [1921d68f1d57924e089d794ae72e4724107383b0](https://github.com/magento/magento2/commit/1921d68f1d57924e089d79

[2020-12-21 02:38] #30286 closed, assigned to zaximus84

[2020-12-21 02:38] magento-engcom-team commented on #31031
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31025 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [fc4481c60a770a548814e60aae1d493a8ef93384](https://github.com/magento/magento2/commit/fc4481c60a770a548814e60aae1d493a8ef93384)
 - [23cf837a5e3329a6f519ac6c97f356a02713f595](https://github.com/magento/magento2/commit/23cf837a5e3329a6f519ac6c9

[2020-12-21 02:38] #31031 closed, assigned to sergiy-v

[2020-12-21 02:38] magento-engcom-team commented on #31039
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30986 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [8cfc5393e16b818ef0ade5fc6a8c32b225bdbffd](https://github.com/magento/magento2/commit/8cfc5393e16b818ef0ade5fc6a8c32b225bdbffd)
 - [b2a767dcd923431b6f624b13c840556cb2d29196](https://github.com/magento/magento2/commit/b2a767dcd923431b6f624b13c

[2020-12-21 02:38] #31039 closed, assigned to AnnaAPak

[2020-12-21 02:38] magento-engcom-team commented on #31033
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31016 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [84e6e1e0d9cf8b3faa983627a37f7643aa135134](https://github.com/magento/magento2/commit/84e6e1e0d9cf8b3faa983627a37f7643aa135134)
 - [3838099a2a35e4087365db405c3d8ce75d7c3b49](https://github.com/magento/magento2/commit/3838099a2a35e4087365db405

[2020-12-21 02:38] #31033 closed, assigned to AnnaAPak

[2020-12-21 02:38] magento-engcom-team commented on #31056
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30996 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [ff2451b8420076f7362f3b547f090024f78c0813](https://github.com/magento/magento2/commit/ff2451b8420076f7362f3b547f090024f78c0813)
 - [dc02c0aaa6e2940c185c862459ddc51c0fd4ed15](https://github.com/magento/magento2/commit/dc02c0aaa6e2940c185c86245

[2020-12-21 02:38] #31056 closed, assigned to sergiy-v

[2020-12-21 02:38] magento-engcom-team commented on #30880
Hi @zaximus84. Thank you for your report.
The issue has been fixed in magento/magento2#30881 by @zaximus84 in 2.4-develop branch
Related commit(s):
 - [a4f66bd38ebf2d889dbc90ca517d2c4ef1f8869f](https://github.com/magento/magento2/commit/a4f66bd38ebf2d889dbc90ca517d2c4ef1f8869f)
 - [9be0942b374cdb619b4a38f962b0a26911a30fec](https://github.com/magento/magento2/commit/9be0942b374cdb619b4a38f962b0a269

[2020-12-21 02:38] #30880 closed, assigned to zaximus84

[2020-12-21 03:22] srenon commented on #31197
@chequille ... I only have limited access to this repo... so please go ahead a create a new ticket.

[2020-12-21 05:38] VZeroCool commented on #31361
@magento give me 2.4-develop instance

[2020-12-21 05:39] chequille opened #31366 "Generating Invoice does recalculate tax but wrong!!!"
@srenon
Thanks for this. I made the changes manually. It is only one line to change :)
After chaning the page break when showing an invoice with zero tax did not happen again. So far so good.
But unfortunately, I found another bug regarding tax. It seems in 2.4.1 there are a lot of changes which did not solve problems but made new problems. I will show you what I found:
1. Tax calculation is set i

[2020-12-21 05:41] chequille commented on #31197
@srenon
Ok, did it, see #31366

[2020-12-21 06:01] VZeroCool commented on #31363
This issue is there since 2.3 and most enterprise users are US based so no one cares :)

[2020-12-21 06:44] ngtuan96lc commented on #26837
Hi @devchris79 ,
I'm facing this issue on Magento version 2.4.1.
The header is still cached when I switched between websites.

[2020-12-21 08:06] asd99557 opened #31367 "/etc/nginx/html/pub/index.php" failed (2: No such file or directory)"
### Preconditions (*)

1. setup configured using docker file create 3 container like nginx php and mysql
2.also added another container like Elasticsearch rarebitmq.
2.bind volume in host system.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1.After install magento when open page given below error /etc/nginx/html/pub/index.php" failed (2: No such file or directory)
2.

### Actual re

[2020-12-21 08:17] ihor-sviziev commented on #30716
We didn't get any explanation why it's really needed in the https://github.com/magento/magento2/pull/30715, so I'm also closing this issue as not relevant.

[2020-12-21 08:17] #30716 closed, assigned to ihor-sviziev

[2020-12-21 08:34] Digitag commented on #25209
df

[2020-12-21 08:43] Eddcapone commented on #29534
Please check if you have `--search-engine = elasticsearch7` in your install command. Also check what happens if you enter the URL in the browser.

So if your host and port is set to this:

[code]

Then enter `https://127.0.0.1:9200` in the browser. If it works, then a javascript object should show.
If you need authentication, then you also have to use this:

[code]

[2020-12-21 09:25] devchris79 commented on #26837
@ngtuan96lc Did the theme code change not work?

We are still at Magento 2.3.5 because we are on a hosted service that doesn't support Elasticsearch. The Ultimo theme has been dead for a while now and I know that there are other issues with 2.4, why don't you consider a theme change as the issues are likely to get worse?

[2020-12-21 09:30] kweij commented on #19881
This ticket should be reopened, although it is not reproducible on a vanilla Magento instance. Please consider:

In the documentation it's stated that for images (definitions) in `<theme_dir>/etc/view.xml` the `width` and `height` are optional: https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/themes/theme-images.html#view_xml_structure. In a vanilla Magento instance there are no examples

[2020-12-21 09:31] msa19903 opened #31370 "General system exception happened Notice: Trying to access array offset on value of type null in /var/www/html/vendor/vendor/magento/module-catalog-import-export/Model/Import/Product/MediaGalleryProcessor.php on line 120"
When importing product images in CSV import (**base/small/swatch/on_hover/additional_images**) this error happens. When image fields are empty, **no error happens**. Table "**catalog_product_entity_media_gallery**" is updated in both cases but with **NULL** values for images.

The error appeared after i upgraded to Magento 2.4 from Magento 2.3.4

Current version: Magento 2.4.1, PHP 7.4.13

I teste

[2020-12-21 09:34] ngtuan96lc commented on #26837
If disable cache for a block named "top.links". It will affect performance.
so, we couldn't disable it.
Do we have any solution?

[2020-12-21 09:42] shikhamis11 commented on #26837
@ngtuan96lc yes `cacheable = false` is not recommended you can implement [view models](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/view-models.html) or load data through knockout js

[2020-12-21 09:43] devchris79 commented on #26837
The only way I found to stop the issue was with the post on Feb 24th.
If you find a better way of correcting the issue I would love to hear it so we can update our code.

The cachable=false command will kill all caching as far as I know.

[2020-12-21 10:15] m2-assistant[bot] opened #31372 "[Issue] REFACTOR: Remove ugly `false !=` constructs"
This issue is automatically created based on existing pull request: magento/magento2#30903: REFACTOR: Remove ugly `false !=` constructs

---------
### Description (*)
This might be surprising but `false != $x` is the same as `$x`.

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or c

[2020-12-21 10:16] m2-assistant[bot] opened #31373 "[Issue] Refactor: Swatches Helper / Remove misleading aliases, refactor the class"
This issue is automatically created based on existing pull request: magento/magento2#31355: Refactor: Swatches Helper / Remove misleading aliases, refactor the class

---------
### Description (*)
The Helper contains extremely misleading import aliases.
Some of the elements were refactored.

### Related Pull Requests

### Fixed Issues (if relevant)
* [ x ] Misleading aliases

### Manual testing sc

[2020-12-21 10:16] m2-assistant[bot] opened #31374 "[Issue] Bug Fix: Add missing return statement to admin usage enable controller"
This issue is automatically created based on existing pull request: magento/magento2#31356: Bug Fix: Add missing return statement to admin usage enable controller

---------
### Description (*)
Although there is a response-type Docblock declaration, there is no `return` statement.
This results in invalid handling of the Controller in FrontendController class.

### Related Pull Requests

### Fixed

[2020-12-21 10:16] m2-assistant[bot] opened #31375 "[Issue] Refactor: Improve Recurring Setup (Cron Jobs termination) class readability"
This issue is automatically created based on existing pull request: magento/magento2#31357: Refactor: Improve Recurring Setup (Cron Jobs termination) class readability

---------

### Description (*)
1. Added description
2. Improved readability of a class

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2

[2020-12-21 10:16] m2-assistant[bot] opened #31376 "[Issue] Refactor: Driver/AwsS3.php"
This issue is automatically created based on existing pull request: magento/magento2#31358: Refactor: Driver/AwsS3.php

---------

### Description (*)
Set of adjustments for AWS S3 extension

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)

[2020-12-21 10:17] m2-assistant[bot] opened #31377 "[Issue] Replace JSON serializer with JSON Hex Tag (User module)"
This issue is automatically created based on existing pull request: magento/magento2#31359: Replace JSON serializer with JSON Hex Tag (User module)

---------
### Description (*)
The serializer injected into the View Model is being used to serialize data for the Store views.
When trying to use the data serialized with a regular Serializer, it ends up on crash when you have unescaped elements in yo

[2020-12-21 10:37] krishprakash commented on #31367
Hi @asd99557. Kindly update all the details Steps to reproduce, actual and expected result as per [issue reporting guidelines ](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
Without such details, this issue could be closed

[2020-12-21 10:52] chellinki commented on #23442
Thanks, @davekleijnkega - Even it worked for me too in the 2.3.5-p2 upgrade process.

[2020-12-21 11:02] pitbulk commented on #30498
Is there anything we can do in order to get this bug fixed?

[2020-12-21 11:08] ronak2ram commented on #27112
etc/di.xml

[code]

[2020-12-21 12:32] engcom-Bravo commented on #31329
Hello @DiegoSana

Thank you for your report.

The formula for the Salable Quantity is (Quantity - (Out-of-Stock Threshold)). :point_right: https://docs.magento.com/user-guide/catalog/inventory-backorders.html#out-of-stock-threshold
The **Notify for Quantity Below** is a setting that sends an email notification when a product’s quantity reaches a low quantity and is not deducted from the Salable Qu

[2020-12-21 12:32] #31329 closed, assigned to engcom-Bravo

[2020-12-21 12:46] lbajsarowicz opened #31379 "Actions dropdown positioned against the last column, not against "Actions" colum"
### Preconditions (*)

1. Reproduced on Magento  2.4.1
2. Reproduced on  Magento 2.4.2 beta 1

### Steps to reproduce (*)
1. Change the columns order in Admin Grid
2. Click on any "Select" in "Actions" column

### Expected result (*)
![image](https://user-images.githubusercontent.com/1639941/102778492-f5058d00-4392-11eb-93a1-37e528e8e3f6.png)

### Actual result (*)
![image](https://user-images.git

[2020-12-21 13:08] magento-engcom-team commented on #31363
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40062` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-21 14:05] engcom-Kilo commented on #31117
Hello, @chichitsai0517
I'm not able to reproduce this issue on 1.2-develop MSI with consumers running.
![PlaceOrderAllQty](https://user-images.githubusercontent.com/60192090/102785212-40756680-43a6-11eb-8a28-43f185acca79.gif)
Looks like this issue has been fixed in https://github.com/magento/inventory/commit/476e0180abb79b683c6579d52c156d1e8136b0b7

[2020-12-21 14:05] #31117 closed, assigned to engcom-Kilo

[2020-12-21 14:07] magento-engcom-team commented on #31117
Hi @chichitsai0517, @engcom-Kilo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39869` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-21 14:29] engcom-Alfa commented on #31379
@lbajsarowicz The issue is reproducible on fresh 2.4-develop.

**Manual testing scenario:**

1. Add custom columns to the Pages grid;
2. Click on any "Select" in "Actions" column

**Actual Result:** :heavy_multiplication_x: Drop-down menu remained in the same position as it was

![Peek 2020-12-21 16-25](https://user-images.githubusercontent.com/51679138/102787351-9c8dba00-43a9-11eb-83c7-49d223fd1e

[2020-12-21 14:50] sergioarroyop commented on #26103
@xpec-jdsp @monotheist  If you generate de varnish 6 configuration from the magento admin panel it has a restart in the vcl_hit subrutine when the object has no grace and ttl. You should pass or miss the request and fetch a new object instead of restarting the request again, it will make a loop and return the 503 at max restarts. In the `vcl_hit` change this:
`        } else {

            # Hit a

[2020-12-21 15:08] #31305 closed, assigned to shikhamis11

[2020-12-21 15:09] magento-engcom-team commented on #31305
Hi @magento-engcom-team, @shikhamis11.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39894` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-21 16:47] lenaorobei commented on #31341
@magento give me 2.4-develop instance

[2020-12-21 16:57] irenelagno commented on #30835
@magento give me 2.4-develop instance

[2020-12-21 17:05] irenelagno commented on #30835
@magento give me 2.4.0 instance

[2020-12-21 17:28] ericerway commented on #30835
@magento give me 2.4.0 instance

[2020-12-21 19:51] ericerway commented on #30835
@magento give me 2.4.1 instance

[2020-12-21 20:46] msyhr commented on #29439
I can confirm this works, however in my instance the array key was already set. So the below code was needed instead of !isset (your results may vary)

`        if (array_key_exists('your_attribute', $fields)) {
            $fields['your_attribute] = [
                'type' => 'keyword'
            ];
        }`

[2020-12-21 23:50] chequille opened #31382 "UpdateCouponUsages change. Why are you doing this?"
I know, that this is maybe not a bug, but in my point of view it is. Therefore, I am writting it here.
By the way, I am working with Magento 2.4.1

Because Magento does not care about a coupon code for let's say 50€ if the total cart value is only 30€ (Magento is reducing the total but is setting the coupon as used and the 20€ left are gone !!!!), I developed a module which checks the discountamou

[2020-12-22 00:35] magento-engcom-team commented on #31129
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31123 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [9847f03d47e5027c7f27c4e5c800896a5b199582](https://github.com/magento/magento2/commit/9847f03d47e5027c7f27c4e5c800896a5b199582)
 - [e34fc7826d04dcd7e504082d5fa0d7f029343225](https://github.com/magento/magento2/commit/e34fc7826d04dcd7e504082d5

[2020-12-22 00:35] #31129 closed, assigned to AnnaAPak

[2020-12-22 00:35] magento-engcom-team commented on #31032
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31021 by @vpsnak in 2.4-develop branch
Related commit(s):
 - [ba1a3393e5b09a141a2a06e11d15dad91a8e041c](https://github.com/magento/magento2/commit/ba1a3393e5b09a141a2a06e11d15dad91a8e041c)
 - [a8c72b00d7d30a60499e0aea085fade9df480b82](https://github.com/magento/magento2/commit/a8c72b00d7d30a60499e0aea085

[2020-12-22 00:35] #31032 closed, assigned to nobody

[2020-12-22 00:35] magento-engcom-team commented on #31249
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31243 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [2587e3221f56d237588d1fc23dd4aa4e3b076fca](https://github.com/magento/magento2/commit/2587e3221f56d237588d1fc23dd4aa4e3b076fca)
 - [36a3a3388b870fecc4f9fcbb43aa50835f2e404a](https://github.com/magento/magento2/commit/36a3a3388b870fecc4f9fcbb4

[2020-12-22 00:35] #31249 closed, assigned to AnnaAPak

[2020-12-22 00:35] magento-engcom-team commented on #31250
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31241 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [e85f913ce5e87bcdef7bf265b5b7e04c4b060535](https://github.com/magento/magento2/commit/e85f913ce5e87bcdef7bf265b5b7e04c4b060535)
 - [03bcb4c308c7bb3616787a97061fd81f4f012efe](https://github.com/magento/magento2/commit/03bcb4c308c7bb3616787a970

[2020-12-22 00:35] #31250 closed, assigned to AnnaAPak

[2020-12-22 00:35] magento-engcom-team commented on #31234
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31221 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [fe6298b0ae448de156a317545463e773a2166258](https://github.com/magento/magento2/commit/fe6298b0ae448de156a317545463e773a2166258)
 - [e4fde6b8c5005c984c7f8dab1c6106c7f5649be5](https://github.com/magento/magento2/commit/e4fde6b8c5005c984c7f8dab1

[2020-12-22 00:35] #31234 closed, assigned to AnnaAPak

[2020-12-22 00:35] magento-engcom-team commented on #31074
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31053 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [be7872aa9374e45ac089d732c93f50df9faaa373](https://github.com/magento/magento2/commit/be7872aa9374e45ac089d732c93f50df9faaa373)
 - [f13157df893426f6a4d5a031b046add21c319693](https://github.com/magento/magento2/commit/f13157df893426f6a4d5a031b

[2020-12-22 00:35] #31074 closed, assigned to Usik2203

[2020-12-22 00:35] magento-engcom-team commented on #31239
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31165 by @DmitryFurs in 2.4-develop branch
Related commit(s):
 - [a119cbeaedeed60b4d5b7b62c05aa756e579a330](https://github.com/magento/magento2/commit/a119cbeaedeed60b4d5b7b62c05aa756e579a330)

The fix will be available with the upcoming 2.4.3 release.

[2020-12-22 00:35] #31239 closed, assigned to DmitryFurs

[2020-12-22 00:35] magento-engcom-team commented on #31130
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31128 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [8e1a0aef98b3e6fe3cb6c68c483ac0a22007cf46](https://github.com/magento/magento2/commit/8e1a0aef98b3e6fe3cb6c68c483ac0a22007cf46)
 - [00fa24651f2c7c61b7bc78f2b74173ae22633dda](https://github.com/magento/magento2/commit/00fa24651f2c7c61b7bc78f2b

[2020-12-22 00:35] #31130 closed, assigned to sergiy-v

[2020-12-22 00:35] magento-engcom-team commented on #31153
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31147 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [d4e1641188e841885329fa2a8adb0cefd4b44879](https://github.com/magento/magento2/commit/d4e1641188e841885329fa2a8adb0cefd4b44879)
 - [fe39fba308b4be8b320dda5d84a50af5919a931a](https://github.com/magento/magento2/commit/fe39fba308b4be8b320dda5d8

[2020-12-22 00:35] #31153 closed, assigned to AnnaAPak

[2020-12-22 00:35] magento-engcom-team commented on #31132
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31097 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [f36929ac2be6c65c6386325c8fc38d1d333d77b3](https://github.com/magento/magento2/commit/f36929ac2be6c65c6386325c8fc38d1d333d77b3)
 - [94cdcf1827cdb4dbb04af097a668e3303bf3eede](https://github.com/magento/magento2/commit/94cdcf1827cdb4dbb04af097a

[2020-12-22 00:35] #31132 closed, assigned to AnnaAPak

[2020-12-22 00:35] magento-engcom-team commented on #30584
Hi @redati. Thank you for your report.
The issue has been fixed in magento/magento2#30634 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [e567fd6c343cd383bc58b8b6b8b90b45844ded7d](https://github.com/magento/magento2/commit/e567fd6c343cd383bc58b8b6b8b90b45844ded7d)
 - [dd044a0ad1e453325abb1f5eda8de2a8a067069c](https://github.com/magento/magento2/commit/dd044a0ad1e453325abb1f5eda8de2a8a06706

[2020-12-22 00:35] #30584 closed, assigned to mrtuvn

[2020-12-22 00:35] magento-engcom-team commented on #30858
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30837 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [9bea792f606ab0b87e8bfed0ba1652e78ddf9a2a](https://github.com/magento/magento2/commit/9bea792f606ab0b87e8bfed0ba1652e78ddf9a2a)
 - [57c62ea1d22bb39028fe3512ef6cdac4148e25ae](https://github.com/magento/magento2/commit/57c62ea1d22bb39028fe3512e

[2020-12-22 00:35] #30858 closed, assigned to nobody

[2020-12-22 00:35] magento-engcom-team commented on #8933
Hi @w130pmpo. Thank you for your report.
The issue has been fixed in magento/magento2#28007 by @driskell in 2.4-develop branch
Related commit(s):
 - [aa12503923ac994873724ecaa759e1eb14b318dc](https://github.com/magento/magento2/commit/aa12503923ac994873724ecaa759e1eb14b318dc)
 - [b0b72b0f8486ca119015e84b7786dfab13d2e475](https://github.com/magento/magento2/commit/b0b72b0f8486ca119015e84b7786dfab13

[2020-12-22 00:35] magento-engcom-team commented on #18409
Hi @sourav88. Thank you for your report.
The issue has been fixed in magento/magento2#28007 by @driskell in 2.4-develop branch
Related commit(s):
 - [aa12503923ac994873724ecaa759e1eb14b318dc](https://github.com/magento/magento2/commit/aa12503923ac994873724ecaa759e1eb14b318dc)
 - [b0b72b0f8486ca119015e84b7786dfab13d2e475](https://github.com/magento/magento2/commit/b0b72b0f8486ca119015e84b7786dfab13

[2020-12-22 00:35] magento-engcom-team commented on #22438
Hi @seansan. Thank you for your report.
The issue has been fixed in magento/magento2#28007 by @driskell in 2.4-develop branch
Related commit(s):
 - [aa12503923ac994873724ecaa759e1eb14b318dc](https://github.com/magento/magento2/commit/aa12503923ac994873724ecaa759e1eb14b318dc)
 - [b0b72b0f8486ca119015e84b7786dfab13d2e475](https://github.com/magento/magento2/commit/b0b72b0f8486ca119015e84b7786dfab13d

[2020-12-22 00:35] magento-engcom-team commented on #23054
Hi @QuentinFarizon. Thank you for your report.
The issue has been fixed in magento/magento2#28007 by @driskell in 2.4-develop branch
Related commit(s):
 - [aa12503923ac994873724ecaa759e1eb14b318dc](https://github.com/magento/magento2/commit/aa12503923ac994873724ecaa759e1eb14b318dc)
 - [b0b72b0f8486ca119015e84b7786dfab13d2e475](https://github.com/magento/magento2/commit/b0b72b0f8486ca119015e84b7786

[2020-12-22 00:35] #23054 closed, assigned to driskell

[2020-12-22 00:35] magento-engcom-team commented on #25634
Hi @Yuwei9291. Thank you for your report.
The issue has been fixed in magento/magento2#28007 by @driskell in 2.4-develop branch
Related commit(s):
 - [aa12503923ac994873724ecaa759e1eb14b318dc](https://github.com/magento/magento2/commit/aa12503923ac994873724ecaa759e1eb14b318dc)
 - [b0b72b0f8486ca119015e84b7786dfab13d2e475](https://github.com/magento/magento2/commit/b0b72b0f8486ca119015e84b7786dfab1

[2020-12-22 00:35] #25634 closed, assigned to driskell

[2020-12-22 00:35] magento-engcom-team commented on #26507
Hi @Zyles. Thank you for your report.
The issue has been fixed in magento/magento2#28007 by @driskell in 2.4-develop branch
Related commit(s):
 - [aa12503923ac994873724ecaa759e1eb14b318dc](https://github.com/magento/magento2/commit/aa12503923ac994873724ecaa759e1eb14b318dc)
 - [b0b72b0f8486ca119015e84b7786dfab13d2e475](https://github.com/magento/magento2/commit/b0b72b0f8486ca119015e84b7786dfab13d2e

[2020-12-22 00:36] #26507 closed, assigned to nobody

[2020-12-22 00:36] magento-engcom-team commented on #26809
Hi @bobemoe. Thank you for your report.
The issue has been fixed in magento/magento2#28007 by @driskell in 2.4-develop branch
Related commit(s):
 - [aa12503923ac994873724ecaa759e1eb14b318dc](https://github.com/magento/magento2/commit/aa12503923ac994873724ecaa759e1eb14b318dc)
 - [b0b72b0f8486ca119015e84b7786dfab13d2e475](https://github.com/magento/magento2/commit/b0b72b0f8486ca119015e84b7786dfab13d

[2020-12-22 00:36] #26809 closed, assigned to nobody

[2020-12-22 02:05] LiamTrioTech commented on #9602
Magento 2.3. trying to do a product csv import.

This is an issue when Fields enclosure box is ticked, which needs to be ticked to get special characters otherwise it stuffs up the encoding and gets scrambled stuff which might push some attributes such as meta_description past their 255 length validation.

Magento_Downloadable is irrelevant, but is enabled.

[2020-12-22 07:01] nihara47 commented on #13143
@magento I'm Working on it

[2020-12-22 07:34] SmVladyslav commented on #30256
@magento I am working on this.

[2020-12-22 08:08] minhluan259 opened #31385 "Secure Html renderer wrong window.cookiesConfig"
### Preconditions (*)

Magento 2.4.1

### Steps to reproduce (*)

vendor/magento/module-cookie/view/base/templates/html/cookie.phtml

### Expected result (*)

[code]

### Actual result (*)

[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation an

[2020-12-22 08:11] magento-engcom-team commented on #31379
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40106` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-22 09:08] engcom-Charlie commented on #31069
Hello @siimm, I'm closing this issue now due to inactivity.
Please feel free to comment, reopen, or create a new ticket if you are still facing this issue on the latest `2.4-develop` branch.
Thanks for your report!

[2020-12-22 09:08] #31069 closed, assigned to siimm

[2020-12-22 09:28] engcom-Bravo commented on #31353
Hello @Hexmage

Thank you for your report

We confirm that the issue is reproducible on the latest 2.4-develop
Additional info from Engcom is added to the Description

[2020-12-22 09:30] magento-engcom-team commented on #31353
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40107` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-22 10:55] mrkimmok opened #31389 "Unable to edit Minimum Height value of a Banner with Page builder after Magento upgrade"
### Preconditions (*)

Magento Enterprise Edition 2.3.6 ("magento/product-enterprise-edition": "2.3.6") upgraded from version 2.3.2 using composer. PHP version is 7.2.28

### Steps to reproduce (*)

1. Magento succesfully upgraded from version 2.3.2 (Enterprise Edition) to 2.3.6 (Enterprise Edition)
2. After upgrade, go to: "Content > Pages > Open Content tab and edit a Banner element
3. Edit Bann

[2020-12-22 10:56] #29997 closed, assigned to nobody

[2020-12-22 11:12] engcom-Alfa commented on #31280
Hi @nbennett25 .Thank you for your report!

Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop. Everything works as expected.

**Precondition:**
Configure RabbitMQ server

**Manual testing scenario:**

1. Run in console: `bin/magento queue:consumers:start --area-code='global' async.operations.all`
2. Create simple product using bulk APIs for example; ([devdocs](https://dev

[2020-12-22 11:12] #31280 closed, assigned to engcom-Alfa

[2020-12-22 12:01] engcom-Delta commented on #31349
Hi @nicololamigo thank you for your report. I'm not able to reproduce issue by steps you described on clean 2.4-develop as magento default export functionality save created product attributes into `additional_attributes` column
**Result:**
:heavy_check_mark: Created dropdown attribute `test` is shown in scv file
![image](https://user-images.githubusercontent.com/51681379/102886555-fe0f6080-445d-11

[2020-12-22 12:01] #31349 closed, assigned to nobody

[2020-12-22 12:03] kashirraheel opened #31392 "Salable vs Default Quantity"
### Preconditions (*)

1. Magento v.2.3.3

### Steps to reproduce (*)

1. Seems to be a bug with the new MSI update on M 2.3.3.
2. Even though the quantity of a simple product is 2 or 3 in the backend, it still shows out of stock on the frontend. This seems like a common issue as a lot of users are reporting this issue.

### Expected result (*)

1. <img width="1217" alt="Screenshot 2020-12-22 at 5

[2020-12-22 12:44] lbajsarowicz opened #31393 "Admin Analytics - Enable Admin Usage endpoint without exception handling"
### Summary (*)
**Context**: When learning Magento, many developers look around for small examples of "Best Practices" to follow. One of such is Admin Analytics setting update endpoint.

**Issue**: The response is hardcoded in the endpoint, so if an exception occurs on Settings save, there's no information about such exception in the logs. The response becomes HTTP 503, instead of returning inform

[2020-12-22 13:07] mlaurense commented on #29439
Thanks @rparsi-boxycharm and @msyhr for your input. I ended up combining both your additions to fix our issue. Complete example for the one's running into the same issue:
di.xml:
[code]
Plugin/Elasticsearch.php:
[code]

[2020-12-22 13:31] alxvieira commented on #25738
I upgraded from 2.3.3 to 2.3.4 and then from 2.3.4 to 2.3.5 and I still have the same error.
My shopping cart are international language.

Can anyone give me a tip?

[2020-12-22 13:33] johnorourke commented on #18752
I'm seeing this issue in 2.3.4 when a credit card payment fails, as @rhoerr mentioned above:

`Model/GuestPaymentInformationManagement.php` in module-checkout wraps the placeOrder call with transactions, but the non-guest version doesn't.  Part of the issue is that module-quote/Model/QuoteManagement.php's rollbackAddresses will catch any exception and turn it into a `\Exception` - this doesn't inh

[2020-12-22 13:36] johnorourke commented on #25862
This also fixes #18752 - exception thrown during payment capture causes a poor error for the user and the exception log contains "Rolled back transaction has not been completed correctly"

[2020-12-22 13:49] engcom-Alfa commented on #31285
Hi @pnaimish .
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop.
Everything works as expected.

**Actual Result:** :heavy_check_mark: For 50000 products and 50 categories, the indexing time took less than 2 minutes.

@pnaimish Are you able to reproduce this issue on `2.4-develop`?
Thank you!

[2020-12-22 13:49] dareenzo commented on #23031
@francescosalvi I'm no expert either, but I'd say you're at least half-right.

The patch does not get applied twice only due to the rollback called within the catch clause.

While the actual behavior does not match what is written on the docs, I think the intended behavior is the one described.

The incorrect behavior I see (in my case) is that the application of the new patch fails while referenc

[2020-12-22 13:56] engcom-Hotel commented on #31216
Hello @aleron75,
Yes, it helps to reproduce the issue.
Thank you.
Detailed steps to reproduce https://github.com/magento/magento2/pull/31205#issuecomment-749550593

[2020-12-22 13:57] engcom-Alfa commented on #31076
@magento give me 2.3.5-p2 instance

[2020-12-22 14:27] denchev commented on #20689
I've been investigating this and it looks like the problem is with [Elasticsearch tokenizer](https://www.elastic.co/guide/en/elasticsearch/reference/current/analysis-standard-tokenizer.html). I would not count this is a bug per-say as this is how Elasticsearch is supposed to work. I found this to be a merchant-facing issue as I had clients that complain about this same behavior. I am working on a

[2020-12-22 14:38] engcom-Alfa commented on #31076
Hi @arslan-eg

Unfortunately, we are not able to reproduce this issue on `2.3.5-p2`, `2.4.1` and `2.4-develop`.
Everything works as expected.

**Actual Result:** :heavy_check_mark:  An email is sent to the user when he has changed his password.

![Screenshot from 2020-12-22 16-30-55](https://user-images.githubusercontent.com/51679138/102899241-4dac5700-4473-11eb-8da0-26b84e8303d6.png)

![2020-12-2

[2020-12-22 14:38] #31076 closed, assigned to engcom-Alfa

[2020-12-22 14:52] PauloPhagula opened #31396 "[Magento 2.3.x] Data/Schema Patches getAliases() causes errors during `setup:upgrade`"
### Preconditions (*)

### Project Environment

Magento 2.4-develop
Magento Version: 2.3.x CE
PHP: 7.4
Database: MySQL 8.0
OS: CentOS 7
Caching: Varnish Cache and OPcache

### Steps to reproduce (*)

1. Create a schema patch with a class name e.g. ExampleSchemaPatch
2. Add a logger inside the apply method for the schema patch class to indicate that the apply method was executed
3. Run `setup:upgra

[2020-12-22 14:52] dareenzo commented on #23031
Opened a new issue https://github.com/magento/magento2/issues/31396

[2020-12-22 14:57] magento-engcom-team commented on #31197
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40113` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-22 15:55] engcom-Bravo commented on #31366
Hello @chequille

Thank you for your report

We have rechecked the reported issue on 2.4.1 and on 2.4-develop versions
Here are the steps we performed:
1. _Apply Customer Tax_ is set to **After Discount** in _Stores - Configuration - Sales - Tax - Calculation Settings_
![after_discount](https://user-images.githubusercontent.com/51680745/102899550-c27f9100-4473-11eb-8a34-e919dab4877c.png)
2. _Bank

[2020-12-22 16:18] ihor-sviziev commented on #15005
Hi @george-vlahakis,
Unfortunately, we didn't get any response from your for more than 1 year.
I'm closing this issues as not relevant anymore. If this issue still reproducing for you - please just put some comment here or cre

[2020-12-22 16:18] #15005 closed, assigned to ihor-sviziev

[2020-12-22 17:30] DiegoSana commented on #31329
@engcom-Bravo i understud. Thanks for your reply!
But, what about with this part of the documentation?
https://devdocs.magento.com/guides/v2.4/inventory/#a-simple-scenario

It's a little bit confusing...

[2020-12-22 18:20] chequille commented on #31366
Hi,
must be honest, did not see, that htere is already another ticket saying exactly the same. It is ticket #30853
In this ticket, the error was reproduced and as well I do have it.
What I see in your picture above, you are looking at the order page not at the invoice page. Because on the order page everthing is still correct.
But look at the invoice page, there it is wrong as in my picture above.

[2020-12-22 18:35] engcom-Delta commented on #30794
Hi @Axel29 thank you for your report. Is issue reproducible with "Account Sharing Options=Global" ? Could you clarify point 5 from Steps to Reproduce section?

[2020-12-22 18:41] Axel29 commented on #30794
Hi @engcom-Delta yes that is exactly what I meant in step 5, enable sharing accounts globally.

[2020-12-22 18:53] stupachenko commented on #26724
Fix from Magento Team https://github.com/magento/magento2/commit/e699d3feb9514ee73c8c0afc3fdb8b5c03ed18d5

[2020-12-22 19:02] engcom-Delta commented on #31298
@bojandavkov thanks for update.  Issue is not reproducible on 2.4-develop with different Base URLs for websites locally. Test instance cannot be configured in such way
**Manual testing sceanrio:**

- Create additional website
![image](https://user-images.githubusercontent.com/51681379/102922550-dee0f500-4496-11eb-8f14-46b20bafc104.png)

- Set different Base URLs for websites:
![image](https://user

[2020-12-22 21:43] m2-assistant[bot] opened #31399 "[Issue] PHPDoc correction spelling"
This issue is automatically created based on existing pull request: magento/magento2#31398: PHPDoc correction spelling

---------

A tiny changed but important for IDEs recognize that method is deprecated.

### Description (*)
PHPDoc correction spelling

### Related Pull Requests
N/A

### Fixed Issues (if relevant)
N/A

### Manual testing scenarios (*)
N/A

### Questions or comments
N/A

### Contr

[2020-12-22 22:56] magento-engcom-team opened #31400 "[GraphQL] CreateGiftRegisty mutation throws error when using country_code in CreateGiftRegistyInput"
#### Issue 1:CreateGiftRegistryInput throws the below error when using "country*code" in the shipping*address.GiftRegistryShippingAddressInput.

Run the below query:
[code]

[2020-12-22 22:56] magento-engcom-team opened #31401 "[GraphQL] CreateGiftRegisty mutation throws error when using country_code in CreateGiftRegistyInput"
#### Issue 1:CreateGiftRegistryInput throws the below error when using "country*code" in the shipping*address.GiftRegistryShippingAddressInput.

Run the below query:
[code]

[2020-12-22 22:57] magento-engcom-team opened #31402 "[GraphQL] CreateGiftRegisty mutation throws error when using country_code in CreateGiftRegistyInput"
#### Issue 1:CreateGiftRegistryInput throws the below error when using "country*code" in the shipping*address.GiftRegistryShippingAddressInput.

Run the below query:
[code]

[2020-12-22 23:49] m2-assistant[bot] opened #31403 "[Issue] [MFTF] Refactoring AdminCheckingCreditMemoTotalsTest"
This issue is automatically created based on existing pull request: magento/magento2#31394: [MFTF] Refactoring AdminCheckingCreditMemoTotalsTest

---------
### Description (*)
The test is refactored according to the best practices

### Manual testing scenarios (*)
1. Place order
2. Invoice order
3. Start creating Credit Memo
4. Set the Shipping field to 0
5. Click the Update Credit Memo Totals but

[2020-12-23 01:30] magento-engcom-team opened #31404 "[GraphQL] CreateGiftRegisty mutation throws error when using country_code in CreateGiftRegistyInput"
#### Issue 1:CreateGiftRegistryInput throws the below error when using "country*code" in the shipping*address.GiftRegistryShippingAddressInput.

Run the below query:
[code]

[2020-12-23 01:31] magento-engcom-team opened #31405 "[GraphQL] CreateGiftRegisty mutation throws error when using country_code in CreateGiftRegistyInput"
#### Issue 1:CreateGiftRegistryInput throws the below error when using "country*code" in the shipping*address.GiftRegistryShippingAddressInput.

Run the below query:
[code]

[2020-12-23 01:31] magento-engcom-team opened #31406 "[GraphQL] CreateGiftRegisty mutation throws error when using country_code in CreateGiftRegistyInput"
#### Issue 1:CreateGiftRegistryInput throws the below error when using "country*code" in the shipping*address.GiftRegistryShippingAddressInput.

Run the below query:
[code]

[2020-12-23 01:33] #31406 closed, assigned to nobody

[2020-12-23 01:33] #31405 closed, assigned to nobody

[2020-12-23 01:33] #31402 closed, assigned to nobody

[2020-12-23 01:33] #31401 closed, assigned to nobody

[2020-12-23 01:33] #31400 closed, assigned to nobody

[2020-12-23 01:42] magento-engcom-team opened #31407 "[GraphQL] Internal server error is returned for giftRegistryTypeSearch"
#### Pre-Requisites:

Create few gift registries for a customer.
 search for giftregistry for the above customer
#### Steps:

Run the below query:
[code]
#### Please note that the argument typeUid for giftRegistryTypeSearch should be of type ID ( not Int) -> That needs to be fixed as well in the scope of this bug fix

Cloud instance where the issue can be reproduced:[https://24develop-2hpekvq-t6ea

[2020-12-23 01:42] magento-engcom-team opened #31408 "[GraphQL] Internal server error is returned for giftRegistryTypeSearch"
#### Pre-Requisites:

Create few gift registries for a customer.
 search for giftregistry for the above customer
#### Steps:

Run the below query:
[code]
#### Please note that the argument typeUid for giftRegistryTypeSearch should be of type ID ( not Int) -> That needs to be fixed as well in the scope of this bug fix

Cloud instance where the issue can be reproduced:[https://24develop-2hpekvq-t6ea

[2020-12-23 01:43] magento-engcom-team opened #31409 "[GraphQL] Internal server error is returned for giftRegistryTypeSearch"
#### Pre-Requisites:

Create few gift registries for a customer.
 search for giftregistry for the above customer
#### Steps:

Run the below query:
[code]
#### Please note that the argument typeUid for giftRegistryTypeSearch should be of type ID ( not Int) -> That needs to be fixed as well in the scope of this bug fix

Cloud instance where the issue can be reproduced:[https://24develop-2hpekvq-t6ea

[2020-12-23 01:43] #31409 closed, assigned to nobody

[2020-12-23 01:43] #31408 closed, assigned to nobody

[2020-12-23 01:44] #31407 closed, assigned to nobody

[2020-12-23 01:51] #26093 closed, assigned to nobody

[2020-12-23 01:51] #8755 closed, assigned to nobody

[2020-12-23 01:51] #10355 closed, assigned to nobody

[2020-12-23 01:51] #12594 closed, assigned to nobody

[2020-12-23 01:51] #14143 closed, assigned to nobody

[2020-12-23 01:51] #15273 closed, assigned to nobody

[2020-12-23 01:51] #17705 closed, assigned to nobody

[2020-12-23 01:51] #17973 closed, assigned to nobody

[2020-12-23 01:51] #18195 closed, assigned to nobody

[2020-12-23 01:51] #20398 closed, assigned to nobody

[2020-12-23 01:53] magento-engcom-team commented on #26093
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-23 01:53] magento-engcom-team commented on #8755
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-23 01:53] magento-engcom-team commented on #10355
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-23 01:53] magento-engcom-team commented on #18195
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-23 01:54] magento-engcom-team commented on #18195
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-23 02:14] magento-engcom-team opened #31410 "test issue"
steps to reproduce

[2020-12-23 02:15] magento-engcom-team opened #31411 "test issue"
steps to reproduce

[2020-12-23 02:15] magento-engcom-team opened #31412 "test issue"
steps to reproduce

[2020-12-23 02:15] #31410 closed, assigned to nobody

[2020-12-23 02:15] #31411 closed, assigned to nobody

[2020-12-23 02:15] #31412 closed, assigned to nobody

[2020-12-23 02:51] #22391 closed, assigned to nobody

[2020-12-23 02:51] #23414 closed, assigned to nobody

[2020-12-23 02:51] #23765 closed, assigned to nobody

[2020-12-23 02:51] #23991 closed, assigned to nobody

[2020-12-23 02:51] #23996 closed, assigned to nobody

[2020-12-23 02:51] #24214 closed, assigned to nobody

[2020-12-23 02:51] #24386 closed, assigned to nobody

[2020-12-23 02:51] #24727 closed, assigned to nobody

[2020-12-23 02:51] #25254 closed, assigned to nobody

[2020-12-23 02:51] #24961 closed, assigned to nobody

[2020-12-23 02:51] #25287 closed, assigned to nobody

[2020-12-23 02:51] #25348 closed, assigned to nobody

[2020-12-23 02:51] #25413 closed, assigned to nobody

[2020-12-23 02:51] #25570 closed, assigned to nobody

[2020-12-23 02:51] #25581 closed, assigned to nobody

[2020-12-23 02:51] #25619 closed, assigned to nobody

[2020-12-23 02:51] #25636 closed, assigned to nobody

[2020-12-23 02:51] #25747 closed, assigned to nobody

[2020-12-23 02:51] #25977 closed, assigned to nobody

[2020-12-23 02:51] #25861 closed, assigned to nobody

[2020-12-23 02:51] #25987 closed, assigned to nobody

[2020-12-23 02:51] #25990 closed, assigned to nobody

[2020-12-23 02:51] #26052 closed, assigned to nobody

[2020-12-23 02:51] #26957 closed, assigned to nobody

[2020-12-23 02:51] #26291 closed, assigned to nobody

[2020-12-23 02:51] #28954 closed, assigned to nobody

[2020-12-23 02:53] magento-engcom-team commented on #23414
Hi @htmyheart.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-35495` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-23 02:53] magento-engcom-team commented on #23991
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-23 02:53] magento-engcom-team commented on #23414
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-23 02:53] magento-engcom-team commented on #23414
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-23 02:53] magento-engcom-team commented on #23996
Hi @edenduong.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23922` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-23 02:53] magento-engcom-team commented on #24214
Hi @krisdante.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23990` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-23 02:53] magento-engcom-team commented on #24386
Hi @renard123.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24032` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-23 02:54] magento-engcom-team commented on #23996
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-23 02:54] magento-engcom-team commented on #25348
Hi @TomashKhamlai.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-25066` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-23 02:54] magento-engcom-team commented on #25348
Hi @TomashKhamlai.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-22562` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-23 02:54] magento-engcom-team commented on #25977
Hi @ngreimel-lt.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-29728` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-23 02:54] magento-engcom-team commented on #25990
Hi @Charanjet.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-29885` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-23 02:54] magento-engcom-team commented on #26052
Hi @Zyles.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-29939` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-23 02:54] magento-engcom-team commented on #26291
Hi @Kindlebit-Kbs.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-30248` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-23 02:54] magento-engcom-team commented on #26957
Hi @chalov-anton.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-31872` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-23 02:54] magento-engcom-team commented on #28954
Hi @m2-assistant[bot].

Thank you for your report and collaboration!

The related internal Jira ticket `MC-35584` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-23 03:00] raybog commented on #28100
Before official patch is ready we are using following SQL only workaround:

[code]

[2020-12-23 03:56] magento-engcom-team commented on #31399
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40126` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-23 05:06] #31290 closed, assigned to AnnaAPak

[2020-12-23 05:06] #31131 closed, assigned to AnnaAPak

[2020-12-23 05:06] #30424 closed, assigned to GovindaSharma

[2020-12-23 06:39] mrtuvn commented on #31379
This issue can reproducible in 2.4.0 official

[2020-12-23 07:12] niksjethva opened #31414 "upgarded to Magento 2.4 unable to Upgrade issue: 1452 Cannot add or update a child row: a foreign key constraint fails (`kingdomdb_22dec20`.`#sql-4a2_9`, CONSTRAINT `QUOTE_STORE_ID_STORE_STORE_ID` FOREIGN KEY (`store_id`) REFERENCES `store` (`store_id`) ON DELETE CASCADE), query was"
### Preconditions (*)

1. Upgrading from Enterprise edition version 2.2.3 into Version 2.4.0 in local server
2. The bug is during  (php bin/magento setup:upgrade) throwing the error (see below)
3. Installed PHP version 7.3
4. Installed Elastic search version 7.1

### Steps to reproduce (*)

1.  Upgrade from enterprise edition 2.2.3 to 2.4.0 (**upgrade has been successfully done from 2.2.3 to 2.4.0

[2020-12-23 07:22] chequille commented on #31366
Hi,
I made a change in Magento_Sales/Modul/Order/Invoice/Total/Tax.php and removed the $totalDiscountTaxCompensation and §baseTotalDiscountTaxCompoensation values in line 121 and 122 so it looks like below.

$invoice->setGrandTotal($invoice->getGrandTotal() + $totalTax);
$invoice->setBaseGrandTotal($invoice->getBaseGrandTotal() + $baseTotalTax);

Doing so, my total value is 0 as it should.

Where

[2020-12-23 08:24] engcom-Delta commented on #16202
@nwtben @hostep  Issue is not reproducible by steps described [here](https://github.com/magento/magento2/issues/16202#issue-333072896) on 2.4-develop
**Note:** I used `default` store view as `en` store view from Steps to reproduce
**Result:**
:heavy_check_mark: Categories have correct urls

| Category name | Category url                 |
| ------------- | ---------------------------- |
| EN 1

[2020-12-23 08:28] engcom-Delta commented on #29791
@magento give me 2.4-develop instance

[2020-12-23 08:42] engcom-Delta commented on #29791
Hi @hemendraajmera thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: Customer is successfully logged in, no errors are shown
![Peek 2020-12-23 10-40](https://user-images.githubusercontent.com/51681379/102977302-78e28500-450b-11eb-95ad-2a2544085c90.gif)

If you'd like to update the issue, please reopen it.

[2020-12-23 08:42] #29791 closed, assigned to nobody

[2020-12-23 08:51] engcom-Delta commented on #29777
Hi @cezard thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: The toolbar to appear on the category page
![image](https://user-images.githubusercontent.com/51681379/102978147-ba276480-450c-11eb-993e-2f252d10ece9.png)
![image](https://user-images.githubusercontent.com/51681379/102977802-31102d80-450c-11eb-9424-559688

[2020-12-23 08:53] engcom-Alfa commented on #27148
Hi @Stoyvo. Thank you for your report.
Unfortunately, We are not able to reproduce this issue on the latest 2.4-develop code. Looks like the issue has been already fixed and everything works as expected.

So, we have to close it.

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guideline

[2020-12-23 08:53] #27148 closed, assigned to engcom-Alfa

[2020-12-23 08:59] engcom-Delta commented on #28226
@magento give me 2.4-develop instance

[2020-12-23 09:38] KnK123 commented on #5847
Hi
I have been facing same issue in the magento2.3.5-P2 please advise

[2020-12-23 09:45] vlmed commented on #30863
@magento I am working on this

[2020-12-23 09:50] hostep commented on #16202
@engcom-Delta, @sdzhepa: I just retested on the latest `2.4-develop` branch (using commit: fadbf696918f990f6c743fd45661b2ce51cb4a0c). The situation is improved a lot but it's not fully fixed yet. I would like to ask you to re-open and further investigate please!
The end result with the url rewrites seems to be correct but some category's `url_path` attributes are still incorrect. There are fewer p

[2020-12-23 09:55] ajmalbuffy opened #31416 "No alive nodes found in your cluster in magento2.4.1"
**Summary of the issue:**
Getting No alive nodes found in your cluster in Magento 2.4.1. I have installed the magento2.4.1 version using composer install and CLI and added the sample data with the CLI. Then when I go to Magento admin panel --> STORES --> Configuration --> CATALOG --> Catalog --> Catalog Search but am getting Connection failed! Test again?. How to resolve this?

I have tested the c

[2020-12-23 11:48] vandana-gupta1 commented on #30753
Even I am facing the same issue after upgrading from 2.3.5 to 2.4.1
I tried the step suggested by @hostep to my custom theme, still no luck.
Any other suggestion would help me.

[2020-12-23 11:50] hershkoy opened #31423 "item getName() returns wrong name"
I am trying to print the name of an item inside an order in Magento 2.3.3.
The item is a variation, and for some reason `$item->getName()` doesn't return the full name of the item. Instead it returns some kind of a general name, like the parent of the variation or something.

This is the data from mysql from this item. The correct name is '1', but the `getName()` returns '2'.

[![enter image descr

[2020-12-23 12:00] engcom-Alfa commented on #30376
Duplicate of #30094

[2020-12-23 12:00] #30376 closed, assigned to engcom-Alfa

[2020-12-23 12:02] aivaraskiras opened #31424 "main.CRITICAL: Notice: Trying to access array offset on value of type int in /var/www/website/releases/1/vendor/magento/module-catalog/Model/Layer/Filter/AbstractFilter.php"
### Preconditions (*)

1. Magento 2.4.0
2. Test category is set up.
3. Products are set up.

### Steps to reproduce (*)

1. Go to category
2. Click on any of the filter options

### Expected result (*)

1. Filter works
2. if I comment the line
![image](https://user-images.githubusercontent.com/76520595/102993884-ae489c00-4526-11eb-936d-cd7084704db2.png)
then the filter starts working.
3.
![image](

[2020-12-23 12:31] engcom-Delta commented on #28226
@magento give me 2.4-develop instance

[2020-12-23 12:39] engcom-Alfa commented on #31424
@magento give me 2.4-develop instance

[2020-12-23 12:45] engcom-Bravo commented on #31366
@chequille Yes you are right, the https://github.com/magento/magento2/issues/30853 it the same issue
So we are closing this as Duplicate
Please, follow all the updates in that issue

Thank you

[2020-12-23 12:45] #31366 closed, assigned to engcom-Bravo

[2020-12-23 12:55] mrtuvn commented on #30753
You should check file view.xml in folder etc of your theme. Maybe you miss some variables that cause problem

[2020-12-23 13:09] aivaraskiras commented on #31424
please note the filter does not work only if you allow the output of exceptions and notices, if those are ignored then the filter will work

[2020-12-23 13:25] engcom-Delta commented on #28226
Hi @Techytt thank you for your report. I checked issue on 2.4-develop and  I get next results:

- Time of first product detail page load is 2.63s.
![image](https://user-images.githubusercontent.com/51681379/102996117-2a44e300-452b-11eb-80a0-31a3c679901d.png)

- Time of first product detail page load is 1.34s if configurable is without images
![image](https://user-images.githubusercontent.com/51681

[2020-12-23 13:41] mklooss commented on #15504
just for the search folks:

you just have to add an template to the pages oder global for every adminhtml page with "$(window).trigger('blur');".

[code]

[2020-12-23 13:44] engcom-Alfa commented on #31424
Hi @aivaraskiras. Thank you for your report.
We are not able to reproduce this issue on a fresh 2.4-develop instance.
[code]
**Actual Result:** :heavy_check_mark: FIlters work as expected

![Screenshot from 2020-12-23 15-12-39](https://user-images.githubusercontent.com/51679138/102999230-55323580-4531-11eb-8a1f-33d0ee1aca67.png)
![Screenshot from 2020-12-23 15-10-14](https://user-images.githubuser

[2020-12-23 14:04] rubenpurple opened #31428 "app:config:import stop when retrieve a warning or notice on php code"
Hello, im trying to configure the pipeline system of Magento 2.4.

In the production system, the last step, i do the next commands:

/usr/local/bin/php bin/magento app:config:import
/usr/local/bin/php bin/magento setup:upgrade --keep-generated

As the documentation says. The problem, is when import the config.php file, i get the next error:

![image](https://user-images.githubusercontent.com/60217

[2020-12-23 14:44] OvalMedia commented on #15504
Yes, this is really annoying. Think of all the power users that have to work with magento every day.
I am just developing and I am already getting nervous twitches whenever I see a spinner on the screen.

[2020-12-23 14:44] magento-engcom-team opened #31430 "[GraphQL] Internal server error is returned for giftRegistryTypeSearch"
#### Pre-Requisites:

Create few gift registries for a customer.
 search for giftregistry for the above customer
#### Steps:

Run the below query:
[code]
#### Please note that the argument typeUid for giftRegistryTypeSearch should be of type ID ( not Int) -> That needs to be fixed as well in the scope of this bug fix

Cloud instance where the issue can be reproduced:[https://24develop-2hpekvq-t6ea

[2020-12-23 14:45] magento-engcom-team opened #31431 "[GraphQL] Internal server error is returned for giftRegistryTypeSearch"
#### Pre-Requisites:

Create few gift registries for a customer.
 search for giftregistry for the above customer
#### Steps:

Run the below query:
[code]
#### Please note that the argument typeUid for giftRegistryTypeSearch should be of type ID ( not Int) -> That needs to be fixed as well in the scope of this bug fix

Cloud instance where the issue can be reproduced:[https://24develop-2hpekvq-t6ea

[2020-12-23 14:45] magento-engcom-team opened #31432 "[GraphQL] Internal server error is returned for giftRegistryTypeSearch"
#### Pre-Requisites:

Create few gift registries for a customer.
 search for giftregistry for the above customer
#### Steps:

Run the below query:
[code]
#### Please note that the argument typeUid for giftRegistryTypeSearch should be of type ID ( not Int) -> That needs to be fixed as well in the scope of this bug fix

Cloud instance where the issue can be reproduced:[https://24develop-2hpekvq-t6ea

[2020-12-23 14:51] SmVladyslav commented on #30712
@magento I am working on this.

[2020-12-23 15:39] engcom-Delta commented on #27137
@hkvega01 @jesperbrejning @BassemN  Unfortunately thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**
- Add row that duplicate `product_id` manually
![image](https://user-images.githubusercontent.com/51681379/103012853-dcd56f80-4544-11eb-9f92-0faaa0f83ee6.png)

- Go to wishlist

**Result:**
No exception error. Product

[2020-12-23 15:41] BassemN commented on #27137
I already open an issue there https://github.com/magento/data-migration-tool/issues/837

[2020-12-23 15:47] mauragcyrus commented on #30652
We will improve documentation for @doc annotation in the graphql schema file.

[2020-12-23 16:05] mrtuvn commented on #31385
This issue already fixed in 2.4-develop branch and already delivered to next update 2.4.2 (reported by @bubasuma)
CC: minhluan259

[2020-12-23 16:07] lenaorobei commented on #31411
@magento give me 2.4-develop instance

[2020-12-23 16:12] magento-engcom-team opened #31435 "[GraphQL] CreateGiftRegisty mutation throws error when using country_code in CreateGiftRegistyInput"
#### Issue 1:CreateGiftRegistryInput throws the below error when using "country*code" in the shipping*address.GiftRegistryShippingAddressInput.

Run the below query:
[code]

[2020-12-23 16:12] magento-engcom-team commented on #31435
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-40119

[2020-12-23 16:19] mauragcyrus commented on #31404
Duplicate of https://github.com/magento/magento2/issues/31435

[2020-12-23 16:19] #31404 closed, assigned to nobody

[2020-12-23 16:46] m2-assistant[bot] opened #31437 "[Issue] Updating with StorefrontSelectCustomizeAndAddToTheCartButtonActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31436: Updating with StorefrontSelectCustomizeAndAddToTheCartButtonActionGroup

---------
### Description (*)
Updating test with StorefrontSelectCustomizeAndAddToTheCartButtonActionGroup

[2020-12-23 16:47] m2-assistant[bot] opened #31438 "[Issue] Replace repetitive actions with Action Groups in AdminCheckConfigurableProductPriceWithDisabledChildProductTest"
This issue is automatically created based on existing pull request: magento/magento2#31433: Replace repetitive actions with Action Groups in AdminCheckConfigurableProductPriceWithDisabledChildProductTest

---------

### Description (*)
The tests are refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios

[2020-12-23 16:50] m2-assistant[bot] opened #31439 "[Issue] Region data fix"
This issue is automatically created based on existing pull request: magento/magento2#31425: Region data fix

---------

### Description (*)

Fixed syntax error: Php variable were written without php tags

### Related Pull Requests

N/A
### Fixed Issues (if relevant)

N/A

### Manual testing scenarios (*)

This can be repeated only when address fields are enabled for customer signup form. Once thes

[2020-12-23 16:51] m2-assistant[bot] opened #31440 "[Issue] [MFTF] Updating with StorefrontHoverProductOnCategoryPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31420: [MFTF] Updating with StorefrontHoverProductOnCategoryPageActionGroup

---------
### Description (*)
Updating with StorefrontHoverProductOnCategoryPageActionGroup

[2020-12-23 16:51] gaiterjones commented on #30099
For anyone who like me has just wasted 2 hours trying to figure out why registration isn't working on 2.4.1 the fix was posted by @klein0r in the [original issue ](https://github.com/magento/magento2/issues/30752)(which has been largely ignored)

_magento2/app/code/Magento/Customer/view/frontend/templates/form/register.phtml_

[code]

[2020-12-23 16:51] m2-assistant[bot] opened #31441 "[Issue] [MFTF] Adding StorefrontGuestCheckoutProceedToPaymentStepActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31418: [MFTF] Adding StorefrontGuestCheckoutProceedToPaymentStepActionGroup

---------
### Description (*)
Adding StorefrontGuestCheckoutProceedToPaymentStepActionGroup

[2020-12-23 16:53] m2-assistant[bot] opened #31442 "[Issue] [MFTF] Refactoring AdminSortingByWebsitesTest"
This issue is automatically created based on existing pull request: magento/magento2#31371: [MFTF] Refactoring AdminSortingByWebsitesTest

---------
### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Manual testing scenarios (*)
1. Create a custom website
2. Assign the created website to a product
3. Go to Catalog->Products
4. Sort the Products grid b

[2020-12-23 16:55] m2-assistant[bot] opened #31443 "[Issue] Refactor of 'Around' plugins"
This issue is automatically created based on existing pull request: magento/magento2#31360: Refactor of 'Around' plugins

---------

### Description (*)
Several minor updates to `around` plugins in Magento, introduced during the review of the existing plugins (looking for invalid uses for around plugins)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_n

[2020-12-23 16:58] m2-assistant[bot] opened #31444 "[Issue] Fix wrong rates data after switching store view (cart page)"
This issue is automatically created based on existing pull request: magento/magento2#31354: Fix wrong rates data after switching store view (cart page)

---------
### Description (*)

In cart page, after switching store view, shipping title in summary block is incorrect

Reproduced from 2.3.x

### Fixed Issues (if relevant)
1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

[2020-12-23 17:01] m2-assistant[bot] opened #31445 "[Issue] Update varnish 6 vcl config"
This issue is automatically created based on existing pull request: magento/magento2#31330: Update varnish 6 vcl config

---------

### Description (*)

Magento 2.4-develop

Update varnish logic bypass for customer page and health check request

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. Configure Varnis

[2020-12-23 17:02] m2-assistant[bot] opened #31446 "[Issue] Allow usage of cacheTags for FPC"
This issue is automatically created based on existing pull request: magento/magento2#31310: Allow usage of cacheTags for FPC

---------
Regarding the AbstarctBlock implementation of getCacheTags, tags from identities are merges to cache tags anyway, so we could use it safely.
Also Magento does not recommend to implement new Blocks, so we could declare the block's tags in the layout xml for the FPC

[2020-12-23 17:13] hostep commented on #16202
I can very easily break the frontend again. Here are some extra steps to perform after the steps from my opening post.

16. Edit the 'All 2' category on the English & French storeview, change the url-key temporarily to be able to uncheck the 'Create Permanent Redirect for old URL' checkbox, then check 'Use Default Value' so it uses `all-2` again as url_key, and save the category.
17. Reindex & flu

[2020-12-23 17:32] sidolov commented on #16202
@hostep thank you for the clarification! I have raised the priority of the picket to P1 since the flow to manage the categories you mentioned is awful.

[2020-12-23 17:59] #22063 closed, assigned to nobody

[2020-12-23 18:01] magento-engcom-team commented on #22063
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-23 18:19] ihor-sviziev commented on #31385
Hi @minhluan259 ,
This issue was already fixed in 2.4-develop branch in https://github.com/magento/magento2/commit/d04e4d505aced753aedadf1f3593ef5420825857.
I’m closing this issue as not relevant anymore

[2020-12-23 18:19] #31385 closed, assigned to ihor-sviziev

[2020-12-23 18:36] aporwal7 opened #31448 "Setup MFTF Issue"
Hi Team,
When I setup MFTF with magento2.4.1. I am facing issue. I attached a snapshot of the issue.
![issue](https://user-images.githubusercontent.com/17532436/103027304-98b19180-457b-11eb-9b4d-5f637a95a9db.png)
I run below command to check setup is properly done or not: **vendor/bin/mftf doctor**

I setup this with Xampp server.

Please let me know how can i fix it.

[2020-12-23 19:48] #23233 closed, assigned to nobody

[2020-12-23 19:50] magento-engcom-team commented on #23233
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-23 19:50] magento-engcom-team commented on #23233
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-23 20:24] hostep commented on #8971
This should still happen one day...

There is a proposal for a fix in https://github.com/magento/magento2/issues/5262 but no idea if this is the best fitted solution:

It would be great if those mappings can get split of into a mapping for development purposes and one for all environments.
My suggestion would be to add a `map-dev` to the `extra` section in the composer.json similar as the normal [

[2020-12-23 21:26] hostep commented on #21406
This should still happen one day. See comments in https://github.com/magento/magento2/pull/25847, they contain interesting tidbits.

[2020-12-23 23:11] mpchadwick opened #31450 "Magento\Framework\App\CacheInterface::load annotation is wrong"
### Preconditions (*)

Install any version of Magento
Magento 2.4-develop

### Steps to reproduce (*)

Implement code such as

[code]

Run a CI tool against the code (in our case Scrutinizer)

### Expected result (*)

No errors reported by CI tool. `Magento\Framework\App\CacheInterface` can return a `bool` and this is the best way to validate if anything is in the cache (see: https://github.com/co

[2020-12-24 05:42] rama-tm commented on #31163
Hi @krishprakash , Are you able to reproduce this issue? Can you please share your update?

[2020-12-24 06:25] magento-engcom-team commented on #31211
Hi @elisei. Thank you for your report.
The issue has been fixed in magento/magento2#31212 by @elisei in 2.4-develop branch
Related commit(s):
 - [9cae620c1648b48b01cce3dcc9fea06c9249a14a](https://github.com/magento/magento2/commit/9cae620c1648b48b01cce3dcc9fea06c9249a14a)
 - [a1808865c58768cc5e9afdb3c301893743ec6bfd](https://github.com/magento/magento2/commit/a1808865c58768cc5e9afdb3c301893743ec6b

[2020-12-24 06:25] #31211 closed, assigned to elisei

[2020-12-24 06:25] magento-engcom-team commented on #29690
Hi @MagDevX. Thank you for your report.
The issue has been fixed in magento/magento2#30938 by @viniciusbordinhao-blueacorn in 2.4-develop branch
Related commit(s):
 - [e3276fcf458ccc8d35248d2d83a68c73908afd63](https://github.com/magento/magento2/commit/e3276fcf458ccc8d35248d2d83a68c73908afd63)
 - [db17e70f8ec0b2da5f7e9dfe6434d5b37cfcdf21](https://github.com/magento/magento2/commit/db17e70f8ec0b2da

[2020-12-24 06:25] #29690 closed, assigned to viniciusbordinhao-blueacorn

[2020-12-24 06:25] magento-engcom-team commented on #30724
Hi @ericmorand. Thank you for your report.
The issue has been fixed in magento/magento2#31157 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [92e94220d329065708e1e97fe038f5aa2fb022c5](https://github.com/magento/magento2/commit/92e94220d329065708e1e97fe038f5aa2fb022c5)

The fix will be available with the upcoming 2.4.3 release.

[2020-12-24 06:25] #30724 closed, assigned to Bartlomiejsz

[2020-12-24 06:25] magento-engcom-team commented on #31038
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30990 by @kandy in 2.4-develop branch
Related commit(s):
 - [6e5d886359a298de1f8ee43c067ac3be6b6e5c6d](https://github.com/magento/magento2/commit/6e5d886359a298de1f8ee43c067ac3be6b6e5c6d)

The fix will be available with the upcoming 2.4.3 release.

[2020-12-24 06:25] #31038 closed, assigned to kandy

[2020-12-24 06:25] magento-engcom-team commented on #31040
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30959 by @nikolalardev in 2.4-develop branch
Related commit(s):
 - [0a27db2a4a75e53d6531130a1f1b601477dc6e2f](https://github.com/magento/magento2/commit/0a27db2a4a75e53d6531130a1f1b601477dc6e2f)
 - [876e37b6c907e542ecab093b5f67ca02c201d5cc](https://github.com/magento/magento2/commit/876e37b6c907e542ecab0

[2020-12-24 06:25] #31040 closed, assigned to nikolalardev

[2020-12-24 06:25] magento-engcom-team commented on #31171
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31166 by @DmitryFurs in 2.4-develop branch
Related commit(s):
 - [59194579798bf462a46adbd8eefc8ba9804bdfe4](https://github.com/magento/magento2/commit/59194579798bf462a46adbd8eefc8ba9804bdfe4)

The fix will be available with the upcoming 2.4.3 release.

[2020-12-24 06:25] #31171 closed, assigned to nobody

[2020-12-24 06:25] magento-engcom-team commented on #31440
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31420 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [22ca921b91527ff3a200a4126dd7ddb0bae93c38](https://github.com/magento/magento2/commit/22ca921b91527ff3a200a4126dd7ddb0bae93c38)

The fix will be available with the upcoming 2.4.3 release.

[2020-12-24 06:25] #31440 closed, assigned to AnnaAPak

[2020-12-24 06:25] magento-engcom-team commented on #31438
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31433 by @kate-kyzyma in 2.4-develop branch
Related commit(s):
 - [a6099456094105c04b415482d7836ba726000bdb](https://github.com/magento/magento2/commit/a6099456094105c04b415482d7836ba726000bdb)

The fix will be available with the upcoming 2.4.3 release.

[2020-12-24 06:25] #31438 closed, assigned to kate-kyzyma

[2020-12-24 07:19] KnK123 commented on #5847
Hi @jordanvector

I have applied the same patch in one my project currently working. But still having the issue can u advise?

Thanks

[2020-12-24 07:22] hanhpv commented on #12298
Can confirm, still exists in 2.4.1
The fix from @SD-dthompson works.

[2020-12-24 08:43] magento-engcom-team commented on #31170
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40224` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-24 09:35] samcantineau commented on #19710
I had this issue after upgrading from 2.2.10 to 2.3.6. Spend hours trying to get it fixed, nothing working. I decided to upgrade to 2.4.1, still the same issue. All images are showing except the product page image (thumbnails do show).

I ended up applying the fix mentioned by @rdeelstra and the images are showing, but the image size is 500x500 pixels no matter what I try to do in the view.xml. I

[2020-12-24 10:45] engcom-Hotel commented on #31225
Hello @aapokiiso,
Closing the issue due to inactivity.
Feel free to reopen it if you have additional information for reproducing the issue.
Thank you.

[2020-12-24 10:45] #31225 closed, assigned to aapokiiso

[2020-12-24 10:45] lsuhadolnik commented on #7889
This option disables Static Content signing. More is explained here: [Magento Docs](https://devdocs.magento.com/guides/v2.4/config-guide/cache/static-content-signing.html)

It sure solves the problem, but the root cause is somewhere else (I have not figured out where, in my situation :/ )

This is not recommended for production environments, since it breaks caching mechanisms. When you update some

[2020-12-24 11:10] magento-engcom-team commented on #30936
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40230` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-24 11:40] engcom-Bravo commented on #31202
We are closing this issue due to inactivity. Please feel free to comment, reopen or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-12-24 11:40] #31202 closed, assigned to engcom-Bravo

[2020-12-24 12:05] chequille opened #31453 "SetFromDate and SetToDate not working correct in 2.4.1 when creating a Rule programatically"
### Summary (*)
Magento 2.4-develop
I do have a module, where I am generating sales rules programatically. This module worked without andy problems in Magento Version 2.3.5.
No I am testing Version 2.4.1 and found, that SetFromDate and SetToDate is not working correct anymore.

### Examples (*)
Here the relevant code lines I am using:

[code]
The rule is generated, no problem, but the dates does s

[2020-12-24 13:36] magento-engcom-team commented on #31288
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40234` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-24 14:28] Dren7755 commented on #29680
I have the same issue during upgrade from M2.3.3 to M2.4.1
DB: 10.4.17-MariaDB-1

[2020-12-24 16:16] 9030614389 opened #31456 "First Name and Last Name issue in RTL view"
1. The First Name and Last Name is displaying correctly in English (LTR view). For eg. my name is Dara Shailaja and is being displayed correctly on the English Website i.e., as Dara Shailaja

When it comes to the Arabic Website (RTL view), the same name is being displayed as Dara Shailaja which is incorrect. First Name and Last Name should be displayed as Shailaja Dara in Arabic as the RTL viewers

[2020-12-24 16:29] Emilyrosewell opened #31457 "Move customer from one website to another."
I am able to move the customer from one website to another from the list view.
However, I am not able to change the associated website after clicking edit
Also, after moving customer from one website to another, the customer is not receiving any email.

[2020-12-24 16:41] engcom-Kilo commented on #13325
Hello, @GuiltyNL
Thanks for your report.
I'm not able to reproduce this issue on latest 2.4-develop. Looks like it has been fixed in https://github.com/magento/magento2/commit/fc6c7f1aeadf83e7e6083e387b4a82c8a1cacbea

[2020-12-24 16:41] #13325 closed, assigned to engcom-Kilo

[2020-12-24 22:25] akimaagustin opened #31459 "ayuda subir videos en pages"
Hola, no me deja subir vídeos en pages ni iframe, ni windows media, me da error al subir el vídeo y no logro conseguir incrustar un video en mi page de la tienda magento, ayuda, gracias.

[2020-12-24 22:30] akimaagustin commented on #31459
No me reconoce ni link de youtube ni tampoco iframe ni nada desde el panel.

[2020-12-25 04:23] magento-engcom-team commented on #31456
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40236` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-25 04:29] krishprakash commented on #31459
Hi @akimaagustin, Kindly update all the details as per [issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
Steps to reproduce, actual and expected result, screens that illustrate problem will help a lot.
Without such details, this issue could be closed

[2020-12-25 04:30] krishprakash commented on #31459
Also update all the details in English only

[2020-12-25 04:34] krishprakash commented on #31457
Hi @Emilyrosewell. In the current stage, it is not clear what the actual problem is.
Steps to reproduce, actual and expected result, screens that illustrate problem will help a lot.
Also update all the details as per [issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-12-25 07:35] ajijshekh123 commented on #31116
@alpeur  - If you have found this issue again you can reopen and add the issue with proper reporting guidelines and screenshot/video.

[2020-12-25 07:35] #31116 closed, assigned to ajijshekh123

[2020-12-25 09:50] Dren7755 commented on #29680
I have the same problem during upgrade from Magento 2.3.3 to 2.4.1

The main cause of a problem is my MariaDB v10.4.

Previously we have MariaDB 10.1.
We can see in official docs https://mariadb.com/kb/en/innodb-row-formats-overview/ that the default row format for 10.1 is COMPACT.
At the same time the default row format for 10.4 is DYNAMIC.
When we manually changed row format for `inventory_sourc

[2020-12-25 10:53] chequille opened #31461 "Checkout error message "The order wasn't placed. First, agree to terms and conditions, then try placing your oder again.""
### Preconditions (*)

1. Magento 2.4.1

### Steps to reproduce (*)

1. You must have at least one terms and conditions configured
2. Add a product to the cart
3. Go to checkout
4. Go to second step (payments)
5. Before selecting a pament method, open coupon code to be aible to enter a coupon code
6. Than select a pament method.
7. As soon as you selected the payment method, the error message is s

[2020-12-25 11:52] ajijshekh123 commented on #31461
@magento give me 2.4-develop instance

[2020-12-25 12:33] ajijshekh123 commented on #31461
Hi @chequille,
I have verified this issue as per the Preconditions, Steps to reproduce, Actual result, and Expected result.
Terms & Conditions warning error message showing on the Coupon code section.

**See attached the screenshot:**
![image](https://user-images.githubusercontent.com/24711761/103135014-44bdbe80-46db-11eb-8bb7-05801d4a736a.png)

Thanks.

[2020-12-25 12:34] magento-engcom-team commented on #31461
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40237` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-25 13:53] krishprakash commented on #31431
Issue is duplicate to #31430

[2020-12-25 13:53] #31431 closed, assigned to nobody

[2020-12-25 13:53] krishprakash commented on #31432
Issue is duplicate to #31430

[2020-12-25 13:53] #31432 closed, assigned to nobody

[2020-12-25 14:04] krishprakash commented on #31232
@magento give me 2.4-develop instance

[2020-12-25 14:15] magento-engcom-team commented on #31232
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40238` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-25 20:33] smanav7 commented on #30685
Hello, I am still facing this issue!

[2020-12-26 08:12] Techytt commented on #28226
@engcom-Delta Can you please check with more child options?
We have around 10-12 child products.

[2020-12-26 09:52] ShafeelSha opened #31464 "Name with special characters filtering doesn't work In GraphQl Product API"
### Preconditions (*)

1. Magento 2.3.5-p2
2. Create a product that **name should include at least a special character**(ex: **Alkaline Phosphatase (SL) - IFCC** )

### Steps to reproduce (*)

1. A product that name should include at least a special character (ex: Alkaline Phosphatase (SL) - IFCC )
2. Open Altair or any graphql client , then try products filter query _(below in my case)_
[code]

#

[2020-12-26 09:57] rajnibalayadavtest commented on #12030
@jaromirmuller  Could You please let me know the location dom.xml which you created using  file_put_contents()
I am too facing this issue is killing my time

[2020-12-26 12:49] chequille commented on #30853
Hi All,
this is not only  tax problem, this is  general problem with generating the invoice if there is discount applied. If there is no discount, the invoice is correct.
The new code from the classes in Magento_Sales/Module/Order/Invoice/Total is not working as expected.

As I think it was correct within Magento 2.3.5, I made a new module overriding the classes Tax.php, Subtotal.php, Shippment.ph

[2020-12-26 15:57] bobemoe opened #31465 "Injecting Product\Action into Console Command breaks setup:install"
### Preconditions (*)
1. Magento 2.4.1 CE (reproducible on 2.4-develop)
2. MariaDB 10.3
3. PHP 7.4.13
4. Linux 4.9.0-6-amd64 # 1 SMP Debian 4.9.82-1+deb9u3 (2018-03-02) x86_64 GNU/Linux

Inject `\Magento\Catalog\Model\ResourceModel\Product\Action` into a Console Command constructor, or get instance from Object Manager in constructor causes this error.

### Steps to reproduce (*)
1. Clean install m

[2020-12-26 16:00] YiffyToys commented on #15504
Can you aleboate on that?
What does it do and what part of the issue does it work around?

[2020-12-26 17:06] #28236 closed, assigned to engcom-Kilo

[2020-12-26 17:06] #30284 closed, assigned to nobody

[2020-12-26 17:06] #30964 closed, assigned to engcom-Golf

[2020-12-27 06:28] sw-tt-jigneshvagh opened #31466 "Currently facing issue in catalog search using search with SKU keyword"
### Preconditions (*)

1. I am usng magento 2.4.0 version
2. I am using magento-cloud started plan
3. Reproducible on clean 2.4-develop
### Steps to reproduce (*)

1. In Products, I have "170000D000237" SKU named product, but when I will search from Frontend Area from topsearch with some SKU keywords like "D000237" its giving "Your search returned no results." message (not return data). but from f

[2020-12-27 09:02] chequille commented on #30853
Hi
additional information about what I found on this issue.
As I said in previous comment, I override all classes in Magento_Sales/Module/Order/Invoice/Total and used the code from 2.3.5
I compared the code and found, that the only real difference is in DIscount.php and this is causing the problem.

[code]
The invoice is wrong because $invoice->getGrandTotal() contains the amount without tax, but

[2020-12-27 11:32] Vky0311 commented on #29439
https://magento.stackexchange.com/a/328476/49310 is this the same issue? Sort by newest not working and giving the same error. Any solution?

[2020-12-27 20:22] karlgama commented on #30685
I am also still have this issue!

[2020-12-27 21:49] schmengler opened #31468 "Extending blockVariables removes existing entries"
### Summary (*)

It is possible to add block variables to the templates using `di.xml`. Let's say I want to add a variable `$fishMarket`, similar as `$escaper` and `$block`, I can do the following:

[code]

However, instead of adding the variable as item to the `blockVariables` array, this overrides the whole array, so that `$block`  and `$escaper` are not available anymore. It doesn't matter if I

[2020-12-27 21:51] schmengler commented on #31468
Addition regarding "forces users to employ a workaround": The current workaround is to create a plugin on `Magento\Framework\View\TemplateEngine\Php::render()` instead of using DI configuration.

[2020-12-28 04:26] viniciusbordinhao-blueacorn commented on #29957
@piuga @sdzhepa

I am not sure if that is the best solution for the issue, maybe change the way how the file type options of the product are saved should be the best option. But for now, that is the solution that I could provide.

Please let me know if you have any concern or changes that could become that solution better than that one developed.

[2020-12-28 06:56] trinhpham commented on #13225
That should be a problem, which forces us to share the static folder between web nodes => the bottle-neck is becoming to the storage sharing system (we - like others - are using NFS).
IMO, web nodes should have their own files system for its best performance.

[2020-12-28 07:26] m2-assistant[bot] opened #31470 "[Issue] Allow backend login without redirect"
This issue is automatically created based on existing pull request: magento/magento2#30950: Allow backend login without redirect

---------

### Description (*)

Currently, when accessing a backend page via a direct URL as a logged out admin, the admin is redirected to `<backend-url>/admin` to log in. After logging in, they are redirected to the admin dashboard (or whatever page is selected as the

[2020-12-28 07:27] engcom-Delta commented on #31470
Closed as Duplicate of https://github.com/magento/magento2/issues/31042

[2020-12-28 07:27] #31470 closed, assigned to aapokiiso, engcom-Delta

[2020-12-28 07:30] magento-engcom-team commented on #31042
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40241` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-28 08:55] magento-engcom-team commented on #13325
Hi @GuiltyNL, @engcom-Kilo.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-30655` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

Bu

[2020-12-28 09:11] Pavel-Fekete commented on #31464
Not reproducible on the latest 2.4-develop
![grapql](https://user-images.githubusercontent.com/67371013/103203366-67c7b880-48fd-11eb-9bc4-4e63ebc9724e.png)

[2020-12-28 09:53] dani97 commented on #30901
@ihor-sviziev verified it today on 2.4-develop and it is working fine

[2020-12-28 09:54] m2-assistant[bot] opened #31471 "[Issue] Fix issue with logging each cookie as separate context"
This issue is automatically created based on existing pull request: magento/magento2#31334: Fix issue with logging each cookie as separate context

### Description (*)
When the number of cookies becomes more than 50 the warning log is written: "Unable to send the cookie. Maximum number of cookies would be exceeded." And each cookie is converting to a separate log context. And in the case of using

[2020-12-28 09:56] rani-webkul commented on #30740
@magento give me 2.4-develop instance

[2020-12-28 09:56] magento-engcom-team commented on #31471
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-12-28 09:56] magento-engcom-team commented on #31471
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40244` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-28 09:59] #31471 closed, assigned to nobody

[2020-12-28 10:23] engcom-Bravo commented on #31464
Hello @ShafeelSha

Thank you for your report

We are not able to reproduce the issue on the latest 2.4-develop.

We have created a product named _"Alkaline Phosphatase (SL) - IFCC"_
![prod_name](https://user-images.githubusercontent.com/51680745/103207519-37851780-4907-11eb-857b-aa0d70d8133e.png)

And when we perform a GraphQL query
[code]
the response is
[code]
![graph_query](https://user-images.

[2020-12-28 10:23] #31464 closed, assigned to nobody

[2020-12-28 10:38] dani97 commented on #30901
@magento give me 2.4-develop instance

[2020-12-28 10:55] Emilyrosewell commented on #31457
![image](https://user-images.githubusercontent.com/76565961/103209395-0b7a8e00-4929-11eb-9830-9804342afd3c.png)
So, while editing in-line in the customer section. I am able to change the customer email id.

But when I edit the customer details -- I cant change the website- -
![image](https://user-images.githubusercontent.com/76565961/103209483-39f86900-4929-11eb-9632-1762313062d3.png)

[2020-12-28 11:16] karangar commented on #29125
Same problem I am facing in the 2.4.0

[2020-12-28 11:18] Pavel-Fekete commented on #29801
Hello @bdevi
Elasticsearch configuration solved your problem ?

[2020-12-28 11:25] engcom-Delta commented on #31286
Hi @AngelsDustz thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**

- Clone magento 2.4-develop: `git clone https://github.com/magento/magento2.git --branch 2.4-develop .`
- Run `composer install`
- Run `bin/magento setup:install`

**Result:**
:heavy_check_mark: Error `Parameter validation failed` is shown as no param

[2020-12-28 11:33] dani97 commented on #30901
I could reproduce this in magento instance but not in my local 2.4-develop branch, I have disabled 'document_root_is_pub' setting also

[2020-12-28 11:53] bdevi commented on #29801
Sorry not solved yet

On Mon, 28 Dec, 2020, 4:48 PM Pavel-Fekete, <notifications@github.com>
wrote:

[2020-12-28 12:14] engcom-Bravo commented on #31457
Hello @Emilyrosewell

Thank you for your report

We have rechecked the reported issue on the latest 2.4-develop.
The Customers web site can be changed both from _List_ and from the _Account Information_ window. Please see the attachment
![Peek 2020-12-28 14-10](https://user-images.githubusercontent.com/51680745/103213543-acac1900-4916-11eb-957e-bae47faee92f.gif)

Rechecked with Customers created f

[2020-12-28 12:15] norgeindian commented on #28153
@sdzhepa , what is the status of this issue?
Like discussed in May this should be handled as a bug as it is actually not possible to sort the options at all currently.

[2020-12-28 12:23] engcom-Bravo commented on #31465
Hello @bobemoe

Thank you for your report.

Looks like the described issue is in the 3rd party Module. The Magento Issues board is created for core Magento issues, and we do not handle 3rd party extensions or Modules.

We are closing this issue. Please feel free to comment, or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-g

[2020-12-28 12:26] bobemoe commented on #31465
Hi, actually I created the module specifically to demonstrate this issue. All it does it wrap together the steps to reproduce. You should be able to reproducte this issue on clean magento by creating your own Console Command and injecting the `\Magento\Catalog\Model\ResourceModel\Product\Action` as described.

[2020-12-28 12:27] bobemoe commented on #31465
Please reopen or I will create exact same issue but just describe the code rather than providing it.

[2020-12-28 12:56] AngelsDustz commented on #31286
Hello thank you for checking it out. A configured `env.php` is needed for the database config (I should have added it, nice catch) and that is it. Once it reaches step 4 out of 841 it fails with the exact same error I just tested it with the latest 2.4-develop and the issue still exists.

Which version of php/db did you use? Maybe the issue is related to that? Or maybe it is a container specific i

[2020-12-28 12:59] engcom-Bravo commented on #31466
Hello @sw-tt-jigneshvagh

Thank you for your report.

The issue is reproducible on clean 2.4-develop using _quick search_
![quick_search](https://user-images.githubusercontent.com/51680745/103215871-4b3b7880-491d-11eb-8fd3-0bd79bd5a3b8.png)

[2020-12-28 13:01] magento-engcom-team commented on #31466
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40245` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-28 13:01] magento-engcom-team commented on #31466
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40245` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-28 13:02] magento-engcom-team commented on #31466
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40245` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-28 13:12] engcom-Bravo commented on #31465
@bobemoe Thank you for the quick response.

We have just taken another look at this issue. We Confirm that it is a valid issue and is reproducible on the latest 2.4-develop.

Thank you

[2020-12-28 13:15] magento-engcom-team commented on #31465
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40246` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-28 13:35] engcom-Delta commented on #31416
Hi @ajmalbuffy thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop and on 2.4.1 with sample data
**Result:**
:heavy_check_mark: Success message `Successful! Test Again?` is shown
![Screenshot from 2020-12-28 14-16-52](https://user-images.githubusercontent.com/51681379/103215618-91dca300-491c-11eb-9995-db2c05e124ba.png)

Are you able to reproduce t

[2020-12-28 13:40] ajmalbuffy commented on #31416
@engcom-Delta thanks for spending time on this. Yes, I can reproduce this issue.

[2020-12-28 13:42] ajmalbuffy commented on #31416
@engcom-Delta can I get your  elasticsearch.yml file for comparison

[2020-12-28 14:22] bobemoe commented on #31465
@engcom-Bravo thanks for taking another look and confirming :)

[2020-12-28 14:31] magento-engcom-team commented on #31445
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40248` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-28 14:51] alam-ejaz commented on #14509
I created the field with this code, but the value is not saving into order..

[2020-12-28 14:53] engcom-Echo commented on #30770
@rav-redchamps, I checked it again, unfortunately, it does not reproduce

Was fixed, as mentioned in the [comment](https://github.com/magento/magento2/issues/30770#issuecomment-722435709)

![Peek 2020-12-28 16-51](https://user-images.githubusercontent.com/51681435/103222586-264f0180-492d-11eb-9073-549839cad98c.gif)

Please feel free to comment, reopen or create new ticket according to the [Issue r

[2020-12-28 14:53] #30770 closed, assigned to nobody

[2020-12-28 14:55] magento-engcom-team commented on #30770
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-12-28 15:01] Emilyrosewell opened #31475 "Product Attributes placement"
If I want to add an custom text below the price of all the products. How can one do that?

I am not able to add custom text using product attribute and attribute set.
Can you please help me with it?

[2020-12-28 18:15] #20846 closed, assigned to nobody

[2020-12-28 18:15] #14081 closed, assigned to nobody

[2020-12-28 20:42] michealcarroll opened #31477 "Unable to access production dashboard"
### Preconditions (*)
 

1.  
https://www.hydeparkjewelers.com/hydepark_admin/admin/dashboard/index/key/913cd5d80331d5fb5fe1ce1a183846c0c9b49a63e8a97f90f63093cf0b5b0c7b/

2.

### Steps to reproduce (*)

1. got to url  
https://www.hydeparkjewelers.com/hydepark_admin/admin/dashboard/index/key/913cd5d80331d5fb5fe1ce1a183846c0c9b49a63e8a97f90f63093cf0b5b0c7b/

2. login to Magento server
3. Access das

[2020-12-29 01:41] kkdg opened #31478 "Install 2.4.1 and log in admin panel only to see base table not found"
### Preconditions (*)

1. 2.4.1 on Ubuntu 20.04
2.

### Steps to reproduce (*)

1. Install Magento 2.4.1 via CLI
2. Install complete
3. Try logging in Admin panel then the error messages pops up
4. (While all the other pages on storefront just work fine)

### Expected result (*)

1. Successful log in to admin dashboard

### Actual result (*)

1.
[code]

---
Please provide [Severity](https://devdoc

[2020-12-29 01:43] kkdg commented on #31478
Is it correct that Magento 2.4.1 base tables are 405 rows in number?

[2020-12-29 01:44] kkdg commented on #31478
Quick question : Is it correct that Magento 2.4.1 base tables are 405 rows in number?

[2020-12-29 01:55] kkdg commented on #31478
Stranger thing is there are no folders like `vendor/msp/twofactorauth` while equivalent `vendor/magento/module-twofactorauth` does exist, how can it deceive the php interpreter?

[2020-12-29 02:14] legaciespanda commented on #29350
### Upgrading Magento 2.3.5 to Magento 2.4 Requirement:

Magento 2.4 support PHP 7.4 as per its offical document so before going to upgrade set require php version.

If you are planning to upgrade Magento 2.3.5-p1 to Magento 2.4, there are few changes that you need to do in your composer.json

Run below command step by step to upgrade Magento 2.3.5 to Magento 2.4:
1)  `cp composer.json composer.js

[2020-12-29 02:38] kkdg commented on #31478
I guess this one is the culprit since the base table `tfa_user_config` exists and works just as it should but for strange reason event observer seeks for `MSP` vendor which doesn't exist entailing not found base table `msp_tfa_user_config`

[2020-12-29 03:02] michealcarroll opened #31479 "Error 503 when attempting to complete a production environment database and media backup"
### Preconditions (*)

1. version 2.3.4
2. Attempting to access the dashboard at https://www.hydeparkjewelers.com/hydepark_admin/admin/dashboard/index/key/913cd5d80331d5fb5fe1ce1a183846c0c9b49a63e8a97f90f63093cf0b5b0c7b/
2.

### Steps to reproduce (*)

1. go to https://www.hydeparkjewelers.com/hydepark_admin/admin/dashboard/index/key/913cd5d80331d5fb5fe1ce1a183846c0c9b49a63e8a97f90f63093cf0b5b0c7b

[2020-12-29 03:12] michealcarroll commented on #31479
@magento-admin need assistance with this error

[2020-12-29 04:45] viniciusbordinhao-blueacorn commented on #23181
@magento I am working on it

[2020-12-29 05:57] seansan commented on #23181
I agree with you

On Thu, 18 Jul 2019 at 12:08, Peep van Puijenbroek <notifications@github.com>
wrote:

[2020-12-29 08:23] engcom-Kilo commented on #6578
Hello @heldchen
Thanks for your report.
I'm not able to reproduce this issue on latest 2.4-develop branch. Looks like it's been fixed in https://github.com/magento-tsg/magento2ce/commit/de8d0a9938ff771a09bb9be6bbf93430e462243c

[2020-12-29 08:23] #6578 closed, assigned to engcom-Kilo

[2020-12-29 09:57] ptchau2003 commented on #30157
+1 for AWS ES
AWS ES working fine
`curl -X GET -u '<username@password' https://XXXXXXXXXXXXXXXXXXXX.com/_cluster/health                                                                                           {"cluster_name":"286894466481:mangento","status":"green","timed_out":false,"number_of_nodes":1,"number_of_data_nodes":1,"discovered_master":true,"active_primary_shards":2,"active_shards":2,"

[2020-12-29 09:59] ptchau2003 commented on #30157
Should we use external ElasticSearch?

[2020-12-29 10:18] shivanigv commented on #1383
I am getting the following error when I am in:
1. Developer mode
2. Open the admin panel page
3. Magento version 2.4-develop {updated Magento root folder code today i.e Dec 29th '20}

1 exception(s):
Exception #0 (Exception): Warning: Magento\Framework\View\Element\Html\Calendar::_toHtml(): Cannot load resource element '0' in /Applications/MAMP/htdocs/masalapalatte/app/code/Masalapalatte/Framework

[2020-12-29 11:38] Eddcapone commented on #30157
I solved it. The reason was, that you have to specify the search engine.

I added this `--search-engine=elasticsearch7 \` before `--elasticsearch-host` now it worked.

[2020-12-29 11:38] #30157 closed, assigned to nobody

[2020-12-29 11:46] engcom-Alfa commented on #31478
Hi @kkdg . Unfortunately, we are not able to reproduce this issue on clean Magento 2.4.1 and 2.4-develop.

**Manual testing scenario:**

1. Install Magento 2.4.1 via CLI
2. Install complete
3. Try logging in Admin panel

**Actual Result:** Successful log in to admin dashboard

![Screenshot from 2020-12-29 13-44-48](https://user-images.githubusercontent.com/51679138/103281652-0d515980-49dc-11eb-98d

[2020-12-29 12:15] milindsingh commented on #13707
@magento give me an instance

[2020-12-29 12:17] engcom-Bravo commented on #31479
We are closing this issue as Duplicate of #31477

[2020-12-29 12:17] #31479 closed, assigned to engcom-Bravo

[2020-12-29 12:18] milindsingh commented on #13707
@magento I am working on this

[2020-12-29 12:19] engcom-Bravo commented on #31477
Hello @michealcarroll

Thank you for your report.

Please, observe the .log files in your _.../var/log_ directory

[2020-12-29 12:25] magento-engcom-team commented on #31396
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40253` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-29 13:16] milindsingh commented on #13707
Thanks @sergeynezbritskiy but it still fails if you create a new admin user, and not assign all resource for a menu item.

For example, in Reports section, if you dont add a section resource like "Sales", all  group heading becomes display:none.

[2020-12-29 13:28] engcom-Bravo commented on #30088
Hello @chesuch-smarte

Unfortunately, we can not deliver a fix to previous releases. This issue is already fixed on the latest 2.4-develop.
So we have to close this issue. Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thank you

[2020-12-29 13:28] #30088 closed, assigned to engcom-Bravo

[2020-12-29 13:55] magento-engcom-team commented on #30610
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40254` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-29 14:05] engcom-Echo commented on #30303
Unfortunately, can't reproduce this issue.
As for 1-2 steps can't reproduce:

![Peek 2020-12-29 15-55](https://user-images.githubusercontent.com/51681435/103289315-91610c80-49ef-11eb-9bd8-91b841203151.gif)

As for "Translations seem to update unintended sections however". "Translate inline"  it translates phrases. For this created .json file where include translate phrases. In your case phrase - "

[2020-12-29 14:05] #30303 closed, assigned to nobody

[2020-12-29 14:06] magento-engcom-team commented on #30303
Hi @magento-engcom-team.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23544` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-29 14:08] engcom-Delta commented on #31014
@4ctobias we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-12-29 14:08] #31014 closed, assigned to engcom-Delta

[2020-12-29 14:11] engcom-Delta commented on #31064
@dsal94 , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-12-29 14:11] #31064 closed, assigned to nobody

[2020-12-29 14:13] engcom-Delta commented on #30818
@klierik , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-12-29 14:13] #30818 closed, assigned to nobody

[2020-12-29 14:15] engcom-Delta commented on #26911
@agata-maksymiuk , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-12-29 14:15] #26911 closed, assigned to nobody

[2020-12-29 14:20] jtomaszewski commented on #27469
??? Has it been fixed? If not, why did this issue has been closed?

It stills occurs at our Magento, 2.4.1 version.

[2020-12-29 14:25] jtomaszewski commented on #27469
One of the errors is produced by this:

![image](https://user-images.githubusercontent.com/1862580/103290467-e863e300-49e9-11eb-9b45-bdd507fefe4b.png)

And the other by this:

![image](https://user-images.githubusercontent.com/1862580/103290479-f31e7800-49e9-11eb-9892-0fff350b216f.png)

The fix would probably be:

- consolidate those validators into one, so that only one of them is fired (or there

[2020-12-29 14:27] sodhancha commented on #31271
There has been no movement on this issue.

[2020-12-29 14:42] gdvisser commented on #27899
If you are facing this issue when creating both a unique constraint and index for specific column(s) you can remove the index from the schema. The unique constraint will already create an (unique) index on the column(s).

[2020-12-29 14:48] engcom-Bravo commented on #31163
Hello @rama-tm

Thank you for your report.

Seems like the issue is already fixed in the latest 2.4-develop.

We have tried to reproduce via the provided steps, and the order is successfully created. Please see the attachment.
![order](https://user-images.githubusercontent.com/51680745/103291996-94f79200-49f5-11eb-8916-9de13185b2f9.gif)

Can you please Confirm that you are able to reproduce the is

[2020-12-29 14:53] rama-tm commented on #31163
Hi @engcom-Bravo,

Thanks for the update.

We are having this issue in Magento ver. 2.3.4

Is there any patch available to add the fix in Magento ver. 2.3.4 version.
Please suggest to me possible ways to fix this issue in my magento instance.

[2020-12-29 14:54] engcom-Alfa commented on #26914
Hi @angelo983 .
Unfortunately, we are not able to reproduce this issue on 2.3.6, 2.4.1, and 2.4-develop.
Looks like the issue has already been fixed.

**Manual testing scenario:**

1. log in as a customer, for example, ALICE
2. Put a simple variation of a configurable product into the shopping cart
3. With API calls, decrease stock to 0 and put simple product Out of Stock
4. From the backend, open

[2020-12-29 14:54] #26914 closed, assigned to engcom-Alfa

[2020-12-29 15:14] Emilyrosewell commented on #31457
To this, I have one more question. Will the data of customer (like orders, cart, wish list) will also be copied to another website.

[2020-12-29 15:31] nbennett25 commented on #31281
@magento give me 2.3 instance

[2020-12-29 15:58] rparsi-boxycharm commented on #29439
@Vky0311 If you're using ES for category/product search and you're getting the same ES error indicated here, then I'd say `yes` same root issue

[2020-12-29 16:28] SmVladyslav commented on #31059
@magento I am working on this.

[2020-12-29 17:05] Vky0311 commented on #29439
Magento 2.4.1 - https://magento.stackexchange.com/a/328476/49310

`main.CRITICAL: {"error":{"root_cause":[{"type":"query_shard_exception","reason":"No mapping found for [e.created_at] in order to sort on","index_uuid":"bO3vW6icTryxTaYviwJFmA","index":"magento2_product_1_v82"}],"type":"search_phase_execution_exception","reason":"all shards failed","phase":"query","grouped":true,"failed_shards":[{"s

[2020-12-29 17:22] rparsi-boxycharm commented on #29439
@Vky0311 That is a completely different error message.
[code]
Inspect the `magento2_product_1_v82` index in your ES; as the error message says you're missing a field mapping.
You would need to create a plugin for the same class as for this ticket, to add the custom mapping.

[2020-12-29 19:49] magento-engcom-team commented on #31393
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40256` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-29 20:11] samc2810 opened #31486 "Saving Products in a Category doesnt work if bulk is selected"
### Preconditions (*)

1. Magento 2.4.1 Commerce (dont know about the previous versions)
2. Cloud installation with B2B-Module installed
3. Smile_ElasticSuite is also installed

### Steps to reproduce (*)

1. Go to the category management in the admin panel and select a category
2. Filter the desired products and select all
![image](https://user-images.githubusercontent.com/1092318/103310933-3217f

[2020-12-29 20:51] kkdg commented on #31478
Hi @engcom-Alfa , thank you for follow ups,
I actually fixed it myself by launching a new instance and installing fresh `2.4.1`.
I think it was a kind of staled version of caches in between that caused it since I reinstalled various versions on a same instance.
Two things to take away though;
1. What types of caches could exist when files are copied totally new.
2. I disabled _TwoFactorAuth_ modul

[2020-12-29 20:51] #31478 closed, assigned to engcom-Alfa

[2020-12-29 21:37] OleksiyOleksiyovych commented on #31270
@magento give me 2.4-develop instance

[2020-12-29 21:53] dunagan5887 commented on #27899
@gdvisser  Do you have documentation from MySQL to support that?

[2020-12-29 22:08] OleksiyOleksiyovych opened #31489 "ShippingCartAddress available_shipping_methods wrong amount (shopping cart rules do not applied)"
### Precondition:

- Magento 2.4.1.
- Sample data.
- Cart Price Rule "Spend $50 or more - shipping is free!" is active.
- Shipping method "Table Rate" is enabled
(vanilla Magento with sample data is configured as well)

### Steps to reproduce
1. mutation createEmptyCart

2. mutation addSimpleProductsToCart
[code]
3. mutation setShippingAddressesOnCart
[code]

4. Get available shipping methods list

[2020-12-30 07:02] engcom-Delta commented on #26588
@honzakadlec , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-12-30 07:02] #26588 closed, assigned to nobody

[2020-12-30 08:43] magento-engcom-team commented on #28225
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40257` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-30 09:07] sandeep-mukherjee commented on #28897
https://www.mconnectmedia.com/blog/using-latest-php-version-benefits-for-magento/

[2020-12-30 09:52] engcom-Hotel commented on #31439
Closing the issue as a duplicate of https://github.com/magento/magento2/issues/30099

[2020-12-30 09:52] #31439 closed, assigned to rav-redchamps, engcom-Hotel

[2020-12-30 10:20] minenkoden commented on #27137
Stacked with same problem. For me helped to override class with preference Magento\Wishlist\Model\Wishlist and change getItemCollection function to:
[code]
Point is to add load() function when creating collection with filters.

[2020-12-30 10:56] engcom-Alfa commented on #28475
Hi @indigoflow . Thank you for your report!

According to the Magento [documentation](https://docs.magento.com/user-guide/stores/store-urls-custom-admin.html):

![Screenshot from 2020-12-30 12-46-08](https://user-images.githubusercontent.com/51679138/103346569-063e5000-4a9d-11eb-9267-bc7091f86fc1.png)

In case you have set an invalid Admin URL or an Admin Path and lost access to the backend, there

[2020-12-30 10:56] #28475 closed, assigned to engcom-Alfa

[2020-12-30 11:23] engcom-Bravo commented on #31457
@Emilyrosewell

Thank you for the quick response

As for your previous question

The answer is Yes, the customer data like Wish List and Order are displayed in the Customer information. As for the Shopping cart, Admin may select the website scope, and the Cart(s) will be displayed.

As far as the issue is not reproducible on the latest 2.4-develop, we have to close it. Please feel free to comment

[2020-12-30 11:23] #31457 closed, assigned to engcom-Bravo

[2020-12-30 11:27] engcom-Echo commented on #22121
Unfortunately, I can't reproduce an issue. I've got an expected result.
On order page in admin panel, the customer group corresponds to the group to which the customer belongs.
If a customer group was deleted not present in the drop-down.

![Peek 2020-12-30 13-19](https://user-images.githubusercontent.com/51681435/103348470-c7ab9400-4aa2-11eb-8a6e-7ac8ae993f29.gif)

Please feel free to comment, re

[2020-12-30 11:27] #22121 closed, assigned to nobody

[2020-12-30 11:29] magento-engcom-team commented on #22121
Hi @justinharris1986.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24457` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2020-12-30 11:36] pavlots commented on #26557
@GuiltyNL
Have you found solution with you 404 on category page? Faced with same issue

[2020-12-30 12:32] engcom-Bravo commented on #31486
Hello @samc2810

Thank you for your report.

We have rechecked the reported issue on 2.4-develop CE and 2.4-develop EE versions.
Our steps:
1. Go to _Catalog - Category_, select any Category containing products
2. Click **Products in Category**
3. Select **Any**. Also tested with **Yes** and **No** values
4. Type a SKU name into SKU_ field and hit the Enter key to use the search
5. Click **Select

[2020-12-30 13:28] Vishrootways commented on #26484
Try below POST URL, it should solve the issue of unchecks "Use Default Value"

rest/all/V1/products/{sku}

[2020-12-30 13:37] engcom-Bravo commented on #30775
Hello @Hexmage

Thank you for your report.

We have tried to reproduce the reported issue on the latest 2.4-develop. In our case, the order of the attributes in the query is changed after changing the attributes position value.

Please, see our steps:
1. Create a category and add a couple of products with attributes with different values.
![product](https://user-images.githubusercontent.com/673710

[2020-12-30 14:23] mohanwbsofttech commented on #31024
I also have the same problem
Shop By
Shopping Options
Colour
Black Error: Call to a member function shouldDisplayProductCountOnLayer() on null in /var/www/vhosts/theacrylicstore.co.uk/htdocs/vendor/magento/module-layered-navigation/view/frontend/templates/layer/filter.phtml:21 Stack trace: #0 /var/www/vhosts/theacrylicstore.co.uk/htdocs/vendor/magento/framework/View/TemplateEngine/Php.php(71): inc

[2020-12-30 14:30] Hexmage commented on #30775
@engcom-Bravo looks like it got fixed on the 27th of November

https://github.com/magento/magento2/commit/c6aaabc206c335ca9235ff84a403f9d6ac937ebc

[2020-12-30 14:33] engcom-Bravo commented on #30775
@Hexmage thank you for the quick response.
So we can Close this issue then.
Please feel free to comment or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-12-30 14:33] #30775 closed, assigned to engcom-Bravo

[2020-12-30 14:45] rydemods commented on #15427
Same issue today on 2.3.4

`[2020-12-30 14:16:07] main.CRITICAL: The "INV2-9HUE-Q96Y-WEZ8-UGC4" order ID is incorrect. Verify the ID and try again. {"exception":"[object] (Exception(code: 0): The \"INV2-9HUE-Q96Y-WEZ8-UGC4\" order ID is incorrect. Verify the ID and try again. at /vendor/magento/module-paypal/Model/Ipn.php:143)"} []
[2020-12-30 14:16:08] main.CRITICAL: The "INV2-9HUE-Q96Y-WEZ8-UGC4

[2020-12-30 14:53] Eddcapone opened #31493 "Invalid Method Magento\Newsletter\Model\Subscriber\Interceptor:: loadByCustomer"
### Preconditions (*)

1. EE 2.4.1

### Steps to reproduce (*)

I registered a new customer, it worked fine. Then I deleted that customer and tried to register him again, and now it suddenly failed with an error saying **Invalid Method Magento\Newsletter\Model\Subscriber\Interceptor:: loadByCustomer**
The error also shows when I try to edit a customer in the magento backend now.

Even when I comme

[2020-12-30 15:28] engcom-Bravo commented on #31336
Hello @ihor-sviziev

Thank you for your report.

We Confirm the issue, and we have added Additional info form Engcom to the Description

Thank you

[2020-12-30 15:31] magento-engcom-team commented on #31336
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40260` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-30 15:40] dani97 opened #31494 "Currency graphql query should return symbols for all available currency in a store"
Currency graphql query should return symbols for all available currency in a store. It only provides default currency symbol and base currency symbol

### Preconditions (*)

1. Create multiple currencies for a single store
2. Go to Magento admin > Stores > Currency > Currency Symbols
3.  Change currency symbol as you want  then Click to Save currency symbols + Clear cache

### Steps to reproduce (

[2020-12-30 17:34] #14061 closed, assigned to nobody

[2020-12-30 18:11] rfay commented on #30685
Yes, this same exact failure happens as originally reported, magento 2.4.1, attempting to install sample data, in Developer mode.

[2020-12-30 19:21] ajithkumar-maragathavel commented on #20032
@magento I am working on this

[2020-12-30 20:49] cengizcoskun commented on #31105
I have same problem.

[2020-12-30 21:22] Zyles commented on #26484
How do you upload an image to this endpoint?

[2020-12-30 21:32] blacktek commented on #26484
POST is supposed to only create products, not update them.

If you look at my previous post:

this is my (easy) way to reproduce the problem

[2020-12-30 23:47] zaietsv commented on #12465
Confirming the issue on the Magento 2.4.0

[2020-12-31 04:00] Vishrootways commented on #26484
@blacktek It's a typo, I tried with PUT using the below endpoint and the product has been updated.
rest/all/V1/products/{sku}

@Zyles Still I didn't test the above endpoint with images

[2020-12-31 08:13] ajithkumar-maragathavel commented on #20032
@magento Issue is not reproducible in the 2.4-develop branch.

[2020-12-31 08:30] ShafeelSha commented on #31464
@engcom-Bravo @Pavel-Fekete  Thanks for the replay , the issue was Magento 2.3.5-p2 , i think that was  fixed on Magento 2.4, let me try with latest version

[2020-12-31 08:36] krishprakash commented on #31281
Hi @nbennett25. Feel free to reopen the issue once you confirm that issue reproduce on latest magento 2.4 develop instance.

[2020-12-31 08:36] #31281 closed, assigned to krishprakash

[2020-12-31 08:37] krishprakash commented on #31294
Hi @toantvlf. Feel free to reopen/comment the issue once you confirm that issue reproduced on latest magento 2.4 develop instance

[2020-12-31 08:37] #31294 closed, assigned to krishprakash

[2020-12-31 08:38] krishprakash commented on #31459
Hi @akimaagustin, Feel free to reopen the issue once you update all the details as per issue reporting guidelines and In english only. Thanks!!

[2020-12-31 08:38] #31459 closed, assigned to krishprakash

[2020-12-31 08:58] engcom-Delta commented on #26280
Hi @chequille thank you for your report. I checked issue in 2.4-develop and I am not sure this is an issue. We can customize Checkout Agreements using html tags if `Show Content as` is `HTML`
**Result:**
![image](https://user-images.githubusercontent.com/51681379/103402807-88d71600-4b56-11eb-8aed-ff619ce9d679.png)

Are html tags not enough to set title in your case?

[2020-12-31 09:17] themystery404 commented on #17297
Hello @pmclain , this issue still reproduced for me, if I need to get several trees of different Root Categories.
Example
[code]
Only first tree has children

It caused shared $categoryCollection property in Magento/Catalog/Model/Category/Tree.php
I fixed this issue by adding to my di.xml next code

[code]

But, would be better to fix this using by using factory for collection in __construct in Ma

[2020-12-31 09:24] gh-darvishani commented on #13746
I am using 2.4.1 and the issue still is here

[2020-12-31 09:30] krishprakash commented on #30185
Hi @kanevbg, Feel free to reopen the issue once you update all the details as per issue reporting guidelines. Thanks!!

[2020-12-31 09:30] #30185 closed, assigned to nobody

[2020-12-31 09:41] krishprakash commented on #23010
@magento-engcom-team give me 2.4-develop instance

[2020-12-31 09:42] engcom-Bravo commented on #31494
Hello @dani97

Thank you for your report.

We are moving this issue to the _Feature Request_ board.
Additional info is added to the description

Thank you

[2020-12-31 09:45] engcom-Alfa commented on #26732
HI @brian-ebizmarts . Thank you for your report!
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop. Everything works as expected.
Looks like the problem has already been fixed by commit 005b10d7cd.

@brian-ebizmarts Could you take a look?
Thanks!

[2020-12-31 09:47] krishprakash commented on #23010
@magento give me 2.4-develop instance

[2020-12-31 09:56] chequille commented on #26280
@engcom-Delta
Hi,
long time ago that somebody looked at this.
You are right, that this is not a real bug, but something inconsistent to other behaviours of modals where modTitle is used.
The difference of using html tags and the correct use of modTitle is, that the title is shown below the line and not above.
![grafik](https://user-images.githubusercontent.com/15807794/103405105-4281b700-4b56-11eb

[2020-12-31 10:11] mrtuvn commented on #31493
This method that you mentioned declare in this file below
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Newsletter/Model/Subscriber.php#L406
Magento marked annotation deprecated in method `loadByCustomerId`. Maybe previous commit modify/refactor miss use case when customer not available or deleted in database

[2020-12-31 10:24] Eddcapone commented on #31493
I executed `composer update` again and checked the file, but the method `loadByCustomer` is still not there. I am on the branch `"magento/product-enterprise-edition": "2.4.1",`

[2020-12-31 10:24] mrtuvn commented on #31493
Just curious if you deleted customer i wonder how that customer still visible in admin for such case error happen?

[2020-12-31 10:25] Eddcapone commented on #31493
The customer is not still visible in backend. The error shows on any customer.

[2020-12-31 10:32] speedupmate opened #31496 "$quote->setCartFixedRules(*) is not cleared before calculating the rule"
### Preconditions (*)

1. Magento 2.4.*

https://github.com/magento/magento2/blob/960a51f7afa371e444842b953f0b5493d2255b13/app/code/Magento/SalesRule/Model/Rule/Action/Discount/CartFixed.php#L185

where:

$quote->setCartFixedRules($cartRules);

is not always cleared before new calculation (all other values are cleared in validator process method) and  leaves merchant in a situation when this calcu

[2020-12-31 10:34] dverkade commented on #30801
@magento-engcom-team @engcom-Bravo I can confirm this is an issue. We're running into this issue with clients having multiple store views as well.

Regarding priority and severity this is now set as an S3 and P3 and I do not agree. SEO friendly URLs are a key part of ecommerce stores and messing this up will have huge impact in SEO scores. This is an S1 and P1 issue. It effects critical data and f

[2020-12-31 10:40] mrtuvn commented on #31493
Ohh ! That is good use case for investigate problem! I'm not sure about that method available in EE version
Maybe miss some case  and need refactor code for fix that problem

[2020-12-31 10:51] magento-engcom-team commented on #31169
@krishprakash Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-12-31 10:52] magento-engcom-team commented on #31169
@krishprakash Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-12-31 10:53] magento-engcom-team commented on #31169
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40267` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-12-31 10:59] engcom-Hotel commented on #8964
Hello @sudheeshks,
Trying to reproduce the issue.
Magento version: 2.4-develop
PHP version: 7.4
ElasticSearch version: 7
MySQL version: 8.0

1. "Stores->Configuration-> Sales->Tax : Set all values including tax" - passed, not clear step. Default config used.
2. Stores->Tax Rules->Create a new Rule with VAT of 10% (10 instead of 16 easier to count)
3. Marketing-> Cart Price Rule->Create new cart ru

[2020-12-31 11:07] engcom-Delta commented on #30323
@magento give me 2.4-develop instance

[2020-12-31 11:18] Hexmage opened #31497 "/V1/invoices/{id}/capture does not save payment."
### Preconditions (*)

1. 2.3.3, 2.3.5-p2, 2.4.0
2. A capturable payment method. (or change `$_canCapture = false;` to `$_canCapture = true;` in \Magento\Payment\Model\Method\AbstractMethod)

### Steps to reproduce (*)

1. Create an order with the capturable payment method.
2. Create an invoice through the admin panel for the order but don't capture it.
3. Capture the invoice using the /V1/invoice

[2020-12-31 11:40] azambon commented on #8964
@engcom-Hotel looks like a fix very similar to the one that I proposed in an earlier comment was applied about one year ago: https://github.com/magento/magento2/commit/a7928e2ec12f685159e6e92799d7831c4f0014be#diff-db8fbaf4cd61c34bed585db10bff06f1ac63442df3422c5d672d230fb7c48e49

It was fixed in 2.3.5, as far as I can tell
https://github.com/magento/magento2/blob/2.3.5/app/code/Magento/SalesRule/Mo

[2020-12-31 11:44] engcom-Hotel commented on #8964
@azambon, thanks for the info.
Closing the issue, please feel free to reopen it if you still have this issue.

[2020-12-31 11:44] #8964 closed, assigned to engcom-Hotel

[2020-12-31 11:51] engcom-Delta commented on #30323
Hi @hongtran90 thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: Autocomplete in quick search field works
![image](https://user-images.githubusercontent.com/51681379/103409345-0c046600-4b6f-11eb-8022-2a09e31a713b.png)

If you'd like to update the issue, please reopen it.

[2020-12-31 11:51] #30323 closed, assigned to nobody

[2020-12-31 12:25] sergeynezbritskiy commented on #13707
@milindsingh so what is the expected behavior here ?
all group heading becomes display:none not because you didn't add the resource to admin role, but because your admin user has only one or less available items in this group.
As far as I see from [that ](https://github.com/magento/magento2/commit/d91e96b529e70dcec55d3b5336b471791dc42d54#diff-f89229301d01ad1813cf1db5f715dfe80b3f560f92ee48e7883837e

[2020-12-31 12:47] ci2014 commented on #23553
The bug is gone in 2.3.6 too. After we updated from 2.3.3 or 2.3.4 to 2.3.6 the issue was gone.

[2020-12-31 15:51] engcom-Hotel commented on #30853
@magento I am working on this

[2020-12-31 16:21] engcom-Delta commented on #30252
Hi @Mavlyan thank you for your report. Could you add more details into steps to reproduce where `$transactionInstance->getChildTransactions('refund');` is used(e.g., code snippets) and what steps should be done before `getChildTransactions` is called?

[2021-01-01 03:48] yvaliya commented on #31465
@bobemoe I think you just forgot to add sequence node in your etc/module.xml file. Please go through this [devdocs](https://devdocs.magento.com/guides/v2.4/extension-dev-guide/build/module-load-order.html) and update your etc/module.xml like below

[code]

[2021-01-01 06:36] usman786cs commented on #28961
Thanks @Yonn-Trimoreau - it worked for me

[2021-01-01 18:12] techzilla commented on #31280
Yup, I have this also.

[2021-01-02 06:53] dipakk2590 opened #31500 "Magento 2.4 Language Translate"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

Updated based on https://github.com/magento/magento2/issues/31500#issuecomment-753591111

[2021-01-02 10:40] ihor-sviziev commented on #13746
The issue was fixed in https://github.com/magento/magento2/pull/30961. You can apply it as a patch

[2021-01-02 14:13] krishprakash commented on #31500
Hi @dipakk2590. Kindly update all the details as description, expected behaviour, benifits and additional information if any.
Without these details your ticket should be closed

[2021-01-02 16:01] bobemoe commented on #31465
I have tried adding this but it seems to make no difference.

I have updated my test module to reflect these changes, so you can pull the latest to see yourself.

Is `\Magento\Catalog\Model\ResourceModel\Product\Action` definitely the right class to inject? Should I be using an interface or something? I want access to `$productAction->updateAttributes();`

Thanks.

[2021-01-02 18:23] scne commented on #22737
any news about this issue?

[2021-01-02 19:23] techzilla commented on #26589
Isn't this only applicable to code in a Console/ directory?

[2021-01-03 01:31] Ylmzef commented on #29872
_Any reference to update/cron.php and bin/magento setup:cron:run should also be removed from the crontab_
https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-cron.html

[2021-01-03 09:36] dipakk2590 commented on #31500
@krishprakash Sir ,

I had request a feature in future Release of the Magento as Follows.

**Feature : -  Inbuilt Language Translator for Frontend Store View**

**Description :-** Inbuilt Language Translator for Frontend Would Ease the Customer Browsing Experiance Visiting the Magento Stores Based On Their Location or Choice of Language for Content View About Products , Details , Pages and Informa

[2021-01-03 11:17] ikevinsolomon commented on #31286
I'm facing this same issue using docker magento (https://github.com/markshust/docker-magento) the work around mentioned works but can someone please explain how to clone from a self hosted m2.4 repo with the module already lying inside the app/code folder and if some of the modules in that use magento core modules.

[2021-01-03 16:17] grassst commented on #31024
Hi,

I also have the same problem when in update my shop from 2.3.5-p2 to 2.4.1 and I try to do a search.
The catetory pages work fine.

[2021-01-03` 16:11:43] main.CRITICAL: Error: Call to a member function shouldDisplayProductCountOnLayer() on null in /var/www/html/vendor/magento/module-layered-navigation/view/frontend/templates/layer/filter.phtml:21
Stack trace:
#0 /var/www/html/vendor/magento/

[2021-01-03 18:02] magento-engcom-team commented on #28017
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40269` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-03 23:53] mrtuvn commented on #31493
Can you provide steps by steps for reproduce issue ?

[2021-01-04 06:41] rama-tm commented on #31163
Hi @engcom-Bravo ,
Hope you are well.
Could you please share your suggestion for my concern?

[2021-01-04 07:49] BorisovskiP commented on #27126
@magento-engcom-team @shikhamis11 Any new updates regarding this issue?

[2021-01-04 07:50] Siyadev9 commented on #15187
Hi @ctadlock how did you manage to change the MAGE_RUN_TYPE ?

[2021-01-04 08:07] s-kerdel commented on #31117
Is there a way to cherry-pick this fix? v.2.4.3 sounds far away and this issue is keeping us from going production for over a month now.

[2021-01-04 09:34] magento-engcom-team commented on #31453
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40272` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-04 10:23] bfontaine commented on #26220
Am I reading your link incorrectly? It says it supports ElasticSearch 7 _only_:

[2021-01-04 10:51] engcom-Alfa commented on #28386
Hi @support-smartebusiness. Thank you for your report!
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop. Everything works as expected.

Followed the guide as per: https://devdocs.magento.com/guides/v2.3/rest/tutorials/bulk-configurable-product/create-configurable-simple-products.html

1. Run in console: `bin/magento queue:consumers:start async.operations.all`
2. Send **P

[2021-01-04 10:52] vlmed commented on #31465
Hello @bobemoe
Use Proxy to pass \Magento\Catalog\Model\ResourceModel\Product\Action into Console command constructor.
Example:
`<type name="Module\Test\Console\Command\YourCommand">
        <arguments>
            <argument name="productAction" xsi:type="object">\Magento\Catalog\Model\ResourceModel\Product\Action\Proxy</argument>
        </arguments>
    </type>`

[2021-01-04 10:56] engcom-Bravo commented on #31163
Hello @rama-tm. I'm not aware of any particular commit which fixes the issue.
I can offer you to follow the discussion https://magento.stackexchange.com/questions/265364/how-to-fix-invalid-customer-address-id-in-magento-2-1-5, and check the discussion in this issue https://github.com/magento/magento2/issues/23618

[2021-01-04 11:18] engcom-Kilo commented on #7537
Hello, @kanduvisla
Thanks for your report.
I'm not able to reproduce this issue on latest 2.4-develop
![MultiselectCustomSourceModel](https://user-images.githubusercontent.com/60192090/103529911-2b610300-4e8f-11eb-8399-782baef13161.gif)
Please feel free to add more details and I'll reopen this issue.

[2021-01-04 11:18] #7537 closed, assigned to nobody

[2021-01-04 11:19] magento-engcom-team commented on #7537
Hi @kanduvisla.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-30057` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-04 11:23] engcom-Bravo commented on #31497
Hello @Hexmage

Thank you for your report.

We have rechecked the reported issue on the latest 2.4-develop, and it is not reproducible.
The Order Status is changed to **Paid** after _POST /V1/invoices/{id}/capture_ request is performed

Manual testing scenario:
1. Place an order using a capturable payment method
2. Submit invoice for the order, selecting **Not Capture** under _Amount_
![capture](h

[2021-01-04 11:23] #31497 closed, assigned to engcom-Bravo

[2021-01-04 12:24] engcom-Delta commented on #31068
Hi @vpashovski thank you for your report. Could you clarify what object do you use for getter function?

[2021-01-04 12:32] vpashovski commented on #31068
Hi @engcom-Delta,
It is used `$category->getDataUsingMethod($attribute);` where $category is `\Magento\Catalog\Model\Category`.

[2021-01-04 12:45] PascalBrouwers commented on #26093
- `Based on the provided information internal tickets MC-29948 were created`
- `we are archiving this ticket now as it did not get much attention from Core developers for an extended period`
- `This is done in an effort to create a quality, community-driven backlog`

No, you are closing issues but you choose not to solve them. Issues that have a clear description and are reproducible.
Either state

[2021-01-04 12:48] PascalBrouwers commented on #26093
I think @viniciusfabri and allot of others will stop being contributors to this community-driven backlog if this is the way you handle it @magento-engcom-team

[2021-01-04 12:55] KrishnaK-Z commented on #31489
@magento I am working on this

[2021-01-04 12:58] engcom-Bravo commented on #30591
Hello @gwharton

Thank you for your report.

According to the [documentation](https://docs.magento.com/user-guide/tax/warning-messages.html#tax-calculation-method-based-on-excluding-tax) when _Tax calculation method based on: excluding tax_ Row Total
![row_total](https://user-images.githubusercontent.com/51680745/103537365-f491e980-4e9c-11eb-9863-bdde91b327ff.png)
OK - which means that the Warning

[2021-01-04 13:01] magento-engcom-team commented on #31311
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40274` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-04 13:02] magento-engcom-team commented on #30591
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40275` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-04 13:03] jsutariya opened #31504 "Cart item not updating while maximum quantity allowed in cart is set to 1"
### Preconditions (*)

1. Magento version 2.4.1
2. PHP 7.4

### Steps to reproduce (*)

1. Create a simple product in admin panel with customizable options
2. Set Maximum Qty Allowed in Shopping Cart value to 1 for the product
3. Add product to cart with selecting any customizable option.
4. Product added to cart successfully
5. Click on edit item in cart page for the product
6. Change cutomizable

[2021-01-04 13:16] m2-assistant[bot] opened #31506 "[Issue] Remove Great Britain from EU country list"
This issue is automatically created based on existing pull request: magento/magento2#31505: Remove Great Britain from EU country list

---------
### Description (*)
Remove Great Britain from EU country list

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)
1. Go to European Union Countries configuration and check

[2021-01-04 13:48] magento-engcom-team commented on #29760
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40276` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-04 13:57] engcom-Alfa commented on #26918
Hi @vincentteyssier. Thank you for your report!
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop. Language switcher works as expected.

**Preconditions:**

Magento 2.4-develop
Varnish 6, full-page cache enabled
PHP 7.4

**Manual testing scenario:**

1. Set multiple currencie;
2. Go to the homepage and change the currency from the currency switch;

**Actual Result:** :hea

[2021-01-04 14:19] pronto2000 commented on #31253
I can confirm the issue description and I can add some additional insights here. I created two stores: default (1) and second (2), running the GraphQL query similar to the one above ran the query below:
[code]
Please note that I created 2 websites, each having it's one store and each store has it's own root category and store_view. For the product (id = 1200) I assigned categories from both websit

[2021-01-04 14:29] cyildirim commented on #28318
@yuriichayka Is there any specific reason that's implemented with `HttpPostActionInterface` ? Unsubscribe from email urls doesnt work as `\Magento\ProductAlert\Controller\Unsubscribe\Stock` only acceps post request.

[2021-01-04 14:42] engcom-Bravo commented on #31504
Hello @jsutariya

Thank you for your report.

We have rechecked the reported issue on clean Magento 2.4-develop and the issue is not reproducible. The product in the Shopping cart is successfully updated
![Shopping cart](https://user-images.githubusercontent.com/51680745/103545802-bf8c9380-4eaa-11eb-913b-90637a288b25.png)

However, the issue is reproducible on Magento 2.4.1 and on Magento 2.4-deve

[2021-01-04 14:42] #31504 closed, assigned to engcom-Bravo

[2021-01-04 14:42] menacoders commented on #22737
it's still not fixed in any version
i have built a module to solve this issue, i'll share it with you these days.

[2021-01-04 15:15] menacoders commented on #22737
Hi @scne
i have uploaded the module, get it from here
https://github.com/menacoders/stock-API/

and let me know if you need anything else 👍

[2021-01-04 15:16] navarr commented on #30848
The attached patch will work as a short-term solution.

We've removed address validation from this page in 2.4.2

[2021-01-04 15:37] scne commented on #22737
Hi @menacoders thank you so much for your help! I'm using Magento 2.3.2, is your code compliant?

[2021-01-04 15:38] engcom-Charlie opened #31511 "removing dependency from zendframework1"
### Description (*)

removing dependency from `zendframework1`

### Expected behavior (*)

### Benefits

### Additional information

[2021-01-04 16:18] hostep commented on #10398
This was most likely fixed as a side-effect of https://github.com/magento/magento2/pull/21020 or https://github.com/magento/magento2/pull/21423 where the sort order of modules has been changed so that Magento modules are now **always** loaded first and all the rest later. It wouldn't surprise me if that change will get reverted on day or another because it doesn't feel right in my opinion. If that

[2021-01-04 17:06] #11304 closed, assigned to nobody

[2021-01-04 17:07] magento-engcom-team commented on #11304
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-04 17:34] brian-ebizmarts commented on #26732
Hi @engcom-Alfa,

The problem has been solved by the commit 005b10d. Would it be possible to add this fix on **Magento 2.3**?

Thanks in advance.

[2021-01-04 18:02] f1-outsourcing opened #31513 "install 2.3 requires 'show databases' privilege, which is not necessary."
Unless you are not serious about offering a solution for shared hosting, the show databases privilege is not really an option. Furthermore can't really see why you need it if you specify a database name.

`SQLSTATE[42000]: Syntax error or access violation: 1227 Access denied; you need (at least one of) the SHOW DATABASES privilege(s) for this operation, query was: SHOW DATABASES`

[2021-01-04 18:05] menacoders commented on #22737
yes, i have build it for m2.3.x

[2021-01-04 18:08] #8504 closed, assigned to nobody

[2021-01-04 18:08] #7856 closed, assigned to nobody

[2021-01-04 18:09] magento-engcom-team commented on #8504
Hi @maderlock.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-29754` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-04 18:14] m2-assistant[bot] opened #31514 "[Issue] [MFTF] Refactoring AdminMassOrdersUpdateCancelPendingOrderTest"
This issue is automatically created based on existing pull request: magento/magento2#31512: [MFTF] Refactoring AdminMassOrdersUpdateCancelPendingOrderTest

---------
### Description (*)
The test is refactored to improve execution time

### Related Pull Requests
https://github.com/magento/magento2/pull/31509

### Manual testing scenarios (*)
1. Create an order
2. Go to the Orders Grid
3. Try to can

[2021-01-04 18:15] m2-assistant[bot] opened #31515 "[Issue] [MFTF] Refactoring AdminMassOrdersHoldOnCompleteTest"
This issue is automatically created based on existing pull request: magento/magento2#31510: [MFTF] Refactoring AdminMassOrdersHoldOnCompleteTest

---------
### Description (*)
The test is refactored to improve execution time

### Manual testing scenarios (*)
1. Create an order
2. Invoice and ship the order
3. Go to the Orders Grid
5. Try to hold the order via mass update
6. Verify the result

###

[2021-01-04 18:15] m2-assistant[bot] opened #31516 "[Issue] [MFTF] Refactoring AdminMassOrdersHoldOnPendingAndProcessingTest"
This issue is automatically created based on existing pull request: magento/magento2#31508: [MFTF] Refactoring AdminMassOrdersHoldOnPendingAndProcessingTest

---------
### Description (*)
A new test has been created to improve execution time.
The old "AdminMassOrdersHoldOnPendingAndProcessingTest" has been deprecated.

### Manual testing scenarios (*)

1. Create two orders
2. Invoice the second or

[2021-01-04 18:17] m2-assistant[bot] opened #31517 "[Issue] [MFTF] Refactoring AdminMassOrdersCancelProcessingAndClosedTest"
This issue is automatically created based on existing pull request: magento/magento2#31507: [MFTF] Refactoring AdminMassOrdersCancelProcessingAndClosedTest

---------
### Description (*)
A new test has been created to improve execution time.
The old "AdminMassOrdersCancelProcessingAndClosedTest" has been deprecated.

### Manual testing scenarios (*)
1. Create two orders
2. Invoice the first order

[2021-01-04 18:17] m2-assistant[bot] opened #31518 "[Issue] Fixing the flaky test that fails because of the wrong formatted date value"
This issue is automatically created based on existing pull request: magento/magento2#31509: Fixing the flaky test that fails because of the wrong formatted date value

---------

### Description (*)
This PR is supposed to fix the failing MFTF test, that fails because of the wrong formatted date value.

[code]

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<is

[2021-01-04 18:18] m2-assistant[bot] opened #31519 "[Issue] [MFTF] Refactoring AdminPanelIsFrozenIfStorefrontIsOpenedViaCustomerViewTest"
This issue is automatically created based on existing pull request: magento/magento2#31502: [MFTF] Refactoring AdminPanelIsFrozenIfStorefrontIsOpenedViaCustomerViewTest

---------
### Description
The test is refactored to improve execution time

### Manual testing scenarios
1. Place an order
2. Create an invoice, a shipment, a credit memo for the order
3. Login to Storefront
4. Go to My Account->M

[2021-01-04 18:18] m2-assistant[bot] opened #31520 "[Issue] [MFTF] Refactoring AdminValidateShippingTrackingNumberTest"
This issue is automatically created based on existing pull request: magento/magento2#31488: [MFTF] Refactoring AdminValidateShippingTrackingNumberTest

---------
### Description (*)
The test is refactored to improve execution time

### Manual testing scenarios (*)
1. Create an order
2. Create a shipment
3. Add tracking number for the shipment
4. Make assertions

[2021-01-04 18:18] m2-assistant[bot] opened #31521 "[Issue] [MFTF] Refactoring AdminOrdersReleaseInUnholdStatusTest"
This issue is automatically created based on existing pull request: magento/magento2#31487: [MFTF] Refactoring AdminOrdersReleaseInUnholdStatusTest

---------
### Description (*)
The test is refactored to improve execution time

### Manual testing scenarios (*)

1. Create an order
2. Hold the order
3. Unhold the order from the Orders grid
4. Make assertions

[2021-01-04 18:19] m2-assistant[bot] opened #31522 "[Issue] [MFTF] Refactoring CancelOrdersInOrderSalesReportTest"
This issue is automatically created based on existing pull request: magento/magento2#31458: [MFTF] Refactoring CancelOrdersInOrderSalesReportTest

---------
### Description (*)
The test is refactored to improve execution time

### Manual testing scenarios (*)
1. Place/invoice/ship an order
2. Place and cancel an order
3. Go to Reports->Sales->Orders
4. Generate reports for orders in all statuses e

[2021-01-04 18:19] m2-assistant[bot] opened #31523 "[Issue] [MFTF] Refactoring AdminCheckDashboardWithChartsTest"
This issue is automatically created based on existing pull request: magento/magento2#31451: [MFTF] Refactoring AdminCheckDashboardWithChartsTest

---------
### Description (*)
The test is refactored according to the best practices

### Manual testing scenarios (*)
1. Go to Admin Dashboard
2. Grab orders quantity
3. Place/invoice/ship an order
4. Reload the Dashboard
5. Check the display
6. Check i

[2021-01-04 18:20] m2-assistant[bot] opened #31524 "[Issue] [MFTF] Updating with ClickPlaceOrderActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31449: [MFTF] Updating with ClickPlaceOrderActionGroup

---------
### Description (*)
Updating with ClickPlaceOrderActionGroup

[2021-01-04 18:22] engcom-Delta commented on #28243
@magento give me 2.4-develop instance

[2021-01-04 18:23] m2-assistant[bot] opened #31525 "[Issue] Fixed use inconsistently viewModels in codebase"
This issue is automatically created based on existing pull request: magento/magento2#31503: Fixed use inconsistently viewModels in codebase

---------

### Description (*)

Replace viewModel by view_model in codebase! Somewhere in code developers use both approach view_model and viewModel. This can lead to inconsistent and make more noise for dev experience
Just refactor a little code

### Related

[2021-01-04 18:40] m2-assistant[bot] opened #31526 "[Issue] Fixed conflicting styles for product image container in different listings at the same page"
This issue is automatically created based on existing pull request: magento/magento2#31473: Fixed conflicting styles for product image container in different listings at the same page
##

### Description (*)

This pull requests solves problem when there are two product listing blocks on the same page. Both blocks have at list one common product. And listings have different image sizes for product

[2021-01-04 18:41] engcom-Delta commented on #28243
Hi @hemendraajmera thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Result:**
:heavy_check_mark: Admin is able to login as customer without errors
:heavy_check_mark: Admin is able to add products into cart as logged customer without errors
![Peek 2021-01-04 20-35](https://user-images.githubusercontent.com/51681379/103567823-28850300-4ecd-11eb

[2021-01-04 18:41] #28243 closed, assigned to nobody

[2021-01-04 18:44] magento-engcom-team commented on #29850
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40279` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-04 19:05] m2-assistant[bot] opened #31527 "[Issue] Generate critical css file for blank theme"
This issue is automatically created based on existing pull request: magento/magento2#31463: Generate critical css file for blank theme

---------

### Description (*)

Generate critical css following below guide for blank theme
https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/css-topics/css-critical-path.html
Default magento only have critical css for luma theme

### Related Pull Request

[2021-01-04 19:06] m2-assistant[bot] opened #31528 "[Issue] Fix cross-origin links are unsafe"
This issue is automatically created based on existing pull request: magento/magento2#31460: Fix cross-origin links are unsafe

---------

### Description (*)

This fix for issue lighthouse audit fail related link missing rel attribute

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions

[2021-01-04 19:07] m2-assistant[bot] opened #31529 "[Issue] add final price to response"
This issue is automatically created based on existing pull request: magento/magento2#31297: add final price to response

---------

### Description (*)

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### Contribution checklist (*)
 - [ ] Pull request has a meaningful de

[2021-01-04 19:08] m2-assistant[bot] opened #31530 "[Issue] Remove recursion in location of static files."
This issue is automatically created based on existing pull request: magento/magento2#30883: Remove recursion in location of static files.

---------
### Description (*)
Magento 2.4-develop
The default NGINX config contains a possible bug in location `static`, that leads to infinite recursion.
This PR remove it.

### Manual testing scenarios (*)
1. Enable [Static content signing](https://devdocs.ma

[2021-01-04 19:34] magento-engcom-team opened #31531 "[GraphQL] Internal server error is returned for giftRegistryTypeSearch"
Create a gift registry with shipping address with region. Notice that the GiftRegistryOutput has region returned as null.

!createGiftRegistryOuput*address_Null*region.png|thumbnail!

 
#### Expected Result :

 When a Gift Registry is created, with a shipping address containing region( region*id, region*code etc..), the output should return the address data with region.

[2021-01-04 19:34] magento-engcom-team commented on #31531
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-40120

[2021-01-04 19:58] ericerway commented on #30835
@magento give me 2.4.1 instance

[2021-01-04 20:20] magento-engcom-team opened #31532 "Test GJSS MC"
Test

[2021-01-04 20:20] magento-engcom-team commented on #31532
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-40281

[2021-01-04 20:22] #31532 closed, assigned to nobody

[2021-01-04 20:32] magento-engcom-team opened #31533 "Test GJSS MC"
Test

[2021-01-04 20:32] magento-engcom-team commented on #31533
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-40281

[2021-01-04 20:34] #31533 closed, assigned to nobody

[2021-01-04 20:36] magento-engcom-team commented on #31533
Hi @magento-engcom-team.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40281` was closed as `Fixed`.

[2021-01-04 21:05] #12319 closed, assigned to nobody

[2021-01-04 21:16] magento-engcom-team opened #31535 "Test GJSS"
sdsd

[2021-01-04 21:17] magento-engcom-team commented on #31535
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-40282

[2021-01-04 21:17] #31535 closed, assigned to nobody

[2021-01-04 21:19] magento-engcom-team commented on #31535
Hi @magento-engcom-team.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40282` was closed as `Fixed`.

The fix will be available with the upcoming `2.3.5` release.

[2021-01-04 22:06] f1-outsourcing opened #31536 "install 2.3 requires access to /tmp ???"
why not use the php value session.save_path ?

`
[Mon Jan 04 23:04:42.178595 2021] [proxy_fcgi:error] [pid 14589:tid 139846802659072] [client 8.8.8.8:56223] AH01071: Got error 'PHP message: PHP Warning:  error_reporting() has been disabled for security reasons in /home/account/shop.domainname.com/app/bootstrap.php on line 10\nPHP message: PHP Warning:  realpath(): open_basedir restriction in effec

[2021-01-05 00:25] maximilianmikus commented on #28200
I would like to kindly ask to make this high priority please - its really important otherwise product-information is not correctly displayed in the frontend. Could you maybe create a patch with some preliminary fix or something of the sort, while you sort out the better solutions. I tried doing this but lack deeper inside into the codebase to make it work.

[2021-01-05 00:53] LouisFangAligentConsulting opened #31537 "Magento2.4 GraphQL CustomerOrders Query Logic"
### Preconditions (*)

1.Magento2.4.0
2.GraphQL

### Steps to reproduce (*)

1.Create a new Module HelloWorld.
2.Create a schema.graphqls in HelloWorld/Sales/etc/ folder to extend the CustomerOrderFilterInput.
Put following codes in this file:
[code]
3.Use the following payload and `{{your URL}}/graphql` to query the customer token.
[code]
4.Put above token in Postman Headers `Authorization` with

[2021-01-05 04:31] krishprakash commented on #31526
@magento give me 2.4-develop instance

[2021-01-05 05:13] ashaaniebose opened #31538 "Invalid date on dates of tierprice"
### Preconditions (*)

1.Magento version 2.2.8
2.Add 2 date fields from_date and to_date in tierprice section in Advanced Pricing....First load it works fine...on deletion of tierprice,the date fields are showing wrong date values and sometimes Invalid date and causes issue in wrong date data on saving

### Steps to reproduce (*)

1.Add 2 date fields from_date and to_date in tierprice section in A

[2021-01-05 05:29] ashaaniebose commented on #31538
A similar issue reported on searching for the fix...Adding here https://magento.stackexchange.com/questions/226712/date-issue-on-dynamic-generated-fields-magento2

[2021-01-05 06:27] sathiyaaa commented on #30719
@magento give me 2.4-develop instance

[2021-01-05 06:28] zhartaunik commented on #29347
If you don't want to solve an issue, just close it! And the sheet is empty. Good job!!

[2021-01-05 07:00] ioweb-gr commented on #27829
This should be improved in my opinion

[2021-01-05 07:09] bartoszkubicki commented on #26969
Yes I can confirm that this issue is reproducible in vanilla magento instance. Some related issues may be fixed.

[2021-01-05 07:30] #30712 closed, assigned to nobody

[2021-01-05 07:57] magento-engcom-team commented on #31522
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40284` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-05 08:20] Zyles commented on #26292
👎

[2021-01-05 08:33] anoop-corra commented on #31145
We are also facing the same issue with identical configuration  , Is there any work around for this issue apart from disabling the reader configuration in env.php ?

php 7.4.13
magento EE 2.4.1
Aws aurora cluster5.7.mysql_aurora.2.09.1

[2021-01-05 08:37] dverkade commented on #5980
Adding a message here, so that the issue is no longer stale and will be auto closed. Closing confirmed issues is not the way a project should be handled and it should be open until it's resolved.

[2021-01-05 08:38] dverkade commented on #10207
Adding a message here, so that the issue is no longer stale and will be auto closed. Closing confirmed issues is not the way a project should be handled and it should be open until it's resolved.

[2021-01-05 09:37] m2-assistant[bot] opened #31540 "[Issue] Fixed 'Delete operation is forbidden for current area' error."
This issue is automatically created based on existing pull request: magento/magento2#31318: Fixed 'Delete operation is forbidden for current area' error.

---------
### Description
This error happens if the customer address doesn't pass validation during account creation.

Magento 2.4-develop

### Manual testing scenarios
1. Open Magento/Customer/Model/AccountManagement.php and find the following

[2021-01-05 10:24] ghost opened #31541 "Error when saving product in catalog/products"
### Preconditions (*)

1. Mysql 8.0.21
2. Php 7.3.19

### Steps to reproduce (*)

1. In backend, catalog/products
2. Click to save

### Expected result (*)

1. Product saved without error
2.

### Actual result (*)

1. SQLSTATE[23000]: Integrity constraint violation: 1052 Column 'store_id' in where clause is ambiguous, query was: SELECT `main_table`.* FROM `url_rewrite` AS `main_table` INNER JOIN `

[2021-01-05 10:25] ihor-sviziev commented on #31536
Hi @f1-outsourcing,
It feels like more a question than an issue, such questions should be asked at https://magento.stackexchange.com/ and not there. That's why I'm closing this issue.

But! As I already took it - I just analyzed the lines that you referred to in logs:
https://github.com/magento/magento2/blob/aeedfcd6591df8cc629878278e69cae73b7f1b29/lib/internal/Magento/Framework/Filesystem/Directo

[2021-01-05 10:26] engcom-Bravo commented on #31199
Hello @NickdeK

Thank you for your report.

We confirm that the issue is reproducible on the latest 2.4-develop. Additional info is added to the description

[2021-01-05 10:27] magento-engcom-team commented on #31199
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40287` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-05 10:40] ihor-sviziev commented on #31513
Hi @f1-outsourcing,
It feels to me that this issue should have quite low priority as it's not so frequent issue. On shared hosting usually, you'll have other issues - Elasticsearch, Redis, RabbitMQ, CRONs, etc. That's why most Magento installations are working on specially Magento-designed hostings or on their own servers.

I believe there is a code that requires this permission:
https://github.co

[2021-01-05 10:52] dineshvb commented on #30324
@magento I am working on this

[2021-01-05 11:06] magento-engcom-team commented on #31540
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40288` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-05 11:08] DJB95 commented on #23964
experiencing the same issue, even on M2.4.1. steps to reproduce are exactly the same as described in squeegy06's comment:

Is there any timeline on integrating the fix mentioned in the last comment in a new magento release?

Thanks!

[2021-01-05 11:08] faisal-project commented on #7589
Thanks @doublesharp, working fine even with price sorting filter as well.

[2021-01-05 11:19] iasthc opened #31543 "Malformed request body causes Internal Server Error"
### Preconditions (*)

1. Magento CLI 2.4.1
2. Magento/2.4 (Community)

### Steps to reproduce (*)

1. Method: POST
2. Path: /V1/address/cleanse
3. Body: application/json ```{"address": "", "scopeType": "" }```

### Expected result (*)

1. 400 Bad Request

### Actual result (*)

1. 500 Internal Server Error
2.
[code]

3. ![image](https://user-images.githubusercontent.com/40525303/103639260-1072b98

[2021-01-05 11:29] iasthc opened #31544 "Malformed request body causes Internal Server Error"
### Preconditions (*)

1. Magento CLI 2.4.1
2. Magento/2.4 (Community)

### Steps to reproduce (*)

1. Method: PUT
2. Path: /V1/customers/me
3. Body: application/json ```{"customer":""}```

### Expected result (*)

1. 400 Bad Request

### Actual result (*)

1. 500 Internal Server Error
2.
[code]

3. ![image](https://user-images.githubusercontent.com/40525303/103641161-436a7c80-4f8c-11eb-99a2-9a8e5

[2021-01-05 11:34] iasthc opened #31545 "Malformed request body causes Internal Server Error"
### Preconditions (*)

1. Magento CLI 2.4.1
2. Magento/2.4 (Community)

### Steps to reproduce (*)

1. Method: PUT
2. Path: /V1/configurable-products/variation
3. Body: application/json ```{"options":"","product":""}```

### Expected result (*)

1. 400 Bad Request

### Actual result (*)

1. 500 Internal Server Error
2.
[code]

3. ![image](https://user-images.githubusercontent.com/40525303/10364157

[2021-01-05 11:36] Pavel-Fekete commented on #5980
Not reproducible on the latest 2.4-develop.
The product gets updated after save with the new information
![update](https://user-images.githubusercontent.com/67371013/103641824-01751280-4f5b-11eb-9848-2e6d0b9f3f4b.gif)

[2021-01-05 11:39] iasthc opened #31546 "Malformed request body causes Internal Server Error"
### Preconditions (*)

1. Magento CLI 2.4.1
2. Magento/2.4 (Community)

### Steps to reproduce (*)

1. Method: POST
2. Path: /V1/customers/resetPassword
3. Body: application/json ```{"email":"","resetToken":"","newPassword":""}```

### Expected result (*)

1. 400 Bad Request

### Actual result (*)

1. 500 Internal Server Error
2.
[code]

3. ![image](https://user-images.githubusercontent.com/405253

[2021-01-05 11:42] iasthc opened #31547 "Malformed request body causes Internal Server Error"
### Preconditions (*)

1. Magento CLI 2.4.1
2. Magento/2.4 (Community)

### Steps to reproduce (*)

1. Method: POST
2. Path: /V1/inventory/source-selection-algorithm-result
3. Body: application/json ```{"inventoryRequest":"","algorithmCode":""}```

### Expected result (*)

1. 400 Bad Request

### Actual result (*)

1. 500 Internal Server Error
2.
[code]

3. ![image](https://user-images.githubuserc

[2021-01-05 11:49] iasthc opened #31548 "Malformed query parameter causes Internal Server Error"
### Preconditions (*)

1. Magento CLI 2.4.1
2. Magento/2.4 (Community)

### Steps to reproduce (*)

1. Method: GET
2. Path: /V1/inventory/is-product-salable-for-requested-qty/{sku}/{stockId}/{requestedQty}
3. Parameters: sku=1, stockId=1, requestedQty=1

### Expected result (*)

1. 400 Bad Request
2. 404 Not Found

### Actual result (*)

1. 500 Internal Server Error
2.
[code]

3. ![image](https://

[2021-01-05 11:55] iasthc opened #31550 "Malformed query parameter causes Internal Server Error"
### Preconditions (*)

1. Magento CLI 2.4.1
2. Magento/2.4 (Community)

### Steps to reproduce (*)

1. Method: GET
2. Path: /V1/search
3. Parameter: searchCriteria[requestName]=1

### Expected result (*)

1. 404 Not Found

### Actual result (*)

1. 500 Internal Server Error
2.
[code]

3. ![image](https://user-images.githubusercontent.com/40525303/103643540-d658e600-4f8f-11eb-8467-e0cae9af1fe6.png)

[2021-01-05 11:57] magento-engcom-team commented on #27401
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40290` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-05 12:02] engcom-Bravo commented on #31543
Hello @ch-tsai

Thank you for your report.

There is no need to report each issue separately. Please, keep one open issue, and try to combine all the requests as examples in one issue.

Thank you in Advance

[2021-01-05 12:23] iasthc opened #31551 "Malformed request body or parameters cause "Internal Server Error""
### Preconditions (*)

1. Magento CLI 2.4.1
2. Magento/2.4 (Community)
3. Magento 2.4-develop

### Steps to reproduce (*)

1. \[POST] /V1/address/cleanse
    - Body: application/json ```{"address": "", "scopeType": "" }```
2. \[PUT] /V1/customers/me
    - Body: application/json ```{"customer":""}```
3. \[PUT] /V1/configurable-products/variation
    - Body: application/json ```{"options":"","produc

[2021-01-05 12:24] #31543 closed, assigned to engcom-Bravo

[2021-01-05 12:24] #31544 closed, assigned to engcom-Alfa

[2021-01-05 12:24] #31545 closed, assigned to engcom-Bravo

[2021-01-05 12:24] #31546 closed, assigned to nobody

[2021-01-05 12:24] #31547 closed, assigned to nobody

[2021-01-05 12:24] #31548 closed, assigned to nobody

[2021-01-05 12:24] #31550 closed, assigned to nobody

[2021-01-05 12:24] engcom-Alfa commented on #27308
Hi @wilcovanesch .
Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop.
Everything works as expected.

**Precondition:**

Have 3 orders created in 2021-01-05 for example
![Screenshot from 2021-01-05 14-16-15](https://user-images.githubusercontent.com/51679138/103645459-af36f000-4f60-11eb-9edc-da43f289900f.png)

**Manual testing scenario:**

Send **GET** request `http://mage

[2021-01-05 12:24] #27308 closed, assigned to engcom-Alfa

[2021-01-05 12:40] magento-engcom-team commented on #31551
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40291` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-05 12:49] engcom-Charlie commented on #12581
Hello @pixmin please try the following
1. Create `etc/adminhtml/system.xml` for example
[code]
2. Create `etc/config.xml`
[code]

### AR:
we can see decrypted value in the admin form field, and in DB we can see the encrypted value.
![image](https://user-images.githubusercontent.com/51680850/103647635-49e4fe00-4f64-11eb-9dc0-d42db9a9ca35.png)
![image](https://user-images.githubusercontent.com/51680