[2019-11-28 13:33] mfickers commented on #19312
This issue is fixed in 2.3.3

[2019-11-28 13:33] #19312 closed, assigned to nobody

[2019-11-28 13:45] GuillaumeBrook opened #25798 "The number of product view doesn't increment with FPC activated"
### Preconditions (*)

1. Magento 2.3.3 CE
2. PHP 7.2

### Steps to reproduce (*)

1. Enable FPC in admin
2. Clear every cache
3. Go on a product page, a row is added to `report_event` table with "event_type" = 1 and "object_id" = the current product id
4. Refresh the product page, the product page is loaded from FPC
5. There is no new row added in "report_event"

### Expected result (*)

1. A row

[2019-11-28 14:02] Parakoopa commented on #25656
A related issue, which must also be fixed:
When generating the swagger schema, Magento seems to fail if null is the first type in the ``@return`` annotation:
[code]

[2019-11-28 14:18] torhoehn opened #25801 "Alignment of terms & conditions checkbox"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

1. Create and activate Terms & Conditions under Stores -> Settings -> Terms and Conditions with longer checkbox text
2. Enable Terms & Conditions under Stores -> Configuration -> Sales -> Checkout -> Checkout Options
3. On a mobile device go to the second step of the Checkout

### Expected result (*)

1. Checkbox and text s

[2019-11-28 14:19] torhoehn commented on #25801
#cd-cologne

[2019-11-28 14:20] torhoehn commented on #25801
#cd-cologne19

[2019-11-28 14:30] ArnoVDC commented on #23051
@MaxSouza

Yes I did. The flow was: create cutomer => change group in de backoffice => logout in storefront => login => check php logs after new login

[2019-11-28 14:34] kmlfadeless commented on #25798
@magento I am working on it

[2019-11-28 14:42] jameswithers commented on #25687
@engcom-Charlie

The default Magento logic appears to do a re-index twice, [notwithstanding changes to the changelogBatchSize](https://github.com/magento/magento2/issues/25687#issuecomment-558093137):

1. Saving a catalog price rule invalidates the _catalogrule_rule_, _catalog_product_price_, and _catalogsearch_fulltext_ indexes, as well a sMySQL triggers adding an entry to the `catalogrule_rule_c

[2019-11-28 14:53] alex24409331 commented on #5876
you can try this solution https://www.mag-manager.com/product-information/magento-product-management/how-import-configurable-products-to-magento-2/

[2019-11-28 15:16] magento-engcom-team commented on #25795
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29259` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-28 15:16] krishprakash commented on #25795
![Image-1 (49)](https://user-images.githubusercontent.com/46617848/69817139-eeecbd80-121f-11ea-8996-60204ccbc5c3.jpg)

Iss reproduced on iPad

[2019-11-28 15:30] engcom-Echo commented on #25725
Hello @AlexGao5417

Thank you for contribution and collaboration!
@sdzhepa Could you move this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues)? There it could be fixed and delivered by Solution Partners Contribution Program
[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issue

[2019-11-28 16:02] hostep commented on #25480
@PieterCappelle: are you using an unstable Magento version? This bug only occurs on 2.3-develop, not in version 2.3.3.
Magento 2.3.3 has [another problem with category images](https://github.com/magento/magento2/issues/25099) however, which was fixed in 2.3-develop, and might have caused this problem here, but I'm not sure...

[2019-11-28 16:21] will-wright1 opened #25814 "Manage Stock = No and Backorders Config = Allow"
### Preconditions (*)
Magento 2.3.3

### Steps to reproduce (*)
1 In Advanced Inventory change manage stock on a product to 'yes'
2 Untick 'use config settings' on backorders
3 Change backorders to 'Allow Qty Below 0 and Notify Customer'
4 Save product
5 Change manage stock on the product to 'no'
6 Save product
7 On the frontend of the website add that product to cart
8 Navigate to cart

### Expec

[2019-11-28 16:25] webamondo commented on #25814
@magento give me 2.3-develop instance

[2019-11-28 16:25] magento-engcom-team commented on #25814
Hi @webamondo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-28 16:26] magento-engcom-team commented on #25814
Hi @webamondo, here is your [Magento instance](https://i-25814-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25814-2-3-develop.instances.magento-community.engineering/admin](https://i-25814-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-28 16:30] mautz-et-tong commented on #13165
I agree with @gwharton
This is not a bug. If you exclude the parent theme from your theme, you have an uncomplete theme. If you don’t need the parent theme, just don’t declare it as parent. this reported behaviour is a feature which makes sure that the parent is deployed and the exclude parent is ignored to deploy a declared working theme.

[2019-11-28 16:59] vseager commented on #25761
@engcom-Echo the XML sitemap should include all (crawlable) pages within the site. It is through submitting the XML sitemap to Google Search Console that you can inform Google when the page was last updated and how regularly it should be crawled.

Is there a use case where it shouldn't include the home page?

[2019-11-28 18:08] mamsincl commented on #19221
appears with visibility as well ....

[2019-11-28 19:59] evagabond commented on #9202
@yogisfunda - I am running nginx too. You will have to change the values mentioned by @fideliocc at: https://github.com/magento/magento2/issues/9202#issuecomment-293474449 in your php.ini file which should be located at /etc/phpx/php.ini, where 'x' stands for your php version such as 7.2, 7.3 etc

[2019-11-28 21:19] RicardoEwertz opened #25824 "Problems with Magento sidebar menu"
We changed our hosting and uploaded all files again for Magento 2
I can see and have access to the Magento admin, but the sidebar menu is not active.

![Screenshot_Magento sidebar Menu](https://user-images.githubusercontent.com/50683264/69832264-1043ae80-120c-11ea-9373-6f9c6fd3cc36.jpg)

[2019-11-28 21:29] RicardoEwertz opened #25826 "Magento 2 Problems with Magento Sidebar Menu"
We changed our hosting and uploaded all files again for Magento 2
I can see and have access to the Magento admin, but the sidebar menu is not active.

### Preconditions (*)

1.Magento ver. 2.3.1
2.

### Steps to reproduce (*)

1. Fix an issue and be able to acces the sidemenu on Magento/admin
2.

### Expected result (*)

1.
![Screenshot_Magento sidebar Menu](https://user-images.githubusercontent.c

[2019-11-29 01:14] rajeebkumar-sahoo commented on #25268
HI @ihor-sviziev @qsolutions-pl @itsPranith,

Yes, that sounds reasonable and also we should mark the magic method as deprecated so that with the next minor release we could remove that altogether.

like:
`* @method \Magento\Customer\Model\Customer|null getCustomer() { @deprecated  instead use getCustomerId() along with customer repository to get customer instance }
`

[2019-11-29 02:00] krishprakash commented on #25824
Hi @RicardoEwertz. Thank you for your report.
Closing this issue as same Issue raised by you with proper issue format #25826
Thanks

[2019-11-29 02:00] #25824 closed, assigned to nobody

[2019-11-29 02:25] amelojunior commented on #22173
@gwharton thanks for this fix.
But even with this fix there is still a problem with the date filter. Orders placed after 9pm (because my timezone is UTC -3 "pt_br") appear in the next day's result.

[2019-11-29 02:41] Tomasz-Silpion opened #25832 "Allow to set negative number for attribute position in layered navigation"
### Description (*)

As _catalog_eav_attribute_ table position is an integer, it is legal and seems completely safe to set a negative position for any attribute in layered navigation.  I would like to replace attribute position validation from _validate-digits_ to _integer_.

### Expected behavior (*)

Admin attribute edit should allow to set any positive or negative non-decimal number for positio

[2019-11-29 03:42] adarshkhatri commented on #6625
I am having the same issue in Magento 2.3.3 EE site when using Elastic Search 6+.

Making Price Navigation Step Calculation other than "Equalize Product Counts" does remove the error.

[2019-11-29 04:39] ajijshekh123 commented on #25826
Give me @magento give me 2.3-develop instance

[2019-11-29 04:39] magento-engcom-team commented on #25826
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-29 04:39] magento-engcom-team commented on #25826
Hi @ajijshekh123, here is your [Magento instance](https://i-25826-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25826-2-3-develop.instances.magento-community.engineering/admin](https://i-25826-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-29 04:49] ajijshekh123 commented on #25826
@RicardoEwertz - I can't able to reproduce this issue in Default Magento 2.3 Instance.
See attached screenshot:

![First](https://user-images.githubusercontent.com/24711761/69844317-ad94f600-1291-11ea-9f29-6e97f8f08afb.png)

@RicardoEwertz - Can you please provide me video Or proper steps?

Thanks.

[2019-11-29 05:02] krishprakash commented on #25801
@magento give me 2.3-develop instance

[2019-11-29 05:03] magento-engcom-team commented on #25801
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-29 05:03] magento-engcom-team commented on #25801
Hi @krishprakash, here is your [Magento instance](https://i-25801-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25801-2-3-develop.instances.magento-community.engineering/admin](https://i-25801-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-29 05:11] magento-engcom-team commented on #25801
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29262` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-29 05:12] magento-engcom-team commented on #25814
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29263` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-29 06:39] ihor-sviziev commented on #25268
Replacing to something like will be good enough: `* @method \Magento\Customer\Model\Customer|null getCustomer()`
So people will see that it could be also null and will check it additionally. Also as it's not real method - we can't deprecate it.

[2019-11-29 06:58] ihor-sviziev commented on #23339
There is workaround for this issue:
https://help.nexcess.net/magento-2/323232how-to-resolve-cors-errors-in-magento-1-or-2-multi-stores-using-a-cdn

[2019-11-29 07:07] rav-redchamps commented on #6542
@tstamplis We have developed a tiny extension to solve this problem. You can find the extension [Payflow Pro Disable Authorization](https://redchamps.com/payflow-pro-disable-authorization-magento2-extension.html)  [here](https://redchamps.com/payflow-pro-disable-authorization-magento2-extension.html) 

[2019-11-29 07:34] rajeebkumar-sahoo commented on #25268
Actually we can see "https://github.com/phpDocumentor/phpDocumentor/issues/1604" if we could or will go with the above solution.

[2019-11-29 07:49] hoangnm89 opened #25834 "Discount fixed amount whole cart applied mutiple time when customer use Check Out with Multiple Addresses"
### Preconditions (*)

1. Fresh Magento 2.3.3

### Steps to reproduce (*)
0. Create cart rule, no condition, action: Fixed amount discount for whole cart. Discount amount $10
1. Create account, create 2 addresses: address 1, address 2
2. Add 2 SKUs to cart: SKU1, SKU2
3. Check Out with Multiple Addresses
4. SKU1 ship to address 1, SKU2 ship to address 2
5. Place order
6. Magento auto split order i

[2019-11-29 09:00] magento-engcom-team commented on #25798
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29269` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-29 09:05] engcom-Echo commented on #24426
@magento give me 2.3.3 instance

[2019-11-29 09:06] magento-engcom-team commented on #24426
Hi @engcom-Echo. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-11-29 09:07] OleksiyOleksiyovych opened #25835 "Invalid parameter given. A valid $fileId[tmp_name] is expected"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Login into the admin panel
2. Go to Stores - Settings - Configuration.
3. Open tab Catalog - Catalog. Fieldset "Product Image Placeholders".
4. Select the placeholder image for field "Base"
5. Click to button "Save"
You can try another setting with type "file"

### Expected result (*)

![Screen Shot 2019-11-29 at 10 14 52 AM](

[2019-11-29 09:07] magento-engcom-team commented on #24426
Hi @engcom-Echo, here is your [Magento instance](https://i-24426-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-3.instances.magento-community.engineering/admin](https://i-24426-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-29 09:10] omaxmo commented on #25835
@magento give me 2.3-develop instance

[2019-11-29 09:10] magento-engcom-team commented on #25835
Hi @omaxmo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-29 09:11] magento-engcom-team commented on #25835
Hi @omaxmo, here is your [Magento instance](https://i-25835-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25835-2-3-develop.instances.magento-community.engineering/admin](https://i-25835-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-29 09:17] mautz-et-tong commented on #4409
As #19241 is the more substantial issue, I recommend to close this ticket here instead of the newer one and concentrate on #19241

[2019-11-29 09:18] DividedByNULL commented on #23668
There is no chance that you were able to get any type of Invoice ID using sales_order_invoice_register. I was also not able to get the Invoice ID by using this Event just simply because it's not stored in the Database (used exit, and checked the sales_invoice table).

[2019-11-29 09:20] cafefin commented on #25834
@magento give me 2.3-develop instance

[2019-11-29 09:20] magento-engcom-team commented on #25834
Hi @cafefin. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-29 09:20] OleksiyOleksiyovych commented on #25835
I can not reproduce it on vanilla Magento instance which Magneto provides to test, but it's reproducible on vanilla Magento on other servers (for example, Nexcess).
Can someone provide steps for server configuration?

[2019-11-29 09:21] magento-engcom-team commented on #25834
Hi @cafefin, here is your [Magento instance](https://i-25834-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25834-2-3-develop.instances.magento-community.engineering/admin](https://i-25834-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-29 09:25] engcom-Charlie commented on #4409
Hello @mautz-et-tong
Okay, i am closing this issue as duplicate of https://github.com/magento/magento2/issues/19241.

[2019-11-29 09:25] #4409 closed, assigned to nobody

[2019-11-29 09:34] magento-engcom-team commented on #25835
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29272` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-29 09:35] stephan-cream commented on #5906
The most frustrating part about UI components is that they are supposed to be modular and easily implementable in other parts of the code, but in Magento 2 the moment you try to for example use a "simplified" version of lets say a form component which does not use a collection but just uploads a file you have to jump through hoops which are on fire, while having spikes below you to stab you just i

[2019-11-29 09:42] hoangnm89 commented on #25834
i can replicate the issue

![image](https://user-images.githubusercontent.com/655821/69859596-092da680-12c7-11ea-8108-0dfef3ddb3c4.png)

[2019-11-29 09:49] YouCanDoIt12 opened #25837 "Magento 2.3.3 rest api Get call rest/all/V1/categories not returning name in the the response"
### Preconditions (*)

Magento version: community 2.3.3
Rest Api : rest/all/V1/categories
Method: Get

### Steps to reproduce (*)

Make a get call to the rest api rest/all/V1/categories
check the response:
The response should contain name for the child category

### Expected result (*)

{
    "id": 1,
    "parent_id": 0,
    "name": "sss",
    "is_active": null,
    "position": 0,
    "level": 0,

[2019-11-29 09:57] magento-engcom-team commented on #25769
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29274` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-29 10:06] magento-engcom-team commented on #25761
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29275` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-29 10:14] engcom-Charlie commented on #25837
Hello @13mcmc12
This is known issue and it is fixed now by https://github.com/magento/magento2/commit/eb28168184ff769e0f03c8c2e5c2fe223cdac7a2#diff-06419995ef6a4b327e3306cfba805293R110. (fix will be included in 2.3.4 release line)

So i can close this issue as duplicate of https://github.com/magento/magento2/issues/25269

Thanks for your report!

[2019-11-29 10:14] #25837 closed, assigned to engcom-Charlie

[2019-11-29 10:16] lsv opened #26111 "configurable_options uses disabled products to populate the options"
### Preconditions (*)

1. magento/module-configurable-product-graph-ql: 100.3.1

### Steps to reproduce (*)

1. Create Configurable product which contains two Color configurations, for example, "Color1" and "Color2".
2. Disable the "Color2" configuration.
3. Perform query:
[code]
### Expected result (*)
Disabled option should not be returned.
[code]

### Actual result (*)
Disabled "Color2" option

[2019-11-29 10:16] magento-engcom-team commented on #25834
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29276` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-29 10:17] PieterCappelle commented on #25480
@hostep We are using 2.3.3. Thanks for pointing out the other issue, we have the same issue.
https://github.com/magento/magento2/issues/25099
https://github.com/FutureActivities/Magento-Fix-Category-Images

Thanks!

[2019-11-29 10:25] DigitalStartupUK commented on #23339
This is something I looked at previously by inserting the 2 `Header set Access-Control...` lines into the existing `<IfModule mod_headers.c>` entry in the vanilla `.htaccess` file:

[code]

However, this still resulted in Console Errors such as the example below:

[2019-11-29 11:33] omaxmo commented on #25826
https://devdocs.magento.com/guides/v2.3/config-guide/cli/config-cli-subcommands-static-view.html

[2019-11-29 11:33] #25826 closed, assigned to ajijshekh123

[2019-11-29 11:50] lbajsarowicz opened #25843 "MFTF: Static test to verify that ActionGroup file"
### Summary (*)
When submitting Magento Functional Testing Framework tests, developers usually submit several `ActionGroup` sections inside single `ActionGroup/*ActionGroup.xml` file. That's against MFTF best practices and should be avoided.

### Examples (*)
Discussion covered in https://github.com/magento/magento2/pull/25812

### Proposed solution
Static analysis to verify that ActionGroup file

[2019-11-29 12:08] ihor-sviziev commented on #23339
@DigitalStartupUK just replace `Header set Access-Control-Allow-Origin "https://my-cdn-url.com"’ to `Header set Access-Control-Allow-Origin "https://my-domain.co.uk"’

[2019-11-29 12:39] Parakoopa commented on #25455
Sorry! Dind't see, that this is already fixed in PR #25456. The issue can propably be closed @magento-engcom-team .

[2019-11-29 12:58] vrajeshkpatel commented on #23802
Same issue also in Magento 2.3.3 version.

[2019-11-29 13:17] nicholasscottfish commented on #24448
Hi @vishalpatel14,

Thanks for the update on this, do you happen to have a link to the fix so that I can access the diff file?

I still do think the default value should be an empty [] instead of null as null would never be an accepted value, but this looks to be a more concrete fix.

Thanks for sharing!

[2019-11-29 13:59] ArtemPopenko commented on #25620
@sdzhepa Could you please provide patch to fix the issue until 2.3.4 is not released?
Thanks a lot.

[2019-11-29 14:11] baljinderimpinge opened #25849 "Pagination not working in new products list widgets"
Hello Support,

I am using magento 2.2.3 and installed new product list using widget on home page using Insert Widget in the cms page content section. New products are listed on home page but pagination is not working there.
@victor-v-rad @victor-ruiz  Please check this issue and help me to solve this.

Thanks

[2019-11-29 14:16] DigitalStartupUK commented on #23339
@ihor-sviziev Same result whether I use "`https://my-domain.co.uk`" or "`https://my-cdn-url.com`". Thanks for your input though.

[2019-11-29 14:17] Parakoopa commented on #12087
I tried solving this issue by extending the regex in Magento\Framework\Filter\Template, however after some tests and thinking about it, I don't think this is actually solvable using regex. So to solve this, the directive parsing logic would propably need to be changed.

[2019-11-29 14:32] DavideLunardon commented on #9696
@pankajpragma, @benneca you can set a default on config.xml like this:
`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <currency>
            <options>
                <customsymbol>{"CAD":"CA$"}</customsymbol>
            </options>
        </currency

[2019-11-29 14:44] magento-engcom-team commented on #25438
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29280` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-29 14:53] AnnaShepa commented on #25536
@magento give me 2.3-develop instance

[2019-11-29 14:53] magento-engcom-team commented on #25536
Hi @AnnaShepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-29 14:54] magento-engcom-team commented on #25536
Hi @AnnaShepa, here is your [Magento instance](https://i-25536-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25536-2-3-develop.instances.magento-community.engineering/admin](https://i-25536-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-29 15:01] engcom-Charlie commented on #24782
We are closing this issue due to inactivity. If you'd like to update it, please inform me.

[2019-11-29 15:01] #24782 closed, assigned to engcom-Charlie

[2019-11-29 15:04] engcom-Echo commented on #25849
Hello @baljinderimpinge

Could you provide more details for reproduce this issue?
Please add steps to reproduce and screenshots.

[2019-11-29 15:09] AnnaShepa commented on #25536
Hi @TBFdirect unfortunately I cannot reproduce the error, so coupon code applied correct. Please try yourself on clean magento latest version, as well as please check payment method settings and probably   look into devtools if you have any errors there.

[2019-11-29 15:09] #25536 closed, assigned to krishprakash

[2019-11-29 15:11] PascalBrouwers commented on #25487
@toxix Having the same problem but only at certain periods it will grow unlimited. I will see if your fix works too.

[2019-11-29 15:17] magento-engcom-team commented on #24946
Hi @mattijv.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [4e3e5bd5d387cdb4ba6358c7d9e3a49a2cd8a3d8](https://github.com/magento/magento2/commit/4e3e5bd5d387cdb4ba6358c7d9e3a49a2cd8a3d8)
 - [071b47b38d08fe8c092625a19dca09bb6059e211](https://github.com/magento/magento2/c

[2019-11-29 15:17] #24946 closed, assigned to nobody

[2019-11-29 15:51] slackerzz commented on #19469
Let's celebrate the first birthday of this issue :birthday: :tada: :tada:

[2019-11-29 16:12] SlimJim192 commented on #25659
For myself the above fix was not present in 2.3.3 and the fix worked without problems. Perhaps you should double check?

[2019-11-29 19:15] martinmarsian opened #25855 "Almost all products vanish from frontend randomly"
### Preconditions (*)

1. Magento 2.3.3, PHP 7.1, MySQL 5.6, Migration from Magento 2.2.10

### Steps to reproduce (*)

1. Upgrade Magento 2.2.10 database to Magento 2.3.3
2. Run Magento for ~several hours, almost a day

### Expected result (*)

1. Running smoothly, accepting orders, products always avaiable in frontend
2.

### Actual result (*)

1. After a while of running Magento, like several h

[2019-11-29 19:23] bartoszkubicki commented on #3356
On Magento 2.3.2 seems to not be an issue any more

[2019-11-29 19:25] bartoszkubicki commented on #3356
This does not seem to be issue any more. I have replaced template using arguments in Magento 2.3.2.

[2019-11-29 20:00] lgrassini opened #25856 "Ordered Products Report not grouping by configurable products variations"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. In the Magento 2 admin go to Reports -> Products -> Ordered
2. Select a date range where you know you have sold products spanning across multiple orders
3. Select 'Show By' Month
4. Hit Refresh

### Expected result (*)

The list of products grouped by SKU instead of product_id. So we can have information about number of produc

[2019-11-30 00:23] lbajsarowicz commented on #25855
Do you use Elasticsearch?
Does the reindex & cache clean helps?

[2019-11-30 00:26] lbajsarowicz commented on #25843
Actually it turned out that it's enough to change XSD file, however it's strongly backward incompatible change and we'll be able to introduce such change only to MFTF core when all Magento core code contains properly separated Action Groups.

[2019-11-30 03:30] Sarke commented on #17556
I'm using Traefik with Let's Encrypt and Docker running Magento on port 80.  Adding `X-Forwarded-Proto = 'https'` worked for me too.

[2019-11-30 05:11] krishprakash commented on #24426
@magento give me 2.3-develop instance

[2019-11-30 05:11] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-30 05:11] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-30 07:52] thomasnits45 commented on #13860
please any body can replay ...?

[2019-11-30 09:46] joergmaertin commented on #25855
I don't use Elasticsearch. I still use MySQL for searching.
Reindex helps and brings back the products, but of course you have to watch the shop constantly, which is not possible, to apply reindexing when it happens randomly.

There is a link that claims to have a solution:

https://medium.com/@royandre/how-we-reduced-the-magento-2-price-reindex-process-from-hours-to-minutes-and-how-you-can-too-51

[2019-11-30 10:07] vrajeshkpatel commented on #23802
I have found the sollution of Magento2.3.3 Products not Save Once Imported If Products imported using csv issue.

In database table named <pre>'cataloginventory_stock_item'</pre> column named <pre>'use_config_max_sale_qty'</pre> affect the save functionality.

While importing using csv as per magento import/export functionalities It must be '1',not blank or '0'. So if import with blank or with zer

[2019-11-30 11:31] allanminium commented on #14881
On 2.3 at the moment. If the attribute field is a dropdown or multi-select, the fields need to be manually added into the system before it will be recognised. Insane.

[2019-11-30 11:39] amenk commented on #25111
@magento-engcom-team what is the status of the internal issue?

[2019-11-30 13:50] TomashKhamlai opened #25861 "Swagger schema doesn't show all available services for Customer when customer token is used"
### Preconditions (*)

1. Magento 2.3-develop
2. Registered Customer

### Steps to reproduce (*)

1. Get Customers token
[code]
2. Navigate to `/swagger`
3. Paste the token and click 'Apply' in the top-right corner
4. Can I update my details using customerCustomerRepository?

### Expected result (*)

1. Yes, I can

### Actual result (*)

1. No, I cannot.
![image](https://user-images.githubusercont

[2019-11-30 13:52] tr46 commented on #24942
Store switching never works when you have multiple domain.tld store views.

[2019-11-30 13:54] IvanChepurnyi opened #25862 "Missing paid orders and lock wait timeouts in Guest Checkout"
**Update on Jul 28 2020**
The issue was not completely fixed in internal Jira tickets MC-29335 and MC-29206.
[code]
https://github.com/magento/magento2/issues/25862#issuecomment-602170384
https://github.com/magento/magento2/issues/25862#issuecomment-665347649

**During peak sales hour, one of my customers lost 400+ Magento orders but had charged credit card transactions at the PSP.**

At first, I

[2019-11-30 14:08] magento-engcom-team commented on #25856
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29286` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-30 15:26] lbajsarowicz opened #25863 "MFTF tests does not cover anything: module-admin-analytics"
### Preconditions (*)
Magento Functional Testing Framework does not cover any behaviour. It should be implemented in the right way.
 https://github.com/magento/magento2/blob/cf29d0de077caae296bfc6151aecd4a9fd082d5a/app/code/Magento/AdminAnalytics/Test/Mftf/Test/TrackingScriptTest.xml

### Expected result (*)
1. Test should be implemented

### Actual result (*)
1. Test logs into admin panel and doe

[2019-11-30 15:28] #25863 closed, assigned to nobody

[2019-11-30 16:15] shikhamis11 commented on #25780
hi @rafaelstz
Thank you for reporting this issue. It will process faster if you report this at [Magento Feature request](https://github.com/magento/community-features)

[2019-11-30 16:15] #25780 closed, assigned to shikhamis11

[2019-11-30 16:17] shikhamis11 commented on #25779
@magento give me 2.3-develop instance

[2019-11-30 16:17] magento-engcom-team commented on #25779
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-30 16:17] shikhamis11 commented on #25779
@magento give me 2.3.2 instance

[2019-11-30 16:17] magento-engcom-team commented on #25779
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-11-30 16:18] magento-engcom-team commented on #25779
Hi @shikhamis11, here is your [Magento instance](https://i-25779-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25779-2-3-develop.instances.magento-community.engineering/admin](https://i-25779-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-01 08:05] shoebahamed commented on #23443
I have a similar issue.
I am unable to run setup: upgrade.
I get the below error. setup is trying to create an existing table. admin_analytics_usage_version_log was created using declarative schema from a fresh Magento installation.

`root@535b514593ca:/var/www/magento# bin/magento setup:upgrade

Cache cleared successfully
File system cleanup:
/var/www/magento/generated/code/Composer
/var/www/mage

[2019-12-01 09:07] Yuwei9291 opened #25865 "Incorrect coordinate value in dashboard diagram"
### Preconditions (*)

1.CentOS 7,Nginx 16, Mysql 5.6, php 7.3
2.Clean install magento 2.3.3
3.Upload products
4. Enable Charts.
### Steps to reproduce (*)

1.Place an order
2. Invoice an order
3.Go to dashboard
### Expected result (*)

1. It should show 1 not 2 here
![shouldb elikethat](https://user-images.githubusercontent.com/45879513/69911867-cbfb1d00-145c-11ea-9536-4d814143a73f.jpg)

### Actu

[2019-12-01 09:20] GuiltyNL commented on #13269
Also reproduced in 2.3.3

[2019-12-01 11:09] hostep commented on #23450
@adamlavery: RabbitMQ is only needed for the Bulk API of Magento (`async.operations.all` consumer), all the other message queue consumers which are implemented in core Magento use the Mysql database for storing the messages.
Extensions can use whatever they want, it's defined in the xml files for queues which broker they use.
Hope this helps.

[2019-12-01 13:57] ihor-sviziev commented on #13269
Hi @engcom-Alfa,
People still reporting that issue reproducing. Could you double check if this issue reproducing on 2.3-develop?

[2019-12-01 14:52] edenduong opened #25866 "Can not set Negative number for Out of stock threshold"
### Preconditions (*)

1. Magento 2.3-develop

### Steps to reproduce (*)

As this document: the out of stock threshold can be negative number
https://docs.magento.com/m2/ce/user_guide/catalog/inventory-backorders.html#out-of-stock-threshold

1. Go to backend
2. Store->configurations
3. Catalog -> Inventory
4. in Product Stock Options, set "Backorders" is "Allow qty below 0" and  Out of stock thre

[2019-12-01 15:36] krishprakash commented on #25866
@magento give me 2.3-develop instance

[2019-12-01 15:36] magento-engcom-team commented on #25866
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-01 15:37] magento-engcom-team commented on #25866
Hi @krishprakash, here is your [Magento instance](https://i-25866-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25866-2-3-develop.instances.magento-community.engineering/admin](https://i-25866-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-01 15:43] magento-engcom-team commented on #25866
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29288` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-01 17:07] stefandoorn commented on #9906
@magento-engcom-team Any update on this issue? We are experiencing similar problems on a database with similar amount of products. We see exactly the same happening, with the indexers running forever.

[2019-12-01 18:16] sagaltsev commented on #25776
Issue is not reproducible on 2.3-develop

[2019-12-01 18:16] #25776 closed, assigned to staniag

[2019-12-01 19:07] ant-workaholic commented on #5860
This issue is still present in Magento 2.3.3. I am not sure that this should be just closed.

[2019-12-01 20:02] krzksz commented on #23664
Hello @drazulay, thanks for the report! Unfortunately, the issue you're discribing has nothing to do with Magento but rather with RequireJS optimizer itself. [In the official documentation](https://requirejs.org/docs/optimization.html#empty) you can find:

There are two different approaches described there depending if you really want the file to be included in the bundle or not.

[2019-12-01 20:02] #23664 closed, assigned to nobody

[2019-12-01 20:03] krzksz commented on #23575
Fixed by https://github.com/magento/magento2/pull/23699, closing.

[2019-12-01 20:03] #23575 closed, assigned to nobody

[2019-12-01 20:22] krzksz commented on #23339
If I understand correctly, what you are describing is a standard CDN configuration for Magento where all static files (including HTML templates) are served from different domain then the shop itself. This is 100% doable and only requires valid configuration of both the host and CDN server to return proper headers for both GET and OPTIONS requests for those files.

This is not a Magento issue and t

[2019-12-01 20:22] #23339 closed, assigned to nobody

[2019-12-01 20:39] krzksz commented on #23487
I'm closing this as the expected result (prohibiting special characters) is an unacceptable solution for people in many countries. There is a [great article by W3C](https://www.w3.org/International/questions/qa-personal-names), which outlines only a few examples of valid names which would be prohibited like `Björk Guðmundsdóttir`, `María-Jose Carreño Quiñones` or `John Q. Public`. Additionally, Ma

[2019-12-01 20:39] #23487 closed, assigned to nobody

[2019-12-01 21:00] krzksz commented on #21717
Closing this as a dupplicate of https://github.com/magento/magento2/issues/10518

[2019-12-01 21:00] #21717 closed, assigned to krzksz

[2019-12-01 22:20] gtlt commented on #24942
In magento 2.3.2, for views in subdomains I was able to circumvent the issue by adding domain to cookies : https://github.com/magento/magento2/issues/22966#issuecomment-494948104, maybe it can works in multiple domain.tld ?
Magento store switch is awfully crap, each update gives another issue... with 2.3.3 I can't have a proper working switch. It's like nothing is tested when they release a new ve

[2019-12-02 02:09] haiwera-silk-cd opened #25870 "Wrong email shows in order success page with multi-store"
### Preconditions (*)

1. Magento version 2.2.5
2. PHP 7.1.0
3. Mysql 5.7
4. Multi-store with order increment id the same(sequence id starts with the same number)
5. assume default store named store 1, the other store is store 2
### Steps to reproduce (*)

1. Place an order as a guest with email xxx@xx.com in store 1, assume increment id is 000000001
2. Actual/Expected: Order placed successfully,

[2019-12-02 02:49] CompactCodeEU commented on #10304
Let me clarify some things :

1. This should really be 2 separate things. Backorders should allow the order of out of stock products. Another setting could be made to disable the add to cart like an 'Is Saleable' boolean field on product level.

2. We have enabled 'Allow Qty Below 0 and Notify Customer' and it is still automatically setting '`stock_status`' to 0 in `cataloginventory_stock_status`

[2019-12-02 05:34] ajijshekh123 commented on #25737
@Munszu - If you have reproduce this issue, You can reopen it and update your video or steps.
Thanks.

[2019-12-02 05:34] #25737 closed, assigned to ajijshekh123

[2019-12-02 07:14] imranbashirseo commented on #12683
hi
i am facing error on magento 2 for installation on my vps my mod_version is also enable which i enable through WHM but when i am renaming my htaccess on my vps installation running but css and other settings nothing showing as pr theme however this theme is working fine on my localhost

i am sharing my htaccess which is on live anyone can help me plz?
[htaccess(1).zip](https://github.com/magent

[2019-12-02 07:51] engcom-Echo commented on #25631
Hello @EngPeterMaged

We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-12-02 07:51] #25631 closed, assigned to engcom-Echo

[2019-12-02 07:53] magento-engcom-team commented on #25748
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29294` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-02 08:24] imrankln opened #25871 "Prepare system environment more simplear and compact"
https://github.com/magento/magento2/issues/new?template=feature_request.md

### Description (*)

System requirement should be more simplified and compact. Like one Vagrantfile or docker-image should provide from Magento. Like, with one single command it will prepare environment for magento.

### Expected behavior (*)

Creating system environment for Magento installation.

### Benefits

It will sav

[2019-12-02 08:44] engcom-Alfa commented on #13269
Hi @ihor-sviziev,
Ok, I'll check it.

[2019-12-02 09:02] evs-xsarus commented on #18451
Possible fix see https://github.com/magento/magento2/pull/25479/commits/bedbb377740644f236e93b2e34fc8fd70530aaa6

[2019-12-02 09:38] insaurabh opened #25872 "DHL price not updated on store change"
### Preconditions (*)
1.  Magento version 2.2.x & 2.3.x
2.  PHP 7.1 & 7.2

### Steps to reproduce (*)

1. Add a product
2. On Filling State and ZIP code the DHL ajax works and fill up the prices
![image](https://user-images.githubusercontent.com/51680850/69954737-ab869d80-1504-11ea-8434-2a36ac9d1349.png)
3. Change the store form USD (Dollar) to EUR (Euro)

### Expected result (*)
    The Price sho

[2019-12-02 09:39] maddyBoy commented on #25192
#25872

[2019-12-02 10:01] engcom-Charlie commented on #25507
Hello @dmanners
We are not able to reproduce this issue on the latest 2.3-develop branch by provided steps.

**Code used:**
[code]
**Result:**
Re-index to be successfully completed without any errors or exceptions.

![image](https://user-images.githubusercontent.com/51680850/69949586-79703e00-14fa-11ea-9049-b7a58b5ce461.png)

We are closing this issue due to branch `2.2-develop` was closed and

Th

[2019-12-02 10:01] #25507 closed, assigned to engcom-Charlie

[2019-12-02 10:06] magento-engcom-team commented on #25192
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29295` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-02 10:08] michaeldyl520 opened #25873 "Graphql classification search results are inconsistent with fontend"
### Preconditions (*)

2.3-develop

### Steps to reproduce (*)

1.Start a search with keyword 'Luma' in frontend
2.Start a search with keyword 'Luma' in graphql, for example below
[code]

### Expected result (*)

1. Graphql search results should be consistent with frontend search results.

### Actual result (*)

1. Frontend search result
![20191202175148](https://user-images.githubusercontent.com/

[2019-12-02 10:13] engcom-Charlie commented on #25872
@magento give me 2.3-develop instance

[2019-12-02 10:14] magento-engcom-team commented on #25872
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-02 10:14] magento-engcom-team commented on #25872
Hi @engcom-Charlie, here is your [Magento instance](https://i-25872-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25872-2-3-develop.instances.magento-community.engineering/admin](https://i-25872-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-02 10:25] acashley commented on #23339
@krzksz

I don't think you do understand correctly.

"Cross-domain XMLHttpRequest requests are not permitted by the browser, and it is not possible to override these on the web server"

Please re-read everything from the top. You have made the same assumptions as @shikhamis11
This error is not due to a server or CDN misconfiguration.

[2019-12-02 10:55] lincank commented on #23339
It turns out it is a Nginx configuration issue. The broswer is expecting to receive a 200 response which sending preflight request by using `OPTIONS` method, but Nginx return 405 as default. So basically add the following lines within `server` block to let Nginx return`200` for `OPTIONS` methon and allow `X-Requested-With` header.

[code]

I highly recommend Magento team to add these lines or guid

[2019-12-02 11:12] engcom-Charlie commented on #25872
Hello @maddyBoy
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.3-develop branch by provided steps.

**Testing scenario:**
1. Add a product
2. On Filling State and ZIP code the DHL ajax works and fill up the prices
![image](https://user-images.githubusercontent.com/51680850/69954737-ab869d80-1504-11ea-8434-2a36ac9d1349.png)
3. Change the store

[2019-12-02 11:16] magento-engcom-team commented on #25872
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29298` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-02 12:03] Ashna-Jahan commented on #13952
Hi @magento-engcom-team,

We are still facing the above issue in version 2.3.2, we are able to place multiple orders at the same time when clicked simultaneously from 2 different browsers.

We found a solution, wherein we could make the quote_id field in the sales_order table as a UNIQUE field. Kindly let us know if this could be right approach to follow.

[2019-12-02 12:17] lewis-dan commented on #10479
The issue is still there on Magento v2.3.3, getting the same error.

[2019-12-02 12:28] TerreFra opened #25877 "Produced in stock, despite the Salable QTY is at zero."
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Salable Quantity and Quantity = 1 (https://prnt.sc/q50vv4)
2. An order is placed, and the Salable Quantity drops to zero, while the Quantity remains at 1. (https://prnt.sc/q50w91)

### Expected result (*)

1. The product, having Salable Quantity 0, goes out of stock.

### Actual result (*)

1. The product remains in stock, and

[2019-12-02 12:32] sushantvishwas1990 commented on #22079
Override languages.phtml in your theme with the following content:
path :/magento_root_direcory/app/design/frontend/VendorName/ThemeName/Magento_Store/templates/switch/languages.phtml

`<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Magento\Store\Block\Switcher $block */
?>
<?php if (count($block->getStores())>1): ?>
    <?php $id

[2019-12-02 12:46] magento-engcom-team commented on #25861
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29301` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-02 13:01] engcom-Charlie commented on #24185
Hello @madonzy
Could you add `SomeCompany\OpenLoyalty\Api\Data\QueueOrderInterface` file?

[2019-12-02 13:15] engcom-Alfa commented on #13269
@ihor-sviziev Unfortunately, we are not able to reproduce this issue on fresh 2.3-develop and 2.3.3 instances.

**Manual testing scenario:**

1. Create order from frontend;

2. Add & to store view name

- Go to Admin >> Stores >> All Stores

- Click on "Default Store View"

- Change the Name field to "Default & Store View"

- Click "Save Store View" button

3. Remove all log files from magento2/va

[2019-12-02 13:17] engcom-Echo commented on #25870
Hello @haiwera-silk-cd

Thank you for your report and collaboration!
We are not able to reproduce this issue by provided steps.
Tested on 2.3-develop and 2.3.3.

**Testing scenario:**

**Preconditions:**

1. Two websites are created.
2. Product assigned to each site.

**Steps to reproduce**

1. Place an order as a guest with email site1m2@xx.com in store 1
![Screenshot from 2019-12-02 13-24-35](ht

[2019-12-02 13:17] engcom-Charlie commented on #25873
Hello @michaeldyl520
Thank you for contribution and collaboration!
Your issue for Magento Graphql repository.

Please duplicate this issue in [Magento Graphql  repository](https://github.com/magento/graphql-ce/issues), for advice or general discussion about this issue.

[2019-12-02 13:17] #25873 closed, assigned to engcom-Charlie

[2019-12-02 13:18] gerben86 commented on #13269
Did you also check it with this instruction?: https://github.com/magento/magento2/issues/13269#issuecomment-412502534
Because that makes more sense then updating the name of the store.

[2019-12-02 13:25] karlsminton commented on #14232
I was able to patch this so it works sufficiently by commenting out `->loadByStore($storeId)`

[2019-12-02 13:37] engcom-Alfa commented on #13269
@gerben86 Yes, of course. We also tested [this](https://github.com/magento/magento2/issues/13269#issuecomment-412502534) scenario and no exceptions occurred. Thanks!

[2019-12-02 14:04] magento-engcom-team commented on #25865
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29307` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-02 14:15] krzksz commented on #23339
I followed your reproduction steps which clearly indicate issue with CORS. We have Magento 2.3 store where all static assets (including the `messages.html` you mentioned) are loaded from different domain and everything is working flawlessly.
<img width="879" alt="obraz" src="https://user-images.githubusercontent.com/829189/69966345-6ff4cf00-1516-11ea-95ff-688df6667cfb.png">

[2019-12-02 14:39] GuiltyNL commented on #13269
@engcom-Alfa It can be reproduced by adding a order comment with just: "&". Same exception will show up in the logfile.

[2019-12-02 14:45] abramchukm commented on #25877
@magento give me 2.3-develop instance

[2019-12-02 14:45] magento-engcom-team commented on #25877
Hi @abramchukm. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-02 14:46] magento-engcom-team commented on #25877
Hi @abramchukm, here is your [Magento instance](https://i-25877-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25877-2-3-develop.instances.magento-community.engineering/admin](https://i-25877-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-02 14:47] navarr commented on #25502
Vertex is a bundled extension that is not part of this repository, and so is not in the 2.3-develop branch.

If you are not using Vertex for tax calculation, I recommend disabling the module for a performance improvement on this screen.  The slowness is caused by a UIComponent heavy user interface for selecting flexible fields.

It is unlikely we'll have a solution in the near future for the perfo

[2019-12-02 15:07] infinityredux opened #25879 "POST request to create product causes 404 when including customizable options"
### Preconditions (*)
Magento 2.3.2-p2

### Steps to reproduce (*)
1. Create an integration (to get a bearer token for the product API.)
2. Make a POST request to the `rest/all/V1/products` end point with a payload containing data for a customizable option.

Example payload:
[code]
### Expected result (*)
Product created according to the details provided.

### Actual result (*)
404 response with a

[2019-12-02 15:21] Userr017 commented on #20333
@AkhilRamani1797 How you edit it? /vendor/zendframework/zend-stdlib/src/ArrayObject.php

[code]

[2019-12-02 15:29] philkun commented on #10454
Have you tested this with 1 attribute configurable products?
For example, a product with one variant e.g. size

[2019-12-02 16:14] rhoerr commented on #25862
This same code also wreaks havoc on error handling, and the ability to handle errors from code when they do occur.

Related issue: https://github.com/magento/magento2/issues/18752#issuecomment-522027742

[2019-12-02 17:17] azambon commented on #25659
Made a PR for this. Let's see if this finally gets something moving after over one year of nothingness.

[2019-12-02 17:33] dan-ding commented on #25222
I don't know how to re-produce this yet - but it does happen on occasion with Paypal Express.
2.3.2-xyz
Missing "last transaction id" makes it pretty obvious.

Paypal payment events in order:
SetExpressCheckout => Authorization is successful (with what seems to be correct invnum/order number)
GetExpressCheckoutDetails => is successful
DoExpressCheckoutPayment (paymentaction - authorization) => is

[2019-12-02 18:15] mediadiv commented on #24132
I have the same problem.
Magento open source ver. 2.3.2
PHP 7.3 (ea-php73)

![error](https://user-images.githubusercontent.com/11540227/69983815-e5bd6280-1537-11ea-946d-637a86a178c1.PNG)

[2019-12-02 19:13] krzksz commented on #24525
@magento give me 2.3-develop instance

[2019-12-02 19:13] magento-engcom-team commented on #24525
Hi @krzksz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-02 19:13] magento-engcom-team commented on #24525
Hi @krzksz, here is your [Magento instance](https://i-24525-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24525-2-3-develop.instances.magento-community.engineering/admin](https://i-24525-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-02 19:17] infinityredux commented on #25879
Ah, found the cause of this error. Need to remove both `option_id` and the `option_type_id` for every element in values. Closing the issue.

[2019-12-02 19:17] #25879 closed, assigned to nobody

[2019-12-02 19:24] krzksz commented on #24525
I cannot reproduce the issue with JS not loading so it seems to be an issue with the script itself.
<img width="893" alt="obraz" src="https://user-images.githubusercontent.com/829189/69988197-7482ad00-1541-11ea-8857-de03b7238c7b.png">
There is also a nice guide in DevDocs on loading JavaScript so please check that: https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/javascript/js_overview

[2019-12-02 19:24] #24525 closed, assigned to nobody

[2019-12-02 19:44] krzksz commented on #23776
Setting it as a dupplicate of https://github.com/magento/magento2/issues/24637 as that issue already has some work in progress.

[2019-12-02 19:44] #23776 closed, assigned to nobody

[2019-12-02 20:07] markalston commented on #25650
I am having this issue on 2.3.3

[2019-12-02 21:01] krzksz commented on #23864
@magento give me 2.3-develop instance

[2019-12-02 21:01] magento-engcom-team commented on #23864
Hi @krzksz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-02 21:02] gotanasro3 commented on #12914
Do we have any updates here?

[2019-12-02 21:02] magento-engcom-team commented on #23864
Hi @krzksz, here is your [Magento instance](https://i-23864-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23864-2-3-develop.instances.magento-community.engineering/admin](https://i-23864-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-02 21:11] krzksz commented on #23864
Thanks for the contribution! I tested it using the steps you provided and I'm not able to reproduce the issue anymore so I'm closing this issue. Feel free to reopen it with updated reproduction steps.

[2019-12-02 21:11] #23864 closed, assigned to nobody

[2019-12-02 21:55] sivaschenko opened #25881 "Admin panel is not accessible after limited permissions set to at least one admin account"
### Preconditions (*)

Magento is installed

## Steps to reproduce (*)

- Login to admin panel
- Go to System->User Roles
- Create a new role:
- In Role Resources check only Media Gallery
![image](https://user-images.githubusercontent.com/2028541/69998457-3e97f580-154e-11ea-85d7-7d8efd8ecfbc.png)
- Create a new admin user account and assign the created role to it
- Log out from admin panel
- Log i

[2019-12-02 22:10] aliomattux commented on #25099
Could someone please explain the patch referenced? It says app/code/magento but the path for core code is vendor/magento.

Also, the patch says line 35 of Image.php but in core 2.3.3 that line of code is found on 122 in vendor/magento/module-catalog/Model/Category/Attribute/Backend/Image.php

Also, will Magento release an official patch for this issue that can be downloaded/applied from the downlo

[2019-12-02 22:18] dmytro-ch commented on #25866
Closing as duplicate of magento/magento2#25158

[2019-12-02 22:18] #25866 closed, assigned to dmytro-ch, staniag

[2019-12-02 23:33] merance2000 commented on #25763
We are still struggling with this.

This from our sync vendor. Do you have any suggestions? We didn’t have the issue until we upgraded to 2.3.3. Please help if you can!!!!

  <https://secure.gravatar.com/avatar/27f7f9611eca76eb137b0e54934b7205?size=40&default=https%3A%2F%2Fassets.zendesk.com%2Fimages%2F2016%2Fdefault-avatar-80.png&r=g>

Greg Maclean (FarApp)

Dec 2, 3:03 PM PST

Hi Merance,

There

[2019-12-03 00:23] merance2000 commented on #25763
Another note from our sync guys:

I tried doing the exact same thing but it didn't retain the roles. The difference is I was sending an image that already existed once before on that product whereas they sent a new image.

When I switched over to your standalone item on the initial sync the roles were retained but on subsequent syncs they were lost with no change in the data we were sending. That

[2019-12-03 00:31] krishprakash commented on #25881
@magento give me 2.3-develop instance

[2019-12-03 00:31] magento-engcom-team commented on #25881
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-03 00:31] magento-engcom-team commented on #25881
Hi @krishprakash, here is your [Magento instance](https://i-25881-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25881-2-3-develop.instances.magento-community.engineering/admin](https://i-25881-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-03 01:13] krishprakash commented on #25881
Hi @sivaschenko.
I'm not able to reproduce the issue on 2.3 develop instance as provided steps by you.
I followed the steps below to reproduce the issue:
1. Login to admin panel
2. System > User Roles > Created a new role with only Media gallery permission
3. Create new user and assigned newly created role
4. Logout from main admin
5. Login with newly created admin role
6. Open the private window

[2019-12-03 01:35] haiwera-silk-cd commented on #25870
@engcom-Echo The steps were correct, but What I mean is the same order increment id are placed in both sites. I believe you would never reproduce the issue in the normal way, This should be a strategic issue that "would we allow the same increment id appears in different stores". if the answer is true, you could reproduce the issue after executing the sql in DB
[code]
and then, place an order in s

[2019-12-03 01:51] haiwera-silk-cd commented on #25870
BTW, I took a little survey in the code, the function loadByIncrementId in `\Magento\Sales\Model\Order` is unaware of distinguishing stores, it returns the first row that matches the increment id

[2019-12-03 04:59] krishprakash commented on #25881
Reproduced in my local vanilla instance.
Can not access the main admin as described in issue description.
![image](https://user-images.githubusercontent.com/46617848/70021736-bb12ee80-15b7-11ea-9bd0-f298281f1b7c.png)

[2019-12-03 05:00] magento-engcom-team commented on #25881
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29321` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-03 07:19] stephansteiner opened #25882 "Deadlock on url_rewrite when importing"
When importing a large CSV file containing simple products, I get a database error:

Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction, query was: INSERT  INTO `url_rewrite` (`redirect_type`,`is_autogenerated`,`metadata`,`description`,`entity_type`,`entity_id`,`request_path`,`target_path`,`store_id`) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?

[2019-12-03 10:01] mattijv commented on #25752
@gibbotronic The `cataloginventory_stock_status` is used as an index table, i.e. it contains precalculated values for the stock status of the product (is it considered to be in stock or out of stock) and the qty. Determining these values from the cataloginventory_stock_item can require some costly logic and is therefore precalculated into the the status table with the `cataloginventory_stock` inde

[2019-12-03 10:20] hnsr commented on #9906
This issue is fixed in 2.3.3, see https://github.com/magento/magento2/commit/995f4cbf2ae6831d9a9ae8c15d4ffe15f0183cc2#diff-3ca4f2337ba3276ff18729fdf70f63c9

[2019-12-03 10:33] BKorotkiy opened #25883 "Country options works incorrectly when edit user addresses"
### Preconditions (*)

1. Magento 2.3.3
2. Stock Magento 2.3.3 with Sample Data

### Steps to reproduce (*)

1. In _Admin Panel_ -> _Stores_ -> _General_ -> _General_ -> _Country Options_ select **Default Country**: United States and in **Allow Countries** select one country: United States, click **Save Config**.
2. Refresh Magento's cache.
3. Go to _Customer_ -> _All Customers_ -> _Select any cus

[2019-12-03 10:38] BKorotkiy commented on #25883
yes

[2019-12-03 10:39] engcom-Echo commented on #25855
Hello @joergmaertin

Thank you for your report and collaboration!
We are not able to reproduce this issue on the 2.3.3 branch by provided steps.

**Preconditions**
1. Magento 2.2.10 is installed.
2. Products and orders are created.

**Steps to reproduce**

1. Upgrade Magento 2.2.10 database to Magento 2.3.3 (via Command Line) how described [here](https://devdocs.magento.com/guides/v2.3/comp-mgr/cl

[2019-12-03 10:43] BKorotkiy commented on #25883
@magento yes

[2019-12-03 10:44] krishprakash commented on #25883
Hi @BKorotkiy. Thank you for your report.
Issue is already open
You can review the conversation at #25218

[2019-12-03 10:44] #25883 closed, assigned to krishprakash

[2019-12-03 10:46] artursson opened #25884 "UX/UI fixes for Index Management Grid"
### Preconditions (*)

Magento 2.3.2 and Magento 2.3.3 versions

### Steps to reproduce (*)

1. Open Magento Admin Panel
2. Go to System -> Index Management

### Expected result (*)

Checkboxes for select are centered and clickable
![image](https://user-images.githubusercontent.com/55872143/70044198-8d837080-15ca-11ea-8b14-2799d7f13cda.png)

### Actual result (*)

Checkboxes for select are shifted

[2019-12-03 10:47] artursson commented on #25884
yes

[2019-12-03 10:53] krishprakash commented on #25884
Hi @artursson.
This issue is resolved and reported earlier. That fix will be included in Magento 2.3.4 .
You can review it at #25773
Review the PR #25443
Thanks for your report!

[2019-12-03 10:53] #25884 closed, assigned to krishprakash

[2019-12-03 11:08] engcom-Charlie commented on #25763
Hello @merance2000
I tried again on Magento 2.3.3 & 2.3-develop with this body(create product firstly than edit it with image types changing):
[code]
and the result was same as before(all works fine).
So i can't confirm your issue.
Thanks for your report!

[2019-12-03 11:08] #25763 closed, assigned to engcom-Charlie

[2019-12-03 11:16] magento-engcom-team commented on #13269
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29328` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-03 11:19] oncesk opened #25885 "Magento 2.3.3. Wrong logic in get.php(static content serving) triggering exception ObjectManager isn\'t initialized"
### Preconditions (*)
1. Magento 2.3.3
2. Nginx dedicated server
3. Php 7.2

### Steps to reproduce (*)
1. We were faced with issue of incorrect logic in get.php after upgrading magento to 2.3.3.
2. Please take a look at get.php:

https://github.com/magento/magento2/blob/2.3-develop/pub/get.php#L56
![image](https://user-images.githubusercontent.com/2046092/70046331-e22ce880-15d6-11ea-825a-e89b3733

[2019-12-03 11:36] engcom-Echo commented on #25870
Hello @haiwera-silk-cd

Could you provide a use case why is it necessary to change the order increment id?

Thank you!

[2019-12-03 11:41] engcom-Charlie commented on #25882
Hello @stephansteiner
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the Magento 2.3.3

**Testing scenario:**
1. Export products
![image](https://user-images.githubusercontent.com/51680850/70047942-c7a44080-15d1-11ea-9c3d-b1db7477fe81.png)
2. Download CSV file
3. In Magento 2.3.3 open the System > Data Transfer > Import section.
4. Use the following setti

[2019-12-03 11:41] #25882 closed, assigned to engcom-Charlie

[2019-12-03 12:08] merance2000 commented on #25763
But we aren’t changing the image. He is sending the same image when he updates the product.

From: Maxim Vdovenko <notifications@github.com>
Sent: Tuesday, December 3, 2019 6:08 AM
To: magento/magento2 <magento2@noreply.github.com>
Cc: merance2000 <merance@adamspetsupplies.com>; Mention <mention@noreply.github.com>
Subject: Re: [magento/magento2] Image roles are not being selected in items created

[2019-12-03 12:51] magento-engcom-team commented on #25862
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29335` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-03 13:09] magento-engcom-team commented on #25843
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29336` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-03 13:47] jotakar commented on #2332
I have the same problem Magento 2.3., All other shipping method are shown OK,

[2019-12-03 14:29] magento-engcom-team commented on #25885
@engcom-Echo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2019-12-03 14:33] magento-engcom-team commented on #25885
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29342` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-03 15:09] PascalBrouwers commented on #25862
Interested if this will also fix my issues with ghost orders who have an order id in PSP

[2019-12-03 15:10] killday commented on #2332
What worked for me is to show the mini cart in the layout for the checkout page and then hiding it again. For some reason when hide the mini cart it hides the shipping method.

[2019-12-03 15:51] magento-engcom-team commented on #25484
Hi @sunilit42.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.5` release.

[2019-12-03 15:51] #25484 closed, assigned to nobody

[2019-12-03 15:51] magento-engcom-team commented on #22274
Hi @Ctucker9233.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.3.5` release.

[2019-12-03 15:51] #22274 closed, assigned to nobody

[2019-12-03 16:13] dan-ding opened #25886 "SynonymAnalyzer.php in module-search is evaluating user input as a regex"
### Preconditions (*)

2.3.2-xyz
2.3-develop
prolly others

### Steps to reproduce (*)

1. install magento
2. enable elasticsearch
3. do a weird search for something like: http://www.a
GET /catalogsearch/result/?q=http://www.a

### Expected result (*)

1. the search results screen saying the term couldn't be found

### Actual result (*)

1. error message
2. in production mode, error report is gene

[2019-12-03 16:19] dan-ding commented on #25886
@magento this can't be shown on an instance as it requires elasticsearch

[2019-12-03 16:43] itwebdev2 commented on #25877
You need to dispatch the item for the stock quantity value to drop. According to Magento MSI, this is correct behavior. The order creates the reservation, which lowers the salable quantity, however the actual quantity will be lowered when the order is dispatched to the customer.

[2019-12-03 16:45] jotakar commented on #2332
Thak you but this is not a valid fix for me.
I need flate rate shown as the other shipping method does.

[2019-12-03 17:08] VladimirZaets commented on #25042
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#25789 by @mfickers in 2.3-develop branch
Related commit(s):
 - [9abcf547c0d5160de4cfa0c5e3b907056fb8f311](https://github.com/magento/magento2/commit/9abcf547c0d5160de4cfa0c5e3b907056fb8f311)
 - [136cb0400b7e8beb50be8a4bef75c62ff08b0937](https://github.com/magento/magento2/commit/136cb0400b7e8beb50be8a4bef75c62ff0

[2019-12-03 17:08] #25042 closed, assigned to mfickers

[2019-12-03 17:08] VladimirZaets commented on #21504
Hi @mageprince. Thank you for your report.
The issue has been fixed in magento/magento2#25421 by @torhoehn in 2.3-develop branch
Related commit(s):
 - [be24d9005aecac7cbeabdefc2a49771a3d4790cd](https://github.com/magento/magento2/commit/be24d9005aecac7cbeabdefc2a49771a3d4790cd)
 - [0cd4aeae861db9593da45040f9e46691ea340379](https://github.com/magento/magento2/commit/0cd4aeae861db9593da45040f9e46691

[2019-12-03 17:08] #21504 closed, assigned to torhoehn

[2019-12-03 17:08] VladimirZaets commented on #25635
Hi @diegocpires. Thank you for your report.
The issue has been fixed in magento/magento2#25612 by @diegocpires in 2.3-develop branch
Related commit(s):
 - [9898d5cc6e7dcec9eb3428d2e17a9fba014c6440](https://github.com/magento/magento2/commit/9898d5cc6e7dcec9eb3428d2e17a9fba014c6440)
 - [93dcd502a9b04c56fa46b5cc446915b4de5bf0c8](https://github.com/magento/magento2/commit/93dcd502a9b04c56fa46b5cc4469

[2019-12-03 17:08] #25635 closed, assigned to rodrigowebjump, diegocpires

[2019-12-03 19:04] testmagento2 opened #25887 "Error Auth Api invalid client id Paypal"
### Preconditions (*)
1. Magento 2.3.2 & 2.3-develop
2. paypal checkout
3.All Extensions are disabled.

**Also tried that on Magento 2.3.3 fresh installation.**

### Steps to reproduce (*)

1. Add product to cart.
2. Proceed to checkout.
3. Paypal express Checkout.

### Expected result (*)

1. Make an order

### Actual result (*)

1. Paypal client id invalid.
![paypal_401](https://user-images.gith

[2019-12-03 19:06] jotakar opened #25888 "Flat rate not showing"
Hello
Magento 2.3.3 (just one store and default store view )
I set Flat Rate but the option doesn't appear when shopping.
Others shipping methods works fine, and they are shown right.
I'm sure the setting parameters are OK. I tested and check each and every value in config tab for this shipping method.
Please any fix for this bug?
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-12-03 19:13] jotakar commented on #25888
Hello again
Cannot understand the way to send a issue, I repeat
Magento 2.3.3 witth just one store
Flat Rate does not shown, even if it has been set right.
Following m2-assistant I write this line (but I dont understand why I have do this)
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-12-03 19:14] magento-engcom-team commented on #25888
Hi @jotakar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-03 19:14] magento-engcom-team commented on #25888
Hi @jotakar, here is your [Magento instance](https://i-25888-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25888-2-3-develop.instances.magento-community.engineering/admin](https://i-25888-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-03 19:15] jotakar commented on #25888
OOh, I've seen the light. Now.

[2019-12-03 19:26] jotakar commented on #25888
I can not reproduce this issue. In vainilla all is OK

[2019-12-03 19:49] mrichard-abso commented on #24992
Having the same issue on our Magento Cloud 2.2.10, and unable to reproduce on a local machine. We've added @0x15f 's patch, and works great. Could be due to a php setting that we're unable to configure on the cloud.

[2019-12-03 20:21] #13209 closed, assigned to krzksz

[2019-12-03 20:21] VladimirZaets commented on #25715
Hi @Detzler. Thank you for your report.
The issue has been fixed in magento/magento2#25770 by @AndreyChorniy in 2.3-develop branch
Related commit(s):
 - [ed92b99eae3b856a46aa903f8514ac118d1d808e](https://github.com/magento/magento2/commit/ed92b99eae3b856a46aa903f8514ac118d1d808e)

The fix will be available with the upcoming 2.3.5 release.

[2019-12-03 20:21] #25715 closed, assigned to AndreyChorniy

[2019-12-03 20:21] VladimirZaets commented on #25757
Hi @Nagamaiah007. Thank you for your report.
The issue has been fixed in magento/magento2#25760 by @Nagamaiah007 in 2.3-develop branch
Related commit(s):
 - [e95fee449a70264c36e0e482bd3f56c3bf7cafb4](https://github.com/magento/magento2/commit/e95fee449a70264c36e0e482bd3f56c3bf7cafb4)

The fix will be available with the upcoming 2.3.5 release.

[2019-12-03 20:21] #25757 closed, assigned to Nagamaiah007

[2019-12-03 20:21] VladimirZaets commented on #25703
Hi @fabriciosobral. Thank you for your report.
The issue has been fixed in magento/magento2#25729 by @fabriciosobral in 2.3-develop branch
Related commit(s):
 - [9b55f0ee31b3b1d68ce7112251d6c12b0f73119f](https://github.com/magento/magento2/commit/9b55f0ee31b3b1d68ce7112251d6c12b0f73119f)
 - [5a8e81589c82b478f95454151e35977a73b260fb](https://github.com/magento/magento2/commit/5a8e81589c82b478f95454

[2019-12-03 20:21] #25703 closed, assigned to fabriciosobral

[2019-12-03 20:21] VladimirZaets commented on #13209
Hi @mihaifaget. Thank you for your report.
The issue has been fixed in magento/magento2#25693 by @krzksz in 2.3-develop branch
Related commit(s):
 - [ddb9acb6aab086844306e637c38e01b1433de583](https://github.com/magento/magento2/commit/ddb9acb6aab086844306e637c38e01b1433de583)

The fix will be available with the upcoming 2.3.5 release.

[2019-12-03 21:14] magento-engcom-team commented on #24942
Hi @jhart-efaktory.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-21767` was closed as `non-reproducible` in `2.3-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you

[2019-12-03 21:14] #24942 closed, assigned to nobody

[2019-12-03 21:48] rossmitchell opened #25889 "Catalog Rule Product index time increases exponentially as new rules are added"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Install Magento
2. Copy `setup/performance-toolkit/profiles/ce/small.xml` to a new file
3. Update the file to have 2000 simple products and 2000 categories
4. Generate fixtures using the file
5. Run the Catalog Rule Product index `php bin/magento indexer:reindex catalogrule_rule`
6. Repeat steps 1 - 5 increasing the number of

[2019-12-03 22:03] dchaykas commented on #19712
Thank you for the direction @craigcarnell . I found the usage of the interface application in 2.3.3 of PayPal's Payflow Silent Post controller . Applied the same interface and payment module works as expected.

[2019-12-03 22:18] bartoszkubicki commented on #19712
@dchaykas It works, but it seems workaround not a custom validation for csrf.

@orlangur @magento-engcom-team

[2019-12-03 22:32] frostbitten commented on #25726
Just want to note this has the potential to create another issue when an order is edited after a Cart Price Rule expires. Sorry if this should be opened a separate issue but I figure it likely to come up.

[2019-12-03 22:36] jstubbs303 commented on #24632
Hey tprocter, no sorry we never did get this one figured out. It hasn't been consistent enough meaning we could take a couple of hundred orders with no problem and then on the next spot check we might have 1 or two that turned up completely missing, but the customer got processed at the payment gate. Then it might go 3 to 4 hundred orders then again one turn up missing. We have been through the se

[2019-12-03 22:59] merance2000 commented on #25763
Did you get my message that the error is occurring when we DON’T change the image. Other data is changing but the image hasn’t the sync sends everything when it syncs, so the image is sent again even though technically it hasn’t changed. This is what they are sending – do you see any glaring errors? Have you tried the scenario where you create the item/images. Then send an update where some other

[2019-12-04 00:33] Kleibert opened #25890 "Currency caching issue Magento 2.3.3"
Summary of the issue
Currency selection does not work.
### Preconditions (*)

Change currency to  in Magento currency selector header bar, but the prices not update  on homepage ,they keep the last currency
 ### Expected result (*)

I would like to show the new currency for the products.
### Actual result (*)

![Screen Shot 2019-12-03 at 7 32 28 PM](https://user-images.githubusercontent.com/428146

[2019-12-04 02:24] zuongthao opened #25891 "PHP Fatal error: Interface with InvoiceFlexFieldProcessorInterface not found in vertex module"
### Preconditions (*)

1. Magento version: 2.3.3

### Steps to reproduce (*)

1. Run
php bin/magento se:di:compile
or
php bin/magento deploy:mode:set production

### Expected result (*)

Command runs successfully.

### Actual result (*)

1. [Screenshots, logs or description]
PHP Fatal error:  Interface 'Vertex\Tax\Model\Flexfield\Processor\InvoiceFlexFieldProcessorInterface' not found in /var/www/

[2019-12-04 02:31] maddyBoy commented on #25872
Is there any patch available for this issue.

[2019-12-04 04:45] hoangnm89 commented on #25834
hi @magento-engcom-team ,

Please cover this case as well
SKU 1: 100$
SKU 2: 200$
Rule: Fix amount 150$ for whole cart(CartFixed)
i add to cart:
SKU 1 - qty 1
SKU 2 - qty 1
then checkout:
SKU 1 - address 1
SKU 2 - address 2

### Expectation:
after checkout:
Sale Order 1: discount amount 100$
Sale Order 2: discount amount: 50$

[2019-12-04 05:52] Alwafaa123 commented on #25769
@engcom-Charlie issue has been resolved?

[2019-12-04 06:42] varun2287 opened #25892 "Object of class Magento\Framework\DataObject could not be converted to string in /home/xxx/public_html/vendor/magento/framework/Escaper.php on line 247"
Hi,
Summary of the issue-
I have found this issue with my subcategory pages, when i try to open some of my subcategory from the navigation bar i got this error on my page.

Information of the environment-
Magento 2.3.3
Php 7.1

Steps to reproduce-
1- After ugrading from magento 2.2.4 to 2.3.3
Expected Result-
No errors

Actual Result-
It says something is not good in Escaper.php on line 247.
I hav

[2019-12-04 07:33] chalov-anton opened #25893 "A "500 (Internal Server Error)" appears in Developer Console if Delete the image that is added to Page Content"
### Preconditions (*)
1. Magento 2.3-develop

### Steps to reproduce (*)
1. From Magento Admin go to **Content** - **Pages**, click **Add New Page**
2. Expand **Content**, click **Show/Hide Editor**, click **Insert Image**
3. Click **Chose file** and browse for any image file from your computer, **Open**
4. In _Insert File..._ window select the previously opened image file and click **Add Selected

[2019-12-04 07:39] jayachandraoggy commented on #25877
@magento give me 2.3-develop instance

[2019-12-04 07:39] magento-engcom-team commented on #25877
Hi @jayachandraoggy. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-04 07:40] magento-engcom-team commented on #25877
Hi @jayachandraoggy, here is your [Magento instance](https://i-25877-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25877-2-3-develop.instances.magento-community.engineering/admin](https://i-25877-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-04 07:41] jorgb90 commented on #25110
Is this going to be fixed?

[2019-12-04 07:53] chalov-anton opened #25894 "The added image does not disappear from "Insert File" window if the image containing folder has been Deleted"
### Preconditions (*)
1. Magento 2.3-develop

### Steps to reproduce (*)
1. From Magento Admin go to **Content** - **Pages**, click **Add New Page**
2. Expand **Content**, click **Show/Hide Editor**, click **Insert Image**
3. Click **Create Folder** type a folder name and click **OK**
4. Select the previously created folder, click **Choose Files**
5. Browse for any image file from your computer an

[2019-12-04 08:25] magento-engcom-team commented on #25894
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29379` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-04 08:35] krishprakash commented on #25893
@magento give me 2.3-develop instance

[2019-12-04 08:35] magento-engcom-team commented on #25893
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-04 08:36] magento-engcom-team commented on #25893
Hi @krishprakash, here is your [Magento instance](https://i-25893-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25893-2-3-develop.instances.magento-community.engineering/admin](https://i-25893-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-04 08:39] engcom-Charlie commented on #25769
@Alwafaa123 we have to wait when some developer will assign this ticket

[2019-12-04 08:41] magento-engcom-team commented on #25893
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29380` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-04 08:57] engcom-Charlie commented on #25378
Hello @pierzakp

We are not able to reproduce this issue on the latest 2.3-develop branch now(fixed).
Unfortunately i have to close it.

Thank you for contribution and collaboration!

[2019-12-04 08:57] #25378 closed, assigned to pierzakp

[2019-12-04 09:18] engcom-Echo commented on #25888
Hello @jotakar

Could you provide more details for reproduce this issue?
Please add steps to reproduce and screenshots of settings.

Thank you!

[2019-12-04 09:27] ajithkumar-maragathavel commented on #25685
@magento give me 2.3-develop instance

[2019-12-04 09:27] magento-engcom-team commented on #25685
Hi @ajithkumar-maragathavel. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-04 09:28] magento-engcom-team commented on #25685
Hi @ajithkumar-maragathavel, here is your [Magento instance](https://i-25685-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25685-2-3-develop.instances.magento-community.engineering/admin](https://i-25685-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-04 09:58] lano-vargas commented on #4329
@fascinosum  I've used POST V1/order/:orderId/refund  and the status has changed from `processing` to `complete` could it be because it wasn't `complete` to move to the next status which is closed? I need the status to be closed when a `refund` is issued!

[2019-12-04 10:04] ajithkumar-maragathavel commented on #25685
@magento @Zansys This issue is caused because of configuration settings.
Please go to **Stores -> Settings -> Configuration -> Sales -> Shipping Settings -> Origin**
and Fill out all the fields.

After filling out all the address fields, you can able to create shipment label in UPS.

Please refer to the below screenshot.
![shipment-origin](https://user-images.githubusercontent.com/47966038/7013312

[2019-12-04 10:05] jotakar commented on #25888
Thanks.
My magento has the Shipping Rule (MagePlaza) extension installed, with just a rule for hidding table rate shipping for amounts below €70, and it works fine.
I have enabled Table Rate and it is shown properly. The carrier shipping is shown properly too. I searched every setup.
I atttach the flat rate config:
![Snap11](https://user-images.githubusercontent.com/18536565/70132807-35f60b00-1685

[2019-12-04 10:05] #25685 closed, assigned to ajithkumar-maragathavel

[2019-12-04 10:10] TomashKhamlai opened #25896 "Cannot create folder using only letters"
### Preconditions (*)

1. M 2.3.3

### Steps to reproduce (*)

1. On CMS edit page open media gallery
2. Click "Create Folder"
3. Type in "папка"
4. Click "OK"

### Expected result (*)

1. Consistency between message and behavior. Example:
`Please rename the folder using only Latin letters, numbers, underscores and dashes.`
2. Optional: the folder was created

### Actual result (*)

1. Message:
`P

[2019-12-04 10:17] TomashKhamlai opened #25897 "Overlay after click "OK" on alert"
### Preconditions (*)

1. Adobe Stock is configured (optional for now)
2. M 2.3.3
### Steps to reproduce (*)

1. On CMS edit page open media gallery
2. Click "Create Folder"
3. Type in "папка"
4. Click "OK"
5. When alert with a message "Please rename the folder using only letters, numbers, underscores and dashes." appears, click "OK"

### Expected result (*)

1. I can create another folder using o

[2019-12-04 10:17] TomashKhamlai opened #26514 "Overlay after click "OK" on alert"
### Preconditions (*)

1. M 2.3.3

### Steps to reproduce (*)

1. On CMS edit page open media gallery
2. Click "Create Folder"
3. Type in "папка"
4. Click "OK"
5. When alert with a message "Please rename the folder using only letters, numbers, underscores and dashes." appears, click "OK"

### Expected result (*)

1. I can create another folder using only letters, numbers, underscores and dashes.

[2019-12-04 10:25] engcom-Echo commented on #25890
Hello @Kleibert

Thank you for your report and collaboration!
We are not able to reproduce this issue on the 2.3.3 branch by provided steps.

**Testing scenario:**

**Preconditions:**

1. Magento 2.3.3
2. Simple product is created
3. Euro currency added

**Steps to reproduce:**

1. Go to Content -> Pages
2. Select -> Edit on "Home Page"
3. In Content section click on the "Show / Hide Editor" butto

[2019-12-04 10:28] mattijv commented on #25752
To add: I think this is a non-issue and should be closed.

[2019-12-04 10:32] gaiterjones commented on #25378
For those of us still experiencing this issue after upgrading to 2.3.3 has anybody got a fix that works. The changes in the PR made no difference.

[2019-12-04 10:46] TomashKhamlai opened #25898 "Alert appears twice when the folder creation is not successful"
### Preconditions (*)

1. M 2.3.3
2. Adobe Stock is configured

### Steps to reproduce (*)

1. On CMS edit page open media gallery
2. Click "Create Folder"
3. Type in "папка"
4. Click "OK"
5. When alert with a message "Please rename the folder Please rename the folder using only letters, numbers, underscores and dashes." appears, click "OK"
6. Click anywhere on the dark overlay

### Expected resul

[2019-12-04 10:52] engcom-Echo commented on #25891
Hello @zuongthao

Thank you for your report and collaboration!
We are not able to reproduce this issue on the 2.3.3 branch by provided steps.

**Testing scenario:**

**Preconditions:**
Magento 2.3.3 clean installation

**Steps to reproduce:**

1. Run  `php bin/magento se:di:compile`
2. Run  `php bin/magento deploy:mode:set production`

**Result:**
Command runs successfully.
![php se di compile](ht

[2019-12-04 10:52] #25891 closed, assigned to engcom-Echo

[2019-12-04 13:03] andrewbess commented on #25893
@magento give me 2.3-develop instance

[2019-12-04 13:03] magento-engcom-team commented on #25893
Hi @andrewbess. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-04 13:03] magento-engcom-team commented on #25893
Hi @andrewbess, here is your [Magento instance](https://i-25893-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25893-2-3-develop.instances.magento-community.engineering/admin](https://i-25893-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-04 13:18] magento-engcom-team commented on #25896
:white_check_mark: Confirmed by @AnnaShepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29385` were created

**Issue Available**: @AnnaShepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-04 13:22] #25898 closed

[2019-12-04 13:23] TomashKhamlai commented on #25898
@AnnaShepa, I am going to reopen after ASI release.

[2019-12-04 13:34] engcom-Echo commented on #25897
Hello @TomashKhamlai

I am not able to reproduce this issue on the 2.3-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**

1. On CMS edit page open media gallery
2. Click "Create Folder"
3. Type in "папка"
4. Click "OK"
5. When alert with a message "Please rename the folder using only letters, numbers, underscores and dashes." appears, click "OK"

**Result**
I can cr

[2019-12-04 13:34] #25897 closed

[2019-12-04 13:44] TomashKhamlai commented on #25897
@magento give me 2.3-develop instance

[2019-12-04 13:44] magento-engcom-team commented on #25897
Hi @TomashKhamlai. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-04 13:44] magento-engcom-team commented on #25897
Hi @TomashKhamlai, here is your [Magento instance](https://i-25897-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25897-2-3-develop.instances.magento-community.engineering/admin](https://i-25897-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-04 13:50] engcom-Echo commented on #25889
Hello @rossmitchell

Thank you for your report and collaboration!
Could you please submit pull request?

Thank you!

[2019-12-04 13:52] magento-engcom-team commented on #25889
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29386` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-04 13:54] TomashKhamlai commented on #25897
On Vanilla Magento overlay doesn't stuck.
![ePeek 2019-12-04 15-52](https://user-images.githubusercontent.com/11827230/70148107-3656cc00-16ae-11ea-80de-bc542e5210ac.gif)

[2019-12-04 13:57] Usik2203 opened #25900 "During adding product to Cart page page is reloading instead adding product to cart by ajax."
Preconditions (*)

When I created Simple product with custom option which have Option Type:
Date,
Date & Time ,
Time.
 I can't add this product to Cart without page refresh.

When I created Simple product with custom option which have other Option Type
Field,
Area etc.
 I can add product to Cart without refreshing page by ajax.

 Magento version:  dev-2.3-develop

Steps to reproduce (*)

1. Create

[2019-12-04 14:24] engcom-Echo commented on #25900
Hello @Usik2203

Thank you for your report and collaboration!
We are not able to reproduce this issue on the 2.3-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**

1. Create Simple product with custom option which have Option Type: Date, Date & Time, Time.
2. Go to Product page on frontend
3. Add product to Cart
4. In opened window select all options
![Screenshot fr

[2019-12-04 14:24] #25900 closed, assigned to engcom-Echo

[2019-12-04 14:24] magento-engcom-team commented on #25887
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29387` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-04 14:31] divyajyothi5321 opened #25901 "Mobile design issues in Minicart Dropdown Dialog"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Add item to cart.
2. Now open minicart dropdown dialog in mobile Portrait and Landscape view.
3. Change the qty and click out of the qty box so that update button will be displayed

### Expected result (*)

1. Update button should not overlap with item qty field

![update-cart-expected-result](https://user-images.githubusercon

[2019-12-04 14:36] itsPranith commented on #25901
@magento give me 2.3-develop instance

[2019-12-04 14:36] magento-engcom-team commented on #25901
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-04 14:37] magento-engcom-team commented on #25901
Hi @itsPranith, here is your [Magento instance](https://i-25901-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25901-2-3-develop.instances.magento-community.engineering/admin](https://i-25901-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-04 14:38] engcom-Charlie commented on #25886
Hello @dan-ding
We are not able to reproduce this issue on the latest 2.3-develop branch by provided steps.

**Manual testing scenario:**

1. istall magento
2. enable elasticsearch
3. do a weird search for something like: `http://www.a`
4. `GET /catalogsearch/result/?q=http://www.a`

**Result:**
The search results screen saying the term couldn't be found
**Browser:**
![image](https://user-images.g

[2019-12-04 14:38] #25886 closed, assigned to engcom-Charlie

[2019-12-04 14:38] magento-engcom-team commented on #25901
@itsPranith Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-04 14:39] Yuwei9291 opened #25902 "LNMP Magento 2.3.3 can not use CMS No Route page"
### Preconditions (*)

1.CentOS 7.6 + Nginx 16 + MySQL 5.6 + PHP 7.3
2.Clean install Magento 2.3.3

### Steps to reproduce (*)

1.I use Composer install magento 2.3.3. no problems in nginx config
2.stores > configuration > general > web > default page , settings are correct.
![TIM截图20191204222934](https://user-images.githubusercontent.com/45879513/70150881-b9474900-16e5-11ea-804c-c5fab30e05fb.jpg)

[2019-12-04 14:54] divyajyothi5321 commented on #25901
I am unable to add the labels after this issue is posted

[2019-12-04 14:59] gregordonsky commented on #25099
Hi @aliomattux

If you are talking about the [patch](https://github.com/magento/magento2/commit/59fa1f3f11ede1663b9db417e1d37b7a2bb072cb.diff) referenced in my [comment](https://github.com/magento/magento2/issues/25099#issuecomment-554432290), I was able to apply it automatically using the following guide:

https://devdocs.magento.com/guides/v2.3/comp-mgr/patching.html

So, for creating a custom p

[2019-12-04 15:03] magento-engcom-team commented on #25901
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29389` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-04 15:07] engcom-Echo commented on #25888
Hello @jotakar

Thank you for your report and collaboration!
We are not able to reproduce this issue on the 2.3-develop branch by provided steps.

**Testing scenario:**

**Preconditions:**

1. Some product is created.
2. Flat Rate is enabled and configured

**Steps to reproduce:**

1. Add product to cart
2. Go to Shopping Cart
3. Click on the "Proceed to Checkout" button

**Result**
Flat Rate is s

[2019-12-04 15:07] #25888 closed, assigned to engcom-Echo

[2019-12-04 15:24] BB-000 commented on #6138
I am having this issue on 2.3.1.  🤦‍♂️

[2019-12-04 17:00] jotakar commented on #25888
That's the problem, demos o vainilla doesn't show the error.
The Shipping Restriction(MagePlaza) doesn't seem to be the problem. I disabled it and the problem keeps on.
I dont know if there is another parameter or config set that affects shipping method. Is there any other way to disble or enabled shipping methods apart of the stores->config->sales?

Thanks for your answer.

[2019-12-04 17:17] engcom-Echo commented on #25902
Hello @Yuwei9291

Thank you for your report and collaboration!
I am not able to reproduce this issue on the 2.3.3 branch by provided steps.

**Testing scenario:**

**Preconditions:**
Nginx/1.14.0 (Ubuntu)

**Steps to reproduce:**

1. Go to frontend
2. Type something in address bar, click enter

**Result:**
404 Page is shown. URL is not changed, which is correct.
![rout](https://user-images.githubu

[2019-12-04 18:00] sebi-p opened #25906 "Unable to checkout using Braintree PayPal and Virtual product"
### Preconditions (*)
1. Clean install of Magento 2.3.3
2. PHP 7.2
3. Braintree PayPal enabled

### Steps to reproduce (*)
1. Create a Virtual Product
2. Enable Braintree PayPal (any environment, Sandbox or Production)
![bS1](https://user-images.githubusercontent.com/51681435/70244322-ded36180-177c-11ea-84d4-9e1b9dc64edc.png)
3. Add virtual product to cart
4. Start the **guest** checkout using the

[2019-12-04 18:20] Zyles commented on #25644
Still affected by this issue. We can't upgrade our store.

How can I debug this behaviour? Why is the network log empty? How can i see what call changing attribute set is making?

[2019-12-04 19:48] VladimirZaets commented on #25690
Hi @rafaelstz. Thank you for your report.
The issue has been fixed in magento/magento2#25869 by @krzksz in 2.3-develop branch
Related commit(s):
 - [23f0ced28aa4c065a771bcb0ec6368b8e85059aa](https://github.com/magento/magento2/commit/23f0ced28aa4c065a771bcb0ec6368b8e85059aa)

The fix will be available with the upcoming 2.3.5 release.

[2019-12-04 19:48] #25690 closed, assigned to krzksz

[2019-12-04 19:48] VladimirZaets commented on #20463
Hi @nainesh2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#25785 by @mfickers in 2.3-develop branch
Related commit(s):
 - [097228c7f2aba5cef9b079225940c7878892dfc5](https://github.com/magento/magento2/commit/097228c7f2aba5cef9b079225940c7878892dfc5)
 - [686502a0dd168287672488d307f6a242a6d5b69a](https://github.com/magento/magento2/commit/686502a0dd168287672488d30

[2019-12-04 19:48] #20463 closed, assigned to mfickers

[2019-12-04 20:52] nthurston opened #25907 "CatalogSpecialPriceStorage API delete does not delete by store id"
### Preconditions (*)

1. Magento 2.2.8
M 2.3.3

### Steps to reproduce (*)

1. Create multiple websites
2. Set Catalog Price Scope to Website
3. Create special price for a product on one of the websites (or both)
4. Call `V1/products/special-price-delete` API specifying one of the store_id's
![price2](https://user-images.githubusercontent.com/51681435/70235811-551b9800-176c-11ea-97df-8560e52ce457

[2019-12-04 20:59] aliomattux commented on #25099
The patch provided is not proper as it appends /media/catalog/category/ to the image url. I also don't understand in general why updating a product requires that the image field be written to at all.

[2019-12-04 21:27] cmbilisim commented on #25190
I have same problem on magento 2.3.3 release.

Additionally when I changed auto generated url key, its add new record for url key

[2019-12-04 21:51] sebi-p commented on #25906
@magento give me 2.3-develop instance

[2019-12-04 21:51] magento-engcom-team commented on #25906
Hi @sebi-p. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-04 21:52] magento-engcom-team commented on #25906
Hi @sebi-p, here is your [Magento instance](https://i-25906-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25906-2-3-develop.instances.magento-community.engineering/admin](https://i-25906-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-04 22:06] sebi-p commented on #25906
I cannot reproduce the issue on 2.3-develop.
Is there a specific PR that addressed this?

[2019-12-04 22:35] sdzhepa commented on #24426
Duplicate of #23671

[2019-12-04 22:56] BrokenMop commented on #22373
I am on 2.3.1 after I applied the changes in [dd7cb58](https://github.com/magento/magento2/commit/dd7cb583b112f82ba58ef87d612631ac0eb1c57c)

If a transaction does not pass authorization, the order won't go through at checkout.

However If you have some fraud filters that decline the transaction after it is authorized. The payment won't be captured in gateway. And Magneto does not know that!

[2019-12-04 22:57] BrokenMop commented on #22373
I am on 2.3.1 after I applied the changes in dd7cb58

If a transaction does not pass authorization, the order won't go through at checkout.

However If you have some fraud filters that decline the transaction after it is authorized. The payment won't be captured in gateway. And Magneto does not know that!

[2019-12-04 22:58] BrokenMop commented on #22373
@nathanjosiah

I am on 2.3.1 after I applied the changes in dd7cb58

If a transaction does not pass authorization, the order won't go through at checkout.

However If you have some fraud filters that decline the transaction after it is authorized. The payment won't be captured in gateway. And Magneto does not know that!

[2019-12-05 02:14] Kleibert commented on #25890
Thanks, it's work !

[2019-12-05 02:14] #25890 closed, assigned to engcom-Echo

[2019-12-05 02:18] Yuwei9291 commented on #25902
Oh sorry, problem solved when I add "#" in front of "error_page 404 403 = /errors/404.php;" in nginx.conf.sample row 34 .
Maybe we should update this file ?

[2019-12-05 02:18] #25902 closed, assigned to engcom-Echo

[2019-12-05 02:18] Yuwei9291 commented on #25902
Oh sorry, problem solved when I add "#" in front of "error_page 404 403 = /errors/404.php;" in nginx.conf.sample row 34 .
Maybe we should update this file ?

[2019-12-05 02:39] zuongthao commented on #25891
Hi
Have you checked  file
vendor/vertex/module-tax/Model/FlexField/Processor/OrderCurrencyGetterProcessor.php
and see "namespace Vertex\Tax\Model\Flexfield\Processor;"
instead of "namespace Vertex\Tax\Model\FlexField\Processor;" ?

I downloaded Magento 2.3.3 from site, not from github.

[2019-12-05 04:26] ajijshekh123 commented on #25644
@sdzhepa - Can you help to @Zyles. I can't reproduce this issue.

Thanks.

[2019-12-05 05:57] haiwera-silk-cd commented on #25870
@engcom-Echo Did you mean we don't allow the same increment id in different stores? What if they get conflicted in the far future as they increase, despite I know the possibility is extremely less.

[2019-12-05 07:27] Bhavik-kumar commented on #18339
is there any solution ? why it's not resolved from Oct 2, 2018. :(

[2019-12-05 07:52] mystix commented on #25694
Just encountered the same issue as @4DallasC on Magento 2.3.2-p2.

Steps to reproduce by @engcom-Echo are **incorrect**.
Instead of creating a credit memo from the Invoice view,
1) view the order
2) click Credit Memo from this order view
3) from this "New Memo" view, click "Refund Offline"
4) the following javascript error will be thrown:
`(index):624 Uncaught ReferenceError: disableElements is no

[2019-12-05 08:32] engcom-Echo commented on #25888
Hello @jotakar

Try to check Cart Price Rules and clear cache.

[2019-12-05 09:03] seegrand commented on #7170
If you experience this issue in Magento 2.1.1 - 2.1.7 you can use this patch to fix the issue:

[code]

[2019-12-05 09:09] 4DallasC commented on #25694
Hello All,

The code in the onclick events are dependent on prototype being injected into the page from the an unrelated script in vendor/magento/module-sales/view/adminhtml/templates/order/creditmemo/create/totals/adjustments.phtml.

It's a legacy function call that requires a deprecated library and is dependent on another unrelated script injecting that deprecated library into the page.

I give

[2019-12-05 09:21] salesigniter commented on #22431
Here is a temp fix if you need to use the item saving api using a preference, if you rely on updating the product_options in the api this will not work though: https://gist.github.com/salesigniter/967f594a7ab34c6f73162e4e92fd34fb

[2019-12-05 09:31] jotakar commented on #25888
?? I cannot find any parameter related to shipping methods in Cart Price Rules, just one actin about abply or not free shiping.

[2019-12-05 09:33] krishprakash commented on #24426
@magento give me 2.3-develop instance

[2019-12-05 09:33] magento-engcom-team commented on #24426
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-05 09:33] magento-engcom-team commented on #24426
Hi @krishprakash, here is your [Magento instance](https://i-24426-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-develop.instances.magento-community.engineering/admin](https://i-24426-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-05 09:53] daddyhenk commented on #21441
I see the swatches.css is totally removed from vendor/magento/module-swatches/view/frontend/web/css.
Just added an old one in my theme (and after deploying static content) the error is solved.

[2019-12-05 09:57] engcom-Echo commented on #25694
Hello All

The bug was already fixed on 2.3-develop.

[2019-12-05 10:07] tzyganu commented on #22338
Not sure if this counts as a valid solution, but it worked for me. I was trying to add soemthing to the `reloadPrice` function and I got the same error as everyone else.
This :point_down: resulted in the error.
[code]

This :point_down: worked nicely

[code]

[2019-12-05 10:24] engcom-Echo commented on #25888
Hello @jotakar

I have default the Flat Rate settings and it works fine. I don`t have any Cart Price Rules which is hiding the Flat Rate from frontend.
If without the Shipping Restriction(MagePlaza) module and with the default settings Flat Rate will display and work properly, please refer to the [Mageplaza support](https://mageplaza.freshdesk.com/support/login), for advice or general discussion a

[2019-12-05 10:59] engcom-Echo commented on #25891
Hello @zuongthao

I don't think this is an issue in Magento 2. Please refer to [Vertex Support](https://www.vertexinc.com/contact-us) for advice or general discussion about this.

Thank you!

[2019-12-05 11:05] engcom-Echo commented on #25902
Hello @Yuwei9291

I don't think this is an issue in Magento 2. Please refer to [Nginx Support](https://nginx.org/ru/support.html) for advice or general discussion about this.

Thank you!

[2019-12-05 11:11] tprocter-ldg commented on #24632
Thanks for the response @jstubbs303 . We've experienced exactly the same, only a handful of orders out of thousands. We've been doing manual checks every day to catch any missing ones but it is definitely a strange issue! We've updated our js bundling files and we don't seem to have got any more missing orders as of yet but we'll see! Thanks again for the response :)

[2019-12-05 11:13] hasim32 opened #25910 "Choose drop down not close when open another for upload file for swatch"
Choose drop down not close when open another for upload file for swatch

### Preconditions (*)
Magento : 2.3.3

### Steps to reproduce (*)
1. Admin - Stores
2. Attributes - Product
3. Add New Attribute
4. Properties - Select Visual swatch from Catalog Input Type for Store Owner drop down
5. Click on Add Swatch - Upload image/color
6. Add Swatch again - Click on choose file
7. without close this cl

[2019-12-05 11:40] ihor-sviziev opened #25911 "Category - Notice on incorrect price filter GET param"
### Preconditions (*)
1. Magento 2.3.2-p2
2. Single category with few products

### Steps to reproduce (*)
1. Go to Category page that has filters by price
2. To the end of URL add `?price=-100%27[0]`, for instance https://example.com/my-category/?price=-100%27[0]
3. See logs

### Expected result (*)
1. We should not have error logs
2. Layered navigation block should be shown

### Actual result (*

[2019-12-05 11:44] engcom-Echo commented on #25870
Hello @haiwera-silk-cd

The value of increment id has type "UNIQUE". A Unique Key assures that the value in the column will be unique throughout the table.
Each store has its own unique id.
![id](https://user-images.githubusercontent.com/51681435/70227723-c30b9380-175b-11ea-887f-0d426c1c1a1c.png)
According to the above, we can say that magento does not allow the use of the same increment ID in dif

[2019-12-05 11:44] #25870 closed, assigned to engcom-Echo

[2019-12-05 11:46] magento-engcom-team commented on #25910
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29441` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-05 12:35] magento-engcom-team commented on #25907
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29443` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-05 12:46] AjayKrP commented on #25892
Getting same error. Any update on this?

[2019-12-05 12:57] merance2000 commented on #21646
I'm having same problem as istoutjesdijk  is there a work around?

[2019-12-05 13:16] michail1982 commented on #19159
Same in version 2.3.3

[2019-12-05 13:19] engcom-Charlie commented on #25892
Hello @varun2287
Thank you for contribution and collaboration!

We are not able to reproduce this issue on the Magento 2.3.3 after upgrade from 2.2.4

**Testing scenario:**

1. Install Magento 2.2.4
2. Create some categories with subcategories & products
![category2 2 4 from 2019-12-05 13-31-00](https://user-images.githubusercontent.com/51680850/70238432-eccfb500-1771-11ea-9639-6d0d28bd7346.png)

[2019-12-05 13:19] #25892 closed, assigned to engcom-Charlie

[2019-12-05 13:26] KLeval commented on #12602
Same here, our task that send the ordered products to logistic service scheduled at 3:00AM  is sometime sent 3 times ... We had to deport the task on linux crontab for the moment !

[2019-12-05 13:28] rizwan-i-khan commented on #12602
@KLeval
https://magento.stackexchange.com/questions/294926/magento-2-duplicate-cron-jobs-in-cron-schedule-table
maybe this workaround can solve your issue.

[2019-12-05 13:57] crwa commented on #8084
**This works for me.**

[2019-12-05 14:17] istoutjesdijk commented on #21646
@merance2000 I solved the problem by disabling MSI completely. This is the best solution when you have and external system managing your stock. (https://www.mexbs.com/magento-blog/disabling-the-magento-msi/)

I also disabled "Decrease Stock When Order is Placed" in the configuration under "Inventory".

[2019-12-05 14:27] jonathan-martz commented on #24930
I have the same Problem while updating magento to 2.3.3.
Would be real nice if somebody can fix this small Problem aka. Typo.

[2019-12-05 14:45] magento-engcom-team commented on #25906
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29445` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-05 14:49] engcom-Charlie commented on #25505
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-12-05 14:49] #25505 closed, assigned to engcom-Charlie

[2019-12-05 14:54] dianatovar10 opened #25916 "upgrading extensions resulted by removing in link to the style of the page, only shown in html / plain text"
### Preconditions (*)
Magento 2.3
1.
2.

### Steps to reproduce (*)
The problem is i upgrade all modules via SSH and the page not foun the style, its all in html text/plain
1.
2.
3.

### Expected result (*)
The problem is i upgrade all modules via SSH and the page not foun the style, its all in html text/plain
1. [Screenshots, logs or description]

### Actual result (*)
The problem is i upgrade al

[2019-12-05 14:55] dianatovar10 commented on #25916
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-12-05 14:55] magento-engcom-team commented on #25916
Hi @dianatovar10. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-05 14:56] magento-engcom-team commented on #25916
Hi @dianatovar10, here is your [Magento instance](https://i-25916-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25916-2-3-develop.instances.magento-community.engineering/admin](https://i-25916-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-05 15:07] engcom-Charlie commented on #25750
We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2019-12-05 15:07] #25750 closed, assigned to engcom-Charlie

[2019-12-05 15:13] magento-engcom-team commented on #25679
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29446` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-05 15:23] sdzhepa commented on #25644
Hello @ajijshekh123 @Zyles

I will try to investigate and reproduce, not sure about today but soon.

[2019-12-05 15:24] eduard13 opened #25917 "Admin confirm password input doesn't inherit needed styles"
### Preconditions (*)
1. Magento 2.3.3
2.

### Steps to reproduce (*)
1. Navigate to `System / Integrations`
2. Click on `Add New Integration` button
3. Scroll down to `Current User Identity Verification` fieldset

### Expected result (*)

1. The `Your Password` field has the input style
![image](https://user-images.githubusercontent.com/15868188/70248651-dfbbc180-1783-11ea-82ad-ec1c0a96b587.png)

[2019-12-05 15:24] eduard13 commented on #25917
@magento give me 2.3-develop instance

[2019-12-05 15:25] magento-engcom-team commented on #25917
Hi @eduard13. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-05 15:25] magento-engcom-team commented on #25917
Hi @eduard13, here is your [Magento instance](https://i-25917-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25917-2-3-develop.instances.magento-community.engineering/admin](https://i-25917-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-05 15:33] magento-engcom-team commented on #25917
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29447` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-05 15:33] timbot18 commented on #14881
yep. i have hundreds of attributes for my store. tried importing them in sql, which works, but the import process for the csv still ignores them.

[2019-12-05 15:41] pmclain commented on #18787
@magento give me 2.3.2 instance

[2019-12-05 15:42] magento-engcom-team commented on #18787
Hi @pmclain. Thank you for your request. I'm working on Magento 2.3.2 instance for you

[2019-12-05 15:42] alex-james commented on #25887
I get exactly the same issue with Magento 2.3.3 running on PHP 7.1.33

[2019-12-05 15:42] magento-engcom-team commented on #18787
Hi @pmclain, here is your [Magento instance](https://i-18787-2-3-2.instances.magento-community.engineering).
Admin access: [https://i-18787-2-3-2.instances.magento-community.engineering/admin](https://i-18787-2-3-2.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-05 15:51] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2019-12-05 15:51] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-05 15:51] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin](https://i-24426-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-05 15:56] pmclain commented on #18787
@magento give me 2.3.3 instance

[2019-12-05 15:56] magento-engcom-team commented on #18787
Hi @pmclain. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-12-05 15:58] magento-engcom-team commented on #18787
Hi @pmclain, here is your [Magento instance](https://i-18787-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-18787-2-3-3.instances.magento-community.engineering/admin](https://i-18787-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-05 16:03] sdzhepa opened #25919 "TEST 2.4-develop branch"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-12-05 16:10] Zyles commented on #25644
I upgraded from 2.3.1 to 2.3.3. So maybe an issue with that.

[2019-12-05 16:30] simonlandry0 commented on #22373
@BrokenMop That sounds like might be a separate issue, you could also make an [issue tracker](https://github.com/magento/magento2/issues/new/choose) for this, it will hopefully get more eyes.

Hopefully they can get that fixed, it would not surprise me if I can replicate that issue in our live 2.3.3 instance.

[2019-12-05 16:43] krzksz commented on #22840
@magento give me 2.3-develop instance

[2019-12-05 16:44] magento-engcom-team commented on #22840
Hi @krzksz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-05 16:44] magento-engcom-team commented on #22840
Hi @krzksz, here is your [Magento instance](https://i-22840-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22840-2-3-develop.instances.magento-community.engineering/admin](https://i-22840-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-05 16:54] AjayKrP commented on #25892
@engcom-Charlie This issue was coming in configurable out of stock product. Did you checked that also?

[2019-12-05 17:01] krzksz commented on #22840
I am not able to reproduce this issue, so I assume it was fixed via https://github.com/magento/magento2/pull/23656, closing.

[2019-12-05 17:01] #22840 closed, assigned to nobody

[2019-12-05 17:18] krzksz commented on #20364
@magento give me 2.3-develop instance

[2019-12-05 17:18] magento-engcom-team commented on #20364
Hi @krzksz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-05 17:19] magento-engcom-team commented on #20364
Hi @krzksz, here is your [Magento instance](https://i-20364-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20364-2-3-develop.instances.magento-community.engineering/admin](https://i-20364-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-05 17:28] sdzhepa commented on #25862
Hello @IvanChepurnyi @PascalBrouwers @rhoerr

The internal Magento team is working on this issue right now.
Fix is almost done in the scope of internal Jira tickets `MC-29335` and `MC-29206`.
Currently, all development work is done and its on the QA stage.

I will keep updating this Issue with commits as soon as changes will be pushed to the public `magento/magento2` repo

[2019-12-05 17:31] magento-engcom-team commented on #25919
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29451` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-05 17:33] magento-engcom-team commented on #25919
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-12-05 17:33] magento-engcom-team commented on #25919
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29452`, `MC-29453` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-05 17:42] magento-engcom-team commented on #25919
Hi @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-29452` was closed as `non-reproducible` in `2.1-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you still

[2019-12-05 17:42] magento-engcom-team commented on #25919
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-12-05 17:43] magento-engcom-team commented on #25919
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29454` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-05 17:46] magento-engcom-team commented on #25919
Hi @sdzhepa.

Thank you for your report and collaboration!

The issue was fixed by Magento team.

The fix will be available with the upcoming `2.4.0` release.

[2019-12-05 17:46] matutetandil opened #25921 "Tests doesn't run in 2.3.3"
### Preconditions (*)
Magento 2.3.3 running test with:

- bin/magento dev:tests:run
- vendor/bin/phpunit -c dev/tests/unit/phpunit.xml.dist

### Steps to reproduce (*)
run test with any of previous commands

### Expected result (*)
Tests should run a expected

### Actual result (*)
Fatal error: Class 'PHPUnit_Framework_TestCase' not found

After some research, I found that PHPUnit 6 doesn't suppor

[2019-12-05 17:55] erikhansen commented on #15545
In case it's helpful to anyone else, here is how I reproduced the issue:

1. I ran `SHOW FULL PROCESSLIST;` to see all of the hung `INSERT INTO` queries.
2. I inspected the queries and found the search terms that were hung (most of them appeared to be generated by bots, Bing and others)
3. I then searched my Nginx access logs for those queries.
4. I found that not all queries easily reproduced the

[2019-12-05 18:04] sdzhepa opened #25923 "TEST Integration"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-12-05 18:15] merance2000 commented on #25763
Any updates on this? My sync team made this change and now it works half the time

The dev team made a change to send null for the id field but it isn't a perfect work around. It seems to toggle the roles on and off. If the sync goes with the roles set then the roles disappear. The next time the sync goes the roles re-appear. This is despite the fact that we are sending the exact same post each ti

[2019-12-05 19:06] neddy236 commented on #19710
Problem still exists on Magento 2.3.3 EE. Running catalog image resize still at 1%.
This solution is not viable as the shop is without images across the whole website.

Tried all the above from the comments and no luck with none of them.

[2019-12-05 19:29] #25923 closed, assigned to sdzhepa

[2019-12-05 20:48] magento-engcom-team commented on #25923
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-05 21:16] nathanjosiah commented on #22373
@BrokenMop I'm not sure about filters that decline AFTER the transaction has already been authorized. However, there was specific support added to handle the default Authorize.net fraud filters and Magento even has special options that appear on the order for resolving potentially fraudulent transactions.

That said, Authorize.netAcceptJs has been deprecated along with all but two core payment met

[2019-12-05 22:13] allanminium commented on #14881
From memory, the attributes sit in two different tables, one has the value and an ID, and they other has an ID and some other ID. Does your sql insert take that into consideration?

[2019-12-05 22:36] mlaurense commented on #14881
I can recommend using https://github.com/bigbridge-nl/product-import. It took me a day to get the Magento import working, only to find out it didn't do anything with the attributes... I converted the CSVs I had to XMLs, and within an hour I had all my data imported. Saves you a lot of hassle of inserting in the right tables...

[2019-12-05 22:46] jove4015 commented on #25221
We are having the exact same problem on 2.3.3.  For us it is with UPS shipments.  An interesting detail - the first shipment on any order does not have this issue.  It is only for orders with split shipments, this will happen on any subsequent shipment made on an order that already has one.  Both the weird screen popup, and no email.

@engcom-Charlie - Is it possible that nuance might mean somethi

[2019-12-05 23:24] arnobsh commented on #25068
Internal Magento team is working on this issue right now

[2019-12-06 04:22] AjayKrP commented on #25892
![Screenshot from 2019-12-06 09-48-32](https://user-images.githubusercontent.com/23704820/70295741-1b9b6900-180e-11ea-9626-1a5689ef79dc.jpg)

Here is the screenshot of the error

[2019-12-06 04:28] ajijshekh123 commented on #25644
Okay @sdzhepa

[2019-12-06 05:13] AjayKrP commented on #25892
Finally got solution:
Need to serialize `<?php $rating = serialize($block->getRatingSummary()) ?>` in `vendor/magento/module-review/view/frontend/templates/helper/summary_short.phtml` on line 13.

[2019-12-06 06:08] varun2287 commented on #25892
Hi @AjayKrP
Thank you for the solution, it solved my problem also.

[2019-12-06 06:52] edenduong opened #25925 "Dupplicate Records when sorting column in Content->Themes Grid"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to backend
2. Content->Themes
3. Click Theme Title to sort
4. Click Theme title to sort again
![sort](https://user-images.githubusercontent.com/8234209/70302245-24e8fd80-182f-11ea-8ff3-6c7c231655cd.gif)
=> Dupplicate Records

### Expected result (*)

![image](https://user-images.githubusercontent.com/8234209/70302388-

[2019-12-06 06:55] shikhamis11 commented on #25925
@magento give me 2.4-develop instance

[2019-12-06 06:55] magento-engcom-team commented on #25925
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-06 06:56] magento-engcom-team commented on #25925
Hi @shikhamis11, here is your [Magento instance](https://i-25925-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25925-2-4-develop.instances.magento-community.engineering/admin](https://i-25925-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-06 06:59] magento-engcom-team commented on #25925
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29490` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-06 07:50] bijalbhavsar commented on #25708
We are facing the same issue with live website after upgrading Magento 2.3.1 to Magento 2.3.3

[2019-12-06 08:35] jsdupuis opened #25927 "Google Shopping Ads - Cannot use Merchant Account created by Magento"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.1

### Steps to reproduce (*)

1. Go in Marketing --> Google Shopping Ads menu
2. Go through the whole onboarding process (link to Google account, create Google Merchant Account, claim website, create Google ads account, etc.)

### Expected result (*)

1. Account status is Approved
2. I can run Google ads

### Actual result (*)

1. A few hours after

[2019-12-06 08:58] atulGupta2922 opened #25929 "TinyMCE WYSIWYG not working on Magento 2.3.1 admin"
### Preconditions (*)

1. Mangento 2.3.1

### Steps to reproduce (*)

1. Go to Admin > Content > Blocks
2. Click on Show /Hide Editor

### Expected result (*)

1. TinyMCE wysiwyg is loaded

### Actual result (*)

1. TinyMCE wysiwyg is not getting loaded and it still shows the default textarea with HTML code.

[2019-12-06 08:59] atulGupta2922 commented on #25929
Error on Console:
tinymce4Adapter.js:145 Uncaught TypeError: Cannot read property 'plugins' of undefined
    at g.addPluginToToolbar (tinymce4Adapter.js:145)
    at tinymce4Adapter.js:81
    at Array.forEach (<anonymous>)
    at g.setup (tinymce4Adapter.js:78)
    at g.turnOn (tinymce4Adapter.js:443)
    at g.toggle (tinymce4Adapter.js:488)
    at g.toggle (setup.js:56)
    at HTMLButtonElement.M

[2019-12-06 09:30] engcom-Echo commented on #24426
@magento give me 2.4-develop instance

[2019-12-06 09:30] magento-engcom-team commented on #24426
Hi @engcom-Echo. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-06 09:30] magento-engcom-team commented on #24426
Hi @engcom-Echo, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin](https://i-24426-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-06 09:39] divyajyothi5321 opened #25930 "Integration Success Message Text Overflow Issue in Admin"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Go to admin->System->Extenstions->Integrations
2. Add new integration name with 255 characters and save the integration

### Expected result (*)

1. Success message should not disturb the page

### Actual result (*)

1.
![integrationsuccessmess-actual](https://user-images.githubusercontent.com/54176640/70312506-c6754c80-1839-1

[2019-12-06 09:45] itsPranith commented on #25930
@magento give me 2.4-develop instance

[2019-12-06 09:45] magento-engcom-team commented on #25930
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-06 09:45] magento-engcom-team commented on #25930
Hi @itsPranith, here is your [Magento instance](https://i-25930-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25930-2-4-develop.instances.magento-community.engineering/admin](https://i-25930-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-06 09:51] itsPranith commented on #25930
Hi ,

I'm able to replicate this issue on CE-2.4 @https://i-25930-2-4-develop.instances.magento-community.engineering/

![image](https://user-images.githubusercontent.com/56586384/70313674-13f2b900-183c-11ea-85d1-f26c9957458b.png)

[2019-12-06 09:52] magento-engcom-team commented on #25930
@itsPranith Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-12-06 09:53] magento-engcom-team commented on #25930
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29493` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-06 09:55] edenduong opened #25931 "Refresh Statistics: Updated At = Null should be display as "Never" instead of "undefined"."
Updated At if Null should be display as "Never" instead of "undefined".

Please see the index management:

![image](https://user-images.githubusercontent.com/8234209/70313555-6cc84e80-1848-11ea-833d-97f56c4b382a.png)

**But:**

In refresh statistics:

![image](https://user-images.githubusercontent.com/8234209/70313718-b2851700-1848-11ea-9669-76e7f7dcf23f.png)

### Preconditions (*)

1. Magento 2.4

[2019-12-06 09:55] engcom-Charlie commented on #25221
Hello @jove4015
I can't reproduce this issue with split UPS shipments.

**Testing scenario:**

1. Place order with split shipping via UPS
![orderwithships from 2019-12-06 11-39-58](https://user-images.githubusercontent.com/51680850/70313594-94a2bc80-181e-11ea-94c5-f08d36d93198.png)
![thankyou](https://user-images.githubusercontent.com/51680850/70313604-98ceda00-181e-11ea-83dc-231a22d012fd.png)
2.

[2019-12-06 09:57] sudheer-gajjala commented on #25930
@magento-engcom-team what will be the suggested fix for this issue. Should the name filed be restricted to certain characters or the message should be trimmed ??

[2019-12-06 09:57] engcom-Echo commented on #25929
Hello @atulGupta2922

Thank you for your report and collaboration!
We are not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**

1. Go to Admin > Content > Blocks
2. Click "Add New Block"
3. Click on Show /Hide Editor

**Result**
TinyMCE wysiwyg is loaded
![Peek 2019-12-06 11-50](https://user-images.githubusercontent.com/51681

[2019-12-06 09:57] #25929 closed, assigned to engcom-Echo

[2019-12-06 10:00] magento-engcom-team commented on #25931
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29494` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-06 10:03] atulGupta2922 commented on #25929
I am facing this issue on Magento 2.3.1

[2019-12-06 10:04] engcom-Charlie commented on #25916
Hello @dianatovar10
Could you provide more info about this issue? Please add more steps for reproduce.

[2019-12-06 10:13] janmyszkier commented on #19786
this should be reopened, the problem is there again on 2.3.3

[2019-12-06 10:14] engcom-Echo commented on #24426
@magento give me 2.3.3 instance

[2019-12-06 10:14] magento-engcom-team commented on #24426
Hi @engcom-Echo. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-12-06 10:15] magento-engcom-team commented on #24426
Hi @engcom-Echo, here is your [Magento instance](https://i-24426-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-3.instances.magento-community.engineering/admin](https://i-24426-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-06 10:21] engcom-Echo commented on #25927
Hello @jsdupuis

Thank you for your report and collaboration!
Try to clear browser and magento cache. If it doesn't help try to open magento in Incognito Window. Then try to create a new GMC account.

[2019-12-06 10:23] sandip5678 opened #25933 "Single Store Mode- Incorrect scope values using at Storefront for Catalog Section"
### Preconditions (*)

1. Magento 2.3.3 CE & 2.4-develop with sample data
2. Magento Instance should have one **Website**, **Store** and **Store View** only.

### Steps to reproduce (*)

1. Under Default Config, Navigate to Stores > Settings > Configuration > Catalog > Catalog
2. Change the values of field Products per Page on Grid Allowed Values from **9,15,30** to **5,10,20,40,80** (Uncheck **Us

[2019-12-06 10:24] engcom-Charlie commented on #25595
I can confirm this behavior on the Magento 2.4-develop:
![image](https://user-images.githubusercontent.com/51680850/70315953-50fe8180-1823-11ea-8426-7226c47591fe.png)

[2019-12-06 10:24] magento-engcom-team commented on #25595
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29496` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-06 10:30] sandip5678 commented on #25933
@magento give me 2.4-develop instance

[2019-12-06 10:30] magento-engcom-team commented on #25933
Hi @sandip5678. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-06 10:30] magento-engcom-team commented on #25933
Hi @sandip5678, here is your [Magento instance](https://i-25933-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25933-2-4-develop.instances.magento-community.engineering/admin](https://i-25933-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-06 10:47] jsdupuis commented on #25927
Hi @engcom-Echo

Thank you for the suggestions. I tried clearing browser and magento cache and going Incognito, but problem is the same. As further details, if I go in Settings, i see my GMC id and I can choose "edit URL" in the drop down. Screenshot 1 shows that I cannot edit my URL (all is greyed out).

If I try to create a new GMC account (screenshot 2), I cannot select a URL. It says "no optio

[2019-12-06 10:49] dharake commented on #25221
Can confirm I had the same issue after upgrading from 2.3.2 to 2.3.3 CE. Can confirm @AndyJAllen fix worked, but only after running bin/magento setup:static-content deply -f en_GB en_US i.e. Cache flush and restart Varnish was not enough.

[2019-12-06 10:56] sandip5678 commented on #25933
Can you please do needful to run indexing for this instance.
I have uploaded few products to show different products at front end.

[2019-12-06 11:11] engcom-Echo commented on #25921
Hello @matutetandil

Thank you for your report and collaboration!
I am not able to reproduce this issue on the 2.4-develop and 2.3.3 branches by provided steps.

**Testing scenario:**

**Steps to reproduce:**

Running test with:
2. `bin/magento dev:tests:run`
3. `vendor/bin/phpunit -c dev/tests/unit/phpunit.xml.dist`

**Result:**
Tests is run successfully.
![phptests](https://user-images.githubuse

[2019-12-06 11:27] engcom-Echo commented on #25927
@jsdupuis

Can you delete an old account?
[Here](https://docs.magento.com/m2/2.2/ee/user_guide/sales-channels/google-ads/gmc-unlink-gmc.html) is more info.

[2019-12-06 11:37] jsdupuis commented on #25927
@engcom-Echo I used to be running Shopping Ads before 2.3.3, but I unclaimed/unlinked my website before going through the onboarding process. I even deleted my old GMC account today in hope that it would solve the problem.

Is there any Magento log I can check to help investigate?

[2019-12-06 11:44] Bhavik-kumar opened #25934 "chrome initiate two times toolbar.js"
### Preconditions (*)
1. vanilla Magento CE 2.3.*
2. chrome browser
3. vanilla with sample data

### Steps to reproduce (*)
1. got to product list, search or advance search page
2. open **developer tools -> network(tab)**(Chrome browser)
3. Select/click any of the toolbar option like Grid/List, Sort By, or show X per page
4. **Network**(Chrome Browser) selected/clicked link triggering two time and

[2019-12-06 11:46] Bhavik-kumar commented on #25934
I am confirming that issue is able to reproduce with vanilla Magento instance.

[2019-12-06 11:46] krishprakash commented on #25934
@magento give me 2.4-develop instance

[2019-12-06 11:47] magento-engcom-team commented on #25934
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-06 11:47] magento-engcom-team commented on #25934
Hi @krishprakash, here is your [Magento instance](https://i-25934-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25934-2-4-develop.instances.magento-community.engineering/admin](https://i-25934-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-06 11:51] magento-engcom-team commented on #25934
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29497` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-06 11:52] krishprakash commented on #25934
Hi @Bhavik-kumar. Thank you for your report.
You can create PR with given solution in description

[2019-12-06 12:00] engcom-Echo commented on #25927
@jsdupuis

You can check system.log and exception.log.
Also files in the Report folder. (If it doesn't exist - that's ok)

[2019-12-06 12:16] jwbos-uhg commented on #25182
I have exactly the same problem in the Magento 2.2.10 version, before the update everything was working fine (Updated from Magento 2.2.5, Admin in Dutch locale)

[2019-12-06 12:20] engcom-Echo commented on #25334
Hello @andrzejwp

Thank you for your report and collaboration!
Please refer also to the [Galera Cluster Support](https://galeracluster.com/contact-us/) for advice or general discussion about this issue.

Thank you!

[2019-12-06 12:56] renard123 opened #25935 "Email address mismatch with text in iPad(768) view"
Email address mismatch with text in iPad view

### Preconditions (*)
Magento : 2.3.3

### Steps to reproduce (*)
1. Front end
2. Register with email like "renard1.abcdefgtest56hijklm@gmail.com"
3. Review the my account dashboard in iPad view

### Expected result (*)
Email should not be mismatch with edit link

### Actual result (*)
![image](https://user-images.githubusercontent.com/50658701/703208

[2019-12-06 13:08] divyajyothi5321 opened #25936 "Regular Price Label Alignment Issues in Frontend"
### Preconditions (*)

1.Magento 2.3.3 and Magento 2.4

### Steps to reproduce (*)

1. Admin->Catalog->Products->Add Product
2. Add Price ex:$20
3. Click on Advanced Pricing  and add regular price ex:$10
4. Save the product
3. Open product in frontend

### Expected result (*)

1.  Advanced Pricing should be Aligned in single line

 ![regularprice-expectedresult](https://user-images.githubuserconte

[2019-12-06 13:11] magento-engcom-team commented on #25935
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29500` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-06 13:13] magento-engcom-team commented on #25936
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29501` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-06 14:09] TomashKhamlai opened #25937 "{"message":"\"Associate to Website\" is a required value."}"
### Preconditions (*)

M 2.4-develop
1. Registered Customer

### Steps to reproduce (*)

1. Set your hostname, Customer's email and Customer's password as bash variables. In my case
[code]
2. Get Customer token
[code]
3. Try to change the **lastname** of the Customer with payload that has no `website_id` field
[code]

### Expected result (*)

1. Message:
[code]

### Actual result (*)

1. Message:

[2019-12-06 14:12] NationwidePharma opened #25938 "MySQL is deprecated but Web Install doesn't support elasticsearch"
### Preconditions (*)

1.  Magento 2.3.3
2.  When doing installation via the Web, user is prompted to enter database information.  I think this loads after pre-requisite check.

### Steps to reproduce (*)

1.  Install Magento
2.  Access Magento site from url.

### Expected result (*)

1.  Expect instructions to install elasticsearch
2.  Expect interface to accept elasticsearch critera.

### Actual

[2019-12-06 14:40] magento-engcom-team commented on #25937
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29504` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-06 14:51] timbot18 commented on #14881
i believe so. honestly, it's been so long i gave up on this working. IIRC, i inserted them into eav_attribute, eav_attribute_option, and eav_attribute_option_value. i dont have the code handy, must have gotten pissed it didnt work and not save it.

i will try this. thanks!

[2019-12-06 14:55] ray-moncada commented on #25430
This worked for me on Magento 2.3.3 installation.

[2019-12-06 17:40] Ohopwood commented on #20164
Was there a permanent fix applied to this?
The link in @snowcore comment doesn't work anymore.

[2019-12-06 18:08] orlythatscool commented on #9214
All, it's apparent that this issue will not be resolved, so I would like to share how I've worked around it. This process is scalable, but more busy than if they'd just fix this.

Example. Let's say you want 20% OFF hats that MSRP between $10-$15. There are 5 hat SKUs in your catalog, and you'd like the customer to be able to choose the hat of their liking. The kicker is that you don't want them t

[2019-12-06 18:54] aisrd opened #25941 "Magenot 2.1.7 Dashboard missing Import Export option in Admin Side par system tab."
Hello,
I am facing a new problem that is No export Import options in Magento 2.1.7 dashboard. I need to export all products data.
Can somebody help me?

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-12-06 20:05] willstorm commented on #4662
Alternatively, if you can use the event after saving the customer. Use the customer_save_after_data_object event. It is defined in **module-customer/Model/ResourceModel/CustomerRepository.php** on line 274.
The parameters it passes are customer_data_object and orig_customer_data_object.

[2019-12-06 20:08] orthener commented on #24654
Getting the same error on 2.3.2 EE.
No one else came across this?

[2019-12-06 23:22] sdzhepa commented on #11088
Hello @josefbehr

Could you please confirm is this issue still actual for `2.4-develop` or we can close it?

[2019-12-07 00:18] jalung commented on #21885
Magento 2.3.3
There is a block of code checking for the dynamic image paths you see on a CSV export. I imagine if you are importing a CSV file that was previously exported, there will be not be an issue. It is reasonable to say that it is not a bug as the cart is working as intended by the developers.

In the typical case where the CSV is custom rolled, the image paths  are unknown or difficult to

[2019-12-07 02:43] edenduong commented on #25935
@magento give me 2.4-develop instance

[2019-12-07 02:43] magento-engcom-team commented on #25935
Hi @edenduong. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-07 02:44] magento-engcom-team commented on #25935
Hi @edenduong, here is your [Magento instance](https://i-25935-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25935-2-4-develop.instances.magento-community.engineering/admin](https://i-25935-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-07 03:22] krishprakash commented on #25941
Hi @aisrd. Thank you for your report.
GitHub issue tracker is intended Magento core issues only
Please connect community forum or Magento stack exchange to discuss about this
Thanks

[2019-12-07 03:22] #25941 closed, assigned to krishprakash

[2019-12-07 05:30] jsdupuis commented on #25927
@engcom-Echo

I cannot find anything related in the log files. system.log shows this every day but it doesn't look like an error.

It's really confusing that Magento says "Website URL not provided" when we can see in my first screenshot that it was provided.

![screen3](https://user-images.githubusercontent.com/28755070/70369503-21b44700-18ed-11ea-8a1a-6ff5c22b627a.jpg)

[2019-12-07 08:00] krzksz commented on #22085
I am closing this as this is MacOS + FireFox specific thing. Firefox respects the setting in MacOS keyboard setting.

More information on this:

- https://stackoverflow.com/questions/3846868/why-wont-tabindex-work-with-firefox
- https://stackoverflow.com/questions/11704828/how-to-allow-keyboard-focus-of-links-in-firefox

My assumption would be that in case anybody really wanted to use the keyboard

[2019-12-07 08:00] #22085 closed, assigned to nobody

[2019-12-07 10:18] krzksz commented on #25934
@magento give me 2.4-develop instance

[2019-12-07 10:18] magento-engcom-team commented on #25934
Hi @krzksz. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-07 10:19] magento-engcom-team commented on #25934
Hi @krzksz, here is your [Magento instance](https://i-25934-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25934-2-4-develop.instances.magento-community.engineering/admin](https://i-25934-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-07 10:44] krzksz commented on #19209
It seems like this bug was fixed by https://github.com/magento/magento2/commit/0104df69d3c7fec10990ddc7a9d93690562cefb9 which is a part of 2.3.3 release.

[2019-12-07 10:44] #19209 closed, assigned to krzksz

[2019-12-07 20:27] engcom-Bravo commented on #25917
:heavy_check_mark: QA Passed

[2019-12-08 00:22] matt-gribben commented on #8933
Can confirm this is still an issue, in my case I'm running a Magento 2.3.2 with multiple incoming API connections building quotes and creating orders and the deadlock issue happens quite frequently. This is something that needs resolving especially considering the move towards headless systems and PWA

[2019-12-08 06:04] taihuuho opened #25947 "Bulk Import: fwrite(): send of 21 bytes failed with errno=32 Broken pipe"
### Preconditions (*)

1. Magento 2.3.3
2. Rabbit MQ heartbeat set to 1800s

### Steps to reproduce (*)

1. Trying to import 2 configurable products. Each one has about 100 simple products (two or three times before moving on to the next step)
`rest/async/bulk/V1/products`
2. Run `bin/magento queue:consumers:start async.operations.all` to start the consumers

### Expected result (*)

1. The consum

[2019-12-08 12:42] zingix opened #25948 "Custom Attributes for Configurable Products in Layered Navigation lead to errors in Category View"
### Preconditions (*)

1. Installed Magento Version is 2.3.2
2. Indexers are configured to run on schedule

### Steps to reproduce (*)

1. Create a new custom attribute for products.
2. Create a new configurable product.
3. Assign the attribute to the main product and all it's children.
4. Make sure the attribute has the "Use in Layered Navigation" attribute set to "Filterable (with results)"
5. R

[2019-12-08 13:20] eeeduuu opened #25951 "Error when importing products via CSV file"
1. Magento CE 2.3.3 without sample data is installed
2. He creates 2 websites (www.web1.com and www.web2.com)

Steps to reproduce
============
1. I generate a CSV file with the information of the products I want to import.
2. Following the instructions in the Magento documentation, I leave the column "website_id" empty because I want the products to be available at www.web1.com and www.web2.com.
3

[2019-12-08 15:55] taihuuho commented on #25947
@magento give me 2.4-develop instance

[2019-12-08 15:55] magento-engcom-team commented on #25947
Hi @taihuuho. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-08 15:56] magento-engcom-team commented on #25947
Hi @taihuuho, here is your [Magento instance](https://i-25947-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25947-2-4-develop.instances.magento-community.engineering/admin](https://i-25947-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-08 16:21] taihuuho commented on #25947
Yes, was able to reproduce it

[2019-12-08 17:27] VladimirZaets commented on #22416
Hi @funkyproject. Thank you for your report.
The issue has been fixed in magento/magento2#25541 by @krzksz in 2.4-develop branch
Related commit(s):
 - [666cca825d83d82ad85e44b003df56eb92c2393f](https://github.com/magento/magento2/commit/666cca825d83d82ad85e44b003df56eb92c2393f)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-08 17:27] #22416 closed, assigned to krzksz

[2019-12-08 17:27] VladimirZaets commented on #24229
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#25790 by @Parakoopa in 2.4-develop branch
Related commit(s):
 - [acd42b86af5425d799750f0ceb6c529cd17abba6](https://github.com/magento/magento2/commit/acd42b86af5425d799750f0ceb6c529cd17abba6)
 - [d1b81aa514224b25f1c0fea43400a6ab24e1caeb](https://github.com/magento/magento2/commit/d1b81aa514224b25f1c0fea43400a

[2019-12-08 17:27] #24229 closed, assigned to theCapypara

[2019-12-08 19:34] scne opened #25953 "async rest api product can't set some stock_item fields"
### Preconditions (*)
### Preconditions
1. magento 2.3.1 CE
2. PHP 7.1.29
3. elasticsearch 5

### Steps to reproduce (*)
update product via REST API with a PUT request. Some `stock_item` settings never changed

To reproduce this issue try to perform a PUT request with this body

[code]

### Expected result (*)
Updating of stock item related to product sku via PUT request with **min_sale_qty** and

[2019-12-09 04:36] magento-engcom-team commented on #25911
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29531` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-09 06:02] jsdupuis commented on #25927
So what happens is that the Google account of Magento (magentosaleschannels@gmail.com) creates both the GMC account and the Google Ads account and gives permission to the Magento user (me) to use these accounts. Somehow after the onboarding process I lost permission to access/manage the GMC account. I still have access to the Google Ads account where I can see under Tools & Settings --> Account Ac

[2019-12-09 07:13] 09747670 commented on #19480
Hello,  I install Magento 2.3.3 in Windows and I make php bin\magento setup:upgrade then I have a problem: Class Magento\Framework\View\Element\Template\File\Validator does not exist, but he exist, please help me.

[2019-12-09 07:39] clion007 opened #25955 "Can't count right items when sort by bestsellers"
### Preconditions (*)

1. Magento version: 2.3.3
2. PHP version: 7.1.29; Apache version: 2.4.39; Mysql version: 5.7.26

### Steps to reproduce (*)

1. develop a plugin for block of product toolbar to sort product connection by sold quantity use joinleft method of Magento\Framework\DB\Select as below:

$toolbarCollection
                     ->getSelect()
                     ->joinLeft(

[2019-12-09 07:46] krzksz commented on #6411
This issue should be resolved by 0690ed44400e435eccf25cafe3e25df7485610f0. Feel free to reopen if you manage to reproduce it on `2.4-develop` instance.

[2019-12-09 07:46] #6411 closed, assigned to nobody

[2019-12-09 07:56] krzksz commented on #8646
I'm closing this as of version 2.3.3 Magento supports both [critical CSS technique](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-topics/css-critical-path.html) and moving JavaScript files to the bottom of the page. You should be able to find both settings under **Developer** tab in admin panel.

[2019-12-09 07:56] #8646 closed, assigned to nobody

[2019-12-09 08:41] jankovandeventer opened #25956 "Undefined Index Name on Product Import"
### Preconditions (*)

1. Magento ver. 2.3.3
2. PHP7.2, MYSQL5.7
3. Magento 2 Store with Products

### Steps to reproduce (*)

1. Create Update CSV with sku and url_key
2. Duplicate url_key exists in file for one or more rows
3. Go to System -> Data Transfer -> Import
4. Import Settings:
- Product
- Add/Update
5. Check Data

### Expected result (*)

1. duplicatedUrlKey error is shown with sku and

[2019-12-09 08:57] convenient commented on #25862
Very interesting. I wonder if this could cause https://github.com/magento/magento2/issues/15427#issuecomment-456399516 where I saw a deadlock in paypal express.

[2019-12-09 09:29] IvanChepurnyi commented on #25862
@convenient This issue might have caused dozens of adverse effects since the introduction of transactions in guest order placement API. Your deadlock most probably a combination of both factors, this issue and `REPEATABLE-READ` transaction mode in MySQL when the table gets locked for inserting new records if any transaction has a locking gap in the index for new increment value.

[2019-12-09 10:05] angelflo commented on #13289
This problem seems still not solve in Magento 2.2.10, can you confirm ?

[2019-12-09 10:05] convenient commented on #25862
Thank you @IvanChepurnyi I will look into the `READ-COMMITTED` mode.

[2019-12-09 10:12] engcom-Echo commented on #25951
Hello @eeeduuu

Thank you for your report and collaboration!
I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Preconditions:**
1. Magento CE 2.4 without sample data is installed
2. Created 2 sites.
3. Products have been assigned to each site.

**Steps to reproduce:**

1. Generate a CSV file with the information of the products
2. Import p

[2019-12-09 10:12] #25951 closed, assigned to engcom-Echo

[2019-12-09 10:41] engcom-Echo commented on #7303
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Preconditions:**
1. Magento 2.4
2. Chrome (Version 78.0.3904.108 (Official Build) (64-bit))
3. Configurable product is created.

**Steps to reproduce:**

1. Edit a configurable product and click on save.
2. Be impatient and click on save again a few times, just really go at it.

[2019-12-09 10:41] #7303 closed, assigned to engcom-Echo

[2019-12-09 10:54] magento-engcom-team commented on #25933
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29539` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-09 10:57] magento-engcom-team commented on #25956
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29540` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-09 11:07] engcom-Charlie commented on #10099
Hello @alessandroniciforo
We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

**Testing scenario:**

1. Open the homepage of your Magento instance in a browser
2. Log in as a customer
3. Open the Swagger UI (http://your.domain/swagger)

**Result:**
I see all the services with anonymous AND session-based authentication
![image](https://user-images.githubuser

[2019-12-09 11:07] #10099 closed, assigned to engcom-Charlie

[2019-12-09 11:16] ABARAUJOMGA commented on #25927
I had exactly the same problem. Im watching the conversation.

[2019-12-09 11:24] magento-engcom-team commented on #11175
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-29541` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-12-09 11:26] engcom-Charlie commented on #11088
Hello @josefbehr
It is known issue https://github.com/magento/magento2/issues/25754
I am closing this issue as duplicate.

Thanks for your report!

[2019-12-09 11:26] #11088 closed, assigned to engcom-Charlie

[2019-12-09 11:30] jayankaghosh opened #25959 "Error executing getOrderById GraphQL query after product in order is deleted"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Create a simple product
2. Signup and login as a customer
3. Place order after adding the product created in Step 1 to cart
4. Delete the product created in Step 1.
5. Call the `getOrderById` GraphQL endpoint with the order ID same as placed on Step 3.

### Expected result (*)
1. The order should still be retrieved because order

[2019-12-09 11:30] MGhadge2018 commented on #8640
Facing same issue with Magento CE2.3.2. Is this fixed with newer version or is still there?

[2019-12-09 12:06] #25959 closed, assigned to nobody

[2019-12-09 12:24] onepack opened #25960 "Google Shopping Ads - one website with different store domains"
### Preconditions (*)

1. M 2.3.3

### Steps to reproduce (*)

1. Create 1 website end 4 store views with different domains
2. Connect to GMC

### Expected result (*)

1. Expect to start selling per domain after claiming the domains

### Actual result (*)

1. The website main Domain is connected to the GMC account
2. All products on other domains fail and due to all errors related to this nothing

[2019-12-09 12:33] Vishrootways commented on #23645
@YiffyToys Could you please let us know how did you solve that issue? I am also getting same issue with Magento 2.3.3 version. Contact us and order emails not getting send to customer as well admin. We have not added any non-ASCII chars to email sender and/or receiver detail.

NOTE: We have migrated data from Magento 1.9 to Magento 2.3

It would be good if you can suggest us what can be the issue

[2019-12-09 12:59] engcom-Echo commented on #9127
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**

1. Installed Magento CE 2.4 with sample data
2. Admin Panel >> Products >> Catalog :: Go to configurable product e.g. SKU: WH01
3. Edit any child of this main product. Set special price to this child product and save it.
4. Search this main product from fro

[2019-12-09 12:59] #9127 closed, assigned to engcom-Echo

[2019-12-09 13:13] engcom-Echo commented on #25551
Hello All

Thank you for your report and collaboration!
I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**

1. Enable HTML minification and switch to production mode
2. Load any frontend page

**Result**
Page loads normally

So I have to close this issue.
Thanks for your report!

[2019-12-09 13:13] #25551 closed, assigned to engcom-Echo

[2019-12-09 13:30] engcom-Charlie commented on #8884
Hello @jzahedieh
We are not able to reproduce this issue on the latest 2.4-develop branch by provided steps.

Looks like the issue was fixed in the scope of d3e32b4e5db80f7c04734f63cfeec83155613222
I'm closing this issue as not relevant.
Thank you!

[2019-12-09 13:30] #8884 closed, assigned to engcom-Charlie

[2019-12-09 13:53] engcom-Echo commented on #7854
Hello All

Thank you for your report and collaboration!
I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**
**Steps to reproduce**

1. Create a simple product
2. Setup Authorize.net sandbox account and insert all required info
3. Add product to cart, and checkout using zip code 46282 [https://developer.authorize.net/hello_world/testing_guide/]

[2019-12-09 13:53] #7854 closed, assigned to engcom-Echo

[2019-12-09 14:11] matei commented on #22824
We are also seeing this issue on Magento Commerce 2.3.2 in a not-yet-production environment. Several traces in NewRelic show 5-6 seconds spent in lockedLoadData, sleeping.

I'm not sure if this is due to the fact that the lock implementation is non-atomic and we end up in some near-deadlocking scenarios, or other issues, but I can confirm the issue is happening and doesn't look related to any exte

[2019-12-09 14:26] VladimirZaets commented on #25739
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#25765 by @andrewbess in 2.4-develop branch
Related commit(s):
 - [b9ef877799ab4e94e5d5fd5a50342f7c8c8c8c6a](https://github.com/magento/magento2/commit/b9ef877799ab4e94e5d5fd5a50342f7c8c8c8c6a)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-09 14:26] #25739 closed, assigned to andrewbess

[2019-12-09 14:26] VladimirZaets commented on #25654
Hi @NathMorgan. Thank you for your report.
The issue has been fixed in magento/magento2#25655 by @NathMorgan in 2.4-develop branch
Related commit(s):
 - [cb1b7749c0520cb45cd47ec1560c62a06dbb172c](https://github.com/magento/magento2/commit/cb1b7749c0520cb45cd47ec1560c62a06dbb172c)

The fix will be available with the upcoming 2.4.0 release.

[2019-12-09 14:26] #25654 closed, assigned to NathMorgan

[2019-12-09 14:46] engcom-Echo commented on #13537
Hello All

I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Steps to reproduce:**

1. Set Default country to "United Kingdom".
2. Setup table rate shipping.
3. Add item to cart.
4. Proceed to one page checkout.
5. Default country is set automatically to "United Kingdom" as expected.

**Result**
The initial shipping price displayed is that

[2019-12-09 14:46] #13537 closed, assigned to engcom-Echo

[2019-12-09 14:57] magento-engcom-team commented on #23934
Hi @eermolaev.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [78d225e5190e013550c33949655e955c0aa7634f](https://github.com/magento/magento2/commit/78d225e5190e013550c33949655e955c0aa7634f)

[2019-12-09 15:08] PhenomAmd commented on #14589
excuse me but what line i mean some others arent that smart as you and we have same issue

[2019-12-09 15:52] engcom-Bravo commented on #7472
Hi @drb-services. Unfortunately I'm not working on the project anymore. Please try to open a new issue if You are still able to reproduce it on 2.4-develop as now Magento team excepts only issues reproduced on that version.

[2019-12-09 16:12] engcom-Echo commented on #25953
Hello @scne

Thank you for your report and collaboration!
I am not able to reproduce this issue on the 2.4-develop branch by provided steps.

**Testing scenario:**

**Preconditions:**

1. PHP 7.2
2. Elasticsearch 6

**Steps to reproduce:**
1. Update product via REST API with a PUT request.
`V1/products/<Product_SKU>`
2. Run the PUT request with this body
[code]

**Result**
Updating of stock item r

[2019-12-09 16:12] #25953 closed, assigned to engcom-Echo

[2019-12-09 16:14] IvanChepurnyi commented on #22824
@matei see PR #22829, it is fixing this issue, but not yet merged into develop branch

[2019-12-09 16:24] devchris79 commented on #25602
@magento give me 2.3-develop instance

[2019-12-09 16:25] magento-engcom-team commented on #25602
Hi @devchris79. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-12-09 16:27] devchris79 commented on #25602
@magento give me 2.4-develop instance

[2019-12-09 16:27] magento-engcom-team commented on #25602
Hi @devchris79. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-09 16:28] magento-engcom-team commented on #25602
Hi @devchris79, here is your [Magento instance](https://i-25602-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-25602-2-4-develop.instances.magento-community.engineering/admin](https://i-25602-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-09 16:30] oefterdal commented on #14589
@PhenomAmd in config_data table you should find the row that has this path

`dev/translate_inline/invalid_caches`

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Config/Model/Config/Backend/Translate.php

[2019-12-09 16:56] ihor-sviziev commented on #21179
@henryk-zaborowski

I would say it's better to use
[code]

With the value On, such URLs are accepted, and encoded slashes are decoded like all other encoded characters.
With the value NoDecode, such URLs are accepted, _but encoded slashes are not decoded but left in their encoded state_.

More details: https://httpd.apache.org/docs/2.4/mod/core.html#allowencodedslashes

[2019-12-09 17:17] georgios-2317 commented on #25076
We also had issues sending via Amazon SES and the aforementioned patch finally solved it for us (2.3.3) !!

[2019-12-09 17:35] devchris79 commented on #25602
@polcarrasco I don't get any errors but I also don't get any rates, I think this is probably as our xml credentials are for UK.

You will need to post the log, if not I can't help further.

[2019-12-09 17:45] navarr commented on #25471
This issue is resolved in `vertex/module-tax` version `3.3.0`.  This version is planned to be bundled with 2.3.4

[2019-12-09 17:46] navarr commented on #25891
This issue is fixed as of Vertex 3.3.0, included in Magento 2.3.4.

[2019-12-09 17:46] navarr commented on #25403
This issue is fixed in Vertex 3.3.0 included in Magento 2.3.4

[2019-12-09 17:47] navarr commented on #24930
This issue is fixed in Vertex 3.3.0 included in Magento 2.3.4

[2019-12-09 18:25] polcarrasco commented on #25602
Thanks, I´ve asked my developer for the log, hopefully soon he can get it for me.

[2019-12-09 19:13] ptylek commented on #23486
@magento give me 2.4-develop instance

[2019-12-09 19:13] magento-engcom-team commented on #23486
Hi @ptylek. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-09 19:14] magento-engcom-team commented on #23486
Hi @ptylek, here is your [Magento instance](https://i-23486-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-23486-2-4-develop.instances.magento-community.engineering/admin](https://i-23486-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-09 19:19] dfelton commented on #25076
@georgios-2317 I was just in the process of resolving this same issue locally (AWS SES as well).

By chance did you have encoding characters showing up in your email "From" address? My emails received via AWS SES were coming through like this in my inbox:

[code]

[2019-12-09 19:30] ptylek commented on #23486
Issue is not reproducible.

[2019-12-09 19:30] #23486 closed, assigned to ptylek

[2019-12-09 19:30] georgios-2317 commented on #25076
@dfelton my scenario was that none of our emails were leaving Magento framework. They were all bounced by SES with the `Expected disposition, got =` response.

[2019-12-09 19:34] gwharton commented on #25076
So, does the [merged resolution](https://github.com/magento/magento2/issues/25076#issuecomment-558339798) actually fix this issue or not. The merged fix just removes the INLINE content disposition header, it does not change the encoding of the header, as per the patch above?

[2019-12-09 19:44] shilpambb commented on #17973
I'm running into this on 2.3.3. I'm in the process of looking into it, and I just wanted to post what I have found so far. The issue happens when the module Magento_Persistent is disabled. I think the issue is that the checkout session gets cleared in \Magento\Checkout\Model\Layout\DepersonalizePlugin. When Magento_Persistent is enabled, the checkout session is still cleared, but it seems to be re

[2019-12-09 20:31] j-lloyd-slc commented on #8488
FWIW, I am having this problem in Magento 2.3.3, with or without coupon codes. The store does not allow guest checkout.

It seems like this error is being raised at a bottleneck where incomplete error logging is obscuring the underlying issue(s). Specifically savePaymentInformationAndPlaceOrder in vendor/magento/module-checkout/Model/PaymentInformationManagement.php

[2019-12-09 20:50] shilpambb commented on #17973
Actually, I'm not going to dig into this one...I'm just going to enable the Magento_Persistent module.

[2019-12-09 21:45] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2019-12-09 22:00] scne commented on #25953
The issue is related to the async request. Standard PUT request works also
in my scenario. Please can you consider to perform an async request in
order to evaluate this issue?

On Mon, Dec 9, 2019, 5:12 PM Viktoriia Sekeresh <notifications@github.com>
wrote:

[2019-12-09 22:11] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2019-12-09 22:11] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2019-12-09 22:12] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin](https://i-24426-2-4-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-12-09 22:23] arnoudhgz commented on #25068
The issue is, that somehow `jquery.js` is requested while `jquery.min.js` should be loaded. A **workaround** until the actual solution is found is to create a symlink named `jquery.js` that points to `jquery.min.js` in `pub/static/versionxxx/adminhtml/Magento/backend/en_US`.

Off course replace **versionxxx** and **en_US** to your appropriate paths, versionxxx is only needed when static signing en

[2019-12-09 22:42] GuiltyNL commented on #25738
I can confirm this solves the exception error.

[2019-12-09 22:49] magento-engcom-team commented on #25919
@sdzhepa, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-12-09 22:49] #25919 closed, assigned to sdzhepa

[2019-12-09 22:53] magento-engcom-team commented on #8495
@navarr, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-12-09 22:53] #8495 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #8374
@t7m, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to th

[2019-12-09 22:53] #8374 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #9397
@DarylForza, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordin

[2019-12-09 22:53] #9397 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #9751
@WilXP, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-12-09 22:53] #9751 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #8141
@ytorbyk, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-12-09 22:53] #8141 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #9985
@boostmagento, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accord

[2019-12-09 22:53] #9985 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #12029
@nikoelgatito, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accord

[2019-12-09 22:53] #12029 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #9088
@spyrule, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-12-09 22:53] #9088 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #10315
@JeroenVanLeusden, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket ac

[2019-12-09 22:53] #10315 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #5417
@bgkavinga, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-12-09 22:53] #5417 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #7295
@theodorhanu, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordi

[2019-12-09 22:53] #7295 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #12024
@d10nZ, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-12-09 22:53] #12024 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #7095
@hezide, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-12-09 22:53] #7095 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #6187
@ChristopheFerreboeuf, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticke

[2019-12-09 22:53] #6187 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #12418
@jhruehl, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-12-09 22:53] #12418 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #11339
@mritu19, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-12-09 22:53] #11339 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #4677
@redboxmarcins, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accor

[2019-12-09 22:53] #4677 closed, assigned to nobody

[2019-12-09 22:53] magento-engcom-team commented on #12299
@qsolutions-pl, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accor

[2019-12-09 22:53] #12299 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #12536
@openwavecomputing, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket a

[2019-12-09 22:54] #12536 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #10389
@ytorbyk, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-12-09 22:54] #10389 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #7419
@flipflap, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-12-09 22:54] #7419 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #12151
@heyepic, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according t

[2019-12-09 22:54] #12151 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #11248
@andkirby, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according

[2019-12-09 22:54] #11248 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #12325
@ankursachdeva11, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket acc

[2019-12-09 22:54] #12325 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #6336
@romainruaud, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordi

[2019-12-09 22:54] #6336 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #10689
@Olek89, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-12-09 22:54] #10689 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #11543
@MyVisitReUP, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordi

[2019-12-09 22:54] #11543 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #11336
@franckgarnier21, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket acc

[2019-12-09 22:54] #11336 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #12869
@Floddy, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-12-09 22:54] #12869 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #11187
@joinso, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket according to

[2019-12-09 22:54] #11187 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #11874
@andrewhowdencom, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket acc

[2019-12-09 22:54] #11874 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #12338
@jigardhaduk, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accordi

[2019-12-09 22:54] #12338 closed, assigned to nobody

[2019-12-09 22:54] magento-engcom-team commented on #7514
@skynixukraine, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment, reopen or create new ticket accor