[2016-08-23 14:10] grasdaggel opened #6293 "Magento 2.1.0-rc3 no minicart qty indicator"
### Preconditions

1.  Magento 2.1.0-rc3 installed via Composer (update from 2.0.9)
2. PHP7
3. Use a custom theme that inherits Magento Luma
### Steps to reproduce

1. Put something in the cart
2. check the minicart
### Expected result

1. Indicator shows with a "N" when N products are in the cart
### Actual result

1. No indicator is shown, nothing is in the minicart

![bildschirmfoto 2016-08-23

[2016-08-23 14:13] dnadle commented on #3356
In 2.1.0 I still have to use 'action' and the online documentation is still wrong.

[2016-08-23 14:13] JananiKrishnan opened #6294 "Magento 2 Apply both promotion and promotion code for order"
Hi,

I need to apply both promotion and coupon code for an order. It seems we can apply only one at a time. Kindly tell me whether a plugin is available or we can write a custom code?

I can explain you with scenario.

Let us say I have generated a promotion for 10 % off for order and also I have generated coupon code of $5 off for order(SAVE).

***_Expected Result:**_\* Both 10% and $5 for order

[2016-08-23 14:34] pboisvert commented on #6287
You should be able to see this functionality by clicking on the Manage Shopping Cart page (2nd link from the right)

<img width="1409" alt="screen shot 2016-08-23 at 7 37 45 am" src="https://cloud.githubusercontent.com/assets/5807369/17895903/74053ea8-6903-11e6-9ee4-d3a6068a2fd5.png">

Manage Shopping Cart
<img width="1331" alt="screen shot 2016-08-23 at 7 39 28 am" src="https://cloud.githubuserco

[2016-08-23 14:54] alexgoodey commented on #6287
Can you confirm what version that is? I don't have that link on my CE 2.1.0 install.

[2016-08-23 14:57] tkacheva commented on #6294
@JananiKrishnan Are you saying that none of promo applied to shopping cart? or only one?

[2016-08-23 14:57] xmav commented on #5818
@nmohanan
I cannot reproduce the issue.
It can be helpful if you describe settings of your Magento instance: was it the fresh install or upgrade from the previous version?
Could you please try to clear browser's cache and  reproduce the issue again?

[2016-08-23 14:59] tkacheva commented on #6294
Bug MAGETWO-55433

[2016-08-23 15:01] JananiKrishnan commented on #6294
Only one is applied.. i.e., either promo or promo code is applying

[2016-08-23 15:19] jaimestuardo commented on #5946
Any update on this?

[2016-08-23 15:25] piotrekkaminski opened #6295 "test idea"
Just testing - do not delete

### Preconditions

1.
2.
### Steps to reproduce

1.
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-08-23 15:28] kevincream commented on #6275
I can confirm this, i have the same issue in 2.1

[2016-08-23 15:42] piotrekkaminski commented on #6295
test comment1

[2016-08-23 15:42] piotrekkaminski commented on #6295
test comment 2

[2016-08-23 16:26] pstoute commented on #5714
Not to be pushy, but do we have an ETA on this update as of yet?

[2016-08-23 16:29] jaimestuardo commented on #5946
Finally I could know what was happening. The problem was strange, however.

I have a custom template. That custom template had minicart.phtml in its design folder. Well, the only difference between this phtml and the default phtml is that I had added a new style class in the outer div.

To test I have deleted that new class from the div and the page still did not work. So, finally, I deleted the m

[2016-08-23 16:32] choukalos commented on #6262
Which version of Magento have you installed?

[2016-08-23 16:45] maderlock opened #6296 "PayPal Express payments fail as tries to remove stock twice"
### Preconditions

1. Magento 2.1.0 under nginx, php7 and mysql5.7
2. Paypal Express enabled with sandbox account
3. Configurable products set up with inventory enabled
### Steps to reproduce

1. Add configurable product to basket more with qty for more than 1/2 remaining stock of that option (e.g. 3 left for option, so add qty of 2)
2. Checkout normally (do not use PayPal express from cart)
3. Se

[2016-08-23 17:48] jibrandlr opened #6297 "Warning "Something went wrong" appears every time I try to edit a product"
### Preconditions
1. Magento 2.1.0, php 7.0.8, ubuntu 16.04
### Steps to reproduce
1. Create a product (simple or configurable)
2. After saved, try to edit the product
### Expected result
1. The editing page displays without errors.
### Actual result
1. A pop up displays the warning: "Attention. Something went wrong."

The product can be edited and saved successfully. However the pop up appears **

[2016-08-23 18:11] yssource opened #6298 "TokenArrayScanner.php does not correctly parse file, if there are more than one 'class' keyword in php file."
### Preconditions

1.  M2.1.0, developer mode
2.
### Steps to reproduce

1. php bin/magento setup:di:compile -vvv
2. [Test file, More than one class keyword](https://github.com/owebia/magento2-module-advanced-setting-core/blob/master/Block/System/Config/Form/Field/Config.php)
3.
### Expected result

1. It should successfully compile.
### Actual result

1. [Screenshot, logs]

[code]

# https://gith

[2016-08-23 18:21] yssource commented on #6298
![screenshot from 2016-08-24 02-16-31](https://cloud.githubusercontent.com/assets/3756334/17904285/5955554a-69a1-11e6-9e58-b67cb38dd942.png)

There are two class type, and the second one `$this->infos[2]['name'] = (null)`

[2016-08-23 18:44] thomvanderboon commented on #6297
@lgarridoj Did you disable any modules? This is a known problem if you disable the reviews module.  See https://github.com/magento/magento2/issues/6264

[2016-08-23 19:23] lgarridoj commented on #6082
@AzVo I deleted all caches and result is the same. I also removed the only extension (a payment extension) I have installed, no luck. Haven't made any modifications other than my theme customizations.
I compared the "Console" log in both situations (see image) bu there is no apparent error.
![console-checkout](https://cloud.githubusercontent.com/assets/8398744/17906490/30157d5e-693d-11e6-85fb-dfee

[2016-08-23 19:31] #4840 closed, assigned to nobody

[2016-08-23 19:32] astorm commented on #4707
Assuming this isn't a priority, closing out.

[2016-08-23 19:32] #4707 closed, assigned to choukalos

[2016-08-23 19:32] jibrandlr commented on #6297
That's my case. I disabled the reviews module. Thanks

[2016-08-23 19:34] astorm commented on #4287
Any update on this?  The conversation above leads me to believe that unifying the filter group interfaces isn't a priority, and that the inconsistent behavior is a deliberate design decision.  Closing out, but please re-open if the above is incorrect. @piotrekkaminski

[2016-08-23 19:34] #4287 closed, assigned to mbrinton01

[2016-08-23 19:34] astorm commented on #4020
No update since May -- assuming this isn't a priority for the engineering and am  closing out.

[2016-08-23 19:34] #4020 closed, assigned to piotrekkaminski

[2016-08-23 19:35] astorm commented on #3167
No update on this since May. Assuming it's not a priority for the engineering team and closing out.

[2016-08-23 19:35] #3167 closed, assigned to tanya-soroka

[2016-08-23 19:35] astorm commented on #2821
No update here since May.  Assuming this developer experience issue isn't a priority and closing out.

[2016-08-23 19:35] #2821 closed, assigned to nobody

[2016-08-23 19:36] astorm commented on #2399
No update since June -- assuming this isn't a priority for the engineering team and closing out.

[2016-08-23 19:36] #2399 closed, assigned to nobody

[2016-08-23 19:36] astorm commented on #356
No update since September of last year -- assuming this isn't a priority for the engineering team and closing out.

[2016-08-23 19:36] #356 closed

[2016-08-23 19:37] astorm commented on #2832
No update since January of this year.  Assuming it's a deliberate design decision to have the di system work different for different applications.  Closing out.

[2016-08-23 19:37] #2832 closed, assigned to nobody

[2016-08-23 19:38] astorm commented on #5647
Closing out due to lack of activity. Please reopen if this is still a priority.

[2016-08-23 19:38] #5647 closed, assigned to vkorotun

[2016-08-23 19:39] astorm commented on #5326
Closing out due to lack of response from core team.

[2016-08-23 19:39] #5326 closed, assigned to nobody

[2016-08-23 19:39] #5239 closed, assigned to maksek

[2016-08-23 19:39] #4159 closed, assigned to nobody

[2016-08-23 19:39] #5355 closed, assigned to nobody

[2016-08-23 19:49] tkacheva commented on #6294
Thanks @JananiKrishnan  that is what we reproduced.

[2016-08-23 19:54] piotrekkaminski commented on #6295
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/boards/id/feature-requests/messages/id/9)

[2016-08-23 19:58] pstoute commented on #5714
More data on this bug... it seems that if you're using a cPanel server, one that requires a table prefix, the installation for this payment method will fail because it's not currently allowing the use of table prefixes.

If we install this on another server that doesn't require table prefixes, my guess is that it'll work without any modification to the core code.

[2016-08-23 20:09] SchumacherFM commented on #4020
Statistics say that they need around 3-6 month to close an issue or a PR. So a couple of days to go for the six month ... ;-(

[2016-08-23 20:12] piotrekkaminski commented on #6295
Thank you for your submission.
The Magento 2 GitHub repository is used to capture code and documentation issues.
New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.
This discussion is now available at [Magento Forums](https://community.magento.com/t5https://community.magento.com/t5/Magento-2-Feature-Requests-and/test-

[2016-08-23 20:15] thomvanderboon commented on #6297
@lgarridoj Please go to issue https://github.com/magento/magento2/issues/6264 and press subscribe button at bottom of right column. You will be notified when this issue has been resolved.
@veloraven Please close #6297. It is duplicate of https://github.com/magento/magento2/issues/6264

[2016-08-23 20:15] piotrekkaminski commented on #6295
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/test-idea/idi-p/44555).

[2016-08-23 20:26] piotrekkaminski commented on #6295
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/test-idea/idi-p/44560).

[2016-08-23 20:33] hostep commented on #6264
This was already reported multiple times. Duplicate ticket: https://github.com/magento/magento2/issues/5323
You can find a linked PR in that ticket which should fix it (not tested myself).

[2016-08-23 20:38] hostep commented on #6275
This has been reported multiple times already, please try searching for an issue before creating a new one.
Duplicate: https://github.com/magento/magento2/issues/5352
A fix was already delivered to the develop branch, we just need to wait (very very patiently) until Magento puts this into an official release.

[2016-08-23 21:00] #6295 closed, assigned to nobody

[2016-08-23 21:04] #6297 closed, assigned to nobody

[2016-08-23 21:23] jibrandlr commented on #6082
@AzVo I solved the issue by deleting the only extension (a payment extension) I have installed on my store.

[2016-08-23 21:55] piotrekkaminski commented on #356
Hey @astorm. I do understand the confusion it introduces and while we have plans to have single entry point, it is not a priority due to low impact and possibility of affecting many merchants using lower end hosting providers, who still (s)FTP the files and cannot change the webroot. Ideally everyone that can should be using pub as the entry point and I will ask to clarify this in the guides.

[2016-08-23 22:44] imsergiobernal opened #6299 "Can't create products with inline translation turned on"
### Preconditions

1. Magento 2.1.0
2. PHP 7.0.6-dev
3. MariaDB 14.14 Distrib 5.7.13
4. Ubuntu 16.04.1 LTS
### Steps to reproduce

1. Turn on admin inline translation
2. Try to create any kind of product
### Expected result

1. New product options should appear and I could translate or fill product information.
### Actual result

1. [Screenshot, logs]
   http://prntscr.com/c9klac
   Stucks loading

[2016-08-23 23:41] crantron commented on #2206
This is also happening in Outgoing emails in the system, FYI.

[2016-08-24 00:00] crantron commented on #6252
not an issue, look at how the core is doing "reorders".

[2016-08-24 00:00] #6252 closed, assigned to nobody

[2016-08-24 00:26] quan-ntekka commented on #5479
Maybe my little insight can help resolve this issue.

I've created a custom braintree module that failed validation and Braintree returned the validation message, but it's not passed up the chain for Magento to parse, so you just get a generic "Unable to place order. Please try again later."

\Magento\Braintree\Gateway\Validator\GeneralResponseValidator line 36

To sum it all up, it was an incorre

[2016-08-24 00:51] dnadle opened #6300 "Successful attribute option POST returns 'true', not the option hash or value"
### Preconditions

1. Magento 2.1.0.
### Steps to reproduce

1. POST an new option value using /V1/products/attributes/{attributeCode}/options. Request body looks like `{"option": {"label": "FOOBAR"} }`
2. Examine response content.
### Expected result

1. Returned body should contain full record of option inserted including the option "value."
### Actual result

1. Response body contains only 'tru

[2016-08-24 02:23] rosandrest commented on #5459
I tried to run this patch @wardcapp and got this:
diff: unrecognized option '--git'
diff: Try `diff --help' for more information.
./patch.sh: line 2: index: command not found
./patch.sh: line 3: ---: command not found
./patch.sh: line 4: +++: command not found
./patch.sh: line 5: @@: command not found
./patch.sh: line 6: app/: is a directory
./patch.sh: line 7: syntax error near unexpected token `

[2016-08-24 02:43] yssource commented on #6298
https://github.com/magento/magento2/blob/develop/setup/src/Magento/Setup/Module/Di/Code/Reader/FileScanner.php#L24

scan() function in FileScanner.php would not correctly parse the following Test.php

Test.php

[code]

[2016-08-24 05:17] vishveskrish commented on #5843
@nmallepally : Do you find the solution regards to PayPal express ? We are facing same issue but no luck.

[2016-08-24 05:54] omkarambre opened #6301 "Is it possible to fetch quantity, is_in_stock value and extension attributes for each product in magento 2 rest api using searchCriteria. I am using the following url http://website_host/index.php/rest/V1/products/?searchCriteria[filter_groups][0][filters][0][field]=sku&searchCriteria[filter_groups][0][filters][0][value]=keratin&searchCriteria[filter_groups][0][filters][1][field]=sku&searchCriteria[filter_groups][0][filters][1][value]=Inspiring"
### Preconditions

1.
2.
### Steps to reproduce

1.
2.
3.
### Expected result

1.

I am expecting  to get extension_attributes in json object. I am getting custom_attributes but not extension_attributes.

"extension_attributes": {
    "stock_item": {
      "item_id": 2048,
      "product_id": 2048,
      "stock_id": 1,
      "qty": 33,
      "is_in_stock": true,
      "is_qty_decimal": false,

[2016-08-24 06:47] tejashp77 commented on #3552
For specific customer you have to pass customer email parameter in api.

http://www.youdomain.com/rest/V1/orders?searchCriteria[filter_groups][0][filters][0][field]=customer_email&searchCriteria[filter_groups][0][filters][0][value]=youremail@gmail.com

and pass admin Bearer key instead customer Bearer key

[2016-08-24 07:46] routbiplab commented on #6048
Yeah did Re-index and it worked. Thanks

[2016-08-24 07:52] devonto opened #6302 "Unable to override invoice, shipment and credit memo templates"
**Preconditions**
1.  Magento 2.1
2.  Custom module created at `app/code/Vendor/Module`

**Steps to reproduce**
1.  Place override XML files at `app/code/Vendor/Module/view/frontend/layout/`
2.  Place override phtml files at `app/code/Vendor/Module/view/frontend/templates/`
3.  Resend email from admin - Sales->Invoices->[Specific invoice]->Send Email

**Expected result**
1.  Changes made within th

[2016-08-24 07:58] nmallepally commented on #5843
@vishveskrish It works for me on Live environment, for payment action type - sale and authorization on above commits.
Does not work for orders though. if you are testing in sandbox mode, try switching to live by changing payment action and give a try. may be it should work out.
It isn't  a good solution, but we had to to move with something working on paypal as we cannot block go live.

[2016-08-24 07:59] mackelito opened #6303 "Calling REST "/V1/carts/mine" does not contain items"
### Steps to reproduce
1. Do a GET request to "/V1/carts/mine"
### Expected result
1. "quoteCartManagementV1" in http://devdocs.magento.com/swagger/index.html#/ tells us that it should provide the items in cart... but it does not
### Actual result

Items are not returned
### Note

I assume that the behaviour should be the same when requesting the guest-carts...

[2016-08-24 08:15] PieterCappelle commented on #5577
I was having the same problem. The problem was the module was not enabled. No idea why the module was not enable. Maybe because we did an upgrade from 2.0 to 2.1?

[code]

To fix you need to do:

[code]

[2016-08-24 08:20] peec opened #6304 "[2.1.0] Design Configuration - Custom logo upload twice error (db media storage)."
### Preconditions
1. Magento 2.1.0
2. Nginx , PHP 7, Mysql 5.6. Varnish.
3. Production mode
4. Database media storage enabled.
### Steps to reproduce
1. Go into Content -> Design -> Configuration
2. Edit the global or view specific settings for the theme.
3. Under the "Header" pane, try uploading a new logo. Remember the image's name.
4. Save the theme configuration.
5. Edit the same theme setting

[2016-08-24 08:38] JamboMedia commented on #5945
Same problem over here. Updated to Magento 2.1, after that the stock is not decreasing.

Will this be fixed in Magento 2.1.1?

[2016-08-24 08:44] bachlee89 opened #6305 "Can't save Customizable options"
Can't save customizable options Magento 2.1.0

Steps to reproduce
1. Go to Catalog/Product then edit a product
2. In Customizable Options tab, add option:
-  Option Title: Test
-  Option Type: Dropdown
- Options:
  ![image](https://cloud.githubusercontent.com/assets/5562316/17924116/7d92a654-6a11-11e6-83c1-54498383e9d8.png)

Expected result
- Option should be saved

Actual result
- Can't save opti

[2016-08-24 08:49] bachlee89 opened #6306 "Current tab can't active after save product"
Steps to reproduce
1. Go to Backend area, Catalog/Product , edit a product
2. Open any tab then input data
3. Click Save

Expected result
- Current tab that selected should be active after click to save

Actual result
- Tab that selected before not active

[2016-08-24 08:54] sunilit42 opened #6307 "Customer stuck in an endless loop"
I am facing below issue in magento 2.0.7

http://magento.stackexchange.com/questions/131978/customer-stuck-in-an-endless-loop

[2016-08-24 09:05] paales commented on #6002
@Part-A Technically the QTY field doesn't have to be an int, it can be a float as well. To convert to a number, do `$value * 1`.

[2016-08-24 09:13] vishveskrish commented on #5843
@nmallepally : Have You  run the below query to resolve the issue ?

ALTER TABLE sales_invoice_grid ADD base_grand_total decimal(12,4) AFTER grand_total;

Or what steps you have performed can you please list down ?

Thank you!

[2016-08-24 09:17] heldchen opened #6308 "During indexer:reindex catalogsearch_fulltext no products are listed in categories"
while the "Catalog Search" is being reindexed, all category listing pages show "We can't find products matching the selection.". as soon as the reindex process is completed, the categories are browsable again.
### Preconditions
1. CE 2.1.0
### Steps to reproduce
1. create a large sized sample database with enough products that the fulltext reindex takes a while. ours has around 20'000 products wit

[2016-08-24 09:42] senthilengg commented on #5745
Not able to save the product, System throws duplicate error **We found a duplicate website, tier price, customer group and quantity.** with the below tier prices configured then edit and click save.
![tir_price](https://cloud.githubusercontent.com/assets/395212/17925992/d2a1fb36-6a0c-11e6-8f44-8e09a4b6c082.png)

[2016-08-24 09:47] senthilengg commented on #6308
@heldchen try **php bin/magento indexer:reset** and then run **php bin/magento indexer:reindex**

[2016-08-24 09:54] seansan opened #6309 "Feature request: "Pack" of configurable products with stock control"
Currently it is not possible to create 1 configurable product in a "pack" or "bundle" (from now on: pack) where the pack is seen as _one_ pack and not individual items.

**Our request in short**: please expand stock control and allow for an attribute "qty in pack" which defaults to 1 piece but can be altered. Any product can be created just like you normally would with own title, sku, price, uri,

[2016-08-24 10:10] hostep opened #6310 "Changing products 'this item has weight' using 'Update Attributes' is not possible"
### Preconditions
1. Magento CE 2.1.0
2. Have some virtual products in your catalogue
### Steps to reproduce
1. Select a couple of virtual products in the product grid in the backend
2. Choose 'Update Attributes' in the 'Actions' dropdown
3. Search for the weight field, you'll find it
4. Search for the 'This item has weight' or 'This item has no weight' dropdown, you won't find it
### Expected res

[2016-08-24 10:14] Galch24 commented on #1458
In 2.1.0, this problem still persist. If I hided minicart in header (in default.xml layout) the similar errors are showed in console:

[code]

in defaultCaptcha.js (line 29, col 17)

[2016-08-24 10:16] vijaygupta108 commented on #2843
Hi Guys,
Have you got solution of this issue **Error: Script error for: rjsResolver** ?
Please reply, Thanks

[2016-08-24 10:19] alexgoodey commented on #6287
Hi,

Any update on this?

Alex

[2016-08-24 10:30] heldchen commented on #6308
@senthilengg that does not make any difference, products are still not listed in categories during the catalogsearch_fulltext run

[2016-08-24 10:36] stamster commented on #2843
@vijaygupta108 just clear the browser cache.

[2016-08-24 10:37] bondimedical3 opened #6312 "Redis Session Storage"
I have keys appearing in my Redis database for session storage but I have noticed there is data continually being added to the 'session' table in phpMyAdmin. Is this a bug?

[2016-08-24 11:02] ShubhSikarwar opened #6313 "Unsubscribe not working in Default Magento 2.1 from admin panel"
1. Login Magento 2.1 CE admin
2. Go to Customer -> All Customers
3. Click on Add new customer
4. Fill all mandatory fields
5. Click on Save and Continue
6. Click on Newsletter in Left navigation
7. Check the Subscribed to Newsletter and Save and Continue.
8. Again Go to Newsletter and Uncheck the Subscribed to Newsletter and Save and Continue.
   ISSUE:   Again Go to Newsletter , Subscribed to New

[2016-08-24 11:03] basselalaraaj opened #6314 "Not able to set creditmemos collection on a order."
## Preconditions
1. Magento 2 develop branch
2.  php 7 and mysql 5.6
### Steps to reproduce
1. app/code/Magento/Sales/Model/Order.php is missing a setCreditmemosCollection function to be able to add programmatically a creditmemo collection to a order.
### Expected result
1. To be able to set a creditmemo collection on a order programmatically through a setCreditmemosCollection function in app/code

[2016-08-24 11:05] sunilit42 commented on #6307
added product into cart, now i am changing same product in backend like price so it set collect recollect in quote,

When i am login with same quote then it will go infinite loop of that.

[2016-08-24 11:09] inkxe-jitendra commented on #3855
@palamar i get this issue too.magento version is 2.0.7

Fatal error: Call to a member function getValue() on a non-object in /home/demoinkxe/public_html/magento2/vendor/magento/module-catalog/Pricing/Render/FinalPriceBox.php on line 101

[2016-08-24 11:14] maderlock commented on #6296
For anyone using PayPal this is a show-stopper.

[2016-08-24 11:50] flipflap opened #6318 "Category sort position function fails for Widget Catalog Product List"
### Preconditions

1. Magento 2.0.9
### Steps to reproduce

1. Ad the Widget Catalog Product List to homepage
2. Ad a condition for a specific category
3. Try to sort products in the category by position
### Expected result

1. Products on homepage should in sort position of category
### Actual result

1. Products on homepage are not sorted at all

[2016-08-24 12:32] bartoszkubicki opened #6319 "Customer attribute - values for deleted entities are not removed"
### Preconditions

1. I use Magento 2.1 CE, PHP 7.0
### Steps to reproduce

1. I have added some customer attributes programaticaly.
2. It saves and works normally.
3. I have deleted the instance of customer.
### Expected result

1. Values provided for that entity also should be removed.
### Actual result

1. Actually they are not - it' really painful when attribute is unique - I can't add value e

[2016-08-24 12:33] vijaygupta108 commented on #2843
Hello Stamster,
Thanks for reply,
I tried after clear browser cache and also checked on another system but its not working...
Please guess what may be issue..
Thanks

[2016-08-24 12:40] DevManav commented on #4737
Hi @lgt,
I'm also having this issue in all mail. Is there any solution for this issue? Please let me know if any one has a solution.

[2016-08-24 12:51] AppChecker opened #6320 "Exception is created but not thrown"
Hello!
1) In method [Collection::filterByProductType](https://github.com/magento/magento2/blob/1b30452b84a03d6951ba54ee699ee7df5ac47dd3/app/code/Magento/Reports/Model/ResourceModel/Product/Lowstock/Collection.php#L252):

[code]

\Magento\Framework\Exception\LocalizedException  is created but not thrown.
Is "throw" keyword missing?

2) In method [AbstractProduct::getModel](https://github.com/magent

[2016-08-24 13:13] firestorm23 commented on #3066
I got this bug without any "migrate" operations. I just created second store for  tutorial tasks and this bug occured.

[2016-08-24 13:21] sja87 commented on #6287
same problem here. No cart link in admin.

![bildschirmfoto 2016-08-24 um 15 20 44](https://cloud.githubusercontent.com/assets/4973582/17932035/721f5572-6a0e-11e6-9122-61de10c9b3ca.png)

[2016-08-24 13:54] snez commented on #5326
@astorm the issue was acknowledged as a bug, that's good enough of a response no?

[2016-08-24 14:20] piotrekkaminski commented on #4986
It's a typical use case to have more composer repositories defined and Magento needs to support this flow.

[2016-08-24 14:38] pboisvert commented on #5326
@snez actually the "bug" label means we are investigating as a possible bug. When we reproduce an issue then we add the "acknowledged" label.

@piotrekkaminski Can you review and reopen (or clone) if a valid issue, or if more of a dev experience improvement, file in Jira and add the jira ticket here (or to the clone)?

[2016-08-24 14:40] adamraya commented on #4737
I had this problem too, seems like emogrifier had trouble with a multiline comment `/* code */` inside a media query in one of the .less files of our theme based on the blank theme.

[2016-08-24 14:43] maderlock commented on #6296
For now, I've disabled saving quote items once they are in an inactive quote. This seems like a non-optimal solution, but as a hack it does the job - PayPal Express orders can go through now without throwing an error, redirecting to the review step and putting incorrect stock back into the inventory.

I've added a plugin for \Magento\Quote\Model\Quote\Item\CartItemPersister containing:

[code]

[2016-08-24 14:44] JacobDrummond opened #6323 "Cannot create Customer with Date of Birth in Magento 2.1 (en_GB locale)"
### Environment
1. Apache 2.4.17
2. MySQL  5.0.11-dev
3. PHP 5.6.15
4. Magento 2.1.0
### Steps to reproduce
1. In System > All Users > User > [You], set the interface locale to English (United Kingdom):
   ![blog-3](https://cloud.githubusercontent.com/assets/8377620/17434109/7a89183c-5b00-11e6-8c8f-2a30db35c5a7.png)
2. Create a new customer. Make sure to fill in Date of Birth field:
   ![c-1](http

[2016-08-24 14:49] pboisvert commented on #6296
@asemenenko Can you check into this one from the PayPal side and assign to another team if the issue relates to inventory?

[2016-08-24 15:01] oliverklee commented on #4737
@adamraya Could you please file a ticket at the Emogrifier issues list with the offending HTML and CSS? Then we can have a look at it. Thanks! :heart:

[2016-08-24 15:05] hostep opened #6325 "It should be possible to sort the billing address fields in the checkout in a convenient way"
### Preconditions
1. Magento CE 2.1.0
2. A whole afternoon of debugging joy (oh no, I already did this for you, don't worry)
### Steps to reproduce
1. Take a look at how the _billing_ address fields are composed: https://github.com/magento/magento2/blob/c5d618d5439362f50ba0f21d3fadf418cc765190/app/code/Magento/Checkout/Block/Checkout/LayoutProcessor.php#L201-L246
2. Compare this to the _shipping_

[2016-08-24 15:20] TommyKolkman opened #6326 "Special characters not showing up in widgets"
Magento widgets strip special characters like a "+".

If I add something like:

`{{widget type="Elephant\CFTextAndImage\Block\Widget\CFTextAndImage" language="nl_nl" title_default="++Hallo++"}}`

The plusses are stripped. Now, in this case that's not that much of a problem, but in some cases we use base64 values there. When the base64 value has a plus, the value is instantly corrupted.

I've tried

[2016-08-24 15:35] mbrinton01 commented on #6303
Hello @mackelito, are you logged in at the time of the call?

[2016-08-24 15:40] dthampy commented on #5881
@tbenny ,
I tried to reproduce based on the steps that you described( Magento 2.1.0CE)
![create_admin_account](https://cloud.githubusercontent.com/assets/19805283/17937019/5d02ea64-69e6-11e6-90b2-adea96623bc9.png)
So during the web installation, as you can see from the screenshot that when you enter just alphabet characters , it gives out the validation error . I chose (password = admin, then it w

[2016-08-24 15:52] piotrekkaminski commented on #3466
@bgabrovsek were you able to resolve it? did you see this problem again?

[2016-08-24 16:00] ghost opened #6327 "Multiple password change requests"
### Preconditions

When I´m trying to access the admin panel of my magento 2.0.9 I`m asked to change the password. Once I updated the password I`m still not able to access other pages, the same password change request page is displayed again and again.

Any idea?
### Steps to reproduce

1.
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-08-24 16:54] peec commented on #4755
FYI, still reproduced in 2.1. Even re-installed a couple of times.

The encrypted fields are removed ( Braintree private and secret keys ) on deploy . Something seems to be wrong with the encryption of fields it seems. It doesn't persist on redeploy.

[2016-08-24 16:55] ghost commented on #2666
receiving same message but for all images when importing from cvs file with images in pub/media/import folder.

[2016-08-24 16:56] wblayney opened #6328 "Problem with installing 2.1.0 With Command Line"
### Preconditions

1. I'm magento 2.0.9 and I'm trying to update to 2.1.0
2. I've tried using the inbuilt feature to update, but I'm getting an issue that's [already been covered in a separate forum; It cant take that action right now](http://devdocs.magento.com/guides/v2.0/comp-mgr/trouble/cman/were-sorry.html)
### Steps to reproduce

1. I ran the command `composer require magento/product-communi

[2016-08-24 17:06] wblayney commented on #6328
I just ran `composer diagnose`
to which I got `Checking composer.json: FAIL
The version field is present, it is recommended to leave it out if the package is published on Packagist.
Defining autoload.psr-0 with an empty namespace prefix is a bad idea for performance
require.magento/product-community-edition : exact version constraints (2.1.0) should be avoided if the package follows semantic versi

[2016-08-24 17:12] ghost commented on #2666
Not sure if this has anything to do with your issue as this is an internal import but I realized the CVS files should have no file path for the images. It should just be the image name.

In M2 I have images stored in pub/media/import but would get the same error 1. Imported resource (image) could not be downloaded from external resource due to timeout or access permissions in row(s): 1, 2

I remov

[2016-08-24 17:27] peec commented on #4755
I think i solved the case now, had to read some code to figure this out.
This is related to app/etc/env.php and the Encrypter relying on the filesystem.

As one only version control composer.lock and composer.json, env.php will be generated on each deploy and each physical server node being allocated to magento.

**app/etc/env.php**

[code]

The `crypt/key` has to stay the same on ALL nodes, and m

[2016-08-24 17:41] will-b opened #6329 "Usage of period in html element id attribute"
Why do some html elements have dots instead of dashes or underscore in their id attributes?

[code]

This means that you will have to escape the selector when targeting it.
Is there a benefit to this?

When targeting these ids (not ideal but if you have to) in sass or less this only leads to confusion.

[2016-08-24 17:48] piotrekkaminski commented on #5880
Thanks for the information @acidreian666 . We have removal of mcrypt and other encryption changes in our backlog under MAGETWO-39838 and it's related to #5701 as well but not duplicate.

[2016-08-24 18:00] piotrekkaminski commented on #4068
It should be fixed. Investigating why it appeared in recent commit.

[2016-08-24 18:20] piotrekkaminski commented on #6204
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Magento-Theme-Add-page-layout-from

[2016-08-24 18:20] #6204 closed, assigned to nobody

[2016-08-24 18:21] piotrekkaminski commented on #5958
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/ImportExport-override-imported-val

[2016-08-24 18:21] #5958 closed, assigned to nobody

[2016-08-24 18:22] piotrekkaminski commented on #5920
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Media-attributes-scope-settings-us

[2016-08-24 18:22] #5920 closed, assigned to antboiko

[2016-08-24 18:29] fcapua-borngroup commented on #2913
Is  there any update on this issue?

[2016-08-24 18:30] facundocapua commented on #2913
Is there any update on this issue?

[2016-08-24 18:31] piotrekkaminski commented on #5911
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Product-visibility-helper-column-i

[2016-08-24 18:31] #5911 closed, assigned to nobody

[2016-08-24 18:35] piotrekkaminski commented on #5819
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Add-3D-secure-command-or-make-exec

[2016-08-24 18:35] #5819 closed, assigned to asemenenko, alena-marchenko

[2016-08-24 18:35] piotrekkaminski commented on #5805
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/The-possibility-to-use-html-in-the

[2016-08-24 18:35] #5805 closed, assigned to nobody

[2016-08-24 18:36] piotrekkaminski commented on #5650
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Magento-2-1-newsletter-feature-req

[2016-08-24 18:36] #5650 closed, assigned to nobody

[2016-08-24 18:37] piotrekkaminski commented on #5600
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Feature-Request-Debug-Log-should-n

[2016-08-24 18:37] #5600 closed, assigned to nobody

[2016-08-24 18:44] piotrekkaminski commented on #5404
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Rest-Api-GET-V1-carts-mine-items-n

[2016-08-24 18:44] #5404 closed, assigned to mbrinton01

[2016-08-24 18:46] piotrekkaminski commented on #5081
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/GETing-products-REST-API-unconsist

[2016-08-24 18:46] #5081 closed, assigned to mbrinton01

[2016-08-24 18:47] piotrekkaminski commented on #4975
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Print-options-from-the-Orders-grid

[2016-08-24 18:47] #4975 closed, assigned to asemenenko

[2016-08-24 18:49] piotrekkaminski commented on #4970
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Error-IDs-REST-API/idi-p/44720).

[2016-08-24 18:49] #4970 closed, assigned to mbrinton01

[2016-08-24 18:52] piotrekkaminski commented on #4956
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Feature-request-Export-for-site-co

[2016-08-24 18:52] #4956 closed, assigned to nobody

[2016-08-24 18:57] piotrekkaminski commented on #4771
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Checkout-edit-address-functionalit

[2016-08-24 18:57] #4771 closed, assigned to asemenenko

[2016-08-24 18:57] piotrekkaminski commented on #4436
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Creating-Online-Refund-Feature-req

[2016-08-24 18:57] #4436 closed, assigned to mbrinton01

[2016-08-24 18:59] piotrekkaminski commented on #4352
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Suggestions-for-Magento-2-missing-

[2016-08-24 18:59] #4352 closed, assigned to elenleonova

[2016-08-24 19:02] piotrekkaminski commented on #4005
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Rest-API-for-querying-and-updating

[2016-08-24 19:02] #4005 closed, assigned to choukalos

[2016-08-24 19:03] piotrekkaminski commented on #3980
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/2-0-4-NET-catalogInventoryStockReg

[2016-08-24 19:03] #3980 closed, assigned to mbrinton01

[2016-08-24 19:05] piotrekkaminski commented on #3938
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Contribution-tools-and-help/idi-p/

[2016-08-24 19:05] #3938 closed, assigned to maksek

[2016-08-24 19:06] piotrekkaminski commented on #3914
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Create-theme-child-theme-option/id

[2016-08-24 19:06] #3914 closed, assigned to antboiko

[2016-08-24 19:10] piotrekkaminski commented on #3608
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Can-t-attach-a-file-in-downloadabl

[2016-08-24 19:10] #3608 closed, assigned to nobody

[2016-08-24 19:13] piotrekkaminski commented on #3575
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Feature-Request-Grid-issues/idi-p/

[2016-08-24 19:13] #3575 closed, assigned to antboiko

[2016-08-24 19:13] piotrekkaminski commented on #3342
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/create-customer-attribute-in-magen

[2016-08-24 19:13] #3342 closed, assigned to ilol

[2016-08-24 19:16] piotrekkaminski commented on #3238
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Create-store-view-using-the-comman

[2016-08-24 19:16] #3238 closed

[2016-08-24 19:24] piotrekkaminski commented on #2997
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/magento-connect-manager/idi-p/4475

[2016-08-24 19:24] #2997 closed, assigned to jamescowie

[2016-08-24 19:25] piotrekkaminski commented on #2912
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/WEBAPI-option-to-create-an-individ

[2016-08-24 19:25] #2912 closed, assigned to nobody

[2016-08-24 19:25] piotrekkaminski commented on #2890
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Integral-support-for-EDI-messages-

[2016-08-24 19:25] #2890 closed, assigned to choukalos

[2016-08-24 19:26] piotrekkaminski commented on #2662
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/Shipment-date-missing-from-Shippin

[2016-08-24 19:26] #2662 closed, assigned to asemenenko

[2016-08-24 19:27] piotrekkaminski commented on #2651
Thank you for your submission.

The Magento 2 GitHub repository is used to capture code and documentation issues.

New feature requests and existing feature improvements should be submitted to the Magento 2 Feature Requests and Improvements forum.

This discussion is now available at [Magento Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/setup-payment-module-on-store-leve

[2016-08-24 19:27] #2651 closed, assigned to asemenenko

[2016-08-24 19:32] jibrandlr opened #6330 "It takes up to 1 minute to get the confirmation message after creating an account"
### Preconditions

1. Magento 2.1.0, PHP 7.0.8, Ubuntu 16.04
### Steps to reproduce
1. Fill the form in the create an account page
2. Click "create an account" button.
### Expected result
1. The user should see the confirmation of the registration process after a few seconds (reasonable time).
### Actual result
1. It takes up to 1 minute to see the confirmation message.

![time-create-account](htt

[2016-08-24 19:36] mbrinton01 commented on #6300
@dnadle please provide full POST call used. Thanks!

[2016-08-24 19:51] m0zziter commented on #4755
@peec That was definitely the cause of it! I tweaked my deployment script to specify an encryption key and sure enough the Braintree settings stuck around after deployment completed.

Thanks so much for your leg work on this one!

[2016-08-24 20:00] dnadle commented on #6300
The full post body is

[code]

[2016-08-24 20:03] krzysztofkacela opened #6331 "Product video not display ver. 2.0.2"
Hi,
1. Preconditions
   Magento 2.0.2 CE
2. Steps to reproduce
   Create Product.
   Add Video. https://gyazo.com/55b06263edc0fd663383857ae971b19a
   Go to product view on frontend. Check gallery there is preview image and not video.
3. Expected result
   Video should appear and be able to play.
4. Actual result
   There is preview image and not video.

Best regards,
Krzysztof

[2016-08-24 20:30] mbrinton01 commented on #6300
Thank you @dnadle, I have confirmed this behavior.  Tracking internally as a bug under https://jira.corp.magento.com/browse/MAGETWO-57585.

[2016-08-24 20:30] heldchen commented on #6330
not seeing that here:
![image](https://cloud.githubusercontent.com/assets/299636/17946862/5af9439e-6a4a-11e6-9055-79a92bc9ec40.png)

looks very much like a 60s timeout of something... is your sendmail configured properly?

[2016-08-24 20:54] onepack commented on #4883
Same here in M2.1
Translating Magento should have become easier with M2 but it has become a nightmare to get some simple stuff translated.
To get my theme translated I'm now working with 2 translation files. One general Magento i18n under app/i18n/locale/locale.csv and one in the theme.
As some strings (from .js files) are not translatable by my theme csv file like "Search entire store here" I end

[2016-08-24 21:04] dnadle commented on #6300
I'd appreciate it if you could look at [#6127](https://github.com/magento/magento2/issues/6127) and [#6120](https://github.com/magento/magento2/issues/6120) as well. These bugs make it very difficult to manage products through the API.

[2016-08-24 21:11] mbrinton01 commented on #6301
@omkarambre for performance reasons it is not possible to search for multiple SKUs and return the extension attributes for each.  It requires two types of calls:
1. `rest/V1/products/?searchCriteria` call to get list of Products
2.  `rest/V1/products/{sku}` calls (one for each Product) to get extension attributes for each product

I'm closing the issue.  If you have additional questions related to

[2016-08-24 21:11] #6301 closed, assigned to nobody

[2016-08-24 21:16] imsergiobernal commented on #6299
Does anyone has the same problem?

[2016-08-24 22:23] fooman commented on #6328
Do you use Enterprise or Community?

vs.

If you are an Enterprise customer contacting Magento support directly might be the better option.

[2016-08-24 22:34] fooman commented on #6284
This

[code]

and then setting a DI preference wouldn't work?

[2016-08-24 22:36] adityag186 opened #6332 "Magento 2 Transactional Emails"
### Preconditions

1. Magento 2.1.0
2.
### Steps to reproduce

1.  In mail sending settings I used smtp.office365.com and port 587 so that I can use my office 365 account for email communications in magento.
2. I added my sending email address in the "Store email addresses"
### Expected result

1. The order/invoice etc email should go to the customer.
### Actual result

1. The customer does not re

[2016-08-24 22:53] daschenbrener opened #6333 "Area code not set error - when trying to upgrade from 2.0.7 CE to 2.1.0 CE using composer"
### Preconditions
1. Php 7.0.6
2. Mariadb 10.1.14
3. Ubuntu 16.04
### Steps to reproduce

1. Upgrading from 2.0.7 CE to 2.1.0 CE using composer
2. i was able to run

when i run

i get this error

so not sure where to begin with this one

[2016-08-24 22:58] pboisvert commented on #5775
@mustdobetter want to make sure we clarify the intent of your report here. Your description implies that it is not possible to specify specific shipping countries and a different set of billing countries. That is not accurate. Shipping methods and payment methods can specify applicable countries under Stores > Configuration > Sales > Shipping methods  / Payment methods.

If instead your report is

[2016-08-24 23:37] jibrandlr commented on #6330
@heldchen I don't think sendmail is configured properly. It's a local installation used only for theme development (no need for sendmail). I'll look at the sendmail configuration

[2016-08-25 00:25] ghost commented on #2703
where is the fix? is there a patch as it is still an issue in 2.1. and it is burdensome to have to create variations just to get the Add Products Manually link. thanks!

[2016-08-25 00:28] rosandrest commented on #2564
would love a patch when it becomes available as i don't want to create variations just to get the add products manually link. thanks.

[2016-08-25 01:42] tipofloe commented on #4911
Hello everyone,

I am having a similar issue with a little twist.

Cron is running in the background, but the errors I get from /var/log/update.log is as follow:

update-cron.ERROR: Cron readiness check failure! Found non-writable paths:  /var/www/html/magento2/app/design/adminhtml/Magento  /var/www/html/magento2/app/design/frontend/Magento [] []

I'm scratching my head as /var/www/html/magento2/a

[2016-08-25 01:51] HZSGit opened #6334 "Magento-2.1 error with queue Newsletter,missing "Class Magento\Newsletter\Model\ResourceModel\Subscriber\CollectionFactory""
I try to set a Newsletter Template to Newsletter queue.When i choose "Queue Newsletter" option,I am getting error repot "Class Magento\Newsletter\Model\ResourceModel\Subscriber\CollectionFactory does not exist",I can not find file at "<magento install dir>vendor/magento/module-newsletter/Model/ResourceModel/Subscriber"
### Preconditions

1.
2.
### Steps to reproduce

1.
2.
3.
### Expected result

[2016-08-25 03:03] yssource commented on #6298
It seems that the FileScanner doesn't recognize abstract methods when they are not declared at the beginning of the class.
And, my problem is fixed by the owner of the extension.

[2016-08-25 03:03] #6298 closed, assigned to nobody

[2016-08-25 06:36] lalitmalav commented on #5236
Please let me know  has resolved this issue ????

a:4:{i:0;s:164:"Notice: Undefined offset: 63 in /home/69807-54179.cloudwaysapps.com/ssasmthybt/public_html/vendor/magento/module-eav/Model/ResourceModel/ReadHandler.php on line 166";i:1;s:7654:"#0 /home/69807-54179.cloudwaysapps.com/ssasmthybt/public_html/vendor/magento/module-eav/Model/ResourceModel/ReadHandler.php(166): Magento\Framework\App\Erro

[2016-08-25 06:38] mikebox commented on #6302
I am also facing the same problem for past few days. I guess this is because of load order of configuration files. Hope there will be a solution.

[2016-08-25 07:02] grasdaggel commented on #6293
Any updates on this?

[2016-08-25 07:08] developer-lindner opened #6335 "Will there be any update for 2.1 soon?"
Will there be any update for 2.1 soon which addresses most issues?
Or do we have to wait till 2017?

[2016-08-25 07:40] andimov commented on #5589
@sunilit42
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:40] #5589 closed, assigned to nobody

[2016-08-25 07:41] andimov commented on #4746
@fpsthirty
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:41] #4746 closed, assigned to MomotenkoNatalia

[2016-08-25 07:41] andimov commented on #5947
@dmcmillin
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:41] #5947 closed, assigned to nobody

[2016-08-25 07:42] andimov commented on #5952
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:42] #5952 closed, assigned to nobody

[2016-08-25 07:42] andimov commented on #5415
@ksz2013
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:42] #5415 closed, assigned to nobody

[2016-08-25 07:43] andimov commented on #5951
@nikulprajapati
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:43] #5951 closed, assigned to nobody

[2016-08-25 07:43] andimov commented on #5539
@kubjnit
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:43] #5539 closed, assigned to nobody

[2016-08-25 07:43] andimov commented on #5955
@rickyvv
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:43] #5955 closed, assigned to nobody

[2016-08-25 07:43] andimov commented on #5585
@pen65978
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:43] #5585 closed, assigned to nobody

[2016-08-25 07:43] andimov commented on #5935
@Nehace40
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:43] #5935 closed, assigned to nobody

[2016-08-25 07:44] andimov commented on #5975
@jigar48
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:44] #5975 closed, assigned to nobody

[2016-08-25 07:44] andimov commented on #5932
@pradeepsparx
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:44] #5932 closed, assigned to nobody

[2016-08-25 07:44] andimov commented on #5976
@ragum
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:44] #5976 closed, assigned to nobody

[2016-08-25 07:44] andimov commented on #5944
@camilagoetze
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:44] #5944 closed, assigned to nobody

[2016-08-25 07:46] andimov commented on #5236
@lalitmalav
Please create a new ticket for this issue and provide detailed description according to the template.

[2016-08-25 07:46] andimov commented on #6040
@ivansuharyadi
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:46] #6040 closed, assigned to nobody

[2016-08-25 07:47] andimov commented on #5895
@spinestalker
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:47] #5895 closed, assigned to nobody

[2016-08-25 07:47] andimov commented on #6071
@ravichandrarv
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:47] #6071 closed, assigned to nobody

[2016-08-25 07:47] andimov commented on #6019
@chiragayartops
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:47] #6019 closed, assigned to nobody

[2016-08-25 07:48] andimov commented on #5950
@shyam100379
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-25 07:48] #5950 closed, assigned to nobody

[2016-08-25 09:24] GreenImp commented on #6031
Thanks both of you. I've just upgraded to v2.1 and the issue is resolved.

[2016-08-25 09:24] #6031 closed, assigned to andimov

[2016-08-25 09:29] sevos1984 commented on #6287
Hi, Manage Shopping Cart button is available in EE version only both in 1.x and 2.x

[2016-08-25 09:30] wired-circuit commented on #6262
Magento ver. 2.1.0

[2016-08-25 09:32] romainruaud opened #6336 "Magento CE 2.1.0 : Unable to generate "extra_large" catalog."
### Preconditions

1. Magento Community 2.1.0 freshly installed with composer create-project
2. Debian Wheezy
3. PHP Version : PHP 7.0.10-1~dotdeb+8.1 (cli) ( NTS )
   Copyright (c) 1997-2016 The PHP Group
   Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
   with Zend OPcache v7.0.10-1~dotdeb+8.1, Copyright (c) 1999-2016, by Zend Technologies
4. MySQL 5.7.14-7 Percona Server (GPL),

[2016-08-25 09:36] alexgoodey commented on #6287
That is not true. In Magento CE 1.x you can view the customers shopping cart in the admin area.

![screenshot from 2016-08-25 10-36-16](https://cloud.githubusercontent.com/assets/2563109/17963981/c946afb6-6aaf-11e6-8186-06786e7282c2.png)

[2016-08-25 09:54] sevos1984 commented on #6287
I meant Manage Shopping Cart functionality. View cart is not available in M2 CE

[2016-08-25 09:55] ihor-sviziev commented on #2797
@maksek @mazhalai  this fix was reverted in https://github.com/magento/magento2/commit/c4e5f323a8a7c6d0060b5603f4e571fe3a3eb76e and this issue still exists.

Could you re-open it and fix?

[2016-08-25 10:02] alexgoodey commented on #6287
So my original report still stands: "Customer Admin Shopping Cart View Missing"

[2016-08-25 10:20] sevos1984 commented on #6287
This functionality is not available anymore in M2

[2016-08-25 10:22] alexgoodey commented on #6287
Why not? I now have to explain to a client why Magento 2 has less features than Magento 1. Also why has it been partly implemented as my original post describes?

[2016-08-25 10:25] #5495 closed, assigned to nobody

[2016-08-25 10:30] epadmin commented on #5948
I also have this problem.   Worked in 2.0 but on 2.1 it does not.
http://foxtrotboutique.com/sally-gaucho-crop-denim-by-level-99-white.html Size 24 for example is out of stock and should not let you choose it, but it lets you pick it until you try to add to cart and then gives an out of stock message

[2016-08-25 10:37] andidhouse commented on #6335
Also interested.

At this point one of the worst things of magento2 is that there is no timeline at all so projects can´t be planned. As magento 2.1 has many major issues a update is really necessary but without any timeline it is really hard to work with magento2 at the moment.

Is there any plan to change this?

[2016-08-25 10:38] epadmin commented on #5882
I have this issue also.  Let me try to describe it better.  On a CATEGORY page, products with configurable options are displayed with an ADD TO CART button along with the available options.  See http://foxtrotboutique.com/brands-we-love/level-99.html
You should be able to select your option and then hit add to cart, and the item goes into your cart.  Instead, what is happening is if you select the

[2016-08-25 10:49] Hawk30100 commented on #5882
I will try to setup a test system in the next few days and give you some more information.

[2016-08-25 10:51] ghost commented on #6292
It now seems to have started working. Clearing the cache didn't work previously, so not sure exactly what did it.

[2016-08-25 10:51] #6292 closed, assigned to nobody

[2016-08-25 10:51] GlobalOutsourcing commented on #6335
We are expressing interest in this also. We have invested a lot resources and money onto some projects and would prefer to see an update to 2.1 very soon with most issues addressed and resolved.

Thanking you in advance.

[2016-08-25 11:09] mackelito commented on #6303
Yes... also the guest-cart do not require user to be logged in

An example of the response:'

[code]

[2016-08-25 11:42] mbrinton01 commented on #6303
I can't reproduce this result.  What version are you using?

Here are the steps I am using:
1. Create user account (in FE or admin, doesn't matter)
2. Clear browser cache
3. Login as user
4. Add item to cart
5. Open `http://<hostname>/index.php/rest/V1/carts/mine` in browser
6. Response includes item added to cart:

[code]

[2016-08-25 11:47] sevos1984 commented on #6290
Hello! Could you please specify your magento version and attach screenshot of your user role permissions. Thanks.

[2016-08-25 11:49] sevos1984 commented on #6291
Hi! Please specify your magento version and attach screenshot of your user role permissions. Thanks.

[2016-08-25 11:51] basselalaraaj commented on #6290
@sevos1984
Magento develop branch (2.1.0)
![screen shot 2016-08-25 at 13 51 20](https://cloud.githubusercontent.com/assets/5745279/17968055/0891834c-6acb-11e6-83a7-49a1a91dc686.png)

[2016-08-25 11:53] basselalaraaj commented on #6291
@sevos1984
Magento develop branch (2.1.0)
![screen shot 2016-08-25 at 13 53 11](https://cloud.githubusercontent.com/assets/5745279/17968106/51a6cf10-6acb-11e6-9b31-b9e61e507606.png)

[2016-08-25 11:54] Krapulat commented on #6335
At this time Magento 2 is not for production projects. There are a lot of issues.

[2016-08-25 11:57] developer-lindner commented on #6335
Tell us something new ;)

[2016-08-25 12:01] AVoskoboinikov commented on #6067
Hi,

I am afraid that we still have no idea how to reproduce this issue. However, we have some assumptions.
1. In my personal experience there was issue with another wysiwyg tool, that was not able to process copy-pasted data from Microsoft Word, because it contained some extra symbols specific only for Microsof Word (e.g. styles). So, could try to write your data by hand? Or you can try to paste

[2016-08-25 12:14] basselalaraaj opened #6337 "Not able to translate page layout head titles"
1.  Magento 2.1.0
2. Php 7.0 and mysql 5.6
### Steps to reproduce
1. open file vendor/magento/module-contact/view/frontend/layout/contact_index_index.xml
2. there is a tag <title>Contact Us</title>
3. try to translate Contact Us, by adding the translation to a translation file.
### Expected result
1. Contact Us title on the contact page will become a different translated string.
### Actual result

[2016-08-25 12:48] victor-v-rad commented on #6220
Hi @vesan-83

Could not reproduce the bug. But my AJAX query /fr/rest/fr/V1/carts/mine/estimate-shipping-methods is a bit different.
your: .../rest/fr_be/V1...
my:   .../rest/fr/V1...
Can you clarify what you did to have fr_be in query?

[2016-08-25 12:56] coredevel commented on #6335
OK so we're looking to use Mage2 for a production site and the above comments don't fill me with great confidence in adopting the platform :(  Are we saying Magento 2 isn't ready full stop, or talking about recent minor releases, and is there any documentation about specific issues other than open github issues?

[2016-08-25 13:02] sma09sjb commented on #6067
Hi,

Typing out/pasting the text into notepad etc doesn't work.

My assumption is that it's to do with my server configuration, but i don't know what precisely to check to resolve the problem, do you have any documentation on how the server should be set up in terms of permissions etc.

Thanks,

Sophie

[2016-08-25 13:02] allanpaiste commented on #5060
I would guess that this might come from the web-server (we use Apache and Apache was the one who added the max-age=0 header for .html files) so try to either override the Cache-Control within .htaccess with ...

[code]

... or do it in .vcl ...

[code]

We use the latter.

**PS: remove the ^ if your local development environment base-url includes a project-name folder a'la my.local.dev/my-project/

[2016-08-25 13:03] kassner commented on #6138
The actual URL generated in the frontend for the image is similar to:

[code]

Accessing the url directly redirects you to the admin dashboard (if logged in).

[2016-08-25 13:04] resmivarghese commented on #5949
We are facing same deserializing issue in Shoppingcart services([`quoteCartRepositoryV1`]() also.

For the operation `quoteCartRepositoryV1Save` ,along with Deserializing issue another exception also throws when we add  service in .Net .

Below is the error details,

Below is code added

[code]

Looking forward for an update on these issues.

[2016-08-25 13:06] developer-lindner commented on #6335
@richdel You should read some of them... Without a major update - it's not usable. It's disappointing to have trusted. DON'T USE IT! It's a trap! Seriously...

[2016-08-25 13:07] antboiko commented on #4993
Hi @arredod , I cannot reproduce this issue. Please check the options you specified for the Storefront under the specific attribute.

[2016-08-25 13:07] resmivarghese commented on #3605
When is 2.1.1 release date?

Same error getting for shopping cart services  also .Please fix.

Also for quoteCartRepositoryV1Save.
For save Additional information: The method 'quoteCartRepositoryV1Save' in type 'Magento2API.QuoteCartRepositoryServiceReference.quoteCartRepositoryV1PortType' is marked IsOneWay=true and declares one or more FaultContractAttributes. One-way methods cannot declare Faul

[2016-08-25 13:08] wigman commented on #5653
exact same error here

[2016-08-25 13:13] mani-repos-link commented on #5127
I have resolved this problem.. reinstalling magento2.7 after full installation...then  i run following commands in magento root directory :

php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento setup:static-content:deploy

[2016-08-25 13:16] coredevel commented on #6335
@developer-lindner thanks for your response. Oh dear :( I've been flicking through some and yes I can see the overall instability of it, man such a great shame.  You're talking major release, you mean wait until Magento 3!?  Afaik there are already a handful of well established and well known companies running with Magento 2, I can only assume they have adopted the Enterprise edition.

[2016-08-25 13:17] MomotenkoNatalia commented on #5379
@tzyganu  Internal ticket MAGETWO-55279 is closed and delivered to mainline. Please let us know if you still have an issue

[2016-08-25 13:17] #5379 closed, assigned to MomotenkoNatalia

[2016-08-25 13:37] sevos1984 commented on #6290
I can't reproduce it. Maybe it is your cache problem as it is said on screenshot, try clear it.

[2016-08-25 13:40] sevos1984 commented on #6291
This is not reproducible as well, try clearing cache and observe your magento logs for errors.

[2016-08-25 13:42] GlobalOutsourcing commented on #6335
@developer-lindner @richdel It's not as bad, we are using it and have developers working on Magento 2.1 site, quite a few extensions and themes which are suitable and have been released. There are issues that need to be addressed, however, I would not say do not use it even though it is a personal decision.

We invested a lot in our Magento 1 site and have decided to migrate to Magento 2.1 a few m

[2016-08-25 13:49] sevos1984 commented on #6275
Thanks for reporting, this issue is fixed in develop branch and will be patched in 2.1 in nearest release (internal ticket MAGETWO-57291)

[2016-08-25 13:51] AVoskoboinikov commented on #6067
We do, here is list:
http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html
http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-sys-perms-over.html
http://devdocs.magento.com/guides/v2.0/install-gde/install/legacy-file-system-perms.html
http://devdocs.magento.com/guides/v2.0/config-guide/prod/prod_file-sys-perms.html

[2016-08-25 13:52] developer-lindner commented on #6335
@GlobalOutsourcing So, you're running Magento 2.1 in production?
What about those issues like the broken WYSIWYG-Editor? where directives like {{media url=""}} don't work?

I also highly appreciate the work they've put into it... just want to get kind of time frame from the magento community team when we'll see major issues fixed.

[2016-08-25 13:58] victor-v-rad commented on #6226
I have manage to reproduce the bug. Internal ticked is MAGETWO-55054

[2016-08-25 13:59] sevos1984 commented on #6261
Hi! This is a known issue, internal ticket MAGETWO-56962. Thanks for reporting

[2016-08-25 14:00] andidhouse commented on #6335
I think the main problem is really that all the bugs reported here are put into a "internal ticket system". There are some major bugs around here reported moths ago and not solved.

Also a big problem i think is that the community has no effect on which bugs need to be fixed first. Think about the mobile picture bug which blocks the magento site to be usable at mobile devices - i think most of the

[2016-08-25 14:00] katmoon commented on #2703
Hi @rosandrest ,

It should be fixed in 2.1

[2016-08-25 14:03] GlobalOutsourcing commented on #6335
@developer-lindner Issues that we are coping with at the moment, refreshing the page is not a big deal really and it comes back, in fact it is the first I do when editing something as am use to it until it is released in an update. We are using a plugin that assists us also. It is not dramatically affecting the development to be honest.

We are in development, not in production but my point is tha

[2016-08-25 14:05] heldchen commented on #6261
thank you for the update!

[2016-08-25 14:05] esilvajr opened #6339 ""Unable to place order. Please try again later" in a clean Magento 2.1.0"
After install a clean Magento 2, my custom payment module doesn't work anymore...

I'm using PHP 7.0.6, MariaDB in a CentOS 6.5

When i try to place the order - by clicking in "Place order" button - i get this error: "Unable to place order. Please try again later."

Expected is redirect to another controller and open a page with the payment methods (cc, debit, boleto). This works in smaller versio

[2016-08-25 14:08] developer-lindner commented on #6335
@GlobalOutsourcing I don't want to give up and highly appreciate the architecture which lets me learn some cool new stuff. But some people have clients which are already waiting for positive feedback...

[2016-08-25 14:15] heldchen commented on #6339
running in the same thing right now. I was able to trace it back to the data-migration-tool for now. did you migrate your data from 1.x as well?

[2016-08-25 14:18] heldchen commented on #6335
yeah, desperately waiting for 2.1.1 as well - cherry picking fixes out of develop is a pain. I really hope magento will start to release bugfix releases faster and more frequently.

[2016-08-25 14:22] AVoskoboinikov commented on #5882
@epadmin, thanks for help, we already have internal ticket for issue which you have described. But as I understand it is not the same as @Hawk30100 's issue.
@Hawk30100, I will appreciate for your effort, thanks.

[2016-08-25 14:27] peec opened #6341 "[2.1.0] image upload from products fails with symlinked pub/media/ folder."
Usecase for symlinked media folder: Scalable hosting using nfs for the media folder. Since the database media storage doesn't work...
### Preconditions
1.  Magento 2.1
2.  PHP 7
3. Mysql 5.6
4. Move pub/media folder `mv pub/media ~/testmedia`
5. Make a symlink from pub/media to ~/testmedia `ln -s ~/testmedia pub/media`
### Steps to reproduce
1. See preconditions
2. Try to go into a product and add

[2016-08-25 14:28] victor-v-rad commented on #6208
Hi @blizam
I have managed to reproduce the issue and created internal ticket MAGETWO-57630

[2016-08-25 14:32] AVoskoboinikov commented on #6021
Cool, we will close this issue then. Feel free to ask if you will have any new questions.

[2016-08-25 14:35] #6021 closed, assigned to nobody

[2016-08-25 14:38] YevSent commented on #6339
@esilvajr, you can use [xdebug](https://xdebug.org/) to find the original reason of this exception.
You need to set breakpoint in [PaymentInformationManagement::savePaymentInformationAndPlaceOrder](https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/Model/PaymentInformationManagement.php#L71)

[2016-08-25 14:44] alexgoodey commented on #6287
In addition to the above, which also suggests that this functionality is intended to be in Magento CE 2.x is the fact that if you go to the "Abandoned Carts" report, and then click on one of the rows for a registered customer it tries to redirect you to a link like:

admin_xxx/customer/index/edit/id/159/**active_tab/cart**/key/xxxxxxxxxxxxxxxxxxxxxx

Where you actually end up is at the "Customer V

[2016-08-25 14:47] milanstojanov commented on #5873
I can confirm this issue! Happens after I have upgraded from 1.7.0.2 to 2.1.0. Any solutions so far?

[2016-08-25 14:47] milanstojanov commented on #4936
I can confirm this issue! Happens after I have upgraded from 1.7.0.2 to 2.1.0. Any solutions so far?

[2016-08-25 15:00] AVoskoboinikov commented on #6082
Ok, I am glad that you have solved it. In such case we will close this ticket.

[2016-08-25 15:00] benmarks commented on #6335
Hey folks. We're watching this thread, as we watch all the threads here and on other forums.

There is a lot of work just underway to deal with issues posted here, as well as developer experience improvements. We're also working out how to provide more visibility for tickets.

See https://twitter.com/sherrierohde/status/768203639357894656 for a little more info.

[2016-08-25 15:07] #6082 closed, assigned to andimov

[2016-08-25 15:13] AirmanAJK opened #6342 "Custom options save wrong price values after editing"
Magento CE 2.1.0 using USD as currency.

When product custom options are saved with prices > $999, revisiting the product page will display the "Price" field for custom options using commas to separate thousands (ie 1,500.00 or 1,000.00).

When saving prices with these default values, the first comma is used as the decimal point.
Saving 1,000.00 in a custom options field will store 1.00 in the dat

[2016-08-25 15:14] developer-lindner commented on #6335
@benmarks Nice to hear, but could you give us a time frame? improving developer experience (ui components for example) will take some months i guess...  When will we see crucial fixes to Catalog / Attributes / WYSIWYG-Editor?

[2016-08-25 15:17] plentyhappy commented on #6335
benmarks...I like the improvements...love the feature request voting.

[2016-08-25 15:37] antboiko commented on #6342
Hi @AirmanAJK , thanks for reporting this issue. We've created internal ticket MAGETWO-57639.

Best,
Anton.

[2016-08-25 16:01] srenon commented on #6296
Just a side note : PayPal Express seem to be processing most things twice. I was working on a module that apply additional fees to checkout total and when checking out using paypal the fee was applying twice. I track it down to `collect()` executing more times during paypal checkout vs other checkout method.

[2016-08-25 16:18] itdint opened #6343 "2.1.0 - New / Edit Product interface is missing product info section (name, sku, enabled, etc.)"
When clicking on products > catalog > and new / or edit product, the interface is broken.  I can't find a good reference of what the 2.1 product entry interface looks like - i know the sidebar went away, but it appears to be missing the first accordion section that has name, sku, enabled, etc.  You cannot add a new product because these fields do not exist and it will not pass verification. I have

[2016-08-25 16:22] heldchen commented on #6339
@esilvajr in our case, the creditcard payment extension we're using in magento 2 added its own `entity_type` to `sales_sequence_meta` and `sales_sequence_profile`  for transaction id generation.

the data-migration-tool cleaned out all non-core entries during migration, leading to the payment extension being unable to generate a next transaction id. the solution for us was to re-add the missing  `

[2016-08-25 16:32] piotrekkaminski commented on #6295
Just testing (a [link](http://www.google.com))

[2016-08-25 16:36] piotrekkaminski commented on #6309
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #6309 closed, assigned to antboiko

[2016-08-25 16:36] piotrekkaminski commented on #3279
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #3279 closed, assigned to nobody

[2016-08-25 16:36] piotrekkaminski commented on #2553
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #2553 closed, assigned to tanya-soroka

[2016-08-25 16:36] piotrekkaminski commented on #2305
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #2305 closed

[2016-08-25 16:36] piotrekkaminski commented on #2232
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #2232 closed

[2016-08-25 16:36] piotrekkaminski commented on #2136
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #2136 closed

[2016-08-25 16:36] piotrekkaminski commented on #2117
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #2117 closed

[2016-08-25 16:36] piotrekkaminski commented on #2060
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #2060 closed

[2016-08-25 16:36] piotrekkaminski commented on #2035
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #2035 closed

[2016-08-25 16:36] piotrekkaminski commented on #1994
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #1994 closed

[2016-08-25 16:36] piotrekkaminski commented on #1991
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #1991 closed

[2016-08-25 16:36] piotrekkaminski commented on #1909
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #1909 closed

[2016-08-25 16:36] piotrekkaminski commented on #1783
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #1783 closed

[2016-08-25 16:36] piotrekkaminski commented on #1715
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:36] #1715 closed

[2016-08-25 16:37] piotrekkaminski commented on #1691
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:37] piotrekkaminski commented on #1326
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:37] #1326 closed

[2016-08-25 16:37] piotrekkaminski commented on #497
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:37] #497 closed

[2016-08-25 16:37] piotrekkaminski commented on #442
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 16:37] #442 closed

[2016-08-25 16:46] daschenbrener commented on #6333
My fault, I had a error in the J2T Module, I disabled this, and ran again.

had another error:

I ran into a small error But when Magento try to update "Magento_Cms" native extension, I got a : The page URL key contains capital letters or disallowed symbols. but following this http://magento.stackexchange.com/questions/123364/error-during-upgrade-to-magento-2-1-from-2-0-7

 fixed it and shazaam, i

[2016-08-25 16:46] #6333 closed, assigned to nobody

[2016-08-25 16:52] antonkril commented on #2399
This one was fixed.

[2016-08-25 16:59] daschenbrener commented on #5801
I get this exact error, have you got anywhere with this?

[2016-08-25 17:23] shirtsofholl commented on #6309
You could label it feature request and leave it in the excellent system called GitHub

Setting up different flows or a no-flow support systems like a forum sounds a little 1.9x aka 2009. ..... but that's just my opinion

[2016-08-25 17:40] piotrekkaminski commented on #6270
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:40] #6270 closed, assigned to nobody

[2016-08-25 17:40] piotrekkaminski commented on #6241
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:40] #6241 closed, assigned to nobody

[2016-08-25 17:40] piotrekkaminski commented on #6175
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:40] piotrekkaminski commented on #6169
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:40] #6169 closed, assigned to nobody

[2016-08-25 17:40] piotrekkaminski commented on #6165
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:40] #6165 closed, assigned to antboiko

[2016-08-25 17:40] piotrekkaminski commented on #6157
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:40] #6157 closed, assigned to nobody

[2016-08-25 17:40] piotrekkaminski commented on #6142
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:40] #6142 closed, assigned to nobody

[2016-08-25 17:41] piotrekkaminski commented on #6131
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:41] #6131 closed, assigned to piotrekkaminski

[2016-08-25 17:41] piotrekkaminski commented on #6087
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:41] piotrekkaminski commented on #6052
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:41] #6087 closed, assigned to nobody

[2016-08-25 17:41] #6052 closed, assigned to nobody

[2016-08-25 17:41] piotrekkaminski commented on #6018
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:41] piotrekkaminski commented on #5984
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:41] #5984 closed, assigned to nobody

[2016-08-25 17:41] piotrekkaminski commented on #5906
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:41] #5906 closed, assigned to nobody

[2016-08-25 17:41] piotrekkaminski commented on #5887
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:41] #5887 closed, assigned to nobody

[2016-08-25 17:42] piotrekkaminski commented on #5348
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:42] #5348 closed, assigned to nobody

[2016-08-25 17:42] piotrekkaminski commented on #5338
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:42] #5338 closed, assigned to nobody

[2016-08-25 17:42] piotrekkaminski commented on #5220
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:42] #5220 closed, assigned to nobody

[2016-08-25 17:42] piotrekkaminski commented on #5189
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:42] #5189 closed, assigned to nobody

[2016-08-25 17:42] piotrekkaminski commented on #5170
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:42] #5170 closed, assigned to vkublytskyi

[2016-08-25 17:42] piotrekkaminski commented on #5139
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:42] #5139 closed, assigned to nobody

[2016-08-25 17:42] piotrekkaminski commented on #5125
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:42] #5125 closed, assigned to NadiyaS

[2016-08-25 17:42] piotrekkaminski commented on #5060
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:42] #5060 closed, assigned to nobody

[2016-08-25 17:42] piotrekkaminski commented on #5059
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:42] #5059 closed, assigned to nobody

[2016-08-25 17:42] piotrekkaminski commented on #5040
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:42] #5040 closed, assigned to nobody

[2016-08-25 17:42] piotrekkaminski commented on #5001
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:42] #5001 closed, assigned to nobody

[2016-08-25 17:42] piotrekkaminski commented on #4991
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:42] #4991 closed, assigned to mbrinton01

[2016-08-25 17:43] piotrekkaminski commented on #4964
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:43] #4964 closed, assigned to nobody

[2016-08-25 17:43] piotrekkaminski commented on #4949
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:43] #4949 closed, assigned to tanya-soroka

[2016-08-25 17:43] piotrekkaminski commented on #4940
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:43] #4940 closed, assigned to mbrinton01

[2016-08-25 17:43] piotrekkaminski commented on #4927
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:43] #4927 closed, assigned to nobody

[2016-08-25 17:43] piotrekkaminski commented on #4922
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:43] #4922 closed, assigned to asemenenko

[2016-08-25 17:44] piotrekkaminski commented on #4408
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:44] #4408 closed, assigned to nobody

[2016-08-25 17:44] piotrekkaminski commented on #4399
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:44] #4399 closed, assigned to nobody

[2016-08-25 17:45] piotrekkaminski commented on #4293
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 17:45] #4293 closed, assigned to nobody

[2016-08-25 17:54] Marko-M commented on #6175
Hi @piotrekkaminski, thanks for status update.

But I'm not sure why is this one marked with an improvement tag when it's about already implemented feature, the _secure switch to \Magento\Framework\Url::getUrl whose functionality breaks under described circumstances aka a bug.

[2016-08-25 18:10] peec commented on #6341
Seems to be permission problem.. The error is not correct in frontend, look in chrome console and you see that its a permission error. ( Missleading error message. ) . Closing as this issue no longer true.

[2016-08-25 18:10] #6341 closed, assigned to nobody

[2016-08-25 18:11] Cacasapo commented on #5027
I'm having this same exact issue with 2.1 upgraded from 2.08, along with another free shipping issue which I'll open a ticket for.

[2016-08-25 18:14] hostep commented on #6295
@piotrekkaminski: since you start closing feature requests on Github and moving them to the forums.
Do you know a way of subscribing to those new topics on the forums without leaving a comment and checking 'Email me when someone replies', because now I have to add these silly dummy comments to subscribe to threads I was subscribed to on Github and I don't find another way to do this.

Also: please

[2016-08-25 18:23] ghost opened #6345 "installing magento2 on mac, not loading anything when browsing to /update/setup"
### Preconditions
1. php version 5.5.23
### Steps to reproduce
1. install magento2 CE via composer CLI
2. download the router.php for utilizing PHP built in web server via github, and place it in the root project folder
   ![image](https://cloud.githubusercontent.com/assets/1905150/17980783/b9e6ee9a-6ab5-11e6-8b76-666e45ec9d5e.png)
3. bring up php webserver via

[code]
1. browse to http://127.0.0.

[2016-08-25 18:27] Cacasapo opened #6346 "Free shipping rule with table shipping method breaks checkout"
### Preconditions

1.  Magento 2.08 upgraded to 2.1
2.
### Steps to reproduce

1. Configure table shipping rate
2. Create attribute and rule for free shipping
3. Assign attribute to product and enable
4. Add product to cart
5. Attempt to check out.
### Expected result

1. Shipping Methods should show the table label and $0 for shipping.
### Actual result

1.  Shipping Methods shows: Sorry, no quot

[2016-08-25 18:40] ghost commented on #5459
worked for me but to clarify in the attributes.php I removed the old line and in the save.php I added the new one underneath the old one.
Also in 2.1 the file paths are as jvreeken said:
vendor/magento/module-catalog/Block/Adminhtml/Product/Edit/Action/Attribute/Tab/Attributes.php
vendor/magento/module-catalog/Controller/Adminhtml/Product/Action/Attribute/Save.php

[2016-08-25 18:54] bka opened #6347 "Checkout Validation Message is not fully translatable: "Provided Zip/Postal Code seems to be invalid. Example: 12345-6789; 12345. If you believe it is the right one you can ignore this notice.""
Validation text "_Provided Zip/Postal Code seems to be invalid. Example: 12345-6789; 12345. If you believe it is the right one you can ignore this notice._" in checkout is not fully translatable.
### Preconditions
1. Tested with Magento 2.1
### Steps to reproduce

**1. Install or create a language pack.**

**2. To reproduce this a minimal language pack is sufficient**

_app/i18n/xxx/de_DE/registra

[2016-08-25 19:22] astorm commented on #2399
Was it @antonkril?  I just built out a 2.1.0 and 2.0.9 enviornment and Magento still silently swallows invalid XML errors in layout handle XML files.

[2016-08-25 19:33] jarhody commented on #5437
@martinboy Did you ever resolve the issue? I am facing the same thing.

[2016-08-25 20:32] kumatozz commented on #5127
We changed version of PHP back to 7.0.5 and the problem was gone.... the reason we wanted to use higher version of PHP was that we were going to update magento to 2.1 snd the checker said us that 7.0.5 is not suitable version...

[2016-08-25 20:36] piotrekkaminski commented on #5777
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:36] #5777 closed, assigned to nobody

[2016-08-25 20:36] piotrekkaminski commented on #5757
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:36] #5757 closed, assigned to nobody

[2016-08-25 20:37] piotrekkaminski commented on #5753
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:37] #5753 closed, assigned to vkublytskyi, asemenenko

[2016-08-25 20:37] piotrekkaminski commented on #5739
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:37] #5739 closed, assigned to choukalos

[2016-08-25 20:38] piotrekkaminski commented on #5733
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:38] #5733 closed, assigned to vrann

[2016-08-25 20:38] piotrekkaminski commented on #5727
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:38] #5727 closed, assigned to nobody

[2016-08-25 20:39] piotrekkaminski commented on #5678
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:39] #5678 closed, assigned to antboiko

[2016-08-25 20:40] piotrekkaminski commented on #5662
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:40] #5662 closed, assigned to nobody

[2016-08-25 20:41] piotrekkaminski commented on #5656
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:41] #5656 closed, assigned to nobody

[2016-08-25 20:41] piotrekkaminski commented on #5567
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:41] #5567 closed, assigned to nobody

[2016-08-25 20:41] piotrekkaminski commented on #5557
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:41] #5557 closed, assigned to nobody

[2016-08-25 20:42] piotrekkaminski commented on #4916
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:42] #4916 closed, assigned to nobody

[2016-08-25 20:42] piotrekkaminski commented on #4820
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:42] #4820 closed, assigned to nobody

[2016-08-25 20:43] piotrekkaminski commented on #4560
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:43] #4560 closed, assigned to ishakhsuvarov

[2016-08-25 20:43] piotrekkaminski commented on #4144
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-25 20:43] #4144 closed, assigned to antonkril

[2016-08-25 20:48] heldchen commented on #6347
your de_DE csv example seems to be lacking the whitespace, have you tried `"Example: ","Beispiel: "`?

[2016-08-25 21:23] manishparanjape commented on #5418
You can use below query to get duplicate item_ids ( if you have large number of duplicate entries).

select n1.item_id from cataloginventory_stock_item n1, cataloginventory_stock_item n2 where n1.item_id > n2.item_id and n1.product_id = n2.product_id;

[2016-08-25 21:27] hostep commented on #6295
@piotrekkaminski: can you please reconsider this idea you have (which you made without consulting with the community beforehand :s)? The forums have a horrible UX. It's really hard to work with them, Github is much easier to use.

Instead of moving everything from Github to the forums, is it an idea to create a new Github repo and move the issues over to the new repo?
There seems to be a utility w

[2016-08-25 21:45] bka commented on #6347
You're right, but I think this is not the problem. Because warn message is translated with a leading whitespace `$t(' Example: ')` in `app/code/Magento/Checkout/view/frontend/web/js/model/shipping-rates-validator.js`. But thanks for the hint, I will test again.

[2016-08-25 21:49] heldchen commented on #6347
right, so test with `" Example: "," Beispiel: "`, that should work. I've checked to make sure that it's how it is used in some of the language bundles we downloaded for our project (example: https://github.com/Imaginaerum/magento2-language-fr-fr). the source strings to be translated through csv have to match exactly what's used in the code.

[2016-08-25 22:14] Laura021 commented on #3923
I do not have labels in other languages and still having a bunch of errors with the exported file.

Must of them have the message :

[2016-08-25 22:29] bka commented on #6347
Thanks man. That works. However, pretty inconvenient IMHO.

[2016-08-25 22:46] heldchen commented on #6347
why?

[2016-08-25 23:56] mbrinton01 commented on #6277
New route `salesShipOrderV1` is available in develop branch. It will be backported to 2.0 and 2.1 in a later patch release.

[2016-08-25 23:57] #6277 closed, assigned to nobody

[2016-08-25 23:58] mbrinton01 commented on #6242
Closing, duplicate of #6245

[2016-08-25 23:58] #6242 closed, assigned to nobody

[2016-08-26 00:24] heldchen opened #6350 "Frontend: Datepicker/calendar control does not use the store locale"
the frontend datepicker control (for example for the DOB field) is not localized: month names, day names and week start date are all using en_US.
### Preconditions
1. Magento 2.1.0 CE
2. a non-en_US language pack is installed, which contains the translated month and weekday names, assuming de_DE for this issue
3. frontend store is set to use this language/locale
### Steps to reproduce
1. Admin > S

[2016-08-26 01:02] iazel commented on #6343
Hi, can you give us the list on enabled modules? And more importantly, have you applied the patch provided by Porto for magento 2.1?
You should have a `Porto Theme(Magento 2.1 Patch).zip` file.

[2016-08-26 01:27] itdint commented on #6343
Well - it may not matter.  I think whatever issue this is, it has to do with the upgrade from 2.0.4 to 2.1.0.  I created a clean 2.1.0 install on the same server - thinking I could use it for code comparison, and the clean install works perfectly.  I installed the same porto theme, patches, etc.. and it still worked - so I just moved the catalog from the broken store to the new one.  The strange t

[2016-08-26 01:27] #6343 closed, assigned to nobody

[2016-08-26 02:34] moloughlin commented on #3890
I was noticing similar issues where my private_content_version cookie (used for the AJAX fetching of private content) wasn't set, and requesting the page didn't recreate it for me. Interestingly, adding an item to cart recreates the cookie and I'm able to see these blocks again.

In `\Magento\Framework\App\PageCache\Version::process`, you can see that the private_content_version cookie isn't actua

[2016-08-26 02:59] piotrekkaminski commented on #5488
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 02:59] #5488 closed, assigned to nobody

[2016-08-26 02:59] piotrekkaminski commented on #5464
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 02:59] #5464 closed, assigned to nobody

[2016-08-26 02:59] piotrekkaminski commented on #5424
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 02:59] #5424 closed, assigned to nobody

[2016-08-26 02:59] piotrekkaminski commented on #5394
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 02:59] #5394 closed, assigned to nobody

[2016-08-26 02:59] piotrekkaminski commented on #5380
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 02:59] #5380 closed, assigned to nobody

[2016-08-26 03:00] piotrekkaminski commented on #3942
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3942 closed, assigned to choukalos

[2016-08-26 03:00] piotrekkaminski commented on #3903
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3903 closed, assigned to antboiko

[2016-08-26 03:00] piotrekkaminski commented on #3876
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3876 closed, assigned to nobody

[2016-08-26 03:00] piotrekkaminski commented on #3844
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3844 closed, assigned to antonkril

[2016-08-26 03:00] piotrekkaminski commented on #3692
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3692 closed, assigned to nobody

[2016-08-26 03:00] piotrekkaminski commented on #3628
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3628 closed, assigned to nobody

[2016-08-26 03:00] piotrekkaminski commented on #3586
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3586 closed, assigned to guz-anton

[2016-08-26 03:00] piotrekkaminski commented on #3537
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3537 closed, assigned to nobody

[2016-08-26 03:00] piotrekkaminski commented on #3533
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3533 closed, assigned to nobody

[2016-08-26 03:00] piotrekkaminski commented on #3519
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3519 closed, assigned to nobody

[2016-08-26 03:00] piotrekkaminski commented on #3505
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3505 closed, assigned to nobody

[2016-08-26 03:00] piotrekkaminski commented on #3446
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3446 closed, assigned to nobody

[2016-08-26 03:00] piotrekkaminski commented on #3407
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:00] #3407 closed, assigned to rgoncharuk, okobchenko

[2016-08-26 03:01] piotrekkaminski commented on #3387
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #3387 closed, assigned to rgoncharuk

[2016-08-26 03:01] piotrekkaminski commented on #3380
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #3380 closed, assigned to nobody

[2016-08-26 03:01] piotrekkaminski commented on #3309
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #3309 closed, assigned to nobody

[2016-08-26 03:01] piotrekkaminski commented on #3275
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #3275 closed, assigned to nobody

[2016-08-26 03:01] piotrekkaminski commented on #3234
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #3234 closed, assigned to nobody

[2016-08-26 03:01] piotrekkaminski commented on #3223
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #3223 closed, assigned to nobody

[2016-08-26 03:01] piotrekkaminski commented on #3060
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #3060 closed, assigned to nobody

[2016-08-26 03:01] piotrekkaminski commented on #3049
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #3049 closed, assigned to nobody

[2016-08-26 03:01] piotrekkaminski commented on #3024
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #3024 closed, assigned to nobody

[2016-08-26 03:01] piotrekkaminski commented on #2395
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #2395 closed, assigned to vkorotun

[2016-08-26 03:01] piotrekkaminski commented on #2387
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #2387 closed

[2016-08-26 03:01] piotrekkaminski commented on #2386
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #2386 closed

[2016-08-26 03:01] piotrekkaminski commented on #2376
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #2376 closed

[2016-08-26 03:01] piotrekkaminski commented on #2361
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #2361 closed

[2016-08-26 03:01] piotrekkaminski commented on #2354
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #2354 closed

[2016-08-26 03:01] piotrekkaminski commented on #2353
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #2353 closed

[2016-08-26 03:01] piotrekkaminski commented on #2258
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #2258 closed

[2016-08-26 03:01] piotrekkaminski commented on #2253
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #2253 closed

[2016-08-26 03:01] piotrekkaminski commented on #2249
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #2249 closed

[2016-08-26 03:01] piotrekkaminski commented on #2248
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #2248 closed

[2016-08-26 03:01] piotrekkaminski commented on #2240
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:01] #2240 closed

[2016-08-26 03:02] piotrekkaminski commented on #2198
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:02] #2198 closed

[2016-08-26 03:02] piotrekkaminski commented on #2188
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:02] #2188 closed

[2016-08-26 03:02] piotrekkaminski commented on #2115
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:02] #2115 closed

[2016-08-26 03:02] piotrekkaminski commented on #2104
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:02] #2104 closed

[2016-08-26 03:02] piotrekkaminski commented on #2085
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:02] #2085 closed

[2016-08-26 03:02] piotrekkaminski commented on #2024
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:02] #2024 closed

[2016-08-26 03:02] piotrekkaminski commented on #1983
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:02] #1983 closed

[2016-08-26 03:02] piotrekkaminski commented on #1683
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:02] #1683 closed

[2016-08-26 03:03] piotrekkaminski commented on #1638
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:03] #1638 closed

[2016-08-26 03:03] piotrekkaminski commented on #1531
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:03] #1531 closed

[2016-08-26 03:03] piotrekkaminski commented on #1387
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:03] #1387 closed

[2016-08-26 03:03] piotrekkaminski commented on #1379
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:03] #1379 closed

[2016-08-26 03:03] piotrekkaminski commented on #1364
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:03] #1364 closed

[2016-08-26 03:03] piotrekkaminski commented on #1344
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:03] #1344 closed

[2016-08-26 03:03] piotrekkaminski commented on #1287
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:03] #1287 closed

[2016-08-26 03:03] piotrekkaminski commented on #1240
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:03] #1240 closed

[2016-08-26 03:03] piotrekkaminski commented on #1239
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:03] #1239 closed

[2016-08-26 03:03] piotrekkaminski commented on #1155
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:03] #1155 closed

[2016-08-26 03:03] piotrekkaminski commented on #1099
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:03] #1099 closed

[2016-08-26 03:04] piotrekkaminski commented on #888
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:04] #888 closed

[2016-08-26 03:04] piotrekkaminski commented on #636
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:04] #636 closed

[2016-08-26 03:04] piotrekkaminski commented on #627
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:04] #627 closed

[2016-08-26 03:05] piotrekkaminski commented on #357
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-08-26 03:05] #357 closed

[2016-08-26 03:45] thanhv83 commented on #5260
I same error with old customer creat before update to magento 2.1

Customer can't login, massenger: An unspecified error occurred. Please contact us for assistance.
When customer reset password, messenger error: We're unable to send the password reset email.
When i reset password from admin, massenger error: Something went wrong while resetting customer password.
My server:
VPS1: Apache 2.4; php 7

[2016-08-26 04:26] thdoan commented on #5657
In the meantime we ended up creating our own in-house messaging system and disabling the built-in one. It would be great to see this fixed so we can revert back to stock messaging.

[2016-08-26 04:31] crantron commented on #5260
The problem is that there is still an unanswered forgot email. In the database a rp_token gets generated for that client and as long as that exists then you will receive this error. This is NOT a bug. But the error handling should be more descriptive.

To solve go into the database where the users are. update rp_token to null and it will work, or give the system to update itself( like 20 min). I'm

[2016-08-26 05:55] JuliaGosling commented on #6275
Is there a work around ahead of the patch being released?

[2016-08-26 06:15] JuliaGosling commented on #6275
(actually, I just created a header template and referenced my image location absolutely)
Be good to know when the patch is released though. :)

[2016-08-26 06:39] martinboy commented on #5437
@jarhody just manually edited the file app/code/Magento/Cms/Setup/UpgradeData.php and removed CMS page creation code

[2016-08-26 06:52] seansan commented on #1099
this could be marked as a bug and thus fixed in github

On Fri, Aug 26, 2016 at 5:04 AM, Piotr Kaminski notifications@github.com
wrote:

[2016-08-26 06:53] seansan opened #6351 "Quick code win: Change the setting `Add Store Code to Urls` from global setting to Store Name setting (1 lower in hierarchy)"
This is quick win for Github code and cannot be **lost** in the forums

Please see: https://github.com/magento/magento2/issues/1099

and: http://magento.stackexchange.com/questions/60686/multi-multistore-multiple-brands-multiple-languages-setting-store-view-code

[2016-08-26 07:01] martinboy commented on #5437
@veloraven it is not a migration specific issue but reproduced when I migrated the data. You can reproduce it like this:
1. Setup Magento 2.0.7
2. Remove CMS page with ID 4 from database.
3. Upgrade Magento from 2.0.7 to 2.1.0.

[2016-08-26 07:07] hostep commented on #6335
@benmarks, @piotrekkaminski, @alankent: https://github.com/magento/magento2/issues/6295#issuecomment-242488388

[2016-08-26 07:14] basselalaraaj commented on #6291
@sevos1984 still reproducible, when trying to export i get this error.
The logs are not showing any errors.
are you testing with a user with a role different than administrator?
![screen shot 2016-08-26 at 08 55 23](https://cloud.githubusercontent.com/assets/5745279/17996799/567a4d46-6b6b-11e6-81e3-e30cf1009e73.png)

[2016-08-26 07:17] basselalaraaj commented on #6290
@sevos1984 still reproducible, when trying to add a widget to a content page still getting access denied..
The logs are not showing any errors.

are you testing with a user with a role different than administrator?

[2016-08-26 07:18] ghost commented on #5300
Hi,

When I creat new module, I'll create Block From and I can define fieldset->setType() but on category, I can't define it. You can ask for me on category_form.xml I can define it?

Thanks

[2016-08-26 07:38] devhn commented on #5689
Any news on this?

[2016-08-26 08:01] alexgoodey commented on #6287
Any update on this?

[2016-08-26 08:04] sja87 commented on #6287
also I need update

[2016-08-26 08:10] andimov commented on #2877
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-26 08:10] #2877 closed, assigned to NadiyaS

[2016-08-26 08:10] odubovyk commented on #6293
The same issue as here #5377

[2016-08-26 08:10] devhn opened #6352 "Cart rules for products which are not visible on store front"
### Preconditions

1. Magento 2.0.7 CE
### Steps to reproduce

1. Create a configurable product of choice with at least two simple
   products inside it (which are not visible on store front)
2. Create a simple product of choice, which is visible on store front
3. Create a cart rule which contains setup from [print screens](http://imgur.com/a/W6ByX). Basically the condition has two statements:

[2016-08-26 08:11] andimov commented on #5782
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-26 08:11] #5782 closed, assigned to alena-marchenko

[2016-08-26 08:11] andimov commented on #5427
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-08-26 08:11] #5427 closed, assigned to nobody

[2016-08-26 08:12] antboiko commented on #5037
Hi @davideperrotta , thanks for reporting this issue. Internal ticket MAGETWO-57643 was created.

Best,
Anton.

[2016-08-26 08:17] BilleFash commented on #5009
Also having this issue. Are their any fixes?

[2016-08-26 08:56] grasdaggel commented on #3923
Yes, we do use the Splendid Internet de_DE CSV with round about 10k Lines of translations.

[2016-08-26 08:59] sevos1984 commented on #6256
Thanks for reporting. Internal ticket created MAGETWO-57653

[2016-08-26 09:04] sevos1984 commented on #6240
Thanks for reporting. Internal ticket created MAGETWO-57204

[2016-08-26 09:12] sevos1984 commented on #6238
This is a known issue MAGETWO-3254. Thanks for posting

[2016-08-26 09:22] skhell commented on #5876
Hi,
import was successful but there is still a problem.

After import I navigate to the category where the configurable product is supposed to be, and the category is empty.
So I search for product SKU "CPr" and result is product not found.

I login to the backend and search for "CPr" as you can see Configuration is empty. If I manually create the configuration then the configurable product appear

[2016-08-26 09:32] sevos1984 commented on #6291
Yes, I have restricted user role, with only permissions that are on screenshot. Could you please make a screenshot of all permissions on page?

[2016-08-26 09:39] henk-webleads commented on #5127
Probably NOT the best temporary fix but from the table 'directory_country' I removed the record with country id='AN' (MySql).  'AN' = Netherlands Antilles. I even could not configure the stores in the Backend of Magento so that's why I removed this record.

I did this with Magento V2.1 CE. I'm running WAMP, PHP 5.6.25 and MySql 5.6.17.

[2016-08-26 09:42] AVoskoboinikov commented on #6248
Hi, @imbrj
Unfortunately I am not able to reproduce your issue. Could you check it on clean CE 2.1.0 version with no sample-data and no 3rd party extensions?

I will appreciate for your effort

[2016-08-26 09:55] richdel commented on #6342
@antboiko where can the community view these internal tickets? And how does this repo relate to the official Magento CE release? All a little confusing...

[2016-08-26 09:56] AVoskoboinikov commented on #5876
Hi,
Have you tried to rebuild your indexes after import?
You can find information about them in Admin-System-Tools-Index Management
And to rebuild index you need to use this command in cli
`php bin/magento indexer:reindex`

[2016-08-26 10:23] sevos1984 commented on #6273
Cannot reproduce your issue. I've added customer register observer with following code:
`$groupId = 2;
        $customer = $observer->getEvent()->getData('customer');
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $customerWithCorrectGroup = $objectManager->create(\Magento\Customer\Model\Customer::class)->load($customer->getId());
        $customerWithCorrect

[2016-08-26 10:24] thanhv83 commented on #5260
I was check again, some customer still not login.

[2016-08-26 10:25] coredevel commented on #6335
@benmarks thanks for the info however things seem to feel a little disconnected and makes for a somewhat disparate project management landscape - so there's now GitHub issues, a forum and your own internal PM/ticketing software?

[2016-08-26 10:46] coredevel commented on #6335
@GlobalOutsourcing thank you for providing your perspective and experience with 2.1, we're ready to begin building a store, even if at this stage to get some development experience with working with the new architecture and we can patch it along the way as and when releases are made.

@andidhouse I couldn't agree more with you re the disconnected ticketing systems, i.e. what's the point in using G

[2016-08-26 10:46] victor-v-rad commented on #6212
Seems in #5948 described the same issue. Internal ticket MAGETWO-56480 to fix it.

[2016-08-26 10:57] katmoon commented on #6289
Hi @LS-Supriya

Which [Magento mode](http://devdocs.magento.com/guides/v2.0/config-guide/bootstrap/magento-modes.html) do you use?

What is the difference between the default vcl file that you have and the file generated by Magento?

[2016-08-26 10:57] AVoskoboinikov commented on #6058
Hi guys

Thanks for reporting this issue. I have created internal ticket MAGETWO-57657 to fix it

[2016-08-26 11:03] LS-Supriya commented on #6289
Hi ,

Magento is running in default mode.

## My Default.vcl

vcl 4.0;

backend default {
    .host = "127.0.0.1";
    .port = "8282";
}

sub vcl_recv {
    # Happens before we check if we have this in cache already.
    #
    # Typically you clean up the request here, removing cookies you don't need,
}

sub vcl_backend_response {
    # Happens after we have read the response headers from the back

[2016-08-26 11:10] odubovyk commented on #6306
Please specify information of your environment, php version, MySQL, web-server.

[2016-08-26 11:13] veloraven commented on #6346
@Cacasapo thank you for your report.
Could you please provide more detailed steps?
1. Does your table rate contain option with price = 0?
2. More detailed description for attribute and rule creation.
3. What do you mean as 'Assign attribute to product and enable'?

[2016-08-26 11:18] ghost commented on #5009
@BilleFash It works properly in 2.1.0.

[2016-08-26 11:21] alena-marchenko commented on #4580
Hi @SidneyBilliet , @stevenvdp, @Nerogee

We've created MAGETWO-54412 internal ticket regarding this issue

[2016-08-26 11:23] alena-marchenko commented on #5522
#4580

[2016-08-26 11:25] veloraven commented on #6345
@BardiaAfshin thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please also note that php 5.5 is not supported by Magento 2.1 and newer versions : http://devdocs.magento.com/guides/v2.1/install-gde/system-requirements-tech.html

[2016-08-26 11:27] veloraven commented on #6331
@krzysztofkacela thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-26 11:28] veloraven commented on #6329
@will-b thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-26 11:29] alena-marchenko commented on #4580
#5522

[2016-08-26 11:32] alena-marchenko commented on #5522
Hi @Nerogee ,

MAGETWO-54412 internal ticket is creating regarding this issue.
Closing this issue as duplicate of #4580
Feel free to create new one if you experience other issues.

[2016-08-26 11:32] #5522 closed, assigned to alena-marchenko

[2016-08-26 11:45] veloraven commented on #6334
@HZSGit thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-26 11:50] veloraven commented on #6327
@postmassimo thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-26 11:52] veloraven commented on #6326
@TommyKolkman thank you for your report.
Please, provide the used Magento version.
Please, also format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-26 11:54] shaheerzaheer opened #6353 "admin panel"
The home page is ok but in admin panel all the content is messed up and I can't do anythings the page looks like I attached below , even the links are not working so how can I manage things kindly guide me about this issue.
![issue1](https://cloud.githubusercontent.com/assets/21260888/18004335/13a624e0-6b48-11e6-9e0c-4be08dd31a13.PNG)
![issue2](https://cloud.githubusercontent.com/assets/21260888/1

[2016-08-26 12:08] jamesjlw commented on #6353
Having a similar issue. Fresh install 2.1.0, seems that pub/static is missing quite a few files - My front end is also missing images, stylesheets etc.

**Edit**. I managed to fix it by following the steps of the accepted answer here:
**It was a fresh install so I had nothing to lose.** - I'm brand new when it comes to Magento so I'm not sure if this will remove any of your custom files.

http://m

[2016-08-26 12:10] odubovyk commented on #6307
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-26 12:13] arredod opened #6355 "Catalog attribute filters have disappeared"
### Preconditions
1.  Magento 2.1.0 (upgraded from magento 2.0.7 and before the first release of magento 2)
### Steps to reproduce

1. product catalog column filters have disappeared and I can't tell if it's because something is broken or it's a Magento bug
### Expected result
1.  I would like to hide assembling column but I can't do that anymore...
### Actual result
1.  ![product](https://cloud.g

[2016-08-26 12:18] odubovyk commented on #6312
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-26 12:22] Cacasapo commented on #6346
1 - No, the table is basically fixed, per-unit shipping for US and Canada. I've attached it.
2 - Attribute is a Yes/No named "free shipping"
The rule is: If ALL  of these conditions are TRUE : Free Shipping  is  Yes
                   Fixed amount discount: 0
                   Free shipping: For matching products only
3 - I mean, add the attribute to the default attribute set, then open a product

[2016-08-26 12:43] sevos1984 commented on #6304
hi! what is set in your Configuration>Web>Base URL for User Media Files? this affects path to media files

[2016-08-26 12:44] medma-infomatix commented on #2561
I have fixed this issue by updating composer.

[$ composer update](url)

[2016-08-26 12:46] alena-marchenko commented on #5796
Hi @Whaaaaat

Please enable debug for FedEx shipping method and provide us with the debug.log that contains complete request to FedEx and response from it, exception.log if available. These logs can be found in var/log under Magento root directory.

[2016-08-26 12:49] sevos1984 commented on #6299
This is a known issue, internal ticket MAGETWO-53913. Thanks for reporting

[2016-08-26 12:51] peec commented on #1661
We are currently translating magento2 from en-US.

Is it so that Magento 2 as of 2.1 does not currently support Context ? So basically when creating a language pack - it choses a random occurrence of "Hello". So one needs to be sure that all "Hello" is translated ?

[2016-08-26 12:52] MomotenkoNatalia commented on #6222
Hi @peec! Thanks for reporting this! I have created an internal ticket to fix this issue - MAGETWO-57675. @vivek201 We are appreciate your help with detailed steps to reproduce!

[2016-08-26 12:54] victor-v-rad commented on #6224
Internal issue MAGETWO-57682 was created to fix this

[2016-08-26 13:00] sevos1984 commented on #6313
This is a known issue. Internal ticket MAGETWO-48138. Thanks for posting

[2016-08-26 13:09] veloraven commented on #6278
@Snowball678 thank you for your report, we created internal ticket MAGETWO-57681.

[2016-08-26 13:13] vivek201 commented on #6222
@MomotenkoNatalia Thanks for the response! I was starting to wonder if this was an issue on just my system.

[2016-08-26 13:14] antonkril commented on #6131
@Khaleel, can you please clarify this statement:

LESS compilation should work in developer mode. Actually you should not run `setup:static-content:deploy` in developer mode at all. This command is there for production.

With Grunt workflow, LESS files are automatically recompiled.

Also, why do you run `grunt less` on production? It's not needed after `setup:static-content:deploy` is run.

[2016-08-26 13:18] victor-v-rad commented on #6159
could not reproduce. I see from the screenshot error occurs in rules.js
you might have cart rule setup. Please share this information

[2016-08-26 13:18] TiEul commented on #4628
An alternative workaround is to simply create the WOFF2 files for your font. There are plenty of free tools available which are able to convert TTF and other font formats into WOFF2, which may be a cleaner long-time solution if you are facing this problem now and comes with the upside of slightly decreasing the load times for your users through the reduced file size offered by WOFF2. Just make sur

[2016-08-26 13:24] veloraven commented on #6355
@arredod thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please also specify if it was clear install or upgrade from some previous version.

[2016-08-26 13:28] veloraven commented on #6353
@shaheerzaheer thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version and information if it was clear install or upgrade.

[2016-08-26 14:01] jwittorf opened #6356 "Terms and Conditions missing StoreView, can't edit"
I'm having troubles editing the terms and conditions on my production server. The development version is fine, I guess something went wrong during deployment/install/update.

The column "StoreViews" is missing in the list view of conditions on the production server. Additionally when adding a new condition I don't see the multi-select field to set a StoreView.
The database allthough has the same c

[2016-08-26 14:06] bka opened #6357 "Wrong Varnish Cache Settings are killing Burger Menu"
When using Varnish as a Full Page Cache and your connection settings are wrong, the burger menu stops working. I don't understand this behavior at all, because everything else is working fine. It happend because we imported a database dump from production to our local dev machines. It was very confusing and hard to track down but I don't understand the reason for this at all. Does somebody have a

[2016-08-26 14:19] sevos1984 commented on #6336
Thanks for posting, internal ticket created MAGETWO-57699

[2016-08-26 14:22] #6264 closed, assigned to nobody

[2016-08-26 14:29] seansan opened #6358 "Magento 2 improvements from uservoice"
Hi guys, now that the basis has been built. Bravo!

Would it be an idea to check all of the items here with votes? https://magento.uservoice.com/forums/24441-magento-ecommerce-platform

I can see thousands and thousands of users have contributed. And many things seem easy, logic and can be improved on fast.

maybe a mini hackathon with the Magento internal team?

[2016-08-26 14:45] xmav commented on #5157
Hi @jochhop , thanks for reporting this issue. Internal ticket MAGETWO-57704 was created.

Best,
Maksym

[2016-08-26 14:57] gman-1986 commented on #5836
Has anyone found a solution to this problem yet?

[2016-08-26 14:58] veloraven commented on #6251
@SanityLost thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.
Be sure that all required setup steps were performed (cache, folder permissions, etc).

[2016-08-26 15:21] AVoskoboinikov commented on #5991
Hi, @Tohmn

Thanks for reporting this issue. We will try to reproduce it and give you feedback as soon as we can.

[2016-08-26 15:24] sevos1984 commented on #6255
This is language pack issue. Mentioned phrase is not translated in it. You can add translate to your translation file in i18n folder of respective module.

[2016-08-26 15:31] veloraven commented on #4737
@antonkril please have a look at this.

[2016-08-26 15:36] d-pelikhov commented on #5908
You have invalid di configuration for Magento\Framework\App\Config\ScopePool
![2016-08-26 18 35 39](https://cloud.githubusercontent.com/assets/2462920/18011038/f1c7ed94-6bbb-11e6-974b-b71534970915.png)

[2016-08-26 15:37] romainruaud commented on #6336
Hello @sevos1984 and thanks for your quick reply.

Any chance to get a workaround here while waiting for you to release a branch including this fix ?

[2016-08-26 15:39] veloraven commented on #6286
@JBleijenberg thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-26 15:48] ReactionCode commented on #5908
I don't understand, "**di configuration**" Could you explain more clearly?

[2016-08-26 15:50] alena-marchenko commented on #6178
@Aartitops

No, since these error messages can contain sensitive information.
Closing the issue, please refer to the [Community Forums](https://community.magento.com/) or [Magento Stack Exchange](http://magento.stackexchange.com/) for technical questions.
Also, take a look at our [Issue Reporting Guidliness](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-08-26 15:50] #6178 closed, assigned to alena-marchenko

[2016-08-26 15:56] skhell commented on #5876
Hi AzVo,
yes I executed the rebuild from the commandline but the product is still misconfigured.

I attach you my file that I have edited since I have different attribute_set and websites code.
[catalog_product_20160818_143015 2.csv.zip](https://github.com/magento/magento2/files/439623/catalog_product_20160818_143015.2.csv.zip)

Thanks
Marcos

[2016-08-26 15:58] xmav commented on #5651
Hi @RocketmanLabs , thanks for reporting this issue. Internal ticket MAGETWO-53138 was created.

Best,
Maksym

[2016-08-26 16:09] clementbeudot commented on #5196
Very nice guys, thank you for the solution. It helped me a lot.
Maybe we should write a warning note in the README.md about this ?

[2016-08-26 16:25] thomvanderboon commented on #6255
@sevos1984 No.... it is not!

I have a PHP script which query's my erp system for the products and for each product checks on the magento shop via rest wether it exists. If the product does not exist then it is added via REST

The PHP script is on a local server in my company. Magento is hosted externaly.

while($row = $result->fetch_assoc()) {
    // get the sku from the erp system
    $sku = $ro

[2016-08-26 16:28] daschenbrener opened #6359 "We can't find products matching the selection- after upgrading from 2.0.7 to 2.1.0"
Preconditions

Php 7.0.6
Mariadb 10.1.14
Ubuntu 16.04
### Steps to reproduce
1. performed a migration from 1.9.2.2 to 2.0.7
2. we performed then an upgrade from 2.0.7 to 2.1.0 using composer
3. at that point we had offset error issues while trying to access orders, products, and the catalog,in the backend. we resolved those.
4. In the front end, we have this error. and not products at all are bein

[2016-08-26 16:35] ntoombs19 opened #6360 "Simple product videos display the thumbnail image rather than the embedded video player."
### Preconditions

1. Magento Version 2.1
### Steps to reproduce

1. Add a video to a configurable product and one of the simple products for that configurable product
2. View that product on the frontend.
3. Select the product configuration to display the simple product for which the video was added.
4. Select the video slide in the gallery and try to play the video
5. The slide will open up in f

[2016-08-26 16:43] yaroslavGoncharuk commented on #6305
@bachlee89 thank you for your report, we created internal ticket MAGETWO-57705.

[2016-08-26 16:51] navarr commented on #5213
@katmoon That's a workaround - but not a solution.  We also had this issue and have a ticket in partner portal.

[2016-08-26 16:57] ankursachdeva11 opened #6361 "magneto2 performance testing issue."
We have tried magento performance testing on new created instance then it works.

but on instance who already has orders then it throw errors.

We have used command on application root.
 php bin/magento setup:perf:generate-fixtures setup/performance-toolkit/profiles/ce/small.xml

and this happen :
![image](https://cloud.githubusercontent.com/assets/6079017/18013545/2662e3b8-6bdc-11e6-99a8-f5a87165

[2016-08-26 17:28] ghost commented on #5836
@gman-1986 running `php bin/magento indexer:reindex` works to reindex but that's a manual approach, far from a fix.

I don't see an internal ticket reference for this issue though which is concerning considering it is an important bug.

[2016-08-26 17:57] mbrinton01 commented on #1894
This issue should be resolved now that #1957 has been merged. Closing the issue.

[2016-08-26 17:57] #1894 closed

[2016-08-26 18:17] sivajik34 commented on #6335
@benmarks it's better to stop implementing new features for 2 months,assign all resources to solving open bugs.so that magento2 will be stable & people get confidence.so everyone will start to working with magento 2.

[2016-08-26 18:49] mbrinton01 commented on #3274
Hello @ludar, this issue has been fixed in 2.0.5 patch release, so I'm closing it. Thanks for your help!

[2016-08-26 18:49] #3274 closed, assigned to nobody

[2016-08-26 18:56] mbrinton01 commented on #5748
@zhiyicai please let us know if these suggestions provide a suitable solution for you.  I'm adding the feature request label so we can log your request: "Adjust the JPG compression quality setting in the admin panel."

[2016-08-26 20:32] jibrandlr opened #6362 "Wrong price format when it is loaded by JS file"
### Preconditions
1. Magento 2.1.0, PHP 7.0.8
### Steps to reproduce
1. Set the store locale to es_XX
2. View any product page
### Expected result

1. Price should be diplayed in the right format: 1,599.00
### Actual result

1. Price is displayed in the wrong format: 1.599,00

[2016-08-26 21:08] Laura021 commented on #4743
Same issue here. Trying to use exported file from 2.1 into 2.0.6 and failing.

The values does exists. :(

[2016-08-26 21:33] bondimedical3 commented on #6312
Redis has been installed according to your documentation - http://devdocs.magento.com/guides/v2.0/config-guide/redis/redis-session.html and data is still being written to the session table in the database.

Magento version 2.1

[2016-08-26 21:34] Laura021 commented on #3923
@grasdaggel Are you using a different attribute_set than Default?

[2016-08-26 22:07] TWarszawski opened #6363 "Concurrent checkouts can lead to negative stock"
### Description:

When two customers check out concurrently for the same product and the total quantity being ordered is greater than the quantity available, the stock can become negative.
### Preconditions
1. Ubuntu 14.04
2. Xampp 5.6.19
3. Magento CE 2.1.0 with sample data.
### Steps to reproduce

1. Start site, create two customers, create/pick test product and allocate some stock.
2. Both cust

[2016-08-26 22:07] TWarszawski opened #6364 "Cart rules can be reused under concurrent access"
### Description

When two customers check out concurrently using the same cart rule that has a ‘Uses per Coupon’ of 1, the cart rule can be used twice.
### Preconditions
1. Ubuntu 14.04
2. Xampp 5.6.19
3. Magento CE 2.1.0 with sample data.
### Steps to reproduce
1. Start site, create two customers, create/pick test product, create test cart rule with ‘Uses per Coupon’ of 1.
2. Both customers add t

[2016-08-26 23:59] TClilMouse commented on #6173
Same issue here. But here is my console error message
TypeError: $data.recordData(...) is undefined
knockout.js%20line%202624%20%3E%20Function:1:69

[2016-08-27 00:01] TClilMouse commented on #5999
I have the same issue but here is my console error message.

TypeError: $data.recordData(...) is undefined
knockout.js%20line%202624%20%3E%20Function:1:69

[2016-08-27 00:12] Ctucker9233 commented on #6081
I believe there is already a pull request that fixes this issue.

[2016-08-27 01:46] blizam opened #6365 "Cannot Load Default Email Templates when creating a new Email Template"
### Preconditions

1.  Mage 2.1.0
2.  PHP 7
### Steps to reproduce

1. Marketing > email templates > Add new Template >
2. Load default template >  template = Magento Sale > New Order > Load Template
### Expected result

1.  Expect default new order tempalte to load
### Actual result

1. Popup = Attention

The template did not load. Please review the log for details.

[2016-08-27 01:36:19] main.CR

[2016-08-27 02:03] blizam commented on #6365
Sorry this is a dupe of: https://github.com/magento/magento2/issues/5101

Which is resolved here: https://github.com/magento/magento2/pull/5116

[2016-08-27 02:03] #6365 closed, assigned to nobody

[2016-08-27 02:56] isitnikov commented on #5519
Internal ticket: MAGETWO-57719

[2016-08-27 07:24] wired-circuit opened #6366 "Magento ver. 2.1.0 - Cron /bin/magento cron:run Permission denied in /vendor/colinmollenhour/cache-backend-file/File.php"
Magento ver. 2.1.0, Implementation of cron as per documentation on [(http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html#config-cli-cron-group-run)]

[code]

Results in error log reporting the following when line one in cron runs, the other two run without issues.

[code]

[2016-08-27 07:35] liquidia commented on #6335
2.1  release was more about introducing more bugs than fixing exiting one !

[2016-08-27 08:11] ihor-sviziev commented on #6366
@wired-circuit  looks like you skipped step with setting permissions.
http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html

[2016-08-27 08:46] wired-circuit commented on #6366
Don't think so, if I had then the pre-installation check would have failed and the installation would not have commenced.

I have rerun these commands as per the documentation but with the problem persisting.;

[code]

If there are additional commands to be run can you assist so that they are added to the documentation.  I am certainly no Linux SysAdmin, so presumption in documentation or assistan

[2016-08-27 09:54] kanadgodse commented on #2999
Hi,
I have turned on PHP Opcache on my local Windows XAMPP conifg and can see a noticeable speed improvement.

Maybe you can try turning on PHP Opcache and see if it helps.

[2016-08-27 10:27] Mohammed8960 commented on #1393
[this](http://webkul.com/blog/add-value-customer-custom-attribute/) worked with me

[2016-08-27 14:31] ghost commented on #5020
Are you using `<magento root>/pub` as your Magento docroot?

[2016-08-27 14:32] ghost commented on #6269
@keharper Are you aware of this?

[2016-08-27 15:40] IvanChepurnyi commented on #6361
Please refer to the official documentation page:
http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-perf-data.html#config-cli-perf-prof

This tool always generates some test orders, customers, stores, etc for profiling. So if you don't use clean Magento installation, you will definitely get errors during data generation.

You cannot use this data generator on existing s

[2016-08-27 16:00] ankursachdeva11 commented on #6361
If we need to test the performance only for creating order with load on working instance which have order. So, what do we do now.
Please let us know.

[2016-08-27 16:14] neilrd commented on #3150
@teyogofy @AmrinRajani92 @vkorotun. Anyone had any luck with this. I'm struggling with the same problem. It is a huge drawback to the shopping experience.

[2016-08-27 16:27] SewHappy58 commented on #6167
I'm experiencing the same issue.  Extremely slow or crashes.

[2016-08-27 17:42] amenk opened #6367 "Grunt watch does not work on preprocessed files"
This is a follow up to #1619 - the error was not fully fixed there.
You can see it in the code of the patch: Only if the file was _not_ changed trough preprocessing, a symlink is created. If it was, still a copy is created and grunt watches the wrong files for changes.
### Preconditions
1. Magento 2.1.0
2. Theme with preprocessed file, for example a custom `Magento_Theme/module.less` contains
   /

[2016-08-27 17:43] amenk commented on #1619
Still not fully fixed, see my follow up #6367

[2016-08-27 18:22] azeemhassni commented on #3268
I'm facing the same error in magento 2.1.0 when i update an existing category and i don't have any category with same URL key.

[2016-08-27 18:26] ghost opened #6368 "what's the big difference between the current dev branch and the 2.1 release branch?"
hi there, I've started building out a store from a clone of the most recent dev branch. what's the biggest feature releases? Also, I notice the current release branch is failing.

[2016-08-27 20:10] SewHappy58 commented on #5405
I tried increasing PHP input to 7500 and it still doesn't work in Magento 2.1

[2016-08-27 20:29] keharper commented on #6269
In the abstract, yes. I've encountered some of them in my tests, and it's known that the way the Magento code is structured that any autogenerated doc system will give misleading results. But now that I know how persistent this particular problem is, I can act on it.

I'll post this information on devdocs and open a Jira ticket in hopes that this can be corrected.

[2016-08-27 20:39] ghost commented on #1668
I think you come across this when you have a newer version of the components installed, example latest from development branch, and then you checkout a released version. I'm experiencing this now. The solutions isn't to upgrade but to uninstall and re-install, which has other implications. The database has to be regenerated.

[2016-08-27 20:53] ghost opened #6369 "magento 2.1"
ran ./bin/magento run:cron from the command line, still getting the message on the admin panel the indexes are not valid and such.

[2016-08-27 22:07] ghost commented on #4911
I don't think I can help with your problem but the directories `app/design/adminhtml` and `design/frontend/Magento` _should_ exist.

[2016-08-28 03:21] nomuprive commented on #5744
@justyn-clark Would really like to get an information about this issue as well. Thanks!

[2016-08-28 12:02] ps202 commented on #6195
Any update on this one?
Switching to the Blank Theme just raised more issues...

[2016-08-28 12:55] ps202 opened #6370 "Magento 2.1 "This is a required field." error message appears below selection area of configurable product without marking the required field with the false input"
### Preconditions

Operating System: Ubuntu 15.10

PHP 5.6.11-1ubuntu3.4 (cli)
Copyright (c) 1997-2015 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2015 Zend Technologies
with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2015, by Zend Technologies

mysql Ver 14.14 Distrib 5.6.31, for debian-linux-gnu (x86_64) using EditLine wrapper

Magento 2.1.0 CE
### Steps to reproduce
1. Install Magento

[2016-08-28 14:28] ghost commented on #2703
It is not.

Sent from my iPhone

[2016-08-28 14:34] mjankiewicz commented on #5948
Hi, I had similar problem but the client did not want to hide products out of stock but display on gray or other a style (as unavailable).
I've prepared simple module to that: https://github.com/mjankiewicz/MagentoConfigurableProduct

![zrzut ekranu 2016-08-28 16 36 56](https://cloud.githubusercontent.com/assets/1465174/18034452/b1e98326-6d3d-11e6-9dcf-b64467014bf9.png)

Maybe it will be useful fo

[2016-08-28 15:00] ihor-sviziev commented on #6366
@wired-circuit could you execute following commands and put result there?

[code]

I think owner for files isn't correct for you.

[2016-08-28 17:07] TiEul commented on #6369
You need to run `bin/magento indexer:reindex`.

[2016-08-28 17:10] vesan-83 commented on #6221
It's not duplicate for #4697, I'm talking about creating development environment (git clone and composer install after) but not about upgrade procedure.

[2016-08-28 18:59] wired-circuit commented on #6366
@ihor-sviziev Here you go.  Thank you for all your assistance.

[code]

Could we work on producing a full and complete list of commands, to assist anyone else with the same issue(s)?

Previous to this I have run these commands based on documentation from Amazon and Magento;

[(http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/install-LAMP.html#SettingFilePermissions)]
[http://devdocs.magento.com/

[2016-08-28 19:29] Cacasapo commented on #6335
All in all, my 2.1 experience has been a nightmare, and while I'm not a developer, I am a server admin and have many years in IT. Things got better when I learned to immediately hit github whenever I saw any odd behaviour to check for bugs. I can't see how anyone without extensive troubleshooting skills can be expected to run 2.1 in production as it currently is.

Just https://github.com/magento/m

[2016-08-28 19:43] southerncomputer commented on #5823
@ram10raj  did you try the patch code I posted? with fieldset.xml format I also posted? I know for sure that quote->ordre and Quote_teims->order_items works! Have not tried out quote_address to sales_address!

[2016-08-28 19:49] Cacasapo commented on #6328
You need to be root to update composer.

[2016-08-28 21:47] ghost opened #6371 "Magento2.1 documentation CategoryLinkRepositoryInterface"
In Magento core file Magento\Catalog\Api\CategoryLinkRepositoryInterface has a typing mistake.
### Preconditions
1. Magento version 2.1
### Steps to reproduce
1. Go to Magento\Catalog\Api directory open CategoryLinkRepositoryInterface.php file
2. Before function `deleteByIds($categoryId, $sku);` is documentation where is not written what type $categoryId is, instead there is double  `* @param stri

[2016-08-28 23:25] cizgidekiadam opened #6372 "Undefined index: name in System Upgrade"
### Preconditions

1. Magento 2.1
### Steps to reproduce

1. Enter Web Setup Wizard
2. Select System Upgrade
### Expected result

1. System Upgrade 😄
### Actual result

1. Error message 'Undefined index: name' from request to 'setup/index.php/select-version/systemPackage'

[2016-08-29 00:17] biojppm commented on #6260
I get this too. This makes it impossible to install any language pack.

I traced this further and it seems that some but not all modules are unregistered. This causes their paths to be empty and thus when the `/i18n` dir is appended to their paths the result is a dir at the root level.

I found this by adding a print to `setup/src/Magento/Setup/Module/I18n/Pack/Writer/File/AbstractFile.php` at the

[2016-08-29 01:04] ghost opened #6373 "how do you test your installschema worked?"
I've written a basic install data class for a module on magento 2.1 and php version 5.6.25. Mysql version 5.6.14. apache 2.4.

[code]

The questions is, how do you verify the attribute cart_message has been created? When I enable the module, and do setup:upgrade, I don't get any error messages, but when I search for the new column in the schema in mysql via this cool query

[code]

I get 0 results

[2016-08-29 02:08] bachlee89 commented on #6306
@odubovyk : Thank for your response. Here are my server information:
- Environment: Ubuntu 14.04
- PHP Version 5.6.23-1
- Mysql: 5.6.31
- Web server: Apache

If you need any other information, please let me know.
Have a nice day!

[2016-08-29 04:46] sumihiro commented on #2739
Hi, @vzabaznov
I have same issue in CE 2.0.9.
When I try to update my configurable item, I get "We can't save custom-defined options with price type "percent" for configurable product." error.

<img width="982" alt="2016-08-29 13 41 51" src="https://cloud.githubusercontent.com/assets/98380/18040967/5f32078c-6dee-11e6-8d26-ea314eb49ff6.png">

How can I update it?

[2016-08-29 04:53] pboisvert commented on #2739
@gesell @sumihiro i have reopened the ticket but we will need someone to provide full information per the reporting guidelines to allow us to reproduce the issue.

[2016-08-29 04:55] sumihiro commented on #2739
@pboisvert thanks, please give a link to the reporting guidelines.

[2016-08-29 05:03] pboisvert commented on #2739
@sumihiro when you click the "New issue" button you will see placeholder text that is intended as a template for bug reporting including preconditions and steps to reproduce.

[2016-08-29 05:06] pboisvert commented on #6370
duplicate of #5428 closing

[2016-08-29 05:06] #6370 closed, assigned to nobody

[2016-08-29 05:13] sumihiro commented on #2739
@pboisvert This is my report.

### Preconditions

1. Amazon Linux AMI
2. PHP 5.6.24
3. MySQL 5.6.30 MySQL Community Server
4. (by composer info) magento/magento2-base 2.0.9 Magento 2 Base (Community Edition)

### Steps to reproduce
1. Create an attribute set with attribute with color, named "Test Color".
   <img width="766" alt="2016-08-29 14 00 55" src="https://cloud.githubusercontent.com/assets/

[2016-08-29 05:42] imbhupendra41 commented on #6248
@andimov  I will check and let you know about once after disabling the modules and sample-data