[2016-04-21 20:22] mazhalai commented on #4260
@kgvconsulting there needs to be another file called `.setup_cronjob_status` did `bin/magento setup:cron:run` run successfully?

[2016-04-21 20:29] kgvconsulting commented on #4260
Ok I did it now the file show in /var

.setup_cronjob_status ( ASCII English text, with very long lines )

{
    "readiness_checks": {
        "db_write_permission_verified": true
    },
    "php_checks": {
        "php_version_verified": {
            "responseType": "success",
            "data": {
                "required": "~5.5.0|~5.6.0|~7.0.0",
                "current": "5.6.20"

[2016-04-21 20:30] mazhalai commented on #4260
Do you still have an error in websetup wizard readiness check? is your cron user in same group as the webserver user?

[2016-04-21 20:36] kgvconsulting commented on #4260
No the error is gone. the readiness check PASS, and the back up to now waiting for the update to go trough

[2016-04-21 20:37] kgvconsulting commented on #4260
![screenshot 2016-04-21 16 32 38](https://cloud.githubusercontent.com/assets/11282348/14723461/3feb40f2-07df-11e6-8e92-8a889bd61eca.png)

The update is currently running ....

[2016-04-21 20:41] colyield commented on #4260
So, any idea that why we need to run the scheduled cron command manually?

[2016-04-21 20:42] kgvconsulting commented on #4260
Nope I did that once after the install and setting up the cron jobs, dont have idea why

[2016-04-21 20:45] kgvconsulting commented on #4260
I'm still having this screen, but notting is changing at least the browser dont show
![screenshot 2016-04-21 16 44 02](https://cloud.githubusercontent.com/assets/11282348/14723698/6598b8d8-07e0-11e6-89fb-0cf10bade0a8.png)

Is that OK, how long should take the upgrade?

[2016-04-21 20:46] colyield commented on #4260
Sometimes the cron jobs won't work and I have to reindex manually too. I think the magento2 is not good as magento 1.9. And the backend always take time to load the data.

The update will take time to process. Just wait.

[2016-04-21 20:46] kgvconsulting commented on #4260
ok thanks

[2016-04-21 20:51] mazhalai commented on #4260
@kgvconsulting as long as it says it is "running" it is good.

[2016-04-21 20:51] kgvconsulting commented on #4260
OK :)

[2016-04-21 20:52] mazhalai commented on #4260
@colyield only if you haven't setup a magento user as recommended.  http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache-user.html

[2016-04-21 20:56] kgvconsulting commented on #4260
OK thank you I did that from beginning

[2016-04-21 21:03] colyield commented on #4260
@mazhalai Actually, I did. I use apache account to run the cron jobs. I will figure it out later.

[2016-04-21 21:05] colyield commented on #4109
It seems the DHL module have to be configured. I just applied DHL account and hopefully will get it set in a few day.s

[2016-04-21 21:09] kgvconsulting commented on #4260
it still showing the same upgrade screen, do i need to refresh the browser?

[2016-04-21 21:12] mazhalai commented on #4260
it takes time, since it depends on composer, and composer is downloading all the packages and unzipping etc... As long as there is no error, it should be fine. You can check var/ if there is any indication of an error.

[2016-04-21 21:13] kgvconsulting commented on #4260
ok thank you

[2016-04-21 21:16] snez opened #4264 "v2.0.4 Invoice amount for an order has wrong currency code"
## Steps to reproduce
1. Create a store view with a currency that is different from the base currency.
2. Place an order using a payment method that can capture() a payment.
3. View the created invoice for the order in the admin area.
## Expected result

The invoice amount should have the currency symbol of the currency used on the store view.
## Actual result

The base currency symbol is used wit

[2016-04-21 21:21] rip057 commented on #3897
I appreciate all the feedback, but am having good results with apache,
thanks
On Apr 21, 2016 9:24 AM, "Chuck Choukalos" notifications@github.com wrote:

[2016-04-21 22:45] adragus-inviqa opened #4265 "GET REST API requests with JSON body"
Have you considered adding the ability to add information in a `GET`request's _body_?
I'm thinking about that `searchCriteria` GET param here (e.g. for `GET /V1/products` or `GET /V1/orders`).

[code]

_(fugly, innit?)_

vs

[code]

I do understand that a GET body is not standard, but it's not an error, neither. Having a GET body will permit more complex API queries, looks nicer, maybe even avoid

[2016-04-21 23:55] kgvconsulting commented on #4260
@mazhalai  - It still display the same

https://cloud.githubusercontent.com/assets/11282348/14723698/6598b8d8-07e0-11e6-89fb-0cf10bade0a8.png

 like 4 hours no changes in /var folder the last file update/change was 4:35 PM like 3 hours ago. No errors that I can see reported there, the cron's files are running and update regularly, Just want to ask how long usually take, could it take more than 3-4

[2016-04-22 00:00] mazhalai commented on #4260
whats in `var/.update_status.log` or `.update_status.txt`?

[2016-04-22 00:04] colyield commented on #4260
I suggest you run all the three cron jobs manually again.

[2016-04-22 00:04] kgvconsulting commented on #4260
it is last recorder 4:35PM

 .update_status.txt ( ASCII text )

[2016-04-21 20:35:02 UTC] Job "maintenance_mode {"enable":true}" has been started
[2016-04-21 20:35:02 UTC] Magento maintenance mode is enabled.
[2016-04-21 20:35:02 UTC] Job "maintenance_mode {"enable":true}" has successfully completed
[2016-04-21 20:35:02 UTC] Job "update {"components":[{"name":"magento/product-community-edition","v

[2016-04-22 00:06] kgvconsulting commented on #4260
no changes after that
 the crons are updating regularly the last file change was 8:04 PM a minute ago

[2016-04-22 00:08] colyield commented on #4260
How about just run manually again? Last time I did this couple times. The cron jobs seem running but the update did not process until I ran the command manually.

[2016-04-22 00:11] kgvconsulting commented on #4260
the log file state:

update.cron.log ( ASCII text, with CRLF line terminators )

X-Powered-By: PHP/5.6.20
Content-type: text/html; charset=UTF-8

Cron is already in progress...

[2016-04-22 00:12] kgvconsulting commented on #4260
.update_cronjob_status ( ASCII text )

{
    "readiness_checks": {
        "file_permissions_verified": true
    },
    "last_timestamp": 1461283803,
    "current_timestamp": 1461283863
}

.setup_cronjob_status ( ASCII English text, with very long lines )

{
    "readiness_checks": {
        "db_write_permission_verified": true
    },
    "php_checks": {
        "php_version_verified": {

[2016-04-22 00:19] kgvconsulting commented on #4260
Also here are:

 .update_queue.json ( empty ) - no content

composer.json ( ASCII text )

{
    "name": "magento/project-community-edition",
    "description": "eCommerce Platform for Growth (Community Edition)",
    "type": "project",
    "version": "2.0.2",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],
    "repositories": [
        {
            "type": "composer",
            "ur

[2016-04-22 01:35] adragus-inviqa opened #4266 "A more helpful way of creating EAV attributes"
Hi. Me again.

I was wondering if this would be ok for a future PR: https://github.com/adragus-inviqa/m2-eav-attribute-configurator.

It would finally provide us with some OOP sweetness in an important part of our day-to-day work: adding EAV attributes. I can't tell how many times I've got those wrong. It's about time the IDE would help with that.

The addition is BC-friendly and can be used with

[2016-04-22 02:22] kgvconsulting commented on #4260
@mazhalai still no result does not upgrade continue to stay the same, any advise?

[2016-04-22 02:27] colyield commented on #4260
Delete all the files in ./var/ folder except the .htaccess file. And try to upgrade again.

Also, try to run the cron jobs manually. That is what I did last time.

[2016-04-22 03:39] skukla commented on #4158
Just curious - you're saying that the DI architecture approach wasn't a good one to take?  If not, are there plans to alter the approach to be more apropos?

[2016-04-22 03:46] kgvconsulting commented on #4260
@colyield Ok I will give a try, by the way I did run the cron manually earlier but didn't help at all

[2016-04-22 03:59] jibrandlr opened #4267 "After deleting files under 'view_preprocessed' folder they dont appear again when reloading site"
I'm testing some small LESS changes in my theme. After every change I delete the contents inside:

**pub/static/frontend/mytheme** and **var/view_preprocessed**

Then I reload my site but the contents of var/view_processed (css and source folders) are not created so the new LESS changes aren't applied. However the site loads fine displaying elements using the previous LESS values.

After visiting

[2016-04-22 05:24] Vinai commented on #4266
Nice idea!
Just as an idea, what do you think about adding type methods to get rid of the fixed string constants?
Something like

[code]

The product types, backend types and additional options are too generic, but the value scopes and the input types are pretty fixed. There still could be a generic method if something different is needed, too.

[2016-04-22 05:41] kgvconsulting commented on #4260
hi @colyield , just want to be certain that im deleting the correct content, following is the content of the /var/ folder located in magento folder

 ./
../
backups/
cache/
composer_home/
composer.json
generation/
.htaccess
install_composer_packages.json
log/
page_cache/
report/
resource_config.json
.setup_cronjob_status
tmp/
.type.json
update_composer_packages.json
.update_cronjob_status
.update_

[2016-04-22 06:23] Zaylril commented on #4261
This is not a bug @ntoombs19  you possibly picked the worst file possible to extend :) Currently if you see here

https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/view/frontend/templates/product/view/addtocart.phtml

You will see at the bottom catalog-add-to-cart does NOT use the alias to load the require file therefore it will never pick up your changes. If you changed th

[2016-04-22 07:01] YevSent commented on #4109
@colyield to use DHL tracking at first you must configure DHL shipping carrier in Magento Admin panel. Otherwise it will not be work.

[2016-04-22 07:19] rganin commented on #4267
Magento Full Page Cache caches the whole pages. Try to clean FPC along with view_preprocessed folder. Some changes like changes in layout update and/or DI may require full cache cleanup that can be done by running `php -f bin/magento cache:clean` or manually from admin panel System -> Cache Management.
For development purposes you can turn on the development mode in `.htaccess` by uncommenting the

[2016-04-22 07:24] pantaoran commented on #3572
I'm back again to report more problems.

The issue doesn't happen on my desktop anymore, but now I started testing mobile clients and here it's still the same behavior as described above, after logging in I see the "My Account" page but without my name in the menu, and when I try to checkout it says I'm not logged in.

It happens consistently on my android phone in firefox and chrome, and also on

[2016-04-22 07:24] Victor4G opened #4268 "Issue while Importing Currency Rates - GBP"
I needs to use three currency for my store GBP, EUR, USD.
I have set the allowed currency from config.
Now when i try to import rates it only fetch Euro rates not GBP and when i click on SAVE CURRENCY RATES button, it shows blank value for GBP field and error like:
"Please correct the input data for USD => GBP rate"

We have tested on 2 to 3 projects with latest magento 2.0.4 but all have the same

[2016-04-22 07:55] antonkril commented on #4158
Zend\DI component was a bad idea, not DI approach. There are thousands calls made to DI component in one HTTP request. It has to be as skinny as possible and only support features you use. Generic framework components usually have more features than needed for one application to support different programming styles.

[2016-04-22 08:13] cscd98 commented on #2965
@alankent Any updates on 2.1?

[2016-04-22 08:14] enasibrahim commented on #4185
?

[2016-04-22 08:15] enasibrahim commented on #4185
?

[2016-04-22 08:47] adragus-inviqa commented on #4266
Sure, why not. We should make this as friendly as possible.

Still, I'm thinking that the input types [are too many](https://github.com/magento/magento2/blob/ebba9e7604c5790df5ecbb3da30bde4e5f65a232/app/code/Magento/Ui/view/base/ui_component/etc/definition.xml#L202-L349) to make each of them a separate method, however much I would like that.

[2016-04-22 08:49] kodmaskinen commented on #4104
Related: https://github.com/magento/magento2/issues/3354

[2016-04-22 09:08] Vinai commented on #4266
It would be so easy to see input types are available, I think it would be perfect - self-documenting code :)

[2016-04-22 09:09] alena-marchenko commented on #4246
HI @jim5359

We've created MAGETWO-52216 ticket regarding this issue

[2016-04-22 09:25] magentotejpal commented on #4039
Hi,
i am Creating the page in Magetno 2.

when i go content section and click on the show/hide editor. i have put the data in this page. after see the forbidden error .You don't have permission to access /admin/cms/page/save/key

[2016-04-22 09:33] Krapulat commented on #1514
I have the same problem. Is there a fix for this?

[2016-04-22 09:34] salelsol opened #4270 "Save&Duplicate products not works"
Multistore magento 2.0.4, php7,  with multilanguage in a subdomain working fine in frontend but not in backend I can´t save&duplicate products. I don´t undertand this bug:

[2016-04-22 08:33:45] main.DEBUG: cache_invalidate:  {"method":"POST","url":"http://www.salelsol.eu/admin/admin/cache/massRefresh/key/99eb6b84f4b3d2f5f250d28b5b941457d7751747af5049600322cb6e552d47fd/","invalidateInfo":{"tags":[

[2016-04-22 09:51] adragus-inviqa commented on #4266
I agree, but I still think they're too many methods. This increases the chances of the interface changing whenever you add a new input. Not very likely, but, when it does happen, it'll break the contract. Unless I ditch the interfaces and just use a concrete class, which I'm starting to think it's a good idea.

Also, isn't that the same case with backend types? Aka a standard set which can be adde

[2016-04-22 09:53] #4262 closed, assigned to nobody

[2016-04-22 09:53] jameshalsall commented on #4262
This was caused by our internal provisioning tool.

[2016-04-22 10:06] cscd98 opened #4271 "Varnish Cache Plus support?"
Hi,

This supports SSL, normal Varnish doesn't.

[2016-04-22 10:41] jackhuang89 commented on #4148
hi @joni-jones,

Type of PayPal integration:
Payments Standard
Let me check the logging when I trigger the issue.

I should trace the issue when generating invoice record.

attach the database field mentioned before. Bill-to Name in database really empty.

Table:
sales_invoice_grid
Field:
billing_name

<img width="1864" alt="screen shot 2016-04-22 at 6 37 43 pm" src="https://cloud.githubuserconten

[2016-04-22 10:59] snez opened #4272 "v2.0.4 Credit memos with adjustment fees cannot be fully refunded with a second credit memo"
## Steps to reproduce
1. With USD as the base currency, create a second store with a GBP store view currency
2. Set the GBP currency rate of that store to 0.6
3. Place an order in the GBP store
4. Issue a credit memo from the admin area, setting an Adjustment Fee of $1
5. Try to create a second credit memo to refund the remaining $1 and completely close the order
   ![Example adjustment fee](http:

[2016-04-22 11:03] snez commented on #4272
As a side note to this, when the credit memo is accessed from the payment method in the called cancel() method, it seems to be missing some key data, see **store_to_base_rate** and **store_to_order_rate** below:

[code]

[2016-04-22 11:17] Yogesh7989 commented on #4255
Hello ,

I have truncate **url_write**  table and now its working fine. but face another issue its not able to rebuilt.
and category url like this :-

http://localhost/projectname/catalog/category/view/s/designers/id/34/

And product page url like this :

http://localhost/projectname/catalog/product/view/id/1120/s/oushak-rug-red/category/34/

I need to make its accessible by relevant url.

Thanks

[2016-04-22 11:26] gavinlimely commented on #3890
Is there any solution to this?

[2016-04-22 11:27] victorchiriac89 opened #4273 "/admin/customer/index/index/ report on fresh install "Magento ver. 2.0.4" without sample data"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-04-22 12:07] TommyKolkman commented on #2434
I have to confirm that the shorterm workaround of tigerx7 is working. For me, this is a pretty problematic one. Any idea if this will be fixed soon? And is there an easier workaround (maybe skip the required options check somewhere?) instead of going into the database every time?

[2016-04-22 12:18] alena-marchenko commented on #4064
Hi @bgabrovsek

Could you specify php version, that you are using?

[2016-04-22 12:26] markshust commented on #2412
fyi, i just wrote a blog post on this entire topic. pretty much for now, if you stay away from the `magento` user, and keep everything running by & owned by `www-data`, everything is good. you can't use the `magento` user as it stands today with application-level security impediment in place. https://mageinferno.com/blog/magento-2-speed-security-permissions-docker

[2016-04-22 12:47] kgvconsulting commented on #4260
@mazhalai
@colyield ,

also could you please advise the proper order of tasks:

1st delete the ./var content except .htaccess file
2nd - run cron's manually that would be: bin/magento cron:run
and what about: bin/magento setup:cron:run?

I'm a bit confuse because I found this for upgrading using command line from @mazhalai #3961:

TO upgrade by command line:
1. composer require magento/product-com

[2016-04-22 12:53] oshmyheliuk commented on #3789
I tried to reproduce this issue, but everything works correct.
On the checkout page inside method `collectRates()`  $request object contains all info that was set in
`Magento\Quote\Model\Quote\Address::requestShippingRates`.
Request contain city, street and you can get them by appropriate method.

Please give additional info or detailed steps for reproducing this issue.

[2016-04-22 13:37] lanken commented on #3949
Closed, as it has been resolved in https://github.com/magento/mtf/issues/22

[2016-04-22 13:37] #3949 closed, assigned to nobody

[2016-04-22 13:39] PaddlePop commented on #3247
help! I also faced the same issue and added the cron job in my cpanel. However I received an error message "bin/magento must be run as a CLI application". I am total newbie. I also installed Magento 2 on my shared hosting though CPanel and Softaculous, also do not have access to command line. Please advise! Thanks

[2016-04-22 13:43] davidalger commented on #4271
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-04-22 13:43] #4271 closed, assigned to nobody

[2016-04-22 13:43] cscd98 commented on #4271
bah humbug

[2016-04-22 13:55] alena-marchenko commented on #4059
Hi @jim5359

We have MAGETWO-50504 ticket created regarding this issue already

Thank you

[2016-04-22 14:05] mazhalai commented on #4105
@dmitriyse closing as non responsive

[2016-04-22 14:05] #4105 closed, assigned to mazhalai

[2016-04-22 14:31] ntoombs19 commented on #4261
@Zaylril That makes sense. It appears this occurs around Magento 2 with other scripts in several areas. Perhaps this issue should be renamed to to "Direct path RequireJS dependencies prevent overriding/extending those dependencies." I can't see the benefit in using the direct path in those dependencies. @guz-anton Is this something that could be updated in a future version of magento?

In the mean

[2016-04-22 14:32] scholtz commented on #4056
Hi guys, if you officially support Ubuntu, you should accept the latest stable PHP build that is

PHP 5.5.9-1ubuntu4.16 (cli) (built: Apr 20 2016 14:31:27)

What is in PHP 5.5.22 so important that you force administrators to use other PHP distribution sources?

[2016-04-22 14:47] jibrandlr commented on #4267
@rganin All cache types are disabled from backend, do I still need to turn on development mode in .htaccess?

[2016-04-22 14:50] kristaps-aksjonovs commented on #4232
Same issue. Maby any ideas about quickfix ?

[2016-04-22 14:59] Zaylril commented on #4261
@ntoombs19 Yep you are correct. I've not tried the !magento syntax you linked. This instance is just the tip of the iceberg though, the Checkout JS does not use any aliases at all.

The only way to really extend a UiComponent for example in the checkout is to override the component definition to one in your Module and then extend this by injecting in the original file using the full path syntax. Y

[2016-04-22 15:02] ntoombs19 commented on #4267
@lgarridoj Static assets are only automatically generated in develop mode. In production mode you must run `bin/magento setup:static-content:deploy` when you want static assets to be deployed.

[2016-04-22 15:10] ntoombs19 commented on #4261
@Zaylril I tried my approach above using `magento!` and I ended up getting these two javascript errors in the console

[code]

It looks like it is in fact impossible to extend/override functionality in UiComponents that are referenced as dependencies by their direct path rather than a mapping alias without overriding the template or copying the entire original script into your own.

@guz-anton I w

[2016-04-22 15:54] yoavkutner commented on #4158
@antonkril Thank you for your explanation it really helps shed some light on some of the decisions the core team made with M2. If you really care about history of M1 let me know I am open to share some of the decisions and mistakes we made. Even though you call M2  "just code re-grouping" I think you are understating the fundamental changes to the product, and that might be misleading to some. By

[2016-04-22 16:07] kristaps-aksjonovs commented on #4232
@werdlv One way is to add widget using Insert widget not wysiwyg, error pop will show up, but on frontend content will be ok.

[2016-04-22 16:21] benmarks commented on #4158
Regarding this "easier learning curve" narrative: a Magento 1 dev learning Symfony 2 / ZF2 and related frameworks in order to work with Magento 2 doesn't really support that position. Besides, there's a reason that Sylius is not disrupting the PHP commerce framework space despite being the most true-to-form Symfony 2-based commerce offering.

That's good to see - I know many view the timing & targ

[2016-04-22 16:23] ntoombs19 commented on #4261
#4141 This pull request will fix the issue for catalogAddToCart but there are other areas where a direct path is used as a dependency instead of a mapping alias.

[2016-04-22 16:35] lgarridoj commented on #4267
I've changed to develop mode but got the same results. I have to reload the site many times or visit more pages until I can see my css changes

[2016-04-22 17:25] colyield commented on #4260
I set magento to developer mode. Actually those files will be generated automatically again if you delete them except the .htaccess file. And make sure to backup the files in "backups" folder. When you delete the .update_cronjob_status, .setup_cronjob_status, the current upgrade will stop and you can run the upgrade again.

IMO, everything is about the file permissions and the cron jobs. If someth

[2016-04-22 17:28] mazhalai commented on #4260
@kgvconsulting as @colyield said,  you dont have to delete `di` if it doesn't exist.
Those steps you quoted from #3961 should work. All should be executed in Magento root folder.

[2016-04-22 17:50] kgvconsulting commented on #4260
@mazhalai Thank you does the following looks correct:

composer require magento/product-community-edition 2.0.4 --no-update
composer update
rm -rf var/generation
php bin/magento cache:clean
php bin/magento cache:flush
php bin/magento setup:upgrade
php bin/magento setup:di:compile
php bin/magento indexer:reindex

[2016-04-22 18:01] mazhalai commented on #4260
You only need di:compile if you are in production mode, but there is no harm in running it on other modes. Other wise everything looks correct.

[2016-04-22 18:15] mazhalai commented on #4268
@Victor4G thank you for reporting, we have created MAGETWO-52243 to investigate and fix.

[2016-04-22 18:16] crantron commented on #2412
I installed Magento with composer and the DriverInterface.php is located at /vendor/magento/framework/Filesystem, then change perms to 755 for both dir and file.
- godspeed.

[2016-04-22 18:16] mazhalai commented on #4248
@skmomemo thank you for reporting, we have created MAGETWO-52244 to investigate and fix.

[2016-04-22 18:19] mazhalai commented on #4252
@armindoPR

without login in admin? Then yes, this is expected behavior. After update, sessions are expired, so you need to login to admin, and then access Web setup wizard. Also, check your file permissions.

[2016-04-22 18:24] patadeloso commented on #3991
Hello,

We are seeing this same issue with Magento 2.0.4 and php 7.0.5. Web install breaks at around 70-78% but CLI installer works. Looks like DI compiler breaks.

[2016-04-22 18:35] BenGlassAtlas commented on #4218
I had a similar problem, my workaround was to include Bootstrap in my theme directory, and rename all the bootstrap files to include an underscore at the start. Then import _bootstrap.less in my theme's _extend.less.

It's far from ideal and I am getting some errors when running a static content deploy which could be related to my workaround.

[2016-04-22 18:38] fulviocazzanti83 commented on #2513
But dosn't work

[2016-04-22 18:39] mazhalai commented on #4251
@davidnguyen2205 does @Alkar778 's suggestion solve your issue?

[2016-04-22 18:41] #4267 closed, assigned to nobody

[2016-04-22 18:47] kgvconsulting commented on #4260
@mazhalai - before i started with command I gave one last try on web wizard update this is the new change i got

![screenshot 2016-04-22 14 46 07](https://cloud.githubusercontent.com/assets/11282348/14751686/15347ecc-0899-11e6-91c8-bb8922b5fd74.png)

Could you please advise?

[2016-04-22 18:51] fulviocazzanti83 commented on #3510
How you are add italian languages ?

[2016-04-22 18:53] mazhalai commented on #4260
@kgvconsulting this usually means, there is an error, in either running crons, or something else. Check contents of var directory for more details. Also, is there any error in browser's console log?

[2016-04-22 18:54] kgvconsulting commented on #4260
also the ~/var/report folder have file with error

a:4:{i:0;s:27:"No such entity with id = 18";i:1;s:11277:"#0 /xxxx/vendor/magento/module-catalog/Model/CategoryRepository.php(118):

[2016-04-22 18:55] kgvconsulting commented on #4260
this is the only new file I see can you advise which file to look?

[2016-04-22 18:55] kgvconsulting commented on #4260
When I install Magento I didn't install the samples just the bare framework

[2016-04-22 19:03] kgvconsulting commented on #4260
@mazhalai It i very weird, no the screen change on its own to:

![screenshot 2016-04-22 15 02 33](https://cloud.githubusercontent.com/assets/11282348/14752113/58c4fbec-089b-11e6-850a-c05efe9395e8.png)

Really stuck?

[2016-04-22 19:06] colyield commented on #4260
Did you just try to Run the three cron jobs manually at this time?

[2016-04-22 19:06] mazhalai commented on #4250
@xdoctordog  Thank you for reporting, we have created ticket MAGETWO-52245 to investigate and fix.

[2016-04-22 19:09] kgvconsulting commented on #4260
Yes I gave a try couldn't see anything else for reported errors that is

[2016-04-22 19:09] kgvconsulting commented on #4260
actually the screen change shortly after I run the cron jobs manually

[2016-04-22 19:11] kgvconsulting commented on #4260
At least Magento could place a task percentage indicator during the upgrade or even better showing the stages that pass and if they are OK or failed That would be much more useful to get where is the fail

[2016-04-22 19:11] colyield commented on #4260
I told you. That's the trick.

[2016-04-22 19:12] kgvconsulting commented on #4260
but still is hanging there I decided to give last chance on the web wizard, if does not work will try command line

[2016-04-22 19:16] colyield commented on #4260
It does take time to upgrade. Wait half hour to see what will happen. Run the jobs again if it's still not moving.

[2016-04-22 19:20] kgvconsulting commented on #4260
Ok I will I'm waiting 2 hours till now give or take almost that time, the problem is that noting show if someting is running at all will see Thank you

[2016-04-22 19:57] shashankitsoft opened #4274 "Custom .css files not loading in browser head added via default_head_blocks.xml in Magento 2.0.4 child theme"
## **Steps to reproduce**
1. Installed Magento 2.0.4 community with sample data on local WAMP server 3.0 on Windows 10 Pro (32-bit). Apache: 2.4.17, PHP: 5.6.15, MySQL: 5.7.9.
2. Installed, configured and activated a paid theme which is actually a child theme of Magento_blank theme. Working fine. Also, this theme added custom .css files via default_head_blocks.xml and putting file in web/css folde

[2016-04-22 20:12] kgvconsulting commented on #4260
OK still is showing the same screen I did run manually the crons again so far no other changes, do I need to wait more or to proceed with command line upgrade?

[2016-04-22 20:23] elenleonova commented on #4090
Hi @avbinoy, thanks for reporting this issue. we have re-uploaded the archive, tested. and it works fine now. If you still see any issues, please, reopen the issue.

[2016-04-22 20:23] #4090 closed, assigned to nobody

[2016-04-22 20:30] mazhalai commented on #4260
Did you setup cron with logs as [suggested](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html), anything in those logs?

[2016-04-22 20:32] kgvconsulting commented on #4260
nope noting all is clean running as started

[2016-04-22 20:39] kgvconsulting commented on #4260
do you want me to look in particular file?

[2016-04-22 20:45] piotrekkaminski commented on #2412
@markoshust what user you use for command line actions (like running bin/magento)? this has the potential to break stuff.

[2016-04-22 20:54] markshust commented on #2412
@piotrekkaminski during container start, i execute this script, which moves `./bin/magento` to `./bin/magento-php` (ref: https://github.com/mageinferno/docker-magento2-php/blob/master/bin/setup-config). i then mount a special file (ref: https://github.com/mageinferno/docker-magento2-php/blob/master/bin/magento) that basically chroots `./bin/magento-php` to the `www-user` user. i'm doing a lot of s

[2016-04-22 21:00] piotrekkaminski commented on #2412
Thanks @markoshust
Btw in your setup-config file I would suggest making sure the cron processes have output redirected to a log filed. I think not all of them write to real log files properly, some just output to STDOUT

[2016-04-22 21:03] markshust commented on #2412
@piotrekkaminski good catch! all of the default log output to STDOUT for nginx is handled from the base image, i forgot about the cronjob output. will do.

[2016-04-22 21:10] magnetic5355 opened #4276 "Category page of configured products takes 1 min to load on first load - preventing production rollout"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add swatch attribute with use product image and 1500 options
3. Add 1000 configured products mapped to 5000 simple products
## Expected result
1. Page load time is similar to non configured product category < 1s

This is an urgent issue for us as it is preventing a production rollout. Any guidance would be helpful.
## Actual result

[2016-04-22 21:15] kgvconsulting commented on #4260
@mazhalai @colyield

OK the command line took 15 minutes still dont get it why Magento insist to use web wizard is totally not functional, any how all the processes run without errors however when log in in admin side on the bottom continue to display v 2.0.2 So don't really know what is going on is very time waist process

![screenshot 2016-04-22 17 05 22](https://cloud.githubusercontent.com/asse

[2016-04-22 21:17] mazhalai commented on #4260
@kgvconsulting Web Setup is recommended for those on shared hosting, and dont have access to command line. All others should use command line.

[2016-04-22 21:22] kgvconsulting commented on #4260
Ok thank you, any idea about why the admin side show v2.0.2 on the bottom right? Even after the upgrade went trough

[2016-04-22 21:24] mazhalai commented on #4260
I think there is an existing bug about that. if you check your root composer.json
it should say

[code]

[2016-04-22 21:30] kgvconsulting commented on #4260
"name": "magento/project-community-edition",
    "description": "eCommerce Platform for Growth (Community Edition)",
    "type": "project",
    "version": "2.0.2",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],
    "repositories": [
        {
            "type": "composer",
            "url": "https://repo.magento.com/"
        }
    ],
    "require": {
        "magento/product-commu

[2016-04-22 21:35] kgvconsulting commented on #4260
OK i think this should be end of all. Thank you again @mazhalai and @colyield for your patience and support.

[2016-04-22 21:50] mazhalai commented on #4260
@kgvconsulting you're welcome. Please report a new issue if you have any additional problems.

[2016-04-22 22:15] kgvconsulting commented on #4260
Thanks Sure

[2016-04-22 23:06] jibrandlr opened #4277 "Unable to customize the navigation menu by extending one variable from navigation.less file"
Not sure whether this is an issue but I've not found an answer anywhere.

I've created a new theme which inherits from Blank.
I want to add a border to the navigation menu so I created the file `_navigation_extend.less` which contain this line:
`@navigation__border: 3px solid blue;`

But does not work.

Is`@navigation__border: ' '` variable the right one to edit in order to add a border?
This vari

[2016-04-23 07:02] dervism commented on #3247
The reason you see that message is because the path to PHP is wrong. You also need two cron jobs, not just one, configured in your CPanel:
- magento cron:run
- magento indexer:reindex

To get these two working, you need to specify the full path to both PHP (look further down in this post for how-to find it) and your Magento-installation.

**magento cron:run**
In my CPanel, I added the "cron:run" l

[2016-04-23 11:57] RakeshJesadiya commented on #2121
I have same kind of issue available for category with subcategory have product then its not display inside layered navigation.

I have checked category with subcategory all have is_anchor equal yes.

Any update for this issue?

[2016-04-23 13:28] kgvconsulting commented on #4260
Hi @mazhalai

After the update, front and back of magento works fine except one issue, following described. I found other articles about the same however there was no answer from Magento about that. Could you please advise?

other reported issues for that same error:

https://github.com/magento/magento2/issues/4001
https://community.magento.com/t5/Technical-Issues/Fatal-error-magento-setup/m-p/264

[2016-04-23 13:41] PaddlePop commented on #3247
Hi. Thank so much for your help! I actually already have the other cron job you asked me to add. It was already added by softacculous? If I am right. However, I managed to solve it last night before I see your reply. I added the below.

"php-cli -q /home/admin/public_html/Store/bin/magento indexer:reindex >/dev/null 2>&1"

It was fixed. Although I still receive an email (refer to below) Not too su

[2016-04-23 15:36] kgvconsulting opened #4278 "Fatal error on accessing web magento setup page"
After the update see #4260, front and back of magento works fine except one issue, following described. I found other articles about the same however there was no answer from Magento about that. Could you please advise?

other reported issues for that same error:
#4001

https://community.magento.com/t5/Technical-Issues/Fatal-error-magento-setup/m-p/26444#M335

Issue with web wizard setup page: I t

[2016-04-23 17:58] PaddlePop opened #4280 "PDOException' with message 'SQLSTATE[42S02]: Base table or view not found: 1146 Table_catalogsearch_fulltext_scope1' doesn't exist"
I installed Magento 2.0.4 on my shared hosting though CPanel and Softaculous. I have 2 problems currently.
1. I cannot add new products. It gave me error message - **'PDOException' with message 'SQLSTATE[42S02]: Base table or view not found: 1146 Table_catalogsearch_fulltext_scope1' doesn't exist'.**
2. I can only view my webpage(product categories with no products) when I disabled all the cache t

[2016-04-23 20:08] sammarcus commented on #2094
@antonkril Is the independent Group Price section permanently removed? I see how you can use Tier Pricing to get this functionality, but the docs still show the sections are independent:
http://docs.magento.com/m2/ce/user_guide/catalog/settings-advanced-advanced-pricing.html

Just want to be sure. Thanks!

[2016-04-23 20:34] wsagen commented on #3789
If you go to any enabled shipping method e.g. DHL or UPS, and look at the request object passed to collectRates when in the checkout on Guest Checkout - getDestCity(), getDestStreet() return null - they are not populated on the request object.
I've tested on v2.0.4 release of community.

[2016-04-23 21:54] sammarcus commented on #4151
This is really bizarre. I was just doing some of my own research to determine where the Group Price section went (it is [still](http://docs.magento.com/m2/ce/user_guide/catalog/settings-advanced-advanced-pricing.html) shown in the M2 docs!) but it seems that Tier Pricing does not fully substitute this feature.

In #2094 it was suggested Group Pricing was removed because of the functionality overla

[2016-04-23 22:10] xplodeart commented on #3583
how did you solve this? i got the same error on magento 2.0.4 using the web install and tried the CLI as well

[2016-04-23 22:19] xplodeart opened #4281 "Connection "default" is not defined"
Fresh Magento installation on vagrant fails using the web setup or the CLI. The database is fine and it connects fine as well.

Magento version 2.0.4 downloaded from the official ZIP repo.

[ERROR] exception 'DomainException' with message 'Connection "default" is not defined' in /vagrant/www/vendor/magento/framework/App/ResourceConnection.php:115

Anybody seen this before?

[2016-04-23 22:21] ghost opened #4282 "Issue with blank theme search input"
Steps to reproduce
## Using Blank Theme.
1. Click inside search.
2. Click to hide search.
3. Click to show search.
## Expected result
1. Search input displays and stays on the screen.
## Actual result
1. Search input disappears due to input already being active.

[2016-04-24 02:46] colyield commented on #4109
Is there anyway to bypass the module configuration? I just want to track the packages. But it seems it's impossible to get a DHL account just for tracking.

[2016-04-24 10:28] YevSent commented on #4109
No, you need DHL credentials to use this module.

[2016-04-24 12:57] komsitr commented on #2837
I had the same issue using Magento 2.0.2. The problem solve after I apply the fix from @rawick

Clase Magento\Review\Model\ResourceModel\Rating

Line: 213
from `$this->deleteRatingData($ratingId, $table, array_diff_assoc($old, $new));`
to `$this->deleteRatingData($ratingId, $table, array_diff($old, $new));`

Line: 216
from `foreach (array_keys(array_diff_assoc($new, $old)) as $storeId) {`
to `fore

[2016-04-24 14:01] kandy commented on #4068
Simple script with allow convert many place automatic

[code]

[2016-04-24 15:03] Sanuch opened #4283 "Wrong regex in sales rule"
Hi

You are trying to parse attributes from rule condition by old regex [Rule.php#L351](https://github.com/magento/magento2/blob/develop/app/code/Magento/SalesRule/Model/ResourceModel/Rule.php#L351)
but now condition looks differently `a:7:{s:4:"type";s:46:"Magento\SalesRule\Model\Rule\Condition\Combine";s:9:"attribute";N;s:8:"operator";N;s:5:"value";s:1:"1";s:18:"is_value_processed";N;s:10:"aggre

[2016-04-24 16:53] ryantfowler commented on #4158
@gfxguru I just wanted to point out a small point of correction, and avoid stepping on your toes, but it's just Magento, Inc. now. There's no eBay association. eBay sold off Magento last November to Permira.

@alankent You're a true professional. Kudos, Sir.
@antonkril Thanks for the insight 👍 .
@benmarks You rock!

@yoavkutner When's the B2C module due for OroCommerce? lol

[2016-04-24 18:24] devdesco-ceo opened #4284 "Customer cannot edit any of his addresses"
M2 2.0.4
A customer cannot edit any of his addresses anywhere in frontend - dashboard, address book, checkout, etc.
When trying to edit an address, it always redirects to customer dashboard!
No errors, no nothing is logged.

[2016-04-24 18:28] devdesco-ceo commented on #4057
Same thing here.
Also on POST, https://zzz.com/rest/en_int/V1/carts/mine/estimate-shipping-methods-by-address-id
gives error 401 and redirects to dashboard.

[2016-04-24 18:29] devdesco-ceo commented on #3616
Same thing here

[2016-04-24 20:39] lucas-santos-chaordic commented on #2843
I have the same issue. I tried everything i found in the web, but anything seems to fix this problem. I even tried a new installation from scratch... but the same problem happens, every time.

The only way i found to fix the problem was editing the requirejs-config.js file. I needed to put the base url reference, and everything started working fine.

require.config({"baseUrl":"http://<your domain>

[2016-04-24 22:16] astorm opened #4287 "Repository Filter Groups Applied Inconsistently"
Per conventional wisdom that's floating around the Magento programmer community, it's my understanding that, when creating object repositories and implementing a `getList` method that
1. Filters within a group should be applied as `OR` filters
2. Filter groups themselves should be applied as `AND` filter

However, this informal guideline is **not** followed consistently in the core Magento systems

[2016-04-24 22:51] adragus-inviqa commented on #4072
/cc https://github.com/magento/magento2/pull/4227

[2016-04-24 22:57] adragus-inviqa commented on #4041
Is `Magento\Framework\App\Config\Storage\WriterInterface` of any help?

[2016-04-25 02:41] davidnguyen2205 commented on #4251
Yes, thank you so much :)
Just close this!

[2016-04-25 05:54] nikul opened #4288 "Error installing sample data after magento 2 setup"
## Steps to reproduce
1. Installed Magento by downloading zip package.
2. Run bin/magento sampleadata:deploy
3. Tried to run bin/magento setup:upgrade
## Expected result

Magento site working with sample data
## Actual result

'Magento_BundleSampleData' component already exists

[2016-04-25 06:09] RakeshJesadiya opened #4289 "Category with subcategory having product not display in layered navigation."
Categories in layered navigation are only rendered if Category in has no children.

I am having categories structure for 4th level. If any 3rd categories having sub categories along with products - then it isn't showing at layered navigation.

![gsfko](https://cloud.githubusercontent.com/assets/18594535/14775137/664cca56-0ada-11e6-891b-9355a1bf8011.png)

In above category structure, Arrow with red

[2016-04-25 06:14] tudn9x commented on #3630
Hi, just reindex to fix issue. Did you try check notification?
![screenshot_1](https://cloud.githubusercontent.com/assets/4941829/14775195/7451a8e4-0ae7-11e6-8a15-f97b3c3b7b4b.png)

[2016-04-25 06:17] amresh13500 commented on #335
hi to all..i am new here so please ignore my mistakes..
i am using this SCP extenstion in my magento site. the problem is whateve price i am setting for configurable product(at time of creating configurable product) that not shown on product page and it show price of last simple product added in configurable type
![home page](https://cloud.githubusercontent.com/assets/16338381/14775273/9a5b03c0-0a

[2016-04-25 06:37] Deepthi57 commented on #3630
Hi,
I even reindex and tried clearing cache too. Still it dint work out

[2016-04-25 06:41] #4249 closed, assigned to nobody

[2016-04-25 07:08] BenGlassAtlas commented on #4282
I can also replicate in the Luma theme (using a mobile).

[2016-04-25 07:25] BenGlassAtlas commented on #4282
As a quick workaround without editing core files I used this jQuery (with require.js), this stops the previous toggle from firing then we toggle the active class.

[code]

[2016-04-25 07:53] alena-marchenko commented on #4036
Hi @nobuttsalex

We've created MAGETWO-52254 internal ticket regarding this issue

[2016-04-25 08:51] cscd98 commented on #4158
Guys, I know some of you don't like some of the new changes to M2. Some of them are really good (in terms of bundling modules, controllers, interfaces etc) but for front end developers M2 seems to have taken a step backwards.

Without simple local.xml and SASS support, developing for M2 is not as easy as it was with M1. I hope the M2 developers actually listen to some feedback.

It was so much eas

[2016-04-25 08:58] YevSent commented on #4148
@jackhuang89 please, attach debug logs with PayPal response.

[2016-04-25 09:07] shiftedreality commented on #2837
Thank you for submission.
I created internal ticket MAGETWO-52259 to fix this bug

[2016-04-25 09:14] urielbeaupre commented on #4276
We had some similar issues with our project.

Are you using nginx or apache?
Php 5 or 7?
Is the page in developer mode?

[2016-04-25 09:34] dziurawy commented on #3073
same problem here..

[2016-04-25 09:52] vil11 commented on #2681
FYI: https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

Dmytro Vilchynskyi, M2 QA.

[2016-04-25 10:24] almarchenko commented on #3816
Hi @quienti, thank you for reaching us. I've updated the docs, having added a note about using jQuery UI style, and corrected the names of the styles in code sample.
http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/widgets/jquery-widgets-about.html

[2016-04-25 10:35] ghost commented on #4282
Thank you Ben, I thought I was being a bit lame reporting such a small issue... but it really counts - especially on a serious release.

[2016-04-25 10:40] arkadiych commented on #4016
@ircsome, could you answer some questions:
- does it work for you if "--base-url=http://domain.com/" for 2.0.2 and 2.0.4
- when you get 404 via REST request, could you open home and admin pages?

[2016-04-25 10:42] m1keharris commented on #3307
We are also getting this problem, is there any update on when a fix might be available?

[2016-04-25 10:44] quienti commented on #3816
Thank you for your reply.

I thought that was directly integrated into Magento
But, I will try that

Thank you

[2016-04-25 12:02] quienti commented on #3816
@almarchenko, import juery-ui.css work fine ^^
But, import can break magento design

I use this in a custom module
`<css src="css/jquery-ui.min.css"/>`

And Magento menu are complety break ^^

[2016-04-25 12:21] almarchenko commented on #3816
@quienti i'm sorry to hear this. Developers will take a look and we will get back to you!

[2016-04-25 12:28] daim2k5 commented on #4284
@devdesco-ceo I can't repoduce this behaivour. Can you tell us some more details

[2016-04-25 12:31] daim2k5 commented on #4283
@Sanuch thanks for your bug report. Can you give us maybe more information. What Rule did you try to apply? Did you use magento 2.0.4?

[2016-04-25 12:31] quienti commented on #3816
Thank you, i'm waiting !

[2016-04-25 12:42] daim2k5 commented on #4282
Here a small video to see the error https://drive.google.com/file/d/0B3kBFTm6f_Kab09EemZRZmg1X0U/view?usp=sharing

[2016-04-25 12:44] yoavkutner commented on #4158
@benmarks Thanks for your reply

It is easier and faster to learn ZF2 and Symfony 2 because of the huge communities and echo systems around the more mature frameworks. Right now the M2's community is a hand full of developers in the core team. I am sure more and more people will start learning it, but because it is new and unproven people will run into issues and will not be able to find a quick a

[2016-04-25 12:45] daim2k5 commented on #4280
@PaddlePop regaring point one it look like the database is not created? did you run the indexer?

[2016-04-25 12:47] daim2k5 commented on #4277
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-04-25 12:47] #4277 closed, assigned to nobody

[2016-04-25 12:55] maksek commented on #4158
Thanks all for your comments.
I am locking conversation, since it is not related to any particular issue and doesn't contain any concrete suggestions for improvements. If you have specific suggestions - feel free to send email to us.

[2016-04-25 13:03] ellasravani commented on #2314
Hi Friends,

I am new to magento. Trying to set up magento for virtual products and I need to hide quantity and in-stock options. I could not find solution anywhere. Could you please tell whether this issue is fixed or is it still the same for everyone?

Kindly help.

[2016-04-25 13:06] SidneyBilliet commented on #2652
Still having the same issues with parts that cannot be translated. When translating them inline, and clearing cache storage the entered translations do not appear.
Using Magento 2.0.2
This ticket needs to be reopend.
![2016-04-25_14h51_12](https://cloud.githubusercontent.com/assets/13572447/14784664/008bed4c-0af7-11e6-8815-293c8a4ce1d9.png)

Same issues on checkout step 2
![2016-04-25_15h01_50](ht

[2016-04-25 13:09] mazhalai commented on #4260
Please clean you var/generation and var/di folder.

[2016-04-25 13:10] #3801 closed, assigned to vzaporozhets

[2016-04-25 13:11] mazhalai commented on #3583
@shalavjaiswal  @xplodeart Thank you for reporting, we have created MAGETWO-52266 to investigate and fix.

[2016-04-25 13:14] mazhalai commented on #4288
@nikul did you download the zip package with sample data? Then this result is expected. Also, did you start on a clean database? Did you previously have sample data installed?

[2016-04-25 13:15] SidneyBilliet opened #4290 "Unable to translate inline for checkout"
Still having the same issues with parts that cannot be translated. When translating them inline, and clearing cache storage the entered translations do not appear.
Using Magento 2.0.2
![2016-04-25_14h51_12](https://cloud.githubusercontent.com/assets/13572447/14784955/7025f71e-0af8-11e6-8c03-4c09883f11b0.png)

Isues in step 2 of checkout
![2016-04-25_15h01_50](https://cloud.githubusercontent.com/as

[2016-04-25 13:15] SidneyBilliet commented on #4290
wa unable to reopen ticket 2652. Some translate bugs were resolved, but not those mentioned above

[2016-04-25 13:16] mazhalai commented on #3073
@aeldar @jim5359 @dziurawy Please do not post on closed issues. Create a new one!

[2016-04-25 13:16] daim2k5 commented on #4247
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-04-25 13:17] neeelz commented on #4244
I have the same issue. Did someon solve this problem!?

[2016-04-25 13:19] vil11 commented on #2835
@mage2pro We can't find "Show ID instead of SKU" check-box on "Stores > Configuration" Admin form. Please specify the full path to this panel & your Magento version.

:sunny: Dmytro Vilchynskyi, M2 QA engineer.

[2016-04-25 13:34] ghost commented on #4016
@arkadiych
- does it work for you if "--base-url=http://domain.com/" for 2.0.2? YES
- does it work for you if "--base-url=http://domain.com/" for 2.0.4? NO
- when you get 404 via REST request, could you open home and admin pages? YES

see attached images for illustration ...
<img width="570" alt="gettoken" src="https://cloud.githubusercontent.com/assets/4860281/14785448/6cd0385a-0ac0-11e6-850a-e2e

[2016-04-25 13:40] nikul commented on #4288
1. I first did install magento 2.0.4 then downloaded sampledata zip from https://github.com/magento/magento2-sample-data and unzipped on root of magento 2 setup.
2. I also tried like unzip files of sampledata on magento root before install and then started installation.
3. Then i tried with install magento first and used command line (ie. bin/magento sampledata:deploy then bin/magento setup:upgrad

[2016-04-25 13:41] stevenvdp commented on #3379
We also have this problem, seems like this is not a priority for Magento...
@Fel1xx  I've found a PR where they simply remove the register() call, you could give it a try.
https://github.com/magento/magento2/pull/2656

[2016-04-25 13:46] mazhalai commented on #4288
So you got sample data modules 2 ways, once via zip and once via `bin/magento sampleadata:deploy`, thats why the error was thrown.
These steps should work
1. Download zip without sample data and install magento
2. Run `bin/magento sampleadata:deploy`
3. Run `bin/magento setup:uppgrade`,

Make sure your database is clean before you begin.

[2016-04-25 14:04] nikul commented on #4288
Ok.
And how to install sample data using zip if already downloaded without CLI?

[2016-04-25 14:09] mazhalai commented on #4288
If you have Magento installed already, you can go to admin->System->Web Setup Wizard-> Component Manager (you will have to enter your connect credentials and sync) List of sample data should be available if you click the "install" and select the samples you want and proceed with the steps.
However, this means that you do not require the samples zip that you downloaded.

[2016-04-25 14:13] BenGlassAtlas commented on #4282
@daim2k5 That seems a bit different to the issue I'm having, here is a gif of the problem on Luma mobile. When I click on the search icon the search bar opens then immediately closes, this is on a demo store using the Luma theme (no customisations). I can also replicate on a local environment which uses a custom theme and Luma as a parent.

![luma](https://cloud.githubusercontent.com/assets/889577

[2016-04-25 14:13] zinittest opened #4291 "Customer Import - Invalid data for insert"
## Steps to reproduce
1. Create CSV file for customer import with two rows: first - all columns filled with dummy content, second - without gender or dob data (example attached).
   [test_main.csv.zip](https://github.com/magento/magento2/files/234674/test_main.csv.zip)
2. Choose "Customers Main File", "Add/Update Complex Data" options.
3. Hit "Check Data" button - validation should be OK.
4. Hit "

[2016-04-25 14:20] nikul commented on #4288
Ok thanks. Finally I did installed using command line.

One more thing, after installed sampledata my site becomes too much slow in front and back ends. Taking more than 5 mins to load any page.
Anything am I missing?

I am using windows os and xampp.

[2016-04-25 14:23] digitalpianism opened #4292 "Why can't one switch back to default mode ?"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Switch to developer mode `php bin/magento deploy:mode:set developer`
3. Switch to default mode `php bin/magento deploy:mode:set default`
## Expected result
1. Mode switched back to default
## Actual result
1. Error message appears: "Cannot switch into given mode 'default'".

I know the cause is `Magento/Deploy/Console/Command/SetMo

[2016-04-25 14:24] ghost commented on #4282
@BenSpace48 I'm having that exact same issue as you. Thank you for the gif. I don't see any problem at all with Daim's video - I figure compared to this issue I don't have to look closely to compare.

[2016-04-25 14:25] mazhalai commented on #4288
Windows is not officially supported, only Ubuntu and Centos.
Also, try setting up [varnish cache](http://devdocs.magento.com/guides/v2.0/config-guide/varnish/config-varnish.html). But not sure how to configure that on windows.

Closing, since this issue has been resolved. Please open a new issue if problems persist.

[2016-04-25 14:25] #4288 closed, assigned to mazhalai

[2016-04-25 14:29] fooman commented on #4292
Thanks @digitalpianism for bringing this up. I support the suggestion to remove the default mode (and then just make the different levels of debug info configurable) as this lessens potential for confusion.

[2016-04-25 14:33] nikul commented on #4288
Thanks for the guide!

[2016-04-25 14:39] mazhalai commented on #4292
@digitalpianism @fooman thank you for your input, this is already been discussed internally in scope of story MAGETWO-52090.

[2016-04-25 14:42] zinittest opened #4293 "Customer Import - Gender is not imported"
## Steps to reproduce
1. Create CSV file for customer import with gender fields filled with valid values (Male, Female, ...).
2. Choose "Customers Main File", "Add/Update Complex Data" options.
3. Import data.
## Expected result
1. Gender data is properly saved.
## Actual result
1. None of imported customers have gender info saved. DB fields in `customer_entity`.`gender` column are filed with zero

[2016-04-25 14:59] xplodeart commented on #3583
@mazhalai if it helps, i can provide my vagrantfile and all the provision and configuration

[2016-04-25 15:02] mazhalai commented on #3583
@xplodeart yes that would be helpful

[2016-04-25 15:12] xplodeart commented on #3583
@mazhalai here it is, just paste the magento zip in the www dir and vagrant up
[vagrant_magento_2.zip](https://github.com/magento/magento2/files/234829/vagrant_magento_2.zip)

[2016-04-25 15:17] #3996 closed, assigned to nobody

[2016-04-25 15:41] shiftedreality commented on #4221
Hi @dexteritycc

Created internal ticket MAGETWO-52284 for investigation.
Thank you for submitting.

[2016-04-25 15:57] MomotenkoNatalia commented on #4157
I'm closing this issue as a duplicate
#4156

[2016-04-25 15:57] #4157 closed, assigned to nobody

[2016-04-25 16:02] devdesco-ceo opened #4296 "Shipping address validation error without Region defined"
I am getting PHP error when shipping address validation is performed at either shopping cart or checkout if shipping address is without region entered, lets say Ukraine.

Here is the trace:
`[2016-04-25 15:54:36] main.CRITICAL: Exception: Report ID: webapi-571e3dbc692ab; Message: Recoverable Error: Object of class Magento\Customer\Model\Data\Region could not be converted to string in /var/data/mfs

[2016-04-25 16:29] vzaporozhets commented on #3507
@werdlv we can't reproduce this problem with 2.0.4 using the same environment. Can you please re-test this issue with latest version and report more details if it is still faced.

[2016-04-25 17:02] alankent commented on #2965
I checked with the team - the current target is mid June. I had thought it would be made to align with Imagine, but it was decided "do it right, not do it just for a conference announcement." So sorry for misleading guess earlier, I know delays are always painful, but long term I think the principle being followed is the right thing to do. We are also working hard on getting the patch cadence bett

[2016-04-25 17:20] davidbilly opened #4297 "About Shipping method"
Hi guys, i need a shipping method with min weight(KGS).

if a user order an item below 5KG then shipping method will hidden. otherwise it will show.

i tried with UPS, this not working due to always show "Carrier with such method not found: null, ups"

<img width="1353" alt="screen shot 2016-04-26 at 1 17 50 am" src="https://cloud.githubusercontent.com/assets/3938103/14792444/c9974f9c-0b4c-11e6-80

[2016-04-25 17:43] alankent commented on #4288
Just a note that 5 mins to load every page is certainly not normal. I would be checking to make sure your machine or any processes are not thrashing etc. (Not sure if "5 mins" is an exaggeration. If accurate, no, that is not normal.)

[2016-04-25 18:02] davidalger commented on #4297
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-04-25 18:03] alankent commented on #4158
Hi @craigcarnell - is there a way to reach out directly? I would like to get some more details if I can. I am akent at magento dot com.

[2016-04-25 18:05] davidalger commented on #4297
@davidbilly Could you let us know what version of M2 you installed, how you installed it, what version of PHP / MySql you are using, and if you have any 3rd party modules installed? Trying to collect more info here so the team can try and reproduce the issue. I don't believe 'null' should ever show up in that message on the front, so there is something going awry, that I know ;)

[2016-04-25 18:58] PaddlePop commented on #4280
Hi,

Yes I have. Currently I have 3 cron jobs.

2 added by softaculous
~   php /home/admin/public_html/Store/bin/magento cron:run > /dev/null
~      /usr/local/cpanel/3rdparty/bin/php /usr/local/cpanel/whostmgr/docroot/cgi/softaculous/cli.php --backup --auto=1 --insid=545_59569

And the last one I added it myself because magento gave me a system error - "one or more indexer is invalid". So I added

[2016-04-25 19:29] sammarcus opened #4299 "Catalog fails to display when pageSize is set too high; no way to then reduce pageSize"
## Steps to reproduce
1. Navigate to Products -> Catalog
2. Set `pageSize` to a large integer by typing in a custom value
3. Catalog fails to load and displays generic "Attention Something went wrong" error
4. PHP log shows

[code]
1. Now that page size preference has been set to an unusable amount, the user has no way of ever changing this value since it is not possible to change `paging[pageSize

[2016-04-25 19:35] EmilyPepperman commented on #2538
Hi Kandy... I am a bit new to M2 can you help with a little more instruction on how to apply your patch for this issue?

[2016-04-25 19:42] kgvconsulting commented on #4278
it was resolved see #4260

[2016-04-25 19:42] #4278 closed, assigned to nobody

[2016-04-25 19:43] kgvconsulting commented on #4260
Great thank you now works!

[2016-04-25 19:55] mazhalai commented on #4220
@inborntech sorry we are not able to reproduce this error.

[2016-04-25 20:16] bwaters commented on #4250
Resolved recently fixed on develop branch

[2016-04-25 20:25] inborntech commented on #4220
@mazhalai Kindly visit this site www.dilsedeal.con can you give me any clue how to enable popup?

[2016-04-25 20:51] mazhalai commented on #4250
@bwaters can you please point to specific commits?

[2016-04-25 21:12] chris-brabender opened #4300 "Error in unittests for Magento\Setup\Controller\Session"
It appears there is another (https://github.com/magento/magento2/issues/3715) issue with the coverage on unit tests.

[code]

Looks like setup/src/Magento/Setup/Test/Unit/Controller/SessionTest.php:39 and vendor/magento/magento2-base/setup/src/Magento/Setup/Test/Unit/Controller/SessionTest.php:39 should be updated from

[code]

to

[code]

[2016-04-25 23:38] rudik99 commented on #2965
Hi Alan,
Really appreciate your transparency, it's fantastic.
Do you know what is the strategy for minor releases, quite a lot of fixes in the develop branch, how often do you think that will get rolled up for wider release?
Rudi

[2016-04-25 23:46] daniel-ifrim opened #4301 "Hit fast twice F5 on checout page, customer loggs out automatically"
Steps to reproduce
1. http://magento2-demo.nexcess.net or Magento 2.0.4 with cache enabled (page cache too).
2. Have products in cart as logged in customer
3. Go to checkout page.
4. Hit fast twice F5 key in browser
5. Customer is not logged in anymore.

Expected result
1. Customer should stay as logged in

Actual result
1. Customer is not logged in anymore

It may be related to module-customer/vi

[2016-04-26 01:04] alankent commented on #2965
We are certainly trying to release patches more often. The team have been working on putting practices in place to avoid repeating previous mistakes. The issue of frequent patches is always a balancing act between risk of patch (any change can impact someone), effort/cost of patch (patches involve testing), impact of just deferring until next release (given releases are aimed to be more frequent).

[2016-04-26 01:50] magnetic5355 commented on #4276
Php7 + nginx

We may have tracked part of the issue down to thumbnail creation when the products are new. We are performing further tests and will update.

Issue is not apparent on category pages with simple products.

[2016-04-26 02:07] magnetic5355 commented on #4276
Also we tested in production mode

[2016-04-26 02:29] davidbilly commented on #4297
Hi @davidalger , My setup :
Magento2 : 2.0.4 CE
PHP : 5.6.20-1+deb.sury.org~trusty+1
MYSQL : 5.6.30-0ubuntu0.14.04.1
3rd party module : MagePal_GmailSmtpApp and Plumrocket_SocialLoginFree only

Thanks, hope can someone can assist me :)

[2016-04-26 05:23] marvincaspar opened #4302 "How to handle extension attributes?"
I want to extend the payment object with 2 new attributes.

**etc/extension_attributes.xml**

[code]

I created an update script to add both new attributes to the `sales_order_payment` table. If I now set the extension attributes, they are not stored in the database.

[code]

I would expect that both attributes are automatically stored in the database table.

For testing I set the fields in the da

[2016-04-26 05:35] ivansuharyadi opened #4303 "Upgrade Magento 2.0.1"
Hi All,

I trying to upgrade Magento 2.0.1 to 2.0.4, via ystem > Tools > Web Setup Wizard

But im get error on section Check Component Dependency when start process Readlines Check

Error :
- The requested package magento/product-enterprise-edition could not be found in any version, there may be a typo in the package name.

Any ideas ?

Regards,
Ivan

[2016-04-26 05:59] Taral-Patoliya commented on #4077
Hello @mikeweis,  it would be great to know if there is any progress in this issue, we are waiting eagerly to get the solution as we need to deliver the project ASAP.
Thank you.

[2016-04-26 06:57] nikul commented on #4288
Yes @alankent . It is taking time for first time in every page load. Please check attached screen for home page. Though sometimes page loads quickly within 15-20 seconds after surfing different pages of site.

![home-page](https://cloud.githubusercontent.com/assets/266397/14809314/ca4309a6-0ba9-11e6-8fa3-de5d67931a78.PNG)

[2016-04-26 07:03] danny-balance opened #4304 "Deploy mode assertion inconsistent"
Manually setting app to run in production mode does not seem to be consistent across all areas of the app. Should we not be setting the deploy mode in server config?
## Steps to reproduce

Using Magento 2.0.4 EE:
1. Include `set $MAGE_MODE developer;` in nginx config (or server equivalent)
2. Run `bin/magento deploy:mode:set production` to swap to production mode
3. Run `bin/magento deploy:mode:sh

[2016-04-26 07:08] fetzi commented on #4247
This is a technical issue. The method override `_getScope()` in `Magento\Backend\Model\Url` breaks the functionality of `Magento\Framework\Url::getBaseUrl` (which allows to set the scope of the url). Please reopen the ticket!

[2016-04-26 07:30] danny-balance opened #4305 "Error page/maintenance page skin customisation is not currently possible"
From what I can tell, the correct way to customise the default maintenance page is by adding a pub/errors/local.xml file & creating a new skin. It looks like there is a bug in this process.

In the `_setSkin` method in `pub/errors/processor.php` it first checks if the directory exists before setting the config to use the custom skin:

`is_dir($this->_indexDir . self::ERROR_DIR . '/' . $value)`

Th

[2016-04-26 07:51] thlassche commented on #4070
Is there an update on this? My guess the root cause lies in the serialize implementation changes in PHP 7

[2016-04-26 08:06] OleksiyOleksiyovych opened #4306 "Payment method based on shipping address"
## Steps to reproduce
1. Install Magento from `develop` or `2.0` branch.
2. Go to configure any payment method (for ex. "Check / Money Order").
3. Set "Payment from Applicable Countries" to "Specific Countries"
4. Select, for example, United States only.
5. Go to create order on backend or frontend.
6. Fill shipping address and select country Canada.
7. Fill billing address and select country Unit

[2016-04-26 08:14] YevSent commented on #4297
@davidbilly hi, did you configure UPS module? Seems UPS gateway url is missed related on your screenshot. Also, why you has empty shipping address?

[2016-04-26 08:32] philippsander opened #4307 "Success message not disappearing when changing customer information twice"
## Steps to reproduce
1. log in as customer
2. change account information
3. change account information again
## Expected result
1. a success message appears
2. when navigating to another site the success message does not show again
## Actual result
1. a success message appears
2. when navigating to another site the success message never disappears

[2016-04-26 08:57] ivansuharyadi commented on #3947
Hi @vancoz, im trying to upgrade again :

![readiness check](https://cloud.githubusercontent.com/assets/4571528/14812440/789b67ec-0bc7-11e6-8099-56975b4119e6.png)

Any ideas ?

[2016-04-26 09:12] klarlichter commented on #3102
Hello,
any news about that bug? We are also using Magento 2.0.4
and get that error...:(

[2016-04-26 09:21] anton-huz commented on #4091
Hi Alex,
We cannot reproduce you issue on Magento CE@2.0.4.
I have no plugin _VES PageBuilder_ to comment issues with it.

Am I right that when you run Magento CE@2.0.3 + VES PageBuilder and after upgrade to @2.0.4 you've got issues?

[2016-04-26 09:28] Asitis commented on #4091
I upgraded from 2.0.2 to 2.0.4 but I've since deleted the VES PageBuilder plugin, and after deleting that the issue hasn't reoccurred. So after all I think this might be a extension bug.

It had me confused when it didn't show before with the plugin, but ever since i removed it it never showed again.

[2016-04-26 09:44] Bravarg commented on #3929
Yes, I have the same issue with Invoice email. In method getPurchasedLinkUrl() of Downloadable module, Url builder create link for backend instead of frontend urls. The problem is in block **Magento\Downloadable\Block\Sales\Order\Email\Items\Order\Downloadable** for order confirmation email, and **Magento\Downloadable\Block\Sales\Order\Email\Items\Downloadable** for Invoice email. There are _urlBu

[2016-04-26 09:49] alena-marchenko commented on #3916
Hi @middlegrey

This issue is already solved in develop  branchby using minified version of sdk only https://github.com/magento/magento2/blob/develop/app/code/Magento/Braintree/view/frontend/requirejs-config.js#L9 and https://github.com/magento/magento2/blob/develop/app/code/Magento/Braintree/etc/config.xml#L34
Closing this issue, please feel free contacting us if you have any further issues.

[2016-04-26 09:49] #3916 closed, assigned to alena-marchenko

[2016-04-26 09:53] alena-marchenko commented on #4235
Hi @kgvconsulting

Closing the issue, please feel free using [Community Forums](https://community.magento.com/) or [Magento Stack Exchange](http://magento.stackexchange.com/) for further technical questions.

[2016-04-26 09:53] #4235 closed, assigned to alena-marchenko

[2016-04-26 09:58] anton-huz commented on #4091
I think you cannot _just delete plugin_ (It could leave cache/configuration after this). I'll discuss with team potential side effects after module removing.

[2016-04-26 10:06] asemenenko commented on #4306
Hi @OleksiyOleksiyovych
Not all payment methods have a billing address to be asked from a customer - we control only shipping address to allow or disallow orders to be placed for a certain regions with a certain payment method, this is the most common scenario, especially when it comes to international shipping.

[2016-04-26 10:06] #4306 closed, assigned to nobody

[2016-04-26 10:28] vzabaznov commented on #1514
@sergei-sss @Krapulat bug was fixed and delivered to develop branch

[2016-04-26 10:28] #1514 closed

[2016-04-26 10:29] flancer64 opened #4308 "WHERE duplicates for filters in listings (adminhtml)"
### Preconditions

1. Magento 2
2. Some products created.
3. Debug enabled.

### Steps to reproduce

1. Go to Admin -> Catalog ->Products.
2. Add a breakpoint at return statement of \Magento\Catalog\Model\ResourceModel\Product\Collection::load method.
3. In Products Grid open filter, set some values to ID "from" and "to", apply filter.
4. After code execution is stopped at breakpoint, evaluate exp

[2016-04-26 10:29] vzabaznov commented on #2613
@ArniXXX bug was fixed and delivered to develop branch

[2016-04-26 10:29] #2613 closed, assigned to voleye

[2016-04-26 10:29] vzabaznov commented on #3090
@redinn bug was fixed and delivered to develop branch

[2016-04-26 10:29] #3090 closed, assigned to voleye

[2016-04-26 10:31] vzabaznov commented on #3244
@artmiller bug was fixed and delivered to develop branch, thank you for contributing, please feel free to add new issues or write, if fix doesn't help.

[2016-04-26 10:31] #3244 closed, assigned to kandy

[2016-04-26 10:31] vzabaznov commented on #3255
@starnetwork bug was fixed and delivered to develop branch, thank you for contributing, please feel free to add new issues or write, if fix doesn't help.

[2016-04-26 10:32] vzabaznov commented on #3813
@sachinsancheti1 bug was fixed and delivered to develop branch, thank you for contributing, please feel free to add new issues or write, if fix doesn't help.

[2016-04-26 10:32] #3813 closed, assigned to nobody

[2016-04-26 10:32] vzabaznov commented on #4031
@anvanza bug was fixed and delivered to develop branch, thank you for contributing, please feel free to add new issues or write, if fix doesn't help.

[2016-04-26 10:32] #4031 closed, assigned to nobody

[2016-04-26 10:32] vzabaznov commented on #4073
@npearson72 bug was fixed and delivered to develop branch, thank you for contributing, please feel free to add new issues or write, if fix doesn't help.

[2016-04-26 10:32] #4073 closed, assigned to nobody

[2016-04-26 10:57] creatuitydevelopers opened #4309 "Bundle Products - error with quotation mark in product option name."
## Hello All,

While migrating products from Magento to Magento 2 we’ve encountered an error related to Bundle Products.
## Steps to reproduce
1. Go to Magento admin panel.
2. Crate a bundle product with quotation mark in it's name.
3. Go to frontend and check if the quotation marks appears in product options dropdown, on bundle product page.
## Expected result
1. Quotation marks will stay unchang

[2016-04-26 10:57] creatuitydevelopers opened #4310 "Bundle Products - while required options are automatically selected, price calculation error appears."
## Hello All,

We have encountered an error related to bundle product pages - if there are any required options for a bundle product, then they are automatically selected in frontend, but the price is not updated. Changing the selection is the only way to recalculate the price.
## Steps to reproduce
1. Go to Magento admin panel.
2. Crate a bundle product with various prices for different products

[2016-04-26 11:55] alena-marchenko commented on #3789
Hi,

we've created MAGETWO-52308 internal ticket regarding this issue

[2016-04-26 12:00] OleksiyOleksiyovych opened #4311 "Missing argument 4 for Magento\GiftRegistry\Model\Plugin\QuoteItem::aroundConvert"
Magento: EE 2.0.4.
Extension: GiftRegistry

Reproduce: I don't know how to reproduce this in standard Magento. But in our custom extension we are using following code for convert quote item to order item

`/**@var \Magento\Quote\Model\Quote\Item\ToOrderItem */`
`protected $quoteItemToOrderItem;`
`...`
`$orderItem = $this->quoteItemToOrderItem->convert($quoteItem);`

It worked in 2.0.2, but after u

[2016-04-26 12:24] davidbilly commented on #4297
@joni-jones Hi, im using http://www.ups.com/using/services/rave/qcostcgi.cgi for gateway url.

It's seem cant get the method name. on screenshot the method name is blank. Can i hard code it or something?

Actually i just need its max and min weight condition, not going use the UPS services :)

Still not working :(

For empty shipping address , i use photoshop remove it. due to its personal address

[2016-04-26 12:24] OleksiyOleksiyovych commented on #4306
Pardon, but I cannot understand this logic. As I understand, this bug is similar with bug https://github.com/magento/magento2/issues/3272

Situation:
I live in Ukraine and I have a friend in USA. I want to buy t-shirt in Ukraine's M2 store for my friend.
I want to select payment method "Check / Money Order". I go to checkout, enter USA as a country for shipping. But "Check / Money Order" payment a

[2016-04-26 12:29] YevSent commented on #4297
Please, attach debug or exception log, I've tried for different cases, UPS is works.

[2016-04-26 12:40] davidbilly commented on #4297
@joni-jones how about this log?

<img width="1904" alt="screen shot 2016-04-26 at 8 39 09 pm" src="https://cloud.githubusercontent.com/assets/3938103/14818323/12ec7fee-0bef-11e6-8ddb-10ce27c4ffb9.png">

<img width="1463" alt="screen shot 2016-04-26 at 8 39 31 pm" src="https://cloud.githubusercontent.com/assets/3938103/14818328/17903e64-0bef-11e6-8457-03850e3b6dce.png">

Thanks for reply :)

[2016-04-26 12:42] YevSent commented on #4297
Sorry, but this log says nothing about your problem, message from this response you got on frontend. Please, attach application debug|exception log.

[2016-04-26 12:48] alena-marchenko commented on #3941
Hi Marvin,

We've created MAGETWO-52315 internal ticket regarding this issue.
Thank you.

[2016-04-26 12:56] bh-ref opened #4312 "multiselect product attribute bugs in mass action, grid and grid filter"
## Steps to reproduce
1. Install Magento 2.0.4
2. Create a product attribute with frontend input "multiselect" (and assign it to the necessary attribute sets).
## Expected result
1. You can set values via mass action.
2. All selected values are shown in the corresponding grid column.
3. You can use the filter in the grid to search for products with the selected options.
## Actual result
1. If you

[2016-04-26 13:09] mazhalai commented on #4300
This has already been fixed in scope of #3715 and MAGETWO-50846. Will be merged to develop soon. Closing as duplicate.

[2016-04-26 13:09] #4300 closed, assigned to nobody

[2016-04-26 13:11] mazhalai commented on #4303
Please do not post enterprise related issues here. Use the partner portal.

[2016-04-26 13:11] #4303 closed, assigned to nobody

[2016-04-26 13:12] mazhalai commented on #4304
@danny-balance thank you for reporting, we have created MAGETWO-52318 to investigate and fix.

[2016-04-26 13:14] adragus-inviqa commented on #1487
/cc https://github.com/magento/magento2/pull/2026

[2016-04-26 13:15] mazhalai commented on #4311
Please do not post EE issues here. Please post on the partner portal.
@ishakhsuvarov @MomotenkoNatalia Closing this issue since this is EE.

[2016-04-26 13:15] #4311 closed, assigned to ishakhsuvarov

[2016-04-26 13:39] arkadiych commented on #4268
@Victor4G, Webservicex is out of order.
Fixer.io as additional currency converter service has been added in scope of https://github.com/magento/magento2/issues/2757
Future releases should have yet one an additional currency service into Magento2.

[2016-04-26 13:41] davidbilly commented on #4297
@joni-jones sorry , may i know where i can get those log? i search log from nginx cant find those magento error :(

[2016-04-26 13:52] YevSent commented on #4297
By default application logs located in `%application_path%/var/log`, also you need to enable debug mode for UPS.

[2016-04-26 13:57] davidbilly commented on #4297
@joni-jones how about this: i got it from debug.log

[2016-04-26 13:56:09] main.DEBUG: array (
  'request' =>
  array (
    'accept_UPS_license_agreement' => 'yes',
    '10_action' => '4',
    '13_product' => 'GNDCOM',
    '14_origCountry' => 'MY',
    '15_origPostal' => '81100',
    'origCity' => 'Johor Bahru',
    '19_destPostal' => '81100',
    '22_destCountry' => 'MY',
    '23_weight' => 150,

[2016-04-26 13:59] armindoPR commented on #4252
Hi,
i've logged out on admin area and logged in again and the issue is the same.  I've tried in different browsers and the behavior is the  same.
I've checked the permissions and it seems OK.

[2016-04-26 14:02] mazhalai commented on #4252
@armindoPR any errors in var/log? what about browser? any errors there?

[2016-04-26 14:08] armindoPR commented on #4252
Hi,
no errors in the browser.
On var/log the debug.log file has the following line
[2016-04-26 14:05:58] main.DEBUG: cache_invalidate:  {"method":"POST","url":"http://#MY_URL#/gestao/admin/index/index/key/bb1efeb85c929f37fda1c0e0aab1c64bffe64e4af1a0d46524f4e7076dc9676d/","invalidateInfo":{"tags":["BACKEND_MAINMENU"],"mode":"matchingAnyTag"},"is_exception":false} []

[2016-04-26 14:10] alena-marchenko commented on #4109
Hi @colyield

Closing the issue, please feel free using [Community Forums](https://community.magento.com/) or [Magento Stack Exchange](http://magento.stackexchange.com/) for further questions.

[2016-04-26 14:10] #4109 closed, assigned to alena-marchenko

[2016-04-26 14:13] rganin commented on #2855
@bondimedical3 I've noticed you mentioned cPanel. Is it a shared hosting? If yes, does it allow triggers in mysql database? Scheduled indexer mode is based on triggers usage that fill changelog with changed entity ids.

[2016-04-26 14:17] rganin commented on #2855
@pynej `Class Magento\SalesRule\Crone\AggregateSalesReportCouponsData does not exist` error was fixed in both develop and 2.0 branches. Please update your codebase (do not forget to cleanup config cache and var/generation folder).

[2016-04-26 14:20] SidneyBilliet opened #4313 "VIrtual Products and Bulk Changing to simple product"
## Steps to reproduce
1. Add a new product
2. set "has weight" radio to "no"
3. Save the product (a virtual product is created automatically)
4. Reopen the product and add configurations (ex. color)
5. Save the product and it's variants
6. Now your original virtual product has been changed to a configurable product with to VIRTUAL product variants associated (because the original product was a vir

[2016-04-26 14:25] Frits1980 commented on #4131
It's kinda quiet in here. Is this being investigated? Because it's a real pain.

[2016-04-26 14:36] mazhalai commented on #4252
@armindoPR do you have entry point set as /pub?

[2016-04-26 14:37] armindoPR commented on #4252
Hi,
what do you mean by an entry point ?
The installation was the default (download the zip and install), just changed the admin URL to a different one.

[2016-04-26 14:39] mazhalai commented on #4305
Thank you for reporting, we have created MAGETWO-52323 to investigate and fix.

[2016-04-26 14:39] kanduvisla opened #4314 "Configurable product with a subproduct of price '0' results in an error"
## Steps to reproduce
1. Create a configurable product
2. Give one of the subproducts a price of '0'.
3. Watch how the product grid crashes and gives you the error: `Configurable product "%1" do not have sub-products`
## Expected result

That the product grid doesn't crash.
## Actual result

The product grid crashes
## Source + Fix

I think the source of this problem lies in `\Magento\Configurable

[2016-04-26 14:43] mazhalai commented on #4252
There is a way to set server root to pub, in that case, setup does not work.

Anything in server logs? Also, 401 means unauthorized error, please see this for more details: http://www.checkupdown.com/status/E401.html

We have no idea about this errors, because we cannot reproduce it.

[2016-04-26 14:51] SidneyBilliet opened #4315 "Export / Import"
## Steps to reproduce
1. Export all product from your Magento installation using the backend feature
2. Select "products"
3. Select continue
4. Save the CSV file to your computer
5. Open it, choose any sku and change any value (for example change a qty)
6. Save the file in UTF-8 mode as required
7. Go to system/import
8. select "products"
9. Import Behavior = add / udpdate
10. Select the file you

[2016-04-26 14:52] #3272 closed, assigned to nobody

[2016-04-26 14:56] bwaters commented on #4250
Checking to limit maximum value was added here -- https://github.com/magento/magento2/commit/7cef233efaffef02df7b4e9e5b99c526f03286ec

[2016-04-26 14:56] armindoPR commented on #4252
Hi,

i've managed to solve this.
It was a missing php.ini files.

Thanks

[2016-04-26 14:56] #4252 closed, assigned to nobody

[2016-04-26 15:01] mazhalai commented on #4250
@bwaters Thank you!
@xdoctordog thank you for reporting, we are closing, since this has already been fixed.

[2016-04-26 15:01] #4250 closed, assigned to nobody

[2016-04-26 15:30] Krapulat commented on #2630
The problem appears in Magento 2.0.4. When this fixes will be included?

[2016-04-26 15:31] ValeraPogrommist commented on #3773
@ishakhsuvarov is it real to use something like that
<item name="elementTmpl" xsi:type="string">custom_module_path/ui/form/element/select</item>

[2016-04-26 15:35] rganin commented on #4304
Environment variable has higher priority than `deploy:mode:set` and is designed for development purposes. This is an expected behavior.

[2016-04-26 15:36] POleszkiewicz commented on #3937
anything happens with this?

[2016-04-26 15:40] rganin commented on #4304
@danny-balance the environment variable has higher priority than config setting, it is designed for development or debug purposes. So the Actual result is an expected behavior.
The output for `bin/magento deploy:mode:show` is a bit confusive, but also valid as server config is not loaded for console app.

[2016-04-26 15:42] YevSent commented on #4297
The `UPS` carrier (based on cgi) allows to ship only if origin country is `USA`, your origin country is `Malaysia`, that's why you get this error. You can use `UPS XML` type instead.

[2016-04-26 15:47] davidbilly commented on #4297
@joni-jones but i'm actually not using the UPS shipping service. Just need validate the total order is above min weight. Now the problem is  Minimum Package Weight is not working :( We using our own lorry to send goods :)

[2016-04-26 16:06] YevSent commented on #4297
If you not use UPS, please, disable it and attach new screenshot with your problem.

[2016-04-26 16:12] alena-marchenko commented on #3654
Hi @sachinkalerws

The issue is resolved already and delivered to develop branch. Closing the issue.

[2016-04-26 16:12] #3654 closed, assigned to NadiyaS

[2016-04-26 18:08] gacleg opened #4317 "Calendar display issue"
Installed M2.
Using default theme - no theme.
Went to Stores > Configuration > Catalog to select Yes for Use JS Calendar and year range 2016-2018.

See attached pics for calendar settings and how calendar displays.

Calendar display put a "Wk" column on left, does not show all gridelines, and curdate is not highlighted until hover.
![calendar](https://cloud.githubusercontent.com/assets/18035280/14

[2016-04-26 18:19] longbeachjamie commented on #4170
Having the same issues here - https://utilitnetworks.com/ - item added to cart, but the mini-cart is not displaying any contents.
- PHP Version 5.6.20-1+deb.sury.org~trusty+1
- No Varnish, Redis
- HTTPS only
- No Sample Data
- Current application mode is default
- No javascript bundling, merge, or minify.
- No CSS merge or minify.
- No HTML minify.
- Enabled Single Store Mode.
- No CDN
- Chrome br

[2016-04-26 19:49] jpreed2 opened #4318 "Shipment comments not populating on GET via API"
## Steps to reproduce
1. Install Magento 2.0.4.
2. Add an order.
3. Add a shipment to the order.
4. Add a comment to the shipment.
5. Do a GET call to the API to retrieve all shipments.
## Expected result
1. The shipment added will be returned containing a comments collection including the comment added.
## Actual result
1. The comments collection is returned as null.

[2016-04-26 19:57] jpreed2 opened #4319 "Can't save a shipment with comments using POST via API"
## Steps to reproduce
1. Install Magento 2.0.4.
2. Add an order.
3. Via API attempt to post a shipment containing a comment.
## Expected result
1. Shipment will save properly with comment viewable in the shipment via Admin.
## Actual result
1. API returns error:
   {
   "message": "Could not save shipment",
   "trace": "#0 [internal function]: Magento\Sales\Model\Order\ShipmentRepository->save(Obj

[2016-04-26 20:13] cspruiell commented on #2463
We are unable to reproduce this in v2.0.4 or in the current develop branch. Please use the provided workaround above if you continue to have this problem.

[2016-04-26 20:13] #2463 closed, assigned to nobody

[2016-04-26 20:19] chris-brabender commented on #3893
I have found another instance of this that is slightly different.

A template for a third party module we've been working with has something along the lines of this in javascript in a template file:

[code]

When magento minifies this it becomes

[code]

[2016-04-26 21:11] jpreed2 opened #4320 "Adding a shipping comment via API does not send an email to the customer"
## Steps to reproduce
1. Install Magento 2.0.4.
2. Create an order.
3. Create a shipment for the order.
4. Via the API, post a comment with the is_customer_notified set to 1.
## Expected result
1. The comment will be added to the shipment and an email will be sent to the customer with the comment.
## Actual result
1. The comment is added to the order and is visible in Admin showing that Customer w

[2016-04-26 22:08] cpartica commented on #3789
I think this is the expected behavior, even more on a cart guest estimation

When doing an estimation there's not city just zip code, region and country
However when you go to checkout, final page that already has your info, only then you could get your destination details such as city and street

sample from 2.0.4
Checkout
url : http://magento.git/magento2-2.0.4/checkout/#payment
ajax request: re

[2016-04-26 22:23] paulerickson commented on #3544
@andrew-smart : have you added any repositories to composer.json?  I've seen this too, and my theory is that `module:uninstall` triggers `composer update` in another thread (or otherwise hides the output).  Thus when composer prompts for credentials to our custom repo, it blocks, waiting on username and password from standard in, which magento never provides.  An untested theory at this point; I d

[2016-04-26 23:20] danny-balance commented on #4304
Thanks for clarifying the expected behaviour @rganin

[2016-04-26 23:20] #4304 closed, assigned to mazhalai

[2016-04-26 23:57] bondimedical3 commented on #2855
@rganin I am running my sites on a VPS

[2016-04-27 01:51] stevekem commented on #3651
Having same issue... When merge JS/CSS are enabled, the frontend and backend are loading 10-20 times slower, 30 secs a page load (cached). Running 2.0.4 and redeployed static content, flushed cache as well.

[2016-04-27 01:57] davidbilly commented on #4297
@joni-jones, noted. will open new issue. Thanks for help.

[2016-04-27 01:57] #4297 closed, assigned to alena-marchenko

[2016-04-27 02:13] stevekem opened #4321 "Merge CSS Files causes entire site to load Extremely Slow"
## Steps to reproduce
1. Install Magento 2.0.4
2. Go to Admin > Stores > Configuration > Advanced > Developer
3. Enable "Merge CSS files"
## Expected result
1. CSS files will be merged and site will load faster.
## Actual result
1. Entire site runs EXTREMELY SLOW.
2. Both frontend and backend take 15-45 secs to load each page (cached). Product pages, checkout pages, admin pages are all affected.
3

[2016-04-27 02:19] stevekem opened #4322 "Minify JavaScript Files causes product images to not load on product pages"
## Steps to reproduce
1. Install Magento 2.0.4
2. Go to Admin > Stores > Configuration > Advanced > Developer
3. Enable "Minify JavaScript Files"
## Expected result
1. JavaScript files will be minified and site will load faster.
## Actual result
1. Product images do not load on product pages using Luma Theme.
2. Images return when setting is disabled.

[2016-04-27 03:04] davidalger commented on #3692
@erikhansen A workaround is to use `stdbuf` from core-utils to prevent the shell from buffering the output of `tr` as seen in the above tagged commit. This results in the dots being stripped, but the normal output passing through normally to the CLI as it is output.

Ideally, there would still be an option to create a more friendly output format for deployment tools such as capistrano, but this so

[2016-04-27 04:00] devdesco-ceo commented on #3208
It is a bug!!!
FedEx module encrypts account credentials when saving in MySQL database.
When requesting live rates, the previously encrypted data is being further processed and then posted via SOAP client API to FedEx servers. In response there is UTF-8 encoding error received from FedEx server.

Why do you encode the account credentials, if data is sent to and fro via SSL tunnel? I believe, to fi

[2016-04-27 04:06] devdesco-ceo commented on #3208
Same issue reported here: https://community.magento.com/t5/Admin-Configuration-Questions/Magento-2-0-2-installed-FedEx-credentials-entered-Checkout-hangs/td-p/27915

[2016-04-27 05:58] thomvanderboon commented on #4290
@SidneyBilliet These issues have all already been resolved in latest **development** branch. Problem still persists in 2.0.4.

I know of only one remaining translation issue on development branch: https://github.com/magento/magento2/issues/4181

You can check it on my development test site: http://devshop.vdb.nl

[2016-04-27 06:19] serajin commented on #1157
Sorry to reopen this issue. I am on Community release 2.0.4, and I am receiving the same issue as this original post. Is there any new fix to this?

Below is an image of the error.
http://puu.sh/oxl0j/f27b68b5ca.png

[2016-04-27 07:01] jackhuang89 commented on #4148
debug.log and exception.log  attached.

[2016-04-27 06:56:42] main.DEBUG: cache_invalidate:  {"method":"GET","url":"http://192.168.10.197/paypal/express/return/?token=EC-281419295S584090A&PayerID=QLM2JDNU3R8S2","invalidateInfo":{"tags":["catalog_category_2","catalog_category"],"mode":"matchingAnyTag"},"is_exception":false} []

[logs.zip](https://github.com/magento/magento2/files/238083/logs.zip)

[2016-04-27 07:06] YevSent commented on #4148
Did you enable  debug mode for PayPal payment? Your debug log doesn't contain any request/response data related to PayPal.

[2016-04-27 07:15] jackhuang89 opened #4323 "Sales Order Totals Base grandtotal"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add Product to the cart.
3. Setup Paypal Standard Sandbox
4. Setup one more currency
5. Setup Email
6. Sign up account
7. Switch to different currency
8. Buy a product
9. Checkout with PayPal
10. Check order confirm email
11. View the Grand Total to be charged
## Expected result
1. Grand Total to be charged is base currency format

[2016-04-27 07:15] shiftedreality commented on #4234
Hi @leoquijano

Thank you for reporting.
Created internal ticket MAGETWO-52343 to investigate and fix this issue.

[2016-04-27 07:16] grasdaggel opened #4324 "2.0.4 - WYSIWYG Editor strips empty HTML codes out"
We are having an issue with the WYSIWYG editor where we need to add something like
`<em class="vendor-icon vendor-cart"> </em>`
Which would result in an icon

The editor strips out empty html tags and therefore we can't add Icons to our page content.

This can't be really intended in views of technologies like Fontello, Font Awesome and stuff like that.

Whats a good workaround for this? We can't

[2016-04-27 07:22] jackhuang89 commented on #4148
ok. I enabled it.
attach again.
[log.zip](https://github.com/magento/magento2/files/238122/log.zip)

[2016-04-27 07:28] serajin opened #4325 "Something went wrong with the subscription."
I am having the same issue as Issue# 1157.

Upon adding an email to the subscription list, it gives an error:
![image](https://cloud.githubusercontent.com/assets/10015495/14844812/1f3cdbca-0c28-11e6-9955-33f08204bb47.png)

The previous issue states it was fixed with an update, however it appears to be back, at least for me.

I am currently on Magento Community Edition V 2.0.4, on a clean install o

[2016-04-27 07:52] YevSent commented on #4148
Please, re-check configuration of your PayPal customer account. We parse `[BILLINGNAME]` key from PayPal response, in your case this key doesn't exists in response.

[2016-04-27 08:10] ruby10 commented on #3307
Is there any update on this issue?

[2016-04-27 08:40] vzabaznov commented on #4095
Hi @gplanchat, please check this two articles
- http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_WorkingWithParamGroups.html
- https://forums.aws.amazon.com/message.jspa?messageID=183618

Write if doesn't help

[2016-04-27 08:53] jackhuang89 commented on #4148
Any hints about the [BILLINGNAME]?
I looking at

https://developer.paypal.com/docs/classic/api/merchant/DoExpressCheckoutPayment_API_Operation_NVP/

[BILLINGNAME] not found.

After this, I google BILLINGNAME
found this:
http://stackoverflow.com/questions/16469369/getting-billing-info-express-checkout

It said
"GetExpressCheckoutDetails returns Billing information if you had passed REQBILLINGADDRES

[2016-04-27 10:02] PieterCappelle commented on #3580
I'm having the same problem.

Environment:
- OS: OS X Yosemite
- Browser: Chrome 50
- M2 version: 2.0.4

[2016-04-27 10:13] srinivasanithin commented on #2861
Hey @choukalos,

I am getting same shipping address for all orders when I am using GET:/V1/Orders Rest API. is this issue also tracked with number. If Yes, Can you please let me know the ETA of this bug fix release?

[2016-04-27 10:20] lanken commented on #4325
Could you, please, provide an error from Magento exception log and check whether email is configured on your server.

[2016-04-27 10:20] nobuttsalex commented on #971
Yes I am wanting to do the same, need to create a widget where multiple categories can be selected. I want to include the same category selector that is on the create product form. It must be possible to do it with the functionality that is already in M2 but cannot find how to use it.
![m2categoriesselector](https://cloud.githubusercontent.com/assets/9484573/14849286/086836c8-0c6a-11e6-8791-b9b428

[2016-04-27 11:18] satishashilwar opened #4327 "PHP-7 | Authorizenet Directpost Payment Gateway Issue"
## Steps to reproduce
1. Enable payment gateway "Authorizenet Direct PostPayment" from admin
2. Proceed with add to cart and select the payment gateway authorized direct post
3. Add dummy credit card detail
4. Click Place order
## Expected result
1. Order should be placed with payment "Authorizenet Payment Gateway"
## Actual result

 Loader continue appears, you will the JS error "TypeError: respo

[2016-04-27 11:18] rohitgupta4 commented on #3307
@NadiyaS Any updates on the release milestone related to this issue?

[2016-04-27 11:36] anton-huz commented on #4091
About handling 3rd party extensions:
1. [Uninstall module](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-uninstall-mods.html#instgde-cli-uninst-mod-uninst)
   `php bin/magento module:uninstall`
2. Clear cache
   `php bin/magento cache:flush`

Also if you'll observe such issue in further check for correct markup (hm.. page source). Looks like it was broken somewhere. An

[2016-04-27 11:36] #4091 closed, assigned to guz-anton

[2016-04-27 12:12] anton-huz commented on #3904
@sammarcus. Do you mean Magento App should provide more details with such type of errors?

[2016-04-27 12:35] Pakkapao commented on #4322
#2938

[2016-04-27 12:41] kandy commented on #4151
@sammarcus, I cannot reproduce issue in latest mainline.

[2016-04-27 12:46] giacmir opened #4328 "StockItemCriteria::setProductsFilter doesn't work with array of ids"
In `StockItemCriteriaInterface` method `setProductsFilter` accepts a single integer or an array of integers, but if you use an array of ids and use the resulting criteria to get a list from `StockItemRepository` you only get a single item. I was expecting to obtain as many elements as the ids I passed to the filter.

I can't say if this is the expected behaviour or not, but I suppose it is not. In

[2016-04-27 12:54] arkadiych commented on #4016
@ircsome, if you update a magento instance on clarts.com to 2.0.4, does it work or not?
I have installed magento 2.0.4 from composer and was able to get the expected result.
Could you also check web server settings?
Any additional information, that can help to reproduce the issue, would be also appreciated.

[2016-04-27 13:38] srinivasanithin opened #4329 "Credit Memo REST API Critical Bug"
I am trying to create a Credit Memo for a billed unshipped sales order in Magento (version 2.0.4) of a Simple item via API. Here are the list of issues with while using REST API POST: /v1/creditmemo
Order Details
1. contains single simple item price $20, no tax and no discount.
2. Shipping cost of $5 fixed.
3. paid by credit card.

![image](https://cloud.githubusercontent.com/assets/12096540/14853

[2016-04-27 13:55] YevSent commented on #4327
@satishashilwar thanks for your reporting, this is known issue and already fixed in the develop branch. What version of Magento do you use?

[2016-04-27 14:24] YevSent commented on #4319
Hi, @jim5359, please attach example of your API request. I've tested on latest develop branch, all works. Your request should looks like this example:

[code]

[2016-04-27 14:28] YevSent commented on #4318
@jim5359, please, attach example of your api request and url.

[2016-04-27 14:47] leoquijano commented on #4234
Thanks @shiftedreality.

It was probably a mix of my own development bugs and some small problems in M2. I would advise to investigate two things:
1. Whether or not the `product.info.main` container should have a `label` attribute.
2. How to improve the error reporting in case there's an error rendering the product page. 404 was a bit confusing.

[2016-04-27 14:53] shiftedreality commented on #4234
1. Per [devdocs](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/layouts/xml-instructions.html) "label" attribute is optional for container, so it should be fixed in your way.
2. Magento 2 has logging abilities from the box. Layout errors are being stored in var/log/system.log in `developer` mode

[2016-04-27 15:16] leoquijano commented on #4234
1. Good, thanks.
2. I did check for logs. They did help somewhat, but it was a bit more complex.

For me it is working now. Please do check the `Generator/Container.php` code I mentioned before. If labels are optional for containers, that code section will throw a NOTICE that might break in some PHP configurations.

[2016-04-27 15:21] jonsaf commented on #3545
The workaround of using multi-select does work.  However, with a lot of options, the multi-select workaround makes for a potentially very long open list and ton of scrolling.  The other problem is that if there is a fix down the road for drop down, you can not change the attribute from multi-select to drop down, so would cause a ton of work to set everything up again.

Alternatively, you can set t

[2016-04-27 15:27] mikeoloughlin commented on #3905
Same issue here. `2.0.4` and after an product update import with images. Any more info on this?

[2016-04-27 15:50] mikeweis commented on #4314
I cannot re-create this bug.
- My first attempt:
  - on the back-end, from **Catalog** page, add a **Configurable Product**
  - enter basic product details, such as name, SKU, ...
  - in the **Configurations** section, press the **Create Configurations** button
  - in Step 1, I chose the existing **color** attribute, then pressed **Next**
  - in Step 2, I created/chose two options (red, blue), the

[2016-04-27 16:02] mikeweis commented on #3952
We are sorry, but we not able to reproduce this problem having no response from you.  Do not hesitate to contact us later if this problem is still present and provide requested details.

[2016-04-27 16:02] #3952 closed, assigned to mikeweis

[2016-04-27 16:03] mikeweis commented on #3832
We are sorry, but we not able to reproduce this problem having no response from you.  Do not hesitate to contact us later if this problem is still present and provide requested details.

[2016-04-27 16:43] magnetic5355 commented on #4236
This error does not appear to be related to as low as.

The issue is related to different options available between child  product x & y

Example x color is red and y color is blue

X has sizes S and M and Y has sizes L and XL

If we add sizes S M L and XL to both products the option to select size appears

[2016-04-27 16:49] MomotenkoNatalia commented on #4110
@zivendesign Internal ticket  MAGETWO-51886 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-04-27 16:49] #4110 closed, assigned to MomotenkoNatalia

[2016-04-27 16:51] MomotenkoNatalia commented on #2681
Internal ticket MAGETWO-50628 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-04-27 16:51] #2681 closed, assigned to MomotenkoNatalia

[2016-04-27 17:34] kayintveen commented on #3905
Is there a way to bring this more under attention. Im stuck on this thing really badly now and i need to move forward but no clue where to start

[2016-04-27 17:48] jpreed2 commented on #4319
Here's my request based on the documentation:

[code]

Does this work for you in v2.0.4?  Perhaps it was fixed in the develop branch.  If I remove the comments then it saves the shipment fine.

[2016-04-27 18:02] jpreed2 commented on #4318
I'm doing a GET to the following URL:

[code]

The response:

[code]

Yet if I do the following GET request:

[code]

I get the following response:

[code]

So clearly there are comments, but they are not being returned in the shipment GET request.

[2016-04-27 18:28] devdesco-ceo commented on #3208
All the SOAP errors are related to PHP7 compatibility. On PHP5.6 it works all right, but, exchange rates must be accounted for.

[2016-04-27 19:15] satishashilwar commented on #4327
@joni-jones thanks for reply. I am using the Magento ver. 2.0.4

[2016-04-27 20:11] shashankitsoft opened #4330 "Extending Layout .xml files not working in child theme in different <vendor> as to parent theme: Magento 2.0.4."
## Root cause description

### Steps to reproduce

1. Add a theme to `app/design/frontend` folder (i.e. clone https://github.com/sivaschenko/magento2-sample-theme to `app/design/frontend/Sivaschenko/default/`)
2. Login to Admin panel (or just reload the admin panel page)
3. `select * from theme` to ensure theme is added to the database (`type` is `0` as it is a physical theme)
4. Remove the theme

[2016-04-27 20:12] mombrea commented on #2504
Had the same problem here, @iget-esoares solution fixed it for me. Setting cgi.fix_pathinfo = 0 is a common step in HowToForge guides, especially using ISPConfig.

[2016-04-27 20:14] mazhalai commented on #4240
@werdlv this has been fixed in scope of another task, related commit https://github.com/magento/magento2/commit/f22dd6d

Closing this. Please feel free to open a new issue, if problems persist.

[2016-04-27 20:14] #4240 closed, assigned to nobody

[2016-04-27 20:19] peec commented on #2797
Finally found this issue! So basically right now custom themes does not register. I did not understand why my theme did not appear, but this explains everything.

[2016-04-27 20:55] vladimnir commented on #2614
the solution is easy change to Magento 1 , MAGENTO 2 SUCKS

[2016-04-27 22:29] devdesco-ceo commented on #4284
I do not know what to say. No error messages, nothing. In developer mode it works, but not in production mode.

[2016-04-28 00:16] ran2345 opened #4331 "admin stuck on " It's time to change your password.""
## Steps to reproduce

![untitled-5](https://cloud.githubusercontent.com/assets/16897820/14871854/64a97306-0cde-11e6-9d69-3b083ebd131d.jpg)
login in to admin after 4 months from installation opened the my account/Account information page with the title “It's time to change your password.”
I changed my password and pressed “Save Account”
## Expected result

That I will receive the dashboard page an

[2016-04-28 00:38] hamdrew commented on #3229
Has this made it into a release? Still seeing the behavior in 2.0.2

[2016-04-28 01:09] davidalger commented on #3229
@hamdrew I don't believe so, as the referenced commit shows as only in develop.

[2016-04-28 01:14] jvpatel commented on #3904
Well, I already caught the error in a browsers network. Some kind of special characters are passed in search, this error can't be caught in logs created by Magento. I wonder, why are the strange values passed on loading a tab? It should go ahead with the default values or none.

On switching a tab following http request is made, which contain bad values:

http://example.com/magento/admin_1234/mui/

[2016-04-28 02:51] forgeonline opened #4332 "Incorrect Orders/Invoices date issue"
## Steps to reproduce
1. Login to admin -> Sales -> Orders
2. Values in Orders and Invoices created dates are wrong
## Expected result
1. Backend timezone configurations are correct (Set to New zealand/Pacific timezone)
2. Should expect correct order and invoice dates as it is
## Actual result
1. Time difference is 10H back due to UTC

Previously I've submit another issue with timezone. This could

[2016-04-28 02:53] ghost commented on #4016
@arkadiych

When I first reported the error I was getting 404s whether I tried against a new install of 2.0.4 or an upgrade of 2.0.2 to 2.0.4.

I have just done a clean install of 2.0.4 using the attached script.  I no longer get a 404 ... but now I don't get anything returned.  Has the repo changed in he intervening period?  (NOTE: just noticed the repo has been updated to 2.0.5 which may account

[2016-04-28 02:54] woei66 commented on #2797
hi, @mazhalai
Is the bug fixed in 2.0.4 version?
I had upgrade my magent2 to 2.0.4 but I still can't register my customized theme.
Any suggestion to verify step by step?
thank you.

[2016-04-28 03:39] plentyhappy commented on #4327
Hopefully this will be in the next official release so we can "composer update" our live store. Still stuck using php 5.5 until this happens.

[2016-04-28 04:35] OgreMHDW opened #4333 "Unable to checkout"
## Steps to reproduce
1. Install Magento.
2. Add Product to the cart.
3. Select Checkout
## Expected result
1. Magento should take to https checkout page.
## Actual result
1. Takes the user to the http account page.
2. No products are stored in the shopping cart.
3. Redirecting back to the http OR https version of the site shows the shopping cart but does not allow checkout.

URL: http://www.capri

[2016-04-28 04:46] forgeonline commented on #4332
Issue is fixed, Has nothing to do with Magento implementation

I'll updated the other post later today

Thanks

[2016-04-28 04:47] #4332 closed, assigned to nobody

[2016-04-28 04:49] forgeonline commented on #3028
No need to remove

date_default_timezone_set('UTC');

All the Magento Date/Time functions based on UTC so Module developer has to Load Timezone functions and do the programming (Though it's time consuming )

Thanks

[2016-04-28 04:49] #3028 closed, assigned to nobody

[2016-04-28 06:00] pboisvert commented on #4333
Did you make sure you have Allow Guest Checkout set to "Yes" under Store > Configuration > Sales > Checkout > Checkout Options?

[2016-04-28 07:28] shabith opened #4334 "accordion ui widget name conflict"
## Steps to reproduce
1. implement a jQueryUI Accordion inside a jQueryUI widget

[code]
## Expected result
1. show jQueryUI accordion
## Actual result
1. show mage accordion
## In detail

both plugins has the same name but different name space (`$.mage.accordion` and `$.ui.accordion`)
So when we try to implement an accordion it will create a naming conflict.
## Solution

At the moment only possib

[2016-04-28 07:31] vzaporozhets commented on #4327
Hello All, I'm closing this issue - please contact us again if it will be faced with 2.0.5 which is coming very soon.

[2016-04-28 07:31] #4327 closed, assigned to alena-marchenko

[2016-04-28 07:44] mslabko commented on #4314
Hello @kanduvisla ,
The issue was fixed in develop branch in https://github.com/magento/magento2/commit/59f95464bb600dc208196626f7256dd066c9b6b3

It will be available in next 2.1 release

Thank you for reporting!

[2016-04-28 07:44] #4314 closed, assigned to mikeweis

[2016-04-28 07:47] odubovyk commented on #4274
Shashankitsoft, thank you for reporting the very detailed issue. Your steps to reproduce (installing two themes as described: Magento_blank -> Paid_Theme -> My_Child_theme ) are correct. We went through the steps, but we cannot reproduce the issue. Please try to go through the steps again more carefully, perhaps you miss something out of focus. And give us your feedback.

[2016-04-28 08:03] utpalmaity commented on #3727
hi @yaronish @katmoon @vzabaznov any update on this issue

[2016-04-28 08:12] YevSent commented on #4319
Your request also works on the latest develop, could you try create shipment with comment on the latest develop?

[2016-04-28 08:33] rganin commented on #2855
@bondimedical3 , still can't reproduce the issue you've described. To verify it's an indexer fault and not some rights-related issue could you please check that "indexer"-related cron jobs in cron_schedule table are generated and have been executed (see the execution time), query something like `select`job_code`,`status`,`executed_at`from cron_schedule;`

[2016-04-28 08:38] BenGlassAtlas commented on #4324
I think this is down to Tiny MCE editor and not so much Magento 2, I'm not sure how helpful it will be but this is the workaround for Magento 1 - http://alanstorm.com/magento_html5_tinymce

A quick workaround worth trying would be to add a span with content that has display: none set. Something like:

[code]

[2016-04-28 08:40] BenGlassAtlas commented on #4290
I'm having problems translating some text in 2.0.4, in particular:

[code]

[2016-04-28 08:53] MomotenkoNatalia commented on #4190
@mnjongerius Internal ticket MAGETWO-52115 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-04-28 08:53] #4190 closed, assigned to MomotenkoNatalia

[2016-04-28 09:03] Taral-Patoliya opened #4335 "2 REST API Authorization failed while creating product"
I am trying to create a simple product using REST Api. The client is a node.js script,

I have created an admin user with access to all the resources, and used the credentials to request a token which i am getting successfully in a response. but when i try to use that token and post the product data, i get following response

[code]
1. I have given access of all the resources to the user.
2. I am

[2016-04-28 09:04] ishakhsuvarov commented on #4333
@OgreMHDW Thank you for reporting. Please let us know how did you configure checkout.

[2016-04-28 09:16] zanilee commented on #3816
Hi, @quienti!

Unfortunately, at the moment you can't use jQuery UI styles "as is", because they can affect both storefront and admin themes (in fact, you've already seen that :) )

To add accordion icons, you should write your own styles or use just the part of jQuery UI styles, which are adding icons to accordions where you need them.

[The documentation is updated](http://devdocs.magento.com/gu

[2016-04-28 09:28] MomotenkoNatalia commented on #3580
Hi all,  Internal ticket MAGETWO-51803 will be soon delivered

[2016-04-28 09:31] MomotenkoNatalia commented on #2896
@craigcarnell Internal ticket MAGETWO-48386 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-04-28 09:31] #2896 closed, assigned to MomotenkoNatalia

[2016-04-28 09:32] MomotenkoNatalia commented on #3158
@pivulic Internal ticket MAGETWO-48386 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-04-28 09:32] #3158 closed, assigned to MomotenkoNatalia

[2016-04-28 09:37] MomotenkoNatalia commented on #3361
@joebusby Internal ticket MAGETWO-46950 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-04-28 09:37] #3361 closed, assigned to MomotenkoNatalia

[2016-04-28 09:42] MomotenkoNatalia commented on #3089
Hi all, Internal ticket MAGETWO-51803 will be soon delivered

[2016-04-28 09:56] shashankitsoft commented on #4274
Thank you for the response. From the time I posted this issue, I myself digged into it much to find the reason. And found out that there is no issue if the child theme and its parent paid theme (child of magento blank) are under the same vendor folder. But **if the <vendor> folder name is different for child and parent then this issue occurs, that no .xml files of childtheme processed while render

[2016-04-28 10:04] shiftedreality commented on #4324
Hi @kingalca

Thank you for reporting this issue.
I created internal ticket MAGETWO-52378 to investigate and fix.

[2016-04-28 10:05] davidverholen commented on #2739
we have the same Problem on Magento 2.0.4.

Our Customer created a simple Product with Custom Options. After that he created Configurations and the Product became a configurable Product.

Now when opening the Custom Options tab, we get this error Message:

When I try to save the Product, the following Error Message is shown:

Edit: The second Problem actually seems to be another issue. It's trying

[2016-04-28 10:08] Raysharr opened #4336 "Page messages (notifications) are not displayed on proper page"
**Magento EE 2.0.4, Mac os x (el capitan)**
## The page messages are displayed wrongly on random pages:

For example:
1. I tried to login with wrong credentials on login page. Notification message "Invalid login or password", should appear, but it didn't happen.
2. Next I went to product page and after that I added a product to cart and notification from "Sign in" page appeared. You can notice tha

[2016-04-28 10:17] dimasch commented on #1335
Hey guys!
It's bug, because sort order for wigdets is not apply after change.

[2016-04-28 10:41] janiscaunecm commented on #3374
Hello,

I can replicate this issue on 2.0.4 CE and using stock payment methods. Steps to reproduce:
- put product in cart, proceed to checkout, enter shipping address, select shipping method, proceed to payment step: http://prnt.sc/axuakb
- go back to shipping step, introduce some changes: http://prnt.sc/axuazx
- go back to payment step (you may even change shipping method while at it)
- observe t

[2016-04-28 11:04] quienti commented on #3816
Okay, Thank for your answer
I will do my own styles so

But, I hope you can find a best solution for this !

[2016-04-28 11:11] peec commented on #2797
@woei66 No this is not added in 2.0.X yet ( It's just in develop branch ) and not 2.0:

2.X branch: https://github.com/magento/magento2/blame/2.0/app/code/Magento/Theme/Model/Theme/Registration.php

vs

Develop: https://github.com/magento/magento2/blame/develop/app/code/Magento/Theme/Model/Theme/Registration.php

Search for MAGETWO-47999

on both of those links, you see that the fix is only in dev

[2016-04-28 11:30] YevSent commented on #4318
This behavior related to comments entity loading process and isn't correct now. Created related internal ticket MAGETWO-52381

[2016-04-28 11:50] designhunger opened #4337 "Autoselect of swatch options not working for dropdown attributes"
## Steps to reproduce
1. Create a configurable product with a dropdown product attribute (f.ex. size)
2. Visit product page with following syntax to preselect the attributes:
   http://myshop.com/productname.html?size=6
## Expected result

The size with the option-id of 6 should be selected for the size attribute.
## Actual result

The option is not selected if the attribute is a dropdown. Only vi

[2016-04-28 11:56] kandy commented on #3354
Updates of entity in Magento API implemented with "Replace" strategy, not "Patch". So you should send full entity.

[2016-04-28 11:56] #3354 closed, assigned to yaronish

[2016-04-28 11:57] kandy commented on #4104
Updates of entity in Magento API implemented with "Replace" strategy, not "Patch". So you should send full entity.

[2016-04-28 11:57] #4104 closed, assigned to nobody

[2016-04-28 12:01] osmansorkar opened #4338 "How to I enable and disable module in WHM Cpanel"
Hello,
I has seen Magento 2 need terminal to enable , disable and update module.
In WHM Cpanel I dont find any Terminal because it is shared hosting. So is it true any extra module can't not use in WHM Cpanel.

How to I get all feature of Magento 2 in WHM Cpanel ................

I already use magento 1 in WHM Cpanel .

[2016-04-28 12:05] shiftedreality commented on #4219
Hi @inborntech

I wasn't able to reproduce this bug on latest develop branch with command like
**php bin/magento maintenance:enable --ip=127.0.0.1**

If you still can reproduce it or has additional info-please reopen current  issue.
Closed.

[2016-04-28 12:05] #4219 closed, assigned to nobody

[2016-04-28 12:36] adianghel opened #4339 "magento 2.0.4 CE email send issue"
Any email send attempts (newsletter, order notification etc) results in an error and logs show this error:
main.CRITICAL: Broken reference: No element found with ID 'customer'

[2016-04-28 12:54] Victor4G opened #4340 "Minicart popup is blank on currency change event."
Hello,
There is issue in minicart, It becomes blank once you change the currency.
It will be ok once you add more products after changing currency.

**NOTE:**  This issue only for development mode but we think initially there is a bug in our custom development so, it should work ok even on development mode.

[2016-04-28 12:56] #4268 closed, assigned to nobody

[2016-04-28 13:00] NadiyaS commented on #4062
Hi @Katerina1993,
this bug is not reproducible anymore on the latest Magento 2 code.
You can upgrade your code right now from develop branch or upgrade Magento 2 after next release.

[2016-04-28 13:05] andyworkbase commented on #4331
have the same issue on ME 2

[2016-04-28 13:07] mazhalai commented on #4338
@osmansorkar Navigate in admin to System->Web Setup Wizard-> Component Manager. This will show a list of all modules, you can enable and disable them by following steps [here](http://devdocs.magento.com/guides/v2.0/comp-mgr/compman-main-pg.html#compman-access-enable)

Closing since this is not a bug.

[2016-04-28 13:07] #4338 closed, assigned to nobody

[2016-04-28 13:20] philippsander commented on #4307
when using `addNotice` instead it's working.

[2016-04-28 13:23] TommyKolkman commented on #2574
Is that MAGETWO-47017 supposed to be in 2.0.4? I've upgraded to that one and it isn't working for me as well.

[2016-04-28 13:44] osmansorkar commented on #4338
Can I install and upgrade a module in System->Web Setup Wizard-> Component Manager.

[2016-04-28 13:51] mazhalai commented on #4338
Yes your purchases in marketplace will show up in component manager. You need to save you keys in "system config" and then click sync on component manager page.

[2016-04-28 13:58] OgreMHDW commented on #4333
"Allow Guest Checkout" is not enabled. "Require Customer To Be Logged In To Checkout" is enabled.

[2016-04-28 14:06] odubovyk commented on #4330
When trying to reproduce the issue in the ticket https://github.com/magento/magento2/issues/4274, we tested it the way you described in current ticket (each theme with different vendor name). As we mentioned in referenced issue, we could not reproduce the issue.
Maybe you will find our attachment useful. The are two dummy themes configured as you described.
Each theme outputs a stripe on page with

[2016-04-28 14:24] bh-ref commented on #3545
As a fix, in file `vendor/magento/module-catalog/view/adminhtml/web/js/options.js` or `app/code/Magento/Catalog/view/adminhtml/web/js/options.js` go to lines 45 - 47 and comment them out:

[code]

Check if `pub/static/adminhtml/Magento/backend/en_US/Magento_Catalog/js/options.js` (and the same file in other language sub folders in `pub/static/adminhtml/Magento/backend/`) reflects that change.

You

[2016-04-28 14:35] TommyKolkman commented on #2434
Finally "solved" this by setting the value programmatically to 0 in an plugin. In the di.xml of your custom module:

[code]

In your own model:

[code]

Good for now, but we need a core fix.

[2016-04-28 14:49] hamdrew commented on #3229
Is it marked for a future release?

[2016-04-28 14:56] sevos1984 commented on #4336
This is a known issue MAGETWO-46014

[2016-04-28 15:17] mslabko commented on #3675
Hello @LouNik1984,

I cannot reproduce problem on develop branch. Could you please check it again?
Also we do not cache index status, so result from cli and web must be the same.

If this is happened again, please check, that you are run bin/magento for correct magento installation (I mean magento is run from the same folder on server, where you run cli commands). E.g. you can move bootstrap.php f

[2016-04-28 15:45] quienti commented on #3677
Fixed on Magento 2.0.4

[2016-04-28 15:45] #3677 closed, assigned to voleye

[2016-04-28 15:45] #4163 closed, assigned to nobody

[2016-04-28 15:48] quienti commented on #3162
Fixed with commit https://github.com/magento/magento2/commit/de942b806f749c772a9d9a5413937571db898adf

[2016-04-28 15:48] #3162 closed, assigned to voleye

[2016-04-28 15:49] OgreMHDW commented on #4333
So I think I may have figured something out. This appears to be an issue with the "Enable Onepage Checkout" option. I have set onepage checkout to No and now am able to view and edit cart without it being emptied. Unfortunately, I have no way to check out at that point.

[2016-04-28 16:18] PingusPepan commented on #3354
@kandy Do you know any reason why? My third party software is something which knows only SKUs, prices and stock amounts. How am I supposed to update the products then?
Should I first grab the product with API GET, then update affected fields and then send it back again? This feels way too much for just a simple product price/stock amount/attribute update.
Please, let me know, I am honestly interes

[2016-04-28 16:18] ValeraPogrommist commented on #2569
@davidalger I had the same issue using vagrant. Could u explain why magento works in this way? I use local address **Magento.dev** and sometimes! have redirection loop and sometimes! don't while authorizing in admin panel. How to control that process?

[2016-04-28 16:33] LouNik1984 commented on #3675
I created a cron on my local environment and after cron has run, indexes were fine. But who wants cron jobs running on a local environment? I hoped that cli commands would work without cron but apparently they do not (in my narrow view 'manual index' is the opposite of 'automatic index').

[2016-04-28 16:50] heyitsroberthe commented on #4310
I tried to reproduce this issue on latest develop of MagentoCE and I could not. I created a bundle product with 3 product options and 2 of them are required. The price range on the frontend shows the correct prices.

Could you provide the following information:
1. Types of products used in the options (simple, virtual, etc)
2. Number of options in the bundle product.
3. Type of input for each opti

[2016-04-28 17:05] mslabko commented on #3154
Internal ticket for this issue: MAGETWO-51772

[2016-04-28 18:08] Raysharr commented on #4336
Is that ticket number MAGETWO-46014 is your Magento 2 devs internal one, because I can't find this ticket number anywhere? @sevos1984

[2016-04-28 18:38] mikeweis commented on #4314
related issue is #3912

[2016-04-28 18:39] keharper commented on #4023
The Integration article has been updated. It was missing a step about creating an install class.

[2016-04-28 18:51] mstumpf818 commented on #3140
We can reproduce this issue on OS X Chrome

On Windows 10 Firefox we get a "JQMIGRATE: jQuery.parseJson requires a valid JSON string" error

[2016-04-28 19:00] jaatr opened #4341 "i try to change my admin password from the database table but it not work"
i try to change my admin password from database  table choosing md5  but i cannot login my admin by that password and i also use retrive password link not send may be i m working on localhost

[2016-04-28 19:30] shashankitsoft commented on #4330
Hi, Thank you very much for giving me the sample code. I have checked it on same installation and it worked!
I was amazed, matched the way to what I have done in my themes; your and my way both exactly same. Again activated my childtheme, and surprisingly it not worked. More surprised and fedup. :(

Then I digged into the **magento database**, and I found out one amazing thing. In the '**theme**'

[2016-04-28 19:31] ghost commented on #4341
If you have command-line access you have a couple of options:
-  Try to unlock the Admin account: `magento admin:user:unlock {user name}`
- Create a new Admin account: `magento admin:user:create`

See [here](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-subcommands-admin.html) for details

[2016-04-28 19:47] heyitsroberthe commented on #4340
Hi,

I couldn't reproduce your problem on a clean CE install. I see prices in the minicart correct for the currency I've selected.

[2016-04-28 19:55] jaatr commented on #4341
<path_to_magento>/bin/magento admin:user:create [--admin-user="..."] [--admin-password="..."] [--admin-email="..."] [--admin-firstname="..."] [--admin-lastname="..."] also run this command but cannot get sucess

[2016-04-28 20:42] cpartica commented on #2170
Yes we started working on it,
Just to clarify are you trying to add a new tab or extend the form that edits the address? maybe add more fields to the address or html or functionality?

_note that phtml usage is not recommended anymore as most of the admin is now made using ui components, and those templates exist in web/templates as html templates used by the knockout js classes that define behavi

[2016-04-28 21:06] jaimestuardo commented on #4146
The problem is that I cannot upgrade because of another bug in update system. However, I have 2.0.2. Do you reallythink this is the cause?

[2016-04-28 21:08] heyitsroberthe commented on #4177
Hi,

It looks like we can definitely make improvements to the Advanced Inventory settings with regards to quantities involving decimals. Your suggestion to the qty check makes sense as well.

[2016-04-28 21:17] jaimestuardo commented on #4013
Now, this is the error I am getting:

PHP Settings Check
Need Help?
PHP Documentation
Your PHP Version is 5.6.20, but always_populate_raw_post_data = 0. $HTTP_RAW_POST_DATA is deprecated from PHP 5.6 onwards and will be removed in PHP 7.0. This will stop the installer from running. Please open your php.ini file and set always_populate_raw_post_data to -1. If you need more help please call your hos

[2016-04-28 23:11] melnikovi commented on #4315
Please make sure that your editor doesn't change format of the file. Try to import file with out making any changes and let me know if it works. Thank you

[2016-04-28 23:13] cluppeer commented on #619
hi,
I have problems with unclosed html tags, thousands of html contents needs to be validate. Other static blocks doesnt show up properly. I need someone advise me something.
thanks

[2016-04-28 23:59] jaimestuardo opened #4344 "Bad Error Report: Your PHP Version is 5.6.20, but always_populate_raw_post_data = 0"
This is a bug when running a readiness check when updating Magento. I have decided to open a new ticket for it.

On readiness check, I get this error:

PHP Settings Check
Need Help?
PHP Documentation
Your PHP Version is 5.6.20, but always_populate_raw_post_data = 0. $HTTP_RAW_POST_DATA is deprecated from PHP 5.6 onwards and will be removed in PHP 7.0. This will stop the installer from running. Ple

[2016-04-29 01:07] OgreMHDW commented on #3572
I believe I am having the same issue on 2 different sites as well.

[2016-04-29 01:25] tohqecom commented on #2537
Thanks @mttjohnson

[2016-04-29 03:28] bondimedical3 commented on #2855
@rganin , all indexer jobs in the cron_schedule table have status "success". Maybe it's easier if I give you admin access and you can have a look at it?

[2016-04-29 04:18] InCodeWeFly commented on #4321
Renderer::renderAssetHtml($template, $assets)

//  load much time
 foreach ($assets as $asset)

$assets may not be  array, so need  to  force the variable  to array,

[2016-04-29 04:27] dantranmanh commented on #3850
@MichielTG ,
@romeof1980,
At my site, we got this error while openning the categories management in admin.I renamed the file SubcatColumns.php to Subcatcolumns.php (do the same in the class name).
This fix also require disabling the cache to get the categories page work.
Still keep investigating!:)

[2016-04-29 06:41] Widmayer commented on #3354
@kandy Why this has been changed from Magento 1? There it was possible to update only one attribute of a product without loosing other data. If the new behaviour is by design this would be a bad decicion in my opinion. The overhead in data sent to the shop would be multiplied when it is only neccessary to update one attribute.

[2016-04-29 06:52] odubovyk commented on #2681
Ghost, please note that the attribute is added via JS and original source never changes. Only the DOM changes by JS.
You can see an HTML visualization of DOM changes using your browser's developer tools.

[2016-04-29 06:54] kodmaskinen commented on #3354
@kandy No other product properties are emptied/nulled when the API request described in my initial comment is made. Why is the "categori_ids" property treated differently than other properties?

[2016-04-29 07:25] antboiko commented on #2988
Hi @mageman, thanks for your inquiry. I've created internal ticket MAGETWO-51965 to cover this improvement and placed it into our backlog.

Best,
Anton.

[2016-04-29 07:39] SidneyBilliet commented on #4315
Hi Igor
It doesn't!
Export a file and reimport it before even opening it in any program and you wil get errors.

[2016-04-29 07:59] AndreyChorniy commented on #3272
@asemenenko
Why do you close this error?
Your team initially recognized the problem, and then you just shut it. https://drive.google.com/file/d/0B2vGZI5KgHsdRmZ0WTBxYWk0b3M/

This is problem and you guys should to fix it!

Have a nice day.

[2016-04-29 08:15] Igloczek commented on #2797
@benmarks @maksek
That's what I'm talking about on Developers Paradise - we have closed issue, resolved by some of your internal ticket (without referencing github issue in commit msg) and merged into develop - AFAIK it should be available in next release.
But... two months and two releases later - still not available, no one knows when it should be added to stable version 😥

[2016-04-29 08:36] bh-ref commented on #3481
We did our own implementation of the store switcher, so this is not an issue anymore for us.

[2016-04-29 08:36] #3481 closed, assigned to nobody

[2016-04-29 09:08] osmansorkar commented on #4338
I have a blog module which download from another site. Now how to it install in Magento 2 without terminal......... I try many time but every time I fail.

[2016-04-29 09:13] nikunj1990 opened #4345 "Magento2 is very slow"
its very slow, and after adding new extension on localhost it takes ages to create new slider etc.

also after installing on live server it shows 404 css,js errors on frontend

[2016-04-29 10:00] vkorotun commented on #3354
Hey @AndreasSundstrom, the bug is in place indeed.
We will fix it, so the behaviour will be as the following:
If you send PUT request and provide some partial data, then ALL OTHER entity attributes and associations (which belong to the current entity aggregation root) will be erased (not only category_ids as it is for the moment).

And I assume that you need something different here - PATCH method

[2016-04-29 10:25] PingusPepan commented on #3354
@vkorotun Thanks for clarifying. What is the eta for PATCH method support? Without PATCH method support we can't migrate to Magento 2 because we use patching extensively on M1 and the API is kept very busy.

[2016-04-29 11:24] vil11 commented on #4317
@gacleg

Hi!

We have Calendar with all grid lines present & current date is highlighted without hover.
![1](https://cloud.githubusercontent.com/assets/5585456/14914604/630586e8-0e14-11e6-914b-6e23db50628a.jpg)
Please specify your environment details (OS, browser, Magento version, etc) so that we could determine the reason. **[FYI](https://github.com/magento/magento2/wiki/Issue-reporting-guideline

[2016-04-29 11:43] srinivasanithin commented on #4329
Hi

Any Update on this issue?

[2016-04-29 12:08] kumbas1 commented on #4248
Fixed in scope of 35732a1

[2016-04-29 12:16] duhon commented on #3053
Hello @rey8a ,

It looks like this issue already fixed in develop branch and will be available in 2.1 version.
Could you please check this issue on develop branch?

Also please note, if you are trying to create more than 50 variation, then it needs to change php setting “max_input_vars” to 5000 (is set to 1000 by default)

[2016-04-29 12:17] afavata opened #4346 "Updating products with Multiple Select Attribute"
I installed Magento2 from scratch downloading the source from Magento web site.
Version installed is the most recent at 2.0.4

I'm facing an issue updating products using "update attribute" (under action menu in catalog panel).
When the attribute to update is a "multiple select" type, this attribuite is not updated at all.

[2016-04-29 12:39] jrm93 commented on #2630
We are working on the Dutch translation. This problem is still existing and a sample can be found in /vendor/magento/module-customer/etc/adminhtml/menu.xml . In this file you can find the following line:

[code]

These lines seems to miss the `translate="true"` attribute. This causes the collect-phrases not to include these labels.

[2016-04-29 13:21] m1keharris commented on #1650
This solution doesn't seem to work in version 2.0.4, is there a new way to do this now, it would appear that sales_order_grid_collection_load_before is no longer a valid event.

[2016-04-29 13:27] mbloss-dotsource opened #4347 "Handing problem with store view swicher in backend for large number of websites/store views"
Hi,

I added 20 websites (each website with one store and store view).
Now I want to change the configuration settings for certain store views, but the dropdown for the store view switcher is to long an does not fit into the screen. When I scroll down to select one of the last entries, the dropdown disappears, so I can not select all store views.
Same problem with store view switcher exists also o

[2016-04-29 13:31] psol7 commented on #4289
https://github.com/magento/magento2/issues/2121
Same problem never resolved.
No one seems to want to address the issue, but definitively a major magento 2 bug.
Yet to see 1 instance out there demo or live with layered category showing subcategory that are anchored.
Magento 2 is not viable for stores with more than a hand full of products and categories.
 if you have hundred of nested categories an

[2016-04-29 13:58] kanduvisla opened #4348 "Product image not showing on product detail page. Possible bug in getData() with an index?"
Magento 2.0.4
## Steps to reproduce

Try the following:

[code]

Due to the additional `$index`-parameter on the `getData($key, $index)`-method, both those example should return the same result. Right? Wrong! They return two different objects:

[code]

In this example, this results in the image not being shown on the product detail page. Since this is used in `Magento\Catalog\Model\Product:1506`.

[2016-04-29 14:03] mazhalai commented on #4218
Closing this since it was fixed in the develop branch, in the scope another internal ticket MAGETWO-48840 See commit https://github.com/magento/magento2/commit/98eb8f85e25bbc0aa39928f1783591747ba3ac72

[2016-04-29 14:04] kanduvisla commented on #4348
The same goes for `var_dump($product->getData('media_gallery', 'images'));`. This should return the values of `array['images']`, but instead it returns the complete array. I think this is a bug in `getData()`.

[2016-04-29 14:06] mazhalai commented on #4344
@jaimestuardo can you please post relevant portions of your phpinfo(); Also can you give more env details like OS and Webserver.

[2016-04-29 14:08] mazhalai commented on #4178
@decormatters we are closing since as non-responsive.

[2016-04-29 14:08] #4178 closed, assigned to tanya-soroka

[2016-04-29 14:09] mazhalai commented on #4254
@Vinai we have created ticket MAGETWO-52423 to add this annotation.

[2016-04-29 14:10] mazhalai commented on #4229
@jordanbrierley thank you for reporting, we have created ticket MAGETWO-52422 to investigate and fix.

[2016-04-29 14:11] mazhalai commented on #4265
@adragus-inviqa thank you for reporting, we have created MAGETWO-52425 to investigate and fix.

[2016-04-29 14:12] mazhalai commented on #4335
@Taral-Patoliya  thank you for reporting, we have created MAGETWO-52424 to investigate and fix.

[2016-04-29 14:13] mazhalai commented on #4339
@adianghel thank you for reporting, we have created MAGETWO-52426 to investigate and fix

[2016-04-29 14:15] mazhalai commented on #3977
@smatric Can you give us some information about your env? OS and Webserver?

[2016-04-29 14:18] kanduvisla commented on #4348
False alert! It turns out that I had created a plugin that wrapped itself around the `getData()` method, because I had to adjust the meta description and that is not used as `getMetaDescription()`. Closing this issue. But a warning for people in the future: be careful when wrapping around the `getData()`-method!

[2016-04-29 14:18] #4348 closed, assigned to nobody

[2016-04-29 14:43] SidneyBilliet opened #4349 "Credit memo error"
## Steps to reproduce
1. We use magento with table rate shipping prices including tax
2. Tax Settings:
   ![2016-04-29_16h24_00](https://cloud.githubusercontent.com/assets/13572447/14919115/883462b4-0e27-11e6-933a-a268bbc2a787.png)
3. Tabel rates:
   ![2016-04-29_16h28_20](https://cloud.githubusercontent.com/assets/13572447/14919189/ef1b9dd0-0e27-11e6-86d8-8e94d6de06bc.png)

When creating a credit

[2016-04-29 14:44] mackelito opened #4350 "Improvements to the REST API"
## Steps to reproduce
- make a request to "rest/V1/categories/3/products"
## Expected result
1. All info for each product

When creating a web using the API this forces me to make multiple requests If I want to show products from category x
## Actual result
1.  I get sku, prioity and category_id.. that´s it.

is there some way to get more data for each product like I get if I do "rest/V1//products

[2016-04-29 15:00] KrystynaKabannyk commented on #3217
Hello @robfico, the reported issues have been fixed in 2.0.5 patch release that's why I'm closing the issue. Thanks for your help! If you have additional questions or information feel free to create another issue!

[2016-04-29 15:00] #3217 closed, assigned to kandy

[2016-04-29 15:02] KrystynaKabannyk commented on #3459
Hello @balack, the reported issue has been fixed in 2.0.5 patch release that's why I'm closing it. Thanks for your help! If you have additional questions or information feel free to create another issue!

[2016-04-29 15:02] #3459 closed, assigned to nobody

[2016-04-29 15:04] KrystynaKabannyk commented on #2989
Hello @zamboni084, the reported issue has been fixed in 2.0.5 patch release that's why I'm closing it. Thanks for your help! If you have additional questions or information feel free to create another issue!

[2016-04-29 15:04] #2989 closed, assigned to kandy

[2016-04-29 15:13] MomotenkoNatalia commented on #3710
@badcrc  Internal ticket MAGETWO-50528 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-04-29 15:13] #3710 closed, assigned to MomotenkoNatalia

[2016-04-29 15:53] OgreMHDW commented on #4333
Here is the view cart setting with Enable Onepage Check enabled:

![2016-04-29_084724](https://cloud.githubusercontent.com/assets/4369476/14921529/8795caea-0de7-11e6-9068-2c3a888a872a.png)

Once I select Go To Checkout, it takes me to the account page with cart cleared.

Here is it disabled:

![2016-04-29_085041](https://cloud.githubusercontent.com/assets/4369476/14921530/8798e054-0de7-11e6-8f15-1

[2016-04-29 16:01] leoquijano commented on #4218
Hi @mazhalai , I think commit #98eb8f8 actually fixes #2264?

My report is different, as it is directed to /vendor directory and not the Magento UI library. I was requested to open a new issue, and here it is.

[2016-04-29 16:16] leoquijano commented on #4218
I double checked, and yes, that commit only fixes #2264 .

[code]

There's no provision for importing things from the `vendor` directory.

[2016-04-29 16:25] melnikovi commented on #4237
For columns of type TIMESTAMP MySQL returns date formatted according to timezone from config (server timezone by default). After you connect to the database, run query SET  time_zone = '+0:00' to have it return dates in UTC. Let me know if this doesn't help

[2016-04-29 16:29] Part-A opened #4351 "HTML Entities in Attribute options incorrectly displayed and handled"
When certain characters are entered as part of an Attribute Option, returning to the Attribute to amend the options list, displays the HTML entity name rather than the character. For example " is displayed as `&quot;`

This can be confusing for users who are not familiar with Entity names.

Present in Magento 2.0.4

[2016-04-29 16:30] ktruehl commented on #2121
Here's a patch that fixes the issue:

[code]

The problem is the following. In `Magento\CatalogSearch\Model\Adapter\Mysql\Aggregation\DataProvider` in the `execute`-method the `fetchAssoc` method is used to convert the query result into an associative array. The `fetchAssoc` method however uses the first column for the keys of the associated array. For all attribute aggregations the first column i

[2016-04-29 17:28] hshar7 commented on #4036
The reason translations are not applied to api requests is because api requests operate in their own area which is neither frontend or adminhtml. Having their own area means that they do not have a theme attached.
Furthermore, webapi translations could be translated using language packs and/or from inside the modules. It wouldn't make sense to have translations applied to webapi from a specific th

[2016-04-29 17:28] #4036 closed, assigned to alena-marchenko

[2016-04-29 17:41] psol7 commented on #2121
Right on ktruehl. Problem fixed. Thks.

[2016-04-29 17:42] samtay commented on #2709
For what it's worth, I developed a "base module" that includes easy to extend loggers that specify filenames. Basically, it consists of two classes, one logger and one handler, and the handler accepts a filename in the construct to set its own `$this->fileName` property. In this way, any module that needs its own logger can easily have one by defining two new virtual types. Here is the `di.xml` fo

[2016-04-29 18:08] gacleg commented on #4317
Hi,

Looks like the gridline missing and not highlighting current date until hove
is a Firefox issue.  I tried in IE and Chrome and no problem.  Also, I did
not know that Week was supposed to display - never saw that before.

Firefox

Magento 2.04

[2016-04-29 18:20] choukalos commented on #2121
Hi @ktruehl Thanks for the patch!  I've created a bug for internal tracking purposes - MAGETWO-52436 .
Closing the other github issue as a dup.

[2016-04-29 18:21] choukalos commented on #4289
I'm marking this as a bug and closing as it is a dup of #2121 .  I've linked an internal issue to track resolution - please see #2121 .

[2016-04-29 18:21] #4289 closed, assigned to kandy

[2016-04-29 18:40] ntoombs19 commented on #4331
I had this happen to me today as well. You can avoid this happening in the future by going to **STORES -> CONFIGURATION -> ADVANCED -> ADMIN -> SECURITY -> PASSWORD CHANGE** and setting that field to **Recommended**. If you have direct access to the database you can run this query to set that field to recommended directly

[code]

Or if you have [n98-magerun2](https://github.com/netz98/n98-magerun

[2016-04-29 18:54] mazhalai commented on #4331
@ran2345 thank you for reporting, we have created MAGETWO-52437 to investigate and fix.

[2016-04-29 19:09] raykai opened #4352 "Suggestions for Magento 2 missing a basic customer support ticket system"
General suggestions for Magento 2.

Magento 2 is missing A basic customer support ticket system that keeps everything connected to a customer's account. Something that would allow for admin to respond directly from the backoffice and would be notified whenever there was a ticket opened or overdue. This or integration with something like osTicket which is open source  would be great.

osTicket: htt

[2016-04-29 19:11] hshar7 commented on #4335
Hi @Taral-Patoliya have you tried using any different api call? Did you get a resource permission issue for those as well?

[2016-04-29 19:16] Taral-Patoliya commented on #4335
Hello @hshar7 I have tried other api calls using GET method to retrive categories, products/:sku but they all worked fine, even when i created the token using integrations and used it was successful, the problem arises when i try to create a token from integration/admin/token endpoint and use it to create the product

[2016-04-29 19:18] adragus-inviqa opened #4353 "Docblock tags are incorrectly generated if longer than 80 characters"
## Steps to reproduce
1. Create a **concrete class** with an 81+ chars long FQCN (or a really long name), like `Omg\Since\When\Zf\Harcodes\The\Word\Wrap\Length\Strategy\Proxy\GoodLuckProviderInterface` (it **has** to be longer than 80 characters long).
2. Inject it as a proxy somewhere - `<that-long-class-above>\Proxy` - so that it may be auto-generated by M2.
3. Check the generated code of that p

[2016-04-29 19:18] hshar7 commented on #4335
You are 2.0 or develop?

[2016-04-29 19:19] Taral-Patoliya commented on #4335
@hshar7 I am using 2.0.2

[2016-04-29 19:19] hshar7 commented on #4335
Okay thanks! Investigating.

[2016-04-29 19:21] Taral-Patoliya commented on #4335
@hshar7 , @mazhalai  thanks for the support. i appreciate it.

[2016-04-29 20:02] jpreed2 commented on #4023
I have followed the instructions and still can't get it to work.  It never executes the InstallData.php.  I've tried removing the entire directory and running "magento setup:upgrade" and I see the module is removed from the list.  I then try adding it back and running "magento setup:upgrade" again and it shows the module as installed.  But the setup is not getting triggered.

I put some error_log(

[2016-04-29 20:06] jpreed2 commented on #4023
BTW, providing a sample module zip file in the documentation that's confirmed working would be very helpful.  All it takes is one wrong lower or upper case letter to prevent things from working, which is hard to detect without a sample.

[2016-04-29 20:11] mazhalai commented on #3977
@smatric we have created ticket MAGETWO-52439 to investigate and fix.

[2016-04-29 20:15] mikeweis commented on #4027
upon further review, this is not a valid use for this class:
- the purpose of this class is to dynamically determine the final price, as opposed to being a pass-through to whatever final price is currently stored in the associated product. This determination is done via looking at the base price. The base price itself cycles through the price variations, and for those variations that are instances

[2016-04-29 20:15] #4027 closed, assigned to mikeweis

[2016-04-29 20:35] adragus-inviqa commented on #4027
You should deprecate the `catalog_product_get_final_price` event (using comments) and trigger another, more properly-named event: `catalog_product_final_price_has_changed`. Makes intent more clearer.

My 2 :moneybag:

[2016-04-29 20:35] jpreed2 commented on #4023
Ah, finally I figured it out!  I had to manually remove the module from the setup_module table.

delete from magento.setup_module where module = 'module_name';

Then I ran "magento setup:upgrade" and it worked!

Thanks.

[2016-04-29 20:36] hshar7 commented on #4335
@Taral-Patoliya It seems to be working for me on both 2.0.2 and develop. You should look at your ACL for the user node_rest

[2016-04-29 20:39] Taral-Patoliya commented on #4335
@hshar7 i granted all the resources to the user. let me check once again. thanks for testing.

[2016-04-29 20:51] jpreed2 commented on #4023
Where is there a list of all the available API modules to specify in the api.xml for access?

Examples:

[code]

Is there a way to specify access to all modules?

[2016-04-29 21:08] jpreed2 commented on #4023
OK, answered my own questions again.  Found the access levels are listed in the authorization_rule table:

select \* from authorization_rule;

And the authorization for all is:

[code]

[2016-04-29 21:24] keharper commented on #4023
I'm glad you were able to work out the problems.

Did you have to manually delete the module from the `setup_module` table because you had unsuccessful attempts to create it?

I'll look into what our policy is about providing a ZIP file on devdocs.

I'll add the the `<resource name="Magento_Backend::all" />` statement to the doc.

[2016-04-29 21:34] jpreed2 commented on #4023
Yes, it appears once you install a module it will never run the InstallData.php again.  Since I had installed the module previously without the InstallData.php script it was ignoring it.

I'm guessing if you uninstall it and install again it would work, but there is no way to uninstall a module unless it was installed via composer.  So I had to manually remove it from the setup_module table.  This

[2016-04-29 22:03] barego commented on #2813
+1

[2016-04-29 22:08] hshar7 commented on #4335
Any updates? Can I close?

[2016-04-29 22:52] hshar7 commented on #4265
Hi @adragus-inviqa early on Magento architects decided this was done because we didn’t want to add payload to a GET request and we didn’t want to make this search feature a POST request because it would violate RESTful principles. But you are right it is hard on the eyes :v:

[2016-04-29 22:52] #4265 closed, assigned to vrann

[2016-04-29 22:57] #4335 closed, assigned to nobody

[2016-04-29 23:16] adragus-inviqa commented on #4265
👍

[2016-04-30 01:47] stevekem commented on #4345
I had this problem before (live server), it was a permissions issue for me... Try running the following commands:

find . -type d -exec chmod 755 {} \; && find . -type f -exec chmod 644 {} \; && chmod u+x bin/magento
sed -i 's/0770/0775/' vendor/magento/framework/Filesystem/DriverInterface.php
php bin/magento cache:flush

[2016-04-30 01:49] stevekem commented on #4345
Regarding the slow issue.... Do you have the following setting set to "Yes" in admin?

Admin > Stores > Configuration > Advanced > Developer > Merge CSS files

[2016-04-30 02:36] Sam-PUMP commented on #4063
Hi - its still not working for me. What are the settings for silent post and silent post URL in manager ? Have a pay flow pro account and it works great in magento1 but can't get it successfully approving transactions on  Magento2. They are all declined with an authentication failed message. SSL is working and curl is newer then required vervsion. Everything is set on POST but still
All declines.

[2016-04-30 04:10] devdesco-ceo commented on #3417
Same problem here when trying to edit Custom Options in Virtual Product. M2.0.4. :-1:

[2016-04-30 05:20] thomvanderboon commented on #2630
@JRM93 Which version are you using?

It is still broken in 2.0.4, Almost all issues have been resolved in latest developent version.
![magento backend](https://cloud.githubusercontent.com/assets/16068454/14934036/09c802f0-0ea4-11e6-95cf-c32a0b77d475.png)

[2016-04-30 06:22] Yogesh7989 opened #4356 "Magento 2.0.4 url rewrite not working"
Hello,

Magento 2.0.4 Url rewrite not working ?

How to remove all already placed custom url and re-create them is there same way like magento 1. I have get table **url_rewrite** which is may be working same way to **core_url_write**  magento 1 table ?

but if we truncate this table its automatic created by system ? because after truncated this table its not recreated and magento2 product and cate

[2016-04-30 08:50] jrm93 commented on #2630
@thomvanderboon These is at least 1 phrase (maybe more) that still not gets written to the .csv.

One example is "All Customers" in the Customers menu as shown in my example. I generate the file with the following command:

[code]

When i then user grep like this All Customers string is not found.

[code]

Did i do something wrong or is it just a bug in the system.

[2016-04-30 09:14] Nuranto commented on #4027
@mikeweis Ok, I tried with a new variation instance, and it is working, but only for display on product view and product listing.
When adding to cart, the base price is used again. So I still need to use catalog_product_get_final_price to modify the final price to get it work in both product & listing display AND cart amounts....
Is that normal ? I see that catalog-rule extension is doing the same

[2016-04-30 09:30] thomvanderboon commented on #2630
@JRM93 What version of Magento 2 are you running?

[2016-04-30 09:39] jrm93 commented on #2630
@thomvanderboon i am using version 2.0.4.

[2016-04-30 09:45] thomvanderboon commented on #2630
@JRM93 This issue **has not** been fixed in the 2.0.4 and will be fixed in one of the upcoming releases.

The issue **has been** fixed in the development branch, which has less stable code than the latest official release.

[2016-04-30 09:48] jrm93 commented on #2630
@thomvanderboon thanks for the information. Will clone development branch tomorrow to finish the rest of the translations.

[2016-04-30 10:13] ktomk commented on #3108
@vancoz: I hope that seeing no feedback from your end is not a sign of preference. If possible it would be great if you could get some feedback especially to the last paragraph of my previous comment.

[2016-04-30 13:15] cedcommerce opened #4357 "Attribute default value data saving"
We have seen the eav structure used for storing the attributes value in magento 2. We are using different type of tables for storing the attribute value according to their data type.
But we noticed that like we have a product attribute "custom_attr" with default value like 'test'.
When we saved a product but did not set any value for the field "custom_attr" then we seen that in the table "catalog_

[2016-04-30 16:16] davidalger commented on #4020
@piotrekkaminski, @joshuaswarren -

Seems this thread experienced the post-imagine effect. Totally forgot about the need to reply till I was too busy to do it ;)

 First I want to note that I completely agree with what @joshuaswarren said in his last comment. He's spot on!

If the experience of using the Marketplace is the concern driving at gathering credentials as a barrier to installation, ther

[2016-04-30 18:41] davidalger opened #4358 "Git Ignore Rules Vanished from Project Meta-Package"
Composer package `magento/project-community-edition@2.0.5` is missing the `.gitignore` file which is crucial to setting up a project without committing _everything_ to the repository:

[code]

Why has this file gone missing? Can we please bring it back?

[2016-04-30 18:52] mttjohnson commented on #4020
We work in the eCommerce space as we are working with Magento. The sites built with Magento target an audience that want something. We try to build an experience that reduces barriers and increases the enjoyment for the audience to reach a specific goal of providing value to the audience, and potentially exchanging value with the audience.

If we can reduce the barriers to the audience that is int

[2016-04-30 21:13] ktomk opened #4359 "Stabilize Composer"
IIRC minimum stability is alpha only because of composer. At 4th of April (or around that day) composer finally went stable and 2.0.5 yet still has the alpha version tagged, doesn't it?

So I think it would be worth to move to ^1.0.0, we did this in magerun as well the last month and it's just straight forward.

[2016-04-30 21:59] devdesco-ceo commented on #3105
Same thing here on 2.0.4 and 2.0.5

![image 2016-04-30 16 58 16](https://cloud.githubusercontent.com/assets/8983883/14938779/effc6d7e-0ef4-11e6-93e3-d71ef1b826fd.png)
![image 2016-04-30 16 58 24](https://cloud.githubusercontent.com/assets/8983883/14938780/f0012cb0-0ef4-11e6-8e0d-521b8060e7a8.png)

[2016-04-30 22:08] devdesco-ceo opened #4360 "Date of Birth field in Frontend is empty"
Date of Birth field in Frontend in Customer account edit section appears to be empty, though in backend (hence in DB) the DOB entered either in backend or frontend is present, and if customer does change his DOB in frontend, it is correctly changed in DB, but there is no way it is populating the form field in the frontend, when loading account information page!!!

[2016-04-30 22:20] viktor-zhuromskyy opened #4361 "Multishipping discount coupons use applies wrong amounts"
Let's say a customer checks out his order via Multishipping/Multi-address interface.

He applies system generated coupon with 5% discount. The total before discount is $1000. When going through standard checkout, he will receive 5% off his $1000 which is $50.

Via Multishipping, let's say the customer checks out with three addresses, 1# - $400, 2# - 350, 3# - $250.
The applied coupon with 5% off w

[2016-04-30 23:02] devdesco-ceo commented on #3101
I do not think its a bug, or may be it is.

What I did, and it works flawlesly, I set up differnt customer groups, and in "Catalog Price Rule" I have created a rule for each group applying %%% discount to whole catalog, or categories of choice.

Then, in Tier pricing on a product edit page, I entered tier pricing, starting with "2 and above", etc. NOT "1 and above".

See my screenshots, and always

[2016-05-01 01:30] devdesco-ceo commented on #3208
What I have learned so far, and how I managed to make FedEx shipping module work:
1. Account credentials do not get inherited by Websites if set up in Global Scope. So every website in multi-site setup need to be overridden per Website Scope.
2. PHP7.0 has a problem working with Magento's SOAP Client API, so, since I am using Nginx, I was able to serve checkout location via PHP5.6 and that fixed m

[2016-05-01 02:55] devdesco-ceo opened #4362 "Disable debug output to debug.log"
Can't figure out how to disable debug output to debug.log for things like cache invalidation, etc. In production mode this information is not necessary to log.

`[2016-05-01 02:17:20] main.DEBUG: cache_invalidate:  {"method":"GET","url":"https://endohaus.com/checkout/cart/","invalidateInfo":{"tags":["rewards_purchase"],"mode":"matchingAnyTag"},"is_exception":false} []
[2016-05-01 02:17:20] main.DE

[2016-05-01 03:09] smatric commented on #3977
When I reported the problem, I had Ubuntu 14.04 LTS installed on the server. Currently, it's been replaced with Ubuntu 16.04 LTS, but the problem is still there.

I use DigitalOcean as my hosting provider and have picked the $40 / month plan:
- 4GB Memory
- 2 Core Processor

[2016-05-01 03:56] piotrekkaminski commented on #4359
+1

[2016-05-01 05:22] thaiphan commented on #4359
I was trying to use the [path repository](https://getcomposer.org/doc/05-repositories.md#path) feature in Composer but wasn't able to until I manually updated Composer. Would be good if Magento updates Composer for us.

[2016-05-01 08:01] shashankitsoft commented on #3651
+1. I am having the same issue. I have once enabled merging JS/CSS, the issue happened, too much slow, tried everything. Finally had to do reinstall fresh magento 2.0.4. Weird!

The new magento  installation worked fine for few days, never enabled js/css merging again bcoz of fear hat it may cause issue again. But now it again became too slow... checked apache error log...
These errors are coming.

[2016-05-01 08:34] shashankitsoft opened #4363 "Magento 2.0.4 running painfully slow on Wamp, unable to load pages or save settings: Error: client denied by server configuration app/etc/config.php"
## Steps to reproduce
1. Installed Magento 2.0.4 on WAMP 3.0 on windows 10 Pro 32 bit, 4 GB Ram, PHP 5.6.15, My SQL 5.7.9, Apache 2.4.17. My localhost base url is: http://127.0.0.1:8080/mymagento/
2. The new magento installation worked fine for few days, But now suddenly it became **too slow... Not able to load pages in frontend and unable to save settings in admin  too. Browser just keep waiting.

[2016-05-01 09:10] adragus-inviqa commented on #4362
https://github.com/magento/magento2/blob/958164768b3eea3dcba7427bc82fdd15b836b031/app/etc/di.xml#L257

I think I'll PR a debug switch for that. Logs gets too cluttered.

[2016-05-01 11:36] Krapulat commented on #3592
I have the same problem. Is it solved in develop?

[2016-05-01 11:45] Krapulat commented on #4321
Same problem here.

[2016-05-01 12:28] JDavidVR commented on #4363
I was having same issue, the problem is that magento 2 is designed for php7 so my best recommendation is that you should upgrade your web server I recommend you to install it on linux. That solves the problem.

guide to install webserver on linux, with largest versions of PHP mysql apache and phpmyadmin
http://jdavidvr.github.io/webserver2016/

[2016-05-01 12:39] shashankitsoft commented on #4363
I am not agree with you. Magento 2 works on php 5.6 and on 7 too. It requires minimum mysql 5.6. Also, Most of the shared hosting these days still not upgraded to php 7 till now.
Installing it on linux is also **not a solution**.

There is some problem with magento 2, and that need to fixed for both windows and linux platforms. Development can be done on any platform.

Thanks, but no thanks.

[2016-05-01 13:56] Yogesh7989 commented on #4363
Hello Guys,

Set Developer mode on get details from here http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-mode.html

Remove comment from magento 2  htaccess file from line number 5 (#   SetEnv MAGE_MODE developer).
make memory_limit = 2024mb for local
Enable Cache.

Its working fine in my local system.

Please let me know if still not working

Thanks

[2016-05-01 15:02] adragus-inviqa commented on #4363
No, it's not.

PHP 7 wasn't even released when M2 was in beta. [Besides...](https://github.com/magento/magento2/blob/ee6159109fa47fef1f13a71d2cec69fc8703291b/composer.json#L11)

[2016-05-01 15:24] zerobrapsgiven opened #4364 "Product images not resizing"
I went to etc/view.xml and changed the width/height dimensions for some of the media images. Cleared the image cache, but it's still loading the old image sizes. This is on the latest version. Perhaps I'm missing something?

[2016-05-01 15:41] JDavidVR commented on #4363
I'm sorry, I think that I used and incorrect word, I mean magento is optimized for php7, I was using php5.6 and to view a product page or category it took like 30-40 seconds(checkout loaded in 5mins) I upgraded to php7 and same pages took less than 10 seconds to load (maybe is due that php7 faster than 5.x) but that is my experience.

I tried many solutions wamp xampp lamp ampps on windows mac and

[2016-05-01 15:47] shashankitsoft commented on #4363
Mr. Yogesh,

Comment is already removed from that htaccess line.
Memory limit already enough.
Cache etc. already cleared.

It also working fine on my local system, this issue arise many times and **suddenly become everything stuck, unable to load pages**... and apache gives **_error: client denied by server configuration app/etc/config.php_**

Windows already have full file/folder permissions. The

[2016-05-01 17:02] #4364 closed, assigned to nobody

[2016-05-01 17:31] gewaechshaus commented on #4281
https://community.magento.com/t5/Installing-Magento-2/Connection-quot-default-quot-is-not-defined/m-p/35526/highlight/false#M1313

[2016-05-01 17:31] gewaechshaus commented on #3583
https://community.magento.com/t5/Installing-Magento-2/Connection-quot-default-quot-is-not-defined/m-p/35526/highlight/false#M1313

[2016-05-01 17:42] kgvconsulting commented on #4260
@mazhalai

I did upgrade with SSH to the new v2.0.5 as we did before and encounter the same issue with WebSetup access so I did follow the same instructions to clean the var/generation unfortunately after that the whole magento stop working front and back end reporting this error:

Warning: ltrim() expects parameter 1 to be string, object given in /xxxx/xxxxx/xxxx/vendor/magento/framework/Code/Gen

[2016-05-01 17:51] pboisvert commented on #4350
Mark--can yu examine if this is working as designed and if so this is a feature request vs a bug

[2016-05-01 18:47] mackelito commented on #4350
Not sure if this is the case but it feels like this REST api didn't really have web apps in mind (or any apps used by endusers). For instance when requesting "/V1/products?&searchCriteria[page_size]=5" The items have "custom_attributes".. in there we find data like description and images, are they really considered custom_attributes?

Now I'm pretty new to Magento as a plattform but for me, the lo

[2016-05-01 18:56] ktomk commented on #4359
Stabilizing composer is not yet possible because one of its dependencies, magento/composer 1.0.3, pins the composer version to 1.0.0-beta1. I therefore [opened a PR](https://github.com/magento/composer/issues/2) to get magento/composer 1.0.4 with a stabilized composer requirement so to become able to update here.

[2016-05-01 19:55] devdesco-ceo opened #4365 "2.0.5 - html minification is broken on frontend"
2.0.5 html minification is broken on frontend

![image 2016-05-01 14 52 16](https://cloud.githubusercontent.com/assets/8983883/14943978/afccb3b8-0fac-11e6-92fe-16d9f8d737f5.png)

[2016-05-01 19:57] devdesco-ceo commented on #4362
Yes, there should be an interface or option to set logging verbosity level directly in app/etc/env.php

[2016-05-01 20:04] devdesco-ceo commented on #1138
When I have JS Bundling enabled, my .js file size has whopping 13+ MB!!! If I gzip it, it has 3+ MB, but that is a lot of slowdown time on first-page load and lots of bandwidth cut-off on each sach file load!

![image 2016-05-01 15 03 44](https://cloud.githubusercontent.com/assets/8983883/14944027/002d5a82-0fae-11e6-85eb-57b56b4637b9.png)

[2016-05-01 23:03] cedricblondeau commented on #4336
#4186

[2016-05-01 23:05] cedricblondeau commented on #4336
#4186 #3503

[2016-05-02 03:45] ivansuharyadi opened #4366 "Extension Attribute not working on Magento 2.0.4"
Hi,

I am create extension attribute with this code :

[code]

and this is working when i am using Magento 2.0.1, but why on Magento 2.0.4, `$extAttributes` always `NULL` ?

Regards,
Ivan

[2016-05-02 04:06] blizam commented on #3101
The issue is resolved for me, personally, in 2.0.4... and I may have had other issues in my 2.0.2 install

[2016-05-02 04:30] devdesco-ceo commented on #3101
Good to know! :+1:

[2016-05-02 05:22] mbahar commented on #3097
I cloned the repo to install 2.0.0 , and after a 'composer update' all pub/media deleted.

[2016-05-02 05:44] afavata commented on #4346
Same behaviour on Magento 2.0.5.

[2016-05-02 07:32] dartanandan commented on #4327
@vzaporozhets i have checked magento version 2.0.5, still i get the same issue. i checked PHP Version 5.5.12 and PHP Version 7.

[2016-05-02 07:51] parthviroja opened #4367 "Magento 2.0.0 : shipping method not display when [ configured product having only 1 attribute ]"
1. Install Magento CE 2.0.0

I have added 10 configured product with only one colour attribute ( colour swatcher ).

![untitled](https://cloud.githubusercontent.com/assets/9655554/14949331/b5b2a0de-1066-11e6-8de4-41b2b6868e92.png)
1. Add This Configurable Product ( having Only One Color attribute ) to the cart.
2. In checkout page shipping method is not display.
   ![untitled](https://cloud.github

[2016-05-02 08:10] egor-volozhanin opened #4368 "Widget Banner Rotator has JS error"
## Steps to reproduce
1. add two or more of the banners
2.  add them into the widget banner rotator
3.  make one of them inactive
## Expected result
1.  the widget works without this banner.
## Actual result
1. JS error

![banner-widget-error](https://cloud.githubusercontent.com/assets/19146248/14949905/6fb6f5f4-1056-11e6-8f88-6e5e4414c827.png)

[2016-05-02 08:22] PascalBrouwers commented on #4244
I solved my issue by manually changing the status to 'valid' in the table indexer_state for catalogsearch_fulltext.

[2016-05-02 08:25] benbor opened #4369 "Why Magento/Framework/AppInterface.php doesn't have VERSION const in develop branch?"
Why VERSION const exists only for 2.0 branch? And it doesn't exist for develop branch.

[2016-05-02 08:26] hostep commented on #2561
Bump, this still isn't fixed in Magento 2.0.5

@ Magento guys, I find it hard to believe that 6 months after the "stable" release, you still cannot setup a production-like environment for Magento 2 if you use `composer install --no-dev` because of this bug, this really should get a high priority!

This is the output we get:

[code]

(please ignore the comments above for people with their 3rd party

[2016-05-02 08:54] adragus-inviqa commented on #4369
I'm guessing because the code in the `develop` branch is not released, so it cannot have a version. Think of it as a git tag.

[2016-05-02 09:02] ruby10 commented on #2607
@NadiyaS  , is there any update on it? I am also facing this issue.

[2016-05-02 09:16] srinivasanithin commented on #2607
@NadiyaS This seems to be same issue with all REST API POST call for shipments, invoice and Credit memo. Can there be a fix for all REST API Calls? This seems to be open more than 2 month now.
Issue#3307 and #4329

[2016-05-02 09:43] RafalR86 opened #4371 "store manager always returns default store id"
I'm implementing module which have to store different data for all stores, so i need get current store id and set id to db with new records. I'm trying get store id this way

`$storeId = $this->_storeManager->getStore()->getId();`

But when i change scope to another store (which has id "2") then $storeId still has value "1" (default store). I see that last param in my url has changed
`store/2/`
bu

[2016-05-02 10:09] benbor commented on #4369
It desn't have logic. Interface should always has the same definition from version to version.
I'll just leave [symfony](https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/Kernel.php#L62) [](url) [laravel](https://github.com/laravel/framework/blob/master/src/Illuminate/Foundation/Application.php#L28)  links here

[2016-05-02 10:24] vduglued commented on #2797
What's the proper/recommended fix until this goes into a prod. release? Switch production to developer mode, run upgrade, and switch back?

EDIT: my dev env is in "developer" mode and the theme files are all present. Running upgrade doesn't register the theme either.

[2016-05-02 10:32] seansan commented on #642
+1

[2016-05-02 10:43] srinivasanithin opened #4373 "Missing Items information in Returns EE REST API."
Create a Return from the customer login. Make a call to get the Returns using the REST API GET:/V1/returns/1. This will be giving the the following response which is missing the items related information.

{
  "increment_id": "4000000001",
  "entity_id": 1,
  "order_id": 62,
  "order_increment_id": "4000000024",
  "store_id": 4,
  "customer_id": 27,
  "date_requested": "2016-05-02 08:35:09",
  "cu

[2016-05-02 10:47] Igloczek commented on #2797
I fix it on production using SQL query to manually add record to `theme` table.

[2016-05-02 11:48] dimple-vasoya commented on #3572
I am getting session issues on staging server. Like not getting current page, customer data etc from the session object.
The same thing is working perfect on local. I debugged a lot but no luck. Please help!

[2016-05-02 11:54] SidneyBilliet opened #4374 "Error :: Some product variation fields are not valid when creatin configurations"
## Steps to reproduce
1. try making variants from a simple product that has a "set new from" and "set new to date" set to a past date
## Expected result
1. You should still be able to make product variants (convert this product to a configurable product with associated simple products)
## Actual result

1.You get error "Some product variation fields are not valid"
![2016-05-02_13h50_00](https://cl

[2016-05-02 12:03] tkn98 opened #4375 "Integration tests don't work after checkout"
##
1. Install Magento via composer per composer install, in my example EE 2.0.5
2. cd into the installation directory, e.g.  `cd www`
3. Make the magento CLI binary executable, e.g. `chmod +x bin/magento`
4. Export the bin subdirectory of installation directory into the path, e.g. `export PATH="$PATH:$(pwd -P)/bin"`
5. Enable the developer module as called for in the docs, e.g. `magento module:ena

[2016-05-02 12:03] SidneyBilliet opened #4376 "Problem when exporting customers"
The re seems to eb a problem when exporting customers to csv file.
We believe the problem is in the paging ...
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Make sure you have more than 20 customers in your database
   3.go to "all customers" and export to csv
   ![magento-issue1-blurred](https://cloud.githubusercontent.com/assets/13572447/17634792/87fd3172-60d4-11e6-98df-9281

[2016-05-02 12:16] wienczny opened #4377 "Hardcoded database ids used by Magento2 are broken when auto_increment does not start with 1"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Deploy database schema
3. Run "INSERT INTO eav_attribute_set
   (attribute_set_id, entity_type_id, attribute_set_name, sort_order)
   VALUES(1, 0, 'Default', 1);"
4. Deploy database data
## Expected result

Database deploy should either fail or update the value 1. I would suggest the former.
## Actual result

The database is privis

[2016-05-02 12:17] vduglued commented on #2797
Thanks @Igloczek - the direct SQL insert seems like the quick option.

[2016-05-02 12:24] Krapulat commented on #2121
Thanks @ktruehl, your fix works perfectly.

[2016-05-02 13:09] dimple-vasoya commented on #3572
The issue was because of full page cache. After disabling, session is working fine.

[2016-05-02 13:31] MikaRinneAmbientia commented on #2924
Experiencing the same. Comparing to Magento 1 on the same machine very slow (Magento 1 running on nginx, Magento 2 on apache not at the same time, though). Haven't touched any configs yet basically, development mode is enabled I think as: SetEnv MAGE_MODE developer

[2016-05-02 13:35] tdgroot commented on #1811
Really missing this feature as well, people shouldn't be removing directories when deploying..
Thinking about creating my own pull request to get it on the rails asap.

[2016-05-02 13:45] owebia commented on #3691
+1

[2016-05-02 13:52] punkstar opened #4378 "magento/framework does not require all of its dependencies"
We are developing our Magento 2 extensions and running continuous integration against them.  In the interest of failing fast, we're running our extension unit tests without having a full Magento 2 installation up and running.  In order to achieve this we get specific (as I think we should) about our actual requirements on the Magento 2 codebase in our `composer.json`, resulting in a file looking l

[2016-05-02 14:00] viktor-zhuromskyy opened #4379 "Checkout Agreements are broken on OnePageCheckout - 2.0.5"
Rest API throws 500 eror with the following error code logged:
`s:181:"Fatal Error: 'Call to a member function getAgreementIds() on null' in '/var/data/mfs/www/magento/app/code/Magento/CheckoutAgreements/Model/Checkout/Plugin/Validation.php' on line 62";
`

[2016-05-02 14:03] Vinai commented on #4366
If you check the return type hint for `\Magento\Checkout\Api\Data\ShippingInformationInterface::getExtensionAttributes()` it explicitly states that the return value might be `null`.
According to other examples in the core, the "right thing to do" seems to be to inject an `ShippingInformationExtensionFactory`.
Then use something like

[code]

Since this isn't a bug but rather the expected behavior,

[2016-05-02 14:03] #4366 closed, assigned to nobody

[2016-05-02 14:34] adragus-inviqa commented on #4378
Similar:
- https://github.com/magento/magento2/issues/3809
- https://github.com/magento/magento2/issues/3470

[2016-05-02 14:40] markshust commented on #2924
I think this ticket should be closed. Mac OS X isn't listed as supported platforms of M2:
http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html

[2016-05-02 14:54] tigerx7 commented on #4376
Similar issue to: https://github.com/magento/magento2/issues/2961 It affects all admin grids.

[2016-05-02 14:55] joanhe commented on #3583
@shalavjaiswal @xplodeart This issue looks like happen with HHVM environment only. It could be related to this HHVM issue: https://github.com/wpengine/hgv/issues/100. Could you check if you can resolve this issue by getting HHVM version with this fix or applying work around of this HHVM issue?

[2016-05-02 15:04] bwaters commented on #3583
I have seen this in other environments, depending on the version of mysql client libraries installed.  In some versions of mysql localhost is for unix sockets and 127.0.0.1 is for TCP/IP

[2016-05-02 15:12] hshar7 commented on #2924
Exactly @markoshust that's why you should give this a try: https://github.com/paliarush/magento2-vagrant-for-developers
This will allow you to develop on an OS supported by Magento without leaving the comfort of your own OS. However, I also use a LAMP stack on my mac using Macports which seems to be fast and reliable but this vagrant setup works on most systems.

[2016-05-02 15:12] #2924 closed, assigned to nobody

[2016-05-02 15:23] mazhalai commented on #4363
@shashankitsoft Windows is not officially supported, only Linux distributions are supported for production mode.  See http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html

[2016-05-02 15:24] mazhalai commented on #4281
@xplodeart are you using HHVM?

[2016-05-02 15:25] ruby10 commented on #2607
Also , for invoices created using this api , "Grand Total" is coming as "0" . Attaching screenshot
![invoice](https://cloud.githubusercontent.com/assets/12557241/14958378/31b76aca-10a8-11e6-84fb-ab16301c5d32.PNG)

[2016-05-02 15:31] sankaran-consultant commented on #2473
Its worked thanks @sintsov . you are great

[2016-05-02 15:32] 11mb commented on #2941
I have the same problem. Also the texts in the checkout popover and the javascript texts of some external modules won't translate. This is in version 2.0.4.

[2016-05-02 15:34] mazhalai commented on #4260
@kgvconsulting Thank you for reporting, closing this issue.

[2016-05-02 15:35] gewaechshaus commented on #3583
As a workaround, we've set both sockets in hhvm php.ini like
hhvm.mysql.socket = /var/run/mysqld/mysqld.sock
pdo_mysql.default_socket =  /var/run/mysqld/mysqld.sock
Give it a try...

@joanhe - Yes. This is looking like in our case. Maybe a short condition, an active socket readout and a hardcoded set on the running instance would help to avoid those setup troubles. Red mark in the docu...

@bwater

[2016-05-02 15:38] sintsov commented on #2473
@sankaran-consultant no problem, friend!

[2016-05-02 15:50] gewaechshaus commented on #4281
https://github.com/magento/magento2/issues/3583#issuecomment-216261351

[2016-05-02 15:53] mazhalai commented on #4373
@srinivasanithin please do not post EE related items on github. Please post on the partner portal.

[2016-05-02 15:53] #4373 closed, assigned to nobody

[2016-05-02 16:24] hshar7 commented on #4339
Hi @adianghel I used 2.0.4 CE to send an order notification email without getting this error. I recommend checking if you modified any templates which could cause this error.

[2016-05-02 16:24] #4339 closed, assigned to nobody

[2016-05-02 16:35] piotrekkaminski commented on #4254
@Vinai we would like to first move away from mcrypt to something better maintained and only then mark it as stable. I'm closing this request for now and it was merged into requirements for mcrypt replacement MAGETWO-38939.

[2016-05-02 16:35] #4254 closed, assigned to nobody

[2016-05-02 16:39] #4260 closed, assigned to nobody

[2016-05-02 16:55] shashankitsoft commented on #4363
@mazhalai When magento installs it checks for prerequisites, when all readiness checks okay, only then it installs further. By that way it properly installs, run and never shows warning for windows platform not supported. If not fully official, it is not unofficial too.
Further, I am currently developing on local windows, so its _not in production mode_, its in developer mode. Will host later on l

[2016-05-02 17:03] mazhalai commented on #4363
@shashankitsoft the reason this check is not in readiness check is that windows is unofficially supported only for developers. This in no way means we support running a store in production on Windows.

Re `zend_mm_heap` error, did you try this? http://stackoverflow.com/questions/2247977/what-does-zend-mm-heap-corrupted-mean

[2016-05-02 17:10] shashankitsoft commented on #4363
@mazhalai I have updated my above reply.. see.

Yes I have already checked that link for `zend_mm_heap` problem, I have disabled `output_buffering` once, restarted wamp, run fine, then enabled again , and the error gone now.

Later after struggling, (as I mentioned earlier) its currently in 'working fine' status. Until I will get the same problem again `client denied error` may be tomorrow again..

[2016-05-02 17:20] bwaters commented on #4261
Verified that the load order is not the issue here.  It is the inconsistent use of aliases that makes overriding the magento javascript modules problematic.

[2016-05-02 17:57] MikaRinneAmbientia commented on #2924
Yes, I can try vagrant next. But happy to say it works on OSX.

[2016-05-02 18:18] chris-brabender commented on #4365
I'm seeing this issue also in a slightly different area.

    <a href="<?php /* @escapeNotVerified */ echo 'http://www.facebook.com/sharer.php?s=100&' . $_u; ?>" target="_blank" title="<?php /* @escapeNotVerified */ echo __('Share on Facebook') ?>"  class="action share">

becomes:

    <a href="<?php /* @escapeNotVerified */ echo 'http: <i class="icon icon-facebook-square"></i> <span><?php /* @esc

[2016-05-02 18:28] mazhalai commented on #4369
It was refactored to be read from composer instead.
https://github.com/magento/magento2/commit/e46a3cfeccae6f8fcd1eb408719f48d2e039c433

[2016-05-02 20:05] lazyguru commented on #3991
This isn't a bug in Magento.  It's an issue in PHP 7.0.5:  https://bugs.php.net/bug.php?id=71914  Solution is to either downgrade to 7.0.4 or upgrade to 7.0.6

[2016-05-02 20:59] mikeweis commented on #4077
@Taral-Patoliya This issue has been resolved and merged to develop. Feel free to let us know if you encounter any other issues.

[2016-05-02 20:59] #4077 closed, assigned to mikeweis

[2016-05-02 21:48] ldusan84 opened #4380 "MassAction abstract class refactoring"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create a class that extends `Magento\Sales\Controller\Adminhtml\Order\AbstractMassAction`.
3. Use that mass action from dropdown.
## Expected result
1. No errors.
## Actual result
1. PHP Fatal error:  Call to a member function create() on null in /var/www/html/magento2/app/code/Magento/Sales/Controller/Adminhtml/Order/AbstractMassA

[2016-05-02 22:12] piotrekkaminski commented on #4363
API test MAGETWO-1234

[2016-05-02 22:28] pboisvert commented on #4079
Anton--please close if no reply to request for information after this long.

[2016-05-02 22:39] duffner commented on #4079
Sorry about the delay, however, if you take a second look, you will notice that the cursor is directly over the add to cart button.

[2016-05-02 22:44] patadeloso commented on #3991
Sorry, I've been meaning to update this. Can confirm that DI compiler works on CentOS 6 with php 7.0.5-2 and Debian 8 with php 7.0.4 (looks like 7.0.6 was just released on dotdeb).

[2016-05-02 22:47] pboisvert commented on #2923
passing this one to you Anton since you own product creation. Seems like a bug to have front-end display stock status so best to have logic to hide for this product type

[2016-05-02 22:51] duffner commented on #4079
Anton, I understand the  "Add to Cart", "Add to Wish List" and "Add to Compare" show up most of the time when hovering.  However, If you move up from the bottom of a product, you end up ontop of where the Add to Cart button should be, but it's not there because the Anchor is not being triggered .

http://www.filedropper.com/frontendbug   This is a quickTime video displaying the bug as a screen cas

[2016-05-02 23:41] matthew-muscat commented on #3789
Hi @cpartica,

Cart estimation is understandable, as there is no city input field, however this issue is occurring during checkout too (during the shipping step), preventing us from providing live quoting in a shipping module.

In our case we're using getDestCity() in our carrier "collectRates" method to present shipping methods based on a live quote.

The estimate-shipping-methods call is made on

[2016-05-03 04:51] wq9 opened #4381 "Cannot add product with customOptions = "File" to cart with REST API"
## Steps to reproduce
1. Create a product with Custom Options - Input type: `File` with `Required` set to true.
2. Create a guest-cart with
   `POST http://example.com/rest/V1/guest-carts`
3. Add that product to the cart with
   `POST http://example.com/rest/V1/guest-carts/1f285a847c0220210d11be4a629bac61/items`

[code]
## Expected result

The product should be added to cart and returned in the AP

[2016-05-03 05:20] afavata commented on #4346
same behaviour on a fresh installation of Magento 2.0.5 with sample data.
The multi selection attributes as "activity", "style bags", "material", etc won't be updated.

[2016-05-03 05:50] nltheme opened #4382 "Magento 2.0.4 very slow in localhost wamp windows"
increase memory limit  = 2048 MB
enabled developer mode.
let me know if i am missing any php.ini setting or apache.

[2016-05-03 05:54] Vinai commented on #4254
@piotrekkaminski Thank you for the feedback!
I don't see what is mcrypt specific on the interface, but if some work in that area is bundled in the internal ticket you mentioned then that is great. Looking forward to seeing the results!

[2016-05-03 07:30] shayanhusaini commented on #3545
Any updates on this issue? The workaround of using multi-select doesn't work for me.

[2016-05-03 07:42] bh-ref commented on #3545
@shayanhusaini  you can use my fix until an official fix is provided https://github.com/magento/magento2/issues/3545#issuecomment-215442156

[2016-05-03 08:02] tkn98 opened #4383 "Error composer install on EE 2.0.5, MAGETWO-52431"
I'm getting the following deprecation notice on installing Magento EE via comoser:

The `composer.json` for this report is:

[code]

[2016-05-03 08:04] tkn98 commented on #4382
I don't want to sound harsh, but in general, Magento 2 is not supported on Windows.

[2016-05-03 08:24] mujtaba2012 commented on #4329
Guys, any update on this? I am also facing the same issue.

[2016-05-03 08:34] carmelomtb commented on #3572
I can reproduce the bug, if is it useful I can post the code.

[2016-05-03 08:43] MikaRinneAmbientia commented on #2924
I know this is closed, my apologizies for posting, but I did a "clean" composer install without sample data on OSX, it feels faster now. Also added local server name ::1 to etc/hosts not sure if has an affect but it was advised around.

[2016-05-03 08:51] YevSent commented on #4327
@dartanandan this fix will be included into 2.0.6 release version.

[2016-05-03 09:02] shashankitsoft commented on #4382
Refer to this guide: http://www.devside.net/wamp-server/wamp-is-running-very-slow . Do appropriate settings. Magento 2.0.4 will work fine on Windows. :)
Also, refer to issue #4363 for more details.

Thanks.

[2016-05-03 09:11] benbor commented on #4369
@mazhalai thx for the answer. But aim of my question is difference in the same interface between last released version and develop branch. Maby magento  should remove VERSION const from 2.0 branch? Guys, what do you think?

[2016-05-03 09:18] komsitr commented on #3253
Hi @alena-marchenko

Do you know which release version this fix is included? I updated to 2.0.5 but the issue still persist.

[2016-05-03 09:26] tkn98 commented on #4382
Not saying it does not run, but reporting Windows issues in the Github issue-tracker is perhaps not the best venue. It perhaps makes more sense when there is a windows dedicated install section in the forums to collect the knowledge & tips and tricks?

[2016-05-03 09:45] bh-ref commented on #4346
can confirm: https://github.com/magento/magento2/issues/4312

[2016-05-03 09:47] shashankitsoft commented on #4292
+1. There should be possibility of switching back to default mode. Because, when a developer developing the code, he/she will not put it in production mode; and 'developer' mode runs too slow, so the best choice will be going back to 'default' mode which is faster than developer mode (creates pub/static files, we clean them), sometimes easier during development.

[2016-05-03 10:00] salelsol commented on #4270
- Hi, I just duplicate a product, but if Product In Websites are unchecked twice (english, spanish).
- I´m thinking this bug is related with this issue: https://github.com/magento/magento2/issues/3519 because there are many dabase entries for store view= 0 (admin: store view= 0 non existing store view for me just english:store view= 1 and spanish:store view= 2 for me) but I don´t know what can I d

[2016-05-03 10:01] salelsol commented on #4096
- Hi, I just duplicate a product, but if Product In Websites are unchecked twice (english, spanish).
- I´m thinking this bug is related with this issue: https://github.com/magento/magento2/issues/3519 because there are many dabase entries for store view= 0 (admin: store view= 0 non existing store view for me just english:store view= 1 and spanish:store view= 2 for me) but I don´t know what can I d

[2016-05-03 10:24] lgt commented on #3171
same issue on magento 2.0.4 production but on development side works

[2016-05-03 10:34] ruby10 opened #4385 "Unable to capture invoice via API "V1/invoices/{id}/capture" and from Magento2 back-end UI"
Hi there,

Scenario here is we have created an invoice in "pending" status for an order(with payment method as "Credit Card") . On expanding invoice we see an option of "capture" , on clicking it , it says it has been captured but invoice still stays in "pending" state. Same issue is faced when try capturing via provided magento2 API "V1/invoices/{id}/capture"  on page "http://devdocs.magento.com/

[2016-05-03 10:53] flancer64 opened #4386 ""magento/framework" version 100.0.7 has a bugged code."
I have installed Magento 2.0.5 using composer. Module "magento/framework" is downloaded from
https://repo.magento.com/archives/magento/framework/magento-framework-100.0.7.0.zip

There is an error in `\Magento\Framework\Translate\Inline\Proxy`:

[code]

The same method from this repo has right [code](https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Translate/Inline/Pr

[2016-05-03 11:33] joebusby commented on #4101
I am not sure from your description, but it appears our problem is the same as yours where the image will update on the product listing page, but when you click on the "Add to Cart" button and go to the "You need to choose options for your item." page the product image will not update when selecting a swatch.  When I change the base unsecure url to "https" instead of "http" the process works corre

[2016-05-03 12:05] thomasnordkvist opened #4387 "News From Date and Design Active From is set when setting Special Price for product."
## Steps to reproduce

In backend, set a special price for a product.
## Expected result
1. That only the Special Price is set.
## Actual result
1. The Special Price is set for the product
2. If you leave the field Special Price From Date blank it is default set to todays date.(This i could consider ok)
3. The field for News From Date in Autosettings is set to todays date. It's possible to change

[2016-05-03 12:19] Krapulat commented on #4376
I have the same problem.

[2016-05-03 12:23] heldchen commented on #3102
2.0.5 is also affected.

[2016-05-03 12:47] dartanandan commented on #4327
Thanks for you replay. May i know how long it will take to release the version 2.0.6 please.

[2016-05-03 14:10] mazhalai commented on #4383
@tkn98 Please do not post EE issues on github. Use the partner portal please.
We are aware of this on latest version of composer, we have an internal task for it. MAGETWO-52431

[2016-05-03 14:10] #4383 closed, assigned to nobody

[2016-05-03 14:12] mazhalai commented on #4382
Closing since this is not a bug.

[2016-05-03 14:12] #4382 closed

[2016-05-03 14:18] mazhalai commented on #4363
Closing as not a bug.

[2016-05-03 14:18] #4363 closed, assigned to nobody

[2016-05-03 14:20] kanduvisla commented on #4145
I have the same problems when I want to look at an order in Magento 2.0.4

[2016-05-03 14:52] pboisvert commented on #4329
@mbrinton01 can you ping the API team on this issue?

[2016-05-03 14:55] pboisvert commented on #4387
@antboiko can you check if this is working as intended/documented or a bug?

[2016-05-03 15:28] pboisvert commented on #4097
@antboiko please capture improvement for 2.x backlog if not already done

[2016-05-03 15:49] twslade opened #4389 "Widget cache error"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Add two widgets of type 'Catalog Product List' to the 'CMS homepage' at location content.bottom with different titles, but the same conditions. For example, condition could be product price is greater than 0
3. Refresh cache and visit homepage
## Expected result
1. Two widgets appear on homepage with the same products, but differen

[2016-05-03 16:41] hshar7 commented on #3919
Hi @cs221313 which functionality in Magento allows you to add new region? Did you develop this feature? Because as far as I know the regions are added only during setup. Please give steps or use case.

[2016-05-03 16:45] shashankitsoft commented on #4363
@mazhalai  Don't know why  you closed it, when I clarified to you its in 'developer' mode not 'production' mode. (the issue still exists)

[2016-05-03 17:06] smalenshek commented on #2856
shiftedreality/victorgugo,

Can either of you tell me if this is still an active issue.  I have the same thing going on except in a different scenario.  Mine is in a post M2 2.0.5 upgrade from 2.0.4.

Thanks.