[2020-09-15 07:19] Eddcapone commented on #29977
Where can I find the repository for Enterprise? And how can I get permission?

[2020-09-15 08:40] omarmohssen opened #30050 "Catalog price rule indexer doesn't work properly with update on save mode"
### Preconditions (*)

1. Magento 2.3.5-p1 (but also previous 2.x.x versions seem to have this issue)
2. From index management set the catalog price rule indexer on the update on save mode

### Steps to reproduce (*)

1. Create a new active catalog price rule from admin (for example for a specific product sku) => notice on Frontend the price is updated
2. Make any change to the rule (change the st

[2020-09-15 09:04] koushikch7 commented on #30050
@magento give me 2.3.4-develop instance

[2020-09-15 09:06] koushikch7 commented on #30038
@magento give me 2.3.4-develop instance

[2020-09-15 09:15] koushikch7 commented on #30026
@magento give me 2.3-develop instance

[2020-09-15 09:19] neulhoangtran opened #30051 "Sorry, but something went wrong When order by braintree"
### Preconditions (*)

1. got "Sorry, but something went wrong" message when order by braintree

### Steps to reproduce (*)

1. When i create an order with braintree payment i got "Sorry, but something went wrong" message https://prnt.sc/uhjcko
2.

### Expected result (*)

1. order success

### Actual result (*)

1. https://prnt.sc/uhjcko
2.

---
please help me with this issues. i installed on oth

[2020-09-15 09:28] asim-vax commented on #23938
Unfortunately no, we still use credit memo functionality - but it is wrong. Thanks @sprankhub we will take a look at this.

[2020-09-15 10:13] shikhamis11 commented on #30048
@magento give me 2.3.4 instance

[2020-09-15 10:24] magento-engcom-team commented on #30050
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37661` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-15 10:27] engcom-Oscar commented on #28658
Hello @alexmtch
Thank you for contribution and collaboration!

@sdzhepa , please move this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.
[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) a

[2020-09-15 10:35] shikhamis11 commented on #30048
Hi @andhikaribrahim

I checked `stock_status` is working fine with `products` query on magento 2.3.4 as well as on 2.4-develop instance. Please let me know if any additional steps require to reproduce this issue .

[2020-09-15 10:36] shikhamis11 commented on #30048
also you may try to reproduce this issue on 2.4-develop instance
please refer [this](https://github.com/magento/magento2/issues/30048#issuecomment-692443143)

[2020-09-15 11:18] Javiercc78 commented on #26854
It doesn't seem to be fixed. Magento 2.3.4.

Continue 0 without selecting an option

[2020-09-15 11:27] shikhamis11 commented on #30047
@magento give me 2.4-develop instance

[2020-09-15 11:58] krishprakash commented on #30039
@magento give me 2.4-develop instance

[2020-09-15 12:00] leogent commented on #30048
It is because MSI is disabled.

[2020-09-15 12:01] andhikaribrahim commented on #30048
Hi @shikhamis11 as @leogent says it's because our platform disabled the MSI. I'm going to close the issue now.

[2020-09-15 12:01] #30048 closed, assigned to shikhamis11

[2020-09-15 12:05] Vishrootways opened #30053 "Delivery Methods Missing from User Roles"
**Preconditions:**
1. Magento 2.4.0

**Steps to reproduce**
1. Login to the Magento admin
2. Go to SYSTEM > Permissions > User Roles
3. Add/Edit Role.
4. Go to "Role Resources" from left side tab.
5, Select "Custom" from "Resource Access" drop down.

**Expected result**
1. "Delivery Methods" should be display under the Resources and admin can creates a user role to allows the access of "Delivery M

[2020-09-15 12:11] hostep commented on #27200
@Elamurugan-Nallathambi: what issue do you have exactly? Running `composer update` or `composer update php-amqplib/php-amqplib` will probably fix it.

[2020-09-15 12:14] krishprakash commented on #30039
Hi @kodubovik. Here I can not reproduce the issue  on latest 2.4-develop instance as provided steps by you.

![image](https://user-images.githubusercontent.com/46617848/93208715-a2587b80-f77a-11ea-9837-9d976c6caa4f.png)

- Follow the below steps:
- Front end: Add any configure product into cart
- Go to shopping cart
- Open admin in different tab -> Login into admin
- Delete that configure product

[2020-09-15 12:25] Digisha-97 commented on #28100
/vendor/magento/module-catalog/Model/Category/Attribute/Backend/Image.php
public function beforeSave($object)

In This method below code is creating issue
$value[0]['url'] = '/' . $baseMediaDir . '/' . $newImgRelativePath;
$value[0]['name'] = $value[0]['url'];

Update it with
$value[0]['url'] = $baseMediaDir . $newImgRelativePath;
$value[0]['name'] = $value[0]['name'];

This will fix issue
Do Not

[2020-09-15 12:26] magento-engcom-team commented on #29506
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37664` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-15 12:26] magento-engcom-team commented on #30047
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37665` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-15 13:04] girishanand commented on #28161
Basically API call on payment method selection needs to be disabled for any payment method.
The other way to disable it like @speedupmate mentioned is using the composer instead.

`"scripts": {
	"post-install-cmd": [
		"perl -pi -e \"s|'Magento_SalesRule/js/action/select-payment-method-mixin': true|'Magento_SalesRule/js/action/select-payment-method-mixin': false|\" vendor/magento/module-sales-rule

[2020-09-15 13:29] quickshiftin commented on #10533
Yup, template path hints are borderline useless. Just pointing out to the core team that there is a built-in debugging tool. Furthermore suggesting a similar simple tool (checkbox in the admin / flag we can set on the cli) to enable dump of layout xml on the frontend would be vastly more useful.

[2020-09-15 14:28] mrtuvn opened #30054 "Bundle item option qty incorrect after add to cart"
### Preconditions (*)

1. CE 2.4-develop
2. Sample data installed
3. Theme used Luma (optional)
4. No customises

### Steps to reproduce (*)

1. View product bundle (in my case use product Companion kit yoga base on default luma)
2. Click button "Customize and Add to Cart"
3. Change qty of one option to 0 (default magento is 1)
4. Make sure summary info updated and show correct item (qty/price)bef

[2020-09-15 14:30] mrtuvn commented on #30054
@magento give me 2.4-develop instance

[2020-09-15 14:35] SunwayAcc20 opened #30055 "Total Due in exported .csv files do not reflect correct value"
@magento delete this

[2020-09-15 14:41] sdzhepa commented on #26680
Thank you @lfluvisotto  for verification and confirmation!

Close this issue as already fixed in the `2.4-develop`

[2020-09-15 14:41] #26680 closed, assigned to nobody

[2020-09-15 14:43] mrtuvn commented on #30054
![Screenshot from 2020-09-15 21-41-51](https://user-images.githubusercontent.com/1908873/93225421-69310300-f79c-11ea-86f0-ec580216cd3f.png)
i can reproduced issue in magento test instance

[2020-09-15 14:49] Eddcapone opened #30056 "Delta Migration failing if destination database has 0 entries"
#25244 # Summary (*)
I am running delta migration. I had to truncate a table in M2, so now I get: **Mismatch of entities in the document: catalog_product_entity Source: 6031 Destination: 0**

How can I repair that?

### Examples (*)

-

### Proposed solution

-

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Iss

[2020-09-15 14:52] mdenchev-aiopsgroup commented on #29320
This is very annoying bug. It causes issues with content that was previously in TinyMCE and now being saved from Page Builder. The contained, full bleed or full width options should has a fourth one called "None". Or to allow content without a row. There is way too many legacy content, mostly managed by merchants team which are not necessary experts in Magento layout.

[2020-09-15 15:17] dkilcoyne commented on #13952
- Have you made any traction? We're having the same issue as well. 2.3.5-p1. We're working with Magento to confirm and patch the issue but it's been slow going.

[2020-09-15 15:20] engcom-Oscar commented on #30018
Hi @gwharton , thank you for your report. I have checked this issue and it reproducing even without MSI modules, on vanila 2.4-develop branch of Magento. This why I have removed MSI from description, then we could proceed to work with it on our repository.

[2020-09-15 15:21] magento-engcom-team commented on #30018
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37666` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-15 15:23] dkilcoyne commented on #13952
Seems to be related to a db lock updating the # of times a promo code was used. When this times-out the user is given error where they order again, with the same quoteId. You can see the same rule_id being locked.
![log1](https://user-images.githubusercontent.com/580036/93230565-cc437b00-f745-11ea-9944-fbfd19ede6d0.jpg)
![log2](https://user-images.githubusercontent.com/580036/93230569-ccdc1180-f74

[2020-09-15 15:37] magento-engcom-team commented on #30015
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37670` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-15 15:40] bjornsnoen commented on #30026
@ihorvansach

I can reproduce it in 2.4. You have to save the selection first, with a value that is not the preferred value. So in your example you've declared that you depend on the value `processing` being selected in multiselect_id. If you first select `Pending` and save, then ctrl-click `Processing` in the multiselect, voila, the depending field does not show up.

As soon as you apply my propo

[2020-09-15 15:45] magento-engcom-team commented on #30054
@ihor-sviziev Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-15 15:46] magento-engcom-team commented on #30054
:white_check_mark: Confirmed by @ihor-sviziev
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37671` were created

**Issue Available**: @ihor-sviziev, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-15 15:59] m2-assistant[bot] opened #30058 "[Issue] MFTF: Replace repetitive actions with Action Groups in AdminUpdateCategoryAndMakeInactiveTest and VerifyChildCategoriesShouldNotIncludeInMenuTest"
This issue is automatically created based on existing pull request: magento/magento2#30049: MFTF: Replace repetitive actions with Action Groups in AdminUpdateCategoryAndMakeInactiveTest and VerifyChildCategoriesShouldNotIncludeInMenuTest

---------

### Description (*)
AdminUpdateCategoryAndMakeInactiveTest and VerifyChildCategoriesShouldNotIncludeInMenuTest are refactored according to the best pr

[2020-09-15 15:59] irenelagno opened #30059 "Test issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-15 15:59] irenelagno commented on #30059
@magento confirm issue

[2020-09-15 16:00] magento-engcom-team commented on #30059
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MC-37675) is successfully created for this issue.

[2020-09-15 16:02] #30059 closed, assigned to nobody

[2020-09-15 16:20] magento-engcom-team opened #30060 "Test Issue for GJSS"
Test Issue for GJSS

[2020-09-15 16:20] magento-engcom-team commented on #30060
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37676

[2020-09-15 16:23] omiroshnichenko commented on #28658
Hi, @alexmtch.  Unfortunately, it is not possible now. Because knockout.js doesn't support CSS variables. It could be done with extending style binding from the Pagebuilder side, but it is more feature request than a bug. I am gonna move this issue to the Page Builder repo.

[2020-09-15 16:24] #30060 closed, assigned to lenaorobei

[2020-09-15 16:30] magento-engcom-team commented on #29933
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information i

[2020-09-15 16:30] engcom-Oscar commented on #29992
Hello @haunguyen1989

Thank you for your report.
Unfortunately, we are not able to reproduce this issue on the latest 2.4 composer version of Magento CE. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please recheck this issue on clean Magento installation and confirm?

[2020-09-15 16:31] magento-engcom-team commented on #29933
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37677` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-15 16:39] m2-assistant[bot] opened #30061 "[Issue] Remove wrong tags"
This issue is automatically created based on existing pull request: magento/magento2#29868: Remove wrong tags

---------
### Summary (*)

Magento 2.4-develop
This PR removes wrong tags
<pre>
Structure of documentation space
@author ,@category, @package, and @subpackage MUST NOT be used. Documentation is organized with the use of namespaces.
</pre>
Regarding https://devdocs.magento.com/guides/v2.4/

[2020-09-15 16:43] magento-engcom-team commented on #30061
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37678` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-15 16:50] sidolov commented on #26374
Should be validated with store code usage in the URL

[2020-09-15 16:52] GrimLink opened #30063 "editorconfig: use an indentation of 2 for json and yaml files"
### Summary (*)
Consider using a indentation of 2 for json and yaml files.
The recommended default for the package.json and yaml files is 2.

The only exception is composer that uses 4.

### Examples (*)
_None, this just a formatting suggestion_

### Proposed solution
See my Pr #30062

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog

[2020-09-15 17:03] sidolov commented on #26209
`Risk: high` since refactoring may affect checkout flow.

[2020-09-15 18:03] wssweb commented on #29884
**Stores > Settings > Configuration > Two Factor Auth** also seems to be required. To get our new users to log in I had enable this and **System > Permissions > Two Factor Auth** as mentioned above.

If I just enabled **System > Permissions > Two Factor Auth** then I would get the same "Sorry, you need permissions to view this content." error. If I only enabled **Stores > Settings > Configuration

[2020-09-15 20:40] sdzhepa commented on #24696
Hello @andy17612

During work on https://github.com/magento/magento2/pull/25372 that should fix this issue
was confirmed then issue cannot be reproduced on the latest `2.4-develop` branch.
This PR was closed because we are not able to deliver changes to the previous Magento versions through this repository.
We can accept, collaborate, fix, and deliver issues that actually on the `2.4-develop` only

[2020-09-15 20:40] #24696 closed, assigned to nobody

[2020-09-15 20:50] lenaorobei commented on #30046
@magento I'm working on this

[2020-09-15 20:57] GrimLink opened #30064 "Input type datetime is used in lib styles"
The `input[type=datetime]` has been depricated for some time -> https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime
But is still used in the `lib/web/css/source/lib/_forms.less`

### Preconditions (*)

1. This issue is found in all magento 2 versions

### Steps to reproduce (*)
None, this styling issue, that has no major impact.

### Expected result (*)
The styling is applied

[2020-09-15 21:05] lenaorobei commented on #30046
@magento add to contributors team

[2020-09-15 21:21] m2-assistant[bot] opened #30066 "[Issue] Feature/formatting json yaml"
This issue is automatically created based on existing pull request: magento/magento2#30062: Feature/formatting json yaml

---------

### Description (*)
Consider using a indentation of 2 for json and yaml files.
The recommended default for the package.json and yaml files is 2.
The only exception is composer that uses 4.

I know yaml is not a file format found in Magento 2 by default.
But it is use

[2020-09-15 21:31] sdzhepa commented on #25344
Hello @sudheers-kensium

After a couple of discussions was found the additional potential value of issue.
It can remove not only block/view but also improve performance. As I understood not two requests happen to get  Wishlist items. One for the widget and one for page content

[2020-09-15 22:05] sdzhepa commented on #30050
Hello @omarmohssen and @engcom-Oscar

Probably some details in steps are missed but it looks like not a bug but expected behavior.
To apply the Catalog Price Rule in Open Sorce Magento(CE)  admin should use the "Save and Play button" or Save or rule adit page and then click "Apply" on the grid with rules.
Only after that re-index will be triggered and rules will be applied on Storefront.
It was do

[2020-09-15 23:58] franconicolasocchi commented on #26908
Still present in 2.4.0.

[2020-09-16 05:45] ananth-iyer commented on #13352
@trinhpham Please check my gist for more detail because this is not Magento 2 or Nginx issue. Rather a missing configurable.
Gist link: https://gist.github.com/ananth-iyer/e318d587157dd87093f43b5b6456852d

[2020-09-16 05:59] ihor-sviziev commented on #30066
Duplicates https://github.com/magento/magento2/issues/30063

[2020-09-16 05:59] #30066 closed, assigned to nobody

[2020-09-16 06:01] ihor-sviziev commented on #30063
Priority and Severity labels were copied from https://github.com/magento/magento2/issues/30066 that duplicates this issue

[2020-09-16 07:01] LiamTrioTech opened #30068 "Trim user input e.g. Shipping & Billing fields."
### Description (*)
There should not be extra spaces on the end of fields a customer can input.

### Expected behavior (*)
trim them out.

### Benefits
A nice to have thing, but cropped up in an issue with some custom code.
I can trim it in my code of course but it should be trimmed already.

Magento 2.3.0

[2020-09-16 07:02] LiamTrioTech commented on #30068
@magento give me a 2.4-develop instance

[2020-09-16 07:02] LiamTrioTech commented on #30068
@magento give me 2.4-develop instance

[2020-09-16 07:08] ihor-sviziev commented on #29865
@Eddcapone if we don't really have exact steps to reproduce - can we close this issue?

[2020-09-16 07:18] Eddcapone commented on #29534
I have the same problem. I entered valid credentials but I still get the error! Magento 2.4.0 has too many bugs.

[2020-09-16 07:24] Eddcapone commented on #29534
I had the same problem because I accidentially entered a wrong port number.

[2020-09-16 07:30] SunwayAcc20 commented on #30055
@magento give me 2.4-develop instance

[2020-09-16 07:38] Eddcapone commented on #29865
Yes, the solution/workaround is to switch to production and then to developer (or to stay on production)

[2020-09-16 07:38] #29865 closed, assigned to nobody

[2020-09-16 07:47] magento-engcom-team commented on #25038
Hi @piotrusin.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-31913` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you stil

[2020-09-16 07:47] #25038 closed, assigned to nobody

[2020-09-16 08:08] omarmohssen commented on #30050
Hello @sdzhepa,
1- What details in steps are missing?
2- There is no such a button called Apply or save and apply neither in CE nor in EE there is only save, save and continue
3- We know how expensive is indexing but I don't agree with you in considering this a good behaviour, as long as the indexer's mode is update on save it is expected for the save to be expensive and it should act as other ind

[2020-09-16 08:48] engcom-Oscar commented on #30054
Hello @mrtuvn,
cc @ihor-sviziev
Thank you for your report.
Sorry, but I can't agree that described issue is a bug. As I see in admin on 'Sprite Yoga Companion Kit' bundle product page, all options there set to 'required'
![image](https://user-images.githubusercontent.com/60198413/93313082-ab942780-f810-11ea-8b6b-2b39e84b31a4.png)
this mean you can't avoid of buying this option. Next - all these bu

[2020-09-16 08:48] #30054 closed, assigned to nobody

[2020-09-16 09:25] mrtuvn commented on #30054
Yes i agreed with your points

[2020-09-16 09:48] gabrieldagama commented on #30029
Hi @michael1986, thanks for your report. I believe if you are using a plugin or observer that will be running during the `collectTotals()` you should get the quote from the `$subject` or the `$event` instead of getting from the session, you are right, the scenario described will cause problems.

I believe the proposed solution may cause other problems, and possibly the `collectTotals()` not being

[2020-09-16 09:48] #30029 closed, assigned to nobody

[2020-09-16 09:59] fooman opened #30071 "BC in Magento\Sales\Model\Order\Pdf"
### Preconditions (*)

1. current 2.4-develop and/or 2.4.1-beta1

### Steps to reproduce (*)

1. check https://github.com/magento/magento2/commit/66d259ed37ac8d7170012e14efb5df12c562cf13

### Expected result (*)

1. removal of parameter should trigger version bump for module-sales or new param should be added at the end see https://devdocs.magento.com/contributor-guide/backward-compatible-developm

[2020-09-16 10:06] engcom-Oscar commented on #29999
Hello @aurensistemas

Thank you for your report.
Unfortunately, we are not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release.
Could you please recheck it on clean Magento installation and confirm?

![image](https://user-images.githubusercontent.com/60198413/93323461-57437480-f81d-11ea-8b8e-614cece752fb.png)

[2020-09-16 10:21] ihor-sviziev commented on #30054
@engcom-Oscar the issue that customer put 0 instead of 1 and there are no errors before adding it to cart, also we don't have any error messages during add to cart that qty can't be 0 as it's required. Don't you think so?

[2020-09-16 10:31] engcom-Oscar commented on #30003
Hello @vkranjith
Thank you for contribution and collaboration!

@sdzhepa could you please move this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.
[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/

[2020-09-16 10:39] magento-engcom-team commented on #23881
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37690` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-16 10:48] magento-engcom-team commented on #29185
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37691` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-16 10:56] kkorushkin commented on #9537
Hi everyone! Any update on this?

[2020-09-16 11:22] stollr opened #30900 "Cannot setup SSL connection to elasticsearch"
There are several elasticsearch configuration options for the `setup:install` command (see [here](https://devdocs.magento.com/guides/v2.4/install-gde/install/cli/install-cli-install.html#instgde-install-cli-magento)), but there is none to specify the usage of ssl.
If elasticsearch is only available via https, this will end in a `Could not validate a connection to Elasticsearch. null ` error.

Some

[2020-09-16 11:43] engcom-Oscar commented on #29910
Hello @pmarjan
Thank you for contribution and collaboration!

@sdzhepa could you please move this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.
[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/is

[2020-09-16 12:00] othuress commented on #19497
We are on Magento 2.3 and have this issue, Magento does not assign the correct customer gorup for valid VAT. Could be that it is just intra union VATs that is the problem. Magento might not handle DEXXXXX or ATUXXXXXX and assign a valid customer group based on that.
Please see
https://magento.stackexchange.com/questions/123436/magento2-new-customer-assignment-to-group-for-valid-vat-id-doesnt-seem-

[2020-09-16 12:22] magento-engcom-team commented on #29445
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37692` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-16 13:17] simonmaass commented on #7350
@magento-engcom-team any update here if this will get fixed?

[2020-09-16 13:27] PromInc commented on #28763
@navarr sorry no I haven't had a chance to test the patch yet.  A 3rd party developer provided a solution for us that we are using currently.

Regarding the patch file, how can I apply the patch is a safe way?  The patch modifies a file in the `vendor` directory which is controlled by composer.  A `composer install` or `composer update` will wipe out the patch.

Thanks.

[2020-09-16 13:32] navarr commented on #28763
@PromInc If using Magento Cloud or ECE Tools during deployment, you can place it in m2-hotfixes

Otherwise, I recommend using the [cweagans/composer-patches plugin](https://devdocs.magento.com/guides/v2.4/comp-mgr/patching.html#composer)

[2020-09-16 13:44] magento-engcom-team commented on #29862
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37693` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-16 13:51] Stepa4man opened #30073 "Store specific text swatch attribute option label with value 0 (zero) can't be saved and automatically replaced with Admin Label value of option"
Store-specific text swatch attribute option label with value 0 (zero) can't be saved and automatically replaced with Admin Label value of the option

### Preconditions
* Magento 2.3.5-p2, 2.4-develop

### Steps to reproduce
1. Create multistore Magento instance
2. Create text swatch attribute
3. Insert in non-default store label input field **0** (like at the screenshot)
![image](https://user-imag

[2020-09-16 13:53] Stepa4man commented on #30073
@magento give me 2.4-develop instance

[2020-09-16 13:55] ihorvansach commented on #30026
@bjornsnoen , I've made re-test and get the same result. It works for me.
I used this simple extension to test
Archive: https://drive.google.com/uc?id=1WVk0uULPBmdJs_NShY6X0mE1tSxq2thg&export=download

![issue-30026](https://user-images.githubusercontent.com/48525307/93346931-2ffc9f80-f83d-11ea-9fae-91145dc65629.gif)

Maybe the issue related to the specific browser or admin panel locale.
Can you p

[2020-09-16 14:13] bjornsnoen commented on #30026
@ihorvansach in your recording you do not follow the steps to reproduce. After you saved you selected only processing, which indeed works. After saving you have to ctrl-click processing so it is added to your selection instead of replacing the selection.
I'll see about getting some kind of screen recording to demonstrate.

I am using the Brave browser on linux in default us english locale.

[2020-09-16 14:43] bjornsnoen commented on #30026
While recording I found the correct way to trigger this. Saving doesn't seem to affect it. What matters is the order of items selected in the multiselect. If the item you depend on being selected is after another selected item in the list, the depend will not trigger.
![proof](https://user-images.githubusercontent.com/6099970/93352984-b3b58c80-f83b-11ea-8a28-27c7e8104bca.gif)

[2020-09-16 15:54] salelsol commented on #29263
-    Years waiting for a solution to this serious problem.  I need to follow the development of the solution if it is finally found.

[2020-09-16 17:44] raghav111jain opened #30078 "How to solved CSS revert Back Issue"
### Preconditions (*)

1.Magento 2.3.5
2.php 7.3

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help dur

[2020-09-16 19:06] sdzhepa commented on #30050
Hello @omarmohssen

Thank you for the quick response!

A detailed User flow scenario/steps will help a lot to understand the problem and what exact steps to reproduce should be.
I mean, what exactly value Admin inputted during creating Catalog Price Rule, which button(s) Admin clicks to save Rule, which buttons used to Apply the Catalog Price rule, etc. Please see [Issue reporting guidelines: Step

[2020-09-16 19:26] sdzhepa commented on #29977
To have access to the repository for Enterprise need to be a participant of [Magento Solution Partners Contribution Program](https://github.com/magento/magento2/wiki/Magento-Solution-Partners-Contribution-Program)

[2020-09-16 19:28] hostep commented on #29865
This makes no sense, there should be no difference in hashing algorithm behavior between developer and  production mode.

----

@ihor-sviziev: out of curiosity: on what is this statement based?

[2020-09-16 19:31] ihor-sviziev commented on #29865
@hostep in developer mode all notices are treated as exception, while in production doesn’t. Interesting thing that we still don’t have clear instruction how to reproduce this issue on clean magento installation, maybe some extension caused this issue.
If you have any - let us know

[2020-09-16 19:47] sdzhepa commented on #25744
This issue should be re-confirmed on the latest `2.4-develop` code.
It seems was already fixed since 2019 till now.

[2020-09-16 19:50] sdzhepa commented on #25726
The issue should be re-verified and re-confirmed on the latest `2.4-develop` code.

[2020-09-16 19:56] sdzhepa commented on #25670
All internal PRs with fixes had been delivered https://github.com/magento/magento2/issues/25670#issuecomment-640233405

We can close this issue as fixed.
But if some part was not fixed or missed, please create new Issue with reference to this one

[2020-09-16 19:56] #25670 closed, assigned to vzabaznov

[2020-09-16 19:57] #25602 closed, assigned to nobody

[2020-09-16 20:35] sdzhepa commented on #29910
Hello @engcom-Oscar
As you can see the issue has a label "Project: GraphQL"
It means this issue related to the additional project, which has its own workflow, issue processing, working with the backlog and delivery etc.

Our process for the Issue Confirmation process is applicable only for community reports which do not have a "Project: XXXX" label. The responsible team(s)/person(s) assigned to th

[2020-09-16 21:05] mary-pace opened #30082 "Watermark Background Issue"
### Preconditions (*)

1. Magento ver. 2.3.5-p2
2.

### Steps to reproduce (*)

1. Using Product Image Watermark upload
2. Upload image/logo file with no/partial background
3. Black Background appears in parts of image with no background when image intersects with product image.
see link for example: https://pd1.comstarproducts.com/electric-motor-oil-1-gallon-6-45-440

### Expected result (*)

1.

[2020-09-17 01:02] huykon opened #30083 "[GraphQl bug] query Products in category is wrong price when set catalog price rule promotion for specific customer group"
### Preconditions (*)

1. Magento 2.4.0

### Steps to reproduce (*)

1. Setup catalog price rule promotion with condition only customer login group for category A. The rule will discount 10% price for all products on this category.
2. Try to query graphql [products](https://devdocs.magento.com/guides/v2.4/graphql/queries/products.html) to get all product of category A with 2 situation:
- Not login

[2020-09-17 01:12] indunil15 opened #30084 "Braintree | PaymentInstrumentType::COINBASE_ACCOUNT | constant is missing"
### Steps to reproduce (*)

1. Setup the Magento 2.4
2. Log into the Admin
3. Navigate to Reports -> Sales -> Braintree Statement

### Expected result (*)

1. Should show Admin grid

### Actual result (*)

1. Shows an error page
`Error: Undefined class constant 'COINBASE_ACCOUNT' in /app/vendor/paypal/module-braintree-core/Ui/Component/Report/Listing/Column/PaymentType.php:47 Stack trace: #0 /app/

[2020-09-17 03:33] #29092 closed, assigned to munkhulzii, pmarjan

[2020-09-17 03:37] krishprakash commented on #30078
Hi @raghav111jain.
GitHub issue tacker is intended for Magento core technical issues only
 Kindly refer community forum or Magento stack exchange for discuss about this topic
Thanks!!

[2020-09-17 03:37] #30078 closed, assigned to krishprakash

[2020-09-17 05:12] VZeroCool commented on #30084
@magento give me 2.4-develop instance

[2020-09-17 05:17] ajijshekh123 commented on #30053
@magento give me 2.4-develop instance

[2020-09-17 05:29] chequille commented on #27898
Maybe I know the reason. I have the same problem with the breadcrumbs on product page. They are not showing the category name if the category is not included in the menu. See screenshot:
![grafik](https://user-images.githubusercontent.com/15807794/93423509-704c3400-f8b6-11ea-96d7-bc595eecf2d7.png)
if I set my cateogories to "Show in Menu = Yes", than the breadcrumbs on the productpage do show the

[2020-09-17 05:49] ajijshekh123 commented on #30053
Hi @Vishrootways & @sdzhepa,
After the update the admin roles permission I can't able to access the default admin configuration and not able verify the issue.
See attached the screenshot:
![image](https://user-images.githubusercontent.com/24711761/93425326-5c64fa00-f8d7-11ea-8751-464d40957d16.png)

@sdzhepa - Can you please verify this issue on your end Or Allow to edit the admin user permission?

[2020-09-17 06:47] magento-engcom-team commented on #29524
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37706` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-17 07:18] omarmohssen commented on #30050
@sdzhepa thank you for the provided answer
1- the issue reproduces no matter the values, the above steps are clear, just keep the indexer on the mode update on save, create a rule with any values let's say 10% discount, go to frontend you will notice the rule has been applied to the product without any need of running reindex. now go to the rule and make any change, or just disable it and save, no

[2020-09-17 08:04] ilnytskyi commented on #26507
it's possible to install each cron group separately with lock as I described in this comment
https://github.com/magento/magento2/issues/25987#issuecomment-576034263

[2020-09-17 08:09] BrentRobert opened #30085 "[Translations] Translations Table has the wrong collation"
### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1. Add a translation to the translations table with the string 'Cancel Coupon'.
2. Add a translation to the translations table with the string 'Cancel coupon'.

### Expected result (*)

1. It should be possible to add multiple capitalised versions of a string.

### Actual result (*)

1. It'll give a 'Unique constraint violation fou

[2020-09-17 08:24] Stepa4man commented on #30041
@Xaviera7 seems like you use custom checkout. Please check that this error can be reproduced on Vanilla Magento instance.
I can recommend asking the custom checkout module provider about this issue.
In case if you are sure it's reproducible with Vanilla Magento - please provide more info about what table rates do you use.

[2020-09-17 08:26] AndresAndreev commented on #22142
I had the same problem on Magento 2.2.8. I can confirm that the issue is related to `app:config:dump` / `app:config:import`. When I removed all tablerates related configurations in `config.php` file, I managed to import the csv file.

[2020-09-17 08:44] usman786cs commented on #29365
Thanks @BavoJanss  it worked for me...

[2020-09-17 09:17] engcom-Oscar commented on #25726
Hello @jerome-zhang

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.
If you have some more details how to reproduce this issue on latest 2.4 Magento, feel free to update the description and reopen it.

[2020-09-17 09:17] #25726 closed, assigned to engcom-Oscar

[2020-09-17 09:57] #30041 closed, assigned to nobody

[2020-09-17 10:02] magento-engcom-team commented on #29590
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37711` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-17 10:06] engcom-Oscar commented on #30050
Hi @omarmohssen, @sdzhepa
I have recheck this issue on latest 2.4-develop Open Source code and can see that Catalog price rule successfully applying after clicking 'Apply Rules' or 'Save and Apply'  buttons, Prices on category page changed as they should.

[2020-09-17 10:13] gabrieldagama commented on #29642
Closing this issue since it was not reproducible on 2.4.

[2020-09-17 10:13] #29642 closed, assigned to nobody

[2020-09-17 10:18] magento-engcom-team commented on #30073
@engcom-Oscar Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-17 10:25] woutersamaey opened #30087 "Bad table design: Remove the attribute_set_id field from eav_entity_attribute and use a join with eav_attribute_group to access the attribute_set_id"
### Preconditions (*)
Table eav_entity_attribute contains both an attribute_set_id and a attribute_group_id, but the attribute_set_id is also available in  eav_attribute_group making the attribute_set_id field superfluous in eav_entity_attribute. Best to remove this column and join eav_attribute_group to access the attribute_set_id.

### Steps to reproduce (*)
No need to reproduce.

### Expected r

[2020-09-17 10:27] DavaGordon commented on #29871
This issue was down to an old package being required in the base composer file. this is now resolved

[2020-09-17 10:27] #29871 closed, assigned to nobody

[2020-09-17 10:37] magento-engcom-team commented on #30073
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37713` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-17 11:00] chesuch-smarte opened #30088 "Simple product save sets configurable Stock Status to Out Of Stock (MSI)"
### Preconditions (*)
Magento ver. 2.3.3 (CE)
MSI - Multiple Inventory Sources setup, a default one and multiple others

### Summary (*)

All products currently have no stock within the Default stock source.
All products currently have all their stocks set only against a secondary stock source.

When viewing a simple product, we see 2 stock sources:
Default stock source which has 0 stock and a Sou

[2020-09-17 11:02] francescorm commented on #19220
i have got the same issue. Table Metadata Lock for trg_cataloginventory_stock_item_after_inser.

How do you have solved?

[2020-09-17 11:35] ihor-sviziev commented on #29365
Hi @DiegoSana @usman786cs,
Could you add some additional info how we can reproduce this issue?

Could you try to execute following SQL and let us know if there any result?
This SQL checks if you have any product values that not belongs to any product
[code]

[2020-09-17 11:48] HeiderSati commented on #29365
1) Have a previous Magento (mine is 1.9.3.8) with data, in particular some entries in the url_rewrite table.
2) Run the data-migration-tool to migrate into 2.4.0
3) Run the tool again with --reset (or -r) option.

You should see the issue.

With debugging, it appears that the upgrade script would read the table, do some processing to the records (no changes applied) and then it would try to "inser

[2020-09-17 11:58] engcom-Oscar commented on #29949
Hi @nickpiro

I still can't reproduce this issue on 2.4-develop code. I check it by next scenario:

1. Create Cart Price Rule for specific Customer Group (e.g. Retailer) with Action - Free shipping
2. Create customer and set the same Customer group for him
3. Disable Cart Price Rule in Admin
4. Run cron twice to apply changes in the rule
5. Create order from admin with created customer
As result -

[2020-09-17 12:06] krishprakash commented on #29550
@magento give me 2.4-develop instance

[2020-09-17 12:12] ihor-sviziev commented on #29365
@engcom-Alfa could you check the following comment? https://github.com/magento/magento2/issues/29365#issuecomment-694178643 Maybe it will help you to identify the issue.

[2020-09-17 12:12] krishprakash commented on #29520
Hi, @chamikax
Fill free the reopen the issue once you provide exact steps to reproduce for the issue you're trying to fix?
Closing this ticket due to your inactivity in related PR #29255
Thanks!!

[2020-09-17 12:12] #29520 closed, assigned to nobody

[2020-09-17 12:25] magento-engcom-team commented on #29550
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37715` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-17 12:29] DiegoSana commented on #29365
@ihor-sviziev i solved this issue. So my database is upgraded succesfully. Any way, in my case the query is with row id.

`SELECT COUNT(*)
FROM catalog_product_entity_varchar cpev
LEFT JOIN catalog_product_entity cpe on cpev.row_id = cpe.row_id
WHERE cpe.row_id IS NULL;`

Because i use Magento CE.
Before the upgrade, i have some results with this query. So i removed it. Now the result is empty.

[2020-09-17 12:45] magento-engcom-team commented on #29599
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37716` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-17 13:09] magento-engcom-team commented on #29797
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37717` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-17 13:17] dnahirna opened #30089 "Mobile: Error message is not visible fully if enter 0 qty of products in the Cart on phones with small screen"
### Preconditions
1. Magento CE 2.0.0 without sample data is installed
2. Test category is set up
3. Test Product is created and assigned to the Test Category
4. Use Mobile phone with small screen (iPhone 5s, iPhone6)

### Steps to reproduce
1. Add any product to the Cart
2. Open minicart and tap on 'View and Edit Cart'
3. Enter '0' in 'Qty' field and tap on 'UPDATE SHOPPING CART' button
4. Look a

[2020-09-17 13:37] krishprakash commented on #30089
Hi @dnahirna.Thank you for your report.
You need to scroll horizontally for view full validation message as intentionally set the scroll bar for small screen
Refer Screenshot below

![image](https://user-images.githubusercontent.com/46617848/93477469-ac17e580-f918-11ea-9f8d-d47517bba8b3.png)

[2020-09-17 13:38] frno-morita commented on #23340
I'm not sure if it has been mentioned/tested, but this happens when you place the order as a `Guest` using the WebAPI to do so.
`POST <siteUrl>/V1/guest-carts/:cartId/payment-information`

[code]

This never happens using the normal Magento Luma frontend base, but it happens if you do the `Guest` checkout flow using only the `WebAPI`.

@swnsma Mentions why this happens in the flow a bit more in de

[2020-09-17 13:42] steved1982 opened #30091 "Products per Page on Grid Default Value"
### Preconditions (*)

1. Magento 2.4
2. PHP 7.4.10
3. Elastic Search 7+

### Steps to reproduce (*)

1. Create 18 simple products inside 1 category
2. Set Products per Page on Grid mode to be 9

### Expected result (*)

1. You would see 9 items on one page on the front of the site
2. You would see 2 pages in the navigation

### Actual result (*)

1. You see ALL 18 products on the page
2. You see

[2020-09-17 13:45] steved1982 commented on #30091
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-09-17 14:03] krishprakash commented on #30091
Hi @steved1982.
I'm not able reproduce the issue on latest 2.4-develop instance as provided steps by you
Refer screenshot below:
![image](https://user-images.githubusercontent.com/46617848/93481139-dc14b800-f91b-11ea-8787-38a2d8f5b6c1.png)
Could you please review in 2.4-develop instance and let me know if you reproduce the issue and update the steps if you will reproduce
Thanks!!

[2020-09-17 14:05] hostep commented on #29865
Ok thanks for the info Ihor!

@Eddcapone: based on your [previous comment](https://github.com/magento/magento2/issues/29865#issuecomment-691179083), if i have to guess, the sysadmins installed the sodium php extension but probably forgot to restart php-fpm (or your webserver), hence why php-cli reported it was installed but when using php in the webserver context it still didn't see it.
A better w

[2020-09-17 14:51] magento-engcom-team commented on #29740
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37729` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-17 15:22] perfpcs commented on #29797
@engcom-Oscar to be clear which issue are you addressing here to fix. Most of us posting here are not saying the tasks are really stuck but that they only appear to be stuck . We believe the tasks are actually complete but the notices at the top of admin and the bulk action log are not updating to "complete" for the tasks listed so we can dismiss them. This is true using mysql and RabbitMQ. If you

[2020-09-17 15:35] lenaorobei opened #30092 "[GJSS] Test issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-17 15:36] lenaorobei commented on #30092
@magento export issue to Jira project MC as Bug

[2020-09-17 15:37] lenaorobei commented on #30092
@magento export issue to Jira

[2020-09-17 15:46] magento-engcom-team opened #30093 "Test Issue for GJSS"
### Preconditions (*)
1. Magento 2.4-develop is installed

### Steps to reproduce (*)
1. Step one
2. Step two

### Expected result (*)
👍

### Actual result (*)
👎

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Se

[2020-09-17 15:46] magento-engcom-team commented on #30093
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37732

[2020-09-17 16:26] hostep commented on #30047
This is a known issue and exists for a long time, it's a duplicate of https://github.com/magento/magento2/issues/17186 btw (and strongly related to https://github.com/magento/magento2/issues/9186, but that's for products)
We [reported](https://github.com/magento/magento2/issues/9186#issuecomment-453638054) it to the Magento Enterprise support at the beginning of 2018 and it's still not fixed ...

[2020-09-17 16:32] pjayramkumar opened #30094 "Call to a member function getId() on array in module-sales/view/adminhtml/templates/order/totals/tax.phtml:62"
### Preconditions (*)

1. Magento Version 2.4.0
2.

### Steps to reproduce (*)

1. Go to Store -> Configuration -> Sales -> Tax -> Orders, Invoices, Credit Memos Display Settings -> Display Full Tax Summary and change to YES
2. Go to Sales -> Orders -> Open Order -> Invoice Tab -> Open Invoice -> Page View Source -> Issue will Visible at the end of view source Page

### Expected result (*)

1. <Sc

[2020-09-17 16:32] #30093 closed, assigned to lenaorobei

[2020-09-17 16:34] sivaschenko commented on #26184
The issue may be not actual as MySQL was removed from Magento version 2.4.0 and Elasticsearch should be used instead

[2020-09-17 16:40] sivaschenko commented on #26153
@Phennim @shikhamis11 Cart removeItem method is actually proxies the call to quote removeItem method. Can you confirm that these methods really work differently?

[2020-09-17 16:42] pjayramkumar commented on #30094
@magento I am working on this

[2020-09-17 16:42] pjayramkumar commented on #30094
@magento add to contributors team

[2020-09-17 16:43] pjayramkumar commented on #30094
@magento add to contributors team

[2020-09-17 16:54] EMBARKwebdesign commented on #18752
Hey - I am having a similar issue when creating a new user in the admin are...

[code]

Any solutions here please?

[2020-09-17 23:04] sshymko commented on #28614
Experienced the automated place order requests against the M2 sites.
Cloudflare rate limiting rule mitigated the issue entirely.
https://twitter.com/SergiiShymko/status/1291811066003906560?s=20

[2020-09-18 01:06] krishprakash commented on #30089
Closing this as non issue

[2020-09-18 01:06] #30089 closed, assigned to krishprakash

[2020-09-18 01:44] magento-engcom-team commented on #1806
Hi @LifeAsBook. Thank you for your report.
The issue has been fixed in magento/magento2#29979 by @engcom-Golf in 2.4-develop branch
Related commit(s):
 - [22da500519287b49c984ed615b66d0edd6f55bb0](https://github.com/magento/magento2/commit/22da500519287b49c984ed615b66d0edd6f55bb0)
 - [b5180c00976cafeee03a1ba55833c9ae871c6194](https://github.com/magento/magento2/commit/b5180c00976cafeee03a1ba55833c

[2020-09-18 01:44] magento-engcom-team commented on #29933
Hi @Januszpl. Thank you for your report.
The issue has been fixed in magento/magento2#29934 by @Januszpl in 2.4-develop branch
Related commit(s):
 - [faf6dface4d7ac453c181fdad50a51e70e8e673c](https://github.com/magento/magento2/commit/faf6dface4d7ac453c181fdad50a51e70e8e673c)
 - [9e53105666f404b557165bf096aaf95c31388b27](https://github.com/magento/magento2/commit/9e53105666f404b557165bf096aaf95c31

[2020-09-18 01:44] #29933 closed, assigned to Januszpl

[2020-09-18 01:44] magento-engcom-team commented on #25399
Hi @xylodev. Thank you for your report.
The issue has been fixed in magento/magento2#25405 by @xylodev in 2.4-develop branch
Related commit(s):
 - [594fc93cdc92ca5648564718ce7a079d6afabdd8](https://github.com/magento/magento2/commit/594fc93cdc92ca5648564718ce7a079d6afabdd8)
 - [fb299a0beeab3d3949b83f86495e88b52898a90c](https://github.com/magento/magento2/commit/fb299a0beeab3d3949b83f86495e88b52898

[2020-09-18 01:44] #25399 closed, assigned to xylodev

[2020-09-18 01:44] magento-engcom-team commented on #25147
Hi @joe-vortex. Thank you for your report.
The issue has been fixed in magento/magento2#25510 by @joe-vortex in 2.4-develop branch
Related commit(s):
 - [a99d980cebbfa1495de25aa91b9c70d86b2da7a6](https://github.com/magento/magento2/commit/a99d980cebbfa1495de25aa91b9c70d86b2da7a6)
 - [1900ffcddcd8e9d3817de7fea29496d69997d531](https://github.com/magento/magento2/commit/1900ffcddcd8e9d3817de7fea29496

[2020-09-18 01:44] #25147 closed, assigned to joe-vortex

[2020-09-18 01:44] magento-engcom-team commented on #29524
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29274 by @pmzandbergen in 2.4-develop branch
Related commit(s):
 - [44d88e64f70134280616bcc9471f74283fdef44f](https://github.com/magento/magento2/commit/44d88e64f70134280616bcc9471f74283fdef44f)
 - [ba6513fa9b8777dd5a1a89a9b542ec54978ef534](https://github.com/magento/magento2/commit/ba6513fa9b8777dd5a1a8

[2020-09-18 01:44] #29524 closed, assigned to nobody

[2020-09-18 01:44] magento-engcom-team commented on #29185
Hi @bernd-reindl. Thank you for your report.
The issue has been fixed in magento/magento2#29542 by @marvinhinz in 2.4-develop branch
Related commit(s):
 - [4328a2d67191648c352b156f3a0aecc56870d1ad](https://github.com/magento/magento2/commit/4328a2d67191648c352b156f3a0aecc56870d1ad)
 - [55a15434c4208a631aef8d6a9f474987ed8a901e](https://github.com/magento/magento2/commit/55a15434c4208a631aef8d6a9f47

[2020-09-18 01:44] #29185 closed, assigned to marvinhinz

[2020-09-18 04:46] royalrajni opened #30097 "Not able to access soap apis"
env:Receiver The "ResultInterface" class doesn't exist and the namespace must be specified. Verify and try again. <![CDATA[#0 /var/www/html/creativeroxm2/vendor/magento/module-webapi/Model/Config/ClassReflector.php(103): Magento\Framework\Reflection\TypeProcessor->register('ResultInterface') #1 /var/www/html/creativeroxm2/vendor/magento/module-webapi/Model/Config/ClassReflector.php(72): Magento\We

[2020-09-18 05:09] ajijshekh123 commented on #30051
@magento give me 2.4-develop instance

[2020-09-18 05:44] chequille opened #30098 "Breadcrumbs on product page not showing catgories if category is set to "Show in Menu = No""
### Preconditions (*)
1. Version 2.3.5-p2, 2.4-develop

### Steps to reproduce (*)
1. Just set a category to Show in Menu No
2. Look at the breacrumbs on the product page of a product within this category

### Expected result (*)
1. Breadcrumbs should show category even if category is set to "Not show in Menu"

### Actual result (*)
1. Breadcrumbs only show "Home - Product name"

[2020-09-18 05:55] chequille commented on #30098
Additional Information and thought about this:

Setting the categories to not show in menu is sometimes necessary because of some layout and design reasons.
Nevertheless, they are active categories containing products.

I do access these categories with a link to it. On the category page itself, the breadcrumb is showing the category name. At this point everything is ok. But when a product is sele

[2020-09-18 06:19] ajijshekh123 commented on #30051
Hi @HoangTN96,
Braintree Payment method is not available on Default Magento 2.4 Instance so not able to verify this issue.
Thanks.

[2020-09-18 06:20] ajijshekh123 commented on #30098
@magento give me 2.3.5-p2-develop instance

[2020-09-18 06:21] ajijshekh123 commented on #30098
@magento give me 2.3.5-p2-develop instance

[2020-09-18 07:15] ihor-sviziev commented on #14054
Hi @ju5t,
Seems like this issue was already fixed in https://github.com/magento/magento2/pull/28332. Could you confirm that?

[2020-09-18 08:01] munkhulzii commented on #29302
@nrkapoor For me, no clear definition of the expected result was given here. Consistency yes, but should I remove the field or add it everywhere?

[2020-09-18 08:10] engcom-Oscar commented on #29731
Hello @chdzma

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.
If you have some more details how to reproduce this issue on latest 2.4 Magento, feel free to update the description and reopen it.

[2020-09-18 08:10] #29731 closed, assigned to krishprakash, engcom-Oscar

[2020-09-18 08:22] mam08ixo commented on #29816
Relevant CSS:

[code]

M2.3 markup:

[code]

M2.4 markup:

[code]

Someone moved the `onclick` JS to a `<script>` element so that the CSS selector no longer matches.

@webkul-ajaysaini You can still open the packaging popup by clicking the "Create Shipping Label" label text. Can you confirm that the packaging popup itself is also completely broken?

![packaging_popup](https://user-images.githubuse

[2020-09-18 08:27] engcom-Charlie opened #30099 "The region selector does not work after adding it to the customer account creation page"
### Preconditions (*)

- Magento 2.4-develop
- Php 7.3

### Steps to reproduce (*)

1. Create custom module;
2. Create layout **_customer_account_create.xml_** in _{custom_module}/view/frontend/layout/_

[code]

3. Flush cache;
4. Go to Storefront;
5. Go to **Create an Account** page;

### Expected result (*)

1. Region selector is available

### Actual result (*)

:heavy_multiplication_x: The reg

[2020-09-18 08:32] ihor-sviziev commented on #24953
Seems like it's the same issue as described in #24535 #15609 and #14443.

[2020-09-18 08:34] mam08ixo commented on #29816
Looks like MC-29420 (70ede03) broke it and MC-35514 (3c22eef) attempts to fix it.
No shipping on Magento 2.4.0, got to wait for a future release.

[2020-09-18 08:43] engcom-Alfa commented on #30099
The issue is reproducible on a fresh 2.4-develop

Actual Result: :heavy_multiplication_x: The region selector is broken

![2020-09-18_11-40](https://user-images.githubusercontent.com/51679138/93576956-25a8e580-f9a4-11ea-8e64-c55eaef9a2ed.png)

[2020-09-18 08:44] magento-engcom-team commented on #30099
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37746` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-18 09:41] oscarpas opened #30100 "GraphQL mutations on customers cart fails when using multiple store views"
### Preconditions (*)
1. Magento 2.4.0
2. Magento is setup with one website which has two store views
3. A customer account is created

### Steps to reproduce (*)
1. Retrieve a customer token for the created customer via generateCustomerToken mutation
2. Retrieve customers cart id via customerCart query
3. Add a product to the customer cart via addSimpleProductsToCart mutation. Use token in Author

[2020-09-18 10:06] engcom-Oscar commented on #29683
Hello @lokeshvnaik

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` Magento branch with MSI modules installed. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please recheck it on clean Magento installation and confirm?

Notice: MSI modules keep products qty and stat

[2020-09-18 10:08] magento-engcom-team commented on #30101
@sivaschenko Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result
- [ ] Update issue content to fol

[2020-09-18 10:08] magento-engcom-team commented on #30101
@sivaschenko Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/mag

[2020-09-18 10:09] magento-engcom-team commented on #30101
@sivaschenko Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.

[2020-09-18 10:11] magento-engcom-team commented on #30101
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37748` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-18 10:21] paras89 commented on #28221
I was able to reproduce the issue using the steps given in steps to reproduce on Magento 2.3.5-p2.

Used the JS debugger to figure the error was coming from here: https://github.com/magento/magento2/blob/2.3.5-p2/app/code/Magento/Checkout/view/frontend/web/js/view/shipping.js#L340

On that line, the code looks for region in the shippingAddress observable but when saving a new address for a not log

[2020-09-18 10:33] #29419 closed, assigned to nobody

[2020-09-18 11:12] omarmohssen commented on #30050
@engcom-Oscar yes, but still not getting this to work for EE

[2020-09-18 11:30] gwharton commented on #29964
I'm desperate for a workaround to this issue.

[code]

I see it trying to allocate a 67MB CSP policy!!!

[2020-09-18 12:07] #29683 closed, assigned to engcom-Oscar

[2020-09-18 12:32] onepack commented on #29964
@gwharton a quick workaround is to disable the CSP module.
This weekend I'm going what the source of this issue with the CSP load is.

[2020-09-18 12:52] engcom-Oscar commented on #29406
Hello @vbyno
Thank you for contribution and collaboration!

Unfortunately, problem you described in this ticket is expected behavior for order items of bundle product. So you can recognize bundle options in API response only by child's product_id or by quote_item_id. If you want to propose different approach how it must be designed, feel free to contribute PR with your solution of this issue.

[2020-09-18 12:52] #29406 closed, assigned to engcom-Oscar

[2020-09-18 12:54] engcom-Oscar commented on #30050
Hi @sdzhepa!
Could you please move this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.
[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magento Open Source version only and the ma

[2020-09-18 13:01] gwharton commented on #29964
Seemed to be something to do with the BlockCache with the limited debugging I was able to do before throwing one's hands in the air and disabling CSP.

[2020-09-18 13:18] m2-assistant[bot] opened #30103 "[Issue] [MFTF] deprecated GoToAttributeGridPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#30081: [MFTF] deprecated GoToAttributeGridPageActionGroup

---------
This PR deprecated `GoToAttributeGridPageActionGroup`

[2020-09-18 13:18] soumiktuban opened #30104 "Elastic Search issue with Synonyms"
### Preconditions (*)

1. Magento 2.3.*.
2. Elasticsearch 6+

Also reproducible on 2.4-develop with Elasticsearch7

### Steps to reproduce (*)

1. Enable Elasticsearch 6+
2. Add a product with a long name with a slash / in it.
Example: LSS 3/8"X3/4"X25' EZ-PULL 1/2" INS SWEAT LINESET W/90 END BEND SUCTION LINE INSULATED
3. Add Search Synonyms with a word belongs to the product name.
Example: cente

[2020-09-18 13:31] magento-engcom-team commented on #24332
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37754` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-18 13:37] engcom-Oscar commented on #28976
Hello @anujeetphj

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please recheck it on clean Magento installation and confirm?

[2020-09-18 14:04] Eddcapone commented on #29865
Thats what I did from the start, as you can see in my original question I wrote:

I checked that by executing `php -i | grep libsodium`

[2020-09-18 14:22] Jeeva-Rathinam commented on #7652
I am getting the same issue, could you pls help me how you solved this issue?

[2020-09-18 14:22] tdgroot opened #30105 "Risk: statefulness of TransportBuilder"
If, for some reason, the inner state of `Magento\Framework\Mail\Template\TransportBuilder` is not reset, it will be dirty when it is used by the next client (`Magento\Sales\Model\Order\Email\SenderBuilder` is a client). Currently the `TransportBuilder` is being reused when sending e-mails asynchronously in the background (`sales_email/general/async_sending`), which can lead to mails being sent to

[2020-09-18 14:23] Jeeva-Rathinam commented on #15117
I am getting the same issue, could you pls help me how you solved this issue?

[2020-09-18 14:24] Jeeva-Rathinam commented on #15117
I am getting the same issue, could you pls help me how you solved this issue?

[2020-09-18 14:26] magento-engcom-team commented on #29838
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29834 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [04aefed742087fbe1238bfb54ce45da2d4427d94](https://github.com/magento/magento2/commit/04aefed742087fbe1238bfb54ce45da2d4427d94)
 - [c02400372b1a5c900da53af3a4f2d1f3d6f754d5](https://github.com/magento/magento2/commit/c02400372b1a5c900da53af3a

[2020-09-18 14:26] #29838 closed, assigned to nobody

[2020-09-18 14:26] magento-engcom-team commented on #29982
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29962 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [3dd3bb94a174c8bd4f87f9ee6b617009b38d2ca4](https://github.com/magento/magento2/commit/3dd3bb94a174c8bd4f87f9ee6b617009b38d2ca4)
 - [e406c821eabf226fdbfd6638dbb24dfdb0fbfc4f](https://github.com/magento/magento2/commit/e406c821eabf226fdbfd6638d

[2020-09-18 14:26] #29982 closed, assigned to nobody

[2020-09-18 14:26] magento-engcom-team commented on #29941
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29931 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [b8ce61b1572259f447fad11bc776735e777f3bc3](https://github.com/magento/magento2/commit/b8ce61b1572259f447fad11bc776735e777f3bc3)
 - [832bb01549a2f3a7cb1fc96459c8930ce05634cb](https://github.com/magento/magento2/commit/832bb01549a2f3a7cb1fc9645

[2020-09-18 14:26] #29941 closed, assigned to nobody

[2020-09-18 14:26] magento-engcom-team commented on #29842
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29835 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [18d82a36fdf370fb45183011e49cdedb086b7325](https://github.com/magento/magento2/commit/18d82a36fdf370fb45183011e49cdedb086b7325)
 - [93995c84a8c896e4c2f6fec2d9aee07fbc9bcdef](https://github.com/magento/magento2/commit/93995c84a8c896e4c2f6fec2d

[2020-09-18 14:26] #29842 closed, assigned to nobody

[2020-09-18 14:26] magento-engcom-team commented on #28324
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27698 by @elevinskii in 2.4-develop branch
Related commit(s):
 - [2b86774ff29f132f7e89982695d13d4b3378c5ee](https://github.com/magento/magento2/commit/2b86774ff29f132f7e89982695d13d4b3378c5ee)
 - [83a4f097281860eaa59425feffb988f16000f0c9](https://github.com/magento/magento2/commit/83a4f097281860eaa59425fef

[2020-09-18 14:26] #28324 closed, assigned to nobody

[2020-09-18 14:26] magento-engcom-team commented on #7720
Hi @itaymesh. Thank you for your report.
The issue has been fixed in magento/magento2#26470 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [042df4153f29e6dfb18604ac0ca72c4a0671ef58](https://github.com/magento/magento2/commit/042df4153f29e6dfb18604ac0ca72c4a0671ef58)
 - [a039ff41d4938d06e507778aaac4983e12ae8421](https://github.com/magento/magento2/commit/a039ff41d4938d06e507778aaac4

[2020-09-18 14:26] #7720 closed, assigned to engcom-Charlie

[2020-09-18 14:32] ju5t commented on #14054
@ihor-sviziev, sorry, I can't. As said we do not use Magento anymore.

[2020-09-18 14:44] jkg1996 commented on #29083
any update about this?

[2020-09-18 15:05] hostep commented on #29865
Yes, but that's using php-cli, not php invoked by the webserver, which can give you different results 🙂

[2020-09-18 15:29] Eddcapone commented on #29865
@hostep Oh, I see. Thx! 👍

[2020-09-18 16:35] JiyaadDolly commented on #12772
@emmo1210 How did you fix this? i have the same issue on Magento 2.3.4 commerce B2B

[2020-09-18 17:49] ihor-sviziev commented on #14054
Hi @engcom-Alfa could you confirm that issue isn’t reproducing anymore and we can close this PR?

[2020-09-18 22:14] taha-abdulghani opened #30112 "Facing an issue to installing Magento 2.4.0"
Hello,

@magento I am working on this
i'm trying to install magento 2 and i'm facing an issue to installation by using this code
`php bin/magento setup:install --base-url="http://magtest/magento2"--db-host=localhost --db-name="dbmagento24" --db-user="root" --db-password="" --admin-firstname="admin" --admin-lastname="admin" --admin-email="user@example.com" --admin-user="admin" --admin-password="adm

[2020-09-18 22:52] hterhanian commented on #16779
This is still an issue for me. Ran a sale and cannot cancel some orders now.

Magento 2.3.4, PHP 7.2.26

`[2020-09-18 22:05:28] main.CRITICAL: SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`prodmagento`.`salesrule_customer`, CONSTRAINT `SALESRULE_CUSTOMER_RULE_ID_SALESRULE_RULE_ID` FOREIGN KEY (`rule_id`) REFERENCES `salesru

[2020-09-19 04:09] krishprakash commented on #30112
Hi @taha-abdulghani.
GitHub issue tacker is intended for Magento core technical issues only.
Kindly refer community forum or Magento stack exchange for general discuss about this topic
Thanks!!

[2020-09-19 04:09] #30112 closed, assigned to nobody

[2020-09-19 05:27] Jeeva-Rathinam opened #30113 "Magento 2.3.4 Migration - After migrated from magento 1.9.2.3 Add product Error"
Preconditions

1. Centos 7 with Apache  - Migration from Magento 1.9.2.3 to Magento 2.3.4
2. PHP version: 7.3.21 & Mysql Version : 14.14

Steps to reproduce

1. After migrated from the data migration tool, successfully completed the process.
2. Then run compile command & clear cache

Expected result

1. Product edit page.

Actual result

1. If [click add product](https://snipboard.io/jXOcwz.jpg)
2

[2020-09-19 07:44] prabhakaran777 commented on #18812
yes me also facing

[2020-09-19 07:51] grassst commented on #28472
I also have the same problem on 2.3.5-p2.
We are using at least two tax clases. So for us changing the values in the table rate CSV is no option for us.
@k4emic can you please tell me what I have to do to get your work arround running in my system? I changed vendor/magento/module-sales-rule/Model/Rule/Condition/Address.php as you described, but where can i find this new condition to choose?

thank

[2020-09-19 08:28] ajijshekh123 commented on #30098
@magento give me 2.3.5-p2-develop instance

[2020-09-19 08:29] Bartlomiejsz commented on #30073
@magento I am working on this

[2020-09-19 08:33] ajijshekh123 commented on #29892
@magento give me 2.4-develop instance

[2020-09-19 08:38] ajijshekh123 commented on #30098
@magento give me 2.3.5-p2 instance

[2020-09-19 08:50] ajijshekh123 commented on #29892
Hi @bvboas,
I have verified your issue. This is not an issue. This is a Default Magento Feature. It is not required to redirect on the same tab.
Let me close this issue. If you have any query you can reopen this issue/default feature.

Thanks.

[2020-09-19 08:50] #29892 closed, assigned to ajijshekh123

[2020-09-19 09:13] ajijshekh123 commented on #30098
Hi @chequille,
I have verified this issue on the latest Magento 2.4 Instance. I have verified the configuration as per the define steps to be reproduced. But not able to reproduce the issue on Magento 2.4 Instance.
Please update your Magento Instance. Magento doesn't provide 2.3.5-p2 Instance.
PFA:
![image](https://user-images.githubusercontent.com/24711761/93663539-62e5a400-fa86-11ea-9a4d-d604d7a

[2020-09-19 09:30] Bartlomiejsz commented on #29971
@magento I am working on this

[2020-09-19 09:32] bvboas commented on #29892
Hi @ajijshekh123 this is most definitely a Magento feature. It has been since version 1.

This bug was introduced by these two commits:

https://github.com/magento/magento2/commit/a3d9095b1352eb585399e7cce850112471955607#diff-926633484bdda3384356b3f61121a4e1

On line 34, the `<li>` element now has an ID attribute. The problem is that this ID is now duplicated, because the `<a> `element inside this

[2020-09-19 11:50] magento-engcom-team commented on #30103
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30081 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [41f22a37e391f8e35943662df7ea5c0ce3413598](https://github.com/magento/magento2/commit/41f22a37e391f8e35943662df7ea5c0ce3413598)
 - [705769e6efd6b99e95a7e0d98304e4202d6255f0](https://github.com/magento/magento2/commit/705769e6efd6b99e95a7e0d98

[2020-09-19 11:50] #30103 closed, assigned to nobody

[2020-09-19 11:50] magento-engcom-team commented on #24348
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#29968 by @engcom-Hotel in 2.4-develop branch
Related commit(s):
 - [1f6e82fede343e6e239aaedc854ea6d63317272c](https://github.com/magento/magento2/commit/1f6e82fede343e6e239aaedc854ea6d63317272c)
 - [e837bdc66501762a46418e2fdfea3746295f690f](https://github.com/magento/magento2/commit/e837bdc66501762a46418e2fdfea3746

[2020-09-19 11:50] #24348 closed, assigned to engcom-Hotel

[2020-09-19 11:50] magento-engcom-team commented on #24400
Hi @maheshWebkul721. Thank you for your report.
The issue has been fixed in magento/magento2#29968 by @engcom-Hotel in 2.4-develop branch
Related commit(s):
 - [1f6e82fede343e6e239aaedc854ea6d63317272c](https://github.com/magento/magento2/commit/1f6e82fede343e6e239aaedc854ea6d63317272c)
 - [e837bdc66501762a46418e2fdfea3746295f690f](https://github.com/magento/magento2/commit/e837bdc66501762a46418e2

[2020-09-19 11:50] magento-engcom-team commented on #29487
Hi @ejaz-alam. Thank you for your report.
The issue has been fixed in magento/magento2#29486 by @ejaz-alam in 2.4-develop branch
Related commit(s):
 - [7341b4f3acb4fbca10b6b5dc76e560b8415e81d6](https://github.com/magento/magento2/commit/7341b4f3acb4fbca10b6b5dc76e560b8415e81d6)
 - [e0a99e180df36efee97e5c3c9515eb104e9cbf32](https://github.com/magento/magento2/commit/e0a99e180df36efee97e5c3c9515eb10

[2020-09-19 11:50] #29487 closed, assigned to ejaz-alam

[2020-09-19 11:50] magento-engcom-team commented on #29502
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29486 by @ejaz-alam in 2.4-develop branch
Related commit(s):
 - [7341b4f3acb4fbca10b6b5dc76e560b8415e81d6](https://github.com/magento/magento2/commit/7341b4f3acb4fbca10b6b5dc76e560b8415e81d6)
 - [e0a99e180df36efee97e5c3c9515eb104e9cbf32](https://github.com/magento/magento2/commit/e0a99e180df36efee97e5c3c

[2020-09-19 11:50] magento-engcom-team commented on #16531
Hi @mdesplenter. Thank you for your report.
The issue has been fixed in magento/magento2#29671 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [8344b1193b33ec89457b3717362dd923f4a7c97d](https://github.com/magento/magento2/commit/8344b1193b33ec89457b3717362dd923f4a7c97d)
 - [8da5e70859784f0cf097fae1bcbaa240db55fb85](https://github.com/magento/magento2/commit/8da5e70859784f0cf097fae1b

[2020-09-19 11:50] #16531 closed, assigned to nobody

[2020-09-19 11:50] magento-engcom-team commented on #24332
Hi @posttechguy. Thank you for your report.
The issue has been fixed in magento/magento2#29671 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [8344b1193b33ec89457b3717362dd923f4a7c97d](https://github.com/magento/magento2/commit/8344b1193b33ec89457b3717362dd923f4a7c97d)
 - [8da5e70859784f0cf097fae1bcbaa240db55fb85](https://github.com/magento/magento2/commit/8da5e70859784f0cf097fae1b

[2020-09-19 11:50] #24332 closed, assigned to nobody

[2020-09-19 11:50] magento-engcom-team commented on #29852
Hi @raghav111jain. Thank you for your report.
The issue has been fixed in magento/magento2#29671 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [8344b1193b33ec89457b3717362dd923f4a7c97d](https://github.com/magento/magento2/commit/8344b1193b33ec89457b3717362dd923f4a7c97d)
 - [8da5e70859784f0cf097fae1bcbaa240db55fb85](https://github.com/magento/magento2/commit/8da5e70859784f0cf097fae

[2020-09-19 11:50] magento-engcom-team commented on #30013
Hi @lfluvisotto. Thank you for your report.
The issue has been fixed in magento/magento2#30014 by @lfluvisotto in 2.4-develop branch
Related commit(s):
 - [de91c2ba7a3449858e9f464c720e3a3870797c7a](https://github.com/magento/magento2/commit/de91c2ba7a3449858e9f464c720e3a3870797c7a)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-19 11:50] #30013 closed, assigned to lfluvisotto

[2020-09-19 11:54] chequille commented on #30098
Hi,
as I see in your screenshots you are on the category page, not on a product page.
The breadcrumbs are correct there but you have to click on a product now and look how the breadcrumbs look than.
Please try this.

[2020-09-19 12:02] chequille commented on #30098
As well, as of our picture, you disbaled the category tops under category women but your forntend site shows men.

[2020-09-19 13:15] chequille commented on #30098
@magento give me 24.0 instance

[2020-09-19 13:15] chequille commented on #30098
@magento give me 2.4.0 instance

[2020-09-19 13:58] chequille commented on #30098
Here it is: Set Tops not in Menu
![grafik](https://user-images.githubusercontent.com/15807794/93668854-b9a3ab80-fa8f-11ea-9126-c0a2e7f2b713.png)
Go to the category page with direct link .../men/tops-men.html and ou will see this page, where the category tops is in the breadcrumb.
![grafik](https://user-images.githubusercontent.com/15807794/93668933-7eee4300-fa90-11ea-860b-320d40d326ba.png)
Now cli

[2020-09-19 14:05] chequille commented on #30098
Rendering the breadcrumbs is different for catalog page and product page. I want to know where the difference is and how can I change it maybe with an own module. Nevertheless it makes no sense for me to show the categories in the catalog page but not in the product page if the category is set to "Show in Menu= No".

I hope it is clear now and yu can verify this as well.
Looking forward to hearing

[2020-09-19 14:34] nrkapoor commented on #30100
@melnikovi @prabhuram93 Can you take a look and see if we need to fix this issue?

[2020-09-19 16:47] scommercemage commented on #29350
Try removing composer.lock file

[2020-09-19 16:49] gwharton commented on #30018
Well, it took me about 7 hours to get to the bottom of this one.

Magento\Sales\Observer\Frontend\RestoreCustomerGroupId is fired by the event sales_quote_address_collect_totals_after

This is called numerous times throughout the checkout process.

It looks as if this plugin checks if the setting for "Tax Calculation Based On" is set to "Shipping Address", and if the Customer Group Id of the quote

[2020-09-19 17:02] d-consulting opened #30116 "Magento 2.4 CE: the translate inline tool doesn't work"
### Summary (*)
1. Magento 2.4 CE with simple data is installed
2. Developer mode is set
3 Three type of cache are disabled: blokks, html output, page cache, translations
4 Go to Store -> Configuration -> Advanced -> Devolepor and enable for store front Translate Inline
5 Save config. Refresh cache (leaving disabled the previous three type of cache)
6 Open in a new browser window the store
7 Selec

[2020-09-19 17:08] gwharton commented on #30018
https://github.com/magento/magento2/blob/7ddd47e87e217ba20b883e9ee22e5e3ef618e6df/app/code/Magento/Quote/Model/QuoteManagement.php#L399

Also needs addressing if you want to keep the adjusted customer group in the quote object and order object after VAT validation for guest orders.

[2020-09-20 05:37] ajay1987kumar commented on #6310
UPDATE `catalog_product_entity` SET `type_id` = 'simple' WHERE `catalog_product_entity`.`type_id` = 'virtual';

this worked for me!!!!!!!
it will make you product with "item has weight"

[2020-09-21 02:36] JOLIESALES opened #30121 "Cart on site not working"
### Preconditions (*)
<!---
The cart on my website is not showing active on most browsers - but does on some - why?

[2020-09-21 03:10] HoangTN96 commented on #30051
Thank @ajijshekh123
i've fixed this issues. the reason from my client inputted an incorrect field on backend
![image](https://user-images.githubusercontent.com/47875208/93730396-9cd3b900-fbf2-11ea-92bc-d27ae2d65c83.png)
Thank for your support.

[2020-09-21 03:11] #30051 closed, assigned to nobody

[2020-09-21 04:53] krishprakash commented on #30121
Hi @JOLIESALES. Kindly update all the details for issue as per reporting [guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2020-09-21 06:25] ngglobaliasoft123 opened #30122 "product page related files not override in different theme"
I have override related product file in the main theme and I have show different theme in mobile I have to show different related product slider compare to the main theme in the mobile view but mobile file not loaded in product pae other file comes from mobile theme but when I try for related product block then it's comes from main theme .

[2020-09-21 06:39] ihor-sviziev commented on #29756
This is not an issue. Magento 2.4 is supporting only php 7.3 and php 7.4, and trailing comma is allowed in those versions. More info here https://github.com/magento/magento2/pull/29695#pullrequestreview-471423778

[2020-09-21 06:39] VZeroCool opened #30123 "Email templates preview problem"
.

### Preconditions (*)

1. Magento 2.3.3 CE AWS Ec2 with Apahce and mariadb

### Steps to reproduce (*)

1. Setup 2 store view with arabic and english
2. Set arabic view as default
3. Go to backend, Marketing > Email Templates > Add new Template
4. Load default New order template
5. Click on Preview template

### Expected result (*)

1. As some content added in english in preview it should show

[2020-09-21 06:51] krishprakash commented on #30121
Hi @JOLIESALES. Feel free to reopen once you update all the details
Thanks!!

[2020-09-21 06:51] #30121 closed, assigned to krishprakash

[2020-09-21 07:05] magento-engcom-team commented on #30098
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37763` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-21 07:20] prabhakaran777 commented on #18812
i fixed with those plugins

Magento 2.3.4 (tested)

i knew this is not right way  but for now it will work (We will check when new version released)

your custom module

Custom/Module/etc/graphql/di.xml

[code]

Custom\Module\Plugin\Quote\ExtendedItem.php

[code]

Custom\Module\Plugin\Quote\Item\QuantityValidator\QuoteItemQtyList.php

[code]

[2020-09-21 07:43] sejshah07 opened #30124 "Issue with review tab"
If you chage the alias of review tab, the tab wont be activated if clicked on "Be the first one to review".
The reason is alias is used as id attribute when html is rendered for tabs. However same alias is not used for comparing in process-reviews.js. Hardcoded 'reviews' is used instead on line 33
if (this.id == 'reviews') { //eslint-disable-line eqeqeq
  $('.product.data.items').tabs('activate',

[2020-09-21 08:02] #22807 closed, assigned to engcom-Oscar

[2020-09-21 08:09] hieu01412 commented on #8764
thanks u

[2020-09-21 08:51] vahir2016 commented on #29320
Hello,

I have got the same issue on Magento 2.3.4.

What I wanted to save : "vahir win"

What it saves on database :
`<div data-content-type="row" data-appearance="contained" data-element="main"><div data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-element="inner" style="justify-content: flex-start; display: flex; flex-direction: column; background-position: lef

[2020-09-21 08:52] m2-assistant[bot] opened #30125 "[Issue] incorrect method description"
This issue is automatically created based on existing pull request: magento/magento2#30109: incorrect method description

---------
Incorrect description for the method

### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
Incorrect description for the method

### Expected result (*)
Update description for the method

### Actual result (*)
Incorrect description for the method

[2020-09-21 09:06] magento-engcom-team commented on #30125
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37765` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-21 09:20] ihor-sviziev commented on #30071
Hi @fooman ,
This class isn't marked as API, so it's fine to replace some arguments in minor versions

[2020-09-21 09:51] chalov-anton opened #30165 "Media Gallery grid is scrolled down when text doesn't pass the validation on Edit Image page"
### Preconditions (*)
1. Install Magento with Adobe Stock Integration
2. Configured integration in Stores -> Configuration -> Advanced-> System -> Adobe Stock Integration fieldset
3. Several images added to Media Gallery

### Steps to reproduce (*)
1. Go to **Content - Media Gallery**, select the first image from the grid
2. Click "three dots" and select **Edit**
3. Type not valid symbol into _New

[2020-09-21 10:22] kodubovik commented on #30039
Hi @krishprakash, you're right the issue seems to be resolved.

[2020-09-21 10:43] krishprakash commented on #30039
Hi @kodubovik. Thank you for feedback
So closing this ticket as fixed in updated version.

[2020-09-21 10:43] #30039 closed, assigned to krishprakash

[2020-09-21 10:48] engcom-Oscar commented on #30104
Hello @soumiktuban

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please recheck it on clean Magento 2.4 installation and confirm?

[2020-09-21 11:11] wjpbill commented on #28614
Thanks for the advice.

Did you set those rule only on /checkout and customer/account/login/ ?

[2020-09-21 11:24] fooman commented on #30071
Thanks @ihor-sviziev from the outside I see a lot of PRs being requested to change something like the above constructor argument change (including for non-api).

From my perspective such changes should be reserved for 2.x releases to increase stability in 2.x.y releases.

[2020-09-21 11:32] engcom-Oscar commented on #30038
Hello @franciscopaniskaseker

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please recheck it on clean Magento 2.4 installation and confirm?

[2020-09-21 11:38] Sufi737 commented on #21495
Hi, where is the htmlRemoveTags option?

[2020-09-21 12:19] bmitchell-ldg opened #30128 "Varnish cache is cleared for the product and categories after an order is placed"
### Preconditions (*)
1. Magento 2.3.5
2. Varnish-6.0.6
3. Elasticsearch 6
4. PHP 7.2.30

### Steps to reproduce (*)
1. Go to a category page and inspect the page and refresh until you see a x-cache HIT confirming that the page is being cached
2. Pick a simple product on that category page and on the product page inpect the page and refresh until you see the x-cache HIT confirming that the page is

[2020-09-21 12:24] bmitchell-ldg commented on #30128
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-09-21 12:35] magento-engcom-team commented on #30032
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30030 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [996bdaf1bbacb29b9c4ada30fd0775b71944554e](https://github.com/magento/magento2/commit/996bdaf1bbacb29b9c4ada30fd0775b71944554e)
 - [772886e85104bbe4f3842d2ff662eb43cafa48af](https://github.com/magento/magento2/commit/772886e85104bbe4f3842d2ff

[2020-09-21 12:35] #30032 closed, assigned to nobody

[2020-09-21 12:35] magento-engcom-team commented on #28116
Hi @ishakhsuvarov. Thank you for your report.
The issue has been fixed in magento/magento2#28117 by @ishakhsuvarov in 2.4-develop branch
Related commit(s):
 - [303bd64e3c1a7281be08d3b73feb995ef580e61d](https://github.com/magento/magento2/commit/303bd64e3c1a7281be08d3b73feb995ef580e61d)
 - [bfdde51e16e4be105d92463ba4c481a4eb8dd363](https://github.com/magento/magento2/commit/bfdde51e16e4be105d92463b

[2020-09-21 12:35] #28116 closed, assigned to ishakhsuvarov

[2020-09-21 13:00] #29638 closed, assigned to engcom-Oscar

[2020-09-21 13:02] #29641 closed, assigned to nobody

[2020-09-21 13:09] engcom-Oscar commented on #29625
Hello @Eddcapone

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.
If you have some more details how to reproduce this issue on latest 2.4 Magento, feel free to update the description and reopen it.

[2020-09-21 13:09] #29625 closed, assigned to krishprakash, engcom-Oscar

[2020-09-21 13:16] #29497 closed, assigned to nobody

[2020-09-21 13:44] engcom-Oscar commented on #29356
Hello @Erickhdez

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please recheck it on clean Magento 2.4 installation and confirm?

[2020-09-21 13:46] magento-engcom-team commented on #29984
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37771` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-21 15:03] m2-assistant[bot] opened #30131 "[Issue] Remove duplicated US-AE regions"
This issue is automatically created based on existing pull request: magento/magento2#30127: Remove duplicated US-AE regions

---------
### Description

[According to USPS](https://faq.usps.com/s/article/How-Do-I-Address-Military-Mail), only `AA`, `AE`, and `AP` regions might be used to address Armed Forces deployments outside the US.

### Manual testing scenarios (*)

1. Create an address and `Arm

[2020-09-21 15:05] m2-assistant[bot] opened #30132 "[Issue] Base price storage website price mode"
This issue is automatically created based on existing pull request: magento/magento2#30126: Base price storage website price mode

---------

Fix V1/products/base-prices endpoint to update prices for Catalog Price Mode - Website

### Description (*)
V1/products/base-prices endpoint does not work with Catalog Price Mode - Website
Function was added to affect prices for all store views inside change

[2020-09-21 15:06] m2-assistant[bot] opened #30133 "[Issue] Cleaned up duplicate variable assignments in the same line"
This issue is automatically created based on existing pull request: magento/magento2#30120: Cleaned up duplicate variable assignments in the same line

---------
### Description (*)
Re-apply changes from https://github.com/magento/magento2/pull/28085
This is a simple cleanup of two assignments to the same variable occurring in the same line.
Created by using the following regex:
 (\$.*) \= \1 = (w

[2020-09-21 15:07] m2-assistant[bot] opened #30134 "[Issue] Added a dedicated modifier pool for categories"
This issue is automatically created based on existing pull request: magento/magento2#30119: Added a dedicated modifier pool for categories

---------

### Description (*)
This PR greatly decreases chances for conflicts if your application has more than one custom or 3rd party module extending category edit form using modifiers.

The problem:
As we know, ui component forms can be extended either in

[2020-09-21 15:11] m2-assistant[bot] opened #30135 "[Issue] gitignore for files and folders generated by Magento Functional Testing Framework (MFTF)"
This issue is automatically created based on existing pull request: magento/magento2#30107: gitignore for files and folders generated by Magento Functional Testing Framework (MFTF)

---------
### Description (*)
When we execute the commands related on https://devdocs.magento.com/mftf/docs/commands/mftf.html

Folders and files will be created during execution of MFTF commands.

In my opinion the ch

[2020-09-21 15:55] lfluvisotto commented on #3625
@magento give me 2.4-develop instance

[2020-09-21 16:18] bmitchell-ldg commented on #30128
Hello,
I am unable to use varnish on the 2.4 testing instance to be able to fully replicate the issue we are seeing, but i have been able to see the same behaviour using the built in cache on product pages.

**Product Page Cache Tests*
I have added screenshots below
- Screenshot shows the page load on a cached page
- I have then placed an order for the product
- a couple of minutes after the order

[2020-09-21 16:34] mauragcyrus commented on #30100
Looks like this is the same issue reported here: https://github.com/magento/magento2/issues/28953

[2020-09-21 17:14] drc0 opened #30137 "Configurable product graphql doesn't accept string option values"
I have a custom attribute source that works with the default theme Luma but not with a pwa (magento pwa for example or scandipwa) that uses the graphql endpoint defined in configurable-product-graph-ql schema, because value_index expects an Int https://github.com/magento/magento2/blob/390505a93555198c93331ed9159664fbccb70cd9/app/code/Magento/ConfigurableProductGraphQl/etc/schema.graphqls#L20

Also

[2020-09-21 18:03] chequille commented on #30098
Let me please ask something. Could somebody explain why you are using scrippt insertion of the breadcrumbs and not like for the catalog page jszt with normal phtml file and php code?

I made some changes in Magento_Catalog/templates/product/breadcrumbs.phtml and it is working. Second advantage of doing it there is, that the breadcrumbs are displayed immedialty and not after a second or so.

Magent

[2020-09-21 18:22] thundercat1 opened #30138 "Configurable product shows $0 when out of stock"
### Preconditions (*)
1. Magento 2.3.5

### Steps to reproduce (*)
1. Create a simple product with zero quantity, but nonzero price
2. Create a configurable product that includes the simple product as child

### Expected result (*)
1. Configurable product should show out of stock, but the price from the simple product
2.

### Actual result (*)
1. Configurable product shows out of stock, $0 price

[2020-09-21 18:22] thundercat1 commented on #30138
@magento give me 2.3.5 instance

[2020-09-21 18:24] thundercat1 commented on #30138
@magento give me 2.3 instance

[2020-09-21 18:28] thundercat1 commented on #30138
@magento give me 2.4-develop instance

[2020-09-21 22:59] snarlynarwhal commented on #5405
I too am having this issue. Any solutions?

[2020-09-22 04:42] krishprakash commented on #30131
@magento give me 2.4-develop instance

[2020-09-22 04:44] ajijshekh123 commented on #30138
@magento give me 2.4-develop instance

[2020-09-22 04:50] #30071 closed, assigned to nobody

[2020-09-22 05:36] lfluvisotto commented on #3625
@magento I'm working on it

[2020-09-22 05:58] ihor-sviziev commented on #30071
@fooman yeah, as a maintainer sometimes I'm asking to make backward compatible changes if that's possible in order to have easier upgrades for everyone, but it's not really required by now - as of today from the automated Semantic Version Checker complains about classes marked with `@api` tag only. The same rule applies for internal teams.

Actually maintaining backward compatibility also have dow

[2020-09-22 06:03] ajijshekh123 commented on #30138
Hi @thundercat1,

I have reviewed the Issue in the Default Magento 2.4 Instance with your steps, actual result and expected result.
In Configurable Product, The user not able to add the simple product in Configurable products. so not verify this issue in the latest magento Instance.
After verify Magento 2.3 instance I will confirm the issue.

Thanks.

[2020-09-22 06:18] ihor-sviziev commented on #27146
Hi @drew7721 @danemacmillan,
As I understood - you have own redis server on each web node? If so - it's wrong configuration as the web nodes not shares the cache that leads to higher load on each node and issues like you described above.

Could you explain more your use case?

[2020-09-22 06:20] sreenathnr-tm commented on #23844
@engcom-Charlie This issue is still happening when we enable 3DS in production mode and it is working fine on sandbox mode for Braintree.

[2020-09-22 06:48] Lukas713 commented on #28420
Same issue - NOT fixed in 2.3.5-p2

[2020-09-22 08:44] amenk commented on #27971
@lbajsarowicz How did you solve that? We had an similar error message when using static functions in ApiFunctionalTests. Then phpunit tried to load the ApiFunctionalTests when running integration tests.
There seems happen very crazy stuff in `\Magento\TestFramework\Workaround\Cleanup\StaticProperties`

[2020-09-22 09:21] magento-engcom-team commented on #29659
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37808` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-22 09:31] windymedia commented on #7350
We are also seeing the same issue on 2.3.5 Composer install

[2020-09-22 09:34] engcom-Oscar commented on #29343
Hi @an4rei !
Thank you for your contribution.
 I'm closing this ticket as not a bug, because described issue according documentation is a expected behavior for Cart price rule according https://docs.magento.com/user-guide/marketing/price-rules-cart-create.html:
_In the Maximum Qty Discount is Applied To field, enter the maximum quantity of the same product that can qualify for the discount in the

[2020-09-22 09:34] #29343 closed, assigned to engcom-Oscar

[2020-09-22 09:42] engcom-Oscar commented on #29765
dublicate https://github.com/magento/magento2/issues/23938

[2020-09-22 09:42] #29765 closed, assigned to engcom-Oscar

[2020-09-22 09:43] engcom-Oscar commented on #29363
Hello @hostep

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest 2.4 code. Probably it was already fixed and will appear in the next release. Or we missed some steps or preconditions.

Could you please recheck and confirm?

[2020-09-22 09:57] haimagento2 opened #30142 "Graphql Related Product Map Id Not Exit In Related Search Result"
Preconditions (*)

1. Magento 2.3.5

Steps to reproduce (*)

1. Create a simple product with some related products
2.Set a related product form in stock to out stock or set quantity to 0 or disable a related product

Expected result (*)
1.
![fix_related_graphql](https://user-images.githubusercontent.com/48465499/93868179-4babee00-fcf4-11ea-9c14-b775fd5a562a.png)

Actual result (*)
1.
![related_iss

[2020-09-22 09:58] haimagento2 commented on #30142
this is path file
vendor/magento/module-related-product-graph-ql/Model/Resolver/Batch/AbstractLikedProducts.php

[2020-09-22 10:13] magento-engcom-team commented on #28154
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37811` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-22 10:50] #29877 closed, assigned to engcom-Oscar

[2020-09-22 10:51] #29876 closed, assigned to engcom-Oscar

[2020-09-22 10:52] wassuupp opened #30143 "SKU is not affected on Product Update API request"
### Summary (*)
When user tries to change "sku" using Product Update API request, Magento ignores "sku" value.
If there should be ability to change "sku", this ability needs to be implemented.
It no, so should be some error message that sku changing is deprecated.

### Examples (*)
Make PUT request on this endpoint /V1/products/{sku1}
Body example:
{
    "product":
        {
            "sku": "sk

[2020-09-22 10:57] #29792 closed, assigned to engcom-Oscar

[2020-09-22 11:17] magento-engcom-team commented on #29585
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37815` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-22 11:28] arpitavshah commented on #12916
You can also check the custom attribute which is getting used to create configurable product. I had issue in the custom attribute and deleting the custom attribute and recreating it resolved my issue

[2020-09-22 11:47] arek-neptuneweb commented on #28966
I had the same problem, found a solution here:
https://magento.stackexchange.com/questions/322516/magento-2-x-elasticsearch-category-products-not-showing

[2020-09-22 11:49] engcom-Delta commented on #29786
@bagbarn we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-09-22 11:49] #29786 closed, assigned to engcom-Delta

[2020-09-22 11:55] engcom-Delta commented on #29811
@dharmesh201190 we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-09-22 11:55] #29811 closed, assigned to engcom-Delta

[2020-09-22 11:55] elizad opened #30144 "The value specified in the URL Key field would generate a URL that already exists. To resolve this conflict, you can either change the value of the URL Key field (located in the Search Engine Optimization section) to a unique value, or change the Request Path fields in all locations listed below:"
### Preconditions (*)

1. Magento2.4

### Steps to reproduce (*)

1.do a category
2. move the category to the desired place
3. and voila The value specified in the URL Key field would generate a URL that already exists.
To resolve this conflict, you can either change the value of the URL Key field (located in the Search Engine Optimization section) to a unique value or change the Request Path fiel

[2020-09-22 11:57] engcom-Delta commented on #29706
@peterkeijsers  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-09-22 11:57] #29706 closed, assigned to engcom-Delta

[2020-09-22 12:05] RonakParmar commented on #28420
I have same issue in 2.3.5-p1. Is there any patch available ?

[2020-09-22 12:07] dverkade opened #30145 "Special character ' not showing correct in product grid"
### Preconditions
1. Magento 2.3.5
2. Install the sample data

### Steps to reproduce
1. Edit a product and change the name of the product and add an apostrophe to the name of the product. Example product name: heating'
2. Save the product.
3. Product has been saved correctly. Showing the product name as "heatin'" in the product edit screen.
4. Return to the product overview page / product grid pa

[2020-09-22 12:13] JelleGe commented on #24683
Well we use the same service from icecat and we face the same issue. Do you found a solution to speed up the product edit page?

[2020-09-22 12:32] hostep commented on #29363
@engcom-Oscar: I'm not sure, I think this release notification window should only pop up in fixed release versions as it is supposed to announce new big features in a new version. I don't think I ever saw it in development versions, so it can't be checked on `2.4-develop` I believe, only on 2.4.0 or 2.4.1 (which should already be available [as a beta](https://devdocs.magento.com/release/#release-s

[2020-09-22 12:41] visualwebs commented on #24683
No, but almost caching not system attributes speeds up the backend edit.

https://devdocs.magento.com/guides/v2.4/extension-dev-guide/attributes.html

bin/magento config:set dev/caching/cache_user_defined_attributes 1

[2020-09-22 12:47] JelleGe commented on #24683
Thanks! Sadly we already had enabled this, so seems that we can not benefit from this.

[2020-09-22 13:12] nadroj467 commented on #11995
Experiencing this issue in Magento 2.3.5-p1 does anyone have progress with a solution? Thanks

[2020-09-22 13:17] ajijshekh123 commented on #30145
@magento give me 2.4-develop instance

[2020-09-22 13:21] magento-engcom-team commented on #29546
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37817` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-22 13:23] engcom-Oscar commented on #28912
Hello @ryanfern86goa
Thank you for contribution and collaboration!

@sdzhepa could you please move this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.
[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magen

[2020-09-22 13:38] ajijshekh123 commented on #30145
@magento give me 2.3.5-develop instance

[2020-09-22 13:46] ajijshekh123 commented on #30145
Hi @dverkade,
Verified the issue Default Magento 2.4 Instance. Product name is showing properly on Product Grid, Edit Product and Front end product page. You can review all attached the screenshot:

![image](https://user-images.githubusercontent.com/24711761/93890226-bd416780-fd07-11ea-8aec-e035c09e2aab.png)

![image](https://user-images.githubusercontent.com/24711761/93890355-e3670780-fd07-11ea-9

[2020-09-22 14:02] mrtuvn commented on #29870
I can confirm this problem may come from customise theme or custom module work with review block default
Here is review tab define
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Review/view/frontend/layout/catalog_product_view.xml#L21
tab content link to tab id #tab-label-reviews
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Review/view/frontend/templ

[2020-09-22 14:47] revgovmade opened #30146 "Integration Test Framework do not work out the box. Not compatible with PhpUnit 9.3.x"
### Preconditions
1. Magento 2.4.0

### Steps to reproduce
1. Run Integration Test Framework on a new test or existing Magento 2 test.
2. cd into the following folder: `dev/tests/integration`
3. `../../../vendor/phpunit/phpunit/phpunit --configuration phpunit.xml`

### Expected Result
1. Tests run.

### Actual Result
[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/con

[2020-09-22 15:19] MartinSchillinger opened #30147 "Order containing unavailable product cannot be edited"
### Preconditions (*)

1. Magento 2.4.0 CE
2. PHP 7.4
3. MariaDB 10.4

### Steps to reproduce (*)

1. Create an order with any sample product
2. Set global quantity of that specific product to 0
3. Try to edit the order

### Expected result (*)

1. Order is editable so that you can at least remove the unavailable product

### Actual result (*)

1. Page reloaded showing "This product is out of stoc

[2020-09-22 15:20] bagbarn commented on #29786
we error reporting to no and that solved the problem

    On Tuesday, September 22, 2020, 7:49:47 AM EDT, Vasyl Shvorak <notifications@github.com> wrote:

@bagbarn we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-22 15:23] lbajsarowicz commented on #27971
No, I didn't.

[2020-09-22 15:38] piuga commented on #29957
Hello @sdzhepa,

I have checked this on 2.4-develop branch also, and the issue appears there.

I will add below some screenshots that might help with testing. I used an older DB so I have old orders for it:
- here is an order placed on 12 Oct. 2019 https://prnt.sc/ulvz4s
- the quote attached to it has same updated date: https://prnt.sc/ulw0s0
As DB was from local, were cron was not running, I have

[2020-09-22 16:15] gabrieldagama commented on #25885
Hi @oncesk, can you provide a specific scenario where we can reproduce this issue? Thanks!

[2020-09-22 16:33] KBUnulleins commented on #21885
### Temporary solution to this issue:

**1. Edit this file:**
`/vendor/magento/module-catalog-import-export/Model/Import/Uploader.php:134`

**2. Modify init() function:**
Change line 134 in the init() function from

[code]
to
[code]

**Result:**
This will replace the product images instead of just renaming and duplicating them.

**Keep in mind:**
This is just a **temporary solution** and with the

[2020-09-22 16:50] gabrieldagama commented on #25343
Hi @ihor-sviziev,

The Braintree module was removed from our repository and this issue should be reported directly to the extension provider on Magento Marketplace. I'm closing this issue for now.

Thanks.

[2020-09-22 16:50] #25343 closed, assigned to nobody

[2020-09-22 16:54] gabrieldagama commented on #25119
Hi @viniciusfabri,

Since the issue isn't related directly to Magento and there is already an issue open on less.php repository I will be closing this issue for now.

Thanks.

[2020-09-22 16:54] #25119 closed, assigned to nobody

[2020-09-22 17:05] sshymko commented on #28614
@wjpbill
It's probably not a good idea to share the rules setup publicly to give attackers clue how to circumvent the protection.
Please DM me on Twitter [@SergiiShymko](https://twitter.com/SergiiShymko).

[2020-09-22 17:58] dfelton opened #30149 "\Error object not handled properly in numerous areas."
### Preconditions (*)

1. Magento Open Source 2.4-develop

### Steps to reproduce (*)

1. Install fresh copy of Magento 2.4-develop
2. Create new module that has an event observer which listens for the `cms_page_save_after` event. Contents:

[code]

3. Log into the admin, open a cms page (or begin creating new page) for editing, make any change, and save page.

### Expected result (*)
1. Since `\M

[2020-09-22 18:35] AlexMaxHorkun commented on #29964
I was not able to reproduce this locally with 1200+ products and dozens of categories. Perhaps this issue can only occur on a heavily resource limited setup. However I can see that there is a room for improvement performance wise in CSP implementation and it will be addressed in the next 2.4.x release

[2020-09-22 18:36] bvboas opened #30150 "Activate Tab no longer works on legacy tabs/forms"
### Preconditions (*)
1. Magento 2.4
2. Legacy Form with Left Tabs
3. URL with param: active_tab/TAB_NAME

### Steps to reproduce (*)
1. Create a new record in a form with multiple left tabs
2. Select one, other than the first left tab
3. Save the form

### Expected result (*)
1. Users should be redirected back to the form with the previous selected left tab active

### Actual result (*)
1. Users

[2020-09-22 18:41] gwharton commented on #29964
eeeeekkkkk :(

67MB of CSP headers being allocated is not something that should be happening on any machine, let alone a resource starved one.

There is something wrong in the block cache/CSP area it seems.

I know when mine was failing, none of the hashes from the secure inline scripts were making it into the CSP headers either.

I am using varnish, I don't know if that matters.

[2020-09-22 18:43] gwharton commented on #29964
Also, it only seems to occurr at random times. I can let my site run for days with no problem, then all of a sidden, something triggers it and I am getting out of memory errors and apache is reporting random 503's to varnish. If I then clear cache, it runs fine again for a few days, then bang! I have had no issues whatsoever since disabling CSP. I for one, don't think module-csp is ready for produ

[2020-09-22 18:50] sdzhepa commented on #27251
Hello @engcom-Oscar

Could you please recheck this issue on the latest `2.4-develop` code.
It seems as a misconfiguration issue or so but its not possible to define based on the description.
If the issue not actual for `2.4-develop` it should be closed

cc: @Zyles

[2020-09-22 19:06] sdzhepa commented on #19241
Closed as fixed and delivered into `2.4-develop`
https://github.com/magento/magento2/issues/19241#issuecomment-678114183

[2020-09-22 19:06] #19241 closed, assigned to vkolesny

[2020-09-22 19:21] hostep commented on #24348
@gabrieldagama: I've just re-tested this on `2.4-develop` and it looks like it now works as expected. Thank you @engcom-Hotel!

[2020-09-22 20:28] sdzhepa commented on #28424
Hello @kemexyz

I will reopen this issue for re-confirmation
Please update the description and steps it could help a lot for confirmation on the `2.4-develop` and future processing.
Also, please take into account in this repository we can process/confirm/fix/deliver only issues that can be reproduced on the latest `2.4-develop`

[2020-09-22 22:07] kinexm commented on #28614
Currently Rate Limit is the only solution available that will block the attackers. If your site doesn't have Cloudflare then you should install and setup rules to block it.

If you are on the cloud server then you should look into setting up rate limit thru Fastly.

https://github.com/fastly/fastly-magento2/blob/master/Documentation/Guides/RATE-LIMITING.md

I hope it works.

[2020-09-22 22:20] viktym commented on #26384
You can install the patch for Magento 2.3.0 - 2.3.5 using Magento Quality Patches package ([MQP](https://devdocs.magento.com/guides/v2.4/comp-mgr/patching.html#mqp))

**Installation**
`$ composer require magento/quality-patches`

**Applying a patch:**
`$ ./vendor/bin/magento-patches apply MDVA-30107`

**Patch details:**
https://support.magento.com/hc/en-us/articles/360049869051

[2020-09-22 22:32] lazyguru commented on #28424
I spent the last couple of hours tracing this and want to offer up my findings to help with triage here. I found a quick fix in this line:https://github.com/magento/zf1/blob/master/library/Zend/Validate.php#L200. When I remove the `false` so that the line is just `if (!class_exists($className)) {` the specific condition I was running into went away (before you rush to make this change, please read

[2020-09-22 22:36] viktym commented on #23755
For Magento versions 2.3.0 - 2.3.5 patch is available in [Magento Quality Patches](https://devdocs.magento.com/guides/v2.4/comp-mgr/patching.html#mqp) package (MQP)

**MQP Installation**
`$ composer require magento/quality-patches`

**Applying a Patch**
`$ ./vendor/bin/magento-patches apply MDVA-30107`

**Patch Details**
https://support.magento.com/hc/en-us/articles/360049869051

[2020-09-22 22:46] LiamTrioTech commented on #16171
Also happens in Magento 2.3.0 with multiple sites/webstore/view when trying to install Mageplaza_StoreLocator.

As a temporary work around I modified vendor/magento/framework/Session/SessionManager.php

![image](https://user-images.githubusercontent.com/68578009/93944846-db4fac00-fd89-11ea-9db8-666b7394662c.png)

But agree that emulating the area code in the Setup/Upgrade php classes appears to be

[2020-09-23 00:35] aliomattux commented on #28614
The recaptcha feature does work. As someone else has already pointed out, the Swiss up labs module works and has built in support for checkout. Just enable it when the attack starts, Walt some time then turn it off and repeat

Sent from my iPhone

[2020-09-23 02:12] kamui23 commented on #29182
@swathishs thank for your confirmation.

[2020-09-23 02:51] nhatlich994 opened #30151 "work as the docs, i got an warning report when set timezone = false|true"
### Preconditions (*)
1. M2.4.0
2. PHP7.4
3. Docs: https://devdocs.magento.com/guides/v2.4/ui_comp_guide/components/ui-datecolumn.html

### Steps to reproduce (*)
1. Create custom UI Listing with a date type column
2. Or try modify core UI Listing (eg: sales_order_grid.xml, column created_at)
3. Add config timezone as docs: **`<timezone>false</timezone>`** like this

[code]

4. Clear cache, reload

[2020-09-23 04:34] LiamTrioTech opened #30152 "validate-clean-url regex is broken?"
### Preconditions (*)
Magento 2.4-develop
For example filtering a URL of `https://example.co.nz`

If I take the JS Regex rules and run them manually you can see.
[code]
Results in
[code]

Which would output the message such as:
```Please enter a valid URL. For example http://www.example.com or www.example.com.```

### Steps to reproduce (*)
1. Have an input that uses the validation validate-clean-

[2020-09-23 05:05] ajijshekh123 commented on #30145
Hi @dverkade,
The issue is not reproduced in the Latest magento Instance. I have cover all the steps, actual result and expected result but do not reproduce the latest Magento 2.4 Instance.
All delivery to the `2.3.x` release line can be done only by Magento internal teams. Magento team is working based on the internal backlog priority.

Thanks.

[2020-09-23 05:05] #30145 closed, assigned to ajijshekh123

[2020-09-23 05:06] ajijshekh123 commented on #30138
Hi @dverkade,
The issue is not reproduced in the Latest Magento Instance. I have covered all the steps, actual result and expected result but do not reproduce the latest Magento 2.4 Instance.
All delivery to the 2.3.x release line can be done only by Magento's internal teams. Magento team is working based on the internal backlog priority.

Thanks.

[2020-09-23 05:07] #30138 closed, assigned to ajijshekh123

[2020-09-23 05:23] soumiktuban commented on #30104
I don't have a system ready for Magento 2.4 right now. Kindly keep it open till I get a system to confirm.
Please let me know if this issue can be fixed by using a patch on Magento 2.3.*.

Thanks :)

[2020-09-23 05:40] ihor-sviziev commented on #30146
Hi @revgovmade,
Could you add steps to reproduce?

[2020-09-23 07:05] KrishnaK-Z commented on #29480
@magento I am working on this

[2020-09-23 07:11] revgovmade commented on #30146
Hi @ihor-sviziev, Steps to Reproduce are in the original bug report above. You just have to run the integration tests out the box and they fail.

It appears the following class is not compatible with PhpUnit 9.x.x: https://github.com/magento/magento2/blob/2.4-develop/dev/tests/integration/testsuite/Magento/IntegrationTest.php

The following three files are referenced, but do not ship with PhpUnit

[2020-09-23 07:13] ihor-sviziev commented on #30146
@revgovmade ok. which command have you executed in order to run tests?

[2020-09-23 07:16] revgovmade commented on #30146
First I cd into the following folder: `dev/tests/integration`
Then run: `../../../vendor/phpunit/phpunit/phpunit --configuration phpunit.xml`

[2020-09-23 07:19] sudhirtricore commented on #8734
Its not working with  https://www.site.com/bags-wallets.html?p=%3Cscript%3Ealert(document.cookie)%3C/script%3E

[2020-09-23 07:49] zapvol opened #30154 "customizable options support visual or text swatch"
### Summary (*)

customizable options does not support visual or text swatch

### Examples (*)

I have some products that need to be customized. I don't have inventory at the moment, but I need to choose the color and size, So I just need to choose to create a single product, customize color and size can be satisfied, but color and size need to be used  visual or text swatch，it is more friendly.

[2020-09-23 08:08] thinksys-dev opened #30155 "When product add to wishlist and then add to cart then related products do not add to cart?"
### Preconditions (*)
   Magento Version 2.3.5p2 and `2.4-develop`

1.I am adding product to wishlist from PDP and go to wishlist and edit the product then select or checked related products to go with main product but when i add to cart then only the main product goes in cart no related product adds in cart.

2.I checked with default does not work on that also.

### Steps to reproduce (*)

1.Go t

[2020-09-23 08:13] Eddcapone commented on #29625
@magento give me 2.4-develop instance

[2020-09-23 08:21] Eddcapone commented on #29625
@engcom-Oscar, I tried to reproduce it with the Magento Instance which the deployment service gave me, but there is a bug in URL Rewrites and it just loads forever and nothing happens.

[2020-09-23 08:25] Eddcapone opened #30156 "URL Rewrites not loading - Cannot read property 'getData' of undefined"
### Preconditions (*)

1. dev-2.4-develop (instance given by magento deployment bot)

### Steps to reproduce (*)

1. Open Admin Backend.
2. Go to: Marketing -> SEO & Search: Url Rewrites

### Expected result (*)

1. should load

### Actual result (*)

It just loads forever and nothing happens.

I get this in the browser console:

[code]

---
Please provide [Severity](https://devdocs.magento.com/gu

[2020-09-23 08:32] krishprakash commented on #30150
Hi @bvboas. This is default Magento behaviour not an issue. If you want to enhance this so kindly report as Feature Request not an issue
Thanks!!!

[2020-09-23 08:32] #30150 closed, assigned to krishprakash

[2020-09-23 08:54] engcom-Charlie commented on #29200
As mentioned here https://github.com/magento/magento2/pull/29201#issuecomment-689668146 looks like this is expected behavior.

[2020-09-23 08:54] #29200 closed, assigned to nobody

[2020-09-23 09:09] Eddcapone opened #30157 "Can't install Magento 2.4 - Could not validate a connection to Elasticsearch. null"
### Preconditions (*)

-

### Steps to reproduce (*)

Try to install magento 2.4.0 like this.

1. composer create-project --repository-url=https://repo.magento.com/ magento/project-enterprise-edition=2.4.0 .

2.

[code]

**NOTE:** I replaced some sensitive data with xyz

### Expected result (*)

It should work, because if I test the exact same credentials in Amasty Elastic Search Extension and pre

[2020-09-23 09:33] kolaente opened #30158 "magentoDataFixture doesn't use setUp function in tests"
### Preconditions (*)

1. Magento Version 2.3.4-p2
2. php 7.2

### Steps to reproduce (*)

1. Create a test with a `setUp()` function and a data fixture through and `@magentoDataFixture` docblock annotation
2. Exectute the test

This can best be observed by having a setup function which creates mocks for certain classes like so:

[code]

and then expecting a method of the mock to get called during

[2020-09-23 09:47] wjpbill commented on #28614
Twitter won't let me DM you,, just says you can't be messaged. Maybe you could start the message @wjpbill

[2020-09-23 09:55] engcom-Oscar commented on #27251
Hello @Zyles, thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Please, notice, that according https://docs.magento.com/user-guide/stores/admin-dashboard.html, Dashboard lifetime sales displays only summary of all completed orders.
If you have some more details how to reproduce this issue on latest 2.4 Magento, feel free to update th

[2020-09-23 09:55] #27251 closed, assigned to engcom-Oscar

[2020-09-23 09:59] Eddcapone opened #30159 "Attribute type text field: magento cuts text if it is longer than 255 chars without any error message showing"
### Preconditions (*)
- dev-2.4-develop (instance given by magento deployment bot)

### Steps to reproduce (*)
1. Create new product attribute with type "Text field"
2. Assign Attribute to a attribute set
3. Open a product which has the attribute set assigned.
4. Enter a value with more than 300 chars into the field.
5. Save

### Expected result (*)
1. It should break saving and show a message say

[2020-09-23 10:27] ihor-sviziev commented on #30146
Just tried to run this test on 2.4-develop, and seems like you're right - it doesn't work.

But I actually got a bit different error:
[code]
![image](https://user-images.githubusercontent.com/1873745/94000302-acdccb80-fd9f-11ea-8ca1-35ecd99f1fe3.png)

Also on 2.4.0 I was able to reproduce a bit different, but it also fails:
[code]

[2020-09-23 10:28] magento-engcom-team commented on #30146
:white_check_mark: Confirmed by @ihor-sviziev
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37866` were created

**Issue Available**: @ihor-sviziev, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-23 10:30] ihor-sviziev commented on #30146
@revgovmade thank you for your report, I acknowledged it!

[2020-09-23 10:40] ihor-sviziev commented on #30146
@revgovmade could you provide which phpunit version do you have installed? I see in composer.lock file we have 9.1.5.

[2020-09-23 10:57] revgovmade commented on #30146
I have **PhpUnit v9.3.10**.

However, I would like to stress, even though you got a different error, this is still a problem and needs to be resolved: https://github.com/magento/magento2/issues/30146#issuecomment-697179224

The reason you have produced a different error to mine, might be because the command you ran, was slightly different to mine.

The command you ran: `../../../vendor/phpunit/php

[2020-09-23 11:18] Eddcapone opened #30161 "Impossible to upgrade database after upgrading to Magento 2.4 - Could not validate a connection to Elasticsearch. No alive nodes found in your cluster"
### Preconditions (*)

1. Fresh Magento 2.3.5-p2

### Steps to reproduce (*)

1. Change magento version in composer.json to 2.4.0
2. composer update
3. Login to Backend
4. You get "**There has been an error processing your request**" and a error log record number.
5. Lookup error message:

"Please upgrade your database"

6. Try to upgrade database with `bin/magento setup:upgrade`
7. Upgrade fails

[2020-09-23 11:22] ihor-sviziev commented on #30146
@revgovmade sure, the issue is present, it should be resolved. I ran just single test because I saw it in your exception log that it fails.

[2020-09-23 11:22] roshanyadav89 commented on #26774
Any solution for the same I am facing the same issue after m2.3.3 upgrade 2.3.5 EE

[2020-09-23 11:29] krishprakash commented on #30147
@magento give me 2.4-develop instance

[2020-09-23 11:31] roshanyadav89 commented on #26786
Any solution for the same?

[2020-09-23 11:32] roshanyadav89 commented on #26786
Any solution for the same I am facing the same issue after m2.3.3 upgrade 2.3.5 EE

[2020-09-23 11:32] roshanyadav89 commented on #26799
Any solution for the same I am facing the same issue after m2.3.3 upgrade 2.3.5 EE

[2020-09-23 11:46] magento-engcom-team commented on #30163
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37867` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-23 11:50] krishprakash commented on #30156
Hi @Eddcapone. Not able to reproduce the issue as you mentioned
Here it works fine and also verified in my local 2.4-develop instance

![image](https://user-images.githubusercontent.com/46617848/94008532-cc382080-fdc0-11ea-9aee-39d6a3027553.png)

Thanks !!

[2020-09-23 11:50] #30156 closed, assigned to krishprakash

[2020-09-23 11:50] magento-engcom-team commented on #30164
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37868` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-23 11:52] magento-engcom-team commented on #30165
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37869` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-23 11:56] paul-sysint commented on #26774
The issue I originally had was caused by a 3rd party extension conflicting with Braintree. I ended up disabling all 3rd party extensions and re-enabling 1 at a time recompiling and redeploying each time until I found the offending module.

I would start by checking all 3rd party modules are compatible with 2.3.5.

[2020-09-23 12:03] krishprakash commented on #30147
Hi @MartinSchillinger. Thank you for your report.
This is default magento behavior to show the message like This product is out of stock
You need to select **_Remove_** from Action drop down and Update Items and Quantities so that product has been removed from the order
Refer the screenshot below:
![image](https://user-images.githubusercontent.com/46617848/94009431-14a40e00-fdc2-11ea-9969-96af3c66

[2020-09-23 12:03] #30147 closed, assigned to krishprakash

[2020-09-23 12:11] revgovmade commented on #30146
Thanks. Getting this fixed is actually really important to us. How long do issues like this tend to get resolved? It feels like a big deal, because anyone practicing TDD can't do that with Magento 2.4 at the moment.

[2020-09-23 12:17] ihor-sviziev commented on #30146
@revgovmade as a workaround I think for now you could run only tests that you need to run

[2020-09-23 12:25] revgovmade commented on #30146
Unfortunately, there is no work around. This issue is persistent for **all** tests. I created my own test and it still has the same issue. The problem is with the Magento Integration Framework itself. From my understanding, no one can use the Magento Integration Testing Framework until the [class](https://github.com/magento/magento2/blob/2.4-develop/dev/tests/integration/testsuite/Magento/Integrat

[2020-09-23 12:31] gabrieldagama commented on #29075
Hi @Januszpl. Thank you for your report.
The issue has been fixed in magento/magento2#29794 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [9df9db2d742feb1f1e28e9394a437c13a2b5a054](https://github.com/magento/magento2/commit/9df9db2d742feb1f1e28e9394a437c13a2b5a054)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-23 12:31] #29075 closed, assigned to nobody

[2020-09-23 12:31] gabrieldagama commented on #29718
Hi @Neos2007. Thank you for your report.
The issue has been fixed in magento/magento2#29814 by @nuzil in 2.4-develop branch
Related commit(s):
 - [09b63c7e378eea2db2453653b1348eb33e45600d](https://github.com/magento/magento2/commit/09b63c7e378eea2db2453653b1348eb33e45600d)
 - [2450b144b5172b5aa45e582d836c5529841fad14](https://github.com/magento/magento2/commit/2450b144b5172b5aa45e582d836c5529841fa

[2020-09-23 12:31] #29718 closed, assigned to nuzil

[2020-09-23 12:31] gabrieldagama commented on #29984
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29972 by @marcostrama in 2.4-develop branch
Related commit(s):
 - [1472740580d7a5b051455c3e62a2233a33545077](https://github.com/magento/magento2/commit/1472740580d7a5b051455c3e62a2233a33545077)
 - [16b8d6a454daef762c3e62433f95609f9c502383](https://github.com/magento/magento2/commit/16b8d6a454daef762c3e62

[2020-09-23 12:31] #29984 closed, assigned to nobody

[2020-09-23 12:31] gabrieldagama commented on #29546
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28818 by @Knase in 2.4-develop branch
Related commit(s):
 - [f2468b5680879d3b50fed47fd766d1f074e6ffda](https://github.com/magento/magento2/commit/f2468b5680879d3b50fed47fd766d1f074e6ffda)
 - [cc2c5b9ea13a7dbe4f9251d6912952fb4db58190](https://github.com/magento/magento2/commit/cc2c5b9ea13a7dbe4f9251d69129

[2020-09-23 12:31] #29546 closed, assigned to nobody

[2020-09-23 12:31] gabrieldagama commented on #28154
Hi @zhartaunik. Thank you for your report.
The issue has been fixed in magento/magento2#29081 by @complexthings in 2.4-develop branch
Related commit(s):
 - [4f10b5db85a2a3387af81978e616ed0d21a77c4b](https://github.com/magento/magento2/commit/4f10b5db85a2a3387af81978e616ed0d21a77c4b)
 - [1505a36a8b21c0660e1cf519b7bd703e581789c1](https://github.com/magento/magento2/commit/1505a36a8b21c0660e1cf519b7b

[2020-09-23 12:31] #28154 closed, assigned to complexthings

[2020-09-23 12:31] gabrieldagama commented on #28428
Hi @pitbulk. Thank you for your report.
The issue has been fixed in magento/magento2#29081 by @complexthings in 2.4-develop branch
Related commit(s):
 - [4f10b5db85a2a3387af81978e616ed0d21a77c4b](https://github.com/magento/magento2/commit/4f10b5db85a2a3387af81978e616ed0d21a77c4b)
 - [1505a36a8b21c0660e1cf519b7bd703e581789c1](https://github.com/magento/magento2/commit/1505a36a8b21c0660e1cf519b7bd70

[2020-09-23 12:31] #28428 closed, assigned to complexthings

[2020-09-23 12:31] gabrieldagama commented on #29659
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29080 by @danbtl in 2.4-develop branch
Related commit(s):
 - [5031159fef1c5621f5c8bb0ccbc8e8efb9b70972](https://github.com/magento/magento2/commit/5031159fef1c5621f5c8bb0ccbc8e8efb9b70972)
 - [123a4f0c68ce396ff050d4057565b33140573779](https://github.com/magento/magento2/commit/123a4f0c68ce396ff050d405756

[2020-09-23 12:31] #29659 closed, assigned to nobody

[2020-09-23 12:31] gabrieldagama commented on #29585
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28164 by @schmengler in 2.4-develop branch
Related commit(s):
 - [7bd5e25d290bf905fbf8254b66bedae01a5c6717](https://github.com/magento/magento2/commit/7bd5e25d290bf905fbf8254b66bedae01a5c6717)
 - [8bcd2fa8839cd3f0fb659d49ee1590b664b9687c](https://github.com/magento/magento2/commit/8bcd2fa8839cd3f0fb659d4

[2020-09-23 12:31] #29585 closed, assigned to nobody

[2020-09-23 12:31] gabrieldagama commented on #29590
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27980 by @tmotyl in 2.4-develop branch
Related commit(s):
 - [0118d484509c06254bbc8f392ab2eb6ca06ea18a](https://github.com/magento/magento2/commit/0118d484509c06254bbc8f392ab2eb6ca06ea18a)
 - [b8dd6b39775739bf732951723d580e8d50e3aef1](https://github.com/magento/magento2/commit/b8dd6b39775739bf732951723d5

[2020-09-23 12:31] #29590 closed, assigned to nobody

[2020-09-23 12:31] gabrieldagama commented on #29546
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28818 by @Knase in 2.4-develop branch
Related commit(s):
 - [f2468b5680879d3b50fed47fd766d1f074e6ffda](https://github.com/magento/magento2/commit/f2468b5680879d3b50fed47fd766d1f074e6ffda)
 - [cc2c5b9ea13a7dbe4f9251d6912952fb4db58190](https://github.com/magento/magento2/commit/cc2c5b9ea13a7dbe4f9251d69129

[2020-09-23 12:46] bvboas opened #30166 "Activate Tab no longer works on legacy tabs/forms"
### Preconditions (*)
1. Magento 2.4-develop
2. Legacy Form with Left Tabs
3. URL with param: active_tab/TAB_NAME

### Steps to reproduce (*)
1. Create a new record in a form with multiple left tabs
2. Select one, other than the first left tab
3. Save the form

### Expected result (*)
1. Users should be redirected back to the form with the previous selected left tab active

### Actual result (*)
1

[2020-09-23 12:56] AGo444 commented on #8004
It's really an issue when you wnat to update images and cannot set the type. Please reopen this ticket,

[2020-09-23 13:08] chalov-anton opened #30168 ""Uncaught TypeError: Cannot read property 'clientWidth' of undefined" error message appears on New Media Gallery page"
### Preconditions (*)
1. Install Magento with Adobe Stock Integration
2. Configured integration in Stores -> Configuration -> Advanced-> System -> Adobe Stock Integration fieldset

### Steps to reproduce (*)
1. Log in Admin Panel and go to _Stores - Configuration - Advanced - System- Media Gallery_
2. Set **Enable Old Media Gallery** to **No.**
3. **Save Config** and clear Magento cache
4. Log out

[2020-09-23 13:24] magento-engcom-team commented on #30168
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37871` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-23 13:54] sdzhepa commented on #9138
The documentation related to this issue has been updated in https://github.com/magento/devdocs/pull/7393
It seems we can close this old report.
But if a problem still exists, please create new report with an updated description and links related to 2.4

[2020-09-23 13:54] #9138 closed, assigned to nobody

[2020-09-23 13:54] Eddcapone commented on #30156
@krishprakash Maybe the instance I received from magento bot was damaged. I try again:

@magento give me 2.4-develop instance

[2020-09-23 14:06] bmitchell-ldg commented on #30128
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-09-23 14:20] Eddcapone commented on #30156
@krishprakash I can confirm that it works. Seems like the instance which I received from magento deployment service bot was damaged.

[2020-09-23 14:24] Eddcapone commented on #29625
@engcom-Oscar, I testet again from another instance. Now it worked. Looks like the issue was resolved. Thank you.

[2020-09-23 14:36] rioux602 commented on #13225
+1

[2020-09-23 14:42] m2-assistant[bot] opened #30169 "[Issue] Set correct discount package value for tablerate"
This issue is automatically created based on existing pull request: magento/magento2#30167: Set correct discount package value for tablerate

---------

### Preconditions (*)

Magento 2.4-develop

This PR fixes the issue for the table rate carrier where the 'package value with discount' in the RateRequest is filled with the package value without the discount.

Currently, when you have a cart rule

[2020-09-23 14:48] ihor-sviziev commented on #30146
@revgovmade here is my PR that should fix this issue. You could apply it as a patch. https://github.com/magento/magento2/pull/30170

[2020-09-23 15:03] sdzhepa opened #30171 "Test sync Issue"
Test update sync

test update 2

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information

[2020-09-23 15:05] magento-engcom-team commented on #30171
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37873` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-23 15:10] magento-engcom-team commented on #30171
Hi @sdzhepa, @sdzhepa.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37873` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if

[2020-09-23 15:16] roshanyadav89 commented on #26774
Magento 2.3.5 [EE] same issue as mentioned trying to find the solution for the same, I disabled all 3rd party extensions Only COD enabled then also facing the same issue.

[2020-09-23 15:33] dchaykas commented on #6106
Magento 2.3.3

`Fatal error: Declaration of Magento\Framework\App\Request\PathInfo\Logger::getPathInfo(string $requestUri, string $baseUrl) must be compatible with Magento\Framework\App\Request\PathInfo::getPathInfo(string $requestUri, string $baseUrl): string in /srv/www/alberta_dev/magento/generated/code/Magento/Framework/App/Request/PathInfo/Logger.php on line 0`

As soon as SetEnv MAGE_PROFILE

[2020-09-23 15:35] dchaykas commented on #24837
Magento 2.3.3
`Fatal error: Declaration of Magento\Framework\App\Request\PathInfo\Logger::getPathInfo(string $requestUri, string $baseUrl) must be compatible with Magento\Framework\App\Request\PathInfo::getPathInfo(string $requestUri, string $baseUrl): string in /srv/www/alberta_dev/magento/generated/code/Magento/Framework/App/Request/PathInfo/Logger.php on line 0`

Enabled profiler by setting the

[2020-09-23 16:07] m2-assistant[bot] opened #30173 "[Issue] fixing arguments for method in getStatusByState"
This issue is automatically created based on existing pull request: magento/magento2#30172: fixing arguments for method in getStatusByState

---------

### Summary (*)
Magento 2.4-develop
if you will checking this condition
`echo $select = $this->getConnection()->select()
            ->from(['sss' => $this->stateTable, []])
            ->where('state = ?', $state)
            ->limit(1)

[2020-09-23 17:24] engcom-Oscar commented on #30104
Sorry, but  we are able to process, collaborate, fix, and deliver pull requests ONLY for Issues that can be reproduced on the latest [2.4-develop](https://github.com/magento/magento2/tree/2.4-develop) public branch.
- [Code Contributions: Accepted pull requests and ported code](https://devdocs.magento.com/contributor-guide/contributing.html#rules)  <details><summary>Quote</summary>
**v2.4 Contribu

[2020-09-23 18:39] engcom-Bravo commented on #13866
Hello @AirmanAJK

Thank you for your report

Seems like the issue is not reproducible on the latest Magento 2.4-develop
![prod_search](https://user-images.githubusercontent.com/51680745/94054870-de2bba80-fde4-11ea-8943-d11214fd58bb.png)

The latest Magento version uses Elasticsearch engine instead of MySQL.

Can you please check if you can still reproduce the issue on the latest 2.4-develop? If it

[2020-09-23 19:35] aurquiel opened #30174 "Issue API magento getting image's base64 code"
API magento 2.4 get image of product

Hello i am trying to get the base64 image's code from the api using this endpoints

**Preconditions:**

Magento 2.4-develop
Php 7.4
MYSQL 8.0

**Manual testing scenario:**

1. Add image to a product by API
**POST** **`/V1/products/{sku}/media`** -> Execute

![Screenshot from 2021-01-12 15-32-50](https://user-images.githubusercontent.com/51679138/104321295-1965

[2020-09-23 19:47] irenelagno opened #30175 "[Test issue]"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-23 19:48] irenelagno commented on #30175
@magento export issue to Jira project MC as bug

[2020-09-23 19:52] gwharton commented on #30026
I wonder if this is related to a problem I solved recently on the Tax Rules page.

There was an issue with the jquery.multiselect.js module that is used in Admin, where it internally uses !!<selector>.attr('checked') to see which items are selected and which aren't. Seems that under certain circumstances attr works correctly, and under others it doesn't.

I see under certain docs, .attr is depreca

[2020-09-23 19:53] magento-engcom-team commented on #30175
@irenelagno Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is

[2020-09-23 19:56] magento-engcom-team commented on #30175
@irenelagno Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-23 19:58] irenelagno commented on #30175
@magento export issue to Jira project MC as Story

[2020-09-23 20:00] #30175 closed, assigned to nobody

[2020-09-23 20:06] magento-engcom-team opened #30176 "Incorrect prices returned in joined GQL operation"
In PWA Studio we have a [mutation composed of two mutations](https://github.com/magento/pwa-studio/blob/develop/packages/venia-ui/lib/components/CartPage/ProductListing/EditModal/productForm.js#L137-L171). I found that when requesting a "additional*payment_methods" in both response objects the grand*total in the second mutation response body comes back as the total from after the first mutation.

[2020-09-23 20:06] magento-engcom-team commented on #30176
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-34586

[2020-09-23 20:34] irenelagno opened #30177 "Test issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-23 21:22] sdzhepa opened #30178 "Test Issue 2 Sync"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-09-23 21:24] magento-engcom-team commented on #30178
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-23 21:24] magento-engcom-team commented on #30178
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-23 21:24] magento-engcom-team commented on #30178
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37893` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-23 21:26] magento-engcom-team commented on #30178
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37894` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-23 21:27] magento-engcom-team commented on #30178
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37895` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-23 21:35] magento-engcom-team commented on #30178
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37897` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-23 21:45] VishalParkash commented on #8037
Did anyone find the solution to this issue?

[2020-09-23 22:21] magento-engcom-team opened #30179 "[PAP][GraphQL] resetPassword mutation returns generic error"
While implementing resetPassword functionality into PWA, an engineer ran into a problem that resulted in this generic error response: `Cannot set the customer's password`. It took digging through the exception log to discover the provided password didn't meet the minimum password requirements, which was not in the error message.

[code]

Repro Steps:
1. Execute `requestPasswordResetEmail` mutation

[2020-09-23 22:21] magento-engcom-team commented on #30179
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36648

[2020-09-23 22:22] magento-engcom-team commented on #30178
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37898` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-23 22:27] #30171 closed, assigned to nobody

[2020-09-23 22:27] #30177 closed, assigned to sdzhepa

[2020-09-23 22:30] magento-engcom-team commented on #30179
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.c

[2020-09-23 22:54] magento-engcom-team commented on #30178
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37899` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-23 23:28] #26115 closed, assigned to TomashKhamlai

[2020-09-23 23:40] #23350 closed, assigned to nobody

[2020-09-24 00:54] #27565 closed, assigned to nobody

[2020-09-24 00:56] magento-engcom-team commented on #26762
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#30077 by @flancer64 in 2.4-develop branch
Related commit(s):
 - [5f9897575102a63501d6909f3ac5a11a19969a3d](https://github.com/magento/magento2/commit/5f9897575102a63501d6909f3ac5a11a19969a3d)
 - [cf1a716e7a40acc30e763b0b68ca2e6f9ba85cac](https://github.com/magento/magento2/commit/cf1a716e7a40acc30e763b0b68ca2e6f

[2020-09-24 00:56] magento-engcom-team commented on #29612
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30077 by @flancer64 in 2.4-develop branch
Related commit(s):
 - [5f9897575102a63501d6909f3ac5a11a19969a3d](https://github.com/magento/magento2/commit/5f9897575102a63501d6909f3ac5a11a19969a3d)
 - [cf1a716e7a40acc30e763b0b68ca2e6f9ba85cac](https://github.com/magento/magento2/commit/cf1a716e7a40acc30e763b0b

[2020-09-24 00:56] #29612 closed, assigned to nobody

[2020-09-24 00:56] magento-engcom-team commented on #12225
Hi @erjenrijnders. Thank you for your report.
The issue has been fixed in magento/magento2#27953 by @jiten-patel in 2.4-develop branch
Related commit(s):
 - [c9bb1d39a4f367e95e38a3e8d54e0aa2d8120ea8](https://github.com/magento/magento2/commit/c9bb1d39a4f367e95e38a3e8d54e0aa2d8120ea8)
 - [0b839e9d296bc5f76ccec215ea8562bafce65a74](https://github.com/magento/magento2/commit/0b839e9d296bc5f76ccec215ea

[2020-09-24 00:56] #12225 closed, assigned to nobody

[2020-09-24 00:56] magento-engcom-team commented on #28479
Hi @IgorM92. Thank you for your report.
The issue has been fixed in magento/magento2#28663 by @AbdulRahmanAbouzaid in 2.4-develop branch
Related commit(s):
 - [580ffe52adecf0030d21b3fc7bf046706680324a](https://github.com/magento/magento2/commit/580ffe52adecf0030d21b3fc7bf046706680324a)
 - [9bc6cc96e8437d7f7de6a0bee70e1ecd825c171c](https://github.com/magento/magento2/commit/9bc6cc96e8437d7f7de6a0be

[2020-09-24 00:56] #28479 closed, assigned to AbdulRahmanAbouzaid

[2020-09-24 00:56] magento-engcom-team commented on #28186
Hi @markshust. Thank you for your report.
The issue has been fixed in magento/magento2#28491 by @AbdulRahmanAbouzaid in 2.4-develop branch
Related commit(s):
 - [e73e8e42375ce54f07ebeb6e94a71758edc725ad](https://github.com/magento/magento2/commit/e73e8e42375ce54f07ebeb6e94a71758edc725ad)
 - [ec9462e200021ebc0fd24fce64a15fe51d9062cd](https://github.com/magento/magento2/commit/ec9462e200021ebc0fd24f

[2020-09-24 00:56] #28186 closed, assigned to gauravharsh15

[2020-09-24 01:00] sdzhepa commented on #28530
Closed as duplicate https://github.com/magento/magento2/issues/28541

[2020-09-24 01:00] #28530 closed, assigned to nobody

[2020-09-24 02:08] #30178 closed, assigned to nobody

[2020-09-24 04:23] Shubham0492 commented on #30157
@magento give me 2.4-develop instance

[2020-09-24 04:52] konarshankar07 commented on #30168
@magento I'm working on this

[2020-09-24 05:29] thinksys-charul commented on #30155
Hi @magento-engcom-team @ajijshekh123 @jaywilliams ,
I found a fixed for the above bug. Below is the fix

I created a patch for the file vendor/magento/module-wishlist/Controller/Index/Cart.php in function execute after line 180 i put the below code and it fixed this bug.

`$related = $this->getRequest()->getParam('related_product');
           if (!empty($related)) {
               $this->cart->a

[2020-09-24 06:09] perfpcs commented on #29797
It is good to see the title changed and that the issue is confirmed. Looking forward to any patch or fix you can provide for this as soon as it has passed QA. Thank you for your help in resolving this problem.

[2020-09-24 06:48] dverkade commented on #29608
As mentioned numerous times now. Magento does not have test code coverage on this class and I'll not be creating it. The complete scope of the issue and resolution are within this ticket and PR.

[2020-09-24 07:17] magento-engcom-team commented on #27866
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37905` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-24 07:27] Berkelder commented on #5289
Hi all, even though it's closed, I have the same issue as @usman786cs . The checkout page picks a different country id to select the shipping methods from table shipping then the country by default shown on the checkout page.

[2020-09-24 07:39] driskell commented on #23054
The PR in #28007 should fix this. It clears up things stuck in running and mitigates deadlocks so the cleanups can finish and stop the cron_schedule table growing exponentially.

[2020-09-24 07:41] driskell commented on #25634
#28007 can help with high CPU as it removes some deadlocks that prevent cron schedule table from being cleaned. It can also fix things stuck in running status.

[2020-09-24 07:42] driskell commented on #26507
#28007 can help with high CPU as it removes some deadlocks that prevent cron schedule table from being cleaned. It can also fix things stuck in running status.

[2020-09-24 07:42] driskell commented on #26809
#28007 can help with high CPU as it removes some deadlocks that prevent cron schedule table from being cleaned. It can also fix things stuck in running status.

[2020-09-24 07:57] Berkelder opened #30181 "Magento picks incorrect Shipping country Id when entering checkout"
### Preconditions (*)

1. 2.3.5P1
2. It's on production environment

### Steps to reproduce (*)

1. Create a new storeview (e.g. Germany), apart from the default storeview (e.g. Netherlands)
2. Configure a rate in the table for table shipping for Netherlands and for Germany
3. Leave the tax origin on the Germany storeview on Netherlands (as we'll keep on shipping from Netherlands)
4. Go to checkou

[2020-09-24 07:58] lucacondotta commented on #19694
Hi everyone, I know this issue is closed but I found a possible solution.

By default, when you install sqsrv and pdo_sqlsrv extensions their configuration overrides the php configuration for locale (as @decece said) by reading LC_CTYPE or LC_ALL system variable ([Microsoft docs](https://docs.microsoft.com/en-US/sql/connect/php/non-system-locale-settings?view=sql-server-ver15#set-locale-info-using

[2020-09-24 07:58] Berkelder commented on #30181
@magento give me 2.4-develop instance

[2020-09-24 08:06] rajankouzina commented on #17310
I also face the same issue every time I clone my Magento Directory.

This is a temporary fix that works for me.

add this line in app/etc/env.php file.

    'session' => [
        'save' => 'files',
        'save_path' => '/var/html/www/[magento site]/var/session'      //important

save path should be the absolute path for Magento directory.

[2020-09-24 08:26] KonstantinZhidkovskiy commented on #30161
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-09-24 08:49] Berkelder commented on #30181
I can't get Table shipping working on the default provided instance and as such can't test it.

[2020-09-24 09:32] amenk commented on #26301
@sidolov Is anybody planed for the development yet? We have similar problems, but not with a different media URL, but a different base url and wondering if that is the same root cause.

[2020-09-24 09:47] amenk commented on #26301
We are wondering if there should be a path information in the category images or not. What is the normal behaviour?

[2020-09-24 10:12] kerlama commented on #29084
I can confirm the same issue on 2.4

[2020-09-24 10:31] m2-assistant[bot] opened #30183 "[Issue] [Performance] Fix array merge in loop"
This issue is automatically created based on existing pull request: magento/magento2#30153: [Performance] Fix array merge in loop

---------

### Summary (*)
Continuing #30002 - fix array merge in loop in different places.
Also this is follow up on my old PR #22248, so it should a bit improve static content deploy.

### Examples (*)

### Proposed solution

### Questions or comments

### Contributi

[2020-09-24 10:31] m2-assistant[bot] opened #30184 "[Issue] Speedup static content deploy for specific theme"
This issue is automatically created based on existing pull request: magento/magento2#30090: Speedup static content deploy for specific theme

---------
### Preconditions (*)
2.4-develop

### Description (*)
This PR adds improvement for ability to deploy the only specific theme(s) for multiple locales, so it should improve build phase of deployment for the those who use single theme with different

[2020-09-24 10:31] amenk commented on #26301
After digging into it we are not sure if it is a problem on getImageUrl or while saving.

Looking at the logic of https://github.com/magento/magento2/blob/5977749781ebdbb5e28a03db73207a7fb08ae744/app/code/Magento/Catalog/Model/Category.php#L679-692
there is a check whether the URL is relative. It means it starts with a /, then the media URL is not prepend. Why is that? shouldn't especially relativ

[2020-09-24 10:57] kerlama commented on #4330
Same here, upgraded from 2.3.5-p2 and still, layouts are loaded from parent.

[2020-09-24 11:03] pitbulk commented on #28428
Glad to see it fixed. I wonder if 2.3.5.X branch could be fixed as well.

[2020-09-24 11:10] alucardatem commented on #28966
This is still happening in my case. single store with 33k products however tho only way to show all products is to do bulk update and assign all products to website or re-save product. on issuing a reset on reindex, all products dissapear then when reindex finished not all of them are back again - newly created products do not show

[2020-09-24 11:17] roshanyadav89 commented on #15931
I am facing this issue anyone knows: Invalid Document
Element 'route': Missing child element(s). Expected is ( resources ).
Line: 23

[2020-09-24 11:38] magento-engcom-team commented on #29017
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-24 11:43] magento-engcom-team commented on #29017
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37916` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-24 12:04] magento-engcom-team commented on #30183
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37917` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-24 12:39] kanevbg opened #30185 "Property $_storeValuesFlags is not reset"
Affects every Magento 2 version.

`\Magento\Catalog\Model\AbstractModel::$_storeValuesFlags` is not nulled when `\Magento\Catalog\Model\Product::reset()` is called.

If you use single instance of `\Magento\Catalog\Model\Product` for re-loading different products data this can result in wrong data being used. In this case reset() is not reliable method.

- [x] Severity: **S4** _- Affects aesthetics

[2020-09-24 13:03] gwharton commented on #23889
OK, I've finally managed to get to the bottom of this one. Turns out to be a bit of a gnarly bug in some core javascript.

When the Sales Order Grid (or infact any ui_listing) is loaded, it initialises the columns calling initPositions() when all of the columns are loaded.

https://github.com/magento/magento2/blob/5977749781ebdbb5e28a03db73207a7fb08ae744/app/code/Magento/Ui/view/base/web/js/grid/l

[2020-09-24 13:32] dooblem commented on #29334
Thanks @AymericJoubert , here is the file and the patch in order to be able to apply the workaround.

[code]

[2020-09-24 13:39] usman786cs commented on #5289
Hi @Berkelder
if you are working on multistore website to go store>config>sales>tax>Default Tax Destination Calculation
and set store country there.
Let me know if it works for you

[2020-09-24 13:42] m2-assistant[bot] opened #30186 "[Issue] Bugfix/wrong size attributes in image with border"
This issue is automatically created based on existing pull request: magento/magento2#30139: Bugfix/wrong size attributes in image with border

---------

### Summary (*)
Magento 2.4-develop
This PR removes most changes from commit [#4e085c7](https://github.com/magento/magento2/commit/ad24cb8cea4c98fb074510e33fc9ee514cb0ba58)

Commit [#4e085c7](https://github.com/magento/magento2/commit/ad24cb8cea4

[2020-09-24 13:50] nzimelimited commented on #15255
Has this really been fixed in 2.3? I am seeing the same issue and after checking the code against the linked commits, I am not seeing the `$this->getAuthentication()->unlock($customer->getId());` line in the `resetPassword` function.

[2020-09-24 13:51] paul-blundell commented on #15255
Has this really been fixed in 2.3? I am seeing the same issue and after checking the code against the linked commits, I am not seeing the $this->getAuthentication()->unlock($customer->getId()); line in the resetPassword function.

[2020-09-24 14:32] magento-engcom-team commented on #30186
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37921` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-24 14:39] OvalMedia commented on #5172
2.4 and problem still persists.

[2020-09-24 14:40] AaronONeill commented on #28295
We have also just seen this issue on Magento 2.3.5.

[2020-09-24 14:41] magento-engcom-team commented on #28719
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-24 14:43] magento-engcom-team commented on #28719
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-24 14:44] magento-engcom-team commented on #28719
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37923` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-24 14:56] revgovmade commented on #30146
@ihor-sviziev Thanks so much for the fix. It looks like it has done the trick!

[2020-09-24 15:19] Anantkprajapati commented on #23958
Hello Guys,
Still This is not fix and facing same issue in Magento2.4 also.

[2020-09-24 15:30] IanFiretoys opened #30188 "Admin Order with Send order emails disabled still sends emails, but removes box to uncheck"
### Preconditions (*)

1. 2.3.5-p2
2. stores > configuration > sales > sales emails > order > enabled = No

### Steps to reproduce (*)

1. disable order confirmation emails
2. in admin, place a new order, new customer or existing
3. add items and checkout information
4. in the submit order block "Email Order Confirmation" box is no longer there to uncheck

### Expected result (*)

1. Order is plac

[2020-09-24 15:36] hostep commented on #29797
Not 100% sure, but isn't this a duplicate of https://github.com/magento/magento2/issues/29718 which was fixed by https://github.com/magento/magento2/pull/29814?

[2020-09-24 15:42] IanFiretoys commented on #30188
@magento give me 2.4-develop instance

[2020-09-24 15:50] ilnytskyi commented on #189
Wow it's 2020 and I faced the same issue.
![Selection_860](https://user-images.githubusercontent.com/3192770/94168542-07545580-fe8e-11ea-80a2-cab031c8d4e4.png)
If we do not need (do not use) updates for products and categories, we would just disable them and would save a lot of space in cache storage and have faster rendering on big catalogs.
For now I see possibility  to apply patches or pluginiz

[2020-09-24 15:52] hostep commented on #23958
@Anantkprajapati: if you are building your custom bulk scheduling system (which this issue is about), then the answer was already given above.

If you are having problems with the default queues of Magento, you need to either search for other issues, or create a new issue where you provide steps of how to reproduce the problem you are running into (For Magento 2.4.0, there are some known problems:

[2020-09-24 15:53] ilnytskyi commented on #102
Not sure what it was like in 2012 but that would be nice to have possibility to disable additional (product_id,sku/category_id) handles.
Check my comment https://github.com/magento/magento2/issues/189#issuecomment-698430804
Now we have thousands of entries in the cache storage that we do not need...

[2020-09-24 16:06] IanFiretoys commented on #30188
I can confirm that the boxes are gone, but without a working email service I can't replicate the bug easily on a develop instance.

[2020-09-24 16:15] magento-engcom-team opened #30189 "[Test issue]Test issue for Jira/GitHub sync"
Test issue description

[2020-09-24 16:15] magento-engcom-team commented on #30189
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37926

[2020-09-24 16:16] #30189 closed, assigned to nobody

[2020-09-24 16:30] paales commented on #102
@ilnytskyi Wow, that is an old issue! I don't thing you'll get any meaningful response. In 2012 this looked like a great idea, but not so much any more ;)

[2020-09-24 16:33] gabrieldagama commented on #24830
Documentation was updated and the approach that was suggested previously is not valid. Closing this issue as the problem is not actual anymore.

[2020-09-24 16:33] m2-assistant[bot] opened #30190 "[Issue] Fix docblock annotation for PublisherInterface message"
This issue is automatically created based on existing pull request: magento/magento2#30180: Fix docblock annotation for PublisherInterface message

---------

### Description (*)

The message on the publisher interface's `publish` method currently has a docblock annotation of `array|object`. However, since this type can be anything other than array or object as long as it's defined in the `communi

[2020-09-24 16:34] m2-assistant[bot] opened #30191 "[Issue] Fix PHPDoc param attribute is not always a string"
This issue is automatically created based on existing pull request: magento/magento2#30182: Fix PHPDoc param attribute is not always a string

---------
# Description (*)
Fix PHPDoc param attribute is not always a string

In the implementation:

[code]

# Manual testing scenarios (*)

N/A

Contribution checklist (*)
- [x] Pull request has a meaningful description of its purpose
- [x] All commits a

[2020-09-24 16:45] gwharton commented on #29797
#29814 fixes it for me. Although I did clear out old items from magento_bulk. New bulk attribute assignments completed properly, and I was able to dismiss the completed message as designed.

[2020-09-24 17:21] itsolon commented on #23881
i  have same issue on php 7.4 und Magento 2.4.0 fresh install. FYI php7.4-fileinfo installed and active, and upload jpg png etc. working. only ico favicons NOT

[2020-09-24 19:16] perfpcs commented on #29797
Hello guys, I read that other thread and am not seeing what exactly is the fix?? Could someone clarify what file(sd) need to be updated to fix this? thanks

[2020-09-24 19:33] codemastering commented on #29797
I am also having the same question as @perfpcs

Thanks.

[2020-09-24 19:43] perfpcs commented on #29797
I read that whole trhreadf and must be blind as I see no fix mentioned. :(

[2020-09-24 20:07] gwharton commented on #29797
https://github.com/magento/magento2/pull/29814/files

[2020-09-24 20:36] perfpcs commented on #29797
Thank you @gwharton ! So its one file edit and 1 new file. I will test it out tonight.
thanks again.

[2020-09-24 20:48] Bartlomiejsz commented on #29063
@magento I am working on this

[2020-09-24 22:07] denzildoyle commented on #7284
I was able to reproduce this error when there is a trailing space at the end of the product attribute name.

[2020-09-24 22:14] itsolon commented on #30094
i can confirm this behaviour

[2020-09-24 23:15] zaimg05 commented on #27458
tengo el mismo problema  trabajo con magento 2.3.3 y cuento con mas 5 de tiendas  pero las imagenes no se cargan en las demas tiendas solo en la principal
las rutas de la url son diferente
¿Como puedo solucionarlo?

[2020-09-25 06:33] gwharton commented on #29797
Checkout how to apply patches with composer rather than editing core files directly.

[2020-09-25 06:49] kolaente commented on #30190
@sidolov What is this issue good for? Only to make sure there's an issue for the pr?

[2020-09-25 07:36] thezilion commented on #2504
I have the same problem.. but this solutions was not worked for me =/

[2020-09-25 08:10] philippsander commented on #29609
am I supposed to do anything here?

[2020-09-25 08:36] Jazzz09 commented on #13952
I was also facing the same problem in 2.3.5-p2. In my case the quote was still active even after order was placed so I fixed this by observer for sales_order_place_before:

**events.xml:**
`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_place_before">
		<observ

[2020-09-25 09:19] ajijshekh123 commented on #30159
@magento give me 2.4-develop instance

[2020-09-25 09:29] cljk commented on #28673
Same here - fresh project based on `2.4.0`

Ubuntu 20.04 (in WSL2)
* composer 1.9.0
* PHP  7.4.3

`exception.log` after first time calling web interface
[code]

[2020-09-25 09:45] magento-engcom-team commented on #29522
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37943` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-25 10:14] cljk commented on #28673
follow up: I downgraded to PHP `7.3` and magento `2.3.5` and got the same error 🤔

Found out you can run

[code]
😶🙄

Seems to generate the files

[2020-09-25 10:16] nuzil commented on #29797
So I mark it fixed by https://github.com/magento/magento2/pull/29814/files then

[2020-09-25 10:16] #29797 closed, assigned to VladimirZaets

[2020-09-25 10:33] haunguyen1989 opened #30192 "[GraphQl] If all option required and 1 bundle item is OUT_OF_STOCK then it should OUT_OF_STOCK"
### Preconditions (*)

1. Magento 2.4
2. Elastic search 7.6
### Steps to reproduce (*)

1. 2 website and enable Store Code to Urls: **Yes**. Site Main Website and VN Website
2. Display out of stock product: Yes
3. Create new stock and assign new 2 source(Ha Noi, Ho Chi Minh) to site VN Website
4. Create 2 simple product. Product A out of sotck for source Ha Noi, Product B in-stock
5. Create bundle

[2020-09-25 10:50] ajijshekh123 commented on #30159
Hi @Eddcapone,
I have verified this issue as per your steps, actual result and expected result.
New assign attribute values has been trim and after 255 characters text is removed without any of the warning or error message.
**Ex:**
I have enter the below 300 characters text
"A while back I needed to count the amount of letters that a piece of text in an email template had (to avoid passing any cha

[2020-09-25 10:52] magento-engcom-team commented on #30159
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37944` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-25 11:05] andreasberenz opened #30193 "Poor product search performance when creating an order in magento backend."
### Preconditions (*)
1. Magento2.4
2. PHP 7.4
3. MariaDB 10.4.14

### Steps to reproduce (*)

1. Create order in backend
2. chose random customer
3. search product by name

### Expected result (*)
the result is fine, but takes too much time

### Actual result (*)
the executed sql query looks like this:

`SELECT `e`.*, IF(at_name.value_id > 0, at_name.value, at_name_default.value) AS `name` FROM `

[2020-09-25 11:16] ajijshekh123 commented on #30155
Hi @thinksys-dev,

I have verified this issue with steps to be reproduced, actual result and expected result.
**PFA:**

![image](https://user-images.githubusercontent.com/24711761/94260790-66799f00-ff4e-11ea-9427-8957e53fb760.png)

![NewIssue](https://user-images.githubusercontent.com/24711761/94260867-890bb800-ff4e-11ea-812c-988a32f60bb0.png)

Thanks

[2020-09-25 11:19] magento-engcom-team commented on #30155
@ajijshekh123 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-09-25 11:20] magento-engcom-team commented on #30155
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37945` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-25 12:03] engcom-Oscar commented on #28966
Hello @pics124

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code, as MySQL is deprecated from it, and products with filterable attributes work well with Elasticsearch.
Probably issue was already fixed, or we missed some steps or preconditions.
If you have some more details how to reproduce this issue on latest 2.4 Magento, feel free

[2020-09-25 12:03] #28966 closed, assigned to engcom-Oscar

[2020-09-25 12:32] engcom-Oscar commented on #28924
Hi @tavatir, thank you for your report.
Did you select 'Quantity' option for sorting when check products order by stock availability on a category or search page?
![image](https://user-images.githubusercontent.com/60198413/94267478-56f55880-ff44-11ea-8ef0-cb850eba1da8.png)

[2020-09-25 12:49] developer-macrew opened #30194 "main.CRITICAL: {"error":{"root_cause":[{"type":"query_shard_exception","reason":"failed to create query:"
### Preconditions (*)

1.Magento version 2.4.0
2.Elasticsearch version 7

### Steps to reproduce (*)

1.After loading the page I am getting this error in exception log and system.log
2.

### Expected result (*)

1. Page should be loaded without any error
2.

### Actual result (*)

1. [2020-09-25 12:32:43] main.CRITICAL: {"error":{"root_cause":[{"type":"query_shard_exception","reason":"failed to cr

[2020-09-25 12:52] engcom-Oscar commented on #30144
Hello @elizad

Thank you for your report.
Unfortunately, I was not able to reproduce this issue on the latest `2.4-develop` code. Probably it was already fixed or we missed some steps or preconditions. Could your please give some more details how to reproduce this issue and update the description?

[2020-09-25 13:24] alucardatem commented on #28966
@arek-neptuneweb unfortunately that solution does not work at all - at least not in 2.3.5

[2020-09-25 13:37] magento-engcom-team commented on #30143
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37949` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-25 13:38] magento-engcom-team commented on #30143
:white_check_mark: Confirmed by @engcom-Oscar
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37950` were created

**Issue Available**: @engcom-Oscar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-25 15:54] slackerzz commented on #22142
Magento 2.3.4 on Magento Cloud and this bug is still present

[2020-09-25 16:50] perfpcs commented on #29797
For me this fix does not appear to solve anything. Now the message says the update has failed even though I can see the action completed successfully on the products. Then no tasks are showing complete still where I can dismiss them. They appear pending and then after some time or days they wont be in the bulk task grid anymore but new ones will have replaced. Those would be the Nosto consumers. I

[2020-09-25 17:41] perfpcs commented on #29797
Do I need to create a new post since you closed this?

[2020-09-25 17:52] Rich07082 commented on #27564
same here, same issue in 2.3.5-p2

[2020-09-25 17:53] m2-assistant[bot] opened #30195 "[Issue] New product widget"
This issue is automatically created based on existing pull request: magento/magento2#27741: New product widget

---------

### Description (*)

In Magento 2 New products widget can be added via _Content -> Elements -> Widgets -> Add New Widget -> Widget Type -> Catalog New Products List_

The widget can be displayed either in a **Grid view** or in a **List view**. When I click Add to Cart button i

[2020-09-25 17:59] Rich07082 commented on #27564
Just confirmed what xtremevision said, if customer doesn't have a valid open cart in the quote table it will list everything that is open.  I check two new account opened one did have an open cart in the quote table, worked as it should.  No items listed.  Looked at another customer, not open quotes and listed everything.
Rich

[2020-09-25 18:13] #28073 closed, assigned to nobody

[2020-09-25 18:13] nthurston commented on #28073
Closing as seems fixed in later versions per @pmcnamaracpc .

[2020-09-25 19:01] magento-engcom-team commented on #30164
Hi @sivaschenko. Thank you for your report.
The issue has been fixed in magento/magento2#30069 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [a93e2e8dcee30fe7638728f9f1720619fc9c57d4](https://github.com/magento/magento2/commit/a93e2e8dcee30fe7638728f9f1720619fc9c57d4)
 - [3835116604b47ea851a5d6e2dd722085d5fe33f1](https://github.com/magento/magento2/commit/3835116604b47ea851a5d6e2d

[2020-09-25 19:01] #30164 closed, assigned to konarshankar07

[2020-09-25 19:01] magento-engcom-team commented on #29377
Hi @stephansteiner. Thank you for your report.
The issue has been fixed in magento/magento2#30011 by @lfluvisotto in 2.4-develop branch
Related commit(s):
 - [52f39a412c9235a6cdea1f2dabff7756c6885ba0](https://github.com/magento/magento2/commit/52f39a412c9235a6cdea1f2dabff7756c6885ba0)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-25 19:01] ihor-sviziev commented on #29950
Closing test issue

[2020-09-25 19:01] #29950 closed, assigned to ihor-sviziev

[2020-09-25 19:01] #29377 closed, assigned to lfluvisotto

[2020-09-25 19:01] magento-engcom-team commented on #30183
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30153 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [2381ab495743d5d5bdb2ab31d2643e50379f22db](https://github.com/magento/magento2/commit/2381ab495743d5d5bdb2ab31d2643e50379f22db)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-25 19:01] #30183 closed, assigned to ihor-sviziev

[2020-09-25 19:01] magento-engcom-team commented on #29848
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29827 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [6c9a976678e86e25d66aebd1175ceda766707086](https://github.com/magento/magento2/commit/6c9a976678e86e25d66aebd1175ceda766707086)
 - [3220bcdae8d1165483f61c7763772eabcf4ba913](https://github.com/magento/magento2/commit/3220bcdae8d1165483f61c776

[2020-09-25 19:01] #29848 closed, assigned to Usik2203

[2020-09-25 19:01] magento-engcom-team commented on #27397
Hi @MellenIO. Thank you for your report.
The issue has been fixed in magento/magento2#28379 by @zaximus84 in 2.4-develop branch
Related commit(s):
 - [f20b05b549bb0813ca21a0204588045fcb7e1c2a](https://github.com/magento/magento2/commit/f20b05b549bb0813ca21a0204588045fcb7e1c2a)
 - [1e4ef873f9639316617a33bdfb229a652d5d5ceb](https://github.com/magento/magento2/commit/1e4ef873f9639316617a33bdfb229a652

[2020-09-25 19:01] #27397 closed, assigned to zaximus84

[2020-09-25 19:01] magento-engcom-team commented on #29017
Hi @drc0. Thank you for your report.
The issue has been fixed in magento/magento2#29015 by @drc0 in 2.4-develop branch
Related commit(s):
 - [d2c352d0fff685cb786441a27495c8dc5be601aa](https://github.com/magento/magento2/commit/d2c352d0fff685cb786441a27495c8dc5be601aa)
 - [37dbcf76f8313c87ad8454c539758927f3943459](https://github.com/magento/magento2/commit/37dbcf76f8313c87ad8454c539758927f3943459)

[2020-09-25 19:01] #29017 closed, assigned to drc0

[2020-09-25 19:01] magento-engcom-team commented on #27866
Hi @bnymn. Thank you for your report.
The issue has been fixed in magento/magento2#27869 by @bnymn in 2.4-develop branch
Related commit(s):
 - [cbc663739b5a3e2f062e1e87d96a073deff84767](https://github.com/magento/magento2/commit/cbc663739b5a3e2f062e1e87d96a073deff84767)
 - [d177789b991704da08996f42ef00ff886baa982a](https://github.com/magento/magento2/commit/d177789b991704da08996f42ef00ff886baa982a

[2020-09-25 19:01] #27866 closed, assigned to bnymn

[2020-09-25 19:01] magento-engcom-team commented on #29599
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27585 by @edenduong in 2.4-develop branch
Related commit(s):
 - [8da83563749c06fb2282bdb3edb2445b8cd335af](https://github.com/magento/magento2/commit/8da83563749c06fb2282bdb3edb2445b8cd335af)

The fix will be available with the upcoming 2.4.2 release.

[2020-09-25 19:01] #29599 closed, assigned to edenduong

[2020-09-25 19:08] ihor-sviziev commented on #1335
Closing this issue again, as it was moved to the forums

[2020-09-25 19:08] #1335 closed

[2020-09-25 20:30] serzhik commented on #15115
Any official solutions for this bug?

[2020-09-26 05:31] krishprakash commented on #30195
@magento give me 2.4-develop instance

[2020-09-26 07:00] kirtinariya1 opened #30196 "Wrong product ratings showing at list view of product listing page"
Wrong product ratings showing at list view of product listing page

### Preconditions (*)
1. Magento 2.4
2. with sample data

### Steps to reproduce (*)
1. Product listing page like women/tops-women/jackets-women.html
2. Review the ratings at grid and same review at list view
3. It shows the wrong ratings stars on list view

### Expected result (*)
Correct rating star should be display at list vie

[2020-09-26 07:06] magento-engcom-team commented on #30196
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-37999` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-26 07:30] zarnaparekh03 opened #30197 "Showing exception while proceed to checkout"
**Preconditions (*)**
1. Magento version 2.4.0

**Steps to reproduce (*)**
1) Login into account and add more than one product to cart
2) go to view and edit cart
3) Check Out with Multiple Addresses
4) enter new address
5) select different adresses for product added to cart
6) go to shipping information
7) select different shipping methods for product added to cart
8) go to billing information
9)

[2020-09-26 07:31] krishprakash commented on #30197
@magento give me 2.4-develop instance

[2020-09-26 07:45] somat-211 commented on #30196
@magento I am working on this.

[2020-09-26 07:45] magento-engcom-team commented on #30197
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38000` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-26 07:48] zarnaparekh03 commented on #30197
@magento I am working on this

[2020-09-26 07:49] somat-211 commented on #30196
@magento add to contributors team

[2020-09-26 07:52] ihor-sviziev commented on #30185
Hi @kanevbg,
Unfortunately it’s not clear how big and important this issue is.
Could you explain steps to reproduce this issue, actual and expected result?

[2020-09-26 08:12] renard123 opened #30199 "Learn More should be See details/More Details as Customer see the product details not learn anything"
### Description (*)

Learn More should be See details/More Details as Customer see the product details not learn anything
![image](https://user-images.githubusercontent.com/50658701/94336072-d09d4d00-fffd-11ea-99ab-9a6a67206c9a.png)

### Expected behavior (*)

Learn More should be See details/More Details as Customer see the product details not learn anything

### Benefits (*)

User should see cle

[2020-09-26 08:17] magento-engcom-team commented on #30199
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38001` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-09-26 08:18] krishprakash commented on #30199
Hi @renard123. This is continue from M1 but good suggestion to update the text

[2020-09-26 08:30] raghav111jain opened #30200 "after install MSG Protabs extension admin backend error please help Me out"
1 exception(s):
Exception #0 (LogicException): Could not create an acl object: Invalid Document
Element 'resource': The attribute 'title' is required but missing.
Line: 12

Exception #0 (LogicException): Could not create an acl object: Invalid Document
Element 'resource': The attribute 'title' is required but missing.
Line: 12

<pre>#1 Magento\Framework\Acl\Builder\Proxy->getAcl() called at [vendo

[2020-09-26 08:34] krishprakash commented on #30091
Hi @steved1982.
Feel free to reopen the issue once you confirm the issue is reproduce on 2.4-develop instance
Thanks!!

[2020-09-26 08:34] #30091 closed, assigned to krishprakash

[2020-09-26 08:40] krishprakash commented on #29969
Hi @darpanpatel2018.
Feel free to reopen the issue once you update all the details as per issue reporting guidelines
Thanks!!

[2020-09-26 08:40] #29969 closed, assigned to krishprakash

[2020-09-26 08:46] krishprakash commented on #30200
Hi @raghav111jain. It should be from 3rd party issue
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic
Thank You!!

[2020-09-26 08:46] #30200 closed, assigned to nobody

[2020-09-26 09:34] himanshu8dev commented on #28211
@magento I am working on this
--

[2020-09-26 09:34] himanshu8dev commented on #28211
@magento add to contributors team

[2020-09-26 09:35] himanshu8dev commented on #28211
@magento I am working on this

[2020-09-26 10:28] himanshu8dev commented on #28211
@magento Issue has been fixed in the latest Magento 2.3-develop code base. please update the file with 2.3.5-p1.

[2020-09-26 10:37] renard123 opened #30201 "My Wish list: Product options not display in wish list once select it and added from product listing page"
My Wish list: Product options not display in wish list once select it and added from product listing page

### Preconditions (*)
1. Magento 2.4 sample data

### Steps to reproduce (*)
1. Login into account
2. Product listing page -> Select product option and click on wish list
3. Review at My wish list page

### Expected result (*)
Product should be added into wish list

### Actual result (*)
Prod

[2020-09-26 10:43] krishprakash commented on #30201
Hi @renard123. Thank you for your report.
Issue is duplicate to #24091

[2020-09-26 10:43] #30201 closed, assigned to krishprakash

[2020-09-26 11:23] himanshu8dev commented on #28211
The issue has been fixed in develop branch @magento-engcom-team as I have checked the source code twice but  the code is not updated in the 2.3.5-p1 version so kindly proceed further with the related step.

[2020-09-26 11:36] Gabriel-Bruno opened #30203 "image resolution in chrom vs firefox (small image-category page)"
### Summary (*)

the small image(category page) resolution is blurry in chrome , while in  Firefox its not.
### Examples (*)

check this image shows clearly the difference -> https://ibb.co/M84zWNX

### Proposed solution

the resizing algorithm should be in such way to fit all browsers

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlo

[2020-09-26 11:47] Gabriel-Bruno commented on #30203
@magento give me 2.4-develop instance

[2020-09-26 12:15] Gabriel-Bruno commented on #30203
The problem still there
-> https://ibb.co/ysJj5cp

[2020-09-26 13:10] OvalMedia opened #30204 "Bundles: tax class wrong when using fixed price"
### Preconditions (*)

1. Magento 2.4.0

### Steps to reproduce (*)

1. create a bundle product
2. set "Dynamic Price" to "No"
3. Choose a tax class or leave at "none", does not matter
4. add at least 2 products with different tax class ids to bundle (e.g. 16% and 7%)
5. open product in frontend
6. add product/bundle with mixed tax classes to cart

### Expected result (*)

1. The resulting cart co