[2019-01-16 09:42] rakeshvarma90 commented on #20312
@magento-engcom-team I have give you screenshot in 2.2.7. can you please give me instance so I will check from my end too.
and also check this closed issue of #5918  recently one use has confirmed there is a bug in 2.2.7

[2019-01-16 09:43] engcom-backlog-nazar commented on #20312
@rakeshvarma90 we now talking about that this already fixed on 2.2-dev branch so will be available on 2.2.8 release.

[2019-01-16 09:45] rakeshvarma90 commented on #20312
@magento-engcom-team can you please provide me changes to fix this issue in 2.2.7?

[2019-01-16 09:48] engcom-backlog-nazar commented on #20312
@rakeshvarma90 i'm will try ti find

[2019-01-16 09:49] #18983 closed, assigned to progreg

[2019-01-16 09:50] engcom-backlog-nazar commented on #20326
HI @michael-yangjun thank you for you report, it looks like this issue occurs to your environment.
The GitHub issue tracker is intended for Magento Core technical issues only.

[2019-01-16 09:50] #20326 closed, assigned to milindsingh, shikhamis11

[2019-01-16 09:52] engcom-backlog-nazar commented on #20326
@michael-yangjun also -> https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

[2019-01-16 10:44] whitworthprints commented on #19549
this worked for me - but setup:di:compile no longer returns cleanly

		Invalid ExtensionInterface for nonexistent class Interface in file /var/www/vhosts/DOMAIN/app/code/Magento/TestModuleExtensionAttributes/Api/Data/FakeExtensibleTwoInterface.php

[2019-01-16 10:46] engcom-backlog-nazar commented on #8508
Hi @tadhgbowe  Thank you for your report.
The issue has been fixed in magento/magento2#16892 by @mage2pratik in 2.3-develop branch
Related commit(s):
 - [18d11f580bc51dd2fba1b082c95cf194cd6c477c](https://github.com/magento/magento2/commit/18d11f580bc51dd2fba1b082c95cf194cd6c477c)

The fix will be available with the upcoming 2.3.0 release.

[2019-01-16 10:46] #8508 closed, assigned to nobody

[2019-01-16 10:53] woshka commented on #19549
delete these directories
var/cache
var/page_cache
var/view_preprocessed
then di compile

[2019-01-16 10:55] eduard13 commented on #19099
@magento-engcom-team give me 2.2-develop instance

[2019-01-16 10:55] magento-engcom-team commented on #19099
Hi @eduard13. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-16 11:05] whitworthprints commented on #19549
Same :(

[magento2@server var]$ rm -rf cache page_cache view_preprocessed
[magento2@server var]$ cd ..
[magento2@server DOMAIN]$ bin/magento setup:di:compile
Compilation was started.
Interception cache generation... 6/7 [========================>---]  85% 46 secs 405.0 MiBErrors during configuration scanning:
	int
		Invalid ExtensionInterface for nonexistent class Interface in file /var/www/vhosts

[2019-01-16 11:10] eduard13 commented on #20282
@magento-engcom-team give me 2.2-develop instance

[2019-01-16 11:10] magento-engcom-team commented on #20282
Hi @eduard13. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-16 11:17] ghoshsweta opened #20337 "Option Title breaking in two line because applying wrong css for manage width"
Option Title breaking in two line because applying  wrong css for manage width

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)
1. Login to admin panel
2. Go in **Catalog > product** section
3. Create new product and go to tab **Customizable Options**  and click on **Add option** button
and see first label **Option Title**  (See screenshot shown)

### Actual result (

[2019-01-16 11:17] magento-engcom-team commented on #20337
Hi @swetacedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-16 11:17] magento-engcom-team commented on #20337
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-16 11:18] cedarvinda commented on #20337
@magento-engcom-team  give me 2.3-develop instance

[2019-01-16 11:19] magento-engcom-team commented on #20337
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-16 11:22] magento-engcom-team commented on #20337
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97659` were created

[2019-01-16 11:46] woshka commented on #19549
there has been some Unit test Php codes that are generated in your app/code/Magento in
/var/www/vhosts/DOMAIN/app/code/Magento/
get rid of all of them safly
backup the directory before that
compile again after removal
thx

[2019-01-16 11:50] ksurendra commented on #20333
I'm new to this community. But
1. Why is this tagged as "Cannot Reproduce"?

2. If PHP 7.3 is not supported then please mention that in the requirements page https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html

I'm concerned of the stability of the product if it doesn't work with a new version of core/base language. Not sure if it's PHP that changed something signific

[2019-01-16 11:54] Echron commented on #12494
Is there any progress on this issue? @violuke How did you deal with this issue?

[2019-01-16 11:58] dipti2jcommerce commented on #20337
Hi @engcom-backlog-nazar ,
Can You Please provide me testing instance.

[2019-01-16 11:59] engcom-backlog-nazar commented on #20337
@dipti2jcommerce you can recheck on your local environment.

[2019-01-16 12:00] engcom-backlog-nazar commented on #20337
@magento-engcom-team give me 2.3-develop instance

[2019-01-16 12:00] magento-engcom-team commented on #20337
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-16 12:35] amol2jcommerce commented on #20337
Hi @swetacedcoss

I can't reproduced it.

[2019-01-16 12:42] cedarvinda commented on #20337
@amol2jcommerce It's Reproduced in my local system
http://i.imgur.com/wkFhhwu.png

[2019-01-16 12:43] raulsinapsis commented on #20148
Any updates with this?

[2019-01-16 12:54] engcom-backlog-nazar commented on #20337
@magento-engcom-team give me 2.3-develop instance

[2019-01-16 12:54] magento-engcom-team commented on #20337
Hi @engcom-backlog-nazar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-16 12:54] magento-engcom-team commented on #20337
Hi @engcom-backlog-nazar, here is your [Magento instance](https://i-20337-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20337-2-3-develop.instances.magento-community.engineering/admin](https://i-20337-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-16 12:58] dipti2jcommerce opened #20340 "In admin when you create new product and go to Customizable Options ,it is having design issue while selecting option type as dropdown and add value"
In admin when you create new product and go to Customizable Options ,it is having design issue while selecting option type as dropdown and add value

### Preconditions (*)

1.Magento version 2.3 in admin configuration
2.In admin configuration

### Steps to reproduce (*)

1.Go to admin configuration of 2.3 version of magento .
2.In admin when you create new product and go to Customizable Options ,i

[2019-01-16 12:58] magento-engcom-team commented on #20340
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-16 12:59] magento-engcom-team commented on #20340
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-16 13:00] engcom-backlog-nazar commented on #20340
Hi @dipti2jcommerce thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release

[2019-01-16 13:00] #20340 closed, assigned to nobody

[2019-01-16 13:03] woshka commented on #19549
there has been no problem of such there seems to be some other issues you may facing
please test your website Client side errors by pressing Shift + CTRL + I and see if there are any errors

[2019-01-16 13:10] iget-esoares opened #20342 "Module uninstall without composer package don't work"
### Summary (*)

Running `bin/magento module:uninstall Local_Package` when `Local_Package` is a package that's inside `app` folder fails with:

And this prevents developers from testing the `Setup/Uninstall` script.

### Examples (*)

My development approach is to develop inside `app` until my package is mature enough to go to a composer package. Using a composer package to early development is a

[2019-01-16 13:10] magento-engcom-team commented on #20342
Hi @iget-esoares. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-16 13:10] whitworthprints commented on #19549
Im seeing this in the console after the add to cart refreshs screen?

jquery.js:10208 [Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/.

[2019-01-16 13:11] magento-engcom-team commented on #20342
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-16 13:12] amol2jcommerce commented on #20337
Hi @cedarvinda

It's Not Reproduced in given instance.
![2019-01-16_18-28_new product - products](https://user-images.githubusercontent.com/18118631/51251050-5742ff80-19be-11e9-9e5e-c654239d5f69.jpg)

[2019-01-16 13:17] iget-esoares commented on #20342
@engcom-backlog-nazar Please note that the composer is related to this command just to allow running `composer remove` command.

If the module is not a composer package, so there's no reason to do that command, so we can just skip it and throw an warning to the user like: "The module Namespace_Module is not a composer package. It files won't be removed."

[2019-01-16 13:19] vaseemishak commented on #19065
my bad it was opcache which was enable on my dev encvireonment, after disabling is thier is no cache

[2019-01-16 13:22] engcom-backlog-nazar commented on #20337
@amol2jcommerce thank you

[2019-01-16 13:22] engcom-backlog-nazar commented on #20342
Hi @iget-esoares  thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-16 13:22] #20342 closed, assigned to nobody

[2019-01-16 13:30] mam08ixo opened #20343 "Shipment email broken when creating shipment with multiple tracks"
### Preconditions
1. Magento CE 2.2.8-dev (at least 4b3b669) or Magento CE 2.3-develop (at least 2307e16) is installed with sample data.
2. Email sending is properly set up.
3. The configuration setting _Sales → Sales Emails → General Settings → Asynchronous sending_ is set to _Disable_ (default).
4. At least one item exists in the `sales_shipment_track` database table.

### Steps to reproduce
1.

[2019-01-16 13:30] magento-engcom-team commented on #20343
Hi @mam08ixo. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-16 13:31] magento-engcom-team commented on #20343
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-16 13:32] magento-engcom-team commented on #20343
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-16 13:32] engcom-backlog-nazar commented on #20343
Hi @mam08ixo thank you for you report, this issue has already fixed in 2.3-develop branch by @Nazar65
https://github.com/magento/magento2/pull/19981

[2019-01-16 13:32] #20343 closed, assigned to nobody

[2019-01-16 13:35] woshka commented on #19549
then it is a client side issue that does not has any thing to do with magento 2.3.0
you should fix your JS issue

[2019-01-16 13:36] mam08ixo commented on #20343
@engcom-backlog-nazar Good to know. Now I ran into this issue on 2.2-develop which does contain the bug but not the fix.

[2019-01-16 13:37] engcom-backlog-nazar commented on #20343
@mam08ixo https://github.com/magento/magento2/pull/20184

[2019-01-16 13:39] whitworthprints commented on #19549
Version 71.0.3578.98 (Official Build) (64-bit)
the latest version of chrome, no updates available - so how would one look into fixing something to do with a browser?

[2019-01-16 13:48] cedarvinda commented on #20337
I am checking 1366 x 768 resolution device Its reproduced.
If it's on tablet view, should be fixed.

[2019-01-16 13:50] sdzhepa commented on #19449
Hello @suryakant-krish and @dmytro-ch

Could you please clarify "preconditions"/"steps to reproduce" for this issue:

What exactly actions and steps required to receive this Actual Result?

In case without executed any Import before - we have empty grid, just with text : "We couldn't find any records."
![emptyimportgrid](https://user-images.githubusercontent.com/3409584/51253046-f90a2280-19a5-11e9

[2019-01-16 13:54] mdubbelman opened #20345 "Fatatal error on mass changing stock source in admin"
### Preconditions (*)

1. Magento Commerce 2.3
2. Development and production environment
3. Multiple stocks and sources must be added

### Steps to reproduce (*)

1. Go to the admin -> catalog -> products grid
2. Select multiple products
3. Under the mass actions select "Transfer Inventory To Source"

### Expected result (*)

1. Expected result is to see the next screen to select the source and de

[2019-01-16 13:54] magento-engcom-team commented on #20345
Hi @mdubbelman. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-16 13:55] mam08ixo commented on #20343
@engcom-backlog-nazar Thank you! I can confirm that this issue no longer occurs when above PR is applied.

[2019-01-16 13:56] magento-engcom-team commented on #20345
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-16 13:56] magento-engcom-team commented on #20345
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-16 13:58] engcom-backlog-nazar commented on #20345
Hi @mdubbelman thank you  for you report please open issue here -> https://github.com/magento-engcom/msi

[2019-01-16 13:58] #20345 closed, assigned to nobody

[2019-01-16 14:00] engcom-backlog-nazar commented on #20345
@mdubbelman https://github.com/magento-engcom/msi/issues/1980

[2019-01-16 14:04] ghost opened #20346 "Magento community edition 2.1.* to 2.3.* - bin/magento setup:upgrade - Schema creation/updates: SQLSTATE[23000]: Integrity constraint violation"
Hi there,

I'm upgrading from "magento/product-community-edition": "2.1.8" to "magento/product-community-edition": "2.3.0" using the command-line - https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html#upgrade-cli-upgr

Unfortunately it fails when updating the database schema and data - https://devdocs.magento.com/guides/v2.3/comp-mgr/cli/cli-upgrade.html#update-the-database-schema

[2019-01-16 14:04] magento-engcom-team commented on #20346
Hi @mibu31. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-16 14:04] magento-engcom-team commented on #20346
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-16 15:02] dachaga opened #20347 "REST API special-price without price_to param set a wrong value with staging module"
When a request to special-price API is sent without price_to param, the special price value is setted with a incorrect value

### Preconditions (*)
1. Magento version 2.3.0
2. One product in the catalog.
3. Use Postman to do request to the Magento API
4. Module module-staging installed

### Steps to reproduce (*)
1. Use postman to get token to operate with magento API.
http://site.com/rest/V1/inte

[2019-01-16 15:02] magento-engcom-team commented on #20347
Hi @dachaga. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-16 15:05] somcal commented on #18734
Hi, I know its a hack! But the solution worked for me. 👍

[2019-01-16 15:07] magento-engcom-team commented on #20347
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-16 15:08] engcom-backlog-nazar commented on #20347
Hi @dachaga  GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2019-01-16 15:08] #20347 closed, assigned to nobody

[2019-01-16 15:15] victortodoran commented on #4331
@erikhansen It's 2019 and this still happens in 2.2.3.

[2019-01-16 15:38] crysix commented on #6167
Problem still exists in 2.2.5, please reopen this issue (if it is not already fixed in 2.3).
If you create the config product without images, everything ist "fast" (10-20s), but if you use images it's getting really slow. In our tests, creating 60 products, it took about 10 minutes to save!

[2019-01-16 16:02] ashar01 commented on #19267
The issue is still there.I am facing same issue. Can anyone provide me quick fix of this issue ?
@magento-engcom-team can you tell me when this issue will be fixed. we updated from magento 2.2 to 2.3 and now facing this issue with customizable options.

[2019-01-16 16:12] RaphaelBronsveld opened #20348 "[2.3] Importing images doesn't work with links"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.1.25

### Steps to reproduce (*)

1. Go to systems -> Data Transfer -> Import and select products.
2. Download sample file and just import this file. This should work fine. (Validation + import)
3. Add columns for images: base_image,small_image,thumbnail_image and a image for these columns. For example: i used this image https://laurentvandessel.be/

[2019-01-16 16:12] magento-engcom-team commented on #20348
Hi @RaphaelBronsveld. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-01-16 16:27] shikhamis11 commented on #19258
@magento-engcom-team give me 2.3-develop instance

[2019-01-16 16:27] magento-engcom-team commented on #19258
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-16 16:27] magento-engcom-team commented on #19258
Hi @shikhamis11, here is your [Magento instance](https://i-19258-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-19258-2-3-develop.instances.magento-community.engineering/admin](https://i-19258-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-16 16:58] magento-engcom-team commented on #20348
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-16 17:02] gopal2k6 commented on #6342
I have also same issue .  When i have update product price 1.000,00 which is converted into 1 Kindly update

[2019-01-16 17:05] milindsingh commented on #20348
https://github.com/magento/magento2/pull/20127

[2019-01-16 17:05] #20348 closed, assigned to milindsingh, shikhamis11

[2019-01-16 17:18] vishalgchetu commented on #8468
Hi ,

I am also not able to save attribute without cache flush .
$customer = $this->customerFactory->create()->load($customerId);
$customer->setLengthTimeIndustry($timeSpent);
                      try{
				$customer->save();
			}
			catch (Exception $e) {
				$message = __('Invalid Parameter.');
				$this->messageManager->addError($message);
			}

When I clear cache or flush cache then it works

[2019-01-16 17:18] victortodoran commented on #6578
This has nothing to do with the migration tool. ( Mad props to @victor-v-rad the tool is great )
This can happen easily without the context of a migration.
Say one day your business changes and you decide to make the telephone field required as until now it was not.
This is because Customer/AccountManagement::changeResetPasswordLinkToken uses Customer/CustomerRepository:save(). And there they coup

[2019-01-16 17:27] victortodoran opened #20350 "Magento 2. Customer/CustomerRepository::save() saves each address each time."
### Environment
Magento 2.2.*

### Summary (*)
The Customer/CustomerRepository::save method couples the customer entity and the customer address. The coupling is as tight as it can be. Each time a customer is saved via CustomerRepository::save method each of his addresses is saved as well. Changes made to them or
not. There is a huge cost in performance. It also causes a lot of trouble. See all th

[2019-01-16 17:28] magento-engcom-team commented on #20350
Hi @victortodoran. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-16 17:42] victortodoran commented on #20350
Yes

[2019-01-16 17:55] maheshWebkul721 commented on #20277
@magento-engcom-team give me 2.2-develop instance

[2019-01-16 17:56] magento-engcom-team commented on #20277
Hi @maheshWebkul721. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-16 17:56] magento-engcom-team commented on #20350
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-16 17:56] magento-engcom-team commented on #20277
Hi @maheshWebkul721, here is your [Magento instance](https://i-20277-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20277-2-2-develop.instances.magento-community.engineering/admin](https://i-20277-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-16 17:58] vishalgchetu opened #20351 "Custom attribute of customer is not save without cache flush."
### Preconditions (*)

1. v2.3.0

### Steps to reproduce (*)

I am also not able to save attribute without cache flush .
$customer = $this->customerFactory->create()->load($customerId);
$customer->setLengthTimeIndustry($timeSpent);
[code]
When I clear cache or flush cache then it works

### Expected result (*)

It should save without cache flush.

### Actual result (*)

[code]

[2019-01-16 17:58] magento-engcom-team commented on #20351
Hi @vishalgchetu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-16 18:04] magento-engcom-team commented on #20351
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-16 18:17] irajneeshgupta commented on #20351
@vishalgchetu
What is Your Magento version ?
Can you please describe your issue as per git format?
Preconditions, Steps to reproduce, Expected result, Actual result

[2019-01-16 18:43] mahesh-rajawat opened #20352 "File type option value shows html content in order, invoice and credit memo emails"
Updated issue description

### Preconditions (*)

1. Magento 2.4-develop
2.

### Steps to reproduce (*)

1. Create a product with file type option.
2. Place an order with this product by uploading file.
3. Created invoice and credit memo for order
4. Send emails for order, invoice and credit memo to customer from backend
5. Check emails

### Expected result (*)

1. Option value must be display as

[2019-01-16 18:43] magento-engcom-team commented on #20352
Hi @maheshWebkul721. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-16 18:46] magento-engcom-team commented on #20352
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-16 18:47] magento-engcom-team commented on #20352
@maheshWebkul721 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97663` were created

[2019-01-16 18:48] cedarvinda commented on #20352
@magento-engcom-team give me 2.2-develop instance

[2019-01-16 20:51] PathToLife commented on #10454
I'm also having this problem in mageto2.3

I have no idea where the configurable options data is initially set. Debugging takes me to a function that goes into cache..

[code]

Really confused atm. That stack trace is insane.

![image](https://user-images.githubusercontent.com/12622625/51277773-6e750200-1a3d-11e9-89ef-05c56aa4c88a.png)

[2019-01-16 22:05] magento-engcom-team commented on #20210
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20219 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [8ddc45b97fb87c7e65cf3ed5f1146568fb437ccf](https://github.com/magento/magento2/commit/8ddc45b97fb87c7e65cf3ed5f1146568fb437ccf)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-16 22:05] #20210 closed, assigned to amol2jcommerce, GovindaSharma

[2019-01-16 22:05] magento-engcom-team commented on #19101
Hi @davidlhoumaud. Thank you for your report.
The issue has been fixed in magento/magento2#20208 by @saphaljha in 2.2-develop branch
Related commit(s):
 - [e3ec0f68f55f9268c03c4c25152b4cc2c8be737c](https://github.com/magento/magento2/commit/e3ec0f68f55f9268c03c4c25152b4cc2c8be737c)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-16 23:29] thesurenk opened #20355 "When installing Magento 2.3.0 Strorefront and Admin URLs throw a 404 if "localhost" is used."
While installing (web setup) Magento 2.3.0, if we choose *localhost*, the URL's (Storefront and Admin) throw a *404 error messages*. But if we choose *127.0.0.1*, the URLs (Storefront and Admin) load without errors.

- Does not work:
   - http://localhost:8081/magento2/
   - http://locahost:8081/magento2/admin_2lecxk/
- Works:
   - http://127.0.0.1:8081/magento2/
   - http://127.0.0.1:8081/magento

[2019-01-16 23:40] magento-engcom-team commented on #20355
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-16 23:47] #20355 closed, assigned to cedarvinda

[2019-01-17 00:04] ksurendra commented on #20355
@cedarvinda it took me more than 20 mins to write up the issue and strangely it closed in 13 mins. Was this tested on macOS Mojave? Apache? PHP 7.2?

Can you add some screenshots of localhost working for you?

[2019-01-17 00:29] MichaelThessel opened #20356 "Grunt compilation doesn't update styles-m.css or styles-l.css"
### Preconditions (*)

1. v2.3.0
2. developer mode enabled
3. all caches disabled
4. grunt setup

### Steps to reproduce (*)

1. set up grunt as described in: https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-topics/css_debug.html

### Expected result (*)

1. running `grunt watch` should recompile all required css resources
2. changes should be reflected in browser after page is reloa

[2019-01-17 01:31] stevensagaar commented on #12941
Yes Magento 2 doesn't have new GTAG implementation but there are extensions out there which can be downloaded, here is the first extension I found on Google [Magento 2 gtag.js module](https://www.scommerce-mage.com/magento2-gtag-js.html)

[2019-01-17 01:55] magento-engcom-team commented on #20356
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-17 05:45] magento-engcom-team commented on #20351
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97681` were created

[2019-01-17 06:46] magento-engcom-team commented on #12240
Hi @XxXgeoXxX. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-17 07:33] magento-engcom-team commented on #20356
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-17 07:34] magento-engcom-team commented on #20351
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-17 07:35] magento-engcom-team commented on #20350
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-17 07:36] engcom-backlog-nazar commented on #20350
Hi @victortodoran   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-17 07:36] #20350 closed, assigned to shikhamis11

[2019-01-17 07:45] engcom-backlog-nazar commented on #20351
Hi @vishalgchetu thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release.

[2019-01-17 07:45] #20351 closed, assigned to nobody

[2019-01-17 07:55] XxXgeoXxX commented on #12240
@tangar76
Looks like a problem in method getJoinConditions in Magento 2.2. In Magento 2.3-developer branch it was fixed in commit f710f9b0a8d24ae89ae5eee97652087872503763 and all works correctly.
I had the similar problem and you can use next patch for fix your problem. I hope it helps you.

diff --git vendor/magento/module-catalog-search/Model/Search/FilterMapper/CustomAttributeFilter.php vendor/

[2019-01-17 08:06] engcom-backlog-nazar commented on #20356
Hi @MichaelThessel thank you for you report, i'm not able to reproduce following steps you described this may be related to you configuration.
![selection_269](https://user-images.githubusercontent.com/40756439/51303863-4be3e880-1a3f-11e9-9062-e11d2b0644bb.png)

[2019-01-17 08:06] #20356 closed, assigned to GovindaSharma

[2019-01-17 08:14] LucScu commented on #5823
@acamarasan
So the code in the [tutorial](https://devdocs.magento.com/guides/v2.3/ext-best-practices/tutorials/copy-fieldsets.html) step3 has to be inserted on a observer triggered by the **sales_model_service_quote_submit_before** event?
@orlangur
Why you don't put this info in the tutorial?

[2019-01-17 08:21] magento-engcom-team commented on #10805
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97682`, `MAGETWO-97683` were created

[2019-01-17 08:31] engcom-backlog-nazar commented on #20346
Hi @mibu31 thank you for you report, this may be related to your custom modules, that created a additional attribute group, on clean 2.1 release  i am able successfully upgrade to 2.3.0

[2019-01-17 08:31] #20346 closed, assigned to nobody

[2019-01-17 08:33] engcom-backlog-nazar commented on #19676
Hi @jayankaghosh thank you for you report, we closing this as this is non-issue,

[2019-01-17 08:33] #19676 closed, assigned to sivaschenko, jayankaghosh

[2019-01-17 08:34] tangar76 commented on #12240
@XxXgeoXxX
Thanks for help.
As for commit you mentioned I can't see how it solves the issue. There are changes in some test xml files.
But as for fix you offered it works like a charm. Thanks.
(Magento 2.2.7)

[code]

PS: never the less it is better to have this issue fixed in one of next releases.

[2019-01-17 08:35] nikidexa opened #20359 "Home page lost SSL"
### Preconditions (*)
1. Magento 2.2.2.
2. SSL enabled

### Steps to reproduce (*)
1. With working SSL try to change any product ora category that appears in homepage (widget), any kind of changes: images, category ecc.
If that product is in the category that appears in homepage, the homepage lost ssl.

### Expected result (*)
1. Make any changes in products or category that apperas in homepage (w

[2019-01-17 08:35] magento-engcom-team commented on #20359
Hi @nikidexa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-17 08:36] magento-engcom-team commented on #20359
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-17 08:37] magento-engcom-team commented on #20359
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-17 08:59] rabhiaziz opened #20360 "Rest api checkout Payment Information Management V1"
Swagger documentation: Where is the  Payload
https://devdocs.magento.com/swagger/index.html#/
![image](https://user-images.githubusercontent.com/17629403/51306699-4df97780-1a3e-11e9-9aa6-6ffad5427648.png)

[2019-01-17 08:59] magento-engcom-team commented on #20360
Hi @rabhiaziz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-17 08:59] steffen-wirth commented on #19728
@engcom-backlog-nazar  is there any patch for 2.2 or can you link to the related commit ? thanks

[2019-01-17 09:01] magento-engcom-team commented on #20360
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-17 09:02] engcom-backlog-nazar commented on #20360
Hi @rabhiaziz
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-17 09:02] #20360 closed, assigned to nobody

[2019-01-17 09:03] nikidexa opened #20361 "Paypal checkout force users to login to paypal or create account on paypal"
When some users choose payment with paypal they are redirect to paypal page and there sometimes you can pay with credti card without have paypal account. But sometimes paypla ask to login or to create account and dont show "pay with credit card o debit card

### Preconditions (*)

1. Magento 2.2.2
2. Enable Paypal payment method
![paypal](https://user-images.githubusercontent.com/38526353/51307098

[2019-01-17 09:03] magento-engcom-team commented on #20361
Hi @nikidexa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-17 09:04] engcom-backlog-nazar commented on #20360
@rabhiaziz https://github.com/magento/devdocs

[2019-01-17 09:04] magento-engcom-team commented on #20361
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-17 09:09] engcom-backlog-nazar commented on #20361
Hi @nikidexa   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-17 09:09] #20361 closed, assigned to nobody

[2019-01-17 09:13] engcom-backlog-nazar commented on #19728
@steffen-wirth maybe this one https://github.com/magento/magento2/pull/14914

[2019-01-17 09:14] nikidexa opened #20362 "Paypal checkout with credit card"
I need to use Paypal method for pay also with credit or debit card.
When some users choose payment with paypal they are redirect to paypal page and there sometimes you can pay with credti card without have paypal account. But sometimes paypla ask to login or to create account and dont show "pay with credit card o debit card
Preconditions (*)

### Preconditions (*)

1. Magento 2.2.2
2. Enable Paypa

[2019-01-17 09:14] magento-engcom-team commented on #20362
Hi @nikidexa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-17 09:14] magento-engcom-team commented on #20362
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-17 09:14] RaphaelBronsveld commented on #20348
Ah my bad. I tried several keywords to find an issue related to this, but couldn't find any. Thanks!

[2019-01-17 09:15] engcom-backlog-nazar commented on #20362
Hi @nikidexa   thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-17 09:15] #20362 closed, assigned to nobody

[2019-01-17 09:22] steffen-wirth commented on #19728
@engcom-backlog-nazar the issue #14914 is different to the subject in this issue. i would say they are not related

[2019-01-17 09:25] nikidexa opened #20363 "Use paypal for pay with credit card"
### Description (*)
When some users choose payment with paypal they are redirect to paypal page and there sometimes you can pay with credti card without have paypal account. But sometimes paypla ask to login or to create account and dont show "pay with credit card o debit card.
This what happens sometimes
![payapl](https://user-images.githubusercontent.com/38526353/51308137-bdbd3180-1a41-11e9-9453

[2019-01-17 09:50] steffen-wirth commented on #19728
@engcom-backlog-nazar the issue #14914 was your suggestion for a patch or commit so why are you not talking about this?
perhaps it is more related to #18519 and #16633

[2019-01-17 09:51] engcom-backlog-nazar commented on #20363
@nikidexa i'm closing this one, because this need to be reported as feature request, please do not open again.

[2019-01-17 09:51] #20363 closed, assigned to nobody

[2019-01-17 10:05] vo1 commented on #19732
Described them same way as catalog inventory by passing up all to a class.
[code]

Collection of Magento\Bundle\Api\Data\LinkInterface is retrieved by Magento\Bundle\Model\Product\LinksList::getItems(). it gets SelectionCollection via $selectionCollection = $this->type->getSelectionsCollection.
**Problem 1:**
Neither LinksList::getItems() nor bundleType->getSelectionCollection uses extensionAttrib

[2019-01-17 10:19] sarfarazbheda commented on #14856
Can you please add reference commit id here?

We are still facing this issue on Magento 2.2.5 EE.

Thanks

[2019-01-17 10:39] ilnytskyi opened #20364 "Billing address remains old after going back from Payment step and changing the shipping"
The problem exists for payment methods where changing the billing address is disabled or not possible to change it on payment step in checkout.
Billing address remains old after going back from Payment step and changing  the shipping address

### Preconditions (*)

Magento 2.2.7
Magento 2.2.6
Magento 2.2.5

### Steps to reproduce (*)

1. Create an account
2. Add an address
3. Add products to cart

[2019-01-17 10:39] magento-engcom-team commented on #20364
Hi @ilnytskyi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-17 10:40] magento-engcom-team commented on #20364
Hi @LuciferStrome. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-17 10:45] LuciferStrome commented on #20364
@magento-engcom-team give me 2.3 instance

[2019-01-17 10:47] irajneeshgupta commented on #20364
@magento-engcom-team give me 2.3-develop instance

[2019-01-17 10:47] magento-engcom-team commented on #20364
Hi @irajneeshgupta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-17 10:47] magento-engcom-team commented on #20364
Hi @irajneeshgupta, here is your [Magento instance](https://i-20364-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20364-2-3-develop.instances.magento-community.engineering/admin](https://i-20364-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-17 10:49] magento-engcom-team commented on #20364
@LuciferStrome Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required informa

[2019-01-17 10:52] usamahabib786 opened #20366 "The parent product doesn't have configurable product options."
### Preconditions (*)

PHP 7.2
MySQL CE 5.6.30
Magento 2.3

### Steps to reproduce (*)

1.Create a Configurable product, Set the configurable attribute and Link the simple products to the configurable product using BULK API endpoint: rest/async/bulk/V1/configurable-products/bySku/child
2. **Input POST**
[
  {
    "sku": "parentSku",
    "childSku": "ChildNo1Sku"
  },
  {
    "sku": "parentSku",

[2019-01-17 10:52] ghoshsweta opened #20367 "In Compare Products page showing horizontal scrollbar In body But It should appear in **table-wrapper comparison** div For mobile device"
In Compare Products page showing horizontal scrollbar In body But It should appear in **table-wrapper comparison** div For mobile device

### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

Step 1: Open frontend
Step 2: Add two any product to Compare and open Compare Products page in mobile
Step 3: Here will be horizontal scroll in body (Ref screenshot)

### Expected re

[2019-01-17 10:53] LuciferStrome commented on #20366
@magento-engcom-team give me 2.3-develop instance

[2019-01-17 10:53] magento-engcom-team commented on #20366
Hi @LuciferStrome. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-17 10:53] magento-engcom-team commented on #20366
Hi @LuciferStrome, here is your [Magento instance](https://i-20366-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20366-2-3-develop.instances.magento-community.engineering/admin](https://i-20366-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-17 10:54] magento-engcom-team commented on #20364
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97689` were created

[2019-01-17 10:54] magento-engcom-team commented on #20366
Hi @usamahabib786. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-17 10:54] magento-engcom-team commented on #20367
Hi @swetacedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-17 10:54] magento-engcom-team commented on #20367
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-17 10:54] magento-engcom-team commented on #20364
Hi @irajneeshgupta. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-17 10:54] magento-engcom-team commented on #20366
Hi @LuciferStrome. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-17 10:54] cedarvinda commented on #20367
@magento-engcom-team give me 2.3-develop instance

[2019-01-17 10:54] magento-engcom-team commented on #20367
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-17 10:54] magento-engcom-team commented on #20367
Hi @cedarvinda, here is your [Magento instance](https://i-20367-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20367-2-3-develop.instances.magento-community.engineering/admin](https://i-20367-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-17 10:55] magento-engcom-team commented on #20366
@LuciferStrome Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-17 10:56] magento-engcom-team commented on #20367
@cedarvinda Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97690` were created

[2019-01-17 10:57] magento-engcom-team commented on #20366
@LuciferStrome Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97691`, `MAGETWO-97692` were created

[2019-01-17 11:01] magento-engcom-team commented on #20366
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-17 11:15] engcom-backlog-nazar commented on #20359
Hi @nikidexa thank you for you report, i;m not able to reproduce following steps you described, on clean magento instance, this may be related to your environment.
Best regards.

[2019-01-17 11:15] #20359 closed, assigned to nobody

[2019-01-17 11:47] raulsinapsis commented on #20148
As a workaround for this, we are rewriting **Magento\Customer\Model\AccountManagement** `resetPassword()`, setting customer as logged in at the end of that function

    class AccountManagement extends \Magento\Customer\Model\AccountManagement
    {

        /** Need to copy here, cause of private scope */
        private function validateResetPasswordToken($customerId, $resetPasswordLinkToken)

[2019-01-17 11:50] usamahabib786 commented on #20366
Hi @engcom-backlog-nazar is there any update you wnat from me clearly i have mentioned everything required and tested it with magento 2.3 Community edition version furthermore I can provide any othere information required

[2019-01-17 11:56] engcom-backlog-nazar commented on #20366
@usamahabib786 i think this is non-issue, you may have wrong payload, or some else. now i rechecking this

[2019-01-17 12:02] usamahabib786 commented on #20366
@engcom-backlog-nazar i have mentioned the payload for this bulk call. If i provide wrong payload to the endpoint before it executes the request it returns field name required message with the key mentioned as u know. The main issue is when i am going with traditional rest api endpoint for linking products its all working fine as i move to bulk api this is the message.

[2019-01-17 12:08] usamahabib786 commented on #20366
@engcom-backlog-nazar But if my payload for this request is wrong, if you could please help me with providing correct payload to this endpoint for bulk api.

endpoint: rest/async/bulk/V1/configurable-products/bySku/child

[2019-01-17 12:19] victortodoran commented on #20350
Hi @engcom-backlog-nazar
This is not a feature request.
This is core Magento code that is plain inefficient and badly written.
Customer and Address Entity are too tightly coupled.
More so an Address is Saved multiple times(around 3-4 times) each time a customer is saved via Customer Repository Save Method. Even if changes were not made to the address.
No sane person will pass this at a code review

[2019-01-17 12:36] victortodoran commented on #20350
Customer/Model/ResourceModel/Customer/Relation::processRelation
This piece of code executes each and every time even if address->getParentId already is $customer->getId()
[code]
Customer/Model/ResourceModel/CustomerRepository::save
This piece of code executes every time even if the number of addresses associated has not changed and no change was made to the customer.
[code]

[2019-01-17 12:44] vishalgchetu commented on #20351
Hi @engcom-backlog-nazar  : Can you provide me patch for this issue .

[2019-01-17 12:47] engcom-backlog-nazar commented on #20366
@usamahabib786 i'm really confused, is your  parent product have configurable  options ?
Becouse i'm not able to reproduce following steps you described, the error you have, says that your's parent product  dosn't have configurable options.
![selection_273](https://user-images.githubusercontent.com/40756439/51319825-caa04c00-1a66-11e9-9702-58a07b99fae3.png)

[2019-01-17 12:56] ranee2jcommerce opened #20373 "Order view invoices template not display proper on ipad"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. In admin Go to Sales -> Orders ->click on view -> check invoices tab under Order view

### Expected result (*)

1.
![2019-01-17_18-18_orders](https://user-images.githubusercontent.com/18118755/51320269-50cb8b00-1a85-11e9-8007-78447885a89d.jpg)

### Actual result (*)

1.
![2019-01-17_16-22_orders](https://user-images.githubusercontent.

[2019-01-17 12:56] magento-engcom-team commented on #20373
Hi @ranee2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-17 12:57] usamahabib786 commented on #20366
@engcom-backlog-nazar i am using this endpoint with following payload to assign configurable attribute options
endpoint : **rest/async/bulk/V1/configurable-products/bySku/options**
payload:
[
  {
    "sku": "BDD-PRI-K1150-A-CP-C",
    "option": {
      "attribute_id": 139,
      "label": "finish",
      "position": 0,
      "is_use_default": true,
      "values": [
        {
          "value_index

[2019-01-17 12:58] magento-engcom-team commented on #20373
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-17 12:59] shikhamis11 commented on #20373
@magento-engcom-team give me 2.3-develop instance

[2019-01-17 12:59] magento-engcom-team commented on #20373
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-17 13:00] magento-engcom-team commented on #20373
Hi @shikhamis11, here is your [Magento instance](https://i-20373-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20373-2-3-develop.instances.magento-community.engineering/admin](https://i-20373-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-17 13:01] engcom-backlog-nazar commented on #20366
@usamahabib786 I'm understand clearly,i'm following your steps, but i'm created option for configurable products in admin area,so basically your issue about correctly set product as configurable, there no issue on magento side.

[2019-01-17 13:02] engcom-backlog-nazar commented on #20350
@victortodoran Ok, but this still feature request, because this will require a big code changes

[2019-01-17 13:07] engcom-backlog-nazar commented on #20366
@usamahabib786 is your product have a type of configurable ?

[2019-01-17 13:08] magento-engcom-team commented on #20373
@shikhamis11 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97693` were created

[2019-01-17 13:48] usamahabib786 commented on #20366
@engcom-backlog-nazar Yes my product is configurable type.

[2019-01-17 14:16] mohammadzakir opened #20376 "Image gets uploaded if field is disable in Category"
### Preconditions (*)

1. Magento 2.3.0
2. Php Version 7.2

### Steps to reproduce (*)

1. Login to admin panel
2. Goto Catalog present on left
3. Then goto Categories
4. Select Dafault category
5. Change Store View to Default Store view
6. Now click to content tab
7. then click Browse to find or drag image here, it will not work untill we don't remove the tick from the Use Default Value
8. But wh

[2019-01-17 14:16] magento-engcom-team commented on #20376
Hi @mohammadzakir. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-17 14:16] magento-engcom-team commented on #20376
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-17 14:17] GovindaSharma commented on #20376
@magento-engcom-team give me 2.3-develop instance

[2019-01-17 14:17] magento-engcom-team commented on #20376
Hi @GovindaSharma. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-17 14:17] magento-engcom-team commented on #20376
Hi @GovindaSharma, here is your [Magento instance](https://i-20376-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20376-2-3-develop.instances.magento-community.engineering/admin](https://i-20376-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-17 14:19] magento-engcom-team commented on #20376
@GovindaSharma Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97694` were created

[2019-01-17 14:21] bogdan50five commented on #7322
I am heaving the same issue on 2.2.3

[2019-01-17 15:01] vdBrandtMedia commented on #18183
I have encountered the same issue on 2.2.5, checked the date_to value in the salesrule table but it gives a correct value of 2019-11-26

[2019-01-17 15:18] nadim2jcommerce opened #20377 "Schedule Update From (Schedule Design Update) not saving When switch store view from admin"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. Go to admin panel
2. Admin=>Catalog=>Categories=>Navigate any category=>Schedule Design Update
3. Switch store to "default store view"
4. Click on checkbox (Checked) and save.

### Expected result (*)

1.
![expected](https://user-images.githubusercontent.com/22003848/51328247-f3d9d000-1a98-11e9-947b-82bdc7cb469b.jpg)

### Actual resul

[2019-01-17 15:18] magento-engcom-team commented on #20377
Hi @nadim2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-17 15:18] magento-engcom-team commented on #20377
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-17 15:43] DS2987 commented on #18148
Unfortunately the file update from @numan201 does not seem to work in version 2.3 as although the status has changed from 'Processing Payment' it is now 'Suspected Fraud' even though the payment has gone into PayPal with a 200 IPN response and transaction ID updated to Magento. Tried 2 x different cards same each time.

[2019-01-17 15:53] magento-engcom-team commented on #20376
Hi @saphaljha. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-17 16:37] ksurendra commented on #20355
@irajneeshgupta  Yes
![screen shot 2019-01-17 at 10 36 02 am](https://user-images.githubusercontent.com/902972/51333612-beef5e00-1a43-11e9-9015-4fb3d737b9a8.png)

My puzzle was that storefront & admin works with `127.0.0.1` but not with `localhost`. While all other pages/sites on apache work at `localhost\xxx`

[2019-01-17 16:58] seyuf commented on #7730
@magento-engcom-team this is a  major issue. And seems to had not been fixed (in any version to date).
Please at least reopen corresponding the issue(s)?...
Thanks

[2019-01-17 16:59] irajneeshgupta opened #20379 "calendar icon not aligned inside the textbox in Add Design Change page"
calendar icon not aligned inside the textbox in Add Design Change page

### Preconditions (*)

1. Magento 2.3
2. php 7.2

### Steps to reproduce (*)

1. Login to admin panel > Content link from left menu
2. click on Schedule link under the design label
3. Now click on Add Design Change button (You will see same page as screenshot)

### Expected result (*)

![sol](https://user-images.githubusercont

[2019-01-17 16:59] magento-engcom-team commented on #20379
Hi @irajneeshgupta. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-17 17:00] magento-engcom-team commented on #20379
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-17 17:00] cedarvinda commented on #20379
@magento-engcom-team give me 2.3-develop instance

[2019-01-17 17:00] magento-engcom-team commented on #20379
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-17 17:03] magento-engcom-team commented on #20379
@cedarvinda Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97696` were created

[2019-01-17 17:38] yohanespradono commented on #16095
I am getting this issue too after upgrading from 2.1.9 to 2.2.7

[2019-01-17 18:04] magento-engcom-team commented on #18392
Hi @Nazar65. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-01-17 18:05] MichaelThessel commented on #20356
@engcom-backlog-nazar, thanks for looking into it.

Looks like you have been just testing this with the luma theme shipping with magento? As you can see in my submitted config I have the issue with custom child themes configured using local-themes.js. I think the use case you tested doesn't reflect the scope of the reported problem. In addition when you say "this may be related to you configuratio

[2019-01-17 18:06] mahesh-rajawat opened #20380 "Get Shipping Method as object from order instance gives undefined index."
### Preconditions (*)

1. Magento 2.3.0
2. Magento 2.2.x

### Steps to reproduce (*)

1. Create a downloadable or virtual product.
2. Place an order with this product.
3. In custom controller or anywhere load order with id.
   `$order = $this->orderFactory->create()->load($orderId); //your order id`
4. Now get shipping method as object.
`$order->getShippingMethod(true)->getMethod();`
5. It gives b

[2019-01-17 18:06] magento-engcom-team commented on #20380
Hi @maheshWebkul721. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-17 18:08] magento-engcom-team commented on #20380
@maheshWebkul721 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97697`, `MAGETWO-97698` were created

[2019-01-17 18:33] radhikagarg03 commented on #13013
Lodu hai sab

[2019-01-17 18:47] fanny00 commented on #19934
hi,
I get this error when trying to install composer for magento 2.3

[UnexpectedValueException]
  The checksum verification of the file failed (downloaded from https://repo.
  magento.com/archives/vertex/module-tax/vertex-module-tax-3.0.0.0.zip)

thanks!

[2019-01-17 19:07] irajneeshgupta opened #20382 "View and Edit Cart link not aligned in middle because bellow the link a blank div (class="minicart-widgets") existing has 15px margin top, this div (class="minicart-widgets" ) should be display none or should not come if has no content, should only display if has content"
**View and Edit Cart** link not aligned in middle because bellow the link a blank div (**class="minicart-widgets"**) existing has **15px margin top**, this div (**class="minicart-widgets"** ) should be display none or should not come if has no content, should only display if has content.

### Preconditions (*)

1. Magento 2.3
2. php 7.2

### Steps to reproduce (*)

1. Open frontend
2. Add any prod

[2019-01-17 19:07] magento-engcom-team commented on #20382
Hi @irajneeshgupta. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-17 19:07] magento-engcom-team commented on #20382
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-17 19:08] cedarvinda commented on #20382
@magento-engcom-team give me 2.3-develop instance

[2019-01-17 19:08] magento-engcom-team commented on #20382
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-17 19:08] magento-engcom-team commented on #20382
Hi @cedarvinda, here is your [Magento instance](https://i-20382-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20382-2-3-develop.instances.magento-community.engineering/admin](https://i-20382-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-17 19:09] magento-engcom-team commented on #20382
@cedarvinda Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97700` were created

[2019-01-17 19:10] cedarvinda commented on #20382
@magento-engcom-team give me 2.2-develop instance

[2019-01-17 19:10] magento-engcom-team commented on #20382
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-17 19:10] magento-engcom-team commented on #20382
Hi @cedarvinda, here is your [Magento instance](https://i-20382-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20382-2-2-develop.instances.magento-community.engineering/admin](https://i-20382-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-17 20:41] buskamuza opened #20384 "Default UTF-8 encoding for XML"
### Preconditions (*)

1. Magento ver. 2.3.0

### Steps to reproduce (*)

`run code quality tool`

### Expected result (*)

specify default encoding for xml should be utf-8

### Actual result (*)

1. code quality tool returns warnings.

### Summary (*)

Specify UTF-8 encoding in XML files. See https://github.com/magento/architecture/pull/57

AC:
* all XML files updated
* a static test that validat

[2019-01-17 20:41] magento-engcom-team commented on #20384
Hi @buskamuza. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-17 21:37] LiamKarlMitchell commented on #4567
"One or more indexers are invalid. Make sure your Magento cron job is running."
How can I add a product to the home page?

[2019-01-17 21:49] LiamKarlMitchell commented on #4567
@magento-engcom-team How can I add a processing status to the order and partial payment?

[2019-01-17 22:08] ejaz-alam opened #20385 "product name not found while add new review"
### Preconditions (*)

1. Magento ver. 2.3.0
2. OS Ubuntu 18.04 lts

### Steps to reproduce (*)

1. Click to "New Review" then Select any product on which you want to add new Review. An expection is shown that

also the Product Name is not found.

### Expected result (*)

1. Product name should be found and the new review should be apply on the product.

### Actual result (*)

1. ![image](https://

[2019-01-17 22:08] magento-engcom-team commented on #20385
Hi @aliejaz55. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-17 22:29] ppostma1 opened #20386 "Wrong HTTP code is given causing problems for evaluating errors."
### Preconditions (*)

1. Magento\Customer\Controller\Section\Load.php, use of STATUS_CODE_400 in code
2. Magento\Catalog\Controller\Product\Frontend\Action\Synchronize

### Steps to reproduce (*)
1. Create an error loading a customer section and a 400 error is returned

### Expected result (*)
1. Error code of 500 or greater.

### Actual result (*)

1. PHP _SHOULD_ NEVER return a 400 error code.

[2019-01-17 22:35] aliejaz55 commented on #20385
I confirm this issue on this instance https://i-20385-2-3-0.instances.magento-community.engineering/admin with the same step given above.

[2019-01-17 23:01] adnnor commented on #2010
As @dmytro-ch said you have to use a special Magento approach to work with the private content. Here is an example https://github.com/adnnor/customer-session-sections

[2019-01-18 02:11] magento-engcom-team commented on #20385
Hi @pmclain. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-01-18 02:13] magento-engcom-team commented on #20385
@pmclain Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97816` were created

[2019-01-18 02:33] magento-engcom-team commented on #20386
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-18 02:37] magento-engcom-team commented on #20386
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97817`, `MAGETWO-97818` were created

[2019-01-18 02:51] magento-engcom-team commented on #20384
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-18 03:22] magento-engcom-team commented on #20384
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97819`, `MAGETWO-97820` were created

[2019-01-18 03:43] programmerOne commented on #19865
Any idea on how to fix this error? I'm running into it as well.

[2019-01-18 06:19] magento-engcom-team commented on #20385
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-01-18 06:37] magento-engcom-team commented on #20377
@yashwant2jcommerce Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97821` were created

[2019-01-18 07:24] Winson222 opened #20390 "A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later."
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-18 07:26] #20390 closed, assigned to nobody

[2019-01-18 07:51] magento-engcom-team commented on #20385
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-18 07:52] magento-engcom-team commented on #20384
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-18 07:53] engcom-backlog-nazar commented on #20356
@MichaelThessel ok i'm will retest with custom theme.

[2019-01-18 07:53] magento-engcom-team commented on #20380
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-18 08:00] engcom-backlog-nazar commented on #20377
@yashwant2jcommerce please do not touch issue if is already have assigned!

[2019-01-18 08:02] XxXgeoXxX commented on #19942
Messages are removed after call method app/code/Magento/Email/Model/Template/Filter.php:blockDirective because all/only shipment email template used construction '{{block}}'. When shipment and invoice created together with send email functionality mesages were added and after that Magento creates block(according templates app/code/Magento/Sales/view/frontend/email/shipment_new.html) by layout func

[2019-01-18 08:20] vasilii-b commented on #15420
Hi @magento-engcom-team, @ketan-krish.
I see there is no answer from @ketan-krish  for a while regarding a fix for the issue.

@magento-engcom-team I'm going to take it to provide the fix.
Thank you!

[2019-01-18 08:22] magento-engcom-team commented on #15420
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-18 08:37] ethniccode commented on #20255
@magento-engcom-team Is there a plan to fix this issue. If yes, in which release please?

[2019-01-18 08:46] engcom-backlog-nazar commented on #20385
Hi @aliejaz55 thank you for you report this is duplicate to this -> https://github.com/magento/magento2/issues/19623

[2019-01-18 08:46] #20385 closed, assigned to pmclain

[2019-01-18 08:56] magento-engcom-team commented on #16367
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-18 09:03] steffen-wirth commented on #19728
hi @sezio did you had time to investigate it further? how did you solve this problem?

[2019-01-18 09:07] engcom-backlog-nazar commented on #20386
Hi @ppostma1 thank you for you report, the error code in Class Load is correct, you always can see response message in log, so there no reason to change error code.

[2019-01-18 09:15] steffen-wirth commented on #16633
hi @engcom-backlog-nickolas ,
i experiencing the same after the upgrade from 2.1.6 to 2.2.6
if i use the production mode, the created js-translation.json files (cli command bin/magento se:st:de fr_FR de_CH en_US) are broken - not correct brackets
if i use the development mode and let the page request handle the creation, the files seem to be ok

seems the issue is the cli command creation
 pls ope

[2019-01-18 09:38] magento-engcom-team commented on #19457
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-18 09:42] engcom-backlog-nazar commented on #19457
Hi @himanshu8dev this problem maybe related to your custom modules or some else, i''m have clean 2.3.0 instance with sample data and i have Bundled items tab.
![selection_274](https://user-images.githubusercontent.com/40756439/51378510-1827c200-1b16-11e9-9b7b-3b472e3f4002.png)

[2019-01-18 09:42] #19457 closed, assigned to nobody

[2019-01-18 09:46] vasilii-b commented on #15420
@magento-engcom-team give me 2.2-develop instance

[2019-01-18 09:46] magento-engcom-team commented on #15420
Hi @vasilii-b. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-01-18 09:47] magento-engcom-team commented on #15420
Hi @vasilii-b, here is your [Magento instance](https://i-15420-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-15420-2-2-develop.instances.magento-community.engineering/admin](https://i-15420-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-18 09:50] magento-engcom-team commented on #18924
Hi @engcom-backlog-nazar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details

[2019-01-18 09:51] engcom-backlog-nazar commented on #18924
Hi @matin73 thank you for you report this issue has already fixed in 2.3-develop branch
![selection_275](https://user-images.githubusercontent.com/40756439/51379136-638ea000-1b17-11e9-9f2a-6b46219f9664.png)

[2019-01-18 09:51] #18924 closed, assigned to nobody

[2019-01-18 09:53] mageho commented on #3625
Same here on a update with Magento 2.3.0
Tried this proposal, https://github.com/magento/magento2/issues/3566, but it doesn't work.
I am investigating.

[2019-01-18 10:00] vasilii-b commented on #15420
Hi @magento-engcom-team,
I wasn't able to reproduce reported issue on `2.3-develop` neither on `2.2-develop`. Closing this one for now.
If someone have some more explanatory preconditions and steps to reproduce, please feel free to jump in.
Thank you!

[2019-01-18 10:00] #15420 closed, assigned to vasilii-b, ketan-krish

[2019-01-18 10:17] stu177 commented on #18243
I just had this occur on 2.3.0 on Ubuntu 18.04.1.

[2019-01-18 10:24] NiteshKuyate opened #20393 "Direct access to Checkout page payment step"
### Preconditions (*)

1. Magento Commerce 2.2.6

### Steps to reproduce (*)

1. Add products to shopping cart.
2. Go to payment step by typing the url: base_url/checkout/#payment

### Expected result (*)

1. Should redirect to shipping step.

### Actual result (*)

Checkout page payment step page shows with below issues:
1. Throwing validation error on Shipping step.
2. Shows empty shipping addre

[2019-01-18 10:32] engcom-backlog-nazar commented on #20393
Hi @NiteshKuyate this is expected behavior,  i'm not see any errors, only validation that you have not entered your address.

[2019-01-18 10:33] #20393 closed, assigned to surabhisrivastava09

[2019-01-18 10:41] renttek commented on #20145
Ehm yeah, but they are only outside of magento when developing. Every symlink gets dereferenced/resolved on deployment

[2019-01-18 10:42] rogyar commented on #20379
@magento-engcom-team give me 2.3-develop instance

[2019-01-18 10:42] magento-engcom-team commented on #20379
Hi @rogyar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-18 10:42] magento-engcom-team commented on #20379
Hi @rogyar, here is your [Magento instance](https://i-20379-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20379-2-3-develop.instances.magento-community.engineering/admin](https://i-20379-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-18 10:48] extroniks opened #20394 "SalesRule module collection missing event prefix"
### Preconditions

1. Magento 2.3.0 CE

### Steps to reproduce

1. Try to observe events: salesrule_rule_collection_load_before, salesrule_rule_collection_load_after

### Expected result

1. Event is dispatched and listeners execute

### Actual result

1. Listeners aren't executed because the collection is missing the event prefix

Code lines to reproduce:
[code]
Proposed fix by adding following l

[2019-01-18 10:48] magento-engcom-team commented on #20394
Hi @StefanErakovic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-18 10:48] magento-engcom-team commented on #20394
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-18 10:48] magento-engcom-team commented on #20394
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-18 10:48] magento-engcom-team commented on #20394
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-18 10:55] engcom-backlog-nazar commented on #20394
Hi @StefanErakovic thank you for you report, there are no events  in magento salesrule_rule_collection_load_before, salesrule_rule_collection_load_after.
It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-18 10:55] #20394 closed, assigned to nobody

[2019-01-18 10:56] Flexxus94 opened #20395 "Notice: Undefined variable: sourceCode in /var/www/vhosts/nuled.nl/httpdocs/vendor/magento/module-inventory-shipping/Observer/SourceDeductionProcessor.php on line 112"
### Preconditions (*)
1. Magento 2.3.0
2. Imported products, orders etc through ub-theme importer.

### Steps to reproduce (*)
1. Fresh install of magento 2.3.0
2. Imported the 1.9.3 In 2.3.0 with ubertheme importer
3. Changed the source of the stock
4. Try to send orders.

### Expected result (*)
Total of (Quanity of orders) order(s) were modified.

### Actual result (*)
When ever i try to send t

[2019-01-18 10:56] magento-engcom-team commented on #20395
Hi @Flexxus94. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-18 10:56] magento-engcom-team commented on #13260
Hi @roshani2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><s

[2019-01-18 10:57] magento-engcom-team commented on #20395
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-18 10:58] engcom-backlog-nazar commented on #20395
Hi @Flexxus94 thank you for you report, please open issue here -> https://github.com/magento-engcom/msi-module

[2019-01-18 10:58] #20395 closed, assigned to nobody

[2019-01-18 11:07] maderlock opened #20396 "Changing attribute from swatch to dropdown deletes swatch options for all attributes"
### Preconditions (*)
1. Magento 2.2.7 (need to confirm but likely 2.3 still has issue)

### Steps to reproduce (*)
1. Create two configurable attributes (A and B) as text/visual swatches, each with multiple options
2. Create configurable products for both A and B
2. Change attribute A to be a dropdown

### Expected result (*)

1. Product configurable on attribute A displays as dropdown
2. Product

[2019-01-18 11:07] magento-engcom-team commented on #20396
Hi @maderlock. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-18 11:08] maderlock commented on #20396
@magento-engcom-team give me 2.3-develop instance

[2019-01-18 11:08] extroniks opened #30588 "SalesRule module collection missing event prefix"
### Preconditions

1. Magento 2.3.0 CE

### Steps to reproduce

1. Try to observe events: salesrule_rule_collection_load_before, salesrule_rule_collection_load_after

### Expected result

1. Event is dispatched and listeners execute

### Actual result

1. Listeners aren't executed because the collection is missing the event prefix

Code lines to reproduce:
[code]
Proposed fix by adding following l

[2019-01-18 11:08] magento-engcom-team commented on #20396
Hi @maderlock. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-18 11:08] magento-engcom-team commented on #20396
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-18 11:09] magento-engcom-team commented on #20396
Hi @maderlock, here is your [Magento instance](https://i-20396-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20396-2-3-develop.instances.magento-community.engineering/admin](https://i-20396-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-18 11:10] magento-engcom-team commented on #20396
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-18 11:11] maderlock commented on #20396
Got kicked out of the instance as another user logged in. I assume @GovindaSharma or @engcom-backlog-nazar is looking at this, so we will leave this for now.

[2019-01-18 11:13] magento-engcom-team commented on #20396
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-18 11:14] engcom-backlog-nazar commented on #20396
@maderlock did you check this -> https://github.com/magento/magento2/issues/12695

[2019-01-18 11:14] keyurshah070 commented on #17618
Any update on this?

[2019-01-18 11:15] NiteshKuyate commented on #20393
@engcom-backlog-nazar
Without filling shipping details, how can you go on payment step?
Throwing validation error on Shipping step which is actually not visible on payment step.
Place Order button not working.
Is this expected behaviour?

[2019-01-18 11:16] maderlock commented on #20396
In my description I mention that this problem was caused by the fix for #12695. This bug is the opposite problem.

[2019-01-18 11:18] engcom-backlog-nazar commented on #20393
@NiteshKuyate what the behavior go to payment method without shipping steps?
How you can place order without 1 step? and in which condition you need direct access to payment step ?

[2019-01-18 11:20] dwirt commented on #4059
can confirm this for magento 2.2.6

custom shipping methods are only updated when there is at least one magento default shipping method enabled

adding a validator as described [here](https://devdocs.magento.com/guides/v2.3/howdoi/checkout/checkout_carrier.html) does not help

[2019-01-18 11:23] engcom-backlog-nazar commented on #20396
@maderlock ok, i'm not read all description :) , just remembered that somewhere we have same issue

[2019-01-18 11:38] magento-engcom-team commented on #12194
Hi @vshatylo. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-01-18 11:45] bhagyashree2jcommerce opened #20398 "Excluded attributes exported in CSV File"
**Preconditions (*)**
Magento 2.4-develop

**Steps to reproduce (*)**

 1. Login to admin panel
 2. Go to `System` > `Export` > `Export settings`.
 3. Sectect `Product` as entity type for export .
 4. Exclude some attributes from export
 5. Click `Continue`.
 6. Run `bin/magento queue:consumers:start exportProcessor`.
 7. Open exported CSV sheet.

**Expected result (*)**
Excluded attribute column/

[2019-01-18 11:45] magento-engcom-team commented on #20398
Hi @bhagyashree2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanil

[2019-01-18 11:46] magento-engcom-team commented on #20398
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-18 11:46] magento-engcom-team commented on #20398
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-18 11:49] engcom-backlog-nazar commented on #20396
@maderlock i'm not able to reproduce following steps you described, can you check test instance ?

[2019-01-18 11:57] magento-engcom-team commented on #20398
@Surabhi-Cedcoss Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97822` were created

[2019-01-18 11:59] engcom-backlog-nazar commented on #20393
ok @NiteshKuyate

Please describe in which cases you need this ?

[2019-01-18 12:12] nainesh2jcommerce opened #20399 "On wish list page edit, remove item misalign in 640 X 767 resolution"
### Preconditions (*)

1. 2.3.x
2.

### Steps to reproduce (*)

1. add product to wish list
2. check edit remove item button on 640 X 767 resolution

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/51386377-2b538580-1b48-11e9-8439-fa99ce0254a1.png)

2.

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/51386417-5211bc00-1b

[2019-01-18 12:12] magento-engcom-team commented on #20399
Hi @nainesh2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-01-18 12:14] magento-engcom-team commented on #20399
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-18 12:14] magento-engcom-team commented on #20399
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-18 12:20] magento-engcom-team commented on #20399
@Surabhi-Cedcoss Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97823` were created

[2019-01-18 12:48] meshmarketing opened #20401 "Quikwallet Gateway Integration"
### Summary (*)
Not able to install this module

I extracted all the files of this module in my root directory

and run these commands:

php bin/magento setup:upgrade

But module is still not showing in module section.

I am attaching the module. Please check and help me.

[Quikwallet.zip](https://github.com/magento/magento2/files/2772946/Quikwallet.zip)

[2019-01-18 12:48] magento-engcom-team commented on #20401
Hi @meshmarketing. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-18 12:51] centerax commented on #4373
Hello, We are facing the issue still.

Was this ever solved?

Thanks.

[2019-01-18 12:51] irajneeshgupta commented on #20401
@meshmarketing
github is intended for magento core issues only.

[2019-01-18 12:51] #20401 closed, assigned to nobody

[2019-01-18 12:55] meshmarketing commented on #20401
@irajneeshgupta I know but can you help me in this.

[2019-01-18 12:56] amol2jcommerce opened #20402 "Schedule update from filed misalignment in 768 x 1147 resolution"
### Preconditions (*)

1. 2.3.x
2. 2.2.x

### Steps to reproduce (*)

1. Login to Admin panel => Catalog => Categories => Navigate any category => Schedule Design Update section
2. Schedule update from filed misalignment in 768 x 1147 resolution

### Expected result (*)

1.
![2](https://user-images.githubusercontent.com/18118631/51387981-1f6ac200-1b4e-11e9-9834-9323440d76e6.jpg)

2.

### Actual re

[2019-01-18 12:56] magento-engcom-team commented on #20402
Hi @amol2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-18 12:58] magento-engcom-team commented on #20402
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-18 13:04] magento-engcom-team commented on #20402
@Surabhi-Cedcoss Thank you for verifying the issue.

Unfortunately, not enough information was provided to created internal ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-18 13:05] magento-engcom-team commented on #20402
@Surabhi-Cedcoss Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97824` were created

[2019-01-18 13:14] maderlock commented on #20396
Confirmed reproduced using steps above on 2.3-develop instance.

[2019-01-18 13:16] routbiplab opened #20405 "Magento 2.3.0 “A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.” When uploading the logo/favicon image"
### Preconditions (*)

 1.Magento 2.3.0

### Steps to reproduce (*)

1. Go to admin and try uploading the logo image.

### Expected result (*)

1. Logo image uploaded and saved.

### Actual result (*)

1. A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.

[2019-01-18 13:16] magento-engcom-team commented on #20405
Hi @routbiplab. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-18 13:16] engcom-backlog-nazar commented on #20396
@maderlock on vanila instance ?

[2019-01-18 13:18] magento-engcom-team commented on #20405
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-18 13:19] engcom-backlog-nazar commented on #20396
@maderlock But you don't set value for you text swatch to default store, how they can be shown? this is non issue.

[2019-01-18 13:19] magento-engcom-team commented on #20405
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-18 13:20] engcom-backlog-nazar commented on #20405
@routbiplab  I'm closing this issue as this is already fixed in the 2.3-develop branch in this pr https://github.com/magento/magento2/pull/18851 and will be in 2.3.1

[2019-01-18 13:20] #20405 closed, assigned to nobody

[2019-01-18 13:34] routbiplab commented on #20405
okay

[2019-01-18 14:23] maderlock commented on #20396
Please explain. This displayed entirely correctly until changing back to Dropdown. After I applied my fix the values remained. As far as I understand it there is no need to set a specific value per store.

I am happy to retest with values for the default store, but I am unimpressed at the abrupt closure of this issue.

[2019-01-18 14:30] maderlock commented on #20396
I have re-tested again with entering the values you describe. Problem still occurs as described.

Please follow all steps as described. It may be necessary to clear cache before viewing frontend the after changing attribute A.

[2019-01-18 14:31] maderlock commented on #20396
If you save the text attribute again, yes this will display correctly on the frontend as it will re-populate the eav_attribute_option_swatch table. But it should not be being emptied to start with.

[2019-01-18 14:33] maderlock commented on #20396
If you are uncertain that this is an issue, I recommend looking at the contents of the eav_attribute_option_swatch table before and after changing attribute A back to dropdown. You will notice that before there are values for two attributes, and afterwards there are values for none (rather than just for one).

[2019-01-18 14:39] Floddy opened #20409 "Magento\Catalog\Api\ProductRenderListInterface returns products regardless of visibility"
### Summary (*)
Magento\Catalog\Api\ProductRenderListInterface returns products regardless of visibility.
Reproduced in 2.2.7, but 2.3-develop has the same error in di.xml.

### Examples (*)
Hard to give an example, but here's some abuse of object manager ran in the magerun2 dev console.
* Find a product that is not visible invividually. In the snippet below, it's a product from the sample data (2

[2019-01-18 14:39] magento-engcom-team commented on #20409
Hi @Floddy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-01-18 14:40] magento-engcom-team commented on #20409
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-18 14:41] magento-engcom-team commented on #20409
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-18 14:46] engcom-backlog-nazar commented on #20396
@maderlock ok

[2019-01-18 14:49] milindsingh commented on #20409
@Floddy Thanks for pointing out such small issue. You can directly create PR for these type of issues. (I have created one this time).

[2019-01-18 14:58] magento-engcom-team commented on #20409
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-18 15:05] engcom-backlog-nazar commented on #20396
@maderlock sorry i'm little bit confused for later issue about it, now clearly and i'm able to reproduce this.
Best regards

[2019-01-18 15:06] magento-engcom-team commented on #20396
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97831`, `MAGETWO-97832` were created

[2019-01-18 15:11] magento-engcom-team commented on #20409
@milindsingh Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97833`, `MAGETWO-97834` were created

[2019-01-18 15:13] meshmarketing opened #20411 "Magento Marketplace Connect"
### Summary (*)

When i am trying to connect to magento marketplace it shows me this error
![screenshot 2019-01-18 at 8 42 01 pm](https://user-images.githubusercontent.com/46816116/51394996-b0976400-1b61-11e9-999c-9a512ce879c3.png)

[2019-01-18 15:13] magento-engcom-team commented on #20411
Hi @meshmarketing. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-18 15:14] magento-engcom-team commented on #20411
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-18 15:14] engcom-backlog-nazar commented on #20411
Hi @meshmarketing
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-18 15:14] #20411 closed, assigned to nobody

[2019-01-18 15:32] engcom-backlog-nazar commented on #20346
@mibu31 i think you need report here -> https://github.com/magento/data-migration-tool

[2019-01-18 16:01] Erchiragdodia commented on #13013
@radhikagarg03 please don't use abusive words

[2019-01-18 16:38] amenk commented on #18115
Did anybody here already work on making Magento allowing to change a field type (company in our case) to multiline and make it work across the frontend and API? We are wondering if it is better to implement this in the core and provide a pull request or make a own custom module.

Any feedback is appreciated.

*Sorry for the forum-like post*

[2019-01-18 16:48] magento-engcom-team commented on #17787
Hi @eduard13. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-01-18 17:15] Floddy commented on #16425
I stumbled upon this issue today, and I believe that there are multiple issues here. The referenced issue (#17254) is one issue, while categories is another issue.

The category issue as I see it is this:
https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/Model/Api/SearchCriteria/CollectionProcessor/FilterProcessor/ProductCategoryFilter.php#L33
that applies the category

[2019-01-18 17:19] sean-wcb commented on #14097
Not sure why this was closed. This is still an issue in 2.2.x

[2019-01-18 17:24] sivaschenko commented on #15963
Closing this issue as not a bug according to https://github.com/magento/magento2/issues/15963#issuecomment-455622746

[2019-01-18 17:24] #15963 closed, assigned to krnshah

[2019-01-18 17:27] irajneeshgupta opened #20413 "admin__control-fields class should not add in Frontend ( in checkout page )"
admin__control-fields class should not add in Frontend ( in checkout page )

### Preconditions (*)
1. Magento 2.3
2. php 7.2

### Steps to reproduce (*)

1.  Open frontend
2. Add any product in cart
3. Go to checkout and see shipping address form  > **Street Address** Label
4. And inspect html  here added **admin__control-fields** in fieldset
http://prntscr.com/m904ax

### Expected result (*)

###

[2019-01-18 17:27] magento-engcom-team commented on #20413
Hi @irajneeshgupta. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-18 17:27] magento-engcom-team commented on #20413
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-18 17:28] cedarvinda commented on #20413
@magento-engcom-team give me 2.3-develop instance

[2019-01-18 17:28] magento-engcom-team commented on #20413
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-18 17:29] magento-engcom-team commented on #20413
Hi @cedarvinda, here is your [Magento instance](https://i-20413-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20413-2-3-develop.instances.magento-community.engineering/admin](https://i-20413-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-18 17:30] magento-engcom-team commented on #20413
@cedarvinda Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97836` were created

[2019-01-18 18:06] irajneeshgupta opened #20414 "Recent orders grid not aligned from left in mobile as all content aligned from left"
**Recent orders** grid  not aligned from left in mobile as all content aligned from left

### Preconditions (*)

1. Magento 2.3

### Steps to reproduce (*)

1.  Open frontend
2. Login as customer and go to my account in mobile
3. see **Recent Orders** section

### Expected result (*)

![order_sol](https://user-images.githubusercontent.com/18143480/51404534-8b2a3c00-1b08-11e9-8924-bd0794b6c897.png)

[2019-01-18 18:06] magento-engcom-team commented on #20414
Hi @irajneeshgupta. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-18 18:06] magento-engcom-team commented on #20414
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-18 18:07] cedarvinda commented on #20414
@magento-engcom-team give me 2.3-develop instance

[2019-01-18 18:07] magento-engcom-team commented on #20414
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-18 18:07] magento-engcom-team commented on #20414
Hi @cedarvinda, here is your [Magento instance](https://i-20414-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20414-2-3-develop.instances.magento-community.engineering/admin](https://i-20414-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-18 18:08] magento-engcom-team commented on #20414
@cedarvinda Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97837` were created

[2019-01-18 18:48] ppostma1 commented on #20386
@engcom-backlog-nazar Except that when this is thrown, it has already been validated and nothing is missing. The exception the 400 is thrown on is not a missing argument or field, but the widest \Exception class, this blankest code errors, database transactions, and the exception is throw after the card is completely transacted, after the quote is converted to an order, but before the order is sav

[2019-01-18 19:36] alex4allofyou commented on #20034
Dependancy Check failed, did not warn.

You need InventoryCache, Catalog, CatalogAdminUI and CatalogSearch as well.

[2019-01-18 19:53] akbar-shah opened #20415 "Sign in popup on checkout even after user is logged in"
### Preconditions (*)

1.  Magento 2.3.0

### Steps to reproduce (*)

1.  User logs in to their account and adds products to cart
2.  Click Proceed to Checkout either in Cart page or from the minicart
3. Login/signin popup shows

### Expected result (*)

1. Should go to checkout screen

### Actual result (*)

1. Popup shows instructing user to log in. However the user is already logged in.

![imag

[2019-01-18 19:53] magento-engcom-team commented on #20415
Hi @asdf93034904. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-18 19:54] magento-engcom-team commented on #20415
Hi @cedarvinda. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-01-18 19:55] cedarvinda commented on #20415
@magento-engcom-team give me 2.3-develop instance

[2019-01-18 19:56] magento-engcom-team commented on #20415
Hi @cedarvinda. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-18 19:56] magento-engcom-team commented on #20415
Hi @cedarvinda, here is your [Magento instance](https://i-20415-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20415-2-3-develop.instances.magento-community.engineering/admin](https://i-20415-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-18 20:04] cedarvinda commented on #20415
@asdf93034904 Thankyou for reporting but it's not reproduce.

[2019-01-18 20:04] #20415 closed, assigned to cedarvinda

[2019-01-18 20:14] andyjv commented on #18248
So after some discussion with Magento support, I was able to upgrade 2.2.4 -> 2.2.7 with the following steps:
`composer.phar require magento/product-enterprise-edition 2.2.7 --no-update`
`composer.phar update`

Then update your database:
`update setup_module set schema_version='2.1.0', data_version='2.1.0' where module="Amazon_Core";
update setup_module set schema_version='2.1.0', data_version='2.

[2019-01-18 20:52] treestonemedia commented on #14054
Using the swagger interface we get the same issue. We cannot update a single attribute for a customer using the customer/customerId endpoint.
We **must** pass in the customer ID as well as email, name and first name.
This defeats the purpose of passing in the customer ID to the endpoint.

[2019-01-18 21:54] asdf93034904 commented on #20415
Would you have any idea why its happening? I disabled all of my modules and it still occurs.

[2019-01-18 22:40] magento-engcom-team commented on #20232
Hi @speedy008. Thank you for your report.
The issue has been fixed in magento/magento2#20328 by @GovindaSharma in 2.2-develop branch
Related commit(s):
 - [6c5cba75a855c7b395331a29026a37d94abe723b](https://github.com/magento/magento2/commit/6c5cba75a855c7b395331a29026a37d94abe723b)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-18 22:40] magento-engcom-team commented on #20158
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#20325 by @shikhamis11 in 2.2-develop branch
Related commit(s):
 - [f9a03d854be62438601eb214107a119807504a18](https://github.com/magento/magento2/commit/f9a03d854be62438601eb214107a119807504a18)
 - [82ad1cad7f76dcc72dee6d43caf95843096bb3e1](https://github.com/magento/magento2/commit/82ad1cad7f76dcc72dee6d43caf95

[2019-01-18 22:40] magento-engcom-team commented on #20352
Hi @maheshWebkul721. Thank you for your report.
The issue has been fixed in magento/magento2#20353 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [c0730dc827a417f09c42f96dacd6d1349dd7a565](https://github.com/magento/magento2/commit/c0730dc827a417f09c42f96dacd6d1349dd7a565)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-18 22:40] magento-engcom-team commented on #20098
Hi @flytomek. Thank you for your report.
The issue has been fixed in magento/magento2#20329 by @irajneeshgupta in 2.2-develop branch
Related commit(s):
 - [40f64f9f70be41d0191246cf9d647d20ee4812a4](https://github.com/magento/magento2/commit/40f64f9f70be41d0191246cf9d647d20ee4812a4)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-18 22:40] magento-engcom-team commented on #20296
Hi @p-bystritsky. Thank you for your report.
The issue has been fixed in magento/magento2#20298 by @p-bystritsky in 2.2-develop branch
Related commit(s):
 - [de64b09ef51d0d5d2ded8676ffc067dadd3c715d](https://github.com/magento/magento2/commit/de64b09ef51d0d5d2ded8676ffc067dadd3c715d)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-18 22:40] magento-engcom-team commented on #17819
Hi @OleksiiBulba. Thank you for your report.
The issue has been fixed in magento/magento2#20286 by @GovindaSharma in 2.2-develop branch
Related commit(s):
 - [0247fc371ac7461cd35b8571dbedaef5a0a30834](https://github.com/magento/magento2/commit/0247fc371ac7461cd35b8571dbedaef5a0a30834)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-18 22:40] #20296 closed, assigned to milindsingh, GovindaSharma

[2019-01-18 22:40] magento-engcom-team commented on #14937
Hi @sylvainraye. Thank you for your report.
The issue has been fixed in magento/magento2#20271 by @quisse in 2.2-develop branch
Related commit(s):
 - [7e3ea1b3313bc99e0f8c3ee458a96aee4b1bdedc](https://github.com/magento/magento2/commit/7e3ea1b3313bc99e0f8c3ee458a96aee4b1bdedc)
 - [f72fb4222a562a162b1ac36e9f79ea721124192a](https://github.com/magento/magento2/commit/f72fb4222a562a162b1ac36e9f79ea721

[2019-01-18 22:40] #14937 closed, assigned to quisse

[2019-01-18 22:40] magento-engcom-team commented on #18192
Hi @hardik-krish. Thank you for your report.
The issue has been fixed in magento/magento2#20183 by @saphaljha in 2.2-develop branch
Related commit(s):
 - [06443f99c0de046ac67f484709fe7be147b3e5df](https://github.com/magento/magento2/commit/06443f99c0de046ac67f484709fe7be147b3e5df)
 - [cb6ff7e15ae0488eda823194e2d931e200352a92](https://github.com/magento/magento2/commit/cb6ff7e15ae0488eda823194e2d93

[2019-01-18 22:40] magento-engcom-team commented on #16198
Hi @vincent2090311. Thank you for your report.
The issue has been fixed in magento/magento2#20178 by @p-bystritsky in 2.2-develop branch
Related commit(s):
 - [3b4581c25627735acb63aedec5d0acd234d8c98b](https://github.com/magento/magento2/commit/3b4581c25627735acb63aedec5d0acd234d8c98b)
 - [979e55290165d75d8675ba6bf5ab0923e3470539](https://github.com/magento/magento2/commit/979e55290165d75d8675ba6b

[2019-01-19 03:32] milindsingh commented on #15620
#20384

[2019-01-19 03:34] magento-engcom-team commented on #13207
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-19 03:50] mattsulony commented on #13207
Reproduced on 2.3.xReproduced on 2.3.x

[2019-01-19 06:09] vivekkumarcedcoss commented on #18115
@amenk & @escopecz you can review the PR #20371 , this issue was fixed in that PR.

[2019-01-19 06:55] magento-engcom-team commented on #20304
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20306 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [196ba8ef893ba4c0cfa31c9c1c6d0143d4274e17](https://github.com/magento/magento2/commit/196ba8ef893ba4c0cfa31c9c1c6d0143d4274e17)

The fix will be available with the upcoming 2.3.1 release.

[2019-01-19 06:55] magento-engcom-team commented on #20210
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20214 by @amol2jcommerce in 2.3-develop branch
Related commit(s):
 - [a0bfa97e97e09ba7d1d25b5bec28d276cfb3aa18](https://github.com/magento/magento2/commit/a0bfa97e97e09ba7d1d25b5bec28d276cfb3aa18)
 - [bbe41a20060aa878a65f30bd53c09cc3f784ec08](https://github.com/magento/magento2/commit/bbe41a20060aa878a65f30bd

[2019-01-19 06:55] #20304 closed, assigned to surabhisrivastava09

[2019-01-19 06:55] magento-engcom-team commented on #20240
Hi @saphaljha. Thank you for your report.
The issue has been fixed in magento/magento2#20241 by @niravkrish in 2.3-develop branch
Related commit(s):
 - [52130ac66561228a7a07fd41785940e0156e2286](https://github.com/magento/magento2/commit/52130ac66561228a7a07fd41785940e0156e2286)
 - [c1d987b1c437924a22b22fd48ca270742afa4991](https://github.com/magento/magento2/commit/c1d987b1c437924a22b22fd48ca2707

[2019-01-19 06:55] #20240 closed, assigned to niravkrish

[2019-01-19 06:55] magento-engcom-team commented on #20221
Hi @preeti-gupta123. Thank you for your report.
The issue has been fixed in magento/magento2#20224 by @nainesh2jcommerce in 2.3-develop branch
Related commit(s):
 - [16b480ff2cfc8de1e11110c6bee6f3050e256e52](https://github.com/magento/magento2/commit/16b480ff2cfc8de1e11110c6bee6f3050e256e52)
 - [e6a72f050439f884cb8499a4852041d1270c102a](https://github.com/magento/magento2/commit/e6a72f050439f884cb

[2019-01-19 06:55] #20221 closed, assigned to nainesh2jcommerce, GovindaSharma, cedarvinda

[2019-01-19 06:55] magento-engcom-team commented on #17926
Hi @allanpaiste. Thank you for your report.
The issue has been fixed in magento/magento2#19812 by @ravi-chandra3197 in 2.3-develop branch
Related commit(s):
 - [a06ae361ca5e88fa1a1726941438f9cf0e66589c](https://github.com/magento/magento2/commit/a06ae361ca5e88fa1a1726941438f9cf0e66589c)
 - [6e9ad7879ef0c2cb2324dae982c8d89ec1ec8ba5](https://github.com/magento/magento2/commit/6e9ad7879ef0c2cb2324dae

[2019-01-19 06:55] #17926 closed, assigned to ravi-chandra3197

[2019-01-19 06:55] magento-engcom-team commented on #20030
Hi @nthurston. Thank you for your report.
The issue has been fixed in magento/magento2#20130 by @shikhamis11 in 2.3-develop branch
Related commit(s):
 - [53d861a9a4f429cb5971d65316dd00fa3a79ed7e](https://github.com/magento/magento2/commit/53d861a9a4f429cb5971d65316dd00fa3a79ed7e)
 - [1c464c2e7720dacf69b12249663a0b77603c18c5](https://github.com/magento/magento2/commit/1c464c2e7720dacf69b12249663a0b

[2019-01-19 06:55] #20030 closed, assigned to nobody

[2019-01-19 06:55] magento-engcom-team commented on #19371
Hi @suryakant-krish. Thank you for your report.
The issue has been fixed in magento/magento2#19414 by @suryakant-krish in 2.3-develop branch
Related commit(s):
 - [77fa7042941849ea40632b6704fd2d043ec59da1](https://github.com/magento/magento2/commit/77fa7042941849ea40632b6704fd2d043ec59da1)
 - [976d80c533f59099a730902389721ca424037000](https://github.com/magento/magento2/commit/976d80c533f59099a730

[2019-01-19 06:55] magento-engcom-team commented on #19292
Hi @webkul-shruti. Thank you for your report.
The issue has been fixed in magento/magento2#19305 by @webkul-ratnesh in 2.3-develop branch
Related commit(s):
 - [23e6250046ad8d54d732643ad4c7c881818f44c9](https://github.com/magento/magento2/commit/23e6250046ad8d54d732643ad4c7c881818f44c9)
 - [3ebcc33bb57a15d0f7e6e5382fad4e28abf302fb](https://github.com/magento/magento2/commit/3ebcc33bb57a15d0f7e6e53

[2019-01-19 06:55] #19371 closed, assigned to suryakant-krish

[2019-01-19 06:55] magento-engcom-team commented on #4154
Hi @stasleo. Thank you for your report.
The issue has been fixed in magento/magento2#19007 by @vasilii-b in 2.3-develop branch
Related commit(s):
 - [c91649a8ef2e7f9d50aedead338537afd7b89401](https://github.com/magento/magento2/commit/c91649a8ef2e7f9d50aedead338537afd7b89401)
 - [c1d0f31d6be809083f2dc31a73ea52eae1f740b8](https://github.com/magento/magento2/commit/c1d0f31d6be809083f2dc31a73ea52eae1

[2019-01-19 06:55] #19292 closed, assigned to webkul-ratnesh

[2019-01-19 06:55] #4154 closed, assigned to nobody

[2019-01-19 07:33] magento-engcom-team commented on #8086
Hi @vivekkumarcedcoss. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><s

[2019-01-19 07:55] magento-engcom-team commented on #20366
Hi @Nazar65. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-01-19 09:32] prakashsaran commented on #4454
i have a idea we can do this following way
app/design/frontend/<your_vendor_name>/<your_theme_name>/Magento_Catalog/layout/catalog_category_view_id_<your category id here>.xml
in this xml file put your code
for Exp.

<?xml version="1.0"?>
<page
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">

[2019-01-19 12:49] hostep commented on #20396
Thanks for the detailed research @maderlock, I can reproduce and your suggested change fixes it. I've created a PR over here: https://github.com/magento/magento2/pull/20421

[2019-01-19 12:55] meshmarketing opened #20422 "Mail Sending from Default Server"
### Summary (*)
I Have magento 2.2.7 version. I updated all the email setting in Configuration but still all the mail is sent through the server's mail address.

Please check this Issue.

### Proposed solution
I searched on github and found that after disabling amazon modules it will work. But i already disabled all the amazon modules and still having the same problems.

[2019-01-19 12:56] magento-engcom-team commented on #20422
Hi @meshmarketing. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-19 13:36] milindsingh commented on #20422
Hi @meshmarketing
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

(Note: your `sendmail` is not set up, which results in failure in sending mails)

[2019-01-19 13:36] #20422 closed, assigned to nobody

[2019-01-19 14:05] hostep commented on #20422
@meshmarketing: this sounds like a duplicate of #14952

There is a fix in the works in: #18472 for Magento 2.2.x.
For Magento 2.3.x, this fix was recently approved: #18471

[2019-01-19 23:41] Nazar65 commented on #19786
Hi @Yuwei9291 @allozaur I'm working on this

[2019-01-20 10:47] volanar commented on #12124
Magento 2don't  run on a MySQL installation with binary logging enabled.

[2019-01-20 13:46] jigar48 commented on #6682
any update on this ?

[2019-01-21 04:42] magento-engcom-team commented on #20414
Hi @speedy008. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-21 05:18] magento-engcom-team commented on #20398
Hi @hiren0241. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-21 05:19] hiren0241 commented on #20398
@magento-engcom-team give me 2.3-develop instance

[2019-01-21 05:19] magento-engcom-team commented on #20398
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-21 05:19] magento-engcom-team commented on #20398
Hi @hiren0241, here is your [Magento instance](https://i-20398-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20398-2-3-develop.instances.magento-community.engineering/admin](https://i-20398-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-21 05:49] hiren0241 commented on #20398
Hi @bhagyashree2jcommerce , I have gone through this issue and I have found that category data is not excluded only. If you select description and short description attribute for exclusion then data of that fields became blank. Whereas category data is still present. Issue has been reproduce on magento2 instance and local 2.3 instance as well.

[2019-01-21 06:56] ma7modtaweelz opened #20426 "Magento2 search by image"
i want to implement a functionality in my magento site to search product by "Search by image".
if anyone knows kindly share your important findings with me.
thanks in advance.

[2019-01-21 06:56] magento-engcom-team commented on #20426
Hi @ma7modtaweelz. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-21 07:00] magento-engcom-team commented on #20426
Hi @vasilii-b. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-21 07:03] vasilii-b commented on #20426
Hi @ma7modtaweelz thank you for visiting Magento's "Issues" sections.
Unfortunately, your question is not relevant to this page, as it collects known Magento core issues/bugs. What you want to achieve is not related to any core functionality.
Please, ask this kind of questions on other platforms, such as Stackoverflow - your question is better suitable for that.

Thank you!

[2019-01-21 07:03] #20426 closed, assigned to vasilii-b

[2019-01-21 07:36] faizan2jcommerce opened #20427 "Shipping method title overlapping on edit icon in mobile view on Checkout page"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. Add product in cart.
2. Go to checkout page in mobile view.
3. Go to Review & Payments tab.
4. Click on Cart icon in Mobile view.
4. See "Shipping Method:"

### Expected result (*)

1.
![expected](https://user-images.githubusercontent.com/26218116/51458919-cf257700-1d7c-11e9-8a27-26f174f7db79.png)

### Actual result (*)

1.
![actual](

[2019-01-21 07:36] magento-engcom-team commented on #20427
Hi @faizan2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-01-21 07:38] magento-engcom-team commented on #20427
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-21 07:38] magento-engcom-team commented on #13736
Hi @vasilii-b. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-21 07:40] vasilii-b commented on #13736
Hi @magefast ,
Unfortunately I wasn't able to reproduce the issue on the `2.3-develop` branch. Can you please re-check if issue still exists and reopen it if so ?
Thank you!

[2019-01-21 07:40] #13736 closed, assigned to nobody

[2019-01-21 07:43] XxXgeoXxX commented on #18819
@uandiweb
look  like you have problem  https://github.com/magento/magento2/issues/12240
Please, try a solution from attached issue.

[2019-01-21 07:50] magento-engcom-team commented on #20427
Hi @yashwant2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><

[2019-01-21 07:57] magento-engcom-team commented on #20414
Hi @nainesh2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><s

[2019-01-21 08:43] magento-engcom-team commented on #13864
Hi @XxXgeoXxX. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-01-21 09:09] xi-ao opened #20430 "Variable-length argument lists are not supported by Interceptor generation"
### Preconditions (*)

On Magento 2.0/2.1/2.2.
1. Create an interceptable class, for example `\Foo\Bar\Controller\Index` (extending `\Magento\Framework\App\Action\Action`)
2. Add a method using the [_variable-length argument list_](http://php.net/manual/en/functions.arguments.php#functions.variable-arg-list) notation:
[code]

### Steps to reproduce (*)

1. Access this controller to trigger the gen

[2019-01-21 09:09] magento-engcom-team commented on #20430
Hi @xi-ao. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-01-21 09:10] magento-engcom-team commented on #20430
Hi @LuciferStrome. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-21 09:11] LuciferStrome commented on #20430
@magento-engcom-team give me 2.3-develop instance

[2019-01-21 09:11] magento-engcom-team commented on #20430
Hi @LuciferStrome. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-21 09:16] engcom-backlog-nazar commented on #20430
Hi @xi-ao    thank you for you report, It will be processed faster if you move this to https://github.com/magento/community-features

[2019-01-21 09:16] #20430 closed, assigned to LuciferStrome

[2019-01-21 09:24] #12864 closed, assigned to nobody

[2019-01-21 09:36] thompalstra opened #20432 "Catalog price rule treeview not selecting children from depth 5"
In the catalog price rule overview, where the tree view widget is displayed, users cannot see which categories they have selected, if that category is loaded in via ajax (depth 5 and more).

### Preconditions (*)
1. Magento version 2.2.6
2. Magento_Catalog/js/catagory-checkbox-tree.js

### Steps to reproduce (*)
1. Select any child node from depth 5 and higher. These will not be selected within th

[2019-01-21 09:38] magento-engcom-team commented on #20432
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-21 09:39] magento-engcom-team commented on #20432
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-21 09:40] engcom-backlog-nazar commented on #20432
hi @thompalstra thank you for you report, this issue has already fixed in 2.3-dev branch -> https://github.com/magento/magento2/pull/18500

[2019-01-21 09:40] #20432 closed, assigned to surabhisrivastava09

[2019-01-21 09:50] NiteshKuyate commented on #20393
@engcom-backlog-nazar

After filling shipment details.

[2019-01-21 09:58] xi-ao commented on #20430
Nice, thanks! :+1:

[2019-01-21 10:06] farancheema commented on #8755
Im facing the same problem, any update about this issue??

[2019-01-21 10:26] laurentplenet opened #20434 "Product URL duplicate when changing visibility via mass action"
### Preconditions (*)
This is about the Magento 2.2.6 version. Tried on a fresh magento 2 installation, and others 2.2.6 used on production mode.

### Steps to reproduce (*)
**Step 1**. Create a product with the following URL (or any of your choice) : « mon-produit-de-test » - Visible product (catalog, search)
**Step 2**. Create a second product with the exact same values and URL « mon-produit-de-

[2019-01-21 10:54] digvijay2017 commented on #8970
How can close this issue, even this issue already existing in magento 2.2.6.

[2019-01-21 11:14] rauberdaniel opened #20435 "Magento 2.3: Password Reset Email not being sent: SMTPUTF8"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2
3. Postfix
4. Ubuntu 18.04.1

### Steps to reproduce (*)

1. Configure Postfix to be able to send the Magento emails
2. Create a new user -> receive account creation mail on user address
3. "Forgot Password" in Magento, to try and reset the password

### Expected result (*)

1. Email should be sent properly and customer should receive reset email

[2019-01-21 11:14] magento-engcom-team commented on #20435
Hi @rauberdaniel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-21 11:16] magento-engcom-team commented on #20435
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [x] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-21 11:54] cxperts opened #20437 "upload image in size chart section"
Hi,

I have issue with my magento 2 size chart issue to upload images in this section to face the problem could you please help me out to this issue.

also the admin panel top side other issue  ( One or more indexers are invalid. Make sure your Magento cron job is running. ) also continue show as my admin panel to need to fix this problem.

Regards

### Description (*)

### Expected behavior (*)

[2019-01-21 11:54] magento-engcom-team commented on #20437
Hi @cxperts. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-21 11:56] magento-engcom-team commented on #20437
Hi @LuciferStrome. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-21 11:56] LuciferStrome commented on #20437
@magento-engcom-team give me 2.3-develop instance

[2019-01-21 11:56] magento-engcom-team commented on #20437
Hi @LuciferStrome. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-21 11:57] magento-engcom-team commented on #20437
Hi @LuciferStrome, here is your [Magento instance](https://i-20437-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20437-2-3-develop.instances.magento-community.engineering/admin](https://i-20437-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-21 12:06] magento-engcom-team commented on #20437
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-21 12:07] engcom-backlog-nazar commented on #20437
Hi @cxperts
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-21 12:07] #20437 closed, assigned to LuciferStrome

[2019-01-21 12:33] nareshjiva opened #20440 "Unable to create order with configurable product using salesOrderRepositoryV1 rest api"
HI Team
### Preconditions (*)

1.Magento 2.3.0

### Steps to reproduce (*)

1. Install Magento with sample Data
2. Place order using rest for configrble product

### Expected result (*)

1. order has to be placed for child along with custom options
https://www.screencast.com/t/CC8k0GD8H07

### Actual result (*)

1. it's not displaying selected options in line item
2. https://www.screencast.com/t/n

[2019-01-21 12:33] magento-engcom-team commented on #20440
Hi @nareshjiva. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-21 12:34] magento-engcom-team commented on #20440
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-21 12:42] duckchip commented on #11998
@magento-engcom-team Any news on this issue?

[2019-01-21 12:50] engcom-backlog-nazar commented on #20440
Hi @nareshjiva i'm not able to reproduce following steps you described i'm using this payload ->
[code]

[2019-01-21 12:51] engcom-backlog-nazar commented on #20440
@nareshjiva
![selection_283](https://user-images.githubusercontent.com/40756439/51475774-1404da00-1d8c-11e9-9515-912eb658c06f.png)
![selection_282](https://user-images.githubusercontent.com/40756439/51475775-1404da00-1d8c-11e9-9559-9a7350e22237.png)

[2019-01-21 12:57] magento-engcom-team commented on #20427
Hi @amol2jcommerce. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-01-21 12:58] magento-engcom-team commented on #20434
Hi @VitaliyBoyko. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2019-01-21 12:59] sanjivk570 opened #20442 "How to create custom pagination on category page"
Hi, How to create custom pagination on category page.

I want create custom pagination on c ategory page to the RIGHT of the "Sort By" drop-down menu.

Please Help me.

[2019-01-21 13:00] magento-engcom-team commented on #20442
Hi @sanjivk570. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-21 13:11] priti2jcommerce opened #20444 "Customer Information reward points notifications missaligned"
### Preconditions (*)

1. 2.3.0
2.

### Steps to reproduce (*)

1. Go to admin >> Customer >>All customer
2. Edit
3. click on Reward Points

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/18118695/51476650-242cb180-1dac-11e9-9697-413c535945d1.png)

2.

### Actual result (*)

1. ![image](https://user-images.githubusercontent.com/18118695/51476609-01020200-1dac-11e9-8

[2019-01-21 13:12] magento-engcom-team commented on #20444
Hi @priti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-21 13:12] magento-engcom-team commented on #20442
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-21 13:12] priti2jcommerce commented on #20444
@magento-engcom-team give me $VERSION instance

[2019-01-21 13:12] engcom-backlog-nazar commented on #20442
Hi @sanjivk570
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-21 13:12] #20442 closed, assigned to nobody

[2019-01-21 13:12] magento-engcom-team commented on #20444
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-21 13:20] priti2jcommerce commented on #20444
@magento-engcom-team give me 2.3-develop  instance

[2019-01-21 13:20] magento-engcom-team commented on #20444
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop  instance for you

[2019-01-21 13:36] irajneeshgupta commented on #20398
@bhagyashree2jcommerce @hiren0241 @engcom-backlog-nazar
I think , the `category_ids` is intentionally not excluded as `sku`.

Note: But It should also be not present in the attributes to be excluded.

[2019-01-21 13:36] magento-engcom-team commented on #20440
@engcom-backlog-nazar Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97853` were created

[2019-01-21 13:38] dipti2jcommerce opened #20445 "In Admin when click on REPORTS block in tablet view,fourth column is not proper it is cutting"
In Admin when click on REPORTS block in tablet view,fourth column is not  proper it is cutting

### Preconditions (*)

1.Magento version 2.3
2.Tablet view

### Steps to reproduce (*)

1.Go to admin click on REPORTS from left menu in tablet view
2.fourth column is not proper

### Expected result (*)
![2019-01-21_19-07_dashboard - magento admin](https://user-images.githubusercontent.com/18118638/514

[2019-01-21 13:38] magento-engcom-team commented on #20445
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-21 13:40] magento-engcom-team commented on #20445
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-21 13:41] nainesh2jcommerce commented on #20445
Hi @magento-engcom-team,

[2019-01-21 13:42] milindsingh commented on #20445
Hi @dipti2jcommerce I think the `Magento Admin` is currently not responsive or device friendly rather than desktop.

[2019-01-21 13:43] engcom-backlog-nazar commented on #20445
@milindsingh this already fixed, give 5 minutes

[2019-01-21 13:46] engcom-backlog-nazar commented on #20445
@dipti2jcommerce this is duplicate to this -> https://github.com/magento/magento2/issues/18687 :)

[2019-01-21 13:46] #20445 closed, assigned to nobody

[2019-01-21 13:47] engcom-backlog-nazar commented on #20445
@dipti2jcommerce but PR was closed https://github.com/magento/magento2/pull/19560

[2019-01-21 14:06] engcom-backlog-nazar commented on #20435
Hi @rauberdaniel thank you for you report, i'm not able to reproduce following steps you described,
![selection_284](https://user-images.githubusercontent.com/40756439/51479281-7d89e600-1d96-11e9-8875-7bc340da244a.png)
![selection_285](https://user-images.githubusercontent.com/40756439/51479303-88dd1180-1d96-11e9-8760-6b331befa00b.png)

[2019-01-21 14:06] #20435 closed, assigned to nobody

[2019-01-21 14:12] magento-engcom-team commented on #20440
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-01-21 14:46] rauberdaniel commented on #20435
@engcom-backlog-nazar Interesting. I just figured out that when I disable smtputf8 on the local postfix (it is enabled by default) the issue disappears. Apparently the local postfix tries to encode the mail as utf8 which then fails on the AWS SMTP server. I haven’t yet figured out why this only happens for some emails though. Thank you for your help and sorry for filing this issue.

For reference:

[2019-01-21 14:47] lbsilva16 opened #20448 "Error log record number: 1103782209453"
Hi! I installed Magento in a Linux server with lamp. I have it installed and configured, but when I try to add produts, but there is an error "Error log record number: 1103782209453".

Magento version dev-2.3-develop. I took this version from Git.

Can you help me, please?

[2019-01-21 14:47] magento-engcom-team commented on #20448
Hi @lbsilva16. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-21 14:48] magento-engcom-team commented on #20448
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-21 14:49] engcom-backlog-nazar commented on #20448
Hi @lbsilva16
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-21 14:49] #20448 closed, assigned to nobody

[2019-01-21 15:17] twosg opened #20449 "Database Rollback not working M2.3.0"
### Preconditions (*)

1. Magento 2.3.0
2. Debian 9, MariaDB 10.1.37
3. PHP 7.2.14

### Steps to reproduce (*)

1. `bin/magento setup:backup --db`
2. `bin/magento setup:rollback --db-file=1548082389_db.sql -n`

### Expected result (*)

1. Rollback completes without errors

### Actual result (*)

1. Rollback aborts with errors:

[code]

I guess that may be because of references to foreign tables wh

[2019-01-21 15:17] magento-engcom-team commented on #20449
Hi @twosg. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-01-21 15:18] ermst4r opened #20450 "Updated at field not updated when the stock is decremented"
### Preconditions (*)

Magento version 2.*
1. Products are in the catalog
2.  Products are on stock
3. Order has been placed

### Steps to reproduce (*)

1. Place an order
2. Decrement the stock
3. The updated at field from the product is not being updated

### Expected result (*)

1. The product should have the latest updated at field when a stock is decremented, because the products / stock is b

[2019-01-21 15:18] magento-engcom-team commented on #20450
Hi @ermst4r. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2019-01-21 15:19] magento-engcom-team commented on #20449
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-21 15:19] magento-engcom-team commented on #20450
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-21 15:21] engcom-backlog-nazar commented on #20449
Hi @twosg thank you for you report, please open issue here -> https://github.com/magento-engcom/msi

[2019-01-21 15:21] #20449 closed, assigned to nobody

[2019-01-21 17:18] allozaur commented on #19786
@Nazar65 great to hear that! Do you have any time estimate for this issue to be closed?

[2019-01-21 17:40] magento-engcom-team commented on #19609
Hi @kassner. Thank you for your report.
The issue has been fixed in magento/magento2#20322 by @maheshWebkul721 in 2.2-develop branch
Related commit(s):
 - [c72cbfc878925fb122b14df7c7aedae7f2cb5728](https://github.com/magento/magento2/commit/c72cbfc878925fb122b14df7c7aedae7f2cb5728)
 - [816be4b43af11f49aa345f4f92eb31e81a559b5a](https://github.com/magento/magento2/commit/816be4b43af11f49aa345f4f92eb

[2019-01-21 17:40] magento-engcom-team commented on #9130
Hi @popoviciandrei. Thank you for your report.
The issue has been fixed in magento/magento2#20206 by @saphaljha in 2.2-develop branch
Related commit(s):
 - [2b88353cf0cd24da027d90f55c2e1c86e88033b7](https://github.com/magento/magento2/commit/2b88353cf0cd24da027d90f55c2e1c86e88033b7)
 - [304e7e8dfbe3676769b42c6cf90755dadf00830b](https://github.com/magento/magento2/commit/304e7e8dfbe3676769b42c6cf90

[2019-01-21 17:40] magento-engcom-team commented on #18170
Hi @ihor-sviziev. Thank you for your report.
The issue has been fixed in magento/magento2#19964 by @dmytro-ch in 2.2-develop branch
Related commit(s):
 - [317c02a344dac510619013a68eca167a5fd384b2](https://github.com/magento/magento2/commit/317c02a344dac510619013a68eca167a5fd384b2)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-21 17:40] magento-engcom-team commented on #19982
Hi @vincent2090311. Thank you for your report.
The issue has been fixed in magento/magento2#19984 by @dmytro-ch in 2.2-develop branch
Related commit(s):
 - [089c660a826808545fb3fe9384bca7dd64c90fa7](https://github.com/magento/magento2/commit/089c660a826808545fb3fe9384bca7dd64c90fa7)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-21 17:55] plastikschnitzer commented on #12273
Will the 2.2.x branch become compatible to PHP7.2? Yes I know Magento2.3 is available but 90% of the plugins I need are not compatible. So what to do? PHP7.1 reaches its EOL in about 11 months and this is the only way to step on to run a proper (Magento2 without plugins is not what I consider as proper) webshop?!

[2019-01-21 18:09] MichaelThessel commented on #20356
I had looked at #6367 before. I believe this is not related to that. This particular issue deals with @import statements. I do not have any @import statements. If this would actually be the same issue then that would mean that Grunt handling of custom child themes has been broken since 2016 which I would assume would have caused more of a stir.

I'm a bit at a loss here. I think the Grunt workflow

[2019-01-21 18:10] MichaelThessel commented on #20356
Unless you can confirm for certain that this is covered by #6367 could you please re-open this ticket for visibility?

[2019-01-21 18:53] arnoudhgz commented on #20450
@magento-engcom-team give me 2.2.7 instance

[2019-01-21 18:53] magento-engcom-team commented on #20450
Hi @arnoudhgz. Thank you for your request. I'm working on Magento 2.2.7 instance for you

[2019-01-21 18:53] magento-engcom-team commented on #20450
Hi @arnoudhgz, here is your [Magento instance](https://i-20450-2-2-7.instances.magento-community.engineering).
Admin access: [https://i-20450-2-2-7.instances.magento-community.engineering/admin](https://i-20450-2-2-7.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-21 19:10] magento-engcom-team commented on #20376
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-01-21 19:32] MichaelThessel opened #20451 "Notice: Undefined variable: profilerKey"
### Preconditions (*)

1. Magento v2.3.0

### Steps to reproduce (*)

1. Install v.2.3.0

### Expected result (*)

1. Page renders correctly

### Actual result (*)

1. I'm getting a notice due to an undefined variable

[code]

The problem is that the dispatch method in vendor/magento/framework/App/Action/Action.php has 2 calls to the profiler (line 102 and 123). These calls use the variable `$prof

[2019-01-21 19:32] magento-engcom-team commented on #20451
Hi @MichaelThessel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-01-21 19:40] magento-engcom-team commented on #20310
Hi @routbiplab. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-01-21 19:48] magento-engcom-team commented on #20121
Hi @routbiplab. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>

[2019-01-21 19:52] magento-engcom-team commented on #20451
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-21 21:35] GuiltyNL commented on #12273
I have to say I'm worried about the direction of Magento under the supervision of Adobe.

Supporting PHP7.2 should be top priority, but nobody seems to care less. Instead of improving core stability, Magento introduces doubtful features that sometimes seem to be sponsored too.

And like @plastikschnitzer says, Magento 2.3 is just a no-go for the coming year. 60% of our plugins does not support 2.3

[2019-01-21 22:09] sezio commented on #19728
Hi @steffen-wirth
I think this current issue is not related to your problem. This issue is only related to the translation in the order confrmation email.

But if you have any problem with the js-translation file on the frontend (not in the emails), I posted a message here in #18519 : https://github.com/magento/magento2/issues/18519#issuecomment-431087337 explaining that the problem (for me), happ

[2019-01-22 00:21] Ctucker9233 commented on #18243
Not fixed as of 2.2.7.

[2019-01-22 05:37] priti2jcommerce commented on #20444
hi @irajneeshgupta ,

Thanks for the update, I have created pull request for the changes. because the common file used for the community and enterprise.

[2019-01-22 05:43] shikhamis11 commented on #20451
@MichaelThessel this issue seems not present in current magento 2.3 develop code base.
as I can see the variable is already defined at corresponding path
![screenshot_2019-01-22_11-13-00](https://user-images.githubusercontent.com/25526037/51514672-bf6a6900-1e36-11e9-853e-7648dd862198.png)

[2019-01-22 05:43] #20451 closed, assigned to shikhamis11

[2019-01-22 05:56] faizan2jcommerce opened #20452 "Add new Tax Rules (Calculate Off Subtotal Only) checkbox missaligned"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. Go to Admin => Stores > Taxes > Tax Rules
2. Click on Add New Tax Rule
3. Check Additional Settings
4. check Calculate Off Subtotal Only checkbox

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/26218116/51515079-54219680-1e38-11e9-945d-db4b88a0f731.png)

### Actual result (*)

1.
![image](https://user-i

[2019-01-22 05:56] magento-engcom-team commented on #20452
Hi @faizan2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-01-22 05:57] magento-engcom-team commented on #20452
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-22 05:58] amol2jcommerce commented on #20452
@magento-engcom-team give me 2.3-develop instance

[2019-01-22 05:58] magento-engcom-team commented on #20452
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-22 05:59] magento-engcom-team commented on #20452
Hi @amol2jcommerce, here is your [Magento instance](https://i-20452-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20452-2-3-develop.instances.magento-community.engineering/admin](https://i-20452-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-22 06:07] magento-engcom-team commented on #20452
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-22 06:08] amol2jcommerce commented on #20452
Hi @faizan2jcommerce

This issue is not reproduced in 2.3-develop

[2019-01-22 06:08] #20452 closed, assigned to amol2jcommerce

[2019-01-22 06:19] j-robin-hunter commented on #19742
I also have this problem and on version 2.3. I can confirm that the two line change above to widget.js does appear to populate the page content editor but it is with the HTML rather than a widget icon. Also, while the population of the page content sort of functions the actual widget is not saved as expected and all of the editor contents are essentially destroyed. This fix also appears to prevent

[2019-01-22 07:50] terrybakshi opened #20454 "Paypal Express checkout"
### Preconditions (*)

1. Magento 2.2.5

### Steps to reproduce (*)

1. Add product to cart and go to checkout page fill all your details click next to payment page
2. Choose payment method as paypal checkout.
3. Click continue then paypal window will load and disappears
4. Click back to home page and cart gets empty, by itself

### Expected result (*)

1. Paypal express checkout window should pop

[2019-01-22 07:50] magento-engcom-team commented on #20454
Hi @terrybakshi. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-22 07:51] magento-engcom-team commented on #20454
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-22 07:51] terrybakshi commented on #20454
My website is www.toydeals.com.au

[2019-01-22 07:54] magento-engcom-team commented on #20454
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-22 07:55] engcom-backlog-nazar commented on #20454
HI @terrybakshi thank you for you report, i'm not able to reproduce following steps you described, on clean magento instance, seems like this related to you custom themes or modules.

[2019-01-22 07:55] #20454 closed, assigned to nobody

[2019-01-22 07:57] engcom-backlog-nazar commented on #20450
Hi @ermst4r thank you for you report, this is expected behavior, this value updates only if you update the product.

[2019-01-22 07:57] #20450 closed, assigned to nobody

[2019-01-22 08:03] engcom-backlog-nazar commented on #18243
@Ctucker9233 this fix will be available on 2.2.8 release and 2.3.1 release

[2019-01-22 08:03] #18243 closed, assigned to nobody

[2019-01-22 08:04] engcom-backlog-nazar commented on #18243
@Ctucker9233 https://github.com/magento/magento2/pull/18322

[2019-01-22 08:09] tecjam commented on #13962
I'm seeing this issue on 2.2.3. Any fix for this?

[2019-01-22 08:52] renttek commented on #12273
@GuiltyNL I don't think, that the changes will or can be backported to 2.2.

If some Plugin/Module vendors can't upgrade their modules in time, then maybe you can reimplement them yourself with 2.3 support?
That may take some time, but as @plastikschnitzer already said "PHP7.1 reaches its EOL in about 11 months", wich also means, that there are about 11 Months left to maybe upgrade.

Also as it's

[2019-01-22 08:53] terrybakshi commented on #20454
how can that be possible as we haven't made any changes or installed any new modules at all, Strange thing is when you go to cart page and try to checkout via paypal express it works, and when you go through checkout page it sometimes works and sometimes doesn't

[2019-01-22 09:13] molovo commented on #19742
@j-robin-hunter I believe the fix posted above was for an older version than 2.3 (possibly 2.2 but I haven't confirmed this). I've [submitted a PR](https://github.com/magento/magento2/pull/20174) containing the fixes, but to the 2.3 version of this file, which works correctly, and doesn't produce the issues you've described above.

[2019-01-22 09:20] magento-engcom-team commented on #19805
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-22 09:31] pratikwagento commented on #19597
Someone found solution for this issue.

[2019-01-22 09:43] arendarenko opened #20460 "Magento_Search/form-mini.min.js is not found"
After update to v2.2.7, I faced with such error: file {HOSTNAME}/static/version{NUMBER}/frontend/{VENDOR/}{THEME}/en_US/Magento_Search/form-mini.min.js is not found.

However, mini search is working, and I see similar file which is succesfully loaded, but it's path is: {HOSTNAME}/static/version{NUMBER}/frontend/{VENDOR}/{THEME}/en_US/Magento_Search/js/form-mini.min.js

### Preconditions (*)

1. Ma

[2019-01-22 09:43] magento-engcom-team commented on #20460
Hi @alexeya-ven. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-22 09:44] magento-engcom-team commented on #20460
Hi @LuciferStrome. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-22 09:48] hiren0241 commented on #20460
@magento-engcom-team give me 2.3-develop instance

[2019-01-22 09:48] magento-engcom-team commented on #20460
Hi @hiren0241. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-22 09:49] magento-engcom-team commented on #20460
Hi @hiren0241, here is your [Magento instance](https://i-20460-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20460-2-3-develop.instances.magento-community.engineering/admin](https://i-20460-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-22 09:53] raulsinapsis commented on #20148
Any updates with this?

[2019-01-22 09:56] VitaliyBoyko commented on #20434
During an investigation of the issue, I've found out that the observer (event `catalog_product_save_after`) app/code/Magento/CatalogUrlRewrite/Observer/ProductProcessUrlRewriteSavingObserver.php:58 is responsible for the processing and validating URL rewrite.
The mentioned observer checks the value of `isVisibleInSiteVisibility` attribute (see line 68), if the value is positive, a URL rewrite bein

[2019-01-22 10:02] laurentplenet commented on #20434
I've read the entire process you explain up here and agree with this, but How to process ? @VitaliyBoyko

[2019-01-22 10:21] engcom-backlog-nazar commented on #20460
Hi @alexeya-ven I'm not able to reproduce following steps you described.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-22 10:21] #20460 closed, assigned to LuciferStrome

[2019-01-22 10:23] vaggelis2018 opened #20462 "Index with elasticsearch bug. [Issue: Clear Description]"
### Preconditions (*)
1. Magento Version 2.3
2. Elasticsearch 5.6

### Steps to reproduce (*)
1. Created a product only with required fields
2. run bin/magento indexer:reindex in console

### Expected result (*)
1. Index data with elasticsearch

### Actual result (*)
1. It throws an error the error below
Design Config Grid index has been rebuilt successfully in 00:00:02
Customer Grid index has bee

[2019-01-22 10:24] magento-engcom-team commented on #20462
Hi @vaggelis2018. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-22 10:32] vaggelis2018 commented on #20462
It is not possible to test it because my elasticsearch server is local.

[2019-01-22 10:39] amol2jcommerce commented on #20462
Hi @vaggelis2018

I'm not able to reproduce 2.3. The GitHub issue tracker is intended for Magento Core technical issues only.

[2019-01-22 10:45] nainesh2jcommerce opened #20463 "On order sumary view details label misalign on tablet"
### Preconditions (*)

1. 2.3.x
2.

### Steps to reproduce (*)

1. Add configurable product to cart
2. and check view details label on order summary

### Expected result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/51530350-bee6c800-1e60-11e9-82ee-deba18c2385b.png)

2.

### Actual result (*)

1.
![image](https://user-images.githubusercontent.com/18118539/51530300-a37bbd00-1e

[2019-01-22 10:45] magento-engcom-team commented on #20463
Hi @nainesh2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla M

[2019-01-22 10:46] magento-engcom-team commented on #20463
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-22 10:46] magento-engcom-team commented on #20463
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-22 10:46] magento-engcom-team commented on #20463
Hi @irajneeshgupta. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-22 10:46] magento-engcom-team commented on #20463
Hi @priti2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-22 10:48] amol2jcommerce commented on #20463
@magento-engcom-team give me 2.3-develop instance

[2019-01-22 10:48] magento-engcom-team commented on #20463
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-22 10:49] magento-engcom-team commented on #20463
@irajneeshgupta Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-97859` were created

[2019-01-22 10:49] magento-engcom-team commented on #20463
Hi @amol2jcommerce, here is your [Magento instance](https://i-20463-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20463-2-3-develop.instances.magento-community.engineering/admin](https://i-20463-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-22 10:51] magento-engcom-team commented on #20463
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-22 11:00] vaggelis2018 commented on #20462
@engcom-backlog-nazar note that is a vamilla magento install

[2019-01-22 11:11] Nazar65 commented on #19786
@allozaur I'm finally found the problem, this is very simple fix :)