[2019-01-31 07:55] magento-engcom-team commented on #20831
Hi @mehmetselim. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-31 07:56] priti2jcommerce commented on #20830
Hi
issue reproduce on my local
![image](https://user-images.githubusercontent.com/18118695/52039931-dce8b280-255b-11e9-8a5f-3eeea4883fea.png)

[2019-01-31 07:57] magento-engcom-team commented on #20830
:white_check_mark: Confirmed by @priti2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 07:57] magento-engcom-team commented on #20830
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-31 07:58] magento-engcom-team commented on #20830
Hi @priti2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-31 07:58] shikhamis11 commented on #20830
@magento-engcom-team give me 2.3-develop instance

[2019-01-31 07:58] priti2jcommerce commented on #20830
@magento-engcom-team give me 2.3-develop instance

[2019-01-31 07:58] magento-engcom-team commented on #20830
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-31 07:58] magento-engcom-team commented on #20830
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-31 08:00] magento-engcom-team commented on #20831
Hi @mehmetselim. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-31 08:04] magento-engcom-team commented on #19497
Hi @ankur-cedcoss. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-31 08:05] magento-engcom-team commented on #19432
Hi @ankur-cedcoss. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-01-31 08:05] magento-engcom-team commented on #20830
:white_check_mark: Confirmed by @nainesh2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 08:05] magento-engcom-team commented on #20778
:white_check_mark: Confirmed by @engcom-backlog-nazar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 08:07] magento-engcom-team commented on #20831
Hi @mehmetselim. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-31 08:07] #20771 closed, assigned to nobody

[2019-01-31 08:09] magento-engcom-team commented on #20831
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 08:10] engcom-backlog-nazar commented on #20831
Hi @mehmetselim thank you for you report, this is expected behavior, you need to disable url-key in admin

[2019-01-31 08:10] #20831 closed, assigned to nobody

[2019-01-31 08:11] shikhamis11 commented on #20830
@priti2jcommerce can you share screenshot for your proposed solution ?

[2019-01-31 08:13] priti2jcommerce commented on #20830
Hi @shikhamis11
![image](https://user-images.githubusercontent.com/18118695/52040664-2a661f00-255e-11e9-9d3d-543fe5d7bda7.png)

[2019-01-31 08:16] ankur-cedcoss commented on #19432
@magento-engcom-team give me 2.3-develop instance

[2019-01-31 08:16] magento-engcom-team commented on #19432
Hi @ankur-cedcoss. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-31 08:16] ankur-cedcoss commented on #19497
@magento-engcom-team give me 2.3-develop instance

[2019-01-31 08:16] magento-engcom-team commented on #19497
Hi @ankur-cedcoss. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-31 08:16] engcom-backlog-nazar commented on #20831
@mehmetselim
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-31 08:19] dipti2jcommerce commented on #20830
Hi @engcom-backlog-nazar
After login customer full name is appearing twice,one in welcome message and other is customer drop down part in desktop view for luma theme but in blank  theme and mobile view customer name is appearing only once .

[2019-01-31 08:24] abrarpathan19 opened #20838 "Luma theme shipping tool tip icon cut from leftside"
### Preconditions (*)

1. Magento 2.3 and Magento 2.2.X

### Steps to reproduce (*)

1. Go to checkout- shipping page
2. Find the field shippingAddress telephone tool tip icon

### Expected result (*)

1. http://prntscr.com/meme4u

### Actual result (*)

1. http://prntscr.com/memgdr

[2019-01-31 08:30] magento-engcom-team commented on #20838
:white_check_mark: Confirmed by @nainesh2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 08:32] suryakant-krish commented on #20838
Look in this image.

![confirm-issue](https://user-images.githubusercontent.com/43638601/52041567-cd1f9d00-2560-11e9-87c3-dc860b99ebca.png)

[2019-01-31 08:34] priti2jcommerce commented on #20830
Hi @engcom-backlog-nazar and @dipti2jcommerce ,

I think
As user point of view, there is name display two times, thats why this is issues.

[2019-01-31 08:34] ravi-chandra3197 commented on #18348
@magento-engcom-team give me 2.3-develop instance

[2019-01-31 08:34] magento-engcom-team commented on #18348
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-31 08:39] shikhamis11 commented on #20838
@suryakant-krish I am not able find difference between expected and old one.
This seems not an issue

[2019-01-31 08:41] shikhamis11 commented on #20838
@abrarpathan19 Please wait for the issue confirmation before creating pull requests as this may lead to additional work for maintainers as well as contributors.

[2019-01-31 08:49] suryakant-krish commented on #20838
@shikhamis11

Could you please save this image in your local machine and zoom 200%  because it's SVG fonts used so it is high quality.

[2019-01-31 09:12] kassner commented on #20806
I know. But this observer is declared in the adminhtml area, which should
only run when you are accessing the backend.

Also, if you comment out the emulation in the previous lines, the observer
is not called anymore. For me, this indicates that the configuration is
leaking from the emulation.

On Thu, Jan 31, 2019, 10:07 engcom-backlog-nazar <notifications@github.com
wrote:

[2019-01-31 09:20] magento-engcom-team commented on #20838
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 09:39] engcom-backlog-nazar commented on #20838
@suryakant-krish what's wrong here ?
![selection_304](https://user-images.githubusercontent.com/40756439/52045244-c7b85780-254c-11e9-9b7f-583d52a8a8a6.png)

[2019-01-31 09:43] VincentMarmiesse opened #20843 "Uncaught TypeError: panel.addClass is not a function when Swatches are disabled"
### Preconditions (*)
1. Magento 2.3
2.PHP 7.2.14

### Steps to reproduce (*)
1. Disable Swatches modules
[code]
1. In admin, go to Stores > Attributes > Product
2. Edit a dropdown attribute (`country_of_manufacture` for example)

### Expected result (*)
1. You can update the dropdown options

### Actual result (*)
1. There is an error in console: `Uncaught TypeError: panel.addClass is not a funct

[2019-01-31 09:43] magento-engcom-team commented on #20843
Hi @VincentMarmiesse. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2019-01-31 09:49] VincentMarmiesse commented on #20843
I can't reproduce it on vanilla Magento instance as I have to disable Swatches modules.

[2019-01-31 09:59] ankur-cedcoss commented on #19497
@emiprotech and @engcom-backlog-tomash
I followed the step mentioned above but was not able to reproduce it.

[2019-01-31 09:59] #19497 closed, assigned to verma-ankur

[2019-01-31 10:03] abrarpathan19 commented on #20838
@engcom-backlog-nazar This is the screenshot when browser zoom size will be 100%,  If you do ctnl + zoom in it you can’t reproduce the issue.
Please find the attachment

![11111111111](https://user-images.githubusercontent.com/43603387/52046674-4e7d2c80-256d-11e9-8fd0-160d91705f30.jpg)

Also @nainesh2jcommerce and @suryakant-krish has already reproduce this issue. can you please review thire scree

[2019-01-31 10:11] thomas-blackbird commented on #16958
The related commit, which introduce strict types, the nullable argument is missing: https://github.com/magento/magento2/commit/c199ed0076b5ab65f6c7b52dcc58aba83790ac54

It is only present on 2.2.x. It has never been merged (why?).

[2019-01-31 10:14] paul-blundell opened #20846 "REST API search terms are not being tracked in Search Terms Report"
### Preconditions
Magento 2.2.7

### Steps to reproduce
Search Magento through the REST API endpoint:
`/rest/V1/search?searchCriteria[requestName]=quick_search_container&searchCriteria[filter_groups][0][filters][0][field]=search_term&searchCriteria[filter_groups][0][filters][0][value]=brick`

### Expected result
The search term `brick` should be added to the table `search_query` and thus show up i

[2019-01-31 10:14] magento-engcom-team commented on #20846
Hi @paul-blundell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-01-31 10:22] magento-engcom-team commented on #20846
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-31 10:24] magento-engcom-team commented on #20843
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 10:35] shikhamis11 commented on #20846
@paul-blundell can you please tell us what response you are getting after your search query ?
/rest/V1/search?searchCriteria[requestName]=quick_search_container&searchCriteria[filter_groups][0][filters][0][field]=search_term&searchCriteria[filter_groups][0][filters][0][value]=brick

[2019-01-31 10:39] paul-blundell commented on #20846
@shikhamis11 The response is not the issue here, the response is exactly what you would expect it to be - a list of item IDs. The issue is to do with the tracking of that search term in the reports.

[2019-01-31 10:41] engcom-backlog-nazar commented on #20838
@abrarpathan19 but why i see another result ? and please for simple issue describe problem clearly
![selection_305](https://user-images.githubusercontent.com/40756439/52049065-81b3c180-2555-11e9-9d4e-014d1f198219.png)

[2019-01-31 10:46] shikhamis11 commented on #20846
@paul-blundell I want to know the response because if you get any issue in response then the term will not be added in table . as I checked at my local instance it is right now showing 500 error .
will also check in 2.2-develop instance here

[2019-01-31 10:47] cscd98 opened #20850 "Magento 2 setup error - pcntl"
pcntl is by default disabled and not included in third party php repo either.

Is it really necessary?

### Preconditions (*)
1. Magento 2.3.0
2. Ubuntu 18.10
3. PHP 7.2.14

### Steps to reproduce (*)
1.Run magento 2 setup

### Expected result (*)
1. pcntl requirement to be removed?

### Actual result (*)
1.
PHP Extensions Check
1 missing PHP extensions
PHP Extension pcntl.

[2019-01-31 10:47] magento-engcom-team commented on #20850
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-31 10:50] suryakant-krish commented on #20838
@engcom-backlog-nazar,

I reproduced in windows system chrome browser latest version with the 1920 resolution.

[2019-01-31 10:55] paul-blundell commented on #20846
@shikhamis11 No errors for me. Returns 200 and the response as expected. Thanks.

[2019-01-31 10:58] danielpfarmer commented on #8630
I know this is an old thread...

But I have replicated this again today on ver 2.3.0

Removing the underscore from the subdomain fixed the admin redirect issue

[2019-01-31 10:58] raulsinapsis commented on #14674
I can't find **\Magento\UrlRewrite\Model\StoreSwitcher\RewriteUrl** file in 2.2.5 CE ??

[2019-01-31 10:58] engcom-backlog-nazar commented on #20838
@suryakant-krish ok now clear, this issue related to resolution.

[2019-01-31 11:02] magento-engcom-team commented on #20850
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 11:35] magento-engcom-team commented on #20846
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98003` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-31 11:36] GuiltyNL commented on #5980
@magento-engcom-team Why can Magento recommend using Varnish while it serves outdated data to visitors? Are there Magento shops running Varnish in front? Because it is unworkable?!

[2019-01-31 11:37] magento-engcom-team commented on #20838
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-31 11:37] GuiltyNL commented on #5980
Is someone able to answer this question, see above.

[2019-01-31 11:37] magento-engcom-team commented on #20838
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98004` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-31 11:40] magento-engcom-team commented on #20830
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-31 11:41] magento-engcom-team commented on #20830
:white_check_mark: Confirmed by @nainesh2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 11:57] magento-engcom-team commented on #20806
:white_check_mark: Confirmed by @engcom-backlog-nazar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 12:09] magento-engcom-team commented on #20843
:white_check_mark: Confirmed by @engcom-backlog-nazar
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 12:41] sivaschenko commented on #18410
Hi @RishabhRkRai thanks for reporting the issue, considering that this is an appearance problem, it would be really heplful to have the screenshots included in the description

[2019-01-31 12:54] magento-engcom-team commented on #20843
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-31 12:55] magento-engcom-team commented on #20843
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98005`, `MAGETWO-98006` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-31 12:58] simonmaass commented on #19549
@SoCix i did as suggested... i get the following JS error:

file-uploader.js:173 Uncaught ReferenceError: Base64 is not defined
    at UiClass.processFile (file-uploader.js:173)
    at Array.map (<anonymous>)
    at UiClass.setInitialValue (file-uploader.js:78)
    at UiClass.initialize (abstract.js:77)
    at UiClass.initialize (wrapper.js:109)
    at new UiClass (class.js:49)
    at Object.initC

[2019-01-31 13:02] engcom-backlog-nazar commented on #19549
@simonmaass https://github.com/magento/magento2/pull/19988 this will fix your issue.

[2019-01-31 13:04] ghost opened #20854 "Cannot add required field to Attribute using InstallScript"
### Preconditions (*)
1. Magento Version 2.3

### Steps to reproduce (*)
1. Install Magento 2.3
2. Create a basic module (registration.php/module.xml)
3. Create InstallData.php under Setup directory
4. Add the below code into InstallData.php
[code]

### Expected result (*)
1. 'is_required' column within the 'eav_attribute' table to be set to 0 for the installed attribute

### Actual result (*)
1.

[2019-01-31 13:04] magento-engcom-team commented on #20854
Hi @ajduff14. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-31 13:04] magento-engcom-team commented on #20854
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 13:07] engcom-backlog-nazar commented on #20854
Hi @ajduff14 thank you for your report is this only with install script ? or also with upgrade data?

[2019-01-31 13:11] ajduff14 commented on #20854
Hi, I only know that this is the case with the install script. It's possible it could also be upgrade by I have not tested this.

[2019-01-31 13:13] engcom-backlog-nazar commented on #20854
@ajduff14 ok thanks, because i'm have a several attributes with upgrade script and this works perfectly.

[2019-01-31 13:19] engcom-backlog-nazar commented on #20854
@ajduff14 i'm not able to reproduce following steps you described, maybe this related to some custom modules ?
![selection_308](https://user-images.githubusercontent.com/40756439/52056704-9bf89a00-256b-11e9-8995-c2fb8260e75c.png)

[2019-01-31 13:20] awviraj commented on #12271
Try this command - 'without css/styles'

bin/magento dev:source-theme:deploy --type="less" --locale="en_US" --area="frontend" --theme="Vendor/Theme"

[2019-01-31 13:22] ajduff14 commented on #20854
You are most likely right! Thanks for your time.

[2019-01-31 13:22] dipti2jcommerce opened #20855 "In checkout page product price not align proper in order summary block for ipad view"
In checkout page product price not align proper in order summary block for iPad view

### Preconditions (*)

1.Magento version 2.3
2.Ipad  view

### Steps to reproduce (*)
1.Go to checkout page by adding product
2.In order summary block product price not align proper in ipad view

### Expected result (*)
![alignmentcorrect](https://user-images.githubusercontent.com/18118638/52056638-c86edf00-2588-

[2019-01-31 13:22] magento-engcom-team commented on #20855
Hi @dipti2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-01-31 13:23] magento-engcom-team commented on #20855
Hi @priti2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-31 13:24] priti2jcommerce commented on #20855
@magento-engcom-team give me 2.3-develop instance

[2019-01-31 13:24] magento-engcom-team commented on #20855
Hi @priti2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-31 13:24] engcom-backlog-nazar commented on #20854
@ajduff14 can we close ticket ? or you can always reopen, if had some additional info.

[2019-01-31 13:26] #20854 closed, assigned to nobody

[2019-01-31 13:30] magento-engcom-team commented on #20855
:white_check_mark: Confirmed by @priti2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 13:30] magento-engcom-team commented on #20855
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 13:41] cscd98 opened #20857 "Path "/var/www/vhosts/xx-uk2-staging/releases/20190131130846/var/" cannot be used with directory "/var/www/vhosts/xx-uk2-staging/releases/20190131130846/var/"
### Preconditions (*)
1. Magento 2.3.0
2. PHP 7.2.14

### Steps to reproduce (*)
1. Deploy magento 2 via capistrano-magento2
2. View system.log or support_report.log:

[code]

The paths are the same??

### Expected result (*)
1. No error as folder is the same!

### Actual result (*)
1. As steps to reproduce

[2019-01-31 13:41] magento-engcom-team commented on #20857
Hi @craigcarnell. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-31 13:42] magento-engcom-team commented on #20857
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 13:44] engcom-backlog-nazar commented on #20857
HI @craigcarnell
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-31 13:46] magento-engcom-team commented on #20855
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98010`, `MAGETWO-98011` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-01-31 13:46] craigcarnell commented on #20857
@engcom-backlog-nazar This is a core magento issue..

[2019-01-31 13:48] engcom-backlog-nazar commented on #20857
@craigcarnell ok so how we can reproduce this with clean magento ?

[2019-01-31 13:50] craigcarnell commented on #20857
@engcom-backlog-nazar I'm not sure how to reproduce, however it's quite an erroneous error - the paths are the same..

[2019-01-31 13:56] engcom-backlog-nazar commented on #20857
@craigcarnell ok i;m will recheck with   capistrano-magento2

[2019-01-31 13:57] saphaljha opened #20859 "Luma theme - Input Box and Radio Button shadow is not proper"
### Preconditions (*)

1.Magento 2.3 and Magento 2.2.X

### Steps to reproduce (*)

1. Magento luma theme frontend in all the form
2. You can find checkbox, Radio input box shaddow
Reproduce pages : create account page, cart page and chekout page

### Expected result (*)

1. Screenshot URL: http://prntscr.com/menfs1

### Actual result (*)

1. Screenshot URL: http://prntscr.com/mennmt

[2019-01-31 13:57] magento-engcom-team commented on #20859
Hi @saphaljha. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-31 13:58] magento-engcom-team commented on #20859
Hi @mage2pratik. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-31 13:58] magento-engcom-team commented on #20859
Hi @abrarpathan19. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-31 13:58] mage2pratik commented on #20859
![reproduce](https://user-images.githubusercontent.com/33807558/52058882-65804680-258e-11e9-818f-7132ddc4f4ab.jpg)
![reproduce1](https://user-images.githubusercontent.com/33807558/52058892-6c0ebe00-258e-11e9-9e38-7ad59990039d.jpg)

[2019-01-31 13:59] arendarenko opened #20860 "Configurable product - show first simple product price instead of lowest price"
### Preconditions (*)

1. Magento v2.2.6

### Steps to reproduce (*)

2. Create Configurable product "Ring A" which contains 2 simple:
* "Ring A Size 1" - regular price - $10, special price - $8
* "Ring A Size 2" - regular price - $8, special price - $6

### Expected result (*)

1. On category page and product page appears lowest price of Ring A - "As low as $6"

### Actual result (*)

1. On categ

[2019-01-31 13:59] magento-engcom-team commented on #20860
Hi @alexeya-ven. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-01-31 14:00] magento-engcom-team commented on #20859
@mage2pratik Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-01-31 14:00] magento-engcom-team commented on #20859
:white_check_mark: Confirmed by @mage2pratik
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 14:00] magento-engcom-team commented on #20860
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 14:00] alexeya-ven commented on #20860
@magento-engcom-team give me 2.3-develop instance

[2019-01-31 14:00] magento-engcom-team commented on #20859
:white_check_mark: Confirmed by @mage2pratik
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 14:00] engcom-backlog-nazar commented on #20860
Hi @alexeya-ven this is expected behavior.

[2019-01-31 14:05] engcom-backlog-nazar commented on #20860
@alexeya-ven but you said

[2019-01-31 14:07] raulsinapsis commented on #14674
Thanks @hostep
We've solved by upgrading 2.2.5 to 2.2.6 (then **\Magento\UrlRewrite\Model\StoreSwitcher\RewriteUrl** does exist) and then applying this PR https://github.com/magento/magento2/pull/20093

[2019-01-31 14:10] magento-engcom-team commented on #20859
:white_check_mark: Confirmed by @nainesh2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 14:22] alexeya-ven commented on #20860
@engcom-backlog-nazar  I fixed issue name, now it looks more clear?

[2019-01-31 14:22] magento-engcom-team commented on #20860
Hi @mage2pratik. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-31 14:31] magento-engcom-team commented on #10644
Hi @vshatylo. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-01-31 14:36] mage2pratik commented on #20859
@magento-engcom-team give me 2.3-develop instance

[2019-01-31 14:36] magento-engcom-team commented on #20859
Hi @mage2pratik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-31 14:38] mage2pratik commented on #20859
@magento-engcom-team : I've reviewed in my local 2.3-develop, 2.2-develop latest instance and also reproduced and added screenshots. Kindly have a look.

[2019-01-31 14:39] magento-engcom-team commented on #20859
:white_check_mark: Confirmed by @mage2pratik
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 14:40] mage2pratik commented on #20859
@magento-engcom-team : As I've confirmed the issue but not able to add **Issue: Confirmed** label.

[2019-01-31 14:47] magento-engcom-team commented on #20860
Hi @KiraLis. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-01-31 14:47] magento-engcom-team commented on #20860
Hi @XxXgeoXxX. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-01-31 14:56] edwnygma opened #20862 "Configuration page scroll glitches"
Glitches appears after scroll to the bottom of the page.

Unable to stop glitching using mouse wheel
### Preconditions (*)

Case 1
1.  Magento 2.3.0
2. Firefox 66.0b3
3. Desktop resolution: 1920 x 1080
4. 4 items in config section
Case 2
1. Magento 2.3.0
2. Firefox 65.0
3. Desktop resolution: 1920 x 1080
4. 4 items in config section
### Steps to reproduce (Firefox 66.0b3)

1. Go to stores-> config

[2019-01-31 14:56] magento-engcom-team commented on #20862
Hi @edwnygma. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-31 15:09] magento-engcom-team commented on #20859
Hi @mage2pratik. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-31 15:14] kgdodhia opened #20864 "Hi, I cannot seem to access anything apart from the Dashboard and the website seems to have loading issues?"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-01-31 15:15] magento-engcom-team commented on #20864
Hi @kgdodhia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-01-31 15:16] magento-engcom-team commented on #20859
:white_check_mark: Confirmed by @mage2pratik
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 15:18] magento-engcom-team commented on #20864
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 15:19] engcom-backlog-nazar commented on #20864
HI @kgdodhia
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-01-31 15:19] #20864 closed, assigned to nobody

[2019-01-31 15:40] magento-engcom-team commented on #20862
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-01-31 15:50] buskamuza commented on #19604
Not in 2.3.1. But should be in one of 2.3.x.
cc @piotrekkaminski

[2019-01-31 15:54] rddwh commented on #20366
I've also tried to send the product payload, then the configurable product options and before posting the link child to parent manually updating the has_options and required_options to 1 before posting the payload.  It still fails.

[2019-01-31 15:58] craigcarnell commented on #20857
@engcom-backlog-nazar I can create this issue also by trying to generate a sitemap in the back end.

[2019-01-31 16:01] magento-engcom-team commented on #20860
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-01-31 16:11] suryakant-krish commented on #20862
@engcom-backlog-nazar

Please give me test instance.

[2019-01-31 16:11] magento-engcom-team commented on #20862
Hi @suryakant-krish. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-01-31 16:14] Axel29 commented on #20771
Hi,

If someone else faces this issue, I finally found the reason why it wasn't working.
I've made a fresh install of Magento 2.2.3 that I've upgraded to Magento 2.3.0 on a side project, and used a rsync to show differences.

It seems like the directory "setup" wasn't updated correctly on my project when I upgraded it, which was the reason why the `bin/magento setup:upgrade` command failed for som

[2019-01-31 16:47] magento-engcom-team commented on #20855
Hi @suryakant-krish. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-01-31 17:20] magento-engcom-team commented on #20830
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-01-31 17:21] amol2jcommerce commented on #20830
@magento-engcom-team give me 2.3-develop instance

[2019-01-31 17:21] magento-engcom-team commented on #20830
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-31 17:21] magento-engcom-team commented on #20830
Hi @amol2jcommerce, here is your [Magento instance](https://i-20830-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20830-2-3-develop.instances.magento-community.engineering/admin](https://i-20830-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-31 17:23] magento-engcom-team commented on #20830
:white_check_mark: Confirmed by @amol2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 17:49] magento-engcom-team commented on #20859
:white_check_mark: Confirmed by @amol2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 17:52] ishakhsuvarov commented on #20862
@magento-engcom-team give me 2.3-develop instance

[2019-01-31 17:52] magento-engcom-team commented on #20862
Hi @ishakhsuvarov. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-01-31 17:53] magento-engcom-team commented on #20862
Hi @ishakhsuvarov, here is your [Magento instance](https://i-20862-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20862-2-3-develop.instances.magento-community.engineering/admin](https://i-20862-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-01-31 18:03] iget-esoares commented on #20815
@engcom-backlog-nazar That's not an advice or general discussion. It used to work on previous version 1.2.6 and do not work after update to 1.2.7.

Really hate when you guys just close issues this way.

[2019-01-31 18:09] magento-engcom-team commented on #20806
:white_check_mark: Confirmed by @Nazar65
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 18:45] magento-engcom-team commented on #20830
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-01-31 18:46] magento-engcom-team commented on #20830
:white_check_mark: Confirmed by @nainesh2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-01-31 19:42] meichenblatt opened #20867 "Payment page not loading"
### Preconditions (*)

1. Magento 2.3.0
2. PHP 7.2

### Steps to reproduce (*)

1. Go to https://www.lms.sohotest.com/
2. Add a product to the cart
3. In the cart select "proceed to checkout"
4. Fill in shipment information and click next

### Expected result (*)

1. Go to payment page

### Actual result (*)

1. Spinner runs but it doesn't go to the next page.
2. In the console there is an error b

[2019-01-31 19:42] magento-engcom-team commented on #20867
Hi @meichenblatt. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-01-31 20:01] rogyar commented on #20800
Hi @priti2jcommerce. Thank you for the clarification. Could you provide more details (via text) why do you consider this alignment as an issue? Do the other elements on this page have different alignment rules? Thank you.

[2019-01-31 20:51] slavvka commented on #14595
Hey @jeroenschipper Looks like you mistakenly created your PR https://github.com/jeroenschipper/magento2/pull/1 to your repo instead of magento ones

[2019-01-31 22:08] Galleryhy opened #20869 "Magento Manage Products Not working"
![capture](https://user-images.githubusercontent.com/47229096/52088675-6353c300-2561-11e9-88d0-d0f7dbe5ccf4.JPG)

When I manage products there should be 38pages and suddenly not showing other pages and showing only 1page  but catalog showing all products I don't know how to figure this out
![captured](https://user-images.githubusercontent.com/47229096/52088745-98601580-2561-11e9-89e0-ec954dbcb9fa.

[2019-01-31 22:08] magento-engcom-team commented on #20869
Hi @Galleryhy. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-01-31 22:09] allozaur commented on #19786
@Nazar65 Ok issue is solved for us!! We had some complications with the deploy process and the modified files weren't being recognized properly. Thanks a lot for your help!

[2019-01-31 22:19] danemacmillan commented on #12271
This error happens for multiple reasons, but probably the most annoying and most frequent relates to the fact that Magento2 attempts to validate themes.

#### Explanation

If a theme exists in the database, but is not physically available in the filesystem at the time the `magento setup:install` command is run, Magento2 will set it as a "virtual" theme. Once a theme is set as virtual, it is never

[2019-01-31 22:21] jackyl commented on #20869
lol @Galleryhy you have a filter PB in SKU column, that's why it's not showing all products.

Also that is Magento 1 and this section is for Magento 2.

[2019-01-31 22:53] magento-seis10 commented on #7720
Still present on 2.2.6 EE adding new product from API using catalogProductRepository

[2019-01-31 22:55] magento-engcom-team commented on #20563
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20739 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [6e7281d36556d907c4db9311845aca523604ddb3](https://github.com/magento/magento2/commit/6e7281d36556d907c4db9311845aca523604ddb3)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-31 22:55] magento-engcom-team commented on #20500
Hi @parag2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20744 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [a9712700ab7436b88987446671722df80a15dc36](https://github.com/magento/magento2/commit/a9712700ab7436b88987446671722df80a15dc36)
 - [81d878183d7b675d1155885825257ffb5d9353b7](https://github.com/magento/magento2/commit/81d878183d7b675d11558

[2019-01-31 22:55] magento-engcom-team commented on #20113
Hi @yashwant2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20270 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [936d71fda5b37941dba89a08c79bd0aa1fba820d](https://github.com/magento/magento2/commit/936d71fda5b37941dba89a08c79bd0aa1fba820d)
 - [935d3d2c648982b7b3b62b206b2815c3dffb6336](https://github.com/magento/magento2/commit/935d3d2c648982b7b3

[2019-01-31 22:55] magento-engcom-team commented on #20609
Hi @dipti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20613 by @dipti2jcommerce in 2.2-develop branch
Related commit(s):
 - [7bf7ce1c3b33a7e0fc9b7c095865dce3bb1f7209](https://github.com/magento/magento2/commit/7bf7ce1c3b33a7e0fc9b7c095865dce3bb1f7209)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-31 22:55] #20609 closed, assigned to nainesh2jcommerce

[2019-01-31 22:55] magento-engcom-team commented on #20304
Hi @swetacedcoss. Thank you for your report.
The issue has been fixed in magento/magento2#20418 by @shikhamis11 in 2.2-develop branch
Related commit(s):
 - [16d74614e47dce5da7a61dd9d8e5a43ec926b5db](https://github.com/magento/magento2/commit/16d74614e47dce5da7a61dd9d8e5a43ec926b5db)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-31 22:55] magento-engcom-team commented on #18387
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#18809 by @vpodorozh in 2.2-develop branch
Related commit(s):
 - [f114f2aa61decaaecff02ebc6e2cabcc12569bd3](https://github.com/magento/magento2/commit/f114f2aa61decaaecff02ebc6e2cabcc12569bd3)
 - [95eeb9f6a022b1195b838965f65486a503d57137](https://github.com/magento/magento2/commit/95eeb9f6a022b1195b838965f65486a50

[2019-01-31 22:55] magento-engcom-team commented on #18931
Hi @arnoudhgz. Thank you for your report.
The issue has been fixed in magento/magento2#19461 by @JeroenVanLeusden in 2.2-develop branch
Related commit(s):
 - [3b521b0cf72426711d3cf22ed6cba139d7143101](https://github.com/magento/magento2/commit/3b521b0cf72426711d3cf22ed6cba139d7143101)

The fix will be available with the upcoming 2.2.8 release.

[2019-01-31 22:55] magento-engcom-team commented on #14712
Hi @raymond62. Thank you for your report.
The issue has been fixed in magento/magento2#19655 by @ssp58bleuciel in 2.2-develop branch
Related commit(s):
 - [8a059e655b4e09ca506638bc5bc59aca9badbf08](https://github.com/magento/magento2/commit/8a059e655b4e09ca506638bc5bc59aca9badbf08)
 - [8bdcca96f53b0e47a7270af1e399144446ea7290](https://github.com/magento/magento2/commit/8bdcca96f53b0e47a7270af1e399

[2019-01-31 23:21] Ctucker9233 opened #20871 "Magento 2.2.7 Databse Deadlock Occurs When Cron Jobs Are Not Automatically Cleared"
There appears to be a problem with cron job creation which eventually leads to a database deadlock

### Preconditions (*)

1. Magento 2.2.7
2.

### Steps to reproduce (*)

1. Vanilla Magento 2.2.7
2. Set up cron jobs per Magento documentation

### Expected result (*)

1. Cron jobs run smoothly without deadlock

### Actual result (*)

1. It appears as if multiple cron jobs of the same kind are crea

[2019-02-01 00:01] netjordanlee opened #20872 "<container> attribute "before" not allowed within "ui_configuration" XML"
### Preconditions

1. Magento EE 2.3.0

### Steps to reproduce

1. Create a module `ExampleVendor_ExampleModule`
[code]
2. Create `\Block\Adminhtml\ExampleBlock.php`
[code]
3. Create `\view\templates\exampleblock.phtml`
[code]
4. Create `\view\adminhtml\ui_component\category_form.xml`
[code]

### Expected result

1. New custom container should be created, visible and positioned above existing cont

[2019-02-01 00:01] magento-engcom-team commented on #20872
Hi @netjordanlee. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2019-02-01 01:31] smadasam commented on #18243
It is the default.  If it isn't good, then hardcode a better default.

On Tue, Jan 29, 2019 at 9:22 AM Clark Adamczyk <notifications@github.com>
wrote:

--
Sam Adams (S)

[2019-02-01 01:40] tschirmer commented on #8368
There are a number of reasons for moving the vendor directory outside of the Magento Root. It's worth seeing if the can be specified as an option, just like the directories specified in the $_SERVER variables:

e.g.:
$_SERVER["MAGE_DIRS"]['code']["path"]
$_SERVER["MAGE_DIRS"]['di']["path"]
$_SERVER["MAGE_DIRS"]['generated']["path"]

In testing environments, it's quite easy to setup a shared codeba

[2019-02-01 03:04] magento-engcom-team commented on #20871
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-01 03:07] shikhamis11 commented on #20871
@Ctucker9233 the issue is already created please check #8933

[2019-02-01 03:07] #20871 closed, assigned to shikhamis11

[2019-02-01 03:09] magento-engcom-team commented on #20867
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-01 05:11] shikhamis11 commented on #20860
@magento-engcom-team give me 2.2-develop instance

[2019-02-01 05:11] magento-engcom-team commented on #20860
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-01 05:29] #20860 closed, assigned to shikhamis11, mage2pratik, KiraLis

[2019-02-01 05:33] shikhamis11 commented on #20867
@magento-engcom-team give me 2.3-develop instance

[2019-02-01 05:34] magento-engcom-team commented on #20867
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-01 05:34] magento-engcom-team commented on #20867
Hi @shikhamis11, here is your [Magento instance](https://i-20867-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20867-2-3-develop.instances.magento-community.engineering/admin](https://i-20867-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-01 05:43] shikhamis11 commented on #20867
@meichenblatt This is not reproduced on current Magento 2.3-develope instace . This issue may be due to some customization at your server.

[2019-02-01 05:43] #20867 closed, assigned to shikhamis11

[2019-02-01 05:46] VZeroCool commented on #19247
@gmachure @magento-engcom-team  This doesn't seem to be fixed facing an issue while uploading an image for customer attribute with Magento CE 2.3 and PHP 7.2.13.

[2019-02-01 05:55] suryakant-krish commented on #20862
@magento-engcom-team,
@edwnygma

I am not able to reproduce issue in this instance.
@edwnygma could you please provide screenshot where Glitches after scrolling

[2019-02-01 06:38] abrarpathan19 commented on #20872
@magento-engcom-team give me test instance

[2019-02-01 06:38] magento-engcom-team commented on #20872
Hi @abrarpathan19. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-01 06:56] gauravtiwari92 opened #20873 "image cant upload in a block after use a vas image slider extention"
### Summary (*)

### Examples (*)

### Proposed solution

[2019-02-01 06:56] magento-engcom-team commented on #20873
Hi @gauravtiwari92. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-01 07:06] asshumski commented on #7901
it is actual on 2.2.3

[2019-02-01 07:08] asshumski commented on #7901
to reproduce it you need to go back to 1st step and choose another address, than go to 2nd step again and you'll see thad address didn't update

[2019-02-01 07:15] magento-engcom-team commented on #20873
Hi @SikailoISM. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a val

[2019-02-01 07:21] magento-engcom-team commented on #20872
:white_check_mark: Confirmed by @abrarpathan19
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-01 07:27] asshumski opened #20875 "Shipping address on 2nd step of checkout doesn't update"
Shipping address on 2nd step of checkout doesn't update when you change it on 1st step

### Preconditions
1. Magento 2.2.3
2. PHP 7.1
3. latest mysql

### Steps to reproduce
1. create customer
2. add billing and shipping address in customer account
3. put any item to cart and go to checkout
4. on 1 step of checkout add new shipping address but don't save it in address book
5. proceed to 2 step and

[2019-02-01 07:36] magento-engcom-team commented on #20869
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-01 07:37] #20869 closed, assigned to nobody

[2019-02-01 07:37] magento-engcom-team commented on #20873
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-01 07:38] engcom-backlog-nazar commented on #20873
Hi @gauravtiwari92
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-01 07:38] #20873 closed, assigned to nobody

[2019-02-01 07:38] magento-engcom-team commented on #20875
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-01 07:38] magento-engcom-team commented on #20872
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-01 07:40] engcom-backlog-nazar commented on #20872
Hi @netjordanlee   GitHub is intended for Magento Open Source users to report on issues related to Open Source only.
You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

[2019-02-01 07:40] abhishekraj2002 commented on #9275
Hello

[2019-02-01 07:41] jafar247commerce commented on #1393
@darkogoles1,
Tried as your comment, That didn't solve my issue, here is my stack link https://magento.stackexchange.com/questions/260079/multiselect-attribute-not-saving-in-magento-2-3-0

[2019-02-01 07:56] engcom-backlog-nazar commented on #20815
@iget-esoares what version ? 1.2.6 ? maybe 2.2.6 ? i'm found another issue that contain more clear steps https://github.com/magento/magento2/issues/20857 so this may be related to yours

[2019-02-01 08:31] mehmetselim commented on #20831
@engcom-backlog-nazar Thanks. unfortunately the problem continues.
I'm planning to build a payment module for my Magento store,
So my PSP working with this way;

When the customer clicks pay button of javascript embeded payment form, my PSP POSTing a value to my provided callbackUrl which is my controller inside of my module. (So I'm expecting a POST value to my controller.

It looks like this: ht

[2019-02-01 08:47] engcom-backlog-nazar commented on #20857
@craigcarnell i'm try to search the problem but im still not able to reproduce, and found that this error appears if you real path == path so if you have this condition with true, the error appear.
![selection_311](https://user-images.githubusercontent.com/40756439/52112301-c18aaf80-260e-11e9-8104-e1ac70cd5ed2.png)

[2019-02-01 08:52] engcom-backlog-nazar commented on #20857
@craigcarnell the real problem that they must not be the **SAME**

[2019-02-01 08:56] engcom-backlog-nazar commented on #20850
HI @craigcarnell pcntl module was included when you installed php by package manager, try to sudo apt updatethen sudo apt-get upgrade, it may be helpful. You can also use this to confirm if you have or don't have it.
[code]

[2019-02-01 08:56] #20850 closed, assigned to nobody

[2019-02-01 08:58] Hansa-Panot commented on #4819
I got this error bcz I did not specify crypt key properly

[2019-02-01 09:40] engcom-backlog-nazar commented on #20815
@iget-esoares also this error becouse you have vront real pathPath **"**../../../../../../**lib/web/mage/gallery/gallery.less" cannot be used with directory**
you need to `Path "/var/www/lib/web/mage/gallery/gallery.less" cannot be used with directory "/var/www/app/design/frontend/Vendor/themename/web/i18n/pt_BR/"`

[2019-02-01 09:57] engcom-backlog-nazar commented on #20875
Hi @asshumski thank you for you report this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release

[2019-02-01 09:57] #20875 closed, assigned to nobody

[2019-02-01 10:45] orlangur commented on #8368
Current behavior is intentional and it should not be changed, there were a bunch of such reports before, for example, https://github.com/magento/magento2/pull/15252#issuecomment-436504480.

[2019-02-01 10:45] #8368 closed, assigned to nobody

[2019-02-01 11:49] roma-glushko commented on #20723
@priti2jcommerce @amol2jcommerce ,
Can you tell me what's difference between these two screenshots? This doesn't look like a bug or anything that should be reported/fixed in Magento Github. If you need to change Luma styles, please reach community out in https://magento.stackexchange.com/ .
Thank you for understanding.

[2019-02-01 12:11] neil-jennings opened #20878 "No result searches for queries with non alphanumeric characters like "1:20""
### Preconditions (*)

1. Magento OpenSource 2.2.6
2. PHP 7.1
3. MySQL 5.7.18

### Steps to reproduce (*)

1. Added product with name "Test (1:20)"
2. Searching for scale values using the search box i.e  "1:20"

### Expected result (*)

1. "Test (1:20)" to show up

### Actual result (*)

1. No results found

Same result with other non alphanumeric characters used in place of the colon well.

[2019-02-01 12:11] magento-engcom-team commented on #20878
Hi @neil-jennings. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-01 12:12] neil-jennings commented on #20878
@magento-engcom-team give me 2.2-develop instance

[2019-02-01 12:12] magento-engcom-team commented on #20878
Hi @neil-jennings. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-01 12:13] magento-engcom-team commented on #20878
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-01 12:13] magento-engcom-team commented on #20878
Hi @neil-jennings, here is your [Magento instance](https://i-20878-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20878-2-2-develop.instances.magento-community.engineering/admin](https://i-20878-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-01 12:14] engcom-backlog-nazar commented on #20878
@neil-jennings https://github.com/magento/magento2/pull/20876

[2019-02-01 12:37] thunderapps opened #20879 "Product title in asian language does not generate url key and permalink correctly"
When adding a new product with non english text for the title field, it results in product permalink to be generated incorrectly. eg. /.html (empty name) and result in a 404.

### Preconditions (*)

1. Magento 2.1.6 CE (Bitnami)
2. Web Server: Apache 2.4x Mod-rewrite enabled

### Steps to reproduce (*)

1. Add a new product, set title entirely in Asian language eg. Simplified Chinese or Japanese O

[2019-02-01 12:37] magento-engcom-team commented on #20879
Hi @thunderapps. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-01 12:40] thunderapps commented on #20879
Tested with other asian languages, same result happens

[2019-02-01 12:40] magento-engcom-team commented on #20879
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-01 12:53] magento-engcom-team commented on #20878
Hi @ravi-chandra3197. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-02-01 12:57] magento-engcom-team commented on #20878
@ravi-chandra3197 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required informati

[2019-02-01 12:58] engcom-backlog-nazar commented on #20878
@ravi-chandra3197 i'm verifyng this issue, do not touch labes

[2019-02-01 13:00] ravi-chandra3197 commented on #20878
Hello @engcom-backlog-nazar
I have reproduced the issue on 2.2

[2019-02-01 13:01] asshumski commented on #20875
Nice.
Can you give me some patch for 2.2.5 and 2.2.3 ?

[2019-02-01 13:01] engcom-backlog-nazar commented on #20878
@neil-jennings thanks, but i have another result so please wait.

[2019-02-01 13:08] ravi-chandra3197 commented on #20878
Hello @engcom-backlog-nazar
I have reproduced the issue on 2.2 2.2-develop instance

search results for test

![search results for test](https://user-images.githubusercontent.com/43946827/52124811-798c7c80-2650-11e9-8126-2dd906acf726.png)

search results for 1 20

![search results for 1 20](https://user-images.githubusercontent.com/43946827/52124810-798c7c80-2650-11e9-9ecc-48dff31537a5.png)

[2019-02-01 13:15] ravi-chandra3197 commented on #20878
Hello @engcom-backlog-nazar
I created a patch for this issue once you are done.
add a labels so I can create PR.

[2019-02-01 13:17] engcom-backlog-nazar commented on #20878
@ravi-chandra3197 can you share ?

[2019-02-01 13:20] magento-engcom-team commented on #20878
:white_check_mark: Confirmed by @ravi-chandra3197
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-01 13:22] magento-engcom-team commented on #20879
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98023`, `MAGETWO-98024` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-01 13:32] shajithabanua commented on #6897
@sskulkarni Is there any other solution for this now???

[2019-02-01 13:34] Floddy commented on #7543
While this has been fixed in 2.3, the fix doesn't seem correct. The level setting is applied as-is, so if you enter '1' as maximal depth, it filters on level 1, which is the root category, which is never shown, so to get the 'top categories' or any categories at all really, you have to enter 2 in the setting.

In M1 the level filter was applied as 'settingvalue + 1'.

[2019-02-01 14:23] magento-engcom-team commented on #20878
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98026`, `MAGETWO-98027` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-01 14:56] engcom-backlog-nazar commented on #20878
@neil-jennings seems like this is non issue,

[code]

[2019-02-01 14:57] #20878 closed, assigned to nobody

[2019-02-01 15:00] engcom-backlog-nazar commented on #14595
Hi @tristanisginger thank you for you report, this issue was tested and we can confirm that this already fixed in 2.3-develop branch and will be available on 2.3.1 release.

[2019-02-01 15:00] #14595 closed, assigned to jeroenschipper

[2019-02-01 15:35] satellite1 commented on #19590
We ran into this exact issue on a fresh 2.3.0 install w/ php 7.2 w/ Magento Sample data.

Resolution:

composer update
upgrade
re-compile.

Solved.

Maybe it will help others.

[2019-02-01 15:46] arnoudhgz commented on #7543
@Floddy it is according to the documentation. So people who use the documentation are not being confused with what programmers think: https://docs.magento.com/m2/ce/user_guide/catalog/navigation-top.html

[2019-02-01 15:51] sdzhepa commented on #14595
@magento-engcom-team give me 2.3-develop instance

[2019-02-01 15:51] magento-engcom-team commented on #14595
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-01 15:52] magento-engcom-team commented on #14595
Hi @sdzhepa, here is your [Magento instance](https://i-14595-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-14595-2-3-develop.instances.magento-community.engineering/admin](https://i-14595-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-01 16:04] domeglic commented on #9695
I didn't have a problem with the store cookie, but with my own custom one. This should work for all of them.  What I did was to set request as uncacheable if the Vary string changes.

Plugin for **Magento\Framework\App\Response\Http**:
[code]

[2019-02-01 17:03] webusat commented on #19581
I have the same problem with a fresh install of 2.3.  I click Upload to upload the logo image, choose the image and I get a running circle for a second and nothing is ever added.  No logo image is displayed in the backend at all and the image in the email is still the default Magento logo.

[2019-02-01 17:53] CompactCodeEU commented on #19581
The same issue persists here without an error notifcation or a apache error or any magento error log. Not even in developer mode. Kind of hard to debug like this ofcourse.

It does an ajax call to its own page (theme/design_config/edit) and not to the fileuploader so it makes sense. The ajax call also returns a full page as a response.

This form still uses the formElement FileUploader but the it

[2019-02-01 17:59] tuyennn commented on #3361
@MomotenkoNatalia  @magento-engcom-team which ref commit and pull request related to this internal ticket MAGETWO-46950 while it was marked as DONE on 2.3-develop?

[2019-02-01 17:59] magento-engcom-team commented on #18248
Hi @milindsingh. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-01 18:04] milindsingh commented on #18248
Just upgraded to 2.2.4 to 2.2.7 and Magento crashed due to invalid versions in setup_module.
Do we need to fix this issue or not ?

[2019-02-01 18:11] andyjv commented on #18248
The only way it could be "Fixed", is if Magento issued a patch that updated the database to have the expected (yet wrong) versions of the modules in setup_module.

[2019-02-01 18:31] antonioste commented on #6710
In my case the problem was a 0 in Option, then I write Size 0 and then all work fine

[2019-02-01 20:15] magento-engcom-team commented on #20427
Hi @faizan2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20428 by @yashwant2jcommerce in 2.3-develop branch
Related commit(s):
 - [a1db46b66b3fd1ecae85fa9a97288d244782ce45](https://github.com/magento/magento2/commit/a1db46b66b3fd1ecae85fa9a97288d244782ce45)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-01 20:15] #20427 closed, assigned to amol2jcommerce, yashwant2jcommerce

[2019-02-01 20:15] magento-engcom-team commented on #20468
Hi @parag2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20469 by @parag2jcommerce in 2.3-develop branch
Related commit(s):
 - [c33a84d6d10e04aaa94d0c8e83d07a92fc484cbb](https://github.com/magento/magento2/commit/c33a84d6d10e04aaa94d0c8e83d07a92fc484cbb)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-01 20:15] #20468 closed, assigned to parag2jcommerce

[2019-02-01 20:15] magento-engcom-team commented on #20580
Hi @yashwant2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20581 by @ajay2jcommerce in 2.3-develop branch
Related commit(s):
 - [fce9a9d5d8cd0db8a9aa8410ffdc607b75c59188](https://github.com/magento/magento2/commit/fce9a9d5d8cd0db8a9aa8410ffdc607b75c59188)

The fix will be available with the upcoming 2.3.1 release.

[2019-02-01 20:15] #20580 closed, assigned to ajay2jcommerce

[2019-02-01 20:15] magento-engcom-team commented on #20723
Hi @priti2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20725 by @amol2jcommerce in 2.3-develop branch
Related commit(s):
 - [ac39ca2e54fad653d1aef3f7f2a96affcbde5c78](https://github.com/magento/magento2/commit/ac39ca2e54fad653d1aef3f7f2a96affcbde5c78)
 - [89ece35ab57c0990a7468c24c87b64ee20ca3b5e](https://github.com/magento/magento2/commit/89ece35ab57c0990a7468

[2019-02-01 20:15] #20723 closed, assigned to amol2jcommerce

[2019-02-01 20:15] magento-engcom-team commented on #20631
Hi @maheshWebkul721. Thank you for your report.
The issue has been fixed in magento/magento2#20634 by @GovindaSharma in 2.3-develop branch
Related commit(s):
 - [12deeebc95e467bcc628bb39d2d8ec753ec20b85](https://github.com/magento/magento2/commit/12deeebc95e467bcc628bb39d2d8ec753ec20b85)
 - [d1340328cb649cec143cd31484536e15393d00bf](https://github.com/magento/magento2/commit/d1340328cb649cec143cd3

[2019-02-01 20:15] magento-engcom-team commented on #20487
Hi @ranee2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20488 by @ranee2jcommerce in 2.3-develop branch
Related commit(s):
 - [547b80b9ba59a127744a6b2e58f7b2efbdff2720](https://github.com/magento/magento2/commit/547b80b9ba59a127744a6b2e58f7b2efbdff2720)
 - [3b635263c112019bf631b866b916d383f61fa98c](https://github.com/magento/magento2/commit/3b635263c112019bf631

[2019-02-01 20:15] #20631 closed, assigned to GovindaSharma, mahesh-rajawat

[2019-02-01 20:15] #20487 closed, assigned to amol2jcommerce, ranee2jcommerce

[2019-02-01 20:15] magento-engcom-team commented on #14849
Hi @raymond62. Thank you for your report.
The issue has been fixed in magento/magento2#19182 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [bbf124759cf3d27dd4bfee4a9c4e3a3969bc59ff](https://github.com/magento/magento2/commit/bbf124759cf3d27dd4bfee4a9c4e3a3969bc59ff)
 - [3998176c0995dbb912977719039fdac956c8a43c](https://github.com/magento/magento2/commit/3998176c0995dbb912977719039fd

[2019-02-01 21:02] gwharton commented on #11657
Seeing this is 2.2.7
Manually changing flag table flag_data field to MEDIUMTEXT or LONGTEXT seems to fix it for me.

[2019-02-01 21:35] magento-engcom-team commented on #20879
Hi @saphaljha. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-02-01 22:36] Ctucker9233 commented on #20871
Thanks @shikhamis11 I'll +1 there.

[2019-02-01 22:41] Ctucker9233 commented on #8933
I have the same issue on 2.2.7 @engcom-backlog-nazar. I think we could all use some update info on this issue.

 SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock; try restarting transaction, query was: DELETE FROM `mgit_cron_schedule` WHERE (status = 'pending') AND (job_code in ('currency_rates_update', 'visitor_clean', 'catalog_index_refresh_price', 'catalog_pro

[2019-02-02 00:05] mattsulony opened #20883 "Preconditions ("
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-02-02 00:05] magento-engcom-team commented on #20883
Hi @mattsulony. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-02 02:45] magento-engcom-team commented on #20846
Hi @dominicfernando. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-02-02 08:07] #20883 closed, assigned to nobody

[2019-02-02 09:39] magento-engcom-team commented on #20830
Hi @amol2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-02 09:43] amol2jcommerce commented on #20830
@magento-engcom-team give me 2.3-develop instance

[2019-02-02 09:43] magento-engcom-team commented on #20830
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-02 09:43] magento-engcom-team commented on #20830
Hi @amol2jcommerce, here is your [Magento instance](https://i-20830-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20830-2-3-develop.instances.magento-community.engineering/admin](https://i-20830-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-02 09:49] magento-engcom-team commented on #20830
:white_check_mark: Confirmed by @amol2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-02 09:52] milindsingh commented on #20879
https://github.com/studioraz/magento2-unicode-url

[2019-02-02 10:07] magento-engcom-team commented on #14857
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-02 10:07] magento-engcom-team commented on #14825
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-02 10:42] magento-engcom-team commented on #14663
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-02 10:56] magento-engcom-team commented on #14633
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-02 11:07] magento-engcom-team commented on #14143
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-02 11:35] magento-engcom-team commented on #15155
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-02 12:01] magento-engcom-team commented on #15122
Hi @milindsingh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-02 13:53] crysix commented on #7765
Still not working in M2.3

[2019-02-02 15:01] dominicfernando opened #20888 "Entered data missing when entering the wrong date for from, to in cart rule"
Entered data missing when entering the wrong date for from, to in cart rule

### Preconditions (*)
Version - 2.3-develop
OS - ubuntu 18.04
PHP 7.2

### Steps to reproduce (*)
#1 - Admin -> Marketing -> Cart Rule -> Add New
#2 - Fill the all requird item
#3 - Enter 'from'(Field) date grater than(>) 'to'(Field) date

### Expected result (*)
Date error with entered  data

### Actual result (*)
Date e

[2019-02-02 15:01] magento-engcom-team commented on #20888
Hi @dominicfernando. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-02-02 15:02] dominicfernando commented on #20888
@magento-engcom-team give me 2.3-develop instance

[2019-02-02 15:02] magento-engcom-team commented on #20888
Hi @dominicfernando. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-02 15:03] magento-engcom-team commented on #20888
Hi @dominicfernando, here is your [Magento instance](https://i-20888-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20888-2-3-develop.instances.magento-community.engineering/admin](https://i-20888-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-02 15:03] magento-engcom-team commented on #20888
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-02-02 15:09] magento-engcom-team commented on #20888
@dominicfernando Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-02-02 15:10] magento-engcom-team commented on #20888
:white_check_mark: Confirmed by @dominicfernando
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-02 16:09] magento-engcom-team commented on #6955
Hi @gulshanchitransh. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><su

[2019-02-02 17:08] magento-engcom-team commented on #20846
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-02-02 17:35] magento-engcom-team commented on #20888
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-02 17:51] magento-engcom-team commented on #20888
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98033`, `MAGETWO-98034` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-02 20:42] Jilco commented on #19828
@magento-engcom-team is this only solved in 2.3 and not in 2.2.8? Because i see the problem pretty often in my logs....

[2019-02-02 21:31] Lez-2 opened #20892 "Magento deletes all found customers via search by keyword even if you select only 1 - Magento 2.2.7"
### Preconditions (*)
1. Magento 2.2.7

### Steps to reproduce (*)
1. Search customers in admin by keyword
2. When you get multiple results - select only 1 to be deleted
3. Click the delete action

### Expected result (*)
1. Only the selected customer gets deleted

### Actual result (*)
1. All customers that were found via search are deleted

[2019-02-02 21:32] magento-engcom-team commented on #20892
Hi @Lez-2. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-02 21:38] nickpiro commented on #17634
This is still happening for us as well. Not sure where it is coming from, but I just ran a composer command to update our Algolia module "composer update algolia/algoliasearch-magento-2" and it disabled cache. This also happens randomly when we run setup:upgrade as well.

[2019-02-02 21:56] Ctucker9233 commented on #18226
@engcom-backlog-nazar That's great. It would help if commits were linked.

[2019-02-02 23:53] netjordanlee commented on #20872
Reopen. This affects CE too. I just happened to discover it whilst using EE.

[2019-02-03 00:34] Ctucker9233 commented on #638
@ilol @vpelipenko @magento-engcom-team Any chance a backport for 2.2 can be created for this? It's a great feature that we would definitely use.

[2019-02-03 02:05] magento-engcom-team commented on #20892
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-03 04:13] magento-engcom-team commented on #20032
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-02-03 04:17] magento-engcom-team commented on #20773
Hi @Vinai. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Detai

[2019-02-03 04:32] magento-engcom-team commented on #17564
Hi @satyaprakashpatel. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><s

[2019-02-03 04:34] magento-engcom-team commented on #13319
Hi @cedmudit. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-02-03 04:35] ankur-cedcoss commented on #19432
#MM19IN

[2019-02-03 04:36] satyaprakashpatel commented on #17564
I am working on it #MM19IN

[2019-02-03 04:39] magento-engcom-team commented on #17861
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-03 04:39] shikhamis11 commented on #17861
#MM19IN

[2019-02-03 04:43] bhaveshsurani commented on #18410
i am ready to work on this issue #MM19IN

[2019-02-03 04:43] magento-engcom-team commented on #18410
@bhaveshsurani thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 04:44] magento-engcom-team commented on #18410
Hi @bhaveshsurani. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-02-03 04:47] magento-engcom-team commented on #20892
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-03 04:48] shikhamis11 commented on #20892
@magento-engcom-team give me 2.2-develop instance

[2019-02-03 04:48] magento-engcom-team commented on #20892
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-03 04:49] magento-engcom-team commented on #13278
Hi @sanjay-wagento. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-02-03 04:49] Vinai commented on #20773
#mm19in

[2019-02-03 04:49] magento-engcom-team commented on #20892
Hi @shikhamis11, here is your [Magento instance](https://i-20892-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20892-2-2-develop.instances.magento-community.engineering/admin](https://i-20892-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 04:49] sanjay-wagento commented on #13278
I am working on this issue at #MM19IN

[2019-02-03 04:51] vinayshah commented on #20828
Jumping on the issue #mm19in

[2019-02-03 04:52] magento-engcom-team commented on #10088
Hi @devamitbera. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-03 04:53] rahul-kachhadiya commented on #15620
Ready to work on this issue at #mm19in

[2019-02-03 04:53] santhoshp commented on #17388
I am working on it #MM19IN

[2019-02-03 04:54] magento-engcom-team commented on #15620
Hi @rahul-kachhadiya. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><su

[2019-02-03 04:54] chirag-d-wagento commented on #19581
I am working on this issue at #20178

[2019-02-03 04:56] harithasdckap commented on #19515
#MM19IN

[2019-02-03 04:56] magento-engcom-team commented on #19515
@harithasdckap thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 04:57] rahul-kachhadiya commented on #15620
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 04:57] magento-engcom-team commented on #15620
Hi @rahul-kachhadiya. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-03 04:57] deepak2713 commented on #20830
I am working on this #mm19in

[2019-02-03 04:58] magento-engcom-team commented on #20830
@deepak2713 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 04:58] chirag-d-wagento commented on #19581
I am working on this issue at #MM19IN

[2019-02-03 04:58] magento-engcom-team commented on #15620
Hi @rahul-kachhadiya, here is your [Magento instance](https://i-15620-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-15620-2-3-develop.instances.magento-community.engineering/admin](https://i-15620-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 04:58] magento-engcom-team commented on #19581
@chirag-d-wagento thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 04:58] devamitbera commented on #10088
I am working on  #MM19IN

[2019-02-03 04:59] magento-engcom-team commented on #19581
Hi @chirag-d-wagento. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><su

[2019-02-03 05:01] shikhamis11 commented on #20892
@Lez-2 this issue is not reporoducable at magento 2.2.7 instance . message here if you still thinks this exists.

[2019-02-03 05:01] #20892 closed, assigned to shikhamis11, GovindaSharma

[2019-02-03 05:01] viral-wagento commented on #20828
I am working on this issue at #MM19IN

[2019-02-03 05:03] magento-engcom-team commented on #17388
Hi @santhoshp. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>D

[2019-02-03 05:05] magento-engcom-team commented on #20828
Hi @viral-wagento. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-02-03 05:07] santhoshp commented on #17388
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 05:07] magento-engcom-team commented on #17388
Hi @santhoshp. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-03 05:07] magento-engcom-team commented on #17388
Hi @santhoshp, here is your [Magento instance](https://i-17388-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-17388-2-3-develop.instances.magento-community.engineering/admin](https://i-17388-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 05:08] monikachintu commented on #14377
#MM19IN

[2019-02-03 05:10] magento-engcom-team commented on #14377
Hi @monikachintu. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2019-02-03 05:11] shikhamis11 commented on #18717
#MM19IN

[2019-02-03 05:12] magento-engcom-team commented on #6208
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-03 05:12] shikhamis11 commented on #6208
#MM19IN

[2019-02-03 05:13] shachiarkatkar commented on #20256
I am working on this #mm19in

[2019-02-03 05:13] magento-engcom-team commented on #20256
@shachiarkatkar thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 05:14] magento-engcom-team commented on #20256
Hi @shachiarkatkar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-02-03 05:15] shachiarkatkar commented on #20256
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 05:15] magento-engcom-team commented on #20256
Hi @shachiarkatkar. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-03 05:15] barathdckap commented on #14208
I want to work on this #MM19IN

[2019-02-03 05:16] magento-engcom-team commented on #14208
@barathdckap thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 05:16] magento-engcom-team commented on #14633
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-02-03 05:16] GovindaSharma commented on #14633
#MM14633

[2019-02-03 05:16] magento-engcom-team commented on #20256
Hi @shachiarkatkar, here is your [Magento instance](https://i-20256-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20256-2-3-develop.instances.magento-community.engineering/admin](https://i-20256-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 05:16] GovindaSharma commented on #14633
#MM19IN

[2019-02-03 05:19] magento-engcom-team commented on #14208
Hi @barathdckap. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-03 05:31] magento-engcom-team commented on #19737
Hi @kunj1988. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-02-03 05:34] keyuremipro commented on #19267
#mm19in

[2019-02-03 05:34] magento-engcom-team commented on #19267
@keyuremipro thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 05:35] magento-engcom-team commented on #19267
Hi @keyuremipro. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-03 05:36] magento-engcom-team commented on #18525
Hi @hiren-wagento. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-02-03 05:37] karangar commented on #18547
#MM19IN

[2019-02-03 05:39] magento-engcom-team commented on #15163
Hi @adityayadav-cedcoss. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details>

[2019-02-03 05:39] adityayadav-cedcoss commented on #15163
#MM19IN

[2019-02-03 05:39] #17283 closed, assigned to shikhamis11

[2019-02-03 05:51] magento-engcom-team commented on #19388
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-03 05:51] shikhamis11 commented on #19388
#MM19IN

[2019-02-03 05:53] shikhamis11 commented on #18717
I am also able to reproduce this issue at magento 2.2-develop and 2.3-develop instance

[2019-02-03 05:55] arshad-codilar commented on #17898
#mm19in

[2019-02-03 05:55] magento-engcom-team commented on #17898
@arshad-codilar thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 05:56] magento-engcom-team commented on #17898
Hi @arshad-codilar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-02-03 05:57] Anantkprajapati commented on #20843
Working on this #mm19in

[2019-02-03 05:58] magento-engcom-team commented on #20843
@Anantkprajapati thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 05:58] magento-engcom-team commented on #20843
Hi @Anantkprajapati. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-02-03 06:02] magento-engcom-team commented on #18245
Hi @keyuremipro. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-03 06:05] desaibharat commented on #19545
I will work on this issue #mm19in

[2019-02-03 06:05] magento-engcom-team commented on #19545
@desaibharat thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 06:07] magento-engcom-team commented on #19789
Hi @krishna221993. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-02-03 06:08] magento-engcom-team commented on #19545
Hi @desaibharat. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-03 06:09] shikhamis11 commented on #18717
@sergeynezbritskiy your solution is seems fine I am creating Pull request with this

[2019-02-03 06:13] sudheernayak31 commented on #18805
@magento-engcom-team give me 2.3.0 instance

[2019-02-03 06:13] magento-engcom-team commented on #18805
Hi @sudheernayak31. Thank you for your request. I'm working on Magento 2.3.0 instance for you

[2019-02-03 06:14] rakeshvarma90 commented on #20819
#MM19IN

[2019-02-03 06:14] magento-engcom-team commented on #20819
@rakeshvarma90 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 06:14] magento-engcom-team commented on #18805
Hi @sudheernayak31, here is your [Magento instance](https://i-18805-2-3-0.instances.magento-community.engineering).
Admin access: [https://i-18805-2-3-0.instances.magento-community.engineering/admin](https://i-18805-2-3-0.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 06:14] magento-engcom-team commented on #20819
Hi @rakeshvarma90. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-02-03 06:14] bhushanelsner commented on #19795
mm19in

[2019-02-03 06:15] bhaveshsurani opened #20900 "Unable to upload Logo & Favicon from Admin Panel - Magento 2.3"
### Preconditions (*)

1. Magento 2.3
2. Nginx
3. MySQL 5.6.x

### Steps to reproduce (*)

1. Login to Admin panel of Magento 2.3
2. Navigate to Content > Design > Configuration
3. Edit Magento Luma Theme for Default Store View
4. Try to upload favicon in HTML Head and site logo in Header section

### Expected result (*)

1. Favicon and logo get uploaded and require to show in frontend as well as

[2019-02-03 06:15] magento-engcom-team commented on #20900
Hi @bhaveshsurani. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-03 06:15] abhaykhatariya commented on #18688
#mm19in

[2019-02-03 06:15] magento-engcom-team commented on #18688
@abhaykhatariya thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 06:17] magento-engcom-team commented on #20900
Hi @Surabhi-Cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has

[2019-02-03 06:17] Surabhi-Cedcoss commented on #20900
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 06:17] magento-engcom-team commented on #20900
Hi @Surabhi-Cedcoss. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-03 06:18] magento-engcom-team commented on #20900
Hi @Surabhi-Cedcoss, here is your [Magento instance](https://i-20900-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20900-2-3-develop.instances.magento-community.engineering/admin](https://i-20900-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 06:30] kkdg commented on #5992
#MM19IN

[2019-02-03 06:30] magento-engcom-team commented on #5992
@kkdg thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 06:34] surabhisrivastava09 opened #20905 "Minicart, search & logo not vertically aligned between 640 to767 device pixel."
### Preconditions (*)
1. Magento2.3
2. PHP7.2

### Steps to reproduce (*)
1.Go to frontend -> resize screen (min width 640 and max width 767).

### Expected result (*)
1. http://i.imgur.com/xyixJIU.png

### Actual result (*)
1. http://i.imgur.com/6Xz5Ujb.png

[2019-02-03 06:34] magento-engcom-team commented on #20905
Hi @Surabhi-Cedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-02-03 06:35] magento-engcom-team commented on #20900
:white_check_mark: Confirmed by @milindsingh
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-03 06:35] magento-engcom-team commented on #5992
Hi @kkdg. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Detail

[2019-02-03 06:40] magento-engcom-team commented on #17403
@KishorkumarKar thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 06:44] mage2pratik opened #20906 "Magento backend catalog "Cost" without currency symbol"
### Preconditions (*)

1. Magento 2.3.X
2. Magento 2.2.X

### Steps to reproduce (*)

1. Navigate to admin catalog product grid
2. Using "Columns" selection add 'Cost' column in the grid

### Expected result (*)

1. "Cost" will be shown with currency code

### Actual result (*)

![screenshot](https://user-images.githubusercontent.com/33807558/52173581-21b75800-27ad-11e9-97fa-7816665fd953.png)

[2019-02-03 06:46] mage2pratik commented on #20906
@magento-engcom-team give me 2.3 instance

[2019-02-03 06:46] shikhamis11 commented on #20900
@milindsingh this issue is not reproduceable at 2.3-develop instance

[2019-02-03 06:46] mage2pratik commented on #20906
#MM19IN

[2019-02-03 06:48] magento-engcom-team commented on #20906
:white_check_mark: Confirmed by @mage2pratik
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-03 06:49] mage2pratik commented on #20906
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 06:49] magento-engcom-team commented on #20906
Hi @mage2pratik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-03 06:50] valuead commented on #11906
@ThiagoR inkobject  you are one of the craziest mofo I found on this forum. This is exactly what and I and boom! Freaking all my day I was working on this pulling my hair from my ass.
Thank you man! You are great. May G-d bless you, Sir.
BOOM! Mfaka you! BOOM

[2019-02-03 06:50] magento-engcom-team commented on #20906
Hi @mage2pratik, here is your [Magento instance](https://i-20906-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20906-2-3-develop.instances.magento-community.engineering/admin](https://i-20906-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 06:54] devamitbera commented on #10088
I don't think define of `setChildren` at api data interface is not fully solution at this case.

If we  define the setChildren function, then what  action  will run from this method/function

There are some scenarios, where what i need an advice what action will need to implement that case.

[2019-02-03 06:57] magento-engcom-team commented on #13228
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-02-03 06:57] GovindaSharma commented on #13228
#MM19IN

[2019-02-03 06:58] kkdg commented on #5992
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 06:58] magento-engcom-team commented on #5992
Hi @kkdg. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-03 06:58] magento-engcom-team commented on #5992
Hi @kkdg, here is your [Magento instance](https://i-5992-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-5992-2-3-develop.instances.magento-community.engineering/admin](https://i-5992-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 07:03] satyaprakashpatel commented on #17618
#MM19IN @magento-engcom-team give me 2.2-develop instance

[2019-02-03 07:03] magento-engcom-team commented on #17618
Hi @satyaprakashpatel. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-03 07:03] magento-engcom-team commented on #17618
Hi @satyaprakashpatel, here is your [Magento instance](https://i-17618-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-17618-2-2-develop.instances.magento-community.engineering/admin](https://i-17618-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 07:04] magento-engcom-team commented on #17403
Hi @KishorkumarKar. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-02-03 07:13] kunj1988 opened #20908 "Bundle product edit/add page error message icon alignment is not proper at 'Customizable Options'"
### Preconditions (*)

1. Magento 2.3 with Chromium Version 71.0.3578.98 and same for FireFox browser version 61.0.1 with OS Ubuntu 16.04.

### Steps to reproduce (*)

1. Go to admin create/edit any Bundle product.
2. Go to Customizable Options tab.

### Expected result (*)

1. ![my bundle products inventory catalog magento admin](https://user-images.githubusercontent.com/13017040/52173639-16b0f78

[2019-02-03 07:13] magento-engcom-team commented on #20908
Hi @kunj1988. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-03 07:14] eduard13 commented on #20819
@rakeshvarma90 what's the reason of working on this issue and adding the Event label, if it has already an opened PR?

[2019-02-03 07:16] #20900 closed, assigned to shikhamis11, surabhisrivastava09

[2019-02-03 07:17] magento-engcom-team commented on #20908
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-03 07:17] shikhamis11 commented on #20908
#MM19IN

[2019-02-03 07:18] shikhamis11 commented on #20908
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 07:18] magento-engcom-team commented on #20908
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-03 07:18] magento-engcom-team commented on #20908
Hi @shikhamis11, here is your [Magento instance](https://i-20908-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20908-2-3-develop.instances.magento-community.engineering/admin](https://i-20908-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 07:19] GovindaSharma commented on #13552
#MM19IN

[2019-02-03 07:31] surabhisrivastava09 opened #20910 "HTML showing error message in create credit memo"
### Preconditions (*)
1. Magento2.3
2. PHP 7.2

### Steps to reproduce (*)
1. Create Credit Memo from admin.
2. Add 'Adjustment Refund' amount more than the required amount.
3. Click Refund offline

### Expected result (*)
1. HTML code Should not show there

### Actual result (*)

![new memo credit memos operations sales magento admin](https://user-images.githubusercontent.com/25526119/52173955-62

[2019-02-03 07:31] magento-engcom-team commented on #20910
Hi @Surabhi-Cedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2019-02-03 07:37] maddumarala commented on #20910
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 07:37] magento-engcom-team commented on #20910
Hi @maddumarala. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-03 07:37] magento-engcom-team commented on #20910
Hi @maddumarala. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-03 07:38] magento-engcom-team commented on #20910
Hi @maddumarala, here is your [Magento instance](https://i-20910-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20910-2-3-develop.instances.magento-community.engineering/admin](https://i-20910-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 07:39] cedarvinda opened #20911 "In admin login password forgot password page wrong css used to make it vertially aling middle"
In admin login password forgot password page wrong css used to make it vertially aling middle

### Preconditions (*)
1. Magento 2.3
2. php 7.2

### Steps to reproduce (*)
1. Open admin login page and click on forgot password link
2. inspect on reload captcha button and view css on that button vertial-align: middle; used but will not work with float

### Expected result (*)
![4bho5to](https://user-

[2019-02-03 07:39] magento-engcom-team commented on #20911
Hi @cedarvinda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-03 07:43] magento-engcom-team commented on #20911
Hi @GovindaSharma. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a

[2019-02-03 07:44] magento-engcom-team commented on #20911
Hi @saphaljha. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a vali

[2019-02-03 07:45] saphaljha commented on #20911
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 07:45] magento-engcom-team commented on #20911
Hi @saphaljha. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-03 07:45] magento-engcom-team commented on #20910
Hi @eduard13. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-03 07:45] magento-engcom-team commented on #20911
Hi @saphaljha, here is your [Magento instance](https://i-20911-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20911-2-3-develop.instances.magento-community.engineering/admin](https://i-20911-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 07:45] magento-engcom-team commented on #20910
Hi @adityayadav-cedcoss. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-03 07:46] adityayadav-cedcoss commented on #20910
#MM19IN

[2019-02-03 07:47] GovindaSharma commented on #20911
#MM19IN

[2019-02-03 07:50] maddumarala commented on #20910
Issue doesn't get reproduced in Magento2.3 and PHP 7.2

![selection_032](https://user-images.githubusercontent.com/5508522/52174178-64316280-27b6-11e9-9fa1-73beffcd095b.png)

[2019-02-03 08:02] magento-engcom-team commented on #16854
Hi @cedmudit. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-02-03 08:07] #20910 closed, assigned to maddumarala

[2019-02-03 08:08] rakeshvarma90 commented on #20819
@eduard13 sorry I am not aware of already opened PR

[2019-02-03 08:13] magento-engcom-team commented on #20906
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-03 08:13] magento-engcom-team commented on #20906
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98037`, `MAGETWO-98038` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-03 08:18] magento-engcom-team commented on #15898
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-03 08:18] shikhamis11 commented on #15898
#MM19IIN

[2019-02-03 08:19] #15898 closed, assigned to shikhamis11

[2019-02-03 08:31] Anantkprajapati commented on #20843
Reproduced on 2.3.x http://prntscr.com/mfxxox

[2019-02-03 08:31] magento-engcom-team commented on #10079
Hi @devamitbera. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-03 08:32] devamitbera commented on #10079
#MM19IN

[2019-02-03 08:33] keyuremipro commented on #18245
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 08:33] magento-engcom-team commented on #18245
Hi @keyuremipro. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-03 08:33] magento-engcom-team commented on #18245
Hi @keyuremipro, here is your [Magento instance](https://i-18245-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-18245-2-3-develop.instances.magento-community.engineering/admin](https://i-18245-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 08:39] ramkishansuthar commented on #18508
I am working on this #mm19in

[2019-02-03 08:39] magento-engcom-team commented on #18508
@ramkishansuthar thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2019-02-03 08:41] cedmudit commented on #20905
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 08:42] magento-engcom-team commented on #20905
Hi @cedmudit. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-03 08:42] magento-engcom-team commented on #20905
Hi @cedmudit, here is your [Magento instance](https://i-20905-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20905-2-3-develop.instances.magento-community.engineering/admin](https://i-20905-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 08:42] vinayshah opened #20915 "Import Product through CSV from extended module, face undefined index issue from Abstract Class"
### Summary (*)

We have our extension which extends functionality from the base extension, we have a certain issue on import where there is some unindexed errors.

### Examples (*)

Magento/CatalogImportExport/Model/Import/Product/Type/AbstractType.php:prepareAttributesWithDefaultValueForSave()

if (in_array($attrParams['type'], ['select', 'boolean'])) {
                    $resultAttrs[$attrCode

[2019-02-03 08:42] magento-engcom-team commented on #20915
Hi @vinayshah. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-03 08:47] magento-engcom-team commented on #16382
Hi @shikhamis11. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary

[2019-02-03 08:48] shikhamis11 commented on #16382
#MM19IN

[2019-02-03 08:48] pankaj-cedcoss opened #20917 "Alignment Issue While Editing Order Data containing Downlodable Products in Admin Section"
Alignment Issue While Editing Order Data containing Downlodable Products in Admin Section

### Preconditions (*)
1. Magento 2.2
2. php 7.2

### Steps to reproduce (*)

### Expected result (*)
![expected_result](https://user-images.githubusercontent.com/13777300/52174743-410ab100-27be-11e9-8615-f7582a5879ce.png)

### Actual result (*)
![actual_result](https://user-images.githubusercontent.com/13777

[2019-02-03 08:48] cedmudit commented on #20905
@magento-engcom-team give me 2.2-develop instance

[2019-02-03 08:49] magento-engcom-team commented on #20917
Hi @pankaj-cedcoss. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-03 08:49] magento-engcom-team commented on #20905
Hi @cedmudit, here is your [Magento instance](https://i-20905-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20905-2-2-develop.instances.magento-community.engineering/admin](https://i-20905-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 08:49] cedmudit commented on #20917
@magento-engcom-team  give me 2.3-develop instance

[2019-02-03 08:52] swnsma commented on #20906
#20474

[2019-02-03 08:53] routbiplab commented on #17868
Hello @abhaykhatariya,

The scope for product status is website and global.

[2019-02-03 08:53] cedarvinda opened #20919 "Email label and email field not aligned from left for reorder of guest user"
Email label and email field not aligned from left for reorder of guest user

### Preconditions (*)
1. Magento 2.3
2. php 7.2

### Steps to reproduce (*)

1. Open frontend and order an product as guest customer
2. open  admin panel, open order grid from sales > order
3. edit same order whatever you purchase
4. click on reorder button
5. page will open and will get issue ref screenshot

### Expected

[2019-02-03 08:53] magento-engcom-team commented on #20919
Hi @cedarvinda. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-03 08:55] magento-engcom-team commented on #13428
Hi @pareshpansuriya. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-02-03 09:00] cedmudit commented on #20919
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 09:00] magento-engcom-team commented on #20919
Hi @cedmudit. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-03 09:00] magento-engcom-team commented on #20919
Hi @cedmudit, here is your [Magento instance](https://i-20919-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20919-2-3-develop.instances.magento-community.engineering/admin](https://i-20919-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 09:19] dankhrapiyush opened #20924 "Reviews ACL issue - showing Reviews menu two times under System > User Roles > Add New Role > Role Resources"
### Preconditions (*)

1. Magento 2.1.x 2.2.x 2.3x

### Steps to reproduce (*)

1. Go to: System > User Roles > Add New Role > Role Resources
2. [Screenshot](https://www.dropbox.com/s/dm8f39j8dg91typ/review_acl.jpg)

### Expected result (*)

1. It should be a correct label for Pending Reviews under System > User Roles > Add New Role > Role Resources
2. Add a menu for Pending Reviews under Marketin

[2019-02-03 09:20] dankhrapiyush commented on #20924
I am working on this #mm19in

[2019-02-03 09:33] ananth-iyer opened #20928 "Admin product grid Massaction design issue with sub menu"
Mass action design issue on Product grid, Sales grid, where ever mass action is used.

### Preconditions (*)

1. Magento 2.2.x & Magento 2.3.x
2. Chrome
3. Ubuntu

### Steps to reproduce (*)

1. Go to Catalog > Products page
2. In Mass Actions drop down > click on **Change Status**: then you can not see the selected **Change Status** item & can not close the child drop down to check other items.

[2019-02-03 09:33] magento-engcom-team commented on #20928
Hi @ananth-iyer. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2019-02-03 09:33] ananth-iyer commented on #20928
I am working on it. #mm19in

[2019-02-03 09:45] cedmudit commented on #20919
Yes got it now..

[2019-02-03 09:48] magento-engcom-team commented on #17311
Hi @ankur-cedcoss. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-02-03 09:49] magento-engcom-team commented on #20919
Hi @cedmudit. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-03 09:53] Anantkprajapati commented on #20843
Hello

"There is an error in console: Uncaught TypeError: panel.addClass is not a function"
 This is fixed but after fix this getting another issue related to not load the value options
So, Still working on this

[2019-02-03 09:56] ankur-cedcoss commented on #17311
I am working on it #MM19IN

[2019-02-03 09:57] routbiplab commented on #13211
Hello @Dieudon,

The level will remain the same until and unless you add a new subcategory. Hence to move any category under any category please follow the below the request body:
`{
 "category": {
 	"parent_id":11,
   "id": 41,
   "path": "1/2/11/41",
   "level": 3,
   "position": 2
   }
}`

[2019-02-03 10:01] vinayshah opened #20933 "MultiLine Separator to be used while import from the form, other than static value."
### Description (*)

The feature, allows the customers to have more control on MultiLine Separator along with multivalue separator, in the case where they some custom CSV and what to have different multivalue separator which can conflict with default value Line Separator.
### Expected behavior (*)

To have control over multi line separator when having custom CSV with custom field separator.
### Be

[2019-02-03 10:01] magento-engcom-team commented on #20933
Hi @vinayshah. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2019-02-03 10:03] rav-redchamps opened #20934 "Disable configurable option drop down till the time option values are not loaded"
### Preconditions (*)

1. Magento 2.3.0
2. Configurable product with the only dropdown options

### Steps to reproduce (*)

1. Open a configurable product having DropDown options
2. When the page is being loaded, you will notice that the dropdowns has no values
3. Click Add To Cart button during this time. The page will be reloaded and a notice message "You need to choose options for your item" wi

[2019-02-03 10:03] magento-engcom-team commented on #20934
Hi @rav-redchamps. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-03 10:05] rav-redchamps commented on #20934
@magento-engcom-team give me 2.3-develop instance

[2019-02-03 10:05] magento-engcom-team commented on #20934
Hi @rav-redchamps, here is your [Magento instance](https://i-20934-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20934-2-3-develop.instances.magento-community.engineering/admin](https://i-20934-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-03 10:18] shachiarkatkar commented on #20256
In Magento 1, the position of custom options was differentiable in two containers (Container1 and Container 2)

1. Below Short Description(Container 1)
`<?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif;?>`
2. After the product image(Container 2)
` <div class="clearer"></div>

[2019-02-03 10:44] Lez-2 commented on #20892
Are you sure that you tested with the keyword search and not filters? Check image below.

![mag](https://user-images.githubusercontent.com/30589309/52175748-cf743800-27a8-11e9-9b66-72507fd649e4.jpg)

I'm able to reproduce this on a test M2.2.7 shop which doesn't modify the customer admin part of Magento, so I presume it would be reproducable in a vanilla installation as well...

[2019-02-03 10:45] magento-engcom-team commented on #20933
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-03 10:47] shikhamis11 commented on #20933
#MM19IN

[2019-02-03 10:50] magento-engcom-team commented on #20766
Hi @pankaj-cedcoss. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-02-03 11:06] Jakhotiya commented on #18144
@cpartica Are you working on this? I was thinking, if it is possible to leverage "Use Categories Path for Product URLs" setting. If it's set to No, can we skip URL rewrite generation for products when they are detached from a category??

While looking into the default url_rewrite table I saw that no matter what the configuration is "category path product URL's" are always generated. This also lead

[2019-02-03 11:06] shikhamis11 commented on #20934
@rav-redchamps are you trying to add product into cart before page is loaded completely?
since the option data is dynamic. The options becomes available after few secs

[2019-02-03 11:11] irajneeshgupta opened #20943 "No complete validation while creation of attributes."
### Preconditions (*)

1.Magento 2.3
2.PHP 7.2

### Steps to reproduce (*)

1.Create an attribute.
[code]

2. It will be created . (And it should not create since not special chars other than _ allowed).

3.Edit this attribute from admin panel , you will not allow to edit anything in this attribute due to attributeCode validations.

### Expected result (*)

1. Programatically created attribute sho

[2019-02-03 11:11] magento-engcom-team commented on #20943
Hi @irajneeshgupta. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-03 11:14] rav-redchamps commented on #20934
Hi @shikhamis11

Yes, I know the option values are updated dynamically after few seconds.

But if someone clicks add to cart in the meantime then the page get refreshed with notice. This is a usability problem.

I think it will be better if we disable the add to cart button till the time option values are loaded and show somehow to user that values are being loaded.

[2019-02-03 11:21] magento-engcom-team commented on #20934
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98041`, `MAGETWO-98042` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-03 11:33] magento-engcom-team commented on #17802
Hi @krishna221993. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-02-03 12:34] magento-engcom-team commented on #20943
Hi @eduard13. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-03 12:35] magento-engcom-team commented on #20943
:white_check_mark: Confirmed by @eduard13
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-03 12:36] magento-engcom-team commented on #20943
:white_check_mark: Confirmed by @eduard13
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-03 12:40] hostep commented on #18144
@Jakhotiya: that's not a good idea with the current state of Magento where there is no official way to regenerate url rewrites, please see my comment in: https://github.com/magento/magento2/pull/15086#issuecomment-388101454

[2019-02-03 13:15] irajneeshgupta commented on #20943
#MM19IN

[2019-02-03 13:31] magento-engcom-team commented on #18698
Hi @serhiyzhovnir. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if your want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summa

[2019-02-03 13:43] dmytro-ch commented on #20017
Hello @irajneeshgupta,
please note the issue has been already assigned.
I will handle this issue asap.
Thank you!

[2019-02-03 15:30] gizmocn opened #20952 "Less SourceMaps Path is not corret"
### Summary (*)
Grunt generate wrong less sourceMaps path, both Chrome and Firefox can not find sourceMaps files

### Environment
OS: Ubuntu 18.04 with apache and php 7.1.x
Magento Version: 2.3.0

### How to Reproduce
1. Download Magento 2.3.0 Open Source with Sample from Official Site.
2. Install it on local server.
3. Install and configure grunt according to https://devdocs.magento.com/guides/v2

[2019-02-04 01:38] gizmocn commented on #20952
@magento-engcom-team give me 2.3-develop instance - upcoming 2.3.x release

[2019-02-04 01:38] magento-engcom-team commented on #20952
Hi @gizmocn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-04 01:38] magento-engcom-team commented on #20952
Hi @gizmocn, here is your [Magento instance](https://i-20952-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20952-2-3-develop.instances.magento-community.engineering/admin](https://i-20952-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-04 01:50] gizmocn commented on #20952
I have tried vanilla Magento instance, but I have no idea about how to run CLI command on it, the issue need to install node.js npm and grunt etc.

[2019-02-04 02:52] sshymko commented on #11372
Looks like the issue has never been fixed. It's reproducible on the latest 2.2.x and 2.3.x branches.
@magento-engcom-team Could you please reopen the ticket?

[2019-02-04 05:18] pandyakrunal commented on #19590
This work for me
Modify this file : vendor/magento/framework/Encryption/Adapter/SodiumChachaIetf.php
[code]

[2019-02-04 05:41] ermst4r commented on #20450
Hi,

But is there a manner to get the updated_at date into the stock table?
Because we are facing the following issue:
We need to know the latest stock from the customers, but everything we need to do a call to fetch all products. In our case it would be better to get the latest stock via an updated_at field.

[2019-02-04 06:48] yashwant2jcommerce opened #20957 "Gift Message for the Entire Order form fields are misaligned"
### Preconditions (*)

1. 2.3.0

### Steps to reproduce (*)

1. In Admin Sales >> Orders >> view any order >> Information >> Gift options
2. To show Gift options in orders enable Gift option from
Stores >> Configuration >> Sales >> Sales >> Gift Options >> Allow Gift Messages on Order Level >> Yes

### Expected result (*)

1.
![gift-message-expected](https://user-images.githubusercontent.com/26630

[2019-02-04 06:48] magento-engcom-team commented on #20957
Hi @yashwant2jcommerce. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla

[2019-02-04 06:49] magento-engcom-team commented on #20957
Hi @nainesh2jcommerce. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue ha

[2019-02-04 06:50] nainesh2jcommerce commented on #20957
@magento-engcom-team please give me 2.3-develop instance

[2019-02-04 06:54] magento-engcom-team commented on #20957
:white_check_mark: Confirmed by @dipti2jcommerce
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-04 07:35] VitaliyBoyko commented on #20957
Hi.
It looks nicer as it is now. I believe there is no any issue.
Moreover, this alignment improvements of admin CSS classes may influence other forms.
Thank you!

[2019-02-04 07:43] magento-engcom-team commented on #20952
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-04 07:44] magento-engcom-team commented on #20943
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-04 07:51] engcom-backlog-nazar commented on #20857
@craigcarnell i'm closing this issue, because i'm unable to reproduce, if you have some additional info how we can reproduce this with clean magento please reopen the issue.

[2019-02-04 07:51] #20857 closed, assigned to nobody

[2019-02-04 07:57] engcom-backlog-nazar commented on #20862
Hi @edwnygma thank you for you report, i;m not able to reproduce following steps you described, please provide more information.

[2019-02-04 07:57] #20862 closed, assigned to suryakant-krish

[2019-02-04 07:58] magento-engcom-team commented on #20915
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-04 08:00] magento-engcom-team commented on #20919
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-04 08:34] magento-engcom-team commented on #20943
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98045`, `MAGETWO-98046` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-04 08:37] magento-engcom-team commented on #20915
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98047`, `MAGETWO-98048` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-04 09:00] Vinai commented on #20478
Interesting - why do `_isScopePrivate` blocks not work in CMS pages?

[2019-02-04 09:07] magento-engcom-team commented on #20919
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98049` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-04 09:45] sunilit42 commented on #20478
@Vinai  may be cms page override that _isScopePrivate

[2019-02-04 09:50] jakwinkler opened #20961 "Removing a theme does not remove it from theme database table"
### Preconditions (*)

1. Magento 2.2.x CE & EE - latest
2. Magento 2.3 CE

### Steps to reproduce (*)

1. Create a new theme
2. Create a second theme that extends first theme
3. Visit admin panel and make sure themes are visible
4. Change name of the second theme to something else and visit admin again.
5. Remove all themes from app/design folder
6. In Content -> Design -> Configuration those the

[2019-02-04 09:50] magento-engcom-team commented on #20961
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2019-02-04 09:51] magento-engcom-team commented on #20961
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-04 10:21] ravi-chandra3197 commented on #19417
@magento-engcom-team give me 2.2-develop instance

[2019-02-04 10:22] magento-engcom-team commented on #19417
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-04 10:22] magento-engcom-team commented on #19417
Hi @ravi-chandra3197, here is your [Magento instance](https://i-19417-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-19417-2-2-develop.instances.magento-community.engineering/admin](https://i-19417-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-04 10:52] ravi-chandra3197 commented on #18348
@magento-engcom-team give me 2.3-develop instance

[2019-02-04 10:52] magento-engcom-team commented on #18348
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-04 10:52] magento-engcom-team commented on #18348
Hi @ravi-chandra3197, here is your [Magento instance](https://i-18348-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-18348-2-3-develop.instances.magento-community.engineering/admin](https://i-18348-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-04 10:54] magento-engcom-team commented on #20961
:white_check_mark: Confirmed by @Dharmeshvaja91
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-04 10:54] magento-engcom-team commented on #20961
:white_check_mark: Confirmed by @Dharmeshvaja91
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-04 10:55] magento-engcom-team commented on #20961
:white_check_mark: Confirmed by @Dharmeshvaja91
Thank you for verifying the issue! :+1: Your confirmation will help us to acknowledge and process this report.

[2019-02-04 10:58] engcom-backlog-nazar commented on #20961
@Dharmeshvaja91 please don't touch label if someone has already assigned, and verifying this  issue.

[2019-02-04 10:58] ravi-chandra3197 commented on #18348
Hello @magento-engcom-team, @skilar
the issue is not reproducible in 2.3-develop

[2019-02-04 11:04] engcom-backlog-nazar commented on #18348
Hi @skilar thank you for you report, this issue has already fixed in 2.3-develop branch and will be available on 2.3.1 release 1550eb5e27f7e520612dcb4fe1d2c86de8ce42d6

[2019-02-04 11:04] #18348 closed, assigned to ravi-chandra3197

[2019-02-04 11:46] magento-engcom-team commented on #20934
Hi @sunilit42. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>De

[2019-02-04 12:13] magento-engcom-team commented on #20928
Hi @sdzhepa. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-04 12:15] Prasad2706 commented on #10829
Same issue with version magento 2.3.0

[2019-02-04 12:19] engcom-backlog-nazar commented on #20961
Hi @qsolutions-pl did you try ubibstall by `php bin/magento theme:uninstall frontend/Custom/CustomTheme` ?

[2019-02-04 12:20] magento-engcom-team commented on #20952
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98051` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-04 12:20] magento-engcom-team commented on #20928
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98052` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-04 12:27] #20961 closed, assigned to nobody

[2019-02-04 12:40] junkkiller commented on #20957
@VitaliyBoyko

I see a lot of misalignment issues these days, no real issues.
why don't these guys directly create a PR ?

[2019-02-04 12:45] victortodoran commented on #12073
@engcom-backlog-nazar
A product can have only one sku. it's either 1234a either 1234A
Loading by two different skus can not return the same product/product_id
You are describing what is wrong with the feature as a success test.

[2019-02-04 12:55] VitaliyBoyko commented on #20957
@junkkiller
Actually, they have done a lot of PR's to fix misalignment. Each PR dedicated to 1 form or page, something like that:
[code]

But I believe it brings mess. Styles for the form elements are common across the whole admin. And it is weird to fix it just for certain points, isn't it?

[2019-02-04 13:01] kazim-krish commented on #10666
I have got a solution which worked for me.

1. If you get an error when trying to install the B2B module for a local instance of Magento Commerce (for example: `[InvalidArgumentException] Could not find a matching version of package magento/extension-b2b. Check the package spelling, your version constraint and that the package is available in a stability which matches your minimum-stability (stabl

[2019-02-04 13:02] Mohsin07 opened #20965 "Proceed to checkout displays Login popup even after logged in"
### Summary (*)

Clicking Proceed to checkout button displays a signin/create account popup window in Magento v2.2.6

### Examples (*)

The checkout page is not loaded. Instead a popup sign window is displayed.

### Proposed solution

After clicking Proceed to checkout button, it should redirect to the checkout page.
![download](https://user-images.githubusercontent.com/47100034/52209798-092d6780-

[2019-02-04 13:02] magento-engcom-team commented on #20965
Hi @Mohsin07. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-04 13:03] kazimnoorani commented on #10666
I have got a solution which worked for me.

1. If you get an error when trying to install the B2B module for a local instance of Magento Commerce (for example: `[InvalidArgumentException] Could not find a matching version of package magento/extension-b2b. Check the package spelling, your version constraint and that the package is available in a stability which matches your minimum-stability (stabl

[2019-02-04 13:04] magento-engcom-team commented on #20965
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-04 13:04] magento-engcom-team commented on #10355
Hi @ravi-chandra3197. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><sum

[2019-02-04 13:05] ravi-chandra3197 commented on #10355
@magento-engcom-team give me 2.3-develop instance

[2019-02-04 13:05] magento-engcom-team commented on #10355
Hi @ravi-chandra3197. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-04 13:05] magento-engcom-team commented on #10355
Hi @ravi-chandra3197, here is your [Magento instance](https://i-10355-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-10355-2-3-develop.instances.magento-community.engineering/admin](https://i-10355-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-04 13:06] Sydgren commented on #20333
@ksurendra It's actually stated on the requirements page, as the list of supported PHP versions clearly says 7.1.3+ (meaning 7.1.3 to 7.1.26) and 7.2.x (meaning all 7.2 versions).

As for MySQL, the documentation also clearly says 5.6 and 5.7 are supported, not 8.0 which you're using. Might work, also might not.

[2019-02-04 13:07] kazimnoorani commented on #14709
I have got a solution which worked for me.

1. If you get an error when trying to install the B2B module for a local instance of Magento Commerce (for example: `[InvalidArgumentException] Could not find a matching version of package magento/extension-b2b. Check the package spelling, your version constraint and that the package is available in a stability which matches your minimum-stability (stabl

[2019-02-04 13:17] engcom-backlog-nazar commented on #20965
HI @Mohsin07 The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-02-04 13:17] #20965 closed, assigned to nobody

[2019-02-04 13:20] magento-engcom-team commented on #20736
Hi @sdzhepa. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Deta

[2019-02-04 13:21] magento-engcom-team commented on #20736
Hi @sdzhepa. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-04 13:38] DarthFly opened #20966 "Elastic Search 5 Indexing Performance Issue"
### Preconditions (*)

1. Magento 2.3 and Elastic Search v5 configured.
2. Ability to debug ProductDataMapper.php file - https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Elasticsearch/Model/Adapter/BatchDataMapper/ProductDataMapper.php

### Steps to reproduce (*)

1. Create a searchable product attribute with a lot of values. Most common - `brands`. We had around 300 values.
2

[2019-02-04 13:38] magento-engcom-team commented on #20966
Hi @DarthFly. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2019-02-04 13:42] magento-engcom-team commented on #20966
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-04 13:43] magento-engcom-team commented on #20736
Hi @sdzhepa. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-04 13:44] engcom-backlog-nazar commented on #20966
Hi @DarthFly thank you for your report, which version of elastic you use ?

[2019-02-04 13:46] magento-engcom-team commented on #20736
Hi @sdzhepa. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-04 13:58] Nazar65 commented on #20689
@arijit-codilar i'm found solution for elastic, you need to edit mysql conf and set this variables
[code]
the you have search result and first item is ehat you requested.

[2019-02-04 14:06] StephenBadger commented on #15264
@dankoz51  Are you able to explain what was wrong with Bronto_Email? We are facing this issue.

[2019-02-04 14:09] DarthFly commented on #20966
@engcom-backlog-nazar Elastic 5 latest and the one installed on cloud. It doesn't really matter as problem is inside magento code, not when data is transferred to and from Elastic.

[2019-02-04 14:30] magento-engcom-team commented on #20966
:white_check_mark: Confirmed by @engcom-backlog-nazar
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98054`, `MAGETWO-98055` were created

**Issue Available**: @engcom-backlog-nazar, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-04 14:37] coatesjonathan commented on #16203
Hi, how do I get this merged into 2.2.5? I need this fixed

[2019-02-04 14:37] DarthFly commented on #20966
It any case it was `elasticsearch-5.2.2`

[2019-02-04 14:45] k4emic opened #20969 "Poor performance for some layered navigation queries"
### Preconditions (*)

1. Magento 2.3.0 (2.3.1? any 2.x.x?)
2. Percona SQL Server >= 5.6
3. Lots of products
4. Lots of filterable attributes for layered navigation

### Steps to reproduce (*)

1. Open any category with layered navigation enabled (anchor)
2.

### Expected result (*)

1. Page should show
2.

### Actual result (*)

1. Several seconds pass, page might give a timeout

I can't say enti

[2019-02-04 14:45] magento-engcom-team commented on #20969
Hi @k4emic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2019-02-04 14:46] amol2jcommerce commented on #20908
@magento-engcom-team give me 2.2-develop instance

[2019-02-04 14:46] magento-engcom-team commented on #20908
Hi @amol2jcommerce. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2019-02-04 14:46] magento-engcom-team commented on #20908
Hi @amol2jcommerce, here is your [Magento instance](https://i-20908-2-2-develop.instances.magento-community.engineering).
Admin access: [https://i-20908-2-2-develop.instances.magento-community.engineering/admin](https://i-20908-2-2-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-04 14:53] engcom-backlog-nazar commented on #20966
@DarthFly thanks, now clear )

[2019-02-04 14:55] magento-engcom-team commented on #20969
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-04 15:14] magento-engcom-team commented on #20911
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98056`, `MAGETWO-98057` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-04 15:19] magento-engcom-team commented on #20957
Hi @shikhamis11. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a va

[2019-02-04 15:21] fxdon opened #20972 "Store header Logo conten config"
### Description (*)

### Expected behavior (*)

### Benefits

### Additional information

[2019-02-04 15:21] magento-engcom-team commented on #20972
Hi @fxdon. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2019-02-04 15:24] magento-engcom-team commented on #20972
Hi @engcom-backlog-nazar. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue

[2019-02-04 15:33] magento-engcom-team commented on #20966
Hi @GovindaSharma. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summar

[2019-02-04 15:33] magento-engcom-team commented on #20924
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MAGETWO-98061`, `MAGETWO-98062` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-02-04 15:34] fxdon commented on #20972
unable to change logo content config header

[2019-02-04 15:34] magento-engcom-team commented on #20972
Hi @fxdon. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-04 15:35] magento-engcom-team commented on #20972
Hi @fxdon, here is your [Magento instance](https://i-20972-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20972-2-3-develop.instances.magento-community.engineering/admin](https://i-20972-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-04 15:35] tim-reynolds-visionet opened #20973 "Excessive loading of zend locale information from Cache"
While investigating performance issues we became aware that our server was making hundreds of requests to our cache backend (Redis) for static locale information that would not change.

An example cache key is: 35e_Zend_LocaleC_en_BE_currencynumber_

Essentially anything with Zend_Locale should never change for the given key within a single run, yet to us it seems it is hitting the cache every tim

[2019-02-04 15:35] magento-engcom-team commented on #20973
Hi @tim-reynolds-visionet. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanil

[2019-02-04 15:42] fxdon commented on #20972
what am i going to do with this pls..
Hi @fxdon, here is your Magento instance.
Admin access: https://i-20972-2-3-develop.instances.magento-community.engineering/admin
Login: admin Password: 123123q
Instance will be terminated in up to 3 hours.

[2019-02-04 15:49] fxdon commented on #20972
i was able to log the logo on the magento instance but not ok my admin data base ...what should i do next

[2019-02-04 16:30] magefan opened #20974 "Very bad Google Page Speed Score"
### Preconditions (*)
Magento 2.3.0
Enabled css minification and merge
Enabled js minification, merge, bundling
Enabled HTML minification
Production mod is on
Gzip is enabled on webserver
Expire headers is configured on webserver

### Steps to reproduce (*)
Setup valina Magento 2.3. with the preconditions settings.
Go to the google page speed test page
https://developers.google.com/speed/pagespeed

[2019-02-04 16:53] fxdon commented on #20972
![magento](https://user-images.githubusercontent.com/47326848/52223342-51de2400-289d-11e9-9e9e-11067d012835.png)

[2019-02-04 16:53] magento-engcom-team commented on #20972
Hi @fxdon. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-04 16:53] magento-engcom-team commented on #20972
Hi @fxdon, here is your [Magento instance](https://i-20972-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20972-2-3-develop.instances.magento-community.engineering/admin](https://i-20972-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-04 16:53] PascalBrouwers opened #20975 "Query slow when using quotes for integers in WHERE statements"
### Preconditions (*)

1. Magento 2.3.x

### Steps to reproduce (*)

1. Any query that selects values from an integer value. Load a product in the backend and check the query log.
2. The lookup of the query is allot longer when for example 'attribute_id' has a where as `attribute_id = '73'` than a where as `attribute_id = 73`
3. problem is more evident when checking queries which have multiple joi

[2019-02-04 16:53] magento-engcom-team commented on #20975
Hi @PascalBrouwers. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2019-02-04 17:08] PascalBrouwers commented on #20975
Related: https://github.com/magento/magento2/issues/20969

[2019-02-04 17:18] scottjcampbell commented on #20974
@magento-engcom-team give me 2.3-develop instance

[2019-02-04 17:18] magento-engcom-team commented on #20974
Hi @scottjcampbell. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-02-04 17:19] magento-engcom-team commented on #20974
Hi @scottjcampbell, here is your [Magento instance](https://i-20974-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20974-2-3-develop.instances.magento-community.engineering/admin](https://i-20974-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-02-04 17:50] orlangur commented on #14143
@PascalBrouwers how does it work currently if you omit `--enable-modules='all'` ?

[2019-02-04 17:53] orlangur commented on #20974
@magefan,

I doubt this is a recommended setting. PageSpeed rank was quite well-optimized at some point and was enforced by an internal test.

[2019-02-04 18:03] magento-engcom-team commented on #20736
Hi @sdzhepa. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-04 18:05] magento-engcom-team commented on #20736
Hi @sdzhepa. Thank you for working on this issue.
In order to make sure that issue has enough information and ready for development, please read and check the following instruction: :point_down:
- [ ] 1. Verify that issue has all the required information. (**Preconditions**, **Steps to reproduce**, **Expected result**, **Actual result**).<details><summary>Details</summary>If the issue has a valid

[2019-02-04 18:20] fxdon commented on #20972
ur support is very poor

[2019-02-04 18:21] magento-engcom-team commented on #20137
Hi @nainesh2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20837 by @amol2jcommerce in 2.2-develop branch
Related commit(s):
 - [4a3354ae407110e26831798414a48e3047d046d5](https://github.com/magento/magento2/commit/4a3354ae407110e26831798414a48e3047d046d5)
 - [1a75856e3bcdea4943c723e8127b17647813b487](https://github.com/magento/magento2/commit/1a75856e3bcdea4943c

[2019-02-04 18:21] magento-engcom-team commented on #20409
Hi @Floddy. Thank you for your report.
The issue has been fixed in magento/magento2#20886 by @milindsingh in 2.2-develop branch
Related commit(s):
 - [9092e7a98807d2aa611c2cb7161f737984cdd32f](https://github.com/magento/magento2/commit/9092e7a98807d2aa611c2cb7161f737984cdd32f)

The fix will be available with the upcoming 2.2.8 release.

[2019-02-04 18:21] magento-engcom-team commented on #20624
Hi @andkirby. Thank you for your report.
The issue has been fixed in magento/magento2#20863 by @irajneeshgupta in 2.2-develop branch
Related commit(s):
 - [05bc8a603a563bf54601d11e5af5f46eb9b6a716](https://github.com/magento/magento2/commit/05bc8a603a563bf54601d11e5af5f46eb9b6a716)
 - [34da4ca890562dc90d7f4f9610cafd79d2694f7b](https://github.com/magento/magento2/commit/34da4ca890562dc90d7f4f9610ca

[2019-02-04 18:21] magento-engcom-team commented on #20604
Hi @ajay2jcommerce. Thank you for your report.
The issue has been fixed in magento/magento2#20784 by @ajay2jcommerce in 2.2-develop branch
Related commit(s):
 - [adf8d4cccb28e168d9accae2edad202bb4914d7f](https://github.com/magento/magento2/commit/adf8d4cccb28e168d9accae2edad202bb4914d7f)

The fix will be available with the upcoming 2.2.8 release.

[2019-02-04 18:21] magento-engcom-team commented on #19436
Hi @zexperto. Thank you for your report.
The issue has been fixed in magento/magento2#19612 by @SikailoISM in 2.2-develop branch
Related commit(s):
 - [14aa091388aaea80195d874e47d874f8df6620d7](https://github.com/magento/magento2/commit/14aa091388aaea80195d874e47d874f8df6620d7)

The fix will be available with the upcoming 2.2.8 release.

[2019-02-04 18:58] nickpiro commented on #14951
Any patch for 2.2.5?!

[2019-02-04 19:16] magento-engcom-team commented on #20629
Hi @maheshWebkul721. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summ

[2019-02-04 19:21] janmyszkier commented on #19934
bumping this topic becasue this is still an issue.
vertex/module-tax is still having checksum issues today for
[code]

composer.lock shows:
[code]
but it seems to NOT be it (sayd composer for all of us)
Also, please note the referenced topic (19283) is about different package (vertex/sdk) and not vertex/module-tax

Can magento stop releasing fixes under old release numbers?

if that was a bugfix c

[2019-02-04 19:38] milansimek commented on #11699
@lisovyievhenii Thanks for your response!

Since I'm using an "**around**" plugin and not proceeding with the execution, the code acts more as a **rewrite of the original method**. This means there won't be any recursive execution issues.

Also, in your example you changed the method name that calls the parent method from `parentDoSomething` to `doSomething`. Of course that would cause an infinite

[2019-02-04 19:46] milansimek commented on #11699
This isn't what I'm trying to achieve:

Actually, I'd like to create an interceptor for `A::doSomething`, not `B::doSomething`. So `B->doSomething()` will be called, which in turn calls the parent method. Then then interceptor should kick in and wrap around the `A::doSomething` method.

`A::doSomething` doesn't call any parent methods since it's already the method of the parent class. So this shou

[2019-02-04 20:15] magento-engcom-team commented on #20259
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#20540 by @irajneeshgupta in 2.2-develop branch
Related commit(s):
 - [4741489674e363357de9fddb3920924ab1177009](https://github.com/magento/magento2/commit/4741489674e363357de9fddb3920924ab1177009)
 - [cd75f2928d56785e86b5235e56727a571cc1d8ff](https://github.com/magento/magento2/commit/cd75f2928d56785e86b5235e56

[2019-02-04 20:22] abdulkaderptp commented on #19590
As @beargroup-jay mentioned,
If you are upgrading from old DB, in app/etc/env.php file simply add the crypt key from your previous configurations. For me I updated and it works fine.

[2019-02-04 20:33] magento-engcom-team commented on #20943
Hi @eduard13. Thank you for working on this issue.
Looks like this issue is already verified and confirmed. But if you want to validate it one more time, please, go though the following instruction:
- [ ] 1. Add/Edit `Component: XXXXX` label(s) to the ticket, indicating the components it may be related to.

- [ ] 2. Verify that the issue is reproducible on `2.3-develop` branch<details><summary>Det

[2019-02-04 20:54] Vallance21 opened #20977 "TinyMCE 4 doesn't allow the parcing of all characters"
![screenshot_2019-02-04 1](https://user-images.githubusercontent.com/1458928/52237267-02115400-28c1-11e9-9aab-2788a9cadf53.png)
![screenshot_2019-02-04 2](https://user-images.githubusercontent.com/1458928/52237269-02115400-28c1-11e9-9147-fb5033627fa5.png)

Magento 2  version 2.3.0 - TinyMCE 4

TinyMCE 4 fails to out put all data stored in the database table.

CMS Block (may not be limited to just

[2019-02-04 20:54] magento-engcom-team commented on #20977
Hi @Vallance21. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento