[2022-10-10 12:54] engcom-November commented on #36248
Thank you for the reponse @mvenghaus . Verified the issue again on Magento 2.4-develop instance with above mentioned steps and the issue is reproducible. Hence updating the description and confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/194870927-b215ba31-0730-4322-8273-98fdbe89cc3c.png)

[2022-10-10 13:28] densen45 commented on #36089
@engcom-November Thanks for checking this issue.

I have updated the "Steps to reproduce" above.
Please read carefully and notice, it's an adminhtml/backend related issue. You need to change the locale settings in your admin account, not the translation settings in your browser. Later you have to go to the product list in the adminhtml/backend. You don't need to go to the frontend at all.

If anyt

[2022-10-10 14:35] engcom-November commented on #36068
Thank you for the response @mklooss. Since it's unclear in the Magento [documentation](https://docs.magento.com/user-guide/payment/paypal-express-checkout.html) about the expected behavior on paypal login page about which amount to display if shipping method is unselected, we are considering this as feature request.
Thank you.

[2022-10-10 14:36] Naberdz opened #36262 "Tax is calculation wrong"
### Preconditions and environment

- Magento version 2.4.5

we have following setup:
System configuration: Product price is including TAX
Display Product Prices In Catalog: incl tax.

### Steps to reproduce

Setting: catalog prices entered from Magento Admin are excluding tax
Create product.
create tax zone.
Change setting of the catalog prices entered from Magento Admin to including tax.

### Exp

[2022-10-10 14:38] nathanjosiah commented on #36078
@engcom-November Please do not direct the community to post vulnerability steps in public github. @pemann if you have a vulnerability please submit it through our HackerOne program or message me directly in the community slack.

[2022-10-10 15:14] lucbard commented on #36236
I sorry for the delay but the Magento instances given above aren't working.

[2022-10-10 15:15] i6media commented on #35899
@ssx you can copy the file (https://github.com/magento/magento2/blob/7792c18603d80f020dd0265d78ecf0ad8f64f944/app/code/Magento/Elasticsearch/Model/ResourceModel/Fulltext/Collection/SearchResultApplier.php) and temporarily overwrite it in your own module through di.xml, until the new versions comes out.

`<preference for="Magento\Elasticsearch\Model\ResourceModel\Fulltext\Collection\SearchResultApp

[2022-10-10 16:38] engcom-Hotel commented on #35493
Hello,

The internal already fixed this issue and the code has been merged with the development branch of EE. We are unable to provide you the commit link as the commits are from the private repo. But the fix will be available from Magento 2.4.6 version.

Hence closing the issue.

Thanks

[2022-10-10 16:38] #35493 closed, assigned to dineshkaswan5

[2022-10-10 17:28] AdrianChungie opened #36264 "Braintree payment sends incorrect currency on a authorized expired order"
### Preconditions and environment

This issue happened in a production environment

- Magento version 2.4.2
- Using built in braintree extension, and no custom code on the payment side
- I am using a multi store setup with two sites, one for USD products and one for CAD products. CAD being the default store.
- Therefore, two currency merchants on braintree side as well. One for USD and one for CAD

[2022-10-11 02:47] mirianfalconi commented on #36076
@magento I am working on this

[2022-10-11 06:10] engcom-Bravo commented on #36182
Hi @DJOGlobal2022,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-11 06:10] #36182 closed, assigned to engcom-Bravo

[2022-10-11 06:55] engcom-Bravo commented on #36262
@magento give me 2.4-develop instance

[2022-10-11 06:58] wyomind commented on #35714
-- Please reply above this line --

Hey Magento/magento2,

Thank you for your message.

 Your request has been correctly submitted.
    
 We’ll be getting back to you as soon as possible!

 Best Regards,
 The Wyomind Team

[2022-10-11 06:58] mikeastral commented on #34975
Changing the file mentioned is still not fixing the issue.
After directly changing the file in the vendor folder, just for
testing purposes, I compile and deploy static-static content, but the issue
is occurring at the same rate.

bin/magento setup:upgrade;
bin/magento setup:di:compile;
bin/magento setup:static-content:deploy;
bin/magento cache:flush;

On Wed, May 25, 2022 at 12:16 PM tschirmer **

[2022-10-11 07:12] LillyDrogerie commented on #25862
Confirming that this happens relatively often on EE 2.4.2 as well. The payment processor finish the transaction, but the quote for the given order doesn't exists (anymore?), thus the order creation cannot be finished, leading to the customer being charged but order never created thus cannot be fulfilled. Its annoying because there is no specific rule to debug, it can happen with registered users a

[2022-10-11 08:19] devendra-m commented on #18229
There is solution in that page.
-------- Original message --------From: Sunil Patel ***@***.***> Date: 31/03/2022  6:02 p.m.  (GMT+05:45) To: magento/magento2 ***@***.***> Cc: Devendra Maharjan ***@***.***>, Mention ***@***.***> Subject: Re: [magento/magento2] Error while reindexing price (#18229)
Hello,
I have similar issue , any one solution for that?

—Reply to this email directly, view it on G

[2022-10-11 08:51] gainesyeild commented on #35778
Hi,

I attempted your steps and I am still getting "Request does not match any
route." In my Postman request. Has this not been released yet?

On Wed, Jul 20, 2022 at 8:25 AM Girija Bhavani Kudupudi <
***@***.***> wrote:

[2022-10-11 08:57] cstinson4508 commented on #35969
Good afternoon,
I am unable to access data pertaining to our blockchain orders, the order below is a valid order and the record is not pulling up under blockchain  tab. I can also generally go the the customer tab and see the order by searching the customer email. However when I pull the customer – who has several blockchain orders, there is no history available.
***@***.***

From: m2-assistant[bo

[2022-10-11 09:24] dyuk1987 opened #36266 "Product imports running at the same time would have weird overlapping/overwriting results"
### Preconditions and environment

- Magento version: 2.2.10, 2.3.5-p1, 2.4.4
(but very likely occurring on all versions of 2.2, 2.3 & 2.4)
- Magento 2.4-develop
- PHP 8.1
- Magento instance with two Admin users
- Login with 2 different Machines

### Steps to reproduce

1. Create 2 admin users (A & B)
2. Log in to the 2 admin users on 2 machines respectively
3. Prepare 2 CSV files for product impo

[2022-10-11 11:29] engcom-Bravo commented on #36262
Hi @Naberdz,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is not reproducible on both the instances..The price will be change in Frontend only(Including and Excluding) and not for backend for a product after the taxes will be added.Kindly provide more information about Configuration settings it will be helpful for us to pr

[2022-10-11 11:31] sufyanrightpoint commented on #32303
Still reproducible in 2.4.4

[2022-10-11 11:36] engcom-Bravo commented on #36261
Hi @kiruthika1611,

Thanks for quick Response.

Verified the issue on Magento 2.4-develop instance but could not reproduce the issue.We are able to create Customers in admin panel for multi website.kindly refer screenshots.

Login to admin -> Store -> Configuration -> All store ->

1.Create a websites
2.Create store
3.Create store view

<img width="1401" alt="Screenshot 2022-10-11 at 2 33 15 PM" s

[2022-10-11 12:31] engcom-Hotel commented on #36258
Hello @pmonosolo,

Thanks for the report and collaboration!

We have tried to reproduce the issue in the Magento 2.4-develop branch but the issue is not reproducible for us. In order to reproduce the issue we have made a custom module which is attached as follows:
[Magz.zip](https://github.com/magento/magento2/files/9755277/Magz.zip)

We are not getting any error in the below page:

![image](https

[2022-10-11 13:38] engcom-Bravo commented on #36260
Hi @linkdandyparanormal,

Thanks for Reporting and collaboration.

Verified the issue on Magento 2.4-develop instance but could not reproduce the issue.we are getting confirmation mails from a Magento store.Kindly refer screenshots.

<img width="1080" alt="Screenshot 2022-10-11 at 6 44 27 PM" src="https://user-images.githubusercontent.com/51680745/195106022-e66767cd-1ce1-410e-8045-df25a9ff8b42.png

[2022-10-11 13:39] #36185 closed, assigned to engcom-Delta

[2022-10-11 14:00] t-heuser opened #36268 "[GraphQL] route query ignoring whether a product/category is disabled"
### Preconditions and environment

- Magento version: 2.4.5

### Steps to reproduce

- Create a new category or product (keep it enabled)
- Disable the category or product afterwards
- Execute the following query (replace placeholder with your url key):
[code]

### Expected result

The product/category is not returned:
[code]

### Actual result

The product/category is returned:
[code]

### Additi

[2022-10-11 14:00] oneserv-heuser commented on #36268
@magento give me 2.4-develop instance

[2022-10-11 14:16] c3n21 opened #36269 "Expected type 'Magento\Customer\Api\Data\GroupInterface'. Found 'Magento\Customer\Model\Group'."
### Preconditions and environment

- Magento version 2.4.5
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

1. use Magento\Customer\Model\GroupFactory;
2. use Magento\Customer\Api\GroupRepositoryInterface;
3. create a Group using GroupFactory, set it up and save it using GroupRepositoryInterface

Your IDE should show an error saying

and if you run the script

[2022-10-11 14:31] sdzhepa commented on #36133
This ticket was created by an internal Adobe team and was exported to the public GitHub as this issue.
Later internal Jira ticket was closed as canceled.

[2022-10-11 14:43] gyduxa opened #36270 "Product Grid/Carousel in Page Builder with date conditions equals or less/greater than with no results"
### Preconditions and environment

- Magento version: 2.4.3
- Products with Special Price.

### Steps to reproduce

1. Backoffice > Catalog > Products > Insert products with price 100, and special price 90, with Special Price from: 2022-03-01, Special Price to: 2023-03-01 > Save
2. Backoffice > Content > Pages > Insert Page > Edit with Page Builder > Drag Row > Drag Products
3. Configuration Produ

[2022-10-11 14:48] oneserv-heuser commented on #36268
I can confirm the issue on a vanilla 2.4-develop instance

[2022-10-11 15:11] oneserv-heuser commented on #36268
When trying the same for cms pages, a server error is thrown, even better

[2022-10-11 16:39] ryanisn commented on #35329
what is the status of this ticket and how do we install the patch of it?

[2022-10-11 18:07] ivanaugustobd commented on #11098
Any modern workaround for this?

[2022-10-11 18:13] websecureNL commented on #30128
We are experiencing a related problem when stock updates are done through the API. We use an order picking system that updates stock through API. When stock is updated, cache of the product and associated categories are purged. We are on 2.4.5. For us this means that cache is kept for less than half an hour on average. If it's true stock is also cleared on checkout it might even be worse (we are t

[2022-10-11 18:17] kestraly commented on #30128
@websecureNL - That one is the most annoying at present. If you’re doing mass stock updates for all products, the indexing triggers the FPC to be cleared. So a mass action for all products does exactly the same. What’s annoying is, it’s not an FPC update at the end of the cycle, it’s an FPC one after the other. So 25,000 products updated and it clears FPC 25,000 times in all the logs that I’ve che

[2022-10-11 18:21] github-jira-sync-bot opened #36271 "Unable to apply coupon code during admin order creation in case rule has weight as condition"
**Steps to reproduce:**
1. Install clean 2.4-develop
1. Crete simple product with weight = 8
1. Create a new customer **with default billing and shipping address**
1. Create cart price rule **with coupon**:
-- In "Conditions" sections add - *"Total Weight  equals or greater than  5"*
1. Try to create a new order **in admin**:
-- Use created earlier customer
-- Add product
-- Try to apply coupon

*

[2022-10-11 18:22] github-jira-sync-bot opened #36272 "When trying to use certain multi-selects within the Magento admin for coupon report, they don't always work as intended."
**Preconditions**
Install Magento 2.4 to develop with sample data.

Create 2-3 more cart rules and place an order for each.

**Issue** 
When trying to use certain multi-selects within the Magento admin for coupon reports, they don't always work as intended.

**Steps To Reproduce**

Go to Admin-> Reports > Sales > Coupons

Apply filter as below 
Date Used = Order Created
Period = Day
From = Any pre

[2022-10-11 18:24] github-jira-sync-bot opened #36273 "Customer has no any vault token save, but vault payment method appears in admin checkout"
**Issue:**
Customer has no any vault token save, but vault payment method appears in admin checkout

**Steps to reproduce:**
1). Go to Magento Admin panel
2). Setup "Payflow Pro" payment method and enable vault payment (Stores - Configuration - Sales - Payment Methods - Configure "Payflow Pro" -
Enable this Solution : Yes, Vault Enabled : Yes)
3). Clear cache
4). Admin - Sales - Orders - Create ne

[2022-10-11 18:32] github-jira-sync-bot opened #36274 "Duplicate orders with 2 parallel GraphQL requests"
#### Precondition
As a Guest user follow steps by GraphQL checkout tutorial to step 10 Place order https://devdocs.magento.com/guides/v2.4/graphql/tutorials/checkout/index.html

#### Steps
Execute Place the order mutation in parallel in 2 browsers (I did it in Postman) .
[code]

#### (x) Actual result
2 orders created

#### (/) Expected result
1 order created

[2022-10-11 21:58] DJOGlobal2022 commented on #36182
Hi

May I please have a phone number to contact you, thank you.

Regards
Jenny

Jenny Meng
ACCOUNTS RECEIVABLE ANALYST

P  1300 667 730
E  ***@***.******@***.***> or ***@***.******@***.***>

***@***.***

PO Box 6057, Frenchs Forest DC, NSW 2086
ABN 64 094 431 473

djostore.com.au
Creating Better Together™

***@***.***

From: Venkata Kumar Kuntumalla ***@***.***>
Sent: Tuesday, October 11, 2022 5:1

[2022-10-11 23:33] pmonosolo commented on #30596
2.4.5 same issue, too many files (5780) and the process crashes and stalls.

[2022-10-11 23:34] pmonosolo commented on #36258
Hello @engcom-Hotel

it looks like its related to this issue from 2.4.1: https://github.com/magento/magento2/issues/30596

Same issue, many images, process overloads PHP RAM limit and stalls.

I have tested switching back to Old Gallery Style and that is working - so at least we have some workaround.

The number of images it stalls on is - 5780.

@engcom-Hotel  Can you please test with a large num

[2022-10-12 00:10] perfpcs commented on #30596
2 years time and no one at Magento gives a sh*t. Still broken and they don't care. They don't have anyone that can fix quite a few of the major bugs. Its no wonder everyone is moving to Shopify. Magento has become a joke sorry to say.

[2022-10-12 05:59] engcom-Hotel commented on #32303
Hello @sufyanrightpoint,

Are the steps to reproduce is same as mentioned in the main description or different? If different can you please provide detailed information on that to proceed further on this issue?

Thanks

[2022-10-12 06:06] kiruthika1611 commented on #36261
Hi @engcom-Bravo

**Summary of the issue :**

- When we change **Account Sharing Option per website to global** Then, We couldn't able to create a customer in admin panel except default website.

**Step to Reproduce :**

**Step - 1**

- Login to admin -> Store -> Settings -> Configuration -> All store ->

1. Create Website
2. Create Store
3. Create Store View

**Please refer the below screenshot f

[2022-10-12 08:01] web-backend-dev opened #36275 "Hello, please add to Config file 'hy_AM', /*Armenia (Armenia)*/"
Hello, please add to vendor Config.php file -  'hy_AM', /*Armenia (Armenia)*/

[2022-10-12 08:34] wassuupp opened #36276 "Long time request execution"
### Preconditions and environment

- 2.4.5
- Make a request to bulk API with a lot of products in request. For instance 5k. <website_url>rest/async/bulk/V1/products.

### Steps to reproduce

- open client to work with Magento API
- fetch the token
- fill request body with huge amount of product. For instance > 5k
- create API request to the <website_url>rest/async/bulk/V1/products
- wait until req

[2022-10-12 08:41] engcom-Hotel commented on #36269
Hello @c3n21,

Thanks for the report and collaboration!

We have tried to reproduce the issue by looking into the codebase as well as code changes.

We agreed that `Magento/Customer/Model/GroupFactory.php` doesn't implement the `Magento\Customer\Api\GroupRepositoryInterface`.

Actually `Magento\Customer\Api\GroupRepositoryInterface:save()` method requires object of `\Magento\Customer\Api\Data\Grou

[2022-10-12 09:11] c3n21 commented on #36269
Hello!
Thanks reply.

The problem is in the Group entity (`Magento\Customer\Model\Group`) because it doesn't implement `\Magento\Customer\Api\Data\GroupInterface`, so you can't use `\Magento\Customer\Api\GroupRepositoryInterface::save()` to save it.

[2022-10-12 09:19] nuzil commented on #36276
Some performance metrics
<img width="1288" alt="Screenshot 2022-10-12 at 11 18 00" src="https://user-images.githubusercontent.com/1667889/195303648-68164766-c6c2-4e81-887b-0318c6da85e7.png">

[2022-10-12 09:28] sufyanrightpoint commented on #32303
The steps are the same as above. The only difference I had was that I was using the existing `sales_order` table

[code]

[2022-10-12 09:48] thomas-kl1 commented on #26292
What's the status on this?

[2022-10-12 11:17] engcom-Hotel commented on #36189
Hello @Nuranto,

Thanks for the report and collaboration!

We have tried to reproduce the issue in the 2.4-develop branch and the issue is reproducible with the exact same steps provided in the main description.

Hence confirming the issue.

Thanks

[2022-10-12 11:31] engcom-Bravo commented on #36266
@magento give me 2.4-develop instance

[2022-10-12 12:50] engcom-Bravo commented on #36266
Hi @dyuk1987,

Thanks for Reporting and collaboration.

Verified the issue on Magento 2.4-develop instance but could not reproduce the issue.Product imports running at the same time with two admin users imported(150 products) successfully.kindly refer screenshots.

<img width="1464" alt="Screenshot 2022-10-12 at 5 56 44 PM" src="https://user-images.githubusercontent.com/51680745/195346219-615ed953

[2022-10-12 13:03] engcom-Bravo commented on #36268
Hi @oneserv-heuser,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is reproducible on both the instances.route query ignoring whether a product/category is disabled.Kindly refer screenshots.

Steps to reproduce:

1.Create a new category or product (keep it enabled).
2.Disable the category or product afterwards.
3.Executed Ro

[2022-10-12 13:03] engcom-Bravo commented on #36270
Hi @gyduxa,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is reproducible.We are getting No Products were found with Product Grid/Carousel in Page Builder with date conditions equals or less/greater than.Kindly refer screenshots.

Steps to reproduce:

1.Backoffice > Catalog > Products > Insert products with price 100, and special pric

[2022-10-12 13:20] loneken79 opened #36278 "Failed upgrades due to a comparison error between config values of type string that becames array"
**Preconditions and environment**
Magento 2.4.4

Since the function `recursiveDiff` expects 2 Array type parameters, shouldn't this line checks that the second parameter is also an Array? https://github.com/magento/magento2/blob/24a2c466e04bbf3e031e6a6b60e53593c28b40ea/lib/internal/Magento/Framework/Stdlib/ArrayUtils.php#L193
Like this: `if (is_array($value)) {` should be `if (is_array($value) &&

[2022-10-12 15:03] ClintTec commented on #28161
Still happening.

[2022-10-12 16:53] angelo983 opened #36279 "Missing js vimeo library"
### Preconditions and environment

- Magento 2.4.4
- Magento_PageBuilder enabled
- Js bundling enabled
- PHP 8.1
- Production mode

### Steps to reproduce

- Load an extension that require vimeo as library;
- Create a block of this type with height bigger than viewport height, but not loading any video in content;
- Switch to production mode with active js minification.

### Expected result

Div s

[2022-10-12 17:02] github-jira-sync-bot opened #36281 "Product website assignment can be removed from REST API, but admin UI still does not reflect that"
**Issue**

When we send a REST API like below to remove the product's website assignment it correctly works, we can see records in catalog*product*website data are correctly removed.

But when we go to admin panel and check we can see UI still show the product is assigned to the default store.

 I used a simple product to check the issue on 2.4-develop

PUT: rest/all/V1/products/<sku>
[code]
![](i

[2022-10-12 17:03] #36281 closed, assigned to nobody

[2022-10-12 17:04] github-jira-sync-bot opened #36282 "Error adding products manually in configurable products"
**Issue:**
Error adding products manually in configurable products, when a large number of simple variants are already assigned.

**Preconditions:**
* Adobe Commerce: 2.4-develop

**Steps to reproduce:**
 - Create a few thousand simple products (just to increase the entity_id value) and a configurable product with about 150 variants using the attached profile (<^profile.xml>).
[code]

 - Edit the

[2022-10-12 17:04] #36282 closed, assigned to nobody

[2022-10-12 17:09] github-jira-sync-bot opened #36283 "Credit memo not genrated if order configrable product with decimal quantity"
**Preconditions**
Install Magento 2.4 develop with sample data and PHP 8.1 (make sure the default PHP version is 8.1 and developer mode set )

set configurable  product for ***qty uses decimal*_ to _*yes** from advanced inventory*   

 

 

**Steps**
1. Go to Catalog > Products and create a configurable product
1. Under Advanced Inventory, set Qty Uses Decimals = Yes for their child's product 
1.

[2022-10-12 17:09] #36283 closed, assigned to nobody

[2022-10-12 17:11] github-jira-sync-bot opened #36284 "A non-numeric value encountered Error for Bundles with special price over 1000"
#### Steps to reproduce:
 - Create a bundled product
 - Set the special price to 9999
 - Navigate to Catalog => Products (Search for bundled product SKU if it is not visible)

#### (x) Actual result:

An error occurs
Non Numeric value encountered...
#### (/) Expected result:

Should be able to filter/see the bundled products with the special price

[2022-10-12 17:11] #36284 closed, assigned to nobody

[2022-10-12 17:14] github-jira-sync-bot opened #36285 "Related rules don't work for a product attribute that has a number in its code"
###### Steps
* Create a product attribute with a number in its code, e.g. at98_settore
  * Type = Dropdown or Multiselect
  * Add several values
  * Scope = Global
  * Use for Promo Rule Conditions = Yes
* Create a new related rule
  * Active = Yes
  * Apply To = Related Products
  * Products to Display:
Product Category is the Same as Matched Product Category
Product at98*settore contains Matched

[2022-10-12 17:16] github-jira-sync-bot opened #36286 "Product is not getting added to wishlist when customer login"
 

STEPS:
1. Go to Frontend > Product list page or Product view Page
1. click on Add to Wishlist link to add product in wishlist
1. It will redirected to customer login page
1. login customer with valid credential
1. after successful login, customer landing on wishlist page but product not getting added.

ACTUAL RESULT: product is not getting added to wishlist when customer login.

EXPECTED RESULT

[2022-10-12 17:16] #36286 closed, assigned to nobody

[2022-10-12 17:19] github-jira-sync-bot opened #36287 "No space between a custom currency symbol and a price"
###### Steps
* 01. Go to Configuration > General > Currency Setup > Currency Options and set Base, Default and Allowed currencies as < Indonesian Rupiah >
02. Go to Stores > Currency > Currency Symbols and verify the currency. It should be < IDR >
03. Open a product, or check any place where price displays. <ins>You will get the price displays in the following format with a space in between curren

[2022-10-12 17:19] #36287 closed, assigned to nobody

[2022-10-12 17:21] github-jira-sync-bot opened #36288 "Customer Zip Code input validation rule not working"
{**}ISSUE{**}:

We want to allow only numeric fields in the zipcode without space but it is not working and allowing space in zip code value.

Can you please check and let us know as soon as possible.

 

{**}STEPS TO REPLICATE{**}:

Backend Configuration : 
1: Go to Store -> Attribute -> Customer Address.
2: Search for postcode (attribute_code)
3: In input validation select "Numeric Only"

Execut

[2022-10-12 17:21] #36288 closed, assigned to nobody

[2022-10-12 17:24] github-jira-sync-bot opened #36289 "Customizable options Drag and drop issue"
**<ins>ISSUE</ins>**
Product customizable options drag and drop doesn't work as expected. Also, there is no way to move a customizable option from one page to another when there are multiple pages available in the customizable option grid.

**<ins>STEPS TO REPRODUCE</ins>**

01. Create a simple product
02. Add customizable options to the above product and make sure you add over 20 options so you w

[2022-10-12 17:24] #36289 closed, assigned to nobody

[2022-10-12 17:24] rogerdz commented on #36273
@magento I am working on this

[2022-10-12 19:55] danielpugh commented on #35329
Just found/experienced this problem after upgrade.  Surprised to see it open so long without an official fix, despite there being an actual fix listed.

[2022-10-12 20:39] chittima commented on #36273
Internal Team started working on this issue and solution is almost ready

[2022-10-12 21:11] pmonosolo commented on #36258
I dont know if it will help, the files that were throwing out of memory error were these:

[07-Oct-2022 22:26:54 UTC] PHP Fatal error: Allowed memory size of 792723456 bytes exhausted (tried to allocate 8192 bytes) in /home/userhome/public_html/vendor/magento/framework/Filesystem/Driver/File.php on line 1042

[07-Oct-2022 22:26:54 UTC] PHP Fatal error: Allowed memory size of 792723456 bytes exhaus

[2022-10-12 22:40] pmonosolo commented on #30596
This commit seems to improve performance on my DEV server:
https://github.com/magento/magento2/blob/919ce7022aa553c0a5b28c0e1e155bce51a7464f/app/code/Magento/MediaGalleryUi/Model/Directories/GetDirectoryTree.php

My dev server would stall for 10-20 seconds to generate the folder structure, but now it's almost instant.

[2022-10-13 00:01] pmonosolo commented on #30596
Well, this fix is better, but its still buggy:

- doesnt show some old files in the folders (tried to change permissions to 777 no change)

[2022-10-13 02:19] dyuk1987 commented on #36266
Hi @engcom-Bravo,

The critical point in the issue lies in the following:
4.Admin A uploads A.csv while admin B uploads B.csv `at roughly the same time`.

If you look at the import history I have provided, the 2 runs were around 1 to 3 seconds apart only,
while yours were like 10 to 40 seconds apart, which was way longer than the time it took to finish 1 import.
So your attempts were like running

[2022-10-13 05:52] engcom-Hotel commented on #28161
Hello,

We are reopening this ticket as we more inputs on this issue to reproduce.

Thanks

[2022-10-13 05:53] engcom-November commented on #36100
Hi @mariogobos ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-10-13 05:53] #36100 closed, assigned to engcom-November

[2022-10-13 05:54] engcom-Hotel commented on #32303
Hello @sufyanrightpoint,

Thanks for your reply!

We are reopening this issue for further processing.

Thanks

[2022-10-13 06:33] perfpcs commented on #30596
@pmonosolo , if you don't see the issue, then you do not have a large amount of images. We have like 2 million product images on the server. The server uses Nginx. If we move say 1/2 or more of the images out of the directory, then the tree works. It just can't handle ALOT of images.

[2022-10-13 07:28] zunsakai opened #36291 "API functional tests drop all tables from main database"
### Preconditions and environment

- Magento 2.4.5
- PHP 8.1
- Mysql 8.0

### Steps to reproduce

1. Install magento live site into database `magento_db`
2. Create separate database `magento_functional_tests`
3. In folder `dev/tests/api-functional/config`, copy `install-config-mysql.php.dist` to `install-config-mysql.php`, `post-install-setup-command-config.php.dist` to `post-install-setup-command

[2022-10-13 07:37] kylepham103 commented on #36291
I also found a few similar tickets here
https://github.com/magento/magento2/issues/26875
https://github.com/magento/magento2/issues/18769
But I have not found any solution or explanation for this problem. I tried other configs, but main database is always affected

[2022-10-13 09:49] engcom-Bravo commented on #36261
@magento give me 2.4-develop instance

[2022-10-13 10:03] engcom-Hotel commented on #32303
Hello @sufyanrightpoint @Nuranto,

Thanks for the report and collaboration!

We are able to reproduce the issue in the latest development branch i.e 2.4-develop with the provided steps. As a piece of additional information, we are attaching the module which helps in the reproduction of the issue.

Thanks

[2022-10-13 10:18] engcom-Charlie commented on #35545
As mentioned in [PR](https://github.com/magento/magento2/pull/35725#issuecomment-1277374881), the internal team worked on this issue and committed in [this](https://github.com/magento/magento2/commit/29bacd0b09b443b61370d47d8e552ae0a5c99ce0) revision.

Hence closing this issue.

Thank you!

[2022-10-13 10:18] #35545 closed, assigned to nobody

[2022-10-13 11:07] danielpugh commented on #35603
seeing this problem as well

[2022-10-13 11:27] #33767 closed, assigned to nuzil

[2022-10-13 11:27] engcom-November commented on #33767
This issue is no more reproducible on Magento 2.4-develop instance.

[2022-10-13 11:37] chalov-anton commented on #36291
@magento give me 2.4-develop instance

[2022-10-13 12:16] engcom-Bravo commented on #36266
@magento give me 2.4-develop instance

[2022-10-13 13:02] engcom-Bravo commented on #36261
Hi @kiruthika1611,

Thanks for Reporting and collaboration.

Verified the issue on Magento 2.4-develop instance but could not reproduce the issue.We are able to create Customers in admin panel for multi website.kindly refer screenshots.

<img width="1426" alt="Screenshot 2022-10-13 at 6 24 29 PM" src="https://user-images.githubusercontent.com/51680745/195602030-6d4ae34a-bbcc-4d6c-a10d-25b7af93d3c9

[2022-10-13 13:09] engcom-Bravo commented on #36266
Hi @dyuk1987,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is reproducible.Products imports running at the same time would have weird overlapping/overwriting results for different admin users.Kindly refer screenshots.

Steps to reproduce:

1.Create 2 admin users (A & B)
2.Log in to the 2 admin users on 2 machines respectively
3.Prepa

[2022-10-13 13:37] baptiste09 opened #36292 "[PayPal] Credit cards in Magento Vault don't expire as expected"
### Preconditions and environment

Magento 2.4.2-p2 (migration to 2.4.5 in progress)

### Steps to reproduce

1. An initial transaction is made and the user saves the credit card in Magento vault, saving the original transaction ID ("gateway token" in the vault)
3. Magento uses this “original transaction ID” as a reference for subsequent transactions when using saved credit card => transactions su

[2022-10-13 14:09] MrBlueEyez opened #36293 "2.4.5-p1 checkout was empty because block position was null"
### Preconditions and environment

- Magento version 2.4.5-p1

### Steps to reproduce

1. add a product to the shopping cart
2. go to the shopping cart
3. open the checkout

### Expected result

A working checkout

### Actual result

The whole checkout isnt rendered because the error:
[code]

This is caused because in the `vendor/magento/module-ui/view/base/web/js/lib/core/collection.js` file on l

[2022-10-13 14:15] chittima commented on #34202
Internal Team started working on this issue and solution is almost ready

[2022-10-13 14:24] kiruthika1611 commented on #36261
Hi @engcom-Bravo

I tried fresh **magento version 2.4.4** without install any 3rd party extensions / modules / patches. But, After changing the Account Sharing Option is perwebsite to global.we aren't able to create a customer in admin panel for all websites except default website.

Kindly, recheck that issue on **Magento version 2.4.4**

[2022-10-13 14:36] alek-s-andr commented on #35899
I have tested the patch just now, filter is applied but the items counter not changing.

![2022-10-13-21-28-23](https://user-images.githubusercontent.com/34573954/195626317-71a186a1-6a55-42d2-af78-029f4e6d5925.png)

[2022-10-13 14:38] i6media commented on #35899
For me the same issue as @alek-s-andr

[2022-10-13 14:44] deancodes commented on #35918
@06romix many thanks for the module - works very well.

[2022-10-13 14:50] Hurrpadurr opened #36294 "No mention of 2.4.3 systems for Cross-Site Scripting security issues in newest security patches"
### Summary (*)

In the recent releases of Magneto Updates (2.4.4-p2 and 2.4.5-p1) a critical Cross-Site Scripting was addressed. There is no Security patch for 2.4.3 systems in spite of support for those not ending until November.

I realize this is not a technical issue and thus violates the guidelines but the message board moves very slowly and this might be a pressing issue for some.

### Exam

[2022-10-13 15:02] aivorisk opened #36295 "Url rewrite not generated for newly assigned category"
### Preconditions and environment

- Magento 2.4.4 version
- PHP versions: 7.4 / 8.1
- Configurations:
- - Configurations -> Catalog [Catalog tab] -> Search Engine Optimization -> Generate "category/product" URL Rewrites = **Yes**

### Steps to reproduce

1. Install new magento.
2. Create a new store view and assign it to a current Store (There should be 2 store views)
3. Create 2 new categories u

[2022-10-13 15:07] engcom-November commented on #36078
Thank you for the update @nathanjosiah. We are closing this issue as the mentioned patches are not applicable for Magento 2.4.5
Thank you.

[2022-10-13 15:07] #36078 closed, assigned to engcom-November

[2022-10-13 15:08] CanBeer commented on #36294
@Hurrpadurr We are currently on Magento 2.4.3-p2 EE, can you tell us if we are also affected by these security vulnerabilities?

Link of the report : https://helpx.adobe.com/security/products/magento/apsb22-48.html

I am a little confused for the generic formulation "2.4.4-p1 and earlier versions".

Can you provide us with the patches to be made or the files/commits concerned by the corrections in

[2022-10-13 15:33] drinkingsouls commented on #35970
Surprised this hasn't been followed up yet. It's quite a biggie to slip through the net. Release notes Known Issues do not have this listed for 2.4.5.

[2022-10-13 16:25] engcom-November commented on #36279
Hi @angelo983 ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance but unable to reproduce the issue on configuring product videos in both ways as mentioned below:
Steps:
1. Enabled Production mode.
2. Configured Vimeo video for a product by configuring in both ways. 1. As per Magento [docs](https://docs.magento.com/user-guide/v2.3/catalog/product-video.h

[2022-10-13 16:27] engcom-November commented on #36243
@magento give me 2.4-develop instance

[2022-10-13 16:28] pmonosolo commented on #30596
@perfpcs hmmm, I'm in similar situation /catalog/product has millions of images on PRODUCTION, but DEV does not.

The thing is that it should be skipping that whole folder completely:

https://developer.adobe.com/commerce/php/tutorials/backend/modify-image-library-permissions/

![image](https://user-images.githubusercontent.com/66754347/195652365-ad5886e2-b2fd-4abf-b864-01ba7700bde6.png)

The docu

[2022-10-13 17:24] perfpcs commented on #30596
@pmonosolo  Yes I agree with you and don't have the answer. I believe it is the catalog/product folder that's the problem. So why is it not excluded by default. Or is it? That is the million dollar question..how to do this????

[2022-10-13 17:25] engcom-November commented on #36243
Verified the issue on Magento 2.4-develop instance and the issue is reproducible. Hence updating description and confirming the issue.

[2022-10-13 17:40] engcom-November commented on #36089
Thank you for the response @densen45 ,
Verified the issue again on Magento 2.4-develop instance with updated steps and the issue is reproducible. Hence confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/195667526-a19f0744-c392-4bd1-9488-9238436e2e05.png)

Thank you.

[2022-10-13 17:43] perfpcs commented on #30596
I will recheck this and get back to you.

thank you.

Best Regards,

Hank Baron

/President and CEO/

<http://performance-pcs.com>

1701 Robert J. Conlan Blvd. NE, Unit #5
Palm Bay, FL 32905, USA
--------------------------------------------------------------------------------------
Toll Free: 888-381-8222 | Phone: 321-725-9969 | Fax: 321-549-5001
---------------------------------------------------

[2022-10-13 18:44] keharper commented on #36246
@engcom-November This issue is asking for clarification of the description of a field in the GraphQL codebase. The description should be updated in the codebase. Just opening a [docs issue](https://github.com/magento/devdocs/issues/9526) is not the correct thing to do.

[2022-10-13 19:32] hostep commented on #36217
Because having 200 cookies on one website is kind of ridiculous, no? Even 50 is already a lot.

As to why the patch exists and hasn't been merged, no idea, maybe the core devs feel te same that 200 is a bit extreme?

[2022-10-13 19:38] hostep commented on #36208
@engcom-Hotel: what was the reason for closing this? Please always specify a reason when closing issues in the future, otherwise it's confusing the people who watch the ticket?
The [PR](https://github.com/magento/magento2/pull/36216) that is supposed to fix this is still open, so that can't be the reason?

/cc @sdzhepa

[2022-10-13 19:40] hostep commented on #35811
@engcom-Bravo: what was the reason for closing this? Please always specify a reason when closing issues in the future, otherwise it's confusing the people who watch the ticket.

/cc @sdzhepa (this closing of issues without specifying a reason happens way too often over here, please talk to all people that do this so it no longer happens, thanks!)

[2022-10-13 19:42] hostep commented on #36188
@engcom-Bravo: what was the reason for closing this? Please always specify a reason when closing issues in the future, otherwise it's confusing the people who watch the ticket.

/cc @sdzhepa (this closing of issues without specifying a reason happens way too often over here, please talk to all people that do this so it no longer happens, thanks!)

[2022-10-13 19:43] hostep commented on #35810
@engcom-Hotel: what was the reason for closing this? Please always specify a reason when closing issues in the future, otherwise it's confusing the people who watch the ticket.

/cc @sdzhepa (this closing of issues without specifying a reason happens way too often over here, please talk to all people that do this so it no longer happens, thanks!)

[2022-10-13 19:43] hostep commented on #36121
@engcom-Bravo: what was the reason for closing this? Please always specify a reason when closing issues in the future, otherwise it's confusing the people who watch the ticket.

/cc @sdzhepa (this closing of issues without specifying a reason happens way too often over here, please talk to all people that do this so it no longer happens, thanks!)

[2022-10-14 02:21] Brengineer commented on #11098
Personally, I refuse to use `!important` or increase specificity except where absolutely necessary, so when I need max-width styles in custom code, I've reverted to one of the following:
1. Avoid using `_extend.less` if possible and use something like `_module.less` if you can.
2. Wherever possible, make your mobile styles "default" and then just override them in the min-width query, since that wo

[2022-10-14 03:52] perfpcs commented on #30596
@pmonosolo What is the path to directory.xml? I've never heard of this file and where it is stored and how to configure fully. Is this even found in Community?

[2022-10-14 05:23] davidandersson1 commented on #35721
HI @engcom-Delta please let us know if there any update on this issue or patch released.

Regards,
David Andersson

[2022-10-14 06:51] t-eichmann commented on #36294
Same here, we are on the latest security patch for 2.4.3, but no mention for that in the security bulletin. Would be nice to at least have a link to the commits that fixed the issue, so that we can check ourselves.

[2022-10-14 06:58] ZIPITRO commented on #36294
Same here, would be good to know which commits where done that fixed them, thanks!

[2022-10-14 07:30] engcom-Hotel commented on #36258
Hello @pmonosolo,

Thanks for the reply!

As you said, your production server is just migrated with PHP 8.1. So I suggest you check your memory_limit configuration in the PHP.ini file. Meanwhile, we are trying to reproduce the issue with a large number of files.

Thanks

[2022-10-14 07:30] zunsakai opened #36296 "Error on refresh when creating new order in admin"
### Preconditions and environment

- Magento version: 2.4.5 (developer mode)
- PHP 8.1
- Mysql 8.0

### Steps to reproduce

1. Install new magento, no sample data, no custom module.
2. In the admin, create a new customer and a new store view
4. Create a new order in admin > Select the customer just created.
5. At the step select store view, refresh page (F5)

### Expected result

Display list stor

[2022-10-14 07:31] seak6adtn59v commented on #35724
Hi @sebfie I think link your provided is for MDVA-44818 which is actually an official magento2 patch for some different problem: https://support.magento.com/hc/en-us/articles/6044536970637

Is there any Magento official version for patch? I checked MDVA-41061-V4 but I do not found it in magento quality patches tool.  @danielrussob could you please check why it is not found in the magento patch too

[2022-10-14 07:37] thomas-kl1 commented on #30596
Hi, Don't remember exactly but when this new feature was out with the new media gallery, the algorithm was a joke. Magento was collecting every files and folders recusively from pub/media and was iterating a second time over this list in order to exclude the files according to the patterns from the configuration.

This PR modification aims to reduce iteration (check for at each level): https://git

[2022-10-14 09:10] engcom-Bravo commented on #36261
@magento give me 2.4.4 instance

[2022-10-14 09:16] engcom-Bravo commented on #36293
@magento give me 2.4.4 instance

[2022-10-14 09:19] engcom-November commented on #36195
Hi @stradd ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-10-14 09:19] #36195 closed, assigned to engcom-November

[2022-10-14 09:20] engcom-Bravo commented on #36296
@magento give me 2.4.4 instance

[2022-10-14 09:21] engcom-November commented on #36215
Hi @alexmtch ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-10-14 09:21] #36215 closed, assigned to engcom-November

[2022-10-14 09:31] engcom-Bravo commented on #36293
@magento give me 2.4-develop instance

[2022-10-14 10:08] NguyenXuanNam commented on #35941
The problem still exists after upgrading magento (from 2.4.3-p2 to 2.4.5-p1) and PHP 8.1
Cannot instantiate interface Magento\AdobeImsApi\Api\ConfigInterface#0 /var/www/html/namnguyen.tech/vendor/magento/framework/ObjectManager/ObjectManager.php(70): Magento\Framework\ObjectManager\Factory\Dynamic\Developer->create()

[2022-10-14 10:35] NguyenXuanNam opened #36297 "Cannot instantiate interface"
### Preconditions and environment

- Magento version 2.4.3-p2  to 2.4.5-p2

### Steps to reproduce

1.composer require-commerce magento/product-community-edition 2.4.5-p1 --no-update
2. composer update
3. bin/magento s:up

### Expected result

Upgrade completed succesfully

### Actual result

Cannot instantiate interface Magento\AdobeImsApi\Api\ConfigInterface#0 /var/www/html/namnguyen.tech/vendor

[2022-10-14 10:36] NguyenXuanNam commented on #36297
![image](https://user-images.githubusercontent.com/14059073/195827209-505ec5ca-ed29-49d2-9634-b0be0896bc2d.png)

[2022-10-14 10:38] NguyenXuanNam commented on #36297
![image](https://user-images.githubusercontent.com/14059073/195827443-5a3b8725-e0cc-45dc-889a-d3698ec86e5f.png)

[2022-10-14 12:43] engcom-Hotel commented on #36269
Hello @c3n21,

We are unable to reproduce the issue in the latest development branch ie 2.4-develop. We are attaching the module which helps us in creating a new group.

Please go through with it and let us know in case of any difficulties:
[Magz.zip](https://github.com/magento/magento2/files/9786356/Magz.zip)

Thanks

[2022-10-14 12:50] engcom-Bravo commented on #36296
Hi @kylepham103,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is not reproducible on both the instances.No Error on refresh when creating new order in admin.Kindly refer screenshots.

Steps to reproduce
1.Install new magento, no sample data, no custom module.
2.In the admin, create a new customer and a new store view
3.Cre

[2022-10-14 12:53] engcom-Bravo commented on #36261
Hi @kiruthika1611,

Thanks for quick Response.

It is recommended to verify issues on latest magento instance and issue is no more reproducible on latest magento instance but it is reproducible on 2.4.4. issue might have got fixed in 2.4-develop.

Kindly upgrade your Magento instance to latest version and please let us know if you are still facing any issue.

Thanks.

[2022-10-14 12:56] engcom-Bravo commented on #36293
Hi @MrBlueEyez,

Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is not reproducible on both the instances.Kindly refer the screenshots.

Steps to reproduce
1.add a product to the shopping cart
2.go to the shopping cart
3.open the checkout

Checkout is Working fine.

<img width="1428" alt="Screenshot 2022-10-14 at 5 53 56 PM" s

[2022-10-14 13:04] yavuz commented on #28132
yes the error is getting isKlarnaOrderUpdateSuccessful. this issue still show in magento 2.4.3.

[2022-10-14 13:41] codebase-md commented on #35306
In our case it was the require-dev section of the root composer.json. It had not been updated to the requirements of 2.4.5 thus working with old versions of phpmd/phpmd which requires composer/xdebug-handler (^1.0). This was blocking the update of composer/composer in our case.

[2022-10-14 13:46] ankitsrivastavacedcoss commented on #36256
@magento give me 2.4-develop instance

[2022-10-14 13:53] Muhamann opened #36298 "MSP reCaptcha not showing in BLOCK register.phtml"
### Preconditions and environment

- Magento version: all

### Steps to reproduce

Enable reCaptcha via Admin Config->Security->reCaptcha for frontend and for account-create-page

Call register.phtml-Block in .phtml file like:

`$this->getLayout()->createBlock("Magento\Customer\Block\Form\Register")->setTemplate("Magento_Customer::form/register.phtml")->toHtml();`

(I guess, the same problem occur

[2022-10-14 14:24] kiruthika1611 commented on #36261
Hi @engcom-Bravo

Thanks for your response.

Regarding this issue,
**Is there any patches available in **Magento Version 2.4.4****

Thanks.

[2022-10-14 16:03] github-jira-sync-bot opened #36299 "Item Qty Goes Negative When Using The Down Arrow Keyboard Key"
**ISSUE:**

Item quantity on shopping cart page goes to a negative number when site visitor uses the arrow down key on their keyboard to change the quantity.

**STEPS TO REPLICATE:**
* Create simple product
* Add product to cart from the frontend
* Place the mouse cursor on quantity for any added item on MiniCart or in Shopping cart.
* Use the arrow down key on your keyboard or the scroll wheel on

[2022-10-14 16:07] github-jira-sync-bot opened #36300 "categoryList Graphql request show 0 product count"
When we use "categoryList" Graphql method to get child categories it shows the 
product_count as 0 for parent categories. This happens when the parent categories are anchored categories. Product counts are shown for these parent categories only when the products are directly assigned to those categories.
 
**Steps to replicate**
1) I was able to replicate the issue on 2.4-develop with sample data

[2022-10-14 16:12] github-jira-sync-bot opened #36301 "Translate inline not working properly for Javascript"
**STEPS TO REPLICATE:**
1. Go to Stores > Configuration > Advanced > Developer > Translate Inline
1. Enable Translate Inline for Admin
1. Change the Admin locale to Japanese
1. Go to Stores > Configuration
1. Click SCRIPT section in the bottom.
 ![](Screenshot 2022-06-16 104032.png|thumbnail)
1. Update script by adding to the middle "ボスニア語", so the text would be "There is already another PayPal so

[2022-10-14 16:12] #36301 closed, assigned to nobody

[2022-10-14 16:13] magefast commented on #12412
2k22 but issue still exist in Magento 2.4 :(

My solution for fix bug.

**etc/di.xml**

[code]

**CatalogUrlRewrite/Model/ProductUrlPathGenerator.phpProductUrlPathGenerator.php**

[code]

[2022-10-14 16:19] github-jira-sync-bot opened #36302 "Grid Custom view getting changed"
**ISSUE:** 

The list of the visible columns didn't save for custom view

**STEPS TO REPLICATE**
1. Go to product grid
1. Open "columns"
1. Try to click to any column name (not to checkbox)

**EXPECTED RESULTS:**

Checkbox changes state

**ACTUAL RESULTS:**

Checkbox didn't change the state, columns box  disappears

[2022-10-14 16:19] #36302 closed, assigned to nobody

[2022-10-14 16:26] github-jira-sync-bot opened #36303 "Unusual URL for a Product Page Cause SEO Issue"
**ISSUE:**
URL-rewrite rules disappear at visibility change

**STEPS TO REPLICATE:**
 - Install clean 2.4-develop
 - Create a simple product
 - Go to Marketing > SEO and Search > Url Rewrites and observe that a rule with "Target path = catalog/product/view/id/1" has been created (1 is the ID of the product)
 - After saving the product, switch the scope from "All Store Views" to "Default Store View

[2022-10-14 16:26] #36303 closed, assigned to nobody

[2022-10-14 17:30] engcom-November commented on #36230
Hi @Tomasito665 ,
Thank you for the response. The [issue](https://github.com/magento/devdocs/issues/9523) raised by me in [devdocs]([repository](https://github.com/magento/devdocs/)) repository has been closed.
Reason: They are currently working on updating the navigation on the devdocs home page to point to new locations and will not implement redirects on devdocs until they finish migrating all

[2022-10-14 17:30] #36230 closed, assigned to Tomasito665, engcom-November

[2022-10-14 17:32] perfpcs commented on #30596
OK, I have to thank you guys because Magento has never made any of this clear. Catalog Products is NOT excluded by default. So with the suggestion from @pmonosolo my directory.xml now looks like this:

<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_MediaGalleryApi:etc/directory.xsd">
    <exclude>

[2022-10-14 17:34] engcom-November commented on #36295
@magento give me 2.4-develop instance

[2022-10-14 17:44] pmonosolo commented on #30596
@perfpcs This should be excluded, but I dont know why it's not.

Magento 2.4.3 had this file explained, but Adobe has killed the documentation on directory.xml for some reason - I cant find it anywhere.

If you grep -r "</exclude>" vendor/magento you will see that there are a bunch of files that are doing this exclusion. So this "feature" is still a thing in 2.4.5.

You can set up more folders if

[2022-10-14 17:52] engcom-November commented on #36295
Verified the issue on Magento 2.4-develop instance but the issue is reproducible. Hence confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/195909994-f639439f-f1c1-4db5-a0b2-0a836789c0e7.png)

[2022-10-14 18:00] perfpcs commented on #30596
@pmonosolo  thank you for this. No that didnt work. Still Catalog/category is showing:

![image](https://user-images.githubusercontent.com/22109696/195911263-d681e181-6e1c-4fd5-b581-92a4ef25bea6.png)

[2022-10-14 18:19] engcom-November commented on #36294
Hi @Hurrpadurr , Thank you for reporting and collaboration.
Magento Commerce versions 2.4.2 (and earlier), and 2.3.7 (and earlier) are affected by a stored cross-site scripting vulnerability and its mention can be found in the release notes of Magento [2.4.2](https://devdocs.magento.com/guides/v2.4/release-notes/open-source-2-4-2.html) and [2.3.7.](https://devdocs.magento.com/guides/v2.3/release-n

[2022-10-15 04:08] perfpcs commented on #30596
So I've done more testing and and now even more confused. Seems maybe this was already fixed in 2.4.5 or now I am on 2.4.5-p1 but, the tree does work now. Problem is, directory.xml seems to have no function. No matter how I edit this file even excluding wysiwyg, etc, nothing ever changes with the tree. Matter of fact I've even deleted the directoryy.xml file and still the tree generates but nothin

[2022-10-15 12:59] thomasmyladoor opened #36305 "Product Add"
### Preconditions and environment

- Magento version 2.4.5

- Anything else that would help a developer reproduce the bug

The Brand field unable to type the value.....

### Steps to reproduce

Add product ...

Unable to input Brand value so I cant save the product

### Expected result

Unable to add product

### Actual result

Error
![Screenshot 2022-10-15 135449](https://user-images.githubuserco

[2022-10-15 14:55] #36305 closed, assigned to nobody

[2022-10-15 14:55] thomasmyladoor commented on #36305
f

[2022-10-15 14:57] thomasmyladoor commented on #36305
mistate

[2022-10-15 18:53] Detzler commented on #23618
Confirm bug.

According to the exception.log on our production store, this error never appeared to our customers. It suddenly somehow appeared to my own customer account while testing around. I actually don't know how to reproduce the error. In the last days I played with creating cart as guest, logging in/out, complete/abort paypal checkout payments.

This fix by @ssstankiewicz did it, thx:
https

[2022-10-16 13:33] marwan-corals commented on #34502
Any updates on this issue !!

Product sorting using category position not working !!

[2022-10-16 16:15] vipin12117 commented on #34502
See solution provided by me.

On Sun, Oct 16, 2022, 7:03 PM marwan-corals ***@***.***>
wrote:

[2022-10-17 03:05] alexwatever commented on #9066
I am coming across a similar (if not the same) issue for Magento version 2.4.5

[2022-10-17 03:05] alexwatever commented on #9066
@magento give me 2.4-develop instance

[2022-10-17 03:18] alexwatever commented on #9066
I'm not able to reproduce it with the provided instance so I will investigate further in our build.

[2022-10-17 04:40] mvenghaus opened #36308 "LastOrderedItems - Product NoSuchEntity should not be logged as exception"
### Preconditions and environment

- Magento 2.4.5-p1

### Steps to reproduce

- order any product as a customer.
- delete the product in admin.
- login as customer

### Expected result

no exception log

### Actual result

exception is logged

### Additional information

Since it is possible to delete a product it's a valid case that an ordered product is no longer available. This case should not

[2022-10-17 06:17] engcom-Bravo commented on #36149
Hi @kamranzafar1,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-17 06:17] #36149 closed, assigned to engcom-Bravo

[2022-10-17 06:56] Dhaval410 opened #36309 "Undefined value sets in the variant's sku"
### Preconditions and environment

- Magento version: 2.4.5
- Add sample data by using this command _bin/magento sampledata:deploy_

### Steps to reproduce

1. Go to the Stores menu -> select 'Attribute set' under the Attributes section.
2. Select any one attribute set from the list and it will open.
3. Move any group to the top above the 'Product Details' group in the group section like in the be

[2022-10-17 08:06] engcom-Hotel commented on #35456
Hello @pawel-siejba,

I agree with your suggestion and hence the current behavior does not create any bugs or issues, we are moving this ticket for further processing as a feature request.

Thanks

[2022-10-17 08:09] #30740 closed, assigned to nobody

[2022-10-17 08:44] Tomasito665 commented on #36230
Hi @engcom-November,

Thanks for your response. The issue you describe is about building in redirects from the old to the new URLs, which is related but different than the issue described in this issue. In this issue, I refer to the URLs in this repository, magento2, which point to the old URLs. The pull request I opened updates all links to their new locations, removing the need to redirect at al

[2022-10-17 09:39] engcom-Bravo commented on #36309
@magento give me 2.4-develop instance

[2022-10-17 10:25] rutvik-monpara opened #36312 "Magento 2.4.5 Layer Navigation not working with Display Out of Stock Products = YES"
### Preconditions and environment

- Magento version 2.4.5
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

Go to **Stores -> Configuration -> Catalog -> Inventory -> Display Out of Stock Products = YES**
Now Try to filter products on the category page.

### Expected result

Products with filter.

### Actual result

All products display.

### Additional inform

[2022-10-17 10:29] engcom-Bravo commented on #36308
@magento give me 2.4.5 instance

[2022-10-17 11:13] engcom-Lima commented on #36138
HI @antoniocarboni ,

Thanks for your contribution and collaboration.

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-10-17 11:13] #36138 closed, assigned to engcom-Lima

[2022-10-17 11:14] engcom-Lima commented on #36213
Hi @webgility-amazonapi ,

Thanks for your contribution and collaboration.

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-10-17 11:14] #36213 closed, assigned to engcom-Lima

[2022-10-17 11:32] engcom-Lima commented on #36312
@magento give me 2.4.5 instance

[2022-10-17 11:36] chinhmv95 opened #36314 "Quote removeErrorInfosByParams not working properly"
### Preconditions and environment

- Magento version : 2.4.3 Enterprise Edition

### Steps to reproduce

1. add Error Info to Quote:
`$quote->addErrorInfo(
                'abcdef',
                'abcdef',
                999,
                __('Sorry, Has some error')
            );`
2. remove Error Info By Params
`$quote->removeErrorInfosByParams('abcdef', ['origin' => 'abcdef', 'code' => 999

[2022-10-17 11:36] chinhmv95 commented on #36314
@magento I am working on this

[2022-10-17 11:37] chinhmv95 commented on #36314
@magento add to contributors team

[2022-10-17 11:40] chinhmv95 commented on #36314
@magento I am working on this

[2022-10-17 11:43] ARemaity commented on #9609
I tried to change the three flags ( is_used_in_grid, is_filterable_in_grid, is_searchable_in_grid) but with no luck , even after deleting the whole module i was still getting the error , i check table eav_attribute to get the my eav Primary ID then check again with this id in table customer_eav_attribute and change three column is_used_in_grid ,is_filterable_in_grid,and is_searchable_in_grid to ze

[2022-10-17 11:50] nhatlich994 opened #36315 "Discount is incorrect (Magento 245 CE)"
### Preconditions and environment

Magento 245 CE

### Steps to reproduce

1. Create two products A and B
2. Set Discount product A is percent 5% for each.
3. Go front end and add both A and B to cart
4. View Summary in Shopping Cart

### Expected result

Order Total cost is correct

### Actual result

Order Total is incorrect due to Discount is calculated by subtotal instead of product A price on

[2022-10-17 11:55] engcom-Bravo commented on #36309
Hi @Dhaval410,

Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is reproducible on both the instances.We are getting Undefined value sets in the variant's sku. Kindly refer the screenshots.

Steps to reproduce:

1.Go to the Stores menu -> select 'Attribute set' under the Attributes section.

2.Select any one attribute set from

[2022-10-17 12:03] glo35082 commented on #35810
Issue resolved. Empty SKU will no longer be allowed.
<img width="1064" alt="Screenshot 2022-10-17 at 5 24 01 PM" src="https://user-images.githubusercontent.com/104774199/196172276-8c30e53d-5b08-4c7a-8a7a-b89789af5cf0.png">

[2022-10-17 12:06] MartinKonVis commented on #35967
We got a similar problem. The same setings like above.
Shopping cart rules and table rates seems not longer to work?

We had not used the free shipping method. We used shopping cart rules only to reduce the shipping cost of table rates too "free"/0€. Before the update the table rates shipping methods showed corretcly"0€" for shipping (when conditions are met).

After the update the free shipping i

[2022-10-17 12:07] engcom-Bravo commented on #36261
Hi @kiruthika1611,

Thanks for quick Update.

There are no patches available in Magento Version 2.4.4 related to this.

Kindly Upgrade to Magento Latest Version 2.4.5.Please let us know if you are still facing any issue.

Thanks.

[2022-10-17 12:10] engcom-Lima commented on #36312
:heavy_check_mark: Issue confirmed

Issue got reproduced in **2.4-develop** & **2.4.5** M2.

**Description:** Layered navigation is not working when Display out of stocks products set to yes.

**Pre-requisite:**
Fresh magento `2.4-develop` and `2.4.5` should be installed.
Products and categories should be created.

**Steps to reproduce:**
Go to Stores -> Configuration -> Catalog -> Inventory -> Di

[2022-10-17 12:29] kiruthika1611 commented on #36261
Hi @engcom-Bravo

Thank you for your response

Thanks.

[2022-10-17 13:33] gwharton opened #36317 "/pub/errors/.htaccess is not Apache 2.4 compliant"
### Preconditions and environment

- 2.4-develop

### Steps to reproduce

https://github.com/magento/magento2/blob/49bd70677e2a65755b82ac81f5b561b01f14fce1/pub/errors/.htaccess#L2-L4

### Expected result

Deny call is not valid in Apache 2.4

See other .htaccess files for reference.
https://github.com/magento/magento2/blob/49bd70677e2a65755b82ac81f5b561b01f14fce1/pub/.htaccess#L207-L215

### Actua

[2022-10-17 14:25] engcom-November commented on #36082
Hi @frvoya ,
Thank you for reporting and collaboration. Verified the issue by installing Magento 2.4.5 with PHP version (8.1.10) but the issue is not reproducible. Magento installation working fine and able to access both admin and storefront pages. Kindly check for system [requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html) and 3rd party extensions / module

[2022-10-17 14:29] frvoya commented on #36082
Hello,

Thank you for your email. Yes we found the issue, The problem is related to changing the default path upload_tmp_dir in PHP-FPM setting.
Regards,
Frederic

De : Girija Bhavani ***@***.***>
Envoyé le :lundi 17 octobre 2022 16:26
À : ***@***.***>
Cc : ***@***.***>; ***@***.***>
Objet :Re: [magento/magento2] PHP Fatal error: Uncaught TypeError: str_replace(): Argument #3 ($subject) must be of

[2022-10-17 14:34] Viper9x commented on #36295
@magento I am working on this

[2022-10-17 14:54] angelo983 commented on #36279
@magento give me 2.4-develop instance

[2022-10-17 15:17] engcom-November commented on #36317
Hi @gwharton , Thank you for reporting and collaboration.
Verified the behavior on Magento 2.4-develop instance and is reproducible. I believe here no IfVersion checks are required  as this is not version dependant configuration. In this case Deny call is still Apache 2.4 compliant.
https://httpd.apache.org/docs/2.4/mod/mod_access_compat.html. Kindly recheck and confirm if we are missing anything

[2022-10-17 15:19] engcom-Hotel commented on #35820
Hello @Nuranto,

I have tried to debug this in detail and for me, the cache path is `var/cache`:

<img width="1431" alt="image" src="https://user-images.githubusercontent.com/51681618/196215405-ca5a8047-7085-49ef-b394-3e55ea300b49.png">

I have also observed that in order to save the cache it is using the below method from [colinmollenhour](https://github.com/colinmollenhour/Cm_Cache_Backend_File)

[2022-10-17 15:25] gwharton commented on #36317
Right,

I see.

Given all other .htaccess files in Magento use the IfVersion call I would have thought that this one should too, to avoid having the dependency on the mod_access_compat module, which isn't listed as a requirement.

I'm not gonna die in a ditch over it, as I'll just enable the module, but there seems to have been an effort in the other .htaccess files to not require the compat modul

[2022-10-17 15:36] Nuranto opened #36319 "UI Grid - Cannot move Action column"
### Preconditions and environment

- Magento version 2.4.5

### Steps to reproduce

1. Add a custom column to sales order grid
2. Try to move Action column to the end of table

### Expected result

Either the action column stay the last column, even if we add columns, which is not the case.
Either we should be able to move it as any columns.

### Actual result

New column is added as last column,

[2022-10-17 15:55] Nuranto commented on #35820
Yes, in my case, as specified in my first message, we are using L2 caching, with basic configuration took from the docs, with this line :
[code]
But I don't think the cache location matters for this issue.

For the `$hash` being empty, I'm also not sure if this is relevant. In my previous message, you can see that this data is also an empty string : `s:4:"hash";s:0:""`.

But if you're looking ther

[2022-10-17 17:21] engcom-November commented on #36297
Hi @NguyenXuanNam ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance but the issue is not reproducible with below steps performed:
1. Installed magento 2.4.3-p2 instance with PHP 7.4 active version
2. Upgraded to 2.4.5-p1 project-community-edition as per [upgrade guide](https://experienceleague.adobe.com/docs/commerce-operations/upgrade-guide/implementa

[2022-10-17 17:50] Muhamann commented on #36298
Hello? :)

[2022-10-17 19:38] EvanRijn commented on #35707
Is there a patch for this one ? Or do we need to develop a patch?

[2022-10-17 19:38] arnobsh commented on #36271
Hi, Internal core team is working on this issue. Thanks

[2022-10-17 23:49] alexwatever commented on #36312
We're also seeing this after upgrading to 2.4.5-p1

[2022-10-18 05:12] engcom-November commented on #35915
We are closing this issue as this was created for GitHub synchronization testing.
Thank you.

[2022-10-18 05:12] #35915 closed, assigned to engcom-November

[2022-10-18 05:18] engcom-November commented on #35916
We are closing this issue as it was created for GitHub synchronization testing.
Thank you.

[2022-10-18 05:18] #35916 closed, assigned to engcom-November

[2022-10-18 06:09] Jinnah34 commented on #31558
I also received the same error and invested four days rectifying it.

I also tried the above solution, i.e., commenting the line under install function from vendor/magento/module catalogue rule sample data/setup/installer.php and vendor/magento/module sales rule sample data/setup/installer.php. It too worked, but only temporarily. Because after following the above procedure, you cannot see the pro

[2022-10-18 06:33] engcom-November commented on #36167
Hi @francisco-serfe ,
Thank you for reporting and collaboration. "sebastian/comparator" is a 3rd party package / library that doesn't come along with latest / default Magento installation. Code of this package is not part of https://github.com/magento/magento2 git repository. We are closing this issue as community is not able to provide fix for it in this repository. All questions, issue reports a

[2022-10-18 06:39] pimjansen commented on #36312
Also experiencing this. Is there already a solid patch?

[2022-10-18 08:10] engcom-Bravo commented on #36315
@magento give me 2.4-develop instance

[2022-10-18 08:13] gkopec commented on #31920
Is there any patch for that?

[2022-10-18 08:23] pkarsai commented on #31920
@gkopec, I created this from the PR:

[code]

[2022-10-18 09:33] DanK894 commented on #35810
@glo35082  I propose to create a new notification/error to notify the user that "SKU" is required.

I can also prevent the "SKU" attribute from being made optional.

[2022-10-18 10:00] engcom-November commented on #36317
Thank you for the response @gwharton. We are confirming this issue as there is inconsistency among .htaccess files. Behavior should be same among all .htaccess files.
mod_access_compat module is enabled by default in httpd.conf file and is not listed as a requirement and if no version check is made (Ex: pub/errors/.htaccess), .htaccess file require mod_access_compat.

[2022-10-18 10:03] renttek commented on #34562
"High Priority Backlog" does not seem that highly prioritized

[2022-10-18 10:18] engcom-November commented on #36174
Confirming this issue as execution of getAttributeText() several times would lead to performance issues with high DB loads.

[2022-10-18 10:24] engcom-November commented on #36082
Thank you for the response @frvoya . We are closing this issue as its not reproducible with default installation / upgrades.

[2022-10-18 10:24] #36082 closed, assigned to engcom-November

[2022-10-18 10:27] melvinversluijs commented on #36312
For anyone running into this issue, it seems to have been fixed on the `2.4-develop` branch. https://github.com/magento/magento2/commit/a9170022cce29993e586ffaa6f4c1cc357ee3b11

[2022-10-18 10:40] Viper9x commented on #31920
@gkopec The fix for this issue was accidentally removed in magento 2.4.4 and 2.4.5. I've created a pull request for that: https://github.com/magento/magento2/pull/36177

You can use this patch for 2.4.5: https://github.com/magento/magento2/commit/847c7997143d3c90b26f94480a9fe202f499faf7.diff

[2022-10-18 11:13] RajasekarPanneerselvam commented on #35812
@magento give me 2.4-develop instance

[2022-10-18 11:20] engcom-Hotel commented on #36312
Hello,

As the issue has already been fixed and merged in the below PR:

https://github.com/magento/magento2/pull/35986

You can use the below patch in order to fix this issue for your instance:

https://github.com/magento/magento2/commit/a9170022cce29993e586ffaa6f4c1cc357ee3b11

We are closing this issue.

Thanks

[2022-10-18 11:20] #36312 closed, assigned to nobody

[2022-10-18 11:57] engcom-Hotel commented on #36145
Hello @dongyi-chun,

Thanks for the report!

As I mentioned earlier also that `amasty/module-xcoupon` and `Mageplaza_RequestForQuote` are not maintained by Magento. But still, I need to ask you in which scenario/use case this plugin can return null.

This will help in identifying if this issue is related to Magento or some third-party extensions.

Thanks

[2022-10-18 12:06] dphilipps opened #36322 "Currency Symbol Disappears on Product View Page on 2.4.5-p1"
### Preconditions and environment

- Magento 2.4.5-p1

### Steps to reproduce

- Visit any product page
- Currency symbol appears eg - $1.00
- Wait untill page fully load.
- Currency symbol disappear eg - 1.00

### Expected result

Currency Symbol to remain displayed.

### Actual result

Currency symbol disappears

### Additional information

This appears to be a reverted issue: https://github.com

[2022-10-18 12:07] dphilipps commented on #36322
@magento give me 2.4-develop instance

[2022-10-18 12:08] mohammedTBB commented on #36145
Hi @dongyi-chun

I have managed to fix the error by applying a patch from Amasty for the plugin coupons.
Hope it helps!

Plus Consider updating the plugin, this patch may be included in the last version.

[code]

[2022-10-18 12:16] pramodjadhav1419 commented on #29759
Any Solution for this issue because i am still facing this issue. The csv generated inside var/export is generated with root owner.

[2022-10-18 12:17] dongyi-chun commented on #36145
Basically this is originated by latest PHP's null param issue.
So, I've workaround by creating a null check in Form class which was just empty.
[code]
FYI, Mageplaza's support is not good, they are not interested about version compatibility issues. :(

[2022-10-18 12:22] dphilipps commented on #36322
Hi @engcom-Bravo
I'm unable to reproduce this on 2.4-develop instance.  I am seeing this behaviour on a store upgraded from 2.4.3 where the issue existed but was patched.  Shall I close this issue? I've seen another user report same issue on the previous issue: https://github.com/magento/magento2/issues/33856

[2022-10-18 12:31] engcom-Bravo commented on #36315
Hi @psydog-1101,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is not reproducible on both the instances.Discount is correctly populated.Kindly refer the screenshots.

<img width="1059" alt="Screenshot 2022-10-18 at 2 05 55 PM" src="https://user-images.githubusercontent.com/51680745/196422573-4b353be9-8088-47c3-8dd4-78a4289

[2022-10-18 12:32] ihor-sviziev commented on #31920
Re-opened since it was reverted. https://github.com/magento/magento2/issues/31920#issuecomment-1253711103

[2022-10-18 13:21] mvenghaus commented on #36308
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Sales/CustomerData/LastOrderedItems.php#L138

here you can clearly see that there is an exceptiion when the product does not exist!?

[2022-10-18 13:29] engcom-Bravo commented on #36322
Hi @dphilipps,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.Current symbol remain displayed.

This issue is already got fixed in 2.4 develop branch.Kindly check [here](https://github.com/magento/magento2/issues/33856#issuecomment-946761019).

Hence we are closing this issue as cannot reproduce.

Thanks.

[2022-10-18 13:29] #36322 closed, assigned to engcom-Bravo

[2022-10-18 13:31] m2-assistant[bot] opened #36324 "[Issue] Adjusted docblock"
This issue is automatically created based on existing pull request: magento/magento2#36114: Adjusted docblock

---------
### Description (*)
Adding docblock to `Magento/Quote/Model/Quote::setIsVirtual()`. `setIsVirtual()` is not present in `\Magento\Quote\Api\Data\CartInterface` so the `@inheritdoc` does not work.

### Fixed Issues (if relevant)
Rest API calls fail with an error about missing docb

[2022-10-18 15:08] johncarlson21 commented on #36279
@magento give me 2.4-develop instance

[2022-10-18 15:11] bitumin commented on #36068
Hi @mklooss is there any reason why Magento paypal does not allow to send line item+shipping info to paypal (once user initiates paypal express payment from product page/minicart) ? I am seriously considering to send that info even if prices include tax, since I suspect it will prevent 10486 paypal errors related to paypal not knowing in advance the shipping rate.

[2022-10-18 16:48] pmonosolo commented on #36258
@engcom-Hotel

Our memory limit is up already to 8GB.

There are similar threads on this topic:
https://github.com/magento/magento2/pull/35404

[2022-10-18 19:52] hmolinari-attentive opened #36326 "Magento creates two oauth tokens for the same oauth consumer"
### Preconditions and environment

- Magento version

2.4.4 (Adobe Commerce on cloud infrastructure)

- Anything else that would help a developer reproduce the bug

### Steps to reproduce

1. Create an integration (Doesn't matter if manually created through admin or installed through a module), set the callback and identity-link URLs so that messages sent to them can be seen.
2. Authorize the inte

[2022-10-18 21:21] #34991 closed, assigned to novakivskiy

[2022-10-18 21:21] #25676 closed, assigned to karyna-t

[2022-10-18 21:32] BernardRobbins-BMediaLLC commented on #36062
I had a dev run into this too. They ran `bin/magento sampledata:remove`.

Undefined constant "MagentoHackathon\Composer\Magento\Deploystrategy\GLOB_BRACE"

They're on Den which is using
Alpine 3.16.2
PHP 8.1.11
M2.4.5-p1

[2022-10-18 21:50] ghost opened #36327 "Different validation between attribute creation and update via REST API"
### Preconditions and environment

-  Magento 2.4.4,2.4-develop
- REST API access
- Create Product attributes with options through rest API

### Steps to reproduce

Issue a request following these criteria
- Request method: POST
- Endpoint: /rest/V1/products/attributes
- example Body:
{
"attribute": {
"is*wysiwyg*enabled": false,
"is*html_allowed_on*front": false,
"used*for_sort*by": false,
"is_fi

[2022-10-19 02:00] psydog-1101 commented on #36315
@magento give me 2.4-develop instance

[2022-10-19 02:38] psydog-1101 commented on #36315
Hi @engcom-Bravo , I confirm that discount is correct. It is something missing with my testing formula. Thank you for your confirmation. Please close this issue.

[2022-10-19 06:12] engcom-Bravo commented on #36236
HI @lucbard,

To deploy vanilla Magento instance, please add a comment to this issue: "[@magento](https://github.com/magento) give me 2.4-develop instance".

Kindly recheck the issue on Magento 2.4-develop instance.

Thanks.

[2022-10-19 06:30] t-eichmann commented on #36294
The link you provided for the patch gives me a 404 not found, would be nice if you could update the link or provides the commit IDs.

[2022-10-19 06:45] mlaurense commented on #36294
Getting a 404 on the link to the patch

[2022-10-19 06:46] t-eichmann commented on #36294
Try this one: https://experienceleague.adobe.com/docs/commerce-knowledge-base/kb/troubleshooting/known-issues-patches-attached/0-day-vulnerability-patch.html?lang=en

[2022-10-19 06:50] mlaurense commented on #36294
I think i found it here: https://experienceleague.adobe.com/docs/commerce-knowledge-base/kb/troubleshooting/known-issues-patches-attached/adobe-commerce-2.4.3-p2-2.4.5-security-hotfix-for-cve-2022-35698.html?lang=en

[2022-10-19 06:51] t-eichmann commented on #36294
Sorry, my mistake, didn't pay as much attention as I should have.

[2022-10-19 07:11] engcom-Bravo commented on #36315
Hi @psydog-1101,

Thanks for quick update.

We are closing this issue as per your comment.

Thanks.

[2022-10-19 07:11] #36315 closed, assigned to engcom-Bravo

[2022-10-19 07:15] hostep commented on #36294
Yeah indeed, I see why they wanted to change the url (since the version numbers it contained were incorrect), but they really should have added a 301 redirect from the old url to the new one. Even basic CMS systems (like the one from Magento itself) can handle such things, no idea why that Adobe ExperienceWhatever can't do it ...

[2022-10-19 08:54] cptX commented on #35319
Hi, please correct me if my input is wrong or irrelevant. I'm strugling to find a solution for an option of a configurable product to be striked-through instead of normally displayed in case it is out-of-stock. After a lot of searching I ended up to this patch MDVA-34850 here https://experienceleague.adobe.com/tools/commerce-quality-patches/index.html
But I checked my 2.4.5 community installation

[2022-10-19 09:42] engcom-Bravo commented on #36327
@magento give me 2.4-develop instance

[2022-10-19 09:44] achourey opened #36328 "Category Permission Validation with REST API on Magento 2.4.4-p1 (EE)"
### Preconditions and environment

- Adobe Commerce 2.4.5-p1 & 2.4.4-p1
- The "Category Permission" feature is not working with REST API

### Steps to reproduce

1. Enable Category permission from "Stores >> Configuration >> Catalog >> Catalog >> Category Permissions" with "Yes for everyone" option to allow categories, add to cart etc . Because this feature is not enabled by default.
2. Go to any

[2022-10-19 09:46] engcom-Lima commented on #36273
@magento give me 2.4-develop instance

[2022-10-19 10:33] rutvik-monpara commented on #36312
Layer navigation working fine using [#35986](https://github.com/magento/magento2/pull/35986)
But, the product count is displayed wrong.
![image](https://user-images.githubusercontent.com/115232682/196667808-5436d4b3-92e3-408d-b606-deb62e13b4f8.png)

[2022-10-19 10:52] rutvik-monpara commented on #36312
@engcom-Hotel please reopen an issue.

[2022-10-19 12:17] #36139 closed, assigned to engcom-Dash

[2022-10-19 12:18] engcom-Dash commented on #36106
Hi @mohammadbharmal ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-19 12:18] #36106 closed, assigned to engcom-Dash

[2022-10-19 12:18] engcom-Dash commented on #36127
Hi @khalidbony ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-19 12:18] #36127 closed, assigned to engcom-Dash

[2022-10-19 12:19] engcom-Dash commented on #36136
@magento give me 2.4-develop instance

[2022-10-19 12:22] engcom-Dash commented on #35812
@magento give  me 2.4-develop instance

[2022-10-19 12:24] engcom-Dash commented on #35812
@magento give me 2.4-develop instance

[2022-10-19 12:37] engcom-Bravo commented on #36327
Hi @mansourwalid,

Thank you for reporting and collaboration.Verified the issue on Magento 2.4-develop instance.

We have used this body for attributes

{
 "attribute": {
   "is_wysiwyg_enabled": false,
   "is_html_allowed_on_front": false,
   "used_for_sort_by": false,
   "is_filterable": true,
   "is_filterable_in_search": true,
   "is_used_in_grid": true,
   "is_visible_in_grid": false,
   "is_

[2022-10-19 12:38] engcom-Dash commented on #35812
Hi @Hexmage ,

As per your instructions we enabled varnish on the server before upgrade...Even though we getting the same results.

Screenshots:
<img width="1512" alt="Screenshot 2022-10-19 at 6 01 28 PM" src="https://user-images.githubusercontent.com/60198592/196691921-24171789-519d-40a9-be02-7183360f4d2d.png">

Let us know if we missing anything!!!

Thanks!

[2022-10-19 12:40] Hexmage commented on #35812
@engcom-Dash
I've had the issue happen to multiple different shops between 2.4.4 and 2.4.5. But I have no clue how the effectively reproduce it on a clean installation.

[2022-10-19 12:41] engcom-November commented on #36249
Hi @doanhpv-0200 ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-10-19 12:41] #36249 closed, assigned to engcom-November

[2022-10-19 13:25] engcom-Dash commented on #36136
Hi @leonhelmus ,

As per description we are added block...and we are getting the result is "The block "custom" gets rendered as html".

Let us know if we missing anything!!!

Thanks!!!

[2022-10-19 13:28] engcom-Dash commented on #36161
Hi @nbennett25 ,

Thanks for your contribution...

Currently we are supporting with 2.4 develop versions...Kindly upgrade the version.Because it's very easy to proceed to further.

Thanks

[2022-10-19 14:26] leonhelmus commented on #33826
@hostep  was this resolved in 2.4.5?

[2022-10-19 14:53] pimjansen commented on #36312
Indeed. Over here also the filtering is still broken. Getting less results than expected

[2022-10-19 15:10] mansourwalid commented on #36327
Hi @engcom-Bravo , thanks for checking out this issue.
I explicitly mentioned in the example I made that the frontend input time is "text" and not a select.
We dont need the attribute to be a select.

Can you test with such case please ?

[2022-10-19 15:37] nathanjosiah commented on #36294
The URL was changed and we found out that the platform somehow doesn't support URL redirects.
Here is the new one [https://experienceleague.adobe.com/docs/commerce-knowledge-base/kb/troubleshooting/known-i[…]-2.4.3-p2-2.4.5-security-hotfix-for-cve-2022-35698.html](https://experienceleague.adobe.com/docs/commerce-knowledge-base/kb/troubleshooting/known-issues-patches-attached/adobe-commerce-2.4.3-p

[2022-10-19 15:38] #36294 closed, assigned to engcom-November

[2022-10-19 16:32] nbennett25 commented on #36161
@engcom-Dash did you review my comment on 9/21? This may still be an issue with 2.4.x if the` magento/module-paypal-recaptcha` and `msp/recaptcha` module versions have not changed.

[2022-10-19 16:56] benyatesvortex commented on #35535
I've had this same issue with more or less the exact experience as @craig-bartlett . This is a bug in the code and the ticket needs reopening.

One thing I would add, you can generate the error by running bin/magento catalog:image:resize (I saved time by hardcoding the particular image I was having trouble with)

[2022-10-19 17:07] rhoerr opened #36332 "CC validation incorrectly identifies some cards as Maestro Domestic"
### Preconditions and environment

- Magento version 2.4.5-p1
- A payment method that uses Magento's native `'Magento_Payment/js/model/credit-card-validation/credit-card-number-validator` credit card number validator/type detection

### Steps to reproduce

1. Go to checkout
2. Select payment method that uses Magento native type detection and CC validation
3. Enter card number "4111 6767 7011 1115"

[2022-10-19 18:36] nithinreddyb opened #36333 "Cart Price Rules Usage limit error"
### Preconditions and environment

1. We are using Magento 2.4.5-p1 Enterprise/Commerce Edition with PHP 8.1
2. MySQL 8.0
3. Ubuntu 20.04 LTS
4. nginx 1.18
5. Trying to limit the usage of cart price rule.

### Steps to reproduce

1. In Marketing->Promotions->Cart Price Rules->Add New Rule.
2. I have provided the Rule Name, Description, set the rule as 'Active', selected 'Main Website', selected al

[2022-10-19 18:45] andrewbess commented on #36084
Hello @ioweb-gr
The `sku` is not attribute. This is field in `catalog_product_entity` table and is different from attribute in EAV conception.
For example from issue please use
```$productRepository->save($product);```
or
```$productResource->save($product);```
But I recommend first way.

I am sure this is not bug and issue can be closed.

[2022-10-19 18:45] #36084 closed, assigned to nobody

[2022-10-19 19:44] dtavieres commented on #35978
Hello again, @engcom-Delta, is there any news about this fix ?
thank you

[2022-10-19 21:27] ioweb-gr commented on #36084
So what is the recommended way to update only one field or static attribute without saving the whole model?

Shouldn't there be an equivalent for those fields as well like saveField or something?

If not, shouldn't there be a documented way to do this properly and efficiently as it apparently affects all static attributes or fields which are saved in any entity on a table column and not in eav str

[2022-10-20 04:29] engcom-November commented on #36332
@magento give me 2.4-develop instance

[2022-10-20 05:13] engcom-November commented on #36332
Hi @rhoerr ,
Thank you for reporting and collaboration. Verified the behavior on Magento 2.4-develop instance and Maestro Card is not listed as supported payment card when configuring credit card payments (Checked for all payment methods Ex: payflow pro, payments pro). Hence above mentioned card details are not working on store-front.
![image](https://user-images.githubusercontent.com/60198231/196

[2022-10-20 05:22] engcom-November commented on #36328
@magento give me 2.4-develop instance with edition ee

[2022-10-20 07:07] m2-assistant[bot] opened #36334 "[Issue] Fix best practice "Asynchronous order data processing" for auto invoiced orders"
This issue is automatically created based on existing pull request: magento/magento2#36224: Fix best practice "Asynchronous order data processing" for auto invoiced orders

---------
# Description

Configuring order grid async indexing is meant to be a pretty quick win.

Configuring this value means we can still take orders and let the cron job be responsible for populating the admin tables, but u

[2022-10-20 07:18] subbu1993 commented on #36333
@magento-engcom-team Give me 2.4.5 instance

[2022-10-20 07:22] subbu1993 commented on #36333
@magento give me 2.4.5-p1 instance

[2022-10-20 07:48] seak6adtn59v commented on #35724
Where is this patch for Magento Open Source?

@danielrussob could you please reply about the patch ? or open source community need to live with this error until Magento 2.4.6 release?

[2022-10-20 08:03] speedupmate commented on #33826
@leonhelmus yes this is resolved in 2.4.5

[2022-10-20 08:40] engcom-Hotel commented on #35149
Hello @sheepfy,

We have tried to reproduce the issue in Magento's 2.4-develop branch with `siege` but the issue is not reproducible for us. The command which we are running is as follows:

[code]

Content of nr_siege.txt:

[code]

But for us, there is no error log in the database log file, and below is the output of the `siege` command:
<img width="1043" alt="image" src="https://user-images.githu

[2022-10-20 08:55] sheepfy commented on #35149
Try this:
start 2 api requests with xdebug on. Break at first line both of them.
Let 1st request go to the line that erases the product links, and pass that line, keep the xdebug request open.
Let 2nd request got to the line that delete/inserts the product links. Note that a mysql transaction error had happened.

[2022-10-20 09:35] engcom-Bravo commented on #36333
@magento give me 2.4-develop instance

[2022-10-20 09:43] engcom-Dash commented on #36264
@give me 2.4-develop instance

[2022-10-20 09:44] engcom-Dash commented on #36264
@magento give me 2.4-develop instance

[2022-10-20 10:27] engcom-Dash commented on #35812
Hi @Hexmage ,

We tried both Local and cloud instance we are same results...Any how we will try once with fresh installation and will update you ASAP.

Thanks!!!

[2022-10-20 10:28] engcom-Bravo commented on #36333
@magento give me 2.4-develop instance with edition ee

[2022-10-20 11:28] cjohansson commented on #5847
Same issue here with a Magento ver. 2.4.4, I don't understand why this issue is closed

[2022-10-20 11:29] jakwinkler opened #36336 "add UNIQUE or UNQ name to unique indexes in database tables"
### Description (*)

This table `eav_attribute_label` has an index defined in `db_schema.xml`

[code]

I work on fast database import scripts and tried to add a new unique index in that table:
[code]

but unique index name create by Magento 2 is: `EAV_ATTRIBUTE_LABEL_ATTRIBUTE_ID_STORE_ID`
which is identical to the index defined above and that breaks installation / running `db:upgrade` schema

###

[2022-10-20 11:35] engcom-Dash commented on #36326
@magento give me 2.4-develop instance

[2022-10-20 12:09] rhoerr commented on #36332
That's expected. This issue ONLY affects card numbers (of any type) that contain the exact number sequences "676770" or "676774". Other Visa cards will validate correctly. Numbers containing 676770 or 676774 will not.

The number I gave is a valid Visa number, as it starts with 4, has 16 digits, and [passes luhn10 validation](http://www.ee.unb.ca/cgi-bin/tervo/luhn.pl?N=4111+6767+7011+1115).

You

[2022-10-20 12:47] engcom-Bravo commented on #36333
Hi @subbu1993,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is reproducible on both the instances.Cart Price Rules are not working as per Usage Limit.We are able to use the Coupon as many as times as a guest and registered Customers.

Steps to reproduce:

1.In Marketing->Promotions->Cart Price Rules->Add New Rule.
2.Add Ru

[2022-10-20 13:24] bitumin commented on #35724
FYI we could reproduce this issue in 2.4.4-p2 after creating a new configurable product, setting it to "In Stock", reindexing and flushing caches. The manual db fix commented above by @o7-sol fixed it for us.

[2022-10-20 13:26] t-heuser opened #36337 "[GraphQl] products query price filter issues with net prices entered in adminhtml"
### Preconditions and environment

- Magento version: 2.4.5
- `tax/calculation/price_includes_tax` must be set to `Excluding Tax` so that prices in entered in adminhtml are without tax
- `tax/display/type` must be set to `Including Tax` so that prices are shown including tax in GraphQl
- A product with a price of 10
- A tax rule which is applied for the store you use when testing

### Steps to rep

[2022-10-20 13:47] bitumin commented on #35724
@sebfie The 3 patches linked in your gist (thanks by the way) are identical, i.e. I believe we should just try applying one of them?

[2022-10-20 13:49] engcom-Bravo commented on #36333
Hi @nithinreddyb,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is not reproducible on both the instances.Cart Price Rules working as expected.

<img width="1338" alt="Screenshot 2022-10-20 at 7 10 42 PM" src="https://user-images.githubusercontent.com/51680745/196964977-56245aa6-65bd-4b71-b9f0-21381c3fa7a9.png">

<img width

[2022-10-20 13:49] AdrianChungie commented on #36264
ok great thanks so much for looking into this. Just checking did you setup that magento instance to be multi site?

This is how we have our magento sites setup:
![firefox_N4G7a1zerA](https://user-images.githubusercontent.com/1384964/196966841-d67638a7-bc3f-4e96-9fb8-da901afe294f.png)

[2022-10-20 13:57] sebfie commented on #35724
@bitumin I updated my gist

[2022-10-20 14:00] sprankhub commented on #35517
@kassner, thanks for the fix. I did not test your [diff](https://gist.github.com/kassner/30c1bc89dbadb864e82d5f048487f2bc) yet, but in https://github.com/magento/magento2/pull/34344, a similar fix to a similar issue has been merged.

[2022-10-20 14:27] m2-assistant[bot] opened #36338 "[Issue] Remove forbidden `@author` tag from import/export modules"
This issue is automatically created based on existing pull request: magento/magento2#36304: Remove forbidden `@author` tag from import/export modules

---------
### Description
According to https://devdocs.magento.com/guides/v2.4/coding-standards/docblock-standard-general.html#documentation-space, the `@author` tag is not permitted in Magento. This pull request removes this tag from some modules.

[2022-10-20 14:34] adamlavery opened #36339 "CMS HTML validator missing H6 tag"
### Preconditions and environment

OS 2.4.3-p1

### Steps to reproduce

1. Add CMS block (Content - Blocks - Add new Block)
2. Edit with page builder - Drag Row
3. Elements - Drag Heading
4. Add H6 tag and save

### Expected result

Block should be saved without warnings.

### Actual result

Results in "Temporarily allowed to save HTML value that contains restricted elements".

### Additional info

[2022-10-20 14:35] adamlavery commented on #36339
@magento give me 2.4-develop instance

[2022-10-20 14:49] adamlavery commented on #36339
Confirmed present in 2.4-develop

[2022-10-20 14:58] adamlavery commented on #36339
vendor\magento\module-cms\etc\di.xml:

[code]

[2022-10-20 16:19] pmonosolo commented on #28387
@convenient What version of M2 are you running?

[2022-10-20 16:35] boardwalki opened #36340 "ProductAlert Emails - Images broken/not showing in Stock and Price Alert emails"
### Preconditions (*)

1.  Magento ver. 2.4.5-p1
2. PHP 8

### Steps to reproduce (*)

1. Sign up for a "back in stock" notification on an item that is currently out of stock.
2. Add stock in admin so item is now back in stock
3. Re-index catalog
4. Run stock alert cron
5. Check/view stock alert email that was sent

### Expected result (*)

1. email should show the product image next to the produc

[2022-10-20 16:45] Vitaliy-Lazarev commented on #35864
Hi everyone. 2.4.5-p1 has the same issue. The jquery.mobile.custom.js file doesn't exist.

[2022-10-20 16:45] boardwalki opened #36341 "Theme templates for StockAlert and PriceAlert (Magento_ProductAlert/templates/email/price.phtml and stock.phtml) emails not taking priority"
### Preconditions and environment

Magento ver. 2.4.5-p1
php 8

### Steps to reproduce

1. Copy
/vendor/magento/module-product-alert/view/frontend/templates/email/stock.php
and
/vendor/magento/module-product-alert/view/frontend/templates/email/price.php
to theme folder:

/Mytheme/default/Magento_ProductAlert/templates/email/stock.php
and
/Mytheme/default/Magento_ProductAlert/templates/email/price.

[2022-10-20 16:53] simonmaass commented on #33237
any chance this will get resolved?

[2022-10-20 17:16] engcom-Hotel commented on #36258
Hello @pmonosolo,

We have tried this issue with ~8002 images in a folder but still, we are unable to reproduce the issue. I am attaching the screenshot for reference:

<img width="1348" alt="image" src="https://user-images.githubusercontent.com/51681618/197015229-20749384-3620-4b84-8c43-a5aca7b391db.png">

For us also the memory_limit is set to 8GB and we are using PHP8.1.

Let us know in case we

[2022-10-20 18:39] hostep commented on #36194
Okay, then it's an environment problem you are having somehow. As [mentioned before](https://github.com/magento/magento2/issues/36194#issuecomment-1261347927), there must be "something" that sets the memory_limit to 128 MB. Try finding what it is and figure out if you can fix that. You mentioned `php.ini`, is that the file that's being used by your php-cli? You can find out with `php --ini`.

Also

[2022-10-20 19:04] hostep commented on #36167
@engcom-November, what do you mean it doesn't come with a Magento installation? Yes it does, see [here](https://github.com/magento/magento2/blob/5dc13c3d81c0aa7164b06c08980aef4b779388a6/composer.lock#L12106-L12179)...

[2022-10-20 19:19] francisco-serfe commented on #36167
I didn't pursue the issue since they'd eventually run into it anyways when they updated PHPUnit `--with-dependencies`.

 - [This repo is locked at `9.5.20` currently](https://github.com/magento/magento2/blob/5dc13c3d81c0aa7164b06c08980aef4b779388a6/composer.lock#L11729), with a [`~9.5.20` constraint](https://github.com/magento/magento2/blob/2.4-develop/composer.json#L100).
 - [On `phpunit` `9.5.24

[2022-10-20 20:29] #36184 closed, assigned to rogerdz

[2022-10-20 20:48] hostep commented on #36167
Well, reason I'm asking is because I think this was fixed in phpunit 9.5.25, when you can confirm, we don't need to reopen this issue 🙂

[2022-10-20 23:04] psdevquestions opened #36342 "Error when trying to add a new product"
### Preconditions and environment

- Magento version 2.4.3-p1

### Steps to reproduce

Navigate to Catalog > Products

Click on "Add Product" in upper right corner

### Expected result

Expect the new product details page to appear

### Actual result

The following text is displayed on screen within the Magento environment:

SQLSTATE[HY093]: Invalid parameter number: no parameters were bound, quer

[2022-10-21 04:07] engcom-November commented on #36054
Hi @siliconalchemy ,
Reviewed the issue again and after internal discussion, it has been concluded that this is not an issue. Magento has changed the way to write into exception.log File.
To print the log in exception.log, `exception` parameters must be given in context.
1. $this->logger->critical($e, ['exception' => $e]);
2. $this->logger->log('CRITICAL', $e->getMessage(), ['exception' => $e]);
K

[2022-10-21 04:12] engcom-November commented on #36339
We are confirming this issue as is reproducible on 2.4-develop instance

[2022-10-21 04:29] engcom-November commented on #36292
@magento give me 2.4-develop instance

[2022-10-21 04:49] engcom-November commented on #35595
This issue is reproducible on 2.4-develop instance with above steps followed mentioned in youtube [link](https://www.youtube.com/watch?v=iWd1pNuEGW0)

[2022-10-21 06:17] engcom-Hotel commented on #36184
Hello,

As I can see this issue got fixed in the scope of the internal Jira ticket AC-6744 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-6744&type=commits

Based on the Jira ticket, the target version is 2.4.6.

Thanks

[2022-10-21 07:54] rarog opened #36343 "Depending on frontend language prices are reformated to 0 or currency is not shown."
### Preconditions (*)

1. Magento version 2.4.5-p1 via composer with following packages:
[code]

### Steps to reproduce (*)

Set frontend language to de_de and open any product.
With frontend language set to de_de the prices are reset/reformated fo 0,00 € after a second after loading. First it appears as "3,90 €", then it's changed to "0,00 €"
With frontend language set to en_us the prices are cor

[2022-10-21 08:00] engcom-Dash commented on #36340
@magento give me 2.4-develop instance

[2022-10-21 08:52] engcom-Dash commented on #36264
Hi @AdrianChungie ,

Thanks for your information...I done the multi website setup as per you instructions.

Here i attached the screenshot for your reference:

<img width="1512" alt="Screenshot 2022-10-21 at 2 19 55 PM" src="https://user-images.githubusercontent.com/60198592/197154693-f336f2f2-68ca-4cec-bcc1-8550e2bd7773.png">

Let us know if we missing anything!!!

Thanks!!!

[2022-10-21 09:08] SLaurita opened #36344 "Adjust maxValue city name"
### Description (*)
 **Please adjust the maxValue of the city name to 50 caracters.**

### Expected behavior (*)
 This will prevent problems when City names are given wich are too long.

### Benefits
Orders will continue without being delayed.

### Additional information
 I work at MKC Moto as an IT employee.

[2022-10-21 09:09] engcom-Charlie commented on #28200
As mentioned in above https://github.com/magento/magento2/issues/28200#issuecomment-1134530825, we are doing follow up with team. We are waiting for the PO's input on the same. Once will get the clarity on that, we will proceed further on this.

Thank you!

[2022-10-21 09:36] engcom-Bravo commented on #36342
Hi @psdevquestions,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is not reproducible.There is no error when clicking on "Add product".Kindly refer screenshots.

<img width="1444" alt="Screenshot 2022-10-21 at 3 03 40 PM" src="https://user-images.githubusercontent.com/51680745/197164651-66931726-b3b6-4fab-a722-413849f804c7.png">

Kind

[2022-10-21 09:44] stradd commented on #36194
Thank you so much for your help.
That was the key clue.
in /opt/plesk/php/8.1/etc/php.ini the memory_limit was set to 128MB. I changed that to 2G and the cron runs again without errors.

[2022-10-21 09:44] #36194 closed, assigned to engcom-Lima

[2022-10-21 10:09] Tomasz-Silpion opened #36346 "Add Czechia regions"
### Description (*)
Currently there are only few countries which have prefilled regions in Magento. This PR adds regions for Czech Republic

### Expected behavior (*)

ISO 3166 regions for Czech Republic would be added to `directory_country_region` table. There would be a possibility to select Czech regions from select on both frontend and backend.

### Benefits

This feature would allow to keep a

[2022-10-21 10:32] bitumin commented on #35724
@seak6adtn59v your link is about MDVA-44188, sebfie provided the MDVA-44818 patch in his gist (44188 <> 44818). Additionally, I can see in the quality patches source code plenty of patches named MDVA-41061, including the V4 (and curiously, also a V6).

I am not sure how stable it is, but I have tested today successfully these patches on a 2.4.4-p2 instance, as suggested by @sebfie:
MDVA-44818_2.4.

[2022-10-21 10:41] siliconalchemy commented on #36054
@engcom-November  - Ah!  Haha that's a really funny april fools joke!!

Oh wait, it's the middle of October, it's not April 1st.

** THIS IS A BUG **
var/log/exception.log is a well established log for critical errors.  This is not about custom code/modules, user logging.  This is fundamental, built in logging from standard usage of Magento.  References to it are littered throughout the official M

[2022-10-21 10:52] adriansanta commented on #36054
100% agree with @siliconalchemy

Having all kind of log severities in the same file (system.log) really makes it difficult to use and defeats the purpose of log severity in the first place. We have to employ various workarounds (like parsing rules) to filter out "noise" lines in order to have a realistic overview of actual issues.

Furthermore, exception.log is not populated not only by custom/thi

[2022-10-21 11:09] engcom-Bravo commented on #36337
Hi @oneserv-heuser,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is not reproducible on both the instances.Kindly refer screenshots.

<img width="1461" alt="Screenshot 2022-10-21 at 4 32 24 PM" src="https://user-images.githubusercontent.com/51680745/197182424-b590722f-583b-4382-b949-b1c91789f4aa.png">

<img width="1441" al

[2022-10-21 12:16] m2-assistant[bot] opened #36349 "[Issue] Fix order spam when search engine is down"
This issue is automatically created based on existing pull request: magento/magento2#36241: Fix order spam when search engine is down

---------

### Description (*)

**Orders can be spammed if the search engine service is down and the Catalog Search index mode is set to Update on Save.**
This is caused by an unhandled exception on the "Magento\CatalogInventory\Observer\ReindexQuoteInventoryObserv

[2022-10-21 12:17] rarog commented on #36343
I now know, why the price is shown as "0,00 €" but don't know yet, how this conditions happens.

For en_US I get this price format:
`        "[data-role=priceBox][data-price-box=product-id-24092]": {
            "priceBox": {
                "priceConfig":  {"productId":"24092","priceFormat":{"pattern":"%s","precision":2,"requiredPrecision":2,"decimalSymbol":".","groupSymbol":",","groupLength":3,"

[2022-10-21 12:21] #36349 closed, assigned to texboy

[2022-10-21 12:27] engcom-Hotel commented on #36145
Hello @mohammedTBB @dongyi-chun,

Can we close this issue now? or we can remain open for more discussion. Please suggest.

Thanks

[2022-10-21 12:27] #36145 closed, assigned to engcom-Hotel

[2022-10-21 12:28] engcom-Bravo commented on #36327
Hi @mansourwalid,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop instance and the issue is reproducible. Kindly refer the screenshots.

<img width="950" alt="Screenshot 2022-10-21 at 4 56 44 PM" src="https://user-images.githubusercontent.com/51680745/197193685-48d51acd-bef6-436c-a404-9503a750846d.png">

Hence confirming this issue.

Thanks.

[2022-10-21 12:50] engcom-November commented on #35595
Hi @NickvdMeij ,
The issues mentioned in the youtube [video](https://www.youtube.com/watch?v=iWd1pNuEGW0) are actually not issues.
Please find the reasons below:
**Issue 1**: Rest API - not assigning bundle product to all websites - This is because of not passing "website_ids" in the payload. There is no issue on Magento 2.4-develop instance if all "website_ids" are given in the payload during pro

[2022-10-21 12:52] rarog commented on #36343
My suspicion is that it happens as early as in `app/code/Magento/Directory/Model/Currency.php` somewhere here: https://github.com/magento/magento2/blob/e0d650c78dc6791460089ed43e88b27b31d6ecca/app/code/Magento/Directory/Model/Currency.php#L503

[2022-10-21 13:02] rarog commented on #36343
@magento give me 2.4.5-p1 instance

[2022-10-21 13:03] francisco-serfe commented on #36167
Hmm, nope, no dice.

 - phpunit: `9.5.25`
 - sebastian/comparator: `4.0.8`

[code]

[2022-10-21 13:05] francisco-serfe commented on #36167
Hmm, nope, no dice.

 - `phpunit/phpunit`: `9.5.25`
 - `sebastian/comparator`: `4.0.8`

[code]

[2022-10-21 13:15] engcom-November commented on #36343
Hi @rarog ,
Thank you for reporting and collaboration. This issue is not reproducible on Magento 2.4-develop instance with german or french language packs installed. As per the pre conditions mentioned by you, composer.json file has 3rd party extensions / modules: "amasty/module-shipping-suite": "^1.0", "firegento/magesetup2": "^1.0" etc enabled. Can you please check if the issue caused due to any

[2022-10-21 13:20] engcom-Hotel commented on #35820
Hello @Nuranto,

Thanks for the reply!

Yes I can manage to reproduce the issue that the caching behavior of 1 cache file per image by running the below command:

`bin/magento remote-storage:sync`

But as I told you that this has been due to [colinmollenhour](https://github.com/colinmollenhour/Cm_Cache_Backend_File)
/
[Cm_Cache_Backend_File](https://github.com/colinmollenhour/Cm_Cache_Backend_File

[2022-10-21 13:47] kamephis commented on #36054
I agree, this is by far not a feature. Please take your time and fix this. It has been month and nothing happened.

[2022-10-21 13:58] johncarlson21 opened #36350 "Upgrade from 2.4.4 -> 2.4.4-p2 products not showing"
### Preconditions and environment

Magento 2.4.4-p2
Upgraded from 2.4.4

### Steps to reproduce

1. Navigate to site
2. choose a category
3. No products found for category

### Expected result

1. Navigate to site
2. choose a category
3. products listed for category

### Actual result

No products shown in frontend for category, and products under category in admin show out of stock.

### Addition

[2022-10-21 14:49] rogerdz opened #36351 "bin/magento setup:upgrade error when use composer install --no-dev"
### Preconditions and environment

- 2.4-develop with sample data.

### Steps to reproduce

1.  Disable Sample data using command : `bin/magento module:disable Magento_SampleData`
2. Run `composer install --no-dev`
3. Run `bin/magento indexer:reindex`
4. Check the debug log.

### Expected result

No error

### Actual result

Error: There is an error in /var/www/html/magento2/lib/internal/Magento/F

[2022-10-21 16:32] rarog commented on #36343
@engcom-November I think it is a specific bug. Either a general one in php version on the server or in the flavour of the distribution.

I tested the following code on my server running on PHP 8.1.11:
[code]

[2022-10-21 17:24] rarog commented on #36343
Obviously the logic inside https://github.com/magento/magento2/blob/e0d650c78dc6791460089ed43e88b27b31d6ecca/app/code/Magento/Directory/Model/Currency.php#L479 can't work the intended way.

Are there tests for this function?

The comments inside https://www.php.net/manual/de/numberformatter.setsymbol.php says similar thing.

I submitted a pull request that shows the changes that made the prices wo

[2022-10-21 17:41] engcom-Dash commented on #36340
Hi @boardwalki ,

We are trying to reproduce the issue in 2.4-develop branch...But we are not able to reproduce.
we are getting expected result as "email should show the product image next to the product name"
Steps we followed:
1.Create a simple product and enable back in stock
2.Place the order with all quantity so the product will be out of stock.
3.Again add the number of product in admin
4.we

[2022-10-21 17:54] boardwalki commented on #36340
Can you please provide a screenshot of the “back in stock” email you received that shows the image properly loaded.
Thank you,

--
John Strain
Boardwalk Interactive

[2022-10-21 18:22] engcom-November commented on #36292
Hi @baptiste09 ,
Verified the issue on Magento 2.4-develop instance but no error message (“Original Transaction ID not Found” error) is not displayed on front end after using the expired credit card.
Steps performed:
1. Configured Payflow Pro with vault enabled.
2. Front end - Login - Placed order with payflow pro credit card and saved card
3. Updated "expires_at" column in DB table "vault_payment

[2022-10-21 18:31] baptiste09 commented on #36292
Hi @engcom-November

The issue cannot be reproduced on a brand new instance of Magento: the transaction is archived **PayPal side**.
Plus, as far as I can see, the expires_at only store credit card expiration date, not **token** expiration date.

As I mentioned in the original post:
- The user performs a transaction and the transaction ID is saved as gatewy_token in vault_payment_token table
- The

[2022-10-21 20:00] nadroj467 commented on #36351
@magento give me 2.4.5 instance

[2022-10-21 20:15] gitchrisqueen commented on #35600
We are having the same issue on Magento 2.4.3-p1. The $0 initial authorization is causing the second authorization with the correct order amount to fail from paypal. Paypal returns a erro r117 - Failed Merchant Rule Check. Please see payament.log from test transaction.

[2022-10-20 18:03:29] report.DEBUG: array (
  'request' =>
  array (
    'user' => '****',
    'vendor' => 'ReadNow1502',
    'pa

[2022-10-21 20:18] gitchrisqueen commented on #35600
We are having the same issue on Magento 2.4.3-p1. The $0 initial authorization is causing the second authorization with the correct order amount to fail from paypal. Paypal returns a erro r117 - Failed Merchant Rule Check. Please see payament.log from test transaction.

array (
'request' =>
array (
'user' => '',
'vendor' => 'removed',
'partner' => 'removed',
'pwd[14]' => 'removed',
'verbosity' =>

[2022-10-21 20:23] nadroj467 opened #36356 "Backorder Import does not refresh saleable quantity"
### Preconditions and environment

- Fresh Magento 2.4.5 with demo data
-
- And currently same issue in my magento 2.4.3 install

### Steps to reproduce

1. With demo data active ie. demo product stock showing SKU 24-MB05 with Default source showing 100 units
2. Import > Products > Add/Update with below CSV to take product out of stock

`sku,min_qty,qty,backorders,is_in_stock,allow_backorders
24-M

[2022-10-21 20:27] nadroj467 commented on #36356
@magento give me 2.4.5 instance

[2022-10-21 20:30] gitchrisqueen opened #36357 "Magento 2.4..3-p1|2 PayflowPro returns 117 - Failed Merchant Rule Check"
### Preconditions and environment

Magento version - 2.4.3-p1
Paypal Payflow Pro Account Transaction Settings:
- Allow Non-referenced Credits:  No
-  Credits may exceed original transaction amount: No
- Allow reference transactions: Yes

The 2nd authorization amount fails with "Failed Merchant Rule Check" error. This is not the prior secure token transaction request for $0 which does succeed.

###

[2022-10-22 04:10] Kerolusnasser commented on #35306
i faced this issue while upgrading to 2.4.5-p1
in my case the issue was in require-dev section:  "pdepend/pdepend": "~2.7.0"
needed to be updated manually to "pdepend/pdepend": "~2.10.0"
Now fixed

[2022-10-22 09:18] hostep commented on #35535
@sdzhepa, @engcom-Dash: can we reopen this ticket and redo the testing based on the last 2 comments?
@craig-bartlett: maybe if you find some time, try opening a Pull Request here with your fixes, it might get fixed quicker that way.

Thanks! 🙂

[2022-10-22 11:16] hostep commented on #36167
Okay, thanks for confirming!

@engcom-November, @sdzhepa: I believe this issue needs to be reopened...

[2022-10-22 12:20] royalkaroma commented on #36343
hi i have the same problem ones curency change look 0.00 in product page
i work with 2.4.5 magento 8.1 php

[2022-10-22 21:00] slavko98 commented on #28994
Hi all, is there any progress/update on this one? I was reading about the `config:sensitive:set` command on the Magento official docs, and trying to figure out how it works, but it fails with this `There are no sensitive configurations to fill` error message. Not meaningful at all :/

I'm trying to set a sensitive configuration field for a custom module (field of type `obscure`, and additionally a

[2022-10-22 22:05] royalkaroma commented on #36340
Bonjour j ai magento 2.4.5 instaler avec php 8.1
Le prix s affiche sans le symbole de money dans la page produit en dollar et j ai changer en franc suisse et lieux  de la boutique suisse le prix devient 0.00 chf
J ait tester avec plusieurs versions de php 8 et 7.4 la même problème

[2022-10-23 08:52] rarog commented on #36350
@johncarlson21 Do you have the option "Allow All Products per Page" enabled?

[2022-10-23 09:10] rarog commented on #35900
This was obviously patched before 2.4.5-p1 was published but was omitted from the release. If it's due to be published in 2.4.6 like mentioned by @engcom-Hotel this would mean that there won't be a fix before [2.4.5-p2/2.4.6 and the open source release in March 2023](https://experienceleague.adobe.com/docs/commerce-operations/release/schedule.html). That's quite a long time for a quick fix.

[2022-10-23 16:19] royalkaroma commented on #36343
bonjour j attrouper la solution j ai changer la ligne 442
app/code/Magento/Directory/Model/Currency.php
$formattedCurrency = preg_replace(['/[^0-9.,۰٫]+/', '/ /'], '', $formattedCurrency);
source [glo81187]

[2022-10-24 06:29] Nuranto commented on #35820
Hello @engcom-Hotel ,

I don't understand why you think the issue is in `colinmollenhour`. The redis extension does just what it is asked for : save a cache entry for each file .

But I agree with your fix proposal : we should not persist this cache.

[2022-10-24 08:14] FadedOut commented on #36319
@magento give me 2.4-develop instance

[2022-10-24 08:49] FadedOut commented on #36319
@magento give me 2.4.5-p1 instance

[2022-10-24 09:37] digitalpianism commented on #33459
Let me know if I should create a new ticket but I think its related to this one:

**Steps to reproduce (*)**

- Create a cart rule triggering after quantity of the same item is more than 1 for example: get 25% off the entire cart when one product qty is 2 or more.
- Add twice the same product to cart which meet the rule to be applied the promotion rule
- Rule is applied
- Update the cart qty from

[2022-10-24 09:46] sanderjongsma commented on #35970
try adding: `--cleanup-database` param to you `bin/magento setup:install`

[2022-10-24 10:06] #36344 closed, assigned to nobody

[2022-10-24 10:17] c3n21 commented on #36269
Hello @engcom-Hotel !
You should modify your InstallData.php as following

`
<?php

namespace Magz\Issue36269\Setup;

use Magento\Customer\Model\GroupFactory;
use Magento\Customer\Model\ResourceModel\GroupRepository;
use Magento\Framework\Setup\InstallDataInterface;
use Magento\Framework\Setup\ModuleContextInterface;
use Magento\Framework\Setup\ModuleDataSetupInterface;

class InstallData implemen

[2022-10-24 10:23] FadedOut opened #36362 "[v2.4.5-p1] Stock: "Only X left" not showing on product page"
### Preconditions and environment

- Magento 2.4.5-p1 (upgrade from 2.4.4)
- PHP 8.1

*Tried the following (making no difference)
- (CSS) Minify - On/Off
- (HTML) Minify - On/Off
- (JS) Minify - On/Off
- Merge Files - On/Off
- (JS) Bundling - Off

### Steps to reproduce

1. Have settings configured like the following:

Only X left Threshold: 500
Display Products Availability in Stock on Storefront

[2022-10-24 10:50] FadedOut commented on #36362
@magento give me 2.4.5-p1 instance

[2022-10-24 11:36] FadedOut commented on #36362
Well shucks. Seems it works properly on a stock 2.4.5-p1.

Maybe it was because I updated from 2.4.4 to 2.4.5-p1? If that shouldn't be the case, does anyone have any tips on how I could debug it to find out why it won't show for me?

I see in the HTML (`availability only configurable-variation-qty`) on the 2.4.5-p1 instance here it starts like this:

![magento-only-x-in-stock-fresh-245p1-no-variat

[2022-10-24 12:30] francisco-serfe commented on #36167
Also should mention I've experienced this on CE `2.4.4-p1` as well.

[2022-10-24 12:32] Collapse011 commented on #33188
Bom dia Ricardo como vai ? @r-martins

pelo admin conseguimos resolver esse problema ?

[2022-10-24 12:33] Nuranto commented on #35955
Still having this issue on 2.4.5.

[2022-10-24 13:31] ChameleonDevil commented on #35394
@bonner-earle At original poster, did you ever manage to figure out how this works?

It feels like the very first time you **install your module**, _that is the db_schema.xml is being used_.

I have created a similar question : `indexes (instead of FK) entities` but I am getting similar behaviour.  I would appreciate any information on **how to completely remove and clear any cached information; b

[2022-10-24 14:33] briangmoore77 commented on #36054
This needs to be fixed asap. do you know how many sites are trying to get updated to 2.4.4 or 2.4.5 by 11/28? Lots... They all need that exception.log to be working like it is stated to work and how it has always worked.

[2022-10-24 14:43] bonner-earle commented on #35394
@ChameleonDevil Hello, I didn't try to figure out how it works, I expected it would be complicated, we have only run into the issue once so far, so has not bee a pressing issue for us. We ended up with names in the schema which are longer than 63 characters, and with generated short names in the actual database.

[2022-10-24 14:45] jponeill opened #36363 "GraphQl product aggregations return category_id instead of category_uid"
### Preconditions and environment

- Magento version 2.4.5-p1
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

The following graphQl query returns the category_id instead of category_uid in the aggregation results.

{
  products(
    search: "b"
  ) {
    aggregations {
                label
                count
                attribute_code

[2022-10-24 15:05] ChameleonDevil commented on #35394
Ok, thank you for the prompt reply!

I was hoping for better news, because those auto-generated names mean nothing and read badly when quickly trying to determine content of constraints and indexes using `information_schema.STATISTICS` table.

I have deleted everything and even uninstalled the module twice, restarting server and still as soon as I reinstall the module the old names (auto-generated

[2022-10-24 15:07] timpea commented on #35941
And if running Redis, clear the Redis cache: redis-cli flushall

[2022-10-24 15:37] marvinhinz commented on #30722
Any updates?

[2022-10-24 16:15] mbattistini commented on #9980
Magento ver. 2.4.5-p1

Magento ver. 2.4.5-p1, PHP 8.1
I keep having the same problem, maybe it has to do with stock.
After selection, products displayed with selected attributes are displayed even if "out of stock".

[2022-10-24 18:17] timelam commented on #30979
I was getting the following error with Elasticsearch 7, but only for certain categories. Your solution fixed the problem. Thanks!

main.CRITICAL: Notice: Undefined variable: from in vendor/magento/module-elasticsearch/Elasticsearch5/SearchAdapter/Aggregation/Interval.php on line 130

[2022-10-24 18:29] jsamhall commented on #32734
Over a year later... any update on this? It seems to be resolved in 2.4.5 based on what I have exposure to, but I don't see an official remark anywhere

[2022-10-24 19:01] lucianopeluso10 commented on #35059
reproduced on 2.4.5, any news?

[2022-10-24 19:30] chittima commented on #35796
Internal team is working on this issue

[2022-10-24 20:45] matutetandil commented on #7647
2.4.5-p1 same issue.

[2022-10-24 23:05] #36285 closed, assigned to nobody

[2022-10-25 01:04] AddoSolutions commented on #35918
@06romix Thanks as well!
@engcom-Hotel – I have no Amasty plugins installed, why was this closed?

[2022-10-25 02:10] sdouma commented on #35918
It was closed because the orginial ticket could not be replicated on default magento 2. This error can happen from many different types of extensions amasty is just the most common one. If you can replicate it on default magento 2 then feel free to reopen with reproducible steps.

[2022-10-25 06:21] engcom-Bravo commented on #36191
Hi @bshellma,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-25 06:21] #36191 closed, assigned to engcom-Bravo

[2022-10-25 06:21] engcom-Bravo commented on #36260
Hi @linkdandyparanormal,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-25 06:21] #36260 closed, assigned to engcom-Bravo

[2022-10-25 06:21] jesseihatsu commented on #35329
https://github.com/magento/magento2/issues/35329#issuecomment-1139618176 fix works, but after the latest security patch (2.4.4-p2) the problem returned as the menu patch was overridden. Here is how I "permanently" fixed this for now until a official fix is released:

1. Create a directory `m2-patches` to Magento root directory (same level as composer.json).
2. Add manually https://github.com/vaimo

[2022-10-25 06:21] engcom-Bravo commented on #36262
Hi @Naberdz,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-25 06:21] #36262 closed, assigned to engcom-Bravo

[2022-10-25 06:39] engcom-November commented on #36065
Verified the issue on Magento 2.4-develop instance and the issue is reproducible. Hence updating the description with Manual steps to reproduce and confirming the issue.
![image](https://user-images.githubusercontent.com/60198231/197700616-14164429-e8a0-46ac-8543-68e9fcc2df95.png)
No error/exception is being logged in the log files.

[2022-10-25 07:00] engcom-Hotel commented on #35820
Hello @Nuranto,

Thanks for your reply!

As per the process, we are moving this ticket for a fix. Hence confirming the issue.

Thanks

[2022-10-25 07:53] engcom-Hotel commented on #36269
Hello @c3n21,

Thanks for the reply!

The issue is reproducible with the above code changes. Hence confirming the issue.

Thanks

[2022-10-25 08:05] ChameleonDevil commented on #35394
@engcom-Hotel This issue relates to older versions as well, I am running a 2.3.7 version; so would be great if you can let us know about patched files with improvements on this feature.

At the moment I assume I would need to use `Data patches` using `implement \Magento\Framework\Setup\Patch\DataPatchInterface` and try to see if I am able to `ALTER TABLE ... RENAME INDEX` from these horrible auto-

[2022-10-25 08:08] engcom-Dash commented on #36356
@magento give me 2.4-develop instance

[2022-10-25 08:08] engcom-Dash commented on #36362
@magento give me 2.4-develop instance

[2022-10-25 09:45] engcom-November commented on #36054
Hello @siliconalchemy @adriansanta @kamephis @jurvi @briangmoore77,
We have discussed this issue again internally and after further analysis came across the below commit:
https://github.com/magento/magento2/commit/8e6aedc8130be01669b04f99c19ab3f48e4c0691
We are confirming this issue and further analysis is in progress.
Thank you.

[2022-10-25 10:35] mbattistini opened #36364 "Layered Navigation with configurable product (maybe stock problem)"
1. Magento 2.4.5-p1,Magento 2.4 develop
2. PHP 8.1
3. Create Configurable with Length and Width Product Attributes.

### Steps to reproduce

1. Insert this products:

![products](https://user-images.githubusercontent.com/29307582/27280140-2dc3d60e-54e7-11e7-8212-f626fdab0097.png)

### Expected result (*)

1. Only configurable product A is visible

### Actual result (*)

1. Both configurable produc

[2022-10-25 11:16] engcom-November commented on #36357
Hi @gitchrisqueen ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop instance but the issue is not reproducible.
Payflow payment is working fine in test mode and after successful payment 4 entries are logged in payment.log file. 2 entries are the authorization request and redirect sent to paypal with AMT=0 which is not effecting the payment transaction or anywhe

[2022-10-25 11:31] engcom-Dash commented on #36362
@magento give me 2.4-develop instance

[2022-10-25 11:32] engcom-Dash commented on #36356
@magento give me 2.4-develop instance

[2022-10-25 11:59] engcom-November commented on #36332
Thank you for the response @rhoerr . Rechecked again and agree with you that "4111 6767 7011 1115" is a valid VISA number but still the payment is getting declined due to number containing "676770". Mentioned card is not a Maestro card but is a valid VISA card but CC validation fails due to card being considered as Maestro. Hence confirming this issue.

[2022-10-25 12:48] engcom-Bravo commented on #36350
Hi @johncarlson21,

Thank you for reporting and collaboration.

Verified the issue Upgrading from 2.4.4 to 2.4.4-p2 we are not able to reproduce the issue.Kindly refer screenshots.

Products are visible in Category.

<img width="1403" alt="Screenshot 2022-10-25 at 5 06 33 PM" src="https://user-images.githubusercontent.com/51680745/197776935-fb356922-977b-4ced-8b5d-5742812296b7.png">

Please let us

[2022-10-25 12:52] engcom-Bravo commented on #36351
Hi @rogerdz,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and the issue is not reproducible.Kindly refer screenshots.

<img width="871" alt="Screenshot 2022-10-25 at 4 08 38 PM" src="https://user-images.githubusercontent.com/51680745/197777488-ffad3f3b-cd6b-4725-8e69-e92624920d27.png">

<img width="780" alt="Screenshot 2022-10-25 at 4 10 04 PM" src="https:

[2022-10-25 12:54] engcom-Dash commented on #36362
@magento give me 2.4.5-p1-develop instance

[2022-10-25 13:01] engcom-Lima commented on #36086
Hi @savlo ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-10-25 13:01] #36086 closed, assigned to engcom-Lima

[2022-10-25 13:01] #36225 closed, assigned to engcom-Lima

[2022-10-25 13:02] engcom-Lima commented on #36235
Hi @JamesFX2  ,

We have noticed that this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it.Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks

[2022-10-25 13:02] #36235 closed, assigned to engcom-Lima

[2022-10-25 13:08] engcom-Dash commented on #36362
@magento give me 2.4-develop instance

[2022-10-25 13:11] engcom-Dash commented on #36356
@magento give me 2.4.5 instance

[2022-10-25 13:31] engcom-Dash commented on #36362
Hi @FadedOut ,

We are checking this issue in 2.4-develop instance....We are confirming the issue...We are getting expected results

Here i attached screenshots for your reference:
<img width="1512" alt="Screenshot 2022-10-25 at 6 50 48 PM" src="https://user-images.githubusercontent.com/60198592/197785821-da53d744-908d-4ce0-bb77-adb364d66a7a.png">

Steps to reproduce:
1.Install Magento instance
2.

[2022-10-25 13:51] engcom-November commented on #36343
Verified the issue again on clean Magento 2.4.5-p1 composer installation with no 3rd party extensions / modules enabled but unable to reproduce the issue.
Steps performed:
1. Installed 2.4.5-p1 project-community-edition
2. Setup Currency options - Euro from admin and save
3. Clear cache
4. Created Simple and configurable products
5. Installed German Language pack
6. Open Front end - Product detail

[2022-10-25 14:13] rogerdz commented on #36351
Hi @engcom-Bravo, issue still reproducible with lastest code in 2.4-develop.
Please check video https://www.loom.com/share/39b34193380e44c3a8f42641df527feb

[2022-10-25 14:25] Beagon opened #36366 "Error when trying to subscribe email to newsletter on integration"
### Preconditions and environment

- 2.4.5-p1 (And lower)
- Set an integration token in your GraphQL request

### Steps to reproduce

1. Create an integration token
2. Send integration token as bearer with GraphQL request to subscribe an email to the newsletter `mutation ($email: String!) {
    subscribeEmailToNewsletter(email: $email) {
        status
    }
}
`
4. Get error: "Cannot create a news

[2022-10-25 14:42] wyomind commented on #35714
https://github.com/magento give me 2.4.2-p2 instance

[2022-10-25 14:42] wyomind commented on #35714
@magento give me 2.4.2-p2 instance

[2022-10-25 14:44] wyomind commented on #35714
@magento give me 2.4-develop instance

[2022-10-25 14:44] wyomind commented on #35714
-- Please reply above this line --

Hey Magento/magento2,

Thank you for your message.

 Your request has been correctly submitted.
    
 We’ll be getting back to you as soon as possible!

 Best Regards,
 The Wyomind Team

[2022-10-25 14:45] wyomind commented on #35714
@magento give me 2.4.2 instance

[2022-10-25 14:48] engcom-Hotel commented on #35890
Dear @madonzy,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-10-25 14:48] #35890 closed, assigned to engcom-Echo

[2022-10-25 15:24] rarog commented on #36343
@engcom-November Is on the frontend this kind of code produced on the product page?

`<script type="text/x-magento-init">
    {
        "[data-role=priceBox][data-price-box=product-id-1234]": {
            "priceBox": {
                "priceConfig":  {"productId":"1234","priceFormat":{"pattern":"%s\u00a0\u20ac","precision":2,"requiredPrecision":2,"decimalSymbol":",","groupSymbol":".","groupLength

[2022-10-25 15:41] wyomind commented on #35714
https://github.com/magento give me 2.4.2 instance

[2022-10-25 16:28] rarog commented on #36343
@engcom-November Okay, it's harder to reproduce or needs different server setup. I tested on 2 machines and on one I get the bug and on another I don't. Looks like NumberFormatter::formatCurrency on which Magento 2 relies is just not reliable and behaves differently depending on underlying ICU library.

On the machine where it works I have Ubuntu 22.10 with php 8.1 and according to phpinfo it's th

[2022-10-25 18:17] pmonosolo commented on #31752
Looks like 2.4.5-p1 does not have this issue anymore. I used to have to truncate the table to limit the size of the DB backups.

[2022-10-25 18:36] sdouma commented on #35306
my man, your cookie is on its way

[2022-10-26 01:56] engcom-Dash commented on #36356
Hi @nadroj467 ,
We are trying to reproduce the issue in 2.4-develop branch...But we are not able to reproduce the issue.We are expected result.we got a result like "Product grid should show qty = 0 and saleable quantity = 5 ".So we are not able to reproduce the issue.
Let us know if we missing anything!!!

Thanks!!!

[2022-10-26 04:11] engcom-Delta commented on #36094
Hi @Yuwei9291

We have noticed that, this issue has not been updated for a period of 14 Days.
Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-26 04:11] #36094 closed, assigned to engcom-Delta

[2022-10-26 05:24] aliraza512 commented on #36366
Need a instance of fresh Magento2 latest version.

[2022-10-26 05:44] aliraza512 commented on #36362
@magento give me magento2.4.5 p1 instant

[2022-10-26 05:46] hostep commented on #36065
Thanks for confirming @engcom-November, note that there is already a PR open to fix this: https://github.com/magento/magento2/pull/36067

[2022-10-26 05:46] aliraza512 commented on #36366
@magento give me magento2.4.5-p1 instant please

[2022-10-26 06:42] Muhamann commented on #36298
Sorry but can anyone tell me, what i going on here? Why nobody answers?

[2022-10-26 08:04] Muhamann commented on #36298
@engcom-Hotel
Can you tell me, if i have to do something else, so that this post gets answers?
Thank you

[2022-10-26 09:05] mbattistini commented on #36364
I edited the first post by adding the details!

[2022-10-26 09:21] Muhamann commented on #36298
Found the solution by myself:
It is working by inserting the reCaptcha as block by itself, after the registerpage-block, with exakt this code (as an example for the register-page):

`echo $this->getLayout()
    ->createBlock('MSP\ReCaptcha\Block\Frontend\ReCaptcha',
        'msp-recaptcha',
        ['data' =>
            [
                'jsLayout' =>
                    [

[2022-10-26 09:21] #36298 closed, assigned to nobody

[2022-10-26 09:28] royalkaroma commented on #28133
hi i tray every thing propose to me nothing work rest link exoired for clinet
 Mot de passe oublié ?
"email" est requis. Entrez et réessayez.
Le lien de réinitialisation de mot de passe a expiré.
Veuillez entrer votre adresse email ci-dessous pour recevoir un lien de réinitialisation de mot de passe.

[2022-10-26 09:31] ChameleonDevil commented on #35394
For reference to anyone that might find this useful:

An update on the index name issue:

- This commit claims to be named : [Index names are ignored by declarative schema](https://github.com/magento/magento2/commit/d6b614fc94c1f738700e76830f6bfde774582f08), *however my files locally are exactly the same as this commit*.

- *`referenceId` appears to _only be used by whitelist as a reference for th

[2022-10-26 10:15] engcom-Bravo commented on #36366
@magento give me 2.4-develop instance

[2022-10-26 10:41] craig-bartlett commented on #35535
@hostep Sorry I've not had much free time lately - the PR attached is how I fixed the issue on our instances. Hopefully I created the PR correctly, please advise if not!

[2022-10-26 11:18] ValeSauer commented on #36234
Perhaps related to those unsolved issues:
https://github.com/magento/magento2/issues/11141
https://github.com/magento/magento2/issues/8251

[2022-10-26 11:19] cartok commented on #32715
I have the same problem right now, tried to override `vendor/magento/module-tax/view/frontend/web/template/checkout/summary/shipping.html` via theme and it does not work.

[2022-10-26 11:39] engcom-Hotel commented on #35616
Hello @rob-gonz,

Thanks for the detailed steps for issue reproduction. However, we have tried to reproduce the issue in the latest 2.4-develop branch but it seems that the flow is working as expected. We have a script as stated by you in this https://github.com/magento/magento2/issues/35616#issuecomment-1225871634.

I am attaching the same below for reference:

[35616.php.zip](https://github.com/

[2022-10-26 12:07] potocky opened #36372 "Admin Stores->Configuration->Sales->Payment methods unable to save - internal server error"
### Preconditions and environment

- Magento version 2.4.5-p1
- Stores->Configuration->Sales->Payment methods unable to save - internal server error

### Steps to reproduce

Navigate in admin to Stores->Configuration->Sales->Payment methods
Try to save form - top right save button
 unable to save - internal server error

### Expected result

Normal page with saved form.

### Actual result

Interna

[2022-10-26 12:37] engcom-Bravo commented on #36372
Hi @potocky,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is not reproducible on both the instances.Kindly refer the screenshots.

<img width="1438" alt="Screenshot 2022-10-26 at 5 43 17 PM" src="https://user-images.githubusercontent.com/51680745/198027600-a53586ae-fc0b-4635-8366-a3682ac19584.png">

Kindly recheck the issu

[2022-10-26 12:41] engcom-Bravo commented on #36366
Hi @Beagon,

Thank you for reporting and collaboration.

Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is not reproducible on both the instances.Kindly refer screemshots.

<img width="1350" alt="Screenshot 2022-10-26 at 4 16 17 PM" src="https://user-images.githubusercontent.com/51680745/198028272-5e248560-358f-403a-bc7b-d4c6b9c5176d.png">

<img width="636" alt="Screen

[2022-10-26 12:44] engcom-Bravo commented on #36351
Hi @rogerdz,

Thanks for update.

Verified the issue on Magento 2.4-develop and the issue is not reproducible.Kindly refer screenshots.

<img width="871" alt="Screenshot 2022-10-25 at 4 08 38 PM" src="https://user-images.githubusercontent.com/51680745/198028784-93387cb2-f4ca-4245-ba35-23709e08e6f6.png">

<img width="1190" alt="Screenshot 2022-10-26 at 2 45 22 PM" src="https://user-images.githubuse

[2022-10-26 12:54] engcom-Lima commented on #36356
@magento give me 2.4-develop instance

[2022-10-26 12:59] AshishKumarPundeer commented on #36188
@magento give me 2.4-develop instance

[2022-10-26 13:56] cjohansson commented on #28994
magerun is the only way

[2022-10-26 14:23] hostep commented on #35890
The same reasoning from [over here](https://github.com/magento/magento2/issues/26333#issuecomment-1219467460) can probably be applied? This is just guessing though, there is not enough information provided to be sure...

[2022-10-26 14:34] royalkaroma commented on #36343
Thanks a lot for your precious information but I don’t now where I put the script that you send it to me

Responsable technique

Azzabi Lassad

Mob : +41(0)79 229 87 47

Tel   : +41(0)22 321 76 12

Mail :   ***@***.***> ***@***.***

Rue de la Coulouvrenière 27 CH 1204 Genéve

De : Andrej Sinicyn ***@***.***>
Envoyé : mardi, 25 octobre 2022 17:25
À : magento/magento2 ***@***.***>
Cc : Azzabi Lassad

[2022-10-26 15:09] royalkaroma commented on #36343
But it looks good for me now with chf and euro work well I have only problem with expired reset password for client other way every thing is perfect

Responsable technique

Azzabi Lassad

Mob : +41(0)79 229 87 47

Tel   : +41(0)22 321 76 12

Mail :   ***@***.***> ***@***.***

Rue de la Coulouvrenière 27 CH 1204 Genéve

De : Andrej Sinicyn ***@***.***>
Envoyé : mardi, 25 octobre 2022 18:28
À : mage

[2022-10-26 16:29] paragpadsumbiya commented on #24683
@visualwebs
 We are facing the same issue after upgrade to Magento 2.4.5 as it was working fine with 2.4.2 .. Anyone have idea how to resolve this ?

[2022-10-26 17:10] hagotupagina-spa commented on #35329
I can confirm this issue on 2.4.5-p1, this should be issued as a critical issue IMO.

[2022-10-26 18:21] lolareifs opened #36374 "Error in Advanced Reporting Business Intelligence Tools"
### Preconditions and environment

- Magento version 2.4.3

### Steps to reproduce

- Go to Reports > Business Intelligence > Advanced Reporting
**Note:**
- The website must run on a public web server.
- The domain must have a valid security (SSL) certificate.
- Commerce must have been installed or upgraded successfully without error.
- In the Commerce configuration for [store URLs](https://docs.m

[2022-10-26 19:56] mikew-westlund opened #36375 "getTotalNum() in /Magento/Catalog/Block/Product/ProductList/Toolbar.php causes slow catalog page and search load"
### Preconditions and environment

- Magento version 2.4.5-p1
- most discernable on categories with large collections and in catalog search
- my temporary solution is removing
`<?= $block->fetchView($block->getTemplateFile('Magento_Catalog::product/list/toolbar/amount.phtml')) ?>` from
`Magento/Catalog/view/frontend/templates/product/list/toolbar.phtml`

### Steps to reproduce

Do a search or open

[2022-10-26 20:39] scottbolasevich commented on #35286
same any fix?

[2022-10-26 21:50] nadroj467 commented on #36356
@magento give me 2.4-develop instance

[2022-10-26 22:22] nadroj467 commented on #36356
Hi @engcom-Dash
I have been able to reproduce using the attached files.

1. Set all indexes to run by schedule
2. Check stock of 24-MB04 is 100 quantity and 100 saleable on product grid
3. Import file 1stImport.csv (the import actually doesn't give competition notice but data is imported .... not sure if thats a new bug all together)
4. Check product grid for 24-MB04 wait until quantity is updated

[2022-10-26 22:29] nadroj467 commented on #36356
@engcom-Dash here is a screen record of the issue https://icecreamapps.com/v/ddh2v43

[2022-10-26 22:44] nadroj467 commented on #36356
@engcom-Dash here is a screen record of the issue (I used a different sku in the video)  https://icecreamapps.com/v/gqdhses

[2022-10-26 23:22] javb92 commented on #35329
I can confirm too that the issue still present on 2.4.5-p1:
My screen record:

https://user-images.githubusercontent.com/26979287/198156774-3569c4d3-0855-499e-9c5a-5cc042a92372.mp4

[2022-10-27 00:43] r-martins commented on #33188
@Collapse011 não sei. Meu caso foi bem específico de um módulo/erro meu mesmo. Não teria como fazer nada pelo admin.

[2022-10-27 02:44] engcom-November commented on #36010
Verified the issue on Magento 2.4-develop instance and the issue is reproducible. Hence updating the description and confirming this issue.
![image](https://user-images.githubusercontent.com/60198231/198178550-428d833f-8cb9-4330-b782-d2d884f23f22.png)

[2022-10-27 02:51] engcom-November commented on #35733
Hi @mwdana ,
We are closing this issue as there has been no latest update on the same. Kindly reopen / create new issue if you are still facing any issues.
Thank you.

[2022-10-27 02:51] #35733 closed, assigned to engcom-November

[2022-10-27 03:29] engcom-November commented on #36374
Hi @lolareifs ,
Thank you for reporting and collaboration. As per Magento [devdocs](https://experienceleague.adobe.com/docs/commerce-admin/start/reporting/business-intelligence.html#advanced-reporting), Magento instance should comply with below requirements in order to enable / work with Advanced Reporting.

**Requirements:**
1. The website must run on a public web server.
2. The domain must have

[2022-10-27 03:36] loic-paquin commented on #36279
I had the same issue, You probably ran a composer update after the release of 2.4.5. It is caused by the version 2.2.3 of the PageBuilder module. Also my pageBuilder in the BackOffice was unusable ( Sliders were not loading).

You can resolve the issue by typing the command : `composer require magento/module-page-builder:2.2.2`
After this, as usual compile + deploy static + clean cache

[2022-10-27 05:35] Ritesh-Rana opened #36376 "Product video is not Opening/Playing in mobile device (YouTube embedded video)"
### Preconditions and environment

Magento version 2.4.4
php version 8.1.11

### Steps to reproduce

1- login as admin, go to  Catalog  > Products > Add new Product .
2- Create new simple product.
3-  Go to Images and videos and click on Add video
![Screenshot from 2022-10-27 10-46-43](https://user-images.githubusercontent.com/109286689/198198055-5d13f686-7d05-455a-9437-f8fb923740cc.png).
4- Now a

[2022-10-27 06:14] MeetKamal commented on #36054
Hello @engcom-November  - We are facing same issue.  Do we have any temp solution to enable exception.log,  As lots of client facing issues.

[2022-10-27 06:38] tarunpg commented on #36322
Hi @dphilipps - I am also facing this issue on the store upgraded from Version 2.4.3. Could you please let me know how you resolved this particular issue on that upgraded store. I have also upgraded from Ver 2.4.3 to Ver 2.4.5 and had earlier patched the Version 2.4.3 for resolution. I see the correct Currency.php code in vendor folder - but unable to find why the issue is still there after upgrad

[2022-10-27 06:49] engcom-November commented on #36279
Hi @loic-paquin , Thank you for the response.
There is an ongoing current Page builder issue which is confirmed and being tracked [here](https://github.com/magento/magento2/issues/36188). Please move onto this issue for latest updates / solutions on the same. As the issue not reproducible on clean 2.4develop instance, we are closing this issue. Kindly reopen / create new issue if you are still fac

[2022-10-27 06:49] #36279 closed, assigned to engcom-November

[2022-10-27 07:23] engcom-Hotel commented on #34898
Dear @ZephyrDogma @kingshukdeb @jspoe,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2022-10-27 07:23] #34898 closed, assigned to nobody

[2022-10-27 07:34] JelleGe commented on #24683
@paragpadsumbiya Already tried this? This worked perfect for us. https://github.com/magento/magento2/issues/24683#issuecomment-707156254

[2022-10-27 07:47] engcom-November commented on #35875
Hi @pmonosolo / @m2-amn
I see, this [issue](https://github.com/magento/magento2/issues/35901) got fixed in the scope of the internal Jira ticket AC-6385 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-6385&type=commits
Based on the Jira ticket, the target version is 2.4.6.
Can you please check with [this](https://github.com/magento/magento2/commit/4bfb545ebc97

[2022-10-27 07:59] engcom-Bravo commented on #36364
@magento give me 2.4-develop instance

[2022-10-27 08:01] engcom-November commented on #35662
Unable to reproduce the issue in 2.4-develop instance.
With the default Paypal payment method -  credit card form, No errors have been observed. Also linked PR has been closed by reporter. Hence we are closing this issue.

[2022-10-27 08:01] #35662 closed, assigned to engcom-Delta

[2022-10-27 08:11] engcom-November commented on #34472
Hi @live4soccer7 ,
Thank you for reporting and collaboration. Unable to reproduce the issue on 2.4-develop instance in sandbox mode. We cannot able to test it in Production mode as its not recommended to verify. Kindly recheck on 2.4-develop instance with Sandbox mode and elaborate the steps so that it will help us to reproduce in developer environment to fix it further.
Thank you.

[2022-10-27 08:12] bckpff opened #36377 "Layered Navigation not working with "Display Out of Stock Products" set to "Yes""
### Preconditions and environment

Affected Versions:
- 2.4.4
- 2.4.5
- 2.4.5-p1

Theme: Luma
Sample Data enabled

### Steps to reproduce

 - Setup a fresh Magento installation
 - Got to Stores -> Configuration -> Inventory -> Stock Options
 - Set  "Display Out of Stock Products" to "Yes"
 - In storefront navigate to Gear -> Bags
 - Open "Style" Filter dropdown
 - See option Backpack (4)
 - Click

[2022-10-27 08:13] madhippieqq commented on #36377
@magento give me 2.4-develop instance

[2022-10-27 08:19] bckpff commented on #36377
@magento I am working on this

[2022-10-27 08:20] bckpff commented on #36377
@magento give me 2.4.5-p1 instance

[2022-10-27 08:26] bckpff commented on #36377
Using a vanilla 2.4-develop instance the issue seems mostly fixed:
The filters are applied as expected, but the total number of results still shows 14 instead of 4.

Using a vanilla 2.4.5-p1 installation the issue is reproducible using the steps described above

[2022-10-27 08:31] nikita-biliavskyi opened #36378 "Related product rule does not work if you select a specific product (Product Match) and a rule that looks for the same attribute (Product Result)"
### Preconditions and environment

- Magento Enterprise 2.4.5-p1 (vanilla).

### Steps to reproduce

1. Go to BO->Marketing->Promotions->Related Products Rules;
2. Create new or edit rule;
3. On tab "Rule Information" fill all necessary fields. In the "Apply To" field, select Related Products or Up-Sells;
4. On tab "Products on Match" choose some product by SKU (SKU is YOUR_PRODUCT_SKU);
5. On tab

[2022-10-27 09:33] AshishKumarPundeer commented on #36188
@magento give me 2.4-develop instance

[2022-10-27 09:47] marseilleantiquites commented on #35345
Hello,

I encounter exactly the same problem like @jgutierrez and I would have been interested in a way to solve this problem because as far as I am concerned I already use php8.1 !

[2022-10-27 10:09] bckpff commented on #36377
The partial fix for this bug is found in `\Magento\Elasticsearch\Model\ResourceModel\Fulltext\Collection\SearchResultApplier::categoryProductByCustomSortOrder`

In line 233

[code]

[2022-10-27 10:23] engcom-Bravo commented on #33401
@magento give me 2.4-develop instance

[2022-10-27 11:32] SolsWebdesign commented on #26344
This is still an issue (on 2.4.4), we need msi (have 2 stock sources) and indexer sets products to isSalable false. We have debugged the code but there are so many plugins it is nearly impossible. We finally gave up and wrote a plugin afterIsSalable that sets backorder products to salable.

[2022-10-27 11:41] m4ttw commented on #18032
Please reopen this ticket, this has caused my company a lot of issues

[2022-10-27 11:57] engcom-Bravo commented on #35569
Verified the issue on Magento 2.4-develop instance with mailhog email setup configured but could not reproduce the issue.
Order emails are getting triggered as expected for both guest and logged in users from front-end and admin panel.

Guest order created from front-end-No issue - Email triggered.

<img width="1004" alt="Screenshot 2022-10-27 at 3 22 03 PM" src="https://user-images.githubusercont

[2022-10-27 12:34] engcom-Bravo commented on #36364
Hi @mbattistini,

Thank you for reporting and collaboration.
Verified the issue on Magento 2.4-develop and 2.4.5 instances and the issue is reproducible on both the instances.Kindly refer the screenshots.

<img width="1367" alt="Screenshot 2022-10-27 at 1 57 48 PM" src="https://user-images.githubusercontent.com/51680745/198284664-e226db1a-bcd1-4a77-bb8d-1e0132365361.png">

<img width="1394" alt="S

[2022-10-27 12:35] Ritesh-Rana commented on #36376
Hi, @engcom-Bravo let me know if more information is required about this.

[2022-10-27 12:47] drinkingsouls commented on #35319
I am having a similar issue.
I can reindex Product EAV fine from command line.
If I use an Admin Reindex module from Mageplaza or Bss Commerce or another vendor I get an issue with a null value.

`Deprecated Functionality: explode(): Passing null to parameter #2 ($string) of type string is deprecated in vendor/magento/module-catalog/Model/ResourceModel/Product/Indexer/Eav/Source.php on line 444`

[2022-10-27 12:54] paragpadsumbiya commented on #24683
@JelleGe

Thanks for reply but we have noticed something very strange that issue is only with some of products only as its working fast for other products.

So its really strange as we have only 184 attributes.

[2022-10-27 15:09] KrasnoshchokBohdan commented on #35810
@glo35082 I propose to create a new notification/error to notify the user that "SKU" is required.

I can also prevent the "SKU" attribute from being made optional.

[2022-10-27 15:21] rogerdz commented on #36351
Hi @engcom-Bravo, thank you for your response.
I checked again and found that the cause is Magento_ConfigurableSampleData module.
So I disabled all sample data module and found to be able to reproduce the error by running the command php bin/magento indexer:reindex.
![2022-10-27_22-18](https://user-images.githubusercontent.com/78783748/198330376-58ce7e51-6e28-480e-b30b-1a555b12685b.png)

[2022-10-27 15:47] mwdana commented on #35733
We are still having the issue, but we can't determine where the issue lies -  if it's core Magento, with an extension, or something else. Thanks.

________________________________
From: Girija Bhavani Kudupudi ***@***.***>
Sent: Wednesday, October 26, 2022 7:52 PM
To: magento/magento2 ***@***.***>
Cc: Dana Yates ***@***.***>; Mention ***@***.***>
Subject: Re: [magento/magento2] UPS 150+ weight not

[2022-10-27 16:16] sdzhepa commented on #36366
Closed due https://github.com/magento/magento2/pull/36367#issuecomment-1293767499

[2022-10-27 16:16] #36366 closed, assigned to engcom-Bravo

[2022-10-27 16:29] engcom-Hotel commented on #13225
Hello @mattgrul @bsp-cory @kanevbg @erfanimani,

The label `Progress: PR Created` was added due to the wrong status made in JIRA. It was corrected. Currently, there is no PR created for this issue.

We have tried to reproduce the issue in the latest development of Magento ie 2.4-develop but the issue is not reproducible. It might the issue is fixed and merged with the development branch.

The step

[2022-10-27 22:51] Den4ik commented on #36351
@engcom-Bravo I'm agree that use of native php functions in core code is more correct

[2022-10-28 02:11] loic-paquin commented on #35889
This demo website is in 2.4.0 : [demo](https://magento-demo.mageplaza.com/)

As you can see the `<li>` in the menu have the attribute `role="presentation"`
Also my websites in 2.4.3 does not have the issue.
My websites in 2.4.4 have the issue.

It is not a feature request since it was working properly in the previous versions.

[2022-10-28 03:49] FadedOut commented on #35319
@drinkingsouls

Pretty certain that just means it's missing PHP 8.1 compatibility. Because that was popping up for me on a few different modules (the $string with null error). Once they were updated for PHP 8.x those errors went away.

[2022-10-28 05:18] engcom-Dash commented on #36356
@magento give me 2.4-develop instance

[2022-10-28 05:22] athreyag opened #36380 "[UCT]Using class or Extending from class that is non API on version 2.4.5"
### Preconditions and environment

I have generated Upgrade Compatibility Tool Report after upgrading from 2.4.2 to 2.4.5 and getting lots of errors in core files. Please find some of the errors reported for reference.

Extending from class 'Magento\Framework\App\Helper\AbstractHelper' that is non API on version '2.4.5'
Extending from class 'Magento\ProductAlert\Model\Observer' that is non API on

[2022-10-28 05:22] engcom-Dash commented on #36326
@magento give me 2.4-develop instance

[2022-10-28 06:58] engcom-Bravo commented on #36296
Hi @kylepham103,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-28 06:58] #36296 closed, assigned to engcom-Bravo

[2022-10-28 06:59] engcom-Bravo commented on #36293
Hi @MrBlueEyez,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-10-28 06:59] #36293 closed, assigned to engcom-Bravo

[2022-10-28 07:03] dooblem commented on #13225
Did you enable merge js/css as mentionned in the issue ?

[2022-10-28 07:09] glo35082 commented on #35810
@KrasnoshchokBohdan we discussed the matter regarding your comment "_I can also prevent the "SKU" attribute from being made optional._" We are planning and discussing on this, in a generic way which would cater all such attributes whichever to be deemed 'not optional' in future. We shall update you once any decision is finalised in this regard.

Right now we are delivering the fix with "The SKU at

[2022-10-28 07:36] Aythamiza opened #36381 "• When a product is sent a second image or a second image is updated via products/{sku}/media response api "message": "The product can't be saved."."
### Preconditions and environment

- Magento Comunity2.4.3-p2
- When a product is sent a second image or a second image is updated via products/{sku}/media response api "message": "The product can't be saved.".

### Steps to reproduce

1. You sent an image to a product without an image.
2. Sending the second image already fails, the same thing happens if the product previously has more than 1 imag

[2022-10-28 07:42] Nuranto opened #36382 "Expired cart price rule gets applied when create/renew order from Backoffice"
### Preconditions and environment

- Magento version 2.4.5-p1

### Steps to reproduce

1. Create a shopping cart rule : Active, without coupon, any discount, Discard subsequent rules = YES, active from = 2020-01-01, active to = 2020-02-01
2. Create another shopping cart rule : Active, with coupon 'TEST', any discount
3. From backend, reorder an existing order, and try to apply coupon 'TEST'

### E

[2022-10-28 07:44] cptX commented on #10594
Well this is issue is still alive and kicking, in Magento 2.4.5 in ubuntu server.
To solve it I wouldn't like to modify the php.ini file because this would affect the whole server.
Isn't there any solution only in Magento configuration? Modifying the php.ini globally doesn't look like a good solution.

[2022-10-28 07:46] engcom-Hotel commented on #35394
Hello @bonner-earle,

Thanks for the report and collaboration!

We have tried to reproduce the issue in Magento 2.4-develop branch but it seems it is working as mentioned in the [documentation](https://developer.adobe.com/commerce/php/development/components/declarative-schema/configuration/#db_schema-structure).

<img width="783" alt="image" src="https://user-images.githubusercontent.com/51681618/

[2022-10-28 07:56] engcom-Bravo commented on #36188
@magento give me 2.4-develop instance

[2022-10-28 08:13] Nuranto commented on #36382
UPDATE : If we simply make action `set Discard subsequent rules to NO`, then both rules are applied to cart.

[2022-10-28 08:19] engcom-Dash commented on #36356
Hi @nadroj467 ,

Thanks for your information...
We tried the steps which is given by you...We are not able to reproduce the issue..Because the import actually doesn't give completion me also as well as the data is not imported in the particular product... For your reference i attached the screenshots...Kindly check its...Thanks!!!
<img width="1512" alt="Screenshot 2022-10-28 at 12 51 53 PM" src="h

[2022-10-28 08:21] nadroj467 commented on #36356
@engcom-Dash You can see the screen record here https://icecreamapps.com/v/gqdhses

[2022-10-28 08:21] engcom-Dash commented on #36326
@magento give me 2.4-develop instance

[2022-10-28 08:29] #35394 closed, assigned to engcom-Hotel

[2022-10-28 09:12] ioweb-gr commented on #31172
@magento-engcom-team Hi, could you share some info on the status of `MC-42882`?

[2022-10-28 09:49] drinkingsouls commented on #35319
@FadedOut thanks for the response. This issue should be addressed in the module rather than Magento itself?

[2022-10-28 09:53] mattgrul commented on #13225
@engcom-Hotel It seems like you are not fully understanding the issue. If you read through the entire thread you will see this is an issue with load-balanced environments. The contents of `static/_cache` should be written during the compile stage, not, during the first initial web request.

[2022-10-28 11:01] TheBadong opened #36383 "Block preview in page builder broken for blocks that do not belong in the default strore."
### Preconditions and environment

Magento ver. 2.4.3-p2

### Steps to reproduce

1. Have a magento instance with at least two stores
2. Create a cms block only visible in the store that is not the default store
3. Create a cms page in on of the two stores (doesn't matter which one)
4. Add the cms block you created, in the page through the page builder.

### Expected result

Block preview should r

[2022-10-28 11:02] TheBadong commented on #36383
@magento give me 2.4-develop instance

[2022-10-28 11:05] edward-simpson opened #36384 "Sales order grid doesn't pull in missing sales"
### Preconditions and environment

- Magento version 2.4.5-p1
- dev/grid/async_indexing set to `1`
- at least 2 existing orders

### Steps to reproduce

1. Sort `sales_order_grid` by `updated_at` oldest first
2. Delete the first row (so you are deleting the order with the oldest `updated_at`
3. Run the `sales_grid_order_async_insert` cron job

I'm aware this is unlikely to happen in real life, but

[2022-10-28 11:05] MTheProgrammer commented on #26850
Same here, prices are loaded separately for every product of the configuration.

[2022-10-28 11:13] pierzakp opened #36385 "Unable to create magento/magento2 repository fork"
### Preconditions (*)

1. macOS Monterey 12.6.1
2. Opera browser / Chrome browser

### Steps to reproduce (*)

1. Open webpage of magento/magento2 repository
2. Click on Fork button on the top right
3. On the next page click Create Fork button

### Expected result (*)

1. Expected is that fork of magento/magento2 repository will be created under my private account

### Actual result (*)

1. During

[2022-10-28 11:14] TheBadong commented on #36383
Just tested and reproduced on this instance
![image](https://user-images.githubusercontent.com/32772726/198574347-7cb4ca75-a65c-4e47-8205-d6cdb60cfa82.png)

[2022-10-28 12:18] pierzakp commented on #36385
For your information, I tried also to remove whole description while creating fork and it does not help.

[2022-10-28 12:27] m2-assistant[bot] opened #36386 "[Issue] Improve performance of indexer when many attribute options"
This issue is automatically created based on existing pull request: magento/magento2#36306: Improve performance of indexer when many attribute options

---------
### Description
When there are many product attribute options, the indexer takes a long time to complete. This change improves performance so that the indexing process is much quicker.

I've performed a stand-alone performance analysis be

[2022-10-28 12:54] yevhen-slabonoha commented on #32785
I've fixed such an issue by creating the after plugin for Magento\JwtUserToken\Model\Revoker that executes during the customer logout process (**Mutation revokeCustomerToken**).
And in my case, I did next that fixed all related issues with guests and customers.
**Current version:** Adobe Commerce ver. 2.4.5-p1

`use Magento\Customer\Model\Session as CustomerSession;`

`/**
     * @param \Magento\J

[2022-10-28 13:01] pierzakp commented on #36385
It does not work when I do not touch description - leave it as it is loaded in the form,
also it does not work when I remove whole description.

But... it works if I remove part of the description ;)

[2022-10-28 13:27] cptX commented on #7114
This issue is still existing in magento 2.4.5!!

[2022-10-28 13:50] jurvi commented on #36054
I would be also interested in a temp solution if such exists, two clients are now missing exception.log making problem debugging unnecessarily harder.

[2022-10-28 14:05] pierzakp opened #36387 "Virtual types as plugins no longer work in Magento 2.4.5"
### Preconditions and environment

- Magento version 2.4.5
- Issue occurred after upgrade to Magento 2.4.5 from Magento 2.4.3
- Occurs in situation when we have a plugin which is a virtual type

### Steps to reproduce

Perform di compile when having a plugin which is a virtual type

### Expected result

Di compile is completed successfully,
virtual type real type should be used as resolvable names

[2022-10-28 14:06] pierzakp commented on #36387
@magento I am working on it

[2022-10-28 14:14] AshishKumarPundeer commented on #36188
@magento give me 2.4-develop instance

[2022-10-28 14:20] engcom-Hotel commented on #36308
Hello @mvenghaus,

We have rechecked the issue in the latest 2.4-develop branch and the issue is reproducible for us. After the user login from frontend we are getting the below error:

<img width="1435" alt="image" src="https://user-images.githubusercontent.com/51681618/198639201-8569a96a-8cb3-493c-b27a-ba980257062f.png">

Hence confirming the issue.

Thanks

[2022-10-28 14:25] baptiste09 commented on #36292
Hi @engcom-November,

I found the corresponding documentation for the issue: https://www.paypalobjects.com/webstatic/en_US/developer/docs/pdf/pp_payflowpro_guide.pdf

Page 40, chapter "Recharging to the Same Credit Card (Reference Transactions)":

for a period of 12 months

From PayPal account manager:

So Payflow Pro implementation should have a safe guard that invalidate stored cards after 1 yea

[2022-10-28 15:03] vseager commented on #33705
This issue seems to have resurfaced. Tested on 2.4.3-p3

[2022-10-28 15:18] engcom-Dash commented on #35535
@magento give me 2.4-develop instance

[2022-10-28 16:02] github-jira-sync-bot opened #36389 "[Cloud] Error when generating Logs system report due to 0-byte files"
**<ins>ISSUE</ins>**
Unable to generate System Report for Logs only when the log sizes are 0 bytes.

**<ins>STEPS TO REPRODUCE</ins>**
01. Create a file with 0 size in the var/log folder
[code]
02. Go to System > Support > System Report
03. Click New Report
04. Select Logs only
05. Click Create - an error occurs
06. Delete the file < var/log/zero_size.log > and try to create the report again - it

[2022-10-28 16:05] github-jira-sync-bot opened #36390 "Catalog sorting not working for boolean attributes"
**ISSUE:**
Sorting with a newly defined product attribute is_featured does not display expected results.

**STEPS TO REPLICATE:**
1) create attribute yes/no "is_featured" in store>attribute>product to enable sorting and listing options

2) assign it to the attribute set Top

3) Enable attribute on products for SKU MH07 > run indexer:reindex and flush cache

4) Navigate to the front page Men-> Tops

[2022-10-28 16:11] Stoyvo commented on #13225
@engcom-Hotel

The appropriate way to test this will be:

1. Magento 2 is installed, functional, visible on frontend.
2. Change to Production mode `php bin/magento deploy:mode:set production`
3. Enable "merged css": `php bin/magento config:set dev/css/merge_css_files 1`
4. Flush Cache just incase `php bin/magento cache:flush`
5. On server, verify no merged css files exist in `ls pub/static/_cache/

[2022-10-28 16:26] chittima commented on #36256
Internal team is working on this issue

[2022-10-28 17:20] rogerdz opened #36391 "Customer data in localstorage not reset when session file lost"
### Preconditions and environment

- Magento version 2.4-develop

### Steps to reproduce

1. Login customer in frontend
2. Add product to cart
3. Remove magento session files with command: rm -rf var/session/*
4. Flush cache

### Expected result

- Header not show customer name
- Mini cart not show any item

### Actual result

- Header still show old customer name
- Mini cart still show old item

[2022-10-28 17:37] cptX opened #36392 ""As low as" showing for configurable products even if "single price" is selected (all products same price)"
### Preconditions and environment

- Magento version 2.4.5

### Steps to reproduce

Create a configurable product with 2 options (e.g. different color). Select "Apply single price to all SKUs". Set the common price.
save the product. In product list the product will show "As low as $price"/

### Expected result

The correct result would be to show directly the price without the "As low as" phrase

[2022-10-28 21:33] #35923 closed, assigned to rogerdz

[2022-10-28 21:33] #35925 closed, assigned to nobody

[2022-10-28 21:33] #35964 closed, assigned to rogerdz

[2022-10-28 21:33] #35971 closed, assigned to nobody

[2022-10-28 21:33] #35981 closed, assigned to rogerdz

[2022-10-28 21:33] #36207 closed, assigned to rogerdz

[2022-10-28 21:33] #36252 closed, assigned to asim-blueprintprep

[2022-10-28 21:33] #36299 closed, assigned to rogerdz

[2022-10-28 21:33] #36338 closed, assigned to fredden

[2022-10-28 21:33] #35697 closed, assigned to sheepfy

[2022-10-28 21:33] #36060 closed, assigned to rogerdz

[2022-10-28 21:33] #36073 closed, assigned to engcom-Dash

[2022-10-28 21:33] #36201 closed, assigned to rogerdz

[2022-10-28 21:33] #36334 closed, assigned to nobody

[2022-10-28 21:33] #34439 closed, assigned to kassner

[2022-10-28 21:33] #34524 closed, assigned to sean-breeden

[2022-10-28 21:33] #33081 closed, assigned to karyna-t

[2022-10-29 06:38] FadedOut commented on #35319
@drinkingsouls No prob. Yup, it has to be fixed in the module because Magento works fine with PHP 8.x now. So if you're still getting problems like that it's because the module is not compatible with PHP 8.x - you'd have to bring that up with the module developers.

[2022-10-29 08:33] msankhla commented on #2540
Is this resolved ? I am not able to connect to oauth. Stuck on /oauth/token/request , where getting the same issue as posted originally: "oauth_problem=Cannot+create+request+token+because+consumer+token+is+not+a+verifier+token"

[2022-10-29 09:07] mrtuvn commented on #33686
Still valid problem so i will turn it on

[2022-10-29 10:27] cptX commented on #35319
Guys the issue here is actually "Product with Salable Qty of 0 shows 'In Stock' on product page". By mistake the author @FadedOut correlated it with "Product EAV index process error". So please let's stick to the initial issue which is also major!
I saw here that the fix was merged https://github.com/magento/magento2/commit/1fe7184e67ca089294787cd45c98c44cb0b13bac?diff=unified
So my question is wh

[2022-10-29 12:33] FadedOut commented on #35319
@cptX

You are correct in that this is really about the stock and the dropdowns/swatches.

But
A) I did not answer your previous post from a few days ago because you need to be able to read previous posts including the very first line of my OP. If you did, you would have notice that
B) There is an interim fix that works fine. You do not need to wait for 2.4.6 and
C) Yes, the dev "engcom-Hotel" alr

[2022-10-29 13:23] tpaaro commented on #32956
I wasn't pleased with the `position: absolute` solution so I had another go.

The new approach is about moving Fotorama's navigation wrapper to another element that has a **fixed height**. Moving takes place once the gallery has been loaded.

**Full changelog:**
[code]

Note: `d-none` adds `display: none !important`.

[2022-10-29 13:42] tpaaro commented on #32956
I was not satisfied with the `position: absolute` solution so I had another go.

New approach is about moving Fotorama's navigation wrapper element to a **fixed height** container.

**Full changelog:**
[code]

[2022-10-29 13:46] cptX commented on #35319
@FadedOut so if I understood correctly you suggest to use the patch here https://github.com/magento/magento2/issues/35319#issuecomment-1111842395 and not the official patch that is planned to be rolled out in 2.4.6 version? Please bear in mind I have 2.4.5 and not 2.4.4. Can this make a difference?
If you believe there are issues with the official patch then how can we expect to arrive in 2.4.6 an

[2022-10-29 14:49] BigBossDumps opened #36396 "[Big Boss] Shopdumpsgood.com SHOP SELL CC AND ATM CVV DUMPS FULLZ TOP UP - DUMPS CARDS CLONED - EMV Software"
### Preconditions and environment

- Magento version
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

 <<<<< THANK FOR READING ------ It's Our Pleasure To Serve You >>>>>

Credit card dumps with pin are data you can use to create a counterfeit credit card. and you can use it at any ATM
If you want to change your life and find ways to make money online,
Please

[2022-10-29 14:51] BigBossDumps commented on #36396
[Big Boss] Shopdumpsgood.com SHOP SELL CC AND ATM CVV DUMPS FULLZ TOP UP - DUMPS CARDS CLONED - EMV Software

             <<<<< THANK FOR READING ------ It's Our Pleasure To Serve You >>>>>

                       Https://www.youtube.com/watch?v=msA4UFyB61s

 HIGHT VALID RATE CVV2 FULLZ AND DUMPS WITH PIN FOR CARDING . CASHOUT ATM – CLONE CARDS DUMPS Https://Shopdumpsgood.com

 BEST SHOP TO BUY C

[2022-10-29 14:52] secaliskan commented on #35941
this done the trick

[2022-10-29 15:04] Perezking commented on #36396
Hello

[2022-10-30 08:26] stefancic opened #36398 "Some product URL version gives Error 404"
### Preconditions and environment

- Magento 2.4.4
- Anything else that would help a developer reproduce the bug

### Steps to reproduce

1. Create a product and assign it to different categories
2. URL rewrites are created in the database
3. Not  all URL rewrites are working on frontend, some randomly don't

### Expected result

All product URL versions should be working

### Actual result

Some

[2022-10-30 13:27] BigBossDumps commented on #36396
[Big Boss] Shopdumpsgood.com SHOP SELL CC AND ATM CVV DUMPS FULLZ TOP UP - DUMPS CARDS CLONED - EMV Software

             <<<<< THANK FOR READING ------ It's Our Pleasure To Serve You >>>>>

                       Https://www.youtube.com/watch?v=msA4UFyB61s

 HIGHT VALID RATE CVV2 FULLZ AND DUMPS WITH PIN FOR CARDING . CASHOUT ATM – CLONE CARDS DUMPS Https://Shopdumpsgood.com

 BEST SHOP TO BUY C

[2022-10-30 17:18] vutrankien commented on #32177
Quick solution : edit this file : /vendor/magento/module-customer/Model/Options.php
Inline 104 update code :
`$result[] = $this->escaper->escapeHtml(trim($value)) ?: ' ';`
to :
`$result[$value] = $this->escaper->escapeHtml(trim($value)) ?: ' ';`

[2022-10-31 01:29] FadedOut commented on #35319
@cptX

Yes that comment by "loic-paquin" that you linked to is correct. It is also not a "patch" it is simply a hack to make it work. It is not intended to be "official" in any capacity - it is a temporary fix until the official fix is released (2.4.6). You can use this fix for 2.4.5. I am on 2.4.5-p1 and have used that and it works fine (though do remember modifying core files is not recommended

[2022-10-31 02:36] engcom-Dash commented on #35535
Hello @khoimm92 ,
We have tried to reproduce the issue in Magento 2.4.4 issue is not reproducible.

Please refer the below screenshot for the reference;
<img width="1512" alt="Screenshot 2022-10-28 at 9 22 32 PM" src="https://user-images.githubusercontent.com/60198592/198919416-fce159f6-e097-4633-a40f-e41061dfe8af.png">

We have followed the below steps in order to reproduce the issue:
1.Add Produ

[2022-10-31 06:22] engcom-Dash commented on #36326
@magento give me 2.4-develop instance

[2022-10-31 06:57] nobodyfamouz commented on #35707
We are also facing this issue. Any progress on it?

[2022-10-31 07:19] engcom-Alfa commented on #36188
As @AshishKumarPundeer and other internal team
    - tried to reproduce in the `2.4-develop` Magento instance (Installed via Git clone), the issue is not reproducible at all.
    - tried to reproduce in the internal Magento cloud instance with the version `2.4.5`.
Only it is reproducible with the instance that is deployed via Github bot's `2.4-develop` instance.

We will not be able to debug as we

[2022-10-31 07:47] hostep commented on #35592
Hey @engcom-Lima: is there already some feedback from the PO about this? And if not, how long is it still going to take? Thanks!

[2022-10-31 08:13] fengliang2011 commented on #35437
I checked order state check code, it's totally hardcode and so ugly to change some business logic. If I want change the status to shipped after order shipped.

[2022-10-31 08:21] craig-bartlett commented on #35535
@engcom-Dash

Hi, for reference the following steps are required to trigger the bug:

- The instance must be running PHP 8.1
- The theme's image size must have an odd height and/or width
- The water mark must be enabled
- The water mark must be set to centred

As @benyatesvortex said above - you can trigger the error after by running bin/magento catalog:image:resize

[2022-10-31 09:20] Shaikh-Samir commented on #36054
@MeetKamal

We have verified this issue in our local environment and found work around(temporary) solution for it.

File path where need to replace core code:
vendor/magento/framework/Logger/Handler/System.php

Please replace below code:
[code]

With :
[code]

[2022-10-31 09:31] engcom-Hotel commented on #13225
Hello @Stoyvo,

Thanks for the detailed steps. The issue seems to be reproducible now. I think we are missing some steps while reproduction previously.

Please have a look at the below screenshot for reference:

<img width="1433" alt="image" src="https://user-images.githubusercontent.com/51681618/198976399-d38f3af9-3db0-4a1c-ba6c-eb29b3bb9073.png">

Hence confirming the issue and updating the main

[2022-10-31 09:54] asim-blueprintprep commented on #36252
@engcom-Lima as the merge request has been merged, what's the best way to close this ticket?

[2022-10-31 10:14] joshdavenport commented on #35861
This just brought down our clients website for a night, so this feels very real right now.

Our env.php looks somewhat like this https://gist.github.com/joshdavenport/8dcea4f378ebe6c6210602d2bc4be66c

It seems likely that this StackOverflow answerer hit the issue on the nose https://magento.stackexchange.com/a/359663/579. We also didn't have **any** entry in the `['cache']` key of env prior to it

[2022-10-31 10:16] cptX commented on #35319
@FadedOut thank you for your detailed answer!
I have experience with web programming (drupal coding for 12 years) but it has been always for my own needs, not for customers, so my methodologies are not so polished or widely acceptable. So yes I can detect bugs, and try solutions, but I don't have adequate time to create a fine polished solution from scratch these days, thus I'm relying on the comm

[2022-10-31 10:32] joshdavenport commented on #35861
For a, kind of, fix for anybody else experiencing this, we had success with adding an empty values into env so that when/if the GraphQL modules decide to add the entry to env, things don't fall over. So our env now looks has this:

[code]

[2022-10-31 10:47] engcom-Dash commented on #36356
@magento give me 2.4-develop instance

[2022-10-31 10:51] engcom-Dash commented on #36340
@magento give me 2.4-develop instance

[2022-10-31 11:47] engcom-Hotel commented on #33705
Hello @vseager,

Thanks for reopening the issue!

Just a question, is the issue reproduction are same as mentioned in the main description, or changed?

Thanks

[2022-10-31 11:57] zunsakai opened #36400 "How to change column type from "int" to "text/varchar" using db_schema.xml?"
### Summary

In the table `sales_shipment`. I want to change the column type `shipment_status` from `int` to `text/varchar`.
When I use `db_schema.xml`:
[code]
An error occurred:
[code]
I guess it comes from `vendor/magento/module-sales/etc/db_schema.xml`
![Screen Shot 2022-10-31 at 18 50 42](https://user-images.githubusercontent.com/8158019/199001514-9eb1193f-a8bd-404f-ac05-84585b929520.png)

I t

[2022-10-31 12:27] engcom-Dash commented on #36161
@magento give me 2.4-develop instance

[2022-10-31 12:46] lolareifs commented on #36374
Hello,
We have reviewed all the conditions that indicate us but unfortunately everything was correct and the reports continue to not work.
Thanks in advance,
Greetings

[2022-10-31 12:51] engcom-Dash commented on #36356
Hi @nadroj467 ,

We are trying to reproduce the issue in 2.4 develop branch...we are not able to reproduce the issue.

We are worked as per your last comments with 24-MB06. Event hough we are not not able reproduce the issue.

We are getting same results...The product quantity and saleable quantity is not changing.

Here i attached screenshots for your reference:

<img width="1512" alt="Screenshot

[2022-10-31 13:20] engcom-Dash commented on #36161
Hi @nbennett25 ,

Thanks For your information...We are worked as per your last instructions...We are able to reproduce the issue in 2.4-develop branch.
Version Of  Magento: 2.4 -Develop Branch
PHP: 8.1
Preconditions:
1.Magento Installation is Completed
2.Magento has two scopes
3.PayPal Recaptcha is Enabled
Steps to Reproduce:
1.Go to Admin > Stores > Configuration, select Website scope
2.Go to Sec

[2022-10-31 14:13] serbynskyi commented on #36337
Hi @oneserv-heuser ! Try to test it using fixes from https://github.com/magento/magento2/pull/36036

[2022-10-31 14:54] MeetKamal commented on #36054
Hi @Shaikh-Samir  -  Thank you for the Work around, Have tested and it seems working :)

[2022-10-31 15:33] serbynskyi commented on #33010
@magento I am working on this

[2022-10-31 15:43] #36389 closed, assigned to nobody

[2022-10-31 15:54] Hexmage commented on #35812
@engcom-Dash
We found the cause of the issue, we had the following node in our `app/etc/env.php`
[code]

[2022-10-31 17:00] devchris79 commented on #35812
@engcom-Dash
This is the same issue as #35861

[2022-10-31 19:05] hewgim opened #36404 "Incorrect Item Count on Catalog Search Pages"
### Preconditions and environment

Magento 2.4.5-p1
 Set Stores->Config->Catalog->Inventory->Stock Options->Show Out Of Stock Products = Yes

### Steps to reproduce

On a clean install on Magento 2.4.5-p1 with sample data, enter "Marco" as the search string

### Expected result

A single product Marco Lightweight Active Hoodie is displayed and an Item count of 1

### Actual result

A single produc

[2022-10-31 19:06] hewgim commented on #36404
@magento give me 2.4-develop instance

[2022-10-31 20:51] istoutjesdijk commented on #35861
We applied this too after our website went down suddenly. Took an hour to find out where it was coming from.

[2022-10-31 23:17] hewgim commented on #36404
@magento give me 2.4-develop instance

[2022-10-31 23:36] hewgim commented on #36404
I can confirm that the issue is reproducible on the 2.4-develop instance. See image.
<img width="1288" alt="Screenshot 2022-10-31 at 23 28 30" src="https://user-images.githubusercontent.com/24464795/199129068-2eb76058-3c57-406f-9229-a8f9a88aa256.png">

[2022-11-01 08:27] onepack commented on #35313
Same issue here with two clients after upgrading from 2.3 to 2.4.4-p2.
All integrations are broken.
![image](https://user-images.githubusercontent.com/475598/199190951-fb87530f-b5a2-4f54-8ef5-e19a4e49cb4f.png)

[2022-11-01 09:35] mobweb commented on #35861
I am also just now getting this error on a website that has run smoothly ever since we installed the latest version of Magento some time ago. Seems like two other people also experienced this issue after this ticket has been stale for some month. Is this just a strange coincidence?

The fix posted at https://github.com/magento/magento2/issues/35861#issuecomment-1296894551 also seemed to have fixed

[2022-11-01 10:53] paulhaidon commented on #36404
@magento give me 2.4-develop instance

[2022-11-01 10:54] DavaGordon opened #36405 "Error Generating Languages."
### Preconditions and environment

- Magento version: 2.4.2 p1
- While trying to generate languages files i stumbled across this issue which prevented me from being able complete the task.

### Steps to reproduce

1. From the CLI
2. enter `bin/magento i18n:collect-phrases --o="/full/path/to/magento/app/design/frontend/custom/theme/i18n/en_US.csv" --magento ` and hit return

### Expected result

Co

[2022-11-01 10:54] DavaGordon commented on #36405
@magento I am working on this

[2022-11-01 10:55] DavaGordon commented on #36405
@magento add to contributors team

[2022-11-01 10:58] DavaGordon commented on #36405
@magento add to contributors team

[2022-11-01 11:02] DavaGordon commented on #36405
https://github.com/magento I am working on this

[2022-11-01 11:02] DavaGordon commented on #36405
@magento I am working on this

[2022-11-01 11:59] paulhaidon commented on #36404
I span up a test environment to try and recreate an issue we have experienced relating to stock control on our freshly upgraded 2.4.5-p1.. the issue is not directly linked with searching though. Instead, it is when you are trying to save a simple product within a configurable product from out of stock, to in stock again.

Editing a simple product within a configurable product:
1. Set simple produc

[2022-11-01 13:09] hewgim commented on #36404
Hi @paulhaidon, I'm sorry but I have to disagree with you. The error appears directly when searching, but you have to have to have the configuration Stores->Config->Catalog->Inventory->Stock Options->Show Out Of Stock Products = Yes. You can see from the screenshot I attached for the search "Marco" that 1 item is returned (I put one marco product into stock), yet the number of items displays as 47

[2022-11-01 13:19] paulhaidon commented on #36404
Sorry I think you may have misunderstand what I was saying - I was not saying your issue doesn't exist, I was merely highlighting that I was also having an issue similar which related to the stock inventory, but in my case it was when we updated a product when we changed it from out of stock.

To avoid creating a new bug for what I thought could have been a similar issue, I added my comments here.

[2022-11-01 19:42] jponeill commented on #36363
Checking to see if you need more information?

[2022-11-01 20:14] DavaGordon commented on #36398
@magento I am working on this

[2022-11-01 20:15] DavaGordon commented on #36398
@magento give me 2.4.4 instance

[2022-11-01 20:24] DavaGordon commented on #36385
@pierzakp this is not an issue i folked this repo earlier today with the same issue after changing the description to something more relevant and less than 350 characters it worked no issues.

[2022-11-02 04:44] engcom-Dash commented on #36136
Hi @leonhelmus ,

Thanks for your Contribution!

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks !!!

[2022-11-02 04:44] #36136 closed, assigned to engcom-Dash

[2022-11-02 05:06] engcom-Dash commented on #36264
Hi @AdrianChungie ,

Thanks For your collaboration!

 I placed order on the USD store and checkout via credit card using braintree. I used $100 USD Product…and I waited 10 days as per your instructions and the product in merchant account is expired.Again I created invoice using the expired Product…It will send the USD Braintree merchant in Sandbox Account….For your Reference I attached the screens

[2022-11-02 05:19] engcom-Dash commented on #35812
Hi @devchris79 ,

We are Closing this issue seems its like duplicate [ https://github.com/magento/magento2/issues/35861]( )

Let us know if we missing anything!!!

Thanks!

[2022-11-02 05:19] #35812 closed, assigned to engcom-Dash

[2022-11-02 06:17] engcom-Bravo commented on #36261
Hi @kiruthika1611,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-02 06:17] #36261 closed, assigned to engcom-Bravo

[2022-11-02 06:18] engcom-Bravo commented on #36236
Hi @lucbard,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Thanks.

[2022-11-02 06:18] #36236 closed, assigned to engcom-Bravo

[2022-11-02 06:28] engcom-Bravo commented on #36342
Thanks for your contribution @kestraly,

@psdevquestions Kindly go through with @kestraly comment.Kindly recheck the issue on Magento 2.4-develop instance and check if any 3rd party extensions / modules enabled is causing this issue.

Please let us know if you are still facing any issue.

Thanks.

[2022-11-02 08:42] Shaikh-Samir opened #36407 ""Integration not secure" warning showing in list of integration, if field values of "Callback URL" and "Identity link URL" are empty."
### Preconditions and environment

    Magento version 2.4.5
    PHP 8.1 (FPM)
    Apache2.4
    Ubuntu 20.04.5 LTS

### Steps to reproduce

1. Login to admin panel
2. Go to "System >> Extensions >> Integrations"
3. Add New Integration.
4. Fill up require fields but **fields "Callback URL" and "Identity link URL" leave empty** and Save.
5. Now error displaying as mentioned in below  attachment:
![

[2022-11-02 10:18] ESCA7A commented on #35419
make sure that you run the command from the root where `docker` is located
and not from the folder where `magento 2` is located
[1. docker located](https://www.flickr.com/photos/196842747@N02/52471813046/in/dateposted-public/lightbox/)
[2. magento 2 located](https://www.flickr.com/photos/196842747@N02/52472272685/in/dateposted-public/lightbox/)

[2022-11-02 10:39] engcom-Hotel commented on #34394
Hello @DmitryFurs @navarr,

We have tried to reproduce this issue in the Magento 2.4-develop as well as 2.4.5 by creating a custom module to create a table. We have followed the below steps with and without the Vertex module installed:

1. Creating a module to create a table.
2. Run `bin/magento setup:db-declaration:generate-whitelist --module-name=Magz_Issue34394` command
3. and then `bin/magento

[2022-11-02 10:51] engcom-Hotel commented on #33623
Hello,

We have received feedback for this ticket from PO and I think we should close this issue as not a bug because it really looks like it was designed intentionally, probably to support use cases when we need to support navigation from bundle PDP to its simple, so it's not a good idea to break this since there might be extensions which already using it.

Hence we are closing this issue.

Thank

[2022-11-02 10:51] #33623 closed, assigned to nobody

[2022-11-02 11:58] engcom-Bravo commented on #33995
Hi @lbajsarowicz,

Thank you for reporting and collaboration.

Magento site is running on Production Mode.
Verified the issue on Magento 2.4-develop and the issue is not reproducible.we tired with 100k+ products and 500k+ Products in a category but couldn't find raw SQL query.Kindly refer the screenshots.

<img width="1453" alt="Screenshot 2022-11-02 at 4 51 44 PM" src="https://user-images.githubu

[2022-11-02 12:02] engcom-Bravo commented on #31625
Hi @ajithkumar-maragathavel,

Thank you for reporting and collaboration.

Kindly provide exact issue on which you are facing and also provide exact steps to reproduce, actual result and expected result and provide screenshots if required.

Thanks.

[2022-11-02 12:03] engcom-Bravo commented on #33343
@magento give me 2.4-develop instance

[2022-11-02 12:21] sanganinamrata commented on #35377
I'm also facing the same issue on Magento version 2.4.1. Any updates on this?

[2022-11-02 13:55] p24-max opened #36408 "Catalog fulltext search performance"
### Preconditions and environment

- Magento version: 2.4.3-p3
- MariaDB 10.3.34

### Steps to reproduce

* Enable mysql slow query log
* Create or import a large number of products (~50.000) into your catalog
* Open magento admin, navigate to catalog > Products
* Type a phrase into the full text search field and press enter
* Check slow query log, this query is logged:
[code]
At my machine this q

[2022-11-02 14:16] pierzakp commented on #36385
@DavaGordon indeed, but some action needs to be taken in order to resolve this issue.

[2022-11-02 14:33] nbennett25 opened #36409 "Customer Import: update to `disable_auto_group_change` ignored"
### Preconditions and environment

1.Magento 2.3.5-p2
2.Customer exists

### Steps to reproduce

1. Go to System > Import/Export > Export
2. Select type: Customer Main File
3. Export Customer record
4. In downloaded file, strip out all non-required fields except for `disable_auto_group_change`
5. Change `disable_auto_group_change` value(if the customer already has the disable auto group change che

[2022-11-02 14:33] nbennett25 commented on #36409
@magento give me 2.4-develop instance

[2022-11-02 14:34] AdrianChungie commented on #36264
Thanks for looking into this, I guess the problem is not easy to replicate. I will have to check again on my end why this may have happened. If it happens again I will try to get more details. You can go ahead and close this issue for now. Thanks!

[2022-11-02 14:46] nbennett25 commented on #36409
Confirmed in `2.4-develop`

[2022-11-02 15:43] devchris79 opened #36410 "Product reviews can't be updated"
### Preconditions and environment

- Magento version 2.4.5

### Steps to reproduce

1, Approve a product review
2, Update the review, in our case we wanted to add a thanks and say we had corrected a documentation issue
3, Save and flush the cache

### Expected result

Updated review

### Actual result

Review text remains the same

### Additional information

If we change a review status to pendin

[2022-11-02 15:43] devchris79 commented on #36410
@magento give me 2.4-develop instance

[2022-11-02 15:51] #36410 closed, assigned to nobody

[2022-11-02 16:10] vseager commented on #33705
@engcom-Hotel Yes I can confirm that the steps to reproduce are the same as the original description.

[2022-11-02 17:33] dtavieres commented on #35978
Hello @engcom-Delta,
Do you have any news about it ? Page Builder is not working in 2.4.5
Can not resolve any source file like this
main.CRITICAL: Unable to resolve the source file for 'adminhtml/Magento/backend/en_US/Magento_PageBuilder/js/converter/style/remove-px.js.map' [] []

Thank you

[2022-11-02 17:34] DavaGordon commented on #36385
@pierzakp agreed but not a critical issue.

[2022-11-02 17:51] maxlussier commented on #36202
For those interested I have contacted Mirasvit Dev Team to inform them of the situation. They informed me that they will include the fix in their next release (1.2.9). In the meantime, here's the patch:

[code]

[2022-11-02 17:59] engcom-November commented on #24581
Verified the behavior on Magento 2.4-develop instance and the issue is reproducible. unique key is missing on eav_attribute_label table. Hence confirming this issue.

[2022-11-02 18:05] engcom-November commented on #36398
Hi @stefancic ,
Thank you for reporting and collaboration. Verified the issue on Magento 2.4-develop and the issue is not reproducible.
**Steps performed:**
1. Navigate to admin panel > create 5 different categories > create a product and assign to all the 5 categories > save
2. Go to stores > configuration > web > serach engine optimization > set to YES
3 Now select catalog > catalog > search eng

[2022-11-02 18:07] engcom-November commented on #36377
@magento give me 2.4-develop instance

[2022-11-02 18:20] engcom-November commented on #36377
hi @bckpff ,
Thank you for reporting and collaboration. This issue is a duplicate of https://github.com/magento/magento2/issues/35899 and got fixed in the scope of the internal Jira ticket AC-6395 by the internal team
Related commits: https://github.com/magento/magento2/search?q=AC-6395&type=commits
Based on the Jira ticket, the target version is 2.4.6. Hence we are closing this issue.
Thank you.

[2022-11-02 18:20] #36377 closed, assigned to engcom-November

[2022-11-02 18:38] #35993 closed, assigned to nobody

[2022-11-02 18:41] perryholden commented on #30514
Still happening in 2.4.4. As @danslo has noted, Magento doesn't log this error.

[2022-11-02 20:29] treck commented on #35655
Had the same issue with an alpine3.16 Docker Image.

You need to check `php -a`
and then type `print_r(\ResourceBundle::getLocales(''));`
The Magento List depends on that php-Feature.

[2022-11-02 20:36] HenKun commented on #31555
Amy progress on that?

[2022-11-02 20:43] rubenelshof commented on #35655
I should have added the solution I found.

Starting with alpine 3.16 & up the ICU package (which php uses) was split up between just English & a full package with all languages.
https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.16.0#ICU_data_split

To fix the issue I installed the package `icu-data-full`