[2021-01-05 13:20] #12856 closed, assigned to engcom-Golf

[2021-01-05 13:20] #18140 closed, assigned to engcom-Golf

[2021-01-05 13:20] #30256 closed, assigned to SmVladyslav

[2021-01-05 13:20] #31059 closed, assigned to SmVladyslav

[2021-01-05 13:20] #31143 closed, assigned to mastiuhin-olexandr

[2021-01-05 13:33] ajijshekh123 commented on #31541
@magento give me 2.4-develop instance

[2021-01-05 13:56] engcom-Bravo commented on #28334
Hello @maderlock

Thank you for your report.

The reported behaviour is reproducible on the latest 2.4-develop.
The main issue is that the products are filtered by the original price, not Price + Tax, which might be misleading from the user perspective.

[2021-01-05 13:57] eduard13 commented on #31518
Fixed in scope of https://github.com/magento/magento2/commit/427f9bfc461255916b72068fda0482833bc421e1.

[2021-01-05 13:57] #31518 closed, assigned to nobody

[2021-01-05 13:58] magento-engcom-team commented on #27217
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40292` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-05 13:59] magento-engcom-team commented on #28334
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40293` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-05 14:00] ajijshekh123 commented on #31541
Hello @achatpc,

Verified this issue on the latest Magento 2.4 Instance. After the product saved I didn't get any of the errors.
**You can review attached the video of the below link:**
https://drive.google.com/file/d/11iZta4EORJ_-siuVjCnZTimYdwlYo86j/view

Thanks.

[2021-01-05 14:10] sivaschenko commented on #26194
@korostii it looks like we'll need to introduce the alternative to the API classes dependent on Newsletter and mark that API as deprecated first (I think it would be good to do that in 2.4, so that we can remove them in 2.5).

@sidolov what do you think about this?

Yes, there are plans to create 2.5-develop branch soon

[2021-01-05 15:01] Aravindh468 commented on #28924
I am also in need of the same functionality as I couldn't able to sort by Stock Status/Quanity. In previous magento versions (prior to Magento 2.4)it worked fine but in Elastic search Quantity sorting is not working.

The Product attribute "quantity_and_stock_status" is indexed in Elasticsearch only for In-stock products and didn't saved for Out of stock products. So it is not possible from Magent

[2021-01-05 15:03] magento-engcom-team commented on #29884
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40294` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-05 15:31] siliconalchemy commented on #9581
Go away stalebot, this is still a valid issue.

[2021-01-05 15:34] johncarlson21 opened #31554 "Newsletter email confirm issue"
### Preconditions (*)

1. Magento 2.3.6
2. PHP 7.2.30
3. Ultimo Theme

### Steps to reproduce (*)

1. In Admin, Edit customer and check the subscribe to newsletter box
2. confirmation email is sent
3. click confirm subscription in email

### Expected result (*)

1. open page to confirm and redirect to home page
2. load home page with message that subscriber is confirmed

### Actual result (*)

1.

[2021-01-05 15:34] johncarlson21 commented on #31554
@magento give me 2.3-develop instance

[2021-01-05 15:37] johncarlson21 commented on #31554
@magento give me 2.3-develop instance

[2021-01-05 15:42] shikhamis11 commented on #27346
@magento give me 2.3.6 instance with edition ee

[2021-01-05 15:45] johncarlson21 commented on #31554
@magento give me 2.3-develop instance

[2021-01-05 15:47] niners52 commented on #30486
@christianbookpwood Did you run any additional commands after this? I am using the v3 and getting the same error still even after changing it. Tried clearing both caches, compile, and deploy but it is still there.

[2021-01-05 15:49] HenKun opened #31555 "Shipping Label is created although shipment creation fails due to items being out of stock"
### Preconditions (*)

Magento 2.4.1
Netresearch DHL Shipping Module (dhl/shipping-m2) v1.3.0 (but it will happen with any other carrier that is able to print shipping labels)

### Steps to reproduce (*)
- Create an order with an in stock product and shipping method of carrier that is able to print shipping labels
- Set quantity of product to 0 (this can happen in different scenarios, even if rese

[2021-01-05 15:52] shikhamis11 commented on #31183
@magento give me 2.3.6 instance with edition ee

[2021-01-05 15:54] ayasoftware commented on #29340
I can confirm that the issue is still in Magento 2.4.1 - not in JS console but in nginx error logs.

[2021-01-05 15:55] navarr commented on #27678
bump

[2021-01-05 15:56] christianbookpwood commented on #30486
Here are all of the commands I ran to update my settings. Note that this was at the very end of the upgrade process and my site was in maintenance mode at the time:

[code]

[2021-01-05 15:57] niners52 commented on #30486
@christianbookpwood Perfect, thank you so much.

[2021-01-05 16:39] f1-outsourcing commented on #31536
My upload_tmp_dir is set to the same value as session.save_path and both are visible and set when I execute a phpinfo() from within the magento root.
I just removed the /tmp from the open_basedir and get from a running magento 2.3.6 again the errors

`com/app/bootstrap.php on line 10\nPHP message: PHP Warning:  realpath(): open_basedir restriction in effect. File(/tmp) is not within the allowed pa

[2021-01-05 17:15] hostep commented on #28387
Hmm, let's remove the stale issue label, this sounds pretty important.

@sidolov: can somebody verify this and if verified add some priorities?

[2021-01-05 17:27] hostep commented on #30012
Issue makes sense I think, removing stale issue label...

@sidolov: would be great if somebody could verify if this is still the case in 2.4-develop (since the referenced code was refactored a couple of months ago) and then assign priorities.

[2021-01-05 17:38] hostep commented on #29373
Issue totally makes sense. So if I understand it correctly multiple Magento installations on the same (linux) server will all write to `/tmp/analytics/` which might mix up data for all these shops together and send them over to Magento Analytics service, which can lead to very incorrect data and can probably even be seen as a security issue...

@sidolov: can somebody verify and then assign priorit

[2021-01-05 17:43] m2-assistant[bot] opened #31557 "[Issue] show or hide password widget created"
This issue is automatically created based on existing pull request: magento/magento2#31482: show or hide password widget created

---------

### Description (*)

Added a jquery widget that will display a checkbox below the password field in the forms to show/hide the password.
Users can able to toggle between showing/hiding the password.
**Below are sections that are affected by this widget:**
1.

[2021-01-05 18:37] ihor-sviziev commented on #31536
@f1-outsourcing I dn't see any realpath on the magento 2.3.5 in the app/bootstrap.php
https://github.com/magento/magento2/blob/2.3.6/app/bootstrap.php#L10

Seems like you have some modified version. Could you provide it?

[2021-01-05 19:37] ajmalbuffy opened #31558 "Error while installing sample data in magento 2.4.1"
**Preconditions:**
Getting the below error while trying to install sample data and upgrading the setup in Magento 2.4.1
Error: **Unable to apply data patch Magento\CatalogRuleSampleData\Setup\Patch\Data\InstallCatalogRuleSampleData for module Magento_CatalogRuleSampleData. Original exception message: Rolled back transaction has not been completed correctly.**

 **Steps to reproduce:**
Step:1 Insta

[2021-01-05 19:45] f1-outsourcing commented on #31536
I have almost a fresh install, I downloaded this.
magento-ce-2.3.6-2020-09-25-06-31-35.tar.gz

And currently applied these changes (making some manual for myself)

[code]

The idea is to see if I can get some date migrated from an old 1.9 store.

[2021-01-05 19:57] sdzhepa commented on #29884
Hello @johncollinseu

Thank you for your report and collaboration!

Let me shed some light on this issue.
 1. This issue is a duplicate of https://github.com/magento/security-package/issues/266
 2. https://github.com/magento/security-package/issues/266 was already fixed by the Magento team
 3. The fix should be available in 2.4.1p1 and 2.4.2 releases. This information was added to the known-issue

[2021-01-05 20:00] magento-engcom-team commented on #29884
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-05 20:09] yougottabekiddingme opened #31559 "ecommerce history won't come up"
I can't pull up orders from December to print label for customer's part that came in and needs shipped.
Is the a help phone number for the new ecommerce setup as it's currently not very user friendly

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2021-01-05 20:42] magento-engcom-team opened #31560 "[GraphQL] UpdateGiftRgistryRegistrants can be used to unknowingly add random/incorrect persons as registrants to customer's gift registry"
#### Pre-Requisites:
-  Create a few registered customers and create  gift registries for these  customers. ( For example, create a b’day registry for one customer, a wedding registry for a second customer , and a baby registry for the third  customer etc)
- Pick one registered customer and generate a token for one of the registered customer( ex: customerA and take a note of his giftRegistyUid)

#

[2021-01-05 20:42] magento-engcom-team commented on #31560
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-40301

[2021-01-05 20:47] PromInc commented on #29248
I agree that this is an issue in 2.4.1
Of note, I have 3 vaulted cards saved to my customer account via Braintree.

In Javascript, it uses the vaulted payment methods ID to know which radio button was selected and thus to show the pay button for.
https://github.com/magento/magento2/blob/445b0f1a3d6a91b5da32d311077c2112ef0b1503/app/code/Magento/Vault/view/frontend/web/js/view/payment/method-rendere

[2021-01-05 20:57] sidolov commented on #29373
@hostep yes, we will verify all the not confirmed tickets marked as stale before the due date. Thank you for the input!

[2021-01-05 21:11] magento-engcom-team commented on #30276
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40302` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-05 21:21] hostep commented on #12718
I've just tested this on a clean Magento 2.3.6 and 2.4.1 installation and the issue no longer occurs. No idea when and how it got fixed.

Issue can be closed I believe.

[2021-01-05 21:33] hostep commented on #29363
Can still reproduce in a clean 2.4.1 installation.

There is also this weird 'next' link showing up in the footer after a first login into the admin which is part of this thing:
<img width="1085" alt="Screenshot 2021-01-05 at 21 57 37" src="https://user-images.githubusercontent.com/85479/103698799-2d67b680-4fa2-11eb-872c-0b80f2f188b8.png">

This whole thing is part of the [release-notification](ht

[2021-01-05 21:35] sdzhepa commented on #12718
Thank you @hostep

[2021-01-05 21:35] #12718 closed, assigned to nobody

[2021-01-05 21:58] #19168 closed, assigned to nobody

[2021-01-05 22:12] vkolesny commented on #19168
L3 ticket, which is related to this GitHub issue, was closed as Not a Bug due to the Product Owner clarification:
"Discount Qty Step (Buy X)" is not supposed to be working in a way as merchant is expecting. It is only supposed to be used for "Buy X get Y Free" discount type, which is applied per cart item but not for sub-selection of products in cart.
In order create such cart rule as merchant is

[2021-01-05 22:13] engcom-Alfa commented on #31285
@pnaimish we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-01-05 22:13] #31285 closed, assigned to engcom-Alfa

[2021-01-05 23:45] magento-engcom-team opened #31561 "[GraphQL] Unable to update giftRegistry items"
#### Pre-Requisites:
 - Need to have atleast one gift registry created with few products( or items)

#### Steps to reproduce:
 - Run the updateGiftRegistryItems mutation
[code]

[2021-01-05 23:45] magento-engcom-team commented on #31561
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-40304

[2021-01-06 00:44] mrtuvn commented on #31558
Have you try switch php version from 7.3 to 7.4( Ex: 7.4.9)

[2021-01-06 00:58] mrtuvn commented on #31558
Another problem come from
https://github.com/magento/magento2-sample-data/blob/2.4-develop/app/code/Magento/CatalogRuleSampleData/fixtures/catalog_rules.csv
Invalid json in csv in column `conditions_serialized`. As my view in code magento try to process string replace data before insert to database. You can see reference with %url_key=%
Before i still get issue similiar you but recently i don't ge

[2021-01-06 02:30] erfanimani commented on #29050
I would love to have this feature. We're running into the same issue.

+1

[2021-01-06 04:38] niku0911 opened #31562 "Checkout page when Promotion code applied Shipping charge not reflected"
### Preconditions (*)
1. Magento 2.3.3
2. MySQl 7.2

### Steps to reproduce (*)
1. Create Cart Rule if cart total is equal or greater than 75 Free Shipping
![image](https://user-images.githubusercontent.com/50168477/103729184-d693c880-5005-11eb-9a58-5aa9d723b55d.png)

2.  Create Cart Rule with Discount code , e.g Discount Code (20OFF)
![image](https://user-images.githubusercontent.com/50168477/103

[2021-01-06 06:15] titechnologies commented on #22737
Thank you.
One question, how can we filter out these out-of-stock products from the API result?

[2021-01-06 06:41] magento-engcom-team commented on #31557
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40307` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-06 07:17] MartinAarts commented on #31559
I think you need to be a lot more specific about what is going wrong. Can you tell a lot more about what you've tried and what isn't working?

No, there isn't a support phone number, you're using free software. If you want proper support, you should apply for Magento Commerce. Then you might get some support.

[2021-01-06 07:23] menacoders commented on #22737
you mean, you only want to return the in_stock products ?
if that what you want.. you could use this api

`rest/V1/products?searchCriteria[filter_groups][0][filters][0][field]=quantity_and_stock_status&searchCriteria[filter_groups][0][filters][0][value]=2`

just add the quantity_and_stock_status filter so it's will return the in_stock products
instock value = 2
outofstock value = 1

[2021-01-06 08:43] trinhpham commented on #26815
@nuzil
I am not using `ssl`, intentionally set it to `false` doesne't help (seems the same to @matutetandil )
My Magento CE version is 2.4.0.

Therefore I think we should re-open this issue

[2021-01-06 08:59] ihor-sviziev commented on #31536
Hi @f1-outsourcing,
So you have disabled `error_reporting` and `set_error_handler` functions using https://www.php.net/manual/en/ini.core.php#ini.disable-functions
Unfortunately, Magento might work incorrectly when these functions are disabled. I strongly recommend you to allow using these functions for correct work of Magento.

[2021-01-06 09:03] engcom-Delta commented on #31559
Hi @yougottabekiddingme thank you for your report. Please update ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) if you are still facing this issue on the latest `2.4-develop` branch.

[2021-01-06 09:32] lbajsarowicz commented on #29130
The issue affects the Developer Experience, still needs to be sorted.

[2021-01-06 09:32] seansan commented on #28910
Please dont mark this as stale and dont close. I think it is the 1 thing EVERYBODY in the community agrees on! See the HYVA and HYVA ADMIN project https://hyva.io/ https://twitter.com/willemwigman/status/1332619794437255169
Let make Magento great again! @Vinai

[2021-01-06 09:33] lbajsarowicz commented on #29562
@jissereitsma Do you have any updates on whether the issue was sorted already?

[2021-01-06 09:34] lbajsarowicz commented on #28050
There are still Plugins in Framework namespace.

[2021-01-06 09:35] lbajsarowicz commented on #27996
The issue is still applicable.

[2021-01-06 09:37] lbajsarowicz commented on #27900
Although it affects Admin Dashboard performance, this was never a performant part of Magento, so we can skip these unnecessary calls.

[2021-01-06 09:37] #27900 closed, assigned to nobody

[2021-01-06 09:38] lbajsarowicz commented on #29319
The issue is still there.

[2021-01-06 09:39] magento-engcom-team commented on #31526
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40310` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-06 10:02] TectonicKestrel opened #31566 "Tax calcuation for UK VAT is wrong"
### Preconditions (*)
1. Magento CE 2.3.6 (had same issue on 2.3.3)
2. PHP 7.3
3. Server version: 5.7.31-cll-lve - MySQL Community Server
4. https://github.com/StockChannel/SinchImport - This module imports stock and pricing
5. Official Stripe Payment module
6. Catalog prices are Ex VAT
7. Frontend prices show as exc and inc VAT
8. Tax is calucated on Unit, but have the same result on Row and Tota

[2021-01-06 10:51] engcom-Bravo commented on #28662
Hello @AJHopper

Thank you for your report.

Seems like the issue is already fixed on the latest 2.4-develop installed with and without [Inventory Modules](https://github.com/magento/inventory)
We have rechecked with different SKU variations and Product types.

Can you please confirm that you are able to reproduce the reported issue on 2.4-develop?

Thank you in Advance

[2021-01-06 10:59] AJHopper commented on #28662
@engcom-Bravo Havent been able to test this on 2.4 at all so am not sure as to if its fixed on that version - not currently in a place where I would be able to test for a while either unfortunately.

[2021-01-06 11:13] engcom-Bravo commented on #28662
@AJHopper Thank you for the quick response.

When you'll have an opportunity to check it, you may use the _@magento give me a_ command and the deployer will create a temporary instance for you.

Thank you

[2021-01-06 11:19] mrtuvn commented on #28910
@seansan It's not admin theme as you think! It's only one piece of entire picture in backend. But i think we have all tools for make new admin theme! But may need times. We can craft new admin from scratch base on tailwind and i believe it is good for build dashboard

[2021-01-06 11:23] shikhamis11 commented on #27346
hi @alnmaiafernandes
I am not able to reproduce this issue on latest magento instances 2.3.6 and 2.4.1 with the steps you mentioned so closing the issue.
Feel free to reopen if you are still able to reproduce the issue on latest magento instances also please update the issue description if it requires additional steps to reproduce this.

[2021-01-06 11:23] #27346 closed, assigned to nobody

[2021-01-06 11:37] tzyganu opened #31567 "Canceling moving a category has unexpected behavior for the category tree"
### Preconditions (*)
1. Magento 2.4-develop,
 Magento CE 2.3 (did't check on other versions yet)
2. Be logged in in the backend and view the category management page.
3. Admin category tree as follows.

[code]

### Steps to reproduce (*)
1. Move category Level 2.1 up one level as a sibling of Level 1.1 and level 1.2 and press OK in the confirmation popup. Do not refresh the page after doing this.

[2021-01-06 11:43] f1-outsourcing commented on #31536
As in if we do not see/log the error, it is resolved? :) Lets focus on that /tmp is being accessed and  upload_tmp_dir / session.save_path is not properly read. Maybe time to reopen this.

[2021-01-06 11:46] jissereitsma commented on #29562
@lbajsarowicz You mean with the composer replacement tricks? Because the issue itself does not ring a bell?

[2021-01-06 11:50] f1-outsourcing commented on #31513
This seems to work

[code]

https://stackoverflow.com/questions/838978/how-to-check-if-mysql-database-exists

[2021-01-06 12:05] chiranjeevi-cj commented on #31311
@magento I am working on this

[2021-01-06 12:53] magento-engcom-team commented on #29319
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40311` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-06 13:10] magento-engcom-team commented on #28050
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40313` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-06 13:11] seansan commented on #28910
I know what hyva is (today). It is only an example

The backend needs to be improved for far far better GUI / UX

On Wed, 6 Jan 2021 at 12:19, Tu Nguyen <notifications@github.com> wrote:

[2021-01-06 13:11] magento-engcom-team commented on #31567
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40314` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-06 13:12] engcom-Bravo commented on #31558
Hello @ajmalbuffy

Thank you for your report.

This is a known issue and has been previously reported, https://github.com/magento/magento2/issues/30685 Here is the PR wich fixes the issue https://github.com/magento/magento2/pull/30928
It will be fixed in the next release.

We are closing this issue as Duplicate of #30685

[2021-01-06 13:12] #31558 closed, assigned to engcom-Bravo

[2021-01-06 13:20] hirensoni2005 commented on #29713
Do we have any update on this, as I am facing the same issue on M 2.4.1 too.

[2021-01-06 13:31] ihor-sviziev commented on #31513
@f1-outsourcing
1. does it also checks if the current user having permissions to this database?
2. could you create a pull request for fixing this issue?

[2021-01-06 13:35] ihor-sviziev commented on #31536
@f1-outsourcing could you provide more info, like error/warning log that you're having?

[2021-01-06 13:37] engcom-Bravo commented on #9581
Hello @siliconalchemy

Thank you for your report.

We Confirm that the issue is still valid on 2.4-develop, and we have added Precondition, Steps to reproduce, ER and AR to the description.

[2021-01-06 13:39] magento-engcom-team commented on #9581
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40317` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-06 13:44] ihor-sviziev commented on #30168
I believe we still need to fix it

[2021-01-06 13:48] ihor-sviziev commented on #29628
Hi @Eddcapone,
As @hostep said, by default Magento executes static content on all themes. If you want to deploy only one theme - you can just specify it.

In addition to that recently we introduce a way to deploy then only the needed theme, without all parent themes in https://github.com/magento/magento2/pull/30090. AFAIK this change still not included in a stable release, so you could wait for th

[2021-01-06 13:48] #29628 closed, assigned to ihor-sviziev

[2021-01-06 13:51] ihor-sviziev commented on #23122
@engcom-Bravo maybe you could check this issue?

[2021-01-06 14:02] engcom-Bravo commented on #31554
Hello @johncarlson21

Thank you for your report.

We have rechecked the reported issue on the latest 2.4-develop, with both Luma and Blank themes.
In both cases, the user is redirected to the Home page and a _Your subscription has been confirmed_ success message is displayed.
![sub](https://user-images.githubusercontent.com/51680745/103776500-360acc00-5038-11eb-8f9b-4b1e5cf08f64.png)

![blank](htt

[2021-01-06 14:17] johncarlson21 commented on #31554
@engcom-Bravo This is for Magento 2.3.6 and I've tried to get an instance of this but for some reason the system will not give it to me.

[2021-01-06 14:58] ajmalbuffy commented on #30685
Am also facing the same issue, may I know what is the fix or solution for this. I am in much needed.

[2021-01-06 15:11] Leland commented on #28910
What would it take to close this issue? 7 months with no movement definitely makes this look like a stale issue, IMO

If it's just reductions of header padding, open a PR - no need for this issue 😀

[2021-01-06 15:28] mpsuganesh commented on #13633
Hi @engcom-Bravo ,

When I click on the "Add Product" button after I got "The "componentType" configuration parameter is required for the "" component". can you help me please . How I can fix this issues.

[2021-01-06 16:17] lbajsarowicz commented on #29562
@jissereitsma Yes, the issue with "hidden" coupling of Magento Sales depending on Persistent module (thus, when you removed Persistent module, Shopping Cart stopped working)

[2021-01-06 16:19] james05 commented on #26377
Is the patch going to be released soon? I'm using 2.4.1 and still experiencing this issue.

[2021-01-06 16:39] okorshenko commented on #26377
Hi @james05
We are planning to deliver the solution in the upcoming release.
Please visit [upcoming release dates](https://devdocs.magento.com/release/?itm_source=devdocs&itm_medium=search_page&itm_campaign=federated_search&itm_term=release%20schedule) documentation

[2021-01-06 17:05] #11516 closed, assigned to nobody

[2021-01-06 17:06] magento-engcom-team commented on #11516
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-06 17:30] magento-engcom-team commented on #31073
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31057 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [97e34547ec7acfadffec4951d4dadd9cae3531f5](https://github.com/magento/magento2/commit/97e34547ec7acfadffec4951d4dadd9cae3531f5)
 - [131cd1aae2a397e81457c0daf3962db39d5c0072](https://github.com/magento/magento2/commit/131cd1aae2a397e81457c0daf

[2021-01-06 17:30] #31073 closed, assigned to AnnaAPak

[2021-01-06 17:30] magento-engcom-team commented on #31442
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31371 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [2a712558d59eac9d4474c3e62142976b5c53dab1](https://github.com/magento/magento2/commit/2a712558d59eac9d4474c3e62142976b5c53dab1)
 - [ec105b52dac7fd2481347ced3ea8d1f168adc9d6](https://github.com/magento/magento2/commit/ec105b52dac7fd2481347ced3

[2021-01-06 17:30] #31442 closed, assigned to AnnaAPak

[2021-01-06 17:30] #31036 closed, assigned to AnnaAPak

[2021-01-06 17:30] magento-engcom-team commented on #31325
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31323 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [37e8487aca8692b89c9657215ea0c9618cc5d967](https://github.com/magento/magento2/commit/37e8487aca8692b89c9657215ea0c9618cc5d967)
 - [31eb8592ef9330ccd132fb08fb58608e3f32430e](https://github.com/magento/magento2/commit/31eb8592ef9330ccd132fb08f

[2021-01-06 17:30] #31325 closed, assigned to AnnaAPak

[2021-01-06 17:30] magento-engcom-team commented on #31197
Hi @srenon. Thank you for your report.
The issue has been fixed in magento/magento2#31198 by @srenon in 2.4-develop branch
Related commit(s):
 - [41c3aa20144741faa1a5935c1764416872166474](https://github.com/magento/magento2/commit/41c3aa20144741faa1a5935c1764416872166474)
 - [4b007c23916f94a1dd4acd3ebcb7d75fa2daf47b](https://github.com/magento/magento2/commit/4b007c23916f94a1dd4acd3ebcb7d75fa2daf4

[2021-01-06 17:30] #31197 closed, assigned to srenon

[2021-01-06 17:30] magento-engcom-team commented on #31170
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31162 by @vovayatsyuk in 2.4-develop branch
Related commit(s):
 - [2f10855d003758de54fb23c83a972de25b6a26a7](https://github.com/magento/magento2/commit/2f10855d003758de54fb23c83a972de25b6a26a7)
 - [7de93bbf8d2dbc82165956ad9db538b9687da33b](https://github.com/magento/magento2/commit/7de93bbf8d2dbc82165956

[2021-01-06 17:30] #31170 closed, assigned to vovayatsyuk

[2021-01-06 17:30] magento-engcom-team commented on #31437
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31436 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [1f04b0ad5871ddd04230636daa0f9d6d08a8b90c](https://github.com/magento/magento2/commit/1f04b0ad5871ddd04230636daa0f9d6d08a8b90c)

The fix will be available with the upcoming 2.4.3 release.

[2021-01-06 17:30] #31437 closed, assigned to AnnaAPak

[2021-01-06 17:30] magento-engcom-team commented on #31327
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31320 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [3a808ffdac1301bfa61a2add14d41e59b5a3bd0f](https://github.com/magento/magento2/commit/3a808ffdac1301bfa61a2add14d41e59b5a3bd0f)
 - [a40f256356c5d607ecffbb2caa33387d24d1da65](https://github.com/magento/magento2/commit/a40f256356c5d607ecffbb2ca

[2021-01-06 17:30] #31327 closed, assigned to sergiy-v

[2021-01-06 17:30] magento-engcom-team commented on #31471
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31334 by @aleksinoleg in 2.4-develop branch
Related commit(s):
 - [01eb68279d3f49adb66c14c351c5dd9576c39b6f](https://github.com/magento/magento2/commit/01eb68279d3f49adb66c14c351c5dd9576c39b6f)

The fix will be available with the upcoming 2.4.3 release.

[2021-01-06 17:30] magento-engcom-team commented on #31445
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31330 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [e07d328c1f88e885ac6239d4689afcee09859394](https://github.com/magento/magento2/commit/e07d328c1f88e885ac6239d4689afcee09859394)

The fix will be available with the upcoming 2.4.3 release.

[2021-01-06 17:30] #31445 closed, assigned to mrtuvn

[2021-01-06 17:30] magento-engcom-team commented on #31288
Hi @Nazar65. Thank you for your report.
The issue has been fixed in magento/magento2#31308 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [5559a51bccae19c3b032a3fe17e08047a67aacf8](https://github.com/magento/magento2/commit/5559a51bccae19c3b032a3fe17e08047a67aacf8)
 - [c42d022322d7e6114d6a8cd4b7029adc5e44022a](https://github.com/magento/magento2/commit/c42d022322d7e6114d6a8cd4b7029adc5e44

[2021-01-06 17:30] #31288 closed, assigned to Nazar65

[2021-01-06 17:30] magento-engcom-team commented on #30784
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30776 by @Usik2203 in 2.4-develop branch
Related commit(s):
 - [7806115a430973fec96cef5be76de5d30cf81a76](https://github.com/magento/magento2/commit/7806115a430973fec96cef5be76de5d30cf81a76)
 - [1851fe8ed5b2f16909e346226296bed3bd2e92cf](https://github.com/magento/magento2/commit/1851fe8ed5b2f16909e346226

[2021-01-06 17:30] #30784 closed, assigned to nobody

[2021-01-06 17:32] magento-engcom-team commented on #31471
Hi @m2-assistant[bot].

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40244` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-06 17:37] f1-outsourcing commented on #31536
Ok ok I know what the problem is. I have this issue already when I press the luma logo of the default store.
You are using get_cfg_var[1] which tries to get the var from ini file. But this does not seem to work well in (my) setups where php-fpm is being used (returns false). If you would change it to ini_get('upload_tmp_dir'); which gets the runtime value. You get a proper value returned.

So you

[2021-01-06 17:41] damienwebdev commented on #23637
Not stale.

[2021-01-06 17:46] f1-outsourcing commented on #31513
The show databases result is listing all databases. It does not list all databases that the logged on user has access to. So I do not understand the change in requirements.

The sql statement I am offering, does the same as the show databases query does, listing the database. However it does not need the special permissions to do so.

[2021-01-06 17:52] aliuosio commented on #23637
exchange `"allure-framework/allure-phpunit": "~1.2.0"` with `"allure-framework/allure-phpunit": "~1.2.3"` to fix

[2021-01-06 18:12] magento-engcom-team opened #31572 "Test GJSS MC"
Test

[2021-01-06 18:12] magento-engcom-team commented on #31572
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-40326

[2021-01-06 18:17] #31572 closed, assigned to nobody

[2021-01-06 18:19] magento-engcom-team commented on #31572
Hi @magento-engcom-team.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40326` was closed as `Fixed`.

[2021-01-06 18:32] m2-assistant[bot] opened #31573 "[Issue] [MFTF] Updating with AdminOpenCMSPagesGridActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31569: [MFTF] Updating with AdminOpenCMSPagesGridActionGroup

---------
### Description (*)
Test have been updated with AdminOpenCMSPagesGridActionGroup

[2021-01-06 18:32] m2-assistant[bot] opened #31574 "[Issue] [MFTF] Updating with SaveCmsPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31568: [MFTF] Updating with SaveCmsPageActionGroup

---------
### Description (*)
Test have been updated with SaveCmsPageActionGroup

[2021-01-06 18:32] m2-assistant[bot] opened #31575 "[Issue] Removed CliIndexerReindexActionGroup action group usage for CatalogRule module"
This issue is automatically created based on existing pull request: magento/magento2#31564: Removed CliIndexerReindexActionGroup action group usage for CatalogRule module

---------
### Description
Remove CliIndexerReindexActionGroup action group usage or change value for it from tests to improve execution time for the CatalogRule, Downloadable and Indexer modules.

[2021-01-06 18:53] #12514 closed, assigned to nobody

[2021-01-06 18:54] magento-engcom-team commented on #12514
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-06 19:50] ihor-sviziev commented on #31536
Ok... interesting thing. This line was added in https://github.com/magento/magento2/pull/21170 and actually was changed from ini_get to get_cfg_var in https://github.com/magento/magento2/pull/21170/commits/aeedfcd6591df8cc629878278e69cae73b7f1b29 by @nmalevanec just in order to fix static test failure. To be honest it doesn’t seems to me as a valid case for such change if it’s causing such issue.

[2021-01-06 19:53] #7283 closed, assigned to nobody

[2021-01-06 19:53] #13207 closed, assigned to nobody

[2021-01-06 19:53] #13342 closed, assigned to nobody

[2021-01-06 19:53] #21603 closed, assigned to nobody

[2021-01-06 19:53] #24122 closed, assigned to nobody

[2021-01-06 19:53] #24389 closed, assigned to nobody

[2021-01-06 19:53] #25093 closed, assigned to nobody

[2021-01-06 19:53] #26091 closed, assigned to nobody

[2021-01-06 19:53] #26124 closed, assigned to nobody

[2021-01-06 19:53] #26147 closed, assigned to nobody

[2021-01-06 19:53] #26624 closed, assigned to nobody

[2021-01-06 20:01] ihor-sviziev commented on #31513
@f1-outsourcing right now that code checks if the current db user having access to needed database. If you could provide that does the same without the SHOW DATABASES permissions - please create a pull request with your suggestion.
Thank you

[2021-01-06 20:04] magento-engcom-team commented on #7283
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-06 20:04] magento-engcom-team commented on #13342
Hi @kmrant.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-30157` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-06 20:04] magento-engcom-team commented on #26124
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-06 20:04] magento-engcom-team commented on #26147
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-06 20:04] magento-engcom-team commented on #26624
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-06 20:04] magento-engcom-team commented on #24389
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-06 20:04] magento-engcom-team commented on #26091
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-06 20:25] ihor-sviziev commented on #31465
Hi @bobemoe ,
Seems like the issue is inside your extension - it’s not using proxy for this class. Please update your code accordingly to the following comment and everything should works fine.

 Could you please confirm that?

[2021-01-06 20:31] InternetAdvertisingSolutions opened #31576 "Magento 2.4.1 In-Store Delivery causes checkout to permanent hang with Error is email.js:165 Uncaught TypeError: Cannot read property 'check' of undefined at UiClass.validateEmail (email.js:165)"
Summary of the issue,

Magento 2.4.1 In-Store Delivery causes checkout to permanent hang when an existing customer enters their password.
Checkout Page hangs with loading circle
Error is email.js:165 Uncaught TypeError: **Cannot read property 'check' of undefined**
    at UiClass.validateEmail **(email.js:165)**

### Preconditions (*)
1. Magento CE 2.4.1
2. Ubuntu 20.04
3. MySQL8
4. Apache2
5. php

[2021-01-06 20:53] #23948 closed, assigned to nobody

[2021-01-06 20:55] magento-engcom-team commented on #23948
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-06 22:45] marcejohnson commented on #9906
We are seeing this issue in Magento `2.3.6` for a site with 10,000+ product inventory and millions of entries in `catalogrule_product_price`.

The **substantive** impact of this is that sale prices regress during the long reindex, causing customers to get charged the **wrong** prices if they checkout at that time.  Very bad.  And if products are changing a lot, this reindex/rebuild happens again a

[2021-01-06 23:38] Swiftless opened #31577 "Store x_forwarded_for for quote records"
### Description (*)
When looking up a quote record in the database it is impossible to find out the origin IP address for a customer when an x_forwarded_for header is involved.

### Expected behavior (*)
It is expected that if the remote_ip is not the original IP in the x_forwarded_for, that the x_forwarded_for header value be stored as a separate entry on the quote record.

### Benefits
We rely o

[2021-01-07 03:16] younkim commented on #4620
This still happens in 2.4.1.

[2021-01-07 07:23] sumitnegi97 opened #31581 "A Extra % sign comes when deploying"
![Screenshot-from-2021-01-07-12-51-36](https://user-images.githubusercontent.com/76430009/103863702-5180e000-50e7-11eb-9dfc-d59a1b28053e.png)

[2021-01-07 08:46] NielsVroman commented on #30685
I got it to work after applying the merge request.
https://github.com/magento/magento2/pull/30928/files

I applied this directly on the server as this was just a temp demo site we created.
But if you want this to work properly you should create a patch from these and add them.

[2021-01-07 09:10] kassner opened #31582 "The specified path is not allowed"
### Preconditions

1. Magento 2.3.6; (the error seems to happen on 2.4, but the message is different: `The path is not allowed: media/something-invalid.xml`)

### Steps to reproduce

1. Make sure the file `var/resource_config.json` does not exist;
2. Access `{BASEURL}/media/something-invalid.xml`;
3. _expected results don't happen_;
4. Now the `var_resoruce_config.json` file exists is generated;
5

[2021-01-07 09:32] kassner commented on #28514
up

[2021-01-07 10:43] bmitchell-ldg commented on #30128
@gwharton thank you for your suggestion, i set "only X left" functionality to 0 for all sites in case it was that and it's unfortunately still an issue for us.
When we place an order, a purge request is sent to varnish for the products in the order, which i think isn't expected behaviour.
**Example**
1 order containing 8 products, 1 purge request sent to varnish containing the cache tags for those

[2021-01-07 11:17] spiyda commented on #28996
Same problem on 2.3.6, it worked perfectly on 2.2.2  exactly the same steps as above, slightly different error message
Royal Mail report "Magento Invalid Magento Identity Confirmation, Request for uri: https://xxxxx.com/oauth/token/request failed. 

[2021-01-07 11:20] engcom-Bravo commented on #31554
@magento give me 2.4-develop instance

[2021-01-07 12:24] rou9e commented on #23450
Hello there,

In our case, we can confirm **hostep** and **HenKun** answers :
- Everything was running fine from cron perspective
- `ps aux | grep [c]onsumer` would never show any consumer running
- MySQL (MariaDB) indeed seems to have lock issues because

`bin/magento queue:consumers:start product_action_attribute.update` works as expected but
`bin/magento queue:consumers:start product_action_att

[2021-01-07 14:15] titechnologies commented on #26854
Is there any fix for this in Magento 2.3.5 ?

[2021-01-07 15:01] mrtuvn commented on #31581
Seem issue not related with magento. Can you reproduce with clean vanilla magento with same enviroments like your(only magento modules only)

[2021-01-07 15:04] mrtuvn commented on #31581
![Screenshot from 2021-01-07 22-03-48](https://user-images.githubusercontent.com/1908873/103907821-56b84c00-5134-11eb-9c3e-3772edf28236.png)

[2021-01-07 15:30] mrtuvn commented on #31576
@magento give me  2.4.1 instance

[2021-01-07 15:31] mrtuvn commented on #31576
lol

[2021-01-07 15:46] johncarlson21 commented on #31554
again.. I do not want a 2.4 instance.

[2021-01-07 16:32] Abdallah-herri opened #31585 "Impossible to change Bundle item order from one page to another"
### Summary (*)
i have a bundle product with more 50+ bundle items, however, doing this creates multiple pages with 20 items in each page, my issue is changing items order where if an item is in page 3 for example, i can't move it to page 2 or page 1.

### Examples (*)
![Screenshot_2021-01-07 Bundle test aubea Products Inventory Catalog Magento Admin(1)](https://user-images.githubusercontent.com/5

[2021-01-07 17:27] magento-engcom-team commented on #29456
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40334` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-07 17:37] XxXgeoXxX commented on #31551
@magento I am working on this

[2021-01-07 17:49] magento-engcom-team commented on #28514
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40335` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-07 18:10] #28013 closed, assigned to nobody

[2021-01-07 18:15] magento-engcom-team commented on #27996
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40336` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-07 19:34] FELIXSABATES opened #31586 "ORDERS ARE MISSING"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-01-07 20:02] viniciusbordinhao-blueacorn commented on #22883
@Magento I am working on it.

[2021-01-07 20:03] hostep commented on #17186
@sdzhepa: sorry for delay but I no longer have personal interest in this bug or its fix. Maybe somebody else can confirm if it's fixed or not?

[2021-01-07 20:57] drinkingsouls commented on #28038
Same issue in 2.4.1.
Insert variable reads:
[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]

[2021-01-07 21:34] AlphaTeknovaAdmin commented on #28897
I still feel like they may wait for Magento 3... Typing everything is a lot of work and the core codebase is sprawling at this point.

[2021-01-07 21:44] lukas-jifu opened #31587 "The included sample file fails the import test??"
### Preconditions (*)

1. Magento ver. 2.3.5-p1
2. Chrome / Windows 10

### Steps to reproduce (*)

1. Logged into magento as Admin.
2. Menu click to System > Import
3. Click "Download Sample File" and download
4. Open, make NO changes, and save Sample File as UTF-8 CSV
5. Set "Entity Type > Products"
6. Set "Import Behavior > Add/Update"
7. Use defaults for the rest.
8. Click "Choose File" and se

[2021-01-07 22:05] EmperorKonstantin commented on #28897
I still feel like they may wait for Magento 3... Typing everything is a lot of work and the core codebase is sprawling at this point.

[2021-01-07 22:06] JosephLeedy commented on #28897
@EmperorKonstantin Rector would probably help with that.

[2021-01-07 22:14] EmperorKonstantin commented on #28897
I'm not familiar with Rector, but I also hope that they use TypeScript in Magento 2 PWA Studio.

[2021-01-07 22:15] EmperorKonstantin commented on #28897
@JosephLeedy I'm not familiar with Rector, but I also hope that they use TypeScript in Magento 2 PWA Studio.

[2021-01-07 23:21] hostep commented on #28897
They are working on it on this branch should you be curious: https://github.com/magento/magento2/tree/php8-develop

[2021-01-07 23:24] EmperorKonstantin commented on #28897
@hostep You're a champ! Yay! I see types!

[2021-01-07 23:59] vrielsa commented on #27949
@magento I am working on this

[2021-01-08 03:59] murtuza1234 commented on #8125
had a same problem in 2.3 and solved by deleting `generated`

[2021-01-08 04:31] krishprakash commented on #31586
Hi @FELIXSABATES.  Kindly update all the details to reproduce the issue as per [issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
Without such a details your issue should be closed

[2021-01-08 04:39] krishprakash commented on #31585
@magento give me 2.4-develop instance

[2021-01-08 05:01] magento-engcom-team commented on #31585
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40343` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-08 07:31] JackWormUK commented on #23613
I have 2 installs of 2.3.1
One of the health files is fine.  Just installed a second copy and 500 error

You are a hero my friend

[2021-01-08 07:32] mack4hack opened #31591 "Sorting by position on product search via REST API does not work"
### Preconditions
1. Magento 2.4-develop
2. Magento 2.3.3
3. Vanilla Install

### Steps to reproduce
1. Allow Anonymous Guest Access
From : Stores -> Configuration -> Services -> Magento Web API -> Web API Security

2. Assign position value to products
from : Catalog -> Categories -> Select Category -> Products in Category

![2021-01-08_10-42](https://user-images.githubusercontent.com/51679138/103

[2021-01-08 07:42] YiffyToys commented on #30848
Since 2.4.2 has a general release in February 9, 2021,
what is the plan for existing shopkeepers who can't edit mistakes in customer adresses NOW?

[2021-01-08 07:44] engcom-Alfa commented on #30618
Duplicate of #30152

[2021-01-08 07:44] #30618 closed, assigned to engcom-Alfa

[2021-01-08 07:53] rtshshukla commented on #15115
Hey, can I get the changes you have done for this because I'm facing the same issue on my site. magento version 2.3.5-p2 EE

[2021-01-08 08:09] angelflo commented on #9156
Hi, I have exactly same problem with Magento 2.4.1 and varnish 6 installed.
Does someone have a real fix and/or explanation to solve it for this version ?

Thanks a lot

[2021-01-08 08:30] #25501 closed, assigned to nobody

[2021-01-08 08:39] engcom-Bravo commented on #31554
@johncarlson21 We can not deliver a bugfix to an already released 2.3.6 version. If a bug is not reproducible on the latest 2.4-develop, it is considered as Already Fixed

[2021-01-08 08:44] engcom-Kilo commented on #24802
Hello, @med-amin
Thanks for your report. I'm not able to reproduce this issue on latest 2.4-develop
![CustomerCustomAttributeTypeDate](https://user-images.githubusercontent.com/60192090/103993537-6e2c1f00-519e-11eb-9ccc-28178dd2cb18.gif)
Please feel free to add more details and I reopen this issue.

[2021-01-08 08:44] #24802 closed, assigned to nobody

[2021-01-08 08:45] magento-engcom-team commented on #24802
Hi @med-amin.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24868` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-08 08:46] magento-engcom-team commented on #24802
Hi @med-amin.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24868` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-08 08:49] magento-engcom-team commented on #31591
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40344` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-08 08:56] BrentRobert commented on #21372
This issue has already been fixed by https://github.com/magento/magento2/commit/e567fd6c343cd383bc58b8b6b8b90b45844ded7d

[2021-01-08 08:58] engcom-Delta commented on #28996
@magento give me 2.4-develop instance

[2021-01-08 09:03] BrentRobert commented on #30085
@magento I'm working on this

[2021-01-08 09:29] gkueny commented on #22337
Can we re-open this issue? We have a similar issue but  https://github.com/magento/magento2/issues/22337 doesn't fix it (we do not have order with only virtual products)

[2021-01-08 10:13] Pavel-Fekete commented on #31587
Not reproducible on the latest 2.4-develop, sample file is proceed validation without errors.
![Import](https://user-images.githubusercontent.com/67371013/104003322-ea2c6400-51aa-11eb-8c34-6bb849e9eea6.png)

[2021-01-08 10:46] engcom-Alfa commented on #14287
Hi @guillermogallego . Thank you for your report!

Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop.
It seems that the problem has already been solved.

**Manual testing scenario:**

Create a product with API REST for websites id 1 and 2

[code]
**Actual Result:**

1. The roles of primary images assigned to all stores views - :heavy_check_mark:
2. The label of images assi

[2021-01-08 10:46] #14287 closed, assigned to engcom-Alfa

[2021-01-08 10:50] ananth-iyer commented on #30983
@lykciv Can you move events.xml file in webapi_rest directory? let me know if it working or not

[2021-01-08 10:58] magento-engcom-team commented on #30152
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40345` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-08 11:26] magento-engcom-team commented on #28996
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40346` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-08 11:28] #31367 closed, assigned to nobody

[2021-01-08 11:28] asd99557 commented on #31367
Issue was resolve.

[2021-01-08 12:02] AlexandrosMor opened #31599 "ImportOrderPayment throws the exception Trying to access array offset on value of type null"
In Magento\Paypal\Model\Billing\Agreement the [importOrderPayment](https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Paypal/Model/Billing/Agreement.php#L249) method is setting customertId, method code, referenceId, status and agreement label to the $billingAgreement. The referenceId is set from the `$baData['billing_agreement_id']`where $ba is the billing agreement data.
The is

[2021-01-08 12:04] engcom-Bravo commented on #31587
Hello @lukas-jifu

Thank you for your report.

We have rechecked the reported issue on the latest 2.4-develop and we do not have enough information to reproduce it.
Can you please share more details?
- What settings are set in your text editor on step _Open, make NO changes, and save Sample File as UTF-8 CSV_ ?
![Selection_030](https://user-images.githubusercontent.com/51680745/104013471-261af580-

[2021-01-08 12:07] engcom-Charlie commented on #13466
Hello, @LordHansolo looks like the issue already fixed on the latest 2.4-develop please see https://github.com/magento/magento2/pull/27739#issuecomment-750865450.
Please feel free to comment, reopen, or create a new ticket if you are still facing this issue on the latest `2.4-develop` branch. Thank you for your collaboration.

Thanks for your report!

[2021-01-08 12:07] #13466 closed, assigned to nobody

[2021-01-08 12:08] magento-engcom-team commented on #13466
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-08 12:08] magento-engcom-team commented on #12412
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40347` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-08 12:27] engcom-Bravo commented on #31576
Hello @InternetAdvertisingSolutions

Thank you for your report.

MSI related issues should be reported into a separate [Inventory](https://github.com/magento/inventory/issues) repository.
Can you please open a separate issue in https://github.com/magento/inventory/issues ?

Thank you in advance

[2021-01-08 12:27] #31576 closed, assigned to engcom-Bravo

[2021-01-08 12:36] magento-engcom-team commented on #31450
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40348` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-08 12:52] engcom-Alfa commented on #31581
Hi @sumitnegi97. Thank you for your report!

Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop.

**Actual Result:** :heavy_check_mark: An extra sign "%" isn't displayed during deploying.

![Screenshot from 2021-01-08 14-05-17](https://user-images.githubusercontent.com/51679138/104017256-772de800-51c0-11eb-98fb-6e4f75c69402.png)

So, we have to close it.
Please feel free to

[2021-01-08 12:52] #31581 closed, assigned to engcom-Alfa

[2021-01-08 12:54] engcom-Delta commented on #31538
Hi @ashaaniebose thank you for your report. There are no date fields for each tier price on magento 2.4-develop
![image](https://user-images.githubusercontent.com/51681379/104017586-0a671d80-51c1-11eb-9a14-3db08392fa2e.png)
Could you update issue description and add code snippet that adds date fields?

[2021-01-08 13:15] engcom-Bravo commented on #30506
Still actual on the latest 2.4-develop

[2021-01-08 13:16] magento-engcom-team commented on #30506
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40349` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-08 13:26] navarr commented on #30848
You would take the [patch supplied above by @codebase-md](https://github.com/magento/magento2/issues/30848#issuecomment-729564218) and store it in a file, and then follow the directions at https://devdocs.magento.com/guides/v2.4/comp-mgr/patching.html

[2021-01-08 13:30] magento-engcom-team commented on #29130
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40350` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-08 13:55] ajijshekh123 commented on #31541
@achatpc - Let me update you if the above issue is fixed or not.

[2021-01-08 15:33] ericerway commented on #30835
@magento give me 2.4.1 instance

[2021-01-08 18:07] james05 commented on #30498
Also experiencing on 2.4.1. I cannot go live without this fixed.

[2021-01-08 18:13] pitbulk commented on #30498
@complexthings are you able to help here?

[2021-01-08 18:29] techzilla commented on #31280
I found the cause, it was the command/console module in weltpixel pearl theme, setting area code in an included class, the included class set it within the constructor.

[2021-01-08 18:30] techzilla commented on #26589
I found the cause, it was the command/console module in weltpixel pearl theme, setting area code in an included class, the included class set it within the constructor.  Explains this problem, fixed it.

[2021-01-08 18:56] InternetAdvertisingSolutions commented on #31576
Thanks.  Have done as requested and opened it here... https://github.com/magento/inventory/issues/3260

[2021-01-08 19:46] lucianopeluso10 commented on #2380
This is still happenning in 2.4.1

[2021-01-08 20:19] engcom-Delta commented on #30794
@Axel29 ` \Magento\Customer\Model\EmailNotification::passwordResetConfirmation` by PR https://github.com/magento/magento2/pull/24783 to fix issue https://github.com/magento/magento2/issues/23295
Current behavior should be discussed as improvement in scope of Feature Request to save changes from https://github.com/magento/magento2/pull/24783 related to api
**Manual testing scenario:**
**_Case 1:_**

[2021-01-08 22:06] menacoders commented on #24963
check this module,
we have developed it to fix this issue and all date picker issues in Arabic dashboard.
https://github.com/menacoders/rtl-datepicker-magento2
@marcinmaterzok @hielh @zorox-1

[2021-01-09 06:43] krishprakash commented on #31586
Hi @FELIXSABATES. Feel free to reopen the issue once you update all the details as per issue reporting guidelines

[2021-01-09 06:43] #31586 closed, assigned to krishprakash

[2021-01-09 10:59] amenk commented on #27224
Still somehow relevant, please don't close

[2021-01-09 13:23] XxXgeoXxX commented on #31551
@magento give me 2.4-develop instance

[2021-01-09 17:20] pawan opened #31600 "PHP 8: Deprecated Functionality: Method ReflectionParameter::getClass() is deprecated in /lib/internal/Magento/Framework/Code/Reader/ClassReader.php on line 34"
### Preconditions (*)

1. PHP 8.0
2. Magento  2 - php8-develop branch
### Steps to reproduce (*)

1. clone php8-develop branch
2. enable php 8
3. composer install
4. try to install magento by "sudo php bin/magento setup:install --base-url=http://127.0.0.1/m2_git/ --db-host=localhost --db-name=m2-git --db-user=root --db-password='MyPassword' --language=en_US --currency=USD --timezone=America/Chicag

[2021-01-09 18:54] plastikschnitzer commented on #25738
I had the same issue and I can confirm https://github.com/magento/magento2/issues/25738#issuecomment-577567970 is working for me. Version 2.3.5-p1.

[2021-01-10 05:16] alfredogama commented on #5289
It works, many thanks

[2021-01-10 15:41] vmasciotta commented on #27460
Why this issuee is closed if not solved? I'm facing it on 2.3.5, p1 p2 and 2.3.6 too. It's not solved! So please reopen it!

[2021-01-10 16:42] mrtuvn commented on #30613
Can we discuss more on this

[2021-01-10 18:08] alexsmith2709 commented on #31566
@magento give me 2.4-develop instance

[2021-01-10 18:40] alexsmith2709 commented on #31566
On magento 2.4 this is still wrong. It is wrong in a differetn way, but the result is similar and the order total inc VAT is still wrong.
![tax incorrect2](https://user-images.githubusercontent.com/10212208/104132111-2dd1ca00-5373-11eb-9e3f-efbda99589d6.JPG)
This screenshot is from the 2.4 instance generated for me. I am not sure why the Flat Rate is showing as £8.34 when i set it to £4.17 ex VAT,

[2021-01-11 03:18] brideo opened #31607 "Allow a customer consumer to access order information via the API"
### Description (*)

Allow a customer consumer to access orders via the API using a token.

### Benefits

This will allow frontend developers using other platforms easily create account sections without having to create custom modules in Magento 2.

### Additional information

Magento/Sales/etc/webapi.xml

[code]

[2021-01-11 04:47] mrtuvn commented on #30656
Widget only visible after clean cache. If after setup widget we don't clear cache widget will never show
Test in Open source 2.4.0 similar your case. But no use any customises (clean setup)
<img width="1326" alt="Screen Shot 2021-01-11 at 11 31 52" src="https://user-images.githubusercontent.com/1908873/104147911-ca8f7880-5402-11eb-83b8-a400f9484366.png">

[2021-01-11 05:03] ajijshekh123 commented on #31541
@achatpc  - If you have reproduced this issue again on Latest Magento Instance you can reopen it.
Thanks.

[2021-01-11 05:03] #31541 closed, assigned to ajijshekh123

[2021-01-11 07:45] eduard13 commented on #31560
Fixed in https://github.com/magento/partners-magento2ee/pull/280/commits/b2ec59155d67b2a3a3208719d34ff3d08f4b8d78 commit.

[2021-01-11 07:47] eduard13 commented on #31561
Fixed in https://github.com/magento/partners-magento2ee/pull/280/commits/b2ec59155d67b2a3a3208719d34ff3d08f4b8d78 commit.

[2021-01-11 08:14] duckchip commented on #25835
can be reproduced on 2.3.5

[2021-01-11 08:26] usman786cs commented on #8681
Thanks @gclift

it really worked for me

[2021-01-11 08:41] #30254 closed, assigned to zakdma

[2021-01-11 08:43] magento-engcom-team commented on #30254
Hi @magento-engcom-team, @zakdma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37618` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other task

[2021-01-11 08:59] ihor-sviziev commented on #30613
@sidolov @sivaschenko @gabrieldagama do you have anything to share with us?

[2021-01-11 09:02] thomas-kl1 commented on #29365
I got that issue too, trying to upgrade 2.2 to 2.4.1.

`Unable to apply data patch Magento\CatalogUrlRewrite\Setup\Patch\Data\UpdateUrlKeyForProducts for module Magento_CatalogUrlRewrite. Original exception message: SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`mpbio_qa`.`catalog_product_entity_varchar`, CONSTRAINT `CAT_PRD

[2021-01-11 09:38] #30298 closed, assigned to nobody

[2021-01-11 09:39] magento-engcom-team commented on #30298
Hi @magento-engcom-team.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-29958` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But i

[2021-01-11 09:53] klein0r commented on #30752
@magento give me 2.4-develop instance

[2021-01-11 10:09] lykciv commented on #30983
Hi @ananth-iyer . The `*_save_commit_after` events are never dispatched, so changing the location of the events configuration will not make a difference in this case.

[2021-01-11 10:37] usman786cs commented on #8681
Hey lads, issue worked for us for two days only. Now we are facing it again.
Any other solution that we can apply here please?

[2021-01-11 11:11] thomas-kl1 commented on #29365
this seems to fix it

[2021-01-11 11:30] sivaschenko commented on #30613
We have discussed this issue internally and came to the following conclusion:

Since it is NOT officially announced that the library is in End of Life status we are not required to do any changes. Even the author of the library mentioned that he is still fixing issues. But, to be prepared before End of Life we will proceed with Fork proposed implementation to prevent BiC and react fastly in short

[2021-01-11 12:06] klein0r commented on #30752
@chiranjeevi-cj This was the last issue I have created here. Makes no sense.
Even such a simple issues with detailed solution is ignored and will make it into the next release...

[2021-01-11 12:31] nicholasscottfish commented on #30339
@ajayceymox Did you find a solution to this?

@Scarraban We were seeing the issue occur on our sandbox environment with all of the above settings disabled. When we looked at the console we could see it was failing on "Billing state format is invalid".

`
{name: "BraintreeError", code: "THREEDS_LOOKUP_VALIDATION_ERROR", message: "The data passed in `verifyCard` did not pass validation checks. See d

[2021-01-11 13:03] gabrieldagama commented on #30752
Hi @klein0r, this issue was closed just because there is another one that describes the problem, not because is not reproducible.

To avoid having 2 issues open about the same problem, we close one in favour of another, in our case here, this one remains open https://github.com/magento/magento2/issues/30099, confirmed and prioritized.

We encourage you to still contributing to our community! Hope

[2021-01-11 13:03] kassner opened #31608 "Shipping address region leaking into billing address"
### Preconditions

1. Magento 2.4;

### Steps to reproduce

1. Create a purchase with billing address in the UK and Shipping address in Croatia. Make sure the `State/Province` field for the billing address is empty.

### Expected result

1. Billing address does not have a region name.

### Actual result

1. Billing address has a region name.

---
Please provide [Severity](https://devdocs.magento.c

[2021-01-11 13:03] kassner commented on #31608
@magento give me 2.4-develop instance

[2021-01-11 13:23] kassner commented on #31608
Managed to reproduce it:

Shipping address:

![Screenshot from 2021-01-11 14-20-01](https://user-images.githubusercontent.com/301255/104187708-7f806000-5418-11eb-81b9-cc7373180bab.png)

Billing address:

![Screenshot from 2021-01-11 14-20-47](https://user-images.githubusercontent.com/301255/104187654-6bd4f980-5418-11eb-86ee-bcd014dea1cd.png)

![Screenshot from 2021-01-11 14-20-41](https://user-ima

[2021-01-11 13:24] kassner commented on #31608
It would be good if someone else can confirm the bug, given I opened it myself.

[2021-01-11 13:51] magento-engcom-team commented on #31608
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40362` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-11 13:54] kassner commented on #31608
Quick patch: https://gist.github.com/kassner/deae8483ecbbf2e4657fac2423b98c4e

[2021-01-11 15:38] Eddcapone commented on #31493
I figured out that my code was different from the original code, because `composer update` did not updated the core properly and so I still had old code from an older magento version partially. Not sure why composer does not work correctly.

[2021-01-11 15:38] #31493 closed, assigned to nobody

[2021-01-11 16:43] ghost opened #31609 "Flat Rate Shipping method Title will not save"
Hello,

I'm trying to save the title of our flat rate shipping. This should be vwery simple, I'm visiting Store>Configuration>Sales>Shipping Method, and the field for Title currently says "Flat Rate (Orders under $50.00 ship U.S. Priority Mail; Orders over $50.00 ship by UPS Ground)" and I need it to say "Flat Rate (Orders under $80.00 ship U.S. Priority Mail; Orders over $80.00 ship by UPS Ground

[2021-01-11 16:45] jeffspurlock commented on #31609
@magento give me 2.4-develop instance

[2021-01-11 16:45] engcom-Delta commented on #28107
@catalyst-steve , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-01-11 16:45] #28107 closed, assigned to engcom-Delta

[2021-01-11 18:08] madmichael commented on #5588
This endpoint /V1/products/attribute-sets/{attributeSetId}/attributes does work in the current version of Magento.

[2021-01-11 23:01] duffner commented on #5913
Team,
This is still a valid issue.  While I understand it's stale, it's still wrong :)

[2021-01-11 23:27] kirmorozov opened #31611 "Optimized topological sorting of modules"
Wrong way of sorting is not environmentally friendly, let's make an optimization and save energy.
I believe it would be great to revisit all locations of topological sorting.
After cache flush or other related events part of the code significantly slows down processing.

### Preconditions (*)

1. Magento 2.3.5
2. run bin/magento

### Steps to reproduce (*)

1. run bin/magento
2.

### Expected resu

[2021-01-11 23:39] Bartlomiejsz commented on #30901
@ihor-sviziev just one note, not sure if it's still the case but I remember that some time ago test instances created here on github had document root placed in ROOT, so one directory above pub (which was really weird since it was not according to Magento best practices).

It would be worth checking if that's still the case since it could be the only configuration in which `pub` is still added to

[2021-01-11 23:46] dthampy commented on #31561
@eduard13 , Thank you picking up this issue.
Please add test coverage for updateGiftRegistryItems mutation, if it hasn't been added already.

[2021-01-12 04:47] kirmorozov commented on #31611
Looks like some modules rely on fancy sorting too much.

[2021-01-12 05:32] saphaljha commented on #31608
@magento I am working on this issue.

[2021-01-12 05:57] mrtuvn commented on #31493
Nice feedback! @ihor-sviziev @sidolov can you guys note this case

[2021-01-12 06:23] moni921 commented on #29759
Any solution to this. I am also facing same issue

[2021-01-12 07:02] ihor-sviziev commented on #30901
@sidolov @sivaschenko @gabrieldagama,
It seems like an issue with test instances or related to a specific configuration used there. People are saying that it's not reproducing on local env while reproducing on test instances.
Could you look at it?
Thank you!

[2021-01-12 07:04] eduard13 commented on #31561
@dthampy, thank you for mentioning, yes, it has been already covered by [UpdateGiftRegistryItemsTest](https://github.com/magento/partners-magento2ee/blob/fd74c2c6663d18ba2a707dfaee0e9e8b692e1491/dev/tests/api-functional/testsuite/Magento/GraphQl/GiftRegistry/UpdateGiftRegistryItemsTest.php).

[2021-01-12 07:29] ProkopovVitaliy commented on #29319
@magento I am working on this

[2021-01-12 09:21] davidandersson1 commented on #31219
Hello,

May I know, is there any update for us?

We are really eager to resolve this issue and at this time we have no possibility to upgrade the latest version on production server without resolve this index issue.

I request you to all, If anybody faced same kind of index issue and found any solution for same than please share with us.

Thanks in advance,
David Andersson

[2021-01-12 09:23] davidandersson1 commented on #30315
Hello,

Is there any update for us? really waiting from long time to resolve the issue!

Anybody please help!

[2021-01-12 11:40] #30531 closed, assigned to nobody

[2021-01-12 11:42] engcom-Alfa commented on #31424
@aivaraskiras we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-01-12 11:42] #31424 closed, assigned to engcom-Alfa

[2021-01-12 11:43] daraadil opened #31616 "pages not view and keep long loading."
hi sir,
problim is : pages not view and keep long loading.

![Inkedscreencapture-kashmiranywhere-admin-nl12k8-cms-page-index-key-beeed989c0f8e3e95e393ecffcbb6f0fc7d735b1a06d68ad31d395280090d915-2021-01-12-17_09_53_LI](https://user-images.githubusercontent.com/57980700/104310189-508deb00-54f9-11eb-9023-cefde20ab969.jpg)

[2021-01-12 11:50] ihor-sviziev commented on #31493
TBH never heard about similar issues. I think that might be some local
issue with the composer

On Tue, 12 Jan 2021 at 07:57 Tu Nguyen <notifications@github.com> wrote:

[2021-01-12 11:50] krishprakash commented on #31616
Hi @daraadil. Have you checked in latest clean magento instance as instructed [here](https://github.com/magento/magento2/issues/31616#issuecomment-758602274)

[2021-01-12 11:52] daraadil opened #31617 "There was no Home CMS page configured or found."
hi sir ,

my cms not found cms home page,
every thing is all right but again and again show this error
please help me
![screencapture-kashmiranywhere-admin-nl12k8-cms-page-index-key-beeed989c0f8e3e95e393ecffcbb6f0fc7d735b1a06d68ad31d395280090d915-2021-01-12-17_20_05](https://user-images.githubusercontent.com/57980700/104311047-af079900-54fa-11eb-804e-6ecf447829d5.png)
![screencapture-kashmiranywhe

[2021-01-12 11:53] krishprakash commented on #31617
Hi @daraadil. No need to create separate ticket. Kindly mention in previous ticket which you raise.

[2021-01-12 12:08] krishprakash commented on #31617
Closing this issue as [similar issue](https://github.com/magento/magento2/issues/31616) is already added

[2021-01-12 12:08] #31617 closed, assigned to krishprakash

[2021-01-12 12:10] engcom-Alfa commented on #27982
Hi @VZeroCool . Thank you for your report.
It is expected behavior.
If you do the following:

`
$this->orderRepository->get($orderId)` - it returns order object
and order has this method:
`\Magento\Sales\Model\Order::getShippingAddress`

Also, you can following this scenario ( it is the same):

1) `$order = $this->orderRepository->get($orderId)`
2) `$address = $order->getShippingAddress()`

**Actu

[2021-01-12 12:10] #27982 closed, assigned to engcom-Alfa

[2021-01-12 12:11] engcom-Delta commented on #27224
The way how implement such improvement should be discussed in the scope of **Feature Request**

[2021-01-12 12:32] mrtuvn commented on #31493
Aha maybe false alarm here! We are good when it's cause not related code

[2021-01-12 12:36] krishprakash commented on #31616
Hi @daraadil. Feel free to reopen the ticket if you confirm that issue reproduce on latest magento instance
Thanks!!

[2021-01-12 12:36] #31616 closed, assigned to krishprakash

[2021-01-12 12:44] ajijshekh123 commented on #31562
@magento give me 2.4-develop instance

[2021-01-12 12:49] denvit commented on #15417
Can you link the issue at least?

[2021-01-12 12:53] comdiler opened #31619 "Email notification for 2FA configuration has a wrong link, which leads to 404 page"
### Preconditions (*)

1. Magento 2.4.1 should be installed
2. 2FA should be enabled
3. Postman or any other HTTP client should be installed

### Steps to reproduce (*)
1. Login to admin panel
2. Go to System - Permissions - All Users
3. Add a new admin user
4. Send a /rest/default/V1/integration/admin/token POST request with username and password  from step 3
You will get a response about email n

[2021-01-12 13:01] #31619 closed, assigned to nobody

[2021-01-12 13:01] comdiler commented on #31619
Wrong project.

[2021-01-12 13:40] navarr commented on #27700
This is duplicated by #28051

[2021-01-12 13:52] engcom-Delta commented on #27235
Hi @jaivikpatel , thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**
- Configure varnish v.6.2.1
![image](https://user-images.githubusercontent.com/51681379/104321875-db1c1d80-54ec-11eb-90f0-8d4af14c119d.png)

- Set magento developer mode to [verify response headers](https://devdocs.magento.com/guides/v2.4/config-guid

[2021-01-12 13:52] #27235 closed, assigned to nobody

[2021-01-12 13:54] magento-engcom-team commented on #30174
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40378` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-12 14:00] jaivikpatel commented on #27235
@engcom-Delta Can you please try in Magento 2.3.6, please?

[2021-01-12 14:06] ajijshekh123 commented on #31562
Hi @niku0911,
I have verified this issue as per your steps, the actual result, and the expected result.
I have created the 2 rules as per your configuration and setup.
The shipping charge is properly showing.
![image](https://user-images.githubusercontent.com/24711761/104324303-44138d80-550d-11eb-85cf-f603b90caf7b.png)

![image](https://user-images.githubusercontent.com/24711761/104324392-62798900

[2021-01-12 14:07] engcom-Delta commented on #30484
Hi @asiapatrick thank you for your report. Please add more details for issue explanation to make it easier to understand(e.g.,screenshots, code snippets, what result you expect to see)

[2021-01-12 14:12] chequille commented on #31461
Hi Guys,
any news on that?
Why is this only on Low Priority Backlog ?
Prevents me from going online with 2.4.1 !!

ANy news would be very much appriciated.

Best regards,
Chequille

[2021-01-12 14:18] bobemoe commented on #31465
Yes! I can confirm using the Proxy class has resolved the issue.

There actually seems to be no need for `<sequence>` in `module.xml`, although it sounds like this is a good idea anyway since my module does have dependencies.

Thanks for the help, and I agree that the logs / error message could have been more helpful ;)

[2021-01-12 14:45] niku0911 commented on #31562
hi @ajijshekh123

thanks for help i think don't know in my site some bug, i need to checkout on my side.

[2021-01-12 14:47] ajijshekh123 commented on #31562
Okay @niku0911

[2021-01-12 14:49] #31562 closed, assigned to nobody

[2021-01-12 14:52] engcom-Golf commented on #29506
This is not a bug. To get the result as expected you should enable configuration Sales->Tax->Calculation Settings->Apply Discount On Prices = Including  Tax. I'll try to explain why:
Tax value is calculated by the following formula
`{Taxable amount} * (1 - 1 / (1 + {Tax rate})`
Tax rate in your case is 0.15
Taxable amount - is a variable value that depends on configuration

Case Apply Discount On

[2021-01-12 14:52] #29506 closed, assigned to engcom-Golf

[2021-01-12 14:54] magento-engcom-team commented on #29506
Hi @aboutzahurul, @engcom-Golf.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-37664` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-12 14:59] greg-drozd commented on #26301
Any update on this issue?

[2021-01-12 15:57] m2-assistant[bot] opened #31623 "[Issue] [MFTF] Adding AdminClickCreateNewStatusButtonOnOrderStatusPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31604: [MFTF] Adding AdminClickCreateNewStatusButtonOnOrderStatusPageActionGroup

---------
### Description (*)
AdminClickCreateNewStatusButtonOnOrderStatusPageActionGroup has been added
Tests have been updated with AdminClickCreateNewStatusButtonOnOrderStatusPageActionGroup

[2021-01-12 15:57] m2-assistant[bot] opened #31624 "[Issue] [MFTF] Adding AdminGoToOrderStatusPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31603: [MFTF] Adding AdminGoToOrderStatusPageActionGroup

---------
### Description (*)
AdminGoToOrderStatusPageActionGroup has been added
Tests have been updated with AdminGoToOrderStatusPageActionGroup

[2021-01-12 15:58] m2-assistant[bot] opened #31625 "[Issue] MFTF test refactored"
This issue is automatically created based on existing pull request: magento/magento2#31602: MFTF test refactored

---------

### Description (*)

_**Below existing MFTF tests are refactored based on the best practices:**_

1. StorefrontCustomerAccountOrderListTest.xml
2. StorefrontDeleteCustomerAddressTest.xml
3. StorefrontUpdateCustomerAddressBelgiumTest.xml

### Manual testing scenarios (*)

Run

[2021-01-12 15:58] m2-assistant[bot] opened #31626 "[Issue] [MFTF] Updating with AdminClickInsertWidgetActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31601: [MFTF] Updating with AdminClickInsertWidgetActionGroup

---------
### Description (*)
Tests have been updated with AdminClickInsertWidgetActionGroup

[2021-01-12 15:58] m2-assistant[bot] opened #31627 "[Issue] [MFTF] Adding AdminClickAddNewPageOnPagesGridActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31595: [MFTF] Adding AdminClickAddNewPageOnPagesGridActionGroup

---------
### Description (*)
Tests have been updated with AdminClickAddNewPageOnPagesGridActionGroup

[2021-01-12 15:58] m2-assistant[bot] opened #31628 "[Issue] [WIP] Removed CliIndexerReindexActionGroup action group usage for CatalogSearch module"
This issue is automatically created based on existing pull request: magento/magento2#31592: [WIP] Removed CliIndexerReindexActionGroup action group usage for CatalogSearch module

---------
### Description
Remove CliIndexerReindexActionGroup action group usage from tests to improve execution time for the CatalogSearch module.

[2021-01-12 16:07] Sartoric commented on #29506
@engcom-Golf
I suppose you're referring to the main topic.
So my "sub-case" could be related to something, different, isn't it ? Maybe something wrong in the Carriers collectRates method

Ty

[2021-01-12 17:15] frithjof commented on #24586
still happening in 2.3.6

[2021-01-12 18:21] lukas-jifu commented on #31587
Our platform is Magento ver. 2.3.5-p1

UTF CSV Catalog file attached. Importing products, "Check Data" fails.

[2021-01-12 19:32] yougottabekiddingme commented on #31559
I thought I was clear with explaining history on
Ecommerce Orders prior to January not being available to view,
but I guess not. Anyhow, I have the pros at fordparts.com working on it and
apparently it’s a nation wide issue since transition to Magento.
By the way, We’re on Magento Commerce, not the free software

Sent from Mail for Windows 10

From: Martin Aarts
Sent: Wednesday, January 6, 2021 2:

[2021-01-12 20:21] ericerway commented on #30835
@magento give me 2.4.1 instance

[2021-01-12 20:31] ghost opened #31630 "Admin Panel UI Displays Website assignments Incorrectly on Product Edit Page"
### Preconditions (*)
1. Magento 2.4-develop or 2.4.1
2. Magento instance has exactly 1 website configured in store settings.

### Steps to reproduce (*)
1. Go to Catalog > Products, then edit a product
2. In "Product in Websites", unassign the only website.
3. Save
4. The product should no longer have a value in catalog_product_website

### Expected result (*)
1. UI correctly displays that the it

[2021-01-12 20:31] pmcnamaracpc commented on #31630
@magento give me 2.4-develop instance

[2021-01-12 20:39] pmcnamaracpc commented on #31630
Recreated on 2.4-develop
![Recreated - Product Edit Pagepng](https://user-images.githubusercontent.com/61755260/104370021-43b6ca80-54ec-11eb-93c9-0dad17c83873.png)
![Recreated - Product Overview](https://user-images.githubusercontent.com/61755260/104370024-444f6100-54ec-11eb-814e-931fc086c010.png)

[2021-01-12 22:40] 1stoked21 commented on #16101
What is the issue number?

[2021-01-13 01:33] devzer01 opened #31631 "Adding Exception Code to LocalizedException"
In order to handle exceptions and render meaningful user experience messages it would be great if we can start utilizing the exception code when throwing `LocalizedException` doing so will allow all clients using the REST API to map the exception code a CMS ID and manage the messages shown to the user in a more effective manner.

### Expected behavior (*)
Adding Exception Code to `LocalizedExcepti

[2021-01-13 01:33] devzer01 commented on #31631
@magento I am working on this

[2021-01-13 01:34] devzer01 commented on #31631
@magento add to contributors team

[2021-01-13 01:34] devzer01 commented on #31631
@magento I am working on this

[2021-01-13 04:38] PivitParkour94 commented on #13902
so is the solution to not use underscores in either the carrier or the method? It's kinda scary that such a simple thing can have such devastating impact. Is modifying the order table to store the carrier and method separately not an option? This is closed, but is very much still an issue, as explained by the #31311 issue.

Is the quick solution to modify any custom shipping method or carrier that

[2021-01-13 04:41] krishprakash commented on #31630
@magento give me 2.4-develop instance

[2021-01-13 05:28] magento-engcom-team commented on #31630
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40394` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-13 05:39] rtshshukla commented on #8970
Hi
I'm using the 2.3.5-p2 commerce cloud version, I'm facing the same issue. is there any patch or solution for this?
Thanks in adavnce

[2021-01-13 05:46] roshanyadav89 commented on #15199
Hi All,

as per your document price_to is optional in API but it's not optional it's necessary on Magento 2 EE 2.3.3

https://devdocs.magento.com/guides/v2.3/rest/modules/catalog-pricing.html

I am facing some serious issues related to adding/set a special price of the same product / SKU with multiple stores using API.

The same issue exists from the backend also.
++++++++++++++++++

Tried adding

[2021-01-13 05:46] roshanyadav89 commented on #15199
https://github.com/magento/devdocs/issues/8504

[2021-01-13 07:32] jpkileaf commented on #24869
@irshad-iflair  got any solution?

[2021-01-13 07:46] cljk commented on #28961
Modifications by @Yonn-Trimoreau seem to be integrated
https://github.com/magento/magento2-functional-testing-framework/commit/e95fb10d3a55d72af5d60e07703d09201812599e#diff-f4edf94a38445e8b7b8e53e47e6186e81229b4da826147138209ba76bb3bee0a

and released in `magento/magento2-functional-testing-framework`@3.2.1

[2021-01-13 08:26] m2-assistant[bot] opened #31632 "[Issue] [MFTF] Adding AdminClearFiltersOnGridActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#31452: [MFTF] Adding AdminClearFiltersOnGridActionGroup

---------
### Description (*)
Adding AdminClearFiltersOnGridActionGroup

### Related Pull Requests
https://github.com/magento/magento2/pull/31509

[2021-01-13 08:42] engcom-Delta commented on #30277
Hi @haxor211  thank you for your report, I'm not able to reproduce issue after upgrade on 2.4.1
**Manual testing scenario:**
- Install magento 2.3.4
- Upgrade to 2.4.1 using [docs](https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html)
- Go to Stores->Product
- Click Add New Attribute

**Result:**
:heavy_check_mark:  New Product Attribute window is opened
:heavy_check_mark: No erro

[2021-01-13 08:42] #30277 closed, assigned to nobody

[2021-01-13 09:13] vlmed commented on #28334
@magento I am working on this

[2021-01-13 09:51] nuzil commented on #30100
Hi @mauragcyrus
Any estimated time when we can get the fix? cause links you posted are in another repository and I cannot get a code out of it.
Thanks

[2021-01-13 10:01] sedax90 commented on #31486
I've the same problem, log say:

`"caused_by":{"type":"number_format_exception","reason":"For input string: \"on\""}}}]},"status":400} []
`
The problem is in the passed products:
[code]

[2021-01-13 10:17] engcom-Hotel commented on #30802
@magento I am working on this

[2021-01-13 10:26] thomas-kl1 opened #31633 "Image details cannot be updated in new media gallery when JS Minificaiton is enabled"
### Preconditions (*)
1. Magento 2.4-develop
2. M2.4.*
3. Enable built-in JS Minification (production mode) ( `bin/magento config:set dev/js/minify_files 1` )
4. DIsable old media gallery ( Stores -> Configuration -> System -> Media Gallery and set **Enable Old Media Gallery** to **No**)

### Steps to reproduce (*)
1. Go to Admin -> Catalog -> Categories -> Content -> Select from Gallery
2. Open t

[2021-01-13 10:31] engcom-Alfa commented on #27700
Duplicate of #28051

[2021-01-13 10:31] #27700 closed, assigned to engcom-Alfa

[2021-01-13 11:35] engcom-Golf commented on #29506
Hi @Sartoric, I couldn't investigate your case as there are no accurate steps on how to reproduce the issue and what is the expected result. Please add more information about the tax configuration you are using and all the needed information to help us process the problem.
Thanks

[2021-01-13 12:07] magento-engcom-team commented on #31633
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40400` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-13 12:24] engcom-Alfa commented on #26874
Duplicate of #26484

[2021-01-13 12:24] #26874 closed, assigned to nobody

[2021-01-13 12:26] ananth-iyer commented on #30983
@lykciv you might try this events:
sales_order_shipment_save_after
sales_order_save_after

[2021-01-13 14:03] Quentin-Sch commented on #31117
Up!

[2021-01-13 14:07] engcom-Golf commented on #25091
I can confirm that issue is fixed on 2.4-develop branch. Will close this.

[2021-01-13 14:09] #25091 closed, assigned to nobody

[2021-01-13 14:11] magento-engcom-team commented on #25091
Hi @renard123.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-24943` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-13 15:04] magento-engcom-team opened #31639 "[GraphQL] Unable to share gift registry"
#### Pre-Requisites:
-  Create a gift registry

#### Steps to reproduce:
- Run the  shareGiftRegistry mutation for the logged in customer
[code]

#### Expected Result
ShareGiftRegistryOutput returns true / false.

#### Actual Result
Exception is thrown :"We can't share the gift_registry"

P.S. This is happening in Luma as well.

[2021-01-13 15:04] magento-engcom-team commented on #31639
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-40402

[2021-01-13 15:26] dev-ajaysaini opened #31640 "Unable to create shipping label."
Unable to create shipping if js merging and bundling is enabled https://prnt.sc/wmo56d

Issue found in console:
`
Uncaught TypeError: Cannot read property 'childElements' of null
    at g.showWindow (eval at require.load (111934d2f25701cbc76b9eefd3a2aaa3.js:2444), <anonymous>:73:38)
    at window.submitShipment ((index):800)
    at HTMLSpanElement.eventListenerZOwA6XjXaK ((index):744)
    at HTMLB

[2021-01-13 16:10] panchyshnyy-p commented on #8204
Hi, guys! The problem is still present in 2.3.2.
It something with file uploading feature?
I use CDN plugin from PotatoCommerce and everything is good, images are uploading without errors but from time to times images (in pub/media folder) become 0 bytes size.
I can't figure out why it happens. Has this been fixed in latest versions?

[2021-01-13 16:19] mrtuvn commented on #30484
Can you describe more ?

[2021-01-13 16:47] gabrieldagama commented on #23583
Closing this one as based on the discussion on https://jira.corp.magento.com/browse/MC-18129. The fix for this would be backward incompatible, as is today it shouldn't affect merchant experience and it will be addressed on new storefront APIs.

[2021-01-13 16:47] #23583 closed, assigned to nobody

[2021-01-13 16:56] m2-assistant[bot] opened #31641 "[Issue] Moving array access for CAPTCHA _.isEmpty check"
This issue is automatically created based on existing pull request: magento/magento2#31636: Moving array access for CAPTCHA _.isEmpty check

---------
When upgrading to 2.3.6 from 2.3.5-p2, a new CAPTCHA zone "payment_processing_request" is added.

If a customer has an existing session (from 2.3.5-p2 or prior), and tries to access checkout with their existing session data, checkout will fail to lo

[2021-01-13 17:58] christianbookpwood commented on #19597
Also running into this issue on Magento CE 2.4.1.

[2021-01-13 18:03] BB-000 commented on #29357
😫  The docs are still extremely vague... Like, could it _be_ any more vague?! 😭

Still not clear from the docs what will and won't break it?

Devving Magento 2 is such a nightmare. And I'm not a noob either. The core code is a mess. Full of 🧐🤨😬😑. The frontend framework is "totally jacked". I could go on for minutes. But anyway...

Can't there be a really simple example like "to edit contact page c

[2021-01-13 18:15] saphaljha commented on #31630
@magento I am working on this

[2021-01-13 18:32] #24687 closed, assigned to nobody

[2021-01-13 18:32] #24575 closed, assigned to nobody

[2021-01-13 18:32] #24565 closed, assigned to nobody

[2021-01-13 18:33] magento-engcom-team commented on #24687
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-13 18:33] magento-engcom-team commented on #24575
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-13 18:33] magento-engcom-team commented on #24565
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-13 18:34] magento-engcom-team commented on #24687
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-13 20:10] engcom-Delta commented on #30500
Hi @krunalpanchal1607 thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**

- Create two simple products
- Create customer
- Place order with two simple products as customer
- Create invoice and shipment for order
- Use `POST /V1/order/<order_ID>/refund` via Postman to create partial refund
[code]

**Result:**
:heavy_ch

[2021-01-13 20:10] #30500 closed, assigned to nobody

[2021-01-13 20:25] #23843 closed, assigned to engcom-Golf

[2021-01-13 20:25] #23157 closed, assigned to engcom-Kilo

[2021-01-13 20:25] #30250 closed, assigned to engcom-Golf

[2021-01-13 21:36] cspruiell commented on #31111
@shikhamis11 please make sure the aggregations are also filtered in the same way. Right now they are still populated even when no items are returned. The test should also be updated to verify this.

For example:
[code]

[2021-01-13 22:15] btekbtek commented on #26254
For me exsist when signle product, magento 2.4.1

[2021-01-14 00:30] mrtuvn commented on #29357
You can follow this

[2021-01-14 00:33] mrtuvn commented on #29357
If you call form via CMS page your template will missing view_model. That's reason your page will break

[2021-01-14 00:59] bartoll opened #31642 "Missing 'region_id' in 'customer_address_entity' table after upgrading version to 2.4.1"
### Preconditions (*)

1.Magento installed in version 2.3.4 with some customers in database.
2.Decision to upgrade platform do version 2.4.1

### Steps to reproduce (*)

1.Do standard upgrade process.
2.Sign-in as a customer and try to place any order using existed data information from your address book

### Expected result (*)

1. Success
2.

### Actual result (*)

1. There is an error concernin

[2021-01-14 01:00] bartoll commented on #31642
Here is my SQL workaround:
[code]

[2021-01-14 01:40] ctadlock commented on #26589
Where exactly was the problem in the WeltPixel code and what did you change?

[2021-01-14 03:26] matiashidalgo commented on #26020
Not sure if my assumption is right but after reviewing this issue and debugging for a while I realize that the way this works is actually what is expected to happen.

Explanation: if we take into account the console description for cache:flush it says "Flushes cache storage used by cache type(s)" then if we consider a local setup where redis is the cache storage used by config, block_html, layout,

[2021-01-14 06:47] m2-assistant[bot] opened #31643 "[Issue] Ensure that invoice comments are returned when requested by GraphQL queries"
This issue is automatically created based on existing pull request: magento/magento2#31606: Ensure that invoice comments are returned when requested by GraphQL queries

---------

### Description (*)

As part of the GraphQL schema for customer orders, invoices can be requested, along with their comments. However, the current implementation does not return any comments for invoices, resulting in a

[2021-01-14 07:35] webkul-ajaysaini commented on #31633
@magento give me 2.4-develop instance

[2021-01-14 08:46] BassemN commented on #27137
@minenkoden Many thanks. This code fixed the issue.
Thanks again :+1:

[2021-01-14 09:18] convenient commented on #19597
Running the script I hacked together above https://github.com/magento/magento2/issues/19597#issuecomment-671880440 should give an indication if this is a core constraint issue or some third party code causing the issue.

We have this working okay for us in the more recent 2.3.x series, havent tested 2.4.x though

[2021-01-14 09:44] engcom-Golf commented on #30486
This issue is fixed by commit https://github.com/magento/security-package/commit/bf88a8e973d8919952856c90922572d9e95cea42 and merged to the security package develop branch.
Will be delivered to 2.4.3 release version package.
To fix the problem on  previous versions please use commands mentioned by @christianbookpwood
Thanks

[2021-01-14 09:44] #30486 closed, assigned to nobody

[2021-01-14 09:45] magento-engcom-team commented on #30486
Hi @in-session.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39356` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-14 10:24] JelleGe commented on #31225
Hello,

We face this issue also, only when we use php7.4.
Can you pease reopen it?

[2021-01-14 11:51] victortodoran opened #31644 "AbstractAddress setData('custom_attributes', AttributeValue[]) breaks customAttributes"
### Preconditions (*)

1. Magento 2.4.1

### Steps to reproduce (*)

1. Add custom attribute on customer address
2. Call `$address->setCustomAttributes('custom_attributes', $attributes) `where `$attributes` is **Magento\Framework\Api\AttributeValue**
Note that this is done several times in the checkout process if the custom attribute is added on the payload(i.e is present in the form). For example

[2021-01-14 11:57] engcom-Delta commented on #31161
@webrod , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-01-14 11:57] #31161 closed, assigned to nobody

[2021-01-14 12:09] aapokiiso commented on #31225
@JelleGe Good point, I also encountered this with PHP 7.4.

[2021-01-14 12:18] engcom-Alfa commented on #31640
Hi @webkul-ajaysaini. Thank you for your report!

Unfortunately, we are not able to reproduce this issue on fresh 2.4-develop and 2.4.1. Everything works as expected.

**_Preconditions:_**

1. Magento deploy mode: production
2. Merge JavaScript Files: yes
3. Enable JavaScript Bundling: yes
4. DHL shipping method is enabled

**_Manual testing scenario:_**

1. Create new shipping and check the Creat

[2021-01-14 13:07] engcom-Delta commented on #31312
Hi @gbyte-dev thank you for your report, I'm not able to reproduce issue by steps you described after upgrade on clean 2.4.1
**Manual testing scenario:**
- Elascticsearch is insatlled
![image](https://user-images.githubusercontent.com/51681379/104594426-cd47d300-5679-11eb-99c2-b913ac998104.png)
- Install magento 2.3.5-p2
- Create additional categories: `sarm` and `Bags`
![Screenshot from 2021-01-1

[2021-01-14 13:32] gabrieldagama commented on #31627
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31595 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [68de5b259060f5840fb97d2dd5b242ceaad97d8c](https://github.com/magento/magento2/commit/68de5b259060f5840fb97d2dd5b242ceaad97d8c)
 - [ecf2fe5cde3c06eec6d3891f84546b018b70a36d](https://github.com/magento/magento2/commit/ecf2fe5cde3c06eec6d3891f8

[2021-01-14 13:32] #31627 closed, assigned to AnnaAPak

[2021-01-14 13:32] gabrieldagama commented on #31575
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31564 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [6390bbf464ded44c53d8fa96e3e12442da5bd4b1](https://github.com/magento/magento2/commit/6390bbf464ded44c53d8fa96e3e12442da5bd4b1)

The fix will be available with the upcoming 2.4.3 release.

[2021-01-14 13:32] #31575 closed, assigned to sergiy-v

[2021-01-14 13:32] gabrieldagama commented on #31632
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31452 by @AnnaAPak in 2.4-develop branch
Related commit(s):
 - [200831eb418d984c00180260576b2ab5a4165290](https://github.com/magento/magento2/commit/200831eb418d984c00180260576b2ab5a4165290)
 - [e403ec5286056765da613980b48babadc1a2ffe4](https://github.com/magento/magento2/commit/e403ec5286056765da613980b

[2021-01-14 13:32] #31632 closed, assigned to AnnaAPak

[2021-01-14 13:39] ericerway commented on #30835
@magento give me 2.4.1 instance

[2021-01-14 13:47] engcom-Alfa commented on #28750
Hi @kardi31. Thank you for your report!

Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop. Looks like the problem has already been fixed.

**Manual testing scenario:**

1. Create simple product ("**_test_**" for ex.);
2. Create product view layout file app/code/{Namespace}/{Module}/view/frontend/layout/catalog_product_view_selectable_{productIdentifier "**_test_**" in our

[2021-01-14 13:47] #28750 closed, assigned to engcom-Alfa

[2021-01-14 15:42] jorgb90 commented on #15209
How can this still be a problem in 2.4?!

[2021-01-14 15:48] moloni-es commented on #31558
I have my Magento installation updated to the latest available version.
How can I apply this patch to make the sample data work in 2.4.1?

[2021-01-14 15:50] jorgb90 commented on #12124
We need this solved..

[2021-01-14 17:11] m2-assistant[bot] opened #31647 "[Issue] Removed CliIndexerReindexActionGroup action group usage for Checkout module"
This issue is automatically created based on existing pull request: magento/magento2#31634: Removed CliIndexerReindexActionGroup action group usage for Checkout module

---------
### Description
Remove CliIndexerReindexActionGroup action group usage from tests to improve execution time for the Checkout module.

[2021-01-14 17:41] m2-assistant[bot] opened #31648 "[Issue] Use two-way value binding for date field"
This issue is automatically created based on existing pull request: magento/magento2#31605: Use two-way value binding for date field

---------

### Description (*)

The previous `attr` binding would correctly set the initial value, but the `value` binding is required to make the field value update when the `shiftedValue` observable changes in the date component.

The problem that inspired this PR

[2021-01-14 18:36] mauragcyrus commented on #31531
There are currently 2 PRs open for this issue:
https://github.com/magento/partners-magento2ee/pull/425

[2021-01-14 21:45] jasonhildebrand commented on #12380
I'm using magento 2.2.11 and getting deadlock in assignProductToCategories().

I have a console script to assign categories for 20000 products.  It fails approx every 1000 records.

In my case I get this exception chain:

[code]

I am using Percona 5.7.

Since this function is prone to deadlock, my workaround is to catch and re-attempt the call using this pattern:

[code]

[2021-01-14 22:36] omaxmo commented on #30721
@magento I am working on this

[2021-01-14 22:49] engcom-Alfa commented on #31092
Hi @DmitryFurs .
Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop following by provided scenario.

**Actual Result:** :heavy_check_mark: If we change the order so that the **<block** is in different positions, there are no errors.

![Screenshot from 2021-01-15 00-39-24](https://user-images.githubusercontent.com/51679138/104658426-6fdc7200-56cb-11eb-8623-cf746710005e.png)

[2021-01-14 22:52] BernardRobbins opened #31649 "Partial shipments API ships all items and completes order"
### Preconditions (*)
1. Magento 2.4.*
2. Magento 2.3.*

### Steps to reproduce (*)
1. Checkout with at least two items.
2. Create Invoice.
3. Try to ship one item by following instructions for partial shipment here: https://devdocs.magento.com/guides/v2.3/rest/tutorials/inventory/create-shipment.html
4. ![image](https://user-images.githubusercontent.com/959230/104657944-dcd21680-568f-11eb-89c4-76

[2021-01-14 23:02] slavvka opened #31650 "test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-01-14 23:02] #31650 closed, assigned to nobody

[2021-01-15 02:36] r-martins commented on #27847
I was able to test the Pull Request [#28126](https://github.com/magento/magento2/pull/28126) on Magento 2.4.1 and it seems it **does fix this issue**. I hope someone from Magento could notice the importance of this issue.

[2021-01-15 06:58] tuyennn commented on #22272
@krzksz please reopen the ticket since the bugs still exit on Magento 2.3.5-p1

[2021-01-15 08:40] m2-assistant[bot] opened #31652 "[Issue] Adding the company and VAT Number values at OPC address."
This issue is automatically created based on existing pull request: magento/magento2#31425: Adding the company and VAT Number values at OPC address.

---------

### Description (*)

Adding the company and VAT Number values at OPC address.

**Preconditions:**

1. Magento 2.4-develop
2. Have 1 created product

**Manual testing scenario:**

1. Set `Store->Configuration->Customer Configuration->Name a

[2021-01-15 09:37] venhow opened #31653 "Invalid rcptto"
Magento 2.4.1, got this error:
Invalid rcptto [@sm070102] at DATA State(Connection IP address:x.x.x.x) ANTISPAM_BAT[01201311R116c, rsid06449]: invaddr reject
 {"exception":"[object] (Magento\\Framework\\Exception\\MailException(code: 0): Invalid rcptto [@sm070102] at DATA State(Connection IP address:x.x.x.x) ANTISPAM_BAT[01201311R116c, rsid06449]: invaddr reject
 at /var/www/html/vendor/magepal/ma

[2021-01-15 09:52] nige-one commented on #30948
I have the same issue. The problem is that in
https://github.com/magento/magento2/blob/445b0f1a3d6a91b5da32d311077c2112ef0b1503/app/code/Magento/ConfigurableProductGraphQl/Model/Options/Collection.php#L100
the `!empty($this->attributeMap)` does not take into account the case of more then one Configurable Product's super attribute needs to be resolved.

[2021-01-15 10:09] magento-engcom-team commented on #31652
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40436` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-15 10:43] ihor-sviziev commented on #31465
@bobemoe, thank you for confirming! I'm closing this issue as not relevant anymore.

[2021-01-15 10:43] #31465 closed, assigned to ihor-sviziev

[2021-01-15 10:45] magento-engcom-team commented on #31465
Hi @bobemoe, @ihor-sviziev.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40246` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-15 10:47] ihor-sviziev commented on #31465
@sidolov @gabrieldagama seems like the automatic comment is a mistake?

[2021-01-15 12:14] smr-deploy commented on #31600
[code]

will fix that particular one, but I'd imagine there's a lot more in the codebase.

[2021-01-15 12:23] pawan commented on #31600
@smr-deploy , Yes I know the fix and waiting for someone to confirm issue!

[2021-01-15 12:28] engcom-Delta commented on #31642
Hi @bartoll thank you for your report, I'm not able to reproduce issue by steps you described after upgrade on clean 2.4.1
**Manual testing scenario:**
- Install magento 2.3.4
- Create customer:
![image](https://user-images.githubusercontent.com/51681379/104727004-49571f00-573d-11eb-932e-4955b956f09d.png)
- Add some product to wishlist, compare list and shopping cart as registered customer
- Upgra

[2021-01-15 12:32] engcom-Delta commented on #31653
Hi @venhow thank you for your report.
There is not enough information to reproduce issue. Please update ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2021-01-15 12:33] Dannez83 opened #31655 "Braintree refunds should return Refund transaction id instead of parent id with "-refund" appended"
### Description (*)
Braintree refunds display the original/parent transaction id with "-refund" appended. This is not helpful from an accounts reconciliation point of view or from a customer service point of view when communicating the transaction id of the refund to the customer. The actual refund transaction id would be much more suitable. The parent transaction ID is already set in a separate f

[2021-01-15 12:52] YiffyToys opened #31656 "Elasic Search license change to SSPL affecting Magento2 license"
Elastic Search changed to the SSPL license (according to OSI not even "open source" anymore).
This may or may not remove the abilty of Magento2 to use it in it's current version as a search
enginge  for category listing while keeping Magento2 under the current license.

License:
https://www.mongodb.com/licensing/server-side-public-license

Quote:
"13. Offering the Program as a Service.

If you mak

[2021-01-15 12:53] Eddcapone opened #31657 "Customers cant change their gender anymore"
### Preconditions (*)

 I have two shops with 2.4.1
In the first shop I can still change the gender from the customer account page.

![image](https://user-images.githubusercontent.com/16349349/104729571-e9f71000-5738-11eb-8f86-2c6e2f47c73d.png)

In the second shop the field does not show.

Normally you could enable and disable the feature from the magento backend:

![image](https://user-images.git

[2021-01-15 15:22] DmitryFurs commented on #31092
@engcom-Alfa you need to enable URN schemes
https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-urn.html

![image](https://user-images.githubusercontent.com/1055999/104744989-9bf50300-575e-11eb-810c-4f78b1349c2d.png)

[2021-01-15 15:50] Dannez83 commented on #31655
@magento give me 2.4-develop instance

[2021-01-15 16:29] magento-engcom-team opened #31660 "Unable to add configurable product to cart on any non-default store view (French store)."
**Note: Simple Products work across website/store code, this bug is specific to configurable products**

**PWA Repro:**

URL - <https://integration-5ojmyuq-jnz3dtiuj77ca.us-4.magentosite.cloud/montana-wind-jacket.html]

Steps - 
 1. Go to above URL.

2. Switch to French Store and try adding configurable to to cart.

 

Expected - Product should get added.

Actual - User gets error "Could not add i

[2021-01-15 16:29] magento-engcom-team commented on #31660
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-40331

[2021-01-15 18:28] engcom-Delta commented on #28244
Hi @moloughlin @Emanuel-23 I'm not able to reproduce issue on clean 2.4-develop and on the latest composer version 2.4.1. Also was checked case with upgrade from 2.3.6 to 2.4.1 and swagger page is correctly displayed after upgrade
**Result:**
:heavy_check_mark: Swagger page is opened without errors
![image](https://user-images.githubusercontent.com/51681379/104764271-d2874980-576f-11eb-9aed-5d025c

[2021-01-15 18:28] #28244 closed, assigned to nobody

[2021-01-15 18:41] engcom-Delta commented on #30890
@SageKit we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-01-15 18:41] #30890 closed, assigned to nobody

[2021-01-15 19:10] irenelagno commented on #30835
@magento give me 2.4.1 instance

[2021-01-15 19:31] davirs commented on #29797
I have same situation here with magento 2.4.0.

I did the fix in Dismiss.php as mentionated above and I did the fix inside db_schema.xml.
After did this procidures I did a setup upgrade, I cleared cache, I forced cron:run... but the problem persists.

Someone can help me to clear this queue?:
![image](https://user-images.githubusercontent.com/4355062/104770006-ec646480-574e-11eb-8820-9f2ac86f11c1.

[2021-01-16 02:26] skearns64 commented on #31656
[disclaimer: I work Elastic]

The license change[1][2] announced yesterday will have **no impact** on Magento users using Elasticsearch.

The change involves the source code of Elasticsearch, which is moving from Apache 2.0 to be dual licensed under the Elastic License and SSPL. However the users of Magento are not typically building Elasticsearch from source directly.

The default distribution is

[2021-01-16 10:20] XxXgeoXxX commented on #31639
@magento I am working on this

[2021-01-16 15:51] yvaliya commented on #31190
@magento give me 2.4-develop instance

[2021-01-16 16:21] yvaliya commented on #31190
For me, it just worked fine for Magento 2.4-develope instance.

![back-end configuration](https://i.imgur.com/PBBHzEI.png)

![front-end result](https://i.imgur.com/r1WGi2l.png)

DHL will allow free shipping only with the method that is selected as a free shipping method from the configuration. For other shipping methods normal shipping charge will be applied.

@DanielIconate you configured "Easy S

[2021-01-16 16:27] yvaliya commented on #31190
@magento add to contributors team

[2021-01-16 16:28] yvaliya commented on #31190
@magento I am working on this

[2021-01-16 16:30] yvaliya commented on #31190
For me, it just worked fine for Magento 2.4-develope instance.

![back-end configuration](https://i.imgur.com/PBBHzEI.png)

![front-end result](https://i.imgur.com/r1WGi2l.png)

DHL will allow free shipping only with the method that is selected as a free shipping method from the configuration. For other shipping methods normal shipping charge will be applied.

@DanielIconate you configured "Easy S

[2021-01-16 16:31] yvaliya commented on #31190
@magento add to contributors team

[2021-01-16 22:23] ikevinsolomon commented on #31145
I too can confirm that we are facing this issue on Aurora can someone please provide inputs :)

[2021-01-17 00:40] githubnguyendang commented on #12870
help me :
Fatal error: Uncaught TypeError: implode(): Argument #2 ($array) must be of type ?array, string given in C:\xampp\htdocs\airpodsrep\wp-content\plugins\cf7-google-sheets-connector\lib\src\Google\Service\Resource.php:297 Stack trace: #0 C:\xampp\htdocs\airpodsrep\wp-content\plugins\cf7-google-sheets-connector\lib\src\Google\Service\Resource.php(297): implode(Array, '&') #1 C:\xampp\htdocs\

[2021-01-17 00:50] ajithkumar-maragathavel commented on #31268
@magento I am working on this

[2021-01-17 02:40] #13298 closed, assigned to nobody

[2021-01-17 02:42] magento-engcom-team commented on #13298
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-17 02:52] quannguyenbkat commented on #24993
Thank you very much. you save my day

[2021-01-17 08:31] shikhamis11 commented on #30362
@magento give me 2.4.2-beta3 instance

[2021-01-17 08:35] shikhamis11 commented on #30362
@magento give me 2.4-develop instance

[2021-01-17 13:45] robinjoh commented on #25209
Also facing this on magento 2.4.1

[2021-01-17 14:09] nordcomputer commented on #31268
@ajithkumar-maragathavel Maybe it helps: i made an module, that shows the price and the swatches, when all child-products are out of stock:
https://github.com/nordcomputer/magento2-showoutofstockprice

You can switch, if you want to show the swatches in the backend. But it doesnt work with the classic select-field.

[2021-01-17 14:15] #10954 closed, assigned to nobody

[2021-01-17 19:42] Userr017 opened #31734 "Can't disable all 2FA providers"
### Preconditions (*)

1. Magento 2.4.1
2. Can disable all 2FA providers

### Steps to reproduce (*)

1. Stores/Configuration/Security/2FA/
2. General/Providers to use: Choose off everything providers
3. Automatically open window "Are you sure you want to disable all currently active providers?"
![act_pro](https://user-images.githubusercontent.com/51680745/105190165-683f2200-5b3e-11eb-81a2-670f7ff

[2021-01-17 19:47] mattgrul commented on #26679
@magento I am working on it

[2021-01-17 19:47] mattgrul commented on #26679
@magento add to contributors team

[2021-01-17 19:48] mattgrul commented on #26679
@magento add to contributors team

[2021-01-17 19:48] mattgrul commented on #26679
@magento I am working on it

[2021-01-17 20:55] shariqshahab opened #31735 "Elasticsearch issue"
I found a bug in my magento exception.log.
Here is a log message I got

[2021-01-17 20:45:07] main.CRITICAL: {"error":{"root_cause":[],"type":"search_phase_execution_exception","reason":"all shards failed","phase":"query","grouped":true,"failed_shards":[]},"status":503} {"exception":"[object] (Elasticsearch\\Common\\Exceptions\\ServerErrorResponseException(code: 503): {\"error\":{\"root_cause\":[]

[2021-01-18 05:01] krunalpanchal1607 commented on #30500
Thanks for reply.

In your example first you create shipment for order and after refund for one simple product then your status become "completed". this is right but my issue is another.

My question is different .
Don't do shipment and create one simple product refund then order status is going "completed" status means its wrong.
actually status not change for all order because only refund one si

[2021-01-18 05:56] mrtuvn commented on #7231
The difference obviously occurs
Here is one example

When use server side compile  bear in minds rules/mixins in file _extends.less will not generate to output css. It's work as we expected. Default magento import all the them as (reference)
https://github.com/magento/magento2/blob/2.4-develop/app/design/frontend/Magento/blank/web/css/styles-l.less#L17

http://lesscss.org/features/#import-atrules-

[2021-01-18 06:17] shikhamis11 commented on #31660
@magento give me 2.4-develop instance

[2021-01-18 07:06] mrtuvn commented on #31657
Should we change  title to "Customer gender config not respect scope store ?" Basically in your case the second store not show gender select

[2021-01-18 07:36] engcom-Alfa commented on #31735
Hi @shariqshahab. Thank you for your report.
There is not enough info to reproduce the issue. Please update the ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).
Thank you!

[2021-01-18 08:23] ajijshekh123 commented on #31609
@jeffspurlock - Have you reproduced this issue again on the latest Magento Instance?

[2021-01-18 08:31] engcom-Alfa commented on #31649
Hi @BernardRobbins. Thank you for your report.

Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop. Looks like the issue has already been fixed.

**Manual testing scenario:**
1. Checkout with at least two items (2 simple products with qty =1 each);
2. Create an Invoice;
3. Send **POST** `/V1/order/{orderId}/ship`
![Screenshot from 2021-01-18 10-27-38](https://user-images.gi

[2021-01-18 08:32] m2-assistant[bot] opened #31737 "[Issue] fix QtyTest.php local failure"
This issue is automatically created based on existing pull request: magento/magento2#31381: fix QtyTest.php local failure

---------

### Description (*)

composer version local run dev/tests/integration/testsuite/Magento/Catalog/Block/Adminhtml/Product/Composite/Fieldset/QtyTest.php failure

### Related Pull Requests

### Fixed Issues (if relevant)

No issues created

### Manual testing scenarios

[2021-01-18 09:01] sheepfy commented on #12278
Hei, are there any updates on this?
I saw that PR that fix the issue, but the PR is closed and is not merged since 2017.

[2021-01-18 10:19] sheepfy opened #31739 "Loading bundle product links will not retrieve selection price type & selection price value"
when you call Magento\Bundle\Model\LinkManagement::getChildren it makes a foreach on $option->getSelections()
then calls Magento\Bundle\Model\LinkManagement::buildLink

buildLink method has this if statement `if ($product->getPriceType()) {` and attribute price_type has only 0 and 1 as values.
If price_type value is 0 then it will never pass the IF statement and it will not populate the link objec

[2021-01-18 10:29] sodhancha commented on #31145
@rvitaliy any resolution from your side which you've figured out ?

[2021-01-18 11:16] vijay-prevaj opened #31741 "Bulk API operation not starting"
### Preconditions (*)

1. magento version 2.3.4-p2
### Steps to reproduce (*)

1. Install magento 2.3.4-p2
2. configure rabbitmq
3. Create new product with REST API URL (rest/all/async/bulk/V1/products/bySku).
`[
	{
		"product": {
			"sku": "Z-Z0EE1",
			"name": "Printed Dress",
			"status": 1,
			"visibility": 4,
			"price":17
    	}
	},
	{
  		"product": {
		    "sku": "Z00JN",
		    "name": "Bl

[2021-01-18 11:38] engcom-Alfa commented on #26732
Hi @brian-ebizmarts .

Unfortunately, there is no such possibility to add this fix on Magento 2.3.
According to the [DevBlog](https://community.magento.com/t5/Magento-DevBlog/Let-s-Keep-the-Magento-2-Backlog-Clean-Part-2/ba-p/462599):

`
The latest Magento version as of now is 2.4.1 and moving forward we will be focusing on the 2.4 and 2.5 release lines. As a result of such an approach, we will be

[2021-01-18 11:40] engcom-Alfa commented on #26732
Will close this issue as the problem has already been fixed by commit 005b10d.

[2021-01-18 11:41] #26732 closed, assigned to engcom-Alfa

[2021-01-18 11:52] HenKun opened #31742 "Cannot use a scalar value as an array in SessionManager"
https://github.com/magento/magento2/blob/1e846a4aa38f1ff5d7238d70df9d887b3bdf5acb/lib/internal/Magento/Framework/Session/SessionManager.php#L492
### Preconditions (*)

1. Magento 2.4.1 (we encountered it in previous version, too)
2. Redis for Session Storage (it occured also with file session storage)

### Steps to reproduce (*)

1. Occurs randomly

### Expected result (*)

1. Everything works fin

[2021-01-18 12:15] TheRealHunzik opened #31743 "CSS Not working properly for filterInput on Ui Component Grid"
### Summary (*)
I want to Add Only Filter in Order Grid Filters Function is Working Fine But CSS is Not working

### Examples (*)
I want to Add Column Like this

![likeSample](https://user-images.githubusercontent.com/51072292/104913777-ef11c480-59af-11eb-8eb8-6ac48d473fdb.png)

so i tired something like that in

Vendor/Module/view/adminhtml/ui_component/sales_order.grid.xml

[code]

but I am gett

[2021-01-18 12:34] orlangur commented on #31742
@HenKun reliable steps to reproduce need to be provided.

If the issue was real, instead of suggested
[code]
one could use
[code]

[2021-01-18 12:46] #28204 closed, assigned to engcom-Alfa

[2021-01-18 12:53] engcom-Charlie commented on #25872
Hello @insaurabh we are not able to reproduce the issue on the latest 2.4-develop by the following steps:
1. Set-up DHL.
2. Create a simple product with weight.
3. Open store configuration
4. Change the scope to `store view`
5. Open `General` -> `Currency Setup` -> `Currency Options` and set `Allowed Currencies` to **EUR** and **USD**.
5. Create a customer with an address and log in on the storefr

[2021-01-18 13:06] HenKun commented on #31742
@orlangur Unfortuantely I cannot provide deterministic reproducible steps, since it occurs occasionally.

Your suggested code change might work. However it is not clear to me in which path this value can get a scalar value at all. So it might be better to find the cause where and why a scalar value might be assigned.

[2021-01-18 13:36] xls2802 commented on #25872
Hello!
Perhaps you made a mistake with the mailing address. Please don't send such
emails to this address any more. I'm not that person you need.
Kind regards!

пн, 18 янв. 2021 г. в 14:54, Vadim Malesh <notifications@github.com>:

[2021-01-18 13:37] gwharton opened #31745 "Magento Tax system needs updating to support modern sales tax collection at point of sale for multiple tax systems."
### Description (*)
The Magento TAX system needs updating to reflect modern Sales Tax collection at point of sale for multiple countries.

### Expected behavior (*)
Countries worldwide are modernising their sales tax systems, shifting more towards collecting sales taxes at the point of sale for international sales, and requiring sellers to register for tax in multiple countries, rather than just c

[2021-01-18 13:39] eduard13 commented on #31639
Looks like the issue is somehow related to the GiftRegistry itself, as I'm not able to reproduce it locally.
![image](https://user-images.githubusercontent.com/15868188/104922403-5aa16500-59a3-11eb-9912-b48c7a0f8666.png)

[2021-01-18 13:41] eduard13 commented on #31531
For some reasons I'm not able to reproduce this one. Checking the description's query, I find it weird that `typeUid = 1`, even we have a **String** type for `typeUid`. Most probably it has been fixed in one of the commits.

[2021-01-18 13:45] gwharton opened #31746 "Magento Tax Rules need order amount thresholds"
### Description (*)
It should be possible to state an order amount threshold for each tax rule.

### Expected behavior (*)
You should be able to specify a minimum order value for the tax rule, so the tax is only applied when the order amount is above the threshold.

You should be able to specify a maximum order value for the tax rule, so the tax is only applied when the order amount is below the t

[2021-01-18 13:49] gwharton commented on #31745
Also note the following article which summarises the changes.

https://www.dlapiper.com/en/us/insights/publications/2020/12/uk-vat-changes-sale-of-goods-to-customers/

[2021-01-18 14:13] Alainvdz99 opened #31747 "It is not possible to choose only width or height within the image property in the view.xml"
### Preconditions (*)

1. Magento version 2.3.6
2. Only add width or height in the image property of the view.xml file, not both

### Steps to reproduce (*)

1. Create a view.xml and add an image tag with id **product_base_image** and type **image** . within this image tag, add a width tag but **not** a height tag
2. Go to the frontend of the Magento shop and go to a PDP

### Expected result (*)

[2021-01-18 14:14] engcom-Delta commented on #29025
Hi @mtjweb thank you for your report, I'm not able to reproduce issue by steps you described after upgrade on 2.4.1
Were checked cases with upgrade from the latest 2.3.x realese (2.3.6) to the latest 2.4.x (2.4.1) and upgrade from 2.4.0 to 2.4.1
**Manual testing scenario:**

- Create simple product with images
- For each images add `Alt Text`
![image](https://user-images.githubusercontent.com/5168

[2021-01-18 14:14] #29025 closed, assigned to nobody

[2021-01-18 14:18] Dren7755 commented on #29049
I have an Magento 2.4.1 and "paypal/module-braintree-core":"4.2.0"
It's working ok for me when region is empty
![image](https://user-images.githubusercontent.com/19759530/104926265-9ab71680-59a8-11eb-9577-230f2c46d8e4.png)

[2021-01-18 14:35] Alainvdz99 commented on #31747
@magento I am working on this

[2021-01-18 14:35] Alainvdz99 commented on #31747
@magento add to contributors team

[2021-01-18 14:36] Alainvdz99 commented on #31747
@magento I am working on this

[2021-01-18 15:20] BB-000 commented on #6382
Brand new child theme inheriting from magento-blank-theme. Changed all of view.xml variables, ran catalog:images:resize (and deleted product images cache folder). I am still getting images 30x20 and 110x90 sizes. Where are these coming from? All my product images are square so I want to change all sizes to match this.
Also, why does the default view.xml product over 20 copies of each product image

[2021-01-18 15:40] BernardRobbins commented on #31649
Thank you @engcom-Alfa for looking into this. Here is a more detailed step by step.

1. /usr/bin/composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition < install-directory-name >
2. This installed Magento ver. 2.4.1
3. cd < install-directory-name >
4. php7.3 bin/magento setup:install < install settings >
5. php7.3 bin/magento module:disable Magento_Two

[2021-01-18 16:00] gwharton commented on #31745
Worldwide selling to the UK must register with HMRC UK and collect UK VAT at point of sale for all transactions under 135GBP unless the UK buyer provides a valid UK VAT/EORI number. This is law as of January 1st 2021 . The invoice must include the sellers UK VAT Number. For sales where the buyer presents a valid UK VAT/EORI number then no VAT is charged and the invoice MUST include a declaration s

[2021-01-18 16:00] BB-000 commented on #6382
I found the image names I needed to set (they were NOT in the blank theme view.xml, they were here: "/vendor/magento/module-swatches/etc/view.xml". Confusing. Why are they missing from blank theme view.xml?)
Setting them worked though. Got it down from 25 duplicates per image to 6...!!! 😅

**Magento makes it extremely fiddly/difficult to set @2x images**. Why? **The default settings for view.xml p

[2021-01-18 16:01] gwharton commented on #31745
Also note, that the VIES system will no longer validate UK VAT numbers, so the current system is not capable of putting UK buyers into a "No VAT" customer group. UK VAT numbers will need to be validated by https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-registered-companies-api/1.0

￼

This needs thinking about too. If the VAT validation (should be renamed to TAX valid

[2021-01-18 16:33] PascalBrouwers commented on #24710
CLDR is at version 25 in Magento 2. The PR in this issue only updated the language list for BQ, CW, SX, XK.

[2021-01-18 20:00] engcom-Delta commented on #31024
@mohanwbsofttech @grassst Are you upgraded according [docs](https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html)? Do you have information about magento configuration that was missed in original issue description?
According current description issue is not reproducible

[2021-01-18 20:11] engcom-Delta commented on #31315
@ngtuan96lc we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-01-18 20:11] #31315 closed, assigned to engcom-Delta

[2021-01-18 20:46] grassst commented on #31024
@VasylShvorak yes i am doing the update like the docs in your link.
would be great to get help.
thx.

[2021-01-18 21:03] BernardRobbins commented on #31649
Not sure if it matters:
mysql  Ver 8.0.22-0ubuntu0.20.04.3 for Linux on x86_64 ((Ubuntu))
Apache/2.4.41 (Ubuntu)
Zend Engine v3.3.26
Postman Version 7.34.0
Chrome Version 87.0.4280.141

[2021-01-18 21:58] BernardRobbins commented on #31649
I missed the part where you said 2.4-develop. I've installed 2.4-develop and have the same result.

[2021-01-18 22:10] BernardRobbins commented on #31649
I found my issue. I was sending the body in the wrong format. It should have been raw JSON format.

Now I have another question. Is this suppose to ship all items when it doesn't receive the proper format?

I tested again and sending an empty post to http://task-dropship-fulfillment/rest/V1/order/5/ship will ship all products.

![image](https://user-images.githubusercontent.com/959230/104966645-6c

[2021-01-18 22:12] Episodio1 commented on #28961
With php 7.3.25 (Ubuntu18) I get:
[code]
(Don't remember the API version)

[2021-01-18 23:15] #25778 closed, assigned to nobody

[2021-01-18 23:15] #30547 closed, assigned to nobody

[2021-01-18 23:15] #30221 closed, assigned to nobody

[2021-01-18 23:15] #30203 closed, assigned to nobody

[2021-01-18 23:15] #30154 closed, assigned to nobody

[2021-01-18 23:15] #30122 closed, assigned to nobody

[2021-01-18 23:15] #30124 closed, assigned to nobody

[2021-01-19 00:14] #30097 closed, assigned to nobody

[2021-01-19 00:15] #30087 closed, assigned to nobody

[2021-01-19 00:15] #30033 closed, assigned to nobody

[2021-01-19 00:15] #29956 closed, assigned to nobody

[2021-01-19 00:15] #29809 closed, assigned to nobody

[2021-01-19 00:15] #29567 closed, assigned to nobody

[2021-01-19 00:15] #29530 closed, assigned to nobody

[2021-01-19 00:15] #29440 closed, assigned to nobody

[2021-01-19 00:15] #29447 closed, assigned to nobody

[2021-01-19 00:15] #29253 closed, assigned to nobody

[2021-01-19 01:50] #28315 closed, assigned to nobody

[2021-01-19 01:50] #27932 closed, assigned to nobody

[2021-01-19 01:50] #27513 closed, assigned to nobody

[2021-01-19 01:50] #27198 closed, assigned to nobody

[2021-01-19 01:50] #27182 closed, assigned to nobody

[2021-01-19 01:50] #27025 closed, assigned to nobody

[2021-01-19 01:50] #26941 closed, assigned to nobody

[2021-01-19 01:50] #26756 closed, assigned to nobody

[2021-01-19 01:50] #25687 closed, assigned to nobody

[2021-01-19 01:50] #26567 closed, assigned to nobody

[2021-01-19 01:50] #26203 closed, assigned to nobody

[2021-01-19 01:51] #26177 closed, assigned to nobody

[2021-01-19 01:51] #26153 closed, assigned to nobody

[2021-01-19 01:51] #24920 closed, assigned to nobody

[2021-01-19 01:51] #24335 closed, assigned to nobody

[2021-01-19 01:51] #21663 closed, assigned to nobody

[2021-01-19 01:53] magento-engcom-team commented on #26203
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-19 02:50] #28862 closed, assigned to nobody

[2021-01-19 02:50] #28857 closed, assigned to nobody

[2021-01-19 02:50] #28830 closed, assigned to nobody

[2021-01-19 02:50] #28559 closed, assigned to nobody

[2021-01-19 02:50] #28541 closed, assigned to nobody

[2021-01-19 02:50] #28532 closed, assigned to nobody

[2021-01-19 02:50] #28531 closed, assigned to nobody

[2021-01-19 02:50] #28529 closed, assigned to nobody

[2021-01-19 02:50] #28526 closed, assigned to nobody

[2021-01-19 02:50] #28459 closed, assigned to nobody

[2021-01-19 02:50] #28452 closed, assigned to nobody

[2021-01-19 02:51] #29611 closed, assigned to nobody

[2021-01-19 02:51] #29874 closed, assigned to nobody

[2021-01-19 02:51] #29873 closed, assigned to nobody

[2021-01-19 02:51] #6865 closed, assigned to nobody

[2021-01-19 02:51] #29667 closed, assigned to nobody

[2021-01-19 02:51] #29840 closed, assigned to nobody

[2021-01-19 02:51] #3294 closed, assigned to nobody

[2021-01-19 02:51] #4703 closed, assigned to nobody

[2021-01-19 02:51] #29622 closed, assigned to nobody

[2021-01-19 02:51] #29620 closed, assigned to nobody

[2021-01-19 02:51] #29591 closed, assigned to nobody

[2021-01-19 03:48] tuyennn commented on #13633
@engcom-Bravo
I have same issue on Magento 2.4.1

[code]
Seem there are something broken but not sure where it is with blank quote

[2021-01-19 04:27] zjevik opened #31752 "Partial Catalog Product Price Indexing not removing old price date and is extremely slow if store has many products (above 200k)"
### Preconditions (*)

1. Magento 2.4.1 + PHP 7.4.10 + MySQL 8.0.22
2. At least 200k simple products
3. Have at least 8 catalog price rules

### Steps to reproduce (*)

1. Set indexes to update by schedule and wait for indexing to complete.
2. Manually run **catalogrule_apply_all** cron job. (this is automatically run at 1am)

### Expected result (*)

1. Once the `partialUpdateCatalogRuleProductPr

[2021-01-19 04:28] zjevik commented on #31752
@magento give me 2.4-develop instance

[2021-01-19 05:18] #29223 closed, assigned to nobody

[2021-01-19 05:18] #29129 closed, assigned to nobody

[2021-01-19 05:54] gcampedelli opened #31753 "Vimeo Product Video Not Found"
### Preconditions (*)

1. It was previoulys working, tested in Magento 2.4.0.

### Steps to reproduce (*)
1. So upgrade to 2.4.1. Do not upgrade and remain in 2.4.0 in another cloned enviroment
2. Go to product page
3. Insert a product video in product page using the regular insert video button. It previously worked.
4. Few days later try to do it again. Vimeo returns 404
5. Try to upload to anoth

[2021-01-19 06:59] GovindaSharma commented on #31643
@magento give me 2.4-develop instance

[2021-01-19 07:26] hostep commented on #31753
A colleague of mine just reported the same error today. I'm guessing something changed at Vimeo's side and Magento is no longer compatible with the change.

Somebody will need to debug and figure out what happens and how it can be corrected in Magento to make it work again.

Or maybe it's a problem at Vimeo itself and we should just wait a few hours until it gets resolved, that might be an option

[2021-01-19 08:15] engcom-Alfa commented on #31741
Hi @vijay-prevaj .
Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop. Everything works as expected.

_**Precondition:**_
 Configured RabbitMQ;

**Manual testing scenario:**
1. Run in console: `php bin/magento queue:consumers:start async.operations.all`;
2. Create new product with REST API:
**POST** `http://magento24.loc/rest/all/async/bulk/V1/products`
![Screenshot from 20

[2021-01-19 08:18] m2-assistant[bot] opened #31756 "[Issue] Fixed region field related issue in the customer registration form"
This issue is automatically created based on existing pull request: magento/magento2#31755: Fixed region field related issue in the customer registration form

---------
Fixed region field related issue in the customer registration form if the address is enabled programmatically.

### Description (*)
If address fields are enabled in the customer registration form then the state/region field doesn'

[2021-01-19 08:18] engcom-Delta commented on #29096
Hi @chequille thank you for your report.
When customer submit contact form, email is send mail that was set in `Send Emails To`. And form from contact us page is sent from mail that was set in `Email Sender`
Here is my results same as [here](https://github.com/magento/magento2/issues/29096#issuecomment-657641682):

- Set `Send Emails To`
![image](https://user-images.githubusercontent.com/51681379/

[2021-01-19 08:18] #29096 closed, assigned to nobody

[2021-01-19 09:06] magento-engcom-team commented on #31753
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40467` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-19 09:27] BB-000 commented on #6382
Update:
I am still getting unwanted 75x75 images, they are coming from '/vendor/magento/theme-adminhtml-backend/etc/view.xml'.
Adding to theme view.xml does not work as these are admin not frontend. I don't really want to make a whole admin theme just to update these values.

[2021-01-19 09:27] Abdallah-herri opened #31757 "Store pickup doesn' work when i add customizable option to a simple product"
### Preconditions (*)
Magento version 2.4.1

### Steps to reproduce (*)
1. Create a simple product.
2. add a customizable option to this product (https://docs.magento.com/user-guide/catalog/settings-advanced-custom-options.html).
![Screenshot_2021-01-19 Joust Duffle Bag Products Inventory Catalog Magento Admin(1)](https://user-images.githubusercontent.com/55665570/105013733-da7d0d00-5a3f-11eb-8c77

[2021-01-19 09:55] woutersamaey commented on #30087
I don't agree this issue was closed and dismissed so easily. The table design is poor.
It should not be dismissed and/or go unnoticed.
Magento should employ proper DB normalization and foreign keys like any other IT system.

[2021-01-19 10:08] esimov opened #31758 "Magento 2.4 catalog products sort by position is not working"
### Preconditions (*)
Magento v2.4.1

### Steps to reproduce (*)
I'm trying to sort the products by position, but unfortunately it's not working. I tried to debug it  and printing out the request under the Elasticsearch7 `Adapter` class, but I was getting an empty array for position sorting:

[code]

If I'm selecting the `price` or `name` attribute as sorting option then I'm receiving the results

[2021-01-19 10:33] krunalpanchal1607 commented on #30500
I am waiting for your answer please reply me. I am also not able to reopen this issue. Last I will open new issue for same problem.

[2021-01-19 10:50] engcom-Alfa commented on #31747
Hi @Alainvdz99.
Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop. Everything works as expected.
 Looks like the problem has already been fixed by commit 806b4f9dfa63b5319fa3891c9bab911516b21747.

@Alainvdz99 Could you take a look?
Thanks!

[2021-01-19 11:15] zcuric commented on #25862
Can this be extracted to a plugin for the time being? I don't have very much experience with plugin development.

[2021-01-19 11:26] BB-000 commented on #31109
😑

[2021-01-19 11:31] andy-aware opened #31759 "Magento 2 Vimeo issues"
We've noticed that Vimeo API no longer works with any Magento instance we have. Outlined below.

### Preconditions (*)

1. Magento 2.3.5-p1
2. Magento 2.3.6
3. Magento 2.4

### Steps to reproduce (*)

1. Go to Magento admin and select a product to edit
2. Go to add images & video
3. Click add video and try to use a Vimeo URL

### Expected result (*)

1. Video to pull through all information availa

[2021-01-19 11:48] engcom-Alfa commented on #31758
Hi @esimov .

Unfortunatelly, we are not able to reproduce the issue on a fresh 2.4-develop instance. Sorting by position works correctly on the catalog products page.

**_Precondition:_**
Have several products with pre-set positions. Like:
![Screenshot from 2021-01-19 13-39-43](https://user-images.githubusercontent.com/51679138/105030015-d2cb6180-5a5b-11eb-9960-5026b73d45a3.png)

**Manual testing

[2021-01-19 12:17] engcom-Foxtrot commented on #30980
Closing as fix already merged https://github.com/magento-engcom/magento2ce/pull/4111.

[2021-01-19 12:17] #30980 closed, assigned to milindsingh, engcom-Foxtrot

[2021-01-19 12:28] engcom-Bravo commented on #31587
@lukas-jifu We have tried to import the provided .csv into our 2.4-develop instance and did not face any errors
The validation passed successfully :heavy_check_mark:
![validation_result](https://user-images.githubusercontent.com/51680745/105034184-d366f680-5a61-11eb-8555-f73fae6aeec9.png)

And the products are imported
![success_import](https://user-images.githubusercontent.com/51680745/105034298-

[2021-01-19 12:28] #31587 closed, assigned to engcom-Bravo

[2021-01-19 12:31] engcom-Bravo commented on #31163
Hello @rama-tm
Did the proposed solution help to resolve your issue?

Thank you

[2021-01-19 12:31] Santoshziffity commented on #31537
@magento I am working on this

[2021-01-19 12:35] Santoshziffity commented on #31537
@magento add to contributors team

[2021-01-19 12:45] rama-tm commented on #31163
Hi @engcom-Bravo ,

Hope you are well.
Actually, they [suggested some commands](https://magento.stackexchange.com/questions/265364/how-to-fix-invalid-customer-address-id-in-magento-2-1-5) to execute in the database, but which is not working.
And the [discussion](https://github.com/magento/magento2/issues/23618) was also not yet closed.

[2021-01-19 13:30] engcom-Delta commented on #30700
Hi @PivitParkour94  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**

- Create Custom Category Attribute to not be visible in backend
[code]

- Write observer for Category save
- - `events.xml`

[code]

- - `Foo\Bar\Observer\MyObserver.php`
[code]

- Go to Catalog->Categories
- Save category
- Check table `catalog_c

[2021-01-19 13:52] engcom-Delta commented on #30560
For proper the Product Repository implementation, this issue should be discussed in scope of **Feature Request**

[2021-01-19 14:09] t-velichko opened #31760 "Translate attribute in html template is not working when adding colon as part of the value"
### Preconditions (*)
Magento 2.4.1, 2.4-develop
Developer Mode

### Steps to reproduce (*)
1. Edit web/template/shipping.html in Magento_Checkout module and update here:
`<span translate="'Next'" />` to `<span translate="'Next: Review & Payment'" />` with colon in its value.

### Expected result (*)
no errors in console, the page loads as expected

### Actual result (*)
errors in console
[code]

[2021-01-19 14:18] engcom-Delta commented on #30560
Hi @WebKenth thank you for your report.
Could you provide steps how to reproduce one of this cases?

[2021-01-19 14:20] #30587 closed, assigned to nobody

[2021-01-19 14:32] dudzio12 commented on #28984
Well @rvitaliy I think you have wrong request type in `communication.xml`. You should use `<topic name="queue.name" request="array" />`.

My problem is that I use associative array too, but with request type `string` and json encoded data. The problem in that configuration is with json_encode fired twice - once by me to achieve string data type, second time by Magento to convert whatever data to j

[2021-01-19 14:34] gabrieldagama commented on #31465
Hi @ihor-sviziev, yes! There is no work done on that internally.

[2021-01-19 14:44] engcom-Bravo commented on #31760
Hello @t-velichko

Thank you for your report.

We Confirm that the issue is reproducible on the latest 2.4-develop. Additional info from Engcom is added to the description

[2021-01-19 14:44] magento-engcom-team commented on #31760
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40488` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-19 14:55] engcom-Foxtrot commented on #22745
Issue description and steps to reproduce are unobvious. Fixed amount discount works as described in https://docs.magento.com/user-guide/marketing/price-rules-cart-create.html. Please feel free to reopen issue if you have some clarifications.

[2021-01-19 14:55] #22745 closed, assigned to engcom-Foxtrot

[2021-01-19 15:02] hostep commented on #31759
This is a duplicate of https://github.com/magento/magento2/issues/31753, @awaredigital can you close this one again?

[2021-01-19 15:03] m2-assistant[bot] opened #31761 "[Issue] Update wikimedia/lessphp to v3"
This issue is automatically created based on existing pull request: magento/magento2#31579: Update wikimedia/lessphp to v3

### Description (*)

Wikimedia/lessphp 3.x release contains fixes for PHP 8 https://github.com/wikimedia/less.php/issues/50
Update to near stable version. Previously magento still use version 1.8.2
Valid version of this package will be >=3.0.0 <4.0.0
After this patch new vers

[2021-01-19 15:03] cyildirim commented on #25617
@magento give me 2.3-develop instance

[2021-01-19 15:04] #31759 closed, assigned to nobody

[2021-01-19 15:04] cyildirim commented on #25617
@magento give me 2.4-develop instance

[2021-01-19 15:04] awaredigital commented on #31753
This isn't just a 2.4 instance issue. It looks as though Vimeo has changed it's API.

[2021-01-19 15:07] cyildirim commented on #25617
I am able to reproduce this issue. I'll test and update here.

[2021-01-19 15:13] hostep commented on #31745
@gwharton: nice summary!
Do we have some official documentation from some government or European legislation on this? The blog you linked to is not an official document. Not saying that it is incorrect but I think we need some kind of official documentation to make sure what we are implementing in Magento is correct to the letter of the law.

Also extra requirement:
- Intra Union determination in

[2021-01-19 15:13] novikor commented on #31753
Hi. It seems that ` https://vimeo.com/api/v2/video` should be used instead of `https://www.vimeo.com/api/v2/video/`

[2021-01-19 15:36] awaredigital commented on #31753
Just checked this by modifying the following file:

Just for sanity, removing the `www` from the URL doesn't make a difference.

`url: 'https://vimeo.com/api/v2/video/' + id + '.json',`

[2021-01-19 15:43] cyildirim commented on #25617
Couldn't reproduce on magento server. This could be related to test instances not sending any email. I'll eep here poster after i tried local and any SMTP.

[2021-01-19 16:08] asrindayananda opened #31763 "Maximum Qty Allowed in Shopping Cart Error Doesn't display intermittently when clicking add to cart multiple times"
### Preconditions (*)

1. Magento 2.3.4
2. Magento 2.4-develop

### Steps to reproduce (*)

1. Create a simple product in admin panel with customizable options
2. Set Maximum Qty Allowed in Shopping Cart value to 10 for the product
3. Go to product page
4. Set Quantity to 10
4. Add product to cart, this will respond with "added to cart successfully"
5. Click add to cart button multiple times up to

[2021-01-19 16:21] novikor commented on #31753
Applying the patch fixes the problem locally:

[code]

[2021-01-19 16:44] hostep commented on #6382
@BB-000: could you open a new issue for this? It sounds pretty important. This old issue won't get reopened I'm afraid, so your findings will not reach many people. A new issue with these findings sounds like a better idea.

Thanks!

[2021-01-19 16:56] andrewstayart commented on #31640
this is due to a bug in the magento file vendor/magento-shipping/view/adminhtml/web/order/packaging.js
the initialize function depends on dom elements that may not be present yet.  you can fix by adding a shim to a requirejs-config.js file:

var config = {
    shim: {
        'Magento_Shipping/order/packaging': {
            deps: ['domReady']
        }
    }
};

[2021-01-19 17:05] BB-000 commented on #6382
@hostep [I posted a question on magento stack overflow here]. Hopefully it gets answered!(https://magento.stackexchange.com/questions/329643/magento-2-how-to-override-theme-adminhtml-backend-view-xml-in-custom-module)

The 20+(!!) duplicate images definitely seems like an 'issue' to me, but it's no more **yuk** than the rest of **Magento** 2, and I see it has been mentioned before, so doubt they'l

[2021-01-19 17:06] DavaGordon opened #31764 "main_table prefix on exception company_name"
<!---
Please review our guidelines before adding a new issue: https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Fields marked with (*) are required. Please don't remove the template.
--]

### Preconditions (*)
[!---
Provide the exact Magento version (example: 2.4.0) and any important information on the environment where bug is reproducible.
--]
1. Magento 2.3.6 B2B
1. Magento 2.4

[2021-01-19 17:12] #25534 closed, assigned to nobody

[2021-01-19 17:30] hostep commented on #6382
Yesyes, I agree with you, but can you open a new issue here on github so that it can be investigated properly? A fix might come to the core of Magento or not but without a new issue here on github it will have a lower chance that it happens 🙂

[2021-01-19 17:33] gabrieldagama commented on #31747
@engcom-Alfa If this issue is not reproducible, please also close the PR related to it https://github.com/magento/magento2/pull/31748

Thanks

[2021-01-19 17:35] m2-assistant[bot] opened #31766 "[Issue] Add missing phpdocs"
This issue is automatically created based on existing pull request: magento/magento2#31744: Add missing phpdocs

---------
### Description (*)
Add missing types to phpdocs.

### Related Pull Requests
None that I know of.

### Fixed Issues (if relevant)
Not relevant.

### Questions or comments
None.

### Contribution checklist (*)
 - [x] Pull request has a meaningful description of its purpose
 - [

[2021-01-19 17:43] engcom-Alfa commented on #28386
@support-smartebusiness  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-01-19 17:43] #28386 closed, assigned to engcom-Alfa

[2021-01-19 17:51] gabrieldagama commented on #31739
Hi @sheepfy, is this issue reproducible via admin or frontend? It is important to have steps to reproduce such issues to be able to validate proposed fixes and proceed with them.

Can you provide more details?

Thanks!

[2021-01-19 17:56] ioweb-gr commented on #22392
This isn't stale

[2021-01-19 18:03] sheepfy commented on #31739
Hi @gabrieldagama
I was working on a csv feed where i needed to fill some bundle option in my project.
Here is a code snippet:

[code]

If you take a look at the $child object, you will see no if the bundle price type is 0 then $child will not have the selection data on it because of that IF

[2021-01-19 18:04] rossparachute commented on #20520
Hi @craigcarnell ,

I know this is a bit of a long shot as this issue is from 2 years ago but we've had similar pains for about a year or so. We've seen others with the same problem but no fixes thus far.

Was there ever a Varnish configuration or likewise that resolved this for you?

No worries if not, bit of a hail mary effort really.

Cheers,
Ross

[2021-01-19 18:07] sheepfy commented on #31739
@gabrieldagama you can also take a look on the attribute price_type definition. It's values are 0 or 1. And you cannot pass an if statement with a 0

[2021-01-19 18:20] sheepfy commented on #31739
@gabrieldagama  https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Bundle/Block/Adminhtml/Catalog/Product/Edit/Tab/Attributes/Extend.php

[2021-01-19 19:43] gwharton commented on #31745
Authoritative information for the UK can be found on the UK Goverment website here https://www.gov.uk/guidance/vat-and-overseas-goods-sold-directly-to-customers-in-the-uk

[2021-01-19 19:45] miteshdhaduk commented on #31741
First I call rest api and then execute `php bin/magento queue:consumers:start async.operations.all`.

I wait many times but product not updated.

[2021-01-19 19:47] gwharton commented on #31745
And an article on the EU Commission website detailing the EU changes for July 2021. https://ec.europa.eu/taxation_customs/business/vat/modernising-vat-cross-border-ecommerce_en

[2021-01-19 19:49] gwharton commented on #31745
The two systems are pretty much the same, apart from the threshold value. They were both supposed to go live on 1st January, but because of Covid, the EU delayed for 6 months, but the UK still went ahead.

[2021-01-19 20:38] omaxmo commented on #31753
@magento I am working on this

[2021-01-19 20:58] dthampy commented on #31639
@eduard13 ,  This issue was originally reproduced on one of our cloud  staging instances. I later found out that this is caused by an environment variable for "Outgoing emails" being turned off for that instance.
I checked the workflow locally and on the same instance with the above setting turned on. It is working as expected.
Thank you for looking into it.
@mauragcyrus , can you close this ticke

[2021-01-19 21:09] #31639 closed, assigned to shikhamis11, XxXgeoXxX

[2021-01-19 21:11] magento-engcom-team commented on #31639
Hi @magento-engcom-team, @shikhamis11, @XxXgeoXxX.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40402` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-19 22:26] magento-engcom-team opened #31768 "Test GJSS MC"
Test

[2021-01-19 22:26] magento-engcom-team commented on #31768
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-40326

[2021-01-19 22:27] #31768 closed, assigned to nobody

[2021-01-19 22:29] magento-engcom-team commented on #31768
Hi @magento-engcom-team.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-40326` was closed as `Fixed`.

[2021-01-19 22:58] dthampy commented on #31531
@eduard13 , this issue has been fixed in the scope of [this PR](magento/partners-magento2ee#438). I confirmed it locally that the error is no longer returned for the query.

[2021-01-19 23:08] gcampedelli commented on #31753
I did it and it just changed the 301 redirect to 200 redirect but still no video found

[2021-01-19 23:15] gcampedelli commented on #31753
Mine is exactly like proposed patch since step 9 on the issue opened

![image](https://user-images.githubusercontent.com/7084395/105105534-0675ae00-5a93-11eb-9cb7-9480c826fbf7.png)

[2021-01-19 23:16] NudeWeb commented on #29964
I have the same problem but am a bit confused how to patch. Have a 2.4.1. site
This is my file vendor/magento/module-csp/Model/Collector/DynamicCollector.php

Could someone post how this should be changed and if any other changes need to be made please.

`<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
declare(strict_types=1);

namespace Mage

[2021-01-19 23:40] gcampedelli commented on #31753
Hi
I've got it this way

`/**
                 * @private
                 */
                function logResults(json){
                    console.log(json);
                }
                function _onVimeoLoaded(data) {
                    var tmp,
                        respData;

                    if (data.length < 1) {
                        this._onRequestError($.mage.__('Video not f

[2021-01-20 00:02] epeets commented on #5847
I had this issue today in M2.3.2 and it was stopping me from adding anything to the cart. It was due to bad code in an observer that was observing the checkout_cart_product_add_after event in my custom module. Once I cleaned up the code the error went away. Hopefully, that helps someone dealing with this.

[2021-01-20 00:12] omaxmo commented on #31753
@gcampedelli you can look at the pull request https://github.com/magento/magento2/pull/31767 https://github.com/magento/magento2/pull/31767/files

[2021-01-20 00:18] gcampedelli commented on #31753
I did
I'm proposing another PR

[2021-01-20 00:19] gcampedelli commented on #31753
@magento I am working on this

[2021-01-20 00:21] gcampedelli commented on #31753
I have a PR

@magento add to contributors team

[2021-01-20 02:39] gcampedelli commented on #31753
Hi @omaxmo. Your solution may work in my install, but I proposed another PR because of concerns with security regarding oembed urls. I don't know why Magento would, for example, not use https://youtube.com/oembed?url=http://www.youtube.com/watch?v=VideoId. In the same Vimeo fashion oembed it is possible to get You Tube Videos. I'm afraid it is because original developers where concerned about cook

[2021-01-20 04:17] toddhainsworth commented on #16807
@magento-engcom-team I'm now able to re-create this in a 2.4 instance (note; not migrated from a previous version) with 2 custom media image attributes created via the admin. Same message as @cralls above.

[2021-01-20 05:05] Jeep4x4 commented on #22792
Sorry but any patch of this issue for 2.3.3?

[2021-01-20 06:06] omaxmo commented on #31753
@gcampedelli Vimeo recommends use oEmbed implementation.

[code]
[https://vimeo.zendesk.com/hc/en-us/articles/360042975791-Deprecated-APIs-libraries-and-upload-methods](url)

[2021-01-20 08:53] engcom-Delta commented on #30874
Hi @zhouzuoxuan , thank you for your report, I'm not able to reproduce issue by steps you [described](https://github.com/magento/magento2/issues/30874#issuecomment-725306843) on clean 2.4-develop
**Result:**
:heavy_check_mark: Category is saved with all input data

Are you able to reproduce this issue on 2.4-develop?

[2021-01-20 08:54] engcom-Alfa commented on #31763
@magento give me 2.4-develop instance

[2021-01-20 09:03] ame5hca commented on #10697
Any solution to this issue. I am getting the same issue on my Magento 2.3.4 version.?

[2021-01-20 09:06] engcom-Hotel commented on #30769
Hello @SalesFC,
Checked the issue and was not able to reproduce it.
Preconditions:
Magento version: 2.4-develop
PHP version: 7.4
ElasticSearch version: 7
MySQL version: 8.0
1. Created a simple product and category for it.
2. Created the cart price rule
![30769_cart_rule_example](https://user-images.githubusercontent.com/51681618/105151804-1337e780-5b0f-11eb-9a31-52dbeffec3cd.png)
3. bin/magento cr

[2021-01-20 09:07] vijay-prevaj commented on #31741
@engcom-Alfa Issue is reproduced in magento version 2.3.4-p2.

[2021-01-20 09:16] shikhamis11 commented on #30176
@magento give me 2.4-develop instance

[2021-01-20 09:17] engcom-Alfa commented on #31763
Reproduced on a fresh 2.4-develop instance.

**Actual Result:** :heavy_multiplication_x: When adding to cart button again shows two error messages

![Screenshot from 2021-01-20 11-14-55](https://user-images.githubusercontent.com/51679138/105153466-23e95d00-5b11-11eb-8285-03672442f510.png)

[2021-01-20 09:18] magento-engcom-team commented on #31763
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40508` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-20 09:19] atulcodex commented on #31735
Hey magento team,
I'm also getting the same error, Read this **properly**

This is my site link
[http://medzme.com/](http://medzme.com/)

and this is the snapshot link of error
[Snapshot](https://ibb.co/yVMB4F1)

which is comming in **putty** while i'm running this command
php bin/magento setup:di:compile

Magento version: 2.4.0

If other details you want to solve this issue please comment belove,

[2021-01-20 09:24] engcom-Alfa commented on #26918
@vincentteyssier we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2021-01-20 09:24] #26918 closed, assigned to engcom-Alfa

[2021-01-20 09:40] BB-000 commented on #6382
@hostep Will do when I have time :))

[2021-01-20 11:10] engcom-Alfa commented on #27935
Hi @dani97.
Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop. Looks like the problem has already been fixed.

**_Precondition:_**
Bulk API with rabbitmq setup

**_Manual testing scenario:_**
1. Create a webapi and declare a custom webapi eg. for product service
The route url should be like this:

for **webapi.xml** :
[code]
for **webapi_async.xml** :

[code]

2. Request *

[2021-01-20 11:17] gixid192 commented on #31760
I think the syntax is: `Next\: newText`, it requires a slash there.
Maybe this should be updated in the docs?

[2021-01-20 11:36] jabdoa2 commented on #31656
It does affect most enterprise users as their legal departments typically disallows using software under non-opensource licenses (such as SSPL in OSI sense). At least it invokes lengthy legal approval/exception processes. I'm not a legal expert but I heared that SSPL induces a lot of legal risks because the wording is vague in a lot of points. I know a few companies which even stricly disallow usi

[2021-01-20 11:58] shikhamis11 commented on #30176
hey
I am checking below query
[code]
variables

[code]

I am getting response
[code]

[2021-01-20 11:59] shikhamis11 commented on #30176
It seems it is working as expected

[2021-01-20 12:12] engcom-Hotel commented on #26896
@magento I am working on this

[2021-01-20 12:26] anvanza opened #31771 "Reset password mails have incorrect url's"
### Preconditions (*)
1. Create a website with url magento.com
2. Create multiple storeviews
2. Each storeview has a different url ex. (magento.com/en/ , magento.com/fr/, magento.com/de/)

### Steps to reproduce (*)
1. Create a customer in admin
2. As a customer, ask a password reset
3. The customer clicks on the link within the timeframe (settings)

### Expected result (*)
1. The customer can now

[2021-01-20 12:32] krishprakash commented on #31657
@magento give me 2.4-develop instance

[2021-01-20 12:50] mdevrees commented on #31461
I've started debugging a little bit on this issue, and it looks like there's a `before` plugin in `vendor/magento/module-checkout-agreements/Model/Checkout/Plugin/Validation.php`:
[code]
This method is going to validate the agreements:
[code]
and in the request that is being sent, there are no extension_attributes with agreement IDs, as the request looks like the following example:
[code]
Now I've

[2021-01-20 13:00] jinnko commented on #31146
I'm trying to determine whether the patches introduced in https://github.com/DanielRuf/snyk-js-jquery-565129 and https://github.com/DanielRuf/snyk-js-jquery-174006 have made it into Magento 2.3.6.  How can this be confirmed?

[2021-01-20 13:00] engcom-Alfa commented on #28913
The issue is still reproducible on fresh 2.4-develop

**_Preconditions:_**
1. Sample Data;
2. Enabled Critical Path (`bin/magento config:set dev/css/use_css_critical_path 1`);
3. Go to Storefront -> **Men** category (for example);

**Actual Result:** :heavy_multiplication_x:

![Screenshot from 2021-01-20 14-58-10](https://user-images.githubusercontent.com/51679138/105178084-3e7efe80-5b30-11eb-8678

[2021-01-20 13:02] gwharton commented on #31146
In the absence of anyone else piping up, you could do a code analysis comparing the patches to the Magento code, and post the results here. 😁

[2021-01-20 13:08] DanielRuf commented on #31146
@jinnko

[2021-01-20 13:14] gwharton commented on #31146
Someone should target a breaking requirejs/knockout/jQuery update for 2.5-develop and get it over and done with.

[2021-01-20 13:24] magento-engcom-team commented on #28913
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40520` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-20 13:29] DanielRuf commented on #31146
Afaik there are PRs to migrate to jQuery 3 and remove jQuery migrate. So they are already working on this and this is planned for the near future. Makes not much sense to introduce breaking changes now with the patches. As mentioned most of these patches will produce more problems than they solve and the risk is relatively low for the unpatched issues (at least so far).

[2021-01-20 14:09] engcom-Delta commented on #28001
Hi @lbajsarowicz  thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**

- Install redis `Redis server v=6.0.9 sha=00000000:0 malloc=jemalloc-5.1.0 bits=64 build=371d6c175f084b2a`
- Configure redis for magento page and default cache
https://devdocs.magento.com/guides/v2.4/config-guide/redis/redis-pg-cache.html
- Configur

[2021-01-20 14:34] rahulanand77 opened #31775 "Sort by quantity is not working in Magento 2.4 Elastic Search"
The magento 2.4.1 with elastic search is having issues with "Sort by quantity" on the PLP page. The sorting is not working by ASC and DESC after enabling the sorting.

### Preconditions (*)
1) Magento CE 2.4.1 without sample data is installed.
2) Elastic search is installed
3) Full-text search for catalog is set to "Elastic Search"

### Steps to reproduce (*)
1) Install magento 2.4.1 with Elastic

[2021-01-20 14:46] magento-engcom-team commented on #31734
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-01-20 14:47] magento-engcom-team commented on #31734
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40521` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-20 14:57] sasha19957099 commented on #31253
@magento I'm working on this

[2021-01-20 15:22] sivaschenko opened #31777 "Update ramsey/uuid dependency to PHP 8 compatible version"
In scope of the user story MC-41383 we need to 

Update ramsey/uuid dependency to PHP 8 compatible version (Branch dev-master is compatible with PHP 8 but not released yet)

In scope of this spice we need to estimate the effort required to do this upgrade.

[2021-01-20 15:22] tuyennn commented on #28132
The issue is still persistent on Magento 2.4.1. Pretty dumb

[2021-01-20 15:26] sivaschenko opened #31778 "Update tedivm/jshrink dependency to PHP 8 compatible version"
### Description (*)
Update tedivm/jshrink dependency version from "~1.3.0" to "~1.4.0"

[2021-01-20 15:30] magento-engcom-team commented on #29258
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40522` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-20 15:30] shikhamis11 opened #31779 "Cart Price rule not working as expected for joined mutation for configurable options update"
**While using joined mutations in graphql for updating configurable items, Cart Price Rules not working as expected**

### Preconditions (*)

1. latest magento

### Steps to reproduce (*)
make sure you have active cart price rule (for example 20% OFF Ever $200-plus purchase!*  with magento sampledata )
[code]

### Expected result (*)
[code]

### Actual result (*)
[code]
---
Please provide [Severit

[2021-01-20 15:32] sivaschenko opened #31780 "Update laminas/laminas-http dependency to PHP 8 compatible version"
### Description (*)
Update laminas/laminas-http dependency version.
PHP 8 compatibility is available starting from version 2.14. Composer.json change is not required, only composer.lock file should be updated running `composer update laminas/laminas-http` command

[2021-01-20 15:33] shikhamis11 commented on #30176
I have experienced another error while checking this please check #31779

[2021-01-20 15:33] sivaschenko opened #31781 "Update laminas/laminas-validator dependency to PHP 8 compatible version"
### Description (*)
Update laminas/laminas-validator dependency version.
PHP 8 compatibility is available starting from version 2.14. Composer.json change is not required, only composer.lock file should be updated running `composer update laminas/laminas-validator` command

[2021-01-20 15:35] sivaschenko opened #31782 "Update laminas/laminas-log dependency to PHP 8 compatible version"
### Description (*)
Update laminas/laminas-log dependency version.
PHP 8 compatibility is available starting from version 2.13. Composer.json change is not required, only composer.lock file should be updated running `composer update laminas/laminas-log` command

[2021-01-20 15:38] sivaschenko opened #31783 "Update laminas/laminas-mvc dependency to PHP 8 compatible version"
Depends on: https://github.com/magento/magento2/issues/31346

### Description (*)
Update laminas/laminas-mvc dependency from version "~2.7.0" to "~3.2.0"

[2021-01-20 15:40] sivaschenko opened #31784 "Update laminas/laminas-view dependency to PHP 8 compatible version"
Depends on #31346

### Description (*)
Update laminas/laminas-view dependency from version "~2.11.2" to "~2.12.0"

[2021-01-20 15:45] engcom-Bravo commented on #31775
Hello @rahulanand77

Thank you for your report.

We Confirm that the issue is reproducible. Additional info is added to the description.

[2021-01-20 15:45] magento-engcom-team commented on #31775
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40524` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-20 15:55] victortodoran opened #31786 "Magento 2. Admin Place Order not working as expected."
### Preconditions (*)
1. Magento 2.4.1
1. Not reproduced on 2.4-develop;
1. Reproduced on 2.4-develop + MSI (Inventory);

### Steps to reproduce (*)
1. Create customer with **different** default billing and default shipping address (2 different addresses in total)
1. Go to Admin > Sales > Orders > Create Order
1. Select customer from step 1
1. Edit any billing input

### Expected result (*)

1. On

[2021-01-20 15:55] victortodoran commented on #31786
@magento give me 2.4-develop instance

[2021-01-20 16:07] victortodoran commented on #31786
I confirm this is reproducing.

[2021-01-20 16:31] atrandafir commented on #28424
I have run into the same issue, I have migrated from a Plesk VPS to a Shared Plesk hosting so I don't know if I did something wrong.

Anyways, I have put `vendor/magento/zendframework1/library` to both `include_path` and `open_basedir` and it didn't work for some reason.

What I ended up doing is editing the `vendor/magento/zendframework1/library/Zend/Validate.php` file:

On the `is` method..

[co

[2021-01-20 17:25] #24417 closed, assigned to nobody

[2021-01-20 17:25] #23760 closed, assigned to nobody

[2021-01-20 17:25] #23661 closed, assigned to nobody

[2021-01-20 17:26] magento-engcom-team commented on #24417
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2021-01-20 17:27] magento-engcom-team commented on #23760
Hi @FerihumF.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23846` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-20 17:27] magento-engcom-team commented on #23661
Hi @ilnytskyi.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-23896` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-20 17:55] hostep commented on #31343
Version [2.18.0](https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases) was released a couple of days ago, does it make sense to directly move to that version?

[2021-01-20 18:19] bohdan-harniuk commented on #31783
@magento I am working on this

[2021-01-20 19:17] EspertoMagento commented on #30612
I have the same error. Where is the fix? @bojjaiah
Thanks

[2021-01-20 19:20] hostep commented on #15115
@rtshshukla, you can often use github's search functionality to find commits related to that ticket number they mentioned before, like this: https://github.com/magento/magento2/search?q=MC-39765&type=commits

Hope this helps 🙂

[2021-01-20 19:23] sdzhepa commented on #31363
There is an update for this issue:

Magento team is working on this issue. Here is the result of the investigation, the quote from `MC-40062`

When the fix will be ready and delivered, this ticket will by updated by bot with commits

[2021-01-20 19:31] robbie-thompson commented on #22311
I'm able to reproduce on 2.4.1 and the compact SCD strategy is still recommended, so I believe it's still relevant.

[2021-01-20 19:53] atrandafir commented on #28424
Update:

I have ended up also commenting out the condition:

`if (Zend_Loader::isReadable($file)) {`

Because looks like that returns false.

But the next line `Zend_Loader::loadClass($class);` does work, if we don't do the check.

[2021-01-20 20:02] #31591 closed, assigned to engcom-Kilo

[2021-01-20 20:02] #26214 closed, assigned to engcom-Echo

[2021-01-20 20:11] #31753 closed, assigned to gcampedelli, omaxmo

[2021-01-20 20:12] zakdma commented on #31753
Bug was fixed ins scope of internal jira ticket MC-40463

[2021-01-20 20:15] #31083 closed, assigned to zakdma

[2021-01-20 20:16] magento-engcom-team commented on #31083
Hi @lano-vargas, @zakdma.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-39481` was closed as `Fixed`.

The fix will be available with the upcoming `2.4.3` release.

[2021-01-20 20:20] dverkade commented on #22627
Issues tagged "Confirmed" and "Ready for dev" should not be closed automatically. Posting a comment here to keep the issue active.

[2021-01-20 20:38] sdzhepa commented on #31656
Hello @YiffyToys @jabdoa2 @skearns64

Magento team aware of it and work in progress now.

[2021-01-20 21:12] kilis commented on #25987
Applied fix (by @driskell) for issue mentioned [here](https://github.com/magento/magento2/issues/26809) by back-porting fix from 2.4.3 to 2.3.5p2 and issue still persists even with fix. Today we deployed changes to live site and i still got duplicated cron groups having deadlocks. This issue is still relevant.

[2021-01-20 21:18] sdzhepa opened #31789 "avoid using deprecated escape* methods from AbstractBlock"
The issue created for this PR https://github.com/magento/magento2/pull/31610

During [code review was proposed](https://github.com/magento/magento2/pull/31610#issuecomment-760348948) _to breakdown this PR into several pull requests, the idea would be split it per module._
Target Milestone should be 2.5

This issue created to track the merge progress of the pull request

- [ ] https://github.com/ma

[2021-01-20 21:19] magento-engcom-team commented on #31789
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40527` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-01-20 21:22] kilis commented on #26809
Not fixed. Issue still exits after real world tests with this fix

[2021-01-20 21:29] HenKun commented on #25987
Same here with fix applied to 2.4.1. Only thing that really works is the workaround from the issue creator: "Install each cron group separetely with flock instead adding default cron:run in crontab."

[2021-01-20 21:33] maksymz commented on #11175
Hi, @magento-engcom-team and @scholtz !

Seems this still lacks some functionality. This will still not collect phrases translated with `$t()` function in cases like this:

[code]

Regards,
Max

[2021-01-20 21:52] maksymz commented on #11175
Hi, @scholtz and @magento-engcom-team !

According to the official Magento 2 documentations, there is a way to translate HTML attributes, but this is not covered as well. Here is a text from the documentation:

[code]

This was of translating attributes does not seem to be used in the Magento 2 itself (if my search is correct). Though, it is officially documented, is used by some vendors and it ca

[2021-01-21 00:17] driskell commented on #25987
The deadlocks still occur? Or the cron_schedule table still grows? Or do you refer to this issue occurring of overlapping groups? There’s 3 issues referenced. Worth noting the PR targeted 2.4 in the end and I think might not work on 2.3 completely as there are many other changes in 2.4 to assist in fixing the same issue.

[2021-01-21 00:19] kandy commented on #26809
@kilis Can you describe your concern/steps in a new issue?

[2021-01-21 00:19] driskell commented on #25987
I’m not sure if there might be confusion between the SQL Deadlock exception the PR targets and what is happening here which I guess is a process deadlock (or process queuing) due to some form of serialisation

[2021-01-21 04:49] ihor-sviziev commented on #31753
FYI here is a commit that fixes this issue https://github.com/magento/magento2/commit/f2231f8d953bb650c3462a824716fd8972c6bb6c

[2021-01-21 05:08] ihor-sviziev commented on #31734
I think his issue was raised a few times already in the past.
Even @markshust created a module for disabling 2fa for Magento 2.4 https://github.com/markshust/magento2-module-disabletwofactorauth
@sivaschenko @sidolov maybe we might have similar functionality out of the box? What do you think about it?

[2021-01-21 05:11] ajijshekh123 commented on #31609
@jeffspurlock - If you have reproduced this issue again you can reopen it.

[2021-01-21 05:11] #31609 closed, assigned to ajijshekh123

[2021-01-21 06:26] chequille commented on #31461
Hi,
in my point of view there is no need for the beforeSavePaymentMethod. It was not there in Version 2.3.5,
As well, for quest checkout this method is not in the code, so why for logged in users?
Hope you will change this soon.

[2021-01-21 06:32] vphat28 commented on #15114
this is caused by removing the setup folder from the root installation folder

[2021-01-21 07:11] hostep commented on #31083
Commits related to `MC-39481`: https://github.com/magento/magento2/search?q=MC-39481&type=commits

[2021-01-21 07:14] hostep commented on #26484
This might have been finally fixed: https://github.com/magento/magento2/issues/31083#issuecomment-763905573 (not tested myself)

[2021-01-21 07:17] hostep commented on #29018
This might have been fixed: https://github.com/magento/magento2/issues/31083#issuecomment-763905573 (not tested myself)

[2021-01-21 07:23] AndreyChorniy commented on #31782
@magento I am working on this

[2021-01-21 07:30] ihor-sviziev commented on #30612
@EspertoMagento, please review my comment. This issue reproducing if you have not supported the PHP version.

[2021-01-21 08:04] ihor-sviziev commented on #26135
@sidolov @gabrieldagama @sivaschenko, we have 3 linked PRs to this issue. Do you believe the sticky header should be implemented or not in Magento out of the box?

[2021-01-21 08:07] kilis commented on #25987
@driskell
Issue it more RAM an CPU resources issue here in crons. Cron task groups get duplicated like described in this issue and cause server resources to get a deadlock in resources causing it hang so that its not usable.

[2021-01-21 08:28] engcom-Alfa commented on #31771
Hi @anvanza.

Unfortunately, we are not able to reproduce this on a fresh 2.4-develop following by a scenario from the issue. Everything works as expected.

_**Preconditions:**_

1. Create a website with url magento24.loc;
2. Create multiple store views;
3. Each store view has a different URL ex. (magento24.loc/en/ , magento24.loc/fr/, magento24.loc/de/)

**_Manual testing scenario:_**

1. Create

[2021-01-21 09:11] maksymz commented on #11175
Possible additional regular expression for the class `\Magento\Setup\Module\I18n\Parser\Adapter\Html` is:
[code]

[2021-01-21 09:28] engcom-Bravo commented on #5980
The issue has been checked twice on the latest 2.4-develop https://github.com/magento/magento2/issues/5980#issuecomment-664944042 https://github.com/magento/magento2/issues/5980#issuecomment-754583063 and it is not reproducible.
We are closing this issue. Please feel free to comment, reopen or create a new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wik

[2021-01-21 09:28] #5980 closed, assigned to engcom-Bravo

[2021-01-21 09:45] BB-000 opened #31792 "LESS Docs about custom theme mixins is wrong?"
Here [https://devdocs.magento.com/guides/v2.4/coding-standards/code-standard-less.html](https://devdocs.magento.com/guides/v2.4/coding-standards/code-standard-less.html) it says:

"Theme mixins (except extends) should be located in the source/utilities directory."

However, placing a mixin here and trying to use it in a _module.less file causes a grunt build error 'NameError: .lib-custom-mixin is

[2021-01-21 09:57] rvitaliy commented on #31145
@sodhancha rollback configuration. :cry:
I hope Magento's developers solve this problem. :rocket:

[2021-01-21 10:41] engcom-Delta commented on #29963
@buituanbg thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
**Manual testing scenario:**

- Generate 4k orders
![image](https://user-images.githubusercontent.com/51681379/105339555-77c57600-5be5-11eb-955b-cdb16e45e45f.png)

- Configure PayPal Payflow Pro
- Place order with  Credit Card (Payflow Pro)/PayPal Credit (Payflow Express Bml)/PayPal Ex

[2021-01-21 10:41] #29963 closed, assigned to nobody

[2021-01-21 10:43] ferdiusa commented on #28700
I was able to reproduce the issue with enabled manual "Terms and Conditions". Setting these to "automatic" or disabled" applies the cart rule just fine!

[2021-01-21 10:45] omaxmo commented on #31792
@BB-000  We have a separate repository for docs https://github.com/magento/devdocs

[2021-01-21 11:04] Userr017 commented on #31734
Magento 2.3.5-p2 is easier method disable all.
![4](https://user-images.githubusercontent.com/26794034/105342545-28814480-5be9-11eb-9ccd-56bf1fe7b596.png)

[2021-01-21 11:20] engcom-Bravo commented on #31486
Hello @sedax90, are you also experiencing this issue on Magento 2.4.1 ?
Thank you

[2021-01-21 11:29] hostep commented on #31734
I think @nathanjosiah could have some interesting feedback on why it isn't allowed to disable 2FA through the Magento configuration system, pretty sure it's considered a security risk.

[2021-01-21 11:33] engcom-Alfa commented on #28619
Hi @ymerfeld .
Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop and upgraded from 2.3.6->2.4.1. Everything works as expected.

**_Precondition:_**
PayPal Express Checkout with the In-Context option enabled

**Manual testing scenario:**

1. Go to Storefront and add a simple product to Cart;
2. Proceed to Checkout;
3. Select Paypal as a payment method;

**Actual Result:** :

[2021-01-21 11:38] angelomaragna commented on #30853
I might guess that this is of big concerns when discount is greater than 50%, as, if the GrandTotal gest negative along the overall computation, a recent Magento update f**s it up.

Thanks to @chequille I've narrowed it down to this commit, which is completely wrong, and inside Magento since 2.3.6

https://github.com/magento/magento2/commit/c710c9b38e0bcfbaedc6114bc5b4b9e62df95bbf

**The grand tot

[2021-01-21 11:54] engcom-Alfa commented on #31741
@miteshdhaduk @vijay-prevaj
Unfortunately, even in this scenario, the error is not reproduced. Looks like the problem has already been fixed in 2.4-develop.

_**Precondition:**_
 Configured RabbitMQ;

**Manual testing scenario:**

2. Create new product with REST API:
**PUT** `http://magento24.loc/rest/all/async/bulk/V1/products/bySku`
![Screenshot from 2021-01-21 13-46-58](https://user-images.gith

[2021-01-21 12:17] mrtuvn commented on #26135
I already have created one PR for this (link referenced above)
Feel free leave any comments and test

[2021-01-21 12:24] mrtuvn commented on #31792
We should update docs for such case but in my opinion you maybe misunderstood
For mixins you can declare in any files less and recall it for use (This is quick but trade off when you have big project and source code growth so management will be nightmare). Instead you can declare mixins another place

Default magento declare mixins in file _extends.less in source folder theme. Create you own file

[2021-01-21 12:32] sivaschenko commented on #31343
@hostep yes, thank you! Updated. cc @konarshankar07

[2021-01-21 12:44] ajijshekh123 commented on #31786
@magento give me 2.4-develop instance

[2021-01-21 12:58] engcom-Alfa commented on #31649
Hi @BernardRobbins .
Yes, it is currently possible to send a request with an empty body. And it is possible to do with an invoice, refund...
The Magento [documentation](https://magento.redoc.ly/2.4.1-admin/tag/orderorderIdinvoice) for this endpoint states that only the **_order_id_** is a required parameter.
Although it would be good to have information that if you make a request with an empty bod

[2021-01-21 13:06] sawwd commented on #15935
I can confirm this issue was fixed in 2.4. Also, if you are below this version please compare with 2.4 branch and check if the changes from below commits are present. If not, make sure you overwrite them via a plugin.

https://github.com/magento/magento2/commit/ab769ad412470244e9d3694bfea58479afa0332a
https://github.com/magento/magento2/commit/87dff07de468c103dfe546d8c43769673e4f548d

This issue i

[2021-01-21 13:09] #31649 closed, assigned to engcom-Alfa

[2021-01-21 13:20] seansan commented on #28845
unstale ...

lets make this happen .. there is 1 method that needs to brought into the light of 2021 ...

[2021-01-21 13:28] lbajsarowicz commented on #28001
I won't be able to review those. Let's close the issue as "Cannot reproduce" then.

[2021-01-21 13:28] #28001 closed, assigned to engcom-Delta

[2021-01-21 13:38] Nuranto opened #31795 "Bug : Product Media getMediaAttributeCodes"
### Preconditions (*)

Magento 2.4.1

### Steps to reproduce (*)

Add a media attribute for a non-product entity type. The attribute_code should not be an attribute_code used by product (like 'image'. Use 'base_image' for example).
For instance, to do the quick test we could do :

[code]

Debug the return of method : `Magento\Catalog\Model\Product\Media\Config::getMediaAttributeCodes()`

### Expec

[2021-01-21 13:45] kanevbg commented on #28367
Improves the workflow for pipeline deployment strategy

[2021-01-21 14:06] ajijshekh123 commented on #31786
Hi @victortodoran,
This issue has been reproduced on the Latest Magento 2.4 Instance.

See attached the screenshot:

![image](https://user-images.githubusercontent.com/24711761/105360982-3487f900-5c1f-11eb-9928-9aaa7866a020.png)

![31786](https://user-images.githubusercontent.com/24711761/105361044-46699c00-5c1f-11eb-868d-b21f59d47e4c.png)

![31786_1](https://user-images.githubusercontent.com/2471

[2021-01-21 14:08] magento-engcom-team commented on #31786
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-40541` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._