[2018-08-24 11:15] koopjesboom commented on #5863
@hostep

Best, I was expecting an answer like this.

I am totally aware that it is easy to use a extension written to resolve (open source) problems. But that is not the point.

If a programmer put 100 hours in a solution for an open source platform it is not open source to blame. If every problem in open source will be put in a extension and sold do you think open source is still open? Open sourc

[2018-08-24 12:07] melaxon commented on #10071
This happens to me only on VDS (Digital Ocean) with no modsecurity. Everything is okay on localhost.
It happens only when I click any link on the backend when the page is not fully loaded only but this does not affect the operation. Error message disappears and the click is being executed normally.
I'm pretty sure something is missing in the environment, maybe I missed some plugin or utility.
I ho

[2018-08-24 12:18] GovindaSharma commented on #17784
@magento-engcom-team give me magento2.2.2 community instance

[2018-08-24 12:29] BezV8 opened #17787 "Catalog search results randomised on refresh"
Similar to issue #9020, but present on Magento 2.2.x. Search term results are not sorted in the same sequence between page refreshes. This is most often apparent when a user clicks on the product, then hits the back button to return to the search results.

### Preconditions

1. Magento 2.2
2. Large number of products with similar keywords.

### Steps to reproduce

1. Search for a generic keyword t

[2018-08-24 12:29] magento-engcom-team commented on #17787
Hi @BezV8. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-08-24 12:31] BezV8 commented on #17787
@magento-engcom-team give me 2.2.3 instance

[2018-08-24 12:31] magento-engcom-team commented on #17787
Hi @BezV8. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-08-24 12:32] magento-engcom-team commented on #17787
Hi @BezV8, here is your [Magento instance](https://i-17787-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-17787-2-2-3.engcom.dev.magento.com/admin](https://i-17787-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-24 12:42] matin73 opened #17788 "Security issue - spam-Attack shuts down Magento"
### Preconditions

1. Install Magento2
2. "Wait for attack"

### Steps to reproduce

1. Massiv spam attack from China and Hongkong with thousands of different IP addresses call customer/create/account ...
2. Server error after some minutes

### Expected result

1. Block spamers

### Actual result

1. No blocking

In last week we had big problems with Magento 2.1 and 2.2. There is a massiv spam att

[2018-08-24 12:42] magento-engcom-team commented on #17788
Hi @matin73. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-24 12:42] BezV8 commented on #17787
@magento-engcom-team Can not reproduce issue as unable to reindex vanilla instance.

[2018-08-24 12:58] rutgerrademaker commented on #11372
@engcom-backlog-pb

Steps to reproduce:
[code]
Then add the following to config.php to make sure Magento has enough info to generate the assets

[code]
And then run
[code]
**Expected result:**
Static content will be deployed

**Actual result**
[code]
If you alter config.php and set minify_files to 0, generating of static assets will succeed

The problem is that you can't generate "minified" css, w

[2018-08-24 13:02] samanaveen commented on #10992
I am also seeing this issue after upgrading to 2.2.3. When you select the Show By filter it working fine.
But export file showing only the column headers, no data.

[2018-08-24 13:03] Rudoslav commented on #7367
I can confirm the same situation as @surabhinsi.
My catalog_product_index_price table contains configurable products with negative values in "min_price" column.

[2018-08-24 13:15] bal0gtibi commented on #16722
Hello Magento Devs,
Any news about fixing the activation / price of child products / html in url issues? It's a nice feature to have in magento, but it's kind of worthless in its current state..

[2018-08-24 13:25] lucasjor-summa opened #17789 "Next Page button triggered when filtering Customer grid"
### Preconditions

1. Magento 2.2.2
2. 20+ customers created in order to have many pages in Customer grid

### Steps to reproduce

1. Go to "Sales -> Orders"
2. "Create new order"
3. Customer grid is displayed
4. Focus on any column filter (i.e. text box in email column)
5. Press ENTER to trigger the filter

### Expected result

1. Filter's AJAX call is triggered
2. Results don't change because th

[2018-08-24 13:42] lucasjor-summa commented on #17789
I confirm that I was able to reproduce the issue on vanilla Magento 2.2.2 CE

[2018-08-24 13:47] Kershrew commented on #7253
This issue is still here in 2.2.5

[2018-08-24 14:15] magestyle commented on #15426
If tier prices less than or equal to special price, you can display both special price and tier prices. Other wise only special price will display.

[2018-08-24 14:35] N1ghtfl0w commented on #17600
@engcom-backlog-nickolas still have one question, is it possible to remove cat_c_1 & cat_c_2 from the purge requests?

[2018-08-24 14:36] duffner commented on #12914
This is not resolved

[2018-08-24 15:02] dakira commented on #6488
@nbennett25 For us, somehow people were able to create products with 0 weight which were automatically converted to virtual products which don't need shipping.

[2018-08-24 15:16] andrewhowdencom commented on #10292
The issue is specific to the composer installer; by `install` i mean `composer install`. See the references:

https://github.com/magento/magento-composer-installer/blob/master/src/MagentoHackathon/Composer/Magento/DeployManager.php#L97

https://github.com/magento/magento-composer-installer/blob/master/src/MagentoHackathon/Composer/Magento/Deploystrategy/Copy.php#L35

(And the above stack overflow

[2018-08-24 16:15] hostep commented on #17780
The `--no-update` flag was added in scope of https://github.com/magento/magento2/issues/5797 (commit: https://github.com/magento/magento2/commit/4c5c1f90382b7d2d217d801f036f642c1cdeca18#diff-6ad856a2714512cc350bda789df0ab92), but I think that was done incorrectly and they should have added the `--no-update-with-dependencies` flag like I initially mentioned in that ticket.

Anyway, I've never actua

[2018-08-24 16:30] likemusic opened #17796 "Seems that `catalog_product_entity_media_gallery` contains unused `disabled` field."
Seems that DB table `catalog_product_entity_media_gallery` contains legacy unused column: `disabled`.

In [processNewImage()](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/Model/Product/Gallery/CreateHandler.php#L273) `disabled` field not set.

This field used in [createBatchBaseSelect()](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/

[2018-08-24 16:30] magento-engcom-team commented on #17796
Hi @likemusic. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-24 16:35] DrewML commented on #14667
Hey all. Your friendly neighborhood Magento JS dev here 👋. I'd love to get this issue addressed.

I did some performance profiling on a demo store to add some concrete data to this discussion.

**Trace Details**
- Out of the box Luma installation in 2.2
- HTTP2-enabled server
- Product photos on a CDN
- Warmed client-side cache from previous visit to PD page (no round-trip for photos during trace)

[2018-08-24 17:18] N1ghtfl0w opened #17797 "Question for the Purge Experts!"
Im looking for a person that can help us find and fix the problem with our caching! Cause nobody can seem to find it.

Setup:
Magento 2.2.4 Multi-Store
(running on Apache server)
Varnish 5.2.1 (in combination with Hitch to handle ssl)
Redis 4.0.11

Problem:
When saving a product not only the related categories/products gets invalid but the whole varnish gets invalid? We have over 10.000 products a

[2018-08-24 19:14] gx2g commented on #15641
@agata-maksymiuk I followed your directions and this fixed my problem. The line has been commented out for now. hopefully, Magento 2 will remove this deprecated code that is causing issues. I did a clean upgrade to 2.2.5 and the issue is easily deprecated.

[2018-08-24 20:28] Thundar commented on #17780
I have not tried it, but I think that` --no-update-with-dependencies` does not exist anymore, or maybe could be removed soon: https://getcomposer.org/doc/03-cli.md#remove

[2018-08-24 20:42] torhoehn commented on #17797
In [#17600](https://github.com/magento/magento2/issues/17600#issuecomment-413451495) you have been referred to the [Community Forums](https://community.magento.com/) or [Magento Stack Exchange](https://magento.stackexchange.com/). This issue should be closed.

[2018-08-24 20:42] #17797 closed, assigned to nobody

[2018-08-24 21:10] hostep commented on #17780
Hmm, probably just undocumented, running composer 1.7.2:
[code]

But you don't need it if you just want to remove a module with composer, then `composer remove <my-module>` is perfectly fine, the `--no-update-with-dependencies` was needed for the issue described in https://github.com/magento/magento2/issues/5797

[2018-08-24 23:35] jfmontanaro commented on #9916
@JeremyPlease I had the same issue in 2.2.5.  Here's the solution that worked for me:

* Turn off single-store mode
* Go to Content->Design->Configuration
* Edit the top row (the one that has no theme name listed)
* Set the theme to whatever custom theme you're using
* Turn single-store mode back on.

[2018-08-25 04:43] GovindaSharma commented on #17784
@magento-engcom-team still waiting for vanilla Magento instance

[2018-08-25 07:16] N1ghtfl0w commented on #17797
@torhoehn i asked the same question in #17600 but didn't get an answer yet. Also the are purges being send with the core code? That's why im asking here ;).

I also posted this question on the Community Forums and Stack Exchange.

[2018-08-25 11:18] matin73 commented on #17788
@matin73 do you confirm that you was able to reproduce the issue on vanilla Magento instance following steps to reproduce?

 x   yes
    no

[2018-08-25 12:33] brekz commented on #17546
Hey,

Thanks for your answer @engcom-backlog-nickolas !

I found issue, why it doesn't show near all products - I was selected "Dynamic Prices" = "No" & it was as one product - I guess why it doesn't show.

But the problem still persist - in all products showing "Ordered" (https://www.dropbox.com/s/m0iwnywza0h3i6b/Screenshot%202018-08-25%2015.32.06.png?dl=0), meanwhile some products are 0 qty. and

[2018-08-25 13:27] reinaldokrz commented on #12777
Obrigado @pmjcreations , estava sofreno com esse problema, agora tudo resolvido

[2018-08-25 17:13] duffner opened #17798 "PayPal via Braintree: Partial Invoice & Payment Capture Not Working as Expected after first is created."
### Preconditions

1. Magento 2.2.5 (Vanilla)
2. PayPal Express Enabled via Braintree (Out-of-box) (Screen-shot attached)
3. PayPal is set to "Authorize Only" not "Capture"

### Steps to reproduce

1. Place Order Via PayPal Express (PayPal Button) for 2 products at $25.00 each
2. Order total is $50.00
3. Authorization is successfully captured for $50.00
3. Create Partial Invoice for 1 of the 2 ite

[2018-08-25 17:13] magento-engcom-team commented on #17798
Hi @duffner. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-25 17:33] sidolov commented on #17700
Hi @dmytro-ch. Thank you for your report.
The issue has been fixed in magento/magento2#17702 by @dmytro-ch in 2.1-develop branch
Related commit(s):
 - [831fe2f8f616278d0bb81f82d3f07c74619fd073](https://github.com/magento/magento2/commit/831fe2f8f616278d0bb81f82d3f07c74619fd073)

The fix will be available with the upcoming 2.1.16 release.

[2018-08-25 17:46] gwharton commented on #17781
Looks like a third party smtp mail module is being used. Do the emails work if you disable the email module?

[2018-08-25 21:26] hostep commented on #10424
And also https://github.com/magento/magento2/issues/13665

But I've seen fixes landing in the 2.2-develop which should fix this problem:
- MAGETWO-87589: [Magento Cloud] - Issue with polluted database when updating product attributes through API: https://github.com/magento/magento2/commit/0383b227f3910378da1e79aa57d84b8e6708ca1d
- MAGETWO-73638: Product "Use Default Value" checkbox for an attribut

[2018-08-26 07:14] sidolov commented on #12250
Hi @quisse. Thank you for your report.
The issue has been fixed in magento/magento2#17725 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [d6c7459b26ce2e4e24ef2bbf8547e2790c01324c](https://github.com/magento/magento2/commit/d6c7459b26ce2e4e24ef2bbf8547e2790c01324c)
 - [f2a1c08a401a338fa93f6f35aea34a9643ae811e](https://github.com/magento/magento2/commit/f2a1c08a401a338fa93f6f35aea34a9643

[2018-08-26 07:14] sidolov commented on #17648
Hi @markoshust. Thank you for your report.
The issue has been fixed in magento/magento2#17688 by @dmytro-ch in 2.3-develop branch
Related commit(s):
 - [fe088901a8e2c32fc75baca5b32ec332a022651c](https://github.com/magento/magento2/commit/fe088901a8e2c32fc75baca5b32ec332a022651c)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-26 07:14] sidolov commented on #16927
Hi @Silarn. Thank you for your report.
The issue has been fixed in magento/magento2#17627 by @hostep in 2.3-develop branch
Related commit(s):
 - [6aeec4710d0decd5161bb3855e83540df81e6a14](https://github.com/magento/magento2/commit/6aeec4710d0decd5161bb3855e83540df81e6a14)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-26 07:14] sidolov commented on #17579
Hi @adamkingfisher. Thank you for your report.
The issue has been fixed in magento/magento2#17659 by @Spaggel in 2.3-develop branch
Related commit(s):
 - [3a942809cf3f73114b5236e4f78bf2adf71411ca](https://github.com/magento/magento2/commit/3a942809cf3f73114b5236e4f78bf2adf71411ca)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-26 08:07] Koc commented on #9486
This bug occurs even if we have enabled simple store mode. Even in this case product attribute values copies on some actions (maybe save or duplicate, not detected yet) with `store_id=1`.

[2018-08-26 16:17] kornblumenapotheke commented on #7931
Same problem here! It seems to slow down my checkout process!
`main.WARNING: Cookie konnte nicht gesendet werden. Maxmiale Anzahl von Cookies wurde überschritten. {"store":"default","__utma":"110232473.1919046391.1488734394.1520665821.1524855184.50","__utmz":"110232473.1508695451.30.3.utmcsr=ticket.kornblumen-apotheke.at|utmccn=(referral)|utmcmd=referral|utmcct=/scp/tickets.php","m2e_bn_d36fbe63b0

[2018-08-26 16:46] milossh opened #17802 "Magento 2.2.x import error -> attribute_set instead of attribute_set_code message"
### Preconditions
1. Magento 2.2.5
2. PHP 7.0
3. Create attribute set not default
4. Create product with this set

### Steps to reproduce
1.  Login to Magento Admin
2. Navigate to Import Products screen
3. Use Check Data on a CSV file that doesn't have `attribute_set_code`, but `attribute_set` instead

### Expected result
1. Import error explaining that appropriate column `attribute_set_code` is n

[2018-08-26 16:46] magento-engcom-team commented on #17802
Hi @milossh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-26 16:50] milossh commented on #17802
Yes.

[2018-08-26 17:50] michelve opened #17804 "My Orders - User Cannot View Placed Order"
### Preconditions
Magento 2.2.5
PHP v7.1.20
Ubuntu 18.04.1
Porto Theme 3.1.3

### Steps to reproduce
     - User A places and order on magento. then user A goes to my account and click on My Orders menu, Then user A find and click View order link.
     - User A encouters error: Exception #0 (Exception): Notice: Undefined offset: 1 in /var/www/html/vendor/magento/module-sales/Model/Order.php on lin

[2018-08-26 17:50] magento-engcom-team commented on #17804
Hi @michelve. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-26 19:55] michelve commented on #5801
same issue on 2.2.5

[2018-08-26 19:56] erikhansen commented on #12362
Here is a patch that should fix the issue, until 2.2.7 is released. This patch contains the relevant contents of the [f82a17](https://github.com/magento/magento2/commit/f82a17507acfa821e2bea543a99f072e1de1252f ) commit referenced in [the comment from May 12th](https://github.com/magento/magento2/issues/12362#issuecomment-388566785).

[github-12362-composer.patch.zip](https://github.com/magento/mag

[2018-08-26 22:00] magento-engcom-team commented on #15319
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#17751 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [cba6c39197568d8255541b9871e53582d72f1b60](https://github.com/magento/magento2/commit/cba6c39197568d8255541b9871e53582d72f1b60)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-26 22:00] magento-engcom-team commented on #13102
Hi @ruthger92. Thank you for your report.
The issue has been fixed in magento/magento2#17721 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [3f0168cbf6589e850cbc4ca4b6ca3796a04330ab](https://github.com/magento/magento2/commit/3f0168cbf6589e850cbc4ca4b6ca3796a04330ab)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-26 22:00] magento-engcom-team commented on #17700
Hi @dmytro-ch. Thank you for your report.
The issue has been fixed in magento/magento2#17703 by @dmytro-ch in 2.3-develop branch
Related commit(s):
 - [88aa0bd9b77856f2f10a507cb120fd4e9309fa96](https://github.com/magento/magento2/commit/88aa0bd9b77856f2f10a507cb120fd4e9309fa96)

The fix will be available with the upcoming 2.3.0 release.

[2018-08-27 02:48] erfanimani commented on #7931
@kornblumenapotheke though having the same symptoms, your root issue looks different and to the M2E pro module managing an eBay link (the cookie list looks healthy apart from the 90 m2e cookies).

[2018-08-27 06:46] engcom-backlog-andrii commented on #17777
@joshuaadickerson,  thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open

[2018-08-27 06:46] #17777 closed, assigned to nobody

[2018-08-27 07:07] CrowlaraZ commented on #9505
@magento-engcom-team tnx for the support. kappa

[2018-08-27 07:12] dipesh-spinx commented on #10875
I am having the same issue, Any solution?

[2018-08-27 07:28] engcom-backlog-pb commented on #17804
@michelve, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2018-08-27 07:47] vovayatsyuk commented on #2916
@erikhansen, thanks for your patch.

By the way, I'm interested why the following code having a place in [view/messages.js](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Ui/view/frontend/web/js/view/messages.js#L50-L52):

[code]

The problem is that this method **always returns js object** instead of boolean value and changes `isHidden` value to true when error messages fou

[2018-08-27 08:28] captainfromspace commented on #17746
@magento-engcom-team give me 2.2.5 instance

[2018-08-27 08:28] magento-engcom-team commented on #17746
Hi @captainfromspace. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-27 08:29] magento-engcom-team commented on #17746
Hi @captainfromspace, here is your [Magento instance](https://i-17746-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17746-2-2-5.engcom.dev.magento.com/admin](https://i-17746-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-27 08:34] engcom-backlog-pb commented on #17787
@BezV8, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-27 08:49] engcom-backlog-pb commented on #17778
@bentintoshape , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ]

[2018-08-27 09:05] kandrejevs opened #17810 "category/product page and products graphQL query throws fatal error"
### Preconditions
1. magento 2.3 develop 9d6399ea35637ddf21ee35441805d91364a34fe5
2. php 7.1
3. mysql 5.7

### Steps to reproduce
1. open category or product page or graphQL endpoint for product data
2. observe fatal error

### Expected result
1. Category/Product page should be visible and functional
2. products() GraphQL query should work

### Actual result
1. pages throws fatal error

[code]

[2018-08-27 09:06] magento-engcom-team commented on #17810
Hi @kandrejevs. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-27 09:06] n0kit31 commented on #13720
What is the current status of this issue? Will it ever be merged into core?

[2018-08-27 09:26] hostep commented on #13720
I believe https://github.com/magento/magento2/pull/15251 should be re-opened and re-evaluated because it was closed for an incorrect reason.

[2018-08-27 09:45] mano1617 opened #17811 "Magento 2 in Localhost Xammp PHP 7.1 is very slow how to make it fast for development."
### Title
Magento 2 is very slow in localhost , how to make it faster for development purpose.

### Preconditions
1.  My System configuration is 4gb Ram Windows 7
2.  I use Xampp with PHP 7.1.20
3. Apache/2.4.34 (Win32) OpenSSL/1.0.2o PHP/7.1.20
   Database client version: libmysql - mysqlnd 5.0.12-dev -

### Steps to reproduce
 After installing Magento2 in localhost i made following changes to ma

[2018-08-27 10:21] krzksz opened #17813 "Huge "product_data_storage" in localStorage hangs the shop"
### Preconditions
1. Magento 2.2.x and others with this commit applied: https://github.com/magento/magento2/commit/05ff6d4b36022a3875061b6ff9a58fb2545a95e0.

### Steps to reproduce

1. Open the shop.
2. Visit a lot of different product pages (~400 in our case) without invalidating user data.
3. Notice how browser slows down at load because of `product_data_storage` in localStorage getting bigger a

[2018-08-27 10:38] nidheesh-eglobeits commented on #2924
Check whether OPCache is enabled. I had the same issue when using docker and enabling OpCache solved this.

[2018-08-27 10:58] engcom-backlog-andrii commented on #17802
@milossh , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-27 11:08] engcom-backlog-andrii commented on #17811
@mano1617 , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.
See please this official information about Operating systems

https://devdocs.magento.com/guides/v2.2/install-gde/sy

[2018-08-27 11:08] #17811 closed, assigned to nobody

[2018-08-27 11:12] lewisvoncken commented on #3283
@sebfie  I will make a PR for this

#workingonit

[2018-08-27 11:26] engcom-backlog-pb commented on #17810
@kandrejevs, thank you for your report.
Please update title, steps to reproduce and expected results. Currently, they are inconsistent and not obvious.

[2018-08-27 11:39] engcom-backlog-pb commented on #17813
@krzksz , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-27 12:33] engcom-backlog-andrii commented on #17784
@GovindaSharma , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-27 12:45] Kaushik-Roy commented on #17758
Found and Implemented a trick to it :-
[https://magento.stackexchange.com/questions/239657/magento-2-please-enter-less-or-equal-than-255-symbols-valiadtion-error-in-chec/239738#239738](url)

[2018-08-27 12:50] Kaushik-Roy commented on #4921
Not so appealing but this trick solved the issue :-
https://magento.stackexchange.com/questions/239657/magento-2-please-enter-less-or-equal-than-255-symbols-valiadtion-error-in-chec/239738#239738

[2018-08-27 13:02] engcom-backlog-andrii commented on #17789
@lucasjor-summa , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-27 13:04] engcom-backlog-pb commented on #17121
@simonrl, please open a new issue with correctly filled Preconditions, Steps to Reproduce etc.

[2018-08-27 13:10] engcom-backlog-pb commented on #17578
@crtl, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-27 13:30] engcom-backlog-pb commented on #10292
@andrewhowdencom, please provide obvious Steps to Reproduce.

[2018-08-27 13:37] engcom-backlog-pb commented on #10992
We are closing this issue due to inactivity. If someone would like to update it, please reopen the issue.

[2018-08-27 13:37] #10992 closed, assigned to nobody

[2018-08-27 13:38] infowind commented on #12260
Hi Sasilinux thanks for reply solution works fine in magento 2.2.5.

[2018-08-27 13:41] rutgerrademaker commented on #11372
@engcom-backlog-pb Not sure what you did, but if you followed my steps exactly there would not be an en env.php. What happens if you delete env.php and run the deploy command again?

[2018-08-27 14:02] engcom-backlog-nickolas commented on #11196
@JerVoo, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-27 14:02] #11196 closed, assigned to nobody

[2018-08-27 14:03] engcom-backlog-nickolas commented on #13502
@kanduvisla, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-27 14:03] #13502 closed, assigned to nobody

[2018-08-27 14:04] engcom-backlog-nickolas commented on #14142
@EliasZ, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-27 14:04] #14142 closed, assigned to nobody

[2018-08-27 14:04] engcom-backlog-nickolas commented on #15044
@outoftheboxsol, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-27 14:04] #15044 closed, assigned to nobody

[2018-08-27 14:05] engcom-backlog-nickolas commented on #15165
@Alex1844, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-27 14:05] #15165 closed, assigned to nobody

[2018-08-27 14:06] engcom-backlog-nickolas commented on #16100
@VivianWang1993, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-27 14:06] #16100 closed, assigned to nobody

[2018-08-27 14:07] engcom-backlog-nickolas commented on #17510
@CNanninga, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-27 14:51] gitfredrik opened #17818 "Creating customizable option for specific store view applies to all store views..."
I´m trying to create a customizable option for only one store view but I can´t seem to do that. However I try the option is applied to all store views.

### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. Have several store views.
2. Go to any product and change the scope to a specific store view
3. Create a customizable option. Save.

### Expected result

1. The customizable option sh

[2018-08-27 14:51] magento-engcom-team commented on #17818
Hi @gitfredrik. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-27 16:00] OleksiiBulba opened #17819 "Wrong product url from getProductUrl when current category has not product object"
### Preconditions
1. Install Magento **2.2.4**
2. Create two category **category1** and **category2** with url-keys _category-1_ and _category-2_ respectively
3. Create product with url key _product-1_, assign it to **category1**
4. Add created categories to topmenu (turn on "include to menu" checkbox)

### Steps to reproduce
1. Create custom module Vendor_Module; run **setup:upgrade** command
2.

[2018-08-27 16:00] magento-engcom-team commented on #17819
Hi @OleksiiBulba. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-08-27 16:04] kgillis-atmosol commented on #10992
I was seeing this issue in 2.2.0, easily replicated by following the steps given in the original issue report. However, as of upgrading the instance to 2.2.5, the issue is no longer occurring. So a fix for this seems to have been put in as part of the upgrades. I have no idea if it's available as a separate patch for systems prior to 2.2.5 (or 2.2.4 - I don't see any reports here of the issue happ

[2018-08-27 16:07] Detzler commented on #17716
@Yuibaritone, I had the same case. My problem was, that the product name had a whitespace at the beginning. The whitespaces had impact on the order function.

[2018-08-27 17:14] JeremyPlease commented on #9916
Thanks for the suggestion @jfmontanaro.

I ended up working around this by moving the email template to an extension and using `etc/email_templates.xml` to override the email template.

[2018-08-27 17:26] hostep commented on #13502
@kanduvisla: it sound like this issue might have been triggered by this bug: https://github.com/magento/magento2/issues/14465

Quoting last part:

In that case any 'changelog' event will not be processed until 'version_id' in catalog_product_attribute_cl will not be greater or equal that version_id in mview_state.

[2018-08-27 18:01] #16927 closed, assigned to nobody

[2018-08-27 18:16] snoroozi commented on #8897
Same in 2.2.5.

we are running in single store mode and creating products from the configurable products and several seemingly random attribute values are getting filled.

[2018-08-27 18:40] magebirdcom commented on #13504
The same issue on Windows + wamp after installing first extension. Removing global.php file fixed it.

[2018-08-27 19:26] hostep commented on #17510
@engcom-backlog-nickolas: can you please test this again, by **not** using a subdomain for the admin domain, but an actually different domain? Subdomains inherit the cookies from the main domain, so in this case the bug probably won't trigger.

(I'm not saying the bug exists, I'm just saying you didn't follow the exact steps to reproduce, because in the example of @CNanninga he didn't use a subdom

[2018-08-27 19:57] Silarn commented on #16927
Great. Thanks for the fix. Would renaming the files work on current releases as a temporary workaround?

[2018-08-27 20:37] bluesound opened #17821 "Web setup wizard not visable, Magento 2.2.5"
I have recently updated from 2.2.4 to 2.2.5. And I wuld like to use the web setup wizard to install a modulem however when I access the menu I get a white screen. So the url goes to  /setup/index.php, but the page does not show up, so at the moment I can not update nor install any module via the usual way. Any idea what could be causing this? It worked in 2.2.4...

[2018-08-27 20:37] magento-engcom-team commented on #17821
Hi @bluesound. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-27 20:40] tarikbelattar opened #17822 "Two of my categories are showing a blank page with no products"
Hello Magento community,

     - Summary of the issue:
I'm facing a menu categories problem in Magento 2.1.6 CE after a migration from a server to another 2 of my categories are empty! I reindex all the index many times, upgraded to Magento 2.2.5 but the two categories still empty
     - Information on your environment:
      1. Magento 2.1.6 (and upgraded to 2.2.5 same issue as the original versi

[2018-08-27 20:41] magento-engcom-team commented on #17822
Hi @songofcode. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-27 20:44] stephenbori commented on #13605
Hello @emilshamloo - I am receiving exactly the same issue. Did you ever find a fix for this?

[2018-08-27 20:46] hostep commented on #16927
@Silarn: in the current release, I just copy them and keep the ones without '.min', these then are used when minification is disabled, and when minification is enabled it will use the new ones with '.min' in the filename.
Or just [patch](https://support.magento.com/hc/en-us/articles/360005484154) your installation, by renaming them and changing the `swagger_index_index.xml` file as well.

[2018-08-27 20:58] stephenbori commented on #16722
Is there any update on this issue as I am experiencing the exact same issues as in this video https://www.youtube.com/watch?v=4M957wZLbpM&feature=youtu.be

my setup is as follows

- Varnish for Basic page caching only (home, catalog)
- Redis
- Nginx Reverse proxy caching
- Magento 2.2.4
- Dedicated Server

[2018-08-27 21:20] stephenbori commented on #11821
Has anybody found a fix for this yet, I am receiving the exact same issue as @Silarn, as seen in this video posted from another user https://www.youtube.com/watch?v=4M957wZLbpM&feature=youtu.be

I have attempted to ls to change non secure urls to just http as recommended in another post but not luck.

[2018-08-27 21:21] LuoLily commented on #10107
Need to flush and enable cache.

[2018-08-27 21:56] stephenbori commented on #14951
@magento-admin  - Can we confirm if this will be fixed in 2.2.5 / 2.2.6

[2018-08-28 00:17] terrybakshi commented on #15043
@engcom-backlog-nickolas Can you please explain, why do we have to keep using third party extensions for every basic thing, if this is the case, better leave magento as is and tell people it all depends now on third party extensions to complete everything you need in magento. Also issue relating the special pricing in configurable products is important if you have Google product feed extension as

[2018-08-28 02:04] pixelated-au commented on #16793
I too am having this cron issue with 2.2.5 -> upgraded from 2.2.3 I believe.

I tracked it down to the failure point (as it was failing silently) and I believe it's [`Magento\Framework\ObjectManager\Factory\Dynamic\Developer`](https://github.com/magento/magento2/blob/aa4b734aa9b5595c2026bd565a2f19b58f8b6c60/lib/internal/Magento/Framework/ObjectManager/Factory/Dynamic/Developer.php#L47) line 47 `$t

[2018-08-28 04:34] aasim110 opened #17824 "Missing order IDs after upgrade 2.1.9 to 2.2.5"
### Preconditions

1.  Magento 2.2.5
2.  Before Upgrade it was 2.1.9
3.  PHP 7

### Steps to reproduce

-    Run composer update command
-    run php bin/magento setup:upgrade command
-    remove /var/* and generated/*
-    clear browser cache
-    Add product to cart
-    Use Braintree payment method
-    Place an order
-    issue is not getting every time, so you need to check after place order

[2018-08-28 04:34] magento-engcom-team commented on #17824
Hi @aasim110. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-28 05:01] mlindholm opened #17825 "Plugins not called for Magento\Catalog\Block\Product\ListProduct in search page in developer mode"
### Preconditions
1. Magento 2.2.5
2. PHP 7.1.9
3. MySQL 5.6.37

### Steps to reproduce
1. Set deploy mode to developer.
2. Create plugin for Magento\Catalog\Block\Product\ListProduct
3. Go to search page.

### Expected result
1. Magento\Catalog\Block\Product\ListProduct\Interceptor should be used to render the product list.

### Actual result
1. Magento\Catalog\Block\Product\ListProduct is used i

[2018-08-28 05:01] magento-engcom-team commented on #17825
Hi @Tuuhea. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-28 05:17] sskulkarni commented on #17283
@melissakokel ,
Actually is VAT is a field of "Address" entity.

[2018-08-28 05:28] shafalibhatia commented on #8828
We are not able to add bundle product in configurable product. Is there a way to do it??

[2018-08-28 05:43] sskulkarni commented on #17818
Hello @magento-engcom-team
I Can also reproduce this issue.
I am working on it.
Thanks

[2018-08-28 06:43] mak0605 commented on #17436
@michaelrachlitz Can you please explain little more regrading SKU.
So far i didn't any error which is relating with sku. if i try to add child product without any images at that time is works fine. so it issue with image. isn't? i tried to comment the code in `vendor/magento/module-configurable-product/Model/Product/VariationHandler.php` in method duplicateImagesForVariations($productsData)
commen

[2018-08-28 06:56] kanduvisla commented on #13502
Hm, might be it. It's hard to say because it was not reproducible, but I haven't tried restarting MySQL on the production database. But it could be related to the issue @hostep mentioned. I'll leave this for now. If I encounter it again or have more information about it I can always comment on this issue (or create a new one)

[2018-08-28 06:58] Tuuhea commented on #17825
Hello,

I don't believe the vanilla Magento contains any plugins for the product list block, but I managed to replicate the problem on local instance of vanilla Magento.

### Summary
Virtual types defined in frontend di.xml are not taken account when interception config is initialized in
Magento\Framework\Interception\Config\Config on developer mode.

### Information on your environment
1. WAMP st

[2018-08-28 07:35] ihor-sviziev commented on #12717
Hi @helefa,
All patches listed in composer.json file, so after upgrade to 2.3.x - you have to remove applying of this patch and that's it

[2018-08-28 07:42] shafalibhatia opened #17827 "Unable to add bundle product in configurable product"
Unable to add bundle product in configurable product

### Preconditions
1. Magento 2

### Steps to reproduce
1. Create a bundle product and add multiple simple products in it
2. Create a configurable product and try to add products manually

### Expected result
1. Bundled product should be added to configurable product.

### Actual result
1.  Bundled products are shown in available attributes and

[2018-08-28 07:42] magento-engcom-team commented on #17827
Hi @shafalibhatia. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-08-28 07:43] Sunil-Nethues opened #17828 "Web API call to /V1/orders changes Order Increment ID"
### Preconditions

1. Magento 2.

### Steps to reproduce

1. Create an Order.
2. Note the Order Increment ID
3. Update order via REST API:
`POST http://ce.dev.local/rest/V1/orders`
`Accept: */*`
`Cache-Control: no-cache`
`Content-Type: application/json`
`Authorization: Bearer <API key>`
`{`
  `"entity": {`
   `"entityId": "<Order ID>",`
   `"state": "complete",`
    `"status": "complete"`
  `}`
`}

[2018-08-28 07:43] magento-engcom-team commented on #17828
Hi @Sunil-Nethues. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-08-28 08:08] engcom-backlog-pb commented on #11372
@rutgerrademaker env.php and config.php are both created while Magento installing. And deleting  env.php is a very strange step.

[2018-08-28 08:09] Sunil-Nethues commented on #17828
@magento-engcom-team give me 2.2.0 instance

[2018-08-28 08:09] magento-engcom-team commented on #17828
Hi @Sunil-Nethues. Thank you for your request. I'm working on Magento 2.2.0 instance for you

[2018-08-28 08:10] magento-engcom-team commented on #17828
Hi @Sunil-Nethues, here is your [Magento instance](https://i-17828-2-2-0.engcom.dev.magento.com).
Admin access: [https://i-17828-2-2-0.engcom.dev.magento.com/admin](https://i-17828-2-2-0.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-28 08:41] engcom-backlog-pb commented on #7801
@harleen-mann, thank you for the clarification, but anyway issue is not reproducible.
![default](https://user-images.githubusercontent.com/40756187/44711482-23bb1380-aab7-11e8-8cb1-c0cbe800e960.png)
Please try to reproduce this issue on the clean installation on the latest Magento release.

[2018-08-28 08:46] andrewhowdencom commented on #10292
Hi @engcom-backlog-pb;

I don't work on any Magneto 2 stuff at the minute, so will not go through the process of exhaustively documenting this. However, broadly it's:

1. Install Magento as specified in https://devdocs.magento.com/guides/v2.3/install-gde/composer.html

Normally you'd commit this and save it somewhere as the basis of a new site, but not required for this issue.

2. Delete everythin

[2018-08-28 09:12] mam08ixo commented on #17363
I can confirm that the shipping method is no longer stored with multishipping orders since Magento 2.2.5 (0fc3d07).

With the _Temando Shipping_ module not installed, the exact same error can be observed when trying to access the _New Shipment_ page:

[code]

[2018-08-28 09:13] peterjaap opened #17830 "Add checkout_cart_product_add_before event"
As @markoshust blogged in 2012 (!), there is no `checkout_cart_product_add_before` event in Magento!

Even though there is a `checkout_cart_product_add_after` event. Now we're stuck with `controller_action_predispatch_checkout_cart_add` which of course does not catch all cases since there are multiple (custom) ways to add a product to the cart.

Best option now is to create a plugin, but an event

[2018-08-28 09:13] magento-engcom-team commented on #17830
Hi @peterjaap. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-28 09:15] nirvaat commented on #10821
I am using ISPConfig and adding include_path = "." in the custom php.ini options worked for me too. Thank you @PhiIipp for solution.

[2018-08-28 09:18] engcom-backlog-pb commented on #17824
@aasim110, thank you for your report.
Please update Steps to reproduce, Expected and Actual results. Currently, they are confusing and not obvious.

[2018-08-28 09:29] engcom-backlog-pb commented on #17830
@peterjaap, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-28 09:43] aishwaryasunarc commented on #7770
I want to know files where you changed

[2018-08-28 09:43] rutgerrademaker commented on #11372
@engcom-backlog-pb
Actually it is not a strange step if you think that this is a problem in a "pipeline" which creates an artifact independent of an environment. In our (and I think most) pipeline(s) there is no env.php (as it is obviously not in the project's repository)
This works fine until you enable 'minify_files' for css

If you follow my (simplified) steps of the commands in the pipeline yo

[2018-08-28 09:45] magento-engcom-team commented on #17587
Hi @simonworkhouse. Thank you for your report.
The issue has been fixed in magento/magento2#17776 by @MartinAarts in 2.2-develop branch
Related commit(s):
 - [8855a66a1437c4c4b8098de27ba3ad944f0a79f0](https://github.com/magento/magento2/commit/8855a66a1437c4c4b8098de27ba3ad944f0a79f0)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-28 09:45] magento-engcom-team commented on #17715
Hi @zebimax. Thank you for your report.
The issue has been fixed in magento/magento2#17718 by @p-bystritsky in 2.2-develop branch
Related commit(s):
 - [bbd9ba7267f11618dfce31222b5449cc4e592d64](https://github.com/magento/magento2/commit/bbd9ba7267f11618dfce31222b5449cc4e592d64)

The fix will be available with the upcoming 2.2.7 release.

[2018-08-28 09:45] #17715 closed, assigned to p-bystritsky

[2018-08-28 09:45] magento-engcom-team commented on #14248
Hi @jb-dg. Thank you for your report.
The issue has been fixed in magento/magento2#16733 by @eduard13 in 2.2-develop branch
Related commit(s):
 - [453aa847a25b54bd83e596563b00e58afdcbfe3e](https://github.com/magento/magento2/commit/453aa847a25b54bd83e596563b00e58afdcbfe3e)
 - [8ad6bd61bc9ecbcefae5b65a29d3295227985df2](https://github.com/magento/magento2/commit/8ad6bd61bc9ecbcefae5b65a29d3295227985

[2018-08-28 09:45] #14248 closed, assigned to eduard13

[2018-08-28 09:47] aishwaryasunarc commented on #7770
I want to set virtual order status to processing. I am using Magento 2.2.2 version. According to my requirements, we don't want virtual order status change to complete when creating the invoice. We want processing status of the virtual order.

Please guide me for this

[2018-08-28 09:52] engcom-backlog-pb commented on #17827
@shafalibhatia, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Bundled products are not shown in available products in "Select Associated Product" menu. If you'd like to update it, please reopen the issue.

[2018-08-28 09:55] engcom-backlog-pb commented on #17828
@Sunil-Nethues, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-08-28 09:57] shafalibhatia commented on #17827
Steps
1.Create a configurable product and use some attribute Color(red,blue). After product creation, two virtual products are created and one attribute named as color is added in attribute set.
2.Create a bundle product and both virtual product in it and select color as red in attribute value of bundled product.
3. Go to configurable product created in first step and try to associate a different

[2018-08-28 10:05] Sunil-Nethues commented on #17828
hi @magento-engcom-team i asked for the installation to have sample data installed, i am doing it manually give me some time to replicate it and send you a message.

[2018-08-28 10:06] Rutvee123 commented on #17564
Have any update?

[2018-08-28 10:34] Flipmediaco commented on #16793
@pixelated-au > It's at this point, the cron:run command dies silently.

Can you advise what version of php you are running... Please attempt to execute the cron via the Command Line, as follows... and report any error returned.

[code]

[2018-08-28 10:35] Sunil-Nethues commented on #17828
hi @magento-engcom-team we are succeeded in trying to replicate the issue on the fresh instance provided by you as well.

1. I have done following, completed an order using Check/money order
2. created a user with API access
3. Run the shipment creation script from a thrdparty server in this case URL was : https://www.skinoracle.com/shiptest.php?oid=1 {you can use this url too by changing the orde

[2018-08-28 10:41] rossmc opened #17833 "Child theme does not inherit translations from parent theme"
**Summary of the issue**
Theme inheritance does not work as expected with [translation dictionaries][1].  The child theme does not use any translations defined in it's parent theme's `en_US.csv` translation dictionary.

**Preconditions**
I'm working on a Magento ver 2.2.5 installation with two websites & two corresponding theme's.  Each with their own [translation dictionary][1], and one theme inh

[2018-08-28 10:41] magento-engcom-team commented on #17833
Hi @rossmc. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-28 10:43] aasim110 commented on #17824
@engcom-backlog-pb  I have updated my question, please check and let me know if anything.

[2018-08-28 10:52] engcom-backlog-andrii commented on #17821
@bluesound , thank you for your report.
Also, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-28 10:52] #17821 closed, assigned to nobody

[2018-08-28 11:18] Swahjak opened #17836 "Magento 2.3.x incomplete ConfigurableProduct setup dependencies"
Magento\ConfigurableProduct\Setup\Patch\Data\InstallInitialConfigurableAttributes should have a dependency on (at least) Magento\Msrp\Setup\Patch\Data\InitializeMsrpAttributes.

### Preconditions

1. Magento 2.3.0-alpha62

### Steps to reproduce

1. None

### Expected result
1.
[code]

### Actual result

1.
[code]

[2018-08-28 11:18] magento-engcom-team commented on #17836
Hi @Swahjak. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-28 11:27] Sunil-Nethues commented on #17828
just an additional information if we pass the increment id while changing the status to complete in above file last call, the order increment id does not changes.

[2018-08-28 11:38] engcom-backlog-nickolas commented on #17825
Hello @Tuuhea, thank you for your report. I'm not able to reproduce this issue.
![peek 2018-08-28 14-35](https://user-images.githubusercontent.com/40755810/44720615-fd55a200-aacf-11e8-932d-08526b58f989.gif)
Could you please add more details?

[2018-08-28 11:49] hitesh-srtpl commented on #7623
Web setup wizard still not display in admin side. magento 2.2.5

[2018-08-28 11:54] tdgroot commented on #12428
For enterprise maintainers using `Magento_GoogleTagManager`, #14874 does not fix the problem.

I applied the [latest version of resolver.js](https://github.com/magento/magento2/blob/ecb1362992506c4cc19b35899d8b90ae3e082c46/lib/web/mage/requirejs/resolver.js) and this **does** fix the problem as the whole `isPending` logic was revised by Magento core team.

[2018-08-28 11:58] engcom-backlog-pb commented on #17827
@shafalibhatia, thank you for clarification. Seems like your issue is caused by some custom code, as you cannot any 'color' attribute value for bundle product in clean Magento 2.  Please try to reproduce this issue on a clean installation of the latest Magento 2 release.

[2018-08-28 12:13] engcom-backlog-pb commented on #16793
@Flipmediaco can you provide Steps to Reproduce this issue on a clean Magento 2 installation?

[2018-08-28 12:28] engcom-backlog-pb commented on #17780
@Thundar, thank you for your report.
This is not a bug. Please refer to [Magento 2 documentation](https://devdocs.magento.com/guides/v2.2/install-gde/install/cli/install-cli-uninstall-mods.html#instgde-cli-uninst-mod-over)

[2018-08-28 12:31] Thundar commented on #17780
@engcom-backlog-pb Actually the documentation says a different thing from the result

[2018-08-28 12:33] shafalibhatia commented on #17827
Ok..Is their a way to add bundle products in configurable products?

[2018-08-28 12:38] engcom-backlog-nickolas commented on #17836
Hello @username, thank you for your report and pull request.
We've acknowledged the issue and added to our backlog.

[2018-08-28 12:44] engcom-backlog-nickolas commented on #16633
@cscarfo, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-28 12:44] #16633 closed, assigned to nobody

[2018-08-28 12:47] engcom-backlog-andrii commented on #17818
@gitfredrik , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-28 12:51] engcom-backlog-nickolas commented on #17310
@AykutCevik, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-28 13:10] engcom-backlog-nickolas commented on #17647
@JoshuaFlood, thank you for feedback. Unfortunately I'm still not able to reproduce issue You've described.
If you'd like to update it, please reopen the issue.

[2018-08-28 13:10] #17647 closed, assigned to nobody

[2018-08-28 13:39] raivisdejus commented on #17810
Seems that this can be solved by adding
`<preference for="Magento\Framework\Search\Request\IndexScopeResolverInterface" type="Magento\Framework\Indexer\ScopeResolver\IndexScopeResolver"/>`
to `di.xml`

[2018-08-28 13:51] engcom-backlog-pb commented on #17833
@rossmc, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-28 14:06] engcom-backlog-pb commented on #17115
@DanielRuf, we are closing this issue due to inactivity. If you have some updates, please reopen the issue.

[2018-08-28 14:06] #17578 closed, assigned to nobody

[2018-08-28 14:06] engcom-backlog-pb commented on #17588
@simonworkhouse, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-28 14:06] #17588 closed, assigned to nobody

[2018-08-28 14:14] engcom-backlog-pb commented on #17827
@shafalibhatia, I think no. We have two 'groups' of product types - 'simple' (simple, virtual, downloadable) and 'complex' (configurable, grouped, bundle). You can assign any 'simple' type product to 'complex', but not 'complex' to 'complex'.
Anyway, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for a

[2018-08-28 14:14] #17827 closed, assigned to nobody

[2018-08-28 14:14] DanielRuf commented on #17115
Still reproducible.

[2018-08-28 15:20] mpasquin opened #17841 "Attributes using for sort order in product collection are added several times"
### Preconditions

1. Magento Enterprise 2.2.5
2. php 7.0 and 7.1

### Steps to reproduce

1. Enable flat category and flat product in back-office (optional)
2. Display or log product collection query from a category
3. See that same attributes are added several times in order by clause

### Expected result

![sort_added_several_times_to_product_collection](https://user-images.githubusercontent.co

[2018-08-28 15:21] magento-engcom-team commented on #17841
Hi @mpasquin. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-28 16:29] BenSpace48 commented on #16302
@magento-engcom-team give me 2.2.5 instance

[2018-08-28 16:29] magento-engcom-team commented on #16302
Hi @BenSpace48. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-28 16:29] magento-engcom-team commented on #16302
Hi @BenSpace48, here is your [Magento instance](https://i-16302-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-16302-2-2-5.engcom.dev.magento.com/admin](https://i-16302-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-28 17:52] RickyThakur commented on #5615
Thanks @onakonechna  , you save my day.

[2018-08-28 18:21] bruno-serfe commented on #17634
Hi guys! Is there any update about this? thanks!

[2018-08-28 18:29] Tuuhea commented on #17825
Hello @engcom-backlog-nickolas,

Issue happens on search page, where virtual type is used. On production mode the original plugin type is triggered, but in development mode this is not happening.

I set up following plugin:
![image](https://user-images.githubusercontent.com/5977769/44742420-d9668080-ab10-11e8-92cc-b3d3d098af8e.png)

Plugin is not called on search page:
![image](https://user-images

[2018-08-28 18:31] DrewML opened #17842 "Deprecate or document `mixins` feature for declarative JS Components"
Magento 2 uses the term `mixins` to define 2 different concepts.

## RequireJS Mixins
[Docs](https://devdocs.magento.com/guides/v2.2/javascript-dev-guide/javascript/js_mixins.html)

A new AMD module + config can be used to intercept the return value of another AMD module:
[code]

## Declarative JS Component Instantiation
[Docs](https://devdocs.magento.com/guides/v2.2/javascript-dev-guide/javascrip

[2018-08-28 18:31] magento-engcom-team commented on #17842
Hi @DrewML. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-28 18:41] RyanZolper commented on #12655
I have tested this on various versions, including 2.2.3 and 2.3-develop, and confirmed that this issue has been fixed. Below are the relevant pull requests:

Original fix in 2.1-develop (https://github.com/magento/magento2/commit/aa535e)
Forwardport to 2.2-develop (https://github.com/magento/magento2ce/pull/1975/files)
Forwardport to 2.3-develop (https://github.com/magento/magento2/pull/17620/file

[2018-08-28 18:41] #12655 closed, assigned to nobody

[2018-08-28 18:42] Igloczek commented on #17842
This is the first time I see the second meaning of `mixins`, so from my perspective would be better to deprecate, rather than documenting it.

[2018-08-28 18:56] okorshenko commented on #12655
Hi @RyanZolper Thank you for the research! 👍

[2018-08-28 19:24] #17842 closed, assigned to nobody

[2018-08-28 20:39] nlwstein commented on #11002
I believe I have seen this issue happen with an exception being thrown by dotmailer/dotmailer-magento2-extension. We have used composer patches to prevent the known exception codepath from ever being triggered, but this seems like an issue that will likely cause issues on prod servers (as it did for us, unfortunately) so just trying to bump the priority here.

[2018-08-28 22:44] pixelated-au commented on #16793
@Flipmediaco
1) I'm running PHP 7.1.21
2) No output returned from your command. Again, (unlike your scenario) it failed silently.

FWIW, I've already performed running the cron with all available memory (16GB system memory)

[2018-08-29 02:48] simonworkhouse commented on #17588
@engcom-backlog-pb are you able to please re-open this issue? I am still in the process of defining steps to reproduce. Unfortunately a lot of my time is currently being taken up implementing work-arounds for a number of other bugs I have reported, so it might take a little while longer.

[2018-08-29 04:33] sheldmandu opened #17844 "Order State dropdown in Assign Order Status to State incorrect"
### Preconditions
1. Magento 2.2.3 installed (Same issue on 2.2.5)

### Steps to reproduce
1.  Navigate in menu to Stores > Settings > Order Status
2. Click "Assign Status to State" link

### Expected result
1. "Order State" dropdown shows the STATES (new, pending_payment, processing, payment_review, etc)

### Actual result
1. Default STATUSES associated with the states are shown instead of states

[2018-08-29 04:33] magento-engcom-team commented on #17844
Hi @sheldmandu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-29 04:47] sheldmandu commented on #17844
Further to the bug report. It appears that the Order State dropdown currently shows the Status with the lowest ID that is associated with the state.  To reproduce firstly add a new status "Confirming Payment" and assign to the "processing" state as the Default Status.  Make sure you do not have any orders in the "Processing" state.  Then unassign the "Processing" status from the "processing" state

[2018-08-29 04:49] sheldmandu commented on #17844
@magento-engcom-team give me 2.2.5 instance

[2018-08-29 04:49] magento-engcom-team commented on #17844
Hi @sheldmandu. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-29 04:49] magento-engcom-team commented on #17844
Hi @sheldmandu, here is your [Magento instance](https://i-17844-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17844-2-2-5.engcom.dev.magento.com/admin](https://i-17844-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-29 04:58] sheldmandu commented on #17844
I've confirmed the issue exists on fresh dev instance provided.  Best way to observe the issue is after associating the new status as the default status for the processing state is to "Unassign" the Processing status from the processing state.  After that you will observe "Suspected Fraud" showing in the "Order State" dropdown when in Assign Order Status to State.

[2018-08-29 05:18] sheldmandu opened #17845 "Default Status for State Not Working"
### Preconditions
1. Vanilla Magento 2.2.5 installed
2. Single test product created (to allow an order to be placed)

### Steps to reproduce
1. In Backend - Navigate to Stores > Settings > Order Status
2. Create new status called "CUSTOM New"
3. Assign "CUSTOM New" status to the "new" state (5th down with label "Pending" - The fact that states dropdown shows Statuses instead of states is a separat

[2018-08-29 05:18] magento-engcom-team commented on #17845
Hi @sheldmandu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-29 06:28] chrom opened #17846 "Magento 2 don't support IPv6 for DB connection"
Information on your environment:
Magento 2.2.5

Steps to reproduce:
set configuration for DB connection in IPv6 format (unconditionally at this address you should have an appropriate service)
<img width="459" alt="screen shot 2018-08-29 at 09 48 22" src="https://user-images.githubusercontent.com/944310/44770555-16625f80-ab71-11e8-8e40-d20469be8cec.png">

- Expected results:
connection to DB
- Actu

[2018-08-29 06:28] magento-engcom-team commented on #17846
Hi @chrom. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento insta

[2018-08-29 06:31] LovelySetia commented on #9546
I have Same issue in Magento-2.12.

[2018-08-29 06:48] engcom-backlog-nickolas commented on #17846
Hello @chrom, thank you for your report. GitHub is intended for bug reports, please use https://github.com/magento/community-features for other suggestions like improvements or feature requests.

[2018-08-29 06:53] GovindaSharma commented on #17784
ok thank you.

[2018-08-29 06:54] chrom commented on #17846
@engcom-backlog-nickolas Is it impossible to connect the database is not it a bug?

[2018-08-29 07:10] sskulkarni commented on #17844
@engcom-backlog-nickolas
Actually Fundamental problem is with "State Label".
We don't have any "State Title."
Even In Order status Grid It should be displayed State Label rather than Status Label.
Should we create State Label From State Code By Removing "-" and creating White Space?
OR Crate New Field of "State Label"?

![order status settings stores magento admin](https://user-images.githubuserco

[2018-08-29 07:17] sskulkarni opened #17847 "Wrong State Title, Displaying Status Label Rather than State"
### Preconditions

1. Magento 2.2.5 Installed

### Steps to reproduce

1. In Backend - Navigate to Stores > Settings > Order Status

### Expected result

1.It Should display Label of State

### Actual result

1. It is displaying Label of Status.
![order status settings stores magento admin](https://user-images.githubusercontent.com/6185521/44771753-9f859080-ab89-11e8-9a0f-4b104ede3d30.png)

[2018-08-29 07:17] magento-engcom-team commented on #17847
Hi @sskulkarni. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-29 07:18] engcom-backlog-nazar commented on #17841
Hi @mpasquin the fix for this issue has already in 2.2-develop branch

[2018-08-29 07:19] pemann commented on #14667
My 2 cents:

Browser: Chrome
Magento: 2.2.x

If I have a lot of data in localstorage then there is a browser freeze between initial page load and loading of gallery and recently viewed data. Chrome call tree timings show that most of the time is spent adding and updating items in localstorage. JS heap is constantly full and needs GC. CPU usage shows 100%.

If I clear the localstorage, then loading

[2018-08-29 07:19] LovelySetia commented on #9546
@yourasheesh You got the solution of this problem?

[2018-08-29 07:27] engcom-backlog-nickolas commented on #17846
@chrom, this is duplicate of https://github.com/magento/magento2/issues/774, and already has corresponding ticket [MAGETWO-31246](https://jira.corp.magento.com/browse/MAGETWO-31246). It will be processed faster if you move this to https://github.com/magento/community-features

Best regards!

[2018-08-29 07:29] GovindaSharma commented on #17784
@magento-engcom-team .i will work on this issue and provide you solution.or is their another way you can suggest me.

[2018-08-29 07:34] engcom-backlog-nickolas commented on #17844
Hello @sheldmandu, thank you for your report and @sskulkarni for additional details.
We've acknowledged the issue and added to our backlog.

[2018-08-29 07:35] mpasquin commented on #17841
Hi @engcom-backlog-nazar

Thank you. Can you please provide me the commit number so I can patch Magento?

[2018-08-29 07:42] #17846 closed, assigned to nobody

[2018-08-29 07:44] engcom-backlog-nazar commented on #17841
@mpasquin No i can't find the commit, you can update to next 2.2.7 release

[2018-08-29 07:44] #17841 closed, assigned to nobody

[2018-08-29 07:49] engcom-backlog-nickolas commented on #17845
Hello @sheldmandu, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-29 07:52] engcom-backlog-pb commented on #17847
@sskulkarni, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-29 07:59] engcom-backlog-andrii commented on #17161
@shinesoftware, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-29 07:59] #17161 closed, assigned to nobody

[2018-08-29 08:01] engcom-backlog-andrii commented on #17822
@songofcode , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2018-08-29 08:03] engcom-backlog-nickolas commented on #17115
Hello @DanielRuf, I'm not able to reproduce this issue.
![peek 2018-08-29 11-00](https://user-images.githubusercontent.com/40755810/44774168-11a2a900-ab7b-11e8-892b-6666a9e336b2.gif)
Could please correct my steps or add more details?

[2018-08-29 08:05] engcom-backlog-nickolas commented on #16649
@Akif-dev, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-29 08:05] #16649 closed, assigned to nobody

[2018-08-29 08:13] DanielRuf commented on #17115
Did you export the config to the config file (dump it using the cli)?
Because when you change the setting there (even with config/import probably), it does not show the current setting or prefer it and still use the one from the backend.

[2018-08-29 08:32] engcom-backlog-nazar commented on #17798
Hi @duffner, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-29 08:35] engcom-backlog-pb commented on #17824
@aasim110, thank you for update. We cannot reproduce this issue. Please try to reproduce it on the clean Magento installation.
![2 1 9](https://user-images.githubusercontent.com/40756187/44775963-a5767400-ab7f-11e8-904e-abc971973b6e.gif)
![1](https://user-images.githubusercontent.com/40756187/44775970-aad3be80-ab7f-11e8-9688-e8fc3552c3d7.gif)

[2018-08-29 08:44] engcom-backlog-nickolas commented on #17115
@DanielRuf, please update steps to reproduce and add  **Actual Result** according to new details.

[2018-08-29 09:04] aasim110 commented on #17824
@engcom-backlog-pb  I think you have misunderstood my question, you are checking after upgrade but my issue is when customer place and order with braintree after upgrade then the issue happens.

please try to place new orders after upgrade via braintree payment method.
For your information issue haven't occurred every time.

[2018-08-29 09:07] engcom-backlog-pb commented on #17824
@aasim110, please update Steps to Reproduce.

[2018-08-29 09:09] IIxauII opened #17849 "Time Format is 12H although it should be 24H"
### Preconditions
1.  Magento: 2.2.5
2.  PHP: 7.1.20
3. MySQL: 5.7.23

### Steps to reproduce
1. login to Magento2 admin panel
2. set user locale of currently logged in account to German
3. set time format under Catalog / Catalog / Date & Time Custom Options / Time Format to 24h

### Expected result
1. under "orders" the time format of the incoming orders should be in 24h format and not 12h(am / p

[2018-08-29 09:10] magento-engcom-team commented on #17849
Hi @IIxauII. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-29 09:11] dmytro-ch commented on #17847
I will handle this issue. Thank you.

[2018-08-29 09:14] IIxauII commented on #17849
yes, confirmed issue on vanilla magento 2.2.5

[2018-08-29 09:53] engcom-backlog-pb commented on #17510
@CNanninga, we cannot reproduce the issue by the steps you provided.
![1](https://user-images.githubusercontent.com/40756187/44780365-76193480-ab8a-11e8-99dc-7fd16e25c1e8.gif)

[2018-08-29 09:57] sskulkarni commented on #17847
I have already resolved this.
Thanks @dmytro-ch

[2018-08-29 10:14] sheldmandu commented on #17844
@sskulkarni Its not quite clear what you're proposing and as states are harcoded as constants with a lot of logic around them I'm not sure exactly how adding user-friendly title to them would be best handled. Probably with some sort of an array lookup and a translation.  Although it would be nice to have a user-friendly titles for states, the more fundamental issue to address that the state is not

[2018-08-29 10:16] aasim110 commented on #17824
**Steps to reproduce**
- Run composer update command
- run php bin/magento setup:upgrade command
- remove /var/* and generated/*
- clear browser cache
- Add product to cart
- Use Braintree payment method
- Place an order
- issue is not getting every time, so you need to check after place order too many time
- please try to place an approx 10 to 15 orders

[2018-08-29 10:29] hitesh-wagento opened #17851 "Wishlist icon cut on Shopping cart page in mobile view"
### Summary

Wishlist icon cut on Shopping cart page in mobile view.

### Preconditions
1. Magento 2x - This issue reproduce in all version.

### Steps to reproduce
1. Login in your frontend.
2. Add any product in Cart.
3. Go to Shopping cart.
4. Switch mobile view.

### Expected result

1. Wishlist icon should not cut in mobile view.

### Actual result

1. Wishlist icon cut in mobile view.

![wis

[2018-08-29 10:29] magento-engcom-team commented on #17851
Hi @hitesh-wagento. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-29 10:29] hitesh-wagento commented on #17851
I am working on this issue.

[2018-08-29 11:02] koopjesboom commented on #10424
Best,

For the record only we are Running magento 2.2.5 with the same issue(s).

Best regards

[2018-08-29 11:07] samuel27m commented on #8227
Anyone looking to backport this issue, the workaround that worked for me with Magento 2.1.6 was commeting the line 144 of file vendor/magento/module-catalog-url-rewrite/Model/ProductUrlRewriteGenerator.php or app/code/Magento/CatalogUrlRewrite/Model/ProductUrlRewriteGenerator.php, depends on your folder structure

Still trying to find any problems with this approach, none so far

[2018-08-29 11:15] vtransy commented on #11170
In my case, my dev site set mode is production and I used command: bin/magento setup:static-content:deploy it just deploy static content for en_US and not deploy for en_AU so all static of AU site is missed. I have to deploy using command: bin/magento s:s:d en_AU then all works as normal

[2018-08-29 11:26] engcom-backlog-nazar commented on #17556
Hi @JoshuaFlood I'm not able to reproduce by following steps your described, but i'm believe that it's because i'm not have in file app/etc/env.php settings that you are described on comment, can you please show yours env.php ?

[2018-08-29 11:46] engcom-backlog-pb commented on #17849
@IIxauII, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-29 12:01] peterjaap commented on #8227
@samuel27m could you link to that exact line in the Github repo? In my 2.2.5 installation that line is `return $urls;` which I doubt is the line you mean.

[2018-08-29 12:09] engcom-backlog-nazar commented on #14522
Hi @erichagz thank you for you report, the fix for this issue already available in 2.2.6 release

[2018-08-29 12:10] #14522 closed, assigned to nobody

[2018-08-29 12:15] osrecio commented on #17851
@magento-engcom-team give me 2.2-develop instance

[2018-08-29 12:15] magento-engcom-team commented on #17851
Hi @osrecio. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-08-29 12:16] magento-engcom-team commented on #17851
Hi @osrecio, here is your [Magento instance](https://i-17851-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-17851-2-2-develop.engcom.dev.magento.com/admin](https://i-17851-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-29 12:36] ulftietze commented on #7930
Hey guys,

i stepped into the same problem and solved it with a quite dirty workaorund. May you can use this too.
You have to overwrite the function "processRowCategories" in Magento\CatalogImportExport\Model\Import\Product. All the category links, which are not included in this script are deleted.

Take yourself the time to bind the sku and the categoryIds ^^ Ain't nobody have time for this :danc

[2018-08-29 12:51] koopjesboom commented on #9466
Same issue at magento version 2.2.5

29114 Of the same images, almost 5 GB generated.

![image galery out of control](https://user-images.githubusercontent.com/15247780/44788647-e92aa700-ab9a-11e8-8359-49a0689c9740.png)

[2018-08-29 13:29] engcom-backlog-pb commented on #14404
@lillockey,we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-29 13:29] #14404 closed, assigned to nobody

[2018-08-29 13:33] CNanninga commented on #17510
@engcom-backlog-pb - Thanks for the demo.  Clearly in your reproduction steps, the value of your store cookie is still "default" even though you're browsing the separate admin domain.  How do you have your server configuration configured to accomplish this?  We have Nginx configuration for the admin-specific domain that sets the environment variable MAGE_RUN_TYPE to "store" and MAGE_RUN_CODE to "a

[2018-08-29 13:45] engcom-backlog-nazar commented on #17732
Hi @ezequielalba I'm not able to reproduce by following steps your described, in my case i use this example
[code]

[2018-08-29 13:53] cadencelabs-master commented on #10424
Yes - these issues are not fixed in 2.2.x - I updated my original fix / article with support for 2.2. The bug fixes mentioned above don't appear to directly address this specific issue (they address other bugs)

https://www.cadence-labs.com/2018/03/magento-2-use-default-value-store-view-scope-fix/

[2018-08-29 14:00] samuel27m commented on #8227
@peterjaap yes, exactly that one.
Do you know if there any problem that removing that line can bring up? I've ran many tests creating and removing product URL's but no errors so far.

[2018-08-29 14:11] mpropl commented on #11002
Where I can find a patch ?

[2018-08-29 14:19] engcom-backlog-nazar commented on #14856
Hi @jcolas15 the fix for this issue has already on 2.2-develop branch.

[2018-08-29 14:19] #14856 closed, assigned to nobody

[2018-08-29 14:34] engcom-backlog-pb commented on #17510
@CNanninga, I'm using Apache, not nginx, and I cannot help you with nginx configuration. Anyway, the problem with nginx is not a Magento 2 core issue, so I believe this ticket should be closed.

[2018-08-29 14:41] rickschippers commented on #11002
@mpropl You can also try the MageMojo extension. Have used in on a couple of installations and it seems to fix these issues as well: https://github.com/magemojo/m2-ce-cron

[2018-08-29 14:43] mpropl commented on #11002
MageMojo work for me for a while, but now it hangs and does not perform cron tasks :(

[2018-08-29 14:52] kandy commented on #11002
MageMojo use file locks, so it will not work on the multinode installation

[2018-08-29 14:53] CNanninga commented on #17510
@engcom-backlog-pb - You don't need to give me Nginx-specific instructions.  I would still very much appreciate you elaborating on how you are setting up the separate admin domain to resolve to the admin.  Are you setting MAGE_RUN_TYPE and MAGE_RUN_CODE environment variables to the admin store, or using some other mechanism?

[2018-08-29 15:01] koopjesboom commented on #5929
@maxhanna

Thank you for pointing this out.

Quote:
"**What does not make sense here is that someone is selling a solution to this rather then having the developers actually fix the problem. Thlassche vs magento devs, Thlassche 1, magento dev 0.** "

The magento community and other Open-source platforms will some day be a marketplace for solutions if this continues.
To mention: This particular pro

[2018-08-29 15:09] hypershopbv commented on #5929
This issue happens when data is migrated from Magento 1 to Magento 2. Magento 2 does not use the eav_attribute url_path, but the migration tool does migrate it. The code for URL rewrite has a check on this attribute. If it exists, the URL will be set from the url_path instead of the url_key. Deleting the migrated url_path values from the database and deleting the url_path from the eav_attributes t

[2018-08-29 15:14] AykutCevik commented on #17310
A Magento core dev may have a look since we can't provide any updates.

[2018-08-29 15:22] wget commented on #9466
@koopjesboom In this regard, the FOSS CLI tool I was mentioning [just above](https://github.com/magento/magento2/issues/9466#issuecomment-364142911) allows to clean the duplicated image content really fast compared to your GUI solution requiring to click links a bunch of time (I assume).

[2018-08-29 15:29] ericvhileman commented on #11002
@kandy you shouldn't be running the cron on multiple nodes.  Cron should be scheduled on one node and there is not an issue with file locks.

[2018-08-29 15:31] ericvhileman commented on #11002
@mpropl we're going to need more information about your issue if you would like us to help: https://github.com/magemojo/m2-ce-cron/issues/51

[2018-08-29 15:48] AykutCevik commented on #14238
Hello @orlangur you have referenced to a link but until now the issue isn't resolved in the latest Magento 2.2.5 version. Does it mean that no one fixed that so far? Also the jQuery version itself is now outdated and contains vulnerabilities.

[2018-08-29 15:49] kandy commented on #11002
@ericvhileman I does not think that use cron service on only one node is high-available solution. Also, this extension requires to run on unix-like OS and have to access to /proc/ filesystem.

[2018-08-29 16:27] miguelbalparda commented on #11002
+1 to what @ericvhileman said about running crons only in one node.

[2018-08-29 16:47] magento-engcom-team commented on #16712
Hi @mam08ixo
We are closing this ticket now, as this issue is already fixed with the following commits in 2.2-develop: 86b5bc0461ac2f69ba37902f4ef150dba88ce864 74151715c86449c1d45162904e2d40d304f030b8
Fix is expected to be delivered with patch 2.2.6

[2018-08-29 16:47] #16712 closed, assigned to nobody

[2018-08-29 17:42] salehawal opened #17856 "Products Deleted When Updating a Slected Catalog"
### Preconditions
1- php 7.1
2- magento 2.2.4

### Steps to reproduce
1- filter catalog view to view a certin products
2- select one catalog
3- update catalog status
video of issue regenerated here : https://drive.google.com/file/d/18qxaxOZ6qHN3aUPuGa6HXkBD4w0S7lMT/view?usp=sharing

### Expected result
1- selected product should be updated instead of deleting all the rest
https://drive.google.com/

[2018-08-29 17:43] magento-engcom-team commented on #17856
Hi @salehawal. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-08-29 19:05] dmytro-ch commented on #17845
Hello @sheldmandu,

the order default order status can be also configured per Payment Method. Each payment method should have its own predefined "New Order Status" value.
Please make sure you assign the newly created status to the payment method used for testing.
It can be done in ``Stores -> Configuration -> Sales tab -> Payment Methods -> select the payment method -> set the "New Order Status" c

[2018-08-29 20:15] gclift opened #17860 "Configurable product is showing options for simple products not assigned to the current store"
### Summary
When different simple products are available to a configurable product in different stores, the store filter is not being added to the collection on the category view page.

EXAMPLE
    ConfigurableProduct
          SimpleProduct1 (only available in StoreA)
          SimpleProduct2 (available in StoreA and StoreB)
          SimpleProduct3 (only available in StoreB)

StoreA is showing a

[2018-08-29 20:15] magento-engcom-team commented on #17860
Hi @gclift. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-08-30 06:08] sskulkarni opened #17861 "Customer Name Prefix shows white space when extra separator is addes."
White space option is added when extra separator is added.

### Preconditions

1. php7.1
2. Magento 2.2.5

### Steps to reproduce

1.In admin menu Store->Configuration
Select "Customer Configuration" under confifuration.
Add "Mr;Ms;Mrs;" in "Prefix Dropdown Options"
![prefix1](https://user-images.githubusercontent.com/6185521/44832451-855eb780-ac48-11e8-90cd-c2dfca54e27c.png)

### Expected result

[2018-08-30 06:08] magento-engcom-team commented on #17861
Hi @sskulkarni. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-30 06:15] sskulkarni commented on #17861
@magento-engcom-team give me 2.2.5 instance

[2018-08-30 06:15] magento-engcom-team commented on #17861
Hi @sskulkarni. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-30 06:16] magento-engcom-team commented on #17861
Hi @sskulkarni, here is your [Magento instance](https://i-17861-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17861-2-2-5.engcom.dev.magento.com/admin](https://i-17861-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-30 06:17] TejaBhagavan commented on #9482
@korostii, But the quantity of the products are different for each website. Then what to do?

[2018-08-30 06:35] sskulkarni opened #17862 "Customer DOB format should be changed from admin"
### Description

Now Customer DOB format can not be changed from admin
![customer_dob](https://user-images.githubusercontent.com/6185521/44833682-7b3eb800-ac4c-11e8-92f0-00a856b2a829.png)

### Expected behavior
Customer's DOB format should change from Admin
### Benefits
Various types of customer can take advantage.
### Additional information

[2018-08-30 06:35] magento-engcom-team commented on #17862
Hi @sskulkarni. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-30 06:40] sskulkarni commented on #17862
Yes, Can be reproduce in vanila instance.

[2018-08-30 06:44] engcom-backlog-nickolas commented on #17860
Hello @gclift, thank you for your report. I'm not able to reproduce this issue. Could you please provide more details?

[2018-08-30 06:52] engcom-backlog-nazar commented on #17732
@ezequielalba As the devDocs says, you need to use UiComponent for custom sections, so it's not best practic to use only Javascript. And in this case you should better to use Uicomponent on product page.

https://devdocs.magento.com/guides/v2.2/extension-dev-guide/cache/page-caching/private-content.html

[2018-08-30 07:30] engcom-backlog-nazar commented on #14037
Hi @ogcircle thank you for you report, The fix for this issue has already available in 2.1-develop branch.

[2018-08-30 07:30] #14037 closed, assigned to nobody

[2018-08-30 07:49] engcom-backlog-nickolas commented on #17825
@Tuuhea, thanks for details.
We've acknowledged the issue and added to our backlog.

[2018-08-30 08:00] engcom-backlog-nazar commented on #17302
Hi @AbdulKadir-Agoliya , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please try to reproduce this issue on a clean installation without any custom code.

[2018-08-30 08:06] engcom-backlog-pb commented on #17862
@sskulkarni , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-30 08:12] engcom-backlog-pb commented on #5929
@hypershopbv this is [Magento Data Migration Tool ](https://github.com/magento/data-migration-tool) issue.

[2018-08-30 08:14] osrecio commented on #17861
What is exactly the problem? If you decide select the empty dropdown the validation shout out : "This is a required field."

Thanks!

[2018-08-30 08:17] adaudenthun opened #17863 "Specify the table when adding field when applySelectionOnTargetProvider() in Magento\Ui\Component\MassAction\Filter.php"
Hi!
About the MassAction in admin Grid. When have a custom grid and apply custom \Magento\Sales\Model\ResourceModel\Order\Grid\Collection and override _initSelect for add join group etc ...
So, when we join some tables, we have the error 'ambiguous column name'.

### Preconditions
Since Magento version 2.2.0 to now.

1. Have a custom collection grid like :
`
class Collection extends \Magento\Sales

[2018-08-30 08:18] magento-engcom-team commented on #17863
Hi @adaudenthun. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-30 08:33] engcom-backlog-pb commented on #10146
We were not able to reproduce this issue on latest Magento 2 release.
@mzeis can you please confirm issue is reproducible on Magento 2.2.5?

[2018-08-30 08:36] adaudenthun commented on #17863
I can do a pull request for fix it ;)

[2018-08-30 08:36] engcom-backlog-nazar commented on #13267
HI @andrewhowdencom  , thank you for your report.
We were not able to reproduce this issue by following the steps you provided.
Please describe detail information about Steps to reproduce and Expected result, thank you.

[2018-08-30 08:40] LouNik1984 opened #17865 "import new products via csv: products are created with empty value when strings are too long"
### Preconditions
magento 2.2.5 on ubuntu 16.04 with apache and php 7.1.2. Magento is a fresh install, no custom theme nor any custom module is installed. Magento has been installed by downloaded the source via composer and then run the wizard from browser.

### Steps to reproduce
1. prepare a correct csv to create new products via backend. Use short values (less then 71 characters) for name/sku f

[2018-08-30 08:40] magento-engcom-team commented on #17865
Hi @LouNik1984. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-08-30 08:41] LouNik1984 commented on #17865
@magento-engcom-team give me 2.2.5 instance

[2018-08-30 08:42] magento-engcom-team commented on #17865
Hi @LouNik1984. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-30 08:42] magento-engcom-team commented on #17865
Hi @LouNik1984, here is your [Magento instance](https://i-17865-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17865-2-2-5.engcom.dev.magento.com/admin](https://i-17865-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-30 08:44] sskulkarni commented on #17861
No, Actually Required field is not a problem.
Problem is that is we add "Mr;Ms;Mrs;" in admin.
The front end should reflect 3 dropdowns
1. Mr
2. Ms
3. Mrs
But now It shows
1. Mr
2. Ms
3. Mrs
4.

It should not consider the empty field and should be avoided by code.
Thanks.

[2018-08-30 08:47] osrecio commented on #17861
but if you select the 4th option you get an error validation
<img width="427" alt="screen shot 2018-08-30 at 10 47 17" src="https://user-images.githubusercontent.com/1510831/44840779-1b431400-ac42-11e8-9d7b-38c26e0d3539.png">

[2018-08-30 08:56] sskulkarni commented on #17861
Yes, that's fine, But my concern is 4th position should not display.
Only 3 dropdowns should.
Because It leads to confusion.
Thanks

[2018-08-30 08:58] LouNik1984 commented on #17865
I can confirm that I can reproduce the issue on the vanilla instance you gave me. I don't know the exact character limit so I used one of the record that I tried to import in my magento instance. In the vanilla instance, you can see a bunch of products correctly imported while the last one to be imported (id = 17) is the one with the too long string and you can see that values are empty.

I'll att

[2018-08-30 09:06] osrecio commented on #17861
Ok that's ok.
Maybe someone from Magento will can help us to determine if is an issue.

[2018-08-30 09:13] salehawal commented on #17856
very strange ? i do have a marketplace plugin so maybe i should look into that as well, let me test it again today and replay to you with updates

[2018-08-30 09:17] salehawal commented on #17856
@engcom-backlog-nickolas .. can u try to follow the same steps in the video and filter the same filters and disable a single product and check

in your gif video your enabling a product not disabling

[2018-08-30 09:46] engcom-backlog-pb commented on #17865
@LouNik1984, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-30 09:50] koopjesboom commented on #9466
Best,

What you assume is wrong.
You ca press select all and then remove. It took 30 seconds on my server to delete/remove these images It was about 5GB. It also cleans all images that are not inside the database or connected to anything.

![cleanup duplicated images](https://user-images.githubusercontent.com/15247780/44844063-2306b680-ac4a-11e8-9298-5148f20fc91c.png)

![select all delete](https:/

[2018-08-30 09:55] elioermini commented on #14510
Hi @ishakhsuvarov we encountered this issue as well. Please let me know if you need any help.

[2018-08-30 10:03] jeet-rocktechnolabs commented on #9703
its still bug in the 2.2.3 , any solution?

[2018-08-30 10:05] wget commented on #9466
@koopjesboom Glad to hear this is possible using the CLI :)
met vriendelijke groeten :)

[2018-08-30 10:36] zakalwe2016 commented on #12273
Does anyone know what the state of the PHP 7.2 project is? The project was active with weekly discussions but has fallen silent for some time.

[2018-08-30 10:40] abhaykhatariya opened #17868 "Status can not be changed based on storeview level"
Status can not be change for specific store view level
If you change for one storeview it will change the value for all existing store view

### Preconditions
1. Magento 2.2.5
2. Multiple storeviews

### Steps to reproduce
1. Add more then one store view
2. Go to Magento backend Catalog --> Product and edit one product
3. Select store view from left top section
4. Change Product status and it will

[2018-08-30 10:40] magento-engcom-team commented on #17868
Hi @abhaykhatariya. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-30 10:42] kandrejevs commented on #17810
can be closed, it was bug due specific docker setup

[2018-08-30 10:42] #17810 closed, assigned to nobody

[2018-08-30 10:42] abhaykhatariya commented on #17868
@magento-admin @magento-devops
Please take a look this issue as scope should be store view.
Right now it set as website level

[2018-08-30 10:45] abhaykhatariya commented on #17868
Please find below solution for this. I have done change using script but it should be default store view selected
Currently, scope selected is website

![status](https://user-images.githubusercontent.com/23476956/44847088-f49bd200-ac6f-11e8-9c83-9ae77d40be12.png)

[2018-08-30 10:58] christian-rizza commented on #9066
@zuzuman in the around method you're not calling the callable function $proceed in the around interceptor.
I think a slightly different version of your plugin would be using a before method instead.

`
...
use Magento\CatalogSearch\Model\ResourceModel\Fulltext\Collection;
use Magento\Framework\DB\Select;
...
public function beforeSetOrder(Collection $collection, $attribute, $order = Select::SQL_DE

[2018-08-30 11:20] #14459 closed, assigned to nobody

[2018-08-30 11:34] osrecio commented on #17861
@engcom-backlog-nickolas Can you help to decide if is issue or not?

[2018-08-30 11:50] ronak2ram commented on #17861
Hello @sskulkarni
Semicolon (;) separated values means put Semicolon (;) for separate two value.
You have to put like **Mr;Ms;Mrs**
Not need last Semicolon (;)

[2018-08-30 12:05] eharvest commented on #11263
@koopjesboom I totally understand the feeling in your guts about Magento. I'm a developer in Australia and in the past three years I devoted myself to Magento2 developing but I've only ever built 4 Stores, one in Magento1 and three in Magento 2. I can easily make triple the money by working at any local supermarkets rather than a Magento 2 developer.

I started to use Magento on 2.1.0. There will

[2018-08-30 12:07] engcom-backlog-pb commented on #17868
@abhaykhatariya, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-30 12:11] engcom-backlog-nazar commented on #13232
Hi @KSaho We were not able to reproduce this issue by following the steps you provided.
If with version of python 3.6 this issue no longer exist, maybe the problem not in magento side ?

[2018-08-30 12:12] ketan3193 commented on #5788
We are still facing an issue with Payflow express with API.
getting an error like "Field format error: Invalid Token"

[2018-08-30 12:17] KrunoSaho commented on #13232
I have had this issue with Python 3.7 as well and with Magento 2.2.5. I really do not know what is causing this, however it is much rarer now. I do not know how the server's MySQL query leaks out to an external connection. I have looked at the Magento code where the REST call is returned, and it doesn't seem to be an issue within the Magento 2 code as far as I can see. MySQL fails the query, but t

[2018-08-30 12:26] engcom-backlog-pb commented on #7739
Duplicate of #14952

[2018-08-30 12:26] #7739 closed, assigned to nobody

[2018-08-30 12:31] engcom-backlog-nazar commented on #13232
@KrunoSaho  yes seems like it's a bug,  response must include only execption or details in log file, but not query details.

[2018-08-30 12:35] engcom-backlog-pb commented on #17510
@CNanninga, I have made no specific settings for admin store. Only changed ServerName for VirtualHost.

[2018-08-30 12:37] engcom-backlog-pb commented on #17639
@topranavp, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-30 12:37] #17639 closed, assigned to nobody

[2018-08-30 12:37] KrunoSaho commented on #13232
It is bother returned, and in the log file.

[2018-08-30 12:40] ihor-sviziev commented on #17781
Duplicate of https://github.com/magento/magento2/issues/14952

[2018-08-30 12:40] #17781 closed, assigned to josefbehr

[2018-08-30 12:45] kvydiuk opened #17869 "In customer account locked message contact email fetched from default scope config"
### Preconditions

1. Magento 2.1.8 CE
2. Ubunut 16.04, MariaDB, PHP7.0.1, Nginx

### Steps to reproduce

1. Multiple websites/stores installation
2. Adjust configuration *Stores -> Configuration -> General -> Contacts -> Email Options -> Send Emails To*, set "1-test@email.com" value to default store view and "2-test@email.com" value to particular store view
3. Go to login page. Try to login with

[2018-08-30 12:45] magento-engcom-team commented on #17869
Hi @breg-13. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-30 12:47] nilesh111091 commented on #17781
Dotmailer extension is conflicting with emails.
Any solutions?

On Thu, 30 Aug 2018, 6:11 p.m. Ihor Sviziev, <notifications@github.com>
wrote:

[2018-08-30 13:13] skymeissner commented on #7739
I have the same problem but the solution from @stephan-cream did not work for me. To make magento send my invoice mails again, until the official fix is published, I changed vendor\magento\framework\Mail\Template\TransportBuilderByStore

[code]

to

[code]

[2018-08-30 13:30] mihailmeleca commented on #8268
Have same issue and I'm afraid it is not java related.
I'm doing a call to REST API like this
https://magento.host/rest/V1/products/test?editMode=false&storeId=1&forceReload=true
and I got this (part of JSON which is related to problem) :
[code]
As you can see, sometimes "value" is a String, and sometimes (category_ids) is an array of Strings. It is hard to deserialize from JSON. We can't define a

[2018-08-30 13:39] Sunil-Nethues commented on #17828
hi @magento-engcom-team any information on this ticket please.

Regards
Sunil

[2018-08-30 13:54] CNanninga commented on #17510
@engcom-backlog-pb - Then there are some additional reproduction steps.  We are not just pointing two different domains to the same install and just browsing to /backend on one but not the other.  We are locking down the admin domain so that it will always (and only) load the admin.

For full reproduction steps, please make sure you have configuration like the following in the array in env.php:

`

[2018-08-30 14:34] engcom-backlog-nazar commented on #13232
@KrunoSaho still not able to reproduce this, can you please, if you have time, to provide a short video about this ?

[2018-08-30 14:39] engcom-backlog-andrii commented on #17641
@marionvdw, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-08-30 14:39] #17641 closed, assigned to nobody

[2018-08-30 14:55] engcom-backlog-pb commented on #17869
@breg-13, thank you for your report.
This issue is already fixed in the latest Magento 2 versions.

[2018-08-30 14:56] #17869 closed, assigned to nobody

[2018-08-30 15:00] KrunoSaho commented on #13232
I will try to capture this issue on video when I am at work.

[2018-08-30 15:17] adamj88 commented on #15115
@engcom-backlog-nazar can you confirm which PR it was that fixed this issue please?

[2018-08-30 15:36] bobemoe commented on #16358
@hostep, thanks for the thought, but I'm not using multiple websites so I'm not sure its the same bug.

However, I can confirm the original issue is now fixed in 2.2.5.

[2018-08-30 15:58] clementblanco commented on #6221
There is a `.htaccess.sample` surely that file should be reverted to whatever the vanilla version is, not the `.htaccess` one.

This sounds pretty dumb to me. How are we supposed to deploy the application with composer when running `composer install` if the `.htaccess` gets reset?

[2018-08-30 16:03] wpalmer commented on #6221
Since this thread was originally opened, the list of files which "composer install" overwrites has only gotten larger. Much larger.

[2018-08-30 16:11] clementblanco commented on #6221
💩

[2018-08-30 16:44] ezequielalba commented on #17732
@engcom-backlog-nazar I have read the devdocs, a lot of times, but thanks for the heads up again!

You see, I wanted a reason for that because you say it is bad practice, but in the Magento Core, there are JS files that use the customerData (`Magento_Customer/js/customer-data`) without being included within an uiComponent, also, there are a lot of examples across the web that follows the same step

[2018-08-30 19:11] milossh opened #17873 "Configurable products - configurations - add products manually"
### Preconditions
1. Magento 2.2.5
2. PHP 7.0

### Steps to reproduce
1. Import an configurable product, without existing configuration, ie no associated products.
2. Edit the configurable product
3. Create new configuration with one attribute an several values
4. Prior to saving product, remove a few of the existing created virtual products
5. Clik add products manualy, and add several simple pro

[2018-08-30 19:11] magento-engcom-team commented on #17873
Hi @milossh. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-08-30 19:36] milossh commented on #17873
Yes.

[2018-08-31 02:35] anant-svc commented on #17868
@abhaykhatariya @engcom-backlog-pb Instead of changing status attribute you can make use of VISIBILITY that's on STORE VIEW level already.

[2018-08-31 02:41] LiamKarlMitchell commented on #11899
Still a problem.

[2018-08-31 02:42] anant-svc commented on #17873
@milossh Did you checked how Magento 2 adds simple products to configurable? I think you have missed some steps while importing products. That cause you need to add 1 simple product first.

You need to note all the tables needed to add product.

[2018-08-31 02:43] Ananth747 commented on #17868
@abhaykhatariya @engcom-backlog-pb Instead of changing status attribute you can make use of VISIBILITY that's on STORE VIEW level already.

[2018-08-31 02:43] Ananth747 commented on #17873
@milossh Did you checked how Magento 2 adds simple products to configurable? I think you have missed some steps while importing products. That cause you need to add 1 simple product first.

You need to note all the tables needed to add product.

[2018-08-31 03:03] Ananth747 commented on #17860
Can you show the store view structure you created? (A admin grid screenshot will be preferred)

[2018-08-31 03:26] j-hapiczuk commented on #10382
@magento-engcom-team Can I reopen this issue? This is still occurring as the original ticket states. I can supply necessary info as required for this issue.

[2018-08-31 03:29] Ananth747 commented on #17804
@michelve Are you using temando shipping module?

[2018-08-31 03:34] michelve commented on #17804
@Ananth747 - yes it is enabled (Temando_Shipping) but im using shipstation

[2018-08-31 05:02] ghost opened #17875 "Magento 2.2.4 - Paypal Express Checkout - Customer not notified (Email) on Order Paid"
### Preconditions
1. Magento 2.2.4
2. Payment Method: Paypal Express Checkout
3. Setting:

### Steps to reproduce
1. Customer Makes a successful purchase using Paypal Express Checkout.
2. Order Status changes to Order Paid.
3. But (The order confirmation email was sent) and Comments show "Customer Not Notified"

### Expected result
On Order Paid customer should receive an order confirmation email.

[2018-08-31 05:02] magento-engcom-team commented on #17875
Hi @AlectoMysticCode. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-08-31 05:40] #17731 closed, assigned to nobody

[2018-08-31 06:11] engcom-backlog-nazar commented on #17875
Hi @AlectoMysticCode  We were not able to reproduce this issue by following the steps you provided.
Also magento sends mails use function of php mail() did you check configuration smtp server  ?

[2018-08-31 06:18] AlectoMysticCode commented on #17875
Hi, Thanks for looking into this.

Yes, all the emails are working fine, when we click on send mail in the order page, it is sending email to the customer.

The only time it is not sending email is when any customer use Paypal express checkout and successfully pay and order status is changed to Order Paid, but the customer is not notified about the order. The email works for other payments. Is the

[2018-08-31 06:49] engcom-backlog-nazar commented on #17875
@AlectoMysticCode
The issue has been fixed in magento/magento2#13898 by @pmclain in 2.2-develop branch
Related commit(s):

https://github.com/magento/magento2/commit/975137b58353bcef780e34e679fe8b115f98fe34
https://github.com/magento/magento2/commit/aec7af9c3b0ebf733d9c94fc3f34696e4cd87769
The fix  available in 2.2.5 release.

[2018-08-31 06:49] #17875 closed, assigned to nobody

[2018-08-31 06:58] AlectoMysticCode commented on #17875
@engcom-backlog-nazar

I have already applied the patch a long time but still, no luck and patch is still not fixing the issue.

At can please explain some debugging step to debug this issue.

Thanks.

[2018-08-31 07:01] engcom-backlog-nazar commented on #17875
@AlectoMysticCode Did you try to update to 2.2.5 ?

[2018-08-31 07:01] sskulkarni commented on #17849
@IIxauII , Actually It looks like "Date & Time Custom Options" only applies on product custom option.
It should be some configuration for Date-Time in other places.
Its should be considered as "Feature Request."
Thanks

[2018-08-31 07:04] engcom-backlog-andrii commented on #17595
@noahm96 ,thank you for your report.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-31 07:04] #17595 closed, assigned to nobody

[2018-08-31 07:07] engcom-backlog-nazar commented on #15115
@adamj88 No i can't find any commit, but tested it on 2.2-develop branch, the issue not exist

[2018-08-31 07:10] AlectoMysticCode commented on #17875
@engcom-backlog-nazar  No, but did apply all the patches available for 2.2.5

[2018-08-31 07:28] AlectoMysticCode commented on #17875
@engcom-backlog-nazar Okay, thanks for your help, will debug more and get back with more data to debug. Thanks.

[2018-08-31 07:54] MaximilianSchwarz commented on #7724
The problem also exist in the newest Magento 2.2.5.

[2018-08-31 08:32] engcom-backlog-pb commented on #17873
@milossh, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![1](https://user-images.githubusercontent.com/40756187/44901997-7db71580-ad11-11e8-8fbe-22d4d2bbe5f8.gif)

[2018-08-31 08:36] andrewhowdencom commented on #10292
I think `create-project` does the initial installation

Yes, I understand it doesn't imply it -- but usually whenever I start a project, the first thing I do is commit it to version control. It's like:

[code]

Then, in a new dir,

[code]

In that case, everything in `.gitignore` in the `composer` projects will not be present, by virtue of cloning the repository from upstream again.

It's in this

[2018-08-31 09:12] PeteZero1 commented on #11899
@orlangur sorry, what is corresponding issue are you referencing? This issue is the only one I am aware of and I believe it was closed but the issue still remains? (Not the direct fault of a 3rd party module, but additional data added by 3rd party modules is causing core to fail)
Apologizes if there is another issue I am not aware of.

[2018-08-31 09:15] engcom-backlog-nazar commented on #9424
@tanvandinh close this issue as duplicate ->https://github.com/magento/magento2/issues/17556

[2018-08-31 09:15] #9424 closed, assigned to nobody

[2018-08-31 09:16] engcom-backlog-nazar commented on #17556
Hi @JoshuaFlood , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-31 09:36] evilprophet commented on #17023
I also found other fid for this issue.
File: `Magento\CatalogImportExport\Model\Import\Product`
Method: `_saveProducts`
After change line:
[code]
to:
[code]
then column won't be set in import data, and url_key won't be set to empty.

[2018-08-31 09:52] karangar opened #17878 "Magento 2.2.5 IE Browser into Qty not display in edit cart product."
### Preconditions

1. Magento 2.2.5 (sample data)
2. PHP 7.0
3. IE Browser version 11.0.9600.18537 || 11.0.9600.17843 || 11.0.9600.17843

### Steps to reproduce

1. Add to cart Configurable or Simple  Product
2. Press Cart -> Edit Product

### Expected result

1.Google Chrome Browser result
![config_update_cart_chrome](https://user-images.githubusercontent.com/34768419/44905753-ab5f8700-ad30-11e8-

[2018-08-31 09:52] magento-engcom-team commented on #17878
Hi @karangar. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-31 10:07] andrewhowdencom commented on #13267
Hi @engcom-backlog-nazar

To reproduce this issue would require extensive effort. The above describes the technical nature of the problem; to reproduce it it should be a case of inserting

[code]

to the page HTML somewhere immediately after the `require` magic that brings in `ga.js`.

[2018-08-31 10:35] RishabhRkRai commented on #5863
I also got the same error. But we have Single Store Mode enabled. Using Magento 2.1.9

If we see the product URL, it correct in elsewhere like Search, in another category. But the same product in another category have the url like **catalog/product/view/id/13761/s/proudct_name/category/category_id**

When we resassociate that product from that category and  save the category, URL get corrected. Bu

[2018-08-31 10:39] engcom-backlog-pb commented on #17878
@karangar, please add browser version into the Preconditions section.

[2018-08-31 10:51] karangar commented on #17878
IE Browser version 11.0.9600.18537 || 11.0.9600.17843 || 11.0.9600.17843

[2018-08-31 10:54] engcom-backlog-pb commented on #17780
@Thundar please provide more clear steps to reproduce. I'm getting
`Vendor_Module is not an installed composer package`
error when trying to `module:uninstall` any module installed by Composer.

[2018-08-31 11:04] engcom-backlog-pb commented on #17588
@simonworkhouse feel free to open a new issue if you have any updates.

[2018-08-31 11:04] sidolov commented on #14248
Hi @jb-dg. Thank you for your report.
The issue has been fixed in magento/magento2#17855 by @eduard13 in 2.1-develop branch
Related commit(s):
 - [99eb5213ac544f919bc2e3acb49ba1834c9b7ac2](https://github.com/magento/magento2/commit/99eb5213ac544f919bc2e3acb49ba1834c9b7ac2)

The fix will be available with the upcoming 2.1.16 release.

[2018-08-31 11:15] engcom-backlog-nazar commented on #14510
Hi @elioermini Hi @victortodoran Can you check attachments i'm not able to reproduce this issue. Can you please provide more information about create attribute ?
![customer-attr](https://user-images.githubusercontent.com/40756439/44909468-240e1580-ad28-11e8-8c95-2b64f7bb9611.gif)

[2018-08-31 11:36] Thundar commented on #17780
@engcom-backlog-pb
Ok, you can uninstall only installed packages. This is the procedure to uninstall Magento_CmsSampleData. Please note that you will get the same same result with any module, is it maintained from Magento or third parties.
1. Install Magento with composer
2. Install Sample Datas with `bin/magento sampledata:deploy`
3. Complete Sample Data installation: `bin/magento setup:upgrade`

[2018-08-31 11:41] engcom-backlog-nazar commented on #14510
@victortodoran @elioermini With boolean type also default value save.
![customer2-attr](https://user-images.githubusercontent.com/40756439/44910432-d4314d80-ad2b-11e8-8c95-b0ab74ba44da.gif)

[2018-08-31 12:46] engcom-backlog-nazar commented on #8933
Hi @w130pmpo , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-31 12:47] engcom-backlog-pb commented on #17780
@Thundar, thank you for your clarification.
We've acknowledged the issue and added to our backlog.

[2018-08-31 13:10] engcom-backlog-pb commented on #17878
@karangar, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-08-31 13:28] Thundar commented on #17780
@engcom-backlog-pb Thanks

[2018-08-31 13:48] engcom-backlog-pb commented on #10292
@andrewhowdencom
Now Steps to Reproduce seems to be clear, but I cannot reproduce this issue.

[2018-08-31 13:52] tcurilla opened #17880 "Product name change within creating new order in admin"
### Preconditions

1. Magento v2.2.5

### Steps to reproduce

1. Fresh install magento
2. Create multistore
3. create product with different name for each store
4. create customer for second store
5. create new order and select customer
6. add product to order -> you will see right name ins Items Ordered
7. click on "Update Items and Quantities" button

### Expected result

1. Same name of the pro

[2018-08-31 13:52] magento-engcom-team commented on #17880
Hi @tcurilla. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-08-31 13:57] tcurilla commented on #17880
@magento-engcom-team give me 2.2.5 instance

[2018-08-31 13:57] magento-engcom-team commented on #17880
Hi @tcurilla. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-08-31 13:58] magento-engcom-team commented on #17880
Hi @tcurilla, here is your [Magento instance](https://i-17880-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17880-2-2-5.engcom.dev.magento.com/admin](https://i-17880-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-08-31 14:01] coatesjonathan opened #17881 "Can't log into Magento Admin, "Invalid Captcha" error appears"
### Summary

I cannot login to Magento admin, I just get this response every time, when I initially entered my login details, there was no captcha there, it appears after I try to login.

<img width="884" alt="screen shot 2018-08-31 at 14 58 54" src="https://user-images.githubusercontent.com/19817306/44916756-6b97a000-ad2e-11e8-9207-5104f768a352.png">

Then once I've tried again, using the captcha

[2018-08-31 14:01] magento-engcom-team commented on #17881
Hi @coatesjonathan. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mage

[2018-08-31 14:02] engcom-backlog-pb commented on #17881
@coatesjonathan, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-08-31 14:02] #17881 closed, assigned to nobody

[2018-08-31 14:08] tcurilla commented on #17880
@magento-engcom-team I confirm that issue was reproduce on vanilla Magento instance with following steps

[2018-08-31 14:08] mslabko commented on #12426
@KarlDeux did you have PR with a fix for configurable products?

[2018-08-31 14:25] #17880 closed, assigned to nobody

[2018-08-31 14:33] clivewalkden commented on #13443
Still present in 2.2.5

[2018-08-31 14:34] josephmcdermott commented on #17023
@evilprophet take a look at the above PR, I think that covers all scenarios that I can tell. Of course it would be great to get feedback from @magento-engcom-team also to perform their own tests.
- https://github.com/magento/magento2/pull/17879

[2018-08-31 14:35] bakkerpj commented on #16793
Can confirm the same issue.
- Magento Commerce 2.2.5, Enterprise Edition
- Tried with PHP 7.0.30 NTS / 7.1.13 ZTS
- Partially R/O filesystem
- Split database with Galera backend, MariaDB 10.0.34
- With or without any specific cronjobs specified

Error (note the `Dynamic/Developer.php:50` here vs the `AbstractFactory.php:111` above):
[code]

[2018-08-31 14:41] engcom-backlog-pb commented on #17510
@CNanninga, thank you for update.
We've acknowledged the issue and added to our backlog.

[2018-08-31 14:44] evilprophet commented on #17023
@josephmcdermott Yes, you are right I forgot about case when there is a `name` without `url_key`. Your solution looks a bit better.

[2018-08-31 14:46] zipnfc commented on #16531
PHP Fileinfo module installation fixed it for us - many thanks for the solution

[2018-08-31 15:06] annismckenzie commented on #17753
You can get around this if you at least know the relative path to the vendor dir outside of the project (e.g. you put `"vendor-dir": "../composer_vendor"` into your composer.json file) – I got that far but am now stuck at the problem that the template loading mechanism disallows fetching view files from a directory that's outside the Magento root. It is a security feature but the vendor directory

[2018-08-31 15:52] amenk commented on #7298
Are those workarounds still need in 2.2.x ?

[2018-08-31 15:56] amenk commented on #7298
Looks like it should be all fixed: https://github.com/magento/magento2/issues/6671#issuecomment-330999486

[2018-08-31 16:03] vbuck commented on #17753
Yes, @annismckenzie, that's right: `vendor-dir` is an alternative parameter; however, my main problem is that the bootstrapper itself does not have any regard for absolute paths. It always assumes relative.

You are also right about the follow-up problem, in that views cannot be fetched outside of the Magento root. I hadn't considered `vendor` as an exemption from that feature but it makes sense t

[2018-08-31 17:09] ralbin commented on #16793
Also confirmed.
Magento Cloud 2.2.5

$ php bin/magento --version
Magento CLI version 2.2.5

$ php -v
PHP 7.1.21 (cli) ( ZTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.1.21, Copyright (c) 1999-2018, by Zend Technologies
    with blackfire v1.22.0~linux-x64-zts71, https://blackfire.io, by Blackfire

[2018-08-31 18:29] marco7319 commented on #5863
same problem with 2.2.5
is it a problem of magento or magmi?

[2018-08-31 20:22] navarr opened #17884 "Magento\Ui\Component\ConfigurationTest fails with third party module installed"
### Preconditions

1. Magento 2.2-dev installed by cloning repository
2. vertex/module-tax installed through composer
3. Integration test configuration setup

### Steps to reproduce

[code]

### Expected result

1. Test completes successfully.  "OK"

### Actual result

1. Test fails with `Magento\Framework\Exception\ValidatorException`

[code]

Additionally, `\Magento\Framework\Filesystem\Director

[2018-09-01 00:26] clish1 commented on #12366
Here is a link to the solution.  I have not completed it yet.
https://devdocs.magento.com/guides/v2.2/payments-integrations/payment-gateway/error-code-mapper.html

[2018-09-01 04:54] sodobean commented on #13746
Experiencing the same problem in 2.2.4 and now in 2.2.5. Server we are using has and internal dns, server resolves with url http://magentotest, server centos 7 with apache.

Just to be able to test the cart, I had to comment out this code in Validator.php
`   public function validate(\Magento\Framework\App\RequestInterface $request)
    {
        $formKey = $request->getParam('form_key', null);
//

[2018-09-01 12:07] saiwingwu commented on #11946
When could this fix be backported to 2.1.14?

[2018-09-01 12:09] hfgoulding commented on #12366
This is great news, I would appreciate it when you complete the solution.

thanks

Hugh

On 08/31/2018 07:27 PM, clish1 wrote:

--

[2018-09-01 13:15] arielmorry commented on #12695
I had the same issue on 2.2.5.

I changed my custom Visual Swatches Attributes to Drop Down > flush cache > changed it again to Visual Swatches.

Now I see Visual Swatches instead of Drop Down.

[2018-09-01 14:36] shorav13 commented on #7917
Any solution guys??Facing same issue

[2018-09-01 15:30] vteofilo commented on #15201
This worked for me:

As I have a specific function to update inventory that extends \Magento\CatalogInventory\Model\StockRegistry, I called inside it, but if you use Magento itself you should create a plugin to be called after you have run the function Magento\CatalogInventory\Model\StockRegistry::updateStockItemBySku(). At each inventory update, this function updates the 'is_in_stock' status of t

[2018-09-01 15:34] vteofilo commented on #15201
This worked for me:

As I have a specific function to update inventory that extends \Magento\CatalogInventory\Model\StockRegistry, I called inside it, but if you use Magento itself you should create a plugin to be called after you have run the function **Magento\CatalogInventory\Model\StockRegistry::updateStockItemBySku()**. At each inventory update, this function updates the **is_in_stock** statu

[2018-09-01 15:35] vteofilo commented on #16209
This worked for me:

As I have a specific function to update inventory that extends \Magento\CatalogInventory\Model\StockRegistry, I called inside it, but if you use Magento itself you should create a plugin to be called after you have run the function **Magento\CatalogInventory\Model\StockRegistry::updateStockItemBySku()**. At each inventory update, this function updates the **is_in_stock** statu

[2018-09-01 15:35] vteofilo commented on #17388
This worked for me:

As I have a specific function to update inventory that extends \Magento\CatalogInventory\Model\StockRegistry, I called inside it, but if you use Magento itself you should create a plugin to be called after you have run the function **Magento\CatalogInventory\Model\StockRegistry::updateStockItemBySku()**. At each inventory update, this function updates the **is_in_stock** statu

[2018-09-01 15:35] vteofilo commented on #4108
This worked for me:

As I have a specific function to update inventory that extends \Magento\CatalogInventory\Model\StockRegistry, I called inside it, but if you use Magento itself you should create a plugin to be called after you have run the function **Magento\CatalogInventory\Model\StockRegistry::updateStockItemBySku()**. At each inventory update, this function updates the **is_in_stock** statu

[2018-09-01 17:08] Ananth747 commented on #17804
@michelve If you don't need Temando_Shipping extension then you can disable it and test again

[2018-09-01 19:53] gwharton commented on #12273
If you want to avoid messing with package dependencies by hacking in alternative versions of php and you want to stick with a stock distro then there is currently no supported version of ubuntu compatible with magento 2.2. Your only option is ubuntu 17.10 which is end of life.

[2018-09-01 21:54] winstonojeda commented on #12273
Thank you for clarifying. I appreciate it.

[2018-09-01 22:18] Keerat666 opened #17887 "Not able to change theme in Magento 2.1.14"
### Summary
Preconditions:
1. Magento CE 2.1.14 with sample data in installed using web installer
2. It is on a remote server with CPanel installed
3. PHP 7.0.31

### Steps to reproduce:
1. Download a theme compatiable with Magento 2.1.14
2. Copy all the necessary files to the respective directories
3. Execute 'php bin/magento setup:upgrade'

### Expected result:
The setup:upgrade command executes

[2018-09-01 23:47] milossh commented on #6173
This is still reproducible in vanilla 2.2.5, just so you know.

[2018-09-02 01:29] nikoelgatito commented on #16779
Hi,

Magento Open Source v2.2.5

We encountered a very similar issue when trying to cancel an order with a coupon code applied that had been created by a Guest that later created an account to which the order had been assigned.

In our case, the issue has been triggered when manually cancelling the order from the backend.
____________________________________________________________________

**As a

[2018-09-02 03:47] milossh commented on #14850
@ishakhsuvarov This is still a bug in magento 2.2.5 .

[2018-09-02 07:37] hostep commented on #14850
@artskeem, @milossh: it is fixed in 2.2.4 and 2.2.5 on the contact page, I've just verified this on a vanilla installation.
Make sure you have no customisations done where it still uses a `id="email"` somewhere. Maybe you overwrite the `authentication-popup.html` file in your custom theme? Or maybe some 3rd party module inserts that somewhere?

[2018-09-02 07:51] rogyar commented on #17862
Hi @sskulkarni. Could you provide more information about the issue? The customer's DOB is editable from admin panel in the latest 2.2 and 2.3 mainline branches.

![image](https://user-images.githubusercontent.com/2148959/44953436-b5e76100-ae95-11e8-8cd3-045e8c9b5794.png)

[2018-09-02 12:51] Adambean commented on #12273
You could try installing an older version of PHP on Ubuntu. The `php` package is in fact just a meta package pointing to a more specific version depending on which version of Ubuntu you're running.

https://packages.ubuntu.com/search?keywords=php

Therefore if you want an older version of PHP you should be able to install it with more specific package names such as `php7.0` and `php7.0-fpm`. (If y

[2018-09-02 13:13] rogyar commented on #17131
[code]
According to the trace above, the issue is related to the Temando_Shipping module. Contact the extension vendor support in order to resolve this issue.

[2018-09-02 16:01] mzeis commented on #10146
Hi @engcom-backlog-pb,

yes I still can reproduce it in `developer` and `production` mod, both using `bin/magento dev:tests:run unit` and more quickly by executing a subset of the tests directly.

Steps to reproduce including Composer installation:

[code]

These are the 7 failures been mentioned by @Chuvisco88.

[2018-09-02 17:12] magicaner opened #17890 "Magento 2.2.5 Product swatches does not shows correct value for related store view"
### Preconditions

1. Magento 2.2.5 (sample data)
2. PHP >= 7.0

### Steps to reproduce

1. Install fresh magento with default simple data
2. Edit swatch values for `size` attribute.
3. Change value for default store to `XS D`. And for admin store set `XS A`
![image](https://user-images.githubusercontent.com/1652800/44958591-050bb100-aeeb-11e8-8a29-4de6e405c021.png)
4. Run bin/magento index:reinde

[2018-09-02 17:13] magento-engcom-team commented on #17890
Hi @magicaner. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-02 17:49] sajidunnar commented on #11114
@advcha

Thanks, man I was having the issue with  Class 'PHPUnit_Framework_TestCase' not found in ****app/code/WebShopApps/MatrixRate/test/Unit/Block/Adminhtml/Form/Field/ExportTest.php on line 37 by following your suggestion it is fixed now.

Thanks

[2018-09-02 17:58] minglethepringle opened #17892 "Magento 2.2.5 - No shipping methods available after any edit during reorder"
### Preconditions

1. Magento 2.2.5
2. PHP >= 7.0

### Steps to reproduce

1. Have any shipping method enabled. I chose flat rate.
2. Place an order.
3. Go to Sales -> Orders -> select order -> Reorder -> Change anything in the order (product qty, price, shipping details) -> Click "Get shipping methods and rates"

### Expected result

1. It should give me some shipping methods. In my case, flat ra

[2018-09-02 17:58] magento-engcom-team commented on #17892
Hi @minglethepringle. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Ma

[2018-09-02 18:02] minglethepringle commented on #17892
@magento-engcom-team give me 2.2.5 instance

[2018-09-02 18:02] magento-engcom-team commented on #17892
Hi @minglethepringle. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-02 18:03] magento-engcom-team commented on #17892
Hi @minglethepringle, here is your [Magento instance](https://i-17892-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17892-2-2-5.engcom.dev.magento.com/admin](https://i-17892-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-02 18:08] minglethepringle commented on #17892
@magento-engcom-team no

was not able to reproduce issue on vanilla Magento instance v2.2.5.

[2018-09-02 18:22] Ashok5000 opened #17893 "Something went wrong while saving this configuration: Area is already set"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.

### Expected result

1. [Screenshots, logs or description]
2.

### Actual result

1. [Screenshots, logs or description]
2.

[2018-09-02 18:35] hostep commented on #17893
This is a duplicate of https://github.com/magento/magento2/issues/14968
Closing this one. Please read that other thread, it has some pointers to patches which will resolve this issue.
Issue will also be fixed in Magento 2.2.6

[2018-09-02 18:35] #17893 closed, assigned to nobody

[2018-09-03 00:08] Harry055 commented on #2537
hi,
 php bin/magento deploy:mode:show
Current application mode: default. (Note: Environment variables may override this value.)
i be also on default and i need this -> php bin/magento setup:static-content:deploy de_DE

but i get this issue -> [Magento\Framework\Exception\LocalizedException]
  NOTE: Manual static content deployment is not required in "default" and "developer" modes.
  In "default"

[2018-09-03 00:52] inkobject commented on #8059
Seeing this issue in 2.2.5
In my use case, I sell plants. Double and single quotes have a definite meaning in naming conventions: species, hybrids, cultivars etc. Not being able to use double quotes makes things problematic for me.

[2018-09-03 05:58] engcom-backlog-nazar commented on #17026
@siniztr , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-03 05:58] #17026 closed, assigned to nobody

[2018-09-03 05:58] engcom-backlog-nazar commented on #17184
@Felistas , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-03 05:58] #17184 closed, assigned to nobody

[2018-09-03 05:58] engcom-backlog-nazar commented on #16221
@AdminLinenStore , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-03 05:58] #16221 closed, assigned to Rus0

[2018-09-03 05:59] engcom-backlog-nazar commented on #15427
@BezV8 , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-03 06:07] ftudlong commented on #5423
But can you switch back to varnish after resolving the issue?

[2018-09-03 06:45] engcom-backlog-andrii commented on #17677
@swapybanna, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-03 06:45] #17677 closed, assigned to nobody

[2018-09-03 07:01] zolthan commented on #15187
What can I do to get rid of the error message?

[2018-09-03 07:15] AdamReece-WebBox commented on #5423
Would there be much benefit in that? I don't really want to disrupt a live store, particularly as it's already performing very well with the built in cache.

[2018-09-03 07:16] engcom-backlog-nazar commented on #17884
Hi @navarr this ticket is not relate to the code published in the magento2 repository.

[2018-09-03 07:28] engcom-backlog-pb commented on #17892
@minglethepringle, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-03 07:28] #17892 closed, assigned to nobody

[2018-09-03 07:54] engcom-backlog-nazar commented on #17732
Hi @ezequielalba thank you for you report,
ok  so as we have the solution for this issue i close him,

[2018-09-03 07:54] #17732 closed, assigned to nobody

[2018-09-03 08:12] engcom-backlog-nazar commented on #17887
Hi @Keerat666 I'm not able to reproduce following steps your described, maybe problem in you custom theme ?

[2018-09-03 08:50] engcom-backlog-pb commented on #17890
@magicaner, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-03 09:08] craigcarnell commented on #12273
@winstonojeda

[code]

When Magento finally get round to support a nearly year old version of php...

Just install php7.1 and install 7.2

[2018-09-03 09:15] salehawal commented on #8970
magento 2.2.4

Could not save product with position to category
Unique constraint violation found

it accrues after trying to remove categories from a product

[2018-09-03 09:40] engcom-backlog-nazar commented on #11098
Hi @minimit the fix for this this issue, has already available in 2.2-develop branch.

[2018-09-03 09:40] #11098 closed, assigned to nobody

[2018-09-03 09:55] engcom-backlog-pb commented on #13553
We were not able to reproduce this issue. We'we tried two scenarios:
1. Upgrading Magento 2.1.14 with sample data to Magento 2.2.5.
2. Upgrading Magento 2.1.14 with 200000 simple products (generated by performance toolkit) and 7 websites to Magento 2.2.5.
Can anyone provide clarified Steps to Reproduce?

[2018-09-03 10:09] denistrator commented on #11098
@engcom-backlog-nazar hi. Can you give a link to the fix please?

[2018-09-03 10:09] engcom-backlog-pb commented on #15156
@mitcht, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-03 10:25] MaximKitsenko opened #17894 "Magento API GetOrder doesn't return correct sale items"
### Preconditions

1. Magento 1.9.3.3. I know this repository is for magento 2.x version. I've already tried to report a bug at magento.com, but report-a-bug form doesn't work. Some guy has already told about it:  https://community.magento.com/t5/Can-Magento-do/How-can-I-contact-the-Magento-Team-to-report-a-bug/m-p/98488
2. Please either reply on my bur report, either fix your web page for v 1.x b

[2018-09-03 10:27] koopjesboom commented on #9466
Here we go again, i am hoping for a solution soon for this matter.

![auto duplicated images](https://user-images.githubusercontent.com/15247780/44982007-a3902480-af74-11e8-81c4-76fff732cf9c.png)

Best regards

[2018-09-03 10:48] masodu opened #17895 "[REST API] Add item to cart is incorrect after order is placed"
### Preconditions
This bug is reproducible with magento-2.3.0-alpha62 release and patched with the master code from the repo: `https://github.com/adobe/commerce-cif-magento-extension`.

### Steps to reproduce

All this steps are executing using the REST API endpoints.
1. Create a customer cart (customer is logged in based on a customer token)
2. Set the billing address, shipping address and set th

[2018-09-03 10:48] magento-engcom-team commented on #17895
Hi @masodu. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-03 10:51] masodu commented on #17895
@mkotov please triage this issue.

[2018-09-03 11:07] csooraj commented on #5788
@ketan3193 @vincentwinkel

We also had the same issue when we tried the below payload it worked

Endpoint: http://localhost:8888/Magento/index.php/rest/V1/carts/mine/payment-information

{
    "paymentMethod": {
        "method": "paypal_express",
        "additional_data": {
            "paypal_express_checkout_token" : "EC-xxxxxxxxxxxx",
            "paypal_express_checkout_redirect_required" :

[2018-09-03 11:15] engcom-backlog-nazar commented on #17894
Hi @MaximKitsenko  Unfortunately we not support magento 1.* versions,  also -> https://magento.com/blog/magento-news/ongoing-magento-1-support

[2018-09-03 11:15] #17894 closed, assigned to nobody

[2018-09-03 12:00] koopjesboom commented on #5863
@marco7319

Magento

Best regards

[2018-09-03 12:11] engcom-backlog-pb commented on #14951
@tstamplis, thank you for your report.
We were not able to reproduce this issue on Magento 2.2.5 by following the steps you provided.
![image](https://user-images.githubusercontent.com/40756187/44986193-916db080-af8b-11e8-993c-f399ca070f88.png)

Please provide more detailed steps to reproduce.

[2018-09-03 12:12] koopjesboom commented on #17378
@simonworkhouse

Is this a Magento 2 instance which is migrated from magento 1?
Because if it is a Migrated magento 2 it all has to do with the data migration process.

100% sure this is breaking the magento 2 database in different ways.
I have migrated my store 6 times and this issue was coming back every time.
There are a lot of issues after data migration, this is the biggest one.
They need to

[2018-09-03 12:40] duckchip opened #17896 "Add isActive implementation to StoreInterface"
### Description

Since there's no way to to verify whether a store is active or not through the interface, we have to create a store object using the factory, which increases the load. It would be sweet if this function is implemented in the Magento\Store\Api\Data\StoreInterface

### Expected behavior

call the storeInteface to verify whether it's active or not instead of using the Factory.

### B

[2018-09-03 12:40] magento-engcom-team commented on #17896
Hi @duckchip. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-03 13:04] brosenberger opened #17897 "configurable product price is not shown for out-of-stock subproducts, even if it is configured to"
### Preconditions

1. magento2 2.2.3
2. enable option in stores -> configuration -> catalog -> inventory -> stock options -> display out of stock products

### Steps to reproduce
1. create a configurable product, all simple products are out of stock
2. go to detail page of the configurable product

### Expected result
1. the lowest price of the configurable product is shown as it is with in stock

[2018-09-03 13:04] magento-engcom-team commented on #17897
Hi @brosenberger. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-03 13:29] brosenberger commented on #17897
@magento-engcom-team give me 2.2.3 instance

[2018-09-03 13:29] magento-engcom-team commented on #17897
Hi @brosenberger. Thank you for your request. I'm working on Magento 2.2.3 instance for you

[2018-09-03 13:30] magento-engcom-team commented on #17897
Hi @brosenberger, here is your [Magento instance](https://i-17897-2-2-3.engcom.dev.magento.com).
Admin access: [https://i-17897-2-2-3.engcom.dev.magento.com/admin](https://i-17897-2-2-3.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-03 13:35] dziulius commented on #7056
@saxsax1995

I think you should swap "for" and "type" values:
<preference for="Fudu\HelloWorld\Api\Data\StudentsRepositoryInterface" type="Fudu\HelloWorld\Api\Data\StudentsRepo" />

[2018-09-03 13:39] engcom-backlog-nazar commented on #17895
Hi @masodu , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-03 13:40] brosenberger commented on #17897
@magento-engcom-team it can be reproduced, see product https://i-17897-2-2-3.engcom.dev.magento.com/myconfigurable.html where no price is shown.

[2018-09-03 13:41] samanaveen commented on #6793
I have added order by score code after the search_result join on the collection file. Now it is working fine
vendor/magento/module-catalog-search/Model/ResourceModel/Fulltext/Collection.php

        $this->getSelect()->joinInner(
            [
                'search_result' => $table->getName(),
            ],
            'e.entity_id = search_result.' . TemporaryStorage::FIELD_ENTITY_ID,

[2018-09-03 13:43] engcom-backlog-pb commented on #17896
@duckchip, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-03 14:08] engcom-backlog-pb commented on #9186
We were not able to reproduce this issue by provided steps. If you'd like to update it, please reopen the issue.
![default](https://user-images.githubusercontent.com/40756187/44991139-de598300-af9b-11e8-89f3-cc2e46131403.png)

[2018-09-03 14:09] andrewhowdencom commented on #13267
Hola @engcom-backlog-nazar

Do you have a test environment (with admin rights)? I can probably just drop it in some sort of custom HTML field, and repro it there.

[2018-09-03 14:12] engcom-backlog-nazar commented on #13267
@andrewhowdencom  Which version you tested ? 2.2-develop ?

[2018-09-03 14:16] andrewhowdencom commented on #13267
Nah, this would have been against a project directly, and it was before the GA changes that suppressed errors. It should still be reproduce against `2.2-develop` though; the principle is the same (race condition where `ga` is not defined).

[2018-09-03 14:19] engcom-backlog-pb commented on #17897
Duplicate of #16069

[2018-09-03 14:19] #17897 closed, assigned to nobody

[2018-09-03 14:29] engcom-backlog-nazar commented on #13267
@andrewhowdencom Ok i will try again.

[2018-09-03 14:37] navarr commented on #17884
I'm reporting this as a problem with the test.

On Mon, Sep 3, 2018, 03:16 engcom-backlog-nazar <notifications@github.com>
wrote:

[2018-09-03 14:45] itonomycompany commented on #3917
Hi, check out https://github.com/Itonomy/magento2-product-visibillitygrid. It will show all "conditions" for a product to show + a function to reindex it, when needed. Good luck!

[2018-09-03 17:30] jakwinkler opened #17898 "Duplicated extre fees on PayPal Express"
### Preconditions

1. Magento 2.1.7 / 2.2.5 (tested on both)
2. Working PayPal Express account

### Steps to reproduce

1. Create a new module which adds a new row to quote totals
[code]
2. Increase order total with custom value, lets say 10
[code]

### Expected result

1. User can checkout! (from checkout process and cart page)
2. Extra amount added to entire order, visible both backend and front

[2018-09-03 17:30] magento-engcom-team commented on #17898
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-03 17:34] twumb opened #17899 "Checkout and Payment Loading hangs"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-09-03 17:36] twumb commented on #17899
@magento-engcom-team give me {2.1.14} instance

[2018-09-03 17:38] ulftietze opened #17900 "Category -> Product Media Images not shown (Heisenbug)"
### Preconditions

1. Magento 2.2.3 (But we observed this since >= 2.1.2)
2. PHP 7
3. Flat Product catalog enabled
4. One Store with 2 Websites with each of them simple StoreView
5. One Nginx as Loadbalancer, 1 Varnish, 2-4 Frontend Nodes, 2 Shared Data nfs, 4 server DatabaseCluster
6. Indexer update on schedule
7. Cron runs every minute (like Magento wants it to)

### Steps to reproduce

This is

[2018-09-03 17:38] magento-engcom-team commented on #17900
Hi @ulftietze. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-03 18:29] winstonojeda commented on #12273
Yeah, no. I already tried running dual versions of PHP (7.1+7.2) on an Ubuntu 18.04 system and I have to tell this crowd... **DON'T DO IT!!!**
While Mangento seemed to happily install and run under 7.1, now the entire 18.04 environment is completely unstable an continuously reminds you that there are updates awaiting for all the old PHP modules.  dpkg continuously crashes and  I am getting core du

[2018-09-03 18:36] hostep commented on #9186
Re-opening, because test wasn't done properly, multiple reporters above already added steps to reproduce, but let's do this yet again, hopefully you'll be finally able to reproduce and see that there is a very big problem here.

### Steps to reproduce

This demonstration is only with a single storeview, but can be reproduced with multiple storeviews or multiple websites like already mentioned by a

[2018-09-03 19:52] lipilef commented on #3870
Had the same issue, tried to split my csv onto two csv's and worked fine.

The "please wait" keeps on. but it import just fine.

[2018-09-03 22:56] JigSays opened #17902 "Billing | Shipping Address on New Customer Orders forced to be the same"
### Preconditions

1. 2.2.2
2.

### Steps to reproduce

1. Place order
2. Go to check-out
3. Create new customer
4. Add billing address
5. add different shipping address
6. checkout

### Expected result

1. Invoice | confirmation with different billing & shipping addresses
2.

### Actual result

1. Both shipping address and billing address ends up being the same.
2.

[2018-09-03 22:56] magento-engcom-team commented on #17902
Hi @JigSays. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento ins

[2018-09-03 23:50] HamishBlank commented on #14038
I can confirm this issue is still relevant in Magento 2.2.5, is there any update on fixes?

[2018-09-04 00:55] orlangur commented on #17900
@ulftietze flat tables are not recommended anymore as they do not give significant performance boost.

[2018-09-04 01:30] ywsw commented on #2916
@djview thank you so much for your fix. It definitely works for me - only that the page scrolls up to the error notice on the first error only. For any consecutive errors, the page does not scroll back to the error (though the error notice does still last longer - if the user decides to scroll back up to the top). Would you be able to advise how this can be fixed?

[2018-09-04 02:39] KSaho commented on #5929
@hypershopbv
I have just purged MySQL and Magento 2.2.5 from my machine and reinstalled it (I tend to do this frequently for testing purposes) and I reinstalled Magento 2.2.5 via Composer.

URL_PATH is a part of the eav_attribute table by default.
https://imgur.com/a/FQ9tpob

I will continue looking for other URL_PATH values in the live server DB dump and cross reference them with my new Magento i

[2018-09-04 03:39] lansy1 opened #17903 "Magento 2 Admin Content/Pages"
### Preconditions

1. version 2.2.3
2.

### Steps to reproduce

1.Very simple, I login to admin and go to Content on left bar and go to under Elements / Pages. Will not load. If I go to Widgets, it will load. Blocks used to load until I put the asterisk in the search bar and hit enter. Now it does the exact same thing as the Pages page.
2.

### Expected result Pages list should load. Please look a

[2018-09-04 03:40] magento-engcom-team commented on #17903
Hi @lansy1. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento inst

[2018-09-04 04:00] syedsaleem086 commented on #17436
Hi @magento-engcom-team

Same issue here,

1 exception(s):
Exception #0 (Exception): Notice: Undefined variable: product in /var/www/html/vendor/magento/module-catalog/Controller/Adminhtml/Product/Save.php on line 156

Exception #0 (Exception): Notice: Undefined variable: product in /var/www/html/vendor/magento/module-catalog/Controller/Adminhtml/Product/Save.php on line 156
#0 /var/www/html/vendo

[2018-09-04 04:50] serena-yu17 opened #17904 "Uploading 498 records caused 503 backend error"
Dear Sir or Madam,

I was uploading 498 product rows on the current version of Magento import page http://staging.lv.acidgreenstaging.com/lv_admin/admin/import/index/key/c25988e8d13a39a4ebb9339ac5db4fe14c7a3a85e2180aa5e94d7b232e9b8835/

When I used "Check Data", my csv file passed the check with 0 errors. However, when I proceeded with "Import", the page was stuck for more than 10 minutes and retu

[2018-09-04 04:50] magento-engcom-team commented on #17904
Hi @serena-yu17. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-04 05:59] engcom-backlog-nazar commented on #17899
Hi @twumb  when you click "new issue", a template is provided. Your issue structure should be based on this template. Please fill form and reopen the issue

[2018-09-04 05:59] #17899 closed, assigned to nobody

[2018-09-04 06:17] engcom-backlog-nazar commented on #17900
Hi @ulftietze  seems like this are duplicato for https://github.com/magento/magento2/issues/8933

[2018-09-04 06:29] engcom-backlog-nazar commented on #14519
@erichagz , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-04 06:29] #14519 closed, assigned to nobody

[2018-09-04 06:29] engcom-backlog-nazar commented on #14650
@GlobalOutsourcing , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-04 06:29] #14650 closed, assigned to nobody

[2018-09-04 07:02] hostep commented on #17900
@orlangur:

This is dependent on a project per project base, we have projects running the latest Magento version which still show some performance benefits when flat tables are enabled (tested with FPC disabled of course).
So I don't think this statement can be generalised.

[2018-09-04 07:20] i95devdivya opened #17906 "Getting [Composer\Downloader\TransportException] exception while we listing our extension in Magento 2 Marketplace"
We tried to list our Magento 2 extension for Magento version 2.2.x in Magento Marketplace. But after listing it is failed due to the following error.
Environment: Operating System - Centos 7, PHP Version - 5.6.36, Magento Platform - 2.1.14 CE
[Composer\Downloader\TransportException]
The "http://packagist.org/p/provider-2018-04%24daec9e583a397acffeb0b6bd85529c0849fec7565b0983c6c4e5feae12687fcd.json

[2018-09-04 07:37] engcom-backlog-pb commented on #17906
@i95devdivya , the GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-04 07:37] #17906 closed, assigned to nobody

[2018-09-04 07:39] ulftietze commented on #17900
Hey Guys,

thanks for referencing this issue @engcom-backlog-nazar :)
This may be a bug which results from the deadlock error. Hope this gets fixed in near future ^^

I dunno if this brings really some performance boosts in our case, it looks like (if flat products are disabled) it's a bit faster now.
If we take a deeper look into this, i try to report my knowledgements.

Thanks and greets,
Ulf

[2018-09-04 07:44] engcom-backlog-pb commented on #17902
@JigSays, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![image](https://user-images.githubusercontent.com/40756187/45017138-76547c80-b02f-11e8-973a-6843f47f6c1b.png)

[2018-09-04 07:45] engcom-backlog-pb commented on #17904
@serena-yu17, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Ste

[2018-09-04 07:46] engcom-backlog-nazar commented on #17898
Hi @qsolutions-pl , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-04 07:50] engcom-backlog-pb commented on #17903
@lansy1, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only, and your problem is obviously caused by some custom code.

[2018-09-04 07:50] #17903 closed, assigned to nobody

[2018-09-04 08:13] densen45 commented on #13881
M 2.2.5

First, thank you very much @hostep for sharing this quick fix! It works great in M 2.2.5.

I'm going to share my insights that may be interesting for everyone who wants to apply this quick fix through a custom module:

I have overridden the entire function (`_getMappedSqlCondition`) that includes the line that is mentioned by @hostep in a custom module. If you do so, you can remove the bl

[2018-09-04 08:14] Nellyazx commented on #12777
what about the same issue on cpanel...
I have done on localhost and it worked but cpanel has issues..

[2018-09-04 08:15] VincentMarmiesse commented on #15490
Hi @engcom-backlog-pb,

Why is this issue closed? It's still not fixed on 2.2.5.

[2018-09-04 08:18] engcom-backlog-nazar commented on #17900
@ulftietze Can i close ticket as duplicate? they are similar and have identical sense.

[2018-09-04 08:19] Tsalkapone opened #17907 "How to open popup clicking on custom mass action in sales order grid"
### Summary

I am new to Magento 2. I have managed to create a new mass action in sales order grid in admin view. What I need now is to show a popup when clicking on my custom mass action. This popup is needed to configure the selected items before proceeding to some other action.

Any workaround would be appreciated!

[2018-09-04 08:22] #17907 closed, assigned to nobody

[2018-09-04 08:31] smallkkk opened #17908 "Magento2 update"
I want to update my magento2 from 2.1.9 to 2.2.4, how should i do that?And do the magento 2.1.9 fix the missing Billing Address using Paypal Express Checkout ( Production )  problem?Anybody can help me? Thank you so much

[2018-09-04 08:32] magento-engcom-team commented on #17908
Hi @smallkkk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-04 08:33] engcom-backlog-nazar commented on #17908
Hi @smallkkk   please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-04 08:33] #17908 closed, assigned to nobody

[2018-09-04 08:50] ulftietze commented on #17900
@engcom-backlog-nazar
If you promise me, that this issue is going to be fixed with the #8933, then yes :laughing:

[2018-09-04 08:51] VincentMarmiesse commented on #14987
I can confirm this bug on 2.2.5.

[2018-09-04 08:53] HanakJakub commented on #17764
@magento-engcom-team give me 2.2-develop instance

[2018-09-04 08:53] magento-engcom-team commented on #17764
Hi @HanakJakub. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-09-04 08:53] magento-engcom-team commented on #17764
Hi @HanakJakub, here is your [Magento instance](https://i-17764-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-17764-2-2-develop.engcom.dev.magento.com/admin](https://i-17764-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-04 08:58] engcom-backlog-nazar commented on #17900
@ulftietze I close it , as we can just reopen it again in future if someone else finds it. If someone fixed references issue,  it may fix yours issue.

[2018-09-04 08:58] #17900 closed, assigned to nobody

[2018-09-04 09:03] smallkkk opened #17909 "Magento 2.1.9 to 2.2.4"
I want to update my magento2 from 2.1.9 to 2.2.4, how should i do that?And do the magento 2.1.9 fix the missing Billing Address using Paypal Express Checkout ( Production ) problem?Anybody can help me? Thank you so much

[2018-09-04 09:03] magento-engcom-team commented on #17909
Hi @smallkkk. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-04 09:08] HanakJakub commented on #17764
@engcom-backlog-andrii Same issue on your 2.2-develop instance. Your screenshot is from created order, but issue is when you are on edit order page as on my screenshots.
For example some user will order an item and he will tell after place order that he wants to change shipping address. So you will go and hit Edit order button and you will have correct billing address but shipping address form is

[2018-09-04 09:11] engcom-backlog-pb commented on #17909
@smallkkk, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-09-04 09:11] #17909 closed, assigned to nobody

[2018-09-04 09:18] php4umagento opened #17910 "Magento2 resizes and recompresses original image during upload"
### Preconditions

1. 2.2.5 and below versions are affected
2.

### Steps to reproduce

1. Create jpg file larger than 1900x1200 pixels
2. Login to admin
3. Create or update existing product image by uploading new file you created
4. Observe that after upload image is resized to not exceed 1900x1200
5. File is also processed by php using compression quality setting

### Expected result

1. File is

[2018-09-04 09:18] magento-engcom-team commented on #17910
Hi @php4umagento. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magent

[2018-09-04 09:25] php4umagento commented on #17910
@magento-engcom-team give me 2.2.5 instance

[2018-09-04 09:26] magento-engcom-team commented on #17910
Hi @php4umagento. Thank you for your request. I'm working on Magento 2.2.5 instance for you

[2018-09-04 09:26] magento-engcom-team commented on #17910
Hi @php4umagento, here is your [Magento instance](https://i-17910-2-2-5.engcom.dev.magento.com).
Admin access: [https://i-17910-2-2-5.engcom.dev.magento.com/admin](https://i-17910-2-2-5.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-04 09:30] php4umagento commented on #17910
Product SKU Test - uploaded 4k image - it was resized to 1920x918px

[2018-09-04 09:41] engcom-backlog-pb commented on #17910
@php4umagento, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-04 10:02] sidolov commented on #17851
Hi @hitesh-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#17877 by @hitesh-wagento in 2.2-develop branch
Related commit(s):
 - [2139fec9ea8062223203291cfc5bdab8aa2d38ff](https://github.com/magento/magento2/commit/2139fec9ea8062223203291cfc5bdab8aa2d38ff)

The fix will be available with the upcoming 2.2.7 release.

[2018-09-04 10:02] #17851 closed, assigned to hitesh-wagento

[2018-09-04 10:19] engcom-backlog-nazar commented on #14423
Hi @vmsh0  , thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-04 10:34] engcom-backlog-andrii commented on #17676
@thunderwin, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-04 10:34] #17676 closed, assigned to nobody

[2018-09-04 10:36] penglongyun commented on #2797
This bug is still present, I add a custom adminhtml theme,but not working in developer mode

[2018-09-04 10:43] ihor-sviziev commented on #9830
@engcom-backlog-nickolas I have this issue on Magento 2.2.5. I re-opened this issue. Could you re-check if you can reproduce this issue?

[2018-09-04 10:52] Igloczek commented on #2797
@penglongyun admin themes work differently, it's not related to this issue.
Check the docs for details - https://devdocs.magento.com/guides/v2.2/frontend-dev-guide/themes/admin_theme_create.html

[2018-09-04 10:57] penglongyun opened #17913 "Magento2 Report export empty row"
### Preconditions

1.Admimhtml reports module,when 'filter' params contains "report_period",and values 'day',must value
  "day","month" or "year" not error. this param must in the last.
2. then when Refresh,the url will show param 'filter' and value ,the value is urlencode. ok, the value is end by "==", but when export, the url will be encode again, so the report action will not correctly resolve

[2018-09-04 10:57] magento-engcom-team commented on #17913
Hi @penglongyun. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-04 11:09] devenkuswa opened #17914 "Unable to import product while it shows success message"
**Preconditions**
Magento CE 2.2.5
PHP 7.09
MYSQL 5.7

Import simple product with basic details but description contain some mathematically special character like φ, ─ and other same kind of symbols. When I am importing  it validate file and shows success message. But no product appeared for that sku.

**Steps to reproduce**
Create a simple product csv and add some special characters eg. φ, ─ in t

[2018-09-04 11:09] magento-engcom-team commented on #17914
Hi @devenkuswa. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-04 11:29] engcom-backlog-andrii commented on #17716
@Yuibaritone , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-04 11:29] #17716 closed, assigned to nobody

[2018-09-04 11:35] ralbin commented on #16793
# Solved #

Apparently, this is caused by the app/etc/di.xml not being upgraded properly.  I recently had this issues investigated by opening a ticket https://support.magento.com/hc/en-us/requests/96612 and the solution was a proper di.xml with the missing section to handle the LockManager.
Please see the attached file for a version that fixes this issue.
[mferguson@aws-sparta-web2 dev]$ diff m225

[2018-09-04 11:38] engcom-backlog-pb commented on #17914
@devenkuswa, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
![1](https://user-images.githubusercontent.com/40756187/45029068-1de1a700-b050-11e8-81d8-c519493fdbaf.gif)

[2018-09-04 11:38] #17914 closed, assigned to nobody

[2018-09-04 12:19] hypershopbv commented on #5929
Hi @KSaho
That is correct, but Magento does not set an url_path by itself. Only way this might happen is during the data migration.

Please let me know if you have been able to fix your problem. It did work for us.

[2018-09-04 12:31] engcom-backlog-pb commented on #13720
@dipind4u, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-04 12:32] magently commented on #10067
We couldn't reproduced the bug - tried on Magento 2.1, 2.2 and 2.3-alpha with PHP 7.0, 7.1 and 7.2.

[2018-09-04 12:40] engcom-backlog-nazar commented on #17913
Hi @penglongyun thank you for you report, the fix for this issue already available in 2.2develop branch

[2018-09-04 12:40] #17913 closed, assigned to nobody

[2018-09-04 12:47] CrumpetSmasher commented on #12095
Just upgraded to 2.2.5 and experiencing this problem.

Disabled module Shopial_Facebook via CLI as suggested by thomvanderboon but the error still occurs.

The problem is I have an active integration with a WMS and the auth token keeps getting reset breaking the integration 2 or 3 times a day.

[2018-09-04 12:51] Flipmediaco commented on #16793
I can confirm that once the di.xml was updated as per @ralbin supplied zip and cache cleared, compiled etc, normal cron operation was returned :-)

I have since established the actual issue [in my case] was introduced by our deploy script excluding  transferring the di.xml to production. I have since removed this exclusion, re-deployed and the cron has been restored to normal operation.

This also

[2018-09-04 12:53] LucScu commented on #7967
@magento-engcom-team @orlangur please close this issue, because it is not an issue.
It is clear that without a referer or parametrized url is not possible to construct the complete product's breadcrumbs with categories.

[2018-09-04 12:53] allanpaiste commented on #13177
Why not 2.2.6? This is pretty serious problem and might cause quite a many frustrated users from having to re-type their changes after first validation error on a configurable product form wiping rendering the whole form unsaveable.

`@steps
1. use M2 sample data
2. [admin] navigate to Catalog > Products
3. [admin] filter the list by Configurable products
4. [admin] open any product (let's say: fi

[2018-09-04 13:02] engcom-backlog-pb commented on #14328
@barbazul, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-04 13:08] sidolov commented on #17715
Hi @zebimax. Thank you for your report.
The issue has been fixed in magento/magento2#17720 by @p-bystritsky in 2.3-develop branch
Related commit(s):
 - [05f8e78913cd9922708a35b830f10ad0f2cd713c](https://github.com/magento/magento2/commit/05f8e78913cd9922708a35b830f10ad0f2cd713c)

The fix will be available with the upcoming 2.3.0 release.

[2018-09-04 13:08] sidolov commented on #15118
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#17809 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [5ca1f9cd74c9a686d3ece49d56a456153849deeb](https://github.com/magento/magento2/commit/5ca1f9cd74c9a686d3ece49d56a456153849deeb)

The fix will be available with the upcoming 2.3.0 release.

[2018-09-04 13:08] sidolov commented on #15121
Hi @rjtulloh. Thank you for your report.
The issue has been fixed in magento/magento2#17816 by @nmalevanec in 2.3-develop branch
Related commit(s):
 - [3c499dbb45fc86dcb25052f4bc01d78afe6b173d](https://github.com/magento/magento2/commit/3c499dbb45fc86dcb25052f4bc01d78afe6b173d)

The fix will be available with the upcoming 2.3.0 release.

[2018-09-04 13:26] kurtdeserter commented on #17461
@routbiplab I understand @bhavikapatelgm
Think about the following: You have T-shirts in white and black and each color in S,M,L.
White costs $1 in every size
Black costs $2 in every size

If you open product page you see $1. If you choose black it would be necessary that the price changes to $2.

If the sizes have different prices too, than it would perfect to see a "from price" when choosing bla

[2018-09-04 13:42] AurelienLavorel opened #17916 "Can't send creditmemo email with grouped product"
### Preconditions
1. Any Magento 2 version

### Steps to reproduce
1. Create an order with grouped product
2. Make a creditmemo
3. Send email

### Expected result
1. Email is sent

### Actual result
[code]
I try to fix it here: https://github.com/magento/magento2/pull/16291 but it was refused.

[2018-09-04 13:42] magento-engcom-team commented on #17916
Hi @AurelienLavorel. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Mag

[2018-09-04 13:54] DerekBoothSEO opened #17917 "Create configurable product with Custom attribute, Export and try to re-import fails on '1. Invalid option value for attribute "mens_t_size" in row(s): 6'"
### Preconditions
1. Magento 2.2.5

### Steps to reproduce
1. Create a size attribute
2. Create configurable product using new size attribute
3. export product to csv
4. try to import csv file untouched (can try any import options and even delete product to try and recreate from file)
5. "1. Invalid option value for attribute "mens_t_size" in row(s): 6"

### Expected result
1. Product should impor

[2018-09-04 13:54] magento-engcom-team commented on #17917
Hi @DerekBoothSEO. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-04 13:57] tmotyl commented on #12285
2 days later the commit 8ef039ec281a7fc6af014b42fc69a9d77e4bf277 was reverted
in branch 2.2-develop without an explanation by @gwharton :
https://github.com/magento/magento2/commit/ca3245fc9c80247dfd637e5699914bea1b1e8df8#diff-49a84585354f5715382cc2b014a3d961

So the issue is still valid and gallery doesn't work.
Please also keep in mind that according to https://github.com/magento/magento2/pull/1

[2018-09-04 14:05] engcom-backlog-pb commented on #15601
@sanjay-wagento, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-04 14:06] gwharton commented on #12285
Yes, that was my fault. I have no idea how both I didnt see it, and the reviewers didnt see it, but yes it was reverted.

The revertion was corrected in PR #16594 in August though and should be available in 2.2.7.

[2018-09-04 14:07] tmotyl commented on #12285
@gwharton I've just seen your revert of the revert, but for some reason this change is not reflected in the file content, and the file history:
see https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/view/frontend/templates/product/view/gallery.phtml

[2018-09-04 14:27] FerihumF opened #17918 "After Update M2.1.11 => 2.2.5: SalesSequence recurring constraint violation"
### Preconditions

1. Magento 2.2.5
2. PHP 7.0.31

### Steps to reproduce

1. I updated Magento from version 2.1.11 to 2.2.5
2. After running the setup:upgrade script I receive the error:
Module 'Magento_SalesSequence':
Running data recurring...Unique constraint violation found

### Expected result

1. The upgrade script running without any issues.

### Actual result

1. The error in SalesSequence

[2018-09-04 14:28] magento-engcom-team commented on #17918
Hi @FerihumF. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-04 14:36] pmjcreations commented on #12777
@Nellyazx,

Go to WHM > Software > EasyApache 4 and click on the Customize button in the Currently Installed Packages section.
In Apache Modules section, you can search for mod_version and install it.

If you don't have access to WHM, you may not have shell access.

Try to contact your hosting provider or your system admin. Else find another hosting set-up like a VPS which will give you full root

[2018-09-04 14:38] engcom-backlog-pb commented on #17917
@DerekBoothSEO , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.
![1](https://user-images.githubusercontent.com/40756187/45038140-53df5500-b069-11e8-8848-db7a6cad4f59.gif)

[2018-09-04 16:39] rodrigowebjump commented on #5417
@magento-engcom-team Hi, do you have any update on this?

[2018-09-04 16:52] masodu commented on #17895
If it helps pls find bellow the full list of REST calls I am doing. After `step 10` bellow the cart prices are null.
1. Customer login: /rest/V1/integration/customer/token
2. Customer login: /rest/V1/customers/me
3. Create cart: rest/V1/carts/mine
4. Add item to cart: rest/V1/carts/mine/items
5. Set billing address: /rest/V1/carts/mine/billing-address
6. Set shipping info: /rest/V1/carts/mine/ship

[2018-09-04 17:42] gwharton commented on #12285
@tmotyl If you have time, can you take a look at the above PR and comment on changes.

[2018-09-04 18:33] insanityinside commented on #6924
Still occurring on 2.2.5. Definitely seems to be related to a capital letter on the sku column, specifically with grouped products. Will investigate further and comment.

[2018-09-04 18:52] uandiweb commented on #6558
I see this issue in version 2.2.5. Paales solution does work, but I wish this issue could be fixed permanently.

[2018-09-04 19:07] neetu-mittal opened #17923 "Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'container', attribute 'htmlTag': [facet 'enumeration'] The value '' is not an element of the set {'aside', 'dd', 'div', 'dl', 'fieldset', 'main', 'nav', 'header', 'footer', 'ol', 'p', 'section', 'table', 'tfoot', 'ul'}. Line: 1049"
http://dev.petceutics.com.au/newsletter/manage/
![capture](https://user-images.githubusercontent.com/8451427/45052248-ea306c80-b0a3-11e8-80f9-d6bf5db6cedf.PNG)

[2018-09-04 19:08] magento-engcom-team commented on #17923
Hi @neetu-goyal. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-04 19:16] neetu-goyal commented on #17923
Magento ver. 2.2.5

[2018-09-04 19:16] jalogut commented on #12679
In case that it helps someone, the problem is the annoying `Test` modules that Magento creates out of nowhere when running integration tests. If you have these modules enabled in `production` mode, the checkout does not work anymore.

Disabling or removing such module from `config.php` solves the issue.

[code]

[2018-09-04 21:04] Rickertje opened #17925 "Checkbox 'Billing address = Shipping address' not cleared (in time) after changing shipping address"
### Preconditions
1. M2.2.5

**PART A**
### Steps to reproduce
1. Add product to cart
2. Go to checkout Step 1
3. Enter shipping address
4. Go to checkout Step 2
5. Go back to checkout Step 1
6. Change the address (or whatever item)
7. Go to checkout Step 2

### Expected result
Billing address is different from shipping address AND checkbox is cleared

### Actual result
Billing address is differen

[2018-09-04 21:04] magento-engcom-team commented on #17925
Hi @Rickertje. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-04 21:44] sdhoman commented on #9497
This is INSANE!!! I'm on Magento CE 2.2.5 fresh installation and I get same error in cart "We can't start Express Checkout." and the best Magento can come up is "we can't replicate the error" when 100+ people complain about the same for more than a year!!! I'm switching to SHOPIFY. Thank you Magento and Good Bye.

[2018-09-04 22:13] pixelated-au commented on #16793
Yep @ralbin, that's the issue. Sorted! Thank you :)

[2018-09-04 22:33] allanpaiste opened #17926 "The ui-component field validation error not opening accordion tab that owns the field (field does not get focused)"
The issue of event not triggering properly on every call causes issues with Form Validation 'error' events where certain errors don't get properly highlighted when error message is not set properly or does not change. In case rest of the UI state around the error has been changed, the element that caused the actual error, no longer gets highlighted correctly.

In most typical cases this can be enc

[2018-09-04 22:33] magento-engcom-team commented on #17926
Hi @allanpaiste. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento

[2018-09-05 02:29] dannychim opened #17927 "The value of Admin scope can't be empty. When updating existing product attributes"
### Preconditions

1. Running on Magento 2.2.5

### Steps to reproduce

1. Edit existing product attributes
2. Add a new swatch
3. Error returned "The value of Admin scope can't be empty."
4.Even when adding a new product attribute **Text Swatch** same error is showing.

### Expected result

1. Successfully saved

### Actual result

1. Trying to add new product attributes "Twin" in row 6. Even fil

[2018-09-05 02:29] magento-engcom-team commented on #17927
Hi @dannychim. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento i

[2018-09-05 05:12] KSaho commented on #5929
It seems that all url_paths are null and that this issue wasn't the problem.
I seem to have this issue:
https://github.com/magento/magento2/issues/9205

I have a working solution for that problem too.
Thanks for the help.

[2018-09-05 06:12] engcom-backlog-nazar commented on #17916
Hi @AurelienLavorel  i'm able to reproduce following steps you described, please provide more information about steps to reproduce

[2018-09-05 06:21] #17923 closed, assigned to nobody

[2018-09-05 06:33] #17927 closed, assigned to nobody

[2018-09-05 06:47] engcom-backlog-nazar commented on #17925
Hi @Rickertje thank you for you report, the fix for this issue has already available in 2.2-develop branch

[2018-09-05 06:47] #17925 closed, assigned to nobody

[2018-09-05 06:54] Rickertje commented on #17925
Ok can you give me a reference ?

[2018-09-05 06:59] engcom-backlog-nazar commented on #17925
@Rickertje i can't find the commit, but tested it on 2.2-develop branch the issue not present.

[2018-09-05 07:03] Rickertje commented on #17925
Ok and what about part C  - is that fixed as well?
And what about the wished-for-behavior I note in the end ? Should I create a new issue for this?

[2018-09-05 07:11] AurelienLavorel commented on #17916
@magento-engcom-team give me test instance

[2018-09-05 07:12] engcom-backlog-nazar commented on #17925
@Rickertje https://github.com/magento/magento2/issues/12184 This seems to be correct Magento behavior.

[2018-09-05 07:15] engcom-backlog-nazar commented on #17916
@AurelienLavorel you need to-> "give me 2.2-develop instance"

[2018-09-05 07:16] AurelienLavorel commented on #17916
@magento-engcom-team give me 2.2-develop instance

[2018-09-05 07:16] magento-engcom-team commented on #17916
Hi @AurelienLavorel. Thank you for your request. I'm working on Magento 2.2-develop instance for you

[2018-09-05 07:17] magento-engcom-team commented on #17916
Hi @AurelienLavorel, here is your [Magento instance](https://i-17916-2-2-develop.engcom.dev.magento.com).
Admin access: [https://i-17916-2-2-develop.engcom.dev.magento.com/admin](https://i-17916-2-2-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-09-05 07:17] engcom-backlog-nazar commented on #17729
@adrcueva , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-05 07:17] #17729 closed, assigned to nobody

[2018-09-05 07:18] engcom-backlog-nazar commented on #14535
@ash-b , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-05 07:18] #14535 closed, assigned to nobody

[2018-09-05 07:18] engcom-backlog-nazar commented on #14592
@salmanazeez786 , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-05 07:18] engcom-backlog-nazar commented on #14401
@s-hoffman , we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-09-05 07:18] #14401 closed, assigned to nobody

[2018-09-05 07:38] AurelienLavorel commented on #17916
Hi @engcom-backlog-nazar, I can't reproduce the bug in test instance, we only have check payment method :(
Do you have a payment method with ability to refund online in your test environment? If yes, could you try to make an online refund?

[2018-09-05 07:42] engcom-backlog-nazar commented on #17916
@AurelienLavorel  Ok i will try again with paypal ExpressCheckout.

[2018-09-05 07:43] Rickertje commented on #17925
What I can see is that initially 12184 was added as TODO but was closed later on. So I am not sure  that this is fixed. Could you reproduce in your 2.2.5?
One can discuss about prefered behavior but the situation in the screenshot that I added (which was also similarly added in 12184) is a 100% error. The screenshot shows a situation in which the billing address and shipping address are different

[2018-09-05 08:00] engcom-backlog-pb commented on #17926
@allanpaiste, thank you for your report.
We've acknowledged the issue and added to our backlog.

[2018-09-05 09:08] engcom-backlog-pb commented on #6924
@insanityinside, please update steps to reproduce
![1](https://user-images.githubusercontent.com/40756187/45083392-5f338e80-b104-11e8-9974-fe0b2a444d64.gif)

[2018-09-05 09:18] insanityinside commented on #6924
Creating minimal test case now on clean 2.2.5 install, and diving into the code to find out precisely what is occurring. Hang tight.

[2018-09-05 09:52] insanityinside commented on #6924
Minimal testcase confirmed, using System->Import, entity type products, import behaviour add/update, stop on error, error count 10, field separator comma, multiple value separator comma, field enclosure ticked or unticked (no difference).

Minimal testcase file CSV attached. Will now test against 2.2-dev.

[magento_product_import_combined.txt](https://github.com/magento/magento2/files/2352225/mage

[2018-09-05 09:54] dverkade opened #17929 "Travis CI does not check API functional tests"
### Summary
Currently Travis CI does not execute the API functional tests which are included in Magento. This way developers submitting a PR are not sure of all tests will pass. This will cause a delay in the processing of the actual PR and disappointment for the developer because he thinks he passed all tests, but actually didn't.

With the headless architecture, API's are getting more and more i

[2018-09-05 09:54] magento-engcom-team commented on #17929
Hi @dverkade. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magento in

[2018-09-05 10:06] insanityinside commented on #6924
Confirmed solved in 2.2-dev as of current. Closing ticket.

[2018-09-05 10:06] #6924 closed, assigned to nobody

[2018-09-05 10:07] jakwinkler opened #17930 "Support to MariaDB 10.0.36 - can't reindex customer grid."
### Summary

Magento Commerce Edition: 2.2.5
On one of the servers we've updated MySQL to MariaDB 10.0.36.
There is a problem with customer grid indexer from shell mode.
MariaDB has implemented new features from MySQL, I think it is worth checking if the problem is also in latest MySQL versions.

### Examples
[code]

### Proposed solution

Remove created_in index

[2018-09-05 10:07] magento-engcom-team commented on #17930
Hi @qsolutions-pl. Thank you for your report.
To help us process this issue please make sure that you provided the following information:
- [ ] Summary of the issue
- [ ] Information on your environment
- [ ] Steps to reproduce
- [ ] Expected and actual results

Please make sure that the issue is reproducible on the vanilla Magento instance following **Steps to reproduce**. To deploy vanilla Magen

[2018-09-05 10:10] shivanisehdev86 commented on #10071
I have same issue in v2.2.5

A technical problem with the server created an error. Try again to continue what you were doing. If the problem persists, try again later.

and grid is not loading only spinner moving no data loading

![image](https://user-images.githubusercontent.com/12964707/45086950-07a41b80-b122-11e8-94f1-b6e89cf61023.png)

[2018-09-05 10:25] ishakhsuvarov commented on #17929
Hi @dverkade

Thank you for raising this topic.

Unfortunately Travis CI has limited capacity regarding number and execution time of tests. The ones currently executed are considered to be the most critical and picked to be executable by Travis in a reasonable amount of time.

There are more tests missing currently, like performance tests, full functional tests suite (there are ~1000 variations bu

[2018-09-05 10:25] #17929 closed, assigned to nobody

[2018-09-05 11:59] hypershopbv commented on #10424
@cadencelabs-master This issue only addresses products. Does someone know a fix for categories? Same issue when changing store view specific values on categories.

[2018-09-05 12:00] allanpaiste commented on #17856
Was not able to repeat it :(

## Environment

1. {try 1} Magento CE 2.2.4 with official Sample Data
1. {try 2} Magento CE 2.2.5 with official Sample Data

## Steps

1. open the site on /admin and log in
1. [admin] navigate to Catalog >> Products
2. [admin] use Filters button on the products grid
3. Fill in Name field with "pant"
4. Apply the filter
5. {grid will update with 171 products found}
6.