[2020-07-15 15:31] magento-engcom-team commented on #26107
Hi @TomashKhamlai. Thank you for your report.
The issue has been fixed in magento/magento2#28904 by @michalderlatka in 2.4-develop branch
Related commit(s):
 - [1091a3089a0cf0c4fec43998dc1b9d82101b720b](https://github.com/magento/magento2/commit/1091a3089a0cf0c4fec43998dc1b9d82101b720b)
 - [c8c4e06b23a41beb24c347829b41b623c14b70db](https://github.com/magento/magento2/commit/c8c4e06b23a41beb24c3478

[2020-07-15 15:31] #26107 closed, assigned to michalderlatka

[2020-07-15 15:31] magento-engcom-team commented on #28563
Hi @magento-engcom-team. Thank you for your report.
The issue has been fixed in magento/magento2#28757 by @pmarjan in 2.4-develop branch
Related commit(s):
 - [308ef0e7932653cfedfdc1cc3176da3b8b8faaec](https://github.com/magento/magento2/commit/308ef0e7932653cfedfdc1cc3176da3b8b8faaec)
 - [332369d81ca99be42514df19f0aaaa84c8ee96c4](https://github.com/magento/magento2/commit/332369d81ca99be42514df19

[2020-07-15 15:31] #28563 closed, assigned to danielrenaud, avattam06, prabhuram93, pmarjan

[2020-07-15 15:31] magento-engcom-team commented on #250
Hi @tiagosampaio. Thank you for your report.
The issue has been fixed in magento/magento2#27882 by @eduard13 in 2.4-develop branch
Related commit(s):
 - [9365b57c0591e14f5945a856acfb740c1921f69f](https://github.com/magento/magento2/commit/9365b57c0591e14f5945a856acfb740c1921f69f)
 - [ddf7d53cad8adf7b3ea40edd2c44c6287f5619a6](https://github.com/magento/magento2/commit/ddf7d53cad8adf7b3ea40edd2c44c6

[2020-07-15 15:40] JustICTNL commented on #28158
@alecx15

See topic: https://github.com/magento/magento2/issues/26675
And check my last comment like below.

I am using Magento 2.3.4

I have applied @edenduong' code to the file located in; /vendor/magento/framework/Stdlib/DateTime/Timezone.php (line 196)

###############

public function scopeDate($scope = null, $date = null, $includeTime = false)
{
$timezone = new \DateTimeZone(
$this->_scopeCo

[2020-07-15 15:47] Serializator commented on #29150
I definitely agree with _"Adding a custom maintenance site will make your site look more professional."_. At the moment this could be done through NGINX / Apache which would divert the request to a separate folder (possibly containing a simple HTML document) on a 5xx response, rather than the public folder in which Magento is located.

If this were to be implemented in Magento I'd expect it to be

[2020-07-15 16:09] nbennett25 opened #29157 "Special Price display not working on Product View"
### Preconditions (*)

1. Magento 2.3.5-p1
2. PHP 7.2

### Steps to reproduce (*)

1. Create product
2. Add Special Price & schedule it to be visible

### Expected result (*)

1. Special price visible on the Product Page per the [documentation](https://docs.magento.com/user-guide/catalog/product-price-special.html#use-a-simple-start-and-end-date)

### Actual result (*)

1. Product page only displa

[2020-07-15 16:09] nbennett25 commented on #29157
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-07-15 16:10] magento-engcom-team commented on #29157
Hi @nbennett25. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-15 16:11] magento-engcom-team commented on #29157
Hi @nbennett25, here is your [Magento instance](https://i-29157-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29157-2-4-develop.instances.magento-community.engineering/admin_70f4](https://i-29157-2-4-develop.instances.magento-community.engineering/admin_70f4)
Login: `e3b2918a` Password: `01a00fabb25a`
Instance will be terminated in up to 3 hours.

[2020-07-15 16:12] victortodoran opened #29158 "Login with unconfirmed account shows escaped anchor in error message"
### Preconditions (*)

1. Magento 2.3.5-p1
2. Does not reproduce on 2.4-develop
   Does reproduce on 2.3.5-p1
### Steps to reproduce (*)

1. Create Customer via store front and log out
2. Go to Admin > Stores > Configuration > Customers > Customer Configuration > Create New Account Options
3. Set Require Emails Confirmation to Yes
4. Save Configuration
5. Clear Cache
6. Try to login with created c

[2020-07-15 16:13] victortodoran commented on #29158
@magento give me 2.4-develop instance

[2020-07-15 16:14] magento-engcom-team commented on #29158
Hi @victortodoran. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-15 16:14] m2-assistant[bot] opened #29159 "[Issue] PageCache / Layout: Avoid multiple calls and config fetch"
This issue is automatically created based on existing pull request: magento/magento2#28992: PageCache / Layout: Avoid multiple calls and config fetch

---------
### Description (*)
Reduce the number of calls to Cache config.

### Expected behavior (*)
Should not be changed after fix

### Benefits
Reduce the number of calls to Cache config.

### Additional information

[2020-07-15 16:15] magento-engcom-team commented on #29158
Hi @victortodoran, here is your [Magento instance](https://i-29158-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29158-2-4-develop.instances.magento-community.engineering/admin_9c29](https://i-29158-2-4-develop.instances.magento-community.engineering/admin_9c29)
Login: `891149e3` Password: `3f3ec56ccc08`
Instance will be terminated in up to 3 hours.

[2020-07-15 16:16] m2-assistant[bot] opened #29160 "[Issue] Remove unneccessary `overflowed` class from minicart sidebar widget"
This issue is automatically created based on existing pull request: magento/magento2#28963: Remove unneccessary `overflowed` class from minicart sidebar widget

---------

### Summary (*)
Magento 2.4-develop
After investigating minibasket sidebar widget I've noticed `isOverflowed` function that applies `overflowed` class to one of minibasket elements.

Searching further, it seems that the class or

[2020-07-15 16:16] nbennett25 commented on #29157
Hm - working as expected on 2.3.4.

@magento give me 2.3.3 instance

[2020-07-15 16:16] magento-engcom-team commented on #29157
Hi @nbennett25. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2020-07-15 16:18] m2-assistant[bot] opened #29161 "[Issue] Remove over complicated setup for closing minicart dropdown"
This issue is automatically created based on existing pull request: magento/magento2#28906: Remove over complicated setup for closing minicart dropdown

---------

### Summary (*)
Magento 2.4-develop
When investigating minicart code I've noticed a bit strange way to add event listener to elements that are supposed to close minicart when clicked.

Please first look on removed line with `data-bind="

[2020-07-15 16:18] magento-engcom-team commented on #29157
Hi @nbennett25, here is your [Magento instance](https://i-29157-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-29157-2-3-3.instances.magento-community.engineering/admin_44ae](https://i-29157-2-3-3.instances.magento-community.engineering/admin_44ae)
Login: `59f64b14` Password: `60ddf0348e39`
Instance will be terminated in up to 3 hours.

[2020-07-15 16:20] nbennett25 commented on #29157
Hm - working as expected on 2.3.3 as well. Closing.

[2020-07-15 16:20] #29157 closed, assigned to nobody

[2020-07-15 16:21] victortodoran commented on #29158
@magento give me 2.3.5-p1 instance

[2020-07-15 16:22] magento-engcom-team commented on #29158
Hi @victortodoran. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-15 16:23] magento-engcom-team commented on #29158
Hi @victortodoran, here is your [Magento instance](https://i-29158-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-29158-2-3-5-p1.instances.magento-community.engineering/admin_9f6a](https://i-29158-2-3-5-p1.instances.magento-community.engineering/admin_9f6a)
Login: `8f5b5d2b` Password: `1b58a49404b3`
Instance will be terminated in up to 3 hours.

[2020-07-15 16:28] victortodoran commented on #29158
Does not reproduce on 2.4-develop
Dos reproduce on 2.3.5-p1
![image](https://user-images.githubusercontent.com/25669334/87570409-4b2e2000-c6d1-11ea-8e33-9f244bde07d8.png)

[2020-07-15 16:45] #28579 closed, assigned to sasha19957099

[2020-07-15 16:45] #28523 closed, assigned to eduard13

[2020-07-15 17:12] alecx15 commented on #28158
Hi mate , thank you very much for your answer i already did that ... i have the same version 2.3.4 like you but still doesn't work!

I think it's because i didn't update to 2.3.5-P1 yet! Can you tell me how i can do the update?

Thanks

[2020-07-15 17:49] nrkapoor commented on #28455
@aunik Thanks for reporting the issue. We are currently triaging the issue and will update the issue as we collect more information.

[2020-07-15 19:24] robolmos commented on #24353
@lotar I'm not a Varnish expert, but you might want to look at other solutions like compiling the VCL, letting the backends register as healthy, then load the VCL. Or, update the backends config to be healthy initially.

Maybe it's OK to retry with a server-side error to help prevent the client getting transient backend errors.. in vcl_backend_response() I believe it's technically return(retry) an

[2020-07-15 21:00] engcom-Lima commented on #28984
Hello @rvitaliy, thank you for your report.
Please, create issue in community-features [repo](https://github.com/magento/community-features/issues) for further discussion.

[2020-07-15 21:00] #28984 closed, assigned to engcom-Lima

[2020-07-15 21:26] magento-engcom-team commented on #28612
Hi @Yuwei9291.

Thank you for your report and collaboration!

The related internal Jira ticket `MC-35131` was closed as `non-reproducible` in `2.4-develop`.
It means that Magento team either unable to reproduce this issue using provided _Steps to Reproduce_ from the **_Description section_** on clean Magento instance or the issue has been already fixed in the scope of other tasks.

But if you stil

[2020-07-15 21:26] #28612 closed, assigned to nobody

[2020-07-15 21:30] scooper5569 opened #29163 "magento 2.3.5 not connecting to marketplace"
### Preconditions (*)

1. magent0 2.3.5 pt 1
2.

### Steps to reproduce (*)

1. clean install on sub domain
2.

### Expected result (*)

1. Magento 2 is not connecting to marketplace
2. Access key has been added to magento

### Actual result (*)

1. Extentions are not showing up in Extension Manager
---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributin

[2020-07-15 21:48] maksek commented on #29157
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-07-15 21:48] magento-engcom-team commented on #29157
Hi @maksek. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-15 21:50] magento-engcom-team commented on #29157
Hi @maksek, here is your [Magento instance](https://i-29157-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29157-2-4-develop.instances.magento-community.engineering/admin_a5b1](https://i-29157-2-4-develop.instances.magento-community.engineering/admin_a5b1)
Login: `0ba3f251` Password: `eb01320c1fa9`
Instance will be terminated in up to 3 hours.

[2020-07-15 22:03] sdzhepa commented on #26687
Hello @santosh-ks153
cc: @GalichMolodothon @SewHappy58 @hostep

Based on the issue description and discussion in comments
It seems not a bug but a configuration issue.
also in comments, there are recommendations, guides and links to the official documentation.

Please confirm that we close this Issue or update information in the issue description

[2020-07-15 22:08] sb-nick commented on #28614
I'm having the same issue with Magento ver. 2.3.3-p1. Right now we're playing whack-a-mole blocking IPs in Fastly. I've been attacked on and off since migrating to M2 in late March 2020. I think the guest checkout api is flawed and allows for this to happen. Magento and Braintree had said to implement recaptcha, but that won't help if you're already being attacked. In addition, BrainTree's advance

[2020-07-16 00:50] magento-engcom-team commented on #29087
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29054 by @ptylek in 2.4-develop branch
Related commit(s):
 - [c9cc512e13c0c47d984b2fa5d729114ccd646c55](https://github.com/magento/magento2/commit/c9cc512e13c0c47d984b2fa5d729114ccd646c55)

The fix will be available with the upcoming 2.4.1 release.

[2020-07-16 00:50] #29087 closed, assigned to ptylek

[2020-07-16 00:50] magento-engcom-team commented on #26191
Hi @nit-it. Thank you for your report.
The issue has been fixed in magento/magento2#27516 by @madhurajawat in 2.4-develop branch
Related commit(s):
 - [d3021f9c1ceeebc0c560598d0af10cf11567043c](https://github.com/magento/magento2/commit/d3021f9c1ceeebc0c560598d0af10cf11567043c)
 - [012821a975ff2b1ceafbb1c5aebd2d14449956ef](https://github.com/magento/magento2/commit/012821a975ff2b1ceafbb1c5aebd2d14

[2020-07-16 00:50] #26191 closed, assigned to madhurajawat

[2020-07-16 00:50] magento-engcom-team commented on #28981
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28797 by @vovayatsyuk in 2.4-develop branch
Related commit(s):
 - [54531b3a57aa6828c4a84c4ac4d330dbbe102e63](https://github.com/magento/magento2/commit/54531b3a57aa6828c4a84c4ac4d330dbbe102e63)
 - [1785136c5911b792503b7e69f636c6cc6c1ced56](https://github.com/magento/magento2/commit/1785136c5911b792503b7e

[2020-07-16 00:50] #28981 closed, assigned to nobody

[2020-07-16 00:50] magento-engcom-team commented on #28143
Hi @m2-backlog[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#26660 by @realadityayadav in 2.4-develop branch
Related commit(s):
 - [4459cb0829e96f5ac9835a999cf3d649cf81278e](https://github.com/magento/magento2/commit/4459cb0829e96f5ac9835a999cf3d649cf81278e)
 - [bad241b24aad62b3844c76cf1517f2c74a765a9c](https://github.com/magento/magento2/commit/bad241b24aad62b3844c

[2020-07-16 00:50] #28143 closed, assigned to realadityayadav

[2020-07-16 00:50] magento-engcom-team commented on #26723
Hi @webkul-dhananjay. Thank you for your report.
The issue has been fixed in magento/magento2#28839 by @engcom-Echo in 2.4-develop branch
Related commit(s):
 - [6005a92fa59f40294cd0074cb586f99b06f6b54e](https://github.com/magento/magento2/commit/6005a92fa59f40294cd0074cb586f99b06f6b54e)
 - [ed1a21e3f9cf14b4c5cf805eeea90881fb1c559a](https://github.com/magento/magento2/commit/ed1a21e3f9cf14b4c5cf805

[2020-07-16 00:50] #26723 closed, assigned to engcom-Echo

[2020-07-16 00:50] magento-engcom-team commented on #24922
Hi @vseager. Thank you for your report.
The issue has been fixed in magento/magento2#28752 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [733d72a13d816a70845fdef5e2e2414c7909c873](https://github.com/magento/magento2/commit/733d72a13d816a70845fdef5e2e2414c7909c873)
 - [4592de4372db8b8bde4546d01a271fac45f40671](https://github.com/magento/magento2/commit/4592de4372db8b8bde4546d01a271

[2020-07-16 00:50] #24922 closed, assigned to engcom-Charlie

[2020-07-16 00:50] magento-engcom-team commented on #21811
Hi @EyalAmir. Thank you for your report.
The issue has been fixed in magento/magento2#28799 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [a09d71afe6f0ed68df98e145f3b4f9858ab71c6d](https://github.com/magento/magento2/commit/a09d71afe6f0ed68df98e145f3b4f9858ab71c6d)
 - [7e6827db4b2b08de98a089e6568e515397b54cac](https://github.com/magento/magento2/commit/7e6827db4b2b08de98a089e6568e

[2020-07-16 00:50] #21811 closed, assigned to engcom-Charlie

[2020-07-16 00:50] magento-engcom-team commented on #23290
Hi @OleksiiBulba. Thank you for your report.
The issue has been fixed in magento/magento2#28549 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [3bff44623ad2694a203a0ae11018680bd7598a1f](https://github.com/magento/magento2/commit/3bff44623ad2694a203a0ae11018680bd7598a1f)
 - [a6049d55f20ffa75f25312b4e07554d8dd9616b1](https://github.com/magento/magento2/commit/a6049d55f20ffa75f25312b4

[2020-07-16 00:50] #23290 closed, assigned to engcom-Charlie

[2020-07-16 00:50] magento-engcom-team commented on #28064
Hi @GDauer. Thank you for your report.
The issue has been fixed in magento/magento2#28903 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [a16efb632ff2433a365e5126fbd0081e5882d70e](https://github.com/magento/magento2/commit/a16efb632ff2433a365e5126fbd0081e5882d70e)
 - [7f8dd4456dde2e6c435741905ac07ae36466243e](https://github.com/magento/magento2/commit/7f8dd4456dde2e6c435741905ac07a

[2020-07-16 00:50] #28064 closed, assigned to engcom-Charlie

[2020-07-16 00:50] magento-engcom-team commented on #1501
Hi @zhaoxiong123. Thank you for your report.
The issue has been fixed in magento/magento2#28932 by @gabrieldagama in 2.4-develop branch
Related commit(s):
 - [be428f7a4255de6b8ba5ae4668bf27be8ca0a38b](https://github.com/magento/magento2/commit/be428f7a4255de6b8ba5ae4668bf27be8ca0a38b)
 - [984dab1cf1c475ed2b60d12e98358fc69ede9dc0](https://github.com/magento/magento2/commit/984dab1cf1c475ed2b60d12e9

[2020-07-16 00:50] magento-engcom-team commented on #824
Hi @MagePsycho. Thank you for your report.
The issue has been fixed in magento/magento2#28366 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [8bfc104948ce65e0f98e78f34aeffacdc2f8f276](https://github.com/magento/magento2/commit/8bfc104948ce65e0f98e78f34aeffacdc2f8f276)
 - [a5a13fb40f7656dfa79cecec9c0b921d30cdd52f](https://github.com/magento/magento2/commit/a5a13fb40f7656dfa79cecec9c0b921d3

[2020-07-16 00:50] magento-engcom-team commented on #972
Hi @mrugeshrocks. Thank you for your report.
The issue has been fixed in magento/magento2#28366 by @Nazar65 in 2.4-develop branch
Related commit(s):
 - [8bfc104948ce65e0f98e78f34aeffacdc2f8f276](https://github.com/magento/magento2/commit/8bfc104948ce65e0f98e78f34aeffacdc2f8f276)
 - [a5a13fb40f7656dfa79cecec9c0b921d30cdd52f](https://github.com/magento/magento2/commit/a5a13fb40f7656dfa79cecec9c0b921

[2020-07-16 00:50] magento-engcom-team commented on #28900
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28749 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [29b501aae0e13ffdae752ef30654ede76eecbdac](https://github.com/magento/magento2/commit/29b501aae0e13ffdae752ef30654ede76eecbdac)
 - [cc01557f16066403d1932c91a2fb5ee4f1ee0980](https://github.com/magento/magento2/commit/cc01557f16066403d1932

[2020-07-16 00:50] #28900 closed, assigned to ihor-sviziev

[2020-07-16 04:32] ihor-sviziev commented on #824
Looks not related to this issue

On Thu, 16 Jul 2020 at 03:50, Magento Community Engineering <
notifications@github.com> wrote:

[2020-07-16 05:51] madhurajawat commented on #29014
@magento I am working on this

[2020-07-16 05:52] madhurajawat commented on #29014
@magento give me 2.4-develop instance

[2020-07-16 05:52] magento-engcom-team commented on #29014
Hi @madhurajawat. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-16 05:53] magento-engcom-team commented on #29014
Hi @madhurajawat, here is your [Magento instance](https://i-29014-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29014-2-4-develop.instances.magento-community.engineering/admin_6b39](https://i-29014-2-4-develop.instances.magento-community.engineering/admin_6b39)
Login: `83a17a2e` Password: `2d66b26d77d8`
Instance will be terminated in up to 3 hours.

[2020-07-16 06:32] madhurajawat commented on #29014
@Zyles Can you please elaborate more step 3. Create credit memo, enter a sum in "Adjustment refund" box
What you are doing exactly in this step? If possible please share the screenshot

[2020-07-16 07:41] GalichMolodothon commented on #26687
@sdzhepa hello!
Yes, it was a misunderstanding for setting the correct format in the cloud configuration for consumers and setting an array of consumers.

[2020-07-16 07:42] agorbulin commented on #26613
Reproduced on 2.3.5-p1

[2020-07-16 08:15] engcom-Delta commented on #29105
:heavy_check_mark: Done
PR https://github.com/magento/magento2-login-as-customer/pull/107

[2020-07-16 08:15] #29105 closed, assigned to engcom-Delta

[2020-07-16 08:22] engcom-Delta commented on #29106
:heavy_check_mark: Done
PR https://github.com/magento/magento2-login-as-customer/pull/107

[2020-07-16 08:22] #29106 closed, assigned to engcom-Delta

[2020-07-16 08:22] rvitaliy commented on #28984
:confused: :question:

[2020-07-16 08:26] engcom-Lima commented on #27891
@ktleach we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-07-16 08:26] #27891 closed, assigned to engcom-Lima

[2020-07-16 08:28] engcom-Lima commented on #27367
@AndreyChorniy @perffectolt, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-07-16 08:28] #27367 closed, assigned to engcom-Lima

[2020-07-16 08:29] m2-assistant[bot] opened #29165 "[Issue] Add a head.additional block to adminhtml layout"
This issue is automatically created based on existing pull request: magento/magento2#28389: Add a head.additional block to adminhtml layout

---------
Module developers are currently able to add external JS files to the admin area's `<head>` section, but adding inline scripts is not as straightforward as it is in the Frontend area because the admin layout doesn't define the `head.additional` block

[2020-07-16 08:32] engcom-Delta commented on #29107
:heavy_check_mark: Done
PR https://github.com/magento/magento2-login-as-customer/pull/107

[2020-07-16 08:32] #29107 closed, assigned to engcom-Delta

[2020-07-16 08:57] mgroensmit opened #29166 "Filtering configurable product by availability of related simple products doesn't work."
### Preconditions (*)

1. Magento 2.4-develop
2. Configuration value for 'Display out of stock products' is set to 'no'
3. Configuration value for 'Backorders' is set to 'no backorders'
![2020-07-27_11-58](https://user-images.githubusercontent.com/51679138/88523393-8e0cc380-d000-11ea-964c-ddb621eff3bc.png)

### Steps to reproduce (*)

1. Create a configurable product with two configurable attribut

[2020-07-16 09:01] mgroensmit commented on #29166
@magento give me 2.4-develop instance

[2020-07-16 09:02] magento-engcom-team commented on #29166
Hi @mgroensmit. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-16 09:03] magento-engcom-team commented on #29166
Hi @mgroensmit, here is your [Magento instance](https://i-29166-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29166-2-4-develop.instances.magento-community.engineering/admin_d4ce](https://i-29166-2-4-develop.instances.magento-community.engineering/admin_d4ce)
Login: `a9344479` Password: `9f683b042459`
Instance will be terminated in up to 3 hours.

[2020-07-16 09:07] engcom-Delta commented on #29108
:heavy_check_mark: Done
PR https://github.com/magento/magento2-login-as-customer/pull/107

[2020-07-16 09:07] #29108 closed, assigned to engcom-Delta

[2020-07-16 09:30] mgroensmit commented on #29166
Issue is reproducible on Magento 2.4
![image](https://user-images.githubusercontent.com/53430364/87654733-a276d380-c757-11ea-98b5-ee5e440710a5.png)

[2020-07-16 10:02] milch-shake commented on #5735
Hi,

i've got the same Problem here.

My Problem was, that we had two shooping cart rules on the same priority - one with 3% discount and second with 4% discount.
M2 will collect them to 7% and the paypal module will first take 3% and after that 4% - because of this, the total value and the collected shipping-/tax- & item-values are not the same.

to fix this, (VERY QUICK AND DIRTY):
goto module-p

[2020-07-16 10:03] milch-shake commented on #6897
Hi,

i've got the same Problem here.

My Problem was, that we had two shooping cart rules on the same priority - one with 3% discount and second with 4% discount.
M2 will collect them to 7% and the paypal module will first take 3% and after that 4% - because of this, the total value and the collected shipping-/tax- & item-values are not the same.

to fix this, (VERY QUICK AND DIRTY):
goto module-p

[2020-07-16 10:06] Eddcapone commented on #29150
I figured out how to create a custom maintenance site. You just have to add your maintenance site code to the file `pub/errors/default/503.phtml`. Sadly this is nowhere described in the documentation... You can also use php and include sites to make it more organized.

[2020-07-16 10:33] sedax90 commented on #28428
I've tried it but it doens't works....

[2020-07-16 10:36] matteojob opened #29167 "Data transfer->Input fails on windows"
### Preconditions (*)
1. Magento 2.3.4
2. Apache 2.4
3. Windows Server 2012 R2
4. mySQL 5.7.31
5. Imported site and db from linux server

### Steps to reproduce (*)
1. Go to system -> data transfer -> import
2. Basically, every csv I try to import, throw me "Sorry, but the data is invalid or the file is not uploaded."; checked permissions (also I've tried to upload an image, with success). Even if

[2020-07-16 10:36] pmarjan opened #29168 "Tier prices filtering in GraphQl - prices for different customer group but same quantity are not filtered out"
Execute this query, to search for product that already meets the pre-conditions below

`products(search: "[Product-name]"){
	items {
    price_tiers {
     	final_price {
        currency
        value
      }
      quantity
     }
	  }
	}`

Preconditions, expected results and actual results, are all based on an example with colliding ALL CUSTOMER GROUPS with NOT LOGGED IN.
Nevertheless, the probl

[2020-07-16 10:40] hemendraajmera commented on #28068
Thank you @nordcomputer to provide the solution to show price for out of the stock product. I haven't tried to install but need to install to resolve the Magento bug.
before I install the extension, can you please help me to answer the below query:
After using extension it also shows options for configurable products which not visible for out of the stock configurable product.

[2020-07-16 11:35] Eddcapone opened #29169 "Can't access admin (backend) after setting up custom Admin URL via backend"
### Preconditions (*)

1. Magento 2.3.5-p1 Enterprise

### Steps to reproduce (*)

I changed the custom admin URL via the admin.

I've set **Stores -> Settings: Configuration -> Advanced: Admin -> Admin Base URL -> Use Custom Admin URL** to **Yes**

I've set **Stores -> Settings: Configuration -> Advanced: Admin -> Custom Admin URL -> Custom Admin URL** to **adminxyz**

but just after saving it sh

[2020-07-16 11:47] advancedngwarati commented on #25947
I'm facing this issue as well, did you managed to solve this @taihuuho ?

[2020-07-16 11:58] magento-engcom-team commented on #29067
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35917` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-16 12:11] magento-engcom-team commented on #29076
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-07-16 12:12] madhurajawat commented on #28931
@magento add to contributors team

[2020-07-16 12:13] magento-engcom-team commented on #29076
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35918` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-16 12:42] madhurajawat commented on #28931
@magento add to contributors team

[2020-07-16 12:43] magento-engcom-team commented on #26891
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35920` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-16 12:44] MarcusWolschon commented on #25076
Are you setting the encoding of a UTF-8 text to ASCII ?
That sounds like it breaks all L10N and I18N.

[2020-07-16 12:50] convenient commented on #25076
Only on the content disposition header @MarcusWolschon

All other headers and values will remain encoded as they are. This will mean that the content disposition header can have a value like `inline` and not `=?utf-8?Q?inline?=`

This matches the possible values at https://www.iana.org/assignments/cont-disp/cont-disp.xhtml

Based on this only changing this one header I do not think this will affec

[2020-07-16 13:02] engcom-Lima commented on #28984
Hello @rvitaliy [This](https://www.youtube.com/watch?v=2UNmN54K_PE&list=PLDvMskiz68Q2BLkj0-xzjuFl7ZVti9Quj&index=3)
 video discusses this software issue with PO.

[2020-07-16 13:04] eurobeautiful commented on #28614
@sb-nick thanks for your comments, I completely agree.

In the absence of any response from Magento (I wish I were more proficient in coding so that I can contribute to the solution), we have been managing the attacks. We have created additional fail2ban rules that trigger with different settings, and together with ModSecurity we have been able to stop for the most part attacks from single IP addr

[2020-07-16 13:27] pocallaghan opened #29172 "Corrupt Merged CSS Files"
Note that due to the nature of this issue, there's little chance that this can be replicated by somebody attempting to triage this ticket, I'm raising purely so I have something to reference with a pull request, so an engineer can review.

### Preconditions (*)

1. CSS Merging Enabled (Store > Configuration > Advanced > Developer > CSS Settings > Merge CSS Files).
2. `var/tmp` and `pub/static` bei

[2020-07-16 13:31] pfdcdigital commented on #28614
Why is this not controlled if we have Fastly Installed and configured, magento is still not responding to any security patch to lock the request, I am still getting lots of declined emails in trying to attempt the rest API.

[2020-07-16 13:36] amenk opened #29174 "Category API should support save_rewrites_history for consistency reasons"
# Description

When updating category URL keys via REST API there is no possibility to automatically create 301 redirects for the old URL key to the new one.

For products this is possible

### Expected behavior (*)

contents of category-rename.json

     {"category":{"name":"new name","is_active":1,"parentId":2366,"custom_attributes":[{"attribute_code":"url_key","value":"new name"},{"attribute_co

[2020-07-16 13:44] amenk commented on #8957
@juanremi which problem? For Products or Categories? For categories see #29174

[2020-07-16 14:21] VladimirZaets commented on #28984
Hi @rvitaliy. Your request looks like the feature, not a bug. We have approach to use objects instead of associative arrays. If you think that we need to use associative arrays in this case you can create the issue in "community-features" repository and discuss it with our architects

[2020-07-16 14:27] corewaysolution opened #29175 "Product Media Drag and Drop in Backend for Firefox"
### Preconditions (*)

1. Product Detail Page Backend Medial Gallery Drag and Drop not perfect work in Firefox 78.0.1
2. Modal Popup open When I Drag & Drop Image
3. In other Browser Modal popup not open when I Drag & Drop

### Steps to reproduce (*)

1. Open Magento Backend in Firefox
2. Open Product Detail Page and then Open Images and Video Tab
3. Upload more than one Image
4. and then try to d

[2020-07-16 14:33] corewaysolution commented on #29175
@magento give me 2.4-develop instance

[2020-07-16 14:33] magento-engcom-team commented on #29175
Hi @corewaysolution. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-16 14:35] magento-engcom-team commented on #29175
Hi @corewaysolution, here is your [Magento instance](https://i-29175-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29175-2-4-develop.instances.magento-community.engineering/admin_2afe](https://i-29175-2-4-develop.instances.magento-community.engineering/admin_2afe)
Login: `52f6c7d8` Password: `6755921e4274`
Instance will be terminated in up to 3 hours.

[2020-07-16 14:35] magento-engcom-team commented on #28570
Hi @magento-engcom-team. Thank you for your report.
The issue has been fixed in magento/magento2#28888 by @michalderlatka in 2.4-develop branch
Related commit(s):
 - [1943018094edcedddc73463a5e703a9a76653ad8](https://github.com/magento/magento2/commit/1943018094edcedddc73463a5e703a9a76653ad8)
 - [887f19109e9ecac0c15af7f2ddbbbf9ec7d360b3](https://github.com/magento/magento2/commit/887f19109e9ecac0c

[2020-07-16 14:35] #28570 closed, assigned to michalderlatka, cpartica

[2020-07-16 14:37] engcom-Lima commented on #28980
Hello @aveevan
Could you provide more details for reproduce this issue?
Please add steps to reproduce and version of Magento.

Thank you!

[2020-07-16 14:52] #29083 closed, assigned to nobody

[2020-07-16 14:59] mtjweb opened #29177 "Error on checkout multistores"
### Preconditions (*)

1. Magento 2.3.5-p1

### Steps to reproduce (*)

1. Open a multistore website, not the domain where Magento is running.
2. Add product to cart
3. Go to checkout

### Expected result (*)

1. Working checkout, no error

### Actual result (*)

1. The error "Something went wrong with your request. Please try again later" is showing briefly on top of the page
2. Shipping methods

[2020-07-16 15:10] rvitaliy commented on #28984
Hi @VladimirZaets !
I tried to search documentation or examples but i didn't found anything.
Can you provide an example of how this implementation work on publish and on consuming of message?

[2020-07-16 15:15] juanremi commented on #8957
@amenk for Products updated via api

[2020-07-16 15:17] amenk commented on #8957
@juanremi  Interesting, I suggest you open a new issue (and link it with this one) with your case and clear steps to reproduce, for us it seems to work in 2.3.3-p1 (for products)

[2020-07-16 15:23] engcom-Lima commented on #28489
Hello @evokul
Yes, replacement on 2.3.4 database with 2.2.7 magento site can create this problem.
If you have a database backup, you can make upgrade to 2.3.5-p1
As for the functionality of the site, is it working fine?

[2020-07-16 15:54] sb-nick commented on #28614
Couple things we have implemented from mage support:

1) In Admin > Configuration > General > Web > Session Validation Settings
Set to "Yes" the following:
Validate REMOTE_ADDR
Validate HTTP_VIA
Validate HTTP_USER_AGENT

I'm not 100% sure what this does, the documentation is very high level.

2) Upgraded fastly above 1.2.138 as this version added Add rate limiting to WebApi
https://github.com/fast

[2020-07-16 16:13] mtjweb commented on #29177
Problem solved. It was an error in the index.php.

[2020-07-16 16:13] #29177 closed, assigned to nobody

[2020-07-16 16:33] Eddcapone opened #29178 "Magento still loads settings from old storeviews after changing to single store mode"
### Preconditions (*)

1. Magento 2.3.5-p1
**Doesn`t reproducible on 2.4**

### Steps to reproduce (*)

1. Admin (Backend): Content -> Design: Configuration
![image](https://user-images.githubusercontent.com/16349349/87696496-2a2d0400-c791-11ea-8425-2870373f1d80.png)

2. Edit all three and add a font-awesome script to **Content -> Design: Configuration -> Other Settings -> HTML Head -> Scripts and

[2020-07-16 16:45] sdzhepa commented on #26845
Hello @CarmineDamore78

Thank you for confirmation that it fixed in the latest `2.4-develop` code.
Closed as fixed

[2020-07-16 16:45] #26845 closed, assigned to CarmineDamore78

[2020-07-16 17:12] eraq commented on #14211
This issue still exists in 2.3.5

[2020-07-16 17:24] sdzhepa commented on #25766
@CarmineDamore78

Thank you for confirmation that issue has been fixed in the current `2.4-develop`
Closed as fixed

[2020-07-16 17:24] #25766 closed, assigned to nobody

[2020-07-16 17:33] sdzhepa commented on #25554
@pauluse this issue looks like  a Duplicate of https://github.com/magento/magento2/issues/28931

can you confirm or I missed something?

[2020-07-16 19:17] KZNcode commented on #26882
This bug are ridiculous and a huge waste of time. Even IDENTICAL templates to the magento "XXX (default)" don't show the product list... only direct database manipulation of "is_legacy" works. Come on now... This don't make any sense.

[2020-07-16 20:20] kirkmadera opened #29181 "\Magento\Framework\App\Response\Http\FileFactory::create generates output causing headers already sent error"
`\Magento\Framework\App\Response\Http\FileFactory::create` generates output causing headers already sent error. It looks like the intent of this is to output the file at the same time as writing to it when creating a new file from string content. This, however, breaks the contract of controllers (or any code, really) that use this method. Specifically, for controllers, the contract is to return a

[2020-07-16 20:20] okorshenko commented on #29145
@magento give me 2.4-develop instance

[2020-07-16 20:20] magento-engcom-team commented on #29145
Hi @okorshenko. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-16 20:22] magento-engcom-team commented on #29145
Hi @okorshenko, here is your [Magento instance](https://i-29145-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29145-2-4-develop.instances.magento-community.engineering/admin_9936](https://i-29145-2-4-develop.instances.magento-community.engineering/admin_9936)
Login: `d909e92e` Password: `ea59b25ec454`
Instance will be terminated in up to 3 hours.

[2020-07-16 20:24] kirkmadera commented on #29181
This can't be fixed by removing the output as many other classes assume this functionality to exist. I think you should maybe add a flat like `$outputDirectly` defaulted to false and call this out in BC breaks. Then update existing code core to either use this with the $response object correctly or set htis flag to true.

[2020-07-16 20:25] carlos-reynosa commented on #1619
Making sure that imports had .less worked for me as well.

[2020-07-16 20:39] posidonius commented on #28278
I appear to also be experiencing this issue in 2.3.5 using Magento Blank theme. According to Nginx logs, the first request to `checkout/cart/updateItemQty/` results in 200 and the quantity is updated.

After that there is a request to `customer/section/load/?sections=messages&force_new_section_timestamp=true` with 200 result.

Then there is a request to `checkout/cart/updatePost/` which does a 302

[2020-07-16 21:04] andrew-ebsco commented on #27513
I can confirm this is still happening in 2.3.5-p1. The class at vendor/magento/module-sales/Model/Order/Shipment/Sender/EmailSender.php does not include the `order_data` array in the template variables object.

[2020-07-17 02:24] nhatlich994 opened #29182 "Swatches Image is duplicated after change base image order in backend"
### Preconditions
1. Magento CE 2.3.4 with sample data

### Steps to reproduce
1. Login to admin panel
2. Go to Catalog > Products
3. Choice one configurable product and edit it (Ex: Chaz Kangeroo Hoodie)
4. Scroll down to tab Images And Videos
5. Drag and drop base/small/thumbnail image to last place like [this](https://imgur.com/6XqFhwW)
6. Save product
7. Visit product page in storefront
8. Cho

[2020-07-17 06:12] mack4hack commented on #29182
@magento give me 2.4-develop instance

[2020-07-17 06:13] magento-engcom-team commented on #29182
Hi @mack4hack. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-17 06:14] magento-engcom-team commented on #29182
Hi @mack4hack, here is your [Magento instance](https://i-29182-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29182-2-4-develop.instances.magento-community.engineering/admin_f976](https://i-29182-2-4-develop.instances.magento-community.engineering/admin_f976)
Login: `752b9ae2` Password: `aff48641a948`
Instance will be terminated in up to 3 hours.

[2020-07-17 06:30] ihor-sviziev commented on #17310
Re-opening this issue due to report and possible solution in https://github.com/magento/magento2/pull/29140

[2020-07-17 06:31] mack4hack commented on #29182
@kamui23 not able to reproduce on 2.4-develop instance

**Backend**
![Screenshot from 2020-07-17 11-58-04](https://user-images.githubusercontent.com/11089409/87755664-0915f300-c825-11ea-9e1f-63a956e01fe2.png)

**Frontend**
![Screenshot from 2020-07-17 11-58-51](https://user-images.githubusercontent.com/11089409/87755672-0ca97a00-c825-11ea-9705-10e18b30a1f8.png)

You can verify again, till the inst

[2020-07-17 06:35] magento-engcom-team commented on #27505
Hi @SamJUK.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [ae251d90665094d540285528a3d655f982fa683c](https://github.com/magento/magento2/commit/ae251d90665094d540285528a3d655f982fa683c)
 - [c76f06c080463d863845bfba046a8aa6fcb662cc](https://github.com/magento/magento2/co

[2020-07-17 06:37] kamui23 commented on #29182
@mack4hack https://imgur.com/khzPOOt
Link verify: https://i-29182-2-4-develop.instances.magento-community.engineering/configurable-product-1.html
It is still here

[2020-07-17 06:39] kamui23 commented on #29182
Step 1: Choice first option Dynamic Attribute ca_1_631447041
Step 2: Choice first option Dynamic Attribute ca_2_631447041 (Select)

[2020-07-17 06:44] mack4hack commented on #29182
@kamui23 Able to reproduce on reproduce on 2.4-develop instance, previously I haven't selected the option.

![image](https://user-images.githubusercontent.com/11089409/87756653-eab0f700-c826-11ea-99f4-726388d35eb4.png)

[2020-07-17 07:07] Vanitha-bujjinga commented on #28986
Any updates on this ticket?

[2020-07-17 07:12] nordcomputer commented on #28068
Sorry, can you rephrase your question? The extension will show "out-of-stock" options for configurable products as "greyed out" and not clickable. When there is no option for the configurable product in stock, then the options (all together) dont show up.

[2020-07-17 07:24] qsolutions-pl commented on #25370
Is anyone working on this bug?

[2020-07-17 07:44] swathishs commented on #28804
@magento give me 2.4-develop instance

[2020-07-17 07:44] magento-engcom-team commented on #28804
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-17 07:46] magento-engcom-team commented on #28804
Hi @swathishs, here is your [Magento instance](https://i-28804-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28804-2-4-develop.instances.magento-community.engineering/admin_04ee](https://i-28804-2-4-develop.instances.magento-community.engineering/admin_04ee)
Login: `053ae396` Password: `b11cdbadba22`
Instance will be terminated in up to 3 hours.

[2020-07-17 07:52] fritzmg commented on #17310
That's not really a solution to the original problem. The problem is, that the _fallback_ is not working, in case the max concurrency limit is reached. Magento should not rely upon this limit being high enough, should it?

[2020-07-17 08:01] swathishs commented on #29031
@Veorirac : In 2.4 develop instance the fix is like automatically the decimal value is cut and added only the correct value like in the screenshot.
![image](https://user-images.githubusercontent.com/58288685/87762952-88a9bf00-c831-11ea-86d4-777ced73e791.png)

[2020-07-17 08:04] swathishs commented on #29031
@magento give me 2.3.5-p1 instance

[2020-07-17 08:04] magento-engcom-team commented on #29031
Hi @swathishs. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-17 08:06] magento-engcom-team commented on #29031
Hi @swathishs, here is your [Magento instance](https://i-29031-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-29031-2-3-5-p1.instances.magento-community.engineering/admin_fc2a](https://i-29031-2-3-5-p1.instances.magento-community.engineering/admin_fc2a)
Login: `47759153` Password: `7b1daf117936`
Instance will be terminated in up to 3 hours.

[2020-07-17 08:10] swathishs commented on #28804
@lbajsarowicz : Tested in 2.4 develop instances. I have created a custom URL - https://i-28804-2-4-develop.instances.magento-community.engineering/backend/ . What I did is correct?

Custom Admin URL:
![image](https://user-images.githubusercontent.com/58288685/87763682-cbb86200-c832-11ea-8b2b-3758f26d00f5.png)

404 Error:
![image](https://user-images.githubusercontent.com/58288685/87763732-dd9a0500

[2020-07-17 08:13] swathishs commented on #29031
Tested in 2.3.5P1 develop instance .Please find the attachment below:
![image](https://user-images.githubusercontent.com/58288685/87764053-5e590100-c833-11ea-98a3-18300c5b2b9f.png)

[2020-07-17 08:13] #29031 closed, assigned to swathishs

[2020-07-17 08:13] swathishs commented on #29031
@Veorirac : Thank you for your contribution and collaboration. Since the issue is like a feature request. Hence closing the ticket.
Please create this on the Community feature repository.
https://github.com/magento/community-feature

[2020-07-17 08:42] swathishs commented on #29182
Hi @kamui23 , thank you for your report. According to the contributor's guide, Magento is focusing development efforts on v2.4.
I confirm that issue is not reproducible on the latest 2.4-develop branch.
If you'd like to update the issue, please reopen it.

[2020-07-17 08:42] #29182 closed, assigned to swathishs

[2020-07-17 09:04] yeegor commented on #28966
@pics124 @swathishs are there any updates on this issue? I am experiencing the same.

[2020-07-17 09:41] AndrewJGriff commented on #27942
I have exactly the same issue.  @john-dhm are you using the Athlete 2 theme?
My setup is exactly the same as @john-dhm and I have been trying everything to get it to work.

[2020-07-17 09:48] bernd-reindl opened #29185 "\Magento\Framework\Filter\Template\Tokenizer\Parameter"
### Preconditions (*)
1. Magento 2.4-develop

### Steps to reproduce (*)
1. Create Custom Directive as described in [devdocs](https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/templates/template-email-migration.html#create-a-custom-directive);
2. Add created before directive to any CMS page ( `{{lifetime should_bold="1"}}` in my case);
3. Open cms page with the custom directive;

**Actual

[2020-07-17 09:50] engcom-Lima commented on #28485
Hello @heygambo
Could you provide more details for reproduce this issue?
Make sure the "Server Name or IP" is set correctly in the "Default HTTP Request"
![Screenshot_26](https://user-images.githubusercontent.com/60198022/87771297-d66df980-c828-11ea-8ffd-8e0b1496e70e.png)
More information about using [Jmeter](https://upcloud.com/community/tutorials/benchmark-magento-with-jmeter/)

Thank you!

[2020-07-17 09:57] darshanperpule commented on #25987
@ilnytskyi I am also facing the same issue in my prod environment.

[2020-07-17 09:59] kamal02mittal opened #29186 "Magento2.3.5-p1 version automatically sending invoice mail even if "Email Copy of Invoice checkbox" not selected"
If we create invoice from admin and we have not selected "Email Copy of Invoice" checkbox, then invoice email should not be sent. But it is sending the mails.

### Preconditions (*)

1. Magento2.3.5-p1
2. PHP Version 7.2.27

### Steps to reproduce (*)

1. Create order from admin with any payment method like cash on delivery or check money order.
2. Create an invoice from admin and don't select "Em

[2020-07-17 10:47] ionnini commented on #19159
Issue still persist in version 2.3.5

[2020-07-17 11:02] corewaysolution commented on #29175
@magento I am working on this

[2020-07-17 11:03] corewaysolution commented on #29175
@magento add to contributors team

[2020-07-17 11:03] corewaysolution commented on #29175
@magento I am working on this
can you please assign this to me

[2020-07-17 11:35] magento-engcom-team commented on #27233
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35965` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-17 11:41] pandurangbabar commented on #25947
I am also facing same issue. any solution to this @taihuuho

[2020-07-17 12:30] Eddcapone opened #29188 "New magento update of magento/services-connector/ destroys everything"
### Preconditions (*)

1. Magento EE 2.3.5-p1

### Steps to reproduce (*)

1. composer update

[code]

2. Reload frontend
3. 500 server error
4. php bin/magento list
5. -> nothing happens
6. Edit pub/index.php and add this code to see error message:

        ini_set('display_errors', 1);
        ini_set('display_startup_errors', 1);
        error_reporting(E_ALL);

7. Reload frontend
8. See this e

[2020-07-17 12:47] engcom-Lima commented on #29158
@magento give me 2.3.5-p1 instance

[2020-07-17 12:47] magento-engcom-team commented on #29158
Hi @engcom-Lima. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-17 12:49] magento-engcom-team commented on #29158
Hi @engcom-Lima, here is your [Magento instance](https://i-29158-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-29158-2-3-5-p1.instances.magento-community.engineering/admin_d6d3](https://i-29158-2-3-5-p1.instances.magento-community.engineering/admin_d6d3)
Login: `c57331c4` Password: `252f88c02934`
Instance will be terminated in up to 3 hours.

[2020-07-17 12:59] madhurajawat commented on #26147
@magento give me 2.4-develop instance

[2020-07-17 12:59] magento-engcom-team commented on #26147
Hi @madhurajawat. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-17 13:00] madhurajawat commented on #26147
@magento I am working on it

[2020-07-17 13:01] magento-engcom-team commented on #26147
Hi @madhurajawat, here is your [Magento instance](https://i-26147-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26147-2-4-develop.instances.magento-community.engineering/admin_8798](https://i-26147-2-4-develop.instances.magento-community.engineering/admin_8798)
Login: `8d75dc48` Password: `81f496f0f67e`
Instance will be terminated in up to 3 hours.

[2020-07-17 13:10] piyushbrainvire commented on #28239
Due to this cart and wishlist page shows placeholder images if small/thumbnail image is set to Hide from Product page.
Is there any update solution for this?

[2020-07-17 13:11] krishprakash commented on #29186
Hi @kamal02mittal.
Seems issue is already reported #28511
So no need to open same issue

[2020-07-17 13:11] #29186 closed, assigned to krishprakash

[2020-07-17 13:19] magento-engcom-team commented on #29158
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35973` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-17 13:32] gwharton commented on #28239
You can manually apply a patch as a workaround.

```composer require vaimo/composer-patches```

patches/composer/imageresizeall.diff
[code]

composer.json
[code]

Works on 2.3.5-p1

[2020-07-17 14:02] kamal02mittal commented on #28511
Yes, I have also applied the same
replaced below
[code]

With

[code]

OR

if (!empty($data['send_email'])) {
    $this->invoiceSender->send($invoice);

[2020-07-17 14:13] magento-engcom-team commented on #29126
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35975` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-17 14:13] #28835 closed, assigned to gallyamov

[2020-07-17 14:13] #28833 closed, assigned to gallyamov

[2020-07-17 14:19] ankurvr commented on #29188
I confirm this issue on Magento CE 2.3.5 too. It's because of latest version update 1.0.6 only.

Looks like they have shipped services-connector with wrong directory structure.

[2020-07-17 14:50] sdzhepa opened #29190 "[MFTF] Finalize coverage and deliver"
TODO:
1. review current MFTF coverage VS manual coverage in HIpTest
2. Define a list of scenarios that must be covered with MFTF
3. Cover/implement them and created PR

List of Manual Scenarios that must be automated

1. [Special prices shown on category when Admin user Login as customer account](https://studio.cucumber.io/projects/163172/test-plan/folders/1204738/scenarios/4202282)
2. [Login as C

[2020-07-17 14:58] #28769 closed, assigned to danielrenaud, pmarjan

[2020-07-17 15:33] loganstellway commented on #6179
We use Redis in our setup. When I receive this error, flushing the Redis cache usually does the trick.
Here's a [short help article from Magento](https://support.magento.com/hc/en-us/articles/360034633551-During-installation-Reflection-Exception-error) regarding the issue.

[2020-07-17 15:45] mrtuvn commented on #29158
Fixed in 2.4 https://github.com/magento/magento2/pull/27662

[2020-07-17 16:34] sdzhepa commented on #4641
Due to https://github.com/magento/magento2/issues/4641#issuecomment-583306796 issue is not reproducible on the latest `2.4-develop` code.
There is no feedback or additional details.
Closed as cannot reproduce

[2020-07-17 16:34] #4641 closed, assigned to vikalps4

[2020-07-17 17:03] engcom-Lima commented on #29124
Hello @iovistainc
Unfortunately, I'm not able to reproduce issue by steps you described on clean 2.4-develop and 2.3.5-p1
![Kazam_screenshot_00001](https://user-images.githubusercontent.com/60198022/87804565-b8ba8780-c85c-11ea-9d41-dd38e74bedf6.png)
Please check memory_limit in php.ini
It would be great if you could add a screenshot of a blank product page

[2020-07-17 18:42] ajijshekh123 commented on #28987
@giantdev - Any Update. If this issue is fixed Please let me know so I will close this issue.

[2020-07-17 18:43] ajijshekh123 commented on #29046
@rani-webkul - Any update?

[2020-07-17 18:44] ajijshekh123 commented on #29060
@vasusundar - Any Update. If this issue is fixed Please let me know so I will close this issue.

[2020-07-17 18:52] ajijshekh123 commented on #29175
@magento give me 2.4-develop instance

[2020-07-17 18:52] magento-engcom-team commented on #29175
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-17 18:54] magento-engcom-team commented on #29175
Hi @ajijshekh123, here is your [Magento instance](https://i-29175-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29175-2-4-develop.instances.magento-community.engineering/admin_9bb0](https://i-29175-2-4-develop.instances.magento-community.engineering/admin_9bb0)
Login: `172a5fb2` Password: `8b5d52b76e23`
Instance will be terminated in up to 3 hours.

[2020-07-17 19:06] ajijshekh123 commented on #29014
Hi @sdzhepa & @madhurajawat,
In the Credit Memo section,
Ex: My Grand Total is $8.07 and Enter the Adjustment Refund is $35.00 then Click on Update Totals button. It's working fine but Again click on the "Refund Offline" button. It is showing an error "The most money available to refund is $8.07.".

Thanks.

[2020-07-17 19:14] ajijshekh123 commented on #29175
Hello @corewaysolution,
I have verified this issue with the Default Magento 2.4 Instance.  Drag and Drop functionality is working fine.
Can you please send me the video if you face this issue again?

Thanks.

[2020-07-17 19:27] darpanpatel2018 opened #29192 "Product Qty not update in decimal value in cart update page"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1. Product Qty not update in decimal value in cart update page even i have choose product increase in decimal value in listing time
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2020-07-17 19:29] ajijshekh123 commented on #29192
Hi @darpanpatel2018,
Please add Proper Pre Conditions, Steps to be reproduced, Actual result and Expected result.

[2020-07-17 20:22] Mobecls commented on #27223
we actually have the same issue. Products with Salable qty are showing on frontend and not considered as out of stock. Reindex is not helping. And we don't have repo steps...

[2020-07-17 20:53] magento-engcom-team commented on #27216
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35995` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-17 21:56] Bartlomiejsz commented on #28947
@magento I am working on this

[2020-07-18 03:04] vasusundar commented on #29060
@ajijshekh123  Hope latest version has resolved the issue, but i am getting an issue in Magento2.3.5 Version , Let me recheck in old version

[2020-07-18 04:54] posidonius opened #29194 "CSS for tier prices block still visible when there are no tier prices"
#26081
# Preconditions (*)
Magento 2.4

### Steps to reproduce (*)
1. Create a configurable product and associate 1 simple product with no tier pricing and 1 simple product with tier pricing
2. Style the tier prices block with a background or border (for example `border: aqua; background: #99cfff;`)
3. Toggle between the 2 simple products. For the product with no tier pricing, the content disappea

[2020-07-18 15:05] giantdev commented on #28987
@ajijshekh123 I still have the issue. I am just wondering if the issue has been fixed on 2.3.5

[2020-07-18 15:40] magento-engcom-team commented on #25934
Hi @Bhavik-kumar. Thank you for your report.
The issue has been fixed in magento/magento2#28838 by @ptylek in 2.4-develop branch
Related commit(s):
 - [def4e04a3d28334a05e99926f8e88eb4f679439d](https://github.com/magento/magento2/commit/def4e04a3d28334a05e99926f8e88eb4f679439d)
 - [630bebd12e55264ac2ddd37fb4f1fe2d2a930903](https://github.com/magento/magento2/commit/630bebd12e55264ac2ddd37fb4f1fe2d

[2020-07-18 15:40] #25934 closed, assigned to ptylek

[2020-07-18 15:40] magento-engcom-team commented on #13210
Hi @davidverholen. Thank you for your report.
The issue has been fixed in magento/magento2#29001 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [2e4b71cdcec16709a93fcfb22be7e482b3f66969](https://github.com/magento/magento2/commit/2e4b71cdcec16709a93fcfb22be7e482b3f66969)
 - [acd5177e9f442a3bed8f87e035d6d59bfc7a0f42](https://github.com/magento/magento2/commit/acd5177e9f442a3bed8f87e

[2020-07-18 15:40] #13210 closed, assigned to engcom-Charlie

[2020-07-18 18:08] heygambo commented on #28485
Hey @engcom-Lima, unfortunately, I don't have the setup anymore but I'm sure I had the correct endpoint.

I've updated those variables on benchmark.jmx

[2020-07-18 18:41] bartoszkubicki commented on #23661
Still an issue in 2.3.5. Any updates?

[2020-07-19 01:44] melwinlobo18 opened #29195 "Unable to create the cart"
### Preconditions (*)
Magento ver. 2.3.4

### Steps to reproduce (*)

### Expected result (*)
The response is the quoted: \<id\>

### Actual result (*)
[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [x] Sever

[2020-07-19 07:35] ajijshekh123 commented on #29192
@darpanpatel2018 Any Update??

[2020-07-19 08:58] ajijshekh123 commented on #28987
@giantdev - It may be fixed on the next Magento release. Please upgrade the Magento version.
If this issue found in the new Magento version you can message here.

[2020-07-19 10:08] chequille commented on #29005
What is going on with this?
No instance set yet?
By the way, it would not help to get a 2.4 instance if the error is on 2.3.5!!!!
I am a little bit angry currently.

[2020-07-19 10:54] engcom-Alfa commented on #27924
@magento give me 2.4-develop instance

[2020-07-19 10:55] magento-engcom-team commented on #27924
Hi @engcom-Alfa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-19 10:56] magento-engcom-team commented on #27924
Hi @engcom-Alfa, here is your [Magento instance](https://i-27924-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27924-2-4-develop.instances.magento-community.engineering/admin_6acf](https://i-27924-2-4-develop.instances.magento-community.engineering/admin_6acf)
Login: `cc381f64` Password: `37370666de08`
Instance will be terminated in up to 3 hours.

[2020-07-19 12:57] khanzadimahdi opened #29197 "App\ResourceConnection\Proxy does not exist"
each time i run the the below command

[code]
the response is `Class Magento\Framework\App\ResourceConnection\Proxy does not exist`

after that, all magento cli commands shows me the same error!!!

[2020-07-19 14:18] edenduong opened #29198 "Field "Number of Symbols" in CAPTCHA settings has missing range validation"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to backend
2. System->Configuration, Advanced->Admin
3. FIeld CAPTCHA -> "Number of Symbols", fill out of the range . Ex: 3-9

![image](https://user-images.githubusercontent.com/8234209/87876917-59e44200-ca05-11ea-8ec5-4b23680a2cca.png)

### Expected result (*)

1. Can not save, the validation message

### Actual resu

[2020-07-19 15:14] sergiynezbritskiy opened #29200 "\Magento\Framework\Stdlib\DateTime\Timezone timezone shifted for non parsable time"
### Preconditions (*)

1. Magento versions: 2.3.4, 2.3.5, 2.4-develop

### Steps to reproduce (*)
1.Configure Magento instance to some non UTC locale, e.g. Go Magento admin -> Stores -> Settings -> General -> General -> Locale Options and set Timezone to some non UTC timezone, e.g. *Central Standard Time (America/Chicago)*
2. Get an instance of \Magento\Framework\Stdlib\DateTime\Timezone
3. Call m

[2020-07-19 15:22] sergeynezbritskiy commented on #29200
Here is the PR with the fix for this issue https://github.com/magento/magento2/pull/29201

[2020-07-19 16:10] magento-engcom-team commented on #26121
Hi @mkum73. Thank you for your report.
The issue has been fixed in magento/magento2#28890 by @pmarjan in 2.4-develop branch
Related commit(s):
 - [5c69aa1bf0fba6306d86f97a7f99b11ec79a269e](https://github.com/magento/magento2/commit/5c69aa1bf0fba6306d86f97a7f99b11ec79a269e)
 - [cce0a99547cb0e597f8e3325fd59574ddc7049f8](https://github.com/magento/magento2/commit/cce0a99547cb0e597f8e3325fd59574ddc704

[2020-07-19 16:10] #26121 closed, assigned to pmarjan

[2020-07-20 03:57] palomaEcommistry commented on #14606
@oefterdal did you get any solution ?

[2020-07-20 04:42] krishprakash commented on #29198
@magento give me 2.4-develop instance

[2020-07-20 04:42] magento-engcom-team commented on #29198
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-20 04:44] magento-engcom-team commented on #29198
Hi @krishprakash, here is your [Magento instance](https://i-29198-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29198-2-4-develop.instances.magento-community.engineering/admin_4d5e](https://i-29198-2-4-develop.instances.magento-community.engineering/admin_4d5e)
Login: `7e3818d4` Password: `e98193018fab`
Instance will be terminated in up to 3 hours.

[2020-07-20 04:50] magento-engcom-team commented on #29198
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36006` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-20 05:21] iovistainc commented on #29124
Hello @engcom-Lima,

I have attached a link of the screenshot of blank product page and memory_limit is set to 756M.

https://tinyurl.com/yy4xxrvh

[2020-07-20 06:14] SilvanLaroo commented on #27505
Facing the same issue. Great support, links are dead and 'upcoming 2.3.5 release'?

[2020-07-20 06:18] shikhamis11 commented on #26792
@magento give me 2.4-develop instance

[2020-07-20 06:18] magento-engcom-team commented on #26792
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-20 06:20] magento-engcom-team commented on #26792
Hi @shikhamis11, here is your [Magento instance](https://i-26792-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26792-2-4-develop.instances.magento-community.engineering/admin_1e73](https://i-26792-2-4-develop.instances.magento-community.engineering/admin_1e73)
Login: `15dc5973` Password: `a675fccf5874`
Instance will be terminated in up to 3 hours.

[2020-07-20 06:32] engcom-Delta commented on #29109
:heavy_check_mark: Done
PR https://github.com/magento/magento2-login-as-customer/pull/107

[2020-07-20 06:32] #29109 closed, assigned to engcom-Delta

[2020-07-20 06:41] engcom-Delta commented on #29102
:heavy_check_mark: Done
PR https://github.com/magento/magento2-login-as-customer/pull/107

[2020-07-20 06:41] #29102 closed, assigned to engcom-Delta

[2020-07-20 07:52] engcom-Lima commented on #28485
Hello @heygambo
Unfortunately, I'm not able to reproduce issue by steps you described on 2.4-develop and on 2.3.5-p1.
I`m not changed the "host" value in the benchmark.jmx. I change it only in the "Default HTTP Request"

[2020-07-20 08:14] engcom-Lima commented on #29124
Hello @iovistainc
Try to set `memory_limit` to 2G and also increase `max_execution_time` to 3000. It works for me

[2020-07-20 08:16] amenk commented on #29174
This is WIP.
Problem is that it doesn't work the same as with products as the flag we set gets lost in

\Magento\Catalog\Model\CategoryRepository::save

[2020-07-20 08:20] engcom-Lima commented on #28961
@AndyP1965, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-07-20 08:20] #28961 closed, assigned to engcom-Lima

[2020-07-20 08:28] engcom-Lima commented on #28853
@jamie-selesti we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-07-20 08:28] #28853 closed, assigned to engcom-Lima

[2020-07-20 08:29] amenk commented on #29174
I found a workaround but I am not happy about it https://github.com/iMi-digital/magento2/commit/00176f5a3a0c6671556ff28b66f437ffb1970060

Does anybody have a better idea?

[2020-07-20 08:30] engcom-Lima commented on #28949
@robertbaum,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-07-20 08:30] #28949 closed, assigned to engcom-Lima

[2020-07-20 08:32] engcom-Lima commented on #28657
@nidhy-gupta, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-07-20 08:32] #28657 closed, assigned to engcom-Lima

[2020-07-20 09:21] oefterdal commented on #14606
@palomaEcommistry i reinstalled Magento and the error was gone.

[2020-07-20 09:22] oefterdal commented on #26931
Thanks.

[2020-07-20 09:23] #26931 closed, assigned to engcom-Delta

[2020-07-20 09:24] iovistainc commented on #29124
Hello @engcom-Lima

I have set `memory_limit` to 4096M and set `max_execution_time` to 18000 and still not working.
Also, there isn't any error log into Apache, MySQL, and Magento itself.
Is there any way I can print any kind of error log?

[2020-07-20 09:43] m2-assistant[bot] opened #29208 "[Issue] Authentication popup should be removed from Checkout page."
This issue is automatically created based on existing pull request: magento/magento2#29183: Authentication popup should be removed from Checkout page.

---------

### Preconditions (*)

Magento is rendering \Magento\Customer\Block\Account\AuthenticationPopup block on every frontend page, while this block is used only for authorizing guest users before accessing Checkout. So it's totally useless on

[2020-07-20 10:09] magento-engcom-team commented on #29165
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36010` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-20 10:16] NikolayCherevan commented on #27949
@mrtuvn mrtuvn, but what can i do when apmin panel does not working.. i can't change  "less compilation to client instead server"

[2020-07-20 10:20] Janagiramramakrishnan commented on #2332
I am using Magento 2.3.4 and a single website. I have created only one configurable product and tried to add the cart and went to the checkout page. But shipping tabs are not displaying. Later created one simple product and add the products both configurable and simple then shipping tabs displayed. I think when we create configurable products and all the associated products generated and the produ

[2020-07-20 10:44] mrtuvn commented on #27949
@NikolayCherevan that is not my case. Problem only relate with working admin

[2020-07-20 11:02] magento-engcom-team commented on #29056
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36012` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-20 11:31] magento-engcom-team commented on #27505
Hi @SamJUK.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [5b4498724e20f93caae8a348936e6953e5eb0026](https://github.com/magento/magento2/commit/5b4498724e20f93caae8a348936e6953e5eb0026)
 - [cdad976bc74f1ef92979f7fdf82885ddb7414ba3](https://github.com/magento/magento2/co

[2020-07-20 11:31] #27505 closed, assigned to nobody

[2020-07-20 11:32] vipin12117 commented on #27505
It is not fixed yet in 2.3.5 too. Please double check.

On Mon, Jul 20, 2020 at 5:01 PM Magento Community Engineering <
notifications@github.com> wrote:

--
Thanks & Regards,
Vipin Garg
Mobile: +91 9785118324

[2020-07-20 11:36] rafal-kos commented on #27954
@sdzhepa I've added case the case. The problem here is that Magento shouldn't load/save address data in this process

[2020-07-20 11:52] engcom-Echo commented on #17825
Hi @Tuuhea. Thank you for your report.
Unfortunately, issue does not reproduce on 2.4-develop. During testing, I got the expected result.

Plugin is called on search page and category page (production and develop mode).

![image](https://user-images.githubusercontent.com/51681435/87934785-6c5b8b80-ca98-11ea-9c9d-bdd1536ed531.png)
![image](https://user-images.githubusercontent.com/51681435/87934795

[2020-07-20 12:22] gitmoorka commented on #8964
any news on when the fix would be available for ordinary users?

[2020-07-20 12:32] sheepfy commented on #27954
@rafal-kos  i have added this PR https://github.com/magento/magento2/pull/27972, if helps.
The customer repository also saves the address entity instead of saving only the confirmation column of customer entity.

[2020-07-20 13:15] magento-engcom-team commented on #29013
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36014` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-20 13:25] bernd-reindl opened #29209 "getFormattedShippingAddress / getFormattedBillingAddress"
### Preconditions (*)
1. M 2.3.5-p1, 2.4-develop
2. English and German locale

### Steps to reproduce (*)
1. Create an order in english store
2. Go to order in backend with an german locale (de_DE) set in admin account profile
3. Resend the order E-Mail

### Expected result (*)

1. The formatted address in the E-Mail should contain an english country name
![image](https://user-images.githubusercon

[2020-07-20 13:41] magento-engcom-team commented on #19821
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2020-07-20 13:41] #19821 closed, assigned to nobody

[2020-07-20 13:45] ralbin commented on #25595
@magento I am working on this

[2020-07-20 14:17] danielrenaud commented on #28834
Merged in https://github.com/magento/partners-magento2ee/pull/285

[2020-07-20 14:17] #28834 closed, assigned to pmarjan

[2020-07-20 14:44] engcom-Alfa commented on #27949
The issue is reproducible on 2.4-develop

![Peek 2020-07-19 18-00](https://user-images.githubusercontent.com/51679138/87950919-96b94300-cab0-11ea-8bc3-400bd34fad4c.gif)

[2020-07-20 15:08] engcom-Lima commented on #29124
@iovistainc
In this case, `memory_limit` can be set to 4G
Also make sure the value is changed in .user.ini

Yes. Set `error_reporting` to `E_ALL` and `display_errors` to` 1`` in `php.ini`. Save and restart Apache
Make sure that the debug mode is enabled in the backend. Go to Stores -> Configuration -> Advanced -> Developer -> Debug and set “Yes” to Log to File.
Set Magento store in [developer mode

[2020-07-20 15:40] Minirock opened #29211 "Setup di compile fail because of missing class"
I'm trying to add the Colissimo magentix module to my Magento 2 website : https://colissimo.magentix.fr/magento-2/documentation.html

In order to install the module there is a set of 4 dependencies to add into the `composer.json` file

### Steps to reproduce (*)
1. Add the dependencies to composer.json
2. Update composer
3. Activate all the 4 module (here is one line for the example) `php bin/mage

[2020-07-20 15:51] johnorourke commented on #4059
For anyone finding this having trouble with a custom shipping method, it could be the wrong carrier code in checkout_index_index.xml. This sounds like the issue @mattf10 and @dwirt had above:

From the Magento doc: "You must add <your-validation-name> like %carrier%-rates-validation - where carrier has to match the actual carrier code."

eg. we discovered the DHL Express Rates module has the carri

[2020-07-20 15:55] engcom-Alfa commented on #27490
The issue is reproducible on fresh 2.4-develop

![Peek 2020-07-20 18-54](https://user-images.githubusercontent.com/51679138/87958693-827a4380-caba-11ea-8b69-570f848d2c67.gif)

[2020-07-20 15:57] engcom-Lima commented on #29126
Hello @mack4hack
Please verify this steps:
1 Create configurable product with two child products
2 Open child product
![Screenshot_35](https://user-images.githubusercontent.com/60198022/87955586-9f147c80-cab6-11ea-958d-47ee0d71f5f4.png)

![Screenshot_36](https://user-images.githubusercontent.com/60198022/87955530-8dcb7000-cab6-11ea-9af5-9103d2708dfe.png)

![Screenshot_37](https://user-images.githu

[2020-07-20 16:07] johnorourke commented on #4855
In case someone finds this still an issue with custom shipping methods, I hope https://github.com/magento/magento2/issues/4059#issuecomment-661124699 helps.

[2020-07-20 17:07] victortodoran commented on #19168
I don't know why is this labeled as an issue.

The [documentation](https://docs.magento.com/user-guide/marketing/price-rules-cart-buy-x-get-y-free.html) clearly states what this feature is.

More so.

In the Conditions section you configure the conditions the decide where the current rule can be applied or not on a cart. Then the configured Action is applied to all Items that match the Action Cond

[2020-07-20 17:12] victortodoran commented on #29211
This is a 3rd party integration issue. It has nothing to do with core features. You should address your issue with the 3rd party vendor from which you acquired your extension.

[2020-07-20 17:24] sarron93 opened #29213 "Price Filter Into Grid not working for specific data"
### Preconditions (*)
1. Magento versions: 2.3.4, 2.3.5, 2.4-develop

### Steps to reproduce (*)
1. Create Grid Block with deprecated functionality extended class Magento\Backend\Block\Widget\Grid\Extended
2. add column type price `
$this->addColumn(
            'total_price',
            [
                'header' => __('Total Price'),
                'index' => 'total_price',
                'ty

[2020-07-20 17:57] stevekem opened #29215 "Cannot mass update Enable Qty Increments & Qty Increments attributes"
### Preconditions (*)
1.  2.3.4
2.  2.3.5

### Steps to reproduce (*)
1.  Go to Admin > Catalog > Products

2.  Check 1 or more products

3.  Select dropdown Actions > Update attributes

4.  Under Advanced Inventory > Enable Qty Increments
Check Change, uncheck Use Config Settings and change to Yes

5.  Under Advanced Inventory > Qty Increments
Check Change, uncheck Use Config Settings and change

[2020-07-20 17:58] stevekem commented on #29215
@magento give me 2.4-develop instance

[2020-07-20 17:58] magento-engcom-team commented on #29215
Hi @stevekem. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-20 18:00] magento-engcom-team commented on #29215
Hi @stevekem, here is your [Magento instance](https://i-29215-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29215-2-4-develop.instances.magento-community.engineering/admin_a63a](https://i-29215-2-4-develop.instances.magento-community.engineering/admin_a63a)
Login: `3f7b6ca6` Password: `9e61762d5841`
Instance will be terminated in up to 3 hours.

[2020-07-20 18:05] VladimirZaets commented on #13295
Hi @vinayshah . Thanks for collaboration. This PR was reviewed on Community Contribution Triage meeting. The recording of the meeting you can look by the [link](https://www.youtube.com/watch?v=4dFuALJ0L4I&list=PLDvMskiz68Q2BLkj0-xzjuFl7ZVti9Quj&index=7)

[2020-07-20 18:05] stevekem commented on #29215
@magento I am working on this

[2020-07-20 18:06] VladimirZaets commented on #21725
Hi @paras89 . Thanks for collaboration. This PR was reviewed on Community Contribution Triage meeting. The recording of the meeting you can look by the [link](https://www.youtube.com/watch?v=4dFuALJ0L4I&list=PLDvMskiz68Q2BLkj0-xzjuFl7ZVti9Quj&index=7)

[2020-07-20 18:07] stevekem commented on #29215
@magento add to contributors team

[2020-07-20 18:08] stevekem commented on #29215
Bug is reproducible in vanilla instance.

[2020-07-20 20:56] hostep commented on #29124
@iovistainc: we had a similar issue and https://github.com/magento/magento2/commit/3b611a7cc0040c9e5731cbc8e2080c2adb205d86 solved it for us, maybe this helps in your case as well?

[2020-07-20 22:07] dribblecastle commented on #28614
Thanks @sb-nick.   I ran into this problem on Friday night and it continued into Saturday morning.   It was hard to understand what was going on until I came across this post.   I tried simple things like disabling guest checkout but that didn't help.

After taking our site offline for 15 mins or so and applying your #1 suggestion the attack stopped.   I'm going to look further into the Braintree

[2020-07-21 03:18] LiamKarlMitchell commented on #10304
Please allow ordering out of stock products but show Out of stock and notify the customer that the product is out of stock but that they can still order it. This seems like a bug to store owners.

[2020-07-21 03:40] LiamKarlMitchell opened #29216 "Backorders unable to order products out of stock."
Please reopen #10304

Sorry, not sure how else to ask for it to be reopened.

(Qty <= 0 but > threshold unless threshold is 0)
Manage Stock: Yes

Customer is not notified.

![image](https://user-images.githubusercontent.com/1968109/88010228-7e0c6400-cb68-11ea-8fc2-433dede260fc.png)

Suggested solution is to set Stock Status to In Stock which is misleading as the product is actually out of stock.
B

[2020-07-21 04:43] ajijshekh123 commented on #29215
@magento give me 2.4-develop instance

[2020-07-21 04:43] magento-engcom-team commented on #29215
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-21 04:44] magento-engcom-team commented on #29215
Hi @ajijshekh123, here is your [Magento instance](https://i-29215-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29215-2-4-develop.instances.magento-community.engineering/admin_984e](https://i-29215-2-4-develop.instances.magento-community.engineering/admin_984e)
Login: `df1300af` Password: `ad283676efd6`
Instance will be terminated in up to 3 hours.

[2020-07-21 04:48] heygambo commented on #28485
hm then maybe we should close it

[2020-07-21 05:53] bernd-reindl commented on #29209
@magento give me 2.4-develop instance

[2020-07-21 05:53] magento-engcom-team commented on #29209
Hi @bernd-reindl. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-21 05:54] magento-engcom-team commented on #29209
Hi @bernd-reindl, here is your [Magento instance](https://i-29209-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29209-2-4-develop.instances.magento-community.engineering/admin_57e5](https://i-29209-2-4-develop.instances.magento-community.engineering/admin_57e5)
Login: `44aaae2a` Password: `28ebd1d8e8e8`
Instance will be terminated in up to 3 hours.

[2020-07-21 06:01] mack4hack commented on #29126
@engcom-Lima I checked the steps you provided and found as it is, as you mentioned.
But I would like to know how can I filter products according to attributes assigned to its child parents.

Like in the frontstore.

**Available Filter**
![Screenshot from 2020-07-21 11-24-57](https://user-images.githubusercontent.com/11089409/88018457-6374c380-cb45-11ea-80b1-7d79c4ca3f73.png)

**Filter Applied**
![

[2020-07-21 06:03] bernd-reindl commented on #29209
@magento-admin unfortunately i didn't receive the order mails in the 2.4-develop instance. So i can't validate the bug in 2.4-dev.

[2020-07-21 06:11] #29175 closed, assigned to corewaysolution, ajijshekh123

[2020-07-21 06:12] ajijshekh123 commented on #29215
Hi @stevekem,
I have verified this issue in the latest Magento 2.4 instance. This issue is not reproduced on the latest Magento 2.4 Instance.
PFA:
![QtyIncrement](https://user-images.githubusercontent.com/24711761/88015318-88b20380-cb3e-11ea-937d-9d242438ab21.gif)

Please upgrade your Magento Instance. It will automatically fix this issue.
Thanks

[2020-07-21 06:19] ajijshekh123 commented on #29192
Hi @darpanpatel2018,
if you have reproduced this issue on the latest Magento instance. please add proper details and reopen this issue.

Thanks.

[2020-07-21 06:19] #29192 closed, assigned to ajijshekh123

[2020-07-21 06:19] LiamKarlMitchell commented on #5351
Still an issue in 2.3.2

[2020-07-21 06:21] ajijshekh123 commented on #29060
Hi... @vasusundar,
Please upgrade your Magento Version Or Please verify this issue on Old Magento Version.
If this issue reproduced again you can reopen it.

Thanks.

[2020-07-21 06:21] #29060 closed, assigned to ajijshekh123

[2020-07-21 06:26] ajijshekh123 commented on #29046
Hi @rani-webkul,
This is not an issue. This is a Feature. If you want to add this feature in the latest Magento Instance You can create the ticket in the Magento Feature list.

Thanks.

[2020-07-21 06:26] #29046 closed, assigned to ajijshekh123

[2020-07-21 06:27] ajijshekh123 commented on #28987
Hi @giantdev,
if you have reproduced this issue on the latest Magento instance. please reopen it.

Thanks.

[2020-07-21 06:27] #28987 closed, assigned to ajijshekh123

[2020-07-21 06:32] #28983 closed, assigned to swathishs

[2020-07-21 06:37] bernd-reindl opened #29217 "Prefix and Suffix Translation"
### Preconditions (*)
1. M2.3.5-p1, 2.4-develop
2. English (default) and german store view

### Steps to reproduce (*)
1. Set "Show Prefix" to "Required" in Stores/Configuration/Customers/Customer Configuration/Name and Address Options
2. Set "Mr.;Ms." for "Prefix Dropdown Options"
3. Add a german locale file which translate "Mr." to "Herr" and "Ms." to "Frau"
"Mr.","Herr"
"Ms.","Frau"

### Expect

[2020-07-21 06:56] engcom-Lima commented on #29124
Hello @iovistainc @hostep I cannot reproduce this issue on 2.4-develop.
@iovistainc Try to use https://github.com/magento/magento2/commit/3b611a7cc0040c9e5731cbc8e2080c2adb205d86 Maybe it helps you to solve the issue

[2020-07-21 07:04] engcom-Lima commented on #28485
@heygambo  Closed as per [this](https://github.com/magento/magento2/issues/28485#issuecomment-660865475) and [this](https://github.com/magento/magento2/issues/28485#issuecomment-661630948) comments

[2020-07-21 07:04] #28485 closed, assigned to engcom-Lima

[2020-07-21 07:11] Minirock commented on #29211
Indeed, but the error being a not found core Magento class, I still came here in order to know if this is due to some kind of evol from magento where the class rwould have been enamed from `CarrierResult` to `Result` ?

[2020-07-21 07:48] clark-97 commented on #21186
@Dieudon I got the same error with 2.3 version

[2020-07-21 07:58] engcom-Lima commented on #29126
Hello @mack4hack
[Step 2](https://github.com/magento/magento2/issues/29126#issue-656517118)
![image_2020_07_21T07_48_06_450Z](https://user-images.githubusercontent.com/60198022/88027905-9a94a600-cb40-11ea-9373-99673ec7f500.png)
1 - it`s vizability
4 - it`s attribute value
![Screenshot_37](https://user-images.githubusercontent.com/60198022/88028255-1262d080-cb41-11ea-83cd-e6cd4c106078.png)

[2020-07-21 08:07] mack4hack commented on #29126
@engcom-Lima Please refer this comment where "attribute value = 4"  is used on Magento 2.4 develop instance

Also Visibility is set to 2/4 because I want to only Parent Products in the Product Listing.
I am aware that child products have visibility = 1 (Not Visible Individually)

[2020-07-21 08:22] leroynas commented on #29041
@magento give me 2.4-develop instance

[2020-07-21 08:22] magento-engcom-team commented on #29041
Hi @leroynas. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-21 08:24] magento-engcom-team commented on #29041
Hi @leroynas, here is your [Magento instance](https://i-29041-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29041-2-4-develop.instances.magento-community.engineering/admin_4a6c](https://i-29041-2-4-develop.instances.magento-community.engineering/admin_4a6c)
Login: `4684fc4e` Password: `813f0fa79c6f`
Instance will be terminated in up to 3 hours.

[2020-07-21 08:34] m2-assistant[bot] opened #29218 "[Issue] Deploy all used locales"
This issue is automatically created based on existing pull request: magento/magento2#28922: Deploy all used locales

---------

### Preconditions: (*)

`bin/magento setup:static-content:deploy --language=all` currently only
deploys en_US, instead of the requested "all". This pull request aims to deploy all used languages for the frontend and all configured languages by admin users, when no languag

[2020-07-21 08:35] engcom-Lima commented on #29126
@mack4hack
If the [visibility](https://docs.magento.com/user-guide/system/data-attributes-product.html) is set to 2, it means that the product will not appear in the search.

[2020-07-21 08:39] engcom-Lima commented on #29126
@magento give me 2.4-develop instance

[2020-07-21 08:39] magento-engcom-team commented on #29126
Hi @engcom-Lima. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-21 08:40] magento-engcom-team commented on #29126
Hi @engcom-Lima, here is your [Magento instance](https://i-29126-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29126-2-4-develop.instances.magento-community.engineering/admin_6c27](https://i-29126-2-4-develop.instances.magento-community.engineering/admin_6c27)
Login: `3f6708ca` Password: `0f42a0d3ac77`
Instance will be terminated in up to 3 hours.

[2020-07-21 08:47] kestraly commented on #10978
**Preconditions (*)**
Magento CE 2.3.4
PHP 7.3
Two stores (B2B and B2C) - 1 Website / 1 Store View attached

Same issue, as soon as you open up one store, it caches the settings for that store and the other store has to have the same fields.

[2020-07-21 08:48] leroynas commented on #29041
This issue is exactly the same on the Magento instance created by the bot:

Content-Currency: USD
[code]

Content-Currency: EUR
[code]

[2020-07-21 09:06] engcom-Lima commented on #29195
Hello @melwinlobo18
I tried to create a client via API and via store view.
Unfortunately, I'm not able to reproduce issue by steps you described on clean 2.4-develop
![Screenshot_39](https://user-images.githubusercontent.com/60198022/88035035-37a80c80-cb4a-11ea-9c49-0b8dea4c79f0.png)

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://git

[2020-07-21 09:06] #29195 closed, assigned to engcom-Lima

[2020-07-21 09:12] melwinlobo18 commented on #29195
Hey @engcom-Lima , thank you for your response. So, as I have mentioned above the request should successfully create a Cart for the customer but I have no idea why I am getting that error. Do you have any idea why this error might occur?

[2020-07-21 09:26] engcom-Lima commented on #29195
@melwinlobo18 I don`t use the

`index.php`
in `/index.php/rest/default/V1/carts/mine`
My request is
`https://youredomain.com/rest/default/V1/carts/mine`

[2020-07-21 09:30] melwinlobo18 commented on #29195
I have tried without the index.php. Same error :(

[2020-07-21 09:33] melwinlobo18 commented on #29195
https://dev.sofiqe.com/rest/default/V1/carts/mine

Token: sepfa1e096gnrwlhqo83nb88lljmol7z

[2020-07-21 10:01] TerrapinSoftware opened #29219 "Inconsistent overload leads to crash in magento/catalog"
### Preconditions (*)

1. 2.3.5-p1

### Steps to reproduce (*)

The bug itself is difficult to reproduce.
1. PayPal through Braintree is enabled
2. Select a product with a custom attribute
3. During checkout, click "Pay with PayPal"
4. During the creation of the order, Magento crashes

### Expected result (*)

1. No crash

### Actual result (*)

1. Crash. Stack trace:

[code]

The amount is captur

[2020-07-21 10:16] hostep commented on #29124
@engcom-Lima, in our particular case, I think it only happened when you use Apache with php-fpm. If I remember correctly, the issue has something to do with the explanation written on [this blogpost](https://maxchadwick.xyz/blog/http-response-header-size-limit-with-mod-proxy-fcgi).
https://github.com/magento/magento2/commit/3b611a7cc0040c9e5731cbc8e2080c2adb205d86 is reducing the amount of headers

[2020-07-21 10:23] NiklasBr commented on #22187
2.3.3 did not fix this, I don't understand why @dmanners closed this issue by saying that it is a duplicate of itself, he probably found some other issue and copied the incorrect number. But which issue number should it be?

[2020-07-21 10:45] magento-engcom-team commented on #1464
Hi @kassner. Thank you for your report.
The issue has been fixed in magento/magento2#29058 by @gabrieldagama in 2.4-develop branch
Related commit(s):
 - [dfc733a98eb96cf685938a9cfdb1e10c3aeb1ee1](https://github.com/magento/magento2/commit/dfc733a98eb96cf685938a9cfdb1e10c3aeb1ee1)
 - [3a1a3c73bdcf29835641572bc4e51ece2941db33](https://github.com/magento/magento2/commit/3a1a3c73bdcf29835641572bc4e51e

[2020-07-21 10:45] magento-engcom-team commented on #26427
Hi @qsolutions-pl. Thank you for your report.
The issue has been fixed in magento/magento2#28285 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [a7fa47b4a30dbb86c90d615474e566c5535c800d](https://github.com/magento/magento2/commit/a7fa47b4a30dbb86c90d615474e566c5535c800d)
 - [c842d73772943284f4633c3c14db1eade1b8c928](https://github.com/magento/magento2/commit/c842d73772943284f4633c3c1

[2020-07-21 10:45] #26427 closed, assigned to Bartlomiejsz

[2020-07-21 10:45] magento-engcom-team commented on #29056
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28891 by @rafaelstz in 2.4-develop branch
Related commit(s):
 - [b5b0648a07b91c6df211673076c6da380837344b](https://github.com/magento/magento2/commit/b5b0648a07b91c6df211673076c6da380837344b)
 - [06a9fb668f82981a576836df418eab32093afd61](https://github.com/magento/magento2/commit/06a9fb668f82981a576836df

[2020-07-21 10:45] #29056 closed, assigned to rafaelstz

[2020-07-21 10:54] engcom-Lima commented on #29126
@mack4hack
See my steps

1. Create category (id will be 33)
2. Create a configurable product with `Attribute set 1` (because this is the only set of attributes where we can find the `mycolor` attribute)
3. Create configurations for the configurable product with the `mycolor` attribute
4. Check if the `mycolor` attribute Searchable and Filterable (with results)
 ![Screenshot_40](https://user-images

[2020-07-21 10:56] iovistainc commented on #29124
@hostep, @engcom-Lima

In my staging instance, this issue is solved by turning off Move JavaScript To Page Bottom, and in my staging site it's working properly after turning off this setting but in My live site after turning off this setting still, this issue is not resolved. And I already tried https://github.com/magento/magento2/commit/3b611a7cc0040c9e5731cbc8e2080c2adb205d86 patch but still not

[2020-07-21 11:29] engcom-Lima commented on #29167
Hello @matteojob
See logs.
According to the [devdocs](https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html)

As far as working Magento on Linux, the import works fine. But it`s possible to use [VM] (https://devdocs.magento.com/guides/v2.4/extension-dev-guide/build/optimal-dev-environment.html#installation) (Magento 2.4-develop branch)

[2020-07-21 11:29] #29167 closed, assigned to engcom-Lima

[2020-07-21 11:35] timkoopmans50 commented on #8777
Still reproduced this in a 2.3.5-p1 shop.

[2020-07-21 11:39] lesliemcc commented on #23450
hi i have no coding experience and i need to export my magento 2.3.2 stores customers over to shopify but when i try the following message appears and nothing happens.
![lkjhbnm,lkjn](https://user-images.githubusercontent.com/68594308/88050663-2ad9e780-cb4f-11ea-8e9b-ce5b34c50c69.JPG)

[2020-07-21 11:54] engcom-Lima commented on #29126
Simple. You can create two requests and combine them programmerly
Firstly find child product and then using this information find parent product.

[2020-07-21 12:10] ka2le commented on #27017
Could you explain what your problem was?

I am getting the exact same issue when trying to upgrade from Magento 2.2.11 to 2.3 and have tried a lot of different things without success.

[2020-07-21 12:18] Etto91 opened #29221 "Magento 2 Stripe SCA (3d secure) rest api integration"
### Summary (*)

I'm creating a pwa based on magento 2 rest api.
I have installed stripe/stripe-payments official module to integrate stripe payments.
Everything works fine without SCA payments.

i have tried to replicate the same flow of magento's frontend looking at the request done during the payments.

### Examples (*)

this is what i do:

1)

    POST /guest-carts/:cartId/payment-information

[2020-07-21 12:25] engcom-Lima commented on #29126
@mack4hack
Can this issue be closed? Because programming it is not related to this ticket

[2020-07-21 12:29] engcom-Lima commented on #29195
@melwinlobo18  I see this message:
`The consumer isn't authorized to access %resources.` When open the link

[2020-07-21 12:33] engcom-Lima commented on #29195
@melwinlobo18 New token needed.

[2020-07-21 12:34] mack4hack commented on #29126
@engcom-Lima So you mean to say that we cannot filter parent products with the attributes used while creating a child product with core Product Repository getList() ?

[2020-07-21 12:35] melwinlobo18 commented on #29195
@engcom-Lima 8dj899frlkfbsdxlp7rmzmx0lnevge8d

[2020-07-21 12:57] engcom-Lima commented on #29195
@melwinlobo18 What written in your logs?

[2020-07-21 13:35] melwinlobo18 commented on #29195
@engcom-Lima You mean the Log in the Report section of the Admin Panel?

I checked the debug, exception, and system log. Nothing is written to the log regarding to this request.

[2020-07-21 13:42] engcom-Lima commented on #29124
@iovistainc I cannot reproduce this issue on 2.3.5-p1.
Have you try to run cron and reindex `php bin/magento index:reindex`
![Screenshot_44](https://user-images.githubusercontent.com/60198022/88061868-bfa10d00-cb70-11ea-87f6-0dad2756ca2d.png)
![Peek 2020-07-21 16-35](https://user-images.githubusercontent.com/60198022/88062074-00992180-cb71-11ea-9f50-376cb02acc6f.gif)

What is written in your logs?

[2020-07-21 13:43] stevekem commented on #29215
@ajijshekh123 It will work if you directly update the attribute for each product like you tested but it will NOT work if you follow the Steps to reproduce I listed above and update these 2 attributes in bulk using Actions > Update attributes from Admin > Catalog > Products. Please let me know if you need anymore clarification. Thanks!

[2020-07-21 13:46] ByJacob opened #29223 "[Feature][GitHub][Slack] Add github integrations slack"
### Description (*)
Please add https://github.com/integrations/slack app to your repository. It is required to subscribe to the slack repository using https://github.com/integrations/slack.
### Expected behavior (*)

Working GitHub + Slack integration

### Benefits

Possible faster receipt of information about the new release of the company slacks.

### Additional information

[2020-07-21 13:48] boudga commented on #23450
Can you SSH into your server? If so then we can help you out.

On Tue, Jul 21, 2020, 6:39 AM lesliemcc <notifications@github.com> wrote:

[2020-07-21 13:52] engcom-Lima commented on #29195
@melwinlobo18 I mean what in the system log.
Please, remember what you did before you ran into this issue? It can help me reproduce this issue

[2020-07-21 13:52] stevekem commented on #29215
@magento give me 2.4-develop instance

[2020-07-21 13:52] magento-engcom-team commented on #29215
Hi @stevekem. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-21 13:53] lesliemcc commented on #23450
I don’t I’m afraid as an independent team deals with it.

Kind Regards,

Leslie McCulloch,
Miskie London LTD

Phone: 07532725328
Email: lesliemcculloch@miskielondon.com

[2020-07-21 13:53] sasha19957099 commented on #29093
@magento I'm working on this

[2020-07-21 13:53] magento-engcom-team commented on #29215
Hi @stevekem, here is your [Magento instance](https://i-29215-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29215-2-4-develop.instances.magento-community.engineering/admin_d661](https://i-29215-2-4-develop.instances.magento-community.engineering/admin_d661)
Login: `40588b55` Password: `cdf427db38ec`
Instance will be terminated in up to 3 hours.

[2020-07-21 14:15] stevekem commented on #29215
Here is a screengrab:
[https://drive.google.com/file/d/1hGk9v4IFMzbIWkMPyHScedeTtNIp8bL8/view](url)

[2020-07-21 14:32] adamlavery commented on #23450
For some reason, Magento Core decided to make exports always asynchronous (run in the background) instead of optionally running big jobs in the background. Which means you have to wait for the job to run and check back on the export page regularly until you see your export file is there. It's a bit rubbish, but that's how it is now! If it never appears, it means your cron is not running (should se

[2020-07-21 14:40] LukasKiederle opened #29224 "B2B Negotiable Quote feature doesn't remove the address fields after a successful checkout"
### Preconditions (*)

1. Use Magento 2.2.11 Enterprise Edition
2. Use php 7.2

### Steps to reproduce (*)

1. Create a negotiable quote
2. While going through the checkout with that quote, create a new address which is not the default address
3. Finish Checkout
4. Add a product to the cart and go to the first checkout step (doesn't matter if negotiable quote or

### Expected result (*)

1. The de

[2020-07-21 14:44] t-eichmann commented on #25209
This issue is definitely not fixed on 2.3.4, it happens to one of our customers all the time.

[2020-07-21 14:55] mack4hack commented on #29126
@engcom-Lima checked with provided link, but didn't find it useful in my case.

I just want to achieve the same via Product List API which is done in storefront.

![screencast-appgototrainingcom-20 (1)](https://user-images.githubusercontent.com/11089409/88070430-4ca78e80-cb90-11ea-9853-413f49715bc8.gif)

[2020-07-21 15:01] LukasKiederle commented on #29224
I am currently trying to reproduce this in Magento 2.3.3 .

[2020-07-21 15:26] mowny commented on #13345
While this might be the case, it is an awful error message:

- There is no hint about _where_ in the code the error occured. (which module? at which line?)
- Neither is there any indication where it _expected_ to find the missing element. (database (which table) or filesystem (which file)?)
- Nor from where it got the data on which it acted. (the source containing the broken reference)

[2020-07-21 15:30] agbdxb commented on #23450
Add a cron on the control panel of your webhost and set it to run the below command every 2 min.s (or the longest you are willing to wait). If you are unable to do it yourself, perhaps seek help from your webhost helpdesk.

php bin/magento queue:consumers:start exportProcessor

[2020-07-21 17:42] gabs77 opened #29225 "Catalog Image resize long when multisite"
### Preconditions (*)
Magento 2.3.4
Php 7.2.30 and Nginx

### Steps to reproduce (*)

1. Create 2 websites
2. Create 2 theme with different view.xml
3. Create some products with images
4. Associate product only for the first website and other product for the second website

### Expected result (*)
Magento resize all the resizes for the used themes for the websites associated at the product
Example

[2020-07-21 17:42] VladimirZaets commented on #28843
Hi @r32rf. Thank you for collaboration. Unforchenetly, the description is not clear, we cannot understand the main idea of the issue. If it's the issue is important for you, please provide the detailed description.

[2020-07-21 17:42] #28843 closed, assigned to nobody

[2020-07-21 17:52] sdzhepa opened #29226 "[B2B] Add possibility to use "Login as Customer" functionality for Company Admin"
*As a merchant admin user I want to log in to company administrator accounts from the admin panel so that I can assist buyers with company configuration, quote creation, browsing, purchasing, and resolving site issues.*

### [MoSCoW](https://en.wikipedia.org/wiki/MoSCoW_method)
Should have

### Current State
It is currently possible to log in as a customer from multiple locations in the admin pane

[2020-07-21 17:54] sdzhepa opened #29227 "Need to Improve logging system by adding additional details/information to log"
TBD

[2020-07-21 17:58] ajijshekh123 commented on #29215
@magento give me 2.4-develop instance

[2020-07-21 17:58] magento-engcom-team commented on #29215
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-21 17:59] magento-engcom-team commented on #29215
Hi @ajijshekh123, here is your [Magento instance](https://i-29215-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29215-2-4-develop.instances.magento-community.engineering/admin_a07f](https://i-29215-2-4-develop.instances.magento-community.engineering/admin_a07f)
Login: `2154330f` Password: `dce2ec0f9700`
Instance will be terminated in up to 3 hours.

[2020-07-21 18:05] sdzhepa opened #29228 "Comments are doubling in Admin Panel Order review page if place order using "Login as Customer" functionality"
When an admin user places an order on behalf of a customer using Login as Customer, we make a comment on the order that is visible in the storefront and the admin panel. The storefront should show a generic name (Store Administrator) and the admin should show the full admin user name.

However, in the admin panel now I see two messages. Only the “admin full name” message should appear.

<img width

[2020-07-21 18:07] ajijshekh123 commented on #29215
Hi @stevekem,
Thanks for providing the video and proper details.
This issue is confirmed and reproduce in the Latest Magento 2.4 Instance.

Thanks

[2020-07-21 18:08] magento-engcom-team commented on #29215
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36062` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-21 18:19] lksharma8 opened #29229 "index reindexer"
how do I reindex in magento 2 in aws lightsail instance through SSH. what are the commands I have to use to reindex

[2020-07-21 18:37] victortodoran opened #29230 "[2.3.5-p2] Cart Rule > Action Conditions > SKU|Category Grid Selector Not Working (Error Message In Browser Console)"
### Preconditions (*)

1. Reproduced on Magento **2.4-develop** - **No**;
2. Reproduced on Magento **2.3.5-p2** - **Yes**;
3. Reproduced on Magento **2.4.0** - **No**;

### Steps to reproduce (*)

1.Fresh Magento Install
2. Create New Cart Rule
3. Add Rule Name, Description, Customer Groups etc.
4. Go To Actions > Apply the rule only to cart items matching the following conditions (leave blank for

[2020-07-21 18:51] VladimirZaets commented on #28186
The upgrade functionality should be tested manually

[2020-07-21 20:16] engcom-Lima commented on #29126
@mack4hack
Try using the information given in [this comment](https://github.com/magento/magento2/issues/29126#issuecomment-661810518). But it's not related to this ticket.

[2020-07-21 21:03] engcom-Lima commented on #29195
@melwinlobo18 Give more information about a customer
Is it possible to create a new customer?
Is it possible to place order with this customer through browsing store view? via admin?

[2020-07-21 21:12] magento-engcom-team commented on #25211
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36069` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-21 22:32] onepack opened #29232 "Unable to remove compare.js"
### Summary (*)

Magento 2.3.5-p1
PHP 7.3

I try to remove compare.js like explained here:
https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/layouts/xml-manage.html#layout_markup_css_remove

### Examples (*)

Default_head_blocks,xml

`    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <remove src="Magento_C

[2020-07-22 02:21] mlambley commented on #27218
Doesn't quite work the way I want it to, because it's returning an array not a serialized string. This would involve a hefty refactor I think.

[2020-07-22 02:21] #27218 closed, assigned to nobody

[2020-07-22 02:53] melwinlobo18 commented on #29195
@engcom-Lima
It's possible to create a new customer.

When I click on **Create Order** for the customer in admin panel following error is being recorded in the System Log

``` [2020-07-22 02:50:28] main.ERROR: Validate class not found from basename 'Magento\Framework\Validator\EmailAddress' [] [] ```

[2020-07-22 03:25] mlambley commented on #24681
One can always hack the field namer. Works well enough, although I agree that an elegant solution would be preferred.

[code]

[code]

You will need to adjust your data object fields accordingly

[code]

[2020-07-22 05:12] ajijshekh123 commented on #29230
@magento give me 2.4-develop instance

[2020-07-22 05:12] magento-engcom-team commented on #29230
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-22 05:13] magento-engcom-team commented on #29230
Hi @ajijshekh123, here is your [Magento instance](https://i-29230-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29230-2-4-develop.instances.magento-community.engineering/admin_6cfb](https://i-29230-2-4-develop.instances.magento-community.engineering/admin_6cfb)
Login: `5796b90c` Password: `b1f9f9f8886b`
Instance will be terminated in up to 3 hours.

[2020-07-22 05:33] Noman77 commented on #24332
Fatal error: Uncaught Error: Call to undefined function mime_content_type() in /home/public_html/vendor/magento/module-cms/Model/Wysiwyg/Images/Storage.php:331 Stack trace: #0 /home/public_html/vendor/magento/module-cms/Block/Adminhtml/Wysiwyg/Images/Content/Files.php(60): Magento\Cms\Model\Wysiwyg\Images\Storage->getFilesCollection('/home/amarcodex...', NULL) #1 /home/amarcodex/public_html/test/v

[2020-07-22 05:34] ajijshekh123 commented on #29230
@magento give me 2.3.5-p1-develop instance

[2020-07-22 05:35] magento-engcom-team commented on #29230
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3.5-p1-develop instance for you

[2020-07-22 05:46] ajijshekh123 commented on #29230
Hi @victortodoran,
I have verified this issue in the latest Magento 2.4 instance. Add cart rule functionality is working fine and not able to get the any of console error.
PFA:

![1](https://user-images.githubusercontent.com/24711761/88139043-8ddd8400-cc0c-11ea-9022-4ba2717522ba.PNG)

![2](https://user-images.githubusercontent.com/24711761/88139071-9930af80-cc0c-11ea-9870-196b0117c933.PNG)

Please

[2020-07-22 06:13] victortodoran commented on #29230
@ajijshekh123  This indeed is not reproducing in 2.4-develop. Is this the branch that is going to be released in 28th of July?

[2020-07-22 06:38] ajijshekh123 commented on #29230
@victortodoran - Actually, Magento didn't provide me the Magento 2.3.5-p1 Instance that's why I can't able to verify this issue.
Can I close this issue? OR Please provide me Magento 2.3.5-p1 admin link and credential.

[2020-07-22 06:40] hostep commented on #24332
@Noman77: please read all the comments, the workaround for now is to install the `fileinfo` php extension.
See my comment in https://github.com/magento/magento2/issues/24695#issuecomment-534223837

[2020-07-22 06:55] engcom-Lima commented on #29195
@melwinlobo18 See this issue: [20783](https://github.com/magento/magento2/issues/20783)

[2020-07-22 06:55] magento-engcom-team commented on #29218
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36072` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-22 07:02] victortodoran commented on #29230
@magento give me 2.3.5-p1

[2020-07-22 07:02] victortodoran commented on #29230
@magento give me 2.3.5-p1 instance

[2020-07-22 07:02] magento-engcom-team commented on #29230
Hi @victortodoran. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-07-22 07:04] magento-engcom-team commented on #29230
Hi @victortodoran, here is your [Magento instance](https://i-29230-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-29230-2-3-5-p1.instances.magento-community.engineering/admin_3e81](https://i-29230-2-3-5-p1.instances.magento-community.engineering/admin_3e81)
Login: `b8ed9667` Password: `c24cc32179b8`
Instance will be terminated in up to 3 hours.

[2020-07-22 07:11] victortodoran commented on #29230
@ajijshekh123 There is no 2.3.5.p1-develop branch. You have to ask for 2.3.5-p1. Or you can use the instance above if you get to it in time.
![image](https://user-images.githubusercontent.com/25669334/88145721-8b2a6100-cc03-11ea-94b0-de07dd9b17c4.png)

[2020-07-22 07:23] srsathish92 commented on #28814
@magento I am working on this

[2020-07-22 07:25] ajijshekh123 commented on #29230
Hi @victortodoran,
This issue is reproduced on Magento 2.3.5.p1 Instance.
PFA:
![2 3 5_Error1](https://user-images.githubusercontent.com/24711761/88147203-87ee9f80-cc1a-11ea-9187-5eea4b7cd5b1.PNG)

Thanks.

[2020-07-22 07:26] magento-engcom-team commented on #29230
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36074` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-22 07:38] bdt195 commented on #29197
Please make sure you have the correct permissions for the generated/code directory.
https://devdocs.magento.com/guides/v2.4/config-guide/prod/prod_file-sys-perms.html

[2020-07-22 07:55] iovistainc commented on #29124
Hello @engcom-Lima

I have solved this issue as this issue is causing by one of our third-party extensions which is used for Javascript Defer.

Thanks for your help.

[2020-07-22 07:56] khanzadimahdi commented on #29197
i  test it in my local system. all files have 777 permission.

[code]

i have changed all permissions to 777 , however this error persists.
magento2 terminal all commands generate this error and not work.

[2020-07-22 08:49] itgwebsight commented on #28614
Thank you for the recommendations above to help with this issue, i have implemented Session validation and Captcha onto the site which seemed to of stopped it over the weekend but unfortunately it started again this morning, This time all the attempts were coming form the same IP which is why i am guessing the session validation didn't stop the attempts, I have blocked the IP now and removed the c

[2020-07-22 09:32] ryanfern86goa commented on #23729
Hi @JAG007

I'm facing the same issue on 2.3.4-p2

[2020-07-22 09:49] BenItt commented on #28132
Hi @jorgb90  @dni @fahu @deepaksnair,

I got the fix by Klarna and it works for us.

This is the message by Klarna:

"I am sending you in the attachment with the logs our technicians provided to us.

This issue will also be fixed in a later release, but for now you can make suggested changes.
Advise is to try it on a test environment first.
Highlighted words in the document are:
class
implements
p

[2020-07-22 10:13] engcom-Lima commented on #29124
@iovistainc Closed according to the [comment](https://github.com/magento/magento2/issues/29124#issuecomment-662303825)

[2020-07-22 10:13] #29124 closed, assigned to engcom-Lima

[2020-07-22 10:28] engcom-Lima commented on #29197
Hello @khanzadimahdi
Could you provide more details for reproduce this issue?
Please add steps to reproduce and version of magento. Because I am not able to reproduce this issue on the latest 2.4-develop branch
![Screenshot_45](https://user-images.githubusercontent.com/60198022/88165670-ba020080-cc1e-11ea-909e-21d7193033ef.png)

Thank you!

[2020-07-22 10:57] krishprakash commented on #29229
Hi @lksharma8. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

[2020-07-22 10:57] #29229 closed, assigned to krishprakash

[2020-07-22 10:58] magento-engcom-team commented on #29194
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36077` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-22 11:00] david8305 commented on #11950
I also have this problem. Magento 2.3.5-p1 and latest version of chrome.
@siliconalchemy's problem description seems to be accurate. When I disable lastpass auto fill the problem does not occur. Lastpass only fills password fields when you click on the extension.

[2020-07-22 11:44] LukasKiederle commented on #29224
I can reproduce this behaviour in a 2.3.5-p1 Magento instance

[2020-07-22 11:46] lucia24597 opened #29233 "Imágenes productos"
No me deja adjuntar imágenes para cada producto.
Me informa: "Se necesita especificar el tipo de imagen y la información para cada vista de tienda"
Actualmente estoy usando la versión 1.9.2.4
![image](https://user-images.githubusercontent.com/68645125/88172695-ab691880-cc21-11ea-9e9c-e0219d2dc569.png)

[2020-07-22 11:48] Naeemakhter1999 commented on #9111
In have to add cron process in extension ,which can shown in a  cron_schedule tabel.
how can i add? in Magento1 Googleshopping Extension.

[2020-07-22 11:49] lucia24597 commented on #29233
@magento give me 2.4-develop instance

[2020-07-22 11:49] magento-engcom-team commented on #29233
Hi @lucia24597. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-22 11:50] lucia24597 commented on #29233
@magento give me 2.4-develop instance

[2020-07-22 11:50] magento-engcom-team commented on #29233
Hi @lucia24597. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-22 11:51] magento-engcom-team commented on #29233
Hi @lucia24597, here is your [Magento instance](https://i-29233-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29233-2-4-develop.instances.magento-community.engineering/admin_474a](https://i-29233-2-4-develop.instances.magento-community.engineering/admin_474a)
Login: `7d93a248` Password: `9296479f5c07`
Instance will be terminated in up to 3 hours.

[2020-07-22 11:55] lucia24597 commented on #29233
@magento I am working on this

[2020-07-22 11:55] lucia24597 commented on #29233
@magento add to contributors team

[2020-07-22 12:10] JMLucas96 opened #29234 "Error setup:upgrade after upgrade to magento2.3.5-p1"
I updated magento2.1.8 to 2.3.5-p1  and when run setup:upgrade with Magento_Amqp and Magento_MysqlMq enabled can't perform `setup:upgrade`.

### Preconditions (*)

1.Upgrade magento 2.1.8 to 2.3.5-p1 from [https://devdocs.magento.com/cloud/project/project-upgrade.html](https://devdocs.magento.com/cloud/project/project-upgrade.html)
2.Environment: Windows, php7.2.3, apache

### Steps to reproduce (

[2020-07-22 12:12] JMLucas96 commented on #29234
@magento give me 2.4-develop instance

[2020-07-22 12:12] magento-engcom-team commented on #29234
Hi @JMLucas96. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-22 12:12] JMLucas96 commented on #29234
@magento I am working on this

[2020-07-22 12:12] TimonVS commented on #29057
@magento give me 2.4-develop instance

[2020-07-22 12:12] magento-engcom-team commented on #29057
Hi @TimonVS. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-22 12:13] JMLucas96 commented on #29234
@magento add to contributors team

[2020-07-22 12:14] magento-engcom-team commented on #29234
Hi @JMLucas96, here is your [Magento instance](https://i-29234-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29234-2-4-develop.instances.magento-community.engineering/admin_624a](https://i-29234-2-4-develop.instances.magento-community.engineering/admin_624a)
Login: `db1d07a4` Password: `f332e2781f88`
Instance will be terminated in up to 3 hours.

[2020-07-22 12:16] magento-engcom-team commented on #29057
Hi @TimonVS, here is your [Magento instance](https://i-29057-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29057-2-4-develop.instances.magento-community.engineering/admin_1605](https://i-29057-2-4-develop.instances.magento-community.engineering/admin_1605)
Login: `be5793dd` Password: `f0c0d6c26ec2`
Instance will be terminated in up to 3 hours.

[2020-07-22 12:17] othuress commented on #26377
Being an end-user of the system this is issue is a mega catastrophe I can not stress enough that this GAP needs to be fixed in Magento, we are loosing sales due to extent of void payments from Chrome browsers!

[2020-07-22 12:21] magento-engcom-team commented on #29178
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36078` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-22 12:26] engcom-Lima commented on #29155
Hello @bohdan-berezhniy
Could you provide more details for reproduce this issue?
Please add version of magento.

Thank you!

[2020-07-22 12:30] jasperzeinstra commented on #28706
@JelleGroenendal I'm running in to the same issue. Can't find a issue report at https://github.com/magento/partners-magento2ee/issues. Did you already resolve this issue? It looks like it's stuck on this piece of code

`Magento_PageBuilder/js/form/form-mixin.js`
[code]

[2020-07-22 12:47] krishprakash commented on #29233
Hi @lucia24597. Thank you for your report.
GitHub issue tracker is intended for magento core technical issues only.
Kindly refer [magento stack exchange](https://magento.stackexchange.com/) or [community forum](https://community.magento.com/) for general discuss about this topic

Also refer some below links:
- https://community.magento.com/t5/Magento-1-x-Programming/Image-type-and-information-need

[2020-07-22 12:47] #29233 closed, assigned to krishprakash

[2020-07-22 12:56] JMLucas96 commented on #29234
Solution!

Create a custom module to extends `Magento\Framework\Reflection\TypeProcessor`.

Contents of `di.xml`

[code]

Contents of `TypeProcessor.php`

[code]

After that run `setup:upgrade` and get the following result:

![success_setup_upgrade](https://user-images.githubusercontent.com/47561465/88179017-89749380-cc2b-11ea-8645-04c909503000.png)

[Source](https://stackoverflow.com/questions/57

[2020-07-22 13:20] engcom-Lima commented on #28977
Hello @anujeetphj
What version of php are you using?
Unfortunately, I'm not able to reproduce issue by steps you described on clean 2.3.5-p1
![Screenshot from 2020-07-22 16-16-42](https://user-images.githubusercontent.com/60198022/88181176-24269f80-cc37-11ea-8c43-e12bebcf6bf6.png)
![Kazam_screenshot_00003](https://user-images.githubusercontent.com/60198022/88180926-c1350880-cc36-11ea-9367-ab35b3e6

[2020-07-22 13:25] LukasKiederle commented on #29224
I have created a new Issue in the B2B Repository for this see https://github.com/magento/partners-magento2b2b/issues/194

[2020-07-22 13:25] #29224 closed, assigned to nobody

[2020-07-22 13:28] bohdan-berezhniy commented on #29155
Hello, 2.3.2
Magento version is not important (required version 2 and upper)

ср, 22 лип. 2020 о 15:26 Viktoriia Sekeresh <notifications@github.com> пише:

[2020-07-22 13:54] engcom-Alfa commented on #27949
Hi @mrtuvn . Thanks for collaboration. This PR was reviewed on Community Contribution Triage meeting. The recording of the meeting you can look by the [link](https://www.youtube.com/watch?v=4dFuALJ0L4I&t=24s)

[2020-07-22 13:55] engcom-Alfa commented on #27924
Hi @jkbdbrnwsk . Thanks for collaboration. This PR was reviewed on Community Contribution Triage meeting. The recording of the meeting you can look by the [link](https://www.youtube.com/watch?v=4dFuALJ0L4I&t=145s)

[2020-07-22 13:57] engcom-Alfa commented on #28270
Hi @pixiemediaweb . Thanks for collaboration. This PR was reviewed on Community Contribution Triage meeting. The recording of the meeting you can look by the [link ](https://www.youtube.com/watch?v=4dFuALJ0L4I&t=265s)

[2020-07-22 14:00] engcom-Alfa commented on #27490
Hi @magedev218 . Thanks for collaboration. This PR was reviewed on Community Contribution Triage meeting. The recording of the meeting you can look by the[ link](https://www.youtube.com/watch?v=4dFuALJ0L4I&t=395s)

[2020-07-22 15:21] cypx opened #29235 "Password hash should not rely on system dependant constant"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.2.22

### Steps to reproduce (*)

1. Fresh Magento install
2. Create some admin and customer accounts
3. Make some system or hardware upgrade on server compiling and running PHP which change Sodium predefined constants https://www.php.net/manual/en/sodium.constants.php
4. Try to login with any account

### Expected result (*)

1. Any admin or custom

[2020-07-22 15:30] sb-nick commented on #28614
@itgwebsight how did you implement captcha and braintree. Its really challenging my team coding wise having to reverse engineer both Magento and BrainTree?

[2020-07-22 15:32] sb-nick commented on #28614
We still get hit after having the  REMOTE_ADDR settings turned on. We built a mini firewall module that looks for those guest checkout api calls and if they hit too many, we block the IP and email a copy to ourselves so we can check to see where its coming from. Still Mage needs to legit fix this to help prevent it. I agree recaptcha isn't the solution.

[2020-07-22 15:53] mrtuvn commented on #29232
well seem problem with remove with js! Unable to remove file with layout xml approach

[2020-07-22 17:01] itgwebsight commented on #28614
@sb-nick i tried a load of different options to enable this but could not find an off the shelf product so looked into building a module for it, i finally spotted that the mageplaza recaptcha module supported Custom CSS Selectors and Form URL's so managed to add it via these with the aid of the below github issues

https://github.com/mageplaza/magento-2-google-recaptcha/issues/20

[2020-07-22 17:04] aliomattux commented on #28614
The mage plaza module shows the recaptcha but it does not actually prevent
checkout and the module is not designed to support recaptcha on checkout.

On Wed, Jul 22, 2020 at 12:01 PM iTG <notifications@github.com> wrote:

[2020-07-22 17:41] angelobono opened #29236 "indexer.xml - numbers in the namespace for the source attribute at fieldset is not accepted"
### Preconditions (*)

Magento Community Version 2.3.5-p1 and current branch 2.4-develop

### Steps to reproduce (*)

1. Create a custom index with indexer.xml config
2. Use a number in your namespace of the Indexer source class
3. Run bin/magento setup:upgrade

Example XML Config:

`<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:fr

[2020-07-22 17:43] aemm2016 commented on #27836
the solution is, to install mysql 5.7.10 ??
really ?

everytime I have to play with magento installations, there's something really odd, and I get headaches from too much headshaking during googling the odd solutions to the problems, which try to block me from the installations. In the beginning I thought magento2 is new, it will become better. But, no, its like magento1, its a hopeless broken sys

[2020-07-22 19:02] toadster122 commented on #23965
Hello @engcom-Charlie,

I encountered this problem on one of my websites and did debugging to try and discover the underlying issue. In my case, it was caused by editing the column backing the foreign key reference. The edit of that backing column meant that the function turnOffForeignKeys in TableDiff.php attempted to remove and re-add the foreign key, but because that column wasn't in the whitel

[2020-07-22 20:11] Flipmediaco commented on #10821
I have come up against this issue with M2.3.5

I believe this issue is caused by a combination of open_basedir and include_path.

When open_basedir is set and does not include the PHP include_path default e.g ".:/usr/share/php", Magento will fail to find Zend Validate classes.

The workaround solution is, either:-

1. Remove open_basedir configuration completely

2. Add the include_path default ie

[2020-07-23 04:04] ingedicson commented on #19479
I had this message:

Cannot process definition to array for type bit

This is a new table that I created on Magento.
And my solutions was change data type to column, from bit to int.

Now, the command work correctly!  bin/magento setup:upgrade

[2020-07-23 05:50] kiranmaipappu opened #29239 "Related product rules are not working for newly created custom product attribute with comma separated values in condition"
### Preconditions (*)
1. The issue is reproducible in EE 2.3.3 & EE 2.3.5
2. There are no dependencies modules. Verified in EE 2.3.3 & EE 2.3.5with sample data.
3. Verified in the UAT environment with an existing client environment. The issue is reproducible.

### Steps to reproduce (*)

**_Product attribute creation:_**

1. Created a product attribute named "Test" as a Global attribute with type

[2020-07-23 07:17] cypx commented on #29235
This seems confirmed by libsodium author and library example, constant values can change and did change, you must save the function parameters in order to recompute the same value later.

https://github.com/jedisct1/libsodium-php/issues/165#issuecomment-366599786
https://github.com/jedisct1/libsodium-php#encrypt-a-file-using-a-key-derived-from-a-password

[2020-07-23 07:34] engcom-Lima commented on #29138
Hello @webkul-ajaysaini
Could you provide more details for reproduce this issue?
Please add version of magento.

Thank you!

[2020-07-23 08:04] OlegsJakovlevsJp commented on #26377
“Same site cookie policy issue in Magento2 Since the SameSite Cookie Changes redirect payment method flows can break when the issuer is redirecting back to the Magento site with a POST request. When Magento processes the POST request it starts with loading the cart from the session. In order to do so it reaches to the SESSION cookie. Unfortunately, the SESSION cookie is not set as SameSite=None; S

[2020-07-23 08:35] m2-assistant[bot] opened #29240 "[Issue] Support cron expressions like `3/10 * * * *` and handle hyphen expres…"
This issue is automatically created based on existing pull request: magento/magento2#28930: Support cron expressions like `3/10 * * * *` and handle hyphen expres…

---------

### Preconditions (*)

Cron expressions like `3/10 * * * *` are now not scheduled. They should be scheduled at every 10 minutes, starting at 3 minutes past the hour.

### Fixed Issues (if relevant)

1. PR #28930

### Steps to

[2020-07-23 08:55] magento-engcom-team commented on #28693
Hi @n2diving-dgx. Thank you for your report.
The issue has been fixed in magento/magento2#27221 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [8ec11ad2e5797eeeafce815d2fbbbd422277d9b1](https://github.com/magento/magento2/commit/8ec11ad2e5797eeeafce815d2fbbbd422277d9b1)
 - [7308ee2a7246d4ae11c140819a30b6bb8db06db0](https://github.com/magento/magento2/commit/7308ee2a7246d4ae11c140819a

[2020-07-23 08:55] #28693 closed, assigned to ihor-sviziev

[2020-07-23 08:55] magento-engcom-team commented on #29218
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28922 by @AntonEvers in 2.4-develop branch
Related commit(s):
 - [da400fbe6edf1e0cb45a7eb4adc7b9b6ad186384](https://github.com/magento/magento2/commit/da400fbe6edf1e0cb45a7eb4adc7b9b6ad186384)

The fix will be available with the upcoming 2.4.1 release.

[2020-07-23 08:55] #29218 closed, assigned to nobody

[2020-07-23 08:55] magento-engcom-team commented on #28656
Hi @phongphanmage. Thank you for your report.
The issue has been fixed in magento/magento2#28856 by @zaximus84 in 2.4-develop branch
Related commit(s):
 - [c1eeed2407b425cae955d3c06ab1efaf07a8e12b](https://github.com/magento/magento2/commit/c1eeed2407b425cae955d3c06ab1efaf07a8e12b)
 - [35f7e8d29a8f570c0eb02b80116618f9d09d5de1](https://github.com/magento/magento2/commit/35f7e8d29a8f570c0eb02b801166

[2020-07-23 08:55] #28656 closed, assigned to zaximus84

[2020-07-23 08:55] magento-engcom-team commented on #29076
Hi @GrimLink. Thank you for your report.
The issue has been fixed in magento/magento2#29077 by @GrimLink in 2.4-develop branch
Related commit(s):
 - [feb01e40c1d28f38412145dd70e547ffdfaa951c](https://github.com/magento/magento2/commit/feb01e40c1d28f38412145dd70e547ffdfaa951c)

The fix will be available with the upcoming 2.4.1 release.

[2020-07-23 08:55] #29076 closed, assigned to GrimLink

[2020-07-23 08:55] magento-engcom-team commented on #27162
Hi @krisztian-fekete. Thank you for your report.
The issue has been fixed in magento/magento2#27340 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [4f497903a254a8f41c72ba3e3b22066bbc0c2310](https://github.com/magento/magento2/commit/4f497903a254a8f41c72ba3e3b22066bbc0c2310)
 - [1e22f3d2dd53a4c6497f72630fc4e5d8420034fc](https://github.com/magento/magento2/commit/1e22f3d2dd53a4c6497f72630fc4

[2020-07-23 09:23] xpoback commented on #27256
It's not 12 seconds in my case, but 500 ms for the home page in Magento 2.3.5 instead of 80 ms in Magento 2.2.10 are quite noticeable, and most of that time is consumed by store.resolve.

[2020-07-23 09:39] Jeeva-Rathinam opened #29241 "Magento 2.3 Multi Website Store - After move localhost to live server Second Website Store Access-control Issue Error"
My main website store URL: test.website.in
Second website store URL : grocery.website.in

Initially, i developed multi-website in the localhost, and its working also but after move to live server main website store working but second website store not working,

![cors](https://user-images.githubusercontent.com/20558012/88272564-87c3d200-ccf6-11ea-956e-18c6574b1fdb.png)

[2020-07-23 10:14] engcom-Lima commented on #29155
Hello @bohdan-berezhniy
Could you please add a screenshot of the page that shows this text "Sorry, there are currently no offers for this order.". I mean in the DOM
By default it displays as none.
![Screenshot_51](https://user-images.githubusercontent.com/60198022/88274629-acaf4980-cce4-11ea-8828-09547f1aab2f.png)
But if I change display to block - the text shown. But this invalidate case. So I ca

[2020-07-23 10:14] simonrl opened #29242 "stepNavigator.js should use item's navigate() method in navigateTo()"
### Summary (*)

On Magento Open Source 2.3.4:
When adding a new checkout step, it's not possible to manipulate the navigation towards this step.
In my special use case, I am trying to add a checkout step that will redirect the user to a URL (back to cart).

### Examples (*)

I followed the guideline here: https://devdocs.magento.com/guides/v2.3/howdoi/checkout/checkout_new_step.html
This works gr

[2020-07-23 10:38] alexkrm commented on #24777
Can we safely say, that starting from 2.3.5 version Magento CE supports ElasticSearch 7.x?
https://devdocs.magento.com/guides/v2.3/config-guide/elasticsearch/es-overview.html#es-spt-versions

[2020-07-23 11:12] sergey-ctrl opened #29243 "PayPal Express Checkout button is not displayed with PayPal Braintree by Gene"
### Preconditions (*)

1.Magento ver. 2.4.0-beta2
2.Configure PayPal Express Checkout payment method
https://i.imgur.com/PDenw9M.png
3.Configure Braintree Payments (by GENE Commerce), Enable PayPal through Braintree
https://i.imgur.com/9qBDM3i.png

### Steps to reproduce (*)

1. Go to Checkout, step 2

### Expected result (*)

1. The PayPal Express Checkout button is displayed

### Actual result (

[2020-07-23 11:20] bohdan-berezhniy commented on #29155
Hello
For me, it happens when I choose a country that not supported by the
shipping method.
Just remove display none and try to translate that text, or you can adjust
the shipping method to get this message.

чт, 23 лип. 2020 о 13:14 Viktoriia Sekeresh <notifications@github.com> пише:

[2020-07-23 11:46] jigar48 commented on #27140
@magento-engcom-team any solution ?

[2020-07-23 12:06] JancyAbraham opened #29245 "Magento 2 REST API V1/products list all active and expired Tier Prices"
### Preconditions (*)
1. Magento ver. 2.2.8
2. Set Tier Pricing for product with from date and end date

### Steps to reproduce (*)
1.  Call the Rest API /V1/products

### Expected result (*)
1. List only active tier prices for the products

### Actual result (*)
1.  List all tier prices both active and date expired

[2020-07-23 12:08] JancyAbraham commented on #29245
We can fix this by adding the fields in \Magento\Catalog\Model\Product\Type\Price.php

 public function getTierPrices($product)
    {
        $prices = [];
        $tierPrices = $this->getExistingPrices($product, 'tier_price');
        foreach ($tierPrices as $price) {

            /** @var \Magento\Catalog\Api\Data\ProductTierPriceInterface $tierPrice */
            $tierPrice = $this->tierPriceF

[2020-07-23 12:52] engcom-Alfa commented on #29194
The issue is reproducible on fresh 2.4-develop

![Peek 2020-07-23 15-51](https://user-images.githubusercontent.com/51679138/88288487-84cbe000-ccfc-11ea-9912-3ff91ff598d9.gif)

[2020-07-23 13:09] srsathish92 commented on #29194
@magento I am working on this

[2020-07-23 13:17] engcom-Lima commented on #27327
Hello @onepack
I'm not able to reproduce issue by steps you described on clean 2.4-develop. I have no any errors in console.
![Screenshot_53](https://user-images.githubusercontent.com/60198022/88290808-f9ece480-ccff-11ea-9745-8d236804c250.png)
Looks like this issue was fixed in  https://github.com/magento/magento2/pull/26764

Please feel free to comment, reopen or create new ticket according to th

[2020-07-23 13:17] #27327 closed, assigned to engcom-Lima

[2020-07-23 13:19] woutersamaey commented on #26541
I also have a store facing this issue. The invoice is created + marked as paid. The total due amount drops to 0, but status stays "pending payment".

My case is with a custom built payment module that extends the now deprecated \Magento\Payment\Model\Method\AbstractMethod

Perhaps this is related somehow to the deprecation of this model?

[2020-07-23 14:25] xcom-magento opened #29246 "No shipping price displayed - Wrong function called in checkout shipping.html"
### Preconditions (*)
1. Magento CE 2.3.4

### Steps to reproduce (*)
1. Registered an account with a B2B customer group that has different Tax rules
2. Add products to cart and continue to checkout
3. Choose a shipping method

### Expected result (*)
1. The shipping amount should render a price when a shipping method is selected

### Actual result (*)

1. No price is rendered since the function t

[2020-07-23 14:50] darioruglioni commented on #8624
any info about this issue?? I have the same problem in Magento ver. 2.3.3

[2020-07-23 14:55] #28791 closed, assigned to nobody

[2020-07-23 14:57] ihor-sviziev commented on #24777
Yes, starting from 2.3.5 we have support for elasticsearch 7.x, here is
module
https://github.com/magento/magento2/tree/2.3.5/app/code/Magento/Elasticsearch7

On Thu, 23 Jul 2020 at 13:39, Alex <notifications@github.com> wrote:

[2020-07-23 15:33] gethubbavv opened #29247 "Orders Lost"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]
![Magento Order Snip NCWP](https://user-images.githubusercontent.com/68699192/88306048-161c6180-ccbf-11ea-89fc-be87a996d29b.JPG)

### Actual result (*)

1. [Screenshots, logs or description]

[2020-07-23 15:54] eurobeautiful commented on #28614
It seems like the Braintree integration needs to be refactored in order to allow for reCaptcha to work: normally reCapctha works by having the request sent to the server and then the server can check with the reCaptcha API whether the response is valid, and from there decide what to do. However the current implementation of the Braintree integration makes the payment request directly from the brow

[2020-07-23 16:13] devchris79 commented on #29247
I think you are going to need to give more details than a picture of the orders page with a couple of active filters....

What is displayed when the filters are turned off?

![Untitled](https://user-images.githubusercontent.com/43850303/88310425-9070d400-cd07-11ea-9d18-e89559ee828a.png)

[2020-07-23 16:44] engcom-Lima commented on #29090
@magento give me 2.4-develop instance

[2020-07-23 16:44] magento-engcom-team commented on #29090
Hi @engcom-Lima. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-23 16:46] magento-engcom-team commented on #29090
Hi @engcom-Lima, here is your [Magento instance](https://i-29090-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29090-2-4-develop.instances.magento-community.engineering/admin_3852](https://i-29090-2-4-develop.instances.magento-community.engineering/admin_3852)
Login: `c02c8519` Password: `45e4c645508e`
Instance will be terminated in up to 3 hours.

[2020-07-23 17:17] sdzhepa commented on #27153
@magento give me 2.4-develop instance

[2020-07-23 17:17] magento-engcom-team commented on #27153
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-23 17:18] magento-engcom-team commented on #27153
Hi @sdzhepa, here is your [Magento instance](https://i-27153-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27153-2-4-develop.instances.magento-community.engineering/admin_72d6](https://i-27153-2-4-develop.instances.magento-community.engineering/admin_72d6)
Login: `ef554e47` Password: `3e8ba187c91a`
Instance will be terminated in up to 3 hours.

[2020-07-23 17:22] mrtuvn commented on #29211
i think you are using wrong version of 3rd party named colissimo. This mean 3rd party not compatible with your magento version.
Colissimo try to call Magento\Shipping\Model\Rate\CarrierResult but it not available in your magento version

Solution: Choose correct colissimo work with your magento 2.3.2
Or update your magento

[2020-07-23 17:29] sdzhepa commented on #27153
Hello @shrey126
cc: @ajijshekh123

I am not able to reproduce this issue by steps from precondition on the latest `2.4-develop`

Probably the issue was already fixed or I missed some steps or preconditions.

Could you please confirm that issue is not actual anymore or provide additional details?

![issue_27153](https://user-images.githubusercontent.com/3409584/88318157-f0ec1b00-ccdf-11ea-80b8-87b1

[2020-07-23 17:47] sdzhepa commented on #26865
Hello @rani-webkul
cc: @krishprakash

Could you please provide more details about step "4. ...click on edit order "?

How exactly you edit old order and add/change products to it? I do not see a button for edit order items only for billing/shipping addresses

[2020-07-23 20:05] devsigh opened #29248 "Saved Vault Payment Methods are not available"
### Preconditions (*)
1. At least Magento 2.3.5
2. A Vault-enabled payment method (Tested with the core installation of module-braintree and our in house module same issue)

### Steps to reproduce (*)
1. Configure a Vaulted Payment Method and Checkout opting to store the payment details for future use
2. Return and select one of the stored vaulted payment methods.

### Expected result (*)
1. Metho

[2020-07-24 03:29] mbrinton01 commented on #29226
@smuletf please add a UX design for this story. Required elements:
* Link in header to log in as company administrator from company detail page in admin panel
* Website selector
* Confirmation modal

Can use a very similar design to existing Login as Customer flow, with minor wording changes.

FYI @dobooth for adding this new Login as Customer entry point to the Merchant documentation.

[2020-07-24 03:46] worftan opened #29250 "Magento 2 registering the company, notify the administrator that the email address is incorrect"
### Preconditions (*)
B
1. Magento Ver 2.3.4
2. Send mail to the administrator after registering a B2B account
3. Configure Company Email Options
4. Set Company Registration Email Recipient to the store contact who is to be notified when a new company registration request is received.

### Steps to reproduce (*)

![QQ20200724-0](https://user-images.githubusercontent.com/44386451/88358840-21e15400-

[2020-07-24 04:36] ajijshekh123 commented on #29247
Hi @gethubbavv,
Can you please enter the Steps to be reproduced, Actual results and Pre-conditions for this issue?
Thanks.

[2020-07-24 05:17] nrkapoor opened #29251 "Configurable Options Selection :: New GraphQL Query"
As a Magento Developer, 

I want to optimize the GraphQL product data retrieval for configurable products with a large number of variants

So that merchants can provide consistent user experience to their customers irrespective of the size and complexity of their catalog. 

**Acceptance Criteria**

GraphQL calls for configurable products scales as well as the calls for non-configurable products.
C

[2020-07-24 07:04] engcom-Delta commented on #29110
:heavy_check_mark: Done
PR https://github.com/magento/magento2-login-as-customer/pull/107

[2020-07-24 07:04] #29110 closed, assigned to engcom-Delta

[2020-07-24 07:10] engcom-Kilo commented on #29090
@magento give me 2.4-develop instance

[2020-07-24 07:10] magento-engcom-team commented on #29090
Hi @engcom-Kilo. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-24 07:11] magento-engcom-team commented on #29090
Hi @engcom-Kilo, here is your [Magento instance](https://i-29090-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29090-2-4-develop.instances.magento-community.engineering/admin_aa99](https://i-29090-2-4-develop.instances.magento-community.engineering/admin_aa99)
Login: `e18060ef` Password: `8728620976b9`
Instance will be terminated in up to 3 hours.

[2020-07-24 08:06] bernd-reindl commented on #7199
@magento-engcom-team this bug is still in 2.3.5-p1.

[2020-07-24 08:25] bernd-reindl opened #29252 "Terms and Conditions - Popup Content doesn't respect blockDirective"
### Preconditions (*)
1. M 2.3.5-p1

### Steps to reproduce (*)
1. Add a blockDirective  (e.g. {{block class="Magento\\Cms\\Block\\Block" block_id="gtc"}}) to a "Terms and Conditions" (Stores/Terms and Conditions) content.

### Expected result (*)

1. The "Terms and Conditions" popup, shown in frontend checkout should show the content of block "gtc".

### Actual result (*)

1. The popup shows "{{b

[2020-07-24 08:30] Minirock opened #29253 "Product attributes with source option do not show in layer"
### Summary (*)
I have two product attributes 'longueur_tasse' and 'longueur_tasse_vertuo'. The first one appears in layer, but the second doesn't. My point is to succeed get this attribute for layered navigation.
They both have the same properties and configuration (except the `longueur_tasse_vertuo` is created by script and has system values).

I've raised the issue under the Magento Stack (you

[2020-07-24 09:04] thisfiore opened #29254 "Product Merchandising Display order as REST API sorting option"
### Description (*)
Have the product merchandising order accessible using REST api search calls.
At the moment look we cannot access the sorting set using this UI

<img width="1232" alt="Screenshot 2020-07-24 at 11 03 14" src="https://user-images.githubusercontent.com/3455586/88376286-5e11b600-cd9d-11ea-9483-1b1d4253162f.png">

Can't find any documentation about it, or can you confirm this is not

[2020-07-24 09:35] engcom-Alfa commented on #28943
@magento give me 2.4-develop instance

[2020-07-24 09:35] magento-engcom-team commented on #28943
Hi @engcom-Alfa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-24 09:36] magento-engcom-team commented on #28943
Hi @engcom-Alfa, here is your [Magento instance](https://i-28943-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28943-2-4-develop.instances.magento-community.engineering/admin_492c](https://i-28943-2-4-develop.instances.magento-community.engineering/admin_492c)
Login: `0388e944` Password: `d6a6f1c51ae8`
Instance will be terminated in up to 3 hours.

[2020-07-24 09:38] magento-engcom-team commented on #29155
:white_check_mark: Confirmed by @engcom-Lima
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36143` were created

**Issue Available**: @engcom-Lima, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-24 09:46] gwharton commented on #25076
Please note laminas-mail v2.11.0 which contains the fix for this has now been released.

[2020-07-24 10:36] gwharton opened #29258 "Magento does not send emails with Content-Disposition: inline headers anymore"
Right from the beginning, Magento has always sent emails with Content-Disposition: inline set as a header. This was the default implementation of MIME encoded emails provided by Zend Framework 1. Magento never needed to do anything as it was handled within ZF1.

When Magento moved its mail handling routines to Zend Framework 2, the content-disposition header, along with other functionality, such a

[2020-07-24 10:51] engcom-Lima commented on #29090
Hello @nadroj467
According to the [documentation](https://docs.magento.com/user-guide/system/data-attributes-product.html):

If stock is imported with fields `sku`, `qty` and `is_in_stock`' to bring all associated simple products in stock, this works. All associated simple products become in stock after running cron
![Screenshot_60](https://user-images.githubusercontent.com/60198022/88383964-3417b

[2020-07-24 10:51] #29090 closed, assigned to engcom-Lima

[2020-07-24 11:10] bharanikonda opened #29259 "loading icon disappear and not redirecting to the order details page for Authorize.net Direct Post payment in Admin"
### Preconditions (*)

1. Magento 2.3.5-p1
2. Authorize.net Directpost payment method

### Steps to reproduce (*)

1. Login to Admin
2. Enable Authorize.net Directpost payment method
3. Navigate to create order page in admin
4. Add Products, Enter address and Select shipping method
5. Credit Card Direct Post (Authorize.Net) as Payment method and provide required details
6. Click on Submit Order bu

[2020-07-24 11:27] LiamKarlMitchell opened #29260 "Allow updating/creating multiple product attribute values at once."
### Summary (*)
I would like to update/create multiple catalog product attribute options at once with a single PUT (Or it seems I have to use POST)

But the API only lets me specify option: {} not options: [].

### Examples (*)
PUT /V1/products/attributes/{attributeCode}/options

[code]

Does the Magento 2 Rest API have POST and PUT the wrong way around??
https://www.soapui.org/learn/api/rest-requ

[2020-07-24 11:47] magento-engcom-team commented on #29159
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36145` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-24 11:59] LiamKarlMitchell commented on #29260
I can't seem to update existing attribute option values even if I set the value to a string of the id.

[2020-07-24 12:06] LiamKarlMitchell commented on #22554
Note: POST with label and value to update does not appear to update existing, it creates a brand new one with a new id...
Also can not update multiple option labels at once.

API to POST returns a weird id_ prefixed number (the option id)
PUT API endpoint does not exist for **/rest/all/V1/products/attributes/{attributeCode}/options**

[2020-07-24 12:12] dev-Dhaval commented on #28092
I am also facing same issue.
Its related to get-totals.js that file is not return cart total data that's why its throwing this error.
If i removed the line from get-totals.js then its working fine.
deferred.reject();
errorProcessor.process(response);

This is error is only visible on firefox browser.

[2020-07-24 12:15] magento-engcom-team commented on #29161
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36146` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-24 12:33] LusienGG commented on #22554
That's resulting in self-DDoSing to some web servers due to many requests that should be handled on bulk updating of whole catalog.

[2020-07-24 12:45] sabamanz00r commented on #28986
Hi @Vanitha-bujjinga the issue is due to the interface HttpGetActionInterface  implemented by vendor/magento/module-wishlist/Controller/Shared/Cart.php class.

class Cart extends \Magento\Framework\App\Action\Action implements HttpGetActionInterface
{
}

getSharedAddToCartUrl function in vendor/magento/module-wishlist/Helper/Data.php returns parameters with post but our Cart class is implementing

[2020-07-24 12:56] magento-engcom-team commented on #29160
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36147` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-24 13:02] m2-assistant[bot] opened #29261 "[Issue] Cleanup duplicate html class"
This issue is automatically created based on existing pull request: magento/magento2#28639: Cleanup duplicate html class

---------

### Summary (*)

Magento 2.4-develop
Reopen pull request as request from core maintainer
This PR clean the duplicate class in template shipment

### Examples (*)

### Proposed solution

[2020-07-24 13:04] magento-engcom-team commented on #29261
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-07-24 13:17] engcom-Kilo commented on #28096
Confirm. Can reproduce with Magento Enterprise Edition.

This issue can reproduce only with Enterprise Edition or B2b version.

How to reproduce:

1) Magento version is Enterprise Edition
2) Enabled [Staging modules](https://devdocs.magento.com/guides/v2.3/mrg/ee/CatalogStaging.html)
3) Add few products to Magento (using Admin panel) Products: sku1, sku2, sku3
4) Go to product edit page for **sku3

[2020-07-24 13:23] engcom-Kilo commented on #28096
@sdzhepa Please move this issue to EE repository
Thanks

[2020-07-24 13:24] actionis commented on #28038
I'm experiencing this issue still in 2.3.5-p1.

[2020-07-24 13:38] magento-engcom-team commented on #29261
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36150` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-24 14:00] sdzhepa commented on #28096
Hello @leovaimo
cc: @leonhelmus

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues

[2020-07-24 14:05] sdzhepa commented on #29250
Hello @worftan

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2b2b/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Magen

[2020-07-24 14:09] aadmathijssen opened #29263 "Incorrect order status label in sales update emails sent from the admin for non-default store views"
After sending a sales update email from the admin for an order using a non-default store view, the resulting email contains the order status label for the default store view instead of the order status label for the store view in which the order is placed.

### Preconditions (*)

1. A Magento 2.4-develop installation with sample data.

### Steps to reproduce (*)
1. In the admin:
    * Go to “Store

[2020-07-24 14:11] aadmathijssen commented on #29263
@magento give me 2.4-develop instance

[2020-07-24 14:11] magento-engcom-team commented on #29263
Hi @aadmathijssen. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-24 14:13] magento-engcom-team commented on #29263
Hi @aadmathijssen, here is your [Magento instance](https://i-29263-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29263-2-4-develop.instances.magento-community.engineering/admin_77c7](https://i-29263-2-4-develop.instances.magento-community.engineering/admin_77c7)
Login: `1856ed77` Password: `c43a74371a5a`
Instance will be terminated in up to 3 hours.

[2020-07-24 14:45] aadmathijssen commented on #26785
The Store View Specific Labels do serve a purpose, in fact they are in used in the following places:
* Frontend account pages: search for `order->getStatusLabel()` to find all occurrences.
* Sales update emails: search for `order->getFrontendStatusLabel()` to find all occurrences.

Following the code paths, they both end up calling the [`\Magento\Sales\Model\Order\Status::getStoreLabel`](https://g

[2020-07-24 14:50] aadmathijssen commented on #26539
Store view specific order status labels are in use. In fact, when looking at the code of the [\Magento\Sales\Model\Order\Status::getStoreLabel](https://github.com/magento/magento2/blob/2.3.3/app/code/Magento/Sales/Model/Order/Status.php#L144-L159) they actually have preference over CSV translations. See my [comment](https://github.com/magento/magento2/issues/26785#issuecomment-663574853) in issue

[2020-07-24 15:12] engcom-Lima commented on #29126
@mack4hack
Closed as discussed in [this](https://github.com/magento/magento2/issues/29126#issuecomment-661127780) and [this](https://github.com/magento/magento2/issues/29126#issuecomment-661785687) comments

[2020-07-24 15:12] #29126 closed, assigned to engcom-Lima

[2020-07-24 15:23] tudalrik-ls commented on #27864
Hi @bunyamin-gc - do you know of any solution or workaround to that open issue yet?

I am trying to run integration tests for a extension refactoring but the installation process stops at step 4 and there is nothing I can do to fix the default website configuration currently. Nono of my configuration adaptions is being integrated for the test setup.

[code]

[2020-07-24 15:24] davidwindell opened #29264 "Changes to Bundle indexer in 2.3.5 cause index failure"
After upgrading from Magento 2.3.4-p2 to 2.3.5-p1 on our store an integrity constraint happens when the price index runs. This in turn prevents certain (not all!) fixed price bundles from appearing on the front-end. I think it is very unlikely I'll be able to easily reproduce this on a vanilla instance.

The problem seems to be caused by [this commit](https://github.com/magento/magento2/commit/7fa

[2020-07-24 15:26] davidwindell commented on #29264
Duplicating the bundle product `3002` that was causing this error and deleting the original version seems to have solved this for now, so I will close - but I would still be good to have your thoughts on the potential cause.

[2020-07-24 15:26] #29264 closed, assigned to nobody

[2020-07-24 16:42] mattwellss opened #29266 "Support for Symfony's CommandLoaderInterface in Magento CLI"
### Description (*)
Magento applications come out of the box with a few particularly "heavy to initialize" CLI commands. Two examples: `\Magento\Setup\Console\Command\InstallCommand` and `\Magento\Setup\Console\Command\ConfigSetCommand`. Each of these probes all installed modules for ConfigOptionsList classes, initializes them, and reads options from them. That work is not necessary unless the use

[2020-07-24 17:44] jigar48 opened #29267 "Same store name overriding in the store view grid filter"
### Preconditions (*)

1. install the magento 2.3.5-p1, 2.4-develop

### Steps to reproduce (*)

1. create the new store view with same name "Default Store View"
![issue1](https://user-images.githubusercontent.com/16815711/88420290-46214d00-ce04-11ea-8a1b-eaa65b350880.png)
2. now go to sales -> order grid or catalog -> product grid and open the filter and check the listed store view, It display on

[2020-07-24 18:02] maghamed commented on #29266
hey @mattwellss,

I think you are right that we currently have unnecessary computation here

[code]

Loading all commands `$commandList->getCommands()` even though we don't use them. Briefly grep-ping the codebase I saw that there are more than 40 different commands there, and of cause, each of them has its own list of external dependencies that need to be initialized first.

As a quick way how we

[2020-07-24 18:42] maghamed commented on #29266
regarding new interface(-s) proposal and how it should be incorporated into existing code I recommend to create appropriate proposal on architectural GitHub repo - https://github.com/magento/architecture

[2020-07-24 18:44] mattwellss commented on #29266
Proxies were my initial thought as well. However, (and maybe I'm misusing it), but whenever I try to convert a command into a proxied command, the Laminas service manager throws this exception:
[code]

Also, when a command is added as happens currently, the proxy benefit is lost when `getDefinition`, `getName`, etc is called:
[code]
---

In order to maintain BC, I'd suggest this small change to th

[2020-07-24 19:04] sdzhepa commented on #29014
@magento give me 2.4-develop instance

[2020-07-24 19:17] magento-engcom-team commented on #29014
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-24 19:18] magento-engcom-team commented on #29014
Hi @sdzhepa, here is your [Magento instance](https://i-29014-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29014-2-4-develop.instances.magento-community.engineering/admin_d53a](https://i-29014-2-4-develop.instances.magento-community.engineering/admin_d53a)
Login: `a0c20e20` Password: `d97b1e4914a0`
Instance will be terminated in up to 3 hours.

[2020-07-24 19:26] sdzhepa commented on #29014
Hello @Zyles
cc: @ajijshekh123

Thank you for your contribution and collaboration!

At first glance, it looks like a bug but after dig deeper,  and read the documentation I found it is expected behavior.

Quote from the [official documentation "Create a Credit Memo"](https://docs.magento.com/user-guide/sales/credit-memo-create.html)

It means that "Adjustment Refund" cannot be used to return more

[2020-07-24 19:26] #29014 closed, assigned to madhurajawat

[2020-07-24 20:04] chequille commented on #28092
It seems nobody cares about bugs.

But guys, we will have soon a new version 2.4.x.
You will see, there are all bugs fixed and a lot of new bugs will be there!!!!!

I am really thinking about changing the system. The only fact that I did not do it yet is, that I made a couple of changes in extensions to get the shop working as I want.
I really fear about upgrading when 2.4.x is out. Currently my s

[2020-07-24 21:08] Luwdo opened #29268 "Inconsistent js-translation.json generation between versions of libicu (used by php intl)"
### Preconditions (*)

1. Fresh Magento 2.3.5
2. Load application source into a machine with an older version of libicu (for my test I used centos/php-73-centos7)
3. Load same application source into machine running newer version of libicu (for my test I used php:7.3-cli-stretch)

### Steps to reproduce (*)

1. run static:content:deploy in both machines and extract the source for comparison
2. and

[2020-07-24 23:19] orbitrod commented on #29268
@magento give me 2.4-develop instance

[2020-07-24 23:19] magento-engcom-team commented on #29268
Hi @orbitrod. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-24 23:21] magento-engcom-team commented on #29268
Hi @orbitrod, here is your [Magento instance](https://i-29268-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29268-2-4-develop.instances.magento-community.engineering/admin_ef59](https://i-29268-2-4-develop.instances.magento-community.engineering/admin_ef59)
Login: `23e98ea3` Password: `662abe20e391`
Instance will be terminated in up to 3 hours.

[2020-07-25 09:01] salehawal commented on #23296
i have create a post about it since i just faced the same issue again : magento 2 | customer can't login or logins with wrong password https://blog.darelm.cc/2020/07/magento-2-customer-cant-login-or-logins.html #php #magento #zend #issue #login

[2020-07-25 10:00] salehawal commented on #26178
i think the solution is to never change and stick with what you have

[2020-07-25 10:00] #26178 closed, assigned to nilesh2jcommerce

[2020-07-25 10:00] #27226 closed, assigned to nobody

[2020-07-25 11:25] stereoscope commented on #9366
I stumbled over this issue myself which does not exist using soap-api. Is this going to be fixed soon?
Is there a way to override the type by using openapi-generator?

[2020-07-25 16:43] Zyles opened #29270 "Inventory amounts are incorrect on many products"
We have started to notice that many of ours products have stock level at 0 (not using MSI).

These are products we still have in stock.

Is this another one of those "great features" of Magento 2 where it makes the stock level incorrect for no reason?

Is there some kind of buggy reservation system going on when people add items to cart?

Someone please explain, this is hurting our sales.

### Pre

[2020-07-26 03:59] ihor-sviziev commented on #17310
Could you please explain which fallback doesn’t work? If you mean fallback to files - seems like it’s wrong direction, as sessions should have only one shared storage, otherwise it will not work correctly when you have multiple web nodes

[2020-07-26 06:35] fritzmg commented on #17310
Yes, the automatic fallback to the native session storage.

Sure, seems like a valid point, but if that is the case, then Magento should not try to fall back to the native session storage in the first place, should it?

[2020-07-26 08:48] mlambley opened #29275 "Cache cleaner performance issue when saving multiple products"
### Preconditions (*)
magento/product-community-edition: 2.3.5
Ubuntu 18.04.4 LTS

### Steps to reproduce (*)
Load up and save a number of products like the following
[code]

### Expected result (*)
It's a performance issue. I expect it to take a roughly equal amount of time to complete each product save.

### Actual result (*)
Put a debug in `\Magento\Indexer\Model\Indexer\CacheCleaner` looking a

[2020-07-26 14:05] #29234 closed, assigned to nobody

[2020-07-26 15:10] edenduong opened #29277 "Can not export Coupon Code to CSV,XML"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to backend, Marketing->Cart Price Rules
2. Create new rule, select auto generate coupon , generate coupon
3. In the grid, choose some coupon (must select by checkbox)
4. Click Export CSV or xml

![image](https://user-images.githubusercontent.com/8234209/88482640-ce325e80-cf8c-11ea-94a5-30fe714d6af6.png)

### Expected

[2020-07-26 17:50] chequille commented on #29060
Facing same problem.
Will it be fixed in 2.4.x?
By the way, do not understand why you let us test things on a 2.4-develop instance. We have the problems on 2.3.5 version.
Therefore, is it possible to install a 2.4-develop version on my own server?
If yes, let me know.

[2020-07-26 18:44] ihor-sviziev commented on #17310
@fritzmg i think it’s good idea. Please create pull request with your suggestion, will definitely review it! Anyway - even increasing max concurrency should fix the issue and it’s just simpler solution.

[2020-07-26 18:50] fritzmg commented on #17310
Unfortunately I still know very little about Magento's session handling implementation at this point, so it might take some time ;).

[2020-07-26 18:53] mrtuvn commented on #24830
deps is not the way to disable js. It's will include files in all page. I think we have misunderstand here and should update content in docs
@bramvanderholst you should check this
https://devdocs.magento.com/guides/v2.3/javascript-dev-guide/javascript/requirejs.html#requirejs-config-deps

[2020-07-26 20:42] lbajsarowicz commented on #27971
I verified the issue today and seems to be no longer valid.

[2020-07-26 20:42] #27971 closed, assigned to nobody

[2020-07-26 21:24] chequille opened #29279 "I am frustrated when I read the release notes for 2.4.0"
I know, this entry is not a report of a bug but I have to write that with the hope, that many other ppeople could read it.
Maybe you remove it, but since than a few people might have seen it.

I could not believe it when reading the release notes for 2.4.0. This is definentely the end of running Magento on a hosted server. I know, this is at the end not best practice, but for smaller business the

[2020-07-27 01:54] edenduong commented on #29279
@chequille  As I can see, 2.3 still support to the end of 2021

![image](https://user-images.githubusercontent.com/8234209/88496201-9fe16d00-cfe6-11ea-9ab3-763d7456a589.png)

But I think you can consider the VPS instead of hosting. Now it is not expensive . DigitalOcean has the package only $5-$10 per month

[2020-07-27 02:51] michaeldyl520 commented on #28337
I also think it is very slow, there should be a caching mechanism.

[2020-07-27 04:28] chequille commented on #29279
@edenduong
Thanks for your reply. At the end it makes me a little bit less frustrated.
But rgearding VPS, I cannot use a server in the US, I am located in Germany and because of all privacy restrictions which are actually mandatory, there is no change to use  a server outside the EU.
I hopfe, that the outcoming 2.3.5-p2 does contain as well bug fixes.
We will see.
Regards
Chequille

[2020-07-27 05:46] m2-assistant[bot] opened #29280 "[Issue] Remove backup menu if the backup feature is disabled"
This issue is automatically created based on existing pull request: magento/magento2#29222: Remove backup menu if the backup feature is disabled

---------

### Preconditions: (*)

This PR will remove the backup menu in backend if the backup feature is disabled in Configuration

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Steps to reprod

[2020-07-27 05:52] raindropsinfotech commented on #26484
just onep this file
/public_html/vendor/magento/module-ui/view/base/web/js/form/form.js

search
 _.each(additional, function (value, name) {
                source.set('data.' + name, value);
            });
add code after that

// HACK for product - use default value...
                if($('input[name="product[name]"]').length){
                    console.log("admin edit ");

[2020-07-27 05:53] magento-engcom-team commented on #29280
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36165` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-27 06:22] m2-assistant[bot] opened #29281 "[Issue] [MFTF] create AdminTaxRateGridOpenPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#29007: [MFTF]  create AdminTaxRateGridOpenPageActionGroup

---------
This PR creates new action group `AdminTaxRateGridOpenPageActionGroup`

[2020-07-27 06:29] m2-assistant[bot] opened #29282 "[Issue] wrong shipment id in url shows fatal error"
This issue is automatically created based on the existing pull request: magento/magento2#26636: wrong shipment id in url shows fatal error

---------
Fatal error page occurs if use wrong shipment id passed in URL

**Preconditions:**

 Magento 2.4 Develop

   **Steps to reproduce:**

    1. Create An Order In Magento;

    2. Create shipment of that Order;

    3.View the created shipment;

    4.N

[2020-07-27 06:51] magento-engcom-team commented on #29282
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36166` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-27 07:08] john-dhm commented on #27942
@AndrewJGriff It's not theme related.

[2020-07-27 07:11] Zyles commented on #26484
That solves nothing.

[2020-07-27 07:12] krishprakash commented on #29277
@magento give me 2.4-develop instance

[2020-07-27 07:12] magento-engcom-team commented on #29277
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-27 07:14] magento-engcom-team commented on #29277
Hi @krishprakash, here is your [Magento instance](https://i-29277-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29277-2-4-develop.instances.magento-community.engineering/admin_d2e0](https://i-29277-2-4-develop.instances.magento-community.engineering/admin_d2e0)
Login: `3fe940fa` Password: `8794787b9608`
Instance will be terminated in up to 3 hours.

[2020-07-27 07:19] m2-assistant[bot] opened #29283 "[Issue] Unit Test / Bugfix / Inverted Expected value with actual one"
This issue is automatically created based on existing pull request: magento/magento2#29271: Unit Test / Bugfix / Inverted Expected value with actual one

---------
### Description (*)
The values were compared invalid way (opposite): `expected` vs actual values.
I swapped them, also verified if there are no such examples across the platform, but haven't found any other.

### Related Pull Requests

[2020-07-27 08:05] tushhan opened #29284 "It takes more than 5 minutes to login Admin panel of Magento 2.3.5-p1"
### Preconditions (*)

1. Magento 2.3.5-p1

### Steps to reproduce (*)

1. Login to Admin panel takes too long and in some cases it takes up to 20 minutes. After waiting for long time and the admin panel loaded, clicking any link takes the same amount of time.
2. There is no problem with other functions of websites but only with admin panel.

### Expected result (*)

1. [Screenshots, logs or descr

[2020-07-27 09:06] magento-engcom-team commented on #29166
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36167` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-27 09:12] magento-engcom-team commented on #29240
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36168` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-27 09:16] ihor-sviziev opened #29286 "Add back extension point for adding some html to the category page"
### Summary (*)
In PR https://github.com/magento/magento2/pull/24728 there was done one change that caused method `getProductDetailsHtml ` and all their methods stopped to be executed at all that prevents adding customizations here.

During investigation why it was done - it was done due to issue in Swatches module, but fix was done actually in catalog.

I described it in https://github.com/magent

[2020-07-27 09:24] iGerchak commented on #29286
@magento I am working on this issue

[2020-07-27 09:33] m2-assistant[bot] opened #29287 "[Issue] [MFTF] use AdminNavigateNewCustomerActionGroup to go to new customer page"
This issue is automatically created based on existing pull request: magento/magento2#29134: [MFTF] use AdminNavigateNewCustomerActionGroup to go to new customer page

---------
This PR use `AdminNavigateNewCustomerActionGroup` to go to `AdminNewCustomerPage.url`

[2020-07-27 09:35] martynas-al opened #29288 "Customer unable to place order with new address"
### Preconditions (*)

1. Magento version: 2.3.5-p1
2. Customer object needs to have extension attribute data

### Steps to reproduce (*)

1. Log in as a customer which has extension attribute data
2. Add product to cart
3. In checkout step add new shipping address and add checkbox to save it.
4. Place an order with newly added address.

### Expected result (*)

1. Order created successfully

###

[2020-07-27 09:36] m2-assistant[bot] opened #29289 "[Issue] [MFTF] Use AdminExpandCategoryTreeActionGroup for ExpandTree click"
This issue is automatically created based on existing pull request: magento/magento2#29133: [MFTF] Use AdminExpandCategoryTreeActionGroup for ExpandTree click

---------
This PR use `AdminExpandCategoryTreeActionGroup` for clicking on ExpandTree
instead
`<click selector="{{AdminCategorySidebarTreeSection.expandAll}}" stepKey="clickOnExpandTree"/>`
       ` <waitForPageLoad stepKey="waitForCategory

[2020-07-27 09:53] zhartaunik commented on #28921
To proceed issue fix I need to clarify several tips with the architect. As the fix I suppose is expected here implies a total change of quote_item calculation of bundle product. Which is in my opinion works with bugs.

Have a look at \Magento\GraphQl\Sales\RetrieveOrdersWithBundleProductByOrderNumberTest::testGetCustomerOrderBundleProductWithTaxesAndDiscounts

This test creates following fixture:

[2020-07-27 09:56] pitangaweb commented on #7199
Yes, you're right, it only concerns the 750 million people of Europe. it is not a really frequent use case, right ?

[2020-07-27 10:03] m2-assistant[bot] opened #29292 "[Issue] [MFTF] Create new ActionGroup for saving product"
This issue is automatically created based on existing pull request: magento/magento2#29142: [MFTF] Create new ActionGroup for saving product

---------
This PR creates new `AdminProductFormSaveActionGroup` for saving product form

[2020-07-27 10:55] cypx commented on #29235
Can be reproduce using PHP official Docker image, switching from 7.2.19 to 7.2.20 or from 7.3.6 to 7.3.7 must invalidate all the hashes

[code]

[2020-07-27 11:14] hansoncitra commented on #15425
hey @nic02381 if you dont mind, can you please tell me how you solve this? I am stuck on this part too. Thank you in advance.

[2020-07-27 11:49] hansoncitra commented on #19578
Hi @LiamKarlMitchell can you please tell us how you solved this issue? I have the exactly same issue, I want to get custom attributes from address, but cant get it on rateRequest variable. Thank you in advance.

[2020-07-27 12:11] Naberdz opened #29293 "UI component could not be rendered because of system exception"
### Preconditions (*)

1. Magento 2.3.5-p1
2.php 7.2.3

### Steps to reproduce (*)

1. Upgrade magento from 2.3.1 to 2.3.5-p1
2. open order grid and choose to filter by allocated sources.

### Expected result (*)

1. It should filter by that field.
2.

### Actual result (*)

1. Returns error UI component could not be rendered because of system exception
2.

after looking in logs found following:
m

[2020-07-27 12:42] joinso opened #29294 "Cannot deploy Magento version to production"
### Preconditions (*)

1. 2.3.5
2.

### Steps to reproduce (*)

1. Deploy the content of development enviroment to production.
2. Trying to execute any command of Mageto, we get this error:

"An abstract factory could not create an instance of magentosetupmodelobjectmanagerprovider(alias: Magento\Setup\Model\ObjectManagerProvider)."

### Expected result (*)

1. No errors.
2.

### Actual result (*)

[2020-07-27 12:53] m2-assistant[bot] opened #29295 "[Issue] [MFTF] Use action group to click AdminProductGridSection.firstRow"
This issue is automatically created based on existing pull request: magento/magento2#29000: [MFTF] Use action group to click AdminProductGridSection.firstRow

---------
This PR use `AdminProductGridSectionClickFirstRowActionGroup` to click `AdminProductGridSection.firstRow`
instead
`<click selector="{{AdminProductGridSection.firstRow}}" stepKey="clickOnProductPage"/>`
        `<waitForPageLoad ste

[2020-07-27 12:54] tushhan commented on #29284
I have found out that the problem occurred because of a policy of anti-malware software installed on servers. It was somhow blocking the admin panel.

[2020-07-27 12:54] #29284 closed, assigned to nobody

[2020-07-27 13:09] gilbertsohal opened #29296 "Magneto 2.3.4 - Disk Usage getting full"
### Preconditions (*)

1. Magneto 2.3.4
2. CLOUDLINUX 6.10 vmware
3. 8Gb ram
4. 3 core CPU
5. Crazy Domain VPS server

### Steps to reproduce (*)

1. My server disk getting full
Screenshot
https://prnt.sc/tpak37

2.

### Expected result (*)

1. Server has to work normally without full disk
2.

### Actual result (*)

1. My server disk getting full
Screenshot
https://prnt.sc/tpak37

---
Please provi

[2020-07-27 13:45] jkg1996 commented on #25039
Any updates on this i am facing the same issue
i get the following error
`Uncaught Error: cannot call methods on tabs prior to initialization; attempted to call method 'activate'`

[2020-07-27 13:51] magento-engcom-team commented on #17310
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36187` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-27 14:00] zhartaunik commented on #27500
[code]

Need to `->disableOriginalConstructor()` for 3 Factories

[2020-07-27 14:08] magento-engcom-team commented on #28803
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36188` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-27 14:20] Flipmediaco commented on #28614
I found this thread on experiencing the Carding Attack on a Magento 2.3.5 site. So this issue remains following the upgrade.
 We have a Recaptcha enabled on user login on the checkout, so this does not help either.

We have enabled rate limiting on CloudFlare as the requests to /rest/english/V1/guest-carts/*/payment-information were around 15 a minute. The rate limit will block any IP that attempt

[2020-07-27 14:48] maghamed commented on #29266
But in some of the cases, we are already use Proxies. So, this snippet I took from real core code:
[code]

And we are not dealing with Laminas Service Manager here, but rather with Magento Object manager.
All those proxies are being materialized and created in the codebase (under generated/code) when we execute `setup:di:compile`

Try to run di compile command and check whether those classes mater

[2020-07-27 15:29] craig-bartlett commented on #28173
It's also worth noting that in multi-store environments it will do this per store too, whether the product is enabled in that store or not.

[2020-07-27 16:24] AndrewJGriff commented on #27942
@john-dhm  Did you find a solution? I found that if I set 'Enable single-store mode' to NO, then the Custom Layout Update works, but if i switch this to 'YES'  so I have single store mode enabled, then I cannot select the file name in the admin screen.

[2020-07-27 16:44] mattwellss commented on #29266
All those proxies are being materialized and created in the codebase (under generated/code) when we execute setup:di:compile

Ahh, I should've been more specific... Sorry about that. Because I'm looking at `setup:install` and `setup:config:set`, I was trying to proxy `ConfigSetCommand` and `InstallCommand` from the . Both of those are instantiated by `\Magento\Setup\Console\CommandList`, which use

[2020-07-27 16:53] subbu1993 commented on #27233
@magento give me 2.3.5-p1 instance

[2020-07-27 16:55] magento-engcom-team commented on #27233
Hi @subbu1993, here is your [Magento instance](https://i-27233-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-27233-2-3-5-p1.instances.magento-community.engineering/admin_2b60](https://i-27233-2-3-5-p1.instances.magento-community.engineering/admin_2b60)
Login: `be225cdb` Password: `bde9742fef01`
Instance will be terminated in up to 3 hours.

[2020-07-27 17:10] alexey-motorny-amasty commented on #28981
@magento-engcom-team  why fatal error will be included only in 2.4.1 version? This is  a critical error. Is any chance to include this fix into 2.4.0 version? Safe fix

[2020-07-27 19:12] hostep commented on #29279
@chequille: there are plenty of hosting companies in Europe (and I guess Germany as well), which can provide a server with the correct software dependencies for Magento 2.4.x

However, I agree that it was a mistake to make ElasticSearch required, because suddenly your server(s) need a lot more memory and costs can go up significantly. Also not all hosting companies are very familiar with ElasticSe

[2020-07-27 19:41] hostep opened #29297 "Refactor Magento_Indexer module so that the "indexer_reindex_all_invalid" cronjob and "bin/magento indexer:reindex" command use the same code"
### Summary (*)
This was discovered while working on https://github.com/magento/magento2/pull/29196

The cronjob `indexer_reindex_all_invalid` ([Magento\Indexer\Model\Processor::reindexAllInvalid](https://github.com/magento/magento2/blob/3008324fc7e90b01fd2b25be789aacaf950f6cde/app/code/Magento/Indexer/Model/Processor.php#L61)) and manually executing `bin/magento indexer:reindex {all-invalid-index

[2020-07-27 19:48] sdzhepa commented on #29215
Hello @stevekem
cc: @ajijshekh123

Based on issue description and attached recording it seems not a bug but configuration issue.
As we can see in the notification message "Message is added to queue". It means this mass-action processed not just after clicking Save button but the task was added to queue and will be processed by appropriate consumer.
So, server/machine with Magneto should have insta

[2020-07-27 19:58] sdzhepa commented on #27573
Checked on the latest `2.4-develop`

![2020-07-27_14-56-57](https://user-images.githubusercontent.com/3409584/88586144-a3dab280-d019-11ea-89b1-16f3c006bc80.jpg)

[2020-07-27 20:41] KooTjoo commented on #22313
Issue is still there. It really is unbelievable that this can't be solved indefinitely. Issue is there through versions for over 1 year now.

[2020-07-27 21:20] progreg opened #29299 "PHP build-in webserver readme cmd line installation command is outdated"
### Preconditions (*)

Since ElasticSearch is required from 2.4 version we need to update README for a build-in webserver.

There are missing ElasticSearch params that are required by default. Also, I'm also confused because copy-paste of installation command is not working, new line glue character should be added.

### Examples (*)
1. Missing ES params result:
https://prnt.sc/tpj4op

2. No glue c

[2020-07-27 22:48] giglsmith commented on #2380
This has still not been fixed? We can't use one page checkout in our business and don't want multi address shipping so what is the solution?

[2020-07-28 04:34] magento-engcom-team commented on #29277
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36210` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-28 06:13] ihor-sviziev commented on #27500
@zhartaunik do you have this issue on 2.4-develop branch?

[2020-07-28 06:20] nitish-ranjan05 commented on #24963
@magento give me 2.4-develop instance

[2020-07-28 06:20] magento-engcom-team commented on #24963
Hi @nitish-ranjan05. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-28 06:22] magento-engcom-team commented on #24963
Hi @nitish-ranjan05, here is your [Magento instance](https://i-24963-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24963-2-4-develop.instances.magento-community.engineering/admin_ceca](https://i-24963-2-4-develop.instances.magento-community.engineering/admin_ceca)
Login: `88f3977b` Password: `4ad41d64e3ce`
Instance will be terminated in up to 3 hours.

[2020-07-28 07:32] drpayyne opened #29302 "Input type of customizable option doesn't get returned through GraphQL"
### Preconditions

Github branches `magento2/2.4-develop` and `architecture/master`

### Steps to reproduce

The GraphQL type `SelectedCustomizableOption` is used in multiple places across the Magento GraphQL modules to get the currently selected customizable option of a product through GraphQL. There are various field types for this such as text, textarea, select, multiselect, checkbox, etc. Curr

[2020-07-28 07:38] davidandersson1 opened #29303 "Catalog Rule Product(catalogrule_rule) index taking much time with multi stores"
Hello,

We are using magento version 2.3.5 and we have around 400k products.

With main store, all indexers are working fine with good and expected time but after assigned all products to another store, "catalogrule_rule" index time dramatically increase and taken around 8 hours.

While if I remove all products from another store then it will taken 6 to 7 minutes only.

We have created only 5 cata

[2020-07-28 09:21] amenk commented on #24635
@Flyingmana I searched for GLOB_BRACE in the Magento 2.3.4 code and it is used many times, even at quite important places:
`\Magento\Framework\App\Utility\Files::getDiConfigs`

                Glob::glob($moduleDir . '/etc/{di,*/di}.xml', Glob::GLOB_BRACE)

I think that means Magento might not run properly at all on Alpine based PHP images?

So is the problem maybe bigger than expected?

[2020-07-28 09:52] engcom-Charlie commented on #5980
Hi @andidhouse, I'm not able to reproduce on the latest 2.4-develop with varnish cache by following steps:
1. Update _name_ or _price_ or _description_ or _short description_ or _stock status_ on the backend.
2. Go to PDP.

AR: All changes applied successfully.

[2020-07-28 09:54] duckchip commented on #22112
I tested the merged PR on 2.2.3 but it did not work unfortunately.

[2020-07-28 10:16] zhartaunik commented on #27500
Yes

[2020-07-28 10:54] devchris79 commented on #29279
I raised the ElasticSearch issue just over a year ago #22209 and just checked with our host (Siteground) and there are still no support plans.
With all the junkware that Magento has in the releases its surprising that there is an effort to remove the SQL search.

[2020-07-28 11:20] PascalBrouwers commented on #25862
Release notes says this is in 2.4. Is that correct?

[2020-07-28 11:22] francescorm opened #29304 "When creating a shipment or an Invoice, in different store view, payment information has been overwritten with default store view."
### Preconditions (*)
Magento 2.3.4

### Steps to reproduce (*)
1. Create 2 store view with different payment information on banktransfer
2. Place an order.
3. on order view, payment information are okey.
4. create a shipment or an invoice.
5. payment information change with the default store view.

### Expected result (*)

Payment information are associated with the store view

### Actual result

[2020-07-28 11:23] francescorm commented on #29304
@magento give me 2.4-develop instance

[2020-07-28 11:23] magento-engcom-team commented on #29304
Hi @francescorm. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-28 11:24] magento-engcom-team commented on #29304
Hi @francescorm, here is your [Magento instance](https://i-29304-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29304-2-4-develop.instances.magento-community.engineering/admin_c3de](https://i-29304-2-4-develop.instances.magento-community.engineering/admin_c3de)
Login: `45d3d73f` Password: `63e6309c8281`
Instance will be terminated in up to 3 hours.

[2020-07-28 12:41] magento-engcom-team commented on #29208
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36218` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-28 12:59] ihor-sviziev commented on #27500
@zhartaunik could you report separate issue for that? Thank you!

[2020-07-28 13:31] m2-assistant[bot] opened #29308 "[Issue] improve NonComposerComponentRegistration"
This issue is automatically created based on existing pull request: magento/magento2#28975: improve NonComposerComponentRegistration

---------
### Description (*)
Magento 2.4-develop
enable strict mode and added typeHint, this changes make execution of code more secure.
remove useless assignation `$main`.

### Expected behavior (*)

### Benefits

### Additional information
 Manual testing scenari

[2020-07-28 13:36] magento-engcom-team commented on #29308
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-36221` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-07-28 13:40] simon-murray commented on #23133
Whats the update here, has the fix been completed yet?

[2020-07-28 13:56] engcom-Delta commented on #29296
Hi @gilbertsohal , thank you for your report

The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-07-28 13:56] #29296 closed, assigned to engcom-Delta

[2020-07-28 13:57] mshifo commented on #15461
are there any updates ?

[2020-07-28 15:05] ledian-hymetllari commented on #27570
@VladimirZaets @nuzil what is the status of this ticket? :-) Do I need to add anything please?

[2020-07-28 15:18] pixiemediaweb commented on #18752
For those having this fun with a newly migrated database - check whether the database has a named definer which hasnt been created in your environment.  Causes this exact same symptom

[2020-07-28 17:27] CNanninga opened #29311 "Multiple and inaccurate backorder messages in admin"
A quirk of inventory quantity validation means that when creating an order for a backordered product in the admin, multiple backorder messages are shown, with incorrect quantities for one such message.

### Preconditions (*)

1. Magento 2.3.4

### Steps to reproduce (*)

1. Create a simple product with: A) A current inventory quantity of 0, B) Stock Status set to "In Stock," and C) Backorders set

[2020-07-28 17:30] CNanninga commented on #29311
@magento give me 2.4-develop instance

[2020-07-28 17:30] magento-engcom-team commented on #29311
Hi @CNanninga. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-07-28 17:32] magento-engcom-team commented on #29311
Hi @CNanninga, here is your [Magento instance](https://i-29311-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-29311-2-4-develop.instances.magento-community.engineering/admin_7a4f](https://i-29311-2-4-develop.instances.magento-community.engineering/admin_7a4f)
Login: `c078af48` Password: `108f190ab787`
Instance will be terminated in up to 3 hours.

[2020-07-28 17:42] CNanninga commented on #29311
@magento give me 2.3.5 instance

@magento give me 2.3.4 instance

[2020-07-28 17:42] magento-engcom-team commented on #29311
Hi @CNanninga. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-07-28 17:43] magento-engcom-team commented on #29311
Hi @CNanninga, here is your [Magento instance](https://i-29311-2-3-5.instances.magento-community.engineering).
Admin access: [https://i-29311-2-3-5.instances.magento-community.engineering/admin_da77](https://i-29311-2-3-5.instances.magento-community.engineering/admin_da77)
Login: `3af7a1a0` Password: `5254d2b27784`
Instance will be terminated in up to 3 hours.

[2020-07-28 17:47] CNanninga commented on #29311
@magento give me 2.3.4 instance

[2020-07-28 17:48] magento-engcom-team commented on #29311
Hi @CNanninga. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-07-28 17:49] magento-engcom-team commented on #29311
Hi @CNanninga, here is your [Magento instance](https://i-29311-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-29311-2-3-4.instances.magento-community.engineering/admin_cd39](https://i-29311-2-3-4.instances.magento-community.engineering/admin_cd39)
Login: `8ad85371` Password: `cd533abaa00d`
Instance will be terminated in up to 3 hours.

[2020-07-28 18:00] CNanninga commented on #29311
I was not able to reproduce this on the provided instance, even on 2.3.4, which is the version I first observed it on.

My local installation, while a completely vanilla install, I just realized happens to be an install of Commerce edition, not Open Source.  I can only conclude that a Commerce-only module is involved with the unique calls to `setQty` that manifest this issue.

This leaves me confl

[2020-07-28 18:20] chequille commented on #29060
THis is not solve in 2.3.5-p2
Owner of the issue, please re-open it.

[2020-07-28 18:39] VladimirZaets commented on #26850
**Action items to fix:**

- Verify that recalculated data is the same as the data from the index table ( collection )
- If data the same, refactor implementation to use data from the index (collection)
- If not, investigate the reason why data is different

**Action items to testing:**
- Test fix with all types of price