[2021-07-01 14:18] hostep opened #33399 "Provide a feature to mass-delete tax rates using the grid"
### Description (*)
It would be great if the tax rates grid had an option to mass-delete rates.

### Expected behavior (*)
So the same feature as the cms pages grid has for example: an option to select multiple rows of tax rates and having an action to delete them all together.

### Benefits
Saving tons of time.

Today I implemented the new EU tax system that started as of today, and I imported a

[2021-07-01 14:22] amenk commented on #33398
![ksnip_tmp_pvSBhD](https://user-images.githubusercontent.com/1087128/124140062-78154780-da88-11eb-867c-7cb5aeb164d8.png)
![ksnip_tmp_gvlRpR](https://user-images.githubusercontent.com/1087128/124140072-79df0b00-da88-11eb-89a8-88212cdb70ff.png)
![ksnip_tmp_JXoLEQ](https://user-images.githubusercontent.com/1087128/124140084-7c416500-da88-11eb-96f0-0c543ea09478.png)
![ksnip_tmp_RbDkPx](https://user-i

[2021-07-01 15:28] chslava commented on #31007
Hi! Got the same issue. In my case, the CMS page had a URL key identical to the 'frontName' specified in the modules routes.xml file. So, I think that the validation works correctly and the URL key should be changed.

[2021-07-01 15:50] hoanglan87 commented on #7769
any idea why the issue still in 2.4 version?

[2021-07-01 16:34] magento-engcom-team commented on #33394
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42772` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-01 16:42] riconeitzel opened #33400 "signifyd table used in sales-archive di.xml, but module is not required"
### Preconditions (*)

Magento Commerce Edition, 2.3 and 2.4

To prevent the installation of not required modules we used composer's "replace" feature to strip out unnecessary core modules from the magento meta package. This should improve performance as not required functionality is not even installed.

[code]

### Steps to reproduce (*)

1. Install magento with the composer.json addition above
2

[2021-07-01 16:47] magento-engcom-team commented on #32977
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42773` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-01 16:51] sdzhepa commented on #33099
@engcom-Echo

Please update/edit description with information from your comment https://github.com/magento/magento2/issues/33099#issuecomment-863073318

cc @gabrieldagama

[2021-07-01 16:53] m2-assistant[bot] opened #33401 "[Issue] UPS - Fix Shipper's AddressLine1 for return label"
This issue is automatically created based on existing pull request: magento/magento2#33396: UPS - Fix Shipper's AddressLine1 for return label

---------
### Description (*)
In case of a return label generation with UPS, the XML node `Shipper->Address->AddressLine1` is currently using the "recipient address street" which is a concatenation of the address street 1 & 2. It can cause a lot of problem

[2021-07-01 16:58] anzin commented on #33300
@magento I am working on this

[2021-07-01 16:59] sdzhepa commented on #33357
@engcom-Delta
Could you please recheck this issue according to https://github.com/magento/magento2/issues/33357#issuecomment-869663893
also you can switch to the French locale as described in the description

[2021-07-01 17:11] magento-engcom-team commented on #33399
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42774` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-01 18:51] dazz397 commented on #33062
I am having this same issue after upgrading from 2.3.5-p2 to 2.4.2-p1. I checked my eav_attribute table and removed anything the upgrade added and nothing changed. Please let me know if you have any updates.

[2021-07-02 04:38] magento-engcom-team commented on #33398
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42778` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-02 05:03] VikasSingh1694 commented on #33389
Hi @engcom-Hotel, I have tried those steps already, but that didn't work for me.
I have also checked the related database table, there is also no entry related this.

[2021-07-02 05:10] m2-assistant[bot] opened #33403 "[Issue] 33044 Fixed displaying of the custom option value in admin in order view"
This issue is automatically created based on existing pull request: magento/magento2#33392: 33044 Fixed displaying of the custom option value in admin in order view

---------

### Description (*)

I determined that the code responsible for displaying the full text of the field works correctly, the problem was changing the overall dimensions of the "Items Ordered" table header, which causes the fi

[2021-07-02 05:13] shikhamis11 commented on #33403
@magento give me 2.4-develop instance

[2021-07-02 05:37] magento-engcom-team commented on #33403
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42780` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-02 05:40] amenk commented on #33398
Thanks for confirming. Isn't that technically a Severity: S1 ? It affects critcial data (showing products in the catalog seems critical for a shop), while there is a workaround.

[2021-07-02 06:31] m2-assistant[bot] opened #33404 "[Issue] [ReadMe] updated readMe file for NewRelicReporting-OfflineShipping modules"
This issue is automatically created based on existing pull request: magento/magento2#31969: [ReadMe] updated readMe file for NewRelicReporting-OfflineShipping modules

---------
### Description (*)
Update README.md file for modules:
- Magento_NewRelicReporting
- Magento_Newsletter
- Magento_NewsletterGraphQl
- Magento_OfflinePayments
- Magento_OfflineShipping

### Fixed Issues (if relevant)

1. Fi

[2021-07-02 07:48] mysil2 commented on #31117
@chequille I applied a before plugin to GetAllowProducts function in Configurable class (/vendor/magento/module-configurable-product/Block/Product/View/Type/Configurable.php) that I think will solve your issue. Although this doesn't fix the visibility in categories and out of stock status of the product etc.
[code]

[2021-07-02 08:44] enikov commented on #31270
Reproduced on v2.4.2

Any update?

[2021-07-02 08:44] ihor-sviziev commented on #2703
@gabrieldagama @sivaschenko @sdzhepa, please add this issue to the triage meeting. Looks pretty important to fix.

[2021-07-02 08:46] jBOKA commented on #2703
This whole thread is a joke. I was part of it years ago, still going

Ihor Sviziev ***@***.***> schrieb am Fr., 2. Juli 2021, 10:44:

[2021-07-02 08:48] engcom-Hotel commented on #32754
Hello @vrielsa,

It seems that your issue has been resolved by disable locking in Redis. And also we have not received any update from your side from past 14 days, so we are closing this issue for now.

If you still facing any issue, either you can reopen this ticket or create new ticket.

Thanks

[2021-07-02 08:55] magento-engcom-team commented on #33393
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42782` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-02 09:12] engcom-Delta commented on #33042
Hi @tuyennn,

We tried to reproduce the issue but we are not getting the error , it works as expected.

![time_set_to_1](https://user-images.githubusercontent.com/51681379/124251198-46ad8200-db43-11eb-86a7-cc36facf2008.jpg)
![time_set_to_2](https://user-images.githubusercontent.com/51681379/124251227-4f05bd00-db43-11eb-97de-fe9a1bb65b29.jpg)
![Screenshot_1_switch_STORE](https://user-images.githubu

[2021-07-02 09:58] kamal02mittal commented on #29884
In Magento2.4.2 it is allowed by default. There is no code to check if the 2FA is enabled or not.
To correct this I have done some changes and these are working for me.

1. Magento\TwoFactorAuth\Observer\ControllerActionPredispatch.php

2. Magento\TwoFactorAuth\Model\Tfa.php

3. Added const XML_PATH_ENABLED = 'twofactorauth/general/enabled'; in file vendor\magento\module-two-factor-auth\Api\TfaInt

[2021-07-02 10:15] mushketer888 commented on #33237
Hi @engcom-Delta
The step 2 is just to create credit memo for order which has discount on all items and shipping with amount of 100% but with less product's quantity that order/invoice has

For example:
order 2 same products (qty=2) with discount of 100% (with shipping discount of 100% too)
create creditmemo but refund only 1 product
then try to create one more (second) creditmemo to refund lastin

[2021-07-02 10:28] engcom-Hotel commented on #33240
Hi @ia-gaurav,

It seems that your issue has been resolved. We have not received your reply since more than 14 days, we are closing this issue for now.

If you still having this issue, you can reopen the ticket or create a new ticket.

Thanks

[2021-07-02 10:28] #33240 closed, assigned to engcom-Echo, engcom-Hotel

[2021-07-02 10:31] engcom-Hotel commented on #32779
Hi @Daymonmoss,

It seems that your issue has been resolved. We have not received your reply since 14 days, we are closing this issue for now.

If you still having this issue, you can reopen the ticket or create a new ticket.

Thanks

[2021-07-02 10:31] #32779 closed, assigned to engcom-Echo, engcom-Hotel

[2021-07-02 11:00] #32870 closed, assigned to texboy

[2021-07-02 11:06] sabareesh-warlock commented on #32703
@Mecalux-Developer  Did you find any solution for this problem

[2021-07-02 11:16] #32822 closed, assigned to basvanpoppel

[2021-07-02 11:18] freakpol commented on #32703
Actually, solution proposed here https://github.com/magento/magento2/issues/30514 is doing well.
At least as a workaround until magento fixes the issue officially.

[2021-07-02 11:29] engcom-Delta commented on #33387
Hi @rohan-magento ,
We tried to reproduce the issue and found it is reproducible on Magento 2.4 Develop.
query results are more than 4 categories in aggregation result.
Kindly find the attached snapshots for reference.
![4_catagories in UI](https://user-images.githubusercontent.com/51681379/124268179-d27cd980-db56-11eb-8161-c781fb9ee92b.jpg)

Query Response Results:
{
  "data": {
    "products": {

[2021-07-02 11:30] magento-engcom-team commented on #33387
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-02 11:31] magento-engcom-team commented on #33387
@engcom-Delta Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-02 11:31] magento-engcom-team commented on #33387
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-02 11:31] magento-engcom-team commented on #33387
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-02 11:32] magento-engcom-team commented on #33387
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42783` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-02 11:33] #33209 closed, assigned to drpayyne

[2021-07-02 11:33] sivaschenko commented on #33209
The decision was made to help laminas to release PHP 8.1 compatible version earlier instead of eliminating the package

[2021-07-02 11:38] engcom-Delta commented on #32452
Hi @AlldoGroup,

There has no update from reporter since ~ 14 days. hence closing the ticket.
Kindly log new ticket if required or re-open the existing issue.

Thanks

[2021-07-02 11:38] #32452 closed, assigned to engcom-Alfa

[2021-07-02 11:43] engcom-Hotel commented on #33274
Hi @iamcoolbuddy,

We need more information in order to get this issue reproduce at our end. So please provide us more details as below:
1. Reported on Magento version
2. Component name
3. Preconditions
4. Steps to reproduce
5. Expected result
6. Actual result

Thanks

[2021-07-02 11:44] engcom-Delta commented on #33201
Hi @kcam6690,

As per latest comments it works as expected. moreover, there has no update from 14 days .Hence closing the ticket.
Kindly log a new issue if required or re-open the existing issue.
Thanks

[2021-07-02 11:44] #33201 closed, assigned to engcom-Alfa

[2021-07-02 12:03] engcom-Hotel commented on #33352
Hi @Barakur,

We have tried to reproduce this issue in Magento 2.4.2-p1 branch. It seems that tax calculation is working fine. We have tried it with adding cart rule with 3% discount as specified in the screenshot. Please find below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/124271799-8718fa00-db5b-11eb-83cb-bb4a5d6706df.png)

The tax is calculated after

[2021-07-02 12:20] engcom-Hotel commented on #33268
Hi @JithinJay,

We have tried to reproduce the issue in Magento 2.4.2-p1, but unable to reproduce this. We have tried below steps:

1. We generated the north America merchant account on Klarna.
2. Tried one checkout using:  Us, California, san Francisco, 94016. But we are not getting any error related with region code. Please find below screenshot for the reference, where regioncode is defined as

[2021-07-02 12:32] Leland commented on #30613
I frankly don't see an easy resolution to this problem. This looks like something that would require a re-architecture of the JS loading system that M2 employs – and I'm not sure Adobe has the appetite to both take on PWA and this at the same time. Perhaps I'm just pessimistic ;)

For what it's worth, it's kind of always been like this.

Alas, Magepack appears to be abandoned at this point. It has

[2021-07-02 12:41] zarnar opened #33405 "Order retry mechanisum issue"
Hi,

Right now we are facing problem that sometimes we take payment from paypal or braintree but order do not place because we take first payment and then place order but in case when pla

cing order if we face problem like table get locked or due to any error order get not placed then we need to retry order placing functions and mechanism. We need to try max 3 times to place an order. I will expl

[2021-07-02 12:48] sufyaniksula2 commented on #30029
Is there a good workaround if we want to load quotes in plugin. I am using an after plugin for `Magento\Shipping\Model\Rate\Result::getAllRates()` and need to load quote there.

@michael1986 solution of event observer is working for me but I would like to know if there is a better workaround just in case.

[2021-07-02 14:16] engcom-Charlie commented on #33404
Closing this issue since its duplicate of https://github.com/magento/devdocs/issues/4451

[2021-07-02 14:16] #33404 closed, assigned to nobody

[2021-07-02 14:27] usuyukiso opened #33408 "Notice: Undefined index: label in magento/module-catalog-search/Model/Advanced.php on line 414"
### Preconditions (*)
1. Magento version 2.4.2,
2. No sample data.
2. Navigate to admin
2. Go to admin > Stores > Attributes> Product
3. Choose any select attribute (E.g. manufacturer)
4. Go to Properties > Manage Options (Values of Your Attribute)
5. Check that at least one option is added, or add one option (if the attribute has no values, the issue is not reproduced).
6. Save the attribute.

##

[2021-07-02 15:59] Nuranto commented on #19710
Hello,

I reproduce it too on 2.4.2.

I will try to PR a fix.

[2021-07-02 16:11] 06romix opened #33412 "Avoid extending actions from \Magento\Framework\App\Action\Action cause X-Magento-Vary cookie problem"
### Summary
It is not possible to use `\Magento\Framework\App\ActionInterface` without `\Magento\Framework\App\Action\AbstractAction` because plugins for filling HTTP Context bound to `\Magento\Framework\App\Action\AbstractAction::dispatch` instaed of `\Magento\Store\App\Action\Plugin\Context::beforeDispatch`

### Preconditions (*)
1. Discovered on Magento 2.4.1
2. Have two or more currency

### S

[2021-07-02 19:31] #33307 closed, assigned to anzin

[2021-07-03 01:47] fvlasie commented on #32573
+1  Being able to duplicate the associated simple products with the configurable product would save massive amounts of time, I hope this can be fixed soon.

[2021-07-03 02:01] mrtuvn commented on #33412
Not sure but you want to say following magento best practices will lead to another problem ?

[2021-07-03 06:01] vinay-kapoor-hu commented on #18484
@magento-engcom-team, can you please provide us with the patch for this or if it exists can you please share the path to it.

[2021-07-03 09:30] andreif23 commented on #6817
@magento give me 2.4-develop instance

[2021-07-03 11:55] majidiyan opened #33415 "Error messages are not displayed in the login page."
### Preconditions (*)

1. 2.3.6-p1
2. 2.3.7

### Steps to reproduce (*)

1. Go to customer login page.
2. Try to login with true email, and wrong password.

### Expected result (*)

Displaying error message box with a message like "The account sign-in was incorrect or your account is disabled temporarily. Please wait and try again later." .

### Actual result (*)

No message box is displaying.

--

[2021-07-03 13:33] mrtuvn commented on #33323
https://github.com/vpietri/magento2-developer-quickdevbar
Used this one for quick check. Default feature from magento seem not enough for developer

[2021-07-03 13:59] mrtuvn commented on #33319
![Screenshot from 2021-07-03 20-58-11](https://user-images.githubusercontent.com/1908873/124356675-66c36b00-dc41-11eb-8d30-62bc335354ac.png)
Tested in latest codebase with sampledata + 2 locale setup. As you can see magento deploy all languages that i have
I have install second locale (DE) at app/i18n/Mageplaza/de_DE

[2021-07-03 15:59] bohdan-harniuk commented on #33305
@magento I am working on this

[2021-07-03 22:06] chequille commented on #31117
@mysil2
Hi Thomas, thanks for this. Nice solution, I made the plugin and it is working
![grafik](https://user-images.githubusercontent.com/15807794/124367857-456f7880-dc5b-11eb-80c4-703753c6092d.png)
Only thing I would like to have are the crossed out swatches. Your solution does only show the swatches which are salable.
Any idea to change this?
Best regards,
Chequille

[2021-07-04 03:18] krishprakash commented on #33415
@magento give me 2.4-develop instance

[2021-07-04 03:44] krishprakash commented on #33415
Hi @majidiyan. Thank you for your report.
Not able to replicate the issue as per your description.
Can you please provide additional steps in which this issue occurred and also kindly verify in latest magento instance

[2021-07-04 16:29] ksvikas commented on #33371
@krishprakash , Can you suggest me the solution for this?

[2021-07-04 18:19] adam-webee commented on #31976
Sorry for the late answer. I don't get it. Point number 3 in my issue description is: `Debug Magento\Framework\Validator\StringLength constructor arguments - nothing has been provided.`. You want me to include screens from debugging?

To verify it - just run the code I provided in the description. Add a breakpoint inside the constructor for `Magento\Framework\Validator\StringLength` and you will s

[2021-07-04 18:20] adam-webee commented on #31976
Please reopen it is as it is still a valid one.

[2021-07-04 18:49] bohdan-harniuk commented on #33303
@magento I am working on this

[2021-07-04 18:53] bohdan-harniuk commented on #33309
@magento I am working on this

[2021-07-05 02:31] mrtuvn commented on #32847
Seem outdated library! Should we keep bring this one or remove it from codebase

[2021-07-05 02:59] mrtuvn opened #33416 "Migrate old plugin jQuery-Storage-API"
https://github.com/magento/magento2/blob/2.4-develop/lib/web/jquery/jquery.storageapi.min.js

This plugin is no longer maintained (Announcements from origin repo author)

A new one but not latest, without dependencies with jQuery, is available : https://github.com/julien-maurel/js-storage (but seem not active currently)

Should we consider upgrade to js-storage or use something new lib or maybe ne

[2021-07-05 03:21] tuyennn commented on #33042
@engcom-Delta Of course you cannot replicate it on regular conditions.
I mentioned
**In specific condition the response time of the site could be more than 5s on load(API on load, or slow connection)**

[2021-07-05 04:46] mrtuvn commented on #33416
cc: @sivaschenko not too much high priority but i think we should note this

[2021-07-05 05:36] Barakur commented on #33352
Yes, rounding the tax shouldn't happen. Some more screenshots for reference (from the same order, all items in the order as well as the summary):

![Magento_tax_calculation_bug2](https://user-images.githubusercontent.com/35734421/124422108-104e4d80-dd63-11eb-851d-e732bb8804c3.jpg)
![Magento_tax_calculation_bug3](https://user-images.githubusercontent.com/35734421/124422113-12b0a780-dd63-11eb-93c7-7

[2021-07-05 05:47] engcom-Delta commented on #33275
There has no update , it is been more than 14 days , Hence closing the defect.
Kindly request to log new issue if required or re-open the existing issue.

Thanks

[2021-07-05 05:47] #33275 closed, assigned to engcom-Delta

[2021-07-05 06:00] ihor-sviziev commented on #33416
@mrtuvn, this storage API library has too many issues. It was causing https://github.com/magento/magento2/issues/7931 https://github.com/magento/magento2/issues/16568 https://github.com/magento/magento2/issues/17195 https://github.com/magento/magento2/issues/27355.
The library you're suggesting had its last release in 2017, which is pretty old and feels not supported.

I think in most cases, we co

[2021-07-05 06:02] rimmeh commented on #33323
thanks mrtuvn, its a nice plugin, but it does not show xml block names too

[2021-07-05 06:40] Prasannastha commented on #33343
Hello @engcom-Delta

1. Please create multiple websites, stores, and storeview as shown below.
![image](https://user-images.githubusercontent.com/69232506/124427213-d09b5c00-dd8a-11eb-9171-2f70a4089e10.png)

2. Configure the Allow Countries list as shown below for a store eg. France
![image](https://user-images.githubusercontent.com/69232506/124427597-50c1c180-dd8b-11eb-824e-8e1272a1dcb0.png)

3.

[2021-07-05 06:46] m2-assistant[bot] opened #33417 "[Issue] Vimeo video play issue after clicking play icon"
This issue is automatically created based on existing pull request: magento/magento2#33407: Vimeo video play issue after clicking play icon

---------

### Description (*)

Vimeo video does't play video after clicking play button on video thumbnail of product page. Instead it shows another play icon in iframe.
 It needs 3 clicks to play a vimeo video.
1 - Click on Video icon on left panel.
2 - Cli

[2021-07-05 07:16] rahulbarotk opened #33418 "Reorder issue with product custom option error "The product has required options. Enter the options and try again." on cart Page"
**Preconditions (*)**

Magento 2.4.2 EE
Reordering an order with products that have required custom options as checkbox type.

**Steps to reproduce (*)**

Install and Setup Fresh Magento 2.4.2
Create a product with required custom option with input type as checkbox
Add this product to cart by checking the checkbox and place an order with any payment method.
Now click reorder link of the same order

[2021-07-05 07:17] DevAwesomeK commented on #33418
@magento give me 2.4-develop instance

[2021-07-05 07:35] DevAwesomeK commented on #33418
Issue is not reproducible on 2.4-develop instance but it is still there on 2.4.2 EE.

[2021-07-05 07:54] anzin commented on #33309
@magento I am working on this

[2021-07-05 08:31] engcom-Hotel commented on #31888
Hello @Ckaneriya,

We have tried to reproduce the issue, with upgrading Magento from 2.3.1 to 2.3.6, using this [devdocs link](https://devdocs.magento.com/guides/v2.4/comp-mgr/cli/cli-upgrade.html), but unable to reproduce the issue. Please find below screenshot for reference:

1. Before Upgrade:

![Before-Default-Category-ID-2-Categories-Inventory-Catalog-Magento-Admin](https://user-images.github

[2021-07-05 08:49] engcom-Delta commented on #33270
Hi @MarianNapi,

Thanks for quick turnaround.
![Default_configurations_set for country](https://user-images.githubusercontent.com/51681379/124443971-c897e800-dd9b-11eb-9572-a4860b4a9da2.jpg)
![Delete_config_Prod](https://user-images.githubusercontent.com/51681379/124444016-d0f02300-dd9b-11eb-9723-82d9459ba2cd.jpg)
![Remove_Product1](https://user-images.githubusercontent.com/51681379/124444137-ee24

[2021-07-05 08:52] engcom-November commented on #33365
Verified the issue on 2.4-develop Magento version and the issue is not reproducible on original Luma Theme as well:
**Steps performed:**
1. Front-end - Typed a term into Search bar
2. Clicked on the Search bar
**No Issue:** Search Result page shows correct thumbnails - > Actual Product images are displayed but not Placeholder images
![image](https://user-images.githubusercontent.com/60198231/12444

[2021-07-05 09:48] engcom-November commented on #33323
@DanielRuf

I tried verifying when the system.xml was last modified and who the author of the modifications was and found the Github commit with changes: Removed "Add Block Names to Hints" and added  "Add Block Class Type to Hints" with reason: Renamed config setting to represent what it actually does:
"This config name is notoriously misleading as it does not show the block name at all, instead i

[2021-07-05 10:20] DanielRuf commented on #33323
Ok, thanks for the information and the link to the commit with the changes. So it seems the docs are outdated and have to be accordingly updated.

I was pretty sure that in 2017 or earlier we had the option to show the block names and there were also block names shown. The logic was maybe changed and the option not renamed.

[2021-07-05 10:30] rockgold22 commented on #30437
Hi @DevAwesomeK The same is in community edition, I am working on version 2.4 and facing the same issue as in Enterprise Edition. Is it resolved and rolled out with patch?

Kindly let me know ?

[2021-07-05 10:33] DevAwesomeK commented on #30437
@rockgold22 It is not resolved yet.

[2021-07-05 10:43] waseemids commented on #30437
@DevAwesomeK if still, you have to face any issues so please follow the above steps. I hope it will be resolved.

https://github.com/magento/magento2/issues/30437#issuecomment-707721920

[2021-07-05 10:50] DevAwesomeK commented on #30437
@waseemids  Above code is already there in 2.4.2 EE. But still the issue persist.

[2021-07-05 11:03] engcom-Hotel commented on #33319
Hello @marvincaspar,

We have tried to reproduce this issue with Magento 2.4-develop branch. After following your mentioned steps, we are unable to reproduce the issue. We have followed below steps:
1. Setup fresh Magento 2.4-develop.
2. Create 2 stores + 1 store view for each stores.
3. Set locale as mentioned in the ticket description.
4. Create a config dump
5. Run bin/magento setup:static-cont

[2021-07-05 12:02] karyna-tsymbal-atwix commented on #32842
@magento I am working on this

[2021-07-05 12:10] kamal02mittal commented on #27908
I am facing the same issue after upgrading to Magento2.4.2-p1. I did some analysis on this and got the reason for this error.
Actually, Magento installed some new modules like Magento_TestModuleAsyncAmqp, Magento_TestModuleExtensionAttributes etc.
When you go to file

you will see

    /**
         * test incorrect return type
         *
         * **@return int**
         */
        public functi

[2021-07-05 12:15] engcom-Hotel commented on #30653
Hi @ericmorand,

I have tried to reproduce the issue in Magento 2.4-develop. And it seems that there is a risk of violation of the principles of SoC. Any third party module/library can add a class in body tag using this function, which has risks in current theme.

I am confirming this issue and updating the "Steps to reproduce" in the main description. Let us know if we have missed anything in tha

[2021-07-05 12:18] thomasheller opened #33422 "Excel writer produces invalid files for numbers preceded by spaces"
### Preconditions (*)
Encountered in production with Magento 2.4.1, but this will happen with any Magento2 version, since the code hasn't changed in 7 years.

### Steps to reproduce (*)
1. Create an instance of `Magento\Framework\Convert\Excel` with an `ArrayIterator` over an array containing a field with a value like `␣123` (i.e. space followed by digits, read `␣` as space).
2. Call `convert` or

[2021-07-05 13:05] engcom-Delta commented on #33417
Hi,

I tried to reproduce the issue on Magento 2.4 Develop, able to play the video .Please find attached snapshot for reference.
Kindly let us know if any specific scenario this happens. Hence added label 'Needs update
![vimeo_video](https://user-images.githubusercontent.com/51681379/124475770-b891ff80-ddbf-11eb-8e22-0ca03142f717.jpg)
'

[2021-07-05 13:21] majidiyan commented on #33415
Hello krishprakash !
In latest Magento version all is ok (2.4), but I need to fix this bug on 2.3.6-p1 and 2.3.7.
Steps to bug is easy, simply go to customer login page  site.com/customer/account/login  and try to login with wrong password.
Expected to get pink box error message, but nothing is showing.

[2021-07-05 13:34] khrystynastolbova commented on #33318
Hi @oneserv-heuser.
I tested, and Magento really ignores the settings in the backend of the "price" field, but I have no problems with other attributes.

The settings for the "price", "visibility", "category_ids" fields are specifically ignored (in file CatalogGraphQl/Plugin/Search/Request/ConfigReader.php)
[code]

The price is added separately in the file CatalogGraphQl/etc/graphql/di.xml
[code]

[2021-07-05 13:50] oneserv-heuser commented on #33318
@khrystynastolbova You're right, it only affects those attributes. I tried it again and my custom attributes are not returned. Maybe that was something cache related back then.

[2021-07-05 13:54] zakdma commented on #33422
@magento give me 2.4-develop instance

[2021-07-05 14:16] saxenapritesh commented on #28996
@gwharton Please confirm If is it working on Magento ver. 2.4.2-p1 because i have done all changes in same file as provided in here  https://github.com/magento/magento2/commit/68d20230ca9d6198fa3093eb174e24aff47b1646?branch=68d20230ca9d6198fa3093eb174e24aff47b1646&diff=unified but still the issue is not resolved.

[2021-07-05 14:51] engcom-November commented on #33333
@JKair, I verified the issue on Magento version 2.4 and the issue is not reproducible to me.
**Steps performed:**
1. Configured PayPal Express Checkout Payment method from Admin (Stores -> Configuration -> Sales - > Payment Methods - PayPal Express Checkout)
2. Navigate to Front-end - Add a product to cart - Checkout
3. Make Payment using PayPal Express Checkout - **No issue - Order status is Proc

[2021-07-05 17:32] WilliejanB commented on #33263
Any news or progress for this issue?

[2021-07-05 18:20] m2-assistant[bot] opened #33424 "[Issue] validate-rating is not working, selector of review rating is changed"
This issue is automatically created based on existing pull request: magento/magento2#33423: validate-rating is not working, selector of review rating is changed

---------
validate-rating is not working, selector of review rating is changed

### Description (*)

### Related Pull Requests

### Manual testing scenarios (*)

1. ... create review from backend
2. ... dont select rating
3. ... Click Sav

[2021-07-06 04:37] krishprakash commented on #33415
Hi @majidiyan.Thank you for your feedback.
We are not processed the issue which is not reproduced on latest instance.
So kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com) for general discuss about this problem

[2021-07-06 04:37] #33415 closed, assigned to krishprakash

[2021-07-06 06:05] m-kawachi commented on #32996
Hi magento engcom team, I heard Paras could reproduced this on 2.3.7. So, please add Reproduced on 2.3.7 label and move forward. This is simple problem and he already have this solution. Thanks .

CC @paras89

[2021-07-06 06:10] engcom-Alfa commented on #32631
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-07-06 06:10] #32631 closed, assigned to engcom-Alfa

[2021-07-06 06:14] engcom-November commented on #33408
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
**Steps to reproduce:**
1. Navigate to admin -> Stores > Attributes> Product
2. Choose any select attribute (E.g. manufacturer)
3. Go to Properties > Manage Options (Values of Your Attribute)
4. Check that at least one option is added, or add one option (if the attribute has no values, the issue is not reproduced).
5.

[2021-07-06 06:15] engcom-Alfa commented on #22094
Hi @iphigenie
As per you reply, I understood that you have got the issue resolved. Kindly give more information in case if you are facing issue still.
Thanks for your contribution here.

[2021-07-06 06:15] engcom-Alfa commented on #25209
As there is no response to my last comment in last ~14 days, closing this current issue.

Kindly upgrade to the latest version to re test. In case of any Magento related issues, you may please report a new bug with all the information like Preconditions, detailed steps to reproduce, expected and actual Results along with screenshots/ screen recordings possibly.

For any Magento related references,

[2021-07-06 06:15] #25209 closed, assigned to engcom-Alfa

[2021-07-06 07:02] engcom-Hotel commented on #33263
Hello @WilliejanB,

We have tried to reproduce this issue on Magento 2.4-develop. And it seems that issue is reproducible. We have followed below steps in order to reproduce the issue:
1. Created a customisable product as per the Issue description (Referred the customer’s product link):

![image](https://user-images.githubusercontent.com/51681618/124556481-f3467700-de55-11eb-915f-91f6e808f474.png)

[2021-07-06 07:10] WilliejanB commented on #33263
@engcom-Hotel, Thank you so much for the confirmation and your effort to help. I hope a fix can be found as soon as possible.
Best regards,
Williejan

[2021-07-06 07:16] engcom-Hotel commented on #29357
Hello @bluedarter2,

We are unable to hear from you since past 14 days. So we are closing this issue for now. If you still facing this issue either you can reopen this ticket or create new ticket.

Thanks

[2021-07-06 07:16] #29357 closed, assigned to engcom-Hotel

[2021-07-06 07:18] engcom-Hotel commented on #32607
Hi @julien410gone,

We are unable to hear from you since past 14 days. So we are closing this issue for now. If you still facing this issue either you can reopen this or create new ticket.

Thanks

[2021-07-06 07:18] #32607 closed, assigned to engcom-Hotel

[2021-07-06 07:40] engcom-Hotel commented on #33352
Hi @Barakur,

We are confirming this issue for rounding off the tax, and functionality of tax calculation is working fine. And also we are updating the main issue description because tax calculation is working fine.

Thanks

[2021-07-06 08:53] 06romix commented on #33412
Although dispatching events were moved from `\Magento\Framework\App\Action\AbstractAction,` plugins are still there.
So, yes, following this particular Magento best practice will lead to the cache problem.

[2021-07-06 09:02] engcom-Delta commented on #33400
Hi @riconeitzel,
Actual result is not understandable , Request to provide clear steps to get actual results.Hence added label 'Needs Update'

Thanks

[2021-07-06 09:09] mrtuvn commented on #33412
Not sure how impact but in my opinion we should move to `Magento\Framework\App\ActionInterface`

[2021-07-06 09:22] 06romix commented on #33412
One more plugin for `\Magento\Framework\App\Action\AbstractAction::dispatch`

`\Magento\Catalog\Plugin\Framework\App\Action\ContextPlugin `

[2021-07-06 09:28] engcom-November commented on #33315
@nickbigassfans,
We are closing this ticket as there has been no latest update on the same.
Thank you.

[2021-07-06 09:28] DevAwesomeK commented on #30437
I've found that this issue reproduces when we install magento commerce B2B modules.

[2021-07-06 09:28] #33315 closed, assigned to engcom-November

[2021-07-06 09:30] anzin commented on #32854
@magento I am working on this

[2021-07-06 09:49] riconeitzel commented on #33400
@engcom-Delta What exactly is not understandable?

The cause of the issue is:

In the di.xml of the salesarchive module is a hardcoded reference to the sygnifyd_case table … but that table doesn't exists as the module was never installed. This kind of hard dependency breaks the pluggability of modules.

[2021-07-06 10:22] sivaschenko commented on #33416
@fascinosum

[2021-07-06 11:17] JKair commented on #33333
I try to reproduce in test server, can't reproduce too, but it does not work in my production environment.
@engcom-November
Does magento only review the amount of order fraud？

[2021-07-06 11:59] alexmtch opened #33425 "Update quote item qty require qty stock to be at least 2"
### Preconditions (*)

1. Magento 2.3.6

### Steps to reproduce (*)

1. Create a product
2. Set the stock quantity of 1
3. Add a customizable option required with no price (ex : size L/M/S)
3. Put the product into the cart
4. Change the selected option

### Expected result (*)

1. The product option should be updated

### Actual result (*)

1. An error "The requested qty is not available." appear

[2021-07-06 12:04] Scarbous commented on #30293
In Mageneto 2.4.2-p1
I fixed it this way:
[code]

[2021-07-06 12:40] lexiconnect opened #33426 "Currency conversion not happening on email confirmations for bundle products."
**Preconditions (*)**
Magento 2.4.2
**Steps to reproduce (*)**
Set up currencies (ie, GBP and EUR)
Create a bundle product
Place an order for that product in anything other than the default currency

**Expected result (*)**
Price for the line item on the email confirmation should be converted to the correct currency.

**Actual result (*)**
Default price is shown, but with the correct currency symb

[2021-07-06 12:56] insaurabh commented on #28996
Not working on Magento ver `2.4.2-p1`

[2021-07-06 13:33] chaikivskyi opened #33428 "Category theme is not applied to product"
### Preconditions (*)
1. Magento 2.4

### Steps to reproduce (*)
1. Configure a separate theme for the category on the category edit page in admin panel
2. Enable " Apply Design to Products"
3. Go to the product page

### Expected result (*)

1. Product use the same theme as a category

### Actual result (*)

1. Product use default theme

---

- [ ] Severity: **S2** _- Affects non-critical data or

[2021-07-06 13:34] chaikivskyi commented on #33428
@magento I am working on this

[2021-07-06 13:50] alexmtch commented on #33425
May it be a possible dupplicate of https://github.com/magento/magento2/issues/18812 but my workaround may be interesting to integrate in this issue

[2021-07-06 13:53] deepakwsofi commented on #28996
Hello insaurabh
i have done thi Job Magento ver 2.4.2 so please share your login Detail info@webgodam.com i will check.

[2021-07-06 13:54] deepakwsofi commented on #28996
yes working

[2021-07-06 14:17] timxsarus commented on #26052
I don't have the opportunity to upgrade to  2.4.3, could you give me the link to the commit that fixed it? So maybe I can create my own patch until then.

[2021-07-06 14:20] engcom-November commented on #32468
Verified the issue on Magento 2.4-develop branch and the issue is reproducible.
Steps performed:
1. Admin -> Setup EU(Germany) Store: [Ref link](https://devdocs.magento.com/guides/v2.4/config-guide/multi-site/ms_websites.html)
2. Admin -> Stores -> Configuration -> Sales -> Tax ->
Tax Class for Shipping set to "Taxable Goods"
Set "Catalog Prices","Shipping Prices", "Apply Discount on Prices" to "I

[2021-07-06 14:32] AntonEvers opened #33430 "phpmd runs into errors"
### Preconditions (*)

1. Install Magento as 2.4-develop

### Steps to reproduce (*)

2. run `vendor/bin/phpmd app/code ansi dev/tests/static/testsuite/Magento/Test/Php/_files/phpmd/ruleset.xml`

### Expected result (*)

1. Maybe some violations, hopefully no mess
2.

### Actual result (*)

Several exceptions, a selection of the output:

[code]

---
Please provide [Severity](https://devdocs.magent

[2021-07-06 15:06] DavaGordon commented on #33101
I can confirm that the fix for this is to update the config.xml for Magento_Csp i overwrite config in a custom module which seem to resolve the issue

[code]

[2021-07-06 15:12] AntonEvers commented on #33430
One of the issues was reported in https://github.com/pdepend/pdepend/pull/476 and is fixed in https://github.com/pdepend/pdepend/pull/476.

That is the one causing:
[code]

[2021-07-06 15:13] mrtuvn commented on #33428
i can't reproduce problem like description
Tested with my own local instance (latest code 2.4-develop)
![Screenshot from 2021-07-06 22-12-35](https://user-images.githubusercontent.com/1908873/124624688-4b599980-dea7-11eb-9917-83eb7df97e3b.png) (Category tops)
![Screenshot from 2021-07-06 22-12-38](https://user-images.githubusercontent.com/1908873/124624718-56142e80-dea7-11eb-988c-c4cb1a2961d6.png)

[2021-07-06 15:20] zakdma commented on #33422
@magento give me 2.4-develop instance

[2021-07-06 18:37] shikhamis11 commented on #33424
@magento give me 2.4-develop instance

[2021-07-06 20:04] chaikivskyi commented on #33428
@mrtuvn I can't be sure that you understand the issue by your screenshots.
I can explain the issue on the code level.
https://github.com/magento/magento2/commit/7f6e9a842c3ca0d1971920c44d2e84f51b8bb5f8 - it is a related commit to this issue which exists in the 2.4-develop branch, but  I think the author missed some details.
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Cata

[2021-07-07 01:43] mrtuvn commented on #33428
So i think you can update more details in preconditions for QA/QC team can  easier reproduce your scenario
From my experience products in category list page already set `category_id` for each products listed in block `app/code/Magento/Catalog/Block/Product/ListProduct.php`

[2021-07-07 03:48] m2-assistant[bot] opened #33434 "[Issue] Optimize loading of media gallery when editing a product"
This issue is automatically created based on existing pull request: magento/magento2#32818: Optimize loading of media gallery when editing a product

---------

### Description (*)

This PR aims to optimize the loading of the gallery tab when editing a product with many images, by avoiding redundant operations.

In a real-world example with a product with nearly 300 images, loading the gallery was

[2021-07-07 06:08] mahgo commented on #32074
Is this added? It is marked as Done, but I can't see any documentation on this.

[2021-07-07 06:20] mahgo opened #33435 "Add Azure Blob Storage remote storage driver"
### Description (*)
It would be great to have more options than just S3 for remote storage - Azure Blob Storage would be a great alternative.
See https://devdocs.magento.com/guides/v2.4/config-guide/remote-storage/config-remote-storage.html for current documentation.

[2021-07-07 06:21] chaikivskyi commented on #33428
@mrtuvn Controller `Product/View.php` does not work on the product listing. It is a product page. Please, do next steps to reproduce the issue:
1. Create a new theme
2. Apply a theme for only one category and enable the setting ` Apply Design to Products` https://imgur.com/zqHGfAG
3. Create new layout rules for the `catalog_product_view` handle in the new theme. These rules will not be applied on

[2021-07-07 07:44] vlmed commented on #33399
@magento I am working on this

[2021-07-07 08:05] karyna-tsymbal-atwix commented on #32855
@magento I am working on this

[2021-07-07 08:06] Genaker commented on #28614
This extension can fix that issue. Try it:
https://github.com/Genaker/SpamUsersFilter
it is rate-limiting. Also, you can add custom logic how to catch bad guys.

[2021-07-07 08:58] davidhiendl opened #33436 "Adminhtml Category Form Nested Fieldsets breaks dataScope"
When adding a new fieldset to categories with a nested fieldset (to logically group attributes together, required due to having a large number of custom attributes), the attributes inside the nested fieldset seem to loose access to the data scope and cannot be saved/viewed.

### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)
1. Create a new category attribute using setup/schema:
[c

[2021-07-07 09:15] mattijv opened #33437 "Checkout: Region select autofillable even if Allow to Choose State if It is Optional for Country is set to No"
### Preconditions (*)

1. Magento 2.4.2 with sample data
2. **United States removed** from _General > General > State Options > **State is Required for**_
3. **Allow to Choose State if It is Optional for Country** is set to **No**

![Screenshot from 2021-07-07 11-33-47](https://user-images.githubusercontent.com/1974547/124733203-a7123a00-df1c-11eb-9f95-a7b32dba8a59.png)

4. **Browser has an addres

[2021-07-07 09:27] DavorOptiweb commented on #32118
We have same issue with 2 sites
One is 2.4.2
Second is 2.4.2-p1 (upgraded from 2.3.6)

It generated huge amount of redis cache keys and it all started with upgrade from 2.3.6 to 2.4.2
![image](https://user-images.githubusercontent.com/87067366/124735241-26e8d600-df16-11eb-9fc4-ed3bb4cbd195.png)

[2021-07-07 10:09] mattijv commented on #33437
@engcom-Hotel Thank you for taking a look, but by your own screenshots you show that you have in fact managed to reproduce the issue: there is no region field visible on the checkout but the region is autofilled to the address. **That is the problem.**

[2021-07-07 10:09] engcom-November commented on #33321
@web4exposure-org,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-07-07 10:09] #33321 closed, assigned to engcom-November

[2021-07-07 10:27] mrtuvn commented on #32118
https://github.com/magento/magento2/issues/29964#issuecomment-710063548 @DavorOptiweb

[2021-07-07 11:11] DavorOptiweb commented on #32118
We have Magento_CSP disabled from start (never enabled)

[2021-07-07 11:20] anzin commented on #32848
@magento I am working on this

[2021-07-07 11:41] mrtuvn commented on #32118
hmm! Interesting case
from above comment i see used csp module but not use redis but in your case that you claims enabled redis by default right ?
Maybe we need more investigate on this

[2021-07-07 12:09] karyna-tsymbal-atwix commented on #32850
@magento I am working on this

[2021-07-07 12:17] karlsminton commented on #13451
In addition to this, also check that the fieldset has it's labels set correctly

[2021-07-07 12:39] jamie-selesti commented on #30540
Still reproduced on Magento 2.4.2-p1

Using https://github.com/betagento/magento2_search_fixing fixed my issue

[2021-07-07 12:40] jamie-selesti commented on #30194
as per #30540 I'm getting this issue on 2.4.2-p1 - This fixed it for me https://github.com/betagento/magento2_search_fixing

[2021-07-07 12:41] IbrahimS2 commented on #32118
We have investigated this further, it appears what is consuming the memory in Redis is basically the 'page_cache', it stores the page source code which is consuming most of the memory, once we disabled/kept it off Redis it came down from 40GB to just up to 200-300MB memory usage.

The whole concept seems to be against the purpose.

[2021-07-07 12:45] engcom-November commented on #33426
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
**Steps performed:**
1. Setup EU Store (Germany)
2. Change the EU Store Currency setup to EUR
Admin -> Setup EUR currency (Stores -> Configuration -> General -> Currency Setup)
3. Create Bundle Product -> Catalog -> Poducts -> Add Bundle product
4. Navigate to Germany website -> Store Front -> Product Details page

[2021-07-07 12:55] lexiconnect commented on #33426
Hi

Without knowing how you set the bundle up in terms of prices etc.  it does look like you have replicated this issue.

Your order confirmation for the bundle shows the full price as €164.71 - but consists of 2 items priced at €48.00 as part of the bundle.  Not sure what the currency exchange rates you have used for this store.

![image](https://user-images.githubusercontent.com/33832397/1247624

[2021-07-07 13:04] DavorOptiweb commented on #32118
We are using Varnish for Page Cache.
Redis database for page cache is empty, only "default" cache is going to Redis.

If I have a look on Redis keys, this is what I see
![image](https://user-images.githubusercontent.com/87067366/124763701-8e158300-df34-11eb-9865-2cf806d13eb3.png)
![image](https://user-images.githubusercontent.com/87067366/124763413-37a84480-df34-11eb-89cf-21e277b290bd.png)

[2021-07-07 13:06] IbrahimS2 commented on #32118
@DavorOptiweb Please share the cache declaration in your env.php file.

[2021-07-07 13:31] DavorOptiweb commented on #32118
cache redis (port 6379, host redis)
![image](https://user-images.githubusercontent.com/87067366/124767492-27926400-df38-11eb-9f64-66fec58d4274.png)

And Session is on Redis, but has own instance (port is 6380, host redis)
![image](https://user-images.githubusercontent.com/87067366/124767600-3da02480-df38-11eb-937b-36ae4fa3105f.png)

[2021-07-07 13:48] konrad-szwed-accenture commented on #33437
@magento give me 2.4-develop instance

[2021-07-07 14:24] kamephis commented on #29005
Unfortunately that did not solve the problem for me. The only editor available is TinyMCE 4. I am on 2.4.2 CE.

[2021-07-07 14:42] mrtuvn commented on #32118
the difference redis of mine only in session
database => 2
log_level => 1
max_concurrency => 20
Maybe you have some tweak in redis.

How many products that you have ? cms blocks count

[2021-07-07 14:47] IbrahimS2 commented on #32118
@DavorOptiweb Please try the following:
[code]

[2021-07-07 15:02] mrtuvn commented on #32118
i think this one should like below
'preload_keys' => [
        '46c_EAV_ENTITY_TYPES',
        '46c_GLOBAL_PLUGIN_LIST',
        '46c_DB_IS_UP_TO_DATE',
        '46c_SYSTEM_DEFAULT'
 ]
 Just curiously why do you use prefix bcf ? Correct me if i'm wrong

[2021-07-07 15:55] roman204 commented on #29365
For anyone who needs a ready-to-use patch file for composer patches:
here you go ->>> save it as patch file and configure it for [composer patches](https://github.com/cweagans/composer-patches), viola

[code]

[2021-07-07 16:00] IbrahimS2 commented on #32118
@mrtuvn I missed that, just corrected it.

[2021-07-07 16:34] engcom-November commented on #33426
Verified the issue again using below configuration and the issue reproduced in both Email Confirmation and Admin Order Information page.
Admin -> Stores - Configuration - Currency Setup - Set Base Currency: US Dollar, Default Display Currency: Euro
Admin -> Stores - Configuration - Catalog - Catalog - Price - Catalog Price Scope - Set to Website
Create Bundle Product from Admin - Catalog -> produc

[2021-07-07 21:48] rhoerr commented on #20332
For anyone else caught off guard by this and the user experience implications for US customers and US-focused businesses, you can revert the field order to [city, state, zip, country] with these two SQL queries:

[code]

[2021-07-07 22:14] ashar01 commented on #33417
@engcom-Delta
Have to try to reproduce this issue on frontend ?

[2021-07-08 03:47] mobweb commented on #30277
Can also confirm that this issue occurred for me in 2.4.2 and I was also able to solve it by re-enabling _Magento_Swatches_.

[2021-07-08 06:36] DavorOptiweb commented on #32118
I have changed the env.php cache settings, but after 1h, I don't see any change.
After 1h, there is already 1G+ memory usage and over 70k keys (same pattern as previous days)

Here is graph where is clear that before upgrade, Redis usage was stable
![image](https://user-images.githubusercontent.com/87067366/124874054-89e67580-dfc7-11eb-99e2-253a1de305e0.png)

[2021-07-08 06:50] engcom-Hotel commented on #33405
Hi @zarnar,

Please help us in providing more details in order to reproduce the issue, like:

1. Preconditions
2. Steps to reproduce
3. Expected Result
4. Actual result.

Thanks

[2021-07-08 06:57] IbrahimS2 commented on #32118
@DavorOptiweb Could you execute the following command "redis-cli --bigkeys"? It cannot be session keys I must tell you now.

[2021-07-08 07:02] DavorOptiweb commented on #32118
`# Scanning the entire keyspace to find biggest keys as well as
# average sizes per key type.  You can use -i 0.1 to sleep 0.1 sec
# per 100 SCAN commands (not usually needed).

[00.00%] Biggest hash   found so far 'zc:k:46c_AB140E4DCDEBB91C4004178C10A7A5D3BD7C179B' with 4 fields
[00.00%] Biggest set    found so far 'zc:ti:46c_CATALOG_PRODUCT_VIEW_SKU_09035' with 2 members
[00.01%] Biggest set

[2021-07-08 07:20] engcom-Delta commented on #33317
There has no update from reporter from ~14 days. Hence closing the issue.
Kindly log new issue if required or re-open the existing issue.

[2021-07-08 07:20] #33317 closed, assigned to engcom-Delta

[2021-07-08 07:47] engcom-Delta commented on #33311
There has no update from reporter and it has been more than ~14 days. Hence closing the issue .
Kindly raise new issue if required or re-open the existing issue.

Thanks

[2021-07-08 07:47] #33311 closed, assigned to engcom-Delta

[2021-07-08 07:48] engcom-Hotel commented on #30385
Hi @hm-harshit,

We are unable to hear from you since past more than 14 days, so we are closing this issue. If you still facing the issue, then you can reopen this ticket or create a new ticket.

Thanks

[2021-07-08 07:53] engcom-November commented on #32586
@timpea,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-07-08 07:53] #32586 closed, assigned to engcom-November

[2021-07-08 07:58] engcom-Hotel commented on #29347
Hi @zhartaunik,

We are unable to hear from you since past more than 14 days, so we are closing this issue. If you still facing the issue, then you can reopen this ticket or create a new ticket.

Thanks

[2021-07-08 07:58] #29347 closed, assigned to engcom-Hotel

[2021-07-08 08:00] engcom-November commented on #32642
@ilnytskyi ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-07-08 08:00] #32642 closed, assigned to engcom-November

[2021-07-08 08:00] engcom-Hotel commented on #32561
Hi @plamenh,

We are unable to hear from you since more than 14 days, so we are closing this issue. If you still facing the issue, then you can reopen this ticket or create a new ticket.

Thanks

[2021-07-08 08:00] #32561 closed, assigned to engcom-Hotel

[2021-07-08 08:02] engcom-November commented on #31818
@magentoexpert ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-07-08 08:02] #31818 closed, assigned to engcom-Bravo, engcom-November

[2021-07-08 08:03] engcom-Hotel commented on #30998
Hi @Christoph-AK,

We are unable to hear from you since more than 14 days, so we are closing this issue. If you still facing the issue, then you can reopen this ticket or create a new ticket.

Thanks

[2021-07-08 08:03] #30998 closed, assigned to engcom-Hotel

[2021-07-08 08:03] hm-harshit commented on #30385
@engcom-Bravo sorry for the late reply... I check on Magento version 2.4.0 Still not Working...

[2021-07-08 08:05] engcom-Hotel commented on #27112
Hi @dtavieres,

We are unable to hear from you since 14 days, so we are closing this issue. If you still facing the issue, then you can reopen this ticket or create a new ticket.

Thanks

[2021-07-08 08:05] #27112 closed, assigned to engcom-Hotel

[2021-07-08 08:06] engcom-November commented on #32479
@dhirajdanodeborn ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-07-08 08:06] #32479 closed, assigned to engcom-Bravo, engcom-November

[2021-07-08 10:39] ashvinimarwal commented on #21154
This issue is still coming on Magento CE 2.3.1 even after applying fixes.

[2021-07-08 10:54] engcom-Bravo commented on #33174
Hi @tranhoangthien1990,

URL key field will be autogenerated even for products with 'Not visible individually' value in visibility field on import. That is the behaviour of Magento.
Hence, the actual result you have provided in the description seems correct.

Please let us know for any other queries on this.

[2021-07-08 10:55] AartiJogiya opened #33440 "Cron jobs from disabled Magento_Analytics module is getting scheduled and returns an error"
### Description (*)
Magento_Analytics module has two cron jobs as mentioned below-

**Configurations defined in crontab.xml are as below:**

- Job name: analytics_subscribe
  Instance - "Magento\Analytics\Cron\SignUp"
  Method- "execute"

- Job name: analytics_collect_data
  Instance - "Magento\Analytics\Cron\CollectData"
  Method- "execute"

**Cron expressions are stored in core_config_data table

[2021-07-08 11:46] diazwatson commented on #33101
Disabling the `frame-ancestors` policy will indeed remove the warning in the browser but I wonder if this is the best approach
Would not be better to whitelist the host causing the issue (assuming it is a known and safe)? 🤔

[2021-07-08 11:52] vrielsa commented on #32270
The fix on develop and the one mentioned here doesn't work if your discount does not apply to shipping costs.
![Screenshot 2021-07-08 at 13 42 06](https://user-images.githubusercontent.com/33426821/124917151-c5973480-dff3-11eb-8fd0-59d4c8400dca.png)

[2021-07-08 13:00] Eddcapone opened #33441 "Magento Media Query Function ".media-width" not working"
### Preconditions (*)

1. 2.4.2

### Steps to reproduce (*)

1. Create a module
2. Add this file to it:

## MODULE/view/frontend/web/source/_module.less

[code]
3. Compile
4. Load website
5. View source
6. inspect styles-l.css and styles-m.css and search for "foobar"

### Expected result (*)

1. Code should be in the files

### Actual result (*)

1. Code is no where

---
Please provide [Severity](

[2021-07-08 13:16] engcom-November commented on #33418
I verified the issue on Magento 2.4-develop having EE modules installed and 2.4.2-P1 versions and the issue is not reproducible with above steps mentioned but able to reproduce the issue in Product Cart page with below steps:
**Steps performed:**
Pre-Conditions:
Enable Allow Reorders (Stores -> Configuration -> Sales -> Sales -> Reorder)
1. Front-end -> Added existing product to Cart
2. Admin -> C

[2021-07-08 13:32] engcom-November commented on #33333
@JKair
Magento supports the following fraud protection solutions for Actions: Review, Deny and Flag
Please refer to this [link](https://docs.magento.com/user-guide/payment/paypal-fraud-management-filter.html)
Also, kindly check your PayPal Account configuration, re-verify the issue and let us know if the issue is still reproducible.
[Ref Link](https://docs.magento.com/user-guide/payment/paypal-exp

[2021-07-08 14:30] PromInc opened #33442 "Incorrect Security Option Label - Password Reset Protection Type"
The `Password Reset Protection Type` option of `By IP and Email` is incorrectly labeled.  This protection is NOT based on an `AND` condition as it states, rather an `OR` condition per the code/function that powers this setting.  (see code below)

This can be circumvented by changing the setting to `By Email` but the root of the issue is the option isn't labeled correctly.

[code]

### Precondition

[2021-07-08 14:31] engcom-Delta commented on #32976
Hi @colyield,

Tried reproducing the issue and found the it is reproducible in Magento 2.4.2 .

Followed steps:
1. installed Magento 2.4.1
2. Create the new product with color attributes
3. upgraded to 2.4.2 by following commands
4. bin/magento maintenance:enable
composer require magento/composer-root-update-plugin=~1.0 --no-update
composer update
cp composer.json composer.json.bak
composer requir

[2021-07-08 14:54] marius-balteanu commented on #19220
Same issue on 2.4.2.

[2021-07-08 14:56] marius-balteanu commented on #19220
@Nazar65, can you detail a little bit your last response, please? I'm not sure if your recommendation is to tweak the `innodb_lock_wait_timeout` value or no.

[2021-07-08 15:05] abdulrafay-systemsltd commented on #25542
I am facing this issue in Magento EE ver. 2.3.2
Invalid header value detected {"exception":"[object] (Magento\\Framework\\Exception\\MailException(code: 0): Invalid header value detected at /vendor/magento/module-email/Model/Transport.php:101,

[2021-07-08 15:08] anzin commented on #32853
@magento I am working on this

[2021-07-08 15:17] mrtuvn commented on #33441
have you try .media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {}

[2021-07-08 15:18] mrtuvn commented on #33441
https://devdocs.magento.com/guides/v2.4/frontend-dev-guide/responsive-web-design/rwd_css.html

[2021-07-08 15:19] Eddcapone commented on #33441
@mrtuvn I need `screen__l` not `screen__m`

[2021-07-08 15:27] colyield commented on #32976
Good to know. Finally it's possible to fix the issue. Any thought on the theme information missing in the backend ? I think the two problems might be related. https://github.com/magento/magento2/issues/32970

[2021-07-08 15:49] mrtuvn commented on #33441
if you go for that approach you will have overlap styles of mobile too
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
<= 768
} and here
 & when (@media-common) {both mobile/desktop}
In case you want to try you can use

[2021-07-08 15:56] mrtuvn commented on #33441
you may also want to try this
& when (@media-target = 'mobile'), (@media-target = 'all') {
    @media only screen and (max-width: (@screen__l)){ }
}
I think it may work too. This will use native media query

[2021-07-08 17:00] AdrianChungie opened #33444 "Issue at checkout when trying to enter new billing address"
### Preconditions (*)

1. Magento version 2.4.2
2. I am using a custom theme in this example, however I tested with Magento Luma theme and I get the same result
3. I am using sample data, however I tested on 2 different environments with real product data and same result.

### Steps to reproduce (*)

1. Go to checkout
2. On the Review & Payments screen under Payment Method
3. Uncheck "My billing a

[2021-07-08 19:36] pmonosolo commented on #32118
Having the same issue after upgrading from 2.3.3 to 2.4.2-p1. The cache overfilling issue happens both in Redis and in file storage (if you dont have Redis cache enabled).

This would fill up my hard drive to the brim when Catalog Search indexing was running. It only happens when Catalog Search index is running.

When I do redis-cli monitor, the output shows this:

1625771650.924712 [0 172.18.0.7:

[2021-07-08 20:03] pmonosolo commented on #32118
It doesnt look like it's only related to Redis. It happened both on Redis and File Storage cache for me.

[2021-07-08 20:07] pmonosolo commented on #29964
Nope. I just upgraded to 2.4.2-p1, still the same issue on multiple environments and cache types (redis and file storage cache)

[2021-07-08 20:08] nikoelgatito opened #33445 "PayPal Express not Working from Shopping Cart Page"
### Preconditions (*)

1. Magento 2.3.5
2. The Paypal Express Checkout payment method is enabled
3. Paypal Express Checkout config: "Display on Shopping Cart" = Yes (Default)

### Steps to reproduce (*)

1. Guest user, initial visit (no localStorage or session)
2. Add any product to cart
3. Visit the shopping cart page
4. Apply a coupon code
5. Click on the Paypal button to start express checkout

[2021-07-08 20:43] pmonosolo commented on #32118
Looks like you still have to disable CSP plugin for the issue to disappear. This is very Magento :)

It looks like it's no longer storing crazy amount of data into zc:k:c8a_BLOCK_81EE233A1B32FD871F6A4DD3CC91A5BFD107B28B_215322_FINAL_PRICE_LIST_CATEGORY_PAGE

[2021-07-08 20:48] pmonosolo commented on #28102
Still present in 2.4.2-p1. Had enormous crashes with both Redis and File storage cache after upgrade from 2.3.3 to 2.4.2-p1. Once CSP is disabled, the RAM does not get bashed.

This issue would happen when Catalog Search index was running (if anybody needs to know how to test it quickly)

[2021-07-08 21:50] gwharton commented on #29964
Really. It was fixed in 2.4.2. it was missed from the release notes though but the fix was there. I've been running since 2.4.2 with csp enforcing with no issues.

[2021-07-08 22:12] pmonosolo commented on #29964
Yup, I created 2 threads about this on stackoverflow. I'm not sure how your's is working, but mine is an upgdade from 2.3.3 without any other modifications.

https://magento.stackexchange.com/questions/340934/magento-2-4-2-p1-redis-cache-full
https://stackoverflow.com/questions/68278489/docker-compose-mnt-sdb-is-always-full

[2021-07-09 00:54] PivitParkour94 commented on #7609
Was this made into a feature request in the forum somewhere? Having a backup static assets system would be an absoluter lifesaver in a number of situations.

@veloraven  I understand that having the issue in github is the wrong place, but rather than just closing it, can we ensure this is linked to a feature request in the forum where the discussion can continue?

[2021-07-09 02:24] mrtuvn commented on #32970
Seem i see you have custom module here! Default magento does not have any function related with css editor or js editor. Not sure that can be cause of problem! Can you share url of current page above ?
![themes](https://user-images.githubusercontent.com/1908873/125014091-38a5b700-e097-11eb-8491-95d1d1a9fa9f.png)
Theme view (edit from grid)
![theme-edit](https://user-images.githubusercontent.com/19

[2021-07-09 02:32] colyield commented on #32970
I have checked all the possibilities already. Even if I change the theme to
the official Luma theme, the "theme settings" page still shows nothing.
Sorry my website is in production, I will not share the url here.

On Thu, Jul 8, 2021 at 10:24 PM Tu Nguyen ***@***.***> wrote:

[2021-07-09 02:44] tranhoangthien1990 commented on #33174
Hi @engcom-Bravo it sounds like doesn't make sense to me. Why Magento tries to create a URL rewrite for "Not visible individually" via the import process, but if I create a new product via admin dashboard by manually, it doesn't generate the URL rewrite.
It's really strange and makes our import process conflict with the default Magento flow.
Let example that i have a configurable product with the

[2021-07-09 03:06] mrtuvn commented on #32970
So i think problem may happen in production mode (real data) + require 3rd-party modules right ?

[2021-07-09 03:11] colyield commented on #32970
There's no 3rd-party module installed. The only thing we changed is some
CSS modifications in the customized theme. And I added some content on the
home page, with a small JAVA script for the home banner. I tried to delete
everything that I added or modified, still the same problem.

On Thu, Jul 8, 2021 at 11:06 PM Tu Nguyen ***@***.***> wrote:

[2021-07-09 04:45] Ckaneriya commented on #31105
@engcom-Delta  Most of the people facing this issue then why it is closed. we have noticed this issue in several of our Magento 2.3.6 stores. one of our stores is in default luma theme with only 2 demo products. no customization has been done still we are facing a similar issue.

[2021-07-09 05:07] krishprakash commented on #33444
@magento give me 2.4-develop instance

[2021-07-09 05:17] karyna-tsymbal-atwix commented on #32846
@magento I am working on this

[2021-07-09 06:13] DavorOptiweb commented on #32118
![image](https://user-images.githubusercontent.com/87067366/125031892-7ac9fb00-e08d-11eb-9d3a-320a2b521d42.png)
And issue is still present

[2021-07-09 06:24] engcom-Bravo commented on #33174
Hi @tranhoangthien1990,

We understand your issue. We will re-check on this native behaviour and get back to you on this soon.

Thanks

[2021-07-09 07:01] sumeshkumar577 commented on #32292
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-07-09 07:17] mrtuvn commented on #32118
imho Module Magento_Csp seem not root causes of problem cache growing. Maybe something else
cc: @orlangur @kandy
Should we reopen this for investigates ?

[2021-07-09 08:23] monteshot commented on #33334
@magento I’m working on it

[2021-07-09 08:26] monteshot commented on #33334
@magento I am working on this

[2021-07-09 08:27] monteshot commented on #33334
@magento add to contributors team

[2021-07-09 08:27] monteshot commented on #33334
@magento I am working on this

[2021-07-09 08:28] engcom-November commented on #33445
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps:
Configure PayPal Express Checkout - Advanced Settings - (Stores - Configuration - Sales - Payment Methods - PayPal Express Checkout)
Set Display on Shopping Cart - Yes
Clear Cache and cookies
Navigate to Front end - Guest user - Add a product to Cart
Go to Product Cart page
Apply Coupon
Click on PayPal button
**

[2021-07-09 09:00] engcom-Delta commented on #33380
Hi @braders,

Tried to reproduce the issue with provided steps but we are not able to replicate it on Magento 2.4.2.
Hence, added the label 'Needs update '.

Please find the snapshots for reference.
![import1](https://user-images.githubusercontent.com/51681379/125052809-fd6cad80-e0c1-11eb-8a41-cadf6598fdbd.jpg)

After importing(1st attempt)
![after_1st_importing](https://user-images.githubusercont

[2021-07-09 09:10] Nuranto opened #33446 "Wrong discount value - Shopping Cart rule fixed on shipping when shipping tax is different than products tax"
### Preconditions (*)

Magento 2.4.2-p1

### Steps to reproduce (*)

1. Add a cart rule : Fixed amount for whole cart, with coupon, 5€, Apply discount to shipping to 'Yes'
2. Set up a tax class for shipping, create a specific rate (different rate than other products you will use for test) and rule for it, and assign that tax class to shipping tax.

### Expected result (*)

5€ discount

### Actual

[2021-07-09 09:11] gwharton commented on #29964
I wonder if there is a separate issue. The commit https://github.com/magento/magento2/commit/047629aeb29354c35c7ebe4f12b7eed160e241e0#diff-f82a4c282711708e05d2f1db5f2f2369e2533e5bfb184b3f71db21a5756eafaf definately fixed my issue and has been present since 2.4.2

[2021-07-09 09:18] t-heuser opened #33447 "urlResolver ignores current store view for products and categories"
### Preconditions (*)

1. Magento 2.4.2
2. Multiple store views

### Steps to reproduce (*)

1. Have atleast 2 store views
2. Create a product/category and don't activate it for the second store view
3. Execute the urlResolver query for the product/category in the second store view

### Expected result (*)

[code]

### Actual result (*)

[code]

Side note: For cms pages the urlResolver is working

[2021-07-09 09:19] oneserv-heuser commented on #33447
@magento give me 2.4-develop instance

[2021-07-09 09:23] michi-p commented on #26854
I'm still facing this problem in Magento 2.4.2-p1.

[2021-07-09 09:40] oneserv-heuser commented on #33447
I can confirm this issue exists. I also found out that the urlResolver doesnt respect if you disable a product. The urlResolver still thinks it's active and returns the url data.

All of this leads to the problem that the urlResolver says yes to an url, but if you then use the products query there are no results because the product/category is disabled or not activated for the store view.

[2021-07-09 09:55] engcom-Hotel commented on #33042
Hello @tuyennn,

We have tried to reproduce the issue in Magento 2.4-develop. As per your comment, that on a specific condition, the error has been occurred. So we have added PHP's sleep function and made the script to sleep for 10 seconds. We have made  the changes in below file:

[https://github.com/magento/magento2/blob/bf4cdad2b1d0436be831c1f5c89c1adc77bfd1fc/app/code/Magento/Store/Model/Store

[2021-07-09 10:46] engcom-Hotel commented on #33134
Hello @ticaje,

We are able to reproduce the issue in Magento 2..4-develop branch, with the description provided. We are confirming the issue.

Thanks

[2021-07-09 11:26] heldchen commented on #15559
@ihor-sviziev this is still an issue in 2.4.2-p1 - static assets in order confirmation mails sent from the magento admin gui have admin static assets included. to reproduce it, ensure the magento backend uses a different domain, f.e. frontend: www.shop.com, backend: admin.shop.com

[2021-07-09 11:44] anzin commented on #32852
@magento I am working on this

[2021-07-09 11:44] engcom-Delta commented on #33244
Hi @tuyennn,
Tried to reproduce the issue on Magento 2.4.2 and found that it is reproducible.
Steps followed:
1. in Backend, Go to Stores
2. Click on Configuration
3. in the left panel , expand customers & select customer configuration
4. Expand the address template section
5. Edit the Text & Text one Line or add new attribute
6. Click on Save  button
7. Log into front end
8. Go to Address Book &

[2021-07-09 12:02] pitbulk commented on #30498
@engcom-Bravo do you have an ETA on when you gonna be able to work on this ticket?
Happy to help on its resoution.

[2021-07-09 12:22] DevAwesomeK commented on #32180
Can anyone please add this patch as attachment file in this thread. Thanks!

[2021-07-09 12:38] engcom-November commented on #33446
Verified the issue on Magento 2.4.2 -p1 version and the issue is reproducible:
Steps to reproduce:
1. European store setup (Currency: EURO and Country: Germany)
2. Admin - Stores - Taxes - Tax Zones and Rates - Add New Tax Rate
3. Stores - Taxes - Tax Rules - Apply new tax rate
4. Additional Settings - Add new Tax class and save rule
5. Stores - Configuration - Sales - Tax - Tax Class for Shipping

[2021-07-09 13:12] engcom-Delta commented on #33401
Hi ,
Kindly provide the steps to reproduce the issue , expected results and Actual results.

Thanks

[2021-07-09 13:55] ganeddact commented on #33073
No as far as I can see this is not a reproduction of the issue, in your example you need to import the product with a package_size with a label identical to an existing option_id AND a new label value. To reproduce with the data available in those screenshots, your product should have product_size 214. With that you should be able to reproduce the issue.

[2021-07-09 14:53] vmalyk commented on #30949
@magento give me 2.4-develop instance

[2021-07-09 15:17] pawel-siejba opened #33450 "GraphQL Customer Orders query returns only current store orders"
### Preconditions (*)

1. Magento 2.4.1 or higher
2. Customer account shared globally
3. Customer Account has orders placed from multiple store views
4. (Optionally) Venia Storefront

### Steps to reproduce (*)

1. Query:
`{
  customer {
   orders {
      items {
        number
      }
    }
  }
}`

### Expected result (*)

1. See all orders, as in Luma

### Actual result (*)

1. See only orders f

[2021-07-09 15:27] ganeddact commented on #33073
@magento give me 2.4-develop instance

[2021-07-09 16:02] pmonosolo commented on #29964
I definitely have this in my vendor folder and both files are exact copies from the commit.

As soon as I disabled the CSP plugin and flushed the cache it started to work right away. I ran Search Indexing multiple times that day and the only time it stopped filling the Redis container RAM was after disabling the CSP plugin.

[2021-07-09 16:06] pmonosolo commented on #32118
Did you recompile / deploy static / flush cache?

[2021-07-09 16:57] batmike commented on #32180
@DevAwesomeK - I have attached the patch file that corrected this issue for our site (in text format).

[MDVA-36615_2.4.2.txt](https://github.com/magento/magento2/files/6792873/MDVA-36615_2.4.2.txt)

[2021-07-09 18:21] colyield commented on #32970
Yes, you are on the right page.

[2021-07-10 11:29] DavorOptiweb commented on #32118
@pmonosolo we have automated deploy and it has passed it many times since upgrade. So this is not an issue.

[2021-07-10 12:45] BogdanGorbach commented on #28239
@magento I am working on this

[2021-07-10 12:46] BogdanGorbach commented on #28239
@magento add to contributors team

[2021-07-10 12:47] BogdanGorbach commented on #28239
@magento I am working on this

[2021-07-10 13:08] lbajsarowicz commented on #15047
🤯  Glad the issue is sorted, but... definitely I'd love to know which Commit fixes that or what Quality Patch offers the fix.

[2021-07-10 14:53] lbajsarowicz commented on #15047
@magento give me test instance

[2021-07-10 14:54] lbajsarowicz commented on #15047
@magento give me 2.4-develop instance

[2021-07-10 15:05] lbajsarowicz commented on #15047
1. Settings
    ![image](https://user-images.githubusercontent.com/1639941/125167443-e355cc80-e1a0-11eb-8cfb-41560945def2.png)
2. Product
   ![image](https://user-images.githubusercontent.com/1639941/125167462-f5d00600-e1a0-11eb-89cc-f7ade5e96c71.png)
3. Result
    ![image](https://user-images.githubusercontent.com/1639941/125167475-0da78a00-e1a1-11eb-8652-9f2df08f26ff.png)

Comments?

[2021-07-10 17:31] miteshdhaduk commented on #29817
Not working in CE Magento2.4.2.

[2021-07-10 18:28] miteshdhaduk commented on #31640
Same issue on Magento 2.4.2.

[2021-07-11 06:25] mrtuvn commented on #32118
do you have enabled varnish + disabled fullpage

[2021-07-11 06:25] ihor-sviziev commented on #15047
Reopened since we have a report that issue still reproducing on the 2.4-develop branch

[2021-07-11 07:06] mrtuvn commented on #15047
Lukas have you tested in latest code ?

[2021-07-11 07:28] lbajsarowicz commented on #15047
@mrtuvn I used the test instance that Magento built.
![image](https://user-images.githubusercontent.com/1639941/125186366-5b1c0980-e22a-11eb-991d-1453c4659c85.png)

[2021-07-11 08:21] ia-gaurav opened #33453 "Filter By quantity_and_stock_status not working"
**Preconditions**
Magento 2.4
Smile Elastic Latest Version
Select In Layered Navigation as yes for **quantity_and_stock_status**

![image](https://user-images.githubusercontent.com/63009790/125187493-849a5c80-e24d-11eb-90f8-aa8e9aab3dac.png)

**Issue :**
It must show in filter

**Expected**
Quantity should show in filter

[2021-07-11 08:21] ia-gaurav commented on #33453
@magento give me 2.4-develop instance

[2021-07-11 08:34] ia-gaurav commented on #33453
I am able to reproduct issue on - https://c0daa224914c6a11fa8ce36492659d9c-2-4-develop.instances.magento-community.engineering/women/tops-women/jackets-women.html?product_list_order=quantity_and_stock_status

first product is out of stock , quantity filter is not showing in website

[2021-07-11 10:34] IbrahimS2 commented on #24946
Still an issue.

[2021-07-11 18:23] ray-moncada commented on #33101
I am having the same problem and the Magento csp is conflicting with the  add_header Content-Security-Policy in nginx config file. How can I make both work? can the Magento csf be disabled or do I move all the configuration from nginx to Magento. I am ok with nginx controlling the csp. Any suggestions?

[2021-07-12 03:22] JKair commented on #33333
I fix the bug.
Because the order fraud status is set as `default`,so when the order paid and it will be set the first default status `fraud`

[2021-07-12 03:22] JKair commented on #33333
@engcom-November thanks for your help

[2021-07-12 03:39] mrtuvn commented on #33444
Seem maybe not related with magento code! Have you check function customised code "AutoFillAddress". This is not standard of default magento. Also if possible please provide module sample can help easier to indicate issue

[2021-07-12 03:45] mrtuvn commented on #33412
Seem we still used old approach controller somewhere. Some code already use new controller way (implement Magento\Framework\App\ActionInterface) but some other doesn't not and still use old way
Another example
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Directory/Controller/Currency/SwitchAction.php#L9

[2021-07-12 06:00] JKair commented on #30719
I meet this bug too.

[2021-07-12 06:10] engcom-November commented on #33333
@JKair Thanks for your update. We are closing the ticket as your issue is resolved.
Thank you.

[2021-07-12 06:10] #33333 closed, assigned to engcom-November

[2021-07-12 06:13] oneserv-heuser commented on #31313
Any updates on this? We would need this feature.

[2021-07-12 06:14] oneserv-heuser commented on #32437
Any updates on this? We would need this feature.

Also I dont think that this is an duplicated of #31313 as in #31313 it's requested to add the storeConfig for taxes to graphql and here @jesse-deboer wants to get both the price with and without tax in the ProductInterface.

[2021-07-12 07:29] medigeek commented on #32833
On a separate build server or using capistrano or deployer or similar tools. It will deploy and link everything once finished.
Still, it seems to be a weird race condition. We have enabled maintenance mode, cleaned cache, waited for several (10-15) seconds) and we still faced the same issue. Perhaps we need to wait a bit longer.

[2021-07-12 07:43] antonioalonsoflat101 opened #33455 "Sort by name with accented charaters doesn't work on Magento 2.4.2"
### Preconditions (*)
1. Magento 2.4.2
2. Sample data installed
3. Blank theme

### Steps to reproduce (*)
1. In the **Backend** go to Catalog > Products
2. Edit Configurable porduct with SKU **WJ03**
3. Add accent in the first Character in the product name: Áugusta Pullover Jacket
4. Save Product and fluch cache
5. In the **Frontend** go to Women > Tops > Jackets
6. Sort the products by **Product

[2021-07-12 07:54] reense commented on #32916
For people having the same issue, [i've prepared a patch here.](https://gist.github.com/reense/0b0bf0d50620d2e73a349856a23d1e6e)

[2021-07-12 08:12] m2-assistant[bot] opened #33456 "[Issue] Update CONTRIBUTING.md"
This issue is automatically created based on existing pull request: magento/magento2#33163: Update CONTRIBUTING.md

---------
Adding correct path for **Forks And Pull Requests Instructions**. Added updated link for **beginners** Slack chat, Which will redirect the user to the Slack Application instead of opening the Slack Channel in the browser. If the user is not having a Slack Application, then

[2021-07-12 08:31] karyna-tsymbal-atwix commented on #32843
@magento I am working on this

[2021-07-12 08:44] ioweb-gr opened #33457 "order increment id collision"
The way the increment id is implemented, it has the potential of colliding. Currently the increment id has a prefix of the store id of the order e.g.

for store id = 5 we have an increment id of 5-----------X
for store id = 1 we have an increment id of 1-----------X
for store_id = 10 we have an increment id of 10----------X

The potential to collide comes if you generate orders in store 1 to fill

[2021-07-12 08:59] lamasfoker commented on #15047
@mrtuvn you have to test with a product with only 1 configurable attribute.

[2021-07-12 09:25] victortodoran commented on #33457
@magento give me 2.4-develop instance

[2021-07-12 09:45] Eddcapone opened #33458 "Authentication PopUp showing even when customer is already logged in"
### Preconditions (*)

1. 2.4.2

### Steps to reproduce (*)

I could not figure out how to reproduce this every time, it happens randomly.

If you are logged in as a customer and try to go to checkout, then sometimes the popup-authentication window shows:

![bug](https://user-images.githubusercontent.com/16349349/125267004-af94b700-e306-11eb-960f-6c98818270f9.PNG)

### Expected result (*)

Checkou

[2021-07-12 09:58] onlinebizsoft opened #33459 "trigger_recollect is not flagged to 1 in many user cases"
This is something handled in this commit https://github.com/magento/magento2/commit/08608a611f21d763aa2ddd6b759ef9abd62f88b7
But it is still lacking many user cases
- A rule with an expired date
- Edit a rule
- Product price change
- .......

### Preconditions (*)

Version 2.4.2 (I believe it happens with any version, 2.4-develop as well)

### Steps to reproduce (*)

1. Create a promotion cart rul

[2021-07-12 10:30] onlinebizsoft commented on #33459
Also related to https://github.com/magento/magento2/issues/24526
@magento-engcom-team @sdzhepa @ihor-sviziev  @zhartaunik

[2021-07-12 11:13] engcom-Delta commented on #33343
Hi @prasannanwr,

I tried on Magento 2.4.2 , it is reproducible , found that more than two countries displayed in configured store.
Hence , Marking this issue as Needs update.
Followed steps:
1. Create the new Web site, store and store view
2. Set Scope to France  & set the  Allow Country options as US & UK from Store--> configuration
3. Set Account sharing options to Global
4. Launch the France S

[2021-07-12 11:16] engcom-November commented on #32736
Verified the issue on Magento 2.4.2 version and the issue is not reproducible with the provided steps for both US store and Mexican Stores setup:
**Steps performed:**
Mexican Store setup configuration - Default Country - Mexico, Currency: Mexcan peso, Default Tax Destination Calculation - Mexico
Stores -Configuration - Shipping Settings - Origin - Mexico
Admin - Stores - Configuration - Sales - Ta

[2021-07-12 11:42] karyna-tsymbal-atwix commented on #32847
@magento I am working on this

[2021-07-12 11:55] engcom-Delta commented on #33357
Hi @sdzhepa,
Yes, I verified again and found that Edit link is overlapping the address .Please find the attached snapshot for reference.

Hence , Marking the issue is 'Issue Confirmed
![Uploading OverLapping the Edit button.jpg…]()

'

[2021-07-12 12:11] tuanpt-0634 commented on #12330
@magento give me 2.3.4 instance

[2021-07-12 12:15] tuanpt-0634 commented on #12330
@magento give me 2.3.4 instance

[2021-07-12 12:19] m2-assistant[bot] opened #33460 "[Issue] MFTF: Checkout With Minimum Order Amount Option Enabled Test"
This issue is automatically created based on existing pull request: magento/magento2#33136: MFTF: Checkout With Minimum Order Amount Option Enabled Test

---------
This PR contains MFTF test for checkout with minimum order amount option enabled.

**Steps to reproduce:**

1 - Configure minimum order amount
2 - Add the product into shopping cart (minimum order amount is not reached)
3 - Add product

[2021-07-12 12:24] anzin commented on #32845
@magento I am working on this

[2021-07-12 12:42] AdrianChungie commented on #33444
@mrtuvn yea you are right. I tested it again on a clean environment and there was no issue. I guess there is a issue with the theme that I am using, or an extension.

Sorry about that, you can close this issue. I will investigate further on my own.

[2021-07-12 12:42] karthi5053 commented on #32277
I'm having this same issue as well. Both Core and custom consumer throwing Area Code error.

![err](https://user-images.githubusercontent.com/7961427/125289254-ac1c2280-e33c-11eb-8713-552d0492a6b5.png)

[2021-07-12 12:42] #33444 closed, assigned to krishprakash

[2021-07-12 12:49] tuanpt-0634 commented on #12330
@magento give me 2.3.4 instance

[2021-07-12 12:55] engcom-Alfa commented on #32990
@magento give me 2.4-develop instance

[2021-07-12 13:05] t-marci5 opened #33461 "processing shipments"
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2021-07-12 13:23] krishprakash commented on #33461
Hi @t-marci5. In the current stage, it is not clear what the problem and what functionality is broken.
Steps to reproduce, actual and expected result, screens that illustrate problem will help a lot.
Without such details, this issue could be closed as cannot reproduce

[2021-07-12 13:25] #31752 closed, assigned to engcom-Oscar

[2021-07-12 13:44] mrtuvn commented on #33458
hi!
In theory that popup only show when you have disabled guest checkout and customer required login when process checkout page. You can test in magento build instance by require it in comment
Use
magento give me 2.4-develop will request clean instance for test purpose if you have clear step

[2021-07-12 13:45] engcom-November commented on #33367
Hi @venky53,
Its recommended to verify the issues on Magento 2.4-develop branch only. Kindly upgrade your Magento version and check the payment. Closing this issue as order is registered as expected in Magento admin.
Thank you.

[2021-07-12 13:45] #33367 closed, assigned to engcom-November

[2021-07-12 13:58] sdzhepa opened #33462 "[test] test issue confirmation flow and Jira ticket creation"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-07-12 14:00] jitheesh-lumi commented on #30128
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-07-12 14:02] amiddio commented on #15427
I have confirmed that this is happening on Magento 2.3.7!

[2021-07-12 14:05] OkropNick commented on #4588
I have the same issue on version 2.4.2

[2021-07-12 14:15] engcom-November commented on #33323
Hi @DanielRuf,
Thanks for your update. I have created this [Github issue](https://github.com/magento/devdocs/issues/9047) to correct/update the user docs wrt this feature. Hence we are closing this issue.

Thank you.

[2021-07-12 14:15] #33323 closed, assigned to engcom-November

[2021-07-12 14:36] Lewischarlton93 commented on #9537
Issue still present in Magento 2.4.2

[2021-07-12 14:40] engcom-Delta commented on #33237
Hi @mushketer888,

I tried to reproduce the issue on Magento 2.4.2 as per provided steps & comments.
in fact, i have not able to create credit memo for the order which has 100% discount( cart items + shipping).
Kindly find the attached screenshots for reference.
![qnty_2_discount100percent](https://user-images.githubusercontent.com/51681379/125306761-189f1d80-e34d-11eb-99c0-b81133f6a7af.jpg)
![qua

[2021-07-12 14:46] lenaorobei opened #33464 "test confirmation"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-07-12 14:46] magento-engcom-team commented on #33464
@lenaorobei Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-12 14:46] magento-engcom-team commented on #33464
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-12 14:47] #33464 closed, assigned to nobody

[2021-07-12 14:54] marcosdsdba commented on #3307
**Solved in versions 2.4.x**

[2021-07-12 14:57] Jitheesh opened #33465 "Varnish cache adding top menu category ids to all page cache tags"
### Preconditions (*)

1. Magento 2.4
2. Enable varnish cache
3. Enable developer mode to verify Cache tags

### Steps to reproduce (*)

1. Enable varnish cache and make sure it is running
2. Open home page or any CMS page example: /about-us
3. Check Magento cache Tags.

### Expected result (*)
1. x-magento-tags: store,cms_b,cms_b_1,cms_b_footer_links_block,cms_p_5

### Actual result (*)
1. x-mage

[2021-07-12 14:57] Jitheesh commented on #33465
@magento I am working on this

[2021-07-12 15:10] magento-engcom-team commented on #33237
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42822` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-12 15:22] magento-engcom-team commented on #33462
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42823` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-12 15:35] ihor-sviziev commented on #32833
@medigeek, did you kill cron jobs and queue runners? They also might cause such issues.

[2021-07-12 15:52] medigeek commented on #32833
@ihor-sviziev that's a very good point! will add it in the to-do list next time and try it out definitely. Thanks!

[2021-07-12 16:07] hostep commented on #31752
@sdzhepa: can we have some information why this ticket was closed?
It it was closed because it was fixed, it would be appreciated if we can have some links to commits that fixed this.

Thanks! 🙂

[2021-07-12 16:31] #33206 closed, assigned to anzin

[2021-07-12 16:32] djamps commented on #15427
Please see my long post above, this is an issue across all versions, and it has certainly not been fixed.

[2021-07-12 16:43] #32871 closed, assigned to drpayyne

[2021-07-12 16:47] #33312 closed, assigned to mrtuvn

[2021-07-12 17:23] ankarpy commented on #30685
How can I fix this issue?

[2021-07-12 17:34] kerlama commented on #15427
And its certainly not going to be, anytime soon.

On Mon, Jul 12, 2021, 18:32 djamps ***@***.***> wrote:

[2021-07-12 18:43] #33462 closed, assigned to nobody

[2021-07-13 02:54] mrtuvn commented on #15047
![config-1attr](https://user-images.githubusercontent.com/1908873/125382654-42455c80-e3c0-11eb-9a8e-48c2dcfbda50.png)
here is for configurable with 1 attribute swatch

[2021-07-13 04:24] krishprakash commented on #33461
Hi @t-marci5. Feel free to reopen once you update the issue description as per [issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
Thanks

[2021-07-13 04:24] #33461 closed, assigned to nobody

[2021-07-13 05:04] engcom-Hotel commented on #26969
Hi @bartoszkubicki,

Have you got chance to try to reproduce the issue in 2.4.x version?

Thanks

[2021-07-13 05:07] engcom-Hotel commented on #33377
Hi @Dckeystone,

We hope that this issue has been resolved. As we are not able to hear from you since 14 days, we are closing this issue.

If you still facing the issue either you can reopen it or create a new ticket.

Thanks

[2021-07-13 05:07] #33377 closed, assigned to engcom-Hotel

[2021-07-13 05:51] engcom-Hotel commented on #32541
Hi @martinshawruroc,

As per your ticket description, we are able to reproduce the issue. So we are confirming the issue.

Thanks

[2021-07-13 05:55] chequille commented on #31117
@mysil2
Hi again,
unfortunately, your modul does not work if cache is not cleaned. The method beforeGetAllowedProducts is not called if cache is not cleaned after an order was made.

I am really angry now as I am paying for a VSever since half a year and cannot switch to it because of all the bugs in Mangeto 2.4.2

Does somebody know when there will be a 2.4.3 release?
Does somebody may have a sol

[2021-07-13 06:37] bartoszkubicki commented on #26969
Not yet, on my todo list

[2021-07-13 06:52] korovitskyi commented on #33387
@magento I am working on this

[2021-07-13 07:13] engcom-Delta commented on #33118
There has no update from reporter from 14 days. Hence closing the issue.
Kindly log new issue if required or reopen the existing ticket.

Thanks

[2021-07-13 07:13] #33118 closed, assigned to engcom-Delta

[2021-07-13 08:39] lamasfoker commented on #15047
Thanks @mrtuvn for check it out, I think te issue can finally been closed now 🎉

[2021-07-13 08:48] ihor-sviziev commented on #15047
@lbajsarowicz, could you provide more info on how you reproduced it? Thank you!

[2021-07-13 09:18] lbajsarowicz commented on #15047
Ignore it. We fixed that locally on the project.

[2021-07-13 09:26] engcom-November commented on #15047
Thanks for your update @mrtuvn. Closing the ticket as the issue is resolved.

[2021-07-13 09:26] #15047 closed, assigned to engcom-November

[2021-07-13 09:43] kanevbg commented on #31007
If you have cms page with URI key "shipping" you will not be able to save it after migration because the validator of URI key will find that there is frontend route "shipping" defined from module Magento_Shipping.
In practice this will not cause conflict of the URLs, however this validator will prevent the save....

[2021-07-13 10:33] andrei-furnica opened #33472 "State input is the wrong type on checkout"
### Preconditions (*)

1.  Magento 2.4.2-p1
2. int Stores -> Configuraton -> General -> General -> Default country chose a default country a country with mandatory state and predefined list of states (such as Romania)
3. in Stores -> Configuraton -> General -> General set -> Allow countries select only the same country as above
4. enable in store pickup shipping method
5. add inventory source and

[2021-07-13 10:40] mrtuvn commented on #33458
dunno maybe related with persistent customer data from frontend still remain

[2021-07-13 11:11] mahmoudelbadrymokalmat commented on #31117
As a workaround I used the following plugin to disable MSI and deduct directly from stock when ordering a product
https://github.com/AmpersandHQ/magento2-disable-stock-reservation/
Because our use case only has a single inventory for the store

[2021-07-13 11:22] engcom-November commented on #33455
Verified the issue on Magento 2.4-develop branch and the issue is reproducible on both Magento Blank and Luma Theme as well:
Steps:
1. Admin: Create any product with name - starting with any accented characters (Ex: Áaferff)
2. Clear Cache and navigate to Frond-end
3. Sort by Product Name in Descending Order
**Issue:** Product names starting with accented characters are displayed in the first posi

[2021-07-13 11:24] magento-engcom-team commented on #33455
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42833` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-13 11:35] magento-engcom-team commented on #33446
:white_check_mark: Confirmed by @gabrieldagama
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42835` were created

**Issue Available**: @gabrieldagama, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-13 12:19] dvershinin commented on #19710
Fix by @pauldonnelly , or simply running `n98-magerun2 catalog:images:resize` works fine.

[2021-07-13 12:41] Pinchanzee opened #33473 "Dropped functionality: Ability to set "empty text" for UI Component listings"
In Magento1 it was possible to change the text displayed in the dummy empty grid row, by setting _emptyText.
In Magento2 this is hardcoded for UI Components to "We couldn't find any records." in /module-ui/view/base/web/templates/grid/listing.html

Would it be difficult to implement this as a feature of the component's XML?

[2021-07-13 13:04] magento-engcom-team commented on #33456
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42836` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-13 13:10] magento-engcom-team commented on #33434
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42837` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-13 13:13] magento-engcom-team commented on #33460
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-13 13:13] magento-engcom-team commented on #33460
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42838` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-13 13:18] magento-engcom-team commented on #33345
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-13 13:18] magento-engcom-team commented on #33345
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42839` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-13 13:38] mischabraam commented on #27112
This bug is still present in 2.4.2-p1 and occurs with Elasticsearch7 (default config) and PHP7.4

[2021-07-13 14:17] engcom-Delta commented on #33400
Hi @riconeitzel,
Kindly help me in understanding @step 3 "rebuild the sales_order_archive_grid table".How to do it please?

Thanks

[2021-07-13 14:46] engcom-Hotel commented on #32302
Hi @DavidLambauer,

We have tried to reproduce this issue in 2.4-develop branch, but this is not reproducible. May be this issue has been fixed in this branch.

So we request you to please try to reproduce this in 2.4-develop branch and let us know, if you are able to reproduce this issue in this branch.

Thanks

[2021-07-13 17:58] sdzhepa commented on #32976
Hello @engcom-Delta
cc:  @colyield

Thank you for your work and collaboration!
Could you please update the Issue description with content from https://github.com/magento/magento2/issues/32976#issuecomment-876489389 ?

IMHO: steps described in the comment, after your investigation, are more clear transparent. And could help any next person who will work on this issue.

Thank you in advance!

[2021-07-13 18:01] sdzhepa commented on #33418
Hello @engcom-November

Due to comment https://github.com/magento/magento2/issues/33418#issuecomment-876431056

It is not clear you confirmed the issue from the description or from your comment

Could you please update Issue description with clear and valid steps to reproduce?
Thank you in advance!

[2021-07-14 01:47] TinaLMoore commented on #30835
@magento give me 2.4.2 instance

[2021-07-14 04:42] DevAwesomeK commented on #33418
@sdzhepa  and @engcom-November  I've found that the issue is reproducible on Magento 2.4.2 EE having default B2B modules installed. I've raised the issue to magento commerce support and they provided patch for it.

[2021-07-14 05:08] mrtuvn opened #33477 "Migrate to new js cookie"
Current magento used jquery cookie but this package no longer maintained anymore
So we should consider recheck current function and migrate to newer version or another package. Example
https://github.com/js-cookie/js-cookie

current magento is using
https://github.com/magento/magento2/blob/2.4-develop/lib/web/jquery/jquery.cookie.js

### Summary (*)

### Examples (*)

### Proposed solution

---
Pl

[2021-07-14 05:09] mrtuvn commented on #33477
cc: @sivaschenko

[2021-07-14 07:17] mattijv commented on #33437
@engcom-Hotel Any updates on this? Can you look over your results again and confirm that you are able to reproduce the issue, like your screenshots show?

[2021-07-14 07:42] budahs commented on #9696
This is still happening in version 2.4.0. Anyone know if this is solved for later versions? I don't see it in releases notes.

[2021-07-14 08:39] georgebabarus commented on #28966
@magento give me 2.3.5-p1 instance

[2021-07-14 08:42] paugnu commented on #31461
Hi,

To avoid this problem (until it's fixed), you can create a preference and empty the method which is causing the issue:

[code]

[code]

[2021-07-14 09:14] georgebabarus commented on #28966
@magento give me 2.3.5-p1 instance

[2021-07-14 09:26] netzkollektiv commented on #31978
We also reproduced exactly the same issue on 2.4.2 ....

[2021-07-14 09:42] Meberem opened #33479 "Unable to import a Theme with a frontend and a backend"
### Preconditions (*)

1. Magento 2.4
2. Have a Theme with a `frontend` and a `adminhtml` i.e.
[code]

### Steps to reproduce (*)

1. Have an installed instance
2. run `bin/magento app:config:import`

### Expected result (*)

1. The themes are imported and available

### Actual result (*)

1. Cli Error: `Import failed: Item (Magento\Theme\Model\Theme) with the same ID "" already exists.`

### Obse

[2021-07-14 10:46] georgebabarus commented on #28966
@magento give me 2.3.5-p1 instance

[2021-07-14 10:50] georgebabarus commented on #21952
@magento give me 2.3.5-p1 instance

[2021-07-14 12:02] sivaschenko commented on #33306
@konarshankar07 are you still working on this issue?

[2021-07-14 12:03] sivaschenko commented on #33293
@drpayyne are you still working on this issue?

[2021-07-14 13:37] Abhay-Agrawal opened #33482 "Paging Alignment issue on my order page in the front end"
### Preconditions (*)

1. Magento Version 2.4.2-p1
2. more than 10 order id must be visible on my order page
3. steps: My account -> Navigate to My Orders page
4. screenshot
![alignment](https://user-images.githubusercontent.com/55655451/125631302-82e28604-9b53-4df9-a605-d3cd883f142e.png)

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#bac

[2021-07-14 13:47] drpayyne commented on #33293
@sivaschenko, I did for a while but I won't be able to work on this for a couple weeks. So anyone who wants to can pick this up. :)

[2021-07-14 13:51] willboudle commented on #13952
No one has answered this, but I'm curious if this will work.
I guess the only issue could be if we had to cancel more than one of the same order, there _could _ be two orders that are cancelled and share a quote_id.

[2021-07-14 13:53] ZIPITRO commented on #16295
Had the same issue here with 2.4.2p1, modifying the description group in the attribute set fixed it for me, but its still an issue, shall we vote for reopening this issue?

[2021-07-14 14:01] dchaykas commented on #13952
I was able to replicate the issue with the quote ID being duplicated as many times as you trigger the "place order" CTA. I haven't had the time to submit a new issue but this one here is as close as it gets.

This was tested on 3 different Magento configurations.

**Setup used:**
Docker container
Magento 2.4.1
PHP 7.4

**Steps to reproduce:**
1. Add a product to the cart.
2. Go to checkout
3. Go t

[2021-07-14 14:05] engcom-Delta commented on #33417
Hi @ashar01,

Yes, it also tested from Frontend, it works as expected.
Please find attached video for reference.

https://r5---sn-npoe7ned.c.chat.google.com/videoplayback?expire=1626282141&ei=be7uYMqLLeLAn88P55Ga8Ak&ip=27.59.179.162&id=4cd3a921146052db&itag=18&source=hangouts_chat&requiressl=yes&sc=yes&susc=hc&mime=video/mp4&vprv=1&dur=20.085&lmt=1626271282750452&txp=0011224&sparams=expire,ei,ip,i

[2021-07-14 15:32] anzin commented on #33293
@magento I am working on this

[2021-07-14 16:34] engcom-Hotel commented on #32705
Hi @jigar48,

It seems that your issue has been resolved. We are not able to hear from you since 14 days, so we are closing this issue for now.

If you still facing the issue either you can reopen it or create a new ticket.

Thanks

[2021-07-14 16:34] #32705 closed, assigned to engcom-Echo, engcom-Hotel

[2021-07-14 16:37] JelleGe commented on #28387
Any update on this? We face this issue also and now reached the max of int on catalog_product_entity_varchar

[2021-07-14 16:52] ilnytskyi commented on #28387
@JelleGe try to recreate a column and change autoincrement lock mode to 0 as I described in workaround.

[2021-07-14 16:55] JelleGe commented on #28387
@ilnytskyi Thanks! I tried to recreate a column using your workaround, but we get a query error; Query 1 ERROR: Duplicate column name 'value_id'

[2021-07-14 17:49] andrewbess commented on #32873
@magento I am working on it

[2021-07-14 18:05] nathanjosiah commented on #28067
@magento give me 2.3.5 instance

[2021-07-14 18:06] WilliejanB commented on #33263
Fixed locally by changing Magento code at this core file - vendor/magento/module-catalog/Model/Product/Type/AbstractType.php

"Error: Call to undefined method Magento\Catalog\Model\Product\Option\Type\File\ValidatorFile::setIsValid() in /home/lasersp2/public_html/vendor/magento/module-catalog/Model/Product/Type/AbstractType.php:521

Please fix in next update.

[2021-07-14 18:08] engcom-Hotel commented on #29806
Hello @dverkade,

We have tried to reproduce the issue in 2.4-develop, but this is not reproducible. As per your comment,  if the indexing fails then the cache should not flush, So I just stop ES service, so that indexing fails while running cron.

And then check the page load time, but it is still loading in milliseconds, and whenever I flush the cache the homepage takes around 5 to 9 seconds in

[2021-07-14 22:49] #30853 closed, assigned to nobody

[2021-07-14 22:59] #25947 closed, assigned to nobody

[2021-07-15 02:55] DuySexy commented on #30194
https://community.magento.com/t5/Magento-2-x-Technical-Issues/Magento-2-4-1-ElasticSearch-7-9-1-not-working-suddenly/td-p/461464 this solution worked for me.

p/s: need clear cache and reindex

[2021-07-15 03:47] mrtuvn commented on #33482
what theme that you used ? magento theme or custom

[2021-07-15 05:06] Abhay-Agrawal commented on #33482
I am using the default Magento Luma theme. Please check the issue with the 2.4.2-p1  version

[2021-07-15 07:47] qsolutions-pl commented on #24199
This issue can be reprodeuced in ALL M2.4 versions...

[2021-07-15 07:51] engcom-November commented on #33418
Hi @DevAwesomeK, I verified the issue on Magento 2.4 develop branch having both EE and B2B Modules installed but the issue is not reproducible with the steps provided by you but is reproducible with other steps which I've mentioned in the [comment](https://github.com/magento/magento2/issues/33418#issuecomment-876431056)
@sdzhepa I have provided link of my comment in the Issue description at the en

[2021-07-15 08:01] engcom-November commented on #33395
Hi @vseager,
We are closing the issue as there has been no latest update on the same.
Thank you.

[2021-07-15 08:01] #33395 closed, assigned to engcom-November

[2021-07-15 08:05] engcom-November commented on #33254
Hi @mikamarkus,
We are closing the issue as there has been no latest update on the same.
Thank you.

[2021-07-15 08:05] #33254 closed, assigned to engcom-November

[2021-07-15 08:07] jakwinkler opened #33486 "Multiselect attribute, not all options are saved in database."
### Preconditions (*)

1. Magento 2.4.2,
2. Magento 2.4.1,
3. Magento 2.4.2-p1,
4. Magento 2.3.x

### Steps to reproduce (*)

1. Create a new `multiselect` attribute
2. Add at least **150** options to an attribute
3. Add an attribute to main attribute set
4. create a product and assign ALL options to the product

### Expected result (*)

1. All options are selected (as they are not saved) in `cata

[2021-07-15 08:09] magento-engcom-team commented on #33408
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42851` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-15 08:11] qsolutions-pl commented on #33486
You can cleary see the issue if you look in the database, `value` limit is 255 characters in `catalog_product_entity_varchar`
![image](https://user-images.githubusercontent.com/4256191/125753118-3475beba-6338-4bd4-8975-3e9c3865436d.png)

[2021-07-15 08:16] magento-engcom-team commented on #32468
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42852` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-15 08:28] magento-engcom-team commented on #33426
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42853` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-15 08:59] Puru2016 opened #33488 "Magento2: Default value is not working of Date type product attribute?"
### Preconditions (*)
1.  Magento ver 2.3.1

### Steps to reproduce (*)
1. Create Date Type Product Attribute using - Admin -> Stores -> Attributes -> Product -> Add New Attribute -> Select Input Type: Date, Advanced Attribute Properties -> Select any Default Value and save
Storefront Properties -> Select Yes to be visible on Front end
2. Clear cache, cache flush & reindex
3. Navigate to Admin ->

[2021-07-15 09:43] magento-engcom-team commented on #33445
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42855` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-15 09:48] engcom-Hotel commented on #32836
Hello @webtekindo,

We have tried to reproduce the issue in Magento 2.4-develop branch, but are unable to do so. We have followed below steps in order to reproduce the issue:
1. Enable varnish from the admin panel. We have Varnish 6 installed.
2. Follow the steps documented in [Link](https://devdocs.magento.com/guides/v2.4/config-guide/varnish/config-varnish-magento.html).
3. Remain uncomment the

[2021-07-15 09:51] clahaut opened #33489 "Je n'arrive pas à changer le language (passer de anglais UK à Français)"
### Preconditions (*)

1. je me connecte, je souhaite changer la langue dans mes paramètres de compte
2. je ne peux sauvegarder en français

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2. je souhaite passer en français

---
Please provide [Severity](https://devdocs.magento.com/gui

[2021-07-15 09:57] #33482 closed, assigned to engcom-Delta

[2021-07-15 09:58] Abhay-Agrawal commented on #33482
Close

[2021-07-15 10:13] engcom-Delta commented on #33195
There has no update from reporter and it has been more than ~14 days. Hence closing the ticket.
Kindly raise new issue if required or re-open the existing ticket.

Thanks

[2021-07-15 10:13] #33195 closed, assigned to engcom-Delta

[2021-07-15 10:34] engcom-November commented on #33184
Verified the issue on Magento 2.4-develop branch and the issue is resolved:
**Steps performed:**
Clean up var/view_preprocessed and pub/static/frontend dirs

Made some error in below file:
For example remove semicolon from https://github.com/magento/magento2/blob/2.4-develop/app/design/frontend/Magento/luma/Magento_Theme/web/css/source/_module.less#L13
![image](https://user-images.githubuserconten

[2021-07-15 10:35] engcom-Delta commented on #33473
Hi @Pinchanzee,
Kindly provide the steps to reproduce the issue, Expected results and Actual results.

Thanks

[2021-07-15 10:45] magento-engcom-team commented on #33450
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42856` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-15 10:51] hostep commented on #17673
I'm going through a backlog of email alerts from github and found out this issue got closed for no good reason.

So to double check, I tried the same scenario again on the latest `2.4-develop` branch (using commit ab591597f860fdee5572d3894c649100e42d884c) and I can still exactly reproduce the problem.

So the issue shouldn't have been closed.

/cc @sdzhepa, @sidolov: can this ticket be reopened pl

[2021-07-15 11:01] engcom-Delta commented on #33458
Hi @Eddcapone,
Kindly update expected results and actual results. So that we will try to replicate the issue.
Hence added the label 'Needs Update'.

Thanks

[2021-07-15 11:08] mrtuvn commented on #33245
i think actually issue knockout not translated text correct in phtml file
From magento 2.4 i dont see file js-translation.json contain anything when compare with previous version

[2021-07-15 11:10] engcom-Hotel commented on #26969
Hello @bartoszkubicki,

We have waited for your response regarding reproducing the issue in the 2.4-develop branch for more than 14 days, but we are not able to get a response. Hence we are closing this issue for now.

If you still facing the issue, either you can reopen it or create a new ticket.

Thanks

[2021-07-15 11:10] #26969 closed, assigned to engcom-Hotel

[2021-07-15 11:12] engcom-Delta commented on #26960
There has no update from reporter and it has been 14 days. Hence closing the issue.
Kindly log a new issue if required or re-open the existing issue.

Thanks

[2021-07-15 11:13] engcom-November commented on #33259
@webgility-amazonapi , we are closing this issue as there has been no latest update on the same.
Thank you.

[2021-07-15 11:16] engcom-Hotel commented on #33250
Hello @TonyDeStefano,

We are unable to get a response from you since last more than 14 days. So we are closing this issue for now.

If you still facing the issue, either you can reopen it or create a new ticket.

Thanks

[2021-07-15 11:16] #33250 closed, assigned to engcom-Hotel

[2021-07-15 11:18] engcom-Delta commented on #33286
There has no update from reporter and it has been more than 14 days. Hence closing the issue.

[2021-07-15 11:18] #33286 closed, assigned to engcom-Delta

[2021-07-15 11:20] engcom-Hotel commented on #33328
Hello @kennedyabitbol,

As communicated earlier that the issue has been fixed already. So we are closing this ticket for now.

If you still facing the issue, either you can reopen it or you can create a new ticket.

Thanks

[2021-07-15 11:20] #33328 closed, assigned to engcom-Hotel

[2021-07-15 11:29] m2-assistant[bot] opened #33490 "[Issue] ISSUE-20004: Refactoring minimum order amount including tax value in the calculate"
This issue is automatically created based on existing pull request: magento/magento2#33327:  ISSUE-20004: Refactoring minimum order amount including tax value in the calculate

---------
### Description (*)
It fixes the issue reported when the tax value was not taking account when the minimum order amount was blocking the customer proceed to checkout even when the grant total of the cart was bigge

[2021-07-15 11:29] #33490 closed, assigned to viniciusbord9

[2021-07-15 11:40] magento-engcom-team commented on #33134
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42857` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-15 12:05] engcom-November commented on #32692
Based on the labels added, we are closing this issue.
Thank you

[2021-07-15 12:05] #32692 closed, assigned to engcom-Golf

[2021-07-15 12:11] pauldonnelly commented on #9703
@magento-engcom-team I am having the same issue on 2.3.3. Is there a Patch we can apply to fix this ? Promotion going out soon and it's a requirement.

[2021-07-15 12:21] magento-engcom-team commented on #33357
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-15 12:22] magento-engcom-team commented on #33357
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42858` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-15 12:39] mrtuvn commented on #32780
Seem related with recently prob

[2021-07-15 12:41] Pinchanzee commented on #33473
This is a feature request, reproduction steps are not applicable

On Thu, 15 Jul 2021, 11:35 Penchalaiah K, ***@***.***> wrote:

[2021-07-15 12:47] hostep commented on #18519
Comment above seems to be incorrect. But it appears that this problem is fixed anyways in Magento `2.4-develop` at least after quickly testing it.

If I have to guess, it might have been this PR that fixed it: https://github.com/magento/magento2/pull/28856, which was included in Magento 2.4.1

[2021-07-15 12:49] barbazul commented on #31428
@engcom-Hotel  Yes I ran into that one as well. Its a different head for the same monster. This one is a little easier to work around as you can actually change the value of the offending config from `'[]'` to `[]`.

The issue is explained more thotoughly in https://github.com/magento/magento2/issues/12298

[2021-07-15 13:28] #32302 closed, assigned to engcom-Hotel

[2021-07-15 13:31] hostep commented on #28367
Implementing the requested functionality will increase the confusion even more due to the way the priority order works.
Because the settings defined in `app/etc/config.php` file have a higher priority over the settings in the database. So if those fields are enabled in the Magento backend in developer mode, changing them will result in no real changes and it will even be more confusing.

I vote to

[2021-07-15 13:46] #32855 closed, assigned to karyna-t

[2021-07-15 13:58] mrtuvn commented on #32853
seem this package related with prototype

[2021-07-15 14:00] hostep commented on #14674
@tuyennn: could you open a new issue with steps of how to reproduce the problem? The storeswitcher feature has been broken and fixed and broken again, many times in many different magento versions. So it could be a slightly different bug the the one in this thread.

[2021-07-15 14:07] sivaschenko opened #33492 "Test bug"
Test bug 11111

[2021-07-15 14:07] tuyennn commented on #14674
@hostep Realized the hardcode 5s caused the problem
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Store/Model/StoreSwitcher/HashGenerator.php#L109

[2021-07-15 14:10] sivaschenko commented on #33492
@magento export issue to Jira project AC

[2021-07-15 14:14] hostep commented on #14674
Ah right, you are talking about https://github.com/magento/magento2/issues/33042, okay, good to know!

[2021-07-15 14:18] lbajsarowicz opened #33493 "Admin Product Dashboard Pagination is broken"
### Preconditions (*)
1. Magento Community Edition 2.4.2
2. Regular setup with PHP 7.4 and MariaDB

### Steps to reproduce (*)
1. Create 1000 simple products, 21 configurable products
2. Enter **Catalog > Products** grid
3. Filter by Type: Configurable

### Expected result (*)
1. Results count displays the actual number of filtered items (21)
2. There are only 2 pages in the pagination

### Actual

[2021-07-15 14:21] DavidLambauer commented on #32302
Well, maybe we wait two more weeks if the next person confirms the issue again? A couple of people mentioned that this is still valid and has not been fixed yet. I can't provide even more information. I think the description and how you reproduce this issue is pretty clear.

[2021-07-15 14:26] #33492 closed, assigned to nobody

[2021-07-15 14:42] mrtuvn commented on #33493
long time no see you

[2021-07-15 15:00] engcom-November commented on #33184
Hi @mkidon ,
As mentioned in the above [comment](https://github.com/magento/magento2/issues/33184#issuecomment-880586831), issue is not reproducible on Magento 2.4-develop branch. Hence, closing this issue.
Thank you.

[2021-07-15 15:00] #33184 closed, assigned to engcom-November

[2021-07-15 16:23] #28614 closed, assigned to nobody

[2021-07-15 16:28] mattyl commented on #28614
why is this closed???

[2021-07-15 19:50] cse00241 opened #33496 "Square Payments can't translate Card details"
Magneto 2.4.1 With Latest Version Of Square Payment, Credit card come from I-frame and Can't Translate the Card Number, CVV, and others info which come from the I-frame.

I want to translate Square Payment - Credit card data. But problem is latest magento 2.4.1 wit latest Square extension has create card with Iframe so It can't be translate with Jquery, JS, CSS anything can't work on Iframe on thi

[2021-07-15 20:03] LuisF-Salazar commented on #32118
I was also having this exact same issue on my local development environment. I recently upgraded from 2.3.4-p2 to **2.4.2-p1**. After the upgrade, reindexing would fail with:
`Catalog Search index process unknown error:
Warning: substr() expects parameter 1 to be string, object given in /Users/luissalazar/Sites/knifecenter/vendor/colinmollenhour/cache-backend-redis/Cm/Cache/Backend/Redis.php on li

[2021-07-15 20:19] andrewbess commented on #32868
Hello @sivaschenko
I have added the PR with the fixes of the codebase according to your request. FYI, my PR updates `monolog/monolog` to version 2.3.1.
Please check it after all tests are passed successfully.

[2021-07-16 01:53] mrtuvn commented on #33493
Hi @lbajsarowicz  Can you update more details related with issue ? Thanks you for reporting

[2021-07-16 02:01] mrtuvn commented on #33496
Seem limited with external module or module not quite well support for magento. Is this open source module on github ?
Not sure but imho this is problem from module issue not from magento issue

[2021-07-16 02:04] mrtuvn commented on #32118
i think catalog search unkown index issue may related with something else. Current we not sure what is root cause here
Some people case got related with csp but some don't!

[2021-07-16 02:05] mrtuvn commented on #32118
Reopened for investigates

[2021-07-16 03:33] mrtuvn commented on #32845
Actually i have one PR for this but seem not get attention

[2021-07-16 05:25] Puru2016 commented on #33488
@engcom-November Any update on this? or let me know if you required more information in this.

[2021-07-16 06:03] lbajsarowicz commented on #33493
Hey! Yes, of course - I managed to find some time early morning to fill missing details @mrtuvn

[2021-07-16 06:07] engcom-November commented on #33488
Verified the issue on Magento 2.4-develop branch and the issue is reproducible with below steps followed:
1. Admin -> Stores -> Attributes -> Product -> Add New Attribute -> Select Input Type: Date, Advanced Attribute Properties -> Select any Default Value and save
Storefront Properties -> Select Yes to be visible on Front end
2. Clear cache, cache flush & reindex
3. Navigate to Admin -> Catalog -

[2021-07-16 06:10] magento-engcom-team commented on #33488
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42860` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-16 07:19] mrtuvn commented on #33493
Is this related problem that you sent to me via slack message ?

[2021-07-16 08:02] vseager commented on #33395
@magento give me 2.4-develop instance

[2021-07-16 08:20] magento-engcom-team commented on #32596
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-16 08:22] magento-engcom-team commented on #32596
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-41612` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-16 08:28] engcom-November commented on #32916
Verified the issue on Magento 2.4-develop branch having EE and B2B modules installed, but the issue is not reproducible with mentioned steps:
Steps performed:
Navigate to Admin -> Configured UPS Shipping Method (Stores - Configuration - Sales - Shipping Methods - UPS)
Removed Title of UPS Shipping method and Saved
Clear cache
Navigate to Stores -> Configuration -> General -> B2B Features
**No issu

[2021-07-16 08:39] JelleGe commented on #28387
It's a fine temporary solution that works, but it's a matter of time before it returns. So will there become a solution in a future Magento core update?

[2021-07-16 08:42] savandholu opened #33500 "vendor/magento/framework/Data/Collection.php"
vendor/magento/framework/Data/Collection.php

line : 406

[code]
become => below, wait for M2 fix
 public function addItem(\Magento\Framework\DataObject $item)
    {
        $itemId = $this->_getItemId($item);

        if ($itemId !== null) {
            if (isset($this->_items[$itemId])) {
            return $this;
            }
            $this->_items[$itemId] = $item;
        } else {

[2021-07-16 08:57] Eddcapone commented on #33458
@engcom-Delta I updated it.

[2021-07-16 08:57] vseager commented on #33395
Tested and can't reproduce on 2.4-develop

[2021-07-16 08:59] #32847 closed, assigned to nobody

[2021-07-16 08:59] #33207 closed, assigned to anzin

[2021-07-16 09:05] #32854 closed, assigned to anzin

[2021-07-16 09:27] engcom-Hotel commented on #28195
Hello @liamjtoohey,

Can you please share with us the payload you are using for creating the swatch attribute? It will help us in look into the issue.

Thanks

[2021-07-16 09:42] vseager commented on #33395
@magento give me 2.4.2-p1 instance

[2021-07-16 10:00] netzkollektiv commented on #31978
Ok, this seems to be a migration issue (migrated with official Magento 1 migration tool). If someone experiences this issue, please check if the "Catalog Price Scope" matches the Product Attribute Scope of "price". They should match, either `global` or `website`.

[2021-07-16 10:37] engcom-Delta commented on #29373
Hi @miguelbalparda,

Tried reproducing the issue on Magento 2.4 Develop and Magento 2.4.2 but not clear  on which server you are trying to install @step no 2.Please provide server details.

Kindly specify what are the different paths you have found.so that we can reproduce this issue.

Hence added the label 'Needs Update'

Thanks

[2021-07-16 10:43] vseager commented on #31978
@netzkollektiv I have checked on our client's site and they weren't matching. I set them both be "website" but it didn't solve the issue for us on Magento 2.4.2-p1

[2021-07-16 10:55] engcom-Hotel commented on #32674
Hello @Naberdz,

We have tried to reproduce the issue in Magento 2.4-develop. But unable to reproduce the same. We have tried to overwrite "Stock Status" from the "Advanced Inventory" section and added one more option in the dropdown and it is added successfully.

And only one form element of "Stock Status" is showing for us. Please find below screenshot for reference:

<img width="610" alt="Scree

[2021-07-16 11:09] willemyouweagency commented on #12817
Hi @magento-engcom-team , I have the following Magento version:

`"magento/product-enterprise-edition": "2.4.2-p1"`

The commits where the fix was applied (see comment above) do not seem to be applied to this version. Any idea why this is the case and how to solve this?

[2021-07-16 11:10] victortodoran opened #33501 "Braintree Error Logs with Braintree Payment Disabled."
### Preconditions (*)

1. Magento 2.4.2 (probably for older versions as well

### Steps to reproduce (*)

1. Fresh install
2. Ensure Braintree payment method is disabled
3. Place an order

### Expected result (*)

1. Order is placed. No Error Logs.

### Actual result (*)

MagentoRoot Folder/var/log/system.log ->
Below Error message is gettting printed in system.log after placing orders using other

[2021-07-16 11:34] ankithg03 opened #33502 "Magento 2 Wishlist GraphQl Not Working. if the product which is not even related to user's wishlist removed."
### Preconditions (*)

1. Magento ver 2.4.2
2. Magento ver 2.4.2-p1

### Steps to reproduce (*)

1. keep alot of products in your Magento.
2. add products to wishlist.(Must be Logged in User)
3. then delete a Product with id 5, if your wishlist id is 5 which is not any way related to that wishlist or to customer.

### Expected result (*)

1. The Proper Response of wishlist item and its product
2.

[2021-07-16 11:34] ankithg03 commented on #33502
I'm Working on the issue

[2021-07-16 12:15] engcom-Delta commented on #33442
Hi ,
We tried to reproduce the issue  and created the more number of users and waiting for expiring.
Thanks

[2021-07-16 12:54] engcom-November commented on #33472
Unable to verify this issue on Magneto 2.4-develop branch as add inventory source and In-store pickup shipping method options are not available in 2.4-develop branch. Hence verified this issue on Magento 2.4.2-p1 version and the issue is reproducible:
Steps:
1. Admin -> Stores -> Configuraton -> General -> General -> Default country chose a default country a country with mandatory state and predef

[2021-07-16 12:56] magento-engcom-team commented on #33472
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42863` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-16 13:57] engcom-Delta commented on #33280
Hi @tyago343,

As per comments provided , issue is already confirmed. it is still reproducible on Magento 2.4.2-p1. Hence adding the label 'Issue confirmed'.

Thanks

[2021-07-16 13:59] magento-engcom-team commented on #33280
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42864` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-16 13:59] engcom-Hotel commented on #33241
Hello, @preeteshtavant,

We have tried to reproduce the issue in Magento 2.4-develop branch but it is not reproducible. We have followed below steps:

1. Setup 2 websites other than the default website (for India and the US).
2. Create a product that is allowed for all the websites including the default one.
3. Hit the media API (rest/default/V1/products/t1/media) to upload an image with below pay

[2021-07-16 14:22] AndyJAllen commented on #23462
My thoughts exactly.... I understand why the EAV approach exists but for people with relatively small catalogs FLAT would be far more ideal... The EAV approach is a nightmare with running queries.

[2021-07-16 16:20] sivaschenko opened #33506 "Update elasticsearch/elasticsearch composer dependency to version 7.13.1"
Update elasticsearch/elasticsearch composer dependency to version 7.13.1

[2021-07-16 16:20] sivaschenko opened #33507 "Update friendsofphp/php-cs-fixer composer dependency to version 3.0.0"
Update friendsofphp/php-cs-fixer composer dependency to version 3.0.0

[2021-07-16 16:20] sivaschenko opened #33508 "Update guzzlehttp/guzzle composer dependency to version 7.3.0"
Update guzzlehttp/guzzle composer dependency to version 7.3.0

[2021-07-16 16:21] sivaschenko opened #33509 "Update laminas/laminas-code composer dependency to version 4.4.2"
Update laminas/laminas-code composer dependency to version 4.4.2.

[2021-07-16 16:21] sivaschenko opened #33510 "Update magento/composer composer dependency to version 1.7.0"
Update magento/composer composer dependency to version 1.7.0

[2021-07-16 16:22] sivaschenko opened #33511 "Update phpmd/phpmd composer dependency to version 2.9.1"
Update phpmd/phpmd composer dependency to version 2.9.1

[2021-07-16 16:23] sivaschenko opened #33512 "Update npm packages to the latest versions"
Update npm packages to the latest versions

The following npm packages should be updated:

- grunt
- grunt-contrib-clean
- grunt-contrib-connect
- grunt-contrib-cssmin
- grunt-contrib-imagemin
- grunt-contrib-less
- grunt-eslint
- imagemin-svgo
- morgan
- path
- serve-static
- squirejs
- strip-json-comments
- time-grunt
- underscore

### Conclusion

- glob from ~7.1.1 to ~7.1.7 (latest)
- grunt fr

[2021-07-16 17:17] sivaschenko commented on #33512
@magento export issue to Jira project AC as Story

[2021-07-16 17:18] sivaschenko commented on #33511
@magento export issue to Jira project AC as Story

[2021-07-16 17:21] sivaschenko commented on #32869
@drpayyne @andrewbess @jilu1 can csharpru/vault-php-guzzle6-transport be eliminated from MFTF (or replaced with active alternative)?

cc @fascinosum

[2021-07-16 17:21] #33508 closed, assigned to nobody

[2021-07-16 17:23] sivaschenko commented on #33510
@magento export issue to Jira project AC as Story

[2021-07-16 17:23] sivaschenko commented on #33507
@magento export issue to Jira project AC as Story

[2021-07-16 17:24] sivaschenko commented on #33506
@magento export issue to Jira project AC as Story

[2021-07-16 18:26] Sartoric opened #33513 "Modal Confirmation widget always popup on init, even if autoOpen in set to false"
### Preconditions (*)

2.3.5-p1 and 2.4.2

### Steps to reproduce (*)

1. Add a confirmation modal widget in any way

### Expected result (*)

Based on docs (https://devdocs.magento.com/guides/v2.4/javascript-dev-guide/widgets/widget_confirm.html) I should be able to use the autoOpen option to avoid the modal to be shown on init.

### Actual result (*)

The confirmation modal is always shown on cr

[2021-07-16 22:40] lbajsarowicz commented on #15196
If I understand the issue correctly, it is still there - I am unable to use custom `TESTS_GLOBAL_CONFIG_FILE` to adjust the settings for tests.

[2021-07-16 23:13] lbajsarowicz commented on #27864
As Magento Core Team removed the way to use custom pools, what is the correct approach to load custom config file in the Integration tests?
![image](https://user-images.githubusercontent.com/1639941/126016784-aff0c78a-0358-49ab-afc5-a515fa8e7984.png)

[2021-07-17 05:37] mrtuvn commented on #33513
This.openModal actually call to parent Magento_Ui/js/modal/modal openModal. But i think they check variable in there

[2021-07-17 06:51] preeteshtavant commented on #33241
Magento ver. 2.4.1

![pic3](https://user-images.githubusercontent.com/85919383/126028626-295cec27-fbf9-48f7-b60d-0ec63a81440e.png)
![pic2](https://user-images.githubusercontent.com/85919383/126028628-1a30b7b6-8486-4010-a928-817e82716ecb.png)
![pic1](https://user-images.githubusercontent.com/85919383/126028630-7d318e2a-1a70-4949-942c-df2d31d738b4.png)

api url : http://127.0.0.1/magento-241-1/rest/

[2021-07-17 09:45] mrtuvn commented on #33513
Seem copy-paste faults. I think autoopen only work for modal only. Other type (confirm, alert, prompt) will auto show by default

[2021-07-17 10:44] mrtuvn commented on #33512
Hi @sivaschenko
Upgrade all packages may come with some broken in grunt compile flow. Previous i saw less current version of magento not compatible with higher version. Less latest version is 4.x. Grunt have some updated too but i'm not sure current magento less lib allow we get into there

[2021-07-17 13:12] karyna-tsymbal-atwix commented on #33509
@magento I am working on this

[2021-07-17 13:13] karyna-tsymbal-atwix commented on #33507
@magento I am working on this

[2021-07-17 14:32] OvalMedia commented on #22379
2.4.2 here

Customer wants to hide all out of stock products from the catalog but still show them in configurable products so his customers can see that variants are available in general. The config option "Display Out of Stock Products" enables/disables both at once but cannot handle both situations seperately.

I tried to code around the issue with overrides but ran into a cascade of privately d

[2021-07-17 14:40] OvalMedia commented on #22379
Magento\ConfigurableProduct\Model\Product\Type\Configurable

private functions:

- getConfiguredUsedProductCollection
- getAttributesForCollection

private members:

- searchCriteriaBuilder
- productAttributeRepository

Why? What's the point?

[2021-07-17 17:16] #32666 closed, assigned to nobody

[2021-07-17 17:27] jordanvector commented on #28614
This should not be closed, this issue is being actively exploited in the wild with no official solution. Please reopen. @magento-engcom-team

[2021-07-17 19:39] pcmerc commented on #28614
Agreed, but it’s easier to sweep it under the rug….
Software, one of the few things they want you to pay for that is never complete. 😉

From: Jordan Victor Schinella ***@***.***>
Reply-To: magento/magento2 ***@***.***>
Date: Saturday, July 17, 2021 at 10:27 AM
To: magento/magento2 ***@***.***>
Cc: John Gisler ***@***.***>, Mention ***@***.***>
Subject: Re: [magento/magento2] Carding Attack (#28614

[2021-07-17 19:41] magenx commented on #28614
this is not magento issue, payment gateway is responsible, but their modules usually lack any settings.

[2021-07-17 21:34] Genaker commented on #28614
It is really easy to fix issues on the Magento level. If stop thinking
about Magento 2 junky software design and think about how to kill the
issue.

On Sat, Jul 17, 2021 at 12:41 PM MagenX ***@***.***> wrote:

[2021-07-18 04:18] magento-engcom-team commented on #32361
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42870` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-18 04:27] magento-engcom-team commented on #32976
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42871` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-18 04:28] magento-engcom-team commented on #33418
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42872` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-18 04:30] magento-engcom-team commented on #33425
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42873` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-18 04:31] magento-engcom-team commented on #33352
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42874` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-18 04:33] magento-engcom-team commented on #33263
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42875` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-18 04:33] magento-engcom-team commented on #33263
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42875` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-18 04:36] magento-engcom-team commented on #33101
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42876` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-18 06:36] sachinkhairnar commented on #21738
I had imported the prices wrongly and got this error while updating each product "Tier prices data should be array, but actually other type is received". Thank you @khasru , your trick corrected it. I am using Magento 2.3.3 and in my case the eav_attribute id is 92.

[2021-07-18 18:27] heqixi commented on #18752
I encounter this issue on magento2.4.2,  my reproduce steps are:
1.   create a customer account in my landing page;
2.   log in admin page, create a user (not a customer) account **with the same email address which is used in step 1**,  and then save the user,  the following excepion message was shown

i do not know how to fix, help me please !

----------------------------------------------
1 exc

[2021-07-18 22:32] ioweb-gr commented on #33386
Let me add more info here. I tracked down this post

https://maxchadwick.xyz/blog/lessons-learned-during-a-recent-magento-2-deploy

It seems that during operations which lock the tables, dropping the trigger or creating it has to actually wait for all database locks to disappear.

Looking further into the process I noticed that in my case it was trying to build the catalog price replica tables for

[2021-07-19 04:24] HarryChiu opened #33517 "Wrong order status on "Payment on Account" method in Magento Commerce"
### Preconditions (*)
1. Magento Commerce 2.4.1

### Steps to reproduce (*)
1. Enable "Payment on Account" in payment method
2. Create custom order status like 'pending_shipment' and assign to processing state
3. Select your custom order status like 'pending_shipment' in "New Order Status" in "Payment on Account" method in backend.
4. When you place the order, order status will not change.

### Ex

[2021-07-19 05:29] engcom-Bravo commented on #33174
Hi @tranhoangthien1990 ,

In both cases of manual product creation and import through CSV file, following is the behaviour:
1. URL key field is autogenerated as per new product name even for 'Not visible individually' products.
2. URL rewrite is not created for 'Not visible individually' products.

If you are able to see URL rewrites created for 'Not visible individually' products, Please share th

[2021-07-19 05:53] engcom-Hotel commented on #31888
Hello @Ckaneriya,

It seems that your issue has been resolved. We are not able to hear from you for the last 14 days so we are closing this issue for now.

If you are still facing the issue you can reopen it.

Thanks

[2021-07-19 05:53] #31888 closed, assigned to engcom-Echo, engcom-Hotel

[2021-07-19 05:56] engcom-Hotel commented on #33319
Hello @marvincaspar,

It seems that your issue has been resolved. We are not able to hear from you for the last 14 days. So we are closing this issue for now. If you are still facing the issue then you can reopen it.

Thanks

[2021-07-19 05:56] #33319 closed, assigned to engcom-Hotel

[2021-07-19 06:02] rightmarc opened #33518 "Some of the product URL not working in Magento 2.4.2"
### Preconditions (*)

1. Magento Commerce 2.4.2

### Steps to reproduce (*)

1. Create a simple product from admin with Product name as "pubg-hard-back-case-for-oppo-f5-562" (Admin - Catalog - Products - Add Simple Product) and save
Note: Stores -> Configuration -> Catalog -> Catalog -> Search Engine Optimization -> Make sure html suffix is removed before searching using url-key from front-end
2.

[2021-07-19 06:04] Ckaneriya commented on #31888
@engcom-Hotel I have checked your last reply. I noticed that you have only one category. That is the default category in your environment. when we had upgraded our environment, we had so many real categories with real data.

[2021-07-19 06:50] mackieee commented on #31888
I’m almost certain this is happening when:

- A third party module in app/code has an install/upgrade script.
- The module adds an attribute to a category that provides a list of options, thus uses a custom Source model
- Upon first setup:upgrade on a fresh upgrade on Magento; these options are not present, hence the error

Both me and OP had third party modules, this I’m sure can’t be replicated

[2021-07-19 06:50] engcom-November commented on #33459
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps performed:
1. Admin -> Marketing -> Cart Price Rules -> Add New Rule -> Create promo cart rule by setting expiry date with today's date
2. Front-end - Sign to the website - Add a product to cart -> Apply Coupon/Discount code
3. Wait till tomorrow so that the Promo code is expired and refresh Front-end Shopping Ca

[2021-07-19 06:53] magento-engcom-team commented on #33459
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42879` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-19 06:56] engcom-November commented on #33365
Hi @diegozanotti ,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-07-19 06:56] #33365 closed, assigned to engcom-November

[2021-07-19 06:57] onlinebizsoft commented on #33459
If you test with the mini cart (without visiting the checkout cart and checkout page) then the total will be wrong on all pages

[2021-07-19 07:06] Ckaneriya commented on #31888
@mackieee Yes, you are right. we have developed one custom module which adds on attribute in all categories and we are indeed having the install script in the custom module.

[2021-07-19 07:28] mrtuvn commented on #31888
i think in this case you can check from your end with custom module for work with magento. I'm not sure this is magento bug or not without module check. You can share your custom module if possible. Without module it's hard to tell exactly problem. Maybe we still need fix from both magento end and custom module too

[2021-07-19 07:47] aaronhuang1 commented on #13149
same issue on 2.4.1

[2021-07-19 07:49] engcom-Hotel commented on #33389
Hello @VikasSingh1694,

We are confirming this issue with an updated description in the section "Steps to reproduce".

Thanksw

[2021-07-19 07:52] magento-engcom-team commented on #33389
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42880` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-19 08:00] HarryChiu commented on #33517
I've made a fix for this:
Use order state to replace that setting.
etc/adminhtml/system.xml:
[code]

Vendor\MyFix\Model\Config\Source\Order\State\Newprocessing:
[code]

[2021-07-19 08:36] alexmtch opened #33519 "Template file retrieving should be store scoped"
### Preconditions (*)
1. Magento 2.3.6 or lower (maybe greater)

### Steps to reproduce (*)
Setup Multiple Stores/websites in Magento
Create 2 different Stock Alert Email Templates for each store (Marketing - Communications - Email Templates - Add New Template)
Enable Product Alerts and Apply the newly created templates for each Store
Stores - Configuration - Catalog - Catalog - Product Alerts - S

[2021-07-19 08:57] engcom-Delta commented on #33270
There has no update from Reporter and it has been more than 14 days. Hence closing the ticket.

[2021-07-19 08:57] #33270 closed, assigned to engcom-Delta

[2021-07-19 09:24] mrtuvn commented on #33473
wonder why do you not replace in custom module or custom theme in admin

[2021-07-19 09:25] Den4ik commented on #33502
@ankithg03 After removing product that contained in customer wishlist I receive empty response
[code]

Wishlist items linked to product table and after removing the product wishlist item removed too.
May be you could add more details for reproducing the issue.

[2021-07-19 09:27] anzin commented on #33511
@magento I am working on this

[2021-07-19 09:35] engcom-November commented on #33489
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
**Steps performed:**
Login to Admin
Navigate to Account Settings page
Interface Locale - Change the Language to UK English, provide admin password and Save Account - **No Issue**
Now change the language to  français (France) and Save Account - **No issue: User is able to switch Language from UK English to French**

[2021-07-19 09:51] #33259 closed, assigned to engcom-November

[2021-07-19 09:54] magento-engcom-team commented on #33343
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42881` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-19 10:19] engcom-Hotel commented on #31172
Hello @ioweb-gr,

The issue seems confirmed with the given steps.

Thanks

[2021-07-19 10:20] magento-engcom-team commented on #31172
@engcom-Hotel Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-19 10:20] magento-engcom-team commented on #31172
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-19 10:21] magento-engcom-team commented on #31172
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42882` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-19 10:23] Pinchanzee commented on #33473
Yes I could do this, but I'm not really that passionate about it for my
particular use case.

I just think it's a useful feature to have dropped in the migration to UI
Components that likely wasn't recorded anywhere.

On Mon, 19 Jul 2021, 10:25 Tu Nguyen, ***@***.***> wrote:

[2021-07-19 10:58] korovitskyi commented on #33510
@magento I am working on this

[2021-07-19 10:59] #32852 closed, assigned to anzin

[2021-07-19 11:00] #32846 closed, assigned to nobody

[2021-07-19 11:00] #32842 closed, assigned to karyna-t

[2021-07-19 11:03] #33194 closed, assigned to mmezhensky

[2021-07-19 11:10] andrei-vdc commented on #5502
This is not solved even in m2.3

Breadcrumbs get cached in FPC and the first cached version will always show.
Expected behavior is that the last active category should be in the breadcrumbs even if long urls are not enabled.

[2021-07-19 11:15] korovitskyi commented on #33506
@magento I am working on this

[2021-07-19 12:16] vseager opened #33523 "Removing upsells using CSV import removes related products, upsells & cross-sells"
When updating related products, upsells and cross-sells via `System > Data Transfer > Import`, if you remove all upsells from a product using  `__EMPTY__VALUE__`, it removes all products from "Related Product", "Upsells" and "Cross-sells" even if the columns don't existing in the CSV import file.

### Preconditions (*)

1. Magento 2.4.2-p1
2. Brand new Magento installation with sample data

### St

[2021-07-19 12:31] heqixi opened #33525 "Rolled back transaction has not been completed correctly"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

create user successfully.

### Actual result (*)
create user fail,  the following exception was thrown

1 exception(s):
Exception #0 (Exception): Rolled back transaction has not been completed correctly.

Exception #0 (Exception): Rolled back transaction has not been completed correctly.

#1 Magento\Framework

[2021-07-19 12:35] anzin commented on #32866
@magento I am working on this

[2021-07-19 12:39] engcom-Delta commented on #32544
Hi @elaidomino,

Thanks for raising the issue , We tried reproducing the issue but need more clarity on steps to reproduce it.
1. Dearsystems
2. Kindly specify few attributes  which are not checked
3. it would be great if we get snapshots for reference.

Thanks

[2021-07-19 13:37] engcom-Bravo commented on #33446
Hi All,

Implementation is in progress on this.

Thanks.

[2021-07-19 14:58] MarianNapi commented on #33270
Sorry for the late reply, I was on vacation.

I made a video to show the bug:

At first I show that normally it's no problem to remove a child product from the list.
Then I reload the page to get it's state back
After that I switch to the Validate class and add an hard coded error.
Now I press save on the product and the validation error get's thrown.
If you try to remove one child product after t

[2021-07-19 16:00] harrigo commented on #25199
I seem to be getting a similar problem, show processlist shows lots of things randomly sending data for what seems like forever. Seems to start happening with related products but my query for that was slightly modified so changed it and it went away. Not however am noticing queries handing indefinitely when running schema recurring for Magento_Indexer section of setup upgrade...

I'm on 2.3.7 and

[2021-07-19 17:46] pmonosolo commented on #32118
Yes ,it looks like you ran out of memory. The error in your case related to a Redis plugin colinmollenhour/cache-backend-redis. I assume the plugin is just saying there is no more storage.

I would love to jump in a test this, but I got deadlines for upgrade and cant test on my side right now.

[2021-07-19 18:04] pmonosolo commented on #32118
Yes, Varnish was enabled (but not connected yet). Full Page was enabled.

This happened also when:

- Full Page Cache = Enabled
- Caching Application = Built-in Cache (Redis not specified in env.php) - https://stackoverflow.com/questions/68278489/docker-compose-mnt-sdb-is-always-full

This was happening in 2 different environments:
- docker-compose environment
- development server

I did at least

[2021-07-19 19:06] hostep commented on #29373
@engcom-Delta : you need to install 2 separate Magento instances on the same machine. No disrespect since you are new here, but it would be appreciated if somebody else with a bit more experience could have a look as well.

[2021-07-19 23:12] #29640 closed, assigned to nobody

[2021-07-20 01:50] popo888 opened #33527 "How to display the cart number on each page?"
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2021-07-20 02:36] davirs commented on #3423
Magento 2.4.2-p1 problema ainda existe.

[2021-07-20 04:39] krishprakash commented on #33527
Hi @popo888. Github issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com) for general discuss about this problem

[2021-07-20 04:39] #33527 closed, assigned to krishprakash

[2021-07-20 05:25] shikhamis11 commented on #33523
@magento give me 2.4-develop instance

[2021-07-20 05:29] SilinMykola commented on #33398
@magento I am working on this

[2021-07-20 05:52] shikhamis11 commented on #33523
@magento give me 2.4.2-p1 instance

[2021-07-20 05:59] engcom-Delta commented on #33473
Hi @Pinchanzee,

Kindly provide use cases for this feature request.

Thanks

[2021-07-20 06:17] shikhamis11 commented on #33523
@magento give me 2.4.2-p2 instance

[2021-07-20 06:23] shikhamis11 commented on #33523
Hi, @vseager Thank you for reporting this issue.
I can reproduce this issue on Magento 2.4.2-p1 but not on 2.4- develop instance. so it seems the issue is already fixed and will be available in the release.

[2021-07-20 07:09] m2-assistant[bot] opened #33531 "[Issue] Removed CliCacheFlushActionGroup usage for CatalogSearch and other modules"
This issue is automatically created based on existing pull request: magento/magento2#33530: Removed CliCacheFlushActionGroup usage for CatalogSearch and other modules

---------
### Description
Removed CliCacheFlushActionGroup usage for CatalogSearch, GroupedProduct, Newsletter, Paypal, Quote and Review modules.

[2021-07-20 07:34] oneserv-heuser commented on #33270
@engcom-Delta Please reopen the ticket, thank you

[2021-07-20 07:42] engcom-Delta commented on #33458
Hi @Eddcapone,

Tried reproducing the issue on Magento 2.4.2 ( Backend & frontend). unfortunately we are not able to replicate it . it works as expected.

Thanks

[2021-07-20 07:45] mrtuvn commented on #33458
Imho i think this not easy to reproduce with clean install case. It's may require magento store with custom module/theme with some data. Can you able share your store url ?

[2021-07-20 08:09] eduard13 opened #33532 "Remove the 2.2.0 deprecated files"
### Description

The deprecated since 2.2.0 JS files, that aren't used have to be removed.

### AC

- The deprecated 2.2.0 JS files are removed

[2021-07-20 08:10] eduard13 commented on #33532
@magento I am working on this

[2021-07-20 08:10] engcom-Hotel commented on #33134
Hello @ticaje,

I am proposing below the solution for this issue. You need to make changes in your CustomPrice.php's execute function as below:
`public function execute(Observer $observer)
    {
        $item = $observer->getEvent()->getData('quote_item');
        $item = ( $item->getParentItem() ? $item->getParentItem() : $item );

        $curentCurrencyCode =  $this->storeManager->getStore()

[2021-07-20 08:12] Pinchanzee commented on #33473
Any time a grid is empty, it can be helpful to provide the user with more feedback.
1. Cases where a grid is not being used as a record searching tool.  Eg Grid of ERP picking sessions that when empty says "Nothing is currently being picked right now" rather than "We couldn't find any records" - the latter is confusing to the end user when nothing is being searched for.
2. Where you want to provid

[2021-07-20 08:37] daancart2quote commented on #32522
This is an important issue, this forces some users to keep using the SQL search.

[2021-07-20 08:46] daancart2quote commented on #31758
Same issue as this one: https://github.com/magento/magento2/issues/32522

[2021-07-20 08:46] daancart2quote commented on #31758
Related issue to this one: https://github.com/magento/magento2/issues/31043

[2021-07-20 08:55] lbajsarowicz commented on #13961
I'm encountering the issues described in this Bug Report, but problem seems to be a little bit more complex:

When I'm calling simple endpoints, everything works more-less correct:
![image](https://user-images.githubusercontent.com/1639941/126291843-9dae8183-7747-4580-aa99-23caf2a21326.png)

However, the same keys used to fetch the Invoices ends up with "The signature is invalid"
![image](https://

[2021-07-20 09:10] engcom-Hotel commented on #32444
Hello @mtwegrzycki,

This issue is reproducible in 2.4-develop. We have followed below steps in order to reproduce the issue:

1. Made changes in app/code/Magento/Sales/etc/crontab.xml to run this particular cron for every minute (For e.g. 0 * * * *). It works fine.
2. But when I set the schedule for 5 9 * * *, it should run at 09:05, but it is not running.

So we are confirming the issue.

Thanks

[2021-07-20 09:11] magento-engcom-team commented on #32444
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42887` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-20 09:13] ticaje commented on #33134
Hi @engcom-Hotel, before everything let me say thank you for your support.
Ye, actually this is pretty much what I'm doing. Technical details appart, I kind of calculate custom price based on current store currency. But I think is important to stand out here that basically, regardless the custom price your setting up corresponds to current store currency, that price does not change properly when s

[2021-07-20 09:34] engcom-Delta commented on #33458
Hi @mrtuvn,
Ok. Here is my store (local ) url: http://local.magentop241.com/.

Thanks

[2021-07-20 09:51] hostep commented on #32444
@engcom-Hotel: have you taken timezones into account?
Also the expression `0 * * * *`  does not run every single minute, but once per hour: [explanation](https://crontab.guru/#0_*_*_*_*)

I can confirm on Magento 2.4.2-p1 this problem does not happen if you take timezones into account.
For example, the `backend_clean_cache` job has cron expression: `30 2 * * *`, on a Magento installation with time

[2021-07-20 09:53] engcom-Delta commented on #33442
Hi @PromInc,
We tried to reproduce the issue on Magento 2.4.2 and found that it is reproducible. Kindly find the attached snapshots for reference.

Steps:
1. Create multiple admin users at the same time with password change set to forced in Backend
2. Wait until those admin users passwords expired ( 1 day time required to expire)
3. Attempt to login/reset all users from the same IP address
4. Obse

[2021-07-20 09:54] magento-engcom-team commented on #33442
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42888` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-20 10:04] marvinhinz commented on #32177
this error happens to us on 2.4.2-p1, but the fix from @Sental doesnt work somehow

![image](https://user-images.githubusercontent.com/35603466/126305436-f90d49e6-2964-4328-8fc4-3d7e50da3db3.png)

[2021-07-20 10:37] Sental commented on #32177
In that case you were dealing with a prefix that had already been saved with the incorrect data which the door4 patch fixes. The patch I've made available corrects fields when new addresses are created/saved and tge error could have occurred. If you have corrupted data in ypur database you need both patches.

[2021-07-20 10:40] infinityredux opened #33535 "Possible regression: Default sort by error prevents category update via REST if set to non-config value. [2.4.x]"
### Preconditions (*)

1. 2.4.2-p1
2. Presumably other earlier 2.4.x versions too, see below.

### Steps to reproduce (*)

1. Admin - Catalog - Categories - Add Root Category - Create new Category by deselecting/unchecking "Use Config Settings" for "Default Product Listing Sort By" field and Save
2. Make a GET request to /rest/all/V1/categories/12 (here my newly created test category id is 12)
3.

[2021-07-20 11:37] edwinjacobs-pon commented on #32888
Not entirely sure if this is still an issue but in any case, this is in my opinion unwanted behaviour. The reason is quite simple, it is not the responsibility of magento to have any impact on a projects gitignore file. Simply because it is not knowable how the project looks like, sure you can provide a sample gitignore (.gitignore.sample or something like that) file to give developers a good star

[2021-07-20 12:20] #22311 closed, assigned to nobody

[2021-07-20 12:20] #32685 closed, assigned to nobody

[2021-07-20 12:55] sydekumf commented on #33254
We encountered this issue! Please reopen this ticket.

Steps to reproduce:
- Create a CMS page and assign it to a hierarchy node (at least two hierarchy levels)
- Save it => Should work
- Save it again => Error because it doesn't recognize that the node already exists and wants to save it a second time in the table `magento_versionscms_hierarchy_node` which throws an unique constraint error.

The

[2021-07-20 13:04] engcom-November commented on #33535
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:

**Steps performed:**
1. Admin - Catalog - Categories - Add Root Category - Created new Category by deselecting "Use Config Settings" for "Default Product Listing Sort By" field
2. Made a put request to /rest/all/V1/categories/4 to update the category - **No Issue:  Category is updated.**
![image](https://user-imag

[2021-07-20 13:25] pawelskowronek commented on #23908
I have come across the same issue and following @Ashraf-alkibsi advice I have checked exception.log. It turned out that I haven't set a Currency Rate for the new Currency.

You can set the currency rate by going to **Stores -> Currency -> Currency Rates**.

Here is the error I was getting in the exception.log
`report.CRITICAL: Undefined rate from "USD-GBP".`

[2021-07-20 13:39] medigeek commented on #32833
@ihor-sviziev I've been thinking about this, shouldn't we have a check in place if var/.maintenance is present before executing the cron.php ?

[2021-07-20 13:55] infinityredux commented on #33535
@magento give me 2.4-develop instance

[2021-07-20 14:17] ihor-sviziev commented on #32833
@medigeek, we do check if the maintenance flag file doesn't exist before running cron jobs. But Magento isn't checking it by default.

[2021-07-20 14:27] burgh8wp opened #33538 "Magento2 admin media library (storage root) will not load on Magento version 2.4.2"
Preconditions (*)

1. 2.4.2 and 2.4.2-p1
2. Version 2.4.1 the issue does not occur
3. PHP settings are identical on same server/same site between versions 2.4.1 and 2.4.2

Steps to reproduce (*)

1. Add or edit a static block or page from Magento admin
2. Click on insert/edit image. Click on search icon from popup.
3. Storage root section shows loading icon which spins continuously until timeout.

[2021-07-20 14:47] infinityredux commented on #33535
Ok, new sequence:

1. Created new Magento instance using bot on the develop branch.
2. Created new test category, with "Use Config Settings" for "Default Product Listing Sort By" disabled before saving
   - New category ID was 41, given the presence of test data in the instance.
3. Make a request to the admin token endpoint `/rest/all/V1/integration/admin/token` to get token.
4. Make GET request t

[2021-07-20 15:21] PSLionz opened #33539 "Catalog page is stuck won't allow entry"
See the picture below. The Products - Catalog page is stuck trying to refresh. A filter was entered that has jammed the system. I click ok, but the icon continues to refresh, I cannot clear the filter or enter anything on the page. I have logged on/off, used a different browser but no luck.

Any suggestions on how to clear the filter so I can get back to work is appreciated.

![image](https://user

[2021-07-20 15:38] github-jira-sync-bot opened #33540 "Remove paragonie/sodium_compat dependency"
AC:
* Remove paragonie/sodium_compat dependency
* Declare dependency on ext-sodium (php extension) for the Framework and root composer.json

### More info

We have 3 related encryption libraries as Magento product dependencies:

- phpseclib/phpseclib
- phpseclib/mcrypt_compat
- paragonie/sodium_compat

Based on the following statements:

- `ext-sodium` is [bundled with PHP](https://www.php.net/man

[2021-07-20 16:27] fascinosum commented on #18091
cc: @omiroshnichenko

[2021-07-20 16:46] medigeek commented on #32833
I'm checking the bootstrap:

https://github.com/magento/magento2/blob/3c5ff49c11eec2d4510b25571acf0d30b804cdf1/lib/internal/Magento/Framework/App/Bootstrap.php#L38

https://github.com/magento/magento2/blob/3c5ff49c11eec2d4510b25571acf0d30b804cdf1/lib/internal/Magento/Framework/App/Bootstrap.php#L279

From what I see, getIsExpected() checks the $_SERVER parameters:
https://github.com/magento/magent

[2021-07-20 16:46] hostep commented on #32544
This sounds like a duplicate of https://github.com/magento/magento2/issues/9186 (and https://github.com/magento/magento2/issues/26484 and https://github.com/magento/magento2/issues/31083 and probably some others), according to the latest comments in those threads the issue might have been fixed by https://github.com/magento/magento2/commit/6a27b0ce155a418e05bf6a7753af5a947af5668e & https://github.

[2021-07-20 17:02] hostep commented on #32118
@pmonosolo: since it starts with `gz:` I suspect this is gzipped data, so maybe you can try to unzip it. (and could you maybe edit your post and only keep the first couple of lines of your output so we don't have to scroll like crazy on this page? 🙂 )

I'm curious to what you can find, because I think we might be having a similar issue with big Redis data in one of our shops (Magento 2.3.6-p1 with

[2021-07-20 17:13] mrtuvn commented on #32118
maybe another unrevealed feature from core !!rotfl!

[2021-07-20 19:31] pmonosolo commented on #30596
I have the same issue on 2.4.2-p1 with 300,000 products. The #30629 fixes the issue. Just using the XML folder exclude does not work.

This issue also bricks the old media gallery, so it definitely needs to be fixed.

[2021-07-20 20:26] f1-outsourcing opened #33542 "BUG: 2.4.2 does not run"
[Tue Jul 20 22:08:50.376593 2021] [proxy_fcgi:error] [pid 30726:tid 140429973939968] [client a.a.a.a:59960] AH01071: Got error 'PHP message: PHP Warning:  error_reporting() has been disabled for security reasons in /xxxxx/xxxx/xxxx.xxxxxxx.xx/app/bootstrap.php on line 10PHP message: PHP Warning:  realpath(): open_basedir restriction in effect. File(/tmp) is not within the allowed path(s): (/xxxxx/

[2021-07-20 20:47] thomas-kl1 commented on #30596
@pmonosolo the exclude config does not works because it's applied once that all files are resolved by Magento instead of filtering directories while discovering the files. (this is true, no joke...)

[2021-07-20 20:51] pmonosolo commented on #30596
I already did a override for the GetDirectoryTree.php file, is there a way to resync the directories?

I have seen this:
[code]
but have not tried it.

[2021-07-20 21:33] pmonosolo commented on #30596
Nope, this didn't help.

[2021-07-20 22:14] soniclouds commented on #3294
A little late to the party, but found what appears to be a good solution, at least for me.  Instead of using Magento\Customer\Model\Session, try calling 'isLoggedIn()' on Magento\Customer\Block\Account\AuthorizationLink.  I had header-related issues (on homepage specifically) and this change solved it for me.

[2021-07-20 22:51] pmonosolo commented on #30596
How'd ya'll override this class? I have tried preference and plugin methods but both did not work.

[2021-07-21 03:46] ihor-sviziev commented on #32833
@medigeek, we're checking in the crontab if file not exists - then execute cron

[2021-07-21 04:46] vishalkmodi007 opened #33543 "Magento 2 using a old version of jQuery"
### Preconditions (*)

1.Magento CE ver. 2.3.x
2.I see that 2.3.x is using the old version of jQuery

### Steps to reproduce (*)

1.Install Magento
2.check jQuery version that is packed with it

### Expected result (*)

1. Have a newer version of jQuery

### Actual result (*)

1. Old version of jQuery

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contribu

[2021-07-21 05:08] medigeek commented on #32833
@ihor-sviziev  which files/lines are you referring to? 🤔
The default cron:install doesn't add any maintenance flag checks in the crontab AFAICS.

Maintenance isn't referred at least directly in the cron:run file https://github.com/magento/magento2/blob/3c5ff49c11eec2d4510b25571acf0d30b804cdf1/app/code/Magento/Cron/Console/Command/CronCommand.php

Sorry I'm asking, just interested to see how it all

[2021-07-21 05:52] ihor-sviziev commented on #32833
@medigeek in the crontab we just writing something like this:
[code]

[2021-07-21 06:21] medigeek commented on #32833
Thanks for the clarification, I thought there was an internal check within the cron:run task. 😁
Shouldn't that be handled by the default cron:install command?
Cheers!

[2021-07-21 06:24] mrtuvn commented on #33543
Internal team already acknowledge this . I believe we will upgrade jquery to higher version soon

[2021-07-21 07:29] mrtuvn commented on #33428
cc: @tsviklinskyi Can you check comment https://github.com/magento/magento2/issues/33428#issuecomment-875045393

[2021-07-21 08:12] chaikivskyi commented on #33428
No, products loaded via repository will never have a category, even when we go to the product page from the category page.

[2021-07-21 08:16] Monica8955 opened #33548 "Unable Remove existing categories to existing product magento 2.4.2"
### Preconditions (*)
Magento 2.4.2 after migration Magento 2.3
Php 7.3

### Steps to reproduce (*)
1. edit a product and select/remove categories and save
2. the save product command reports success
3. not show error console and /catalog/product/save/id/1340/type/simple/store/0/set/4/back/edit return array with correct categories id

<img width="1584" alt="after_save_product" src="https://user-im

[2021-07-21 09:48] #33337 closed, assigned to korovitskyi

[2021-07-21 09:49] #33532 closed, assigned to eduard13

[2021-07-21 10:17] #5913 closed, assigned to nobody

[2021-07-21 11:23] jadebaileywowcher opened #33552 "cannot search orders"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. ![image](https://user-images.githubusercontent.com/87760355/126481078-24c25909-0cd0-45c1-81bc-8dfe44b37b0c.png)
2. i expect to be able to search for an order or an email and it wont allow me

### Actual result (*)

1. ![image](https://user-images.githubusercontent.com/87760355/126481113-9fbe47bc-290b-4756-

[2021-07-21 11:39] mmezhensky commented on #33263
@magento I am working on this

[2021-07-21 12:01] davidhiendl commented on #11477
This is still a major blocker when trying to use the API using a generated client (afaik you cannot use list endpoints in a typed language at all).

[2021-07-21 13:56] f1-outsourcing opened #33553 "You can not end support for 2.3 when you do not offer a solution for disabling elastic search in 2.4"
I just need a shop to sell 10 products. I do not want any other 'shit' like elastics to install, just something light, then better no search at all. Who is responsible for your design decisions? Currently you are making magento crap. I was so pleased with 1.9, and I am hugely disappointed with 2.3/2.4. I can not get that you are forcing Elastic search and do not give the option for no search, it i

[2021-07-21 14:36] f1-outsourcing commented on #32696
I need a work-a-round for this until you have fixed 2.4 to run without elastic search support.

[2021-07-21 14:37] Hav7979 commented on #5024
![image](https://user-images.githubusercontent.com/87767509/126506201-a29a83d2-72cb-4d9a-a6e5-cd19c11da34c.png)
I do not have an option for processing. Only pending and fraud? and I do not have an option to   Automatically Invoice All Items does not show

[2021-07-21 16:20] kanevbg commented on #28367
@hostep you actually made a progress on the request, I don't believe it should be closed. When settings are unlocked because of mode=developer than the settings should be exported in the config files directly when they are saved. In this case you wont get confusion at all.

[2021-07-21 17:16] sivaschenko commented on #33296
@engcom-Hotel this issue does not require confirmation.

[2021-07-21 17:16] sivaschenko commented on #33299
@engcom-Hotel this issue does not require confirmation.

[2021-07-21 17:47] infinityredux commented on #33535
As an additional note, I would add there appears to be one distinct difference between the 2.3.6 and 2.4.2 versions, which may be relevant.

With "Use Config Settings" unchecked, an update payload where the `default_sort_by` custom attribute has been removed, will be accepted on 2.3.6 (as long the current value is in the specified `available_sort_by`) and the returned response includes the current

[2021-07-21 17:54] anzin commented on #33299
@magento I am working on this

[2021-07-22 01:26] Dhimant commented on #6425
I am facing the same issue with magento 2.4.2 E.E any solution for this ?

[2021-07-22 04:22] mrtuvn commented on #33542
Can you provide some details on how do you setup ? nginx, apache, Any preconditions

[2021-07-22 05:21] eduard13 opened #33554 "Investigate the possible unused CSS files that can be removed"
### Overview

We need to identify the CSS files that aren't used anywhere, and check if it's safe to be removed.

### Investigation Outcome

The list of CSS files is provided and removed from the codebase.

[2021-07-22 05:26] onlinebizsoft opened #33555 "_isScopePrivate vs ESI hole punching vs private data"
### Summary (*)

Related to
https://github.com/magento/magento2/pull/31754
https://support.magento.com/hc/en-us/articles/360040208612--isScopePrivate-in-private-content-blocks-slows-Magento-performance
https://devdocs.magento.com/guides/v2.3/extension-dev-guide/cache/page-caching/private-content.html

_isScopePrivate couldn't be replaced by "private content" completely

### Examples (*)

When you

[2021-07-22 05:26] eduard13 commented on #33554
@magento I am working on this

[2021-07-22 05:27] onlinebizsoft commented on #33555
@mrtuvn @sivaschenko @ihor-sviziev

[2021-07-22 05:33] mrtuvn commented on #33555
I think docs seem outdated and we need to update it
I think new approach for private content is like product compare functional (section ajax update)
Some other cases we can set cache_lifetime (via xml or php block) to false for dynamic block content
CC: @Vinai

[2021-07-22 05:37] m2-assistant[bot] opened #33556 "[Issue] Replace repetitive actions with Action groups in StorefrontInactiveCatalogRuleTest"
This issue is automatically created based on existing pull request: magento/magento2#33218: Replace repetitive actions with Action groups in StorefrontInactiveCatalogRuleTest

---------

### Description (*)
The test is refactored according to the best practices followed by MFTF.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)
Run the test in the local e

[2021-07-22 05:48] engcom-November commented on #33552
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible at our end.
Steps performed:
Admin -> Sales -> Orders -> Search using Order ID -> No issue. Search Results are displayed as expected:
![image](https://user-images.githubusercontent.com/60198231/126594795-0ae18f7b-35f0-4909-a112-74ed79046f2c.png)
@jadebaileywowcher , Kindly check the issue on latest Magento version/2

[2021-07-22 06:04] magento-engcom-team commented on #33556
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-22 06:12] magento-engcom-team commented on #33556
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42896` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-22 06:26] engcom-November commented on #33539
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible from our end.
**Steps performed:**
Admin -> Catalog ->Products -> Applied Filter by Name or SKU -> No issue: Page is loading as expected with filter applied
Refresh the page -> No issue: Page is loading with filter applied.
![image](https://user-images.githubusercontent.com/60198231/126597358-77ab06e1-c4e6-4fc8-be41

[2021-07-22 06:34] mrtuvn commented on #33554
Seem lot of css stay in lib/web/prototype/windows/themes/

[2021-07-22 06:42] onlinebizsoft commented on #33555
@mrtuvn you refer to product compare but it is not same, it could be done with "private data" because an user action "add to compare" can trigger an invalidation,....
However the  private scope variable is helpful when we want a small non-cacheable block on all pages

[2021-07-22 06:51] eduard13 commented on #33554
@mrtuvn since we are still planning to keep Prototype JS, is much better to keep all the files related to it, including css files.

[2021-07-22 06:55] engcom-Hotel commented on #33437
Hello @mattijv,

I think there might be some confusion. As per my screenshot, the region with the name "California" is visible. And this is also mentioned in your "Actual Result".

Can you please let us know if we need to further work on this ticket?

Thanks

[2021-07-22 06:59] engcom-Hotel commented on #33405
Hello @zarnar,

It seems that your issue has been resolved. As we are unable to get your response for the last 14 days, we are closing this issue for now. In case you still facing the issue then you can reopen it.

Thanks

[2021-07-22 06:59] #33405 closed, assigned to engcom-Hotel

[2021-07-22 07:46] engcom-November commented on #33543
Verified this issue on Magento 2.4-develop branch and the current version of Magento is using jQuery 1.12.4 version having [vulnerabilities](https://snyk.io/vuln/npm:jquery@1.12.4)
Steps: Check the jQuery version from console:
![image](https://user-images.githubusercontent.com/60198231/126605301-f429b07f-a724-4a08-beed-b03d2abb9e78.png)
**Expected behavior:** Magento 2.4.x should be using newer jQ

[2021-07-22 07:48] magento-engcom-team commented on #33543
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42898` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-22 08:13] mattijv commented on #33437
@engcom-Hotel Yes, unfortunately there seems to be confusion. In bug reports the Expected Result and Actual Result are treated as follows:

1. Expected Result: the correct result that SHOULD happen, but DOES NOT
2. Actual Result: the buggy incorrect result that SHOULD NOT happen, but DOES

Your screenshots show that you do indeed get the same result for Actual Result that I do, which is the incorr

[2021-07-22 08:38] trunglv commented on #4536
Hi friends, I am back. Happy to share my solution to this thread.
It's here https://github.com/betagento/Editor
- I changed the schema validation to html5, by default is html5-strict.
- In the Class Betagento\Editor\Model\WysiwygConfig, use can add more TinyMCE settings if you want. [see https://www.tiny.cloud/docs-4x/]

[2021-07-22 08:38] liamjtoohey commented on #28195
@engcom-Hotel I believe the request body was something like the following, to the `V1/products/attributes` endpoint:
[code]

As mentioned in my comment here: https://github.com/magento/magento2/issues/28195#issuecomment-627200831 - this has been the closest I was able to get, however, this does still create the attribute in a malformed state as product swatch attributes should have a `frontend_inp

[2021-07-22 08:42] #33511 closed, assigned to anzin

[2021-07-22 08:42] #32848 closed, assigned to nobody

[2021-07-22 08:45] Monica8955 commented on #33548
Issue: Confirmed

[2021-07-22 09:10] engcom-Hotel commented on #28119
Hello @ioweb-gr,

Have you made a custom module for this? If yes can you please share it here so that we can look into it? Also please share your use case for this.

Thanks

[2021-07-22 09:52] Monica8955 commented on #33548
Add label Issue: Confirmed

[2021-07-22 10:02] t-heuser opened #33559 "Problems with price scope and config.php"
### Preconditions (*)

1. Magento 2.4.2
2. Atleast 2 store views
3. 1 product which is assigned to atleast 2 store views
4. Price scope is set to global

### Steps to reproduce (*)

1. Set price scope to website in app/etc/config.php

- Initial:

[code]

- New:

[code]
2. Execute ``bin/magento app:config:import``
3. Clean magento cache ``bin/magento cache:clean``

### Expected result (*)

1. When

[2021-07-22 10:04] engcom-Delta commented on #33479
Hi @Meberem,

We tried to reproduce the issue but unfortunately not getting any error . we are able to uploaded.
Hence, request to help me if it happens in any specific test scenario.

Steps followed:

1.	Download new theme from Magento community (free)
2.	Extract the zip folder ‘orson_v1.0.0_1_2’
3.	After extracting upload the app folder into magento root folder
4.	Then run below commands
Run com

[2021-07-22 10:10] devchris79 opened #33560 "Customer address within pdf appears to miss region (Magento 2.4.2)"
### Preconditions (*)

1. Magento 2.4.2
2.

### Steps to reproduce (*)

1. Create an order and include a region/state within the customer address
2. From Sales->Orders print the invoice
3.

### Expected result (*)

1. Pdf invoice created with customer address including region/state
2.

### Actual result (*)

1. Address appears to miss the region in the pdf
2.

---
Please provide [Severity](https:/

[2021-07-22 10:10] devchris79 commented on #33560
@magento give me 2.4-develop instance

[2021-07-22 10:18] engcom-November commented on #33518
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible even after trying using multiple Simple, Configurable and Bundle products.
**Steps performed:**
Front end -> URL -> Navigate to Product Details page using url-key. Ex: http://magento2.4.local/product-cattt-ewfew-frfre-fefew-fewfef-wfwrr-3344   - **No issue. User is able to access Product Details page**
**Note:** Sto

[2021-07-22 10:19] devchris79 commented on #33560
Test instance doesn't show the issue, so closing this.

[2021-07-22 10:19] #33560 closed, assigned to nobody

[2021-07-22 10:24] rightmarc commented on #33518
The product link is already given at there I face the issue ( http://rightmarc.com/pubg-hard-back-case-for-oppo-f5-562 ).
When used http://rightmarc.com/catalog/product/view/id/15361/category/3 this target path link product visible perfectly.

This problem is not found in all products.

Please check the above link so you can find the bugs.

[2021-07-22 11:12] tabunsa commented on #31758
In our case we are running Magento 2.4.2 and **Porto theme** (latest version 4.0.0).
Porto theme is coming with **Mageplaza_Layered_Navigation + Mageplaza_Ajax_Layer** extensions which interfere with the product sort on category pages.

We found the problem in:
app/code/Mageplaza/LayeredNavigation/Model/ResourceModel/Fulltext/Collection.php
The product collection gets sorted in the ElasticSearchAp

[2021-07-22 12:00] sivaschenko opened #33562 "Introduce PHP 8 Compatibility to adobe/stock-api-libphp"
## What should be done

Create a new PR to https://github.com/adobe/stock-api-libphp introducing PHP 8 compatibility. The changes can be based on https://github.com/adobe/stock-api-libphp/pull/21
The Library should be tested on PHP 8, the formatting changes should not be included in the PR (removed spaces)

adobe/stock-api-libphp is a dependency of Adobe Stock Integration project.

[2021-07-22 12:12] sivaschenko opened #33563 "Fix issues reported by PHPCompatibility tests"
### What should be done
1. Fix issues reported by dev-develop PHPCompatibility check:
[code]
1. Check the areas not yet covered by PHPCompatibility on develop branch:

<https://github.com/PHPCompatibility/PHPCompatibility/issues/809>
1. The checks should be done for all Magento repositories:

 - < > <https://github.com/magento/magento2>
 - < > <https://github.com/magento/partners-magento2ee>
 - <

[2021-07-22 12:13] sivaschenko commented on #33562
@magento export issue to Jira project AC as Story

[2021-07-22 12:13] sivaschenko commented on #33563
@magento export issue to Jira project AC as Story

[2021-07-22 12:20] github-jira-sync-bot opened #33564 "PHP 8 compatibility for Magento Coding Standards"
 
### What should be done

1. Fix issues reported by dev-develop PHPCompatibility check:
[code]
2. Check and fix the areas not yet covered by PHPCompatibility on develop branch:

<https://github.com/PHPCompatibility/PHPCompatibility/issues/809>

3. Update PHP version in composer.json to include "~8.0.0"

4. Update dependencies to versions supporting PHP 8 in composer.json. Ensure the project can b

[2021-07-22 12:30] engcom-November commented on #33538
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
**Steps performed:**
1. Admin - Content - Elements - Blocks - Add New Block/ Edit existing block
2. Click on "Insert/Edit Image"
3. Click on Search icon - No issue : Page is loaded immediately and folder structure is displayed as expected
4. Upload image - Add selected and Save - No issue.
Note: This is not reprodu

[2021-07-22 12:35] sivaschenko commented on #31081
Closed in favour to new issue https://github.com/magento/magento2/issues/33563

[2021-07-22 12:41] stephan-cream opened #33565 "Multiple store newsletter subscription bug in the customers search API"
### Preconditions (*)
1. Magento 2.4.2
2. PHP 7.3 or higher
3. Stores > Settings > Configuration > Customers > Customer Configuration -> Account Sharing Options:
Share Customer Accounts = Global
4. Multiple storeviews
5. One customer account

### Steps to reproduce (*)
1. Have the above conditions.
2. Go to the first store.
3. Log in with the customer account.
4. Sign up for the newsletter subscri

[2021-07-22 12:44] stephan-cream commented on #33565
As a sidenote, this also occurs if you subscribe a customer to the newsletter in the backoffice, after which the customer also subscribes him-/herself to the newsletter on the frontend.

[2021-07-22 13:04] mrtuvn commented on #33553
Agreed with you at some points but maybe magento not fit with your business models. Just my opinion
If you want to share any thoughts feel free add some notes/proposals here
https://github.com/magento/architecture/issues