[2016-03-12 09:24] #3156 closed, assigned to kandy

[2016-03-12 09:25] katmoon commented on #3016
@gswant I'm closing the ticket since there is no response for more than 2 weeks.
Please feel free to reopen if you have any questions.

[2016-03-12 09:25] #3016 closed, assigned to kandy

[2016-03-12 09:26] katmoon commented on #3005
@tcmouse I'm closing the ticket since there is no response for more than 2 weeks.
Please feel free to reopen if you have any questions.

[2016-03-12 09:26] #3005 closed, assigned to nobody

[2016-03-12 09:28] vzabaznov commented on #2590
@kingdominteriors  I'm closing the ticket since there is no response for more than 2 weeks.
Please feel free to reopen if you have any questions

[2016-03-12 09:28] #2590 closed, assigned to yaronish

[2016-03-12 09:31] bondimedical3 commented on #3742
But if I want to look at the Component Manager to see what modules I have installed how do I get back to the Admin?

[2016-03-12 09:37] vzabaznov commented on #2400
@sivajik34 looks like problem could be solved with local git setting, since there is no updates from 21 Jan, i close issue, if you feel that issue is not fixed or you have another question please feel free to write here or open another issue

[2016-03-12 09:37] #2400 closed, assigned to nobody

[2016-03-12 09:40] vzabaznov commented on #1676
Hi @jerachu, thank you for reporting, our functionality has been changed, and bug cannot be reproduced, if you feel that issue is not fixed, please write here or open another issue

[2016-03-12 09:40] #1676 closed

[2016-03-12 09:47] katmoon commented on #3671
Hi @lgarridoj

Windows is not a supported platform. See http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html
I'm glad you have found a workaround to set English locale.

I'm closing the ticket since there's nothing can be done here if it happens on Windows only.
Feel free to reopen if you have any additional questions.

[2016-03-12 09:47] #3671 closed, assigned to nobody

[2016-03-12 09:50] vzabaznov commented on #2899
Closing the issue as it is no response has been received from the reporter.
@gitpramos  Please feel free to reopen if you feel that issue could be reproduced.

[2016-03-12 09:50] #2899 closed, assigned to voleye

[2016-03-12 09:51] vzabaznov commented on #2876
Closing the issue as it cannot be reproduced and there is no response has been received from the reporter.
@xkerkhof please feel free to reopen if you feel that issue could be reproduced.

[2016-03-12 09:51] #2876 closed, assigned to nobody

[2016-03-12 09:54] katmoon commented on #3648
Hi @AlexSeyFomin

Thank you for reporting the issue.

I tried to reproduce the problem, but `uk_UA` folder has been successfully created.
Maybe there is a problem with file permissions? Please check http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html

Are there any related errors in `error_log` or `magento/var/log` folder?

[2016-03-12 10:05] vzabaznov commented on #3615
Hi @arunkasyakar, thank you for reporting, please check that you install all composer dependency properly.

[2016-03-12 10:09] shinethazhava opened #3744 "Gallery jason parse error after extends"
When i extend Magento/Catalog/Block/product/view/gallery to my custom module then i getting jason parse error with out override any methods .

[2016-03-12 10:14] AlexSeyFomin commented on #3648
Thank you for your answers! I will try to fix this problem later and write here after that.

[2016-03-12 10:19] katmoon commented on #3598
Hi @nFed

What changes do you want to implement?

[2016-03-12 10:24] katmoon commented on #3577
Hi @diwipl

Do you have any additional questions regarding your problem?

[2016-03-12 10:32] vzabaznov commented on #3607
Hi @hungvt , thank you for reporting, looks like its 2 different cases, the first one is bug, and internal ticket MAGETWO-50412 was created, the second one is feature request

[2016-03-12 10:36] katmoon commented on #3568
Hi @dafencun

Thank you for reporting the issue.
I tried to reproduce it, but it works as expected for me.

Could you try to reindex manually and let me know if it helps: `bin/magento indexer:reindex`
And clear cache if needed: `bin/magento cache:clean`

Thanks,
Kateryna.

[2016-03-12 10:38] vzabaznov commented on #3569
Hi @samleeiii , thank you for reporting, i've checked the pagination on category page and looks like all is ok, could you please provide a version of magento that you are using, and some proper steps to reproduce

[2016-03-12 10:44] katmoon commented on #3561
Hi @tinkumadspark

Could you provide the steps that lead to the error?
Is there any additional information available in MySQL or PHP error logs? Seeing the full query would help. Also please check `magento/var/log` and `magento/var/report` folders.

You can also [set `developer` mode](http://devdocs.magento.com/guides/v2.0/config-guide/bootstrap/magento-modes.html) to see more errors immediately.

[2016-03-12 11:17] vzabaznov commented on #3197
@rohit47rohit thank you for reporting, issue was fixed and delivered, please feel free to write here or to open new one if you tnihk that issue wasn't fixed

[2016-03-12 11:17] #3197 closed, assigned to nobody

[2016-03-12 11:21] vzabaznov commented on #2903
Hi @bkristl, thak you for reporting, issue was fixed and delivered, please check and if you will that not, please feel free to reopen this one or add new.

[2016-03-12 11:21] #2903 closed, assigned to nobody

[2016-03-12 11:26] katmoon commented on #3742
Hi @bondimedical3

I'm not sure what kind of problem you experience. Do you mean, what should you do if you forget the link to Admin?

![3-12-2016 1-18-52 pm](https://cloud.githubusercontent.com/assets/1260101/13722643/a1fcbd24-e855-11e5-84f6-e33026051777.png)

Here are the links to Admin displayed after installation completes. You define it during installation, so you can enter any name that is s

[2016-03-12 11:32] vzabaznov commented on #2854
Hi @dexteritycc, thank you for reporting, issue was closed and delivered, if you feel that issue was not fixed, please write here or open new one.

[2016-03-12 11:39] vzabaznov commented on #2567
Hi @cfcnn issue was fixed and delivired, feel free to write here or to open new one if not, thank you for reporting

[2016-03-12 11:39] #2567 closed, assigned to antboiko

[2016-03-12 11:42] katmoon commented on #3739
Hi @wlaskowsky

Thank you for reporting the issue.

Could you please provide more details on what you have changed and how you migrated data?
Did you modify any webserver settings?
Which webserver do you use?

Please also check `web/../base_url`, `web/secure/..` settings in `core_config_data` table. What are the settings?
You may also check `url_rewrite` table. Is there anything that could be rela

[2016-03-12 11:42] vzabaznov commented on #2519
Hi @SidneyBilliet, issue was fixed, please check it, and if you think that not, feel free to write here or to open new one

[2016-03-12 11:42] #2519 closed, assigned to nobody

[2016-03-12 11:44] vzabaznov commented on #2518
Hi @SidneyBilliet , seems like issue cannot be reporoduced on fresh magento version, please check it, and if you think that not, feel free to write here or to open new one

[2016-03-12 11:44] #2518 closed, assigned to nobody

[2016-03-12 11:45] vzabaznov commented on #2107
Hi @johnbendi  issue was fixed, please check it, and if you think that not, feel free to write here or to open new one

[2016-03-12 11:45] #2107 closed

[2016-03-12 11:47] vzabaznov commented on #2021
Hi, issue is irrelevant in context of new implementation, please check it, and if you think that not, feel free to write here or to open new one

[2016-03-12 11:47] #2021 closed

[2016-03-12 11:48] vzabaznov commented on #2018
Hi @dfediuk, issue is irrelevant in context of new implementation, please check it, and if you think that not, feel free to write here or to open new one

[2016-03-12 11:48] #2018 closed

[2016-03-12 11:49] vzabaznov commented on #2016
Hi @dfediuk, issue was fixed, please check it, and if you think that not, feel free to write here or to open new one

[2016-03-12 11:49] #2016 closed

[2016-03-12 11:50] vzabaznov commented on #1959
Hi @dfediuk, issue was fixed, please check it, and if you think that not, feel free to write here or to open new one

[2016-03-12 11:50] #1959 closed

[2016-03-12 11:52] vzabaznov commented on #1851
Hi @markoshust, issue was fixed, please check it, and if you think that not, feel free to write here or to open new one

[2016-03-12 11:52] #1851 closed

[2016-03-12 11:54] vzabaznov commented on #1296
Hi @tzyganu , issue was fixed, please check it, and if you think that not, feel free to write here or to open new one

[2016-03-12 11:54] #1296 closed

[2016-03-12 11:56] vzabaznov commented on #2282
Hi @fbrnc , issue was fixed, please check it, and if you think that not, feel free to write here or to open new one

[2016-03-12 11:56] #2282 closed

[2016-03-12 12:03] katmoon commented on #3689
Hi @aswaniachu

Thank you for reporting the issue.

I cannot reproduce in on the latest Magento version. Maybe because as it has been fixed in 2.0.2 as @gopalvenu033 says.

I'm closing the ticket because of the reason given above.

Thanks,
Kateryna.

[2016-03-12 12:03] #3689 closed, assigned to kandy

[2016-03-12 12:10] katmoon commented on #3672
Hi @hawksakr

Thank you for reporting the issue with the clear steps to reproduce!

I cannot reproduce the issue on the latest Magento version.
Could you say which version you use?

![shot-2016-03-12_14-09-00](https://cloud.githubusercontent.com/assets/1260101/13722870/23a7b350-e85c-11e5-8dce-3d05ea014277.png)

[2016-03-12 12:17] #3444 closed, assigned to nobody

[2016-03-12 12:18] sachinkalerws opened #3745 "Create Configure Product-> Create Configuration-> "Create Product Configurations" PopUp==> Spelling mistake word "unigue"."
Create Configure Product-> Create Configuration-> "Create Product Configurations" PopUp==> Spelling mistake word "unigue".

![unigue](https://cloud.githubusercontent.com/assets/17641550/13722917/e08e91f0-e87a-11e5-9ce1-dab4eee2e644.jpg)

[2016-03-12 12:20] vzabaznov commented on #3435
Hi @bgabrovsek seems like issue cannot be reproduced in fresh magento version, please check, and if you feel that not, write here, or open new issue

[2016-03-12 12:20] #3435 closed, assigned to nobody

[2016-03-12 12:21] vzabaznov commented on #3432
Hi @sela88, do you have ACL permission to do such kind of operations?

[2016-03-12 12:23] katmoon commented on #3659
Hi @chrom

This feature is available in Enterprise edition. There is a similar feature in Magento 1: http://merch.docs.magento.com/ee/user_guide/catalog/visual-merchandiser.html

[2016-03-12 12:23] #3659 closed, assigned to nobody

[2016-03-12 12:27] #3281 closed, assigned to nobody

[2016-03-12 12:35] katmoon commented on #2012
I'm closing the ticket due to @mbrinton01 comment.

@dfediuk thank you for sharing the idea for improvement!

[2016-03-12 12:35] #2012 closed

[2016-03-12 12:52] katmoon commented on #3229
The issue has been reported as `MAGETWO-46697` and it is fixed now. See 1919e7ed823c24f1cfac

Thank you!

[2016-03-12 12:52] #3229 closed, assigned to nobody

[2016-03-12 12:55] katmoon commented on #3180
Hi @bbraspenning

Internal ticket `MAGETWO-50414` has been logged for further investigation.

Thanks,
Kateryna.

[2016-03-12 12:58] katmoon commented on #2226
Closing the issue as it has been fixed.
@cfcnn Thanks again for reporting!

[2016-03-12 12:58] #2226 closed

[2016-03-12 13:11] vzabaznov commented on #3194
Issue was fixed, @pivulic could you please check, if you think that issue still persist, please feel free to write here, or to open new issue

[2016-03-12 13:11] #3194 closed, assigned to nobody

[2016-03-12 13:23] vzabaznov commented on #966
Hi @gewaechshaus  seems like it was fixed in hhvm version 3.9, please check it, and if you think that not, feel free to write here or to open new one

[2016-03-12 13:23] #966 closed

[2016-03-12 13:28] katmoon commented on #2552
@nyov

Thank you for reporting the issue, and sorry for the delay.
I have created internal ticket `MAGETWO-50416` to fix the issue suggesting to update the confusing message.

Thanks,
Kateryna.

[2016-03-12 13:33] katmoon commented on #2315
Hi @matthewwiggins

Thank you for the reporting issue and sorry for the delay.
I have created internal ticket `MAGETWO-50417` for this issue.

Thanks,
Kateryna.

[2016-03-12 13:42] vzabaznov commented on #3106
#3657

[2016-03-12 13:43] vzabaznov commented on #3106
Hi @tigerx7 i will close this ticket due to duplication with #3657, internal ticket was created MAGETWO-50184

[2016-03-12 13:43] #3106 closed, assigned to nobody

[2016-03-12 14:22] #2932 closed, assigned to nobody

[2016-03-12 14:23] vzabaznov commented on #2932
issue was closed, if you'll find another scenarios please write here, or add another issue

[2016-03-12 15:21] nyov commented on #2552
Not a problem. Thanks.

[2016-03-12 15:32] ghost commented on #3742
If you have command-line access, you can display the Admin URI: [`magento info:adminuri`](http://devdocs.magento.com/guides/v2.0/install-gde/install/cli/install-cli-adminurl.html#instgde-cli-displayurl)

[2016-03-12 15:33] katmoon commented on #2901
Hi @hellsanos

Product page in Admin has been completely reworked and the issue can't be reproduced anymore.
So your issue should be fixed after you upgrade Magento to the latest version.

Nonetheless, I have noticed several other similar issues with a forbidden ajax call for a custom admin role with custom, but all, permissions.

Thank you very much. This is a very good find!

Thanks,
Kateryna.

[2016-03-12 15:33] #2901 closed, assigned to katmoon

[2016-03-12 15:45] katmoon commented on #3105
Hi all,

The internal has been closed since the issue is not reproducible anymore.
I'm closing the ticket.

Thanks for reporting!
Kateryna.

[2016-03-12 15:45] #3105 closed, assigned to guz-anton

[2016-03-12 16:58] ghostofspider opened #3747 "Admin catalog image thumbnail 404"
## Steps to reproduce
1. Install Magento stabel 2.0.2 in subdomain
2. Configure varnish cache.
3. Re-index and refresh cache
4. Open Products -> Catalog

Expected result
1. View image normal in Products ->Catalog list

Actual result
1. Product list Thumbail image error 404 Not found!
![01](https://cloud.githubusercontent.com/assets/6448909/13724152/56f768fe-e884-11e5-9cc6-51ca3754b484.jpg)

[2016-03-12 19:05] rahul-parashar commented on #2619
@mslabko

Same Issue & same case & same diagnosis after importing products via magento import module.

[2016-03-12 19:09] romeof1980 commented on #2412
+1 to @benmarks
Nexcess is my goto example too of doing shared hosting right

[2016-03-12 19:18] thomvanderboon commented on #3588
This issue is already covered by another issue:

https://github.com/magento/magento2/issues/2630

[2016-03-12 20:52] bondimedical3 commented on #3742
I am talking about this page.
![screenshot_2016-03-13-07-51-52](https://cloud.githubusercontent.com/assets/10808588/13725261/957fd5d6-e8f0-11e5-8faf-8f95b406a238.png)

[2016-03-13 01:27] thor777 commented on #3278
I still have this problem when installing on Windows 10 with xampp .

2016-03-10 11:00 GMT-03:00 nmomotenko notifications@github.com:

[2016-03-13 05:08] dafencun commented on #3568
Hi, Kateryna,

Following your instructions, I managed to display all the sample products in multiple stores.

Many thanks,

Dafencun

[2016-03-13 05:08] #3568 closed, assigned to voleye

[2016-03-13 08:20] redinn commented on #3716
Looks like it's a duplicate of #3099

[2016-03-13 15:18] mayhem-ahmad opened #3751 "Question: How can i make JavaScript Asynchronous"
Hey guys,

I'm trying to us Html5 attribute async for these files :
/requirejs/require.min.js
/requirejs-min-resolver.min.js
/mage/requirejs/mixins.min.js
/requirejs-config.min.js

but i can't do it in magento cause it's XML tags and there is no head.phtml like magento1
Help plz

[2016-03-13 15:56] Pinimichu opened #3752 "M2 fails when saving a model on a table with multi-column primary key"
## Steps to reproduce
1. Reference a ressource model to a database table that has a multi-column primary key
2. Create a model object in magento and try to save it:
   `public function createModelEntry(\vendor\Module\Api\Data\MyModelInterface $modelData)
   {
   $modelData->save();
   }`
## Expected result
1. Model object should be saved to the database table or an exception should be thrown that

[2016-03-13 16:00] mayhem-ahmad commented on #3260
@MomotenkoNatalia
No I solved it, it turns out that i have errors in my theme less files .
Thanks!

[2016-03-13 16:21] shuaiZend commented on #3679
I use phpmyadmin truncate tables.
can truncate.

[2016-03-13 20:26] luca-vercelli commented on #3611
I have solved by myself, with a small hacking into nginx.conf.sample. I had to add a rewrite rule to convert "index.php/smthg" into "index.php?smthg":

[code]

Anyway, I still don't understand how the standard Magento setup can work on nginx.

[2016-03-13 22:33] forgeonline commented on #3707
Hi,

Since it took while to update we need a solution fast so I've made some changes to mage\backend\bootstrap.js to work

Please add this to repository so for json string works without any decoding error

Changed from line no 38

<code>
                settings.data.indexOf('form_key=') === -1) {
                settings.data += '&' + $.param({
                    form_key: form_key

[2016-03-13 22:39] Flyingmana commented on #1910
No, Issue is not occuring anymore :+1:

[2016-03-13 22:39] #1910 closed

[2016-03-13 22:44] Flyingmana commented on #1481
As I see all the Issues mentioned initially here are solved now

[2016-03-13 22:47] Flyingmana commented on #1660
I close this issue, as the basic stuff now works for me

[2016-03-13 22:47] #1660 closed

[2016-03-13 23:00] ClaudiuCreanga commented on #2412
this discussion degenerated from the original intent but I agree with magento's intention of changing the status quo. At the moment there are thousands of thousands of hacked ecommerce sites. We had cases where a shared server was used to gather credit cards from other 20 websites, a complete mess. Something has to change. Or users will only trust big sites like amazon. I believe now you can have

[2016-03-13 23:04] fooman commented on #2412
I think a $10/month private server is a worse choice as most people do not have sysadmin skills available to them - so instead of worrying about the application only one would then also have to worry about the complete stack.

[2016-03-13 23:34] thomvanderboon opened #3753 "Cron error"
Every night at 0:00 I get the following cron error

PHP Fatal error:  Class 'Magento\SalesRule\Crone\AggregateSalesReportCouponsData' not found in /var/www/html_dev/lib/internal/Magento/Framework/ObjectManager/Factory/AbstractFactory.php on line 97

I have the same issue on a 2.0.2 install as well as a clean dev install

After installation the following commands have been issued:

composer update

[2016-03-14 02:23] dnadle opened #3754 "Must override at least one static content file or custom theme static content won't deploy"
## Steps to reproduce
1. I created a custom theme with Magento/blank as parent, to override a template.
2. I did not override any static content. (nothing in the theme's web folder).
3. I ran bin/magento setup:static-content:deploy
## Expected result

The static content requests would fall back to load from the Magento/blank theme.
## Actual result

All of the static content links in pub/static/th

[2016-03-14 03:09] tungnt1 opened #3755 "category detail not display"
I've installed magento 2 (clear) by composer on ubuntu 14 with nginx and php 7.
After install, category and sub can not diplayed ... (Admin page--> Products--> Categories... this not show on detail for edit and add new)
Please help me to display theme...

[2016-03-14 04:34] eByte23 opened #3756 "[MYSQL] Mysql not supported error"
## Steps to reproduce

clone repo
install with composer
run install from bin/magento

[code]
## Expected result

Installs properly
## Actual result

 [Magento\Setup\Exception]
  Sorry, but we support MySQL version 5.6.0 or later.

![screen shot 2016-03-14 at 3 35 51 pm](https://cloud.githubusercontent.com/assets/8544875/13735142/11fe1528-e9fa-11e5-8320-6a03eaaf98d0.png)

Am I doing somthing wrong?

[2016-03-14 05:05] TangLiang opened #3757 "session_regenerate_id(): Cannot regenerate session id - session is not active"
When I enabled the memcache for magento 2,I can't login admin panel any more also customer can't login frontend.

when i register customer from frontend,it shows error like blow.

1 exception(s):
Exception #0 (Exception): Warning: session_regenerate_id(): Cannot regenerate session id - session is not active in /home/wwwroot/demo.com/lib/internal/Magento/Framework/Session/SessionManager.php on line

[2016-03-14 05:07] TangLiang commented on #3755
same errors

[2016-03-14 06:23] #3757 closed, assigned to nobody

[2016-03-14 06:51] smatric commented on #2299
Verbosity levels don't help. Below is my case.

I'm developing a new module. In this file:

`app/code/Smatric/DealerApplyForm/etc/module.xml`

I have a typo:

[code]

It should be "Smatric_Dealer**Apply**Form" and not "Smatric_Dealer**Appy**Form".

With that typo, if I run:

`$ php bin/magento -vvv | grep -ni "Dealer"`

I get useless error message with no mention of my new module. I really suggest

[2016-03-14 08:02] claudiumitreaa opened #3758 "Invalid login and password"
Steps to reproduce
Upgrade magento 1.7.x to 2.0.x with migration data tool from ubertheme.

Expected result
All is ok.

Actual result
When I try to login with any customer email and password I got "Invalid login and password.", but in the old store, the same customers working perfectly.

[2016-03-14 08:07] mrkhoa99 commented on #3756
@eByte23 you should check System Requirement before setting up Magento 2: http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements.html. Magento 2 doesn't support your current MySQL version. Please, upgrade to 5.6.x version.

[2016-03-14 08:21] tzyganu commented on #1296
@vzabaznov WooHoo. Thanks for this. I will take a look.

[2016-03-14 08:53] #3142 closed, assigned to ishakhsuvarov

[2016-03-14 09:20] eByte23 commented on #3756
@mrkhoa99 I did do exactly that I had the correct version yet it still threw errors so I read on another issue where someone said mariadb was supported so I upgrade to that and the same error message

[2016-03-14 09:24] glwstor opened #3759 "tier price of a simple/virtual product does not appear on a configurable product page"
We have created some configurable products with unique simple/virtual products, colors and prices.
Every simple or virtual product has a tier price.
But the tier prices does not appear on the product detail page on frontend.

Tested on blank and luma theme.

[2016-03-14 09:28] arunkasyakar commented on #3615
that issue was from my side, it is resolved thanks

[2016-03-14 09:28] #3615 closed, assigned to voleye

[2016-03-14 09:31] arunkasyakar opened #3760 "magento search"
We are building an application using Magento-2 Rest APIs.

In the application we are implementing a search function using rest
api. The search will happen using multiple filters. By default,
magento is using "and" operator between filters for producing search
results.

However our requirement is to use "or" operator between filter so that
result matching with any of the filter will show up.

We ha

[2016-03-14 09:36] glwstor opened #3761 "swatchesRenderer: simple product price does not update on catalog page"
Prices of simple and virtual products, within a configurable product, will not be updates on catalog page.
By clicking a swatch, the new swatch image will be loaded but not the associated price.
The swatch images and prices are present in the <script> section next to the configurable product on the catalog page.
No js errors appears in the browser log.

[2016-03-14 09:50] Totarenx opened #3762 "Minicart items height"
Steps to reproduce
I.
1. Install Magento 2.0.2.
2. Add 4 Products to the cart.
3. Refresh page!!!
4. Open minicart

Expected result
![image](https://cloud.githubusercontent.com/assets/14783879/13740420/c6e22894-e9e1-11e5-9172-d25270150411.png)

Actual result
![image](https://cloud.githubusercontent.com/assets/14783879/13740489/17b25aaa-e9e2-11e5-9592-acd699e2b5e8.png)

II.
1. Install Magento 2.0.2

[2016-03-14 09:53] mrkhoa99 commented on #3756
Hello @eByte23,
Can you show me your current environment system? OS, PHP version, Web server, MySQL version, MariaDB version?
In my opinion, we should install Magento 2 with MySQL at the first time. For more detail about our error message, we should take a look at this file: https://github.com/magento/magento2/blob/develop/setup/src/Magento/Setup/Validator/DbValidator.php#L94-L103.
We can hack the

[2016-03-14 10:05] Totarenx opened #3763 "Add Products to Group"
## Steps to reproduce
1. Install Magento 2.0.2.
2. Backend -> Products -> Catalog -> Add Product -> Grouped Product -> Add Products to Group
3. Scroll product list
4. Try to select any

![image](https://cloud.githubusercontent.com/assets/14783879/13741106/6c74e5b4-e9e5-11e5-9234-e85c51173ff7.png)

[2016-03-14 10:22] mnjongerius opened #3764 "Magento\Widget\Controller\Adminhtml\Widget\Index has no ADMIN_RESOURCE"
When I try editing a widget with a user with VERY limited permissions (only CMS paged/blocks/widgets/media) I get a 404.

I found out this has to do with the function _isAllowed returning false.

I guess giving this class the correct ADMIN_RESOURCE could fix this?

[2016-03-14 10:24] mnjongerius commented on #3764
Same goes for BuildWidget and LoadOptions

[2016-03-14 10:25] voleye commented on #3744
Hi @shinethazhava, thank you for your request!

Could you please provide the source code of class that extends "Magento/Catalog/Block/Product/View/Gallery"?

[2016-03-14 10:33] antboiko commented on #3268
Hi @vipin33. This message appears when you create a category with already existing name in the same parent category (e.g. you already have category "Shoes" in "Men" and you try to create another category "Shoes" under "Men". In this case you will see this message "URL key for specified store already exists.").
By default URL key is being generated based on "Category Name". So for the second "Shoes

[2016-03-14 10:33] #3268 closed, assigned to antboiko

[2016-03-14 10:42] antboiko commented on #3263
@TRMMarketing

Please check my answer above. You can update variation of Configurable product by clicking on "Select" in Actions column and "Choose a different Product". This way you can replace generated product with existing one.

Please feel free to reopen this issue or to add a new one.

Best,
Anton.

[2016-03-14 10:42] #3263 closed, assigned to antboiko

[2016-03-14 11:26] eByte23 commented on #3756
I found the reason it was the version of mariadb 10+ only gives off mysql versions 5.5
How ever install completes fine on mariadb 10.1 when I comment out the validator I'll do a pr for maraidb support.

Cheers

[2016-03-14 11:56] jit17 opened #3765 "Error While Saving New Attribute For Product"
## Steps to reproduce
1. Go to Stores >> Product
2. Click On Add New Attribute
3. Add Label & Select Catalog input type as "Dropdown"
4. Select Value Required "YES"
5. Add Values for Default Store view & Admin in Manage Options (values of your attribute)
## Expected result

It should allow Add New Attribute in attribute records
## Actual result
1. Error message appears: "This is a required field".

[2016-03-14 12:36] zamboni084 opened #3766 "product attributes are shown on Non assigned products"
Hi,

On product attributes how come the one i create show the first option in the list and the attribute color made by magento is clear? So if i create a configurable product, its attaches size, numbers and letters to the product(see pic) How do i get them to be blank like color? All setting are the same as the color attribute. You should be able to remove an attribute from a product with the drop

[2016-03-14 13:00] ankursachdeva11 opened #3767 "Regarding product list API to get only list of product for one store via REST API"
[Domain]/rest/V1/products?searchCriteria[filter_groups][0][filters][1][field]=status&searchCriteria[filter_groups][0][filters][1][value]=1&searchCriteria[filter_groups][0][filters][1][condition_type]=eq

I have used this to get all products whose status is enabled.
Can we pass store id to get all products for particular store?

[2016-03-14 14:12] almarchenko commented on #3356
Hi @cescopag!
Thank you for reporting this. Looks like there's a bug in magento code, that is why the code sample provided in docs doesn't work. But you found the correct temporary solution.
It must be temporarily as <action> is deprecated. I'll add a note in docs, and updated them when the bug is fixed.

[2016-03-14 14:15] shiftedreality commented on #3722
Hi, @jaimestuardo

I can't reproduce this issue on latest develop branch. Please, add more specific steps to reproduce it.

[2016-03-14 14:27] marvincaspar opened #3768 "Reflection return type does not handle use statements"
## Steps to reproduce
1. Install Magento v2.0.2
2. Create a new API method
3. Change method phpdoc from `@return \Magento\Sales\Api\Data\OrderInterface Order interface` to `@return OrderInterface Order interface` and add a `use` statement for `Magento\Sales\Api\Data\OrderInterface`
4. Call the new API method
## Expected result
1. API should return an OrderInterface object
## Actual result
1. `Clas

[2016-03-14 15:01] Vinai commented on #3768
That is a limitation of the PHP interpreter, PHPUnit for example has the same "issue" when parsing `@covers` and `@uses` annotations.
The class imports are resolved by the PHP interpreter using a kind of pre-processing of the source code, but the comments are just treated as plain text, not code.
however, any code that tries to apply namespaces to non-fully qualified class names in annotations wou

[2016-03-14 15:17] victor-shelepen commented on #3623
Related issue: https://github.com/magento/magento2/issues/3612

[2016-03-14 15:35] badcrc commented on #3710
Hi,

removing vendor/oyejorge/less.php and cloning it from github seems to work:

[code]

[2016-03-14 15:56] thomvanderboon commented on #2630
I am currently testing the development branche concerning this issue. It looks like >99% of the problems have been solved.

I only found one problem so far:

the following strings are not dumped to the file to be translated from app\code\Magento\Catalog\view\frontend\web\js\catalog-add-to-cart.js

[code]

[2016-03-14 16:39] mazhalai commented on #3743
@vipin12117 can you please clean cache(magento + browser) and try again?

[2016-03-14 16:42] jaimestuardo opened #3771 "js-translation.json is not generated"
I have Magento2 localized to es_ES. Translations work partially.

First of all, I have generated the CSV using Magento2 way but some translations were not included in CSV file.

Well.. for those non-translated sentences, I have being adding to the file manually.

The problem I always have is that js-translation.json file were not generated automatically. So I have created it manually and copied in

[2016-03-14 16:44] mazhalai commented on #2985
Closing since the related PR has been accepted.

[2016-03-14 16:44] #2985 closed, assigned to mazhalai

[2016-03-14 17:12] jaimestuardo opened #3772 "Cannot create a custom LayoutProcessor"
Hello,

I don't know if this is a bug or not, but the fact is that I cannot create a LayoutProcessor. I have tried everything with no success.

This is the config.xml file for my custom module (I warn you that GITHUB has problems when trying to insert XML code)

`&lt;?xml version="1.0"?>
&lt;!--
/**
- Created by
- Date: 16/02/2015
- Time: 16:15
  */
  -->
  &lt;config xmlns:xsi="http://www.w3.org/

[2016-03-14 17:19] mazhalai commented on #3742
@bondimedical3 once you login to admin, go to **System > Web Setup Wizard.** to access this page. You cannot go back to admin from this page, since during upgrade or component update, the Magento2 application (admin included) may not be in a stable state. You will have to access admin directly.

Closing since this is not a bug, but expected behavior.

[2016-03-14 17:21] #3742 closed, assigned to tanya-soroka

[2016-03-14 17:54] shuaiZend commented on #3758
key Different.
vi magento1/app/etc/local.xml
find key.

look like ：
`<crypt>
            <key><![CDATA[5f02266b3f25c72cf5e812a5f26616xx]]></key>
        </crypt>
`

and find M2 key

vi magento2/app/etc/env.php

find key.

look like ：
`array (
    'key' => '13153a1888aec0d4e88734fe286369xx',
  ),`

copy M1 key Value to M2.

and login again.

[2016-03-14 18:28] jaimestuardo opened #3773 "When added a new field to checkout page, it does not take type into account"
After a lot of testing and trials and errors, I have concluded this a bug.

I want to add a new combobox field in the checkout page in new address form. For that, I have added this code to the checkout_index_index.xml file:

[code]

I added that code as a sibling of the already existing field, region_id.

The field appears, but as an INPUT field, not as  SELECT field.

And after a lot of days tryi

[2016-03-14 18:31] dafencun commented on #3761
This issue was reported previously @  [#3150](https://github.com/magento/magento2/issues/3150)

[2016-03-14 19:08] chris-brabender commented on #3364
Can second this issue and add that "Allowed Countries" seems to not work also under Configuration -> General > Country Options

![screen shot 2016-03-14 at 3 05 11 pm](https://cloud.githubusercontent.com/assets/5144830/13756452/4e89bd0c-e9f6-11e5-90b7-df60d25c6e2d.png)

![screen shot 2016-03-14 at 3 08 33 pm](https://cloud.githubusercontent.com/assets/5144830/13756528/a8187552-e9f6-11e5-84aa-4e9e1

[2016-03-14 19:27] nobodypb opened #3774 "Paypal express review rendering of tax Block fails."
Everytime the review page trys to render it fails because in

[code]

getFullInfo() actually returns an unserialized array.

I'm running Magento 2.0.2 on php7.0.4

[2016-03-14 19:35] zamboni084 opened #3775 "When importing configurable product it does not assigned the simple products with it"
Steps to reproduce
1. Importing Configurable Products

Expected result
1. Configurable product added with its assigned Configurations

Actual result
1. Configurable product added (No Configurations)
2. Simple products added
3. and you can't add them manually because the link only shows up if you have associated products
   ![123](https://cloud.githubusercontent.com/assets/16354206/13756902/705f7d4

[2016-03-14 19:41] justinblayney opened #3776 "product export displays categories as text"
I am writing scripts whereby I can constantly update my internal product database with he magento database.

Category tables path are imported and export as so

*_1/3/46/7777  *_
using their IDs

When exporting Products, Categories are displayed as

**Vehicle Type/Product Type/AC Hoses,Vehicle Type/Car & Light Truck/Honda/Honda CIVIC**
using their actual names

Why in the world are you not using t

[2016-03-14 20:00] wozniakm commented on #3463
That should be `?fields=items[sku]`, check what is your response and adjust that.

[2016-03-14 20:06] thomvanderboon commented on #3560
There is a difference between the development branche and the 2.0.x branche

Try: php bin/magento i18n:pack --mode=replace -d /var/www/html/magento2/es_ES.csv . es_ES

The . is the only difference :)

[2016-03-14 20:12] p3mbo opened #3777 "SMTP Host and Port are not used even though config settings available."
In Magento1 when running under Windows you could set the SMTP Host and SMTP Port.

In Magento 1 this is achieved by code similar to the following:

[code]

In Magento 2 there is no reference in the source-code anywhere to `system/smtp/host` or `system/smtp/port`

[2016-03-14 20:20] jaimestuardo opened #3778 "Urgent: display full error message"
When an error occurs, the description is cut off with ellipsis, such as this:
#11 /home/depasa/public_html/vendor/magento/framework/View/Element/Template.php(255): Magento\Framework\View\TemplateEngine\Php->render(Object(Magento\Checkout\Block\Onepage), '/home/depasa/pu...', Array)

Messages like that is complete useless. How can I read the full error? I think you should modify this so that full e

[2016-03-14 21:19] claudiumitreaa commented on #3758
Thanks for your answer!
I made the changes, now in some accounts I can login but in another, still I got "Invalid login and password." .
I check the password_hash field from table customer_entity and for the accounts where I can login, the password look like "db2408d6bc4c99ea09baf9701f241886:PP:0" instead for the accounts where I can't login password look like "db2408d6bc4c99ea09baf9701f241886:0".

[2016-03-14 21:35] wozniakm opened #3780 "Getting products by REST API"
## Steps to reproduce
1. Create configurable product
2. Call REST API to get products, for example `GET /rest/V1/products?searchCriteria[page_size]=3`
## Expected result
1. Returned array should contain your added product with extension_attributes key inside
## Actual result
1. The extension_attributes is not present

In ProductRepository there is a line `$this->extensionAttributesJoinProcessor->p

[2016-03-15 00:10] ghost commented on #1299
You must have a total of three cron jobs as [this topic](http://devdocs.magento.com/guides/v2.0/install-gde/install/post-install-config.html#post-install-cron) explains. The one you're missing is this one:

*/1 \* \* \* \* [path-to-binary] -c [ini-file-path] [your Magento install dir]/bin/magento cron:run [>> [log-file]&]

Note that the cron job must run as your [Magento file system owner](http://

[2016-03-15 00:36] shuaiZend commented on #3758
PP is salt.
Here is how a password's hash is generated in Magento 2:
magento2/blob/8fd3e8/lib/internal/Magento/Framework/Encryption/Encryptor.php#L155-L162
`return implode(
    self::DELIMITER,
    [
        $this-&gt;hash($salt . $password),
        $salt,
        $version
    ]
);`

[2016-03-15 01:47] thomvanderboon commented on #3771
Known problem: https://github.com/magento/magento2/issues/2056

[2016-03-15 02:42] cs221313 opened #3781 "2 tables in one grid problem"
Hi, All,

I want to add the city information in address. I implemented as following:
1. Created table as following code:
   class InstallSchema implements InstallSchemaInterface
   {
   public function install(SchemaSetupInterface $setup, ModuleContextInterface $context)
   {
       $installer = $setup;
       $installer->startSetup();
       if(!$installer->tableExists('directory_region_city')){

[2016-03-15 02:50] pantaoran commented on #3572
@sevos1984 what is the status on those MAGETWO-46014 and MAGETWO-49449? Also, will this lead to a new release or will I need to use the dev branch to get it fixed?
Or maybe I should direct this question to @slavvka since it was assigned to him?

[2016-03-15 03:12] thomvanderboon commented on #2630
Further testing: Step 2 of the Checkout proces still displays "Review & Payments".

The bin/magento i18n:collect-phrases command does not dump this text to the source file. If the translation is present, text is not translated

[2016-03-15 05:35] amansrivastava commented on #3573
@MomotenkoNatalia any updates ?

[2016-03-15 06:45] ishakhsuvarov commented on #3778
@jaimestuardo Thank you for your question.
Please check error logs located inside `var/log` and `var/report` directories (relative to Magento root).

[2016-03-15 08:08] katesuykovskaya opened #3782 "QUESTION: Why empty values in dropdown attribute are non visible?"
## Steps to reproduce
1. Magento 2.0.2
2. create product attribute "test_dropdown", type=dropdown, required=NO, add this attribute to attribute set
3. go to create product page

Expected result
1. I should have ability to leave "test_dropdown" attribute empty, if it's not required.

Actual result
1. "test_dropdown" has empty option, however it is set display: none
![image](https://cloud.githubuser

[2016-03-15 08:13] quienti commented on #3758
https://github.com/ubertheme/module-ubdatamigration/blob/master/README.md

`Upgrade Password Hash (This is optional task for more security):
In your terminal window run bellow command php -f PATH_YOUR_MAGENTO_2/bin/magento customer:hash:upgrade upgrade customer password_hash`

[2016-03-15 08:19] xiaoyuchen opened #3783 "Web Setup Wizard on admin panel 401 page"
Magento 2 success install on Debian 8

Everything is working fine, only when click  "Web Setup Wizard" menu in admin page -> system -> tools -> web setup wizard it goes to 401 unauthorized access page. with message following.

"Welcome to Magento Admin, your online store headquarters.
To use the Magento setup wizard sign into your Admin account and navigate to System => Tools => Web Setup Wizard "

[2016-03-15 08:30] claudiumitreaa commented on #3758
I run your command and I got this
Exception trace:
 () at /home/storekpiin/public_html/store/vendor/magento/module-customer/Console/Command/UpgradeHashAlgorithmCommand.php:67
 Composer\Util\ErrorHandler::handle() at /home/storekpiin/public_html/store/vendor/magento/module-customer/Console/Command/UpgradeHashAlgorithmCommand.php:67
 Magento\Customer\Console\Command\UpgradeHashAlgorithmCommand->exec

[2016-03-15 09:06] MomotenkoNatalia commented on #3406
@wouthoekstra  Internal ticket MAGETWO-49805 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-03-15 09:06] #3406 closed, assigned to nobody

[2016-03-15 09:14] ishakhsuvarov commented on #3762
@Totarenx Thank you for reporting this issue.
It is already fixed and delivered to the `develop` branch. Most likely the fix will be available with the next major release.

[2016-03-15 09:28] thomvanderboon commented on #3719
Same on 2.0.2

[2016-03-15 09:49] ishakhsuvarov commented on #3773
@jaimestuardo The snippet you provided is used to add a "region" element which may become either text or select based on the settings.

To add a simple select try the following:

[code]

You can find more information and examples in the [Magento 2 Developer Documentation](http://devdocs.magento.com/guides/v2.0/howdoi/checkout/checkout_form.html)

[2016-03-15 09:50] gavinlimely opened #3784 "js/theme & js/responsive files in wrong requirejs-config file?"
Should the js/theme & js/responsive dependencies be located in the Magento_Theme requirejs-config file? I've created a new theme that doesn't extend the blank theme & Magento is still trying to include js/theme & js/responsive even though I don't require them in the theme I'm creating.

Would it make more sense for them to be included in the blank theme?

[2016-03-15 10:07] ishakhsuvarov commented on #3772
@jaimestuardo Injecting a layout processor is done using following configuration inside module's `etc/frontend/di.xml`:

[code]

Also you may use technique described in the [Magento 2 Developer Documentation](http://devdocs.magento.com/guides/v2.0/howdoi/checkout/checkout_form.html#dynamically-defined-forms).

[2016-03-15 10:14] shiftedreality commented on #3099
@redinn thank you for reporting. Internal ticket MAGETWO-50495 was created.

[2016-03-15 10:15] shiftedreality commented on #3716
Hi @sammyhq,  thank you for reporting.

I created  internal ticket MAGETWO-50495 to resolve this issue.

[2016-03-15 10:22] sachinkalerws opened #3785 "Admin-> Store-> Tax Rules-> New==> "Calculate Off Subtotal Only" effect is not display at front-end->checkout."
Admin-> Store-> Tax Rules-> New==> "Calculate Off Subtotal Only" effect is not display at front-end->checkout.

![calculated off checkout](https://cloud.githubusercontent.com/assets/17641550/13774611/d9662bc0-eac5-11e5-8f62-b69067c1564d.jpg)

[2016-03-15 11:08] shemayas commented on #2966
Hi,
I had the same problem in Hebrew based store magento 1.9.
In the file lib/Zend/Locale/Data/he.xml there are this rows:

[code]

Somehow the LRM sign is messing up the preg_match regular expression.
If  i remove the LRM sign all is well.

If someone has an idea how to resolve this without removing the LRM i will be happy to hear.

[2016-03-15 11:16] PaulBoss opened #3786 "All product data public available via API"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Enable an integration
3. Use the following URL in your browser: http://<domain>/rest/V1/products?searchCriteria[pageSize]=10
## Expected result
1. Authentication failed
## Actual result
1. A reply with 10 products listed.
   ![screenshot from 2016-03-15 12 15 01](https://cloud.githubusercontent.com/assets/5463398/13775926/98419a3a-

[2016-03-15 11:23] vanderlee opened #3787 "REST API /V1/orders does not handle out-of-bound currentPage correctly"
## Steps to reproduce
1. Install Magento2 with sample data (has 2 orders).
2. Call `/V1/orders` API with a `pageSize` and `currentPage` in `searchCriteria` that is beyond the number of orders. (tested path: `/V1/orders?searchCriteria%5BcurrentPage%5D=100&searchCriteria%5BpageSize%5D=100`)
## Expected result
1. Empty page
## Actual result
1. Last page of orders

[2016-03-15 11:26] vanderlee opened #3788 "REST API /V1/orders ignores sortOrders"
## Steps to reproduce
1. Install Magento with sample data.
2. Call `/V1/orders` with a single `sortOrders` with `field` `created_id` and `direction` `DESC`. (used path: `/V1/orders?searchCriteria%5BsortOrders%5D%5B0%5D%5Bfield%5D=created_at&searchCriteria%5BsortOrders%5D%5B0%5D%5Bdirection%5D=ASC`)
## Expected result
1. Orders sorted according to criteria.
## Actual result
1. Unsorted orders.
## N

[2016-03-15 11:29] daim2k5 commented on #3767
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-03-15 11:29] #3767 closed, assigned to nobody

[2016-03-15 11:31] daim2k5 commented on #3756
@eByte23 so i close the issue for now.

[2016-03-15 11:31] #3756 closed, assigned to nobody

[2016-03-15 11:33] daim2k5 commented on #3732
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-03-15 11:33] #3732 closed, assigned to yaronish

[2016-03-15 11:57] NadiyaS commented on #3781
Hi @cs221313,

the GitHub issue tracker is intended for technical issues only.
Please refer to the [Magento Stack Exchange](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) site for technical questions or [Community Forums](https://community.magento.com).
Feel free to reopen this issue if you think you have encountered a bug in Magento 2.

[2016-03-15 11:57] #3781 closed, assigned to nobody

[2016-03-15 12:08] NadiyaS commented on #3788
Duplicate of #3018. Tracking as MAGETWO-49212 internal issue.

[2016-03-15 12:08] #3788 closed, assigned to NadiyaS

[2016-03-15 12:20] MomotenkoNatalia commented on #2978
I close the issue for now. If you have further question to this issue please feel free to reopen

[2016-03-15 12:20] #2978 closed, assigned to MomotenkoNatalia

[2016-03-15 12:47] Selk opened #3789 "getDestCity() method returns nothing in collectRates() method."
As the title says, the `getDestCity()` method returns absolutely nothing if I use it inside `collectRates()` method.

I tried like this :

`$city` = $request->getDestCity();`
`$street = $request->getDestStreet();`
`$postCode = $request->getDestPostcode();`

But it didn't worked (`$city` and `$street` are empty, not `$postCode`).

I think it might be a bug because it worked perfectly fine on magent

[2016-03-15 12:50] #3762 closed, assigned to ishakhsuvarov

[2016-03-15 12:53] ankursachdeva11 commented on #3463
Thanks @wozniakm, it works.

[2016-03-15 12:53] #3463 closed, assigned to nobody

[2016-03-15 12:58] sachinkalerws opened #3790 "Product-> Configure Product-> Advance Inventory==> "Qty increments" functionality is not working."
Product-> Configure Product-> Advance Inventory==>
"Qty increments" functionality is not working.

![qty increment](https://cloud.githubusercontent.com/assets/17641550/13778419/a888533c-eadb-11e5-8da8-e80c60b30303.jpg)

[2016-03-15 13:04] degaray commented on #3680
Try to add the product type in your request

[2016-03-15 13:11] almarchenko commented on #2633
@lgarridoj  we followed the steps in the doc and everything works correctly.
Perhaps cleaning the cache will help: manually clean the`pub/static` and `var/view_preprocessed` directories.
Please let us know if it helps.

[2016-03-15 13:15] PingusPepan commented on #2228
Hey guys. Replacing `&` in the path with `&amp;amp;amp;`seems to work for me. The problem seems that the xml code is escaped three times for me. If it does not work for you, try adding or removing the `amp;` part as many times as needed until it works.

[2016-03-15 13:23] quienti opened #3791 "Error review when customer is not logged"
## Steps to reproduce
1. Magento 2.0.2
2. Config -> Allow Guests to Write Reviews -> No
   ![sans titre 1](https://cloud.githubusercontent.com/assets/7326954/13778957/ebb61306-eab8-11e5-91a0-619d926e2736.jpg)
3. Loggin in frontend
4. Go to any product page with review
5. Wait logout without refresh page
6. Post a review
## Expected result
1. You need to log to post a review
## Actual result

Repor

[2016-03-15 13:24] neran commented on #3680
Is it this parameter?
typeId (string, optional): Type id
Which value for simple product? "Simple Product"?

[2016-03-15 13:29] zanilee commented on #2582
Hi, @rdeelstra!

We can't reproduce it now. Could you please update your Magento2 installation and try themes again?

[2016-03-15 13:31] degaray commented on #3680
Try something like this:

[code]

Obviously use your own preferences specially your attribute set. This one works for me.

[2016-03-15 13:36] neran commented on #3680
Perfect! Works! typeId did it.
Thank you!!

[2016-03-15 13:40] eug123 commented on #3710
Hi @badcrc,

Thanks for finding the problem and solution. I could not reproduce it.

Can you, please check if setting the latest version in composer.json file and running `composer update` will also fix the issue in you environment?
`"oyejorge/less.php": "~1.7.0.3",`
to
`"oyejorge/less.php": "1.7.0.10",`

[2016-03-15 13:57] antboiko commented on #3790
Hello @sachinkalerws , thanks for your inquiry. What Magento version do you use?

Could you please provide detailed steps to reproduce the issue?

Thanks,
Anton.

[2016-03-15 14:31] #3680 closed, assigned to kandy

[2016-03-15 14:33] neran opened #3792 "Product websites are reset on update via REST API"
Hi,

I have 2 websites setup in Magento and products associated to both websites.
After I update a product via REST, the product is linked only to "Main Website".
How can I update a product without changing the linked websites?

Thanks is advance!

[2016-03-15 14:40] jaimestuardo opened #3793 "Onepage checkout page needs to be more customizable"
I have spent almost 1 week trying to add a simple select field to shipping address in onepage checkout page.

The problem is that since this page is formed by mean of the damn knockoutjs framework, it is impossible to manage.

I only need to have a region dropdown and when an element is selected, a city dropdown must be populated accordingly. I did that right in register and address edit page, how

[2016-03-15 14:43] choukalos commented on #3719
This is as designed.  Intent is to allow mobile shopping apps or ajax style applications to browse the catalog and purchase.  You'll notice that we block some extensible data objects (inventory) from being displayed when catalog is being accessed anonymously.  You'll notice that we have 3 different sets of Quote APIs to allow anonymous, logged in user and the Admin to access those business objects

[2016-03-15 15:05] fvschie commented on #3786
Confirmed. Also shows hidden products, including future promotion prices and periods.

[2016-03-15 15:09] Bbbrinks commented on #3719
@choukalos (This is spotlerbobs actual github account) My concern is that when i'm running multiple websites on one magento instance, i might not want this information to be public. These websites/webshops might be competing webshops and i might want to hide the fact that i own both.

[2016-03-15 15:20] ankursachdeva11 opened #3794 "Need configurable product price from Rest V1 Products Web API"
We are using http://[Domain]/rest/V1/products/[SKU]

Here we are specifying SKU of configurable product but in return we are getting price value 0.
If we look into admin here in product grid configurable product price is showing and also in 'catalog_product_index_price' table we found entry for configurable product with price but price is not showing in response of API.
'<price>0</price>'

Please

[2016-03-15 15:53] SilvanLaroo commented on #3717
For the **Shopping Cart** all prices are excluding tax, but it should be possible to retrieve the price including tax right?

[2016-03-15 15:59] anton-huz commented on #3751
Hi @mayhem-ahmad ,
I'm pleasantly surprised that's someone roots for client side performance.

#### Here is some points about your question:
1. Adding `async` to those `<script>` nodes **is not enough**. In most cases you will get random issues with JS app on the page. These files expect _to be loaded one by one_.
2. As a solution for previous problem you can merge them manually. But `requirejs-co

[2016-03-15 15:59] #3751 closed, assigned to guz-anton

[2016-03-15 16:18] ishakhsuvarov commented on #3793
@jaimestuardo Thank you for sharing your thoughts on this, we greatly appreciate any kind of feedback about our work.

The client-side rendering concept was initially introduced to the Checkout flow to make it faster and more responsive by avoiding costly rendering action on backend. Currently, this approach is widely used in other Magento components.

Yes, we have multiple tasks in our product ba

[2016-03-15 16:50] peterjaap commented on #3025
The problem is the missing extension name in the template argument. Add 'Magento_Catalogwidget::' before the template, like this;

[code]

Then it will work. This is a bug in the core.

[2016-03-15 16:59] gwillem commented on #3786
Here's the [full list of API methods](http://devdocs.magento.com/swagger/index.html) for a standard install. Most seem to be behind ACL, except for products, storeConfigs etc.

[2016-03-15 17:11] jaimestuardo commented on #3793
Thanks @ishakhsuvarov, I hope this process get updated soon. Meanwhile, I will try to solve the problem. And, you cannot imagine the flooding of questions I have sent to Magento Stack Exchange and  community.magento.com and nobody answers, what means that nobody knows. It can mean also that documentation is really poor and/or nobody in the universe has wanted to customize the checkout page. Maybe

[2016-03-15 17:12] mikeweis commented on #3785
@sachinkalerws If possible, please provide some additional details on your configuration.

From your situation so far, here is what seems to be your basic config:
- one tax rate at 10%
- tax is applied to products, and not to shipping
- catalog prices are supplied with prices excluding tax
- shipping is a flat $5 per item

Your cart shows:
- 2 (taxable) t-shirts priced at $11/each, for a total of

[2016-03-15 17:30] daniel-ifrim commented on #1238
@hitendraebiz
I got stuck in same issue. Found the solution using setCustomAttribute from interface
https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Api/CustomAttributesDataInterface.php#L36

[code]

[2016-03-15 17:57] choukalos commented on #3284
This is a feature enhancement - created MAGETWO-50517 to encapsulate and shared with appropriate PM.

[2016-03-15 18:08] choukalos commented on #3738
@adrok - could you submit a PR?

[2016-03-15 18:12] adrok commented on #3738
@rafaelstz already submit PR https://github.com/magento/magento2/pull/3741/commits/f605e2de19f5cd59c7532c07baf4fe756af1395e

[2016-03-15 18:17] samtay opened #3795 "Validation messages missing from datepicker form elements"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Edit a CMS Page
3. Choose _Custom Design From_ and _Custom Design To_ that are faulty (poorly formatted or such that the end date occurs **before** the start date.
## Expected result
1. See error message generated from `validation.js`
## Actual result
1. In some situations (bad start/end logic or formatting), the validation is caug

[2016-03-15 18:46] ishakhsuvarov commented on #3793
@jaimestuardo We are working in that direction.
In the meantime, please check other GitHub tickets which you have opened recently, I hope we will be able to answer your questions.

Thanks.

[2016-03-15 19:31] dmcmillin commented on #3154
unfortunately this issue is still present within magento 2. Same as Julien30 but attempted to create 130 configurable products. system errors, with the sql issue. resets the product to simple, then ask you to reenter price. then allows you to save never notifying you until you see the product screen that it saved as a simple product.

[2016-03-15 20:00] PaulBoss commented on #3786
Here's a command to find all the endpoints which can be accessed without authentifcation: `find . -name webapi.xml | xargs -i grep -B4 anonymous {} | grep url`

Which results in this for a standard install:

[code]

So in short:
- All websites, storegroups, stores and store configuration
- All products (including offline/disabled products, pricing info, special pricing rules, stock information and

[2016-03-15 20:11] aaronsturm commented on #2999
I've noticed a few of these "slow" issues, so I'm unsure which to comment on. I'm using this one since it specifically says "local environment" since that best matches our situation.

I'm running Magento 2 using a local Docker VM with the memory set to 2048MB. Even with caching enabled, it would take several minutes to load the default homepage with a fresh install. Others on my team also tried wi

[2016-03-15 20:22] eddielau commented on #3783
Hi @xiaoyuchen, we are aware of this issue. The fix should be pushed to develop branch soon. Internal ticket # MAGETWO-50492

[2016-03-15 20:39] Krapulat commented on #2988
I'm also interested in this feature.

For example if you have the attribute "size" set to "Text Swatch" you can't add new attribute values when adding/editing configurations of a product.

[2016-03-15 20:47] alankent commented on #2999
Could you do me a favor and try the alankent/gsd Docker image and time how long the home page takes to load. (I am more familiar with this image.) Then please let me know how many seconds it took to load and the hardware spec you are running on, thx!

[2016-03-15 20:56] thomvanderboon commented on #3510
I have replicated your problem on the github development branche (with the Magento Crowdin Translation file), but it works correctly on the 2.0.2 branche (with my own translation file).

Do you use the Magento Crowdin translation file?

[2016-03-15 20:58] mikeweis commented on #3717
@SLv99 Is your point that you want to _display_ prices excluding tax, but _retrieve_ the price including tax (by using custom code)?

The following configuration should be working for _display_ (and thus retrieval):
- _Shopping Cart Display Settings_ ...
  - _Display Prices_ - Including and Excluding Tax
  - _Display Subtotal_ - Including and Excluding Tax

[2016-03-15 21:02] samtay opened #3796 "Cms repository implementation does not adhere to interface"
This is true for at least blocks and pages, and might be true of other entities as well.

[Here](https://github.com/magento/magento2/blob/798a8420e5738ceb5f2dcb332a59c7ee60b83444/app/code/Magento/Cms/Api/Data/PageSearchResultsInterface.php#L19) you can see that the `Magento\Cms\Api\Data\PageSearchResultsInterface::getItems` should return an array of a data objects that implement `\Magento\Cms\Api\

[2016-03-15 21:10] samtay commented on #3796
Furthermore, one would expect the array to at least have all of the data keys identified in the `PageInterface`, but the `page_id` key is missing (arguably the most important data piece!)

[2016-03-15 21:22] alankent commented on #2228
Thanks for investigating further. That may work, but it does not mean it is right! I think you should be able to do `&amp;`. I have a suspicion around decoding and encoding when we merge xml docs. Eg it smells like we are not doing an encode during serialization,

[2016-03-15 21:56] PingusPepan commented on #2228
Yes, it was meant only as a temporary workaround for anyone who needs to use other subsets. I am sorry if it was confusing.

I also couldn't find anywhere how to remove the default Open Sans from theme because simple loading of the Google Fonts version did not overwrite the local font. I had to rewrite _typography.less. I think that there should be a more simple way to do this or at least a note i

[2016-03-15 22:01] jaimestuardo commented on #3793
Thanks a lot, but I have finally followed this thinking: "if you can't beat them, join them". After several days trying to do one thing that should be very simple programmatically, and without seeing the light at the end of the tunnel, I decided to do what Magento wants, that is, to have an input field called city and a dropdown field called region_id. That is not what my customer expected but I a

[2016-03-15 23:40] benathey opened #3797 "Braintree payment method does not display on the checkout using php 7 or above."
Magento 2.0.2

Braintree payment method does not display on the checkout using php 7 or above.

Tested on apache and nginx using php 5.6, 7.0.0, 7.0.3.

Braintree payment method works fine on php 5.6.

Magento successfully generates tokens using php 5.6. but does not for 7 and above.
Php 7 and above encrypts the keys sent to braintree, braintree is unable to decrypt the keys, the tokens cant gener

[2016-03-16 02:57] rudik99 commented on #3797
this is the same issue i had for #3473 but was masked different PHP versions.
I am having this issue again since moving to php 7.0.3

[2016-03-16 03:44] ddeppner opened #3798 "/rest/V1/orders does not return shipping_address or shipping_address_id"
## Steps to reproduce

[code]
## Expected result

I expect to be able to access the shipping_address_id and shipping_address on the order, just like I can with the billing_address_id and the billing_address.  shipping_address_id is clearly available in the sales_order table, but not exposed via the API.
## Actual result

The elements in question are not included in the json reply.  This means that

[2016-03-16 04:11] ovdev1 commented on #3681
a good hint is to check the response from the iframe id=authorizenet_directpost-transparent-iframe

[2016-03-16 04:17] ddeppner commented on #3307
Hmmm...  I'm not 100% sure that creating a shipment should automatically mark an order as Complete.  What about an order where you create multiple shipments when one item isn't available yet?

You can still change order status via the API:
POST to:  '/rest/V1/orders/' . $orderId . '/comments'
BODY:
{
  "statusHistory": {
    "entityName": "order",
    "isCustomerNotified": 0,
    "isVisibleOnFront

[2016-03-16 04:27] ddeppner opened #3799 "POST /rest/V1/shipment does not change OrderItems qtyShipped"
## Steps to reproduce
1. Create a new shipment in the Admin screens and add items from a previously placed order to it.
2. POST to /rest/V1/shipment to create a new shipment with the items from a different order that has previously been placed.
3.  select item_id,qty_shipped from sales_order_item;
## Expected result
1.  sales_order_items qty_shipped field should show 0 for all items affected by ei

[2016-03-16 04:32] ddeppner commented on #3799
Because the qty_shipped is not updated when creating a shipment via API, the "Ship" command is still available in the Admin screens, and a user can create another shipment with the same items in it, creating future problems.

[2016-03-16 05:10] Deepthi57 opened #3800 "Unable to receive mails from Magento 2"
Steps to reproduce
1.Create a customer
Observation:
No mail sent
2.Place an order
Observation:
no mail sent
3.Click on forget password in login page
Observation:
No mail sent

I have added the SMTP details as well
NOTE: I receive the test email from the Magepal extension that i have used for SMTP
![mail_setting](https://cloud.githubusercontent.com/assets/17591809/13802584/6b893ebe-eb63-11e5-87c0-4

[2016-03-16 06:51] rohitkundale opened #3801 "Error thrown while accessing customer/account/loginPost/ action directly."
## Steps to reproduce
1. Install Magento ver. 2.0.2 from https://www.magentocommerce.com/download.
2. Access URL : http://magento/customer/account/loginPost/
## Expected result
1. If user logged in he/she will redirect to account dashboard page.
2. If user not logged in he/she will redirect to  login page.
## Actual result
1. Error[Warning] thrown. See screen shot.
   ![error_m2](https://cloud.git

[2016-03-16 07:17] thomvanderboon commented on #2630
Updated the development branche moments ago and the "Review & Payments" text is correctly translated now

[2016-03-16 07:21] tzyganu commented on #732
@vkorotun I'm going through my old opened issues trying to solve what I can and close what's not useful anymore. I think this is not going to get solved very soon since it does not bring a big business value and there are already extensions that use this. Changing the way a multiselect field behaves would break backwards compatibility. So I will close this issue. In case a miracle happens and this

[2016-03-16 07:21] #732 closed

[2016-03-16 07:21] #719 closed

[2016-03-16 07:25] tzyganu commented on #770
I see that this was merged in the develop branch. Thanks. I will close the issue.

[2016-03-16 07:25] #770 closed

[2016-03-16 07:30] pradeepsparx commented on #2497
Skip to content
This repository

    Pull requests
    Issues
    Gist

    @pradeepsparx

727
3,229

    2,085

magento/magento2
Code
Issues 1,028
Pull requests 130
Wiki
Pulse
Graphs
not able to add payment method for placing order #2497
Closed
arunkasyakar opened this Issue on 24 Nov 2015 · 6 comments
Labels
CS
Milestone
No milestone
Assignee
@ishakhsuvarov ishakhsuvarov
Notifications

You’re no

[2016-03-16 08:06] badcrc commented on #3710
Hi,

that fixed the problem, thanks!

![captura de pantalla 2016-03-16 a las 09 05 37](https://cloud.githubusercontent.com/assets/663985/13805599/49ee21dc-eb56-11e5-96a2-7d5b9c402bc3.png)

[2016-03-16 08:07] tlaziuk opened #3802 "false-negative "Invaild template file""
While using the `modman` I issued error which occurs when a module is placed somewhere outside the Magento 2 root directory. This is not the `modman`-related things because it can be reproduced to any module which is placed outside the Magento 2 root.

I found out the Magento2 fails where the template is validating against `isFile` (at `\Magento\Framework\View\Element\Template\File\Validator::isVa

[2016-03-16 08:22] aaronsturm commented on #2999
Thanks for your prompt reply @alankent! I used that image and it's significantly faster, or "normal speed". I don't see a Dockerfile on the Docker Hub page. Can you send it to me so I can compare? Thanks!

[2016-03-16 08:29] anton-huz commented on #2711
Not actual any more. Reviewed on 2.0 (c946f29dd89ddc45337ea2a1b0d8f79e59b4bab6) and develop (798a8420e5738ceb5f2dcb332a59c7ee60b83444) branches.

Now `baseUrl` parameter exists in page source code. So for any particular _Store view_ it could be changed on the fly. Only flush caches is needed.

[2016-03-16 08:29] #2711 closed, assigned to guz-anton

[2016-03-16 08:48] NadiyaS commented on #2269
Hi @erikhansen,

thanks for reporting this. Internal issue MAGETWO-50521 was created.

[2016-03-16 09:00] anton-huz commented on #3117
Hi Emizen,
So in general to execute any JavaScript code on the page you can use:
- External .js file with `require` and place it via `<script src=".." />` on the page. Please notice that in general its limited solution.
- External .js file with `define` and place it via [declarative initialization](http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/javascript/js_init.html) as suggested Dm

[2016-03-16 09:01] anton-huz commented on #3117
Fill free to reopen issue in case my answer wasn't full. Or you have something to add.

[2016-03-16 09:01] #3117 closed, assigned to guz-anton

[2016-03-16 09:12] anton-huz commented on #3604
Hi Sebastian,
On latest version of Magento, develop (798a8420e5738ceb5f2dcb332a59c7ee60b83444) branch, I don't reproduce this issue.

Look like we had limited period of time when issue could be reproducible in upstream version and this is already fixed.

Fill free to reopen issue if you has additional info regarding issue.

And great thanks for reporting.

[2016-03-16 09:12] #3604 closed, assigned to voleye

[2016-03-16 09:19] alexgoodey opened #3804 "Gift Message on Guest Carts not saving"
## Steps to reproduce
1. Configure Magento for Gift Message at Item Level
2. Add product to basket (not logged in as customer)
3. Add Gift Message details
4. Click Update
## Expected result
1. Gift Message is saved against the line item
## Actual result
1. 404 error is returned from Ajax call

Cause:
:cartId placeholder is not replaced in Url because the giftMessage js object does not have a confi

[2016-03-16 09:19] alankent commented on #2999
Interesting. My Dockefile is a bit of a hack job at present, and does things like preload Luma - good for play, not good for building a new site. I am travelling at present, so here are some snippets from the Dockerfile that I can get to you quickly as a point of comparison - I will try to make something cleaner if needed, but that will have to wait until after my current trip ends.

Oh, and have

[2016-03-16 09:22] ishakhsuvarov commented on #3804
@alexgoodey Thank you for reporting this issue.
Did you flush caches after applying settings?
Please let us know which Magento version you are using.

Thank you.

[2016-03-16 09:24] alexgoodey commented on #3804
Yes, all caches have been flushed.
Magento CE 2.0.2

[2016-03-16 09:27] nobodypb opened #3805 "Mail templates sent with scheduler don't get translated"
If I sent mails using cron they won't get translated, because PART_TRANSLATE is never loaded in the App\Area.
To quick fix this I added

[code]

to \Magento\Email\Model\AbstractTemplate::applyDesignConfig()
(And some di things for _areaList)

I don't know if that bug is somehow related to my setup, I'm running Magento 2.0.2 on php7

[2016-03-16 09:30] AndreyChorniy commented on #3804
Hello guys. I have the same problem with Gift messages

[2016-03-16 09:31] anton-huz commented on #3714
Hi Tang,
It is hard to help you with current set of information.

Issue with _rjsResolver.js_ means that `requirejs-config.js` wasn't loaded on the page or wasn't executed. So first of all we ask to check file permissions. But if you can log in Admin area and navigate to Product list page, then Magento application _in general_ works.

I can suggest you to:
1. Navigate to _weird_ page
2. Check sour

[2016-03-16 09:38] anton-huz commented on #3707
Hi Nuwinda,
Wow! Great investigation! Thanks.

We will deliver changes under internal ticket MAGETWO-50523.

[2016-03-16 09:49] anton-huz commented on #2697
Hi Suzanne,
Its a good notice about CloudFlare and its _AutoMinify_ feature. Thanks for this notice.

Under internal ticket MAGETWO-50525 will investigate possible solutions from Magento app side.

##

Regards,
Anton

[2016-03-16 10:20] keyurshah070 opened #3807 "PDF Invoice issue"
## Steps to reproduce
1. Login into backend with your details.
2. Go to Sales  > Orders > Open any order whose invoice is generated[If not generated please generate it]
3. On order view page click on invoice tab, you can see invoice grid, tick mark on first invoice and click on PDF invoice.
## Expected result
1. It shold contain only current invoice copy.
## Actual result

1.Generated PDF contain

[2016-03-16 10:40] keyurshah070 opened #3808 "On multiple website customer doesn't display of other website on customer grid"
## Steps to reproduce
1. Create second website,store and store view from Stores > All stores
2. Create a new customer for newly created website from Customer > All Customers.
3. After creating customer , just go to customer list from Customer > All Customers.
## Expected result
1. It should display all customers on customer grid.
## Actual result
1. You are not able to see newly created customer,

[2016-03-16 10:43] stefandoorn opened #3809 "Modules should have their own dependencies"
I just stumbled into the fact that `module-shipping` requires zendframework/zend-http for its unit tests. So basically if I just want to do the tests of that module isolated (my module depends on that module again), I can't do that now as the requirements are not met.

So my proposal is that every module composer.json should specify the requirements needed to use that module stand-alone (the tests

[2016-03-16 11:02] yaronish commented on #3286
Fixed

[2016-03-16 11:02] #3286 closed, assigned to nobody

[2016-03-16 11:03] yaronish commented on #2879
Fixed

[2016-03-16 11:03] #2879 closed, assigned to yaronish

[2016-03-16 11:09] benathey commented on #3357
We have noted the same issue on upgrade to 2.0.2. Our findings....

There is a session cookie filter on Magento v2.0.2 that is not on 2.0.0 that checks session cookie "private_content_version" existence before it loads customer data including flash messages on vendor/magento/module-customer/view/frontend/web/js/customer-data.js around line 111...

That's the reason why, after adding something to c

[2016-03-16 11:13] MomotenkoNatalia commented on #3710
Hi @badcrc !
Thanks for reporting this issue!
Internal ticket MAGETWO-50528.

[2016-03-16 11:13] voleye commented on #3726
Hi @salelsol , could you please verify configuration settings in
Store->Configuration->(Catalog)->Catalog->"Search Engine Optimization"
- Product URL Suffix?
- Category URL Suffix?

Also, please, clarify what value of URL do you set for product?

[2016-03-16 11:17] sandeepBWC commented on #3286
Thanks yaronish!!!!!

[2016-03-16 12:06] adampmoss commented on #2911
I have the exact same problem.

**Class Magento\User\Model\Resource\User does not exist** followed by a stack trace.

[2016-03-16 12:21] anton-huz commented on #3601
Hi Kevin,
On current moment I can suggest you to flush caches in your Chrome browser or open Private tab (`Ctrl+Shift+N`) and check again. We look closer on Chrome in Windows 10 in scope of regression testing.

Internally developers use Chrome on Win7/OS X without side issues.

[2016-03-16 12:44] polyakovao opened #3810 "Magento 2 customization of main and 404 page"
Hello.
I'm trying to customise main page (home page) in magento 2 and also 404 page. Has anybody faced with the problem of adding some modules to this pages?!
Will be greatful for any suggestions.

[2016-03-16 12:48] SilvanLaroo commented on #3717
Yes, that's exactly what I'm trying to do. It works with the settings you recommended, thanks!

[2016-03-16 12:48] #3717 closed, assigned to ishakhsuvarov

[2016-03-16 13:10] salelsol commented on #3726
- Hi Volodomir, is Product URL Suffix is .html then duplicate suffix, if Product URL Suffix is empty then:
- I think Products URL SEO not works properly.

Best Regards
Toni

[2016-03-16 13:26] miguelbalparda commented on #2412
@piotrekkaminski @mazhalai @alankent any news on this? can we expect seeing any permission changes in the new Magento release?

[2016-03-16 13:27] alena-marchenko commented on #3208
Hi Viktor,
Please use Canadian Dollar currency for shipping from Canada to Canada. If rates are still shown for US instead of Canada, provide us with screenshot of incorrect rates, debug logs for this specific request and browser console errors if available.

[2016-03-16 14:01] parekhreena opened #3811 "Magento 2 - Braintree Payment Method not working"
I have enabled Braintree payment method from Stores > Configuration > Payment Methods. I cleared var/cache, var/page_cache and var/generation and tried to place a normal order with braintree, but checkout page appears blank after braintree is enabled. In my console i get following error:

[code]

So, I cleared  pub/static, var/view_preprocessed and ran the command php bin/magento setup:static-cont

[2016-03-16 14:42] philippsander commented on #1931
this sounds like a technical issue for me... I have the same problem.

EDIT: the documentation clearly says the the removeal process is canceled. that does not work!

[2016-03-16 14:44] jaimestuardo opened #3812 "Not understandable errors"
Hello,

I found another problem that needs to be checked by developers, and it is concerning errors found in system.log.

I am facing this error now:

[2016-03-16 14:29:24] main.INFO: Cache file with merged layout: LAYOUT_frontend_STORE1_56f1b068ec7ccf4878f9284dd1137afd1: Please correct the XML data and try again. [] []

That says that there is an error in an XML somewhere, but it does not say whi

[2016-03-16 15:10] sachinsancheti1 opened #3813 "SEO takes in html for meta description thus screwing up head tag in html"
Steps followed:

I created a description for a configurable product which has some font colour in it.

What happened next was that the SEO section (under basic settings) continued to use the description with the html tags. This resulted in the actual page's head tag getting screwed with an "=" sign used in the style

To check again, I went in to edit the SEO section but it fails to take in the inp

[2016-03-16 15:10] bh-ref opened #3814 "datetime bug in (product) import/export"
## Steps to reproduce
1. In backend, go to Stores / Settings / Configuration / General / General / Locale Options.
2. Set `Locale` to `German (Switzerland)`.
3. Export a product which has value in a datetime field (Special price from/to date, New from/to date).
## Expected result
1. With the Locale `English (United States )`, a an exportet datetime looks like `2015-03-16 16:08:55`
## Actual result

[2016-03-16 15:18] samtay opened #3815 "No timezone offsets for catalog events"
## Steps to reproduce
1. Install Magento from `develop` branch using timezone EST with server time UTC.
2. Create a "Test" category
3. Create a new Catalog Event in the admin panel from different timezones. I had people connect to my local site from different timezones.
## Expected result
1. GMT offset occurs properly
## Actual result
1. GMT offset does not occur properly. For instance if I naviga

[2016-03-16 15:25] davidalger commented on #2711
@guz-anton Thanks for the update! Seems your team fixed it in MAGETWO-47054 which went out in the 2.0.1 release:

[code]

P.S. It would be awesome if you guys could find the ticket number that resolved a "no longer broken" issue on GitHub and post it vs just a generic "no longer reproducible message" — it would be helpful to all of us, especially when tracking or trying to correlate fixed issues (

[2016-03-16 15:39] #3793 closed, assigned to ishakhsuvarov

[2016-03-16 15:46] ishakhsuvarov commented on #3374
@lilmuckers Closing this ticket for now. Please reopen if the issue persists.

[2016-03-16 15:46] #3374 closed, assigned to ishakhsuvarov

[2016-03-16 15:55] quienti opened #3816 "Jquery widget Icons doesn't work"
## Steps to reproduce
1. Magento 2.0.2
2. Use doc at http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/widgets/jquery-widgets-about.html
3. Use this code : `$("#accordion").accordion({ multipleCollapsible: false, icons: {header: "icon-triangle-1-e", activeHeader: "icon-triangle-1-s"}, heightStyle: "content" });`
## Expected result
1. Accordion with icons
## Actual result
1. Accordion wit

[2016-03-16 16:40] digimix commented on #3260
Ran into a similar issue after I cleared the pub/frontend/<Vendor>/<theme> directory and attempted to re-deploy via $ grunt exec:<theme>.

[2016-03-16 16:47] vzaporozhets commented on #3643
@allan2coder, thanks for contacting us. I would admit that Magento 2 doesn't support Windows-family operational systems. However, did you try to follow recommendation from http://magento.stackexchange.com/a/85146 ? Which version/branch are you using ?

[2016-03-16 16:49] antboiko commented on #3813
Hi @sachinsancheti1 , thanks for your inquiry. We have internal ticket MAGETWO-48511 to fix this.

https://github.com/magento/magento2/issues/2613

Best,
Anton.

[2016-03-16 17:16] thomasnordkvist commented on #1931
I had almost forgotten this issue.
It should be reopened as a bug.

I did some copy paste to build up the parts i wanted back in the header.

[2016-03-16 18:16] MomotenkoNatalia commented on #3573
@amansrivastava
I'm sorry for the delay. Thanks for reporting this issue!
Internal ticket MAGETWO-50553.

[2016-03-16 18:28] loneregister commented on #3601
Thanks guz-anton - I did do the mentioned cache flushes etc..  And was able to prove that it worked on other browsers and not on chrome.  (per pictures).

However, now - many days later - when I access the magento 2 content sections via chrome it functions properly.

[2016-03-16 18:29] loneregister commented on #3601
Keep in mind, that I did wait several hours for the chrome "blank" page to refresh and it failed to do so.  All the while the other browsers worked with no problem.

[2016-03-16 20:21] devdesco-ceo commented on #3208
My base store currency is USD. Also, FedEx rates for US and other locations but Canada are shown in way higher $ rate than should be. So, I suppose, the rates are pulled from my Canadian FedEx account in CAD and are not converted properly but just apply 1:1 ratio in regards to currency rates.

Also, I do have CAD currency setup for my multi-store, but not for every store/website.

So, how to fix t

[2016-03-16 21:15] wozniakm commented on #3794
You should call API by `GET /V1/configurable-products/{sku}/children` to get simple products linked to your configurable product and then you will have price for each of them.

[2016-03-16 22:19] mikeweis commented on #3774
I was able to re-create this bug on our mainline with the following configuration settings:
- Tax Config
  - Shopping Cart Display Settings - Display Full Tax Summary - Yes
- Tax Rules
  - have at least one

Thanks for submitting this bug. I have created internal ticket MAGETWO-50557 to track this issue.

[2016-03-17 01:50] benathey commented on #3811
Looks like its a php version issue, issue already posted check #3797. Roll back to php 5.6 and re-test, that should help in the short term.

[2016-03-17 05:35] parekhreena commented on #3811
@benathey  - ok thank you

[2016-03-17 05:58] aaronsturm commented on #2999
Thanks again @alankent for your prompt reply! The two major differences are the PHP version and database. I'll go through yours and Mage Inferno to see if anything stands out and let you know.

[2016-03-17 06:06] tinkumadspark opened #3817 "Installation is incomplete. Check the console log for errors before trying again. on line 17 after 6%"
Hello,
I am trying to update magento from 1.8 to 2.0. For that I have downloaded magento 2.0 and put the files in my directory and extracted. But when I opened the URL of my website, it shows that you need to update your php first. I updated my php too.
Now it is getting stuck at line 17th after 6% and showing below error:
Installation is incomplete.
Check the console log for errors before trying

[2016-03-17 06:17] ghost commented on #3323
+2

[2016-03-17 07:03] AndreyChorniy commented on #3804
@ishakhsuvarov
Hi.
Do you have any news about this issue?
Thanks.

[2016-03-17 08:37] fvschie commented on #3786
Pretty major security problem, not assigned yet. Any update?

[2016-03-17 08:39] tomasgriffin commented on #3087
Can confirm this is also a problem when not using swatches. The configuration option "Display out of stock products" no longer has the expected effect as the products are completely removed from the drop down menus.

[2016-03-17 08:59] ivanweiler opened #3818 "Download M2 version contains update app git repo"
## Steps to reproduce
1. Download Magento-CE-2.0.2-2016-01-28-02-24-15.tar.gz from Magento site
2. Unpack
3. Navigate to /update/ folder
## Expected result
1. /update/.git/\* most likely shouldn't be there
## Actual result
1. /update/.git/\* is there :)
## Comment

I wasn't sure where to post this, since it's "version release problem". Anyway, why is repo of update app part of download, mistake?

[2016-03-17 09:05] ishakhsuvarov commented on #3804
@alexgoodey @AndreyChorniy Thank you for reporting this issue. We have investigated the problem and created an internal ticket `MAGETWO-50561` to fix it.

[2016-03-17 09:21] AndreyChorniy commented on #3804
@ishakhsuvarov Thanks.

[2016-03-17 09:41] MomotenkoNatalia commented on #3264
Changes are currently in the mainline. Issue can be closed.

[2016-03-17 09:41] #3264 closed, assigned to MomotenkoNatalia

[2016-03-17 10:03] cscd98 commented on #3323
+3

[2016-03-17 10:55] PingusPepan commented on #1471
Hello,
we encountered the same problem when two products in the import file had the same name.
The url creating mechanism should add an increasing number to each duplicate rewrite. Or better offer an option for the user to choose whether to handle rewrites automatically or show errors when doing the import.

[2016-03-17 11:08] azambon commented on #3448
I just made a pull request for this fix.
As an additional note, the problem shows up only when there's a plugin for the Magento\Customer\Block\Address\Renderer\DefaultRenderer block or one of its parents. When Magento tries to instantiate this class, the interceptor generation process tries to read each method's signature in order to generate the interceptor code. When the getFormat method is foun

[2016-03-17 11:09] RG-1 opened #3820 "Reorder Configurable Products"
## Steps to reproduce
1. Magento 2.02
2. Find Configurable Product with two options to choose, like size and color.
   - Add Configurable Product to the cart. Chose size (XS) and color (red).
   - Add Configurable Product to the cart. Chose size (XS) and color (black).
   - Add Configurable Product to the cart. Chose size (XS) and color (orange).
3. Place an order.
4. View order information as a g

[2016-03-17 11:44] naspar commented on #1471
I am truly surprised about this issue which is still there ... I believe it is a big blocker for anyone willing to migrate mid-sized ecommerce platform to m2

[2016-03-17 11:57] ddonnini opened #3821 "Render the My Cart via Block/Link won't output anything"
## Steps to reproduce

Render the output of a block of class Magento\Checkout\Block\Cart\Link
## Expected result

A link with "My Cart" and the number of items
## Actual result

Nothing output.
## Solution

Add "!" in the _toHtml of the file module-checkout/Block/Cart/Link.php

[code]

to

[code]

[2016-03-17 12:00] ddonnini commented on #3821
Am I missing something?
Otherwise, if you prefer, I can create a pull request.

Thanks in advance!

[2016-03-17 12:11] quienti commented on #3820
https://github.com/magento/magento2/issues/3654

[2016-03-17 13:39] mamof opened #3822 "Creating a new product through the REST API throws internal error"
## Steps to reproduce

Using chrome RestClient extension.
**URL:** http://domain/magento2/rest/V1/products
**Method:** POST
**Headers:**

[code]

**Payload:**

[code]
## Expected result

Creates part B201.
## Actual result

{
"message": "Internal Error. Details are available in Magento log file. Report ID: webapi-56eab1fa2ee25"
}

[2016-03-17 13:41] ishakhsuvarov commented on #3821
@ddonnini Thank you for reporting this issue. Looks like you are not missing anything, we would accept a PR if you wish to create one.

[2016-03-17 14:28] jaywilliams commented on #1471
@Hiral12 Multiple categories actually need to be separated by _commas_ not the pipe character. I too was confused by this, as the product attributes use the pipe character.

Here is the proper way to format multiple categories in the CSV file:
`"Default Category/Gear,Default Category/Gear/Fitness Equipment"`

[2016-03-17 14:48] mazhalai commented on #3817
@tinkumadspark what is your max_execution_time?

[2016-03-17 14:48] shiftedreality commented on #3796
Hi @SamTay

Looks like a bug. Created internal ticket MAGETWO-50578 for further investigation.
Thank you for your submission.

[2016-03-17 15:05] shiftedreality commented on #3795
Hi @SamTay

Looks like you cloned 2.0 branch but not develop. Latest CMS Page has different layout from provided. Could you please verify this issue still actual for you?

[2016-03-17 15:15] katmoon commented on #2012
Internal ticket `MAGETWO-50583` has been created for this issue.

[2016-03-17 15:22] NadiyaS commented on #3820
Hi @RG-1 ,
thank you for reporting this issue with detailed steps to reproduce.
Internal ticket is MAGETWO-50198.
This issue will be closed as duplicate of #3654.

[2016-03-17 15:22] #3820 closed, assigned to NadiyaS

[2016-03-17 15:50] GanchoDanailov commented on #3123
i have tried everything found on the web and sill painful loading... its not possible to do front end work with 30+ second reloading page

[2016-03-17 15:57] shiftedreality commented on #3812
Hi @jaimestuardo

Your error was triggered here
https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/View/Model/Layout/Merge.php#L459

I created an internal ticket MAGETWO-50592 to make errors reporting more intuitive

[2016-03-17 16:03] sevos1984 commented on #3808
Try reindex customer grid by running "bin/magento indexer:reindex customer_grid "

[2016-03-17 16:31] tinkumadspark commented on #3817
Thank you for reply.
I am sorry I could not get you. I have put zip folder for magento 2.0 in my directory folder and extracted. Then I merged some folders with Magento 2.0 folders, I found steps from google was as follows:
![for upgrading magento version](https://cloud.githubusercontent.com/assets/17401306/13853172/90a179c2-ec8b-11e5-8fa5-fb995a9409d6.JPG)
Now, I am getting one error. Please foll

[2016-03-17 16:40] astorm opened #3824 "The `setup:di:compile` command should not process folders as files"
The `setup:di:compile` command is a little too greedy in scanning for PHP files.  This can lead to the following exception

[code]

This appears to be the result of the `setup:di:compile` command processing a directory/folder that ends in `.php` as a file.  Steps should be taken to ensure `setup:di:compile` only processes actual files,
and not directories.  This is more than a theoretical concerns

[2016-03-17 17:58] davidalger commented on #3810
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-03-17 17:58] #3810 closed, assigned to nobody

[2016-03-17 18:34] samtay commented on #3795
You are correct - my screenshots are from EE. However, bad news is that I just cloned develop from this repo and there is a larger problem. The validation is missing, and you can now save a `custom_design_from` date **after** a `custom_design_to` date.

I just looked into this to see if I could send you a quick pull request, as you are missing some of the validation classes. In fact, the recent ch

[2016-03-17 18:36] anton-huz commented on #3601
@ LoneRegister thanks for patience.

[2016-03-17 18:36] #3601 closed, assigned to nobody

[2016-03-17 18:37] anton-huz commented on #2711
@davidalger agreed. Will keep in mind next time.

[2016-03-17 18:50] sshrewz commented on #1619
This issue has been resolved.  Do let us know if you encounter any other issues by submitting a new issue.

[2016-03-17 18:50] #1619 closed

[2016-03-17 18:53] sshrewz commented on #1550
@Galch24, since we have not heard from you, we'll go ahead and close this issue.  In case you encounter any other issues, feel free to reopen.

[2016-03-17 18:53] #1550 closed

[2016-03-17 19:11] sakiss opened #3825 "JS error on Saving Product Attribute"
## Steps to reproduce
1. Go to Store > Attributes > Product
2. Select an attribute with no values. e.g. Manufacturer (is empty in the sample data)
3. In the "Manage Options" section add some options
## Actual result

When you press "Save" a validation error appears
![productattributes](https://cloud.githubusercontent.com/assets/1838041/13857882/997522a8-ec84-11e5-9ea5-cc33020b862a.png)

Checking t

[2016-03-17 19:26] sakiss commented on #3825
Update: After restarting my machine works fine. Maybe was a browser related issue. I ll continue testing and let you know if it occurs again

[2016-03-17 19:29] sshrewz commented on #1729
The fix has been delivered to develop branch.  Feel free to let us know if you encounter any further issues by reopening this or submitting a new issues.

[2016-03-17 19:29] #1729 closed

[2016-03-17 19:40] sshrewz commented on #1769
@markoshust, there was a misunderstanding.  Internal ticket should be MAGETWO-43718.

[2016-03-17 19:41] sshrewz commented on #1863
This has been resolved.  Feel free to let us know if you encounter any issues by reopening this.

[2016-03-17 19:41] #1863 closed

[2016-03-17 19:45] sshrewz commented on #1937
Issue has been resolved.  Feel free to reopen if you still encounter any issues.

[2016-03-17 19:45] #1937 closed

[2016-03-17 19:45] sshrewz commented on #1998
Issue has been resolved. Feel free to reopen if you still encounter any issues.

[2016-03-17 19:45] #1998 closed

[2016-03-17 19:53] sshrewz commented on #1990
This issue has been fixed and merged to develop.  Let us know if you still encounter any issues by reopening this ticket.

[2016-03-17 19:53] #1990 closed

[2016-03-17 20:11] cpartica commented on #3600
Cannot reproduce this, I created 3 orders: 2 processing one pending, each filter grabs it's corespondent number of items, see attached screenshots
Maybe we need some additional info to reproduce this since it might be a particular case when this happens.
Maybe the installation had multiple views, or other cases

<img width="100%" alt="screen shot 2016-03-17 at 2 28 30 pm" src="https://cloud.github

[2016-03-17 20:13] jhildreth commented on #3798
I believe this is the same issue as #2628 , and according to #2861 will be fixed in 2.0.3.

[2016-03-17 20:28] sshrewz commented on #2674
This issue has been resolved and merged to develop.  Feel free to let us know if you encounter any other issues.

[2016-03-17 20:28] #2674 closed, assigned to antonkril

[2016-03-17 20:42] choukalos commented on #2862
Checkout http://devdocs.magento.com/swagger/index.html ; in particular storeGroupRepository and storeConfigRepository.  Do those address your needs?

[2016-03-17 20:54] sshrewz commented on #2478
This issue has been fixed and merged to develop.  Feel free to reopen if you encounter any issues.

[2016-03-17 20:54] #2478 closed, assigned to nobody

[2016-03-17 20:59] sshrewz commented on #2463
Thank you for reporting!  We have created MAGETWO-50607 to track this issue internally.

[2016-03-17 21:05] mackelito commented on #2193
Is there any examples using Restangular? If yes I would love to see it! :)

[2016-03-17 21:14] choukalos commented on #3719
Linking to #3786; converting to Bug

[2016-03-17 21:15] sshrewz commented on #3082
This issue has been resolved and new patch version was released.  Feel free to submit a new issue if you encounter any problems.

[2016-03-17 21:15] #3082 closed, assigned to tanya-soroka

[2016-03-17 21:16] sshrewz commented on #3081
As we have not heard back from you, we will proceed with closing this issue.  Feel free to submit a new issue if you encounter additional problems.

[2016-03-17 21:16] #3081 closed, assigned to tanya-soroka

[2016-03-17 21:19] sshrewz commented on #3084
This issue has been fixed and merged to develop.  Feel free to reopen if you encounter further problems.

[2016-03-17 21:19] #3084 closed, assigned to tanya-soroka

[2016-03-17 21:20] sshrewz commented on #3113
As we haven't heard back from you, we will go ahead and close this issue.  Feel free to submit a new issue if you encounter any problems.

[2016-03-17 21:33] sshrewz commented on #3786
Thanks for reporting this issue.  We have created MAGETWO-50611 and MAGETWO-50608 tickets internally.

[2016-03-17 22:35] Lewiscowles1986 commented on #2478
thank you :+1:

[2016-03-17 22:35] famousTM commented on #2429
What does that mean it using extensive REST APIs instead? Are you saying it won't have an SDK, so all app code will need to be built by the user?

Thanks

[2016-03-17 22:50] serzhik opened #3826 "Javascript error when change options of bundle products at Firefox"
## Steps to reproduce
1. Use Firefox 44.0
2. Go to http://magento2.pulsarfour.com/sprite-yoga-companion-kit.html (clean Magento 2.0.2 install with sample data)
3. Change options
## Expected result
1. Summary chaged due to your option values
## Actual result
1. Error message appears: "TypeError: $(...).attr(...) is undefined" (pub/static/frontend/Magento/luma/en_US/Magento_Wishlist/js/add-to-wishli

[2016-03-17 23:23] jaimestuardo opened #3827 "Totals block cannot be moved in shopping cart page"
I am reporting this as a bug because my brain is broken trying to move the totals block bellow the product list in shopping cart.

If you see checkout_cart_index.xml, you can see this:

[code]

The problem is that the totals appear above the product list. I need them to appear bellow the product list and above the buttons.

Whatever I did, wherever I move the container, the totals aren't displayed

[2016-03-17 23:54] miketsl opened #3828 "multi-site store config broken?"
## Steps to reproduce
1. Install Magento v2.0.2
2. Stores->All Stores->create store  "test.com"
3. Stores->All Stores->create store view "test_view"
4. Edit pub/.htaccess:
       RewriteCond %{HTTP_HOST} ^(._)test.com
       RewriteRule ._ – [E=MAGE_RUN_CODE:test_view]
       RewriteCond %{HTTP_HOST} ^(._)test.com
       RewriteRule ._ – [E=MAGE_RUN_TYPE:store]

[code]
5. Restart apache
6. Load ht

[2016-03-18 03:38] sangatpedas opened #3829 "Product Search Optimization in backend retrieving set values"
## Steps to reproduce
1. Edit a product (in my case in a multi store view configuration, doesn't matter whether you choose default or specific store view)
2. Edit the search engine optimization meta tags
3. Save
## Expected result
1. On reload the new entered values show
## Actual result
1. The values are reset to the defaults even though the values are saved in the database and do show on the fro

[2016-03-18 05:24] karishmadaffodil commented on #3560
Great. I run this command and it runs sucessfully with the message below :-

Successfully saved es_ES language package.
But I am not able to find out where the package gets saved?

On Tue, Mar 15, 2016 at 1:36 AM, thomvanderboon notifications@github.com
wrote:

##

Thanks and regards
Karishma Sharma
(Daffodil Software Ltd)

[2016-03-18 05:45] keyurshah070 commented on #3808
@sevos1984 Thanks its working now..you can close this bug

[2016-03-18 06:27] karishmadaffodil commented on #3560
ok actually I find out that in every module inside i18n package, the
translation file "es_ES.csv" is saved.
Like vendor/magento/module-catalog/i18n/es_ES.csv
But It contains the translation of lines in english rather than spanish and
when I switch to spanish store in frontend then also the page comes in
english language.

On Fri, Mar 18, 2016 at 10:53 AM, Karishma Sharma <
karishma.sharma@daffodil

[2016-03-18 08:30] thomvanderboon commented on #3560
Step 1 : I run below command for generating translation dictionary :+1:
magento i18n:collect-phrases -o "/var/www/html/magento2/es_ES.csv" -m /var/www/html/magento2/

It runs successfully with the below message "Dictionary successfully processed" and generates "es_ES.csv" file in the magento root directory.

*_Step 2: You have to translate this es_ES.csv, get a translated es_ES.csv file or get the

[2016-03-18 08:46] keyurshah070 commented on #3457
@sevos1984 Any updates on this ?

[2016-03-18 09:20] dohuudao opened #3830 "How to get best seller product in magento 2 ON LINUX."
## Steps to reproduce
1. Install Magento from `develop` branch.
2. [Example] Add Configurable Product to the cart.
3. ...
## Expected result
1. [Example] Configurable product added to the shopping cart.
2. ...
## Actual result
1. [Example] Error message appears: "Cannot save quote".
2. [Screenshot, logs]
3. ...

[2016-03-18 10:07] NadiyaS commented on #3307
Hi, @rohitgupta4,
MAGETWO-48530 is about Sales Order Shipping Address. The problem described in [2628](https://github.com/magento/magento2/issues/2628).

[2016-03-18 10:20] NadiyaS commented on #3799
Hi @ddeppner,
thanks for reporting this issue. It is already being tracked by MAGETWO-50295 ticket.
This issue will be closed as duplicate of #3307.

[2016-03-18 10:20] #3799 closed, assigned to NadiyaS

[2016-03-18 10:24] NadiyaS commented on #3798
Hi @ddeppner,

thanks for reporting this issue. It is already being tracked by MAGETWO-46720 ticket.
And scheduled for 2.0.3 patch release.
This issue will be closed as duplicate of #2628 .

[2016-03-18 10:24] #3798 closed, assigned to NadiyaS

[2016-03-18 10:49] NadiyaS commented on #3665
Hi @lindows-xx,
thanks for reporting this issue. It is already being tracked by MAGETWO-46720 ticket.
And scheduled for 2.0.3 patch release.
This issue will be closed as duplicate of #2628 .

[2016-03-18 10:49] #3665 closed, assigned to NadiyaS

[2016-03-18 10:56] quienti opened #3831 "Bad redirect after login after a logout"
## Steps to reproduce
1. Magento 2.0.2
2. Sign in on frontend
3. After sign in, log out
4. Sign in again
## Expected result
1. Redirect customer to dashboard or current page
## Actual result
1. Redirect to logout Page
   ![sans titre 3](https://cloud.githubusercontent.com/assets/7326954/13875721/cdee3116-ecff-11e5-9ce5-f5829de70658.jpg)

[2016-03-18 11:45] nobuttsalex commented on #1471
Issue still exists, got an import with ~3000 products that passes the check data test but crashes during the import. There are definitely no duplicate URL keys and the same error even happens when removing the URL key column from the import.

[2016-03-18 12:02] maderlock opened #3832 "Tax added twice if catalog prices are inclusive tax"
Set catalog to be inclusive of tax. When visiting front-end, prices have tax added on top of that, as if it were using the prices as excl. tax.
## Steps to reproduce
1. Installed Magento 2.0.2 via composer
2. Set tax settings to catalog inclusive of tax:
   ![screenshot 2016-03-18 11 55 07](https://cloud.githubusercontent.com/assets/630320/13877100/8d58d07e-ed00-11e5-85ea-66178f0759e2.png)
3. Crea

[2016-03-18 12:33] mbhuva commented on #2919
Hello,

  I am also facing same issue when trying to create product attribute.

if any solution please let me known.

Thanks,

[2016-03-18 12:47] maderlock commented on #3832
Repeated issue with latest copy of develop branch.

[2016-03-18 13:15] antboiko commented on #2314
@dfediuk
Hi Dmitry, I'm sorry for the delay with providing a response. Thank you for your inquiry. The Weight control is already not displayed while creating a virtual product on current mainline.

For "Quantity" and "Stock Status" I've created internal ticket MAGETWO-49913 and placed it into our backlog.

Best,
Anton.

[2016-03-18 13:23] antboiko commented on #2359
@dfediuk
Hi Dmitry, I'm sorry for delay with answering on your inquiry.

I've created internal ticket MAGETWO-49911 to cover this feature and placed it into our backlog.

Best,
Anton.

[2016-03-18 13:27] mazhalai commented on #3059
@CalamityJames this issue has been fixed in the develop branch. Thank you for reporting this bug. Please open a new ticket if more issues arise.

[2016-03-18 13:27] #3059 closed, assigned to nobody

[2016-03-18 13:28] mazhalai commented on #3783
@xiaoyuchen This issue has been fixed in the develop branch. Closing ticket for now. Please open a new issue, if you continue to have problems.

[2016-03-18 13:28] #3783 closed, assigned to nobody

[2016-03-18 13:29] mazhalai commented on #2335
@woei66 this issue has been fixed in the develop branch. Please open a new issue, if you have any other problems.

[2016-03-18 13:29] #2335 closed

[2016-03-18 13:30] mazhalai commented on #3482
@mrgoogle the issue with multiple php executables has been fixed in the develop branch.

[2016-03-18 13:43] karishmadaffodil commented on #3560
Great. I follow the steps above and now I can see the translations at
frontend.
Can you provide the translation csv for language code es_EC .
And also I have one query that how will the translation be generated for
custom modules . Do I have to put translation for them manually?

On Fri, Mar 18, 2016 at 2:01 PM, thomvanderboon notifications@github.com
wrote:

##

Thanks and regards
Karishma Sharma

[2016-03-18 13:44] odubovyk commented on #2681
Thank you for reporting this issue! Internal ticket MAGETWO-50628

[2016-03-18 13:59] ilol commented on #2429
@famousTM Yes, Magento2 hasn`t SDK for mobile app but has the iOS sample app as a part of Enterprise Edition. If you have license you can download it.

[2016-03-18 14:07] jackiellowery opened #3833 "Indexer not working with PHP 7 (7.0.4)"
## Steps to reproduce
1. Install Magento `2.0.2`. (apache 2.4.18, php 7.0.4, mariadb 10.0.24)
2. Import products from Magento 1.7.x store.
3. In Magento backend, set indexes to update on schedule.
4. Run `php bin/magento indexer:reindex`.
## Expected result
1. All indexes reindexed.
## Actual result

[code]
## Workaround
1. if i run `/opt/bin/php56/bin/php bin/magento indexer:reindex` indexing suc

[2016-03-18 14:09] jackiellowery commented on #3833
if i run `/opt/bin/php56/bin/php bin/magento indexer:reindex`  indexing succeeds.

[2016-03-18 14:31] buskamuza commented on #3753
Internal ticket MAGETWO-50633

[2016-03-18 14:43] famousTM commented on #2429
But does that iOS sample app work with Magento 2.0. And is it modifiable?

Thanks

On Friday, March 18, 2016, Illia Oliinyk notifications@github.com wrote:

##

Ruben Ramirez
_famous@alumni.usc.edu famous@alumni.usc.edu_
562.556.5556

[2016-03-18 14:56] jaimestuardo opened #3834 "Price Format is overridden by a JavaScript in Product View"
Hello,

I have changed  price format in es.xml file that is located under zendframework1 folder. In my case, price format is something like this: $ 99.990

Well... after I made the change and wait some time for the changes to make effect, it worked in all the site, that is, price appears as I want but in product view page.

When I load product details page, I can see that the page is loaded with t

[2016-03-18 15:43] FranRoy commented on #3503
I have exactly the same problem. Is there any news?

[2016-03-18 15:58] FranRoy commented on #1743
I have Spanish locale and I have the same issue. "yyy" is added at the end of the dates in the backend. Magento2 version: 2.0.2

[2016-03-18 17:41] adragus-inviqa opened #3835 "Overwriting ObjectManager's $sharedResources leads to strange DI behaviour"
## Steps to reproduce
1. M2 2.0.2
2. In `developer` mode (don't think it matters though), inject `\Psr\Log\LoggerInterface` into any constructor.
## Expected result
1. Logging using `\Psr\Log\LoggerInterface` should produce lines in `system.log`, `debug.log`, `exception.log` or `support_report.log`, depending on level etc.
## Actual result
1. Everything gets logged into `support_report.log`, inclu

[2016-03-18 18:01] antonkril commented on #3835
It looks like main reason for such behavior is the way how di.xml is merged between stages.
system & debug handlers are registered in initial configuration (app/etc/di.xml)

But in global configuration of Support Module (Support/etc/di.xml) Support logger is registered. It overrides previous configuration, because arguments defined at later stages of configuration override arguments defined on pre

[2016-03-18 18:16] der-workfloh commented on #3824
Additionally, empty files also provokes the **No tokens were provided** issue, so there should be a check on [ClassesScanner](https://github.com/magento/magento2/blob/develop/setup/src/Magento/Setup/Module/Di/Code/Reader/ClassesScanner.php#L66) to evaluate if used directory entry is a valid file and if its content is not empty. Added #3836 to fix this.

[2016-03-18 18:20] ivanszabo opened #3837 "Product Type changes after image upload"
## Steps to reproduce
1. Create a configurable product, do not include an image initially
2. Save it and go back to the products grid
3. Go back in and upload an image, Save and go back to the products grid
## Expected result
1. Image should be uploaded
2. The product type should remain as configurable
## Actual result
1. Image is uploaded
2. Product type is set to **simple**

[2016-03-18 18:29] #2033 closed

[2016-03-18 18:30] jaimestuardo commented on #2463
Is there a workaround meanwhile?

I can modify the header template changing this code:

`                            <img
                                {{if logo_width}}
                                    width="{{var logo_width}}"
                                {{else}}
                                    width="180"
                                {{/if}}

[code]

`

This part, src="{{var lo

[2016-03-18 18:30] cspruiell commented on #2033
This has been fixed in our latest develop branch and will be included in our next release.

[2016-03-18 18:56] eddielau commented on #3753
Hi @thomvanderboon, there was a typo in SalesRule module's crontab.xml and it has been fixed in the develop branch (https://github.com/magento/magento2/commit/af80f15a49fc0a77f32ad906cae78e3c93375934#diff-fe2887919970f52be8c36f474e625585). It is not in 2.0.2 yet but will be available in future versions.

[2016-03-18 19:14] shuaiZend commented on #2926
[code]

[2016-03-18 19:36] thomvanderboon commented on #3753
Due to the "huge" change in the code, I manually patched both my 2.0.2 and development branch using vi :)

Do I have to close this issue, or will it be closed when the solution is available in 2.0.x?

[2016-03-18 19:42] troncar commented on #3800
@Deepthi57 I have the same problem

[2016-03-18 20:08] heyitsroberthe commented on #3832
Could you try disabling the full page cache in cache management and refresh the pages? In addition, could you also list your tax rates and rules?

[2016-03-18 20:16] mazhalai commented on #3753
I think it is best to close it, since solution is already in the develop branch. We have marked it to be ported to 2.0.x.

[2016-03-18 20:57] eworksmedia commented on #2619
We're having this issue on a brand new install, 2.0.2, and not when importing products but adding them normally. All categories are set to Is Anchor Yes.
- Root Category
  - Category 1
    - Sub Category 1
    - Sub Category 2
  - Category 2

When creating a product, if I only put it in "Sub Category 1" the url for the product when on the page for "Category 1" is

/category-1/product/view/id/1/s/p

[2016-03-19 00:56] buskamuza commented on #2476
Magento depends on Composer version `1.0.0-beta1` now, so repository of type "path" should be supported.

[2016-03-19 02:28] huyencodon commented on #2574
Please help me. I can't find MAGETWO-47017. Please give me a link. Thanks all!

[2016-03-19 05:31] jibrandlr commented on #1471
@nobuttsalex Have you tried to import the products setting ONLY ONE category? Setting only one category in the CSV file solved the issue for me.

[2016-03-19 06:50] thomvanderboon commented on #3753
After manually patching the files. I still got the error messages (both on dev and 2.0.2). Do I have to recompile magento?

Furthermore I noticed that there are quite some error records in the cron_schedule table. Do I have to clear the errors in cron_schedule table manually?

[2016-03-19 08:05] chat2vignesh commented on #2919
Hi,

Yes, i found the solution for this. Big i hack the core file.

Thanks,

[2016-03-19 09:49] arunkasyakar opened #3839 "Not able to open product -> catalog in admin panel"
I have 430 products in my magento database. when i am trying to open product -> catalog from admin panel, magento 2 is getting hanged. now i am not able to see the catalog list or add new product

[2016-03-19 12:13] sangatpedas commented on #3832
I had the same issue, I set that prices are entered including tax but either the shopping cart showed 0 tax or added tax on top of the price including tax. What I did to solve it:
1. Disable all cache and flush cache storage
2. Set "Tax calculation based on" Shipping Origin
3. Don't forget to set Shipping Origin in "Configuration -> Sales -> Shipping Settings"

After I enabled all cache (in my spe

[2016-03-19 12:24] pivulic commented on #3448
:+1:

[2016-03-19 14:05] adragus-inviqa commented on #3835
Thanks for the quick reply, @antonkril; I'll try your suggestion.

Are you saying that the system and debug handlers are added _once again_ in the Support module, besides the main `app/etc/di.xml` file?

[2016-03-19 14:54] olllip commented on #2786
Same problem here with Magento 2.0.2
Any chance to fix it?

[2016-03-19 14:54] sachinsancheti1 opened #3840 "Merging css and js produces errors on magento"
While checking out the settings today, I found this setting where all the css and js files can be merged so that it makes it easier for a website to load. When enabling that setting, that's when things went really weird with the UI. I'm using the default luma white theme for the website at this point and not added any custom css or js files.

here are a couple of screenshots for you to check out.

[2016-03-19 15:17] der-workfloh commented on #3840
You enabled the template and block hints for the storefront and admin area in the developer configuration. That's why the red blocks are appearing.

[2016-03-19 15:31] sachinsancheti1 commented on #3840
Ah! got that. Thanks. I have fixed it now.

[2016-03-19 15:31] #3840 closed, assigned to nobody

[2016-03-19 16:08] knidie opened #3841 "error creating catalog"
error creating catalog if save with images will return this
Notice: A non well formed numeric value encountered in /var/www/html/magento2/vendor/magento/framework/Image/Adapter/Gd2.php on line 467

no error if without images

[2016-03-19 17:27] signalprime opened #3842 "Unable to Add Configurable Products ( -b 2.0, -b develop )"
## Steps to reproduce
1. Install Magento from `develop` or `2.0` branch. (both were tested)
2. Add `Configurable Product` to the Catalog.
## Expected result
1. A `Create Configurations` button at the bottom of the page to add a `Configurable Product` to the Catalog.
2. A popup window for creating configurations with 4 steps.
3. Create Configurations
4. Save and Close
5. Configurable Product is Cre

[2016-03-20 00:24] mswaidan commented on #2561
I'm having the same issue

[2016-03-20 06:20] gizmocn opened #3843 "Add new eva attribute to category"
In Magento CE 2.0.2 we can add new attribute from Setup/InstallData.php by using below code:

`$eavSetup->addAttribute(
            \Magento\Catalog\Model\Category::ENTITY,
            'category_label',
            [
                'group'         => 'Mega Menu',
                'input'         => 'text',
                'type'          => 'varchar',
                'label'         => 'Category L

[2016-03-20 11:41] rum-neutralo commented on #2397
Same Problem. I try to install Magento2 with composer in VirtualBox:
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.1 LTS
Release:        14.04
Codename:       trusty

Hostsystem is my MacBook

Workaround for me:
-> Removed the Directory "project-community-edition" several times;
-> Do not Clear the cache (for faster install)
-> run install command again:
composer create-project --repository-

[2016-03-20 18:39] davidverholen opened #3844 "duplicate code normalizePath method"
this is more of a minor design issue. I recently needed a method to normalize a file system path.

Looking at the core, I found the method(s) for this, but implemented directly in the classes where they are used:

https://github.com/magento/magento2/blob/2d82d19010a2deee42ab67e62627b84169f0ab8a/lib/internal/Magento/Framework/View/FileSystem.php#L169

https://github.com/magento/magento2/blob/2d82d1

[2016-03-20 18:48] astorm opened #3845 "Default FPC Accepts non text/html, Serves Cache Hit as text/html"
The default full page cache (FPC) implementation will cache content with non html `Content-Type` headers (text/css, application/javascript, etc), and then re-serve the content as text/html.  This can cause unstable and unacceptable application behavior.  For example, Google Chrome will not render CSS files served with a text/html header.

This is not a theoretical problem.  It was encountered when

[2016-03-20 19:12] OleksiyOleksiyovych opened #3846 "Table sales_order field store_name has 32 bytes"
## Steps to reproduce
1. Install Magento from `develop` or `master` branch.
2. Open data base. Table sales_order.
## Expected result
1. Field store_name should have type varchar 128 or 256 bytes or more.
## Actual result
1. Field store_name has 32 bytes. It's not enough. For example, 'Main Website\nMain Website Store\n' has 32 chapters and 'Default Store View' did not save.

[2016-03-20 20:30] srenon commented on #3831
@quienti ... What version of php are you running?

_I'm not able to reproduce this issue on php v5.5.30 / apache v2.2.22_

[2016-03-21 03:51] alankent commented on #3845
That's a pretty clear bug.

[2016-03-21 07:17] jsnx commented on #2561
same here. Running `php magento setup:di:compile-multi-tenant` brings:

[code]

Seems to be a problem with the smartwave porto theme.

[2016-03-21 07:36] pradeepnew commented on #2894
After adding default country from System > Configuration > Sales (Tax section) > Default Tax Destination Calculation > Default Country

In checkout page it is showing error "Please enter zip code".
if I enter zip code with default country (System > Configuration > Sales (Tax section) > Default Tax Destination Calculation > Default Country), It is showing this zip code.
Please check and revert

[2016-03-21 07:51] ghost opened #3847 "ServiceProcessor fails recognize complext type of array"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Use the magento 2 Rest api
3. Send to RestAPI following via POST

[code]
## Expected result
1. ServiceProcessor recognizes this as a complex type
## Actual result
1. ServiceProcessor treats this as a simpletype which results in `Notice: Array to string conversion in /var/www/html/vendor/magento/framework/Reflection/TypeProcessor.ph

[2016-03-21 08:01] quienti commented on #3831
PHP 5.5.30-1~dotdeb+7.1
Server version: Apache/2.2.22 (Debian)

[2016-03-21 08:24] katmoon commented on #2926
Thank you for the details!

We have created internal ticket `MAGETWO-50678` for further investigation.

[2016-03-21 08:30] shockwavemk opened #3848 "API: Webapi\Rest\Request forces (not intended) additional getter / setter"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Create your own API route and a method called “update”
3. Let method “update” consist of 3 parameters “a” (string), “b” (string) and “o” (an interface for an object)
4. Send a request via REST PUT. Let rest call consist of 2 url-parameters and a json-object sent in body.

Example for rest url:

[code]

Example for json-body:

[code

[2016-03-21 09:02] ilol commented on #2429
Yes, it is open sourced.

[2016-03-21 09:40] ankursachdeva11 commented on #3794
Hi @wozniakm,
By calling their children, we can get price for each simple product.
but i need price of configurable product when i call API /V1/products/[SKU] here price is showing zero.
This is my concern why this price is 0.

[2016-03-21 09:57] gammyduck opened #3849 "Import Issues"
I want to import a large CSV but it keeps getting caught on line 202. I isolated the line and still can't import it.
![5fa0a1039d85c7c05e9e6c68b668bcf1](https://cloud.githubusercontent.com/assets/3619746/13915186/01ae51f0-ef4b-11e5-9375-ab413aa50b05.png)

Also while testing the single line I got a different error when changing the multiple field
![65353268886c86a7c66b3af3a0ba9afc](https://cloud.gi

[2016-03-21 10:00] ghost opened #3850 "Not able to deploy production mode correctly - Compilation Fails"
Their seems to be a bug when setting the Magento 2 store from developer to production. I have tried the following command:

[code]

Some people here have solved the problem to increase the memory_limit however I have checked the memory_limit and this is as high as 2GB.

$ php -i | grep memory

[code]

Error:

[code]

Please let me know if you know a solution to solve this bug.

[2016-03-21 10:06] ghost commented on #3538
Thank you for your reply. For some reason I'm unable to test this solution because the deployment of the production mode fails please see '#3850'.
I will let you know when I have more information.

[2016-03-21 10:06] sangatpedas commented on #3025
Same issue and I tried Peter Jaap's approach but no result, following niknah's approach delivered the expected results

[2016-03-21 10:15] ghost commented on #2561
I'm also having this issue #3850

[2016-03-21 10:19] jsnx commented on #3850
can you run `php -f /home/telefoon/domains/blueburst.nl/public_html/bin/magento setup:di:compile-multi-tenant` manually and post the output?

[2016-03-21 10:19] ghost commented on #2972
We are having the same issue #3850. However we have increased the memory_size to 2GB so this doesn't seem to be the problem. I'm wondering if you also did other things to fix this issue?

Update:
We are failing at the compilation instead of the static content deployment.

[2016-03-21 10:19] jsnx commented on #2561
can you post the output of `php -f /home/telefoon/domains/blueburst.nl/public_html/bin/magento setup:di:compile-multi-tenant` also here?

[2016-03-21 10:24] ghost commented on #2561
Thank you for your reply. I get the following error:

[code]

[2016-03-21 10:25] ghost commented on #3850
Thank you for your reply. I get the following error:

[code]

[2016-03-21 11:44] ghost opened #3852 "Bug with printing packing slips within orderpage"
## Steps to reproduce
1. Open an order
2. Go to shipments
3. Print one shipment
## Expected result
1. One shipment (only from the order) is printed
## Actual result
1. All packing slips are printed

[2016-03-21 11:48] valentinazhuk opened #3853 "Total qty"
class Magento\Quote\Model\Quote\TotalsCollector

In the end function collectAddressTotals

[code]

Before line
 `$address->addData($total->getData())`
$address->getTotalQty() return qty but after this return 0

It seems problem here

class Magento\Quote\Model\Quote\Address\Total\Subtotal

function collect

[code]

I think $total need to change $address:

[code]

[2016-03-21 12:14] Deepthi57 opened #3854 "Issue while placing order for Virtual Gift card in Magento Enterprise edition"
Steps to reproduce
1.Place an order for virtual gift card from magento frontend

Expected result
Order should get placed successfully for gift card

Actual result
Page loops between Shopping cart page and Payment page
NOTE: This issue occurs for the following setting under stores>configuration>sales>giftcards
Generate Gift Card Account when Order Item is: Ordered

Repeat the steps for the followin

[2016-03-21 12:41] PingusPepan commented on #3792
I have the same question.

[2016-03-21 13:16] marissen-srj commented on #3442
Same problem here. When deleting an option it makes the frontend crash. Custom option doesnt show up anymore in backend.

1 make new product
2 add custom option
a dropdown
b add three values
3 save product
4 delete first value/row
5 product crashes on frontend and custom option doesnt show anymore in backend

[2016-03-21 13:19] mazhalai commented on #2574
@huyencodon that is only for internal purposes.

[2016-03-21 13:37] Mani3101 commented on #815
Dear Friends,
Am new to Magento. Am installed Magento-CE-2.0.2 from Magento site. While installing am faced lot of issues. But I overcomes that. After installed there are lot of error in Admin & User module by default. Sorry for my bad English. Is there any solution to overcome the js errors?
![admin](https://cloud.githubusercontent.com/assets/17984203/13920260/1cdd4812-ef98-11e5-9487-ff24048afc72

[2016-03-21 13:42] marissen-srj commented on #3442
NEW
When i make a new identical product with same name and SKU etc. this product will have the same error on frontpage. No need to add custom options first.

1 delete product with error on frontpage
2 create new product with identical values but no custom options
3 frontend crashes directley for this product

[2016-03-21 13:43] mrkhoa99 commented on #815
Hello @Mani3101
You try to run CLI deploy under your Magento root folder: `php bin/magento setup:static-content:deploy`
You can read more here: http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-static-view.html

[2016-03-21 13:48] PingusPepan commented on #3354
@AndreasSundstrom I believe that this is not the correct final solution but it is a workaround for now. It seems to clear all assigned websites too. See #3792
I commented the whole foreach with category and website ids and edited `$productData = $this->request->getPost('product');` to `$productData = $this->request->getPost('product', []);`
Seems to work for me for now. Let's wait for official upd

[2016-03-21 13:50] amanuni commented on #815
Above suggested answer will surely help you had faced this problem before.

[2016-03-21 14:05] navarr commented on #1068
@mazhalai Does anything special have to be done to turn this on?  We installed M2CE with the Luma demo data and the sales email did not come through with any JSON+LD nor Microdata

[2016-03-21 14:45] choukalos commented on #3845
Created bug MAGETWO-50710 for internal tracking

[2016-03-21 15:04] boldhedgehog commented on #3610
I have PHPStorm 10 and it automatically converts absolute paths to project directory relative paths like this: `location="$PROJECT_DIR$/vendor/magento/framework-foreign-key/etc/constraints.xsd"`

Perhaps `$PROJECT_DIR$` can be the default value in the generator?

[2016-03-21 15:19] sevos1984 commented on #3826
Issue is in progress, internal ticket MAGETWO-50450

[2016-03-21 15:35] NadiyaS commented on #3846
Hi @OleksiyOleksiyovych,

thanks for reporting this issue.
Internal ticket was created MAGETWO-50717.

[2016-03-21 15:43] NadiyaS commented on #3807
Hi @keyurshah070,

thank you for reporting this issue.
Internal ticket was created MAGETWO-50718.

[2016-03-21 15:46] NadiyaS commented on #3852
Hi @MichielTG,
thank you for reporting this issue.
It is already being tracked by MAGETWO-50718 internal ticket.
This issue will be closed as duplicate of #3807.

[2016-03-21 15:46] #3852 closed, assigned to NadiyaS

[2016-03-21 16:02] gammyduck commented on #1471
This is a big issue for me. The Import feature is completely bugged, with no way of being able to find whats causing the issue. Also the features are very lack lustre as I can't just have my products with individual SKUs, they must have individual names as well. This would be very annoying for someone who selling 3 different pairs of Black Nike Mens Slippers but has no way to describe them furter.

[2016-03-21 16:21] gammyduck commented on #1471
@chriseverson might be on to something. On checking the url_rewrite table, theres was metadata on the cell it was hanging on. It appears to be sharing certain data and containing what looks to be a subcategory in its name as well.
![db0758c635862672cf04899effb64481](https://cloud.githubusercontent.com/assets/3619746/13925604/d705dd02-ef80-11e5-9325-d9aa444f53fe.png)

[2016-03-21 16:26] nobuttsalex commented on #1471
@lgarridoj Thanks I will give that a go next time. I ended up splitting the import into loads of smaller files and importing them one at a time, took ages but got there in the end.

[2016-03-21 16:29] gammyduck commented on #1471
Okay I can now confirm and prevent issue.

To prevent this issue from happening, create all your categories manually.
Then delete any category data that appear on your  url_rewrite table, and any product sharing the same ids.
When importing, make sure you use an appropriate separator. If your categories use a comma, use an asterisks!

After doing this, you should be able to import your data!

[2016-03-21 16:57] dsikkema commented on #2412
@astorm (and @everyoneelse) what do you think about this --
Say Magento stops controlling permissions on application level, cedes control to whatever the system umask is. So at least 755/644 permissions get applied as long as that's how system is configured (likely).

In that case, there are still a few cases where default system permissions might not line up exactly with Magento needs at first. E

[2016-03-21 17:18] astorm commented on #2412
@coldgreentea Have you tried that approach on a typical shared setup? (the default Nexcess plan? Other [official partners](https://magento.com/partners/portal/directory/?partner_type=3&partner_region=filter_none)? higher level shared hosting like Pair Networks? The all important and ubiquitous GoDaddy?)  Does it allow the end user the ability to upload the Magento package, twiddle a few permission

[2016-03-21 19:16] asavchenko commented on #1238
@daniel-ifrim, @hitendraebiz I think i figured it you need to set default attribute_set_id on customer object before calling save. In other case vendor/magento/module-eav/Model/Entity/AbstractEntity.php line 1268 check fails and called save doesn't save custom attributes as $newObject->getAttributeSetId() returns null. CustomerRepository sets magic "1" (vendor/magento/module-customer/Model/Resourc

[2016-03-22 02:41] devdesco-ceo commented on #1782
+1
AheadWorks sucks!

[2016-03-22 03:43] shuaiZend opened #3855 "Uncaught Error: Call to a member function getValue() on boolean in"
## Steps to reproduce
1. Install Magento from `2.0` branch.   On **php7**
2. Add Related Products to the Product.
## Expected result
1. view Product page
## Actual result
1.  Error message appears:

[code]

[2016-03-22 04:30] Mani3101 commented on #815
Hello @ mrkhoa99,
Thanks for your kind response. Am using XAMPP in Windows machine. Am not used composer to install Magento. While am typed the code in command prompt, there are few errors.
![cmd](https://cloud.githubusercontent.com/assets/17984203/13942118/d4c6a104-f014-11e5-8f6b-ba813adef933.png)

[2016-03-22 07:54] gizmocn commented on #3843
What is "MX Label", I will provide more info if you need

[2016-03-22 07:57] Vinai commented on #3843
"MX" stands for "Merchant Experience" and is the problem domain related to the issue. It has to do with the delegation to internal teams.

[2016-03-22 08:26] OleksiyOleksiyovych opened #3856 "Calendar. Time format 24h"
## Steps to reproduce
1. Install Magento from `develop` or `master` branch.
2. Create custom extension and try to use calendar.
3. https://www.dropbox.com/s/xxzjp3vn2z6jskg/Screenshot%202016-03-22%2010.10.06.png

[code]
## Expected result
1. We want to see 24h format, like 21:34:45 (does not 9:34:45 PM).
## Actual result
1. We have AM/PM fromat
## Reason

File /lib/web/mage/calendar.js
Lines 396-4

[2016-03-22 09:06] yariksheptykin opened #3857 "Customer validation ignores Backend validation"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. In the database set any of the EAV-attributes for the customer to be unique. (In my case I do it in a `InstallData.php` script)
3. Now create two customers with the same value for this unique attribute in Magento Backend.
## Expected result
1. While creating the second customer with the save value for the unique attribute an error

[2016-03-22 09:22] katmoon commented on #2461
If anybody experiences the issue, try to rerun `bin/magento setup:static-content:deploy` command several times.

[2016-03-22 10:02] kristjan-h opened #3858 "Multiple calls to getCountryInfo result in a fatal error"
## Steps to reproduce

Problem found during extension development.
Steps to reproduce on a very high level:
1. Use Magento 2.0.2 CE release version
2. Create a class and inject Magento\Directory\Api\CountryInformationAcquirerInterface to it
3. Create a method which uses getCountryInfo($countryId) two times with different $countryId value
## Expected result

Both calls return a country object with

[2016-03-22 10:23] #3847 closed, assigned to nobody

[2016-03-22 10:23] ghost commented on #3847
can be fixed with correct return type

[2016-03-22 10:24] biotech commented on #2697
Magento 2.0.2 EE products and customers grids are empty when CloudFlare Rocket Loader enabled, after disable and leave only CDN features - works fine.

[2016-03-22 11:27] adragus-inviqa opened #3860 "Directive values are not quote-escaped"
This is still the case: http://stackoverflow.com/questions/23925826/magento-widgets-truncate-fields-containing-quotes

I can imagine why this is happening.
The fix is up to you. There are several ways to tackle this.
## Steps to reproduce
1. Search for or create a widget which has a text config/parameter.
2. Insert that widget into a CMS page/block using the editor, setting the value to `There is

[2016-03-22 11:28] vipin-eglobeits opened #3861 "Magento2: Issue in pagination"
I found an issue when we adding different pagination for list and grid view.
On that time the grid view pagination will not work.
Anybody please help me to solve this issue?

[2016-03-22 12:15] gammyduck opened #3862 "General exception error during Product Import leaves invalid data in url_rewrite table"
There is a bug while importing product data that causes a General Exception that has been reported throughout the year.

The solution is to remove any duplicate product IDs and any categories from url_rewrite table and then try again. If it's a large CSV, you may have to do this a few times.

Quick solution for devs might be to create a check to clear invalid data in the url_rewrite table after an

[2016-03-22 12:21] kaleberegaurav opened #3863 "Changes in Custome theme (_theme.less) dosent reflect on UI"
Hello ,
I am new to Magento ver. 2.0.0 product. Basically i am trying to create a new theme with custom layout for my project but i am facing problem with the Custom theme (which i am trying to create). I followed http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/theme-create.html document .I created theme following the documentation and created _theme.less containing
@page__backgro

[2016-03-22 12:49] fvschie opened #3864 "/rest/V1/products does not allow filtering on store or website, nor returns that info"
## Steps to reproduce

1) The following examples :

[code]

2) Or request a general:

[code]
## Expected result

1) A list of products matching the given store- or website-id.
2) A list of products containing a reference to the store or website they are on. In the case of names, descriptions and prices, should match the store specified by store_id filter.
## Actual result

1) An error:

[code]

2)

[2016-03-22 12:51] MomotenkoNatalia commented on #3491
Internal ticket MAGETWO-48461 is closed and delivered to mainline.

[2016-03-22 12:51] #3491 closed, assigned to MomotenkoNatalia

[2016-03-22 13:15] mazhalai commented on #815
@Mani3101 why do you have `cd` in your last command? Try it with just `php bin/magento setup:static-content:deploy`

Also, please do not post on closed issues.

[2016-03-22 13:17] mazhalai commented on #3861
Please give us some steps to reproduce.

[2016-03-22 13:21] amanuni commented on #815
As i have observed php environment variable is not set, so that php command is not running from magento2 directory so you should set environment variable for php.

refer to below mentioned link that may help you.

http://fellowtuts.com/php/run-php-from-command-line-in-windows-and-xampp/

[2016-03-22 13:23] keyurshah070 opened #3865 "Newsletter email template preview design issue"
## Steps to reproduce
1. Login into magento with admin details
2. Go to Marketing> Newsletter Templates > Add New Template
3. Write your appropriate newsletter content and save and click on Preview Template
## Expected result
1. It should be display well design manner.
## Actual result
1. It mess-up design format,please check below screenshot

![email_new](https://cloud.githubusercontent.com/asset

[2016-03-22 13:29] vipin-eglobeits commented on #3861
Thank you for your quick response.
The issue appears when we:
Take back end Stores->Configuration->Catalog->Catalog->Storefront
'Products per Page on Grid Default Value' is reflecting properly in grid view.
But 'Products per Page on List Default Value' is not setting the pagination to that value.

[2016-03-22 13:44] jahved opened #3866 "MTF Urgent"
Am running MTF again one of my project and I am getting
Curl handler was not successful!
Web API Handler  was not successful!
Any clue why the Handlers are not working???

[2016-03-22 13:46] maksek commented on #3866
Hi @jahved, information described in the issue is not enough to  categorize it as bug. If you have questions please use forum.

[2016-03-22 13:46] #3866 closed, assigned to nobody

[2016-03-22 13:47] antonkril commented on #3835
Yes, because global configuration _overrides_ arguments configuration of primary configuration.

[2016-03-22 13:53] OleksiyOleksiyovych opened #3867 "Custom price include tax"
## Steps to reproduce
1. Install Magento from `develop` or `master` branch.
2. Start to create order
3. Add product with tax (and enter address with tax)
4. Enter custom price
## Expected result
1. Custom price include tax, so in table `sales_order_item` fields:
   - `price` exclude tax
   - `price_incl_tax` include tax
2. For example:
- custom price (with tax) is $100
- tax is 10%
- `price` shoul

[2016-03-22 14:20] Selk commented on #3789
Just a little adding :

I just entered the checkout page and filled the information.

In collectRates method (Magento 1.9.4) (with user city as Paris) :
`$rate->setMethodTitle($request->getDestCity());` => Paris

In collectRates method (Magento 2.0.1) (with user city as Paris) :
`$rate->setMethodTitle($request->getDestCity());` => nothing

[2016-03-22 14:41] adragus-inviqa commented on #3835
Seems a bit duplicating.
But if `Support` is the module which declares the logging handlers, so be it.
Thanks.

[2016-03-22 14:41] #3835 closed, assigned to nobody

[2016-03-22 14:57] ankursachdeva11 commented on #3794
Hi,
I have a scenario,
i have tried to load a configurable product with price 1000 in magento2 using product id in $product variable.

When we print $product->getData('price') then it shows us 1000
but when we print $product->getPrice(); then it shows us 0

please check why this is happening?

[2016-03-22 15:00] ausmani opened #3868 "After Installation in admin pannel none of the link works"
After the installation magento on local machine none of the link works

i install magento 3-4 times

http://prntscr.com/aiimiu

[2016-03-22 15:14] wozniakm commented on #3794
That's because of the following code:

[code]

If you call getPrice method returned value is calculated based on price model from configurable product bundle. The called method implementation is:

[code]

Probably you can play around with customOption named simple_product. You have to investigate more. I think that this behavior should be expected, configurable product is just a wrapper for simple

[2016-03-22 15:16] mrkhoa99 commented on #3868
Hello @ausmani,
Please, refer to this ticket: https://github.com/magento/magento2/issues/815#issuecomment-199285060

[2016-03-22 15:46] eddielau commented on #3753
Please try cleaning cache. Yes, you will need to clean the records manually.

[2016-03-22 16:15] gammyduck opened #3870 "CSV Product Import - Permanantly hanging on "Please wait..""
Steps to reproduce:

I uploaded a 1.5MB CSV of 1000 products successfully this morning after using this fix #3862

However, I wanted to change the contents for all products under one of the headers and tried to reupload. I tried another file and no luck.

Now it hangs forever like this:
![b7f141526e1b8b4f60bb84bf4645103a](https://cloud.githubusercontent.com/assets/3619746/13958760/39d42574-f049-11

[2016-03-22 16:28] eug123 commented on #3863
Hi, @kaleberegaurav

Have you tried to clean [pub/static](http://devdocs.magento.com/guides/v2.0/frontend-dev-guide/themes/theme-create.html#info) folder?

[2016-03-22 16:45] gammyduck commented on #3870
After researching it appears to happen due to one of the columns data been changed from 1 to 0. I'll find the problematic header(s) tomorrow.

[2016-03-22 16:47] mazhalai commented on #3868
Closing as this is not a bug.

[2016-03-22 16:47] #3868 closed, assigned to nobody

[2016-03-22 16:54] vzabaznov commented on #3833
@jackiellowery maybe you have wrong permission, try to do it with **sudo**

[2016-03-22 17:32] pitahbread commented on #1471
After clearing all the category rows on the url_rewrite table. I was successfully able to import my csv of 1000.

Couple issues I ran into:
Certain documentation/tutorials specify to separate categories with  `|` which doesn't work. They should be separated by commas as mentioned by @jaywilliams
I also set the url_key to the sky number as well so that it will always be unique.
Also make sure every

[2016-03-22 17:34] redelschaap opened #3872 "Slash as category URL suffix gives 404 error on all category pages"
When I set a forward slash as the Category URL Suffix, all category pages show a 404 Not Found page. Using something like "a/" doesn't work either. I've also tried to reindex the indexes manually.

This works as expected in M1, so I guess this is a bug in M2.

[2016-03-22 17:43] jackiellowery commented on #3833
i tried sudo too, but it didn't work.  it only works if i specify path to php56, and i don't need to sudo with php56.

[2016-03-23 00:35] alankent commented on #3863
You might find https://github.com/alankent/gsd-code-samples/tree/master/volume2-theme-web-page-assets/app/design/frontend/AlanKent/eco-warrior useful. It is a much simpler set of Less file changes, but it is a complete working example. (Shameless plug - it came from http://alankent.me/gsd.)

[2016-03-23 02:06] cyberbloke commented on #3514
Having same issue - ran bin/magento setup:static-content:deploy --- still the admin dashboard as well as store front broken...

[2016-03-23 04:35] hungvt opened #3873 "Issue with changing attribute set in product edit page"
Hi
I'm using magento 2.0.2 with sample data. I'm getting error with changing attribute set when i add/edit new product.
## Steps to reproduce
1. Add or edit a product from Bag attribute set which the Design tab is in Basic Settings
2. Change the attribute set to Bottom which the Design tab is in Advanced Settings
3. After new attribute set is loaded, click to Design tab to view the tab content.

[2016-03-23 05:18] kaleberegaurav commented on #3863
Hello,
@eug123 yes i have deleted content of pub/static still there was no effect. I even tried php bin/magento setup:upgrade and php bin/magento indexer:reindex still no effect.

[2016-03-23 07:14] sachinsancheti1 opened #3874 "PHP version not detecting even after changing populate_always to -1"
I am trying to run the component manager but unable to proceed further. I have already changed the value for always_populate_raw_post_data = -1 but in vain to get this running. I also tried restarting apache as well but no progress. Would appreciate your assistance.

![cron fixed but php problem](https://cloud.githubusercontent.com/assets/6279770/13978165/e8f2e74c-f0f4-11e5-98d7-ff9aa9612704.jpg)

[2016-03-23 07:18] flipflap commented on #3514
For me the Magento installer didn't work. It seems full of bugs.

But my hosters has a tool in cpanel called installatron. Using that tool I could install Magento in 10 minutes. It also works with sample data. While Magento Installer stops at 90%.

[2016-03-23 08:34] pantaoran commented on #3572
Another week has gone by, so I'm going to ask again: Is this fixed now @sevos1984 and @slavvka ?
On the develop branch I see some commits regarding MAGETWO-49449, but MAGETWO-46014 is never mentioned so far.

We'd really like to show Magento2 in client meetings, but as long as a simple customer login doesn't work properly we just can't do that.

[2016-03-23 09:00] Microstudioweb commented on #3870
I have the same problem after migrate from magento 1.9 to magento 2.
I had follow the fix #3862, but I have truncate table.
Now I can see the product list on web site, but in admin area I have the please wait...forever page for product and costumer.

[2016-03-23 09:45] gammyduck commented on #3870
Hello
I have fixed the issue. Please add a check for duplicate headers.
@Microstudioweb make sure your CSV file is under 10MB as well

[2016-03-23 10:38] josefbehr commented on #2880
I still get a Segmentation fault with Magento 2.0.1 on PHP7.0.0, when running the setup:di:compile command:
<img width="981" alt="screen shot 2016-03-23 at 11 34 37" src="https://cloud.githubusercontent.com/assets/4368880/13982621/6c45cb14-f0eb-11e5-8973-a5faf8dd9877.png">
<img width="981" alt="screen shot 2016-03-23 at 11 36 27" src="https://cloud.githubusercontent.com/assets/4368880/13982680/b00

[2016-03-23 10:45] grasdaggel commented on #3409
We have the same problem but no chance to use the composer over the Terminal. Any other ideas how to fix it?

[2016-03-23 10:51] pantaoran opened #3876 "Config scope naming ambiguity"
I observe that in `app/code/Magento/Store/Model/ScopeInterface.php` there are 5 different scope type constants which are ambiguous and probably should be unified.

[code]

Both "store/stores" and "website/websites" exist once in singular and once in plural. It is not clear to the developer in any way which one should be used.

We ran into this problem today in our team, where I wrote code to set s

[2016-03-23 10:56] grasdaggel opened #3877 "Installing a custom theme throws frontend error"
Hi, we use Mage 2.0.2 and a commercial theme.

After theme upload we:
- setup:upgrade
- setup:static-content:deploy de_DE (with splendids German Pack)
- cache:flush

The outcome is a frontend exception error. Error log contains the following:

We tried to delete vendor and use composer update, but that has not fixed it.

Any one else have had this problem/bug? How to fix it?

[2016-03-23 11:01] gammyduck opened #3878 "CSV Product Import -"

[2016-03-23 11:16] #3878 closed, assigned to nobody

[2016-03-23 11:18] bertvanernie commented on #2567
Sorry to drop in on this closed thread but i'm really curious where the fix is delivered?

[2016-03-23 11:27] serzhik commented on #3409
@kingalca
1. To add new theme you need to turn in developer mode.
2. Sometimes new theme added to 'theme' table with param 'type'=1 (virtual theme). Try to set it to 0 (physical theme)

[2016-03-23 11:47] shinethazhava opened #3879 "Customer Welcome message not showing"
When a user login customer welcome message on top section not showing.
After add any product to cart using  ajax cart  then showing customer full name.
`<span data-bind="text: customer().fullname"></span>`
Screenshot Error :
![screenshot-error](https://cloud.githubusercontent.com/assets/6826291/13984432/34cda9c8-f11c-11e5-8e2c-7e7d0dbd69f8.png)
Screenshot Success :
![screenshot-sucess](https://clo

[2016-03-23 12:17] Lovnish opened #3880 "Links not working in admin"
Links in admin not working and images not coming.It is also taking more time to load.

[2016-03-23 12:17] danslo commented on #2880
Upgrade your PHP version, I believe this was fixed in 7.0.3 or even 7.0.4.

[2016-03-23 13:03] djmattyg007 opened #3881 "PHP mcrypt extension to be removed in PHP 7.1"
As per [this post](http://news.php.net/php.internals/91853) in the PHP internals mailing list, the vote to remove the mcrypt extension from PHP has passed. Unfortunately, Magento 2 still makes use of mcrypt, despite it long being known as being abandonware:

https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Encryption/Crypt.php

How is Magento planning on handling the

[2016-03-23 13:18] Vinai commented on #3881
Suggestion: [libsodium](https://paragonie.com/book/pecl-libsodium/read/00-intro.md)
Related: [The State of Cryptography in PHP ](https://paragonie.com/blog/2015/09/state-cryptography-in-php)

[2016-03-23 13:27] mswaidan commented on #2931
I'm having this issue as well. @hatimeria-artur-jewula did the change to `AND (rule_coupons.code = 'ABC' OR (main_table.coupon_type = 1))` fix the issue for you?

[2016-03-23 13:53] mazhalai commented on #3874
@sachinsancheti1 it looks to be like some other issue since the php version is also not showing up correctly. Anything in your var directory?

[2016-03-23 13:55] adragus-inviqa opened #3882 "An XML comment node as parameter in widget.xml fails with fatal error"
## Steps to reproduce
1. Add a new widget declaration in some `widget.xml`, but add a comment as a parameter:

[code]
## Expected result
1. When creating a new widget through admin, a single param should appear.
## Actual result
1. Nothing appears: the ajax grabbing the widgets responds with 500 (stack trace below).

I guess [this check](https://github.com/magento/magento2/blob/3cc19fe182d3245ab7b

[2016-03-23 13:57] mazhalai commented on #3514
@cyberbloke can you check file permissions especially for `pub` folder? Please see [this](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache-user.html) and [this](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html)

@flipflap please check if your `max_execution_time` is set to the recommended [18000](https://github.com/magento/magento2/blob/develop/.htac

[2016-03-23 14:05] mazhalai commented on #3246
Closing as non-responsive.

[2016-03-23 14:05] #3246 closed, assigned to nobody

[2016-03-23 14:09] mazhalai commented on #3120
@simkea Thank you for reporting, we have created MAGETWO-50842 to investigate and fix.

[2016-03-23 14:11] katmoon commented on #2567
The fix has been delivered in the current repo: https://github.com/magento/magento2/commit/06bf463bfa8e1a9d185

[2016-03-23 14:14] mazhalai commented on #3877
Please clean var directory instead, and try again. Also do you have developer mode turned on?

[2016-03-23 14:15] benmarks commented on #2412
Rest assured that this is already happening, thanks in part to feedback you've given us @astorm.

[2016-03-23 14:28] mazhalai commented on #3695
@mc388 @daim2k5 we have created MAGETWO-50844 to fix this issue.

[2016-03-23 14:29] mazhalai commented on #3123
@GanchoDanailov did you setup varnish?

[2016-03-23 14:32] mazhalai commented on #3693
@astorm @erikhansen thank you. We have created MAGETWO-50845 to fix this issue.

[2016-03-23 14:34] mazhalai commented on #3817
@tinkumadspark Please follow the [official migration guide](http://devdocs.magento.com/guides/v2.0/migration/bk-migration-guide.html)

Closing since this is not a bug.

[2016-03-23 14:34] #3817 closed, assigned to nobody

[2016-03-23 14:37] mazhalai commented on #3715
We have created MAGETWO-50846 to fix this.

[2016-03-23 14:39] sjauck commented on #3715
Thx for feedback. :)

[2016-03-23 14:41] mazhalai commented on #3850
@MichielTG do you have any custom modules? Cannot find any reference to Issuers in Magento2 code base. Also, can you pleas try cleaning your `var/di` and `var/generation` folder and try again

[2016-03-23 14:42] flipflap commented on #3514
@mazhalai max_execution_time is already at 18000. I really tried everithing, it just don't work. I recommend to use installatron until this things are fixed.

[2016-03-23 14:42] mazhalai commented on #2976
@keithbentrup thank you, we have created MAGETWO-50847 to investigate and fix.

[2016-03-23 14:43] mazhalai commented on #3824
@astorm @websharp we have created MAGETWO-50848 to investigate and fix.

[2016-03-23 14:45] mazhalai commented on #3800
@Deepthi57 @troncar Thank you for reporting, we have created MAGETWO-50850 to investigate and fix.

[2016-03-23 14:46] mazhalai commented on #3802
@tlaziuk Thank you for reporting, we have created MAGETWO-50851 to investigate and fix.

[2016-03-23 14:50] mazhalai commented on #3514
@flipflap what is your configuration like so that we can reproduce this issue.

[2016-03-23 15:00] flipflap commented on #3514
@mazhalai thanks, it is ok now as I installed by installatron. Aniway, here is my PHP setting:
![php](https://cloud.githubusercontent.com/assets/6672673/13989343/38fbacb8-f110-11e5-92b6-66c307e7ed60.jpg)

[2016-03-23 15:04] mazhalai commented on #3514
@flipflap what OS and what Webserver?

[2016-03-23 15:36] flipflap commented on #3514
Here is my server information. Interesting, it shows me a lower PHP Version here 5.5.3 and not 5.6.
![php](https://cloud.githubusercontent.com/assets/6672673/13990588/3904f43a-f115-11e5-92fc-da0f086d0091.jpg)

[2016-03-23 16:13] CalamityJames commented on #2412
@dsikkema Sorry, only just seen this post. While the environment is considered "shared" - WHM/cPanel, it's a dedicated server that I have full root access to, but I tend to go with `755` for directories and `644` for files as that plays well with SuPHP.

If anyone at Magento wants a test account on my pretty typical WHM/cPanel LAMP server hosted at a pretty typical hosting provider (Liquid Web) dr

[2016-03-23 16:18] mazhalai commented on #3514
@flipflap but this does not show what OS and what webserver you have.

[2016-03-23 16:19] tkacheva commented on #2047
Issue is created MAGETWO-32511

[2016-03-23 16:19] orlangur commented on #1234
Unfortunately, somebody came up with https://github.com/magento/magento2/commit/2d368d0134597257ef5697a4bcbb7f69f2aebed8. Hope it's the last such massive change.

[2016-03-23 16:22] flipflap commented on #3514
Sorry, I took the wrong picture :-(
![server](https://cloud.githubusercontent.com/assets/6672673/13992293/d368a610-f11b-11e5-8179-6b5136dfde48.jpg)

[2016-03-23 16:23] flipflap commented on #3514
Sorry, I took the wrong picture :-(
![server](https://cloud.githubusercontent.com/assets/6672673/13992330/f1b6711a-f11b-11e5-85ab-78d3e1dbf573.jpg)

[2016-03-23 16:36] tkacheva commented on #2047
@dfediuk That totally makes sense. thanks for the feedback

[2016-03-23 16:58] gacleg opened #3884 "Readiness Check - Server Failed to Respond"
I just installed magento 2.0.2 to a new website, and when I go to the readiness check I'm told that Server Failed to Respond on all four PHP checks.  I saw this was an issue a few months ago, but didn't see what the resolution was.  I'm a novice at this, so any help is appreciated.

[2016-03-23 17:43] tomvolz commented on #3855
same problem here. Do you have a solution for this?

[2016-03-23 17:45] ghost commented on #3850
Thank you for your reply Mazhalai!

There is indeed a problem with one of my Modules 1. Yotpo (Red lines) and 2. Multisafepay (Class Issuers). A nice improvement would be if Magento 2 would give the possibility to skip certain modules or give an error message which module is causing the problem.

The following workarround fixed my issue:
1. Move the not working App/Code to another map for example

[2016-03-23 17:47] sachinsancheti1 commented on #3874
hi Mazhalai, attached is the link to the _installdir_/php/var/ folder has 2 sub directories
- /run
- /log

I tried investigating in but permission was denied even to the root user....would phpinfo() help? Attached is the file.

[phpinfo.pdf](https://github.com/magento/magento2/files/186544/phpinfo.pdf)

[2016-03-23 17:57] ghost commented on #3850
**Update**
For people using Multisafepay. Add the following line to Issuers.php and Gateways.php

`namespace MultiSafepay\Connect\Model\Api\Objects;
`

[2016-03-23 18:03] noprobz09 opened #3885 "Magento 2.0 admin not working"
I cannot access the admin side of the magento 2.0, there is an error "Item (Magento\Theme\Model\Theme\Data) with the same id "0" already exist". I don't know how and where to fix this one :(

Thank you,
Noel

[2016-03-23 18:38] stefandoorn commented on #2880
I also have this problem on PHP 7.0.4. Magento 2.0.2. It also fails on the first 14% somewhere. See referenced issue above. If I take out that library, it continues beyond the 14%.

[2016-03-23 19:02] hatimeria-artur-jewula commented on #2931
My solution was in separate module in `di.xml` create preference for Rule\Collection

[code]

In the collection class I override `setValidationFilter` method in a way that I add line

[code]

just before `$orWhereConditions` and change line

[code]

to

[code]

[2016-03-23 19:31] grasdaggel commented on #3877
Dev Mode is not active, no. Can I delete the whole var directory?

[2016-03-23 19:44] alankent commented on #3877
Deleting var/\* is safe in non-production modes. (In production it would delete some pre-generated files.)

Internal note, if we get kingalca going, we should still work out why this problem happened. If the operations taken were reasonable then there should not be a stack trace. If there was a missing step, the error message should tell the user what they did wrong / how to correct it (not an obs

[2016-03-23 23:02] grasdaggel commented on #3877
Thanks for the suggest, I also guess that there might be a problem with another source then the theme directly. The theme uses an importer to import demo content, which _should_ be fine.

This is the content of the file imported, its a json.
`<snip>`
Can I upload files here? I'd attach it to the ticket for you.

_Updated: json import data moved to an attached file_
[import.txt](https://github.com/

[2016-03-24 00:35] gacleg commented on #3884
My webhost solved this - they needed Composer installed on the server.

[2016-03-24 00:44] gacleg opened #3886 "Accessing Admin causes ERR_TOO_MANY_REDIRECTS"
I just set up a new install of Magento 2. I can access the main home page, but when I try to get into the Admin page, it gives me a ERR_TOO_MANY_REDIRECTS.

The URL I enter is:  http://mywebsite_com.apache4.cloudsector.net/shop/Admin and when the error returns the URL in the browser is: http://mywebsite_com.apache4.cloudsector.net/shop/Admin/http:/index/mywebsite_com.apache4.cloudsector.net/shop/A

[2016-03-24 02:18] shuaiZend commented on #3855
@tomvolz remove Special price.

[2016-03-24 02:33] davidalger commented on #3877
@kingalca You can attach files by dragging / dropping on the comment box and GitHub will automatically upload and link to them. I copied the data into a file and updated your last comment with it as an attachment. :)

[2016-03-24 02:34] #3884 closed, assigned to nobody

[2016-03-24 07:46] Microstudioweb commented on #3870
Hi @gammyduck , thanks
My issue was a litle bit different.
My folder group was wrong. I set the user's server to use the right group.

[2016-03-24 09:37] ajpevers commented on #2778
Additionally, when you select all invoices of one order in the order detail page of the admin and apply a mass action to it, the mass action is applied on all invoices in the whole system. This is because the context of the order_id gets lost in the mass action.

vendor/magento/module-sales/view/adminhtml/ui_component/sales_order_view_invoice_grid.xml:
[code]

This part of the code would filter on

[2016-03-24 09:50] shinethazhava commented on #3744
Thanks for the update.
I just extend gallery class to my custom class i didn't override any methods. first i get template not found error when i copy gallery.phtml to my custom module then error disappear. but got new jason parse error no console.
`<preference for="Magento\Catalog\Block\Product\View\Gallery" type="Egits\ProductGallery\Block\Product\View\Gallery" />`

When i call parent constructor

[2016-03-24 10:30] Bbbrinks opened #3887 "Creating a customer via rest api: /V1/customers/me does not work"
## Steps to reproduce
1. Install Magento from `develop` branch.
2. Call /V1/customers/me rest api with (valid auth token) and body:
   {
   "email": "test@test.com",
   "firstname": "dsfsdf",
   "lastname": "sdsdf",
   "addresses": [
       {
       "firstname": "string",
       "lastname": "string"
       }
   ]
   }
## Expected result
1. The customer gets created and 200 is returned
## Actual re

[2016-03-24 12:49] redelschaap opened #3888 "Front end assets are loaded from different website in multi store setup with config cache disabled"
When we have the configuration cache disabled, all stores (on different websites) load product images and assets (like JS files or Fonts) from other stores. The stores (domains) where these files are being loaded from seem random and mixed. This only happens on product pages, not on category pages.
## Steps to reproduce
1. Disable configuration cache while having a multi store set up
2. Empty all

[2016-03-24 13:38] MomotenkoNatalia commented on #2063
@bbraspenning  Internal ticket MAGETWO-43903 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-03-24 13:38] #2063 closed

[2016-03-24 13:53] MomotenkoNatalia commented on #2061
@dfediuk Thanks for reporting this issue! Internal ticket MAGETWO-50584

[2016-03-24 14:01] MomotenkoNatalia commented on #3260
@mayhem-ahmad I close the issue for now. If you have further question to this issue please feel free to reopen.

@digimix Please create new issue with the steps to reproduce.

[2016-03-24 14:01] #3260 closed, assigned to nobody

[2016-03-24 14:02] MomotenkoNatalia commented on #3366
As there are no new updates from reporter, issue will be closed.

[2016-03-24 14:02] #3366 closed, assigned to nobody

[2016-03-24 14:05] MomotenkoNatalia commented on #3211
@DevBinnooh  Internal ticket MAGETWO-47301 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-03-24 14:05] #3211 closed, assigned to nobody

[2016-03-24 14:15] MomotenkoNatalia commented on #3447
@dav1dian  We will be glad to help you solve any problem that may occur ;)

Issue can be closed.

[2016-03-24 14:15] #3447 closed, assigned to nobody

[2016-03-24 14:27] shiftedreality commented on #2086
Should be fixed already.
Closed.

[2016-03-24 14:27] #2086 closed

[2016-03-24 14:28] kandrejevs opened #3890 "Recently viewed products block not working in product page with enabled cache"
Steps to reproduce
1. add:
   `<block class="Magento\Reports\Block\Product\Widget\Viewed" page_size="4" name="recently_viewed" template="widget/viewed/content/viewed_grid.phtml" cacheable="false" />
   ` to catalog_product_view.xml in any container

Expected result:
With enabled cache you should see recently viewed products block in product page.

Actual result:
Block is visible only with disabled

[2016-03-24 14:52] jialing1000 commented on #2739
I'm on Magento 2 (Community Edition) ver.2.0.2, has the same issue.

I have to work around it by removing the configurations of that product, let it turned back to simple product. Then, apply the custom options beforehand, then, to update it to configurations.

[2016-03-24 14:58] #3682 closed, assigned to nobody

[2016-03-24 15:08] zolthan commented on #3101
Hi,

anything new about this issue?

[2016-03-24 15:26] grasdaggel commented on #3877
Thanks @davidalger. Even if my account has some days on github on it, im still new to use it properly. Thanks for helping me out. :+1:

[2016-03-24 15:41] MomotenkoNatalia commented on #3350
@Vikasdeveloper Please let us know if this helps.

[2016-03-24 16:10] Kireall opened #3891 "Can't get store config in cms block/page"
## Steps to reproduce
1. Install Magento from `master` branch.
2. Insert in content of cms block {{config path="design/footer/copyright"}} and save block
3. Go to frontend
## Expected result
1. Config's value should be showed
## Actual result
1. Config's value is not showed

[2016-03-24 16:12] MomotenkoNatalia commented on #3184
@alvaroadair Please let us know if you still have an issue.

[2016-03-24 16:56] Vikasdeveloper commented on #3350
Yes, I got this links already and fixed the issue. But It was little tricky to set this ownership and files system permissions at first time.

[2016-03-24 17:55] hudson1985 commented on #2603
I am having trouble with the simplest command "magent indexer:reindex" on magento 2.  resetting the permissions is way over my head unless you do it from filemanager on the godaddy c-panel.  If I do that I do not know have to differentiate between users.  Godaddy has been zero help.  Anyone that can help me get past this issue so I can reindex my magento 2 site?

[2016-03-24 18:26] chapagain commented on #2911
I was having the issue as mentioned by @GianniPDF

In my case, it was the issue with `var/generation` directory. Magento 2 creates Factory classes and stores in this directory.

I cleared `var/generation` directory and set it's ownership as that of `var/cache` and `var/page_cache` directory. And, now the issue is solved. I am able to login to admin again.

[2016-03-24 20:35] chris-brabender opened #3893 "Minified PHP files issue"
When magento 2 minifies PHP files into the view_preprocessed folder it seems to have a bit of a bug when it comes to comments.

If a PHP file contains a commented line starting with # or // it comments out all subsequent lines.

EG:

[code]

Gets minified into this:

[code]

Which effectively comments out everything after the commented line.

Is there a requirement to minify PHP blocks in these fi

[2016-03-24 23:17] alankent commented on #2603
Hi @hudson1985 I have not  tried this, so risky giving advice... but.... (note: we are doing a review of file permissions and modes right now internally). I fear the GoDaddy account has a different userid and group for the web server and the user I logged on via ssh. You could try using 'su' to become the same user as the web server, or 'newgrp' I think it is so your default group is the same as t

[2016-03-25 03:54] hudson1985 commented on #2603
Thanks for reply.  I finally solved the issue.  You were not supposed to run the command in the root directory but the bin directory.  In this case cd /home/sitename/public_html/bin.  Then from within bin it was php magento indexer:reindex
This is the setup for hosting on a virtual private server with Godaddy for Magento 2.

[2016-03-25 07:44] babyasishhira opened #3894 "TypeError: this.itemRenderer is undefined"
I m getting this error on minicart.. And for this minicart is not showing any items
![minicart](https://cloud.githubusercontent.com/assets/17763698/14040266/7f8e4984-f28b-11e5-89db-3827d813d0f6.png)

[2016-03-25 07:48] dimasch commented on #3038
+1 for the solution.

[2016-03-25 08:14] ishakhsuvarov commented on #3804
@alexgoodey @AndreyChorniy Closing this ticket for now as the fix for this issue has been delivered to the `develop` branch with the commit linked to this issue. Please feel free to reopen if you have any additional questions.

[2016-03-25 08:14] #3804 closed, assigned to ishakhsuvarov

[2016-03-25 08:16] ishakhsuvarov commented on #3728
@mc388 Fix for this issue has been delivered to the `develop` branch with the commit linked to the ticket. Closing for now, please feel free to reopen if you have any additional questions. Thank you.

[2016-03-25 08:16] #3728 closed, assigned to ishakhsuvarov

[2016-03-25 08:17] ishakhsuvarov commented on #3452
@hankzhh Closing this ticket for now, please feel free to reopen if you have any additional questions.
Thank you.

[2016-03-25 08:17] #3452 closed, assigned to ishakhsuvarov

[2016-03-25 08:38] donotdividebyzero commented on #3863
do :
php bin/magento setup:static-content:deploy (here put language code you using ex. en_US)

this will compile your less and copy every needed file to pub/static

[2016-03-25 08:50] AntonEvers opened #3895 "Order view grid selection is missing order scope"
When you select all invoices of one order in the order detail page of the admin and apply a mass action to it, the mass action is applied on all invoices in the whole system. This is because the context of the order_id gets lost in the mass action.

vendor/magento/module-sales/view/adminhtml/ui_component/sales_order_view_invoice_grid.xml:

[code]

This part of the code would filter only invoices o

[2016-03-25 09:06] der-workfloh commented on #3886
@gacleg Evaluate if your sessions folder respective to your configuration in the env.php file is accessable and writable by the executing user (e.g. www-data).

[2016-03-25 10:17] devdesco-ceo opened #3896 "2.0.3"
When next 2.0.3 release is coming out?

[2016-03-25 10:54] stevenvdp commented on #3357
This seems to be the commit which breaks the flashmessages:
[https://github.com/magento/magento2/commit/d4a91e40efaea4895395ba48575ec77562bfb3bc](url)

If I remove the check descibed by @benathey the flash messages work again:

`if (!_.isEmpty(privateContent)) {`

 Someone from the core team that can give some feedback on this?

[2016-03-25 13:25] kirmorozov commented on #3038
Just run in parallel for each store.
This is trivial case.

[2016-03-25 13:43] voleye commented on #3744
Hi, @shinethazhava

I have tried to implement something similar to identify the problem but can not reproduce the issue.
I have created a patch, could you please review and clarify additional conditions I missed? Or may be this patch will solve your issue.

[Egits.zip](https://github.com/magento/magento2/files/189559/Egits.zip)

[2016-03-25 13:44] pynej commented on #2855
Still not working on 2.0.2.  The cron job runs without error but the Catalog Rule Product never rebuilds.  Manually running indexer:reindex solves the problem.

[2016-03-25 14:40] davidalger commented on #3896
The GitHub issue tracker is intended for technical issues only. Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate. Feel free

[2016-03-25 14:40] #3896 closed

[2016-03-25 17:47] katmoon commented on #2855
Please note that [You must run cron twice: the first time to discover tasks to run and the second time to run the tasks themselves.](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html#config-cli-cron-group)

I could not reproduce the issue with catalog rules on the freshest Magento version available on GitHub today.

Could you check jobs statuses in `cron_sche

[2016-03-25 18:05] erikhansen commented on #3460
@lilmuckers I believe this issue has been fixed by #3339. That PR has been merged into develop and should be included in next release of Magento. If you agree, you can close this issue.

[2016-03-25 18:07] erikhansen commented on #3421
I have also experienced the same issue where the main navigation disappears when Varnish is enabled.

[2016-03-25 18:07] erikhansen commented on #2025
@andrewkett This may be related to this PR: #3339

[2016-03-25 18:17] romeof1980 commented on #2561
+1 @mazhalai and @mc388 for the tips
thanks @moleman for the proposed workaround
anyway, it does not work for us.

when firing `composer install` we get:
`Loading composer repositories with package information
Installing dependencies (including require-dev) from lock file
Nothing to install or update`

we also run `php composer update` succesfully

but when trying `php magento deploy:mode:set prod

[2016-03-25 18:19] lilmuckers commented on #3460
Agreed. that resolves the issue

[2016-03-25 18:19] #3460 closed, assigned to nobody

[2016-03-25 18:42] ghost commented on #2561
Please try my workarround #3850 to check if it is something with your extensions.
and what does this command say:

php -f bin/magento setup:di:compile-multi-tenant

[2016-03-25 18:51] erikhansen commented on #2657
@moderncodes See this Stack Exchange answer for how to start Varnish with `esi_ignore_https` enabled: http://magento.stackexchange.com/a/100128/2142

Be aware that this option is only available in Varnish 4 (not Varnish 3).

[2016-03-25 19:24] gacleg commented on #3886
Thank you for the help.  It turns out that initially having my site in a subdirectory required a change to 4 different .htaccess files as per https://mage2.pro/t/topic/260.  That still didn't fix it, so then we discovered that magento doesn't like URL's with an _ underscore.  So we changed the URL to  http://mywebsite-com.apache4.cloudsector.net/shop/Admin and that seemed to fix the problem.

[2016-03-25 19:39] YevSent commented on #3797
Hi, @benathey, your issue perhaps related to problems which we already had with php 7.x. This issue fixed on develop branch.

[2016-03-25 20:26] romeof1980 commented on #3850
+1 @MichielTG and @mazhalai
I tried `setup:di:compile-multi-tenant` and I got the following error:
`PHP Fatal error:  Allowed memory size of 268435456 bytes exhausted (tried to allocate 32 bytes) in /chroot/home/ozforest/ozforest.com/html/setup/src/Magento/Setup/Module/Di/Code/Scanner/PhpScanner.php on line 231`

..still trying to figure it out...

[2016-03-25 20:35] ghost commented on #3850
try:
`php -d set_time_limit=3600 -d memory_limit=1024M bin/magento setup:di:compile-multi-tenant`

[2016-03-25 20:53] romeof1980 commented on #3850
thanks! +1 @MichielTG !
here what we got:

[code]

we'll contact our theme developers (Smartwave guys..)

[2016-03-25 21:10] erikhansen opened #3897 "Varnish ESI blocks don't load when HTTPS is used site-wide"
This issue is related to #2657 that the OP closed.
# Steps to reproduce
1. Install Magento 2.0.2 with sample data
2. Configure all urls to load from HTTPS (e.g., set "Base URL" and "Secure Base URL" to https://example.dev)
3. Load frontend and you'll see the navigation present.
4. Configure and enable Varnish ([see documentation](http://devdocs.magento.com/guides/v2.0/config-guide/varnish/config-v

[2016-03-25 21:11] erikhansen commented on #3421
@duerstd I created a new issue with steps to reproduce this issue: #3897 Can you close this task since it reports the same issue as my newly created issue?

[2016-03-26 00:00] bondimedical3 commented on #2855
Running cron by SSH twice works and reindexes data.
I have setup cron to run every 1 minute in cPanel which seems to be working as sales emails are being sent.
However, this does not reindex data and new products do not appear?

[2016-03-26 10:20] shinethazhava commented on #3744
Hi, @voleye
Thanks for the quick response. Will let you know any issue occur.

[2016-03-26 11:19] babyasishhira commented on #3894
Can you please tell me that is it solved or not??

[2016-03-26 14:15] aravindbaskaran commented on #2077
@buskamuza The error I get is `Couldn't find the user account xxx`

[2016-03-26 14:51] sameasterling opened #3898 "Configurable product with only one variation."
if a configurable product has an only one variation, this variation should be preselected.

[2016-03-26 15:40] jsnx commented on #3850
@romeof1980 Let me know what they say. I have the exact same error message and they try to solve it since weeks now :(

[2016-03-26 15:52] romeof1980 commented on #3850
ok @marcb85 !
let's stay in touch and post the updates here.
have a great day,
romeo

[2016-03-26 17:30] Pakkapao opened #3899 "Unable to create shipping label from backend"
There is no 'Create Shipping Label' checkbox while submitting shipping information.
## Steps to reproduce
1. Configure store information
   ![1](https://cloud.githubusercontent.com/assets/11070293/14061404/f8d8f704-f3b1-11e5-85a7-5da5ba5edf22.PNG)
2. Configure shipping method
   ![2](https://cloud.githubusercontent.com/assets/11070293/14061412/2813636a-f3b2-11e5-997e-4a3e2f19b4ac.PNG)
3. Create an

[2016-03-26 18:05] rbncha opened #3900 "main.CRITICAL: Broken reference:"
I am trying to install fresh Magento 2.0 to my centOS 6.5, php 5.6.19 via composer + browser install wizard. I have followed all the steps and install is success. All file permission are modified as suggested. My apache server is running with nobody:nobody user. I keep getting this below error. I tried several complete reinstalls with/without data. Same error.

Can anyone please help me get out of

[2016-03-26 21:55] ghost commented on #3850
Find the file: SubcatColumns.php
Smartwave\Megamenu\Model\Attribute\SubcatColumns.php and add the line:

namespace Smartwave\Megamenu\Model\Attribute;

[2016-03-26 21:57] ksz2013 opened #3901 "Unit tests failure"
Hi,

After installing the latest version 2.0.2, and adding one test module which is adding only a new menu in the backend menu, no php functionality is included at all (Just registration.php  in the module and the configuration xml files.)  there are errors after running the unit tests.
(There are no functionality changes, no rewrites, just xml for a new admin menu)

_Issue can be reproduced even

[2016-03-26 23:25] ahamedkislakci opened #3902 "Shipping is not showing in checkout magento2?"
Hello,

Installed the Magento2 ver. 2.0.2 in my host.Added some Products for testing purpose.In front end checkout page shipping information is not showing.

![error1](https://cloud.githubusercontent.com/assets/17543370/14062937/f85e6c44-f3a9-11e5-9b7a-8ddaf922c992.jpg)

Website: [http://justpatisserie.co.uk/](http://justpatisserie.co.uk/)

Pls help me :(

[2016-03-26 23:42] katesuykovskaya opened #3903 "Improvement on catalog product create/edit page"
## Steps to reproduce
1. M 2.0.2
2. go to admin panel -> Products -> Catalog -> edit product
3. open Images and Videos tab, click on image - dialog is shown
4. open source of page
## Actual result
1. each time, when modal dialog is created, the old one isn't removed from DOM => when I choose images a lot of time, I got this
   ![desctop screenshot](https://cloud.githubusercontent.com/assets/101428

[2016-03-27 00:45] jvpatel opened #3904 "Failed loading Admin Sale Orders"
## Steps to reproduce
1. Install Magento 2.0
2. Setup, and Configure a Standard PayPal checkout (SSL: Disabled, Sandbox: Yes)
3. [Example] Add any product in a cart
4. Checkout cart using PayPal
5. Transaction succeeded. Message displayed "We will email you ......"
6. Navigate into Admin > Sale > Orders (In order to view orders)
7. Failed to load, and spinner goes on.

![image](https://cloud.githu

[2016-03-27 00:58] jvpatel commented on #3385
I have similar issue, and was able to reproduce. Were you able to address above issue? How?

[3904](https://github.com/magento/magento2/issues/3904) - https://github.com/magento/magento2/issues/3904

[2016-03-27 03:56] sangatpedas opened #3905 "Unable to edit existing product"
## Steps to reproduce
1. After a git pull today "1b5272c..9546277  develop    -> origin/develop
   Updating 1b5272c..9546277". Could be caused by earlier update as well but I just notice now.
2. Edit a product
3. Save the product
## Expected result
1. Successfully saved
## Actual result
1. Error message "Item (Magento\Framework\DataObject) with the same ID "5" already exists."
2.
   <img width="71

[2016-03-27 04:24] sangatpedas opened #3906 "Design Section in Admin actually opens Search Engine Robots Section"
## Steps to reproduce
1. Go to Stores -> Configuration -> General -> Design
## Expected result
1. Get the screen where you can set the active theme
## Actual result
1. It opens the "Search Engine Robots" screen
   <img width="1310" alt="screen shot 2016-03-27 at 11 20 38 am" src="https://cloud.githubusercontent.com/assets/5317971/14063832/51258902-f40e-11e5-9c3c-42c05c382f3a.png">

This is actuall

[2016-03-27 04:57] sangatpedas commented on #3905
When adding new products some strange things happen as well, such as images from other products being added automatically to the new product.

Also, I tried deleting all products and adding a new product to see if I can edit that product but the result is the same, unable to save the product with the same error message as mentioned above.

[2016-03-27 07:58] yigab commented on #2077
oh it hasn't been fixed???

What I did was, create a new magento folder, run the installation and type the same information and password as before. after that copy the salt from the new database and paste it on the other one. > run the unlock from cli. and you should be able to login again...

[2016-03-27 09:33] romeof1980 commented on #3850
thanks @MichielTG
anyway in /app/code/Smartwave\Megamenu\Model\Attribute\SubcatColumns.php

the line
namespace Smartwave\Megamenu\Model\Attribute;
is already there (just after the opening php tag)

anyway really appreciate your help,
have a great day,
romeo

[2016-03-27 10:00] romeof1980 commented on #3850
thanks @MichielTG
anyway in /app/code/Smartwave\Megamenu\Model\Attribute\SubcatColumns.php

the line
namespace Smartwave\Megamenu\Model\Attribute;
is already there (just after the opening php tag)

anyway really appreciate your help,
have a great day,
romeo

[2016-03-27 11:46] ghost commented on #3171
I'm just wondering if there are any new updates for this issue?

[2016-03-27 12:02] jsnx commented on #3850
Same here. line is already there.

[2016-03-27 13:41] thomvanderboon commented on #2056
I am running up-to-date development branch.

From the product list and the product compare list, the actions of the "add to cart" button are translated correctly

From the product view the actions of the "add to cart" button are NOT translated correctly

weird.......

[2016-03-27 14:21] unfunco commented on #3874
@sachinsancheti1 Have you tried running `composer install`? The PHP readiness check within Magento uses `Composer\Package\Version\VersionParser` and since the values aren't showing in your screenshot, it could be a result of the dependency not being installed.

[2016-03-27 15:09] sachinsancheti1 commented on #3874
Hi @unfunco, thanks for the reply. As for composer, I tried the following:

I first updated composer

[code]

When I tried the `sudo composer install` i received the following warning

[code]

So then i ran the  following:

[code]

The results of the following is in the attached [link](https://raw.githubusercontent.com/sachinsancheti1/magento-error/master/composer%20update%20command.txt) and then

[2016-03-27 15:53] pelsports opened #3908 "sugsstion(delete product and detete images in same time)"
Magento 2 still not detelte product images when I delete product.
Therefore, too many unused images left on my host after long time running.

[2016-03-27 17:08] jsnx commented on #3850
Next hint I've found:

running `php Subcatcolumns.php
` in /app/code/Smartwave/Megamenu/Model/Attribute produces this output:

`PHP Fatal error:  Class 'Magento\Eav\Model\Entity\Attribute\Source\AbstractSource' not found in /var/www/html/magento2/app/code/Smartwave/Megamenu/Model/Attribute/Subcatcolumns.php on line 4`

I'm going to check now if the class exists which SubcatColums is referring to

[2016-03-27 18:02] jsnx commented on #3850
@romeof1980
Can you check if the "Magento" folder in "app/code" does exist? For me it is not the case. But here it does exist: https://github.com/magento/magento2/tree/2.0/app/code

background information: This is the folder which should contain the class which SubcatColumns.php is trying to access.

[2016-03-27 19:10] romeof1980 commented on #3850
@marcb85
same for me (same error and folder "Magento" not there)
I'm taking a look here:
http://magento.stackexchange.com/questions/91072/magento-2-where-is-app-code-magento-pool
in order to see if it can help better understanding our issue too

thanks a lot for sharing the steps you've been taking @marcb85

[2016-03-27 20:00] yssource opened #3909 "SOAP-ERROR: Parsing WSDL: Couldn't load from 'http://magento.local/index.php/api/v2_soap/index/?wsdl=1' : failed to load external entity"
On my /etc/hosts, I add
`127.0.0.1        magento.local`

In the backend of my site, setting "Not Secure Base URL" with "http://magento.local/"
and "Secure Base URL" with "http://magento.local/" as well.

On nginx.conf, configure it

[code]

and

[code]

On apache httpd.conf configure it
listen 8080 port

[code]
-  By browser "http://magento.local/api/v2_soap?wsdl=1", it would get the xml file suc

[2016-03-27 22:09] stepzerosolutions commented on #3724
This should also apply for the "sales.order.print.renderers"

[code]

Thanks
Nuwinda

[2016-03-28 01:35] sengaigibon commented on #3572
@bb8d can you share with us some details about your installation environment? such as operating system, running a virtual machine or containers? any special software running on your Magento instance? Thanks!

[2016-03-28 01:36] sengaigibon commented on #3503
@vipin-eglobeits and @FranRoy , can you share with us some details about your installation environment? such as operating system, running a virtual machine or containers? any special software running on your Magento instance? Thanks!

[2016-03-28 01:53] inyoureyes143 opened #3910 "Inquiry regards catalog price rule"
## Steps to reproduce
1. Go to admin > Marketing > Catalog price rule

I wonder why there are 2 date fields under 'Start' and 'End' column.
Start column has 'from' and 'to' date fields, same with End column.

![2016-03-28_0952](https://cloud.githubusercontent.com/assets/18107208/14069326/d9f7f708-f4ca-11e5-9a19-5acdf01abcd3.png)

[2016-03-28 02:01] inyoureyes143 commented on #3910
Okay, i understand now this is just for filtering purposes

[2016-03-28 02:01] #3910 closed, assigned to nobody

[2016-03-28 02:25] FranRoy commented on #3503
Sure @sengaigibon, It is a fresh install on a EC2 + MySQL RDS amazon environment with nginx and php7. It is runing the amazon linux S.O. The only peculiarity is that I did a migration (products,categories + customers) using the migration tool. Also It is important to mention that yesterday I noticed that If I activate the caches, the problem is no longer happening... So the issue happens when cach

[2016-03-28 02:29] quynhvv opened #3911 "The zero-valued parameters are missed in the widget code, generated by the TinyMCE editor"
Hi guys,
When insert a widget via TinyMCE editor, we can't not get param with values is zero in the widget short code generated. I have detected and see the root of issue at below function:
(vendor/magento/module-widget/Model/Widget.php)

[code]

We have change to:

[code]

Please have a look.
Regards,
Quynhvv.

[2016-03-28 04:15] fooman commented on #3060
Seems there is already a PR for this https://github.com/magento/magento2/pull/3189

[2016-03-28 06:45] keyurshah070 opened #3912 "Set Special price 0(Zero) of Last associate product of configurable product issue"
## Steps to reproduce
1. Login into the magento2 admin with your details.
2. Go to Products > Catalog > Open any configurable product(Create if you don't have a configurable product with its associate product).

3.Go to associate product Configurations from Product Details tab ..
4. Click on the last associate product of that configurable product.
5. Set special price of that associate product to

[2016-03-28 08:20] ishakhsuvarov commented on #3894
@babyasishhira Thank you for reporting this issue. Please provide preconditions and steps to reproduce the issue and Magento version you are using.

[2016-03-28 09:29] shiftedreality commented on #2975
Fix was merged. Closed.

[2016-03-28 09:29] #2975 closed, assigned to victorgugo

[2016-03-28 09:37] katmoon commented on #2855
This is a bug. To fix it, we must understand when it happens.
An error message could help. It can be in php error_log, in Magento logs or in `cron_schedule` table.

[2016-03-28 10:16] bondimedical3 commented on #2855
As far as I can see there are no errors. All entries for indexer in cron_schedule table have status "success"

[2016-03-28 10:27] ishakhsuvarov commented on #3902
@ahamedkislakci Looks like you have added a Virtual Product (product with no weight) to your shopping cart. In this case Shipping section of checkout is not shown. Please try with the different product, which has weight, and let us know if it worked.
Thank you.

[2016-03-28 10:58] antboiko commented on #3906
Hello @sangatpedas , thanks for your inquiry.

Theme Management functionality was moved to Admin >> Content >> Design >> Configuration.

I'm closing this ticket for now, please feel free to reopen if you have any additional questions.

Best,
Anton.

[2016-03-28 10:58] #3906 closed, assigned to nobody

[2016-03-28 11:56] vzaporozhets commented on #3643
Closing this issue - no reply for 2 weeks.

[2016-03-28 11:56] #3643 closed, assigned to vzaporozhets

[2016-03-28 12:33] MomotenkoNatalia commented on #2909
As there are no new updates from reporter, issue will be closed.

[2016-03-28 12:33] #2909 closed, assigned to MomotenkoNatalia

[2016-03-28 12:34] MomotenkoNatalia commented on #3673
As there are no new updates from reporter, issue will be closed.

[2016-03-28 12:34] #3673 closed, assigned to MomotenkoNatalia

[2016-03-28 12:36] MomotenkoNatalia commented on #2601
Internal ticket MAGETWO-47228 is closed and delivered to mainline. Please let us know if you still have an issue.

[2016-03-28 12:36] #2601 closed, assigned to MomotenkoNatalia

[2016-03-28 12:57] arkadiych commented on #3450
Internal issue MAGETWO-51112

[2016-03-28 12:59] pynej opened #3913 "Readiness Check does not check for all modules needed for cron, composer, compiler."
## Steps to reproduce
1. Installed clean FreeBSD 10.2 system with Apache, Php, MySql.
2. Install Magento 2.0.2.
3. When I went to setup the site gave me a list of all the additional modules and packages I need to install and I did so.
4. Finished Magento setup and started to use it.
## Expected result
1. A fully functional system.
## Actual result
1. I have run into numerous errors and issues due

[2016-03-28 13:49] mazhalai commented on #3913
@pynej, Could you please give us examples? Also, recommended OS is Centos or Ubuntu, so we ensure Magento's readiness check works on those.

[2016-03-28 13:57] pynej commented on #2855
There are some errors though I'm mostly at a loss to troubleshoot them.

[code]

[2016-03-28 14:15] erikhansen commented on #3060
@fooman Yes, you are correct. Thanks for sharing. Once that PR gets merged, this ticket should be closed.

[2016-03-28 14:22] davidalger commented on #3657
@atishgoswami Would you confirm the fix pushed into the mainline for this resolves the issue you were encountering?

[2016-03-28 14:35] Fel1xx commented on #3379
Does anyone checking this?

[2016-03-28 15:02] mazhalai commented on #3184
@alvaroadair Closing this ticket as non responsive. Please open a new ticket if issues arise.

[2016-03-28 15:02] #3184 closed, assigned to nobody

[2016-03-28 15:03] mazhalai commented on #3877
@kingalca has your issue been resolved?

[2016-03-28 15:07] mazhalai commented on #3421
Closing as duplicate

[2016-03-28 15:07] #3421 closed, assigned to nobody

[2016-03-28 15:09] mazhalai commented on #3897
@erikhansen Thank you for reporting, we have created MAGETWO-51149 to investigate and fix.

[2016-03-28 15:10] mazhalai commented on #3577
@diwipl We are closing this as non-responsive. Please create a new ticket if issues arise.

[2016-03-28 15:10] #3577 closed, assigned to nobody

[2016-03-28 15:11] grasdaggel commented on #3877
Sadly no, the bug still occours.

[2016-03-28 15:11] mazhalai commented on #3278
@thor777 have you run the `bin/magento setup:static-content:deploy` command?

[2016-03-28 15:12] mazhalai commented on #3880
@Lovnish have you run the bin/magento setup:static-content:deploy command?

[2016-03-28 15:13] mazhalai commented on #3886
@gacleg closing this ticket, since original issue is resolved. Please create a new tickets if further issues arise.

[2016-03-28 15:13] #3886 closed, assigned to nobody

[2016-03-28 15:14] mazhalai commented on #3909
@yssource Thank you, we have created ticket MAGETWO-51151 to investigate and fix.

[2016-03-28 15:16] mazhalai commented on #3885
@noprobz09 how did you deploy Magento 2.0? via git, composer or zip from magento.com? Also, please give details of your environment, like OS, web server and PHP version,

[2016-03-28 15:20] mazhalai commented on #3877
@kingalca thanks for confirming, we have created MAGETWO-51152 to investigate and fix. Also, can you please give more details how new theme was deployed.

[2016-03-28 15:22] mazhalai commented on #3900
@rbncha These errors dont tell us much. What is your exact issue? Are you unable to install?
Also, have you checked if your file permissions are as recommended [here](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache-user.html) and [here](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html)?

[2016-03-28 15:28] mazhalai commented on #3544
@andrew-smart sorry for the delay, can you please give us more details about your env, like OS, and PHP version, so that we can try to reproduce this.

[2016-03-28 15:32] pynej commented on #3913
I do know that the `setup:di:compile` command would not work and would fail with a weird error until I added the following.

[code]

[2016-03-28 15:34] mazhalai commented on #3273
@sadeeshmca closing this as non-responsive.

[2016-03-28 15:34] #3273 closed, assigned to nobody

[2016-03-28 15:35] mazhalai commented on #3598
@nFed closing as non-responsive.

[2016-03-28 15:35] #3598 closed, assigned to nobody

[2016-03-28 15:40] mazhalai commented on #3913
@pynej thank you, we have created MAGETWO-51159 to investigate and fix.

[2016-03-28 15:46] mazhalai commented on #2881
@raybogman @woei66 This issue doesn't seem to be magento related, but related to your server settings. Hence, closing this issue. Please feel free to open a new issue if problems arise.

[2016-03-28 15:46] #2881 closed, assigned to nobody

[2016-03-28 16:12] grasdaggel commented on #3877
Step by Step.
1. unpacking theme files localy
2. upload folders to magento root directory
3. Selecting the theme in the magento backend as current theme
4. Terminal: setup:upgrade (also tried it with setup:upgrade --keep-generated)
5. Terminal: setup:static-content:deploy (also tried it with de_DE extension since its a german shop)
6. (This is where the magic happens) - importing Demo Content of t

[2016-03-28 16:16] vzaporozhets commented on #3507
@werdlv, are you able to see frontend/admin while receiving such errors? Which OS is used?

[2016-03-28 16:23] MomotenkoNatalia commented on #3816
Hi @quienti ! Thanks for reporting this issue! Internal ticket MAGETWO-50974

[2016-03-28 16:45] mazhalai commented on #3877
Can you check you database, in the `theme` table, is there any entry for your new theme? Also, does the theme have the required `registration.php`?

This could be related to #2797, which has been fixed. Can you try on the latest develop branch?

[2016-03-28 16:46] jsakars commented on #3507
@vzaporozhets yes, both admin & front-end are accessible and seems to work fine in general. Ubuntu 14.04 is used along PHP7 and Nginx

[2016-03-28 16:46] vzaporozhets commented on #3801
@rpmkhatri - thanks for contacting us. Can you please define and use FQDN for magento server?

[2016-03-28 16:57] mikeweis commented on #3018
This issue has been resolved and merged to develop. Feel free to let us know if you encounter any other issues.

[2016-03-28 16:57] #3018 closed, assigned to NadiyaS

[2016-03-28 17:02] dsikkema-magento commented on #2461
@whizkid79 thank you for your investigation, when I run the compiler first I do see the same result.

[2016-03-28 17:22] dinhquy94 commented on #1882
I use those code above but error appear:

Help me  reason why !

[2016-03-28 17:31] davidalger commented on #2797
@mazhalai Could you comment on what the ultimate fix was/is? I'm not seeing commits tagged with this GH issue id, and it's unclear from the thread if this was being fixed by having setup:upgrade add the theme or via some other means.

[2016-03-28 17:40] mazhalai commented on #2797
@davidalger too many commits, maybe it is easier to post the files modified/introduced: (you can look in  blame/history of each file for specific commits)

https://github.com/magento/magento2/blob/develop/app/code/Magento/Theme/Model/Theme/Registration.php
https://github.com/magento/magento2/blob/develop/app/code/Magento/Theme/Setup/InstallData.php
https://github.com/magento/magento2/blob/develop/

[2016-03-28 18:15] pynej commented on #3863
In my experience you have to go to Cache Management -> Flush Static Files Cache for Less changes to show up in the front end.  I do have it in developer mode so maybe thats why i don't need to use deploy?

[2016-03-28 18:29] pynej opened #3914 "Create theme/child theme option"
We create and customize lots of magenta systems and we would love to see a option in the Themes section to create a new theme and optionally attach it to a parent theme.

This would just ask for the company name, theme name, and optional parent theme.  Then it would create the proper folder skeleton structure, create the registration.php and theme.xml files, and display the path to access and upda

[2016-03-28 19:07] sajidunnar commented on #2531
I had same error it was not making any sense then I found that my composer.json file of my module was not valid once I fixed and it worked  ; hope it may help

[2016-03-28 19:18] MeJohan opened #3915 "Image Import Issue"
I keeping getting error "Imported resource (image) could not be downloaded from external resource due to timeout or access permissions"
I'm using the google cloud platform and I upload all my images through ssh filezilla

 to opt/bitnami/apps/magento/htdocs/pub/media/import/
Also I couldn't find the solution on the net, even though other people are facing the same problems
https://community.magent

[2016-03-28 20:18] davidalger commented on #2797
Based on commit 0132caf431 it looks like they should now be auto-registered when setup:upgrade is run. Thanks @mazhalai!

[2016-03-28 20:22] mikeweis commented on #3912
Thanks for submitting this bug. I have created internal ticket MAGETWO-51181 to track this issue.

[2016-03-28 20:26] famousTM commented on #2429
Thank you for your help

On Mon, Mar 21, 2016 at 2:02 AM, Illia Oliinyk notifications@github.com
wrote:

##

Ruben Ramirez
_famous@alumni.usc.edu famous@alumni.usc.edu_
562.556.5556

[2016-03-28 21:31] middlegrey opened #3916 "Braintree plugin breaks when JS minify is turned on"
In the Braintree module's requirejs-config.js, the external resource https://js.braintreegateway.com/v2/braintree.js is specified.

When JS minify is turned on, the system tries to load https://js.braintreegateway.com/v2/braintree.min.js which doesn't exist, breaking the page.

[2016-03-28 21:39] ahamedkislakci commented on #3902
@ishakhsuvarov Thanks so much. Now working. Thanksssssss

[2016-03-28 22:21] benathey commented on #3797
Great thanks.

[2016-03-29 00:42] OgreMHDW opened #3917 "Products not showing in category"
## Steps to reproduce
1. Product is entered in Magento
2. Product is Enabled
3. Visibility set to Catalog,Search
4. Quantity set to 2
5. Inventory is In Stock
6. Product set to display on Main Website
7. Product is in a catagory
## Expected result
1. The front end category view show all products in the category.
2. The shopping options on the left shows the color of the product and when selected s

[2016-03-29 02:19] pantaoran commented on #2790
I also have this problem. Why did you close this issue @mudithae ?
Sure, maybe the alternative method to install sample data works, but that does not mean that the issue is fixed, it's only a workaround. This is a documented method and it does not work, so there should be an open issue about it.

I want to use this method. It's much more convenient for automated installations. The documentation sa