[2016-12-03 00:24] mehh commented on #6467
Any update on this issue? @asemenenko

[2016-12-03 00:31] Ctucker9233 commented on #6260
Any chance the fix will be in 2.1.3?

[2016-12-03 00:48] Ctucker9233 commented on #7560
@shahankitb997 @veloraven When I dug around in Magento\Framework\Stdlib\DateTime\DateTime, I noticed that there is supposed to be an offset created so that everything in the backend will display the proper local time. This offset seems to be broken or not used for some things. I believe it would fix the problem if that offset was also used in the newsletter queue.

[2016-12-03 01:01] jmtakahashi commented on #2732
@jupiter01 I'm running a Magento 2.1.2 installation as well and was able to fix the access to the admin, just as you have.

Are there any specific issues you have run into on the front end while keeping Minify JS and Merge JS on?  It appears as though the newsletter popup, after signing up, has created a slight problem on my end and the newsletter window persistently pops up after subscribing, eve

[2016-12-03 01:30] srinivasanithin commented on #1578
@NadiyaS : Any ETA on this release? It is keep our Magento2 integration with ERP down.

[2016-12-03 03:35] timrsmith commented on #7155
This issue exists in 55 (previously beta), now including stable

[2016-12-03 05:28] ipascual commented on #2824
This way my speed time came down to half:
- No virtualize, using Ampps on Mac, php7
- xdebug: I've been using a local compiled xdebug, I had to disable it :-/
- redis server for cache (configuration bellow)

[code]

Hope it helps

[2016-12-03 09:33] softcommerceltd commented on #7155
Same issue on Version 55.0.2883.75 (64-bit)

[2016-12-03 09:49] cscd98 commented on #7663
@maksek When? :)

[2016-12-03 10:18] YevSent commented on #7633
Hi, @duffner, we can't reproduce your issue and need to get more details about it.

You can't log response from `transact.dll`, you should check it manually in browser network log.

We have plans for Authorize.net API changes, but can't provide any estimate when they will be published.

[2016-12-03 10:37] harshadgoswami commented on #4595
I have same issue received same response "Paypal This transaction can't be processed. Please pay with another card."

My debug.log output as follow, please help me.

[debug.log.txt](https://github.com/magento/magento2/files/628799/debug.log.txt)

[2016-12-03 10:45] harshadgoswami opened #7671 "Paypal Website Payments Pro Hosted Solution iframe"
**Steps to reproduce**
Install Magento from 2.1.2 (and/or previous) release.
Setup Paypal Website Payments Pro Hosted Solution (using a sandbox account) - select merchent country to United Kingdom
Add any product to cart
Attempt a checkout using a "test" card

**Expected result**
Magento opens an iframe where you can enter the card details

**Actual result**
The iframe opens in the actual window w

[2016-12-03 10:47] hostep commented on #7155
This is being tracked over here in the chromium bugtracker: https://bugs.chromium.org/p/chromium/issues/detail?id=670837

Looks like a regression, I don't think Magento will need to fix something and we just need to wait for Chrome to release a new version...

[2016-12-03 11:01] schasiepen commented on #6929
@SerhiyShkolyarenko: At first no errors in log files and no reports. But when I uncomment try/catch in PaymentInformationManagement funtion savePaymentInformationAndPlaceOrder(), I get this error message:
Report ID: webapi-5840685d21343; Message: No such entity with orderId = 2
sequence_order_1 has 231 entries Autoincrement is 232.

The funny thing is that all orders are generated, Emails are send

[2016-12-03 13:33] hostep commented on #6335
@benmarks: since we are now four months further, can you comment on if this is actually happening?
Because I'm seeing a lot of development focus going towards a release of Magento 2.2, instead of a focus for releasing bugfixes for 2.0 or 2.1.

I'm getting a little bit annoyed (well actually quite a lot) by the fact that it has been 3 months since the last bugfix patches (which were only security p

[2016-12-03 14:05] heldchen commented on #6335
I couldn't agree more. I dread the upcoming (when?) 2.2 release that will introduce 1000s of changes in addition to *maybe* having fixed some of our long outstanding issues like product data corruption.

even for known fixed problems cherry-picking the commits from the dev branch is mostly unfeasible due to the many other changes already introduced.

the current 2.1 version is a nightmare to run i

[2016-12-03 16:07] davideghz commented on #5497
@thdoan I solved the issue by copying the content of this file

https://github.com/magento/magento2/blob/2db5aa15722307fb6ad703627933224f5f74bbe3/app/code/Magento/Catalog/Block/Adminhtml/Product/Helper/Form/Gallery/Content.php

and overriding the file /var/www/html/vendor/magento/module-catalog/Block/Adminhtml/Product/Helper/Form/Gallery/Content.php in my Magento 2.1.2 installation.

[2016-12-03 20:47] dimitrovv opened #7672 "Shipping & Payment not displayed on Cart Checkout when user logged-in"
I have come across a problem related to the Cart Checkout.
If you go to Checkout using the link **Proceed to Checkout** in ```checkout/cart``` then
Shipping & Payment Tab are not displays due to a JS Error.

### Preconditions
Magento 2.1.x

I am having this problem on the following Web Server Configuration
* Ubuntu 16.04.1 LTS
    * Apache 2.4.18
    * PHP 7.0.13
    * MySQL 5.7.16

I have also re

[2016-12-03 22:22] Ctucker9233 commented on #7632
@Olysenko will that fix be in 2.1.3?

[2016-12-03 23:01] Ctucker9233 commented on #6335
@hostep You are right on the mark! If I may add one more thing, @magento-team should also focus on producing fixes for bugs in the branch it was reported in first and not just thrown into the develop branch. I.e. a bug reported in 2.1.0 should be solved for 2.1.0 branch before considering how to apply that fix to develop. That way, we will know that the bug fix is actually compatible. I'm tired of

[2016-12-03 23:52] abi2 commented on #7498
Steps to reproduce:

1. Magento 2.1.2
2. Customer creates an account
3. Customer does not subscribe to newsletter
4. Customer logs in to dashboard

Expected result:
You haven't subscribed to our newsletter.
Actual result:
You don't subscribe to our newsletter.

[2016-12-04 11:14] ktomk commented on #5701
For cross-reference: In Magerun 2 we've added PHP 7.1 support now and do see the various reported issues with Magento 2 now as well as they became blatantly obvious. We're tracking this downstream at https://github.com/netz98/n98-magerun2/issues/256.

Issues I could spot so far within the Magento 2 Github Tracker are:

* https://github.com/magento/magento2/issues/3881 - PHP mcrypt extension to be

[2016-12-04 14:39] sijad commented on #5762
have same problem

[2016-12-04 19:30] imgali commented on #5762
Same Problem here. (2.1.2)

[2016-12-05 00:58] imgali opened #7673 "Text swatch "zero" not shown"
### Steps to reproduce
1. Create configurable product which has storefront text attribute with value "0" (zero) - let it be size for dress
2. Navigate to category page

### Expected result
1. See the size "0" with other sizes (0, 2, 4, 6 etc)

### Actual result
1. Size "0" (zero) doesn't render

<img width="1311" alt="admin_product" src="https://cloud.githubusercontent.com/assets/21045213/20870790

[2016-12-05 01:14] shahankitb997 commented on #7560
@Ctucker9233 So what will be the solution or quick fix for this one?

[2016-12-05 03:04] pantaoran commented on #2984
Maybe this can help someone:

I found that putting a `<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>` into the `etc/adminhtml/system.xml` is not enough. You also need to add something to the `etc/config.xml`!

Example:

    <?xml version="1.0" encoding="UTF-8"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magent

[2016-12-05 05:31] jmtakahashi commented on #5853
After implementing code, INITIAL PAGE LOAD works correctly and page is scrollable, even when touching product image slider.

HOWEVER, on reload (refresh) on mobile, the page stops being scrollable again.  Can someone shed some light on this?

[2016-12-05 05:39] jmtakahashi commented on #5302
@ilol @yofisim note that this fix works on initial page load, but on reload (refresh) it does not work.  on reload, first image in the slider will react to up and down scrolling, but on 2nd image or 3rd image (any image after first), the scrolling issue persists.

[2016-12-05 06:41] flipflap commented on #6310
Any news about this issue?

[2016-12-05 07:55] primisuimotori commented on #7652
Solve, delete all database table for catalog (product & category) and eav attribute. After that I Imported the empty tables from a clean Magento 2.1.2 installation.

[2016-12-05 08:11] YevSent commented on #7670
Hi, @jhbowser.

You need to wrap soap call into `try and catch` construction to find a reason of your error. This can be done in the follows way:

[code]

This construction allows to do next two things:

1. You can get exception message -> `$e->getMessage()` and exception details `$e->detail`.
2. The trace option allows seeing details of your `$client` request. For example, if you use `xdebug` and

[2016-12-05 08:21] slackerzz commented on #6335
@hostep i totally agree with you!
Regarding EE support sadly it's not really different, i have a ticket open from 1 month, they said that since M2 is a complex software they cannot give me any ETA for a solution

[2016-12-05 08:24] SerhiyShkolyarenko commented on #7570
The ticket is in queue for fixing. It's marked as high priority.

[2016-12-05 08:27] jreinke commented on #4921
Clearing local storage worked for me.

[2016-12-05 08:42] Styopchik commented on #2119
Still have same issue on 2.1.2. Customer with VALID VAT_ID  in catalog gets prices without tax (correct), but in checkout TAXes are calculated, and in order TAXES ARE CALCULATED

[2016-12-05 08:58] andidhouse commented on #6335
Totally agree with you guys!
We are an agency and focusing on magento2 since over 1.5 years now.
The problem is that we, to make it simple, loose money here every day. In our internal statistics we have about 40-45% of bug fixing time - no way to keep this for us as it is - we never saw an ecommerce platform this buggy to be honest. But the problem for us is not in first step the bugs but how they

[2016-12-05 09:14] olysenko commented on #7632
There is no plans for backporting it into 2.1.x versions, try fix for develop referenced in [4000](https://github.com/magento/magento2/issues/4000).

[2016-12-05 09:32] Dart18 commented on #5929
I already tried this workaround, but in my case it was not successful. I'm debugging to understand where is originated the issue.

[2016-12-05 09:49] thdoan opened #7674 "Incorrect order failure message in checkout_onepage_failure.xml"
### Preconditions

1. Magento 2.1.2

### Steps to reproduce

1. Simulate an order failure in checkout

### Expected result

1. When the order fails, the user should be notified that it failed.

### Actual result

1. The order failure page simply reads "We received your order!"

To fix this, make the following change in `vendor/magento/module-checkout/view/frontend/layout/checkout_onepage_failure.x

[2016-12-05 10:07] #7331 closed, assigned to nobody

[2016-12-05 10:21] YevSent commented on #7671
Hi, @harshadgoswami, please, contact with PayPal what card you can use for testing.

[2016-12-05 10:25] fmd-sav commented on #7669
Same problem here.
Have you solved it?

[2016-12-05 10:28] kh-badep commented on #5762
@SKovbel I couldn't find where to put your temporary fix. Can you explain further what files should we modify?

[2016-12-05 10:36] andidhouse commented on #6018
@choukalos really don´t know why this is closed without a solution... it is also reported in the forum:

http://magento.stackexchange.com/questions/134834/how-can-we-load-product-image-gallery-instantly-without-the-delay-in-magento

[2016-12-05 10:49] LiamFielding commented on #7550
I am having the same issue, the only thing that I did to the minicart was move it via layout xml and style it with css, no overwrites or anything that would cause the hiding of products. They aren't hidden ,they just aren't loaded.

It would be interesting to see if deepak has moved the minicart via layout xml.

[2016-12-05 11:10] slackerzz commented on #4427
this bug is still present in M2 2.1.2 (both CE & EE)

[2016-12-05 11:12] nmallepally opened #7675 "Mgento 2.1.1 production errors"
Command returned non-zero exit code:
`/opt/plesk/php/7.0/bin/php -f /var/www/vhosts/magento 2/httpdocs/bin/magento setup:static-content:deploy en_GB en_US`

### Preconditions
Magento 2.1.1
PHP 7.0.13
Mysql 5.7
Debian 8
Apache

### Steps to reproduce
1. Website in Developer Mode
2. Ran php bin/magento deploy:mode:set production
memory limit set to 2048M
3. finished cde compilation successfully
4.ge

[2016-12-05 11:18] guvra opened #7676 "Controllers overriden with the "before" parameter are ignored by the "setup:di:compile" command"
### Description

In production mode, the command `bin/magento setup:di:compile` ignores classes that were overriden in `routes.xml` files, using the `before` parameter. This results in interceptors not extending the appropriate class.

### Preconditions
1. Production mode is enabled.

### Steps to reproduce
1. In a custom module (named "Test_Override" in the below examples), create a file named `e

[2016-12-05 11:19] slackerzz opened #7677 "Breadcrumbs work differently between dev and production mode"
### Preconditions

1. M2 2.1.2 (both CE and EE)

### Steps to reproduce

1. Visit category page and then navigate through a product page

### Expected result
1. breadcrumbs should contain "Home > Category > Product Name"

### Actual result
1. in developer mode it works as expected
2. in production mode i have "Home > Product Name"

[2016-12-05 11:56] mcjwsk opened #7678 "StockItemCriteria::setProductsFilter doesn't work with array of ids"
### Preconditions
1. Magento 2.1.2 EE
2. PHP 7.0.9

### Steps to reproduce
[code]

### Expected result
[code]

### Actual result
[code]

It works if you change the product filter to:
[code]

This issue is a duplicate of the ticket #4328

[2016-12-05 12:02] NiteshKuyate commented on #5847
When i am going to edit order then getting an error like below.
No such entity with cartId = 458.
I have 4  stores in my project.
Order edit works fine for 1 store but for another stores it give above error
and in db for 1 store it inserts 2 rows, for another 4 rows.
I am not getting anything.
Working on multi-site setup.
Plz help me as soon as possible.
Thanks.

[2016-12-05 12:09] vlauria opened #7679 "Quote Item - Duplicate sku in same quote"
### Preconditions (*)
1. Magento 2.4-develop branch

### Steps to reproduce (*)
1. Create an account on frontend and log in to this account on frontent
2. Go to category page, click "♥" icon for product1 (just simple product) to add it to wishlist
3. On the wishlist page click **"Add to cart"** button on the product (NOTE: use button add to cart for single item. NOT ADD ALL TO CART).
4. Open devel

[2016-12-05 12:20] wert2all commented on #7673
Created internal issue MAGETWO-61828 to investigate and track this issue.

[2016-12-05 13:13] trilokgupta commented on #5323
I have same issue in log file what can i do. if it  fixed then please let me know

Thanks

[2016-12-05 13:14] olysenko commented on #7508
@duffner, sorry the link to fix in develop branch was incorrect, the correct one is this [a86eda](https://github.com/magento/magento2/commit/a86eda34f882d9254f707a09f9e209b5c54ee632)

[2016-12-05 13:19] Tristan-N commented on #7672
@dimitrovv I have the same issue. But the issue ONLY occurs with customer account migrated from magento 1.9. I do not have the problems with newly created accounts.

[2016-12-05 13:24] abi2 commented on #5853
My issue was fixed when I changed the size of the images.

[2016-12-05 13:31] ghost commented on #5853
@abi2 What do you mean. Changed the size within view.xml?

[2016-12-05 13:32] AydinHassan commented on #7678
I have also just experienced this today - can confirm a bug.

[2016-12-05 13:41] steros opened #7680 "requirejs-config.js generated in wrong folder"
### Preconditions
1. Magento 2.1.2
2. PHP 7.0

### Steps to reproduce
1. activate all security measures during setup
2. Delete pub/static folder
3. run `bin/magento setup:static-content:deploy`

### Expected result
1. requirejs-config.js is requested for "https://www.testing.com/shop/pub/static/_requirejs/adminhtml/Magento/backend/en_US/secure/requirejs-config.js"

### Actual result

1. it is gene

[2016-12-05 13:47] steros opened #7681 "conflicting information on Cache Management admin and magento cache:status"
### Preconditions
1. Magento 2.1.2
2. PHP 7.0

### Steps to reproduce
1. set all caches to disabled in "Cache Management"
2. reload
3. see all caches disabled
4. on console run "magento cache:enable"
5. run "magento cache:status"
6. see all caches enabled

### Expected result
1. all caches should show as enabled in Cache Management

### Actual result
1. all caches have status disabled

This also w

[2016-12-05 13:48] orlangur commented on #7675
You need to find out what went wrong during static content deploy command. Folder permissions problem?

[2016-12-05 14:23] nmallepally commented on #7675
@orlangur File permission set to 777 on pub/static.
when i run static content deployment seperately, it generates successfully.

[2016-12-05 14:26] olysenko commented on #7612
Hi, thank you for your report. Internal ticket MAGETWO-61834 was created

[2016-12-05 14:26] kanduvisla commented on #7537
Is there any news or at least some confirmation on this ticket?

[2016-12-05 14:27] cizgidekiadam commented on #5191
Is there any update for this ?

[2016-12-05 14:32] iivashchenko commented on #6296
@maderlock, no, so far. I'll notice you about any changes of an issue state.

[2016-12-05 14:35] comdiler opened #7683 "Broken GroupManagementTest in TEST_SUITE=integration INTEGRATION_INDEX=1"
### Preconditions
1. Create a branch from develop branch;
2. Change any comment in code;

### Steps to reproduce
1. Create a pull a request from your custom branch to develop;

### Expected result
1. travis-ci tests will be successfully passed, because only one comment was added;

### Actual result
1. Failed TEST_SUITE=integration INTEGRATION_INDEX=1
See the PR #7682 and connected build https://tr

[2016-12-05 14:46] wigman commented on #6764
@lexbeelen Hi Lex, does this fix keep the related products intact?

[2016-12-05 14:54] kanduvisla commented on #7537
I've added a little update to my original question on how I currently fixed this.

[2016-12-05 15:03] dimitrovv commented on #7672
Hi all,

@Tristan-N
I have updated the **Steps to Reproduce**.
The Problem occurs when Billing & Shipping Information are the same and you have chosen a Country, which does not have configured Regions.

[2016-12-05 15:09] Tristan-N commented on #7672
@dimitrovv

Hi, thank your for your update.

We have been messing around a bit to figure out what happened and noticed that in the table customer_entity almost some customers had a value of 1 in the column created_in in our development environment.

We looked into the production site and saw the correct name everywhere. We changed the name for the store in created_in to 1, tried to order something

[2016-12-05 15:15] Pakkapao commented on #6507
I'm using Magento 2.1.2 and have the same problem.

[2016-12-05 15:27] dimitrovv commented on #7672
@Tristan-N

Hi, thanks for submitting this information.

All looks good In my database, the value of ```created_in``` is set properly to ```Default Store View``` and it also works if I reset it to 1. I was able to process more than one order.

Thanks!

[2016-12-05 15:30] Tristan-N commented on #7672
@dimitrovv

Great to hear it works for you know. What's the value you had when when you where able to process more then one order?

Did you migrate some customers from a Magento 1 store or did you create entire new accounts?

[2016-12-05 15:48] dimitrovv commented on #7672
@Tristan-N

The default value was ```Default Store View```, but It was ok, when changing to ```1```.
I haven't done a migration from Magento 1.x.
It is a completely new Magento 2.1.1 Installation.

Greetings!

[2016-12-05 15:49] giacmir commented on #7232
Same for me.

[2016-12-05 16:27] Joe-Whitehead commented on #7625
@shiftedreality
Yes, it was a non-Magento module, the composer.json was incorrect within it.
Must have missed the error when looking through the files when checking them over.

Thanks for your assistance.

[2016-12-05 16:27] #7625 closed, assigned to nobody

[2016-12-05 16:32] cscd98 opened #7684 "Unable to inject custom Logger into Helper that extends AbstractHelper"
### Preconditions
1. Magento 2.1.2
2. PHP 7.x.x

### Steps to reproduce
1. In di.xml of module
[code]

In Helper class:
[code]

Custom Log location:
[code]

2. run bin/magento setup:di:compile

### Expected result
1. It should allow you to replace the logger
2. It's possible to remove $logger from constructor and use $content->getLogger() however you can no longer inject your custom fileName

###

[2016-12-05 16:58] KrystynaKabannyk commented on #4334
Hello @shabith, thank you for reporting this issue, however this is not the one widget name that conflicts with jQuery UI. To fix the described issue we need to change the entire architecture of Javascript widgets, and unfortunately we don't have plans to change it in nearest future. So, please follow the suggestions, given to you above to fix your issue, and I have to close this bug report.

[2016-12-05 16:58] #4334 closed, assigned to nobody

[2016-12-05 17:00] mtb2112 commented on #5301
I'm working on a custom theme inheriting from blank, and I'm also getting this bug on the frontend.  I'm on version 2.1.2.

[2016-12-05 17:20] Sil-B commented on #7672
@dimitrovv This fixed it for us: Setting Stores > Configuration > Customer > Customer Configuration > Name and Address Options: Number of Lines in a Street Address make it 1. https://github.com/magento/magento2/issues/4921

[2016-12-05 17:41] abi2 commented on #5853
Yup, I downloaded the free theme from templatemonster and just used their view.xml and it works perfectly.

[2016-12-05 18:02] hostep commented on #6671
If anybody wants to test this possible fix and give me some feedback, that would be great! In my case it fixed our url rewrite issues (based on M2 CE 2.1.2 codebase, module-catalog-url-rewrite):
[code]

[2016-12-05 18:02] grazianodimaio commented on #6816
Hello,

i have the same issue on a Magento 2.1.0 installation, it's really urgent.

There's an update ?

[2016-12-05 18:08] andidhouse commented on #5853
hi @abi2 can you pls post the xml here?
many thanks!

[2016-12-05 18:35] choukalos commented on #7507
Thanks for the chat!  This looks like it might be related to internal ticket MAGETWO-61120 .  I'm adding the examples you provided to that ticket and will escalate the priority.

[2016-12-05 18:42] yofisim commented on #5302
@jmtakahashi please provide more infos as I tried to reproduce your issue
and didn't succeed. Patch is working fine from my side.

On Mon, 5 Dec 2016 at 7:39 jmtakahashi <notifications@github.com> wrote:

[2016-12-05 18:56] piotrekkaminski commented on #7529
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-12-05 18:56] #7529 closed, assigned to nobody

[2016-12-05 18:56] piotrekkaminski commented on #7389
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-12-05 18:56] #7389 closed, assigned to nobody

[2016-12-05 18:56] piotrekkaminski commented on #7292
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-12-05 18:56] #7292 closed, assigned to choukalos

[2016-12-05 18:56] piotrekkaminski commented on #7287
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-12-05 18:56] #7287 closed, assigned to choukalos

[2016-12-05 18:56] piotrekkaminski commented on #7277
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-12-05 18:56] piotrekkaminski commented on #7172
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-12-05 18:56] #7277 closed, assigned to KrystynaKabannyk

[2016-12-05 18:56] #7172 closed, assigned to nobody

[2016-12-05 18:56] piotrekkaminski commented on #7149
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-12-05 18:56] #7149 closed, assigned to nobody

[2016-12-05 18:56] piotrekkaminski commented on #7147
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-12-05 18:56] #7147 closed, assigned to mbrinton01

[2016-12-05 18:56] piotrekkaminski commented on #7096
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-12-05 18:56] #7096 closed, assigned to SerhiyShkolyarenko

[2016-12-05 18:56] piotrekkaminski commented on #6994
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-12-05 18:56] #6994 closed, assigned to nobody

[2016-12-05 18:56] piotrekkaminski commented on #6849
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-12-05 18:56] #6849 closed, assigned to nobody

[2016-12-05 18:56] piotrekkaminski commented on #6149
Thank you for your submission.

We recently made some changes to the way we process GitHub submissions to more quickly identify and respond to core code issues.

Feature Requests and Improvements should now be submitted to the new [Magento 2 Feature Requests and Improvements](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) forum (see details [here](https://c

[2016-12-05 18:56] #6149 closed, assigned to nobody

[2016-12-05 19:42] abi2 commented on #5853
Here you go, just changed ext to txt,
[view.xml.txt](https://github.com/magento/magento2/files/632101/view.xml.txt)
I'm also attaching gallery.phtml in /Magento_Catalog/templates/product/view

[gallery.phtml.txt](https://github.com/magento/magento2/files/632104/gallery.phtml.txt)

Let me know if this helps,

[2016-12-05 21:09] dimitrovv commented on #7672
@Sil-B

Thanks a lot for the hint. It works for me!
Sorry for submitting a known Issue, I have searched for an existing Issue, but I could not locate one.

I am closing this one!

Thanks for helping

[2016-12-05 21:09] #7672 closed, assigned to nobody

[2016-12-05 21:23] Vinai opened #7687 "Unable to unselect all multiselect values"
Magento version: 2.1.2

It is not possible to unselect and save all multiselect attribute values for a product.
After the save completes the state of the product attribute before the product was saved is unchanged.
It seems the problem is that the JS does not submit multiselect form elements with no selected values, at least on the server side completely unselected multiselect attribtues are not p

[2016-12-05 21:28] Ctucker9233 commented on #7560
@shahankitb997 I wish I had an answer for you. I haven't had time really to play with it. I have read in other issues of this type that changing the 'UTC' in date_default_timezone_set('UTC'); to your specific timezone code will temporarily fix the issue. But this modifies core code and would be overwritten in the case of an update or upgrade. @veloraven please give us some feedback and let us know

[2016-12-05 21:32] Ctucker9233 commented on #7652
@primisuimotori That's just not an option if your environment is in production mode with a live site.

[2016-12-05 21:48] Ctucker9233 commented on #7632
@olysenko So an issue that was reported as being in a 2.1.x version has a fix that is not planned to make it into a 2.1.x version? What kind of logic is that? 2.1.3 isn't even released yet. Surely there is time to schedule it for one of the 2.1.x releases. How can you expect people to keep upgrading when their issues don't get fixed and released? The develop branch is so broken as it is, it's a ri

[2016-12-05 21:48] joshuafredrickson commented on #2461
@katmoon's suggestion worked for me. I re-ran deployment 6 times before it successfully completed. Next time I'll give @Rui-Carvalho's solution a go.

[2016-12-05 22:01] Ctucker9233 commented on #4000
@NadiyaS is this fix safe for a 2.1.2 version in production mode with a live site?

[2016-12-05 23:25] Vinai commented on #7687
@fooman gave the input that probably the `can_be_empty` property has to be set on the `\Magento\Framework\Data\Form\Element\Multiselect` instance.
For system configuration multiselect that can be done by adding the `<can_be_empty>` node to the `system.xml` file, but in case of EAV attributes I see no obvious way to do so since they are DB based.

[2016-12-05 23:32] Vinai commented on #7687
On a side note, the method `\Magento\Framework\Data\Form\Element\Multiselect::getElementHtml()` adds the CSS class `admin__control-multiselect` (amongst others). Should the class not also be usable on the store front?

[2016-12-05 23:57] Vinai commented on #7687
More info in case it's useful: the property `can_be_empty` would be set in `\Magento\Backend\Block\Widget\Form::_applyTypeSpecificConfig()` but that method is never called. There are 3 classes that would trigger the flow of control to enter that method, but none of three classes are used on the edit product form. Is this M1 legacy code that wasn't deleted?

`\Magento\Catalog\Block\Adminhtml\Produc

[2016-12-06 00:52] converge commented on #3507
My installation is broken because of this issue. Can't advance in the shopping process.

[2016-12-06 01:49] ghost commented on #6261
still happening in 2.1.2 as well.

Also when i try to remove the default countries (Austria, Brazil, Canada, Estonia, Finland, Latvia, Lithuania, Romania, Spain, Switzerland and United States) from State Options in Congig -> General -> General it says You saved the configuration. but the options are still selected?

[2016-12-06 06:03] jmtakahashi commented on #5853
@abi2 @andidhouse how did changing your xml file fix things.  Are you referring to the original issue of not being able to scroll up and down?  If so, the JS fix that was mentioned previously, does work and my view.xml has already been modified to use the image sizes that I have uploaded in my site.  Could you point out what lines were changed in gallery.phtml to fix the issue?

However through de

[2016-12-06 06:09] jmtakahashi commented on #5302
@yofisim

Device:
a.) iphone 6s
b.) private browsing mode

Magento 2.1.2 (i'm including these because the JS merge, minify and bundle are problems in themselves when set to on)
a.) Minify, Bundle, Merge JS: ALL OFF
b.) Merge and Minify CSS:  ON
c.) Minify Html: OFF

1.) Click to an individual product page from any page.
2.) Check slider (all images), and check scrolling.  It will work.
3.) Reload

[2016-12-06 06:16] yofisim commented on #5302
@jmtakahashi dis you emulate on your browser in Desktop? Can you please
check the console to retrieve the error that is triggered when the
scrolling doesn't work.

It's a very weird issue and I believe it comes from elsewhere in the code.
Maybe you can provide URL?

On Tue, 6 Dec 2016 at 8:10 jmtakahashi <notifications@github.com> wrote:

[2016-12-06 06:32] jmtakahashi commented on #5302
@yofisim this was tested on an actual phone.  https://vizume.com

Any product image does the same thing.

[2016-12-06 06:40] toannguyen3105 commented on #6594
How to fix bug?

[2016-12-06 08:07] rudy1976s commented on #2568
I think I have a similar issue: after importing products from Magento 1.9.2 using official tool, I am not able to see any product in frontend: I have tried almost every solution found on the web, from reindexing, clearing cache and copied all the files again and again: in DB products are linked to website.

[2016-12-06 08:15] lucscu commented on #5301
@mtb2112 it is fixed in commit https://github.com/magento/magento2/commit/9515999f75fc728084079b8aae7ccc784cd8c1f3, just see other closed ticket https://github.com/magento/magento2/issues/5530.
I tried the fix and it seems work correctly.

[2016-12-06 08:16] artis-ozolins commented on #7525
Hello,

For those who are not having any JS translations working - when js-translation.json file is generated Magento does not include translations from theme. Only translations from module locale files will be used, so do not use theme for translating strings.

And remember to redeploy your static files:
rm -rf pub/static/*
rm -rf var/view_preprocessed/*
bin/magento setup:static-content:deploy

I

[2016-12-06 08:17] lucscu commented on #6018
@andidhouse try to use magic zoom, it is easy to install (2 minutes and free demo) and it works like a charm!

[2016-12-06 08:58] jmtakahashi commented on #5948
Any update for this????  All sentiments about how this is a problem has already been shared, so I won't reiterate, but need a fix.  @mjankiewicz will this work on Magento 2.1.2 installation?  Thanks!

[2016-12-06 09:05] koenner01 opened #7689 "quote_address_id not copied when converting quote address to order address"
The quote_address_id field is left blank when converting the quote address to an order address.

### Preconditions
1. PHP7.0
2. MG2 CE 2.1.2

### Steps to reproduce
1. Create an order as a guest

### Expected result
1. The quote_address_id column in table sales_order_address should be populated with the value of the quote address where the data was copied from

### Actual result
1. The quote_addre

[2016-12-06 09:13] ghost commented on #7413
Any update on this please?

[2016-12-06 09:14] mjankiewicz commented on #5948
@jmtakahashi yes. it works with 2.1.2

[2016-12-06 09:25] andidhouse opened #7690 "Image Processing Settings: ImageMagick setting has no effect"
### Preconditions

1. Magento 2.1.2 via download
2. PHP7, Nginx, Maria DB, Varnish, Redis

### Steps to reproduce

1. Go to Admin --> Configuration --> Developer --> and Change Image Processing Settings to --> ImageMagick
2. Clean all Caches ( we also cleaned everything via command line to make shure the setting gets taken into account)

### Expected result

1. Better Image quality

### Actual res

[2016-12-06 09:34] koenner01 opened #7691 "address with saveInAddressBook 0 are still being added to the address book for new customers"
If you place an order as a guest and set the save_in_address_book for an address on 0, that address will still be copied to the customer address book when registering as a new customer on the checkout success page.

### Preconditions
1. PHP7.0
2. MG2 CE 2.1.2

### Steps to reproduce
1. Place an order as a guest and set the save_in_address_book for your shipping address to 0
2. Click the register l

[2016-12-06 09:36] jmtakahashi commented on #5948
@mjankiewicz thanks!  will test installation now.

[2016-12-06 09:46] ksiamro commented on #3507
Still:

[code]

Should we open new issue?
Magento v 2.1.2

[2016-12-06 09:49] nicolaspernot commented on #5381
Same problem here. I will try to find time for propose a pull request in (near?) future.
Problem comes from the `Config/etc/view.xsd`.

Just change this part:

[code]

by:

[code]

And that seems solve the problems.

[2016-12-06 10:03] andidhouse commented on #6018
@LucScu many thanks. yes we tried this and it works great.
But we try to use as less extensions for normal functions as possible due to update problems and conflicts. I think it is a very poor implementation of the magento gallery script at the moment causing so much trouble.... i am not shure they fix it the next time so we maybe give magic zoom a try... :-/

[2016-12-06 10:09] wert2all commented on #7675
Can you provide an output of this command:

`ls -l var/www/vhosts/`

?
As I understand, you have a 'magento 2' folder with a space character?

[2016-12-06 10:11] antonkril commented on #7659
Integrity test `\Magento\Test\Integrity\Di\CompilerTest` runs same checks as compiler. This is not exactly what you requested, but the test will help detect the issue on your #2 test stage.

That said, this check should be removed.

[2016-12-06 10:13] kumarancontus opened #7692 "Code to create downloadable product with samples, files from frontend in magento2"
Need code to create downloadable product with samples, files from frontend in magento2

[2016-12-06 10:20] mohsinahmed22 opened #7693 "Admin - Order/Ship/Inovice email use Admin default store emails instead of store emails"
M2.1.2 Community

### Preconditions

1. Fresh Installed Magento 2.1.2 with multiple sites and stores.
2. Each website or store uses its own unique sender email address. **(Ex. Sample@store1.com and sample@store2.com)**

### Steps to reproduce

1.  Processing order of site2 via M2 admin with "Notify Customer by Email" selected.

### Expected result

1. An Email originating from the 2nd site scope s

[2016-12-06 10:29] bijalbhavsar commented on #1471
Anyone found patch to fix this issue, we are also facing similar issue while product importation in Magento v 2.0.7.

[2016-12-06 10:34] routbiplab commented on #7047
I did this -
	$categoryModel = $objectManager->create('Magento\Catalog\Model\Category')->load(3);
			$categoryModel->setData('name', 'electronics-updated');
			$categoryModel->setStoreId(0);
			$categoryModel->save();
	But getting this error:
 Fatal error: Maximum function nesting level of '2000' reached, aborting! in vendor/magento/framework/Config/Scope.php on line 48

[2016-12-06 10:38] nmallepally commented on #7675
@wert2all sorry that was a typo mistake, in original there is no space, i have domain name, just replaced with magento2 for privacy.

[2016-12-06 10:41] Tapin1 commented on #7497
Any fix for this issue?

[2016-12-06 10:41] tanghia commented on #6683
My shop has encountered same problem. After updating magento from 2.0 to 2.1, some old products can't update updated_at field.

[2016-12-06 10:42] deepak-netwin opened #7694 "Magento2: success/failure message not auto-hiding"
1) Installed Magento2.1.1 with PHP7 on my localhost wamp
2) Created a custom theme and set it from backend.
3) Deployed content, cleared cache.
4) Navigate to customer login page and entered wrong credentials.
5) Its showing failure message i.e. Invalid login or password.
6) Again entered wrong credentials and now its showing error message 2 times.
7) So attempted again and its showing failure mes

[2016-12-06 10:43] kanduvisla commented on #4132
This problem still persists in Magento 2.1.2. Is there any update on this?

I noticed today that I cannot reproduce it locally, but only on the production environment. Could it be that it's some MYSQL setting that handles how entities with the same column value are sorted? (like, if you have 100 products in a category with position '0', are they ordered randomly or ordered by ID, or not at all and

[2016-12-06 10:53] peterhirn commented on #7165
After a `composer-update` on 2016-12-03 06:30 my `env.php` was replaced with:

    <?php
    return 1;

I replaced the configuration and now `setup:upgrade` is broken:

    Can't run this operation: deployment configuration is absent. Run 'magento setup:config:set --help' for options.

And the `cache` namespace is missing:

    There are no commands defined in the "cache" namespace.

[2016-12-06 10:55] wert2all commented on #7677
Please provide more steps for reproducing.

[2016-12-06 11:06] slackerzz commented on #7677
To switch to/from [developer mode](http://devdocs.magento.com/guides/v2.1/config-guide/bootstrap/magento-modes.html#mode-developer) and [production mode](http://devdocs.magento.com/guides/v2.1/config-guide/bootstrap/magento-modes.html#mode-production) you can follow this [doc](http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-mode.html)

When Magento is in [developer m

[2016-12-06 11:06] olysenko commented on #7605
Hi, thank you for your report. The correct behavior is in 2.1.x(the same in develop branch). Field website_id=0 in table cataloginventory_stock_item. It is incorrect in the 2.0.x. where website_id=1.  Internal issue was created MAGETWO-61904

[2016-12-06 11:45] oleksii-lisovyi opened #7697 "Zend_Validate_Hostname add supporting of *.shop TLD"
Hi guys,

I found, that there is no ability to register customer with email with TLD .shop.
Can you please fix it?

### Preconditions
1. Magento 2.1.* installed.

### Steps to reproduce

1. Go to register page.
2. Try do register with email test@my.shop.

### Expected result
1. Customer successfully created.

### Actual result
1. Customer is not able to register account.
Screenshot:
![magento2_inv

[2016-12-06 11:57] ihor-sviziev commented on #7697
This issue caused by https://github.com/zendframework/zf1/issues/728 that used in Magento 1.x and Magento 2.x for email validation. For this issue we have answer that ZF1 is reached it's End Of Life, so would be great to replace using Zend_Validate to similar validator from ZF2, or another one.

Also Oleksii created the same issue for ZF2: https://github.com/zendframework/zend-validator/issues/139

[2016-12-06 12:07] mohsinahmed22 commented on #6954
I am also facing this issue ? any fix yet?

[2016-12-06 12:34] maderlock commented on #417
This is a bug, not a feature request - one documented feature does not work with another documented feature. Please could we have an update on MAGETWO-33570?

[2016-12-06 12:38] kanduvisla commented on #4132
Ok, so this is strange.

I thought that the sortorder issue might be database related. So I wrote a script that would update all the positions of the products in each category. Something like this:

[code]

I also flushed cached and re-indexed everything after this.

## The strange part

When I go to the category in question, the products are still sorted randomly. However, when I reverse the sort

[2016-12-06 12:38] maderlock commented on #5635
I think this refers to the following bug: MAGETWO-33570

[2016-12-06 12:51] SerhiyShkolyarenko commented on #7497
@Tapin1 issue is in queue for fixing. We don't have estimates yet.

[2016-12-06 12:53] converge commented on #5627
is there a way to fix it ? It's breaking my shopping process

[2016-12-06 12:58] abi2 commented on #5853
@jmtakahashi for me with smaller images it's working flawlessly,

[2016-12-06 13:00] kanduvisla commented on #4132
Okay, so I adjusted my script to filter out all products in my category that where set to be _'Not visibly Individually' by replacing the update script with the following:

[code]

But no luck there. Still the same behaviour is I write in my previous comment. But I guess we can now rule out the following:

- The actual set position in the database doesn't matter.
- Products that are set to 'not vi

[2016-12-06 13:02] kanduvisla commented on #4132
My previous comment made me wonder: Since I've noticed before that the URL changes, (with the addition of `?product_list_dir=desc`), I wondered if reloading this page would show the correct results.

But no, reloading the page also resulted in the wrong results. It looks like the XHR request gets the sorting right, whereas the rendering from page initialisation doesn't.

[2016-12-06 13:04] kanduvisla commented on #4132
Another detail: sorting by page initialisation always seem to be by entity_id, ascending. Could it be that the sort direction is not taken into account at all?

[2016-12-06 13:12] maderlock commented on #417
Update to the previously suggested code - this works if added at around line 246 of magento/module-catalog/Model/ResourceModel/Product/Indexer/Eav/Source.php

[code]

I'm not sure if there is a better method for creating instances of the source class without the overhead of loading all the attributes, but this does fix the issue.

[2016-12-06 13:13] kanduvisla commented on #4132
Hm, the only thing I notice when comparing SQL queries generated by ... is that when I sort the category with an XHR request, the line:

    ORDER  BY `cat_index`.`position` ASC

gets added to the SQL queries. Which makes a lot of sense why they are sorted correctly. So the main question is, why isn't this sorting added when navigating to the category from an URL?

[2016-12-06 13:22] hostep commented on #7697
This is probably a duplicate of https://github.com/magento/magento2/issues/4547 ?

[2016-12-06 13:25] oleksii-lisovyi commented on #7697
Yes. Thanks for catching!

[2016-12-06 13:25] #7697 closed, assigned to nobody

[2016-12-06 13:26] kanduvisla commented on #4132
ARGH! Kill me please...

Turns out there was an extension that did this to get the current product collection:

    $categoryBlock = $this->getLayout()->getBlock('category.products.list');
    $collection = $categoryBlock->getLoadedProductCollection();

Turns out that if you invoke `getLoadedProductCollection()` at this point, the sorting option is ignored. Why? <del>I don't know</del>. But at lea

[2016-12-06 13:26] maderlock commented on #417
If you are using the above for a temp fix, obviously use DI to create a preference for \Magento\Catalog\Model\ResourceModel\Product\Indexer\Eav\Source and override just the _prepareMultiselectIndex method.

[2016-12-06 13:33] yaroslavGoncharuk commented on #7656
@kleverk-Designs Thanks for reporting this issue.

We cannot reproduce this issue as described.
In addition, identify, please:
- your application mode
- if you have any extensions
- special options in Magento Configuration
- are you running clear 2.1.2 installation or upgraded from any previous version?

[2016-12-06 13:35] tzyganu opened #7698 "Admin Global Search was build in a hurry"
The admin global search is not entirely translatable, extensible and does not take into account the ACL settings for the current user

### Preconditions
Installed Version: 2.2.0-dev
### Steps to reproduce
1. Install any other language pack
2. Create an admin role that does not have access to orders and an admin user assigned to that role
3. Login as the user created in the step above
4. Search for

[2016-12-06 13:36] Remishevskiy opened #7699 "Shipping and payment doesn't displaying after adding shipping information in shopping cart"
Checkout works incorrectly if user go checkout page through shopping car

### Preconditions
1. Magento 2.1.x
2. Apache 2.4.18
3. PHP 7.0.13
4. MySQL 5.6

### Steps to reproduce
1) Not logged user add product to shopping cart
2) Go to shopping cart
3) Edit shipping information
4) Go to the checkout page.

### Expected result
1. Shipping and payment information displaying and user can edit this info

[2016-12-06 13:40] benmarks commented on #6335
All, hearing you loud & clear. To quote @hostep:

Work along the lines of what has been suggested by multiple people is underway. For elaboration I will defer to a more senior member of our team. I expect he'll respond shortly.

[2016-12-06 13:43] Tristan-N commented on #7357
@hawok Unfortunately it didn't fix my issue. It still exists. I checked on a vanilla 2.1.2 using Vagrant and the same issue is visible there. It happens in a Safari browser on a MacOS Sierra, but also on an iPhone 6 and a iPad (all Safari) I have the same issue.

Also notice the fact that the navigator below the image is activated on the actual first image, but the slider shows the second one.

It

[2016-12-06 14:08] deepak-netwin opened #7700 "Magento2: Category Id not showing at backend if selected any category."
1) Intsalled Magento2.1.1 on localhost wamp with php7.0
2) Login to backend. Created some categories.
3) When selected any category at backend, it doesn't show id of that category at the top as it was showing in Magento1.x.

[2016-12-06 14:15] sam-g-roberts commented on #7357
@Tristan-N i'd raise this

_Also notice the fact that the navigator below the image is activated on the actual first image, but the slider shows the second one._

As a seperate issue. doubt it will be picked up here.

[2016-12-06 14:19] Tristan-N commented on #7357
@sam-g-roberts I'm not sure about that, because the images which is active in the navigator is the actual image that should be displayed in the slider above it. In this gif, nothing is clicked or so what causes the slider to move to the second image. The navigation stays with the right picture, but the slider automatically slides to the second one.

My point is that the navigation works properly a

[2016-12-06 14:21] jmtakahashi commented on #5853
@abi2 which issue?  Did you fix the js no scroll problem by downloading a theme?  Could the theme have the proper js (per github) already in it?  Or did changing view.xml fix the scroll problem?

have you tested on an iphone in private browsing mode after a few page reloads on an individual product page?

View xml files are for proper image sizing, so I'm not sure how that would make the scroll fu

[2016-12-06 14:28] RoAndrei opened #7702 "Unable to load theme by specified key error while creating new store view"
### Preconditions

1.  Created new store view in Magento 2.0.1, to be used for a different language

### Expected result

1.

### Actual result

1. [Screenshot, logs]
Got this error on frontend:
![image](https://cloud.githubusercontent.com/assets/11091604/20928865/58389088-bbd0-11e6-813d-b2efeccefb42.png)

And this error on backend, while trying to set the Flexshop Theme, back to the original Defa

[2016-12-06 14:29] jmtakahashi commented on #5853
@abi2 could you also clarify what "smaller images" means?

[2016-12-06 14:39] Tristan-N commented on #5808
@ilol Is there any update/news on this issue? I have Fotorama issues as well for mobile users and would like to see it solved. I mean, it should be possible to figure something out in 4 months, right?

[2016-12-06 14:59] SerhiyShkolyarenko commented on #7430
@nickmarx12345678 thank you! We checked: the fix was delivered to 2.1, but not to 2.0 branch.
Internal issue for backporting is MAGETWO-61912.

[2016-12-06 15:23] tgsergiu opened #7703 "After Save & Duplicate {{description}}, {{name}} does not change"
### Preconditions

1. Create a product and click Save&Duplicate the product. The product must have {{description}} {{name}} set

### Steps to reproduce

1.

### Expected result

1. It will not auto complete as you type, only for new products the autocomplete works, if is Save & Duplicate does  not work

### Actual result

1. [Screenshot, logs]

[2016-12-06 16:04] gloopro commented on #7387
We had this issues several months ago and implemented a work around. We created a module that extends the affected file and took advantage of magento 2's dependency injection to resolve it to the new class.

You can find the module here: https://github.com/gloong/module-quote

[2016-12-06 16:13] HellgaM commented on #5241
Have the same issue, is there a workaround?

[2016-12-06 16:19] mtb2112 commented on #5301
Thanks @LucScu.  That resolved the issue for me.

[2016-12-06 16:32] mtb2112 opened #7704 "Unresponsive Script Dialog Warning in Admin (Firefox)"
### Preconditions

1. Magento 2.1.2
2. A little over 61K items
3. 142 Product Attributes
4. Firefox Version 50.0.2
5. Custom theme inheriting from Blank

### Steps to reproduce

1. Log into admin
2. Go to products->catalog
3. Click Add Product button

### Expected result

1. Page with configs loads properly.

### Actual result

1. An Unresponsive Script Dialog prevents the page from loading.
2. A

[2016-12-06 16:46] olysenko commented on #7665
Hi, thank you for your report. Unfortunately, I could not reproduce the issue as you described it.  Please provide the detailed steps we must follow to reproduce this issue

[2016-12-06 16:48] SerhiyShkolyarenko commented on #6911
Yeah, it seems to be. Internal issue for backporting to 2.1 is MAGETWO-58321.

[2016-12-06 17:05] SerhiyShkolyarenko commented on #7387
@gloong how can I reproduce it on my instance? What are the steps for clean magento?

[2016-12-06 17:06] SerhiyShkolyarenko commented on #5963
@Ctucker9233 unfortunately, no. Internal issue for backporting to 2.1 is MAGETWO-61922.

[2016-12-06 17:40] quienti commented on #7694
I think it's fixed in develop branch with this commit: https://github.com/magento/magento2/commit/9515999f75fc728084079b8aae7ccc784cd8c1f3

[2016-12-06 17:41] quienti commented on #7660
Probably fixed in develop branch: https://github.com/magento/magento2/commit/9515999f75fc728084079b8aae7ccc784cd8c1f3

[2016-12-06 19:57] elvin-vaimo commented on #7678
See #4328 , there is also workaround.

[2016-12-06 21:42] Ctucker9233 commented on #7165
@peterhirn Try deleting var/di then run the php bin/magento setup:upgrade command. After that, your cache commands should function again.

[2016-12-06 21:50] Ctucker9233 commented on #6335
@benmarks Thanks for letting us know someone is listening!

[2016-12-06 21:54] Ctucker9233 commented on #7702
@RoAndrei If you manually change the ID of the theme from 4 to 7 it should work. I had this happen to me once.

[2016-12-06 21:59] Ctucker9233 commented on #6911
@SerhiyShkolyarenko Ok, I'll wait and see.

[2016-12-06 22:03] Ctucker9233 commented on #5963
@SerhiyShkolyarenko Thanks. Do you have the commit numbers for MAGETWO-58609? Do you know if those commits are safe to integrate into a 2.1.2 production environment with a live website as they currently exist?

[2016-12-06 22:27] imgali commented on #7673
@wert2all, we found a solution to this.

Originally in /module-swatches/Helper/Data.php on line 412 there is a IF statement thats checking $item['value'] and it checks the value like this:

elseif ($item['store_id'] == $currentStoreId && $item['value'])

I think it should be:

elseif ($item['store_id'] == $currentStoreId && $item['value'] != '')

Cause when our swatch value is "0" (zero) it thinks

[2016-12-06 22:37] nastroth commented on #5954
I am experiencing a similar issue:

`
Fatal error: Uncaught TypeError: Argument 1 passed to MyModule\Service\Controller\Module\Version::__construct() must be an instance of Magento\Framework\App\Action\Context, instance of Magento\Framework\ObjectManager\ObjectManager given, called in /srv/www/vendor/magento/framework/ObjectManager/Factory/AbstractFactory.php on line 93
`

Magento Version: 2.1.2
P

[2016-12-07 00:19] gabs77 commented on #7252
Hi

I suggest a first solution

[code]
It's not perfect but it's hide a button chooser block

[2016-12-07 00:29] btwq opened #7706 "Admin Catalog Product Grid showing outdated attribute values"
### Preconditions

1. Magento2 Community 2.1.2
2. PHP7.0
3. Percona 5.6

### Steps to reproduce

1. Admin > Catalog > Products > Product Edit
2. Update "URL Key"
3. Save
4. In Products (Grid), URL key still showing previous value

### Expected result

1. Product Grid should show the updated URL Key.

### Actual result

1. Assigned new value "rw-tube-square-stretch-b-le" (removed dash)
![screen sho

[2016-12-07 01:51] crantron commented on #7366
Just came across this as well. 2.1.2

[2016-12-07 02:26] shahankitb997 commented on #7560
Hi @Ctucker9233 & @veloraven Any updates on this?

[2016-12-07 03:15] fooman commented on #7659
@antonkril great to hear that this is being improved. Just to provide some more context around this. The main problem is that the compiler with the above check applied is not run in developer mode and you can end up with something like this:

1.)  Install the following extension https://github.com/fooman/CompilerProdVsDev with
`php -f vendor/bin/composer config repositories.fooman-compiler-prod-vs

[2016-12-07 04:29] kleverk-Designs commented on #7656
Thanks for the reply.

We have 4 extension from same vendor.
We are running clear 2.1.2 install

Thanks

On Tue, Dec 6, 2016 at 7:03 PM, Yaroslav Goncharuk <notifications@github.com

[2016-12-07 05:04] abi2 commented on #5853
I didn't download the entire theme, just updated the 2 files and it's working great.
Yes we have tested on iPhone

[2016-12-07 05:36] younkim commented on #5418
@rattomago, I'm running 2.1.2 that I installed today, and this problem is present. Duplicated entries `cataloginventory_stock_item` with `website_id` = 1 are added when you import products in the admin. In my case, all I imported were `url_key` with the SKUs.

[2016-12-07 06:01] crantron commented on #2619
Incase this helps anyone. I truncated the url_rewrite table.
  - I used @Iazel module to restore all product rewrites.
  - Then for categories went to each sub root category, and resaved.
  - Then went to SEO and changed everything to not have .html
  - now everything is perfect.

thanks for this thread, helped a bunch. cheers!

[2016-12-07 06:31] avra911 opened #7707 "Wrong download link url in invoice email for purchases"
`$this->getItem()->getId` returns the id of the invoice, we want the id of download item in `app/code/Magento/Downloadable/Block/Sales/Order/Email/Items/Downloadable.php`.

However my PR did not passed travis, some fails are not even related to my changes: https://github.com/magento/magento2/pull/7705.

Did anyone had same problem here?

Razvan

[2016-12-07 06:39] shiftedreality commented on #5762
Hi @etessari

Fix for this issue was merged into `develop` branch https://github.com/magento/magento2/commit/1e78fe2e37af0012b7f60b29c658221b8ab8467b

[2016-12-07 07:10] tomasinchoo commented on #4085
I am in 2.1.1 and this issue is still present. You use develop branch just as an excuse to close the issues.
Those "fixes" rarely end up in releases in any decent time.
So what should I do now? Make patch myself so next time when you end up with some security issue, I need 10 days to patch?
What should I tell my client now?!
-Excuse me, your site is made on something that even the company that inv

[2016-12-07 07:13] ooples commented on #4468
I'm getting this error as well

[2016-12-07 07:13] teyou commented on #4547
in the meantime, is there any workaround?
we also have this issue when registering an email address under .online domain

[2016-12-07 07:33] saiyadsalma commented on #5157
Any update? Same issue faced by me. When i tried to override controller
`<preference for="Magento\Checkout\Controller\Cart\Add" type="Trimantra\Override\Controller\Cart\Add" />
 `   and after deployment its not working.

[2016-12-07 07:55] flipflap opened #7709 "Checkout without address for configurable products with weight"
### Preconditions

1. Magento 2.0.1

### Steps to reproduce

1. Add a configurable product with weight
2. Add simple products to the configurable products, they all get virtual products. Unfortunately they don't get "this item has weight" from parents config product.

### Expected result

1. Now checkout skips address like checkout for virutal products

### Actual result

1. Checkout should take t

[2016-12-07 07:55] susantadas commented on #941
I want currency Symbol using currency code in magento 2. so any one help me?

[2016-12-07 08:29] chickenland opened #7710 "Custom theme doesn't apply XML layout updates when applied to a product"
I was looking to open this issue, but thought I'd try and find one before I did.  I think this issue is linked to #7503, but is manifesting is achieved in a different way

We have a theme that does not inherit, and it's XML updates appear to be ignored.

### Preconditions

    Magento 2.1.2, PHP 5.6.24
    Environment: Windows XAMPP / Windows WSL
    Developer Mode

### Steps to reproduce

Set the

[2016-12-07 09:30] vacre opened #7712 "Incorrect price on product page for configurable products in multi-currency store"
Preconditions
1. Magento CE 2.1.2 without sample data
2. PHP 7.0.13
3. MySQL Ver 14.14 Distrib 5.7.16, for Linux (x86_64) using  EditLine wrapper

Steps to reproduce
1. Create a configurable product with at least two options with different prices.
2. Activate at least two currencies for the store (Stores->Configuration->General->Currency Setup->Currency Options->Allowed Currencies).
3. Activate th

[2016-12-07 09:36] srbarba commented on #5332
Hello,
I have the same issue at 2.1.2

What I did to fix it temporary:
I added this lines

Into \Magento\Checkout\Controller\Cart\Delete::execute()
and \Magento\Checkout\Controller\Cart\UpdatePost::execute()

It forces Magento to refresh the shipping method to free shipping "false".
After that, Magento set the shipping method conveniently.

It can be done by plugin or pre-dispatch/post-dispatch ev

[2016-12-07 09:37] mosesmalone commented on #7171
Same problem here on Magento 2.1.2.
Any workaround to delete a term that's been created?
I'd like to remove it, but can't, because editing is not possible :)

[2016-12-07 09:39] schasiepen commented on #6929
Any update on this issue? Does somebody know, which SQL Query would be responsible for the error
"webapi-5840685d21343; Message: No such entity with orderId = 2" ?
I have to admit: I'm completly lost!

[2016-12-07 09:44] peterhirn commented on #7165
Turns out all modules were disabled. After running `magento module:enable --all` everything is working again.

[2016-12-07 09:45] mosesmalone commented on #7171
sorry, found the entry in the database.
Table "checkout_agreement".

[2016-12-07 10:05] woosley-mg commented on #6335
Hello all! Jason Woosley here, I run product and engineering for Magento.  First time poster, long time lurker.  Great feedback in this thread, please keep it coming -- it does make a difference.

Let me address what I can so far. While we have been working on the latest patches, we have also been working to improve our ability to release regularly and with more confidence. Specifically, I expect

[2016-12-07 10:15] #7676 closed, assigned to nobody

[2016-12-07 10:29] WinnerStore opened #7713 "Import customizable options Js Error"
Magento CE 2.1.1 without sample data is installed.

Versione Apache	2.4.23
Versione PHP	5.6.28
Versione MySQL	10.0.27-MariaDB-cll-lve
Architettura	x86_64
Sistema operativo	linux

**When I try import customizable options , I get the following error!**

if (this.elems().filter(function (el) {
                    return el.position;//this error
                }).length !== this.getChildItems().lengt

[2016-12-07 10:46] mosesmalone commented on #7171
I was able to fix it by changing **Line 302** in **/vendor/magento/framework/Data/Form/Element/AbstractElement.php** from
`return $this->_escape($value);`
to
`if(is_string($value)) {
            return $this->_escape($value);
        }`

don't know if this causes any other issues though :)

[2016-12-07 10:55] usuyukiso commented on #7317
Found out that the problem was in header content-length in file
   ` \Magento\Framework\App\Response\Http\FileFactory`
in method `create`
Temporarily fixed by making plugin for this method where I just deleted line with sending content-length header.

[2016-12-07 11:06] andidhouse commented on #6335
Hi Jason,

many thanks for your open words here first.

I can give you some feedback here on our experience so for and how in my view this can be improved.

**1. Bugtracking**
To track bugs here over GitHub makes sense - no question.
But in my opinion this makes only sense if the bugs are really solved in a timeframe and also this timeframe is communicated here. I also realized some bugs are close

[2016-12-07 11:06] U12358 commented on #7317
usuyukiso thanks, just in time !!!

[2016-12-07 11:34] harshadgoswami commented on #7671
Hi, @joni-jones  , I am testing it with sandbox account , Account type is business pro and merchant country is United Kingdom. is there anything missing ?

[2016-12-07 11:37] shakilagc opened #7714 "In magento 2.1.2, with Configurable product view page when i click on add to cart button with selecting color attribute , product is not adding to the cart and redirect to the same page."
### Preconditions

1. open any configurable product , on product detail page click on add to cart button
2. Message "You need to choose the options for your item" showing after clicking add to cart button

### Steps to reproduce

1. open any configurable product , on product detail page click on add to cart button
2. Message "You need to choose the options for your item" showing after clicking add

[2016-12-07 12:07] PascalBrouwers commented on #3507
@ksiamro sure. The only other threads I could find are: https://github.com/magento/magento2/issues/3900 (closed, status that it's fixed in 2.1 but obviously it's not) and https://github.com/magento/magento2/issues/6399 (open, but pretty old)

[2016-12-07 12:10] YevSent commented on #7671
You should have sandbox personal (buyer) account for testing.
To get more details, please, read
https://developer.paypal.com/docs/classic/products/website-payments-pro-hosted-solution/ and https://www.paypalobjects.com/webstatic/en_GB/developer/docs/pdf/hostedsolution_uk.pdf - they contain all needed information about integration with WPPHS.

[2016-12-07 12:13] gavinlimely commented on #7427
Also having this issue on Magento 2.1.2, does anyone have a fix?

[2016-12-07 12:29] ksiamro opened #7715 "Critical errors in system.log"
Hello,
This issue was 'resolved' in Magento 2.1.1 probably. eg #3507
It shows on clear project also.

### Preconditions
1. Magento v 2.1.2
2. PHP 5.6 also with PHP 7.0.8
3. mysql 5.7

### Steps to reproduce
1. open any page

### Expected result
1. no errors in var/log/system.log

### Actual result
small snip from system.log:

[code]

[2016-12-07 12:30] gelanivishal opened #7716 "magento 2: all form inputs cut in half in admin side"
I first noticed this bug on chrome canary and now occurs with the latest update to chrome beta. I have logged it as a bug to chrome, but wanted to get some additional input if this bug is indeed chrome related or is actually magento.

Chrome Version: Chrome/55.0.2883.75
![tugxx](https://cloud.githubusercontent.com/assets/12389799/20967542/0c257644-bca6-11e6-8e20-9a5703f640f8.png)

If I remove the

[2016-12-07 12:31] hpatelgit commented on #2933
Hello,

Yes @webspeaks i am also facing this issue into Magento latest ver. 2.1.2. It will work for first order but if you try same country and state with reorder it will gives error 'You can't use the payment type you selected to make payments to the billing country.' and in console it will show 'jquery.js:9666 PUT http://test.com/rest/default/V1/carts/mine/selected-payment-method 400 (Bad Reques

[2016-12-07 12:47] harshadgoswami commented on #7671
I do checkout as guest , where I am entering billing information only. I have no interface to add credit card in checkout page. In billing information i use my sandbox personal(buyer) email. Please check below link
[http://prntscr.com/dgfn37](http://prntscr.com/dgfn37)
[http://prntscr.com/dgfo7s](http://prntscr.com/dgfo7s)
After clicking continue button receive error as shown in below link. It red

[2016-12-07 12:57] WinnerStore opened #7717 "when I save the price of customizable options is rounded integer"
Magento CE 2.1.1 without sample data is installed.

Versione Apache	2.4.23
Versione PHP	5.6.28
Versione MySQL	10.0.27-MariaDB-cll-lve
Architettura	x86_64
Sistema operativo	linux

When I insert several customizable options and put on a fixed price for each one it is rounded down! example if I put the price 0.60(with dot) and upgrade it is ok, when reloading the page the price displayed is 0,60(with

[2016-12-07 13:16] brizido commented on #2931
This is a very important fix - when is this getting incorporated in one of the future releases?

[2016-12-07 13:58] quienti commented on #7427
I think it's fixed in develop branch with this commit: https://github.com/magento/magento2/commit/9515999f75fc728084079b8aae7ccc784cd8c1f3

[2016-12-07 13:58] quienti commented on #7168
I think it's fixed in develop branch with this commit: https://github.com/magento/magento2/commit/9515999f75fc728084079b8aae7ccc784cd8c1f3

[2016-12-07 14:13] czettnersandor commented on #555
I have an issue when implementing a finance extension which would normally require precision floats as the 3rd party system is very picky about it. As BCMath is not a Magento dependency, we can't use it and we have float conversion issues.

Now, we are converting to strings, which is not the best solution and bad for my sleep.

This works as expected for rounding down to 2 digits:

`$amount += int

[2016-12-07 14:30] maderlock commented on #6238
It's an easy fix - just add maxlength="255" (or whatever the maximum is) to the textarea. So it's odd that this has not been fixed as low hanging fruit.

[2016-12-07 14:39] nbjohan commented on #7527
This issue also occurs on 2.1.1 community

[2016-12-07 14:41] SchumacherFM commented on #6511
Same here

[2016-12-07 14:52] jfern01 commented on #7332
I'm with @JimDantin, how does Magento 2 support Chrome but not Chromium? That doesn't make any sense. I found another issue reporting the same problem, only on Chrome/Chromium: #7716

[2016-12-07 14:53] leonboot commented on #7527
I may be experiencing a related issue. Running the following code on a product catalog of 4 products, of which 2 products have an image and 2 products do not have an image, results in an empty set, while negating the query by using `['notnull' => true]` as a filter results in a set with both products that have an image.

[code]

When I add `->getSelectSql()` to the `create()` method, change the fi

[2016-12-07 14:58] jfern01 commented on #7332
After digging a bit more, it looks like this is a bug in Chromium: #7155

[2016-12-07 15:06] Jrb1x commented on #7690
You may need to run `catalog:images:resize` and then clear your cache.

[2016-12-07 15:18] JimDantin commented on #7332
I just posted a comment on the Chromium bug tracker. The **only** place where I see the problem, however, is the Magento Dashboard.

[2016-12-07 15:18] southerncomputer commented on #6929
@schasiepen do you have the other sequence tables for invoice/shipments/creditmemo's? and meta tables (see my higher up post for list of tables!) sales_sequence_profile && sales_sequence_meta along with the tables for sequence_invoice/shipment/creditmemo?

[2016-12-07 16:11] frostshoxx opened #7718 "Bundle Product Show Incorrect Price if Bundle option has quantity more than 1 by default"
### Preconditions

1. Magento version 2.1.2
2. PHP 7.0.11
3. MySQL 5.6

### Steps to reproduce

1. Create a bundle product.
2. Set base price 0.
3. Add some bundle option. For example, 1 drop down option with $10 product A, 2nd drop down option with $5 product B with default quantity of 4.

### Expected result

1. In theory, the default price should be $0 + $10 + (4x $5 = $20) = $30 and that show

[2016-12-07 16:18] nobuttsalex commented on #2705
Edit: Sorry I meant 2.1.2

Edit 2: Found the solution, should have been 80 in config and not 8080 and 127.0.0.1 wasn't enough, had to put the domain name in and have a record for each website

I'm experiencing the same problem in 2.1.1. I'm using nginx for ssl termination on 443, apache on port 8080 serving Magento 2 and varnish on port 80. I have the following entry in env.php

'http_cache_hosts'

[2016-12-07 17:13] H3dz opened #7719 "Payflow Authorization currency missing"
The currency is missing when doing an Authorization with Payflow.

The currency setting was already missing in other places and was fixed by @kriby in
https://github.com/magento/magento2/commit/337c63c438a511a8e4aa95508ebb4849057d1be5
and was merged into the develop branch
https://github.com/magento/magento2/commit/152dbdcac63f976aa7b69ae619693839427bb2ee

but it seems that the Authorization code

[2016-12-07 18:04] ktruehl commented on #6412
Oh, yes. I'm sorry. The relevant code is in `\Magento\SalesRule\Model\Rule\Condition\Product\Found`, not in `\Magento\SalesRule\Model\Rule\Condition\Product\Combine`.

[2016-12-07 18:53] Silarn commented on #7612
The problem (with saving, anyway) is that there's no way to configure which store scope to use with the current API code.

Line 513 of \Magento\Catalog\Model\ProductRepository in save():
$productDataArray['store_id'] = (int)$this->storeManager->getStore()->getId();

Magento always just gets the current frontend store_id when saving the product data. There's no way to pass in the desired store - or

[2016-12-07 19:01] tdittmar commented on #7612
So why is it different for create (POST) and update (PUT)? If it just used
the same id every time...

Am 07.12.2016 7:54 nachm. schrieb "Jeremy Rimpo" <notifications@github.com>:

[2016-12-07 19:09] Silarn commented on #7612
Not completely clear. Both methods resolve to the same save() function, but there are slightly different methods called if it's a new product. (Both methods can update existing products, and POST has the same issue when updating products.) Perhaps the data for a new product is just being saved globally instead of for a specific scope, which could be a different bug in itself. Most likely this coul

[2016-12-07 19:18] cvpportraits commented on #7631
so I have reinstalled Magento, And narrowed the issue to a new theme which is a copy of Luma per this article's instructions.... the error only happens when using this. - is there any way of using luma as a base and not having this problem, here's the article I followed:

dckap.com/blog/creating-magento-2-theme

[2016-12-07 20:37] AirmanAJK commented on #7422
This is a bug in the file "\vendor\magento\module-gift-message\view\frontend\web\js\model\gift-message.js" at Line 131:

return itemConfig.hasOwnProperty('is_available') ? itemConfig['is_available'] : isGloballyAvailable;

This logic gives priority to individual items wanting to show a gift message over the global option. It should be the other way around. Here is my proposed fix:

return isGlobal

[2016-12-07 20:39] qbo-tech commented on #5948
We totally agree with @immist

The community has found 2 major bugs on your configurable products (#6799 and #5762), 1 crashing the entire catalog, and the other one not handling configurable options stock properly. It is hard to think that we have to look for third party extension or in-house development to overcome these issues.

@magento-admin @magento-team : when can we expect for you to  atte

[2016-12-07 21:49] itaymesh opened #7720 "Product Repository saves attribute values for existing product always on "Default Store Level""
### Preconditions

1. Magento 2.1.2
2. PHP 7
3. Mysql 5.6

### Steps to reproduce

1. Create a CLI command to create/update a production
2. Execute the comment (new product)
2. Execute the comment (update product)

### Expected result

1. New Product: values are saved on "All Store Views"
1. Update Product: values are saved on "All Store Views"

### Actual result

1. New Product: values are saved

[2016-12-07 22:36] ghost commented on #5319
We had a recurrence of this issue with a client and, as @hendywijaya recommended, were unable to find a packaged 2.2.0 branch of PHP-Pecl-Memcached for PHP7 (without compiling). In order to resolve this issue we decided to implement Redis for session storage [using the Magento 2 docs](http://devdocs.magento.com/guides/v2.0/config-guide/redis/redis-session.html). The issue has not recurred since sw

[2016-12-07 23:09] H3dz opened #7721 "Payflow Payment error message unused. An error occurred on the server."
When using Payflow to make a payment if the transaction fails the error message will always be
An error occurred on the server. Please try to place the order again.

### Preconditions
1. Magento version 2.1.2
2. PHP 7.0.11
3. MySQL 5.6

### Steps to reproduce
1. Configure Payflow
2. Make a purchase with an invalid credit card

### Expected result
1.  The message displayed should be "Transaction ha

[2016-12-08 00:19] PaperDS commented on #5853
Any chance of full path of where to place these 2 template files. Just trying to get to grips with custom theme here.

[2016-12-08 00:32] jmtakahashi commented on #5853
@PaperDS If your just wondering where to put those downloaded files, and not about the JS issue, this question is probably better suited for [Stackexchange](https://magento.stackexchange.com):

But here you go, reply when you see this, so I can delete this comment, as it doesn't pertain to the issue at hand:

view.xml
`Magento Install Dir -> app -> design -> frontend -> YourCustomThemeMaker -> You

[2016-12-08 00:40] roseofgold commented on #7588
New to Magento and having this issue. Does the code you have posted under expected result give you the expected outcome? If so, where would I put it in CE 2.1.2 so that it doesn't get written over?

[2016-12-08 02:11] crantron commented on #2056
Same issue here, magento 2.1.2. Having to resort to a CSS :After content solution, for something permanent. please fix.

[2016-12-08 02:16] sitepodmatt commented on #7525
Rebasing our work on top of develop we can get this to work finally. The json file is now generated:
pub/static/frontend/Acme/acme_luma/en_GB/js-translation.json

@artis-ozolins setup-static step not necessary in developer mode once you clear pub/static and var/ directories.

FYI, We use an app/i18n language pack so can't comment on theme level translates

[2016-12-08 04:03] PaperDS commented on #5853
@jmtakahashi Ok thanks. Sorry about that.

[2016-12-08 04:31] dnadle commented on #6925
Please reopen this. It is a fact that setting Maximal Depth -> 1 in v 2.1.2 does not prevent multiple menu levels from displaying. Also it looks like the original post was edited to conform to your guidelines.

[2016-12-08 05:18] deepak-netwin commented on #7694
@quienti Thanks for your reply.
But this doesn't fix my issue. It still showing error messages on all pages and not disappearing automatically.
Is there any setting at backend OR any other file I need to check/update.

[2016-12-08 07:03] ihor-sviziev commented on #7716
https://github.com/magento/magento2/issues/7155

[2016-12-08 08:34] StephaneMangin commented on #7592
Edit:

It appears that level0 common variables do not work. but desktop version does.

//
//  Navigation variables -> No effect
//  _____________________________________________
@navigation-level0-item__font-size: 0.9em;
@navigation-level0-item__active__border-color: black;
@navigation-level0-item__active__border-style: solid;
@navigation-level0-item__active__border-width: 0 0 0 4px;
@navigation-l

[2016-12-08 09:17] elvinristi commented on #5146
Getting same issue. Trying to do full reindex from CLI towards Elasticsearch. When Xdebug extension is disabled then it gives

    Segmentation fault

with strace last rows:

    poll([{fd=15, events=POLLIN|POLLERR|POLLHUP}], 1, 1471228928) = 1 ([{fd=15, revents=POLLIN}])
    recvfrom(15, "5.0000\22\0\0\10\006171517\003232\0060.0100\23\0\0\t"..., 482, MSG_DONTWAIT, NULL, NULL) = 482
    poll([{fd=

[2016-12-08 09:18] RoAndrei commented on #7702
Hi. Thanks.
 Changed the id, but then was not able to change the other store view's theme.. ended up adding the same theme with two different id's in the theme table and this fixed it.

[2016-12-08 09:18] #7702 closed, assigned to nobody

[2016-12-08 09:57] sidealice commented on #5309
same problem and fixed( using  Asia timezone, web installation and install use domain with non default port)

first step:
find "admin/security/session_lifetime" in table core_config_data.
if not exist create one and set value to 86400

second step:
clean cache (remove var/cache)

login and fix

[2016-12-08 10:01] sidealice commented on #5383
Should this added to Unit Test with a test case?

[2016-12-08 10:15] cduperron opened #7722 "Last Compared Products widget not displayed"
### Preconditions

1. Magento 2.0.7

### Steps to reproduce

1. Create a new CMS page
2. Insert the Last Compared Products widget inside
3. Compare two products in front-office by clicking on the compare button
4. Go to the CMS page which contains the widget

### Expected result

1. Last Compared Products widget is displayed in front-office into the CMS page

### Actual result

1. Nothing is displ

[2016-12-08 10:26] skamnev commented on #3922
It still shows up with 'processing' status and does not look like correct behavior. Virtual products orders are automatically invoiced and does not need to be shipped so they should be automatically marked as 'complete' but they do not.

[2016-12-08 10:35] mveldhuizen opened #7723 "Catalog rule contains-condition not saving multiple selection in 2.1.2"
### Preconditions
1. Magento version 2.1.2
2. Installed default sample data

### Steps to reproduce
1. Add new catalog price rule
2. General information doesn't seem to matter
3. Add contains-condition with multiple options
4. Example: Climate contains Spring, Warm
5. Save the rule

### Expected result
1. POST should contain both values for example:
`rule[conditions][1--1][type]:Magento\CatalogRul

[2016-12-08 10:35] ktruehl opened #7724 "Checkout: ZIP code in shipping address form already validated on page load"
When loading the checkout page and no shipping address has been saved yet (for example during guest checkout), the ZIP code field will already show as having failed the validation ("this is a required field") without any user interaction.

### Preconditions
1. Magento CE 2.1.1

### Steps to reproduce
1. make sure no user is logged in
2. put articles into cart
3. proceed to checkout

### Expected r

[2016-12-08 10:36] orderofwigs commented on #7579
hey, i have the same problem. i think it is related to migrated attribute set from an older magento version. please let us know if you found out any fixes or specific causes?
thanks

[2016-12-08 10:39] SerhiyShkolyarenko commented on #5332
@srbarba to fix and make sure it works we need steps to reproduce. Could you please provide the steps?

[2016-12-08 10:57] hornofj commented on #3827
This moves the whole summary
` <move element="cart.summary" destination="checkout.cart.items" after="checkout.cart.form"/>`

[2016-12-08 11:04] maxwhite-ua commented on #3176
Hi,
Thank you @tkn98 for your question.

Magento is continuously evolving system. The next goal is eliminate abstract classes (super types) and use API interfaces instead.  In near future `Magento\Framework\View\Element\AbstractBlock` cease to be required and we will use `Magento\Framework\View\Element\BlockInterface` or similar interface instead. This is major backward incompatible change and wil

[2016-12-08 11:54] alexpoletaev opened #7725 "Incorrect sitemap link in the admin panel"
Magento uses base url from the default website for the 'Link for Google' in the admin panel (sitemap grid) for the generated sitemap.xml file.
### Preconditions

1. Multistore Magento instance (CE v2.1.0)

### Steps to reproduce

1. Generate sitemap.xml file for each store in the admin panel

### Expected result

1. Each 'Link for Google' has its own url

### Actual result

1. Each 'Link for Googl

[2016-12-08 11:57] TommyKolkman commented on #7714
I've had this before. My simple product was out of stock then - checked that one?

[2016-12-08 12:07] tkn98 commented on #3176
+1 for having an interface instead. IMHO you can keep abstract classes, more important looks to type-hint the interface for method parameters. When then the abstract class implements the interface, it does indeed works for me :)

[2016-12-08 12:16] sichensol opened #7726 "Error after save product with custom attribute"
### Preconditions
1. Magento 2.1.2 EE and CE
2. PHP 7.0.13
3. MySQL 5.7
4. nginx 1.10
5. ubuntu 16.04

### Steps to reproduce
1. Log in to the Magento backend.
2. Select Stores > Attributes > Product in the main navigation.
3. Click the Add New Attribute button.
4. Enter an attribute label, for example: Flavor.
5. Select the tab Frontend Properties.
6. Set Visible on Catalog Pages on Frontend to Y

[2016-12-08 12:41] cizgidekiadam commented on #7617
Problem is just about visual swatch options. All of other things related images working fine.

Any update ?

[2016-12-08 12:45] hpatelgit commented on #7383
Any fix for this issue?

[2016-12-08 13:36] YevSent commented on #7721
Hi, @H3dz, this is expected behavior. Magento payment solutions don't provide specific information about fails, only global messages.

Developer or merchant can find more information about fail in log, but customer should not see this details.

[2016-12-08 13:36] #7721 closed, assigned to nobody

[2016-12-08 13:42] karmickdev opened #7727 "swatch color not selected when editing product from cart"
Hi I am using Magento 2. I have added color swatch for a configurable product. After adding that product into cart, when I clicked on "Edit Product", I am redirecting to product details page with selected attributes but color is not selected there.

[2016-12-08 13:44] djfordz commented on #6401
Setting the http_resp_hdr_len to an absurdly large number, 68000000000, in varnish.conf happened to fix all my frontend 503 issues due to this issue.

add this to your /etc/varish/varnish.conf config `-p http_resp_hdr_len=68000000000`

[2016-12-08 13:54] YevSent commented on #7719
Hi, @H3dz, thanks for reporting.

This issue (internal ticket MAGETWO-58376) is already fixed on develop branch and fix will be available in Magento 2.1.4 version.

Some notes: the `\Magento\Paypal\Model\Payflowpro::authorize` is not using for authorization the `\Magento\Paypal\Model\Payflow\Transparent::authorize` is used instead (the issue has been fixed in this method).

[2016-12-08 14:08] alessandrozucca opened #7728 "Banner Rotation not getting applied"
Version Used: Magento EE 2.1.2

I have migrated (using the data-migration-tool) several Banner Rotation Widgets from M1 EE to M2 EE for a client.

We are facing an issue with the `rotation mode` not being taken into account. So if a Banner has 4 images and we have selected `rotation` `random` we would expect only 1 banner to appear for that widget. Instead, all are getting displayed.

I've looked

[2016-12-08 14:28] Corefix commented on #7714
Yep this is a problem, i tracked down the issue to this commit:

https://github.com/magento/magento2/commit/08079204d7b669d8f3069db3dc7c47e85354c31a#diff-399a85a40d4acb52d7fd1cb0b79b9d0a

When asking for a configurable products children, we are no longer getting a list filtered by stock because this was added:

->setFlag('has_stock_status_filter', true)

I would hope someone from Magento or the co

[2016-12-08 14:43] PaperDS commented on #5266
So will this fix be included in upcoming v2.1.3 expected in next two weeks I wonder.
Tired of seeing 3 month old statements:
"This issue is already fixed in develop.Internal ticket for 2.1 - MAGETWO-xxxxx"
on every major bug here.

[2016-12-08 14:46] nmallepally commented on #7675
@wert2all @orlangur Did run it again after giving it 4G , again same error
Enabled maintenance mode
Starting compilation
Compilation was started.
%message% 0/7 [>---------------------------]   0% 1 sec 40.0 MiB%message% 0/7 [>---------------------------]   0% 1 sec 40.0 MiBProxies code generation... 0/7 [>---------------------------]   0% 1 sec 40.0 MiB
Proxies code generation... 1/7 [====>-------

[2016-12-08 15:16] parksdesign commented on #5642
I can confirm I'm having the same problem with the “spinning-wheel” and the bigger problem of the Attention pop-up “Sorry, but something went wrong. Please contact the seller.”

(PHP 7, Magento 2.1.2)

I'm working on getting the site a SSL/https, getting the business validated through Comodo, but the business is not on Dun & Bradstreet(dnb.com) or bbb.org. So, it's taking a couple of days.

The pr

[2016-12-08 15:20] srenon commented on #4745
@will-b

I had a similar issue trying to add an image upload field to my admin category

What seem to work is creating a Plugin for `afterGetData`

Example:

etc/di.xml

[code]

MagePal\CategoryMenuImage\Plugin\Catalog\Model\Category\DataProvider.php

[code]

All you need to do is to figure out is how to format the data that you need

[2016-12-08 15:21] brianschroeter commented on #5642
Hello,

Can you verify that Magento is updating the order status, and emailing the
customer? In my case, it was not.

On Thu, Dec 8, 2016 at 10:17 AM parksdesign <notifications@github.com>
wrote:

[2016-12-08 15:37] KrystynaKabannyk commented on #7467
Hello @marcel-moldovan-vm, could you please create a pull request for your issue? It will accelerate the fix of the issue.

[2016-12-08 15:45] ghost commented on #7467
Dear @KrystynaKabannyk , I created an issue because I wanted to quickly report it, due to no time to create a PR.

[2016-12-08 15:47] hezide commented on #4409
i am also having this issue in 2.1.2

[2016-12-08 15:54] SerhiyShkolyarenko commented on #5963
@Ctucker9233 commits are 421ded5 and d3853ae. These changes were not tested on v.2.1.x.

[2016-12-08 15:56] H3dz commented on #7719
Hi @joni-jones  it's strange because it only started to work when I updated `\Magento\Paypal\Model\Payflowpro::buildBasicRequest `

But I did cherry pick a lot of code from the develop branch to make my current installation work.

I'll re-open this issue if the problem persists in 2.1.4.

Thanks

[2016-12-08 15:56] #7719 closed, assigned to alena-marchenko

[2016-12-08 15:57] sneakingJ commented on #5882
@rganin Could you please give us feedback in which future version this will be officially fixed?

[2016-12-08 15:59] YevSent commented on #7719
`\Magento\Paypal\Model\Payflow\Transparent::authorize` uses `\Magento\Paypal\Model\Payflowpro::buildBasicRequest` here's why it's working for you.

[2016-12-08 15:59] sneakingJ commented on #4184
@antonkril Are there any news on this? When will version 2.1.4 come out?

[2016-12-08 16:18] SahakTadevosyan commented on #5811
I tried @mmansoorebay solution, but it is not working for me. Any suggestion for this ?

[2016-12-08 16:32] MomotenkoNatalia commented on #3176
@tkn98 Thank you for your submission!
Do you want keep the topic or we can close it?

[2016-12-08 16:43] SerhiyShkolyarenko commented on #6911
@Ctucker9233 sorry, it was wrong info. MAGETWO-55184 IS devilered to 2.1.3 branch too. So, you'll see it soon.

[2016-12-08 16:58] andidhouse commented on #6018
we give it up on the native photorama implementation due to:

- problem with mobile devices and scrolling issue
- extreme long load times of the script compared to for example magic zoom
- some other small bugs and in general poor implementation of the script at this moment

Magic zoom works like a charm and has a great support fixing bugs in minute not years.

[2016-12-08 16:58] andidhouse commented on #5853
we give it up on the native photorama implementation due to:

- problem with mobile devices and scrolling issue
- extreme long load times of the script compared to for example magic zoom
- some other small bugs and in general poor implementation of the script at this moment

Magic zoom works like a charm and has a great support fixing bugs in minute not years.

[2016-12-08 16:59] andidhouse commented on #5302
we give it up on the native photorama implementation due to:

- problem with mobile devices and scrolling issue
- extreme long load times of the script compared to for example magic zoom
- some other small bugs and in general poor implementation of the script at this moment

Magic zoom works like a charm and has a great support fixing bugs in minute not years.

[2016-12-08 17:04] olysenko commented on #7425
Hi, thank you for your report. I saw in the history of commits [Magento/Bundle/etc/product_types.xml](https://github.com/magento/magento2/blob/2.1/app/code/Magento/Bundle/etc/product_types.xml)  and notice that in allowedSelectionTypes node existed only simple and virtual  product types from the beginning of Magento2.  It means that downloadable products were not available for bundle option select

[2016-12-08 17:04] #7425 closed, assigned to nobody

[2016-12-08 18:12] tim-reynolds commented on #2417
@maksek I would ask that this possibly be reopened. I am having this issue. Specifically with regard to the system generating information for the interface \Magento\Sales\Api\ShipOrderInterface.php

The error they are having is caused by the parameters to the execute function (for parameter $items, although the issue also lies with $tracks and $packages).

We are currently running on :
Magento 2 E

[2016-12-08 18:15] tim-reynolds commented on #2417
I added a piece of output code to my test case, to output the files using json_encoding so I could see exactly what the characters used are...

This is an issue of \r\n vs \n in the file in question. SIGH.

I would suggest updating the regular expression to include an optional \r

So line 558 in magento2/vendor/magento/framework/Reflection/TypeProcessor.php goes from:
`$pattern = "/\@param\s+([\w\

[2016-12-08 18:26] crantron commented on #4067
same
2.1.2

[2016-12-08 18:30] Ctucker9233 commented on #7560
@shahankitb997 I've got nothing. I'm actually not affiliated with Magento so I have no way of knowing.

[2016-12-08 18:34] Ctucker9233 commented on #5762
@shiftedreality Is this fix safe as is for a 2.1.2 production environment with a live website or do some modifications need to be made?

[2016-12-08 18:35] imgali commented on #5762
We tested with 2.1.2 CE in production environment and it worked perfectly.

From: Ctucker9233 <notifications@github.com>
Reply-To: magento/magento2 <reply@reply.github.com>
Date: Thursday, December 8, 2016 at 1:34 PM
To: magento/magento2 <magento2@noreply.github.com>
Cc: Ali Ahmed <ali@imaginemage.com>, Comment <comment@noreply.github.com>
Subject: Re: [magento/magento2] Magento EE 2.1.0 'Configur

[2016-12-08 18:47] Ctucker9233 commented on #7427
@quienti Do you know how safe (i.e it won't break the build) this commit is for a 2.1.2 production environment with a live website?

[2016-12-08 18:49] Ctucker9233 commented on #6238
@maderlock what file and line does this code go in?

[2016-12-08 19:21] Ctucker9233 commented on #6911
@SerhiyShkolyarenko Excellent.

[2016-12-08 20:32] heyqule opened #7730 "getSize() of product collection returns incorrect value after applying addAttributeToFilter()"
The pagination became incorrect.  For example, The pagination would show 10 page when there are only 3 pages of product on product listing page.

### Preconditions
Magento version 2.1.2

### Steps to reproduce
1. Create a frontend plugin for product collection's load function, beforeLoad()
2. Add a new addAttributeToFitler() to $subject
3. get the value of getSize()

### Expected result
1. the get

[2016-12-08 20:43] twistedindustries commented on #5959
Same thing if you get a declined transaction using something with authorize.net when the page reloads the address is missing.

[2016-12-08 22:18] hezide commented on #7095
any idea about this? it's very important...

[2016-12-08 22:36] jhbowser commented on #7670
This is in Magento core code, already within an try-catch block.
vendor\magento\module-fedex\Model\Carrier.php
try {
                $client = $this->_createRateSoapClient();
                $response = $client->getRates($ratesRequest);
                $this->_setCachedQuotes($requestString, serialize($response));
                $debugData['result'] = $response;
            } catch (\Exception $e

[2016-12-08 22:47] hewgim opened #7731 "No Store View Switcher on Backend Product Grid"
Magento 2.1.2

There is no store switcher on the Magento 2 product grid, which means that you can't easily see your product data for each store.

Goto to Products -> Catalog. There is no store switcher in the top left corner of the screen.

I manually added a store switcher by adjusting the layout files. This adds ..../store/3 for example to the end of the product grid urls, but the product grid s

[2016-12-08 23:35] Elsa3dy commented on #5762
@imgali Please how to make this change develop branch 1e78fe2  i copied all files in same paths but not working is this is the right way?

[2016-12-09 01:00] jmtakahashi commented on #5853
@paperds no problem!!!

[2016-12-09 01:56] shahankitb997 commented on #7560
Thanks. @Ctucker9233 for reply.

HI @veloraven any updates?

[2016-12-09 02:31] ooples commented on #4365
This is what I see when I enable html minify
![html_minify_error](https://cloud.githubusercontent.com/assets/3075685/21035519/58c68774-bd85-11e6-84ee-2e21184e6732.png)

[2016-12-09 03:07] joey-j commented on #5157
@xmav how do we check the updates of the internal ticket MAGETWO-57704. Is there a different thread were this issue been discussed?

[2016-12-09 03:32] eldonbite commented on #7657
Some updates: apparently changing certain Varnish parameters won't help. It's actually due to the maximum header size supported by Apache, which is 8KB:

http://stackoverflow.com/a/8623061

To ensure that having a huge number of configurable products in a product listing page works when Varnish is enabled, it's best to limit the size of the header to the said length (8190 bytes):

http://stackover

[2016-12-09 03:37] Elsa3dy commented on #6799
@nmallepally Please can you share with me what exactly you did?

[2016-12-09 03:56] zchking commented on #4506
Magento2.1.2 get 6M+ js file after merging,  any update now？

[2016-12-09 04:00] ooples opened #7732 "import not working on magento 2.1.2"
### Preconditions

1. magento 2.1.2
2.

### Steps to reproduce

1. I have a csv file that I upload like normal
2. I check the data and I import the file

### Expected result

1. To see the products imported into the inventory

### Actual result

1. No error messages in the log and the import report shows 0 products added
![import_nothing](https://cloud.githubusercontent.com/assets/3075685/21037195

[2016-12-09 04:44] deepak-netwin commented on #7694
Hey, anyone from Magento team?

[2016-12-09 05:01] pavelshulga commented on #7447
@SerhiyShkolyarenko more detailed description will be provided this weekend.

[2016-12-09 06:41] deepak-netwin commented on #7694
I'm really stuck into this. Any help would be appreciated. Thanks!

[2016-12-09 07:14] tkn98 commented on #3176
@MomotenkoNatalia: It's fine for me to keep it open until Interfaces are implemented for this abstract class and the typehint is intorduced (I think that covers your planned feature).

[2016-12-09 07:19] wert2all commented on #7675
@nmallepally  Can you try to deploy the first locale and second after that.

[2016-12-09 07:42] jasonheecs opened #7733 "TinyMCE editor does not allow "%" character"
### Preconditions

Using custom Ubuntu xenial vagrant-box, php7, apache

Have develop branch of Magento 2 installed.
Install sample data (sampledata:deploy).

### Steps to reproduce

Log into admin
Navigate to PRODUCTS >> Inventory >> Catalog
Filter the list by name: "Breathe-Easy Tank"
Select the product that has that exact name (should be last in the list)
In the editor form open up: Content >>

[2016-12-09 07:54] cizgidekiadam commented on #7624
@olysenko It just classical usage of catalog price rules.

- Create a rule based on attribute set
- Apply it.

<img width="1065" alt="rule_attribute_set" src="https://cloud.githubusercontent.com/assets/4427628/21041534/488dac88-bdf4-11e6-8792-54e939d79b1e.png">

Actually rule is working on all type of products.
For simples, discounted prices shown on all areas (listing, search, view etc..)
But con

[2016-12-09 08:11] #5871 closed, assigned to antboiko

[2016-12-09 08:15] YevSent commented on #7670
Yes, but this code doesn't catch soap exceptions, that's why I wrote options for `SoapClient`.

[2016-12-09 08:50] joachimVT opened #7734 "Unable to override Fulltext\Collection in module et/di.xml"
### Preconditions

1. Magento 2.1.1
2. Using Ubuntu/trusty64 vagrant-box, php7, apache

### Steps to reproduce

1. Add a new custom module
2. Update etc/di.xml in your custom module
[code]
3. Add new Collection.php file and override _renderFiltersBefore() method
[code]
4. clear cache
5. Make a search request

### Expected result

1. The search request should stop and show 'stopping here' on the sc

[2016-12-09 09:04] andreaschiffo commented on #5352
same problem here on 2.1.0, workin on Store View scope

what i notice is
logo is uploaded into pub/media/tmp/design/file/
logo is saved into pub/media/logo/stores/1/
logo is read -in admin backend- from pub/media/email/logo/stores/1/
logo is read -in email- from
pub/static/frontend/Vendor/Module/en_US/Magento_Email/
(default Magento logo is used, because custom logo is not found)

solved copying t

[2016-12-09 09:05] vzabaznov commented on #7673
Hi @imgali please fell free to create PR for this

[2016-12-09 09:10] vzabaznov commented on #3564
closed as we don't receive update more than 2 week, and all technical details was provided to customer

[2016-12-09 09:10] #3564 closed, assigned to nobody

[2016-12-09 09:12] #7684 closed, assigned to nobody

[2016-12-09 09:18] vzabaznov commented on #7471
closed as we don't receive update more than 2 week, @sam-g-roberts please feel free to write here/reopen or to open new issue

[2016-12-09 09:18] #7471 closed, assigned to nobody

[2016-12-09 09:18] vzabaznov commented on #7487
closed as we don't receive update more than 2 week, @dreucifer please feel free to write here/reopen or to open new issue

[2016-12-09 09:18] #7487 closed, assigned to nobody

[2016-12-09 09:18] vzabaznov commented on #7489
closed as we don't receive update more than 2 week, @Rasmussim please feel free to write here/reopen or to open new issue

[2016-12-09 09:18] #7489 closed, assigned to nobody

[2016-12-09 09:18] olysenko commented on #7397
Hi, thank you for your report. In [#5541comment](https://github.com/magento/magento2/issues/5541#issuecomment-249501943) was described the correct solution. You should use di.xml to replace  the default pattern with your pattern. Closed. Feel free to reopen issue if described solution doesn't work for you

[2016-12-09 09:18] #7397 closed, assigned to nobody

[2016-12-09 09:18] vzabaznov commented on #7492
closed as we don't receive update more than 2 week, @Naxon please feel free to write here/reopen or to open new issue

[2016-12-09 09:18] #7492 closed, assigned to nobody

[2016-12-09 09:19] vzabaznov commented on #7494
closed as we don't receive update more than 2 week, @user3748173 please feel free to write here/reopen or to open new issue

[2016-12-09 09:19] #7494 closed, assigned to nobody

[2016-12-09 09:19] vzabaznov commented on #7501
closed as we don't receive update more than 2 week, @rramiii please feel free to write here/reopen or to open new issue

[2016-12-09 09:19] #7501 closed, assigned to nobody

[2016-12-09 09:19] vzabaznov commented on #7523
closed as we don't receive update more than 2 week, @coreshplease feel free to write here/reopen or to open new issue

[2016-12-09 09:19] #7523 closed, assigned to nobody

[2016-12-09 09:19] vzabaznov commented on #7531
closed as we don't receive update more than 2 week, @kiutisuperking please feel free to write here/reopen or to open new issue

[2016-12-09 09:19] #7531 closed, assigned to nobody

[2016-12-09 09:19] vzabaznov commented on #7535
closed as we don't receive update more than 2 week, @jalogut please feel free to write here/reopen or to open new issue

[2016-12-09 09:19] #7535 closed, assigned to nobody

[2016-12-09 09:19] vzabaznov commented on #7542
closed as we don't receive update more than 2 week, @ludovicpages please feel free to write here/reopen or to open new issue

[2016-12-09 09:19] #7542 closed, assigned to nobody

[2016-12-09 09:20] vzabaznov commented on #7545
closed as we don't receive update more than 2 week, @fvschie please feel free to write here/reopen or to open new issue

[2016-12-09 09:20] #7545 closed, assigned to nobody

[2016-12-09 09:26] webkulabhi commented on #3625
same issues here :(

[2016-12-09 09:32] xmav commented on #5157
@kaiSer007 github issue will be closed once internal ticket fixed

[2016-12-09 09:37] PascalBrouwers opened #7735 "Cannot save product because of required attribute within Advanced pricing but no validation errors shows"
### Preconditions
1.  Magento 2.1.2
2. PHP 7.0.12
3. MySQL 5.7.16

### Steps to reproduce
1. Create an attribute that is required (For me this is attribute 'inkoopprijs'):
![bug_product_save_attribute](https://cloud.githubusercontent.com/assets/17834386/21044085/79873268-bdfa-11e6-8028-031cef7894b6.png)

2. Add the attribute to the Pricing group in an attribute set. (For me this is attribute set '

[2016-12-09 09:39] alexgoodey commented on #7665
Ok, further investigation shows the critical part is persistent cart needs to be enabled. Steps to reproduce:

1. Install a clean Magento 2.1.2 install with sample data
2. Set "Enable Persistence" to Yes in the Magento Config section "Persistent Shopping Cart" (leave other settings as default.
3. Flush Caches
4. On the frontend, create a new account and leave the "Remember Me" tickbox checked
5. A

[2016-12-09 10:10] nmallepally commented on #7675
@wert2all  How do i do it? It does it automatically.
when i run the command for production. it takes en_GB first and en_US second, how can i change it.

[2016-12-09 10:14] therool commented on #7171
I encountered the same issue on magento 2.1.0 and found that the issue lies withing https://github.com/magento/magento2/blob/develop/app/code/Magento/CheckoutAgreements/Block/Adminhtml/Agreement/Edit/Form.php#L139. Megento expects that the value of hidden field is string but existing aggreement stores property is always array containing all the store ids it it associated with and is overwrites the

[2016-12-09 10:19] phucdh57 commented on #3139
Hi, I've not fixed in logic code of Magento Swatches, but I found in eav_attribute_option_swatch table
which like as below
+-----------+-----------+----------+------+---------+
| swatch_id | option_id | store_id | type | value   |
+-----------+-----------+----------+------+---------+
|        11 |         9 |        0 |    1 | #000000 |
|        12 |        10 |        0 |    1 | #ff05ff |
|

[2016-12-09 10:20] andreaschiffo commented on #5352
i can confirm that in M2.1.2 the logo is still saved under pub/media/logo/stores/1/ instead of pub/media/email/logo/stores/1/ wich is the path that the logo is read from, both in email and in backend

[2016-12-09 10:44] ghost opened #7736 "can not reindex and can not popup to see system faults"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2016-12-09 10:57] vzabaznov commented on #7365
Hi @jameswithers , close this issue as we don't receive update for more than 2 weeks, please feel free to write here or reopen current / create new issue

[2016-12-09 10:57] #7365 closed, assigned to nobody

[2016-12-09 10:57] vzabaznov commented on #7482
Hi @afrinnusrat , close this issue as we don't receive update for more than 2 weeks, please feel free to write here or reopen current / create new issue

[2016-12-09 10:57] #7482 closed, assigned to nobody

[2016-12-09 10:58] vzabaznov commented on #7517
Hi @Matt-OBell , close this issue as we don't receive update for more than 2 weeks, please feel free to write here or reopen current / create new issue

[2016-12-09 10:58] #7517 closed, assigned to nobody

[2016-12-09 10:58] vzabaznov commented on #7518
Hi @srinivasanithin , close this issue as we don't receive update for more than 2 weeks, please feel free to write here or reopen current / create new issue

[2016-12-09 10:58] #7518 closed, assigned to nobody

[2016-12-09 11:10] cizgidekiadam commented on #7624
In addition it may be related with [#6080](https://github.com/magento/magento2/issues/6080)
Our configurables prices are 0. Catalog price calculating by totals of selected attributes (child prices).

[2016-12-09 11:21] olafc100 commented on #5352
@andreaschiffo
Thanks for your research and feedback. I use M2.1.2 and I fully understand what your are saying but the image will not show.
I don't have a stores folder but it is websites or default. There rest of the path is the same. Is stores required?
I use a .svg or a .png file. Do you give image size parameters in the backend?

It is an annoying little issue that makes every transactional em

[2016-12-09 11:23] KishorkumarKar opened #7737 "Event catalog_product_collection_load_before no longet exist"
Hi
I need to use **catalog_product_collection_load_before** to filter my product in front end by this event doesn't exist but it was in **1.X** how overcome this.
Thanks
Kishor

[2016-12-09 11:38] sidealice opened #7738 "Add 'article' to container element 'HtmlTag' attribute"
Magento2.1 version:732d445
I think 2.1 stable and similar should also affected.

With following layout :
`<container name="mainOuter" label="Main Outer Content Container" htmlTag="div" htmlClass="weui-tab__panel" />`

Got exception:

If I change Magento/Framework/View/Layout/etc/elements.xsd
I still got exception:

How to use article or why we can't ?

[2016-12-09 11:41] andreaschiffo commented on #5352
@olafc100 understand your feelings ;)
i should check your stores&websites config to understand why you dont have the stores folder
i have the stores folder because i'm editing the default store view configuration

![cattura](https://cloud.githubusercontent.com/assets/10629167/21047852/79b870f0-be0c-11e6-8594-bd6df546562a.PNG)

as a general hint look at the broken image url, where magento is expect

[2016-12-09 12:13] rishabhrkrai opened #7739 ""From Header set twice" when sending an email"
### Preconditions

1. I use v2.1.1 of Magento and MySQL 5.6.x
2. I make a custom module which send an email to person more like subscription, when new varients of an item is come.

### Steps to reproduce

1. Make a custom module, which store email and product id in a custom database.
2. Whenever something new new book edition of that product id will came. It checks for that custom table and send e

[2016-12-09 12:23] olafc100 commented on #5352
@andreaschiffo thanks for keeping up the conversation and descriptive images.

It solved a part of the problem:
the stores and websites are the difference between editing only on the global level. So the top level on your first images. When I edit on your level (store view) it indeed stores (or is trying to store) the logo in a stores directory. That is what I see when I check the broken link as y

[2016-12-09 12:30] olafc100 commented on #5352
@andreaschiffo Yes, logo is showing! Sweet success.

I did flush the cache storage also this time perhaps that helped.
The _1.svg addition was probably because the image already existed in the directory.

Thanks again for your time and effort.

[2016-12-09 12:36] PiimegaOy opened #7740 "Incorrect min price calculation for products with custom options."
### Preconditions

1. Magento 2.1
2. PHP 7.0.8 & MySQL 5.6.31-0ubuntu0.14.04.2

### Steps to reproduce

1. Make product with custom options set as required, where you have both free and non free options available

### Expected result

1. The minimal price in catalog_product_options_type_price should be the base price without the custom option price added. (Since even though the custom option is re

[2016-12-09 12:47] cscd98 commented on #6929
Any update on this Magento???

The tables for store 3 were all missing for me.

[2016-12-09 12:51] rodchencko commented on #1458
2.1.1 here and the problem still persists. Has anybody discovered a workaround for this?

[2016-12-09 13:30] kweij opened #7741 "Config field backend model (system.xml) not used for default value (config.xml)"
### Preconditions
Magento 2.1.2

### Steps to reproduce
Create a config field with a custom backend model, such as:

[code]

Here I use backend model ```Oops\Theme\Model\System\Config\Backend\Json```. This model is looks like this:

[code]

### Expected result
Performs ```json_decode()``` after loading data from the configuration and ```json_encode()``` before saving the data to the database. **Ex

[2016-12-09 13:35] kweij commented on #7741
This can be fixed easily, as in pull request #7742

[2016-12-09 14:01] jurpro commented on #7425
Hello @olysenko Could you please add download product for bundle option for next release? I really need this. Not a separate product
Thanks

[2016-12-09 14:26] AgenturSchroeder commented on #7113
Hi,
Im sorry but is it possible to reopen this problem?

I have the same problem with magento 2.1.2.

[2016-12-09 14:33] maderlock commented on #7504
I'm going to attempt a fix. My current thought is that we'll have to do full product loads, or at least via a collection, so that the image helper can be called. My concern is that this will slow this process down considerably, but at this point it's much more important that it's outputting the correct URLs.

[2016-12-09 14:48] AlexanderRakov opened #7744 "Change Monolog required version"
Hi.
Now Mangento 2 requires monolug 1.16.0. It is cause of incompatibility with google api and, probably, other some packages.

Please, increase required version at least to 1.17.0 in composer.json.

Thank you.

[2016-12-09 15:08] tim-reynolds opened #7745 "Magento/Framework/Reflection/TypeProcessor:getParamType fails parsing docblock with Windows line endings"
Relates to: https://github.com/magento/magento2/issues/2417

The class Magento/Framework/Reflection/TypeProcessor has a function:

`getParamType`

https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Reflection/TypeProcessor.php#L543

This function uses a regular expression to parse out parameter types from the docblock of functions to extract the true type of a paramete

[2016-12-09 15:39] hubaig commented on #6929
I am getting this same issue. I am using PayPal Payments Pro/Payflow and the credit cards are authorized instead of completing a sale. I am hoping for a solution to this. I was excited for the new Magento version but am having lots of issues with it.

I have version 2.1.1 and had tried setting the address to only 1 field and that did not help either.

[2016-12-09 15:56] ntoombs19 commented on #7460
I just noticed this is actually a duplicate of https://github.com/magento/magento2/issues/7399

[2016-12-09 18:19] Ctucker9233 opened #7746 "Fix error thrown by TravisCI for develop branch"
Anyone who creates a branch off of develop and runs a TravisCI build will experience this error:
1) Magento\Customer\Model\GroupManagementTest::testGetDefaultGroupWithNonDefaultStoreId
Magento\Framework\Exception\NoSuchEntityException: No such entity with groupId = , storeId = 11

### Preconditions
Magento 2 develop branch

### Steps to reproduce
1. Create a branch of Magento Develop
2. Trigger Tr

[2016-12-09 18:38] heyqule commented on #7730
My current solution was to remove the above line with a function override in new extension.  But I'm not sure the side effect of this change.

[2016-12-09 18:38] kalessil opened #7747 "Magento\Setup\Module\I18n\Dictionary\Writer::Csv: __destructor should be __destruct"
A small typo in the magic method name: https://github.com/magento/magento2/blob/1ade3b769a937f19682bbbe4e51b6c956147952f/setup/src/Magento/Setup/Module/I18n/Dictionary/Writer/Csv.php#L58

[2016-12-09 20:30] hostep commented on #7155
Chrome 55.0.2883.87 was just released which fixes these issues 🎉

[2016-12-09 21:27] ghost commented on #5319
needless to say, this has not recurred

[2016-12-09 21:27] #5319 closed, assigned to nobody

[2016-12-09 21:49] crantron commented on #7736
lol, thanks for the details.

[2016-12-09 23:04] gil-- commented on #2797
@erikhansen agreed. Just ran into this and followed @peec mysql code to resolve it.

[2016-12-09 23:16] thanasisgalanis commented on #7492
Check you apache erro_log file, if you find a record with mention to **_setup_** folder or **_setup/index.php_** file _**is writable by the group**_

You might, set **_setup_** folder and **_setup/index.php_** file permission, to be 755 and 644 respectively.

[2016-12-09 23:51] Ctucker9233 commented on #2574
@rganin Will MAGETWO-47017 be included in 2.1.3?

[2016-12-10 00:17] usmanshah-mag commented on #7617
Same issue. It was fine few days ago. I have not added any new extensions or anything that may have caused any issue. Its strange that it worked fine and now it isnt working at all. I dont get any response like how you said you had a response that the image is not found, with me, after I select the file, it uploads, like the browser starts loading, but it never uploads and the uploaded file is nev

[2016-12-10 01:13] Ctucker9233 commented on #5943
@veloraven Is there any kind of update on whats going on with this ticket?

[2016-12-10 08:34] wert2all commented on #7675
You need to run

/opt/plesk/php/7.0/bin/php -f /var/www/vhosts/xyz/httpdocs/bin/magento setup:static-content:deploy en_GB

After that

/opt/plesk/php/7.0/bin/php -f /var/www/vhosts/xyz/httpdocs/bin/magento setup:static-content:deploy en_US

[2016-12-10 11:43] hocomadvies commented on #6929
@hubaig @craigcarnell @schasiepen It might help you guys finding a solution by investigating your dbase tables and have a look if they are similar as mentioned by above topics. Seems that its al about missing tables in the database somehow. Be sure to make a back-up from your database before changing anything :) Best way to access the database in this case is through phpMyadmin.
I ran into more or

[2016-12-10 15:37] benmarks commented on #6413
Checking on this issue for you all, stay tuned.

[2016-12-10 15:43] MLUKSP commented on #6413
Thanks  @benmarks , looking forward to this being resolved.
I didn't get arond to commenting back here to say it still doesn't work after the 2.1.2 update.

I'm also not 100% certain that its not theme related, but as its only happening in the product area i'm thinking not.

[2016-12-10 15:43] PingusPepan commented on #6413
@benmarks Yesterday I applied commits https://github.com/magento/magento2/commit/bebb2ceb000b9296f9b04ecd5424ef66cd723fbf and https://github.com/magento/magento2/commit/2c0bdb10c28c32f2f37f724e64125238e61835b8 and it seems to work just fine for ~3500 categories.

If your internal testing confirms it works, can we hopefully see this released in 2.1.3?

[2016-12-10 15:49] philipvandebriel commented on #6413
Yes this will work, i changed in 2.1.2 with 4000 categories 3 weeks ago.

[2016-12-10 15:51] PingusPepan commented on #6413
@philipvandebriel If not already, apply also this commit: https://github.com/magento/magento2/commit/2c0bdb10c28c32f2f37f724e64125238e61835b8 it fixes a bug when if you hover over category, the search in categories does not work.

[2016-12-10 15:57] philipvandebriel commented on #6413
@PingusPepan Thanks!

[2016-12-10 17:58] YevSent commented on #6813
Hi, @ytorbyk, sorry, I hadn't enough time to give you the complete answer to your question on MageConf.  So, I want to clarify some moments, which I said before.

On the develop branch, payment method uses billing address for country restriction checks [CountryProvider](https://github.com/magento/magento2/blob/develop/app/code/Magento/Payment/Model/Checks/CanUseForCountry/CountryProvider.php#L34),

[2016-12-10 18:56] dharake commented on #7623
@veloraven do we have any update for MAGETWO-52799?

[2016-12-10 20:11] ooples commented on #5709
I'm having this issue as well

[2016-12-10 20:38] astorm opened #7749 "uiClass Objects do not Deep Copy Observable defaults"
### Preconditions
Magento CE, 2.1.x, installed via `composer create-project` Google Chrome's javascript engine.  Other system details not relevant.

### Steps to reproduce

1. Create a RequireJS based program, per instructions below

2. Run RequireJS program

### Expected result
The `foo` property of `object1` retains its `The Default Value` value.  The `foo` property is a different object in each

[2016-12-11 07:27] bnayalivne commented on #6683
Same here, magento 2.1.0 not updating the "updated_at" field for products, except when the SKU changed.

[2016-12-11 08:15] cizgidekiadam commented on #7624
Additional Info:

After some investigation, i think find a clue
Clean install 2.1.2 with sample-data via composer.

- Create a catalog rule which looks like our original one and apply it. (Attribute set based)
<img width="1286" alt="scr1" src="https://cloud.githubusercontent.com/assets/4427628/21078900/d7c7af1c-bf88-11e6-9a26-01092b36128f.png">
- It is working well with same price children  👍
<img

[2016-12-11 08:41] cizgidekiadam commented on #2816
Quickfix :
- after removing sample data module, set 'design/head/includes' value to NULL in 'core_config_data' table.
- clean cache

[2016-12-11 14:38] lingwooc commented on #2065
I had this problem. For some reason I only had an en_US folder in /pub/static and it was looking for an en_GB folder. This problem started after upgrade from 2.1.1 to 2.1.2. I had to run

php bin/magento setup:static-content:deploy en_GB

Your language may vary. Doesn't look like its the problem that @craigcarnell is having but it might help someone else. Try running static-content:deploy with -v,

[2016-12-11 14:47] romeof1980 commented on #2065
Hi Chris
did you try
php bin/magento setup:static-content:deploy en_Gb   ?
 us_US is the default when you don't specify another "locale"

cheers,
romeo

---- On Sun, 11 Dec 2016 04:38:48 -1000 notifications@github.com wrote ----

I had this problem. For some reason I only had an en_US folder in /pub/static and it was looking for an en_GB folder. This problem started after upgrade from 2.1.1 to 2.1

[2016-12-11 16:20] lingwooc commented on #2065
Yup, that's what fixed it.

[2016-12-11 17:47] DaveDennisME opened #7750 "Unable to save Attribute Set"
When trying to create and save a new Attribute set. I am presented with a message saying "ATTENTION Sorry, we're unable to complete this request." when trying to save.

### Preconditions
1. Magento CE 2.1.2 installed without sample data through cli
2. Running Apache 2.2.31 (Unix)
3. PHP 5.6.23 with Zend Engine 2.6.0
4. MySQL 5.6.30

### Steps to reproduce
1. Go to Stores -> Attributes -> Attribute

[2016-12-11 21:19] cgaubuchon commented on #4430
We are having an issue that seems directly related to what others are experiencing here. Problem happens on composer installed CE 2.1.2

Our data set is 1500 products. If there is a category such as `Bedroom/Storage` then a URL rewrite is created within the `url_rewrite` table. If I then import a product with a category of `Bathroom/Storage` the importer throws an error about the key already exist

[2016-12-11 23:39] TomoNZ opened #7751 "Product "Customizable Options" Stuck on Fixed Pricing"
Hi,

I have installed a bitnami build of Magento 2 on AWS and have noticed that on their core build 2.1.2.0 we can't add a percentage based "Customizable Option" to any products. We can add the customizable option as a percentage in the backend but it shows as fixed in the frontend. Has anyone experieneced this issue and has a fix please?

### Steps to reproduce

1. Create or edit a new product wi

[2016-12-12 02:21] TomoNZ commented on #2739
Does anyone actually fix these issues? There seems to be hundreds of unresolved issues on this forum for MAgento2. Maybe it's too early to migrate from Magento1 to Magento 2!!!

[2016-12-12 03:39] eldonbite commented on #7657
Some more updates:

By doing Huffman coding string replacement on the tags, I managed to further shorten the size of the `X-Magento-Tags` header by almost 80%. Some examples:

**40 products per page:**
Original length: 21962
Shortened length: 4904

**60 products per page:**
Original length: 26289
Shortened length: 5913

I hope the Magento team could implement some sort of cache tag compression sim

[2016-12-12 04:03] medinadato commented on #6929
Thanks heaps everyone here. It's pretty annoying Magento does not log those errors.. The way around I found was overwriting the CouldNotSaveException class.

In your Custom Module di.xml (e.g. <NAMESPACE>/<PACKAGE>/etc/di.xml) add the line below:

`<preference for="Magento\Framework\Exception\CouldNotSaveException" type="<NAMESPACE>\<PACKAGE>\Exception\CouldNotSaveException" />`

Then create the f

[2016-12-12 04:12] shahankitb997 commented on #7560
Does anyone have update on this one?

Thanks

[2016-12-12 05:40] cizgidekiadam commented on #7657
@eldonbite Thanks for info.

Sounds insteresting.
How do you implement Huffman? Is there a library for magento?
We are as 'Magento Folk', need too much compression like that one.

Platform great but it is a really resource eater.

[2016-12-12 05:54] eldonbite commented on #7657
Hi @rbostan,

It's not exactly a full-blown Huffman encoding algorithm. It's actually just doing a dictionary-based prefix replacement to the cache tags multiple times. For example:

Tags:
catalog_product_12345,catalog_product_12346..

Replacements:
- catalog_product_ => p
- p1 => q
- q2 => r

This will shorten the product cache tags to just:
r345,r346

HTH 👍

[2016-12-12 05:56] cizgidekiadam commented on #7657
@eldonbite Brilliant!
I will also try it

[2016-12-12 06:33] shahankitb997 commented on #4785
Have same issue in Magento 2.1.2 for Some Orders

[2016-12-12 07:37] sunilit42 opened #7752 "How to use the HTTPS protocol for the frontend account and checkout pages only, and the HTTP protocol for all the rest frontend pages?"
Let's example i want to make HTTPS for my account and checkout page.

I did setting in backend and now HTTPS working fine.

Now example: i am at home page with https URL, In magento 2 all URL is showing HTTPS like product page,category page, it should be HTTP URL not https.

[2016-12-12 07:39] kumarA8 commented on #5589
@grasdaggel i tried your solution, this doesn't work and hence the issue is still where it was :(

[2016-12-12 07:42] Nehace40 opened #7753 "Customer attribute gives error of required value"
I am adding two customer attribute programmatically. One attribute is add in customer create form and another one is not adding in that form.

let's guess one Attribute is ABC and the second attribute is XYZ

i am filling the value of ABC field

Now i am trying to create customer from frontend and it gives an error.

### Preconditions
Magento 2.1.2

### Steps to reproduce
[code]
in register.phtml

[2016-12-12 07:43] hanhpv commented on #5133
I have same problem with product status. The status attribute has a website scope, but I can set different product status for stores.

[2016-12-12 07:57] sergi-omit commented on #5068
Any updates? Somebody has could apply any fix?

[2016-12-12 08:06] quienti commented on #7427
@Ctucker9233 I don't know, but I think this commit can work on 2.1.2

[2016-12-12 08:06] sunilit42 commented on #5589
@grasdaggel @andimov
nops it is not woking.

 Magento\Quote\Model\Cart\CartTotalRepository

 $amount = $quoteTotals->getGrandTotal() - $quoteTotals->getTaxAmount();
	  $amount = $amount > 0 ? $amount : 0;
        $quoteTotals->setCouponCode($this->couponService->get($cartId));
        $quoteTotals->setGrandTotal($amount);
Here amount set directly grand total, it should be cal tax here then need to

[2016-12-12 08:55] cscd98 commented on #5133
Magento - update on this issue please?

[2016-12-12 09:43] ericahoekerd commented on #5580
Same issue on Magento 2.1.2 with SOAP API, the error message 'Something went wrong while saving option' is quite non-informative.

When will the fix provided or when will there be clear response?

[2016-12-12 10:49] praful-rajput opened #7754 "special_price.phtml is not found in whole project."
I am trying to override special price section according to my theme. Unfortunately,  I didn't find special_price.phtml anywhere.

Preconditions
Magento version CE 2.1.2
1. xml layout file : /vendor/magento/module-catalog/view/base/layout/catalog_product_prices.xml line no# 18
2. there is not any physical file found at given location.

### Steps to reproduce
This is not generating any error. It is

[2016-12-12 11:09] Tristan-N commented on #5423
@Ctucker9233 I have the same issue, using Magento 2.1.2 on PHP 7.0.14 on Apache server.

When I switch to Built-In cache, the navbar appears again. When I found the <esi:include src="url/of/your/site" /> rule like @KevinMace mentioned, I noticed that my URL contained a lot of %22 signs, instead of the " symbol.

`<esi:include src="http://site.url.here/page_cache/block/esi/blocks/[%22catalog.topnav

[2016-12-12 11:09] dimple-vasoya commented on #6105
Facing the same issue. Redirect is not working if parameters present in request path.
What can be done to achieve this?

[2016-12-12 11:13] KevinMace commented on #5423
@Tristan-N Have you enabled ESI in your Varnish config? That will replace this string

``
<esi:include src="http://site.url.here/page_cache/block/esi/blocks/[%22catalog.topnav%22]/handles/[%22default%22,%22catalog_category_view%22,%22catalog_category_view_type_layered%22,%22catalog_category_view_type_layered_without_children%22,%22catalog_category_view_id_688%22,%22catalog_category_view_layout_upd

[2016-12-12 11:16] KevinMace commented on #5423
@Tristan-N in your default.vcl, you should have a section like below. Have you moved the Magento generated ``.vcl`` in to your server's Varnish directory?

``
    if (beresp.http.content-type ~ "text") {
        set beresp.do_esi = true;
    }
``

[2016-12-12 11:32] nigelcopley commented on #6105
Use htaccess to rewrite url's

[2016-12-12 11:45] thdoan opened #7756 "product_list_limit=all not working as expected"
### Preconditions

1. Magento 2.1.2 with sample data

### Steps to reproduce

1. Go to /admin/system_config/edit/section/catalog/ and change "Allow All Products per Page" to Yes.
2. Go to a subcategory page and click on a category attribute with enough products to paginate (e.g., /men/bottoms-men.html?cat=19).
3. Change the page limiter to "All".

### Expected result

1. All 11 products should be

[2016-12-12 11:51] pitangaweb opened #7757 "Checkout : email address should not be part of the "shipping address" section"
### Preconditions

1. Magento 2.1.2

### Steps to reproduce

1. As a guest, add a product to your shopping cart and go to checkout
2. Since you are buying a gift that you want to be delivered directly to your friend, enter all your friend's information under the "shipping address" section, including his email address.
3. In the billing section, enter your personal address as the billing address

#

[2016-12-12 11:52] thdoan commented on #7756
I noticed that `limit=all` works, it it seems the param name changed somewhere along the way. I'll close this.

[2016-12-12 11:56] Tristan-N commented on #5423
@KevinMace No, in the Varnish config folder there is a config file dat includes the vcl file from the Magento folder.

[2016-12-12 12:04] AlessandroStaffolani opened #7759 "Can't access to product with direct url"
### Preconditions

1.  I'm using magento 2.1.2
2. Centos 7.2, PHP 5.6, MySQL 10.1.14-MariaDB
### Steps to Reproduce
Create custom theme and apply it
### Expected Result
Access to products with direct url
### Actual result

I've created my custom theme, but I have a problem with links to my products, I can access the product only going to the category and the clicking on the products. Then if I try

[2016-12-12 12:19] thdoan commented on #7756
UPDATE: It appears the `limit=all` param doesn't work. When I changed the param to `product_list_limit=all`  things got better, but it still didn't work 100%. Summary:

1. When using `product_list_limit=all`, it shows all products, but the result count (23) is incorrect. I think it's showing the total number of results for the parent category, not the current subcat with the category attribute app

[2016-12-12 12:58] R4c00n commented on #6302
Is there anything new on this?
I can still observe this bug and the hotfix (not really) with changing the loading order.

[2016-12-12 13:04] kweij commented on #7741
Ok, well since my pull-request won't build due to _unexpected_ results (it's not crashing, but it alters the way default values in ``config.xml`` are treated, so it's not backwards compatible) this bug/change may require a different approach. Nevertheless, I stand by my expected result in the original post.

[2016-12-12 13:24] ericahoekerd commented on #7204
PROBLEM: product is assigned to all websites although it is not part of the XML request (see zip file)

EXPECTED result: no website should be assigned when a product is saved without any websites in request

REPRODUCE: by creating the same soap request as in the zip file

[2016-12-12 13:47] kanduvisla opened #7760 "M2.1.2 : Shipment Tracking REST API should throw an error if order doesn't exist."
When you add a tracking code using the REST API, Magento doesn't throw an error if you try to add a tracking code for a non-existing order. Take the following example:

[code]

In the above example, there is no order with ID '20' in my database. However, I have an order with id '19' that has a shipment with ID '12'. So posting the above to the REST API will not throw an error. Instead it will retu

[2016-12-12 13:48] josefbehr commented on #2931
Beware of the parent::_initSelect() line though. If you extend the original class to only overwrite that one method, it will throw an exception, if you keep it as is. Must be changed to be AbstractCollection::_initSelect(). And I second the question for an official fix. Is anyone even still assigned to the issue?

[2016-12-12 14:02] tkacheva commented on #6413
Has to be addressed in this commit https://github.com/magento/magento2/commit/cfb571f6fb7dd59a4bb470a8ecbb60a3138833bc

[2016-12-12 14:06] akaplya commented on #7644
hi @kanduvisla issue is caused by rules which describe how Magento merges di config between areas.
In your particular case -  configuration at module level was introduced. This configuration overrides configuration from app/etc/di.xml

Magento EntityManager (in version 2.1, 2.2-dev) expects that OperationPool contains item with name "default". This item describes default behaviour for operations.

[2016-12-12 14:09] olysenko commented on #7408
Hi, thank you for your report. I tried to reproduce this issue with different multiwebsite and multistore configurations, but i didn't succeed. We need more details how you setup multistore configuration, multistore theme configuration

[2016-12-12 14:34] kanduvisla commented on #7644
But if I declare `default` operations in my modules' `di.xml`, doesn't this override the default operations set by the Entity Manager itself? Since Magento merges all configurations to a single XML?

[2016-12-12 14:40] gerti2112 opened #7761 "Problem with perfomance in dashboard (on new product page)"
### Preconditions
1.  We have like as ~1700 categories (hierarchical)

## Issue 1
### Steps to reproduce
1.  Open New Product Page
### Expected result
Loading is more fast. Error is missed
### Actual result
Browser warning about slow js "A script on this page may be busy..."

## Issue 2
### Steps to reproduce
1.  Open New Product Page
2. Click new New Category
### Expected result
Popup is opened.

[2016-12-12 14:45] andimov commented on #7761
@gerti2112 please, specify Magento version.
Please provide maximum and average depth in categories also.

[2016-12-12 15:02] gerti2112 commented on #7761
Magento ver. 2.2.0-dev (732d445fe68b2c00a03dda546e3813dea04d441e)
Max deep is 6
Average is 3

[2016-12-12 15:19] hubaig commented on #6929
@hocomadvies I checked both of the tables and they look fine. I migrated from Magento 1.9 to 2.1, could that be a cause of this? I also have m2epro installed and am not sure if that is causing any issues. I see that the Auto Increment items are there. I am not able to modify any tables now because clients have already made orders using Paypal express checkout.

[2016-12-12 15:34] greatwitenorth commented on #1726
I'm currently experiencing the same thing on a fresh installation of Magento 2.1 using Laravel Valet (powered by the Caddy web server). My system specs are the following:

Processor: 2.7 GHz Intel Core i5
Memory: 20GB
DB: Ver 15.1 Distrib 10.1.17-MariaDB

Loading the homepage takes around 30 seconds to 1 minute. This kind of makes it a hard sell when the initial load time out of the box is this sl

[2016-12-12 15:40] hocomadvies commented on #6929
@hubaig in my case the problem was that the store id was not matching with the database tables. After adding them (see above) it works for me. So you have to dig into the error messages and find out where the problem is caused. I updated from 1.9 to 2.1 and think that caused the problems I had.
Look if the new orders are added, look which shop id youre using and see if that is in these tables:
seq

[2016-12-12 15:48] hubaig commented on #6929
@hocomadvies the store I am using, it's id is 1 and I see that all of the tables for it are there are they auto increment is setup fine. I did notice one thing. I have another store in there with an id 2 but the tables do not exist for it. This store is not serving any traffic in the front end but I have it hooked up to Amazon and eBay with m2epro. Only store with id 1 is trying to use PayPal flow

[2016-12-12 15:55] tzyganu opened #7764 "Preferences declared in wrong modules."
This is a followup for #1291. I ran some script on the `di.xml` files to identify which preferences are declared in the wrong module and came up with the list below.
Sorry if this is not reported as requested, with steps to reproduce, because I didn't take any ui or cli actions to reproduce it.
Please DON'T classify this as an improvement and send it to the forum. This should not be hard to fix (I

[2016-12-12 16:00] hubaig commented on #6929
Adding these three tables for store id 2 did not help. Still getting declined errors. I see users have added ways to see exceptions. Is there a way someone can give detailed info on how to debug this, I am fairly new to magento 2 and am having trouble getting the exceptions to try troubleshooting this further. I am hosting this on CentOS 6 with cPanel.

[2016-12-12 16:22] andimov commented on #7761
We've created internal ticket MAGETWO-62129 to address this issue.

[2016-12-12 16:25] #7631 closed, assigned to nobody

[2016-12-12 16:35] andidhouse opened #7765 "Filter block on category is still present also mode is to just show "static block""
### Preconditions

1. Magento Versions 2.1.2 via download

### Steps to reproduce

1. Create a category and set it to just show a cms block

### Expected result

1. The layered filter navigation is not shown - as there are no products shown in the category just a cms block

### Actual result

1. The layered navigation block is shown on category site

I think this was reported here some times ago b

[2016-12-12 16:40] olysenko commented on #7665
Hi, thank you for your update.Yes, this is bug. Internal issue MAGETWO-62132 was created.  Specification says: guest checkout is forbidden until old long-term cookie exists

[2016-12-12 16:55] developer-lindner commented on #7579
@veloraven Hey, any update here? Internal ticket or something?!

[2016-12-12 17:05] danipolo commented on #6424
I have the same problem. Children products disasociated from paren configurable product.

That's a big pain in the ass... We still don't know what to do. 6 months from the first issue and anybody knows wheres the bug... So sad.... :-1:

[2016-12-12 17:20] MomotenkoNatalia commented on #3176
@tkn98 We have an internal task in our backlog - MAGETWO-41049 for this improvement.
Your issue is more appropriate for the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) or the [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions. That's why I'm going to close this issue.

[2016-12-12 17:20] #3176 closed, assigned to maxwhite-ua

[2016-12-12 17:37] ut4utc commented on #7072
doesn't work on PHP 7.0.8

[2016-12-12 18:23] spyrule commented on #4737
Just in case anyone is looking for it, the full URL for the rdeelstra's comment is:
vendor/magento/module-email/view/frontend/email/header.html   , line 27

[2016-12-12 19:34] flnative commented on #5925
Please reopen. I cannot edit any customer group. I try to change from General to wholesale or retail and the system says saved but the value is still the same. This is new customers created after the upgrade. I now have 2.1.2 installed. Previously, it was just the customers that were created in 2.0 that I could not edit and save. Now it is anything cannot be edit saved.

I use Nexcess shared hosti

[2016-12-12 19:38] deduoffice commented on #2568
I think i have a problem similar like this in Magento CE 1.9.3.1 with the products not showing up in the catalog on the frontend and in the productsearch.

I am not a programmer and i dont have access to a shell with a command prompt to execute programs for on the server.

I have this issue also running on Magento Stackexchange: http://magento.stackexchange.com/questions/149945/is-magento-playing-

[2016-12-12 19:57] springimport opened #7766 "Magento don't have a function for hide validation errors"
### Preconditions
I have a task to set labels state to default after click on "Complete" button.
For adding errors magento have an [errorPlacement](https://github.com/magento/magento2/blob/develop/lib/web/mage/validation.js#L1506). I need have a similar function.

### Steps to reproduce
1. I go to my computer.
2. I open my IDE.
3. I try to solve a problem.

### Expected result
I can add my code fo

[2016-12-12 20:00] flnative commented on #5925
I did run reindex on the terminal for all indexes... Still cannot change customer group.

Please note that two indexes did NOT re-index when checking status in the admin back-end as they show old status dates - (Product Categories and catalog Product Rule); the rest showed today's date.

Command: php bin/magento indexer:reindex
Design Config Grid index has been rebuilt successfully in 00:00:00
Cus

[2016-12-12 21:04] timstoel commented on #7623
Any news on this?

[2016-12-12 21:15] sckogi commented on #7058
Same here. I realized the error isn't throw if you open the "Images And Videos" section before save, probably this hint can help.

[2016-12-12 21:59] Ctucker9233 commented on #7408
@olysenko Ok. I have three stores like so:
![store views](https://cloud.githubusercontent.com/assets/19523985/21118347/5ce8575c-c072-11e6-968b-a235161c4c72.JPG)

The default store page works more like a landing page, directing the customer to choose which of my two actual stores they want to visit. I have enabled the "add store code to URL" option. The URL's of my two stores are essentially sub-do

[2016-12-12 22:18] flnative commented on #6162
If I have 2.1.2 was this supposed to be fixed?  I cannot edit customer group per customer.. Says it saves upon clicking the save button, though it reverts back to default setting.

[2016-12-12 23:19] Ctucker9233 commented on #7408
@olysenko If I try to do it by changing the base urls(secure and unsecure),  my catalog nav bar disappears and my theme will utterly fail to display even though all settings (that I know of) tell the store what theme to use. Re-indexing and clearing all caches do not help. So it would seem I am missing a major step or this is a bigger bug than I thought.

[2016-12-13 00:07] twistedindustries commented on #6391
Has this been fixed?  I can't use 2.1 because of issues with authorize.net.  This is still happening and shouldn't have been closed.

[2016-12-13 00:16] twistedindustries commented on #5863
@veloraven Is there any fix for 2.0.X yet?

[2016-12-13 01:04] PiscesThankIT opened #7767 "<![CDATA[]]>in system.xml translate phrase not work"
### Preconditions
php  5.6.19
Magento 2.1.2

### Steps to reproduce
create a module which has system.xml
In the system.xml, I have a field:
[code]
I use the command to collect the phrases
[code]

I get the csv file. In this file, I see:
[code]
There is a line feed and some spaces before the phrase.
I change the second column to add some Chinese words.
[code]
I put this file in correct place and ch

[2016-12-13 01:46] dnadle opened #7768 "Adding 'is_saleable' attribute to sort of product collection causes exception and adding 'is_salable' has no effect"
In Magento\Catalog\Model\ResourceModel\Product\Collection, addAttributeToSort() has the following lines:

[code]

But the generated SQL query selects stock_status_index.stock_status as 'is_salable', not 'is_saleable'. So adding 'is_saleable' causes an SQL exception and since 'is_salable' is not a product attribute, it silently fails to be added to the SQL statement.

### Preconditions

1. Magento

[2016-12-13 01:56] 4DallasC opened #7769 "Cart Hardcoding removing tax from total"
In file:- vendor/magento/module-checkout/Model/Cart/CartTotalRepository.php at 112
        $amount = $quoteTotals->getGrandTotal() - $quoteTotals->getTaxAmount();
        $amount = $amount > 0 ? $amount : 0;
        $quoteTotals->setCouponCode($this->couponService->get($cartId));
        $quoteTotals->setGrandTotal($amount);

This hard coded removal of tax is in contradiction to the configuration

[2016-12-13 06:38] sanjay-wagento opened #7770 "When I place order using Braintree Credit Card Payment Method (Authorize and Capture) for virtual or downloadable product type, Order status show processing instead of complete"
### Preconditions

1. Magento CE 2.1.1, PHP 7.0.14
2.

### Steps to reproduce

1. Please configure Braintree CC payment method with Authorize and Capture option
2. Place order for virtual or downloadable product
3.

### Expected result

1. For virtual and downloadable product, we do not require shipment so order status must be complete

### Actual result

1. Right now order status is processing fo

[2016-12-13 07:00] KishorkumarKar commented on #4329
Hi,
i tried to create a credit memo (**V1/creditmemo/refund**) by rest api from my **magento 2.1.1** it is throwing an error
`{
  "creditmemo": {
    "adjustment_negative": 0,
    "adjustment_positive": 0,
    "order_id": 1,
    "shipping_amount": 5,
     "billing_address_id": 2,
     "shipping_address_id": 1,
    "invoice_id": 7,
    "items": [
      {
        "order_item_id": 1,
        "qty": 1

[2016-12-13 07:07] flipflap commented on #6391
As miakusha said, it should be fixed. But I couldn't test it yet.

[2016-12-13 08:41] cizgidekiadam opened #7772 "REST/DELETE configurable-products/options not working"
### Preconditions

1. v2.1.2
2. PHP 7.0.11

### Steps to reproduce

1. Create a request with existing configurable product and an existing option which is added to product.
2. Do request (tried with PHP-CGI an CLI)
<pre>curl -i -H "Content-Type: application/json,Authorization: Bearer vik9atqehqvf2btjh2hy3i1c9abt1g9m" -X DELETE http://magento.dev/rest/V1/configurable-products/SKU/options/990364</pr

[2016-12-13 08:53] ritschi72 commented on #7621
Hi, thanks for your answer, here some information about my environment:

Magento Version 2.1.2
PHP Version 7.0
MySQL 5.1
Browser Mozilla Firefox 50.0.2 (but the problem occurs also within other browsers like Chrome etc.)

[2016-12-13 09:11] vzabaznov commented on #7566
Hi @chamola , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:11] #7566 closed, assigned to nobody

[2016-12-13 09:12] vzabaznov commented on #7491
Hi @iproger , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:12] #7491 closed, assigned to nobody

[2016-12-13 09:12] vzabaznov commented on #7573
Hi @mehh , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:12] #7573 closed, assigned to nobody

[2016-12-13 09:13] vzabaznov commented on #7555
Hi @BeatDirector , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:13] #7555 closed, assigned to nobody

[2016-12-13 09:14] vzabaznov commented on #7509
Hi @romeof1980 , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:14] #7509 closed, assigned to nobody

[2016-12-13 09:15] vzabaznov commented on #7457
Hi @vigikaran , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:15] #7457 closed, assigned to nobody

[2016-12-13 09:20] vzabaznov commented on #7248
Hi @JerVoo , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:20] #7248 closed, assigned to nobody

[2016-12-13 09:20] vzabaznov commented on #7169
Hi @kanduvisla , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:20] #7169 closed, assigned to nobody

[2016-12-13 09:21] vzabaznov commented on #7093
Hi @claridgeandco , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:21] #7093 closed, assigned to nobody

[2016-12-13 09:21] vzabaznov commented on #6483
Hi @rbncha , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:21] #6483 closed, assigned to nobody

[2016-12-13 09:22] vzabaznov commented on #5967
Hi @Nerogee , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:23] vzabaznov commented on #5878
Hi @paales , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:23] #5878 closed, assigned to nobody

[2016-12-13 09:23] vzabaznov commented on #5769
Hi @asrob , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:23] #5769 closed, assigned to nobody

[2016-12-13 09:23] vzabaznov commented on #5614
Hi @werdlv , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:23] #5614 closed, assigned to nobody

[2016-12-13 09:24] vzabaznov commented on #4944
Hi @Talisa85 , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:24] #4944 closed, assigned to nobody

[2016-12-13 09:24] vzabaznov commented on #4654
Hi @dv8nate , closed as we don't receive update more than 2 week, feel free to write here/reopen or to open new issue

[2016-12-13 09:24] #4654 closed, assigned to nobody

[2016-12-13 09:33] bartoszkubicki commented on #7418
same on 2.1.1

[2016-12-13 09:59] olysenko commented on #4329
@NadiyaS, we should wait 2.1.3/2.0.11 releases with new API services

[2016-12-13 10:02] dominicfernando opened #7774 "Issue in edit bundle product which added to the cart"
### Preconditions

1.Version: M2 EE 2.1.2
2. with FPC and cache enabled

### Steps to reproduce

1. Add bundle product to cart
2. Edit added bundle product

### Expected result

1. Changes and details needs to show according to selection(bundle product options)

### Actual result

1. No price change according to the selection

I have investigated the issue

module-bundle/Model/ResourceModel/Option

[2016-12-13 10:26] KamilBalwierz commented on #7620
Same issue applies to returned types (PHP7 functionality) generated interceptor code is missing return type causing error.

[2016-12-13 10:35] kanduvisla opened #7775 "M2.1.2 Cannot rewrite Magento\ConfigurableProduct\Block\Product\View\Type\Configurable"
This might have some similarities with #4400, but I cannot seem to rewrite `Magento\ConfigurableProduct\Block\Product\View\Type\Configurable` using `di.xml`

### Preconditions

1. Version 2.1.2

### Steps to reproduce

1. Create a `di.xml` with:

[code]

2. Create the class `Vendor\Module\Rewrite\Magento\ConfigurableProduct\Block\Product\View\Type\Configurable`:

[code]

### Expected result

1. It

[2016-12-13 11:34] vzabaznov commented on #7692
Hi @kumarancontus please, format this issue according to the Issue reporting guidelines: with steps to reproduce, actual result and expected result.
Please, also identify which version of Magento you are running.

[2016-12-13 11:52] srinivasanithin commented on #4329
@NadiyaS : is it confirmed that new API will be available in Magento 2.1.3 release ?

[2016-12-13 12:50] olysenko commented on #7624
Hi, after your las comment update I was able to reproduce  issue on clear Magento installation with sample data. Your price index is invalid after price was changed. In case your have setting for indexers UPDATE BY SCHEDULE in menu System->Tools->Index Management. You have to setup cron with indexers reindex job. Or use UPDATE ON SAVE mode for indexers. In this case it will reindex price on produc

[2016-12-13 13:06] AppChecker opened #7776 "CWE-476-1"
We've checked source code of Magento 2.1.2 and found weakness in it. We haven't checked the work of the programm, we scanned only the source code. So we can't write instructions how tp reproduce the problem because it is not reproducable, it's just a weakness in code that should be fixed. Maybe this part of code is never executed but the weekness is the weekness.

in file:
[app/code/Magento/Usps/M

[2016-12-13 13:16] degaray commented on #5771
I have the same issue when creating a product for the first time programatically. I create the product with its factory and set all the values. For stock I create a ProductExtension object with the stockItem information and set it. It does save all the data, but it does not manage the stock. I use the same values in a json and post it using the api and it works well the problem is programatically

[2016-12-13 13:36] cizgidekiadam commented on #7624
Hi @olysenko,
All indexes are update by schedule and crond working fine. Also check database while running reindex. I have verified the calculation is correct and products got discounted price.

This issue just about showing oldPrice in frontend. Not about rule applying or other.
Product special price did not set for minimal price (lowest price of child products) so final_price.html don't know how

[2016-12-13 13:51] canadasatellite opened #7777 "URL key for specified store already exists. While saving Category magento2.1.2"
### Preconditions

1. Magento version :2.1.2
2. PHP Version 5.6.28
3. MySQL  Client API version	5.5.32
4. Data imported from Magento 1.9.2.4 using migration tool
5. category has same names . URL KEYS ARE DIFFERENT

### Steps to reproduce

1.  Tried to save category from admin

### Expected result

1. its should save category as the urlkeys used are different for each category and products

### Act

[2016-12-13 14:20] killoff opened #7778 "Date of Birth attribute gets weird format on page reload"
### Preconditions
DOB attribute is optional or required in Stores Configuration

### Steps to reproduce
1. Go to customer registration form, fill in all fields, DOB as well (10.12.2016)
Enter existing customer email in order to get an error.
2. Submit form

### Expected result
Date 10.12.2016 preserved on the form as DOB

### Actual result
Date 10..0000000 preserved on the form as DOB
![](http://i

[2016-12-13 14:28] kanduvisla opened #7779 "Inconsistencies in SearchCriteriaBuilder"
There are currently 2 search criteria builders to choose from:

- `Magento\Framework\Api\SearchCriteriaBuilder`
- `Magento\Framework\Api\Search\SearchCriteriaBuilder`

`Magento\Framework\Api\SearchCriteriaBuilder` has an `addFilter()`-method that accepts a field and a value, which makes it easy to use. However, if you want to add a sort order with `addSortOrder()` you need to add an implementation

[2016-12-13 14:42] quienti commented on #7777
https://github.com/magento/magento2/issues/6671

[2016-12-13 14:44] vil11 commented on #7778
@killoff
thanks for reporting this issue! Internal number **MAGETWO-62181**.

---
dvilchynskyi, M2 QA

[2016-12-13 14:46] wert2all commented on #7679
Please provide more concrete steps for reproducing because I got a merged quantity in my cart.

[2016-12-13 15:00] amansilla commented on #5490
It'd be helpful getting some additional info from the magento team about when is this supposed to be fixed.

[2016-12-13 15:33] vzabaznov commented on #7776
internal ticket created MAGETWO-62187

[2016-12-13 15:33] vzabaznov commented on #6715
internal ticket created MAGETWO-62187

[2016-12-13 15:35] vzabaznov commented on #7776
@AppChecker please do not create more related issue, i've created internal issue that contains all your info from https://github.com/magento/magento2/issues/6715 , thanks)

[2016-12-13 15:48] webagil-kevin commented on #3759
I still have this problem under Magento 2.1.2

I have temporarily hijacked the issue by disabling part of the cache:

![bugtierpricecache](https://cloud.githubusercontent.com/assets/9626689/21146994/d8bfd242-c153-11e6-8d35-411e8a19978a.JPG)

After disable cache, reindex with ssh command line:

`php bin/magento indexer:reindex`

[2016-12-13 15:58] olysenko commented on #7362
Hi, thank you for your report. We already have internal issue MAGETWO-52577

[2016-12-13 16:02] vzabaznov commented on #7776
@AppChecker will be fixed in https://github.com/magento/magento2/issues/6715, close for now

[2016-12-13 16:02] #7776 closed, assigned to nobody

[2016-12-13 16:05] ktruehl commented on #6146
The problem lies with the `Zend_Mail_Transport_Sendmail` class. It requires the return path as a parameter in its constructor (see https://framework.zend.com/manual/1.12/en/zend.mail.introduction.html#zend.mail.introduction.sendmail). So using the `setReturnPath()` method won't work.

Now the return path must be set in the constructor of `\Magento\Framework\Mail\Transport`. The constructor of `Tra

[2016-12-13 16:09] vzabaznov commented on #7774
Hi @dominicfernando please use support for EE clients to add bug for EE edition

[2016-12-13 16:20] antonkril commented on #6229
These dependencies are not created intentionally. We'll think of static test that will check for unused includes.

[2016-12-13 16:20] #6229 closed, assigned to nobody

[2016-12-13 16:23] kandy commented on #3881
is duplicate

[2016-12-13 16:23] #3881 closed, assigned to nobody

[2016-12-13 16:24] antonkril commented on #6115
It is recommended to use Service contracts to persist entities. And although persisting just one value is more efficient it is never 100% safe to do it, because some customisations might not expect this data integrity will be violated.

We recommend to use forum for discussions, so I close this ticket. Please start a forum topic if you have additional questions

[2016-12-13 16:24] #6115 closed, assigned to nobody

[2016-12-13 16:35] antonkril commented on #2222
Agree. Should be fixed.

[2016-12-13 16:35] olysenko commented on #7479
Hi, thank you for your report. Internal issue MAGETWO-62195 was created

[2016-12-13 16:39] yaronish commented on #6234
Hi, @centerax

Can you specify case for updated_at you are interested in?

Table has 25+ fields and having such field we must update it with every single change.
So as I understand such field just tell us that something has been changed.
Taking into account that `qty` field will be changed with every order placed in your system updated_at field most probably will contains last order creation time

[2016-12-13 16:49] MomotenkoNatalia commented on #4454
Hi All!

We already have an internal ticket to solve this problem - MAGETWO-60727

[2016-12-13 16:52] devonto commented on #4454
Thanks, any estimation on when a workaround may be released to allow us to implement it immediately?

[2016-12-13 17:07] vlauria commented on #7679
Precondition:
Magento CE 2.1 without sample data is installed.
Wishlist is set up

Steps to reproduce:
Logged user on frontend. Add one product to wishlist and from wishlist page add to cart. (NOTE: use button add to cart for single item. NOT ADD ALL TO CART).
Clear cookie or session id (SO LOGOUT USER ON FRONTENT) after logout go to category page and add same product to cart.
Login on frontend.

[2016-12-13 17:14] agorbivskyi commented on #6710
Hi @woakley
We have created MAGETWO-62197 for internal tracking.

[2016-12-13 17:20] MomotenkoNatalia commented on #4454
@devonto Unfortunatly, currently we have no easy and right way to include the css to the specific page. But like a temporary solution you can try to follow the our devdocs documentation - http://devdocs.magento.com/guides/v2.1/frontend-dev-guide/css-topics/css-themes.html  OR just to add link for css right to the content description. This is not very good solution, but it works.

[2016-12-13 17:23] zanilee commented on #7027
Hi, @diybook!
If there are no other concerns we are going to close this issue.

[2016-12-13 17:30] MomotenkoNatalia commented on #2640
Hi all!

We have an internal ticket regarding this problem - MAGETWO-62161.

[2016-12-13 17:31] Koc commented on #7253
@veloraven having similar problem on Magento 2.1.2:

Steps to reproduce issue:
1. change block order in layout: make layered navigation render before product list
2. go to page 2
3. when layered navigation starts render it produces query with limit 20, offset 0 (AFIK this occurs because `ListProduct::_beforeToHtml`, `Toolbar::setCollection` haven't called on this state)
4. we got an error like "no

[2016-12-13 17:38] MomotenkoNatalia commented on #6214
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-12-13 17:38] #6214 closed, assigned to eug123

[2016-12-13 17:59] sameasterling opened #7781 "Catalog page shows out of stock configurable products"
Magento 2.0.10

Catalog page displays out of stock configurable item.

Expected result would be for the catalog page to display the product that is still in stock.

[2016-12-13 18:37] mtb2112 opened #7782 "Newsletter Confirmation Email for Guests"
### Preconditions

1. Magento 2.1.2

### Steps to reproduce

1. Enter email in newsletter subscription form as a guest user
2. Click submit button

### Expected result

1. Receive email confirmation of subscription

### Actual result

1. No email is sent to the registered email address.  Also, nothing in the trash/spam folder

[2016-12-13 18:49] jaykobi commented on #7782
Works  for me without problems in 2.1.2.

[2016-12-13 19:45] centerax commented on #6234
Hi @yaronish
Thanks for your reply.

I think Magento should keep this attribute to keep track of inventory changes. Almost every entity inside Magento has it except this one.
`created_at` and `updated_at` should be part of the schema in my opinion.

[2016-12-13 19:58] hakabe commented on #1549
php bin/magento setup:static-content:deploy

[2016-12-13 20:25] timstoel commented on #7623
@dharake  -- I downloaded the 2.1.0 tar file and installed and the Web Setup Wizard is not available in the backend either.  This is on a fresh VM with nginx and PHP7.

[2016-12-13 21:12] twistedindustries commented on #6391
2.0.6 Issue still exists.

[2016-12-13 21:20] dreucifer opened #7783 "Errors in the 'guest-carts' REST API"
### Preconditions

1. Magento 2.1.2
2. Set 'Allow Anonymous Guest Access' to 'Yes'

### Steps to reproduce

1. Generate a new guest cart id:
`POST /rest/default/V1/guest-carts`

2. Add products to that cart:
    `POST /rest/default/V1/guest-carts/{cartId}/items {
        "cartItem": {
            "sku": "<item_sku>",
            "qty": 1
        }
    }`

### Expected result

1. A nice Status 200

[2016-12-13 21:28] Ctucker9233 commented on #7408
@olysenko After thinking about it, I'm not sure my setup qualifies as a multi-store. It's more like one parent store that has two branch stores underneath it.

[2016-12-13 21:35] PGLDK opened #7784 "Mode:set production fails."
I really got a annoying problem right now,
When trying to set:
php bin/magento deploy:mode:set production
it returns the following error:
Command returned non-zero exit code:
` -f /home/detintelligen_4/public_html/bin/magento setup:di:compile`

The log says:
[2016-12-13 21:25:49] main.ERROR:  -f /home/detintelligen_4/public_html/bin/magento setup:di:compile 2>&1
sh: 1: -f: not found [] []

If i ru

[2016-12-13 21:57] timstoel commented on #6335
We've recently moved to Magento from another platform and it has been a nightmare.  We're in production but it's terrible and we have so many workarounds and restrictions on use.  There should be a huge disclaimer on the Magento homepage next to the Magento 2 downloads saying this is NOT PRODUCTION READY -- DO NOT USE.

[2016-12-13 22:03] mcjwsk opened #7785 "Unable to add UI components to a customer edit form tab in backend"
### Preconditions
1. Magento 2.1.2 CE
2. PHP 7.0.13

### Steps to reproduce
1. Create a grid via ui components.
2. Add a new (ajax or standard) tab to the customer edit form in admin.
3. Add the grid to the tab.
4. Go to the customer edit page in admin and open the tab.

### Expected result
1. Spinner is hidden.
2. Grid is rendered.

### Actual result
1. Spinner is visible all the time.
2. Grid is

[2016-12-13 22:52] Ctucker9233 commented on #7408
@olysenko I decided to test out a different configuration where each store view is under the same website like so:
![store configuration](https://cloud.githubusercontent.com/assets/19523985/21161337/0067be02-c13d-11e6-9823-2240aff2eeb5.JPG)
I made sure it was set to use the correct theme, catalog, etc. The weird thing is even though I had the configuration of the theme like this,
![theme configura

[2016-12-13 23:31] ghost commented on #6335
@timstoel welcome to the club. Best advice I can offer, hire a part time dev to keep you stable.

[2016-12-13 23:42] LukasAEI opened #7786 "Cannot Install Theme / Integral Backend Errors on Install"
### Preconditions

1.  Sub-domain hosted from a Siteground Apache server, Linux OS, Cpanel
2. Version 2.1.2, MySQL Ver: 5.6.31-77.0 , Tried PHP: 5.6.28 and 7.0.13

### Steps to reproduce

1. Install fresh Magento installation through Softalicious,
2.Deploy Static Content (Or not, happens either way)
3. Log in to back end.

### Expected result

1. Non functional back-end buttons, developer and host

[2016-12-14 01:23] Sanfam commented on #6954
@olysenko , is there a good way to get a status update once a patch is created to address this issue?

[2016-12-14 01:58] eldonbite commented on #7712
Looks like we're experiencing the same issue (#7371).

[2016-12-14 06:24] iprabhakar commented on #4010
I am using M2.1.2 facing same issue, when I add product after login the not showing in mini cart. Please help me to resolve this issue.

[2016-12-14 07:28] eldonbite commented on #7782
Experiencing this as well. Two scenarios in our site wherein newsletter subscription emails are not being sent:

1. Register with the subscribe to newsletter option ticked: registration email is sent but no newsletter subscription email
2. Subscribe as a Guest user (unregistered email): no newsletter subscription email

[2016-12-14 07:59] ubedarab commented on #5196
Thanks, your solution Fixed My issue, I had same issue, :) :+1:

[2016-12-14 08:03] JacobDrummond commented on #7778
@vil11, related to #6323 ?

[2016-12-14 09:17] davideghz commented on #6404
Hi, same issue here with a theme that uses the "old"
`<a href="<?php echo $_lang->getCurrentUrl(); ?>">`.

Now, if I replace it with
`<a href="#" data-post='<?php echo $this->getTargetStorePostData($_lang); ?>'>`

I get the following error:

[2016-12-14 09:19] vzabaznov commented on #7596
hi @wicho91 thank you for your reporting, we will close this issue for now as no update more than 2 week was received, please feel free to write here or to open new issue if needed

[2016-12-14 09:19] #7596 closed, assigned to nobody

[2016-12-14 09:20] vzabaznov commented on #7571
hi @allamgr thank you for your reporting, we will close this issue for now as no update more than 2 week was received, please feel free to write here or to open new issue if needed

[2016-12-14 09:20] #7571 closed, assigned to nobody

[2016-12-14 09:23] vzabaznov commented on #7409
hi @dulv thank you for your reporting, we will close this issue for now as no update more than 2 week was received, please feel free to write here or to open new issue if needed

[2016-12-14 09:23] #7409 closed, assigned to nobody

[2016-12-14 09:29] vzabaznov commented on #7786
Hi @LukasAEI seems like you have problem with static assets deployments please check http://devdocs.magento.com/guides/v2.1/config-guide/cli/config-cli-subcommands-static-view.html and let me know if it helps?

[2016-12-14 09:31] vzabaznov commented on #7784
Hi @PGLDK please specify the magento version you are using

[2016-12-14 09:37] vzabaznov commented on #7781
Hi @sameasterling thank you for reporting, please check https://github.com/magento/magento2/blob/develop/CONTRIBUTING.md , format your issue due to https://github.com/magento/magento2/blob/develop/ISSUE_TEMPLATE.md and describe all steps to reproduce issue, we cannot start to work on this ticket with current information

[2016-12-14 09:42] #7774 closed, assigned to nobody

[2016-12-14 09:45] vzabaznov commented on #7766
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-12-14 10:13] ghost opened #7787 "REST Api: not returning option_id in any call"
Hi there,

I cant retrieve option_ids with any call, here below is where i assume the option_id is returned.

Repository: "catalogProductAttributeOptionManagementV1"
URL: "/V1/products/attributes/{attributeCode}/options"
Method: "GET"

**EDIT & FIXED**
the value key from the response is the option_id,
this is very unclear from my perspective

[2016-12-14 10:21] vzabaznov commented on #7754
@vasuscoin can u please update Actual and Expected result, they are the same now

[2016-12-14 10:23] PGLDK commented on #7784
Hi, sorry. Ver. 2.1.1.

[2016-12-14 10:26] amansilla commented on #5490
@TommyKolkman thx your solution is working for me.

[2016-12-14 10:29] Codivores commented on #7528
I have the same problem here with Magento 2.1.2.

I use live data with some additional attribute but the error is linked with area code, not with the product itself.

Here is a link that speaks about the same issue : http://magento.stackexchange.com/questions/145698/magento2-delete-product-from-cli

[2016-12-14 10:29] andidhouse commented on #5490
@amansilla do you work with table rates and more then two countries? our problem mentioned above still exists.

[2016-12-14 10:34] giacmir commented on #7528
@Codivores I had the area code problem too in the script above (see below the script). It can be mitigated by putting an ugly `session_start()` at the start of the `execute`. But then you will have the db to go deadlock (for no apparent reason).

There should be some strange behaviour at ObjectManager level when instantiating classes in the constructor.

[2016-12-14 10:40] vzabaznov commented on #7752
Please use our issue reporting template to describe this issue. The template specifies the version and configuration information we need to assess your issue. See the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) for more information.

[2016-12-14 10:43] Uvestudio opened #7788 "Some of magento 2 admin features not displaying"
Some of my magento admin page panels are not being displayed.

### Preconditions

1. I try to access to modify the logo for the default e-mail templates following Stores-Settings-Configuration-General-Design
2. Once I open "Design" it should display a tab called "E-mails".
3. Only a tab called "Search Engine Robots" is displayed.

### Expected result
From Magento 2.1.1 user Guide:

1. On the Admin

[2016-12-14 10:46] quienti commented on #7788
Not a bug: https://github.com/magento/magento2/issues/7520

[2016-12-14 10:51] guvra opened #7789 "[backend] Performance issues with the bulk edit component"
### Description

The bulk edit component has huge performances issues.
Each time bulk edit mode is enabled (using the "Modify" mass action), the component becomes exponantially slower, up to a point where the browser freezes.

This problem occurs on all grids that rely on the bulk edit component (customers, CMS blocks, CMS pages).

### Preconditions
1. Reproduced on Magento 2.1.2.
2. Tested browse

[2016-12-14 10:51] vzabaznov commented on #7747
Hi @kalessil thank you for reporting, internal ticket MAGETWO-62234

[2016-12-14 10:55] sevos1984 commented on #7435
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2016-12-14 10:55] #7435 closed, assigned to sevos1984

[2016-12-14 10:57] zanilee commented on #5473
Hi, @SasiKiranK!
Can't reproduce this behavior on the latest Magento2 develop
Do you still have this issue?

[2016-12-14 11:08] olysenko commented on #7413
Hi, thank you for your report. I was able to reproduce issue with downloadable product inside grouped product on clear Installed Magento instance. Internal issue MAGETWO-62235 was created

[2016-12-14 11:19] ghost commented on #7413
Hi Olysenko,

Thanks very much!

[2016-12-14 11:25] nntoan opened #7790 "Tax rules + Multi-currencies + Configurable products = Bug?"
Hello there,
As the title said, I found a very interesting bug which you may concern...

### Preconditions

1. Magento 2.1.2
2. PHP 7.0
3. MySQL 5.7
4. Ubuntu 16.04
5. Setup tax rules as the following image
![screenshot-tax-rule-2016-12-14-18-18-11](https://cloud.githubusercontent.com/assets/3891429/21180057/c7afc53a-c229-11e6-970c-c110400aed79.png)
6. Setup multi-currencies for your web store

##

[2016-12-14 11:27] #7788 closed, assigned to nobody

[2016-12-14 11:49] yaronish commented on #6234
Hi, @centerax

Agree with you, fields `created_at` and `updated_at` exist for all entities.
Catalog Inventory Item does not have such field because it always was part of product entity not standalone one.
But things are changing and now we can treat it as separate entity especially taking into account in Magento 2 it has dedicated repository.

This inconsistency will be fixed in one of the future

[2016-12-14 11:52] jurpro commented on #7483
hello everyone. is there any progress?
Thank you

[2016-12-14 11:57] centerax commented on #6234
Thanks again @yaronish I appreciate your quick reply.

Looking forward to have this merged in core.

[2016-12-14 12:10] vzabaznov commented on #7660
@deepak-netwin can you check please https://github.com/magento/magento2/commit/9515999f75fc728084079b8aae7ccc784cd8c1f3 and give us update

[2016-12-14 12:14] cscd98 opened #7791 "Composer require develop branch"
In my composer.json I have:

[code]

Due to the vast number of bugs with 2.1.2 I would very much like to develop with 2.2 (develop)

Is there any way in composer.json to pull directly from the develop branch of magento2?

In production (which is a while away) I will switch it back to 2.1.2

It's further complicated by the fact I am developing with enterprise.

[2016-12-14 12:42] deepak-netwin commented on #7660
@vzabaznov I already tried it but couldn't fix.

[2016-12-14 12:44] degaray commented on #2991
I have tried it in 2.0.10 and it is now fixed. However there is an issue with payment method "free" showing as an available method even though the cart total is not zero

[2016-12-14 12:48] YevSent commented on #7770
Hi @sanjay-wagento, thanks for reporting.
This is known issue and already fixed on develop branch. Also, this fix will be available in Magento 2.1.3 release.

If issue still will be reproducible, please, be free to reopen it.

[2016-12-14 12:48] #7770 closed, assigned to YevSent, alena-marchenko

[2016-12-14 12:58] Codivores commented on #7528
Can you give me a sample of code for the work around because I cannot have it working ? If I use object manager with or without session_start, I just get the same error.

What I use just now :

        $this->_productCollection->addAttributeToFilter('date_limite',
                array(
                    'from' => $debut->format('Y-m-d H:i:s'),
                    'to' => $dlc->format('Y-m-d H:i

[2016-12-14 13:05] MTheProgrammer commented on #7365
I have same issue in Magento 2.0.10 CE. Injected is array
`[instance => Some\Injected\Class]`
The one workaround i have found is to create array with required classes:

[code]

[2016-12-14 13:24] kh-badep commented on #5762
I installed Magento CE 2.1.2 with composer and I can't use this commit. I tried manually modifying the patched files and it completely broke my installation. Can you guys publish the next release with this patch or at least a patch for v2.1.2 because the whole CMS is unusable with this bug.

[2016-12-14 13:26] jtw372 opened #7792 "Magento 2.1.2 not respecting PHP values"
Closed -- issued resolved

[2016-12-14 13:27] lifemaxlimited opened #7793 "Checkout error for logged in existing (pre-migration) customer"
### Preconditions
1. Magento 2.1.2 - PHP7

### Steps to reproduce
1. Login in with existing customer
2. Add products to cart
3. Progress to cart

### Expected result
1. Cart should successfully complete

### Actual result
1. At the 'Reviews and Payments' step the cart throws an error when pressing 'Place Order':

'An error occurred on the server, please try to order again.'

On inspection its show

[2016-12-14 14:21] cizgidekiadam opened #7795 "Buy X Get Y Free not working (also tried with combinations)"
### Preconditions

1. v2.1.2
2. PHP 7.0.11

### Steps to reproduce

1. Create catalog price rule (Buy 3 Get 1 Free)
2. Add some conditions (Category, attribute etc ..)
<img width="998" alt="scr" src="https://cloud.githubusercontent.com/assets/4427628/21185155/29d26004-c218-11e6-81b8-9ef92b037643.png">

3. Save

### Expected result

1. Saving successful
2. Add 4 product to cart and expect 1 (lowest

[2016-12-14 14:23] sameasterling commented on #7781
Steps to Reproduce
1. Create a configurable product.
2. Set the first one in the configurations list of products to out of stock.

Expected Result
1. Magento should choose from one of the configurations that is in stock to represent the configurable product on the catalog page.

Actual Result
1. Magento chooses the out of stock configuration to represent the configurable product.
2. This creates a

[2016-12-14 14:40] cizgidekiadam commented on #5937
This issue seems resolved.
http://magento.stackexchange.com/questions/128580/magento-2-discount-depend-on-payment-method-does-not-work

[2016-12-14 14:42] flnative commented on #5925
Here is the issue and it resolved for me. This sounds like a bug to me. "Solved! I had to tick the 'Disable Automatic Group Change Based on VAT ID' box under customer group dropdown under the Account Information tab when you edit a particular customer's information."

http://stackoverflow.com/questions/23255545/magento-ce-customer-groups-changing-not-saving

[2016-12-14 14:45] flnative opened #7796 "In case you are still stuck: "Cannot change customer groups"; here is the answer"
Found the answer here when you cannot change a customer to another customer group. Looks like a bug to me. But Magento developers will say it is not.

http://stackoverflow.com/questions/23255545/magento-ce-customer-groups-changing-not-saving

Solved! I had to tick the 'Disable Automatic Group Change Based on VAT ID' box under customer group dropdown under the Account Information tab when you edit

[2016-12-14 15:10] TommyKolkman commented on #5490
@andidhouse I'm not sure why it fails for you. I haven't worked with your situation, but I do know that you need a region_id for Germany. So you might try to have that one required but not the others?

Other than that, I just want the Magento team to fix it for you, because this is quite a heavy bug. I've just done some eh... buggy patching.

[2016-12-14 15:12] Koc opened #7797 "Add possibility override product image placeholder via theme config xml"
### Preconditions

1.  Magento 2.1.2, PHP 7.0.11

Currently image placeholders can be changed by uploading in admin panel. This is inconvenient because of:

1. need upload images by hand after site deploy. It is better to ship theme with predefined placeholders
2. no way use different placeholders for different theme

Maybe same thing for watermark image

[2016-12-14 15:16] pitangaweb commented on #6183
Is there any news on that matter?
The fix linked by @unailopez16 looks risky to integrate, it looks like many files are involved.

[2016-12-14 15:20] unailopez16 commented on #6183
The issue is solved in Magento 2.1.2 version.

You can upgrade you Magento version @pitangaweb

[2016-12-14 15:24] pitangaweb commented on #6183
No, the issue is not solved with Magento 2.1.2
I'm still experiencing it on Magento 2.1.2 when customer account confirmation is required.

[2016-12-14 15:34] vil11 commented on #7778
Probably the cause is similar, but #6323 is fixed while this one is still can be reproduced.

[2016-12-14 15:57] jurgenbrouwer commented on #5973
Can you provide any update on this issue @AzVo ?
We ran into this as well using another language in the backend. For now we can use the English language in the backend since we are still developing.

[2016-12-14 16:12] mrkhoa99 commented on #7787
@SinisterGlitch it's better if you post your question on [Magento Stack Exchange](http://magento.stackexchange.com/).

[2016-12-14 16:27] worthige opened #7798 "Magento 2.1 REST API Adding and updating a gift card"
### Preconditions

1. Magento v2.1
2. C#

Is it possible to create a new gift card using the REST API?
We would like to import new gift card information from an external source and create the record in Magento.
We would also need to be able to update the remaining balance on a card.
The giftCardAccountGiftCardAccountManagementV1 requires a CartID which doesn't seem relevant for the use case that w

[2016-12-14 16:39] ihor-sviziev commented on #7155
This issue can be closed, it was fixed in chrome latest stable, now this issue is not reproducing

[2016-12-14 17:33] dreucifer commented on #7783
~~~Upon further review, an empty cart is created in the `quote` table, but `quote_id_mask` doesn't get populated, therefore the `quoteIdMaskFactory` methods in the `createEmptyCart()` function of `Magento\Quote\Model\GuestCart\GuestCartManagement` are silently failing.~~~

Nevermind, I was looking at the table sorted by masked_id, not quote ID. Disregard.

[2016-12-14 17:35] gman-1986 commented on #5836
Anyone tried the new release 2.1.3 to see if the issue is fixed? It includes 90 functional fixes.

[2016-12-14 18:11] romeof1980 commented on #7509
hi @vzabaznov ,
we're still facing this issue with Magento 2.1.2 and we're trying to get a solution.
By the way, we're waiting for Magento 2.1.3 or 2.1.4 because it seems some modification to the Braintree integration will be present in that upgrade.

thanks,
romeo

[2016-12-14 18:13] exreplay commented on #5893
If someone is having the same problem, that part of code in `minicart.js` has line breaks and indents:
[code]
Just add the checkout module to your theme `Magento_Checkout/web/js/view/minicart.js`, copy the minicart.js content and edit the specific part, so that it is one line.
[code]

[2016-12-14 18:46] springimport commented on #7766
@vzabaznov I have updated the question.

[2016-12-14 19:04] yzhang-bwgroup opened #7800 "Upgrade 2.0.10 to 2.1.2 - User Account heading at the bottom instead of at the top"
Hi,

I got some styling issues after updating to version 2.1.2 from magento 2 v2.0.10,
The heading of the user account page is moved to the bottom instead of staying on top of the page.
The below example shows the "My Orders" page in the user account with the heading at the bottom.
Other pages in the user account also have the same behavior.

If install v2.1.2 from scratch, I do not have this prob

[2016-12-14 19:31] erikhansen commented on #7399
I've encountered this issue on multiple projects.

[2016-12-14 19:57] ivanweiler opened #7801 "Including Tax - wrong totals and subtotals displayed on cart and checkout"
### Preconditions

1. PHP 7.0.8, MySQL 5.7.13
2. Magento 2.1.2

### Steps to reproduce

1. Navigate to Stores -> Configuration -> Tax
2. Set Default Tax Classes, Default Tax Destination Calculation
(have some tax preconfigured for this)
3. Calculation Settings -> Catalog prices: Including Tax (prices are entered with default tax on products)
4. Shopping Card Display Settings -> Display Prices: Inc

[2016-12-14 20:22] Koc opened #7802 "Provide command for cleaning generated data and cache"
### Preconditions

1. Magento 2.1.2 -> 2.1.3
2. PHP 7.0.11
3. redis cache

### Steps to reproduce

1. Upgrade using composer
2. execute `setup:upgrade` comand

### Expected result

1. updation process

### Actual result

1. An error message with suggest removing var/cache, var/page_cache etc

The main problem: I've forgot that my cache stored in redis instead of file. It is better create small com

[2016-12-14 20:40] ivanweiler commented on #7687
It seems that same problem exists with configuration multiselects. For example
Stores>Configuration>General>Top destinations - not possible to unselect all and save in 2.1.2.

[2016-12-14 20:47] bbtimx opened #7803 "Can´t update 2.1.2 to 2.1.3"
### Preconditions
Can´t update 2.1.2 to 2.1.3

### Steps to reproduce

1. Backend -> Web Setup Wizard
2. System Upgrade
3. Readiness Check

### Expected result

1.  Successful Readiness Check

### Actual result

![image](https://cloud.githubusercontent.com/assets/4718129/21200118/7d80a37c-c246-11e6-9f01-c211a0e30868.png)

[2016-12-14 21:19] AirmanAJK opened #7804 "Catalog Module UpgradeData to 2.1.3 breaks when cost attribute is deleted"
I just updated from CE 2.1.2 to CE 2.1.3

Upon running setup:upgrade, I received an error message on the command line:
Notice: Undefined index: attribute_id in /var/www/magento2/public_html/vendor/magento/module-catalog/Setup/UpgradeData.php on line 375.

This line of code occurs in a loop that attempts to update several attributes to a global scope. The attributes to be updated are: price, cost,

[2016-12-14 21:30] redelschaap commented on #7249
Is there any news or an ETA for this bug? @veloraven maybe?

[2016-12-14 21:31] dreucifer commented on #7783
Another weird issue is If I create a new empty cart then immediately use `GET /V1/guest-carts/{cartId}/items`, I get the `{ "message": "No such entity with %fieldName = %fieldValue", "parameters": { "fieldName": "cartId", "fieldValue": null } }` error, but if I wait a few seconds and do it again, I get a proper response. Trying to add a product to that same cart still fails like cartId isn't being

[2016-12-14 21:40] elenleonova commented on #7803
Hi @bbtimx,
This isn't an issue with core Magento. In this case your Magento requires a 3rd party extension - deltra/orgamax, which requires magento/framework 100.0.*. However, Magento 2.1.x
has magento/framework 101. *

So you need to have this extension updated to work with Magento 2.1.3.

[2016-12-14 21:40] #7803 closed, assigned to nobody

[2016-12-14 21:52] bbtimx commented on #7803
hi @elenleonova ,
but I haven´t even installed deltra/orgamax.
This Package I can´t install although..
Can you help me out?

Thx bbtimx

[2016-12-14 22:33] dthampy commented on #7804
Internal jira ticket - MAGETWO-62266 created.

[2016-12-15 00:48] Grumag commented on #5836
Well upgraded to 2.1.3 and it doesn't seem that this bug was fixed. Still manually re-indexing via ssh. On the upside, everything is quite a bit faster.

[2016-12-15 01:00] eldonbite commented on #7657
Didn't see this reported issue (due to the large stack of issues here):

X-Magento-Tags header too large #6401

Looks like that one already has a fix in M2.1.3, so I guess upgrading should fix this issue as well.

[2016-12-15 01:17] elenleonova commented on #5282
This issue has been delivered to 2.1.3 and 2.0.11 as of today.

[2016-12-15 01:18] elenleonova commented on #6487
This issue has been delivered to 2.1.3 and 2.0.11 as of today.

[2016-12-15 01:41] elenleonova commented on #4419
This issue has been delivered to 2.1.3 and 2.0.11 as of today.

[2016-12-15 01:41] #4419 closed, assigned to antboiko

[2016-12-15 01:43] elenleonova commented on #4442
This issue has been delivered to 2.1.3 and 2.0.11 today.

[2016-12-15 01:43] elenleonova commented on #5097
This issue has been delivered to 2.1.3 and 2.0.11 today.

[2016-12-15 01:43] elenleonova commented on #6645
This issue has been delivered to 2.1.3 and 2.0.11 today.

[2016-12-15 01:47] elenleonova commented on #4588
The issue has been delivered to 2.1.3 and 2.0.11 today.

[2016-12-15 01:48] elenleonova commented on #5798
This issue has been delivered to 2.1.3 and 2.0.11 today.

[2016-12-15 01:48] elenleonova commented on #6041
This issue has been delivered to 2.1.3 and 2.0.11 today.

[2016-12-15 01:49] elenleonova commented on #6097
This issue has been delivered to 2.1.3 and 2.0.11 today.

[2016-12-15 01:52] elenleonova commented on #3545
This issue has been fixed in 2.2.0, and will be delivered to 2.1.x soon.

[2016-12-15 01:52] #3545 closed, assigned to nobody

[2016-12-15 01:53] elenleonova commented on #4910
This issue has been fixed in 2.2.0

[2016-12-15 01:53] #4910 closed, assigned to nobody

[2016-12-15 01:54] Morgon commented on #6063
To change this request a little, I wouldn't mind if an exception was thrown if there is an attempt to set the area code to a different area. So, if code gets set for ``frontend`` multiple times, it should return null/false, but an unexpected change to another area would indicate possibly-undesired behavior and should be noted

[2016-12-15 01:55] elenleonova commented on #5279
This issue has been delivered to 2.1.3, 2.0.10 as well as 2.2.0

[2016-12-15 01:55] #5279 closed, assigned to nobody

[2016-12-15 01:57] elenleonova commented on #4881
The issue has been delivered to 2.1.3 and 2.0.11

[2016-12-15 01:58] elenleonova commented on #6442
This issue has been delivered to 2.1.3 and 2.0.11

[2016-12-15 01:58] #6442 closed, assigned to nobody

[2016-12-15 02:00] elenleonova commented on #5184
The issue has been released in 2.1.3

[2016-12-15 02:00] elenleonova commented on #5497
The issue has been released in 2.1.3

[2016-12-15 02:01] elenleonova commented on #5871
The issue has been delivered to 2.1.3

[2016-12-15 02:02] elenleonova commented on #5270
The issue has been delivered to 2.1.3

[2016-12-15 02:02] elenleonova commented on #5302
The issue has been delivered to 2.1.3

[2016-12-15 02:03] elenleonova commented on #5573
The issue has been delivered to 2.1.3

[2016-12-15 02:03] #5573 closed, assigned to nobody

[2016-12-15 02:05] ooples commented on #3870
I'm having this issue as well

[2016-12-15 02:13] twistedindustries opened #7805 "301s aren't generated for category parents on product url update"
Preconditions
1. Magento CE 2.1.3
2. PHP 7.0.14
3. MySQL 5.6.30

Steps to reproduce
1.   Create and save a 'top level' category as anchor  with 'url_key' = 'top-level'
2.  Create and save a 'child' category as a child to 'top level'  with 'url_key' = 'child'.
3.  Create and save new visible and active product assigned to 'child' category with 'url_key' = 'test-product-1'.
4.  Change 'url_key' = 't

[2016-12-15 02:44] twistedindustries commented on #5642
@parksdesign In my case the culprit was TIMEOUT_TIME in app/code/Magento/Payment/Model/IframeConfigProvider.php being set to 30 seconds, in most cases it just wasn't enough time.  I wrote a plugin to up that time and it seems to work.

[2016-12-15 03:31] manthanthakker commented on #7072
Whats the solution then?

[2016-12-15 04:48] pguedesbr commented on #7488
Is there a workaroud for this issue in order to add consecutive products (with custom options) to the cart? Maybe some way of reseting the cart before adding the second product?

I'm almost sure the error is due to some mixing/garbage information from the first added product affecting the next one to be added.

[2016-12-15 06:51] lovey11aug opened #7806 "product media api in magento 2 for image update by loading product"
I was using below code to fetch product images using product media api in magento 1.9.X version
**Mage::getModel('catalog/product_attribute_media_api');**

Please help me out that how I can load object of this model in Magento 2.
I only want object of this **"product_attribute_media_api"** model

[2016-12-15 07:36] erik-augustin commented on #5428
Same problem 2.1.3.;-(

[2016-12-15 07:48] sk-indiafin opened #7808 "General system exception happened"
Hello,

When i am going to import on local server It is imported successfully but on live server it is showing **"General system exception happened"** with same .csv file again and again in **Magento ver. 2.1.2**.
Please help us to solve this.
I have attached the .csv file also.

### Expected result

1. Import successfully done

### Actual result

1. General system exception happened

[Test.zip](h

[2016-12-15 08:06] staffrob commented on #5948
I have just upgraded 2.1.2 to 2.1.3:

2.1.3 release notes:

However, I am still having this issue. Has 2.1.3 resolved this for anyone? Perhaps I have missed something?

[2016-12-15 08:14] staffrob commented on #6799
I have just upgraded 2.1.2 to 2.1.3 and now price on configurable product page displays as $0 (zero) until an attribute is selected.

This only occurs if the first configurable attribute qty is 0 or out of stock.
If the first configurable attribute is in stock or >0 price on the cofigurable product page is as expected ie $79.95

[2016-12-15 08:29] erik-augustin opened #7809 "tracking code google analytics not place at pages 2.1.3"
### Preconditions

1. php 5.6
2. mysql 5.6

### Steps to reproduce

1. after upgrade to 2.1.3
2.
3.

### Expected result

1. tracking code at allpages worked at 2.1.2

### Actual result

1. [Screenshot, logs]

[2016-12-15 08:30] vacre commented on #7712
Looks like it. Yet another issue (#7790) has been reported of the problem.

[2016-12-15 08:33] vacre commented on #7790
This is the same issue as #7371 and #7712.

[2016-12-15 09:15] cscd98 opened #7810 "Disable add to basket"
We use Magento 2 for both ecommerce and non-ecommerce store fronts. In previous Magento versions we have had to edit templates to remove add to basket (category page, product page, crosssells, upsells, related products) and remove the basket link.

We've also had to disable the checkout through controllers.

Could we make this a standard magento 2 feature that turns this into an admin setting? rat

[2016-12-15 09:17] cscd98 commented on #6456
@sevos1984 update on this issue please?

[2016-12-15 09:32] zchking commented on #4506
does magento 2.1.3 solve this issue?

[2016-12-15 09:41] PingusPepan commented on #6413
Looks like fixed in 2.1.3! Update and test if it is fixed for you

[2016-12-15 09:45] andidhouse opened #7811 "Update 2.1.2 to 2.1.3 --> Out of stock products have no prices in frontend"
We just updated from 2.1.2 to 2.1.3

One Problem we realized is that out of stock products do not have prices anymore in the frontend (product page and category pages).

Can anyone else confirm this?
I the qty is 0 the price is just gone from the product.

Also we realized many new bugs in 2.1.3 and also only a handful bugs are fixed again 👎 .
Think time to put our work on another system - we real

[2016-12-15 09:46] philipvandebriel commented on #6413
Just finish the update to 2.1.3, yes it is fixed.

[2016-12-15 09:51] devdesco-ceo commented on #4506
Did not check the 2.1.3 yet, but in 2.1.2 I had to manually inject `requirejs-config.js` into frontend and adminhtml in order to solve the issue.

[2016-12-15 10:01] bhaiyyalal opened #7812 "Getting error after upgrade magento 2.0.5 to 2.1.2"
1 exception(s):
Exception #0 (InvalidArgumentException): Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery doesn'n extend \Magento\Framework\Data\Form\Element\AbstractElement

[2016-12-15 10:05] andidhouse opened #7813 "Deploy issue after update from 2.1.2 to 2.1.3"
Exact same system / template everything.
We never faced any problem with deploying on our system nor our template.

Now after upgrade from 2.1.2 to 2.1.3 and running:

hp bin/magento setup:static-content:deploy de_DE && php bin/magento setup:static-content:deploy

One error in the luma theme
One error in our custom theme

how can we debug this and why is there no headline of showing which theme is

[2016-12-15 10:12] lucav90 opened #7814 "Magento 2 - Problem guest cart REST - rest/V1/guest-carts"
Hi,

this is my php code to add a product on guest shopping cart, json response that the product is added on shopping cart but if i go to website (guest access) i don't view the product on cart page. How can do this?

How is wrong in my code?

`// section TOKEN
$userData = array("username" => "admin", "password" => "pass");
$ch = curl_init("http://www.website.it/index.php/rest/V1/integration/admin