[2015-05-12 20:39] mariarti opened #1276 "Magento 2 0.74.0-beta8 installation failed"
Installation is incomplete.
Check the console log for errors before trying again.

Installing admin user...

Enabling caches:
Current status:
Array
(
[config] => 1
[layout] => 1
[block_html] => 1
[view_files_fallback] => 1
[view_files_preprocessing] => 1
[collections] => 1
[db_ddl] => 1
[eav] => 1
[full_page] => 1
[translate] => 1
[config_integration] => 1
[config_integration_api] => 1
[config_web

[2015-05-12 23:03] tanya-soroka commented on #1236
Hello @tzyganu . Collapse all should not hide the selected category. So when you click collapse all the selected category and part (through the category) should be visible, other category structure should be collapsed. So I think that the use-cases provided by @kokoc  is correct one.

[2015-05-12 23:12] tanya-soroka commented on #1263
@sivajik34 Please check also if you enable Backorder.  if it's enabled that this message won't be display for you.

[2015-05-13 01:31] neginparsa commented on #1180
I don't have any update unfortunately. you can close the task I will reopen
when I tried and if I had any issues.
Thank you.

Sincerely
Negin Nickparsa

On Tue, May 12, 2015 at 9:57 AM, Sheila Nohe <notifications@github.com>
wrote:

[2015-05-13 02:18] mbrinton01 commented on #1276
Hello @mariarti, thank you for reporting this issue. It is a duplicate of https://github.com/magento/magento2/issues/1252, so I am closing this issue. You may follow the resolution on the other issue.

[2015-05-13 02:18] #1276 closed

[2015-05-13 06:46] tzyganu commented on #1236
@tanya-soroka Thanks for the explanation.This means that this is a feature not a bug. :smile: . I will close this.

[2015-05-13 06:46] #1236 closed

[2015-05-13 09:33] kokoc commented on #1273
@sivajik34 Thank you for reporting the issue. Internal reference: MAGETWO-37397

Related issue: #1272

[2015-05-13 09:33] kokoc commented on #1272
@sivajik34 Thank you for reporting the issue. Internal reference: MAGETWO-37398

Related issue: #1273

[2015-05-13 09:43] vpelipenko commented on #1168
Closed. There is no response from contributor.

[2015-05-13 09:43] #1168 closed

[2015-05-13 09:45] sivajik34 opened #1277 "products not saving in admin"
products are not able to save.continuously please wait message...

browser:mozilla
os:ubuntu 14.04

[2015-05-13 09:52] ilol commented on #1256
Thanks for that concern, @sivajik34. It is expected behavior. Thank you for your intention to make Magento better!

[2015-05-13 09:57] sivajik34 commented on #1256
wel come.so i'm closing the issue.

[2015-05-13 09:57] #1256 closed

[2015-05-13 10:03] sivajik34 opened #1278 "responsiveness issue"
i think team still working on responsive in admin side.just for remainder all order ,invoice view pages not properly aligned.you can close this issue it is still in progress.
browser:mozilla
ubuntu 14.04

[2015-05-13 10:08] sivajik34 commented on #1278
![order](https://cloud.githubusercontent.com/assets/7636894/7608332/18ec333e-f986-11e4-949f-06781934071d.png)

[2015-05-13 10:51] sivajik34 opened #1279 "related products not able to add to cart"
![related products](https://cloud.githubusercontent.com/assets/7636894/7608950/d595f998-f98b-11e4-975a-416efd833fdf.png)

there is no check boxes for related products .i think this is theme issue.

[2015-05-13 11:12] godban commented on #1278
Hello @sivajik34

Thank you for reporting issue. You are right, we are refreshing admin look and feel. Order page styles was changed with latest release.
We can't reproduce that issue. It seems that cache in your browser is deprecated. Please try to clean up it.

[2015-05-13 11:18] sivajik34 commented on #1278
i cleared all cookies and all in browser.still responsive issues are there in admin side.

[2015-05-13 12:21] villageseo commented on #1278
Hi @sivajik34,

May be recompiling *.less files will help, could you try to remove /pub/static/adminhtml folder ?
And what about other tabs (Shipments/Credit Memos), all right with them?

[2015-05-13 15:42] mazhalai commented on #1275
@needmoretoday "The page isn't redirecting properly'" is possibly a Firefox issue with cookies/headers/server configuration. Please see thread here: https://support.mozilla.org/en-US/questions/985967 and http://kb.mozillazine.org/The_page_is_not_redirecting_properly

[2015-05-13 15:43] victorgugo commented on #1265
@sivajik34 , at the current moment we couldn't reproduce the issue.
Could you provide more details, steps? Please, describe your environment

[2015-05-13 15:44] vpelipenko commented on #1270
hm.. still do not success with reproducing this issue locally. @sivajik34, could you provide more details if is possible? Does this issue happen on all your magento instances? Did you try to do new installation?

[2015-05-13 15:51] vpelipenko commented on #1279
@sivajik34, could you provide Magento version? Do you use sample data?

[2015-05-13 16:05] sivajik34 commented on #1279
ver. 0.74.0-beta8. with sample data

[2015-05-13 16:09] sivajik34 commented on #1270
ver. 0.74.0-beta8
![status](https://cloud.githubusercontent.com/assets/7636894/7615075/8fb2f782-f9b8-11e4-93d4-da78e7ef7e8a.png)

[2015-05-13 16:16] vpelipenko commented on #1279
Internal ticket: MAGETWO-30468

[2015-05-13 18:26] mklishevych commented on #209
Initial issue was not related to API at all. It was related to the situation, when some module (e.g. M2ePro) re-implements checkout functionality to create orders in magento, which came from 3rd party source (eBay in this case). And the problem was that subscription for event called "sales_order_item_save_commit_after" was explicitly configured for adminhtml and frontend event areas. Under the cro

[2015-05-13 21:10] needmoretoday commented on #1275
Thank you for your suggestion. i ran the command "php dev/shell/cache.php --set=1" to turned on cache. But seems the issue still there. I went back to check var/log/system.log, Saw error message that table 'customer_visitor'  expects 'customer_id' not 'visitor_id'.  i had manually alter 'customer_visitor' table.
Now I can load front page, but still got error after I login with admin panel.
Here is

[2015-05-14 04:36] bgkavinga opened #1280 "Product listing page caches the messages"
When I add/remove product from/to compare list in product listing page it displays the relevant message s. But it stays in the cache for ever. It does not get cleared once I refresh the page. It caches the entire view port including the message block.
![selection_022](https://cloud.githubusercontent.com/assets/3830093/7626154/cef954fa-fa20-11e4-88bd-5c86b7474285.png)

[2015-05-14 08:25] OnTapKristjan commented on #1216
Guys, in case your 'dev/tools/Magento/Tools/SampleData/install.php' fails
you can try the following workaround.

Run `php bin/magento setup:install --use_sample_data --admin_user=xxx --admin_password=xxx --admin_email=xxx --admin_firstname=xxx --admin_lastname=xxx`
To install sample data in TOP of your current data.

Or you can run `php bin/magento setup:install --cleanup_database --use_sample_dat

[2015-05-14 08:53] peterjaap commented on #1251
@sandermangel and me did some work on extending the M1 VAT validation logic with some extra services and a regex fallback; https://github.com/sandermangel/rkvatfallback

[2015-05-14 12:41] hostep commented on #1251
@peterjaap: cool!
I quickly ran through your code to see how it works. But I would put the regex checking **before** going to the validation service. So if the regex checks fail, you can immediately determine that the number is incorrect without having to wait for the API services.
If the regex check says the number is correct, only then go to the API service.
And if the API service is down, then

[2015-05-14 13:55] peterjaap commented on #1251
Thanks @hostep for your input.

I agree moving the regex to before the services is a good idea. Keeping the regexes up to date would be community effort I guess, unless Magento is willing to take up the glove.

Would you be in a position to share your regexes so we can improve the ones that are in rkvatfallback now?

About the Appspot one, you are right. I never noticed they got their data from VI

[2015-05-14 16:49] mazhalai commented on #1275
{{var/log/system.log}}  are not relevant. Are there any errors in  {{var/log/exception.log}} ?

[2015-05-14 17:05] muasir commented on #1152
@JesusTinoco we can't reproduce this bug any more.  Can you verify that, it is still an issue for you.

[2015-05-14 20:38] needmoretoday commented on #1275
I checked, no error in var/log/exception.log

[2015-05-14 21:11] jilu1 commented on #1160
Hi @tzyganu ,
We have fixed the issue you reported and the fix is available in public github. Could you please verify? Thank you!

[2015-05-15 06:14] tzyganu commented on #1160
@jilu1 Seams to be fine now. Still not a perfect solution, since filenames can contain single quote, but the risk seams small. If you don't plan do to any other changes you can close this.

[2015-05-15 09:16] kokoc commented on #1277
@sivajik34 Thank you for reporting the issue. However, we are unable to reproduce the issue using mozilla browser. Could you please verify the issue one more time and provide additional information:
Magento version, errors in log files, 404 pages, some specific steps to reproduce

[2015-05-15 12:11] kokoc commented on #1018
@bgalileo Magento2 solves this bug on application level in `\Magento\Reports\Model\Resource\Product\Index\AbstractIndex::updateCustomerFromVisitor` method.
We decided to keep `insertOnDuplicate` method in place as useful feature. Other related issues will be fixed in the same way or on DB level.

Could you please verify the fix?

[2015-05-15 12:28] kokoc commented on #1280
@bgkavinga Thank you for reporting the issue. Internal reference: MAGETWO-37505

[2015-05-15 14:55] tzyganu opened #1281 "ACL resource tree shows 2 checkboxes (kind of)"
**Version**
Magento2-0.74.0-beta8

**Steps to reproduce**

 - Log in the backend
 - go to system->user roles
 - click on Add role
 - go to the Role resources tab

**Expected result**

 - A tree structure with the ACL resources should be displayed.
 - Each resource name should have a checkbox beside it.
 - Clicking on the checkbox should check it and the parent nodes in the tree

**Actual result**

[2015-05-15 16:01] jilu1 commented on #1160
@tzyganu Thanks for your quick update!
We decided to reopen our internal ticket and do necessary fix as suggested. We will keep you informed.

[2015-05-15 18:36] yukoff commented on #1228
Thanks, it seems to be ok now.

[2015-05-16 11:24] sivajik34 commented on #1278
now its fine(Magento ver. 0.74.0-beta9).

[2015-05-16 11:24] #1278 closed

[2015-05-16 12:33] sivajik34 commented on #1277
after deleting pub/static/_requirejs/adminhtml
its working fine

[2015-05-16 12:33] #1277 closed

[2015-05-16 12:33] sivajik34 commented on #1265
after deleting pub/static/_requirejs/adminhtml
its working fine

[2015-05-16 12:33] #1265 closed

[2015-05-16 12:34] sivajik34 commented on #1262
after deleting pub/static/_requirejs/adminhtml
its working fine

[2015-05-16 12:34] #1262 closed

[2015-05-16 12:36] sivajik34 commented on #1270
after deleting pub/static/_requirejs/adminhtml
its working fine

[2015-05-16 12:36] #1270 closed

[2015-05-16 12:37] sivajik34 commented on #1271
its fine now.thank u.

[2015-05-16 12:37] #1271 closed

[2015-05-16 13:14] stefanorg opened #1283 "error during installation"
Magento Version: 0.74.0-beta9

[code]

[2015-05-16 13:27] #1283 closed

[2015-05-16 13:27] stefanorg commented on #1283
with a fresh clone of the repo and a new "composer install" everything works fine!

[2015-05-16 15:33] sivajik34 opened #1284 "order tracking link redirected to dashboard in admin"
![sales1](https://cloud.githubusercontent.com/assets/7636894/7666799/fb05d5ce-fc0e-11e4-95c0-c201b31a20ee.png)
![sales2](https://cloud.githubusercontent.com/assets/7636894/7666800/ffc0eeb4-fc0e-11e4-9971-8f910b5a1b35.png)

[2015-05-16 15:43] sivajik34 commented on #1284
steps to reproduce:
1. account created in front end.
2.order placed
3.added tracking number with custom value (carrier)
version:
Magento ver. 0.74.0-beta9

[2015-05-16 17:00] therouv commented on #1216
I can confirm that the sample data installation now works again! Thank you :-)

[2015-05-17 02:52] bgkavinga opened #1286 "Re-indexing error"
Hi,
I am getting following error when re indexing. v0.74.0-beta9
![image](https://cloud.githubusercontent.com/assets/3830093/7668841/c6371092-fc6d-11e4-84ac-d9698b4db593.png)

[2015-05-18 04:32] quynhvv commented on #1286
Hi guys,

How to re-index all data in Magento 2 0.74.0 - beta 9?
The Indexer was removed in Magento 2 0.74.0 beta 9 in folder path /dev/shell/...
I can not re-index data of Magento 2 by command line now.
Best Regards.

[2015-05-18 04:35] quynhvv commented on #1286
I have take this error too. Please check it.

On Sun, May 17, 2015 at 9:53 AM, B G Kavinga <notifications@github.com>
wrote:

--

Best regards, Quynh Vu Van.
<http://www.magentocommerce.com/certification/directory/dev/1639183/>
-------------------------------------------
Skype:  quynh.vv
Mobile:  098 525 2002

[2015-05-18 04:55] dbsdsun opened #1287 "setting target Module Name when generating a block"
Problem:
-----------------------------
1. One block may template files. The Module Name is used to determine the template file location.
2. MoudleB_BlockB can extend ModuleA_BlockA by specification in di.xml as following:
        <preference for="ModuleA_BlockA" type="MoudleB_BlockB" />

In this case, the MoudleB_BlockB should use ModuleA as its module name, rather than MoudleB.

Solution:
-------

[2015-05-18 09:49] MomotenkoNatalia commented on #1281
@tzyganu  Thank you, for your contribution. This issue is confirmed and related ticket has been added to the backlog (MAGETWO-37567).

[2015-05-18 10:07] bgkavinga commented on #1286
I can not see any products in listing pages. It seems to be using catalogsearch_fulltext search which fills the catalogsearch_fulltext table to display product in listing pages.
@quynhvv
`` php -f bin/magento indexer:reindex  ``  check `` php -f bin/magento list `` for list of available commands

[2015-05-18 10:09] kokoc commented on #1228
@yukoff Thank you for helping us make Magento better! Closing the issue.

[2015-05-18 10:09] #1228 closed

[2015-05-18 10:36] kokoc commented on #1124
@anton-vakulchyk Related pull request has been merged. Thank you for helping us make Magento better! Closing the issue.

[2015-05-18 10:36] #1124 closed

[2015-05-18 14:01] pccomfrank opened #1288 "Magento2 0.74.0-beta9 Succeccfully installed, sample-data installation failed"
Hi, Magento2 developers!
I have successfully installed Magento 2 0.74-beta9 on FreeBSD 10.1, but sadly, the admin page 404 not found and the front page is broken.

These are my settings and the logs:
uname -a
FreeBSD mail.pccom.ca 10.1-RELEASE-p9 FreeBSD 10.1-RELEASE-p9 #0: Tue Apr  7 01:09:46 UTC 2015     root@amd64-builder.daemonology.net:/usr/obj/usr/src/sys/GENERIC  amd64

php -m
[PHP Modules]

[2015-05-18 14:11] mazhalai commented on #1286
hello @bgkavinga and @quynhvv thank you for reporting this issue. We are tracking this issue internally with ticket MAGETWO-37400. Please watch this thread for when the fix is available.

[2015-05-18 14:16] mazhalai commented on #1288
@pccomfrank do you have mod_rewrite turned on? Have you tried steps mentioned in this [troubleshooting guide](http://devdocs.magento.com/guides/v1.0/install-gde/trouble/tshoot_no-styles.html)

[2015-05-18 15:14] pccomfrank commented on #1288
Thank you! That is the problem.
I fixed  in httpd.conf

LoadModule rewrite_module libexec/apache24/mod_rewrite.so

and the extra/httpd-vhosts.conf

<Directory /usr/local/www/kerynn.ca>
        Options Indexes FollowSymLinks
      AllowOverride All
#      Order Allow,Deny
        Require all granted
   </Directory>

Now it works. I will install the sample data now.

[2015-05-18 16:07] pccomfrank commented on #1288
Sample-data install failed:
Installing simple products:
[ERROR] exception 'Exception' with message 'Warning: fopen(): Filename cannot be empty in /usr/local/www/kerynn.ca/dev/tools/Magento/Tools/SampleData/Helper/Csv/Reader.php on line 64' in /usr/local/www/kerynn.ca/lib/internal/Magento/Framework/App/ErrorHandler.php:59
Stack trace:
#0 [internal function]: Magento\Framework\App\ErrorHandler->hand

[2015-05-19 08:09] paliarush commented on #1287
Hello @dbsdsun,

Looks like mentioned di.xml content is missing in the problem description. Please provide more details.

Thank you.

[2015-05-19 11:00] milanstojanov commented on #1288
I had the same issue and blogged about it http://mageclass.com/lets-start-with-magento-2/

The solution that worked is to run command-line installed. Ste by step tutorial available on the URL above.

[2015-05-19 11:10] theroch commented on #100
Here is an comment from another thread:
"We investigated moving to Doctrine, but it was too much work for the Magento 2.0.0 release. We may however do it in 2.1, 2.2, 3.0, or... (no commitment yet). When we do get to it, we may also change our mind whether to use ZF1, ZF2, Doctrine etc based on new information available."

[source]( http://magento.stackexchange.com/questions/37024/why-arent-magent

[2015-05-19 12:57] pccomfrank commented on #1288
Thank you very much!
I got success by using command-line installer. Now the website is up: http://kerynn.ca:8280

Also I change the memory_limit from 128M to 256M in php.ini.

I got the following error when it was 128M
....
Installing configurable products:
......PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 48 bytes) in /usr/local/www/kerynn.ca/vendor/magen

[2015-05-19 13:11] sivajik34 opened #1289 "Feature request:configurable product options price should calculate from based on simple product"
So many clients not interest to adjust price based on configurable base price.Its very helpful to customers  if magento provide option to use simple product  prices.

[2015-05-19 15:35] orlangur commented on #1289
Duplicate of  #335, tracked in MAGETWO-23739 internally.

[2015-05-19 16:39] mzeis opened #1290 "routeIdType doesn't allow numbers"
When defining a route in `etc/frontend/routes.xml`:

    <?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
        <router id="standard">
            <route id="mzeis_test123" frontName="test123">
                <module name="Mzeis_Test123" />
            </ro

[2015-05-19 22:16] cerebrumbr commented on #1157
Hello @vpelipenko - Perfect now, good job.

[2015-05-20 05:42] dbsdsun commented on #1287
In magento 2, a block can be extended as following:
-----------------------------------------------------------------------
1. add a preference in di.xml
    <?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
        <preference for="Magento\Theme\Block\H

[2015-05-20 08:40] joshdifabio commented on #335
What is the status of this issue for Magento 2? As someone who has worked full-time as a Magento 1 backend developer for almost six years at @ampersandhq, I can say that we have used configurable products on almost all of our clients' websites and we have never had a single client who has wanted to use price adjustments as implemented in Magento 1. I believe it is fundamental that Magento 2 provid

[2015-05-20 09:08] peterjaap commented on #335
Hear hear @joshdifabio. We have exactly the same experience. This definitely needs to be built-in in Magento 2. I mean, even WooCommerce has it by default.

[2015-05-20 10:05] inkysplat commented on #1018
I'm experiencing the same problem in Magento 1.9.11, any update on a fix for this?

[2015-05-20 11:51] crane-cio commented on #335
I absolutely agree, there is no reason this should not be built into the Magento 2, we use it in all of our sites.

[2015-05-20 12:00] kokoc commented on #869
@Crustymd since we haven't heard back from you, we'll proceed with closing this issue. If in case you do have any updates, feel free to reach out to us by submitting a new issue.

[2015-05-20 12:00] #869 closed

[2015-05-20 12:58] victorgugo commented on #1287
Hello, @dbsdsun

Thank you for interesting in Magento 2. Sorry, but from summary and description I couldn't catch what is the issue

1. Could you please clarify what functionality is working wrong?
2. Please, provide what problem you are solving, your steps, actual and expected behavior.
3. It would be also good if you format your proposed code snippet for solution of this problem, beacuse now it'

[2015-05-20 13:10] tzyganu opened #1291 "Preference in the wrong di.xml file"
This line from the `di.xml` file of the `Magento_Catalog` module

    <preference for="Magento\Framework\Pricing\PriceCurrencyInterface" type="Magento\Directory\Model\PriceCurrency" />

should be moved to the `Magento_Directory` module.
Having it like it is now forces a dependency that's not needed.

[EDIT]
While on the subject I found this line

    <preference for="Magento\Authorization\Model\Us

[2015-05-20 14:16] tzyganu opened #1292 "Admin menu with 1 submenu item does not show the subitem."
**Version**
Magento2-0.74.0-beta9

**Steps to reproduce**
I'm creating my own extension for learning purposes and this should add a new menu item in the backend with a single submenu item.

This is the code from my module's `adminhtml/menu.xml`

    <?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc

[2015-05-20 15:27] tanya-soroka commented on #335
Hello all. I would like to update you that team is currently working on changing configurable price according to your recommendation ( using simple price). Will be available soon.

[2015-05-20 15:30] peterjaap commented on #335
Great!!

[2015-05-20 15:30] Vinai commented on #335
:+1:

[2015-05-20 15:31] crane-cio commented on #335
Supper happy to hear this @tanya-soroka This alone will move up our adoption of M2

[2015-05-20 15:37] clockworkgeek commented on #335
:relieved:

[2015-05-20 16:53] sakiss opened #1293 "Installing over existing database"
Hi

I am trying to re-install magento over an existing database.
The installation goes until 98% and then i am getting an error:

*[ERROR] exception 'Magento\Framework\Exception\State\InputMismatchException' with message 'Customer with the same email already exists in associated website.' in /var/www/html/magento2/app/code/Magento/Customer/Model/AccountManagement.php:516*

Though my database has o

[2015-05-20 17:54] anupdugar commented on #1291
@tzyganu Thanks for pointing out the discrepancies. We have created an issue to investigate and fix it - MAGETWO-37820.

[2015-05-20 18:42] JamesAnelay opened #1294 "Add Gitter.im Badge/Chat Room to facilitate community communication."
Would you consider adding a Magento https://gitter.im/ button to the Magento2 Github Readme and setting up a Magento gitter chatroom for community members to talk to one another about Magento2 specific issues/projects.

[2015-05-20 18:54] anupdugar commented on #1293
@sakiss Thank you for reporting the issue.
Are you following the re-install steps from - http://devdocs.magento.com/guides/v1.0/install-gde/install/install-cli-uninstall.html#instgde-install-magento-reinstall ?

[2015-05-20 19:25] anupdugar commented on #1293
@sakiss Can you confirm if you are also installing the sample data?

[2015-05-21 04:15] mrRonyTran opened #1295 "Magento2 0.74.0-beta9 succeccfully installed but sample-data installation failed"
Hi, Magento2 developers!
I have successfully installed Magento 2 0.74-beta9 but sample-data installation failed.
"Installing configurable products:
..................................................
Fatal error: Maximum execution time of 3600 seconds exceeded in D:\projects\xamp
p\htdocs\magentov2\magento2\lib\internal\Magento\Framework\Object.php on line 50
1"

My php.ini
"
; Maximum execution ti

[2015-05-21 08:40] mrRonyTran commented on #1295
I fixed the issue but after sample data successfully installed, my homepage doesn't show content.
Magento2 0.74.0-beta9
"magento/sample-data": "~0.74.0-beta8"

![magento2](https://cloud.githubusercontent.com/assets/3252322/7744617/26b83e82-ffcf-11e4-8af5-55936b1b120e.png)

[2015-05-21 15:05] tzyganu opened #1296 "Urlrewrite module refactoring?"
This is more of a question and a personal oppinion than an issue, but it can be an issue if you want it to be :smile:
Right now the url rewrites are kind of limited to products, categories and cms pages and it makes really hard to extend the functionality to custom entities.
Let's take this example to make it clearer `Magento\UrlRewrite\Controller\Adminhtml\Url\Rewrite\Edit::execute()`

Notice the

[2015-05-21 15:20] sakiss commented on #1293
Yes i do. Can this affect it?

[2015-05-21 16:26] pierrefay commented on #1252
Thanks for the time passed on this issue. Which version should be installed to make the sample data works with the actual last magento2 version waiting the fix ?

[2015-05-21 19:29] anupdugar commented on #1293
@sakiss Thanks for confirming. Currently we have few known issues and a discussion underway around re-installing sample data from the Setup Wizard or from command line without an uninstall. I have created an issue MAGETWO-37854 to track this issue. Thanks again for reporting it.

[2015-05-21 19:56] anupdugar commented on #1290
Thanks for reporting the issue @mzeis.
Yes, it makes sense to allow numbers for route id attribute. I have created an issue to track this : MAGETWO-37855

[2015-05-22 00:40] dbsdsun commented on #1287
Let me make it simple.
this is the function in file lib\internal\Magento\Framework\View\Layout\Generator\Block.php, I put some comments in it
[code]
When Magento2 locates a template file of a block, the attribute (eg. "html/title.phtml") is not enough. **Magento2 also needs ModuleName of the block**. Therefore, ModuleName also needs to be set in step 2. One line of code is needed.

  **$block->set

[2015-05-22 07:29] orlangur commented on #1296
You're right, `Magento\UrlRewrite\Controller\Adminhtml\Url\Rewrite\Edit::execute` is legacy code which worked the same way when there were no `CatalogUrlRewrite` and `CmsUrlRewrite` modules, so, it's not extensible at all.

From modularity perspective:
- `Catalog` must not contain `UrlRewrite` usages
- `UrlRewrite` must not contain `Catalog`, `CatalogUrlRewrite`, `Cms`, `CmsUrlRewrite` usages
- `C

[2015-05-22 08:52] tzyganu commented on #1291
@anupdugar Should I add other discrepancies I find in here, or open separate issues for each module? I found an other one in `Magento_Eav` module that should be moved to `Catalog`.

[2015-05-22 12:45] rganin commented on #1293
@sakiss, did you install the same Magento version/revision or a new version over DB that was installed with one of previous versions?

[2015-05-22 16:30] anupdugar commented on #1291
@tzyganu Feel free to add it here and i will create separate issues if needed.

[2015-05-22 19:35] anupdugar commented on #1292
@tzyganu Thanks for reporting this bug. I have created an issue MAGETWO-37904 to track and get it fixed.

[2015-05-23 07:40] adzminz opened #1298 "How to import products with its images"
Hi,

Can someone please guide me how to import products with images using import functionality?

Here what I've tried:
1. Export an existing product to cvs as a template.
2. Transfer images to ../pub/media/catalog/product/import
3. Modify the template the products I want to add.
4. For any related image columns, put /import/example1.jpg

All products are successfully imported without images.

Than

[2015-05-24 07:27] tungmpo opened #1299 "Install magento 2.0 successfully but backend getting error"
Hi,
I have setup magento 2.0 successfully but when i login on backend. i can't  click on anything. there are many bugs on console relate to js
![magento2_error](https://cloud.githubusercontent.com/assets/12389930/7787075/d4dd2510-0220-11e5-9dbe-e0767daae85b.png)
Anyone can help me.  thank a lots!

[2015-05-24 16:09] JamesAnelay commented on #778
I agree that allthough this a possible way to do this. Apparently one of the aims of Magento2 is to make the admin freindly for merchants? This is certainly not obvious to a regular user.

[2015-05-24 16:42] Vinai commented on #1238
@HirokazuNishi  Adding custom customer attributes works fine.
Here an example upgrade script:

[code]

No XML is needed actually.

[2015-05-25 01:27] quynhvv commented on #1299
@Nguyen Danh Tung:

The seem you are using wamp server?
You can try update the needed PHP setttings at
PATH_TO_YOUR_WEBROOT_FOLDER/magento2/php.ini.sample

and if you use the wamp server you need to add more bellow configs to your
php.ini:
[xdebug]
xdebug.remote_enable = on
xdebug.profiler_enable = off
xdebug.profiler_enable_trigger = off
xdebug.profiler_output_name = cachegrind.out.%t.%p
xdebug.p

[2015-05-25 09:24] tzyganu commented on #1291
@anupdugar
In the `di.xml` for the `Eav` module there is this:

    <type name="Magento\Eav\Model\EavCustomAttributeTypeLocator">
        <arguments>
            <argument name="serviceEntityTypeMap" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\ProductInterface" xsi:type="const">Magento\Catalog\Api\Data\ProductAttributeInterface::ENTITY_TYPE_CODE</item>
            </argu

[2015-05-25 10:29] alexvandervegt opened #1300 "Creating product error with startdate"
When creating products with php:

\Magento\Catalog\Api\Data\ProductInterface on save function

I get this error since the last update to beta10:

main.CRITICAL: Class Magento\Catalog\Model\Product\Attribute\Backend\Startdate does not exist [] []

[2015-05-25 10:45] alexvandervegt commented on #1300
Needed to update eav_attribute table, this was not handled with:

bin/magento setup:upgrade

[2015-05-25 15:11] tanya-soroka commented on #1289
Closed as duplicate of #335

[2015-05-25 15:11] #1289 closed

[2015-05-25 16:55] kokoc commented on #1216
The fix is now available in 0.74.0-beta9. Thank you very much for your contribution and continued support to Magento 2!

@minhluan259 Could you please verify the issue?

[2015-05-25 17:20] jialuni commented on #1299
I have the same (unresolved) problem, since I updated my project recently to 0.740.beta10, with the resources in /pubs/ : 404 errors

When I try to request http:<my_project>/pub, it return me the index page without CSS
When I try to request http:<my_project>/pub/<some existing file of folders> : blank content.

But all files are physically when they need to be, in the correct path.

Seems that som

[2015-05-25 19:56] mad0house opened #1301 "Before and after not working correctly?"
This does not seem to generate the expected content
main.xml
[code]
2columns.xml
[code]
default.xml
[code]

would expect the final html to be
[code]
but I get
[code]

[2015-05-26 04:02] minhluan259 commented on #1216
By Setup Wizard:

![capture](https://cloud.githubusercontent.com/assets/7834473/7804807/755ff298-0392-11e5-8c7a-342f4b63c37d.PNG)

After setup:

![capture2](https://cloud.githubusercontent.com/assets/7834473/7805078/4a112cc0-0396-11e5-804c-2cf63e316dca.PNG)

I enter command: php -f dev/tools/Magento/Tools/View/deploy.php
Could not open input file: dev/tools/Magento/Tools/View/deploy.php

![capture

[2015-05-26 06:55] Vinai opened #1302 "Where can I get Magento_SampleData module"
Hi,

in the latest develop branch `\Magento\Setup\Model\Installer` the following code can be found:

[code]

The `\Magento\Setup\Model\SampleData::isDeployed()` method checks it a module `Magento\SampleData` is present.

[code]
If I read that correctly, a sample data module needs to exist at *app/code/Magento/SampleData*.
However, installing the sample data via composer by using

[code]
installs *

[2015-05-26 07:01] buskamuza commented on #1302
Hi @Vinai,
Currently the SampleData module is not published yet, so unfortunately installation of sample data is skipped during installation. Until the module is published, script from dev/tools can be used after magento installation to install sample data. The sample data module should be available soon.

[2015-05-26 07:12] buskamuza commented on #1216
Hi @minhluan259,

1. Regarding sample data. Due to structure changes in the Sample Data packages, temporary it's not installed during Magento installation. It should be fixed soon apublishingcation of a new sample data module. Meanwhile sample data can be installed via a separate tool dev/tools/Magento/Tools/SampleData/installphp
2. Regardind deploy.php tool. It has been converted to a command 'se

[2015-05-26 07:14] Vinai commented on #1302
Thanks @buskamuza!

[2015-05-26 07:15] #1302 closed

[2015-05-26 08:54] bgkavinga commented on #1286
Hi,
This issue is no longer exists in 0.74.0-beta10. But I am getting following error
``Product Categories index has been rebuilt successfully in 00:00:00
Class Magento\Catalog\Model\Product\Attribute\Backend\Startdate does not exist``
Anyway it complete the indexing process successfully

[2015-05-26 10:13] asemenenko commented on #1298
Hi @adzminz

We already have this improvement assigned to the development team and it is in progress. We will update you once it gets resolved.

/regards
Andrii

[2015-05-26 11:33] jamescowie opened #1303 "Improve error message around console CLI for installing"
When using the new CLI to install magento and there is an already existing `app/etc/config.php` then the error message returned makes no sense.

[code]

Perhaps this is an edge case but it might be good to check if the file exists before generating some errors ?

[2015-05-26 11:41] Vinai commented on #1303
Ran into that, too. Simply adding the file name that contains the duplicates to the error message already would help a good deal.

For anybody who endy up here via google: remove the app/etc/config.php and app/etc/env.php before reinstall

[2015-05-26 12:50] jamescowie commented on #1299
Hello I am having the same issues in Beta 10. Looking at the issue it seems that on install when the pub assets are created then it is creating the symlink incorrectly.

`magento-icon.svg -> /var/www/app/design/adminhtml/Magento/backend/web/images/magento-icon.svg`

The path should be:
`/var/www/magento2/app/design/adminhtml/Magento/backend/web/images/magento-icon.svg`

Notice that the `magento2`

[2015-05-26 13:23] jamescowie commented on #1299
If you error is the same as mine and the path to the symlinks is wrong what I had to do was remove ( delete ) pub/static/frontend && adminhtml and then via the new cli run `php bin/magento setup:static-content:deploy`

I think this was because I have been using this code base for some time and upgrading / moving VM's

[2015-05-26 13:32] jamescowie opened #1304 "Is PHP-XSL a requirement for Magento now ?"
Testing the new Beta and CLI I get class not found for XLST lib unless I install `php-xsl` is this now a required dependency on magento ? If so I will update the dev documentation around this.

[2015-05-26 13:42] aishwaryacedcoss opened #1305 "Sample data problem..."
I have installed sample data through a command :-
composer config repositories.magento composer http://packages.magento.com
then after its generate autoload files ,
After that to run the installer I have run :
php dev/tools/Magento/Tools/SampleData/install.php --admin_username=username

In this command it gives:-
Usage: php -f install.php -- --admin_user= [--modules=] [--bootstrap=]
--admin_user -

[2015-05-26 13:55] orlangur commented on #1304
Yes, however it is currently missing in [composer.json](https://github.com/magento/magento2/blob/develop/composer.json).

[2015-05-26 14:00] mazhalai commented on #1299
@tungmpo Thank you for reporting this issue. Have you tried suggestions from @quynhvv @jialuni and @jamescowie? Please let us know if you are still having issues.

[2015-05-26 14:02] mazhalai commented on #1300
@alexvandervegt Thank you for reporting this issue. Where did you get this error? Can you be more specific about

Are you using a custom script?

[2015-05-26 14:05] alexvandervegt commented on #1300
Hi,

This was in a custom script for adding products automaticly.

It was solved after editing the eav_attribute table in the database. In the last update the:

Magento\Catalog\Model\Product\Attribute\Backend\Startdate

was moved to:

Magento\Catalog\Model\Attribute\Backend\Startdate

bin/magento setup:upgrade did not make this edit in an existing database so I needed to manually edit the table.

[2015-05-26 14:06] mazhalai commented on #1303
@jamescowie and @Vinai Thank you for your feedback. We have created internal ticket MAGETWO-37941 to come up with a solution.

[2015-05-26 14:07] mazhalai commented on #1304
@jamescowie Thank you for reporting this issue. We are aware of this issue and are working on it in ticket MAGETWO-37766.

[2015-05-26 14:08] mazhalai commented on #1305
@aishwaryacedcoss, what version of magento are you using?

[2015-05-26 14:18] mazhalai commented on #1301
@mad0house Thank you reporting this issue. We have created internal ticket MAGETWO-37942 to investigate this issue.

[2015-05-26 14:32] voleye commented on #1305
You need to run command:
php dev/tools/Magento/Tools/SampleData/install.php --admin_username=<username>

where <username> - correct admin user name in your store

[2015-05-26 14:44] chrom opened #1306 "proposal: global search extend"
extend global product search through search the pages of the blog (CMS page)

[2015-05-26 14:49] mazhalai commented on #1305
@aishwaryacedcoss I just noticed, your command has `--admin_username` but usage shows `--admin_user`. Please make this correction and try again.

[2015-05-26 14:57] bgkavinga commented on #1286
I have resolved above mentioned issue by replacing Startdate with Datetime in eav_attribute

[2015-05-26 14:57] #1286 closed

[2015-05-26 15:07] mazhalai commented on #1300
Thank you for clarifying @alexvandervegt, we have created internal ticket MAGETWO-37944 to track this fix.

[2015-05-26 15:56] choukalos commented on #1306
Hi @chrom ; it's on our roadmap for post 2.0 release.  We'll add CMS to search results.  Internal Epic - MAGETWO-11439

[2015-05-26 20:17] specshack opened #1308 "Integrity constraint errors loading sample data in new db"
Using the CLI instruction

to load the data for **0.74.0-beta10**, I am receiving the following error when it begins to load Orders:

.exception 'PDOException' with message 'SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '000000001-1' for key 'UNQ_SALES_ORDER_INCREMENT_ID_STORE_ID'' in /Library/WebServer/Documents/magento2/vendor/magento/zendframework1/library/Zend/Db/Statem

[2015-05-26 20:55] cerebrumbr opened #1309 "Autoload error: Class XSLTProcessor does not exist"
See image below.

In beta10.

Generate this error.

Autoload error: Class XSLTProcessor does not exist

When I try execute this command ...

php -f bin/magento module:enable Apsense_hello

![captura de tela de 2015-05-26 17 18 41](https://cloud.githubusercontent.com/assets/2263217/7823167/0730140e-03d0-11e5-970b-9fc3462d4a9b.png)

[2015-05-26 21:13] ddeppner commented on #1308
I followed the precise instructions for installing rgranadino's Magento 2 vagrant box at:

https://github.com/rgranadino/mage2_vagrant

At step 6 of his install instructions I chose "reinstall -s" to install sample data and reproduced this error exactly:

...
Installing orders:
.exception 'PDOException' with message 'SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '000000001-

[2015-05-26 21:18] therouv commented on #1309
Hi @cerebrumbr !
`php-xsl` is a dependency now, you have to install the corresponding PHP module. See #1304

[2015-05-27 00:17] buskamuza commented on #1308
@specshack , @ddeppner , please, try it now. Updated structure of Sample Data has been just published and it should be installed correctly (Sample Data packages of version `0.42.0-beta10` should be fetched by Composer)
Tested on this Vagrant installation https://github.com/buskamuza/magento2-product-vagrant

[2015-05-27 00:19] buskamuza commented on #1216
Sample Data packages are fixed now. Please, try to reinstall. `magento/sample-data` meta-package of version `0.74.0-beta10` should be used.

[2015-05-27 00:22] buskamuza commented on #1302
@Vinai , FYI, Sample Data module is available now. If you use `magento/sample-data` of version `0.74.0-beta10`, you should be able to install Sample Data during Magento installation.

[2015-05-27 01:47] astorm opened #1310 "Development Errors Result in Too Many Redirects"
When an error/uncaught-exception occurs Magento 2, with developer mode on, the current system behavior is to redirect the user to the home page, and then the home page will display the error/exception message.

This often creates a "too many redirects" problem

The "too many redirects" problem happens if

- There's an error during Magento's homepage loading

- There's an error with/in an observer

[2015-05-27 04:17] specshack commented on #1308
Getting completely different errors now BEFORE even getting to the install data steps:

In this section of the install process:

the entire installation stalls at this point:

Installing data..

This is at approximately the 70% completed mark.

This is happening with a fresh clone. No errors are reported in the logs. The install log shows only the following status statement:

The debug log shows:

[2015-05-27 04:31] specshack commented on #1308
FWIW, I am not running this on a Vagrant box.

[2015-05-27 07:02] buskamuza commented on #1308
@specshack, thanks for the info. Could you, please, clarify couple more things?
1. Do you run installation on an empty db?
2. Could you, please, provide full installation output?

Thanks

[2015-05-27 08:23] tungmpo commented on #1299
Hi,
I have fixed it.  this is my solution

**************************************Fix Erorr can't load js and css in back end***********************************

1. enable "developer" mode (add SetEnv MAGE_MODE developer in root .htaccess file)
2. remove everything, except .htaccess file from pub/static folder
3. open the web-site
4. find one of non-loaded jquery resources and open it in the browse

[2015-05-27 09:02] kokoc commented on #1295
@mrRonyTran Thank you for reporting the issue. However we are unable to reproduce this issue. Seems like the sample data installation process was interrupted. Could you please provide additional information from error.log file?

[2015-05-27 09:05] minhluan259 commented on #1216
@buskamuza . It still error:
![capture](https://cloud.githubusercontent.com/assets/7834473/7832538/138c2b6a-048a-11e5-8451-ee1797c8a0a3.PNG)
![capture3](https://cloud.githubusercontent.com/assets/7834473/7832539/14f9929e-048a-11e5-91cb-9a108c858b96.PNG)

[2015-05-27 09:14] mrRonyTran commented on #1295
@kokoc I'm sorry, I have removed log file. I've installed multiple times but getting this error
"Fatal error: Maximum execution time of 3600 seconds exceeded in D:\projects\xamp
p\htdocs\magentov2\magento2\lib\internal\Magento\Framework\Object.php on line 50
1"
My php.ini
; Maximum execution time of each script, in seconds
; http://php.net/max-execution-time
; Note: This directive is hardcoded to

[2015-05-27 10:23] kokoc commented on #1268
@maboiteaspam The fix now available in 0.74.0-beta10. Thank you very much for your contribution and continued support to Magento 2! Could you please verify the issue?

[2015-05-27 10:28] kokoc commented on #566
@arhu32 The fix is now available in 0.74.0-beta10. Thank you very much for your contribution and continued support to Magento 2! Could you please verify the issue?

[2015-05-27 10:28] kokoc commented on #1269
@sivajik34 The fix is now available in 0.74.0-beta10. Thank you very much for your contribution and continued support to Magento 2! Could you please verify the issue?

[2015-05-27 10:38] kokoc commented on #1295
Your `php.ini` is configured properly. Could you place `<?php phpinfo();` code somewhere in document root directory and check that web server uses correct `php.ini` file and settings are correct?

Please note: .htaccess files could override these values

[2015-05-27 10:41] kokoc commented on #1200
@sivajik34 The fix is now available in 0.74.0-beta10. Thank you very much for your contribution and continued support to Magento 2! Could you please verify the issue?

[2015-05-27 10:45] kokoc commented on #1233
@tzyganu The fix is now available in 0.74.0-beta10. Thank you very much for your contribution and continued support to Magento 2! Could you please verify the issue?

[2015-05-27 10:46] kokoc commented on #1040
@rvpatel the fix is now available in 0.74.0-beta10. Thank you very much for your contribution and continued support to Magento 2! Could you please verify the issue?

[2015-05-27 10:47] kokoc commented on #1246
@sivajik34 The fix is now available in 0.74.0-beta10. Thank you very much for your contribution and continued support to Magento 2! Could you please verify the issue?

[2015-05-27 10:47] kokoc commented on #1222
@sivajik34 The fix is now available in 0.74.0-beta10. Thank you very much for your contribution and continued support to Magento 2! Could you please verify the issue?

[2015-05-27 10:48] kokoc commented on #1237
@tzyganu The fix is now available in 0.74.0-beta10. Thank you very much for your contribution and continued support to Magento 2! Could you please verify the issue?

[2015-05-27 10:48] kokoc commented on #1046
The fix is now available in 0.74.0-beta10. Thank you very much for your contribution and continued support to Magento 2! Could you please verify the issue?

[2015-05-27 10:49] kokoc commented on #1046
@Mackovey The fix is now available in 0.74.0-beta10. Thank you very much for your contribution and continued support to Magento 2! Could you please verify the issue?

[2015-05-27 10:49] adzminz commented on #1308
@specshack @buskamuza, I got the same error while installing Magento2 via web browser. The installation process stopped around 70%.

I ran installation on an empty db.

[2015-05-27 10:56] kokoc commented on #1216
Similar issue #1295

[2015-05-27 12:49] voleye commented on #1216
@minhluan259, do you have xdebug enabled?

[2015-05-27 13:27] specshack commented on #1308
Yes, it ran on an empty db.

Installation output:

Starting Magento installation:
File permissions check...

Enabling Maintenance Mode...

Installing deployment configuration...

Installing database schema:
Schema creation/updates:
Module 'Magento_Store':
Installing schema..

Module 'Magento_Directory':
Installing schema..

Module 'Magento_Backend':

Module 'Magento_Backup':

Module 'Magento_Theme

[2015-05-27 13:41] chrom commented on #1306
where is i can see magento 2 road map?

[2015-05-27 14:01] mazhalai commented on #1309
@cerebrumbr thank you for reporting this issue. However, it is a duplicate of #1304, hence closing this ticket.

[2015-05-27 14:01] #1309 closed

[2015-05-27 14:04] tzyganu commented on #1237
@kokoc  it works nicely on beta10. Thank you for the fix.

[2015-05-27 14:04] #1237 closed

[2015-05-27 14:04] tzyganu commented on #1233
@kokoc  it works nicely on beta10. Thank you for the fix.

[2015-05-27 14:04] #1233 closed

[2015-05-27 14:17] mazhalai commented on #1310
@astorm thank you for reporting this issue. We have created ticket MAGETWO-37969 to investigate this issue.

[2015-05-27 14:24] mazhalai commented on #1308
@specshack can you please try `bin/magento setup:uninstall` before installing again?

[2015-05-27 14:24] kokoc commented on #1295
We found a source the issue. It's located in Magento\SampleData\Model\Installer:78. You can remove this line as temporary workaround.

Internal task is created: MAGETWO-37970

[2015-05-27 14:26] kokoc commented on #1216
@minhluan259 we identified a source of timeouts. Appropriate item is placed in backlog: MAGETWO-37970.

[2015-05-27 16:03] specshack commented on #1308
I ran that before this install attempt. I will do it again and report back

[2015-05-27 16:22] xcomSteveJohnson commented on #1303
FWIW, you can also use the workaround here: http://devdocs.magento.com/guides/v1.0/release-notes/changes_074-beta10.html#rn-074b10-changes

[2015-05-27 16:25] buskamuza commented on #1216
@minhluan259, thanks for the details. Could you, please, help us to clarify installation of Sample Data?
1. Have you installed the latest version of Sample Data (`0.74.0-beta10`)?
2. Do you have Sample Data module (`app/code/Magento/SampleData`)?
3. Do you have `sampledata:install` command available in `./bin/magento list` tool?

Thanks for the hellp

[2015-05-27 16:42] sivajik34 commented on #1200
its working fine.thank you

[2015-05-27 16:42] #1200 closed

[2015-05-27 16:46] sivajik34 commented on #1222
so sku scope should be global only.i mean observed we cant edit.its working fine.thank u.

[2015-05-27 16:46] #1222 closed

[2015-05-27 17:00] sivajik34 opened #1311 "when saving product in admin"
{"error":true,"html_message":"<div class=\"messages\"><div class=\"message message-error error\"><div data-ui-id=\"messages-message-error\" >Class Magento\\Catalog\\Model\\Product\\Attribute\\Backend\\Startdate does not exist<\/div><\/div><\/div>"}

Magento ver. 0.74.0-beta10

[2015-05-27 17:19] minhluan259 commented on #1216
@buskamuza
1. Yes, I has installed the last version of Sample Data.
composer require magento/sample-data:~0.74.0-beta9
2. Yes, I has Sample Data module.
3. Yes, I has  sampledata:install command.

[2015-05-27 17:22] minhluan259 commented on #1216
@voleye, I has xdebug enabled.
[XDebug]
zend_extension = "D:\App\php\ext\php_xdebug.dll"
xdebug.max_nesting_level=50000
xdebug.profiler_enable = 0
xdebug.profiler_enable_trigger = 0
xdebug.profiler_output_dir = "D:\App\tmp"
xdebug.profiler_output_name = "cachegrind.out.%t-%s"
xdebug.remote_enable = 1

[2015-05-27 17:54] mazhalai commented on #1311
Thank you for reporting the error @sivajik34. It looks like this is similar to #1300

[2015-05-27 18:21] specshack commented on #1308
After running **magento setup:uninstall** and then **composer update** the installation via the web interface completed, including installation of sample data seemingly without error.

Upon completion of the install, I clicked on the **Launch Admin** button and immediately got a 404:

I then checked the frontend and got something of a hot mess of a page. The topmost section shows only unformatted

[2015-05-27 18:39] specshack commented on #1308
Nope. System stops again at 70% installation threshold (see prior install log in earlier message, it's identical).

Am not able to install the system at all, even without sample data. No idea what's going on now. I've been successfully installing since the -alphas and have never had this problem. Getting very frustrated and wishing I had skipped this rev.

[2015-05-27 19:47] buskamuza commented on #1216
@minhluan259 , thanks so much!
Could you, please, try `./bin/magento sampledata:install` command instead of the tool from `dev/tools/...SampleData`? The Sample Data had to be deleted by Composer, but looks like it didn't (as I can see from your screenshot). We'll check it.
The tool may be outdated comparing to the new command.

[2015-05-27 20:22] buskamuza commented on #1308
@specshack , I'm sorry that you have so bad experience with installation.
Could you, please, try CLI installation?
[code]
(substitute with your values).

Web Installation doesn't handle errors correctly in some cases on some environments and CLI version is more verbose (fixes are not in the repository yet).

Do I understand correctly, that you could install Magento via Web Wizard with Sample Data

[2015-05-27 21:03] atrhacker commented on #1250
this issue seems to be deeply linked with IIS webserver.
You 404 access to admin is simply a URL redirection issue, add http://url-of-magento/index.php/admin/ and you will see the admin logging page.
Do you have a IIS webserver ?
I'm encountering the same issue .

Basically after configuring composer etc.. the installations runs well. No error mentioned during the installation process etc..

Howev

[2015-05-28 01:46] specshack commented on #1308
**Here's the new status:**

AFTER I deleted my local repo, I cloned the latest rev directly from github via the CLI. I had previously been cloning to the desktop (it's always worked in the past). I cleared the composer cache, re-ran composer install with sample data enabled in the composer.json file. As the following shows, composer seems to have done its job properly (these are the last two lines

[2015-05-28 02:01] atrhacker opened #1312 "No folder /pub/static/frontend and /pub/static/backend after installation"
Hello Magento Early Adopters,

I'm having this weird error and I did not suceed to find the origin. First of all I would like to say that I succeeded to perform some installation of Magento 2 on a windows os with a xampp server before.

I'm now trying to install a magento instance on Windows Server with IIS

Basically after configuring composer etc.. the installations runs well. No error mentioned

[2015-05-28 02:22] minhluan259 commented on #1216
@kokoc , @buskamuza. After remove set_time_limit(3600) on line 78 Magento\SampleData\Model\Installer and install (about 2h, so slowly) by Setup Wizard have success.
But another issue:
![capture](https://cloud.githubusercontent.com/assets/7834473/7851004/544c810c-0513-11e5-81c8-fc6eeb601a41.PNG)
setup:static-content:deploy (about 1h)
![capture2](https://cloud.githubusercontent.com/assets/7834473/78

[2015-05-28 02:54] specshack commented on #1308
Finally got everything installed and working via web interface. Never did get the CLI to play nice re: loading the sample data. Always failed to find the input file.

This thread can go silent now.

[2015-05-28 04:54] buskamuza commented on #1312
Hi @atrhacker ,

you're right - the files for `pub/static` folder should be generated automatically.
But to do this, the Magento application requires Apache's `mod_rewrite` or alternative solution.
We officially do not support IIS, but you can look at https://github.com/magento/magento2/issues/626 , it has a link to Stackoverflow with explanation of how to transform `mod_rewrite` directives to IIS

[2015-05-28 04:55] mrRonyTran commented on #1295
@kokoc Ok, thanks, I will try again.

[2015-05-28 08:15] sivajik34 commented on #1311
yes.but this is from admin interface.

[2015-05-28 08:34] sivajik34 opened #1313 "404 errors"
In product list page,search result page clicking products giving 404 error.

[2015-05-28 08:36] sivajik34 commented on #1313
i have done reindex and deleted cache & full page cache also.
➜  bin git:(develop) ✗ php magento indexer:reindex
Category Products index has been rebuilt successfully in 00:00:00
Product Categories index has been rebuilt successfully in 00:00:00
Class Magento\Catalog\Model\Product\Attribute\Backend\Startdate does not exist
Product EAV index has been rebuilt successfully in 00:00:06
Stock index has

[2015-05-28 09:22] kokoc commented on #1280
@bgkavinga the team has processed this ticket. Code changes have just been deployed in version 0.74.0-beta10. Thank you for your contribution! Could you please verify the fix?

[2015-05-28 12:49] benmarks commented on #1294
Hmmm. Looks promising. Definitely something we'll consider.

[2015-05-28 14:15] mazhalai commented on #1311
Yes, but the cause is the same: `Magento\Catalog\Model\Product\Attribute\Backend\Startdate` was renamed to `Magento\Catalog\Model\Attribute\Backend\Startdate`

[2015-05-28 14:16] mazhalai commented on #1313
This is also identical to #1300

[2015-05-28 14:18] mazhalai commented on #1308
Thank you @specshack for confirming that it is working now. Please continue to report issues if you come across them.

[2015-05-28 14:18] #1308 closed

[2015-05-28 14:26] tzyganu opened #1315 "I have to click twice to toggle a custom option."
**Version:**
Magento 2-0.74.0-beta10

**Browser:**
FF 38.0.1
The issue does not reproduce on Chrome 43.0 or IE 10 (you made me open IE. I hope you're happy).

**Steps to reproduce**
 - Login the admin panel
 - Go to Products->Catalog
 - Click on Add Product
 - In the product add form, click on the tab Custom Options and wait for the ajax call to finish
 - Click on "Add Option"
 - Click on the arro

[2015-05-28 14:34] atrhacker commented on #1312
Hello Olga, thank you very much for your inputs.
Running the CLI command seems to have worked perfectly so far.(altough it was very long)
I completely understand that you don't provide at moment IIS support.

The thing that I don't understand is that the previous version of magento required as well mod_rewrite and I did not have any issues with an installation on IIS sever. Url rewriting were work

[2015-05-28 14:43] buskamuza commented on #1216
@minhluan259 , enabled XDebug may cause significant performance degradation, that's why you may have so long installation. Let us know, if you try it with xDebug disabled and it's still so slow.

And I created an internal ticket for these warnings in the deployment command - MAGETWO-38010
Looks like it's a Windows only issue.

[2015-05-28 14:51] mazhalai commented on #1315
Hello @tzyganu, thank you for reporting this issue. We have created MAGETWO-38026 to track this fix.

[2015-05-28 14:55] buskamuza commented on #1308
@specshack , just few notes:

1. I see you use "localhost" as a domain. In some browsers it may lead to issues with cookies (because it's not considered a normal domain), so it's better to use a domain with dots (e.g., magento.lh or 127.0.0.1)

2. to install Sample Data during installation of Magento, use `--use-sample-data` option for CLI command. It's not installed by default.

3. Sample Data co

[2015-05-28 15:19] buskamuza commented on #1312
I'd suggest these articles:
- http://devdocs.magento.com/guides/v1.0/config-guide/cli/config-cli-subcommands-static-view.html - some information about the command
- http://devdocs.magento.com/guides/v1.0/frontend-dev-guide/bk-frontend-dev-guide.html - documentation section for front-end developers

[2015-05-28 22:07] ryanstreet commented on #571
I would be willing to work on this issue.  Is it still up for grabs?

[2015-05-29 05:30] bgkavinga commented on #1280
@kokoc It does not add product to compare list once I click on the add to compare link.

[2015-05-29 05:37] bgkavinga commented on #1280
@kokoc It does not show messages anywhere. But it displays entire message queue in cart page. Check the following screen shot.
even the mini cart does not get updated.
![image](https://cloud.githubusercontent.com/assets/3830093/7877076/c4c0fb4a-05f2-11e5-96a0-8b72832d9b9f.png)

[2015-05-29 07:15] maboiteaspam commented on #1268
we switched back to magento 1. We was facing too many problems and difficulties with this new version. Let see in few betas.

[2015-05-29 07:15] #1268 closed

[2015-05-29 11:06] 7php opened #1316 "[Magentov2 on HHVM 3.7.0] - Zend_Validate_Exception | encoding not supported"
Hi I'm trying to install (vanilla) M2 on hhvm. The installation process is via commandline, I get the following error:

**[Zend_Validate_Exception]  Given encoding not supported on this OS**

This happens precisely in the file: **magento2/vendor/magento/zendframework1/library/Zend/Validate/StringLength.php**

inside the function **setEncoding($encoding = null)**

I did a print of **$encoding**, wh

[2015-05-29 11:46] cmuench commented on #1290
:+1:  We need numbers to. Our prefix starts with "n98".

[2015-05-29 12:53] phphphp opened #1317 "Zend ServiceNotCreated Exception"
I am getting the following when trying to run the setup on the current build.  I followed the 2.0 installation documentation to the letter:

An error occurred during execution; please try again later.

Additional information:

Zend\ServiceManager\Exception\ServiceLocatorUsageException

File:
/var/www/html/magento2/vendor/zendframework/zend-servicemanager/Exception/ServiceLocatorUsageException.php:

[2015-05-29 13:12] Vinai commented on #1302
Thanks!

[2015-05-29 13:24] mazhalai commented on #1317
@phphphp thank you for reporting this issue. I noticed the last exception in the trace was related to file permissions. Does the `var` directory have write permissions? Also, did you install using CLI or Web wizard?

[2015-05-29 13:44] phphphp commented on #1317
I just tried to go to the setup url and receive that error.

[2015-05-29 14:00] eleonova commented on #1296
Hi Marius, very good catch. Url rewrites modularity definitely makes sense, and we have added that to our internal backlog MAGETWO-38050. However, we don't plan to work on that in the nearest time, so if you would like to contribute with such change, we would highly appreciate that.

[2015-05-29 14:06] tzyganu commented on #1296
@eleonova I will try to do something, but I can't promise anything. it's kind of a big task for my current knowledge of Magento2.

[2015-05-29 14:09] phphphp commented on #1317
I just found out that this is an SElinux issue.  I completed all the steps in regard to security under CentOS.  However, I still get this permission failure in audit.log:

type=AVC msg=audit(1432908506.970:652): avc:  denied  { write } for  pid=21684 comm="httpd" name="page_cache" dev="dm-1" ino=101671381 scontext=system_u:system_r:httpd_t:s0 tcontext=system_u:object_r:httpd_sys_content_t:s0 tclas

[2015-05-29 14:24] mazhalai commented on #1316
@7php Thank you for reporting this issue. Can you please let us know what version of magento2 did you try? Also what specific OS are you on?

[2015-05-29 14:42] 7php commented on #1316
Hey there!
Magento version: **0.74.0-beta9**
OS version: **Ubuntu 14.04.2 LTS, Trusty Tahr**

[2015-05-29 14:53] mazhalai commented on #1317
Thank you @phphphp. We have created ticket MAGETWO-29465 to work on this issue.

[2015-05-29 15:45] mazhalai commented on #1316
Thank you @7php. We have created ticket MAGETWO-38055 to try and reproduce this issue.
Also couple more questions:
- what is the version of php?
- what is the `default_charset` in your `php.ini` file?

[2015-05-29 16:42] mazhalai commented on #1316
@7php Looks like this issue is related to HHVM, please see this ticket https://github.com/facebook/hhvm/issues/3558

[2015-05-29 16:50] alankent commented on #1268
If you were considering going live, absolutely the recommendation is to stick with Magento 1 for now. Magento 2 won't be GA until Q4. The product is under going active development. Magento 1 is going to be around for many years to come.

[2015-05-29 19:56] mazhalai commented on #1317
@phphphp the following folders require write access for the httpd user during installation.
- `var` (this stores generated code, cache and session storage when the application is running)
- `pub/static` and `pub/media`  (for static css and js files and images respectively)
- `app/etc` (can be read only after installation)

So instead of blanket permissive setting, only the above specific folders n

[2015-05-30 03:46] sivajik34 opened #1318 "{"message":"Request does not match any route."}"
i'm using following syntax :
curl -X POST http://localhost/magento2/index.php/rest/V1/createAccount:customers -H  "Authorization: Bearer uvdhea5fwq2yu4w2lvm9o2q8u30hnq76" -H "Content-Type:application/json" -d '{
    "customers": {
        "customer": {
            "email": "user@example.com",
            "firstname": "John",
            "lastname": "Doe"
        },
        "addresses": [

[2015-05-30 04:33] alankent commented on #1318
The route implies the vert/URL did not match. In the webapi.xml file when you see :foo it means that URL segment is mapped to an argument called foo - you don't type it in verbatim. Looking at https://github.com/magento/magento2/blob/develop/app/code/Magento/Customer/etc/webapi.xml#L119 I think you should be doing a POST to /V1/customers (I am on iPad, no laptop handy, so I have not tried it to ve

[2015-05-30 08:22] sakiss commented on #1293
The database was from magenton 2 beta-2. The installation was beta 7

[2015-05-30 09:26] ihor-sviziev commented on #744
Now this class logic looks much better , but now it still contains ~2600 lines of code, I think we may separate class functionality to two or more classes and use delegation.
I think first of all we should move methods like place, capture, registerCaptureNotification, refund, registerRefundNotification, accept, deny, update, authorize.

[2015-05-30 09:53] 7php commented on #1316
@mazhalai
1) I have already specified in my title that I'm using HHVM 3.7.0 - So PHP version does not apply
2) About the relevance with the ticket you mentioned, I'm not so sure this is the cure

[2015-05-30 10:17] adzminz opened #1319 "jquery-cookie.js not found (Error 404)"
PHP: ```5.6.9```
Magento: ```0.74.0-beta11```
Web Service: ```nginx```

I already run ```php bin/magento setup:static-content:deploy```

![1](https://cloud.githubusercontent.com/assets/11070293/7896697/7459fd78-06ec-11e5-969b-83a51203937f.PNG)

I also got errors below while deploying static contents.

.................................................................................................

[2015-05-30 14:13] owenhaynes opened #1320 "Https not working for images, css"
I don't think the secure URLS work for the media like css, javascript etc. unless I have configured it wrongly. using the default provided theme.

All use the http link

[2015-05-30 15:34] Alessandro77 commented on #1320
+1

[2015-05-30 15:40] Alessandro77 opened #1321 "Uncaught ReferenceError: require is not defined"
In Frontend and Admin pages. Version beta11.
requirejs-config.js:356  // Uncaught ReferenceError: require is not defined

[2015-05-30 17:52] alankent commented on #1320
There is internal design going on around HTTPS at the moment. Eg have easy full site in HTTPS and full site in HTTP. Any suggestions on combinations of HTTP and HTTPS and why would be interesting inputs to the discussion. Eg is all HTTP and all HTTPS enough? If not, why?

[2015-05-31 00:24] Flyingmana opened #1322 "di:compile causes Fatal error for magento1 classes"
I have modules with classes for magento1 and 2,
in last beta release they cause the following error during `setup:di:compile`

[code]

It did work before thx to this patch: https://github.com/magento/magento2/pull/986
and seemed to stop after the move to the new magento cli script.

[2015-05-31 02:32] sivajik34 commented on #1318
curl -X POST http://localhost/magento2/index.php/rest/V1/createAccount -H  "Authorization: Bearer uvdhea5fwq2yu4w2lvm9o2q8u30hnq76" -H "Content-Type:application/json" -d '{
    "customers": {
        "customer": {
            "email": "user@example.com",
            "firstname": "John",
            "lastname": "Doe"
        },
        "addresses": [
            {
                "defaultShipping":

[2015-05-31 04:51] pccomfrank opened #1324 "Magento 2 0.74.0-beta11 sample-data-0.74.0-beta11 successfully installed but won't show up."
![image](https://cloud.githubusercontent.com/assets/4493796/7900565/40578008-072e-11e5-9925-c5401e483b7b.png)

![image](https://cloud.githubusercontent.com/assets/4493796/7900566/496a94d2-072e-11e5-9e38-44e9f7e08a44.png)

It seems the data are in the database:

mysql> show tables;
+---------------------------------------------+
| Tables_in_m2bellshopeverydayus              |
+---------------------

[2015-05-31 04:51] sivajik34 commented on #1318
working fine with:
curl -X POST localhost/magento2/index.php/rest/V1/customers/ -H  "Authorization: Bearer uvdhea5fwq2yu4w2lvm9o2q8u30hnq76" -H "Content-Type:application/json" -d '{

        "customer": {
            "email": "user34@example.com",
            "firstname": "John",
            "lastname": "Doe"
        },
        "addresses": [
            {
                "defaultShipping": true,

[2015-05-31 04:51] #1318 closed

[2015-05-31 07:49] Chriscxa opened #1325 "installation requiments"
Everytime composer tells me my php is outdated. 5.4.39.
But i use 5.5.23 ???

[2015-05-31 10:27] Chriscxa commented on #1325
changed in composer.json to my version. and before webinstall in composer.lock too
After that all works great

[2015-05-31 10:27] #1325 closed

[2015-05-31 11:13] owenhaynes opened #1326 "Plan for media storage API?"
Is there any plan for a media stroage api, was looking to see if it was possible to use S3/Cloud Stroage for media assets. So that Elastic Beanstalk can be used effectively.

I don't think storing the images in the database is the correct option when S3 storage is far cheaper and faster to run then a database.

Have had a look at the code and it seems very tightly coupled with File and Database, s

[2015-05-31 15:47] ooxi commented on #1326
:+1:

[2015-05-31 16:24] alankent commented on #1326
I will let the product folks comment in roadmap, but curious as to benefits of storing directly in s3 vs storing in DB and letting CDN take the load. So performance of DB not so critical.

(There is no big effort planned here internally that I can recall, but always open to ideas about putting in interfaces etc making it easier to replace our default functionality with other functionality via di.x

[2015-05-31 17:42] Perfect-Web opened #1327 "invalid website id error"
I get this when i try to run the setup:upgrade command from cli
[code]

[2015-05-31 17:48] mad0house commented on #1326
S3 is a lot simpler to set up for a small store, just looking at Amazon CDN looks like a bit of effort to set up. We also by using a database have the extra memory foot print in php by having to load the image into memory.

The MediaStorage module looks partway there to being an API, it just looks like some of it could do with be re-factored so that its more generic.

Most likely need an interface

[2015-05-31 19:54] kandy commented on #1326
Looks like simplest way to implement s3 in m2 is [s3 stream wrapper](http://docs.aws.amazon.com/aws-sdk-php/v2/guide/feature-s3-stream-wrapper.html) and configuration media dir as s3://media/

PS: i don't try this

[2015-05-31 20:40] buskamuza commented on #1324
Hi @pccomfrank ,

Could you, please, clarify what method did you use?

[2015-05-31 20:42] buskamuza commented on #1325
@Chriscxa , are you sure that you have only one PHP (5.5.23) installed?
Does "php -v" show "5.5.23"?
It may be that you have multiple versions installed and Composer somehow uses wrong one. It's better to fix the environment to be sure that Composer also checks all other env requirements (e.g., required php extensions).

[2015-05-31 20:44] buskamuza commented on #1327
@Perfect-Web , do you have custom upgrades? Or does it happen during upgrade from one to another version of Magento? If yes, what are "from" and "to" versions?

[2015-05-31 20:53] pccomfrank commented on #1324
http://devdocs.magento.com/guides/v1.0/install-gde/install/install-cli-install.html

php bin/magento setup:install --base-url=http://127.0.0.1/magento2/ \
--backend-frontname=admin \
--db-host=localhost --db-name=magento --db-user=magento --db-password=magento \
--admin-firstname=Magento --admin-lastname=User --admin-email=user@example.com \
--admin-user=admin --admin-password=admin123 --language=

[2015-05-31 22:41] specshack commented on #1324
Sample data is a module now, as of -beta10. So, be sure you've declared the magento repository and listed the sample data module properly in your config.json BEFORE you run composer install. If you didn't, it's no big deal, but does explain why the data isn't in your database. What you showed above is only a list of tables, and these are installed at the beginning of the install process and not du

[2015-05-31 23:08] pccomfrank commented on #1324
I did all above procedures except the  last two.
And I did a successful
php composer.phar update

When I was trying to
./bin/magento setup:upgrade

I got the following errors:
root@bell:/usr/local/www/bell.shopeveryday.us # ./bin/magento setup:upgrade
  [Magento\Setup\Exception]
  Can't run this operation: deployment configuration is absent.
setup:upgrade [--magento-init-params MAGENTO-INIT-PARAMS

[2015-05-31 23:19] pccomfrank commented on #1324
I got a debug.log instead of install.log after fake successful installation:

root@bell:/usr/local/www/bell.shopeveryday.us/var/log # cat debug.log
[2015-05-31 23:16:14] main.DEBUG: cache_invalidate:  {"method":"GET","url":"http:/","invalidateInfo":{"tags":["EAV"],"mode":"matchingAnyTag"},"is_exception":false} []
[2015-05-31 23:16:16] main.DEBUG: cache_invalidate:  {"method":"GET","url":"http:/","

[2015-05-31 23:41] specshack commented on #1324
Couple things to check:

1. Did you run magento setup:uninstall before starting anything? You need to do that between beta9 revs and anything later. This will drop and reinit your database with new schema data required as of beta 10.

2. Are you working off of a new clone of the repository? The reason for asking is that your config.php maybe out of date. If you are working from a fresh clone of be

[2015-05-31 23:49] pccomfrank commented on #1324
Yes. I started working with a new git clone. The old ones(beta9) are still working: http://kerynn.ca:8280. I do not know how to upgrade from beta9 to beta11.

Thanks!

[2015-06-01 00:20] specshack commented on #1324
OK, here are a couple more options for you:

1. run magento setup:uninstall from your magento2 directory in your terminal app.
2. run composer clearcache from your terminal
3. Verify that app/etc/config.php contains the following:

4. If it doesn't, add it here:

    'Magento_SampleData' => 1,
    'Magento_SampleInterception' => 1,

5. In your config.json, you have an erroneous entry. Delete the f

[2015-06-01 00:27] dbsdsun commented on #1287
Your current unit test doesn't cover "override a block with preference in di.xml".
In the furture, if a block is overrided by another block, this issue will be seen.

[2015-06-01 01:04] pccomfrank commented on #1324
When I use the browser to install it, the sample data check box dimmed. That is the problem.

[2015-06-01 02:32] specshack commented on #1324
I'm just curious, based on your comments, did you try ANY of the corrective steps I described?

[2015-06-01 02:46] pccomfrank commented on #1324
Yes. But app/etc/config.php and env.php are missing. Cannot follow your steps.

[2015-06-01 07:02] mrRonyTran commented on #1295
@kokoc Hi, after change line 78 in ``` Magento\SampleData\Model\Installer ``` to ``` set_time_limit(36000); ```, it is OK. Thank you for your helps.

[2015-06-01 11:33] craigcarnell opened #1328 "After upgrade - Setup version for module 'Magento_Centinel' is not specified"
[code]

[2015-06-01 12:02] FagnerMartinsBrack commented on #1319
I suggest upgrading to [js-cookie](https://github.com/js-cookie/js-cookie/releases) when possible, check [here](https://github.com/carhartl/jquery-cookie/tree/d72bb07e29962330db61aae1eda07f6312419840#important).

[2015-06-01 14:27] mazhalai commented on #1316
@7php Thank you for clarifying! The original exception occurs [here](https://github.com/zendframework/zf1/blob/master/library/Zend/Validate/StringLength.php#L212) If you notice, `set_ini` is being called on line [208](https://github.com/zendframework/zf1/blob/master/library/Zend/Validate/StringLength.php#L208), which is what issue https://github.com/facebook/hhvm/issues/3558 is about. Also, can yo

[2015-06-01 14:52] mazhalai commented on #1328
@craigcarnell can you please try again after clearing your `var` folder?

[2015-06-01 14:54] craigcarnell commented on #1328
@mazhalai Already tried that, just did it again and same result

[2015-06-01 14:55] mazhalai commented on #1324
@pccomfrank if the `app/etc/config.php` and `env.php` are missing, it means magento doesnt know which database to connect to (which are specified in env.php). Please try re-installing.

[2015-06-01 14:59] mazhalai commented on #1319
@adzminz thank you for reporting this issue. Can you please tell us what is your [mode of magento](http://devdocs.magento.com/guides/v1.0/config-guide/config/magento-mode.html)?

We have created MAGETWO-37911 to track this issue.

[2015-06-01 15:22] mazhalai commented on #1328
@craigcarnell just confirming the steps you followed, you upgraded to `0.74.0-beta11` ran `composer install` and then got the error while running `bin/magento setup:upgrade`?

[2015-06-01 15:24] buskamuza commented on #1328
@craigcarnell , module `Magento_Centinel` has been removed in version `0.74.0-beta11`. I believe, the module's folder is absent, so the application can't read setup_version from it.
It's probably an issue with the upgrade command - it should refresh list of modules in `app/etc/config.php` before starting DB upgrade.
For now, I'd suggest you one of the following options:
1. remove `Magento_Centinel

[2015-06-01 15:39] buskamuza commented on #1324
@pccomfrank , `magento setup:uninstall` removed these config files, so if you ran this command, it's expected that you already don't have them.
Basing on your comments ("There are no commands defined in the "sampledata" namespace." and "the sample data check box dimmed"), it looks like Sample Data module was not installed by Composer. Could you, please, check if you have `app/code/Magento/SampleDa

[2015-06-01 15:44] adzminz commented on #1319
@mazhalai production mode.

[2015-06-01 16:02] mazhalai commented on #1322
@Flyingmana the old `compiler.php` is not the same as `setup:di:compile`. Please try ` setup:di:compile-multi-tenant`

[2015-06-01 17:24] pccomfrank commented on #1324
Thanks. I used browser to check readiness then use command to install it.

I got sample data installed , but the images are not showing.

http://bell.shopeveryday.us

[2015-06-01 18:34] buskamuza commented on #1324
@pccomfrank , hm, looks like all products are not displayed. Do you see products visible in the Admin Panel?
So there were no errors during install of sample data?

[2015-06-01 18:56] steverobbins opened #1331 "2 .htaccess files?"
I'm curious as to why [`.htaccess`](https://github.com/magento/magento2/blob/develop/.htaccess) and [`pub/.htaccess`](https://github.com/magento/magento2/blob/develop/pub/.htaccess) both exist.

They seem to be mostly the same (I notice there are two memory limits, `256M` and `768M`.  Which is correct?).  Perhaps `.htaccess` is a remnant of Magento1?  Can it be removed?

Same goes for `.htaccess.s

[2015-06-01 19:20] alankent commented on #1331
The pub directory I think handles image rendering / resizing for media. See static.php. The htaccess file checks to see if file already produced, else calls static.php file.

(Maybe - a little knowledge can be a dangerous thing!)

[2015-06-01 19:29] steverobbins commented on #1331
I believe a separate [`pub/status/.htaccess`](https://github.com/magento/magento2/blob/develop/pub/static/.htaccess#L17) is used for `static.php` operations.

[2015-06-01 20:22] pccomfrank commented on #1324
I used command line to install. i never got an install.log. Debug.log instead.

Now there is a big exception.log

root@bell:/usr/local/www/bell.shopeveryday.us/var/log # tail exception.log
#68 /usr/local/www/bell.shopeveryday.us/lib/internal/Magento/Framework/Interception/Chain/Chain.php(63): call_user_func_array(Array, Array)
#69 /usr/local/www/bell.shopeveryday.us/var/generation/Magento/Framewor

[2015-06-02 02:25] astorm opened #1332 "Proxy Documentation Doesn't Make Sense"
This following section of the documentation

![screen shot 2015-06-01 at 7 19 45 pm](https://cloud.githubusercontent.com/assets/184372/7927331/687c65ba-0893-11e5-8179-27b0ecd687ce.png)

on [this page](http://devdocs.magento.com/guides/v1.0/extension-dev-guide/depend-inj.html) is a little confusing, and seems to be (at best) incomplete.

The paragraph starts as though it were going to explain what

[2015-06-02 03:11] buskamuza commented on #1331
@steverobbins , yes, `pub/static/.htaccess` is used for handling static view files.
`index.php` and `.htaccess` that exist in both root and `pub` folders are to cover two use cases:
1. simple installation, when document root = Magento code base root
2. more secure installation, when document root = `pub`

[2015-06-02 03:15] buskamuza commented on #1324
@pccomfrank , thanks for the information. Unfortunately, the exception log starts from #68 trace level, while to know the issue, we need the beginning of the whole exception message.

I see that looks like you have the products because there are search criteria for them. Could you, please, try to clean cache? And possibly also run re-indexing (see `./bin/magento indexer:reindex` command).

[2015-06-02 04:01] pccomfrank commented on #1324
root@bell:/usr/local/www/bell.shopeveryday.us # ./bin/magento cache:clean
Cleaned cache types:

root@bell:/usr/local/www/bell.shopeveryday.us # ./bin/magento indexer:reindex
Category Products index has been rebuilt successfully in 00:00:00
Product Categories index has been rebuilt successfully in 00:00:00
Product Price index has been rebuilt successfully in 00:00:02
Product EAV index has been rebu

[2015-06-02 05:24] buskamuza commented on #1324
Thanks for the info. Looks like something's wrong with images processing. Could you, please include lines from exception.log that go right before "#0" line?

[2015-06-02 08:56] craigcarnell commented on #1328
@mazhalai @buskamuza It works, I didn't run bin/magento setup:upgrade

Perhaps it's worth adding a message to tell the user to run this when you upgrade, instead of getting an error message?

[2015-06-02 08:56] #1328 closed

[2015-06-02 12:20] IonutPerfectWeb commented on #1327
@buskamuza Happened when updating from beta8 - beta10.

[2015-06-02 12:25] pccomfrank commented on #1324
root@bell:/usr/local/www/bell.shopeveryday.us/var/log # tail -n 200 exception.log
......
[2015-06-02 07:08:31] main.CRITICAL: exception 'Exception' with message 'Warning: getimagesize(/usr/local/www/bell.shopeveryday.us/pub/media/catalog/product/cache/1/small_image/240x300/e9c3970ab036de70892d86c6d221abfe/sample_data/m/b/mb02-gray-0.jpg): failed to open stream: No such file or directory in /usr/lo

[2015-06-02 12:29] pccomfrank commented on #1324
root@bell:/usr/local/www/bell.shopeveryday.us/var/log # php -i
phpinfo()
PHP Version => 5.6.9

System => FreeBSD bell.shopeveryday.us 10.1-RELEASE-p10 FreeBSD 10.1-RELEASE-p10 #0: Wed May 13 06:54:13 UTC 2015     root@amd64-builder.daemonology.net:/usr/obj/usr/src/sys/GENERIC amd64
Build Date => May 30 2015 18:18:02
Configure Command =>  './configure'  '--with-layout=GNU' '--localstatedir=/var' '-

[2015-06-02 12:32] vpelipenko commented on #1321
@Alessandro77, do you get this error every time when try to open some pages?

[2015-06-02 12:35] vpelipenko commented on #1215
Closed. There is no response from contributor. @Obscurefrey, feel free to reopen this issue if it is not resolved for you.

[2015-06-02 12:35] #1215 closed

[2015-06-02 12:36] #1230 closed

[2015-06-02 12:38] vpelipenko commented on #1263
@tanya-soroka, is it expected behavior? @sivajik34, did you have a chance to reproduce this issue with enabled backorders?

[2015-06-02 12:46] Alessandro77 commented on #1321
Yes, admin and frontend, but only in xampp.
Using LAMP on ubuntu, it's all right.

[2015-06-02 12:54] IonutPerfectWeb commented on #1327
This was fixed by deleting inexistent websites from store_group table, now have the #1137 problem..

[2015-06-02 13:00] IonutPerfectWeb commented on #1137
+1, also have this problem

[2015-06-02 13:05] kokoc commented on #424
@hidonet Thank you for reporting the issue. The team has processed this ticket. Code changes have just been deployed in version 0.74.0-beta11. Could you please verify the issue?

[2015-06-02 13:06] kokoc commented on #1300
@alexvandervegt Thank you for reporting the issue. The team has processed this ticket. Code changes have just been deployed in version 0.74.0-beta11. Could you please verify the issue?

[2015-06-02 13:07] kokoc commented on #1311
@sivajik34 Thank you for reporting the issue. The team has processed this ticket. Code changes have just been deployed in version 0.74.0-beta11. Could you please verify the issue?

[2015-06-02 13:07] kokoc commented on #1313
@sivajik34 Thank you for reporting the issue. The team has processed this ticket. Code changes have just been deployed in version 0.74.0-beta11. Could you please verify the issue?

[2015-06-02 13:37] mazhalai commented on #1328
@craigcarnell thank you for your report. Can you provide exact steps to reproduce this error?

[2015-06-02 14:41] erikhansen commented on #571
@ryanstreet yes, it is still up for grabs, as far as I know. It would be great if you wanted to work on it.

[2015-06-02 16:08] ryanstreet commented on #571
Awesome.  I'm on it!

[2015-06-02 16:31] piotrekkaminski commented on #571
Great @ryanstreet

[2015-06-02 17:22] steverobbins commented on #1331
@buskamuza In that case

* Should the contents of both `.htaccess` files be the same?
  * If so, which memory limit is the correct one?
* Should the contents of both `index.php` files be the same (other than `require __DIR__ . '/app/bootstrap.php';` vs `require __DIR__ . '/../app/bootstrap.php';`)?
* Should `.htaccess.sample` be removed?

[2015-06-02 21:33] buskamuza commented on #1324
@pccomfrank , thanks for the details.
Could you, please, check:
1. owner and permissions to `pub/media` folder?
2. if `pub/media` folder has anything inside? If you have some folder like `catalog`, does it have any files in it (see recursively)?

And did you have any errors during sample data installation? As I understand, you used command line for it.
Or maybe there are some other messages in the

[2015-06-02 22:11] buskamuza commented on #1331
1. `.htaccess`. @steverobbins , yes, they should be identical, except the things you've mentioned + "Deny access  to cron.php" in the `pub/.htaccess`
I'd say that the one in the root should be more accurate now, as this is more common scenario for using Magento on current, development, stage.
2. `index.php`. Logically - yes, they should be the same. But because of different root folder, `pub/index

[2015-06-02 23:08] pccomfrank commented on #1324
root@bell:/usr/local/www/bell.shopeveryday.us # ./bin/magento setup:uninstall
Are you sure you want to uninstall Magento?[y/N]y
Starting Magento uninstallation:
Recreating database `m2bellshopeverydayus`
Cache cleared successfully
File system cleanup:
/usr/local/www/bell.shopeveryday.us/pub/static/_requirejs
/usr/local/www/bell.shopeveryday.us/pub/static/adminhtml
/usr/local/www/bell.shopeveryday.

[2015-06-02 23:24] buskamuza commented on #1324
@pccomfrank , so as I understand everything works now? If the installation may have public access or it's on a shared hosting, I'd suggest to play with permissions to the folders, as it may be insecure to give permissions to any user. Maybe these `777` permissions fixed the issue, which means that you were installing magento from a user, which doesn't own or doesn't have write permissions to `pub/

[2015-06-03 00:13] pccomfrank commented on #1324
I was  installing the Magento 2 by user root. The directories in var owned by root.   Apache24 is owned by user www. user www could not access root's directories in var. I cannot install Magento by user www because I cannot su to www.

root@bell:/usr/local/www/bell.shopeveryday.us/var # su www
This account is currently not available.

root@bell:/usr/local/www/bell.shopeveryday.us/var # cat /etc/pa

[2015-06-03 01:49] cerebrumbr opened #1333 "Autoload error: An abstract factory could not create an instance of"
If executable this commands ...

php bin/magento maintenance:status && php bin/magento module:status && php bin/magento setup:db:status && php bin/magento setup:upgrade

php -f bin/magento module:enable Magento_Hello

Generate this error ...

Autoload error: An abstract factory could not create an instance of magentosetupconsolecommandconfigsetcommand(alias: Magento\Setup\Console\Command\ConfigSet

[2015-06-03 05:51] alankent commented on #1331
Sorry, I don't know this level of detail on .htaccess files

[2015-06-03 09:20] antonkril commented on #1310
I saw this behavior confuse all developers new to M2 on hackathon. So I think it should be high priority.

[2015-06-03 09:34] piotrekkaminski commented on #1310
Fully agree - needs to be fixed

[2015-06-03 10:58] vpelipenko commented on #1324
@pccomfrank, can we consider that this issue is resolved?

[2015-06-03 14:43] vpelipenko commented on #1281
@tzyganu, this issue is fixed and already available on public github. Did you a chance to verify it on the latest version?

[2015-06-03 14:58] vpelipenko commented on #744
@ihor-sviziev, when we have time we try to decrease code complexity and re-implement complicated classes in sales/payment infrastructure, but this work doesn't have high priority, that's why we can't promise that suggested refactoring will be done in the near future.

[2015-06-03 15:16] vpelipenko commented on #1226
Internal ticket: MAGETWO-37454

[2015-06-03 15:20] vpelipenko commented on #1238
@HirokazuNishi, can we consider this issue resolved?

[2015-06-03 15:38] mazhalai commented on #1333
Hello @cerebrumbr, combination of Zend and Magento's error handler hides the original error. Please try this [temporary fix](https://github.com/magento/magento2/pull/1323) provided by @Flyingmana to see what the exact error is.

[2015-06-03 15:57] vpelipenko commented on #1321
@Alessandro77, could you provide a content of requirejs-config.js file, or even a few lines of code around 356 line.

[2015-06-03 16:26] sivajik34 commented on #1313
working fine.

[2015-06-03 16:26] #1313 closed

[2015-06-03 16:49] sivajik34 commented on #1311
working fine.thanks

[2015-06-03 16:49] #1311 closed

[2015-06-03 18:05] hackin88 opened #1334 "How to load third-party javascript library in Magento2?"
======
en_US
======

1)

How to load third-party javascript library in Magento2?

I would charge the following library in Mageno2

https://github.com/rstacruz/nprogress

How do I?

2)

2)

in

/app/code/<VendorName>/<ModuleName>/view/frontend/layout/default.xml

I have

<?xml version="1.0"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../.

[2015-06-03 19:42] choukalos commented on #1238
For service contract info check out the Imagine 2015 Magento 2 Deep Dive presentations.  I believe this one has some relevant information [link|http://magento.com/videos/imagine/imagine-commerce-2015-magento-2-deep-dive-session-i#.VW9Yg2B1R10]

[2015-06-03 21:20] JamesAnelay opened #1335 "Widget Sort Orders."
There is a bug/issue with widget sort orders which means if you have widget widget updates for the 'default' handle and another a specific handle e.g cms pages it is impossible to have your cms_page update block show above the default handles update block.

This is because DB layout updates are pulled in per handle sorted and then the next handle is pulled in this means you can only sort widget up

[2015-06-04 06:42] tzyganu commented on #1281
@vpelipenko It works nicely on 0.74.0-beta11. Thank you for the fast fix.

[2015-06-04 06:42] #1281 closed

[2015-06-04 08:21] craigcarnell opened #1337 "Use SASS for default theme?"
I noticed a few months ago you were using LESS. I would much prefer SASS and for those who have developing in Magento1 with SASS with the RWD theme it would make more sense to use SASS instead.

There is enough change in Magento2 already, not all of it good :)

[2015-06-04 09:35] Alessandro77 commented on #1321
sure - Line 351 / 378

------------------------------
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

var config = {
    map: {
        '*': {
            recentlyViewedProducts: 'Magento_Reports/js/recently-viewed'
        }
    }
};
require.config(config);
})();
(function() {
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.t

[2015-06-04 10:04] sivaschenko commented on #1284
Thank you for reporting this issue. Internal ticket number MAGETWO-38301

[2015-06-04 10:27] Fequois commented on #1337
It's Sass. :wink:

Sass makes more sense because its community is outpacing Less and many larger projects are written in or moving to Sass (Bootstrap 4, for instance). Likewise, what @craigcarnell says, the RWD theme in 1.9 is written in Sass.

[2015-06-04 10:33] afroz92 commented on #1337
You are right but the fact is that the Magento community already knows about the fact and when the development of Magento2 satarted SAAS was not as stable while less was stable so they decided to move on with less. But with so many improvements to come in Magento2 i donot know how long can it take to switch back to SAAS as currently RWD theme in Magento CE  1.9.x do.

[2015-06-04 10:38] Fequois commented on #1337
@afroz92 Perhaps, but it doesn't take that long to convert for someone who's familiar with the theme.

However, I didn't account for the fact that Less has a JS compiler. Maybe that's something they want to keep, to keep it simple for new users. After all, a developer's most likely going to start from ground zero anyway.

[2015-06-04 10:50] afroz92 commented on #1337
I think in later versions of Magento2 we might see a SAAS based theme like RWD.

[2015-06-04 11:27] guz-anton commented on #1321
Existence of file `requirejs-config.js` under `/pub/static/_requirejs/...` is expected behavior.
 - [ ] Also you should have in markup something like:
[code]

 - [ ] Also both files should be accessible when you directly request them in browser.

If both checkboxes could be checked on your environment - you will have expected behavior without JavaScript error _`require is not defined`_ . Otherwise

[2015-06-04 11:38] Alessandro77 commented on #1321
Yes, but folder /pub/static/frontend/Magento/luma/en_US/requirejs/  is empty

[2015-06-04 11:43] godban commented on #1337
Hello @craigcarnell, @afroz92, @Fequois

Despite the fact that Sass more popular than Less and maybe you can say more powerful. Less was chosen for couple good reasons and advantage are still relevant now.

- Less can be compiled by PHP with Oyejorge on server side. No need to use ruby and expand Magento platform requirements.
- Less can be processed with JS on client side. For whom who doesn't ca

[2015-06-04 12:09] guz-anton commented on #1334
Current version Magento2 (v.0.74.0) works with external (same as internal) JavaScript files as with AMD modules through RequireJS. You can load external file (e. g. nprogress) via:
 - `require` or `define` call
 - [`deps`-key](http://requirejs.org/docs/api.html#config-deps) in `requirejs-config.js` file
 - or declare inline on the page via:
[code]
E.g.:
[Customer/ ... /customer.phtml](https://gith

[2015-06-04 13:02] guz-anton commented on #1321
Amm... It should contain files from `libv/web/requirejs` folder. Or links on it. So:
 - Is there any other file or link under `folder /pub/static/frontend/Magento/luma/en_US/` ?
 - Do you setup any custom `MAGE_MODE` variable?
 - Does you server have free space on partition where Magento installed?
 - Does whole path `pub/static/frontend/Magento/luma/en_US/requirejs/` writable for web-server user?

[2015-06-04 13:40] Alessandro77 commented on #1321
No files, only empty dirs

--css
--fonts
³   --opensans
³       --bold
³       --light
³       --regular
³       --semibold
--images
--jquery
--js
--mage
--Magento_Theme
--requirejs

-----------------------------------
no
yes
yes

Same problem by reinstalling everything, but only in XAMPP . Using Ubuntu LAMP all it's ok !

[2015-06-04 14:46] ilol commented on #1254
@Perfect-Web, could I close the ticket? Seems you got an answer.
Thank you for your participation!

[2015-06-04 14:46] vpelipenko commented on #1288
Yes, 128M is not enough to correct system work. I can find that in .htaccess file php memory_limit is 768M. @pccomfrank, can we close this issue?

[2015-06-04 14:52] Perfect-Web commented on #1254
yes, thank you

[2015-06-04 14:52] #1254 closed

[2015-06-04 14:55] ilol commented on #1194
@craigcarnell, please try the tool here (https://github.com/magento/data-migration-tool-ce). Please, give me your opinion about one. Thanks

[2015-06-04 14:57] tzyganu commented on #1296
I've created a PR for this: #1338.
Let me know if I need to do something else.

[2015-06-04 15:03] pccomfrank commented on #1288
The readiness check should confirm this. I was using the command line. The
command line installation ignored  readiness check from the browser install
wizard.

[2015-06-04 17:01] SKovbel opened #1339 "Can not finish setup:update"
![m1867](https://cloud.githubusercontent.com/assets/813985/7989763/7fa24a76-0af4-11e5-8bd7-3559c7bdbf12.png)

[2015-06-04 17:07] mazhalai commented on #1339
@Mackovey thank you for reporting this issue. Can you please try again after clearing your `var` directory? Also, what was your previous version and what version are you upgrading to?

[2015-06-04 17:18] Mackovey commented on #1339
It is migration from beta 10 to beta11.

Tried again, clearing directory /var doesn't give any effects. Errors still present

[2015-06-04 18:02] alankent commented on #1288
Hi Vladimir,
Are you the image guru (or closest we have)?  I was trying to work out how image serving works in Magento 2.
Thanks!
Alan

Sent from my iPad

On Jun 4, 2015, at 7:47 AM, Vladimir Pelipenko <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, 128M is not enough to correct system work. I can find that in .htaccess file php memory_limit is 768M. @pccomfrank<https://gi

[2015-06-05 10:11] sakiss opened #1340 "Magento Framework?"
I would love to be engaged with magento 2 modules/extensions and generally with development.

I cannot find a lot of resources so my question is if Magento 2 is built over an existing framework or if i can use a framework of my choice?
I can see Zend and Symfony are bundled but i have no idea how these can be used. Any guidance would be great

[2015-06-05 15:51] pierrefay commented on #1252
@milanstojanov @kokoc my bad.

It works if you use :
/var/www/magento2/bin magento setup:upgrade
/var/www/magento2/bin magento sampledata:install admin

Instead of :
php dev/tools/Magento/Tools/SampleData/install.php --admin_username=admin

as written here, in the doc :
http://devdocs.magento.com/guides/v1.0/install-gde/install/sample-data.html#instgde-install-sample-enable-after

Thanks @MagentoD

[2015-06-05 18:20] choukalos commented on #1340
Hi @sakiss,

We view Magento as it's own framework.  As such we use various libraries to help us accelerate development.  In generally we have Magento specific framework interfaces that abstract away a direct reference to those libraries.  So think instead of Magento as it's own framework.  To help, please understand that we're really an enterprise java app that just happens to be written in PHP (

[2015-06-05 21:03] Vinai opened #1341 "[Question] How to specify attributes to load on ProductRepository::getList()"
Using Magento version 0.74.0-beta12, I'm trying to load a list of products, some of which belong to the *Bag* attribute set of the sample data.

Roughly this is the code I'm playing with:
[code]
As far as I can tell the `ProductRepository::getList()` method only adds the default attribute set attributes to the underlying collection.

[code]

How can I add additional attributes to the loaded produc

[2015-06-05 21:48] tobi-pb opened #1342 "Composer Integration and project specific moduls?"
In our magento-1 project wie are using composer to install external dependencies (magento-core, germansetup, some extensions). Customer specific stuff is locacted in src/"Modulename".

This opens up possiblity to have composer.lock + composer.json and customer specfic extensions or themes in same git repository.

As I unterstand current composer integration i have to create minimum 2 repositories

[2015-06-06 00:49] alankent commented on #1342
We are not prescribing how people use Git.

One approach is to use composer to download external dependencies then Git commit everything (including external dependencies). You could call this the paranoid pattern.

Another is to gitignore external dependencies (there is work to keep them under vendor/ so this is a single directory).

You can certainly put local modules in same Git repo as composer

[2015-06-06 12:00] tobi-pb commented on #1342
Mh, I am not sure I have explained my problem exactly.

As an ageny we are supporting more than one shop and i like to have one GIT Repo with magento core packages. All shops are depending on this core repository.

So I created a new project using

[code]

In this case i got a new project including a lot of php files which i NEVER NEVER allowed to change in my project:

[code]

All this files are

[2015-06-06 12:23] tobi-pb opened #1343 "magento-composer-installer : Cleanup code?"
Hey Guys,

I take look into your fork of magento-composer-installer and there a some not supported functions, unused code and so on. It is quite hard to extend or improve this.

(I was planning to make symlink deploy strategy working with magento2)

Could I cleanup this and make a pull request? Or is still somebody else working on this?
Would be bad to do the job and nobody accept pull request :)

[2015-06-06 13:33] Flyingmana commented on #1342
In an agency, you would have only one git repositorie per customer, the composer.json you have would look something like this:

[code]

!!!! ***caution, thats currently a lot of packages, and some big ones, so download can be slow.***!!

maybe a simple `/pub/` with a default index.php and stuff.

Your customer specific modules/code could then be placed in an extra directory.

note: this way to ins

[2015-06-06 16:17] tobi-pb commented on #1342
Thanks @Flyingmana, I allready got it, testet it and I find some improvements :)

Custom directory like "src" would be great but it is not supported at the moment (as you said) and it its not clear that your code would be merged to the official magento composer fork isn't it? So let us focus and discuss a simple solution together with magento.

Would be great to use that in our first magento 2 pro

[2015-06-07 09:04] SKovbel opened #1344 "Add 'Attribute Id' to grid "Product Attributes"?"
Small question, could you add column 'Attribute Id' to grid "Product Attributes" in backend?

Column very useful for production site, its support and developing
when you want to sort attributes by last created or separate by new and system, sync,.
Alphabetic sorting by code not the same.

Sometimes also lacks `Attribute Set Id` from "Product Templates" :)

[2015-06-07 12:49] tobi-pb opened #1345 "Fix recursive dependencies?"
Hello Magento-Team,

I would like to Mirror all external libs so I never got a problem when some external server is gone.

So I decided to use Satis:

[code]

Running `./satis/bin/satis build external.json ../htdocs/packages/external` just clones magento2/product-community-edition instead off all magento2 stuff.

Problem is that magento/product-community-edition exists in packagist.org and in pack

[2015-06-07 13:54] ahmadalkaid opened #1346 "Magento backend style is broken"
Hi Guys,
After install magento2 in my server, It really went good. But after I login to my Admin panel the style seems not working and the buttons is disabled . Here is a screen shoot ...
![magento admin 2015-06-07 16-49-22](https://cloud.githubusercontent.com/assets/9692159/8024245/c4b921dc-0d35-11e5-804d-07077aeb0248.png)

[2015-06-07 14:51] tobi-pb commented on #1342
As @Flyingmana told me "src"-problem is solved when #1206 is merged. So .gitignore default values are open here only :)

[2015-06-07 20:16] godban commented on #1346
Hello @ahmadalkaid

Look like cache issue. Please try to clean up browser cache.

[2015-06-08 02:17] kassner opened #1347 "setup:install fails with empty database"
Hi,

The command `bin/magento setup:install` fails when running integration tests directly with `phpunit -c dev/tests/integration`:

    PHP Fatal error:  Cannot instantiate interface Magento\Framework\Config\CacheInterface in /var/www/lib/internal/Magento/Framework/ObjectManager/Factory/Dynamic/Developer.php on line 75

This should work running directly from PHPUnit instead of `bin/magento dev:te

[2015-06-08 04:08] sivajik34 opened #1348 "0.74.0-beta11 to 0.74.0-beta12 setup:upgrade fail"
a:4:{i:0;s:62:"Setup version for module 'Magento_Sendfriend' is not specified";i:1;s:1464:"#0 /var/www/html/magento2/lib/internal/Magento/Framework/Module/DbVersionInfo.php(56): Magento\Framework\Module\DbVersionInfo->isModuleVersionEqual('Magento_Sendfri...', '2.0.0')
#1 /var/www/html/magento2/lib/internal/Magento/Framework/Module/DbVersionInfo.php(79): Magento\Framework\Module\DbVersionInfo->isS

[2015-06-08 04:12] sivajik34 commented on #1348
i deleted record magento_sendfriend from setup_module then its working fine.

[2015-06-08 06:46] ahmadalkaid commented on #1346
Hi @godban
Thanks for you replay, but is this the new look for Magento2. Indeed the buttons issue it was solved, but the style still as it is, so is that's how  Magento2 going to look like ??

[2015-06-08 07:53] Mackovey commented on #1340
Did The First Magento Team before starting develop Magento use Java EE and none-MySql database?

[2015-06-08 08:31] villageseo commented on #1346
Hi @ahmadalkaid

Did you try to clean /var and /pub/static folders also?

[2015-06-08 10:38] bgkavinga commented on #1280
issue is mostly fixed. But after a checkout it does not update the mini cart. Check the below screen shot.
![image](https://cloud.githubusercontent.com/assets/3830093/8033003/85c42e4a-0df8-11e5-90d6-78f831f09e57.png)

[2015-06-08 12:10] gsouf commented on #983
@choukalos What's about magento 2 status now in June ?

Is it safe to begin to work with magento 2 ?

[2015-06-08 12:44] vpelipenko commented on #1334
@hackin88, did you find suggestions provided by @guz-anton useful?

[2015-06-08 12:50] syamvilakudy opened #1349 "MySQL built-in keyword "key" using as field name"
app/code/Magento/Integration/Setup/InstallSchema.php

In Oath_Consumer table using MySQL built-in keyword "key" as field name

http://dev.mysql.com/doc/refman/5.0/en/keywords.html

[2015-06-08 12:51] vpelipenko commented on #1321
@Alessandro77, probably it is something with Apache/mod_rewrite configuration in XAMPP. I also use it locally on Windows and it is work for me with latest Magento. As possible way you can try to compare Apace configuration in XAMPP and on Ubuntu and analyze differences.

[2015-06-08 13:01] vpelipenko commented on #1349
Does it produce any errors for you?

[2015-06-08 13:17] syamvilakudy commented on #1349
In App, doesn't have any errors. But in the custom development with Custom Queries occurs errors

For example "Where key = '<String>' " will occurs error

"Where `key` = '<String>' " works

[2015-06-08 13:44] Vinai commented on #1343
Cross reference to issue #1206 which will hopefully render the Magento Composer Installer moot.

[2015-06-08 14:23] mazhalai commented on #1348
@sivajik34 This is caused by rename of `Magento_Sendfriend` to `Magento_SendFriend`. We have created ticket MAGETWO-38421 to track this issue.

[2015-06-08 14:32] Zaylril opened #1350 "Install Quits on install on Magento_Catalog"
Hey,

Whilst installing Magento 2 using the magento setup:install command it gets to installing the Magento_Catalog then on running this SQL command:

INSERT INTO `session` (`session_expires`, `session_data`, `session_id`) VALUES ('1433773767', 'X3Nlc3Npb25fdmFsaWRhdG9yX2RhdGF8YTo0OntzOjExOiJyZW1vdGVfYWRkciI7czowOiIiO3M6ODoiaHR0cF92aWEiO3M6MDoiIjtzOjIwOiJodHRwX3hfZm9yd2FyZGVkX2ZvciI7czowOiIiO3M6MT

[2015-06-08 14:51] mazhalai commented on #1350
@Zaylril can you please check your mySQL logs? I could be a mySQL configuration issue, specifically setting for `max_allowed_packet`

[2015-06-08 15:19] choukalos commented on #1340
Yes the original Magento development team had Java experience and was familiar with other databases at that time.  When Magento launched in 2007 it was conceived as an easy to distribute enterprise e-commerce platform.  The platform was architected as an enterprise platform and uses several common design patterns along with extensive use of XML for easy configuration.  PHP was chosen because it wa

[2015-06-08 15:19] mazhalai commented on #1347
@kassner We are unable to reproduce this problem. Can you tell us steps to reproduce it? Can you try  again after deleting the `dev/tests/integration/tmp` folder.

[2015-06-08 15:23] buskamuza commented on #1345
@tobi-pb , thanks for reporting. We have an internal ticket to clean up packagist.org from outdated packages MAGETWO-37853, so it should solve your issue when will be done.

[2015-06-08 15:53] choukalos commented on #983
Hi @gsouf as I stated before we won't launch Magento 2 till Q4 this year.  Currently we're working on merchant features in Magento 2 - i.e. for our up coming Merchant Beta release.  Merchant Beta won't be released until Q3 so still some time before M2 is really ready for merchants to start using it.

At this point we'd like to get our community developers to start working with the platform ( i.e.

[2015-06-08 16:24] jamescowie opened #1351 "Composer.json is replaced when installing magento 2"
When using composer to install magento 2 from this repository: https://github.com/magento/magento2-community-edition E.g. `composer create project magento/magento2-community-edition` then there is no way to add dependencies to the project to start with using composer require or require-dev as the composer.json file is replaced with that from the main magento 2 repository.

This makes it hard for a

[2015-06-08 18:44] kassner commented on #1347
@mazhalai can you try using [this Dockerfile](https://gist.github.com/kassner/31cc4bddc6c8791b0f9e)?

After build, just cd to `/var/www/magento2-0.74.0-beta12` and run `vendor/bin/phpunit -c dev/tests/integration/`

[2015-06-08 19:21] anupdugar commented on #1291
@tzyganu That makes sense. Will add these to the internal ticket. Re-prioritized so that the dependency issues can be cleaned up earlier.

[2015-06-08 19:42] buskamuza commented on #1351
Hi @jamescowie ,

could you, please, describe your workflow?
Usually, you should use that repository to create a project, so you should have `composer.json` from that repository + all Magento files. Then you should not update your project from the repository anymore. Instead, if you want to update Magento version, you should change it here - https://github.com/magento/magento2-community-edition/bl

[2015-06-08 20:37] alankent commented on #1345
Side question - just after your opinion (and anyone else listening). How serious is the problem you are trying to solve?  Do you think Magento should be adding a copy of all 3rd party libraries we depend on to our repo as well?  Feels "wrong", but I understand the dependence on availability. Should we mirror those libraries for reliability?

My gut feeling is no, because you don't need to run comp

[2015-06-08 21:00] mazhalai commented on #1347
@kassner why are you stopping mysqld `service mysql stop`? https://gist.github.com/kassner/31cc4bddc6c8791b0f9e#file-magento-install-sh-L14

[2015-06-08 21:09] kassner commented on #1347
@mazhalai

This file is used only for build the Docker image. I've added a readme with steps to reproduce.

[2015-06-08 21:10] Vinai commented on #1345
Since the recent github outages I see it is becoming common practice to use [toran proxy](https://toranproxy.com/) for mirroring required composer packages.
Personally I think using toran (or another proxy) is a better solution then Magento copying all requirements into the repository, which would not only put the burden of keeping them in sync on the product team, but also remove a lot of the fle

[2015-06-08 21:45] jamescowie commented on #1351
Hello,

So the workflow Im using is that I create a composer.json file that contains:
[code]

It looks like this repository is only useful as the magento community package is loaded from packages.magento.com and not available via packagist and a default instal.

Is there an alternative workflow that will mean that I can create a composer.json file that is not replaced ?

This is more prominent in

[2015-06-09 07:06] tobi-pb commented on #1345
Hi @alankent,

I don't how serious it is but is feels bad when my deployment strategy depends on magentos hosting strategy :)

@Vinai Easiest way to mirror all depending packages is using satis. just add your main requirement, activate archive function and satis does the job :)

When magento solves double naming problem my example above should mirror all depending packages from packagist and packa

[2015-06-09 08:26] antonkril commented on #1341
It's not right to use product collection directly, but this implementation of repository obviously does not support your scenario. So it should be fixed.

[2015-06-09 11:11] Vinai commented on #1341
Thanks for the reply Anton.
Would the following logic make sense in your opinion (pseudo code):
[code]

[2015-06-09 11:11] Alessandro77 commented on #1321
Thanks vpelipenko, I have not customized any files in Xampp , perhaps there is a link to the best practice for magento setup?

[2015-06-09 11:22] Zaylril commented on #1350
Just to give a bit more information I'm running a VM on my windows machine and this error occurs when running the install command within the VM itself which is a CentOS machine. When I tailed the mysql log it logs the insert into the "session" table as above and then just says "Quit" and displays the error I put above.

I've also increased the max_allowed_packet to 500M and increased the timeout f

[2015-06-09 13:24] mazhalai commented on #1347
Thank you @kassner. We have created ticket MAGETWO-38482 to fix this issue.

[2015-06-09 13:27] mazhalai commented on #1350
Can you please tell us what is your version of Magento, MySQL and PHP?

[2015-06-09 17:23] buskamuza commented on #1351
Hi @jamescowie ,

Let's clarify couple things:
1. You say you specify `magento/magento2-community-edition` in your `composer.json`. `magento/magento2-community-edition` is not a composer name, you should use either `magento/project-community-edition`, if you consider Magento as a base for your project, or `magento/product-community-edition`, if you use Magento as a dependency.
2. What do you mean

[2015-06-09 19:10] jamescowie commented on #1351
Hello,

Thanks for clearing that up. The confusion for me came as I found 3 different repositories that could be used:

magento/magento2
magento/magento2-community-edition
magento/product-community-edition

However you are correct the workflow should be that when a new Magento project needs to be created a person will run:

`composer create-project --stability=beta --no-install magento/project-com

[2015-06-09 20:05] jamescowie commented on #1350
Magento version:  0.74.0-beta12
MySQL version: 5.6.24-log
PHP version: 5.6.9

[2015-06-10 00:26] HirokazuNishi commented on #1238
Thank you! I successfully added and displayed custom customer attributes!

[2015-06-10 00:26] #1238 closed

[2015-06-10 09:08] vpelipenko commented on #1321
@Alessandro77, you can find more information here http://devdocs.magento.com/guides/v1.0/install-gde/system-requirements.html.

[2015-06-10 12:44] #1205 closed

[2015-06-10 12:45] vpelipenko commented on #1204
Closed. There is no response from contributor.

[2015-06-10 12:45] #1204 closed

[2015-06-10 12:45] #526 closed

[2015-06-10 12:46] #1046 closed

[2015-06-10 12:47] #566 closed

[2015-06-10 12:48] #1157 closed

[2015-06-10 12:48] vpelipenko commented on #1177
Closed. There is no response from contributor.

[2015-06-10 12:48] #1177 closed

[2015-06-10 12:50] #1174 closed

[2015-06-10 12:51] #1040 closed

[2015-06-10 12:51] #1105 closed

[2015-06-10 12:52] vpelipenko commented on #1105
@seansan, feel free to reopen if you have any updates.

[2015-06-10 12:52] #1178 closed

[2015-06-10 12:53] vpelipenko commented on #1180
Closed. Please, reopen in case of updates.

[2015-06-10 12:53] #1180 closed

[2015-06-10 12:54] #1246 closed

[2015-06-10 12:57] #1269 closed

[2015-06-10 12:58] #1212 closed

[2015-06-10 12:59] #1208 closed

[2015-06-10 13:01] pierrefay commented on #1212
works well thanks.

[2015-06-10 13:01] vpelipenko commented on #1249
Closed. There is no response from contributor.

[2015-06-10 13:01] #1249 closed

[2015-06-10 13:04] vpelipenko commented on #1312
@atrhacker, do you still have any questions?

[2015-06-10 13:09] vpelipenko commented on #1224
Closed. There is no response from @aishwaryacedcoss.

[2015-06-10 13:09] #1224 closed

[2015-06-10 13:11] vpelipenko commented on #1305
Closed. There is no response from contributor.

[2015-06-10 13:11] #1305 closed

[2015-06-10 13:14] vpelipenko commented on #1327
@Perfect-Web, can we close this issue?

[2015-06-10 13:43] IonutPerfectWeb commented on #1327
@vpelipenko Yes, the solution was posted:) Thanks

[2015-06-10 14:29] atrhacker commented on #1312
hello @vpelipenko
Just one
Do you think magento 2 will be IIS compatible in the release candidate version ?
Otheerwise I'm good,

Thanks for your concern and have a great day,

Anselme

[2015-06-10 14:57] tzyganu opened #1352 "Tab with validation errors in not signaled on CMS pages"
**Preconditions**
Version Magento2-0.74.0-beta10 (if this is fixed in later versions I'm sorry for reporting it)

**Steps to reproduce**
 - Log in the backend
 - go to Content->Pages
 - click on add new page
 - click on the second tab (content)
 - hit the Save page button

**Expected result**
 - You should see a small triangle that signals a warning near the first tab title that means there are so

[2015-06-10 15:44] davidalger commented on #107
@alankent if I take the time to update all the template files to use the short-echo tags and submit a PR, would it be something the team would consider accepting?

[2015-06-10 16:00] Reyncor commented on #1337
You have 4 points... All of which have been addressed. I used to be a supporter of pushing LESS forward, but the efforts of Google and the community have left it frankly irreparably behind. Count the amount of Yeoman generators that default to SASS vs LESS, the numbers are strikingly bad for LESS.

 * SASS can be reliably compiled to CSS using PHP alone https://github.com/leafo/scssphp/ plus, ther

[2015-06-10 17:22] hackin88 commented on #1334
Hello

I could load the javascript informing the jQuery dependence

Thank you

[2015-06-10 17:23] #1334 closed

[2015-06-10 17:24] buskamuza commented on #1351
@jamescowie , good point about `bin`. It should be enough to update `bin/magento` instead whole `bin` directory. I created an internal ticket to fix it - MAGETWO-38518

[2015-06-10 17:24] Opticcenter opened #1353 "after installation Magento 2, not available JS scripts (mnginx + php-fpm)"
configuration file nginx

[code]

![192](https://cloud.githubusercontent.com/assets/7892211/8088976/ddc1a904-0fc6-11e5-9f6f-67d487b2a529.png)
![193](https://cloud.githubusercontent.com/assets/7892211/8088977/ddc368fc-0fc6-11e5-8ebf-d128cd7193d4.png)

[2015-06-10 19:04] Opticcenter commented on #1353
php -f bin/magento setup:static-content:deploy

It helped to clear the cache
php -f bin/magento cache:flush

[2015-06-10 19:04] #1353 closed

[2015-06-10 19:11] Zaylril commented on #1350
Ok,

This has now been solved by increasing the wait_timeout, connect_timeout and also  delayed_insert_timeout

Thanks

[2015-06-10 19:11] #1350 closed

[2015-06-10 20:47] sshymko commented on #107
To whoever is going to review this request:

Keep in mind that this is a CE repository. A pull request would include changes to CE files only. Somebody from the Magento team will have to work on EE files in order to complete the short tags support.

[2015-06-10 21:21] alankent commented on #107
I think more of a question for @maksek (the Engineering team). I worry more about big picture architecture.

Good question though. Is there a reason you prefer the short form? How many other people agree? If you get a bunch of people saying "its a good thing" with not many saying "its a bad thing" it makes decisions easier. Some changes are really "for the community". It does not affect us. If suc

[2015-06-10 21:31] erikhansen commented on #107
@alankent I would love to see all template code refactored to the short-echo tag syntax. In addition to saving keystrokes, it would also make it easier to scan a template and see which php tags output content vs everything else. In a quick search of the M2 codebase, I found ~21 usages of the `<?=` tag. So it seems that some developers are taking advantage of the __option__ to use the short-hand sy

[2015-06-10 21:32] Flyingmana commented on #746
this github issue could be closed as my requirements are fulfilled trough https://github.com/magento/magento2/blob/0.74.0-beta12/bin/magento and https://github.com/magento/magento2/tree/0.74.0-beta12/lib/internal/Magento/Framework/Console

Is it safe to close Issues opened by myself or would this affect referenced internal epics like MAGETWO-32719; in this case?

[2015-06-10 22:28] davidalger commented on #107
A quick review of the comment thread here reveals a dozen in support of short-echo tags and less than half that in opposition, at least a couple of the opposers being due to PHP 5.4 not being a requirement at the time (2-3 years ago).

@sshymko Good point. I could take care of that and make a PR on the EE repo too if that made a difference though. ;)

@alankent I'm curious to hear @maksek's though

[2015-06-10 23:40] alankent commented on #1312
There are no plans to officially test compatibility with IIS, but if you try and encounter problems you are free to report them. If easy to fix there is no reason not to.

[2015-06-11 09:16] vpelipenko commented on #746
Closed. @Flyingmana, you can safely close issue opened by yourself in case if it is implemented or in case when you decide that it already doesn't have sense. In another case it can change our priority and there is no guarantee that issue will be fixed.

[2015-06-11 09:16] #746 closed

[2015-06-11 09:17] #1327 closed

[2015-06-11 10:17] aadmathijssen commented on #1244
It does not seem to be possible to run Magento 2 on MySQL 5.5.

I tried it out by changing the constant  the `MYSQL_VERSION_REQUIRED`. This gave the following error on install:

    SQLSTATE[HY000]: General error: 1293 Incorrect table definition; there can be only one TIMESTAMP column with CURRENT_TIMESTAMP in DEFAULT or ON UPDATE clause

It turns out that Magento 2 uses automatic initialization a

[2015-06-11 10:56] Vinai opened #1355 "[Question] To ResultInterface or not ResultInterface..."
I'm confused by a comment in the `\Magento\Framework\App\Http::launch()` method.

[code]
Note the "not" in that sentence.

From this comment it seems as if returning the Result Page from an action controllers `execute()` method is not recommended, but instead the response object should be returned. However, looking at the core code it seems as if using the result page should be used.

Please tell

[2015-06-11 11:19] jamescowie opened #1356 "Difference in files between install"
Hello,

So I used the recommended way of installing magento via composer:

`composer create-project --stability=beta --no-install magento/project-community-edition`

However for Beta 12 I am seeing a different in files based on the way I install. So via magento/magento2 github repository I see: https://github.com/magento/magento2/blob/0.74.0-beta12/app/code/Magento/Backend/Model/Auth.php#L148

Lin

[2015-06-11 12:11] jamescowie opened #1357 "Less compilation"
Hello

When running `grunt watch` or `grunt less` it is generating all the files under `en_US` folder. Having checked the store configuration it is set correctly to `en_GB` and I cant find any configuration that this would require changing in..

When loading resources via the webbrowser I can see requests are being made to the `en_GB` folder but I cant reliably get grunt to compile into this locat

[2015-06-11 14:44] jonathanhodges commented on #107
@alankent I also think moving to a consistent and shorter syntax, since PHP 5.4 is already a requirement, is a good idea.  Also to the point @erikhansen was making, I believe that providing more coding standards (specific to the Magento architecture) could help reduce poor quality modules.

[2015-06-11 15:16] gsouf commented on #983
@choukalos thanks for you anwser.

What's about the migration. I have a big work to do with magento, migrating a whole current platform to magento, then developping new modules to fit the needing. It's planed for 2016.

If I begin to work on magento1 and after a few times I will want to migrate to magento 2, I'm worried about having duplicate work to migrate to magento 2.

In this case, do you thi

[2015-06-11 16:25] alankent commented on #107
Understood. We are following PSR standards - there are occasional debates how much further we should go over PSR, where in this case PSR allows both forms. Max I think is travelling at present - he will probably jump on this thread soon.

[2015-06-11 17:32] alankent commented on #1356
Right now, packages.magento.com is the "golden build".  GitHub might have things that have not been "officially released" yet. But the idea of packages.magento.com is so people who are interested can play doing things closer to what it will be at GA and provide us feedback. But its a bit loose still because we are not doing full semantic version checking etc for the code released there.

But if yo

[2015-06-11 19:11] orlangur commented on #1244
It was discussed in #782, #787 and #977 already. At that time it was enough to change one table definition to get it workable under MySQL 5.5.

So, changing table definition + @aadmathijssen suggestion could be enough.

[2015-06-11 19:37] orlangur commented on #1349
Field names must be escaped with `quoteIdentifier`, in such case first situation will be not possible.

[2015-06-11 20:01] jamescowie commented on #1356
Perfect. Just the answer we needed :) in this instance no code breaks just a gift diff that highlighted the difference.

[2015-06-11 20:50] alankent commented on #1356
If git is tagged but is different to the code in packages.magento.com with the same version number, that is a bug. So this issue should remain open until it is confirmed we are tagging and releasing the exact same version of the code. You have reported you believe the tagged code and the code in packages.magento.com should be the same in this case (but is different).

[2015-06-12 07:29] vpietri opened #1359 "Profiler enabled and isAjax in _REQUEST"
Hi

When profiler is  enabled and you call any page with ```isAjax=1``` as parameter in url you got the following error.

[code]

[2015-06-12 07:49] vpietri opened #1360 "Error loading jquery-storageapi and jquery-cookie"
Hi,

Magento: 0.74.0-beta12 (Ubuntu: Firefox 31 or Chromium 36)
On each page of the frontend there is two errors from requirejs which cannot load 2 libraries

![errorjs](https://cloud.githubusercontent.com/assets/8598479/8125610/606f40fc-10e7-11e5-85c9-41255a5991c9.png)

[2015-06-12 08:30] villageseo commented on #1357
Hi @jamescowie

For configuration you can try to change the locale property for the appropriate theme ('blank'/'luma') in the file: \dev\tools\grunt\configs\themes.js

Hope it will help.

Kind Regards,
Oleg

[2015-06-12 08:40] kirmorozov commented on #1153
Nothing to do inhere.
Please setup ssmtp to make any outgoing email go through any smtp..

[2015-06-12 09:30] thimmey opened #1361 "Magento webinstaller stops at 70%"
Hello,

I try to install magento Version 0.74.0-beta12 and followed the faq for doing so on a fresh mysql database without any previous installation. (cloning the github repository, composer install, running weburl)

unfortunately the installation stops at 70% with Module 'Magento_Catalog':
Installing data..

Any ideas what i can do? I also tried installing magento through commandn line, but I don

[2015-06-12 11:38] andrewtch commented on #1361
Same issue here, but o be more precise it is a FK error:

[code]
and
[code]

[2015-06-12 11:57] andrewtch commented on #1361
Also, by cleaning up everything another error popped up:

[code]

[2015-06-12 13:38] choukalos commented on #1244
If you change the table definition to use MySQL 5.5, please note that full text search will behave differently and have a different performance characteristic.  We've tuned our MySQL full text search implementation for MySQL 5.6

[2015-06-12 14:05] buskamuza commented on #1356
@jamescowie , thanks for the report!
We had some technical issues during publication of `0.74.0-beta12` and so, the packages were published with some additional commits comparing to the GitHub version.
In general, publication happens basing on the same code for both packages and GitHub version, in one time, and this should not happen in future.

[2015-06-12 14:36] hillzzz opened #1362 "The admin interface locale is not "sticky" and reverts to en_US"
If you change the interface Locale setting in the Admin interface at the bottom of the page it works for one session but if you leave/close the admin interface and come back later the locale setting is forgotten and has to be re-set

[2015-06-12 14:36] mazhalai commented on #1361
@thimmey @andrewtch do you have previous installations of magento? Can you try `bin/magento setup:uninstall` before installing?

[2015-06-12 14:47] andrewtch commented on #1361
It stops at 70% first time with and wo sample data; second time works and _without_ sample data install completes.
If I try to import sample data (both during install and after install), data version beta-12, it ends with ``fopen(): Filename cannot be empty`` error, console and Web.

Everything, of course, is being tested with clean database, edge ``develop`` and wiping magento dir.

[2015-06-12 16:29] thimmey commented on #1361
@mazhalai there is no previous isntallation. clean folders and db

[2015-06-12 18:07] ahmadalkaid commented on #1346
Hi @villageseo,
Yes I did, and it worked, But is there any issue with the style ??

[2015-06-12 18:10] giklou commented on #1361
Same problem here, I tried to install the Versions 0.74.0-beta12 and 0.74.0-beta13 without success

[2015-06-12 18:24] vortex-mike commented on #1360
This seems to be related to/the same issue as https://github.com/magento/magento2/issues/1319

It looks as though parts of the code are expecting jquery-cookies.js and others are looking for jquery.cookies.js... the only way I was able to get it to work was to create 2 files one with "-" and one with "." and now it works just fine and I am not getting an error. This is not an ideal solution. Can t

[2015-06-12 19:26] xcomSteveJohnson commented on #1361
I expect you've seen this but just in case:
Install sample data before installing Magento: http://devdocs.magento.com/guides/v1.0/install-gde/install/sample-data.html#instgde-install-sample-enable-before

Install sample data after you install Magento: http://devdocs.magento.com/guides/v1.0/install-gde/install/sample-data.html#instgde-install-sample-enable-after

[2015-06-12 19:28] andrewtch commented on #1361
Both.

"Install before" - dies on 70%, on retry, halts on 97%.
"Install after" - on fopen error.

[2015-06-12 19:34] xcomSteveJohnson commented on #1361
I wonder if there are common factors. What web server are @andrewtch, @thimmey and @giklou using? PHP version? MySQL version? OS?

[2015-06-12 19:45] andrewtch commented on #1361
fopen() error renders both on console and web installs, so I suppose it is a fixture issue.

php - latest brewed 5.6, on 10.10 osx, 5.6 mysql.

[2015-06-12 19:51] thimmey commented on #1361
Php 5.5.21 mysql 5.6. Os i don't know yet. Im not able to restart the installation, it say then service unavailable.

[2015-06-12 20:26] giklou commented on #1361
PHP 5.5.9-1ubuntu4.9
OS mysql 5.6.19-0ubuntu0.14.04.1
Ubuntu 14.04.2 LTS
@xcomSteveJohnson

[2015-06-12 23:25] xcomSteveJohnson commented on #1361
The other obvious thing to check is the version of the sample data module. Check to make sure that the version in composer.json is at least magento/sample-data:0.74.0-beta10. Versions earlier than that had known issues but IIRC it manifested when it was installing Orders, not Catalog.

[2015-06-13 04:21] Opticcenter opened #1363 "Cart is not working because of an incorrect path"
in file customer-data.js

`/pub/static/frontend/Magento/blank/en_US/Magento_Customer/js`

change line 11
 `    'jquery/jquery-cookie' `

to
`    'jquery/jquery.cookie' `

[2015-06-13 06:13] 5mehulhelp5 opened #1364 "Table rate issue"
Hello i hope you are fine but i have some problem in table rate
is there any why where table rate shipping will apply on taxed subtotal (tax including subtotal).

so can we make some admin interface where user choose like apply tax on tax included or tax excluded subtotal.

Thanks Please let me know if you need some more info.

[2015-06-13 06:25] Vinai commented on #1362
BTW, the same is true for Magento 1 so it might be expected behavior.
Workaround: changing the default scope locale in the store config also switches the admin panel locale permanently.

[2015-06-13 08:39] sivajik34 opened #1365 "how to get store currency from rest api?"
I'm able to get product information from rest call.but unable to find out any call related to store currency information.

[2015-06-13 10:14] craigcarnell commented on #1361
I have the same issue, clean install

[2015-06-13 10:30] andrewtch commented on #1361
@xcomSteveJohnson , beta12 as mentioned above. self.verion also tried.

[2015-06-14 15:32] bhavin88 opened #1366 "Add Simple Product from admin"
![url_key](https://cloud.githubusercontent.com/assets/12870148/8149203/c4bd1d84-12d8-11e5-9dcb-48e0d81122d4.png)
Hello,

I have try to add simple product from admin. I have added product details and hit on save button then it give errors : URL key for specified store already exists.

[2015-06-14 21:04] sidealice opened #1367 "String class name issue for php7"
Fatal error: Cannot use 'String' as class name as it is reserved in lib/internal/Magento/Framework/Data/Argument/Interpreter/String.php on line 14

[2015-06-14 22:41] alankent commented on #1367
Yes, there are a few similar class named we hit when we tried php 7 as well. Good news was there were not many that needed to be renamed to get php to work. (I don't recall where that got to on the backlog.)

[2015-06-15 07:26] ishakhsuvarov commented on #1366
Hi,
Could you please provide some additional information regarding this issue? Is it a fresh Magento installation? Did you change something in configuration or using a stock config?
This would greatly help us to reproduce this case and find a best solution.

[2015-06-15 09:28] vpelipenko commented on #1292
@tzyganu, the fix is available from 0.74.0-beta13. Could you check it on the latest version?

[2015-06-15 09:31] vpelipenko commented on #1133
@mzeis, issue in getStatus() method was fixed and available from 0.74.0-beta13. Could you check it?

[2015-06-15 09:33] vpelipenko commented on #1263
@sivajik34, issue is fixed and available from 0.74.0-beta13.

[2015-06-15 09:34] vpelipenko commented on #1284
@sivajik34, this issue is already fixed and available in public repository. Please, check it again on the latest version.

[2015-06-15 09:37] thimmey commented on #1361
@xcomSteveJohnson my composer.json file doesnt contain any sample-data entry.

[2015-06-15 13:00] vpietri commented on #1360
Yep it's a working workaround.

[2015-06-15 13:15] villageseo commented on #1346
Hi @ahmadalkaid,

Current dashboard view:
![dashboard](https://cloud.githubusercontent.com/assets/2562553/8160494/ceb24378-1378-11e5-97d1-31841f3709c9.jpg)

I don`t see any issue with the style. Could you explain please your concerns?

Kind Regards,
Oleg

[2015-06-15 17:03] mzeis commented on #1133
@vpelipenko Thanks, looks good!

[2015-06-15 17:46] orlangur commented on #1367
PHP7 is not supported yet: https://github.com/magento/magento2/blob/develop/composer.json#L11

There are more reserved words which needs to be considered: http://php.net/manual/en/reserved.other-reserved-words.php The most frequently used in code base is `object` I believe.

[2015-06-16 07:45] orlangur commented on #1366
Looks like there is a `test` category present in the system too? When autogenerated URL key already exists in store, merchant should go to `Search Engine Optimization` tab and enter another value manually.

[2015-06-16 08:45] vpelipenko commented on #1356
@jamescowie, this issue is fixed during 0.74.0-beta12 publication. You can verify it on the latest code.

[2015-06-16 08:53] #424 closed

[2015-06-16 08:57] thimmey commented on #1361
And if you look the github composer.json there is also no sample-data entry.

[2015-06-16 09:20] guz-anton commented on #1363
Thanks for pointing. I've created internal issue MAGETWO-38732.

[2015-06-16 09:32] vpiyappan opened #1369 "Magento admin panel not loading properly"
After installing Magento 2 the Css and Js files are not loading properly, due to that issue the page design looks bad. Even the Sales, Customer etc links are not clickable.

[2015-06-16 09:51] kokoc commented on #1366
@bhavin88 Could you please try solution provided by @orlangur?

[2015-06-16 10:38] tzyganu commented on #1292
@vpelipenko It seams to work fine now. Thanks for the quick fix.

[2015-06-16 10:38] #1292 closed

[2015-06-16 10:45] kwasseem commented on #252
Hi @verklov , any updates on this?
Also, how can I view the ticket MAGETWO-23727 ? (may be I'm searching at the wrong place for it)

Thanks!

[2015-06-16 12:02] kdemanuele-cw opened #1370 "EAV Attribute Repository linking to catalog_eav_attribute"
When creating an EAV entity one can specify an `additional_attribute_table`. However in the class `Magento\Eav\Model\AttributeRepository` the `getList()` function is not adding the specified table, if any, but always linking to `catalog_eav_attribute`.

[2015-06-16 13:56] vpelipenko commented on #1348
@sivajik34, after working on internal ticket we decided that this issue won't be fixed, due to absence of downgrade mechanism. In another words, in this case old module should be removed with all its resources and new module installed instead. It was backward incompatible change for these versions, sorry for that. We'll try to be more careful in the future.

[2015-06-16 14:51] kwasseem opened #1372 "bin/magento cache:flush does not clear everything?"
Hi,
I notice that flushing the cache using the magento script, does not clear stuffs inside **var/generation**

``` $ bin/magento cache:flush --all ```

Any comments on this please?

Thanks.

[2015-06-16 14:56] tzyganu commented on #1120
This looks like is fixed in 0.74.0-beta13. It may have been fixed earlier but I just noticed it by mistake.
I will close the issue. Thanks for the fix.

[2015-06-16 14:56] #1120 closed

[2015-06-16 14:56] #1372 closed

[2015-06-16 14:58] 7php opened #1373 "bin/magento cache:flush does not clear everything?"
Hi,
I notice that flushing the cache using the magento script, does not clear stuffs inside **var/generation**

``` $ bin/magento cache:flush --all ```

Any comments on this please?

Thanks.

[2015-06-16 15:14] riconeitzel opened #1374 "\Magento\Framework\Phrase\Renderer\Placeholder::render() can't handle more than 9 placeholders"
Using the code fragment

[code]

in a phtml file will result in the following **wrong** output:

[code]

because Placeholder Renderer uses _str_replace_ which replaces %10 in the first place.

__Question:__ What exactly was wrong with the old sprintf rendering?!

[2015-06-16 16:24] joshdifabio commented on #1374
We can fix this easily by reversing the ordering of the items in the `str_replace` call and replacing the higher-numbered items first. I'll submit a PR.

[2015-06-16 16:56] riconeitzel commented on #1374
@joshdifabio yeah but that just "covers" the problem that str_replace might not be the right piece of PHP for that task? What happened to sprintf here?

[2015-06-16 18:39] SamTay commented on #1319
@adzminz From the issue referenced above (#1360) a temporary workaround has been found: copy the ``jquery.cookie.js`` to a file called ``jquery-cookie.js``.

I totally missed that the browser was trying to access the the file with the hyphen. Good catch @vortex-mike.

[2015-06-16 19:38] vortex-mike commented on #1319
you may need to have both files for it to work... it's being called differently in different places

[2015-06-16 20:07] buskamuza commented on #1372
Hi @kwasseem , "var/generation" is not considered one of the cache types. That's why it's not cleaned.
Same, as, for example, sessions.
Right now we don't have a special tool for clearing everything (cache, generated code, static view files).

[2015-06-16 20:08] buskamuza commented on #1373
Hi @kwasseem , "var/generation" is not considered one of the cache types. That's why it's not cleaned.
Same, as, for example, sessions.
Right now we don't have a special tool for clearing everything (cache, generated code, static view files).

[2015-06-17 04:07] adzminz commented on #1319
@SamTay @vortex-mike Thank you!

[2015-06-17 05:18] aoldoni opened #1377 "Maintence mode for all entry points"
Hi All,

This is to discuss the scenario where cron tasks still run in Magento, even in maintenance mode.

As per the installation guidelines, you should always activate the Magento cron in the crontab ( http://devdocs.magento.com/guides/v1.0/config-guide/cli/config-cli-subcommands-cron.html ). This means adding the `/bin/magento cron:run` command to the crontab.

Suppose a situation where you are

[2015-06-17 06:25] pccomfrank commented on #1324
Yes. Please.

[2015-06-17 07:26] Vinai opened #1379 "Sort order for di.xml arrays can't be influenced"
When constructing arrays using DI (or also in layout XML) with the `array` type, it seems to be impossible to influence the order or the elements except via module load sequence.
However, it currently is not possible to have one module to add itself to the sequence of another module, which limits this option severely.
As I'm sure you are aware, the sort order of the array elements can be quite imp

[2015-06-17 08:46] #1324 closed

[2015-06-17 09:02] joshdifabio commented on #1374
Well, I'm not part of Magento but I'll try to guess the reasons.

The interface of this method is quite different to that of `sprintf`: This method supports named and numbered arguments and implicitly treats all arguments as strings, whereas `sprintf` only supports numbered arguments and requires clients to define the type of each argument, which makes numbered arguments quite cumbersome to use.

[2015-06-17 09:44] vpelipenko commented on #1367
Internal ticket: MAGETWO-37817

[2015-06-17 09:57] thimmey commented on #1361
Anything new?

[2015-06-17 11:30] ahmadalkaid commented on #1346
Hi @villageseo
Thank you that solve my concerns.
Best,
-kaid

[2015-06-17 12:14] riconeitzel commented on #1374
Thanks for taking the time to think about that @joshdifabio :-) :+1:

[2015-06-17 13:52] mariarti opened #1380 "The "--base_url" option does not exist."
I try to install the Magento software from the command line
php bin/magento setup:install --base_url=http://example2.com/ --backend_frontname=admin --db_host=localhost --db_name=magento2 --db_user=magento2 --db_password=123456 --admin_firstname=Darth --admin_lastname=Vader --admin_email=admin@example.com --admin_user=admin --admin_password=123456 --language=en_US --currency=EUR --timezone=Europe/A

[2015-06-17 13:53] kassner commented on #1380
Underscores were replaced by hyphens, use `--base-url` and `--admin-email` and so on.

[2015-06-17 14:02] mariarti commented on #1380
Thanks, you right. (it changed)

[2015-06-17 14:02] #1380 closed

[2015-06-17 14:25] kdemanuele-cw opened #1381 "Functional tests failing on menu item select"
When running the functional tests with selenium the tests are failing when trying to locate the XPath
`.//li[@role="menu-item" and a[span="System"]]/div[@class="submenu"]`. The reason for the test to fail is that the menu overlap is shown which changes the class to "submenu _overlap". The correct XPath should be `.//li[@role="menu-item" and a[span="System"]]/div[@class="submenu _overlap"]` or `.//

[2015-06-17 15:15] lanken commented on #1381
Thanks for reporting, test \Magento\Backend\Test\TestCase\NavigateMenuTest  has been fixed. Changes will be available with the next GitHub publication.

[2015-06-17 15:58] buskamuza commented on #1361
Hi all, let's clarify what we have now. Looks like, there are several people with the same issue. So I have few questions for each of you (to ensure that we wave same issues or maybe they are different):
1. Does it happen for Web Installer only? Or it also stops for CLI installer?
2. If the same issue is present for CLI installer, please, provide full command you used and output (at least last ~20

[2015-06-17 16:23] keithbentrup opened #1382 "magento setup:install --base-url="http://{{base_url}}/" should be valid"
I should be able to not specify the url during installation and simply use the {{base_url}} value, so that it'll work with whichever host/ip and port that I later choose.

[2015-06-17 16:43] antonkril commented on #1372
var/generation contains generated code. Generated code is not form of cache it's just code that can be auto-generated so we allow user not to write it.

Generated code does not depend on state of application or its configuration, so it should not be flushed with other types of cache.

[2015-06-17 17:08] vancoz commented on #1382
Hi @keithbentrup, thank you for reporting. I think this is more change request than bug and needs PO input.

[2015-06-17 17:14] andrewtch commented on #1361
Olga,

1. Both
2. Standard install as pec documentation
3. https://gist.github.com/andrewtch/b5f8e1f97f23e1e6dfe0
4. I can provide a trace:
[code]
5. Sorry, no ( local osx install, stock apache 2.4

[2015-06-17 17:15] andrewtch commented on #1361
However, it's not a clean install but the error is the same.

[2015-06-17 17:43] Opticcenter opened #1383 "Log in to the admin panel to develop mode an error"
mode develop an error before log in to the admin panel

`Warning: Magento\Framework\View\Element\Html\Calendar::_toHtml(): Cannot load resource element 'fields' in /var/www/magento2/lib/internal/Magento/Framework/View/Element/Html/Calendar.php on line 92
#0 /var/www/magento2/lib/internal/Magento/Framework/View/Element/Html/Calendar.php(92): Magento\Framework\App\ErrorHandler->handler(2, 'Magento\\

[2015-06-17 17:57] MuhSartaj commented on #1382
Hi @keithbentrup I can be done from admin section . I know the solution , for what you looking for .

Allow me to fix this task .

[2015-06-17 19:53] Opticcenter opened #1384 "Separation of rights and user roles in the admin panel of shops and store"
How do I restrict a user's access to the Backend only to different stores.
Now only configurable access to sections of the admin panel, but not stores

[2015-06-17 23:49] alankent commented on #1372
Should there be a separate cli command to clear it? For developers to use in dev mode. A dev-mode-clear

Sent from my iPhone

On Jun 18, 2015, at 2:43 AM, Anton Kril <notifications@github.com<mailto:notifications@github.com>> wrote:

var/generation contains generated code. Generated code is not form of cache it's just code that can be auto-generated so we allow user not to write it.

Generated cod

[2015-06-18 01:19] buskamuza commented on #1382
Hi @keithbentrup ,

could you, please, clarify what means "so that it'll work with whichever host/ip and port that I later choose."?

`{{base_url}}` placeholder is used in the Magento Admin Panel to reference to Base URL, which is the `--base-url` option for.

[2015-06-18 01:32] buskamuza commented on #1361
Thanks, @andrewtch .
Why I usually ask about exact command - because sometimes it may have a mistake (e.g., typo) or maybe there is some outdated documentation, which we missed, but you still follow. So it's always better to rely only on 100% facts.

Basing on your output, could you, please, check permissions for Magento files? As I understand, in the case you provided output for, this file is not

[2015-06-18 01:36] buskamuza commented on #1361
Could you also try to disable opcache and see if it helps?

I'd also suggest to increase memory_limit to, at least, 768M. We override  the value in `.htaccess` for web requests, but your CLI still uses value from php.ini.

[2015-06-18 05:16] MuhSartaj commented on #1382
Hi,

In magemto you can change base url from database . find  table
core_config_data and find  base url into table . when you will find there
you can change .

or

https://kb.magenting.com/content/10/9/en/change-magento-base-url.html

On Thu, Jun 18, 2015 at 6:49 AM, Olga <notifications@github.com> wrote:

[2015-06-18 05:47] #1284 closed

[2015-06-18 05:48] sivajik34 commented on #1348
thank you for your response.

[2015-06-18 05:48] #1348 closed

[2015-06-18 05:49] sivajik34 commented on #1263
thank you

[2015-06-18 05:49] #1263 closed

[2015-06-18 05:57] Vinai commented on #1372
@cmunch just added it to n98-magerun2, it is useful:
https://github.com/netz98/n98-magerun2/commit/5b80db5325bb69855081621a2a3c3bac1dbb53da

[2015-06-18 06:25] alankent commented on #1372
At some time I think it would make sense to see if we can align/merge the n98-magerun2 with bin/magento provided with Magento. E.g. have all the commands as is, but have them run from the 'magento' executable. Not urgent, but the goal of merging the n98-magerun2 shell into bin/magento was to make sure all the power of n98-magerun2 was available to everyone out of the box. Not urgent, and can be ce

[2015-06-18 06:42] Vinai commented on #1372
Just for reference, it already works the other way around, that is, n98-magerun2 automatically provides all commands provided by bin/magento. Maybe you can find a common strategy forward with @cmuench. Seems like both tools already are very close. It would be helpful to have a good idea what the distinguishing factors are, that is, what tool to use under which circumstances.

[2015-06-18 07:33] Opticcenter opened #1386 "Filter products interface to add product"
`Admin Panel ->  Product -  Add Group Product`
-  When you create a group product stores no filter in the interface add the product
  ![22434](https://cloud.githubusercontent.com/assets/7892211/8226233/9d7002bc-15be-11e5-8695-488e3120ad2a.png)

  and a possible error
-   It is not possible to set a price or a discount on a product group

[2015-06-18 08:40] antonkril commented on #1379
Sorting wasn't implemented because it'll have impact on performance of ObjectManager. But I agree that we should support it. Thanks for the suggestion. I'll let you know when we have news about this.

[2015-06-18 08:54] vpelipenko commented on #1381
Internal ticket: MTA-2210

[2015-06-18 08:56] vpelipenko commented on #1346
@ahmadalkaid, can we close this issue?

[2015-06-18 09:15] Vinai commented on #1341
Is there an internal ticket for this issue?

[2015-06-18 09:30] antonkril commented on #1341
Yes. MAGETWO-38948. I don't think smth. is planned here. In my opinion attributeSetId and list of attributes to load do not belong to search criteria. These are operation modifiers and should be passed as an additional argument.

[2015-06-18 10:20] 7php commented on #1373
Hi @buskamuza thanks for the response, appreciate.

yeah technically yes :)
But would be awesome to have everything cleared up with one command - hope the core team can come up with something though

cheers

[2015-06-18 10:29] 7php commented on #1373
UPDATED: (for anyone reading in this)

VinaiKopp says this has been added to n98-magerun2: https://github.com/netz98/n98-magerun2/commit/5b80db5325bb69855081621a2a3c3bac1dbb53da
which is awesome!

[2015-06-18 10:40] thimmey commented on #1361
@buskamuza

The error occurs with webinstaller. When I try installing magento through commandn line, I dont get anything except the message "X-Powered-By: PHP/5.5.21 Content-type: text/html".

phpinfo -> https://gist.github.com/thimmey/b895c34faf99ce223edf

[2015-06-18 11:00] nevvermind opened #1387 "Namespacing Composer extra configs"
As Composer packages get used more and more, if not careful, some of their `extra` configuration may clash at some point in the future.

Not only that, but having an en-gross `extra` object, it won't be easy to figure out which config belongs to what package.

It would be great if Magento 2 would spearhead good practice (in my opinion at least) and use namespaced configs. We already have the best

[2015-06-18 11:43] matthewjfberry commented on #1018
**Also** experiencing this issue in Magento 1.9.1.0. [Reported on Magento SE](http://magento.stackexchange.com/questions/71423/error-thrown-when-loading-specific-product-page).

Still waiting on a fix.

[2015-06-18 15:43] keithbentrup commented on #1382
In the admin, "{{base_url}}" is a valid option, so I should be able to specify that value during the installation.

There are scenarios where I want to scale the number of m2 instances and this requirement of providing a static host:port combination beforehand unnecessarily limits that ability.

For example, linux containers technology like Docker will randomly assign a port, so if I want to spin

[2015-06-18 15:48] buskamuza commented on #1382
Hi @keithbentrup , `{{base_url}}` placeholder can NOT be used in "Base URL" field in the Admin Panel. You can use this placeholder in all other fields, which works as a reference to the "Base URL" field. This option in the CLI is the same as the field in Admin Panel.

You should determine the host/port in your script and use that value in the command instead of hard-coded value.

[2015-06-18 16:03] keithbentrup commented on #1382
I'm not sure what you mean by "can NOT". I put the {{base_url}} in the "Base URL" field in the Admin Pane. It accepts it. I flush the cache, clear var/, and "{{base_url}}" works. Have you tried it?

Regardless, there is a need for it. We used it extensively in many dev & QA scenarios on magento 1.14.

![admin](https://cloud.githubusercontent.com/assets/253579/8235773/dbe16de0-15b1-11e5-924f-eeb66a

[2015-06-18 16:12] buskamuza commented on #1382
@keithbentrup , you're right. Sorry for the confusion.
I created an internal ticket to fix the CLI MAGETWO-38974. Thanks for reporting it.

[2015-06-18 16:12] keithbentrup opened #1388 "Included styles.css in design/head/includes is not updated after a change to the base URL"
I changed the base URL value using the admin interface. I confirmed that the web/unsecure/base_url path changed in core_config_data. However, design/head/includes references the old web/unsecure/base_url in its value.

[code]

In the output above, I changed base_url from http://192.168.58.103:32813 to "{{base_url}}" using the admin. However, look at the path value for design/head/includes. Also, w

[2015-06-18 16:48] tanya-soroka commented on #1343
Hello @tobi-pb
It is really good idea, and we will appreciate your help and contribution.
Please submit a pull request with your clean up code, so we will review and can merge it to the Magento repository.

[2015-06-18 17:38] tanya-soroka commented on #1141
Setup page is not available after installation right now. The @vrann suggestion has been implemented.

Closed. Feel free to reopen if you see an issue with this.

[2015-06-18 17:38] #1141 closed

[2015-06-18 19:58] mbrinton01 commented on #1377
Tracking internally as MAGETWO-38980

[2015-06-18 20:50] james-hickman-arc opened #1390 "Overriding default paths in app/etc/env.php?"
I see that replacing the static data structure in app/etc/env.php with dynamic code can dynamically change the database connection parameters but is it possible to also change the default file system paths using the configuration array? Undocumented fields that can be passed in that way? Full documentation about what can be modified here would be really useful.

I am attempting to implement a mult

[2015-06-18 21:20] kschroeder commented on #1390
Multi-tenancy would seem to make more sense (to me, at least) by building a database adapter that understands multi-tenancy.  Logic should probably not be placed in a configuration file.  I wasn't part of the discussion, but my gut says that the reason why this is a PHP file and not an XML file, as in M1, is soley so an opcache can keep it in RAM.  Can't speak for the core team but that would be m

[2015-06-18 21:43] james-hickman-arc commented on #1390
Thanks for the feedback. So the recommended solution would be overriding the data access classes with derived classes that implement the multi-tenant database connection logic? So the same would be the recommended solution to the file system access classes?

[2015-06-18 21:47] kschroeder commented on #1390
Without knowing anything about what you're trying it would probably be done using the DI configuration and setting a preference for your classes over the core ones with your classes extending the core classes.

[2015-06-18 22:06] james-hickman-arc commented on #1390
Thanks kschroeder. That's the thought process I am pursuing ... but there are a lot of layers of abstraction before the database connection actually happens. I'm guessing that extending the AbstractDB class is at least the starting point.

My goal is fairly simple, have a unique database and file system context for tenants. I see that with this approach multiple domains will need to map to the sam

[2015-06-18 22:12] kschroeder commented on #1390
AbstractDb probably wouldn't work since resource classes would be directly extending that class.

[2015-06-19 08:06] vpiyappan commented on #1299
Hi Tungmpo,

Your Steps resolved my admin link not working issue.

Thank you for your information.

Best Regards,
Iyappan Perumal

[2015-06-19 09:18] vpietri opened #1391 "Error generating styles-m.css from Less library"
Hi,

Hi have an error on loading styles-m.css after removing var/ and pub/static/ directories content.

* Magento: ver. 0.74.0-beta13
* oyejorge/less.php: v1.7.0.3

Html content for url
*http://..../pub/static/frontend/Magento/blank/fr_FR/css/styles-m.css*
is
[code]

[2015-06-19 11:49] SKovbel opened #1392 "Could you add TYPE_VARCHAR"
Could you add new type
       \Magento\Framework\DB\Ddl\Table::TYPE_VARCHAR

[2015-06-19 11:49] gordonknoppe commented on #1361
I experienced this issue as well, installer stopped at 70% during Magento_Catalog install.  My problem in the php error_log was max_execution_time (default: 30 sec) on OOTB Ubuntu 14.04.  I noticed you raise the max_execution_time via .htaccess for the main app but not in setup/.htaccess.  I added the same PHP configuration settings to setup/.htaccess and flushed database for a clean install and i

[2015-06-19 12:41] orlangur commented on #1392
`TYPE_TEXT` is used for this:
https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php#L1685
https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php#L2277

[2015-06-19 12:50] Mackovey commented on #1392
So is `varchar` type deprecated in Magento2?
Or what the reason why i must use `text` instead of `varchar`

[2015-06-19 12:53] nevvermind commented on #1392
@Mackovey - have you clicked the links? `varchar` wil be used if the specified col length is `<= 255`.

[2015-06-19 12:54] orlangur commented on #1391
This is much less than default 768 Mb memory limit: https://github.com/magento/magento2/blob/develop/.htaccess#L39

Increasing memory limit to recommended value could solve your problem.

[2015-06-19 12:58] orlangur commented on #1392
No, just one `TYPE_TEXT` constant is used to represent all following types:
[code]
and the most suitable type of the DB engine will be used automatically.

[2015-06-19 13:21] Mackovey commented on #1392
ok, understood, thanx

[2015-06-19 15:01] buskamuza commented on #1387
Hi @nevvermind , good idea. I'd use "magento/magento2", not "magento2ce" because CE is just a combination of Magento 2 components, but the logic is applicable for any M2 component (even, if it's not in CE).

Another concern here is that this `component_paths` is introduced by the original Hackathon Composer Installer for M1 and we based M2 installer on it. Changing the path now may confuse the one

[2015-06-19 15:27] nevvermind commented on #1387
Yeah, I used "magento2ce" just to emphasize the `<vendor>/<package>` duo. But I still think it's better to use the package name exactly, just to stick to a standard, othewise it's back to people using whatever they want.

I didn't know. I assumed it was yours. In this case, yeah, you shouldn't change that. You should change only what's Magento's.

[2015-06-19 16:03] sashas777 opened #1393 "Custom customer attribute not saves"
Hi,
I have made custom text attribute for customer (admin customer edit form) using installation script.
The attribute shows fine, but its not possible to save any value - seems that value not insets into customer_entity_varchar table.

[2015-06-19 17:13] #1013 closed

[2015-06-20 15:24] sivajik34 opened #1394 "beta 13 to beta 14: setup:upgrade"
Autoload error:An abstract factory could not create an instance of magentosetupconsolecommandmoduleuninstallcommand(alias: Magento\Setup\Console\Command\ModuleUninstallCommand).

[2015-06-20 15:30] vancoz commented on #1394
Hello @sivajik34,

could you please run composer update and clean up var/cache and var/generation?

Thank you

[2015-06-20 15:45] sivajik34 commented on #1394
thanks.

[2015-06-20 15:45] #1394 closed

[2015-06-20 15:57] sivajik34 opened #1395 "mini cart not showing items"
![mini cart](https://cloud.githubusercontent.com/assets/7636894/8267992/044a796a-1793-11e5-943a-1946aa8b3609.png)

i added couple of products to cart with out login.

[2015-06-20 16:27] adzminz opened #1396 "Products are not shown in category right after import"
Magento: ```0.74.0-beta14``` ```Default mode```
All caches are disabled.

Expected result is to see imported products shown in category page (frontend) right after successful import. In my testing, I have to toggle each product status from **Product Online** to **Product Offline** and save then toggle it back to **Product Online** again in order the product to be visible.

![capture](https://cloud

[2015-06-22 04:13] chadbean commented on #1388
@keithbentrup How did design/head/includes get populated, do you recall? I just installed a new instance of Magento 2, and there was no row in `core_config_data` with the path design/head/includes.

I went to Stores -> Configuration -> General -> Design -> HTML Head and set "Miscellaneous Scripts" to a random value and saved.  Then, when I looked at the core_config_dat the path design/head/include

[2015-06-22 06:15] mukundthanki opened #1398 "Can't Install with sample data - 0.74.0-beta14"
Hi,

I am trying to install magento2 - 0.74.0-beta14 version with sample data with command line,

I have followed steps mentioned here : http://devdocs.magento.com/guides/v1.0/install-gde/install/sample-data.html - Enable sample data before you install the Magento software

I have followed steps mentioned here for installation : http://devdocs.magento.com/guides/v1.0/install-gde/install/install-cl

[2015-06-22 06:20] maksek commented on #1398
Hi @mukundthanki, we are working on fixing the issue. It is confirmed. Meanwhile you can do quick fix, while we will update package.
Fix is: find the class ```Magento\SampleData\Model\Logger```, and replace line 8 with ```use Magento\Framework\Setup\LoggerInterface```.

[2015-06-22 08:58] Vinai commented on #1393
Have you assigned it to the form? In #1238 there is a module setup example I've used to create a working custom customer attribute.

[2015-06-22 09:01] vpietri commented on #1391
You're right.

I'm running with Apache and php fastCGI. In this configuration php initialisation from .htacces is not allowed.

Many Thanks.

[2015-06-22 09:01] #1391 closed

[2015-06-22 09:02] Vinai commented on #1387
:+1: for breaking bc now during the beta. :+1::+1::+1: if breaking bc helps adoption of placing modules directly into vendor.

[2015-06-22 09:05] paliarush commented on #1355
@Vinai , thank you for pointing to this issue. As you mentioned, "not" is put here incorrectly and will be fixed.

In the future all action controllers are expected to return `\Magento\Framework\Controller\ResultInterface`, so this is a recommended usage.

[2015-06-22 09:10] Vinai commented on #1355
Thank you for clarifying @paliarush! On that note, would you be open for a PR with a Text response type (similar to json or raw) which defaults to a text/plain content type? It's main purpose would be for easy test controllers during development.
Or would you prefer to keep out code that would probably only be useful during development?

[2015-06-22 09:19] joshdifabio commented on #1387
I agree. I believe that any third parties developing for Magento 2 at this relatively early stage will be expecting BC breaks.

[2015-06-22 09:20] Vinai commented on #1341
From a clients point of view I would expect that each product received from the repository would have all values loaded for that product's attribute set, even if the `SearchResult` would contain products from different attribute sets.
This would also help decouple the internal storage logic further from any clients using the repository.
I'm aware implementing this without adding a couple more db r

[2015-06-22 09:44] paliarush commented on #1355
Please consider using `\Magento\Framework\Controller\Result\Raw` to return plain text, it should suffice for testing purposes (not sure what your testing use case is though).

Please also note, that it is discouraged to add any code, which will be used for development purposes only, to core framework.

[2015-06-22 10:20] nevvermind commented on #1387
@Vinai @joshdifabio - not sure exactly what you mean by "BC break" here. You mean to change the installer's extra config (`component_paths`) to a namespaced one?

[2015-06-22 10:26] Vinai commented on #1355
The testing purpose is to add a controller and dump some text to the screen easily. Afterwards that controller is removed again.
This is a scenario I use a lot during development and also in trainings.
When using the Raw result implementation, it always requires specifying the text/plain content type so newlines and spaces can be used to format the output.
[code]
It's not a big thing, it just woul

[2015-06-22 10:29] Vinai commented on #1387
Yes, I think we are on the same page. In this case breaking BC means changing the composer.json extra configuration structure in a way that requires existing modules to be updated in order for them to continue to work.

[2015-06-22 10:38] paliarush commented on #1355
@Vinai , thanks for clarification of your use case. Since proposed new class adds a value during development process only, we cannot add it to the core framework.

Thank you for proposing improvements to the Magento 2.

[2015-06-22 10:46] vpelipenko commented on #1347
@kassner, this issue is fixed and available in 0.74.0-beta14. Please, confirm, that it works for you.

[2015-06-22 10:47] vpelipenko commented on #1245
@sivajik34, this issue was fixed in 0.74.0-beta14. Please, confirm, that the fix works for you.

[2015-06-22 10:48] nevvermind commented on #1387
This doesn't require other modules to change. Does it? It's only Magento2's code that needs a slight adjument - https://github.com/magento/magento2/search?utf8=%E2%9C%93&q=component_paths. Where's the BC break?

I got a little confused, because the hackathon installer _is_ a fork, so M2 _can_ change it. And I think they should.

[2015-06-22 11:43] Vinai commented on #1355
Thanks!

[2015-06-22 11:43] #1355 closed

[2015-06-22 14:10] choukalos commented on #1365
Hi @sivajik34 this has been noted as a story bug that needs to be addressed.  We did add this information to sales & quote apis.  We've decided instead to create a store service to provide this information.  It'll be available before GA.  Ticket:  MAGETWO-38989

[2015-06-22 14:53] mukundthanki commented on #1398
Thanks @maksek It worked.

[2015-06-22 14:53] #1398 closed

[2015-06-22 15:31] pierrefay opened #1399 "installation sample data"
I have an error when trying to install the sample data :

root@magento2-cloud:/var/www/magento2# /var/www/magento2/bin/magento sampledata:install admin

  [Magento\Framework\Exception\LocalizedException]
  Source class "\Magento\Setup\Model\Console" for "Magento\Setup\Model\ConsoleLogger" generation does not exist.

maybe i missed something ?

Pierre.

[2015-06-22 15:34] Vinai commented on #1399
Duplicate, please see: https://github.com/magento/magento2/issues/1398#issuecomment-114016718

[2015-06-22 15:38] safwkhan commented on #1399
We are working on it. Internal issue number: MAGETWO-39001

[2015-06-22 15:38] pierrefay commented on #1399
thanks.

[2015-06-22 15:45] vpelipenko commented on #1392
@Mackovey, can we close this issue?

[2015-06-22 15:57] vpelipenko commented on #1393
@sashas777, did you look at example from https://github.com/magento/magento2/issues/1238#issuecomment-105034397?

[2015-06-22 16:14] vpelipenko commented on #1395
@sivajik34, could you help us with reproducing this issue? Do you see any JS errors? Can you see empty mini shopping cart when you add only specific products? Or it doesn't work correctly for all product types?

[2015-06-22 16:17] pierrefay commented on #1399
@Vinai it's not exactly the same :)

[2015-06-22 16:25] sashas777 commented on #1393
@vpelipenko @Vinai
Hi,

Yes it is set 'used_in_forms' and it visible at the admin customer edit form.  But when i enter information in the field it doesnt save it and put into customer_entity_varchar table. If i manually add record into table the values shows  at the admin customer edit page.
Here is setup function from InstallData.php file:

[code]
Thanks

[2015-06-22 16:29] vpelipenko commented on #1393
Internal ticket: MAGETWO-39121

[2015-06-22 16:30] Vinai commented on #1399
Oh - sorry!

[2015-06-22 16:43] vpelipenko commented on #166
@gfxguru, we are still waiting for update from you. Did you have a chance to look at existing solution provided by @tanya-soroka?

[2015-06-22 17:10] Mackovey commented on #1392
You can.

![3013](https://cloud.githubusercontent.com/assets/813985/8287739/61925542-191a-11e5-89e3-ec9fc6b144a1.png)

[2015-06-22 17:58] pierrefay commented on #1399
if you read this post and you have a quick fix, don't hesitate to let a message....don't understand where is the problem with this error.

[2015-06-22 20:45] choukalos commented on #1364
Hello @5mehulhelp5 you can control how shipping is taxed in the Stores/Configuration/Sales/Tax menu.  In particular you can set at the website level if shipping prices include or exclude tax.  You can also set a tax class for shipping which can be associated with a tax rule/rates to handle how much to tax shipping by, etc.

[2015-06-23 06:45] orlangur commented on #1392
Ok, now I understood you request.

https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/DB/Adapter/Pdo/Mysql.php#L2277 seems to be from ages when `VARCHAR` could not be longer than 255 characters.

After reading [this thread](http://stackoverflow.com/a/2023513) I'm not sure whether there is a practical reason to have `VARCHAR` column longer than 255 characters:

Thoughts

[2015-06-23 08:18] mgns opened #1400 "PayPal PLUS integration"
PayPal offers a "new" service called PayPal PLUS, that combines multiple payment solutions. Nothing can be found about integration into Magento. So far only OXID supports this service [https://www.paypal-viewpoints.com/paypal-plus-integration].

Integration guidelines can be found here:
https://www.paypalobjects.com/webstatic/de_DE/downloads/PayPal-PLUS-IntegrationGuide.pdf

[2015-06-23 08:33] Zaylril commented on #1395
I also have this issue. The problem is that the knockout JS is not rendering the template it seems. There are no JS errors (other that the jquery cookie error which as been around for a while)

Even on a clean install of M2 the template just doesn't render. Even without adding anything to the bag. It should just say "You have no items in your shopping cart." but as above in the screenshot it's bla

[2015-06-23 08:58] #1346 closed

[2015-06-23 09:03] akaplya commented on #1392
The reason to keep varchar size less than 256 symbols -- give an ability to create index for single varchar field. http://dev.mysql.com/doc/refman/5.6/en/column-count-limit.html

[2015-06-23 09:50] kokoc commented on #1386
@Opticcenter thank you for reporting the issue. However, we are unable to reproduce this issue. Filtering works as expected on provided grid.
Could you please verify the issue on latest Magento 2(beta14) and provide more detailed steps to reproduce?

[2015-06-23 10:00] kokoc commented on #1396
@adzminz thank you for reporting the issue. You can use `./bin/magento indexer:reindex` CLI command as temporary workaround for this issue. Internal ticket: MAGETWO-39139

[2015-06-23 11:19] flakerimi opened #1401 "Cannot install : Module 'Magento_Customer': Integrity constraint violation"
I tried with web and cli, both stops there at 69%

Module 'Magento_Customer':
Installing data..
[ERROR] exception 'PDOException' with message 'SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '0' for key 'PRIMARY'' in /Users/flakerimi/Sites/magento2/vendor/magento/zendframework1/library/Zend/Db/Statement/Pdo.php:228
Stack trace:
#0 /Users/flakerimi/Sites/magento2/vendor/magent

[2015-06-23 11:51] kassner commented on #1395
@Zaylril just a shot in the water here: can you check if "use SID in Frontend" is set to zero (No) on Stores > Config > General > Web? Also, fill the cookie domain and cookie path options in the same config page. I remember having this issue a while ago, but I haven't seen it since I've changed a bunch of configs, although I have no idea if this is somehow related.

[2015-06-23 12:21] vpelipenko commented on #1395
Also It will be good if somebody provides screenshot of Firebug Net tab.

[2015-06-23 12:25] vpelipenko commented on #1399
@pierrefay, do you still have this issue? It seems this issue was already fixed. Could you check it?

[2015-06-23 13:04] pierrefay commented on #1399
yes it has been solved  :) thanks a LOT :)

[2015-06-23 13:04] #1399 closed

[2015-06-23 13:26] jamescowie opened #1402 "oAuth in magento 2"
Hello,

So I started to look at adding oAuth implementations into Magento 2 using twitter ..... Thankfully I found that you are using `"lusitanian/oauth": "~0.3"` so I feel this is a good choice supports both V1 and V2. However in composer Magento have this under the `require-dev` meaning in theory this is a project dependency that will never make it into production. Is there a reason for having t

[2015-06-23 13:55] adzminz commented on #1396
Thank you, @kokoc.

[2015-06-23 14:32] Zaylril commented on #1395
@kassner I've tried those things (It was initially set to Yes for use SID in Frontend, and i changed it to no). I've also set the cookie path and cookie domain and still have the same issue.

@vpelipenko What do you need to see in the network tab? I'll send you a screenshot of it via chrome dev tools. However, everything loads correctly, including the minicart.js file. However this never seems to

[2015-06-23 15:54] specshack opened #1403 "Admin menu "sticks" on Dashboard, even when other options are chosen"
This is best shown with a picture:

![clip_2](https://cloud.githubusercontent.com/assets/5779763/8310453/9b726a9c-1995-11e5-838a-e67fcdc97715.png)

This photo shows the Products detail after that option was selected, but the Dashboard option shows that it is still selected.

Other examples:

![clip_1](https://cloud.githubusercontent.com/assets/5779763/8310553/4bc9ef14-1996-11e5-8e34-c80dcfee0e81.p

[2015-06-23 17:01] villageseo commented on #1403
Hi @specshack

I'm trying to reproduce the case. Could you give please some steps to reproduce.

For now I can't get the issue. Please see my screenshot.

![dashboard](https://cloud.githubusercontent.com/assets/2562553/8311874/fecd5fc4-19e1-11e5-9647-025b972b0680.jpg)

Kind Regards,
Oleg

[2015-06-23 18:11] orlangur commented on #1395
The most interesting part in Network Tab is whether https://github.com/magento/magento2/blob/develop/app/code/Magento/Checkout/view/frontend/web/template/minicart/content.html template is loaded successfully.

[2015-06-23 18:37] specshack commented on #1403
It happens immediately upon logging into the admin area. The dashboard opens as expected. All other area can be opened but the menu pointer sticks on dashboard as shown on the screenshots I provided. I did not see this issue in previous

Dave
Specshack.com

[2015-06-23 20:44] anupdugar commented on #1402
@jamescowie Thanks for rcomment.
lusitanian/oauth is primarily used as an Oauth client to verify Magento's Oauth 1.0a server implementation and REST API request signing. The only usages for now are the functional tests for REST APIs using this library to make authenticated requests - hence the require-dev.
Here's the usage as a client for Oauth 1 handshake  : https://gist.github.com/anupdugar/2870

[2015-06-23 21:35] buskamuza commented on #1403
@specshack , what version of Magento do you use? Did it happen right after installation?
Do you see any JS errors in the browser console?

[2015-06-23 21:39] kassner commented on #1347
@vpelipenko looks good now, thank you!

[2015-06-23 21:39] #1347 closed

[2015-06-24 01:24] specshack commented on #1403
Using current version, beta14. I noticed it right after installation, and it has also persisted through several reboots too. No JS error in the browser console. (No errors of any kind actually)

[2015-06-24 07:57] Zaylril commented on #1395
Ok, so looking at a working version and non working version here, you can see that collection.html and content.html are both loaded on the working version (these are the only html files loaded in the network tab). However they are **not** loaded on my current install. Both versions load minicart.js successfully.

[2015-06-24 08:39] Zaylril commented on #1395
Ok, it seems that the issue was indeed related to cookies. As i mentioned in my original message no JS errors apart from the jquery-cookie.js error. Well it turns out this seems to have been the problem. I changed the file as suggested in #1363 (which is related to this ticket)

Changing the file app/code/Magento/Customer/view/frontend/web/js/customer-data.js on line 11 from "jquery-cookie" to "jq

[2015-06-24 08:46] cshaw-inviqa opened #1404 "Catalog - Product list - Toolbar action block override not working"
Hi,

Trying to override the layout on the category page and remove the pagination controls. However the "remove" option does not work here and the example of setting the grid to all doesn't seem to work either. I have the correct xml file in the correct module folder in my theme as other items are working in that file. The block below just redirects the page back to the homepage for some reason.

[2015-06-24 09:49] vpelipenko commented on #1360
@vpietri, it was fixed in https://github.com/magento/magento2/pull/1378. Could you check it again?

[2015-06-24 09:49] kokoc commented on #1404
@cshaw-inviqa the following xml works for me:

[code]

There are few additional things to note:
* Store->Settings->Catalog->Catalog-> Frontend->Allow All Products per Page add support of "all" option
* Please cleanup page cache, layout and configuration caches after the changes

Could you please verify the solution?

[2015-06-24 12:49] cshaw-inviqa commented on #1404
Yep, that works great! Thanks.

[2015-06-24 13:20] cshaw-inviqa commented on #1404
Actually this doesn't work. Copied the above xml and set the config in the admin. Also cleaned cache and cookies and still get this appearing.

![screen shot 2015-06-24 at 14 19 57](https://cloud.githubusercontent.com/assets/4057241/8330828/2068b558-1a7c-11e5-9b10-f942dd22bd92.png)

[2015-06-24 13:21] Vinai opened #1405 "Calling Api Interface from Module Install triggers Exception that Area Code is not set"
I've run into a problem while writing a small module to play some more with the service layer API.
I'm trying to add attribute options via `Magento\Eav\Api\AttributeOptionManagementInterface::add()`.

This fails because no area is set while running `bin/magento setup:upgrade`.
Not sure if I'm doing anything wrong. I would expect this to work, since the setup class is using part of the "official" e

[2015-06-24 13:41] tzyganu commented on #1352
This seams to be fixed in 0.74.0-beta13. I hope it was an intentional fix and not a side effect :smile:

[2015-06-24 13:42] #1352 closed

[2015-06-24 15:40] buskamuza commented on #1403
@specshack , thanks for the info.
1. Could you, please, provide phpinfo? Can't find if you've already posted it in some other ticket.
2. Do you have same URLs for the web-site and static view files? Or any other custom settings in Magento configuration?
3. Did you try cleaning cookies and any other browser data?

[2015-06-24 17:30] buskamuza commented on #1405
@Vinai , good point.
There is a big question about areas in Magento CLI now. We're currently working on it, so your input would be very helpful.
So, I think:
1. It's questionable, if any CLI may require a session. Because it will never have real session. So I'd expect that any model may work with the session, but it should not be required. Maybe it's even implemented in this way, but it leads to s

[2015-06-24 20:46] eskaliert commented on #781
Yep. I also got this issue loggin in Chrome.

[2015-06-25 04:46] nnnx opened #1407 "Any cli comands are not working"
[code]

[2015-06-25 05:17] Vinai commented on #1407
I had a similar issue yesterday which I also tracked down and solved with the solution listed for the sample data problem issue in https://github.com/magento/magento2/issues/1398#issuecomment-114016718. Maybe it also solves the problem for you.

[2015-06-25 06:00] Vinai commented on #1405
Thanks for your reply @buskamuza!

**TD;DR**
I agree with your assessment.
* Default area during CLI command execution is adminhtml
* Sessions are disabled during CLI command execution
* Some mechanism to initialize a different area during CLI command execution needs to be provided for commands like cron:run

-----

The following is roughly my thought trail how I came to this opinion.
I've tried t

[2015-06-25 06:30] bartdelvauxx commented on #1407
I had exact the same issue a few days ago. It was caused because I had done the installation with a "composer-install --no-dev" command.

When installing the composer dependencies with the command "composer install" it worked again.

[2015-06-25 07:26] Opticcenter commented on #1386
2 stores with individual catalogs

When you add the goods in the "Group product"
show products of both stores, is wrong.

![1](https://cloud.githubusercontent.com/assets/7892211/8349296/743cf68c-1b3d-11e5-948f-602244429744.png)
![2](https://cloud.githubusercontent.com/assets/7892211/8349293/743ad424-1b3d-11e5-986d-32214f535c58.png)
![3](https://cloud.githubusercontent.com/assets/7892211/8349295/74

[2015-06-25 07:34] Opticcenter opened #1408 "Error command cli setup:static-content:deploy"
bin/magento setup:static-content:deploy

`=== frontend -> Magento/blank -> en_US ===
...........................................................................................................................................................................................................................................................................................................................

[2015-06-25 08:15] nevvermind commented on #1407
I  use the PR change from https://github.com/magento/magento2/pull/1323.

[2015-06-25 08:39] graemelambert opened #1409 "Issues during installation"
I had to make a few tweaks to get Magento 2 to install on my server, here is a list of them:

nginx.conf.sample:

    root $MAGE_ROOT/pub;
    changed to
    root $MAGE_ROOT;

    location /static/ {
    changed to
    location /pub/static/ {

    all rewrites to /static.php changed to /pub/static.php

    all locations for /media/* changed to /pub/media/*

I started getting 500 Internal Server Er

[2015-06-25 10:10] vpelipenko commented on #1294
Button is added to README.md.

[2015-06-25 10:12] orlangur commented on #1386
@Opticcenter,
![grouped-product-25-06-2015 13-06-04](https://cloud.githubusercontent.com/assets/642698/8352077/22cbc38e-1b3b-11e5-9e2c-50e880e914ea.png)
do you agree that filter must occur by currently chosen store view, not by the one to which grouped product is assigned?

This UI is intended to manage product in all stores at the same time. The inconsistency I see currently: when grouped product

[2015-06-25 10:15] JamesAnelay commented on #1294
:+1:

[2015-06-25 10:15] #1294 closed

[2015-06-25 11:01] Opticcenter commented on #1386
not logical to show products from one store to another
There should be a filter

![4](https://cloud.githubusercontent.com/assets/7892211/8352964/609f7faa-1b5b-11e5-9f26-971c4dd1f8ac.png)
![5](https://cloud.githubusercontent.com/assets/7892211/8352988/9d8e72ae-1b5b-11e5-81d7-47da520165ee.png)

[2015-06-25 12:38] orlangur commented on #1386
It is not available during creation but become available after you save the product. Before you save the product first time whatever could be chosen on "Websites" tab, so, there is nothing to filter.

[2015-06-25 12:45] xcomSteveJohnson commented on #1409
magento setup:uninstall will drop and re create the database, or there is an optional --cleanup-database flag for magento setup:install that will do it also.

Thanks for the nginx info, it will come in handy.

[2015-06-25 13:04] #1119 closed

[2015-06-25 13:09] vancoz commented on #1407
Hello @nnnx could you please try solution described in this issue https://github.com/magento/magento2/issues/1394 ?

Thank you

[2015-06-25 13:17] mazhalai commented on #1408
@Opticcenter Thank you for reporting! We are working on this issue : MAGETWO-38561

[2015-06-25 14:46] adzminz opened #1411 "No error message shown when purchase qty mismatch the 'Qty Increments' setup"
Expected result is to see an error message shown up when the purchase quantity mismatch the 'Qty Increments' configuration. It works as expected for updating cart, except for adding to cart.

```0.74.0-beta14``` ```Default mode```

**Update Cart Btn:**
![2](https://cloud.githubusercontent.com/assets/11070293/8356726/34d903ca-1b81-11e5-8a37-edf72a17962e.PNG)
![4](https://cloud.githubusercontent.com

[2015-06-25 15:56] buskamuza commented on #1387
@nevvermind , existing extensions will have to change "extra" section you described in the original post in their `composer.json` files.

[2015-06-25 15:59] graemelambert commented on #1409
I didn't know that, but I was using the web interface to do the install if that helps.

[2015-06-25 18:38] aohorodnyk commented on #1047
https://gist.github.com/aohorodnyk/c3c1011afa4ddc3d0365

Splat new faster than createObject method ~21%
But createObject faster than reflection only ~6%

In default installation magento2 has 700+ shared objects and 2100+ used createObject method, argument resolving slowly than creating new object, I think that using any method will not has important performance improvement or performance degradati

[2015-06-25 19:39] buskamuza commented on #1405
@Vinai , thanks for so detailed proposal!
Some commands don't use the application, so they don't care about any area. About all others, I think, you're right. This is similar to what we considered as a simple option instead of flexibility of any area.

[2015-06-25 20:09] eskaliert commented on #1369
I also experience this issue in BACKEND. The links on the left (from SALES to SYSTEM) don't work. DASHBOARD on the left + NOTIFICATIONS + MY ACCOUNT works fine.

[2015-06-26 02:07] fooman opened #1413 "remove all @deprecated code or provide better guidance"
So far not all mentions of @deprecated have an internal ticket assigned (at least in the code comments). The below are the results of my search:

https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Model/Product/Type/Price.php#L553

https://github.com/magento/magento2/blob/develop/app/code/Magento/Catalog/Model/Product/Type/Price.php#L567

https://github.com/magento/magento2/

[2015-06-26 04:47] nnnx commented on #1407
@vancoz
doesn't work for me:
![54b92d8e7d](https://cloud.githubusercontent.com/assets/7686446/8370890/b699f530-1bf0-11e5-9bfa-99ba1add7c72.jpg)

[2015-06-26 06:05] Vinai commented on #1413
:+1:

[2015-06-26 08:24] adzminz commented on #1298
It's possible to import products and product images now. Thank you!

[2015-06-26 09:25] 5mehulhelp5 commented on #1364
Hello @choukalos thanks for replay but i think you miss the point i am taking about the condition of table rate shipping.

like i have a sub total 135$ including tax but excluding tax it's 119$ and in the checkout i am just displaying the subtotal including tax
so at checkout i can only see 135$ including tax

now in my shipping rate i have condition like this if 0 to 120 subtotal then shipping pr

[2015-06-26 09:28] 5mehulhelp5 opened #1414 "Request for some additional functionality"
Hello i think if we can add google rich snippet in magento 2 then it would be great for magento user.

Thanks

[2015-06-26 12:56] xcomSteveJohnson commented on #1407
@nnnx This indicates some general failure. I've seen it before and solved it by reinstalling. You can also try deleting var/generation and var/cache, doing composer update, and trying again. Another alternative to reinstalling is magento setup:upgrade.

In order:

a) rm -rf var/generation var/cache
b) composer update
c) try again
d) git pull origin
e) magento setup:upgrade
f) composer update
g) tr

[2015-06-26 13:58] namrodbui commented on #335
Anyone know the status of this?

[2015-06-26 15:22] davidalger commented on #107
@maksek Do you have any input on this?

[2015-06-26 19:50] naspar opened #1417 "API Error during productWithMediaGallery invokation => Property :"EntryData" does not exist"
Hello Team,

I am facing a weird issue while trying to create/import a new product into M2 by using the API service.

Here is the API I am using :
Catalog - ProductRepositoryInterface - productWithMediaGallery
http://devdocs.magento.com/guides/v1.0/rest/restApi/restCollection/Magento/Catalog/Api/ProductRepositoryInterface/productWithMediaGallery.html

here below the error I found in the exception

[2015-06-26 22:32] xcomSteveJohnson commented on #1409
I see. The web interface doesn't have those options but if you don't mind using the CLI, magento setup:uninstall does what you want. (Or you can use MySQL.) FWIW, to re create the DB, check out http://bit.ly/1GCDMG5

[2015-06-27 04:14] adzminz opened #1418 "Items in minicart are not cleared after successful placing an order"
```0.74.0-beta15``` ```Default mode```

![1](https://cloud.githubusercontent.com/assets/11070293/8390395/1ef64004-1cbc-11e5-87ff-c4d9780d89b5.PNG)

[2015-06-27 09:18] adzminz commented on #1414
#233

[2015-06-27 10:05] Vinai opened #1419 "[Suggestion] Api\SearchResultsInterface and Data\SearchResultInterface needs improvement"
There are many classes and interfaces related to search results. Some of them seem to duplicate functionality or are in conflict with each other by exposing the same methods.
It seems as if even the core team is confused because sometimes one interface is implemented, but another's methods are also added, but partially only as method stubs.
Finally the similar names are extremely confusing and mak

[2015-06-27 13:49] melvyn-sopacua commented on #1018
@matthewjfberry Your problem is not related. This is about the indexer, not the loading of a model with wrong parameters set upstream.

[2015-06-27 14:39] melvyn-sopacua commented on #1018
The better fix here is to drop at least one of the unique indexes. They try to assert that a human entity can only place one review with one product. The identifier for the human entity is however not well defined:

 1. The same human can have multiple visitor ID's
 2. A different human can be associated with one account ID [1]
 3. The same human with same visitor ID can have 2 values for account

[2015-06-28 05:20] bhavin88 commented on #1366
Yes, you are right test category present in the system.

[2015-06-28 06:15] bhavin88 commented on #1366
I have now just change my product name test to test product and now it is working fine.

[2015-06-28 12:32] halk commented on #1369
I had to remove `theme-adminhtml-backend`, `theme-frontend-blank` and `theme-frontend-luma` in vendor and run `composer install` again to get it working. This fixed the styles.

However left menus do still not work (even after deploying static files).

[2015-06-28 12:54] vpiyappan commented on #1369
Hi Guys,

If you are tried installing Magento 2 in windows Machine.

Please follow the steps which resolve the issue for me.

1. Remove everything, except .htaccess file from pub/static folder

2. Open up app/etc/di.xml find the path “Magento\Framework\App\View\Asset\MaterializationStrategy\Symlink” and replace to “Magento\Framework\App\View\Asset\MaterializationStrategy\Copy”

Now you refresh the

[2015-06-28 17:34] novuswebbw commented on #1399
What was the fix on this? I made the change noted in #1398 but still get the same error noted in this issue when trying to install the sample data. Using latest installed version of Magento 2.

[2015-06-28 19:03] pierrefay commented on #1399
i did nothing, just delete the folder, git clone and composer install, etc...again and it was ok for me. Pierre.

[2015-06-28 21:16] adesigner2 commented on #1317
Even we put full right permissions - it show same error as described above by @phphphp phphphp.

[2015-06-29 01:18] fooman opened #1423 "Magento\Email\Model\Template\Filter Comment vs Code"
The comment here
https://github.com/magento/magento2/blob/develop/app/code/Magento/Email/Model/Template/Filter.php#L171 states

    Doesn't set anything intentionally

vs the actual code

    public function setUseSessionInUrl($flag)
    {
        $this->_useSessionInUrl = $flag;
        return $this;
    }

so either the comment needs to be corrected or `$this->_useSessionInUrl = $flag;` removed.

[2015-06-29 05:05] fooman opened #1424 "Magento\Email\Model\Template::getProcessedTemplate() with 1 too many params"
The getProcessedTemplate() method is called here https://github.com/magento/magento2/blob/develop/app/code/Magento/Email/Model/Template.php#L649

    $text = $this->getProcessedTemplate($this->_getVars(), true);

vs the actual method in the same class:

    public function getProcessedTemplate(array $variables = [])

I believe this might be a copy & paste issue since the Newsletter module has this

[2015-06-29 12:43] SLv99 commented on #1298
Hi @adzminz,

I'm also trying to import products with images. All products are added, but no images. I'm on beta15. Can you provide instructions to import products with images?

Thanks.

[2015-06-29 16:31] sakiss opened #1425 "Magento theme debug cannot found"
Hi

I am following the doc
http://devdocs.magento.com/guides/v1.0/frontend-dev-guide/themes/debug-theme.html

to debug the theme but cannot find that section
ver. 0.74.0-beta9
![shot](https://cloud.githubusercontent.com/assets/1838041/8412874/7788662c-1e95-11e5-9fa9-6ca0f480998a.png)

[2015-06-29 16:41] kandy commented on #1425
Configuration is available only on store level scope

[2015-06-29 17:24] sakiss commented on #1425
Can you become more specific to what should i do?

[2015-06-29 18:17] vpietri commented on #1360
It's fixed, thanks.

[2015-06-29 18:17] #1360 closed

[2015-06-29 18:17] naspar commented on #1417
Hi Guys .. any advice / fix for this issue ?

it is very critical as i can't insert products and link images using the API service.

I am getting error 500 from the server , the API service can't manage the request or properly handle the error exception.

Please let me know if you need more info from my end.

Thanks,

[2015-06-29 18:19] naspar commented on #1425
Hi sakiss,
try to change the "StoreView" on top-left from "Default Config" to "Main Website" and see if the option appears.

Let me know how you get on.

[2015-06-29 18:22] naspar commented on #1298
Hi SLv99,

I am trying to achieve the same .. quick question : did you find any how-to or step-by-step procedure about how to import product ? i guess we need a csv .. also as soon as you know how to link the images .. please share the info.

I have been trying to import products by using the API but facing several issues .. not sure the API layer is ready or stable yet for such purpose.

Thanks

[2015-06-29 18:59] vpietri opened #1426 "MAGE_PROFILER and Error in javascript customer-data.js"
Hi,

On Magento version: 0.74.0-beta15 there is a javascript error on customer-data.js.

The response is a text response and the test is on a json.

TypeError: jqXHR.responseJSON is undefined

![screenshot at 20-55-34](https://cloud.githubusercontent.com/assets/8598479/8415774/7f0e2858-1ea1-11e5-86ef-308613f723d6.png)

[2015-06-30 03:33] supravatweb opened #1427 "Fatal error: Call to a member function format() on null in magento2/lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php on line 260"
After the install Magento2 on localhost, its working file. But when I try to re-index, its getting the following error.

 Fatal error: Call to a member function format() on null in /var/www/html/magento2/lib/internal/Magento/Framework/Stdlib/DateTime/Timezone.php on line 260

Have any idea for this?

[2015-06-30 05:33] sankalpshekhar commented on #274
Not sure, where we currently are over this request, but this definitely is a feature needed when we have multi-website setup, and CMS pages are shared across them.

[2015-06-30 06:14] SLv99 commented on #1298
Hi naspar,

No, there is no step-by-step procedure. But since beta 15 there is an example CSV file available from the import file page. This works great. Also the export works better. So you could manually create some products and export these as an example for your import file.

Regards
Silvan

[2015-06-30 08:49] bartdelvauxx opened #1428 "Possibility to add email templates to a locale and theme"
I don't see any way to translate and customize email templates with code. There is no fallback if I look in the class where the template is set (Magento\Email\Model\Template\Config).

The only template that will be loaded, is the one that is set in the email_templates.xml in the module files. With this it is not possible to:
* Make translations of the email templates
* Customize the email template

[2015-06-30 09:04] rganin commented on #1427
Issue is related to https://bugs.php.net/bug.php?id=66323. Internal ticket MAGETWO-39421

[2015-06-30 09:11] vpelipenko commented on #1425
@sakiss, did you find mentioned configuration section?

[2015-06-30 09:25] rganin commented on #1424
Overloaded param is never used and does not cause any issue, created a ticket MAGETWO-39428

[2015-06-30 09:32] onahkenneth commented on #984
@farbulous , Your solution did not fix it for me. Does anyone have an alternative solution

[2015-06-30 09:33] vpelipenko commented on #1423
Internal ticket: MAGETWO-39430

[2015-06-30 09:35] rganin commented on #1401
Issue should have been fixed in version 0.74.0-beta15.

[2015-06-30 09:50] #1194 closed

[2015-06-30 09:50] #1300 closed

[2015-06-30 09:51] #1356 closed

[2015-06-30 10:03] vpelipenko commented on #1322
@Flyingmana, did you try solution provided by @mazhalai?

[2015-06-30 10:05] #1366 closed

[2015-06-30 10:06] vpelipenko commented on #1357
@jamescowie, is your issue resolved?