[2021-07-22 13:44] engcom-Delta commented on #29373
Hi @hostep,

It would be great if you can help with sample reports & screenshots. also lets know the specific module you have installed for Analytics purpose.

Thanks

[2021-07-22 13:52] engcom-November commented on #33548
@Monica8955, this issue is not reproducible on Magento 2.4-develop clean instance.
Can you please provide specific Magento 2.3.x version (supporting php 7.3 version) that you have used to upgrade to 2.4.2 and reproduce the issue.
Thank you.

[2021-07-22 13:54] ioweb-gr commented on #28119
Hi this was during development of a custom ERP synchronization module. In order to function you'd need an active ERP. I tried to be very thorough in explaining the relevant code pieces though

[2021-07-22 13:57] engcom-Hotel commented on #33422
Hello @thomasheller,

We have tried to reproduce the issue in Magento 2.4-develop. We have passed the content type in create function as below:

`$data[] = ['message' => ' 123'];

        $convert = new \Magento\Framework\Convert\Excel(new \ArrayIterator($data));
        $file = $convert->convert('single_sheet');
        $fileName = "test_without_space.xml";
        return $this->_fileFactory->cre

[2021-07-22 14:01] thomasheller commented on #33422
@engcom-Hotel Well, what output do you get when you actually run that code, i.e. what's the value of the `ss:Type` attribute in the XML file on your instance?

[2021-07-22 15:03] engcom-Hotel commented on #32444
Hello @hostep,

Thank you for the clarification. I have checked the issue after changing the timezone and found the cron is working fine. I am removing the "Issue: confirmed" label.

Hello @mtwegrzycki,

Please check this with changing the timezone, this might be a configuration-related issue. Please review it again and let us know if you still getting this issue.

Thanks

[2021-07-22 15:53] hostep commented on #29373
@engcom-Delta. The Analytics module is the one from Magento itself: Magento_Analytics that gets installed by default.

On certain systems, the php function call `sys_get_temp_dir` can return something that is always the same for multiple Magento installations. Quoting from [the link](https://www.php.net/manual/en/function.sys-get-temp-dir.php#121073) I posted [above](https://github.com/magento/mag

[2021-07-22 15:53] andrewbess opened #33568 "Update `phpmd/phpmd` composer dependency to the latest version (2.10.2)"
Update `phpmd/phpmd` composer dependency to the latest version 2.10.2.

The PRs should contains updated versions of the `phpmd/phpmd` in `composer.json` and `composer.lock` files.
Also, there are dependent repositories (EE, MFTF) in Magento.

[2021-07-22 16:33] sdzhepa commented on #33543
Hello @vishalkmodi007

Thank you for reporting and collaboration!

It's a quite complex task that affects a lot of other components and requires a little bit more effort than just fix and delivering bug.
But Magento is aware of it and currently, this task is in progress in the scope of Project: Platform Health.

Please see for more details:
-  [Magento Community Engineering Community Engineering H

[2021-07-22 16:33] #33543 closed, assigned to nobody

[2021-07-22 16:44] onlinebizsoft commented on #33386
I think I have same issue. Will track this behavior and see

[2021-07-22 16:58] sdzhepa commented on #33459
The current user expirience is not the best but it was done intentionally for performance and purposes.

Let's imagine that we have over 100500 created rules
and a lot of customers just add products to the cart and apply for coupons/promotions and leave the website
According to the prosed expected result, we have to update thousands of abandoned carts/quotes that will never be used.
Such behavior

[2021-07-22 17:28] ioweb-gr commented on #33386
I've seen it happen in 3 installations on 3 different servers and now before setup:upgrade I make sure all indexers are green to avoid the issue. I will report back if this stops occuring like this but it would be great if it can be verified

[2021-07-22 20:11] #33540 closed, assigned to srsathish92

[2021-07-22 20:53] andrewbess commented on #32868
Status "On hold" by reason: waiting for the new release of the MFTF

[2021-07-23 03:42] pyyick commented on #28221
I can confirm @paras89 method works. If you have the same issue please apply his fix.

[2021-07-23 07:29] #33554 closed, assigned to eduard13

[2021-07-23 07:32] onlinebizsoft commented on #33459
@sdzhepa I don't think it is a problem to just update the trigger_recollect flag for thousands quote. You can make a trade off between simply changing the flag for all active quotes or only changing the flag for affected quotes but in any case, the funtionalities should be working right.
It doesn't create a performance issue when a quote need to recollect total once.

[2021-07-23 07:53] Monica8955 commented on #33548
@engcom-November
specific Magento version is 2.3.2 (php PHP Version 7.3.29)
Thank you.

[2021-07-23 08:43] engcom-Delta commented on #33380
There has no update since 14 days. Hence it is closed.
Kindly raise new issue if required or re-open the existing issue.

Thanks

[2021-07-23 08:43] #33380 closed, assigned to engcom-Delta

[2021-07-23 08:46] engcom-Delta commented on #33401
There has no update since 14 days. Hence it is closed.
Kindly raise new issue if required or re-open the existing issue.

[2021-07-23 09:03] nordcomputer commented on #26172
I created an extension, that sets a newly created attribute "filter_stock" to simple products according to the stock status via cronjob - its not a perfect solution, but it may help somebody:
https://github.com/nordcomputer/magento2-stockfilter

[2021-07-23 09:27] engcom-Hotel commented on #28195
Hello @liamjtoohey,

I have tried the API endpoint (V1/products/attributes) with your given payload and checked the table catalog_eav_attribute for the visual type and found that in the additional_data column we have swatch_input_type as "visual". Please find below screenshot for reference of catalog_eav_attribute table:

![image](https://user-images.githubusercontent.com/51681618/126763013-674d81

[2021-07-23 09:55] mrtuvn commented on #33559
just curiously have you import correct price scope ? Would be great if you can share file config.php in description
['system']['default']['catalog']['price']['scope']

[2021-07-23 10:05] liamjtoohey commented on #28195
@engcom-Hotel Could you confirm what this attribute looks like in admin panel? It's been a long time since I've checked on this ticket but I recall product swatch attributes should have a `frontend_input` type of `select` when created manually in admin panel.

The API request above defines `"frontend_input": "swatch_visual"` which doesn't seem to be correct and I recall this caused some issues.

[2021-07-23 10:13] oneserv-heuser commented on #33559
@mrtuvn What exactly do you mean? Yes, the value I've changed has the path ['system']['default']['catalog']['price']['scope']. Before the value was null and now it's 1. 1 is also the value which the option in the select for the configuration of the price scope has.

[2021-07-23 11:18] eduard13 commented on #32843
### Update

We couldn't find the library within the [open sources](https://github.com/search?o=desc&q=extjs&s=&type=Repositories). However, the vendor now offers some paid solutions. There is a possibility to use a Community edition ([Ext JS Community Edition](https://www.sencha.com/products/extjs/communityedition/)) but it has some legal restrictions.

As discussed internally, since there is alre

[2021-07-23 11:40] engcom-Delta commented on #33493
Hi @lbajsarowicz,

We tried reproducing the issue on Magento 2.4.2 & Magento 2.4 . Develop, it is not reproducible .it works as expected.
Kindly find the attached screenshots for reference.

Magento 2.4 Develop:
![Filters_by_config](https://user-images.githubusercontent.com/51681379/126776692-97afe04c-4d07-4b0e-aed8-a56f5ba11da7.jpg)

Magento 2.4.2 :
===========
<img width="960" alt="filters_by_co

[2021-07-23 11:42] #33568 closed, assigned to andrewbess

[2021-07-23 11:44] engcom-Delta commented on #33500
Hi @savan13,

Kindly provide the issue description, steps to reproduce, Actual results and expected results. so that we will try to reproduce the issue.

Thanks

[2021-07-23 11:55] andrewbess commented on #32867
Closing by reason: `pdepend/pdepend` library has already updated to the latest version 2.10.0 in next PRs
https://github.com/magento/magento2/pull/33569
https://github.com/magento/partners-magento2ee/pull/566

[2021-07-23 11:55] #32867 closed, assigned to nobody

[2021-07-23 12:13] anzin commented on #32853
**Review Results**:

1.  **If this library is used on Admin UI or Storefront Luma or both**
     _The library is used in Admin UI_
2. **What exact functionality is using this particular library**

The legacy-build.min library includes the following files:

- lib/web/prototype/prototype.js
- lib/web/prototype/window.js
- lib/web/scriptaculous/builder.js
- lib/web/scriptaculous/effects.js
- lib/web/

[2021-07-23 12:21] engcom-November commented on #33254
@sydekumf,
I rechecked the issue again on Magento 2.4-develop having EE modules installed with above mentioned steps but still not able to reproduce this issue:
**Steps performed:**
1. Admin - Stores – Settings – Configuration – General – Content Management – Enable CMS Page Hierarchy
2. Added nodes and child nodes (Admin - Content - Hierarchy - Add Node)
3. Created a CMS page and assigned it to a

[2021-07-23 12:31] lbajsarowicz commented on #33493
@magento give me 2.4-develop instance

[2021-07-23 12:41] lbajsarowicz commented on #33493
The problem does not appear on `2.4-develop`, with Sample Products installed.
However, I am able to reproduce it with large volume of data on local environments.

I'll verify the API responses, because it may be related to the timeouts on updating the total count / pagination (so it keeps the values from before filtering)

[2021-07-23 12:47] mrtuvn commented on #33493
Maybe problem can reproduce with big data instead

[2021-07-23 12:47] VladyslavSikailo opened #33572 "sales_order_payment table always contains empty quote_payment_id"
### Preconditions (*)
1. Empty "magento/product-community-edition": "2.4.2"

### Steps to Reproduce (*)
1. Create some product
2. Place order with this product

### Expected result (*)
1. In sales_order_payment table we have quote_payment_id. This quote_payment_id should contain identifier of row from quote_payment

### Actual result (*)
1. quote_payment_id in sales_order_payment is NULL

Looks li

[2021-07-23 13:07] markshust commented on #21406
What's the status of the related PR for this?

An additional note, the whole reason to include jquery-migrate is to notify us when jquery functions are deprecated. The following warning has been appearing in the browser console for a long time now, and has never been updated:

`jQuery.attrFn is deprecated`

[2021-07-23 14:11] jordanvector commented on #21406
Theres currently an open PR for this very thing https://github.com/magento/magento2/pull/32364.  However it is still failing functional tests due to some functionality in the admin specifically around tax rates that needs jquery migrate for some reason

[2021-07-23 14:41] navarr commented on #33400
I don't see Signifyd in SalesArchive's di.xml in 2.4.2-p1

Check if your version of SalesArchive's composer.json requires magento/module-signifyd.  If so, this is not a bug - you've told composer that Signifyd is installed (via "replace") so the necessary code could not be pulled in.

[2021-07-23 15:03] kamil-bogdziewicz-orba commented on #32571
any update please

[2021-07-23 15:14] intheshallow commented on #32571
I doubt they ever will update this. I have another bug posted on here about In Stock not sorting at all which is also not getting any updates at all. This is pathetic.

[2021-07-23 15:30] intheshallow commented on #33000
Any update on this?

[2021-07-23 15:41] markshust commented on #21406
@jordanvector do you know how we can resolve the issues? I tried pulling up the failed tests, but they are just timing out.

[2021-07-23 16:41] riconeitzel commented on #33400
@navarr Did you look for it in the Commerce Edition?

[2021-07-23 16:47] riconeitzel commented on #33400
@navarr no, it's just in the "suggest" section

[code]

I will verify with 2.4.2-p1 once I have time to download a copy.

[2021-07-23 18:03] andrewbess opened #33574 "Update `laminas/laminas-escaper` composer dependency to the latest version (>=2.8.0)"
We need updating `laminas/laminas-escaper` composer dependency to the latest version (>=2.8.0).

Attention. Currently, the escaper from Magento Framework incompatible with `laminas/laminas-escaper` >= 2.7.1.
This can be checked in [this issue](https://github.com/magento/magento2/issues/33346).
We have fixes of this problem [here](https://github.com/magento/magento2/pull/33353).
So, we should merge

[2021-07-23 19:29] amitvkhajanchi commented on #31758
I am using Porto theme too and had encountered this problem on Magento 2.4.2.  After above comment by @tabunsa, I looked up release notes for mageplaza's layered navigation module and ajax module and realized that they had newer releases that were compatible with 2.4.2 and they fixed the bug.  I used composer update mageplaza/* to update the the latest 4.1.1 module for layered navigation the issue

[2021-07-23 19:43] heyepic commented on #31758
Awesome - thanks, will grab that and update. Appreciate the heads up as I'm on Porto.

[2021-07-23 21:01] davirs commented on #30503
I dont found a solution, but I really think it's a magento bug.
You don't are able to delede ID 0. For example, you can have 10 stores, but if you delete storefront id 0 this probleem will occurs.

Temporary Solution: Dont revome ID 0, rename it and all things still work fine

[2021-07-23 22:31] chernenm commented on #33548
@magento give me test instance

[2021-07-23 23:26] chernenm commented on #33548
@magento give me 2.4-develop instance

[2021-07-24 01:10] viniciusbord9 commented on #33488
@Magento I am working on this

[2021-07-24 15:33] denchev commented on #33447
I looked at the issue and here is what I found:

- The urlResolver is deprecated in favor of route. So any efforts of fixing this should be focused on the route resolver.
- It is questionable if there is anything to be fixed. The reason it works for product and for pages not (or vice versa depending on how you see the world :) ) is that a page assigns the store view per single entity and when a st

[2021-07-24 16:08] Nuranto opened #33575 "LoginAsCustomer leaves admin backend unaccessible in multidomain-setup"
I confirm issue  https://github.com/magento/magento2/issues/32796 :

### Preconditions (*)
1. Magento 2.4.2

### Steps to reproduce (*)
1. Create a multi store, multi domain setup, for example

Domain	StoreView
test1.test	de_DE
test2.test	en_US
1. Configure Magento such as the StoreView must not be part of the url
2. Configure the backend such as it is available under one of these domains, eg test

[2021-07-24 16:12] Nuranto commented on #33575
Additional informations, that might help to reproduce :

[code]

If you can't reproduce, tell me I will try to find more helpfull settings. (Maybe you can dump me your core_config_data table so I can compare)

[2021-07-25 04:42] mrtuvn opened #33576 "Authenticate popup block should not render or available if customer logged in"
This part become unneccessary when customer logged in

id authenticationPopup
This block defined in xml at
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Customer/view/frontend/layout/default.xml#L26

One specific case if customer not logged in and guess checkout disabled
Instead render by default it's should render on demand

If guest checkout enabled. This block is valid t

[2021-07-25 06:50] #32866 closed, assigned to anzin

[2021-07-25 08:35] denchev commented on #32691
@magento give me 2.4-develop instance

[2021-07-25 08:51] denchev commented on #32691
I cannot confirm this issue. Tested it with this graphql:

`query {
  products(search: "Opeth" ) {
    items {
      ... on ConfigurableProduct {
        configurable_options {
          attribute_code
          values {
            default_label
            label
            store_label
            use_default_value
          }
        }
      }
    }
  }
}`

The return result set is:

`{
  "data

[2021-07-25 09:11] denchev commented on #33236
The issue is reproducible. I think it makes sense to add absolute paths to the images.

@magento I am working on this

[2021-07-25 09:41] rmsundar1 commented on #32361
@magento I am working on this

[2021-07-25 09:42] rmsundar1 commented on #32361
@magento add to contributors team

[2021-07-25 11:23] rmsundar1 commented on #32361
@magento I am working on this

[2021-07-25 15:14] rmsundar1 commented on #32361
@sdzhepa @magento This seems to be resolved part of MC-23024
https://github.com/magento/magento2/commit/7bf378335784b35c66fcf71cce1db2be2399c907

[2021-07-25 17:52] f1-outsourcing opened #33578 "add information on elasticsearch configuration, eg what user/node roles are required."
None of these pages[1] write anything about creating the magento user in elasticsearch. I mean users created at this endpoint and what roles it should have[2]. Also there is nothing written about what node roles[3] are expected to be available.

[1]
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/elasticsearch.html
https://devdocs.magento.com/guides/v2.4/install-gde/prereq/es-config-apa

[2021-07-25 17:55] f1-outsourcing opened #33579 "magento cannot connect to elasticsearch, while I can log in."
Install from github branch 2.4

[Progress: 419 / 843]
[Progress: 420 / 843]
Installing search configuration...

In SearchConfig.php line 81:

  Could not validate a connection to Elasticsearch. No alive nodes found in your cluster

setup:install [--consumers-wait-for-messages CONSUMERS-WAIT-FOR-MESSAGES] [--remote-storage-driver REMOTE-STORAGE-DRIVER] [--remote-storage-prefix REMOTE-STORAGE-PREFIX

[2021-07-25 18:12] #33510 closed, assigned to korovitskyi

[2021-07-25 19:06] hostep commented on #33578
Hi @f1-outsourcing: since this is a request to improve the documentation, it's probably better to open an issue on [the devdocs repository](https://github.com/magento/devdocs/issues) for this, right?

[2021-07-25 19:14] andrewbess opened #33580 "Cover web setup page with MFTF tests"
### Summary
According to magento/magento2#33338 the library `laminas/laminas-mvc` has been eliminated from web setup.
The covering this page by the MFTF test can get some effort by some reasons:
- creating a new module does not make any sense, however, MFTF tests work with Magento modules;
- some elements of HTML markup (for example: <section>) found on the page aren't supported by MFTF.

The web

[2021-07-26 01:44] mparrSaatva commented on #32994
@ajijshekh123 , just checking in on this. thank you!

[2021-07-26 03:39] mrtuvn commented on #33579
make sure you have es service running before install otherwise you may got error like this

[2021-07-26 03:40] mrtuvn commented on #33579
Note "You must install Elasticsearch before installing Adobe Commerce or Magento Open Source 2.4.0. See Elasticsearch for details."

reference https://devdocs.magento.com/guides/v2.4/install-gde/composer.html

[2021-07-26 03:42] mrtuvn commented on #33579
For guide you can reference here
dev guide
https://devdocs.magento.com/
user guide
https://docs.magento.com/user-guide/getting-started.html

[2021-07-26 03:51] WinstonN commented on #32180
The bigger question for me is, how can these bugs be prevented? We deployed 2.4.2-p1 a week ago, and saw this bug too late. Now we need 1. another patch and deploy to fix 2. remove the patch with the next upgrade cycle
Why does those 200 000 unit tests and MFTF not do what they are supposed to, and that is, catch and prevent simple bugs like this? Don't be mad, I'm only being real....

[2021-07-26 04:06] mrtuvn commented on #32180
@batmike in latest code magento already removed code that you added in patch. Have you check in latest

[2021-07-26 04:07] mrtuvn commented on #33493
https://github.com/magento/magento2/commit/9400ece5216a9bc34dc9b5d246134ba2d63c9599
@lbajsarowicz maybe you will want include this changes for your project

[2021-07-26 04:17] mrtuvn commented on #32180
actually that changes not cover by any tests. Internal core team fixed and merge code immediately to codebase
So we can't guarantee the changes not break any other function
You may not be supprise this because it happen everyday

[2021-07-26 04:55] ajijshekh123 commented on #33517
@magento give me 2.4-develop instance

[2021-07-26 06:36] #33506 closed, assigned to korovitskyi

[2021-07-26 06:42] engcom-Hotel commented on #33422
Hello @thomasheller,

In my case the value of the ss:Type is number. Please try to reproduce this in the 2.4-develop branch and let us know if you still facing the issue.

Thanks

[2021-07-26 07:17] engcom-November commented on #32736
@aleksejtsebinoga, We are closing this issue as there has been no latest update on the same.
Kindly re-check the issue again on 2.4-develop branch and reopen new ticket by providing the missing steps as well. if the issue is still reproducible.
![image](https://user-images.githubusercontent.com/60198231/126947985-b9d5b292-2e82-494e-bbe6-8914c887b987.png)
![image](https://user-images.githubusercont

[2021-07-26 07:17] #32736 closed, assigned to engcom-November

[2021-07-26 07:37] bohdan-harniuk opened #33581 "[MFTF] Eliminate AspectMock where it was imported but never used"
### Goal
`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PHP 8.0 that is required for declaring the Magento core PHP 8 compatible as well.

In order to do this existing

[2021-07-26 07:39] thomasheller commented on #33422
Hello @engcom-Hotel

I would kindly ask you to read my original bug report again. The value of `ss:Type` being `Number` is actually the issue, you have successfully reproduced it. Opening the resulting file in Excel or LibreOffice will fail. The expected value for numbers preceded by whitespace is `String`.

[2021-07-26 07:42] bohdan-harniuk opened #33582 "[MFTF] Eliminate AspectMock from MagentoTestCase (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-07-26 07:44] bohdan-harniuk opened #33583 "[MFTF] Eliminate AspectMock from MockModuleResolverBuilder (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-07-26 07:46] bohdan-harniuk opened #33584 "[MFTF] Eliminate AspectMock from ObjectHandlerUtil (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-07-26 07:48] bohdan-harniuk opened #33585 "[MFTF] Eliminate AspectMock from TestLoggingUtil (Complex!)"
**This task is tricky and requires investigation on the approach to mock static calls without Aspect Mock**

### Goal

`codeception/aspect-mock` library is still not compatible with PHP 8.0 at the time of the creation of this ticket.

To speed up Magento compatibility with new PHP versions we'd like to eliminate `codeception/aspect-mock` dependency from MFTF. This will make MFTF compatible with PH

[2021-07-26 08:26] Morgy93 opened #33586 "Warning: trim() expects parameter 1 to be string, array given | magento/module-catalog-search"
### Preconditions (*)

- Magento 2.4.2
- PHP 7.4

### Steps to reproduce (*)

Pass an array to any advanced search string input
For example: `/catalogsearch/advanced/result/?name[]=error`

### Expected result (*)

It should not throw an unhandled error.

### Actual result (*)

[code]

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog)

[2021-07-26 08:26] Morgy93 commented on #33586
@magento give me 2.4-develop instance

[2021-07-26 08:32] Morgy93 commented on #33586
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps to reproduce:
1. Go to `domain.tld/catalogsearch/advanced/result/?name[]=error` (e.g. https://9c1b89fe5de56e32154d4d69af8f12e0-2-4-develop.instances.magento-community.engineering/catalogsearch/advanced/result/?name[]=error)
2. See error
![image](https://user-images.githubusercontent.com/7961978/126958798-7637bee3

[2021-07-26 08:50] f1-outsourcing commented on #33578
Ohh I guess, can you move it?

[2021-07-26 08:53] f1-outsourcing commented on #33579
I have already seen those. However I do not know what user roles the magento user login should have. As I wrote, the elasitcsearch task is running and I can login with the user created for magento to use and I can log in with the elastic user and the boostrap password.

 #33578

[2021-07-26 08:53] engcom-November commented on #33579
@f1-outsourcing, Elastic Search must be installed and running before installing Magento 2.4. Please use the ref [guide](https://devdocs.magento.com/guides/v2.4/install-gde/prereq/elasticsearch.html) for the same.
https://devdocs.magento.com/guides/v2.4/install-gde/composer.html
https://docs.magento.com/user-guide/getting-started.html
Kindly re-check and provide detailed steps if the issue is still

[2021-07-26 08:59] Morgy93 commented on #33586
The faulty code was introduced here: https://github.com/magento/magento2/commit/14b90ed9b715fd3264a62094c32fbb10e147309d

[2021-07-26 09:03] hostep commented on #33578
I can't, I'm just a normal contributor not part of the Magento team, but maybe @sdzhepa can move it?
But if you don't see activity here in the first couple of days, it's probably faster to close it and open a new one at the devdocs repo.

[2021-07-26 09:26] Morgy93 opened #33588 "strpos() expects parameter 1 to be string, array given | magento/module-eav"
### Preconditions (*)

- Magento 2.4.2
- PHP 7.4

### Steps to reproduce (*)

1. Add any dropdown attribute to advanced search (Admin: Stores -> Attributes -> Product - > Add New Attribute /Choose existing attribute ex: color
Input Type should be: Dropdown
Storefront Properties: Use in Search: Yes, Visible in Advanced Search: Yes)
2. Front-end - Go to `/catalogsearch/advanced/result/?color%5B%5D=4

[2021-07-26 09:26] Morgy93 commented on #33588
@magento give me 2.4-develop instance

[2021-07-26 09:34] Morgy93 commented on #33588
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps to reproduce:
1. Admin: Stores -> Attributes -> Product
2. Choose color attribute
3. Storefront Properties:
3.1. Use in Search: Yes
3.2. Visible in Advanced Search: Yes
4. Go to `/catalogsearch/advanced/result/?color[][error]=1` (e.g. https://375bf3eb74a91732b9990b21f37518e9-2-4-develop.instances.magento-communit

[2021-07-26 09:41] f1-outsourcing commented on #33579
@engcom-November

Before continuing:

do you know what node roles are in elasticsearch?
do you know what user roles are in elasticsearch?

[2021-07-26 09:46] Morgy93 opened #33589 "strlen() expects parameter 1 to be string, array given | magento/module-catalog-search"
### Preconditions (*)

- Magento 2.4.2
- PHP 7.4

### Steps to reproduce (*)

1. Go to `/catalogsearch/advanced/result/?price[from][]=1&price[to]=1`
2. On trying to access above URL from front-end, "There has been an error processing your request" error message is getting displayed on UI:
http://magento2.4.local/catalogsearch/advanced/result/?price[from][]=1&price[to]=1
![image](https://user-image

[2021-07-26 09:46] Morgy93 commented on #33589
@magento give me 2.4-develop instance

[2021-07-26 09:46] engcom-Hotel commented on #32691
Hello @jurvi,

We have tried to reproduce the issue in Magento 2.4-develop,  but are unable to do that. Please find below the steps we have followed:
1. Create a configurable product with the configurations mentioned in the description. Please find the below screenshot for reference:

![image](https://user-images.githubusercontent.com/51681618/126968976-0d817880-bbc2-4d5b-b4be-3223bb0c1e37.png)

!

[2021-07-26 09:47] kassner opened #33590 "Invalid email format"
### Preconditions

1. Magento 2.4.2;

### Steps to reproduce

1. Go to checkout;
2. Use the e-mail address `test+å@example.com`

### Expected result

1. Order should be placed successfully for valid email formats;
2. For any invalid email formats entered in Shipping page, error message should be displayed in Shipping page itself but not on Payment page
![image](https://user-images.githubuserconten

[2021-07-26 09:48] kassner commented on #33590
@magento give me 2.4-develop instance

[2021-07-26 10:05] kassner commented on #33590
As I understand from the RFC5321 and RFC5322, any unicode character can be used in the `local-part`.

It also mentions quoted-strings, but we can't use those either:

![Screenshot from 2021-07-26 12-01-57](https://user-images.githubusercontent.com/301255/126971718-06ee1d1a-7b52-433a-966a-1e7dca0120f1.png)

[2021-07-26 10:12] qsolutions-pl commented on #2266
Issues still active in 2021 :D

[2021-07-26 10:12] #33430 closed, assigned to AntonEvers, ihor-sviziev

[2021-07-26 10:14] devchris79 commented on #31758
I am using Porto and Magento 2.4.2, the above fix (Mageplaza core 1.4.11) still doesn't correct the sort by position functionality. Name and price sorting appears to work fine.

@amitvkhajanchi @heyepic do you see issues still?

[2021-07-26 10:20] PascalBrouwers commented on #21304
You should not make issues stale that are internal tickets!

[2021-07-26 10:42] engcom-November commented on #33590
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
**Steps:**
1. Front-end - Add a product to Cart and proceed to checkout
2. Enter email address: test+å@example.com, fill the form and click on Next button
3. Click on Place Order button
**Issue:** "Invalid email format" error message is getting displayed in payment page
Note: For any other invalid email formats used in

[2021-07-26 10:49] magento-engcom-team commented on #33590
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42910` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-26 11:30] Morgy93 commented on #33589
@magento give me 2.4-develop instance

[2021-07-26 11:35] Morgy93 commented on #33589
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps to reproduce:
1. Go to `domain.tld/catalogsearch/advanced/result/?price[from][]=1&price[to]=1` (e.g. https://52a58bd3ae67a73e5814b62433f13aee-2-4-develop.instances.magento-community.engineering/catalogsearch/advanced/result/?price[from][]=1&price[to]=1)
2. See error
![image](https://user-images.githubusercontent.

[2021-07-26 12:04] jorgb90 opened #33592 "Simple available in more then one storeview returns 404"
### Preconditions (*)
1. Magento 2.4.2-p1

### Steps to reproduce (*)
1. Create an extra storeview.
2. Create a configurable with simples.
3. Take one of the generated simples and make it available to the extra storeview, set visibility for that storeview to "Catalog, Search" and add the product to a category.
4. Visit the product at the frontend of that extra storeview. It will display in the cat

[2021-07-26 12:57] Vinai commented on #33555
The main benefit from my point of view is that private scope blocks make migrating blocks from Magento 1 to Magento 2 very easy.
It would be cool if the deprecation note from the docs would be removed.

[2021-07-26 13:02] #33338 closed, assigned to karyna-t

[2021-07-26 13:06] magento-engcom-team commented on #33580
@andrewbess Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-26 13:27] chaikivskyi commented on #33428
@mrtuvn Issue described in this ticket is not related to your case.

[2021-07-26 14:06] #33297 closed, assigned to karyna-t

[2021-07-26 14:23] fascinosum commented on #33581
@magento export issue to Jira project AC as Story

[2021-07-26 14:58] fascinosum commented on #33581
@magento export issue to Jira project AC as Story

[2021-07-26 15:12] boorlyk commented on #31298
this issue can be fixed by setting the Custom Admin URL as main site.

Admin gets 404 after signed up as customer to not default store check in following file return false:
\Magento\Backend\App\Area\FrontNameResolver::isHostBackend

[2021-07-26 15:38] fascinosum commented on #33582
@magento export issue to Jira project AC as Story

[2021-07-26 15:40] fascinosum commented on #33583
@magento export issue to Jira project AC as Story

[2021-07-26 15:42] fascinosum commented on #33584
@magento export issue to Jira project AC as Story

[2021-07-26 15:46] fascinosum commented on #33585
@magento export issue to Jira project AC as Story

[2021-07-26 15:49] fascinosum commented on #33532
@magento export issue to Jira project AC as Story

[2021-07-26 16:43] denis-g opened #33593 "jQuery Widget or UiComponent mixin don't loading or loading randomized"
Maybe need additional fixes on #25587 request.

### Preconditions (*)
1. Magento 2.4.x
2. Google Chrome 92 (cache disabled on devtools)

### Steps to reproduce (*)
1. Fresh install m2 2.4.4 (also problem with all 2.4.x)
2. Dev mode on
3. Cache settings (all on, except for layout, block_html, full_page)
4. Create new theme (luma parent)

![theme structure](http://i.piccy.info/i9/6b66f1826cd98651203

[2021-07-26 16:58] silversil commented on #26942
This is a HUGE issu that could be fixed! I don't understand why it's been closed.

[2021-07-26 18:24] ihor-sviziev commented on #33593
+1. We also randomly having similar issue

[2021-07-26 18:47] batmike commented on #32180
@mrtuvn - I have tested it on our site, running 2.4.2-p1 and the patch does still need to be applied for it to be working properly. I have not done any tests with the forthcoming 2.4.3 release but I'll reply when I'm able to see whether that works without the patch changes.

[2021-07-26 18:57] #32868 closed, assigned to andrewbess

[2021-07-26 19:15] mrtuvn commented on #32180
Better have label reproduced in 2.4.2

[2021-07-26 19:38] mrtuvn commented on #33579
Maybe docs missed some information and need update

[2021-07-26 21:08] f1-outsourcing commented on #33579
I have elasticsearch running in a separate container environment and enabled this x pack security with ssl, it is accessible via haproxy. I created a docker image for el7 because that is what I am mostly running, and configured that with only the node.roles master and data, nothing else.
I created the magento user in elasticsearch only with the default role.
Magento is running on a shared webserve

[2021-07-27 01:27] zeekinfo opened #33594 "invoice email not working magento 2.4.2-p1"
Hello,

I was upgrade  magento 2.4.2-p1 after that invoice email not working magento 2.4.2-p1 but order confirm email is going

How to fix this

[2021-07-27 02:27] mrtuvn commented on #33578
cc: @dobooth

[2021-07-27 03:14] mrtuvn commented on #27184
I saw quite lots of files internal still implements Action/AbstractAction, across Catalog, Store, Currency v.v.. Controllers , Plugin
Any guide for the case we should migrate and case we don't need ?

[2021-07-27 03:24] Skyfly2021 opened #33595 "Updating symfony/console causing setup:di:compile failure"
### Preconditions (*)

1.2.4.2-p1
2.Centos 8
3.php 7.4

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.Incompatible argument type: Required type: int. Actual type: string
The name of the upgrade package is not remembered
The following error occurred during compilation
![image](http

[2021-07-27 03:29] cha80 commented on #33595
![image](https://user-images.githubusercontent.com/56351661/127090712-7da9d41a-0ca7-49b1-b918-9de9d47b9f85.png)
 i am also face this problem 2.3.5-p2

[2021-07-27 03:35] cha80 commented on #33595
it
might update some module case this problem

[2021-07-27 04:57] #33292 closed, assigned to SilinMykola

[2021-07-27 04:57] #33302 closed, assigned to bohdan-harniuk

[2021-07-27 04:57] #33303 closed, assigned to bohdan-harniuk

[2021-07-27 05:58] Skyfly2021 commented on #33595
Please downgrade the package, finally solved：
1.composer require symfony/process:4.4.26
2.composer require symfony/console:4.4.26

[2021-07-27 06:47] andrewbess opened #33596 "Update phpunit/phpunit composer dependency to the latest version"
Update `phpunit/phpunit` composer dependency to the latest version (9.5.*).

Pay attentions, Magento has a lot of dependencies from old classes and methods removed in phpunit version 9.5.
 We need to find and eliminate these problems.
 Also, refactoring of the codebase Magento should be made in all related repositories (CE, EE, B2B).

To check all problems you can create a temporary PR with updati

[2021-07-27 07:27] bramvanderholst opened #33597 "JS error blocks account creation when disabling 'Allow remote shopping assistance' in adminpanel"
### Preconditions (*)

1. Magento v2.4.2

### Steps to reproduce (*)

1. Disable 'Allow remote shopping assistance': Stores → Configuration → Customers → Login as Customer → Emable extension: no
2. Attempt to create an account on /customer/account/create/ page

### Expected result (*)

1. Successful account creation without errors

### Actual result (*)

1.
![image](https://user-images.githubuserc

[2021-07-27 07:32] brosenberger commented on #33595
i created a pull request for symfony/console: https://github.com/symfony/symfony/pull/42281 and also any 2.3.x magento2 version is affected

[2021-07-27 07:49] bramvanderholst commented on #33597
@magento give me 2.4-develop instance

[2021-07-27 07:50] cengizcoskun commented on #33595
+1

[2021-07-27 07:51] mrtuvn commented on #33597
https://github.com/magento/magento2/commit/69c26af51b38754144eedf1ad73b44e479f4f29a
Seem internal team already fixed in 2.4-develop branch

[2021-07-27 07:54] tuyennn commented on #16171
For me, while using 2 actions for example 1 for `frontend` 1 for `adminhtml` in same cli, even I tried to emulate the AreaCode but seem 1 of them would be always 1Area code is not set`

[2021-07-27 07:55] mrtuvn commented on #33597
https://github.com/magento/quality-patches/tree/master/patches/os

[2021-07-27 08:00] maciej-orba opened #33598 "Magento 2.4.3 composer install failed"
### Preconditions (*)

1. Composer version 2.0.11 2021-02-24 14:57:23
2. PHP 7.4.13 (cli)

### Steps to reproduce (*)

[code]

### Expected result (*)

1. Install should pass

### Actual result (*)

1. `Root composer.json requires magento/composer-dependency-version-audit-plugin, it could not be found in any version, there may be a typo in the package name.`

---
Please provide [Severity](https://

[2021-07-27 08:00] #33597 closed, assigned to nobody

[2021-07-27 08:09] engcom-Hotel commented on #33101
Hello @minhluan259,

As per the [comment](https://github.com/magento/magento2/issues/33101#issuecomment-855827956), the issue can be fixed. We have also tried the same, and the issue has been resolved in Magento 2.4-develop.

Please let us know if this fix is working for you.

Thanks

[2021-07-27 08:36] hostep commented on #33595
Thanks @brosenberger & @Skyfly2021!

@Skyfly2021: I don't have issues with `symfony/process`, only with `symfony/console`

It would be great if Magento's `setup:di:compile` process could look at the actual argument types and only falls back to the ones in phpdoc when the argument doesn't have a type specified.

[2021-07-27 08:46] hostep commented on #33598
Confirmed, but I think it's a bit too early. Usually they fully release a new Magento version at evening in the European timezones, so maybe we should re-test this in about 8 hours or so?

[2021-07-27 08:54] maciej-orba commented on #33598
yes i will :)

[2021-07-27 08:56] denis-g commented on #33593
@ihor-sviziev yep. On bundle, merged, or single it doesn't matter. Core problem on matching mixin with widget/component and random apply.

Also similar issue #22338

[2021-07-27 09:07] pawel-siejba opened #33599 "GraphQL Customer Newsletter Subscriptions are inconsistent in multi website setups"
Customer type is_subscribed field value is taken from the customer website: https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/CustomerGraphQl/Model/Resolver/IsSubscribed.php#L52

When you're updating the subscription via createCustomer/createCustomerV2/updateCustomer/updateCustomerV2 mutation the subscription store is taken from the current store: https://github.com/magento/mag

[2021-07-27 09:11] kassner commented on #33595
If you want to patch the issue instead of pinning symfony/console's version:

[code]

[2021-07-27 09:12] sydekumf opened #33600 "Unique constraint violation after saving CMS pages with node hierarchy"
FOLLOW UP issue from https://github.com/magento/magento2/issues/33254

@engcom-November Unfortunately you closed the old ticket and I cannot comment it any longer. This is exact reproduction on a Vanilla instance. Problem still appears.

### Preconditions (*)
1. Magento 2.4.2-p1 with B2B (1.3.1-p1) modules installed (Commerce + B2B)
2. CMS hierarchy feature activated (Store -> Configuration -> )

[2021-07-27 09:17] Morgy93 opened #33601 "Amazon Payments checkout error"
### Preconditions (*)

- Magento 2.4.2
- PHP 7.4

### Steps to reproduce (*)

1. Enable and configure Amazon Payments
2. Go to `domain.tdl/amazonpayments/payment/completecheckout/?AuthenticationStatus=Success`
3. See error

### Expected result (*)

No unhandled error

### Actual result (*)

I have multiple errors on different systems.

[code]

[code]

---
Please provide [Severity](https://devdocs.

[2021-07-27 09:17] Morgy93 commented on #33601
@magento give me 2.4-develop instance

[2021-07-27 09:40] engcom-Delta commented on #33280
Hi @tyago343,

This issue has tested on Magento 2.4. Develop and found that it is not reproducible .Hence, it is look like resolved in this version.
Kindly request to test from your end and confirm.

added the label 'Needs update'

Thanks

[2021-07-27 09:50] engcom-Hotel commented on #33238
Hello @sanjay-github,

Please let us know the location of your events.xml file. It is in the frontend folder or outside from it.

Thanks

[2021-07-27 10:32] engcom-November commented on #33472
Verified the issue again on Magento 2.4-develop branch by installing inventory-metapackage (ref [link)](https://github.com/magento/inventory/wiki/Metapackage-Installation-Guide) and the issue is not reproducible:
**Steps:**
1. Admin -> Stores -> Configuraton -> General -> General -> Default country chose a default country a country with mandatory state and predefined list of states (such as Romani

[2021-07-27 10:33] mrtuvn commented on #33598
![243](https://user-images.githubusercontent.com/1908873/127139880-20012ad6-af62-486a-bcff-903ff3f870b7.png)
maybe you come too soon. Maybe same response results as i got

[2021-07-27 10:41] maciej-orba commented on #33598
prestissimo plugin is not still required  parallel downloads) when you use composer 2 and also it requires composer 1

[2021-07-27 10:45] mortenbirkelund commented on #33595
Ran into this aswell.

[2021-07-27 11:03] dtavieres opened #33603 "Compilation error. 2.4.2.-p1 Clean installation / no extensions installed ."
### Preconditions (*)

1.Magento 2.4.2-p1
2.Oracle Linux 8.4 PHP 7.4 Apache 2.4 MYSQL 8. ES7

(**) Some outcome in other installations running MG 2.4.2-p1 after running composer update  ***today***
without update no issue shows up.
For isolating the problem, we performed a clean installation with the same outcome.

### Steps to reproduce (*)

1. Just installed 2.4.2-p1 via composer, setup:install,

[2021-07-27 11:08] engcom-Delta commented on #33519
Hi @alexmtch,

Please provide more clarity on  the step#  'Run the catalog_product_alert CRON'. How to run the alert CRON?
Hence add the label 'Needs Update'

Thanks

[2021-07-27 11:12] magento-engcom-team commented on #33101
@engcom-Hotel Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-27 11:12] magento-engcom-team commented on #33101
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-27 11:12] magento-engcom-team commented on #33101
@m2-community-project[bot] Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-27 11:14] magento-engcom-team commented on #33101
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42876` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-27 11:25] ethmelly commented on #33603
Confirm , facing same issue on all websites we tried to deploy starting today

[2021-07-27 11:32] engcom-Delta commented on #33594
Hi @zeekinfo,
Kindly provide issue description, steps to reproduce , actual results and expected results.

Thanks

[2021-07-27 12:08] Morgy93 commented on #33601
@magento give me 2.4-develop instance

[2021-07-27 12:12] sebastian-ehrling commented on #33603
composer2 require "symfony/console:4.4.26" solves the problem temporarily

[2021-07-27 12:37] Morgy93 commented on #33601
Amazon Pay is not available on the given instance, I thought this is a standard module.

https://docs.magento.com/user-guide/payment/amazon-pay.html

Can someone clear up my mind here?

[2021-07-27 12:38] Morgy93 commented on #33601
Nevermind! I'll report here https://github.com/amzn/amazon-payments-magento-2-plugin

Closed~

[2021-07-27 12:38] #33601 closed, assigned to nobody

[2021-07-27 12:54] plel commented on #33603
Same applies for 2.3.7 installation.
Problem is in the detection of Parameters with doc-block and static position. Symfony/console removed the `$name` parameter from the doc-block which leads to the assumption that the `$mode` parameter is the one to compare to.
src/vendor/laminas/laminas-code/src/Reflection/ParameterReflection.php:109

From there it goes just wrong ending up in the `isCompatibleT

[2021-07-27 12:58] alexmtch commented on #33519
Hi @engcom-Delta You could run cron job from magento by following [this documentation](https://devdocs.magento.com/guides/v2.4/config-guide/cli/config-cli-subcommands-cron.html)

This cron job is provided by the module Magento_ProductAlert. You could use tools like bin/magento or magerun to help you to run the cron individually.

[2021-07-27 13:11] anzin commented on #33336
@magento I am working on this

[2021-07-27 13:55] mrtuvn commented on #33603
![Screenshot from 2021-07-27 20-54-44](https://user-images.githubusercontent.com/1908873/127166380-6556ce87-be87-457c-8831-a79e76149add.png)
Got same issue with update composer approach. For test only purpose in local
Latest 2.4-develop

[2021-07-27 13:57] mrtuvn commented on #33603
https://github.com/magento/magento2/issues/33595
This one created previously seem same your condition

[2021-07-27 13:58] hostep commented on #33598
@maciej-orba: it works correctly at this moment.

I briefly talked to @fascinosum on Slack about it just now, and they still had to setup the correct permissions for this one package. But now everything is ok.

@mrtuvn: you can install Magento 2.4.3 today if you have access to the pre-release. It will be out for everyone on the 10th of August. See https://devdocs.magento.com/release/

Ticket can b

[2021-07-27 13:59] ethmelly commented on #33603
I've applied this small patch found here [#33595](https://github.com/magento/magento2/issues/33595#issuecomment-887347288) and it fixes my issue with symfony console

[2021-07-27 14:04] maciej-orba commented on #33598
yep, composer deploy passed! thx!

[2021-07-27 14:04] #33598 closed, assigned to nobody

[2021-07-27 14:13] engcom-November commented on #33501
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps performed:
Installed Brain-tree module on 2.4-develop branch
Admin -> Stores -> Configuration -> Sales -> Payment methods -> Configure Brain-tree payment.
Note: Set Debug mode to Yes
Front-end -> Add a product to cart -> Checkout -> Make payment using Restraint Credit Card - No Issue. User is able to place Order

[2021-07-27 14:14] magento-engcom-team commented on #33501
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42923` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-27 14:16] jokeputs opened #33606 "Logged in customer is marked as guest in newsletter subscribers"
### Preconditions (*)

1. I can reproduce this issue on a Magento 2.4.2 installation.

### Steps to reproduce (*)

1. Register as a new cutomer without subscribing to the newsletter for example with the email address new.customer@example.com
2. Sign out
3. Subscribe to the newsletter using the same emailadress as the newly registered customer (new.customer@example.com)

### Expected result (*)

1.

[2021-07-27 14:17] jokeputs commented on #33606
@magento give me 2.4-develop instance

[2021-07-27 14:23] navarr commented on #33603
I'm working around this by adding

[code]

to my composer.json

[2021-07-27 14:53] emanuelcorrea commented on #32302
@magento I am working on this

[2021-07-27 14:53] emanuelcorrea commented on #32302
@magento add to contributors team

[2021-07-27 15:02] thomas-kl1 commented on #33595
It's not a symfony issue, it's Magento not being smart enough to resolve types correctly :)

Workaround:
"conflict": {
        "symfony/console": ">=v5.3.4||>=v4.4.27"
    },

[2021-07-27 15:17] MeeGz commented on #33065
@engcom-Lima ??

[2021-07-27 15:51] sdzhepa commented on #33578
Hello @hostep, @f1-outsourcing
cc: @dobooth @mrtuvn

Unfortunately, I do not have permission to move this ticket to the DevDoc repo.
But I would propose to
- create a new issue in the https://github.com/magento/devdocs/issues
- close this one

[2021-07-27 16:26] kamephis commented on #26123
Why is this closed. In which version has webp support been added?

[2021-07-27 16:26] mrtuvn commented on #32850
@andrewbess Hi i assume you are working on this! Can you update for 1.13.0 or 1.13.1 ?
cc: @fascinosum @krzksz Sorry if i get bother invoked your guys here

[2021-07-27 16:29] mrtuvn commented on #33593
good call! Thanks you denis for some use-cases
cc: tag @krzksz here maybe he will give us more information

[2021-07-27 16:43] mortenbirkelund commented on #33603
This is a duplicate of #33595

[2021-07-27 16:52] krzksz commented on #33593
The reproduction path looks quite clear and I would start by attaching a logger/debugger in https://github.com/magento/magento2/blob/2.4-develop/lib/web/mage/requirejs/mixins.js#L161 to see if mixins are not loaded because they are not seen by the plugin or the whole mechanism is completely ignored.

[2021-07-27 17:27] sidolov commented on #33603
I'm closing the issue as duplicate, let's keep all communication in one place for easy reference: https://github.com/magento/magento2/issues/33595

[2021-07-27 17:27] #33603 closed, assigned to nobody

[2021-07-27 18:08] hostep commented on #33595
I don't think that not allowing versions higher then or equal to 4.4.27 to be installed is the correct workaround. You tend to forget about these workarounds and if symfony then releases a newer version that fixes a security issue, you'll not get it.

It's probably better to only conflict with version 4.4.27 and still allow higher versions and then if it turns out that the next version still has t

[2021-07-27 19:19] maciej-orba opened #33607 "Magento 2.4.3, 2.4.2-p2, 2.3.7-p1 DI Compile error"
### Preconditions (*)

1. Composer 2
2. PHP 7.4
3. Magento 2.4.3, 2.4.2-p2, 2.3.7-p1

### Steps to reproduce (*)

1. `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition:2.4.3 2.4.3`
2. `cd 2.4.3`
3.  `bin/magento module:enable --all`
4.  `bin/magento setup:di:compile`

### Expected result (*)

1. no errors during compilation

### Actual result (*)

[2021-07-27 19:48] jgryn commented on #10821
So as of now..  the options are
(a) updating the php config to change the include_path  [this fixes the issue but causes issues with any file trying to use set_include_path in php]
(b) updating php config open_basedir
(c) editing the core magento code.

To the best of my understanding, none of these are proper solutions to the issue.  Why was this closed?

[2021-07-27 19:58] maciej-orba commented on #33607
@hostep you may be interested :)

[2021-07-27 19:59] jgryn commented on #10821
@Hoszi 's solution of editing the core seemed to be more durable than changing my php config, I'm using that for now, but I'm not so happy about editing core files.

[2021-07-27 19:59] ihor-sviziev commented on #33607
Hi @maciej-orba,
Thank you for your report. This issue duplicates https://github.com/magento/magento2/issues/33595, so I’m closing it as a duplicate.

[2021-07-27 19:59] #33607 closed, assigned to ihor-sviziev

[2021-07-27 20:00] Flipmediaco commented on #10821
(d) delete open_basedir. do not set leave unset
(e) Add the initial default value of include path to open_basedir ".:path"

The issue is a conflict between include_path having a location that is outside open_basedir. In most cases this will be the include_path default value ".:some/path". If you set include_path it blocks M2 from updating it but if you set ".:some/path" and leave include_path blan

[2021-07-27 20:01] maciej-orba commented on #33607
You right :) hop will be solved immediately

[2021-07-27 20:03] thomas-kl1 commented on #33595
@hostep workaround is temporary fix, also the issue is not on the Symfony side, but Magento, as it was for the "Laminas issue" :)
I always encourage to update to the latest version of of trusted packages such as laminas or Symfony, because they are well tested, mature and robust. Most of time when there is an issue with a third party package upgrade, it's because Magento codebase is poorly impleme

[2021-07-27 20:10] viktym commented on #33595
[code]
The changes will be reverted in symfony/console:4.4.29

[2021-07-27 20:36] hostep commented on #29363
Confirming that this issue still exists on Magento 2.4.3.

[2021-07-27 20:50] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-07-27 20:59] f1-outsourcing commented on #33553
@mrtuvn

Cannot post issues here, did not try the other link
https://github.com/magento/architecture/issues

First thing I would like to address is if elasticsearch is even a viable option for the future. Are you even aware of this license change?
This is in there new license 'Of greater concern, the boundaries of what constitutes a "Prohibited SaaS Offering" '[1]

Ehmmm I think that means that yo

[2021-07-27 21:09] alucardatem commented on #31984
Also .. there is an extra fix that is needed on the findProductRewritesByFilter

in between
`       $categoryFromDb = $this->connection->fetchRow($this->prepareSelect($data));

        foreach ($productsFromDb as $productFromDb) {`

add `  if(!is_array($categoryFromDb) ) {
                return $rewrites;
            }` otherwise the error still pops up

[2021-07-28 04:52] neha023 commented on #33595
There is a pull request for symfony/console. This will fix that issue.

https://github.com/symfony/console/pull/75

[2021-07-28 05:33] mysil2 commented on #31117
@chequille ah, I see - we're doing automatic block cache cleans every 1 or 2 minutes or so because we always had problems getting stock to update as fast as we want - so I didn't catch that.

As of showing the swatches, I guess that's because those are rendered client side and my plugin only sends the salable options to the client. In order to also send configurations that is out of stock, you'll

[2021-07-28 05:39] engcom-November commented on #33606
Verified the issue on Magento 2.4-develop branch and cannot able to reproduce the issue with provided steps:
**Steps performed:**
1. Created a new Customer Account from Front-end without Signing up for Newsletter
2. Signout
3. Subscribed to News Letter for the same email address from Admin - Customers Dashboard (Admin - Customers - All Customers - Actions)
4. Admin - Marketing - Newsletter Subscri

[2021-07-28 05:54] chequille commented on #31117
@mysil2
Hi, will try this, but where to change the swatch-renderer.js?
I did not find qty in the existing code of swatch-renderer.js

And how do you make this automatic block caceh cleans?

Could you give me some hints on that?

[2021-07-28 06:08] ihor-sviziev commented on #32850
@andrewbess FYI we already have PR for this issue https://github.com/magento/magento2/pull/33609

[2021-07-28 06:14] hostep commented on #31984
@alucardatem: your remark makes sense I think, are you interested in sending in a PR for this?

[2021-07-28 07:03] ihor-sviziev commented on #31984
Hi @alucardatem,
Could you create a separate issue for that, or even if you have a fix - create a pull request?

Thank you!

[2021-07-28 07:10] mysil2 commented on #31117
@chequille qty is my addition, so you wouldn't find it in the original swatch-renderer.js which is located in /vendor/magento/module-swatches/view/base/web/js/swatch-renderer.js

In my module I've copied it to /My/Module/view/base/web/js/swatch-renderer.js and added the following in /My/Module/view/base/requirejs-config.js
[code]

[2021-07-28 07:14] mrtuvn opened #33610 "Some unit tests jasmine seem broken with recently updated"
### Preconditions (*)

1. 2.4-develop branch
2. Developer mode

### Steps to reproduce (*)

1. setup grunt/jasmine for tests
https://devdocs.magento.com/guides/v2.4/test/js/jasmine.html
2. full static deploy
3. run grunt spec for run all js tests
grunt spec:luma

### Expected result (*)

No errors / warning

### Actual result (*)

Got some errors, warning type
![Screenshot from 2021-07-28 14-13-02

[2021-07-28 07:25] Morgy93 opened #33611 "Cookie mage-messages gets polluted on post error and will exceed max cookie size"
### Preconditions (*)

- Magento 2.4.2
- PHP 7.4

### Steps to reproduce (*)

1. Send any post request to the shop (Ex: POST    http://yourmagentostore.com) . Status code: 200
2. See that Cookies - mage-messages is growing on every request with the same error message.
3. On hitting the same request multiple times, getting 500 Internal server error: (ex: say around after 30 requests)
main.CRITICAL:

[2021-07-28 07:26] Morgy93 commented on #33611
@magento give me 2.4-develop instance

[2021-07-28 07:46] PascalBrouwers commented on #27367
@perffectolt can you reopen this issue? We need the fix for 2.3.x

[2021-07-28 07:57] mnowakCode commented on #5077
I have the same problem, is there anyone who can help us?

[2021-07-28 08:14] engcom-November commented on #33572
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
**Steps to reproduce:**
1. Place an Order from front-end using any payment method
2. Verify the record "quote_payment_id" in "sales_order_payment" table
select quote_payment_id from sales_order_payment;
**Issue:** "quote_payment_id" value is NULL for all the orders placed.
**Note:** FYI: There is no issue with "quote_p

[2021-07-28 08:15] magento-engcom-team commented on #33572
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42928` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-28 08:18] PascalBrouwers commented on #27367
I find this commit in 2.4: https://github.com/magento/magento2/commit/5b8ae5fa206822bd8701a9d20a2acabae28d3593#diff-2ea10600cbb348fc58af88b3056c7843a4dbcab7cda1dd9473096f4cbf7e162e

[2021-07-28 08:33] Morgy93 commented on #33611
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps to reproduce:
1. `POST shop.tld` ( e.g. `POST https://8f931add3f9319688577122399086a45-2-4-develop.instances.magento-community.engineering/`)
2. See `mage-messages` growing with same error message on each request:
[code]

Example POST:
[code]

If you do this often enough (like bots/"hackers" for example) you'll b

[2021-07-28 08:46] fredden commented on #33595
The issue exists within Magento. The change made in `symfony/console` is a temporary work-around and not a fix.

[2021-07-28 08:52] thomas-kl1 commented on #33595
![Thank you](https://media.giphy.com/media/5xtDarmwsuR9sDRObyU/giphy.gif)

[2021-07-28 08:55] engcom-Golf commented on #33208
**composer require laminas/laminas-crypt** will fix this issue

[2021-07-28 09:14] leeroybrun opened #33612 "Optional customer prefix showing 0 even when using depend/if directives"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Set the prefix to optional and add options
![Capture d’écran 2021-07-28 à 11 06 03](https://user-images.githubusercontent.com/1729528/127295851-d6acdea0-59f7-4680-b435-a3b5d5f4d7ce.png)

2. Set the template to use depend/if statement for prefix (by default it uses depend, but as it was not working I added an if, that is not

[2021-07-28 09:15] leeroybrun commented on #33612
@magento give me 2.4.2 instance

[2021-07-28 09:21] leeroybrun commented on #33612
I can confirm that the issue is also there on the vanilla Magento 2.4.2 instance :
![Capture d’écran 2021-07-28 à 11 20 31](https://user-images.githubusercontent.com/1729528/127297832-64bc2318-d7e1-493a-a749-40a7f3495794.png)

[2021-07-28 09:23] leeroybrun commented on #33612
@magento give me 2.4-develop instance

[2021-07-28 09:25] ihorvansach opened #33613 "Unnecessary SQL requests during visitors log clean"
### Summary (*)
Cron job "visitor_clean" run the method Magento\Customer\Model\Visitor::clean() that call the next one
Magento\Customer\Model\ResourceModel::clean()

In the resource model there is a "while" loop with multiple requests that can be replaced with the single one delete SQL request

### Examples (*)
that will work faster, as will not need to run SELECT for the same "WERE" and then run

[2021-07-28 09:29] leeroybrun commented on #33612
And it's also there on the latest 2.4-develop :
![Capture d’écran 2021-07-28 à 11 28 56](https://user-images.githubusercontent.com/1729528/127299008-0aff1a99-1aae-4ef5-820f-0d887a76645b.png)

[2021-07-28 09:51] zcuric commented on #8681
Magento 2.4.2 still happening.

[2021-07-28 10:06] leeroybrun commented on #33612
For anyone interested, here is a workaround for this issue :

Create a plugin for the class `Magento\Customer\Block\Address\Renderer\DefaultRenderer`:

[code]

[2021-07-28 10:17] leeroybrun commented on #33612
Strange thing, I've tried also in the vanilla Magento 2.4-develop instance :
It seems that the value for the prefix always return a number instead of the actual text of the prefix.

For example if I select "Madame" as the prefix, here is how it is displayed then on the order details in Magento 2 backend:

![Capture d’écran 2021-07-28 à 12 15 51](https://user-images.githubusercontent.com/1729528/

[2021-07-28 10:33] leeroybrun commented on #33612
Seems to already have been reported in : https://github.com/magento/magento2/issues/32177

[2021-07-28 10:33] #33612 closed, assigned to engcom-November

[2021-07-28 10:58] valguss commented on #32270
Yeah, just had to apply the patch you mentioned and that has fixed the issue for me

[2021-07-28 11:20] #33578 closed, assigned to nobody

[2021-07-28 11:44] alainstout commented on #33595
THIS: 2.composer require symfony/console:4.4.26 did the trick for me

Thank you!

[2021-07-28 11:47] capkafitz opened #33615 "Urlresolver does not resolve path "/" correctly when multiple homepages has the same identifier"
### Preconditions (*)
1. Magento 2.4.0

### Steps to reproduce (*)
1. Create for multiple stores a cms page with the same identifier (in this case 'home').
2. Go to **Configuration** > **General** > **Web** > **Default Pages**
3. Set for each store the newly created page as homepage, example in the database:
![image](https://user-images.githubusercontent.com/2599558/127316302-f297ba2b-2772-40d6-ab

[2021-07-28 12:02] engcom-November commented on #33592
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
**Steps:**
1. Setup a new Store (Ex France) from Magento Admin
2. Create a Configurable Product (Visible in default store view only) from Admin - Catalog - Products - Add New Configurable Product
3. Create Configurations - Generate Products.
Note: Products can be manually added
4. Open newly generated products from

[2021-07-28 12:08] ericclaeren commented on #24057
Is this still an issue in Magento 2.4.x?

[2021-07-28 12:10] capkafitz commented on #33615
@magento give me 2.4-develop instance

[2021-07-28 12:19] theodorhanu opened #33616 "Template hints are shown to all customers when FPC is enabled"
### Preconditions (*)
1. Magento 2.4.1

### Steps to reproduce (*)
1. Make sure Full page cache is enabled
2. set _Developer Client Restrictions_ to your custom IP address in Stores -> Configuration -> Advanced -> Developer -> Developer Client Restrictions
3. set _Enable Template Path Hints for Storefront_ to _Yes_ in Stores -> Configuration -> Advanced -> Developer -> Debug
4. Save config and cle

[2021-07-28 12:23] theodorhanu commented on #33616
@magento give me 2.4.1 instance

[2021-07-28 12:28] capkafitz commented on #33615
I can confirm it is reproducible on the 2.4-develop instance:

1) Two stores views:
![image](https://user-images.githubusercontent.com/2599558/127321585-8869112e-645c-461c-a542-1fc87d917cea.png)

2) 2 pages with the same identifier, each page for one store view:
![image](https://user-images.githubusercontent.com/2599558/127321689-a17e2c34-8abb-4df3-bb2f-ba68fb944ab1.png)

3) Set each page as homep

[2021-07-28 12:46] capkafitz commented on #33615
Fixed issue in our project with following patch:

[code]

[2021-07-28 13:04] magento-engcom-team commented on #33595
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42929` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-28 13:08] eduard13 commented on #32843
### Update

After discussing it with Adobe team, it was agreed to not upgrade the current version of ExtJS, which is in the code, and don’t replace it with JSTree.

The latest versions of ExtJS are not open source.

### Overview

- The Admin area is the only affected area
- Most of the usages are in the templates, which means a BIC, however, the probability is quite low. Moreover, removing this li

[2021-07-28 13:13] Veorirac opened #33617 "Subtotal in mini cart does not match with subtotal in shopping cart"
### Preconditions (*)

1. Magento 2.4.2
2. Account with two or more added addresses
3. Multishipping Enable

### Steps to reproduce (*)

1. As the customer add two different products to the cart
2. Open Shopping Cart page
3. Click on Check Out with Multiple Addresses Link
4. Select different addresses for products
5. Click Update Qty & Addresses button
6. Click Back to Shopping Cart button
7. Chan

[2021-07-28 13:17] TheRealHunzik commented on #31536
@magento give me 2.3.5-p2 instance

[2021-07-28 13:18] TheRealHunzik commented on #31536
@magento give me 2.3.5 instance

[2021-07-28 13:31] ssx commented on #33595
This also causes the same issue in `2.4.2-p2`

[2021-07-28 13:34] rav-redchamps commented on #28116
Hey @ishakhsuvarov,

The changes in your pull request https://github.com/magento/magento2/pull/28117 is causing issue with admin ui component grids.

Steps to reproduce:

1. Login to admin panel & navigate to Catalog > Products grid
2. Filter grid by some SKU
3. Close the browser window
4. Open admin panel in new private/incognito window
5. Go to Catalog > Product Grids

## Expected result (*)

✅

[2021-07-28 13:48] a4deel opened #33618 "Permission Issue on adding bundle product for specific website"
### Preconditions (*)

1. Magento Commerce 2.3.5 p2
2. Php version 7.3
3. Admin user with specific website role with all resource access

### Steps to reproduce (*)

1. Go to add new bundle product. Add child product and click on save.
2.

### Expected result (*)

1. New bundle Product should be added
2.

### Actual result (*)

1. More permissions are needed to view this item.
2.

---
Please provi

[2021-07-28 14:04] fascinosum commented on #33596
@magento export issue to Jira project AC as Story

[2021-07-28 14:20] TheRealHunzik commented on #33618
@magento give me 2.3 instance

[2021-07-28 14:20] Veorirac commented on #33617
@magento I am working on this

[2021-07-28 14:22] fascinosum commented on #33596
@magento export issue to Jira project AC as Story

[2021-07-28 14:32] AMishchan opened #33619 "B2B prices in quote add VAT each time page reload"
### Preconditions (*)

1. Enabled magento/extension-b2b and magento/module-negotiable-quote functional
2. Set Stores->Configuration->Sales->Tax->Calculation Settings->Catalog Price to "Including Tax"

### Steps to reproduce (*)

1.Add product to cart
2. On a cart page click "Request a Quote"
3. Open quote in admin panel and add "Negotiated Price", "Amount Discount" for example. Click "Send".
4. Op

[2021-07-28 14:45] djamesmelon commented on #26153
Was this issue ever fixed? I am running into this exact issue as well.

[2021-07-28 14:46] Zayander commented on #33619
My composer.json file content:
{
    "name": "magento/project-enterprise-edition",
    "description": "eCommerce Platform for Growth (Enterprise Edition)",
    "type": "project",
    "license": [
        "proprietary"
    ],
    "config": {
        "preferred-install": "dist",
        "sort-packages": true
    },
    "version": "2.4.2-p1",
    "require": {
        "magento/composer-root-update-plu

[2021-07-28 15:09] PatrickJager commented on #30908
@magento-engcom-team @chiranjeevi-cj
What is the status on this issue? Did you manage to fix it?
We currently have another customer having this exact same issue.
Some tierprices work some do not.

[2021-07-28 15:23] sdouma commented on #24057
I don't see the updated function in 2.4, so it seems like it should still
be an issue.

On Wed, Jul 28, 2021 at 6:08 AM Eric Claeren ***@***.***>
wrote:

[2021-07-28 15:26] irenelagno commented on #33596
@magento export issue to Jira project AC as Story

[2021-07-28 15:33] kamil-bogdziewicz-orba commented on #32571
I think I solve my problem. Maybe it help you. Check your configurable products price value. I had these prices set and the value was not same as cheapest simple product inside. When configurable product have some price set it will be taken to indexer process and this value will be processed to get minimal_price. To get minimal_price value original price is modified by cart rules, price options, p

[2021-07-28 15:35] intheshallow commented on #32571
Kamil,

All of the products I set on the live site and the staging that I sent them were all simple products. Not configurable.

[2021-07-28 15:57] slavvka commented on #33596
@magento export issue to Jira project AC as Story

[2021-07-28 16:18] #32853 closed, assigned to anzin

[2021-07-28 16:28] hostep commented on #8681
Good for you!

Sorry if this sounds sarcastic, but leaving comments like this on super old tickets is almost useless, it makes a lot more sense to investigate the problem a little bit and if a bug in core Magento is found by that investigation, then please open a new issue with a description of how the bug can be reproduced.
Thanks! 🙂

[2021-07-28 16:33] hostep commented on #28116
@rav-redchamps: could you open a new issue describing this issue and link to that PR? That will make sure the issue is being followed up, commenting on closed issues often doesn't seem to help here.

[2021-07-28 16:38] fascinosum commented on #33596
@magento export issue to Jira project AC as Story

[2021-07-28 16:39] rav-redchamps opened #33620 "Ui component grid filter/sorting not working"
### Preconditions (*)

1. Magento version >= 2.4.2

### Steps to reproduce (*)

1. Login to admin panel & navigate to Catalog > Products grid
2. Filter grid by some SKU
3. Close the browser window
4. Open admin panel in new private/incognito window
5. Go to Catalog > Product Grids

### Expected result (*)

✅ Grid should be filtered by SKU

### Actual result (*)

ℹ️ You will see that grid has SKU f

[2021-07-28 16:40] rav-redchamps commented on #28116
@hostep Done ✅ https://github.com/magento/magento2/issues/33620

[2021-07-28 16:40] engcom-Hotel commented on #29806
Hello @dverkade,

It seems that the issue has been resolved. We are closing this issue for now because we are not able to get a response from you for 14 days.

If you still facing the issue, either you can reopen this issue or create a new one.

Thanks

[2021-07-28 16:40] #29806 closed, assigned to engcom-Echo, engcom-Hotel

[2021-07-28 16:44] zcuric commented on #8681
@hostep I undestand. I'm sorry.

[2021-07-28 17:06] sivaschenko opened #33622 "Update phpunit to the latest version for magento-coding-standard"
Update PHPUnit to the latest version for magento-coding-standard repository.

This will also require update or elimination of `PHP_CodeSniffer\Tests\Standards\AbstractSniffUnitTest` dependency.

[2021-07-28 17:06] sivaschenko commented on #33622
@magento export issue to Jira project AC as Story

[2021-07-28 18:09] #33295 closed, assigned to karyna-t

[2021-07-28 18:11] #33293 closed, assigned to anzin

[2021-07-28 19:32] Den4ik commented on #33620
@magento give me 2.4-develop instance

[2021-07-28 19:38] magento-engcom-team commented on #33620
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42930` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-28 19:40] magento-engcom-team commented on #33620
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42930` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-28 19:41] magento-engcom-team commented on #33620
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42930` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-28 19:56] magento-engcom-team commented on #33572
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42928` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-28 20:37] chequille commented on #31117
@mysil2
Ok, thanks for that info.
To include an own js file is clear, I know that. But the question is what are you doing with your addition var qty?
Would you share your swatch-renderer.js file?
Let me know.
Thanks and BR
Chequille

[2021-07-28 21:03] mysil2 commented on #31117
@chequille
Just showing available stock when customer choose variations. It's only an example of what can be done, not a solution you're seeking if I understand correctly.

[2021-07-28 22:34] chequille commented on #31117
Ok, so you do not have a modified swatch-renderer.js where you are using the available stock?
I just do not know where I could use this qty which you mentioned above.
Maybe finally I have to wait some more days till 10th of august with the hope, that 2.4.3 fixed this stock issues.
If not I will be very angry as I am paying for a VServer since 9 months now but could not switch to 2.4.x because of a

[2021-07-29 00:50] Swiftless commented on #27450
We are also running into this issue since attempting to upgrade from Magento 2.3.3 to 2.4.2 and the proposed regex seems to work.

[2021-07-29 03:23] tuyennn commented on #8348
Not sure but this issue still happened on M2.4.0

[2021-07-29 05:12] krishprakash commented on #33617
@magento give me 2.4-develop instance

[2021-07-29 05:14] korovitskyi commented on #33622
@magento I am working on this

[2021-07-29 05:25] ihor-sviziev commented on #33622
FYI I tried to update to phpunit 8 or phpunit 9 - it unit tests were failing due to missing `void` return type on setUp method on the https://github.com/squizlabs/PHP_CodeSniffer/blob/master/tests/Standards/AbstractSniffUnitTest.php#L55

[2021-07-29 06:03] barryvdh commented on #33595
There is fix for the 4.4 version in Symfony/console, which isn't tagged yet. See https://github.com/symfony/symfony/pull/42281#issuecomment-887764179 for details.
Can you try that dev version to confirm no more changes are required?

This should still be fixed for the long term though.

[2021-07-29 06:09] hostep commented on #27450
Hey @sidolov, @sdzhepa: can we have somebody investigate this? It seems like the stalebot closed it prematurely before the issue could get looked into. Thanks!

[2021-07-29 07:03] engcom-November commented on #33518
Verified the issue again on Magento 2.4-develop branch by creating product with same name mentioned in the description and the issue is reproducible:
Steps to reproduce:
Create a simple product from admin with Product name as "pubg-hard-back-case-for-oppo-f5-562" (Admin - Catalog - Products - Add Simple Product) and save
Note: Stores -> Configuration -> Catalog -> Catalog -> Search Engine Optimiza

[2021-07-29 07:05] magento-engcom-team commented on #33518
@engcom-November Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-29 07:11] magento-engcom-team commented on #33518
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42932` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-29 07:41] kweij commented on #31461
I run into a similar issue where we also get a backend validation error message shown in the couponcode form. In my case this is a *justified* validation error (when a payment method field blank), but the placement of this message is _just as issue_ in the couponcode form.

I see that the pull request for this issue is resolving the unjustified validation error for the checkout agreements, but it'

[2021-07-29 07:42] engcom-November commented on #33588
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
**Steps to reproduce:**
1. Admin: Stores -> Attributes -> Product - > Add New Attribute /Choose existing attribute ex: color
Input Type should be: Dropdown
Storefront Properties: Use in Search: Yes, Visible in Advanced Search: Yes
2. Front-end - Go to http://yourmagentostore.com/catalogsearch/advanced/result/?attribute

[2021-07-29 07:50] magento-engcom-team commented on #33588
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42933` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-29 08:01] prabhakaran777 opened #33623 "Product query results issue : Bundle child product graphql"
### Preconditions (*)

1. Magento 2.4.2 with elastic search instance
2. Create Bundle Product
3. While fetching any one of child products in product query showing wrong data (items)

### Steps to reproduce (*)

1.Create Bundle product

![Screenshot 2021-07-29 at 13-12-37 Bundle Product Test 1 Products Inventory Catalog Magento Admin](https://user-images.githubusercontent.com/49685489/127452041-796

[2021-07-29 08:01] ihor-sviziev commented on #33595
Hi,

I just did a short investigation - it looks like this issue is coming from the Laminas Code component.
Magento tries to detect type for constructor argument in the https://github.com/magento/magento2/blob/9756182a77a472be52ce995cb080ea742d3cd0ef/lib/internal/Magento/Framework/Code/Reader/ArgumentsReader.php#L111
while `$parameter->detectType()` is following:
https://github.com/laminas/laminas

[2021-07-29 08:49] salman231 commented on #31145
I've tried @marshallthornton solution on 2.4 EE and still getting these errors!! , Anyone fixed it yet ?

[2021-07-29 08:50] andrei-vdc commented on #33101
@magento-engcom-team how come you agree that disabling security enhancements "fixes the issues" instead of guiding the community on how to create implementation that make use of your own SECURITY POLICIES?

[2021-07-29 09:15] duckchip commented on #31115
is this issue fixed in 2.4.3?

[2021-07-29 10:02] engcom-November commented on #33589
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
On trying to access below URL from front-end, "There has been an error processing your request" error message is getting displayed on UI:
http://magento2.4.local/catalogsearch/advanced/result/?price[from][]=1&price[to]=1
![image](https://user-images.githubusercontent.com/60198231/127472903-9231c34a-7675-401c-af28-fcea4

[2021-07-29 10:05] magento-engcom-team commented on #33589
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42934` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-29 10:10] MyroslavDobra commented on #33623
@magento give me 2.3-develop instance

[2021-07-29 11:03] gabrieldagama commented on #28239
Hi @gwharton. Thank you for your report.
The issue has been fixed in magento/magento2#33452 by @BogdanGorbach in 2.4-develop branch
Related commit(s):
 - [c35cd1fe9fe7a909bbc6773a9ffd17d1f4480424](https://github.com/magento/magento2/commit/c35cd1fe9fe7a909bbc6773a9ffd17d1f4480424)
 - [d16ee89ee398bbc48a3e6b423fcb919658bfd369](https://github.com/magento/magento2/commit/d16ee89ee398bbc48a3e6b423fcb9

[2021-07-29 11:03] #28239 closed, assigned to BogdanGorbach

[2021-07-29 11:03] gabrieldagama commented on #33456
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33163 by @manavluhar in 2.4-develop branch
Related commit(s):
 - [9703a5633002f362fc9b92178b275b04cf6d8e1d](https://github.com/magento/magento2/commit/9703a5633002f362fc9b92178b275b04cf6d8e1d)

The fix will be available with the upcoming 2.4.3 release.

[2021-07-29 11:03] #33456 closed, assigned to manavluhar

[2021-07-29 11:03] gabrieldagama commented on #33404
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#31969 by @vlmed in 2.4-develop branch
Related commit(s):
 - [fad5e616c2c28be1ca7c10456bbc87d88720232e](https://github.com/magento/magento2/commit/fad5e616c2c28be1ca7c10456bbc87d88720232e)

The fix will be available with the upcoming 2.4.3 release.

[2021-07-29 11:03] gabrieldagama commented on #32977
Hi @adamstapley. Thank you for your report.
The issue has been fixed in magento/magento2#33256 by @AZiniukhin in 2.4-develop branch
Related commit(s):
 - [f724fece9f6704af67ca2a14ffe3c8d5adf38e7e](https://github.com/magento/magento2/commit/f724fece9f6704af67ca2a14ffe3c8d5adf38e7e)
 - [a3bf2977c53b96de2a5ab271624b90a7ec4dcac1](https://github.com/magento/magento2/commit/a3bf2977c53b96de2a5ab271624b9

[2021-07-29 11:03] #32977 closed, assigned to AZiniukhin

[2021-07-29 11:03] gabrieldagama commented on #33357
Hi @MarianneCA. Thank you for your report.
The issue has been fixed in magento/magento2#33368 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [a1a7dd2fb829a691cf007ba7dfab9b4369ad220f](https://github.com/magento/magento2/commit/a1a7dd2fb829a691cf007ba7dfab9b4369ad220f)

The fix will be available with the upcoming 2.4.3 release.

[2021-07-29 11:03] #33357 closed, assigned to mrtuvn, engcom-Delta

[2021-07-29 11:03] gabrieldagama commented on #33345
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33341 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [e40d4b32ad06a30c6c527765d9154a5a28f963f3](https://github.com/magento/magento2/commit/e40d4b32ad06a30c6c527765d9154a5a28f963f3)

The fix will be available with the upcoming 2.4.3 release.

[2021-07-29 11:03] #33345 closed, assigned to DmitryTsymbal

[2021-07-29 11:03] gabrieldagama commented on #33460
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#33136 by @DmitryTsymbal in 2.4-develop branch
Related commit(s):
 - [e79c0b256456cf2f5bad9b61b8c68831d2eba9c3](https://github.com/magento/magento2/commit/e79c0b256456cf2f5bad9b61b8c68831d2eba9c3)

The fix will be available with the upcoming 2.4.3 release.

[2021-07-29 11:03] #33460 closed, assigned to DmitryTsymbal

[2021-07-29 11:03] gabrieldagama commented on #33094
Hi @Den4ik. Thank you for your report.
The issue has been fixed in magento/magento2#33097 by @vovsky in 2.4-develop branch
Related commit(s):
 - [4c26dfa6b6dd0e58a159512b4311782bed98d7a8](https://github.com/magento/magento2/commit/4c26dfa6b6dd0e58a159512b4311782bed98d7a8)
 - [ae6a2a8ca7c0ee500c0915e3e523c45a993a952a](https://github.com/magento/magento2/commit/ae6a2a8ca7c0ee500c0915e3e523c45a993a95

[2021-07-29 11:03] #33094 closed, assigned to vovsky

[2021-07-29 11:03] gabrieldagama commented on #32911
Hi @rikwillems. Thank you for your report.
The issue has been fixed in magento/magento2#33088 by @SilinMykola in 2.4-develop branch
Related commit(s):
 - [a7b9176ac292479705047f63c6d80ce6c6e55f92](https://github.com/magento/magento2/commit/a7b9176ac292479705047f63c6d80ce6c6e55f92)

The fix will be available with the upcoming 2.4.3 release.

[2021-07-29 11:03] #32911 closed, assigned to SilinMykola

[2021-07-29 11:03] gabrieldagama commented on #32926
Hi @ADDISON74. Thank you for your report.
The issue has been fixed in magento/magento2#32927 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [7f1092ec7352065439463fd997ea60347e42ae79](https://github.com/magento/magento2/commit/7f1092ec7352065439463fd997ea60347e42ae79)

The fix will be available with the upcoming 2.4.3 release.

[2021-07-29 11:03] #32926 closed, assigned to mrtuvn

[2021-07-29 11:23] ihor-sviziev commented on #33595
Note: symfony/console has released a new version - 4.4.29 where were resolved this issue.
https://github.com/symfony/console/compare/v4.4.27...v4.4.29

[2021-07-29 11:57] webgility-amazonapi commented on #32397
Hello Magento Support,

This issue is not yet resolved. Can you please reopen it and let us know the ETA.

Thanks,
Webgility

[2021-07-29 12:28] ihor-sviziev commented on #33595
FYI I prepare PR to the laminas-code to fix the listed issue.
https://github.com/laminas/laminas-code/pull/95

[2021-07-29 13:16] kassner opened #33625 "Wrong method signature"
### Preconditions

1. Magento 2.4.2-p1;

### Steps to reproduce

1. Create an instance of `Magento\Sales\Block\Order\Email\Items\DefaultItems`;
2. Call the getSku method of the instance passing an `Magento\Sales\Model\Order\Item` object;

### Expected result

1. Get the SKU for the product;

### Actual result

1. `Error: Call to a member function getProductOptionByCode() on null in /var/www/magent

[2021-07-29 13:18] kassner commented on #33625
`Magento\Sales\Model\Order\Item` does not have the `getOrderItem` method, because that's only used in the sub-entities (Creditmemo, Invoice, Shipment).

Quick patch for the issue:

[code]

[2021-07-29 13:20] SilinMykola commented on #33518
@magento I am working on this

[2021-07-29 13:35] andreustimm commented on #30922
Almost a year, in Magento 3.0 they will fix :(

[2021-07-29 13:36] #32843 closed, assigned to eduard13

[2021-07-29 14:05] mrtuvn commented on #33610
Closed since my last check not update to lastest code

[2021-07-29 14:17] andrewbess opened #33626 "Refactor codebase to fix problem of reserved keyword "match" for PHP 8"
### Description (*)
Magento has places where use keyword "match" that is reserved PHP from version 8 according to [this document](https://www.php.net/manual/en/reserved.keywords.php).
These is classes provided below
app/code/Magento/CustomerSegment/Controller/Adminhtml/Index/Match.php
app/code/Magento/Elasticsearch/SearchAdapter/Query/Builder/Match.php
lib/internal/Magento/Framework/Search/Request

[2021-07-29 14:45] #33309 closed, assigned to anzin

[2021-07-29 15:36] shikhamis11 commented on #33623
@magento give me 2.4-develop instance

[2021-07-29 16:24] shikhamis11 commented on #33623
It only shows additional data while filter with `url_key`. Graphql for product filter works as expected with `sku`.

[code]

[2021-07-29 16:25] magento-engcom-team commented on #33623
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42941` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-29 16:57] mrtuvn commented on #33610
No failures at the ends but while running we can see some type error raised! Better we should investigate that

[2021-07-29 17:41] juancruzunq opened #33628 "Zoho Integration Magento"
Hello! In the section "Field Mapping" in Zoho CRM Integration i cant see anithing : only screen in white

![image](https://user-images.githubusercontent.com/54421721/127539432-4b2e1745-662d-4abb-b38b-f7027cd091a0.png)

this happens about 3 days ago and does not load any information

Thankl you !

[2021-07-29 19:41] Den4ik commented on #33618
Hi @a4deel Could you please add more information for reproduce issue

[2021-07-30 02:52] aligent-lturner commented on #26111
@magento give me 2.4-develop instance

[2021-07-30 03:27] aligent-lturner opened #33629 "GraphQL - price_range for configurable products is affected by disabled variants"
### Preconditions (*)

1. Magento 2.4.x (reproduced on latest dev at time of writing)

### Steps to reproduce (*)

1. Create a configurable product with a sku "test-config-1" with a single configurable attribute (e.g. size) and at least 2 options (e.g. S, M, L)
2. Set the price of one variant to be $40, and the others to be $50
3. Disable the variant with the lower price
4. Execute the following q

[2021-07-30 03:30] aligent-lturner commented on #33629
@magento give me 2.4-develop instance

[2021-07-30 03:41] aligent-lturner commented on #33629
Confirmed on 2.4-develop:

Created configurable:
![image](https://user-images.githubusercontent.com/40189797/127596556-69e38ce3-e595-4098-bdf0-60405070dd6c.png)

Run GraphQL query and see incorrect pricing:
![image](https://user-images.githubusercontent.com/40189797/127596708-77f789ba-4173-4b1b-9a27-f601d2549a61.png)

[2021-07-30 05:19] aligent-lturner commented on #33629
Note - additional bug found.

If configuration is changes to show out of stock products, then disabled products also appear under `variants` field.
I believe this is due to disabled products essentially being "out of stock", and hence being filtered out by `Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\Product\CollectionProcessor\StockProcessor`
[code]

[2021-07-30 05:43] engcom-November commented on #32916
@Eddcapone, we are closing this issue as there has been no latest update on the same.
Thank you.

[2021-07-30 05:43] #32916 closed, assigned to engcom-November

[2021-07-30 05:45] aligent-lturner commented on #33629
I believe that potentially, a fix for the `variants` issue would be changing https://github.com/magento/magento2/blob/39e13001e682725329c8515dc587d0d115684e55/app/code/Magento/CatalogGraphQl/Model/Resolver/Products/DataProvider/Product/CollectionProcessor/VisibilityStatusProcessor.php#L38
to
[code]

[2021-07-30 05:51] a4deel commented on #33618
Hi @Den4ik You have to use Magento EE version. First create another website. Now assign this website to new admin with all role resources and access only to this newly created website. Now login with that admin and try to add bundle product with simple products, it will throw permissions exception. If we add bundle product without childs then exceptions does not occur but when we try to add with c

[2021-07-30 05:52] andrewbess commented on #33339
PR is merged in magento/composer repository

[2021-07-30 05:52] #33339 closed, assigned to korovitskyi

[2021-07-30 06:12] Becky1992j commented on #26212
the same issue is coming on Magento ver. 2.3.6-p1 as explained by @rightmarc
why this issue is closed?

[2021-07-30 06:31] alicedfisheye opened #33630 "Date issue with UI components Date form Element when Interface Locale is English UK"
### Preconditions (*)
Magento 2.4.2-p1 - Admin Account with the Interface Locale = "English (United Kingdom) / English (United Kingdom)"

### Steps to reproduce (*)
1. Create an admin account with the Interface Locale = "English (United Kingdom) / English (United Kingdom)"
2. Create a UI component with a form element of date and set 'showsTime' as false.

For example :

        <field name="pet_bi

[2021-07-30 06:53] engcom-November commented on #33535
Verified the issue again on Magento 2.4-develop branch using below Payload and the issue is reproducible:
**Steps to Reproduce:**
1. Admin - Catalog - Categories - Add Root Category - Create new Category by deselecting "Use Config Settings" for "Default Product Listing Sort By" field and Save
2. Make a request to the admin token endpoint /rest/all/V1/integration/admin/token to get token.
3. Make a

[2021-07-30 07:06] magento-engcom-team commented on #33535
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42945` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-30 07:21] giacmir commented on #31752
We have a shop (2.3.6) where the `catalogrule_product_price_replica` is growing at a rate of 10gb every three days. This is a potential infrastructure breaking issue and should be solved in existing versions too, not only in the next release.

[2021-07-30 07:51] giacmir commented on #31752
This issue is mentioned in two commits:
6e6fff2a87221cd71f0f9e347a1cf35b3460d13f and 6a9f4474fb3a79612799db23c2a1543fc14fbd2f

It seems that the proposed solution is pretty drastic :smile:
![immagine](https://user-images.githubusercontent.com/447940/127619936-e24b80b2-fe79-4a6c-8f45-fad42f4415c2.png)

@dhorytskyi Can you please provide us a patch for existing versions?

[2021-07-30 08:32] ihor-sviziev commented on #31824
Hi,

This is duplicate of https://github.com/magento/magento2/issues/32845

[2021-07-30 08:32] ihor-sviziev commented on #31824
Duplicates https://github.com/magento/magento2/issues/32845

[2021-07-30 08:32] #31824 closed, assigned to mrtuvn

[2021-07-30 08:36] ihor-sviziev commented on #33564
This issue depends on https://github.com/magento/magento2/issues/33622

[2021-07-30 09:45] StuartLBG opened #33634 "Body Tag Left Blank"
### Preconditions (*)
2.4.2 or 2.4.2-p1
PHP 7.4

### Steps to reproduce (*)

1. I have updated 2 separate Magento instances, one from 2.3.2 and one from 2.4.0-p1 to 2.4.2

### Expected result (*)

Body tag is generated with appropriate CSS tags (pre 2.4.2)
![image](https://user-images.githubusercontent.com/48946329/127634594-ec6ab367-dcd2-4845-aacb-e660b17853f5.png)

### Actual result (*)

Body ta

[2021-07-30 10:09] m2-assistant[bot] opened #33635 "[Issue] [MFTF] Add product to the Cart if Backorders are allowed on Product level and Product Qty<=0"
This issue is automatically created based on existing pull request: magento/magento2#33431: [MFTF] Add product to the Cart if Backorders are allowed on Product level and Product Qty<=0

---------
### Description (*)
This is to check if Product can be added to the Cart if Backorders are allowed on Product level and Product Qty<=0

### Manual testing scenarios (*)
1. Login as Admin
2. Open the Edit

[2021-07-30 10:55] engcom-November commented on #33611
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
**Steps to reproduce:**
1. Send any post request to the Magento store:
Ex: POST: http://yourmagentostore.com/
Ex: Request payload:
[code]
Status: 200 OK
**Issue: Cookies - mage-messages  - same message is getting appended on every request.**
mage-messages=%5B%7B%22type%22%3A%22error%22%2C%22text%22%3A%22Invalid%20Form%

[2021-07-30 10:55] alex-james opened #33636 "Adminhtml tax totals renderer incorrectly attempting to get id of array"
Magento 2.4.2 within the following file at line 62 the template attempts to call getId() on $rates which is an array, this can be clearly seen at line 64 where $rates['percent] is used:

https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Sales/view/adminhtml/templates/order/totals/tax.phtml

It looks like the id is being used as an element id simply so it can be referenced later

[2021-07-30 10:57] magento-engcom-team commented on #33611
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42946` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-30 11:35] m2-assistant[bot] opened #33638 "[Issue] fix #30094 function call on array"
This issue is automatically created based on existing pull request: magento/magento2#30516: fix #30094 function call on array

---------

### Description (*)

Fixes #30094:
`Call to a member function getId() on array in module-sales/view/adminhtml/templates/order/totals/tax.phtml:62`

### Fixed Issues (if relevant)

1. Fixes magento/magento2#30094

### Manual testing scenarios (*)

1. Set config `

[2021-07-30 11:39] mrtuvn commented on #33636
i think this one duplicated with this https://github.com/magento/magento2/issues/33638

[2021-07-30 11:40] magento-engcom-team commented on #33638
@engcom-Alfa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-30 11:41] m2-assistant[bot] opened #33639 "[Issue] fix #30094 function call on array"
This issue is automatically created based on existing pull request: magento/magento2#30516: fix #30094 function call on array

---------

### Description (*)

Fixes #30094:
`Call to a member function getId() on array in module-sales/view/adminhtml/templates/order/totals/tax.phtml:62`

### Fixed Issues (if relevant)

1. Fixes magento/magento2#30094

### Manual testing scenarios (*)

1. Set config `

[2021-07-30 11:43] ihor-sviziev commented on #33639
This issue duplicates https://github.com/magento/magento2/issues/30094

[2021-07-30 11:43] #33639 closed, assigned to Morgy93

[2021-07-30 11:44] ihor-sviziev commented on #33638
This issue duplicates https://github.com/magento/magento2/issues/30094

[2021-07-30 11:44] #33638 closed, assigned to Morgy93

[2021-07-30 11:49] mrtuvn commented on #33636
https://github.com/magento/magento2/issues/30094

[2021-07-30 11:50] #33636 closed, assigned to nobody

[2021-07-30 12:05] trungpq2711 opened #33640 "[Issue] Call to a member function getName() when Submit close returns many items"
Magento 2.4.2
<img width="1666" alt="12" src="https://user-images.githubusercontent.com/15412007/127650405-b3791c05-4c03-4c33-bce1-8b180510cb53.png">
<img width="1456" alt="13" src="https://user-images.githubusercontent.com/15412007/127650421-a47e99d1-9118-44c2-bda2-41fd445d2dcb.png">
<img width="1739" alt="14" src="https://user-images.githubusercontent.com/15412007/127650425-50a246a9-e308-4fd7-95

[2021-07-30 12:11] magento-engcom-team commented on #33635
@engcom-Charlie Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-07-30 12:12] magento-engcom-team commented on #33635
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42947` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-30 13:37] engcom-Delta commented on #33640
Hi @trungpq2711,

Kindly provide issue description , steps to reproduce , Actual results and Expected results. so that we can reproduce it.

Thanks

[2021-07-30 13:56] engcom-Delta commented on #33634
Hi @StuartLBG,
We tried to reproduce it on Magento 2.4.2 which is upgraded from 2.4.0-p1. unfortunately we could not find this issue, it works as expected. Hence added the label 'Needs update'

Please find the attached snapshots for reference.

![BodyTag](https://user-images.githubusercontent.com/51681379/127663475-ed52e9f1-51fd-43e8-b052-4a2988bab4ea.JPG)
![Version](https://user-images.githubuser

[2021-07-30 14:03] kvydiuk opened #33641 "Wrong redirectCode returned by urlResolver() GraphQL endpoint"
### Preconditions (*)

1. Magento 2.4.2 CE
2. docker-php-fpm:7.4-0.0.1

### Steps to reproduce (*)

1. Make request:
![image](https://user-images.githubusercontent.com/9048430/127664036-6fb2d8fb-de98-4c07-8840-3e5526abca69.png)

### Expected result (*)

1. "redirectCode" in response should be "0"

### Actual result (*)

1. "redirectCode" in response is "301"

---
Please provide [Severity](https://

[2021-07-30 14:04] kirillvidyuk commented on #33641
@magento give me 2.4-develop instance

[2021-07-30 14:08] trungpq2711 commented on #33640
Hi @engcom-Delta
Steps to reproduce
Magento 2.4.2
1. go to sales -> returns
2. select more than two items
3. select action close and click submit

Actual results:
<img width="1739" alt="14" src="https://user-images.githubusercontent.com/15412007/127664545-6b71ed11-1803-4d87-835d-d0673f9207c9.png">
Expected:
close order success

Thanks!

[2021-07-30 14:10] StuartLBG commented on #33634
Have you confirmed that the body works correctly on the frontend?

I have checked my admin and the body is working correctly on that side as it is on yours

![image](https://user-images.githubusercontent.com/48946329/127665487-a122977e-226e-43ad-8de2-80aded66a72b.png)

[2021-07-30 14:10] kirillvidyuk commented on #33641
I'm able to reproduce issue with Vanilla Magento instance:
![image](https://user-images.githubusercontent.com/9048430/127665623-c150bda4-18a3-4d95-8b22-78af335f6111.png)

[2021-07-30 14:11] kirillvidyuk commented on #33641
@magento I am working on this

[2021-07-30 14:12] engcom-Delta commented on #33628
Hi @juancruzunq,

Kindly provide the issue description ,steps to reproduce, actual results and expected results. Hence we can reproduce it.
Added the label 'Needs update'

Thanks

[2021-07-30 14:34] vseager opened #33642 "Can't import additional images when product already has image"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Create new product in admin
2. Upload product image in admin and set to base image, small image, thumbnail image
3. Upload additional image to `var/import/images`
4. Create import file and upload additional images via CSV import  (Example import file: [test-import.csv](https://github.com/magento/magento2/files/6908170/test-imp

[2021-07-30 14:58] hostep commented on #33510
It's funny that this was delivered in Magento 2.3.7 almost 3 months ago and then was forgotten in Magento 2.4(.3). Anyways, let's hope for 2.4.3-p1 or maybe even 2.4.4 (which is happening somewhere in 2022 I'm guessing)

[2021-07-30 15:35] ericerway commented on #30835
@magento give me 2.4.2 instance

[2021-07-30 17:24] juancruzunq commented on #33628
Hello! The current results are like a blank screen with no information. What should happen is an interface where I can choose the Zoho CRM module and be able to do the correct mapping of fields. In the photo that I attach you can see the module "Invoice" and following the fields to match
![1](https://user-images.githubusercontent.com/54421721/127689516-de6c2594-2556-4b7e-b114-3065234b4a55.PNG)

Th

[2021-07-30 18:59] #33346 closed, assigned to tufahu

[2021-07-30 19:38] andrewbess commented on #33304
Pull request is merged in develop branch.

[2021-07-30 19:38] #33304 closed, assigned to vlmed

[2021-07-30 19:42] andrewbess commented on #33585
Pull request is merged in develop branch of the MFTF repository

[2021-07-30 19:42] #33585 closed, assigned to bohdan-harniuk

[2021-07-30 21:49] #33574 closed, assigned to andrewbess

[2021-07-31 01:56] #30151 closed, assigned to nobody

[2021-07-31 02:08] DigitalDomainIE commented on #15545
I was getting this issue happening on Magento v2.3.5pl2 and thought it was MySQL related which it appears to be but it is caused by Layered Navigation on M2. You need to go to Admin/Stores/Attributes/Product" and change any Product Attribute that is NOT being used on the website from "Filterable (with Results" to "No" and reindex the site, clear cache and you'll see your server going WAY faster an

[2021-07-31 04:38] WebHostingAce commented on #33586
Same Issue. Subscribe to the thread.

[2021-07-31 04:42] #33507 closed, assigned to karyna-t

[2021-07-31 10:20] vmalyk opened #33644 "Order status isn't fetched label per store view properly in GraphQL"
### Preconditions (*)
1. Magento 2.4.2 or higher
2. Multi store view configuration

### Steps to reproduce (*)
1. Setup order status labels per store view :

<img width="1278" alt="Снимок экрана 2021-07-31 в 13 13 35" src="https://user-images.githubusercontent.com/5318027/127736701-7a04f92f-5a1c-4be8-965d-b3efbcd5b178.png">

2. Request orders for logged in customer:
[code]

### Expected result (*)

[2021-07-31 10:21] vmalyk commented on #33644
@magento give me 2.4-develop instance

[2021-07-31 10:59] shikhamis11 commented on #33644
@magento give me 2.4-develop instance

[2021-07-31 11:11] magento-engcom-team commented on #30094
:white_check_mark: Confirmed by @mrtuvn
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38991` were created

**Issue Available**: @mrtuvn, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-07-31 11:36] shikhamis11 commented on #33644
@magento give me 2.4.2 instance

[2021-07-31 12:03] shikhamis11 commented on #33644
hi @vmalyk
I tried reproducing this issue on 2.4-develop as well as 2.4.2 instances. I think it seems working fine. Let me know if it requires an additional step to reproduce this issue.

I followed the below step
created 2 stores and set the Order status labels differently for each store like below

<img width="631" alt="Screenshot 2021-07-31 at 5 22 49 PM" src="https://user-images.githubusercont

[2021-07-31 13:17] juancruzunq commented on #33628
![image](https://user-images.githubusercontent.com/54421721/127741107-7314413a-f6e7-48e9-82b3-69bfc4e83545.png)
Actual results

[2021-08-01 06:10] hasnatme opened #33650 "Magento 2.4.2 Uncached After Placing Order"
### Preconditions (*)

1. Magento 2.4.2 (CE)
2. Varnish Cache or FPC

### Steps to reproduce (*)

1. Place order with any products from any category as customer.
2. Place order from admin panel with any products from any category.

### Expected result (*)

1. Magento should purge cache for varnish only for the product by tag. And rest cache should remain intact.

### Actual result (*)

1. However

[2021-08-01 07:15] mrtuvn commented on #33650
Seem unclear information
Can you provide in the case varnish used which version that you used?
Case 1 Both enabled varnish + FPC
Case 2 Enabled Varnish Disabled FPC
Case 3 Disabled Varnish Enabled FPC

[2021-08-01 08:52] ioweb-gr opened #33651 "Incorrect totals calculation in order_invoice prevents paypal checkout"
### Preconditions (*)
1. Magento 2.4.1
2. Paypal website payments standard or express checout

### Steps to reproduce (*)
1. Create a sales order with a discount coupon using live credentials on paypal (not sandbox credentials). When using the sandbox credentials everything works for some reason. I think paypal is missing the verification for AMT and ITEMAMT on sandbox.
2. Try to checkout with pay

[2021-08-01 11:57] shikhamis11 commented on #33641
@magento give me 2.4-develop instance

[2021-08-01 12:46] hostep commented on #33628
@juancruzunq: as far as I see this, you don't claim a bug in core Magento but a problem in that [Zoho CRM Integration module](https://marketplace.magento.com/magenest-module-zohocrm-integration.html). So this is not the correct place to report this.
I'd recommend you to report this bug to the people that maintain that Zoho module.

If it does turn out to be a bug in core Magento, we will need a lo

[2021-08-01 15:35] kirillvidyuk commented on #33641
@magento I am working on this

[2021-08-01 20:07] korovitskyi commented on #33622
Hi, @ihor-sviziev , @sivaschenko .
I'm not sure that we can update PHPUnit version to 8 or 9(lastest).
As the dependency `squizlabs/php_codesniffer:3.6` (lastest) support only `PHPUnit:7.x` as lastest.
And the whole `magento-coding-standard ` depends on `squizlabs/php_codesniffer'` package.

Please, let me know if we have any variants here.
Thank you.

[2021-08-01 20:13] Viper9x commented on #32885
Hi @mfickers, I've dug deep into this issue today. I confirm that this issue occurs on magento 2.4, 2.4.1, 2.4.2, 2.4.2-1.

Magento version < 2.4 doesn't have this issue and the function getLoginUrlParams() in [Magento\Customer\Model\Url.php:113](https://github.com/magento/magento2/blob/2.4/app/code/Magento/Customer/Model/Url.php#L113) on magento 2.4 does not change compared to [magento 2.3](https

[2021-08-02 02:26] manjalsupermarket opened #33654 "SecureHtmlRenderer - InvalidArgumentException"
[2021-08-02 01:58:15] main.CRITICAL: Invalid CSS given {"exception":"[object] (InvalidArgumentException(code: 0                                                                                                                              ): Invalid CSS given at /var/www/html/manjal/vendor/magento/framework/View/Helper/SecureHtmlRenderer.php:149)"}

[2021-08-02 05:59] ajijshekh123 commented on #33146
Hi @vermarajesh60,
I tried with one more product but the Issue is not able to reproduce.
I am closing this issue If you have reproduced it again you can reopen it.
Thanks.

[2021-08-02 05:59] #33146 closed, assigned to ajijshekh123

[2021-08-02 06:01] ajijshekh123 commented on #32994
@magento give me 2.4-develop instance

[2021-08-02 06:07] ihor-sviziev commented on #33622
@korovitskyi, as an option, we can ask if they're going to add such compatibility and/or send them a pull request? :)

[2021-08-02 06:27] korovitskyi commented on #33622
@ihor-sviziev , yes, looks like they are going to add, we can see at [PHP_CodeSniffer V 4.0](https://github.com/squizlabs/PHP_CodeSniffer/tree/4.0), but it is not released yet.

[2021-08-02 06:49] hasnatme commented on #33650
Hello,

This is my website www.banglashoppers.com you can check yourself by placing an order, you do not need to pay as we have cash on delivery system. My Hosting is cloudways.com. Please note, it is doing after couple of min, not instantly.

Using latest 2.4.2 CE with FPC and Varnish-6.0.7 revision 525d371e3ea0e0c38edd7baf0f80dc226560f26e

[2021-08-02 07:17] engcom-November commented on #33489
@clahaut,
We are closing this issue as there has been no latest update on the same.
Thank you.

[2021-08-02 07:17] #33489 closed, assigned to engcom-November

[2021-08-02 07:22] ajijshekh123 commented on #32994
Hi @mparrSaatva,

I tried with your additional steps but I didn't reproduce the issue. So Can you please send me the video So I can review it and Verified this issue.
Sorry for the inconvenience.

Thanks.

[2021-08-02 07:24] #33580 closed, assigned to andrewbess

[2021-08-02 07:45] xpoback commented on #13829
It's Magento, that's the way they do it.

[2021-08-02 07:47] ajijshekh123 commented on #33453
Hi @ia-gaurav,

I have verified this issue as per defined above pre-conditions, Issue description and expected result. Quantity filter options is not showing after applied Layered Navigation as YES for the quantity_and_stock_status field.

![image](https://user-images.githubusercontent.com/24711761/127823290-7add8555-292c-4b38-b593-0beca5d22535.png)

![image](https://user-images.githubusercontent.

[2021-08-02 07:48] magento-engcom-team commented on #33453
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42959` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-02 08:02] tyago343 commented on #33280
Hi @engcom-Delta
This 2.4-develop branch it's a wip branch? This fix will be in the next release of magento?

I'm working with 2.4.2-p1 in production enviroment, so i can't downgrade to 2.4.
thanks for your help.

[2021-08-02 08:09] ihor-sviziev commented on #32265
I'm closing this issue, as the PR didn't get any info for a long time.

[2021-08-02 08:09] #32265 closed, assigned to ihor-sviziev

[2021-08-02 08:59] stefanskotte commented on #25221
This issue is exactly the same for the Porto 3.2.6 theme - I will report this to the developers.

[2021-08-02 09:07] rosemariepopescu opened #33655 "Custom options with price type "percent" is not available for configurable product"
Hi, I know this issue was countlessly reported during the last 5 years, but I am reporting it again, maybe somebody will take care this time.
It is a real nuisance
Custom options with price type "percent" is not available for configurable product on Magento 2.4

Thank you!

[2021-08-02 09:09] SilinMykola commented on #33588
@magento I am working on this

[2021-08-02 09:11] magento-engcom-team commented on #32819
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42960` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-02 09:13] magento-engcom-team commented on #32781
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42961` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-02 09:16] magento-engcom-team commented on #32579
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42962` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-02 09:24] engcom-Delta commented on #33517
Hi @HarryChiu ,

I tried to reproduce this issue on Magento 2.4.2 but unfortunately i could not find 'Payment on Account' choice from Payment methods. Please find the attached screen shots.

followed below steps:
1. Log into Backend
2. click on Stores--> configuration--> Sales--> payment methods.

Hence request to revisit provided steps.

Thanks
<img width="933" alt="payments_screenshot1" src="htt

[2021-08-02 09:29] Quazz opened #33656 "Admin Session Clean Expired Sessions does not use config value"
### Preconditions (*)

1. Magento 2.4.2
2.

### Steps to reproduce (*)

1. Have admin session lifetime configured as a value greater than 86400s. (May be 1 year's seconds or something like that)
2.  Create admin session by logging in on admin panel
3.  Wait >86400s (but lesser than the seconds that is set in step1).
4.  Run crontask security_clean_admin_expired_sessions (which calls method cleanEx

[2021-08-02 09:32] jmcharadva commented on #33617
@magento add to contributors team

[2021-08-02 09:40] f1-outsourcing commented on #33579
@mrtuvn

Hi Mrtuvn,

I still do not have access to this development strategy stuff. Knowing a bit more about elasticsearch, I am starting to get concerned about the future of the opensource version of magento. I wrote this to some email addresses hoping that it will find it's way to someone that decides on strategy. I put the text here below, because you might be interested in this perspective on

[2021-08-02 09:41] ajijshekh123 commented on #32994
@magento give me 2.4-develop instance

[2021-08-02 09:57] mrtuvn commented on #33579
Thanks you for share your thoughts!
But i don't have much information related with elastic search decision. Why magento choose elastic search as default. Current that default search in  2.4.0
Maybe you will interesting new search module created by @qsolutions-pl

[2021-08-02 10:14] HarryChiu commented on #33517
@engcom-Delta
You have to install "magento/module-company-credit" module which is only in commerce version.

[2021-08-02 10:20] engcom-Hotel commented on #32983
@magento give me 2.4-develop instance

[2021-08-02 10:27] sravanigogineni89 opened #33657 "All the admin is broken after I update Admin Base URL: Use Custom Admin URL to YES), Not able to revert this setting (Admin Base URL: Use Custom Admin URL)"
### Preconditions (*)

1.Magento ver. 2.4.1
2. All the admin is broken after I update Admin Base URL: Use Custom Admin URL to YES), Not able to revert this setting (Admin Base URL: Use Custom Admin URL)

### Steps to reproduce (*)

1.Stores -> Settings -> Configurations - >
2.
![adminURLIssue](https://user-images.githubusercontent.com/56364730/127847180-e97f1138-e67e-4dd8-b727-6c23a6455d4c.png)

#

[2021-08-02 10:53] krishprakash commented on #33657
@magento give me 2.4-develop instance

[2021-08-02 11:13] krishprakash commented on #33655
Hi @rosemariepopescu.
Could you please provide more details as described in Issue reporting guidelines
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines
Thanks!!

[2021-08-02 11:17] engcom-November commented on #33559
Verified the issue on Magento2.4-develop branch and the issue is reproducible:

**Steps to reproduce:**
1. Magento Setup 2 Store views [(Reg Guide)](https://devdocs.magento.com/guides/v2.4/config-guide/multi-site/ms_websites.html)
2. Create/Edit a product and assign to both the Stores (Admin - Catalog - Products) and save
3. Set the price scope to 'Global' (Admin - Stores - Configuration - Catalog

[2021-08-02 11:31] VesnaFactorBlue commented on #32593
Hi @gabrieldagama,
I also encountered this issue, and there is a bug in Magento behavior, but it can't be reproduced in that way.

I used vanilla Magento 2.4.2-p1 version with sample data.

Create new dropdown attribute and add a few labels to it, for example:
![Screenshot_20210802_131328](https://user-images.githubusercontent.com/84506702/127853056-cd3c59e6-4467-4c82-8529-998c5d970915.png)

Then,

[2021-08-02 11:41] magento-engcom-team commented on #33559
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42963` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-02 12:53] engcom-Delta commented on #33642
Hi @vseager,

I tried importing the images as per provided steps, it works as expected in Magento 2.4.2 .
Please find the attached screenshot for reference.

Kindly request to review the steps. Hence added 'Needs Update
![Image_importing](https://user-images.githubusercontent.com/51681379/127865119-96752f15-cd7e-4d82-996f-eef0c3facad0.jpg)
'

[2021-08-02 12:56] juancruzunq commented on #33628
Thanks for the feedback!

[2021-08-02 12:56] #33628 closed, assigned to engcom-Delta

[2021-08-02 13:00] engcom-November commented on #33615
Verified the issue on Magento2.4-develop branch and the issue is reproducible:
**Steps to reproduce:**
1. Magento - 2 Store views [(Ref Guide)](https://devdocs.magento.com/guides/v2.4/config-guide/multi-site/ms_websites.html)
2. Create CMS page for default store (Admin - Content - Pages - Add New Page - Pages in Websites -  Select Default Store View) and Save
3. Create CMS page for new Store using

[2021-08-02 13:01] magento-engcom-team commented on #33615
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42964` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-02 13:27] Garde85 opened #33659 "Wrong validation of bundle product on save if simple product assigned to multiple sources"
### Preconditions (*)
1. Magento 2.4.2-p1
2. Multi source inventory active

### Steps to reproduce (*)
1. Magento installation has at least 2 website: WEBSITE-A and WEBSITE-B
2. Multisource inventory has at least 2 sources: INVENTORY-A and INVENTORY-B
3. WEBSITE-A assigned to INVENTORY-A and WEBSITE-B assigned to INVENTORY-B
4. 1 simple product: PROD-SIMPLE assigned to WEBSITE-A and WEBSITE-B
5. P

[2021-08-02 13:41] mrtuvn commented on #33657
Custom path still working But Custom url may broken

[2021-08-02 13:49] sravanigogineni89 commented on #33657
Here is what we are seeing:
![image](https://user-images.githubusercontent.com/56364730/127872155-d98894ee-f7ac-45d1-9c8e-6329579f361a.png)

[2021-08-02 14:09] mrtuvn commented on #33657
after change url custom for admin i can't access to admin. Redirect to 404 page. But entire page not break as your describe
Custom path still working

[2021-08-02 14:10] gdvisser commented on #20481
As long as this is not fixed in Magento you can take this approach: https://stackoverflow.com/questions/68622618/magento-2-rest-api-cant-remove-category-ids/68623022#answer-68623022

[2021-08-02 14:10] sravanigogineni89 commented on #33657
I am still able to access admin but not able to revert it back, all css and all js broken.
I am not able to do any thing

[2021-08-02 14:11] gdvisser commented on #14038
As long as this is not fixed in Magento you can take this approach: https://stackoverflow.com/questions/68622618/magento-2-rest-api-cant-remove-category-ids/68623022#answer-68623022

[2021-08-02 14:12] gdvisser commented on #25646
As long as this is not fixed in Magento you can take this approach: https://stackoverflow.com/questions/68622618/magento-2-rest-api-cant-remove-category-ids/68623022#answer-68623022

[2021-08-02 14:17] #33581 closed, assigned to anzin

[2021-08-02 14:32] bohdan-harniuk commented on #33581
Hello, @KevinBKozan!

Why did you close this issue?

Thanks, Bohdan

[2021-08-02 14:44] sravanigogineni89 commented on #33657
we are using magento 2 in bitnami, not seeing the table core_config in the db, any ideas on how we can do that in the database.

[2021-08-02 14:49] mrtuvn commented on #33657
use any mysql client to access your db, or ssh to mysql and update via commandline
Or you can use adminer https://www.adminer.org/

[2021-08-02 16:03] moranotcsos opened #33663 "New Checkout Shipping Address Has Company After Changing Show Company to No"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. In the admin panel, change Show Company to Optional, press Save Config, and then clear cache.
2. Create a customer.
3. Login as the customer and add separate billing and shipping addresses with a company on both.
3. In the admin panel, change Show Company to No, press Save Config, and then clear cache.
2. While logged in as th

[2021-08-02 16:12] rafczow commented on #26498
Thanks @HenKun! After change of sort order to negative on AsyncCssPlugin it finally works as intended after cache hit.
This should be included with merged fix as without it changes are worthless anyway for any store that uses caching which basically means every production store.

[2021-08-02 16:24] hostep commented on #26498
@rafczow, @HenKun, the change is coming in Magento 2.4.3, will get released on August 10, fixed in https://github.com/magento/magento2/pull/30871

[2021-08-02 16:27] KevinBKozan commented on #33581
@bohdan-harniuk It was auto-closed apparently since I merged an internal PR containing community commits https://github.com/magento-commerce/magento2-functional-testing-framework/pull/88

[2021-08-02 16:28] KevinBKozan commented on #33581
@anzin's PR was subsequently merged in the public Repo https://github.com/magento/magento2-functional-testing-framework/pull/862

[2021-08-02 16:41] sravanigogineni89 commented on #33657
I am able to access my DB now, can someone please provide me the updates that need to be run to change these
![image](https://user-images.githubusercontent.com/56364730/127895520-d3848b66-b2fe-4178-bc21-651ce8aec4be.png)

[2021-08-02 17:24] mrtuvn commented on #26498
Hi i just curiously anything else broken function in pre-preview 2.4.3 ? Not have a change to test that

[2021-08-02 17:33] mrtuvn commented on #33657
imho this problem not too critical because reproduce problem need extra config for replicate. It's not directly block user at default. We can have P3 or P4 for this problem. But we definitely should re-check custom url case
Let's wait final confirm

[2021-08-02 19:56] sydekumf commented on #33600
@engcom-November

[2021-08-02 21:16] bohdan-harniuk commented on #33581
@KevinBKozan, thank you!

[2021-08-03 04:45] krishprakash commented on #33663
@magento give me 2.4-develop instance

[2021-08-03 05:14] krishprakash commented on #33663
Hi @moranotcsos. Not able to replicate the issue as provided steps by you

Refer the steps which I follow

- Create new account -> Login into account
- Add different address for billing and shipping with company added
- Updated the configuration for Show Company to No
- Clear the caches
- Login into account -> Add product to cart
- Checkout -> Add new shipping address
- Observe the company field n

[2021-08-03 05:14] #33663 closed, assigned to krishprakash

[2021-08-03 05:21] mobweb commented on #14509
Any update on this? This is an important feature for us as we need the DOB of all (registered) customers, and 99% of our signups are during checkout.

[2021-08-03 06:13] karyna-tsymbal-atwix commented on #33391
@magento I am working on this

[2021-08-03 07:05] sravanigogineni89 commented on #33657
can someone please provide me the updates that need to be run to change these
![Untitled](https://user-images.githubusercontent.com/56364730/127972516-57035edb-ce63-4c14-8119-72de36d8c759.png)

[2021-08-03 07:13] khoimm92 commented on #19230
This issue still exists on Magento 2.4.2

[2021-08-03 07:56] reihaan opened #33665 "Magento 2 Backend and Frontend Stopped working"
I am running magento 2.3.3 on a VPS. Recently it stopped working, could it be due to the composer? As our server administrator updated the composer version to 2. Now after degrading the composer to version 1 the issue still remains. I ran the composer install, update and bin/magento commands to update and deployed the website again, but still can't access frontend and backend.

The error I am gett

[2021-08-03 07:58] webgility-amazonapi opened #33666 "While updating the order status increment_id is also updating why?"
### Preconditions (*)

1. Magento version 2.3.1

### Steps to reproduce (*)

1. Call the API /rest/V1/orders
2. Provide the following request in API
{"entity":{"entity_id":287,"status":"pending"}}
3. Now downlaod the order id 287
4. You will see increment_id is updated on UI and in order downlaod response as well.

### Expected result (*)

1.When we are updating only status it should only update s

[2021-08-03 08:14] ajijshekh123 commented on #33666
@magento give me 2.4-develop instance

[2021-08-03 09:03] engcom-Delta commented on #33616
@magento give me 2.4.2 develop instance

[2021-08-03 09:06] engcom-Delta commented on #33616
@magento give me 2.4-develop instance

[2021-08-03 09:46] LiamKarlMitchell commented on #13829
I'm used to it...

[2021-08-03 09:55] engcom-Delta commented on #33665
Hi @reihaan ,
Kindly provide issue description ,steps to reproduce ,expected results & actual results.

Thanks

[2021-08-03 10:17] engcom-Delta commented on #33616
Hi @theodorhanu,

We tried to reproduce the issue on Magento 2.4.2  and found that it is not reproducible ,it works as expected.
Kindly find the attached snapshots for reference. Please review the provided steps.

FPC Enabled:
![template_hints](https://user-images.githubusercontent.com/51681379/127999457-f7df7721-2bc6-4ce4-8116-fcc63a49258a.jpg)

The content with template hints is not FPC cached :

[2021-08-03 10:20] reihaan commented on #33665
The website was in production state and working fine but now suddenly it stopped working on investigating the issue I found the above error in the error report.

The error states expecting a string got null.

need help to fix this issue.

thank you

[2021-08-03 10:45] engcom-Delta commented on #33656
Hi @Quazz,
We tried to reproduce the issue but need more details on step# 4 "Call admin session cleaner function".
it would be great if you can specify method signature, calling methods.

Thanks

[2021-08-03 11:28] reense opened #33668 "Calling addWebsiteFilter() on Magento\CatalogRule\Model\ResourceModel\Rule\Collection crashes 'create catalog rule' in adminhtml."
### Preconditions (*)

1. Any vanilla Magento 2.4.2-p1 installation.

### Steps to reproduce (*)

1. Create a ` beforeLoad()` plugin on `\Magento\CatalogRule\Model\ResourceModel\Rule\Collection`
2. Call `addWebsiteFilter()` with any value on the `$subject` `(\Magento\CatalogRule\Model\ResourceModel\Rule\Collection)`
3. Navigate to Marketing > Catalog Rules and click "create new Catalog Rule"
4. Th

[2021-08-03 11:37] ajijshekh123 commented on #32994
@magento give me 2.4-develop instance

[2021-08-03 11:41] gabrieldagama commented on #33518
@magento give me 2.4-develop instance

[2021-08-03 12:05] engcom-Hotel commented on #33425
Hello @alexmtch,

It seems the issue is a duplicate of this [issue](https://github.com/magento/magento2/issues/18812). So we are closing this ticket.

Thanks

[2021-08-03 12:05] #33425 closed, assigned to nobody

[2021-08-03 12:11] engcom-Hotel commented on #33588
Hello @Morgy93,

It seems that this issue is a duplicate of the [issue](https://github.com/magento/magento2/issues/33589). So we are closing this ticket.

Duplicate #33589

Thanks

[2021-08-03 12:17] aman2134 opened #33670 "Unable to add Bundle product containing products with multiple FPT when allowed apply taxes on Fixed Product Taxes"
### Preconditions (*)

1. Magento version - 2.4.2
2.

### Steps to reproduce (*)

1. Create a simple product with multiple Fixed product taxes
2. Create a bundle product and add the above product as one of the options
3. Enable Configuration -> Sales->Tax -> Fixed Product Taxes-> Apply Tax To FPT
4. Go to frontend and try adding the bundle product to cart  with the product with FPT selected

### E

[2021-08-03 12:18] #33418 closed, assigned to nobody

[2021-08-03 12:22] engcom-Delta commented on #33525
Hi @heqixi
Kindly provide issue description ,the steps to reproduce and specify DB details. So that we can replicate it .

Thanks

[2021-08-03 12:38] Quazz commented on #33656
I have edited the issue with more precise steps.

[2021-08-03 12:43] moranotcsos commented on #33663
The issue isn't that the company field is missing.

The issue is that, after placing the order, the shipping address created at checkout on the customer account and in the Magento database has the old shipping address company on it, even though the field was not showing.

[2021-08-03 13:06] engcom-Delta commented on #33417
There has no update from reporter .It has been more than 14 days. Hence closing the issue.
Kindly log new issue if required or re-open the existing issue.

Thanks

[2021-08-03 13:16] SilinMykola commented on #33589
@magento I am working on this

[2021-08-03 13:20] maghamed commented on #21879
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-08-03 13:21] engcom-November commented on #33619
Verified the issue on Magento 2.4-develop branch having B2B Modules enabled and the issue is not reproducible:

**Steps performed:**

Admin - Stores - Configuration - General - Enable B2B Features and Save
Stores->Configuration->Sales->Tax->Calculation Settings->Catalog Price to "Including Tax"
Create a Company Account (Customers - Company - Add New Company)
Reset password - Customers - All Custom

[2021-08-03 14:00] #33300 closed, assigned to anzin

[2021-08-03 15:11] github-jira-sync-bot opened #33672 "[2.4.x] RequireJS upgrade to the latest version"
Upgrade RequireJS version to the latest version -  2.3.6

[2021-08-03 15:26] PhilipRowe opened #33673 "Tier pricing on configurables inc/ex vat prices are the same value"
### Preconditions (*)

1. Magento 2.4.2-p1

### Steps to reproduce (*)

1. Go to Admin > Configuration > Sales > Tax
2. Display settings > Display Product Prices In Catalog > set to: Including and Excluding Tax
3. Calculation settings > Catalog Prices > Set to: Including Tax
4. Setup tax rules so that prices have a tax amount showing
5. Go to a configurable product on the frontend with tier pricin

[2021-08-03 15:36] andrewbess commented on #33301
Pull request is merged in develop

[2021-08-03 15:36] #33301 closed, assigned to bohdan-harniuk

[2021-08-03 15:37] andrewbess commented on #33305
Pull request is merged in develop

[2021-08-03 15:37] #33305 closed, assigned to bohdan-harniuk

[2021-08-03 15:49] korovitskyi commented on #33623
@magento I am working on this

[2021-08-03 16:15] engcom-November commented on #33453
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:
Steps :
Stores - Attributes - Product - Search for "quantity_and_stock_status"
Storefront Properties - Use in Layered Navigation - Select Filterable option and Save Attribute
Reindex and clear cache
Create a new product from Admin and assign inventory sources(if available) and update quantity and stock status: In-stock

[2021-08-03 16:32] maghamed commented on #21879
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-08-03 17:49] f1-outsourcing commented on #33579
Thanks I will bookmark that. However I discovered this magento-lts project, that starts to look appealing to me now. I have to see if I have somewhere the old 1.9 data and convert that.
Magento should have such things as lts versions, that is good thinking.

[2021-08-03 18:08] DaddyDomi opened #33674 "addColumn in grid creates an incomplete url without additional params"
### Preconditions (*)

1. Magento 2.4.2
2.

### Steps to reproduce (*)

1. Use  addColumn() to create new column in grid:
        $this->addColumn(
            'edit',
            [
   // (...)
             'actions' => [
                    ['url' => ['base' => '\*/\*/edit', 'params' => ['myparam' => 9 ] ], 'field' => 'entity_id'  ] ],
//(..)
            ]
        );
2. Problem source found in ap

[2021-08-03 18:56] DaddyDomi commented on #33674
Edit:

The line 147 :
_$params[] = $action['url']['params'];_
gives invalid data, change this line to:
_$params = array_merge($action['url']['params'], $params);_
solving a problem

[2021-08-03 19:21] maghamed commented on #21879
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-08-03 20:27] hostep commented on #33665
@reihaan: github isn't really the place to ask for help with a problem you have with Magento. It's meant for reporting bugs or feature requests. This doesn't appear to be a bug but a misconfiguration in your Magento shop.

Anyways, if I follow your stacktrace, I end up [over here](https://github.com/magento/magento2/blob/2.3.3/app/code/Magento/Backend/App/Area/FrontNameResolver.php#L123-L129), and

[2021-08-04 05:43] ihor-sviziev opened #33675 "Adding masked quote id to QuoteRepository::getList causing infinite loop"
In the Klaviyo extension, we have a plugin that adds a masked quote id to quote search API requests. That looks like quite a small plugin that shouldn't cause any performance or functional damage.

In most cases, it works well, but sometimes we see that such request causing eating 100% CPU by the php-fpm, and Gateway Timeout issues after quite a long time 60 seconds.

Here is a link to the plugin

[2021-08-04 05:56] ajijshekh123 commented on #32994
@magento give me 2.4-develop instance

[2021-08-04 06:19] ihor-sviziev opened #33676 "Using QuoteIdToMaskedQuoteId shouldn't increase response time"
In the Klaviyo extension, we have a plugin that adds a masked quote id to quote search API requests. That looks like quite a small plugin that shouldn't cause any performance damage. But, by just commenting fetching masked quote ID - I noticed that performance is improved more than 2 times.

Here is a link to the plugin in Klaviyo extension (it uses API class, which is ok):
https://github.com/klav

[2021-08-04 06:21] ihor-sviziev commented on #33676
I extracted PR description to the separate issue, and moved here severity & priority labels

[2021-08-04 07:08] arjunadobe opened #33678 "Upgrade Issue, While upgrade from Magento 2.4.2-p1 to Magento 2.4.3"
### Preconditions (*)
1. Magento 2.4.3 (EE)
2. Composer 2

### Steps to reproduce (*)
Hi,

I am upgrading from Magento 2.4.2-p1 from Magento 2.4.3. Composer Update was working fine, but when I tried to run

`php bin/magento setup:upgrade`

I am getting the below error.

`Unable to apply data patch Magento\Paypal\Setup\Patch\Data\UpdateBmltoPayLater for module Magento_Paypal.
Original exception mes

[2021-08-04 07:17] engcom-Hotel commented on #33134
Hello @ticaje,

It seems the solution is working for you. Can we close this issue now?

Thanks

[2021-08-04 07:19] rogyar commented on #33659
@magento give me 2.4-develop instance

[2021-08-04 07:23] engcom-Hotel commented on #32836
Dear @webtekindo,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-08-04 07:23] #32836 closed, assigned to engcom-Echo, engcom-Hotel

[2021-08-04 07:24] engcom-Hotel commented on #32674
Dear @Naberdz,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-08-04 07:24] #32674 closed, assigned to engcom-Hotel

[2021-08-04 08:42] magulin commented on #29973
@magento-engcom-team Which version is this fixed in? It has no references to any commits.

[2021-08-04 09:17] aarya-404 opened #33679 "Canceled items price and tax amount should not adding in the invoice"
### Preconditions (*)

1. Magento ver. 2.3.5-p2
2. PHP 7.3

### Steps to reproduce (*)

1. Added same product with 2 qty in the cart
2. Used payment method Check / Money order
3. canceled 1 item qty
4. generate invoice from admin

### Expected result (*)

1. in the invoice subtotal and grand total should be for 1 qty because we canceled 1

### Actual result (*)

1.  it's showing with 2 qty

---
Pl

[2021-08-04 09:33] michalrostek opened #33680 "Unsupported PHP 8 command in Magento"
### Preconditions (*)

 
1. Magento 2.4.3 EE
1. PHP 7.4

### Steps to reproduce (*)
1. There is a PHP 8 (str_contains) command in \Magento\Framework\Filesystem\Directory\DenyListPathValidator:74 which is not officially supported yet ... so we have such errors during installation:

{{PHP Fatal error: Uncaught Error: Call to undefined function Magento\Framework\Filesystem\Directory\str_contains() in

[2021-08-04 09:49] ajijshekh123 commented on #33155
@magento give me 2.4-develop instance

[2021-08-04 09:58] #33672 closed, assigned to mrtuvn, eduard13

[2021-08-04 10:03] engcom-Delta commented on #32544
There has no update from 14 days ,hence closing it.
Kindly raise new ticket if required or re-open existing issue.

Thanks

[2021-08-04 10:03] #32544 closed, assigned to engcom-Delta

[2021-08-04 10:12] IgorPostnikov commented on #28924
?

[2021-08-04 10:17] michalrostek opened #33681 "Key Magento components are based on magento/composer v1.6.0 (composer 1), not v1.7.0 (composer 2)"
### Preconditions (*)

1. Magento 2.4.2 - 2.4.3
2. Composer 2 (only)

### Steps to reproduce (*)

1. Key core components: magento/magento2-ee-base, magento/magento2-base, magento/product-community-edition, magento/product-enterprise-edition require magento/composer 1.6.0, which in turn requires composer 1, this despite the fact that magento/composer 1.7.0 was released in March 2021, which can work

[2021-08-04 10:19] engcom-Delta commented on #33670
Hi @aman2134,

Tired in Magento 2.4. Develop, unfortunately it is not reproducible ,it works as expected.
Please find the attached screenshots for reference. Kindly review the provided steps.
<img width="960" alt="FPT_product" src="https://user-images.githubusercontent.com/51681379/128164947-e6a5c530-cadd-420c-a63b-c8c6ba53e2d5.png">

Added the label 'Needs update'
Thanks

[2021-08-04 10:26] engcom-Bravo commented on #33174
Hi @tranhoangthien1990,

As we have not received any reply for the last comment since 16 days, we are closing this ticket. Please open a new ticket if you are still facing this issue.

Thanks.

[2021-08-04 10:26] #33174 closed, assigned to engcom-Bravo

[2021-08-04 10:29] engcom-Bravo commented on #22094
As we have not received any reply on this since few days, we are closing this issue. Please open a new ticket if you are still facing the issue.

Thanks.

[2021-08-04 10:29] #22094 closed, assigned to engcom-Alfa

[2021-08-04 10:32] engcom-Delta commented on #33280
Thanks @tyago343. closing the issue ,kindly raise new issue if required or please re-open the existing issue.

[2021-08-04 10:32] #33280 closed, assigned to nobody

[2021-08-04 10:35] engcom-Delta commented on #33458
There has no update from the reporter from 14 days .Hence closing it .
Kindly raise new issue if required or re-open the existing ticket.

[2021-08-04 10:35] #33458 closed, assigned to engcom-Delta

[2021-08-04 10:43] bsdonaldson commented on #33063
@engcom-Alfa based on your video your adding an img tag as text rather than HTML. If you look at the first screenshot provided by martasiewierska they aren't using the HTML Editor. This issue still happens with the following steps:

1. Create a block and hide editor.
2. Insert image and manually add loading="lazy" (eg. `<img src="https://via.placeholder.com/350x150" alt="Example image" loading="la

[2021-08-04 11:15] tyago343 commented on #33280
Hi @engcom-Delta This issue it's not solved, in Magento 2.4.2-p1 (latest version) it's reproducible.

[2021-08-04 12:17] ihor-sviziev commented on #12124
Hi @scrivvles,
From the documentation https://cloud.google.com/sql/docs/features#unsupported-statements, it seems like

![image](https://user-images.githubusercontent.com/1873745/128178957-9e3e8ef4-ba10-4df3-8196-676116679b71.png)

Currently, Magento 2.4 supports MySQL 8 https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements.html.

Could you confirm that this issue is fixed now?

[2021-08-04 12:23] luka4 commented on #30596
I fixed this with following patch (logic taken from magento version 2.3.3-p1)
`
Index: vendor/magento/module-cms/Block/Adminhtml/Wysiwyg/Images/Tree_original.php
IDEA additional info:
Subsystem: com.intellij.openapi.diff.impl.patch.CharsetEP
<+>UTF-8
===================================================================
--- a/vendor/magento/module-cms/Block/Adminhtml/Wysiwyg/Images/Tree.php	(revision

[2021-08-04 12:30] andrewbess commented on #33589
Hello @Morgy93
I am not sure issue is correct.
In basically, you have wrong search request there.
So, this issue is wrong (IMHO)

cc @engcom-November cc @SilinMykola

[2021-08-04 12:35] Morgy93 commented on #33589
It triggers a 500 server error so it is an issue, isn't it? =)

It was discovered while someone tried to hack into the system, so yes, it might not be "usual customer behavior", but still an (security) issue.

[2021-08-04 13:02] sivaschenko commented on #33680
@michalrostek thanks for reporting this issue! While we are addressing the issue, there is a possible workaround: require `symfony/polyfill-php80` package via composer to the project

[2021-08-04 13:07] sivaschenko commented on #33680
The internal team is working on a fix for this, I have linked the internal Jira ticket to the GitHub issue, so the status will be updated accordingly.

[2021-08-04 13:08] magento-engcom-team commented on #33680
@sivaschenko Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-08-04 13:16] Monica8955 commented on #33548
Hi,
news?

I can't access the attached screen

tnks

<img width="826" alt="Schermata 2021-08-04 alle 15 14 45" src="https://user-images.githubusercontent.com/57487715/128187378-9c0a0a1f-4bb6-41d9-b502-8c25021dbf8d.png">

[2021-08-04 13:18] ajijshekh123 commented on #33155
@magento give me 2.4-develop instance

[2021-08-04 13:23] maghamed commented on #21879
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-08-04 13:38] Usik2203 commented on #33099
@magento I am working on this

[2021-08-04 14:52] magento-engcom-team commented on #32615
@engcom-Hotel Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-08-04 14:52] magento-engcom-team commented on #32615
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42995` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-04 15:22] maghamed commented on #21879
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-08-04 15:54] leonhelmus commented on #33680
I had the same issue and because of the error i could not update my composer.lock with a composer update. Even after requiring symfony/polyfill-php80 i still get the error. During this command:

[code]
and this one:
[code]

This prevents us from updating the composer.lock file, because composer update rollsback after a incomplete composer update.

i get the following error:
[code]

System specific

[2021-08-04 16:23] leonhelmus commented on #33680
I took a better look and for this client we have multi source inventory disabled.

When checking the composer plugin magento/inventory-composer-installer it tries to disable all modules that have magento/module-inventory disabled, because of this it needs functionality of the magento framework which doesn't work, because str_contains does not exist for php 7.4 and this is the reason why composer.l

[2021-08-04 16:25] homefieldandstream opened #33684 "My gift registry will not display within my site"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2021-08-04 16:34] onlinebizsoft opened #33685 "Data transfer between web server and redis cache is too high"
### Summary (*)

We run a Magento site on multiple servers on multiple aws regions, the website have multple domains and multiple languages and the catalog has many products as well.

We relealized that the data transfer cost on the aws bill is quite much higher than normal. It cover up to 50-60% the total.

We figured out that most of data transfer was from Elasticache (one region) to EC2.

### E

[2021-08-04 16:37] onlinebizsoft commented on #33685
P/S Im on 2.4.2 so it is not same as https://github.com/magento/magento2/issues/32118

[2021-08-04 16:58] hostep commented on #33681
Duplicate of: https://github.com/magento/magento2/issues/33047
Got fixed by: https://github.com/magento/magento2/pull/33546

Also see some discussion on Slack chat:
<img width="1141" alt="Screenshot 2021-08-04 at 18 55 55" src="https://user-images.githubusercontent.com/85479/128222643-a60df0d6-086c-4198-a8b2-67828c427065.png">

It's a bit silly this was introduced in Magento 2.3.7 **3 months** ago

[2021-08-04 17:14] mrtuvn opened #33686 "Eliminate unnecessary js files only load files needed"
### Description (*)

Not a bug but i think we should consider remove/reduce un-need js load files to make site render faster. Current magento have many js loaded via requirejs (~190 files) in case no bundling enabled

"simplify js only keep common parts we used and remove not used parts"

Common files we can consider keep at all page (for basic make site workable)
underscore
requirejs
jquery
knock

[2021-08-04 18:12] mrtuvn commented on #33680
~/vendor/magento/framework/Filesystem/Directory/DenyListPathValidator.php:74
I can't find this one in code base

[2021-08-04 18:43] fascinosum commented on #33681
hi @michalrostek,
Magento 2.4.2 and above are compatible with Composer 2 as a tool. We have Composer 1 as installed dependency, but this does not affect the deployment process
If for some reason you have a strict requirement for `composer/composer` in your root composer.json please update it to https://github.com/magento/magento2/blob/81c9d65149797f2503871f39987d930c4efe1716/composer.json#L36

[2021-08-04 20:16] maghamed commented on #21879
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2021-08-04 20:24] hostep commented on #33680
@mrtuvn: the problematic code definitely exists in Magento 2.4.3, 2.4.2-p2 and 2.3.7-p1, I can see it in the pre-releases.
Since the latter two are security releases and the change discussed here is most likely fixing some security issue, those changes won't be visible here on github yet until the official release next week.

[2021-08-05 04:34] thedigitalkern opened #33687 "Magento 2.4.2 We can’t save customer"
### Preconditions (*)

1. MAGENTO 2.4.2 via Bitnami

### Steps to reproduce (*)

1. Fresh Install of Magento 2.4.2

### Expected result (*)

1. New Customer Account Created successfully via frontend and logging in as a customer on Magento 2.4.2 out of the box setup. Alternatively, new customer account can be created via Admin.

### Actual result (*)

1. I am facing unusual error such as “We can’t

[2021-08-05 05:53] engcom-Delta commented on #33687
Hi @thedigitalkern,
We tried to reproduce the issue and it is not reproducible .it works as expected.
Kindly find the attached snapshot for reference.

Thanks
![Uploading usercreation.jpg…]()

[2021-08-05 06:33] engcom-Delta commented on #33684
Hi @homefieldandstream,

Kindly provide issue description, steps to reproduce, actual results and expected results.so that we can replicate it in respective magento version's.Hence added the label 'Needs Update'.

Thanks

[2021-08-05 06:34] mattijv commented on #33437
@engcom-Hotel Any updates? Can you confirm that you see the region in the final address and mark this as reproducible?

[2021-08-05 07:29] engcom-November commented on #33659
Verified the issue on Magento 2.4-develop branch and is reproducible but as per the official Magento [User docs](https://docs.magento.com/user-guide/catalog/product-create-bundle.html?itm_source=merchdocs&itm_medium=search_page&itm_campaign=federated_search&itm_term=%22Ship%20Bundle%20Items%20Together), if "Ship Bundle Items" is set to Together, all bundle items must be assigned the same Source. S

[2021-08-05 07:46] Garde85 commented on #33659
I think that is not right.
I say that because I don't want that users can decide to ship bunlde items separately. My bundle is shipped always togher fot customer of WEBSITE-A. At the same time, in all may magento installation, product PROD-SIMPLE is unique and this SKU identify a specific product. Than, if user in WEBSITE-A purchase PROD-BUNDLE, magento has to update stock info of PROD-SIMPLE on

[2021-08-05 08:50] rvanwilgen commented on #33650
Seems related to issue #30128

[2021-08-05 08:51] m2-assistant[bot] opened #33689 "[Issue] [MFTF] Updating with AdminClickUpdateChangesOnCreateOrderPageActionGroup"
This issue is automatically created based on existing pull request: magento/magento2#33662: [MFTF] Updating with AdminClickUpdateChangesOnCreateOrderPageActionGroup

---------
### Description (*)
Tests have been updated with AdminClickUpdateChangesOnCreateOrderPageActionGroup

[2021-08-05 09:17] mrtuvn commented on #33650
Turn out after place order with some deduct amount products internal code do some stuff to resync and clear cache.

[2021-08-05 09:25] leonhelmus commented on #33680
@sivaschenko Do you already have a EAT? We would like to get started on M2.4.3 on monday if possible.

[2021-08-05 09:36] mrtuvn commented on #33650
@hasnatme Can you update more details stock Inventory used ?

[2021-08-05 09:56] ioweb-gr commented on #33386
Just an update, while following this practice the downtimes have reduced significantly because the locks are staying for a smaller period. The issue still persists but is minified like this.

Basically I can verify that if the indexers are running on scheduled mode, the issue can happen with setup:upgrade if they have items in the backlog

[2021-08-05 10:02] engcom-November commented on #33241
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:

**Steps to reproduce:**
Multi Store Setup -  [Ref Guide:](https://devdocs.magento.com/guides/v2.4/config-guide/multi-site/ms_websites.html)
Create a product such that the product is visible on multiple websites (Admin - Catalog - Products - Add New Simple Product) Product In Websites - Select All Website options and S

[2021-08-05 10:10] magento-engcom-team commented on #33241
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-42999` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-05 10:17] m2-assistant[bot] opened #33692 "[Issue] [MFTF] Refactoring AdminCancelTheCreatedOrderWithCashOnDeliveryPaymentMethodTest"
This issue is automatically created based on existing pull request: magento/magento2#33557: [MFTF] Refactoring AdminCancelTheCreatedOrderWithCashOnDeliveryPaymentMethodTest

---------
The test is refactored to improve execution time

[2021-08-05 10:18] engcom-November commented on #33552
@jadebaileywowcher, We are closing this issue as there has been no latest update on the same.
Thank you

[2021-08-05 10:18] #33552 closed, assigned to engcom-November

[2021-08-05 10:19] magento-engcom-team commented on #33692
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43000` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-05 10:20] engcom-November commented on #33539
@PSLionz, We are closing this issue as there has been no latest update on the same.
Thank you

[2021-08-05 10:20] #33539 closed, assigned to engcom-November

[2021-08-05 10:25] engcom-November commented on #33538
@burgh8wp we are closing this issue as there has been no latest update on the same.
Thank you

[2021-08-05 10:25] #33538 closed, assigned to engcom-November

[2021-08-05 10:38] thedigitalkern commented on #33687
Well, that's strange, I have setup two instances and both don't seem to support Create a New Customer Account via Front end and Admin as well. Please advise how to amend this error if not reproduced on a fresh install by your end. None of the forums or Support topics address this issue.

[2021-08-05 10:46] jadebaileywowcher opened #33693 "Magento Order issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)
 I should be able to enter an order number or an email and pull up the order itself, this doesn't happen and just sticks on that screen with the red banner, circle swirling in middle of the screen.

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2021-08-05 10:57] engcom-November commented on #33589
@andrewbess for wrong Search requests like this, User should not be displayed with exception/unhandled errors. Error handling should be made for better user experience and to avoid security issues.
@Morgy93, Similar kind of [issue](https://github.com/magento/magento2/issues/33588) but has different error messages is closed as duplicate and updated here in the description.
Thank you

[2021-08-05 11:07] engcom-Delta commented on #33693
Hi @jadebaileywowcher,

Thanks for raising an issue . Issue description, steps to reproduce ,actual results  are missing. kindly update them.
Hence we can reproduce the issue . added the label 'Needs update'.

[2021-08-05 11:10] jadebaileywowcher commented on #33693
I am not sure what you mean sorry?

You go onto magento, sign in, go to the left of the screen where it says sales, click there, then click orders and then that's where the problem is. Sent screenshots too

***@***.***

***@***.***

***@***.***Will not move from this screen

From: Penchalaiah K ***@***.***>
Sent: 05 August 2021 12:08
To: magento/magento2 ***@***.***>
Cc: Jade Bailey ***@***.***>;

[2021-08-05 11:59] xpoback commented on #2703
@magento-engcom-team Now that an internal ticket has been created, could you please provide us with an estimation how many years this would approximately take until it's fixed?

[2021-08-05 12:21] engcom-November commented on #33679
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:

As per the current behavior of Magento, after a customer places an Order and is in Pending Status (Before payment is received), user can edit an order or place it on hold or **cancel it entirely (User cannot cancel the Order partially for Pending State Orders**). In that case we can only issue refund for partial o

[2021-08-05 12:31] BrentRobert commented on #33600
Hi @sydekumf this is indeed an issue on EE, and has already been fixed in develop, but not has not been released yet.

I created a patch for you, that you can apply to your project.

[code]

[2021-08-05 12:32] BrentRobert commented on #33600
For histories sake:

It's only reproducible when all the nodes in the tree are CMS pages itself.

[2021-08-05 12:44] sivaschenko opened #33695 "Fix unit tests warnings"
There are a set of warnings during execution of the Unit tests.
Currently the warnings are not failing the build.

The goal is to execute the listed tests on local and ensure they are passing:

[code]

[2021-08-05 12:56] ericclaeren commented on #33678
Yes, can confirm this issue. I had to remove config values

[code]

To get setup:upgrade to run.

[2021-08-05 13:03] arjunadobe commented on #33678
`DELETE FROM core_config_data WHERE path="payment/paypal_express_bml/active";`

This is enough

[2021-08-05 13:13] ericclaeren commented on #33678
Yes @arjunadobe, thanks, you're absolutely right!

[2021-08-05 13:20] ericclaeren commented on #33693
@jadebaileywowcher

Thanks for raising an issue, but you have given absolutely no information about the issue you are experiencing.

![image](https://user-images.githubusercontent.com/4748495/128356542-52fb76ab-e6b0-487e-817c-ccafda7645f6.png)

[2021-08-05 13:53] kanevbg commented on #23989
No it is not similar to #23460, this one is for the admin panel, the other one is for the frontend.

[2021-08-05 13:53] jadebaileywowcher commented on #33693
From: Jade Bailey
Sent: 05 August 2021 12:10
To: magento/magento2 ***@***.***>; magento/magento2 ***@***.***>
Cc: Mention ***@***.***>
Subject: RE: [magento/magento2] Magento Order issue (#33693)

I am not sure what you mean sorry?

You go onto magento, sign in, go to the left of the screen where it says sales, click there, then click orders and then that's where the problem is. Sent screenshots t

[2021-08-05 13:56] jadebaileywowcher commented on #33693
Good Afternoon,

Im very sorry but I am not part of the technical team and can only tell you what I can see!

I have resent the 3 screenshots I took of Magento when I try to access the orders within the sales tab on the left and it sticks every time.

Please advise what you need from me and potentially where to find it and I will be very happy to try and get the information :)

Thanks in advance

[2021-08-05 14:01] michalrostek commented on #33681
@fascinosum, hi! yes, I know I can use it, but here it was about using composer 2 only

[2021-08-05 14:25] baatractive opened #33696 "Functional api test unable to load install-config-mysql database credentials"
### Preconditions (*)

1. Magento CLI 2.3.5
2. WSL (Windows Sub-System For Linux)

### Steps to reproduce (*)

1. Follow the steps as per the documentation: https://devdocs.magento.com/guides/v2.4/get-started/web-api-functional-testing.html#howto and then try running the command: `../../../vendor/bin/phpunit --config phpunit_rest.xml`

### Expected result (*)

1. It should load the expected `insta

[2021-08-05 14:27] baatractive commented on #33696
@magento give me 2.4-develop instance

[2021-08-05 14:47] fredden commented on #25694
@engcom-Echo please can you provide a reference to the pull request or commit(s) where this has been fixed? We're encountering it on Magento 2.3.6.

[2021-08-05 15:27] theshreyas commented on #33281
has anyone got any hotfix for this ?

[2021-08-05 16:24] moranotcsos commented on #33663
Hello,

I just wanted to confirm you received my response. It seems there is a misunderstanding about what the issue is. I've reiterated it below:

### Steps to reproduce (*)

1. In the admin panel, change Show Company to Optional, press Save Config, and then clear cache.
2. Create a customer.
3. Login as the customer and add separate billing and shipping addresses with a company on both.
3. In th

[2021-08-05 17:18] Meberem commented on #33479
I don't know which Orson theme you are using, I tried to look on the Magento Marketplace but it's not there. Looking at [MageSolutions version](https://www.magesolution.com/magento2/free-themes/orson-ultimate-magento-2-theme.html) it doesn't have an admin theme as well.

Does the theme you are using have a frontend and admin theme with the same name?

[2021-08-05 18:03] andrewbess commented on #33589
I understand you @engcom-November @Morgy93
But I think we shouldn't process all request with wrong GET params.
Of course, end user shouldn't see report message of the 500 error.
I think it would be better to redirect user to page 404 in this case, but don't process wrong request.
Anyway we should consult behaviour with product owners if we want to process it.

cc @hostep @eduard13

[2021-08-05 18:56] hostep commented on #33589
I think the validation of those parameters should be broadened a bit, currently it only [validates if `from` or `to` aren't empty](https://github.com/magento/magento2/blob/2.4.2-p1/app/code/Magento/CatalogSearch/Model/Advanced.php#L368) (whatever that means, I really hate the `empty` function in php btw).
So we should probably expand the validation to check that those values match what is expected

[2021-08-05 21:16] laccas commented on #32118
I can confirm that it's still an issue on 2.4.2. My client doesn't want to use CSP from the get-go. So it's always disabled. Strangly redis died every 24 hours and had no idea what was the problem (I ran it in docker). But before this, the file cache did the same - just with the storage space.

[2021-08-05 21:19] laccas commented on #32118
The store has below 5000 products, so it's not that huge store. But it eats up 11GB of memory in a day! I have another 2.4.2 store, where strangely, the problem is not present. I update them both on composer, so it should be the same.

[2021-08-05 21:24] pmonosolo commented on #33685
^^^That issue is still present on 2.4.2-p1

[2021-08-05 22:53] #33296 closed, assigned to karyna-t

[2021-08-06 02:13] mrtuvn commented on #32118
Have you see this patch
For 2.4.2 https://github.com/magento/quality-patches/blob/master/patches/os/MDVA-36833_2.4.2.patch
For 2.4.2-v2 https://github.com/magento/quality-patches/blob/master/patches/os/MDVA-36833_2.4.2_v2.patch

[2021-08-06 02:29] mrtuvn commented on #32118
This fix not available in 2.4.2 official. Only have via patch or available in 2.4-develop git branch. I'm not sure this code will be deliver to 2.4.3 released in 10 Aug

[2021-08-06 03:12] mrtuvn commented on #30128
@bmitchell-ldg have you recheck this problem at latest code ?

[2021-08-06 05:42] ecling commented on #7298
The request_path exceeds 255 and is truncated. If your mysql version is greater than 5.6，You can set the length to be greater than 255

[2021-08-06 06:35] sanjay-github commented on #33238
@engcom-Hotel :
The event is in the adminhtml area.

[2021-08-06 07:06] victortodoran commented on #29938
@magento give me 2.4.2 instance

[2021-08-06 07:34] baatractive commented on #33696
The API functional test uses `app/etc/env.php` but rather `dev/tests/functional-api/config/install-mysql-config.php`. I just changed the default credentials and the tests started working.

[2021-08-06 07:35] onlinebizsoft commented on #33685
@matiashidalgo  @Vinai @hostep @mrtuvn @DavorOptiweb

[2021-08-06 07:47] emiliatereanu opened #33697 "Unable to place order after applying discount code in review & payment checkout step and if this affects shipping method selected previously"
### Preconditions (*)

1. Magento 2.4.2

### Steps to reproduce (*)

1. Enable free shipping delivery method with condition minimum order amount value 200 ( for example)
2. Create a cart price rule with voucher code that gives a fixed amount
3. Add product(s) to cart so that cart amount is greater or equal than 200
4. Proceed to checkout, fill address, then select the free shipping delivery method

[2021-08-06 08:21] emiliatereanu commented on #33697
@magento give me 2.4-develop instance

[2021-08-06 08:44] engcom-November commented on #33575
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible with below steps performed:
Setup Multiple Websites and Store views with different domains
My Admin URL: http://magento2.4.local/admin2
Germany Store URL: http://magento2.4.ger.local/
France Store URL: http://magento2.4.france.local/
Default Store URL: http://magento2.4.local/
Admin - Stores - Configuration - Custom

[2021-08-06 08:49] m2-assistant[bot] opened #33698 "[Issue] Update AddDataForIndia.php"
This issue is automatically created based on existing pull request: magento/magento2#33172: Update AddDataForIndia.php

---------
### Description (*)

Admin Section
1. On Add/Update Address page from Customer Information >> Address section
2. Edit the Billing and Shipping Address from the Order view page
4. Also in all the above sections, Ladakh is not coming under country India

**Before:** :heav

[2021-08-06 08:51] magento-engcom-team commented on #33698
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43011` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-06 08:52] unailopezvdshop commented on #7856
still reproduced in magento 2.3.7 and 2.4.2-p1, any update about that?

[2021-08-06 09:39] emiliatereanu commented on #33697
I confirm this is reproducing on 2.4-develop
![issue_reproducing_develop](https://user-images.githubusercontent.com/9749035/128491106-67d9bcb7-2738-4c9f-9f6c-a0928809f08c.png)

[2021-08-06 10:01] engcom-Delta commented on #33500
There has no update from the reporter and it is ~ 14 days. Hence closing the issue.
Kindly raise new ticket if required or re-open the existing issue.

Thanks

[2021-08-06 10:01] #33500 closed, assigned to engcom-Delta

[2021-08-06 11:06] engcom-November commented on #33666
Verified the issue on Magento 2.4-develop branch and the issue is not reproducible:
**Steps performed:**
1. Created a new Order from front-end (Add a product to cart, checkout and submit payment using check/Money Order) - New Order is created with entity_id=24, Increment_id=000000029
Order status is "Pending"
2. API - Generate Admin access token using /rest/default/V1/integration/admin/token
3. Se

[2021-08-06 11:24] #32845 closed, assigned to mrtuvn

[2021-08-06 12:02] magento-engcom-team commented on #33599
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43013` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-06 12:22] #33641 closed, assigned to kvydiuk

[2021-08-06 13:07] arjunadobe commented on #33680
As a workaround (for now, Disable all the inventory modules)

`        'Magento_Inventory' => 0,
        'Magento_InventoryAdminUi' => 0,
        'Magento_InventoryAdvancedCheckout' => 0,
        'Magento_InventoryApi' => 0,
        'Magento_InventoryBundleImportExport' => 0,
        'Magento_InventoryBundleProduct' => 0,
        'Magento_InventoryBundleProductAdminUi' => 0,
        'Magento_Inven

[2021-08-06 13:11] mrtuvn commented on #33680
nice to know that you have name "adobe"

[2021-08-06 13:12] KovenVillar opened #33702 ""GMT (America/Nuuk)" timezone is not working correctly"
### Preconditions (*)

1. Order is created
2. "GMT (America/Nuuk)" timezone is selected
3. Reindex and cache are run

### Steps to reproduce (*)

1. Go to Backend -> Sales -> Orders
2. Check the "Purchase Date" and "Order Date" (on the view page of the created order) columns

### Expected result (*)

1. Columns have the same time
![9](https://user-images.githubusercontent.com/88530799/128513519-3d

[2021-08-06 13:19] KovenVillar commented on #33702
@magento give me 2.4-develop instance

[2021-08-06 14:15] #33299 closed, assigned to anzin

[2021-08-06 15:08] homefieldandstream commented on #33684
Hi,
Within Magento i have an extension for Gift Registry.
In this gift registry i can make engagement and wedding lists.
When making the wedding list, I created it within my website.
I have created a wedding list but it will not appear on my website under
the wedding list section.
I was wondering if there is a fix to this?

Regards,
Ryan
*Home, Field & Stream *
www.hfs-online.com

Home, Field & St

[2021-08-06 15:22] waynetheisinger commented on #31428
Big issue for pipeline...

[2021-08-06 16:09] jefduarte commented on #31146
Good afternoon,
We are currently experiencing this issue as well with our report provided by Qualys that the Magento JQuery UI is outdated and has vulnerabilities.  Looking at comments, want to know the status of this internal ticket: MC-42607 or if this is going to be solved in a near future release.
Thanks

[2021-08-06 16:38] vseager opened #33705 "Date attribute import timezone bug"
### Preconditions (*)

1. Magentop 2.4.2-p1

### Steps to reproduce (*)

1. Set locale to English (United Kingdom) and timezone to GMT (London)
2. Create a custom DATE attribute
3. Import date attribute for product via CSV

### Expected result (*)

1. Date attribute updates with value in CSV

### Actual result (*)

1. Product has completely random date.

Example CSV:

[code]

![screenshot-2021 08

[2021-08-06 17:46] andrewbess opened #33707 "Update `phpunit/phpunit` composer dependency to version ^9.3 (STAGE 1)"
This issue is a STAGE 1 of the magento/magento2#33596.
We need to upgrade `phpunit/phpunit` to the version ^9.3 with fixes of the codebase of the Magento tests.

### Related issue (*)
1. magento/magento2#33596 - parent issue
2. magento/magento2#33708 - STAGE 2
3. magento/magento2#33709 - STAGE 3

[2021-08-06 17:51] andrewbess opened #33708 "Update `phpunit/phpunit` composer dependency to version ~9.4.0 (STAGE 2)"
This issue is a STAGE 2 of the magento/magento2#33596.
We need to upgrade `phpunit/phpunit` to the version ~9.4.0 (that equals to the version 9.4.4) with fixes of the codebase of the Magento tests.

### Related issue (*)
1. magento/magento2#33596 - parent issue
2. magento/magento2#33707 - STAGE 1
3. magento/magento2#33709 - STAGE 3

[2021-08-06 17:52] andrewbess opened #33709 "Update `phpunit/phpunit` composer dependency to version ~9.5.0 (STAGE 3)"
This issue is a STAGE 3 of the magento/magento2#33596.
We need to upgrade `phpunit/phpunit` to version ~9.5.0 with fixes of the codebase of the Magento tests.

### Related issue (*)
1. magento/magento2#33596 - parent issue
2. magento/magento2#33707 - STAGE 1
3. magento/magento2#33708 - STAGE 2

[2021-08-06 18:01] gwharton commented on #33696
https://github.com/magento/magento2/issues/27213

[2021-08-06 20:25] baatractive commented on #33696
@gwharton Yes that seems a similar issue and why is it closed? Was it resolved?

[2021-08-07 00:50] leonhelmus commented on #33680
It seems we now found a workaround we replaced the magento msi composer plugin and after we could update our composer.lock. So for now we can work around it 😁. So its not a huge blocker anymore! We also require polyfill80 and that also helped out! Thanks for the tip @sivaschenko !

[2021-08-07 08:02] gwharton commented on #33696
Lack of interest from Magento team.

[2021-08-07 09:11] gwharton commented on #33696
I'll take a look at this later today as I almost had a fix working when I last looked at this.

[2021-08-07 10:43] mrtuvn commented on #33685
Seem much complex with use-case multiple domain? Sorry but i dont have much experiences at this case ! You should add some details. What version that you are experiencing this problem. Any customises modules used

[2021-08-07 12:49] baatractive commented on #33696
@gwharton That would great help, thanks.

[2021-08-07 16:58] onlinebizsoft commented on #33685
@mrtuvn yes, multiple domain, multiple websites

Im on 2.4.2 with many customization however I believe there is nothing causing this. Our Magento installation is around 20GB (without media and without databases

[2021-08-07 20:45] leeroybrun opened #33711 "Embedded translation strategy + extension JS files = translation defined in theme not used"
### Preconditions (*)

1. Magento 2.4.2
2. An extension with a Javascript file with strings to translate. Example of file `vendor/amasty/module-multiple-wishlist/view/frontend/web/js/multiple-wishlist.js`:
<img width="405" alt="Capture d’écran 2021-08-07 à 22 37 44" src="https://user-images.githubusercontent.com/1729528/128613355-d3b1573f-6528-4e22-896b-750001a6a41e.png">

3. A theme with custom

[2021-08-08 00:34] mrtuvn commented on #33696
as i remembered you need create seperate db for test `magento_integration_tests`

[2021-08-08 00:53] mrtuvn commented on #33696
elasticsearch seem required too
https://github.com/magento/magento2/pull/30995 < = check this

[2021-08-08 08:10] gwharton commented on #33696
OK, ive had a look at the API Functional test code and how it works and it exposes a fundamental issue with the way the API Functional tests work.

Lets consider the integration tests first. When they are run, they use the install-mysql-config.php and the test framework installs a bastardised runtime of magento into dev/tests/integration/tmp/sandbox---------- and creates a separate database as def

[2021-08-08 10:54] onlinebizsoft commented on #33160
A bad bug :)

[2021-08-08 11:12] baatractive commented on #33696
@gwharton I see, I investigated this issue too but thought I might be wrong because they already provide `install-mysql-config.php` which should clearly work the same as for integration tests but I was right as their configuration was not correct. It truncated my `env` database and then I re-uploaded the dump.

[2021-08-08 11:15] baatractive commented on #33696
@mrtuvn There's already a database for the integration which is working properly but the current issue is with the **Functional Api** tests.

[2021-08-08 13:22] rmsundar1 commented on #33559
@magento give me 2.4-develop instance

[2021-08-08 16:59] gwharton commented on #33696
A little bit more research that confirms the fundamental broken'ness of the API Functional tests.

If the following settings are set in phpunit.xml

[code]
Then running the API-Functional tests will run them against the Magento HTTP(s) endpoint as defined in the setting `<const name="TESTS_BASE_URL" value="http://localhost:8080/"/>`. It will not attempt to uninstall or reinstall the database.

if

[2021-08-08 17:07] gwharton commented on #33696
Hi, @ihor-sviziev I wondered if you were aware of the issues with the API-Functional test framework as detailed in my post above. Can you copy anyone in, in the test team that may need to be aware of this. Its been in this broken/working only by chance state for a while now, and I am sure because of the bug, regularly wipes peoples development databases when they first try to run the intergration

[2021-08-08 18:01] baatractive commented on #33696
@gwharton I see, thanks for the explanation. However, I did updated `etc/env.php` to use a sandbox version but I don't really like this approach either. I would rather find an alternate solution to override the default database keys with the `sandbox` one. I hope to get it done somehow without going back & forth. Thanks :)

[2021-08-08 18:03] gwharton commented on #33696
you could have two env.php files and use a symbolic link to switch between them. It could be triggered automatically by a test runner script. Lets see if Magento core comes back with any comments. I agree its not ideal.

[2021-08-08 20:25] ticaje commented on #33134
Hello @engcom-Hotel, the answer is no, it is not solved at all, the solution that I did perform is exactly what you propose and what the post that I specify in preconditions explains, but it does not work when multiple currencies, please see what you recomend  in action in this link [Example](http://dev.booktocuba.com/en/royalton-hicacos-double-room-junior-suite-adults-only.html). If you add the p

[2021-08-09 03:30] rmsundar1 opened #33718 "\Magento\Framework\App\Config\Value::isValueChanged always returning false for app:config:import command"
https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/App/Config/Value.php#L87
Always returns false for app:config:import command.

### Preconditions (*)

1. Magento 2 with multiple websites
2. With sample data or should have some products

### Steps to reproduce (*)

1. Set the price scope to "Website" in your Magento root/app/etc/config.php
[code]
2. Run app:config:

[2021-08-09 04:29] mariayosephine87 opened #33719 "Swatch Text Label in Attributes Options Not Created via REST API"
### Preconditions
1. Magento 2.4.2 (fresh installation)
2. PHP 7.4.21

### Steps to reproduce
1. Create new swatch text attribute from admin panel
2. Add attribute option via POST /rest/default/V1/products/attributes/{attributeCode}/options with this payload:
[code]
3. See attributes options in admin panel

### Expected result
1. The swatch text label will have the same value as the option label

[2021-08-09 05:04] UppalaBasava opened #33720 "i am not getting ouath Token (Response : 400 Bad request"
### Summary (*)
I am not getting oauth Token , i am getting bad Request , can you please suggest me how to Resolve this issue.

### Examples (*)
url: https://www.dme-medical.com/rest/v1/Integration/admin/Token

-- DELETED ---

Response:
400 Bad Request

### Proposed solution
please suggest me how to resolve this issue.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.4/contribu

[2021-08-09 06:35] engcom-November commented on #33702
Verified the issue on Magento 2.4-develop branch and the issue is reproducible:

**Steps:**
1. Admin - Stores - Configuration - General - Locale Options - Select "GMT (America/Nuuk)" and save
2. Reindex and clear cache
3. Admin -> Sales -> Orders
4. Check the "Purchase Date" and "Order Date" (on the view page of the created order) columns
**Issue: Purchase Date and Order Date columns don't have sa

[2021-08-09 06:38] magento-engcom-team commented on #33702
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43021` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-09 07:30] eikoncode opened #33721 "Single store setup does not show values that were saved at website level"
### Preconditions (*)
Magento 2.4.2

### Steps to reproduce (*)
Saved some values and  configuration field is only at website level. Then switch to single store setup page then return back to configuration you can see the field for website level but values are not showing up for configuration.

### Actual result (*)

![image](https://user-images.githubusercontent.com/75497880/128672504-2d58f2f1-84

[2021-08-09 07:32] engcom-November commented on #33673
Verified the issue on Magento 2.4-develop branch having B2B and EE Modules and the issue is reproducible:
**Steps to reproduce:**
1. Go to Admin > Configuration > Sales > Tax
Display settings > Display Product Prices In Catalog > set to: Including and Excluding Tax
Calculation settings > Catalog Prices > Set to: Including Tax
2. Setup tax rules so that prices have a tax amount showing (Stores - Ta

[2021-08-09 07:34] magento-engcom-team commented on #33673
:white_check_mark: Confirmed by @engcom-November
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43022` were created

**Issue Available**: @engcom-November, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-09 07:41] sridharpatil55 opened #33722 "magento maigration"
1 exception(s):
Exception #0 (BadMethodCallException): Missing required argument $options of Magento\Eav\Model\Entity\Attribute\Source\Config.

Exception #0 (BadMethodCallException): Missing required argument $options of Magento\Eav\Model\Entity\Attribute\Source\Config.
<pre>#1 Magento\Framework\ObjectManager\Factory\AbstractFactory->resolveArgumentsInRuntime() called at [vendor/magento/framework/

[2021-08-09 08:18] #33719 closed, assigned to engcom-Hotel

[2021-08-09 08:26] engcom-Hotel commented on #33437
Hello @mattijv,

As per the mentioned steps in the description, the issue has been reproducible. So we are confirming this ticket.

Thanks

[2021-08-09 08:27] magento-engcom-team commented on #33437
@engcom-Hotel Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2021-08-09 08:27] magento-engcom-team commented on #33437
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43024` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-09 08:33] engcom-Hotel commented on #33422
Hello @thomasheller,

Let me try to reproduce the issue once again. I will update you on this.

Thanks

[2021-08-09 08:41] engcom-Hotel commented on #32444
Dear @hostep,

We have noticed that this issue has not been updated for a period of more than 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-08-09 08:41] #32444 closed, assigned to nobody

[2021-08-09 08:41] Nuranto commented on #33575
@magento give me 2.4-develop instance

[2021-08-09 08:45] engcom-Hotel commented on #32691
Dear @jurvi,

We have noticed that this issue has not been updated for a period of 14 Days. Hence we assume that this issue is fixed now, so we are closing it. Please raise a fresh ticket or reopen this ticket if you need more assistance on this.

Regards

[2021-08-09 08:45] #32691 closed, assigned to engcom-Hotel

[2021-08-09 09:37] horwengliang95 opened #33724 "error 401: oauth_problem"
### Summary (*)

I am using OAuth1.0 as the choice of authentication for integrating Warehouse Management System with the Magento. But I am experiencing issue whereby i keep on getting 401: oauth_problem=An+error+occurred+validating+the+nonce. This error message is not inside documentation hence i have limitation to debug the specific parameters to generate nonce.
This is the link that i refer to

[2021-08-09 09:41] horwengliang95 commented on #33724
@magento give me 2.4-develop instance

[2021-08-09 09:57] engcom-Delta commented on #32976
Hi ,
Issue has been reverified as per Gabriel's request. Issue is not reproducible when upgrading to Magento 2.4.2 from Magento 2.4.1 .Please find the attached screen shots for reference.
![ProductCreatedin2 4 1](https://user-images.githubusercontent.com/51681379/128689236-5dce919b-3601-4c25-b1b0-d1dee6833906.JPG)

After upgrating:
![upgraded to 2 4 2](https://user-images.githubusercontent.com/516

[2021-08-09 10:29] VladyslavSikailo opened #33725 "'Billing & Shipping address the same' checkbox is empty"
### Preconditions (*)

1. Clean installation of "magento/product-community-edition": "2.4.2"

### Steps to reproduce (*)

1. Add some product to cart
2. Go to checkout
3. Fill shipping address by Chrome autocomplete
4. Click 'Next' to go to next step **BEFORE** shipping methods block is reloaded (recalculated)

See reproducing here https://youtu.be/-lW947TCD7k

### Expected result (*)

1. 'My bill

[2021-08-09 11:08] alitopaloglu commented on #31270
I can reproduce this issue on v2.4.2

Discount part of the graphQL response contains only discount about items, not handling shipping discount and there is no data about shipping discount in response.

[2021-08-09 11:49] Nuranto commented on #33575
I did not find a way to reproduce on a fresh install yet. My best guess atm is that there is something to do with filling URL settings via environment variables instead of database. But I already spent too much time on this one.

But I found the cause of the issue.

If I debug `Magento\Backend\App\Area\FrontNameResolver::isHostBackend()` like this, from a backend call

[code]

I get Second store U

[2021-08-09 13:05] #33013 closed, assigned to nobody

[2021-08-09 13:10] MyroslavDobra commented on #33725
@magento give me 2.4-develop instance

[2021-08-09 13:15] akgola commented on #28986
@Vanitha-bujjinga , I am also geting same issue in Magento 2.4.0 version. When applying your code in core files it is working fine.Could you lease let me know where patch is available for that issue.
Because we will require to with custom module and  require to override the class for that condition , we can't update implement class in custom module.

Could you please let me know what will be solut

[2021-08-09 13:32] engcom-Delta commented on #33400
Hi @riconeitzel,

Any update on this ticket please ?

Thanks

[2021-08-09 13:39] engcom-Delta commented on #33479
HI @Meberem,
Verified on Admin Theme ,Kindly find the attached orson which  i tried.
[orson_v1.0.0_1_2.zip](https://github.com/magento/magento2/files/6954871/orson_v1.0.0_1_2.zip)

Thanks

[2021-08-09 13:42] magento-engcom-team commented on #33689
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43025` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-09 13:58] magento-engcom-team commented on #33725
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43026` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2021-08-09 14:11] barryvdh commented on #30596
This also broke our Image browser. It caused the browser to logout the admin session everytime. Replacing it with the global like in previous versions fixed it.

[2021-08-09 14:29] engcom-Delta commented on #33457
Hi @ioweb-gr ,
I tried with 3 stores on Magento 2.4.2  ,unfortunately I could not find this issue reproducible.
found that order numbers are generated like
Store1--> 1000000001,1000000002,1000000003..etc
Store 2--> 2000000001,2000000002,2000000003..etc
Store 3 --> 3000000001,3000000002,3000000003..etc.

Hence, added the lable 'Needs update'.

Thanks

[2021-08-09 14:42] ioweb-gr commented on #33457
Hi you didn't read the description correctly. You need to either have migrated data from M1 which used one less digit than M2 or you need to fill all the order sequence numbers for store 1. Finally you need 10 stores

The collission comes when the first shop fills all available digits with orders and adds an extra digit. For example after for store with Id 1 and sequence
1000000001

When you place

[2021-08-09 16:33] horwengliang95 commented on #33724
@magento give me 2.4-develop instance

[2021-08-09 17:34] moranotcsos opened #33729 "New Checkout Shipping Address Has Company After Changing Show Company to No"
I am unable to reopen issue #33663 so I am resubmitting the request here in hopes of clearing up the misunderstanding.

### Steps to reproduce (*)

1. In the admin panel, Customer Configuration - change Show Company to Optional, press Save Config, and then clear cache.
2. Create a customer.
3. Login as the customer and add separate billing and shipping addresses with a company on both.
4. In the a

[2021-08-09 19:04] Reno-Axel commented on #26031
Thank you this was my problem and it was the same issue in root category:
https://github.com/magento/magento2/issues/30725

[2021-08-09 19:06] github-jira-sync-bot opened #33730 "Update Third Party library: jquery.metadata"
* Update/remove Third Party library: lib/web/jquery/jquery.metadata
* Investigate whether this library is used in Magento (adminhtml/frontend). If not, remove this plugin
* If used, upgrade to the latest available version

### Conclusion

We'll keep using the jQuery.metadata in the latest version of `jQuery.validate`. I suggest getting back to this issue later on, when we'll start migrating the `m

[2021-08-09 19:10] github-jira-sync-bot opened #33731 "Update Third Party library: jquery.details"
* Update/remove Third Party library: lib/web/jquery/jquery.details
* Investigate whether this library is used in Magento (adminhtml/frontend). If not, remove this plugin
* If used, upgrade to the latest available version

[2021-08-09 19:15] github-jira-sync-bot opened #33732 "Update Third Party library: jquery.hoverIntent"
* Update/remove Third Party library: lib/web/jquery/jquery.hoverIntent
* Investigate whether this library is used in Magento (adminhtml/frontend). If not, remove this plugin
* If used, upgrade to the latest available version

[2021-08-09 19:18] github-jira-sync-bot opened #33733 "Update Third Party library: fileUploader"
* Update Third Party library: lib/web/jquery/fileUploader
* Investigate whether this library is used in Magento (adminhtml/frontend). If not, remove this plugin
* If used, upgrade to the latest available version

[2021-08-10 04:16] eikoncode commented on #30314
Can you merge this PR in Magento 2.4.1 version also?

[2021-08-10 06:09] engcom-November commented on #33472
@andreif23, we are closing this issue as there has been no latest update on the same.
Thank you.

[2021-08-10 06:09] #33472 closed, assigned to nobody

[2021-08-10 07:14] andrewbess commented on #33306
PR is merged in MFTF

[2021-08-10 07:14] #33306 closed, assigned to bohdan-harniuk

[2021-08-10 07:17] eduard13 commented on #33731
The library has been already removed in scope of #33485.

Closing the issue as not actual anymore.

[2021-08-10 07:17] #33731 closed, assigned to eduard13

[2021-08-10 08:03] Meberem commented on #33479
I'm not quite sure how the Orson theme provided is supposed to replicate the issue. Please find attached a very paired down example of what I had setup when I experienced this issue: [DemoThemes.zip](https://github.com/magento/magento2/files/6960000/DemoThemes.zip)

[2021-08-10 08:12] webgility-amazonapi opened #33734 "Magento for sync product API not working every time"
### Preconditions (*)

1. Outdated Magento version? CE 2.2.2 - 2.2.
2.

### Steps to reproduce (*)

1. Call the api URLfor sync product : https://doorcloser.com/rest/V1/products/base-prices
Post Data : {"prices": [{"price": 72.29,"store_id": 1,"sku": "170A36"}]}
2. Now download product individual with URL
https://doorcloser.com/rest/V1/products?searchCriteria[filter_groups][0][filters][0][field]=s

[2021-08-10 08:38] engcom-Delta commented on #33594
There has no update for 14 days from 14 days. Hence closing the issue.
Kindly raise new issue if required or re-open the existing issue.

[2021-08-10 08:38] #33594 closed, assigned to engcom-Delta

[2021-08-10 09:06] karyna-tsymbal-atwix commented on #32842
Investigation Outcome

**If this library is used on Admin UI or Storefront Luma or both**
Admin UI only.

**What exact functionality is using this particular library**
The only place where this library is used - Admin Dashboard Page, a section with Charts.
Entry point: _app/code/Magento/Backend/view/adminhtml/web/js/dashboard/chart.js_

**Is it possible to migrate without introducing BIC into Luma

[2021-08-10 09:36] magento-engcom-team commented on #32114
:white_check_mark: Confirmed by @engcom-Hotel
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-43046` were created

**Issue Available**: @engcom-Hotel, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._