[2018-06-05 11:29] #8834 closed, assigned to nobody

[2018-06-05 11:29] magento-engcom-team commented on #8788
@cykirsch, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-06-05 11:29] #8788 closed, assigned to nobody

[2018-06-05 11:30] magento-engcom-team commented on #8715
@grasdaggel, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](ht

[2018-06-05 11:30] #8715 closed, assigned to nobody

[2018-06-05 11:30] magento-engcom-team commented on #8741
@andrew-aladev, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link]

[2018-06-05 11:30] #8741 closed, assigned to nobody

[2018-06-05 11:31] magento-engcom-team commented on #8645
@importwholesales, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [li

[2018-06-05 11:31] #8645 closed, assigned to nobody

[2018-06-05 11:32] amitbdigitalaptech commented on #14968
@DanielRuf thanks

[2018-06-05 11:32] magento-engcom-team commented on #8540
@michaeldyl520, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link]

[2018-06-05 11:32] #8540 closed, assigned to roychandrasekhar

[2018-06-05 11:33] magento-engcom-team commented on #8398
@tzsolti, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-06-05 11:33] #8398 closed, assigned to nobody

[2018-06-05 11:33] magento-engcom-team commented on #8391
@surfer190, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-06-05 11:33] #8391 closed, assigned to nobody

[2018-06-05 11:33] magento-engcom-team commented on #8314
@azeemism, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-06-05 11:33] #8314 closed, assigned to nobody

[2018-06-05 11:34] magento-engcom-team commented on #8283
@maultby, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-06-05 11:34] #8283 closed, assigned to nobody

[2018-06-05 11:34] magento-engcom-team commented on #8200
@ziliquas, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-06-05 11:34] #8200 closed, assigned to nobody

[2018-06-05 11:34] magento-engcom-team commented on #8259
@atrane21, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-06-05 11:34] #8259 closed, assigned to nobody

[2018-06-05 11:35] magento-engcom-team commented on #7934
@andidhouse, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](ht

[2018-06-05 11:35] #7934 closed, assigned to nobody

[2018-06-05 11:36] magento-engcom-team commented on #2552
@nyov, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https://

[2018-06-05 11:36] #2552 closed, assigned to nobody

[2018-06-05 11:37] magento-engcom-team commented on #2856
@akai-z, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-06-05 11:40] digikeijs opened #15846 "Update qty in admin order changes price to the wrong price from default store"
**Summary of the issue**

When I use the option Update qty in the magento admin within an order the system changes the price to the default store price which is different then the store I am creating the order for.

### Preconditions
magento 2.2.4, Linux, non sample data

### Steps to reproduce

1. Setup multistore
2. Default store price X, second store price Z.
3. Then through the admin create a

[2018-06-05 11:42] magento-engcom-team commented on #4942
@densen45, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](http

[2018-06-05 11:42] #4942 closed, assigned to nobody

[2018-06-05 11:42] magento-engcom-team commented on #4968
@ktruehl, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-06-05 11:42] #4968 closed, assigned to nobody

[2018-06-05 11:43] magento-engcom-team commented on #5723
@RUjmiak, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-06-05 11:43] #5723 closed, assigned to nobody

[2018-06-05 11:43] magento-engcom-team commented on #5980
@andidhouse, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](ht

[2018-06-05 11:43] magento-engcom-team commented on #6450
@janepoltoratskaya, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [l

[2018-06-05 11:43] #6450 closed, assigned to nobody

[2018-06-05 11:44] digikeijs commented on #15846
@
![2](https://user-images.githubusercontent.com/34745091/40974003-810d0d32-68c6-11e8-8902-854330b1d230.JPG)
![1](https://user-images.githubusercontent.com/34745091/40974005-81383ffc-68c6-11e8-87cf-27a1069b5a1a.JPG)
![3](https://user-images.githubusercontent.com/34745091/40974006-8161f52c-68c6-11e8-9e73-bee46f36b0af.JPG)

[2018-06-05 11:44] magento-engcom-team commented on #6525
@Dublerq, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-06-05 11:44] #6525 closed, assigned to nobody

[2018-06-05 11:44] magento-engcom-team commented on #6526
@tomvlk, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-06-05 11:44] #6526 closed, assigned to nobody

[2018-06-05 11:45] magento-engcom-team commented on #6681
@gajjardhara, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](h

[2018-06-05 11:45] #6681 closed, assigned to p-bystritsky

[2018-06-05 11:46] magento-engcom-team commented on #6861
@mverstraete, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](h

[2018-06-05 11:46] #6861 closed, assigned to nobody

[2018-06-05 11:46] magento-engcom-team commented on #6937
@tanghia, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https

[2018-06-05 11:46] #6937 closed, assigned to nobody

[2018-06-05 11:47] magento-engcom-team commented on #7127
@redelschaap, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](h

[2018-06-05 11:47] #7127 closed, assigned to nobody

[2018-06-05 11:47] magento-engcom-team commented on #7136
@sharmashashank342, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [l

[2018-06-05 11:47] #7136 closed, assigned to nobody

[2018-06-05 11:48] magento-engcom-team commented on #7368
@ghost, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:/

[2018-06-05 11:48] #7368 closed, assigned to nobody

[2018-06-05 11:48] magento-engcom-team commented on #7677
@slackerzz, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](htt

[2018-06-05 11:48] #7677 closed, assigned to nobody

[2018-06-05 11:48] devamitbera commented on #7687
Still this issue also persist at magento 2.2.4 .

**Have done with Vinai describe scenario  and same issue happening**

@Vinai ,Is this resolve at your end?

@magento/community-engineering-team ,Can you please check this issue again

[2018-06-05 11:48] magento-engcom-team commented on #7735
@PascalBrouwers, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link

[2018-06-05 11:48] #7735 closed, assigned to nobody

[2018-06-05 11:49] magento-engcom-team commented on #7757
@pitangaweb, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](ht

[2018-06-05 11:49] #7757 closed, assigned to nobody

[2018-06-05 11:49] magento-engcom-team commented on #7895
@steros, thank you for your report.

Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

You may learn more about this initiative following this [link](https:

[2018-06-05 11:49] #7895 closed, assigned to nobody

[2018-06-05 12:04] DanielRuf opened #15848 "no navigation-level0-item__hover__color"
We have `@navigation-level0-item__active__color` but no `@navigation-level0-item__hover__color`

Keep in mind that we also have hover on some devices and screens (resized browser window).

[2018-06-05 12:30] pixiemediaweb opened #15849 "2.2.4 Product text swatch displays admin swatch value instead of store value"
### Preconditions
Magento 2.2.4
Usual Magento stack; php7, nginx, mariadb

### Steps to reproduce
Both sites have text swatch attributes for configurable product options which always used to show the correct store specific labels.

After upgrade to Magento 2.2.4 text swatches are not showing the correct store value. Instead they display the admin default version in all store views.

Confirmed on 2

[2018-06-05 12:55] korostii commented on #9317
Hello @magento-engcom-team

Could you please clarify what's the recommended value for the `max_input_vars` php.ini variable?

There doesn't seem to be any information about that neither in [php.ini.sample](https://github.com/magento/magento2/blob/2.2-develop/php.ini.sample) nor in the corresponding [documentation page](https://devdocs.magento.com/guides/v2.2/install-gde/prereq/php-settings.html).

[2018-06-05 12:56] pixiemediaweb commented on #15849
Resolved by replacing /vendor/magento/module-swatches/ with the version from 2.2.3.  Not ideal, but we don't have time to scrutinise every line of code right now.  Definitely a problem in the 2.2.4 release of that module fellas.

Here is a copy of the 2.2.3 release for anyone else that has this issue https://github.com/pixiemediaweb/module-swatches/tree/master

[2018-06-05 13:37] Shotman opened #15851 "[Question] join on product and custom eav attribute"
Hello,
I've created a multiselect custom eav attribute for a product everything is working fine but I'd like to get the data of each associated eav attribute inside the product object all in 1 request.

Right now it's what i'm doing but if I have 500 products I have to do 500 requests to get the eav attributes data
[code]
Is there anyway to make this more efficient without going in pure SQL or in

[2018-06-05 13:42] #15425 closed, assigned to nobody

[2018-06-05 13:52] kyrotomia commented on #12354
We are having the same issue with one of your magento 2 instance.

Oddly enough, we have a store that was created in 2.1.X and was migrated to 2.2.4 recently that never faced this issue. We started a brand new 2.2.4 (same hosting setup, exactly the same code base) and are now facing this issue on the new store, where we are unable to reach the admin once the custom url are set.

We are trying to c

[2018-06-05 14:11] Daisy288 opened #15852 "2.2.3 Please explain why the Display Shipping Prices depends on Catalog Prices?"
### Preconditions
   Magento version: 2.2.3
   - Create tax class and tax rate & tax rule for shipping
   - Create a tax rule for shipping origin (with tax rate = 8.25%)
   - Enable some shipping methods, for example: Flat Rate (type = Per item) has price = 5$

### Steps to reproduce
1. Set the Catalog Prices field = Excluding Tax
2. Set the [Shipping Prices] field = Including Tax
3. Set the [Disp

[2018-06-05 14:12] magento-engcom-team commented on #15192
Hi @jignesh-baldha. Thank you for your report.
The issue has been fixed in magento/magento2#15756 by @vijay-wagento in 2.1-develop branch
Related commit(s):
 - [8f4f052c449d0a80dfae665c991b358d0c183af0](https://github.com/magento/magento2/commit/8f4f052c449d0a80dfae665c991b358d0c183af0)
 - [13dc0174bced63fc506af8e36a41651c70e202de](https://github.com/magento/magento2/commit/13dc0174bced63fc506af8e

[2018-06-05 14:12] magento-engcom-team commented on #15319
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#15816 by @viral-wagento in 2.1-develop branch
Related commit(s):
 - [1a94fd8262530171e947d58e5750900120826fe6](https://github.com/magento/magento2/commit/1a94fd8262530171e947d58e5750900120826fe6)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-05 14:12] magento-engcom-team commented on #15590
Hi @kmddevdani. Thank you for your report.
The issue has been fixed in magento/magento2#15814 by @viral-wagento in 2.1-develop branch
Related commit(s):
 - [ea51428e6aa13b5216621f1a66ac7c498b4966f6](https://github.com/magento/magento2/commit/ea51428e6aa13b5216621f1a66ac7c498b4966f6)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-05 14:16] indefinitedevil commented on #15410
See also this StackExchange question: https://magento.stackexchange.com/a/186393/35344

[2018-06-05 14:17] ktruehl commented on #4968
Really? The requested change takes like 10 seconds and can't break anything. This rather looks like you're drowning in issues and have to prioritize heavily. Why not consolidate what you have instead of breaking everything with every new release and pissing everyone off in the process?

[2018-06-05 15:08] nikidexa commented on #15844
Solved, by myself so can close this issue!

[2018-06-05 16:27] mrpenelope commented on #15597
I'm also currently having this issue, except for the first step. My error starts with a bad POST request, the rest is the same.
![screen shot 2018-06-05 at 11 26 06 am](https://user-images.githubusercontent.com/18219280/40989437-62bc38e8-68b3-11e8-92b7-19835c478ef8.png)
![screen shot 2018-06-05 at 11 26 21 am](https://user-images.githubusercontent.com/18219280/40989438-62cfc688-68b3-11e8-9622-92e0

[2018-06-05 16:50] phoenix128 commented on #15828
Are you using Varnish or the Built-in Full page cache?

[2018-06-05 17:04] durexlovesex commented on #10489
@walterbak

etc/events.xml
[code]

etc/di.xml
[code]

Observer/FixCustomerAddressCustomAttributes.php
[code]

[2018-06-05 18:08] dan-ding commented on #7266
I wouldn't count on magento fixing this anytime soon.
From what I hear they *think* it's fixed in 2.4 (not 2.2.4, actual 2.4.x)

You could block/redirect all urls with  _nosecret in them like with nginx:
[code]
though doing so will possibly break something else with accounts (user or admin).

[2018-06-05 18:16] keharper commented on #11930
@JanisE does the documentation need to be updated as a result of this fix?

https://devdocs.magento.com/guides/v2.1/install-gde/prereq/file-system-perms.html#perms-private

[2018-06-05 18:17] hostep opened #15864 "Running setup:install with --cleanup-database flag is no longer possible when your app/etc/env.php exists"
This was accidentally discovered while trying to replicate another bug.

So, I was trying to install the current version of the `2.2-develop` branch with the `bin/magento setup:install` command, and it fails.
After bisecting, I found the commit which introduced the problem and that is: 914389161fee5091bfe6ea3069755295c7243ecf
Since that commit dates from March 2018, I feel like someone should at l

[2018-06-05 18:39] hostep commented on #15864
Dug in a little bit more, it's this one line change in the `installSchema` method which causes the problem:
https://github.com/magento/magento2/commit/914389161fee5091bfe6ea3069755295c7243ecf#diff-d3d5031b8198ff87cfbc51bed3736806L772

But I'll leave it over to the magento devs to further investigate, it's probably pretty complex.

[2018-06-05 18:46] hostep commented on #15819
Hi @vutrankien: do you have multiple storeviews? If yes: can you check the storeview values of that particular attribute and see if that value is incorrectly set to the admin value?

[2018-06-05 19:07] QueenLinux opened #15868 "2.2.4 CE / PHP7.1 / NGINX Undefined index: product_id in StockManagement.php line 103"
Summary: Cannot create orders through admin panel, or frontend with guest or logged-in users.

Steps to reproduce:
1. Clean Install of Magento CE 2.2.4, import inventory with stock control.
2. Attempt to place order through either admin panel or frontend.
3. See error resulting from Undefined index: product_id

Expected: Be able to make a new order.

Actual: Error shows and order is never made.

[2018-06-05 19:12] JanisE commented on #11930
@keharper , no, not as a result of this fix.

Although I'm probably not going to check if it actually fixed the problem for me, at least not any time soon.

[2018-06-05 20:01] DanielRuf opened #15869 "add search cancel button again?"
Currently the search cancel button is removed and this was also done in normalize.css but was later changed.

See https://github.com/necolas/normalize.css/issues/685

Should we also add it for better UX?

[2018-06-05 21:12] silvanaguilar opened #15873 "2.2.4 EE Unable to change themes of stores"
On Magento 2.2.4 EE I'm not able to apply different themes on different stores.

**Preconditions**
1. Win 10, Mac Sierra or Ubuntu 18.04 (tested on all of them)
2. Magento 2.2.4
3. Docker 18.03.1, PHP 7.1.13

**Steps to reproduce**
1. Go to the administrator
2. Create one more store under Stores/All Stores in order to have the "Default Store View" and "Second Store View".
3. Go to Content/Design/C

[2018-06-05 21:27] DanielRuf commented on #15873
Did you clear all caches and deploy the static content?

[2018-06-05 22:17] silvanaguilar commented on #15873
Yes, I absolutely did both

[2018-06-05 23:56] LiamKarlMitchell commented on #12354
Hey, not sure if related but I'll drop my 2 cents.
Migrated domain from live to test server needed to update base url's but the bin/magento command was not doing it for some reason....
Updated in DB.
Find the previous store config site base urls in the core config data table.
Update the ones where appropriate eg web/secure and web/unsecure base_link_url or base_url etc. to the appropriate new path

[2018-06-06 01:29] vutrankien commented on #15819
hi @hostep : Thanks for your suggest but  i'm using one storeview only, not multiple storeviews

[2018-06-06 01:35] LiamKarlMitchell commented on #11185
Getting this on a test site, copied magento files and DB to it and this happens when trying to add the product to cart.

```Unable to save address. Please check input data.``` in red text.

[2018-06-06 01:51] LiamKarlMitchell commented on #10821
jwohlfeil's solution worked for me.

[2018-06-06 04:54] jurpro commented on #15393
Thank you so much team. It works.

Hope, next update this fix will be include.

thank you.

[2018-06-06 05:12] pankajpragma commented on #14222
@Sathishkumar8731 Did you get the solution? I am facing the same issue with PayPal express checkout.

[2018-06-06 05:17] andrewizotov commented on #10338
Hello Guys , yes this is expected I mean when order has canceled status , but what about the email with success order status ? I think customer must not receive an email  if order was canceled . but I got an email . how can I fix it ?
Thanks

[2018-06-06 06:19] hitesh-wagento commented on #4536
@BenSpace48 Do we need to fix this issue magento core file ?

[2018-06-06 06:46] julienanquetil commented on #14948
Hi,
the issue has been fixed in magento/magento2#12636 by @osrecio in 2.2.4
Related commit(s):
https://github.com/magento/magento2/commit/22f454dd020719686c558a36d67df6dc13506c3f

[2018-06-06 06:53] hostep commented on #15819
Ah yes, it will probably happen as well with a single storeview. Can you check the value of the attribute on the storeview level? I have the feeling it will have the original admin value, and the checkbox "use default values" will be unchecked.

[2018-06-06 07:05] cmx43 opened #15881 "One or more indexers are invalid. Make sure your Magento cron job is running."
Good day.

I installed magento 2.2.4 through cpanel - softaculous.

it appears a new message that says "One or more indexers are invalid. Make sure your Magento cron job is running." I've saw several video tutorials and even read some forums or articles, but the solutions presented are for manually installed magento. I dont even have files in my pc of magento. The thing is I dont know anything of

[2018-06-06 07:08] nikidexa opened #15882 "The costumer can not be saved"
When I try to create a new costumer account from frontend, when I fill all the data a message error show: "The customer can not be saved.", and no email are sent... but when I chek in backend I can see the new costumer...
Anyone can help me??

### Preconditions
Magento 2.2.2
Luma Theme

### Steps to reproduce
Create new customer account with success without any error message and check if all the e

[2018-06-06 07:15] phoenix128 commented on #15483
Hello @BezV8 ,
still unable to reproduce it, even with `Min Time Between Password Reset Requests` = `0`.

Since it is not a global parameter, please make sure this setting is correctly configured in your store specific view.

[2018-06-06 07:16] ronak2ram opened #15883 "Ui component grid in date range filter does not populate correctly after reloading the page"
On Magento CE 2.2.4. Ui component grid in date range filter does not populate correctly after reloading the page. There is an issue with date format.

**Preconditions**
1. Ubuntu 18.04
2. Magento CE 2.2.4
3. PHP 7.1.13

**Steps to reproduce**
1. Go to the administrator
2. Go to the SALES > Orders page
3. Click on Filters and filter Purchase Date
From - 06/01/2018
To - 06/05/2018
Than apply filter.

[2018-06-06 07:16] mattf10 commented on #15541
In summary, there are no longer any working currency providers in M2.  Fixer.io has a new version that requires a free API key.  So the admin interface needs to be changed to accept the API key, and the url updated for fixer.io to work again.  The other two (Yahoo, Webservicex) no longer work at all and should be dropped.

This issue should be marked with high priority since it means having to upd

[2018-06-06 07:17] phoenix128 commented on #15509
This seems to be a theme issue. Please check if it is working with the default Magento Luma theme.

[2018-06-06 07:56] LewisSellers commented on #5542
We had exactly the same issue on one of our stores. We traced the issue to a server rewrite which forced a trailing slash to URLs.

This rule was redirecting traffic to the http version of the end point and once removed, the checkout worked successfully.

[2018-06-06 08:03] BenSpace48 commented on #4536
@hitesh-wagento Yes, but I think the main cause is Tiny MCE seems way out of date.

Based on `/lib/web/tiny_mce/tiny_mce.js`the version is `3.4.7` which dates back to 2011 when standards were very different. The latest version is `4.7.13`.

Hopefully updating this will also update the standards to HTML5.

I'm very disappointed we are here 2 years later without a single comment about it from Magent

[2018-06-06 08:20] hostep commented on #4536
Just FYI: Magento 2.3 will finally have an update to Tinymce 4.x, currently it's at 4.6.4, see: https://github.com/magento/magento2/blob/2.3-develop/lib/web/tiny_mce_4/tinymce.min.js

[2018-06-06 08:39] BenSpace48 commented on #4536
That's positive news, thanks @hostep

[2018-06-06 08:42] hitesh-wagento commented on #4536
@BenSpace48, @hostep

I have tested  **Magento ver. 2.2.6-dev** I am still facing above issue

If I will : Replace this:
[code]
With this:
[code]

**It's solve issue but you need to use below structure :**
[code]

If you will use :
[code]
It's show :
[code]

[2018-06-06 08:54] simonfunk opened #15886 "Backend language change doesn't work on Magento 2.2.3"
### Preconditions
1. Magento 2.2.3
2. PHP 7.1

### Steps to reproduce
1. Login to Backend area
2. Go to Account Settings (Over menu on top right)
3. Change language to any other than english

### Expected result
1. Backend should display in set language

### Actual result
1. Backend still showing in english

### Additional
We already executed follwing command with no success:
[code]

[2018-06-06 09:06] Flowlance commented on #15828
@phoenix128 The built in FPC. We do this because of the multiple servers / load balancing setup. FPC with Redis can share cache between servers. Having one Varnish per server would cause different caches to show when reloading the page. We can probably set up a separate Varnish server that all the servers communicate with, but it's a bit of a hassle and i doubt it would do anything with the x-mage

[2018-06-06 09:16] danharper83 commented on #15638
I disabled Klarna and then cleared the static content but still have the problem. Where do I find the JS minification setting?

[2018-06-06 09:17] Munszu commented on #15541
After looking into it a bit more Fixer.io wouldn't work at all as the free plan only lets you use € as the base currency.

[2018-06-06 09:45] seo99ita commented on #15638
I solved the problem by [following these](https://github.com/magento/magento2/issues/11577#issuecomment-341890277) and then [following these too](https://www.yireo.com/blog/1880-disabling-annoying-3rd-party-magento-modules), which I fully endorse.
Now everything works correctly.

[2018-06-06 09:47] mattf10 commented on #15541
It's EUR by default, but you can provide any base currency you want:

GET /latest?base=USD

See here: https://github.com/fixerAPI/fixer#readme

[2018-06-06 09:53] Munszu commented on #15541
I believe that's only available on the paid plan.

"...Minor limitations include our new 1000 requests/month limit and EUR being the only available base currency for customers using a free account."

[2018-06-06 10:08] mattf10 commented on #15541
You're right, I missed that.  I just did a quick search and there are other free api services, but most appear to have the same limitation (can't change base currency).

Here are a few that don't appear to have this limitation:
https://www.amdoren.com/currency-api/
https://currex.info/

Can we look at using one of these?

[2018-06-06 11:05] mohammedsalem commented on #13961
is there any updates here?
facing the same problem

[2018-06-06 11:22] DanielRuf opened #15894 "Luma: .select-styling() overwrites styles"
`.select-styling()` in Luma overwrites things which can be set using the appropriate variables.

Solution: the appropriate variables like `select__border` should be set.

[2018-06-06 11:46] drbservices commented on #14046
Hi, can somebody please include the commit for the fix in 2.3.0?
Thank you very much

[2018-06-06 11:53] mattf10 commented on #15541
Ignore the above.  Having a fixed base currency isn't a deal-breaker, it just means an extra step to to convert the API base into the store base.

For example, fixer.io forces base currency to be EUR.  In my store, the base currency is GBP, but we also display prices in USD and AUD.

1)  Convert API base to store base (EUR/GBP).  Using today's rates, this is 0.876.
2)  Get other rates from API usi

[2018-06-06 11:53] harrigo commented on #8868
This bug has shown up for me a few times in different situations and is starting to become quite annoying.

First noticed in sitemaps when generated via cron and now for an email module I am writing where images paths are incorrect. Has anyone a simple workaround for this yet? Not sure how to use workaround mentioned by @scottsb to set environment variables.

[2018-06-06 12:06] hungpvdevsm opened #15897 "Unable to save customer attribute. Missing attribute set id when save customer."
Happen in Magento 2.2.x, tested in 2.2.0 & 2.2.4.
2.1.x still works but still  have issue. After few hours debug to magento core i found the problem.

**Step to procedure**
1. Create custom attribute with setup script.
[code]
Backend file response for encrypt & decrypt  value.

2. Update custom attribute value
This attribute was use for saving customer 's payment token, there are a lot of code for

[2018-06-06 12:10] #15897 closed, assigned to nobody

[2018-06-06 12:12] hungpvdev opened #15898 "Unable to save customer attribute. Missing attribute set id when save customer."
### Preconditions
Happen in Magento 2.2.x, tested in 2.2.0 & 2.2.4.
2.1.x still works but still  have issue. After hours debug to magento core i found the problem.

### Steps to reproduce
1. Create custom attribute with setup script.
[code]
Backend file response for encrypt & decrypt  value.

2. Update custom attribute value
This attribute was use for saving customer 's payment token, there are a

[2018-06-06 12:19] slopukhov commented on #15864
Hi, @hostep
Looks like problem in the '--cleanup-database' with existing /app/etc/env.php file.
Please try to delete this file before reinstall.

[2018-06-06 12:49] davemacaulay commented on #4536
As @hostep has said, with 2.3 we'll be releasing an upgrade to TinyMCE to boost us to v4. This means we could then enable `allow_html_in_named_anchor` (https://www.tinymce.com/docs/configure/content-filtering/#allow_html_in_named_anchor) to resolve the issue with anchor specifically.

I've updated the internal ticket with this information to hopefully aid with resolving this issue.

[2018-06-06 12:52] graeme8 opened #15899 "Products mass action - Update Attributes - Does not work"
It is not possible to perform products mass action to update product attributes (v2.2.4).

### Preconditions
1. Magento 2.2.4

### Steps to reproduce
1. Go to Catalog > Products.
2. Select more than one product for mass actions.
3. Select "Update attributes" from Actions dropdown menu.

### Expected result
1. Attributes are available for updating by Admin User.

### Actual result
1. Attributes are

[2018-06-06 13:20] pioneerathletics commented on #15636
I have solved my own issue. After going back and trying again (this time upgrading to 2.2.3 not 2.2.4-not that it matters) I found a few Github issues that had similar problems when upgrading. Here are the steps I took in order to solve my upgrade problem:
<ol>
<li>The main problem was two old extensions that were disabled and not in use, but still present in the system. I had to completely remove

[2018-06-06 13:20] #15636 closed, assigned to nobody

[2018-06-06 13:30] BenSpace48 commented on #4536
Thanks for your help @davemacaulay <3

[2018-06-06 13:42] Kesquom opened #15900 "Missing "Add Root Category" and "Add Subcategory" Buttons"
### Preconditions
Magento 2.2.3
PHP 7.1.13

### Steps to reproduce
Go to Catalog -> Categories
### Expected result
Ability to add categories.

### Actual result
The Buttons for creating categories and subcategories went both missing at some point. I disabled every single extension besides the Magento defaults. Switching store views doesn't help, setting permissions doesn't help. The store is in an

[2018-06-06 13:45] denistrator commented on #15608
Hi @sidolov. Can you also have a look at #14999? It's a very small issue I opened (it has a PR #15000)

[2018-06-06 13:48] hitesh-wagento commented on #14999
I am working on this

[2018-06-06 14:10] DanielRuf commented on #15894
Probably fixed by https://github.com/magento/magento2/issues/15608 then?

[2018-06-06 14:14] codealliance commented on #3759
I' m using CE 2.2.3 and still not able to find a way to add customer group pricing on configurable products. can someone please confirm that the issue is not solved on 2.2.3 and tell me whether fixed in 2.2.4 ?

[2018-06-06 14:22] deepkamal opened #15901 "Readiness check fails on installing new module from local directory"
### Preconditions

* create `<magento_root>/package/infield` directory
* add repo in root `composer.json`
[code]
* add `"infielddigital/magent2-sample":"^1.0"` in `require`  section of `composer.json`
* Copy attached [Sample.zip](https://github.com/magento/magento2/files/2076561/Sample.zip) in `<magento_root>/package/infield`
* Run `composer upgrade`

### System Info

Please see phpinfo() output i

[2018-06-06 15:29] deepkamal commented on #15901
CLI Output of `php -i` : [phpinfo-cli.txt](https://github.com/magento/magento2/files/2076950/phpinfo-cli.txt)

[2018-06-06 15:30] RanjitBShinde opened #15904 "Customer segments not working in cart price rule when placing order from admin"
When we are using customer segment in cart price rule and placing order from admin the cart rule is not applying to that order. The same cart rule is working fine from frontend for same customer.

Magento version : EE 2.1.9

Steps to replicate issue
1. Create customer segment
2. create cart price rule with customer segment
3. Place order from magento admin and check discount applied

Code Assumpti

[2018-06-06 15:30] robertkent commented on #14952
@sashas777 fixed it for me too - weird how such an important part can break so easily! No Sender means you get bounce-backs from any Gmail account at the very least

[2018-06-06 17:29] trucatchtraps commented on #14856
I am experiencing this as well on Magento 2.2.3

[2018-06-06 17:32] hostep commented on #15864
@slopukhov: Ah yes indeed, you are correct, removing the `env.php` file solves the problem.

Hmm, I'm not sure if we should ignore this and not consider it as a new bug, since it worked without removing the `env.php` file before 9143891

What do you think?

If this isn't considered a bug, we should probably add something about this to the documentation, so other people running against this can qui

[2018-06-06 17:51] hostep commented on #15873
@silvanaguilar: this is a know bug in 2.2.4, it was reported before, if you use multiple websites, the configuration fallback no longer works properly. See these other tickets: https://github.com/magento/magento2/issues/15205, https://github.com/magento/magento2/issues/15245

The [release notes for 2.2.4](https://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.4EE.html) were updated

[2018-06-06 18:00] hostep commented on #15886
Hi @simonfunk

Did you install a language pack? As far as I'm aware, Magento only comes bundled with an English language pack, so if you want other languages, you first need to install a language pack for the language you want to use.

[2018-06-06 18:10] vnaz commented on #11380
The same problem on Magento v 2.2.3
Is it fixed on 2.2.4 ?

[2018-06-06 18:17] hostep commented on #15638
@danharper83: this works for me (started from a clean 2.2.4 project running in production mode):
[code]

I wouldn't recommend following the first link by @seo99ita though, that's not the right way to go.
I agree with the second link though, good article by Jisse!

[2018-06-06 18:30] lracicot commented on #13604
I have the same issue. We have to import CSV data daily and we have over 100k products from many different suppliers, some have the same name and it causes OP's issue.

[2018-06-06 18:48] hostep commented on #8868
@harrigo: can you try this workaround: https://github.com/magento/magento2/issues/5321#issuecomment-310153777, it used to work at the time of writing, but it's been a while since I last tested this, so not sure anymore.

[2018-06-06 19:28] itaymesh commented on #15654
I am getting the same issue on 2.2.3
![screenshot-s4q5pses2udh mystore today-2018-06-06-22-27-59](https://user-images.githubusercontent.com/493197/41060662-f0f2bda0-69d8-11e8-910e-1d8c357b23a1.png)

[2018-06-06 19:43] kisroman commented on #15900
@Kesquom, sound very strange :)
By the way fresh install of Magento 2  has this buttons in any way.

[2018-06-06 20:56] oviliz commented on #15541
This guy created a fixer.io alternative, https://github.com/fixerAPI/fixer/issues/107#issue-313114059
In practice, should be as easy as replacing with https://exchangeratesapi.io/api/latest in https://github.com/magento/magento2/blob/10f84fdd222f085fcb007631976b113775b02143/app/code/Magento/Directory/Model/Currency/Import/FixerIo.php#L16
Result: https://exchangeratesapi.io/api/latest?base=USD&symb

[2018-06-06 21:10] Sam2k commented on #4756
After a long time, here is my final answer.

I tried all the solutions with the composer.json file but none worked, still had infinite spinning Wheel.
Finally I updated Magento to 2.1.13 and now the setup wizard work fine !
My server use Apache 2.4.10 / PHP 7.0.30
Thanks for your help.

Regards

[2018-06-06 21:14] anvaruk commented on #14951
same problem , since upgrade to 2.2.4,
google analytics tracks everything except transactions

[2018-06-06 21:57] LiamKarlMitchell commented on #11116
It's not good best practice wise but you can bypass the validation by modifying this.
protected function _initDom($xml) line 382 of vendor/magento/framework/Config/Dom.php

[code]

[2018-06-06 22:29] VladimirZaets commented on #15510
Hi @anthony-jullien. Thank you for your report.
The issue has been fixed in magento/magento2#15539 by @phoenix128 in 2.2-develop branch
Related commit(s):
 - [59e03c1a3d91f8f6c5c81ead729f1ae2e102224d](https://github.com/magento/magento2/commit/59e03c1a3d91f8f6c5c81ead729f1ae2e102224d)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-06 22:29] #15510 closed, assigned to phoenix128

[2018-06-06 22:29] VladimirZaets commented on #15608
Hi @denistrator. Thank you for your report.
The issue has been fixed in magento/magento2#15734 by @hitesh-wagento in 2.2-develop branch
Related commit(s):
 - [67778cdfc12fd10bdaf299b20ae858c28dc43d0d](https://github.com/magento/magento2/commit/67778cdfc12fd10bdaf299b20ae858c28dc43d0d)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-06 22:29] #15608 closed, assigned to hitesh-wagento

[2018-06-06 22:30] VladimirZaets commented on #15510
Hi @anthony-jullien. Thank you for your report.
The issue has been fixed in magento/magento2#15767 by @sanjay-wagento in 2.1-develop branch
Related commit(s):
 - [8e43c07da042bff3a60a03205711b67500b25fdc](https://github.com/magento/magento2/commit/8e43c07da042bff3a60a03205711b67500b25fdc)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-06 22:30] VladimirZaets commented on #15608
Hi @denistrator. Thank you for your report.
The issue has been fixed in magento/magento2#15796 by @hitesh-wagento in 2.1-develop branch
Related commit(s):
 - [d3184acb44f6622481fa18581f62b31fb5115b68](https://github.com/magento/magento2/commit/d3184acb44f6622481fa18581f62b31fb5115b68)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-06 22:44] mrpenelope commented on #15868
Commenting for more detail:

Request after making cart and shipping:
{
	"paymentMethod": {
    	    	"method": "checkmo"
	 },
	"billing_address": {
    	    	"email": "jdoe@example.com",
  	      	"region": "New York",
          	"region_id": 43,
          	"region_code": "NY",
    	    	"country_id": "US",
    	    	"street": ["123 Oak Ave"],
    	    	"postcode": "10577",
    	    	"city": "Purc

[2018-06-06 23:29] chrwhite-incomm commented on #12987
Can confirm that we are experiencing this issue intermittently as well. We do not experience it every time. It appears to be a race condition of some sort.

[2018-06-07 01:44] vutrankien commented on #15819
First, product save working good, but after change product attribute by api, product save not working normally, see my example below :
![image](https://user-images.githubusercontent.com/14917460/41073679-a7c041b0-6a2e-11e8-80c0-d622bf67b953.png)
Name not change :
![image](https://user-images.githubusercontent.com/14917460/41073727-d453ba4a-6a2e-11e8-91a3-d7fc1ce09691.png)

[2018-06-07 03:03] Oscar-Wagento opened #15910 "Avoid scrolling down while block-minicart has an hover effect"
**Preconditions**
Happening in Magento 2.1.4
After testing and testing i've checked what was actually the issue so when the Icon cart must show you the list of items added to the cart with hover instead of click it presents this problem

**Steps to Reproduce:**
1. Make sure that the icon cart has an hover effect to the minicart in order to show the list items:
[code]
2. Add to the cart a product (

[2018-06-07 03:19] LiamKarlMitchell commented on #5326
In my case, I needed to ensure the whole directory structure had execute on directories.

Plesk uses same user for apache as it does terminal/sftp/ssh.

[code]

[2018-06-07 05:07] hitesh-wagento commented on #15910
@Oscar-Wagento I didn't reproduce above issue in Magento ver. 2.2.6-dev

[2018-06-07 05:31] magento-engcom-team commented on #15904
@rambashinde thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source

[2018-06-07 05:31] #15904 closed, assigned to nobody

[2018-06-07 06:50] nadroj467 commented on #15654
Apparently is a bug.

A developer fixed by editing below

httpdocs/vendor/magento/module-configurable-product/Model/ResourceModel/Product/Indexer/Price/Configurable.php

[2018-06-07 06:52] hostep commented on #15819
Ok, can you click on the dropdown 'All Store Views' and switch to the lowest level, and take a look if the Product name wasn't overwritten on that level. If it wasn't, then try to reindex (`bin/magento indexer:reindex`) and flush the caches, maybe that helps.

[2018-06-07 07:04] tizzyguy87 commented on #15664
Hi Magento team,

can you please ETA for this issue? This is blocker for us. Please suggest if there is any workaround till we get actual fix.

[2018-06-07 07:29] vutrankien commented on #15819
I think you can try install magento 2.2.4 on localhost and check by yourself

[2018-06-07 07:30] VladimirZaets commented on #11477
Hi @careys7. Thank you for your report.
The issue has been fixed in magento/magento2#15322 by @idziakjakub in 2.2-develop branch
Related commit(s):
 - [788485a3b2e099ead51e1723bf5454718fa06a97](https://github.com/magento/magento2/commit/788485a3b2e099ead51e1723bf5454718fa06a97)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-07 07:30] VladimirZaets commented on #14056
Hi @gnanasekaranl. Thank you for your report.
The issue has been fixed in magento/magento2#15320 by @Hypo386 in 2.2-develop branch
Related commit(s):
 - [6ad9c03bead4c56831f08c1af13f7cd3a53b163a](https://github.com/magento/magento2/commit/6ad9c03bead4c56831f08c1af13f7cd3a53b163a)
 - [8b7bb58d4bd90d426d8166e304801ab04e06fa18](https://github.com/magento/magento2/commit/8b7bb58d4bd90d426d8166e304801a

[2018-06-07 07:30] #14056 closed, assigned to marcin-dykas, mgarciaebo

[2018-06-07 07:30] VladimirZaets commented on #15660
Hi @ankurvr. Thank you for your report.
The issue has been fixed in magento/magento2#15661 by @ankurvr in 2.2-develop branch
Related commit(s):
 - [56bcffbaad34a6ccf66808bfb4247e015aff26a5](https://github.com/magento/magento2/commit/56bcffbaad34a6ccf66808bfb4247e015aff26a5)
 - [1c1e277c19d96ed10449484998e3c0ad0c7b4c7a](https://github.com/magento/magento2/commit/1c1e277c19d96ed10449484998e3c0ad0c7b

[2018-06-07 07:30] #15660 closed, assigned to nobody

[2018-06-07 07:30] VladimirZaets commented on #15588
Hi @dvershinin. Thank you for your report.
The issue has been fixed in magento/magento2#15689 by @StevenGuapaBV in 2.2-develop branch
Related commit(s):
 - [7b8fe3d68a946c62fd55af525b44f1ef9256ab16](https://github.com/magento/magento2/commit/7b8fe3d68a946c62fd55af525b44f1ef9256ab16)
 - [498047cb31c5e34955e49aa684a7e910c4e7d941](https://github.com/magento/magento2/commit/498047cb31c5e34955e49aa684a

[2018-06-07 07:30] #15588 closed, assigned to StevenGuapaBV

[2018-06-07 07:30] VladimirZaets commented on #15822
Hi @Radio. Thank you for your report.
The issue has been fixed in magento/magento2#15826 by @Radio in 2.2-develop branch
Related commit(s):
 - [83a8deaa0beb22617be20611540912e6f49be34a](https://github.com/magento/magento2/commit/83a8deaa0beb22617be20611540912e6f49be34a)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-07 07:30] #15822 closed, assigned to nobody

[2018-06-07 07:30] VladimirZaets commented on #14966
Hi @ktruehl. Thank you for your report.
The issue has been fixed in magento/magento2#15019 by @lewisvoncken in 2.2-develop branch
Related commit(s):
 - [0d350810fd112c53f802fb36d78cd034e404197f](https://github.com/magento/magento2/commit/0d350810fd112c53f802fb36d78cd034e404197f)
 - [c6196d7121569c1f82615ca6dcb9626d9285e972](https://github.com/magento/magento2/commit/c6196d7121569c1f82615ca6dcb9626

[2018-06-07 07:30] #14966 closed, assigned to lewisvoncken

[2018-06-07 07:32] morzzz007 commented on #13358
Hey, we have been experimenting with this awful api too, and this issue can be found easily with google, so here is what we did:

The endpoint mentioned in the "tutorial" does two things: sets the billing address and sets the payment method, but thanks to the horrible design of the API, you can do these separately.

1: You can set the billing address posting the `/index.php/rest/V1/carts/${cartId}

[2018-06-07 07:45] michaeldyl520 opened #15922 "Click for price in home page can`t work"
### Preconditions

1. Magento2.2.4
2. php7.0.20
3. Mariadb10.1.24

### Steps to reproduce

1. Background merchandise edit product such as sample data (SKU:24-WB04) Added Manufacturer's Suggested Retail Price, which is higher than the price of the product.
2. Add Catalog Product List widget to home page.

### Expected result

1. Click for price should click.

### Actual result

1.
![20180607154407]

[2018-06-07 07:46] careys7 commented on #11477
@VladimirZaets thanks, but it doesn't look like the issue is resolved

- The user cannot specify multiple filter groups
- Swagger codegen clients won't work correctly

[2018-06-07 07:51] vovsky opened #15923 "Downloadable product links removal on update via API"
### Preconditions
1. Magento 2.2.3/2.2.4
2. Create regular downloadable product, upload downloadable content

### Steps to reproduce
1. Update downloadable product via REST API with call: PUT rest/V1/products/{sku}:
[code]

### Expected result
1. Product attributes specified in request updated, other data remain unchanged

### Actual result
1. After update product has no links to download content

[2018-06-07 07:54] fmarangi commented on #15873
The problem was introduced in c18e36b804fb3c86caa39d9976ce5db7497001a7, the session configuration object is initialized too early, before the pathinfo is processed. The fix is really simple and involves using a proxy, I'm currently working on a PR for it.

[2018-06-07 08:17] rambashinde commented on #15904
@magento-engcom-team Thanks for the reply. I will report this issue in Support portal.

[2018-06-07 08:28] saket1singh commented on #11189
Hi @jimmyhien how did you solve this issue please tell me also .
I have magento 2.2.3 store and filter is working fine in local but for same code and database filter not giving result .

Please reply me
Thanks in advance!

[2018-06-07 08:30] webalexstudio commented on #14046
Is there any info about patch of this problem for 2.2.x versions ?

[2018-06-07 08:38] routbiplab commented on #15844
It's because of the theme that you using. Try changing the product view template.

[2018-06-07 08:38] #15844 closed, assigned to nobody

[2018-06-07 08:41] jimmyhien commented on #11189
@saket1singh
Did you run reindex command?

[2018-06-07 08:49] adlime opened #15928 "Json encode for extension attributes"
I have done extend other module by using extension_attributes.xml, additional table in database that has attribute value and using plugins added information to the model object.

Now I trying to output value of that attribute to json for adminhtml form, but some method in framework do not transform ‌NameSpace\Module\Api\Data\PostExtension object to array but return empty array.

That is place wher

[2018-06-07 09:01] VirtusB commented on #12070
@gwharton Have you figured out a temporary fix?

[2018-06-07 09:04] gwharton commented on #12070
Nope, and it is annoying the heck out of me at the moment. Seems that column positioning doesnt work regardless of whether single store mode is on or off now. This seems a recent change in the latest version.

[2018-06-07 09:11] proman77 commented on #15819
Magento 2.2.4
@vutrankien I've got the same issue - can't edit position of attribute in layered navigation block after changed attributes by API.

[2018-06-07 09:13] danharper83 commented on #15638
I didn't spot the other Klarna modules, once disabled and re-deployed all works fine 👍

Can be marked as resolved I guess, is this logged with Klarna somewhere so we can link the issues?

[2018-06-07 09:16] saket1singh commented on #11189
@jimmyhien Yes I run but filters result not working properly as lowest price filter and it is working fine in test site

If you have any suggestions please tell me

[2018-06-07 09:42] hostep commented on #15638
I'd leave it open until fixed.

No idea if someone reported it to Klarna (I didn't) or even how to report it, I've opened an issue for the doc team requesting for contact information for those new Core Bundled Extensions: https://github.com/magento/devdocs/issues/1961

[2018-06-07 11:30] devenkuswa commented on #13745
I would like to reopen it. Facing same issue on Magento 2.2.2 .
I commented    //unset($result['path']); and its working but please let me know why do we need to unset it.
/vendor/magento/module-customer/Model/FileProcessor.php

public function saveTemporaryFile($fileId)
    {
        /** @var \Magento\MediaStorage\Model\File\Uploader $uploader */
        $uploader = $this->uploaderFactory->create

[2018-06-07 11:32] shaikhmasud147 opened #15930 "Error facing when new product created in Magento 2.0.17"
Error facing when new product created

Product save successfully but the facing the error message below

![test _ products _ inventory _ products _ Magento admin](https://user-images.githubusercontent.com/21688214/41097083-674bbf2e-6a74-11e8-87c1-28486e76682b.png)

Can you explain what happened??

[2018-06-07 11:34] harrigo commented on #8868
@hostep Yeah thanks for the tip think i tried that and not had much luck i will however give another go see how it goes.

Any idea how I set them environment variables for crontab? I have tried by setting them in `/etc/environment` and within crontab itself as stated here https://stackoverflow.com/questions/2229825/where-can-i-set-environment-variables-that-crontab-will-use however am not actually

[2018-06-07 11:35] devenkuswa commented on #13254
@haalmaguer Not yet. Waiting for Magento's reply.

[2018-06-07 11:45] bytes-max opened #15931 "events.xml cant have no childrens, others can [Magento 2.2.4]"
### Preconditions

1. Using Magento 2.2.4
2. PHP 7.0.30

### Steps to reproduce

1. Create new module
2. Create di.xml, events.xml, crontab.xml additionally to needed module.xml
3. Fill all files correctly with its nessecary headers but dont put any children in it
Example for `di.xml`:

[code]
4. run `php bin/magento setup:upgrade && php bin/magento cache:flush && php bin/magento cache:clean`

###

[2018-06-07 11:57] vasudevsundar opened #15932 "Import Product Attribute for Multistore"
### Preconditions

1. Install Magento 2.1.X
2. Add product to export sample product

### Steps to reproduce

1. Create Csv file based on sample export product file
2. Create product attribute and options for multistore to import

### Expected result

1. Need to import product attributes options based on store given in csv file

### Actual result

1. Its showing file is imported successfully, but i

[2018-06-07 12:17] slopukhov commented on #15864
Hi, @hostep
Yes, looks like this is bug (with DB connection in the install script with '--cleanup-database' option) and removing /app/etc/env.php file just idea to quick fix.

[2018-06-07 12:35] yamenarahman opened #15934 "customer_register_success event doesn't have a `getCustomer()` method."
Magento: 2.2.4
PHP: 7.2

As customer_login event which is associated with `Magento/Customer/Model/Session.php` there is a `getCustomer()` method that returns customer details. However the Customer_register_success event which is associated with `Magento/Customer/Controller/Account/CreatePost.php` there is no `getCustomer()` or `getCustomerId`.

So how to get customer data after registration event

[2018-06-07 12:43] RaphaelBP commented on #12419
In `/dev/tests/unit/phpunit.xml.dist` exlude `DirectoryTest.php`test :

[code]

This does not solve the problem but avoids the error ...

[2018-06-07 12:44] slopukhov commented on #15864
Created internal issue MAGETWO-92580.
But, if you have a solution, it would be great if you can prepare PR with fix for it.

[2018-06-07 12:46] magento-engcom-team commented on #12221
Hi @alexhadley. Thank you for your report.
The issue has been fixed in magento/magento2#15847 by @torhoehn in 2.3-develop branch
Related commit(s):
 - [e46e5a5cf49ae5d2d1833b29403d7c2a3af3d5a8](https://github.com/magento/magento2/commit/e46e5a5cf49ae5d2d1833b29403d7c2a3af3d5a8)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-07 12:48] rogyar commented on #15656
I believe that's expected behavior. You have a possibility to choose the exact product's variant to duplicate. If you need default values - choose the global scope, otherwise choose the variant that should be duplicated.

[2018-06-07 12:51] scottsb commented on #8868
Hi @harrigo. We're following each other around. In the workaround I suggest over on StackExchange, `$approot` should be the root of your Magento install, not Magento's `pub` directory. So probably `/var/www/magento2/public_html` in your case.

[2018-06-07 13:17] BrianHeeseIs commented on #10067
Still having this issue on 2.2.4, any update on when this will be fixed?

[2018-06-07 13:18] sidolov commented on #14089
Hi @superdav42. Thank you for your report.
The issue has been fixed in magento/magento2#15927 by @dmytro-ch in 2.1-develop branch
Related commit(s):
 - [0658873f52db5e34049952eac2efdf009d3d8698](https://github.com/magento/magento2/commit/0658873f52db5e34049952eac2efdf009d3d8698)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-07 13:18] sidolov commented on #14249
Hi @cdiacon. Thank you for your report.
The issue has been fixed in magento/magento2#15926 by @dmytro-ch in 2.1-develop branch
Related commit(s):
 - [6257807c41e2d280fb9fb35cfa1e87e4a9bc0bc6](https://github.com/magento/magento2/commit/6257807c41e2d280fb9fb35cfa1e87e4a9bc0bc6)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-07 13:49] harrigo commented on #8868
@scottsb haha seems so this is bugging me so just gone everywhere! I think my problem more now how to set that. I tried within etc/environment and within the scripts themselves however am at a loss and about to give up now.

[2018-06-07 13:58] patrick-bigbridge opened #15935 "Mass delete deletes all products"
On the product page, if you select "Delete" twice, all products will be removed.

### Preconditions
1. Magento 2.1.11 & 2.3.x EE & 2.3.x CE(2.3-develop too)
2. Have some products (e.g. 10)
3. Created products with name&sku test 1,  test 1-2, test 1-2-3
### Steps to reproduce
1. Go to backend, Products / Catalog
2. Make a selection of some product (using a `Search by keyword` with 'test 1' value)

[2018-06-07 14:48] brunoroeder commented on #11427
@magento-engcom-team can you please share commit link or a fix as alternative?

[2018-06-07 14:54] jfain189 opened #15937 "Paypal payments pro doesn't work"
### Preconditions

1. Magento 2.2.3
2. Ubuntu 16.04
3. Nginx
4. PHP 7.0

### Steps to reproduce

1. Sign up for payflow account with paypal
2. Configure paypal payments pro in the backend with credentials given.
3. Add something to cart and attempt to checkout with a credit or debit card.

### Expected result

Customer is redirected to the success page and order is completed.

### Actual result

O

[2018-06-07 15:03] niners52 commented on #12413
Same Issue

[2018-06-07 15:15] orbitrod commented on #15504
Does anyone have any advice on how I can get these pages to load in the background?

[2018-06-07 15:20] orbitrod opened #15938 "Configurations Section Expanded By Default on Edit Product Page in Admin"
### Preconditions

1.  Magento Version 2.2.3

On the edit product page in the admin, the Configurations Section Expanded By Default.  Is there any special reason why this is necessary?  How can this behavior be changed, so it is no longer expanded by default?

[2018-06-07 16:03] allanpaiste commented on #15935
Was able to repeat on 2.1.1 & 2.2.4; it does require you to be either very fast (use ENTER on the confirmation window) or to have slow communication with the server (could be conditioned with different OS-level network tools)

[2018-06-07 16:09] erikhansen opened #15939 "Duplicated product is out of stock when index set to UPDATE BY SCHEDULE"
### Preconditions
1. Install Magento Open Source 2.2.4 with sample data
2. Setup CRON
3. Change all indexes to "UPDATE BY SCHEDULE"

### Steps to reproduce
1. Locate a simple product in the backend
2. Click "Save & Duplicate"
3. Set the following attribute values on the newly created product and then click "Save":
    * Enabled: True
    * Quantity: 1
    * Stock Status: In Stock
4. Load the produ

[2018-06-07 16:18] Stepa4man opened #15940 "Wrong end of month at Reports for Europe/Berlin time zone if month contains 31 day"
### Preconditions
1. Set Timezone "Central European Standard Time (Europe/Berlin)" at the STORE->CONFIGURATION->GENERAL->General->Local options-> Timezone and save configuration
2. Create orders at 31-st day of a month which has this date (May will be used for example)

### Steps to reproduce
1. Go to the Reports adminhtml menu "Products">"Ordered" grid
2. Select "From" -  01.05.2018
3. Select "To

[2018-06-07 16:41] rparsi commented on #14793
@magento-engcom-team Can one of you actually give us documentation for the `Magento\Eav\Setup\EavSetup::addAttribute` method, especially the `array $attr` parameter?
We need to know what's expected in `array $attr` and what each key means.

[2018-06-07 17:19] seanscott49 commented on #13224
Having the same issue on 2.2.4. This was a migrated website and going live in a few weeks. Commenting to follow. This is a dev site and not running Varnish.

4 exception(s):
Exception #0 (Magento\Framework\Exception\AlreadyExistsException): Unique constraint violation found
Exception #1 (Magento\Framework\DB\Adapter\DuplicateException): SQLSTATE[23000]: Integrity constraint violation: 1062 Duplica

[2018-06-07 19:31] francoocchi commented on #12578
Any news? Same issue M. Commerce ver. 2.2.2

[2018-06-07 20:42] dschmidthawk commented on #14883
how would you raise the php memory limit on shared hosting?  It doesn't always work in the normal places...

[2018-06-07 21:48] dschmidthawk commented on #14977
This was resolved for me from https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Catalog/view/frontend/templates/product/breadcrumbs.phtml.  The quotes needed to be escaped.

See issues  #15631, #15037 #15347, #15268

[2018-06-08 00:55] Ctucker9233 commented on #12683
This still exists on 2.2.4...I can't find mod_version and I'm hosted with siteground. Any advice?

[2018-06-08 01:58] gnanasekaranl commented on #14056
@VladimirZaets That's great.

[2018-06-08 02:41] sashas777 commented on #14951
Hi guys,

I made bugfix based on a solution at #15765 and it seems works for our store. It is only for the version 2.2.4 with the assumption that it would be fixed in the newest release. If it won't be then I will update composer dependencies.

Feel free to use it it would help your stores: https://github.com/sashas777/magento224-issue14951

[2018-06-08 03:29] vutrankien commented on #15819
@proman77 yes, i think after changed attributes by API, then can't edit by interface

[2018-06-08 06:48] lewis-dan commented on #15900
@Kesquom, tried to replicate the same, however, did not get any error. You can flush Cache and run  setup:upgrade, I believe it will solve the issue.

[2018-06-08 07:06] proman77 commented on #15819
@vutrankien,
what's next? Have you seen the source code for the fix?

@hostep, could you push the issue up? Thanks.

[2018-06-08 07:16] hostep commented on #15819
Hi guys

I still haven't received answers to my questions, and I still don't see exacts steps to reproduce, so I think you'll have to provide some more info so it makes it more clear what the actual issue is here.

Other then that, @proman77, your issue sounds a bit like this one: https://github.com/magento/magento2/issues/13156, but I'm not sure if it is exactly that one?

Also, I'm no employee o

[2018-06-08 07:43] matin73 opened #15950 "Magento2 CSV product import qty and is_in_stock not working correct"
### Preconditions
1.  PHP 7.0.6
2. Magento CE 2.2.4
3. MYSql 5.6.35

### Steps to reproduce
1. Create an CSV file for import products
2. Set Quantity (field qty) to f.E. 99 and is_in_stock to 0 (we want to have quantity for product but set out of stock)
3. import CSV

### Expected result
1. Product should have quantity 99 and "Out of Stock"

### Actual result
1. Product has quantity but is "In Sto

[2018-06-08 07:50] magenx commented on #15031
any news about it?

[2018-06-08 08:01] sid09N opened #15951 "Magento checkout issue"
checkout loader keeps loading not stop in magento 2.2.2. After clicking on proceed to chekout it just keep loading.
<img width="868" alt="forum" src="https://user-images.githubusercontent.com/40055620/41146192-32c944f4-6b20-11e8-8a0e-61bff4022ef4.PNG">
<img width="919" alt="forum2" src="https://user-images.githubusercontent.com/40055620/41146199-384f7aba-6b20-11e8-85ff-b64a3d1d9034.PNG">

[2018-06-08 08:33] proman77 commented on #15819
@hostep @magento-engcom-team
Steps to reproduce:
1. Import products through REST API
2. Can't save any changes of attribute
PS  #13156 has same result - can't save any changes but values  of attribute look good.

[2018-06-08 08:36] glwstor opened #15952 "Text Swatches does not use storeview content after upgrade to Version 2.2.4"
Visuall Text Swatches doesn´t use the store view content at a multi store view Magento after upgrading from Version 2.2.3 to 2.2.4
### Preconditions
Magento 2.2.2 without sample data
    Apache 2.4.27
    PHP 7.1

### Steps to reproduce
product attribute - > visual text swatch -> two attributes -> english and e.g. german translation
configurable product -> visual text swatch
german store view -> e

[2018-06-08 09:28] MaikelZwey commented on #15541
I've noticed on `exchangeratesapi.io/api` that when EUR is the base currency and you have multiple currencies it won't work.
Since the base currency also gets included in the desired currency list.

**Solution:**
But if you replace `http://api.fixer.io` with `https://frankfurter.app` it works flawlessly, also with multiple currencies.

For example: https://frankfurter.app/latest?base=EUR&symbols=C

[2018-06-08 09:49] pixiemediaweb commented on #14968
with that fix in place, you cannot save html head information at a store view level.  It says it's saved correctly, but nothing changes.

[2018-06-08 09:54] glwstor opened #15953 "product url will not be set at product detail page after saving"
We are using a multi store view shop with version 2.2.3.
All products has set a seo friendly url, but magento shows a lot of them only with catalog/product/view/id...
At the sitemap we see the ugly urls after generation like https://www.xxxxxxxxx.de/catalog/product/view/id/473

Even if we made an update of the url at the product detail page, the url will still be the same.
The only way to set a ne

[2018-06-08 10:07] shaikhmasud147 opened #15955 "Magento 2 redirect to homepage after add product to compare"
Magento 2 redirect to homepage after add product to compare

[2018-06-08 10:42] bibiseb opened #15956 "POST a new image media for a product doesn't save roles properly"
### Preconditions

1. Magento 2.2.6-dev
2. PHP 7.0.7

### Steps to reproduce

POST V1/products/{sku}/media

[code]

### Expected result

1. In the product administration the image should have these roles: Base, Small, Thumbnail

### Actual result

1. The image has no role

[2018-06-08 10:44] DanielRuf commented on #14968
@pixiemediaweb can you check if this happened before my changes?

Is there an issue for this bug?

[2018-06-08 10:54] pixiemediaweb commented on #14968
hi, sorry that was a red herring, although it wasn't changing on the page, it was updating in the database.   Flushed Magento cache and it's all working correctly again.

[2018-06-08 11:05] bobemoe commented on #11885
Still exists in 2.2.4 :( Can we give this higher priority? Client needs this functionality ASAP as GDPR legislation requires it in Europe! Cheers

[2018-06-08 11:40] muckee opened #15957 "Cron script readiness check failed. Found non-writable path(s): [magento_dir]/bin/magento [magento_dir]/setup/html"
When attempting to perform a readiness check via the system update utility in the backend, I receive the following error:

Check Cron Scripts
Cron script readiness check failed.
Error from Updater Application Cron Script:
Found non-writable path(s):
[magento_dir]/bin/magento
[magento_dir]/setup/html

I have attempted to properly set permissions again, to no avail.

I can see in `var/log/update.log

[2018-06-08 11:41] BenGlassAtlas opened #15958 "Admin classes being used on the frontend"
The recently viewed widgets template contains admin classes that render on the front-end, no admin classes should be used on the front-end as they're intended to be admin specific.

### Preconditions
1. Magento 2.2.3 EE

### Steps to reproduce
1. Create a static block
2. Include a widget to render the recently viewed products. The code generated for me is `{{widget type="Magento\Catalog\Block\Widg

[2018-06-08 12:08] mverstraete commented on #12069
This is not a "non-issue", I literally have a client right now asking me how they are supposed to reorder their bundle item options.   My only option right now is to renumber them manually in the database.  There should at least be an option to "show all" and/or change the number of items per page.

[2018-06-08 13:20] iindranil commented on #14469
Yes, That's correct.  Apply Tax On setting not working. Any solution for this issue ?

Thanks in advance,

[2018-06-08 13:27] vbuck commented on #14469
@iindranil I haven't submitted a PR for this issue, but I believe one solution is given in my closing statement of the issue description:

I happen to be working on this very issue today in my day job, so I may follow up with a diff or PR to reference when I come out of it.

[2018-06-08 13:52] pedrosousa13 commented on #6817
Happening in 2.2.4 (CE).
I second a re-opening of the issue.

[2018-06-08 14:00] kanduvisla opened #15959 "M2.2.4 : Extension attributes of quote models are not properly encoded to the frontend"
When I add extension attributes to a quote, they are not properly encoded to the frontend.

### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. Create extension attributes for a quote object
2. Populate it with something
3. Check `window.checkoutConfig.quoteData.extension_attributes` on the checkout page.

For example:

    <extension_attributes for="Magento\Quote\Api\Data\CartInterfac

[2018-06-08 14:01] rossmc commented on #7447
@ragboyjr agreed, probably best to use just the correct URL.

I believe the code causing the refresh is in **Magento_Checkout/js/model/step-navigator::next()**

`window.location = window.checkoutConfig.checkoutUrl + '#' + code;`

it's appending `/`  which changes the path name rather than just setting a location hash, which causes the page to refresh.

[2018-06-08 14:16] iindranil commented on #14469
For example, I have added one product in my cart where product original price is $20 and I have set custom price $15.
then I want to add tax on original price $20 which is not working as I reported.

If I do the changes as per your solution on `CommonTaxCollector.php` then cart item row update with $20 which is incorrect.

I want to sale item at $15 but want to add tax on $20 which is not working

[2018-06-08 15:06] springimport opened #15962 "Errors and Wartings after optimize magento tables"
### Preconditions
Optimize tables in magento 2.2.3.

### Steps to reproduce
Optimize tables.

### Expected result
Tables have been optimized.

### Actual result
Errors and warnings for some tables.
Examples:

[2018-06-08 15:08] mad-develop commented on #12881
Fieldsets seem to only render form fields when getting expanded. If its not expanded, there seem to be some values missing in the POST.

By creating a little mixin for the fieldset component, so the form fields gets created automatically, seem to fix this specific issue.

I'm still testing, but it seems to be a valid (maybe dirty) solution, until it gets fixed the way it should.

Magento Version 2

[2018-06-08 16:06] CNanninga opened #15963 "Imported Configurable Products Don't Retain Type Without Children/Configurations"
If a product is imported with the "configurable" type but without defining configurations in the import file, it is successfully created as a Configurable.  If this product is edited and saved, without adding any configurations, the product type is permanently changed to Simple.

### Preconditions

1. Magento 2.2.3
2. PHP 7.1.7
3. MySQL 5.6

### Steps to reproduce

1. Create a product import file

[2018-06-08 16:51] Ctucker9233 commented on #12683
@magento-engcom-team This is still an issue. I checked with my hosting service and they tell me that the server is configured correctly.

[2018-06-08 17:11] jhill711 opened #15964 "Kicked back to dashboard when trying to set a discount condition"
### Preconditions

1. Magento 2.1.3
2. Chrome and Internet explorer browsers
3. Not sure where to get my PHP version
### Steps to reproduce

1. Marketing > Cart Price Rules > Select rule
2. Set rule information
3. Click green plus for conditions > select any condition as it doesn't matter. Redirected to dashboard

### Expected result

1. I'm guessing the selection should work and I can pick the di

[2018-06-08 17:32] magefan commented on #13690
The same issue on Magento 2.2.2 and 2.2.3

To quickly reproduce the issue you need to
1. Be as a guest (not logged into an account)
2. Go to the checkout page
3. Enter for e.g. first name and last name
4. Refresh the page

Expected result:
You see entered first name and last name

Actual result:
All fields are blank

We have done a digging into the code, so
1. In Magento\Persistent\Observer\Refres

[2018-06-08 19:02] subbu1993 opened #15965 "Backport MAGETWO-84480 to 2.1.x"
The `Magento\Catalog\Model\Product\Image::_getNeedMemoryForFile` calls ends up taking a lot of time (around 50 seconds) to process when getting the image information

I see MAGETWO-84480 entirely removes the method in 2.2. Can this fix be backported into 2.1.x ?

### Preconditions
1. Magento version 2.1.12
2. Php 7.0
3. Mysql Ver 14.14 Distrib 5.6.37-82.2

### Steps to reproduce
1. Load product li

[2018-06-08 19:22] Tassoschrono opened #15966 "Country selection when creating a new customer is not working"
When creating a new customer the Country selection field drop down menu doesn't show anything.

![drop menu field not working](https://user-images.githubusercontent.com/40072483/41176751-3d342c72-6b27-11e8-8005-ff0f8582a8b5.JPG)

[2018-06-08 20:02] jissereitsma commented on #14734
@leon0v Could you comment on how you solved this?

[2018-06-08 22:30] speedupmate opened #15967 "Js mixins, path mappings are applied even if modules are not used but are enabled"
Js mixins and/or path mappings are applied even if modules are not used but are enabled. For example Magento 2 ships with Temando_Shipping extension , this defines  mappings on few js files.

If Temando_Shipping is not configured from admin to be used on frontend , mappings still apply and affect the original behaviour that is needed when extension is not configured to be used.

Of course Temando_

[2018-06-08 23:10] terrybakshi commented on #12683
To Enable Apache or PHP Modules Using EasyApache
Log in to WHM as the 'root' user.
In the Find box type easy.
Click EasyApache (Apache Update).
Leave default, and then click the gear icon (Customize Profile).
Leave default, and then click Next Step.
Click Exhaustive Options List.
Click the name of the Apache or PHP module, and then click Save and build.

[2018-06-08 23:27] speedupmate opened #15968 "Temando_Shipping maps and rewrites core js files even if not enabled as shipping method"
Temando_Shipping extension that is included by default in Magento2 maps following paths in requirejs-config.js

[code]

this is included in all cases, if extension is configured to be actually used or just free-rides as a default enabled module after installation . So by purely existing in the system it affects core behaviour.

### Preconditions

1.  Magento 2.2.4 with demo data
2. Temando_Shippin

[2018-06-09 00:41] gawpo50 opened #15969 "Unable to log into my magento backend"
### Preconditions

1. Magento 2.2.4 running on a GoDaddy Hosted Linux Platform with PHP 7.1
2. Site running perfectly up till last night and has done so since it was setup.
3. As of this morning, myself & customers cannot log on
4. Getting the following two different errors.
    Exception printing is disabled by default for security reasons.
    Failed to set ini option "session.save_handler" to v

[2018-06-09 03:42] vutrankien commented on #15819
@proman77 now, i don't have solution for fix this problem
@hostep it is related because this is related with product attributes, if you are function developer you will understand

[2018-06-09 04:40] siliconrockstar commented on #14950
Ran into the issue while trying to build a logger that extends that same interface :/

[2018-06-09 06:30] roman204 commented on #11885
@Valentin-Huwer hmm seems to be another problem, we got now 2 shops online with our fix for paypal with magento2 and both work very well.

[2018-06-09 08:12] gesell commented on #11885
Have you tried Magento 2.2.5? There the issue is gone for me. No other mentioned fix did work for me either.

[2018-06-09 09:19] MohammedAlzard commented on #1651
When the magento is installed it takes a long time

[2018-06-09 09:33] riccardougolini commented on #14112
#perugia

[2018-06-09 09:33] magento-engcom-team commented on #14112
@riccardougolini thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-06-09 10:40] serefatka commented on #12255
@JoergLindner where exactly should add this: `include_path = ".:/var/www/vhosts/{webstite}/httpdocs/{magento-directory}/vendor"`

[2018-06-09 10:56] JoergLindner commented on #12255
Plesk Admin
PHP Setting for  xxx(Domain)
Common Setting --> Include Path   --> set to '.'
Additional directives --> Additional configuration directives  --> add ".:/var/www/vhosts/{webstite}/httpdocs/{magento-directory}/vendor"

You might have to add

include_path = ".:/etc/pki/tls/certs" as well

[2018-06-09 12:32] hostep opened #15972 "Since Magento 2.2.1, certain variables in the configuration get resolved to their actual value"
Before Magento 2.2.1 (2.2.0 and 2.1.x), when you entered a variable in the configuration like `{{unsecure_base_url}}`. Magento still rendered that value as entered in the configuration field. But since Magento 2.2.1, the variable gets resolved to the actual value. And if you save that particular configuration again, it will overwrite the value in the database with the actual current value instead

[2018-06-09 13:19] Swahjak opened #15973 "Provide a FactoryInterface"
### Preconditions

1. Create a custom factory

### Steps to reproduce

1. Magento changes the way factories are implemented

### Expected result

1. I get errors about my factories not applying the correct interface methods

### Actual result

1. My code breaks without a warning

In my opinion there is no reason for auto generating factories at all. If factories are required they could be easily a

[2018-06-09 14:52] victortodoran commented on #7623
Magento 2.2.3
No Web Setup Wizard in System >
Why is this closed?

[2018-06-09 15:56] fratob85 commented on #12612
I checked the problem. Error messages are displayed because some invalid data is saved in the input validation phase.

See `\Magento\Quote\Observer\Frontend\Quote\Address\VatValidator::validate`
[code]

When saving, the `region` data item contains an array with `region_code` and some additional values.
This usually happens when you do not have a region database for the selected country.

P.S:
Is t

[2018-06-09 16:56] DanielRuf commented on #15967
The JS files are also always loaded.

[2018-06-09 17:29] baskuis commented on #14090
Hi @joni-jones, having luck .. some luck after upgrading to 2.2.4 and adding a payment.xml in our payment module.

Currently the issue I'm facing is that after payment method:
(*) Credit Card
     We'll ask for your payment details before you place an order.

However payment details are never prompted for - and order are placed upon clicking 'Go To Review Your Order' -> 'Place Order'

Seems like w

[2018-06-09 17:30] baskuis commented on #14090
@ArmstrongEdwardraj - have you had luck getting your payment module working with multiple shipping addresses?

[2018-06-09 17:50] AlexObreja commented on #6817
I guys, i'm facing out the same issue, in the shipping method, as guest, i get the wrong or incomplete data. The registered account works fine. If you try as guest to go to shipping from billing step and then save data to go next to shipping, data is not changed but you have older. But if you clear the cache and reload the page data submitted it's correct. Now i think the solution it's to clear th

[2018-06-09 20:49] itaymesh commented on #15654
@nadroj467, can you share with me the fix?
Thanks

[2018-06-10 04:10] fullstackdev0421 commented on #2843
Hi,tookuul-owner
I think that you didn't run command after Magento-CE-2.

you must run this command after magento install.
php bin/magento setup:static-content:deploy

[2018-06-10 05:10] webcrew-au opened #15977 "Create New Integration Key Broken (was working up until recently)"
### Preconditions
1.  Magento 2.1.6
2.  PHP Version => 7.0.30
3. "composer update" for latest patches

### Steps to reproduce
1.  Create a new Integration (System - > Integrations -> "Add New Integration")
2.  Give integration a "Name"
3.  Choose API access permissions
4.  Enter Password
5.  Choose "Save & Activate"

### Expected result
1. Integration successfully created with all four keys and to

[2018-06-10 08:14] CROSP opened #15979 "Embedded JS mode brakes Magento 2"
I have been trying to solve the following problem for about 2 days, grepping my source code. But an error is with system configuration.

### Preconditions
Magento 2.2.4
Nginx
MariaDB

### Steps to reproduce
Go to Admin -> Stores -> Configuration -> Advanced -> Developer ->

### Expected result
Should just work fine

### Actual result
A lot of errors like that

`SyntaxError: missing ) after argumen

[2018-06-10 09:04] CROSP commented on #15979
Even more, you need to do couple cache clear, deploy static content (even in development mode) to get rid of these problems.
Really annoying.

[2018-06-10 10:29] AF4Q opened #15984 "Random products show out of stock until manual reindex"
I have setup a new Magento store and have been adding products. I have recently noticed that some products are not showing up as out of stock on the front end despite being properly added in the admin panel (i.e. correct inventory, categories etc). Opening and saving these products a few times in the backend fixes this issue. Another way to fix this issue is manually running the reindex command fr

[2018-06-10 14:04] robkor commented on #15509
I'm using 2.2.4 and didn't have this problem on 2.2.3. The breadcrumbs are missing on the productpage. The category page is still showing the breadcrumb, but when selecting a product, the product page is missing the breadcrumb. I'm using Porto and checked that when using Luma the breadcrumb is still missing.

@pini-girit I've noticed your workaround, but can you explain more about how to implement

[2018-06-10 14:09] robkor commented on #15490
I'm using 2.2.4 and didn't have this problem on 2.2.3. The breadcrumbs are missing on the productpage. The category page is still showing the breadcrumb, but when selecting a product, the product page is missing the breadcrumb. I'm using Porto and checked that when using Luma the breadcrumb is still missing.

@pini-girit I've noticed your workaround, but can you explain more about how to implement

[2018-06-10 14:51] pixiemediaweb commented on #7874
Stumbled across this thread as a client site is experiencing the same issue.  After some more digging, discovered a third party elastic search module was listening for the category save and product save events and rebuilding elastic search which is what was causing the time out.   With the event disabled (commented out), saving is back to much more manageable times.   Install has 1,700 categories,

[2018-06-10 15:30] Lapinou42 commented on #13961
Nope. Stopped using Magento.

[2018-06-10 16:47] adam2211 commented on #12950
I was getting 404 for every new cms page I create.  I was able to resolve this issue by deleting the URL redirect from the database using the following:

`DELETE FROM `url_rewrite`
WHERE (`entity_type` = 'cms-page');`

[2018-06-10 21:13] sahava314 commented on #6924
Having the same issue in 2.2.4

General system exception happened
Additional data:
Notice: Undefined index: 1100GRP in /home/brush/public_html/vendor/magento/module-grouped-import-export/Model/Import/Product/Type/Grouped.php on line 102

[productexport_magento_UX_1100GRP.txt](https://github.com/magento/magento2/files/2088234/productexport_magento_UX_1100GRP.txt)

[2018-06-11 05:28] ihor-sviziev commented on #15965
@subbu1993 feel free to create backport PR in 2.1-develop branch

[2018-06-11 05:54] jignesh-baldha commented on #15434
@dankhrapiyush Same issue still exists when click "Proceed to checkout" couple of times from mini-cart.

[2018-06-11 06:02] saurabh-aureate commented on #13707
This same issue is coming in magento community edition 2.2.4

[2018-06-11 06:16] ksiamro commented on #6411
I have similar issue but custom attributes from all addresses (related to customer) are lost upon delete one address at frontend.

[2018-06-11 06:18] pini-girit commented on #15490
@robkor, You need to build a simple module & extend \Magento\Theme\Block\Html\Breadcrumbs, you don't need di.xml, just create a Block class & pase my code snippet (you'll need to adjust the names...). After that, you'll have to override app/design/frontend/Vendor/Theme/Magento_Catalog/templates/product/breadcrumbs.phtml by copying it to your theme app/design/frontend/Vendor/Theme/Magento_Catalog/t

[2018-06-11 06:20] pini-girit commented on #15509
@robkor, You need to build a simple module & extend \Magento\Theme\Block\Html\Breadcrumbs, you don't need di.xml, just create a Block class & paste the first code snippet (you'll need to adjust the names...). After that, you'll have to override app/design/frontend/Vendor/Theme/Magento_Catalog/templates/product/breadcrumbs.phtml by copying it to your theme app/design/frontend/Vendor/Theme/Magento_C

[2018-06-11 06:22] woutersamaey commented on #7874
@pixiemediaweb  which Elasticsearch module is this? Can you give a bit more detail?

[2018-06-11 07:12] torhoehn opened #15992 "Fullscreen gallery does not open on mobile devices"
### Preconditions

1. Magento 2.2.4
2. PHP 7.0.14
3. MySQL 5.7.17

### Steps to reproduce

1. Install Magento 2.2.4 with Sample Data
2. Open any product detail page with a product that has multiple images on a mobile device (the problem only occurs on some Android devices: Samsung S9, Samsung A3, Sony Xperia Z5)
3. Tap on the image to open fullscreen gallery

### Expected result

1. Fullscreen gal

[2018-06-11 07:17] Zarina2222 opened #15994 "Problem with Attribute Sets on import"
### Preconditions

1. Magento 2.2.4
2. MySQL 5.7.22-0ubuntu0.16.04.1 - (Ubuntu)
3. PHP 7.0.30-0ubuntu0.16.04.1
4. Upgraded from Magento 2.1.2

### Steps to reproduce

1.  Import product using CSV, product's attribute_set_code = 7085 (7085 is name of the attribute set, id is 50)

### Expected result

1. Import succeed
2. Everything works and import can be done again

### Actual result

1. Import su

[2018-06-11 07:28] FreekVandeursen commented on #15984
We have a problem in our shop which might be the same issue. Once in a while products seem to disappear from the cataloginventory_stock_status table.
I have set up monitoring to check whether all enabled products have a corresponding entry in that index table. This is usually the case, but sometimes I get alerts that a number of products have disappeared from that table.  And it doesn't seem to be

[2018-06-11 08:03] DanielRuf opened #15998 "extraneous margin in forms"
### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. open a form with multiple fields eg the registration form
2. check the margins between fields and field wrappers

### Expected result

1. there should not be any margins on the last fields / field

### Actual result

1. there are still margins on the first field in a fields wrapper

Solution:

[code]

[2018-06-11 08:03] erfanimani commented on #8536
Weird, I've still got the same problem. Running Magento 2.1.11.

I've even changed `Payment Applicable From - Specific Countries`, and it still lets me checkout using a different country.

[2018-06-11 08:38] kanduvisla commented on #15959
For people running into this issue, I wrote a quick fix that can be used in a plugin for `Magento\Checkout\Model\DefaultConfigProvider`:

    /**
     * @param \Magento\Checkout\Model\DefaultConfigProvider $subject
     * @param array $result
     * @return array
     */
    public function afterGetConfig(\Magento\Checkout\Model\DefaultConfigProvider $subject, array $result)
    {
        /** @var

[2018-06-11 09:02] tizzyguy87 commented on #15255
@miguelbalparda
I upgraded to 2.2.4 and I added 1 line of code which you have given. I am not able to resolve issue. Still I am getting error message after resetting password.

If I enter incorrect passwords, it is not updating failures_number and first_failure. Not sure how to fix this.

[2018-06-11 09:16] purnagattu commented on #12180
Got The Error while installing in Xampp "PHP Fatal error:  Cannot use Magento\Payment\Gateway\ConfigInterface as ConfigInterface because the name is already in use in C:\xampp\htdocs\dreamkart\vendor\magento\module-payment\Model\Method\Logger.php on line 8"

[2018-06-11 09:20] flipflap opened #15999 "Language Switch in Sub category problem"
### Preconditions

1. Magento 2.1.11
2. It apears in all standard language switch of Luma in yourtheme/Magento_Store/templates/switch

### Steps to reproduce

1. Switch language on home works, switch language on first category works too
2. Switch language on sub category fails as it ads 2 category in both language to the url

### Expected result

1. Should show the same site in the choosen languag

[2018-06-11 09:31] powierski commented on #14937
Having the same issue, also have the Wyomind extension installed.

Can confirm the above solution/workaround resolves the issue.

[2018-06-11 09:43] magento-engcom-team commented on #11477
Hi @careys7. Thank you for your report.
The issue has been fixed in magento/magento2#15946 by @vgelani in 2.3-develop branch
Related commit(s):
 - [d76fe2026ee340dfb4c16d46b0a41f0e017d3971](https://github.com/magento/magento2/commit/d76fe2026ee340dfb4c16d46b0a41f0e017d3971)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-11 09:43] sidolov commented on #11477
Hi @careys7. Thank you for your report.
The issue has been fixed in magento/magento2#15945 by @vgelani in 2.1-develop branch
Related commit(s):
 - [f3108a35c0127b77b65608d55150d255b14d9e4a](https://github.com/magento/magento2/commit/f3108a35c0127b77b65608d55150d255b14d9e4a)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-11 10:11] careys7 commented on #11477
Please see comment

[2018-06-11 10:24] DanielRuf opened #16003 "inconsistent Account Dashboard / My Account title"
### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. Go to /customer/account/
2. Check the text in the collapsible nav on the left
3. Go to /sales/order/history/
4. Check the text of the account in the collapsible nav on the left

### Expected result

1. it should read "My Account"

### Actual result

1. it reads "Account Dashboard"

[2018-06-11 10:27] pedrosousa13 commented on #6817
The culprit seems to be invalidateCacheByCloseCookieSession()
What's the reason behind this piece of code on line 31? Why would it be great to clear all storage data if the customer is not logged in? https://github.com/magento/magento2/commit/f066af00cd7bd5a169956c954dd2ba68f618176c

[2018-06-11 11:01] DanielRuf opened #16007 "My Dashboard used instead of My Account"
### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. Go to /customer/account/
2. Check title on the right and compare it with the link text on the left

### Expected result

1. It should read "My Account"

### Actual result

1. It reads "My Dashboard"

[2018-06-11 11:03] kirtinariya1 opened #16008 "Magento 2 admin login Captcha error "Captcha is not defined""
**Preconditions**
Magento 2.2.3

**Description:
![screenshot-captcha-error-from 2018-06-11](https://user-images.githubusercontent.com/28681937/41228294-821247a0-6d95-11e8-99dc-a5737520ced3.png)
**
We are facing issue in admin login Captcha is not working.
we are checking in Magento version 2.2.3

**Steps to reproduce**

Step 1)Login to admin.
Step 2)Go to Store > Configuration > ADVANCED > Develop

[2018-06-11 11:14] DanielRuf commented on #16007
See https://github.com/magento/magento2/pull/16009

[2018-06-11 11:30] naumanmansuri commented on #16008
Facing Same issue

[2018-06-11 11:37] pedrosousa13 commented on #6817
After some more digging, found that for some reason (I'm still trying to figure out why it exists) the mage-cache-sessid is always cleared if it exists.

https://github.com/magento/magento2/commit/65b146bbe3466ce5b5821a080ec4ac9f88ead213#diff-e480a40ebe714315b7ca494bf3c04ec9R44

[2018-06-11 11:46] olgamukovoz commented on #15910
Hi, I have the same problem. Any ideas?

[2018-06-11 11:46] elvinristi commented on #6817
@pedrosousa13 , this is not an issue what you see there. This is called only by event persistent_session_expired.

What issue I have found in one of our projects was the way how this cookie is set

     $.cookieStorage.set('mage-cache-sessid', true);

I got it to work with `mage/cookies`

You can give a try if this alternative works better also for you

[code]

[2018-06-11 12:05] Karlasa commented on #15832
@DanielRuf  Primary button also don't have font-size and font-family variable and falling back to regular button settings. Not sure if it should be added? If yes, It's "good first issue" :)

[2018-06-11 12:09] middlegrey commented on #15557
What additional information would you like?

[2018-06-11 12:11] babyasishhira commented on #11180
Please suggest a commit

[2018-06-11 12:36] DeepPopat commented on #11180
Sorry, I have no idea about the solution.

[2018-06-11 13:00] kishore-esfera opened #16011 "Unable to create new store view/save store view button is not working"
### Preconditions

1. I am using PHP 7.0.2
2. Magento 2.1.0

### Steps to reproduce

1.  Unable to create new store view/save store view button is not working

### Expected result

Create a new store/edit store info

### Actual result

Getting  below error on console.    :-

(index):5 Uncaught SyntaxError: Unexpected token } in JSON at position 106
    at JSON.parse (<anonymous>)
    at getNodeDat

[2018-06-11 13:14] duffner commented on #12446
@osrecio and @magento-engcom-team ,

I'm not sure if this is the direct cause, but I'm using 2.2.4 and the homepage is entirely missing from the sitemap.xml in previous versions it's included as `/home` now I can't find it in the sitemap at all.

Is this expected behavior and related to this ticket, or should I create a new one?

[2018-06-11 13:25] ghost opened #16013 "Magento Setup: the page isn't redirecting properly"
### Preconditions

1. Linux Mint 18 Sarah (local)
2. Linux CentOS Linux release 7.5.1804 (dev)
3. Firefox 60.0.2 (64-bit)
4. Apache 2.4.18
5. PHP 7.1.17

### Steps to reproduce

1. Download Magento-CE-2.2.4-2018-05-01-09-28-45
2. extract to target directory
3. `$ sudo find . -type f -exec chmod 644 {} \;`
4. `$ sudo find . -type d -exec chmod 755 {} \;`
5. `$ sudo chmod -R 777 var/`
6. `$ sudo chm

[2018-06-11 13:33] springimport opened #16014 "Payment entity isn't saving"
### Preconditions
1. Attempt to update the amount of payments.
2. Magento 2.2.3, php 7.1 x64.

### Steps to reproduce
1. Get current order from custom model; set new amount; save.
[code]
OR
[code]

### Expected result
1. Payment shipping amount is updated.

### Actual result
1. Payment shipping amount isn't updated.
-------------
### Working solution (hack)
[code]

### Problem
Using this:
[\Magent

[2018-06-11 13:44] nikidexa commented on #15882
Solved myself.... second time ...
there was a module called "dotmailer" active that create this issue, just disable that module ...

[2018-06-11 13:50] springimport opened #16015 "Duplicate variables in Snapshot db model"
### Preconditions
Magento 2.2.3.

### Steps to reproduce
[\Magento\Framework\Model\ResourceModel\Db\VersionControl\Snapshot](https://github.com/magento/magento2/blob/2.2-develop/lib/internal/Magento/Framework/Model/ResourceModel/Db/VersionControl/Snapshot.php#L57)
[code]

### Expected result
[code]
OR
[code]

### Actual result
Unused variables.
[code]

[2018-06-11 13:50] nikidexa opened #16016 "Discoutn for payment method"
Hi, I need to add a new cart rule: If you pay with bank transfer apply a 2% discount .
In Magento 2.1 was possible, but Im suing Magento 2.2.2
Any suggests?

### Preconditions
1. Magento 2.2.2
2. Luma theme

### Steps to reproduce
1. Apply a new cart rule
2. Apply a discount for payment method
3. If you pay with bank transfer apply a 2% discount

### Expected result
1.If you pay with bank transfer

[2018-06-11 13:51] DanielRuf opened #16017 "empty div.fields in .fieldset-fullname"
### Preconditions

1. Magento 2.2.4

### Steps to reproduce

1. Go to the registration page
2. check the generated HTML code

### Expected result

1. there is an empty .fields in .fieldset-fullname

### Actual result

1. There should not be any empty .fields in .fieldset-fullname

[2018-06-11 14:20] benyanke commented on #6594
@antbates1991 Thank you - this worked for me as well. Since the entity `ndash` is what was failing, I added that to the array, like:

[code]

Helpful info to anyone else having the issue - you may need to add an additional item to the array based on your err msg.

[2018-06-11 14:20] ktruehl opened #16018 "Active menu item does not always match last visited category"
### Preconditions

1. install Magento 2.2.4 CE
2. PHP 7.1
3. Luma Theme
4. Sample Dataset installed

### Steps to reproduce

1. Make sure the block cache is activate.
2. Flush the caches (`cache:flush`).
3. In the frontend visit the home page.
4. Scroll down and, under hotsellers, click on "Push It Messenger Bag".
5. Breadcrumbs on the product page are "Home > Push It Messenger Bag", which is corr

[2018-06-11 14:35] Vikram0811 commented on #14968
Hey @DanielRuf

I was going through the same issue. Thanks for the fix. Made changes in the file at this location

The final function looks like below

[code]
It now saves the theme on store view level and the other settings.

Thanks

[2018-06-11 15:02] dan-ding commented on #7266
The other thing one can do it limit the length of first and last (and any of the other registration fields).
Doing so will limit messages spammers can send, and hopefully, be too short in length to be useful to them. I suggest to use length as the other validations will prevent actual folks names.

[2018-06-11 15:12] sidolov commented on #5968
Issue has been fixed in scope of https://github.com/magento/magento2/pull/11595

[2018-06-11 15:12] #5968 closed, assigned to stetoc

[2018-06-11 15:14] sidolov commented on #12428
Looks like issue was fixed in scope of https://github.com/magento/magento2/pull/14874
I'm closing issue as not relevant

[2018-06-11 15:14] #12428 closed, assigned to ArjenMiedema

[2018-06-11 15:16] magento-engcom-team commented on #11141
@teoteo we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2018-06-11 15:16] #11141 closed, assigned to nobody

[2018-06-11 15:19] magento-engcom-team commented on #14171
Hi @Vikram0811
Comment above states that issue is not reproducible. Could you please re-check?

[2018-06-11 15:21] jsterling commented on #12512
I'm still seeing this in 2.2.4

[2018-06-11 15:25] Axel29 commented on #12512
Hi,

After debugging a bit more, I found the source of my issue. There's a plugin in Magento_Customer's module : magento/module-customer/Model/Plugin/AllowedCountries.php::beforeGetAllowedCountries() that takes every country available if customer accounts are shared between websites, which was my case.

Maybe you have the same cofniguration @jsterling ?

[2018-06-11 15:25] magento-engcom-team commented on #6299
Hi @sbernaldev
Could you please re-check with the latest Magento version? Thanks

[2018-06-11 15:32] jsterling commented on #12512
Good spot, that's fixed it. Now all I need to sort is the default country not selecting...

[2018-06-11 15:35] denda888 commented on #14968
@Vikram0811
it looks like this .
public function setForcedArea($templateId)
    {
        if (!isset($this->area)) {
	        $this->area = $this->emailConfig->getTemplateArea($templateId);
        }
       //$this->area = $this->emailConfig->getTemplateArea($templateId);
        return $this;
    }

[2018-06-11 15:46] michelangelocasullo commented on #15935
I was able to reproduce it on Magento Commerce 2.2.2

[2018-06-11 16:00] DanielRuf commented on #14968
It is already resolved in the current develop branches ;-)

[2018-06-11 16:01] mazestricks commented on #11107
Thanks disabling  Shopial_Facebook module works great for me.

[2018-06-11 16:14] k4emic opened #16020 "Formkey in window.checkoutConfig gets stale when logging in during checkout process"
### Preconditions

1. Magento 2.2.3/2.2.4
2. PHP 7.0.28

### Steps to reproduce

1. Create a customer account and take any steps to make the account valid
2. Log out, clear application cache or change browser
3. Add any simple product to the cart
4. Watch the following expressions
    4.1. `jQuery('[name=form_key]').val()`
    4.2. `jQuery.cookie('form_key')`
    4.3. `window.checkoutConfig.formKe

[2018-06-11 16:17] k4emic commented on #16020
I am not entirely sure what is the best course of action for fixing this problem.
* `mage.formKey` shouldn't be forcing a new formKey when one is already present on the page
    * should the `login` or `checkout` response send the `form_key` cookie in the response?
* `formKey` doesn't belong in `window.checkoutConfig`: it seems like a codesmell to me. Ideally, some object/component would maintain

[2018-06-11 17:30] sara-sadika opened #16025 "Design Configuration Not Saving showing 404 page on sub-directory"
## Preconditions
1. Magento 2.2.4
2. PHP 7
3. Sub-directory setup

## Steps to reproduce
1. Setup sub-directory magento 2 mine site/buy/
2. Install a supported theme for Magento 2. I have install novetty theme
3. Update theme using ssh access and putty
4. Trying to change the theme from Design Configuration section
5. Showing 404 page from root site.

## Details
I have install magento 2.2.4 on my

[2018-06-11 17:31] Vikram0811 commented on #14968
@denda888, my bad. I have corrected the code.

@DanielRuf , yes it's been resolved in current develop branches, but as I have already started development in 2.2.4 I have fixed in my code setup.

Thanks.

[2018-06-11 18:16] jissereitsma commented on #9537
I bumped into this issue as well. However, it seems that simply none of the Page Layouts (like `1column.xml`) have been added to this widget selection box because of reasons. I created a sample module (as part of a training during which this was raised as a question) that demonstrates the right code: https://github.com/yireo-training/magento2-example-custom-page-layout For reference, I'm also incl

[2018-06-11 20:08] sohrobraja commented on #12527
Hi @jimmyhien and @tonytrinh206 ,

I tried your edit for the getPriceFormat issue, however, I am still getting my prices on the cart/checkout summary sidebar formatted like so: $0,007 (instead of $7.00). I have a Japanese store and facing the same issue.

Did you do anything else to resolve this issue?

[2018-06-11 21:21] Kist221 commented on #9453
We are currently running 2.2.4 and it is not fixed @hostep

[2018-06-12 02:41] pfortin-expertime commented on #14952
Hi guys,

a small module to fix it without touching the core:
[](https://github.com/pfortin-expertime/MageFix-Misc)

[2018-06-12 02:43] pfortin-expertime commented on #14968
Hi guys,

a small module to fix it without touching the core:

https://github.com/pfortin-expertime/MageFix-Misc

Enjoy :)

[2018-06-12 02:45] pfortin-expertime commented on #15359
Hi guys,

a small module to fix it without touching the core:

https://github.com/pfortin-expertime/MageFix-Misc

Enjoy :)

[2018-06-12 03:52] eharvest commented on #13873
I'm on 2.1.9 and I'm also having the exact issue. Could we reopen and look into it?

[2018-06-12 04:20] eharvest commented on #13873
I just noticed it's actually related to cron: I have my cron setup as Magento doc recommended and it's definitely running, but somehow for customer related updates the indexing are not working at all. When customers first added, they are stored in database but not showing in admin, then when you try to do it again, it throws above errors.

[2018-06-12 04:37] DanielRuf commented on #15359
It is already fixed in 2.2-develop.

[2018-06-12 04:38] DanielRuf commented on #14968
It is already fixed in current 2.2-develop.

composer-patches would be the right approach.

[2018-06-12 05:02] Ananth747 commented on #16013
@TreyTaylor1997
Please try below link:
http://mage2.local/index.php

If above link works then apache **mod_rewrite** module is disabled in your local.

[2018-06-12 06:15] hypershopbv commented on #5929
It only appears to happen on products that have been imported by the migration tool. Does not matter if we use single store or multistore.

Using a rewrite module is a patch, but does not solve the actual problem. Somehow the rewrite engine does not kick in on imported products.

[2018-06-12 06:30] Naturegreen commented on #15815
Requested url is missing form key.

[2018-06-12 06:56] mestadev opened #16040 "After installing new Theme Front-end goes blank white with no error being displayed."
I am working in Magento in my localhost using wamp installed in ubuntu OS. I was working with default theme luma. I have done all the basic changes in it while working in default theme Luma and all was working fine as expected. But when I installed a theme it shows me a blank page with white background that has no errors or message displayed. Please help me with the issue. I am using Magento 2.2.4

[2018-06-12 07:07] angelo983 commented on #9032
As stated in #11326, check log and auto_increment values in your magento db, in particular catalogrule_product_price

[2018-06-12 07:18] andypieters commented on #14236
Having the same issue in 2.2.4.
Our payment plugin sends the order confirmation and invoice when the payment is completed.
The order confirmation is sent, the invoice is not.
This worked in the past and it clearly is a bug in magento core.
Iam using \Magento\Sales\Model\Order\Email\Sender\OrderSender and \Magento\Sales\Model\Order\Email\Sender\InvoiceSender to sent those emails.
After debugging, i

[2018-06-12 07:40] joni-jones commented on #9427
Added customization point in [2.2.4](https://devdocs.magento.com/guides/v2.2/release-notes/ReleaseNotes2.2.4CE.html#payment-methods) release.

[2018-06-12 07:40] #9427 closed, assigned to nobody

[2018-06-12 07:40] heldchen commented on #14236
here's a *core* patch: [bugfix--allow-more-than-one-email-being-sent.zip](https://github.com/magento/magento2/files/2092996/bugfix--allow-more-than-one-email-being-sent.zip)

please refrain from commenting the ugliness of the patch - mostly due to the stupidity of this bug. I'm sure someone can come up with a nicer solution eventually by getting rid of this dependency injection/object manager mess

[2018-06-12 07:40] joni-jones commented on #9802
Fixed in 2.1.11 release.

[2018-06-12 07:40] #9802 closed, assigned to nobody

[2018-06-12 07:42] joni-jones commented on #6950
Fixed in 2.1.11 release.

[2018-06-12 07:42] #6950 closed, assigned to nobody

[2018-06-12 07:47] andypieters commented on #14236
@heldchen Thanks.
But the thing is, i myself am not using magento, i just developed a payment plugin for our clients.
I have the feeling that @dimonovp just closed this issue without even looking at it.
@magento-engcom-team Please have a look at this and re-open this issue. We know about the forums and stack exchange, but this clearly is a bug.

[2018-06-12 07:48] TreyTaylor1997 commented on #16013
@Ananth747

It didn't work - and mod_rewrite is enabled in my local

[2018-06-12 07:54] DanielRuf opened #16047 "inline-block issue in name form"
<img width="115" alt="bildschirmfoto 2018-06-12 um 09 53 20" src="https://user-images.githubusercontent.com/827205/41277115-8b480792-6e26-11e8-9b5c-ed17a25d2e02.png">

[2018-06-12 08:03] cncqw commented on #15654
@itaymesh rewrite `<Vendor>/<Module>/Model/ResourceModel/Product/Indexer/Price/Configurable.php`

[code]

For more information, please see [https://github.com/magento/magento2/issues/7367](https://github.com/magento/magento2/issues/7367)

[2018-06-12 08:44] cscd98 opened #16049 "Theme type(s) keep resetting to TYPE_VIRTUAL (1)"
### Preconditions

1. Magento 2.2.4
2. PHP 7.1.18
3. MySQL 5.7.22

### Steps to reproduce
1. In the theme table, there is a column called type. This relates to ThemeInterface::TYPE_VIRTUAL (1), TYPE_PHYSICAL (0)
2. After viewing the front end of the website, the values keep changing to TYPE_VIRTUAL (1)
3. Previously they were set as TYPE_PHYSICAL (0) during database conversion from Magento 1
4. Al

[2018-06-12 08:50] saravananvelu commented on #15950
@magento-engcom-team  I am working on this.

[2018-06-12 08:51] milenavasic opened #16050 "Authorize.net"
### Preconditions

   1. Install Magento 2.2.4 CE
   2. Luma Theme
   3. Sample Data installed

### Steps to reproduce

1. Enable Authorize.net Direct Post payment method
2. Add product to cart
3. Checkout using Credit Card
4. Place an order

### Expected result

1. Order items should have set original price.

### Actual result

1. Order items have original price $0.0

### Debuging result
This pro

[2018-06-12 08:51] bjoern-flagbit commented on #7000
If you have set the _**Default Post Code**_ in configuration section **_Default Tax Destination Calculation_** below **_Sales_** > **_Tax_** then you still get this error (!).

[2018-06-12 09:10] attheCube commented on #16008
Me too

[2018-06-12 09:13] hypershopbv commented on #14236
Is a bug indeed. Please re-open this issue.

[2018-06-12 09:32] orlangur commented on #5929
Hi @hypershopbv, then there is nothing to fix here from this repo perspective, problems with data migration from `1.x` must be reported in https://github.com/magento/data-migration-tool repository.

[2018-06-12 09:32] labelsdirect commented on #15868
I can confirm i have the same issue placing admin orders in magento 2.2.4 CE

[2018-06-12 09:51] semajeg commented on #15868
This is the same as #15597

@mrpenelope @labelsdirect How did you create your products? I'm facing the same issue but have pinned the cause down to bad product data in the cataloginventory_stock_item table.

In the cataloginventory_stock_item table. The "website_id" column is set to "1" for products that cannot be ordered and face the issue. Changing it to 0 fixes the issue.

Also if you create a

[2018-06-12 09:52] semajeg commented on #15597
@milenishte How did you create your products? I'm facing the same issue with 2.2.4 but have pinned the cause down to bad product data in the cataloginventory_stock_item table.

In the cataloginventory_stock_item table. The "website_id" column is set to "1" for products that cannot be ordered and face the issue. Changing it to 0 fixes the issue.

Also if you create a product manually through admin,

[2018-06-12 10:03] labelsdirect commented on #15868
@semajeg Legend! I can confirm this was the issue.

I used the following SQL to fix the issue:

`UPDATE `cataloginventory_stock_item` SET `website_id` = '0' WHERE `cataloginventory_stock_item`.`website_id` = '1'`

I then retested an order through the admin and it worked.

My products were migrated from Magento 1.9 to Magento 2.2.4 using ubdata migration extension so the data must have been importe

[2018-06-12 10:22] hitesh-wagento commented on #16003
@DanielRuf please See #16009

[2018-06-12 10:53] Kershrew opened #16057 "user_defined not being set on 5 of 7 programatically created products"
### Preconditions

1. Magento 2.2.3
2. PHP 7.0.x
3. Mariadb 10.1.33

### Steps to reproduce
I have created a module that installs 7 attributes, 2 of them are text fields and don't require a source. 5 of them are dropdown attributes I am basing configurable products off which do require a source.

I have set user_defined => true on all of the attributes I am creating but when I install the module t

[2018-06-12 11:02] milindbhuvad opened #16058 "Add to cart using cookies"
I have create cart.php page. In this page show product image, quantity, product price, total Product price(*quantity) and grand total of product price. I show product on cart.php page using cookies. I want to calculate product price if quantity is increase or decrease. Also, i want show grand total of product price. Please help to solve this problem. I provide following my code for your reference.

[2018-06-12 11:12] magento-engcom-team commented on #16058
@milindbhuvad please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-12 11:12] #16058 closed, assigned to nobody

[2018-06-12 11:15] axovel commented on #12695
Any update on this ?

[2018-06-12 11:16] aasim110 commented on #5907
Getting same issue in Magento 2.2.3
facing same situation Added Attribute Size with 1300 options

    Not able to save attributes
    Also tried @rogan-son's fix but its not working for me.
    Cleaned, Flushed, forced permissions /var and /pub and ownership, also index them
    Still No luck

have anyone resolved this?
Thank you

[2018-06-12 11:42] nsiebler-dm commented on #15541
@MaikelZwey I get a forbidden when I open your link, I have to remove a symbol so seems there is a limit of 4. I'll try to use that though, thanks!

Also, here someone copy/pasted a module in a stackexchange thread: https://magento.stackexchange.com/questions/228588/free-currency-converter-fixer-io-stopped-working
I'm just not sure how reliable that service is or if this works with multiple curren

[2018-06-12 11:47] SivakumarTNS commented on #2958
@amenk I have used the extension which you made to allow SVG images on Magento 2 but it's not working as expected. Could you please suggest me what should I do to allow SVG images on Magento 2?

[2018-06-12 11:56] amenk commented on #2958
It's best if you create a detailed issue on our github repo

[2018-06-12 12:08] RMcLeod79 opened #16060 "GraphQL sample queries from devdocs not working on default installation"
### Preconditions

1. Install 2.3-develop branch
2. Install 2.3-develop branch of sample data

### Steps to reproduce

1. Copy a sample query from the devdocs https://devdocs.magento.com/guides/v2.3/graphql/search-pagination.html
2. Get an admin authorization token by posting an admin username and password in JSON format to https://i-16060-2-3-develop.engcom.dev.magento.com/index.php/rest/V1/integ

[2018-06-12 12:09] RMcLeod79 commented on #16060
@magento-engcom-team give me 2.3-develop instance

[2018-06-12 12:09] magento-engcom-team commented on #16060
Hi @RMcLeod79. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2018-06-12 12:10] magento-engcom-team commented on #16060
Hi @RMcLeod79, here is your [Magento instance](https://i-16060-2-3-develop.engcom.dev.magento.com).
Admin access: [https://i-16060-2-3-develop.engcom.dev.magento.com/admin](https://i-16060-2-3-develop.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-12 12:17] SivakumarTNS commented on #2958
@amenk I have created an issue on github repo.

[2018-06-12 12:33] RMcLeod79 commented on #16060
The problem seemed to be with the app I was using to send the query Postman. Worked fine when using the chromeiQL plugin for Chrome.

[2018-06-12 12:33] #16060 closed, assigned to nobody

[2018-06-12 12:36] lucasgonzalez opened #16062 "Filters bookmarks saved bad date format"
### Preconditions

1. Magento ver. 2.2.3

### Steps to reproduce

1. Go to the admin site
2. Go to the sales page (or any grid with filters with date and the bookmark saved)
3. Search for a date for example "06/11/2018" using the date picker.
4. Refresh the page and the date will be transform into "11/20/2006"
5. With other dates it could also said: "Invalid Date"

### Expected result

![image](ht

[2018-06-12 12:37] ssmadsen commented on #14641
@magento-engcom-team Any update?

[2018-06-12 12:52] viral-wagento commented on #14377
@densen45
Yes, I know that the code I have mentioned above was just to remove the validations. It is not the complete solutiom. To match your desired output, one should do customization for that.
That's why I have asked Magento Team - as mentioned in above comment.

[2018-06-12 13:13] Jakhotiya commented on #16050
@milenavasic Are you using any promotion rules or can you check in the backend in catalog rules or catalog sales rule? I can't reproduce this issue on my end with steps you provided.

[2018-06-12 13:22] bnymn opened #16063 "Product is added to cart twice the quantity when customer clicks Add To Cart button second time"
Products are added to the cart twice the quantity, when you click on Add To Cart button more than one.

### Preconditions

1. Ubuntu 18.04
2. PHP 7.1.18
3. MySQL 5.7.22
4. Magento 2.2.4
5. Google Chrome 67.0.3396.79 or Firefox 60.0.1

### Steps to reproduce

1. Create a simple product in the Magento Admin.
2. Go to product detail page in Store Front.
3. Change the quantity to 5.
4. Click on **Add

[2018-06-12 13:28] alkrenawizid commented on #15654
**Configurable products have redundant prices that cause wrong configurable min_price calculation**

**To solve the issue:**
- To see the count of all configurable products prices records from the database

`SELECT count(*) FROM `catalog_product_entity_decimal` WHERE entity_id in (SELECT entity_id FROM catalog_product_entity c where c.type_id = 'configurable');`

- Delete the price records from th

[2018-06-12 13:53] leon0v commented on #14734
Hi @jissereitsma, apoligies for the late reply. The bug was in the way i composed the query. I don't have the originial faulty code anymore, but this is how I compose the query now and this works fine. This is the body I sent in my API fetch:

[code]

[2018-06-12 14:01] milenavasic commented on #16050
@Jakhotiya Yes, I have a few rules (those which are created with sample date). I removed them all and the problem still exist.
![image](https://user-images.githubusercontent.com/6206166/41295047-d33db24e-6e59-11e8-9253-9b561d61fa9d.png)

[2018-06-12 14:40] k4emic commented on #16020
I have made the following patch for the PageCache module, it is currently undergoing internal testing here at Vaimo.

[code]

[2018-06-12 14:40] alexber88 opened #16069 "Configurable product price is not displayed if all children are out of stock and even if Display Out of Stock Products is set to "yes""
### Preconditions

1. Magento CE 2.2.2 with Sample Data
2. PHP 7.0

### Steps to reproduce

1. Create configurable product with view simples
2. Make configurable and all simple products out of stock
3. Set Display Out of Stock Products to "yes"
### Expected result

1. Price for configurable product should be displayed

### Actual result

1. Price is not displayed at all

Seems like in \Magento\Con

[2018-06-12 15:04] serefatka commented on #12255
Thanks @JoergLindner. Unfortunately it does not help us. Do any one have an idea what else we can do to fix it or is other way to change email addresses?

[2018-06-12 15:18] msptrooper911 opened #16072 "Magento 2.2.4 Import hangs for product and advanced pricing"
### Preconditions

1. Magento 2.2.4
2. php7.0

### Steps to reproduce

1. create CSV, export current products, or download magento 2 sample csv
2. try to import this file
3.

### Expected result

1. Expect when clicking on check data, that it will either say everything passes or the issues with the CSV. This does work on the 3 customer import options. Then it should give option to import.

### Act

[2018-06-12 15:30] hunter-k commented on #8614
The following change worked for me:

`foreach ($items as $item) {
    ...
    $addressFreeShipping = $addressFreeShipping && $itemFreeShipping;

    //if ($addressFreeShipping && !$item->getAddress()->getFreeShipping()) {
    //     $item->getAddress()->setFreeShipping(true);
   // }

   $shippingAddress->setFreeShipping($addressFreeShipping && $itemFreeShipping);
}
 `

[2018-06-12 15:32] hunter-k commented on #8614
The following change worked for me:

[code]

[2018-06-12 16:02] Ananth747 commented on #16013
Then I can't give expected solution by texting here and end up waste your time unless you have any open option to help you out.

Please share the screenshot the issue here.

[2018-06-12 16:02] Ananth747 commented on #16013
Please share the screenshot the issue here.

[2018-06-12 16:03] Ananth747 commented on #16013
Please share the screenshot of the issue here.

[2018-06-12 16:47] orlangur commented on #11910
@Sarvesh-A reported it into https://github.com/magento/community-features/. Feel free to fix it the right way :)

[2018-06-12 17:09] orlangur commented on #16057
@Kershrew please provide an exact code snippet ofc, also, it would be really nice to narrow down the problem to concrete place in core code where you think the bug is present.

[2018-06-12 17:35] xuanserfe commented on #15501
Hi There,
I've applied the fix proposed in the commit #15532 and is not working with the following configuration:
`dev/front_end_developmennt_workflow/type -> client_side_compilation`
I don't have a fix for this by now, but please review this.
Regards

[2018-06-12 17:44] leoquijano opened #16073 "Wide images in product detail page are misaligned vertically (Fotorama miscalculation)"
Hi,

When using wide images in the product detail page gallery, a vertical margin is introduced by Fotorama, making the image look vertically misaligned with the product name, and with the thumbnails area (if they are configured vertically).

Details below.

### Preconditions

I'm using Magento v2.2.4 installed via Composer, MySQL 5.7.222 on an Ubuntu 16.04.4 LTS, Apache 2.4.18 and PHP v7.1.17. Th

[2018-06-12 17:51] drew7721 opened #16074 "User agent exception not setting the correct templates for product pages."
### Preconditions
1. Magento 2.2.4
2. PHP 7.1.17
3. Redis 3.2.11
4. Mysql Ver 14.14 Distrib 5.6.39-83.1

### Steps to reproduce
1. Create a parent theme  ex: `parent` (extending or not the blank theme)
2. Create a child theme of `parent` for the desktop version ex: `desktop`
3. Create another child theme of `parent` for mobile devices ex: `mobile`
4. In all themes, create the `Magento_Theme/templa

[2018-06-12 17:53] leoquijano commented on #16073
Changing the right position of ```fullScreenIcon``` in the ```setStagePosition``` function mentioned above, seems to also fix the full screen icon positioning, when enabled:

[code]

[2018-06-12 17:54] drew7721 commented on #7503
I think my issue is related to this. But I tried the patch and it does not work on 2.2.4.
See #16074

[2018-06-12 17:55] treii28 commented on #8001
Where are the form templates or what controls them? Someone had the inane sense to place a dependent field (state/province) above it's determinant field (country) and we need to change the order so it makes logical sense.

[2018-06-12 17:57] drew7721 commented on #16074
Note that this issue seems similar and related to :
- #7503
- #7710
- #8333
- #14932
I've tried applying the patch in #8333 but it does not fix the issue.

[2018-06-12 18:00] drew7721 commented on #14932
I seem to have a similar issue. Any fix for this? @C0D31GN1T3R

[2018-06-12 18:16] Kershrew commented on #16057
Okay I will include custom code, I'm gonna replace sensitive info so keep an eye on namespaces, I will only include the installdata as you can create your own sources etc :)
This is my installdata:
`<?php
namespace <Vendor>\<Module>\Setup;

use Magento\Framework\Setup\{
    ModuleContextInterface,
    ModuleDataSetupInterface,
    InstallDataInterface
};

use Magento\Eav\Setup\EavSetup;
use Magent

[2018-06-12 18:48] treii28 opened #16078 "Why is country_id sortOrder hard coded with an override in module-checkout???"
Magento CE v2.2.2

In the vendor code for module-checkout hard-code overrides the country_id sortOrder. I just wasted 3 hours trying to figure out how to get the country to show up (properly and in a way that makes logical sense) above the region_id since the region option list is dependent upon the country selected. So why is this hard-code over-ridden??? Not only does the default order confuse c

[2018-06-12 18:53] hostep commented on #16063
Hi @bnymn, thanks for the well written issue!

But I'm going to close it, as it has already been reported before in https://github.com/magento/magento2/issues/15052 & https://github.com/magento/magento2/issues/15580

Quick summary: it's a new bug introduced in one of those new modules from Amazon which get installed by default now in Magento 2.2.4. Quick fix is if you don't need those modules to s

[2018-06-12 18:53] #16063 closed, assigned to nobody

[2018-06-12 18:53] treii28 commented on #6325
One thing I just noted is that there seems to be a hard-code override for the country_id sort order in (at least my v2.2.2) magento2 CE in the module-checkout package. I wasted 3 hours trying to figure out why changing the values in customer_eav_attribute sortOrder for the country_id didn't seem to be changing anything only to find it was hard-code over-ridden in the original sourcecode!

[2018-06-12 20:01] ywsw commented on #6710
I have the same issue on 2.2.3 even with less than 20 options. For instance, one product has only 11 options and they are all able to be shown on the same page ("1 of 1") and still Magento does not allow the product to be saved!
Please help

[2018-06-12 21:08] Amadeco opened #16079 "Need information about translating issue (Magento Swatches Js)"
### Preconditions
1.  Magento 2.2.4
2. PHP 7.1.17-1 & MySQL 5.7.22

### Steps to reproduce
1. You need a Configurable Product with a Swatch Product Attribute in Attribute Set
2. Swatch attribute have color or image attached to each swatch attribute value
3. This Parent Product have more than three children configured with the Swatch Attribute
4. In configuration, you need to have in Catalog > Stor

[2018-06-12 22:07] C0D31GN1T3R commented on #14932
Sorry no I was only using user agent based theme switching to quickly test various themes on the frontend.  I just stopped using it, it didn't cause me a major headache so I didn't bother digging through the code.

[2018-06-13 01:34] SaintLuticriss commented on #15969
I updated my "_/vendor/magento/framework/Session/_**SessionManager.php**" file with the provided hotfix code and got this new error:

[2018-06-13 02:33] syedsaleem086 commented on #13530
Hi @magento-engcom-team

Still able to reproduce on a clean install of Magento2.2.4 while adding favicon from the backend

[2018-06-13 03:06] Fitdiva commented on #15639
I apologize for the inconvenience caused

[2018-06-13 05:45] DanielRuf commented on #15639
Can you edit your comments to use the HTML5 details tag?

[2018-06-13 05:46] DanielRuf commented on #13530
@syedsaleem086

[2018-06-13 06:57] tejash-wagento commented on #15220
I am working on this

[2018-06-13 07:34] sidolov commented on #13899
Hi @sl02. Thank you for your report.
The issue has been fixed in magento/magento2#16031 by @hitesh-wagento in 2.1-develop branch
Related commit(s):
 - [bc26a3a132fba7aae4be6095411b212b03c9c93d](https://github.com/magento/magento2/commit/bc26a3a132fba7aae4be6095411b212b03c9c93d)
 - [8f03ac9aee1cad032cbc45f128fa9d86aa0e918b](https://github.com/magento/magento2/commit/8f03ac9aee1cad032cbc45f128fa9d86

[2018-06-13 07:34] sidolov commented on #6058
Hi @dnadle. Thank you for your report.
The issue has been fixed in magento/magento2#15874 by @dankhrapiyush in 2.1-develop branch
Related commit(s):
 - [f8397ebe12d6affa44ceeff40abad31d99678767](https://github.com/magento/magento2/commit/f8397ebe12d6affa44ceeff40abad31d99678767)
 - [43835fc4ae4cb1322d90bda02ba2726359171cf6](https://github.com/magento/magento2/commit/43835fc4ae4cb1322d90bda02ba2726

[2018-06-13 07:34] sidolov commented on #14999
Hi @denistrator. Thank you for your report.
The issue has been fixed in magento/magento2#15917 by @hitesh-wagento in 2.1-develop branch
Related commit(s):
 - [5b34517ffada38f95a2ec0deae9e20a6b628ab4a](https://github.com/magento/magento2/commit/5b34517ffada38f95a2ec0deae9e20a6b628ab4a)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-13 07:34] sidolov commented on #15323
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#15880 by @hitesh-wagento in 2.1-develop branch
Related commit(s):
 - [950a668544e82b4aeee67dd1beed861c2e195bf5](https://github.com/magento/magento2/commit/950a668544e82b4aeee67dd1beed861c2e195bf5)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-13 07:48] peterlembke commented on #13262
Hi @erikkubica , do you have the media attributes intact? If not then this can help:
    protected function saveProduct($product, $setMediaGalleryToNull = true)
    {
        if ($setMediaGalleryToNull) {
            $product->setData('media_gallery', null); // Then we do not lose the media attributes,
            // bug https://github.com/magento/magento2/issues/10687
        }

        $this->_p

[2018-06-13 07:49] syedsaleem086 commented on #13530
Hi @DanielRuf

0ae1230c4bbe985f66929ed234835137e64664c9
3df51d4c294dda946d78ba25b9aef693cb813a0a
0dec988872e175e568c2bf4bb29548ab7a4698e5
d92b679e48da825813bfaff51e631236a2bbc73a

I have added these commits manually still won't work

[2018-06-13 07:54] TreyTaylor1997 commented on #16013
![error](https://user-images.githubusercontent.com/8513738/41337516-52da11b8-6ee7-11e8-9678-e3e106088e9f.png)

error attached

[2018-06-13 07:55] hostep commented on #13530
Can you try with only this commit: https://github.com/magento/magento2/commit/7019a0a1392095185505ff3ca7b97dd3e9cb4ef2 (is a combination of the 4 before, maybe you made a mistake somewhere when trying to apply those 4)

[2018-06-13 08:03] magenx commented on #5929
i guess migration import only data, no change in magento code and no change in database schema in any way???

[2018-06-13 08:23] syedsaleem086 commented on #13530
Hi @hostep

I have verified and tested above modified files and let others to test in my team. It worked for changing the theme (switching) before it wasn't working.  but not while updating favicon.

Please try to update favicon

[2018-06-13 08:44] Fitdiva commented on #15639
pardon my ignorance, not a programmer and legally blonde

[2018-06-13 08:46] VirtusB opened #16087 "M2.2.4 / M2.2.0 - Not all attribute options are saving when using Text Swatches"
Video: https://streamable.com/hshvq

We have 2 size attributes, 1 of them contains 314 options and the other contains 711 options. The options are saving just fine, but the "Admin *" Text Swatch input field is only saving ~165 values.

Tested with small attribute, 42 options, it worked fine there. It has to be an attribute with many options.

### Preconditions

1. Tested with version 2.2.0 and 2.2

[2018-06-13 09:27] VirtusB commented on #16087
Issue has been resolved by changing the PHP settings.

max_input_vars = 100000
max_input_nesting_level = 800
max_input_time = 18000

[2018-06-13 09:27] #16087 closed, assigned to nobody

[2018-06-13 09:34] lundco opened #16088 "Unable to read response, or response is empty when "Save product", "Save product & duplicate" and "Save and close""
When im trying to save a product, it returns an error. The product itself is saved, but i cant duplicate it. It says

In my exception.log it gives this:

Have no idea why this problem has come. The shop has worked until now.

### Preconditions
Magento version: 2.2.3
Nginx server
PHP7

### Steps to reproduce
1. Save product

### Expected result
Expect it to only show "You saved the product.". And i

[2018-06-13 09:38] #14655 closed, assigned to nobody

[2018-06-13 09:43] jee1mr commented on #11882
Same problem here

[2018-06-13 09:48] jee1mr commented on #11882
I had to change it in app/etc/env.php. It was showing 0. Works now.

[2018-06-13 09:49] Yogeshks commented on #13676
#14309 Disable "Back" button on the first step of the setup

[2018-06-13 10:03] DanielRuf commented on #15639
Unfortunately the files seem to be on one line. Can you replace the parts with the multiline versions?

[2018-06-13 10:04] DanielRuf commented on #15639
Or I invest some (more) time to try to format them as this is currently not readable for us.

[2018-06-13 10:05] DanielRuf commented on #13530
Was there an error message in this case?

[2018-06-13 10:06] hypershopbv commented on #5929
Sorry, this also happens on new added products. I know you guys want to close issues as soon as possible, but this is a serious core bug.

[2018-06-13 10:07] patchee500 commented on #12390
You are also able to reproduce this issue by adding products to cart (effectively another POST Request) and refreshing the checkout page afterwards (without navigating to cart in between!).

Any POST request will lead to the data being lost.
The problem here seems to be `Magento\Framework\App\PageCache\Version::process`.
It is called by `Magento\PageCache\Model\App\FrontController\BuiltinPlugin::a

[2018-06-13 10:14] devendra1991 commented on #9032
**is_active** field is there in Catalog rule form but it has inline CSS " display: none"

[2018-06-13 10:18] Toregam opened #16089 "Error import csv"
### Preconditions

1. Magento 2.1.7

### Steps to reproduce

1. go to import
2. advanced prices
3. import csv

### Expected result

1. [Screenshots, logs or description]
import ok.

### Actual result

1. [Screenshots, logs or description]
Error: Column names: "tier+AF8-price+AF8-website", "tier+AF8-price+AF8-customer+AF8-group", "tier+AF8-price+AF8-qty", "tier+AF8-price" are invalid
Why???
![immag

[2018-06-13 10:45] Fitdiva commented on #15639
[httpd-vhosts.txt](https://github.com/magento/magento2/files/2097779/httpd-vhosts.txt)
[httpd-prefix.txt](https://github.com/magento/magento2/files/2097780/httpd-prefix.txt)
[htaccess.txt](https://github.com/magento/magento2/files/2097781/htaccess.txt)
[httpd-app.txt](https://github.com/magento/magento2/files/2097783/httpd-app.txt)

[2018-06-13 10:55] magento-engcom-team commented on #14999
Hi @denistrator. Thank you for your report.
The issue has been fixed in magento/magento2#15916 by @hitesh-wagento in 2.3-develop branch
Related commit(s):
 - [21ce9fb9ae8696d24343058a981aaa18b8bc16d8](https://github.com/magento/magento2/commit/21ce9fb9ae8696d24343058a981aaa18b8bc16d8)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-13 10:55] magento-engcom-team commented on #6058
Hi @dnadle. Thank you for your report.
The issue has been fixed in magento/magento2#15884 by @dankhrapiyush in 2.3-develop branch
Related commit(s):
 - [c44f1f84d274ff9324742831e09f0b7f49027a7b](https://github.com/magento/magento2/commit/c44f1f84d274ff9324742831e09f0b7f49027a7b)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-13 10:55] magento-engcom-team commented on #15213
Hi @cnviradiya. Thank you for your report.
The issue has been fixed in magento/magento2#15896 by @chirag-wagento in 2.3-develop branch
Related commit(s):
 - [a8515408a1879dc2e1c0e39615f9a431746584e8](https://github.com/magento/magento2/commit/a8515408a1879dc2e1c0e39615f9a431746584e8)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-13 10:55] magento-engcom-team commented on #15323
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#15879 by @hitesh-wagento in 2.3-develop branch
Related commit(s):
 - [172e5ae2b2357d6ccd4f848d866b8bee7405d56c](https://github.com/magento/magento2/commit/172e5ae2b2357d6ccd4f848d866b8bee7405d56c)

The fix will be available with the upcoming 2.3.0 release.

[2018-06-13 11:17] DanielRuf commented on #15639
Well, these are the default configs. You have to configure your server config (htaccess) to use the www / non www version by default and add the needed redirect. It's probably also in the config but just with a `#` and disabled by default.

[2018-06-13 12:00] #15639 closed, assigned to nobody

[2018-06-13 12:36] shaikhmasud147 commented on #4509
Console Shows this for jquery.js:
mixed Content: The page at 'https://example.com/' was loaded over a secure connection, but contains a form which targets an insecure endpoint 'http://example.com/catalog/product_compare/add/'. This endpoint should be made available over a secure connection.

To clarify all HTTP requests are Redirected to HTTPS server side.

The same issue facing in Magento 2.0.17.

[2018-06-13 13:33] gwharton commented on #11740
This also broke sending multiple emails at the same time from admin backend. The first email succeeds, but all remaining emails fail with an exception saying can't set from address twice. Presumably because the $message object is now static, each time this function is called it is trying to add from address again.

[2018-06-13 14:26] flipflap opened #16092 "Search second half of SKU doesn't return article"
### Preconditions

1. Magento 2.1.11
2. Attribute SKU has search priority 10

### Steps to reproduce

1. Search for 00XYZ works (SKU 00XYZ)
2. Search for only XYZ doens't find this article, but user often search without the 00 at the beginning of the SKU

### Expected result

1. Article should be found with search for XYZ too

### Actual result

1. No article found

[2018-06-13 14:43] ebaschiera commented on #6817
Issue is present in Magento 2.2.2 EE.

I tested your patch @elvinristi (thanks for sharing), but it didn't solve the problem unfortunately.

[2018-06-13 14:46] sidolov commented on #8954
Hi @rendyep. Thank you for your report.
The issue has been fixed in magento/magento2#15829 by @neeta-wagento in 2.1-develop branch
Related commit(s):
 - [c261156c46b3211564056866cdb436b7cfd2ca9d](https://github.com/magento/magento2/commit/c261156c46b3211564056866cdb436b7cfd2ca9d)
 - [950e3170e5d17a3f420605cec8c07d096d3ccd0a](https://github.com/magento/magento2/commit/950e3170e5d17a3f420605cec8c07d

[2018-06-13 14:46] sidolov commented on #15348
Hi @neeta-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#15834 by @viral-wagento in 2.1-develop branch
Related commit(s):
 - [b63d2c51aaba7d55f8e288c55892221182a7c455](https://github.com/magento/magento2/commit/b63d2c51aaba7d55f8e288c55892221182a7c455)

The fix will be available with the upcoming 2.1.15 release.

[2018-06-13 14:47] sduif commented on #15047
The cause seems to be `Magento\ConfigurableProduct\Plugin\Model\ResourceModel\Attribute\InStockOptionSelectBuilder` which always adds a stock status filter without regard to the "Show out of Stock Products" setting.

I personally fixed it with a custom module **di.xml** though I doubt that this is always the right solution since this for example doesn't check if backorders are allowed for a specif

[2018-06-13 15:05] anthr76 commented on #14423
Having the same issue

[2018-06-13 15:42] rparsi commented on #7176
@magento-engcom-team Can you please post the commit hash or url for the fix?  I'm experiencing same problem as others with version 2.2.3

Why do you ignore us???

[2018-06-13 15:43] Sarvesh-A commented on #11910
@orlangur Thanks to reopen it! Appreciate that. :)

[2018-06-13 15:50] larylaz commented on #13676
Great! And the main issue is on what progress?

[2018-06-13 15:55] EliasKotlyar commented on #14938
I can reproduce this issue on M2.2.4 EE. Many thanks for that patch!

[2018-06-13 15:57] mrpenelope commented on #15868
This works! I guess what weirded me out is in the default sample file for inventory imports, it used "1" as the website_id for the sample items. Either way, thank you both.

[2018-06-13 15:57] #15868 closed, assigned to nobody

[2018-06-13 16:29] RossCC commented on #15935
This appears to be our issue on 2.2.1, as described here.  https://community.magento.com/t5/Magento-2-x-Technical-Issues/Magento-systematically-deleting-all-products-one-by-one-on-its/m-p/97335#M5366

[2018-06-13 16:38] Ananth747 commented on #16013
Change the website url to magelocal.com because in url after last dot it must be maximum 3 letters.

[2018-06-13 16:55] mikidip commented on #11885
@roman204 Hi try to install your fix but i do know how to bypass the error message via composer:
[InvalidArgumentException]
  Could not find package PaypalFix at any version for your minimum-stability
  (stable). Check the package spelling or your minimum-stability

[2018-06-13 17:09] mikidip commented on #11885
@roman204  I try to install your fix but i don't know how to bypass the error message via composer:
  [InvalidArgumentException]
  Could not find package PaypalFix at any version for your minimum-stability (stable). Check the package spelling or your minimum-stability
Can you help me?

[2018-06-13 17:37] roman204 commented on #11885
You have time configure also the url of the git repo composer.json file

[2018-06-13 17:46] hostep commented on #15886
Thanks for the update!

So here are the steps I took to try to reproduce the issue and I wasn't able to reproduce it:
- Setup a clean Magento 2.2.3 installation
- Installed a French language pack using composer: `composer require imaginaerum/magento2-language-fr-fr`
- Ran `bin/magento setup:upgrade`
- Put the store in production mode: `bin/magento deploy:mode:set production`
- Visited the backend,

[2018-06-13 17:52] mikidip commented on #11885
@roman204 Sorry, can you make me an example?

[2018-06-13 17:55] magento-engcom-team commented on #16047
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#16048 by @DanielRuf in 2.2-develop branch
Related commit(s):
 - [587584cf200ff99e560e2dfd66b5f5dd12273c59](https://github.com/magento/magento2/commit/587584cf200ff99e560e2dfd66b5f5dd12273c59)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-13 17:55] #16047 closed, assigned to nobody

[2018-06-13 17:55] magento-engcom-team commented on #15308
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#15936 by @StevenGuapaBV in 2.2-develop branch
Related commit(s):
 - [cae12b165bc385ef2037ba12fa663f0600cf98ba](https://github.com/magento/magento2/commit/cae12b165bc385ef2037ba12fa663f0600cf98ba)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-13 17:55] #15308 closed, assigned to StevenGuapaBV

[2018-06-13 17:55] magento-engcom-team commented on #14999
Hi @denistrator. Thank you for your report.
The issue has been fixed in magento/magento2#15914 by @hitesh-wagento in 2.2-develop branch
Related commit(s):
 - [4877e4cd75b5bdb594bce95d9aaae39865dbb43e](https://github.com/magento/magento2/commit/4877e4cd75b5bdb594bce95d9aaae39865dbb43e)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-13 17:55] #14999 closed, assigned to hitesh-wagento

[2018-06-13 17:55] magento-engcom-team commented on #15323
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#15878 by @hitesh-wagento in 2.2-develop branch
Related commit(s):
 - [1b9043b64c72e2f1bd83fa517edfc17fa15d2c63](https://github.com/magento/magento2/commit/1b9043b64c72e2f1bd83fa517edfc17fa15d2c63)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-13 17:55] #15323 closed, assigned to hitesh-wagento

[2018-06-13 18:08] hostep commented on #13530
@syedsaleem086: I'm unable to reproduce your problem, either with or without the fix from @DanielRuf

I tested it on all levels, Global, Website and Storeview, and it all works as expected.
On Storeview it doesn't work in a clean Magento 2.2.4 installation because of https://github.com/magento/magento2/issues/14968, but when applying the fix from @DanielRuf it works again.

If you have exact steps

[2018-06-13 18:18] ntuong95 commented on #11002
Magento 2.2.3 using bitnami-magento stack on Google Cloud and I'm facing the same issue

![image](https://user-images.githubusercontent.com/16619866/41369861-4b1dd8a4-6f70-11e8-8e50-941cd926333f.png)

I've ran the query to delete old cron_job entries as mentioned above, but with <500 entries left the issue is not solved, the CPU is still getting hammred. Can't access the admin panel either.

I've

[2018-06-13 18:23] roman204 commented on #11885
Like that:
 "repositories": [
        {
            "type": "vcs",
            "url": "https://github.com/igorw/monolog"
        }
    ],

[2018-06-13 18:26] salehawal opened #16094 "magento 2.3 | bin/magento setup:di:compile .. Stops @ 14%"
i cant run this command "php bin/magento setup:di:compile" it stops @ 14%
i have a  magento2 - Dedicated Server and when i run di:compile i seee the below error

php bin/magento setup:di:compile
Compilation was started.
Repositories code generation...
1/7 [====>-----------------------]  14%

once it reach 14% is just stops?

[2018-06-13 18:43] sambalay opened #16095 "Error while creating new product"
### Preconditions

1. magento 2.2.2

### Steps to reproduce

1. catalog ->. products -> add new product

### Expected result

1. Should show the fields for add new product

### Actual result

1. SQLSTATE[42S22]: Column not found: 1054 Unknown column 'entity_value.value' in 'field list', query was: SELECT `entity`.`sku`, `product_entity`.`entity_id` AS `product_id`, `attribute`.`attribute_code`, `e

[2018-06-13 20:22] DePalmo opened #16096 "Tax on subtotal and grand total missing on Cart page (old issue!)"
See #7801. All steps to reproduce it were already provided but the bug report was closed as "inactive". I'm using v2.2.3 and same issue still applies!

[2018-06-13 20:37] salehawal commented on #16094
i dont know how to reproduce the error .. it just happened?

[2018-06-13 21:47] DanielRuf commented on #16094
Increase the memory limit.

Please try `php -dmemory_likit=2G bin/magento setup:di:compile`

[2018-06-13 22:00] mcyrulik opened #16098 "URLs in sitemap not correct when generated using cron"
### Preconditions

1.  Magento 2.2.4
2. Apache 2.4
3. document root set to /pub

### Steps to reproduce

1. Add a sitemap with a path of /pub
2. Allow cron to generate the sitemap

### Expected result

1. sitemap.xml urls to sitemap should be https://site.com/pub/sitemap-1-1.xml
2. placeholder image paths should be https://site.com/media/catalog/product/placeholder/default/image.jpg

### Actual re

[2018-06-13 22:42] orlangur commented on #855
Preferences must not be used for class rewriting, as it was in M1, indeed.

While technically it is possible via preferences normally you should not rely on internal class implementation and only touch public class methods.

[2018-06-13 23:11] salehawal commented on #16094
@DanielRuf thanks .. already did didnt work ):

[2018-06-13 23:21] syedsaleem086 commented on #13530
@hostep
Create a custom theme and try to load the favicon. thanks

[2018-06-13 23:30] amelojunior commented on #12578
Same issue here!

The configurable products stock availability status doesn't change when all associated Simple products go out of stock AND  product price shows 0 in frontend

[2018-06-13 23:40] fyudelgado commented on #2957
Hi there, anyone solve this issue? I have the same problem.
Using Magento 2.1.7

Regards,

[2018-06-14 00:39] salehawal commented on #16094
somtimes i see this error
The directory "public_html/generated/code/Magento" cannot be deleted Warning!rmdir(public_html/generated/code/Magento): Directory not empty

but when i re run it it goes, and when is starts to compile is stops @ 14% exactly

[2018-06-14 01:04] salehawal commented on #16094
similer error here

https://community.segment.com/t/80tjx9/magento-2-command-setupdicompile-is-giving-an-error-uninitialized-string

[2018-06-14 02:08] Fitdiva commented on #15639
https://community.bitnami.com/t/home-page-and-index-php-using-both-the-www-non-www-domain-variations/58331

[2018-06-14 02:47] salehawal commented on #16094
solved .. turns out to be a php code issue .. thanks all (:+1:

[2018-06-14 02:47] #16094 closed, assigned to nobody

[2018-06-14 03:16] VivianWang1993 opened #16100 "dropdown.js autoPosition doesn't work"
### Preconditions

1.  Magento 2.2.4

### Steps to reproduce

1. I set tooltip an attribute like this `<span class="field-tooltip-action action-help"
        data-bind="mageInit: {'dropdown':{'activeClass': '_active'}}"></span>` in templates/form/element/helper/tooltip.html file.
2. And then reload checkout page.
3. I find the function `_position` is never handled  in mage/lib/web/mage/dropdown.js

[2018-06-14 03:44] forwells opened #16101 "when I checkout, magento2 tip me Email has a wrong format~ please~"
### Preconditions

1. magento 2.2.2
2. And I use a clean installation

### Steps to reproduce

1.  add one simple products to cart
2.  proceessed to checkout
3.  and wait for complete order

### Expected result

1. [Screenshots, logs or description]
  success to checkout or redirect to checkout url
### Actual result

1. magento tip me Email has a wrong format , I'm not sure wether where has some p

[2018-06-14 04:23] DanielRuf commented on #15639
Normally it is done like this:
https://github.com/DanielRuf/daniel-ruf.de/blob/master/.htaccess#L18-L19

[2018-06-14 04:34] dyuk1987 opened #16104 "Magento 2.2.4 Temando_Shipping stops MultiShipping from functioning properly?"
### Preconditions

1. Magento **CE 2.2.4** without demo data
2. Temando_Shipping module **enabled by default** but **not configured and enabled** as a shipping method
3. **Allow Shipping to Multiple Addresses** is enabled
4. A few simple, downloadable and virtual products are created
5. Amazon_Core, Klarna_Core, Amazon_Login, Amazon_Payment, Klarna_Ordermanagement, Klarna_Kp, Dotdigitalgroup_Email

[2018-06-14 06:12] Patelcc opened #16107 "Magento 2.2.4 :menu is not showing"
I was found that issue related to **Varnish Cache**

If we select **Store -> Configuration -> Advanced -> System -> Full page cache -> Caching Application** Set to **Varnish Cache** then menu are not appear in home page other then appear on all pages .

see below attached screen-shoot

![megamenu](https://user-images.githubusercontent.com/40203855/41290357-44d3291a-6e6a-11e8-8531-163244829e77.png)

[2018-06-14 06:17] santoshsupport3 opened #16109 "On Product Save tab heading should be highlighted with an error icon."
### Preconditions

1.  Magento 2.2.3 , PHP 7.0.30 , MYSQL 5.7.18
2.

### Steps to reproduce

1.  On Saving New or Existing Product If Tab has Required Fields On Save Tab Is not being highlighted with error Icon.
2.
3.

### Expected result

1. The tab heading should be highlighted with an error icon. So one can know in which tab the problem resides.
![should be the result on validation error](https

[2018-06-14 06:55] ebaschiera commented on #11347
@adrian-martinez-interactiv4 yes please :+1:

[2018-06-14 06:59] ishakhsuvarov commented on #16107
Hi @Patelcc

Yes, this may happen if you enable varnish in configuration but not run it on the environment you are testing on.
`<esi:include>` is only processed by Varnish cache server, and not magento.

[2018-06-14 07:01] ishakhsuvarov commented on #16107
Menu would appear, in your case, only on the pages which are not cacheable, like Customer Login, Customer Dashboard, etc.

[2018-06-14 07:01] magento-engcom-team commented on #16107
@Patelcc
please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2018-06-14 07:01] #16107 closed, assigned to nobody

[2018-06-14 07:14] dankhrapiyush commented on #15434
Getting the same issue on refresh checkout page couple of times.

[2018-06-14 07:27] pemann commented on #12286
Any news on this one?

[2018-06-14 08:01] TreyTaylor1997 commented on #16013
@Ananth747 that can't be true, or how else would .co.uk magento sites work? it can't all just be .com and if so this is a huge design flaw that must be fixed.. .local is the standard for a localhost website.. why would anyone have .com for a localhost website?

[2018-06-14 08:03] forwells commented on #16101
anyone can help for the problem?

[2018-06-14 08:12] gewaechshaus commented on #14236
Same here...

[2018-06-14 08:15] david-fiaty-cko commented on #11885
The T&C checkbox used to work and started showing this issue in the 2.2.x series. We have some clients who think this error is not a core issue but third party module issue.

Could someone please clearly establish if the "please agree to all the terms and conditions before placing the order." issue is a core issue or not, and how we can fix in third party modules?

Even without a fix, having expla

[2018-06-14 08:17] elvinristi commented on #6817
@ebaschiera,  have also second patch for `Magento_Checkout` in place which fixes an issue for me when I enter address in checkout, go to the payment tab and reload then page.

[code]

[2018-06-14 08:21] fk-whothat commented on #11247
Any update having the same issue at magento v2.2.2

[2018-06-14 08:29] WengerMa commented on #13929
Issue is reproducible in 2.2.4 tag as well.

[2018-06-14 08:30] elvinristi commented on #11247
@fk-whothat, if you know how to add patches then maybe you can try this one for `Magento_Checkout` to apply and see if it fixes issue for you?

- https://github.com/magento/magento2/issues/6817#issuecomment-397211593

[2018-06-14 08:35] n0kit31 commented on #13929
Issue is reproducible in 2.2.4 tag as well.

[2018-06-14 08:39] pemann commented on #12286
Magento uses JShrink library to minify js files. That library version 1.3.0 has some problems with minifying. See: https://github.com/tedious/JShrink/issues/72
Magento should either change the library or provide fix for it.

[2018-06-14 08:48] comdiler opened #16116 "Modules sort order in config.php is being inconsistent when no changes being made"
### Preconditions
1. Install any Magento 2.*

### Steps to reproduce
1. Run php bin/magento setup:upgrade
2. Run cp app/etc/config.php app/etc/config.php_t1
3. Run php bin/magento setup:upgrade again
4. Run cp app/etc/config.php app/etc/config.php_t2
5. Run diff app/etc/config.php_t1 app/etc/config.php_t2

### Expected result
1. Files should be the same, because of no changes being made

### Actua

[2018-06-14 08:48] maderlock commented on #15654
To confirm, we are still using the same fix that @cncqw mentioned for 2.2.4. There has been a change to the method signature though, so you'll need to redo this fix to match most likely.

[2018-06-14 09:01] fk-whothat commented on #6817
Hi @elvinristi where can we find that file ??

[2018-06-14 09:05] elvinristi commented on #6817
@fk-whothat

if using this github for code then

- https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Checkout/view/frontend/web/js/checkout-data.js#L29:44

if using `composer` then

- `vendor/magento/module-checkout/view/frontend/web/js/checkout-data.js`

[2018-06-14 09:09] maderlock commented on #14964
For missing email addresses, I've combined two approaches above to use the order email address where available and otherwise use a dummy address:

[code]

[2018-06-14 09:16] fk-whothat commented on #6817
It did not work :/

[2018-06-14 09:21] sidolov commented on #15832
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#16012 by @Karlasa in 2.2-develop branch
Related commit(s):
 - [ab643ce7eba6b44ffdcd7a8050344b777ecf10b6](https://github.com/magento/magento2/commit/ab643ce7eba6b44ffdcd7a8050344b777ecf10b6)
 - [dd007e3ec6f1e660b14a60e112d914d537cac09f](https://github.com/magento/magento2/commit/dd007e3ec6f1e660b14a60e112d914d537

[2018-06-14 09:21] #15832 closed, assigned to Karlasa

[2018-06-14 09:21] sidolov commented on #15213
Hi @cnviradiya. Thank you for your report.
The issue has been fixed in magento/magento2#15893 by @chirag-wagento in 2.2-develop branch
Related commit(s):
 - [51d099186543380523af374286c0c890bbbbd284](https://github.com/magento/magento2/commit/51d099186543380523af374286c0c890bbbbd284)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-14 09:21] #15213 closed, assigned to nobody

[2018-06-14 09:22] graeme8 commented on #15899
I have solved this issue. It was due to an attribute with "&" symbol in the attribute code. This caused a JS error when loading the page. Removing the "&" fixed the issue.

[2018-06-14 09:22] #15899 closed, assigned to nobody

[2018-06-14 09:34] fk-whothat commented on #6817
I have tried to debug a little bit and can see that when the getData function is running the Data value entries is empty on refreshing the page, so the problem should be laying before the getData function

[2018-06-14 09:34] jissereitsma commented on #14734
Cool. I also bumped into the same issue and also got it down to a faulty JSON code - I should have mentioned it from the start. But I found it nice to have us come to this openly in this issue, even though it is closed - so others might google it. Thanks so much for the update!

[2018-06-14 09:41] ebaschiera commented on #6817
@elvinristi your patch works for me. Thanks!

[2018-06-14 09:42] timbaker1991 commented on #13952
Just to further this, we have the issue and it appears to affect PayPal orders mainly- though this may be coincidence (using the baked in Braintree support this is). Is there anything we could use as a hot fix do you know?

[2018-06-14 09:56] adi3009 commented on #10814
Hi @okorshenko, @orlangur

Is this fixed and released, I can replicate the issue in 2.2.4

[2018-06-14 10:06] nallias commented on #14113
Hi all,
After upgrade (done with web wizard, dobl-check with CLI) magento from 2.1.7 to 2.2.3, the bug is still there.

[2018-06-14 10:30] speedupmate commented on #16104
this relates to https://github.com/magento/magento2/issues/15968 . Best option is to : php bin/magento m:di Temando_Shipping if it is not used , then js mappings won't be loaded.

[2018-06-14 10:35] phwtoo opened #16125 "Name field empty in Product Data export"
### Preconditions

1. Install Magento ver. 2.2.4
2. Use the sample store data

### Steps to reproduce

1. Use System->Data Transfer->Export to export the product data into a CSV

### Expected result

1. All data fields for products are available in the CSV

### Actual result

1. The "Name" column is empty.  (Is this a bug or there is a setting that I missed?  I am a newbie.)

[2018-06-14 10:45] dyuk1987 commented on #16104
@speedupmate Thanks for your reply. But what about the second issue I have pointed out in the section **Other observations**?

[2018-06-14 10:45] diglin commented on #14478
Problem is still there and annoying on Magento 2.2.4.

It's also related to this fix https://github.com/magento/magento2/issues/12083 which break the fact that `url_key` can be set to '' (empty string) via the class `vendor/magento/module-catalog-import-export/Model/Import/Product.php:1563` => `$rowData[self::URL_KEY] = $this->getUrlKey($rowData);`.

@koenner01 doing that means that you overwrite

[2018-06-14 10:48] diglin commented on #12641
@magento-engcom-team fixed in 2.2.1 but reappeared in latest releases (2.2.4, 2.3) => https://github.com/magento/magento2/issues/14478 cause of https://github.com/magento/magento2/issues/12083

[2018-06-14 11:13] kervin commented on #5664
Are there any updates on this?

[2018-06-14 11:31] piotrjozwiak opened #16129 "klarna-module-ordermanagement-4.1.3.0 checksum verification failed"
### Preconditions

1. PHP 7.0
2. NGINX
3. Composer 1.6.5

### Steps to reproduce
1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition magento2

### Expected result
1. Successfull fresh Magento 2.2.4 install
### Actual result
1. Exception while downloading dependency module:

[code]

[2018-06-14 11:47] speedupmate commented on #16104
get a full trace on this issue and see if it is related to Temando at all

[2018-06-14 12:13] cdpi404 opened #16131 "Change magento github install to normal install"
### Preconditions

1. Installed Magento 2.1.7
2. Migrated Magento 1.9 data to 2.1.7  and live

### Expected result

1. I want to know if there is a way to upgrade my magento 2.1.7 to magento 2.2.3 without being on the github install, i've read that the github install is only for dev and now my site in live on this version. Or does i need to reinstall all on a new fresh magento 2 install but how to

[2018-06-14 12:39] wardslaus commented on #16129
Am having the same issue attempting to upgrade

[2018-06-14 13:09] quisse commented on #16129
Temporary if you don't need that module you can remove (replace) it by adding this to your composer.json
[code]

credits: https://www.integer-net.com/removing-unused-core-modules-from-magento-2-the-right-way/?utm_source=twitter&utm_medium=post&utm_term=blog&utm_content=remove-core-modules&utm_campaign=m2

[2018-06-14 13:30] BlitzInternet commented on #15090
I disabled the check via plugin. Nothing else you can do.

[2018-06-14 13:42] LouNik1984 opened #16134 "Magento 2.2 wrong product url with multiple store views"
### Summary
Magento 2.2.2 with one website, one store and 2 store views.
On frontend:
- the second store view created is ok
- the default store view has all the products urls wrong
On backend:
- the second store view is ok
- the default store view has all the checkboxes unchecked + the url key field is not saved

### Preconditions
- magento version 2.2.2 with no sample data on ubuntu with mysql an

[2018-06-14 13:47] orlangur commented on #16131
Hi @cdpi404,

First of all, GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions.

On your question, switching from GitHub-based to Composer-based installation should be seamless. They are compatible from data perspective.

First create a proper repo for `2.1.7` as Composer-based installation with all your custom code. Test it on

[2018-06-14 13:47] #16131 closed, assigned to nobody

[2018-06-14 13:49] orlangur commented on #16131
By the way, normally it should work. You just `git checkout` a new tag and then run `./bin/magento setup:upgrade`.

[2018-06-14 14:16] vbuck commented on #14469
@iindranil I am continuing to research this issue in pursuit of a fix.

As an update to the issue, I have one additional architectural comment. By design this method, being called _mapItem_ and based on its DocBlock description, should *not* be modifying any properties on the given `AbstractItem`. It should be treating that item as _read-only_ as it transfers properties to the resulting `QuoteDeta

[2018-06-14 15:14] msawyers commented on #14952
A simple fix instead of installing a module is to do like below until fixed in next release:

Goto >. ..../vendor/magento/module-sales/Model/Order/Email/SenderBuilder.php
Edit function configureEmailTemplate() and add this line $this->transportBuilder->setFrom($this->identityContainer->getEmailIdentity());
to show like below:
protected function configureEmailTemplate()
{
$this->transportBuilder->s

[2018-06-14 15:21] gwharton commented on #14952
Ive removed this revert from my store and gone back to the release version and it is now working fine. I have no idea why so many are seeing this issue anymore. However leaving the release code in place causes any function that sends multiple emails in one operation to send only the first, the remaining emails fail with exception.

[2018-06-14 15:23] sashas777 commented on #14952
@msawyers
![Edit the core](https://d21ii91i3y6o6h.cloudfront.net/gallery_images/from_proof/11223/large/1458314216/hey-did-you-just-edit-the-core.png "Edit the core")

[2018-06-14 15:28] msawyers commented on #14952
@sashas777

I did this:
copy from the previous version to:
app/code/Magento/Sales/Model/Order/Email/SenderBuilder.php
lib/internal/Magento/Framework/Mail/Template/TransportBuilder.php

[2018-06-14 15:35] sebfie commented on #3283
Do you have pr or code change related to this on 2.3 branch?

[2018-06-14 16:03] techspot commented on #6746
**THIS SOLUTION WORK FOR ME:** First i need select the country of the currency that i need, in  Store Configuration > General > Store Information > Country

After i can change the currency in Currency Configuration

[2018-06-14 16:19] gwharton commented on #14952
If anyone can reproduce this issue on demand, could they please attempt to diagnose/trace this issue by debug as I am no longer able to reproduce it. If anyone has this fault on a dev install, and would be ok with me connecting remotely to their install to debug then that would be great also. Get in touch.

I have deployed various test stores, vanilla 2.2.4, and 2.2.3 upgraded to 2.2.4 and all wor

[2018-06-14 16:24] vinothinik2010 commented on #10142
Hi,

We facing the same issue in 2.2.2 , the patch is already  have in the core module. We faced samething as mentioned in the top of the page.
We enabled the debug mode too, but we didn't get anything in debug log file.

If anyone provide solution, it will help us.

Thanks

[2018-06-14 17:00] simonfunk commented on #15886
Hi again @hostep

That fixed it for some reason. I'm not sure whether it was because we were running in developer mode before or whether it was due to explicity deploying static content while naming the theme, location and language. Shouldn't it deploy all languages if none are named? And developer mode alone shouldn't be an issue either in my opinion since we were using -f flag when deploying sta

[2018-06-14 17:22] bap14 commented on #16129
Just to be clear, a `403 Forbidden` error is returned when you try to download the file:

[code]

[2018-06-14 17:29] hostep commented on #15886
Hi @simonfunk

Static content deploy only deploys the languages it knows your project uses.

Magento looks at all the configured Locale settings (Stores > Configuration > General > General > Locale Options > Locale; default value & website specific values & storeview specific values), and it will also use locale's if they are defined in `app/etc/config.php` or `app/etc/env.php` somewhere.

But if

[2018-06-14 17:29] #15886 closed, assigned to nobody

[2018-06-14 17:44] hostep commented on #13530
Sorry guys, I still fail to reproduce your issue. It would be highly appreciated if someone could put down all the steps it takes to reproduce this on a clean installation, for example:

1. Setup a clean Magento 2.2.4
2. Apply patch https://github.com/magento/magento2/commit/7019a0a1392095185505ff3ca7b97dd3e9cb4ef2
3. In backend: configure this and that
4. In backend: execute this, and run into pr

[2018-06-14 18:07] mattyl commented on #4096
I can confirm this has just happed to us in 2.2.4 - migrated product, duplicate - 10,000s of images created till you kill the process

[2018-06-14 18:10] mattyl commented on #9466
exception log - site is multi store
[2018-06-14 13:04:03] main.CRITICAL: URL key for specified store already exists. {"exception":"[object] (Magento\\UrlRewrite\\Model\\Exception\\UrlAlreadyExistsException(code: 0): URL key for specified store already exists. at /home/m2originlive/public_html/shop/vendor/magento/module-url-rewrite/Model/Storage/DbStorage.php:220, Magento\\Framework\\Exception\\Alr

[2018-06-14 18:10] mattyl commented on #4096
exception log - site is multi store
[2018-06-14 13:04:03] main.CRITICAL: URL key for specified store already exists. {"exception":"[object] (Magento\UrlRewrite\Model\Exception\UrlAlreadyExistsException(code: 0): URL key for specified store already exists. at /home/m2originlive/public_html/shop/vendor/magento/module-url-rewrite/Model/Storage/DbStorage.php:220, Magento\Framework\Exception\AlreadyExi

[2018-06-14 18:15] hostep commented on #4096
@mattyl: might be best to continue in #9466, that's the issue which has status "Open" an has more detailed information about the problem. Especially this comment: https://github.com/magento/magento2/issues/9466#issuecomment-305824682
Also: feel free to upvote issue #9466 so it gets more attention from the Magento devs, since it's a pretty big problem.

[2018-06-14 18:22] mattyl commented on #9466
we get this exception Magento\UrlRewrite\Model\Exception\UrlAlreadyExistsException
but it continues to create 10,000s of images in 2.2.4 multi store with migrated products (original comment in #4096

[2018-06-14 18:38] jwcarder opened #16140 "Unable to load category checkbox tree"
### Preconditions

1. Magento 2.2.4 without sample data is installed
2. Multiple root categories are added (3)
3. Multiple subcategories added to each root category (2 each)

### Steps to reproduce
1. In Admin, navigate to Marketing-Catalog Price Rule
2. Add a new rule
3. Under conditions, add a condition and select Category
4. Click on the ... link
5. Click the open chooser button

### Expected r

[2018-06-14 18:42] hostep commented on #16140
Hi @jwcarder

I'm going to close this issue as it duplicates https://github.com/magento/magento2/issues/15121, which already got fixed in https://github.com/magento/magento2/pull/15265 (https://github.com/magento/magento2/commit/d9dc66cfc5e1988bd8673c2cfdd1de2b85f0a3c6) and the fix should get included in Magento 2.2.5

[2018-06-14 18:42] #16140 closed, assigned to nobody

[2018-06-14 20:12] artskeem commented on #10343
Magento 2.2 is having the same problems - using a fresh install with no errors - and using image magic

[2018-06-14 20:12] oscar10176 commented on #8426
I solved this problem deleting the tier prices directly from de database
you can find them on this table "CATALOG_PRODUCT_ENTITY_TIER_PRICE" just delete the row

[2018-06-14 21:12] chequille commented on #14952
@gwharton sorry, but on my page when I use the code for app/code/Magento/Sales/Model/Order/Email/SenderBuilder.php from the release, the problem still exists.

Why should it work now, if nothing was changed in the code?

There is no new release, therfore, I really do not understand what you are talking about.
Fact is: 2.2.4 is not using Store Email Adresses and Names when sending EMails.

BR
Chequ

[2018-06-14 21:18] gwharton commented on #14952
I upgraded from 2.2.3 to 2.2.4 and it stopped working. I reverted the code to 2.2.3 and it started working again. I changed code back to 2.2.4 and it still works. I deploy fresh 2.2.4 and it works.

I dont know whats going on either.

[2018-06-14 21:38] AidanThreadgold commented on #15935
I have reproduced this Magento Commerce 2.2.3.

[2018-06-14 22:00] juharintanen commented on #12509
Can confirm the problem and @novakivskiy suggested modification did cure the problem! Thank you!

[2018-06-14 22:43] ericvhileman commented on #15935
Confirmed in versions | 2.1.11 | 2.2.1 | 2.2.2 | 2.1.9

[2018-06-14 23:00] ccasciotti commented on #16129
Same issue for me, upgrading from 2.2.2 to 2.2.4.
Composer stop on `klarna/module-ordermanagement` installation and removes some php files from `bin/` and `app/` folders, like `bin/magento` e `app/bootstrap.php`.
I have to revert composer.json and lock to previous versions (2.2.2 for me), re-run composer install to restore them

[2018-06-15 00:05] mariamghalleb commented on #12413
Same issue, magento 2.2.4

[2018-06-15 00:38] sashas777 commented on #14952
@gwharton

You can use temporary patch https://github.com/sashas777/bug-from-email
It easy to install and it will ask you to do uninstall after the upgrade

[2018-06-15 03:48] Ananth747 commented on #16013
Hi, please try using only **.com** or **.co** and setup separate domain in your local, using:
- Without Magento 2 files
- Just index.php - with echo "hello world"; (without .htaccess file)
Q1. Do you see "hello world" in your browser?
- Add Magento 2's .htaccess files in this directory (without complete Magento 2 files)
- Now test with index.php then test without index.php
Q2 Do you see "hello wor

[2018-06-15 06:49] archonkulis commented on #5929
I'm also seeing this in the Magento 2.2. All I know is that the client used some kind of migration tool ( don't know the details, nor the from which version, nor which migration tool, etc )

But, what I have noticed, is following:

There are `url_path` entries in the database for the product, which aren't updating when you save the product in the back-end. Only `url_key` is updating.

Then, there

[2018-06-15 06:52] hostep commented on #14952
@gwharton, just guessing here: you didn't apply any other patches for 2.2.4 which might seem unrelated to this one? Maybe one of those other patches fixes this issue as well somehow ...

[2018-06-15 07:08] orlangur commented on #5929
@hypershopbv new products on a clean instance or on instance migrated from M1?

Just that bugs in migration tool should be fixed in migration tool, not in core.

[2018-06-15 07:22] sarfaraj-php commented on #2834
@mage-sourav , i have same problem value is not save to database and not able to get that attribute in frontend header file.

[2018-06-15 07:36] sebfie commented on #3283
I tried on 2.3-develop branch, it does not work

[2018-06-15 07:49] careys7 commented on #16129
For us, the workaround mentioned here doesn't work: https://github.com/magento/magento2/issues/16129#issuecomment-397289956

I receive this:

[code]

[2018-06-15 07:52] ananth-iyer opened #16149 "Guest checkout shipping form blank on checkout page refresh"
### Preconditions
1. PHP 7.0
2. Apache 2.4
3. Magento 2.2.2

### Steps to reproduce
- Admin Settings:
1. Persistent Shopping Cart = Enabled
2. Persist Shopping Cart = Yes or No (I've checked both conditions)

- Frontend:
1. Homepage: create's cookie - "mage-cache-sessid" = true
2. Add to cart - delete's cookie "mage-cache-sessid"
3. Visit checkout page - delete's cookie "mage-cache-sessid"
4. Fill

[2018-06-15 07:58] quisse commented on #16129
@careys7 Are you updating magento or making a fresh install? I was upgrading. (updated original comment)

[2018-06-15 08:02] careys7 commented on #16129
@quisse We have a running version of 2.2.4. `composer install` stopped for some of our team yesterday, and has worked its way through to CI (as caches have started to expire I guess)

[2018-06-15 08:02] OvalMedia opened #16150 "Feature Suggestion: Attribute notes"
I would like to see the possibility to add notes to attributes so they would show up in the admin interface.
There is a note field in the eav_attribute table but that can only be filled via an install or update script or directly in the database.

Why not enhance the admin interface and make it editable?

[2018-06-15 08:05] TreyTaylor1997 commented on #16013
@Ananth747

Q1: Yes, I have a whole ton of localhost websites all using .local and working, using symfony4, to wordpress to OOP-based code with bespoke frameworks.

Q2: yes it works with the .htaccess

[2018-06-15 08:08] quisse commented on #16129
@careys7 Can you check if the module is enabled somewhere? Here one of our team members updated magento in a project to 2.2.4 and i was pulling & installing the latest version of the project and adding that line & run composer install again solved the checksum issue...

[2018-06-15 08:15] pixiemediaweb commented on #7874
hi @woutersamaey yes sure - it was the Wyomind module.

[2018-06-15 08:35] webcrew-au commented on #15977
Hi - Just wondering if anyone has any ideas here???

[2018-06-15 08:36] magento-engcom-team commented on #13692
Hi @NeosKnowledgeBasePluswerk. Thank you for your report.
The issue has been fixed in magento/magento2#15344 by @rakesh-gangani in 2.2-develop branch
Related commit(s):
 - [97a1eceb4b11cce4cc754bb06b6f95cc8a3ec7ae](https://github.com/magento/magento2/commit/97a1eceb4b11cce4cc754bb06b6f95cc8a3ec7ae)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-15 08:36] #13692 closed, assigned to rakesh-gangani

[2018-06-15 08:36] magento-engcom-team commented on #15255
Hi @tizzyguy87. Thank you for your report.
The issue has been fixed in magento/magento2#15534 by @andreagaspardo in 2.2-develop branch
Related commit(s):
 - [18bbf2193a774d4f7db63187ff168a8f2a2690a0](https://github.com/magento/magento2/commit/18bbf2193a774d4f7db63187ff168a8f2a2690a0)

The fix will be available with the upcoming 2.2.6 release.

[2018-06-15 08:36] #15255 closed, assigned to nobody

[2018-06-15 08:50] Axel29 opened #16152 "Web base urls configuration fields filtered"
### Preconditions

1. Magento: 2.2.3
2. PHP: 7

### Steps to reproduce

1. Set up Magento with pub folder as webroot
2. Set base URLs manually in configuration (Store > Configuration > General > Web) using placeholders (e.g: `{{unsecure_base_url}}media/` for configuration path `web/unsecure/base_media_url`)
3. Save configuration

### Expected result

1. The configuration should be saved in databas

[2018-06-15 08:51] quisse commented on #7874
@pixiemediaweb Can you please specify what Wyomind module? Wyomind is a vendor which has multiple modules.

[2018-06-15 08:56] Axel29 commented on #9111
Hi,

Thank you for your solutions, I've been debugging this problem for a moment now!
The only thing is that I also had to change the `web/(un)secure/base_static_url` paths to `{{(un)secure_base_url}}static/` to make it work.

[2018-06-15 09:20] hostep commented on #16152
@Axel29: thanks! Good to see other people are running into this problem as well.

I'm going to close this tough, as it's a duplicate of https://github.com/magento/magento2/issues/15972

[2018-06-15 09:20] #16152 closed, assigned to nobody

[2018-06-15 09:22] sidolov commented on #15832
Hi @DanielRuf. Thank you for your report.
The issue has been fixed in magento/magento2#16037 by @chirag-wagento in 2.1-develop branch
Related commit(s):
 - [324ee503d0fa0ec042e220c92384143efbf110d2](https://github.com/magento/magento2/commit/324ee503d0fa0ec042e220c92384143efbf110d2)
 - [41b4775b2d953cba7b7065a1c0d6ec3a088099c2](https://github.com/magento/magento2/commit/41b4775b2d953cba7b7065a1c0d

[2018-06-15 09:27] pixiemediaweb commented on #7874
Hi @quisse - as I said above - its their Elastic Search module

[2018-06-15 09:47] Axel29 commented on #16152
Hi @hotstep, thank you for your feedback, I didn't find your issue.

[2018-06-15 09:50] gouravsyscraft commented on #9307
Thank you very much @saeohioalpha . You save my day. your solution is working fine but i am confused like each time when i will create configurable product then i need to do this step?

Still magento not resolved this issue?

[2018-06-15 09:52] quisse commented on #7874
Oh k, sorry. Forgot what I've said.

[2018-06-15 09:53] ghost opened #16156 "Issues While adding 3rd Party jQuery Library to Module"
### Preconditions

1.  Magento CE 2.2.4 , PHP 7.1 ,Apache/2.4.23

### Steps to reproduce

1.  Create Sample Frontend Module
2.  Try to include Croppie JS for Image Crop
3.  Declare Dependency with requireJS
4.  Use In template file for achieving scope

`var config = {
 map: {
   '*': {
       croppie: 'Vendor_Module/js/croppie.min',
     }
   }};`

**Use in Template like**

`require(['jquery', 'cr

[2018-06-15 10:23] jitendra-cedcoss opened #16158 "Magento 2.2.3, In block grid after apply filter gives blank csv in export."
**Preconditions:**

1.In a block grid csv export functionality we get a blank csv after apply filter (more than one).
example of block grid : Newsletter Subscribers

**Steps to reproduce**

- Go to Marketing >> Marketing >> Communications >> Newsletter Subscribers
- Apply filter on a Customer First Name, Customer Last Name (more than one column) , make sure you get a record in a grid.
- Select opt

[2018-06-15 10:25] pemann commented on #14476
@magento-engcom-team Any progress on this one?

[2018-06-15 11:04] pieal86 commented on #12527
same issue.. with multiple store.
Product page also in cart page price getting divided by 100.
Any Proper Solution?

[2018-06-15 11:42] Hexmage commented on #7730
@magento-engcom-team I agree with @drew7721 this is still an issue in 2.2.2

[2018-06-15 11:54] dwaynebartels opened #16161 "Assigning websites when creating products is not possible"
We would like to be able to assign websites when creating a product.
This is not possible in Magento C.E. 2.2.4 and older.

### Preconditions

1.  Magento ver. 2.2.4
2.  Postman 6.0.10

### Steps to reproduce

1. Create a second website in Magento.

2. Create a product and set extension_attributes, website_ids to 2
![afbeelding](https://user-images.githubusercontent.com/7535994/41466250-bffbf412-7

[2018-06-15 11:56] DanielRuf opened #16163 "testing new instance feature"
@magento-engcom-team give me 2.2.4 instance

[2018-06-15 11:57] DanielRuf commented on #16163
@magento-engcom-team give me 2.3 instance

[2018-06-15 12:04] TreyTaylor1997 commented on #16013
can confirm domain is no issue:

![image](https://user-images.githubusercontent.com/8513738/41467007-a005b422-709c-11e8-8188-efe70334b898.png)

[2018-06-15 12:07] mamunur34 commented on #12527
yes, I got my issue solved. I will share you. But will take some time. Now very busy with some social events here. I might do it Monday. would you please touch me on Monday? I can help you until you get the solution.

[2018-06-15 12:29] orlangur commented on #16163
Looks like only PRs are supported :)

[code]

[2018-06-15 12:30] orlangur commented on #16163
Hmmm,

"for Issue or Pull Request"

is misleading then

[2018-06-15 12:33] orlangur commented on #16156
GitHub is intended for bug reports, please use [Magento Stack Exchange](https://magento.stackexchange.com) for questions on how particular customization can be implemented.

[2018-06-15 12:33] #16156 closed, assigned to nobody

[2018-06-15 12:45] orlangur commented on #16150
It would complicate the things a lot. You have to think about ACL - which admin can view and which can edit such notes.

Sounds more like a documentation and it is much more convenient to not keep it within Magento.

Is there any example of similar documentation functionality in Magento currently?

[2018-06-15 12:51] OvalMedia commented on #16150
Wow, such a seemingly simple task "complicates things a lot"? Not really flexible.

Quite the opposite. It makes a lot of sense to display a simple two-liner that explains the purpose of a particular field rather than plowing through the documentation.

Not that I know of. That's why I am suggesting this feature. I have built many magento stores with a lot of attributes. And it always bugged me th

[2018-06-15 12:54] DanielRuf commented on #16163
Exactly. I thought I could use it to create a test instance for projects where we can not give the URL or some text description is not enough and a real demo would be needed.

[2018-06-15 12:55] ymarc77 commented on #15620
I noticed this same problem… Any diacritics in the subject line is converted to "?".

[2018-06-15 12:59] jeffmowens commented on #14856
Confirmed bug on 2.2.3.  Previous to 2.2.3, it was over 24 hours, but with 2.2.3 it's now exactly 24 hours off.

Also, the Delivered On declaration is present and showing a date in the future (when the package was not yet delivered).

[2018-06-15 13:27] kemexyz commented on #15620
@ymarc77 Tell as your Magento Version please

[2018-06-15 13:28] mihaifaget opened #16165 "Sales Emails Async Sending issue"
Working on a clean magento 2.2.4.

## Preconditions

Magento Version 2.2.4
## Steps to reproduce

Enable Async sending from Stores->Configuration->Sales->Sales Emails->Asynchronous sending. Create 2(or more) orders. Run cron(twice if you don't already have sales_send_order_emails scheduled)
## Expected result

An order email should be sent for each order in the queue.
## Actual result

Only 1 emai

[2018-06-15 13:28] ymarc77 commented on #15620
Magento 2.2.4, noticed on 2.2.3 too.

[2018-06-15 13:39] kemexyz commented on #15620
Did you recently Upgrade to 2.2.X ?

The affected Magento was only affected when I upgraded to 2.2.4 from 2.1.x

[2018-06-15 13:43] ymarc77 commented on #15620
No. I migrated from 1.8.1 to 2.2.1, then updated to 2.2.2 and 2.2.3.

[2018-06-15 13:46] aingham commented on #16129
@quisse This workaround worked for me. I was doing a fresh install on a free trial.

[2018-06-15 13:49] maderlock opened #16167 "Disabling Amazon Payments on web wizard install breaks checkout"
### Preconditions
1. Magento 2.2.4

### Steps to reproduce

    1. Install 2.2.4 via composer using magento/product-community-edition
    2. Start web wizard
    3. During install choose to leave Amazon Payments disabled
    4. Add a product and enable an offline payment method
    5. Add product to cart on frontend and visit checkout

### Expected result:

To see checkout

### Actual result:

Fol

[2018-06-15 14:08] salelsol commented on #14964
Same issue:
Module 'Magento_Sales':
Upgrading data.. We can't save the address:
Email has a wrong format
but any solution works for me. Any more solution ??

[2018-06-15 14:24] weverson83 opened #16168 "The value 'Vendor\Xxx5\Model\Queue\Consumer::processMessage' is not accepted by the pattern '[a-zA-Z\\]+::[a-zA-Z]+'."
The xml validator fail when you pass a class with numeric value in it's namespace.

### Preconditions
Magento 2.2.2
magento/framework-message-queue

### Steps to reproduce
1. Create etc/queue.xml file
[code]
2. Run `bin/magento setup:upgrade`

### Actual result
The value 'Vendor\Xxx5\Model\Queue\Consumer::processMessage' is not accepted by the pattern '[a-zA-Z\\]+::[a-zA-Z]+'.

### Work arround
Cr

[2018-06-15 15:28] simonmaass commented on #16129
having the same issue

[2018-06-15 15:49] springerin opened #16171 "Import failed: Area code not set: Area code must be set before starting a session."
### Preconditions

1. Magento 2.2.3 or 2.2.4
2. PHP 7.1.18
3. Ubuntu 16.04.4 LTS
4. mysql  Ver 14.14 Distrib 5.7.22-22, for debian-linux-gnu (x86_64) using  6.3

### Steps to reproduce

1. clean install of Magento 2.2.3 or 2.2.4
2. bin/magento app:config:dump
3. bin/magento app:config:import
4. change only the base_url in the env.php files
`      'web' =>
      array (
        'unsecure' =>

[2018-06-15 17:17] Ctucker9233 commented on #15188
Same issue here. Any idea what version this will be fixed in?

[2018-06-15 18:42] springimport opened #16172 "Order factory instead of repository in Invoice"
### Preconditions
1. Magento 2.2.3.
2. Get order from invoice.

### Steps to reproduce
1. Get invoice.
2. [Get order](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Sales/Model/Order/Invoice.php#L236) from invoice.

### Expected result
[code]

### Actual result
[code]

[2018-06-15 20:03] nlwstein commented on #12073
@indefinitedevil I noticed an issue with your module where when I called the REST API endpoint "/rest/all/V1/products" in some circumstances, it would trigger parent class behavior and therefore not have access to some of the dependencies set in your override class.

Simply adding an invocation of the parent constructor seemed to resolve the issue: https://github.com/indefinitedevil/m2-catalog-fix

[2018-06-15 20:11] FreekVandeursen opened #16173 "Console command can break setup"
### Preconditions
1. Magento 2.2.4
2. Empty database

### Steps to reproduce
1. Create a module, containing a console command
2. Use ProductRepositoryInterface in console command constructor
3. run bin/magento setup:install <install parameters>

### Expected result
1. Setup completing succesfully

### Actual result
1. Database exception, claiming table 'website' does not exist

### Analysis
The ro

[2018-06-15 20:53] orlangur commented on #16172
@springimport please provide information on undesired system behavior (buggy). Obtaining order via factory is still valid and may occur in legacy code.

[2018-06-15 20:53] gwharton commented on #16165
I suspect that it might be this commit that broke this in 2.2.4 by @RomaKis, although further checks should be made to be sure.

https://github.com/magento/magento2/commit/f2bfdd941c0c8c6c7c745156d1ce206e38c76820

There were changes made to the email senders to fix issue #11740.

An unintended consequence of this commit is that if multiple emails are sent under the same process, i.e a cron process

[2018-06-15 20:57] tiagosampaio opened #16174 "Admin tabs order not working properly"
When you add 2 or more tabs to admin area, like order view page, by using the method `addTabAfter` and the second new tab is placed after the first new tab the sort order does not work as expected.
### Preconditions

1. Magento 2.2.4
2. PHP 7.1.13
3. MySQL 5.6

### Steps to reproduce

Example:

I created a module which make changes for the `sales_order_view` handle in admin area and in my file `Ve

[2018-06-15 21:03] orlangur commented on #16150
Such note, like many other database columns, is not supposed to be editable via UI.

Features cannot be introduced out of the blue. It is not enough to just implement notes for attributes but it should be defined which other Magento areas require similar functionality. Probably it is not even needed within Magento, there are services allowing to collaborate in comments for arbitrary URLs.

This re

[2018-06-15 21:03] #16150 closed, assigned to nobody

[2018-06-15 21:20] nathancasebolt opened #16176 "500 Internal Server Error caused by conflicting web values in system_config_snapshot"
**Preconditions**
1. Magento Open Source 2.2.3
2. Ubuntu 16.04.1
3. PHP 7.1.17

**Steps to reproduce**
1. Set up two instances of Magento 2.2.3 in separate Ubuntu environments (e.g., site1 and site2), both instances sharing the same database.
2. Add the following configuration entries to env.php:
[code]

3. Add similar values to site2's env.php file, but use `https://site2.com` for the `web_secure

[2018-06-16 04:46] Ananth747 commented on #16171
From the `env.php` file you had manually setting `store url` and `Area code` means `store/website id`.

You have to set `MAGE_RUN_TYPE` & `MAGE_RUN_CODE` in the `index.php`
`MAGE_RUN_TYPE` means `store` or `website`

Reference to setup multiple stores or websites: https://devdocs.magento.com/guides/v2.2/config-guide/multi-site/ms_over.html

[2018-06-16 05:18] Jakhotiya opened #16184 "Argument 1 passed to Magento\Sales\Model\Order\Payment must be an instance of Magento\Framework\DataObject, none given"
https://github.com/magento/magento2/blob/cc85cbe1a1220225905440b4b71e144df2540d58/app/code/Magento/Authorizenet/Model/Directpost.php#L820

### Preconditions
Magento2 2.2 dev branch

### Steps to reproduce
1. Setup authorizenet
2. Setup a plugin that uses declineOrder method of the Directpost model
2. Checkout with authorizenet

### Expected result
Order is declined

### Actual result
Uncaught Type

[2018-06-16 08:38] kaman7114 opened #16185 "[HELP Wanted] One or more indexers are invalid. Make sure your Magento cron job is running."
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1. [Screenshots, logs or description]

### Actual result

1. [Screenshots, logs or description]

[2018-06-16 08:49] xpoback commented on #7176
@magento-engcom-team Please only add labels "_Fixed in x_" if the issue has really been fixed in the _release_, not just in the dev branch. So far it is present in 2.2.x and most probably also in 2.3.x releases and no fix reports have been appearing here.
If it has been fixed, please, provide the commit or PR.

[2018-06-16 08:52] JoshuaFlood commented on #15957
It seems incredibly common and caused by all kinds of different things, from what I've read, though I haven't found any reports of exactly the same error message. Are you having problems with the `setup/html` symlink as well?

I have added this issue as a question to the [magento stackexchange](https://magento.stackexchange.com/questions/229241/magento-2-2-web-setup-wizard-cron-script-readiness-ch

[2018-06-16 09:06] JoshuaFlood commented on #14803
Ah thanks mate.. I've only recently begun to raise issues here. Still getting used to best practice.

[2018-06-16 09:29] kkrieger85 commented on #15620
#mhlej18

[2018-06-16 09:29] magento-engcom-team commented on #15620
@kkrieger85 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-06-16 09:33] kkrieger85 commented on #15620
@magento-engcom-team give me 2.2.4 instance

[2018-06-16 09:33] magento-engcom-team commented on #15620
Hi @kkrieger85. Thank you for your request. I'm working on Magento 2.2.4 instance for you

[2018-06-16 09:34] magento-engcom-team commented on #15620
Hi @kkrieger85, here is your [Magento instance](https://i-15620-2-2-4.engcom.dev.magento.com).
Admin access: [https://i-15620-2-2-4.engcom.dev.magento.com/admin](https://i-15620-2-2-4.engcom.dev.magento.com/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2018-06-16 09:45] kkrieger85 commented on #15620
I cannot not reproduce this issue with Vanilla Magento 2.2.4

[2018-06-16 09:46] therouv commented on #5023
#mhlej18

[2018-06-16 09:46] magento-engcom-team commented on #5023
@therouv thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2018-06-16 09:52] kkrieger85 commented on #15620
E-Mail template:
<img width="1304" alt="bildschirmfoto 2018-06-16 um 11 46 49" src="https://user-images.githubusercontent.com/4435523/41497730-708c0d6c-715b-11e8-81b8-9c9a9d84c301.png">

Settings:
<img width="1314" alt="bildschirmfoto 2018-06-16 um 11 49 31" src="https://user-images.githubusercontent.com/4435523/41497729-7071b642-715b-11e8-9fca-38ab54d1b3ad.png">

Order email (opened in Airmail3)

[2018-06-16 09:54] kkrieger85 commented on #15620
E-Mail source:

`Subject: Für völligen Spaß Your Main Website Store order confirmation`