[2019-10-31 13:22] Khushbu-Webkul-QA commented on #25404
@magento give me 2.3-develop instance

[2019-10-31 13:22] magento-engcom-team commented on #25404
Hi @Khushbu-Webkul-QA. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-31 13:23] magento-engcom-team commented on #25404
Hi @Khushbu-Webkul-QA, here is your [Magento instance](https://i-25404-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25404-2-3-develop.instances.magento-community.engineering/admin](https://i-25404-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-31 13:53] mrlerch commented on #23186
Issue is back after recent upgrade to M 2.3.3. Please fix .... again.

[2019-10-31 14:32] hostep commented on #24951
Hi @engcom-Charlie

Any reaction to the following would be appreciated! :)

[2019-10-31 14:37] engcom-Charlie commented on #24951
Hi @hostep !

I'll try to find out something :)

[2019-10-31 14:39] mahsn commented on #22964
Reproduced in 2.3.3

[2019-10-31 14:52] aleks-2a opened #25406 "Search by keywords : wrong number of records found and wrong pagination in admin/products list page"
### Preconditions (*)

1. Magento CE and EE 2.2.x/2.3.x with sample datas
2. The issue is reproductible only if you do a request which return no result and only if the field **search by keywords** is filled lonely. In all other cases, the **number of records** and the **pagination form** is correct

### Steps to reproduce (*)
1. Go in Admin >> CATALOG >> Catalog >> Products to display the products

[2019-10-31 15:10] byronrode opened #25407 "Unable to delete categories from products or products from categories when category is a sub-category"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.1.17 (Production, CentOS Linux 7 (Core)) PHP 7.2.24 (Staging, Ubuntu 18.04)
3. Error happens on both servers

### Steps to reproduce (*)

**This does not happen on top-level categories. Only on sub categories**

1. Navigate to a product category
1.1 Select a sub-category from the list of categories
1.2 Expand Products in Category
1.3 Uncheck a produ

[2019-10-31 15:11] byronrode commented on #25407
@magento give me 2.3-develop instance

[2019-10-31 15:11] magento-engcom-team commented on #25407
Hi @byronrode. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-31 15:11] magento-engcom-team commented on #25407
Hi @byronrode, here is your [Magento instance](https://i-25407-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25407-2-3-develop.instances.magento-community.engineering/admin](https://i-25407-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-31 15:19] #25346 closed, assigned to itsPranith

[2019-10-31 15:24] rhoerr commented on #25370
I believe I've been tracking the same issue. I haven't gone to older versions to verify, but I haven't seen any obvious code changes since 2.2.0 that would explain the behavior, so I suspect it's always been this way.

-----

Rough notes on what's going on, to help whoever investigates this: It has to do with hidden attributes (any not appearing on the frontend customer form) being interpreted as

[2019-10-31 15:28] filmaj opened #25408 "For JavaScript static tests, consider dropping jscs and consolidate using eslint"
### Summary (*)

The JavaScript static tests used in this project use two JavaScript linter programs: [eslint](https://eslint.org/) and [jscs](https://jscs-dev.github.io/). The [gruntfile that tests for various magento projects use includes running both](https://github.com/magento/magento2/blob/2.3-develop/dev/tools/grunt/tasks/static.js#L24-L25).

You will note on the jscs website that the projec

[2019-10-31 15:29] itsPranith commented on #25406
@aleks-2a - I'm able to reproduce this issue in CE-2.3.3 by entering random string i.e. '#'.
It returned the below output.

![Category](https://user-images.githubusercontent.com/56586384/67961115-47309f80-fc21-11e9-94e0-4b40464ae9d3.PNG)

Thank You,
Pranith

[2019-10-31 15:29] byronrode commented on #25407
Does not seem to be an issue on a vanilla instance of `2.3-develop` however this was not an issue prior to updating from `2.2.x` to `2.3.x`.

The issue is that the on line `183` where `$mergeDataProvider = clone $this->mergeDataProviderPrototype;` runs: `$this->mergeDataProviderPrototype;` is null.

[2019-10-31 15:30] byronrode commented on #25407
I am going to do some more investigation.

[2019-10-31 16:02] TomashKhamlai opened #26110 "Bundle product with option type radio and dropdown can be added to the cart with multiple choices"
### Preconditions (*)

1. Sample Data

### Steps to reproduce (*)

1. Add product to the cart
[code]

### Expected result (*)

1. Some message that complains about invalid input for BundleItem.type: radio/dropdown

### Actual result (*)

1. Successfully added to cart

### Additional information
The issue was confirmed again on the lates `2.4-develop` code. May 28, 2020
In general it is possible to

[2019-10-31 16:07] lenlorijn opened #25410 ""is_subscribed" extension attribute not populating in customer GET /V1/customers/search?searchCriteria API"
It looks like internal bug MAGETWO-71829 was not fully solved. It made the "is_subscribed" field available in the API.
However this was not done for results of the search?searchCriteria API method.

More information: https://github.com/magento/devdocs/issues/1384
### Preconditions (*)
1. Magento is at version 2.3.2 & 2.3-develop

### Steps to reproduce (*)
1. Install Magento
2. Add one or more cus

[2019-10-31 16:25] rafaelstz opened #25411 "Magento_Analytics wrong link"
### Preconditions (*)
1. I'm using Magento 2.3.3

### Steps to reproduce (*)
1. Access the admin panel
2. Click in this link circled in the image below.

![Magento2 admin panel report link](https://user-images.githubusercontent.com/610598/67963840-082d2a80-fbde-11e9-8baa-f96efa53ba1e.png)

### Expected result (*)

1. In my opinion, it should go to the [login page](https://dashboard.rjmetrics.com/v

[2019-10-31 16:31] magento-engcom-team commented on #25411
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-31 16:31] magento-engcom-team commented on #25411
Hi @itsPranith, here is your [Magento instance](https://i-25411-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25411-2-3-develop.instances.magento-community.engineering/admin](https://i-25411-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-31 17:07] sdzhepa commented on #25411
Hello @rafaelstz  and @itsPranith

It looks like very similar to this https://github.com/magento/magento2/issues/24180
Previously issue was closed as cannot reproduce because after enabling Adv. Reporting need some time for initial synchronization. It mentioned in DevDoc, the last point of [Step 1: Enable Advanced Reporting](https://docs.magento.com/m2/ce/user_guide/reports/advanced-reporting.html

[2019-10-31 17:34] praniljoshi13 commented on #12396
Hey same issue i am getting in magento2.2.6 . how to fix it?

[2019-10-31 17:41] magento-engcom-team commented on #21573
Hi @svossen.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [d218fd189b1b2b872d15e441eed9852f9ffcbfad](https://github.com/magento/magento2/commit/d218fd189b1b2b872d15e441eed9852f9ffcbfad)
 - [31bdcf568c5ac8e844e2e171c2f3e4351a8a402c](https://github.com/magento/magento2/c

[2019-10-31 17:41] #21573 closed, assigned to nobody

[2019-10-31 17:51] rafaelstz commented on #25411
Hi @sdzhepa,

It's not the same issue because today it's not considering if the Magento BI token is configured, even if it's not synchronized yet.
I created this [PR](https://github.com/magento/magento2/pull/25412) to check if the Magento BI token is configured, if it's configured and not synchronized, it will redirect to the same page, if it's not configured it will redirect to the doc page.

[2019-10-31 18:05] NicholasRoge opened #25413 "Error in Static Test Framework Dependency PHP Rule Test"
### Preconditions (*)

1. Magento Version: 2.3.3 EE
2. PHP Version:  7.2.24
3. Installed via `composer create-project --repository=https://repo.magento.com/ magento/project-community-edition:2.3.3`

### Steps to reproduce (*)

1. `composer create-project --repository=https://repo.magento.com/ magento/project-community-edition:2.3.3 magento2`
2. `cd magento2/dev/tests/static/framework/tests/unit`
3

[2019-10-31 18:09] mrlerch commented on #23186
I ended up moving the 2 files as mentioned in Rob's post and it is working again. Why can't someone update this???????

vendor/magento/module-paypal/view/frontend/templates/payment/mark.phtml
vendor/magento/module-paypal/view/frontend/templates/payment/redirect.phtml
needs to be moved to
vendor/magento/module-paypal/view/base/templates/payment/mark.phtml
vendor/magento/module-paypal/view/base/temp

[2019-10-31 18:22] magento-engcom-team commented on #25411
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22634` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-10-31 18:58] sdzhepa commented on #24426
@magento give me 2.3.3 instance

[2019-10-31 18:58] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-10-31 18:59] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-24426-2-3-3.instances.magento-community.engineering/admin](https://i-24426-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-31 19:43] gaiterjones commented on #25073
@dev-Z-Apx are you actually using Magento shipping or just using the product attributes installed by the module? Disabling the Temando_Shipping module will let you access the product attributes again.

[2019-10-31 20:30] tomekjordan commented on #25364
its not a bug, its your private expectation. since M1 catalog price rules deduct price from original price. the lowest price is used. always. and its default Magento behavior

[2019-10-31 21:33] scottw-finao commented on #13961
Our solution was to drop magento entirely

On 10/31/19 3:54 AM, haiwera wrote:

[2019-10-31 21:40] sdzhepa commented on #18802
Hello @xi-ao @seyuf @TomashKhamlai

Could you please confirm is it still actual for `2.3-develop` latest code?

I see that related internal Jira tickets(`MAGETWO-96261`, `MC-5501`) has been closed with a resolution **Cannot Reproduce** and comment that it was fixed

[2019-10-31 21:58] torhoehn commented on #6682
@magento give me 2.3-develop instance

[2019-10-31 21:58] magento-engcom-team commented on #6682
Hi @torhoehn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-31 21:59] magento-engcom-team commented on #6682
Hi @torhoehn, here is your [Magento instance](https://i-6682-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-6682-2-3-develop.instances.magento-community.engineering/admin](https://i-6682-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-31 22:23] mattbolton-melon opened #25420 "Ampersand or Plus sign in product attribute option value not saved"
### Preconditions (*)

1. Magento 2.3.2
2.

### Steps to reproduce (*)

1. Add or Edit a drop-down attribute
2. Save an attribute option value of "1 & 1"
3. Save an attribute option value of "1 + 1"
4. Save attribute

### Expected result (*)

1. Attribute option values are the same as entered originally
![Screen Shot 2019-10-31 at 3 10 23 PM](https://user-images.githubusercontent.com/56836835/6799

[2019-10-31 23:02] mattbolton-melon commented on #25420
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-10-31 23:02] magento-engcom-team commented on #25420
Hi @mattbolton-melon. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-10-31 23:02] magento-engcom-team commented on #25420
Hi @mattbolton-melon, here is your [Magento instance](https://i-25420-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25420-2-3-develop.instances.magento-community.engineering/admin](https://i-25420-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-10-31 23:07] mattbolton-melon commented on #25420
Not reproducing on dev-2.3-develop
Just 2.3.2

[2019-10-31 23:07] MichaelThessel commented on #25053
Looks like this has been fixed by: #23862 This will still trigger scrolling but only if the extended content extends beyond the bottom of the viewport.

[2019-10-31 23:07] #25053 closed, assigned to vivekkumar945744

[2019-10-31 23:19] emirajbbd commented on #25338
@Thomas-gt3 Upload the patch files into magento_root/patches
[patches.zip](https://github.com/magento/magento2/files/3796135/patches.zip)
![2019-11-01_0515](https://user-images.githubusercontent.com/63784/67992480-13786880-fc67-11e9-8763-5d6cca11b5fa.png)
Check the attached screenshot and add the 'extra' part to your composer.json
run composer require cweagans/composer-patches

[2019-11-01 00:33] CronoxAU commented on #25395
@magento give me 2.3-develop instance

[2019-11-01 00:33] magento-engcom-team commented on #25395
Hi @CronoxAU. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-01 00:33] magento-engcom-team commented on #25395
Hi @CronoxAU, here is your [Magento instance](https://i-25395-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25395-2-3-develop.instances.magento-community.engineering/admin](https://i-25395-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-01 01:03] CronoxAU commented on #25395
On the 2.3-develop build the issue is slightly different but I believe the underlying problem is still occurring.

There is no longer any error when attempting the edit an order but the checkbox options don't load into the configure product section meaning the user can't see what options are selected on this item:
![image](https://user-images.githubusercontent.com/23115040/67995635-73323c00-fc86-1

[2019-11-01 04:17] samumaretiya commented on #23411
Hi @hostep & @chequille & @david-fuehr ,

I've recently upgraded from Magento 2.2.6 to Magento 2.3.2. I can see that you guys have made a patch to resolve the No such entity with customerId but it just doesn't work yet.

See the code base for session.php that I have. I'd really appreciate any suggestions to fix it or quick help.

`<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See

[2019-11-01 04:34] JannPadley commented on #25171
I also have exactly the same problem after upgrade to 2.3.3

Following make no difference:
a) disable extensions
b) disable Google reCAPTCHA
c) enable developer mode
d) disable cache
e) disable DKIM signing for non-smtpd messages (postfix main.cf)

But I found a quick and dirty fix:
/vendor/magento/module-email/Model/Transport.php
Change line 93 as follows:
before fix: $zendMessage = Message::from

[2019-11-01 04:46] erfanimani commented on #21904
No worries, thanks for checking @Tjitse-E

Seems Magento Core is also doing it that way.. https://github.com/magento/magento2/tree/2.3-develop/app/code/Magento/ImportExport/etc

[2019-11-01 06:14] niku0911 opened #25423 "Magento 2.3.3 issue on Backend Category Module"
Hi We are using magento 2.3.3 , but we facing issue on Backend Category page,

please check and update us,http://prntscr.com/pqyj6y

[2019-11-01 06:29] krishprakash commented on #25423
@magento give me 2.3-develop instance

[2019-11-01 06:29] magento-engcom-team commented on #25423
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-01 06:30] magento-engcom-team commented on #25423
Hi @krishprakash, here is your [Magento instance](https://i-25423-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25423-2-3-develop.instances.magento-community.engineering/admin](https://i-25423-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-01 06:39] krishprakash commented on #25423
Hi @niku0911 Not able to reproduce the issue on latest magento instance as described you in screenshot.
Feel free to reopen if you confirm that issue is reproduce on latest instance https://github.com/magento/magento2/issues/25423#issuecomment-548679283
Thanks

[2019-11-01 06:39] #25423 closed, assigned to krishprakash

[2019-11-01 07:26] TheRealHunzik opened #25427 "Throwing Error (Invalid Form Key. Please refresh the page.) on Form Submit in Chrome"
Throwing Error On Form Submit in Google Chrome, i have Tried this with Different Magento Version and Couple of New Installation I tried in Mozilla Firefox its working Fine There

### Preconditions (*)

1. Installed Magento 2.x (Any Version)
2. Browser (Google Chrome Version 75.0.3770.142 (Official Build) (64-bit))
3.  Server Locahost
4. OS (Ubuntu 16.04)

### Steps to reproduce (*)

1. Install Mag

[2019-11-01 07:49] niku0911 commented on #25423
Some error display in category Module in backend

**Preconditions (*)**
Magento : 2.3.3

**Steps to reproduce (*)**
Admin -> Catalog Category
Add New Category(Add Image)
After added Category successfully
update category

**Expected result (*)**
Category banner as same as firstly added image

**Actual result (*)**
Categoey Image blank and Frontside category Image linklike "imagename_1"

[2019-11-01 08:01] itsPranith commented on #25427
@magento give me 2.3-develop instance

[2019-11-01 08:01] magento-engcom-team commented on #25427
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-01 08:02] magento-engcom-team commented on #25427
Hi @itsPranith, here is your [Magento instance](https://i-25427-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25427-2-3-develop.instances.magento-community.engineering/admin](https://i-25427-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-01 08:08] niku0911 commented on #25423
can you reopen the issue?

[2019-11-01 08:24] itsPranith commented on #25427
We are able to replicate this issue in instance  @ https://i-25427-2-3-develop.instances.magento-community.engineering/admin/admin/

Please find the image for your reference
![Form Key Validation](https://user-images.githubusercontent.com/56586384/68012095-1eef8200-fcaf-11e9-8821-e9e5e4d51a24.PNG)
.

[2019-11-01 08:32] krishprakash commented on #25423
Please confirm that issue is reproduced on latest instance as instructed you here
 https://github.com/magento/magento2/issues/25423#issuecomment-548679283
Thanks

[2019-11-01 08:35] krishprakash commented on #25423
Seems the issue is already fixed in latest instance refer the issue  #25099

[2019-11-01 08:39] magento-engcom-team commented on #25427
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22675` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-01 08:40] krunallucent commented on #25427
Yes, I am facing this issue in many places.

I am facing this issue Invalid Form Key. Please refresh the page.

some times and sometimes not. 1. When I add Product to cart. 2. When I want to delete a product from a cart. 3. When I want to Update a cart. 4. When I want to Register. 5. When I load ajax Filter with own a javascript code.

[2019-11-01 08:45] hostep commented on #25427
I've seen this admin login problem happening a few times in Magento 2.3.1 and 2.3.2 (not seen yet on 2.3.3, but that doesn't mean it's not there). It's not easily to reproducible, but what always seems to fix it in our case was executing `bin/magento config:set admin/security/session_lifetime 14400` (or some other number, `900` seems to be the default)

[2019-11-01 08:46] sarveshlucent commented on #25427
Yes, I am facing this issue in many places.

I am facing this issue Invalid Form Key. Please refresh the page.

some times and sometimes not. 1. When I add Product to cart. 2. When I want to delete a product from a cart. 3. When I want to Update a cart. 4. When I want to Register. 5. When I load ajax Filter with own a javascript code.

[2019-11-01 08:50] niku0911 commented on #25423
yes got that solution, thanks for help @krishprakash

[2019-11-01 09:14] WaqarAli123 commented on #25427
i am Facing this Issue in Magento CE 2.3.3

[2019-11-01 09:45] mrtuvn commented on #25112
This issue seem not available in instance installed full sample data

[2019-11-01 09:49] sudhanshu-bajaj opened #25429 "Magento 2.3.3 : Under Cache Management section, cache type checkboxes are not aligned"
### Summary (*)

GoTo System > Tools > Cache Management
The cache type checkboxes are not aligned. Also on click doesn't work it works when we click on empty area on the right.

### Examples (*)

![image](https://user-images.githubusercontent.com/5261059/68016579-d4323200-fccf-11e9-8f3c-8908b87bedc1.png)

### Proposed solution

Should be aligned and clicking on checkbox should work.

[2019-11-01 09:57] itsPranith commented on #25429
@sudhanshu-bajaj  - This is working fine on @ https://i-25427-2-3-develop.instances.magento-community.engineering/admin/admin/cache/
![Cache Management](https://user-images.githubusercontent.com/56586384/68017151-0f2a6a80-fcbc-11e9-84ec-1589816eec81.PNG)

Hence it is not reproduce able.

[2019-11-01 10:12] itsolon opened #25430 "Product edititing not possible with disabled Temando Shipping Extension in M 2.3.3"
### Preconditions (*)
Magento 2.3.3 , PHP 7.2 FPM, NGINX , Ubuntu 18.04
we have following 3 installations
A installation migrated from 2.2 to 2.3.3 directly (migrated 1 day after release m2.3.3)
B installation directly installed 2.3.3 (installed within one week after release)
C installation 2.3.2 then migrated 2.3.3 (migrated yesterday)

### Steps to reproduce (*)
disable the module temando shippi

[2019-11-01 10:30] hostep commented on #25429
I can reproduce this on 2 installations of Magento 2.3.3 shops and on a local installation of Magento 2.3-develop (using commit 5b54f063700de1fbfd75654dba4138fb6e5ab71d).

This happens both in the Cache Management as in the Index Management grids.

I'm going to re-open for now, can somebody else reproduce this?
Thanks!

[2019-11-01 10:35] itsPranith commented on #25429
@hostep - I'm unable to reproduce even at Index management @ https://i-25427-2-3-develop.instances.magento-community.engineering/admin/indexer/indexer/list/

[2019-11-01 10:38] shikhamis11 commented on #25429
@magento give me 2.3-develop instance

[2019-11-01 10:38] magento-engcom-team commented on #25429
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-01 10:38] magento-engcom-team commented on #25429
Hi @shikhamis11, here is your [Magento instance](https://i-25429-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25429-2-3-develop.instances.magento-community.engineering/admin](https://i-25429-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-01 10:42] shikhamis11 commented on #25429
@magento give me 2.3.3 instance

[2019-11-01 10:42] magento-engcom-team commented on #25429
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-11-01 10:43] magento-engcom-team commented on #25429
Hi @shikhamis11, here is your [Magento instance](https://i-25429-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25429-2-3-3.instances.magento-community.engineering/admin](https://i-25429-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-01 10:54] magento-engcom-team commented on #23339
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22676` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-01 11:03] magento-engcom-team commented on #25429
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22678` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-01 11:06] shikhamis11 commented on #25429
Hi @itsPranith
the issue is reproducible at magento 2.3-develop and magento 2.3.3 versions at chrome latest version Version 78.0.3904.87

[2019-11-01 11:07] itsPranith commented on #25429
Thank You. I'll update chrome version and check.

[2019-11-01 11:08] ajijshekh123 commented on #25420
Give me @magento give me 2.3-develop instance

[2019-11-01 11:08] magento-engcom-team commented on #25420
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-01 11:08] magento-engcom-team commented on #25420
Hi @ajijshekh123, here is your [Magento instance](https://i-25420-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25420-2-3-develop.instances.magento-community.engineering/admin](https://i-25420-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-01 11:09] tsurkanovm commented on #22094
I've fixed this issue by restart my elasticsearch and reindexing:
[code]

[2019-11-01 11:11] daksamit opened #25431 "Misleading country_code field and missing vat_id in graphql mutation schema"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Using [setBillingAddressOnCart](https://devdocs.magento.com/guides/v2.3/graphql/mutations/set-billing-address.html) mutation, tax_id field can't be set. There is no such type in graphQL schema. Tested with fresh magento 2 and graphiQL chrome extension.
2. Misleading field name for shippingAddress and billingAddress. REST API r

[2019-11-01 11:21] ajijshekh123 commented on #25420
@mattbolton-melon - I have verified this issue in the latest Magento 2.3 Instance. Attribute value saves on proper way whichever you have entered  "1 & 1" and "1 + 1".
Magento Team already verified and closed this issue #18493.

Let me know @mattbolton-melon, Can I close this issue or not?

Thanks.

[2019-11-01 11:27] hostep commented on #25429
@itsPranith: your answer seems to imply you were testing on an older version of Chrome and it would mean it worked over there? Is that correct? What version was that?

It looks like this problem seems to be 2 folded then.
Here are some other observations from my side:

### browser-related
- Issue occurs on Chrome 78.0.3904.70 and 78.0.3904.87
- Issue does not occur in Firefox 69.0.3 and 70.0.1
- I

[2019-11-01 11:31] itsPranith commented on #25429
@hostep - The Chrome browser Version is 77.0.3865.120 (Official Build) (64-bit). On this it is working.

[2019-11-01 12:16] gabrieldagama commented on #24807
@magento I am working on it

[2019-11-01 12:18] indefinitedevil opened #25432 "Programmatically setting tier pricing fails"
### Preconditions (*)

1. Magento 2.3.3
2.

### Steps to reproduce (*)

1. Attempt to add tier prices programmatically
2. I used an observer on the catalog_product_save_before event.

The code I used is something like this:

    /** @var \Magento\Catalog\Model\Product $product */
    $cost = $product->getData('cost');
    $tierPricesRaw = [
        [
            'website_id' => 0,
            'all

[2019-11-01 12:19] eugene-shab commented on #25052
This bug related to the merge - https://github.com/magento/magento2/pull/23390

[2019-11-01 12:21] magento-engcom-team commented on #24571
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-20134` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-01 12:38] PascalBrouwers commented on #19597
Almost a year later, so should be fixed soon 🙏  /s

[2019-11-01 12:42] heldchen commented on #19597
the patches posted in this issue still apply to 2.3.3 and work fine until this is fixed for good in core.

[2019-11-01 12:54] gabriel3iri commented on #17951
Any update on this @magento-engcom-team ?

[2019-11-01 13:20] renard123 commented on #25284
@sdzhepa Thanks.
I have installed elastic search again now it works fine.
Close this issue

[2019-11-01 13:20] #25284 closed, assigned to nobody

[2019-11-01 13:21] magento-engcom-team commented on #22627
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22680` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-01 13:22] magento-engcom-team commented on #25395
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22681` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-01 13:29] renard123 opened #25433 "Close (X) not working when error come for qty"
Close (X) not working when error come for qty

### Preconditions (*)
Magento : 2.3.3

### Steps to reproduce (*)
1. Admin -> Catalog -> products
2. Add New Product
3. Advanced pricing
4. Click on Add for Customer Group Price
5. Now click on close icon

### Expected result (*)
Pop up should be close

### Actual result (*)
Pop up does not close
![image](https://user-images.githubusercontent.com/5065

[2019-11-01 13:30] krishprakash commented on #25433
@magento give me 2.3-develop instance

[2019-11-01 13:30] magento-engcom-team commented on #25433
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-01 13:30] magento-engcom-team commented on #25433
Hi @krishprakash, here is your [Magento instance](https://i-25433-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25433-2-3-develop.instances.magento-community.engineering/admin](https://i-25433-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-01 13:34] magento-engcom-team commented on #25433
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22682` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-01 14:27] krzksz commented on #9671
@magento give me 2.3-develop instance

[2019-11-01 14:27] magento-engcom-team commented on #9671
Hi @krzksz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-01 14:28] magento-engcom-team commented on #9671
Hi @krzksz, here is your [Magento instance](https://i-9671-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-9671-2-3-develop.instances.magento-community.engineering/admin](https://i-9671-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-01 14:28] engcom-Charlie commented on #22946
Hello @yash7690

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.3-develop branch by provided steps.

`trySchedule()` function is updated now:
![image](https://user-images.githubusercontent.com/51680850/68028875-9d075500-fcbe-11e9-9100-38ecf7cbcf84.png)

So i have to close this issue as not actual.
Thanks for your report!

[2019-11-01 14:28] #22946 closed, assigned to engcom-Charlie

[2019-11-01 14:41] DuckThom opened #25434 "Mail address email constructor argument type incorrect"
### Preconditions (*)
Magento 2.3.3

### Steps to reproduce (*)
[code]

### Expected result (*)
Either one of:
- Instantiating the `\Magento\Framework\Mail\Address` class with a `null` value in the email parameter should not be possible, or;
- the `getEmail` method's return type should be nullable, the same as the constructor argument ( `?string` )

### Actual result (*)
Instantiating the Address

[2019-11-01 14:42] Orims14 commented on #25403
Is there a patch for this? Having the same exact issue.

Thank You

[2019-11-01 14:47] engcom-Delta commented on #24381
Hi @rpelorosso thank you for your report. I am not able to reproduce issue by steps you described on clean 2.3-develop.

![#24381issueConsole](https://user-images.githubusercontent.com/51681379/68032435-5f0e2f00-fcc6-11e9-8e09-5fedfd0abb38.png)

![#24381issueOrder1](https://user-images.githubusercontent.com/51681379/68032444-61708900-fcc6-11e9-9c11-852029eba1b2.png)

![#24381issueOrder2](https://u

[2019-11-01 14:47] #24381 closed, assigned to engcom-Delta

[2019-11-01 15:26] edenduong commented on #25406
@magento I am working on it

[2019-11-01 15:30] hostep commented on #25390
This will probably be fixed by https://github.com/magento/magento2/pull/25181

[2019-11-01 15:55] quantumAV commented on #18148
in my situation payments from Paypal Express are coming through correctly and have a status of Processing. Paypal Web Payments Pro are coming through as Pending Payment which is incorrect however the payment does show in the order information.

In 2.3.2 numan201's fix worked and resulted in both Paypal Express and Web Payments Pro having the corret 'Processing' Status

in 2.3.3 the fix already see

[2019-11-01 16:36] thangasujithas commented on #14291
hi, where you have addded these lines.. can you please tell

[2019-11-01 16:45] ioweb-gr opened #25437 "cannot switch store view when not using store code in urls"
### Preconditions (*)
1. Magento 2.3.1
2. 2 store views for example `gr` and `en`
3. Do not use store codes in urls

### Steps to reproduce (*)
I'm not sure how to reproduce this here but I noticed on two websites that were migrated from Magento 1. I'll add the information I see on the relevant tables and perhaps this can be replicated.

#### Table `url_rewrite`

| url_rewrite_id | entity_type | e

[2019-11-01 16:48] itwebdev2 commented on #25429
It's caused by a rendering change in chrome v78. Elements with display:unset now don't align correctly.

[2019-11-01 17:24] bdandreas commented on #11182
On Chrome you might try hit F12 -> Application -> Clear storage and hit the "Clear site data" button
If you had upgraded Magento2 do also a whipe on cache and static content.
- php bin/magento2 dev:asset:clear
- php bin/magento2 generation:flush
- php bin/magento2 cache:flush of cache:clean.
Also if you use redis/varnish then flush that too.

Also the table ui_bookmark, i just trunk the table

[2019-11-01 17:36] ralbin commented on #24930
I had to adjust the patch to work with being installed with composer.  I attached it here.
[vendor-vertex-compilation-issue.patch.txt](https://github.com/magento/magento2/files/3798991/vendor-vertex-compilation-issue.patch.txt)

[2019-11-01 17:43] mattbolton-melon commented on #25420
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-11-01 17:43] magento-engcom-team commented on #25420
Hi @mattbolton-melon. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-01 17:43] magento-engcom-team commented on #25420
Hi @mattbolton-melon, here is your [Magento instance](https://i-25420-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25420-2-3-develop.instances.magento-community.engineering/admin](https://i-25420-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-01 18:02] mattbolton-melon commented on #25420
@ajijshekh123 Please close. I found that we had an old version of
_module-catalog/view/adminhtml/web/js/options.js_
which was the cause of our failure.

[2019-11-01 18:32] PiroozMB commented on #14291
hi i think it was here:  Magento\Shipping\Model\Config\Source\Allmethods

[2019-11-01 18:54] sdzhepa commented on #25403
Hello @MrAmbro

We cannot reproduce this issue using the provided steps in the description.
Verified next case:
1. Get latest Magento 2 code from composer
[code]
2. Install Magento
3. "Sign in" to the Admin panel
4. Go to **STORES > Taxes > Tax Rules**
5. Create any new test Tax Rule and save
4. Go to **STORES > Taxes > Tax Zones and Rates**
6. Create any new test New Tax Rate and save
7. Go to **

[2019-11-01 19:09] troublediehard commented on #24808
I created a workaround from the above fix for versions < 2.3.4. https://github.com/troublediehard/plab-cartsmergefix

[2019-11-01 19:14] seyuf commented on #18802
Hi @sdzhepa ,
Indeed im unable to reproduce the error.
The bug seems to be absent from current `2.3-develop`.
Tested on elasticsearch 5.6.1 with magento backend option `elasticsearch 5.0+`
[code]

Also tested on elasticsearch 6.X, with magento option `elasticsearch 6.0+` no issues there as well.

FYI:
_I encountered the error on 2.3.0 with elasticsearch 5.0.
(see @TomashKhamlai [steps to reproduce

[2019-11-01 19:59] ngreimel-lt opened #25438 "Warning: strpos() expects parameter 1 to be string, array given in vendor/magento/module-eav/Model/Entity/Attribute/Source/Table.php"
As shown in the title, an error message appears in our system.log file indicating that an array is being passed to `strpos()` which expects a string. This has been known to happen when a product attribute filter is passed as an array rather than a string value. The product grid is properly displaying products, however the filters are not appearing. This is happening on Magento 2.3.2 and has been r

[2019-11-01 20:01] ngreimel-lt commented on #25438
@magento give me 2.3-develop instance

[2019-11-01 20:01] magento-engcom-team commented on #25438
Hi @ngreimel-lt. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-01 20:02] magento-engcom-team commented on #25438
Hi @ngreimel-lt, here is your [Magento instance](https://i-25438-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25438-2-3-develop.instances.magento-community.engineering/admin](https://i-25438-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-01 20:21] ngreimel-lt commented on #25438
Confirmed present https://i-25438-2-3-develop.instances.magento-community.engineering/apparel.html?size[]=4&size[]=5

[2019-11-01 20:31] ngreimel-lt commented on #25438
Proposed patch:

[code]

[2019-11-01 21:16] princefishthrower opened #25439 "Controller Subscriber Confirm Does Not Load Subscriber via method load($id)"
### Preconditions (*)
1. 2.3.2
2. exactly this line, `load($id)` returns a `null` value, even when passed a valid subscriber ID: https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Newsletter/Controller/Subscriber/Confirm.php#L30

### Steps to reproduce (*)
1. Subscribe a customer programmatically, let's say they are assigned ID 56 and code 56t0fgby1e6v7xqgnpap1wx6jl9rms1q (they

[2019-11-01 21:18] princefishthrower commented on #25439
@magento give me 2.3-develop instance

[2019-11-01 21:18] magento-engcom-team commented on #25439
Hi @princefishthrower. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-01 21:18] magento-engcom-team commented on #25439
Hi @princefishthrower, here is your [Magento instance](https://i-25439-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25439-2-3-develop.instances.magento-community.engineering/admin](https://i-25439-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-01 21:28] fuzzyjared opened #25440 "Cart Price Rule save x when you spend y with coupon rule gets removed incorrectly."
### Preconditions (*)
Magento 2.3.2

### Steps to reproduce (*)
1. Marketing -> Cart Price Rule
2. Create a rule for Save $50 when you spend over $300
3. Use Specific Coupon SAVE50
4. Conditions -> If ANY of these conditions are TRUE: Subtotal (Excl. Tax) equals to or greater than 300.
5. Actions -> Apply - Fixed amount discount for whole cart, Discount Amount - 50
6. Go to the store front and add

[2019-11-01 21:31] princefishthrower commented on #25439
Doesn't seem like any email functionality works with these types of instances - and I also don't know how to access the database here - so the only proof I have that this bug is occuring is with our instance.

I can check on a separate clean install I have, but that is on another machine and will take me some more time

[2019-11-01 23:16] edenduong commented on #25438
@magento I am working on it.

[2019-11-01 23:29] ghost opened #25441 "Move JS code to the bottom of the page eliminates bundling and signed static files"
Summary:
You can't both defer loading of js and bundle javascript and have signed static files

### Preconditions (*)

1. Magento 2.3.2+ CE, PHP 7.1.26, mariadb 10.3, nginx 1.15.8

### Steps to reproduce (*)

1. Stores > Configuration > Developer > JavaScript Settings and enable the Move JS code to the bottom of the page option.

### Expected result (*)

1. Signed static files should work
2. JS bu

[2019-11-01 23:31] SoloDevAtrix commented on #25441
@magento give me 2.3-develop instance

[2019-11-01 23:31] magento-engcom-team commented on #25441
Hi @SoloDevAtrix. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-01 23:31] magento-engcom-team commented on #25441
Hi @SoloDevAtrix, here is your [Magento instance](https://i-25441-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25441-2-3-develop.instances.magento-community.engineering/admin](https://i-25441-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-01 23:43] SoloDevAtrix commented on #25441
Seems to work on vanilla dev branch closing

[2019-11-01 23:43] #25441 closed, assigned to nobody

[2019-11-01 23:44] philgschmidt commented on #12601
Still seeing this problem in 2.3.3
What am I missing?

[2019-11-02 06:26] Giteebs opened #25442 "Homepage Newsletter Popup not working properly"
Popup not loaded fully.. popup close icon only loaded..
In version release, this bug is fixed but it's still exists in this Fastest - Magento themes.. Kindly, provide me the solution to resolve this issue.

[2019-11-02 06:46] Giteebs commented on #25442
Herewith, I have attached the screen shot which I have get the popup loading..
 ![see](https://user-images.githubusercontent.com/57281970/68067275-79014d80-fd6a-11e9-81be-960320e81f26.png)

[2019-11-02 08:59] ioweb-gr commented on #25437
@magento give me 2.3-develop instance

[2019-11-02 08:59] magento-engcom-team commented on #25437
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-02 08:59] magento-engcom-team commented on #25437
Hi @ioweb-gr, here is your [Magento instance](https://i-25437-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25437-2-3-develop.instances.magento-community.engineering/admin](https://i-25437-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-02 09:07] ioweb-gr commented on #25437
@magento give me 2.3.1 instance

[2019-11-02 09:07] magento-engcom-team commented on #25437
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-11-02 10:38] hostep commented on #19597
It looks like a fix was added to the core yesterday: https://github.com/magento/magento2/commit/edec48ae150b0173f2f967058777295e6c615dc3

Not sure if it will fix all reports in this thread though, but I think it should fix the ones @dverkade [mentioned](https://github.com/magento/magento2/issues/19597#issuecomment-445230842) at least.

[2019-11-02 11:24] rafaytaher commented on #8853
same here. but its only happening on productions server for me.
on my local system i fixed it, oddly, by just converting the string to uppercase for sort order.
`$sortOrder = $this->_sortOrderBuilder->setField($order)
                ->setDirection(strtoupper($dir))
                ->create();`
like this. and it worked on local but not on production yet.

[2019-11-02 12:27] Jilco commented on #22964
Yep, i have the same problem in 2.3.3

[2019-11-02 12:39] sujitcp commented on #22964
We have Fixed it and will commit soon

[2019-11-02 13:11] faouzi53 opened #25445 "Composer issue when running composer require"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1. Warning: require(/home/nolimi2q/public_html/vendor/composer/../../registration.php): failed to open stream: No such file or directory in /home/nolimi2q/public_html/vendor/composer/autoload_real.php online 70

Fatal error: require(): Failed opening required '/home/nolimi2q/public_html/vendor/composer/../../registration.php' (include_path=

[2019-11-02 14:12] edenduong commented on #25406
@magento give me 2.3-develop instance

[2019-11-02 14:12] magento-engcom-team commented on #25406
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-02 14:13] magento-engcom-team commented on #25406
Hi @edenduong, here is your [Magento instance](https://i-25406-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25406-2-3-develop.instances.magento-community.engineering/admin](https://i-25406-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-02 14:21] edenduong commented on #25406
I don't see this problem on 2.3-develop.

[2019-11-02 14:23] wibbel opened #25447 "Category url keys that end in slash breaks layered navigation with 2.3.3"
### Preconditions (*)
When the magento configuration specifies a trailing slash as the Category URL Suffix, the layered navigation breaks. For example category-url-key/

1. Magento version 2.3.3
2. No customizations for the store, Luma + Sample Data
3. Modify the configuration to use category url suffix as a slash rather than .html (stores->configuration->catalog->search engine optimisation->categ

[2019-11-02 16:11] Den4ik commented on #25445
Hi @faouzi53 Thank you for reporting but this is not Magento related issue. You may ask help at https://magento.stackexchange.com/

[2019-11-02 16:11] #25445 closed, assigned to nobody

[2019-11-02 16:13] Thomas-gt3 commented on #25338
@emirajbbd

Problem persists and now when I send email there is a blank page.
[code]

[2019-11-02 16:20] Thomas-gt3 commented on #25338
I restored backup and I think I will wait update Magento 2.3.4

[2019-11-02 16:29] Den4ik commented on #25442
Hi @Giteebs. Did you test problem on fresh magento 2.3 installation with luma theme and installed custom newsletter modules?
You may try enable developer mode and check reported problem.
Please reopen issue or ask at https://magento.stackexchange.com/ when you have more information about preconfiguration and mage reports

[2019-11-02 16:29] #25442 closed, assigned to Den4ik

[2019-11-02 16:45] DanielRuf commented on #25338
A white page typically means that there is some PHP error which you can find in your logfiles.

Does this occur on the current develop branch too?

[2019-11-02 17:35] shikhamis11 commented on #25403
hi @sdzhepa
yes I  checked both scenario you shared I am also not able to reproduce it.
@MrAmbro can you please recheck the steps required to reproduce the issue also please check and share if it requires some additional informations to reproduce this issue

[2019-11-02 18:21] shikhamis11 commented on #25439
Hello @princefishthrower
I checked the issue at latest magento instance and not able to reproduce it.
I got the object with my subscriber id while calling controller `newsletter/subscriber/confirm`
can you cross check it again at latest magento 2 version and also please verify that the Id passed in the url `newsletter/subscriber/confirm/id/56/code/56t0fgby1e6v7xqgnpap1wx6jl9rms1q/` must be `subscr

[2019-11-03 00:47] TomashKhamlai commented on #25427
@hostep, as I could understand reporter is talking about the error that can be seen by the customer, but screenshots are from the admin login page...

[2019-11-03 02:15] magento-engcom-team commented on #25427
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-11-03 05:50] SoloDevAtrix commented on #25199
https://github.com/SoloDevAtrix/snippets/blob/master/indexer_catalog_category_products.php
runs in :02 seconds on the same database, my frontend functions perfect with it.

My original glance over that it selected all products for root was wrong they actually do quite a bit of specific join conditions on all types.  I have my database matching a full run pretty closely.  Only difference is a few p

[2019-11-03 09:22] hostep commented on #25427
@TomashKhamlai: indeed, I got confused by the screenshots. Maybe a second issue could be opened for that? @itsPranith?

No idea why this issue got archived though, let me reopen.

[2019-11-03 10:55] MBK8303 opened #25450 "Theme configuration issues"
When I upgrade setup by cmd
learn from :
https://www.solwininfotech.com/documents/magento2/freego/

![Screenshot (80)](https://user-images.githubusercontent.com/36476456/68084060-ffd92780-fe49-11e9-85f7-068b9b14488c.png)

[2019-11-03 15:35] klein0r commented on #23618
Does anyone know how this is happening? I have some customers with that issue. No guest orders allowed - everyone need to register. So maybe theres an issue in the quote conversion after logging in? Occured in 2.3.2 - is it fixed in 2.3.3?

[2019-11-03 15:53] Orims14 commented on #25403
if it helps I experienced it on 2.3.3 Commerce and i had migrated taxes from Magento 1 to Magento 2 using the data migration tool.

[2019-11-03 16:22] SolsWebdesign commented on #25025
Clean install on Magento 2.3.3 on NginX (hypernode) with php 7.2.19 (to be precise v7.2.19-1).
Set in Developer mode, added Sample data using bin/magento sampledata:deploy and tried to login:
1 exception(s):
Exception #0 (Exception): Notice: Undefined offset: 2 in ../vendor/magento/framework/Encryption/Encryptor.php on line 590
Tried to create another admin through CLI but same error.
That is weir

[2019-11-03 18:01] magento-engcom-team commented on #25447
:white_check_mark: Confirmed by @Den4ik
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22731` were created

**Issue Available**: @Den4ik, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-03 18:02] Den4ik commented on #25447
[code]

[2019-11-03 22:16] DominicWatts commented on #25432
I too spotted inconsistencies but I think this will fall under a won't fix unless you personally create a pull request and update it all yourself. Even then tricky change to make whilst ensuring backwards compatibility.

On a side note have you seen https://github.com/magento/magento2/blob/2.3.3/app/code/Magento/Catalog/Model/Product/ScopedTierPriceManagement.php

Simplifies the process

[2019-11-03 22:22] DominicWatts commented on #25430
Temando_Shipping module might have added an EAV attribute already with a specific source model that no longer exists. This could generate an exception Class Temando\Shipping\Model\Source\PackagingType does not exist when trying to edit product. To fix this, run the following SQL query in your database:

[code]

[2019-11-04 00:31] joris-ati4 opened #25453 "EmailMessage fails when adding multiple emails via TransportBuilder"
### Preconditions (*)

1. Magento version 2.3.3

### Steps to reproduce (*)

1. Create a method to send an email using the TransportBuilder
2. Call the addTo method with an array of emails
3. Get the tranport with the getTransport method
4. Call $transport->sendMessage();

Code to reproduce:

[code]

### Expected result (*)

1. The expected result is that the email is send to the emails provided i

[2019-11-04 00:49] jojotjebaby commented on #25453
Closing this issue because this issue is already fixed in 2.3-develop. Sorry !

Fix commit => https://github.com/magento/magento2/commit/be5455a58240b57e4dc0c44a5cea2bb5a2e01c57

[2019-11-04 00:49] #25453 closed, assigned to nobody

[2019-11-04 02:24] okorshenko commented on #21274
Looks like fixed by this PR: https://github.com/magento/magento2/pull/22575

[2019-11-04 06:40] ajijshekh123 commented on #25420
Okay @mattbolton-melon

[2019-11-04 06:40] #25420 closed, assigned to ajijshekh123

[2019-11-04 06:48] itsPranith commented on #25406
@magento give me 2.3-develop instance

[2019-11-04 06:48] magento-engcom-team commented on #25406
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-04 06:49] magento-engcom-team commented on #25406
Hi @itsPranith, here is your [Magento instance](https://i-25406-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25406-2-3-develop.instances.magento-community.engineering/admin](https://i-25406-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-04 07:30] miteshdhaduk commented on #7120
@Vital388 It's working properly. Thank you.

[2019-11-04 07:43] itsPranith commented on #25427
@hostep - This issue is replicating on Magento instance which is created with Magento sample data.

Please find the video of Magento instance which is created with sample data.
Video URL - https://www.screencast.com/t/AgCYuKfZQ

[2019-11-04 07:46] Ashna-Jahan opened #25455 "Inconsistency with full stops in admin configurations"
### Preconditions (*)

### Steps to reproduce (*)

1.  Go to Admin > Stores > Configuration > Catalog > Catalog  > Store Front.
2.  You can observe that the comments under the fields are not consistent with respect to full stops after the Sentence.

### Expected result (*)

1. Full stops should be present after each sentence.
### Actual result (*)

1.  No consistency with full stops after the comm

[2019-11-04 07:46] itsPranith commented on #25406
@edenduong - I'm able to reproduce this issue on Magento instance which  is created with Magento sample data.

Please find the reproduce video url - https://www.screencast.com/t/AgCYuKfZQ

Thank You,
Pranith

[2019-11-04 07:50] itsPranith commented on #25455
@magento give me 2.3-develop instance

[2019-11-04 07:50] magento-engcom-team commented on #25455
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-04 07:51] magento-engcom-team commented on #25455
Hi @itsPranith, here is your [Magento instance](https://i-25455-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25455-2-3-develop.instances.magento-community.engineering/admin](https://i-25455-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-04 07:56] itsPranith commented on #25455
This issue is replicating on Magento instance- @ https://i-25455-2-3-develop.instances.magento-community.engineering/admin/admin/system_config/edit/section/catalog/

Please find the screen images for your reference.
![Catalog-Store](https://user-images.githubusercontent.com/56586384/68106131-a420a400-ff06-11e9-8fa4-ca44fc776b5a.PNG)
![catalog-store-1](https://user-images.githubusercontent.com/5658

[2019-11-04 07:57] magento-engcom-team commented on #25455
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22733` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-04 09:01] engcom-Delta commented on #25338
Hi @Thomas-gt3 thank you for your report. I am not able to reproduce issue by upgrading from 2.2 to 2.3-develop git version and from 2.2.10 to 2.3.3(latest release).
This is issue should be fixed in 2.3.3.
In addition there are patches in [2.3.3 Release Notes](https://devdocs.magento.com/guides/v2.3/release-notes/release-notes-2-3-3-open-source.html#apply-the-emailmessageinterface-backward-compati

[2019-11-04 09:01] #25338 closed, assigned to engcom-Delta

[2019-11-04 09:05] FreekVandeursen opened #25457 "UI grid inline edit not possible for all grid rows"
### Preconditions (*)
1. Tested on Magento 2.3.3
2. Any UI grid that allows inline edits (e.g. CMS pages)

### Steps to reproduce (*)
1. Click any row to start inline editing
2. Click the row select checkbox on all other rows

### Expected result (*)
1. Inline editing enabled on all rows

### Actual result (*)
1. Inline editing is enabled on all rows, except the last selected row

From my testing

[2019-11-04 09:05] FreekVandeursen commented on #25457
@magento give me 2.3-develop instanc

[2019-11-04 09:09] FreekVandeursen commented on #25457
@magento give me 2.3-develop instance

[2019-11-04 09:09] magento-engcom-team commented on #25457
Hi @FreekVandeursen. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-04 09:09] magento-engcom-team commented on #25457
Hi @FreekVandeursen, here is your [Magento instance](https://i-25457-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25457-2-3-develop.instances.magento-community.engineering/admin](https://i-25457-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-04 09:12] edenduong commented on #25438
@magento give me 2.3-develop instance

[2019-11-04 09:12] magento-engcom-team commented on #25438
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-04 09:13] magento-engcom-team commented on #25438
Hi @edenduong, here is your [Magento instance](https://i-25438-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25438-2-3-develop.instances.magento-community.engineering/admin](https://i-25438-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-04 09:13] gewaechshaus commented on #16779
+1 Magento 2.2.9

[2019-11-04 09:27] magento-engcom-team commented on #25457
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22734` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-04 09:40] PascalBrouwers commented on #22240
@engcom-backlog-nazar can you reopen this issue?
This is not expected behaviour. With constraints Magento creates a shorter name when they are too long. It should do the same here.

[2019-11-04 09:47] PascalBrouwers commented on #22240
Also... see this example of a lock
`BLOCK_4d0fde89c53949f89f741386ae575b1d704f9a24-old-price-225261-widget-product-grid-final_price-EUR-20191104-1-0-`
Even a db name the size of 1 character would cause the lock to fail

[2019-11-04 09:50] engcom-Delta commented on #25440
Hi @Rickertje thank you for your report. Unfortunately, I am not able to reproduce issue by steps you described on clean 2.3-develop.

![#25440issueCoupon](https://user-images.githubusercontent.com/51681379/68112045-26a26700-fef9-11e9-8886-23b95815a01a.png)

![#254440issue](https://user-images.githubusercontent.com/51681379/68112049-2904c100-fef9-11e9-8f9b-31ef51487fdc.png)

If you'd like to updat

[2019-11-04 09:50] #25440 closed, assigned to engcom-Delta

[2019-11-04 09:55] Rickertje commented on #25440
Not me but @fuzzyjared I suppose

[2019-11-04 10:04] kaazx88x opened #25458 "Integration fail to create new integration."
### Preconditions (*)

1.Tested on Magento 2.3.3

### Steps to reproduce (*)

1. Go To System > Extensions > Integrations >  Add New Integration
2.
![Untitled](https://user-images.githubusercontent.com/12070660/68112852-4fdcea80-ff2d-11e9-9c7e-7092ab84abf3.png)

### Expected result (*)

1. Able to create new integration details

### Actual result (*)

1. Cannot save integration details

[2019-11-04 10:08] engcom-Charlie commented on #23417
Hello @Vinai
We are not able to reproduce this issue on the lates 2.3-develop branch by provided steps,
because `onUpdate` attribute is not allowed:
![image](https://user-images.githubusercontent.com/51680850/68113173-ce209900-fefb-11e9-9c9c-68863995c6be.png)

So i have to close this issue.
Thanks for your report!

[2019-11-04 10:08] #23417 closed, assigned to engcom-Charlie

[2019-11-04 10:17] magento-engcom-team commented on #25410
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22735` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-04 10:22] alex24409331 commented on #5281
Hey, you can always try a third-party app like mag-manager.com here is up to date article about this issue
https://www.mag-manager.com/useful-articles/tipstricks/massively-associate-child-simple-products-to-main-configurable-via-import-to-magento/

[2019-11-04 10:30] engcom-Charlie commented on #25391
@magento give me 2.3-develop instance

[2019-11-04 10:30] magento-engcom-team commented on #25391
Hi @engcom-Charlie. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-04 10:31] magento-engcom-team commented on #25391
Hi @engcom-Charlie, here is your [Magento instance](https://i-25391-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25391-2-3-develop.instances.magento-community.engineering/admin](https://i-25391-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-04 10:40] engcom-Delta commented on #25440
@Rickertje thanks. Updated comment.

[2019-11-04 11:14] drpayyne commented on #25135
@magento-engcom-team Why wasn't this auto closed when https://github.com/magento/magento2/pull/25149 was merged? :thinking:

[2019-11-04 11:25] magento-engcom-team commented on #25391
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22736` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-04 11:57] aholovan commented on #22589
Hello,
I did upgrade from 2.2.3 to 2.3.3 and got the same error:

And it was done successfully only after disabling Magento_Amqp, Magento_MysqlMq.
So, the issue still exists despite Magento team unables reproduce it.

[2019-11-04 12:00] Giteebs opened #25460 "Newsletter issue on Magento 2.2.3"
Tested on Magento 2.2.3
The issue is, can't disable or enable newsletter popup on magento home page.
In admin panel,
 Go to Codazon->fastest Options->General options->Theme options->Newsletter Pop-up

I have enabled newsletter option and gave corresponding static block ID too. but the worst thing is newsletter pop-up close icon alone displaying instead of the form information.
What should i do to

[2019-11-04 12:21] ihor-sviziev opened #25461 "Magento REST API returns not existing SKU when custom option was set"
### Preconditions (*)
1. Magento 2.3.2 or 2.3-develop

### Steps to reproduce (*)
1. Create simple product with one custom option type drop-down with name "Color", and values "Red", "Green", also fill up SKU field for customizable options
![image](https://user-images.githubusercontent.com/1873745/68121776-46de2000-ff11-11e9-8c1e-5e38f9727d97.png)
![image](https://user-images.githubusercontent.com/

[2019-11-04 12:21] ihor-sviziev commented on #25461
@magento give me 2.3-develop instance

[2019-11-04 12:21] magento-engcom-team commented on #25461
Hi @ihor-sviziev. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-04 12:21] magento-engcom-team commented on #25461
Hi @ihor-sviziev, here is your [Magento instance](https://i-25461-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25461-2-3-develop.instances.magento-community.engineering/admin](https://i-25461-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-04 12:55] engcom-Charlie commented on #25407
Hi @byronrode, I can't reproduce this issue on fresh Magento 2.3-develop.

**Preconditions:**
Two categories is created with several subcategories. Products are assigned to each subcategory

**Manual testing scenario:**

Navigate to a product category:
1. Go to Catalog → Categories
1.1 Select a sub-category from the list of categories
1.2 Expand Products in Category
1.3 Uncheck a product to remove

[2019-11-04 12:55] #25407 closed, assigned to engcom-Charlie

[2019-11-04 13:07] magento-engcom-team commented on #24941
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22740` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-04 13:30] LucasCalazans commented on #25068
@magento give me 2.3-develop instance

[2019-11-04 13:30] magento-engcom-team commented on #25068
Hi @LucasCalazans. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-04 13:31] magento-engcom-team commented on #25068
Hi @LucasCalazans, here is your [Magento instance](https://i-25068-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25068-2-3-develop.instances.magento-community.engineering/admin](https://i-25068-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-04 13:36] sarveshlucent commented on #25427
I face this issue everywhere in chrome as well as firefox. also each and every form or jquery post page.

so please let me help.
My  staging server URL is ==> https://magento-331546-1017597.cloudwaysapps.com/

[2019-11-04 13:37] engcom-Delta commented on #6719
Hi @VivekShingala , @rafashkembi . Only system attribute have predefined options, but they couldn't be used in configurable products as configurations.
If we want create custom attributes for configurable product those attribute should be `user_defined` and shouldn't have custom source. In this case configurable product woks as expected.

Are You able to reproduce issue without custom source on 2.

[2019-11-04 13:43] rafashkembi commented on #6719
Hi @engcom-Delta . I can confirm the issue was not on Magento but on how the attributes were created.  I had some configurations wrong.

[2019-11-04 13:47] engcom-Delta commented on #25427
Hi @WaqarAli123 thank you for your report. Unfortunately, I am not able to reproduce issue by steps you described on clean 2.3-develop seems like this related to your custom modules.
Checked on:
- Chrome Version 78.0.3904.70
- Firefox 70.0

![#25427issue](https://user-images.githubusercontent.com/51681379/68125328-0505a780-ff1a-11e9-8607-586569e570b2.gif)

If you'd like to update the issue, please

[2019-11-04 13:47] #25427 closed, assigned to engcom-Delta

[2019-11-04 13:49] sarveshlucent commented on #25427
@engcom-Delta please checkout my problem please and let me know how can I resolve it?
I face this issue everywhere in chrome as well as firefox. also each and every form or jquery post page.

so please let me help.
My staging server URL is ==> https://magento-331546-1017597.cloudwaysapps.com/

[2019-11-04 14:02] engcom-Delta commented on #25427
@sarveshlucent I checked `Sign Up` and `Log In` on your [server](https://magento-331546-1017597.cloudwaysapps.com/) and I didn't experience issue that described here on browser versions  mentioned before.
You could refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issu

[2019-11-04 14:19] janssentwh commented on #10661
I am still facing this bug in 2.3.3. The alpha channel of the watermark seems to be replaced with a black background before applying a general transparency over the entire watermark.

[2019-11-04 15:10] vseager opened #25462 "Wishlist total incorrect when containing disabled products"
### Preconditions (*)

* Magento 2.3.3

If a product is added to a customer's wishlist and is later disabled, the total number of items in the wishlist that is displayed in the wishlist grid toolbar shows the incorrect amount.

### Steps to reproduce (*)
1. Log into customer account on frontend
2. Go to product A and add to wishlist
3. Go to product B and add to wishlist
3. Log into Magento admin

[2019-11-04 15:14] Nagamaiah007 opened #25463 "Unable to create an order from admin, when we enable authorize.net direct post payment method."
### Preconditions (*)

1. Magento 2.3.3 instance.
2. PHP 7.2 version.
3. Created instance should get browsed in "**https**" mode.

### Steps to reproduce (*)

1. Go To the Magento admin.
3. Navigate to the stores--> configuration--> Sales--> Payment Methods--> expand- Authorize .Net Direct Post(Deprecated)
4. Enable the Payment method
5. Set the payment action as "**Authorize and capture**"
6. Pro

[2019-11-04 15:15] itsPranith commented on #25463
@magento give me 2.3-develop instance

[2019-11-04 15:15] magento-engcom-team commented on #25463
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-04 15:16] magento-engcom-team commented on #25463
Hi @itsPranith, here is your [Magento instance](https://i-25463-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25463-2-3-develop.instances.magento-community.engineering/admin](https://i-25463-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-04 15:24] cscd98 opened #25465 "Forgotten password link -> HTTP 500 error when you have added a new required phone such as phone number to the customer account"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1. Make telephone number a required field in customer accounts
2. Goto forgotten password, enter your e-mail address of a customer who has not entered a phone number yet
3. When you receive the e-mail, click on the forgotten password link in the email
4. Land on magento with a 500 error page

### Expected result (*)
1. Customer abl

[2019-11-04 15:37] itsPranith commented on #25463
I'm able to replicate this issue @ https://i-25463-2-3-develop.instances.magento-community.engineering/admin

Please find the video for the same- https://i-25463-2-3-develop.instances.magento-community.engineering/admin

[2019-11-04 15:38] magento-engcom-team commented on #25463
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22745` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-04 15:49] mmmattera commented on #25403
I have this problem in 2.3.3 opensource. I also migrated from magento 1 1.9.3.10.

As the error message states the data retrieved by /chroot/home/a945acba/m2b.com/html/vendor/vertex/module-tax/Model/FlexField/Extractor/EavAttributeExtractor.php line 122
$attribute->setLabel($eavAttribute->getDefaultFrontendLabel());

is not a string. parameter validation? anyone, anyone...
I debugged this with cha

[2019-11-04 15:51] jorgb90 opened #25467 "Forward slash (/) in SKU not working REST API"
### Preconditions (*)
1. Magento 2.3.3

### Steps to reproduce (*)
1.  Create a product with a SKU with a forward slash in it (/).
2. Try to retrieve this article through a  "/V1/products/{sku}" request.
3. Its not working because of the slash, but its also not working when using an URL encode, changing the / in %2F.

### Expected result (*)
1. Retrieving the actual product information through the

[2019-11-04 16:13] TomashKhamlai opened #25468 "Undefined index `product_id`"
### Preconditions (*)

1. 2 simple products
2. 1 bundle product with 1 bundle option containing 2 products as dropdown items

### Steps to reproduce (*)

1. Login to admin
2. Find bundle product and start editing
3. Scroll down to bundle items section and expand if not expanded
4. Click Add Option button twice
5. Select "checkbox" as the second item and fill the required fields. Assign the same pr

[2019-11-04 16:37] mitcht commented on #21663
Just an update, I have a breakpoint set in Loader.php (magento-configurable-product\Helper\Product\Options\Loader.php) on line 52.  At this breakpoint, the following things are true:

`$product->getTypeId` it is equal to "configurable"
`$product->getTypeInstance()` is equal to type "Magento\Catalog\Model\Product\Type\Simple.

I'm debugging to see if somehow i've managed to set this value, but its

[2019-11-04 16:45] chelstondirect commented on #18148
Has anyone managed to find a fix for this? Getting 'Pending Payment' status in 2.3.3.

[2019-11-04 17:06] ccondra commented on #25429
I also came across this issue using  Chrome Version 78.0.3904.70.  It seems to affect pages with grids in the System menu (Cache Management, Index Management, Notifications) but not pages with grids in other menus, such as Catalog or Customer.

[2019-11-04 18:04] sdzhepa commented on #23227
Hello @nileshti

We reverified this issue on the latest code base related to `2.3.3` and we not able to reproduce it now.
Possibly this issue has been fixed in the current version of Magento and Temando module.

But if you still have this issue I would strongly recommend reporting this bug into Enterprise Support associated with your account.

[Current repository](https://github.com/magento/magent

[2019-11-04 18:04] #23227 closed, assigned to nobody

[2019-11-04 18:09] #25135 closed, assigned to drpayyne

[2019-11-04 19:26] magento-engcom-team commented on #25413
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22761` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-04 19:31] sdzhepa opened #25469 "TEST Issue for internal tools"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2019-11-04 19:32] magento-engcom-team commented on #25469
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22762` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-04 19:33] magento-engcom-team commented on #25469
Unfortunately, we are archiving this ticket now as it did not get much attention from both Magento Community and Core developers for an extended period. This is done in an effort to create a quality, community-driven backlog which will allow us to allocate the required attention more easily.

Please feel free to comment or reopen according to the [Issue reporting guidelines](https://github.com/mag

[2019-11-04 19:35] magento-engcom-team commented on #25469
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22764` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-04 19:38] #25469 closed, assigned to sdzhepa

[2019-11-04 19:57] #23382 closed, assigned to krzksz

[2019-11-04 19:58] #24019 closed, assigned to korostii

[2019-11-04 19:59] #25148 closed, assigned to edenduong

[2019-11-04 21:01] krisdante commented on #12512
May I know what is the expected behavior?
For me it would be like this:

1. I create 2 websites: A and B. For A allowed country is the UK, for B allowed countries are DE and NL.
2. When I am on A shop I can only select UK as a country, when I am in B shop I can select DE or NL.

Would that be expected for you too?

I do not understand the login in magento/module-customer/Model/Plugin/AllowedCountr

[2019-11-04 21:08] Axel29 commented on #12512
@krisdante for me this makes sense only in the customer account, not in the checkout.

If your websites A and B are on the same domain, share accounts, the customer has only ONE account dashboard, thus he must be able to create addresses for every allowed countries in both websites A and B.

But in the checkout, I agree that this should only take the countries allowed in the current website.

[2019-11-04 21:20] torhoehn commented on #25462
@magento give me 2.3-develop instance

[2019-11-04 21:21] magento-engcom-team commented on #25462
Hi @torhoehn. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-04 21:21] magento-engcom-team commented on #25462
Hi @torhoehn, here is your [Magento instance](https://i-25462-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25462-2-3-develop.instances.magento-community.engineering/admin](https://i-25462-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-04 21:27] kchevalier-mg opened #25470 "Vertex does not handle configurable product with correlative simple product numeric sku"
### Preconditions (*)
1. Magento 2.3.3
2. MariaDB 10.0.38

### Steps to reproduce (*)
1. Install Magento 2
2. Enable Vertex
3. Create new sub-category
4. Add attribute color to product details attribute group of default attribute-set
5. Add 2 options to color attribute
6. Create product 1 with one of the color option and SKU `211890`
7. Create product 2 with other color option and a random SKU
8.

[2019-11-04 21:30] torhoehn commented on #25462
@vseager Thanks for creating this ticket, but I couldn't reproduce this issue on latest 2.3-develop.

Both products enabled:
<img width="1281" alt="Screenshot 2019-11-04 at 22 28 40" src="https://user-images.githubusercontent.com/1945725/68159717-9729a200-ff52-11e9-993d-d081387e24f8.png">

Disabled one of the products:
<img width="1276" alt="Screenshot 2019-11-04 at 22 29 01" src="https://user-ima

[2019-11-04 21:30] #25462 closed, assigned to torhoehn

[2019-11-04 21:30] kchevalier-mg commented on #25470
@magento give me 2.3-develop instance

[2019-11-04 21:30] magento-engcom-team commented on #25470
Hi @kchevalier-mg. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-04 21:31] magento-engcom-team commented on #25470
Hi @kchevalier-mg, here is your [Magento instance](https://i-25470-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25470-2-3-develop.instances.magento-community.engineering/admin](https://i-25470-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-04 21:33] #25470 closed, assigned to nobody

[2019-11-04 21:33] kchevalier-mg commented on #25470
Wrong user. Issue will be reopen with correct user account.

[2019-11-04 21:37] krisdante commented on #12512
Well, actually he has two Dashboards - one for each store view (for each website) and still can be scoped there, even if login data are shared.
Of course, the shared address book is also an option, but how far we want to go then? Order history needs to be scoped per website (as assortment can differ)

[2019-11-04 21:39] sebdelta opened #25471 "Vertex does not handle configurable product with correlative simple product numeric sku"
### Preconditions (*)
1. Magento 2.3.3
2. MariaDB 10.0.38

### Steps to reproduce (*)
1. Install Magento 2
2. Enable Vertex and set use_for_calculation=1
3. Create new sub-category
4. Add attribute color to product details attribute group of default attribute-set
5. Add 2 options to color attribute
6. Create product 1 with one of the color option and SKU `211890`
7. Create product 2 with other col

[2019-11-04 21:39] sebdelta commented on #25471
@magento give me 2.3-develop instance

[2019-11-04 21:39] magento-engcom-team commented on #25471
Hi @sebdelta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-04 21:40] magento-engcom-team commented on #25471
Hi @sebdelta, here is your [Magento instance](https://i-25471-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25471-2-3-develop.instances.magento-community.engineering/admin](https://i-25471-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-04 21:49] Jilco commented on #12986
Any solutions yet?

[2019-11-04 22:50] sebdelta commented on #25471
@sdzhepa this issue is generated by the Vertex_Tax module. Is there a way to enable that module on the above vanilla Magento instance?

[2019-11-04 22:51] sdzhepa commented on #23671
@magento give me 2.3-develop instance

[2019-11-04 22:51] magento-engcom-team commented on #23671
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-04 22:52] magento-engcom-team commented on #23671
Hi @sdzhepa, here is your [Magento instance](https://i-23671-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-23671-2-3-develop.instances.magento-community.engineering/admin](https://i-23671-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-04 23:31] sebdelta commented on #25471
I tracked the issue to the file vendor/vertex/module-tax/Model/Plugin/CommonTaxCollectorPlugin.php of the vertex/module-tax module. The line 103 `$productCodes = array_keys($processItems);` retrieves the product skus, the problem is that PHP cast the numeric array keys to int (e.g. 211890), so $productCodes  can contain integer values which are being passed to the criteria for building the databas

[2019-11-05 00:06] ukguy commented on #24571
We have a similar issue with attributes. All the images appear in the gallery but when selecting for eg, yellow option from a dropdown, it just selects a magento logo, not the yellow image.
When inspecting the filename of the yellow image it has _ underscores.
When selecting the filename of the magento logo the url is correct but it has %20 instead of underscores.

[2019-11-05 00:11] andrewdaluz commented on #23618
In my case I'm facing the same issue but that is related to an address set on quote entry that belongs to another customer.
Here an query example:
`select qa.quote_id, qa.address_id as quote_address_id, cae.entity_id as customer_address_id, qa.customer_id as quote_customer_id, cae.parent_id as address_customer_id from quote_address as qa JOIN customer_address_entity as cae on (cae.entity_id=qa.cus

[2019-11-05 00:28] ukguy commented on #24571
Based on my previous comment it seems it's not selecting the image due to a bug with the underscores, so it doesn't select the image which is there. Maybe a javascript error?

[2019-11-05 03:07] sicaizhang commented on #16451
I have the same issue after applying rewards(same as coupon), on Magento 2.23
<img width="1264" alt="order total 0" src="https://user-images.githubusercontent.com/52158821/68175513-75650500-ffbc-11e9-8db1-42ed176931ee.png">

[2019-11-05 04:27] sarveshlucent commented on #25427
@engcom-Delta So, what can I do. I need to fix it because I have to go live.

[2019-11-05 04:28] WaqarAli123 commented on #25427
I saw Many Issue Many times on Magento Stack Exchange i tried each an every solution but havn't got any success

[2019-11-05 04:30] sarveshlucent commented on #25427
@WaqarAli123 @engcom-Delta please see https://prnt.sc/psjm4y

[2019-11-05 04:31] WaqarAli123 commented on #25427
This issue is previously Reproduced By @itsPranith  But i don't Know why they closed this issue

[2019-11-05 04:41] ihor-sviziev commented on #24571
@ukguy it looks like different issue, please report it separately

[2019-11-05 04:44] ukguy commented on #24571
Ok 👍

[2019-11-05 04:57] Jeeva-Rathinam commented on #621
I ma using PHP 7.1.29 still i am getting error for install magento 2.3.3

[2019-11-05 07:21] engcom-Delta commented on #25427
@WaqarAli123 your steps describes issue on frontend that is not reproducible from your description.
This [comment](https://github.com/magento/magento2/issues/25427#issuecomment-548706715) is related to backend login page as was noted [here](https://github.com/magento/magento2/issues/25427#issuecomment-549094408)

[2019-11-05 07:26] Karlasa commented on #25457
@magento give me 2.3-develop instance

[2019-11-05 07:26] magento-engcom-team commented on #25457
Hi @Karlasa. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-05 07:26] magento-engcom-team commented on #25457
Hi @Karlasa, here is your [Magento instance](https://i-25457-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25457-2-3-develop.instances.magento-community.engineering/admin](https://i-25457-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-05 07:41] WaqarAli123 commented on #25427
@engcom-Delta  i my question i write a Line "Throwing Error On Form Submit in Google Chrome," this happens on every form submit..  I don't Know @itsPranith  has tried on frontend or not

[2019-11-05 08:12] engcom-Delta commented on #25427
@WaqarAli123 Please, update appropriate steps to make clear where you experience this problem. You could use magento instance to verify if issue is reproducible according your steps.

[2019-11-05 08:29] ioweb-gr commented on #25437
@magento give me 2.3.1 instance

[2019-11-05 08:29] magento-engcom-team commented on #25437
Hi @ioweb-gr. Thank you for your request. I'm working on Magento 2.3.1 instance for you

[2019-11-05 08:40] psdevhh commented on #9214
Experiencing the same issue here on 2.3.1 - "Max Qty Discount is Applied to" set to 1 and with multiple products in the cart ALL of them are discounted. So there's no possibility to limit coupon code usage to just one product, unless I'm missing something here.

This should really be fixed IMO. Why was this moved to "Done" is beyond me.

[2019-11-05 08:42] magento-engcom-team commented on #25434
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22783` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-05 08:49] Zabien commented on #9214
@psdevhh we are not on Magento 2.x yet – could you open a new issue with your case and refer back to this old one? Maybe it gets attention then. Alternatively, this case could be reopened, but I'm not sure who has the rights for that.

[2019-11-05 09:00] engcom-Delta commented on #25450
Hi @MBK8303 thank you for your report. Your issue is connected with environment configuration.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2019-11-05 09:00] #25450 closed, assigned to engcom-Delta

[2019-11-05 09:10] WaqarAli123 commented on #25427
@engcom-Delta  Can you provide me a magento instance.. All the above instances are expired

[2019-11-05 09:18] engcom-Delta commented on #25427
@magento give me 2.3-develop instance

[2019-11-05 09:18] magento-engcom-team commented on #25427
Hi @engcom-Delta. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-05 09:19] magento-engcom-team commented on #25427
Hi @engcom-Delta, here is your [Magento instance](https://i-25427-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25427-2-3-develop.instances.magento-community.engineering/admin](https://i-25427-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-05 09:29] WaqarAli123 commented on #25427
@engcom-Delta  Yes you are Right its working fine in this Magento Instance

But i am Still getting this issue on local server  :(

[2019-11-05 09:30] craigcarnell commented on #25218
Magento - how can such a major bug be introduced when you have several weeks of QA?!?!?!

[2019-11-05 10:40] magento-engcom-team commented on #25461
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22785` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-05 10:57] engcom-Golf commented on #21274
Hi @HirokazuNishi the issue has been tested and we can confirm that this already fixed in 2.3-develop branch and available on 2.3.3 release.

The issue has been fixed in https://github.com/magento/magento2/pull/22575 by @mtwegrzycki in 2.3-develop branch
Related commit(s):
 - 1f3f984aef9233c19a566513dcd6f39dfa49b18b

[2019-11-05 10:57] #21274 closed, assigned to Nazar65

[2019-11-05 10:59] engcom-Charlie commented on #25460
Hello @Giteebs

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.3-develop branch by provided steps.

We are closing this issue due to branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details

Please refer to the [Commun

[2019-11-05 10:59] #25460 closed, assigned to engcom-Charlie

[2019-11-05 11:12] jorgb90 commented on #25467
Problem can be closed it was a change in our server config which caused this behaviour. We added "AllowEncodedSlashes NoDecode" again to our virtualhost template of Apache and it was solved.

[2019-11-05 11:16] TomashKhamlai commented on #25427
### Little troubleshooting guide
If you have rich experience with Magento 2 you could try these steps to find the problem. But read this first [Merchant Docs: Backup](https://docs.magento.com/m2/ce/user_guide/system/backups.html)
1) Make sure that your Magento instance is in developer mode
2) Switch to the default Luma theme, remove all the content of `var` `generated` `pub/static` folders except

[2019-11-05 11:19] engcom-Charlie commented on #25467
Hello @jorgb90
So i have to close this issue.

Thank you for contribution and collaboration!

[2019-11-05 11:19] #25467 closed, assigned to engcom-Charlie

[2019-11-05 11:51] NetStorm84 commented on #25447
This is the PR responsible. It's removing the trailing slash from the path.

https://github.com/magento/magento2/pull/20901

[2019-11-05 12:12] NetStorm84 commented on #25447
This is the commit responsible as it's removing the trailing slash. @serhii-balko

https://github.com/magento/magento2/commit/16b6a0cb81577d82f8dc6e729c48381fc934530f#diff-2e67977e528b556d3c20ad36dc858f92

[2019-11-05 12:35] engcom-Charlie commented on #25465
Hello @craigcarnell

We are not able to reproduce this issue on the latest 2.3-develop branch & on 2.3.3(composer version) by provided steps.

**Testing scenario:**
**Case 1:**
1. From the Storefront, I have created a New Customer
2. In Admin Panel, I have set the Show Telephone to Required
![image](https://user-images.githubusercontent.com/51680850/68207526-ca624480-ffd7-11e9-9661-a1f27ead2777.pn

[2019-11-05 12:35] #25465 closed, assigned to engcom-Charlie

[2019-11-05 12:41] engcom-Charlie commented on #25274
Hello @AndyJAllen

We are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

Thanks for your report!

[2019-11-05 12:41] #25274 closed, assigned to engcom-Charlie

[2019-11-05 12:47] helloeverything commented on #12512
An address in the address book which is not in the allowed country list could be disabled (so customer cannot select it to be used).

[2019-11-05 13:05] stkrelax commented on #2842
### Reopening
Problem still exists.

### Clearifying Issue:

1. create 10 products
2. create decimal attribute volume
3. set volume to 2 on one product
4. make volume filterable
5. go to product list an filter volume "0 and more"

### Expected Result
- only product with the volume set should be shown
### Actual Result
- all 10 products are shown

### Reason
volume with filter "-" will be ignored b

[2019-11-05 13:07] bharanikonda opened #25474 "magento 2.3 tier price for product in cart is not refreshing after customer login"
**Preconditions**

Magento 2.3.1
PHP 7.2

**Steps to reproduce**

Configure a product with two "tier prices". One for "not logged in" customer group and other is for "general" customer group. General is a default customer group which will be applied for all registered customers.

Let's assume the price for "not logged in" customer group is $10 and the price for the "general" customer group is $8.

[2019-11-05 13:13] stkrelax opened #25475 ""0 and more" Decimal Filter gets ignored by addFieldToFilter"
### Preconditions (*)
1. create 10 products
2. create decimal attribute volume
3. set volume to 2 on one product
4. make volume filterable

### Steps to reproduce (*)
1. go to product list an filter volume "0 and more"

### Expected result (*)
- only product with the volume set should be shown

### Actual result (*)
- all 10 products are shown

### Reason
Filter -> ?volume=-
volume with filter "-"

[2019-11-05 13:24] krishprakash commented on #25474
Hi @bharanikonda. Not able to reproduce the issues as provided steps by you.
Please verify it on latest magento instance https://github.com/magento/magento2/issues/25474#issuecomment-549815041
Thanks

[2019-11-05 13:24] #25474 closed, assigned to krishprakash

[2019-11-05 13:49] macrodesignuk opened #25476 "Changing Attribute Set on a Product remembers previous Attribute Set values."
### Preconditions (*)

1. Version 2.3.2, 2.3-develop
2.

### Steps to reproduce (*)

1. Create new product attribute Type dropdown called shoe_size, create some values 10,11,12 etc
2. Create a new Attribute Set Shoes and assign the attribute shoe_size.
3. Create a new Attribute Set Shirts, but don't assign any new attributes other than the default.
4. Create a new product and assign the attribute

[2019-11-05 14:20] devchris79 opened #25477 "Fotorama preview images distortion"
### Preconditions (*)

1. Magento 2.3.3
2. Product images that are wider than they are tall

### Steps to reproduce (*)

1. Add product images that are wider than they are tall to the product page
2.

### Expected result (*)

1. I would expect images to be resized to the containing frame limited by height or width (which ever is greater) and image centered to frame
2.

### Actual result (*)

1. Sc

[2019-11-05 15:11] madstrikeua commented on #25099
PRECONDITION:
1 Clean install Magento 2.3.3
2.One Category Created.

STEPS TO REPRODUCE:
1. Go to category that was created in precondition
2  Open tab "Content" and upload "Category Image" (For example: name of file elephant.jpg)
3. Save Category. (Category saved and opened again)
4. Check "Content" tab that image you uploaded is displayed in Category Image attribute.
5. Check "catalog_category_e

[2019-11-05 15:45] marketing2 commented on #23376
Yes, we are having the same!

[2019-11-05 16:13] madstrikeua commented on #25209
I reproduce this issue now on EE 2.3.3

PRECONDITION:
1. Clean install Magento 2.3.3
2. One Category Created.

STEPS TO REPRODUCE:
1. Go to category that was created in precondition
2  Open tab "Content" and upload "Category Image" (For example: name of file elephant.jpg)
3. Save Category. (Category saved and opened again)
4. Check "Content" tab that image you uploaded is displayed in Category Ima

[2019-11-05 17:23] sdzhepa commented on #10304
Hello @nikoelgatito and all from this thread:
@torlokken @saumil171188 @sebfie @zuber11 @duckchip @magento2dev @samuelmafra @simonmaass @theschwag @goranhorvathr @veneu @soundararajanm1990 @sriharsha184 @shubhajay

Internal Magento team worked on this issue in the scope of `MC-21832`.
The described flow in the Issue description was reconsidered again after reopen(issue was closed on Nov 1, 2017 [h

[2019-11-05 17:23] #10304 closed, assigned to nobody

[2019-11-05 17:47] VincentMarmiesse commented on #12330
Hi,

I don't think this has been merged right?

Can you confirm?

[2019-11-05 18:03] #25065 closed, assigned to RonakParmar

[2019-11-05 19:01] sdzhepa commented on #23833
Hello @swnsma

Internal Magento team is working on this issue right now in the scope of Jira ticket `MC-18470`.
AT this moment it in Code-review status.
When fix will be delivered this issue will be closed with comment and related commits.

[2019-11-05 19:04] hostep commented on #25099
@madstrikeua: thanks for testing!

I also tested following your steps and can reproduce the problem in Magento 2.3.3, but no longer on the `2.3-develop` branch. Which often means that the bug is already fixed and will most likely be included in Magento 2.3.4.

If I take a look at the commit messages for the Catalog module in between Magento 2.3.3 and the `2.3-develop` branch, I find the following

[2019-11-05 19:17] sdzhepa commented on #23517
Hello @hostep and @bchatard, @Akki-8388

Sorry for the late response but the only couple of minutes ago I received an update from about status for related internal Jira ticket `MC-19686`.

At this moment `MC-19686` has status: RESOLVED and Resolution: Fixed. It means that fix in the delivery queue and will be delivered soon by an internal team

[2019-11-05 19:28] hostep opened #25480 "[2.3-develop] Uploading category image puts it in a tmp directory"
### Preconditions (*)
1. PHP 7.2.24
2. Magento 2.3-develop branch (I've used commit b3bd86ba8fabe0550d380279e2cb0a83e31cf75c)

### Steps to reproduce (*)
1. Setup Magento from 2.3-develop branch
2. Create a category in the backend
3. In the Content tab of the category, upload a Category Image with the 'Upload' button (let's assume the file is called `filename.jpg`)
4. Save the category

### Expect

[2019-11-05 19:39] rparsi-boxycharm commented on #25218
@jamie-selesti Create a composer patch and update your `composer.json` to use it. Next time you run `composer install` it will be applied.

[2019-11-05 20:34] engcom-Echo commented on #24426
@magento I am working on it

[2019-11-05 20:40] magento-engcom-team commented on #24426
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22832` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-05 20:45] magento-engcom-team commented on #24426
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22833` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-05 22:44] dunagan5887 commented on #17951
@magento-engcom-team  I'm also experiencing this issue and am wondering if this issue has been given any priority or consideration?

[2019-11-05 23:20] Vogel335 opened #25482 "Google Shopping Ads "Begin Onboarding" after Enter Google Account not continuing"
### Preconditions (*)

1. Magento Version 2.3.3
2. Magento Api Key is saved in Magento Shop

### Steps to reproduce (*)

1. Go to Marketing -> Google shopping Ads
2. Press Begin Onboarding
3. Enter Google Account
4. Press Begin Onboarding again
5. no more Reaction

### Expected result (*)

1.  Go to next step according to the Magento Documents to create a GMC Account

2.

### Actual result (*)

1.

[2019-11-06 05:55] Akki8388 commented on #23517
thanks for update @sdzhepa

[2019-11-06 06:56] dribblecastle commented on #25063
Same issue here!  Running 2.2.10 and PHP 7.1.33.   I've also tried PHP 7.2 but had the same result.  I saw the "Add to Cart" reference in the release notes but haven't been able to make sense of it thus far.

Any breakthroughs since your initial post?   I would love to run 2.2.10 for the security fixes over the holiday shopping season but this is a show stopper.   2.3.3 is not an option as we've h

[2019-11-06 07:21] atwixfirster commented on #8099
@okorshenko, could you please share status of **MAGETWO-58841** ticket (in progress, closed, etc)?

Thank you!

CC: @dmytro-ch

[2019-11-06 07:46] sunilit42 commented on #25463
@magento give me 2.3-develop instanc

[2019-11-06 07:47] sunilit42 commented on #25463
@magento give me 2.3-develop instance

[2019-11-06 07:47] magento-engcom-team commented on #25463
Hi @sunilit42. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-06 07:48] magento-engcom-team commented on #25463
Hi @sunilit42, here is your [Magento instance](https://i-25463-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25463-2-3-develop.instances.magento-community.engineering/admin](https://i-25463-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-06 07:56] magento-engcom-team commented on #25468
:white_check_mark: Confirmed by @dmytro-ch
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22855` were created

**Issue Available**: @dmytro-ch, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-06 07:59] hugoruivo opened #25483 "Braintree payment credit card 3d secure billing surname special characters"
### Preconditions (*)

1. Magento Version 2.3.3
2. Braintree Credit card setup as payment method with 3D Secure Verification enabled

### Steps to reproduce (*)

1. Add a product to the cart
2. Go to checkout
3. In the shipping address set the First Name with special characters ( Tést )
4. In the shipping address set the Last Name with special characters ( Tést )
5. In the payment method select Cr

[2019-11-06 08:00] hugoruivo commented on #25483
@magento give me 2.3-develop instance

[2019-11-06 08:00] magento-engcom-team commented on #25483
Hi @hugoruivo. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-06 08:00] magento-engcom-team commented on #25483
Hi @hugoruivo, here is your [Magento instance](https://i-25483-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25483-2-3-develop.instances.magento-community.engineering/admin](https://i-25483-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-06 08:10] dmytro-ch commented on #25468
@magento give me 2.3-develop instance

[2019-11-06 08:10] magento-engcom-team commented on #25468
Hi @dmytro-ch. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-06 08:11] magento-engcom-team commented on #25468
Hi @dmytro-ch, here is your [Magento instance](https://i-25468-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25468-2-3-develop.instances.magento-community.engineering/admin](https://i-25468-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-06 08:20] hugoruivo commented on #25483
I'm able to replicate this issue @ https://i-25483-2-3-develop.instances.magento-community.engineering/admin

[2019-11-06 08:36] sunilit42 opened #25484 "Disable product issue with Cart Item bundle product"
### Preconditions (*)

1. Latest Magento
2.  at least one bundle product

### Steps to reproduce (*)

1. Create one bundle product with some simple product and create another simple product
2. do add to cart  bundle product and simple product
3. go to cart page
4. then disable bundle product from product grid
5. check cart page again, it showing one error msg and checkout button missing https://ww

[2019-11-06 08:57] ajijshekh123 commented on #25484
Give me @magento give me 2.3-develop instance

[2019-11-06 08:57] magento-engcom-team commented on #25484
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-06 08:57] magento-engcom-team commented on #25484
Hi @ajijshekh123, here is your [Magento instance](https://i-25484-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25484-2-3-develop.instances.magento-community.engineering/admin](https://i-25484-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-06 09:17] ajijshekh123 commented on #25484
I have verified this issue as per the Steps to be reproduced.
**See the attached video:**

![Shoppingcart_Checkout_Issue](https://user-images.githubusercontent.com/24711761/68284911-55107580-00a4-11ea-93f5-366a36467f99.gif)

[2019-11-06 09:18] magento-engcom-team commented on #25484
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22856` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-06 09:32] ajijshekh123 commented on #25483
I have verified this issue in your First and last name value. But I can't reproduce this issue.
I am using the Braintree Sandbox Payment configuration in the admin section on Magento 2.3 instance.
**Please see the attached video:**

![BraintreePayment_Issue](https://user-images.githubusercontent.com/24711761/68286013-58a4fc00-00a6-11ea-87f3-729b6999caa7.gif)

@hugoruivo - Can you please send me th

[2019-11-06 09:50] hugoruivo commented on #25483
@ajijshekh123 You need to have 3D Secure Verification enabled on the braintree configuration.
![Configuration___Settings___Stores___Magento_Admin](https://user-images.githubusercontent.com/6104554/68287533-c5a29c80-007a-11ea-94d3-60a3043e3b99.png)

[2019-11-06 09:55] marowi85 commented on #25221
I had the same issue after upgrading from Magento 2.3.2 to 2.3.3. The workaround of @AndyJAllen helped me too. Thanks for the tip!

[2019-11-06 10:00] ajijshekh123 commented on #25483
Okay @hugoruivo

[2019-11-06 10:14] alex-james opened #25486 "Indexer Error: Item (Magento\CatalogInventory\Model\Stock\Status) with the same ID already exists."
### Preconditions (*)
This issue is spotted in Magento 2.3.1 with PHP 7.2.14 but specifically with magento/module-catalog-search 101.0.3 (it is not seen in 101.0.0) running a multi-site installation.
1. When Magento has multiple stock locations (multiple entires in cataloginventory_stock)
2. And the same product exists in more than one stock location (multiple entries for the same product_id in ca

[2019-11-06 10:15] alex-james commented on #25486
@magento give me 2.3-develop instance

[2019-11-06 10:15] magento-engcom-team commented on #25486
Hi @alex-james. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-06 10:16] magento-engcom-team commented on #25486
Hi @alex-james, here is your [Magento instance](https://i-25486-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25486-2-3-develop.instances.magento-community.engineering/admin](https://i-25486-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-06 10:16] toxix commented on #24555
Can we push this somehow? PR are there but they are not merged.

[2019-11-06 10:20] ajijshekh123 commented on #25483
@hugoruivo - I have reproduced this issue when I have enabled the 3D Secure verification on Braintree payment configuration.
Thanks for the update.
**See attached the video:**

![BraintreePayment_Issue_Reproduced](https://user-images.githubusercontent.com/24711761/68289903-07e4d180-00ad-11ea-9c49-8c658aa19a29.gif)

[2019-11-06 10:20] magento-engcom-team commented on #25483
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22857` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-06 10:22] aguszczin commented on #2540
Is any news on this- still having this problem in 2.3

[2019-11-06 10:22] magento-engcom-team commented on #24972
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22858` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-06 10:37] Vogel335 commented on #25482
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-11-06 10:37] magento-engcom-team commented on #25482
Hi @Vogel335. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-06 10:37] magento-engcom-team commented on #25482
Hi @Vogel335, here is your [Magento instance](https://i-25482-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25482-2-3-develop.instances.magento-community.engineering/admin](https://i-25482-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-06 10:43] Vogel335 commented on #25482
not possible to reproduce in vanilla Magento instance. Google shopping ads entry is missing in the menu

![Bildschirmfoto 2019-11-06 um 11 41 46](https://user-images.githubusercontent.com/57420558/68291658-9ac04480-008a-11ea-8681-d1d389fe84cd.png)

[2019-11-06 10:49] toxix opened #25487 "Redis cache grows unilimmited"
# Preconditions (*)
1. Magento 2.3.3
2. Redis Cache enabled
3. Production mode

### Steps to reproduce (*)

1. Run Magento in Production with 15 Stores and organic trafic
2. Redis caching enabled

### Expected result (*)

1. Redis cache will stabilize in size.
2. Cache key expiery is set for all things that do have an expiery

### Actual result (*)

1. Redis is growing in size to unlimited (>30GB)

[2019-11-06 10:59] engcom-Charlie commented on #25437
Hello @ioweb-gr

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.3-develop branch by provided steps.

Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/), for advice or general discussion about this issue.

If you still faced this issue on 2.3 please create

[2019-11-06 10:59] #25437 closed, assigned to engcom-Charlie

[2019-11-06 11:18] magento-engcom-team commented on #24953
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22859` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-06 11:37] onepack commented on #23517
This is another great bug. I'm amazed with the amount of "great big" bugs in Magento2.

[2019-11-06 11:48] RomaChernii opened #25489 "Missing category image (Magento 2.3.3)"
### Preconditions (*)

1. PHP 7.2.15
2. Magento 2.3.3 EE

### Steps to reproduce (*)

1. Create a category in the backend
2. In the Content tab of the category, upload a Category Image with the 'Upload' button (let's assume the file is called imagename.jpg)
3. Save the category
4. Save the category again
### Expected result (*)

1. File is uploaded to the directory pub/media/catalog/category with

[2019-11-06 11:52] antbates91 opened #25490 "Magento\Framework\Api\SimpleDataObjectConverter->camelCaseToSnakeCase has no concept of numbers"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)

1. Create a method for an object that contains a number at the end of the method name for example `getMondayWeek1`. This resolves to a db field `monday_week_1`.
2. Call `Magento\Framework\Api\ExtensibleDataObjectConverter`'s `toNestedArray` function passing in the interface data, and the data model.
3. Check the output of array p

[2019-11-06 12:00] magento-engcom-team commented on #24963
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22860` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-06 12:03] renard123 opened #25491 "Check box alignment issue at Statistics"
Check box alignment issue at Statistics

### Preconditions (*)
Magento : 2.3.3

### Steps to reproduce (*)
Admin -> Reports -> Statistics -> Refresh Statistics

### Expected result (*)
Check box alignment should proper

### Actual result (*)
![image](https://user-images.githubusercontent.com/50658701/68296561-e7237880-00ba-11ea-8b62-17c929c0662c.png)

[2019-11-06 12:04] krishprakash commented on #25491
@magento give me 2.3-develop instance

[2019-11-06 12:04] magento-engcom-team commented on #25491
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-06 12:04] magento-engcom-team commented on #25491
Hi @krishprakash, here is your [Magento instance](https://i-25491-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25491-2-3-develop.instances.magento-community.engineering/admin](https://i-25491-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-06 12:07] onepack commented on #23517
I applied the fix of @bchatard.
Imported the customer passwords again from M1 to M2.3.3
One customer has this hash in the import file: 95a665d0bb5da014912d1b823e12604d:uq
After importing and a successful upgrade:
php bin/magento customer:hash:upgrade
.
Finished

I check the database and the customer password value is still identical. Same hash.
Login in is still impossible for the customer.

What

[2019-11-06 12:08] magento-engcom-team commented on #25491
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22861` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-06 12:12] craigcarnell commented on #25489
https://github.com/magento/magento2/issues/25209

[2019-11-06 12:12] engcom-Charlie commented on #24992
Hello @yeevy

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.3-develop branch by provided steps.

We are closing this issue due to branch `2.2-develop` was closed and

 See [Accepted pull requests and ported code](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#rules) for more details.

Please refer to the [Communi

[2019-11-06 12:12] #24992 closed, assigned to engcom-Charlie

[2019-11-06 12:14] tymzap commented on #20125
@magento I am working on it

[2019-11-06 12:17] jsdupuis commented on #25063
@dribblecastle
I'm not a developer (just running a small family business with a fancy Magento website), but here's what I did to solve the problem.

File to fix:
public_html/vendor/magento/module-catalog/view/frontend/templates/product/list.phtml

Line 95: change "disabled" to "enabled" to make buttons active again

I know it's not suggested to edit files directly, but that's all I could do withou

[2019-11-06 12:30] PascalBrouwers commented on #22587
The issue is that the query is doing an ‘infinite join’ during execution
And the culprit it the visibility_filter that is using catalog_product_index_eav instead of using the normal eav table for it.

I don't mean any disrespect but the implementation of the `catalog_product_index_eav` to fix the problem with row_id / entity_id could have been better.

I hope the Commerce patch will be put into Op

[2019-11-06 12:34] magento-engcom-team commented on #25480
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22862` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-06 12:44] drpayyne commented on #25491
Hi @renard123 @krishprakash, I'm unable to reproduce it in my local with updated `2.3-develop` branch. Were you able to reproduce this on `2.3-develop` branch, @krishprakash?
![image](https://user-images.githubusercontent.com/22623301/68299177-35d41100-00c1-11ea-87fb-f18bb1d4834d.png)

[2019-11-06 12:52] krishprakash commented on #25491
Hi @drpayyne. Thanks for your feedback
I have checked at my local instance and also verify on latest magento instance as provided here https://github.com/magento/magento2/issues/25491#issuecomment-550280077

Local instance screenshot:
![image](https://user-images.githubusercontent.com/46617848/68299742-4fc22380-00c2-11ea-8e96-0fac4120e060.png)

[2019-11-06 12:55] engcom-Golf commented on #25371
HI @WalterNu thank you for you report, this is expected beheavior, there is a method to check for user id, i'm closing this as non-issue.
![DeepinScreenshot_select-area_20191106145314](https://user-images.githubusercontent.com/51681547/68299910-58f0c780-00a5-11ea-97e0-9f3f4de49666.png)

[2019-11-06 12:55] #25371 closed, assigned to engcom-Delta, engcom-Golf

[2019-11-06 12:57] krishprakash commented on #25489
Hi @RomaChernii.
Issue is duplicate to #25480 , #25099 and #25209

[2019-11-06 12:57] #25489 closed, assigned to krishprakash

[2019-11-06 12:58] Jilco commented on #25367
@webkul-ratnesh any progress?

[2019-11-06 12:59] Jilco commented on #25367
@magento-engcom-team were are the labels?

[2019-11-06 13:00] kunzi commented on #4409
This is still an issue in 2.3.2. PDF's language is determined by the language of the admin user and not the locale order was made with.

[2019-11-06 13:05] magento-engcom-team commented on #23517
Hi @hostep, @bchatard.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.3-develop` branch(es).
Related commit(s):
 - [f02cb965d7f0a21404c1e25535f98e74e4b928cd](https://github.com/magento/magento2/commit/f02cb965d7f0a21404c1e25535f98e74e4b928cd)

The fix will be available with the upcoming `2.3.4` release.

[2019-11-06 13:05] #23517 closed, assigned to bchatard, sdzhepa

[2019-11-06 13:15] drpayyne commented on #25491
Thanks, @krishprakash. Let me test it here and check.

[2019-11-06 13:15] drpayyne commented on #25491
@magento give me 2.3-develop instance

[2019-11-06 13:15] magento-engcom-team commented on #25491
Hi @drpayyne. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-06 13:16] magento-engcom-team commented on #25491
Hi @drpayyne, here is your [Magento instance](https://i-25491-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25491-2-3-develop.instances.magento-community.engineering/admin](https://i-25491-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-06 13:16] drpayyne commented on #25491
@krishprakash, what browser, may I ask? :thinking:

[2019-11-06 13:17] krishprakash commented on #25491
Yes, Chrome Version 78.0.3904.87 (Official Build) (64-bit)

[2019-11-06 13:19] drpayyne commented on #25491
Not reproducible on Firefox Developer Edition 71.0b6 (64-bit). Checking on Chromium.

[2019-11-06 13:20] drpayyne commented on #25491
Not reproducible on Chromium Version 77.0.3865.90 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit), either. Will check on Chrome.

[2019-11-06 13:21] engcom-Delta commented on #18802
Hi @seyuf thanks for reply.
I rechecked issue on 2.3-develop with elasticsearch 6.x and issue is not reproducible.
[code]
Closed as fixed in 2.3-develop

[2019-11-06 13:21] #18802 closed, assigned to engcom-Delta

[2019-11-06 13:25] inginfinitive commented on #9214
What is truly amazing is not only that this is apparently not being addressed at all (more than 2 years already) but it's a ridiculous bug in a live product used by thousands of shops.
If this happens in such a basic out-of-the-box feature I wonder what else happens else where..
I'm greatly disappointed with Magento TBH, it has revealed itself to be very unreliable.

[2019-11-06 14:23] onepack commented on #23517
I was actually facing the issue that I could not log in at all.
Before and after hash upgrade.
Nothing happened to the passwords.
Found out that appending `:0` to the hash fixed things for me.

[2019-11-06 14:41] ernesthernandez commented on #25491
This issue is reproducible in latest Google Chrome version, I use 2.3.2 and 2.3.3 and all my magento sites presents this issue in cache module as well

[2019-11-06 14:56] sudheer-gajjala opened #25493 "Duplicated Row item with Zero price, when order placed from multi-address checkout"
### Preconditions (*)

1. Magento versions-CE 2.3.2.

### Steps to reproduce (*)

1. Go To Magento admin.
2. create a configurable product with variant child items.
3. Try to create an order from Magento front end using multi-address checkout with the configurable child items
4. The orders created successful.
5. when we verify the Orders in Magento admin, duplicate Order Item is displaying in the

[2019-11-06 14:58] itsPranith commented on #25493
@magento give me 2.3-develop instance

[2019-11-06 14:58] magento-engcom-team commented on #25493
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-06 14:59] magento-engcom-team commented on #25493
Hi @itsPranith, here is your [Magento instance](https://i-25493-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25493-2-3-develop.instances.magento-community.engineering/admin](https://i-25493-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-06 15:12] JoostWan commented on #22119
@magento-engcom-team Can you share the commit where it's been fixed? Thanks!

[2019-11-06 15:21] itsPranith commented on #25493
This issue is not replicating- https://i-25493-2-3-develop.instances.magento-community.engineering/admin/admin/

[2019-11-06 15:21] itsPranith commented on #25493
Closing ticket

[2019-11-06 15:21] #25493 closed, assigned to itsPranith

[2019-11-06 15:29] TurboPeter01 commented on #5873
Go to your DB and find table eav_entity_attribute.
Rename this table, and import the same table from a backup.

After you done that the customer address on both front and backend will work again.

For some weird reason Magento updates all rows in this table ... not sure yet why, but i can easely replicate the problem.  I will let you know when i figured.

[2019-11-06 15:32] magento-engcom-team commented on #25430
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22866` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-06 15:39] gavinlimely commented on #25367
Having this problem too, somebody looks to have put (int) in-front of where any qty is output. Which isn't ideal when the item has "Allow Qty as Decimals" set to "Yes".

[2019-11-06 15:45] facetimer commented on #25038
Same as @ArthurSCD. I have applied the patch, the issue still there...

@ArthurSCD have you found a solution?
@piotrusin May you be more explicit please?

Please reopen this issue.

[2019-11-06 15:57] matthewhaworth commented on #24915
I am also having this issue on 2.2.6.

I believe this is the same too: https://github.com/magento/magento2/issues/24233

[2019-11-06 16:03] hostep commented on #23517
@sdzhepa: can you clarify if you executed `customer:hash:upgrade` before this fix, if you need to run it again, or if everything is screwed in the database and there is no way of getting the passwords back unless a customer resets his password?

It's not for me personally, but having this information might be useful for people who actually ran into this problem.

Thanks!

[2019-11-06 16:40] Vlyav opened #25495 "Product Page doesn't show category in breadcrumb (Magento 2.3.3)"
### Preconditions (*)

1. PHP 7.2.15
2. Magento 2.3.3 EE

### Steps to reproduce (*)

1. Open Product from products list page

### Expected result (*)

1. Product Page show category in breadcrumb

### Actual result (*)

1. Go to products list page - http://joxi.ru/p27RD5ZTK1xXGm
2. Go to product from products list - http://joxi.ru/BA06BpQTMnVkJm
3. Product Page doesn't show category in breadcrumb

[2019-11-06 16:43] maxq commented on #14952
Anyone have a solution for 2.3? I tried overwriting some of the files with ones from 2.3.3 but looks like only option is to upgrade, however that usually means incompatibility with some extensions.

[2019-11-06 16:49] #25495 closed, assigned to nobody

[2019-11-06 17:16] bchatard commented on #23517
@hostep @onepack

In M1, with the following password pattern: `hash_m1:salt`

When you migrate from M1 to M2, you need to use the data migration tool. This tool add `:0` or `:1` to the password (see https://github.com/magento/data-migration-tool/blob/2.3-develop/src/Migration/Step/Customer/Model/AttributesDataToCustomerEntityRecords.php#L186). Now your password looks like this: `hash_m1:salt:m1_ha

[2019-11-06 17:42] dribblecastle commented on #25063
@jsdupuis thank you so much for sharing that with me!  saved me a lot of troubleshooting time.  I understand editing vendor/ files isn't the best, but in this case its the only option that works on short notice.  Appreciate it.

[2019-11-06 18:30] magento-engcom-team commented on #25475
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-06 18:31] magento-engcom-team commented on #25475
Hi @shikhamis11, here is your [Magento instance](https://i-25475-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25475-2-3-develop.instances.magento-community.engineering/admin](https://i-25475-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-06 18:34] shikhamis11 commented on #25439
hello @princefishthrower
I am closing this one as I am not able to reproduce this on latest magento 2 instance . let me know if you are able to reproduce this issue on latest magento 2 instance

[2019-11-06 18:34] #25439 closed, assigned to shikhamis11

[2019-11-06 18:45] hostep commented on #25491
Let me close this as it's a duplicate of https://github.com/magento/magento2/issues/25429
To summarize: the problem only occurs in Magento 2.3.2 and 2.3.3 when using Google Chrome version 78

A fix is already in the works in https://github.com/magento/magento2/pull/25443

[2019-11-06 18:45] #25491 closed, assigned to drpayyne

[2019-11-06 18:53] DanielRuf commented on #14952
Please check the .patch URL of the linked PR. You may have to scroll a bit up. You can apply it with composer-patches.

[2019-11-06 18:56] matutetandil opened #25498 "Change private methods and functions to protected"
This involves any Magento 2 version.

I know that probably there is a desition made based on design to have all variables and methods within core classes to be private. This is great if you don't need to override a class and just adding after or before plugins. But sometimes, when you need to override the hole method (even when you use around) or add some new functionality you may need to use vari

[2019-11-06 19:05] hostep commented on #25447
It looks like they are rolling back the change which introduced the problem: https://github.com/magento/magento2/commit/fa468e7298b42c0a233bbcb7db932f8a8ccbb32f

[2019-11-06 19:11] maxq commented on #14952
Still getting up to speed with M2 and Github, not sure where that is and what I'm looking for.

[2019-11-06 19:21] hostep commented on #14952
@maxq, a lot of useful comments were already posted above, but I get it that it takes a while to read through them, here are some highlights which might help you further:
- check the link in: https://github.com/magento/magento2/issues/14952#issuecomment-414997319
- a concrete example (for Magento 2.2.x) can be found in https://github.com/magento/magento2/issues/14952#issuecomment-449823307

For fu

[2019-11-06 19:29] NetStorm84 commented on #25447
Good to know! Thanks for that.

[2019-11-06 19:53] harrywutech opened #25499 "Most Viewed Products's count is incorrect in admin Dashboard report tab when FPC is enabled"
### Preconditions (*)

1.  Magento EE 2.3.3  with sample data is installed (new installation)
2.  Nginx 1.17 and PHP7.3

### Steps to reproduce (*)

1.  Enable Full Page Cache in Admin
2.  Go to any product detail page, for example http://m233.test/push-it-messenger-bag.html
3.  Refresh the product detail page 10 times

### Expected result (*)

1. The push it messenger bag's Views number should be

[2019-11-06 20:24] sdzhepa commented on #8099
Hello @atwixfirster @amenk @careys7 @dmytro-ch

I just checked the internal Jira ticket `MAGETWO-58841`.

I see it has a huge amount of records/actions since it was created in 2016
It was Fixed, Closed, Reopen, Reverted multiple times(were a lot of attempts to fix and deliver it).

Last comments from engineering were in March-April of 2019 and it is about
_"Current implementation of collections in

[2019-11-06 20:39] sdzhepa commented on #19283
Hello @andkirby  and @dudzio12

It seems this issue has been already fixed and cannot be reproduced on the latest codebase.
I am closing this issue but
If you still faced this issue on `2.3.3` feel free to reopen or create new Issue with all required details according to [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

[2019-11-06 20:39] #19283 closed, assigned to nobody

[2019-11-06 21:33] danieljoeblack commented on #10697
This issue is also happening when there are two slashes in a category.

    ex. Atv/Filters//Fuel

This is on Magento 2.3.1

[2019-11-06 21:41] j-lloyd-slc commented on #13652
For anyone having this issue in later versions, make sure that you don't have an extension that is re-introducing the problem. E.g. Aitoc PreOrders v2.2.0 re-introduced the issue via its own version of

`view/frontend/web/template/minicart/item/default.html`

[2019-11-06 23:12] sdzhepa commented on #22119
Hello @JoostWan

As I can see the fix was delivered with the internal pull request in the scop of `MAGETWO-99043`
So, all comments can be found using search and this number - [LINK](https://github.com/magento/magento2/search?q=MAGETWO-99043&unscoped_q=MAGETWO-99043&type=Commits)

Commit: https://github.com/magento/magento2/commit/c15e194a9c5395d6cc703813feea8ed6efc4f6d5

[2019-11-06 23:30] kingzoz88 opened #25500 "How to win slot 918kiss"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

1. [Screenshots, logs or description]

### Actual result (*)

1. [Screenshots, logs or description]

[2019-11-06 23:39] ArthurSCD commented on #25038
Unfortunately no. I discovered part of the issue is related to One Column layouts as well. Even in a Vanilla M 2.3.3.

[2019-11-06 23:42] PivitParkour94 commented on #4620
If anyone is interested, I made a Feature Request with a proposed solution to the clearing of the ui_bookmark table that doesn't require technical DB knowledge
https://github.com/magento/community-features/issues/215

[2019-11-06 23:48] sdzhepa commented on #25500
Please have a look at our guidelines article before adding a new issue https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-11-06 23:48] #25500 closed, assigned to nobody

[2019-11-06 23:53] LiamKarlMitchell commented on #13466
@magento-engcom-team
Will the above commits work to patch this on Magento <2.3.4 such as 2.3.0?

[2019-11-06 23:57] Bartlomiejsz commented on #10003
@magento give me 2.3-develop instance

[2019-11-06 23:58] magento-engcom-team commented on #10003
Hi @Bartlomiejsz. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-06 23:58] magento-engcom-team commented on #10003
Hi @Bartlomiejsz, here is your [Magento instance](https://i-10003-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-10003-2-3-develop.instances.magento-community.engineering/admin](https://i-10003-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-07 00:01] Bartlomiejsz commented on #10003
Closing as no longer reproducible on 2.3-develop

[2019-11-07 00:01] #10003 closed, assigned to Bartlomiejsz

[2019-11-07 01:00] Robert-Sheahan commented on #12671
Just updated to 2.3.3 and this problem is still an issue.   When you add a free item ($0) to the shopping cart there is no way to checkout.   Only the PayPal options come up and any selection is rejected due to the $0 amount.   Worked fine in 1.9.x?   It has been reported years ago!   Did anyone find a workaround other than charging the customer $0.01?
The feature is used to attract new customers,

[2019-11-07 02:00] magento-engcom-team commented on #25392
Hi @torhoehn. Thank you for your report.
The issue has been fixed in magento/magento2#25393 by @torhoehn in 2.3-develop branch
Related commit(s):
 - [3b795b92ec816489cdb0d11a948ecbdfc1292738](https://github.com/magento/magento2/commit/3b795b92ec816489cdb0d11a948ecbdfc1292738)

The fix will be available with the upcoming 2.3.4 release.

[2019-11-07 02:00] #25429 closed, assigned to krzksz

[2019-11-07 02:00] #9671 closed, assigned to krzksz

[2019-11-07 02:00] #25392 closed, assigned to torhoehn

[2019-11-07 02:00] magento-engcom-team commented on #25366
Hi @cedarvinda. Thank you for your report.
The issue has been fixed in magento/magento2#25368 by @cedarvinda in 2.3-develop branch
Related commit(s):
 - [d9e525a5e33a771df6c4c835e518fa024f6b47d2](https://github.com/magento/magento2/commit/d9e525a5e33a771df6c4c835e518fa024f6b47d2)
 - [fddc005bbb2480caeb3f816fd9e04865e36d4dee](https://github.com/magento/magento2/commit/fddc005bbb2480caeb3f816fd9e048

[2019-11-07 02:00] #25366 closed, assigned to cedarvinda

[2019-11-07 02:00] magento-engcom-team commented on #25294
Hi @TomashKhamlai. Thank you for your report.
The issue has been fixed in magento/magento2#25357 by @akaplya in 2.3-develop branch
Related commit(s):
 - [c4c36dcc48c4e74a70aaf83cee760cc5ffa34d29](https://github.com/magento/magento2/commit/c4c36dcc48c4e74a70aaf83cee760cc5ffa34d29)
 - [9f13b478cbc632ee34847049c39386f0039217d6](https://github.com/magento/magento2/commit/9f13b478cbc632ee34847049c39386

[2019-11-07 02:55] #25458 closed, assigned to krishprakash

[2019-11-07 02:56] kaazx88x commented on #25458
Error because some custom module have  ' in json tree

[2019-11-07 04:16] sea129 commented on #25482
Google shopping Ads comes with Magento 2.3.3.
@Vogel335 I think the module loads some external scripts from https://channels.magento.com/asset-manifest.json which conflict with Magento extended javascript's objects.

[2019-11-07 05:42] mjoraid commented on #9214
So could we say that "Maximum Qty Discount is Applied To" is being skipped / ignored ?

[2019-11-07 06:11] itsPranith commented on #25499
@hanxiangwu - T His is an EE issue. Please contact Enterprise team to get this issue fixed.
This forum is used for CE or Community issues
Closing this ticket.

[2019-11-07 06:11] #25499 closed, assigned to itsPranith

[2019-11-07 07:01] dmytro-ch commented on #8099
Hello @sdzhepa, thank you for the details!

[2019-11-07 07:29] developerRitesh commented on #8213
Hi Can anyone provide link for the fix or reference ?? i need to fix it on my setup without upgrading the magento to 2.2

[2019-11-07 07:39] sudheer-gajjala opened #25501 "Multi-shipping Update QTY & Address button issue"
### Preconditions (*)

1. Magento versions-CE 2.3.2, CE 2.3.3

### Steps to reproduce (*)

1. Go to Magento front end
2. create a customer and add multiple addresses for customer in the front end
3. Try to create an order using the Multi-address checkout option
4. while selecting the Product with the different address and QTY while multi-address checkout option
5. without clicking on "Update QTY &

[2019-11-07 07:43] itsPranith commented on #25501
@magento give me 2.3-develop instance

[2019-11-07 07:43] magento-engcom-team commented on #25501
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-07 07:44] magento-engcom-team commented on #25501
Hi @itsPranith, here is your [Magento instance](https://i-25501-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25501-2-3-develop.instances.magento-community.engineering/admin](https://i-25501-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-07 07:52] jesse-thomas commented on #25076
I am having a similar issue with M 2.3.3, while testing the contact form emails opened in Thunderbird at home (on a PC) display the content as an attachment. At work on a mac the same email will display correctly. We are not using exchange at all, its postfix and a open source imap server.
applying the patch  from above makes the email display correctly (not as an attachment)

[2019-11-07 08:01] engcom-Delta commented on #25482
Hi @Vogel335 thank you for your report. Seems like your browser blocks popup by default. You should allow it for configure [Google Shopping ads](https://docs.magento.com/m2/ce/user_guide/sales-channels/google-ads/link-accounts.html)

Closed as non-issue

[2019-11-07 08:06] itsPranith commented on #25501
Hi,

I'm able to replicate this issue on instance - https://i-25501-2-3-develop.instances.magento-community.engineering/admin/admin/

Please find the video recording of the issue-
https://www.screencast.com/t/CS7meaMV

[2019-11-07 08:06] magento-engcom-team commented on #25501
:white_check_mark: Confirmed by @itsPranith
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22907` were created

**Issue Available**: @itsPranith, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-07 08:07] onlinebizsoft opened #25502 "Admin -> Configuration -> Sales -> Tax browsers get frozen"
### Preconditions (*)
Magento 2.3.3 (at least I'm getting the problem with multiple instances 2.3.3, tested with both Firefox 70.0.1 (64-bit))

### Steps to reproduce (*)

1. Simply go to admin and open Configuration -> Sales -> Tax.
2. Wait for some seconds, page seems to be finish
3. After a while, you get browser warning which pages slow down the browser and users can't interact with any input

[2019-11-07 08:16] mertgokceimam commented on #22587
@PascalBrouwers the patch you link is not solving the issue fully correctly. Even the initial patch we received from Magento team for this issue is not 100% accurate , there are other cases where this issue could still pop up , we supplied detailed report to Magento team and awaiting an updated patch

For the time being the best case we see is to automatically kill those queries. Here is the pt-ki

[2019-11-07 08:28] itsPranith commented on #25502
@magento give me 2.3-develop instance

[2019-11-07 08:28] magento-engcom-team commented on #25502
Hi @itsPranith. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-07 08:29] magento-engcom-team commented on #25502
Hi @itsPranith, here is your [Magento instance](https://i-25502-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25502-2-3-develop.instances.magento-community.engineering/admin](https://i-25502-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-07 08:30] Vogel335 commented on #25482
Hi pop up blocker is disabled. I think its not a pop up blocker issue.. the window for login to google is appear. Tried Firefory and chrome with disabled pop up blocker both is same result.

[2019-11-07 08:52] engcom-Charlie commented on #24550
Hello @VaD1ke

I close this issue as not relevant since PR is already merged.

[2019-11-07 08:52] #24550 closed, assigned to nobody

[2019-11-07 09:03] syno-bvo commented on #19710
Hi here!

I think I have the explanation to many of these problems : the images are now handled by the "pub/get.php" file, which is in charge of generating images.
I think most of us didn't notice that change, and there is something missing in the .htaccess files (or nginx conf).

I could solve the issue in my case by asking the Magento Cloud support to adjust the Nginx conf.

Hope this can help.

[2019-11-07 09:06] engcom-Charlie commented on #25408
Hello @filmaj

I close this issue as not relevant since PR(for this issue) is already merged.

Thank you for contribution and collaboration!

[2019-11-07 09:06] #25408 closed, assigned to nobody

[2019-11-07 09:07] mrcks opened #25503 "Image roles for multi-store"
**Magento EE 2.3.1 - Image Roles Issue**

### Summary (*)
I have two store views, the base/default store view and a newly created 2nd store view.
I have a script that imports images from an external source and assigns the images to products.

In this particular instance, I need to import images against products that are assigned to the 2nd store, that also belong to a category that is assigned to

[2019-11-07 09:25] webkul-deepak commented on #24926
Hi @avgust1111  the provided solution is not the temporary, it's the final solution. As it's the feature of Declarative Schema.
Yes, it will work same for modules which you've enabled after a long time.
Also "--data-restore=1" restores both data and schema, after enabling the module again.

[2019-11-07 09:26] dmanners commented on #6415
I will add this here in-case it helps anyone. I was having this issue not with a full reindex but when reindexing only 536 products from a specific category.

When diving into this problem I noticed that the redinexall ends up calling `Magento\Catalog\Model\Indexer\Product\Eav\Action\Full:execute` which does the batching but when specifing just a set of product ids it ended up in `Magento\Catalog\

[2019-11-07 09:31] WalterNu commented on #25371
Yes there is a method. And this method is wrong.
In my case a external seo consultant with restricted backend access sees all bulk action logs, but I as a admin shall not be allowed to see it? In my view I don't expect this behaviour.

[2019-11-07 09:36] psdevhh commented on #9214
It's not ignored, it's just applied on a per product basis.

Example: You have 2 different products in your cart, each with a quantity of 2. If you set "Maximum Qty Discount is Applied To" to 1, your discount will be applied twice, once for every product. So from your 4 products total in the cart, 2 will be discounted.

[2019-11-07 09:43] engcom-Charlie commented on #23691
Hello everyone!
I am closing this issue per @neillrobson https://github.com/magento/magento2/issues/23691#issuecomment-544480687 ( Magento has workarounds for it).

Thanks everyone for contribution and collaboration!

[2019-11-07 09:43] #23691 closed, assigned to engcom-Charlie

[2019-11-07 09:45] avgust1111 commented on #24926
Hello, @webkul-deepak.
Thank you for the update.
One moment is still unclear enough.

Will this action affect the whole database, or only tables, related to the module, which is enabled again?

[2019-11-07 09:53] magento-engcom-team commented on #24926
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22908` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-07 09:55] engcom-Golf commented on #25371
@WalterNu I think that this behavior is correct, you can open an issue here -> https://github.com/magento/community-features/issues and discuss this feature.

[2019-11-07 10:13] mrcks commented on #25503
^^ Update to the above
(forgive the use of Object Manager, this only a quick test and the real code would of course not use the OM)

This code works, in that it creates additional records in catalog_product_entity_varchar for my desired store. I suppose this is ok, although Im not overly keen on this solution, but it beats direct SQL I guess

$om = \Magento\Framework\App\ObjectManager::getInstance

[2019-11-07 10:16] ihor-sviziev commented on #25461
Hi,

As we discussed in Slack - this issue appears only when "sku" field is shown.

The result SKU is following:

There is an issue not in the SKU itself, the issue that we can't really find product in the catalog by this SKU, (<original_product_sku> in this case).

I see there at least two possible solutions:
1. **Drop functionality that appends option SKUs**
This probably it's backward compatibl

[2019-11-07 10:30] Sharmilasrini95 commented on #20771
i am getting the same error.i replaced the setup module.but it doesn't work

[2019-11-07 10:46] lexiconnect commented on #15427
Seeing this on multiple installations of Magento 2.3.3.  Tried all the above fixes an none of them appear to fix the issue.

[2019-11-07 10:57] mohith227 commented on #25268
@qsolutions-pl in this event we are not getting customer object so instead of $order->getCustomer() use like $order->getCustomerFirstname() for customer first name

[2019-11-07 11:06] engcom-Delta commented on #25347
Hi @an4rei . Could you clarify what two country lists you compare?
Is this country list from Google Shopping ads configure page?
![#25347issue](https://user-images.githubusercontent.com/51681379/68383970-52268b00-015f-11ea-835f-c06c71879f3f.jpg)

[2019-11-07 11:10] koenner01 opened #25505 "Using 'widget_filters' in the wysiwyg editor config results in Forbidden page in modal"
Currently when trying to use 'widget_filters' wysiwyg editor configuration data property, the insert widgets modal doesn't work.

### Preconditions (*)
1. PHP7.2
2. CE 2.3.3 (Also reproduced on CE.2.2.8)

### Steps to reproduce (*)
1. Have (or create) a shit load of widgets in your project (that have is_email_compatible = 0)
2. In Adminhtml go to Marketing > Communications > Newsletter Template
3.

[2019-11-07 11:19] elfeffe opened #25506 "Google Shopping ads Error"
### Preconditions (*)

1. Magento 2.3.3, Chrome (Version 78.0.3904.97 (Official Build) (64-bit))
2. I already got the API for Google Shopping ads, I had the same white page with the API and without.

### Steps to reproduce (*)

1. Access Google Shopping ads from Marketing tab

### Expected result (*)

1. "Welcome to Google Shopping ads Channel in Magento" popup appears. Behavior is not depends fro

[2019-11-07 11:22] elfeffe commented on #25506
@magento give me 2.3-develop instance - upcoming 2.3.x release

[2019-11-07 11:22] magento-engcom-team commented on #25506
Hi @elfeffe. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-07 11:22] magento-engcom-team commented on #25506
Hi @elfeffe, here is your [Magento instance](https://i-25506-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25506-2-3-develop.instances.magento-community.engineering/admin](https://i-25506-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-07 11:24] dmanners opened #25507 "reindexList does not use batch processing"
### Preconditions (*)

1. Magento Version 2.2.5
1. 4000 products,
1. 41 stores
1. 42 store groups,
1. 6 websites,

### Steps to reproduce (*)

1. Programatically reindex a limited set of products with the following,

[code]

### Expected result (*)

1. Reindex to be successfully completed,

### Actual result (*)

1. Error given: `The table 'catalog_product_index_eav_temp' is full`

After diving in

[2019-11-07 11:27] elfeffe commented on #25506
Magento Vanilla doesn't include Google Shopping ads

[2019-11-07 11:32] dmanners commented on #25507
There is a similar closed issue but around the reindexAll method: https://github.com/magento/magento2/issues/6415

[2019-11-07 11:32] an4rei commented on #25347
Hello @engcom-Delta

That is indeed the Country field I was talking about. It defines the country+language of each product that gets sent to their API. Below you have the countries field from google merchant when creating a Content API:
![image](https://user-images.githubusercontent.com/11984860/68385705-07a70d80-0163-11ea-84e7-593df3a61e3d.png)

[2019-11-07 11:38] gabrieldagama commented on #24807
The PR has been approved and merged.

[2019-11-07 11:38] #24807 closed, assigned to gabrieldagama

[2019-11-07 11:38] saisudheern opened #25509 "ElasticSearch - Exception #0 (RuntimeException): Illegal state"
### Preconditions

1. Magento2 EE 2.3.3
2. Elastic Search 6.x

### Steps to reproduce

1. Select the search engine as Elasticsearch6 in the admin configuration.
2. Save few Catalog products with Category Permissions to make sure that data is indexed in ES.
3. Try to query for any saved product via Search/Product List Page.

### Expected result

1. It should return the queried items via Search/Prod

[2019-11-07 11:39] dmanners commented on #25507
If it turns out that it should be batched in the same way that the reindexAll is batched then I would be happy to take this on as contribution with some input and direction from the arch team.

[2019-11-07 12:08] BrentRobert opened #25511 "Category with layout 1 column does not load products"
### Preconditions (*)

1. M2.3.3

### Steps to reproduce (*)

1. Change the layout of a category to 1 column.
2. Flush Cache

### Expected result (*)

1. Category is 1 column
2. Products are loaded

### Actual result (*)

1. Category is 1 column
2. Products don't load anymore

[2019-11-07 12:12] BrentRobert commented on #25511
@magento give me 2.3-develop instance

[2019-11-07 12:12] magento-engcom-team commented on #25511
Hi @BrentRobert. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-07 12:12] magento-engcom-team commented on #25511
Hi @BrentRobert, here is your [Magento instance](https://i-25511-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25511-2-3-develop.instances.magento-community.engineering/admin](https://i-25511-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-07 12:24] engcom-Delta commented on #24353
Hi @HOSTED-POWER thank you for your report. I am not able to reproduce issue by steps you described on 2.3-develop.
![#24353issue](https://user-images.githubusercontent.com/51681379/68388810-24930f00-016a-11ea-80e6-076cd4194f33.jpg)

![image](https://user-images.githubusercontent.com/51681379/68388842-383e7580-016a-11ea-9851-eac2767b6b01.png)

If you'd like to update the issue, please reopen it.

[2019-11-07 12:25] waqasamin225 opened #25512 "Warning: Declaration of CommunityEngineering\JapaneseName\Model\DataObject\Copy::setAttributeValueFromExtensibleDataObject($target, $code, $value) should be compatible with Magento\Framework\DataObject\Copy::setAttributeValueFromExtensibleDataObject(Magento\Framework\Api\ExtensibleDataInterface $target, $code, $value) in /data/magento/vendor/community-engineering/module-japanese-name/Model/DataObject/Copy.php on line 0"
### Summary (*)

### Examples (*)

### Proposed solution

[2019-11-07 12:25] BrentRobert commented on #25511
Can not reproduce at this moment.

[2019-11-07 12:28] HOSTED-POWER commented on #24353
Hello @engcom-Delta

Did you enable

varnishlog -q 'RespStatus == 503' -g request

And then crawled the whole site? Try that again after 30 min and again after 2 hours, it should really start happning :/

[2019-11-07 12:29] HOSTED-POWER commented on #24353
Used varnish 6.2 btw, not sure that would matter

[2019-11-07 12:29] waqasamin225 commented on #25512
i have this issue when i add new product in any category in magento 2.3

[2019-11-07 12:34] HOSTED-POWER commented on #24353
PS: The vcl is for Varnish 6.2: https://github.com/magento/magento2/commit/882379061809b806fc5580729a6c9c78d782f84d#diff-2f64f6171deecba61bea147539cf72ec

So at least I would test with that and not 6.0.5 which is outdated for this test.

Furthermore, if you want to see if even faster, try the caching of static files:

E.g. change this part:

[code]

[2019-11-07 12:34] BrentRobert commented on #25511
Duplicate with #24619

[2019-11-07 12:34] #25511 closed, assigned to BrentRobert

[2019-11-07 12:36] krishprakash commented on #25512
@waqasamin225, Please update all the necessary details as per reporting guild lines below
https://github.com/magento/magento2/wiki/Issue-reporting-guidelines

[2019-11-07 12:38] engcom-Delta commented on #24353
@HOSTED-POWER thanks for reply. Rechecked on varnish 6.2.2 and issue is not reproducible:
![image](https://user-images.githubusercontent.com/51681379/68389668-2b228600-016c-11ea-97a5-52b60536f3d7.png)

[2019-11-07 12:39] sarveshlucent commented on #25427
Hi @engcom-Delta, I am facing form key invalid issue on https://magento-331546-1017597.cloudwaysapps.com/paint-mediums/oil-paint-mediums.html.

I changed in local server localhost to 127.0.0.1 and now no error comes.

But I am facing this issue in my staging server. ==> https://magento-331546-1017597.cloudwaysapps.com/paint-mediums/oil-paint-mediums.html

Please help m.
Thanks

[2019-11-07 12:44] HOSTED-POWER commented on #24353
With static caching enabled and with crawling a whole site? I think the shop in your screenshot was empty (It's not happening on all objects on all pages).

Also it takes some time, it works sometimes fine for a few hours even, but happens eventually. Sometimes very fast also, but you need to let it run longer time.

We noticed with static file caching enabled, it occurred even faster, so it would

[2019-11-07 12:48] krishprakash commented on #25512
@waqasamin225, Feel free to reopen the issue once you update all details as per reporting guidelines.
Thanks.

[2019-11-07 12:48] #25512 closed, assigned to krishprakash

[2019-11-07 12:56] rizwan-i-khan commented on #12602
@crtl
I am facing the same issue, any solutions for this?

[2019-11-07 13:11] engcom-Delta commented on #24353
@HOSTED-POWER Still cannot reproduce issue:
![#24353issue](https://user-images.githubusercontent.com/51681379/68391217-ba7d6880-016f-11ea-9b72-1ef43fd5c4fb.gif)
In default.vcl static file caching is enabled:
![image](https://user-images.githubusercontent.com/51681379/68391295-f57f9c00-016f-11ea-8882-dc9f10b291f4.png)
And header with `MISS` value is taken from vcl file that was generated from magen

[2019-11-07 13:15] HOSTED-POWER commented on #24353
Veryyyyyy strange :)

We use nginx --> varnish --> nginx, but I doubt that's the reason.

We saw it on several sites for sure, at least 7 or 8 different ones. (production websites ,so not with the default theme etc).

[2019-11-07 13:17] sarveshlucent opened #25513 "How to solve Form Key Invalid issue ?"
### Summary (*)

last few days, I am facing Form Key Invalid issue in my localhost.
1. Sometime when a product adds into a cart and then try to delete.
2. Sometime when I will go to the category page. then it shows this issue.
I tried many possible solutions and finally, I resolved in localhost.
I changed the localhost to 127.0.0.1 and it is working fine.
But now Its time to sort out in staging se

[2019-11-07 13:23] sarveshlucent commented on #25513
@magento-engcom-team How to reproduce in vanilla. I don't to use that. please explain to me.

[2019-11-07 13:38] tymzap commented on #20125
@magento give me 2.3-develop instance

[2019-11-07 13:38] magento-engcom-team commented on #20125
Hi @tymzap. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-07 13:39] magento-engcom-team commented on #20125
Hi @tymzap, here is your [Magento instance](https://i-20125-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-20125-2-3-develop.instances.magento-community.engineering/admin](https://i-20125-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-07 14:00] ptylek commented on #22819
@magento give me 2.3-develop instance

[2019-11-07 14:00] magento-engcom-team commented on #22819
Hi @ptylek. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-07 14:01] magento-engcom-team commented on #22819
Hi @ptylek, here is your [Magento instance](https://i-22819-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-22819-2-3-develop.instances.magento-community.engineering/admin](https://i-22819-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-07 14:34] janssentwh opened #25514 "Image resizing and watermarking do no take into consideration the relative dimensions of the watermark and watermarked image."
### Introduction
In Magento 2.3.3 it is possible to upload watermarks. By doing so your product images are watermarked indeed. But, when uploading product images of different sizes, the watermark's size is altered relative to the product image. These images below better illustrate my point:
Small base product image:
![image](https://user-images.githubusercontent.com/19301091/68397984-527d5100-0174

[2019-11-07 14:38] janssentwh commented on #25514
@magento give me 2.3-develop instance

[2019-11-07 14:38] magento-engcom-team commented on #25514
Hi @janssentwh. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-07 14:39] magento-engcom-team commented on #25514
Hi @janssentwh, here is your [Magento instance](https://i-25514-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25514-2-3-develop.instances.magento-community.engineering/admin](https://i-25514-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-07 14:49] magento-engcom-team commented on #25347
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22916` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-07 14:50] engcom-Bravo commented on #7298
Hi there. Could anyone please give the exact Steps to Reproduce following which the issue is reproducible on the vanilla 2.3-develop instance. @aliomattux I tried to use the info You've shared and if I understand it right I can reproduce somehow a behavior that gives an error. But that error is "The value specified in the URL Key field would generate a URL that already exists..." and not the one t

[2019-11-07 14:56] iflairBhavin opened #25516 "Category Page Configurable Product Filter Issue"
### Preconditions (*)

1. Magento 2.3.3

### Steps to reproduce (*)
1. Create configurable product with Color and Size attributes (ie. Red, Green, Blue options of Color and S, M, L options of Size) and assign to one of the test category.
2. Make one simple product out of stock for ex. Green color with M size simple product's qty set to Zero and mark as out of stock.
3. In the Magento 2 Admin > Sto

[2019-11-07 15:07] magento-engcom-team commented on #25476
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22917` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-07 15:13] TomashKhamlai commented on #25427
A good point to start is to figure out why response contains SID
![image](https://user-images.githubusercontent.com/11827230/68400709-24523e00-0181-11ea-9b9b-c7d9572fcdf8.png)
and get rid of warnings.

From the Magento Admin side, you can go to the Store > Configuration > General > Web > Session Validation Settings > Use SID on Storefront and set to No on your staging server, by session id can be

[2019-11-07 15:15] tymzap opened #25517 "Product item rating stars overlaps a hovered item on category page"
### Preconditions
1. Magento 2.3.3 with sample data

### Steps to reproduce
1. Go to category with "Hot Sellers" product list set up (preferably **Gear**).
2. Mouse hover on one of the product items, preferably the second to the left.

### Expected result
1. Content of non-hovered product items doesn't overlap hovered product item.

### Actual result
1. Rating stars of a non-hovered product overla

[2019-11-07 15:45] gbitdev opened #25518 "Can't import products after disabling Temando_Shipping"
### Preconditions
1. Magento 2.3.3 developer modeg

### Steps to reproduce
1. `php bin/magento module:disable Temando_Shipping`
2. `rm -rf ./generated/code/*`
3. `bin/magento cache:flush && bin/magento setup:upgrade && bin/magento setup:di:compile`
4. Try products import. After click on Check Data button recive error 500 from server.

### Expected result
Import products

### Actual result
[code]

[2019-11-07 15:50] engcom-Charlie commented on #24782
Hello @dzungnt

We are not able to reproduce this issue on the latest 2.3-develop(Enterprice too) branch by provided steps.

**Manual testing scenario:**

1. Setup sandbox for Braintree Paypal
2. Add product to cart and go to checkout page.
3. Fill shipping information and go to payment step.
4. Apply a valid coupon code at payment step.
5. Select Braintree Paypal payment method and click to Pay w

[2019-11-07 16:45] sdzhepa commented on #23517
Hello @hostep

Very good and important question  https://github.com/magento/magento2/issues/23517#issuecomment-550377818

I have requested an answer for this question from the internal Magento team members who worked on the fix and waiting for a response now.
I will respond here as soon as I have any updates

[2019-11-07 17:49] sdzhepa commented on #25403
Hello @MrAmbro and @mmmattera

We have notified the vendor owner of Vertex about this report.
As I know they are working on it now.
Internal Jira ticket to track progress for this issue has been created `BUNDLE-2311`

We will provide updates as soon as we have it

[2019-11-07 17:58] sdzhepa commented on #25471
Hello @sebdelta

It is not possible to enable Vertex_Tax module on vanilla Magento instance.
Instance deployer uses only git-based Magento installation, Vertex it is bundle extension included only to the composer-based installation.

We have notified the vendor owner of Vertex about this report and results of your investigation from https://github.com/magento/magento2/issues/25471#issuecomment-549

[2019-11-07 18:33] Jilco opened #25521 "2.3.3 decimals not shown in admin and invoice and credit not possible"
### Preconditions (*)

1. Magento 2.3.3
2.

### Steps to reproduce (*)

1. Make product with "Qty Uses Decimals" to yes
2. Order 1.5 of the product

### Expected result (*)

1. In the admin 1.5 is shown
2. On the invoice 1.5 is shown
3. It is possible to credit 0.5 of the qty

### Actual result (*)

In case of order of 0.7 this happens:
![Naamloos](https://user-images.githubusercontent.com/2372713

[2019-11-07 18:33] Jilco commented on #25521
@magento give me 2.3.3 instance

[2019-11-07 18:34] magento-engcom-team commented on #25521
Hi @Jilco. Thank you for your request. I'm working on Magento 2.3.3 instance for you

[2019-11-07 18:35] magento-engcom-team commented on #25521
Hi @Jilco, here is your [Magento instance](https://i-25521-2-3-3.instances.magento-community.engineering).
Admin access: [https://i-25521-2-3-3.instances.magento-community.engineering/admin](https://i-25521-2-3-3.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-07 18:49] Jilco commented on #25521
![test1](https://user-images.githubusercontent.com/23727130/68417990-ae0d0600-0197-11ea-9920-89eb3b74141f.jpg)
![05](https://user-images.githubusercontent.com/23727130/68417991-aea59c80-0197-11ea-98ae-8e5262453f28.jpg)
![amount](https://user-images.githubusercontent.com/23727130/68417993-aea59c80-0197-11ea-8717-a0db669735de.jpg)

[2019-11-07 18:51] Jilco commented on #25521
reproduced with 1.5 (ordered 1 in admin) and 0.5 (invoice not possible and credit) amount

[2019-11-07 19:06] jordanvector commented on #17951
EE merchant here with the same issue.  This may be a bit of a dirty workaround but we wrote a quick bash script that runs every 5 minutes looks for cron jobs that are consumers and kills them.  Its worked ok and kept the consumers running so far.

Script looks like this

#!/bin/bash
ps -ef | grep consumers | grep -v grep | awk '{print $2}' | xargs kill

[2019-11-07 19:44] pknap commented on #21218
@magento-engcom-team give me 2.3-develop instance

[2019-11-07 19:44] magento-engcom-team commented on #21218
Hi @pknap. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-07 19:45] magento-engcom-team commented on #21218
Hi @pknap, here is your [Magento instance](https://i-21218-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-21218-2-3-develop.instances.magento-community.engineering/admin](https://i-21218-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-07 20:07] molotovbliss commented on #8145
Having run into this before; anyone needing to lint images before resize can use ImageMagicks `identify` utility command to be sure the process doesn't abruptly fail due to one bad image.

**Find malformed/invalid images recursively**
with ImageMagick's identify utility of current working dir display output listing of current file scanned, only non 0 exit status get logged.

`find -D rates . -type

[2019-11-07 20:58] rafaytaher commented on #8145
a quick suggestion (i apologize if its redundant).
add theme name as an argument to resize images for the theme.
similarly add attribute (small, thumbnail...) as an argument for resize image specific to that attribute only (globally or theme specific).
I have not yet tested the resize image command but I believe this will help in performance as it won't be resizing for all the themes and all the a

[2019-11-07 21:15] sdzhepa commented on #24809
FYI: @phoenix128

[2019-11-07 22:41] yuriitaran commented on #16989
@vkublytskyi It is how Magento behave? The approach Magento documentation suggests and default Magento behavior are contradict to generally accepted CSS code writing standards. This is very illogical. It results in a bunch of code bad smells. And, instead of recognizing the obvious mistake made in the design of the system, you prefer to say that black is white. "It is how Magento behave".

[2019-11-07 23:19] sebdelta commented on #25471
@sdzhepa thank you for the update.

[2019-11-07 23:27] sea129 commented on #25506
#25482 And it is not pop up blocker. The issue is loader.js uses for ... in iterator on array which is wrapped by prototypejs.

[2019-11-08 00:38] mangamuri opened #25522 "Magento 2.3.2- Orders in Processing state when creating Orders with multiple simple products and one bundle product"
### Preconditions (*)

1. Magento 2.3.2
2. We are  creating Order using Magento API's not from storefront

### Steps to reproduce (*)

1. Add 2 simple products to cart
2. Add one Bundle product to cart
3. Create Order
4. View Order status - Order status is showing as Procesisng
5. Only one simple product is getting invoiced

### Expected result (*)

1. [Screenshots, logs or description]
2.  Order

[2019-11-08 00:39] mangamuri commented on #25522
@magento give me 2.3-develop instance ( 2.3.2 version)

[2019-11-08 00:39] magento-engcom-team commented on #25522
Hi @mangamuri. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-08 00:39] magento-engcom-team commented on #25522
Hi @mangamuri, here is your [Magento instance](https://i-25522-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25522-2-3-develop.instances.magento-community.engineering/admin](https://i-25522-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-08 01:59] ncaballerobol commented on #7285
Recently ran into this same exact issue as well on 2.3.1 and came across the same solution except in my case it was for a Color Swatch attribute. I had to change the attribute's backend_type from VARCHAR to INT and the source model to Magento\Eav\Model\Entity\Attribute\Source\Table.   Also had to move over all of the rows in the catalog_product_entity_varchar table into the catalog_product_entity_

[2019-11-08 04:39] magento-engcom-team commented on #25517
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22949` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-08 04:42] krishprakash commented on #25517
Reproduced at local (with Sample data):
![image](https://user-images.githubusercontent.com/46617848/68450206-362ef200-0210-11ea-9896-4672c01f3777.png)

[2019-11-08 04:46] ajijshekh123 commented on #25522
Give me @magento give me 2.3-develop instance

[2019-11-08 04:46] magento-engcom-team commented on #25522
Hi @ajijshekh123. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-08 04:46] magento-engcom-team commented on #25522
Hi @ajijshekh123, here is your [Magento instance](https://i-25522-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25522-2-3-develop.instances.magento-community.engineering/admin](https://i-25522-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-08 04:51] sarveshlucent commented on #25427
Perfect NOw It's working now.
Thanks a lot for your help.

you know what I am really happy, you save me lots of time.
Hope now in future invalid key related issue not come.

Thanks a lot.
Sarvesh Patel

On Thu, Nov 7, 2019 at 8:44 PM Tomash Khamlai <notifications@github.com>
wrote:

[2019-11-08 05:07] sarveshlucent commented on #25427
So Sad, Still getting Invalid form key error!

[2019-11-08 08:10] engcom-Delta commented on #25498
Hi @matutetandil , thank you for your report.
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [community-features](https://github.com/magento/community-features/issues) for general discussion about this issue.

[2019-11-08 08:10] #25498 closed, assigned to engcom-Delta

[2019-11-08 08:22] edenduong commented on #25517
@magento give me 2.3-develop instance

[2019-11-08 08:22] magento-engcom-team commented on #25517
Hi @edenduong. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-08 08:23] magento-engcom-team commented on #25517
Hi @edenduong, here is your [Magento instance](https://i-25517-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25517-2-3-develop.instances.magento-community.engineering/admin](https://i-25517-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-08 08:30] osrecio commented on #25522
@magento give me 2.3-develop instance

[2019-11-08 08:30] magento-engcom-team commented on #25522
Hi @osrecio. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-08 08:31] magento-engcom-team commented on #25522
Hi @osrecio, here is your [Magento instance](https://i-25522-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25522-2-3-develop.instances.magento-community.engineering/admin](https://i-25522-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-08 08:44] mrcks commented on #25503
^^ Update 2...
Actually this doesn't work as the image name that gets added to catalog_product_entity_media_gallery by magento / addImageToMediaGallery
has an incremental number added to the end before the .jpg extension

I cant retrieve this number from anywhere its seems.
So if I do use $productAction->updateAttributes, the image name will be wrong as I only have access to the original image nam

[2019-11-08 09:34] agallart opened #25526 "Bulk Action - Finished with Failure"
**### Preconditions**

1.magento 2.3.3 developer mode

**### Steps to reproduce**

1.   POST  with postman https://www.test.com/rest/all/async/bulk/V1/products

[code]
**### Expected result**

Full import products

**### Actual result**
If i try less than 3 products it works..

![image](https://user-images.githubusercontent.com/16067982/68465686-38df1680-0213-11ea-81ca-469970e4b497.png)

![image](

[2019-11-08 09:45] jesperbrejning commented on #23450
We had the issue with bulk update of products. I can confirm that the solution suggested by @ifekaj is working :-)

[2019-11-08 09:45] engcom-Charlie commented on #8933
Hello @w130pmpo @Ctucker9233  !
@southerncomputer found a solution (watch here https://github.com/magento/magento2/issues/8933#issuecomment-530787010 ) .
The problem was in the configuration of mysql server.
Could we close this issue as resolved?

[2019-11-08 09:52] ankursharma1930 commented on #18812
is this issue resolved #18812 ? Please let me know the commit or code

[2019-11-08 09:57] engcom-Charlie commented on #23615
Hello @romainruaud

We are closing this issue because fix for this problem was merged:
https://github.com/elastic/app-search-magento/pull/64#issue-327772200

Thanks for your report!

[2019-11-08 10:01] itzB3rnD commented on #25403
I can confirm the issue, as we also have migrated tax in our database. We migrated from 1.8.1.0

[2019-11-08 10:04] fritzmg commented on #8933
@engcom-Charlie do you agree that changing transaction isolation level to READ-COMMITTED is the proper solution to this problem? If yes, this needs to be publicly communicated and integrated into the Magento 2 documentation as well.

[2019-11-08 10:04] ryanpalmerweb commented on #25522
Is this linked to the non-API version of the bug?
https://github.com/magento/magento2/issues/22246

[2019-11-08 10:06] romainruaud commented on #23615
@engcom-Charlie why are you referencing an issue from an external repository to say it has been fixed ?

[2019-11-08 10:09] chickenland commented on #22600
@JoshuaFlood Is this an actual issue within Magento?  From reading through this, it looks like it was an issue with max_input_vars, and you edited the wrong file.  It looks like the documentation you used was from Stack exchange rather than any Magento documentation?  I think this could be closed if that's the case?

[2019-11-08 10:17] engcom-Charlie commented on #8933
@fritzmg
Yes, i am agree.
Please refer to the [Magento docs repo](https://github.com/magento/devdocs/) for it.

[2019-11-08 10:21] engcom-Charlie commented on #23615
@romainruaud
oh, sorry.
I missed the fact that this is not magento2 repository

[2019-11-08 10:23] ihor-sviziev commented on #22909
This issue wasn't fixed yet, so re-opened

[2019-11-08 10:24] magento-engcom-team commented on #22909
@ihor-sviziev Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2019-11-08 10:24] magento-engcom-team commented on #22909
:white_check_mark: Confirmed by @ihor-sviziev
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-17563` were created

**Issue Available**: @ihor-sviziev, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-08 10:31] agallart commented on #25526
@magento give me 2.3-develop instance(2.3.3)

[2019-11-08 10:31] magento-engcom-team commented on #25526
Hi @agallart. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-08 10:31] magento-engcom-team commented on #25526
Hi @agallart, here is your [Magento instance](https://i-25526-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25526-2-3-develop.instances.magento-community.engineering/admin](https://i-25526-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-08 10:44] magento-engcom-team commented on #23615
:white_check_mark: Confirmed by @engcom-Charlie
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22955` were created

**Issue Available**: @engcom-Charlie, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-08 10:50] agallart commented on #25526
How I can configure bulk with this Magento instance?

[2019-11-08 10:51] JoshuaFlood commented on #22600
@chickenland this is largely an issue with magento's documentation. It's massively flawed. Attempting to set up an instance with proper https, php, nginx/apache configuration etc. on almost any system, aside from one of the instances created by the engcom robot, produces all kinds of weird and wonderful errors. I've never managed to build a stable, deployable instance without implementing workarou

[2019-11-08 11:10] JoshuaFlood commented on #22600
I know that Magento just got bought out by Adobe, so hopefully their added resources will provide more of a focus on up-to-date documentation but, honestly, I've abandoned Magento because the documentation is just... absent.

When you spend weeks trying to solve a problem in your code, only to find that the controller you are relying on hasn't even been written (another issue I had with 2.1), it m

[2019-11-08 11:16] dmanners commented on #25410
Seems that the original fix only covered the only newsletter subscription information on the getById method. I wonder if the problem is that the Customer model does not actually use the class `Magento\Customer\Model\Data\Customer` but builds it's data model via `Magento\Customer\Model\Customer::getDataModel` which does not deal with the extension attributes methods.

https://github.com/magento/mag

[2019-11-08 11:19] saisudheern commented on #7734
This isn't working in 2.3.3 as well.

[2019-11-08 11:34] UKRogue commented on #22112
I have this issue on my 2.2.6 installation. Can you confirm the fix is available for 2.2?

[2019-11-08 11:46] engcom-Delta commented on #12512
Hi @krisdante @Axel29 @helloeverything . Could you clarify: do you describe issue with customer address(`Country`) when set option `Share Customer Accounts=Global`?

[2019-11-08 12:01] magento-engcom-team commented on #25521
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22956` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-08 12:11] ivan-koliadynskyy commented on #24418
Hello @kirtinariya1 , looks like this is similar problem here https://github.com/magento/magento2/issues/16345 and this is possible solution https://github.com/magento/magento2/pull/25165

Actually I have doubt that this issue should be fixed because deprecated methods used in code like @sagarwebkul  metioned above and it is not good approach to include all details in loading of list of request re

[2019-11-08 12:19] chickenland commented on #22600
Hi @JoshuaFlood Thanks for confirming.  I completely agree, however, it's going to be your webserver that hits this limit rather than Magento (the application) so I'm not aware that Magento could surface a better error message than the one it currently is (apart from "oops, something went wrong" so that it doesn't lead you down the garden path).  I don't think it's in Magento's remit to try and co

[2019-11-08 12:19] #22600 closed, assigned to nobody

[2019-11-08 12:48] dmanners commented on #21985
Hi @nickpiro could you try this with the host https://dl.dropboxusercontent.com instead of dropbox in your urls. I think the problem is that there is always an extra step between the drop box urls and the actual content but the user content urls would be the actual file.

[2019-11-08 12:50] Jilco commented on #25521
@krishprakash any idea in wich files the problem is? I asume that there is a float instead of a double somewere

[2019-11-08 12:56] engcom-Echo commented on #25432
Hello @indefinitedevil

Thank you for contribution and collaboration!

Most proper to use `ScopedProductTierPriceManagementInterface` interface instead of `TierPriceFactory` as a @DominicWatts wrote in https://github.com/magento/magento2/issues/25432#issuecomment-549184757

Thanks for your report!

[2019-11-08 13:05] LiamKarlMitchell commented on #2584
It is 2019, PHP supports symlinks on Windows 10.

Why is this still a problem, no symlinks are being made and I'm using XAMPP with PHP 7.1.29 running Magento 2.3.3 in development mode.

Yet pub static only contains directories no files.

Example vhost
[code]

I want to use symlinks, don't want to have to copy/redeploy static content every time I make a simple change.

system.log is littered with e

[2019-11-08 13:15] engcom-Charlie commented on #23771
Hello @arijit-de
Could you provide more info about the errors you got?

[2019-11-08 13:22] andrewbess opened #25529 "Wrong program code in "Magento/Checkout/view/frontend/web/js/view/summary/shipping.js""
### Preconditions (*)

1. Seems there is wrong code in Magento_Checkout/js/view/summary/shipping

`return shippingMethod ?`
`            shippingMethod['carrier_title'] + shippingMethodTitle :`
`            shippingMethod['carrier_title'];`

What can happen if shippingMethod will not be an array?

### Steps to reproduce (*)

1. Set shipping method as type "string" in the quote like a quote.shippin

[2019-11-08 13:50] engcom-Charlie commented on #25166
Hello @gcampedelli

We are not able to reproduce this issue on a fresh Magento 2.3-develop by provided steps,
because in normal behavior if customer didn't pay the payment gateway Invoice will not be created and it is not possible to cancel invoice as you wrote in your steps:
![image](https://user-images.githubusercontent.com/51680850/68481152-1f53c400-023f-11ea-9078-ccdbaf449313.png)

Could you p

[2019-11-08 14:19] engcom-Delta commented on #25475
Hi @stkrelax thank you for your report. Could you clarify how your attribute was created and how you get filter "0 and more" for your attribute in layered navigation on catalog page?

[2019-11-08 14:24] maxq commented on #14952
I ended up using the composer patch MDVA-10993_EE_2.2.4_v1.composer.patch from Magento.
It says it's works up to 2.3 (maybe) but it did work for our 2.3 installation.
Thanks

[2019-11-08 14:29] 1stoked21 commented on #17813
@peterjaap @DrewML  Would this issue affect a google crawl bot and label a site as slow?

[2019-11-08 15:25] engcom-Echo commented on #25522
Hello @mangamuri
Thank you for contribution and collaboration!

I can't reproduce this issue on fresh Magento 2.3-develop and 2.3.3.
**Preconditions:**
Two simple products and one bundle product are created. Customer is created.

**Testing scenario:**
    1. Add one Bundle product to cart using API
    2. Create Order using API
    3. View Order status - Order status is showing as Procesisng (in a

[2019-11-08 15:25] #25522 closed, assigned to engcom-Echo

[2019-11-08 15:25] webspeaks commented on #22753
THis is still an issue. DOnt know who will look into it. They keep blaming each other for the issues!!

[2019-11-08 15:26] magento-engcom-team commented on #25518
:white_check_mark: Confirmed by @engcom-Echo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-22962` were created

**Issue Available**: @engcom-Echo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2019-11-08 15:36] gcampedelli commented on #25166
Hello, I'm posting here more clear steps with images. So, here is a screenshot of Order Cancelled right after customer has placed the order.

1- Custom Payment Gateway returns Order Cancelled.
![canceled customer account](https://user-images.githubusercontent.com/7084395/68487657-3cc66500-0222-11ea-8be4-ba57ccdd3e90.jpg)

So, I went to Admin Orders grid and it shows - Payment Review. So here is a

[2019-11-08 15:36] kolaente opened #25531 "Uploading a new product image with the same name results in the same image in cache"
### Preconditions (*)

1. Magento version: 2.2.9 (I'll try to reproduce this in 2.3 and update here)
1. PHP 7.1.33-1+ubuntu18.04.1+deb.sury.org+1

### Steps to reproduce (*)

I'm using these two test images here: https://gist.github.com/kolaente/1fc602c0837f0fa12de615b249784c0e

1. Remove all product images
2. Upload a new one: `curl -X POST $MAGENTO_URL/rest/V1/products/F1237/media -H 'Content-Ty

[2019-11-08 15:36] kolaente commented on #25531
@magento give me 2.2.9-develop instance

[2019-11-08 15:36] magento-engcom-team commented on #25531
Hi @kolaente. Thank you for your request.
Unfortunately, I can only deploy instances for `2.3` release line

[2019-11-08 15:37] kolaente commented on #25531
@magento give me 2.3 instance

[2019-11-08 15:37] peterjaap commented on #17813
@1stoked21 no, Google crawl bot doesn't do sessions

[2019-11-08 15:38] kolaente commented on #25531
@magento give me 2.3-develop instance

[2019-11-08 15:38] magento-engcom-team commented on #25531
Hi @kolaente. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-08 15:38] magento-engcom-team commented on #25531
Hi @kolaente, here is your [Magento instance](https://i-25531-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25531-2-3-develop.instances.magento-community.engineering/admin](https://i-25531-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.

[2019-11-08 16:09] krisdante commented on #12512
Yes.
My desire is to have shared login and password across all the websites (shared user account), while each website has own limitation on shippings etc.

[2019-11-08 16:10] whyDidIMigrate opened #25532 "MAGENTO 2.3 Will not update ALL SELECTED from disabled to enabled"
### Preconditions (*)

1. Magento version  2.3.1
2. Chrome

### Steps to reproduce (*)

1. Watch Video https://youtu.be/ab_Ug8gmMLc
2.

### Expected result (*)

1. ALL SELECTED product listings to be updated from disabled to enabled

### Actual result (*)

1. Only 20 products listings updated (1 page of 20 selected listings)

[2019-11-08 16:12] krisdante commented on #12512
I know this is not so "USA" case, but here in Europe this is quite popular that each Country has own domain and shop with own sipping policies (therefore shipping is limited to selected countries).
But still this is one brand and since Magento offers the option to share user account - we would like to use this opportunity.
This way users from Germany can log in in Austrian shop, But Austrain shop

[2019-11-08 16:15] Kipperlenny commented on #8933
After 2.5 years...

[2019-11-08 16:33] engcom-Charlie commented on #25166
@gcampedelli thank you for contribution and collaboration!
What Magento version do you have?

[2019-11-08 16:40] Ctucker9233 commented on #8933
@southerncomputer @engcom-Charlie How and where does this isolation level get changed? I'm not running my own server, i'm hosted.

[2019-11-08 16:43] Kipperlenny commented on #8933
and this is not needed by plenty, shopware or any other shop system...

seems like a "we don't know how to fix it" workaround

[2019-11-08 16:49] mangamuri commented on #25522
@magento sorry

[2019-11-08 16:51] mangamuri commented on #25522
@magento sorry for confusion , in my usecase i have mentioned  that I have two products in my cart  bundle product ( qty:1) and simple product (qty:2) , when i create order with api's i see only one simple product quantity getting invoiced and we using this with card payment.

[2019-11-08 17:03] rf-magma opened #25534 "Magento 2.3.2 OS Elasticsearch 6.8 returning suggestions from MySQL search_query"
### Preconditions (*)
1. installing and configuring Elasticsearch 6.8.2 in a Magento 2.3.2(or 2.3-develop) Open Source installation as per devdocs (reindexing and cache:clean ok)
2. checking (with Kibana) that the query (GET _search) is sent to Elastic (activating slow log threshold to 0 and checking the queries get passed to Elastic)
3. entering word/s in Magento2 search bar and hitting enter gen

[2019-11-08 17:15] robbanl commented on #18645
This is still an issue in Magento 2.3.3. @pocallaghan solution solved it!

[2019-11-08 17:22] VincentMarmiesse commented on #17727
Hi,
Any news on this issue?

This is still happening on 2.3.

[2019-11-08 17:47] gcampedelli commented on #25166
Magento 2.3.2

[2019-11-08 18:42] opensourcelib commented on #13639
Same issue on Magento 2.3.3 when setting product image, small_image and thumbnail
`$product->setData('image', $image_path);`
`$product->setData('small_image', $image_path);`
`$product->setData('thumbnail', $image_path);`
I have to save it twice to properly work!
`$product->save();` This is use to save pictures because using productRepository I got exception "Invalid image provide" after using the

[2019-11-08 21:02] sdzhepa commented on #25521
It seems could be the same https://github.com/magento/magento2/issues/25367

[2019-11-08 21:42] yiingfeiii opened #25535 "Magento ver. 2.3.3 Reindex issue"
How Do I solve the problem of the reindex issue? I am using cpanel v. 73 but I cant find my terminal. Reindex issue will take how long if leave it untouch?
### Summary (*)

### Examples (*)

### Proposed solution

[2019-11-08 22:23] TBFdirect opened #25536 "Apply Discount Code Not Working"
Voucher codes have stopped working since upgrading to 2.3.2 and also 2.3.3

This is how i have setup the voucher code:
![screenshot-www tbfdirect co uk-2019 11 08-22_13_31](https://user-images.githubusercontent.com/32652249/68514262-1c73c600-0275-11ea-9872-674a48b14ca0.png)

When i enter the code in the cart i get the error:
![screenshot-www tbfdirect co uk-2019 11 08-22_21_17](https://user-images

[2019-11-08 23:25] peter-warmenhoven commented on #23511
I was enough for me to change my password with bin/magento admin:user:create

[2019-11-09 09:38] onepack commented on #21154
Why is this issue closed? I'm on a 2.3.3 version and I experience the exact same issue.
I will work around it but the issue should not be closed.

[2019-11-09 10:41] vini1996 opened #25539 "glyphicon are not displaying in magento admin panel and frontend"
### Preconditions (*)

1.magento 2.3.3
2.php 7.3.10

### Steps to reproduce (*)

1. just go to the admin panel dashboard.
2. front end product details

### Expected result (*)

1. It should display the glyphicons in frontend and admin panel
2.
### Actual result (*)

1. It is not displaying glyphicons
![github1](https://user-images.githubusercontent.com/39683802/68527311-7c1cb080-030b-11ea-8b40-e43

[2019-11-09 11:38] Sathishkumar8731 opened #25540 "Products are not displaying infront end after updating product via importing CSV."
### Preconditions (*)

1. Magento 2.3.0 & 2.3-develop
2. MYSQL 5.6
3. PHP 7.2.X

### Steps to reproduce (*)

1. Creating a new product (simple product and bundle product) in the admin panel
![image](https://user-images.githubusercontent.com/51680850/68661166-26324d80-0543-11ea-93e7-58a755a6de61.png)
2. Go to System -> Data Transfer -> Export and export it.
3. Open the exported CSV file and update/

[2019-11-09 12:05] krzksz commented on #22416
Hey @funkyproject, thanks for finding this out!

Indeed, having paths to different components hardcoded in the source is not in line with Magento best practices. I took some time and applies some changes in https://github.com/magento/magento2/pull/25541/files that I found the most sensible. With it, you should be able to pass adjusted paths to country components through configuration which you see

[2019-11-09 14:57] Den4ik commented on #25539
@magento give me 2.3-develop instance

[2019-11-09 14:57] magento-engcom-team commented on #25539
Hi @Den4ik. Thank you for your request. I'm working on Magento 2.3-develop instance for you

[2019-11-09 14:58] magento-engcom-team commented on #25539
Hi @Den4ik, here is your [Magento instance](https://i-25539-2-3-develop.instances.magento-community.engineering).
Admin access: [https://i-25539-2-3-develop.instances.magento-community.engineering/admin](https://i-25539-2-3-develop.instances.magento-community.engineering/admin)
Login: `admin` Password: `123123q`
Instance will be terminated in up to 3 hours.