[2017-04-28 08:24] mornayv opened #9444 "Admin panel stuck on all forms pages"
### Preconditions

1. After a fresh install, with all correct file & folder permissions, following exactly as per composer install instructions.
2. Magento 2.1.6, PHP 5.6, MySQL 5.6, CentOS 6.9

### Steps to reproduce

1. Log into Admin Panel
2. Click any menu with forms, eg. Products -> Catalog
3.

### Expected result

1. Ability to enter data into form

### Actual result

1. Spinning wheel over

[2017-04-28 08:32] Drnutsu commented on #6363
anyone have the solution for this issue? I think its critical issues.

[2017-04-28 08:50] niranjanleanswift opened #9445 "Cart 860 does not contain item 1204"
### Preconditions

1. Magento version - 2.1.6

### Steps to reproduce

1. When a product is add to cart it produces this error(Cart 860 does not contain item 1204)
2. 860- quote Id, 1204-quote item id.

### Expected result

1. The cart should be added successfully.

### Actual result

1. [Screenshot, logs]

[2017-04-28 09:18] lorenaramonda commented on #4913
I agree. In my case, for example, the main menu navigation is not shown to screen but available in source code.
For this particular case, it depends on a display none on the navigation:

<img width="1427" alt="schermata 2017-04-28 alle 11 10 30" src="https://cloud.githubusercontent.com/assets/4409084/25522742/548a7b14-2c04-11e7-92b6-3df92b0db511.png">

[2017-04-28 09:49] Tonop commented on #4170
I see it in 2.1.6 too.

[2017-04-28 10:02] winds1983 commented on #8455
Same issue on 2.1.6

[2017-04-28 10:13] dio5 commented on #5398
Bump. Still not working in 2.1.6...

[2017-04-28 10:28] sopedro commented on #9444
Same issue, this happens when I hit php bin/magneto setup:upgrade.
I have to refresh the page 4 times until the form loads, after this the form loads wells....

[2017-04-28 10:40] sopedro commented on #7037
For reports the workaround works but for birthdate no.

[2017-04-28 10:51] sopedro commented on #6323
In frontend the date works well, the issue is just in backend and with all dates. The reports don't work too.

[2017-04-28 10:55] rahuldhameliya commented on #7037
@sopedro post your error here

[2017-04-28 11:00] sopedro commented on #7037
"invalid Date" in backend

[2017-04-28 11:01] YPyltiai commented on #9442
Hello @shahankitb997,

Thank you for reporting. Let us check it.
@joni-jones, may you please look into this issue? Check if it is related to #9336 or not, please.

[2017-04-28 11:05] JacobDrummond commented on #6323
@sopedro, Magento2 admin locale is a mess. See, for example, #7888, #9426, #8849.

These, and similar issues, are widely-reported but development seems to slow.

[2017-04-28 11:06] SemtexError commented on #6860
How was this resloved I'm having the same issue?

[2017-04-28 11:16] vishveskrish commented on #9428
@K7Triton : Are you able to resolve this issue ?

[2017-04-28 11:20] snoroozi commented on #9296
Can I see/test your site to see the difference?

On Fri, Apr 28, 2017, 1:43 AM vishwes_krish <notifications@github.com>
wrote:

[2017-04-28 13:05] bery commented on #9287
When you run FLUSHALL on redis prior to deploying static content, all works fine but it is a workaround, not a permanent solution.

[2017-04-28 13:14] malachy-mcconnnell commented on #5946
@Tonop if you want to experiment please edit the core file module-customer\view\frontend\web\js\customer-data.js

and move lines 207, 208, 209 to be outside that block to line 211 so that the invalid storage keys are are always reloaded. (as per my comments above)

[code]
I would be interested if this solves the problem of the mini cart not updating. If it does I will make a pull request for that

[2017-04-28 13:19] hostep commented on #9276
@airdrumz: I can confirm your issue, we have the same problem on one of our webshops.
Do you care about creating a separate issue for this, because its probably not the same issue as @rip057 was reporting.

@victorgugo: hopefully you are aware of this new issue @airdrumz is reporting? This is a whole mess which should have never been released in a minor upgrade. I've already nearly spent 2 full da

[2017-04-28 13:23] Tjitse-E commented on #9426
@potatocommerce you can try if this pull requests fixes this issue https://github.com/magento/magento2/pull/8336

[2017-04-28 13:27] frenky2334 opened #9447 "update "tubalmartin/cssmin" to make CSS minifying compatible with calc()"
Hi!
I tried update composer to update "tubalmartin/cssmin" module. But in update progress i get the next one message which you can see at the attached screenshot.
![cssminify](https://cloud.githubusercontent.com/assets/26610655/25530461/fdb6229a-2c2e-11e7-92c6-7a377aa89420.png)
The composer looks like this:
![composer](https://cloud.githubusercontent.com/assets/26610655/25530468/0222e7c8-2c2f-11e7

[2017-04-28 13:35] hostep commented on #9447
Remove `tubalmartin/cssmin` from your `composer.json` file, Magento already includes an older version, so it will cause conflicts.

Also: next time, use the [community forum](https://community.magento.com/) or https://magento.stackexchange.com/ or something like that, because this isn't really a bug :)

[2017-04-28 13:47] ronnybremer opened #9448 "different URL for front and backend will cause backend to stop working"
### Preconditions
I am running CE 2.1.6 on PHP 5.6 (CentOS7 with Apache 2.4).

Magento is installed directly in /var/www/html and works fine for both the frontend and backend.
I want to restrict access to the backend to internal IP addresses only, so in preparation I created 2 DNS entries, both pointing to my server: server.test.com and frontend.my.store.
Furthermore I added a custom backend admin

[2017-04-28 13:55] frenky2334 commented on #9447
But i need newer version of this module because in new versions the bug with the calc() property is fixed

[2017-04-28 14:09] Tonop commented on #5946
**@malachy-mcconnnell**
Didn help. Minicart is still empty.

[2017-04-28 14:15] malachy-mcconnnell commented on #5946
Do you want to elaborate with some details:

Magento version:
Mode (developer or production):
Caches on or caches off:
Theme used:
Is your theme using `cart().summary_count` or any other things mentioned in this thread?
Anything else you can say about your observation of this bug:

[2017-04-28 14:32] hostep commented on #6138
@shiftedreality: the line:
[code]

introduces a new bug in the tinymce editor, namely when you insert a `%` somewhere, for example: `this product contains 10% sugar` or something like that, the editor starts throwing errors:
`error: error in [unknown object].fireEvent(): event name: tinymceSetContent error message: URI malformed`

Should I create a new issue for this, or should we continue in this

[2017-04-28 14:35] KingIsulgard commented on #4394
This happens during the setup process of 2.1.6

[2017-04-28 14:35] mautz-et-tong commented on #5517
Please reopen as this error still exists in 2.1.6

[2017-04-28 14:40] tigerx7 commented on #9385
@aaronallen8455 did you apply commit https://github.com/magento/magento2/pull/7262/commits/1bbcff4eb26e63611b2372ff74084cb2afb62a8f? Unfortunately <frame>0</frame> on its own is also being read as true since "0" is typecasted directly from a string thus begins true.

[2017-04-28 14:45] shiftedreality commented on #6138
@hosted create a new issue, I will link it internally.
Thanks.

[2017-04-28 15:38] hostep commented on #9276
My temporary fix  for @airdrumz issue (seems to work, but is certainly not the best solution and I didn't test it very well, I'm just posting it here so I won't forget it going into the weekend):
[code]

[2017-04-28 15:45] buskamuza commented on #5247
As a workaround, did you try installing extensions via command line?
Let me know if you need more details about it.

[2017-04-28 15:48] buskamuza commented on #5392
@lojasmarques ,
1. do you have such file in Magento folder?
2. is it executable? If not, please give it executable rights `chmod +x bin/magento`

[2017-04-28 16:01] nbennett25 opened #9449 "PHPUnit tests being run on disabled modules"
Presuming this is a bug...

Running bin/magento dev:tests:run unit from the root directory is running PHPUnit tests in modules that are disabled.

### Preconditions
[Magento 2.1.5, PHP 7.0]
1. Create custom module
2. Do not run `bin/magento module:enable [custom module name]` or 'bin/magento setup:upgrade`

### Steps to reproduce
1. Create `*Test.php` file in [Vendor]/[Module]/Test/Unit directory

[2017-04-28 16:19] twistedatrocity commented on #4148
This issue exists for me in 2.1.6 regardless of payment method used.  Imported sales with data migration tool have these fields populated, but any new sales through M2 does not populate the Bill-To column in the grid. The invoice itself has no missing data when opening or printing however, it's just the grid that has the issue.

[2017-04-28 18:03] jfrontain commented on #9385
@pioneerathletics et al, please check out the Technical Bulletin we've just posted about this issue with 2.1.6. We hope it helps -- if not, send information my way, and we'll try again.

http://devdocs.magento.com/guides/v2.1/release-notes/tech_bull_216-imageresize.html

[2017-04-28 18:05] jfrontain commented on #9395
@msawyers, @korostii, @hostep please check out the Technical Bulletin we've just posted about this issue with 2.1.6. We hope it helps -- if not, send information my way, and we'll try again.

http://devdocs.magento.com/guides/v2.1/release-notes/tech_bull_216-imageresize.html

[2017-04-28 18:12] msawyers commented on #9395
![error 70150](https://cloud.githubusercontent.com/assets/8907629/25541459/58220142-2c14-11e7-85aa-4babfd62ac0e.png)
See error log attached.

[2017-04-28 18:34] brobie opened #9451 "Estimate Shipping Rates Observable Elements Do Not Include Shipping Fields Used In Cart Rules"
### Preconditions
1. Version: 2.1.6
2. Edition: Community
3. Application Mode: developer

### Steps to reproduce
1. Enable Flat Rate Shipping for $5.00
1. Create a cart price rule that uses "Shipping Region/State" as a condition. (State != Alaska)
2. Drive free pricing by that cart rule/condition.
3. On the first step of the checkout, switch your state from Alaska to Arkansas, and back.

### Expec

[2017-04-28 18:45] amingilani commented on #4547
I'd like to update my proposed solution to enabling all passed in emails by default, with a verification link. New tld's come out every day, and hardcoding an outdated list will make this issue pop up in the future.

[2017-04-28 19:03] hostep opened #9452 "Tinymce: error in [unknown object].fireEvent(): event name: tinymceChange error message: URI malformed"
### Preconditions
1. Magento develop branch (tested with revision: 5ea676e196abcd69e9a4063d5c23e7759b76a2c2)
2. PHP 7.0.18

### Steps to reproduce
1. Setup a brand new Magento project from the develop branch
2. Login to the backend
3. Go to Content => Pages
4. Create a new Page
5. In the Content field, start entering: `10%`

### Expected result
1. No errors should pop up

### Actual result
1. From

[2017-04-28 19:03] hostep commented on #6138
@shiftedreality: just created a new issue: https://github.com/magento/magento2/issues/9452

[2017-04-28 19:07] hostep opened #9453 "Reopened: '?SID' in URL even if disabled"
This is a duplicate of https://github.com/magento/magento2/issues/5517, but after waiting for several weeks for that ticket to be reopened, I'm creating a new ticket

### Preconditions
- Magento CE 2.1.5
- PHP 7.0.16
- Apache 2.2.32

### Steps to reproduce
1. Install Magento CE 2.1.5 using composer
2. During the installation, set the base url to: https://www.m2.dev/
3. In your Apache configuration

[2017-04-28 19:07] hostep commented on #5517
@mautz-et-tong: I created a new ticket: https://github.com/magento/magento2/issues/9453, since this one is being ignored, thanks for the reminder!

[2017-04-28 19:10] justsign commented on #4547
Still not fixed in magento 2.1.6.
When making a account
![img_1464](https://cloud.githubusercontent.com/assets/10490535/25543475/fa7f09f2-2c56-11e7-952e-4962eceb6f08.PNG) magento refuse the customers email that exist

[2017-04-28 19:25] SirElectro commented on #9422
@Ctucker9233 This dosen't help.

[2017-04-28 19:35] brobie commented on #9451
For our own usage, we only needed region_id (patch attached), but likely you would need to do something different.

[shipping_rates_adding_region_id_to_observable_elements.patch.txt](https://github.com/magento/magento2/files/965363/shipping_rates_adding_region_id_to_observable_elements.patch.txt)

[2017-04-28 19:36] brobie commented on #9451
For our own usage, we only needed region_id (patch attached), but likely you would need to do something different.

[shipping_rates_adding_region_id_to_observable_elements.patch.txt](https://github.com/magento/magento2/files/965366/shipping_rates_adding_region_id_to_observable_elements.patch.txt)

[2017-04-28 19:36] mzenner1 commented on #6671
I'm on Magento 2.1.5.  My client just bulk imported about 2000 products via csv and now I can no longer save categories that have products associated to them.  This is a very real and very severe issue.  Do something about this @magento-team.

[2017-04-28 20:11] LCIJJ commented on #7959
Confirming this issue still occurs on 2.1.6, environment: default.

Clicking color swatch doesn't update product image. It's not until after clicking the size, associated product image updates. Using Chrome developer console, JS error (Uncaught TypeError: Cannot read property 'oldPrice' of undefined) triggers each time a swatch is clicked. See screenshot for full error>>> https://www.screencast.co

[2017-04-28 20:49] twistedatrocity commented on #6826
Shipping quotes (ajax doesn't fire) do not work either if address is autofilled by Chrome. Magento 2.1.6

[2017-04-28 21:11] Ctucker9233 commented on #9426
@joni-jones related issue #8422.

[2017-04-28 21:51] onepack opened #9454 "Delete custom attribute via magento backend keeps the label reverence in eav_attribute_label"
### Preconditions
Magento 2.1.6
PHP 7.0.15

### Steps to reproduce
custom attribute is removed via the backend of magento

### Actual result
When a custom attribute is removed via the backend of magento the attribute is no longer present in the eav_attribute table but the attribute label is still available under eav_attribute_label under the old attribute id and so magento drops a lot of warnings

[2017-04-28 22:51] The-Krang opened #9455 "Magento 2.1.6 CE "We Can't Place The Order" error"
**My setup:**

2.0.7 CE was installed using Softaculous through CPanel from the web server.  Using the Luma theme.

I upgraded from 2.0.7 CE to 2.1.6 CE under System > Web Setup Wizard > System Upgrade.

With PHP Version: 5.6.30, Apache and Linux Web server, phpMyAdmin  version 4.0.10.18

Everything was working fine before the upgrade.

I have a success.phtml module that was disabled before the up

[2017-04-29 00:37] snoroozi commented on #9336
Is this issue what causes long checkout time with PayPal pro credit cards?

[2017-04-29 04:19] joaquin-becerra commented on #6575
It work for me!

The EE (2.1.14) has the same issue, you can add a customer address attribute in the backend but this attribute is not saving in the database when you create the address in the checkout.

I'm trying to extend this solution to save a pool of attributes configured in other file.

Tanks @Bartlomiejsz

[2017-04-29 05:57] rahuldhameliya commented on #7037
@sopedro which admin interface you are using?
if you will change admin interface from UK to US than might issue will be resolved.for reports  don't need to change below fix if  changing admin interface locale to US.

/vendor/magento/module-reports/Block/Adminhtml/Filter/Form.php
Replace line No .159 and 172

'date_format' => $dateFormat, to 'date_format' => 'mm/dd/Y',

[2017-04-29 06:56] lojasmarques commented on #2400
Why I need to loose night-after-night of sleep to try solve that bug. it is not working and nobody knows how to solve the 339/501 Módulo 'Magento_ConfigurableSampleData':
Instalando dados ... Until the next Millennium!
If someone can help, please contact my telephone number (5553) 981426029 [ WhatsApp ] or by email suporte@lojasmarques.com
I lost three weeks in this damn problem

[2017-04-29 06:57] maddyBoy commented on #4359
"config": {
"use-include-path": true,
"disable-tls":true
},

I used this code to solve  a:4:{i:0;s:270:"Warning: is_dir(): open_basedir restriction in effect. File(/etc/pki/tls/certs) is not within the allowed path(s): (/var/www/vhosts/websitename.in/:/tmp/)

[2017-04-29 07:09] ktomk commented on #4359
@maddyBoy: Disabling TLS is counter-productive and your last comment therefore a flawed example.

To deal with the error take to the information given in it directly. Configure the [`open_basedir` setting](http://php.net/manual/en/ini.core.php#ini.open-basedir) to allow access to the TLS certificates in the file-system. That's all that is needed.

You don't want such a basedir restriction on certi

[2017-04-29 07:12] Bartlomiejsz commented on #6575
No problem, @joaquin-becerra, @EspertoMagento sorry, I forgot about this topic. Are you sure that your quote was not virtual one?

[2017-04-29 07:17] swvjeff commented on #8084
I'm also experiencing this when trying to access the main catalog admin page on 2.1.6. Any updates?

[2017-04-29 10:01] sopedro commented on #7037
I'm using portuguese admin interface.
The fix is changing core files.

[2017-04-29 10:51] thlassche commented on #6606
@tomdollarmpd Yes, it's on the Magento Marketplace (look for rewrites)

[2017-04-29 10:58] marcie8 commented on #6606
@thlassche Also for category rewrites?

[2017-04-29 15:15] you-yas55 commented on #5247
Probably guys, you need contributors. Issues are open for years and for long releases and never solved. I wish I could help. I came across this issue too, and Installed over 3-4 versions (with data, without data) and each version installed using multiple ways, (wizard/command line), Compositor/Server...etc really gives same issues, hard to install crashes all the time... if Magento expects specifi

[2017-04-29 20:37] MattBidas commented on #7037
@sopedro It actually solves the problem, I have tested. The problem occurs when you choose the language for the user of the Admin Panel. Idiom locale that have the format dd-mm-Y have a problem because the Zend Class it expects mm-dd-Y.
But changing Core files is not a good practice. We have to try a solution. I am performing tests overlapping Core files to solve this problem.As it is said in Braz

[2017-04-29 21:02] lepetit commented on #8827
I have the same issue with Magento 2.1.6

I noticed a substantial difference between the two similar call:

## **/rest/default/V1/products/attributes/{attributeId}**
In this case the returned object is fully populated, with all the fields, including **is_used_in_grid**

[code]
## **/V1/products/attribute-sets/{attributeSetId}/attributes**
In this case the full list of defined attributes is returne

[2017-04-29 22:19] Ecksters commented on #7038
I know this is closed, but I've gotten the same issue, using only PayPal as the payment option, I have to sort by Date to see the newest ones. Tried recompiling, remaking static assets, clearing cache, running the cron jobs, and only sorting by the date seems to make them show up.

[2017-04-29 22:58] Ctucker9233 commented on #2400
@lojasmarques There are several comments above that propose solutions. If none of those work for you, open a new issue. No one's going to be able to help if you don't describe your issue clearly.

[2017-04-30 00:22] Ctucker9233 commented on #4068
Any plans to backport this issue or is it planned for 2.2 only?

[2017-04-30 07:16] aaronallen8455 commented on #9385
I finally got rid of the white border by going into cache management and using the 'Flush Catalog Images Cache' button before running the resize command. Just running the `cache:clean` command isn't enough.

[2017-04-30 09:15] sambolek commented on #9447
Hi @frenky2334
this pull request updates cssmin and fixes css calc() issues https://github.com/magento/magento2/pull/9027#event-1049557767

[2017-04-30 09:20] hezide commented on #9181
Hi @ishakhsuvarov, thanks for the reply.
I reproduced it as following:
1. created a new simple product.
2. name: test
2. sku: test
3. price 119
4. quantity: 100
5. visibility: not visible individually
6: description: `<p style="direction: rtl;">תיק שק עשוי בד קנבס (100% כותנה) בשילוב שעם בצבע ירוק תפוח.<br />אפשרות לנשיאה על הגב או כתיק צד בעזרת רצועה פנימית בתיק.&nbsp;</p>`
7: short description:

[2017-04-30 10:33] yassine-y opened #9456 "Empty Admin > Design Configuration After new installation"
![image](https://cloud.githubusercontent.com/assets/2707815/25563673/76ccbd4e-2d90-11e7-9d1e-0ece9bffc42c.png)

Is that normal?

EDIT:
Same thing applies for Categories, Products (Catalog), Customers...etc they all load empty. or the ones that load are loading messy.

This was a fresh installation in an Ubuntu Server, downloaded full latest archive with data from magento.com

[2017-04-30 10:45] DependencyHell opened #9457 "Import customizable options adds it to another product if same SKU is filled"
When creating a new product, if by mistake I set the SKU of an already existing product, and import customizable options from this one, these options will be imported to the first product with same SKU, althougth an error shows that same SKU is existing.

### Preconditions
Magento 2.1.5

### Steps to reproduce
1. Create a simple product with customizable options (i.e SKU : product-test)
2. Create

[2017-04-30 11:31] Hawk30100 commented on #8470
Hello @KrystynaKabannyk , could you please try to install Magento 2.1.3, create some configurable products and update to 2.1.4 or a later version. I did not had any problems when installing a fresh Magento version.
In my case, only the already (before the update) existing configurable products seems to have this problem with the "You need to choose options" notification.

[2017-04-30 14:44] jurpro opened #9458 "[Magento 2.1.6] Page Cache make growing size more and more"
Hello. I have a problem with cache on Magento 2.1.x
Accourding my hosting provider services, the script of Magento 2.1.x more bigger and bigger size day by day. For example, last week the size of all files and folders is 400 MB, 2 days later 500 MB, and now 2 GB, and may be in a month it size approximately 32 GB.

This is problem for me when I need to upgrade to the latest version of Magento 2.1.x

[2017-04-30 16:00] hezide commented on #9181
fixed the problem.
Resolved this issue by alerting hosting company to issue.
I was tripping modsecurity rules and they fixed it.

thanks for the help!

[2017-04-30 16:00] #9181 closed, assigned to nobody

[2017-04-30 16:46] zzvara commented on #6866
I'm using Magento 2.1.6. This is still a problem. Any fix any time soon?

[2017-04-30 18:55] tanghia opened #9459 "Magento 2 has not assigned value for same_as_billing at quote_address table"
I think this issue belongs to Magento 2 Core.

### Steps to reproduce
1. A customer goes to checkout page
2. He creates a shipping address
3. Button "same as shipping address" is checked at payment step.
4. He completes the checkout process.

### Expected result
1. In quote_address table, value of same_as_billing field must be  1 for shipping address.

### Actual result
1. In quote_address_table,

[2017-04-30 19:47] tigerx7 commented on #6120
I can confirm that this is still an issue on 2.1.6. We've found an inconsistency in the product model retrieving the value for a multiselect, getData() returns a comma delimited value yet getAttributeText() returns an array when there's multiple values (but a single string non-array when there's only one item). This inconsistency has lead to several issues we've had to accommodate in our customiza

[2017-04-30 20:32] Tonop opened #9460 "After 2 times switching store views - ERR_TOO_MANY_REDIRECTS. Delete cookies"
### Preconditions
Magento: 2.1.6
PHP: 5.6.26
MySQL: 14.14 Distrib 5.7.15

Multi store: Store 1. Store 2.
Multiple views-multi language for Store 1:English and Russian
Multiple domains for Store 1: English - www.store1.com. Russian- www.store1.ru

### Steps to reproduce

1. Open store1.com
2. Switch to Russian
3. System succesfully redirects to store1.ru
4. Switch to English.
5. System succesfully

[2017-04-30 20:42] nuzil opened #9461 "Error in displaying Store View valued on Page / Block Grid"
### Preconditions
1. Magento 2.0.12 - 2.0.13
2. Clean installation

### Steps to reproduce
1. Go to Content -> Pages
2. Assign / Create Page with multiple Store Views / Websites
3. After save, inside of Grid displaying only last Store View page is assigned to. Even if there are multiple

### Expected result
1. Have to be displayed all Store Views / Websites

### Actual result

![screen shot 2017-0

[2017-05-01 00:44] helloitsluke commented on #8790
You've got the pagespeed extension for either apache or nginx installed. Compressing html on the cart screen causes this issue (not Magento).

[2017-05-01 01:56] joaquin-becerra commented on #6575
I retract myself, in EE 2.14 the customers address attributes created in the backend are saved to the database when a address is created in the checkout.

Following the admin save controller used I create this install script for the attribute:

`
<?php

namespace MyVendor\MyModlue\Setup;

use Magento\Framework\Setup\InstallDataInterface;
use Magento\Framework\Setup\ModuleContextInterface;
use Mage

[2017-05-01 05:10] eharvest commented on #6606
Any update on this? I have a few hundreds 301 to do now cannot even get one working, 12 month into Magento 2 I'm really over it to be honest - soon as I launch my first Magento 2 site, I'm getting phone calls from clients every single day reporting new issues. It's ridiculous!

[2017-05-01 06:34] commalex commented on #8790
Thanks I run on siteground hosting - might be able to disable some cache page speed modules from cPanel.

[2017-05-01 06:44] shwetabha commented on #7295
Hello,
I also got same error and remove all new line with change script tag. Error has removed but the time picker is not working. Any suggestion please?

[2017-05-01 08:54] zamocom commented on #6729
Sorry, I have insert the fix on my site and all commands works correctly but I have the same problem again. Is there another step? Thanks

[2017-05-01 09:10] thlassche commented on #6606
@marcie8 Not yet, working on that at the moment. Will update here when it's ready

[2017-05-01 09:32] DrashtiPandya opened #9462 "Create faq category form not opened"
When we click for add new Category it shows only blank page.

### Preconditions
magento 2.0
![image](https://cloud.githubusercontent.com/assets/18716964/25576797/309c8152-2e7f-11e7-8d83-e2503e6d745e.png)

[2017-05-01 09:36] rashidtahir commented on #8790
If anyone comment on this issue
https://github.com/magento/magento2/issues/9226

[2017-05-01 09:37] rashidtahir commented on #9181
Anyone comment on this issue
https://github.com/magento/magento2/issues/9226

[2017-05-01 10:07] zamocom commented on #6729
Works properly, but now I enter the price of the product and this takes into account the fees, if I insert 100 eur and the 20% fee the product result is not 120 eur but 100, practically the price I insert I already takes into account the fee And is not added after based on the percentage of the tax itself, is it correct?

[2017-05-01 10:34] vishveskrish commented on #9296
@YPyltiai  : Hello When we can get the resolution of this issue ?

[2017-05-01 11:13] rbostan commented on #4688
Same error with 2.1.4 & Redis. Saving a single product invalidates also 'FPC', not just product related pages.

[2017-05-01 11:34] phpworld opened #9463 "THEME CHOOSER NOT SHOWING SOMETIME I INSTALL 4 TIME 2 Time its not show the theme choose option"
STORE > COFIGURATion >  GENRAL

THERE IS NO THEME CHOOSER

MANY TIME I FACE THIS ISSUE  IN FRESH MANGENTO

ANY HELP APRICEATEABLE

[2017-05-01 11:57] cizgidekiadam opened #9464 "One product changed, all FPC gone."
### Preconditions

1. Magento 2.1.4
2. PHP 7.0.14

### Steps to reproduce

1. Save/delete a product
2. Look at debug.log (even in production mode)

### Expected result

1. invalidate JUST product related tags (category listing, product view page etc ..)

### Actual result

1. It is invalidating product related pages AND 'catalog_product' (without id) and FPC .
2. Debug log sample :
<pre>
[2017-05-

[2017-05-01 12:12] rbostan commented on #9425
@jigar48 Enable js merge in admin, should be resolved.
I have faced same issue with another theme.

[2017-05-01 12:16] rbostan commented on #9405
Creating configurable products need to be indexing.
Blank page shown in listing or product pages until indexer complete it work.

[2017-05-01 12:37] pankajkherwal opened #9465 "URL key for specified store already exists. While adding new product with same name as of older product."
### Preconditions

1.  Magento 2.1.6
2.  PHP 5.6.25
3.  Single Store & single website

### Steps to reproduce

1. Add a product.
2. Add another product with same name, same category, same attributes BUT Different SKU

### Expected result

1. URL key for specified store already exists.

[2017-05-01 14:16] jigar48 commented on #9425
@rbostan but that is not the solution, although I already enable the Merge JS and still I am getting the error.

[2017-05-01 14:42] rbostan commented on #9425
@jigar48 Did you clean/flush cache and run static:content:deploy ?

As mentioned your previous comments, if you "disable cache" in developer tools and error gone, it is definitely about browser caching.

If you can not be sure about cleaning caches, in developer menu, you may select signing static files so it puts a version number to static content urls.

Then you should run
<pre>php bin/magento c

[2017-05-01 14:48] dewayneholden commented on #5322
Still an issue as of 2.1.4. In the backend, I get the store from a particular order, and then try to generate a URL for that store:

`/** @var \Magento\Store\Model\Store $orderStore */`
`    $orderStore = $this->storeManager->getStore($order->getStore()->getId());`
`    $storeUrl = $orderStore->getUrl('controlleraction');`

Expected: https://store.domain.com/controlleraction/...
Result: https://ww

[2017-05-01 15:34] jigar48 commented on #9425
@rbostan  Look this.

http://prntscr.com/f2wlou

I have already run the command after the jquery merger and also I selected signing static files. but I dont know if there is server issue or whatever sometime its working sometime its display the error and nothing works in frontend and backend side, admin menu is unclickable.

[2017-05-01 15:39] rbostan commented on #9425
@jigar48
Did you try Developer -> Template Settings -> Allow Symlinks = No ?
After that clean cache, deploy static ..... 😃

[2017-05-01 16:35] dewayneholden commented on #5322
A workaround to get a frontend URL for a store in the backend:

See how Magento is generating the "View" link in the CMS page admin grid via its page actions: `Magento\Cms\Ui\Component\Listing\Column\PageActions`. It injects the following class in order to build the URL: `Magento\Cms\Block\Adminhtml\Page\Grid\Renderer\Action\UrlBuilder`, which uses `\Magento\Framework\UrlInterface`. Well, that `Ur

[2017-05-01 18:05] qbixx opened #9466 "Duplicating product copies product images couple of hundred times"
When duplicating a product to create a similar product all the required information is copied over. This also includes the product images. However when saving the new (duplicated) product, it takes quite a long time before the product get's saved. This is because the attached images are copied a few hundred times on the server.

The amount of copies is not always the same but ranges from about 200

[2017-05-01 18:11] bap14 commented on #9462
Do you have any errors in your logs?  What about javascript errors on the page?

[2017-05-01 18:16] rgjoyce commented on #5247
No. I’ve never found any instructions on how to do so.

From: Olga Kopylova [mailto:notifications@github.com]
Sent: Friday, April 28, 2017 9:46 PM
To: magento/magento2
Cc: rgjoyce; Mention
Subject: Re: [magento/magento2] Can not access Web Setup Wizard with 2.1 clean install (#5247)

As a workaround, did you try installing extensions via command line?
Let me know if you need more details about it.

[2017-05-01 19:11] choukalos commented on #9441
Is the site taking traffic when you're doing the rm -rf ?

[2017-05-01 19:18] choukalos commented on #9458
What specific version of Magento are you on?

How many Sku's do you have on your store?  #Sku's will drive page cache and block cache growth.

It's possible images being resized are also probably increasing storage space - when you import product photos we don't re-size the images until the store takes traffic.  Your store is getting traffic and triggering the image resizes.  You'll have a # of im

[2017-05-01 19:33] Tonop commented on #9441
@choukalos
Then I am trying to delete, website is online and maintanence mode is disabled. I guess there is a traffic, does it relate?

[2017-05-01 20:00] jigar48 commented on #9425
@rbostan

http://prntscr.com/f2zrei
http://prntscr.com/f2zrm6

I did and run this command
php bin/magento cache:clean
php bin/magento cache:flush
php bin/magento setup:upgrade
php bin/magento setup:static-content:deploy

Nothing works. same error
http://prntscr.com/f2zs6d

[2017-05-01 20:04] jimul commented on #6995
I faced same issue in magento EE 2.1.5. When debug issue in detal, found that sales_order table field customer_firstname is null. Might be issue in converting quote to order.

[2017-05-01 21:02] ci2014 commented on #9395
I am having the same issue. Unfortunately, the Technical Bulletin solution, didn't solve my problem, even after flushing the cache php bin/magento cache:flush and php bin/magento catalog:images:resize.

That is my etc/view.xml

[code]

[2017-05-01 21:08] twosg commented on #6426
This issue is still alive for me at Magento 2.1.6.

Magento is in developer mode and I have used bin/magento setup:upgrade
the pub/static folder was empty completely.

After creating the deployed_version.txt it works again.

[2017-05-01 21:58] dakzilla opened #9467 "Leaving empty field in Product Fields Auto-Generation breaks Add Product in admin"
### Preconditions

1. Magento EE 2.1.5 is installed (CE should have the same issue) with PHP 7.0 and MariaDB 15.1

### Steps to reproduce

1. Go to Stores > Settings > Configuration > Catalog > Product Fields Auto-Generation (Default Config)
2. Next to _Mask for Meta Description,_ uncheck _Use system value_
3. Empty the contents of the _Mask for Meta Description_ field and save the config
4. Go to

[2017-05-01 22:30] bassplayer7 commented on #5711
This is still an issue, and one that can easily be resolved. The problem is that the page save controller is using the deprecated way to save a model. @magentodevleper is right - saving inline actually works fine. Currently `\Magento\Cms\Controller\Adminhtml\Page\Save::execute()` loads the model directly, and then saves it directly.

*This can easily be fixed by simply using `\Magento\Cms\Api\Page

[2017-05-02 00:12] vbuck commented on #6895
Same issue here, please investigate.

Something to try as an alternative could be observing the event dispatched in `Magento\Catalog\Block\Adminhtml\Product\Edit\Tab::_getAdditionalElementTypes`:

    /**
     * Retrieve additional element types
     *
     * @return array
     */
    protected function _getAdditionalElementTypes()
    {
        $result = [
            'price' => 'Magento\Catalog\

[2017-05-02 01:10] shahankitb997 commented on #9336
Hi @snoroozi not sure about this. But #9442 returns needed variable or not. need to check.

Thanks

[2017-05-02 01:38] msawyers commented on #9395
Same on my end. No change.

[2017-05-02 02:44] feelinc opened #9468 "REST API bundle-products/:sku/options/all always return is not authorized"
### Preconditions
1. PHP 7.0
2. Magento 2.1.6

### Steps to reproduce
1. Web API Security -> Allow Anonymous Guest Access: Yes
2. Try GET "/rest/V1/bundle-products/:sku/options/all" using Postman

### Expected result
1. Never see a correct result

### Actual result
`{
  "message": "Consumer is not authorized to access %resources",
  "parameters": {
    "resources": "Magento_Catalog::products"
  }

[2017-05-02 05:42] DrashtiPandya commented on #9462
no there is no any errors and and no javascript error also
![image](https://cloud.githubusercontent.com/assets/18716964/25605393/27b9cc30-2f28-11e7-965f-0bdf8ceda5cd.png)
console showing no error in this image

[2017-05-02 05:56] alyhugo commented on #6078
I am using CE 2.1.6 and the problem is still exist.

[2017-05-02 06:35] thdoan commented on #8667
We are also seeing this bug in v2.1.5. The strange thing is, the attribute contains the correct price, e.g.:

[code]

The correct price is $109.99 just like in the `data-price-amount` attribute, but the printed price $199.99 is incorrect as it's taking the price of the main product.

[2017-05-02 06:45] thdoan commented on #8667
While making the fix to the template, I noticed you can also remove `<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>` since `$_helper` is not used at all.

[2017-05-02 09:23] SyedMuneebb commented on #3004
It is highly recommended to create a custom theme rather than editing core files. Here's a step by step guide on it: https://magenticians.com/create-custom-theme-magento-2/

[2017-05-02 10:37] paulpartington-cti opened #9469 "Customer Import Removing Empty Columns"
When importing customers and address, empty values from the source CSV file do not have an array key created. For example if you specify a 'prefix' on the first customer and then no other prefixes on the others, the import will not run as it's expecting a prefix column for all customer rows. In a similar fashion, if you don't define a prefix for the first row but do for the others, then none of th

[2017-05-02 10:40] parthpatel147 opened #9470 "imported image roles are lost on update product"
### Preconditions

1. Magento ver. 2.1.0

### Steps to reproduce

1. Import images to product with image roles like base image and small image etc.
2. Now update the product from Admin.
3. Check the product, you can see that no roles are there in images.
4. Imported Images Roles are lost due to product update.

### Expected result

1. Base images, small images are displayed correct in front end wi

[2017-05-02 11:24] KevinMace commented on #9287
I can confirm that i'm receiving the exact same error during the deployment of static-content when upgrading to 2.1.5, even when following the documentation and flushing Redis.

[2017-05-02 11:41] PieterCappelle commented on #6597
Any update on this one?

[2017-05-02 11:41] PieterCappelle commented on #8094
Any update on this one?

[2017-05-02 11:45] jimul opened #9471 "After product deleted customer wishlist stopped working."
- Create product from magento admin panel.
- Login as customer on front end and add same product to wishlist.
- Delete same product from admin panel.
- For this customer, starting JS error on front side and can add any other product to wish list.

I believe same issue can be with if product contain in compare product, recently view, related product and product deleted, than product id still exist

[2017-05-02 11:47] martijnrmediact commented on #9188
Any update on this?

[2017-05-02 11:55] PieterCappelle commented on #8094
Quick fix is in `di.xml`

`<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Email\Model\Template">
        <plugin name="mail_subject" type="VENDOR\MODULE\Plugin\Template" sortOrder="100" />
    </type>
</config>
`

In Template.php
`<?php
namespace VENDOR\

[2017-05-02 11:56] PieterCappelle commented on #6597
Quick fix is in `di.xml`

[code]

In Template.php
[code]

[2017-05-02 12:24] RSpeekenbrink opened #9472 "Question: Removing a custom attribute from a Product using REST API"
Hey there,

Is there a way to remove 1 specific custom attribute from a product using the REST API? I searched all documentations and can't find it.

Also I use the (v1/products/SKU) PUT command to add attributes. Is this the most efficient way?

Thanks

Magento Version 2.1.5

[2017-05-02 12:30] BlackIkeEagle commented on #5803
this is not a proper fix, but the develop branch has this issue fixed

66d19602e9627b2c446dd5445ff62bfbc2eea2b6 and 6b512596988f5f2d9f3102a56fbea17bff88ef13 are related to this

[2017-05-02 12:44] strauss69400 commented on #8702
I have the same problem.
Impossible to resolve it.
Did you manage to find the problem?
Thanks

[2017-05-02 13:00] JacobDrummond commented on #6803
@veloraven, this issue is present in Magento CE 2.1.6.

Do you require any more replication guidance to get this labeled as "acknowledged" and moved to an internal ticket?

[2017-05-02 13:45] benjamin-volle opened #9473 "Unable to import "Use config settings" value for "is_returnable" attribute"
### Preconditions
1. Magento 2.1.4

### Steps to reproduce
1. Create a file with columns "sku" and "is_returnable"
2. Put "2" or "Use config" or whahever is column "is_retunable"

### Expected result
1. Value of "is_retunable" should be "2" => "Use Config"

### Actual result
1. Value of "is_returnable" doensn't change

Problem is that Magento\Rma\Model\Product\Source::getAllOptions doesn't contain

[2017-05-02 13:50] mikeymike commented on #9463
@phpworld are you actually looking for this ?

`Content > Design > Configuration`

That lets you configure the themes for each store etc

[2017-05-02 13:53] mikeymike commented on #9463
Also for reference I would suggest asking in the [Community forums](https://community.magento.com/) or [Stack Exchange](http://magento.stackexchange.com/) for this type of thing in future 👍

[2017-05-02 15:26] zstutzman opened #9474 "Authorize.net direct post, md5 hash not required"
### Preconditions

1. Magento 2.1.3

### Steps to reproduce

1. Setup the Authorize.net direct post payment method but do not ender a Md5 Hash

### Expected result

1. Magento should require Md5 hash or at least provide a payment gateway error in checkout

### Actual result

1. Magento does show a "server error" message when user tries to submit credit card info in payment step. The issue is that

[2017-05-02 15:27] choukalos commented on #7367
Issue fixed in mainline (aka 2.2)

[2017-05-02 16:21] phpworld commented on #9463
Thanks i see that and I found like this mangeti have

Mak fool for configuration link

There is  link for this

On 2 May 2017 7:24 p.m., "Michael Woodward" <notifications@github.com>
wrote:

[2017-05-02 17:34] affirmative-pl commented on #4263
+1 - having the same issue, reproduced on several servers and with various currency settings

[2017-05-02 17:47] roseofgold commented on #7687
I'd like to know how to get this fixed. It's driving me nuts.

[2017-05-02 18:26] nbennett25 opened #9477 "PHPUnit tests do not accept testsuite as argument"
When using the `bin/magento` command line tool to run Integration testing, setting a `testsuite` argument does not work, per the instructions at the bottom of:

http://devdocs.magento.com/guides/v2.0/test/integration/integration_test_setup.html

### Preconditions
1. Magento version 2.1.5
2. PHP 7.0
### Steps to reproduce
1. Run `bin/magento dev:test:run integration --testsuite "Memory Usage Tests"

[2017-05-02 18:41] timhofman opened #9478 "Bad customer experience regarding async widgets / banners (5+ sec delay)"
### Preconditions

1. All Magento 2.x Enterprise Edition versions

### Steps to reproduce

1. Any page that uses widgets to  display banners  (async /banner/ajax/load/?sections=)

### Expected result

1. Only load the widgets/banners for the current page. Do not load all widgets a once, and don't split this data into 2 calls (current page, the rest) as a new solution. Lots of data is being fetched

[2017-05-02 19:03] tuango-magento commented on #5670
This issue persists in Magento 2 EE 2.1.6

[2017-05-02 19:20] MattBidas commented on #9432
I solved the problem by overwriting the class, creating a separate module and injecting as "prefer" from the Magento Class to the Class I created by overwriting as needed.

Anyone who wants to use the solution is available on Githiub:
https://github.com/MattBidas/magento2-reports

[2017-05-02 19:20] #9432 closed, assigned to nobody

[2017-05-02 19:20] MattBidas commented on #7037
I solved the problem by overwriting the class, creating a separate module and injecting as "prefer" from the Magento Class to the Class I created by overwriting as needed.

Anyone who wants to use the solution is available on Github:
https://github.com/MattBidas/magento2-reports

[2017-05-02 19:21] MattBidas commented on #9432
I solved the problem by overwriting the class, creating a separate module and injecting as "prefer" from the Magento Class to the Class I created by overwriting as needed.

Anyone who wants to use the solution is available on Github:
https://github.com/MattBidas/magento2-reports

[2017-05-02 19:32] mattcoz commented on #4387
Still an issue in 2.1.6

[2017-05-02 20:45] aburkes commented on #6426
I am having the same issue.

Furthermore, creating the deployed_version.txt only partially works. Attempting to load a page in the frontend results in linked style files and images coming up 404 - it would appear that it's linking to the wrong location.

[2017-05-02 21:21] msawyers commented on #9395
Bug exist in default Luma theme. Look at screenshot attached where entire product images are not fully displayed
![bugimage](https://cloud.githubusercontent.com/assets/8907629/25639900/4cb0d9ea-2f53-11e7-8c3a-606070d12b0d.jpg)

[2017-05-02 21:24] rnkings commented on #1782
I tried replacing "Add to Cart" with "Get Quote" however the "Get Quote" button is not doing anything once clicked.  No errors are being triggered when the button is clicked so at this point I'm a little stumped and what is supposed to happen and what is going wrong.  Any ideas?

[2017-05-02 21:24] buskamuza commented on #5247
If you have access to the command line,

1. run `composer require <new-package>` or `composer require <new-package>:<version>`
2. run `bin/magento setup:upgrade`

In most cases, it should be enough. Additional actions that you may need in more specific situations:
1. if you test `production` mode, additionally run `bin/magento setup:di:compile && bin/magento setup:static-content:deploy`
2. if you

[2017-05-02 21:29] msawyers commented on #9395
Please fix this image resize issue in next version.

[2017-05-02 21:39] msawyers commented on #9395
@choukalos

[2017-05-02 22:19] MEGA911 opened #9479 "[Magento 2.1.6] ERROR Admin Web Setup Wizard update Module + rollback error => Update EXTENSION MANAGER => Freeze Page yourdomain/update/index.php"
### Preconditions

1.  [Magento 2.1.6 CE]

### Steps to reproduce

1. Admin => Web Setup Wizard => update Module error + rollback error
2. After the error => Rollback button doesn't work Freeze on page yourdomain/update/index.php
3. Result :> Admin => Web Setup Wizard =Freeze on page yourdomain/update/index.php

### Expected result

1. Update module
2. Rollback without bug

### Actual result

1. C

[2017-05-03 00:26] rgjoyce commented on #5247
Thjats over my head. We don’t use composer on our server.

From: Olga Kopylova [mailto:notifications@github.com]
Sent: Wednesday, May 3, 2017 3:25 AM
To: magento/magento2
Cc: rgjoyce; Mention
Subject: Re: [magento/magento2] Can not access Web Setup Wizard with 2.1 clean install (#5247)

If you have access to the command line,

1.	run composer require <new-package> or composer require <new-package>

[2017-05-03 01:14] didactica commented on #6310
Hi, any ideas how to update "this item has weight" directly into the database? Any help would be appreciated.

[2017-05-03 01:15] amcastror commented on #6310
Hi, any ideas how to update "this item has weight" directly into the database? Any help would be appreciated.

[2017-05-03 01:37] amcastror commented on #8228
Hi @thisfiore, were you able to do this somehow?

[2017-05-03 04:31] JimmyBeats commented on #2547
"The Luma theme is not designed to be inherited from"?

This was a rather silly decision - surely the included themes should absolutely be inheritable?

[2017-05-03 05:21] Jakhotiya commented on #8018
I would like to work on it

[2017-05-03 05:25] deepakkn85 commented on #7497
I will start looking this issue.

[2017-05-03 05:40] pragya-tech commented on #9216
I am looking into this issue.

[2017-05-03 05:43] atultechelogy commented on #6671
I'm working on this issue.

[2017-05-03 05:46] MargoNikk commented on #9395
The same issue. The Technical Bulletin did not help me. The all pictures still look bad.

[2017-05-03 05:51] santhoshp commented on #9408
I'm working on this

[2017-05-03 05:52] arshadpkm commented on #7988
I am in

[2017-05-03 05:54] mikebox commented on #9428
I am working on this

[2017-05-03 05:54] vinothkumars commented on #9196
I am working on this issue

[2017-05-03 06:03] titechnologies commented on #6342
Still its not working in 2.1.5.
Totally wrong prices when currency switching.
its fine in default currency.

[2017-05-03 06:07] saurabhsharma1383 commented on #6710
It's custom option pagination issue in magento 2.1.x, so if you go to till last page of custom option pagination then product will be saved.
As per @johnegraham2 - increase pagination size, great :)

[2017-05-03 06:21] joni-jones commented on #9442
Hi, @shahankitb997, Magento uses NVP API for PayPal Express Checkout and [NVP Reauthorization ](https://developer.paypal.com/docs/classic/api/merchant/DoReauthorization_API_Operation_NVP/) response does not have the `parent_id` and `valid_until` fields.

I'm closing this ticket as not an issue.

[2017-05-03 06:21] #9442 closed, assigned to YevSent

[2017-05-03 06:28] shahankitb997 commented on #9442
Hi @joni-jones , Understand can you give me working example of Reauthorization in Magento 2.1.6 CE.

Otherwise Can you help to give answer of below ones?

https://magento.stackexchange.com/questions/172143/magento-2-how-to-reauthorize-paypal-payment-store-all-information

[2017-05-03 06:32] joni-jones commented on #9442
@shahankitb997, Magento has not built-in functionality for PayPal integrations to process reauthorization.

[2017-05-03 06:32] abbasalitk opened #9481 "Command Returned non zero exit code while changing mode to production"
I have changed my backend settings to minify CSS and JS to Yes. Also JS Bundlinng to Yes.
But I was in developer mode. When I saved the setings, my complete backend has crashed.

Later I tried to change mode to production mode using Putty, But it comes "Command returned non-zero exit code:
`/opt/php56/bin/php -f /home/souqom5/public_html/bin/magento setup:di:compile`'

Also i tried to run setup:di

[2017-05-03 06:34] routbiplab opened #9482 "How to change the scope of product inventory attribute to website or store"
How can I change the product stock attribute website or store wise?

### Steps to reproduce

1.  While creating a new product I am unable to set the stock/quantity attribute to website or store wise

### Expected result

1. If I am maintaining a separate warehouse for separate website or store then I should be able to upload the product quantity website or store wise.

### Actual result
1. Product

[2017-05-03 06:35] shahankitb997 commented on #9442
Hi @joni-jones, Stuck on reauthorization from so many days. How to perform reauthorization for PayPal authorized transaction programmatically? I hope u read stackexchange question.

Please help/guide to solve this. In corePHP it also seems not working.

[2017-05-03 06:48] joni-jones commented on #9474
Hi, @zstutzman, thanks for reporting. I've created internal ticket `MAGETWO-68872`.

[2017-05-03 06:50] Radiergummi commented on #5247
@rgjoyce Composer should be available for Magento to work - if it isn't installed yet, just follow the instructions [here](https://getcomposer.org/download/). Olga is right, installing extensions using the Magento CLI application seems to work properly.

@buskamuza is there a command to update to the latest version automatically? The docs only contain instructions to use `composer require ...`, bu

[2017-05-03 07:09] tomnyson opened #9483 "Wishlist module can't get image in email template"
### Preconditions

1. magento 2.1.6
2. nginx

### Steps to reproduce

1. Add product to my wishlist
2. Click share wishlist product to list friend
3.

### Expected result

When I share List product in my wishlist to Friend list, Everything ok, but Image can't render in image
out HTML
    {{var items|raw}}
1.

### Actual result

1. [Screenshot, logs]
![image](https://cloud.githubusercontent.com/ass

[2017-05-03 07:19] vishveskrish commented on #9428
@mikebox : Do you find any solution ?

[2017-05-03 07:56] dmitrisol commented on #6426
Have the same issue in production mode in CE 2.1.6. bin/magento setup:upgrade first removed the file, and later complains about it missing:

`
php bin/magento setup:upgrade
Cache cleared successfully
File system cleanup:
/data1/projects/trc/staging/magento2/var/generation/Composer
/data1/projects/trc/staging/magento2/var/generation/MOFX
/data1/projects/trc/staging/magento2/var/generation/MageWorx

[2017-05-03 08:00] boscowitch commented on #2504
@magenx
Environment is part of the Application, thats just the modern way (DevOps) and it makes sense since

otherwise it's not really opensource.
more something simillar to some hardware manufactures who claim they do/use opensource but then put an encrypted firmware/bootloader in the "environment" that is mandatory.

And only supporting old php versions is just irresponsible in therms of securit

[2017-05-03 08:01] hostep commented on #8145
And another update: instead of removing `image_type` all together, we should hardcode it to a certain value which is being used today, like `thumbnail`, this will avoid having to run `bin/magento catalog:images:resize` yet again. Otherwise it would change the hash being used in the directory structure again and all the product images would disappear from the product listing pages again, just like

[2017-05-03 08:05] Danielc3 commented on #6360
This is still an issue for me in 2.1.6. Has anyone made any progress with this?

[2017-05-03 08:11] rgjoyce commented on #5247
absolute rubbish.

Composer is NOT required for magento to work and any developer that would make it a requirement needs to be taken out and shot :)

Any person who wants to have their own estore for a small shop, will not have the budget to pay for a dedicated server where they can have comoser setup.  Most of them use shared hosting.

From: Mo [mailto:notifications@github.com]
Sent: Wednesday, M

[2017-05-03 08:42] YPyltiai commented on #9296
Hi @vishveskrish,

We already have a fix for current develop branch. It should be delivered to the mainline soon.
I've also created ticket to backport the fix for 2.1.x versions but I am not sure in which patch release it is going to be delivered.

[2017-05-03 08:44] Radiergummi commented on #5247
@rgjoyce That's why I wrote *should*. Composer is a PHAR file, meaning you are able to run it in most shared hosting environments without any fuss.

I'm not going to follow this discussion further, considering the rude tone of your responses. Have a nice day.

[2017-05-03 09:04] razvan-f commented on #9395
Having the same issue. The technical bulletin doesn't help.

Magento 2.1.6
PHP 7.0.18

[2017-05-03 09:28] drestine commented on #8213
Hi @veloraven, any update on this issue?

[2017-05-03 09:43] justinsamuel92 opened #9486 ""Use Default Value" gets unchecked, when product data is saved"
### Preconditions
1. CE 2.1.4

### Steps to reproduce

1. Open a product in Admin, select a store view, say Default Store View
2. Check any of the 'Use Default Value' checkboxes in 'Search Engine Optimisation'(or any) tab and save product.
3. Click on the Save button to save the product again, without opening/loading the 'Search Engine Optimisation' accordion tab

### Expected result

1. The check

[2017-05-03 09:43] korostii commented on #9434
Possibly related: #9389

[2017-05-03 10:01] synolia-bvo commented on #9038
Up ? :/

[2017-05-03 10:05] hostep commented on #8145
And yet another update. Manipulating `image_type` in [`Magento\Catalog\Model\Product\Image\ParamsBuilder::build`](https://github.com/magento/magento2/blob/2.1.6/app/code/Magento/Catalog/Model/Product/Image/ParamsBuilder.php#L106) which I mentioned above, isn't the right solution, as `image_type` is being used in [`Magento\Catalog\Model\View\Asset\Image::getPlaceHolder `](https://github.com/magento

[2017-05-03 10:15] swordwolt commented on #6457
Hi,
the problem is that the from and to date won't be selected from the database. To fix this issue you need to edit the following file:
vendor/magento/module-configurable-product/Pricing/Price/LowestPriceOptionsProvider.php

change line 58:
from:
->addAttributeToSelect(['price', 'special_price'])
to:
->addAttributeToSelect(['price', 'special_price', 'special_from_date', 'special_to_date'])

[2017-05-03 10:28] vkranjith commented on #7959
Hi Magento Team,
I would like to work on it.

[2017-05-03 10:35] thdoan commented on #7299
@alessandrozucca may I know what the resolution was? We seem to be having a similar issue:

Request URL = V1/carts/mine/estimate-shipping-methods-by-address-id
Request Payload = `{addressId: "60"}`
Response =
`{"message":"%fieldName is a required field.","parameters":
{"fieldName":"cartId"}`

[2017-05-03 11:04] alessandrozucca commented on #7299
The issue wasn't resolved.

My current company, did send it to Magento via the "partners portal", the project I was working on then got blocked for other reasons and I didn't follow up with the issue.

If you are getting it too, then is definitely an issue that should be fixed.

[2017-05-03 11:41] reijervano commented on #4547
We have this issue to. That's why we made a small library to overcome this problem in Magento 2 and other applications which depends on Zend Framework 1.

https://packagist.org/packages/activeants/zendframework1-overwrite

[2017-05-03 11:44] NikoAlexis commented on #6710
@saurabhsharma1383 It's not a decision when you have 1000 values per option. Increasing pagination size will lead to product page load time issue.
@veloraven Do you have any updates?

[2017-05-03 12:00] magentoguyssageone opened #9488 "Country Kosovo missing"
### Preconditions

1. I have tried to add new country (kosovo country) becuase by default this country not showing in admin Allowed country section and I first insert a new entry in directory_country table with country CODE (XK and XKX) and then edit the vendor/magento/zendframework1/library/Zend/Locale/Data/en.xml file and add new row for <territory type="XK">Kosovo</territory> and save this file

[2017-05-03 12:12] orlangur commented on #5880
`mcrypt_*` calls are suppressed the right way in `develop` already: https://github.com/magento/magento2/blob/develop/lib/internal/Magento/Framework/Encryption/Crypt.php#L59
(unlike the https://github.com/magento/magento2/issues/5880#issuecomment-268316245 approach).

@rsecor, it [seems](https://travis-ci.org/magento/magento2/builds/228129749) to be there ;)

[2017-05-03 12:15] mrkhoa99 commented on #9483
@tomnyson try to get the current links of images in email by inspecting element browser.  I think the https may be the issue.

[2017-05-03 12:18] NMills12 commented on #9196
That is great news. Looking forward to this update/fix!

Nakia M. Mills
Sanders Candy
ph: 586-464-5368
SandersCandy.com<http://www.sanderscandy.com/> I Facebook<http://www.facebook.com/SandersCandy> I Twitter<http://twitter.com/#!/SandersCandy> I YouTube<http://www.youtube.com/user/Tvanhemm>
View 2017 Online Retail Catalog<https://view.publitas.com/sanders-morley-candy-makers/sanders-2017-retail-c

[2017-05-03 12:20] cviking26 opened #9489 "Error while resend account confirmation link with special chars (e.g. "+" in email)"
There is an error while click on "resend confirmation mail". The mail address will transfered without special chars like "+". This is important for the new gmail feature which provides simply adding aliases.

### Preconditions

1. Magento 2.1.2
2. Enable Double-OptIn Mails for Customer Registration

### Steps to reproduce

1. Register as a new Customer with email like "firstname.lastname+PARAM@gma

[2017-05-03 12:21] rsecor commented on #5880
@orlangur, Thanks for the heads up...
It looks like it was changed about a week ago.
I will start taking another look to see how things go.

[2017-05-03 12:37] Taral-Patoliya opened #9490 "Mp4 video not loaded in Mac OsX Safari 10.1"
We are streaming sample videos in the listing and detail page for the downloadable products, using the html5 video tag for frontend and for for streaming we are using the sample download link

Every browser supports this across multiple platforms windows, ubuntu, mac osx except the safari 10 in mac os x (and  safari 5 in windows because of the lack of the video element support).

[2017-05-03 12:56] dar3 commented on #5621
In EE 2.1.5 Still happening

[2017-05-03 12:58] igotgroove commented on #6895
Following up on this one. After some research, I believe it comes down to admin UI components having moved away from input renderers. Seems that I was seeking this out based on M1 knowledge, but M2 has moved on for its UI components.

Reference:

Still, I think this is a legitimate issue to address, either by way of better documentation or else some consideration for backwards compatibility.

[2017-05-03 12:58] vbuck commented on #6895
Following up on this one. After some research, I believe it comes down to admin UI components having moved away from input renderers. Seems that I was seeking this out based on M1 knowledge, but M2 has moved on for its UI components.

Reference:

Still, I think this is a legitimate issue to address, either by way of better documentation or else some consideration for backwards compatibility.

[2017-05-03 13:02] shiftedreality commented on #9452
Internal ticket MAGETWO-66885

[2017-05-03 13:08] rais24 opened #9491 "User Roles Not displayed while creating new role"
### Preconditions

1. N/A
2. N/A

### Steps to reproduce

1. Go To User System > Roles > Add New Role
2. Edit newly created Role
3.  Go to Role Resources
4. Select Custom from Resource Access
5. User Role tree not showing

### Expected result

1. User Role tree should display

### Actual result

1.  User Role tree not showing

[2017-05-03 13:15] Radosav commented on #8724
Created an extension to fix this until Magento 2 team fixes it.
https://github.com/Radosav/Radosav_ReportFix

[2017-05-03 13:46] elisabethesbjornsson-vaimo commented on #9307
I am also experiencing this issue, after upgrade from 2.1.4 to 2.1.6.

[2017-05-03 13:49] korostii commented on #9438
Well I've left an explanation regarding max_input_vars issue [here in a comment](https://github.com/magento/magento2/issues/9317#issuecomment-295668804). In short, it just allows to save the attribute in admin after you've added a lot of options, nothing more.

I doubt that it could force the swatches to disappear from the storefront, there's probably something else causing the issue you're experi

[2017-05-03 14:07] korostii commented on #9445
The issues which cannot be consistently reproduced on a clean installation of Magento 2 CE aren't likely to get resolved in here.
Please try add as much information as possible, including the environment you use, 3rd party themes and modules installed (if any), preconditions, exact steps to follow, screenshots and stack trace from browser console and even the custom code you're using. These raise

[2017-05-03 14:15] korostii commented on #9444
![tumblr_m3x648wxbj1ru99qvo1_500](https://cloud.githubusercontent.com/assets/24894168/25664674/ffedf5c6-3023-11e7-945d-1f542b26643e.png)

[2017-05-03 14:23] rackyan opened #9493 "File permissions readiness check issues"
I'm installing magento 2.1.6 on Google Computer Engine (GCE). i did everything according to magento 2 installation requirement but at the end i don't know how to solve this error.
Starting Magento installation:
File permissions check...

![pemission error](https://cloud.githubusercontent.com/assets/28351786/25663398/2709ba70-304a-11e7-866d-32af5c9c9ceb.jpg)

I've run the commands :
1, cd /var/www/

[2017-05-03 14:24] ooples opened #9494 "Invalid Header Value Error When Flushing Varnish Cache"
I just installed varnish and used the default v4 magento configuration but whenever I flush the cache I'm getting this error and I have no idea what to do to fix it. I'm using magento 2.1.6

    a:4:{i:0;s:20:"Invalid header value";i:1;s:6328:"#0 /var/www/html/vendor/magento/zendframework1/library/Zend/Http/Client.php(1605): Zend_Http_Header_HeaderValue::assertValid('\x87'\x02P"\x19\xCD\xCB\xF9\xB

[2017-05-03 14:37] korostii commented on #4068
As I understand it, no backport is planned "by default" and closed tasks are not tracked by the core team neither (see [here](https://community.magento.com/t5/Magento-DevBlog/GitHub-Issue-Priority/ba-p/60088#M15) for an detailed official Magento Inc.'s response about that).
In general, here's what you could do if you're interested to get it backported:
a) create a pull request pointing at 2.1-deve

[2017-05-03 14:44] flipflap commented on #9435
I have the same issue.... and can't figure it out. The special price label is missing too on config products. I expect it to come from here but this file didn't change:
vendor/magento/module-catalog/view/base/templates/product/price/amount/default.phtml

Someone know where the special-price for config products is?

[2017-05-03 14:47] vivek201 commented on #5703
@andrewsladen Glad it helped someone. :)

[2017-05-03 14:58] dfelton commented on #4828
Confirming that @mailtomayaz's [comment](https://github.com/magento/magento2/issues/4828#issuecomment-292225719) seems to work.

[2017-05-03 15:01] maghamed commented on #9068
Hey @Vinai ,
I made a code review of code you mentioned and also had a conversation with authors of this code.

Looks like we could make both of changes described by you.
 - change `class_exists($className, false)` to `class_exists($className) `
 - eliminate this condition
[code]

Short background why we got class_exists($className, false) in our codebase:
as class_exists by default makes an auto

[2017-05-03 15:04] korostii commented on #9447
I'm sorry, how exactly an outdated dependency "isn't really a bug"?
Is that idea written somewhere in the guidelines? Should [all those "update ZF dependencies" issues](https://github.com/magento/magento2/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20Upgrade%20ZF%20components) get closed? Maybe let's also drop [the issue about updating the composer](https://github.com/magento/magento2/issues/43

[2017-05-03 15:12] lingwooc commented on #9307
+1 I had it working originally as a dropdown. Then changed it to a swatch, now I can't go back to a dropdown. The setting saves but the front end ignores it. I assume is is because the extra attributes are created for the options when it is turned into a swatch, then not removed. No amount of cache clearing fixes it.

[2017-05-03 15:13] #9182 closed, assigned to nobody

[2017-05-03 15:30] dunctem opened #9495 "Where are the magento2 samples?"

[2017-05-03 15:35] redelschaap commented on #7687
Bug is still present in 2.1.5.

[2017-05-03 15:43] dcabrejas opened #9496 "Magento doesn't purge varnish cache"
### Preconditions
1. Magento CE 2.1.0 with Sample data installed.
2. Varnish lives in a different server so purge requests are send over the network.
3. PHP 7.0.18

### Steps to reproduce
1. Set up Magento to use Varnish for FPC.
2. Confirm that Varnish cache is working (Pages are getting cached by varnish)
3. Choose one category page and make sure it's cached in Varnish.
4. Edit that category's d

[2017-05-03 15:45] sambolek commented on #9447
Current M2 releases are made to work with previous versions.

As CSSmin maintainer changed the way the library is called, you cannot simply update the library version and hope everything will work. That's why version in composer.json is set to a specific one.

The library was updated in the pull request I linked above. You might be able to create a patch and apply it or wait for a new M2 release w

[2017-05-03 15:57] frenky2334 commented on #9447
Hi @sambolek

Thanks for the answer.
I look at pull request which you recommended me. I have one question. Where can I get the updated library files?

[2017-05-03 16:03] korostii commented on #9226
@rashidtahir please don't flood discussions of unrelated tasks with your comments.
With all due respect, it isn't likely to attract anything beyond annoyance to your issue.

This is not a help desk, it's a bug tracker. Don't expect a fast response: there's quite a lot of open issues and not so much people to sort them out. The harsh truth is that if your issue isn't a priority for neither the core

[2017-05-03 16:08] bbtimx opened #9497 "PayPal Express Checkout: We can't initialize Express Checkout."
### Preconditions

1. Magento Version 2.1.6 Community Version
2. PayPal Express Checkout in Live Mode

### Steps to reproduce

1. Go to any products details page
2. Click **PayPal Express Button**
3. Redirect to empty cart with error message: "**We can't initialize Express Checkout.**"

Whats working:
1. Go to any products details page
2. Click **add to cart**
3. Click **PayPal Express Button** on

[2017-05-03 16:15] korostii commented on #9495
Duplicate of [devdocs#1133](https://github.com/magento/devdocs/issues/1133) ?

[2017-05-03 16:21] korostii commented on #6866
@zzvara, not likely

As I understand it, no backport is planned "by default" and closed tasks are not tracked by the core team neither (see [here](https://community.magento.com/t5/Magento-DevBlog/GitHub-Issue-Priority/ba-p/60088#M15) for an detailed official Magento Inc.'s response about that).
In general, here's what you could do if you're interested to get it backported:
a) create a pull request

[2017-05-03 16:33] ebofi commented on #6138
@shiftedreality @hostep  @stianmartinsen

Issue exist on Magento 2.1.6. How to fix it.

[2017-05-03 17:03] dunctem commented on #9495
Yeah, apologize about that

[2017-05-03 17:03] #9495 closed, assigned to nobody

[2017-05-03 18:32] hostep commented on #4068
I don't really see the point in backporting this? It brings no new features, it fixes no bugs, ...
If it does get backported, it will need its own version, just like what happened to version 2.1.5 where only the copyright headers were changed. This to avoid too much noise in the diffs between different versions where there are actual functional changes.

The only reasons I can see for backporting

[2017-05-03 18:40] MattBidas commented on #7862
This bug present in 2.15 and 2.16

[2017-05-03 18:52] hostep opened #9498 "Regression bug in Magento 2.1.6 - hidden images used on the product listing never get generated"
This was originally reported by @airdrumz in https://github.com/magento/magento2/issues/9276, but I think this problem deserves its own issue, otherwise it is going to get ignored.

### Preconditions
1. Magento 2.1.6
2. PHP 7.0.18

### Steps to reproduce
1. Set up a brand new Magento 2.1.6 project
2. Create a category
3. Create a product, assign it to the new category, make sure you can see it on

[2017-05-03 19:11] MattBidas commented on #8881
In version CE 2.1.6 too

[2017-05-03 19:36] sambolek commented on #9447
Incorporate all changes from pull request (including composer.json) and run "composer install" or "composer update tubalmartin/cssmin".

[2017-05-03 20:45] ktomk commented on #5701
via: https://github.com/magento/magento2/pull/7688#issuecomment-298945777

[2017-05-03 20:49] paragonie-scott commented on #5701
One possible solution to the cryptography flaws laid out here is [sodium_compat](https://github.com/paragonie/sodium_compat), but it's not yet known if it's safe to use yet. Only a [cryptography audit](https://www.gofundme.com/security-audit-for-sodiumcompat) will tell.

[2017-05-03 20:52] heyqule commented on #9439
Confirmed for 2.1.6 as well.  State/Region becomes blank after save.

[2017-05-03 22:35] Joker2099 commented on #9439
@heyqule
Correct, I narrowed it down to that region_id is being passed to the database (that's why the dropdown shows correct state on edit each time) but the region text isn't. Though if you change the country to lets say Afghanistan, you are able to type in the region manually and it's being passed to the database.

I am still digging the files, if I find a workaround or solution I will post her

[2017-05-03 22:44] ooples opened #9501 "Zend_Http_Client_Exception: Unable to read response, or response is empty"
I'm getting the following errors pretty regularly on Magento 2.1.6 and I have no idea why :(

    [2017-05-03 21:54:13] main.CRITICAL: Zend_Http_Client_Exception: Unable to read response, or response is empty in /var/www/html/vendor/magento/zendframework1/library/Zend/Http/Client.php:1093
    Stack trace:
    #0 /var/www/html/vendor/magento/framework/HTTP/ZendClient.php(52): Zend_Http_Client->requ

[2017-05-04 03:36] hectornguyen commented on #6895
@vbuck I found my answer here for a long time ago: https://magento.stackexchange.com/questions/139480/customise-a-custom-product-attribute-input-renderer-in-magento-2-the-right-way/

Thanks for your help anyway.

[2017-05-04 06:39] siju-corra commented on #6722
@chapagain I have temporarily disabled xdebug from php.ini and this issue got resolved.

[2017-05-04 07:55] frenky2334 commented on #9447
@sambolek
In your pull request you use 2.2.0-dev version, but in our production is 2.1.6
The difference in versions will not lead to the breakdown of the site?
Or better not risk for update this module and wait the official update magento?

[2017-05-04 08:08] korostii commented on #9465
First of all, GitHub has a useful feature called search. If you'd used it, you might've know the answer already and wouldn't need to create a duplicate number forty-something of the same common [complaint](https://github.com/magento/magento2/search?q=URL+key+for+specified+store+already+exists&type=Issues). Googling it would've had a similar effect.

Not every error message you see is symptomatic o

[2017-05-04 08:10] SyedMuneebb commented on #4707
Magento 2 is not slow by default. You have to do some optimization to make it fast like Image Optimization, CSS and JS Optimization and many other things. Here's a simple guide on it:  [Why Magento 2 is slow](https://magenticians.com/why-magento-2-is-slow/)

[2017-05-04 08:10] shahankitb997 commented on #9336
Hi @snoroozi While we do Reauthorization we have new Expiry Date. Where Magento is storing new extend date? In `sales_payment_transaction` not able to find

[2017-05-04 08:13] SyedMuneebb commented on #7833
In the step 6 try this` rm -rf var/di/* var/generation/* var/cache/* var/log/* var/page_cache/*`

Check this simple and step by step guide: [Update Magento 2](https://magenticians.com/update-magento-2-using-composer/).

[2017-05-04 08:13] sambolek commented on #9447
If you want to be 100% sure, wait for next release :)

[2017-05-04 08:22] JacobDrummond commented on #9465
@korostii

I understand your frustration, but I don't think there's any need to be rude to @pankajkherwal. This is the [only Magento2 issue he's opened](/magento/magento2/issues?q=author%3Apankajkherwal), hardly a repeat-offender.

It doesn't sound like @pankajkherwal input a URL key manually. If Magento is generating a URL key, surely it should be able to create a unique one by incrementing a num

[2017-05-04 08:22] mattias commented on #9287
Now we've upgraded a site from 2.1.4 to 2.1.6, cleaned and refreshed everything as well as flushing the redis cache etc. We were in production mode already but things were kind of broken, so we switched to developer mode then back to production and now it won't work since di:compile causes an issue when static-content:deploy runs right after as explained in an earlier post here.

static-content:de

[2017-05-04 08:25] frenky2334 commented on #9447
@sambolek
Thanks )

[2017-05-04 08:31] korostii commented on #9458
So, have you tried doing that? It's completely safe to delete everything under `var` if you need storage space.

Besides, when you do that backup of yours, it might be a good idea to skip the `var` and `pub\media\catalog\product\cache\` folders from the archive.

[2017-05-04 08:33] WJdeBaas commented on #5647
It appears that the validation only occurs when Magento is in developer mode, see /var/www/dactari/public_html/vendor/magento/framework/View/Element/UiComponent/Config/DomMerger.php , method createDomDocument.
So, what you could do is modify the method validateDomDocument in your local development to skip the validation and return an array immediately.
The custom component will work in the live si

[2017-05-04 08:37] Igloczek commented on #9252
CC @maksek @ishakhsuvarov 😉

[2017-05-04 08:43] korostii commented on #9441
The `var/generation` folder contains PHP files that are used by Magento2 when running (which includes users visiting your website while it's online). If you're running in production mode, then there's also `var/di`.

Thus it is preferable to put the site into maintenance mode for the time of flushing and rebuilding the `var/di` and `var/generation` folders.

If you're worried about downtime, you c

[2017-05-04 09:06] korostii commented on #9462
Please also check the log files located under `<your Magento2 installation dir>/var/log` on your web server.

[2017-05-04 09:14] joni-jones commented on #9426
@Ctucker9233 how #8422 is related to this issue? This issue affects only time format in sales order grid and does not relate to the Newsletter.

[2017-05-04 09:16] joni-jones commented on #9426
@Tjitse-E, mentioned PR did not have the full fix for this issue.

[2017-05-04 09:44] korostii commented on #5711
@bassplayer7, nice catch!
[Here's](https://github.com/magento/magento2/blob/2.1/app/code/Magento/Cms/Controller/Adminhtml/Page/Save.php#L68-L88) the relevant piece of code.

The most annoying thing is that if you switch back to the develop branch you'll see that there's already a [fix](https://github.com/magento/magento2/commit/105062e3ea7b62fd958a0a314839603b9570aa68) done as early as in October

[2017-05-04 09:45] korostii commented on #9462
Just noticed that it's not a catalog category but some 3rd-party module.
Is [php-cuong/magento2-faqs-extensions](https://github.com/php-cuong/magento2-faqs-extensions) the one you're using? The issue most likely lies within that module, so please do contact the supplier of that module.

The GitHub issue tracker is intended for technical issues with Magento 2 CE itself only.
The issues which do not

[2017-05-04 09:53] Khaleel opened #9504 "Enabling JS Bundling on the Default Luma is not working"
### Preconditions

1. Magento 2.1.6 CE
2. Localhost (PHP, mySQL)

### Steps to reproduce

1. Install Magento 2 via AMPPS
2. Install Sample Data via Composer `php bin/magento sampledata:deploy`
3. Turn on JS Merging, Bundling and CSS merge and minify all the yes

### Expected result

1. The Magento Luma theme should work and show the working homepage
2. The JS should be bundled without any issues

[2017-05-04 09:54] HellgaM commented on #7313
@lucasvm @kunzi
I had the same issue,
at first all targets with ".html.html" has been removed with
`DELETE FROM `url_rewrite` WHERE target_path LIKE "%.html.html%"`
Then all ".html.html" in request_path where replaced with '.html'
`UPDATE IGNORE url_rewrite SET request_path = REPLACE(request_path, '.html.html', '.html');`
Important thins is **"IGNORE"** in update query above, so MySql won't stop o

[2017-05-04 09:56] alena-marchenko commented on #9167
Hi @eerorika

Fix for MAGETWO-67260 is merged to develop branch, closing the issue.
Thank you!

[2017-05-04 09:56] #9167 closed, assigned to YevSent, alena-marchenko

[2017-05-04 10:02] alena-marchenko commented on #7159
Hi @vishveskrish

Fix for MAGETWO-60589 is merged to develop branch, closing the issue.
Thank you!

[2017-05-04 10:02] #7159 closed, assigned to alena-marchenko, viktym

[2017-05-04 10:03] alena-marchenko commented on #9296
Hi @snoroozi

Fix for MAGETWO-60589 is merged to develop branch, closing the issue.
Thank you!

[2017-05-04 10:03] #9296 closed, assigned to alena-marchenko

[2017-05-04 10:04] alena-marchenko commented on #6583
Hi @maqlec

Fix for MAGETWO-58345 is merged to develop branch, closing the issue.
Thank you!

[2017-05-04 10:04] #6583 closed, assigned to nobody

[2017-05-04 10:17] samgranger commented on #1134
I made a plugin to add this functionality for those that want it: https://github.com/samgranger/StoreCodeBodyClass

[2017-05-04 10:20] korostii commented on #9473
If I'm not mistaken, Magento_Rma module is only provided in Magento EE.

Please note that Enterprise issues can also be reported via the Support portal of your account (or via the Partner portal if you are a partner reporting on behalf of a merchant).
That way, your issue should probably get acknowledged and solved faster. GitHub issue tracker is intended for the Community Edition issue reports.

[2017-05-04 10:31] heyqule commented on #9439
I got the solution. I added an observer for "customer_address_format" to check whether the region name is empty when region_id exists. If the condition matches, the observer will pull the region name based on region ID and save it to the address.  That fixes the issue.

But the correct way is to patch it in execute() of Magento\Sales\Controller\Adminhtml\Order\AddressSave.  That should be done bet

[2017-05-04 10:51] eoss-th commented on #7710
So i would like to know that this bug will close in 2.1.7 or not?

[2017-05-04 10:52] thdoan opened #9505 "Price filter does not take into account Special Price"
### Preconditions

1. Magento 2.1.5

### Steps to reproduce

1. Go to http://magento2-demo.nexcess.net/men/bottoms-men.html
2. Filter by $20.00 - $29.99

### Expected result

1. The Caesar Warm-Up Pant (on sale for $28.00) should be returned by the filter.

### Actual result

1. Caesar Warm-Up Pant is not displayed.

[2017-05-04 11:11] sumit2jcommerce commented on #5801
I do have the same issue on 2.1.3

[2017-05-04 11:39] snoroozi commented on #9296
@alena-marchenko what is the best way to get this fix before release.  Can you tell me specific files to pull?

[2017-05-04 11:51] audexpro commented on #7581
I solved this with AMASTY Extensions **Color Swatches Pro**

[2017-05-04 12:00] kevingimbel commented on #2130
I just installed Magento CE 2.1.6 with Docker using an Alpine based Image and now I ran into this issue when running `bin/magento setup:static-content:deploy`.

Is the version bump going to be released anytime soon? As far as I can see I cannot update `zend-stdlib` on my own when installing Magento with `composer create-project` because I do not have the "main" composer.json - or I do not see it.

[2017-05-04 12:01] denchev commented on #6424
This is still an issue with version 2.1.6

[2017-05-04 12:03] brushbaby commented on #9216
Many Thanks. Presuming this is a bug, so please advise when you have a fix for this so that we can implement.
Many Thanks
Sally Ann Sadler

[cid:image001.jpg@01D2C4D6.C8DD7DD0]

Sally Ann Sadler|  www.brushbaby.co.uk<http://www.brushbaby.co.uk/>  |
 UK: 0345 5202229  INTNL: +44 (0)1962 733829
Brush-Baby Ltd, The Cedar Suite, The Long Barn, Winchester Road, Alresford, Hampshire SO24 9EZ  UK

[cid:i

[2017-05-04 12:06] korostii commented on #7367
Guys, I hate to underline the obvious, but if the bug was discovered on 2.1.x and then reportedly "fixed", it is commonly expected to see that fix in the closest patch (2.1.x) release.
I was about to write more about that, but then I realized Magento Inc. just happens to have a different vision: they expect to see [community contributors involved into backporting](https://community.magento.com/t5/

[2017-05-04 12:16] thelettuce opened #9506 "Admin Create Order with single quote in address does not work - Fix included"
### Preconditions

1. Magento 2.1.3
2. Chrome Browser

### Steps to reproduce

1. In Admin - go to Customers -> All Customers
2. Pick or create a new customer
3. Add an address with a single quote (') in it eg. The Lettuce's House, Some Road
4. Save and Continue Edit - to save the address
5. Click "Create Order"
### Expected result

1. Email and address details should be filled in on next screen a

[2017-05-04 13:01] jurpro commented on #9458
Hi @choukalos and @korostii thank you for your advice. Today I tried what you ask me. I do flush chace storage. I never do that, because if I click that button, there is a warning "The cache storage may contain additional data. Are you sure that you want to flush it?" So, I never do that.

Thank you so much. Now, it on light capacity.

My suggest, how if the warning for the flush cache storage is

[2017-05-04 13:23] MidnightDesign commented on #7862
I'm not 100% sure if this is the same bug, but after debugging the static content deployment process for a couple of hours, I found out that that in [`Magento\Framework\Translate#setConfig()` on line 212](https://github.com/magento/magento2/blob/b67cf43fd4aa38eb328126071ad44b56d4180c9f/lib/internal/Magento/Framework/Translate.php#L212), `getId()` always returns `null`. This is because the loaded t

[2017-05-04 13:42] GianlucaBelardinelli opened #9508 "Unable to checkout"
### Preconditions

1.  PHP 7.0, Magento 2.1.2
2.

### Steps to reproduce

1.  There are 2 shipping methods. Free shipping if the subtotal is > 100€ and the weight is <= 10kg.
The second method is simply used using the flat rate weight based.
3.

### Expected result

1.  I should see the Free shipping only if the condition written in 1. is true, otherwise show only the flat rate with the price base

[2017-05-04 13:50] idlea commented on #6424
re Magento2 products not showing front end
Hi I had a similar problem. Using collar size as an attribute I used for example 16  16.5 17 and so on.
I recalled that when using 1.7 I could not use " for inches I used in instead.
Changing the collar size in simple products fixed it and the product then appeared on the front end.

[2017-05-04 13:58] jaykobi opened #9509 "Bookmarks fail positioning all columns if one column is disabled"
When I remove a colum from a grid by disbling it, the columns are not longer positioned according to my bookmark. I cannt save any postioning at all.

### Preconditions
1. Create a sales_order_grid.xml in any module

[code]

### Steps to reproduce

1.  Open the Sales Order Grid.
2. Move some columns around.
3. Save as bookmark.
4. Reload the page

### Expected result

1.  The column should be in t

[2017-05-04 14:02] heyqule commented on #9439
https://gist.github.com/heyqule/2e6f2ebfd1717031a3c30e1b156587c0

Here is the observer I use at the moment

[2017-05-04 14:04] fballiano opened #9510 "M2.1.6 EE, admin user permessions not checked correctly on catalog->product"
1. create a website/store/storeview
2. create a user role to just be able to work on this new website/store/storeview
3. create a user with this new role

You should now be able to create/edit products using the catalog/product backend mask but ONLY IN YOUR website/store/storeview.

Instead it seems the system doesn't check the permission and allows the new user to change product's attributes also

[2017-05-04 14:15] korostii commented on #9482
It's not a bug, such a behavior is to be expected.
If you look into the [documentation](http://docs.magento.com/m2/ce/user_guide/catalog/settings-advanced-advanced-inventory.html?Highlight=Global), products stocks are indeed global.
If you'd like to extend the functionality to accommodate multiple warehouses, feel free to either use a 3rd-party extension or customize it on your own.

[2017-05-04 14:27] korostii commented on #9226
Possible duplicate of #6360

[2017-05-04 14:56] keithbentrup commented on #9395
Here are the  [changes](https://github.com/PMET-public/magento2/commit/14b704e6e775c5340d84437318c7a7c68dfbfad3) that I made to resolve this issue on a 2.1.6 install with sample data.

1. Remove any previously generated images `rm -rf pub/media/catalog/product/cache/*`. I believe `catalog:images:resize` does not override old images automatically.
2. Flush any configuration cache `php bin/magento h

[2017-05-04 14:59] keithbentrup commented on #9385
I posted [this)(https://github.com/magento/magento2/issues/9395#issuecomment-299210346) on #9395, but it may help here, too.

[2017-05-04 15:04] jcolas15 opened #9512 "Using Cart Price Rule with Bundled Products which allow decimal quantities"
### Preconditions

1. Magento 2.1.4 or above

### Steps to reproduce

1. Create a simple product that can accept decimal quantities
2. Create a bundled product with a bundled option as a radio button that allows a 'user defined' quantity.  Use the simple product as an option created in Step 1.
3. On the frontend, attempt to add the bundled item to the cart with a decimal quanity.  For example choo

[2017-05-04 15:06] kikinbenshakib opened #9513 "Unable to change the Shipping Address Label and to add drop-down value under text box in checkout page Magento 2.x"
I was trying to change the Checkout page shipping address fields label but I can't find the files where I can change them.

I have checked all the files of shipping address files but I am unable to change the Label text.

Please Magento 2.x default checkout shipping address fields label and also check my desire text label for shipping address.
![shipping 2](https://cloud.githubusercontent.com/asse

[2017-05-04 15:08] korostii commented on #9491
Duplicate of #5803

[2017-05-04 15:33] korostii commented on #4068
Personally, I don't really see the point in **not** backporting something right away (unless it contains backward-incompatible changes), even if it just fixes the code style.
Why keep the older branch outdated if you can spare a couple minutes to improve it as well, for the greater good? That goes for all those numerous issues which are announced as "fixed in develop" and then instantly closed.

[2017-05-04 15:52] wigman opened #9515 "South Korea Zip Code Validation incorrect"
### Issue
Zip code validation fails on adresses from South Korea since it validates against deprecated format.
Current validation is 123-456. This *should be* 12345.

"Postal codes in South Korea are 5-digit numeric, whose system newly introduced in August 1, 2015." (https://en.wikipedia.org/wiki/List_of_postal_codes_in_South_Korea)

### Preconditions
On all 2.* versions including development bran

[2017-05-04 16:12] redelschaap commented on #9389
I'm not talking about editing/saving a product using the backend, but programmatically, so using code only.

[2017-05-04 16:13] korostii commented on #9465
Hi, @JacobDrummond.
I am very sorry if my comment seems rude to you, no offense was intended.
I do know that if you read something obvious(obvious for you, that is) in your head, using Hugh Laurie's voice, it might of course sound a bit sarcastic. Such an obvious advice shouldn't be taken as an offense: pointing out the obvious solution first rather then going into the rare and complex ones is the

[2017-05-04 16:21] korostii commented on #9447
Just a heads up: there is no guarantee it will appear in the next 2.1.x release (or any of the 2.1.x releases at all, for that matter), and timelines for the future releases aren't provided by Magento, Inc.
So, potentially, you might need to wait for months until it gets released in 2.2.
Also, making an extra pull request targeting 2.1-develop should somewhat speed up that process (as explained [h

[2017-05-04 16:56] korostii commented on #9167
Hi @alena-marchenko,

Could you please provide an answer to the following questions:
1. Is there any official timeline for the 2.2 release which you could announce publicly?
2. Could you please briefly explain, what's the recommended way of using the fixes provided for the develop branch if you're a merchant or an integrator currently running 2.1.x CE in production? A link to documentation would b

[2017-05-04 16:57] korostii commented on #7159
Hi @alena-marchenko,

Could you please provide an answer to the following questions:
1. Is there any official timeline for the 2.2 release which you could announce publicly?
2. Could you please briefly explain, what's the recommended way of using the fixes provided for the develop branch if you're a merchant or an integrator currently running 2.1.x CE in production? A link to documentation would b

[2017-05-04 16:57] korostii commented on #6583
Hi @alena-marchenko,

Could you please provide an answer to the following questions:
1. Is there any official timeline for the 2.2 release which you could announce publicly?
2. Could you please briefly explain, what's the recommended way of using the fixes provided for the develop branch if you're a merchant or an integrator currently running 2.1.x CE in production? A link to documentation would b

[2017-05-04 17:01] korostii commented on #9296
Hi @snoroozi, typically that internal ticket ID is included into the commit messages, so the best guess would be to look it up like the following:
https://github.com/magento/magento2/search?q=MAGETWO-60589&type=Commits

[2017-05-04 17:01] korostii commented on #9296
Hi @alena-marchenko,

Could you please provide an answer to the following questions:
1. Is there any official timeline for the 2.2 release which you could announce publicly?
2. Could you please briefly explain, what's the recommended way of using the fixes provided for the develop branch if you're a merchant or an integrator currently running 2.1.x CE in production? A link to documentation would b

[2017-05-04 17:26] tmvnk commented on #6494
Hi, have you found an solution maybe for this issue?

[2017-05-04 17:39] aisaac-capillus commented on #2939
We're having the same problem. Magent 2.1.6 Enterprise Cloud Edition.

[2017-05-04 17:40] astorm opened #9516 "The bin/magento setup:upgrade Command will Enable Non-Enabled modules"
### Preconditions

1. Magento installed via composer --create-project method, confirmed 2.1.3, 2.1.5, 2.1.6

### Steps to reproduce

1. Create a new module in `app/code` (`$ pestle.phar magento2:generate:module AbcCorp Testbed 0.0.1`
2. Run `php bin/magento setup:upgrade`
3. Examine `app/etc/config.php`

### Expected result

1. `AbcCorp_Testbed` should **not** appear in `app/etc/config.php`

### A

[2017-05-04 17:41] Joker2099 commented on #9439
Works. Tested it on 2.1.4.

[2017-05-04 17:44] korostii commented on #9389
To be honest, I'm not sure if there's a safe workaround, you might need to do some digging on your own here. I'd advise to start by checking whether issue #9434 explains what you're experiencing.
Good luck & sorry for not being able to help any further.

[2017-05-04 17:45] prdptom opened #9517 "Magento 2.1.5 Category Save error"
### Preconditions

1. Migrated DB from 1.9.1.0 to Magento 2.1.5

### Steps to reproduce

1.  Saving changes in already present category

### Expected result

1.  Category has been saved

### Actual result

1. [Screenshot, logs]

Next exception 'Zend_Db_Statement_Exception' with message 'SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint

[2017-05-04 17:53] troublediehard commented on #8731
@gx2g how did you fix it?

[2017-05-04 19:20] hostep opened #9518 "Chrome version 58 causes problems with selections in the tinymce editor"
### Preconditions
1. Magento CE 2.1.6 or develop branch, doesn't matter
2. Google Chrome browser, version 58.0.3029.81 or 58.0.3029.96 or 58.0.3029.110

### Steps to reproduce
1. Start editing a CMS page in the backend of Magento
2. Make sure you have a CMS page which contains an image and/or a widget
3. Try to select the image or the widget, by clicking it.

### Expected result
1. Image or widget

[2017-05-04 19:31] redelschaap commented on #9389
Unfortunately not; it's not the flat table. But thanks for your time and effort!

[2017-05-04 19:55] redelschaap commented on #9389
Actually this is a bug, just found these two issues: #8897 and #7879.

[2017-05-04 19:56] diNard commented on #9516
I had similiar problem. But if newly installed modules will be disabled by default then it may break the usual procedure of a module installation. There no difference between autogenerated modules and installed from third source. Developers will be forced to enable modules manually.

How you think?

[2017-05-04 21:04] alankent commented on #9516
The reason for the current behavior is:

- If you install Magento for the first time, you expect all the modules to be turned on by default.
- If you purchase and install a new extension, you expect it to be installed and turned on by default.
- If you upgrade from say 2.1 to 2.2 and there are new modules important to CE, you expect them turned on by default.

Bottom line is I think there are more

[2017-05-04 21:08] korostii commented on #9513
The GitHub issue tracker is intended for tracking technical issues (read: "bugs") only.

If you are looking for some help or an advice regarding setup or development please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magento.stackexchange.com/).

[2017-05-04 21:17] korostii commented on #9517
There's a [separate repository](https://github.com/magento/data-migration-tool) for the data migration tool. You might get a meaningful answer on this topic in there faster than here.

[2017-05-04 21:27] korostii commented on #9518
Related: #8874, #7149 and #700

[2017-05-04 21:31] alankent commented on #9516
To be more precise, do you think the problem is modules are being picked up and turned on by default, or is the problem that the module is being recognized as module before it is ready for use?

It would be great to get a bit better insight into the original root cause of the problem. I can see that using 'Composer require' and then having upgrade not turn on a module (you have to do extra steps)

[2017-05-04 21:38] lfolco commented on #9516
I think that it's just not clear that running `setup:upgrade` will enable any module that happens to live in app/code that had not been explicitly enabled/disabled. I discovered this when I downloaded a module to take a look at it, put it in app/code (I had an IDE project open), and then ran setup:upgrade for a different module,  and all of a sudden the downloaded module was enabled and the databa

[2017-05-04 21:46] korostii commented on #9516
It would be nice to see the following:

- just the composer modules (placed under `vendor`) enabled by default (since you must've explicitly installed those via composer already, and something published through composer is more likely to be ready to use)
- and have the local ones under `app` disabled until an explicit `bin/magento module:enable` command is executed (since these are the user's own

[2017-05-04 22:09] astorm commented on #9516
@alankent

1. A user adds a module to their app/code folder but does not enable it (because they don't want it enabled)

2. Developer does something unrelated to enabling modules.

3. Yet, somehow, a module is enabled

That's just wrong behavior. Your system fails to honor the implicit contract of the `module:enable` and `module:disable` commands.   Your system fails to honor the intentions of its

[2017-05-04 22:45] duffner commented on #7510
@magento-admin @olysenko Can someone please help get this into the right hands to be looked at.

[2017-05-05 02:38] gvigner commented on #4265
@adragus-inviqa You can do it this way...

[code]

[2017-05-05 02:47] vecanc commented on #7623
I am using 2.1.4, still encountered same issue (with HTTP ERROR 500).  But if I install and run it from windows pc, I can access the setup wizard page.

[2017-05-05 03:12] tomnyson commented on #9483
I completed it.

[2017-05-05 04:01] yosefkurniawan commented on #2519
Anyone have workaround for this issue? I'm facing the issue on 2.1.3.

[2017-05-05 04:34] ishakhsuvarov commented on #9252
@Igloczek Thanks for letting us know. We are looking into this issue.

[2017-05-05 04:49] rais24 commented on #9491
Thank You!

[2017-05-05 04:49] #9491 closed, assigned to nobody

[2017-05-05 04:51] kamalakannanR1 opened #9519 "Magento2 import csv file get error interity constraint"
Magento2 import csv file get error interity constraint:

Im upload bulk products afterthat im delete all products use this command in my catlog

`DELETE FROM catalog_product_entity;`

afterthat im try to re upload products im getting an error like this

![error](https://cloud.githubusercontent.com/assets/20338569/25734016/852d9346-317c-11e7-873f-e0ddaad72e69.PNG)

Need Help...

[2017-05-05 05:29] ashvinimarwal commented on #5953
Getting mail from paypal for success payment but order is not created in magento.After success payment customer is not redirecting back to success page.
anyone can suggest any solution ?

[2017-05-05 05:34] #9519 closed, assigned to nobody

[2017-05-05 05:35] kamalakannanR1 commented on #9519
TRUNCATE TABLE `catalog_url_rewrite_product_category`;
TRUNCATE TABLE `url_rewrite`;

[2017-05-05 05:38] lavanyadckap commented on #9139
I'm going to start this issue

[2017-05-05 05:40] sadeeshmca commented on #9139
We are working on this issue

[2017-05-05 05:49] vpiyappan commented on #9421
I am going to start this issue.

[2017-05-05 05:54] sathishrajr commented on #7121
I am working on this issue.

[2017-05-05 05:57] lavanyadckap commented on #8674
I'm going to start this issue

[2017-05-05 06:09] balaganeshg commented on #1146
I am going to work in group

[2017-05-05 06:30] feelinc opened #9520 "Product attribute property "is_visible" does not having a correct value in REST API"
### Preconditions
1. Magento 2.1.6
2. PHP 7.0.x

### Steps to reproduce
1. Try GET "/rest/V1/products/attributes/:attributeCode" using Postman; or ---.
2. Try GET "/rest/V1/products/products/attributes?searchCriteria[filterGroups][0][filters][0][field]=is_visible&searchCriteria[filterGroups][0][filters][0][value]=1&searchCriteria[filterGroups][0][filters][0][conditionType]=eq" using Postman.

###

[2017-05-05 06:59] maghamed commented on #7659
closing this issue as PR #8955 which addresses this problem merged into mainline

[2017-05-05 06:59] maghamed commented on #7659
****

[2017-05-05 06:59] #7659 closed, assigned to maghamed

[2017-05-05 07:53] gewaechshaus commented on #8452
Same here...

[2017-05-05 08:03] kikinbenshakib commented on #9513
Hello,
I am looking for some help about checkout page.

Could you please help me out.

[2017-05-05 08:06] sadeeshmca commented on #9139
We are unable to reproduce the issue in Magento 2.2. It seems to be fixed. However we are able to reproduce the issue in 2.1.5 and 2.1.6

[2017-05-05 08:12] okorshenko commented on #9139
Please, look at these commits:
https://github.com/magento/magento2ce/commit/c5013675717a4c1d9b2773e1334a62e7a5f094f5
https://github.com/magento/magento2ce/commit/d56f71e5cb73e49db44104b28508ed64df16011d

[2017-05-05 08:21] redelschaap commented on #9139
@sadeeshmca Will there be a version 2.1.7 that fixes some issues present in 2.1.6 or is 2.1.6 te latest version in the 2.1 mainline?

[2017-05-05 08:22] vasilii-b commented on #5288
The workaround works.

[2017-05-05 08:23] jimul commented on #3171
I have compare this template file, but bug still exist in moving category venrstion EE 2.1.5

[2017-05-05 08:27] jimul commented on #5792
Facing same issue in EE 2.1.5

[2017-05-05 08:45] andersro93 commented on #9275
Hi,
I can confirm that this is an issue that is commented, I don't know if it is connected to the original reported issue, but I happens for all of our staging/development/production sites we have. It dosen't seem to only be product images, but also images that are comming from third-party modules to in the pub/media folder

[2017-05-05 08:55] DigiWorksNL commented on #9139
I applied the commits to the files locally on my shop. These commits fixed the issue!

[2017-05-05 09:34] kozhemyakin opened #9521 "Validation for "Schedule Update From" fields is absent"
Steps:
1. Log in to Admin
2. Go to Products -> Categories
3. Input any text in "Category Name" field
4. Click "Schedule Design Update" -> Input any numbers in " Schedule Update From/To" fields
5. Click "Save"

Actual result: blank page, error in log

Expected resullt: "Invalid input date format" message appears

Best wishes.

[2017-05-05 09:45] kozhemyakin opened #9522 "Cart Price Rule can be saved with invalid date"
Magento 2.1.6 CE

Steps:
1. Log in to Admin
2. Go to Marketing -> Cart Price Rules -> Click "Add new" button
3. Fill in all required fields
4. Input "111" or "123" numbers in "From"/"To" fields
5. Click "Save" button

Actual result: the rule is successfully saved
Expected result: "Please enter a valid date." message appears below the From/To fields

Best wishes.

[2017-05-05 09:48] kozhemyakin opened #9523 ""From","To" fields are absent on "Cart Price Rule" page on Magento 2.1.6 EE"
Magento 2.1.6 EE

Steps:
1. Log in to Admin
2. Go to Marketing -> Cart Price Rules -> Click "Add new" button
3. Check "From", "To" fields on the page

Actual result: "From","To" fields are absent
Expected result: "From","To" fields are on it

Best wishes.

[2017-05-05 09:48] kozhemyakin commented on #1040
@kokoc @magento-team
The bug is reproduced on Magento 2.1.6.

[2017-05-05 10:03] joni-jones commented on #6106
The fix merged into develop branch.

[2017-05-05 10:03] #6106 closed, assigned to epson121

[2017-05-05 10:11] craigcarnell commented on #6106
@joni-jones any chance 7.1 support will be backported to 2.1?

[2017-05-05 10:14] YPyltiai commented on #9497
Hello @bbtimx,

Thank you for posting it. I've created an internal ticket to check the issue: MAGETWO-68948

[2017-05-05 10:16] smagic39 commented on #6126
vendor/magento/framework/Data/Collection.php

line : 406

[code]
become => below, wait for M2 fix
 public function addItem(\Magento\Framework\DataObject $item)
    {
        $itemId = $this->_getItemId($item);

        if ($itemId !== null) {
            if (isset($this->_items[$itemId])) {
            return $this;
            }
            $this->_items[$itemId] = $item;
        } else {

[2017-05-05 10:32] YPyltiai commented on #9455
Hello @The-Krang,

Thank you for posting this. I've created an internal ticket to investigate the issue: MAGETWO-68949

[2017-05-05 12:03] TommyKolkman commented on #9518
I can second this bug, Chrome 58. Confirmed that it didn't happen on 57 (colleague hadn't updated yet).

[2017-05-05 12:03] TommyKolkman commented on #9518
Also: a client of mine reports this is coming up on Microsoft Edge.

[2017-05-05 12:05] joni-jones commented on #6106
Hi, @craigcarnell, unfortunately, I can't provide any information about backporting this functionality to 2.1.x version. At this moment this functionality will be only in 2.2.

[2017-05-05 12:16] flipflap commented on #9377
I have the same issue...

[2017-05-05 12:22] hostep commented on #9518
If some Magento dev, or maybe even @spocke can confirm that my suggested fix above is correct, then I'll create a PR against both the `develop` and `2.1-develop` branch so we can try to include this fix in one of the next Magento versions.

[2017-05-05 12:29] wintermute-84 opened #9526 "2.1.6 Config Cache Error when switching to production mode/ generating static content"
Using php 7.0.18/ centos/nginx/redis/varnish and magento 2.1.6

When running
setup:static-content:deploy

receiving an error:

[code]

is it a bug in readFromCache()? Or am I doing something wrong?

All possible caches cleaned, folders under var/ removed, etc with the same result.

[2017-05-05 12:49] qmigroup opened #9527 "The value of attribute "second_image" must be set - Error when creating a category or sub category"
I had upgraded my Magento 2.1.3 to 2.1.5 and everything worked fine except that I am not able to create any category or subcategory. I get this error:
The value of attribute "second_image" must be set

I have reindexed, cleared cache, deployed static content etc, but the error still persists.

Any idea what might be causing this?
Thank You

### Preconditions

1. Apache 2.1.4
2. PHP 7.0

1. [Screen

[2017-05-05 12:52] nsid32 opened #9528 "Block not shown inside a page"
### Preconditions
1. Magento 2.1.6

### Steps to reproduce
1. Create a block through Admin UI in magento
2. Reference this block inside a Page through "Layout update XML" using the following:
[code]

### Expected result
1. The block should appear when navigating to this page

### Actual result
1. The page appears without the block

If I use a pre-existing block from the template bought, the block

[2017-05-05 13:01] flipflap commented on #6310
I used this SQL statement in phpMyadmin and that changed all virtual products to simple products:

`update mg_catalog_product_entity set type_id = ‚simple' where type_id = 'virtual'; `

[2017-05-05 13:36] wibbel opened #9529 "Minicart and Currency dropdown format incorrectly on a tablet"
### Preconditions
1.  Magento 2.16
2.  Tablet ie iPad Air2 or Mobile
3.  luma or blank theme

### Steps to reproduce
1.  from a tablet, click the minicart icon in the header
2. Same problem on an iphone

### Expected result
1.  Minicart dropdown displays with "No Items message"
2.  Minicart icon and quantity counter (if visible) should remain in the same position

### Actual result
1. Minicart ico

[2017-05-05 14:08] idlea commented on #5711
Has this been fixed I have the same problem using Magento ver. 2.1.6
I am in single store mode which if I change to single store-no should fix the problem, however the whole store has been created in single store mode, will change to not single store create any problems.

[2017-05-05 14:17] idlea commented on #5711
okay works now without change store mode, reindexed and flushed and works okay.

[2017-05-05 14:17] steros opened #9531 "attribute.phtml does not respect translations"
### Preconditions
1. Magento 2.1.5
2. Have some language pack
3. Have some language other than english set for frontend

### Steps to reproduce
1. Enter a product description
2. Call your product detail page

### Expected result
1. Above the product description should be no text

### Actual result
1. A label element with the translation of "none" is placed above the product description

I have mad

[2017-05-05 14:21] behnamshayani commented on #4945
@elenleonova this is still not fixed in 2.1.6 EE

[2017-05-05 15:30] flipflap opened #9532 "Cart icon still show amount of products after order"
### Preconditions

1. After upgrade from Magento 2.1.2 to 2.1.6

### Steps to reproduce

1. Take an order in the frontend
2. Pay and finish order
3. The cart Icon still shows the amount of products. But the cart is empty.

### Expected result

1. The cart Icon shouldn't show a number

### Actual result

1. [Screenshot, logs]

[2017-05-05 16:04] codekipple commented on #5475
**Magneto version: community edition 2.1.6**
I came across this error message but it was because I was trying to use the the 'Magento\Catalog\Block\Product\ListProduct' block on the product page, by default this block is only used on the category page. The block's code read like it was able to be used on the product page so I tracked it down to being a bug.

Having a look at the current developmen

[2017-05-05 16:48] korostii commented on #9527
Catalog categories in Magento 2.1.5 out of the box only provide a single image attribute called "image" and upload for any additional image attributes with different attribute codes is not implemented. That's gonna change in future versions (see #5978 for details), but not just yet.

You seem to have some 3rd-party or custom code which attempts to provide a second image attribute for the category

[2017-05-05 16:52] qmigroup commented on #9527
Yes you seems to be correct. I have added some custom modules which might be creating this problem.

Thank You for your suggestions.

[2017-05-05 16:52] #9527 closed, assigned to nobody

[2017-05-05 17:08] korostii commented on #9528
There is a number of things that might've go wrong, for example your theme (template) just might not have a container called "page.top" in its layout.
I'd recommend that you check your Magento's logs for errors first. (Read [here](https://mage2.pro/t/topic/307) on how to find those)

On a side note, if you are looking for some help or an advice regarding setup or development I would advise you to

[2017-05-05 17:12] korostii commented on #9531
Duplicate of #9161 and #9295

[2017-05-05 17:26] nsid32 commented on #9528
Thanks for your reply @korostii
What is weird to me is that if I have a page and I reference an existing block there it works but if I reference a newly created block, it doesn't.
So we are actually talking about the same code on the same page but different block_id

Works
[code]

Doesn't work
[code]
Also the two blocks are exactly the same in content, they just have different id.
For some reason

[2017-05-05 18:33] twistedatrocity commented on #9276
@victorgugo

The problem is point 1. does not work. When creating a new product or editing an existing product in admin panel, when product is saved Magento is not generating the category view image. Has to be done via CLI every time.

[2017-05-05 19:43] misha-kotov commented on #5083
Update: we've decided to close the open bugs on this issue since the `_isScopePrivate` property was deprecated in 2.0 and 2.1. Our devdocs describe how to achieve this goal using a newer mechanism (link is above).

[2017-05-05 19:48] brenjt opened #9533 "Grammar error on authentication popup"
### Expected result

1. The text in the authentication popup should say ```Checkout as a new customer```

### Actual result

1. Text current says: ```Checkout out as a new customer```

![image](https://cloud.githubusercontent.com/assets/1713885/25761858/8624d36e-3199-11e7-983b-bc270128f25a.png)

[2017-05-05 19:53] devamitbera commented on #9528
**Have sure that you have flush cache properly?**

[2017-05-05 19:56] nsid32 commented on #9528
@devamitbera through the admin panel -> Cache Management I have clicked all the options.
I don't know if there is any other way to flush.
Thanks

[2017-05-05 20:00] devamitbera commented on #9528
http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cache.html follow the blog

Or  please post at the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange.](https://magento.stackexchange.com)

[2017-05-05 20:02] nsid32 commented on #9528
@devamitbera i did that also but still not showing

[2017-05-05 20:06] misha-kotov commented on #6120
Part of this fix is in progress and will be delivered to mainline soon. Namely, you'll be able to PUT the same payload that you received by doing a GET (ie, PUT will support string input). Since simply replacing string data type with arrays is a backwards incompatible change, we've decided to break it into a separate task for later and will combine with other backwards-incompatible changes in a la

[2017-05-05 21:36] steros commented on #9531
Thanks for linking!

[2017-05-05 22:11] TenzinNKhando opened #9534 "Fedex Freight Not Showing Rate"
Currently on our site, we have products that are over weight. For those products we want to use Fedex Freight quotes but the quote for Fedex Ground is showing up. I've contacted Fedex and they are instructing that we need to send company account # and freight account #. However, Fedex configuration in the admin panel only has one field for account number.

### Preconditions

1.  Magento 2.1.5
2. P

[2017-05-05 22:23] gx2g commented on #8731
I did a clean install and followed the steps I found in google search to resolve the issue.

[2017-05-06 02:12] bvboas commented on #9516
I think @alankent is right here.

How many times did we tell Windows to index the file we just copied from an external drive?

 How many times did we install an app on a MAC by drag-n-drop and didn't expect macOS to associate an file extension?

How many times did we created an email account and went to the options to enabled it?

I don't think is reasonable to expect that when you place code insi

[2017-05-06 07:22] Rockfordgun opened #9535 "Segmentation fault"
I am having a issue when i run the compiler i get a error on 14%

PHP 7.0.18 (cli) (built: Apr 13 2017 09:49:32) ( NTS )

`Compilation was started.
Proxies code generation... 0/7 [>---------------------------]   0% 1 sec 46.0 MiProxies code generation... 1/7 [====>-----------------------]  14% 1 sec 52.0 MiRepositories code generation... 1/7 [====>-----------------------]  14% 1 sec 52.0 MiBSegmen

[2017-05-06 07:25] synpatic opened #9536 "Old product content in front-end"
I have faced the problem where the modified product data is not showed in front end.  I have multi store environment.

The  admin is showing the modified product data but the front-end is still showing the old data. All caches have been cleared, static content rerun and  databases reindexed without success.  This symptom doesn't apply to all products. Currently there are few products which have di

[2017-05-06 09:35] ngz82 commented on #9187
I have the same question @thdoan , did you find any further info about this?
Did you change this?  Looks pretty straight forward but were there any issues pop up?

[2017-05-06 09:59] rixitpatel13 commented on #1436
Hi, I got the things but what I am not getting is that How can I apply any custom onchange function for the zip code field on onepage checkout !

because what HTML is displaying, its generating by Knockout JS !

so, please tell me how can I do that !

Thanks in advance !

[2017-05-06 10:00] rixitpatel13 commented on #1970
Hi, I got the things but what I am not getting is that How can I apply any custom onchange function for the zip code field on onepage checkout !

because what HTML is displaying, its generating by Knockout JS !

so, please tell me how can I do that !

Thanks in advance !

[2017-05-06 10:01] rixitpatel13 commented on #2968
Hi, I got the things but what I am not getting is that How can I apply any custom onchange function for the zip code field on onepage checkout !

because what HTML is displaying, its generating by Knockout JS !

so, please tell me how can I do that !

Thanks in advance !

[2017-05-06 14:32] annejan89 commented on #9187
Quick workaround to add this code at line 51 (before `<?php else: ?>`) in final_price.phtml:

[code]

[2017-05-06 16:21] franciskim commented on #8018
Issue exists on 2.1.6 and the documented workarounds for previous versions do not seem to work for 2.1.6

[2017-05-06 17:21] sopedro commented on #4321
I think this issue just happen in developer mode... Have to test it

[2017-05-07 00:28] GuidoHub commented on #7366
Still not solved in version 2.1.6, would be nice if it would be investigated or could some one tell me in which tables I need to delete records manually?

[2017-05-07 00:31] franciskim commented on #8018
For now, @bangerkuwranger's module seems to be working a treat 👍

[2017-05-07 03:23] gizmocn opened #9537 "Can not add widget to specific Page Layouts"
Try to add widget to specific page layouts, but in admin panel no page layouts list is empty

### Preconditions
1. Magento 2.1.6
2. PHP 7.0.15

### Steps to reproduce
1.  Magento Admin panel -> Content -> Widgets
2.  Click "Add Widget" button, then select any widget and theme.
3. Click Add Layout Update button and then select  Display on to Page Layouts

### Expected result
1.  In Page dropdown, A

[2017-05-07 09:20] MohamedQabbani commented on #5247
bad bug

[2017-05-07 10:40] Radishok commented on #6671
It seems related to deep category tree + long request_url field(it is limited by 255chars)

[2017-05-07 12:24] phoenix-bjoern commented on #9526
Getting the same error. I can successfully one language (bin/magento setup:static-content:deploy en_US) but when I deploy the second (bin/magento setup:static-content:deploy de_DE) I'm getting an exception:
`
[CredisException]
  read error on connection
`

After that I see the `Notice: unserialize()` errors and the static content is not deployed correctly.

[2017-05-07 12:27] phoenix-bjoern commented on #9526
Guess this is issue can be closed as it is a duplicate of https://github.com/magento/magento2/issues/9287.

[2017-05-07 12:28] Dukeofvampires commented on #9526
Thank you for pointing out original thread.

[2017-05-07 12:28] #9526 closed, assigned to nobody

[2017-05-07 12:33] Dukeofvampires commented on #9287
Exactly the same problem.
Getting
[code]

and sometimes `[CredisException] read error on connection` before that.

Unable to switch to production mode.
Tried to clean all possible caches, rarely it works, but most of the time it messes up with our deployment process.

[2017-05-07 15:43] jbhamilton commented on #6803
Any update on this?

[2017-05-07 16:34] Ctucker9233 commented on #9426
@joni-jones I thought this issue had to do with the time stamp not displaying correctly. I have noticed the same behavior in the newsletter module. If you do not think that they are related, then feel free to ignore.

[2017-05-07 18:49] degaray commented on #4053
@samtay I upgraded to 2.1.* and it is now not working. Do you know what do I need to change to make it work in 2.1?

[2017-05-07 19:26] lfolco commented on #9516
Currently, the only way to make sure that non-enabled (but not disabled) modules do not run their setup scripts is to enable the module, then disable it. At the very least, it would be nice to have the option to immediately disable a module without having to enable it first (currently you get a "No modules were changed." message).

[2017-05-07 20:08] samtay commented on #4053
Sorry, I don't develop on Magento anymore. I don't even think my team made it to 2.1 before I left. If you check the code I posted above and the link to the core code, compare it with 2.1, you might get somewhere.

[2017-05-07 22:06] grobx opened #9541 "Developer mode slow"
### Preconditions

1. Magento 2.1.6 installed on macOS 10.12.4
2. PHP 7.0.11

### Steps to reproduce

1. Open/Refresh page (in developer mode)
2. Wait (???)
3. Explore code, make change, invalidate cache, go to 1

### Expected result

1. Processing should be faster than thoughts, otherwise, how can a developer do his work?

### Actual result

[2017-05-07 23:02] pravalitera commented on #8018
It will be fixed in Magento 3.

2017-05-07 2:32 GMT+02:00 Francis Kim <notifications@github.com>:

[2017-05-08 00:03] alloylab opened #9542 "Generate CSS/JS on all servers in a multi-server environment?"
### Preconditions
We have multiple servers running Magento 2.1.6, PHP 7.0.18 w/Varnish & Hitch SSL Termination... in front of the web servers we have a two HA-Proxy Load Balancers

For Static files we use AWS CloudFront, with the origin being the server
For Media files we use AWS CloudFront, with the origin being an S3 Bucket

Currently we deploy updates to the webservers using Docker, however one

[2017-05-08 00:16] JDavidVR commented on #9541
on terminal run this command bin/magento setup:static-content:deploy -f it will generate al static files and your site will run faster.

[2017-05-08 00:51] alloylab commented on #9535
What distribution of linux are you running? Also, what is your php memory limit?

[2017-05-08 04:09] advcha commented on #9356
Okay. This is my mistake. I put the email address input in the shipping address form (because the mockup from my client want me to do so) and add an attribute data-role="email-with-possible-login" in the form. I also moved 'Already registered? Click here to login' text. That's way it broke the checkout process and always got a complain "Please check the shipping address information". When I fixed

[2017-05-08 04:09] #9356 closed, assigned to nobody

[2017-05-08 04:49] tigerx7 commented on #4622
@stianmartinsen I may have found the reason why... by correcting the boolean value for keepFrame, it exposed a bug in https://github.com/magento/magento2/blob/2.1/app/code/Magento/Catalog/Model/Product/Image/ParamsBuilder.php in which build() checks the frame parameter with the empty function `$frame = !empty($imageArguments['frame'])` which will evaluate that if statement as false since empty wil

[2017-05-08 05:12] Rockfordgun commented on #9535
Running Red Hat through A2 Hosting

Linux version 2.6.32-673.26.1.lve1.4.20.el6.x86_64 (mockbuild@build.cloudlinux.com) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-17) (GCC) ) #1 SMP Tue Dec 27 17:42:53 EST 2016

These are the settins on the cpanel for the php

`allow_url_fopen	On
allow_url_include	Off
date.timezone	America/New_York
disable_functions	no value
display_errors	Off
error_log	/home/****

[2017-05-08 05:39] nafisakanwal commented on #7869
I am using Fedora 25 , having
Apache/2.4.25 (Fedora)
PHP Version 7.0.18
MySql 5.7.18

I have just installed magneto 2.1.6 , after successfull setup run, its getting css and js files not found issue and they are loading from pub/static//version1494143163/frontend/Magento/luma/en_US/css/styles-m.css
version1494143163 is not even existed.
Beside this the admin url is also not accessible .

Can anyone

[2017-05-08 06:33] nafisakanwal commented on #6688
I am using Fedora 25 , having
Apache/2.4.25 (Fedora)
PHP Version 7.0.18
MySql 5.7.18

I have just installed magneto 2.1.6 , after successfull setup run, its getting css and js files not found issue and they are loading from pub/static//version1494143163/frontend/Magento/luma/en_US/css/styles-m.css
version1494143163 is not even existed.
Beside this the admin url is also not accessible .

Can anyone

[2017-05-08 06:36] nafisakanwal commented on #7310
what is the solution to resolve this error ? I am getting the same error while executing the composer run command in magneto 2.1.6

Can anyone help
Thanks in Advance

[2017-05-08 06:40] kientran175 commented on #6688
Hi @nafisakanwal !
You can follow these instructions:
  Stores>Configuration>Advanced>Developer>Sign Static Files(Yes->No)
Or Access the database and execute the command:
  insert core_config_data (config_id, scope, scope_id, path, value) values (null, 'default', 0, 'dev/static/sign', 0);
Then remove the cache and reload the page.

[2017-05-08 06:43] nafisakanwal commented on #6688
Hi @kientran175
Thankyou so much for replying . i already executed this sql command but no success .
Is there have any other solution to resolve this ?

[2017-05-08 06:59] kientran175 commented on #6688
Hi @nafisakanwal !
Error in running sql command? Or sql command is executed but version1494143163 still exists?
You can add me on Skype, let me support you!
Skype: trantrungkien175
Regards,
Kiên Trần.

[2017-05-08 07:01] ihor-sviziev commented on #6688
Please flush cache after disabling version

On Mon, May 8, 2017 at 9:59 AM, Kiên Trần <notifications@github.com> wrote:

[2017-05-08 07:03] alyhugo commented on #6146
So I upgraded from 2.0.3 to magento 2.1.6, it seems that the customer is no longer receiving email. Like New Order or Registration Email.

[2017-05-08 07:06] nafisakanwal commented on #6688
Oh thankyou guyz @ihor-sviziev @kientran175
css and js files not loading issue just resolved , but still i am unable to access admin
it says 404 Not found page

[2017-05-08 07:10] mironsoft75 commented on #5836
I think that works with all cronjob and all have correctly corrected. How to determine what we've all changed last time that leads to the error.

If I change everything to 'invalid' in the data index table indexer_state, the cronjob will reindex all. That is, when a new product is created or old is changed, the indexer_state table is to be changed to invalid and this does not happen. Why?
When wil

[2017-05-08 07:13] piribes commented on #9541
Thank you @JDavidVR, I ran that command without the -f modifier (The "-f" option does not exist.) and it helps.

[2017-05-08 07:13] #9541 closed, assigned to nobody

[2017-05-08 07:14] kientran175 commented on #6688
Hi @nafisakanwal !
Check the access path to admin, to make sure the path is correct: 'frontName' in \app\etc\env.php

[2017-05-08 07:29] justanewbie00 opened #9543 "Not receiving Email in Magento 2.1.6"
It was working fine before in Magento 2.0.3 then when I upgraded to 2.1.6, the customer is no longer receiving emails.

### Preconditions
1.Upgraded to Magento 2.1.6

### Steps to reproduce
1. Order product in site
2. Sign in as guest
3. Check Email

### Expected result
1. Customer will receive new order email or other emails.

### Actual result
1. Customer didn't receive new order email or other

[2017-05-08 07:39] flipflap commented on #9187
The workaround doesn't work for me. I use Magento 2.1.6. My special price conf products are not flagged and without old price in the catalog list view. It is not a css display-no thing. It is not there in the source.

[2017-05-08 07:40] korostii commented on #9528
Since this is clearly not a bug, but probably a misconfiguration, I would yet again refer you to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magento.stackexchange.com/) where your question will have more people, eager to help. Please provide as much info as you can while doing so: screenshots are very useful in this purpose and are worth a thousand

[2017-05-08 07:43] nafisakanwal commented on #6688
@kientran175
i verified i am accessing the correct admin path, but it is saying 404 page Not found

[2017-05-08 08:15] andersro93 commented on #9287
I can confirm that I get this issue to, and for our shop the best solution is to run the cache:flush command in prior to the setup:static-content:deploy command. Like this:
`bin/magento cache:flush && bin/magento setup:static-content:deploy`

[2017-05-08 08:25] boscowitch commented on #8627
I see you have opcache installed.
Do you have it activated, i found that opcache even with save_comments enables breaks the shopping cart you can't put anything in it as  logn as it is enabled...

[2017-05-08 08:59] korostii commented on #9536
The behavior you describe is to be expected. The "store_id 0" value is the "default" one, used as a fallback if your store has no value for this attribute (i.e. checkbox "Use Default Value" is checked).

In order to view and edit the "store_id 4" value you should use the Store Switcher seen in the top left corner of the Product page in admin: http://take.ms/TTQ8b

[2017-05-08 09:07] korostii commented on #2968
@rixitpatel13, please stop flooding random closed issues. Since you're experiencing a similar yet different issue, please create a new issue. If you expect meaningful answers, please also provide the details including, but not limited to: your environment, steps to reproduce, expected and actual results.
In your specific case, providing the custom code you're using is also a good idea.

Please als

[2017-05-08 09:20] TommyKolkman commented on #9518
I've implemented and tested @hostep's fix - all works well.

[2017-05-08 09:59] nafisakanwal commented on #6688
@kientran175
any other solution to resolve this ?

[2017-05-08 10:07] kientran175 commented on #6688
Hi @nafisakanwal !
Please try Below solutions:
1) Delete var/cache folder
2) Go to database SELECT * FROM core_config_data WHERE path = 'web/seo/use_rewrites' and make it 0
3) Then enter url in your browser magento_base_url/index.php/your_admin_url
Try and let me know if you face any issue.

[2017-05-08 10:22] nafisakanwal commented on #6688
@kientran175
tried all of above three steps, but no success

[2017-05-08 10:35] kientran175 commented on #6688
Hi @nafisakanwal !
Try this tutorial to see if it fixes the problem?
https://magento.stackexchange.com/questions/123915/404-error-magento2-admin-page-not-working

[2017-05-08 10:35] DaniloEmpire commented on #4153
Hi all, I created a module:

https://github.com/magespecialist/m2-MSP_UseLowestPriceForTier

Bye

[2017-05-08 10:56] gerryka opened #9544 "IE11 in compatibility mode shows exception in backend list views"
### Preconditions

1. A fresh Magento 2.1.6 CE without sample data is installed
2. Set Magento to developer mode via "magento deploy:mode:set developer" to enable error output
3. Make sure mod_headers Apache module is enabled so IE11 will receive X-UA-Compatible IE=edge header via default .htaccess provided with Magento 2.1.6 CE
4. Setup your IE 11 browser to display the Magento store website in c

[2017-05-08 11:03] schmengler commented on #2747
Thank you for fixing this bug. It's been almost a year now. Any reason why this was not merged in one of the 2.1 patch releases?

[2017-05-08 11:27] gcampedelli commented on #8614
For me free shipping is not working properly either in 2.1.6.

My rules are only free shipping for some region, with any discount on product. But it display in every situation.

[2017-05-08 11:28] ram10raj commented on #9408
@santhoshp  any update on this issue ?
I'm waiting for the updated code for lowstock report.

[2017-05-08 11:30] NisaKH opened #9546 "Bundle option id changes every time when editing on admin page"
Bundle option id changes every time when editing on admin page

### Preconditions
1.  Version 2.1.5

### Steps to reproduce

1. create bundle product with some options -> save product
2. click save button again then

### Expected result

1. the product is updated and the bundle option ids does not change.

### Actual result

1. the bundle option ids are recreated every time the product is saved.

[2017-05-08 11:34] gcampedelli commented on #8614
It has a strange behavior. It was displaying all the time outside rules. It worked once and now it does not display. I'm not sure how to fix it.

[2017-05-08 11:43] wintermute-84 opened #9547 "LogicException: Method 'getExtensionAttributes' must be overridden in the interfaces which extend 'Magento\Framework\Api\ExtensibleDataInterface'"
This is driving me crazy. I have only sample data products.
Looks like this started to happen when updated to 2.1.6
But also was persistent after downgrading.

Feels like any manipulation with product is causing this error.

Can someone point out what can cause this?

`LogicException: Method 'getExtensionAttributes' must be overridden in the interfaces which extend 'Magento\Framework\Api\Extensibl

[2017-05-08 12:33] strauss69400 opened #9548 "Custom free shipping don't work in Backend"
### Preconditions
My website run with the version 2.1.6 It contains two store views.
The version of PHP is 5.6.24
The version of Mysql is 5.6.31

The problem is i create my custom method  which should be displayed only for the backend but it don't work! i get this error : Sorry, no shopping cart available for this order.

I followed several tutorials to create my method and here is the main code :

[2017-05-08 13:35] ravibhalodia commented on #9498
For me bin/magento catalog:images:resize - required almost 3 hours of time frame. At the time of final migration before launching - how could we wait for 3 hours? This issue must be resolved immediately

[2017-05-08 13:38] antofebin2636 opened #9550 "Editor option is missing on magento 2 admin"
![bug](https://cloud.githubusercontent.com/assets/15243707/25806677/eda1cb46-33fb-11e7-970d-b534c63bc6d8.png)

Editor is missing
Magento Version 2.0.13

[2017-05-08 14:20] nano1313 commented on #9488
Currently working on the same, and i can't add a new country. I've already tried what you did.

[2017-05-08 14:24] parasarora opened #9551 "category category image show all image in all the category array collection"
After assigning Category image for the single category, the category show image to multiple category collection. But database shows a single entry for the image. That means image is displayed to all other categories which come after the category in alphabetical order.

1.  Assigned to single category
2. Alphabetical order of collection in ascending order.

![without image](https://cloud.githubuser

[2017-05-08 14:33] hostep commented on #9498
@ravibhalodia: you are talking about https://github.com/magento/magento2/issues/9275 or https://github.com/magento/magento2/issues/9276, this ticket isn't about that.
(but I agree with the 3 hours problem, you can try out this super experimental attempt at solving that: https://github.com/baldwin-agency/magento2-module-magento-216-image-resize-migration-helper)

[2017-05-08 14:40] korostii commented on #9544
Are you sure that IE is necessary to reproduce the issue? Since the error in question is server-side, that seems unlikely.

In my experience, there's also a high probability that the error's root cause is a custom or 3rd-party module which attempts to modify the looks of the Orders' grid. In order to confirm that, please check your Magento's logs for errors first (Read [here](https://mage2.pro/t/t

[2017-05-08 14:40] alloylab commented on #9535
From the Kernel version, I am assuming you are running RHEL6. What version of php.. I am guessing 7? can you provide your php info(); to check required extensions?

http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements-tech.html

[2017-05-08 14:49] gerryka commented on #9544
This is on a clean installation of Magento CE without any 3rd party modules or custom modules. I was not able to reproduce the issue on any other browser except this specific configuration of IE11 with compatibility mode turned on.

And yes it also seems very unlikely to me that a browser setting would cause an error in PHP server-side code. But so far it is what I am seeing here. I will debug fur

[2017-05-08 14:50] korostii commented on #2747
_Disclaimer: I am not an employee of Magento, Inc._

It seems that patching 2.1 in general just isn't a priority for Magento, Inc.
They expect to get the [community contributors involved into backporting](https://community.magento.com/t5/Magento-DevBlog/Pull-Requests-for-2-1-x-Patch-Releases/ba-p/65630) while [their own priorities are elsewhere](https://community.magento.com/t5/Magento-DevBlog/Git

[2017-05-08 14:56] Rockfordgun commented on #9535
Im not completly sure about the RHEL version where can i check it for you?

Hope this is ok if i paste the URL
http://www.mediacentrehub.net/phpinfo.php

Btw thx for the help

[2017-05-08 15:09] korostii commented on #9550
Possible duplicate of #3601, #4828 or #7834.

Could you please check your Magento's logs for errors? (read [here](https://mage2.pro/t/topic/307) on how to find those)

If browser console contains some errors, please provide a copy or a screenshot of those as well.

[2017-05-08 15:21] alloylab commented on #9535
np, you can take the php info down

[2017-05-08 15:23] korostii commented on #9551
I am sorry, but that's just wrong.

The tree you see on the left is the category selector, and it shows multiple collections attached to the current _Store_. The content represented on the right part of the page is attached to the single highlighted category on the left (on your screenshot it's the "What's New" category).

If you click on a different category, you'll see some different content (in

[2017-05-08 15:43] SyedMuneebb commented on #1299
Maybe you have missed any step or you are not fulfilling its requirements. You can check this simple guide to install Magento 2 on localhost: [Install Magento 2 on Localhost](https://magenticians.com/install-magento-2-on-localhost-using-xampp/)

[2017-05-08 15:51] MattBidas commented on #9508
Please Check this steps :

1 - If exists a Shipment Methods
2 - Insert Zip Code first to calculate  Ship

[2017-05-08 15:57] alloylab commented on #9535
What is the module you are having issues with?

[2017-05-08 17:16] wolfpeak opened #9552 "Unable to add quantity_and_stock_status attribute to product filter in backend"
Hi all, I hope that you can help me. Please forgive me being fairly new at this and never having posted here before but I have tried searching with no real success at finding my issue.

### Preconditions
1. Magento 2.1.6
2. PHP 5.6.30

### Steps to reproduce
1. Store > Attributes > quantity_and_stock_status
2. Advanced Attribute Properties
3. Use in Filter Options > Yes
4. Save

### Expected resul

[2017-05-08 17:37] Rockfordgun commented on #9535
Im trying to install a pay module "Payfast"
When i installed the module it finishes but then when you run through the checkout it comes to a point and gives a error.

ObjectDOM documnet should be created

and heres the logs
`LOG:

created.";i:1;s:12002:"#0 /home/mediacen/public_html/vendor/magento/framework/View/Element/UiComponent/Config/Reader.php(95): Magento\Framework\View\Element\UiComponent\

[2017-05-08 18:23] nafisakanwal commented on #6688
Hi @kientran175
It resolved my issue. Thankyou soo much 👍

[2017-05-08 19:29] andreymoskvenkov commented on #2152
What is the goal of "is_system" column in the eav_attribute table, if the values of such attributes cannot be saved via Admin interface?
Example: I have created a new attribute "is_fraud_whitelisted" (boolean) in "eav_atribute" table for Customer entity. I have set "is_system=1" and "is_user_defined=0" for this attribute. I have also added it to "General" group, added this attribute the the "custo

[2017-05-08 20:27] ghost opened #9554 "Magento 2 is often idea rich but vs the time spent function poor"
This is constructive criticism of my experience as a Magento 2 developer coming from other ecommerce systems.

I expect a learning curve with any software change, however as a developer of 11 years Magento 2 has been an extremely frustrating experience and I will attempt to articulate why to you.  I checked for a feedback forum in the forums but there wasn't one so seeing posts like this: https://

[2017-05-08 20:32] jroca22 commented on #9171
Ciao EnricoB3,
I've just imported this field with the full final path to image. This attribute value is a string so I did this workaround.
If you find any other solution please share.
Regrds,

[2017-05-08 20:50] andreymoskvenkov commented on #2152
Ok, is_user_defined = 0 in Magento 2.1.6 acts as "is_system = 1" normally acted in Magento1.
I have updated all migrated custom  customer attributes, which had "is_system=1" im Magento 1 to "is_system=0" and "is_user_defined=0" and now I am not able to delete those attributes from the Admin panel and able to edit customer values from the Admin panel. Seems that "is_system" column is redundant in M

[2017-05-08 23:13] gweeble opened #9555 "analytics.js script appears twice"
### Preconditions
Magento version 2.1.5, PHP Version 7.0.17, Mysql version: 5.6.35-81.0 Percona Server (GPL), Release 81.0, Revision c96c427

### Steps to reproduce
1. Turn on analytics in admin panel and input GA code
2. Save
3. refresh Frontend page

### Expected result
1. Single instance of ﻿the below code on page
<script>
//<![CDATA[
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[

[2017-05-09 01:16] jpcsguru commented on #6138
this still happens in mage 2.1.6

[2017-05-09 01:51] indraprasetya commented on #4883
I was follow this instruction and the page was translate
https://github.com/magento/magento2/issues/2951

but the page only translate on local pc (apache/nginx). Why on my EC2 aws, the page are not translate after bundle js?

[2017-05-09 02:05] indraprasetya commented on #2951
I have tried to follow your instructions and the page was translated on my local pc. Why after bundle js on server EC2 AWS the translation in validation.js like (this is a required field.) the message not translate?

[2017-05-09 02:07] mpchadwick opened #9556 "ISSUE_TEMPLATE.md does account for feature requests"
[The issue template](https://github.com/magento/magento2/blob/62667cb65d69cd6028c9038dda0087684a3df834/ISSUE_TEMPLATE.md) is currently designed to streamline bug reports.  However, per [CONTRIBUTING.md](https://github.com/magento/magento2/blob/62667cb65d69cd6028c9038dda0087684a3df834/CONTRIBUTING.md), issues can also be used for feature requests...

[Here](https://github.com/influxdata/telegraf/bl

[2017-05-09 02:11] mpchadwick opened #9557 "Feature Request: Add a "role" column to the users grid in the admin panel"
It would be useful if the "Users" grid in the admin panel had a column to show the "role" of each user. Without it, you must click into each user individually to see their respective roles.

I can maybe prepare a pull request if there is agreement that this feature would be useful.

[2017-05-09 04:12] ebarchiesi commented on #9481
Some time solve it php -d memory_limit=1024M -d set_time_limit=3600 -f .../bin/magento setup:di:compile

[2017-05-09 05:15] nikhilzoom commented on #2991
Issue still not fixed with Magento 2.1.5

Here are the details
1. I have two websites on my magento installation.
2. Using OAuth1.0 for authentication in REST API.
3. http://localhost/magento/rest/V1/ is my api URL.
4. Want to add an item into cart which is assigned in another website not the default website.

Sequence of Calling of API
**1. Create cart**
		API: http://localhost/magento/rest/V1/cu

[2017-05-09 06:55] abbasalitk commented on #9481
Tried it..Still comes a fatal error

[2017-05-09 07:03] ngz82 commented on #9116
@tigerx7  Did the solution in #6296  work for you?

[2017-05-09 07:07] VinayJVNC commented on #3879
Hi,
 I'm also facing almost the same issue. Few users are able to see their names and few are not able to.
Users who are not able to see their username are also unable to add the products to cart. Is it related anywhere to the sessions? I have debugged the entire code, but failed to get the expected result.
Can anyone help to fix this. Thanks in advance

[2017-05-09 07:11] santhoshnsscoe commented on #7876
The problem is inside `Magento\Eav\Model\Entity\Attribute\Set::addSetInfo`

In admin product edit page, when the attribute set of the related/cross-sell/up-sell products are different from the main product. Then the function `Magento\Catalog\Model\ResourceModel\AbstractResource::_isApplicableAttribute` will return false due to `$attribute->isInSet($object->getAttributeSetId())`

[2017-05-09 07:25] kingsatti opened #9558 "After login still showing the login form Magento ver. 2.1.6"
hi,

 I am facing the strange issue after login it is still showing me login form. i posted question here.

https://magento.stackexchange.com/questions/173570/magento-2-bug-or-developer-mode-issue

[2017-05-09 07:31] tomasinchoo commented on #7647
Exact same issue on 2.1.4

[2017-05-09 07:31] parasarora commented on #9551
If there is no content associated with another category, Category collection should not image of its previous category but it is showing image of previous category

[2017-05-09 07:53] kingsatti commented on #9558
This issue will be fixed after refresh/enable the cache from admin panel.

[2017-05-09 07:53] #9558 closed, assigned to nobody

[2017-05-09 08:28] antofebin2636 commented on #9550
No console errors http://prntscr.com/f5qx2l & it diseppar last week all of a sudden because i can see the data on website http://prntscr.com/f5r0yw can ypu please help

[2017-05-09 08:29] GeoffreyDijkstra commented on #5352
And still an issue in 2.1.6 :cry:

[2017-05-09 08:31] userseven77 commented on #9388
I have the same issue, I'm also using infortis ultimo theme but apparently this doesn't concern them but is a magento issue (according to infortis support).

My problem manifests on any currency that is not the base currency (that seems not affected). Only in the product page the price is CHANGED "live" after the page loads to an incorrect amount. If the customer adds the product to the shopping c

[2017-05-09 08:38] sonjaka commented on #5876
I have this problem also - configurable products are imported correctly when "store_view_code" is empty, but as soon as I set it, the products are not correctly associated anymore. Import still works, just the connection between the products somehow doesn't work out.

Is there a solution that I missed? I need to import products for three different store views and any help would be greatly apprecia

[2017-05-09 09:05] RaitzeR commented on #4979
I had the same issue, at the moment I have no idea what's the culprit but here's a quick fix for it.
in Magento\CatalogImportExport\Model\Import\Product\CategoryProcessor there's the line which causes this problem:
$path[] = $collection->getItemById((INT)$structure[$i])->getName();

add this on top of it.
`if ($collection->getItemById($structure[$i]) == Null) {
							continue;
						}`

[2017-05-09 09:27] johnny-longneck commented on #1961
I can confirm this issue.
We have two base currencies (€ and $) on two websites.
In the US store it ignores the $ base currency.

When being charged for online transactions, it will use € which is by all means a total different price.
Workaround is not an option with a high volume of products.

This is a no go. Please...anyone, help?

[2017-05-09 09:27] mukdam commented on #9171
I have the same error.
Create an attribute which "Catalog Input Type for Store Owner" media images.
When I add addtional_attributes assign value but not import

[2017-05-09 09:33] iacopop commented on #5876
i try to import standard product in single website/storeview configuration.
Import works if file csv is exported from magento2 with all fields.
I hope it can help you.

Iacopo

2017-05-09 10:38 GMT+02:00 Sonja <notifications@github.com>:

--
Iacopo Pecchi
E-commerce Specialist & Project Manager
http://www.consulente-ecommerce.it
tel. +39 328 9381301
info@consulente-ecommerce.it
P.IVA: 02084840517

[2017-05-09 10:24] SanderJP commented on #5105
@Mulderua please provide an update about this issue?
We cannot release our clients Magento 2 webshop because customers see a broken white page after they paid and return from the PSP !! And there is no workaround except changing core code, which means I need to do this manually every single time my CI pipeline has run..

It's almost been a year since this issue was posted..

[2017-05-09 10:28] nmallepally opened #9559 "Magento 2.1.3 payment issue with credit card after rollback"
Magento 2.1.3 (production mode)
PHP 7
mysql (Maria DB)

### Steps to reproduce

1.  Updated to the Magento version 2.1.6
2. errors with configurable products attributes not showing on front end.
3. rolled back to 2.1.3 version which was in production mode, as we could not afford more loss time.
4. minimised CSS, js and merged.
5.  from next day payment issues with credit card payments(Authipay), s

[2017-05-09 11:56] khongtoan1991 opened #9561 "Magento 2.1.0 Unable to place order. Please try again later."
I have issue when placeholder Credit card, when submit order i received error
"Unable to place order. Please try again later." and in debug.log have list
array (
    'user' => '****',
    'vendor' => 'ehlerslongboards',
    'partner' => 'PayPal',
    'pwd' => '****',
    'verbosity' => 'HIGH',
    'BUTTONSOURCE' => 'Magento_Cart_Community',
    'tender' => 'C',
    'trxtype' => 'A',
    'amt' => 0

[2017-05-09 12:35] gsomoza commented on #9561
@khongtoan1991 I recommend you edit those tokens out of your issue just in case...

Have you followed the steps outlined in the [Magento 2 Paypal Setup](http://www.magestore.com/magento-2-tutorial/magento-2-paypal-setup/) tutorial?

[2017-05-09 12:37] szumel commented on #6426
Override `protected function readValue($appMode)` from `\Magento\Framework\App\View\Deployment\Version`

[code]

[2017-05-09 12:38] khongtoan1991 commented on #9561
@gsomoza i setup Payments Pro (Includes Express Checkout) and merchant info is true, because Paypal great active

[2017-05-09 12:42] juhanix opened #9562 "ItemZone on product detail is not set correctly when chaning products via related/upsell products list"
### Preconditions

1. Magento 2.1.5
2. PHP7

### Steps to reproduce

1. change file vendor/magento/module-catalog/view/base/templates/product/price/final_price.phtml
1.1. add `echo $block->getZone();` on line 25 (or some other line, as you like)
2. having Product A with Product B listed/marked as related or upsell.
2.1. Product B also has Product A listed/marked as related or upsell product
3. vis

[2017-05-09 12:49] gsomoza commented on #9561
Ok, in that case could you confirm you followed [these docs](http://docs.magento.com/m2/ce/user_guide/payment/paypal-payments-pro.html) carefully?

Are there any other 3rd-party extensions installed in the system which might affect the checkout? Anything dealing with orders, payments, invoices, etc. If the answer is "no": can you duplicate this issue (using the same Paypal account) in a vanilla Ma

[2017-05-09 12:54] khongtoan1991 commented on #9561
Thanks @gsomoza. I will check guilde with [these docs](http://docs.magento.com/m2/ce/user_guide/payment/paypal-payments-pro.html) and when fixed i will said for me.

[2017-05-09 12:58] VinayJVNC opened #9563 "Customer name not displaying in header block"
When logged in,few users are able to see their username in top section along with "Welcome" text as "**Welcome Username !**" and few users are not able to see their names, instead it is displaying as "**Welcome Undefined !**".
For the users who are not able to see their username are unable to add product and also unable to logout.
Is it related anywhere to the sessions? I have debugged the entire

[2017-05-09 12:58] tony831993 commented on #9546
Having same issue the options are duplicated after save product.... looking for some fix regarding this........

[2017-05-09 12:58] ndungujackson commented on #5183
I have resolved this by setting  intl.error_level  to 0.

[2017-05-09 13:05] eligiable opened #9564 "Magento 2 Installation via Composer using Ansible | takes too much time"
### Preconditions
1. Ubuntu Server 16.04.2 LTS
2. Magento-EE-2.1.4_2017
3. Nginx 1.10.0
4. php 7.0.15
5. mySQL 5.7.18
6. Composer 1.4.1
7. Ansible 2.0.0.2

### Steps to reproduce
Automated the following steps using Ansible with Composer
(https://www.howtoforge.com/tutorial/how-to-install-magento-with-nginx-on-ubuntu/)

### Expected result
It should not take much time to just install Magento 2

###

[2017-05-09 13:06] tanmay-mishra831993 opened #9565 "Creating a bundle product in Magento-2.1.4 , while saving a bundle product with single drop-down product option duplicates the same option after saving the product."
Trying to create a bundle product in Magento-2.1.4 but while saving a bundle product with single drop-down product option duplicates the same option after saving the product.

### Steps to reproduce
1.  Create bundle product from magento admin
2.  Assign simple product in Bundle Items tab
3. Save

### Expected result

1. It should save the product with proper configuration, with all options withou

[2017-05-09 13:10] darkogoles1 opened #9566 "Status label is wrong in admin"
### Preconditions
1. Magento version 2.1.3, 2.1.6

### Steps to reproduce
1. Create Order status labels for default frontend store: http://collabshot.com/show/MVB4Tl
2. Original status labels (for admin store should be in this table: http://collabshot.com/show/21mPgT

### Expected result
When an order is created in the frontend, order status should have e.g. "erp_uploaded" code.
Label in frontend

[2017-05-09 13:14] hongzhou85 commented on #4547
@reijervano What is this patch library suppose to do? I tried but it doesn't fix the validator

[2017-05-09 13:16] ndungujackson commented on #6823
In my case I have resolved this issue  by setting `intl.error_level` to 0 in my php.ini

[2017-05-09 13:26] reijervano commented on #4547
@hongzhou85 it should overwrite the library/Zend/Validate/Hostname.php class with the latest version from Zend.

[2017-05-09 13:31] gsomoza commented on #9564
Can you confirm that it took significantly less time when you were NOT using Ansible? And any chance you could post some actual timings?

Provisioning a server will usually take quite some time. And if you're following that tutorial then you're also using Composer to download all packages, installing the database for the first time, etc - all of that *every time* you provision the server from scra

[2017-05-09 13:35] PirunSeng commented on #9212
Hi there,
I've got the same issue, and tried to edit the Image.php as you guys suggested and returns this error instead.
` Fatal error: Namespace declaration statement has to be the very first statement in the script in C:\wamp64\www\magento\vendor\magento\module-catalog\Model\View\Asset\Image.php on line 2`
In my Image.php file:
[code]
There are some people facing this error too, and other said i

[2017-05-09 13:40] gsomoza commented on #9559
What did the rollback process involve, specifically? E.g. did you also roll back the database to the most recent backup prior to the upgrade attempt?

[2017-05-09 13:41] toddbc commented on #9456
Not sure if this will help - but if you happen to be using Cloudflare, make sure the option to minify HTML is disabled.  It will cause exactly this problem if enabled, since it removes HTML comments from the output.

Magento 2's JavaScript relies quite heavily on HTML comments, for better or worse.

[2017-05-09 13:42] matart15 opened #9567 "ajax on wysiwyg return "403 Forbidden""
### Preconditions

1. Magento 2.1
2. php 7.1
3. mysql 5.6

### Steps to reproduce

1. Fresh install via git clone
2. `composer install`
3. setup from browser
4. install complete with `no error`
5. frontend and backend works. Created category, and Product.
6. Admin -> Pages -> Home page -> edit `http://example.app/magento2/admin_8i3hwr/cms/page/edit/page_id/2/key/33798240ca4d1965118b424471c36c38180

[2017-05-09 13:49] nmallepally commented on #9559
i did a backup of files, code and database before I started to do the upgrade.
when the upgrade was giving us problems with config product attributes, I rolled back files, media and DB which i took before the upgrade.

[2017-05-09 14:17] fabianPas commented on #7565
We are currently also having this issue. It only applies for bundled products created programmatically via the API. They are not visible from the storefront until we save them again from the admin panel.

[2017-05-09 14:52] Joe-Whitehead opened #9568 "Category not showing all products"
### Preconditions

1.  Magento 2.1.6

### Steps to reproduce

1. Assign products to category
2. Visit category page on front end

### Expected result

1. See grid of all products in the category

### Actual result

1. Only about half of the products show in the category

Only about 25 out of 40 products are showing in a category page - all of the products have exactly the same settings:
1. Set to

[2017-05-09 15:02] erfanimani opened #9569 "CLI catalog:image:resize command doesn't work for images set as "Hide from Product Page""
### Preconditions
1. Install clean Magento 2.1.6 on PHP7

### Steps to reproduce
1. Create simple product with 2 images. Image A, set as "Base, Small and Thumbnail" and tick "Hide from Product Page". Image B, leave as-is.
2. Clear image cache
3. run bin/magento catalog:image:resize

### Expected result
1. Navigating to the product listing should show image A. Clicking through the product should sh

[2017-05-09 15:04] erfanimani commented on #9569
Sorry - this one can be closed; duplicate of #9498

[2017-05-09 15:05] yosmared commented on #6602
@jesslynkoh89 problem resolved! Thanks!

[2017-05-09 15:05] erfanimani commented on #9498
Pretty urgent yeah - any hack we can do make it work for now?

[2017-05-09 15:30] psapoznik commented on #8018
This is full of bugs .... buaaaa

[2017-05-09 15:31] erfanimani commented on #9554
Magento development being six times slower than other ecommerce systems is still pretty good, considering Magento 2 has got a tons of caching layers, indexing, materialised views, support for Varnish/ESI, extension/plugin system that prevents (in theory) module conflicts, and so on.

While I think your expectations weren't set 100% right from the beginning, I do agree with a lot of what you say. u

[2017-05-09 15:33] psapoznik commented on #6671
This is full of bugs .... buaaaa

[2017-05-09 15:41] choukalos commented on #9464
Which cache engine are you using?

[2017-05-09 15:42] choukalos commented on #9569
Closing as dup.

[2017-05-09 15:42] #9569 closed, assigned to nobody

[2017-05-09 15:48] choukalos commented on #9496
Have you tried on our latest patch release (2.1.6); is it doing the same thing?
Is anyone else seeing this?

[2017-05-09 15:53] choukalos commented on #9542
Are you running in production mode?  Did you do your static-asset deployment and compile on each server?

[2017-05-09 16:46] codedge commented on #6719
Still having this problem on Magento 2.1.6 with custom source model and custom database table.
On frontend it just show "male" and "female" while in backend it shows the correct values according to the custom database table.

[2017-05-09 16:52] okorshenko opened #9570 "Product Review API"
### Overview
Currently, Magento 2 does not provide the REST API for the Reviews Extension of the products. In scope of this task we would implement WebAPI for product reviews and integrate review API into existing core modules

### Resources

Resource | Request method | Permissions | Payload | Response | Implementation | Description
------------- | ------------- | ------------- | ------------- | -

[2017-05-09 17:13] gsomoza commented on #9554
@atrixtech Magento 2 is certainly not a KISS framework, you're right about that: it's not a framework for merchants that have very simple functional needs and don't need much in regards of flexibility or scalability; there are other frameworks that may be more appropriate for those merchants, both in the PHP world and outside.

But I do find the Magento architecture extremely useful for many of th

[2017-05-09 17:38] rodrigowebjump commented on #2450
Hi I also did not see anymore the option to set the number of lines in the admin.

Store->Configuration->Customer Configuration->Name and Address Options

[2017-05-09 17:40] pguedesbr commented on #6719
@codedge Do you mean the options now show correctly in the backend new order product configure modal window? Because that's where it was wrong in the backend. It has always showed correctly in the product edit/create form and the order details page.

[2017-05-09 17:52] hostep commented on #9498
I posted a workaround in the original thread, let me copy it here, since it makes more sense to have it here:
[code]

Disclaimer: not tested thoroughly!

[2017-05-09 18:00] gambi52 commented on #6929
We have had the same issue with our site.
Magento 2.1.4
Payment Method: Authorize.net
Process:
Customer status:  immaterial
Place any item in cart.
proceed to checkout
enter address/shipping method
continue to payment page
enter payment information
Place Order

Expected Result:
Order success page
Receive transaction email with new order number

Actual Result:
page blinks and all data remains on pa

[2017-05-09 18:16] kilis commented on #6424
Issue still present on version 2.1.6

[2017-05-09 18:21] gsomoza commented on #9559
Ok, that sounds about right. Did you also run the post-deployment commands (e.g. "bin/magento setup:di:compile")? In other words: are you sure your environment is 100% how it was before the upgrade attempt?

[2017-05-09 18:27] vlahakis commented on #9136
I see the same issue. Even using Swagger to call the DELETE method for a product image the response is true but doing another GET on the product SKU on media returns the image again.

Tried with default and well as store id but the image is not deleted!

[2017-05-09 18:38] gsomoza commented on #9567
You can test that quickly by duplicating the issue with Chrome Dev Tools open, then opening the `public/index.php` file and writing `die();` as the first PHP line (or you can put a breakpoint on the first line if you're using Xdebug) and saving it. Then right-click on the Dev Tools on the AJAX request that failed and choose "Replay XHR". If you still get a 403: that's Apache responding and not Mag

[2017-05-09 18:48] gsomoza commented on #9556
Here's another one that's a bit more brief but covers both bugs and features: https://www.talater.com/open-source-templates/#/page/98

[2017-05-09 18:50] vlahakis commented on #9136
From the little I have looked into this, it seems that this call (DELETE) only disassociates the media gallery entry types for this product but does not effect the media entry itself and neither does it remove the product association.

I have found no other exposed REST API to actually delete the media entries and remove it from a product completely. I will try to find out how it does it on Admin

[2017-05-09 18:58] gsomoza commented on #9568
I haven't payed much attention to how breadcrumbs work in M2 so I may be wrong, but I'd imagine the breadcrumbs are probably related to "how" you got to that product page rather than which category the product belongs to. Under that assumption it would make sense that you don't see a category on the breadcrumbs for a product that you didn't access through a category.

The issue of product visibili

[2017-05-09 18:59] toweringmedia commented on #5908
in my case I had the same problem, I was using the /~username  for the account as a dev site. After pointing a dummy domain to the account and used that instead it worked.

[2017-05-09 19:18] codedge commented on #6719
@pguedesbr Well, in my case the options show up correctly in backend, but _not_ in frontend. Foe ex. on the product detail page (frontend) the options show "female" oder "male" but the values from the the custom source model / custom database table.
In backend when creating a new product or editing one I get the correct values from the source model.

[2017-05-09 19:28] pguedesbr commented on #6719
This is exactly what I meant in my previous reply, aswell as in the original post.
In the backend, the options show up correctly on the product edit/create page, but it doesnt mean the all is good in the backend, since the options are wrong in the product configuration modal window when creating a new order and  configuring a product for it.

TL;DR = Nothing has changed ever since, and this is sti

[2017-05-09 19:28] rbostan commented on #9464
@choukalos We are using Redis engine (config, session and fpc)

[2017-05-09 19:36] sp185143 commented on #7753
This is causing us problems too (we are on EE 2.15). It seems that if you mark and attribute as required, Magento expects it to be on all forms but admin panel is supposed to allow us to specify which forms an attribute is on - i.e. Registration vs. My Account. Even if required field for registration, it shouldn't have to be on my account.

[2017-05-09 19:39] scheung38 opened #9572 "Search for products not returning products already defined in dB?"
Already defined products in admin page, but when searching for it by name:

Search : Entry Package

Search returns empty?

<img width="931" alt="screen shot 2017-05-09 at 20 38 01" src="https://cloud.githubusercontent.com/assets/1273014/25869244/8e26b51c-34f7-11e7-9b1d-814f0314f60d.png">

[2017-05-09 21:02] codedge commented on #6719
I find this a really severe bug! Using configurable products with own attribute values is a valid use case for Magento shops. That's one of a couple of reasons why I used Magento 1. Now finding out that this couldn't be fixed withing more than 6 months makes it really annoying.

But as important this problem is I cannot see others (people, developer, etc.) complaining about this. I couldn't find a

[2017-05-09 21:04] misha-kotov commented on #9468
No, this is a different issue. Allowing anonymous Web API access in the admin should unlock the REST catalog calls and not require the auth token. @feelinc can you try this endpoint?
`V1/products/:sku`
This works for me after I turn on anonymous access and flush the cache.

[2017-05-09 21:35] auroralabs opened #9573 "Content Tab in Admin is returning 404 error Page not found"
### Preconditions

1. Magento CE2.1.6,
2. PHP 7.0.17
3. mySQL 5.6.34

### Steps to reproduce

1. Clicking Content tab in Admin
2. Select any Option ie Products, Widgets
3. No pages are retuened

### Expected result

1. Product Listing

### Actual result

1. [Screenshot, logs]
![screen](https://cloud.githubusercontent.com/assets/1214196/25873714/702aaa86-3507-11e7-9a03-611bfc76592e.jpg)

[2017-05-09 23:05] vlahakis commented on #9136
Further feedback seems to suggest that images are related to products on all store ids meaning one needs to delete them for each store id so that a reference is removed completely.

I am not 100% if this is due to my own testing code, but somehow images for products where also associated to products on store id 0 (Admin) which is a dead lock situation given you cant remove them from there (so I do

[2017-05-09 23:44] erfanimani commented on #9498
Thanks Pieter!

On 10 May 2017 01:53, "Pieter Hoste" <notifications@github.com> wrote:

[2017-05-10 01:22] eharvest commented on #6719
@codedge I fully understand your struggling as when I was 3 month into Magento2 I was on my edge of collapsing - for just about everything (health for being working min 18 hrs daily, confidence and moneywise as I work for myself). I wanted to give up magento altogether and just go back to MVC framework with third party shopping cart solution and start everything from scratch.
Now after working for

[2017-05-10 02:57] pguedesbr commented on #6719
I've literally had a breakdown after months of working on my magento 2 project (a very challenging to develop ticket sale module). After struggling with reverse engineering and getting to understand Magento 2 inner workings, I ended up with heart problems due to stress, which caused me to undergo a pacemaker implant surgery last December.

In the end, nowadays I just have the confidence to debug i

[2017-05-10 05:13] feelinc commented on #9468
The **V1/products/:sku**, it's working correctly with anonymous access.

I'm currently testing to develop a android app using the Magento 2 REST API, following is what I had so far with it -> https://www.youtube.com/watch?v=6pLKfSFg9WI

The **V1/bundle-products/:sku/options/all** still having the same issue after flushing the cache, below are the cli commands I use :
[code]

I think it's not an ur

[2017-05-10 05:17] matart15 commented on #9567
thank you @gsomoza. I tried `die();` in `pub/index.php` file. It return 403.

But other successful ajax requests does not die. They return `200 OK` with response body. Even front home loads without problem. i flushed cache. result is same.

apart from that I changed my .htaccess file.
Now I got more strange response.

response status is still `403 forbidden`. But response body is this image. with

[2017-05-10 05:40] Tonop commented on #9543
Does admin receive new order emails?

[2017-05-10 06:14] matart15 commented on #9567
OK I managed to get var_dump on this line.
https://github.com/magento/magento2/blob/develop/app/code/Magento/Widget/Controller/Adminhtml/Widget/BuildWidget.php#L39

If i add `var_dump([$html,$type,$params, $asIs]);` there with this formbody.

<img width="424" alt="screen shot 2017-05-10 at 15 14 21" src="https://cloud.githubusercontent.com/assets/17027219/25885438/468c814a-3593-11e7-93d2-3ad114f46

[2017-05-10 06:16] farhadfrz commented on #5863
We have the same issue, 20000 products in two store views, but some url rewrites are being deleted for store 1. We have tried to regenerate url rewrites manually and from admin but after few hours they are being deleted!! Any solution??

[2017-05-10 06:25] eligiable commented on #9564
@gsomoza Thank you for the suggestion, made my life.

[2017-05-10 06:46] K-Projects commented on #8447
Same issue here.

[2017-05-10 06:47] gsomoza commented on #9567
So the response body seems OK: it has the content, which is certainly not what I'd expect if there was a 403. Just to be thorough: you don't have any custom package requirements in `composer.json`: just a vanilla Magento 2 installation - correct? If you can confirm that then I'll try to duplicate the issue in a local environment.

[2017-05-10 06:50] matart15 commented on #9567
Yes.

`git log`
[code]

`git status`
[code]

`git diff`
[code]

[2017-05-10 06:50] deepak-netwin commented on #7253
@springimport How did you solve this problem? I'm facing same issue. I want to move product toolbar outside columns container like this http://prntscr.com/f6335o.
But I'm also getting same error i.e. Fatal error: Uncaught Error: Call to a member function getSize() on null in

[2017-05-10 06:51] matart15 commented on #9567
Just after install it on my remote server I changed 2 .htaccess file from `+FollowSymLinks` to `+SymLinksIfOwnerMatch`.

that is it. I now trying it on my local machine and ajax works. Confusing.

[2017-05-10 07:10] hostep commented on #5863
Possibly related issue: https://github.com/magento/magento2/issues/8786

[2017-05-10 07:19] matart15 commented on #9567
var_dump in this line (https://github.com/magento/magento2/blob/develop/app/code/Magento/Widget/Controller/Adminhtml/Widget/BuildWidget.php#L39)
[code]

on my local PC it responds with
[code]

but on my server
[code]

request headers are very same. `POST` with
[code]

[2017-05-10 07:30] gsomoza commented on #9567
Yes, that's what I'm thinking: it definitely looks like an Apache configuration issue on the server. Maybe related to that `SymLinksIfOwnerMatch` change? [Check if this helps](http://stackoverflow.com/questions/11901993/options-followsymlinks-or-symlinksifownermatch-is-off).

[2017-05-10 07:34] tranglt6080 commented on #6635
I got a similar issue. here is my di.xml
`<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Training\ComputerGame\Model\ResourceModel\ComputerGame\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>

[2017-05-10 07:40] Anshu-Mishra commented on #7031
I am getting the same issue on 2.1.3

[2017-05-10 07:57] korostii commented on #9535
The "Missing required argument" error might've been caused by not outdated files under `var/di` and `var/generation` folders after upgrading to the new version.
Please run `bin/magento setup:di:compile` from a terminal pointed at your Magento's installation folder and see if that resolves the issue.

Regarding the second error you've posted, "Object DOM document should be created" error just shows

[2017-05-10 07:57] matart15 commented on #9567
I tried to add those lines. But I am on shared server and It seems i cant write to httpd.conf. plus server documentation says we have to use `SymLinksIfOwnerMatch` instead of `FollowSymLinks `. Seems like I hit the wall.

`$this->getRequest()->getParams()`. This line seems not getting post params on my server.
I thought request parameters are not affected by server config.

Any other suggestions

[2017-05-10 08:01] Joe-Whitehead commented on #9568
Hi, thanks for your suggestions.

1. All the products are identical, I made sure to look in detail at every option as I know how temperamental Magento can be.

2. This will have to be a next step in investigating, thanks.

I am using the same URL structure as those accessed going through the category, and when I do the same (directly typing the URL) on a product that is showing the breadcrumbs sti

[2017-05-10 08:01] gsomoza commented on #9567
You may have already tried it, but just in case: try to see if [this helps](http://devdocs.magento.com/guides/v2.0/install-gde/prereq/apache.html#install-apache-403_2.4).

Otherwise I would try to get in touch with your hosting company's support team: they should be able to help fix this quick. If necessary point them to those docs.

[2017-05-10 08:03] matart15 commented on #9567
Yes. it seems apache setting problem.
I try to connect to my hosting company.
Thank you.

[2017-05-10 08:12] korostii commented on #9555
I am sorry, but it sound a bit ambiguous, so I'd like to clarify this one detail in order to avoid any possible misunderstanding.
Do you, by any chance, mean the a whole actual GA script when you write "GA code"? (looks similar to http://www.lunametrics.com/wp-content/uploads/2012/02/trackingcode1.png )

Magento2 expects just a short identifier in there (like this: http://take.ms/xPBGt ) and gener

[2017-05-10 08:13] matart15 commented on #9567
One thing I don't understand is in on server ajax to get options tag request
(http://example.app/magento2/admin_rxa86v/admin/widget/loadOptions/key/6f21d805d7ce68a9974f9df2b316ae45f02a980972f1d9e092003e2b83622cb4/?isAjax=true)

`$_REQUEST` returns
[code]

but next request returns `$_REQUEST` return empty array.
(http://example.app/magento2/admin_rxa86v/admin/widget/buildWidget/key/f205836a1a8ea2c2

[2017-05-10 08:20] thisisapen commented on #8212
Confirming the same issue as above on 2.1.6 trying to rebuild cache using 'catalog:images:resize'. The above coupled with DIRECTORY_SEPARATOR to '/' helped resolve all image related issues on Windows 10.

[2017-05-10 08:22] alyhugo commented on #9543
I made a mistake. I installed a new module that is not compatible with the email transmission.

[2017-05-10 08:22] #9543 closed, assigned to nobody

[2017-05-10 08:30] tranglt6080 commented on #6635
I have found the  solution to solve the problem
in di.xml we must create a virtualType point to  model
Here is my di.xml
`<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="Training\ComputerGame\Model\ResourceModel\ComputerGame\Grid\Collection" type="Magento\Framework\View\Element

[2017-05-10 08:30] bendraxguy commented on #9555
Korostii,

Thanks for getting back to me. I only have the short identifier in the magento admin backend.

In Clarification, on the front end if you look at the Page Source you see the following just inside head

<script async="" src="//www.google-analytics.com/analytics.js"></script>

Much lower down you see the proper "whole" Ga Script as expected.

Annoyingly that means that when we go to the Go

[2017-05-10 08:39] matart15 commented on #9567
OK. I found the issue.
It seems apache mod_rewrite does not redirect POST params.

my dir structure is
[code]

Now new question is
`How can I set magento2 in subdirectory` and let post ajax redirect work

[2017-05-10 08:39] Yonn-Trimoreau commented on #690
Still an issue....

[2017-05-10 08:40] korostii commented on #9551
Are you referring to the code from category.txt ?
Well, yeah, it gives surprising results (seems to involve some leftover data from a previous category, I presume), but the code itself is just wrong (by Magento2.1 standards).

If you skip category reloading and get the data directly from the iterated item `$_category` instead, the results are okay: categories with no image return empty image URL.

[2017-05-10 08:43] korostii commented on #9550
Could you please also check your Magento's own logs for errors? (read [here](https://mage2.pro/t/topic/307) on how to find those)

[2017-05-10 08:54] gsomoza commented on #9567
Oh, of course, I didn't realise you were running Magento 2 in a subdirectory. You should definitely try to set that up in a way that you're not redirecting anything at all - using proxies, apache rewrites, or modifying the file structure.

Sorry I don't have experience running in a subdirectory, but you could try to see if [this helps|https://magento.stackexchange.com/questions/145401/how-to-run-m

[2017-05-10 09:07] korostii commented on #9556
Nice idea, except when you actually do post a feature request in here, it might instantly get a response referencing https://community.magento.com/t5/News-Announcements/Improvements-to-GitHub-Management/m-p/44572#M96
And after an issue gets the "improvement" label, then there's a bot handling the issue in the following manner: http://take.ms/KDbuS

[2017-05-10 09:15] gsomoza commented on #9556
Alright, that puts this idea to rest then :P

[2017-05-10 09:27] matart15 commented on #9567
@gsomoza thank you for advice.

I tried installing it on root folder. Other functions work same as usual. But this time ` buildWidget ajax request ` returns `404 not found`.

after install it on my remote server I changed 2 .htaccess file from `+FollowSymLinks` to `+SymLinksIfOwnerMatch`.

Now I guess it is apache config problem.

Thanks again.

[2017-05-10 09:31] sivajik34 opened #9575 "why magento should not create like prefernce.xml,plugin.xml,type.xml,virutaltype.xml"
present di.xml file contains preferences,plugins,types,virtualtypes.i think its better to create separate file for each concept.
advantages: present no idea.i will try to figure it out.just suddenly i got idea like this.because magento following for other xml files like this.for example routes.xml,events.xml.

[2017-05-10 09:35] hongzhou85 commented on #4547
@reijervano could you share the path? I'm using a bitnami image of the magento2. So maybe it could be different.

[2017-05-10 09:36] vanloc0301 opened #9576 "Magento 2 is not support PHP 7.1.4?"
I using ArchLinux, default PHP version is 7.1.4.

I tried to install Magento 2. But I have an error like this:

What wrong with me? Thanks.

[2017-05-10 09:39] korostii commented on #9575
Please post your suggested improvements on the [Community Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests), as instructed [here](https://community.magento.com/t5/News-Announcements/Improvements-to-GitHub-Management/m-p/44572).
The GitHub issue tracker is intended for tracking technical issues (read: "bugs") only.

[2017-05-10 09:45] korostii commented on #9576
The PHP version, obviously. It says that right there.

PHP 7.1 isn't supported by Magento2 (yet).
Please the full list of Magento2 environment requirements [here](http://devdocs.magento.com/guides/v2.0/install-gde/system-requirements-tech.html).

[2017-05-10 09:48] #9575 closed, assigned to nobody

[2017-05-10 09:51] reijervano commented on #4547
If you install the extension with composer it should work. If you just want to download the class you can do it from our bitbucket.

[2017-05-10 10:21] SamandyM opened #9577 "Magento 2, problem with creating an order from admin panel"
Hello everyone, hope you guys are doing well :)

I get some customized orders that the person cannot do from the website, so I have to do them from my side, the thing is that whenever I try to create an order (from admin panel - Magento 2.0) for a user and hit the submit button nothing happens.

**Let me share a SS of the issue**

![sans titrex](https://cloud.githubusercontent.com/assets/28594120/

[2017-05-10 10:26] antofebin2636 commented on #9550
What will be the errror type.

[2017-05-10 10:28] antofebin2636 commented on #9550
is it ok to send u the log file

[2017-05-10 10:39] mpchadwick commented on #9556
I see. It might be worth updating the issue template to state that process, then. Also contributing.md says to open an issue, so that should be corrected as well.

[2017-05-10 10:41] korostii commented on #9550
Ideally it's better to have all the info here instead (in case someone else recognizes the error and thus will be able to step in and help you), it's hard to guess what went wrong otherwise.
I could suggest uploading your log to https://pastebin.com/ (or other similar service) and providing a link to it instead.

[2017-05-10 10:46] dcabrejasazagra commented on #9496
@choukalos I have tried 2.1.6 and it's still doing it. I can see there is a commit on develop branch which I think will solve this. https://github.com/magento/magento2/commit/ad5015e706e82ccc30207c2d97ad50682b816ea7
When will this be released ?

[2017-05-10 11:15] stevewinni-cc commented on #8061
@rbostan , did you get this resolved? we just tried update to 2.1.6 and still not working. Which part of the theme needed updating?

[2017-05-10 11:16] petterkj commented on #8018
Confirmed 2.1.6. Thanks for the workaround.. The amount of workarounds needed for M2 is tipping to a dangerous edge now.

[2017-05-10 11:42] gediminaskv commented on #4430
I can't edit a category with ~7000 items ([http://prnt.sc/f664xv](http://prnt.sc/f664xv)). Always throws "Something went wrong while saving the category."
Exception.log:
[code]

[2017-05-10 11:47] Hopfrosch commented on #6331
Thtas a nice idea, but i cant edit my custom theme like this without loosing my own changes in the xml.
I changed the position to an other block, because I need the block at a diffrent place in the frontend.

[2017-05-10 11:50] ishakhsuvarov commented on #2747
Hi @schmengler @korostii
We are indeed accepting Pull Requests for the backports into `2.1-develop` branch. Patching is a priority, however it does not mean that we have capacity to include all of the fixes into the patch releases.

Please feel free to submit a Pull Request with the backport for the fix or upvote this ticket to speed up the process on Magento's side.
Thanks.

[2017-05-10 11:52] ngz82 commented on #9408
@santhoshp I'm also after an update.

Is this issue related to the low-stock notification emails also not working?

[2017-05-10 12:20] maghamed commented on #5880
PHP 7.1 would be supported in Magento since Magento 2.2
And there wouldn't be support of PHP 7.1 in Magento 2.0 or 2.1

[2017-05-10 12:20] #5880 closed, assigned to nobody

[2017-05-10 12:36] damianfabian commented on #6528
You can remove it using css, like this

[2017-05-10 12:44] yourasheesh commented on #9546
Same issue

[2017-05-10 12:48] korostii commented on #2747
@ishakhsuvarov,

With all due respect, that doesn't seem to work neither. Unlike this very issue, most issues get *closed* when the fix is delivered to the `develop` branch. And as you can read in @maksek's response [here](https://community.magento.com/t5/Magento-DevBlog/GitHub-Issue-Priority/bc-p/61133/highlight/true#M15), and I quote: "In terms of upvoting on closed issues - at the moment we are

[2017-05-10 12:50] patruvlad commented on #7824
Can you provide a folder structure for your module? I have created some custom modules with style files and they compile without any issue

[2017-05-10 12:50] aasim110 opened #9578 "Issue in different admin user have different Catalog Product search result - Magento 2.1.4"
We are getting an issue in multiple admin user login, we have more then one admin users,

[2017-05-10 12:56] ferret-e opened #9579 "Some of variation selection attributes not shown for configurable products in 2.1.6"
After upgrading 2.1.4 to 2.1.6 some of products pages with configurations shows empty space instead of attribute dropdown list, that should contain available options like "color". Attribute name label is still shown and pressing "add to cart" button shows message "This is a required field".

After some testing I found that some attributes works as expected and some - not. All attributes properties

[2017-05-10 13:06] sylink commented on #3917
Why was this issue closed ?

[2017-05-10 13:07] sylink commented on #9568
I have seen this issue multiple times and saving the category makes them show up again then the products somehow disappear again.

[2017-05-10 13:24] bh-ref opened #9580 "Quote Attribute trigger_recollect causes a timeout"
### Preconditions

1. Magento CE 2.1.5
2. MariaDB 10.1.20
3. PHP 7.0.14

### Steps to reproduce

0. We created a custom shipping carrier. This shipping carrier implements the method
`public function collectRates(RateRequest $request)`.
1. Log in as a customer.
2. Add some products to your quote.
3. Do not go to checkout. Log off.
4. Change some product and/or catalog price rules which affect the p

[2017-05-10 13:52] sylink commented on #8681
I can confirm overriding to 50k fixed an issue we saw, which isn't ideal but at least proved its a weird bug.

[2017-05-10 14:15] korostii commented on #9550
I think, this is the one you should look at:
`[2017-05-10 07:45:39] main.CRITICAL: Invalid template file: 'Magento_Cms::page/edit/form/renderer/content.html' in module: 'Magento_Backend' block's name: 'widget\form\renderer\fieldset\element_0' [] []`

Do you, by any chance, have any 3rd-party or customized code that extends `\Magento\Cms\Block\Adminhtml\Page\Edit\Tab\Content` class or maybe you've

[2017-05-10 14:20] antofebin2636 commented on #9550
my site is already on complete stage if i do a reinstall the magento 2 can i link to same database

[2017-05-10 14:20] siliconalchemy opened #9581 "catalog_url_rewrite_product_category table missing PK"
The catalog_url_rewrite_product_category table is missing a PK.  Because of this, it cannot be replicated reliably in Galera based systems (eg. MariaDB, Percona XtradbCluster).  It appears to be the only table without a PK.  This is more of a problem with PXC 5.7 as it recommends enforcing strict mode which will actively break usage of this table.

Magento 2.1.5
Mysql: Percona XtraDBCluster 5.7

#

[2017-05-10 14:27] K7Triton commented on #6323
Steps to reproduce:
1. Install Magento latest develop version.
2. Go to Admin side
3. System > All Users
4. Choose your user, then set Interface local to United Kingdom
5. Click "Save"
6. Click "Customers > All customers"
7. Click "Add new"
8. Fill all required fields
9. Choose birthday date "Today"
10. In email field enter already existed email address
11. Click "Save"
12. After error change emai

[2017-05-10 14:51] ebofi commented on #9388
Got a fix for this

Replace your View.php in vendor\magento\module-catalog\Block\Product
`<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
namespace Magento\Catalog\Block\Product;

use Magento\Catalog\Api\ProductRepositoryInterface;
use Magento\Catalog\Model\Category;
use Magento\Catalog\Model\Product;

/**
 * Product View block
 * @

[2017-05-10 14:52] #9388 closed, assigned to nobody

[2017-05-10 15:05] nmallepally commented on #9559
Hi gsomoza,
 yes, the environment is 100% same as it was before the upgrade.
I haven't done anything once I rolled back.
I have also raised the issue with authipay, to check if the response is from their side.

[2017-05-10 15:31] khongtoan1991 commented on #9561
@gsomoza can you help me ?

[2017-05-10 15:31] hallleron commented on #7295
I am having the exact same issue right now with Magento 2.1.6. I removed all new lines and modified the closing script tag accordingly, but what I see is a text input and a "0" under it. Also all information from $this->getId() etc. is not present. @theodorhanu  do you have an excerpt o your solution for this issue? I am totally stuck here.

Basically my _toHtml() function looks like this right no

[2017-05-10 15:36] robbanl commented on #9580
We have the EXACT same issue with Magento 2.1.4 that started a couple of days ago, probably due to a composer update! I'm about to try this fix right now!

[2017-05-10 15:38] dyushkin commented on #7536
Hi @vlauria! This issue was fixed with another internal ticket, you can see commit eb4937a.

[2017-05-10 15:38] #7536 closed, assigned to nobody

[2017-05-10 15:40] robbanl commented on #9580
This solved our issue! Oh my god!

[2017-05-10 15:41] korostii commented on #9550
What I write below is pure guesswork, because I don't know what is your setup, thus proceed with caution. It is advised to backup valuable information before performing destructive operations.

But, if you suspect that core files might've been corrupted, you can simply open a terminal, point it at your Magento2 installation directory and then perform the following commands:
- clean the `vendor` di

[2017-05-10 15:51] userseven77 commented on #9388
So you basically just removed `$this->priceCurrency->convert(...)` from oldPrice, basePrice, finalPrice?
Did you figure out this or is it an "official" fix from magento?

[2017-05-10 15:53] ebofi commented on #9388
Just go the fix from StackOverflow

[2017-05-10 16:05] antonkril opened #9582 "Eliminate the need for inheritance for action controllers"
By design, all Magento action controllers should implement `\Magento\Framework\App\ActionInterface`. But some crucial request processing behavior (event dispatching, authorisation, etc) resides in classes like `\Magento\Framework\App\Action\Action` and `\Magento\Backend\App\AbstractAction`. So if an action controller implements the `ActionInterface` but does not inherit from one of these "layer su

[2017-05-10 16:10] userseven77 commented on #9388
Yup. After flushing the cache the problem disappeared. Thanks.

[2017-05-10 16:26] LSERRE opened #9583 "Collection doesn't update after filtering by stores"
### Preconditions

1.Magento CE 2.1.6
2.PHP 7.0
3.MySQL 5.6

### Steps to reproduce

1. Helper functions:
[code]
2. Post Collection:
[code]
3. Block:

[code]

4. View:

[code]

### Expected result

1. I have only 2 posts in DB, one for each store of my website. On frontend it should render 1 article. It should also display one entry in a array with print_r

### Actual result

1. There are 2 posts

[2017-05-10 16:44] ebofi commented on #9388
thanks bro for getting me back...

We are powered by G Suite, Are't you?
<https://gsuite.google.com/intl/en_in/landing/partners/referral/trial.html?utm_source=sign-up&utm_medium=referralbutton1&utm_campaign=apps-referral-program&utm_content=hGHC7ABF>

On Wed, May 10, 2017 at 9:41 PM, userseven77 <notifications@github.com>
wrote:

[2017-05-10 16:57] korostii commented on #9583
If I were to guess, either `_renderFiltersBefore()` isn't being invoked at all, or the collection is loaded earlier than the filters get applied.

In any case, if you are looking for some help or an advice regarding development please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](http://magento.stackexchange.com/).
The GitHub issue tracker is inten

[2017-05-10 17:00] ps3z opened #9584 "re edit failed on configurable product"
Problem
The following error message was return during Magento listing creation: "The value of attribute "Color" must be unique".

Cause
Attribute color was not configured correctly in Magento admin.

Solution
Login to Magento Admin;
Go to Catalog > Attributes > Manage Attributes;
Click on Color attribute;
Select No from the Unique Value drop-down menu;
Click on Save Attribute button.

### Actual r

[2017-05-10 17:20] korostii commented on #9584
You probably have multiple simple products attached that happen to have the same value of attribute "color". Can be resolved by removing of them from the configurable product.

This is _not a bug_, such a behavior is to be expected.

[2017-05-10 17:20] VansonLeung opened #9585 "Magento 2.1.5 - Dashboard revenue / tax / shipping = zero"
Is it a bug, and how to fix it?

![2017-05-11 1 18 15](https://cloud.githubusercontent.com/assets/1129695/25911925/206ab2d4-35e8-11e7-9e8f-ccf517fca50c.png)

[2017-05-10 17:22] VansonLeung opened #9586 "Magenta 2.1.5 - How to change the Magento Admin page title?"
<img width="1280" alt="2017-05-11 1 18 32" src="https://cloud.githubusercontent.com/assets/1129695/25911944/34558da0-35e8-11e7-8fb9-62fffd7e7861.png">

How to change the above Magento Admin title? Client wants to hide "Magento Admin" from the admin panel, but I tried searching through the /vendor/magento-backend , attempted to change i18n and <title>...</title> but it still shows "Magento Admin".

[2017-05-10 17:38] gabrielqs opened #9587 "Installer does not accuse of missing php Soap extension"
### Preconditions

1. Magento 2.1.6
2. Amazon Linux
3. PHP 7.0.16
4. Amazon RDS (MariaDB)

The server was completely installed using yum, with the packages available through the official Amazon repository

### Steps to reproduce

1. Create a new Amazon linux image on AWS
2. Install php, nginx, the whole thing except the php soap extension
3. Create a new vhost, copy over the 2.1.6 release
4. Compo

[2017-05-10 17:51] khongtoan1991 commented on #9561
@gsomoza thanks. I fixed this with setup account on paypal. Thanks yoy very much!

[2017-05-10 17:51] #9561 closed, assigned to nobody

[2017-05-10 18:09] khongtoan1991 opened #9589 "Magento 2.1.0 Order confirmation emails are not sending for credit card payments, it is fine with other option"
Thank you for your valuable time to read this.

In my client store, order confirmation emails are not sending to customer or admin after placing an order successfully via credit card.

The emails are sending normally to customer and admin if the customer is paying Check / Money Order

Can you please help me on this?

[2017-05-10 18:21] GianlucaBelardinelli commented on #9508
@MattBidas Still same issue.

[2017-05-10 18:53] GuidoHub commented on #7366
Why is this problem ignored. The result is corrupt data in some tables and could give big problems in the future. You should check the delete action for web site.

[2017-05-10 19:15] danipolo commented on #6456
Any update of this issue? Same problem here changing scope from Website -> Global. The screen shows waiting and anything happens...

[2017-05-10 19:30] danipolo commented on #7876
Same problem here... in 2.1.6

[2017-05-10 20:31] rparsi-commer opened #9591 "How to fetch value of custom attribute added to Category entity?"
### Preconditions

1. Magento2 CE version 2.1
2. PHP 7.1
3. Minimal installation so that it runs, no sample data, no custom theme.
4. Using default theme (luma)

### Steps to reproduce

1. Create your own custom module that does the following:
- adds custom attribute to category entity
This non-required attribute is type `int` with source model value of `Magento\Eav\Model\Entity\Attribute\Source\B

[2017-05-10 20:38] rparsi-commer commented on #9591
@VladimirZaets ping

[2017-05-10 20:41] ezprod commented on #7298
Just an FYI I have had this error come up repeatedly as I have uploaded products. Believe it or not the problem is always the same thing. The category cell length can't exceed 250 characters. Any longer and the error appears. I simply duplicate my row and cut the category in half. First half of categories in the first row and the second half in the next one. Then everything uploads fine.

[2017-05-10 20:45] turtlecreations opened #9592 "Admin label of product swatch not used in product editor"
### Preconditions
Magento version 2.1.6, clean install without any third party extensions installed or active.

### Steps to reproduce

1. create new visual swatch attribute
2. Add values like in the screen shot. in my case I have 3 labels. Admin, storefront "nederlands" and storefront "engels"
3. Add the attribute to an new attribute set
4. create new product with the attribute set
5. pull the dr

[2017-05-10 20:52] ghost opened #9593 "Tax calculation"
### Preconditions

1. Magento CE 2.1.x
2. Php7

### Steps to reproduce

1.  Add several Products excluding taxes with following prices
2. Add a Tax rate of 19%
3. Create an Order with those given Products

### Expected result

1. The taxes are applied correctly Independent of the given qty.

### Actual result

1. Tax is calculated wrong because of precision

In Magento my Products are excluded tax

[2017-05-10 21:18] antofebin2636 commented on #9550
can i clean vendor directory only using this command rm -rf vendor/* without reinstall any other external module if so  does it effect my custome theme

[2017-05-10 21:32] erikhansen commented on #8777
I agree that this is an issue, especially for B2B merchants. This may not be the best UI, but here is one way that this the "default billing address" handling could be improved:

If a customer has a billing address that is different than their default shipping address ([for example](https://cloud.githubusercontent.com/assets/129031/25922250/1727b9be-359e-11e7-84f9-9321461e9dc9.png)) then when they

[2017-05-10 22:08] nshiff commented on #9586
(Note, this type of question is better suited to [StackOverflow](magento.stackexchange.com). This issues list is more for defects and feature requests in the framework.)

Here is a thread addressing the same question: [How to name the browser tab title magento2](https://magento.stackexchange.com/questions/134979/how-to-name-the-browser-tab-title-magento2). The only difference is that they are prob