[2020-04-30 09:18] engcom-Alfa commented on #5477
The issue is reproducible on a fresh 2.4-develop instance.

**Manual testing scenario:**

1. Enable FPT in admin; (Go to Admin->Stores->Configuration->Sales->Tax->Fixed Product Taxes);
2. Change translate to FPT `FPT,FPT(translate)` for example (app/code/Magento/Weee/i18n/en_US.csv);
3. Create simple product with FPT attribute and set value for it;
![Screenshot from 2020-04-30 12-05-32](https://us

[2020-04-30 09:23] nadroj467 commented on #25190
I have experienced same issue in Magento 2.3.3 commenting the above line as mentioned by @MatthijsBreed resolved the issue for me. Thanks

[2020-04-30 09:27] magento-engcom-team commented on #5477
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33870` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-30 09:39] silversil commented on #27942
I can override succesfully a layout for CMS page,

---> but for CATEGORY it don't works:

1) Created file "**catalog_category_view_selectable_495_uomo.xml**" (where "495" is the category ID and "uomo" is the name of the file)
2) located here **app/design/frontend/VENDOR/THEME/Magento_Catalog/layout/**
3) on backend I can't see any choice on Custom Layout Update, no way.. tryed to switch to product

[2020-04-30 09:57] gjportegies opened #28059 "Missaligned fields on the Customer Login form"
### Preconditions (*)

1. Magento CE 2.3.5-p1 vanilla without sample data is installed.
2. Magento Blank Theme is used.
3. Screen/Browser width >= 768px.

### Steps to reproduce (*)

1. Login to the admin panel.
2. Navigate to the Content -> Design -> Configuration.
3. Open the Global Store and set the applied theme to 'Magento Blank'.
4. Clean the cache(s).
5. Open the storefront and navigate to

[2020-04-30 10:06] textarea commented on #27889
@magento give me 2.4-develop instance

[2020-04-30 10:06] magento-engcom-team commented on #27889
Hi @textarea. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-30 10:07] magento-engcom-team commented on #27889
Hi @textarea, here is your [Magento instance](https://i-27889-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27889-2-4-develop.instances.magento-community.engineering/admin_540a](https://i-27889-2-4-develop.instances.magento-community.engineering/admin_540a)
Login: `013b2433` Password: `3d67fa44c6ee`
Instance will be terminated in up to 3 hours.

[2020-04-30 10:21] magento-engcom-team commented on #27949
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33871` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-30 10:43] liltbrockie commented on #21678
Hello .. we are on 2.3.3 and this issue is not fixed.. should it be?

[2020-04-30 10:46] OvalMedia commented on #26231
Calling load times in cart and checkout of around 8-10 seconds a "very good perfomance" is ludicrous.

[2020-04-30 10:47] Sutharsan27 commented on #27923
@jkbdbrnwsk In addition to the update as per my comment above, please include the issue occurs when the images are at 700 x 700 pixel

[2020-04-30 10:53] yomiojo001 commented on #28055
Please is there a quick workaround to exempt this error

[2020-04-30 10:55] jkbdbrnwsk commented on #27923
Thanks, @Sutharsan27! Done.

[2020-04-30 11:49] hemendraajmera opened #28060 "Showing only one price option for price filter on category page"
### Summary (*)

price filter not showing more option on the category page, it shows only single value.
I am using Magento 2.3.5
### Examples (*)

![ttt](https://user-images.githubusercontent.com/2478037/80706357-cf76fb00-8b05-11ea-96fa-667305d2c2bb.png)

### Proposed solution

[2020-04-30 11:55] GuiltyNL commented on #27039
@duythvn We stopped it by disabling the option of asynchronous mail sending and killing the cron job.

No message queue enabled, we found that RabbitMQ uses too much CPU resources and was also not stable enough.

[2020-04-30 12:03] engcom-Alfa commented on #27989
The issue is reproducible on fresh 2.4-develop

_**Preconditions:**_

Sample Data;
Elasticsearch 6+;

**Steps to Reproduce:**
1. Go to Storefront;
2. Go to Men->Tops->Hoodies & Sweatshirts category (for example);
3. Go to the second **2** page;
4. On filter panel choose **black** from **Color** (for example);

**Actual result:**
:heavy_multiplication_x: After applying the filter, the products are

[2020-04-30 12:05] engcom-Delta commented on #27875
Hi @dudzio12 thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop

**Steps to reproduce:**

- Create simple product with Weight=2
- Create Cart Price Rules:

![image](https://user-images.githubusercontent.com/51681379/80707503-b9ac0a80-8af2-11ea-9d64-9b4899386f82.png)
![image](https://user-images.githubusercontent.com/51681379/80707527-c597cc80-8af

[2020-04-30 12:14] magento-engcom-team commented on #27989
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33873` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-30 12:23] rvitaliy opened #28061 "Unexpected reference to \Zend\* namespace in 2.3.5-p1"
### Preconditions (*)
"magento/product-enterprise-edition": "2.3.5-p1"

### Steps to reproduce (*)
install project
find "Zend\" in path ./vendor/magento/*

### Expected result (*)
find nothing or only backward compatibility reference for \Zend\*

### Actual result (*)
find 1116 results with concrete reference for uninstalled vendros `\Zend\*`
example
`vendor/magento/framework/Console/GenerationDir

[2020-04-30 12:26] engcom-Delta commented on #27654
Hi @gilbertsohal thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
![Peek 2020-04-30 15-20](https://user-images.githubusercontent.com/51681379/80709652-4efcce00-8af6-11ea-80c8-4858aae4410e.gif)

If you'd like to update the issue, please reopen it.

[2020-04-30 12:26] #27654 closed, assigned to engcom-Delta

[2020-04-30 12:31] rvitaliy commented on #28061
same for `./setup/*` folder

[2020-04-30 12:46] engcom-Kilo commented on #7679
@magento give me 2.4-develop instance

[2020-04-30 12:46] magento-engcom-team commented on #7679
Hi @engcom-Kilo. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-30 12:47] magento-engcom-team commented on #7679
Hi @engcom-Kilo, here is your [Magento instance](https://i-7679-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-7679-2-4-develop.instances.magento-community.engineering/admin_d6c1](https://i-7679-2-4-develop.instances.magento-community.engineering/admin_d6c1)
Login: `50d1c56d` Password: `bc2a3313687e`
Instance will be terminated in up to 3 hours.

[2020-04-30 12:47] krishprakash commented on #28059
@magento give me 2.4-develop instance

[2020-04-30 12:47] magento-engcom-team commented on #28059
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-30 12:49] magento-engcom-team commented on #28059
Hi @krishprakash, here is your [Magento instance](https://i-28059-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28059-2-4-develop.instances.magento-community.engineering/admin_dbce](https://i-28059-2-4-develop.instances.magento-community.engineering/admin_dbce)
Login: `053601f6` Password: `5c9703584465`
Instance will be terminated in up to 3 hours.

[2020-04-30 12:55] kapil-infobeans commented on #26774
Folks, I got to know about the root cause of this issue from one of my colleague, It is due to some of the plugged in method in code calling an event and on event call it again goes to the plugged in method. So it become a infinite loop.

I would suggest check all plugins in code & use xdebugger to trace where the error is coming from, You will definitely find it and cab apply a fix.

[2020-04-30 13:11] alelnro1 commented on #12271
This worked for me... Thanks!

[2020-04-30 13:14] engcom-Alfa commented on #27989
#28015

[2020-04-30 13:16] paul-sysint commented on #26774
The Problem I found on Magento 2.3.5 using default Braintree Payment system seemed to be in the
 /vendor/magento/module-checkout/Model/Session.php file on line 240 `if ($this->isLoading) { `

The `$isLoading` variable is set to true on line 243 but it never gets to this as the if loop is above the setting of the variable.

I solved by uploading the Session.php file from version 2.3.3 and testing t

[2020-04-30 13:39] mrixwan-407 commented on #28057
@magento-engcom-team I did Not produce issue on  vanilla Magento instance . Actually I upgraded magento2.1 to Magento 2.3.4 so its giving issue due to invalid data. I fixed it just delete all tax rules and classes and create fresh Tax rules and classes which are working correctly.

[2020-04-30 13:39] #28057 closed, assigned to nobody

[2020-04-30 13:43] kapil-infobeans commented on #26774
@paul-sysint , cool. Can you put a log inside method: getQuote method and check how much time control goes there?

[2020-04-30 13:48] lasdou commented on #26465
Hi all,

Is there a PR to push the @nik4152 suggested and confirmed correction on the current magento version ?

[2020-04-30 13:52] djbolya commented on #26465
I think that this was very helpful

[2020-04-30 14:38] paul-sysint commented on #26774
kapil-infobeans, after adding a call to the logger function in the v2.3.3 Session.php file. It appears to call the `getQuote` method about 125 times whilst placing 1 order through Braintree on the site. but  the  order does now complete successfully on the Braintree sandbox account.

With the v2.3.5 Session.php file the ajax loader just keeps spinning it never finishes,  the "Infinite loop detecte

[2020-04-30 14:39] sdzhepa commented on #27925
Hello @vestman
fyi: @dhairya-shah, @shikhamis11

Thank you for your detailed feedback, explanation, and proof links.

I raised this issue again at the triage meeting.
After additional discussion and detailed analysis by UX specialist, quote

I will update the expected results for Issue and related PR

Thank you again and sorry for inconveniences

[2020-04-30 14:57] kapil-infobeans commented on #26774
@paul-sysint I suspected the same. So, as you can see v2.3.5 they have fixed this multiple calling issue, The actual is the plugin or event causing this looping, But that can differ based on custom code implementation or may be some third party module code has that bug.

Right now using v2.3.3 Session.php file may work for you, but as your database will increase, it will take more resources and br

[2020-04-30 15:07] paul-sysint commented on #26774
@kapil-infobeans, cheers I thought it was too easy. I'll keep looking until I find the issue before publishing update to live site. cheers for the help.

[2020-04-30 15:13] eggnukes commented on #28055
I am also experiencing this issue. I created the project using composer (Magento Community Edition).
Having the exact same problem.

[2020-04-30 15:25] sdzhepa commented on #27506
The Issue has been fixed and delivered with https://github.com/magento/magento2/pull/27603

[2020-04-30 15:25] #27506 closed, assigned to ptylek

[2020-04-30 15:29] sdzhepa commented on #27490
@magento give me 2.4-develop instance

[2020-04-30 15:30] magento-engcom-team commented on #27490
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-30 15:34] CarmineDamore78 commented on #16362
@magento give me 2.4-develop instance

[2020-04-30 15:34] magento-engcom-team commented on #16362
Hi @CarmineDamore78. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-30 15:35] magento-engcom-team commented on #27628
Hi @CarmineDamore78, here is your [Magento instance](https://i-27628-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27628-2-4-develop.instances.magento-community.engineering/admin_d53d](https://i-27628-2-4-develop.instances.magento-community.engineering/admin_d53d)
Login: `20bf5bd8` Password: `7cd7b8cf25a9`
Instance will be terminated in up to 3 hours.

[2020-04-30 15:36] magento-engcom-team commented on #16362
Hi @CarmineDamore78, here is your [Magento instance](https://i-16362-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-16362-2-4-develop.instances.magento-community.engineering/admin_2db9](https://i-16362-2-4-develop.instances.magento-community.engineering/admin_2db9)
Login: `cfac29e3` Password: `408568091abc`
Instance will be terminated in up to 3 hours.

[2020-04-30 15:43] Krapulat commented on #27942
@msyhr I've tried but it doesn't work. I inserted directly to the database.

[2020-04-30 15:51] lenaorobei commented on #28040
Confirmed with PO that is was a requirement to support both - token and session.
Sorry, but I need to close this issue.

[2020-04-30 16:14] nathanjosiah commented on #28037
Yes, `2.3.5-p1` does require strict versioning:

[code]

[2020-04-30 16:25] GDauer opened #28064 "Web Api to create customer don't validate payload data and create corrupted record"
### Preconditions (*)

1. Magento 2.3.3
2. PHP 7.2.22
3. nginx/1.10.3

### Steps to reproduce (*)

1. Send a post request to the endpoint **/rest/V1/customers**
2. In the payload send an invalid **group_id** (by default Magento has the ids: 0, 1, 2, 3)
3. **(optional)** Another strange thing is that we can send the request to create a customer without password and the api creates the register.
4.

[2020-04-30 16:26] sdzhepa commented on #27335
The issue has been fixed in https://github.com/magento/magento2/pull/27336

[2020-04-30 16:26] #27335 closed, assigned to abrarpathan19

[2020-04-30 16:28] sdzhepa commented on #27099
@magento give me 2.4-develop instance

[2020-04-30 16:28] magento-engcom-team commented on #27099
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-30 16:29] magento-engcom-team commented on #27099
Hi @sdzhepa, here is your [Magento instance](https://i-27099-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27099-2-4-develop.instances.magento-community.engineering/admin_b61e](https://i-27099-2-4-develop.instances.magento-community.engineering/admin_b61e)
Login: `e417b1bf` Password: `498cd1875ac9`
Instance will be terminated in up to 3 hours.

[2020-04-30 16:31] msyhr commented on #27942
@Krapulat make sure you're using the correct value for the DB entry (not the entire filename)

For instance, my file catalog_category_view_selectable_1869_OverstockNote.xml

Ends up looking like this in the DB (catalog_category_entity_varchar).

![image](https://user-images.githubusercontent.com/22968596/80735276-0fbe8500-8ad6-11ea-8471-5fb6c82259e7.png)

[2020-04-30 16:49] sdzhepa commented on #27072
Hello @textarea
fyi: @dmytro-ch

Could you please provide more details about the use cases and business value of this issue or what dev experience it will improve and how?

[2020-04-30 17:10] xi-ao commented on #22173
@amelojunior You might want to test this additional patch for filters:
[code]

It's still another dirty hack because some things do not seem to be very clear in the framework regarding the handling of `config` values between the `Column` and the `Filter` objects.

[2020-04-30 17:30] sdzhepa commented on #26724
@magento give me 2.4-develop instance

[2020-04-30 17:30] magento-engcom-team commented on #26724
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-04-30 17:31] magento-engcom-team commented on #26724
Hi @sdzhepa, here is your [Magento instance](https://i-26724-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26724-2-4-develop.instances.magento-community.engineering/admin_ffe4](https://i-26724-2-4-develop.instances.magento-community.engineering/admin_ffe4)
Login: `d97ac09d` Password: `b51e94b2c459`
Instance will be terminated in up to 3 hours.

[2020-04-30 17:43] sdzhepa commented on #26724
Hello @hws47a  @krishprakash

I am not able to reproduce the issue on the lates `2.4-develop` branch
Probably it was already fixed and we can close the issue
or I missed some steps

Here is how I tried: https://www.screencast.com/t/fEqQPbOEXC

[2020-04-30 18:03] CarmineDamore78 commented on #16362
Hi @magento-engcom-team
I'm sorry but I'm not allowed to reindex the instance and I'm not enable to continue the test on me 2.4-develop. I have to stop my test

[2020-04-30 18:05] ihor-sviziev commented on #16362
Here you can do reindex https://i-16362-2-4-develop.instances.magento-community.engineering/pub/testing/

[2020-04-30 18:06] Vados412 commented on #28055
I'm faced the same

[2020-04-30 18:11] CarmineDamore78 commented on #16362
Thanks @ihor-sviziev

[2020-04-30 18:12] pasturchak commented on #28055
Having the same problem, using composer.

[2020-04-30 18:13] CarmineDamore78 commented on #16362
Hi @magento-engcom-team
I confirm the issue on me2.4-develop

[2020-04-30 18:14] ihor-sviziev commented on #16362
Thank you! Just added label

[2020-04-30 18:33] CarmineDamore78 commented on #27628
Hi @magento-engcom-team
I wasn't enable to reproduce the issue on me2.4-develop

[2020-04-30 19:18] ihor-sviziev commented on #7679
Hi @vlauria,
We weren’t able to reproduce this issue on 2.4-develop branch anymore. More info https://github.com/magento/magento2/pull/27548#issuecomment-621819654
Unfortunately I don’t have exact commit(s) that fixed this issue, but as it’s not reproducing - I’m closing this issue

[2020-04-30 19:18] #7679 closed, assigned to princeantil90

[2020-04-30 19:38] nathanjosiah commented on #28037
Hello @rvitality! Thank you for opening, we are investigating this.

[2020-04-30 19:41] sahuyashu commented on #28055
Hello, I am having the same problem either by installing by cmd or by installing by the package.

Please ping me if this issue gets fixed as soon as possible

![magento 51% issue](https://user-images.githubusercontent.com/64611691/80752104-94e28200-8b48-11ea-81bf-f9a331a9fa02.png)

[2020-04-30 20:10] ihor-sviziev commented on #28061
Sorry, just closed by mistake

[2020-04-30 20:22] magento-engcom-team commented on #27656
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33893` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-30 20:24] ihor-sviziev commented on #28061
Hi @rvitaliy,
This issue was already fixed in 2.4-develop branch. Related https://github.com/magento/magento2/pull/26436 and related commits https://github.com/magento/magento2/search?p=2&q=MC-13825&type=Commits

In 2.3.5-p1 there was installed laminas/laminas-zendframework-bridge, that loads Laminas classes instead of Zend, so everything looks good.

 Think we can close this issue

[2020-04-30 20:26] #28061 closed, assigned to ihor-sviziev

[2020-04-30 20:28] magento-engcom-team commented on #27523
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33895` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-30 20:35] magento-engcom-team commented on #27355
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33896` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-04-30 20:37] vbuck commented on #19469
@MichaelThessel your solution makes it appear as though you are committing the `vendor` directory on your VCS, or else applying these as part of a deployment pipeline step.

I do agree that the lack of prioritization on this problem is a shame. If we didn't have a way to publish diffs on GitHub publicly maybe that would have forced an earlier release of the fix.

Anyway, for those who don't commit

[2020-04-30 21:18] sdzhepa commented on #26308
Hello @amenk

I do not see any progress in the internal ticket `MC-30631` Jira ticket.
Unfortunately, it still in "Ready for Dev" status

[2020-04-30 21:38] onepack commented on #26547
I cannot believe this is still open. Please update asap.

[2020-04-30 23:04] achleitner commented on #22000
Bundled product showing price as €0 when out of stock in frontend. Anyone got a fix for this? Thnx

[2020-04-30 23:23] Marcompaan commented on #25098
I experience this issue also in M2.3.5 with Cart Rules
However it only is an issue when one or more items are in a different level of the same (sub) categorie.
So:
- when I add 1 item in the cart that is over €75,- > Free Shipping is applied
- If I add another item that is in the same (sub) category level > Free Shipping is applied
- If I add another item that is in a deeper (sub) category level >

[2020-04-30 23:25] drinkingsouls commented on #12679
I am having the same issue on Magento 2.3.4.
Was there a fix for this?
<img src="https://i.ibb.co/M76Jhsr/Image2.jpg">

[2020-04-30 23:46] magento-engcom-team commented on #27503
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27515 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [862aff3c2f432aed171f3ecafcb7b62ccd5f1731](https://github.com/magento/magento2/commit/862aff3c2f432aed171f3ecafcb7b62ccd5f1731)
 - [f0d4a6d3c71a3b23dad89aa3b03e9094b719ad6c](https://github.com/magento/magento2/commit/f0d4a6d3c71a3b23dad89aa3

[2020-04-30 23:46] #27503 closed, assigned to konarshankar07

[2020-05-01 01:17] magento-engcom-team commented on #24704
Hi @adarshkhatri. Thank you for your report.
The issue has been fixed in magento/magento2#27237 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [f91aff175c6a3e4701e69601a68d3333da702e0e](https://github.com/magento/magento2/commit/f91aff175c6a3e4701e69601a68d3333da702e0e)
 - [e74825a2e2e26e5a60a9152b2f3b58921fd660e4](https://github.com/magento/magento2/commit/e74825a2e2e26e5a60a9152b

[2020-05-01 01:17] #24704 closed, assigned to engcom-Charlie

[2020-05-01 01:17] magento-engcom-team commented on #27169
Hi @maheshWebkul721. Thank you for your report.
The issue has been fixed in magento/magento2#27295 by @tna274 in 2.4-develop branch
Related commit(s):
 - [4c40dad1ca3582551a2830161e1a57fbd5c83df6](https://github.com/magento/magento2/commit/4c40dad1ca3582551a2830161e1a57fbd5c83df6)
 - [53136a261df08fbe9b1a263a6721c765014adb6c](https://github.com/magento/magento2/commit/53136a261df08fbe9b1a263a6721c

[2020-05-01 01:17] #27169 closed, assigned to nobody

[2020-05-01 01:17] magento-engcom-team commented on #27299
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27300 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [5d0c97255f83c6aead003a420a8db803a7085b2d](https://github.com/magento/magento2/commit/5d0c97255f83c6aead003a420a8db803a7085b2d)
 - [ba8d3669a7b498759023dc9518e5339764e0170b](https://github.com/magento/magento2/commit/ba8d3669a7b498759023dc9518

[2020-05-01 01:17] magento-engcom-team commented on #14080
Hi @AaronKaa. Thank you for your report.
The issue has been fixed in magento/magento2#27304 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [4da150c13e2540a886ddf1cfaf74ba9e2b167eea](https://github.com/magento/magento2/commit/4da150c13e2540a886ddf1cfaf74ba9e2b167eea)

The fix will be available with the upcoming 2.4.0 release.

[2020-05-01 01:17] magento-engcom-team commented on #26224
Hi @Serializator. Thank you for your report.
The issue has been fixed in magento/magento2#27307 by @andrewbess in 2.4-develop branch
Related commit(s):
 - [97bd66e984895f12c8f17b7f401ebf352a28805c](https://github.com/magento/magento2/commit/97bd66e984895f12c8f17b7f401ebf352a28805c)
 - [34c2b6ab29f157ca5c228a27d69018d4c69c8df9](https://github.com/magento/magento2/commit/34c2b6ab29f157ca5c228a27d690

[2020-05-01 01:17] magento-engcom-team commented on #27320
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27321 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [40155f6594c0c08b1cd0c02a820ee4203e7412d9](https://github.com/magento/magento2/commit/40155f6594c0c08b1cd0c02a820ee4203e7412d9)
 - [ace15cd3243a69d16b4cf8800da3ed59429a04c0](https://github.com/magento/magento2/commit/ace15cd3243a69d16b4cf8800d

[2020-05-01 01:17] #27320 closed, assigned to lbajsarowicz

[2020-05-01 01:17] magento-engcom-team commented on #27320
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27322 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [59987101ec2f06f71a319a65a5ea6cddc379cb44](https://github.com/magento/magento2/commit/59987101ec2f06f71a319a65a5ea6cddc379cb44)
 - [c050d91cd8db2d78a9fa6d31921e98dfe649e2bb](https://github.com/magento/magento2/commit/c050d91cd8db2d78a9fa6d3192

[2020-05-01 01:17] magento-engcom-team commented on #27320
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27323 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [7b9232adc9a211134c347b506888579ec1889e59](https://github.com/magento/magento2/commit/7b9232adc9a211134c347b506888579ec1889e59)
 - [86b27a69e11aad171102543a3b7dc074eccf377a](https://github.com/magento/magento2/commit/86b27a69e11aad171102543a3b

[2020-05-01 01:18] magento-engcom-team commented on #27335
Hi @abrarpathan19. Thank you for your report.
The issue has been fixed in magento/magento2#27336 by @abrarpathan19 in 2.4-develop branch
Related commit(s):
 - [5abd3665e5f93588670a81503e6823d11d2e0d55](https://github.com/magento/magento2/commit/5abd3665e5f93588670a81503e6823d11d2e0d55)

The fix will be available with the upcoming 2.4.0 release.

[2020-05-01 01:18] magento-engcom-team commented on #13851
Hi @gerben86. Thank you for your report.
The issue has been fixed in magento/magento2#27343 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [4046760db00a93d147b3b40609c1c0b6cdda8ca0](https://github.com/magento/magento2/commit/4046760db00a93d147b3b40609c1c0b6cdda8ca0)

The fix will be available with the upcoming 2.4.0 release.

[2020-05-01 01:18] magento-engcom-team commented on #16315
Hi @mvenghaus. Thank you for your report.
The issue has been fixed in magento/magento2#27365 by @tna274 in 2.4-develop branch
Related commit(s):
 - [fe026486e1c7d64c31ddc6f017c4f7df20b48e56](https://github.com/magento/magento2/commit/fe026486e1c7d64c31ddc6f017c4f7df20b48e56)
 - [f2a562c9516e5f20662c9bf7ff7b6f7ec72f9cb2](https://github.com/magento/magento2/commit/f2a562c9516e5f20662c9bf7ff7b6f7ec72

[2020-05-01 01:18] #16315 closed, assigned to tna274

[2020-05-01 01:18] magento-engcom-team commented on #27370
Hi @renard123. Thank you for your report.
The issue has been fixed in magento/magento2#27383 by @vasilii-b in 2.4-develop branch
Related commit(s):
 - [9a8d94d6600a1802813b9a990e448b957ca391d0](https://github.com/magento/magento2/commit/9a8d94d6600a1802813b9a990e448b957ca391d0)
 - [2ad68314bb7771ef1a552d23c39e31724ededda9](https://github.com/magento/magento2/commit/2ad68314bb7771ef1a552d23c39e3172

[2020-05-01 01:18] #27370 closed, assigned to vasilii-b

[2020-05-01 01:18] magento-engcom-team commented on #1002
Hi @SchumacherFM. Thank you for your report.
The issue has been fixed in magento/magento2#27399 by @serhiyzhovnir in 2.4-develop branch
Related commit(s):
 - [9c5528ff66f77990dd05370c8ddade8e522a4d0e](https://github.com/magento/magento2/commit/9c5528ff66f77990dd05370c8ddade8e522a4d0e)
 - [e4280560511769ad3145e6f3880c6ae3a3007d5f](https://github.com/magento/magento2/commit/e4280560511769ad3145e6f38

[2020-05-01 01:18] magento-engcom-team commented on #13689
Hi @juniorkid. Thank you for your report.
The issue has been fixed in magento/magento2#27412 by @sergiy-v in 2.4-develop branch
Related commit(s):
 - [577a27ee25312b6eed02aa528fc96505b886ab28](https://github.com/magento/magento2/commit/577a27ee25312b6eed02aa528fc96505b886ab28)
 - [76890694ccdcd6c8063cabab83c9004dc0ff2026](https://github.com/magento/magento2/commit/76890694ccdcd6c8063cabab83c9004dc

[2020-05-01 01:19] magento-engcom-team commented on #26652
Hi @chirag-wagento. Thank you for your report.
The issue has been fixed in magento/magento2#27493 by @vasilii-b in 2.4-develop branch
Related commit(s):
 - [bbc6abca6ed62419c3e8759672f32541c1dfa476](https://github.com/magento/magento2/commit/bbc6abca6ed62419c3e8759672f32541c1dfa476)

The fix will be available with the upcoming 2.4.0 release.

[2020-05-01 01:19] #26652 closed, assigned to vasilii-b

[2020-05-01 01:19] magento-engcom-team commented on #27496
Hi @vasilii-b. Thank you for your report.
The issue has been fixed in magento/magento2#27497 by @vasilii-b in 2.4-develop branch
Related commit(s):
 - [100d6f148c7dcf2f3fffdaa3991febbb4454a611](https://github.com/magento/magento2/commit/100d6f148c7dcf2f3fffdaa3991febbb4454a611)

The fix will be available with the upcoming 2.4.0 release.

[2020-05-01 01:19] #27496 closed, assigned to vasilii-b

[2020-05-01 01:19] magento-engcom-team commented on #27503
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27515 by @konarshankar07 in 2.4-develop branch
Related commit(s):
 - [862aff3c2f432aed171f3ecafcb7b62ccd5f1731](https://github.com/magento/magento2/commit/862aff3c2f432aed171f3ecafcb7b62ccd5f1731)
 - [f0d4a6d3c71a3b23dad89aa3b03e9094b719ad6c](https://github.com/magento/magento2/commit/f0d4a6d3c71a3b23dad89aa3

[2020-05-01 01:19] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27519 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [f4a554680db68f15190408b52b44c2462a710754](https://github.com/magento/magento2/commit/f4a554680db68f15190408b52b44c2462a710754)
 - [40293edf73f0156e6fe2ff18128d323e926051da](https://github.com/magento/magento2/commit/40293edf73f0156e6fe2ff1812

[2020-05-01 01:19] #27500 closed, assigned to lbajsarowicz, ihor-sviziev, cristiano-pacheco, AndreyChorniy, dmytro-ch, eduard13

[2020-05-01 01:19] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27521 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [fa5dadc1b5747b52fea2e74dde8bbaa61f4662a4](https://github.com/magento/magento2/commit/fa5dadc1b5747b52fea2e74dde8bbaa61f4662a4)
 - [0b2cf658eba09cf436e7252f6c8358bf1f7c4547](https://github.com/magento/magento2/commit/0b2cf658eba09cf436e7252f6c

[2020-05-01 01:19] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27522 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [1ee76f0d3f9a4adfd6d64ccce92c04a969efa13f](https://github.com/magento/magento2/commit/1ee76f0d3f9a4adfd6d64ccce92c04a969efa13f)
 - [45c8564a6264c37ee7c43a7862abd0f3b5216570](https://github.com/magento/magento2/commit/45c8564a6264c37ee7c43a7862

[2020-05-01 01:20] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27576 by @dmytro-ch in phpunit8 branch
Related commit(s):
 - [8aea7944ebe7f9afb51688972f7e78cd58c06fba](https://github.com/magento/magento2/commit/8aea7944ebe7f9afb51688972f7e78cd58c06fba)

The fix will be available with the upcoming  release.

[2020-05-01 01:20] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27577 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [9bdea074f03065875064672152b14780f853e137](https://github.com/magento/magento2/commit/9bdea074f03065875064672152b14780f853e137)
 - [0a1d2ecb835c8b7559334ca2e7f2b156ecbb65dd](https://github.com/magento/magento2/commit/0a1d2ecb835c8b7559334ca2e7f2b

[2020-05-01 01:20] magento-engcom-team commented on #171
Hi @colinmollenhour. Thank you for your report.
The issue has been fixed in magento/magento2#27597 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [ca0e3a1b655fa0356e69d65bd163196562c72f14](https://github.com/magento/magento2/commit/ca0e3a1b655fa0356e69d65bd163196562c72f14)
 - [1e226ffa0e382c73560eea23223d0c6a8e4d6f72](https://github.com/magento/magento2/commit/1e226ffa0e382c73560eea2

[2020-05-01 01:20] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27598 by @andrewbess in phpunit8 branch
Related commit(s):
 - [5df88812d94f9b973793fad0462296dde82c7a0f](https://github.com/magento/magento2/commit/5df88812d94f9b973793fad0462296dde82c7a0f)
 - [dce23ec99f6d67583c1560f7ec5547363d75a975](https://github.com/magento/magento2/commit/dce23ec99f6d67583c1560f7ec55473

[2020-05-01 01:20] magento-engcom-team commented on #27506
Hi @Zyles. Thank you for your report.
The issue has been fixed in magento/magento2#27603 by @ptylek in 2.4-develop branch
Related commit(s):
 - [0d1d42c362eafe7052e3863f1d5285dc1c6ca6e1](https://github.com/magento/magento2/commit/0d1d42c362eafe7052e3863f1d5285dc1c6ca6e1)

The fix will be available with the upcoming 2.4.0 release.

[2020-05-01 01:20] magento-engcom-team commented on #27607
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27606 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [1ac923d3487a7ce8f65db2bd1191a9349a77c99d](https://github.com/magento/magento2/commit/1ac923d3487a7ce8f65db2bd1191a9349a77c99d)
 - [16cb18d7edaf504e7de2899f6935d33f8fcc42d9](https://github.com/magento/magento2/commit/16cb18d7edaf504e7de2899f69

[2020-05-01 01:20] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27613 by @AndreyChorniy in phpunit8 branch
Related commit(s):
 - [b664798026833724c0d6599b49912f63c1f994e1](https://github.com/magento/magento2/commit/b664798026833724c0d6599b49912f63c1f994e1)
 - [75a116cf25516c1a651cd64c84997b9eb989e598](https://github.com/magento/magento2/commit/75a116cf25516c1a651cd64c8499

[2020-05-01 01:20] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27615 by @AndreyChorniy in phpunit8 branch
Related commit(s):
 - [a6ce9c8293767e3b24501c034dfeca7bb4173e5a](https://github.com/magento/magento2/commit/a6ce9c8293767e3b24501c034dfeca7bb4173e5a)
 - [22f1176f6f51e1e09cec099756534bbeba84b1a0](https://github.com/magento/magento2/commit/22f1176f6f51e1e09cec09975653

[2020-05-01 01:20] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27627 by @cristiano-pacheco in 2.4-develop branch
Related commit(s):
 - [5f6b2728c76f4c21977ee6d999f8c130332d4c06](https://github.com/magento/magento2/commit/5f6b2728c76f4c21977ee6d999f8c130332d4c06)
 - [16b58bc95f534aaa7631594aebf69c746a1fe1d1](https://github.com/magento/magento2/commit/16b58bc95f534aaa76315

[2020-05-01 01:21] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27637 by @srsathish92 in phpunit8 branch
Related commit(s):
 - [ed062834dead7fafd1cfc80d7ff5b87f2ab3f1ba](https://github.com/magento/magento2/commit/ed062834dead7fafd1cfc80d7ff5b87f2ab3f1ba)
 - [b3987a8eab96feac51be71afdf13422b2650dfe9](https://github.com/magento/magento2/commit/b3987a8eab96feac51be71afdf1342

[2020-05-01 01:21] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27646 by @eduard13 in phpunit8 branch
Related commit(s):
 - [498185ddd40d9fc9c5a808b4a814f6f014e8338f](https://github.com/magento/magento2/commit/498185ddd40d9fc9c5a808b4a814f6f014e8338f)
 - [256dc395ba84caf10e2bcdd3e83128650cbec512](https://github.com/magento/magento2/commit/256dc395ba84caf10e2bcdd3e83128650

[2020-05-01 01:21] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27658 by @srsathish92 in phpunit8 branch
Related commit(s):
 - [733e9d1ca1c872e057bf3cde7ce41ce2895c2064](https://github.com/magento/magento2/commit/733e9d1ca1c872e057bf3cde7ce41ce2895c2064)
 - [17663f088a665da93789783dbf5fbc8214eb11d4](https://github.com/magento/magento2/commit/17663f088a665da93789783dbf5fbc

[2020-05-01 01:21] magento-engcom-team commented on #27638
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27701 by @lbajsarowicz in 2.4-develop branch
Related commit(s):
 - [f34f8c3e3a775a0f67ab4eb5b1edea5dc83ee5c7](https://github.com/magento/magento2/commit/f34f8c3e3a775a0f67ab4eb5b1edea5dc83ee5c7)
 - [f616fd85974a003d1aa8bda9ef3009ab3ec6030b](https://github.com/magento/magento2/commit/f616fd85974a003d1aa8bda9ef

[2020-05-01 01:21] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27702 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [2928579c20f54b12d9aab57e6d6d3524f5e2f8b1](https://github.com/magento/magento2/commit/2928579c20f54b12d9aab57e6d6d3524f5e2f8b1)
 - [a6f1107115705a935adc66a86f1a70a10e9838b6](https://github.com/magento/magento2/commit/a6f1107115705a935adc66a86f1a7

[2020-05-01 01:21] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27703 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [6e35f39c9f8cef5a2e4147d9be0266baf5f9a2e9](https://github.com/magento/magento2/commit/6e35f39c9f8cef5a2e4147d9be0266baf5f9a2e9)
 - [082449373b17bb6c19114eb4a8e030f915a28fde](https://github.com/magento/magento2/commit/082449373b17bb6c19114eb4a8e03

[2020-05-01 01:21] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27704 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [7fbbdfd51b5732c7ed26bd90d9fd2847018c87eb](https://github.com/magento/magento2/commit/7fbbdfd51b5732c7ed26bd90d9fd2847018c87eb)
 - [1485671888d7e5ed735c3d6b39a37b3d928f7467](https://github.com/magento/magento2/commit/1485671888d7e5ed735c3d6b39a37

[2020-05-01 01:21] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27705 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [05873046eefae17bef5d8e07095ffcfe88d79d5b](https://github.com/magento/magento2/commit/05873046eefae17bef5d8e07095ffcfe88d79d5b)
 - [8dd4d8d521a153b212aa764e854892c6355ba7cb](https://github.com/magento/magento2/commit/8dd4d8d521a153b212aa764e85489

[2020-05-01 01:21] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27706 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [c3ca153d27ebe576181b34e7602a62fdfd0c6dd2](https://github.com/magento/magento2/commit/c3ca153d27ebe576181b34e7602a62fdfd0c6dd2)
 - [7891419050affb00e72cd03c03152fbb944e9eb5](https://github.com/magento/magento2/commit/7891419050affb00e72cd03c03152

[2020-05-01 01:21] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27707 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [1f66a10e13154c8bede1056a73a172fb05cd7d91](https://github.com/magento/magento2/commit/1f66a10e13154c8bede1056a73a172fb05cd7d91)
 - [feb74af54ca8b42dadc0dfad20077530a0fdfc0a](https://github.com/magento/magento2/commit/feb74af54ca8b42dadc0dfad20077

[2020-05-01 01:21] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27709 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [d3396d50e1db80b94ff78bce958337a06f24cfbf](https://github.com/magento/magento2/commit/d3396d50e1db80b94ff78bce958337a06f24cfbf)
 - [63aff588bb5393f19e435938038fc2c33a0e9bd8](https://github.com/magento/magento2/commit/63aff588bb5393f19e435938038fc

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27710 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [f33711474b2bbdf65d5a65f0852898e2e7a8d087](https://github.com/magento/magento2/commit/f33711474b2bbdf65d5a65f0852898e2e7a8d087)

The fix will be available with the upcoming  release.

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27711 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [9f70e5443e7b9b1cd3b660302a3a3b687a837142](https://github.com/magento/magento2/commit/9f70e5443e7b9b1cd3b660302a3a3b687a837142)
 - [5427cec195dbd2200883cdce3edef8cd8e28c39d](https://github.com/magento/magento2/commit/5427cec195dbd2200883cdce3edef

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27712 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [28d0671623a7d1f92c77677de1ceeb08d9a67d7a](https://github.com/magento/magento2/commit/28d0671623a7d1f92c77677de1ceeb08d9a67d7a)
 - [0e49f96130d9c3bcc56999f70a3f5d646dbd0185](https://github.com/magento/magento2/commit/0e49f96130d9c3bcc56999f70a3f5

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27713 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [cdcd023eb5fd554b7841cb2ab7ac3050d369e3d4](https://github.com/magento/magento2/commit/cdcd023eb5fd554b7841cb2ab7ac3050d369e3d4)
 - [129d79cad6e2040c4cc6fbfee7e057cdf496b150](https://github.com/magento/magento2/commit/129d79cad6e2040c4cc6fbfee7e05

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27714 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [96a6fb24df9a13bae118920f31ab85fb25fc7ef0](https://github.com/magento/magento2/commit/96a6fb24df9a13bae118920f31ab85fb25fc7ef0)

The fix will be available with the upcoming  release.

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27715 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [16bdfc5259ebda777ea78d605fc9e6630f139ac4](https://github.com/magento/magento2/commit/16bdfc5259ebda777ea78d605fc9e6630f139ac4)
 - [292b568fb4f505cd1b8851fcf246927b0cc32333](https://github.com/magento/magento2/commit/292b568fb4f505cd1b8851fcf2469

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27716 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [548e964d81d9367788d71538e13709d22a93db12](https://github.com/magento/magento2/commit/548e964d81d9367788d71538e13709d22a93db12)
 - [aa78a3712259351778225344eb2509f6cb497b71](https://github.com/magento/magento2/commit/aa78a3712259351778225344eb250

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27717 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [510159248c174210fc7e898f172c5cdd567f175f](https://github.com/magento/magento2/commit/510159248c174210fc7e898f172c5cdd567f175f)

The fix will be available with the upcoming  release.

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27718 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [0b2a685191d2fd42055a584cda4eece04d803c42](https://github.com/magento/magento2/commit/0b2a685191d2fd42055a584cda4eece04d803c42)
 - [cfc65f5eb73ade2c723a5a14cd1064dd4cc79f22](https://github.com/magento/magento2/commit/cfc65f5eb73ade2c723a5a14cd106

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27719 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [8f65202be93cc71df4fc330535ec436e0befc169](https://github.com/magento/magento2/commit/8f65202be93cc71df4fc330535ec436e0befc169)

The fix will be available with the upcoming  release.

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27720 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [3c2e9aabe49c1c6cc37edc21dc635e108899b94c](https://github.com/magento/magento2/commit/3c2e9aabe49c1c6cc37edc21dc635e108899b94c)
 - [a4f344573d7c0fbd79ae23d4b7d66e7427eb0e86](https://github.com/magento/magento2/commit/a4f344573d7c0fbd79ae23d4b7d66

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27721 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [bf9ab04e22fc9c1947f108fa582f932f40360182](https://github.com/magento/magento2/commit/bf9ab04e22fc9c1947f108fa582f932f40360182)
 - [61f3e7ce2d19460fdb40f11768ec13d6f0c830be](https://github.com/magento/magento2/commit/61f3e7ce2d19460fdb40f11768ec1

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27722 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [f9d329f396ec9a1bc1ffc4af6e7929dfa91aa790](https://github.com/magento/magento2/commit/f9d329f396ec9a1bc1ffc4af6e7929dfa91aa790)
 - [4f395980d483b745581fef6476c6fdb4ba6b60e8](https://github.com/magento/magento2/commit/4f395980d483b745581fef6476c6f

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27723 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [98b703d6a294053da14e6fd01c30dab8c19348e4](https://github.com/magento/magento2/commit/98b703d6a294053da14e6fd01c30dab8c19348e4)
 - [ba04db09da30018c2213c39def301915847bd42d](https://github.com/magento/magento2/commit/ba04db09da30018c2213c39def301

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27724 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [5c5375f8ff581fea30aa1b5f9ccf13f6cf0f4082](https://github.com/magento/magento2/commit/5c5375f8ff581fea30aa1b5f9ccf13f6cf0f4082)
 - [f4db5131c74b7e167113bd86448374c2f06de825](https://github.com/magento/magento2/commit/f4db5131c74b7e167113bd8644837

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27725 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [7db6679f451f2339befdf277c22fe56d54fe52e4](https://github.com/magento/magento2/commit/7db6679f451f2339befdf277c22fe56d54fe52e4)
 - [e7c02667d9d2721bd25519eafc5517e422080230](https://github.com/magento/magento2/commit/e7c02667d9d2721bd25519eafc551

[2020-05-01 01:22] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27726 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [e07ecceea394f650c2db9cd6167ca22ebd716121](https://github.com/magento/magento2/commit/e07ecceea394f650c2db9cd6167ca22ebd716121)

The fix will be available with the upcoming  release.

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27727 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [518d7d3f545237c2ff437847c41bfc4878c10f3a](https://github.com/magento/magento2/commit/518d7d3f545237c2ff437847c41bfc4878c10f3a)
 - [ce6ccdf2071bfbfe32332dff9b877f76e1d85111](https://github.com/magento/magento2/commit/ce6ccdf2071bfbfe32332dff9b877

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27728 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [bac87426eb98feb025b8d22fd9ea68032d8cbcd2](https://github.com/magento/magento2/commit/bac87426eb98feb025b8d22fd9ea68032d8cbcd2)
 - [e7f42b90beccef4d4c63c4b75a2f085e75ebce36](https://github.com/magento/magento2/commit/e7f42b90beccef4d4c63c4b75a2f0

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27729 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [9976ff8f760ee6c5e3c78f2c2413923e6afccb2b](https://github.com/magento/magento2/commit/9976ff8f760ee6c5e3c78f2c2413923e6afccb2b)

The fix will be available with the upcoming  release.

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27730 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [b46c67041fe93e13e2ab5f991b7d0b1b7abf7cf4](https://github.com/magento/magento2/commit/b46c67041fe93e13e2ab5f991b7d0b1b7abf7cf4)
 - [f493393b6eea7d917be53826387af5ca2d055138](https://github.com/magento/magento2/commit/f493393b6eea7d917be53826387af

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27731 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [105192dff1c5688922bfbcafa0232fb88140a20b](https://github.com/magento/magento2/commit/105192dff1c5688922bfbcafa0232fb88140a20b)
 - [826613ea1f39a92269cc8a210480bbc2928091cd](https://github.com/magento/magento2/commit/826613ea1f39a92269cc8a210480b

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27732 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [b54cee952d76217594a3d1370db8778c0956e1ad](https://github.com/magento/magento2/commit/b54cee952d76217594a3d1370db8778c0956e1ad)
 - [8823b8d4f5e9142e9d54a6c328e6f8d2bd8d4254](https://github.com/magento/magento2/commit/8823b8d4f5e9142e9d54a6c328e6f

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27733 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [777b432d020069c2fcfd2bcb69885e5ace86d7f9](https://github.com/magento/magento2/commit/777b432d020069c2fcfd2bcb69885e5ace86d7f9)
 - [78bdf63e44832ffabd6c87c58f2cd3b1e21c94fd](https://github.com/magento/magento2/commit/78bdf63e44832ffabd6c87c58f2cd

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27734 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [455b57d5cd9f1b3d9190c9186a03e03662101153](https://github.com/magento/magento2/commit/455b57d5cd9f1b3d9190c9186a03e03662101153)

The fix will be available with the upcoming  release.

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27735 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [b590f5e17dc11941320bf31cfe8c3b9a68e0b0ff](https://github.com/magento/magento2/commit/b590f5e17dc11941320bf31cfe8c3b9a68e0b0ff)
 - [afa526a87357faba76846bfccbb4d066f9f65622](https://github.com/magento/magento2/commit/afa526a87357faba76846bfccbb4d

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27736 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [26a84f3504ad94b80d9a638540eb16105b13bda9](https://github.com/magento/magento2/commit/26a84f3504ad94b80d9a638540eb16105b13bda9)
 - [923e66b4988d15864dae67734798df9d2a571978](https://github.com/magento/magento2/commit/923e66b4988d15864dae67734798d

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27737 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [dfd074355bec5f4d2635424e3345a889c85808e2](https://github.com/magento/magento2/commit/dfd074355bec5f4d2635424e3345a889c85808e2)
 - [c6b7bcdc905d6c28c7bf46864b82d73bb891d92c](https://github.com/magento/magento2/commit/c6b7bcdc905d6c28c7bf46864b82d

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27742 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [afca897d45dfe5286b8a5890f52eef7d9031f66e](https://github.com/magento/magento2/commit/afca897d45dfe5286b8a5890f52eef7d9031f66e)

The fix will be available with the upcoming  release.

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27743 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [2b4a67c9186b5232593c73be558ee9c0027fd70c](https://github.com/magento/magento2/commit/2b4a67c9186b5232593c73be558ee9c0027fd70c)
 - [4985c0f96053ed24c3ba75368142f8b205612ef2](https://github.com/magento/magento2/commit/4985c0f96053ed24c3ba75368142f

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27744 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [1edc43a91708e48f9dacd0f1469c27b83d5f4a3c](https://github.com/magento/magento2/commit/1edc43a91708e48f9dacd0f1469c27b83d5f4a3c)
 - [14b7f0e8054fb462b959db8e4d36941277c66094](https://github.com/magento/magento2/commit/14b7f0e8054fb462b959db8e4d369

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27745 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [2f6c1fb766d3c3e3d27cb67aea298d0c0aa428da](https://github.com/magento/magento2/commit/2f6c1fb766d3c3e3d27cb67aea298d0c0aa428da)
 - [6594887a6d0daf2c8e97d45dcdb0490d716d095e](https://github.com/magento/magento2/commit/6594887a6d0daf2c8e97d45dcdb04

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27746 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [d0d1cbb09d9b5fc70c1ff595e790cf957c19207b](https://github.com/magento/magento2/commit/d0d1cbb09d9b5fc70c1ff595e790cf957c19207b)
 - [864921a24beb80718462d0b8deccb01e13f6c8b3](https://github.com/magento/magento2/commit/864921a24beb80718462d0b8deccb

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27747 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [a561cc340202fd45c383fc5d750796e0902a4a0c](https://github.com/magento/magento2/commit/a561cc340202fd45c383fc5d750796e0902a4a0c)
 - [3dc2c063fae98558ca72657d6ca928d35710cd2c](https://github.com/magento/magento2/commit/3dc2c063fae98558ca72657d6ca92

[2020-05-01 01:23] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27748 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [83c23a5f80846d9a63cd0a0dc2f0673df8ce14fc](https://github.com/magento/magento2/commit/83c23a5f80846d9a63cd0a0dc2f0673df8ce14fc)
 - [6fcf99830a44d2790796d181ea18b3f8627815e3](https://github.com/magento/magento2/commit/6fcf99830a44d2790796d181ea18b

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27749 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [129cc15574b286ce8cb56e7448963dc04a1adcee](https://github.com/magento/magento2/commit/129cc15574b286ce8cb56e7448963dc04a1adcee)
 - [b33d9e157a5fb3bde605f4b3b4b3e6815b8e722e](https://github.com/magento/magento2/commit/b33d9e157a5fb3bde605f4b3b4b3e

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27750 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [90cad67bddd5801057be98092ef76eda48c705df](https://github.com/magento/magento2/commit/90cad67bddd5801057be98092ef76eda48c705df)
 - [427351d25b74301ad93d2751dcca68b5f51a56ba](https://github.com/magento/magento2/commit/427351d25b74301ad93d2751dcca6

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27751 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [44d2e6541386504984cbf7d34e1ea1da562787ce](https://github.com/magento/magento2/commit/44d2e6541386504984cbf7d34e1ea1da562787ce)
 - [fa2acf8d66041c72f3f45e0af36e337c7ce7bf75](https://github.com/magento/magento2/commit/fa2acf8d66041c72f3f45e0af36e3

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27752 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [50683ddf4fe3883cd719e41a97cf8eceb621bb1f](https://github.com/magento/magento2/commit/50683ddf4fe3883cd719e41a97cf8eceb621bb1f)
 - [59202f0a503823bea739d3f41ae325879e21a5ed](https://github.com/magento/magento2/commit/59202f0a503823bea739d3f41ae32

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27753 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [cbdefeae428d4221de9ed3e2645768e39f878e14](https://github.com/magento/magento2/commit/cbdefeae428d4221de9ed3e2645768e39f878e14)
 - [64a738db8bd996d2d489faee177144dfa1a232cf](https://github.com/magento/magento2/commit/64a738db8bd996d2d489faee17714

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27754 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [7839ffe6fcedbb66106bedf50c2ad2fa8fe26daa](https://github.com/magento/magento2/commit/7839ffe6fcedbb66106bedf50c2ad2fa8fe26daa)

The fix will be available with the upcoming  release.

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27755 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [2d99feddecc1b069dc3c21ee49a981106c27e7ee](https://github.com/magento/magento2/commit/2d99feddecc1b069dc3c21ee49a981106c27e7ee)

The fix will be available with the upcoming  release.

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27756 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [3cc10406eedf7e0538cbe8d3598a61c3554b2e5f](https://github.com/magento/magento2/commit/3cc10406eedf7e0538cbe8d3598a61c3554b2e5f)

The fix will be available with the upcoming  release.

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27757 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [8be663876cdfaea47377b038aa730ae273367d87](https://github.com/magento/magento2/commit/8be663876cdfaea47377b038aa730ae273367d87)
 - [0b900c8a09e174a9f99cdaa33faafbd6642bad75](https://github.com/magento/magento2/commit/0b900c8a09e174a9f99cdaa33faaf

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27759 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [fe2514c52259b4b965c2364eb437cbbfc554a78f](https://github.com/magento/magento2/commit/fe2514c52259b4b965c2364eb437cbbfc554a78f)
 - [e32e62250d2fe58e827400a904de036f3d726a53](https://github.com/magento/magento2/commit/e32e62250d2fe58e827400a904de0

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27760 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [fec18fe8b50b25f6726c3001d43eef40e520c941](https://github.com/magento/magento2/commit/fec18fe8b50b25f6726c3001d43eef40e520c941)
 - [fe66ed6db7ce1859f41c6d099c90b014b695dc33](https://github.com/magento/magento2/commit/fe66ed6db7ce1859f41c6d099c90b

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27761 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [1529791f268a0e8b81d2e1214866e98485bd8d2f](https://github.com/magento/magento2/commit/1529791f268a0e8b81d2e1214866e98485bd8d2f)
 - [86e805b9b48a4f31b1e91ee6310c724e4657c1fb](https://github.com/magento/magento2/commit/86e805b9b48a4f31b1e91ee6310c7

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27762 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [29e20aebc6d4c850625d367177b9eb4d934fe60d](https://github.com/magento/magento2/commit/29e20aebc6d4c850625d367177b9eb4d934fe60d)
 - [d2c700addb3712052a7fd084463e359242d179a6](https://github.com/magento/magento2/commit/d2c700addb3712052a7fd084463e3

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27763 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [d4c156a51ab808dfed6ee42c6c4a22bc11b7d0da](https://github.com/magento/magento2/commit/d4c156a51ab808dfed6ee42c6c4a22bc11b7d0da)
 - [0c0656af100ab20b635b7de511dd72ed01bcefe3](https://github.com/magento/magento2/commit/0c0656af100ab20b635b7de511dd7

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27764 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [41cc4abe7dace6008b9e7bfe05950183d59594ce](https://github.com/magento/magento2/commit/41cc4abe7dace6008b9e7bfe05950183d59594ce)
 - [82b6a70da4c02d4dcbc238d267dd9e895291e202](https://github.com/magento/magento2/commit/82b6a70da4c02d4dcbc238d267dd9

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27765 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [411880d4277d5049f26f9183e2edde653c21a8ab](https://github.com/magento/magento2/commit/411880d4277d5049f26f9183e2edde653c21a8ab)
 - [e3a9a80c41761f7c8ace54cc54d5c30dca4e5891](https://github.com/magento/magento2/commit/e3a9a80c41761f7c8ace54cc54d5c

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27766 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [afc98cc77d6702495f5d5629c3a94907dcf55439](https://github.com/magento/magento2/commit/afc98cc77d6702495f5d5629c3a94907dcf55439)
 - [c82007d6d756387f4b7c87d145b9f52b8f610a2c](https://github.com/magento/magento2/commit/c82007d6d756387f4b7c87d145b9f

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27767 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [e4fe348f531c4c0dbb2fd4ef68398bad7a393c33](https://github.com/magento/magento2/commit/e4fe348f531c4c0dbb2fd4ef68398bad7a393c33)
 - [c3b533c45ab97c73c6588e8a4151704a6b73a2c5](https://github.com/magento/magento2/commit/c3b533c45ab97c73c6588e8a41517

[2020-05-01 01:24] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27768 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [55281541f786d701844d0735ae8be2fee3a9f7e0](https://github.com/magento/magento2/commit/55281541f786d701844d0735ae8be2fee3a9f7e0)
 - [1c53d984ddaaec4cc3798d2b03933836e0e799b6](https://github.com/magento/magento2/commit/1c53d984ddaaec4cc3798d2b03933

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27769 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [4fdefe3c013d7ec79eaf06d392eedc8c83f5da8d](https://github.com/magento/magento2/commit/4fdefe3c013d7ec79eaf06d392eedc8c83f5da8d)
 - [958a943319a68cc6a33fb56d0625b90d98ddef1d](https://github.com/magento/magento2/commit/958a943319a68cc6a33fb56d0625b

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27770 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [291995e53d09e6d854f3d0232d74b0ca171f01e0](https://github.com/magento/magento2/commit/291995e53d09e6d854f3d0232d74b0ca171f01e0)

The fix will be available with the upcoming  release.

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27771 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [e3b6849805c16385d372d3c59b2bdeedb9083807](https://github.com/magento/magento2/commit/e3b6849805c16385d372d3c59b2bdeedb9083807)
 - [2b75bbb66f2e380bb73370f6d4c20a97b4bea899](https://github.com/magento/magento2/commit/2b75bbb66f2e380bb73370f6d4c20

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27772 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [1d8c5ea6fb22b93569a7a5569dfbaed2667e3df3](https://github.com/magento/magento2/commit/1d8c5ea6fb22b93569a7a5569dfbaed2667e3df3)
 - [ca8927d10c3313e5e699cd2cd7d91c003a07c270](https://github.com/magento/magento2/commit/ca8927d10c3313e5e699cd2cd7d91

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27773 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [5796c66706dedbc11a918e39fc585e415eb99b6f](https://github.com/magento/magento2/commit/5796c66706dedbc11a918e39fc585e415eb99b6f)
 - [a87913a7507b43681b592ea65b1fc830b03c1b6f](https://github.com/magento/magento2/commit/a87913a7507b43681b592ea65b1fc

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27774 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [038a1640decaa2233cfa192a6a84b49870b554ea](https://github.com/magento/magento2/commit/038a1640decaa2233cfa192a6a84b49870b554ea)
 - [d423d16795218dbac89546ff192c1559ae2ff548](https://github.com/magento/magento2/commit/d423d16795218dbac89546ff192c1

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27775 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [b0973da0c275c0c9eb9a989c6bc6ac641861e3f1](https://github.com/magento/magento2/commit/b0973da0c275c0c9eb9a989c6bc6ac641861e3f1)
 - [c430b263e2115ce32fd76a9bc41e9e16d029d4f2](https://github.com/magento/magento2/commit/c430b263e2115ce32fd76a9bc41e9

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27776 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [5b57e4b26d4a285dae0b26c81c4279f8f0b0e858](https://github.com/magento/magento2/commit/5b57e4b26d4a285dae0b26c81c4279f8f0b0e858)

The fix will be available with the upcoming  release.

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27777 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [00177001b07a1f31feaeaff5909fdb3988fc831e](https://github.com/magento/magento2/commit/00177001b07a1f31feaeaff5909fdb3988fc831e)
 - [386cdec703ba6cb1f89159993a0fb37e8622fe83](https://github.com/magento/magento2/commit/386cdec703ba6cb1f89159993a0fb

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27778 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [da4dacb0d4af07cbc25527c3d41a860a360a1b0e](https://github.com/magento/magento2/commit/da4dacb0d4af07cbc25527c3d41a860a360a1b0e)
 - [ad0a12976d135bfa531063781be838deae2eb93f](https://github.com/magento/magento2/commit/ad0a12976d135bfa531063781be83

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27779 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [4b9170065ca5ccf6f35f576fa64569d513154d9f](https://github.com/magento/magento2/commit/4b9170065ca5ccf6f35f576fa64569d513154d9f)

The fix will be available with the upcoming  release.

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27780 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [b07078d33db5b91b1a34d88de63d3e80caa10f18](https://github.com/magento/magento2/commit/b07078d33db5b91b1a34d88de63d3e80caa10f18)
 - [adfe32ddd2c26dcf78ae0353b1eb49c7c2ec5f63](https://github.com/magento/magento2/commit/adfe32ddd2c26dcf78ae0353b1eb4

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27781 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [caf7a29a60cb637fd4a4baa6bae8bff1e30b301d](https://github.com/magento/magento2/commit/caf7a29a60cb637fd4a4baa6bae8bff1e30b301d)

The fix will be available with the upcoming  release.

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27782 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [0a6caa94cce1ff02d2f50f8bf3f64ddf45e06fda](https://github.com/magento/magento2/commit/0a6caa94cce1ff02d2f50f8bf3f64ddf45e06fda)
 - [085dab9c6e883d276657ce7852d550374f8d6854](https://github.com/magento/magento2/commit/085dab9c6e883d276657ce7852d55

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27783 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [9d1dfa1d7c2a123dc57fb779d58fc1c70ef88f84](https://github.com/magento/magento2/commit/9d1dfa1d7c2a123dc57fb779d58fc1c70ef88f84)

The fix will be available with the upcoming  release.

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27784 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [8dce164bb881a33ab03dee6b83e8e854acbf9d33](https://github.com/magento/magento2/commit/8dce164bb881a33ab03dee6b83e8e854acbf9d33)
 - [707448bbcb555f486884bdaa9a696b7753b08020](https://github.com/magento/magento2/commit/707448bbcb555f486884bdaa9a696

[2020-05-01 01:25] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27785 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [ae8fbab6bf37b45404a9a7dd69c3eb4cafb933a7](https://github.com/magento/magento2/commit/ae8fbab6bf37b45404a9a7dd69c3eb4cafb933a7)

The fix will be available with the upcoming  release.

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27786 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [519b3be0a838d22e4fa4a4b68e3c7b8aca8283c4](https://github.com/magento/magento2/commit/519b3be0a838d22e4fa4a4b68e3c7b8aca8283c4)

The fix will be available with the upcoming  release.

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27787 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [3160e079d1a52f506becfcdd6e0563daa11c0f20](https://github.com/magento/magento2/commit/3160e079d1a52f506becfcdd6e0563daa11c0f20)
 - [a79fb44f4ade05b896b176310aa1ae1d372e6c23](https://github.com/magento/magento2/commit/a79fb44f4ade05b896b176310aa1a

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27788 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [178ae6f7bf5154c92b4c14055de39e7a6dd26223](https://github.com/magento/magento2/commit/178ae6f7bf5154c92b4c14055de39e7a6dd26223)

The fix will be available with the upcoming  release.

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27789 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [5473ee777fcb2e7b54442048665722adc08c2330](https://github.com/magento/magento2/commit/5473ee777fcb2e7b54442048665722adc08c2330)
 - [6d28d788d6be63e2c352f6b9be9b277362d77761](https://github.com/magento/magento2/commit/6d28d788d6be63e2c352f6b9be9b2

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27790 by @lbajsarowicz in 2.4-develop-php74 branch
Related commit(s):
 - [7b1425fd05aa034ee6de84f0f955b9c79b0b86f4](https://github.com/magento/magento2/commit/7b1425fd05aa034ee6de84f0f955b9c79b0b86f4)
 - [a2f366aac8dcbc7d7528e483c82e96ef0741e80f](https://github.com/magento/magento2/commit/a2f366aac8dcbc7d7528

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27791 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [0850f31651ecc9a59891a14eb4b6a3ad38387f60](https://github.com/magento/magento2/commit/0850f31651ecc9a59891a14eb4b6a3ad38387f60)
 - [8e2622785ef9bfa8b129fc3c463ae42280c6e958](https://github.com/magento/magento2/commit/8e2622785ef9bfa8b129fc3c463ae

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27792 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [980d8b197e29470213c3088541dfd5e814efad8f](https://github.com/magento/magento2/commit/980d8b197e29470213c3088541dfd5e814efad8f)
 - [e5787e681c149945fff84ce7b3863c1bbe17220d](https://github.com/magento/magento2/commit/e5787e681c149945fff84ce7b3863

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27793 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [fb60c067e6deaec70603f332e877f6538a961245](https://github.com/magento/magento2/commit/fb60c067e6deaec70603f332e877f6538a961245)
 - [f8b322a8a9b7e1acb23ee1de6f249aad35d19127](https://github.com/magento/magento2/commit/f8b322a8a9b7e1acb23ee1de6f249

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27795 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [33cca61b0d2fa624e941abafa23f832ae5ea1bd7](https://github.com/magento/magento2/commit/33cca61b0d2fa624e941abafa23f832ae5ea1bd7)
 - [131fc0d7417f80809db6634462be767f503a010d](https://github.com/magento/magento2/commit/131fc0d7417f80809db6634462be7

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27796 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [0053ce6b3d9d53483843ce8e2dff942ee3c082d2](https://github.com/magento/magento2/commit/0053ce6b3d9d53483843ce8e2dff942ee3c082d2)
 - [14d09ea8023a1eb8a81b103eb78383f79e595d0f](https://github.com/magento/magento2/commit/14d09ea8023a1eb8a81b103eb7838

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27797 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [7663226cda88d6b500adf500594a74759daf35a0](https://github.com/magento/magento2/commit/7663226cda88d6b500adf500594a74759daf35a0)
 - [3092cc18e32be9f3fef5c99dd37032170be85393](https://github.com/magento/magento2/commit/3092cc18e32be9f3fef5c99dd3703

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27798 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [0f56d0a1032e7bccf025a3cf4db4ed81abca8dda](https://github.com/magento/magento2/commit/0f56d0a1032e7bccf025a3cf4db4ed81abca8dda)

The fix will be available with the upcoming  release.

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27800 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [03488ab59b4c848208c3b96ca0c3eef58846df4b](https://github.com/magento/magento2/commit/03488ab59b4c848208c3b96ca0c3eef58846df4b)

The fix will be available with the upcoming  release.

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27801 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [27c04b33e0adfa317b5199b26a8dfc490cf86377](https://github.com/magento/magento2/commit/27c04b33e0adfa317b5199b26a8dfc490cf86377)
 - [b34a9a2a8f9657841c93b04dbca5038257b88fe9](https://github.com/magento/magento2/commit/b34a9a2a8f9657841c93b04dbca50

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27802 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [54dc4636909f4602ce56919220918e02efaf7a89](https://github.com/magento/magento2/commit/54dc4636909f4602ce56919220918e02efaf7a89)

The fix will be available with the upcoming  release.

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27803 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [805a247ab352c9c029f757f58398dd0a138a12ed](https://github.com/magento/magento2/commit/805a247ab352c9c029f757f58398dd0a138a12ed)
 - [09285326abebbce3ebef4fa3803f510ed4f6e2a8](https://github.com/magento/magento2/commit/09285326abebbce3ebef4fa3803f5

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27804 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [4e550439a50cef26fc6e792ed156c9e87b94f776](https://github.com/magento/magento2/commit/4e550439a50cef26fc6e792ed156c9e87b94f776)

The fix will be available with the upcoming  release.

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27805 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [9e56bb4c4c9ffcc62cbdfb3ab68e574b7a12e972](https://github.com/magento/magento2/commit/9e56bb4c4c9ffcc62cbdfb3ab68e574b7a12e972)

The fix will be available with the upcoming  release.

[2020-05-01 01:26] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27806 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [17572612374b1e8c1f76d3a11bac6a0b16228f88](https://github.com/magento/magento2/commit/17572612374b1e8c1f76d3a11bac6a0b16228f88)
 - [82fbd97ada3989d39be7a9fb34968f67a26090b0](https://github.com/magento/magento2/commit/82fbd97ada3989d39be7a9fb34968

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27807 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [3c6161f27c5751ad36bfa133ebaaf5a4c5bb09b5](https://github.com/magento/magento2/commit/3c6161f27c5751ad36bfa133ebaaf5a4c5bb09b5)

The fix will be available with the upcoming  release.

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27808 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [be217a86742b6ceef5233c6b3ed19116f7dc93cc](https://github.com/magento/magento2/commit/be217a86742b6ceef5233c6b3ed19116f7dc93cc)
 - [402e1a0b74f1c1a59425cbc90a9679d8f6c4c5f6](https://github.com/magento/magento2/commit/402e1a0b74f1c1a59425cbc90a967

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27809 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [89b62d90b3e80cd621aa4ce1fc70c39b7835e350](https://github.com/magento/magento2/commit/89b62d90b3e80cd621aa4ce1fc70c39b7835e350)
 - [04e2222355121d91223eacb8c9d9d29a273dea78](https://github.com/magento/magento2/commit/04e2222355121d91223eacb8c9d9d

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27810 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [b42193fb08c0952595ad68809b8d111df7a6a829](https://github.com/magento/magento2/commit/b42193fb08c0952595ad68809b8d111df7a6a829)
 - [f599248626c06424ae3a2abd3700b2e78a56cd3b](https://github.com/magento/magento2/commit/f599248626c06424ae3a2abd3700b

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27811 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [21fee047d9fa404320c3a2b7f4d121bdc60346fd](https://github.com/magento/magento2/commit/21fee047d9fa404320c3a2b7f4d121bdc60346fd)
 - [00e7a61614827bc229a28a35ae511cbf6b79698d](https://github.com/magento/magento2/commit/00e7a61614827bc229a28a35ae511

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27812 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [bd3f2521901e74585954ff29cf62e5db4d75ccc7](https://github.com/magento/magento2/commit/bd3f2521901e74585954ff29cf62e5db4d75ccc7)
 - [dd43f8cf34ca743275c7cd5899164b5a7ce4a52d](https://github.com/magento/magento2/commit/dd43f8cf34ca743275c7cd5899164

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27813 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [cd90f99da6b3ce9668e82e6f6dfbbd0535ad2669](https://github.com/magento/magento2/commit/cd90f99da6b3ce9668e82e6f6dfbbd0535ad2669)
 - [41b507ec7abbc026956fe2da9666ddfc3bbb1092](https://github.com/magento/magento2/commit/41b507ec7abbc026956fe2da9666d

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27814 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [eac7b83606a271a0dc776f1ab4eb13da646204ff](https://github.com/magento/magento2/commit/eac7b83606a271a0dc776f1ab4eb13da646204ff)

The fix will be available with the upcoming  release.

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27815 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [1804ef51108849b01f803c204f781587dbb9e8e5](https://github.com/magento/magento2/commit/1804ef51108849b01f803c204f781587dbb9e8e5)
 - [5829242bc1dafe8cf00452261c0dba36bcb5b7f9](https://github.com/magento/magento2/commit/5829242bc1dafe8cf00452261c0db

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27816 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [8141fce164c5abfbb13a47cedf9e8da4f295fb14](https://github.com/magento/magento2/commit/8141fce164c5abfbb13a47cedf9e8da4f295fb14)

The fix will be available with the upcoming  release.

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27817 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [99e517fc9cd1cb332adf1553e6f503e74a9c2ca6](https://github.com/magento/magento2/commit/99e517fc9cd1cb332adf1553e6f503e74a9c2ca6)
 - [1ad40ea947a40b2016de5d26d9804c3760238de4](https://github.com/magento/magento2/commit/1ad40ea947a40b2016de5d26d9804

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27818 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [0a5c603b870df0a7259241f9d50d28bc660cb8dd](https://github.com/magento/magento2/commit/0a5c603b870df0a7259241f9d50d28bc660cb8dd)
 - [f3fcbb867c5ccad890f510e321b18b34d38e87e0](https://github.com/magento/magento2/commit/f3fcbb867c5ccad890f510e321b18

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27819 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [b7faa405fe88fe943b589d987932c16a1fed13e5](https://github.com/magento/magento2/commit/b7faa405fe88fe943b589d987932c16a1fed13e5)
 - [91fa4e1ccbfa1d1ddf14ea9544bdd9a893d1be54](https://github.com/magento/magento2/commit/91fa4e1ccbfa1d1ddf14ea9544bdd

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27820 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [0c346ed82117f5493b3fcf9588eaa07df46e388a](https://github.com/magento/magento2/commit/0c346ed82117f5493b3fcf9588eaa07df46e388a)

The fix will be available with the upcoming  release.

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27821 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [3e84fafd06410dff5fbfe06ef3bf2105c09eb494](https://github.com/magento/magento2/commit/3e84fafd06410dff5fbfe06ef3bf2105c09eb494)

The fix will be available with the upcoming  release.

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27822 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [c29aadc0316b0ba6f48c00562768c45794c2ee82](https://github.com/magento/magento2/commit/c29aadc0316b0ba6f48c00562768c45794c2ee82)
 - [6d922fe6f16cf71c39d5c5adef39e7300fe5994f](https://github.com/magento/magento2/commit/6d922fe6f16cf71c39d5c5adef39e

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27823 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [5d2fd3d3db5b2bde01e49aef870ba0519b0fa814](https://github.com/magento/magento2/commit/5d2fd3d3db5b2bde01e49aef870ba0519b0fa814)
 - [a09b56d7ae4545ab2c18400b1afc28e96ff24ce3](https://github.com/magento/magento2/commit/a09b56d7ae4545ab2c18400b1afc2

[2020-05-01 01:27] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27824 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [02aa0ad306d653625481982d2f9c95b8dee0d7c8](https://github.com/magento/magento2/commit/02aa0ad306d653625481982d2f9c95b8dee0d7c8)
 - [4e0f00e83e3ae4bdde365d84afdd7e99a4a341a4](https://github.com/magento/magento2/commit/4e0f00e83e3ae4bdde365d84afdd7

[2020-05-01 01:28] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27825 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [d5743c7bd0397bd4f4107765f0a426d6547ebcaa](https://github.com/magento/magento2/commit/d5743c7bd0397bd4f4107765f0a426d6547ebcaa)
 - [a327ad91b845a46e6c762ef7a334bd7f3d2a3fcb](https://github.com/magento/magento2/commit/a327ad91b845a46e6c762ef7a334b

[2020-05-01 01:28] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27826 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [b1fae3c6f842da7af2218e0792466093163aba1a](https://github.com/magento/magento2/commit/b1fae3c6f842da7af2218e0792466093163aba1a)
 - [e51d8126a9bc968916d9a02a7d70383019b7252a](https://github.com/magento/magento2/commit/e51d8126a9bc968916d9a02a7d703

[2020-05-01 01:28] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27827 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [5eb9681307f126b5a90297aa8db25e00da591966](https://github.com/magento/magento2/commit/5eb9681307f126b5a90297aa8db25e00da591966)
 - [35664d517d3c33424978e7997680ba0cc23cbbca](https://github.com/magento/magento2/commit/35664d517d3c33424978e7997680b

[2020-05-01 01:29] magento-engcom-team commented on #27500
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27885 by @lbajsarowicz in phpunit8 branch
Related commit(s):
 - [9d9a59f4cde3a6fcf5921c8b84253e72ce05f8f3](https://github.com/magento/magento2/commit/9d9a59f4cde3a6fcf5921c8b84253e72ce05f8f3)

The fix will be available with the upcoming  release.

[2020-05-01 01:29] magento-engcom-team commented on #27874
Hi @WIKAWebmaster. Thank you for your report.
The issue has been fixed in magento/magento2#27886 by @shikhamis11 in 2.4-develop branch
Related commit(s):
 - [faaec185511ccd0d8ca2797c5ea281894522df84](https://github.com/magento/magento2/commit/faaec185511ccd0d8ca2797c5ea281894522df84)
 - [49dc77b9e76e3964ec10a4428bfe7ffd319f2e16](https://github.com/magento/magento2/commit/49dc77b9e76e3964ec10a4428b

[2020-05-01 01:29] magento-engcom-team commented on #25769
Hi @Alwafaa123. Thank you for your report.
The issue has been fixed in magento/magento2#27887 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [41ab016487843b3e19d339111e719f6916816082](https://github.com/magento/magento2/commit/41ab016487843b3e19d339111e719f6916816082)
 - [876519b67486f0d49649fa60105b3dc60bf11c20](https://github.com/magento/magento2/commit/876519b67486f0d49649fa60105b

[2020-05-01 01:29] magento-engcom-team commented on #27920
Hi @hostep. Thank you for your report.
The issue has been fixed in magento/magento2#27926 by @hostep in 2.4-develop branch
Related commit(s):
 - [06352384a2e40c246cb7e820b2ef717ca408b935](https://github.com/magento/magento2/commit/06352384a2e40c246cb7e820b2ef717ca408b935)

The fix will be available with the upcoming 2.4.0 release.

[2020-05-01 01:29] magento-engcom-team commented on #27897
Hi @lbajsarowicz. Thank you for your report.
The issue has been fixed in magento/magento2#27955 by @engcom-Echo in 2.4-develop branch
Related commit(s):
 - [86ed309a4d29af95276fe309321ca1d4d6d5105f](https://github.com/magento/magento2/commit/86ed309a4d29af95276fe309321ca1d4d6d5105f)
 - [659e3bbfb8722ea2e9d3a96d0ce142492d587d91](https://github.com/magento/magento2/commit/659e3bbfb8722ea2e9d3a96d0ce

[2020-05-01 01:29] magento-engcom-team commented on #1270
Hi @sivajik34. Thank you for your report.
The issue has been fixed in magento/magento2#27976 by @engcom-Charlie in 2.4-develop branch
Related commit(s):
 - [ac3aa709a6fbb9b7f3aa603fdf296e7cc7b35b07](https://github.com/magento/magento2/commit/ac3aa709a6fbb9b7f3aa603fdf296e7cc7b35b07)

The fix will be available with the upcoming 2.4.0 release.

[2020-05-01 02:00] HirokazuNishi opened #28066 "Csp module enhancement"
### Description (*)
Csp module is bundled in Magento 2.3.5 and later, but it causes really noisy error messages when we enable browser's developer tool. This situation is caused by "no report-uri" value in CSP header.

### Expected behavior (*)
Current  default CSP header mode is "report only", but it should be used in developer mode. CSP header should be disabled in other modes by default. Also t

[2020-05-01 04:35] krishprakash commented on #26724
@magento give me 2.4-develop instance

[2020-05-01 04:35] magento-engcom-team commented on #26724
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-01 04:37] magento-engcom-team commented on #26724
Hi @krishprakash, here is your [Magento instance](https://i-26724-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-26724-2-4-develop.instances.magento-community.engineering/admin_aa02](https://i-26724-2-4-develop.instances.magento-community.engineering/admin_aa02)
Login: `a3a93b11` Password: `ff44094860dc`
Instance will be terminated in up to 3 hours.

[2020-05-01 04:46] krishprakash commented on #26724
@hws47a @sdzhepa closing this issue as not able to reproduce on latest latest 2.4-develop branch

[2020-05-01 04:46] #26724 closed, assigned to bruvinsky

[2020-05-01 07:28] devendrant commented on #24654
Issue is still there. Please reopen this bug.

[2020-05-01 07:50] baltechies commented on #27872
@engcom-Echo Please check this.
[Soscodes.zip](https://github.com/magento/magento2/files/4562931/Soscodes.zip)

[2020-05-01 07:53] baltechies commented on #27872
@engcom-Echo Also there is an error temando account ID error in exception file. I am using magento 2 sample data.
 [2020-05-01 07:45:54] temando.CRITICAL: "accountId" is required. Enter and try again. {"exception":"[object] (Magento\\Framework\\Exception\\InputException(code: 0): \"accountId\" is required. Enter and try again. at /Users/apple/Sites/m2-practice/vendor/magento/framework/Exception/In

[2020-05-01 09:03] Krapulat commented on #27942
@msyhr

SELECT * FROM eav_attribute WHERE attribute_code = 'custom_layout_update_file';  => attribute_id=815 for "Magento\Catalog\Model\Category\Attribute\Backend\LayoutUpdate"

I have the file catalog_category_view_selectable_26_sub.xml and I see "sub" in the category backend for option "Custom Layout Update". So the file is ok.

And this is the result for "select * from catalog_category_entity_v

[2020-05-01 09:11] shintusingh commented on #26802
It still gives error Failed to load the "AuthorizeNet_CreditCard/js/view/payment/method-renderer/creditcard" component after installing the module authorize.net from the marketplace because authorize.net is deprecated in 2.3.4.
![image](https://user-images.githubusercontent.com/61272772/80795312-c34c7580-8bb9-11ea-9ad8-69f8d6273eae.png)

[2020-05-01 09:28] franckgarnier21 commented on #25483
Hello,

Any update or information where we can apply an hotfix ?

Thanks,

[2020-05-01 11:01] hugoruivo commented on #25483
Hi,

I ended up doing a "dirty" quick fix for this.

By doing an override of: "Magento_Braintree/js/view/payment/3d-secure"

Then removing Special characters on the billingAddress givenName and surname from the validate function ( when I say removing it means changing the special char to the ASCII equivalent ex: ó -> o ).

[2020-05-01 12:44] udittakwani opened #28067 "Magento2 Export not working"
### Preconditions (*)

1.Magento version 2.3.5-p1
2.Having More than 2.5 lakhs products

### Steps to reproduce (*)

1.Exporting the product using magneto export function
2.It is showing "Message is added to queue, wait to get your file soon. Make sure your cron job is running to export the file"

### Expected result (*)

1. After run Cron command from CLI it should show CSV for download
2.

### A

[2020-05-01 12:53] udittakwani commented on #28067
@magento give me 2.4-develop instance

[2020-05-01 12:53] magento-engcom-team commented on #28067
Hi @udittakwani. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-01 12:54] magento-engcom-team commented on #28067
Hi @udittakwani, here is your [Magento instance](https://i-28067-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28067-2-4-develop.instances.magento-community.engineering/admin_e400](https://i-28067-2-4-develop.instances.magento-community.engineering/admin_e400)
Login: `7ec92e71` Password: `6344cf73249b`
Instance will be terminated in up to 3 hours.

[2020-05-01 13:01] udittakwani commented on #28067
I am new to all this thing i tried exporting the csv using the magneto instance provided btu how can i run cron for it since i am not able to see it exported on that page

[2020-05-01 13:08] hemendraajmera opened #28068 "Configurable product not showing price on category and product page"
### Preconditions (*)

1. using Magento 2.3.5-p1
2. added new configurable product with two product

### Steps to reproduce (*)

1. after adding configurable products with two products and provide stock and status as in stock. on the category page, it showing price and on product detail page it showing option and price
![image](https://user-images.githubusercontent.com/2478037/80807318-7a58e900-8b

[2020-05-01 13:50] WED2B opened #28069 "Magento2.2.2 SOAP API salesInvoiceOrderV1 Not Able To Create Partial Invoice."
### Preconditions (*)

1.Magento.2.2.2 installed
2.Setup Create New Integration to be used for API calls.

### Steps to reproduce (*)

1- Set up a Payment to **Authorise** only. E.G _Braintree_.
2- Place an order with multiple different item in you basket at least 2 of them.
3- check order items should be Ordered.
4.Using PostMan place the relevant details : Select **Post**  http://dev.test.com/so

[2020-05-01 14:25] nathanjosiah commented on #28066
Hello @shikhamis11. This is expected behavior. We have plans of rolling out a reporting endpoint but this feature is not as simple it would seem to be. For now, it is expected to have your own endpoint if you wish to use the feature. I would recommend https://report-uri.com/

[2020-05-01 14:27] matthew99 commented on #26573
Oh yes!, thank you @hostep ! I could not compile when updated from 2.3.3 to 2.3.5 due to the digitalgroup-chat module giving errors. You replace command did the trick!

Every update, there's just some junk throwing errors! I could not agree more to keep the core clean (and fragile as it is).

[2020-05-01 14:40] convenient commented on #25076
I've arrived at this issue via a different problem.

Emails via Amazon SES are failing completely with the following error

[code]

This is because the header is now like the following (introduced in https://github.com/magento/magento2/pull/19978)
[code]

This is not compatible with Amazon SES  because it is not Q-encoded I think

I've worked around this for now with a composer patch doing the fol

[2020-05-01 15:13] magento-engcom-team commented on #27833
Hi @ajithkumar-maragathavel. Thank you for your report.
The issue has been fixed in magento/magento2#27834 by @ajithkumar-maragathavel in 2.4-develop branch
Related commit(s):
 - [a11126d08eae713e49b547f3cd27aeaccf6c0b53](https://github.com/magento/magento2/commit/a11126d08eae713e49b547f3cd27aeaccf6c0b53)

The fix will be available with the upcoming 2.4.0 release.

[2020-05-01 15:13] #27833 closed, assigned to ajithkumar-maragathavel

[2020-05-01 15:21] webkul-dhananjay opened #28071 "Getting issue if a simple product already added in cart and making that configurable product from back-end and proceed for checkout to that added product."
### Preconditions (*)

- Magento 2.4.0
- Magento version 2.3.5p1
- Php- 7.3.14
- Simple product is created

### Steps to reproduce (*)

1. Add the previously created simple product to cart
2. Click on the "Proceed to Checkout" button via mini-cart
3. Wait until "Shipping Address" page loaded
4. Go to Admin Panel and open the simple product for editing
5. Add configurations to the product (type of

[2020-05-01 15:58] LuisPinto commented on #28055
same

[2020-05-01 16:10] drinkingsouls commented on #12679
Thought I'd follow this up for anyone looking for solutions.
For some reason my vendor/magento/module-tax/view/frontend/web/js/view/checkout was empty. I restored the files from a backup.
Ran composer update after.

[2020-05-01 16:17] gwharton commented on #25076
The header has been removed completely in 2.3.5!!!! Lets hope it gets added back soon when laminas-mail fix the underlying issue, although the above fix is a perfect workaround in the meantime.

@sidolov Sorry for the username tag, but not sure if Magento has an eye on this one. The actual fix that was merged into 2.3 some months back, and was released to the wild in 2.3.5 for the first time remov

[2020-05-01 16:26] convenient commented on #25076
@gwharton My change to tweak the encoding of the header is deployed in production with no issues so far, I will update if I see any issues but I hope I won't.

Agreed, completely removing the header seemed like the wrong move to me. As mentioned above https://github.com/laminas/laminas-mail/pull/31 should hopefully fix this eventually.

[2020-05-01 17:24] exdiogene commented on #24942
I had the same exact issue with my recent plain installation of Magento 2.3.4, after any login you received a 404 page because the URL was wrong.

Magento is installed in the directory "magento2" over my root domain, I temporarily corrected the issue with a redirection in root .htaccess to the proper directory because it previously was redirecting to the root.

Previous behavior after changing sto

[2020-05-01 17:44] achleitner commented on #8640
Any chance you woulf know how to do the same for Bundled Prodcuts that have a sub product out of stock. It shows Price as 0,00 Magento 2.3.4 Any help appreciated!

[2020-05-01 17:55] shikhamis11 commented on #28060
@magento give me 2.3.5 instance

[2020-05-01 17:55] magento-engcom-team commented on #28060
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.5 instance for you

[2020-05-01 17:57] magento-engcom-team commented on #28060
Hi @shikhamis11, here is your [Magento instance](https://i-28060-2-3-5.instances.magento-community.engineering).
Admin access: [https://i-28060-2-3-5.instances.magento-community.engineering/admin_3b8a](https://i-28060-2-3-5.instances.magento-community.engineering/admin_3b8a)
Login: `da36fd22` Password: `7394a57563e0`
Instance will be terminated in up to 3 hours.

[2020-05-01 18:02] shikhamis11 commented on #28060
hello @hemendraajmera
I checked this issue at 2.3.5 instance but not able to reproduce this issue.
Please check
![image](https://user-images.githubusercontent.com/25526037/80829028-fae00f80-8c03-11ea-9b49-d11afa69eb2c.png)

[2020-05-01 18:02] #28060 closed, assigned to shikhamis11

[2020-05-01 18:16] shikhamis11 commented on #27995
@magento give me 2.4-develop instance

[2020-05-01 18:16] magento-engcom-team commented on #27995
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-01 18:16] shikhamis11 commented on #27995
@magento give me 2.3.4 instance

[2020-05-01 18:16] magento-engcom-team commented on #27995
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-05-01 18:16] gwharton commented on #25076
And to revert the change introduced in 2.3.5 which removes the disposition header altogether.

composer patch for magento/module-framework

[code]

[2020-05-01 18:17] magento-engcom-team commented on #27995
Hi @shikhamis11, here is your [Magento instance](https://i-27995-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27995-2-4-develop.instances.magento-community.engineering/admin_b6dc](https://i-27995-2-4-develop.instances.magento-community.engineering/admin_b6dc)
Login: `9d741386` Password: `3355560ff913`
Instance will be terminated in up to 3 hours.

[2020-05-01 18:24] nthurston opened #28073 "CatalogCategoryLink API Elasticsearch index not refreshed"
### Preconditions (*)

1. Magento 2.3.4
2. Search Engine: Elasticsearch 6.0
3. Indexes: On Schedule

### Steps to reproduce (*)

1. Call catalogCategoryLink API to add a product to a category

### Expected result (*)

1. Product should be visible in the category after cron index

### Actual result (*)

1. Product is not visible in the category until a manual reindex of catalog_category_product ind

[2020-05-01 18:26] shikhamis11 commented on #27995
hi @ShelburneCountryStore
I tried reproducing this issue at 2.4-develop instance but it seems the chart view is changed on 2.4-develop instance also it is showing correct quantity there
![image](https://user-images.githubusercontent.com/25526037/80830831-51028200-8c07-11ea-8b7d-e434cf96bd17.png)

[2020-05-01 18:33] shikhamis11 commented on #27995
@magento give me 2.3.4 instance

[2020-05-01 18:33] magento-engcom-team commented on #27995
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-05-01 18:34] magento-engcom-team commented on #27995
Hi @shikhamis11, here is your [Magento instance](https://i-27995-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-27995-2-3-4.instances.magento-community.engineering/admin_f75d](https://i-27995-2-3-4.instances.magento-community.engineering/admin_f75d)
Login: `2bcc3d69` Password: `991792607e4f`
Instance will be terminated in up to 3 hours.

[2020-05-01 18:39] shikhamis11 commented on #27995
but I got the same type issue at 2.3.4 instance
![image](https://user-images.githubusercontent.com/25526037/80831851-27e2f100-8c09-11ea-998d-dd477585ad8c.png)

[2020-05-01 18:48] lbajsarowicz opened #28074 "No "Best Practice" way to load block for specific scope"
### Summary (*)
Repositories were expected to fulfil the business needs. Collections and ResourceModels should be avoided as much as it's possible. So... I'm surprised that there was no business need to introduce scope support to BlockRepositoryInterface.

You can say: "Use SearchCriteriaBuilder, bastard!". Actually - it's not the solution. Why? Because it does not support the fallback mechanism (

[2020-05-01 18:52] lbajsarowicz commented on #28074
OK. There is `\Magento\Cms\Api\GetBlockByIdentifierInterface::execute` since `2.3`, but it's not being used by Magento (lol)

[2020-05-01 18:52] #28074 closed, assigned to nobody

[2020-05-01 18:59] magento-engcom-team commented on #28064
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33923` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-01 19:41] omerfademir commented on #28055
I found a workaround for Windows OS. Image Adapter try opens to image files ('open function in Gd2.php line 63). validateURLScheme function return false always because it checking 'URL' format but local files not valid for this format, so it returns false.

Find validateURLScheme function in vendor\magento\framework\Image\Adapter\Gd2.php file. at line 96. Replace function with this:

[code]

Retry

[2020-05-01 20:04] mattcoz commented on #19463
Also running into this issue, why was this closed?

[2020-05-01 20:23] vovayatsyuk opened #28075 "'illegal offset type' warning in MutableScopeConfig"
### Preconditions (*)

1. All magento versions. I used Magento 2.3.4.

### Description

The problem is that [MutableScopeConfig::getValue](https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/App/MutableScopeConfig.php#L32) may [receive](https://github.com/magento/magento2/blob/2.4-develop/lib/internal/Magento/Framework/App/Config.php#L70) `\Magento\Framework\App\Sco

[2020-05-01 20:53] DominicWatts commented on #21144
@magedev218 the solution is to set to NO. With the option set to YES Magento is trying to validate the VAT ID - it's failing and reverting the customer group to default. This also affected customer group specific price rules on frontend for me.

[2020-05-01 21:03] MichaelThessel commented on #19469
@vbuck Thanks for pointing this out. I wasn't aware of the possibility to patch with composer. I went down the route you suggested and it works great. In case someone wants to implement this and has their Magento core modules in vendor here is the patch with the paths corrected:

[2020-05-01 21:46] sshymko commented on #26184
@nagrgk
We've experienced the issue with the queries `INSERT INTO search_tmp_*` overloading the MySQL database hosted at AWS. Normally, such queries execute very quickly in under ~10ms. However, occasionally dramatic and prolonged spikes are observed in the New Relic APM.
![DoHDkDbU8AEhqKR](https://user-images.githubusercontent.com/1231423/80843358-fd694780-8bb8-11ea-8aa7-0de7adff8e7a.jpeg)

**The

[2020-05-01 22:31] sshymko commented on #26184
Related bug #9807

[2020-05-02 04:36] LiamKarlMitchell commented on #5612
What version of Magento 2 was this fixed in officially?

[2020-05-02 06:33] duythvn commented on #27039
thanks @GuiltyNL we also did the same, monitoring the results, this is an annoying issue

[2020-05-02 07:20] Jilco opened #28076 "Magento 2.3.5-p1 Free shipping method does not count digital amount"
### Preconditions (*)

1. Magento 2.3.5-p1

### Steps to reproduce (*)

1. Make shipping method Free Shipping with minimum order amount 50
2. Make product that use decimals and is 12,95 per unit
3. Order 4,5 of it

### Expected result (*)

1. Free shipping has to be vissible in cart and checkout

### Actual result (*)

1. Free shipping is not visible
2. When amount is 5 the method is vissible

[2020-05-02 07:21] Jilco commented on #28076
@magento give me 2.3.5-p1 instance

[2020-05-02 07:21] magento-engcom-team commented on #28076
Hi @Jilco. Thank you for your request. I'm working on Magento 2.3.5-p1 instance for you

[2020-05-02 07:23] magento-engcom-team commented on #28076
Hi @Jilco, here is your [Magento instance](https://i-28076-2-3-5-p1.instances.magento-community.engineering).
Admin access: [https://i-28076-2-3-5-p1.instances.magento-community.engineering/admin_07ef](https://i-28076-2-3-5-p1.instances.magento-community.engineering/admin_07ef)
Login: `08678882` Password: `aee91cb02cdf`
Instance will be terminated in up to 3 hours.

[2020-05-02 07:31] Jilco commented on #28076
Reproduced

![Order-amount](https://user-images.githubusercontent.com/23727130/80858140-a6ff1600-8c57-11ea-8cad-49f0f35f0eb9.jpg)
![no-free-shipping](https://user-images.githubusercontent.com/23727130/80858144-ac5c6080-8c57-11ea-8ca1-4dbcdd16debd.jpg)

[2020-05-02 07:43] Jilco commented on #28076
Figured out that it does not calculates the tax in the shipping method. So the amount excluding tax has to be 50 (and thats not correct, the amount included tax has to be 50)

[2020-05-02 09:08] mrixwan-407 opened #28077 "Magento 2.3.4 update product attributes in bulk is not working"
### Preconditions (*)

1.magento 2.3.4
### Steps to reproduce (*)

1.Catalog->Products->Select All Products-> Update attributs ->Update Tax Class -> None to Tex-able

### Expected result (*)

1. Every Products Tax class should be updated

### Actual result (*)

1.Nothing Update Just show a message "Message is added to queue"
2.

[2020-05-02 09:09] mrixwan-407 commented on #28077
@magento give me Magento 2.3.4 instance

[2020-05-02 09:10] mrixwan-407 commented on #28077
yes

[2020-05-02 09:25] mrixwan-407 commented on #28077
@magento-engcom-team yes

[2020-05-02 09:25] mrixwan-407 commented on #28077
@magento give me 2.4-develop instance

[2020-05-02 09:25] magento-engcom-team commented on #28077
Hi @mrixwan-407. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-02 09:27] magento-engcom-team commented on #28077
Hi @mrixwan-407, here is your [Magento instance](https://i-28077-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28077-2-4-develop.instances.magento-community.engineering/admin_6c40](https://i-28077-2-4-develop.instances.magento-community.engineering/admin_6c40)
Login: `ece7ba89` Password: `b2c9c850ac11`
Instance will be terminated in up to 3 hours.

[2020-05-02 09:29] hostep commented on #28077
@mrixwan-407: make sure queue consumer processes run, otherwise the messages in the queue won't be picked up.

The consumers are normally spawned by the cronjobs, so make sure those are running.
If they are running, then make sure your configuration in the `app/etc/env.php` file is correct and don't block the consumers from spawning, see the documentation: https://devdocs.magento.com/guides/v2.3/c

[2020-05-02 11:07] mrixwan-407 commented on #28077
@hostep  Thanks I fix it by your reference.

[2020-05-02 11:07] #28077 closed, assigned to nobody

[2020-05-02 11:17] WED2B commented on #28069
Closing this as Tags such as this : `order_item_id` should be `CamelCase` it's not clear that REST uses underscore and soap uses CamelCase.

Thanks
JV

[2020-05-02 11:17] #28069 closed, assigned to nobody

[2020-05-02 11:23] dionpapanik opened #28078 "admin panel: Can't mass delete more customers than the limit of pagination"
### Preconditions (*)

1. Clean installation of Magento 2.3.1 in developer mode

### Steps to reproduce (*)

1. Login to admin of an installation with many customer accounts and go to the Customers Section (Customers > All Customers)
2. Select all Customers for mass delete (Dropdown arrow > Select All) https://prnt.sc/s9mhut
3. Select Actions > Delete
4. Confirmation message appears with the corre

[2020-05-02 13:01] ajithkumar-maragathavel commented on #28064
@magento give me 2.4-develop instance

[2020-05-02 13:01] magento-engcom-team commented on #28064
Hi @ajithkumar-maragathavel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-02 13:02] magento-engcom-team commented on #28064
Hi @ajithkumar-maragathavel, here is your [Magento instance](https://i-28064-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28064-2-4-develop.instances.magento-community.engineering/admin_0570](https://i-28064-2-4-develop.instances.magento-community.engineering/admin_0570)
Login: `c967ebf9` Password: `2ffe3e105b77`
Instance will be terminated in up to 3 hours.

[2020-05-02 13:22] ajithkumar-maragathavel commented on #28064
@magento I am working on this

[2020-05-02 14:39] hemendraajmera commented on #23196
after using
composer require interjar/module-configurable-child-visibility
bin/magento module:enable Interjar_ConfigurableChildVisibility
facing issue as  Interjar\ConfigurableChildVisibility\Plugin\Model\ResourceModel\Attribute\InStockOptionSelectBuilder
Missed required argument stockConfig in parent::__construct call. File:/vendor/interjar/module-configurable-child-visibility/Plugin/Model/Resour

[2020-05-02 15:00] aliuosio commented on #23196
@hemendraajmera:
The bug was fixed in the latest Magento 2 version.
No need for this extension anymore.
Throw it out and update to Magento 2.3.5-p1.

[2020-05-02 15:49] mattcoz commented on #28055
I ran into a problem with that function when running catalog:images:resize. My solution was to add a check for the length of the scheme, to allow for Windows drive letters.

[code]

This function was added in 2.3.4-p2.

[2020-05-02 16:51] ajithkumar-maragathavel commented on #27019
@magento give me 2.4-develop instance

[2020-05-02 16:51] magento-engcom-team commented on #27019
Hi @ajithkumar-maragathavel. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-02 16:52] magento-engcom-team commented on #27019
Hi @ajithkumar-maragathavel, here is your [Magento instance](https://i-27019-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27019-2-4-develop.instances.magento-community.engineering/admin_3fe4](https://i-27019-2-4-develop.instances.magento-community.engineering/admin_3fe4)
Login: `2376d8e6` Password: `847018470cbf`
Instance will be terminated in up to 3 hours.

[2020-05-02 17:54] ajithkumar-maragathavel commented on #27019
@magento I am working on this

[2020-05-02 18:35] matthew99 opened #28080 "Varnish cache and language switcher"
### Preconditions (*)

1. Magento version 2.3.5 on dev server cloudways / digital ocean
2. Varnish v4

### Steps to reproduce (*)

1. Created 4 languages store views
2. Configured Varnish correctly (hit reported)
3. Change language (i.e. FR) load homepage
4. Change language Again (UK)
5. Click home logo or refresh a few times. Or visit another page and come back to home page and refresh. Diffferen

[2020-05-02 19:04] lbajsarowicz opened #28081 "WIP: PHP 7.4 Errors, invalid implementations, other issues"
### Preconditions (*)

[code]

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-05-02 19:14] BiteSPT commented on #16419
https://youtu.be/1qE2VbZnb-s Spanish solution but it works

[2020-05-02 20:02] gigadesign1 commented on #23761
This issue should be re-opened.

I was also able to reproduce on Safari, but I can't reproduce it on Firefox and Chrome.

It's Javascript. The lines of code are not executed in the same order on every browser and or machine, so your 'we cannot reproduce' doesn't mean that the bug doesn't exist.

And in addition to the report; it also happens when the 'in-context' mode is set to no.

[2020-05-02 21:55] exdiogene commented on #5820
Now it is May 2020 and version 2.3.4 still have the same exact issue!

"Minimum length of this field must be equal or greater than 8 symbols. Leading and trailing spaces will be ignored." cannot be translated. Neither other similar messages...

Is it normal to have issues like this dating from 4 years ago and still not resolved?

[2020-05-02 21:57] lbajsarowicz commented on #28081
After first iteration:
[code]

[2020-05-02 22:18] mrtuvn commented on #27684
i'm not a part of magento team so i can't help you
Seem this problem related with customises and not related with magento code
I'm not sure what you are going to do here

Tested in my setup local (clean magento 2.4-develop + sample data) no use any additional code
category women/tops-women/jackets-women.html (all products is configurable)
Grid mode default
Products per Page on Grid Allowed Values

[2020-05-02 22:34] mrtuvn commented on #28055
https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html
hi guy why do you try to install magento in windows when it's already not support. Check the link above
Please install linux instead

[2020-05-02 22:54] lbajsarowicz commented on #28081
[code]

[2020-05-02 23:02] variax20 commented on #28055
@mrtuvn Actually this is entirely possible. I have just this minute installed Magento 2 on Windows 10 using Xampp and the reason I ended up here, was due to having the errror reoprted in the issue. Needless to say the fix worked perfectly 😃

[2020-05-02 23:41] mrtuvn commented on #28042
@gaiterjones I have seen quite a lot open PR around this topic (tier price) for both backend and frontend. Not sure it's can solve your problem
Filter with component: ConfigurableProduct

One open PR for server rendering swatch and also other fixes :)

[2020-05-03 05:26] mrtuvn commented on #28055
In fact i think this problem already fixed in latest code base in 2.4. Not try to install magento in windows and it's will never be

[2020-05-03 07:25] gaiterjones commented on #28042
@mrtuvn thanks for your comments. I will close this due to lack of interest. I have implemented my own fix using the code I posted above.

[2020-05-03 07:25] #28042 closed, assigned to nobody

[2020-05-03 09:47] krishprakash commented on #28078
@magento give me 2.4-develop instance

[2020-05-03 09:47] magento-engcom-team commented on #28078
Hi @krishprakash. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-03 09:47] mrtuvn commented on #27540
@kazamta seem core magento team already fixed issue in 2.4-develop branch code base internally
The root cause related Session lost after switching stores on different domains

[2020-05-03 09:48] magento-engcom-team commented on #28078
Hi @krishprakash, here is your [Magento instance](https://i-28078-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28078-2-4-develop.instances.magento-community.engineering/admin_cdc8](https://i-28078-2-4-develop.instances.magento-community.engineering/admin_cdc8)
Login: `c91b8fbb` Password: `49f3b019cd2e`
Instance will be terminated in up to 3 hours.

[2020-05-03 09:50] mrtuvn commented on #27540
https://github.com/magento/magento2/commit/68770d182cfa085dc3fc2361d4bcd4fd06a30dc3
@kazamta here is commit

[2020-05-03 09:55] krishprakash commented on #28078
Hi @dionpapanik. Thank you for your report.
Can not able to reproduce the issue on latest instance
Issue is already fixed in 2.3.4 instance, Refer PR #15935

[2020-05-03 09:55] #28078 closed, assigned to krishprakash

[2020-05-03 10:50] kamzata commented on #27540
Just I tiny change :). Thanks @mrtuvn, good to know. I hope it will works well in the next release.

[2020-05-03 13:55] frilogg opened #28087 "Installation seems stucked at 76% but it does finish"
### Preconditions (*)

1. Magento Version 2.3.5.-1p
2. Centos 7.8, Mysql 5.7.30, PHP 7.3.17 -

### Steps to reproduce (*)

1.Fresh install

### Expected result (*)

1. I would expect it to finish to 100% and say Magento Installation Sucess
2.

### Actual result (*)

1. It stuckes on 76% at the stage
Module 'Magento_Customer':
Running data recurring...

2. From the installer log it is actually 100%

[2020-05-03 14:04] abakashwain commented on #28055
I'm using magento 2.3.4 and it worked perfectly after editing the code.

[2020-05-03 14:14] cruz94 opened #28088 "How to add item to cart using rest API?"
### Preconditions (*)

Magento 2.3.4

### Steps to reproduce (*)

**POST** http://localhost/magento2/rest/V1/carts/mine/items
Bearer Token <customer's token>
req body
[code]
### Expected result (*)

[code]

### Actual result (*)

{
    "message": "Current customer does not have an active cart."
}

[2020-05-03 15:44] jeromecx opened #28089 "Dependencies of the Module Magento_Catalog are incomplete"
### Preconditions (*)

1. Magento CE 2.3.5

### Steps to reproduce (*)

1. Disable all modules
[code]

2. Enable Magento_Catalog and all its dependencies
[code]

3. Go to checkout page

https://magento2.test/checkout/

### Expected result (*)

1. Empty cart

### Actual result (*)

1 exception(s):
Exception #0 (BadMethodCallException): Missing required argument $itemResolvers of Magento\Catalog\Mod

[2020-05-03 15:52] jeromecx commented on #28089
Enabling Magento_ConfigurableProduct solve the problem

[code]

[2020-05-03 16:49] shikhamis11 commented on #28071
@magento give me 2.4-develop instance

[2020-05-03 16:49] magento-engcom-team commented on #28071
Hi @shikhamis11. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-03 16:51] magento-engcom-team commented on #28071
Hi @shikhamis11, here is your [Magento instance](https://i-28071-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28071-2-4-develop.instances.magento-community.engineering/admin_6bcc](https://i-28071-2-4-develop.instances.magento-community.engineering/admin_6bcc)
Login: `f62a9dd1` Password: `085d48080eca`
Instance will be terminated in up to 3 hours.

[2020-05-03 17:03] magento-engcom-team commented on #28071
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33934` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-03 17:13] Skydt90 commented on #28055
Using 2.3.5 w/o sample data and worked perfectly after modifying the code as described above.

[2020-05-03 17:18] shikhamis11 commented on #28068
hi @hemendraajmera
I also believe that product price should display for out of stock configurable product just like simple products.

[2020-05-03 17:19] magento-engcom-team commented on #28068
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33935` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-03 17:34] mrtuvn commented on #28055
![screencapture-app-contribution-test-setup-2020-05-04-00_33_08](https://user-images.githubusercontent.com/1908873/80921171-e6844a00-8d9e-11ea-9fa2-9fcf5885bb13.png)
2.3.5-p1 clean no sampledata
php-cli 7.3.13

[2020-05-03 17:38] mrtuvn commented on #28055
![screencapture-app-contribution-test-admin-admin-dashboard-index-key-9b0391e3c57bca917173bebb2ebc9b9e44f0b22db6e6f166e158661a3d0d8546-2020-05-04-00_38_14](https://user-images.githubusercontent.com/1908873/80921272-99ed3e80-8d9f-11ea-904d-8f44a6f38bc4.png)

[2020-05-03 18:09] ajithkumar-maragathavel commented on #28071
@magento I am working on this

[2020-05-03 18:12] OpenSourceUser1 commented on #992
@ericthehacker Hello Eric, I tried to use password_hash for hashing as you did, however only website users are working correctly. When I try to use the admin panel on Magento, I see the key generated is in password_hash format.
e.g. see the URL of admin panel when I don't use password_hash in Encryptor /admin/index/index/key/2ad5ec757f973757dcf056d403a87a0e6857facfe2bbee4f50d5712e21c41e33/

Now if

[2020-05-03 18:14] shikhamis11 commented on #27895
Hi @ABDUL-RAQEEB
I checked this issue at Magento 2.3.4 version but not able to reproduce this issue . It seems issue is at your end .

[2020-05-03 18:14] #27895 closed, assigned to shikhamis11

[2020-05-03 18:17] shikhamis11 commented on #27894
@ABDUL-RAQEEB Please check comment of @manishthummar111
the issue is not at magento instance

[2020-05-03 18:17] #27894 closed, assigned to shikhamis11

[2020-05-03 18:27] ABDUL-RAQEEB commented on #27895
But can we know how to fix it.
Please help us in this issue.

Thank You

On Sun, 3 May 2020, 11:15 pm Shikha Mishra, <notifications@github.com>
wrote:

[2020-05-03 19:41] DanielRuf commented on #26547
This was patched directly in the file.

I guess you mean this and a few others: https://github.com/magento/magento2/pull/22418

[2020-05-03 19:41] DanielRuf commented on #26547
The newer releases break existing code.

[2020-05-03 20:24] msawyers opened #28090 "Error during upgrade 2.3.3 - Topic "inventory.source.items.cleanup" is not configured."
Preconditions
Magento 2.3.0
PHP 7.3

Steps to reproduce
Production Mode
Single Store Mode
Upgrade to 2.3.3
Run bin/magento setup;upgrade

Expected result
Upgrade should complete successfully

Actual result
Upgrade did not complete, error received:
Topic "inventory.source.items.cleanup" is not configured.

....
Module 'Yotpo_Yotpo':
Installing schema... Upgrading schema...
Schema post-updates:
Modu

[2020-05-03 21:05] dverkade opened #28091 "Upgrading from Magento 2.3.4-p2 to 2.3.5 downgrades some packages"
### Preconditions (*)
1. Have Magento 2.3.4-p2 installed

### Steps to reproduce (*)
1. Upgrade Magento from version 2.3.4-p2 to 2.3.5.

### Expected result (*)
1. Packages should stay at the current version or be upgraded to the latest version which is 100.3.5

### Actual result (*)
1. Some packages are downgraded from version 100.3.4-p2 to 100.3.4

[code]

[2020-05-03 21:28] chequille opened #28092 "Checkout with PayPal throws a "Something went wrong ......" error"
### Preconditions (*)

1. Magento Version 2.4 -develop
2. Paypal Sandbox Configuration Enabled
3. InContext Checkout Disabled

### Steps to reproduce (*)

1. Do a Checkout
2. Click Paypal Radio and Click on "Continue to Paypal" button

### Expected result (*)

1. Of course not showing this error, because PayPal is still opened and the order is processed till the end

### Actual result (*)

1. Gett

[2020-05-04 03:09] hemendraajmera commented on #28068
@magento give me 2.5-p1-develop instance

[2020-05-04 03:09] magento-engcom-team commented on #28068
Hi @hemendraajmera. Thank you for your request. I'm working on Magento 2.5-p1-develop instance for you

[2020-05-04 03:24] hemendraajmera commented on #28068
@magento give me 2.4-develop instance

[2020-05-04 03:24] magento-engcom-team commented on #28068
Hi @hemendraajmera. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-04 03:25] magento-engcom-team commented on #28068
Hi @hemendraajmera, here is your [Magento instance](https://i-28068-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28068-2-4-develop.instances.magento-community.engineering/admin_c1cb](https://i-28068-2-4-develop.instances.magento-community.engineering/admin_c1cb)
Login: `fc82cd42` Password: `781a45e1d9a5`
Instance will be terminated in up to 3 hours.

[2020-05-04 03:43] hemendraajmera commented on #28068
the same issue with provided instance, please refer below
after set status out of stock it showing as
![price and option not  showing](https://user-images.githubusercontent.com/2478037/80934691-ec9e1900-8de6-11ea-9fa1-068fb05d6053.png)
after set status in stock with configurable product also
![showing price and option](https://user-images.githubusercontent.com/2478037/80934696-ef990980-8de6-11ea-9

[2020-05-04 04:48] sudheers-kensium commented on #28055
@yomiojo001 I have installed without any issue.

![image](https://user-images.githubusercontent.com/50358141/80936881-87e7bc00-8df0-11ea-9ab8-b5ecaebab1e0.png)

[2020-05-04 05:11] rohanpurekar opened #28093 "No backend validation of phone number"
### Preconditions (*)

1. Magento C.E. 2.1.11
2. Burp Suite

### Steps to reproduce (*)

Can be reproduced using Burp Suite
1. Go to the edit profile/checkout page(where the phone number is asked)
2. Submit the correct number which contains numerals only
3. Intercept the request using burp suite and edit the payload of the number to random text/js/anything else
4. Submit

### Expected result (*)

[2020-05-04 06:24] magento-engcom-team commented on #28059
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-33937` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-04 06:33] chequille commented on #28092
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-05-04 06:33] magento-engcom-team commented on #28092
Hi @chequille. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-04 06:34] magento-engcom-team commented on #28092
Hi @chequille, here is your [Magento instance](https://i-28092-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28092-2-4-develop.instances.magento-community.engineering/admin_d845](https://i-28092-2-4-develop.instances.magento-community.engineering/admin_d845)
Login: `31c6188a` Password: `b042640d8753`
Instance will be terminated in up to 3 hours.

[2020-05-04 06:46] BorisovskiP commented on #27126
@engcom-Alfa what is the current status of this issue? Do you have any updates?

[2020-05-04 07:01] chequille commented on #28092
Hi,
I confirm it is happening as well on the 2.4-develop instance.
Here is the screenshot
![errorondevinstance](https://user-images.githubusercontent.com/15807794/80942503-3d147700-8de5-11ea-8b51-033876a78b68.png)

Used my sandbox account and "InContext Checkout" is disabled.

If "InContext Checkout" is enabled, the error messages does not appear.

[2020-05-04 07:31] luisgsoft commented on #23938
Any news? This is a critical bug, We cannot make legal credit invoices with corrections

[2020-05-04 08:01] engcom-Echo commented on #27872
Hi @baltechies. Thanks for your report.
I checked your code and that works fine.
For creating a product I used Endpoint: POST <host>/rest/default/V1/products
[Step 3. Create the simple products](https://devdocs.magento.com/guides/v2.3/rest/tutorials/configurable-product/create-simple-products.html)

Result :
![image](https://user-images.githubusercontent.com/51681435/80946070-ebc0b380-8df5-11ea-98

[2020-05-04 08:16] fohnbit opened #28094 "API get attributes return wrong frontend_input"
#26097 # Preconditions (*)
1. Magento 2.3.5-p1

### Steps to reproduce (*)
1. Create a new **"swatch text"** product attribute via API or admin panel
2. Send to:
https://company.com/rest/V1/products/attributes/
payload:
`{
    "attribute": {
        "is_wysiwyg_enabled": false,
        "is_html_allowed_on_front": true,
        "used_for_sort_by": true,
        "is_filterable": true,
        "is_fi

[2020-05-04 08:17] fohnbit commented on #28094
@magento give me 2.4-develop instance

[2020-05-04 08:17] magento-engcom-team commented on #28094
Hi @fohnbit. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-04 08:18] magento-engcom-team commented on #28094
Hi @fohnbit, here is your [Magento instance](https://i-28094-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28094-2-4-develop.instances.magento-community.engineering/admin_0f93](https://i-28094-2-4-develop.instances.magento-community.engineering/admin_0f93)
Login: `3767f8b3` Password: `1ce5aeecc878`
Instance will be terminated in up to 3 hours.

[2020-05-04 08:23] fohnbit commented on #28094
Confirm this is same issue on vanilla instance.

[2020-05-04 08:35] radub commented on #26817
@Hexmage the workaround (https://github.com/magento/magento2/issues/26817#issuecomment-591429899) worked on M2.3.4 but is no longer working on M2.3.5 - I'm looking into it as M2.4 is really far away.

[2020-05-04 08:45] Jitheesh opened #28095 "Error while calling $product->getFinalPrice() method on catalog_product_save_after Observer"
### Preconditions (*)

1. Magento 2.3.5 Commerce
2. PHP 7.2

### Steps to reproduce (*)

1. Create an Observer for catalog_product_save_after event
2. Call $product->getFinalPrice() method on that Observer

### Expected result (*)

1. Final Price should return for $product->getFinalPrice()

### Actual result (*)

1. Error warning  strtotime() expects parameter 1 to be string, object given in /var/

[2020-05-04 09:29] vinayshah commented on #26689
Hello ,

I tried to create a workaround without getting composer version downgraded. Maybe it can help
[here](https://github.com/rapiddive/composer-version-constraint).

Thanks,
Vinay Shah

[2020-05-04 09:34] baltechies commented on #27872
@engcom-Echo I had used n98-magerun2.phar dev console for product update.
![Screen Shot 2020-05-04 at 3 01 34 PM](https://user-images.githubusercontent.com/13519944/80953026-597dd700-8e18-11ea-90d0-6ee275860583.png)

Then I check it by adding/updating product from admin panel.

I will check it by re-installing magento again.

[2020-05-04 09:41] rvitaliy commented on #26292
I have same issue, i like to prepare my code with docker container build.
so i modify my `app/etc/env.php` file to use `$_ENV` parameters instead of hardcoded values, when i run `bin/magento setup:upgrade` or `bin/magento setup:upgrade --keep-generated` this file is overided and modified with hardoceded values.

[2020-05-04 10:26] leovaimo opened #28096 "Magento 2.3.5 Crosssell are not displayed on cart page. Row_id/Entity_id issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.
3.

### Expected result (*)

It should show crossells  on cart page but there is a bug there are no crossels.

The problem is that on magento code it filtering by entity_id BUT in
catalog_product_link there is a row_id value for product but not entity_id

### Actual result (*)
It shows crossels as expected.

[2020-05-04 10:49] VigneshVenkatesan154 commented on #27681
@magento give me 2.4-develop instance

[2020-05-04 10:49] magento-engcom-team commented on #27681
Hi @VigneshVenkatesan154. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-04 10:50] magento-engcom-team commented on #27681
Hi @VigneshVenkatesan154, here is your [Magento instance](https://i-27681-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27681-2-4-develop.instances.magento-community.engineering/admin_ae76](https://i-27681-2-4-develop.instances.magento-community.engineering/admin_ae76)
Login: `e3380317` Password: `3ff57c3052d6`
Instance will be terminated in up to 3 hours.

[2020-05-04 11:01] VigneshVenkatesan154 commented on #27681
@Arsalanulhaq Can you please add more clear preconditions and Steps to reproduce

[2020-05-04 11:04] rommelfreddy commented on #27681
@VigneshVenkatesan154 just order with paypal express.
Got the same issue.

You will got this issue on the (magento) confirm page after clicking on the Checkout-Button.

[2020-05-04 12:01] Den4ik commented on #28064
@magento give me 2.4-develop instance

[2020-05-04 12:01] magento-engcom-team commented on #28064
Hi @Den4ik. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-04 12:02] leovaimo commented on #28096
Yes it's reproducable on vanila Magento

@magento give me 2.4-develop instance

[2020-05-04 12:02] magento-engcom-team commented on #28096
Hi @leovaimo. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-04 12:02] magento-engcom-team commented on #28064
Hi @Den4ik, here is your [Magento instance](https://i-28064-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28064-2-4-develop.instances.magento-community.engineering/admin_871e](https://i-28064-2-4-develop.instances.magento-community.engineering/admin_871e)
Login: `8101de4d` Password: `ff5ea4e48ac7`
Instance will be terminated in up to 3 hours.

[2020-05-04 12:04] magento-engcom-team commented on #28096
Hi @leovaimo, here is your [Magento instance](https://i-28096-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28096-2-4-develop.instances.magento-community.engineering/admin_6b8e](https://i-28096-2-4-develop.instances.magento-community.engineering/admin_6b8e)
Login: `2195ad7c` Password: `2d6db3a2d7cc`
Instance will be terminated in up to 3 hours.

[2020-05-04 12:06] ruipns commented on #11263
So any solution for this atm? i can't even add a new option to an existing attribute

[2020-05-04 12:41] magento-engcom-team commented on #6401
Hi @katef, @o-iegorov.

Thank you for your report and collaboration!

The issue was fixed by Magento team. The fix was delivered into `magento/magento2:2.4-develop` branch(es).
Related commit(s):
 - [bde57a3a0c018cfb9924f150f4d651600ed92406](https://github.com/magento/magento2/commit/bde57a3a0c018cfb9924f150f4d651600ed92406)
 - [b0071aff2c0289d72431e05f22ac353236242107](https://github.com/magento/

[2020-05-04 12:41] #6401 closed, assigned to o-iegorov

[2020-05-04 12:56] VigneshVenkatesan154 commented on #27681
@rommelfreddy @Arsalanulhaq   I tried with magento 2-4-instance. The issue is not recreated. Can you please give some insights like instance version etc.
Please attached reference video:
https://drive.google.com/file/d/1wYsMdgrKh6dGPM69xa3QX90tTkWaeLID/view

[2020-05-04 13:02] rommelfreddy commented on #27681
@VigneshVenkatesan154 the video is very helpfull.
After the PayPal Popup you should be redirected to a other magento confirm page.
This page is just for the paypal express payments.

i am not sure how it works, but the paypal module differentiate between redirecting to the successful-page and the confim-page.

i haven't digged enough for that :/

[2020-05-04 13:13] VigneshVenkatesan154 commented on #27681
Yes @rommelfreddy I do checked that scenario too. Basically the confirmation page will appear when we express checkout through paypal from cart or mini cart. It also worked as expected.

@Arsalanulhaq May be some insights from your end could please us reproduce the issue. A video would be helpful.

[2020-05-04 14:46] ioweb-gr commented on #14881
Still on 2.3.4. Just bumped into the issue today.

[2020-05-04 14:52] przmak commented on #2916
This is still not fixed, my messages are dispersing, 4 years a show success/error message functionality does not work....  how hard can that be?

[2020-05-04 14:59] zzvara commented on #4911
Still 2.3.5, clean Bitnami docker container.

[2020-05-04 15:30] zw1111 commented on #15545
@toanthree Thanks!  I also encountered the search filter issue and your adjustment to the @erikhansen patch worked for me!

I did not have this problem previously... I think I was using Magento OS 2.3.3, but started having the problem immediately after upgrading to Magento OS 2.3.5-p1.

[2020-05-04 16:11] JKetelaar commented on #7589
Simple fix:
In your `di.xml` add:
[code]

Then your `Layer.php`:
[code]

This works both with changing the order in the frontend (as @visahardik mentioned) and with custom modules, such as the Amasty Improved Layered Navigation module.

[2020-05-04 17:09] bernd-reindl opened #28097 "NumberFormatter"
### Preconditions (*)
1. Magento 2.3.5-p1
2. PHP 7.2.27
3. Intl. version 1.1.0 | ICU version 50.1.2 | ICU Data version: 50.1 | ICU TZData version: 2012j | ICU Unicode version

### Steps to reproduce (*)
1. Configure CHF as Currency

### Expected result (*)
1. Price in product detail view (frontend) should have an precision of 2

### Actual result (*)
1. Price in product detail view (frontend) has

[2020-05-04 18:04] DanielRuf commented on #26547
Also see https://github.com/magento/magento2/commit/86fdea32b19df148a4eeaad0f81bd0db68dc0cef#diff-13e016f05effe828e3d5ababa4a62a15

As no details were provided about the exact problem (which CVE IDs are not fixed in our version) I think we can close this for now.

Still, most of the code still relies on jQuery 1.x and I think there were some PRs to make code compatible with jQuery 3 but would be a

[2020-05-04 18:32] hostep commented on #28091
We should probably close this as a duplicate of https://github.com/magento/magento2/issues/28037 ?

It was confirmed in [Slack](https://magentocommeng.slack.com/archives/CBSL1DF8B/p1588273922114000?thread_ts=1588261942.113900&cid=CBSL1DF8B) to be caused by a bug in the packaging of certain Magento versions. Magento is investigating it.

[2020-05-04 19:44] arunelangovan commented on #26184
@sshymko Thanks for the explanation

[2020-05-04 20:08] jkenneydaniel opened #28100 "Magento 2.3.4 - Category getImageUrl() returns incorrect value"
### Preconditions (*)
1. Magento 2.3.5-p1 (reproduced only on composer versions)

### Steps to reproduce (*)
1. Go to Admin->Catalog->Categories;
2. Create a new category with an image;
3. Go to Storefront and open created before the category
### Expected result (*)
1. Category image src uses the full URL

### Actual result (*)
1. Category image src is actually just a relative path

### Additional

[2020-05-04 20:10] jkenneydaniel commented on #28100
@magento give me 2.3.4 instance

[2020-05-04 20:10] magento-engcom-team commented on #28100
Hi @jkenneydaniel. Thank you for your request. I'm working on Magento 2.3.4 instance for you

[2020-05-04 20:11] magento-engcom-team commented on #28100
Hi @jkenneydaniel, here is your [Magento instance](https://i-28100-2-3-4.instances.magento-community.engineering).
Admin access: [https://i-28100-2-3-4.instances.magento-community.engineering/admin_e91c](https://i-28100-2-3-4.instances.magento-community.engineering/admin_e91c)
Login: `6b29d693` Password: `0ed39ee02cc2`
Instance will be terminated in up to 3 hours.

[2020-05-04 20:18] jkenneydaniel commented on #28100
Confirmed the issue:
![image](https://user-images.githubusercontent.com/371146/81009527-d615b300-8e22-11ea-8ceb-f2d29eeec43e.png)

[2020-05-04 21:11] chequille commented on #28092
Any idea yet?

[2020-05-04 23:12] nadroj467 commented on #22344
Did anyone get a fix for this? This issue has been driving me mad for months

[2020-05-04 23:22] franconicolasocchi commented on #25399
Same here, disabling Assignment to Customer Group solve the issue.
Is someone working with that? @magento-engcom-team it have assigned enough priority?

[2020-05-05 01:08] PivitParkour94 commented on #24199
@Naberdz yeah I get that, I was more asking if we were supposed to continue using the varchar EAV `backend_type` but found in core there was a `text` type that much larger and changed to using that and it all worked as expected

[2020-05-05 05:00] sudheers-kensium commented on #27881
@duckchip I am closing this issue. Feel free to reopen if you are having issue on latest Magento instance.

[2020-05-05 05:01] Ckaneriya commented on #26840
@imebrijesh  what is the exact purpose of this code? what will it do?

[2020-05-05 05:05] sudheers-kensium commented on #28045
@trucatchtraps  I am not able to reproduced the issue on Magento 2.4-develop instance.

[2020-05-05 05:19] rushikeshsolanki93 opened #28101 "How can i add Order Comment on Print Order Pdf? Magento 2.3"
![abc](https://user-images.githubusercontent.com/20556034/81036935-91d7f080-8ebe-11ea-80be-7522beddeb4e.png)
here is the image that, shows comment and print order

[2020-05-05 05:22] Rushikesh786 commented on #28101
![abc](https://user-images.githubusercontent.com/20556034/81036905-7967d600-8ebe-11ea-899e-355d8676c565.png)

[2020-05-05 05:28] imebrijesh commented on #26840
Basically... this code will not allow to reset quote object of Magento (Due
to this the error is occurring) as it will reload the payment step again
during checkout after 2 minutes of Page load.

-Brijesh

On Tue, 5 May, 2020, 10:32 am Ckaneriya, <notifications@github.com> wrote:

[2020-05-05 05:36] Arsalanulhaq commented on #27681
Yes, Issue appears when we click on paypal express checkout from product/cart/mini-cart pages, didn't tried from checkout page. The site redirects to paypal, then from paypal to magento again for order placement/review. On this page error appeared of "Wrong email address format".

But issue is resolved from the patch I have uploaded above. Express checkout works fine now.

[2020-05-05 05:50] IgorVitol opened #28102 "[2.3.5][Magento_Csp] Content-Security-Policy header is too large"
### Preconditions (*)
1. Magento CE/EE 2.3.5 with Sample Data (composer installation)
2. Nginx 1.17.10 / FPM (PHP 7.3.16).
3. Default Nginx config used (nginx.conf.sample)

### Steps to reproduce (*)
1. Navigate to URL: /women/tops-women.html

### Expected result (*)
1. Category should open without any issues

### Actual result (*)
1. Error - Nginx: 502 Bad Gateway.
2. Nginx logs:

Actually this h

[2020-05-05 06:10] hostep commented on #27881
@sudheers-kensium: you shouldn't close this issue just because for an unknown reason Magento forgot to forward port MC-18153 to 2.4-develop. We should first figure out why that didn't happen and only then we can decide if we can close this. Could you try to figure this out by asking around and re-open the issue please?

[2020-05-05 06:13] magneticeye commented on #23196
I have 2.3.4 and it seems to be fixed in this version.
I am looking to add the text (out of stock) to out of stock items in drop down for configurable products.
Can't seem to find a solution for Magento 2.
Any body have any ideas?

[2020-05-05 06:21] krishprakash commented on #28101
Hi @Rushikesh786.
GitHub issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or [magento stack exchange](https://magento.stackexchange.com/) for general discussion about this
Thank You !!

[2020-05-05 06:21] #28101 closed, assigned to krishprakash

[2020-05-05 06:26] swathishs commented on #27879
@magento give me 2.4-develop instance

[2020-05-05 06:26] magento-engcom-team commented on #27879
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-05 06:28] magento-engcom-team commented on #27879
Hi @swathishs, here is your [Magento instance](https://i-27879-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-27879-2-4-develop.instances.magento-community.engineering/admin_5b6a](https://i-27879-2-4-develop.instances.magento-community.engineering/admin_5b6a)
Login: `a9d90124` Password: `ee8ea8266e21`
Instance will be terminated in up to 3 hours.

[2020-05-05 07:04] #27991 closed, assigned to engcom-Delta

[2020-05-05 07:21] swathishs commented on #27879
The issue is been reproduced on the 2.4-develop branch

1. Only "private_content_version" is being checked as secure cookies

Attachments:
**Frontend:**
![image](https://user-images.githubusercontent.com/58288685/81042641-3281dc80-8ece-11ea-9e7c-ee54c0fed3ec.png)

**Admin :**
![image](https://user-images.githubusercontent.com/58288685/81042777-7b399580-8ece-11ea-83b7-a39db393a258.png)

[2020-05-05 07:26] eduard13 opened #28103 "Adding products to wishlist with custom options"
### Preconditions (*)

1. Magento 2.4-develop
2.

### Steps to reproduce (*)

1. Create a simple product
2. Add a custom option (Dropdown/text field)
3. Save the product
4. Create an account on the Storefront
5. Go to simple product
6. Select the custom option value
7. Add the product to wishlist

### Expected result (*)

1. The wishlist page should be rendered without any errors

### Actual resul

[2020-05-05 07:26] eduard13 commented on #28103
@magento give me 2.4-develop instance

[2020-05-05 07:26] magento-engcom-team commented on #28103
Hi @eduard13. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-05 07:28] magento-engcom-team commented on #28103
Hi @eduard13, here is your [Magento instance](https://i-28103-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28103-2-4-develop.instances.magento-community.engineering/admin_bb30](https://i-28103-2-4-develop.instances.magento-community.engineering/admin_bb30)
Login: `10442ff2` Password: `3bd3f4b45138`
Instance will be terminated in up to 3 hours.

[2020-05-05 07:31] rommelfreddy commented on #27681
well, i do not think this issue is resolved.
This issue ist resolved for you @Arsalanulhaq - but it seems so, that there is a bug in the paypal module.

@VigneshVenkatesan154 i will create the video the next days.

[2020-05-05 07:33] magento-engcom-team commented on #28103
@eduard13 Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-05-05 07:33] magento-engcom-team commented on #28103
:white_check_mark: Confirmed by @eduard13
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34027` were created

**Issue Available**: @eduard13, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-05 07:34] eduard13 commented on #28103
Getting the same on test instance.
![image](https://user-images.githubusercontent.com/15868188/81043908-e88ffb00-8ebb-11ea-904f-627fcbe9ce37.png)

[2020-05-05 08:22] ihor-sviziev commented on #28091
Duplicate of https://github.com/magento/magento2/issues/28037

[2020-05-05 08:22] #28091 closed, assigned to ihor-sviziev

[2020-05-05 08:24] magento-engcom-team commented on #27879
:white_check_mark: Confirmed by @swathishs
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34028` were created

**Issue Available**: @swathishs, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-05 08:25] ihor-sviziev commented on #28037
Issue is reproducible, but it's not related to dev. version, issue inside release.

[2020-05-05 08:43] aliuosio commented on #23196
@magneticeye
Upgrade to Magento 2.3.5-p1 and try again.
I saw the "sold out" option marked with using swatches on configurable products.

[2020-05-05 09:33] hemendraajmera commented on #23196
Updated with Magento 2.3.5-p1 but still facing issue

[2020-05-05 09:43] VasylShvorak opened #29111 "Incorrect position of Login as Customer Log"
### Preconditions (*)

1. Magento 2.4-develop
2. Login as Customer is enabled

### Steps to reproduce (*)

1. Go to backend

### Expected result (*)

1. https://xd.adobe.com/view/b9d43ac6-ee9f-4e94-516a-70dd15b45232-cfe5/screen/87f8df4a-baae-4830-8080-04b7bda23670/Log-admin-3
![image](https://user-images.githubusercontent.com/26908019/81053564-f484b880-8ecd-11ea-8dd9-7b9b0527ddf6.png)

### Actual

[2020-05-05 09:59] kassner opened #28106 "Cannot save product in store view scope without Magento_Catalog::edit_product_design ACL"
### Preconditions

1. Magento Open Source 2.4-develop from GitHub (6b6f428c4b938c209658eb5d75d84b72503cbce0);
2. Default installation without sample data;
3. A second website+store+store view is configured;

### Steps to reproduce

1. Under System > Permissions > User Roles, create a new role with the entire `Catalog` tree selected, except for `Catalog > Inventory > Products > Edit Product Design`

[2020-05-05 10:12] orlangur commented on #28055
Can you reproduce an issue using a supported operating system: https://devdocs.magento.com/guides/v2.3/install-gde/system-requirements-tech.html? Note that Windows is not in the list.

[2020-05-05 10:28] arnoutvreugdenhil commented on #22344
Sort of. I just updated my comment with how to clean it up. BUT BE CAREFUL.

Met vriendelijke groet / Kind regards, Proost / Cheers,

Arnout Vreugdenhil

From: nadroj467 [mailto:notifications@github.com]
Sent: dinsdag 5 mei 2020 01:13
To: magento/magento2 <magento2@noreply.github.com>
Cc: arnoutvreugdenhil <arnoutvreugdenhil@outlook.com>; Comment <comment@noreply.github.com>
Subject: Re: [magento/

[2020-05-05 11:51] catalyst-steve opened #28107 "giftcard_created_codes Unavailable on Order API"
### Preconditions (*)

1. Magento Commerce 2.3.4
2. Own data set

### Steps to reproduce (*)

1.Generate admin bearer token
2.Do a GET request to https://[DOMAIN]/rest/V1/orders/{id} using token (I used Postman)
3.Also calling the API using Celigo Integrator.io produces same response.

### Expected result (*)

1. Expect data in the path:
items[*].product_option.extension_attributes.giftcard_item_o

[2020-05-05 14:09] engcom-Charlie commented on #4831
Hello @vovayatsyuk

Thank you for contribution and collaboration!

We are not able to reproduce this issue on the latest 2.4-develop branch by provided scenario.
**Precondition**:

- _only one store view_
- _SingleStoreMode_ option in disabled

**Steps**
1. Install Magento from latest _2.4-develop_ branch.
3. Create cms block _example_ for All Store views
4. Create another cms block _example_ for

[2020-05-05 14:17] vovayatsyuk commented on #4831
Looks like it was fixed in this commit: https://github.com/magento/magento2/commit/c8baed5750f705531e75573ac8a1977dd6fe7d5f

[2020-05-05 14:20] johncarlson21 opened #28109 "Observer user model getIsActive() returns null/empty for "my" account"
### Preconditions (*)

1. Magento 2.3.4
2. PHP 7.2.x
3. MariaDB
4. Nginx

### Steps to reproduce (*)

1. Create Observer to dispatch on "admin_user_save_after"
2. Grab user from observer execute: $user = $observer->getObject();
3. Check user for is_active: $active = $user->getIsActive();
4. error log $active: error_log('active: ' . $active);
5. Save observer and login to admin as a created user th

[2020-05-05 14:23] engcom-Charlie commented on #4831
So we have to close it.

[2020-05-05 14:23] #4831 closed, assigned to nobody

[2020-05-05 15:03] tushhan commented on #25659
I can confirm that the problem persists on Magento ver. 2.3.4 as well. Many orders display as "pending payment" and then "cancelled", customers call and complain while the money is actually transferred to paypal account. Payment/Order issues must be priority for Magento team while having the the same problem with recent versions.

[2020-05-05 16:27] aliuosio commented on #23196
@hemendraajmera
- [ ] Did you set one simple product to "out of stock"?
- [ ] Do you have the function "show out of stock products" enabled under configuration -> catalog -> inventory?
- [ ] Did you choose a combination of Optionen that would be recognized as "sold out"?
- [ ] Are you working with Sample Data or an existing Project DB

[2020-05-05 16:31] aliuosio commented on #23196
@hemendraajmera
I have a instance set up with sample data.
Feel free to use it
https://mage2.dev-hh.de/admin
User: mage2_admin
Password: mage2_admin123#T

https://mage2.dev-hh.de

[2020-05-05 17:15] ghost opened #28110 "[Issue] Prevent leaking of variables to global scope"
This issue is automatically created based on existing pull request: magento/magento2#27622: Prevent leaking of variables to global scope

---------

### Description (*)
This PR adjusts minification file resolver for RequreJS that is generated to prevent leaking of variables it uses to global scope.

### Preconditions (*)

### Steps to reproduce (*)

1. Enable JS minification  https://devdocs.magen

[2020-05-05 17:16] magento-engcom-team commented on #28110
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.
Tha

[2020-05-05 17:34] gwharton opened #28111 "Magento_CSP 'script-src' policy with a nonce value is not compatible with stock Magento's inline <script>'s"
### Preconditions (*)
1. 2.4-develop
2. Add a CSP policy that contains a nonce value for script-src.

Example module containing the necessary policy addition included [here](https://www.gwharton.com/temp/CSPTestModule.zip)

### Steps to reproduce (*)
1. Enable Developer Tools
2. Browse to home page

### Expected result (*)
1. Homepage loads successfully with no CSP warnings.

### Actual result (*)

[2020-05-05 17:37] magento-engcom-team commented on #28110
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Update issue content to follow format required by [Issue Reporting Guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Once all required information is added, please add label `"Issue: Confirmed"` again.
Tha

[2020-05-05 17:40] magento-engcom-team commented on #28110
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34047` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-05 18:18] Arsalanulhaq commented on #27681
Yes, I also did some debugging, issue was in Paypal module, the solution I have provided is also seemed to be temporary because it just set customer email again if it is not found. Btw this solution was provided by Magento support. I was able to create a ticket to Magento Support somehow, and they provided this patch.

[2020-05-05 18:36] gabriel3iri commented on #16134
I can confirm this is still an issue on 2.3.4

[2020-05-05 18:44] augustetak commented on #28055
I resolve the issue with @omerfademir  suggestion.

[2020-05-05 18:48] gopal2k6 commented on #28111
Dear Team,

We are facing same issue  in Magento ver. 2.3.5-p1.

Kindly resolved this issue soon as possible.

http://prntscr.com/sbgx8q

Regards
Gopal Gautam

[2020-05-05 19:05] VladimirZaets opened #28114 "test issue"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-05-05 19:05] magento-engcom-team commented on #28114
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-05-05 19:06] magento-engcom-team commented on #28114
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Component: "` label(s) to this ticket based on verification result. If uncertain, you may follow the best guess

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-05-05 19:06] magento-engcom-team commented on #28114
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34061` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-05 19:09] gwharton commented on #28111
@gopal2k6 Yours is a slightly different issue. You just need to add the relevant csp_whitelist.xml whitelist entries for the blocked entries. Although I see you are using google, so you'll soon want to add a nonce value to CSP, when you will run into the above issue.

[2020-05-05 19:13] #28114 closed, assigned to nobody

[2020-05-05 20:21] imtiaz0405 opened #28115 "HTTP ERROR 500 When click on import page"
Hi ,
I have just setup new magneto 2.3.5 website .Evert hing working fine. In the admin panel when  click on the import button i  am getting 500 Internal Server Error. Please help to resolve this issue

Error Logs here.
[code]

[2020-05-05 21:05] Bartlomiejsz commented on #3890
Shouldn't this be closed since there was `Magento\Catalog\Block\Widget\RecentlyViewed` introduced which doesn't seem to have same issue?

[2020-05-05 21:14] katef commented on #6401
Hi @magento-engcom-team! That's great, thank you!
All your links 404 for me, though. Are those private perhaps?

[2020-05-05 21:30] ishakhsuvarov opened #28116 "RequireJS resolver sometimes fails to detect blocked resources"
### Preconditions (*)
1. Magento `2.3.5-p1`. Most likely any recent release would be affected.

### Steps to reproduce (*)
1. Create a custom [RequireJS config](https://requirejs.org/docs/api.html#config) which defines a component complete with its url and [fallback path](https://requirejs.org/docs/api.html#pathsfallbacks). For example:
[code]
2. Include this component on Checkout (may be reproduc

[2020-05-06 01:27] andrewkett commented on #24902
We've worked around this on Magento 2.3.4 with the following composer patch on magento\framework

`diff --git a/Framework/Mail/Address.php b/Framework/Mail/Address.php
index 18e1a8c72f2..7bf55e9fd3f 100644
--- a/Framework/Mail/Address.php
+++ b/Framework/Mail/Address.php
@@ -32,6 +32,11 @@ class Address
         ?string $email,
         ?string $name
     ) {
+
+        if (is_string($name) && $na

[2020-05-06 04:02] vipin12117 commented on #28055
Single line of change will support windows 10. Why magento team can not do this ?

[2020-05-06 04:25] hemendraajmera commented on #23196
@aliuosio above details prompt username and password
![image](https://user-images.githubusercontent.com/2478037/81138413-a0d2a780-8f7f-11ea-8bef-ea7d7339a598.png)

[2020-05-06 04:42] magento-engcom-team commented on #28096
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34076` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-06 06:06] merlin-18 opened #28118 "Don't want to show child product's images on configurable product page"
Preconditions (*)

    Using Magento 2.3.4. I want to change the Magento 2 default functionality on this

Steps to reproduce (*)

    1) Create a configurable products with child products having some images
    2) Select any option (here i have the color attribute as options)

Expected result (*)

    1) Only the main product image changes
    2) Only show the parent products images

Actual result

[2020-05-06 06:16] ioweb-gr opened #28119 "Cannot add children to empty configurable products"
### Preconditions (*)
1. Magento 2.3.4
2. A dropdown global attribute

As for the use case please refer to this question https://magento.stackexchange.com/questions/312073/magento2-can-i-import-configurable-products-without-their-variations

### Steps to reproduce (*)
1. Create in the backend an attribute for configurable products (in my case `io_installation`)
2. Add two options `Horizontal` and

[2020-05-06 06:17] merlin-18 commented on #28118
yes the issue is reproducible.

On Wed, May 6, 2020 at 11:36 AM m2-assistant[bot] <notifications@github.com>
wrote:

[2020-05-06 06:17] magento-engcom-team commented on #28118
Hi @merlin-18. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-06 06:59] Jitheesh opened #28120 "Products stock status issues with Out-of-Stock Threshold"
### Preconditions (*)

1. Magento Commerce 2.3.5
2. MSI modules enabled
3. PHP 7.2

### Steps to reproduce (*)

1. Make sure MSI modules are enabled
2. Make sure default stock is configured
3. Configure Out-of-Stock Threshold value as 10
4. Create products and set inventory as 11
5. Check FE - Product should be in stock
6. Change product qty to 10 and save - Product become out of stock
7. Now chan

[2020-05-06 07:34] sangthieu commented on #5847
@wbyrnetx I have same problem with payflowpro. I found 2 cookies "PHPSESSION" for www and non www domain. It could be make prblem with session. I was make force redirect in nginx to make sure magento create 1 "PHPSESSION" cookies. But that issue comecome few time for me.

[2020-05-06 08:30] narendra0087 commented on #27867
This issue is with pulgins in M2 under /var/www/html/magento/vendor/ just remove the vendor directory from the magento root directory and rerun the composer update.

[2020-05-06 08:38] aliuosio commented on #23196
mage2
mage2

tell me when you are done

[2020-05-06 09:02] merlin-18 commented on #28118
ok, Thank you

On Wed, May 6, 2020 at 11:47 AM Magento Community Engineering <
notifications@github.com> wrote:

[2020-05-06 09:05] ProkopovVitaliy commented on #28103
I'm working on it.

[2020-05-06 09:51] iamshy opened #28122 "Authorize.net module not visible on front end on checkout after upgrade to 2.3.5-p1"
Failed to load the "AuthorizeNet_CreditCard/js/view/payment/method-renderer/creditcard" component in console error
### Preconditions (*)

1.Magento 2.3.5-p1
2.Magento 2 Authorize.net Marketplace module installed

### Steps to reproduce (*)

1.Enable Authorize.net module in admin
2.Enable 'Credit Card' payment method within Authorize.net

### Expected result (*)

1.User can see 'Credit Card' paymen

[2020-05-06 10:07] ioweb-gr commented on #28119
I cannot reproduce on demo instance without access so someone else will have to verify it there.

[2020-05-06 10:24] bardon-bicarbonate opened #28123 "Contradiction in the devdoc"
### Summary (*)
I believe there is contradicting information in the dev docs

### Preconditions (*)
None

### Steps to reproduce (*)

1. Go to [this devdoc](https://devdocs.magento.com/guides/v2.3/frontend-dev-guide/css-guide/css_quick_guide_approach.html#override-module-styles), at the "Override module styles" paragraph

### Expected result (*)

![image](https://user-images.githubusercontent.com/

[2020-05-06 10:44] qsolutions-pl commented on #26427
@sdzhepa another 14 days have passed, how is progress on this task? @magento-engcom-team can I have any update on this?

[2020-05-06 10:47] pathakkrunal commented on #27540
Work for me
Thank you.

[2020-05-06 10:55] kamzata commented on #27540
Yeah, it works but probably in the "old way" as @mrtuvn said.

[2020-05-06 11:06] Hexmage opened #28124 "GraphQl Order and Invoice Emails are not send on quoteSubmit."
### Preconditions (*)

1. Magento 2.3.4
2. sales_email/order/enabled is set to Yes.

### Steps to reproduce (*)

1. Create Cart through GraphQl
2. Add simple product to cart through GraphQl
3. Set Guest email to cart through GrahpQl
4. Set Billing and Shipping addresses through GraphQl
5. Set a Payment method through GrahpQl
6. Place order through GrahQl

### Expected result (*)

1. I receive an o

[2020-05-06 11:11] baltechies commented on #27872
Hi @engcom-Echo,
I tried it by installing latest magento version and I need to run reindex for its working.
One thing I also noticed that Magento\Catalog\Model\ProductRepository class is used for save product from API. For admin controller  Magento\Catalog\Model\Product.php is used.
So I need apply plugin into different class (Product.php or Controller Class) for admin save product functionality.

[2020-05-06 11:39] hemendraajmera commented on #23196
Still out of stock (both configurable)product not showing options and price as well
![image](https://user-images.githubusercontent.com/2478037/81172422-d7c6ae80-8fbb-11ea-8ab8-0c03f79b8b58.png)

working fine when one product is instock as
![image](https://user-images.githubusercontent.com/2478037/81172671-4c015200-8fbc-11ea-9d91-74e4cf938515.png)

[2020-05-06 11:57] ihor-sviziev commented on #13961
This issue was closed without any info written. Please check if it still actual

[2020-05-06 12:01] engcom-Echo commented on #27872
Hi @baltechies. Thank you for your investigation.
I think we close the issue because the description does not address the issue.
I think it is better to open a new question in the context of the last comment to improve understanding of the issue in the future.

[2020-05-06 12:01] #27872 closed, assigned to engcom-Echo

[2020-05-06 12:04] lbajsarowicz commented on #27607
The issue still needs to be implemented.
What is actually closed in scope of the PR mentioned above was use of such DOM assertions there.

[2020-05-06 13:36] ihor-sviziev commented on #13961
@sdzhepa this looks really important issue, there was discussion in `#appdesign` channel in Slack https://magentocommeng.slack.com/archives/CBSL1DF8B/p1588761675119500.
Could you confirm this issue and set the correct prio / severity?

[2020-05-06 13:41] ericmorand commented on #4955
@engcom-Charlie how about 2.3?

[2020-05-06 13:54] magento-engcom-team commented on #13961
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-30108` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-06 13:55] sdzhepa commented on #13961
Hello @ihor-sviziev

It seems @KiuNguyen  closed this issue by mistake.
I have reopened internal Jira ticket and link with this issue again

[2020-05-06 14:22] qsolutions-pl commented on #13961
@sdzhepa basicall there are multiple issues here, first findings shows that "updated_at" field values are 0000-00-00 00:00:00 in on of oauth tables.

[2020-05-06 14:26] VladimirZaets opened #28125 "TEST ISSUE"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

[2020-05-06 14:32] magento-engcom-team commented on #28125
:white_check_mark: Confirmed by @Sutharsan27
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34090` were created

**Issue Available**: @Sutharsan27, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-06 14:34] #28125 closed, assigned to nobody

[2020-05-06 14:38] PiotrSiejczuk commented on #13961
@sdzhepa: Mistakes happen, to everyone...

Although this shows an issue in the process. What actions you guys at CORE are planning to take to mitigate this? Such flow should not happen in the first place and it looks like it can happen in future for any other tickets (yes also to VALID tickets and issues)...

[2020-05-06 15:41] lenaorobei commented on #13961
@PiotrKorzeniec95, it was addressed recently. We limited write access to the Magento 2 repository, so it should prevent unintentional issues closing.

[2020-05-06 15:50] lenaorobei commented on #13961
@magento give me test instance

[2020-05-06 15:51] lenaorobei commented on #13961
@magento give me 2.4-develop instance

[2020-05-06 15:51] magento-engcom-team commented on #13961
Hi @lenaorobei. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-06 15:52] magento-engcom-team commented on #13961
Hi @lenaorobei, here is your [Magento instance](https://i-13961-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-13961-2-4-develop.instances.magento-community.engineering/admin_1ab9](https://i-13961-2-4-develop.instances.magento-community.engineering/admin_1ab9)
Login: `1370780a` Password: `cc2a7135725d`
Instance will be terminated in up to 3 hours.

[2020-05-06 15:58] DanielRuf commented on #13961
I can confirm, we contributors can not close any issues or PRs anymore so we have to ping someone from the maintainer teams.

[2020-05-06 16:04] sdzhepa opened #29112 ""Login as Customer" functionality should be enabled by default"
### Preconditions (*)

1. Install clear Magento instance with "Login as Customer" functionality

### Steps to reproduce (*)

1. Login to Admin Panel
2. Go to _STORES > Configuration > CUSTOMERS >Login as Customer_
3. Open section "Login as Customer Settings"

### Expected result (*)

1. Functionality is Enabled by default
2. Enable Extension = YES

### Actual result (*)

1. Functionality is DISABL

[2020-05-06 16:10] magento-engcom-team commented on #28116
@VladimirZaets Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-05-06 16:10] magento-engcom-team commented on #28116
:white_check_mark: Confirmed by @VladimirZaets
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34099` were created

**Issue Available**: @VladimirZaets, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-06 16:13] dareenzo commented on #24522
I get this same issue in 2.3.2-p2

[2020-05-06 16:23] sdzhepa commented on #28059
@magento give me 2.4-develop instance

[2020-05-06 16:23] magento-engcom-team commented on #28059
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-06 16:25] magento-engcom-team commented on #28059
Hi @sdzhepa, here is your [Magento instance](https://i-28059-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28059-2-4-develop.instances.magento-community.engineering/admin_b143](https://i-28059-2-4-develop.instances.magento-community.engineering/admin_b143)
Login: `b508383e` Password: `0338fa230159`
Instance will be terminated in up to 3 hours.

[2020-05-06 16:40] sdzhepa commented on #28059
Hello @mrtuvn
fyi: @krishprakash

I cannot reproduce this issue using steps from precondition on the latest `2.4-develop` branch
Probably it was already fixed and we can close this issue
or some steps/preconditions are missed

**Luma: 768x1024 and 1024x768**
![LUMA_28059](https://user-images.githubusercontent.com/3409584/81204092-5dcc0080-8f8e-11ea-8667-b18705bdf2c2.png)

**Blank: 768x1024 and 102

[2020-05-06 16:52] sdzhepa commented on #27883
Hello @lbajsarowicz

Could you please provide more details in the description.
It is not clear
- what exactly wrong
- what expected result should be
- any information about the consequences of this issue. How it affects users and/or developers

Thank you in advance!

[2020-05-06 17:29] sdzhepa commented on #25967
Hello @tuyennn

I cannot reproduce this issue by provided steps on the lates `2.4-develop` branch with sample data
Probably the issue the bug is already fixed and we can close this issue
Or some steps/preconditions are missed

I followed steps from the description and after checked system.log and exception.log. - there is no any errors or notices or warnings

![issue_25967](https://user-images.git

[2020-05-06 17:34] lenaorobei commented on #13961
I'm unable to reproduce this isse.

There are two possible scenarios for using OAuth for Magento integrations.

### Access allowed resources by using generated keys

New integration can be created using the described steps.
<img width="1198" alt="Screen Shot 2020-05-06 at 12 21 31 PM" src="https://user-images.githubusercontent.com/17548019/81208262-658ea380-8f94-11ea-98ac-07274f8bddaf.png">
<img w

[2020-05-06 19:04] PiotrSiejczuk commented on #13961
@lenaorobei I guess your the comment was for me? :)

The issue was actually encountered by a colleague of mine from different SI (I am just a Messager here :)). @qsolutions-pl  maybe you can give some more inputs for Lena?

[2020-05-06 19:08] gwharton commented on #28111
As an aside to this issue, Magento should really have an inbuilt method of creating the nonce values and adding it to the CSP policy by default, and then providing a mechanism for modules to access and include the nonce value in a non cacheable way in their script tags.

[2020-05-06 19:13] gopal2k6 commented on #28111
Ok but this is  New Feature added in New Version.  Is there any option how to remove or disable this feature,

[2020-05-06 19:17] premkumarroyal commented on #2614
I faced the same problem in Magento 2.3.5 fixed it by changing this by using
SELECT * FROM core_config_data WHERE path = 'web/seo/use_rewrites'
and change the value from 1 to 0

[2020-05-06 19:17] gwharton commented on #28111
You could try disabling module magento_csp. Also they are only warnings as the policies are not enforced, but it does look bad to customers i agree.

[2020-05-06 19:21] sdzhepa commented on #28016
Hello @weiweiouyang

After internal triage was decided
Need to confirm the Expected result for this case with Product Manager responsible for this functionality

[2020-05-06 19:33] jorgb90 opened #28128 "Magento 2.3.5-p1 zendframework problem with composer autoload_real.php"
## Preconditions (*)
1. Magento 2.3.5-p1

### Steps to reproduce (*)
1. Update from Magento 2.3.4 to Magento 2.3.5-p1 with composer.

### Expected result (*)
1. Succesful upgrade

### Actual result (*)
1. Commandline working fine, but when visiting frontend receiving:

"AH01071: Got error 'PHP message: PHP Warning: require(/var/www/vhosts/domain.com/httpdocs/vendor/composer/../zendframework/zend-m

[2020-05-06 20:06] jorgb90 commented on #28128
Seemed to be a PHP-FPM / Apache problem. After restarting services it started working.

[2020-05-06 20:06] #28128 closed, assigned to nobody

[2020-05-06 20:21] hostep commented on #28116
@ishakhsuvarov: out of curiosity: is this regarding the checkout no longer working on the Magento Marketplace when uBlock Origin is active?

[2020-05-06 21:02] bigheadsmith commented on #21025
@hewgim I totally agree. I've just migrated and I have hundreds of grouped products that I can't save when editing unless I input some random info for attributes that don't apply to those product types

[2020-05-06 21:15] bigheadsmith commented on #21025
So glad I waited until lockdown to start on migration. At least this way I get to drink whilst working out what features have been fudged out since Magento 1

[2020-05-06 22:36] textarea commented on #23411
Magento 2.3.5 still get the error:
No such entity with customerId = 175

[code]

[2020-05-06 23:20] magento-engcom-team commented on #27883
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-34113` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-05-07 00:57] sdzhepa commented on #24426
@magento give me 2.4-develop instance

[2020-05-07 00:57] magento-engcom-team commented on #24426
Hi @sdzhepa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-07 00:58] magento-engcom-team commented on #24426
Hi @sdzhepa, here is your [Magento instance](https://i-24426-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-24426-2-4-develop.instances.magento-community.engineering/admin_010f](https://i-24426-2-4-develop.instances.magento-community.engineering/admin_010f)
Login: `cf2b16d1` Password: `deefcfe84a97`
Instance will be terminated in up to 3 hours.

[2020-05-07 00:58] aliuosio commented on #23196
@hemendraajmera
now i understand.... :rofl:
Without looking at the code right now.
i would write a plugin.
Try stepping through the code using xdebug to find the the block.
I know the answer is very wide

[2020-05-07 01:16] sdzhepa commented on #27847
Hello @r-martins

I can confirm that
1. If Customer create new address during checkout = Steet Line 3 will be saved into address line 2
2. But if create new address from My account = line 2 will not be replaced

Could you please provide any examples/scenarios when it brakes user flow on Storefront or creates any difficulties during development, etc?

Or the issue only about inconsistency in these

[2020-05-07 03:18] sdzhepa commented on #26427
Hello @qsolutions-pl

I just set label `Dev In Progress` because

But seems @vikalps4 is not working on it and I can unassign him
So, it is this issue is ready for development - feel free to propose PR with fix

[2020-05-07 03:24] sdzhepa commented on #26500
Hello @boxyashish

Thank you for contribution and collaboration!

I moved this issue into  [Magento Commerce private repository](https://github.com/magento/partners-magento2ee/issues) where it could be fixed and delivered by Solution Partners Contribution Program.

[Current repository](https://github.com/magento/magento2) and [issue tracker](https://github.com/magento/magento2/issues) aimed at Mag

[2020-05-07 03:44] r-martins commented on #27847
Hello @sdzhepa . I don't remember problems in the frontend, except when editing the address.
The main problem is that it breaks integrations that relies on the correct line. For instance, we use line 4 as Neighborhood in many stores in Brazil, but we faced integration issues when it's saved in line 3. It also breaks payments integrations(and payment methods) that requires neighborhood for placing

[2020-05-07 03:53] tuyennn commented on #28119
@magento give me 2.4-develop instance

[2020-05-07 03:53] magento-engcom-team commented on #28119
Hi @tuyennn. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-07 03:54] magento-engcom-team commented on #28119
Hi @tuyennn, here is your [Magento instance](https://i-28119-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28119-2-4-develop.instances.magento-community.engineering/admin_7e1f](https://i-28119-2-4-develop.instances.magento-community.engineering/admin_7e1f)
Login: `8e7a6af1` Password: `725382effd18`
Instance will be terminated in up to 3 hours.

[2020-05-07 04:19] gotanasro3 commented on #21237
please fix it

[2020-05-07 05:15] CJ-Greiner commented on #20333
**### SOLUTION ###**
The code is incorrect.

In
**public_html/store/vendor/zendframework/zend-stdlib/src/ArrayObject.php on line 426**
Where it says
**continue;**
it should say
**continue 2;**

Programming note: **continue 2;** will correctly go to the next iteration of the foreach loop, **if case 'protectedProperties':**

This fixed the issue, and allowed installs from 2 different Magento templat

[2020-05-07 05:16] lewisje commented on #11332
As of Magento 2.3.5-p1, the relevant method looks like this:

[code]

The same change as above works, as long as the new line of code is also removed; that is, change

[code]

to

[code]

---
Here's the complete override using the [preference mechanism](https://devdocs.magento.com/guides/v2.3/extension-dev-guide/build/di-xml-file.html#override-a-method-using-preference-nodes), in a new custom modu

[2020-05-07 06:04] hostep commented on #23411
@textarea: it sounds like a different issue than the one mentioned here.

Could you open a new issue and please try to list steps to reproduce so it can be followed up properly.

Thanks! 🙂

[2020-05-07 06:44] swathishs commented on #28106
@magento give me 2.4-develop instance

[2020-05-07 06:44] magento-engcom-team commented on #28106
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-07 06:45] magento-engcom-team commented on #28106
Hi @swathishs, here is your [Magento instance](https://i-28106-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28106-2-4-develop.instances.magento-community.engineering/admin_2aea](https://i-28106-2-4-develop.instances.magento-community.engineering/admin_2aea)
Login: `30a5c8a3` Password: `bac7e7f897aa`
Instance will be terminated in up to 3 hours.

[2020-05-07 06:53] sudheers-kensium commented on #28045
@trucatchtraps I am closing this issue.
Feel free to reopen if you are reproduced this issue in Magento 2.4-develop instance.

[2020-05-07 06:53] #28045 closed, assigned to sudheers-kensium

[2020-05-07 07:12] Sutharsan27 commented on #28115
@imtiaz0405 Can you please be more specific on the option which you choose within Magento Admin for Import? I need to recreate this issue in Magento 2.3.5 and update the exact steps to reproduce

[2020-05-07 07:13] deepakbbob commented on #28090
Facing the same issue. Can anyone help?

[2020-05-07 07:31] hemendraajmera commented on #23196
Ok please share plugin ASAP

[2020-05-07 08:10] gjportegies commented on #28059
@sdzhepa did you read my comment on the additional information?

[2020-05-07 08:49] engcom-Delta commented on #28088
Hi @cruz94 thank you for your report, I'm not able to reproduce issue by steps you described on clean 2.4-develop
![image](https://user-images.githubusercontent.com/51681379/81274346-d4353500-9058-11ea-9ac8-148fb0f5a91c.png)

Could be usefull: https://devdocs.magento.com/guides/v2.3/rest/tutorials/orders/order-add-items.html

If you'd like to update the issue, please reopen it

[2020-05-07 08:49] #28088 closed, assigned to engcom-Delta

[2020-05-07 09:09] jorgb90 opened #28132 "Klarna prevents payment methods to load in admin"
### Preconditions (*)
1. Magento 2.3.5-p1

### Steps to reproduce (*)
1. Create an order in the backend.

### Expected result (*)
1. Payment Methods is loading.

### Actual result (*)
1. Payment methods block is empty.

In the frontend its working, but in the admin it isn't.

![Schermafbeelding 2020-05-07 om 11 06 27](https://user-images.githubusercontent.com/7294081/81276339-26735780-9053-11ea-99

[2020-05-07 09:38] utklasad commented on #24902
@andrewkett this fixed the issue for us on Magento 2.3.4. The other fixed mentioned here thats merged (#24906) is not enough of a solution for 2.3.4 (worked great in 2.3.3 since we applied it there). The strange part about this is that all our email communication stopped even if the $name only had a-z chars. But as I said the "hack" in /Framework/Mail/Address.php fixed all email communication.

[2020-05-07 10:06] amenk commented on #6826
As said before (https://github.com/magento/magento2/issues/6826#issuecomment-331636886) this only applies to customers which logged in to the admin panel before.

Still it is super annoying during development and for the merchant testing. A merchant seeing the place order button not working will angrily call their agency and loose trust in the Magento platform.

Can this be reopened?

I think the

[2020-05-07 10:13] engcom-Alfa commented on #28100
@magento give me 2.4-develop instance

[2020-05-07 10:13] magento-engcom-team commented on #28100
Hi @engcom-Alfa. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-07 10:15] magento-engcom-team commented on #28100
Hi @engcom-Alfa, here is your [Magento instance](https://i-28100-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28100-2-4-develop.instances.magento-community.engineering/admin_7c8f](https://i-28100-2-4-develop.instances.magento-community.engineering/admin_7c8f)
Login: `be299754` Password: `5d86697c07be`
Instance will be terminated in up to 3 hours.

[2020-05-07 10:31] engcom-Alfa commented on #28100
Hi @jkenneydaniel. Thank you for your reporting.

Unfortunately, we are not able to reproduce this issue on a fresh 2.4-develop instance.

**Manual testing scenario:**
1. Add image to category;
2. Go to Storefront-> Category with an image;
3. Open dev tools;

**Actual Result:** :heavy_check_mark: Category image src uses the full URL

![image](https://user-images.githubusercontent.com/51679138/8128

[2020-05-07 10:33] mrkhoa99 commented on #13392
Our commits for this issue? still having this issue on Magento 2.3.5-p1 @sdzhepa

[2020-05-07 10:40] Giuliano69 commented on #28008
Confirm the ERROR  in /app/code/Magento/Customer/Model/Vat.php
is still present ALSO in Magento ver. 2.3.5-p1 CE
Same fix works flawlessly....
(non only Magento 2.3.3-p1 as the subject)

Consider a mege of the PR in the master branch

[2020-05-07 10:45] wigman commented on #12205
Awesome that this patch was removed in 2.3.4 again 👍

https://github.com/magento/magento2/commit/9c4c3a05c7c14de1c1fd3d28f56bd409cd9f2a39#diff-9cf0a1093ac8c2558ce19f00934420d6L287

Hat tip to @SeruyV. You've costed a lot of people a lot of money.

so:
- added in 2.2.8
- removed in 2.3.2
- added in 2.3.3
- removed in 2.3.4
- added in 2.3.5

Let's hope this is the end of the journey, yes?

[2020-05-07 10:56] hemendraajmera opened #28133 "Reset password send mail but click on link it expired"
### Preconditions (*)
 Using Magento 2.3.5-p1
1.
2.

### Steps to reproduce (*)

1. send reset password email from admin panel , user received email and click on link it showing Your password reset link has expired.
2.  when i am using forgot password link from website it still not showing some time showing Your password reset link has expired or sometime showing Invalid Form Key. Please refresh t

[2020-05-07 11:02] hemendraajmera commented on #28133
@magento give me 2.4-develop instance

[2020-05-07 11:02] magento-engcom-team commented on #28133
Hi @hemendraajmera. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-07 11:03] magento-engcom-team commented on #28133
Hi @hemendraajmera, here is your [Magento instance](https://i-28133-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28133-2-4-develop.instances.magento-community.engineering/admin_81d6](https://i-28133-2-4-develop.instances.magento-community.engineering/admin_81d6)
Login: `eabbe1be` Password: `08bb25b3b80d`
Instance will be terminated in up to 3 hours.

[2020-05-07 11:08] hemendraajmera commented on #28133
any email from above mentioned environment not received

[2020-05-07 11:34] aliuosio commented on #23196
@hemendraajmera
a plugin is not flying around at this time but i can send you a link to my Paypal account if you hit me on skype containing a money offer :-)

[2020-05-07 12:11] engcom-Delta commented on #28075
Hi @vovayatsyuk thank you for your report. Unfortunately, I'm not able to reproduce issue by steps you described on clean 2.4-develop: I get result `Main Website Store` without any errors.

If you'd like to update the issue, please reopen it.

[2020-05-07 12:11] #28075 closed, assigned to engcom-Delta

[2020-05-07 12:18] swathishs commented on #28106
@magento give me 2.4-develop instance

[2020-05-07 12:18] magento-engcom-team commented on #28106
Hi @swathishs. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-07 12:19] magento-engcom-team commented on #28106
Hi @swathishs, here is your [Magento instance](https://i-28106-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28106-2-4-develop.instances.magento-community.engineering/admin_548b](https://i-28106-2-4-develop.instances.magento-community.engineering/admin_548b)
Login: `9b911112` Password: `764e194d422a`
Instance will be terminated in up to 3 hours.

[2020-05-07 12:23] vovayatsyuk commented on #28075
Well, I can only ask you to look at this code simplified code lines:

1. Pay attention to the third argument:

[code]

2. Pay attention to the third argument again:

[code]

The third argument is **used as an array key**. Yes, it's the same `$this` passed from the code 1.

p.s.
Code block 1 in magento: https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Store/Model/Store.php#L135

[2020-05-07 12:49] qsolutions-pl commented on #13961
I'm currently debugging this on my end, 2.3.5 version, will send an update once I finish

[2020-05-07 12:50] engcom-Delta commented on #28097
@magento give me 2.4-develop instance

[2020-05-07 12:50] magento-engcom-team commented on #28097
Hi @engcom-Delta. Thank you for your request. I'm working on Magento 2.4-develop instance for you

[2020-05-07 12:51] magento-engcom-team commented on #28097
Hi @engcom-Delta, here is your [Magento instance](https://i-28097-2-4-develop.instances.magento-community.engineering).
Admin access: [https://i-28097-2-4-develop.instances.magento-community.engineering/admin_4165](https://i-28097-2-4-develop.instances.magento-community.engineering/admin_4165)
Login: `1180b305` Password: `8b1a2a679166`
Instance will be terminated in up to 3 hours.

[2020-05-07 13:04] trunglv commented on #14912
Due to customer data on Local Storage is not loaded. So my solution is to check whether customer data exists on the Local Storage or does not. Then if it doesn't, we will make it expired. So it will be loaded again from the server again.

Here a quick fix for this issue below. But I think the Magento team should check and fix it an issue.

Create a mixin

[code]

[code]

--- Another solution, but

[2020-05-07 13:09] engcom-Delta commented on #28097
Hi @bernd-reindl thank you for your report. Unfortunatelly,  I'm not able to reproduce issue by steps you described on clean 2.4-develop

**Steps to reproduce:**

- CHF was set as default Currency:

![image](https://user-images.githubusercontent.com/51681379/81297186-94cc1000-907b-11ea-81d6-317f036f4000.png)

**Result:**
:heavy_check_mark: Price in product detail page has an precision of 2
![image

[2020-05-07 13:09] #28097 closed, assigned to engcom-Delta

[2020-05-07 13:19] swathishs commented on #28106
I'm unable to reproduce this issue on the 2.4-develop instance.

Please find the attachments for reference

**Configured second website** :
![image](https://user-images.githubusercontent.com/58288685/81296777-0ca43580-9090-11ea-95a7-4e405d4525c1.png)

**New product**:
![image](https://user-images.githubusercontent.com/58288685/81297105-6efd3600-9090-11ea-8fb6-97e5e4f55d3a.png)

**Viedo for referen

[2020-05-07 13:28] sendoapp opened #28134 "magento email sent as attachment in 2.3.4 open source"
### Preconditions (*)
1.magento 2.3.4

### Steps to reproduce (*)
1.make an order

### Expected result (*)
1.email confirmation sent in the body of email

### Actual result (*)
1. email sent in the attachment of email

[2020-05-07 13:29] bernd-reindl commented on #28097
Hi @engcom-Delta,
the result is depending on the installed intl version on the server.

If you run this code:
[code]
And you get "#,##0.05 ¤" as result, the precision is one.
Older intl versions return "#,##0.00 ¤" and this works correct.

Can you run this code on your test machine?

Best regards
Bernd

[2020-05-07 13:37] kassner commented on #28106
@swathishs Your user still has permissions to `Edit Product Design`. All fields in the Design tab should be disabled but in your video they aren't.

[2020-05-07 13:38] kassner commented on #28106
@swathishs this is how the role should look like

![Screenshot from 2020-05-07 15-38-00](https://user-images.githubusercontent.com/301255/81301052-d3140000-9078-11ea-8c10-dbaf3e7e6f64.png)

[2020-05-07 13:50] scottbolasevich opened #28135 "Elastic Search Not Properly Filtering Search Terms for autocomplete. Causing sql error to show when using words like "MAX" or "COUNT" etc in product names"
Not Properly Filtering Search Terms for autocomplete. Causing sql error to show when using words like "MAX" or "COUNT" etc

Preconditions
magento 2.3.4 and elastic search 6+ on nexcess

Magento Version : 2.3.4

ElasticSuite Version : 6.0

Environment : production

Third party modules : no

Steps to reproduce
1.https://www.goinggreensolutions.com.au/
2. search "eco max"
3. you can see here https://

[2020-05-07 14:15] gxrobb commented on #26840
Patch was working for 2.3.4, after updating to 2.3.5 it is no longer working, it tells me that it could not apply the patch and errors. Is it needed in 2.3.5 release? if so, is there a new release version of this patch? I could not find it

[2020-05-07 14:19] qsolutions-pl commented on #13961
@lenaorobei @ihor-sviziev
so basically this feature is a little bit buggy, currently testing on 2.3.2 (current live site) and 2.3.5
Here is my step by step:
1) created integration
2) authorized the application (using the prepared scripts from this URL   https://gist.github.com/paliarush/4c2bfa81ebef57305ba4 with some fixes ;))
3) using consumer and access key pairs
I am able to:
- get product deta

[2020-05-07 14:20] ksurendra commented on #20333
@CJ-Greiner that maybe a solution, but changing something in the "core" in a framework source isn't advisable. This will break if we have to migrate/update to a new version. Or i maybe missing something here..

Two of biggest applications built on PHP also had issues:
1. Wordpress https://wordpress.org/support/topic/php-7-3-compatibility-3/
2. Drupal https://www.drupal.org/project/scald/issues/303