[2020-10-07 07:36] haxor211 commented on #24830
how do I remove datepicker.js, timepicker.js, spectrum.js, tinycolor.js and so on... are just a few examples. from magento 2? this useless code is just slowing down the site, all these scripts combined weight like 2 mb while my whole site is 3.5..

Come on who the hell thought its good idea to force everyone to use these javascripts??!?!?!?

[2020-10-07 08:07] engcom-Alfa commented on #13048
Hi @dooblem .

Thank you for your contribution and collaboration!

Unfortunately, we are not able to reproduce this issue on a fresh 2.4-develop.

**Manual testing scenario:**

1. Check that you umask is correct, otherwise set it to distribution default:
umask
![Screenshot from 2020-10-07 10-57-51](https://user-images.githubusercontent.com/51679138/95303530-f8a56f80-088b-11eb-9ce1-8b778414671a.png

[2020-10-07 08:11] danielpugh commented on #27568
this is happening to us - just had to delete 50 duplicate addresses for a single customer

[2020-10-07 08:24] sanganinamrata opened #30356 "Add to Cart button within "Click for price" popup not working."
### Preconditions (*)

1. Magento 2.4-develop
2. Magento_Msrp module is enabled.

### Steps to reproduce (*)

1. *Stores => Configurations => Sales => Minimum Advertised Price*  settings *Enable MAP: Yes*and *Display Actual Price : On Gesture*
2. For any product *Minimum Advertised Price* is set higher price then *Price*.

### Expected result (*)

1. Add to cart within popup on product listing sho

[2020-10-07 08:27] usman786cs commented on #23769
I was facing same issue and it was with the custom template .......

After I change custom template file, Issue get resolved.

[2020-10-07 09:16] lunch22result commented on #15214
You can try to create new admin account and use that account to reset password of your existing account
`bin/magento admin:user:create --admin-firstname="magentip" --admin-lastname="demo" --admin-email=magentip@gmail.com --admin-user=magentip --admin-password=Qwe@123456
`
Reference source: [](https://magentip.com/how-to-fix-you-did-not-sign-in-correctly-or-your-account-is-temporarily-disabled-in-m

[2020-10-07 09:34] magento-engcom-team commented on #21885
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38267` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-07 09:36] magento-engcom-team commented on #29890
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38268` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-07 09:51] Alex7Lem commented on #26481
Solution of the problem:
Create a new value for the attribute.
Set the new attribute value to the default.
Remove new attribute value.

[2020-10-07 09:51] mischabraam commented on #26882
The `is_legacy` set to `1` work around and patch from @jordanvector doesn't seem to fix the issue with the shipment (and tracking) email. Any ideas how to fix these?

[code]

[2020-10-07 11:17] engcom-Bravo commented on #29469
We are not able to reproduce the issue on the latest **2.4-develop and Safari 14 Mobile Version**

We have successfully configured PayPal Flow in _Stores - Configuration - Sales - Payment Methods_
![payflow_conf](https://user-images.githubusercontent.com/51680745/95318935-e6353100-089f-11eb-8966-ae493e13f8b3.png)

and **Proceeded** the order

![payflow_order2](https://user-images.githubusercontent

[2020-10-07 11:35] JoostWan commented on #28092
@tushhan you mean _website_id_ inside **catalog_product_website**? Checked it but there a no record with website_id that doesn't exist.

[2020-10-07 11:47] adarshediyottil opened #30360 "invalid date when adding product with custom options(datetime) using REST API"
### Preconditions (*)

Magento ver. 2.3.4-p2

###  Steps to reproduce (*)

1. I have a product with a custom option DateTime field in product options
![Screenshot from 2020-10-07 16-59-54](https://user-images.githubusercontent.com/31198872/95325277-96199700-08be-11eb-8472-7c2fe9e4a95e.png)
2. When I try to place an order using rest API.  My order  array is given below

[code]
3. My cart response i

[2020-10-07 11:54] Viktorja1 opened #30361 "An empty window opens after the second click of the "Add Attribute" button"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to Catalog -> Products -> Add New Product
2. Click on the "Add Attribute" button (Upper right corner)
3. Click on the "Create New Attribute" button
4. Close the opened window
5. Click on the "Create New Attribute" button again

### Expected result (*)

The "New Attribute" window opened (as on the 4 step)

### Actual r

[2020-10-07 12:10] dooblem commented on #13048
hello @engcom-Alfa

Just to be sure, are you sure your test is good ?

In order to reproduce, you have to get the magento modules via composer. My understanding is that if you run the composer install from the magento development tree, it will not get magento modules as they are already in the source tree.

I was not able to reproduce with a composer create project for magento v2.4.1. I was not ab

[2020-10-07 12:48] hostep commented on #30292
Okay, I can see it in the source code of that composer plugin indeed. Very strange, I wasn't expecting this.

So, this becomes yet another Magento package we'll be adding to our lis of packages not to install on our shops.
We are capable of manually changing the composer.json file in between different Magento versions, that has never been a problem for us so we don't need this module (although I c

[2020-10-07 12:48] #30292 closed, assigned to nobody

[2020-10-07 13:11] Viktorja1 opened #30362 "Redirect to the store view when trying to save attribute on product creation page"
### Preconditions (*)

Magento 2.4-develop

### Steps to reproduce (*)

1. Go to Catalog -> Products -> Add New Product
2. Click on the "Add Attribute" button (Upper right corner)
3. Click on the "Create New Attribute" button
4. Close the opened window
5. Click on the "Create New Attribute" button again
6. Close the opened window
7. Click on the "Create New Attribute" button again
8. Enter "Attrib

[2020-10-07 13:13] magento-engcom-team commented on #30169
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38270` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-07 13:39] purvi99 commented on #4742
Hello,

I have still issue when creating issue.i got issue like "SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`dbname`.`quote_payment`, CONSTRAINT `QUOTE_PAYMENT_QUOTE_ID_QUOTE_ENTITY_ID` FOREIGN KEY (`quote_id`) REFERENCES `quote` (`entity_id`) ON DELETE CASCADE), query was: INSERT INTO `quote_payment` (`additional_informa

[2020-10-07 13:58] ajijshekh123 commented on #30361
@magento give me 2.4-develop instance

[2020-10-07 14:12] ajijshekh123 commented on #30361
Hi @Viktorja1
The issue is Reproduced in the Default Magento 2.4 Instance as per steps to be reproduced, Actual result and Expected result.
PFA:
![image](https://user-images.githubusercontent.com/24711761/95342513-2367e600-08d5-11eb-885e-02204e0446e7.png)

Thanks.

[2020-10-07 14:13] magento-engcom-team commented on #30361
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38272` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-07 14:30] JMLucas96 commented on #14037
@ghost Can you reference pull request that solves this issue?

[2020-10-07 14:35] magento-engcom-team commented on #29557
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38274` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-07 14:58] Eddcapone opened #30364 "Selecting "Product -- Full width" in select "Layout" in Section "Design" causes informations to get shown below each other"
### Preconditions (*)

1. Enterprise 2.4.0
1. Theme: Magento Luma

### Steps to reproduce (*)

1. Open a product in the frontend.
The information container should look like this:

![image](https://user-images.githubusercontent.com/16349349/95348313-33280000-08be-11eb-903c-775f267f5926.png)

2. Open the product in backend and edit it.
3. Go to section "Design".
4. Choose "Product -- full width" in

[2020-10-07 17:58] gwharton commented on #24576
[code]

Results in

`SELECT `main_table`.* FROM `sales_order` AS `main_table` WHERE (`main_table`.`status` = 'holded') AND (`main_table`.`status` = 'pending') AND (`main_table`.`status` = 'payment_review') AND (`main_table`.`status` = 'pending_payment') GROUP BY `main_table`.`entity_id``

Looks like this is still bad in 2.4

[2020-10-07 18:11] gwharton commented on #18329
I can confirm, still broken in 2.4.0. The above patch is still a good workaround, albeit needing slight alteration to apply to 2.4 codebase.

Related to https://github.com/magento/magento2/issues/24576

[2020-10-07 18:26] ajijshekh123 commented on #30364
@magento give me 2.4-develop instance

[2020-10-07 18:57] irenelagno opened #30365 "Test bug report"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-10-07 18:57] irenelagno commented on #30365
@magento give me 2.4-develop instance

[2020-10-07 19:47] #30365 closed, assigned to nobody

[2020-10-07 19:49] bluedarter2 commented on #13229
Has this been fixed in magento 2.4?

[2020-10-07 19:59] gondas33 opened #30366 "E-mails should include a text/plain version in order to prevent spam automatic detection"
### Updates
- Was reopened according to https://github.com/magento/magento2/issues/30366#issuecomment-742666633 Should be re-verified
- Updated **Expected Result** according to https://github.com/magento/magento2/issues/30366#issuecomment-742666633

### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Go to Marketing->Email Templates
2. Click Add New Templates

### Expecte

[2020-10-07 20:16] magento-engcom-team commented on #25411
Hi @rafaelstz. Thank you for your report.
The issue has been fixed in magento/magento2#25412 by @rafaelstz in 2.4-develop branch
Related commit(s):
 - [9efef990accdc4b2fc094fe3bb68fde3cc178604](https://github.com/magento/magento2/commit/9efef990accdc4b2fc094fe3bb68fde3cc178604)
 - [c01dd2a41a4862366148f9a486e402ebed6b0b27](https://github.com/magento/magento2/commit/c01dd2a41a4862366148f9a486e402eb

[2020-10-07 20:16] #25411 closed, assigned to rafaelstz

[2020-10-07 20:16] magento-engcom-team commented on #30036
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30008 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [777c7c720f3f2be1f5484ea0105dd22649a9b83d](https://github.com/magento/magento2/commit/777c7c720f3f2be1f5484ea0105dd22649a9b83d)
 - [d2f34662b593fac3b152dafc5d3e3708cb8a85eb](https://github.com/magento/magento2/commit/d2f34662b593fac3b152dafc5d3

[2020-10-07 20:16] #30036 closed, assigned to mrtuvn

[2020-10-07 20:16] magento-engcom-team commented on #13440
Hi @maxxeh1. Thank you for your report.
The issue has been fixed in magento/magento2#28216 by @fredden in 2.4-develop branch
Related commit(s):
 - [e9511e8db117b06516c4b8cc541376e5657a264d](https://github.com/magento/magento2/commit/e9511e8db117b06516c4b8cc541376e5657a264d)
 - [af9f897bdbcaaa186c7fc9fa6d585f370f04879a](https://github.com/magento/magento2/commit/af9f897bdbcaaa186c7fc9fa6d585f370f04

[2020-10-07 20:16] #13440 closed, assigned to fredden, balathangam

[2020-10-07 20:16] magento-engcom-team commented on #30064
Hi @GrimLink. Thank you for your report.
The issue has been fixed in magento/magento2#30065 by @GrimLink in 2.4-develop branch
Related commit(s):
 - [d15f34dc6fdda1653e854b36f39f9549f8a70f72](https://github.com/magento/magento2/commit/d15f34dc6fdda1653e854b36f39f9549f8a70f72)
 - [beb817f0e243154c395585c995530ab96016fe7c](https://github.com/magento/magento2/commit/beb817f0e243154c395585c995530ab960

[2020-10-07 20:16] #30064 closed, assigned to GrimLink

[2020-10-07 20:16] magento-engcom-team commented on #29719
Hi @mrtuvn. Thank you for your report.
The issue has been fixed in magento/magento2#29726 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [9e48f91c7f3e67b8d49195fd2f6a3b3e03bc7025](https://github.com/magento/magento2/commit/9e48f91c7f3e67b8d49195fd2f6a3b3e03bc7025)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-07 20:16] #29719 closed, assigned to mrtuvn

[2020-10-07 20:16] magento-engcom-team commented on #29165
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#28389 by @gsomoza in 2.4-develop branch
Related commit(s):
 - [336b463c36be7aa92389b2d66de8a56d553fb596](https://github.com/magento/magento2/commit/336b463c36be7aa92389b2d66de8a56d553fb596)
 - [75cc0b4620442484a92d3045af8a8c56ecb3cc0b](https://github.com/magento/magento2/commit/75cc0b4620442484a92d3045af

[2020-10-07 20:16] #29165 closed, assigned to gsomoza

[2020-10-07 20:30] m2-assistant[bot] opened #30367 "[Issue] Fix incorrect font base size"
This issue is automatically created based on existing pull request: magento/magento2#30363: Fix incorrect font base size

---------

### Description (*)

This PR aim to correct font base magento frontend back to 16px
Change @font-size-ratio__base
Before: ratio 1.4
After: ratio 1.6
This is default font size browser
1em = 16px = 1rem

some element such as input, browser will zoom if the font-size is

[2020-10-07 20:45] tushhan commented on #28092
In my case, it is "website_id" as seen on the attached screenshot but it could be "catalog_product_website" on another Magento. You can download an existing SKU and check the CSV column to find the right column name.

![Screenshot 2020-10-07 at 21 39 16](https://user-images.githubusercontent.com/746774/95385568-130c3700-08e6-11eb-8506-1a2436065e60.png)

[2020-10-07 21:11] gototags-duncan opened #30369 "Non-unique id warning during checkout"
### Preconditions (*)

1. Magento version 2.3.5-p2
2. Chrome version 85.0.4183.121 (Official Build) (64-bit)

### Steps to reproduce (*)

1. Add items to cart
2. Go to checkout view
3. Look in inspector
4. Notice they're are multiple `non-unique id` warnings

**Note: this may not happen on the first try but consistently happens when you revisit the checkout.**
**Note: The warnings look to be from

[2020-10-07 21:16] Bartlomiejsz commented on #30296
@magento I am working on this

[2020-10-07 21:54] #30179 closed, assigned to nobody

[2020-10-07 22:12] jeff-matthews commented on #17951
We've updated the 2.3.x and 2.4.x devdocs accordingly. Se PR https://github.com/magento/devdocs/pull/8010.

[2020-10-07 23:16] magento-engcom-team commented on #29557
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27092 by @bartoszkubicki in 2.4-develop branch
Related commit(s):
 - [3f7a1639827797a3d2e3382064e6b9b5648af35f](https://github.com/magento/magento2/commit/3f7a1639827797a3d2e3382064e6b9b5648af35f)
 - [c00b24dad1f36a45bec60cf423b5e46f590b64fc](https://github.com/magento/magento2/commit/c00b24dad1f36a45bec

[2020-10-07 23:16] #29557 closed, assigned to bartoszkubicki

[2020-10-07 23:16] magento-engcom-team commented on #29890
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29885 by @siimm in 2.4-develop branch
Related commit(s):
 - [256cedd9ece42f4b0e848f7cea0697c0beff426c](https://github.com/magento/magento2/commit/256cedd9ece42f4b0e848f7cea0697c0beff426c)
 - [f17148f902309ddfd6868b17b7183099222084d8](https://github.com/magento/magento2/commit/f17148f902309ddfd6868b17b718

[2020-10-07 23:16] #29890 closed, assigned to siimm

[2020-10-08 02:03] Arul2020 commented on #21705
The same issue exists on Magento 2.4.0.

[2020-10-08 05:28] angeline155 commented on #29334
Even after trying the above, I couldn't successfully complete the installation with the sample date. So, I have done below to fix the issue.
Find `Mysql.php` from in the below location

`vendor\magento\framework\DB\Adapter\Pdo`

And at line no. 527, comment the below

[code]
So the function will look like below,

[code]
Now, you could successfully complete the installtion.

[2020-10-08 05:39] brosenberger commented on #28544
@HoaND-Magezon you can fix your problem when you change following lines (576, 578 for escaping the &trade; correctly for xml and additionally possibly change 584 from escapeHtml to escapeHtmlAttr):
![image](https://user-images.githubusercontent.com/2969243/95419139-43c98c00-0939-11eb-85c8-9aba5664184b.png)

[2020-10-08 06:26] trunglv commented on #13952
This problem is so hard to detect a cause. This one https://github.com/magento/magento2/issues/25222 is one of a cause to make multiple duplicated orders. And Amazon Pay as well, I can't recall exactly.
But generally, for somewhat reason is that the function Magento\Quote\Model\QuoteManagement::submitQuote is called on twice or even more.
- So my solution is to make a hook/plugin on the function "

[2020-10-08 06:47] soumiktuban commented on #30104
Hello @engcom-Oscar

This issue is still reproducible on Magento 2.4
Below snaps are the steps to reproduce the issue:

1. Create a product with below product name as mentioned earlier:
![image](https://user-images.githubusercontent.com/10050358/95423336-8ce00700-095e-11eb-8735-71dc67a30b29.png)

2. Create a Search Synonyms (Marketing -> Search Synonyms) and clear the cache as mentioned earlier:
!

[2020-10-08 07:00] haxor211 commented on #24830
I have found temporal solution.. disabled these useless scripts and saved like 1mb.

https://community.magento.com/t5/Magento-2-x-Programming/Remove-JS-files-from-beeing-loaded-through-require-js/m-p/459560/highlight/false#M11813

[2020-10-08 07:01] PierW commented on #30288
Fixed with PR #29726
The fix will be available with the upcoming 2.4.2 release.

[2020-10-08 07:01] #30288 closed, assigned to PierW, engcom-Alfa

[2020-10-08 07:55] Viktorja1 commented on #30362
@magento give me 2.4-develop instance

[2020-10-08 08:50] NTK-2016 opened #30371 "Order item column is blank in customer information"
Hi ,
I'm to see the item ordered by customer under sales-->order i.e customer information section ,even migrated order is not display items in this column  and neither get shipping and billing information,items ,date time in email content
Please help Thanks
![image](https://user-images.githubusercontent.com/24722367/95436173-29aba000-0971-11eb-801e-83647eeed70c.png)

[2020-10-08 09:07] m2-assistant[bot] opened #30372 "[Issue] MFTF: Admin Delete CMS Block Test"
This issue is automatically created based on existing pull request: magento/magento2#30359: MFTF: Admin Delete CMS Block Test

---------
**Description**
This PR contains a test for deleting CMS block from grid by Admin User

**Steps To reproduce:**

1 - Create CMS block
2 - Login as Admin User
3 - Navigate to Content->Blocks
4 - Find Created CMS Block
5 - Delete Created CMS Block
6 - Perform Asser

[2020-10-08 09:20] #23676 closed, assigned to nobody

[2020-10-08 10:06] Quazz commented on #29964
An incredibly high amount of keys is being inserted for normal cache on Magento 2.4

I have a redis instance where cache and full page cache are shared and the normal cache endlessly growing eventually makes the fullpage cache useless since those keys get evicted since it runs out of its maxmemory limit.

[2020-10-08 10:34] frenci8 opened #30373 "Add tracking numbers in the shipment mail template"
Hi,

I would like to send an email to the buyer/user when a new shipment has been created for the order and I would like the order to contain all the possible tracking numbers (sometimes more than 1 per order) for that specific order.

I know how to create an email template and select it for the shipment in stores -> configuration -> sales -> sales emails, but my problem is when I am creating the

[2020-10-08 10:39] ericmorand commented on #24830
@haxor211 I couldn't agree more.

[2020-10-08 11:10] haxor211 commented on #24830
just found out you have to leave `repeat:         require('knockoutjs/knockout-repeat'),
        fastForEach:    require('knockoutjs/knockout-fast-foreach'),`

Uncommented in bootstrap.php otherwise your orders won't show, dont ask me why lol

[2020-10-08 11:34] magento-engcom-team commented on #30063
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38311` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-08 11:38] #30018 closed, assigned to nobody

[2020-10-08 11:42] krishprakash commented on #30371
@NTK-2016 Something issue with migration process.GitHub issue tracker is intended for magento core technical issues only
Kindly refer [community forum](https://community.magento.com/) or  [magento stack exchange](https://magento.stackexchange.com/) for general discuss about this topic

[2020-10-08 11:42] #30371 closed, assigned to nobody

[2020-10-08 12:25] magento-engcom-team commented on #30349
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-35355` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-08 12:27] magento-engcom-team commented on #30179
:white_check_mark: Confirmed by @sudheers-kensium
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38312` were created

**Issue Available**: @sudheers-kensium, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-08 12:47] Eddcapone commented on #30364
@magento give me 2.4-develop instance

[2020-10-08 13:23] hanaks opened #30376 "Coding error in tax details"
### Preconditions (*)

Magento version 2.4.0

### Steps to reproduce (*)

1. Set up Magento with a two tax classes with different rates. One for shipping and another for product. I have used setup for Norway.
2. Install Nets payment gateway module:
https://tech.dibspayment.com/easy/webshop_modules/magento2
3. Configure for testing.
4. Submit a test order:
https://tech.dibspayment.com/easy/test-inf

[2020-10-08 13:49] engcom-Delta commented on #28673
Hi @ashwinshenoi99  Unfortunatelly, I'm not able to reproduce issue by steps you described with clean 2.4-develop. Installation is done successfully

Please feel free to comment, reopen or create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
if you are still facing this issue on the latest `2.4-develop` branch. Thank y

[2020-10-08 13:49] #28673 closed, assigned to engcom-Delta

[2020-10-08 13:55] sivaschenko commented on #30163
#dmcdindia2020

[2020-10-08 13:56] engcom-Delta commented on #28447
Hi @hsmuhammad12 thank you for your report. Looks like you have typo in your code
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-10-08 13:56] #28447 closed, assigned to engcom-Delta

[2020-10-08 14:02] hewgim commented on #23761
How do you get an issue reopened? This issue still exists in 2.3.5-p2. In fact, you can also see this issue if you add a discount code in the cart and then attempt to checkout using the paypal express in context button. The paypal window flashes up, then disappears. You cant checkout unless you refresh the cart page and try again. I don't know how the guys from Magento can't reproduce this. It hap

[2020-10-08 14:34] uttam-dhameliya commented on #26606
Was facing the same issue, after even changing json.php code..

it got solved by just changing PHP version according to magento's  requirement.
thanks

[2020-10-08 14:40] m2-assistant[bot] opened #30377 "[Issue] fix conflict for logo_height argument by default.xml"
This issue is automatically created based on existing pull request: magento/magento2#30370: fix conflict for logo_height argument by default.xml

---------

### Description (*)

For a new theme, for example child of luma, if you want change the logo by default.xml and set also **his size by the height**, you should write this:

`
        <referenceBlock name="logo">
            <arguments>

[2020-10-08 14:41] ajijshekh123 commented on #30369
@magento give me 2.4-develop instance

[2020-10-08 15:14] ajijshekh123 commented on #30369
Hi @gototags-duncan,
I tried multiple times to navigate the checkout page with the guest user and logged user.  I have faced a single time issue.
See attached the screenshot:
![image](https://user-images.githubusercontent.com/24711761/95476626-0c90c480-09a5-11eb-8928-205f33898e1c.png)

@gototags-duncan Can you please update which types of scenarios you have followed?

Thanks.

[2020-10-08 15:28] sidolov opened #30378 "Test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-10-08 15:29] sidolov commented on #30378
@magento I'm working on it

[2020-10-08 15:29] #30378 closed, assigned to sidolov

[2020-10-08 15:41] Eddcapone commented on #30364
I tested it on the Instance above, but the field "Product -- Full Width" is not in the dropdown.

[2020-10-08 16:10] Goldeo commented on #30272
Thanks for the tip. My application needs the HTTPS protocol (chrome warns about invalid SSL certificate but app opens in the browse). But for test Magento, I just run my React app with the HTTP protocol. I think if configure the SSL certificate, then everything will work as expected.

[2020-10-08 16:12] gototags-duncan commented on #30369
Hello @ajijshekh123 , thank you for your prompt attention to this issue.

Looks like you requested version `2.4-develop`, we are actually running on `2.3.5-p2`, I wonder if this is why the console is different in your case.

Here are screen shots of the steps taken to reproduce the warnings:

1) add an item to the cart:
  - <img width="1442" alt="Capture" src="https://user-images.githubusercontent

[2020-10-08 16:38] ihor-sviziev commented on #30272
@Goldeo so issue is solved? Can we close this issue?

[2020-10-08 16:40] edsonjuniorwbj opened #30379 "Error composer install"
### Preconditions (*)
Magento version 2.3.5-p1

### Environment (*)
Ubuntu 20
Docker
PHP 7.3

### Steps to reproduce (*)
1. git clone <repository>
2. composer install

### Actual result (*)
`- Installing magento/module-customer-balance (100.3.5): Downloading (connectinDownloading (failed)

  [Composer\Downloader\TransportException]
  The "https://repo.magento.com/archives/magento/module-customer-b

[2020-10-08 16:41] Goldeo commented on #30272
Yes. Thank you)

[2020-10-08 16:41] #30272 closed, assigned to ihor-sviziev

[2020-10-08 16:54] edsonjunior2021 commented on #30379
Sorted out. I put the wrong keys in auth.

[2020-10-08 16:54] #30379 closed, assigned to nobody

[2020-10-08 17:37] #29547 closed, assigned to nobody

[2020-10-08 17:38] magento-engcom-team commented on #30325
@engcom-tester Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-08 18:49] hostep commented on #23676
@sidolov or @sdzhepa: why was this issue closed without specifying any reason?

[2020-10-08 19:41] sdzhepa commented on #29073
Hello @stupachenko @engcom-Delta

We discussed this issue one more time during triage with the engineering and Product Manager.
From one point of view, it could be an expected and logical result: Admin updates/add 1 new attributes with a predefined value and expects that all existed products will be updated with this attribute and value.

But from another perspective, this quite old behavior, mayb

[2020-10-08 19:41] #29073 closed, assigned to nobody

[2020-10-08 20:12] #28688 closed, assigned to sdzhepa

[2020-10-08 20:12] #28390 closed, assigned to sdzhepa

[2020-10-08 20:12] #28338 closed, assigned to sdzhepa

[2020-10-08 20:16] #26547 closed, assigned to sdzhepa

[2020-10-08 20:18] danielpugh commented on #28698
This an issue for me on 2.3.5p2
It is a common problem
 might be useful
https://github.com/claviska/tinymce-iconfonts

Or perhaps

tinyMCE.init({
    // ...
    extended_valid_elements : '*[*]',
});

[2020-10-08 20:18] sdzhepa commented on #25701
We are not able to reproduce it now on the latest `2.4-develop`
It seems was already fixed

[2020-10-08 20:18] #25701 closed, assigned to sdzhepa

[2020-10-08 20:20] sdzhepa commented on #25562
Sorry for the late response..missed the notification

Seems this issue is not actual now, we are not able to reproduce it with the latest code and magento versions

[2020-10-08 20:20] #25562 closed, assigned to sdzhepa

[2020-10-08 20:21] #8198 closed, assigned to sdzhepa

[2020-10-08 20:22] sdzhepa commented on #7845
We are not able to reproduce this on the latest code `2.4-develop`
Seems it was already fixed

[2020-10-08 20:22] #7845 closed, assigned to sdzhepa

[2020-10-08 20:37] sdzhepa commented on #24948
Magento stops supporting of Temando module. Please see more details https://magento.com/shipping
Long story short:
- The extension owner does not work and support this module anymore.
- Magento will support "_existing customers until November 15, 2020_" only through the support channel associated with your Magento account.
- In the internal Magento backlog there is a ticket to completely remove Te

[2020-10-08 20:37] #24948 closed, assigned to nobody

[2020-10-08 20:50] #23192 closed, assigned to nobody

[2020-10-08 21:25] chrisbadley opened #30380 "Error stopping credit memo email sending"
### Preconditions (*)
Magento Version 2.3.5 p-2
NGINX 1.16.1
PHP 7.3.20

### Steps to reproduce (*)

1. Create a credit memo against any existing order
2. Observe cron logs

### Expected result (*)

1. Customer receives an email notification when a credit memo has been generated against their order

### Actual result (*)
1. No Credit memos email notifications are sent to customer.
2. Following err

[2020-10-09 00:57] extremeskillz commented on #26913
fixed in the latest releases.

[2020-10-09 00:57] #26913 closed, assigned to nobody

[2020-10-09 04:43] tanimoto-true opened #30381 "Uploading base64 encoded image via Product API doesn't display some images stored in tmp directory"
### Summary
I created new product via product API with some base64 encoded jpeg images.
But only one image displays in frontend and admin page.
Looks like other images are saved in tmp directory and those are not displayed.

- endpoint
/rest/V1/products

- method
Post

### Preconditions (*)

1. Magento ver. 2.3.4-p2
2. php v7.2.33
3. MySql v5.7

### Steps to reproduce (*)

1. Upload new product vi

[2020-10-09 04:57] ajijshekh123 commented on #30369
@magento give me 2.3.5-p2 develop instance

[2020-10-09 04:57] ajijshekh123 commented on #30369
@magento give me 2.3.5-p2 instance

[2020-10-09 05:01] ajijshekh123 commented on #30369
Hi @gototags-duncan,
Thanks for the Update. This issue is fixed in the latest Magento 2.4 Instance that's why this issue is not happening in the latest Magento.  I recommended to you please upgrade your Magento Version and Review the issue. If you have a face again this issue in the latest Magento Instance You can update me I will verify and confirmed the issue.
Right now, Magento doesn't provide

[2020-10-09 05:07] binhlx-smartosc commented on #26119
In Graphql query
area = "graphql"

But current all functions to get product image only working with area="frontend".

So with a special Graphql query, you can use function to load design with area="frontend" before get product image data
Or can use it in "resolve" function (class of Graphql)

`$area = $this->_areaList->getArea(\Magento\Framework\App\Area::AREA_FRONTEND);
  $area->load(\Magento\Fra

[2020-10-09 06:31] NTK-2016 commented on #30371
hi @krishprakash ,
 It is an issue because I have configured the migrated database with another magento 2.3.4, then, I have got all the data , when back original domain it is not working even I vendor directory

[2020-10-09 07:47] crabbynguyen commented on #30047
@magento I am working on this

[2020-10-09 07:48] crabbynguyen commented on #30047
@magento add to contributors team

[2020-10-09 07:48] crabbynguyen commented on #30047
@magento I am working on this

[2020-10-09 08:04] jignesh-baldha commented on #29871
Hello @DavaGordon
How did you fix this issue?

[2020-10-09 08:19] mrtuvn commented on #30364
yes it's correct

yes its correct

[2020-10-09 08:20] ajijshekh123 commented on #30364
Right @Eddcapone, This functionality may be available in the Enterprise version.
You can discuss this issue with the Magento Support team.

Thanks

[2020-10-09 08:37] #27439 closed, assigned to nobody

[2020-10-09 08:47] test4295 opened #30382 "Wrong date show in datepicker after saving a cart price rule, product special price date on administrator Dutch locale"
### Preconditions (*)
1. Magento 2.3.4

### Steps to reproduce (*)
1. Login to admin panel
1. Set user  account as Dutch lang
1. Create cart price rules with From date 28-5-2020 and To date 31-12-2020
1. Save rules
1. date is showing right in grid
1. Edit rule and check wrong date show

### Expected result (*)
1. From/To date should be correct  from date 28-5-2020 and to date 31-12-2020

### Actua

[2020-10-09 08:56] magento-engcom-team commented on #30025
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38327` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-09 08:59] engcom-Bravo commented on #25115
The issue is not reproducible on the latest 2.4-develop and Elastic Search Version: 7.9.2
According to the [System requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements-tech.html), Magento no longer supports Elasticsearch 2.x, 5.x, and 6.x

### Manual testing scenario
1 . Configure Elasticsearch 7 in the configuration.
2 Go to Store -> Configuration -> Catalog -> Ca

[2020-10-09 09:13] danielpugh commented on #28698
following last post i have installed the tinymce plugin mentioned above (tinymce-iconfonts) and it allows me to use e.g. font-awesome immediately.  had to edit file to add plugin as per here - https://devdocs.magento.com/guides/v2.4/ui_comp_guide/components/wysiwyg/configure-tinymce-editor.html

added plugin to this file
/vendor/magento/module-cms/Model/Wysiwyg/DefaultConfigProvider.php
then uploa

[2020-10-09 09:17] shikhamis11 commented on #30299
@magento give me 2.4-develop instance

[2020-10-09 09:24] engcom-Delta commented on #30373
Hi @frenci8
The GitHub issue tracker is intended for Magento Core technical issues only.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.

[2020-10-09 09:24] #30373 closed, assigned to engcom-Delta

[2020-10-09 09:32] SamJUK opened #30383 "Checkout Session Locks Blocking Requests"
On a few checkout actions (most noticeable on shipping -> billing step change) session locking ends up blocking quite a few requests extending their load time as they need to wait for the other requests to end & release the locks. These requests are just wasting FPM connections while they wait for the session lock, reducing the number of actual requests the server can handle. I've been seeing the

[2020-10-09 09:33] engcom-Delta commented on #27862
Hi @b2bdokter thank you for your report. Please update issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)
Could you reproduce your issue on magento instance? Use command from https://github.com/magento/magento2/issues/27862#issuecomment-613957307

[2020-10-09 09:41] #30364 closed, assigned to nobody

[2020-10-09 10:00] Hexmage commented on #30316
The same is true if you add a product to a website through the api. The product will not generate any new url rewrites for that website.

[2020-10-09 10:13] magento-engcom-team commented on #29604
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38328` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-09 10:46] irshadcedcoss commented on #30299
@magento I am working on this

[2020-10-09 10:47] irshadcedcoss commented on #30303
@magento I am working on this

[2020-10-09 10:48] irshadcedcoss commented on #30251
https://github.com/magento/magento2/issues/30251

[2020-10-09 10:48] irshadcedcoss commented on #30251
@magento I am working on this

[2020-10-09 10:50] irshadcedcoss commented on #30094
@magento I am working on this

[2020-10-09 11:23] teodorpav commented on #1056
It is very important functions for big stores.

[2020-10-09 11:44] jonashrem commented on #26960
I can confirm, this can still be an issue with Magento 2.4.0

[2020-10-09 11:46] Dren7755 commented on #29197
I have the same problem right after composer install.
I have changed job company, workstation, project and this error is not absent. So, I can suppose that problem in magento.

[2020-10-09 11:54] shikhamis11 commented on #30255
@magento I am working on this

[2020-10-09 12:24] Amit-Hariyani commented on #30303
@magento I am working on it

[2020-10-09 12:45] hirensolanki38 commented on #30383
@magento add me to repo.

[2020-10-09 12:49] Kanchi1695 commented on #30302
@magento I am working on it

[2020-10-09 12:53] Kanchi1695 commented on #30302
@magento add to contributors team

[2020-10-09 12:53] mallikaverma commented on #30269
@magento I am working on this.

[2020-10-09 12:54] Kanchi1695 commented on #30302
@magento add to contributors team

[2020-10-09 12:55] vikalps4 commented on #30266
@magento I am working on this.

[2020-10-09 12:59] vikalps4 commented on #30262
@magento I am working on this.

[2020-10-09 13:01] mallikaverma commented on #30283
@magento I am working on it

[2020-10-09 13:02] vikalps4 commented on #26194
@magento I am working on this.

[2020-10-09 13:09] adarshediyottil commented on #30360
The issue was related to settings in catalog configuration

stores > config > catalog > catalog > Date & Time Custom Options
My setting was 12h AM/PM

I changed it to 24h

After that, I got the cart response as below

`{"item_id":160,"sku":"Trailer Car-2","qty":1,"name":"Trailer Car","price":245,"product_type":"sirent","quote_id":"165","product_option":{"extension_attributes":{"custom_options":[{"

[2020-10-09 13:09] #30360 closed, assigned to nobody

[2020-10-09 13:09] WilliejanB commented on #29263
Is there a temporary fix available for this issue? I need it urgently. If so, where can I find this? I'm not a programmer, so please keep it simple...... Thanks a lot!

[2020-10-09 13:15] mallikaverma commented on #30260
@magento I am working on it

[2020-10-09 13:16] vikalps4 commented on #30298
@magento I am working on it

[2020-10-09 13:17] prasannaborngroup opened #30384 "UPS Shipping Tracking Popup displaying wrong date and time"
**Summary of the issue :**

We are facing an issue in UPS Shipping Tracking popup window from admin side. It's displaying wrong date and time as compare to UPS delivery information and progress data.

**Preconditions :**

1. Magento 2.3.3 EE
2. UPS live tracking number
3. UPS account credentials.

**Steps to reproduce :**

1. Place an order and fulfill the order with a valid tracking number with t

[2020-10-09 13:18] DipaliBhalala commented on #10353
@magento I am working on it

[2020-10-09 13:22] Amit-Hariyani commented on #30303
@magento add to contributors team

[2020-10-09 13:22] hm-harshit opened #30385 "Can't add product images roles with $product->addImageToMediaGallery"
I tried To Upload Images by using

[code]

Images are uploded success, but Images roles are not assign to this uploded Image

![image](https://user-images.githubusercontent.com/34433141/95587850-41ae1d00-0a60-11eb-8733-a38cebbeacf3.png)

[2020-10-09 13:23] DipaliBhalala commented on #10353
@magento add to contributors team

[2020-10-09 13:26] jignesh-coder commented on #29428
@magento add to contributors team

[2020-10-09 13:27] jignesh-coder commented on #29428
@magento I am working on it

[2020-10-09 13:35] DipakVadher commented on #30294
@magento I am working on it

[2020-10-09 13:35] Kishorchhugani commented on #29506
@magento I am working on it

[2020-10-09 13:35] Ronak-Bhatti commented on #30297
@magento I am working on it

[2020-10-09 13:35] Kishorchhugani commented on #29506
@magento add to contributors team

[2020-10-09 13:35] DipakVadher commented on #30294
@magento add to contributors team

[2020-10-09 13:36] Ronak-Bhatti commented on #30297
@magento add to contributors team

[2020-10-09 13:39] Krishna-Rajyaguru commented on #30290
add to contributors team

[2020-10-09 13:41] Krishna-Rajyaguru commented on #30290
@magento add to contributors team

[2020-10-09 13:42] Krishna-Rajyaguru commented on #30290
@magento I am working on it

[2020-10-09 13:44] vikalps4 commented on #30287
@magento I am working on it

[2020-10-09 13:45] JoostWan commented on #23186
This is still a issue in 2.3.5-p2

[2020-10-09 13:47] vikalps4 commented on #30256
@magento I am working on it

[2020-10-09 13:57] Chandresh22 commented on #30270
@magento add to contributors team

[2020-10-09 13:57] Chandresh22 commented on #30270
@magento I am working on it

[2020-10-09 14:08] sagar-vasani commented on #25461
@magento add to contributors team

[2020-10-09 14:09] sagar-vasani commented on #25461
@magento I am working on it

[2020-10-09 14:29] SeruyV commented on #30299
Hi, @irshadcedcoss the current issue is already fixed by another one. I believe that it fixed at https://github.com/magento/magento2/pull/26650/ but not 100%. Anyway, their main issue is fixed. The only thing which is not fixed is error messages which do not appear till the refresh page. I`ve just checked in with Magento 2 Open Source and Magento 2 Open Source + Inventory.

[2020-10-09 15:16] Hexmage opened #30387 "[GraphQl] Add Formatted price to Money Type."
### Description (*)

I would like the Type Money to also return the value formatted for its current local.

### Expected behavior (*)

Example:
[code]
Depending on the store locale formatted should be different.

### Benefits

The logic is already present in Magento its just not accessible through GraphQl currently. And the logic would not have to be re-implemented in whatever you are using as a f

[2020-10-09 15:49] Sartoric commented on #29506
I'm facing the same issue (2.3.5-p1)

It seems that it happens just after the coupon is applied, in fact reloading the checkout page seems to "fix" the issue

[2020-10-09 15:50] milan7434 commented on #26214
@magento add to contributors team

[2020-10-09 15:52] milan7434 commented on #26214
@magento add to contributors team

[2020-10-09 15:54] milan7434 commented on #26214
@magento I am working on it

[2020-10-09 16:03] gauravagarwal1001 commented on #30264
@magento I am working on this

[2020-10-09 18:14] lng50k opened #30388 "Uncaught TypeError: Event.observe is not a function in admin review edit page"
Preconditions
1. Magento 2.4.0
2. Mac OS High Sierra Environment

Steps to reproduce
1. Login to admin
2. Go to menu Marketing -> All Reivews
3. Try to edit any order

Expected result
1.  Working review edit

Actual result
1. JS console error - Uncaught TypeError: Event.observe is not a function
2. Styles are broken
3. Changing status and saving is working though

Screenshots attached
![Screen Sho

[2020-10-09 18:22] JosephLeedy commented on #29453
@magento-engcom-team I don't see this fix in Magento 2.4.1. Am I missing something?

[2020-10-09 19:19] brunogemelli commented on #12846
I am facing a similar issue in Magento Commerce Edition - v2.3.5-p1.

@magento-engcom-team What were the commits for this issue?

[2020-10-09 21:02] sprankhub commented on #25115
Awesome!

[2020-10-09 21:02] #25115 closed, assigned to engcom-Bravo

[2020-10-09 23:53] gototags-duncan commented on #30369
Hello @ajijshekh123,

Sound like this is fixed in the latest version. We are using the Amasty plugin, I'm wondering if they are both rendering the same form, or at least 2 forms with the same ids.

Thank you,
Duncan

[2020-10-10 03:40] geeta07 commented on #14550
@magento I am working on it

[2020-10-10 03:50] gauravagarwal1001 commented on #30264
#dmcdindia2020

[2020-10-10 03:51] santhoshp commented on #30267
@magento I am working on it

[2020-10-10 03:55] geeta07 commented on #14550
#dmcdindia2020

[2020-10-10 03:55] magento-engcom-team commented on #14550
@geeta07 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-10-10 03:56] geeta07 commented on #14550
@magento I am working on it

[2020-10-10 03:58] geeta07 commented on #29448
#dmcdindia2020

[2020-10-10 03:58] geeta07 commented on #29448
@magento I am working on it

[2020-10-10 04:00] shikhamis11 commented on #30255
#dmcdindia2020

[2020-10-10 04:01] solwininfotech commented on #30258
@magento I am working on this

[2020-10-10 04:02] solwininfotech commented on #26133
@magento I am working on this

[2020-10-10 04:03] sanjay-magecomp commented on #25933
@magento I am working on this

[2020-10-10 04:03] m2-assistant[bot] opened #30390 "[Issue] class docstring methods corrected"
This issue is automatically created based on existing pull request: magento/magento2#30389: class docstring methods corrected

---------

### Description (*)

It's a class docstring correction causing my PHPStorm showing wrong type hinting.

### Related Pull Requests

### Fixed Issues (if relevant)

### Manual testing scenarios (*)

1. Check the type hints on any IDE which reads a class docstrings

[2020-10-10 04:04] sanjay-magecomp commented on #25933
@magento add to contributors team

[2020-10-10 04:06] sanjay-magecomp commented on #25933
@magento #dmcdindia2020

[2020-10-10 04:06] magento-engcom-team commented on #25933
@sanjay-magecomp thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-10-10 04:06] sanjay-wagento commented on #30305
@magento I am working on it

[2020-10-10 04:06] milindsingh commented on #30390
#dmcdindia2020

[2020-10-10 04:06] sanjay-magecomp commented on #25933
@magento I am working on this

[2020-10-10 04:08] pankajparmar12 commented on #26565
@magneto #dmcdindia2020

[2020-10-10 04:08] sanjay-wagento commented on #30305
#dmcdindia

[2020-10-10 04:09] magento-engcom-team commented on #26565
@pankajparmar12 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-10-10 04:10] pankajparmar12 commented on #26565
@magento I'm working on it

[2020-10-10 04:15] vikalps4 commented on #30266
dmcdindia2020

[2020-10-10 04:16] krishprakash commented on #30388
#dmcdindia2020

[2020-10-10 04:17] vikalps4 commented on #30266
#dmcdindia2020

[2020-10-10 04:17] krishprakash commented on #30388
@magento give me 2.4-develop instance

[2020-10-10 04:17] shikhamis11 commented on #30362
#dmcdindia2020

[2020-10-10 04:18] shikhamis11 commented on #30362
@magento give me 2.4-develop instance

[2020-10-10 04:19] vikalps4 commented on #30262
#dmcdindia2020

[2020-10-10 04:22] Surabhi-Cedcoss commented on #30199
@magento I am working on this

[2020-10-10 04:23] Surabhi-Cedcoss commented on #30199
#dmcdindia2020

[2020-10-10 04:27] gulshanchitransh commented on #30256
I am working on this @magento
#dmcdindia2020

[2020-10-10 04:28] DipakVadher commented on #30294
I am working on it

[2020-10-10 04:29] gulshanchitransh commented on #30256
@magento I am working on it

[2020-10-10 04:29] solwininfotech commented on #29217
@magento I am working on this

[2020-10-10 04:29] solwininfotech commented on #26432
@magento I am working on this

[2020-10-10 04:31] gulshanchitransh commented on #30256
@magento give me 2.4-develop instance

[2020-10-10 04:32] Ronak-Bhatti commented on #30297
@magento add to contributors team

[2020-10-10 04:32] mallikaverma commented on #30283
#dmcdindia2020

[2020-10-10 04:33] mallikaverma commented on #30269
#dmcdindia2020

[2020-10-10 04:34] mallikaverma commented on #22409
#dmcdindia2020

[2020-10-10 04:38] mallikaverma commented on #30283
@magento give me 2.4-develop instance

[2020-10-10 04:41] krishprakash commented on #30388
Hi @lng50k. Looks like console error shows for other OS/browsers as well.

![image](https://user-images.githubusercontent.com/46617848/95645730-95ac1680-0adf-11eb-86dd-e5281e555cc3.png)

[2020-10-10 04:42] sanjay-wagento commented on #30305
@magento give me 2.4-develop instance

[2020-10-10 04:43] magento-engcom-team commented on #30388
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38330` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-10 04:45] vikalps4 commented on #26194
#dmcdindia2020

[2020-10-10 04:46] vikalps4 commented on #30298
#dmcdindia2020

[2020-10-10 04:47] vikalps4 commented on #30196
#dmcdindia2020

[2020-10-10 04:47] vikalps4 commented on #30196
@magento I am working on this.

[2020-10-10 04:49] DipakVadher commented on #30294
add to contributors team

[2020-10-10 04:49] krishprakash commented on #30347
#dmcdindia2020

[2020-10-10 04:52] krishprakash commented on #30347
@magento give me 2.4-develop instance

[2020-10-10 04:53] Yash-Bhayani commented on #30295
@magento I am working on this

[2020-10-10 04:54] konarshankar07 commented on #12075
@magento I'm working on this

[2020-10-10 04:54] Yash-Bhayani commented on #30295
@magento add to contributors team

[2020-10-10 04:56] Yash-Bhayani commented on #30295
@magento add to contributors team

[2020-10-10 04:59] pankajparmar12 commented on #26565
@magento #dmcdindia2020

[2020-10-10 05:00] pankajparmar12 commented on #26565
@magento I'm working on it

[2020-10-10 05:00] wagento-rajan commented on #30385
#dmcdindia2020

[2020-10-10 05:00] magento-engcom-team commented on #30385
@wagento-rajan thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-10-10 05:01] wagento-rajan commented on #30385
@magento working on this issue

[2020-10-10 05:05] magento-engcom-team commented on #30362
:white_check_mark: Confirmed by @shikhamis11
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38331` were created

**Issue Available**: @shikhamis11, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-10 05:07] geet07 commented on #14550
#dmcdindia2020

[2020-10-10 05:07] geet07 commented on #14550
@magento I am working on it

[2020-10-10 05:08] DipakVadher commented on #30294
@magento I am working on it

[2020-10-10 05:08] Kishorchhugani commented on #29506
@magento I am working on it

[2020-10-10 05:09] Ronak-Bhatti commented on #30297
@magento I am working on it

[2020-10-10 05:09] DipaliBhalala commented on #10353
@magento I am working on it

[2020-10-10 05:10] Kanchi1695 commented on #30302
@magento I am working on it

[2020-10-10 05:12] wagento-rajan commented on #30354
@magento give me 2.4-develop instance

[2020-10-10 05:13] DeexitSanghani commented on #25501
@magento I am working on this.

[2020-10-10 05:13] wagento-rajan commented on #30354
#dmcdindia2020

[2020-10-10 05:15] Amit-Hariyani commented on #28092
@magento I am working on this

[2020-10-10 05:15] Yash-Bhayani commented on #30295
@magento I am working on this

[2020-10-10 05:16] pankajparmar12 commented on #30324
@magento #dmcdindia2020

[2020-10-10 05:17] pankajparmar12 commented on #30324
@magento I'm working on it

[2020-10-10 05:17] Surabhi-Cedcoss commented on #29678
@magento i am working on this.

[2020-10-10 05:17] Surabhi-Cedcoss commented on #29678
#dmcdindia2020

[2020-10-10 05:21] DeexitSanghani commented on #25501
#dmcdindia2020

[2020-10-10 05:21] magento-engcom-team commented on #25501
@DeexitSanghani thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-10-10 05:22] DeexitSanghani commented on #25501
@magento add to contributors team

[2020-10-10 05:23] DeexitSanghani commented on #25501
@magento add to contributors team

[2020-10-10 05:26] Sweetyagarwal commented on #30159
@magento I am working on it.

[2020-10-10 05:28] Sweetyagarwal commented on #30159
#dmcdindia2020

[2020-10-10 05:28] jitendra-cedcoss commented on #30098
@magento I am working on it.

[2020-10-10 05:29] jitendra-cedcoss commented on #30098
#dmcdindia2020

[2020-10-10 05:31] Surabhi-Cedcoss commented on #30308
@magento give me 2.4-develop instance

[2020-10-10 05:32] amitvishvakarma commented on #29953
@magento I am working on it.

[2020-10-10 05:32] amitvishvakarma commented on #29953
#dmcindia2020

[2020-10-10 05:33] amitvishvakarma commented on #29953
#dmcdindia2020

[2020-10-10 05:33] magento-engcom-team commented on #30347
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38332` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-10 05:45] krishprakash commented on #30356
#dmcdindia2020

[2020-10-10 05:46] Surabhi-Cedcoss commented on #28758
@magento i am working on this

[2020-10-10 05:47] Surabhi-Cedcoss commented on #28758
#dmcdindia2020

[2020-10-10 05:55] magento-engcom-team commented on #30356
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38333` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-10 05:59] Amit-Hariyani commented on #30293
@magento I am working on this

[2020-10-10 06:00] Neo-Creo commented on #26433
@magento assign this issue to me.

[2020-10-10 06:01] Amit-Hariyani commented on #30284
@magento I am working on this

[2020-10-10 06:03] Neo-Creo commented on #26433
@magento I am working on this

[2020-10-10 06:04] Neo-Creo commented on #26433
@magento add to contributors team

[2020-10-10 06:04] Amit-Hariyani commented on #26443
@magento I am working on this

[2020-10-10 06:04] reshadzazai opened #30395 "New Shippment for Guest User : No such entity with customerId ="
### Summary
While creating New Shippment for an order which is placed by Guest User (Customer Group: NOT LOGGED IN), I get the error `No such entity with customerId =`
I had the same issue in Magento 2.2.6 so I have upgraded it to Magento ver. 2.3.5-p2 but I still get the error.

### Preconditions (*)
1. Magento ver. 2.3.5-p2
2. PHP 7.2.33

### Steps to reproduce (*)
1. Placed order as Guest User

[2020-10-10 06:04] Neo-Creo commented on #26433
@magento I am working on this

[2020-10-10 06:04] chirag-d-wagento commented on #12899
@magento i'm working on it

[2020-10-10 06:05] Amit-Hariyani commented on #23645
@magento I am working on this

[2020-10-10 06:11] santhoshp commented on #30267
@magento give me 2.4-develop instance - upcoming 2.4.x release

[2020-10-10 06:34] krishprakash commented on #30342
#dmcdindia2020

[2020-10-10 06:35] krishprakash commented on #30342
@magento give me 2.4-develop instance

[2020-10-10 06:41] Vossie1975 commented on #15461
now after more than 2.5 years, but this problem remains.
Fixing bugs like this is clearly not a priority.
I have not even reported other bugs.
In the meantime, therefore, also busy with dumping Magento and switching to other webshop software that is more user-friendly and where problems are solved.

[2020-10-10 06:45] ashvin0009 commented on #30361
@magento add to contributors team

[2020-10-10 06:45] ashvin0009 commented on #30361
@magento I am working on this

[2020-10-10 06:48] DipaliBhalala commented on #10353
I've tried this in Magento 2.4,
checked id and data-id ...both are working fine
It's not throwing any kind of error!

[2020-10-10 06:49] shubham-cedcoss commented on #30319
@magento I am working on it

[2020-10-10 06:49] shubham-cedcoss commented on #30319
@magento add to contributors team

[2020-10-10 06:50] vikalps4 commented on #30266
@magento give me 2.4-develop instance

[2020-10-10 06:50] shubham-cedcoss commented on #30319
@magento I am working on it

[2020-10-10 06:53] amitvishvakarma commented on #29698
@magento I am working on it.

[2020-10-10 06:54] amitvishvakarma commented on #29698
#dmcdindia2020

[2020-10-10 06:54] sodhisarab commented on #28358
@magento I am working on this

[2020-10-10 06:54] sodhisarab commented on #28358
@magento add to contributors team

[2020-10-10 06:55] sodhisarab commented on #28358
@magento I am working on this

[2020-10-10 07:06] PayalrPatel commented on #30387
#dmcdindia2020

[2020-10-10 07:06] magento-engcom-team commented on #30387
@PayalrPatel thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-10-10 07:06] saumya1998 opened #30397 "Design issue in category page , in Shopping Options dropdown, the count value alignment is not right."
*Design issue in category page , in Shopping Options dropdown, the count value alignment is not right.*

### Preconditions (*)
1. PHP 7.4.11
2. magento2-2.4

### Steps to reproduce (*)
1) Open magento base url.
2) Go to category page.
3) Go to Shopping Options on left side of page.
4) Open any CATEGORY/PRICE dropdown.
5) Check count design.

### Expected result (*)
https://user-images.githubuserco

[2020-10-10 07:07] sunilit42 commented on #30388
#dmcdindia2020

[2020-10-10 07:07] PayalrPatel commented on #30395
@magento I am working on this

[2020-10-10 07:08] PayalrPatel commented on #30387
@magento I am working on this

[2020-10-10 07:08] sunilit42 commented on #30388
@magento I am working on this

[2020-10-10 07:09] shikhamis11 commented on #30362
@magento I am working on this

[2020-10-10 07:11] miteshdhaduk commented on #30299
#dmcdindia2020

[2020-10-10 07:11] magento-engcom-team commented on #30299
@miteshdhaduk thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-10-10 07:14] saumya1998 commented on #30397
#dmcdindia2020

[2020-10-10 07:14] magento-engcom-team commented on #30397
@saumya1998 thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-10-10 07:17] aryancedcoss opened #30399 "Design Issue on Checkout page"
### Description (*)
Design Issue on Checkout page
### Preconditions (*)
1. php version : 7.3.23
2. Magento version: 2.4
3. Viewport : Desktop

### Steps to reproduce (*)
1. Add product to cart
2. Proceed to Checkout

### Expected result (*)

1. If user is not logged in
![checkout_alignment_resolved](https://user-images.githubusercontent.com/53182467/95648836-da43ac00-0af7-11eb-9bc4-617be7480303.pn

[2020-10-10 07:19] ajijshekh123 commented on #30397
#dmcdindia2020

[2020-10-10 07:20] ajijshekh123 commented on #30397
@magento give me 2.4-develop instance

[2020-10-10 07:21] ajijshekh123 commented on #30399
#dmcdindia2020

[2020-10-10 07:22] ajijshekh123 commented on #30399
@aryancedcoss - Please attach the screenshot for the actual result and expected result

[2020-10-10 07:23] chiragrajput commented on #30211
#dmcdindia2020

[2020-10-10 07:23] magento-engcom-team commented on #30211
@chiragrajput thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-10-10 07:24] ajijshekh123 commented on #30369
Hi @gototags-duncan,
Thank you for the update. Let me close the issue.

[2020-10-10 07:24] #30369 closed, assigned to ajijshekh123

[2020-10-10 07:27] ajijshekh123 commented on #30397
@magento give me 2.4-develop instance

[2020-10-10 07:27] aryancedcoss commented on #30399
#dmcdindia2020

[2020-10-10 07:28] magento-engcom-team commented on #30399
@aryancedcoss thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-10-10 07:28] ajijshekh123 commented on #30399
Thanks @aryancedcoss

[2020-10-10 07:29] aryancedcoss commented on #30399
Yes Sir, I have updated Screenshot with issue.
Please check

[2020-10-10 07:29] ajijshekh123 commented on #30399
@magento give me 2.4-develop instance

[2020-10-10 07:33] Surabhi-Cedcoss commented on #28208
@magento i am working on this.

[2020-10-10 07:38] Surabhi-Cedcoss commented on #28208
#dmcdindia2020

[2020-10-10 07:38] Vossie1975 commented on #15461
Just go use other software. This Wil never be solved by magento

[2020-10-10 07:38] ajijshekh123 commented on #30399
@magento give me 2.4-develop instance

[2020-10-10 07:39] chirag-d-wagento commented on #12899
Issue is not reproduce in 2.4

URL is http://127.0.0.1/magento-ce-2.4-develop/rest/all/V1/customers/search?searchCriteria[filterGroups][0][filters][0][field]=company_name&searchCriteria[filterGroups][0][filters][0][value]=mycompany&searchCriteria[filterGroups][0][filters][0][field]=company&searchCriteria[filterGroups][0][filters][0][value]=mycompany

Giving error below

The company attribute name

[2020-10-10 07:41] m2-assistant[bot] opened #30403 "[Issue] Added fix for wrong product ratings issue #30196"
This issue is automatically created based on existing pull request: magento/magento2#30396: Added fix for wrong product ratings issue #30196

---------
Added fix for wrong product ratings issue in Customer Panel "My Product Reviews.

Preconditions (*)

    1. Magento 2.4 with sample data

Steps to reproduce (*)

   1. Submit a review on any Product.
   2. After Admin approve the review, Login to C

[2020-10-10 07:42] riddhiwagento commented on #30381
@magento I am working on it

[2020-10-10 07:43] riddhiwagento commented on #30381
@magento add to contributors team

[2020-10-10 07:44] krishprakash commented on #30403
#dmcdindia2020

[2020-10-10 07:47] riddhiwagento commented on #30381
@magento I am working on this

[2020-10-10 07:48] sunilit42 commented on #30301
#dmcdindia2020

[2020-10-10 07:48] sunilit42 commented on #30301
@magento I am working on this

[2020-10-10 07:51] krishprakash commented on #30342
Hi @Jedi88 @ecompleteClem , Not able to reproduce the issue as provided steps by you.

![image](https://user-images.githubusercontent.com/46617848/95648319-db72da00-0af3-11eb-8090-2213ceed642f.png)

![image](https://user-images.githubusercontent.com/46617848/95648333-ee85aa00-0af3-11eb-9d51-b5343a7f23df.png)

![image](https://user-images.githubusercontent.com/46617848/95648381-33a9dc00-0af4-11eb-8

[2020-10-10 07:51] #30342 closed, assigned to krishprakash

[2020-10-10 07:56] rohit-wagento commented on #24576
@magento I'm working on this

[2020-10-10 08:01] gauravagarwal1001 commented on #30265
#dmcdindia2020

[2020-10-10 08:01] gauravagarwal1001 commented on #30265
@magento I am working on this

[2020-10-10 08:01] gauravagarwal1001 commented on #30265
@magento give me 2.4-develop instance

[2020-10-10 08:02] Sweetyagarwal commented on #30155
@magento I am working on it.

[2020-10-10 08:03] Sweetyagarwal commented on #30155
#dmcdindia2020

[2020-10-10 08:06] Sweetyagarwal commented on #30155
#dmcdindia2020

[2020-10-10 08:06] rakhi98 commented on #30271
@magento I am working on this

[2020-10-10 08:08] gabrieldagama commented on #30399
@magento give me test instance

[2020-10-10 08:08] Sweetyagarwal commented on #30155
@magento give me 2.4-develop instance

[2020-10-10 08:08] gabrieldagama commented on #30399
@magento give me 2.4-develop instance

[2020-10-10 08:09] rakhi98 commented on #30271
@magento add to contributors team

[2020-10-10 08:12] sanjay-wagento commented on #30305
@magento I am unable to reproduce the issue on Magento commerce 2.4.0

[2020-10-10 08:12] Ronak-Bhatti commented on #30297
Can you check the following steps

1) Store->Settings->Configuration->Catalog->inventory->Stock Options->set "Decrease Stock When Order is Placed" to YES

2) When you add new product set the Quantity -> Advanced Inventory -> Mange Stock to YES

3) Cache Management

[2020-10-10 08:22] rakhi98 commented on #30271
@magento I am working on this

[2020-10-10 08:23] sunilit42 commented on #28748
#dmcdindia2020

[2020-10-10 08:24] sunilit42 commented on #28748
@magento I am working on this

[2020-10-10 08:27] amitvishvakarma commented on #30143
@magento I'm working on this

[2020-10-10 08:27] amitvishvakarma commented on #30143
#dmcdindia2020

[2020-10-10 08:33] yogeshkhasturi commented on #22363
#dmcdindia2020

[2020-10-10 08:33] yogeshkhasturi commented on #22363
@magento give me 2.4-develop instance

[2020-10-10 08:33] rakhi98 commented on #29760
@magento I am working on this

[2020-10-10 08:42] jitendra-cedcoss commented on #29217
@magento I am working on it.

[2020-10-10 08:43] jitendra-cedcoss commented on #29217
#dmcdindia2020

[2020-10-10 08:43] sanjay-wagento opened #30408 "Multishipping does not update cart item subtotal correctly"
### Preconditions (*)
1. Magento 2.4.0
1. Multishipping Enable

### Steps to reproduce (*)
1. Add product in the cart
1. Click on Check Out with Multiple Addresses Link
1. Back to the cart page
1. Update product qty and click on Update Shopping Cart

### Expected result (*)
1. Item subtotal should display the correct amount based on qty
![Shopping_Cart](https://user-images.githubusercontent.com/86

[2020-10-10 08:43] sanjay-wagento commented on #30408
@magento I am working on it

[2020-10-10 08:44] sanjay-wagento commented on #30408
#dmcdindia2020

[2020-10-10 08:48] bartoszkubicki commented on #29534
It works if you add --elasticsearch-host=<host> --elasticsearch-port=<port> to installation command. It should be mentioned in docs

[2020-10-10 08:51] solwininfotech commented on #29217
@jitendra-cedcoss I am working on it and will push the branch in next 1 hour

[2020-10-10 09:00] irshadcedcoss commented on #30251
@magento give me 2.4.1 develop instance

[2020-10-10 09:02] sanjay-wagento commented on #30408
@krishprakash I am already started working on this. So please work on another issue.

[2020-10-10 09:04] krishprakash commented on #30408
@sanjay-wagento Don't worry. I'm just verifying the issue

[2020-10-10 09:05] ashish-wagento commented on #30218
@magento I am working on this.

[2020-10-10 09:06] chirag-d-wagento commented on #27849
@magento I'm working on it

[2020-10-10 09:09] ashish-wagento commented on #30218
#dmcdindia2020

[2020-10-10 09:10] sunilit42 commented on #30347
#dmcdindia2020

[2020-10-10 09:12] solwininfotech commented on #26432
#dmcdindia2020

[2020-10-10 09:23] geet07 commented on #29448
@magento I am working on it

[2020-10-10 09:26] jaydolphinweb commented on #30395
#dmcdindia2020

[2020-10-10 09:26] magento-engcom-team commented on #30395
@jaydolphinweb thank you for joining. Please accept team invitation [here](https://github.com/orgs/magento/invitation) and self-assign the issue.

[2020-10-10 09:26] geet07 commented on #29448
@magento give me 2.4-develop instance

[2020-10-10 09:27] GovindaSharma commented on #30094
@magento I am working on this

[2020-10-10 09:31] jaydolphinweb commented on #13143
#dmcdindia2020

[2020-10-10 09:32] jaydolphinweb commented on #13143
@magento I'm Working on it

[2020-10-10 09:32] geet07 commented on #29448
@magento give me 2.4-develop instance

[2020-10-10 09:33] saumya1998 opened #30414 "extra spacing from bottom in minicart."
### Preconditions (*)
1. magento2-2.4-develop, magento2.3
2. PHP 7.4.11

### Steps to reproduce (*)
1) open magento base url.
2) open product page
3) add product to your cart.
4) open minicart in header top right corner.
5) check spacing below View and Edit Cart link.

### Expected result (*)
https://user-images.githubusercontent.com/50991251/95651481-5a720d80-0b08-11eb-8519-4b844940d060.png

###

[2020-10-10 09:34] saumya1998 commented on #30414
#dmcdindia2020

[2020-10-10 09:39] Sweetyagarwal commented on #30270
@magento I am working on it.

[2020-10-10 09:39] Sweetyagarwal commented on #30270
#dmcdindia2020

[2020-10-10 09:43] irshadcedcoss commented on #30251
#dmcdindia2020

[2020-10-10 09:46] krishprakash commented on #30408
Verified the issue in local 2.4-develop instance

![image](https://user-images.githubusercontent.com/46617848/95651933-25b38580-0b0b-11eb-82ad-16ccf02aa138.png)

[2020-10-10 09:46] magento-engcom-team commented on #30408
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38334` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-10 09:51] chirag-d-wagento commented on #27849
#dmcdindia2020

[2020-10-10 09:51] wagento-rajan commented on #30354
The issue is not reproducible in the latest version.

[2020-10-10 09:57] AfreenScarlet commented on #26792
@magento I am working on it.

[2020-10-10 09:57] AfreenScarlet commented on #26792
#dmcdindia2020

[2020-10-10 10:01] wagento-rajan commented on #30157
@magento give me 2.4-develop instance

[2020-10-10 10:01] wagento-rajan commented on #30157
@magento I am working on this

[2020-10-10 10:03] Kanchi1695 commented on #30302
i follow the same step which you mention,but i doesn't face the issue. When I select black color on catalog page As low as price display 100 as your Expected result.

https://drops.meetanshi.com/6g34n4

[2020-10-10 10:06] geet07 commented on #18140
@magento I am working on it

[2020-10-10 10:06] geet07 commented on #18140
#dmcdindia2020

[2020-10-10 10:08] krishprakash commented on #30414
Hi @saumya1998. Thank you for your report.
Seems issue is already added and in open status #27987
So closing this as duplicate issue

[2020-10-10 10:08] #30414 closed, assigned to krishprakash

[2020-10-10 10:09] wagento-rajan commented on #30157
Please follow the below steps to setup Elastic Search:

Run the below command to Install Elasticsearch In locally.
Download and install the public signing key :

`wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -`

You may need to install the apt-transport-https package on Debian before proceeding :

`sudo apt-get install apt-transport-https`

Save the repository d

[2020-10-10 10:09] harshitmahendra commented on #30385
Any Update ?

[2020-10-10 10:09] geet07 commented on #29448
@magento give me 2.4-develop instance

[2020-10-10 10:10] sunilit42 commented on #27949
@sivaschenko
i think for client side we need to restict via code like you can not able to use css merge for client side mode

is that work then i will work on this?

[2020-10-10 10:13] wagento-rajan commented on #30157
#dmcdindia2020

[2020-10-10 10:18] krishprakash commented on #30403
Hi @vikalps4. Similar issue is already added and In Open status to #30196
So closing this as no need to open 2 similar issues

[2020-10-10 10:18] #30403 closed, assigned to vikalps4, krishprakash

[2020-10-10 10:20] vijay-wagento commented on #30361
#dmcdindia2020

[2020-10-10 10:26] aryancedcoss opened #30420 "Design Issue on view bundle order over customer Dashboard"
### Description (*)

Design Issue on view bundle order header over customer Dashboard

### Preconditions (*)

1. PHP Version:  7.3.23
2. Magento Version: Magento 2.4.0
3. Viewport : Desktop

### Steps to reproduce (*)

1. Login as customer
2. Order Bundle product
3. Goto Customer Dashboard
4. Click on my Orders
5. Click on view order over bundle product
6. Issue on Items Ordered tab

### Expected

[2020-10-10 10:27] aryancedcoss commented on #30420
#dmcdindia2020

[2020-10-10 10:27] krishprakash commented on #30420
#dmcdindia2020

[2020-10-10 10:28] krishprakash commented on #30420
@magento give me 2.4-develop instance

[2020-10-10 10:30] m2-assistant[bot] opened #30422 "[Issue] Customer Attributes Options with option group fixed"
This issue is automatically created based on existing pull request: magento/magento2#30421: Customer Attributes Options with option group fixed

---------

\Magento\Customer\Ui\Component\Listing\AttributeRepository::getOptionArray method fails to return correct options for attribute with option groupsi.e store_id (created_in).

### Description (*)
Magento 2.4-develop

\Magento\Customer\Ui\Componen

[2020-10-10 10:32] nitishcs6 commented on #30422
#event-dmcdindia2020

[2020-10-10 10:32] nitishcs6 commented on #30422
#dmcdindia2020

[2020-10-10 10:34] m2-assistant[bot] opened #30423 "[Issue] Resolved issue 30283"
This issue is automatically created based on existing pull request: magento/magento2#30417: Resolved issue 30283

---------
**1.Preconditions:**

Magento EE 2.3.5-p1, EE 2.4.0-beta1{color}, should be actual on CE
A Simple Product is created (Price = $100);
A Customer account is created

**2.Steps to Reproduce:**

Go to the Storefront as the created Customer
Place an order using the created Product

[2020-10-10 10:36] m2-assistant[bot] opened #30424 "[Issue] Fatal error page occurs if use wrong shipment id ,invoice id ,creditmemo id passed in url"
This issue is automatically created based on existing pull request: magento/magento2#30410: Fatal error page occurs if use wrong shipment id ,invoice id ,creditmemo id passed in url

---------

### Preconditions (*)
Magento 2.4 Develop

### Description (*)
Fatal error page occurs if use wrong shipment id ,invoice id ,creditmemo id passed in url

### Manual testing scenarios (*)
1.Create An Order I

[2020-10-10 10:38] m2-assistant[bot] opened #30425 "[Issue] Design Issue on Checkout page #30399 Fixed"
This issue is automatically created based on existing pull request: magento/magento2#30407: Design Issue on Checkout page #30399 Fixed

---------
**Description**
Left alignment issue on checkout page.

**Preconditions**
1. php version : 7.3.23
2. Magento version: 2.4
3. Viewport : Desktop

**Steps to reproduce**

1. Add product to cart
2. Proceed to Checkout

**Expected result**

1. If user is not

[2020-10-10 10:40] #30423 closed, assigned to mallikaverma

[2020-10-10 10:42] gabrieldagama commented on #30408
Hi @sanjay-wagento I'm not able to reproduce the issue, maybe I'm missing something, can you provide more details or maybe a video with the steps?

[2020-10-10 10:44] magento-engcom-team commented on #30420
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38335` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-10 10:46] krishprakash commented on #30425
#dmcdindia2020

[2020-10-10 10:51] krishprakash commented on #30425
@aryancedcoss Can you explain where the exact issue at checkout page as not clear from attached screenshots.
Kindly highlight the UI issue in screenshot which you are talking about so it will helpful in verification
Thanks!!

[2020-10-10 10:53] wagento-rajan commented on #30385
Hi @harshitmahendra

Please use the below code, that is tested on the latest Magento Version 2.4.0.
Using it you can able to assign the roles to any specific image.

[code]

According to the **addImageToMediaGallery** function, it consist the below parameters

1. $imagePath: file path of the image in the file system
2. Media Attributes: code of attribute with type 'media_image'
3. Move: if true, i

[2020-10-10 11:00] sanjay-wagento commented on #30408
@gabrieldagama Please check here
[screencast-nimbus-capture-2020.10.10-16_26_57.zip](https://github.com/magento/magento2/files/5358853/screencast-nimbus-capture-2020.10.10-16_26_57.zip)

[2020-10-10 11:02] huynhlehieunam commented on #28692
My solution is:
create a new messages.js file in theme to override core messages.js, copy all core code and create some changes in initialize function:
`initialize: function () {
            this._super();

            this.cookieMessages = _.unique($.cookieStorage.get('mage-messages'), 'text');
            var messageClone = customerData.get('messages').extend({
                disposableCustomer

[2020-10-10 11:07] m2-assistant[bot] opened #30431 "[Issue] Design Issue on view bundle order over customer Dashboard #30420 Fixed"
This issue is automatically created based on existing pull request: magento/magento2#30426: Design Issue on view bundle order over customer Dashboard #30420 Fixed

---------
### Description (*)
Design Issue on view bundle order header over customer Dashboard

### Preconditions (*)

    PHP Version: 7.3.23
    Magento Version: Magento 2.4.0
    Viewport : Desktop

### Steps to reproduce (*)

    Lo

[2020-10-10 11:07] wagento-rajan commented on #30277
@magento give me 2.4-develop instance

[2020-10-10 11:08] wagento-rajan commented on #30277
#dmcdindia2020

[2020-10-10 11:08] cedarvinda opened #30432 "Toolbar is not align proper in mywishlist page in mobile view"
**Description**
Toolbar is not align proper in MyWishlist page in mobile view

### Preconditions (*)
1. Magento2.4
2. php7.4

### Steps to reproduce (*)
1) open magento base url.
2) tab sign in on top right of screen.
3) enter email id and password to sign in your account.
4) go to my wishlist page and open mobile view.
5) check toolbar-amount and limiter design in mobile view (and compare with my

[2020-10-10 11:10] harshitmahendra commented on #30385
I am using that code on foreach function.
Image are assigned to all the products. But the roles only assigned to the first product in foreach. Why it's happening ?

[2020-10-10 11:11] harshitmahendra commented on #30385
Did you tried that code on foreach loop ?

[2020-10-10 11:12] cedarvinda commented on #30432
#dmcdindia2020

[2020-10-10 11:19] magento-engcom-team commented on #30432
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38336` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-10 11:19] cedarvinda commented on #30432
I am working in this issue.

[2020-10-10 11:21] aryancedcoss commented on #30425
Sir here is screenshot with highlighted red box.
Please check

1. If user is not logged in
![s2](https://user-images.githubusercontent.com/53182467/95653746-9f9e3b80-0b18-11eb-9e78-b372c3582e8d.png)

2.  If user is logged in
![s1](https://user-images.githubusercontent.com/53182467/95653755-b2187500-0b18-11eb-9634-9ca19c585838.png)

[2020-10-10 11:22] wagento-rajan commented on #30385
Hi @harshitmahendra

I have checked in the above code in the foreach loop, and each time images saved with the roles.

Did you check the updated parameter in the code?

`$product->addImageToMediaGallery($imagePath, array('image', 'small_image', 'thumbnail','swatch_image'), false, false);
`
Used the Move and Exclude parameter as false;

**Note**: In your for each loop code add the code for load id

[2020-10-10 11:28] gulshanchitransh commented on #29111
#dmcdindia2020

[2020-10-10 11:30] rohit-wagento commented on #24576
I will review on this, it seems takes time to debug into this, i will update into this if i found something.

[2020-10-10 11:32] Yash-Bhayani commented on #29318
@magento I am working on it

[2020-10-10 11:37] krishprakash commented on #30431
#dmcdindia2020

[2020-10-10 11:38] krishprakash commented on #30431
Issue is already added and verified with #30420

[2020-10-10 11:38] #30431 closed, assigned to krishprakash, aryancedcoss

[2020-10-10 11:46] m2-assistant[bot] opened #30435 "[Issue] Update menu.xml"
This issue is automatically created based on existing pull request: magento/magento2#30428: Update menu.xml

---------
Preconditions (*)
Magento 2.4-develop
Login as Customer is enabled
Steps to reproduce (*)
Go to backend
Expected result (*)
https://xd.adobe.com/view/b9d43ac6-ee9f-4e94-516a-70dd15b45232-cfe5/screen/87f8df4a-baae-4830-8080-04b7bda23670/Log-admin-3
image
Actual result (*)
image

##

[2020-10-10 11:49] Ronak-Bhatti commented on #7392
Hello
After Enable page from Admin side go open SSH and go to your project directory
Then type the following command
          php bin/magento cache:flush

[2020-10-10 14:40] akgola opened #30437 "Reorder issue with product custom option error "The product has required options. Enter the options and try again." on cart Page"
**Preconditions (*)**

    1. Magento 2.4
    2. Reordering an order with products that have custom options as Drop Down type.

**Steps to reproduce (*)**

    1. install and Setup Fresh Magento 2.4.
    2. Create a product with custom option input type as Drop Down(Either Required or not)
    3.Add this product to cart by checking the Drop down and place an order with any payment method.
    (Now

[2020-10-10 14:43] harshitmahendra commented on #30385
I am having multiple stores configuration, i think that's why it is not assigning to the default store. any Idea on this ??

[2020-10-10 14:44] harshitmahendra commented on #30385
![image](https://user-images.githubusercontent.com/34433141/95657987-252fe480-0b35-11eb-864f-60c979bcdd0d.png)

I am using this code in Cron job.

[2020-10-10 16:26] oviliz commented on #29312
Speechless @magento-admin ...

[2020-10-10 17:50] ninjacoder30 opened #30438 "SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento2.queue_poison_pill' doesn't exist"
**PHP VERSION :  7.3.22
Magento2-2.3.5-p2**

[Progress: 177 / 361]
Module 'Magento_Wishlist':
Running schema recurring...
[Progress: 178 / 361]
[Progress: 179 / 361]
Installing user configuration...

In Mysql.php line 110:

  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento2.queue_poison_pill' doesn't exist, query was: SE
  LECT `queue_poison_pill`.`version` FROM `queue_poison_pi

[2020-10-10 18:10] ihor-sviziev commented on #30438
Hi @ninjacoder30,
I wasn't able to reproduce this issue.
Could you add steps to reproduce of this issue?

Did you installed magento as described here https://devdocs.magento.com/guides/v2.4/install-gde/composer.html#install-magento? If no - please install it at first.

[2020-10-10 18:15] ihor-sviziev commented on #29951
Hi @brideo,
I believe I clearly described above the issue. The exact case you've described was already fixed in https://github.com/magento/magento2/pull/28797. If you'll find any other - let us know.

[2020-10-10 18:17] #29951 closed, assigned to ihor-sviziev

[2020-10-10 18:43] jas8522 commented on #30354
Hi @wagento-rajan,

Can you be more specific? What error did you receive when attempting to add the new attributes while creating an configurable product?

[2020-10-10 20:14] #29927 closed, assigned to pmarjan

[2020-10-10 20:14] #29930 closed, assigned to pmarjan

[2020-10-10 20:14] #29880 closed, assigned to pmarjan

[2020-10-10 20:15] #29926 closed, assigned to pmarjan

[2020-10-10 20:25] mariospas commented on #9737
I have the same problem with Magento 2.3.5

[2020-10-11 04:01] Mike20201011 opened #30439 "Why language Chinese doesn't work at all? Still in English mode."
### Summary (*)

### Examples (*)

### Proposed solution

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and Issue triage processes.

- [ ] Severity: **S0** _- Affects critical data or functionality and leaves users with no workaround._
- [ ] Seve

[2020-10-11 08:59] aryancedcoss opened #30440 "Design Issue of select box (text is cutting from bottom) on Admin"
Design Issue of select box (text is cutting from bottom) on Admin

### Preconditions (*)

1. Magento version : Magento 2.4
2. Php version : 7.3.23
3. Viewport : Desktop

### Steps to reproduce (*)

1. Login to Magento Admin
2. Goto Stores > Configuration > Advanced > Admin

### Expected result (*)
1.
![field_solved](https://user-images.githubusercontent.com/53182467/95674448-f6198180-0bcd-11eb-8e9

[2020-10-11 09:51] aryancedcoss opened #30442 "Create New Order in Default Store View on Admin"
Blank space on left side

### Preconditions (*)
1. Magento version : Magento 2.4
2. Php version : 7.3.23
3. Viewport : Desktop

### Steps to reproduce (*)

1. Login to Magento Admin
2. Goto Sales > Orders > Create New Order > Create New Customer

### Expected result (*)

1.
![neworder_solved](https://user-images.githubusercontent.com/53182467/95675498-5a8c0f00-0bd5-11eb-9fcd-0ba3efab4502.png)

###

[2020-10-11 10:07] krishprakash commented on #30440
@magento give me 2.4-develop instance

[2020-10-11 10:10] krishprakash commented on #30439
Hi @Mike20201011.
GitHub issue tacker is intended for Magento core technical issues only
Kindly refer community forum or Magento stack exchange for general discuss about this topic
Thanks

[2020-10-11 10:10] #30439 closed, assigned to nobody

[2020-10-11 10:27] krishprakash commented on #30440
Hi @aryancedcoss. Thank you for your report.
Not able to replicate the issue as per shared the screenshot by you
![image](https://user-images.githubusercontent.com/46617848/95676233-33840c00-0bda-11eb-9d11-7ca9a3a20acc.png)
Feel free to reopen the issue if you confirm that issue reproduce on 2.4-develop instance

[2020-10-11 10:27] #30440 closed, assigned to krishprakash, aryancedcoss

[2020-10-11 11:22] Zyles opened #30445 "Show how much is being refunded when creating a credit memo"
# Description (*)

The user experience for creating refunds is terrible.

When you issue a refund, you have no idea how much will be refunded because the calculation is done server side. A javascript implementation would help giving the store manager a better indication on the exact sum being refunded.

There are two fields called "Adjustment refund" and "Adjustment fee". What are these? It is ver

[2020-10-11 21:38] ericmorand opened #30446 "Core code quality issues may not be noticed by code quality auditing tools"
### Preconditions (*)

None. This issue applies to every Magento 2 release since its creation.
Magento 2.4-develop

### Steps to reproduce (*)

Execute a global search of  `@SuppressWarnings` in the packages located under the _magento_ vendor.

Using PHPStorm to perform the search, I get *8462* (eight thousand four hundred and sixty two) occurences of `@SuppressWarnings`.

### Expected result (*)

[2020-10-11 23:43] rodrigopeters opened #30447 "table rate and in-store delivery issues"
### Preconditions (*)

1. Magento 2.4
2. Ubuntu 18
3. MariaDB 10

### Steps to reproduce (*)

1. Enable Table Rate shipping method at Admin
2. Enable In-Store Delivery at Admin
3. Open frontend and add products to shopping cart
4. Click at "Proceed with Checkout" button
5. Checkout shipping shows In-Store Delivery page
6. Click at Shipping button to change shipping method

### Expected result (*)

[2020-10-11 23:49] ericmorand commented on #30446
It seems like `@SupressWarnings` is not the only code quality override that is present in Magento 2.

* `@codingstandardsIgnoreFile` is used 55 times.
* `@codingstandardsIgnoreLine` is used 24 times.

[2020-10-12 04:06] Shubham0492 commented on #30395
@magento give me 2.4-develop instance

[2020-10-12 04:57] ajijshekh123 commented on #30397
@magento give me 2.4-develop instance

[2020-10-12 05:06] ajijshekh123 commented on #30397
Hi @saumya1998,
The issue found on the latest Magento 2.4 Instance.
**PFA:**

![image](https://user-images.githubusercontent.com/24711761/95707302-c83c4780-0c76-11eb-85c2-597444f02c5a.png)

Thanks.

[2020-10-12 05:07] magento-engcom-team commented on #30397
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38341` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-12 05:12] ajijshekh123 commented on #30399
Hi @aryancedcoss,
You are already logged other issues related to this issue.
Let me closed the issue.
Related Issue: https://github.com/magento/magento2/issues/30425

Thanks.

[2020-10-12 05:13] #30399 closed, assigned to ajijshekh123

[2020-10-12 06:06] Shubham0492 commented on #30258
@magento I am working on this

[2020-10-12 06:06] Shubham0492 commented on #30258
@magento give me 2.4-develop instance

[2020-10-12 06:14] wagento-rajan commented on #30385
Please use the below parameter and check.

$product->addImageToMediaGallery($imagePath, array('image', 'small_image', 'thumbnail','swatch_image'), false, false);

[2020-10-12 06:16] wagento-rajan commented on #30354
Hi @jas8522

I didn't face any issue based on the client's comment.

[2020-10-12 07:03] krishprakash commented on #30425
@magento give me 2.4-develop instance

[2020-10-12 07:23] krishprakash commented on #30425
@aryancedcoss, This is not really a issue here.
Intensely added space as per Parent/Child as address comes under the Payment method billing address.

[2020-10-12 08:07] #30308 closed, assigned to nobody

[2020-10-12 08:27] hafsazulf commented on #10676
any solution>?

[2020-10-12 08:47] engcom-Bravo commented on #30442
Reproducible on 2.4-develop. Additional info from Engcom is added

[2020-10-12 08:49] magento-engcom-team commented on #30442
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38343` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-12 08:52] engcom-Bravo commented on #30382
Reproducible on the latest 2.4-develop. Additional info from Engcom is added

[2020-10-12 08:53] magento-engcom-team commented on #30382
@engcom-Bravo Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-12 08:53] magento-engcom-team commented on #30382
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38344` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-12 09:28] m2-assistant[bot] opened #30448 "[Issue] Clean code and remove whitespace in markup layered navigation filters"
This issue is automatically created based on existing pull request: magento/magento2#30333: Clean code and remove whitespace in markup layered navigation filters

---------

### Description (*)

This pr aim to clean whitespace in some inline elements inside layered filter items. Also update use $escaper instead $block in template
### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes

[2020-10-12 09:36] magento-engcom-team commented on #30448
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38345` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-12 09:48] m2-assistant[bot] opened #30450 "[Issue] Added correct block class for frontend viewModel reference example."
This issue is automatically created based on existing pull request: magento/magento2#30358: Added correct block class for frontend viewModel reference example.

---------

### Description (*)
 Added correct block class for frontend viewModel reference example for class

### Contribution checklist (*)
 - [x] Pull request has a meaningful description of its purpose
 - [x] All commits are accompanied

[2020-10-12 09:55] m2-assistant[bot] opened #30451 "[Issue] Add font weight heavy variable"
This issue is automatically created based on existing pull request: magento/magento2#29773: Add font weight heavy variable

---------

### Description (*)

Small additional to core lib. Add more font weight for reuse

### Related Pull Requests

### Fixed Issues (if relevant)

1. Fixes magento/magento2#<issue_number>

### Manual testing scenarios (*)

1. ...
2. ...

### Questions or comments

### C

[2020-10-12 10:11] saumya1998 opened #30452 "Design issue in minicart item remove confirmation modal."
Design issue in minicart item remove confirmation modal.

### Preconditions (*)
1.magento version - magento2-2.4-develop
2.php version - PHP 7.4.11
3.view - mobile view

### Steps to reproduce (*)
1) open magento base url.
2) open product and add to cart
3) now open minicart in top right corner.
4) click on delete button side to edit button
5) check the modal content design in mobile view.

### Ex

[2020-10-12 10:11] saumya1998 commented on #30452
#dmcdindia2020

[2020-10-12 10:48] ajijshekh123 commented on #30452
@magento give me 2.4-develop instance

[2020-10-12 10:55] jignesh-coder commented on #29428
@nickpiro @sivaschenko
http://prntscr.com/uxoheo

[2020-10-12 10:59] #30451 closed, assigned to mrtuvn

[2020-10-12 11:01] ajijshekh123 commented on #30452
Hi @saumya1998,
I have verified the issue in iPhone X (375*812) and iPhone 6/7/8 (414*736) size but not able to reproduce the issue.
PFA:
![image](https://user-images.githubusercontent.com/24711761/95739243-27ff1680-0ca8-11eb-85af-c84cf1a92ab0.png)

![image](https://user-images.githubusercontent.com/24711761/95739272-2fbebb00-0ca8-11eb-9758-75ea8701ae69.png)

Can you please update me on which size

[2020-10-12 11:03] saumya1998 commented on #30452
@ajijshekh123
![Screenshot_2020-10-12_16-32-33](https://user-images.githubusercontent.com/50991251/95739514-95ab4280-0ca8-11eb-8b40-4368f9c09ed8.png)
i am checking on Galaxy s5 (360x640)

[2020-10-12 11:10] ajijshekh123 commented on #30452
Hi @saumya1998,
I think this is not an issue. Popup UI content size depends on the device. Please update me your concern.
**PFA:**
![image](https://user-images.githubusercontent.com/24711761/95740057-7bbe2f80-0ca9-11eb-9165-e1f4681acd28.png)

Thanks.

[2020-10-12 11:18] saumya1998 commented on #30452
@ajijshekh123 , if you will check form code there is issue, like both left and right padding should be same but now, the right padding is 7rem and left padding is 3 rem. this is why the content is align with left side in mobile view. if both side padding will be same then the content will show aligned equally from both sides.

[2020-10-12 11:20] ajijshekh123 commented on #30452
Okay @saumya1998, Thanks for the update. Let me verify the issue. You can proceed with your work after confirming the issue.

[2020-10-12 11:20] Viktorja1 commented on #30362
@magento give me 2.4-develop instance

[2020-10-12 11:22] magento-engcom-team commented on #30452
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38347` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-12 11:23] saumya1998 commented on #30452
I am working on this issue.

[2020-10-12 11:41] engcom-Bravo commented on #29068
Hello @YaninaPrudnikova

Thank you for your report.

We are not able to reproduce this issue on 2.4- develop CE or EE editions

We have successfully added Two products to Cart, one of them is Downloadable
![Shopping cart](https://user-images.githubusercontent.com/51680745/95742008-0302a780-0c98-11eb-9bba-f4c4d8aa1d17.png)

And Checked Out two different Addresses
![Multiple addresse](https://user-i

[2020-10-12 12:11] ihor-sviziev commented on #30206
Hi @Tdyok,
Unfortunately we didn't get any responce for a long time from you and we need close this issue as we can't reproduce it.
If this issue still relevant - please provide us more information and re-open the issue.

[2020-10-12 12:11] #30206 closed, assigned to ihor-sviziev

[2020-10-12 12:15] ihor-sviziev commented on #30446
Hi @ericmorand,
You're totally right! Unfortunately we have quite a lot of code that was written when coding standards weren't enforced by static tests and a lot of pieces of Magento 2 have to be improved. Unfortunately fixing all these parts together isn't really possible, each specific case should be revisited and fixed.

We're welcoming you to create Pull Requests that will fix such cases in or

[2020-10-12 12:26] engcom-Delta commented on #29992
@haunguyen1989 ,  we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2020-10-12 12:26] #29992 closed, assigned to engcom-Delta

[2020-10-12 12:44] jignesh-coder commented on #29428
Hello @sivaschenko ,
i want to say that the issue is not generate when you set the condition like this http://prntscr.com/uxoheo

when you put the condition here https://drops.meetanshi.com/Xx6zzQ it check for the whole cart
and for particular cart item you need to set the condition here https://drops.meetanshi.com/ghU8xa

if you set the condition like http://prntscr.com/uxoheo than issue is not g

[2020-10-12 12:49] engcom-Bravo commented on #28118
Reproducible on 2.4-develop

### Steps to reproduce:

1. Create a configurable product with child products having some images (with color attribute as options)
2. Go to Store and select previously created product
3. Verify that the main product image displayed
4. Select any other option and verify that only parent product image is shown

Actual Result: Child product image is getting appending to t

[2020-10-12 12:51] sivaschenko commented on #29428
@jignesh-coder Do you mean this is not a bug?

[2020-10-12 12:52] magento-engcom-team commented on #28118
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38352` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-12 12:58] engcom-Alfa commented on #29333
@magento give me 2.4-develop instance

[2020-10-12 13:21] engcom-Delta commented on #29627
@mdehaan  Issue is reproducible after recheck on 2.4-develop
![image](https://user-images.githubusercontent.com/51681379/95750768-48c66c80-0ca6-11eb-9a45-cebee581c411.png)
There is similar issue already confirmed https://github.com/magento/magento2/issues/30382
Closed as **Duplicate**

[2020-10-12 13:21] #29627 closed, assigned to engcom-Delta

[2020-10-12 13:27] sergiypop commented on #5775
Hello,
Did any one found a solution for this problem. it would be very helpful.

[2020-10-12 13:41] gabrieldagama commented on #29686
Hi @yutv, I've tried to reproduce the issue by following your steps and wasn't able to. Can you provide more details on this? I've seen other contributors and developers (on @andresams PR #29899) weren't able to reproduce this issue as well.

[2020-10-12 13:46] engcom-Delta commented on #29481
mtjweb Issue was rechecked on latest 2.4-develop and it is not reproducible
**Result:**
URL key in specific scope is made from the product name in this specific scope
![image](https://user-images.githubusercontent.com/51681379/95753253-06069380-0caa-11eb-881b-a84e74ba78da.png)
Feel free to recheck issue in magento instance (here is command to [deploy](https://github.com/magento/magento2/issues/294

[2020-10-12 13:46] #29481 closed, assigned to engcom-Delta

[2020-10-12 13:46] engcom-Alfa commented on #29333
Hi @dcwnaveen .

Unfortunately, we are not able to reproduce the issue on fresh 2.4-develop.

**Manual testing scenario:**

1. Go to Admin -> Stores -> Configurations -> Catalog -> Catalog -> Date & Time Custom Options -> Use JavaScript Calendar -> Yes;
2. Create Simple product with Customizable Option ( **Date**);
3. Login to Storefront;
4. Create an order with "Date" option;
5. In Admin create I

[2020-10-12 13:56] dcwnaveen commented on #29333
@engcom-Alfa
Please create the invoice and shipment then try to reorder.

[2020-10-12 14:01] dcwnaveen commented on #29333
Please try same thing from admin also.

[2020-10-12 14:10] nickpiro commented on #29428
@jignesh-coder that is absolutely the answer my friend. THANK YOU. I'm not sure if this would be considered a bug or just how the cart price rule is supposed to work. @sivaschenko but @jignesh-coder proposed solution works perfectly.

[2020-10-12 14:13] floorz commented on #29680
@mtjweb So was that MySQL config change the solution to this problem or just a means to silence MySQL. I am currently getting the same error during a deployment of Magento 2.4 to a staging server for a client.

I would think MySQL is complaining about the row size limit for a reason. I'm curious if changing those configs are going to allow for some kind of truncated data or side effects?

@magento

[2020-10-12 14:17] magento-engcom-team commented on #28994
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38359` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-12 14:30] visualwebs commented on #24683
I discovered with this change in \Magento\Catalog\Model\Attribute\ScopeOverriddenValue

<pre>public function getDefaultValues($entityType, $entity)
{
            if ($entityType == "Magento\Catalog\Api\Data\ProductInterface")
                 return [];
    ...
}</pre>

The product edit starts to render in 4 seconds. So you can create an admin plugin to modify the behavior as proper way. Note this

[2020-10-12 14:34] magento-engcom-team commented on #28740
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38361` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-12 14:40] JelleGe commented on #24683
Thanks! Seems indeed that this loads the product edit page much faster. Need to take a better look for implementing.
We also still face a issue with the product grid with search enabled. The product grid without search is quite fast, but when you search the results are loaded within 7 to 12 seconds. Do you face the same issue?

[2020-10-12 14:41] jignesh-coder commented on #29428
@sivaschenko and @nickpiro
Yes, I think it's not an issue.
This is how the cart price rule should work.

[2020-10-12 14:47] visualwebs commented on #24683
Its very fast for price filtering and 5-10 seconds for sku search(not cached), so depends the complexity of filter used and the amount of products. In our case we have 50.000.

[2020-10-12 15:36] aivankov-cloud opened #30455 "Fatal error when create customer account with "File (attachment)" custom attribute"
### Preconditions (*)
1. 2.3.6 EE pre-release

### Steps to reproduce (*)
1. Go to Stores->Attributes->Customer
2. Add New Attribute
3. Fill required fields
    a. Input Type - File (attachment)
    b. Forms to Use In - Customer Registration
    c. Values Required - No
4. Save Attribute
5. Go to StoreFront
6. Go to "Create an Account"
7. Fill only required fields (without upload)
8. Click "Create

[2020-10-12 16:20] sivaschenko opened #30456 "Test issue"
The issue to test the deployer

### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information w

[2020-10-12 16:21] sivaschenko commented on #30456
@magento give me 2.4-develop instance

[2020-10-12 16:31] #30456 closed, assigned to nobody

[2020-10-12 16:41] niravkrish commented on #30452
@magento I am working on this

[2020-10-12 17:01] jeffekg commented on #29686
@gabrieldagama, this occurs when you have products in the database that have an `entity_id` that is not the same as its `row_id`, ie: a product with `entity_id` of 2, but a `row_id` of 3

[2020-10-12 17:32] m2-assistant[bot] opened #30459 "[Issue] Design Issue of select box (text is cutting from bottom) on Admin"
This issue is automatically created based on existing pull request: magento/magento2#30441: Design Issue of select box (text is cutting from bottom) on Admin

---------
Design Issue of select box (text is cutting from bottom) on Admin Fixed #30440

### Preconditions (*)

    Magento version : Magento 2.4
    Php version : 7.3.23
    Viewport : Desktop

### Steps to reproduce (*)

    Login to Mage

[2020-10-12 17:33] m2-assistant[bot] opened #30460 "[Issue] Create New Order in Default Store View on Admin #30442 Fixed"
This issue is automatically created based on existing pull request: magento/magento2#30443: Create New Order in Default Store View on Admin #30442 Fixed

---------
Blank space on left side

### Preconditions (*)

    Magento version : Magento 2.4
    Php version : 7.3.23
    Viewport : Desktop

### Steps to reproduce (*)

    Login to Magento Admin
    Goto Sales > Orders > Create New Order > Crea

[2020-10-12 17:36] ajijshekh123 commented on #30459
@magento give me 2.4-develop instance

[2020-10-12 17:42] ajijshekh123 commented on #30459
@aryancedcoss - In Which browser you are facing the UI Issue?

[2020-10-12 17:49] ajijshekh123 commented on #30459
Hello @aryancedcoss,
This issue is facing on Firefox browser. In the Chrome Microsoft Edge Browser text is not cut off.
**Chrome & Microsoft Edge Browser Screenshot:**
![image](https://user-images.githubusercontent.com/24711761/95776094-4b928300-0ce1-11eb-8339-aea4876d166b.png)

![image](https://user-images.githubusercontent.com/24711761/95776012-1d14a800-0ce1-11eb-85c5-cc861627aa33.png)

**Firefo

[2020-10-12 17:50] magento-engcom-team commented on #30459
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38367` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-12 17:54] ajijshekh123 commented on #30460
Hi @aryancedcoss,
Issue Reproduced in the below steps:
Admin >> Sales >> Orders >> Create New Order >> Click on Create New Customer
See attached the screenshot:

![image](https://user-images.githubusercontent.com/24711761/95776465-0c186680-0ce2-11eb-866a-c84c9ecb2235.png)

Thanks.

[2020-10-12 17:54] yutv commented on #29686
@gabrieldagama, I can not longer reproduce it in the Magento EE 2.4.1. Looks like it was fixed in the commit https://github.com/magento/magento2/commit/a6f0bf65fded57cae02c69a9c18bf28ca1012d4d

[2020-10-12 17:55] magento-engcom-team commented on #30460
:white_check_mark: Confirmed by @ajijshekh123
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38368` were created

**Issue Available**: @ajijshekh123, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-12 18:08] sivaschenko commented on #29428
Closing the issue as not a bug. See the comments above for details

[2020-10-12 18:08] #29428 closed, assigned to jignesh-coder

[2020-10-12 18:09] sivaschenko commented on #29428
Thank you @jignesh-coder !!

[2020-10-12 18:10] #30438 closed, assigned to ihor-sviziev

[2020-10-12 18:29] nthurston opened #30461 "REST API: catalogCategoryLinkManagement error if same product in multiple subcategories of parent"
### Preconditions (*)

1. Magento 2.4-develop

### Steps to reproduce (*)

1. Create a category with 2 sub categories
![image](https://user-images.githubusercontent.com/51681379/95845356-baf48b00-0d52-11eb-8cc2-ab7585d0ed16.png)
2. Assign same product to both sub categories
![image](https://user-images.githubusercontent.com/51681379/95845435-d52e6900-0d52-11eb-9f6f-8dbf8081a767.png)
3. Call /V1/ca

[2020-10-12 20:10] riconeitzel opened #30462 "Magento 2.3.5-p2 cannot run setup:upgrade on empty database with existing env.php"
### Preconditions (*)

vanilla Magento 2.3.5-p2 OpenSource and Commerce Edition

### Steps to reproduce (*)

1. Install Magento 2.3.5-p2 with setup:install
2. delete all tables from the database
3. rerun installation with setup:upgrade

### Expected result (*)

Magento should create all tables and run all setup scripts/patches again.

### Actual result (*)

[code]

- [x] Severity: **S0** _- Affect

[2020-10-12 20:35] nrkapoor opened #30463 "[PAP] Dynamic Blocks Implementation"
As a GraphQL Consumer, 

I would like to get the dynamic blocks defined in Magento admin

so that

I can dynamically build content pages by customer segments.

**Acceptance Criteria**

**Proposed Schema**
https://github.com/magento/architecture/pull/451

[2020-10-12 20:44] nrkapoor opened #30464 "[NOT READY] Customer/customer address EAV in GraphQL"
As a Magento Developer,

I would like to improve GraphQL by supporting EAV for customer and customer address

so that

it is easier for merchants to extend customer/customer address objects in admin and have those changes flow to GraphQL schema.

**Acceptance Criteria**

[2020-10-12 20:49] magento-engcom-team opened #30466 "[Atwix]Fix naming conventions and optional/required fields for company schema"
As a developer I want GraphQL schema for a company to follow naming conventions and have consistent optional/required fields so the schema is easy to use.

AC
* Fields follow naming convention and have consistent optional/required, see https://github.com/magento/architecture/pull/447

[2020-10-12 20:49] magento-engcom-team commented on #30466
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-38187

[2020-10-12 21:05] magento-engcom-team opened #30467 "Products positions are not updated in GraphQL query result"
#### Precondition
Use GET to submit GraphQL query in order for query result to be cached. see [GraphQL Caching](https://devdocs.magento.com/guides/v2.4/graphql/caching.html)

#### Steps to reproduce
1. Create at least 2 products
1. Create category and assign products created in step.1 and save category
1. Execute the query below
1. Check that products are ordered correctly
1. Change products posit

[2020-10-12 21:05] magento-engcom-team commented on #30467
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-38078

[2020-10-12 21:19] magento-engcom-team opened #30468 "[Atwix]products query returns breadcrumb data for categories whose parent category is disabled"
In PWA Studio we select one of a product's categories to render breadcrumbs on the page.

 !product_categories.png|thumbnail!

A product can belong to an enabled category whose parent is disabled.

 !disabled_categories.png|thumbnail!

When querying for the product's categories.breadcrumbs data we are seeing the child category return with breadcrumbs data for the disabled category.

 !product_quer

[2020-10-12 21:19] magento-engcom-team commented on #30468
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-38209

[2020-10-12 21:31] BuysTooMuch commented on #7869
Seeing the same on 2.4.0 Open Source/CE - site running fine for weeks following initial installation, no problems till the day I tried static deploy / di compile etc.  After first attempt the admin went dead, google TFA disappeared during login, etc.  Require.js failing to load at the "version" URL despite Apache setup allowing overrides, no missing htaccess file, permissions set fine, ownership f

[2020-10-12 21:35] magento-engcom-team opened #30469 "[Atwix]Make the destination_cart_id argument optional in the mergeCarts mutation"
## Make the `destination*cart*id` argument optional in the `mergeCarts` mutation
## Why

**PR**
https://github.com/magento/magento2/pull/30633

This came up in a discussion with [@sirugh](https://github.com/sirugh] from the [`pwa-studio`|https://github.com/magento/pwa-studio) team.

When a user logs in (creates a new token), one of the first things the UI needs to do is merge the current guest car

[2020-10-12 21:35] magento-engcom-team commented on #30469
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37413

[2020-10-12 22:06] magento-engcom-team opened #30470 "[NOT READY] Missing "search" feature in Magento to support Omnisearch for Staging/Preview in AEM"
### GRAPHQL FOR ADMIN?
### Description

Omnisearch in AEM for staging/preview will not work because "search" for this purpose is not supported in Magento.
### Reference:

This is a snippet of the pending documentation from <https://devdocs.magedevteam.com/1532/guides/v2.3/graphql/queries/index.html#staging> (only reachable from inside Adobe Corp Net, and only for 14 days).
[code]
 

[2020-10-12 22:06] magento-engcom-team commented on #30470
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-38406

[2020-10-12 22:12] ericmorand opened #30471 "Page layouts are hard-coded in Magento\Widget\Block\Adminhtml\Widget\Instance\Edit\Chooser\Container"
### Preconditions (*)

Magento 2.3.5

### Steps to reproduce (*)

Have a look at the code source of `Magento\Widget\Block\Adminhtml\Widget\Instance\Edit\Chooser\Container`.

### Expected result (*)

The function `getPageLayouts()` should return the actual list of page layouts declared by the different modules.

### Actual result (*)

The function `getPageLayouts()` only returns the one provided by

[2020-10-12 22:20] ericmorand commented on #30471
I can now confirm that overriding the class works perfectly:

[code]

This Container returns the actual list of page layouts instead of the hard-coded and wrong one of the core implementation.

[2020-10-12 23:08] magento-engcom-team opened #30473 "[Atwix]Category images are broken with SEO disabled"
Cloning this ticket as its the same fix but it needs to also enable for when a customer has URL rewrites turned **off** (right now it only works if they have it turned on)

Seems like we introduced a bug change to 2.3.4 when we updated the category image source. It was changed from file name to the actual url but doesn't seem to work as the path returned is not the actual path for existing images.

[2020-10-12 23:08] magento-engcom-team commented on #30473
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-38407

[2020-10-12 23:19] magento-engcom-team opened #30474 "[Atwix] CMS Hierarchy child pages URL Key response"
**ISSUE:**

GrapghQL URL Resolver not working for CMS Hierarchy

**STEPS TO REPLICATE:**
* Create new nodes for page hierarchy (ex: Name: Graph Parent, URL: graph-parent)
* Add a CMS page to the node created. You can see "test page" CMS page is assigned to the "Graph Parent" node. 
* This CMS page can be accessed from browser without any issue using this URL "graph-parent/test-page"

!image-2020-0

[2020-10-12 23:19] magento-engcom-team commented on #30474
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-36037

[2020-10-12 23:24] magento-engcom-team opened #30475 "Add Web-Api functional tests for B2B bugs"
List of bugs that do not have test coverage:

https://github.com/magento/partners-magento2b2b/issues/260 need to test that only necessary permissions returned

For the following issues need to test that user doesn't have access to the resources of other companies
https://github.com/magento/partners-magento2b2b/issues/262
https://github.com/magento/partners-magento2b2b/issues/263
https://github.com

[2020-10-12 23:24] magento-engcom-team commented on #30475
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37527

[2020-10-12 23:36] magento-engcom-team opened #30476 "Update company query to include company credit"
Update the company query to include company credit and credit history.

Related tickets

https://jira.corp.magento.com/browse/MC-37604

<https://github.com/magento/partners-magento2b2b/pull/247]

[https://github.com/magento/partners-magento2b2b/pull/191] 

Devdocs PR: https://jira.corp.magento.com/browse/MC-37625

[https://github.com/magento/devdocs/pull/7984> 

[2020-10-12 23:36] magento-engcom-team commented on #30476
The issue was exported from the internal JIRA. The link to the original JIRA issue: https://jira.corp.magento.com/browse/MC-37627

[2020-10-13 02:17] tanimoto-true commented on #30381
I solved problem by removing id parameter from object in media_gallery_entries.

[2020-10-13 02:33] magento-engcom-team commented on #30450
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38409` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-13 03:35] krishprakash commented on #30455
@magento give me 2.4-develop instance

[2020-10-13 03:52] magento-engcom-team commented on #30424
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38411` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-13 05:09] saumya1998 commented on #30452
@magento-admin i am working on this

[2020-10-13 05:55] aryancedcoss commented on #30440
Hello Sir,
### I am using:
Operating System: Linux Mint 19.1
Architecture: x86-64
Browser: Firefox
Browser version: 69.0.1 (64-bit)

I have checked Instance as well but still getting issue

[2020-10-13 06:19] konarshankar07 commented on #3890
I agree with @Bartlomiejsz . If anyone want to show the recently viewed product then please use the below code

[code]
@sidolov Can we close this issue?
Thanks

[2020-10-13 07:39] aktaruzzamancse opened #30478 "Getting error deploying static content in production mode"
The contents from the "~/pub/static/adminhtml/Magento/backend/en_US/requirejs-min-resol
  ver.min.js" file can't be read. Warning!file_get_contents(~/pub/static/adminhtml/Magent
  o/backend/en_US/requirejs-min-resolver.min.js): failed to open stream: No such file or directory
### Summary (*)

### Examples (*)

### Proposed solution

[2020-10-13 08:34] gabrieldagama commented on #29686
Thanks for confirming @yutv. I will be closing this issue for now.

@jeffekg If you believe this is still an issue, please feel free to reopen it and provide steps to reproduce it. I've tried to reproduce the issue by having different entity_id and row_id for all the products and still the problems got displayed correctly on the cart.

[2020-10-13 08:34] #29686 closed, assigned to andresams

[2020-10-13 09:03] Eddcapone opened #30480 "PayPal Button z-index too high"
### Preconditions (*)

1. 2.4.0

### Steps to reproduce (*)

1. Enable PayPal
2. Open a product in the frontend (catalog product view)
3. Inspect the paypal button iframe
4. It has z-index 100

If you have magnifier for product images enabled and you hover over the image, then the paypal button is visible over the zoom image container.

![image](https://user-images.githubusercontent.com/16349349/9

[2020-10-13 09:07] overrode commented on #23922
I have the same bug in Magento ver. 2.3.2.
Step to reproduce:
1. Create dropdown attribute, in admin,  "custom_attribute" with options "option_1", "option_2".
2. In the sample file, in the row "additional_attributes" put custom_attribute=option_2;
3. IT WORKS!

But if i change 2. custom_attribute=option_3, the import fails!
![dropdown](https://user-images.githubusercontent.com/15195423/95840024-f6

[2020-10-13 09:21] mrtuvn commented on #30452
https://media.giphy.com/media/uiC01xg33xOqb6QxrA/giphy.gif
slow down guys 👍

[2020-10-13 09:23] #26308 closed, assigned to nobody

[2020-10-13 09:24] mrtuvn commented on #30452
take it easy guys :)

[2020-10-13 09:26] engcom-Bravo commented on #25052
Hello @Userr017

Thank you for your report.

We have rechecked this issue on **Magento 2.3.3** and it is reproducible.
![233](https://user-images.githubusercontent.com/51680745/95842106-d067b600-0d4e-11eb-8c91-5a7a6c656762.gif)

But, we have rechecked the same steps on **Magento 2.4-develop**. And the issue seems to be fixed. The page is not scrolled Up. Please see the attachment
![Shopping Option

[2020-10-13 09:26] #25052 closed, assigned to nobody

[2020-10-13 09:26] ioweb-gr commented on #26308
Was this fixed? What's the relevant pull request?

[2020-10-13 09:46] JesKingDev commented on #26377
@elvinristi Does your solution resolve the issue for Safari browsers? If, so, would you mind sharing a Gist of how you've solved this with patching at the app level? This is an incredibly impactful issue for us and we don't currently have a workaround for Safari. FYI @gowthamleanswift.

[2020-10-13 10:04] magento-engcom-team commented on #30461
:white_check_mark: Confirmed by @engcom-Delta
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38413` were created

**Issue Available**: @engcom-Delta, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-13 10:21] engcom-Delta commented on #30462
Hi @riconeitzel thank you for your report. According [docs](https://devdocs.magento.com/guides/v2.4/reference/cli/magento.html?itm_source=devdocs&itm_medium=search_page&itm_campaign=federated_search&itm_term=setup%3Aupgrade#setupupgrade) it is not proper way to use of command described in issue.
According docs command should be used in [next cases](https://devdocs.magento.com/guides/v2.4/install-g

[2020-10-13 10:21] #30462 closed, assigned to engcom-Delta

[2020-10-13 10:52] slimmen commented on #24233
@sdzhepa this seems still to be an issue, we're losing a lot of orders and money because of this rounding error. Is there anyone that has a fix for this?

[2020-10-13 11:15] magento-engcom-team commented on #14398
Hi @itsabe. Thank you for your report.
The issue has been fixed in magento/magento2#26713 by @PieterCappelle in 2.4-develop branch
Related commit(s):
 - [912b3f7737259d5977ce3fa64781a3280c712bfe](https://github.com/magento/magento2/commit/912b3f7737259d5977ce3fa64781a3280c712bfe)
 - [ffdb34112974d74aa2d72b5fd441641e85234ad3](https://github.com/magento/magento2/commit/ffdb34112974d74aa2d72b5fd44164

[2020-10-13 11:15] #14398 closed, assigned to PieterCappelle

[2020-10-13 11:15] magento-engcom-team commented on #21885
Hi @simonworkhouse. Thank you for your report.
The issue has been fixed in magento/magento2#26713 by @PieterCappelle in 2.4-develop branch
Related commit(s):
 - [912b3f7737259d5977ce3fa64781a3280c712bfe](https://github.com/magento/magento2/commit/912b3f7737259d5977ce3fa64781a3280c712bfe)
 - [ffdb34112974d74aa2d72b5fd441641e85234ad3](https://github.com/magento/magento2/commit/ffdb34112974d74aa2d72b

[2020-10-13 11:15] #21885 closed, assigned to PieterCappelle

[2020-10-13 11:15] magento-engcom-team commented on #30063
Hi @GrimLink. Thank you for your report.
The issue has been fixed in magento/magento2#30062 by @GrimLink in 2.4-develop branch
Related commit(s):
 - [b70851de42e1430dc09f0ac88b4ecc8f82abc4fd](https://github.com/magento/magento2/commit/b70851de42e1430dc09f0ac88b4ecc8f82abc4fd)
 - [f7f5dce0d1415661441e9c8f5ccf0b24bea30f28](https://github.com/magento/magento2/commit/f7f5dce0d1415661441e9c8f5ccf0b24be

[2020-10-13 11:15] #30063 closed, assigned to GrimLink

[2020-10-13 11:15] magento-engcom-team commented on #30066
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30062 by @GrimLink in 2.4-develop branch
Related commit(s):
 - [b70851de42e1430dc09f0ac88b4ecc8f82abc4fd](https://github.com/magento/magento2/commit/b70851de42e1430dc09f0ac88b4ecc8f82abc4fd)
 - [f7f5dce0d1415661441e9c8f5ccf0b24bea30f28](https://github.com/magento/magento2/commit/f7f5dce0d1415661441e9c8f5

[2020-10-13 11:15] magento-engcom-team commented on #30450
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30358 by @sanganinamrata in 2.4-develop branch
Related commit(s):
 - [cc51b773ebe44a252fc8889c3fe45dba29455b2c](https://github.com/magento/magento2/commit/cc51b773ebe44a252fc8889c3fe45dba29455b2c)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-13 11:15] #30450 closed, assigned to sanganinamrata

[2020-10-13 11:15] magento-engcom-team commented on #30448
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30333 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [374593d408c53dc0272310a756a317e90715971e](https://github.com/magento/magento2/commit/374593d408c53dc0272310a756a317e90715971e)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-13 11:15] #30448 closed, assigned to mrtuvn

[2020-10-13 11:15] magento-engcom-team commented on #25110
Hi @jorgb90. Thank you for your report.
The issue has been fixed in magento/magento2#30318 by @wojtekn in 2.4-develop branch
Related commit(s):
 - [ce1263da089d5b8ca28bc8689480092db0924d33](https://github.com/magento/magento2/commit/ce1263da089d5b8ca28bc8689480092db0924d33)
 - [ccec05add626879219b858485d8c06aeecc1a145](https://github.com/magento/magento2/commit/ccec05add626879219b858485d8c06aeecc1

[2020-10-13 11:15] #25110 closed, assigned to nobody

[2020-10-13 11:15] magento-engcom-team commented on #25886
Hi @dan-ding. Thank you for your report.
The issue has been fixed in magento/magento2#30318 by @wojtekn in 2.4-develop branch
Related commit(s):
 - [ce1263da089d5b8ca28bc8689480092db0924d33](https://github.com/magento/magento2/commit/ce1263da089d5b8ca28bc8689480092db0924d33)
 - [ccec05add626879219b858485d8c06aeecc1a145](https://github.com/magento/magento2/commit/ccec05add626879219b858485d8c06aeecc

[2020-10-13 11:15] magento-engcom-team commented on #28286
Hi @rafaelstz. Thank you for your report.
The issue has been fixed in magento/magento2#30318 by @wojtekn in 2.4-develop branch
Related commit(s):
 - [ce1263da089d5b8ca28bc8689480092db0924d33](https://github.com/magento/magento2/commit/ce1263da089d5b8ca28bc8689480092db0924d33)
 - [ccec05add626879219b858485d8c06aeecc1a145](https://github.com/magento/magento2/commit/ccec05add626879219b858485d8c06aeec

[2020-10-13 11:15] magento-engcom-team commented on #29778
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#29773 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [977f6ff611743addcb59dfc436c229c477c0ecc9](https://github.com/magento/magento2/commit/977f6ff611743addcb59dfc436c229c477c0ecc9)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-13 11:15] #29778 closed, assigned to mrtuvn

[2020-10-13 11:29] JelleGe commented on #24683
Seems that we always used the default search bar on the product grid, that is much much slower than searching on sku. When searching on sku the results are loaded within 2 seconds.

[2020-10-13 11:32] gwharton opened #30481 "Google Adwords menu items are not accessible when Google Analytics is not installed"
### Preconditions (*)
1. 2.4.0 deployed via composer

### Steps to reproduce (*)
1. Add the following snippet to composer.json
[code]
2. composer install
3. php bin/magento setup:upgrade
4. php bin/magento cache:clean
5. Go to admin
6. Stores -> Configuration -> Sales

### Expected result (*)
1. I expect to see "Google API" menu item and config for Adwords

### Actual result (*)
1. "Google API" me

[2020-10-13 11:40] duckchip commented on #21386
what is the status of this ticket?

[2020-10-13 12:04] loid345 opened #30482 "When you select the checkbox for the category you want to assign, the check box for parent categories should be set automatically"
All versions of magento2

When selecting categories, it is logical that the product should also be displayed in the parent categories. But this is not happening. There is a high probability that the user will not check the box on the parent categories and the product will only be displayed on the page of one category, but it will not be displayed in the parent categories. To improve the user exper

[2020-10-13 12:18] engcom-Alfa commented on #11692
@andrewhowdencom  , I am closing this issue now due to inactivity.
Please reopen and update if you wish to continue.
Thank you for the collaboration!

[2020-10-13 12:18] #11692 closed, assigned to engcom-Alfa

[2020-10-13 12:26] kanduvisla opened #30483 "Pending credit memo's are not validated on their total sum / order amount"
### Preconditions

1. Magento 2.4.0

### Steps to reproduce

1. Create an order with several order items (I used 3 items of $20 each in my example), so with a total order value of $60,-
2. Invoice the order
3. Temporary alter the default Magento behaviour so you can create a credit memo in a PENDING state:
Edit `\Magento\Sales\Model\Service\CreditmemoService::refund()` and change `$creditmemo->set

[2020-10-13 12:27] #28291 closed, assigned to nobody

[2020-10-13 13:00] waseemids commented on #30437
Hi @akgola, @krishprakash,

Given the issue has been replicated and already fixed in the **2.4-develop branch** on Reorder.php details are given below.

**Git File Path:** https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Sales/Model/Reorder/Reorder.php
**Vendor File Path:** vendor/magento/module-sales/Model/Reorder/Reorder.php
**Function Name:** getOrderProducts
**Start Line N

[2020-10-13 13:44] engcom-Bravo commented on #29442
Hello @danemacmillan

Thank you for your report.

We have tried to reproduce the issue on 2.4-develop via the steps provided in the description. The product page is opened without any errors. We are using the URL from `url_rewrite` table, `request_path` column.

Can you please confirm that you are facing the same issue on the latest 2.4-develop? It would help us to verify the issue faster

Thank y

[2020-10-13 14:03] mtjweb commented on #29680
@floorz For me it resolved the problem and had no side effects or other problems.

[2020-10-13 14:40] sidolov commented on #3890
Thanks @Bartlomiejsz , @konarshankar07 ! Closing the issue according to the comment above.

[2020-10-13 14:40] #3890 closed, assigned to nobody

[2020-10-13 14:45] sdzhepa commented on #28472
closed as Duplicate of  https://github.com/magento/magento2/issues/29740

[2020-10-13 14:45] #28472 closed, assigned to nobody

[2020-10-13 14:56] mauragcyrus commented on #29937
@thunderwin per the bot would you please add more information like
Summary of the issue
Information on your environment
Steps to reproduce
Expected and actual results
etc.

[2020-10-13 15:24] mauragcyrus commented on #29089
We fixed this in 2.3.5 for when URL rewrites are turned **on** (https://github.com/magento-commerce/magento2ce/pull/5369) but now we need to enable it even when URL rewrites are turned **off**.

[2020-10-13 15:28] rparsi-boxycharm commented on #12075
@konarshankar07 FYI this issue is fixed in upstream zendframework
https://github.com/zendframework/zend-validator/blob/release-2.12.0/src/EmailAddress.php

For my team I created a composer patch that ports the fix to the zendframework 1.x release used within magento.

[2020-10-13 15:42] hostep commented on #29442
@engcom-Bravo: it looks like this is a duplicate of https://github.com/magento/magento2/issues/24903 which got fixed by https://github.com/magento/magento2/pull/24907 and the fix was released in Magento 2.3.4

So you can probably close this issue 🙂

[2020-10-13 15:48] SolsWebdesign commented on #3923
I can't believe I ran into this again. This bug has been around for ever. I had to replace all "Catalog, Search" with "catalog, search" and Search with search to import exported products from one M2.3.5 shop in another M2.3.5 shop. Both shops are identical with the same locale and the same language.

[2020-10-13 15:54] asiapatrick opened #30484 "requirejs load all JS instead of lazyload"
requirejs-config.js

### Preconditions (*)
affected all versions
1. 2.2
2. 2.3
3. 2.4

### Steps to reproduce (*)
see requirejs-config.js
it evaluate all config by require(config).  Then it would load all JS.
the proper config should be
var config = {}

I try to generate requirejs-config.js manually.  It reduce a lot of unused javascript files.  This issue make magento extreme slow.

Pls note that

[2020-10-13 15:55] amenk commented on #28291
Was this solved? in which commits?

[2020-10-13 16:07] tykvasergey commented on #30307
@magento add to contributors team

[2020-10-13 16:12] artis-ozolins commented on #27112
To me it seems that the problem is coming from \Magento\Framework\Api\Search\SearchCriteriaBuilder::create method.
[code]

Here the search criteria builder by default for no reason adds an empty sort order that doesn't have field and direction value.
Removing this line that creates the empty sort order seem to work.

[code]
If anyone can point out on why there should be an empty sort order created

[2020-10-13 16:24] magento-engcom-team commented on #30485
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38418` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-13 16:25] in-session opened #30486 "Magento_ReCaptcha... - Unable to serialize value. Error: Malformed UTF-8 characters, possibly incorrectly encoded"
### Preconditions (*)
1. Update Magento 2.3.5-p2 to magento 2.4.0 or 2.4.1
2. PHP 7.4

### Actual result (*)
[code]

Temporary fix:
[code]
Attempts at troubleshooting:
Vendor folder was completely removed and reloaded via composer:update - no change

Related post:
https://magento.stackexchange.com/questions/324266/unable-to-serialize-value-error-malformed-utf-8-characters-possibly-incorrect
https:

[2020-10-13 16:28] lenaorobei commented on #30092
@magento export issue to Jira project MC as Bug

[2020-10-13 16:28] magento-engcom-team commented on #30487
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38419` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-13 16:32] lenaorobei commented on #30092
@magento export issue to Jira

[2020-10-13 16:46] mauragcyrus commented on #29769
Hi @TimonVS Please retest on 2.4.2 when it is available as this should be fixed.

[2020-10-13 16:53] lenaorobei commented on #30092
:white_check_mark: Jira issue (https://jira.corp.magento.com/browse/MC-38420) is successfully created for this issue.

[2020-10-13 16:55] #30092 closed, assigned to nobody

[2020-10-13 17:05] magento-engcom-team commented on #30482
:white_check_mark: Confirmed by @krishprakash
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38422` were created

**Issue Available**: @krishprakash, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-13 17:05] krishprakash commented on #30482
Hi @volanar. Thank you for your report.
This is good point to update user experience so Based on your suggestion I'm approved this as Feature Request

[2020-10-13 19:45] mauragcyrus commented on #26105
Chatted with @prabhuram93 and he took another look and it was not reproducible. There are a couple of ways you can add a configurable product to the cart. The folks who were able to reproduce this used 'parent_sku' and based on Ulzi's comment seems like he tried a different approach.

[2020-10-13 19:45] #26105 closed, assigned to Rus0

[2020-10-13 23:24] diegoot-dev commented on #7869
Saem problem version 2.4.0

[2020-10-13 23:53] Bowens20832 commented on #8770
Still present in 2.4

[2020-10-14 05:03] ajijshekh123 commented on #30480
@magento give me 2.4-develop instance

[2020-10-14 05:24] ajijshekh123 commented on #30480
Hi, @Eddcapone,
Default Magento doesn't provide magnifier functionality so not able to verify the issue. It will require the Triage dev Experience.

[2020-10-14 06:24] elvinristi commented on #26377
@JesKingDev,

This is the patch I use currently on Magento 2.4.1-beta2
- https://gist.github.com/elvinristi/a3263ca92a62ff68a838650dd0e91667

And this is used on Apache 2.4 vhost conf
- https://gist.github.com/elvinristi/87674507e854524b12bf2fa286a98f2d

[2020-10-14 07:26] muneshj99 opened #30489 "On edit order process, coupon code didn't expire, after order cancel and partial order create"
**Preconditions**
Magento 2.3.5p1.

**Steps to reproduce:**
Create the coupon code from price rule, discount 10$, fixed amount for whole cart, select one time use, select all group of customer, apply this coupon on checkout place an order, in admin panel edit the order, and submit that order, it create the new partial order and cancel the original order from order grid, as like magento2 normal beh

[2020-10-14 10:08] loid345 opened #30490 "When creating a product, depending on the product type, only attribute sets assigned to a specific product type should be displayed"
This is a suggestion to significantly improve the user experience when selecting a set of attributes eliminating errors in selecting a set of attributes

This problem occurs when you select a set of attributes when creating different product types. Each product type has its own unique set of attributes. For example, creating a downloadable product is different from creating a simple product. If th

[2020-10-14 11:52] umarch06 commented on #22490
That issue is still happening for me on magento 2.3.5-p2. I upgraded from 2.3.3 to 2.3.5-p2.
![Uploading Screenshot 2020-10-14 at 4.52.05 PM.png…]()
 Here are the screenshots:

[2020-10-14 12:29] grazianodimaio commented on #11347
I'm having this issue on Magento 2.3.5-p1 with Adyen Credit Card payment gateway.
Anyone found a solution to this?

[2020-10-14 12:31] mrtuvn commented on #30484
Can you provide more specific about steps to reproduce ?
default requirejs-config.js is being merged across all modules/themes into one file and put in head tag
IMO the good way is only lazy load js files actived/enabled modules and active theme. All js in disabled modules should not be included

[2020-10-14 12:34] gwharton commented on #11347
I wonder if this is module specific. I got failure emails under Braintree but since switching to Stripe I haven't seen any.

[2020-10-14 13:08] In2lect opened #30491 ""Something went wrong with processing the default view and we have restored the filter to its original state." But this is not happening, still hanging.."
<!
Magento hangs when you sort the columns differently. The articles are no longer shown. Nothing seems to reverse this. A big problem.
-->

### Preconditions (*)

1. Magento 2.3.5
2. Catalogue > Products

### Steps to reproduce (*)

1. Go to catalogue > Products (show 20 items/page)
2. Click on a random column to sort the the articles by this value.

### Expected result (*)

1. Error: "Something

[2020-10-14 13:24] ianrushton88 commented on #4281
Check that you have an env.php file in your app/etc folder and that your DB details are defined correctly

[2020-10-14 13:45] magenx commented on #28614
yea. cloudflare, it only save you from dumb bots, but even now bots know how to get your real ip address first, and then attack.
so if you are using any cloudfare service alike you need to either stop responding without cf header or filter connections on your server itself.
waf mods for apache or nginx works better than any cloudflare...

[2020-10-14 14:52] thlassche commented on #28966
@hostep @pics124

I saw the same for some our clients, but in our case it were large bundles that would go missing.

Turned it in our case this was the culprit:

[code]
That explains why only large products go missing: child product names are imploded in the that field, so if there are too many child products the 32766 field size limit will be hit.

Place in the code that causes this: https://gith

[2020-10-14 14:53] soumiktuban commented on #30104
@engcom-Oscar @magento-engcom-team
Any update?
Are you able to reproduce this issue?

[2020-10-14 15:11] kinexm commented on #28614
@Magenx, you are correct. Hackers now using a pool of IP addresses and rate limit is failing to stop these attacks. Can you please share the waf mode rules which worked for you? My skype is karan.kinex.

Thanks,
Karan

[2020-10-14 15:47] magento-engcom-team commented on #30325
@sdzhepa Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-14 16:24] sshymko commented on #28614
@magenx
Attackers cannot in principle get your real IP if it's not exposed anywhere and Cloudflare is proxying all the traffic.
If they manage to get the real IP somehow, it wouldn't be a problem at all as the infrastructure has to be configured to block all traffic other than [Cloudflare IPs/subnets](https://www.cloudflare.com/ips/). For example, in AWS that can be implemented in a Security Group

[2020-10-14 16:36] magenx commented on #28614
to get real ip address is the easiest task today,

the fact that even magento commerce/cloud hosting just using Fastly without any other protection,
you can connect directly to bypass Fastly and do whatever you want.

im saying is that this issue is not a magento fault, (unless they are going to build some admin settings to control API requests)
and hiding behind Fastly or Cloudflare is useless wi

[2020-10-14 16:39] sb-nick commented on #28614
For Commerce Cloud customers, check with your reps about jumping onto Origin Cloaking ASAP. Its a feature rolling out to everyone soon. I was just rolled out in the past two weeks to stage/prod. It was seemless for as as we don't use direct IPS to connect.

[2020-10-14 16:45] hielh commented on #24963
Hi
I'm facing the same issue, any solution please ?.
Ater my investigation the problem comes from a library PHP
`
 /**  \Magento\Framework\Stdlib\DateTime\Timezone
     * @inheritdoc
     */
    public function getDateFormat($type = \IntlDateFormatter::SHORT)
    {
        return (new \IntlDateFormatter(
            'ar',
            $type,
            \IntlDateFormatter::NONE
        ))->getPatte

[2020-10-14 17:01] andrewhowdencom commented on #11692
I think the desired result on this one would be to detect what mode the store is running in (given that it itself can introspect and determine what the suitable varnish configuration would be), and export things appropriately without requiring developer input.

[2020-10-14 17:22] magento-engcom-team commented on #30492
@sivaschenko Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-14 17:23] magento-engcom-team commented on #30492
@sivaschenko Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-14 17:23] magento-engcom-team commented on #30492
@sivaschenko Thank you for verifying the issue.

Unfortunately, not enough information was provided to acknowledge ticket. Please consider adding the following:
- [ ] Add `"Reproduced on "` label(s) to this ticket based on verification result

Once all required information is added, please add label `"Issue: Confirmed"` again.
Thanks!

[2020-10-14 17:23] magento-engcom-team commented on #30492
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38439` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-14 17:51] #30325 closed, assigned to nobody

[2020-10-14 20:28] kinexm commented on #28614
@sshymko - I sent you the invite on Skype and Linkedin. Can you please share the rules you used thru skype?

[2020-10-14 21:00] sshymko commented on #28614
@kinexm haven't received anything on either LinkedIn or Skype.
My Skype is s.shymko and LinkedIn [sshymko](https://www.linkedin.com/in/sshymko/). Would prefer LinkedIn though.

[2020-10-14 21:08] kinexm commented on #28614
I sent you the invite a few days ago. It under @simantsharma.
Thanks,
Karan

KARAN SHARMA
Development ManagerKinex Media Inc.416-907-4030 Ext 402 |416-907-0635
karan@kinexmedia.comwww.kinexmedia.com25 Watline Avenue, Suite 302, Mississauga

On Wed, Oct 14, 2020 9:00 PM, Sergii Shymko notifications@github.com  wrote:

@kinexm  haven't received anything on either LinkedIn or Skype.
My Skype is s.shy

[2020-10-14 21:08] cliddell97 opened #30494 "Magento2 import stock sources successful but no changes made and not showing in import history"
### Preconditions (*)

1. Magento ver. 2.3.4

### Steps to reproduce (*)
1. Updating stock sources with csv columns and values:

source_code,sku,status,quantity
default,144646,1,10.000

2. csv is in utf-8 encoding with no unusual characters.

### Expected result (*)
1. The import is done succesfully and 1 product stock has been updated
2. Import is registered in import_history table

### Actual re

[2020-10-14 21:17] sdzhepa commented on #23676
Hello @hostep

Thank you for letting me know about it.
As I can see internal jira ticket has been closed. I suppose as cannot be reproduced on the latest version

@engcom-Delta @engcom-Alfa @engcom-Bravo
Could you please check on the latest release version?
- if the initial report still actually, reopen, update, confirm
- Also, please check https://github.com/magento/magento2/issues/23676#issuecom

[2020-10-14 21:21] sdzhepa commented on #24233
@engcom-Delta @engcom-Alfa @engcom-Bravo

Could you please re-check this issue on the latest `2.4-develop` branch?

[2020-10-14 21:38] hostep commented on #23676
@sdzhepa: I can still reproduce the issue in the Security section on Magento 2.4.1

In my opinion this is **not** a bug in the security-package but in the Magento/backend theme of core Magento. I'm pretty sure that you should be able to create a small simple module to reproduce it outside of the security-package.

This is super low priority though, so do with it what you want 🙂

[2020-10-15 01:23] lfluvisotto commented on #29421
This issue should be closed, here are the arguments and facts:

1) Klarna_Core has dependency of Mage_Paypal > app/code/Klarna/Core/etc/module.xml:19

2) Klarna_Core composer is missing the require declaration of magento/module-paypal > app/code/Klarna/Core/composer.json:42

3) For Klarna_Core works without dependency of Mage_Paypal, Klarna_Core must remove the dependency on > app/code/Klarna/Core

[2020-10-15 04:54] ihor-sviziev commented on #29421
@engcom-Charlie could you confirm that issue not inside magento, but inside the Klarna module?

[2020-10-15 07:23] barryvdh commented on #26925
@maniramav any idea how to find which attribute?

[2020-10-15 07:34] engcom-Bravo commented on #29442
Thank you @hostep for the provided information

@danemacmillan We are closing this issue as Fixed on 2.4-develop

Please feel free to comment, create new ticket according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Thank you

[2020-10-15 07:34] #29442 closed, assigned to engcom-Bravo

[2020-10-15 07:55] 0m3r opened #30495 "WYSIWYG add_images config option does't work properly"
Reproduced at 2.3.5
the same code in 2.4

if I try to hide "Insert Image(s)"
https://devdocs.magento.com/guides/v2.4/ui_comp_guide/components/ui-wysiwyg.html
[code]
it don't hide because
add_images option set at line
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Cms/Model/Wysiwyg/Config.php#L202
 will be always overwritten at
https://github.com/magento/magento2/blob/2.4-dev

[2020-10-15 08:00] khaitchrif commented on #21770
What is the status on this issue?
I am facing this issue on Magento CLI 2.4.1

[2020-10-15 08:05] m2-assistant[bot] opened #30496 "[Issue] Remove incorrect use important in swatches option text"
This issue is automatically created based on existing pull request: magento/magento2#30454: Remove incorrect use important in swatches option text

---------

### Preconditions (*)

Magrento 2.4-develop

Developers will not able re-define styles in swatch option text when core file defined important
Here is example

`body .swatch-attribute .swatch-option.text.selected  {
    background-color: blac

[2020-10-15 08:08] GuillaumeBrook opened #30497 "Can't disable gift card easily"
### Preconditions (*)

1. Install a M2 2.4.0 Commerce
2. Go to the **checkout cart** and the **checkout payment step** and notice the "Gift card" dropdown
3. There is also a menu "Gift card" in the customer account
4. We can't disable the module Magento_GiftCardAccount because it's depends on so many modules...
4. We can't disable in Admin in Store > Config > Sales > Gift Card because there is no

[2020-10-15 08:37] magento-engcom-team commented on #30496
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38458` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-15 09:41] rvitaliy commented on #28033
please, fix this issue.
composer v2.0 is coming soon https://github.com/composer/composer/releases/tag/2.0.0-RC2

[2020-10-15 09:49] rvitaliy commented on #28033
update with magento EE v2.4.1
[code]

[2020-10-15 09:55] rvitaliy commented on #28033
related to https://github.com/magento/community-features/issues/302

[2020-10-15 10:09] gabrieldagama commented on #30470
@magento give me 2.4-develop instance with edition b2b

[2020-10-15 10:15] pitbulk opened #30498 "More issues related to the customer data loaded by js"
### Description
In ticket https://github.com/magento/magento2/issues/28428 I reported a bug that affected customer data not retrieved after executing a custom login controller, that was fixed by: https://github.com/magento/magento2/pull/29081

One of my customers reported 2 more different bugs that I consider are related with the customer data loaded by javascript as well

- If in the Magento inst

[2020-10-15 10:27] miteshdhaduk commented on #26882
This worked on Magento 2.3.5 with the default Magento email templates. The perfect fix for the issue.

[2020-10-15 10:45] JMLucas96 commented on #9497
I already have this values on the database but error still exist...
Magento 2.1.8

[2020-10-15 10:53] simonmaass commented on #13392
I am able to reproduct this issue on a clean m2.4.0 installation!

![image](https://user-images.githubusercontent.com/32599710/96113957-35551480-0ee5-11eb-9672-8accfd48b8ce.png)

![image](https://user-images.githubusercontent.com/32599710/96114013-4dc52f00-0ee5-11eb-926c-5bff5b12f972.png)

This doesnt seem to be fixed!

[2020-10-15 11:04] engcom-Delta commented on #23676
@hostep I rechecked initial issue and it is not reproducible by steps on latest released version 2.4.0.
**Result:**
:heavy_check_mark: No extra line at the bottom of section
![image](https://user-images.githubusercontent.com/51681379/96114076-caf4a200-0eed-11eb-8d74-cd41ee79968f.png)
![image](https://user-images.githubusercontent.com/51681379/96114093-d21bb000-0eed-11eb-89db-86d9b8d91c19.png)

I c

[2020-10-15 11:08] kAleksei opened #30499 "Cannot setup 2.3.2 on Windows 'Zend\Mvc\Controller\LazyControllerAbstractFactory' not found"
### Preconditions (*)

1. First install of magento 2.3.2
2. Windows 10 (2004)
3. PHP 7.2.34

### Steps to reproduce (*)

1. Run composer install
2. Run bin/magento setup:upgrade

### Expected result (*)

1. Setup/upgrade should run

### Actual result (*)

1. After running bin/magento setup:upgrade in PowerShell as Administrator
![image](https://user-images.githubusercontent.com/21226411/96114946-e

[2020-10-15 11:16] kAleksei commented on #30499
The solution from this issue didn't help https://github.com/magento/magento2/issues/15441

[2020-10-15 11:42] engcom-Delta commented on #24233
HI @slimmen @Fifciu  @TonyRutherford1 Unfortunately  I'm not able to reproduce issue by [steps](https://github.com/magento/magento2/issues/24233#issue-483872340) on clean 2.4-develop( both CE and EE)
**Manual testing scenario:**

- Create simple product in admin panel with Price=11.5120(**Note:** price is rounded to 11.51 after save)
![image](https://user-images.githubusercontent.com/51681379/9611

[2020-10-15 12:12] engcom-Bravo commented on #30343
Hello @Hexmage

Thank you for your report.

We have tried to reproduce the issue using the steps provided in the description
When we **Reorder** the previously created order from Admin, and set **Custom price** different from the original
![update_price_custom](https://user-images.githubusercontent.com/51680745/96119782-262a9280-0ef6-11eb-9246-49f4363191e6.png)
the price of the Bundle item is chan

[2020-10-15 12:20] Hexmage commented on #30343
@engcom-Bravo

Step 1 Create an order.
Step 2 Add bundle product (or configurable product because the same thing happens)
Step 3 Set a custom price on the bundle
Step 4 Finish order
Step 5 Reorder previous Order
Step 6 Change nothing on the reordered order and finish it

[2020-10-15 12:39] magento-engcom-team commented on #29988
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38459` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-15 12:42] hostep commented on #23676
Why do we even bother trying to guide you guys in the correct direction ... Anyway, at least there is an open ticket again but it's in the wrong repo.

[2020-10-15 12:46] engcom-Bravo commented on #30343
Thank you @Hexmage for the quick response.
We confirm that the issue is reproducible on 2.4-develop, and we have added the provided info to the Description

[2020-10-15 12:48] magento-engcom-team commented on #30343
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38460` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-15 13:23] ITPL-Krunal opened #30500 "partial refund offline API"
Description:
=========
**I think this is bug because of I have place all value proper and perfect by refund offline api but after I have check in backend full order go to in closed status.**

I am using magento 2.3.5. I need to offline partial refund through rest api. [I used POST /V1/order/<order_ID>/refund | Issues an offline refund ] URL : https://devdocs.magento.com/guides/v2.4/rest/tutorials/

[2020-10-15 13:32] Flipmediaco commented on #28614
This is exactly what is required from Magento... API control settings that would allow sessions / carts to be invalidated based on configurable parameters.

This issue shows clearly illustrates how the API is vulnerable. All other discussions are just security semantics that differs in relevancy for each consumer dependant on environment. Sadly I think most of the input as assigned this thread to

[2020-10-15 13:33] engcom-Bravo commented on #28976
Hello @anujeetphj

Thank you for your report

We confirm that the issue is reproducible on Magento 2.3.3. We get a 500 error after an attempt to **Submit Invoice**
![error500](https://user-images.githubusercontent.com/51680745/96132400-0a79b900-0f03-11eb-8e82-1ab915fa1423.png)
_Fatal error: Uncaught TypeError: Return value of Magento\InventorySourceSelection\Model\Request\InventoryRequest::getItem

[2020-10-15 13:33] #28976 closed, assigned to engcom-Bravo

[2020-10-15 13:44] sb-nick commented on #28614
@Flipmediaco I agree lots are security steps. Your suggestion about a setting to invalidate cart is great. I encourage you and everyone to share that info with their reps and request calls with security team members to review these. From past experience this summer they are listening and got on calls with me to talk through options and a path forward.

[2020-10-15 14:09] Nazar65 commented on #17310
Why this is P4 ?  this issue is easy reproduce in any page just pressing multiple times F5 button and then we got
![Screenshot_2020-10-12 Screenshot](https://user-images.githubusercontent.com/2481206/96140908-22543b80-0f09-11eb-8c19-3ed515e6f2d7.png)

[2020-10-15 14:10] magento-engcom-team commented on #30169
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30167 by @basvanpoppel in 2.4-develop branch
Related commit(s):
 - [5ce73ab1f2b04da9dacd274f6d71ea6bbcc65c1f](https://github.com/magento/magento2/commit/5ce73ab1f2b04da9dacd274f6d71ea6bbcc65c1f)
 - [29a60c57aedb9decbf0031bfc83fa4f941c011f1](https://github.com/magento/magento2/commit/29a60c57aedb9decbf003

[2020-10-15 14:10] #30169 closed, assigned to basvanpoppel

[2020-10-15 14:10] magento-engcom-team commented on #11175
Hi @scholtz. Thank you for your report.
The issue has been fixed in magento/magento2#30320 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [48216f3e13d04b8755b70f8b9b1399d87a33ab91](https://github.com/magento/magento2/commit/48216f3e13d04b8755b70f8b9b1399d87a33ab91)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-15 14:10] #11175 closed

[2020-10-15 14:10] magento-engcom-team commented on #29597
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27574 by @edenduong in 2.4-develop branch
Related commit(s):
 - [59dd0db5300a4a4f580f51e2bd8d21db74ca05ed](https://github.com/magento/magento2/commit/59dd0db5300a4a4f580f51e2bd8d21db74ca05ed)
 - [1dd4e1bbd58525b83373da00f691bd2daf4ede60](https://github.com/magento/magento2/commit/1dd4e1bbd58525b83373da00

[2020-10-15 14:10] #29597 closed, assigned to edenduong

[2020-10-15 14:10] magento-engcom-team commented on #30005
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30002 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [a2b93809864fa6dd645d44a5c818266459f53b95](https://github.com/magento/magento2/commit/a2b93809864fa6dd645d44a5c818266459f53b95)
 - [f6c4cbd23fca8a7cd7b73c4c609f5179d644d527](https://github.com/magento/magento2/commit/f6c4cbd23fca8a7cd7b73

[2020-10-15 14:10] #30005 closed, assigned to nobody

[2020-10-15 14:10] magento-engcom-team commented on #30025
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30023 by @ihor-sviziev in 2.4-develop branch
Related commit(s):
 - [075ddb4b76367df4e123ab71e2d1fb37e821160e](https://github.com/magento/magento2/commit/075ddb4b76367df4e123ab71e2d1fb37e821160e)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-15 14:10] #30025 closed, assigned to ihor-sviziev

[2020-10-15 14:10] magento-engcom-team commented on #29604
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#27454 by @kassner in 2.4-develop branch
Related commit(s):
 - [1000822c16ddb32a483b3966bd5e01e7cfcad536](https://github.com/magento/magento2/commit/1000822c16ddb32a483b3966bd5e01e7cfcad536)
 - [56f8bf8dcdfd47d656fc563c8d77c80997268923](https://github.com/magento/magento2/commit/56f8bf8dcdfd47d656fc563c8d

[2020-10-15 14:10] #29604 closed, assigned to kassner

[2020-10-15 15:42] tope316 commented on #22272
Hi, we are using version 2.3.5-p1 and the PCI compliance checking found this issue on our site: "Insecure configuration of Cookie attributes". The Base URL and Secure Base URL are already using https. Why is the cookie secure flag is still not being set on https?

[2020-10-15 16:11] gabrieldagama commented on #25679
Hi @dverkade, we are sorry that this happened, we try our best to keep backward compatibility on our patch releases. While we are still trying to minimize BIC, changes can still be applied to internal classes/interfaces that are not marked as @api.

I will be closing this issue for now since there is no work to be done.

Thanks.

[2020-10-15 16:11] #25679 closed, assigned to nobody

[2020-10-15 16:15] gabrieldagama commented on #24926
Disabling a module should not lead to the deletion of the database table or its contents, as described by some contributors above.

Closing this issue since the current behavior is the expected one.

Thanks.

[2020-10-15 16:15] #24926 closed, assigned to nobody

[2020-10-15 16:25] gabrieldagama commented on #24911
Usually, we can't perform actions based on Filesystem or MySQL direct changes. If you are changing the Magento installation place we recommend to run the whole build process again.

I don't believe this is an actual issue, please feel free to reopen it and we can discuss it further.

Thanks.

[2020-10-15 16:25] #24911 closed, assigned to nobody

[2020-10-15 16:42] #24658 closed, assigned to nobody

[2020-10-15 17:04] sdzhepa commented on #24564
@engcom-Delta  Could you please check is it issue still actual on the latest code.
Google reCAPTCHA  was refactored and moved to security-package, so maybe it was already fixed

[2020-10-15 17:10] dverkade commented on #25679
@gabrieldagama, there's definitely work to be done. The changes need to be reverted and made backwards compatible. You just can't add backwards incompatible changes.

[2020-10-15 17:24] dverkade commented on #6865
The backoffice loads on port 8888, see screenshot.

![image](https://user-images.githubusercontent.com/1058480/96163920-ca263500-0f1a-11eb-8b4a-56247cf56fda.png)

[2020-10-15 17:25] ericmorand opened #30501 "Magento 2 base packages are polluted by dozens of non-required modules"
### Preconditions (*)

Probably ever version of Magento 2 but confirmed in Magento 2 2.3.5.

### Steps to reproduce (*)

* Create a composer project
* Require magento/community-edition

### Expected result (*)

In **vendor/magento**, only the framework and the modules required to provide the core features of aMagento 2 should be present.

### Actual result (*)

**vendor/magento** is poluted by doz

[2020-10-15 18:10] sivaschenko commented on #24543
The `exportButton` component can be configured on the instance level. It should be discussed if the declaration configuration should be extendable.

[2020-10-15 18:23] Viktorja1 commented on #30361
@magento give me 2.4-develop instance

[2020-10-15 18:39] davirs opened #30503 "Integrity constraint violation: 1452 after delete website"
### Preconditions (*)

1. Magento 2.4
2. Two configured websites
3. **First** website with 5 store views and the **second** website with one store view

### Steps to reproduce (*)

1. Delete the 4 stoweviews from **first** website (in my case I mantein website id 5)
2. Set the layout for the first store view to see correctly the frontend
3. Delete the **second** website
4. Check if there is one on

[2020-10-15 18:49] kisroman opened #30504 "Can't set rating for review on Blank theme."
### Preconditions (*)

1. Magento 2.2 develop installed.

### Steps to reproduce (*)

1. Go to Stores->Configuration->Attributes->Rating. Enable all three attributes for Default Store View.
2. Enable review if not enable in Stores->Configuration -> Catalog -> Reviews.
3. Enable Blank theme.
4. Create Product visible on storefront.
5. Open product on storefront

### Expected result (*)

1. Can set

[2020-10-15 18:49] kisroman commented on #30504
@magento give me 2.4-develop instance

[2020-10-15 18:52] #30504 closed, assigned to nobody

[2020-10-15 19:03] ihor-sviziev commented on #25679
@dverkade i believe it’s not possible anymore as multiple releases already including these changes - so reverting them will break backward compatibility and some extensions will be broken 😞

[2020-10-15 19:39] pernielsentikaer commented on #12671
I can confirm this, would be nice to have that fixed.

[2020-10-15 20:16] sidolov opened #30505 "test"
### Preconditions (*)

1.
2.

### Steps to reproduce (*)

1.
2.

### Expected result (*)

1. [Screenshots, logs or description]
2.

### Actual result (*)

1. [Screenshots, logs or description]
2.

---
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contributor-guide/contributing.html#backlog) assessment for the Issue as Reporter. This information will help during Confirmation and

[2020-10-15 21:20] ericmorand opened #30506 "More than core 80 blocks use _isScopePrivate in spite of being officially described as _not working properly_"
### Preconditions (*)

Magento 2.3.5
Magento 2.4-develop

### Steps to reproduce (*)

Search for the string ` $this->_isScopePrivate = true` inside **vendor/magento**.

### Expected result (*)

Since using the $_isScopePrivate property in blocks is obsolete and will not work properly, it should not be used by any block provided by Magento 2.

See: https://devdocs.magento.com/guides/v2.3/extension-

[2020-10-15 21:33] magento-engcom-team commented on #30505
:white_check_mark: Confirmed by @sidolov
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38481` were created

**Issue Available**: @sidolov, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-15 21:35] ericmorand commented on #30506
Here is the list of all the blocks plagued by the issue as of Magento 2 2.3.5:

[code]

[2020-10-15 22:14] tales-desde-mileto opened #30507 "Magento 2.4.1 : composer install : lost files ./.github ./.gitignore"
### Preconditions (*)
1. 2.4.1

### Steps to reproduce (*)
1. composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition=2.4.1

### Expected result (*)
1. The files  .gitignore should be in root directory

### Actual result (*)
1. This files:    .gitignore are not in root directory

##
Please provide [Severity](https://devdocs.magento.com/guides/v2.3/contr

[2020-10-16 00:10] davirs commented on #23962
Same problem here.

[2020-10-16 01:12] dbashyal commented on #16958
I just found out if a product that belongs to the order is deleted, you can't access the order view page anymore and you see the same error message. As a workaround, I restored the product and updated the order_item table with the new product id. And, I was able to access the order page again.

[2020-10-16 06:52] pemann commented on #30482
With this change how could one differentiate if a product is set (also) to parent category or not? Or would this change mean that a product is set to parent categories automatically? I think it is a good idea to improve the graphical UI here, but proposed solution is not good. Parent (not explicitly checked) checkboxes should be gray or just the names could be bolded or something like that.

[2020-10-16 07:00] m2-assistant[bot] opened #30508 "[Issue] Allow to cache search results"
This issue is automatically created based on existing pull request: magento/magento2#30340: Allow to cache search results

---------
### Description (*)
Magento 2.4-develop
search result page can be cached, but varnish vcl has a rule to not cache the page.

### Manual testing scenarios (*)
1. Configure magento to use varnish for FPC
2. Do a search with one of the top 100 searches (default value),

[2020-10-16 07:01] tuyennn commented on #28609
Those list of urls should be escaped with XSS (escapeXssInUrl)

`Magento\Framework\Url\DecoderInterface::decode`
`Magento\Framework\App\Response\RedirectInterface::getRefererUrl`
`Magento\Framework\App\Response\RedirectInterface::getRedirectUrl`

[2020-10-16 07:03] Mecalux-Developer commented on #29334
This problem has been fixed in magento version 2.4.1

[2020-10-16 07:31] developer-macrew commented on #30194
Hello @engcom-Delta

This error I am getting in exception.log and system.log. I have contacted the hosting support but they said that there is no problem in elastic search. It is a problem in Magento. Magento not sending the valid request to elastic search.

[2020-10-16 07:43] magento-engcom-team commented on #30508
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38489` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-16 08:15] minhluan259 opened #30509 "The new media gallery can not load images that were uploaded via file transfer (FTP, SSH)"
The new media gallery can not load images that were uploaded via file transfer (FTP, SSH) and can not load old images too.

### Preconditions (*)

1. Php 7.4, Nginx, Mariadb
2. Install fresh Magento 2.4.1

### Steps to reproduce (*)

Issue 1:
1. Upload images to folder pub/media/wysiwyg/ by FTP (SSH)
2. Go to text editor and click insert image (by new media gallery) - **folder wysiwyg still empty*

[2020-10-16 08:41] m2-assistant[bot] opened #30510 "[Issue] Fixed placeholder translation in Magento UI grid search component"
This issue is automatically created based on existing pull request: magento/magento2#30493: Fixed placeholder translation in Magento UI grid search component

---------
Fixed translations in Magento UI grid search component
### Precondition (*)

Magento 2.4-develop

### Description (*)

Grid search input placeholder is not translated. Even if a phrase exists in translations csv file, translation w

[2020-10-16 08:45] magento-engcom-team commented on #30510
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38490` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-16 09:02] avgust1111 commented on #24926
@gabrieldagama Please, note: earlier, documentation has been updated: [https://github.com/magento/devdocs/issues/5629](url). I suppose if the behaviour was changed, it's necessary to update the documentation, what do you think?

[2020-10-16 09:16] 2657968210 opened #30511 "URI is not valid and cannot be converted into a string"
magento2.3.5-p2

{"0":"URI is not valid and cannot be converted into a string","1":"
#1 Laminas\\Http\\Request->getUriString() called at [vendor\/magento\/framework\/App\/PageCache\/Identifier.php:55]\n
#2 Magento\\Framework\\App\\PageCache\\Identifier->getValue() called at [vendor\/magento\/framework\/Interception\/Interceptor.php:58]\n
#3 Magento\\Framework\\App\\PageCache\\Identifier\\Intercept

[2020-10-16 09:19] azambon commented on #25659
2.3.6 is out, and the fix is still missing from it

https://github.com/magento/magento2/blob/2.3.6/app/code/Magento/Sales/Model/Order/Payment/State/RegisterCaptureNotificationCommand.php#L38

[2020-10-16 09:28] gabrieldagama commented on #24926
Hi @avgust1111, thanks for highlighting. Did some investigation on this and the current behavior is the expected behavior on this issue. I guess the documentation is still correct. I will check internally, but I still think that shouldn't be the behavior, maybe there is a reason for that.

Thanks again for your feedback.

[2020-10-16 09:38] oneserv-heuser commented on #12298
The error is still existing in Magento 2.4.1.

[2020-10-16 09:53] Morgy93 commented on #30376
Already reported here: #30094

[2020-10-16 09:55] VincentMarmiesse commented on #26675
This issue still exists in version 2.3.6.

[2020-10-16 10:04] zigojacko commented on #25659
Surprise surprise. 😂

[2020-10-16 10:09] 22markets commented on #30094
I can confirm this error on 2.4.0 and 2.4.1

[2020-10-16 10:26] Eddcapone opened #30512 "Magento shows message telling that article is not in storage for configurable product"
### Preconditions (*)

1. 2.4

### Steps to reproduce (*)

1. Create configurable product
2. Set Quantity to 0
2. add simple products
3. set Quantity of simple products to 1000
4. Try to configure the product in the frontend and buy it.

### Expected result (*)

1. Magento should let us buy the article, because the loaded simple article is in stock.

It should not make any diverence if the configu

[2020-10-16 10:43] Morgy93 commented on #30094
Error introduced here https://github.com/magento/magento2/commit/70ede03e5c2dc9e2c3bb23d0fc5c29cb03cbe7dd

[2020-10-16 10:44] slackerzz commented on #25182
@magento give me 2.4-develop instance

[2020-10-16 10:58] frachello89 commented on #25158
I have same issue on Magento 2.3.3 EE, backorders enabled at product level, product is In Stock with Qty 1, but when I save the Out-of-Stock Threshold at -1 (for example) value after saving is 0.

[2020-10-16 11:08] thampe commented on #27681
Hello evyerone,

why is this issue closed. This can be clearly reproduced. I have done so in one of our shops. The fix seems ok.

Do you need an pull request?

Thanks!

[2020-10-16 11:18] Nazar65 commented on #30509
@minhluan259 new media gallery runs the cron jobs for indexing your filesystems, if you don't have configured cron job, please run bin/magento media-gallery:sync

[2020-10-16 11:21] magento-engcom-team commented on #29552
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38494` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-16 11:28] hostep opened #30513 "[2.3.6 & 2.4.1] Submitting invalid create account form leaves the submit button disabled"
### Preconditions (*)
1. Magento 2.3.6 and 2.4.1
1. Confirmed on 2.4.1 composer installation
 Note(16 oct 2020): on git `2.4-develop` branch it possibly not reproducible because the branch is not synced with release code yet

### Intitial case for 2.3.6
#### Steps to reproduce (*)
1. Install clean Magento 2.3.6 or 2.4.1
1. Go to the create a new account form
1. Press the 'Create an Account' button

[2020-10-16 11:32] hostep commented on #30507
The directory `.github` should **not** be installed, that was [a bug](https://github.com/magento/magento2/issues/22359) and is fixed now, which is good!

As for the `.gitignore` file, that is unexpected indeed, not sure what's going on with that file ...

[2020-10-16 11:32] hostep commented on #22359
Looks like this was fixed in Magento 2.4.1, thanks!

[2020-10-16 11:32] #22359 closed, assigned to nobody

[2020-10-16 11:39] minhluan259 commented on #30509
@Nazar65 thank you

[2020-10-16 11:39] #30509 closed, assigned to nobody

[2020-10-16 11:52] Morgy93 commented on #30094
@magento I am working on this

[2020-10-16 11:53] Morgy93 commented on #30094
@magento give me 2.4-develop instance

[2020-10-16 11:56] barryvdh commented on #28966
Interesting, I had the issue with a lot of configurables (eg few hundred simples) so might be the same issue.

@thlassche maybe open a new issue with the tests (not sure if they bother looking at closed requests?)

Does the productId value matter? Otherwise a hash might also be a good option, or the configurable sku + a hash of the options?

[2020-10-16 12:15] mverstegen commented on #28692
I'm also facing the same problem, why can post a temporary fix here?

[2020-10-16 12:24] NetStorm84 commented on #30507
I can confirm this issue. I have just installed 2.4.1 via composer an the .gitignore file was missing.

[2020-10-16 12:25] thlassche commented on #28966
@barryvdh I think the value is used for sorting, so a hash will not do the trick (did not check it in depth though), figured that if that was the case it was a fair tradeoff to just cut the string and accept that product name sorting for the very large products was not exactly right.

See also the commit that introduced this: https://github.com/magento/magento2/commit/edbd6b5668307a1a4343f8772ed58

[2020-10-16 12:26] pdpavel commented on #30274
It seems it is not possible to login to  https://edd4d74165c885bda5d5296011a09eb6-2-4-develop.instances.magento-community.engineering I see this https://drive.google.com/file/d/16jdoegUqZ0-UTikP299ZbdGwNYeT6LaN/view?usp=drivesdk

[2020-10-16 12:29] nwtben commented on #16202
Is this still an issue in magento 2.4.x ?

[2020-10-16 12:30] nwtben commented on #12718
is this still an issue in 2.4.x?

[2020-10-16 12:32] thlassche opened #30514 "Large configurable products or bundles do not show up in product listings with ES"
### Preconditions (*)

1. Magento 2.3.5 or Magento 2.4.0
2. Any elastic search version

### Steps to reproduce (*)

1. Create a bundle or a configurable product with a few hundred child products
2. Attach the bundle or configurable to a visible frontend category
3. Make sure that the total summed amount of characters in all child product names exceeds 32766 characters
4. Make sure that Elasticsear

[2020-10-16 12:49] NTK-2016 commented on #30371
HI @krishprakash  , it's not issue with migration . It;s  third party extension which we are using i.e YourPay payment gateway

[2020-10-16 13:06] engcom-Bravo commented on #30038
Hello @franciscopaniskaseker

Thank you for your report

We have rechecked the issue and were not able to reproduce it via the provided steps. Can you please provide more details about the issue.
- On which pages in Admin Panel you are getting 404 in dev console?
- What is the Interface Locale of your store?
- What mode are you using?

Thank you in advance

[2020-10-16 13:07] hostep commented on #16202
@nwtben: I wonder about that as well since I saw a few changes flying by in some pull request regarding the url rewrite generation with storeview specific data, so maybe it got fixed, but maybe also not ...

Feel free to test and report back! 🙂

[2020-10-16 13:16] kestraly commented on #27942
Still having to add these to the database for categories. Even if these are added to the database, they do not show in the dropdown menu as selected. Standard M2 install on 2.3.5-p2

[2020-10-16 13:16] magento-engcom-team commented on #29478
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38495` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-16 13:28] magento-engcom-team commented on #29615
:white_check_mark: Confirmed by @engcom-Alfa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38497` were created

**Issue Available**: @engcom-Alfa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-16 13:35] magento-engcom-team commented on #26133
Hi @hasim32. Thank you for your report.
The issue has been fixed in magento/magento2#30405 by @solwininfotech in 2.4-develop branch
Related commit(s):
 - [a535faa775d861570058fd80f9ff0f34bbd7515b](https://github.com/magento/magento2/commit/a535faa775d861570058fd80f9ff0f34bbd7515b)
 - [a37cf33bc2a02671302f66ededb5085f6e911ea4](https://github.com/magento/magento2/commit/a37cf33bc2a02671302f66ededb50

[2020-10-16 13:35] #26133 closed, assigned to solwininfotech

[2020-10-16 13:35] magento-engcom-team commented on #30496
Hi @m2-assistant[bot]. Thank you for your report.
The issue has been fixed in magento/magento2#30454 by @mrtuvn in 2.4-develop branch
Related commit(s):
 - [df5ae12ecc26edee6bdb2c01cf5e0c6c3198f9f4](https://github.com/magento/magento2/commit/df5ae12ecc26edee6bdb2c01cf5e0c6c3198f9f4)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-16 13:35] #30496 closed, assigned to mrtuvn

[2020-10-16 13:35] magento-engcom-team commented on #30452
Hi @saumya1998. Thank you for your report.
The issue has been fixed in magento/magento2#30458 by @niravkrish in 2.4-develop branch
Related commit(s):
 - [daf0dc67926bde5de6e05f956ff0b09756ed0123](https://github.com/magento/magento2/commit/daf0dc67926bde5de6e05f956ff0b09756ed0123)

The fix will be available with the upcoming 2.4.2 release.

[2020-10-16 13:35] #30452 closed, assigned to niravkrish

[2020-10-16 13:35] magento-engcom-team commented on #30296
Hi @magento-engcom-team. Thank you for your report.
The issue has been fixed in magento/magento2#30355 by @Bartlomiejsz in 2.4-develop branch
Related commit(s):
 - [ccc83b21a25aee282be830891b5708017e992211](https://github.com/magento/magento2/commit/ccc83b21a25aee282be830891b5708017e992211)
 - [bc53649c4aaa7cf51ab32dc7fa1000c79263d4ec](https://github.com/magento/magento2/commit/bc53649c4aaa7cf51ab

[2020-10-16 13:35] #30296 closed, assigned to Bartlomiejsz

[2020-10-16 13:37] engcom-Bravo commented on #29660
We are closing this issue as the related PR has been closed

[2020-10-16 13:37] #29660 closed, assigned to nobody

[2020-10-16 13:48] PascalBrouwers commented on #29197
Able to reproduce by:
[code]

Gives `Class Magento\Framework\App\ResourceConnection\Proxy does not exist`
Strangely enough running `composer install` again *after* the error seems to resolve it.
Somehow it needs the error.

[2020-10-16 13:52] PascalBrouwers commented on #29197
But, running a
[code]
Again after that and the error is back again

[2020-10-16 13:56] magento-engcom-team commented on #30492
:white_check_mark: Confirmed by @engcom-Bravo
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38439` were created

**Issue Available**: @engcom-Bravo, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-16 13:56] Morgy93 commented on #29964
I can confirm this issue without Redis on Magento 2.4.1
Actually we disabled Redis because it consumed more than 60 GB of RAM.

Now with file cache the hard drive gets eaten and we're left with:

[code]

Yes, even 8 GB of RAM for PHP is not enough to process.

I assume that the foreach loop is just huge for whatever reason or whatever calls the save() method is a big loop.

![image](https://user-i

[2020-10-16 13:57] magento-engcom-team commented on #30505
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38481` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-16 13:57] #30505 closed, assigned to nobody

[2020-10-16 14:19] nathanjosiah commented on #29964
There were some performance improvements to CSP added in 2.4.2. Can somebody that was previously experiencing this issue re-test with 2.4.2 which is GA as of yesterday?

[2020-10-16 14:26] Morgy93 commented on #29964
@nathanjosiah 2.4.2? Did you mean 2.4.1 which is "generally available" since yesterday?
If yes, I am on the 2.4.1 from yesterday with the issue described above.

Else just enlighten me 😁

[2020-10-16 14:27] nathanjosiah commented on #29964
@Morgy93 Apologies, I deleted my comment. I meant to say 2.4.1 but then I realized the fixes will not be available until 2.4.2

[2020-10-16 14:30] nathanjosiah commented on #29964
However, somebody could potentially test using `2.4-develop` since the performance fixes have been merged there already.

[2020-10-16 14:31] Morgy93 commented on #29964
All I can see right now is this one https://github.com/magento/magento2/commit/047629aeb29354c35c7ebe4f12b7eed160e241e0#diff-f82a4c282711708e05d2f1db5f2f2369e2533e5bfb184b3f71db21a5756eafaf from 21 days ago.
I could try some manual patching if we find all necessary files.

Current workaround is to `magento clean:cache` every 15 minutes via cronjob............

[2020-10-16 14:34] onepack commented on #29964
@Morgy93
The workaround for us was to disable the CSP module. The option was a poor performance with the cron option or a crashing site. So disabling CSP was the least evil option in our case.

[2020-10-16 14:41] fronke opened #30518 "PayPal failed eCheck change order status to Validated instead of Canceled"
When the IPN callback from Paypal is coming back few days after an echeck submission, the order get a history comment saying that the IPN Failed but change the order status to Validated instead of Canceled

### Preconditions
1. Magento 2.1.7, MySQL 5.7, PHP 7.0
2. Nginx Server

### Steps to reproduce
1. Create an order and use Paypal to pay with a delayed payment (eCheck)
2. Order status is change

[2020-10-16 14:44] magento-engcom-team commented on #30519
:white_check_mark: Confirmed by @sivaschenko
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38500` were created

**Issue Available**: @sivaschenko, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-16 14:50] hostep commented on #30513
Update: just tested Magento 2.4.1 and it also has this problem, so updated title and details in opening post.

[2020-10-16 14:54] milindsingh commented on #30390
#hacktoberfest

[2020-10-16 15:10] sdzhepa commented on #30513
Hello @hostep

I am also checking this issue on 2.4.1.
And noticed that the button became unblocked as soon as a user filled email field

[2020-10-16 15:21] hostep commented on #30513
Hi @sdzhepa : just tested again on 2.4.1 and I can't confirm, the button stays disabled.

I did some quick git bisecting between 2.4.0 and 2.4.1 and it says this commit causes the bug: https://github.com/magento/magento2/commit/02b87f6aa277cf34f374cb4aa6782569185296da

[2020-10-16 15:22] elisei opened #30520 "Status Payment Review is not visible in front of the store."
Our method reaches payment_review status, and can stay on it for up to 72 hours, on the store frontend the consumer sees the order as "processing".

This process is done here:
https://github.com/magento/magento2/blob/2.4-develop/app/code/Magento/Sales/Model/Order/Config.php#L56

But I don't see any logical reason for that. I seek guidance as to why this is applied.

### Preconditions
1. Magento 2.

[2020-10-16 15:25] hostep commented on #30513
Hmm, something fishy is going on, it works in 2.4.1 when you fill in the email field as last one (but not on 2.3.6) but it fails when you fill in the password field or your last name as last one.

There is definitely something weird going on.

[2020-10-16 15:27] hostep commented on #30513
It does work correctly on the 2.4-develop branch, but I don't know if the 2.4.1 code is already merged in there ....

Anyway, have to leave, time for the weekend to start! 🙂

[2020-10-16 15:35] sdzhepa commented on #30513
@hostep
After little-bit deep investigation, i found steps to reproduce it.
Thank you for report!

If you not mind i will update the description and steps to reproduce

Steps:
1. Go to Create New Customer Account
2. Fill form but do some mistake e.g. in password fields. Example:
-- password/Conform password is not equal
-- password/Conform password is not long enough
3. Click "Create an Account" b

[2020-10-16 15:35] Aswan2016 commented on #16958
how did you do the above please?

[2020-10-16 15:49] magento-engcom-team commented on #30513
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38509` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-16 15:59] sdzhepa commented on #30511
Hello @2657968210

Could you please provide more details?
- Is it reproducible on 2.4-develop
- What exact steps to reproduce
- What exact Actual result
- What exact Expected result

Please see guidance https://github.com/magento/magento2/issues/30511#issuecomment-709929903 or[Issue reporting guidelines ](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)

Without details, we are

[2020-10-16 16:02] davirs commented on #30503
Complementing this issue, I discoved if I have only one website and only one store view after the simulation described above, magento will return that error and inside product configuration not shows "Product in Websites" section:

![image](https://user-images.githubusercontent.com/4355062/96280700-ad3b4180-0fae-11eb-9f3f-9ced39efcf32.png)

If I insert one more store view for the currently website

[2020-10-16 16:21] volanar commented on #30482
I think this is an unnecessary feature. Any product created for a child category must be mapped to the parent category. Why complicate it?

[2020-10-16 17:02] david-kominek commented on #30498
Also seeing the second issue in 2.3.5-p2.

[2020-10-16 17:21] sdzhepa commented on #30499
Hello @kAleksei

Thank you for report and collaboration.

Unfortunately, Magento does not support Windows
Quote from [Magento 2.4 technology stack requirements](https://devdocs.magento.com/guides/v2.4/install-gde/system-requirements-tech.html#operating-systems-linux-x86-64)

Also, in this repo we can collaborate/fix/deliver only issues related to 2.4.x and that can be reproduced on the latest `2.4

[2020-10-16 17:44] sdzhepa commented on #30507
Hello @tales-desde-mileto @hostep @NetStorm84

Thank you for report and collaboration.

I just received a response from the Magneto team responsible for that
Quote:

[2020-10-16 17:45] magento-engcom-team commented on #30507
:white_check_mark: Confirmed by @sdzhepa
 Thank you for verifying the issue. Based on the provided information internal tickets `MC-38512` were created

**Issue Available**: @sdzhepa, _You will be automatically unassigned. Contributors/Maintainers can claim this issue to continue. To reclaim and continue work, reassign the ticket to yourself._

[2020-10-16 18:21] sdzhepa commented on #24952
Closed as cannot reproduce

[2020-10-16 18:21] #24952 closed, assigned to nobody

[2020-10-16 18:22] sdzhepa commented on #23553
Closed as cannot reproduce on the latest `2.4-develop`  code

[2020-10-16 18:22] #23553 closed, assigned to nobody

[2020-10-16 18:23] #21487 closed, assigned to nobody

[2020-10-16 18:24] JonathanHelvey commented on #25209
Hi, We have recently upgraded to Magento 2.3.5 and we are noticing a similar issue.

[2020-10-16 18:27] sdzhepa commented on #18245
Closed as cannot reproduce on the latest `2.4-develop` code.
But if you still faced the issue please create a new report for 2.4 with detailed steps

[2020-10-16 18:27] #18245 closed, assigned to nobody

[2020-10-16 18:28] sdzhepa commented on #16786
Closed as cannot reproduce on the latest `2.4-develop` code.
But if you still faced the issue please create a new report for 2.4 with detailed steps

[2020-10-16 18:28] #16786 closed, assigned to nobody

[2020-10-16 18:28] #16440 closed, assigned to nobody

[2020-10-16 18:28] #15641 closed, assigned to nobody

[2020-10-16 18:31] #14541 closed, assigned to nobody

[2020-10-16 18:31] sdzhepa commented on #13866
Closed as cannot reproduce on the latest `2.4-develop` code.
But if you still faced the issue please create a new report for 2.4 with detailed steps

[2020-10-16 18:31] #13866 closed, assigned to nobody

[2020-10-16 18:31] #13724 closed, assigned to nobody

[2020-10-16 18:44] sdzhepa commented on #23682
Closed as cannot reproduce on the latest `2.4-develop` code.
But if you still faced the issue please create a new report for 2.4 with detailed steps

[2020-10-16 18:44] #23682 closed, assigned to nobody

[2020-10-16 18:46] JonathanHelvey commented on #25099
I am on Magento 2.3.5. This is happening to me. Is there any Fix to this from Magento?

[2020-10-16 19:13] sdzhepa commented on #23447
Closed as cannot reproduce on the latest `2.4-develop` code.
But if you still faced the issue please create a new report for 2.4 with detailed steps

![2020-10-16_14-12-43](https://user-images.githubusercontent.com/3409584/96299505-c695bb00-0fb9-11eb-9f5d-d0290e4d7834.jpg)

[2020-10-16 19:13] #23447 closed, assigned to nobody

[2020-10-17 01:22] mrtuvn commented on #29334
@maciej-orba can you have time for test it one more

[2020-10-17 01:47] mrtuvn commented on #30480
Is this reproduce in default magento theme ? In my view from your screenshot bug css reproduce in custom theme with custom menu module and also produce in details page when user zoom in media image

[2020-10-17 02:10] mrtuvn commented on #30480
Found this inline css. Maybe iframe contain paypal have higher z-index than other so that you will get visual like description
#zoid-paypal-buttons-39a244ba06_mdi6mdq6nty > iframe.component-frame {
    z-index: 100;
}

[2020-10-17 06:31] mrtuvn commented on #30513
oh we have regression bug for 2.4.1

[2020-10-17 07:01] mrtuvn commented on #30513
even use latest code in 2.4-develop i still can reproduce this issue ! not sure what pieces of code merged after Note(16 oct 2020) as your report or this issue already exists before that and nobody notice

[2020-10-17 07:22] mrtuvn commented on #30513
https://github.com/magento/magento2/commit/e212f94672953ab4ad97ceb178f9b1e956fbf951
seem related

[2020-10-17 09:02] pemann commented on #30482
The amount of work that is required to order products in parent categories (by position) increases a lot if each product is also set to parent categories and those will have (default) position 0. This is a big change and will complicate the everyday life of developers and shop owners. Also it will have negative effect of performance since a product will have more categories, which means more joins

[2020-10-17 12:17] danielpugh commented on #8770
still evident int 2.3.6

[2020-10-17 12:20] volanar commented on #30482
If I go to the phones category, I want to see all phones from all child categories, not an empty category. To improve performance, you need to optimize the category tree, and not leave the parent categories without products.