[2017-12-05 14:08] DeanSig opened #12550 "Magento 2.1.2 product images wont upload"
### Preconditions

1. Magento community 2.1.2
2. VPS, Operating System: CentOS 7.x (64 Bit), PHP version: 7.0.25, apache

### Steps to reproduce

1. fil out add product fields in full
2. upload image
3. press save

### Expected result

1. product should save in backend and database

### Actual result

1.i get the error message that file does not exist or is not an image and it does not save, yet w

[2017-12-05 14:14] ulftietze commented on #12266
Moin,

i developed a temporary fix for this (maybe), we just get "Lock wait timeout" Exceptions. Maybe you can solve your issue temporary here until a real fix is provided.

In \Magento\Indexer\Model\Indexer:

`
     const INDEXER_LOCK_KEY = "indexer_working_lock";
    /**
     * @throws \Exception
     */
    protected function lockState()
    {
        $return = $this->context->getResources()->g

[2017-12-05 14:21] Jilco opened #12551 "Magento 2.2 with PHP and Opache 7.1.12 unable to save product in admin page"
After updating a module yesterday with composer update also some of the framework and/or modules of magento are updated. After that saving a product is not possible anymore, before the update there was no problem. So updating the framework components seem to be te cause of the problem.

### Preconditions
Magento 2.2.1
Php 7.1.12
Opcache 7.1.12
Redis

### Steps to reproduce
1. go to product page
2.

[2017-12-05 14:27] skashish opened #12552 "Product image scrolling Does not work from "last to first" or "first to last" if number of images=2 on product Description page"
### Preconditions

1. Magento 2.1.9
2. Php 7.1

### Steps to reproduce

1. Create a new product.
2. Add 2 images for that product.
3. Open that product on website (Product detail Page)

### Expected result

When Image is changed using right/left arrow, It must be able to slide from last to first, as it happens when no. of product images > 2.

### Actual result

Can't scroll from last image to firs

[2017-12-05 14:28] agoeurysky commented on #1591
hi @jarnail1004 , I try this "ttl" attribute with a "60" value to have 1 minute for the cache lifetime, but it didn't work, like you. Do you have some information about it ?

[2017-12-05 14:33] #12547 closed, assigned to nobody

[2017-12-05 14:43] magento-engcom-team commented on #11188
@kanduvisla, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.1.9, 2.1.10, 2.2.1

[2017-12-05 14:43] #11188 closed, assigned to nobody

[2017-12-05 14:56] davidwindell commented on #9138
We've just hit this issue too.

[2017-12-05 14:56] whereowareadmin commented on #4767
@mayankzalavadia that solution is not working for me. I am using configurable products and the paging is counting the associated products as well, even though I made associated products visibility in search only, not catalog, search. do you have any comment for me?

[2017-12-05 15:22] whereowareadmin opened #12553 "magento 2.1.9 not showing correct paging for configurable products in list"
### Preconditions

1.  I am using centos 7.4, php 7.0.2, mysql 5.6
2.

### Steps to reproduce

1.  create configurable products based on swatches, make sure your associated products to configurable products visibility: Search only. not Not Visible or Catalog, Search
2.  create a category page from the menu.

### Expected result

1. the listing should show the correct number of pages. that means to

[2017-12-05 15:44] orlangur commented on #12551
Which module? Please provide exact commands used and `composer.json` + `composer.lock` files.

[2017-12-05 16:02] Tjitse-E commented on #12188
@magento-engcom-team I can confirm the issue that @Priya-Ponnusamy has. I've tested this on Magento 2.2.1 /PHP7.1.

By the way, the workaround that's suggested by @pieal86 works for me.

[2017-12-05 16:08] Jilco commented on #12551
mollie ideal, when i did the update also some Magento core/framework files were updated. I don't know anymore wich ones.

{
    "name": "magento/project-community-edition",
    "description": "eCommerce Platform for Growth (Community Edition)",
    "type": "project",
    "version": "2.1.6",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],
    "require": {
        "magento/product-commu

[2017-12-05 16:13] magento-engcom-team commented on #12550
@DeanSig , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please try to reproduce this issue on a clean installation or latest release.

[2017-12-05 16:15] adick commented on #10673
Still an issue in 2.2.1

I've been searching for several hours now (well, it's magento, what else would you expect) and finally came up with a solution.

deployment before:
`php bin/magento setup:static-content:deploy de_DE en_US cs_CZ`

This resulted in 3 equal js-translation.json files, where en_US and cs_CZ also contained the labels of the first translation de_DE

If you do separate deployment

[2017-12-05 16:16] DeanSig commented on #12550
hi thanks for your reply but this is a week old installation and on a theme that is best supported by magento 2.1.2

[2017-12-05 16:33] magento-engcom-team commented on #12525
@rishabhchd19 hank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-05 16:38] afnanm commented on #12510
@magento-engcom-team yes

[2017-12-05 16:45] DeanSig commented on #12550
i also tried adding all of the details first without the image and then saved which gets the product detail and url on the site but when i then go back to add the image i still get an error which this time is..
"Required parameter 'theme_dir' was not passed"

![theme-dir-not-passed](https://user-images.githubusercontent.com/34275367/33618902-b024030c-d9db-11e7-9e21-07563f0729a0.JPG)

[2017-12-05 16:52] magento-engcom-team commented on #12553
@whereowareadmin, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-12-05 16:52] #12553 closed, assigned to nobody

[2017-12-05 17:35] whereowareadmin commented on #12553
Hi, you will not fix it with Magento 2.1.9 then? it looks like on my ongoing development I will have to upgrade Magento? please let me know what are the possible changes I copy from 2.2.1 and fix it on 2.1.9?

[2017-12-05 17:45] Jilco commented on #12551
[composerlock.txt](https://github.com/magento/magento2/files/1532264/composerlock.txt)

[2017-12-05 17:51] orlangur commented on #12551
@Jilco could you please also locate a problematic class as suggested in top comment of https://bugs.php.net/bug.php?id=74980?

[2017-12-05 17:53] Jilco commented on #12551
How do i find that class....

I'm not a specialist unfortunatly

[2017-12-05 17:55] orlangur commented on #12551
Add `echo $class, PHP_EOL;` in `\Composer\Autoload\ClassLoader::loadClass` (it is usually placed in `vendor/composer/ClassLoader.php`).

[2017-12-05 18:05] Jilco commented on #12551
I located the Classloader file, i attached it. i don't know what you mean exactly, do i need to paste the text somewere in a function of the classloader.php?
[ClassLoader.txt](https://github.com/magento/magento2/files/1532355/ClassLoader.txt)

[2017-12-05 18:13] Ctucker9233 commented on #6932
@magento-engcom-team I just ran into this issue and I'm on 2.1.7. Please fix this asap or if it has been fixed, what version has the fix?

[2017-12-05 18:14] orlangur commented on #12551
Yes, you need to add this code and then reproduce the issue again.

[2017-12-05 18:16] Jilco commented on #12551
at the end of the file?

[2017-12-05 20:00] Jilco commented on #12551
I figured it out, but the outcome is huge. I cannot conclude from that what the class with the problem is. See attached.
[classloader_out.txt](https://github.com/magento/magento2/files/1532702/classloader_out.txt)

[2017-12-05 21:39] Ctucker9233 commented on #11350
@stoltz I'm trying to understand this because web/secure/use_in_adminhtml is for the backend and won't affect the frontend. Why is it a good idea to use the frontend parameter to automatically set the backend parameter?

[2017-12-05 23:38] georgios-2317 commented on #12150
Apologies on the delay (was overseas). The issue persists regardless of the aforementioned setting.

[2017-12-06 04:02] luccasmaso commented on #9775
As matter of this behavior, is there some explanation/use case where is important to have discounts for entire cart splitted proportionally through cart items? Why not save the total discount amount per order at database level instead of order_item in that case? Thanks!

[2017-12-06 05:47] magewallet commented on #5873
I confirm

[2017-12-06 07:13] mieplazma opened #12554 "Can't log in web setup wizard."
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

![70](https://user-images.githubusercontent.com/32664867/33649230-da11b6c0-da7e-11e7-80e2-73e30c3000e3.JPG)

[2017-12-06 07:22] magento-engcom-team commented on #12554
@mieplazma , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Step

[2017-12-06 07:24] magento-engcom-team commented on #12554
Hello @mieplazma. Please try to enter Your website url in another browser, f.e in Internet Explorer (not in the Edge) and tell us whether You it's been successful. Thank You.

[2017-12-06 07:48] jarnail1004 commented on #1591
@agoeurysky , this works only if you are using Varnish cache.

[2017-12-06 07:57] magento-engcom-team commented on #12552
@skashish, thank you for your report.
We've created internal ticket(s) MAGETWO-85087 to track progress on the issue.

[2017-12-06 08:00] mieplazma commented on #12554
Thank you. The problem is in the browser. Using chrome everything works!

[2017-12-06 08:21] #12554 closed, assigned to nobody

[2017-12-06 08:51] magento-engcom-team commented on #6854
@MarkB42 please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue.
The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-06 08:51] #6854 closed, assigned to nobody

[2017-12-06 08:54] EliasZ opened #12555 "Naming collision in Javascript ui registry (backend)"
### Preconditions
Magento 2.2.1

### Steps to reproduce
Add a configurable attribute with attribute code set as "content", or any other name which exists as identifier on the product edit page (for example, "gallery", "review" ,"related").

Add it to the default attribute set

Edit a product.

### Expected result
1. You can properly edit/save the product and add configurations setting that attribu

[2017-12-06 08:56] EliasZ commented on #12533
This is a duplicate of the following issue: #12455

[2017-12-06 09:23] orlangur commented on #11350
@Ctucker9233 this is not about

See "Install magento using only http". So both `web/secure/use_in_` are set to `No` and after that web server setup is changed in such a way that any HTTP is redirected to HTTPS. This does not lead to any security breach in fact and just require web server configuration to be changed properly.

[2017-12-06 09:24] orlangur commented on #12551
@Jilco I don't see in this file warning mentioned in issue description "Error: Warning: Narrowing occurred during type inference".

[2017-12-06 09:28] Jilco commented on #12551
See screenshot
![error](https://user-images.githubusercontent.com/23727130/33654375-2bbdb05a-da70-11e7-8475-09d12b7aa597.jpg)

[2017-12-06 09:36] muksSoni commented on #10142
Hello All,

I am using magento 2.1.7 and facing issue in paypal payment method, getting error from paypal response "We can't place the order". After that I have applied the ( https://github.com/magento/magento2/commit/f954a9150aef87d58ccc4f400815f6337234f09a ) fix suggested on github but still not able to fix the payment and getting new error "We can't initialize Express Checkout".
I have searched

[2017-12-06 09:37] RomaKis commented on #8538
This issue was fixed by the commits:
https://github.com/magento/magento2/commit/2933325, https://github.com/magento/magento2/commit/550ae56,
https://github.com/magento/magento2/commit/478b0ec,
https://github.com/magento/magento2/commit/a6a2301,
https://github.com/magento/magento2/commit/aafcc0b.
@magento-engcom-team, I think you can close this ticket.

[2017-12-06 09:47] ajaymakwana opened #12557 "Magento 2.2 tier price missing in advanced pricing"
### Preconditions

1. Magento 2.2.0

### Steps to reproduce

1. Admin -> Catalog -> Products -> Edit Product -> Advanced Pricing

### Expected result

1. Admin can add Tier price. There is only Customer Group Price.

### Actual result

1.
![tierprice](https://user-images.githubusercontent.com/1335843/33655202-6f73f3d6-da98-11e7-8704-f07902ed485a.png)

[2017-12-06 09:47] sivajik34 commented on #9497
[2017-12-06 09:44:11] main.CRITICAL: SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')) AND (stock_status_index.stock_status = 1)' at line 3, query was: SELECT COUNT(DISTINCT e.entity_id) FROM `catalog_product_entity` AS `e`
 INNER JOIN `catalog_category_pr

[2017-12-06 09:52] skashish commented on #12552
@magento-engcom-team Is there a quick-fix for this till the time it gets done?

[2017-12-06 10:14] Tjitse-E commented on #7176
@magento-engcom-team can you point me to the commit that includes this fix?

[2017-12-06 10:18] NagarajuKasa commented on #9505
@AlexanderHuyghebaert

Please let me know whether this issue has been fixed? since i am using magento 2 version 2.1.7

thanks

[2017-12-06 10:41] stormbyte commented on #12203
Same problem as https://github.com/magento/magento2/issues/11055

[2017-12-06 10:43] stormbyte commented on #12124
Linking to https://github.com/magento/magento2/issues/11055

The Module
https://github.com/bangerkuwranger/Magento-2-GTID-Safe-URL-Rewrite-Tables
only solves part of the problem with the queries

[2017-12-06 10:45] Ithalan commented on #10821
I have a shop that is experiencing this issue as well, but . is already in the include path with no apparent effect.

[2017-12-06 11:16] magento-engcom-team commented on #12510
@afnanm , thank for your response. We can not reproduce with regular console. We think this is problem with you Plesk console. Please contact Plesk vendor for support.
Thank you

[2017-12-06 11:18] ahmadalfy opened #12559 ""multiplewishlist" section source is not supported"
I installed a brand new version of community edition, created a new blank theme not based on anything, open the homepage I get the following error:

![image](https://user-images.githubusercontent.com/87611/33658909-0ff62bc4-da87-11e7-97e0-363468e47097.png)

[code]

The URL requested

[code]

### Preconditions
1. Magento ver 2.2.1
2. PHP ver 7.0

### Steps to reproduce

1. Installed a brand new ver

[2017-12-06 11:24] ahmadalfy commented on #12559
Possible related issue
https://github.com/magento/magento2/issues/10660

[2017-12-06 11:25] imransheik commented on #10666
This is happening to me as well, like the case mentioned by @mpchadwick, I have also downloaded the tar from Magento.com and unzipped. Then when I tried to install the b2b module I got the error.

$ composer require magento/extension-b2b

[code]

[2017-12-06 11:34] RomaKis commented on #8520
This issue was fixed by the https://github.com/magento/magento2/commit/30c4881(PR https://github.com/magento/magento2/pull/11444).
So, I think, @magento-engcom-team, you can close it.

[2017-12-06 11:37] orlangur commented on #12551
@Jilco ok, then looks like `Magento\Framework\App\Response\HeaderProvider\XFrameOptions` was the class which tried to be loaded and caused exception.

[2017-12-06 11:47] Jilco commented on #12551
How can i check/confirm that? And of course what to do about it :-)

[2017-12-06 11:52] svejegres opened #12560 "Back-End issue for multi-store website: when editing Order shipping/billing address - allowed countries are selected from wrong Store View"
### Preconditions

1. Magento 2.1.10 CE & 2.3.x
2. PHP 7.0.22
3. MySQL 5.6

### Steps to reproduce

1. Create multi-stores
2. Configure different 'Allow Countries' settings for different stores (Configuration > General > Country Options)
3. Go to Admin > Sales > Orders > Go to any order view page
4. Press "Edit" near Shipping Address: you will see the different values for Country dropdown.

### Ex

[2017-12-06 12:00] magento-engcom-team commented on #12536
The issue can be reproduced only with config Catalog Price Scope = "Website"

[2017-12-06 12:00] magento-engcom-team commented on #12549
@AbdurBhadarka, thank you for your report.
We've created internal ticket(s) MAGETWO-81449 to track progress on the issue.

[2017-12-06 12:05] nitin-bc opened #12561 "Additional options are getting removed from the quote item"
We have developed a custom module to add the additional options to the cart item using the observer events "checkout_cart_product_add_after" and "sales_model_service_quote_submit_before". It seems everything is working fine.

But, when we apply coupon code or enable gift options from the back-end or perform any default magento action l(like delete item, update item, etc) then new quote item id is

[2017-12-06 12:14] farhadfrz commented on #8933
Confirm
Magento 2.1.10
In our case, when reindex is running, no order can be placed (lock on sales_order table)

[2017-12-06 12:22] #12510 closed, assigned to nobody

[2017-12-06 12:30] magento-engcom-team commented on #12536
@openwavecomputing, thank you for your report.
We've created internal ticket(s) MAGETWO-85101 to track progress on the issue.

[2017-12-06 12:30] magento-engcom-team commented on #9705
@lfritsche, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-06 12:30] #9705 closed, assigned to nobody

[2017-12-06 12:30] magento-engcom-team commented on #9885
@Pigau, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-06 12:30] #9885 closed, assigned to nobody

[2017-12-06 12:49] jakwinkler opened #12562 "Preference for a block does not use core template file"
### Preconditions
I've added a custom methods to checkout success block. However I don't need to modify it's template file.

1. Magento 2.1.7
2. Checkout success page

### Steps to reproduce

1. Create a preference for frontend checkout success block
[code]

2. Checkout / make an order on frontend
3. Success block will be missing

### Expected result

1. Checkout page working as it should

### Act

[2017-12-06 12:50] magento-engcom-team commented on #12557
@ajaymakwana ,thanks for your report.
Starting with version  2.2.0  Tier price is renaming for Customer group price.

[2017-12-06 12:53] webtent opened #12563 "Errror after upgrading from 2.1.6 to 2.2.1"
We are running Magento on CentOS 7.4 with Apache 2.4, PHP 7.0.25 and MariaDB 10.1. The upgrade was done as follows as the magento user created for this website:

$ php bin/magento maintenance:enable
$ composer require magento/product-community-edition 2.2.1 --no-update
$ composer update
$ rm -rf var/cache/*
$ rm -rf var/page_cache/*
$ rm -rf var/generation/*
$ chmod +x bin/magento
$ php bin/magent

[2017-12-06 13:05] yogisfunda commented on #12059
I've already tested the same in fresh Magento installation with v 2.2 but it didn't worked. When i enable paypal express and payment method its sending transaction in above mentioned format, It is working fine with money order and payment methods.

It doesn't need to reproduce its already there, when you enable paypal express as your payment method you will see the odd format transaction email.

E

[2017-12-06 13:07] magento-engcom-team commented on #4986
Could you please let us know if the issue is still actual for versions 2.2.1? Thank you.

[2017-12-06 13:20] osrecio commented on #6460
@azeemism This feature will be available in `Magento 2.3`. Now I will work for Backports to have this feature in Magento 2.2 and 2.1.

[2017-12-06 13:20] #6460 closed, assigned to osrecio

[2017-12-06 13:26] magento-engcom-team commented on #12557
@ajaymakwana, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-12-06 13:54] magento-engcom-team commented on #12550
@DeanSig , We cannot reproduce this issue as described. What theme do you use?
Please provide the detailed steps we must follow to reproduce this issue on clean installation.
Please try to reproduce this issue on latest relise.

[2017-12-06 14:03] harrigo opened #12565 "Add group prices programaticaly - Could not Save Group Price error."
I cannot seem to add group prices programaticaly and keep getting Could not Save Group Price error.

I am trying with below code:
\Magento\Catalog\Api\ScopedProductTierPriceManagementInterface $tierInterface
$this->tierInterface = $tierInterface;

$tierPrice = $this->tierPrice;
$tierPrice->setQty(floatval(1));
$tierPrice->setValue(floatval($price));
$tierPrice->setCustomerGroupId($groupId);
$this-

[2017-12-06 14:04] magento-engcom-team commented on #12561
@nitin-bc, please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-06 14:04] #12561 closed, assigned to nobody

[2017-12-06 14:13] magento-engcom-team commented on #12537
Hello @openwavecomputing. Thanks for reporting. Default display currency is designated for price display on the Storefront only. It can be set separately per each store view. In admin all the prices or other financial entities, are displayed only in base currency. Seems for now, in Your case the solution is only to set up in Your Magento instance three  websites (so that each store view belongs to

[2017-12-06 14:18] sennin32 opened #12567 "2.2.1 product Shows product which is 0 stock and out of stock"
Configurable Product shows products which is 0 stock and out of stock
Display Out of Stock Products set to NO
And front end shows in stock.
when trying to add it into cart, ask for buyer to select an option

The other issue if Simple Product.
Still in the list when it is out of stock.
Unless recompile hole system, or it still there.

### Preconditions
1. PHP7
2. Magento 2.2.1

### Expected result

[2017-12-06 14:31] nitin-bc commented on #12561
Hi Support,
Thank you for the response. I hope this is technical issue for magento 2 default.

[2017-12-06 14:38] magento-engcom-team commented on #12559
@ahmadalfy, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please add more details to your description of the steps you followed when identifying this issue. Try making some local alias like `magento.dev `or `something.com`.

[2017-12-06 14:46] magento-engcom-team commented on #12567
Hello @sennin32. Thanks for reporting. Please specify whether You use one ore more than one attribute in Your configurable product configuration.

[2017-12-06 14:51] #12565 closed, assigned to nobody

[2017-12-06 15:06] flancer64 commented on #5304
Use `\Magento\Payment\Model\Method\Adapter` as a base instead of deprecated `\Magento\Payment\Model\Method\AbstractMethod`

[2017-12-06 15:27] magento-engcom-team commented on #12252
@adamlavery, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-06 15:27] #12252 closed, assigned to nobody

[2017-12-06 15:35] magento-engcom-team commented on #9676
Hi @tsifra
Could you please provide me dump and import file from #9656 for testing.
Thanks

[2017-12-06 15:43] magento-engcom-team commented on #10493
Hi @premgurung
Could you please let us know if the issue is still actual? Thank you

[2017-12-06 15:44] Bosecom opened #12568 "Configurable Product Preview Image Fails with Swatch Image/Colour In Flat Catalog Product Magento 2.2.1"
Configurable Product Preview Image Fails with Swatch Image/Colour In Flat Catalog Product Magento 2.2.1

### Preconditions

1. Ubuntu 16.04.3 LTS (GNU/Linux 4.10.0-40-generic x86_64)
2. Magento 2.2.1 Community
3. PHP v7.0.22-0ubuntu0.16.04.1
4. MYSQL 5.7

### Steps to reproduce

1. Click "Catalog"===>"Products"===>"Add Product"
2. Fill in "Product Name", "Price" and "Weight"
3. Scroll Down and Cli

[2017-12-06 15:51] MoschenBayern opened #12569 "Google Survey Opt-In Code in success.phtml"
### Preconditions

1.
2.

### Steps to reproduce

1. add the Google Survey Opt-In Code in /Magento_Checkout/templates/success.phtml
2. added code:

<script src="https://apis.google.com/js/platform.js?onload=renderOptIn"
  async defer>
</script>

<script>
  window.renderOptIn = function() {
    window.gapi.load('surveyoptin', function() {
      window.gapi.surveyoptin.render(
        {
          //

[2017-12-06 16:04] AirmanAJK commented on #12311
\vendor\magento\module-authorizenet\Model\Directpost.php has a method validateResponse that compares the hash value returned by Authorize.NET with the computed hash of the response values. If they don't match, an exception is thrown. This is for security purpose, so that it knows the response has actually come from Authorize.NET. You probably have an incorrect Authorize.net hash value configured i

[2017-12-06 16:12] AirmanAJK commented on #10338
This is a feature, not a bug. In fact, it is useful to know who is making credit card attempts but getting declined.

The way the authorize.net direct post method works is that once the order is submitted, the order is saved in Magento. After this, the form submission to authorize.net is made. Authorize.net then makes an independent web request back to the web server with response details. If the

[2017-12-06 16:17] msawyers opened #12570 "Magento 2.2.1 - while saving product from admin getting error as Class Magento\ConfigurableProduct\Model\Product\VariationHandler does not exist"
Preconditions

Previous version 2.2.1
PHP version 7.1.9

Steps to reproduce:

Update Associated Configurable product and save

Expected Result:

Product should save successfully

Actual result

Error message is received: Magento\ConfigurableProduct\Model\Product\VariationHandler does not exist

[2017-12-06 16:23] ianfp commented on #10338
@AirmanAJK After a few months of getting used to Magento 2, I do see the validity of your point -- that it *is* useful to have a record of failed transactions. But it was a jarring transition from Magento 1 and AIM -- one of many unpleasant surprises when upgrading to Magento 2.

That being said, I think my complaints are still valid, that 1) the customer's order history gets filled with failed or

[2017-12-06 17:44] calvintwr commented on #7994
this is not fixed!
![screen shot 2017-12-07 at 01 44 18](https://user-images.githubusercontent.com/6825277/33676246-2e9358e0-daf0-11e7-889c-f02be9848f7e.png)

[2017-12-06 17:57] dakira commented on #10594
I have tried multiple different hosting environments. The only thing they all have in common, is that they're based on Ubuntu 16.04. You can start from a default digitalocean image and minimally configure it to be able to run magento. It will have the exact same problem.

[2017-12-06 17:59] wd7080 commented on #12543
Hello
I have also run the following commands through the System CRON Management (which was wrong):
php /bin/magento setup:cron:run
php /bin/magento setup:static-content:deploy
This also caused that error on google...

[2017-12-06 18:29] storepeinture commented on #10594
Hello @kfriend , sorry for ma late answer.
My server environment (operating system) is CentOS 6.4

For whatever reason this is an issue, it's not something that only a few of us have. There are other discussions on the same topic.

IMHO it should be adressed by Magento 2 developers.
Maybe, we can create an environment, where a clean installation of Magento 2 causes this error. So it's easier to re

[2017-12-06 18:44] southerncomputer commented on #12563
php bin/magento deploy:mode:set production
service varnish restart
service php-fpm restart

??

[2017-12-06 18:47] southerncomputer commented on #12559
multiple-wishlist is EE product unless you are using 3rd party multiple-wishlist add-on?

[2017-12-06 18:48] afnanm commented on #12510
Php 5.6 and php7 are installed in the server. Is that cause this problem? And is there any way to add content of products for another store view?

[2017-12-06 18:50] afnanm commented on #12510
@magento-engcom-team i add some update.

[2017-12-06 19:06] webtent commented on #12563
The first command took a while, re-compiled all and finished with success, but neither varnish or php-fpm running on this system. I did restart Apache and still getting same error.

[2017-12-06 19:11] lasg125 commented on #12563
I have this issue yesterday and it was a data issue, i dump the data and
run the upgrade after that i import again the data

El El mié, 6 de dic. de 2017 a las 2:06 p. m., webtent <
notifications@github.com> escribió:

--
Luis Alberto Sánchez

[2017-12-06 20:00] vicabitu opened #12571 "Error when trying to load product with api"
Hello Everyone,
I am developing an app to load products from csv files to magento, when trying to load products using the api I get the following error:

The endpoint that I'm using is: http://localhost/tienda/index.php/rest/V1/products

{"message":"Spanish translate","parameters":{"resources":"Magento_Catalog::products"}}

I'm currently connected using curl.

Someone knows what this error is? It

[2017-12-06 20:01] webtent commented on #12563
Not sure what you mean, dump the data out and do a clean install or run upgrade on an empty database? Could possibly be a data issue still looking for old versions somewhere?

[2017-12-06 20:17] jeffmalterre commented on #5836
Not sure if this is related or not...  I'm having trouble running cron (2.2.1)  I can reindex myself but when I try to run cron it just hangs.  I checked php/magento logs and there was nothing in them, however... when I looked into mysql logs im getting (Got an error writing communication packets) timestamped at the exact time I'm trying to run cron.

Thanks,
Jeff

[2017-12-06 20:19] lasg125 commented on #12563
Sorry for my terrible english, "run upgrade on an empty database".

On Wed, 6 Dec 2017 at 15:01 webtent <notifications@github.com> wrote:

[2017-12-06 20:21] kfriend commented on #10594
My issue was caused by PHP's session.gc_maxlifetime setting. Apparently Magento makes use of PHP's native sessions, at least is some capacity. The default value is 1440 (24mins). Pretty sure PHP's session are cleared based on probability, which would lead to the inconsistent timeouts lengths that I experienced (i.e. not 24 mins exact).

It would be nice if Magento's config page, checked the sessio

[2017-12-06 22:08] pmoreno1980 commented on #10704
any update on this?

[2017-12-06 22:27] Celtex commented on #7083
I did Enable Stores -> Configuration -> General -> Web -> Use Secure URLs on Storefront and Use Secure URLs in Admin.

And no i cant get in to my store/admin. I get the ERR_CONNECTION_REFUSED when i type inn my webadress.

How can i get into my admin page again now?

[2017-12-06 23:04] tonytrinh206 commented on #12527
@magento-engcom-team
1. Setup the default store with Australia locale by following this tutorial https://www.fontis.com.au/blog/how-to-set-up-a-magento2-store-for-australia
2. Add a second store view with Vietnam locale
3. Add products to store with AUD currency
5. Go to the frontend
6. Add products to cart and go to my cart page
7. Switch between 2 stores, the price in Vietnam will display incorr

[2017-12-06 23:22] tonytrinh206 opened #12572 "Magento 2.2.1 Billing Address Missing after Refreshing"
**Preconditions**

Magento 2.2.1

**Steps to reproduce**
1. Install Magento 2.19
2. Upgrade Magento 2.1.9 to Magento 2.2
3. Go to checkout after adding a product to basket.
4. Fill in the form and go to Payment page.
5. Refresh the page.
6. In the Payment Method selected uncheck the My billing and shipping address are the same.
7. Check it back again.

**Expected Result**
The Shipping and Billing

[2017-12-06 23:26] pmoreno1980 opened #12573 "Free Shipping Shopping Cart Rule doesn't work with UPS"
### Preconditions
1. Magento 2.1.7
2. PHP 7.0
3. Mysql 5.7

### Steps to reproduce
1. Create Shopping Cart Rule for free shipping using UPS.
          Apply=Percent of product price discount
          Apply to Shipping Amount=Yes
          Discard subsequent rules=Yes
          Free Shipping=For shipment with matching items
2. UPS setting
          Free Method=UPS Standard
3. Free Shipping Method=

[2017-12-07 00:44] nntoan commented on #12569
I believe this is not Magento 2 problem. Please ask this on Magento StackExchange, GitHub is using to tracking bugs not for programming questions.

[2017-12-07 01:24] Brendonwbrown commented on #10454
Was assigned to Development in Progress. Then was unassigned. Fun stuff.

[2017-12-07 03:10] Ylmzef commented on #12421
I have same issue when i save one of my website design configuration (Content -> Design -> Configuration)

[2017-12-07 03:13] deshibazaar24 commented on #11116
########
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'referenceBlock', attribute 'ifconfig': The attribute 'ifconfig' is not allowed.
########
The above issue has been arrived on frontend in developer mode for Magento 2.2.1. I have solve by changing mode in production.

[2017-12-07 03:19] barbazul opened #12574 "ConfigurationTest fails when installing via composer"
An integration test is failing when Magento is built via composer (not when clones from github).

The problem seems to be that basePath is calculated as the app directory but the actual code is in vendor so XML configuration is not found and an uncatched exception is thrown at https://github.com/magento/magento2/blob/276c690d6ac6e97d58fe305aefb071a7b386be2a/dev/tests/integration/testsuite/Magento/

[2017-12-07 05:55] #12388 closed, assigned to nobody

[2017-12-07 06:26] sennin32 commented on #12567
Sure,
I use two configurations.
But the simple product got issue too.
Somebody mentioned swatch got similar problem as well several days ago.

[2017-12-07 06:31] #12557 closed, assigned to nobody

[2017-12-07 06:39] magento-engcom-team commented on #12567
@sennin32, thank you for your report.
We've created internal ticket(s) MAGETWO-84037 to track progress on the issue.

[2017-12-07 07:13] magento-engcom-team commented on #12537
@openwavecomputing, thank you for your report.
The issue is already fixed in 2.2.2

[2017-12-07 07:13] #12537 closed, assigned to nobody

[2017-12-07 07:23] magento-engcom-team commented on #12510
@afnanm , thank for update.
We don't think for problem with php, this not first problem with Plesk for we seen.
See devdocs
http://devdocs.magento.com/guides/v2.1/config-guide/multi-site/ms_websites.html

[2017-12-07 07:28] afnanm commented on #12510
@magento-engcom-team is there any solution to switch between languages for add contents and customize each site?

[2017-12-07 07:37] ankurvr opened #12575 "Checkout with new shipping method issue when code length exceeds 40 characters."
In ``quote_shipping_rate`` table's column ``code``'s allowed length is 255 but in ``quote_address`` table's column ``shipping_method``'s length is 40 only.
So when setting carrier and method in shipping method it combines both and saving in table ``quote_shipping_rate``.
So here if combined code length exceeds 40 character then loosing characters from index 41.
With this configuration i can reach

[2017-12-07 07:59] Jilco commented on #12551
I found a work around, but not the sollution. It is something in Opcache, but the strange thing is that it was not a problem before the update. So there has to be something wrong in the core files.
For the work around see:
https://stackoverflow.com/questions/47656426/magento-2-2-1-unable-to-save-product-error-narrowing-occurred-during-type-infe
Also i'm not the only one with the problem apparently

[2017-12-07 08:22] magento-engcom-team commented on #7869
Hi @wd7080
Your issue don't related with issue by first reporter.
If you have an issue, you should create new ticket and describe steps to reproduce.

[2017-12-07 08:24] dh1984 commented on #12112
I get also the error:

[root@veruti htdocs]# php bin/magento deploy:mode:set production
Enabled maintenance mode
Config "dev/debug/debug_logging = 0" has been saved.
Starting compilation
Something went wrong while compiling generated code. See the error log for details.
Command returned non-zero exit code:
`/fbsd/usr/iports/php70/bin/php -f bin/magento setup:di:compile`
# php bin/magento setup:di:

[2017-12-07 08:39] orlangur commented on #12551
@Jilco thanks for your investigation.

@magento-engcom-team can you reproduce this issue on a clean Magento installation using PHP 7.1.12? Should we maybe disable this version in `composer.json` then like it was with PHP 7.0.5?

[2017-12-07 08:44] magento-engcom-team commented on #12510
@afnanm ,  please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-07 08:46] magento-engcom-team commented on #11413
@luongkane, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-07 08:47] magento-engcom-team commented on #12347
@nghelo we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-07 08:47] #12347 closed, assigned to nobody

[2017-12-07 08:47] magento-engcom-team commented on #12569
@MoschenBayern , thank you for you report.
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-07 08:48] magento-engcom-team commented on #12289
@oleghind we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-07 08:48] #12289 closed, assigned to nobody

[2017-12-07 08:50] #12569 closed, assigned to nobody

[2017-12-07 09:10] magento-engcom-team commented on #6012
Hello @Corefix ,

Thank you for your report and interest in Magento system.
The behavior that you have described in expected in Magento 2. Address template settings do not have any impact on checkout process anymore (address tiles on shipping step and address information in the sidebar on the billing step). This was a requirement and was done on purpose. However we do have plans to improve address

[2017-12-07 09:11] #6012 closed, assigned to omiroshnichenko

[2017-12-07 09:18] l1mosh opened #12578 "Configurable product price shows 0 when all the simple products are out of stock."
### Preconditions

1. Magento 2 (ver. 2.1.7)
2. Configurable product price on frontend.

### Steps to reproduce

1. Create configurable product with some simple products options.
2. Set all the simple product to be out of stock.
3. Then you will see the configurable product price will be 0.

### Expected result

1. Price shown accounting to the out of stock simple.

### Actual result

1. Price is

[2017-12-07 09:31] magento-engcom-team commented on #12572
@tonytrinh206 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2017-12-07 10:09] magento-engcom-team commented on #12555
@EliasZ, thank you for your report.
We've created internal ticket(s) MAGETWO-85179 to track progress on the issue.

[2017-12-07 10:30] magento-engcom-team commented on #5447
@Crossmotion, thank you for your report.
We've created internal ticket(s) MAGETWO-85181 to track progress on the issue.

[2017-12-07 11:33] magento-engcom-team commented on #12568
@Bosecom , thank you for your report.
We can not reproduce result after the 9th step as in the your screenshot. How did you reproduce of missing images?
For product Example-example-1 you added images with what roles?

[2017-12-07 11:35] magento-engcom-team commented on #12575
@ankurvr , please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-07 11:35] #12575 closed, assigned to nobody

[2017-12-07 12:03] shozibrasool opened #12580 "Placing Order using Magento 2.0 REST API"
Internal Error. Details are available in Magento log file. Report ID: webapi-5a291a13d9760

I am using Magento 2.0

1. I am hitting the url to place order    PUT--->https://www.xxxxxx.com/index.php/rest/V1/guest-carts/ddaae427f0a12acf52a73b056b78++++/order
2. My Payment Method is COD!
3. I am sending in Body
{
    "paymentMethod": {
        "code": "cashondelivery",
        "title": "Cash On Deliv

[2017-12-07 12:04] magento-engcom-team commented on #12059
@yogisfunda , We need more information about this issue in order to successfully investigate potential fixes. Please use our issue tracking template to format your description. Specify the exact steps you used, the expected result of your actions, and the actual results.

[2017-12-07 12:09] webtent commented on #12563
Tried this but no help....

<pre>
[magento_user@li1244-190 magento]$ php bin/magento setup:upgrade

  [Zend_Db_Statement_Exception]
  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento.core_config_data' doesn't exist, query was: SELECT `main_table`.* FROM `core_con
  fig_data` AS `main_table`

  [PDOException]
  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento.cor

[2017-12-07 12:12] magento-engcom-team commented on #12580
@shozibrasool , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please add Magento version to description.

[2017-12-07 12:14] sidolov commented on #10764
Issue resolved in https://github.com/magento/magento2/pull/12167

[2017-12-07 12:15] shozibrasool commented on #12580
Thank you! I am using Magento 2.0

[2017-12-07 12:37] orlangur commented on #12562
Hello @qsolutions-pl,

This is already fixed on 2.2.0 branch: https://github.com/magento/magento2/blame/2.2-develop/app/code/Magento/Checkout/view/frontend/layout/checkout_onepage_success.xml#L20

You can add similar layout declaration into you instance.

This is not the right way of customization by the way. Extending core classes should be avoided whenever possible, when you need custom methods

[2017-12-07 12:37] #12562 closed, assigned to nobody

[2017-12-07 12:43] PardeepGrover commented on #11372
Hi,

I also faced the same issue and reason of getting this issue was--
1. I removed the whole var folder and didn't added the ht-access again in this folder.
2. the style-m.css , style-l.css and other default css files were under the web folder of  new theme so same files were again compiling and conflicting with the blank theme.

I added the ht-access in var folder and removed the default CSS fi

[2017-12-07 12:50] plentyhappy commented on #12572
I have the same problem.  Using Magento 2.2.1

[2017-12-07 13:33] wget commented on #10573
I'm experiencing this problem as well. With exports above 10-20 customers, this fails with the same undefined index. Will debug this more closely later.

[2017-12-07 13:37] magento-engcom-team commented on #12580
@shozibrasool , Please refer to the documentations to see how the result of the request should look like and update description if you can reproduce this issue on latest release `2.1.x` or `2.2.x`.

[2017-12-07 13:45] magento-engcom-team commented on #12571
Hi @vicabitu
Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2017-12-07 13:52] ishakhsuvarov commented on #12268
@roma84, Closing, as PRs with the fixes are delivered.
Thank you for collaboration!

[2017-12-07 13:52] #12268 closed, assigned to nobody

[2017-12-07 13:58] ishakhsuvarov commented on #12110
Hi @asrenzo
We are closing this ticket as fixes are already delivered with the linked PRs.

Thank you for collaboration.

[2017-12-07 13:58] #12110 closed, assigned to nmalevanec

[2017-12-07 13:59] ishakhsuvarov commented on #12506
@PascalBrouwers Closing this, as PR with the fix is already delivered.
Thank you!

[2017-12-07 13:59] #12506 closed, assigned to nobody

[2017-12-07 14:00] ishakhsuvarov commented on #11409
@coleHafner We are closing this ticket now as fixes are already delivered with the linked Pull Requests.
Thank you

[2017-12-07 14:00] #11409 closed, assigned to nobody

[2017-12-07 14:07] ishakhsuvarov commented on #8009
Hi @daniel-ifrim
We are closing this ticket now as the fix is already delivered with the linked Pull Reuqest
Thank you

[2017-12-07 14:07] #8009 closed, assigned to nobody

[2017-12-07 14:08] AlexandrKozyr commented on #9326
managed on my project (2.1.9) by adding
getProductOptions();
in my own version of vendor/magento/module-sales/Api/Data/OrderItemInterface

[2017-12-07 14:14] vincentwinkel commented on #10078
Hello,

I have the same problem on Magento 2.0.14.

When I update the delivery address from the <select>, in some case, the "items" section is returned empty from the HTTP loadBlock response, I guess it's because the form data contain the field `customer_id` = `false`.

It seems working properly when `customer_id` = `<id>`.

But I don't find anything interesting in `vendor/magento/module-sales/Con

[2017-12-07 14:18] pixmin opened #12581 "Config data is re-encrypted when saved in the back office on Magento 2210"
### Preconditions
1. Magento 2.4-develop

### Steps to reproduce
1. Create a module with this a back office form, with such a field (system.xml):
[code]

2. Go to the admin on the form page
3. The data is correctly shown, save the form

### Expected result
1. Data is correctly encrypted and saved in the database
2. De-crypted data is shown in the admin form

### Actual result
1. Data is correctly

[2017-12-07 14:20] Bosecom commented on #12568
Hi, image 1 was base thumbnail and small, image 2 was swatch

Example 1 disappears when you try to change the image.

The even if I do this clean the fault remains on the actual result where the preview image does not update.

[2017-12-07 14:23] pixmin commented on #12581
G1 Failed? What does that mean? Did I fail to submit the issue correctly?

[2017-12-07 14:30] magento-engcom-team commented on #7869
@zucler, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-07 14:30] #7869 closed, assigned to nobody

[2017-12-07 14:31] mazur-vlad opened #12582 "Can't remove item description from wishlist"
### Preconditions

1. Magento version 2.1.9
2. PHP 7.0.25

### Steps to reproduce

1. Login as customer
2. Add product to wishlist
3. Navigate to wishlist
4. Add any comment to item
5. Update wishlist
6. Remove comment from item
7. Update wishlist

### Expected result

1. Empty comment in item

### Actual result

1. Previous comment in item

[2017-12-07 14:34] pixmin commented on #12581
I've updated the issue after it failed G1.

[2017-12-07 14:39] RomaKis commented on #8344
The same issue is here https://github.com/magento/magento2/issues/8421.
Seems like it is not a bug, because this one https://github.com/magento/magento2/issues/8421 was closed as not a bug.

[2017-12-07 14:49] vtimonin opened #12583 "Redis sessions don't work when using Redis on 2.2-develop"
### Preconditions
1. Magento 2.2-develop branch
2. Redis for session management

### Steps to reproduce
1. Enable developer mode
2. Open home page

### Expected result
1. The home page is displayed

### Actual result
1. Unhandled exception `Exception #0 (Exception): Notice: Undefined offset: 0 in /media/home/Projects/magento2/vendor/colinmollenhour/php-redis-session-abstract/src/Cm/RedisSession/Ha

[2017-12-07 14:50] lasg125 commented on #12563
It seems that you does not have this table "core_config_data" in your
database.

On Thu, 7 Dec 2017 at 07:09 webtent <notifications@github.com> wrote:

[2017-12-07 14:50] magento-engcom-team commented on #12582
@MazurVlad, thank you for your report.
We've created internal ticket(s) MAGETWO-85188 to track progress on the issue.

[2017-12-07 15:07] webtent commented on #12563
Yeah, not sure what you mean at all. I'm supposed to empty the database but still have a table called "core_config_data"? I'm definitely misunderstanding your instructions.

[2017-12-07 15:07] cristian1991 commented on #7554
Any updates on the issue? I know that asking for a fix might be too much, but, at least, did anyone find a stack trace for the bug so the community might give it a chance into fixing the issue?

[2017-12-07 15:15] lasg125 commented on #12563
When i had that issue, as you said, i emptied the tables, so the schema or
tables have to exist, off course you cannot empty the config tables. Just
the data, have to be emptied.

It is important as Magento recommends that you makes backup's.

On Thu, 7 Dec 2017 at 10:07 webtent <notifications@github.com> wrote:

[2017-12-07 15:26] camerafra commented on #10666
I'm getting the same error in Magento Commerce 2.2.0.
`$ composer require magento/extension-b2b

  [InvalidArgumentException]
  Could not find package magento/extension-b2b at any version for your minimum-stability (alpha). Check the package spelling or your minimum-stability `

`$ composer require magento/module-b2b

  [InvalidArgumentException]
  Could not find package magento/module-b2b at any

[2017-12-07 15:27] AntonEvers opened #12584 "Bundle Item price cannot differ per website"
### Preconditions

1. Magento 2.2-develop
2. Magento 2.1-develop

### Steps to reproduce

1. Set `Stores | Configuration | Catalog | Catalog | Price | Catalog Price Scope` to 'Website'
2. Create a second website, store and store view
3. Create a bundle product with option 'Dynamic Price': 'No'
4. Add it to both websites
5. Add a bundle item with price type 'fixed' and price '12'
6. Save the produc

[2017-12-07 15:33] webtent commented on #12563
Ok, makes sense, thanks for the guidance. Is there a way to recreate all the necessary schema and tables, a script perhaps? Or I just go into the database and drop all except that one table? Of course I backup before I drop anything.

[2017-12-07 15:39] lasg125 commented on #12563
Becareful because all the tables must remain you just need to empty the
data of the tables except the config tables.

I did not found the schema, so i just install a new Magento instance in my
local, and export the information that i need.

On Thu, 7 Dec 2017 at 10:33 webtent <notifications@github.com> wrote:

[2017-12-07 15:42] webtent commented on #12563
There in lies the issue for me, I have no idea what is needed. I'll see if I can figure it out.

[2017-12-07 16:26] devcflynn commented on #12311
We are having this same issue. We have followed all the same steps, making sure sandbox is off, debug was set to "true". Debug logs all say the transaction was successful. We get the charge in Authorize.net and everything looks good. The issue still persists and I have also confirmed that we are indeed using the MD5 Hash that is configured in Authorize.net in our settings as well.

When a customer

[2017-12-07 16:30] magento-engcom-team commented on #5701
@paragonie-scott, thank you for your report.
We've created internal ticket(s) MAGETWO-39838 to track progress on the issue.

[2017-12-07 16:37] calvintwr commented on #7994
can someone contact me? I think instead I might be able to give access for the magento team to troubleshoot on actual dysfunctional installation than to attempt to replicate to no avail.

[2017-12-07 16:46] LordPinhead opened #12587 "Magento Cli - i18n:collect-phrases encoding behaviour"
I deployed on a fresh installed Debian 9 server the latest Magento2 via composer.

### Preconditions
Just install with shellscript (excerpt):

`composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition /var/www/magento2dev/
php -d xdebug.max_nesting_level[=250] bin/magento setup:install --base-url=http://magentodev.home.internal / --backend-frontname=admi

[2017-12-07 16:55] Andrease89 commented on #9965
Yes, have the same issue as above in 2.2.1.
The original problem still precists for me...

[2017-12-07 17:21] leoncito73 opened #12588 "No such entity when add products"
### Preconditions

1. Magento 2.2.1
2. PHP 7.0

### Steps to reproduce

1. Go to >Catalog > Products
2. Click 'Add product'
3. Fill all the required areas
4. Add image
5. Save or Save & Close

### Expected result

1.  Should save and add the product

### Actual result

1. Not save the product and return "No such Entity"
2. Logs : 2017-12-07 08:54:49] main.CRITICAL: Exception message: No such entit

[2017-12-07 17:24] whereowareadmin opened #12589 "after placing order with purchase order, magneto2.1.9 changes customer group to general"
### Preconditions

1. I am using centos 7.4, php 7.0.2, mysql 5.6
2.

### Steps to reproduce

1. create wholesaler customer group
2. create user and assign them wholesaler customer group
3. login with newly created user as wholesaler and place an order through purchase order

### Expected result

1. it should not change the customer group for that user back to general

### Actual result

1. it cha

[2017-12-07 17:59] dakira opened #12590 "Editing configurations of configurable products doesn't update quantities"
When I edit the configurations of a configurable product it allows me to set images, price and quantities for single SKUs or all products. For prices, it works, for quantities it doesn't.

### Preconditions
Magento: 2.1.10
PHP: 7.0.22
OS: Ubuntu 16.04
Webserver: Apache 2.4.18
DB: MySQL 5.7.20

### Steps to reproduce
1. Open an existing configurable product
2. Click *Edit Configurations*
3. Move on

[2017-12-07 18:02] natebatty commented on #8875
andrewli-ca Seems to work unless you are only purchasing downloadable products. Then the payment/review sections still shows up.

[2017-12-07 18:46] AirmanAJK commented on #12311
How have you confirmed you are using the correct hash? Authorize.NET never shows you the hash value again once it is set. All you can do is regenerate a new hash value, and update Magento with that exact new value. You almost certainly have the wrong value set.

The code in Magento for this is pretty straightforward and is unlikely a bug:

`return strtoupper(md5($merchantMd5 . $merchantApiLogin .

[2017-12-07 19:00] devcflynn commented on #12311
Hey @AirmanAJK ,
I was 5 min late to updating this issue before you jumped in, thanks for responding. After hours of digging, I have discovered that the problem was the MD5 hash I was using, but not because they were mismatched. Turns out that no where in any docs (besides a comment left deep in another unrelated issue somewhere else) does it mention that the **hash should only be a maximum of 10

[2017-12-07 19:14] folkevil commented on #5309
I got the same problem when deployed, using 2.1.5, PHP 5.6, Centos 7. But everything worked fine on Windows.

[2017-12-07 19:18] pixiemediaweb opened #12591 "Multi-store, globally shared customers VAT validation issue"
On a site with 10 store views, customers set to be shared globally across all stores and automatic group assignment based on VAT number, validation doesn't happen correctly when a registered user shops on another store view.

**Preconditions**
Magento: 2.1.10
PHP: 7.0.25
Nginx

**Steps to reproduce**
1. Create site with multiple websites with a single store view in each; GB, ES, DE etc, set each s

[2017-12-07 19:27] AirmanAJK commented on #12311
Strange. I found a few results on Google that also fixed their issue with a 10 character hash... strange. I looked closer at the code and there doesn't appear to be anything that would cause this. No string trimming or weird manipulation. Authorize.NET supports up to 20 characters for the MD5 hash, but I guess somehow Magento ends up with a different hash of the same values...? No idea. Glad your

[2017-12-07 20:17] joebordo opened #12593 "Magento 2 Bundle Size always 1MB. I want 100KB"
I want to have 100KB bundle size. When i put 100KB or 100kb instead of 1MB nothing happens. It's still 1MB.

### Preconditions
Magento 2.2.1
PHP 7.1

### Steps to reproduce
Set Bundle size in view.xml to 100KB
### Expected result
Bundled Size to be multiple 100KB files.
### Actual result
I get 1 big 1MB js bundled file.

[2017-12-07 21:10] paul-at-straker opened #12594 "Couldn't select all items on Review grid"
I couldn't select all items on review grid.
### Preconditions

1. Magento 2.2.1
2. PHP 7.1.12

### Steps to reproduce

1. login Magento admin
2. from main menu, select `MARKETING -> User Content -> Reviews`
3. select `Select All` under `Actions` checkbox

### Expected result

1. it should show <code>346 records found (<b>346</b> selected)</code>

### Actual result

1. it should show <code>346 reco

[2017-12-07 21:29] chlignell commented on #5836
Hi everybody!

I had the same problem with indexes (my case product indexes) not being reindexed with cron:run. This caused new products to not being shown on frontend without a manual index:reindex.

The problem was that version_id in mview_state table had a value much higher than the autoincrement value in catalog_product_category_cl table. Everytime magento 2 cron runs it checks whether the cha

[2017-12-07 21:55] wget commented on #10573
I have just found the culprit of the problem.

The problem was due to the way the data coming from 1.5 have been migrated. On 1.5, for some reason I had a website_id with `0` as identifier.

As I migrated the clients of that website_id as well, Magento 2 complained for some reason the offset in the table `$list[$value]` was incorrect/non existent.

[code]

So I removed the client from website_id a

[2017-12-08 00:00] eleongkind commented on #12129
Same here

[2017-12-08 00:10] AlexanderHuyghebaert commented on #9505
Since Magento does not support a fix, I made a fix myself. I've created cronjob that checks the prices of the child products and sets the final price in the index table

[2017-12-08 00:25] Ctucker9233 commented on #9802
@magento-engcom-team Any updates on this ticket?

[2017-12-08 00:53] Ctucker9233 commented on #10007
@okorshenko Any idea what version of 2.1 will have it?

[2017-12-08 03:32] careys7 opened #12595 "Swagger UI is out of date (version 3 is latest)"
### Preconditions

1. Magento 2.x

### Steps to reproduce

1. Open /swagger route using browser

### Expected result

1. Swagger UI is using version 3

### Actual result

1. Swagger UI is using version 2

---

Is there any plans to upgrade swagger UI, or anything blocking this currently? See comment here: https://github.com/magento/magento2/pull/7446#issuecomment-350105915

[2017-12-08 04:26] aimscoder commented on #8532
https://magento.stackexchange.com/questions/125034/js-errors-magento-2

This will work
**Copy file from**
vendor/magento/module-customer/view/frontend/web/js/view/authentication-popup.js
**to**
app/design/frontend/<custom_theme_name>/<custom_theme>/Magento_Customer/web/js/view/authentication-popup.js

and replace the below code
**from**
autocomplete: window.checkout.autocomplete
**to**
autocomplet

[2017-12-08 04:29] lee586 commented on #12317
Any idea how soon a patch will be released to tackle this bug?

[2017-12-08 05:58] ali001 opened #12596 "Magento 2.0.1 Given Error on marketplace manage product"
Notice: Undefined offset: 317 in /home/apnadesi/public_html/staging/vendor/magento/module-eav/Model/ResourceModel/ReadHandler.php on line 166

[2017-12-08 06:11] magento-engcom-team commented on #12596
@ali001, thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [x] Preconditions: Magento version
 - [x] Steps to

[2017-12-08 06:45] yogisfunda commented on #12059
I don't understand what else you need, it seems like you are not trying to understand the issue and just recommending me to formatting the issue and description. It's very simple and mentioned above multiple time. It seems like I've to work on this issue on my own to post solutions. Thanks for your support.

[2017-12-08 07:16] magento-engcom-team commented on #12403
@semmco, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-08 07:16] #12403 closed, assigned to nobody

[2017-12-08 07:30] magento-engcom-team commented on #6029
@woei66, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-08 07:30] #6029 closed, assigned to nobody

[2017-12-08 07:30] magento-engcom-team commented on #9695
@maderlock, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-08 07:30] #9695 closed, assigned to nobody

[2017-12-08 07:32] magento-engcom-team commented on #12573
@pmoreno1980, thank you for your report.
We've created internal ticket(s) MAGETWO-85216 to track progress on the issue.

[2017-12-08 07:37] magento-engcom-team commented on #12101
We are closing this issue because it hasn’t been updated in more than two weeks. If you can still reproduce this issue, please create a new GitHub issue report.

[2017-12-08 07:37] #12101 closed, assigned to nobody

[2017-12-08 08:02] RengaZiffity commented on #3879
I've faced this issue after enabling varnish. Anyone solved this issue.

[2017-12-08 08:08] Theenluck commented on #9156
I've faced this issue after enabling varnish. Anyone solved this issue.

[2017-12-08 08:09] Theenluck commented on #6759
I've faced this issue after enabling varnish. Anyone solved this issue.

[2017-12-08 08:30] magento-engcom-team commented on #12535
@luckyraul, thank you for your report.
We've created internal ticket(s) MAGETWO-85218 to track progress on the issue.

[2017-12-08 08:33] magento-engcom-team commented on #12560
@svejegres, thank you for your report.
We've created internal ticket(s) MAGETWO-85220 to track progress on the issue.

[2017-12-08 08:36] magento-engcom-team commented on #12384
@MattDelac, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-08 08:36] #12384 closed, assigned to nobody

[2017-12-08 08:42] yaroslav-zenin opened #12597 "REST webapi with "mixed[]" return type does not work anymore"
Sometimes webapi used to retrieve complex agreggation and for that I've used "mixed" return type to retrieve any structure I need. In magento 2.1.6 was working fine. After migrating to 2.2.1 stop working.
It was done by https://github.com/magento/magento2/blob/9c14af7a97bcf338662de365d2613c7ca9dbf8c6/lib/internal/Magento/Framework/Reflection/TypeCaster.php#L49
commit hash: 6ba399cdaea5babb373a35e8

[2017-12-08 08:57] joni-jones commented on #12597
Hi, @yaroslav-zenin, this is expected behavior for the current implementation, because previous didn't process correctly embedded data if the return type specified as an array. The previous behavior caught errors for WEB API https://github.com/magento/magento2/issues/8947.

What is the meaning of `mixed[]` - seems like your interface doesn't have structure. How should WEB API know how to process s

[2017-12-08 09:02] vishalmangoitsolutions commented on #12493
Is there any update on the issue?

[2017-12-08 09:03] magento-engcom-team commented on #12581
Hi @pixmin
Thanks for reporting this issue.
This is not a bug.
For encrypted field you should specify attribute `type="obscure"`, like this:
`<field id="hmackey" translate="label comment" type="obscure" ...`

[2017-12-08 09:22] andrewhowdencom commented on #11002
@gwharton Your hard work on this is appreciated. I have raised this to the comeng team for reopening, and am investigating this solution myself now.

[2017-12-08 09:24] pixmin commented on #12581
Thank you for your prompt answer, but I do not want to obscure the field in the form, it has to be visible by the end user, as it needs to be read/verified/compared, but I do not want either to save it in clear in the database.

The configuration I use was working fine with previous Magento versions, up to 2200. It stopped working (and started re-encrypted the data) with version 2210.

[2017-12-08 09:30] magento-engcom-team commented on #12589
@whereowareadmin, thank you for your report.
The issue is already fixed in 2.2.1

[2017-12-08 09:30] #12589 closed, assigned to nobody

[2017-12-08 09:30] magento-engcom-team commented on #12584
@ajpevers, thank you for your report.
We've created internal ticket(s) MAGETWO-85221 to track progress on the issue.

[2017-12-08 09:57] yaroslav-zenin commented on #12597
@joni-jones

if it is cause new issues it is not expected behavior
on SOAP @return mixed[] worked as expected, so, we should have possibility to use similar on REST

yes, I do not have structure, because it can be very complex structure with nested arrays. SOAP works good with mixed[] annotation and before 2.2.0 magento REST was also fine

BTW, I tried to comment
[code]
it does not #8947 reproduce

[2017-12-08 10:27] joni-jones commented on #12597
Such annotation in the interface shows code smell in the API design ([Technical Guidelines 1.2](http://devdocs.magento.com/guides/v2.2/coding-standards/technical-guidelines.html#1-basic-programming-principles)) and Magento doesn't have `@api` interfaces with `mixed[]` return type and a small amount of `@api` interfaces with `mixed` return type. The `mixed` it's only pseudo-type and in general does

[2017-12-08 10:30] magento-engcom-team commented on #12590
@dakira, thank you for your report.
The issue is already fixed in develop branch, 2.2.1

[2017-12-08 10:30] #12590 closed, assigned to nobody

[2017-12-08 10:34] eharvest opened #12598 "Magento 2.2 Error: "Invalid Form Key. Please refresh the page." When creating Bundled Products"
### Preconditions

1. Magento 2.2
2.
### Steps to reproduce

1. Create new bundled products
2. Add options and then add products
3. Save the bundled product

### Expected result

1. Bundled product saved successfully.

### Actual result

1. Unable to save bundled product, error: "Invalid Form Key. Please refresh the page."

[2017-12-08 10:36] dakira commented on #12590
@magento-engcom-team does that mean it won't be fixed for 2.1.*? I'm still having such massive problems with 2.2 that I can't move on right now (mainly not getting the frontend-theming-less workflow running after investing ~2 days).

[2017-12-08 10:41] speedupmate commented on #10489
just a reminder: if only virtual items are in cart and a quote is virtual , gender (or any customer attribute set as required and not present in frontend) is needed to be displayed in billing address context also

[2017-12-08 10:41] kvydiuk opened #12599 "Not able to adjust loaded product attributes on wishlist"
### Preconditions
1. Magento 2.1.8 EE
2. PHP 7.0.22-0ubuntu0.16.04.1
3. 10.0.31-MariaDB-0ubuntu0.16.04.2
4. nginx/1.10.3

### Steps to reproduce
1. I know that this is probably not an issue. But encountered some difficulties when tried to add an attribute to product on wishlist page. I wouldn't load attribute via source model to avoid performance issues. So would be great to have some flexible way

[2017-12-08 11:05] fooman commented on #11002
There is some work happening in this PR https://github.com/magento/magento2/pull/12497 which aims to prevent the same cron group being run concurrently. It doesn't sound like it would fix this issue on the cleaning up of the crashed cron task but it might help in alleviate the issue of piled up cron jobs.

[2017-12-08 11:06] gperis commented on #10499
We are experiencing this issue on Magento 2.1.10. Does Magento has an update about this?

[2017-12-08 11:08] ahmadalfy commented on #12559
@southerncomputer I downloaded the community edition from the website and I didn't install any third party addons. This is just me starting

[2017-12-08 11:42] magento-engcom-team commented on #12570
@msawyers , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-08 11:50] magento-engcom-team commented on #12568
@Bosecom , We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-08 11:55] magento-engcom-team commented on #12598
Hello @eharvest. Thanks for reporting. Please specify what exactly You mean under "Add options" - options in "Customizable Options" or only in "Bundle Items" section of the product page.

[2017-12-08 12:20] erik-augustin commented on #11113
same problem here after installing template
1 exception(s):
Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'script', attribute 'data-requiremodule': The attribute 'data-requiremodule' is not allowed.
Line: 669

Exception #0 (Magento\Framework\Config\Dom\ValidationException): Element 'script', attribute 'data-requiremodule': The attribute 'data-requiremodule' is not allowe

[2017-12-08 12:32] rossmc opened #12600 "Is there a PR/Patch available for wishlist issue resolved in #11305"
@magento-engcom-team could you provide the PR/patch for #11305 which says it's fixed in 2.2, it's still not working in 2.1.10

**Preconditions**
Magento 2.10.

**Steps to reproduce**
- Setup special price for any product
- Add this product to wishlist
- go to wishlist section

**Expected result**
- It should display the special price.

**Actual result**
- Normalprice is shown.

[2017-12-08 12:39] SpartakusMd commented on #11002
Hello. I have the same issue on Magento 2.2.1. Here is how many cronjobs there are in pending status from 2017-11-22:
[code]

[2017-12-08 12:50] magento-engcom-team commented on #12594
@paul-at-straker, thank you for your report.
We've created internal ticket(s) MAGETWO-85227 to track progress on the issue.

[2017-12-08 13:13] Tjitse-E commented on #12385
@magento-engcom-team is this issue already fixed on the development branche? If yes, can you point me to the right commit?

[2017-12-08 13:48] magento-engcom-team commented on #12059
@yogisfunda, thank you for your report.
We've created internal ticket(s) MAGETWO-85231 to track progress on the issue.

[2017-12-08 13:50] FatherFintanStack commented on #10821
AWS users:
Adding this to my fpm config (in pool.d) for the website worked for me:
php_admin_value[include_path] = ".:/mnt/www/-DOMAIN-/www/vendor/magento/zendframework1/library"

[2017-12-08 13:59] ishakhsuvarov commented on #12600
@rossmc Unfortunately we do not have information regarding the commits which fixed this issue

[2017-12-08 14:21] magento-engcom-team commented on #12600
Hello @rossmc. Thanks for applying. Unfortunately the appropriate commits have not been found, but ver. 2.2.1 has already been released, what You already may know. By that we do not mean that we recommend or suggest You to upgrade Your store, it's up to You to decide. We just want to be sure that You are aware of it.

[2017-12-08 14:23] #12600 closed, assigned to nobody

[2017-12-08 14:47] peterjaap commented on #6350
@okorshenko please re-open this issue. I can confirm this issue still exists on 2.2.1.

[2017-12-08 15:17] southerncomputer commented on #12593
turn off merging

[2017-12-08 15:24] wd7080 opened #12601 "A space between the category page and the main footer when applying specific settings"
### Preconditions

1. Magento 2.2.1

### Steps to reproduce

1. Go to Content -> Blocks
2. Add new block
3. Block information:
a. Enable block -> Yes
b. Block title: Contact Us menu
c. Identifier: contactusmenu
d. Store View: All Store Views
e. I am trying to create a contact us form on a cetegory page. I added the following content to the static block editor:
`<p>{{block class="Magento\Contact\Bl

[2017-12-08 15:26] onotole404 commented on #3906
How the shitcoders from Magento fuckin head off all the developers.
Why can't they check everything mindfully first and only then do release?!

[2017-12-08 15:28] tonybrown85 commented on #12330
@magento-engcom-team Any ETA on this please guys? Our client's website has around 80% of it's products as Bundles. They are on M2.1.5 which is extremely broken and we're trying to get them upgraded to 2.2 but this is a massive show stopper. Please provide an update or temporary fix. Thank you, Tony.

[2017-12-08 15:30] magento-engcom-team commented on #11002
@gwharton, thank you for your report.
We've created internal ticket(s) MAGETWO-83782 to track progress on the issue.

[2017-12-08 15:50] ben-pushlogic commented on #12330
@magento-engcom-team - This is also an issue for me. After upgrading from M2.1.5 bundles no longer display. Same process listed by @indefinitedevil
Is this likley to be fixed soon? Thanks Ben

[2017-12-08 16:05] webtent commented on #12563
I dumped the structure only and replaced the existing database with the empty structure, but then received this error:

<pre>
[magento_user@li1244-190 magento]$ php bin/magento setup:upgrade

  [Exception]
  Notice: Undefined index: websites in /var/local/massagesupplies/magento/vendor/magento/module-config/App/Config/Type/System.php on line 271

setup:upgrade [--keep-generated] [--magento-init-pa

[2017-12-08 16:25] joni-jones commented on #12597
@yaroslav-zenin, I've checked described case and there is some summary.

For example, an interface for order payment has `getAdditionalInformation()` method with `string[]` return type. This method can contain nested arrays:
[code]
In 2.1.x, such code caused PHP notice: `"Notice: Array to string conversion in lib/internal/Magento/Framework/Reflection/TypeCaster.php on line 58"`.

Starting at 2.2.0

[2017-12-08 16:25] #12597 closed, assigned to YevSent

[2017-12-08 17:22] atsareva opened #12602 "Cron generates the same jobs in the same time"
Hi guys,

Recently we upgraded magento with 2.2.0 version and faced with a strange issue for generating cron jobs.

### Preconditions
1. Magento 2.2.0 / 2.2.1
2. Ubuntu 16.04 lts
3. PHP 7.0.22
4. mysql  Ver 14.14 Distrib 5.7.20
5. apache

### Steps to reproduce
1. I was only observing cron_schedule table about one hour.

### Expected result
1. cron_schedule shouldn't contain repeated jobs in the s

[2017-12-08 17:42] s-hoffman commented on #10650
Hi,

Does anyone know why concurrent tasks with same job_code is not prevented by the following:
Magento\Cron\Observer\ProcessCronQueueObserver => if ($schedule->tryLockJob()) {
Magento\Cron\Model\Model\Schedule => if ($this->_getResource()->trySetJobUniqueStatusAtomic(
            $this->getId(),
            self::STATUS_RUNNING,
            self::STATUS_PENDING
        ))
Magento\Cron\Model\Reso

[2017-12-08 17:47] elvinristi commented on #10650
@s-hoffman this is in progress in https://github.com/magento/magento2/pull/12497

[2017-12-08 17:56] s-hoffman commented on #10650
@elvinristi, as I understand that ticket, it is adding MySql based locking around the cron group's execution and does not explain why trySetJobUniqueStatusAtomic is failing to catch this error.
(It may prevent concurrent execution by definition but does not directly address trySetJobUniqueStatusAtomic's failure).

[2017-12-08 17:59] Alanaktion opened #12603 "SessionManager fails under PHP 7.2"
### Preconditions
1. Magento 2.2
2. PHP 7.2

### Steps to reproduce
1. Install Magento 2.2 on PHP 7.1
2. Upgrade to PHP 7.2 (installing Mcrypt via a PHP shim or PECL)
3. Ignore deprecation warnings to bypass errors on `each()` calls
4. Attempt to load any page

### Expected result
Page loads properly

### Actual result
PHP throws an exception in the SessionManager class when `ini_set()` is called

[2017-12-08 18:05] josephmcdermott commented on #5873
Also have this issue on PayPal orders having upgraded to 2.2.1 from 2.2.0 (previously 1.9, 1.8, etc. keeping up with releases). All customer billing and shipping address missing from database.

This is the third major issue with PayPal I've had to report since 2.2... quite disconcerting, wondering how much regression testing is actually happening before these releases.

[2017-12-08 18:08] Arthi22 opened #12604 "Please advise, Magento2.1.8 customers are not visible."
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-12-08 18:16] stacypob1 commented on #11411
Hi @magento-engcom-team and @kfriend I have seen this issue on both chrome, IE, and safari for the site in question, across devices and ISPs. I was able to capture the source code and errors for this happening in the product page, the cart, and a variation on chrome last week. Below I have shared view-only google docs that will allow you to see the code, screenshots of what the issue looks like, a

[2017-12-08 18:17] stacypob1 commented on #11411
<div data-bind="scope: 'messages'">

<div role="alert" data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages">

  <div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }" class="message-error error message" data-ui-id="message-error">

  <div data-bind="html: message

[2017-12-08 18:27] rishabhchd19 commented on #12525
Hi. The website is [catalogue.yogdiagnostics.com](url) and here you can see that the Menu has 3 categories but the front page Layered Navigation fetching only 2.
On Homepage, in Design>>Custom layout Update XML:
<referenceContainer name="sidebar.main">
        <block class="Magento\LayeredNavigation\Block\Navigation\Category" name="catalog.leftnav" before="-" template="layer/view.phtml">

[2017-12-08 19:05] josephmcdermott commented on #5873
This is actually very easy to replicate with a clean Magento.

- install Magento 2.2.0 with sample data (or 2.2.1, but I happened to try with 2.2.0)
- add sandbox paypal credentials in the admin panel
- purchase product ID 51 (downloadable) using PayPal Express
- note that the order has no billing or shipping address data saved

Please re-open @magento-engcom-team as it's quite a major issue.

[2017-12-08 19:30] leoncito73 commented on #12211
@magento-engcom-team thanks..

[2017-12-08 20:03] apsummers opened #12605 "Swatches in 2.1.10 show associated text field"
Since upgrading to 2.1.10, swatches seem to show their associated text input on the frontend, which was previously hidden.

### Preconditions

1. Magento 2.1.10

### Steps to reproduce

1. Setup a configurable product with multiple color options

### Expected result

1. Product list view from 2.1.9

<img width="904" alt="screen shot 2017-12-08 at 1 30 56 pm" src="https://user-images.githubusercont

[2017-12-08 20:10] Schoeny1 commented on #11119
I know this is a closed topic.  But I thought I would post the actual solution since I just ran into the same error.  During the upgrade to 2.2 I ran into the same error Module 'Magento_Tax':
Upgrading data.. Code already exists.

Since websites are made of code, one would think that Magento means there is duplicate code somewhere.  Perhaps you would look in the app/code or vendor folder for somet

[2017-12-08 20:17] josephmcdermott commented on #5873
Sorry for the multiple posts, but I've been doing a bit of debugging of this, and I'm not actually sure its a bug per se. The fact that the billing address appears as `{{depend prefix}}{{var prefix}}` is a symptom of the issue for Magento to resolve, however the actual issue is perhaps that PayPal does not require, nor does it request, a billing address to complete an order.

The shipping and bill

[2017-12-08 20:48] d10nZ commented on #12570
The bug is reproduced on Magento 2.1.10 (PHP Version 7.1.12)
Sample Data is installed

1. Admin Area -> Catalog -> Products -> Edit Product;
2. Product ID: 36 (SKU: 24-MG04, Name: Aim Analog Watch);
3. Advanced Inventory popup;
4. Change product Qty to 0 (zero); Click Done; Close Popup
5. Click Product "Save" button

See attached screenshots:

![screenshot at 2017-12-09 00-46-20](https://user-imag

[2017-12-08 21:32] Ctucker9233 commented on #7854
@magento-engcom-team Any idea when a fix will be available for 2.1?

[2017-12-09 01:19] Nyqnzguju opened #12607 "[M2] web setup wizard issues"
Hi,

So when using Web Setup Wizard > Extension Manager

and trying to install a Mod, on the last step 3. the screen is stuck at;

Process extensions Status:
Update pending

And here is a log console log;'

Can i please get some help?

[2017-12-09 02:03] vicabitu commented on #12571
Can already solve the problem, thank you very much.

[2017-12-09 02:17] Tomasz-Silpion commented on #8508
Ticket seems to be already solved on develop in https://github.com/magento/magento2/issues/10673 as **MAGETOTWO-72301**. Meanwhile following @tadhgbowe response I've got stuck on same static-content:deploy issue in Magneto 2.2.0 making similar workaround:

`Magento\Translation\Model\Json\PreProcessor`

[code]

`Magento\Deploy\Service\DeployTranslationsDictionary;`

[code]

`Magento\Framework\Trans

[2017-12-09 02:22] Tomasz-Silpion commented on #7525
As for now best option is to use own module for translations not to fall into following issues

https://github.com/magento/magento2/issues/8508
https://github.com/magento/magento2/issues/10673

which seem to be already solved on develop branch thanks to the https://github.com/magento/magento2/commit/fc34d7bf5afce2db5f6019dcb5c259e1178fb3dc

[2017-12-09 05:23] calvintwr commented on #7994
turns out if there is something missing in the lib folder, this will never recover. In order to do so, download a fresh copy of magento and replace the lib folder.

[2017-12-09 05:27] versdivers commented on #11946
Still an issue 9/12/2017 magento 2,2,1

[2017-12-09 09:42] wd7080 commented on #12601
@magento-engcom-team were you abe to produce this? Do you need any update?

[2017-12-09 13:35] sneh-tidbit commented on #5356
Yes, I understand the issue but what should I do now to remove this error.
error: Fatal error: Uncaught TypeError: Argument 1 passed to iterator_to_array() must implement interface Traversable, null given in /home/rozander/public_html/epicdashcam.com/vendor/magento/framework/View/Element/Html/Calendar.php:86 Stack trace: #0 /home/rozander/public_html/epicdashcam.com/vendor/magento/framework/View/E

[2017-12-09 13:39] SolsWebdesign commented on #12398
Same problem, Magento 2.2.1

[2017-12-09 13:47] SolsWebdesign commented on #7994
calvintwr thank you for pointing me in the right direction

[2017-12-09 13:51] terrybakshi opened #12608 "Web Setup Wizard issue 401 error"
Strange issue, Need Solving by Magento team.

**Preconditions**

Magento 2.2.1

**Steps to reproduce**

1. Changed the base URL & Base Link URL to HTTPS Web Setup Wizard Gives 401 error.

2. When changed the Url back to HTTP  Web Setup wizard loads without any issues.

**Expected result**

Web Setup wizard should load properly without any issues even upon changing the base URL & Base Link URL to H

[2017-12-09 14:05] fwolfst commented on #11654
@magento-engcom-team Here, too. Also, a similar error (without the webapi-part) is logged sometimes when changing the countrie, I think.
@Tjitse-E , @iamkerly , @DogSports ... Do you have extensions installed? Do you have table rate shipping stuff configured?
@magento-engcom-team Is it possible to print more stacktraces in the log, to debug the issue further?

[2017-12-09 14:51] orlangur commented on #12603
Hi @Alanaktion, where do you see Magento 2.2 is supposed to be PHP 7.2 compatible?

Please check https://github.com/magento/magento2/blob/2.2/composer.json#L11

[2017-12-09 21:13] fwolfst commented on #11885
@roman204 confirm that the fix resolves the issue for us. Pretty shocked by the amount of issue 2.2.1 (and earlier versions) gives us.

[2017-12-09 21:22] wd7080 commented on #12601
Guys, this is really a bug, the main column does not get hidden. Just look into this, please.

[2017-12-09 21:29] nelero commented on #11885
So much bugs and regressions with ezch version. I advise customers to stay
safe un 1.9.x version, much stable (and so much faster)

Le 9 déc. 2017 22:13, "Felix Wolfsteller" <notifications@github.com> a
écrit :

@roman204 <https://github.com/roman204> confirm that the fix resolves the
issue for us. Pretty shocked by the amount of issue 2.2.1 (and earlier
versions) gives us.

—
You are receiving th

[2017-12-09 22:34] BlackIkeEagle commented on #12570
I think this is an issue with PHP 7.1.12, when running on PHP 7.0.26 you do not encounter this issue. There is an opcache issue in 7.1.12 and 7.2.0 which causes issues, see:
https://bugs.php.net/bug.php?id=74980
https://git.php.net/?p=php-src.git;a=commit;h=3df47c12f77a71f90778ec42e6892c828e702fb2

[2017-12-09 22:35] BlackIkeEagle commented on #12570
if you add

[code]

To index.php the issue also dissapears

[2017-12-09 23:03] fwolfst opened #12612 "Array to String conversion error on checkout page when changin country - how to debug"
### Preconditions

1. Magento 2.2.1
2. php and mysql updated from ubuntu 16.04 repositories

### Steps to reproduce
0. I guess it is difficult to reproduce and configuration dependent. I'd be happy for hints how to debug this.
The payment methods are set available for all allowed countries. There are shipping tablerates for the respictive countries too.
1. Add one or more product(s) to cart
2. Go

[2017-12-10 08:38] ragboyjr commented on #12422
@weynhamz I'm pretty sure your issue is due to caching. I had the same exact issue on my system. It looks like they changed the primary key from row_id -> rule_id. I must have ran a setup:upgrade (or something of that like) before upgrading my composer deps. The database index list was cached with the value of row_id for the primary key. But if you check the table, the primary key is clearly for t

[2017-12-10 15:37] msarm opened #12613 "Verbiage Update Required: Product Image Watermark size Validation Message"
### Preconditions
1. Navigate to Admin Content module to edit Product Image Watermark.

### Steps to reproduce
1. Enter Product Image Watermark Image Size as 200X300
2. Displays Validation Message: This value does not follow the specified format (for example, 200X300).

### Expected result

1. The system expects the image size defined in 200x300 format as said in on-screen example format. But the

[2017-12-10 16:01] mihaiaperghis commented on #9440
I can confirm this happens when the sitemap itself is an index file that contains sitemap children (in shops with 50k+ pages).

So if I create a sitemap.xml file under the /pub/ path, its address will be

/pub/sitemap.xml

but it will contain sitemap children such as

http://example.com/websites/example.com/public_html/pub/sitemap-1-1.xml
http://example.com/websites/example.com/public_html/pub/sit

[2017-12-10 16:55] gerben86 commented on #11498
I encounter the same issue in MCE 2.1.10.
Workaround is to enable "Billing Agreements".

[2017-12-10 17:04] wd7080 commented on #12601
Any update on this bug?

[2017-12-10 19:23] ishakhsuvarov commented on #10764
Hi @pradeeprcs
We are closing this issue for now as the fix has been introduced in `2.2-develop` with Pull Request #12167

[2017-12-10 19:23] #10764 closed, assigned to patrikpihlstrom

[2017-12-10 19:24] TandyCorp commented on #11002
Not terribly useful but just wanted to add that I ran into this problem on Magento 2.2.1, my count for cron_schedule had grown to 532983. Clearing the schedule solved the problem, so thanks to those who found the reason. I just hope someone can find a fix for the cause of the growing table.

[2017-12-10 19:24] ishakhsuvarov commented on #10909
Closing per comments above.
Thank you for collaboration!

[2017-12-10 19:24] #10909 closed, assigned to nobody

[2017-12-10 19:30] calvintwr opened #12614 "Magento 2.2.1 default cron settings causes server CPU and memory overload"
### Preconditions

1. Magento 2.2.1
2. PHP 7

### Steps to reproduce

1. Set up cron settings as per the Magento official documentation: http://devdocs.magento.com/guides/v2.2/config-guide/cli/config-cli-subcommands-cron.html

### Expected result

1. Everything should work fine.

### Actual result

1. The new cron fires before the old one can complete. Since each cron job takes longer than 1 minut

[2017-12-10 19:49] afnanm commented on #12510
@magento-engcom-team can I know why you refer this problem to Plesk consol? and as you see I add it to the Magento Stack Exchange site for advice or general discussion about this issue but no answers or advice.  I think this problem related to Magento Core technical issues.

[2017-12-10 22:30] ishakhsuvarov commented on #10761
Hi @theodorhanu
We are closing this issue for now, as the problem seems to be fixed in 2.2.1 onwards (refer to the comment above by @boratek).
Here is the updated link to the source:
https://github.com/magento/magento2/blob/321278b5027077b346e16ad4cac5407d65c918fd/app/code/Magento/Quote/Model/Quote.php#L1635

Thank you for collaboration

[2017-12-10 22:30] #10761 closed, assigned to nobody

[2017-12-10 22:44] fwolfst opened #12615 "Redirect to secure_url removes url parameters (like "?product_list_limit=20")"
### Preconditions
1. Using magento 2.2.1
2. php, mysql and other libraries current from vanilla ubuntu 16.04
3. (not really necessary I GUESS) ssl-setup via nginx443->varnish80->nginx8080(magento)
4. secure and unsecure URL set to the https adress (we dont want unencrypted traffic except between varnish80 and nginx8080). That means magento2 will always ask the browser to visit us on https if nginx

[2017-12-11 00:30] Gowsalayadevi opened #12616 "Registered user couldnot place the order once cancel any order"
Hi,
The registered customer whose order has been cancelled due to wrong card details couldnot place any other orders.

### Preconditions

1. Magneto 1.9.3

### Steps to reproduce

1.  create a new user and log In
2.  Add a product in the cart
3.  Proceed to checkout
4. Select the credit card payment method and proceed
5.  Enter wrong card details.
6. The order will be cancelled due to wrong card d

[2017-12-11 00:58] meeweed commented on #11552
I fixed it using the hack but honestly, this should work as I outlined. The hack @orlangur recommeded (and the one which I had already done) involves many queries for multiple items  in an asynchronous environment.

[2017-12-11 01:09] dbag1010101 opened #12617 "item price returning zero"
I'm using the web api. When adding an item to their cart, I get the item returned with a price of 0. this is true for the totals api as well.

### Preconditions
Using Magento CE 2.2.0 with php 7.0.

### Steps to reproduce

1. User adds items to cart, checks out.
2. User then proceeds to add another item to the cart
3. The api returns the item with price as zero
4. When I update the quantity, the p

[2017-12-11 02:40] michaeldyl520 commented on #10821
This problem is reproduced in 2.1.6. The server is magento cloud server. Is there a solution?

[2017-12-11 03:42] gerrybarron commented on #2816
**Preconditions**
1. Magento 2.1.8 without sample data is installed.

**Steps to reproduce**
1. I follow the guide for installing sample data : http://devdocs.magento.com/guides/v2.1/install-gde/install/cli/install-cli-sample-data-composer.html
2. Run bin/magento sampledata:deploy
3. After installing the sample data I ran the setup:upgrade and setup:di:compile
4. I clean and flush the cache using

[2017-12-11 04:09] devamitbera commented on #2816
@gerrybarron using xampp?

If you using xampp  then you may be facing this issue?it may happen for symbolic link

[2017-12-11 04:26] gerrybarron opened #12618 "MEDIA URL net::ERR_ABORTED when sample data is installed"
I installed a fresh magento2.1.8 on our staging server without sample data and then when I searched for how to install sample data I just follow this instruction http://devdocs.magento.com/guides/v2.1/install-gde/install/cli/install-cli-sample-data-composer.html
But after finished installing the sample data there's an error for the media url then i tried to check the other issuer regarding this bu

[2017-12-11 04:27] gerrybarron commented on #2816
nope im not using xampp I installed it on our staging server. OS is ubuntu 16.04

[2017-12-11 04:39] devamitbera commented on #2816
have you done reindex. Maybe in design flat  table's designs   is assign

[2017-12-11 04:45] gerrybarron commented on #2816
yup did that too. but nothing changes

[2017-12-11 06:22] digvijay2017 commented on #12546
@magento-engcom-team

I have changed the theme and checked again the issue, then this issue did not occurs. I think, there is some problem in theme, so i am closing this issue.

[2017-12-11 06:22] #12546 closed, assigned to nobody

[2017-12-11 06:23] RishabhRkRai commented on #11654
I also have the same error message for the logged in users.

[2017-12-11 06:29] RishabhRkRai commented on #12612
I also have the same error message for the logged in users.

[2017-12-11 06:47] magento-engcom-team commented on #12604
@Arthi22 , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Steps

[2017-12-11 07:10] Rockfordgun opened #12619 "Php Parse Error on cron jobs"
Im trying to run Cron Jobs cause im not recieving any new transactional emails.
I went from 3 errors on my cron jons to one but im stuck

My Cron Jobs are setup in Cpanel.
The problematic cron job is the one below
/usr/local/bin/php /home/username/public_html/bin/magento cron:run | grep -v "Ran jobs by schedule" >> /home/username/public_html/var/log/magento.cron.log

I recieve the following error

[2017-12-11 07:44] magento-engcom-team commented on #12616
@Gowsalayadevi , thank you for your report.
Could you please let us know if the issue is still actual for versions 2.1.10 and 2.2.1? Thank you.

[2017-12-11 08:14] Jilco commented on #9737
@PierAlex did you find a cause for the problem? I'm facing the same...
Your work around makes al mails sendig, i only want to send the order conformation

[2017-12-11 08:31] magento-engcom-team commented on #12605
@apsummers , We were not able to reproduce this issue by following the steps you provided. Please try to reproduce this issue on a clean installation.

[2017-12-11 08:50] TomashKhamlai commented on #5356
Hello @sneh-tidbit!
What version of Magento is currently installed on your server?

[2017-12-11 08:51] magento-engcom-team commented on #12618
Hello @gerrybarron. Thanks for reporting. Currently we are not able to reproduce Your issue. Please answer some questions about it. 1. After installation of Magento had You changed the mode before installing sample data (from deafault)? 2. After installation of Magento had You made any changes Your instance at all (created new product, customer, changed configuration settings, whatever...)) before

[2017-12-11 08:53] SukeshiniR commented on #9737
I'm facing the same issue on Magento EE 2.0.17

[2017-12-11 08:54] arnoudhgz commented on #11427
@magento-engcom-team any news on this issue?

[2017-12-11 09:00] magento-engcom-team commented on #12581
Hi @pixmin
I understand you.
The fix for this issue is already available in the develop branch.

[2017-12-11 09:03] Zu-Hause-Plattform opened #12620 "Shipping Address saved when customers use mobile gadget"
Hi,
we are having issues on our website which is when customers make a purchase with their mobile phones, the shipping address is not relayed to us. Desktop seems to be alright.
Can you guys help us fix this issue?
here is the link to screenshot of the issue:
https://www.awesomescreenshot.com/image/3029835/219d7d52837f15afe36cf436a6ebcf11

Preconditions:
Magento ver. 2.1.7

Steps to reproduce:
1-

[2017-12-11 09:14] magento-engcom-team commented on #12614
@calvintwr Thank you for your report! This issue is already addressed in internal ticket MAGETWO-83782 We are closing this issue as a duplicate of https://github.com/magento/magento2/issues/11002

[2017-12-11 09:14] #12614 closed, assigned to nobody

[2017-12-11 09:23] magento-engcom-team commented on #12425
@testmagento2, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 09:23] #12425 closed, assigned to nobody

[2017-12-11 09:36] magento-engcom-team commented on #12620
@Zu-Hause-Plattform , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 -

[2017-12-11 09:37] magento-engcom-team commented on #12601
@wd7080, thank you for your report.
We've created internal ticket(s) MAGETWO-85276 to track progress on the issue.

[2017-12-11 09:52] magento-engcom-team commented on #12602
@atsareva Thank you for your report! This issue is already addressed in internal ticket MAGETWO-83782 We are closing this issue as a duplicate of https://github.com/magento/magento2/issues/11002

[2017-12-11 09:59] msieprawski commented on #10321
Hi again @magento-engcom-team, any chances of reopening that issue? A lot of people potentially are losing their time because of that issue. It's not that easy to track it and fix it.

[2017-12-11 10:48] keijsers commented on #8615
It seems to be resolved somehow or version 2.1.9 is not affected. I've been able to successfully create and update a product with slashes in the sku. Encode the slash using '%2f'

For the update I used the following example API call:

**PUT**: /rest/all/V1/products/article%2fwith%2fslash%2fin%2fsku
**JSON**: {
  "product": {
    "status": 1,
    "type_id": "simple",
    "name": "Test article is up

[2017-12-11 10:54] VignaS opened #12622 "Incorrect Shipping charge when Discount Coupon applied"
### Preconditions
1. Magento Version: ================ Magento 2 2.1.5
2.  We are using table rate method for shipping, below are the value range,

3. When the subtotal is $19.98 , we have shipping rate as $5.99, that is correct. On applying a discount of $9 , the amount will be reduced to $10.98 and now the shipping rate should be changed as $6.99(as $10.98 is below $12.99 - 1st rate) but still w

[2017-12-11 10:58] RomaKis commented on #12526
Looking at the code I can conclude that this is not a bug. This is message with base currency. And if base currency != quote currency it is shown.
![screenshot from 2017-12-11 12-57-19](https://user-images.githubusercontent.com/17450979/33827941-c09b9506-de72-11e7-9e23-b9fff6a31481.png)
![screenshot from 2017-12-11 12-58-23](https://user-images.githubusercontent.com/17450979/33827971-dab6fa2a-de72

[2017-12-11 11:08] magento-engcom-team commented on #8242
@KhaledF, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 11:08] #8242 closed, assigned to nobody

[2017-12-11 11:12] Zu-Hause-Plattform commented on #12620
Hello Magento Team,
i have updated the issue, please let me know if more info. is needed.

Thanks

[2017-12-11 11:12] yogisfunda commented on #12059
Thanks, I'll continue to check this from my end too.

[2017-12-11 11:16] magento-engcom-team commented on #12571
@vicabitu Thank you for your report, we glad you found the solution to fix your problem. Closing this issue, have a great day.

[2017-12-11 11:16] #12571 closed, assigned to nobody

[2017-12-11 11:18] ghost opened #12623 "DHL Shipping Method not currently available - no log file"
**Preconditions**
1 ) Magento Version:2.2.0
     PHP Version:7.1
     using nginx web server

**Steps to reproduce**
1) setup DHL configuration form backend
2) enable DHL shipping method
3) set Debug Yes
4)If User Enter Wrong address or anything went wrong with DHL web service at that time error log are not printed into var/log/debug.log file

**Expected result**
If DHL web service return any erro

[2017-12-11 11:19] p-bystritsky commented on #12190
Issue already fixed in 2.2-develop.

[2017-12-11 11:22] magento-engcom-team commented on #11672
Hi @Hobbit78
It is not an exception.
To show products probably you should run re-index.
Could you please let us know if the issue is still actual?
Thank you.

[2017-12-11 11:30] magento-engcom-team commented on #8240
@uileprojecttus, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 11:30] #8240 closed, assigned to nobody

[2017-12-11 11:30] magento-engcom-team commented on #7370
@pantaoran, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 11:30] #7370 closed, assigned to nobody

[2017-12-11 11:30] magento-engcom-team commented on #5847
@saderra, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 11:30] #5847 closed, assigned to nobody

[2017-12-11 11:30] magento-engcom-team commented on #6747
@thaohientruong, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 11:30] #6747 closed, assigned to nobody

[2017-12-11 11:30] magento-engcom-team commented on #8665
@eworksmedia, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 11:30] #8665 closed, assigned to nobody

[2017-12-11 11:30] magento-engcom-team commented on #6703
@user340581, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 11:30] #6703 closed, assigned to nobody

[2017-12-11 11:30] magento-engcom-team commented on #12389
@xzees, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 11:30] #12389 closed, assigned to nobody

[2017-12-11 11:42] magento-engcom-team commented on #12449
@sandipdutt Seems like the problem with this specific externalcall.js file and not Magento.

[2017-12-11 11:42] #12449 closed, assigned to nobody

[2017-12-11 11:55] magento-engcom-team commented on #12543
@wd7080 , thanks for you update.
For disable module see devdocs:
http://devdocs.magento.com/guides/v2.2/install-gde/install/cli/install-cli-subcommands-enable.html

[2017-12-11 12:01] magento-engcom-team commented on #12543
@wd7080, thank you for your report.
We've created internal ticket(s) MAGETWO-85295 to track progress on the issue.

[2017-12-11 12:05] PierAlex commented on #9737
@Jilco, no sorry.

[2017-12-11 12:12] paveq commented on #10650
@s-hoffman I think what Magento does in $schedule->tryLockJob() is locking **individual** scheduled execution run of a job, so that that job is not triggered again. What it does not prevent is running the same job code (but different scheduled execution run) at the same time, and it was never intended to do so.

[2017-12-11 12:16] EvaldasDau commented on #11178
Magento 2.2.1 here. Still doesn't work like described in your original post...

[2017-12-11 12:30] magento-engcom-team commented on #8647
@kanduvisla, thank you for your report.
We've created internal ticket(s) MAGETWO-85299 to track progress on the issue.

[2017-12-11 12:36] mahmood537 opened #12625 "when saving a page in magento 2.2.1, 'Modified' date field is not getting updated"
### Preconditions

1. Magento version 2.2.1
2.

### Steps to reproduce

1. Login to magento admin
2. Go to Content > Pages
3. In Action column, click select > edit
4. Make changes to that page and click 'Save Page'

### Expected result

1. The 'Modified' value for the edited page should be current timestamp

### Actual result

1. 'Modified' value for the edit page did not change. It's still the sa

[2017-12-11 12:39] avoelkl commented on #12623
Hi @navinbhudiya, thanks for your report.
The verification of your issue description failed. The minimum required information is not provided (Preconditions - for example PHP & MySQL version, etc., Actual Result).
Please update your description according to the issue template: [https://github.com/magento/magento2/issues/new](https://github.com/magento/magento2/issues/new)

You might add some more

[2017-12-11 12:51] zzvara commented on #10954
This is a blocker for us as well.

[2017-12-11 12:51] magento-engcom-team commented on #11754
@versdivers, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 12:51] #11754 closed, assigned to nobody

[2017-12-11 12:55] magento-engcom-team commented on #12508
Hello @qsolutions-pl. Thanks for reporting. To make changes in product You aimed to achieve we have tried the following requests.

SOAP
http://{yourmagentosite}/soap/default?services=catalogProductRepositoryV1
<?xml version="1.0" encoding="UTF-8"?>
<soap:Envelope xmlns:def="http://{yourmagentosite}/soap/default?services=catalogProductRepositoryV1" xmlns:soap="http://www.w3.org/2003/05/soap-envelop

[2017-12-11 13:02] qsolutions-pl commented on #12508
The problem occurs only when changing product status.

[2017-12-11 13:03] okorshenko commented on #12371
Hi @quisse
Please let me know why you can not add plugin to `getHandlers` method?
@woutersamaey `init` method is the antipattern . We are trying to cleanup our code from such cases
Dispatching events in the class constructor is prohibited in Magento 2, so we can not revert this event.

I'm closing this ticket as non-issue.

[2017-12-11 13:05] magento-engcom-team commented on #7408
@Ctucker9233, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 13:05] #7408 closed, assigned to nobody

[2017-12-11 13:06] magento-engcom-team commented on #10163
@mhoerhold, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 13:06] #10163 closed, assigned to nobody

[2017-12-11 13:07] magento-engcom-team commented on #8974
@craigcarnell, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 13:07] #8974 closed, assigned to nobody

[2017-12-11 13:08] magento-engcom-team commented on #12409
@DigitalGossip, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 13:08] #12409 closed, assigned to nobody

[2017-12-11 13:13] pvj commented on #10954
I'm not at home currently but I can show you my hack that I've employed
until this is fixed.

On 11 Dec 2017 13:51, "Zoltán Zvara" <notifications@github.com> wrote:

[2017-12-11 13:17] magento-engcom-team commented on #12422
@weynhamz, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 13:17] #12422 closed, assigned to nobody

[2017-12-11 13:18] quisse commented on #12371
Hi @okorshenko,

I *can* add a plugin to the `getHandlers` method. But when adding a handler in the plugin for the `getHandlers` method, my handler is added *everytime* the getHandlers method is called. As a quick fix I check if it doesn't exist yet in the array of handlers, but a better fix would be placing the event back, in the `__construct` method or some other method which gets called only on

[2017-12-11 13:18] logicallimit commented on #12413
I am also facing this problem. I am using magento 2.2.1. When I run magento in my local machine on wamp server, admin session seems to maintain timeout configured in Admin Session Lifetime (seconds) field in Magento Admin Configuration. But session gets expired on hosting server very quickly may be in 15 - 20 minutes. I have set it as shown in attached image.
![session-timeout-setting](https://use

[2017-12-11 13:18] magento-engcom-team commented on #11525
@stemcellscarr, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 13:18] #11525 closed, assigned to nobody

[2017-12-11 13:19] magento-engcom-team commented on #12445
@testmagento2, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 13:19] #12445 closed, assigned to nobody

[2017-12-11 13:21] magento-engcom-team commented on #12508
Please specify which status do You mean Stock Status (In Stock - Out of Stock) or Enabled Product (Yes-No)?

[2017-12-11 13:22] woutersamaey commented on #12371
@okobchenko , we need a method that can be used to "collect" all handlers. The method "getHandlers" is a simple getter and should not be used to keep loading handlers on every call.

The init() method may be an anti-pattern, but using a getter to collect stuff is most certainly not a good practise either.

[2017-12-11 13:25] vishveskrish commented on #9307
@RakeshJesadiya , Yes I got the resolution

[2017-12-11 13:30] zzvara commented on #10954
That would be great, thanks! :-)
On 2017-12-11 14:14:24, pvj <notifications@github.com> wrote:
I'm not at home currently but I can show you my hack that I've employed
until this is fixed.

On 11 Dec 2017 13:51, "Zoltán Zvara" <notifications@github.com> wrote:

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub [https://github.com/magento/magento2/issues

[2017-12-11 13:30] magento-engcom-team commented on #12625
@mahmood537, thank you for your report.
We've created internal ticket(s) MAGETWO-85309 to track progress on the issue.

[2017-12-11 13:30] magento-engcom-team commented on #12551
@Jilco, thank you for your report.
We've created internal ticket(s) MAGETWO-85308 to track progress on the issue.

[2017-12-11 13:30] magento-engcom-team commented on #12447
@Chris-2017, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 13:30] #12447 closed, assigned to nobody

[2017-12-11 13:35] magento-engcom-team commented on #12465
@mindsoul, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 13:35] #12465 closed, assigned to nobody

[2017-12-11 13:40] magento-engcom-team commented on #12457
@BTeodorWork, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-11 13:40] #12457 closed, assigned to nobody

[2017-12-11 13:42] oviliz commented on #12526
I believe it should simply say, "You will be charged for" rather than "Your credit card will be charged for", so it can apply for all kind of payment methods. That's all.

[2017-12-11 13:57] Jilco commented on #12551
@magento-engcom-team i switched on PhP-FPM and the problem was gone for some reason. So the problem is PhP (FPM) related i think

[2017-12-11 14:06] quisse opened #12627 "Referer is not added to login url in checkout config"
When disabling the `Redirect Customer to Account Dashboard after Logging in` setting, the login url should include an referer. This works but not in the `window.checkout` object.
### Preconditions

1. Magento 2.1.10
2. PHP 7.0.25

### Steps to reproduce

1. Enable `Redirect Customer to Account Dashboard after Logging in` in the Magento backend.
2. Retrieve the login url from the `window.checkout`

[2017-12-11 14:16] kovalevandrew commented on #7038
Same issue with 2.2.1 upgrade from 2.1.7
In the database order appear, but not in the grid

[2017-12-11 14:17] hubertus2017 commented on #8017
Hello,
same problem: Backup file does not exist for "db"

 but the DB file is there! No backup files are deleted!

Success for media and code backup files...

[2017-12-11 14:24] ishakhsuvarov commented on #12603
Hi @Alanaktion
Unfortunately any of the Magento released versions or develop branches do not support and are not compatible with PHP 7.2 at the moment.
We are closing this issue for now as it is going to be addressed when implementing compatibility with 7.2.
Thank you for collaboration.

[2017-12-11 14:24] #12603 closed, assigned to orlangur

[2017-12-11 14:30] magento-engcom-team commented on #12620
@Zu-Hause-Plattform, thank you for your report.
The issue is already fixed in 2.2.1

[2017-12-11 14:30] #12620 closed, assigned to nobody

[2017-12-11 14:40] arlycreative commented on #7627
Is this issue solved yet?

[2017-12-11 14:41] tlygnersjo commented on #7627
Is this issue solved yet?

[2017-12-11 15:25] magento-engcom-team commented on #12342
Thank you for report. Development is in progress. See related PRs

[2017-12-11 15:25] #12342 closed, assigned to nobody

[2017-12-11 15:26] magento-engcom-team commented on #9240
Closing the issue. See PR details here: https://github.com/magento/magento2/pull/9347

[2017-12-11 15:26] #9240 closed, assigned to ldusan84

[2017-12-11 15:33] #8045 closed, assigned to nobody

[2017-12-11 15:45] osrecio commented on #12625
Working on it!
The same thing happens for static blocks. I will fix for both

[2017-12-11 15:49] miguelbalparda opened #12632 "Magento Connect no longer exist"
### Preconditions

1. All 2.x versions affected

### Steps to reproduce

1. Login to the admin
2. Go to Find partners & extensions
3. Link and image points to Magento Connect

### Expected result

1. Link and image points to Magento Marketplace

### Actual result

1. Link is 301
michael@michael-MAX-G0101:~/magento2$ curl -I http://www.magentocommerce.com/magento-connect/
HTTP/1.1 301 Moved Permane

[2017-12-11 15:55] maggiefor commented on #2589
thank you, @alankentx !! You solved my problem!!

[2017-12-11 15:55] maggiefor commented on #2589
thank you, @alankent !! You solved my problem!!

[2017-12-11 16:16] barryvdh commented on #8426
I'm also having this issue with 2.2.1 after importing tier pricing. I can no longer save the product: "Warning: Illegal string offset 'price_qty' in vendor/magento/module-catalog/Model/Product/Attribute/Backend/Tierprice.php on line 79"

[2017-12-11 16:21] magento-engcom-team opened #12634 "Test Issue"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-12-11 16:26] magento-engcom-team commented on #12634
Hi @%s. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: %s/%s#%s

[2017-12-11 16:26] magento-engcom-team commented on #12634
Hi @magento-engcom-team. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: magento-engcom/community-features#5

[2017-12-11 16:30] magento-engcom-team commented on #12634
Hi @magento-engcom-team. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: magento-engcom/community-features#6

[2017-12-11 16:32] magento-engcom-team commented on #12634
Hi @magento-engcom-team. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/7

[2017-12-11 16:33] magento-engcom-team commented on #12634
Hi @magento-engcom-team. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/8

[2017-12-11 16:33] #12634 closed, assigned to nobody

[2017-12-11 16:35] magento-engcom-team commented on #9582
Hi @antonkril. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/9

[2017-12-11 16:35] #9582 closed, assigned to nobody

[2017-12-11 16:37] magento-engcom-team opened #33194 "Swagger UI is out of date (version 3 is latest)"
### Preconditions
1. Magento 2.x

### Steps to reproduce
1. Open /swagger route using browser

### Expected result
1. Swagger UI is using version 3

### Actual result
1. Swagger UI is using version 2

##  

Is there any plans to upgrade swagger UI, or anything blocking this currently? See comment here: <https://github.com/magento/magento2/pull/7446#issuecomment-350105915>

**Original Report**: <ht

[2017-12-11 16:37] magento-engcom-team commented on #12595
Hi @careys7. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/10

[2017-12-11 16:37] #12595 closed, assigned to nobody

[2017-12-11 16:38] magento-engcom-team commented on #12473
Hi @rain2o. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/11

[2017-12-11 16:38] #12473 closed, assigned to nobody

[2017-12-11 16:39] luizpaulofranz commented on #10485
Hi, I noticed another problem, when the locale is setted to any language where date format is "d/M/yy", all the calendar widgets get this configuration, and the this error occurs, but in filter forms, the date fields still in the "M/d/yy" format. Which is not compatible with the locale configurations.

[2017-12-11 16:41] magento-engcom-team commented on #12458
Hi @nbennett25. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/12

[2017-12-11 16:41] #12458 closed, assigned to nobody

[2017-12-11 16:42] magento-engcom-team commented on #12456
Hi @nbennett25. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/13

[2017-12-11 16:42] #12456 closed, assigned to nobody

[2017-12-11 16:42] magento-engcom-team commented on #12438
Hi @tomekjordan. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/14

[2017-12-11 16:42] #12438 closed, assigned to nobody

[2017-12-11 16:45] magento-engcom-team commented on #12404
Hi @hostep. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/15

[2017-12-11 16:45] #12404 closed, assigned to nobody

[2017-12-11 16:45] magento-engcom-team commented on #11964
Hi @kirmorozov. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/16

[2017-12-11 16:45] #11964 closed, assigned to nobody

[2017-12-11 16:45] magento-engcom-team commented on #11547
Hi @brian-labelle. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/17

[2017-12-11 16:45] #11547 closed, assigned to nobody

[2017-12-11 16:45] magento-engcom-team commented on #11416
Hi @dmanners. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/18

[2017-12-11 16:45] #11416 closed, assigned to nobody

[2017-12-11 16:45] magento-engcom-team commented on #11318
Hi @tdgroot. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/19

[2017-12-11 16:45] #11318 closed, assigned to orlangur

[2017-12-11 16:47] magento-engcom-team commented on #11130
Hi @choukalos. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/20

[2017-12-11 16:47] #11130 closed, assigned to nobody

[2017-12-11 16:47] magento-engcom-team commented on #11104
Hi @choukalos. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/21

[2017-12-11 16:47] #11104 closed, assigned to nobody

[2017-12-11 16:47] magento-engcom-team commented on #10954
Hi @pvj. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/22

[2017-12-11 16:47] magento-engcom-team commented on #10863
Hi @vkublytskyi. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/23

[2017-12-11 16:47] #10863 closed, assigned to nobody

[2017-12-11 16:48] magento-engcom-team commented on #10556
Hi @johnny-longneck. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/24

[2017-12-11 16:48] #10556 closed, assigned to nobody

[2017-12-11 16:48] magento-engcom-team commented on #9516
Hi @astorm. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/25

[2017-12-11 16:48] #9516 closed, assigned to nobody

[2017-12-11 16:49] okorshenko commented on #9556
If you would like submit a feature request, please, create it here: https://github.com/magento-engcom/community-features/issues/

[2017-12-11 16:49] #9556 closed, assigned to nobody

[2017-12-11 16:50] magento-engcom-team commented on #9201
Hi @vrann. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/26

[2017-12-11 16:50] #9201 closed, assigned to nobody

[2017-12-11 16:51] magento-engcom-team commented on #9053
Hi @calvintwr. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/27

[2017-12-11 16:51] #9053 closed, assigned to nobody

[2017-12-11 16:51] magento-engcom-team commented on #8986
Hi @thdoan. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/28

[2017-12-11 16:51] #8986 closed, assigned to nobody

[2017-12-11 16:51] magento-engcom-team commented on #8837
Hi @mombrea. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/29

[2017-12-11 16:51] magento-engcom-team commented on #8675
Hi @danbuchal. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/30

[2017-12-11 16:51] #8675 closed, assigned to renatocason

[2017-12-11 16:51] zzvara commented on #10954
@magento-engcom-team Is this a feature request not a bug?

[2017-12-11 16:52] magento-engcom-team commented on #8501
Hi @umang-ranium. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/31

[2017-12-11 16:52] #8501 closed, assigned to nobody

[2017-12-11 16:52] magento-engcom-team commented on #8471
Hi @valugi. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/32

[2017-12-11 16:52] #8471 closed, assigned to nobody

[2017-12-11 16:52] magento-engcom-team commented on #6577
Hi @tommypyatt. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/33

[2017-12-11 16:52] #6577 closed, assigned to nobody

[2017-12-11 16:53] magento-engcom-team commented on #1839
Hi @markoshust. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/34

[2017-12-11 16:53] #1839 closed

[2017-12-11 16:53] magento-engcom-team commented on #1838
Hi @markoshust. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/35

[2017-12-11 16:53] #1838 closed

[2017-12-11 16:53] sakjha10 opened #12635 "Magento2 community is too slow with 56 thousand products"
### Preconditions

1. Using Magento 2.2 version, Ngnix server, RDS database
2. PHP 7.1, latest mysql

### Steps to reproduce

1. Slow and 502 issue if the products are more than 55 thousand
2. After disabling all the products and reindexing the store, the website starts working fine.

### Expected result

1. Expect website will work smoothly

[2017-12-11 17:11] msawyers commented on #12570
Hi, ok thanks will try.

[2017-12-11 17:18] msawyers commented on #12570
Hi i added to index.php and issue still remains

![index](https://user-images.githubusercontent.com/8907629/33844148-67cf9b70-de6d-11e7-9177-69f3d704dee1.PNG)

[2017-12-11 17:23] shavounet opened #12638 "Cannot fetch default Theme"
This is mostly a technical issue. While using `Magento\Framework\View\Config::getViewConfig` without theme parameter, it doesn't match properly the default theme.

* it tries to fetch Theme data here
https://github.com/magento/magento2/blob/9c14af7a97bcf338662de365d2613c7ca9dbf8c6/lib/internal/Magento/Framework/View/Config.php#L59
* then this method uses `Magento\Theme\Model\View\Design::getConfig

[2017-12-11 17:30] shavounet commented on #12638
To test this easily, call `\Magento\Framework\View\Config::getViewConfig` anywhere in your code, and inspect the result. It should contain all image configuration defined in the theme's `view.xml`

My test case:
[code]

Note that it works fine with
[code]

[2017-12-11 17:31] sakjha10 commented on #12635
How many products Magento community supports?

[2017-12-11 18:31] NickvdMeij commented on #12112
Had the same issue with a **CLEAN** installation of magento 2.1.2 which i upgraded to 2.2.1 using the official upgrade guide. @theodorhanu his workaround works like a charm.

[2017-12-11 19:18] okorshenko commented on #12268
Hi @roma84
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-11 19:19] #8437 closed, assigned to RomaKis

[2017-12-11 19:19] okorshenko commented on #12613
Hi @msarm
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-11 19:19] #12613 closed, assigned to nmalevanec

[2017-12-11 19:20] okorshenko commented on #8176
Hi @kanduvisla
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-11 19:20] #8176 closed, assigned to nmalevanec

[2017-12-11 19:21] okorshenko commented on #12482
Hi @AleksLi
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-11 19:21] #12482 closed, assigned to RomaKis

[2017-12-11 19:21] okorshenko commented on #12450
Hi @Cinawork
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-11 19:21] #12450 closed, assigned to osrecio

[2017-12-11 19:21] okorshenko commented on #12180
Hi @tig-dennisvanderhammen
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-11 19:21] #12180 closed, assigned to nobody

[2017-12-11 19:48] Celtex commented on #10189
Is there any fix for this ?

[2017-12-11 19:57] luizpaulofranz commented on #10485
Another problem detected (so many bugs with dates and i18n). In Marketing -> Catalog Rules, with date format = "dd/M/yy", the core of the magento is again changing the month by day, and displays the following error message: "Something went wrong while saving the rule data. Please review the error log.".

The log is:

`[2017-12-11 18:59:18] main.CRITICAL: DateTime::__construct(): Failed to parse ti

[2017-12-11 20:44] benjamin-volle opened #12641 "url_key is empty by product import even if not wanted"
url_redirect value is overrrided by each product import, even if it is not wanted

### Preconditions
1. Tested on Magento 2.2

### Steps to reproduce
1. Add some products to your instance
2. Change url_key for one of them
3. Import a file (append behavior) with only two columns : sku,price (including the previous product)

### Expected result
1. Prce is updated, url_key is not changed

### Actual

[2017-12-11 20:53] synolia-bvo commented on #12599
Hi,

You can add these lines to your di.xml file :
`
    <preference for="Magento\Wishlist\Model\ResourceModel\Item\Collection" type="Project\Fix\Model\Magento\Wishlist\Model\ResourceModel\Item\Collection" />`

Then create a file named app/code/Project/Fix/Model/Magento/Wishlist/Model/ResourceModel/Item/Collection.php

and put this :

`<?php

namespace Project\Fix\Model\Magento\Wishlist\Model\Reso

[2017-12-11 20:57] mbrinton01 commented on #10666
For any partners still experiencing this issue, please submit a support request for resolution. Now that B2B has been released in 2.2.0, this is the correct channel for assistance.

[2017-12-11 21:16] afirlejczyk commented on #11416
Hi @magento-engcom-team
I could work on that.

[2017-12-11 21:20] misha-kotov commented on #12632
Thanks for the PR!

[2017-12-11 21:37] BernardRobbins opened #12642 "Zero Subtotal Checkout New Order Status Always Pending"
Steps to reproduce
Enable Zero Subtotal Checkout.
Change New Order Status to anything that is not pending.
Create $0 priced product per group.
Setup $0 priced shipping for $0 subtotal.
Checkout with $0 priced product and $0 shipping.

Expected result:
Order will be the same as New Order Status.

Actual result:
New orders will always be pending.

Magento ver. 2.1.10
PHP 7.0.22 & PHP 7.0.25
mysql  5

[2017-12-11 22:04] keharper commented on #9277
@peterjaap I need to know more about these commands so that they can be documented.

* Are they intended to replace the functionality described at http://devdocs.magento.com/guides/v2.2/config-guide/bootstrap/mage-profiler.html ?

* What happens if the profiler is already enabled and you run the `enable` command?

* Can the `enable` command take any arguments other than `html` or `csvfile`?

[2017-12-11 22:13] whereowareadmin commented on #8170
I am using mysql 5.7.20 and magento 2.1.9
https://i.imgur.com/G9S7br9.png

still not working for me

[2017-12-11 22:24] pantaoran commented on #7370
I'm afraid I switched jobs 6 months ago and can no longer comment on this topic as I'm no longer working with Magento.

[2017-12-11 22:30] ishakhsuvarov commented on #12468
Hi @kapildev-symberity
Issue seems to be fixes with PR #998
Closing.

[2017-12-11 22:30] #12468 closed, assigned to RomaKis

[2017-12-11 22:31] ishakhsuvarov commented on #12582
Hu @MazurVlad
We are closing this PR for now since the fix was delivered to 2.2-develop with the next patch release

[2017-12-11 22:32] ishakhsuvarov commented on #7467
Hi @marcel-moldovan-vm
I am moved to the 413 room of the hoter,

[2017-12-11 22:33] ishakhsuvarov commented on #7467
Hi @marcel-moldovan-vm
We are closing this issue for now, as the fix is already is available with 2.2 onwards

[2017-12-11 22:33] #7467 closed, assigned to nobody

[2017-12-11 22:34] okorshenko commented on #8410
Hi @natebatty
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-11 22:34] #8410 closed, assigned to RomaKis

[2017-12-11 22:48] wejobes commented on #10454
I have stumbled across this issue.  It seems to be caused by this class: \Magento\ConfigurableProduct\Plugin\Model\ResourceModel\Attribute\InStockOptionSelectBuilder.

This plugin ignores the stock-config check completely.  I have overridden this plugin to look like this:
`
public function __construct(Status $stockStatusResource, StockConfigurationInterface $stockConfiguration)
    {
        $this

[2017-12-11 22:49] #12582 closed, assigned to p-bystritsky

[2017-12-11 23:24] Gowsalayadevi commented on #12616
@magento-engcom-team . Thanks for your response.. I have actually fixed the issue.

[2017-12-11 23:31] rcdlopez commented on #9466
@JasonScottM - where is the script????

[2017-12-11 23:34] bahramdavodi commented on #6831
@digvijay2017 i hope this module help to you and any body.
[Module Fix Date](https://github.com/Magonex/module-datetime)

[2017-12-12 00:15] gerrybarron commented on #12618
Sorry for the late reply.
1. I didn't change anything on the mode it's still on default mode
2. Nope I didn't do that either its a fresh install of magento 2.1.8
I tried to reinstall the Magento 2.1.8 and install sample data and I have the same result

In the number 1 I didn't do that I have a zip file of Magento 2.1.8.

This is what i did.
1. I unzip the Magento-CE-2.1.8-2017-08-08-04-18-25.zip t

[2017-12-12 00:15] osrecio commented on #12594
The problem is due to: [MassAction/Extended.php](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Backend/Block/Widget/Grid/Massaction/Extended.php#L285).  When try to get: `getColumValues` from [Review\Product\Collection](https://github.com/magento/magento2/blob/2.2-develop/app/code/Magento/Review/Model/ResourceModel/Review/Product/Collection.php#L520) the [collection is load

[2017-12-12 00:15] versdivers opened #12643 "Tax rounding row order"
### Preconditions
1.  magento 2.2.1
2. php 7.0.2

### Steps to reproduce
1.  create 4 products with same price €2.27
2.  add them to an order with 21% tax and 4 qty each
3.  process the order

### Expected result
1.  since `2.27 * 4 * 1.21 = 10.9868` -> all rows should have €10.99 as a result

### Actual result
1. the price is somehow different for one 1 row (see screenshot)
![image](https://user-

[2017-12-12 01:48] tony-sar commented on #5247
I had the same issue when i moved my magento from shared hosting to vps .. i had no access to wizard with 401 error. decided to use composer to upgrade and that failed because my PHP version was not compatible with 2.2.1 so decided to switch PHP to 7.0.24 , after rebooting apache , decided to take a look at wizard one more time , and to my surprise , IT WORKD ..

as per magento doc .. php 7.1 is n

[2017-12-12 02:09] versdivers commented on #11754
I fixed this myself by using bootstrap and giving them an a flex width. This can be closed

[2017-12-12 02:26] astorm commented on #9516
@magento-engcom-team That means Magento won't be changing/fixing this, correct?

[2017-12-12 05:09] YeserYap opened #12644 "save the duplicated url_path not wanted"
###Preconditions

1.Magento2.2.1
2.Ubuntu 16.04.1 LTS
3.Varnish + Nginx + php-fpm + php7.0.13

###Steps to reproduce

1. Our website is running with Magento 2.2.1,We migrated product data from M1.9 ;
2. Our website is Multiple-Store Mode,and created some customer attributes of select;
3. At first change vendor/magento/module-catalog/Model/Product/Copier.php:
public function copy(\Magento\Catalog\M

[2017-12-12 06:46] bahramdavodi commented on #12215
Hi, i hope this help to you now.
[Module Fix Date](https://github.com/Magonex/module-datetime)

[2017-12-12 06:54] breg-13 commented on #12599
@synolia-bvo
Thank you for your reply. Unfortunately preference for Collection class in my case is not a solution. But this is great news that issue is resolved in 2.2

Regards

[2017-12-12 08:09] IIISeRgAnTIII commented on #12459
I have same issue. Ubuntu 16.04.

[2017-12-12 08:19] hieunc09 opened #12645 "Magento 2.1.8 - PHP Parse error on console command deploy"
### Preconditions

1. Magento 2.1.8
2.

### Steps to reproduce

1. After composer install
2. Update config.php and env.php file to connect with database
3. Typing : php bin/magento

### Expected result

1. PHP Parse error:  parse error in ../vendor/magento/magento-cloud-configuration/src/Magento/MagentoCloud/Console/Command/Deploy.php on line 518

### Actual result

1. ![deploy](https://user-image

[2017-12-12 08:27] parag2jcommerce opened #12646 "Images showing 1 below another in slider on homepage, slider effect is not showing"
![2017-12-12_13-54_home page](https://user-images.githubusercontent.com/34369132/33874256-27b50a52-df44-11e7-93b1-f8c3180643a1.jpg)
Images showing 1 below another in my slider. Effects are not working in slider. All setup are fine and code is also arranged properly.
After creating slider when I preview it from backend, then also the images are showing one below another, as showin in below screensh

[2017-12-12 08:29] magento-engcom-team commented on #12642
@BernardRobbins , thank you for your report.
If you changing Automatically Invoice All Items to Yes, status of order is changing.
See attachment
![free_conf_0891280977](https://user-images.githubusercontent.com/31669971/33874399-52fc7302-df27-11e7-9df2-52c948f33404.png)

[2017-12-12 08:29] orlangur commented on #12645
Looks like a mistake in `MagentoCloud` module. Such syntax is only supported in PHP 7.1.

You can either use PHP 7.1 or replace this logic with equivalent `isset($array['key']) ? $array['key'] : []`.

[2017-12-12 08:30] magento-engcom-team commented on #12402
@AzeemYusufali, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-12 08:30] #12402 closed, assigned to nobody

[2017-12-12 08:31] mrkhoa99 commented on #12645
PHP 7 syntax.
http://php.net/manual/en/migration70.new-features.php#migration70.new-features.null-coalesce-op

[2017-12-12 08:33] orlangur commented on #12635
@sakjha10 hundreds of thousands actually: https://github.com/magento/magento2/blob/2.2-develop/setup/performance-toolkit/profiles/ce/extra_large.xml#L14

Try to perform a profiling of your particular instance or fix environment setup.

[2017-12-12 08:35] mrkhoa99 commented on #12645
@orlangur I think it's PHP 7 syntax. Not only PHP 7.1?

[2017-12-12 08:37] Styopchik commented on #12504
reproduced on 2.2.1

[2017-12-12 08:38] okorshenko commented on #12646
Hi @parag2jcommerce  Thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 -

[2017-12-12 08:40] orlangur commented on #12645
@mrkhoa99, oh, you are right, I mixed it up with nullable types https://github.com/magento-engcom/msi/wiki/PHP-7-Syntax-usage-for-Magento-Contribution

Still, Magento 2.1.8 should support PHP 5.6 and looks like this is the case. Unless `composer.json` of `MagentoCloud` module explicitly states it is only for PHP7+.

[2017-12-12 08:43] magento-engcom-team commented on #12622
Hello @VignaS. Thanks for reporting. Does Your magento instance really shows another subtotal after applying the discount code? Please, notice we ask about the very "Subtotal" and not the "Total".

[2017-12-12 08:47] peterjaap commented on #9277
@keharper
1. It does not replace it per se, it is just another way to enable/disable the profiler. Also, this new command does not enable you to enable the dependency graph option.
2. It will just enable it again (/still); https://github.com/magento/magento2/pull/11407/files#diff-30813cda1ee05b4cd04f143198b6d5e1R90
3. No. It will give a warning in that case; https://github.com/magento/magento2/pul

[2017-12-12 08:53] magento-engcom-team commented on #12463
@aasim110, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-12 08:53] #12463 closed, assigned to nobody

[2017-12-12 08:53] parag2jcommerce commented on #12646
Preconditions: Magento ver. 2.1.9

Steps to reproduce:
1. Unzip bannerslider
2. php bin/magento setup:upgrade
3. chmod -R 777 pub var/

 Expected result:
To show the effects with images on pages, slider should work with its animation.

Actual result:
Backend screenshot-
![2017-12-12_14-04_preview slider template](https://user-images.githubusercontent.com/34369132/33875299-da10c706-df47-11e7-9bf8-c

[2017-12-12 08:59] andrewhowdencom commented on #11002
Implementing the stub scheduled cleanup of this table has dropped the execution timeout low enough that jobs are no longer timing out within a 15 minute period.

Read: this is me

[code]

[2017-12-12 09:00] #12459 closed, assigned to nobody

[2017-12-12 09:02] magento-engcom-team commented on #9191
@malikt, we are closing this issue due to inactivity. If you'd like to update it, please reopen the issue.

[2017-12-12 09:02] #9191 closed, assigned to nobody

[2017-12-12 09:02] ishakhsuvarov commented on #12646
@parag2jcommerce Could you please give more information regarding this step?

What is `bannerslider`?

[2017-12-12 09:05] magento-engcom-team commented on #12316
@thebeachtoday, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-12-12 09:05] #12316 closed, assigned to nobody

[2017-12-12 09:08] okorshenko commented on #12172
HI @versdivers
We are closing this issue as feature request. Fill free submit your feature request here https://github.com/magento-engcom/community-features/issues/

[2017-12-12 09:08] #12172 closed, assigned to nobody

[2017-12-12 09:10] tig-dennisvanderhammen commented on #12180
Thank you for your time!

[2017-12-12 09:20] korostii commented on #9556
Wow, that's new. Does that mean the feature requests posted to [Community Forums](https://community.magento.com/t5/Magento-2-Feature-Requests-and/idb-p/feature-requests) will be disregarded from now on (unless they have corresponding issues at engcom repo) or will you process those separately somehow?

If https://github.com/magento-engcom/community-features/issues/ is officially the new "go-to pla

[2017-12-12 09:23] magento-engcom-team commented on #4400
@yagupatel, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.
We tested the issue on 2.3.0-dev, 2.2.0, 2.1.9

[2017-12-12 09:23] #4400 closed, assigned to nobody

[2017-12-12 09:24] #6351 closed, assigned to nobody

[2017-12-12 09:26] magento-engcom-team commented on #4727
@JaggedJax, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-12-12 09:26] #4727 closed, assigned to nobody

[2017-12-12 09:27] #9177 closed, assigned to nobody

[2017-12-12 09:28] magento-engcom-team commented on #12632
@miguelbalparda, thank you for your report.
We've created internal ticket(s) MAGETWO-85533 to track progress on the issue.

[2017-12-12 09:29] korostii commented on #8837
Hi @magento-engcom-team, could you please kindly explain why is this treated as a feature request?

I mean, the feature is already in there but it behavior seems imperfect (and even different from Magneto1, for that matter). It probably should be treated as bug, it might be potentially deemed a low-priority "improvement" if you'd say the current behavior is "good enough" and explain why it's done

[2017-12-12 09:32] VignaS commented on #12622
Thanks for your response,

No Subtotal remains same only the total is changing after applying discount
 For Example
 Subtotal   $15
 Shipping . $5.99
 total.     $20.99

On applying discount (TEST) > reduce's $9.99
  Subtotal   $15
  Discount  -$9.99
  Shipping   $5.99
  total.     $11

  Please refer the screen shot. We need the shipping amount as $6($15-$9.99 = $5.01)
![screen shot 2017-12-12 at

[2017-12-12 09:33] korostii commented on #9516
@astorm, well, their readme seems to confirm your guess:

[2017-12-12 09:36] pixmin commented on #12581
Thanks for the information, I will check, would that be in the 2-2-develop branch? Or must I try the 2-3-develop branch?

Thanks again for your help!

[2017-12-12 09:40] MazurVlad commented on #12582
Hi @ishakhsuvarov,

Thanks!

[2017-12-12 09:48] magento-engcom-team commented on #10485
@luismiguelyangehuaman , if you have another issue create new report, thank.

[2017-12-12 09:53] JanisE commented on #12260
For me, it was the form key thing (ird2bcet4cse's first point). The registration template was being overridden, so the form key did not magically appear in it.

[2017-12-12 10:02] magento-engcom-team commented on #12622
@VignaS, please notice that Table Rate shipping method according to the official magento documentation is applied to Subtotal and not to the Total. If You still need another behavior You may try to achieve it f. e. via Catalog Price Rule, or Tier Pricing with Customer Groups.

[2017-12-12 10:03] magento-engcom-team commented on #12622
@VignaS, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-12-12 10:11] ghost opened #12647 "Image Swatch size change not working"
### Preconditions

1. Magento Commerce 2.1.8
2. Have an active frontend theme whose first letter comes alphabetically before "Magento/blank" e.g. "Acme/default"
3. Have an "Visual swatch" attribute with at least one option
4. Have a configurable product that offers this "Visual swatch" as an option with one simple product using it.

### Steps to reproduce

1. In "app/design/frontend/YOUR THEME/etc

[2017-12-12 10:12] ebaschiera commented on #10499
A quick reminder: the solution at https://github.com/magento/magento2/issues/10499#issuecomment-326976322 works for me on all the magento installations I tried it.
I am using it as a patch with https://github.com/cweagans/composer-patches

[2017-12-12 10:14] parag2jcommerce commented on #12646
After extracting zip folder of bannerslider, i run upgrade command,
then all the setting came into dashboard and I setup Banner and sliders too.
Also I call that on Home by passing its ID ,
It is displaying on home page but not proper, You are able to see screenshot how it looks like...

[2017-12-12 10:21] lingwooc commented on #12551
Does this affect any other parts of magento?

[2017-12-12 10:40] ishakhsuvarov commented on #12646
@parag2jcommerce We can not provide support for any third-party extensions or customizations.
Please contact extension vendor in order to get support.

[2017-12-12 10:40] #12646 closed, assigned to nobody

[2017-12-12 10:41] sasilinux commented on #12260
Yes. It is a form key thing. In Magento 2.2.0 and above, they are validating form key. After solving the form key issue it is working fine.

[2017-12-12 11:02] fwolfst commented on #11832
Gosh we have this too. The workaround (delete wishlist of customer) is expensive. Thanks @RomaKis  for the PR, we will look into patching our installation. @okorshenko Do you know about plans to transparentize the release schedules? Or specifically for 2.2.2 ?

[2017-12-12 11:11] bluethink164 opened #12648 "swatch product price not changing in configurable product"
Magento 2.1.6 Problem
I have created a configurable product with swatch attribute but in Product page the price of product not changing.
![screenshot from 2017-12-12 16-38-00](https://user-images.githubusercontent.com/29700825/33881475-e2fc2028-df5a-11e7-83dd-0f084763f680.png)

when i have created another product with another attribute of a dropdown type it is changing the price but showing Error

[2017-12-12 11:17] orlangur commented on #9516
@astorm @korostii does MSI project mean Magento is not implementing Multi-Store Inventory? :)

[2017-12-12 11:31] BigTonni commented on #7441
Any updates regarding this issue?

[2017-12-12 11:33] sadon commented on #12316
Same issue with M2 EE 2.1.8
can be resolved by adding column _attribute_set_code_ for each product

[2017-12-12 11:36] ishakhsuvarov commented on #12526
@oviliz Fix for this issue has been delivered into `2.2-develop` and will be released in the next functional patch release.
Thank you for collaboration.

[2017-12-12 11:36] #12526 closed, assigned to RomaKis

[2017-12-12 11:37] ishakhsuvarov commented on #8011
@gputignano We are closing this report now, as issue has been fixed in the `2.2-develop` branch now. This fix will be released with the next functional patch release for the 2.2 release line.
Thank you.

[2017-12-12 11:37] #8011 closed, assigned to nmalevanec

[2017-12-12 11:40] ishakhsuvarov commented on #12535
Hi @luckyraul
We are closing this issue now as fix has already been delivered to the `2.2-develop` branch and will be released with the next functional patch for 2.2.
Thanks

[2017-12-12 11:40] #12535 closed, assigned to nmalevanec

[2017-12-12 11:41] ishakhsuvarov commented on #8862
@albertixcom We are closing this issue report now, as the fix is already implemented in the `2.2-develop` branch and will be released with the next functional patch for 2.2.x

[2017-12-12 11:41] #8862 closed, assigned to RomaKis

[2017-12-12 11:45] avoelkl commented on #11885
@roman204 do you want to provide a Pull Request to fix the issue in the core as well?! :)

[2017-12-12 12:00] roman204 commented on #11885
hy @avoelkl, there is currently a [pull request](https://github.com/magento/magento2/pull/12401) from someone, my solution is only for those who can't wait until a new version of magento is released.

[2017-12-12 12:15] magento-engcom-team commented on #12643
Hello @versdivers. Thanks for reporting. You must have been used the default setting for Tax Calculation Method Based On that is Total (Stores->Configuration->Sales->Tax->Calculation Settings). And this calculating option works correctly, because 16 (4*4) units each with the price of 2.27 compound an amount of 36.32 which then according to option's name (Total) is added with 21% and finally become

[2017-12-12 12:20] pixmin commented on #12581
Update: Using Magento 2.3.0-dev solves this issue but creates a new one:
1. The values using the Encrypted backend model are **NOT** loaded from the configuration file (fields are empty)
2. Once entered by hand, they are correctly saved (not re-encrypted)

Config from etc/adminhtml/system.xml:
<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>

[2017-12-12 12:23] magento-engcom-team commented on #12627
@quisse, thank you for your report.
We've created internal ticket(s) MAGETWO-85542 to track progress on the issue.

[2017-12-12 12:25] magento-engcom-team commented on #12356
@cytracon The issue is already fixed: [#11926](https://github.com/magento/magento2/pull/11926).

[2017-12-12 12:25] #12356 closed, assigned to nobody

[2017-12-12 12:28] okorshenko commented on #11832
Hi @fwolfst most likely the fix will be a part of 2.2.2 release

[2017-12-12 12:29] fwolfst commented on #11832
@okorshenko Thanks for the reply! Any guess whether 2.2.2 will be there before christmas?

[2017-12-12 12:40] magento-engcom-team commented on #12645
thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source only. There

[2017-12-12 12:40] #12645 closed, assigned to nobody

[2017-12-12 12:42] korostii commented on #9516
Hi @orlangur,

Can tell if it's a honest question or you're just trolling.
Please keep in mind that according to the [Code of Conduct](https://github.com/magento/magento2/wiki/Magento-Code-of-Conduct), trolling is considered "unacceptable behavior" and thus I would suggest you to be "focusing on what is best for the community" instead.
I suspect that you already know that, but, in any case, MSI se

[2017-12-12 12:46] okorshenko commented on #10123
Hi @daniel-ifrim
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-12 12:46] #10123 closed, assigned to nmalevanec

[2017-12-12 12:52] okorshenko commented on #8507
Hi @andkirby
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-12 12:52] #8507 closed, assigned to RomaKis

[2017-12-12 12:53] okorshenko commented on #9055
Hi @reztierk
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-12 12:53] #9055 closed, assigned to tdgroot

[2017-12-12 12:59] korostii commented on #12214
Hi @orlangur,

It seems to me that there's some issue in there, after all. If that's the case, could you please update the issue status\labels in order to reflect that? Thanks in advance.

[2017-12-12 13:06] orlangur commented on #12214
@korostii oh, sorry, I mentioned in some other ticket but not this.

I've contacted commit author and we found out that `3.1.x` is PHP 7.1 compatible in fact, just contains less features.

[2017-12-12 13:24] aivoris commented on #9696
This still happens on Magento 2.1.9

We have 2 store views: en_CA and fr_CA

fr_CA displays it normally: '1.99 CA$'
en_CA displays it as: '$1.99'

Default currency code on admin panel displays(Currency symbols): 'CA$'

But if i change it to 'CA$ ' (adding an empty space after) it is displayd properly on frontend: 'CA$ 1.99'
But if 'Use standard' checkbox is checked it returns back to '$' symbol.

[2017-12-12 13:24] tonybrown85 commented on #12330
@magento-engcom-team Is anybody going to get back to us re. this please? We cannot launch our clients website without this working so this is causing us a huge amount of problems! Any workaround at this point would be massively appreciated just to get the bundle products appearing. Thanks, Tony

[2017-12-12 13:28] BernardRobbins commented on #12642
Thank you. That will work for us. It's not intuitive that auto invoicing is required.

[2017-12-12 13:28] #12642 closed, assigned to nobody

[2017-12-12 13:32] korostii commented on #12214
Glad to hear.
So, in the end, it's a valid issue which is already fixed in 42b10d5 on branch `2.2-develop` - but not yet released, correct?

[2017-12-12 13:38] kensium commented on #2732
I am able to fix that issue by executing following steps.
Step 1: php bin/magento setup:upgrade
Step 2: php bin/magento indexer:reindex
Step 3: php bin/magento setup:di:compile
Step 4: php bin/magento setup:static-content:deploy

[2017-12-12 13:38] magento-engcom-team commented on #12641
@synolia-bvo, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-12-12 13:43] magento-engcom-team commented on #12643
@versdivers, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-12-12 13:48] synolia-bvo commented on #12641
Well, I'm a little bit suprised by your answer.

I don't understand why any product import replaces the "url_key" of the imported prodycts by an empty value.

To fix this, I replaced the line :

`if (!$attrParams['is_static'] && empty($rowData[$attrCode])) {`
by
`if (!$attrParams['is_static'] && (!isset($rowData[$attrCode]) || $rowData[$attrCode] === '')) {`

in the \Magento\CatalogImportExport\Mo

[2017-12-12 13:49] magento-engcom-team commented on #12593
@joebordo, thank you for your report.
We've created internal ticket(s) MAGETWO-85544 to track progress on the issue.

[2017-12-12 13:58] poongud commented on #11943
Hello,

I have facing same problem in CE 2.2.

[2017-12-12 14:14] magento-engcom-team commented on #12641
@synolia-bvo, We are sorry for that reply - it concerned another reporter's issue. We posted it here accidentally. Now we've been trying to reproduce Your's one and we'll be back with the answer as soon as possible.

[2017-12-12 14:27] pixmin commented on #12581
Just to confirm, removing the Encrypted Backend model from the field's configuration in `etc/adminhtml/system.xml` allows the value to be shown correctly in the back office, but it's (obviously) not encrypted anymore when saved in the database.

How is this fixed in 2.3.x?

[2017-12-12 14:30] magento-engcom-team commented on #12642
@BernardRobbins, thank you for your report.
This seems to be correct Magento behavior. Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this.
Otherwise you may submit Pull Request with the suggested changes.

[2017-12-12 15:09] DaniloEmpire commented on #12491
I had the same problem.
Flush your cache should be fix your problem, in my case:

redis-cli flushall

I hope it works for you.

[2017-12-12 15:13] magento-engcom-team commented on #12618
Thank You @gerrybarron. Please specify what browser do You use.

[2017-12-12 15:19] osrecio commented on #12446
@wd7080 I added a PR to exclude default pages inside `Store->Configuration->General->Web` to be excluded.

[2017-12-12 15:21] PhilippLak commented on #3902
Hi,
I got the same problem with the shipping costs. I have tried it with one product to change the weight and it works perfectly, thanks for that.

No I need to change the weight option of all my 2.000 products.

Is there any way to do it fast, like an multiple editor?

Would appreciate your help.

Thanks in advance.

[2017-12-12 15:41] dbrekelmans commented on #2540
@magento-engcom-team I am still experiencing this is **2.2.1**.
Solution by @EridianBrian still works.

[2017-12-12 15:54] #12643 closed, assigned to nobody

[2017-12-12 15:57] avoelkl commented on #11885
Sorry, seems I missed that 😅  @roman204

[2017-12-12 16:04] #12622 closed, assigned to nobody

[2017-12-12 16:22] innocinema opened #12651 "Magento 2 - “All Customers” admin page loads blank with no data or page structure"
I am able to do a clean Magento 1.7.0.2 to 2.2 data migration install with no 3rd party modules. I have verified customer data seems to have migrated successfully, including in the customer_grid_flat table.

When I log into the Magento 2 admin and click on the "All Customers" page, it loads as a completely blank / empty page with no data or structure at all. I have verified the `<body></body>` tag

[2017-12-12 16:33] magento-engcom-team commented on #12648
@bluethink164 Thanks for your report. Please let us know if you can verify this issue on the clean instance of Magento, with default themes.

[2017-12-12 16:40] malikt commented on #9191
sure you can close the ticket, the issue is still there but I had to leave that setup and move with a latest fresh install.

[2017-12-12 16:43] cbend opened #12653 "Braintree/PayPal Exceptions"
Payment gateways like Braintree and PayPal should be throwing exceptions that are instances of \Magento\Framework\Exception\PaymentException, but they are not.

### Preconditions
1. Affects all versions of Magento 2

### Expected result
1. Braintree/PayPal will throw PaymentException (or exceptions extending PaymentException) for error handling purposes.

### Actual result
1. Braintree and PayPal

[2017-12-12 16:51] magento-engcom-team commented on #12651
Hi @innocinema
Please use the data-migration-tool repository for migration-related issues: https://github.com/magento/data-migration-tool
Thank you

[2017-12-12 16:51] #12651 closed, assigned to nobody

[2017-12-12 19:11] william-hiko opened #12654 "SandBox Authorized .net"
### Preconditions

1. Magento 2.1.9 CE
2. PHP 7.0
3. MySQL 5.6

### Steps to reproduce

1. I folowed this article to link magento2 with sandbox.authorized.net (https://www.codealist.net/magento-2-x-configure-authorize-net/)
2. everything looks good and i could place order and i could also see it on the sandbox account but when i successfully placed the order.i went to var/log and i see error in th

[2017-12-12 19:39] paul-at-straker commented on #12594
As far as know `getGridIdsJson()` in the version of 2.1.x uses [getAllIds](https://github.com/magento/magento2/blob/2.1-develop/app/code/Magento/Backend/Block/Widget/Grid/Massaction/Extended.php#L275) instead of `getColumValues()`. I have tried to replace the entire `getGridIdsJson()` with the code copied from version `2.1.x`, it works. Although I haven't looked at it deeply, it might be helpful.

[2017-12-12 19:51] osrecio commented on #12594
Yes, This changes was made to allow get Id's not only for primary key: https://github.com/magento/magento2/issues/9610.

[2017-12-12 20:51] fwolfst opened #12655 "Checkout/Cart visit results in error (500) after update 2.2.1 -> 2.2.2"
### Preconditions
1. Using magento 2.2.2 (updated from 2.2.1), none of the new features.
2. php, mysql and other libraries current from vanilla ubuntu 16.04

### Steps to reproduce
1. Populate cart, visist https://shop/checkout/cart

### Expected result
1. Get served a cart page as in magento 2.2.1

### Actual result
1. Magento answers with a snippet of shipping stuff (in our case translated "Vers

[2017-12-12 20:53] AndrewPenry opened #12656 "Checkout: Whitespace in front of coupon code causes "Coupon code is not valid""
### Preconditions

1. Magento 2.1.10 with Sample Data
2. PHP Version 7.0.22

### Steps to reproduce

1. Open checkout page and complete up to Payment step
2. Fill in a coupon code with leading whitespace, like " H20"
3. Click "Apply Discount"

### Expected result

1. The Discount should be applied

### Actual result

1. "Coupon code is not valid"
2. In the logs: PUT /rest/default/V1/guest-carts/64

[2017-12-12 21:18] AndrewPenry commented on #12605
I had a similar issue. It is not part of the core, it is part of your theme. What happened is that the styling for those fields was moved out of the JS and into the CSS. Your theme probably contains app/design/frontend/[Vendor]/[Theme]/Magento_Swatches/web/css/swatches.css

Add:
`
.swatch-input {
    left: -1000px;
    position: absolute;
    visibility: hidden;
}
`

This is the css that was added

[2017-12-12 21:26] apsummers commented on #12605
@AndrewPenry thank you for pointing out that commit! I had already dug into `swatch-renderer.js` but still saw the inline style--turns out I hadn't updated the sources for our Docker host volume, so while the app was using the 2.1.10 sources, I was still seeing the 2.1.9 sources in my editor. Couldn't fathom why the source had an inline style but the rendered HTML did not. Closing, and thanks agai

[2017-12-12 21:26] #12605 closed, assigned to nobody

[2017-12-12 21:43] fwolfst commented on #12655
This only happens if there are items in cart, once I delete them I see again a happy "empty cart"- kind of page. And not reproducibly so (in a new incognito browser window it works fine).

[2017-12-12 21:47] gwharton commented on #10595
Still Broken in 2.2.2

[2017-12-12 21:47] gwharton commented on #7822
Still broken in 2.2.2

[2017-12-12 22:01] gianiaco opened #12657 "Search doesn't work properly"
Search bar in frontend doesn't work like that in backend.
The searched word must be initial part of the whole word.
In the backend search bar there isn't this problem

### Preconditions
1.  Magento 2.2.1
2.  Php 7.0.2
3.  mysql 5.7

### Steps to reproduce

1. Create a product with name 'Samsung 55" UE55MU6200'
2. Type '55MU62' in search bar
3. Press ENTER

### Expected result

1. I found the produ

[2017-12-12 22:21] gerrybarron commented on #12618
I use google chrome.

[2017-12-12 22:34] orlangur commented on #12214
@korostii nope, it's non-issue as getting such version of Zend Code when running under PHP 7.1 is expected Composer behavior and is totally fine (assuming Magento is tested with 3.3 of whatever version of package).

Just that 42b10d5 made both PHP 7.0 and 7.1 to resolve the same Zend Code version.

[2017-12-12 22:52] kbuje opened #12658 "Please help - Readiness check - ERROR - (was no problem before)"
I have installed magento 2.21 on a webhotel

I have installed a payment extension and nothing else. I used the extension manager.
- then worked on the site.

Now when I try to install anything or to update magneto i get stranded on the readiness check
This was now an issue before. Before it passed the readiness test.

this error comes up:
"Error from Updater Application Cron Script:
Found non-writ

[2017-12-12 23:35] ishakhsuvarov commented on #5738
Hi @flancer64
Issue seems to be fixed in `2.2-develop` now and is going to be available in 2.2.4.
You may check the merge commit https://github.com/magento/magento2/commit/506d5004e472f3937d4d67fefce62c9e2ce9c403 which contains the fix.

Thank you.

[2017-12-12 23:35] #5738 closed, assigned to nmalevanec

[2017-12-12 23:36] ishakhsuvarov commented on #2907
@Vinai We are closing this ticket now as the issue seems to be fixed now in the `2.2-develop` and will be released with 2.2.4.
You may refer to https://github.com/magento/magento2/commit/506d5004e472f3937d4d67fefce62c9e2ce9c403 for more information on the delivered fix.

Thanks!

[2017-12-12 23:36] #2907 closed, assigned to nmalevanec

[2017-12-12 23:38] MaxMilton commented on #12603
Is there a public way to track progress on PHP 7.2 support? Simply closing the issue provides no visibility to developers outside of Magento Inc.

[2017-12-12 23:38] ishakhsuvarov commented on #12560
Hi @svejegres
We are closing this issue report now since the fix for the issue is delivered to `2.2-develop` (should be released with 2.2.4).
You may check https://github.com/magento/magento2/commit/506d5004e472f3937d4d67fefce62c9e2ce9c403 for now to get more details on the fix.

Thank you for collaboration.

[2017-12-12 23:40] ishakhsuvarov commented on #12603
@MaxMilton Unfortunately we do not have any publicly available roadmap for PHP 7.2 compatibility. We will post updates via generally available channels when we have any specific information.
Thanks.

[2017-12-12 23:42] ishakhsuvarov commented on #10797
Hi @dfelton
Fix for the reported issue is already delivered to `2.2-develop` branch and should be available with release 2.2.4. You may refer to https://github.com/magento/magento2/commit/506d5004e472f3937d4d67fefce62c9e2ce9c403 for more information.

Thanks

[2017-12-12 23:42] #10797 closed, assigned to nmalevanec

[2017-12-12 23:43] ishakhsuvarov commented on #8601
Hi @ericrisler
Fix for the issue is already delivered to `2.2-develop` with the commit https://github.com/magento/magento2/commit/506d5004e472f3937d4d67fefce62c9e2ce9c403

Thanks

[2017-12-12 23:43] #8601 closed, assigned to RomaKis

[2017-12-12 23:52] dakira opened #12659 "Random state saved for customers where no state is required."
For countries where the state is optional, it is hidden by default in checkout, which is good. Unfortunately a seemingly random state gets added to the customer contact data (and thus to the invoice).

### Preconditions
1. Magento 2.1.10
2. PHP 7.0.22

### Steps to reproduce
1. Create a new order and select Germany as the country.
2. No state field will be shown. Fill in the required fields and co

[2017-12-13 00:02] MaxMilton commented on #12603
Thank you @ishakhsuvarov

[2017-12-13 00:06] Tomasz-Silpion opened #12660 "Invalid parameter configuration provided for $block argument upon no ACL permissions to the block"
### Preconditions

1. Reproduced on clean magento 2.2.0, 2.2.1 and 2.2.2 (current develop branch)

### Steps to reproduce

1. Create new admin user role with customer tab permissions only
2. Assign new admin user to the role
3. Login as the user
4. Try to create new customer

![acl](https://user-images.githubusercontent.com/5328659/33915118-e9a2d024-dfa1-11e7-914c-647febb5293b.png)

### Expected r

[2017-12-13 01:35] moejoee91 commented on #3897
Hello everyone,
im having something similar to this and it's driving me crazy, all of a sudden my  nav-bar was gone, and im not even using varnish, i'm using the built in cache, all i did right before this happened is i did setup cloudflare and it went down hill from there
any ideas what might be causing the problem ?

[2017-12-13 02:19] jonahellison commented on #7967
Breadcrumbs use catalog session data (the last category the user viewed) for rendering, which seems to be a flaw since this is then cached and displayed to other users.

Expanding on the https://github.com/magento/magento2/issues/7967#issuecomment-315310890 event observer fix, this changes the users's session data:

[code]

and
[code]

[2017-12-13 02:42] Ylmzef commented on #11002
same here!

[2017-12-13 03:29] moejoee91 commented on #5423
Hello everyone,
im having something similar to this and it's driving me crazy, all of a sudden my nav-bar was gone, and im not even using varnish, i'm using the built in cache, all i did right before this happened is i did setup cloudflare and it went down hill from there
any ideas what might be causing the problem ?

[2017-12-13 04:25] impunkj commented on #6020
How to Get correct this issues. I am running  Magento ver. 2.1.7.

[2017-12-13 06:19] fwolfst commented on #11832
@okorshenko Okay, got update and confirm fix.

[2017-12-13 06:29] piszczek commented on #12551
In my case (php 7.1.12) error was caused by restarted php-fpm after update new release (I have to restart php-fpm, for folder symlink update).

Fully restart nginx solve that problem but it's workaround I guess.

[2017-12-13 06:33] impunkj commented on #6020
Where to get updated code for this issues ?

[2017-12-13 06:57] magento-engcom-team commented on #12616
@Gowsalayadevi We glad you found the solution to your problem. We are closing this issue, have a great day.

[2017-12-13 06:57] #12616 closed, assigned to nobody

[2017-12-13 07:16] BigTonni commented on #7441
Thank you, duffner!
It's an amazing solution! It works.

[2017-12-13 07:38] ravibhalodia commented on #10234
Is there any update on this issue? We are still facing in newer version of Magento as well.

[2017-12-13 07:39] magento-engcom-team commented on #12659
@dakira Thanks for your report. We tried and wasn't able to reproduce it on the clean instance of Magento, we tried making order from the storefront and dashboard, both worked just fine. We made a [video](https://streamable.com/k9j0o) of the steps we used, can you please watch it and tell us if we missed anything.  Thank you. https://streamable.com/k9j0o

[2017-12-13 07:44] ishakhsuvarov commented on #8069
Hi @BarnyShergold
We are closing this issue now as the fix has been delivered to 2.3, 2.2 and now 2.1-develop. You may refer to the linked commits to see the fix.

Thank you

[2017-12-13 07:44] #8069 closed, assigned to nemesis-back

[2017-12-13 07:52] okorshenko commented on #10165
Hi @andrewhowdencom Thank you for the fix. It was delivered with 2.2.2. release

[2017-12-13 07:59] #10165 closed, assigned to nobody

[2017-12-13 08:07] Reslinator commented on #6183
Hi @anarchalienweb,

I checked the commits on  branch [2.3-develop], but could not find the changes to the files to get this fixed as a patch on an earlier version.

Could you guide me where you found it, or did you check it by testing the dev branch?

Thank you for your help.
Regards,
Andreas

[2017-12-13 08:09] ishakhsuvarov commented on #9583
@LSERRE We are closing this issue for now, as from the comments it seems to be fixed for you now.
Please feel free to reopen if it is still unresolved.

Thank you.

[2017-12-13 08:09] #9583 closed, assigned to nobody

[2017-12-13 08:20] magento-engcom-team commented on #12660
@Tomasz-Silpion, thank you for your report.
We've created internal ticket(s) MAGETWO-85576 to track progress on the issue.

[2017-12-13 08:34] magento-engcom-team commented on #12612
@fwolfst , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation.

[2017-12-13 08:56] msieprawski commented on #11002
Hello there, I've got the same problem o Magento 2.2.0 when creating one custom cron job. I've also have Magento 2.2.1 installed on different server without any custom cron jobs and cron is working fine, cron_schedule table contains something around 1k records where on 2.2.0 containing one custom cron job have 150k records.

I can see a bunch of PHP processes running, it's killing my 8CPUs server

[2017-12-13 08:57] fwolfst commented on #12612
@magento-engcom-team I guess its a difficult task to pinpoint it down. Of course this might have to do with extensions, configuration or migrated data. But I am happy if somebody shares a few tipps on how to debug this further (stacktrace etc).

[2017-12-13 09:00] AGhribiCoop commented on #11110
Exactly, what file should we edit ?

[2017-12-13 09:03] AymericJoubert opened #12662 ""Use Categories Path for Product URLs" not working for intermediate categories"
When using category path for product url, there is no generated url key for intermediate categories. In the url key table you can find one url rewrite for 1st level category and one for last level category.

This seems to work only on the last level category.

### Preconditions

1. Magento 2.1.10 with sample data
2. PHP7

### Steps to reproduce

1. Enable product url by categories in Stores > Conf

[2017-12-13 09:42] sanjayjethva commented on #12411
Hi All,
Issue is due to translation csv files.

[2017-12-13 10:01] #12460 closed, assigned to nobody

[2017-12-13 10:05] magento-engcom-team commented on #12483
@devendra-m, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-12-13 10:05] #12483 closed, assigned to nobody

[2017-12-13 10:11] duongquyet commented on #6098
Hi,
I have a same problem.

[2017-12-13 10:14] magento-engcom-team commented on #12656
@AndrewPenry, thank you for your report.
We've created internal ticket(s) MAGETWO-85582 to track progress on the issue.

[2017-12-13 10:14] duongquyet commented on #8098
Hi,
This problem doesn't fix. We use magento 2.2.1 but we still have this issue.

[2017-12-13 10:19] leedave opened #12664 "Custom Customer Fields not saving when caches off"
When using custom attributes in customers, the save mechanism in adminhtml can only save custom attributes if the Magento caches are active. Otherwise the fields will be deleted if existing.

### Preconditions
1. Detected on Magento 2.1.3 using Apache 2.4.6, PHP 7 and MySQL 5.6.29
2. All Magento caches are deactivated
3. Customer fields have been extended by personal code or 3rd party extensions

[2017-12-13 10:31] ksiamro commented on #3402
How you solved issue?

[2017-12-13 10:45] MackieeE commented on #11116
Morning,

I hope this helps someone trying to find the particular XML that causes your System to error.
I spent a while trying to find which XML node exactly was erroring as "argument" was a frequently used node in most XMLs. It's made more tricky that the error is normally a result of a merged number of XML files.

The very file that actually begins this validation process is at:

### Composer
/v

[2017-12-13 10:46] prasiddha commented on #7658
@magento-engcom-team thanks for creating internal tickets on this.

[2017-12-13 10:47] prasiddha commented on #8084
@joshspivey thanks

[2017-12-13 10:56] Bobstar040 commented on #12362
we updated to m2.2.3 and when adding a product to cart and refresh checkout the checkout is empty when using incognito mode. We have a multi site, sometimes its working mostly not.

Any idea what's the fix for this? We did not have this issue in M2.1.9

[2017-12-13 10:59] magento-engcom-team commented on #12436
@friimaind, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-12-13 10:59] #12436 closed, assigned to nobody

[2017-12-13 11:00] magento-engcom-team commented on #12664
@leedave thank you for your report. Please follow these guidelines for proper tracking of your issue. You can report Commerce-related issues in one of two ways:
You can use the Support portal associated with your account
or
If you are a Partner reporting on behalf of a merchant, use the Partner portal.

GitHub is intended for Magento Open Source users to report on issues related to Open Source onl

[2017-12-13 11:00] #12664 closed, assigned to nobody

[2017-12-13 11:00] magento-engcom-team commented on #11372
@gulshan-streammarket, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-12-13 11:03] magento-engcom-team commented on #9479
@MEGA911, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-12-13 11:03] #9479 closed, assigned to nobody

[2017-12-13 11:05] magento-engcom-team commented on #8488
@shahrukh-alizai, thank you for your report.
We were not able to reproduce this issue by following the steps you provided. If you'd like to update it, please reopen the issue.

[2017-12-13 11:05] #8488 closed, assigned to nobody

[2017-12-13 11:09] magento-engcom-team commented on #12635
Hi @orlangur thank you for investigation.

[2017-12-13 11:09] #12635 closed, assigned to nobody

[2017-12-13 11:10] Nix-id opened #12667 "Incorrect partial attribute (EAV) reindex (Update by Schedule) for configurable product with childs visibility "Not Visible Individually""
### Preconditions

1. Magento 2.2.1
2. PHP 7.1
3. MariaDB

### Steps to reproduce

0. Create config product and childs
For example with id '1',  and his childs with '2','3'
1. set indexer method to "Update by Schedule"
2. Edit and save only Configurable product (don't edit childs)
3. waite while cron update MView
4. check DB `catalog_product_index_eav`. all entries with `entity_id`=1 and `source_i

[2017-12-13 11:14] Nix-id commented on #12205
Sorry for incorrect format.
but thanks for you work.

[2017-12-13 11:18] magento-engcom-team commented on #12612
@fwolfst , thank for you update.
please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-13 11:23] okorshenko commented on #6287
Please refer to the [Community Forums](https://community.magento.com/) for discussion about this feature. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-13 11:23] osrecio commented on #6098
This problem was solved and is available in 2.2.2: https://github.com/magento/magento2/pull/12139

[2017-12-13 11:23] #6098 closed, assigned to nobody

[2017-12-13 11:26] magento-engcom-team commented on #6635
Please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-13 11:26] #6635 closed, assigned to nobody

[2017-12-13 11:26] ebaschiera commented on #10142
Adding https://github.com/magento/magento2/commit/27d3565877d97593521b2c22ff2803d5996ffefa fixed the issue on a Magento 2.1.10 installation.

[2017-12-13 11:26] #6676 closed, assigned to nobody

[2017-12-13 11:27] magento-engcom-team commented on #6676
@maghamed thank you for investigation

[2017-12-13 11:28] #7034 closed, assigned to nobody

[2017-12-13 11:30] #7565 closed, assigned to nobody

[2017-12-13 11:34] #7821 closed, assigned to nobody

[2017-12-13 11:39] magento-engcom-team commented on #6668
@mbrzuzy, thank you for your report.
The issue is already fixed in 2.2.1

[2017-12-13 11:40] magento-engcom-team commented on #7960
@rbostan thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-13 11:40] #7960 closed, assigned to nobody

[2017-12-13 11:44] l1mosh commented on #7367
i still have the issue in ver. 2.1.7. is any one got any solution?

[2017-12-13 11:44] magento-engcom-team commented on #8520
@RomaKis thank you for investigation. Closing

[2017-12-13 11:44] #8520 closed, assigned to RomaKis

[2017-12-13 11:45] #8670 closed, assigned to nobody

[2017-12-13 11:47] #8696 closed, assigned to nobody

[2017-12-13 11:48] #8746 closed, assigned to nobody

[2017-12-13 11:51] #8747 closed, assigned to nobody

[2017-12-13 11:52] #8783 closed, assigned to nobody

[2017-12-13 11:55] #9418 closed, assigned to nobody

[2017-12-13 11:57] #9775 closed, assigned to nobody

[2017-12-13 11:59] magento-engcom-team commented on #10362
Hi @slayerbleast. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/36

[2017-12-13 11:59] #10362 closed, assigned to GianniPDF, crissanclick

[2017-12-13 12:00] schmengler opened #12669 "Backport Serialize Library to Magento 2.1"
For serialization, the new serialize library (http://devdocs.magento.com/guides/v2.2/extension-dev-guide/framework/serializer.html) should always be used. But as soon as I depend on the `SerializeInterface` in an extension, it is not compatible with Magento 2.1 anymore and I have to create a separate branch for this version. Since the serialize library is a security feature, it should be backporte

[2017-12-13 12:01] dakira commented on #12659
Thanks for taking the time to make a screencast. The problem only appears, when disabling the state field for countries where it's optional (see screenshot). I was pretty sure this was set by default, sorry for the confusion.

![bildschirmfoto von 2017-12-13 12-59-08](https://user-images.githubusercontent.com/576555/33937945-c4376372-e005-11e7-889c-e2b171b46f72.png)

[2017-12-13 12:06] orlangur commented on #9516
Reason is perfectly clear. Current behavior could be documented but as original request is to change it, it is definitely a change request of currently intended behavior.

MSI will become a part of core at some point by the way.

As it was explained hundreds of times, this repository is not a right place for feature requests, let's just concentrate on quality here and manage only bug reports. This

[2017-12-13 12:15] orlangur commented on #12669
2.1.x is not using JSON for serialization AFAIK. Should an unsafe implementation of this interface using `serialize` be introduced then?

There is nothing wrong with it, this can happen due to hundreds of other reasons.

Not true until there is no known attack vector for the old serialization implementation.

[2017-12-13 12:20] #11257 closed, assigned to nobody

[2017-12-13 12:27] leedave commented on #12664
@magento-engcom-team
There seems to be some misunderstanding here. My Report is based on Magento Open Source, not Magento Commerce/Enterprise Edition. It is also not a support enquiry, I'm not asking for help, I'm supplying you a bug report, so you can decide if you'd want to fix this in future.

[2017-12-13 12:32] magento-engcom-team commented on #12233
Hi @matin73. Thank you for the report. We are moving your feature request to the special project. You can track this issue here: https://github.com/magento-engcom/community-features/issues/37

[2017-12-13 12:32] #12233 closed, assigned to nobody

[2017-12-13 12:34] magento-engcom-team commented on #11288
What do you mean "base price"?

If you mean price on main product, than that product should have option "Dynamic Price" = "False".
In this case Magento theme Luma don't show min and max price, shows only main price.
![screenshot_1](https://user-images.githubusercontent.com/31669971/31343420-43d9f89a-ad18-11e7-822b-25f871f07aa1.png)

[2017-12-13 12:34] #11288 closed, assigned to nobody

[2017-12-13 12:39] orlangur commented on #12662
Is this issue relevant for 2.2.x by the way?

[2017-12-13 12:51] ProofMaker opened #12670 "Magento 2.2.0 - Klaviyo Integration Issue"
The Magento 2 store seems to be integrated correctly: both API keys are in, Klaviyo extension is installed, sync is active - "Started Checkout" metric is showing activity.
But when I try to display products in cart using dynamic variables - it just shows empty space in place of products: no image, no text.
Please contact me directly.

Preconditions
1. Chrome 63.0.3239.84 (Official Build) (64-bit)

[2017-12-13 13:01] magento-engcom-team commented on #12608
@terrybakshi, thank you for your report.
We've created internal ticket(s) MAGETWO-85591 to track progress on the issue.

[2017-12-13 13:08] okorshenko commented on #10814
Hi @adi3009
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-13 13:08] okorshenko commented on #12285
Hi @novakivskiy
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-13 13:08] #12285 closed, assigned to p-bystritsky

[2017-12-13 13:08] okorshenko commented on #12490
Hi @joebordo
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-13 13:08] #12490 closed, assigned to p-bystritsky

[2017-12-13 13:09] okorshenko commented on #12259
Hi @testmagento2
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-13 13:10] okorshenko commented on #8204
Hi @spyrule
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-13 13:10] #8204 closed, assigned to jonashrem, RomaKis

[2017-12-13 13:10] okorshenko commented on #12632
Hi @miguelbalparda
The issue has been fixed and delivered in 2.2-develop branch. Will be available with upcoming patch release.

[2017-12-13 13:10] #12632 closed, assigned to miguelbalparda

[2017-12-13 13:18] magento-engcom-team commented on #12670
Hi @ProofMaker please refer to the [Community Forums](https://community.magento.com/) or the [Magento Stack Exchange](https://magento.stackexchange.com/) site for advice or general discussion about this issue. The GitHub issue tracker is intended for Magento Core technical issues only.

[2017-12-13 13:18] #12670 closed, assigned to nobody

[2017-12-13 13:39] p-bystritsky commented on #12300
### Preconditions

1.  Magento 2

### Steps to reproduce

1. Create a product with sku 'test', save it.
2. Create a product with sku ' test ', save it.

### Expected result

1. Product is saved with sku ' test '.

### Actual result

1. Product is saved with sku 'test-1'.

Problem is caused by sku uniqueness check. It trims whitespaces before executing the database request.

https://github.com/mage

[2017-12-13 14:01] lshchur commented on #2530
Guys, you can also use this trick to read error reports in a comforable way:

`cat var/report/1157576833741 | php -r "print_r(json_decode(file_get_contents('php://stdin')));"`

[2017-12-13 14:14] magento-engcom-team commented on #12641
Hello again @synolia-bvo. For unknown reason the rows from the commit you refer to (ebc946a) are no more present in release version of 2.2.0 and as far as we tested in 2.2.1 either. Could You please specify what is the exact release name of the version You use (f. e. 2.2.0-rc13). Thank You.

[2017-12-13 14:16] schmengler commented on #12669
Unserialization of PHP objects is a known attack vector, at least potentially. In 2.2, old PHP serialized values were converted to JSON (http://devdocs.magento.com/guides/v2.2/ext-best-practices/tutorials/serialized-to-json-data-upgrade.html)

Why shouldn't this be possible in a 2.1.x security update?

[2017-12-13 14:19] novakivskiy commented on #12285
cool, thanks

[2017-12-13 14:27] asrenzo opened #12671 "Zero subtotal checkout and order status problem"
Magento 2.1.10 version

### Preconditions

1. Enable zero subtotal checkout
2. Set new order status to processing
3. Create a cart rule with 100% rebate and free shipping

### Steps to reproduce

1. Add some matching items into cart
2. Apply coupon to cart
3. Go to checkout last step
4. Place order

### Expected result

1. A zero subtotal order is created with processing status

### Actual result

[2017-12-13 14:29] magento-engcom-team commented on #12667
@Nix-id, thank you for your report.
We've created internal ticket(s) MAGETWO-85597 to track progress on the issue.

[2017-12-13 14:34] magento-engcom-team commented on #12659
@dakira Thank you for clarifying. We still can't reproduce the issues based on the steps you provided, can you give us more steps on what you do after you complete the order, please. Screenshots would be helpful too.

[2017-12-13 14:42] magento-engcom-team commented on #12607
@Nyqnzguju , thank you for your report.
Please use the issue [reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) to report an issue. Please, edit issue description and include the preconditions, the steps required to reproduce, the actual result, and the expected result.
Please, add the following information:
 - [ ] Preconditions: Magento version
 - [ ] Step

[2017-12-13 14:43] Nix-id commented on #12667
also i cant find any method how i can override method processRelations

redeclare abstract class - no
redeclare classes  Magento\Catalog\Model\Indexer\Product\Eav\Action\Full | Row | Rows
generate error:
PHP Fatal error:  Uncaught TypeError: Argument 3 passed to Magento\Catalog\Model\Indexer\Product\Eav::__construct() must be an instance of Magento\Catalog\Model\Indexer\Product\Eav\Action\Full, in

[2017-12-13 14:50] SantoDE opened #12673 "Customer Section Data not present after redirect?"
### Preconditions
1. Magento 2.2.2, PHP 7.11, MariaDB-10.2.7 etc

### Steps to reproduce

1. Get a redirect doesnt matter what action (e.g. changing language)
2.
3.

### Expected result
1. Magento_Customer/js/view/customer.customer() should be present

### Actual result
1. It's empty, though its present in the buffer

I have the problem that after a redirect, in my custom.js (see bewlow) I can not

[2017-12-13 14:56] sydekumf opened #12674 "Rule with attribute scope global throws error on frontend"
When you configure a Catalog Products List Widget on a CMS page and use a rule condition on a multi select attribute and select more than one value, the cms page throws an error. This only happens if the selected attribute's scope is set to global, if it is set to something else, everything works fine.

### Precondition
- CE/EE 2.1.10

### Steps to reproduce
- Clean instance with sample data
- Ope

[2017-12-13 15:06] magento-engcom-team commented on #12641
Yes @synolia-bvo, we confirm it. But not going deeply into details lets assume that in this context the code peace we are talking about does not cause the issue. At least we've been not able to reproduce it on neither of the versions we've tested including the very one You provided us with in the Last comment. Could You please try to reproduce it on a freshly installed branch. Thank You.

[2017-12-13 15:11] RogerKeulen opened #12675 "Magento 2.2 Integration Tests using non existing table: catalog_product_entity_numeric"
The Magento Integration Test framework works different then the `normal` Magento 2.2 cli.
Because i don't have this exception from a cli-command i do not trussed the Magento test framework.

### Preconditions
1. Magento 2.2.1
2. Php 7.1.12

### Steps to reproduce
copy dev/tests/integration/phpunit.xml.dist to phpunit.xml
add a test suite
add write a test with the following psudo-code

`Magento\Cat

[2017-12-13 15:17] adamrandazzo commented on #10838
I upgraded to 2.2.2 EE today and the bug is still in place.

[2017-12-13 15:20] magento-engcom-team commented on #12657
@gianiaco, thank you for your report.
We've created internal ticket(s) MAGETWO-85598 to track progress on the issue.

[2017-12-13 15:22] 4quaternion opened #12676 "Readme.md update"
### Preconditions

1.
2.

### Steps to reproduce

1.
2.
3.

### Expected result

1.

### Actual result

1. [Screenshot, logs]

[2017-12-13 15:23] 4quaternion commented on #12676
#mageconf

[2017-12-13 15:25] sambalay commented on #12622
Hi,

we are also having the same issue. we are doing free shipping over 50$.

In checkout shipping step , customer is selecting 0.00 (free shipping) since it is above 50$

In payment section , they are applying promo code where subtotal is below 50$ but shipping charge still shows 0.00

They should be charged 8.12 ground shipping charge.

![capture-discount](https://user-images.githubusercontent.c

[2017-12-13 15:25] magento-engcom-team commented on #12676
@4quaternion Please format your issue description according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2017-12-13 15:41] totneschap commented on #5560
Where abouts is the option in the config?

[2017-12-13 15:44] BlackIkeEagle commented on #12570
@msawyers you should add it after the docblock, I should have been more clear, before any other code is run you should add the if

[2017-12-13 15:56] JasonScottM commented on #9466
Hi Robert

I think that was stripped in my previous response

so please use this link http://www.keepandshare.com/doc18/view.php?id=16316 <http://www.keepandshare.com/doc18/view.php?id=16316&da=y> &da=y

Jason.

[2017-12-13 15:56] magento-engcom-team commented on #12599
@breg-13, thank you for your report.
The issue is already fixed in 2.2.2

[2017-12-13 15:56] #12599 closed, assigned to nobody

[2017-12-13 15:57] magento-engcom-team commented on #12618
Thank You @gerrybarron. Now also please specify us on what pages You get this error.

[2017-12-13 16:02] sandervall commented on #10696
The issue is still present in Magento 2.2.0.
I have 2 configurable products in my cart and 1 virtual product.
The "View and edit cart" page displays action buttons only for the virtual product.
I added a log line to \Magento\Framework\View\Element\AbstractBlock.php to the method getChildBlock before it returns $layout->getBlock($name); and the log output is:

No layout for 'checkout.cart.item.rend

[2017-12-13 16:04] oirad opened #12678 "Error when supplying wrong store code in ___store URL parameter"
After a change of stores configuration I noticed a sudden increase in errors on my google webmaster tools console related to old URLs that were previously indexed from the old version of the sitemap.

All these URLs have in common the fact the `?___store=default` is appended to them.

### Preconditions

1.  Magento version 2.1.9
2. PHP 7.0.15
3. nginx/1.11.9
4. MySql 5.7.18
5. varnish 5.0.0

I als

[2017-12-13 16:10] RogerKeulen commented on #12675
Have found the problem.

Tests are not isolated at all. Even the database doesn't get flushed with deleting all tmp/sandbox.... files had to manually remove attributes from db table:  eav_attribute. In the field `backend_type` you can fill in everything you want. So filling in `abcdef` will result in:

 **Table 'magento_integration_tests.catalog_product_entity_abcdef' doesn't exist.**

I added the

[2017-12-13 16:10] #12675 closed, assigned to nobody

[2017-12-13 16:16] aKalisch opened #12679 "Magento 2.2.2 /checkout JS Components will not be loaded."
After I updated from Magento 2.2.1 to 2.2.2 my checkout is not working any longer. This might be only caused when a Virtual Item is placed in Cart.

### Preconditions

1. Magento 2.2.2 (Only virtual items purchasable)
2. PHP 7.0.12
3. MacOS with laravel valet enviroment (Nginx / SSL on)

### Steps to reproduce

1. Put a virtual item into cart
2. proceed to checkout

### Expected result

1. The Che

[2017-12-13 16:22] synolia-bvo commented on #12641
Yes excuse me, the probleme is only in branch 2.2-develop :

https://github.com/magento/magento2/tree/2.2-develop

which is the only one where the "empty" of the \Magento\CatalogImportExport\Model\Import\Product\Type\AbstractType::clearEmptyData function has been replaced by "!isset".

To summurize :
Either we cannot import a "0" value (this is why empty has been replaced by "!isset")
Or the url_k

[2017-12-13 16:23] hturner100 commented on #6248
We are having the same issue on a completely fresh install of Magento 2.2 // no products, no extensions etc.

Adding the following GA tag into the Scripts & Stylesheets section under Content > Design: Configuration > HTML Head

[code]

[2017-12-13 16:24] magento-engcom-team commented on #12588
@leoncito73 , thank you for your report.
We were not able to reproduce this issue by following the steps you provided. Please provide more detailed steps to reproduce or try to reproduce this issue on a clean installation or latest release.

[2017-12-13 16:42] magento-engcom-team commented on #12674
@sydekumf ,

[2017-12-13 16:43] magento-engcom-team commented on #12674
@sydekumf , thank you for your report.
Please, add the following information:
 - [ ] Preconditions: Magento version

[2017-12-13 16:44] giacmir commented on #12298
I had the same problem recently. Reported error is

```Import failed: Warning: Invalid argument supplied for foreach() in /var/www/html/vendor/magento/module-braintree/Model/Adminhtml/System/Config/CountryCreditCard.php on line 70```

@magento-engcom-team @joni-jones  Can you reopen this please?