[2016-08-31 08:07] mjankiewicz commented on #5948
@MhorGonzales

I've checked again my module on fresh Magento 2 (sample data) and everything works fine.
Detail view without module:
<img width="582" alt="zrzut ekranu 2016-08-31 10 02 36" src="https://cloud.githubusercontent.com/assets/1465174/18120901/5210046c-6f62-11e6-8db7-abda30a5c09d.png">

And with module:
<img width="650" alt="zrzut ekranu 2016-08-31 10 01 20" src="https://cloud.githubuserc

[2016-08-31 08:09] mktudock commented on #5533
I don't know about @aunts but we have the same problem and use the German/Germany locale from https://github.com/splendidinternet/Magento2_German_LocalePack_de_DE and we upgraded from 2.0.7.

The translation was added via composer and set for the admin user. All admin users using an english locale can create new orders, those using the german locale can not. Switching to an english locale "solves"

[2016-08-31 08:11] shemayas commented on #2966
Hi @AzVo ,

As I mentioned it was in Magento 1.9 and was some time ago so I don't really remember the specific configuration..

The error was happening when trying to enter the product edit page on admin panel.

Shemaya

[2016-08-31 08:13] marcoreni opened #6411 "Customer Address Custom Attribute gets deleted upon update"
### Preconditions

1. Magento 2.1.0 CE, php 7.0.8
### Steps to reproduce
1. Define new Customer Address Custom Attribute in UpgradeData:

[code]
1. Populate the attribute through adminhtml interface. The attribute is correctly persisted on EAV tables
2. Intercept the LoginPost action with a beforeExecute(), then retrieve and save customer without modifications:

[code]
### Expected result

1. The

[2016-08-31 08:15] veloraven commented on #6404
@Sid-95 thank you for your report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.
Please also provide more detailed steps as it is not clear where you switch from one store view to another. And what do you mean as 'change page'. So please write steps in the format like 'click...', 'select...'

[2016-08-31 08:20] veloraven commented on #6410
@kanduvisla thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-08-31 08:23] AVoskoboinikov commented on #5763
Hi @coolocean

Thanks for reporting. Are still experiencing this issue?

[2016-08-31 08:28] bondimedical3 commented on #6405
I have the same problem in my update.log file

[2016-08-31 08:33] coolocean commented on #5763
Hi,

Have not seen this for sometime. Checked it now also. Cart seems to be working fine.

[2016-08-31 08:36] kanduvisla commented on #6410
It get's weirder:

When I delete all my cookies, I don't get the error. However, as soon as I add a product to the cart and refresh the page afterwards, the error pops up. But even more strange: when I open an incognito window in Chrome, the error doesn't occur!

[2016-08-31 08:48] Sid-95 commented on #6404
@veloraven Thanks for your answer, I am using Magento 2.1.0

I switch from one storeview to the other using the storeview switcher (which appears in my store with languages icon & label).

Here's the step to reproduce the bug on my site:
- I Open the store at http://162.252.104.103/
- I click on the top right storeview switcher and select the english storeview (default is italian's one)
- Magento

[2016-08-31 08:52] ktruehl opened #6412 "warning caused by foreach-loop in salesrule validation"
In `\Magento\SalesRule\Model\Rule\Condition\Product\Combine` in the `validate()` method, the line

[code]

can cause a warning to be thrown in the case that `$model->getAllItems()`  does not return an array. This case can occur, so it needs to be checked against.

Find attached a patch, that adds the check.
[check-whether-items-array-exists-vendor_magento_salesrule_model_rule_condition_product_fou

[2016-08-31 08:54] kanduvisla commented on #6410
Further investigation shows that my 'regular' browser (which is Chrome by the way) makes an additional XHR request to http://www.domain.com/customer/section/load/?sections=paypal-billing-agreement&update_section_id=false&_=1472630495115 whereas the incognito window doesn't. What gives?

[2016-08-31 09:07] maderlock commented on #6241
Do we have any guarantee that you won't just delete the forums like you did last year?

[2016-08-31 09:08] kanduvisla commented on #6410
GOT IT!

It turns out that `customer-data.js` uses the localStorage to store a variety of stuff (probably for caching purposes). This means that when a module (or Magento) updates, you'd better make sure to flush your local storage as well, because otherwise you're in a world of debugging-hurt

[2016-08-31 09:09] maderlock commented on #2976
I'm using 2.1.0. I've started adding the environment variable https=on before my calls, which helps.

[2016-08-31 09:13] veloraven commented on #6412
@ktruehl thank you for feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-08-31 09:19] ktruehl commented on #6412
@veloraven You're funny! The Magento version is 2.1. Forgot about the rest. Read the last paragraph of my issue description.

[2016-08-31 09:28] tylerd92vn commented on #4139
I have the same problem. Is this problem fixed?

[2016-08-31 09:29] PingusPepan opened #6413 "Magento 2.1 CE JS freezes browser on admin product page"
I have this issue since Magento 2.1. Magento 2.0 worked fine.

When I try to add a product or edit existing one, the page loads fine and then the Ajax spinner starts spinning. When it reaches the file `vendor/magento/module-ui/view/base/web/templates/grid/filters/elements/ui-select-optgroup.html` (`pub/static/adminhtml/Magento/backend/en_US/Magento_Ui/templates/grid/filters/elements/ui-select-optg

[2016-08-31 09:30] basselalaraaj commented on #6337
@sevos1984 yes!

[2016-08-31 09:31] AVoskoboinikov commented on #5398
Closing this ticket because of existing fix in develop branch.

[2016-08-31 09:31] #5398 closed, assigned to nobody

[2016-08-31 09:38] PingusPepan commented on #6412
Why didn't you create PR then? Much better for everyone else than just throwing in a diff file.

[2016-08-31 09:38] tylerd92vn opened #6414 "Shipping rates show 0 when there are more than one item in the cart"
### Preconditions

1. Magento 2.0.7
2. PHP 7.0.10-2+deb.sury.org~trusty+1 (cli) ( NTS )
3. mysql  Ver 14.14 Distrib 5.6.31, for debian-linux-gnu (x86_64) using  EditLine wrapper
4. nginx version: nginx/1.4.6 (Ubuntu)
### Steps to reproduce

1. Enable flat rate and configure the rate to $20
2. Add an item to the cart. Visit the cart and you will see the flat rate there with the price of $20
3. Add

[2016-08-31 09:39] PingusPepan commented on #6408
Try and stop the cron jobs, then delete var/generation/\* and start cron back.
At least that worked for me

[2016-08-31 09:40] karlsminton commented on #5423
@Ctucker9233 I'm reluctant to do this if it can be avoided, for the reasons piotrekkaminski mentioned earlier.

[2016-08-31 09:42] ktruehl commented on #6412
Am I not allowed my own small moment of frustration and exasperation? Of course it's petty. But after 6 grueling months of working with Magento 2 I think I earned at least that much.

### Preconditions
1. CE 2.1.1

### Steps to reproduce
1. backend: add a cart price rule that checks for a product id
2. frontend: add a product to the cart that does not have getAllItems() populated

### Expected res

[2016-08-31 09:47] bondimedical3 commented on #6408
I upgraded with composer and it worked fine. However the links in the Admin are no longer clickable and product images do not show in the frontend.

[2016-08-31 09:52] paales opened #6415 "The table 'catalog_category_product_index_tmp' is full"
### Preconditions

1. Magento 2.1
2. MySQL 5.6.22
3.  Set `tmp_table_size` and `max_heap_table_size` to 64M
4. 30k products have 50 store views under one website.
### Steps to reproduce

1. Run `php bin/magento indexer:reindex catalog_category_product`
### Expected result

1. Reindexer runs
### Actual result

[code]

[2016-08-31 09:53] paales commented on #6415
I think the 64M is a respectable amount, but currently contacting my hosting provider to increase the `tmp_table_size` and `max_heap_table_size` to see if that solves the issue.

[2016-08-31 10:09] kartikasodariya17 commented on #1581
Can you please give me both files one is events,xml and Observer.php ? So it will help for me .
Thanks

[2016-08-31 10:18] cherreman commented on #6056
We are having the same issue.

However, the types seem to be saved in a PUT operation via /products/{sku}/media/{entryId}

[2016-08-31 10:29] DevManav commented on #4737
@antonkril  I had this problem in all mails same as @lgt. This error is comes when my custom created theme is applied , if i select default theme blank or luma email templates working fine. Is there any solution?

[2016-08-31 10:31] NadiyaS commented on #6378
Hi @farior ,
we can not reproduce this bug. Can you provide more information to reproduce it (do you have some specified attributes for store, etc)
Thanks

[2016-08-31 10:43] Aartitops opened #6416 "Add to cart redirection"
Hi,
I use  Magento ver. 2.0.0.
I want to chnage add to cart button with more info button and i change button text also redirect url but it can't redirect product detail page.
Actual result:-
![tifin](https://cloud.githubusercontent.com/assets/20356638/18125863/1cf308ea-6f96-11e6-9681-61773fa41fb9.png)

Excepted result:-
when i click on more info button it will redirect product detail page.

[2016-08-31 10:49] firestorm23 commented on #4330
I guess I found what was the problem.

If you have your theme fresh installed e.g.

1) You placed your theme in the app/design/frontend dir
2) You entered admin section with Design configs
3) This time themes are checked and this particular class engaging theme register

https://github.com/magento/magento2/blob/6ea7d2d85cded3fa0fbcf4e7aa0dcd4edbf568a6/app/code/Magento/Theme/Model/Theme/Registratio

[2016-08-31 11:09] picamator commented on #6198
@Asitis  thank you for your details.
But we still can not see error in our screen.
Could you please fill gaps (marked as [gap to fill]):
1. Create storeviews in admin
2. [gap to fill] What configuration that storeviews have, like localization etc.?
3. [gap to fill] Do you add attributes, attributes set, products after creating storeviews?
4. [gap to fill] Do you always follow all notification if t

[2016-08-31 11:10] tkacheva commented on #5423
@Ctucker9233, if you still have this issue with CLI upgrade, please provide detailed steps end environment you are using so that we are able to reproduce the case. We managed to reproduce the issue only with direct override the files which is not the right way to upgrade.

[2016-08-31 11:12] veloraven commented on #5953
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one, but follow the [template ](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines)please

[2016-08-31 11:12] #5953 closed, assigned to nobody

[2016-08-31 11:14] tkacheva commented on #5010
@blizam I'm closing the ticket due to lack of information from your side. Once you test and have issues to report, please feel free to reopen it.

[2016-08-31 11:14] #5010 closed, assigned to tkacheva

[2016-08-31 11:16] veloraven commented on #5020
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: please specify Magento version and format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guide

[2016-08-31 11:16] #5020 closed, assigned to nobody

[2016-08-31 11:19] veloraven commented on #3296
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-08-31 11:19] #3296 closed, assigned to nobody

[2016-08-31 11:22] veloraven commented on #3349
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-08-31 11:22] #3349 closed, assigned to nobody

[2016-08-31 11:24] veloraven commented on #5255
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one.

[2016-08-31 11:24] #5255 closed, assigned to nobody

[2016-08-31 11:24] veloraven commented on #5149
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one.

[2016-08-31 11:24] #5149 closed, assigned to nobody

[2016-08-31 11:25] veloraven commented on #3610
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-08-31 11:25] #3610 closed, assigned to nobody

[2016-08-31 11:26] veloraven commented on #3025
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-08-31 11:26] #3025 closed, assigned to nobody

[2016-08-31 11:27] veloraven commented on #6124
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-08-31 11:27] #6124 closed, assigned to nobody

[2016-08-31 11:41] veloraven commented on #6408
@bondimedical3 thank you for your report.
Please try to clear browser's cache and let us know if it helped.

[2016-08-31 11:42] paales commented on #6415
Testing locally it was indeed solved by upping the limit to `512MB`.

[2016-08-31 11:43] PingusPepan commented on #6415
If you increase the size on fly and do not restart mysql server, truncate the table manually so it applies the new size for that table.

[2016-08-31 11:45] veloraven commented on #6416
@Aartitops thank you for your feedback.
Please provide more detailed steps: what exactly you have changed and how.

[2016-08-31 11:50] PingusPepan commented on #6416
You can't simply just edit the Add to cart button to redirect you to another page instead of adding the product to cart. You should edit the template more and completely replace the button with, for example, styled link so it looks like a button. That would be much easier than forcing the Add to cart button to do this.

[2016-08-31 11:54] PingusPepan commented on #6413
As far as I know, this affects admin only, so maybe the Admin Panel label should be added.

[2016-08-31 11:55] NadiyaS commented on #5209
Hi @ramiaros ,
we can not reproduce this bug. Magento_Swatches module installs correctly with all its sample data.
Please check this installation again. Is this problem still actual for you?

[2016-08-31 11:55] alexgoodey commented on #6287
Any update on this?

[2016-08-31 12:02] arthursp commented on #4642
The error is : a:4:{i:0;s:117:"DateTime::__construct(): Failed to parse time string (31 août 2016 13:59:12) at position 0 (3): Unexpected character";i:1;s:5345:"#0 vendor/magento/module-newsletter/Model/Queue.php(185): DateTime->__construct('31 ao\xC3\xBBt 2016 1...')

caused by the fact that the form is sent with french date format.

[2016-08-31 12:07] LS-Supriya commented on #6289
@katmoon : I have enabled developer mode. Still I couldn't find those headers

[2016-08-31 12:11] skovalenk commented on #4350
Hi. @mackelito about getting product images:
See \Magento\Quote\Api\Data\CartItemInterface in order to see what data can retrieved. As i see extension attributes are empty, so thats all data you can get.
In order to get product images you need to add them to extension_attributes
See this guide for extension attributes:
 http://devdocs.magento.com/guides/v2.1/extension-dev-guide/attributes.html

[2016-08-31 12:15] janhelleman commented on #5885
This is a crucial part of Magento, why is this open since 29th of July without any information whatsoever? Issue 5612 since 13th? Where can we see this internal ticket? Since this ticket is obviously not being updated?

[2016-08-31 12:22] developer-lindner commented on #6416
@Aartitops Why are using version 2.0.0 and create a ticket here when there is version 2.1.1 already out ? This is just a waste of time for everyone here.

[2016-08-31 12:24] developer-lindner commented on #6378
@farior Update to 2.1.1 and report back or close this ticket.

[2016-08-31 12:27] developer-lindner commented on #6331
@krzysztofkacela please update to 2.1.1 and report back or close this issue otherwise.

[2016-08-31 12:28] developer-lindner commented on #6304
@peec Update to 2.1.1. and report back if this issue still exists.

[2016-08-31 12:29] developer-lindner commented on #6281
@Corefix Update to 2.1.1. and report back or close this ticket otherwise.

[2016-08-31 12:29] developer-lindner commented on #6414
@tylerd92vn Update to 2.1.1. and report back or close ticket otherwise.

[2016-08-31 12:30] developer-lindner commented on #6293
@grasdaggel Update to 2.1.1. and report back or close ticket otherwise.

[2016-08-31 12:32] developer-lindner commented on #6265
Update to 2.1.1. and report back or close ticket otherwise.

[2016-08-31 12:32] tzyganu commented on #768
@piotrekkaminski This is not a feature request. It's actually a bug.
I forgot to mention this, maybe because it seamed obvious to me. Now that I think about it it's not that obvious.
Because the `acl.xml` file is missing in the checkout module, when creating a user role in the backend, I cannot give access to that role to the system->configuration->checkout section.
But anyway...I see that my PR f

[2016-08-31 12:56] PaulBoss commented on #3786
The same rules can be applied to the API, ofcourse. But it should not be open by default, which it was. And when enabling complete read only access to the product repository a user should be able to select which product properties should be visible via the API and only the visible products should be available.

If it is open by default and not meant to by the developer, developers will forget to c

[2016-08-31 12:59] arthursp commented on #4642
Maybe it's a timezeone problem , when override /vendor/magento/module-newsletter/Model/Queue.php like this :

[code]

It's working, maybe you should use DateTime::createFromFormat
http://php.net/manual/fr/datetime.createfromformat.php

[2016-08-31 13:02] IvanChepurnyi commented on #6336
@romainruaud Concerning parallel indexation, it was done in part on parallel indexation workshop and conference talk was about decoupled indexer structure that allows non-blocking implementation and parallelization on large data-sets. In the slides, there is a reference to an example of such an indexer with parallel indexation implementation.

[2016-08-31 13:06] peec commented on #6275
Can confirm this still, in 2.1.1. Using regular file storage system.

[2016-08-31 13:07] peec commented on #5633
Same as #6275 .

[2016-08-31 13:14] IvanChepurnyi commented on #6336
@romainruaud thanks for sharing your MongoDb implementation, it looks interesting. I've used MongoDB only as a caching layer between Magento and MySQL but still use EAV for storing the data, as exporting records by ID is almost no overhead to a MySQL DB. But exporting this data to the third-party system from MongoDB is not that fast is it possible to do from MySQL directly.

Only place where you s

[2016-08-31 13:21] sevos1984 commented on #5799
Did you clean your magento cache after upgrade? Also check your file permissions according to that doc http://devdocs.magento.com/guides/v2.0/install-gde/prereq/file-system-perms.html

[2016-08-31 13:34] sevos1984 commented on #5594
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-08-31 13:38] mktudock commented on #5885
I also want to point out again that ALL of these issues have the same core problem:

**The custom options get deleted and recreated with new ids on save**. For this ticket this means the translations get removed because new custom options are created that only contain information from the store view they were saved in .

(eg. You edit the option for german store view and on save a new custom optio

[2016-08-31 13:44] leoquijano commented on #4506
I agree with @TommyKolkman: this function is unusable as it is right now, so it looks more as a bug and not as a feature.

[2016-08-31 13:47] romainruaud commented on #6336
Hello @IvanChepurnyi , on M1 we had quite faster exports when reading data from MongoDB instead of MySQL, the simple fact that we were able to avoid many joins to EAV tables to get values was indeed better for us. And as we would have do with MySQL, all exports written with MongoDB were written with an "iterator logic" processing products one by one.

By doing this, we are able to index big catalo

[2016-08-31 13:48] veloraven commented on #3484
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-08-31 13:48] #3484 closed, assigned to nobody

[2016-08-31 13:51] clivewalkden commented on #5427
This is also happening on my 2.0.7 production store without sample data. I'll do some testing on a brand new version without sample data in the next couple of days. I would appreciate the ticket being re-opened.

[2016-08-31 13:56] ilol commented on #6287
Hi, we are in progress.

[2016-08-31 13:58] pboisvert commented on #4506
this is being tracked internally as a bug and should not have the improvement label

[2016-08-31 14:02] heldchen commented on #4442
seeing this as well in 2.1.1

[2016-08-31 14:07] alena-marchenko commented on #5642
Hi @arunkrsigmainfo

We've created MAGETWO-56932 internal ticket regarding this issue.
Thank you.

[2016-08-31 14:14] bka commented on #6357
I understand this problem a little better now. Chaning _Full Page Cache_ to Varnish instructs to Magento to replace some blocks with ESI tags. Because the Topmenu block is declared with ttl like this:

[code]

it is replaced by an ESI tag. The `data-mage-init` block for the menu is inside this template making the burger menu not working anymore.

![auswahl_008](https://cloud.githubusercontent.com/

[2016-08-31 14:22] andimov commented on #5502
@ktruehl
It was install from zip archive or from github or by "composer create-project"?

[2016-08-31 14:23] ktruehl commented on #5502
From zip archive.

[2016-08-31 14:32] grasdaggel commented on #6293
Still not working. No Indicator, or added items are shown in Minicart active part.

Upgraded to 2.1.1

[2016-08-31 14:41] nmallepally opened #6417 "Paypal Duplicate invoice error on magento 2.1.1 ce"
Magento 2.1.1 fresh install
Changed to Dev Mode
Add a new product
Enabled paypal Sandbox
Payment action:order
tested payment : duplicate invoice error
php 5.6.23
Maria DB
![paypal error](https://cloud.githubusercontent.com/assets/19605497/18133182/6d3f4bce-6f91-11e6-98b1-ae4623beebe6.png)

[2016-08-31 14:44] AVoskoboinikov commented on #5194
Hi @Dayssam,

Thank you for your report. I have created ticket (#MAGETWO-57880) in our internal jira to fix this. This issue will be closed after fix.

[2016-08-31 14:46] AVoskoboinikov commented on #5193
Hi @Dayssam,

Thank you for your report. I have created tickets (#MAGETWO-57881 and #MAGETWO-57882) in our internal jira to fix this. This issue will be closed after fix.

[2016-08-31 14:49] erikhansen commented on #4506
@pboisvert Glad to hear it. I would love to be able to use the JS bundling feature, but unless it's refactored to be smarter (as I suggested in a [previous comment](https://github.com/magento/magento2/issues/4506#issuecomment-224038390)), it's basically unusable.

While the coming adoption of HTTP/2 will make it more viable to run M2 without bundling (due to [multiplexing](https://http2.github.io/

[2016-08-31 14:50] leoquijano commented on #4506
I think this issue report should be reopened, right?

[2016-08-31 14:52] stamster commented on #6401
@katef : I'm not representative of Magento Commerce Inc. ...  :)  I completely agree with you, of course it is blocking for certain use cases  out there.

[2016-08-31 14:53] AVoskoboinikov commented on #5991
Bug confirmation is blocked right now with internal ticket #MAGETWO-57291

[2016-08-31 14:54] NadiyaS commented on #5762
Hi @etessari ,
as @oserediuk said , if you create configurable product without configuration it is saved as simple. Please provide all fields you fill for this product when you encountered this error.
@kanduvisla ,
all configurable products are editable and has correct data after upgrading Magento from 2.0.8 to 2.1.0.
Please provide more detailed steps to reproduce: when you have this error, what

[2016-08-31 14:54] IvanChepurnyi commented on #6336
Hey @romainruaud, 1h 30m is a bit too long for export process. I was effectively exporting 200k of skus for a single store view in 40s to external storage. You don't need to use JOINs on EAV structure in order to export it, there are much better ways to export data in a simple and scalable way. Magento itself didn't yet push MySQL to the limits, and if you do build your queries efficiently it can

[2016-08-31 14:57] mikelevy300 commented on #5999
I think I found a workaround.  For me it seems like the root issue was the price attribute not being in the 'Product Details' group of my destination attribute set.

Before I started tinkering, my destination attribute set had a 'Prices' group where the price attribute was located.  When I moved the price attribute out of the 'Prices' group back into the 'Product Details' group and deleted the 'Pr

[2016-08-31 14:58] antboiko commented on #5377
Hi @samuellinde , thanks for reporting this issue. Internal ticket MAGETWO-57884 was created.

Best,
Anton.

[2016-08-31 14:59] antboiko commented on #6293
Hi @grasdaggel , thanks for reporting this issue. Internal ticket MAGETWO-57884 was created.

Best,
Anton.

[2016-08-31 15:02] imbpp123 commented on #2567
Bug still exists in 2.1.0 version that i installed using composer. I dont think that you can fix it just adding @param comment to constructor...

[2016-08-31 15:05] AVoskoboinikov commented on #5882
Hi @to8gal
Could you please create separate ticket for your problem with percentage prices? It is only for non mixing different stuff in one ticket. Thank you. But it seams to me that message "Custom options with price type "percent" is not available for configurable product." is just informative and it does not mean that you have any errors.

[2016-08-31 15:08] AVoskoboinikov commented on #5763
Ok, thanks, I will close it then. Fill free to reopen it or create new if you will need.

[2016-08-31 15:08] #5763 closed, assigned to nobody

[2016-08-31 15:13] asemenenko commented on #6417
Hi @nmallepally such error appears if the PayPal account already has a transaction registered with the same Order Number (for the PayPal it is Invoice ID). This happens when you have to stores that use the same number sequence for the sales documents. In order to fix that you will need to go to your PayPal account, My Account > Profile > My Selling Tools > Credit Card Statement Name > "Allow multi

[2016-08-31 15:13] #6417 closed, assigned to nobody

[2016-08-31 15:20] enrico69 opened #6418 "Question: cookie not working with Full Page Cache enabled"
### Preconditions
1. **OS** of the server: Debian (Virtualized, with 3GB of memory)
2. **OS of the client**: Windows 7
3. *\* Browser of the client**: Chrome Version 52.0.2743.116 m (64-bit).
4. **MySQL:** Ver 14.14 Distrib 5.6.31
5. **PHP:** PHP 7.0.8-1~dotdeb+8.1 (cli) ( NTS )
### Steps to reproduce
1. Issue a cookie, with PHP or JavaScript
### Expected result

1.  The cookie should be considere

[2016-08-31 15:23] alena-marchenko commented on #5638
Closing as duplicate to #5642

[2016-08-31 15:23] #5638 closed, assigned to alena-marchenko

[2016-08-31 15:36] SewHappy58 commented on #2703
It's not fixed in Magento 2.1.1

[2016-08-31 15:36] SewHappy58 commented on #2564
Still broken in 2.1.1

[2016-08-31 15:51] paales commented on #6415
I've changed the storage engine to `InnoDB` for now, which seems to solve the issue (might be a performance hit).

[2016-08-31 15:57] arunkrsigmainfo commented on #5642
Thanks a lot. Please let me know once its fixed or any fix as we are facing
this many client even after we are using Magento 2.1.

We have a lot of clients Migrating from M1 to M2 and we would suggest that
because of performance and these issues the clients started re-thinking.

Hope you understand.

Thanks and regards,

Arun Kranth Rayudu
Technical Architect
Magento Certified Developer || Magento

[2016-08-31 16:11] philipvandebriel commented on #6413
Hi,

We have exact the same problem since Magento 2.1, edit product in admin then page freeze about 1 min. We have about 4000 categories. In magento 2.0.7 everything works fine.

[2016-08-31 16:18] soragan commented on #6265
problem still exist in 2.1.1

perform update from 2.1.0 using compose update and recompile magento. tested on both safari and chrome, on os x 10.11.6

[2016-08-31 16:19] philipvandebriel commented on #6413
We have ,

Magento 2.1.0
Php 5.6
Redis
Debian 8.5 - 64G
Mysql 5.6.32

[2016-08-31 16:35] wbyrnetx commented on #5241
I am also experiencing this same issue. Clearing the cache temporarily resolves the issue. I find that if you clear the cache, visit a category page first, and then a configurable product page you'll be able to reproduce the issue every time.

[2016-08-31 16:38] paales commented on #5762
I'm also seeing this issue with Magento 2.1.1, will report if I have extra information available how to fix the issue.

[2016-08-31 16:40] to8gal commented on #5882
It is cause i do not have any price setting as anything but fixed

Sent from my phone

Luca Cagnassi
Media Designer at 5preview AB

(+46) 722111977

Luca Cagnassi is also: www.to8gal.com

“Think Green – Please do not print this email or any printable file attached unless you really need to“

[2016-08-31 16:49] paales commented on #6415
Also present in Magento `2.1.1`

[2016-08-31 16:53] dapdx opened #6419 "Magento 2.1 to 2.1.1 upgrade .htaccess overwrite"
Just wanted to point out that when using the admin to upgrade to 2.1.1 from 2.1 your .htaccess file gets overwritten. Since we use multiple store fronts our domain magrun commands were deleted so our storefronts weren't working. Not sure what other stuff people might have in their .htaccess, but just a warning.
### Preconditions

Magento 2.1 upgraeing to 2.1.1 via admin panel
PHP 7
**Updated(09/27

[2016-08-31 17:00] heldchen commented on #6418
i guess you want to read the cookie value inside a block. but with full page cache, this page (and block) is cached, therefore only the first pageview will actually try to read the cookie. you need read up on fpc hole punching to ensure the block is never cached.

[2016-08-31 17:02] dapdx opened #6420 "New order email header logo not showing correctly v2.1"
Store logo in new order confirmation email is not showing correctly. In the theme configuration I have set the transaction logo image to a custom image. When orders are placed the custom image is not included and it is defaulting to the Magento stock image.
### Preconditions

Magento 2.1 on PHP 7
Multiple store fronts using custom theme
### Steps to reproduce
1. In admin go to Content/Configuratio

[2016-08-31 17:09] apurv-anand opened #6421 "Cart Price Rules: Category selection UI for Actions do not come up."
M2.1.0
Cart Price Rules: Category selection UI for Actions do not come up.

Issue
Category selection UI under Actions does not come up if when a rule is created. The selection UI will come up.

Steps:
- Go to marketing > cart price rules.
- Try creating a rule, with few categories selected under Actions.
- The categories UI does not pop up. Clicking on the button does not do anything.

Expected: T

[2016-08-31 17:39] paales opened #6422 "2.1.1 Configurable product "%1" does not have sub-products"
### Preconditions

1. I've upgraded to a Magento 2.1.1 installation
### Steps to reproduce

1. Create a configurable where the product with the lowest price isn't in stock
2. Hide products in stock
3. Now search the product on the frontend.
### Expected result

1. It doesn't use the product that isn't in stock / selects all products or something
### Actual result

<details>
  <summary>

(Click me)

[2016-08-31 17:41] southerncomputer commented on #5823
` ---/vendor/magento/module-quote/Model/QuoteManagement.php  2016-08-25 22:54:32.000000000 -0400
+++ vendor/magento/module-quote/Model/QuoteManagement.php       2016-08-31 13:34:30.249250519 -0400
@@ -456,6 +456,7 @@
             $order->setShippingAddress($shippingAddress);
             $order->setShippingMethod($quote->getShippingAddress()->getShippingMethod());
         }
+$order=$this->quoteAd

[2016-08-31 17:42] skhell opened #6423 "Paging, sorting missing in Widget Product List Grid"
### Preconditions

1. Magento CE 2.1.0
### Steps to reproduce

1. Login to the backend
2. Click the sidebar Content --> Pages
3. Create a new page by adding the widget product list to the content as the image below
4. Activate page controls (show_pager="1")
   ![screen shot 2016-08-31 at 19 35 10](https://cloud.githubusercontent.com/assets/20488700/18139509/277e8bce-6fb2-11e6-876d-e017443f5add.png

[2016-08-31 17:49] dapdx opened #6424 "Error creating configurable products in 2.1.1"
This was working fine in 2.1, but now in 2.1.1 there is an issue. When creating a configurable product, when you click into the "create configurations" menu, the first couple steps work fine. I am able to select the correct attribute, then select the values I want to apply, then on the next step, all the settings work fine (apply image to all products, apply custom quantities, ect), but when you g

[2016-08-31 18:02] wbyrnetx commented on #5241
I tracked the issue down to this method

Magento\ConfigurableProduct\Model\Product\Type\Configurable::getConfigurableAttributes

It caches configurable attributes and their options. What happening for us is that when browsing a category page, only a subset of the configurable attributes are needed (i.e. for layered nav). That cache entry gets saved. Then when you browse to a product page, it picks

[2016-08-31 18:08] erikhansen commented on #3038
@Everyone following this thread: Magento 2.1.1 now supports being able to exclude/include themes, languages, and areas when running `bin/magento setup:static-content:deploy`.  Huge props to @denisristic for this pull request.

![html -bash 133x80-zrkta](https://cloud.githubusercontent.com/assets/129031/18140547/a389c472-6f7b-11e6-8913-3c839a3602b7.png)

So for example, you can now exclude `Magento

[2016-08-31 18:18] erikhansen commented on #6409
I'm also experiencing this issue on a clean 2.1.1 install running in production mode. When I run the site in developer mode, I don't see the issue.

[2016-08-31 18:22] enrico69 commented on #6418
Thank's! I didn't know this feature.

[2016-08-31 18:22] #6418 closed, assigned to nobody

[2016-08-31 18:38] bpgkt commented on #5405
use php_value[max_input_vars] = 10000
instead of max_input_vars

[2016-08-31 18:43] hostep commented on #6419
Related/duplicates:
- https://github.com/magento/magento2/issues/6285
- https://github.com/magento/magento2/issues/4930
- https://github.com/magento/magento2/issues/6221
- https://github.com/magento/magento2/issues/4697

[2016-08-31 18:51] gman-1986 commented on #5836
Does anyone know if this issue is fixed in 2.1.1.

[2016-08-31 19:13] erikhansen commented on #3038
@hostep [brought it to my attention](https://github.com/magento/devdocs/pull/804#issuecomment-243857845) that 2.1.1 also includes parallel asset compilation. I've tested this and compiling 5 themes on my local environment only took 30 seconds. As a result of this, I think the flags to exclude themes/locales are less useful since excluding them will make a much less significant impact on compilatio

[2016-08-31 19:16] esilvajr opened #6425 "When cache is enable can't getLastRealOrder()"
Well, i think the subject say farly about the error.

When access the $this->_checkoutSession->getLastRealOrder()->getId() object to get the last order id, return null if my cache was enable

[code]

If i disable the cache, works fine...

[2016-08-31 19:36] robfico commented on #4636
2.1.1 store, tried to remove sample data, same result:
bin/magento sampledata:remove

Warning: file_get_contents(/home/XXX/www/app/code/Smartwave/Porto/composer.json): failed to open stream: No such file or directory in /home/XXX/www/vendor/magento/module-sample-data/Model/Dependency.php on line 109

[2016-08-31 19:39] knidie opened #6426 "update to 2.1.1 can not deploy content files"
update to 2.1.1 can not deploy static content  because missing deployed_version.txt,

  [UnexpectedValueException]
  Unable to retrieve deployment version of static files from the file system.

  [UnexpectedValueException]
  Unable to retrieve deployment version of static files from the file system.

  [Magento\Framework\Exception\FileSystemException]
  Cannot read contents from file "/var/www/htm

[2016-08-31 19:45] maconeto commented on #4363
confirmed. same environment, developer mode, magento 1 takes 2s to load a page while magento 2 takes 12s

[2016-08-31 19:48] ihor-sviziev commented on #6426
I also had this issue.
@knidie as temporary solution you could just create empty file in following path: /var/www/html/magento2/pub/static/deployed_version.txt

[2016-08-31 20:02] rudik99 commented on #6424
I have the same problem. I am also running 2.1.1 on PHP 7.0.9

Some additional information. If you regenerate your static files and make sure the file owner is the web server, then you will be able to "create" variants - but only on a clean install. I found the with Migrated databases the error is still present.

To make matters worse. If you edit the description of a configurable product (without

[2016-08-31 20:26] knidie commented on #6426
thanks, it works great!!

[2016-08-31 20:51] choukalos commented on #6407
Hi @plentyhappy I'll jump in for @mbrinton01; we've got this partially implemented in mainline now (shipping & invoice transacting).  We're working on getting that into a patch (TBD on date) while the team addresses credit memo/rma functionality (TBD on date for that follow up patch).

[2016-08-31 20:54] AvidCodeReader commented on #1795
Same problem. Fresh install 2.1

[code]

[2016-08-31 21:31] hostep commented on #3038
@erikhansen: not every hosting provider will have enabled the [pcntl PHP module](https://secure.php.net/manual/en/book.pcntl.php) which is necessary for the parallel computing, so I think it still makes sense to have those extra flags.
Good news about those 30 seconds 👍 , guess I'll have to redo my tests (most likely I missed something, it was already very late last night :p)

[2016-08-31 21:42] erikhansen opened #6427 "Admin w/ limited role unable to add products to cart from sidebar when creating order"
When an admin is assigned to a role that limits them to just Sales/Carts/Customer, it is not possible for them to add a product to the cart from the admin order create sidebar:

![magento admin questmark-17fqb](https://cloud.githubusercontent.com/assets/129031/18146939/02946e2e-6f98-11e6-8faf-5aa403ec9627.png)

![magento admin questmark-kmu1w](https://cloud.githubusercontent.com/assets/129031/1814

[2016-08-31 22:00] nomuprive commented on #5744
@justyn-clark any updates on how your team fixed the Magento 2.1 Cannot access/edit Blocks, Pages, Catalog and Categories from backend ?

Thanks!

[2016-08-31 23:09] SewHappy58 commented on #6424
I have same problem.  Also I have upgraded to 2.1.1 and now when I save a configurable product, it removes the associated simple products.  Is anyone testing these before releasing?

[2016-09-01 00:57] plentyhappy commented on #6407
choukalos - thank you so much for taking the time to answer my question :-)

[2016-09-01 01:09] sshymko commented on #6121
Experiencing the same issue here on Magento 2.1.
The mini cart does not get updated in result of the reorder.
Browser's local storage where the mini cart is cached only gets refreshed upon POST/PUT requests.
However, the reorder action is a regular link that results in an ordinary GET request.

[2016-09-01 01:19] TClilMouse commented on #4756
My Component Manager stops working in Magento 2.0.7.
Still not work after upgrade to Magento 2.1, but no error message in console
But getting the following error message after upgrade to 2.1.1

angular.js:8581 The specified value "{{currentPage}}" is not a valid number. The value must match to the following regular expression: -?(\d+|\d+.\d+|.\d+)([eE][-+]?\d+)?

solution #4756 doesn't work

[2016-09-01 01:47] epadmin commented on #5948
it seemed to work in 2.01 but on 2.1 it does not.  Are you using 2.1?

-------- Original Message --------
Subject: Re: [magento/magento2] Magento 2 configurable product selection
stock issue (#5948)
From: mjankiewicz notifications@github.com
Date: Wed, August 31, 2016 3:07 am
To: magento/magento2 magento2@noreply.github.com
Cc: epadmin admin@elemeno-pee.com,  Comment
comment@noreply.github.com

@M

[2016-09-01 02:32] tylerd92vn commented on #6414
I would prefer another way of fixing this problem than updating the whole framework. Anyways, thanks for your reply.

[2016-09-01 02:37] hectornguyen commented on #6409
@erikhansen I tried to change to production mode or developer mode in my case, neither works.

[2016-09-01 02:50] brobie commented on #6005
+1

[2016-09-01 03:31] pboisvert commented on #6413
@PingusPepan

Prepare >10 root categories
**Fill with many categories and subcategories**
Try to add or edit product

Can you be more specific in terms of how many categories and subcategories were added before this problem appears?

[2016-09-01 05:00] luxwan13 commented on #4828
Has anyone come up with a solution for this? I am having exactly the same problem.

[2016-09-01 05:04] PingusPepan commented on #6413
I don't know exactly because it was a migration, so all the categories
appeared at once.

I've tried removing about ~400 old categories but it made almost no
difference. We still have over 4000 categories in total.

I also believe that this problem will behave differently computer from
computer because it is a pure js problem. Magento overloads the js with too
much data. When I checked the HTML so

[2016-09-01 05:08] bondimedical3 commented on #6408
I did another update with composer and all is good now.

[2016-09-01 05:08] #6408 closed, assigned to nobody

[2016-09-01 05:29] pratikmage commented on #4438
i have same issue when i add custom css file in email template.   [http://magento.stackexchange.com/questions/134160/magento-2-add-css-file-in-custom-module-email-template]

[2016-09-01 05:49] bondimedical3 commented on #6408
I have cleared the cache and run into multiple problems. Same issue has appeared again where Admin links do not open and product images and store logo is not showing on the frontend.

[2016-09-01 05:55] shashanksatpute opened #6428 "Unable to set price when adding configurable product through REST API (Magento CE 2.0.7)"
I have deployed magento 2.0.7 on XAMP server. I want to add configurable product through rest API.
For that I used  http://host:port/Magento/index.php/rest/default/V1/products API. And post below data
"product": {
                            "sku": "product_name",
                            "name": "product_name",
                            "status": 1,
                            "type_id": "co

[2016-09-01 06:17] MorganGonzales commented on #6422
This happens to me as well after I upgraded from 2.1 to 2.1.1.

[2016-09-01 06:46] salelsol opened #6429 "Can´t finish upgrading to M2.1.1 with SSH CLI [InvalidArgumentException]"
- I can´t finish upgrading M2.1 to M2.1.1 due to cli command: php bin/magento setup:upgrade not works afther: composer update.
  ![cli](https://cloud.githubusercontent.com/assets/16081377/18157819/e819ea3c-701f-11e6-9f84-ec7172cc068c.jpg)

Best Regards
Toni

[2016-09-01 06:46] friizu opened #6430 "Magento_Review: disable brakes product page in admin"
Disabled reviews under admin -> stores -> configuration-> advanced ->advanced

Expected to disable reviews from store

Bug: product page in admin brakes
Message: Attention, Something went wrong.

Console:
Failed to load resource: the server responded with a status of 500 (Internal Server Error)
.../admin/mui/index/render/?namespace=review_listing&isAjax=true

Product reviews tab is still there and

[2016-09-01 06:50] veloraven commented on #2873
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 06:50] #2873 closed, assigned to nobody

[2016-09-01 06:50] veloraven commented on #3353
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 06:50] #3353 closed, assigned to nobody

[2016-09-01 06:50] veloraven commented on #3094
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 06:50] #3094 closed, assigned to nobody

[2016-09-01 06:51] veloraven commented on #3434
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 06:51] #3434 closed, assigned to nobody

[2016-09-01 06:51] veloraven commented on #3699
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 06:51] #3699 closed, assigned to nobody

[2016-09-01 06:51] veloraven commented on #3766
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 06:51] #3766 closed, assigned to nobody

[2016-09-01 06:53] veloraven commented on #3524
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 06:53] #3524 closed, assigned to nobody

[2016-09-01 06:53] veloraven commented on #3495
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 06:53] #3495 closed, assigned to nobody

[2016-09-01 06:53] veloraven commented on #3527
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 06:53] #3527 closed, assigned to nobody

[2016-09-01 06:54] veloraven commented on #3501
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 06:54] #3501 closed, assigned to nobody

[2016-09-01 06:54] veloraven commented on #3543
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 06:54] #3543 closed, assigned to nobody

[2016-09-01 06:56] hostep commented on #6426
Indeed, I noticed this too: https://github.com/magento/devdocs/issues/419#issuecomment-243555654

Since you can resolve it by creating an empty file, this feels like a regression bug which crept into the 2.1.1 release. Maybe you should reopen the bug and let the Magento devs comment on this if this was an intentional change or not...

[2016-09-01 07:01] developer-lindner commented on #6414
@tylerd92vn You should always update when possible. There are huge changes between 2.0.7 and 2.1.1. Some changes also may already address your issue. Creating tickets here for outdated versions is absolute nonsense and just a waste of time for everyone.

[2016-09-01 07:12] Bartlomiejsz commented on #6335
@benmarks, @piotrekkaminski or someone from Magento team. Could you write here your opinion about suggestion to stop implementing new funcionalities and focus for at least one month (it should be enough in my opinion) on resolving issues from community and merging helpful pr's?

[2016-09-01 07:20] andidhouse commented on #6424
Same here - just tested with an upgraded version to 2.1.1.

Can anyone of the magento team pls check this.

I realized that a lot of new bugs appear on every update. Things that worked perfect in former versions now cause problems (fotorama bugs etc. etc.).

I think this must be a quality check problem on magento side. To me it appears as new features are implemented and not tested completely 👎
A

[2016-09-01 07:31] romainruaud commented on #6336
I was not speaking exactly about exporting, but about indexing the catalog in ElasticSearch, which implies that it cannot be "pure SQL" but need to have PHP working on each product to format data properly (casting, exploding if needed, having integer value and text label if attribute is used for filtering, etc...) which is an incompressible time consumer for the indexing process.

But anyway, this

[2016-09-01 07:38] shiftedreality commented on #4828
Looks like it still issue. Reopened.

@koenner01, @luxwan13 which version of Magento do you use?

[2016-09-01 07:39] hostep commented on #4828
@koenner01 is on holiday, so I'll answer in his name: we use Magento CE 2.1.0

[2016-09-01 07:42] Aartitops opened #6431 "Can't show attribute"
Hi,

I use configurable product with associated simple product and now i made one attribute and it is not showing into layered navigation filter into category page.

Actual result:-

![actual](https://cloud.githubusercontent.com/assets/20356638/18159263/88622e08-7045-11e6-8d45-b3bcbf54e882.png)

expected result:-
Attribute should be showing there.
Thanks.

[2016-09-01 07:44] shiftedreality commented on #4828
@hostep, thank you for the fast answer.

Created internal ticket MAGETWO-57911 to investigate this issue.

[2016-09-01 07:46] juhanix commented on #6366
@wired-circuit
why don't you let magento run as www-data:www-data? It just makes things easier.

But to be honest I had the same issue after running the `setup:static-content:deploy` command.
Trying to open the magento2-instance in chrome: Permission Denied: Some Cache File has the ownership root:root with restricted rights -> execution error, because webserver-user can't open/read it.

The proble

[2016-09-01 07:47] veloraven commented on #3213
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 07:47] #3213 closed, assigned to nobody

[2016-09-01 07:54] veloraven commented on #3775
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 07:54] #3775 closed, assigned to nobody

[2016-09-01 07:56] mom4751 commented on #6078
Hi,
i have just tried with Magento CE 2.1.1 and the issue is still here.
So the fix has not been implemented yet :-(

[2016-09-01 08:07] paales commented on #6429
Run `php bin/magento` to see what error you are running into

[2016-09-01 08:14] veloraven commented on #5032
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 08:14] #5032 closed, assigned to nobody

[2016-09-01 08:15] magento2developer commented on #5475
Have the same problem after upgrading to Magento 2.1.0 from 2.0.7, anyone actually figure out what was going on here?

[2016-09-01 08:16] salelsol commented on #6429
Afther rename var/generation folder  I´m running bin/magento setup:upgrade previously removed vendor folder but now I´m this issue when go to backend:

1 exception(s):
Exception #0 (Magento\Framework\Exception\LocalizedException): Please upgrade your database: Run "bin/magento setup:upgrade" from the Magento root directory.
The following modules are outdated:
Magento_Sales data: current version -

[2016-09-01 08:19] veloraven commented on #5575
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 08:19] #5575 closed, assigned to nobody

[2016-09-01 08:34] paales commented on #6429
In general, before upgrading run: `rm -rf var/di var/generation var/cache var/page_cache`

The Exception says you should run:
`bin/magento setup:upgrade`

[2016-09-01 08:43] PRAKASHSIVASANKAR commented on #5196
Amazing Guys this awesome...

this issue fixed...

[2016-09-01 08:45] mjankiewicz commented on #5948
Yes. I use Magento ver. 2.1.1 (installed by `composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition magento2demo`)

[2016-09-01 08:47] rbncha commented on #6359
I have the same issue. None of these show any products: category pages, new arrivals, featured, most popular/viewed.

It happened after I upgraded from 2.0.7 to 2.1.1.

**Edited**
One more thing,

The Admin > Product > Categories page giving this error
`a:4:{i:0;s:137:"Notice: Undefined offset: 186 in /home/exampledomain/public_html/vendor/magento/module-eav/Model/ResourceModel/ReadHandler.php on

[2016-09-01 08:54] PascalBrouwers commented on #6415
In my opinion: try not to have all the logic in 1 mysql query, but try to have some logic in PHP that divides it into multiple queries. This way mysql doesn't blow up ;)

[2016-09-01 08:55] arielmorry commented on #2966
Hi @AzVo
1. Install fresh copy of Magento 2.1 (Magento-CE-2.1.0-2016-06-23-02-28-19.tar.gz)
2. Set Default time zone to > Israel Standard Time (Asia/Jerusalem)
3. Set Default Currency to > Israeli New Sheqel (ILS)
4. Set Default Language to Hebrew
5. Set Developer mode
6. Deploy static content with Locale he_IL and en_US (for admin)
7. Admin > Stores > Configuration > Customers > Customer Configur

[2016-09-01 08:59] ComputerNorth commented on #5873
Thanks milanstojanov. For me the default attribute is:

+------------------+----------------+--------------------+------------+
| attribute_set_id | entity_type_id | attribute_set_name | sort_order |
+------------------+----------------+--------------------+------------+
| 4 | 4 | Default | 1 |
+------------------+----------------+--------------------+------------+
So I changed Magento\Customer\Ap

[2016-09-01 09:01] bery commented on #5196
Hi guys,

I would not call turning pagespeed of either in server config or .htaccess file a solution when it can be disabled for admin pages and kept on for frontend. Sample nginx pagespeed config that works for our use cases

[code]

Please note that we are updating the config as we go and keep finding affected URLs

[2016-09-01 09:06] katmoon commented on #6121
The issue is resolved and will be available in 2.1.2 patch version.

[2016-09-01 09:10] Giri-Happiest-Minds opened #6432 "Response "Shipping address is not set" for set-payment-information Magento 2 Rest API"
JSON Reference: http://devdocs.magento.com/swagger/index.html#/

Steps followed
Step 1 --> http://<magentohost>/rest/default/V1/guest-carts  -- 200 OK
Step 2 --> http://<magentohost>/rest/default/V1/guest-carts/{cart id}/items  -- 200 OK
Step 3 --> http://<magentohost>/rest/default/V1/guest-carts/{cart id}/shipping-information – 200 OK
Step 4 --> http://<magentohost>/rest/default/V1/guest-carts/{c

[2016-09-01 09:17] wired-circuit commented on #6366
I did all that, followed the documentation to the letter.  In the end I have trashed the EC2 instance and commissioned a preconfigured Bitnami Instance with Magento 2.0.6, which works perfectly in every way I would expect.

[2016-09-01 09:19] salelsol commented on #6429
- At end just upgraded to M2.1.1 ( I´m thinking the best issue was with var/generation folder I don´t removed it completly all files inside before running bin/magento setup:upgrade command line).

Best regards
Toni

[2016-09-01 09:39] AVoskoboinikov commented on #3882
Hi

Thanks for contributing. I have created internal ticket MAGETWO-57917 with this issue. This will be closed after fix.

Thanks again

[2016-09-01 09:40] PRAKASHSIVASANKAR commented on #4449
I Fix this issue,

just add the below code your .htaccess file

`<IfModule pagespeed_module> ModPagespeed off </IfModule>`

[2016-09-01 09:42] Blackskyliner opened #6433 "Magento 2.1.1 release seems to be desync from Github."
I got an installation today, which got upgraded to 2.1.1 by the customer.
Problem is, the regression from #5116 is not fixed in this installed version.

I checked the file dates, they all relate to 31.08.2016 so the system was updated yesterday.
So I checked the composer.json and the module-sales version is 100.1.1 so it should have the fix.

But then I looked into the templates within the module,

[2016-09-01 09:45] MorganGonzales commented on #5948
Hi @mjankiewicz,

Thank you for the response, after investigation, it seems that this conflicts with the extension MagicToolbox_MagicZoom.

Anyway, it is working now. However, is there a tweak where in it should show the slash/not-available, if just the status alone is "Out of Stock", regardless of the "Quantity" value? As observed, "Quantity" should be set to zero (0) for this to work.

Thank you

[2016-09-01 09:46] MorganGonzales commented on #5948
@mjankiewicz Does it mean, this issue is still not yet resolved in 2.1.1???

[2016-09-01 09:56] JacobDrummond commented on #5942
@tanberry,

Magento 2.1.1 has [been released](http://devdocs.magento.com/guides/v2.1/release-notes/ReleaseNotes2.1.1CE.html). There is no accompanying "Backwards Incompatible Changes" document. Is this a documentation gap, or are there truly no backwards incompatibilities?

[2016-09-01 10:01] maderlock commented on #5408
Having added a column to the order grid as well I'm getting the same issue, so this seems to be a function of custom columns. Is there any known cure?

[2016-09-01 10:07] hostep commented on #6433
PR #5116 isn't merged in 2.1.1, why do you think it was merged in 2.1.1?

2.1.1 only contains critical bug fixes (well, next to some nice improvements in the static files deploy proces), and PR #5116 is certainly not a critical bug. So I think it makes sense it isn't included.

I highly suspect the PR will be included in a later version (2.1.2, 2.1.3, 2.1.4, ...)

[2016-09-01 10:14] SchumacherFM commented on #6284
Sorry for opening this issue. @fooman solutions works fine :-) Thank you Christoph!

[2016-09-01 10:14] #6284 closed, assigned to nobody

[2016-09-01 10:25] Blackskyliner commented on #6433
Okay, seems I misread something on Github while reviewing before creating my issue. 2.1.1 does not incorporate the fixes from the #5116 you are right. Maybe I was falsely on the develop branch or such.

But then my question, why is it not considered to be included? The bug itself breaks the administrative interface and if something which should work as intended just throws exceptions at you so I f

[2016-09-01 10:25] #6433 closed, assigned to nobody

[2016-09-01 10:36] jwittorf opened #6434 "WYSIWYG Editor parses out variables, can't link emailadresses"
I'm trying to create a link to the "General Contact Email" in the editor. Just outputting the link as plain text works but there are troubles when using variables in a link.
### Preconditions
1. Magento 2.1.0
2. PHP 5.6.24
3. MySQL Server 5.6.32
4. No sample data installed
### Steps to reproduce
1. Edit a CMS page
2. Show the editor
3. Write some text, optionally use a variable like "General Conta

[2016-09-01 10:40] cscd98 opened #6435 "The default store cannot be disabled"
Magento 2.1.1 - Clean Install

Login to Admin - Goto Stores - All Stores. Click on the default store view

Enter a new name for the default store view.

Click on Save.

You get an error message:

[code]

I am however not disabling it - I am just renaming it.

The status is still "Enabled"

[2016-09-01 10:45] mjankiewicz commented on #5948
Yes. The issue isn't resolved in 2.1.1. (tested on fresh installation Magento 2.1.1 with sample data)

[2016-09-01 10:55] JacobDrummond opened #6436 "Feature request: Way to disable new customer welcome email when creating a customer in admin"
### Environment
1. Apache 2.4.17
2. MySQL  5.0.11-dev
3. PHP 5.6.15
4. Magento 2.1.0
### Feature request
1. Way to disable new customer welcome email when creating a customer in admin
### Current behavior
1.  No checkbox to disable welcome email:
   ![hama-1](https://cloud.githubusercontent.com/assets/8377620/18164857/1a596d96-703a-11e6-94ef-28ba2f82ebbd.png)
### Desired behavior
1. The admin cust

[2016-09-01 11:09] farior commented on #6378
@developer-lindner After upgrade to 2.1.1 problem has gone, so bug reproduces only in 2.0.9

[2016-09-01 11:09] maderlock opened #6438 "shipping and billing address ids not set on sales_invoice table for paypal express invoices"
### Preconditions

1. Magento 2.1.0, PHP 7, Mysql 5.7
2. PayPal Express enabled
### Steps to reproduce

1. Put order through using PayPal Express
2. Visit Invoice Grid
3. Display columns billing name, shipping and billing addresses
### Expected result

1. These columns would be populated
### Actual result

1. These cells are blank for PayPal Express Payments
   ![screenshot 2016-09-01 12 05 36](ht

[2016-09-01 11:24] developer-lindner commented on #6378
@farior Then close this ticket...

[2016-09-01 11:24] bka commented on #5596
Confirmed here. We need the cookie allow feature thats why using true doesn't work for us. The root cause for this problem lies in `module-cookie/view/frontend/web/js/notices.js`, where the cookieValue is not saved as a JSON string. After confirming cookies the value just gets saved as "[object Object]", which cannot be interpreted by `_getAcceptedSaveCookiesWebsites` in `module-cookie/Helper/Cook

[2016-09-01 11:27] MaximKitsenko opened #6439 "API SOAP Orders sorting doesn't work"
steps to reproduce:
**Make API call with this body:**

[code]

**Th answer is:**

[code]

**The problem is in sorting since when i removed this field:**

[code]

**I received correct answer:**

[code]

[2016-09-01 11:30] veloraven commented on #4756
@abhijitbanik2016 , @seavenger ,
Could you try to clean Magento cache, browser cache and browser's local storage,  and try again?
If your problem still reproduces please create separate issue for it as it seems to be different problem than originally described in this issue.
Note, to clean browser cache and local storage you can click Ctrl+Shift+Del and select Cache, Offline Website Data, cookies.

[2016-09-01 11:36] maderlock commented on #5639
So I'm guessing that this is not fixed in 2.1.1? It's a major sticking point for clients that rely on the order grid to process orders (as seems reasonable). They currently have to move back and forth between the invoice grid for printing and the order grid for other tasks. Given #6438 on top of this, the invoice grid is hard to use itself if you have customers using PayPal.

Please please put som

[2016-09-01 11:38] maderlock commented on #4974
Is there still an update needed? Clear steps to reproduce...

[2016-09-01 11:38] MaximKitsenko opened #6440 "Magento 2.X version detection"
Previous versions of magento (1.7.x-1.9.x) provides API Method that returns current magento store version. Why did you removed this API in Magento2? Please add this method to API!

I'm developing Magento wrapper for .net ([https://www.nuget.org/packages/MagentoAccess/]) and i need this API to  support a lot of Magento's versions.

[2016-09-01 11:46] bka opened #6441 "Google Analytics Tracking Code cached by Varnish if Cookie Restriction Settings are active"
This one is related to #5596. After working around this issue we discovered a problem when using varnish as a full page cache.
### Preconditions
1. Tested on Magento 2.1 CE
### Steps to reproduce
1. Enable Varnish Cache
2. Enable Cookie Restriction Mode under General->Web->Default Cookie Settings
3. Enable Google Analytics under Sales -> Google API
4. Visit Store Front
5. Accept Cookies
### Expect

[2016-09-01 12:19] tanghia commented on #4920
Me too!

I have one production website and two demo websites. All of them got this issue when save a complex HTML content from editor. (it works well for simple content )
![image](https://cloud.githubusercontent.com/assets/7329746/18167077/d353d8de-7078-11e6-9e5c-609e9fbda0b8.png)

[2016-09-01 12:25] veloraven commented on #6101
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 12:25] #6101 closed, assigned to nobody

[2016-09-01 12:36] tanghia commented on #4920
Oh, i detected that if your html content contains special characters like: %20 (space), You can't save...This issue must be fixed.

[2016-09-01 12:51] NadiyaS commented on #6008
Hi @melnikovis ,
as I see from your DB you have strange ids for pages (3, 5, 7, 9, 11). Usually they should be 1, 2, 3, 4. and in Magento we really have a bug where we expect exactly the same ids sequence and CMS Upgrade Data tries to upgrade page by id = 4.
Please use the latest released magento version (2.1.1) or branch 2.1 where you won't have this problem in install, but content of privacy-pol

[2016-09-01 12:51] schmengler opened #6442 "magento/framework depends on zendframework/zend-stdlib but it's missing from composer.json"
### Preconditions
1.  Installed magento/framework as composer requirement
### Steps to reproduce

1.  use `\Magento\Framework\Phrase`
### Expected result
1. No fatal error
### Actual result

1. `Fatal error: Interface 'Zend\Stdlib\JsonSerializable' not found`

This is a problem when I run unit tests on an extension without having installed it in a complete Magento environment. `magento/framework`

[2016-09-01 12:54] apurv-anand opened #6444 "Cart Price Rule: Category selected under Actions do not get saved completely."
M2.1.0
Cart Price Rule: Category selected under Actions do not get saved completely.

Issue: While creating cart price rule, the categories selected under actions do not get saved completely. Out of multiple selections, only few are getting saved. Not sure it is about the total variable length issue (we have few tens of categories).

Steps:
- Go to Marketing> Cart Price rule.
- Create a rule, unde

[2016-09-01 12:57] picamator commented on #6326
@TommyKolkman  thank you, it's clear now.
We will start to proceed that issue as a technical improvement.

As for the time being you could try these solutions:
1. for `+` use `&#43;`
2. for base64_encode string - substitute space to `+` and return as an object, see code sample bellow

Here is a widget xml:

[code]

Here is a block:

[code]

Here is a template:

[code]

So having that widget you ca

[2016-09-01 13:02] patrickunic opened #6445 "Newsletter Subscription is cancelled automatically on Account Confirmation"
### Preconditions

Version 2.1.1
### Steps to reproduce

Create a new Account
Select "Sign up for Newsletter"
Open Confirmation Mail and click the Confirmation-Link.

It looks like in site/vendor/magento/module-newsletter/Model/Subscriber.php:_updateCustomerSubscription the subscription parameter is not correctly referenced. Then we get $status = self::STATUS_UNSUBSCRIBED; and later a Mail with th

[2016-09-01 13:17] ddznelad commented on #6384
I found that my fix work for simple product, but for configurable product the issue remains.
In case of configurable product  everything is fine until I hit "Place Order" button after PayPal procedure: I get "can't place an order' error (caused by exception in magento/module-catalog/Model/Product.php ) . See attached log.
[system_log.txt](https://github.com/magento/magento2/files/449702/system_log

[2016-09-01 13:26] heldchen opened #6447 "Configurable product final price uses a deactivated associated product's price"
when the minimal price of all children stems from a deactivated and/or out of stock product, its price is still used as final price in the catalog listing and product page
### Preconditions
1. CE 2.1.1
2. configurable product SKU 123 with 3 children (SKU 1: price $1, SKU 2: price $2, SKU 3: price $3)
3. multi-store (1 website, 2 languages) -  not sure if relevant tho
4. no full page cache
### Step

[2016-09-01 13:29] veloraven commented on #6123
@seavenger I was able to reproduce your issue and created internal ticket MAGETWO-57934.

[2016-09-01 13:29] maderlock commented on #6438
It would appear that at the point of saving the invoice, there is no shipping or billing address available on the order itself, so it may be the order in which these things are being placed.

[2016-09-01 13:32] heldchen commented on #6422
I've just reported a similar issue but with "state" instead of "stock": #6447

[2016-09-01 13:47] ednacool opened #6448 "White space in images"
Hi,

Any solution from Admin panel or from anywhere else white space in resized images coming from cache.

[2016-09-01 13:54] paales commented on #6429
@salelsol If your problem is solved, could you close the ticket?

[2016-09-01 14:08] ktruehl commented on #4442
Here's a patch that might at least serve temporarily. I tried to figure out how to do this properly, but seriously, can you make these things even more (unnecessarily) complicated? So I put together a hacky patch until Magento gets its act together.

[fix-switching-of-old-prices-for-configurable-products-vendor_magento_module-catalog_view_base_web_js_price-box.diff.zip](https://github.com/magento/

[2016-09-01 14:15] AVoskoboinikov commented on #5901
Hi,
Thanks for reporting. I have created internal ticket MAGETWO-57937 to fix this bug. This issue will be closed after fix.

Thanks again

[2016-09-01 14:19] veloraven commented on #6065
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 14:19] #6065 closed, assigned to nobody

[2016-09-01 14:20] alena-marchenko commented on #5735
Hi @joebusby

I was unable to reproduce this issue on 2.0 and on latest develop branch, closing the issue.
Please feel free to reopen the issue if it still occurs.

[2016-09-01 14:20] #5735 closed, assigned to alena-marchenko

[2016-09-01 14:20] veloraven commented on #3616
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 14:20] #3616 closed, assigned to nobody

[2016-09-01 14:21] veloraven commented on #3776
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 14:21] #3776 closed, assigned to nobody

[2016-09-01 14:22] veloraven commented on #3849
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 14:22] #3849 closed, assigned to nobody

[2016-09-01 14:22] veloraven commented on #4909
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 14:22] #4909 closed, assigned to nobody

[2016-09-01 14:23] veloraven commented on #5382
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
If this issue still reproducible please feel free to create the new one: format new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, ac

[2016-09-01 14:23] #5382 closed, assigned to nobody

[2016-09-01 14:46] heldchen commented on #6424
@SewHappy58 a content manager in our shop also reported this after our 2.1.1 upgrade, but I am not able to reproduce it. neither using her account nor on a nightly backup - when I save the product, the associated simple products are kept...

[2016-09-01 15:00] veloraven commented on #6425
@esilvajr thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-09-01 15:00] clivewalkden commented on #5427
Seems to only happen when caching disabled, works fine when caching enabled.

[2016-09-01 15:06] AVoskoboinikov commented on #5730
Hi guys,

Thanks for reporting this. I have created internal ticket MAGETWO-57945 to fix this bug. This issue will be closed after fix

[2016-09-01 15:15] veloraven commented on #6430
@friizu please try to clear browser's cache and let us know if it will help.

[2016-09-01 15:17] veloraven commented on #6431
@Aartitops thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with detailed steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-09-01 15:17] #6429 closed, assigned to nobody

[2016-09-01 15:20] sevos1984 commented on #5661
How magento can count one customer account on two websites in different currency if customer is shared for two websites? Admin panel always shows account in default currency.

[2016-09-01 15:22] veloraven commented on #6432
@Giri-Happiest-Minds thank you for your feedback.
Please, provide the used Magento version.

[2016-09-01 15:29] picamator commented on #6312
@bondimedical3  Thanks for reporting.
Unfortunately  we can not reproduce this issue.

Could you please add more information:
1. Do you have clear Magento 2.1 installed or you have upgraded 2.0.x up to 2.1?
2. Could you please follow those steps:
2.0. Check number of items in your `session` table
2.1. Run on server `redis-cli`
2.2. Run  `SELECT 0`
2.3. Refresh any frontend page
2.4. Run on server

[2016-09-01 15:29] veloraven commented on #6439
@MaximKitsenko thank you  for the report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-09-01 15:32] paales commented on #6429
:)

[2016-09-01 15:32] sevos1984 commented on #5603
Duplicate of https://github.com/magento/magento2/issues/6313

[2016-09-01 15:32] #5603 closed, assigned to nobody

[2016-09-01 15:35] veloraven commented on #6442
@schmengler thank you for report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-09-01 15:36] sevos1984 commented on #5879
Duplicates https://github.com/magento/magento2/issues/6240

[2016-09-01 15:36] #5879 closed, assigned to nobody

[2016-09-01 15:39] veloraven commented on #6444
@apurv-anand thank you for report.
Please, provide the used version. If the problem is actual for a specific tag, please, specify it and be sure that the latest update was used.

[2016-09-01 15:41] sevos1984 commented on #5517
We will close this issue as not updated more than 2 weeks if this issue still reproducible please feel free to create the new one.

[2016-09-01 15:41] #5517 closed, assigned to nobody

[2016-09-01 15:42] friizu commented on #6430
@veloraven - No it won't help (cleared browser cache, cleared page cache etc). Also all is ok if i enable it again. Seems like disable wont remove review tab on admin product page and cause module is disabled it can't load content to this tab. I suppose this tab should not be on admin product page at all after module itself is disabled.

[2016-09-01 15:43] veloraven commented on #6448
@ednacool thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the used Magento version.

[2016-09-01 15:45] sevos1984 commented on #5499
I cant't reproduce this, is this still actual?

[2016-09-01 15:49] sevos1984 commented on #5363
Try to run 'bin/magento indexer:reindex'.

[2016-09-01 15:51] sevos1984 commented on #5343
This should be fixed in 2.0.8, have you tried updating your code base?

[2016-09-01 15:56] sevos1984 commented on #4842
This should be fixed in latest 2.0 version, have you tried updating your code base?

[2016-09-01 16:20] ktruehl commented on #5499
Hm. It seems to be fixed in CE 2.1.1. What version are you using?

[2016-09-01 16:22] leftclickben opened #6449 "Image import does not work when serving from the `pub/` directory"
When the web server configuration sets the web root to the `pub/` directory, rather than the Magento installation root, importing images does not work.
### Preconditions
1. Magento 2.0.8 via composer, but it looks like the problem is not fixed in 2.1.x
2. PHP 5.6.22
3. MySQL 5.6.30
4. Permissions and file ownership are set as per http://devdocs.magento.com/guides/v2.0/install-gde/prereq/integrator

[2016-09-01 16:26] brittany89 commented on #6176
I have the same issue after migration. _The value of attribute "is_active" must be set_ then if I don't get that error I get _URL key for specified store already exists._ I'm not exactly sure where I can look for duplicates in the database but I know that there is only one of that key visible in the backend and if I try to change the URL key to something completely different I know is not on the s

[2016-09-01 16:28] alena-marchenko commented on #5479
Hi @darragh1001

According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.
Issues described in comments are duplicate to #4580, #5714

[2016-09-01 16:28] #5479 closed, assigned to sdzhepa, alena-marchenko

[2016-09-01 16:50] janepoltoratskaya opened #6450 "Exception on /persistent/index/unsetCookie/ if quote has shipping address"
### Preconditions

1. Magento 2.1
2. Persistne shopping cart is enabled
### Steps to reproduce
1. As a guest add a product to Shopping cart
2. Go to checkout
3. Enter email (not in the system), shipping address
4. select shipping method
5. Go to Payment step
6. Go to Home page
7. go to /persistent/index/unsetCookie/ page
8. Observe exception: 'Shipping address is not set'
### Expected result

1. A

[2016-09-01 17:09] ihor-sviziev opened #6451 "Login Popup broken on iPad portrait"
Login popup is broken on iPad (portrait orientation) when using Magento/blank theme.
### Preconditions
1. Install Magento 2.1.1
2. Use Magento/blank OR Magento/luma theme
3. Disable checkout for guests ( Admin >> Stores >> Configuration >> Sales >> Checkout >> Checkout options >> Allow Guest Checkout  >> Set to "No" >> Save Config button)
4. Flush cache
### Steps to reproduce

1. Go to your websit

[2016-09-01 17:43] TClilMouse commented on #5999
Thank you for the direction. No more issue after adding the "Bundle Items" group in my destination attribute set.

[2016-09-01 17:45] Rabiteks commented on #6432
I have faced same problem. I use magento 2. Please suggest us

[2016-09-01 18:02] heldchen commented on #6424
we did some screen sharing sessions with our content manager to try to reproduce the problem. I was not able to find a pattern. most of the configurable products saved just fine after modifying their values, others would save but loose their associated products.

then one case we observed the product was saved ok,  then immediately edited again due to a misspelled word in the description, and this

[2016-09-01 18:06] hostep commented on #6430
@friizu: this bug also existed in Magento 2.1.0 and was reported 4 or 5 times before. So please try to search for existing issues before creating a new one :)
Linking to the issue where all the other issues also get linked into: https://github.com/magento/magento2/issues/5323

[2016-09-01 18:19] developer-lindner opened #6453 "No update (2.1.1) available for composer?!"
When are we able to upgrade properly with composer to latest version?

[2016-09-01 18:20] friizu commented on #6430
Hmm I did not had this issue in 2.1.0 I got this after update from 2.1.0 to 2.1.1

[2016-09-01 18:24] hostep commented on #6453
Since 2 days ago:

[code]

Please close ticket :)

[2016-09-01 18:56] hostep commented on #4359
@piotrekkaminski: can you remove the `needs update` label, I don't think this is correct and removing it might lead to this ticket being picked up a little bit faster...
Also: still no MAGETWO reference number ...

Thanks! :)

[2016-09-01 19:15] davidalger commented on #6131
Please take additional discussion to the forums per the link provided by Piotr: https://community.magento.com/t5/Magento-2-Feature-Requests-and/Deployment-and-Front-End-Development/idi-p/44979

[2016-09-01 19:33] PetraSwed commented on #6331
@krzysztofkacela can you explain what you mean you have changed format? I am having the same issue.

[2016-09-01 19:36] amarroni commented on #3509
@gabriel-sf what do you mean "renaming the tables and removing the table prefix"

We are trying to configure PayPal PayFlow Pro (test mode first) in our site and we are expecting the error of AMT 0.00
We tried all mentioned above, nothing works, any additional help? I appreciate!
Cc: @OleksiyOleksiyovych

[2016-09-01 19:44] Gorkyman commented on #6378
Got the same error while migrating from 1.6.2.0 to 2.0.9.

This issue is related to a function `public function addTierPriceData()` in `module-catalog/Model/ResourceModel/Product/Collection.php`. $websiteId is only declared in if condition. It seems like it can happen that attribute doesn't have a global scope and storeId is not set on the collection. It could be that this is already solved in 2.1

[2016-09-01 19:50] rma-web commented on #2703
I am having this issue too. It would be great to be able to create configurations from existing products instead of relying on the configurable products builder to create them. I am using CE 2.1.1 in developer mode.

[2016-09-01 19:57] ttnnkkrr commented on #4853
same error occured while enabling new component installed not via marketplace on 2.1.0 CE

[2016-09-01 19:58] ttnnkkrr commented on #4853
I would really like to know if there is ever going to be a problem free Magento 2.x iteration that is going to work out of the box

[2016-09-01 20:17] pinkdigital commented on #3754
This is still an issue in 2.1. Without an image in theme/web/image it ignores the theme.

[2016-09-01 20:17] gewaechshaus commented on #6424
In our case, the configurable products children are loosing prices if you update the configurable product itself. In conclusion with every small change made, you'll have to mass update the associated simple products price.

Composer 2.1.1

[2016-09-01 20:26] heldchen commented on #6424
@gewaechshaus if you're not using en_US as locale in the admin backend, you ran into issue #5973

[2016-09-01 20:39] tmiron opened #6454 "Required parameter 'theme_dir' was not passed"
### Preconditions

1.
2.
### Steps to reproduce

1.
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-09-01 20:40] tmiron commented on #6454
Getting Error Required parameter 'theme_dir' was not passed - Magento 2.0

Came out of no where one day everything fine, today (9/1/16) get errror when uploading image

Any help would be great, thanks

[2016-09-01 20:52] bka opened #6455 "Cookie Restriction Mode Overlay is cached by Varnish"
Ok, here is another one related to full page caching with varnish. It's related to these other issues: #6441, #5596. Using cookie restriction mode in combination with varnish does not work, because this block is not declared as non-cachable. Having cookie restriction mode enabled, customer is asked by a dialog to accept cookies. This cookie notice block contains the question: _"We use cookies to m

[2016-09-01 20:54] ghost commented on #2666
Can confirm that rosandrest's solution works, removing the external links altogether helped with 2.1

[2016-09-01 20:55] SewHappy58 commented on #5573
Still a problem in 2.1.1

[2016-09-01 21:13] gabriel-sf commented on #3509
Hi @OleksiyOleksiyovych
Check if your database table manes have any kind of prefix.  For example
"mg_" and remove them so they have the default name from Magento.
It seems that there is a function somewhere that had a bug which did not
added the prefix to the table and it's causing this issue.
Hope it helps

On 2 Sep 2016 5:36 AM, "Alejandro Marroni" notifications@github.com wrote:

[2016-09-01 21:35] developer-lindner commented on #6453
@hostep

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - The requested package magento/product-community-edition could not be found in any version, there may be a typo in the package name.

Potential causes:
- A typo in the package name
- The package is not available in a stable-enough version according to your minimum-stability setting
  see https://g

[2016-09-01 22:26] pboisvert commented on #6436
@ilol can you file this as a functional regression bug

[2016-09-01 23:36] doomdance commented on #4853
Looks to be duplicate of #6078 which has a workaround

[2016-09-02 00:24] jibrandlr commented on #6362
@sevos1984 Is there a temporary solution for this? If so, could you share it here? I'm sorry to ask here but I haven't found a solution anywhere else.

[2016-09-02 01:26] benmarks commented on #6335
To all: there have been some suggestions that Magento core team should focus on resolving issues and improving developer experience. The timing of these comments is perfect, as this decision was already made by us two weeks ago.

We don't have an explicit duration for this period of focused issue burn down and developer experience improvements, but I suspect that you'll see the effects during the

[2016-09-02 01:33] heldchen opened #6456 "Catalog: Product: Impossible to set a value on the website scope for website-scoped attributes"
the store view selector does not allow to select the website, only store views. the value of an attribute with scope "website" is actually stored in the catalog_product_entity table with the store_id of the currently selected storeview... which leads to invalid results
### Preconditions
1. CE 2.1.1
2. a website (code: "this") with 2 store views ("de" + "fr")
3. a website (code: "that") with 2 stor

[2016-09-02 02:34] heldchen opened #6457 "Expired special_price is still shown for configurable products when no variant is selected"
### Preconditions
1. 2.1.1
2. configurable product with two variants (SKU 1: $8.90, SKU 2: $10)
### Steps to reproduce
1. edit SKU1 and set special price options like so:
   ![image](https://cloud.githubusercontent.com/assets/299636/18190910/453902ec-70c6-11e6-823b-4baccbbc6028.png)
2. reindex & clear cache
3. view product
### Expected result
1. no special price should be shown when page is loaded

[2016-09-02 02:39] heldchen commented on #6453
your composer setup might be broken, works here. the resulting composer.json is:

[code]

try manually setting the version to `2.1.1` in your compsoer.json and make sure you still have `https://repo.magento.com` in your repositories.

[2016-09-02 03:28] Giri-Happiest-Minds commented on #6432
@veloraven
The version is Magento 2.0.2

[2016-09-02 03:48] deepanshu27193 commented on #5351
any update ?

[2016-09-02 04:00] pboisvert commented on #5351
@deepanshu27193 please reopen the issue if you are still encountering the problem

[2016-09-02 04:15] Aartitops opened #6458 "package module"
Hi,

I using magento 2.0.0 And i going to made tifin service website and i want to made onew type of package module like rice varity, sabji varity etc.

Actual result:-
Made package module into category page.
Excepted result:-
![filter](https://cloud.githubusercontent.com/assets/20356638/18192443/e169d9d6-70f1-11e6-9100-bb5cc6cd2dd9.png)

It is possible or not in magento 2.0.0?
Thanks.

[2016-09-02 04:20] pboisvert commented on #6458
@Aartitops doesn't seem like you are reporting a coding issue with Magento. Questions such as this in terms of how to code to solve a particular problem are best suited for Stack Exchange or the Forums. If so please close and move your question there. If you are reporting an issue, please use the reporting guidelines to state the problem, your system info, and steps to reproduce the error you are

[2016-09-02 04:24] Aartitops commented on #6458
Hi,
can you explain me properly what you say?
thnaks.

[2016-09-02 04:30] pboisvert commented on #6458
In simplest terms:
- if you found a problem with the Magento 2 code=report here as an issue and we will investigate
- if you need to know how to code something in Magento 2 and the developer documentation does not answer your question=post a question in the [Magento Stack Exchange](http://magento.stackexchange.com/?tags=magento2)

[2016-09-02 04:32] azeemism opened #6459 "[2.1.1 CE] Backup of database (--db) does not gzip file."
Running `php bin/magento setup:backup --code --media --db` as `www-data` creates a `*_db.sql` file instead of a `*_db.gz` file as indicated in `http://devdocs.magento.com/guides/v2.1/install-gde/install/cli/install-cli-backup.html`. The backup was run while in developer mode. I have not tested under production mode, but I expect the same result.

Obviously as the database sizes grows this will bec

[2016-09-02 04:36] bondimedical3 commented on #6312
1. I have a 2.0.x upgraded to 2.1
   2.0 I have deleted everything in the session table
   2.1, 2.2 Done
   2.3, 2.4 Done
   2.5 Two entries only both which start with "sess_
   2.6 Session table has remained empty.

Notes: I have upgraded to 2.1.1 yesterday so perhaps this fixed the issue.

[2016-09-02 04:46] azeemism opened #6460 "[2.1.1 CE] Rollback/Restore deletes database (--db) backup file in ${webroot}/var/backups."
This is a follow up on a separate issue that may be related to #6459

Running `php bin/magento setup:rollback -c 1472780740_filesystem_code.tgz -m 1472780740_filesystem_media.tgz -d 1472780740_db.sql` as `www-data` in developer mode looks to correctly Rollback/Restore Magento, however the *_db.sql file created during the backup is deleted.
### Preconditions:
1. Magento 2.1.1 CE (Composer install)

[2016-09-02 04:58] rishabhrkrai opened #6461 "Content Customization"
When I am setting transactional email logo, and press save configuration, it not saving the configuration and gives warning for Other Setting and Product Image Watermarks values.

### Preconditions

1. I use Magento version 2.1
2. Use PHP 5.6 and Apache 2.4
### Steps to reproduce

1. Go to Content -> Configuration -> Edit Theme -> Transactional Emails -> Set Logo and then Save configuration
### Ex

[2016-09-02 05:10] pboisvert commented on #6461
closing as duplicate of #6275

please search for duplicates before reporting

[2016-09-02 05:10] #6461 closed, assigned to nobody

[2016-09-02 05:24] developer-lindner commented on #6453
@heldchen my composer.json looks like this right now:

[code]

What am i missing here?
It's almost identical to latest composer.json of version 2.1.1 but can't update with it.

[2016-09-02 05:46] rishabhrkrai commented on #6461
thnx @pboisvert , not the same problem bt i resolved it

cheers!

[2016-09-02 06:13] krzysztofkacela commented on #6331
@developer-lindner I've updated magento to 2.1.1 and it's working now, thank you.

@PetraSwed oh I think you misunderstand It's about format of issue. Anyway it work after update to 2.1.1 version.

[2016-09-02 06:32] adnan-jamil commented on #3905
please comment the link of this MAGETWO-50893, i could not find this.

[2016-09-02 06:36] Walters-Kuo opened #6462 "order summary no include product tax"
![order_summary](https://cloud.githubusercontent.com/assets/3149367/18194412/09efc2b4-7118-11e6-8867-a7069e41b7ac.png)
![product_tax](https://cloud.githubusercontent.com/assets/3149367/18194411/09ef6a9e-7118-11e6-880a-6633f050f320.png)
![site_tax_config](https://cloud.githubusercontent.com/assets/3149367/18194416/09f0e824-7118-11e6-9643-86bfa6c6f214.png)
![site_tax_config_1](https://cloud.githubus

[2016-09-02 06:43] senthilengg commented on #6159
@victor-v-rad  I didn't configure any rule. But I do installed the sample data. Hopefully you can replicate with that. And you can also check @moloughlin comment above.

[2016-09-02 06:47] SchumacherFM commented on #6146
This bug or missing feature has not been fixed/added in 2.1.1

[2016-09-02 06:52] Giri-Happiest-Minds commented on #6432
@veloraven Tried with Magento 2.0.7 too but facing the same issue.

[2016-09-02 06:52] ihor-sviziev commented on #6453
@developer-lindner if you cloned git repo from github please use following instruction:
http://devdocs.magento.com/guides/v2.1/install-gde/install/cli/dev_options.html

[2016-09-02 06:54] senthilengg opened #6463 "User Roles issue with limited user permission for Content --> pages"
### Preconditions

1. Magento 2.1
2. PHP 5.6 , Nginx+PHP-Fpm
### Steps to reproduce

1. Create a new User Role.
2. Content --> Pages should only be allowed.
3. Assign the role to any user.
4. Login with the above user credential and make sure you have access to only Pages.
5. Go to Pages
6. Click Add New Page -->  Click Content --> Click Show Hide Editor ( Press F5 or refresh the page )
7. Try Ins

[2016-09-02 07:05] senthilengg commented on #6002
To add to it, if you upload advanced pricing using csv ( bulk upload ) then go a head and  view the same product in the catalog --> product section --> Advanced Pricing . It shows with thousands separator now try to save.

**Expected Result**
  Product should be saved.
**Actual Result**
  We found a duplicate website, tier price, customer group and quantity.

[2016-09-02 07:26] ednacool commented on #6448
Using version 2.0.9 i am talking about the cache images last version of magento i.e 1.9 whenever i want to change size i remove the resize code i.e ->resize(40,40) to  ->resize()

I am talking about that code product media images

Hope it make sense

[2016-09-02 07:32] senthilengg commented on #4767
@magento-team  any update on this. I too have the similar problem but not with the number.

For me, few products showing again in the catalog page up on going to the next page using the pagination.

For example i land up in some catalog page --> http://www.example.com/example.html it shows more than 100 products and the name of the first product is **product 1**

If i click the pagination in the b

[2016-09-02 07:56] flipflap opened #6464 "Error production mode, dan't save cms page in production mode"
### Preconditions

1. PHP 5.6
2. Memory Limit 1024 M
3. Magento 2.0.9
### Steps to reproduce

1. Switch to production mode
2. Skip compile as I get this error as many other people reported already

[code]
1. php bin/magento deploy:mode:set production --skip-compilation
### Expected result

1. Magento should be faster and work
### Actual result

1. Magento is very slow
2. CMS Pages can't be saved a

[2016-09-02 08:02] kweij opened #6465 "Asymmetric transaction rollback Exception overthrows SQL error, impedes debugging"
### Preconditions
1. Add an attribute to Customer and use it in grid, e.g.:

[code]
1. Forget (hey, everybody's got to learn) to add the attribute to the indexer
   (http://magento.stackexchange.com/a/116462/14759)
### Steps to reproduce
1. Add/save a new Customer
### Expected result

The SQL error of the missing field in the `customer_grid_flat` table. Or maybe an Exception that let's me know tha

[2016-09-02 08:09] philipvandebriel commented on #5339
Hi,

We have the same problem after upgrading to magento CE 2.1.1

[2016-09-02 08:14] denis-g opened #6466 "LESS data-uri not work"
http://lesscss.org/functions/#misc-functions-data-uri
### Preconditions
1. Magento 2.1 EE, Magento 2.1.1 EE
### Steps to reproduce
1. include to your less file
   `.class { background-image: data-uri('../images/image.jpg'); }`
2. run deploy static content
   `./bin/magento setup:static-content:deploy`
3. or run grunt
### Expected result
1. insert in css base64/utf-8 image source
   `.class { backg

[2016-09-02 08:20] veloraven commented on #6312
I'm closing this issue as the problem was resolved.

[2016-09-02 08:20] #6312 closed, assigned to nobody

[2016-09-02 08:25] veloraven commented on #6454
@tmiron thank you for your feedback.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.
Please, also provide the exact used Magento version.

[2016-09-02 08:29] Bartlomiejsz opened #6467 "Braintree not available in multishipping"
### Preconditions
1. Magento 2.1.1
2. Braintree configured
### Steps to reproduce
1. Add products to cart
2. Try finalize order using multishipping
3. Go to billing section
### Expected result
1. Braintree available just like in onepage chekout
### Actual result
1. Braintree is not available

[2016-09-02 08:33] NadiyaS commented on #5235
Hi @rbostan ,
seems like your session was expired or value of 'admin/security/session_lifetime' less than 60. To check this value go to Stores > Settings > Configuration > Advanced > Admin > Security > Admin Session Lifetime. Default value for session lifetime is 900.

[2016-09-02 08:58] xmav commented on #4588
Issue has been fixed

[2016-09-02 08:58] #4588 closed, assigned to nobody

[2016-09-02 09:00] sevos1984 commented on #6434
Internal ticket created MAGETWO-57978, thanks for posting.

[2016-09-02 09:07] sevos1984 commented on #6435
Internal ticket created MAGETWO-57979, thanks for reporting

[2016-09-02 09:11] kanduvisla commented on #4170
I can also confirm what @vasilii-b describes after an upgrade from 2.1.0 to 2.1.1

Also, after refreshing the page, the session message 'You added %s to your shopping cart.' won't disappear.

[2016-09-02 09:30] sevos1984 commented on #6447
Internal ticket created MAGETWO-57982, thanks for reporting

[2016-09-02 09:33] Buyur commented on #1471
This is not just related to import but can happen when trying to save a product/category as highlighted.  Surely a relatively simple fix to append the sku or incremental ?  This could be a simple parameter at store level same as the suffix?

Any suggests for a quick 'hack' until a permanent fix is available - perhaps an override to the relevant core file(s)?

[2016-09-02 09:38] devonto commented on #1471
On the bespoke code I have created when importing from an XML file, I prepend the `url_key` with the current `time()`, save it, then change the `url_key` to be prepended with the `entity_id`.

[code]

Hope that helps!

[2016-09-02 09:43] Nilson89 opened #6468 "Customer-Data stored in cookie storage not within storeview namespace"
### Preconditions
- Magento 2.1.0
- Magento Installation with a shop, that has more than one store view (de, at, ch)
### Steps to reproduce
1. Create different shops with different domains:
   a. Shop A: www.shop-a.com (also cookie domain with cookie path "/")
   b. Shop B: www.shop-b.com (also cookie domain with cookie path "/")
2. Create store Views for different languages in Shop A
   a. German

[2016-09-02 09:44] firestorm23 opened #6469 "'Apply_to' column from catalog_eav_attribute has strange behaviour"
### Environment

Magento 2.0.2, local server, Windows 10
### Steps to reproduce

A.
1. Create an attribute 'testA' with Dropdown type through InstallData.php and fill the column 'apply_to' from table 'catalog_eav_attribute' with some product types, e.g. 'simple'
2. Try to add a product with Configurations, choosing 'testA' attr. as config. option.
3. This 'test' attr. **will not be seen** in the C

[2016-09-02 09:44] apurv-anand commented on #6444
Version has been updated as 2.1.0
Latest updates where used.

[2016-09-02 09:45] apurv-anand commented on #6396
The requested steps are provided. Please update and accept the bug.

[2016-09-02 09:45] developer-lindner commented on #6453
Ok got it... switched composer.json with the one from a magento2 composer install.
Thanks guys!

[2016-09-02 09:45] #6453 closed, assigned to nobody

[2016-09-02 09:51] apurv-anand commented on #6420
Is there a workaround available? This seems to me as a blocker issue. How can a store go live with emails not showing the right logo?

[2016-09-02 09:53] sevos1984 commented on #6428
Thanks for reporting, internal ticket added MAGETWO-57983

[2016-09-02 09:56] fendowuk commented on #6424
Same issue here, if we edit a Configurable product it dissociates all simple products. This is a major issue, we have had to stop all further development, this needs addressing immediately.

[2016-09-02 09:59] SchumacherFM commented on #5959
Still relevant in M2.1.1

[2016-09-02 10:00] peec opened #6470 "[2.1.1] Backup tool, issue with symlinked media folder."
Symlinked `media` folder is often used for high availability clustered setups where mounting the shared resources (such as pub/media) amongst multiple physical machines.
### Preconditions
1. Install Magento 2.1.1 CE
2. Env: PHP 7, Nginx, Varnish, Production mode
3. Using media storage default (file system).
### Steps to reproduce
1. Create /mediastorage folder.
2. Symlink pub/media to . /mediastor

[2016-09-02 10:03] SchumacherFM commented on #1002
Any updates?

[2016-09-02 10:14] tibkov commented on #1011
Hi! For the time being you can checkout my "[magento2-api-doc](https://github.com/tibkov/magento2-api-doc)" repo.

It holds the whole class library documentation (generated from source code) for Magento CE (Community Edition) 2.1.0 GA release.

Magento 2.1.0 was downloaded with composer, and the "ROOT/vendor/magento" folder has been processed for API documentation by the "Sami" API doc generator.

[2016-09-02 10:20] Buyur commented on #1471
Thanks Devonto - I was thinking more in terms of an override to the vendor/Magento/module-catalog-url-rewrite and related modules which would simply append the sku or EntityId - this would cater for both Admin and Import/Export routines and ensure that the key is always unique however created or updated :)

I havent worked out yet how to override core functionality etc as I am finding M2 a steep l

[2016-09-02 10:22] devonto commented on #1471
@cghill66 Hope this will give you an idea on what could be done at that level; should you get round to it before a more permanent solution is found.

[2016-09-02 10:22] apurv-anand opened #6471 "M2.1.0: System Upgrade: Component Dependency throws error, does not give any details."
M2.1.0: System Upgrade:  Component Dependency throws error, does not give any details.

This issue occurred again while upgrading M2.1.0 to M2.1.1

The upgrade triggered from admin interface fails at component dependency. The error does not give any clue which component is facing the issue. No logs (at least I am not able to locate it) has the details.

Steps:
- Login to M2.1.0 backend.
- Go to Sy

[2016-09-02 10:34] farior commented on #5661
I have 4 different websites each with one store group and one store view. Each website with differect currency
Dashboard currency is set to SEK. Customers is shared between websites.
If customer makes order in Website with SEK currency > Dashboard shows values and currency as expected (in SEK)
If customer makes order in Website with USD currency > Dashboard shows USD values, but with SEK label

Th

[2016-09-02 10:35] filipac commented on #6372
I have the same error too. I installed and upgraded to 2.1 via composer. Now i get this error.

[2016-09-02 10:53] gesell commented on #2630
Still not translatable in Magento 2.1.

"Shipping" works.
"Review & Payments" not.

Has it to do with the "&"?

[2016-09-02 10:57] peec commented on #5973
We're experiencing same issues. Needs addressing and patched fast. Configurable products are very essential.
Magento 2.1.1 CE.

As a development company. We have created nb_NO language for admin language. Also we are planning to create documentation for the admin panel, so our customers can use admin in a familiar way. Right now, we can't deliver magento 2 solutions because of this.

What this mea

[2016-09-02 10:59] veloraven commented on #6459
@azeemism thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-09-02 11:00] veloraven commented on #6460
@azeemism thank you for your report.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines): with steps to reproduce, actual result and expected result.

[2016-09-02 11:08] veloraven commented on #6462
@Walters-Kuo thank you for your report.
Please describe steps with words, not screenshots only .
To what exact step does you question refer?

[2016-09-02 11:12] veloraven commented on #6464
@flipflap please specify the used Magento version.

[2016-09-02 11:14] veloraven commented on #6465
@kweij thank you for your feedback.
Please specify Magento version used.

[2016-09-02 11:18] kweij commented on #6465
magento/product-community-edition, version 2.1.0

[2016-09-02 11:18] peec commented on #5316
Same problem. 2.1.1.

[2016-09-02 11:18] flipflap commented on #6464
Sorry, Magento 2.0.9

[2016-09-02 11:21] ilol commented on #6436
Registered MAGETWO-57988

[2016-09-02 11:23] veloraven commented on #6468
@Nilson89 thank you for your report.
Please clarify your steps and expected result:
- What do you mean as 'product of Storeview A'?
- Where should not it be shown at Storeview B?
  Please describe more detailed steps starting with product creation and its parameters.

[2016-09-02 11:53] deepanshu27193 commented on #5351
@pboisvert i cannot able to reopen this ticket. no option here at my side.

CC - @andimov

[2016-09-02 12:07] grasdaggel commented on #4170
So, is there a fix if you install from scratch, but not if you upgrade?

[2016-09-02 12:07] veloraven commented on #6448
@ednacool thank you for update with version number.
Please format description in standardized form:
_Steps to reproduce:_
1.
2.
3.
_Actual result:_
_Expected result:_
Otherwise it's hard to understand what is your problem and if it is a problem at all.

[2016-09-02 12:17] picamator commented on #6360
@ntoombs19 Thanks for reporting.
We've created internal ticket MAGETWO-57995 to fix it.

[2016-09-02 12:19] karmalis commented on #4170
If I recall correctly, our problem was that we based our theme on base, but had altered the template for the mini cart slightly. After the upgrade quite a few functions had changed so the minicart wasn't working. Readjusting worked just fine.

[2016-09-02 12:19] sevos1984 commented on #6450
Thanks for reporting, internal ticket MAGETWO-57996

[2016-09-02 12:31] PascalBrouwers commented on #6470
I think this is how the 'System Backup' is supposed to work. When you put it back your symlink is there again.
Now for the 'Database and Media Backup' you might have a point.

[2016-09-02 12:31] asemenenko commented on #6467
@Bartlomiejsz current implementation is build using hosted fields approach (tiny iFrames). Also we have a 3D Secure that is also build using frame. Existing multi address checkout creates multiple sales orders and requires multiple transactions to be created which can not be integrated seamlessly to Braintree since we need to display total amount for all orders to the client. We have item in the b

[2016-09-02 12:31] #6467 closed, assigned to alena-marchenko

[2016-09-02 12:35] Bartlomiejsz commented on #6467
Is there any estimation when you would be able to work on improving this part of checkout?

[2016-09-02 12:37] peec commented on #6470
I Agree for the "System Backup" - which essentially should copy the installation from the root folder. However, I used "Database and Media Backup" and expected that the contents of the media folder would be backed up.

[2016-09-02 12:42] katmoon commented on #6176
Hi @brittany89

Could you post the result of this query from your database, please?

select ci.*
from catalog_category_entity_int as ci
join eav_attribute as ea on ci.attribute_id = ea.attribute_id
join eav_entity_type as et on ea.entity_type_id = et.entity_type_id
where ea.attribute_code = 'is_active' and et.entity_type_code = 'catalog_category'

[2016-09-02 12:48] asemenenko commented on #6467
@Bartlomiejsz it depends on many variables, can not promise anything right now. I added this ticket number to notification list and it will be updated once it gets resolved.

[2016-09-02 12:52] Bartlomiejsz commented on #6467
Great, thanks a lot!

[2016-09-02 12:53] brittany89 commented on #6176
[catalog_category_entity_int.xlsx](https://github.com/magento/magento2/files/452023/catalog_category_entity_int.xlsx)
Please let me know if you need a different format.

[2016-09-02 13:02] katmoon commented on #6176
The format is good, thank you.

[2016-09-02 13:12] 11mb commented on #5380
Thanks for your answer.. So how can I establish the difference between an improvement and a bug? Clicking on an icon which is obvious intended to include a link and not for including a media item does seem as a bug to me. Removing that icon would be a solution..

[2016-09-02 13:15] sevos1984 commented on #6463
Permission for Widget and Products needed in this case. It is not a bug. Please, reopen if there are any objections.

[2016-09-02 13:15] #6463 closed, assigned to nobody

[2016-09-02 13:17] ihor-sviziev commented on #6468
@Nilson89 as I know magento allow you to have shared shopping cart betwean store views, so it is not an issue. If you want to have different shopping carts for store views - you should manage it with different domains, where cookies will be not shared.

[2016-09-02 13:22] alex-code commented on #6471
I've encountered this before, the fix for me was to increase the memory limit in PHP.

[2016-09-02 13:28] sevos1984 commented on #6457
Internal ticket created MAGETWO-58010, thanks for reporting

[2016-09-02 13:33] jernejh opened #6474 "Magento 2.1.1 - Authorize.net payment gateway - after order placement spinner keeps spinning"
### Preconditions

1. I freshly installed and configured 2.0.9, and then upgraded the store to 2.1.0 and recently to 2.1.1.
2. I am using the PHP 7.0 version.
3. My shop is in developer mode.
4. I enabled the LIVE mode in authorize.net and my backend settings are shown in picture 4 below.
5. I have read all current open issue threads on github regarding authorize.net problems with magento2.
### St

[2016-09-02 13:49] alena-marchenko commented on #6414
Hi @tylerd92vn ,

I cannot reproduce this issue.
Please provide more preconditions to reproduce this issue.

[2016-09-02 14:11] picamator commented on #6109
@nmallepally  Thanks for reporting.

Unfortunately we can not reproduce this issue.
1. Could you please put a sample of your import file with fake data?
2. Do you have any connected errors in your log files? If you have please put that information as well.
3. Do you choose "Customers Main File" during import?
4. How do you generate customer import file?

[2016-09-02 14:13] ghost commented on #5836
The issue still appears to be there after upgrading to 2.1.1.

[2016-09-02 14:31] reztierk opened #6475 "'shipping_method' column in sales_order and quote_address table size limit inconsistent/too small"
The size of the column 'shipping_method' in the sales_order and quote_address tables are too small and inconsistent. This may cause an issue with a custom carriers methods as some may have larger method codes ( ie Purolator has a method with a code of 'PurolatorExpressInternationalEnvelope10:30AM' )which will become truncated upon saving and make the order return errors when creating a shipment. I

[2016-09-02 14:31] pboisvert commented on #6462
@Walters-Kuo configuration rules at a glance look correct so the one thing to check would be for the products that were in the cart do you have the correct tax class set. It needs to be set to "taxable goods" in order for the rates to be applied in checkout. I don't see a screenshot for that so just offering this as an item to check.

[2016-09-02 14:51] PascalBrouwers commented on #6424
It does seem more and more issues derive from upgrades. When upgrading to 2.1.0 I could not create an Invoice!
These are basic functionalities that should be tested. Don't run you tests on a clean install but run them upgraded install too!

[2016-09-02 14:55] filipac commented on #4170
is there a known fix for this?

[2016-09-02 14:59] PascalBrouwers commented on #6345
Looks more like a PHP configuration @BardiaAfshin. I have no problem running Magento 2 on a Mac using Apache. Why would you want to use php's build-in web server?

[2016-09-02 15:12] firestorm23 commented on #5664
Got this issue too.
I'm not able to create product programaticly, using standard code with InstalData script and Magento\Catalog\Model\ProductFactory.

**Steps to reproduce:**

[code]

**Expected result**

  Status is 'Product is online', and Database value of attribute = 1

**Actual result**

Status is 'Product is offline', and Database value of attribute = 2

[2016-09-02 15:21] will-b commented on #4745
Having the same issue with a new attribute with a custom source model.
UI compoment options for custom attribute is empty because the DataProvider strips the data of the new attribute. Should the getFieldsMap method be public so that the fields can be modified via a Plugin or should the DataProvider take custom attributes into account (from form xml maybe) when retrieving the fields map.

[2016-09-02 15:28] picamator commented on #6424
@dapdx Thanks for reporting.
We've created internal ticket MAGETWO-58017 to fix it.

[2016-09-02 15:31] piotrekkaminski commented on #4359
MAGETWO-52770

[2016-09-02 15:32] heldchen commented on #6424
@picamator does MAGETWO-58017 also include the problem while saving a preexisting configurable product (and then losing the child asssociations) as discussed in the comments? if not, should a separate issue be opened?

[2016-09-02 15:33] andimov commented on #5502
@ktruehl
I've created an internal ticket MAGETWO-58014  for this issue and linked it to this one.

[2016-09-02 15:34] JacobDrummond commented on #6068
@andimov, has this issue been acknowledged and an internal ticket created?

[2016-09-02 15:40] andimov commented on #6068
@JacobDrummond
Thank you for reporting this issue!
This issue is not reproduced yet by our team members.
Could you please provide a solution with pull request in github?

[2016-09-02 15:46] jibrandlr commented on #2630
@gesell "Review and Payments" IS translatable in my Magento 2.1 store

[2016-09-02 15:47] sevos1984 commented on #6445
This duplicates https://github.com/magento/magento2/issues/6183

[2016-09-02 15:47] #6445 closed, assigned to nobody

[2016-09-02 15:51] andimov commented on #5323
We already have internal ticket MAGETWO-56794  in our backlog.

[2016-09-02 15:52] jwittorf commented on #6356
Just a quick note, got this when trying to import my dump on a different server:

`ERROR 1293 (HY000) at line 78: Incorrect table definition; there can be only one TIMESTAMP column with CURRENT_TIMESTAMP in DEFAULT or ON UPDATE clause`

Any ideas how this could happen and how to fix it? These are the first 100 lines of my dump:

[code]

[2016-09-02 15:53] andimov commented on #5337
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-02 15:53] #5337 closed, assigned to andimov

[2016-09-02 15:53] JacobDrummond commented on #6068
@andimov,

As in they haven't attempted to reproduce it, or they can't reproduce it?

My solution is the one provided in the "Solution" section of the bug report. I'll create a pull request over the weekend.

[2016-09-02 15:56] alena-marchenko commented on #5700
Hi @vovayatsyuk

I was unable to reproduce this issue on the latest CE 2.1 version.
Please verify if the issue still persists.

[2016-09-02 15:57] SerhiyShkolyarenko commented on #5747
@springimport, I created a module with etc/extension_attributes.xml file equivalent to yours and passed checkout. \Magento\Sales\Api\Data\OrderExtensionInterface was autogenerated in var/generation/Magento/Sales/Api/Data/OrderExtensionInterface.php
It has getOrderDate() and setOrderDate() methods. Don't you have the same?

[2016-09-02 15:57] sevos1984 commented on #6421
This is fixed in latest 2.1, could you please update your code base?

[2016-09-02 16:01] alena-marchenko commented on #6474
Hi @jernejh

This is a duplicate issue, MAGETWO-56932 ticket is already created.
 I'm closing this one. Please feel free to reopen if you need.

[2016-09-02 16:01] #6474 closed, assigned to alena-marchenko

[2016-09-02 16:01] SerhiyShkolyarenko commented on #5747
To generate this extension interface you may also use ./bin/magento setup:di:compile

[2016-09-02 16:03] andimov commented on #6048
@routbiplab
Ok, thank you. I'm closing this issue as "not a bug".

[2016-09-02 16:03] #6048 closed, assigned to nobody

[2016-09-02 16:12] andimov commented on #5574
I've created an internal ticket MAGETWO-58020  for this issue and linked it to this one.

[2016-09-02 16:16] gesell commented on #2630
Hi @Igarridoj

Thanks for your reply. How did you manage it? In my case it simply ignores this part of my CSV file (/app/design/frontend/Magento/luma/i18n/de_DE.csv)

[2016-09-02 16:16] azeemism commented on #6459
@veloraven comment has been updated. Thanks.

BTW the numbering reverting back to 1 within each step category is a github issue. It is inconsistent, and the more I try to fix it the worse it gets.

[2016-09-02 16:20] andimov commented on #5231
I've created an internal ticket MAGETWO-58021 for this issue and linked it to this one.

[2016-09-02 16:22] sevos1984 commented on #6427
This is not a bug, if you want to configure product you need access to catalog. The problem is in modules dependencies that is not observed in user roles, so if you forbid access to some module you have to disable all related, in other case user will see such errors. Feel free to reopen if you have objections.

[2016-09-02 16:22] #6427 closed, assigned to piotrekkaminski

[2016-09-02 16:42] azeemism commented on #6460
@veloraven the comment has been updated. Thanks.

BTW the numbering reverting back to 1 within each step category is a github issue. It is inconsistent, and the more I try to fix it the worse it gets.

[2016-09-02 17:07] senthilengg commented on #6463
@sevos if that's the case then I have made it working with the work around of giving access to Marketing --> Catalog price rules alone and not the  catalog. So I would like to reopen this.

[2016-09-02 17:11] SahakTadevosyan commented on #3268
I have this problem in importing new products and adding new category. my magento version is Magento CE 2.1.0: Is there any solution?

[2016-09-02 17:16] pboisvert commented on #3268
@azeemhassni @SahakTadevosyan This specific issue is closed. If you are encountering this issue please open a new ticket and use the reporting guidelines to provide all information (system configurations, step by step instructions) needed to reproduce the issue

[2016-09-02 17:16] senthilengg opened #6476 "Reopened - User Roles issue with limited user permission for Content --> pages #6463"
### Preconditions

1. Magento 2.1
2. PHP 5.6 , Nginx+PHP-Fpm
### Steps to reproduce

1. Create a new User Role.
2. Content --> Pages should only be allowed.
3. Assign the role to any user.
4. Login with the above user credential and make sure you have access to only Pages.
5. Go to Pages
6. Click Add New Page -->  Click Content --> Click Show Hide Editor ( Press F5 or refresh the page )
7. Try Ins

[2016-09-02 17:26] gazzaf opened #6477 "Link at checkout not working for "What Is PayPal?""
At the checkout the built-in link **What is PayPal** opens an _empty_ pop-up window. This is bad for customers as the link is supposed to gain their confidence. Using IE11 the window shows the 404 page but is completely blank using Firefox and Chrome.

**Screenshot of checkout page:**

![magento-paypal1](https://cloud.githubusercontent.com/assets/677452/18212286/3cf3a366-713a-11e6-8f4d-aafc4386bcb

[2016-09-02 17:27] SahakTadevosyan commented on #3268
@pboisvert Thanks I will do like you mentioned.

[2016-09-02 17:52] skhell commented on #5876
@AzVo did you tried with my file?

Thanks
Marcos

[2016-09-02 17:55] senthilengg commented on #6476
@sevos I have made it working with the work around of giving access to Marketing --> Catalog price rules alone and without catalog or product permission. So here is the new ticket consider this as reopened. Sine i am not sure how can I reopen the parent ticket.

[2016-09-02 18:40] krzysztofkacela commented on #4330
@shashankitsoft Thank you. Had same problem. It's look like on updating magento it removed theme and set it as 'virtual'. So when I've added back my theme it was not reading xml files.
You saved my time and hairs ;)

[2016-09-02 19:22] akosglue commented on #4534
@chonny Try to verify the locale settings under Stores / Configuration / General / General / Locale options -> **for each** of your scopes like Default config, Default Store view etc. etc.
After that setup:upgrade and setup:static-content:deploy, cache:clean and cache:flush
This might help hopefully.

[2016-09-02 19:43] piotrekkaminski commented on #6260
Increased priority as it is a blocker for translations.

[2016-09-02 20:34] crantron commented on #5363
2.1 fixed this. I'm closing the issue.

[2016-09-02 20:34] #5363 closed, assigned to nobody

[2016-09-02 20:45] magenx commented on #4159
Magento 2.1.1 doc root /pub/
Web Setup Wizard menu still missing, but when you type `http://www.shop.com/admin_xxxx/admin/backendapp/redirect/app/setup/`
redirects to`http://www.shop.com/setup/#/home`  and then all works as expected...

i do even have php-fpm in chroot and nginx has two doc roots defined, still no menu, but manual redirect works...

[2016-09-02 21:26] malachy-mcconnell opened #6478 "Column names row_id and entity_id seem mixed up after upgrading to Magento2 EE 2.1 or 2.1.1 possibly due to catalog staging (module magento-catalog-staging)"
### MySQL error message
- ERROR 1054: 1054: Unknown column 'entity_id' in 'NEW'
### SOLUTION
1. SOLUTION : set reindex mode to realtime (update on save). This deletes all the old triggers. Then set reindex mode to schedule (Update by Schedule)

### Preconditions

1. 'a normal setup' : linux, nginx, PHP 7.0.8, MySQL 5.6.31 (Ver 14.14)
2. Magento EE. Installed Magento 2.0, maybe updated a few times.

[2016-09-02 21:34] jibrandlr commented on #2630
@gesell The row in my .csv file contains:
Review & Payments, My transalted phrase, module, Magento_Checkout

[2016-09-02 21:47] TenzinNKhando opened #6479 "Table Column Headings in Admin are not wrapping"
Issue:
Every table structure in my admin panel is messed up. The heading for all the columns are not wrapping together in one line. Each heading is showing on their own line. Better idea by looking at the image down below.

Setup:
1. Magento version 2.1.0
2. Theme: SM Market by MagenTech
### Expected result

1.  Expected to see the headings of each column on top of the table.
### Actual result

![

[2016-09-02 21:51] pboisvert commented on #6479
Did you see this error prior to installing the 3rd party theme?

[2016-09-02 22:44] femorais commented on #824
+1 to re-index from Admin

[2016-09-02 23:27] MaximKitsenko commented on #6439
@veloraven This bug related to Magento 2.1.0

[2016-09-02 23:55] storepeinture commented on #6259
Dear picamator,
thank you for your response.
I can answer your questions as follows:
1. I have no scheduled cron jobs running.
2. Cache is disabled since I'm in development mode. But I believe that it happens when I make a change to the configurable product in "All Store Views" (e.g. change the category for both store views, or change the global SKU). (Under "All Store Views" none of the images ha

[2016-09-03 05:49] apurv-anand commented on #6421
Do you mean 2.1.1 has the fix? We will be updating it in next 2 days. I will let you know the status.

[2016-09-03 05:50] apurv-anand commented on #6421
We are currently blocked on upgrading it to 2.1.1 because of this issue:

https://github.com/magento/magento2/issues/6471

[2016-09-03 05:52] apurv-anand commented on #6421
Also let me know if the following is also fixed. Its a variant of this issue. Fixes might be at different place though.

https://github.com/magento/magento2/issues/6396

[2016-09-03 06:10] jk100magnys commented on #4067
Agreed. Add translate file for zh_Hans_CN, all sites was translated but translation-js.json is empty.

Magento 2.1

[2016-09-03 07:17] philipvandebriel commented on #6413
Hi ,
I think the problem is the next file page-image-uploader.js , my browser freeze on this moment. See picture attachment.

![schermafdruk 2016-09-03 09 10 29](https://cloud.githubusercontent.com/assets/15958461/18223408/30fd977e-71b7-11e6-8d72-4c90398192b5.png)

[2016-09-03 07:34] apurv-anand commented on #6471
We have increased the memory limit to 2GB. The issue still exist. Any other pointers to resolve the issue? I am not even sure what the issue is. How do we reach that information first?

[2016-09-03 08:53] cshabnam opened #6480 "Blocked while placing order via Magento API due to Issue #6432"
Magento version - 2.0.7
### Steps to reproduce

Step 1 --> http:///rest/default/V1/guest-carts -- 200 OK
Step 2 --> http:///rest/default/V1/guest-carts/{cart id}/items -- 200 OK
Step 3 --> http:///rest/default/V1/guest-carts/{cart id}/shipping-information – 200 OK
Step 4 --> http:///rest/default/V1/guest-carts/{cart id}/set-payment-information -- 400 Bad Request  - refer https://github.com/magento

[2016-09-03 10:11] YevSent commented on #6432
Hi, please post request details for `shipping-information` API request.

[2016-09-03 10:19] Giri-Happiest-Minds commented on #6432
Hi, @joni-jones  the request details for shipping-information API is

{
  "addressInformation": {
    "shipping_address": {
      "id": 1,
    "region": "Virginia",
    "region_id": 51,
    "region_code": "VA",
    "country_id": "US",
    "street": [
      "Symbiosis College"
    ],
      "company": "Happiest",
    "telephone": "9090909090",
    "fax": "13232212589",
    "postcode": "560100",

[2016-09-03 11:15] ihor-sviziev opened #6481 "Do not deploy Magento UI library docs to static directory in production mode"
Right now Magento UI Library docs directory are copying to pub/static/ directory during executing php bin/magento setup:static-content:deploy even if your website in production mode.
This is stuff for development, it should not be available on production for security reasons.
### Preconditions
1. Install Magento 2.1.1
2. change magento environment to production
### Steps to reproduce
1. Go to your

[2016-09-03 11:27] ketankulkarni opened #6482 "installation issue"
while installing magento 2 following error occures
![error](https://cloud.githubusercontent.com/assets/20577851/18224561/4edf1930-71f7-11e6-8096-f54ed0c2c0a0.jpg)

[2016-09-03 11:36] PingusPepan commented on #6413
@philipvandebriel The real culprit in your case is `ui-select-optgroup.html` though. After it loaded, it started crunching data and that's why it stalled loading of another resources. Try manually editing the `ui-select-optgroup.html` file and make it empty. Then try loading the page again. For me, when the file was empty, it was working just fine (except that I was missing functionality provided

[2016-09-03 11:57] philipvandebriel commented on #6413
@PingusPepan Yes you are right, If i make the file empty then the product edit page load in 3sec but if we save the product then it's need again 53sec.

[2016-09-03 12:11] ihor-sviziev commented on #6482
@ketankulkarni there is too small amount information.
1. Which magento version did you tried to install?
2. How did you installed magento? (git clone, download zip, composer install)
3. Which version of php and which extensions installed?

[2016-09-03 12:52] ketankulkarni commented on #6482
magento version -2.1.0
downloded by zip
php version 5.6

[2016-09-03 16:37] rbncha opened #6483 "category page: We can't find products matching the selection"
After upgrading from 2.0.7 to 2.1.1, I am getting this message in product list page (category). After debugging I found out the join query had wrong website id for inventory. But then still it didn't list the products, there was something else maybe related to tmp search table.

I'll be very thankful if you can help me solve it. My live store is destroyed.
### Preconditions

1. PHP Version 5.6.24

[2016-09-03 18:11] hostep commented on #6481
Related: https://github.com/magento/magento2/issues/5262

It would be great if this issue isn't getting closed and moved to the forums, tnx!

[2016-09-03 18:34] ihor-sviziev commented on #6481
@hostep thank you, but I think it's not improvement, that should wait when somebody will vote for it. It's really security issue, that should be fixes really in short term.

[2016-09-03 18:50] pboisvert commented on #6481
if a security issue, this would not be classified as an improvement.

[2016-09-03 19:20] Ctucker9233 commented on #5423
@tkacheva I followed the Magento documentation on how to upgrade (which has a 404 error right now by the way.).
So perhaps there is a lack of clarity in the documentation or failure to understand on my part. From what I recall, it says to unzip and extract the upgrade to the Magento root (which starts to overwrite files, so not sure how to get around that.). I drag and drop the .zip and extract al

[2016-09-03 19:45] Ctucker9233 commented on #5423
@tkacheva Sorry forgot to include the environment. It was Magento 2.0.7 upgraded to 2.1.0. php version 5.6.23. I don't know the mySQL version. It's a hosted server with siteground.

[2016-09-04 00:53] jdavisonc commented on #5509
Meanwhile the issue is not fixed, a temporal solution is to override validation.js with your translated string.

http://devdocs.magento.com/guides/v2.0/javascript-dev-guide/javascript/custom_js.html

[2016-09-04 07:47] jernejh commented on #6474
Are you sure that this is a duplicate issue, since I have https enabled for all my pages?

Will this be fixed in 2.1.2? When is approximate release date?

I desperately need a patch, in order to go to market with the webstore of my client.

Are there any quick alternative temporary solutions to disable the spinner to load indefinitely?

Thank you!

[2016-09-04 18:53] anarbayramov opened #6484 "Integration module is not showing up under System->Integrations"
Hello,

I've followed all instructions given in
http://devdocs.magento.com/guides/v2.0/howdoi/webapi/integration.html
### File Tree

this is my module under **app/code/**

[code]
### registration.php

[code]
### composer.json

[code]
### module.xml

[code]
### api.xml

[code]
### config.xml

[code]
## Installation

I installed module like

**bin/magento module:enable Anar_Testapi**
**bin/magento s

[2016-09-04 19:00] tanberry commented on #5942
Hi @JacobDrummond, we are fixing a break in our bamboo builds that stopped the auto-generation of docs covering our backwards incompatible changes... currently they are not published for 2.1.x. ;-( The fix should be ready next week! Along with our recent realization that even patch releases need a "Highlights" section, we will look at how to call out important backwards incompatible changes in pat

[2016-09-04 19:03] mombrea commented on #4170
If you have the problem where the minicart shows a blank white box, the solution is as @karmalis mentions. You should perform a diff on your overidden minicart.phtml template and the base version you're inheriting from (e.g. Magento/blank). Magento version updates are routinely changing functions in these files without warning.

As far as the minicart not showing products you just added (always em

[2016-09-05 01:15] MorganGonzales commented on #6483
Try to execute `php bin/magento indexer:reindex` on the project root directory.

[2016-09-05 01:46] Walters-Kuo commented on #6462
@pboisvert  those are tax zones and rates info, thanks

![tax_rate](https://cloud.githubusercontent.com/assets/3149367/18235671/5931259a-7350-11e6-924f-862eddb8544d.png)
![tax_zones_reates](https://cloud.githubusercontent.com/assets/3149367/18235769/9d330aa0-7351-11e6-9832-beacd98f2e9e.png)

@pboisvert thanks, add two screenshot about tax rule
![goods_tax](https://cloud.githubusercontent.com/asset

[2016-09-05 02:00] Walters-Kuo commented on #6462
@veloraven
1. first, I open two site, Default Config : sales --> Tax --> Tax Class for Shipping and Default Tax Class for Product status are none.
2. a couple of weeks, I create a new us site, order summary need to plus shipping tax and goods tax, so i modify Tax Class for Shipping and Default Tax Class for Product to "Taxable Goods".
3. and order summary no include product tax

I try to many way,

[2016-09-05 02:05] Walters-Kuo commented on #6462
@pboisvert tax rate information, thanks
![tax_rate](https://cloud.githubusercontent.com/assets/3149367/18235660/3b0e7c20-7350-11e6-96e8-11d1949e3824.png)

[2016-09-05 02:44] duongquyet opened #6485 "I can't install magento 2.1.1"
I try install magento 2.1.1, no sample data but it show a bug. How do i fix it?

http://prntscr.com/ce8bwe

[2016-09-05 05:13] hbhardik commented on #4324
Hello, is there any update for the internal issue ?

[2016-09-05 05:20] resmivarghese commented on #3605
Dears,
We have upgraded to 2.1.1 version.Issue still exists.

[2016-09-05 05:32] Nilson89 commented on #6468
@veloraven I hope the description is now more detailed and understandable.

@ihor-sviziev you are right. we are using different domains. But we have also different cookie paths for different store views inside the domains. These different cookie-paths are not used in JS, thats why cookies are shared although we dont want them to be shared.

[2016-09-05 06:02] sevos1984 commented on #6476
I've set role only to Pages and Catalog price rules but didn't get products list. Please attach your permissions list.

[2016-09-05 06:03] senthilengg commented on #6462
@Walters-Kuo on a side note, though its not related to issue here. Please correct your folder and file permissions as per http://devdocs.magento.com/guides/v2.0/config-guide/prod/prod_file-sys-perms.html.

[2016-09-05 06:12] hbhardik commented on #4536
Hello,

is there any update on this given issue ?

[2016-09-05 06:14] sevos1984 commented on #6464
To run production mode static content should be deployed 'bin/magento setup:static-content:deploy', have you done this?

[2016-09-05 06:21] bhcosmetics commented on #5709
@duhon
To reproduce this issue please enable the below option:

1. Store > Configuration > Sales > Google API
2. Enable Content Experiments field set as 'Yes".

[2016-09-05 06:21] davidverholen commented on #3605
@resmivarghese seems to be right. I did not test it yet but looking at the class, null values are still not type casted https://github.com/magento/magento2/blob/2.1/lib/internal/Magento/Framework/Reflection/TypeCaster.php

[2016-09-05 06:23] cherreman opened #6486 "Unable to save certain product properties via Rest API"
### Preconditions

1. Magento 2.1.1
### Steps to reproduce

1. Create a product via the Rest API, including a price and weight
### Expected result

1. The product is saved with the price and weight
### Actual result

1. The price and weight are not saved and are not returned in the result of the POST request.

I traced this down to the BeforeEntitySave observer, where the price seems to be strippe

[2016-09-05 06:38] flipflap commented on #6464
Hi sevos1984, thanks, yes I have done this, but didn't help.

[2016-09-05 06:50] sevos1984 commented on #6423
After clearing cache pager appeared but still not working. I've created ticket for that MAGETWO-58032. Thanks for reporting.

[2016-09-05 06:56] YevSent commented on #6480
Closed as duplicate to https://github.com/magento/magento2/issues/6432 .

[2016-09-05 06:56] #6480 closed, assigned to nobody

[2016-09-05 07:03] torbre16 opened #6487 "messages.js breaks minicart item count update in mixed HTTP/HTTPS mode"
### Preconditions
1. Magento 2.1.0 (also all release candidates), Magento 2.1.1
### Steps to reproduce
1. Use Magento in mixed HTTP/HTTPS mode (i. e. unsecure base URL uses HTTP, secure base URL uses HTTPS)
2. Add a product to the cart on a product details page
3. Go to the cart page and change the quantity of the previously added product
4. Go back to the product details page (reload it). Sporadi

[2016-09-05 07:05] sevos1984 commented on #6422
Created internal ticket MAGETWO-58033. Thanks for reporting

[2016-09-05 07:14] sunilit42 opened #6488 "Able to move forward without shipping address in checkout"
Title : Able to move forward without shipping address in checkout

Preconditions ;
1)  Magento CE 2.1 without sample data is installed.
2) Customer is Login
3) Customer have address

How to generate issue:
Add any product into cart and then go to checkout, and now unselect address from selected address and click on next button.

[2016-09-05 07:14] AVoskoboinikov commented on #6099
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.
We will close this issue as not updated more than 2 weeks if this issue still reproducible please feel free to create the new one.

[2016-09-05 07:14] #6099 closed, assigned to nobody

[2016-09-05 07:17] sevos1984 commented on #6420
This issue is duplicate of https://github.com/magento/magento2/issues/6275. You can find fix for current develop here https://github.com/magento/magento2/commit/23103c03c527fe1ed3e1a3be691436818b7963fe

[2016-09-05 07:17] #6420 closed, assigned to nobody

[2016-09-05 07:26] AVoskoboinikov commented on #5882
Hi @to8gal,
Please, could you create separate ticket If you have any issues with that price settings? It would help you and us.

Thanks!

[2016-09-05 07:28] AVoskoboinikov commented on #5761
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.
We will close this issue as not updated more than 2 weeks if this issue still reproducible please feel free to create the new one.

[2016-09-05 07:28] #5761 closed, assigned to nobody

[2016-09-05 07:29] Khaleel commented on #4506
The entire front end using RequireJS has so much bloat and overhead - can this be sorted?

[2016-09-05 07:46] skhell commented on #6423
@sevos1984 thank you

[2016-09-05 07:50] to8gal commented on #5882
What I meant before is I don´t really care to open a ticket on that even if incorrect, the only reason I mention that, is cause I think is related to the main problem I have, othe than that is nothing to open a ticket for me

shall I modify the ticket already open?

Thanks

L

[2016-09-05 08:15] sevos1984 commented on #6393
This is actually a php problem. You can fix this by adding 'php_value auto_detect_line_endings 1' into .htaccess file. Closing as not a bug.

[2016-09-05 08:15] #6393 closed, assigned to nobody

[2016-09-05 08:31] quienti commented on #5862
Sorry for the delay.
I don't find this file, could you tell me where is it ?

[2016-09-05 08:56] teyogofy commented on #3150
@neilrd  just tried a fresh install of 2.1.1 CE and the issue is still there!
@tigerx7 @ktomk @justindocanto @rgoncharuk @vkorotun
@piotrekkaminski  can you help with a patch or fix? any future release information?

Our go-live date is getting closer and closer and this issue is a no go for our customer!!!

Thanks for helping

[2016-09-05 09:17] AnastasiyaSAP opened #6489 "Unable to connect to Magento Marketplace from Web Setup Wizard"
### Preconditions:
1. I have installed Magento 2.1 on my OS X and unable to connect to Magento Market Place from my System --> Web Setup Wizard.
2. Magento Community 2.1.0 without sample data is installed.
3. I have created a Magento Marketplace account and generated a key under My Account--> Marketplace --> My Access Keys
### Steps to reproduce:
1. Logged in as admin user into Magento admin panel

[2016-09-05 09:25] senthilengg commented on #6476
@sevos1984 Here you go ...  I think I haven't mentioned that it should also have the widget permission. But still its working without catalog permission.

<img width="437" alt="catalog_permissions" src="https://cloud.githubusercontent.com/assets/395212/18243470/c7e452f0-7378-11e6-9f8a-d5eba214b516.png">

[2016-09-05 09:26] njacobx commented on #3720
Also having this problem on CE 2.1.0

[2016-09-05 09:29] apurv-anand commented on #6471
Guys, any leads on how to debug this issue? If I know which module has the problem, I can try solving it...but how to figure out which one has the issue? Let me know if there are logs that I am missing to look at currently. This is urgent.

[2016-09-05 09:34] Asitis commented on #6198
@picamator I found the culprit. For some reason a few database tables were corrupted.
I ended up fixing it like this:
- Create SQL dump backup of 'corrupted' database data
- Installing a clean Magento2.1.1 system
- Copied database structure of clean system to old system
- Imported old data into new database structure

It turned out there were duplicate entries for tables such as `store_id` in the

[2016-09-05 09:34] #6198 closed, assigned to nobody

[2016-09-05 09:39] ericahoekerd opened #6490 "Magento 2.1.1. Newly created customers or by frontend or by WEB-API are not visible in the Backend"
We have created  a customer by WebAPi, we receive a response and the record is available in the database. The record doesn't appear in the Magento backend.

We did another test by creating an account on the front-end. When this customer is saved it is in table 'customer_entity' , but not visible in the Magento backend.

Refreshing cache doesn't help.

Magento 2.1.1. default install
PHP 5.6.16
MySQ

[2016-09-05 09:51] jzahedieh commented on #6490
Have you reindex the customer data?

Try `magento indexer:reindex customer_grid`

[2016-09-05 10:01] ericahoekerd commented on #6490
yes thanks by running the index is working and the customers are visible, this is different behaviour then the previous versions, new customers should always immediateley visible in the backend

[2016-09-05 10:01] pboisvert commented on #4506
reopening just to confirm this is being tracked as a bug. We have an issue for this as noted above that is open.

[2016-09-05 10:05] pboisvert commented on #6462
@Walters-Kuo thanks for the screenshots but you missed my question. Your rates appear to be set up correctly. However, you will want to ensure that the tax class for any products where you want to charge tax is set correctly. You can check this in your catalog for the products that you placed in the cart. Please confirm that you have set the products as taxable to use the rates that were set up.

[2016-09-05 10:14] philcook commented on #6393
@sevos1984 fair enough point here however the auto_detect_line_endings by default in PHP is 0 therefore many users are going to have this issue.
http://php.net/manual/en/filesystem.configuration.php

Can I therefore suggest it's added to the .htaccess file given with magento2 by default. This will solve the issue and not be an issue going forward.

I will do a PR for this shortly.

[2016-09-05 10:18] SerhiyShkolyarenko commented on #6166
@JoostWan could you please add more details here.
What is "Tax Class for Shipping"? which are Tax Calculation Settings?
Which tax zones/rates do you have? Which of them are enabled by tax rules?

[2016-09-05 10:20] MomotenkoNatalia commented on #2187
Hi @will-b, Part of the fixes was delivered under MAGETWO-33631

[2016-09-05 10:31] Khaleel commented on #4506
Thanks @pboisvert

[2016-09-05 10:39] picamator commented on #6424
@heldchen  MAGETWO-58017 includes scenario about updating an existing configurable product.
Therefore, it does not need to create separate ticket.

[2016-09-05 10:40] malachy-mcconnell commented on #6478
I have read more code. I am understanding more about the history and mechanism that leads to the SQL error message `ERROR 1054: 1054: Unknown column 'entity_id' in 'NEW'`

The triggers on table catalog_product_entity_int are created by the act of turning on or off the 're-index on schedule' flag. eg Magento Admin->System->Index Management->(select all)->(actions dropdown->Update by Schedule).
- Tu

[2016-09-05 10:40] heldchen commented on #6424
thank you!

[2016-09-05 10:43] andimov commented on #6477
@gazzaf
Thank you for reporting this issue!
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-05 10:43] andidhouse commented on #6424
@picamator
Can i ask you a question regrading this topic?

We have seen bugs reported for month here and internal tickets created but nothing happened after this. Also in the new version 2.1.1 many bugs are not implemented.

Is there any timeline on this bug to be implemented.
We want to go online in a view weeks but with this bug it is simply not possible.

Many thanks!

[2016-09-05 10:46] andimov commented on #6478
@malachy-mcconnnell
Thank you for reporting!
We already have internal ticket MAGETWO-56052  with the same problem, so I mentioned your report in that ticket.

[2016-09-05 10:49] rahulsappzorro opened #6491 "how t install a template"
### Preconditions

1.
2.
### Steps to reproduce

1.
2.
3.
### Expected result

1.
### Actual result

1. [Screenshot, logs]

[2016-09-05 10:52] JoostWan commented on #6166
See the settings in the screenshots (Default Magento 2.1.1). The shipping price in the Estimate shipping and tax is tax included. But settings are "Showing excluded tax for shipping". The shipping price in the totals is correct (ex tax).

![schermafbeelding 2016-09-05 om 12 51 10](https://cloud.githubusercontent.com/assets/5435412/18245780/711e06de-7367-11e6-9ba0-96a5811aaf0a.png)

![schermafbeeld

[2016-09-05 10:58] hydra commented on #3349
@veloraven great. thanks.  we both take time out to report the issue and you just close it without doing anything.  there's clearly a bug in the code.  If the code is run using the oldest supported php version you will find it will fail because php changed the gzopen() to gzopen64().

The code should be updated to check to see what php version is running and call the appropriate method.

It's a si

[2016-09-05 11:00] andimov commented on #6482
@ketankulkarni
Thanks for reporting.
This looks like an environment issue. Please re-check your env with [Installation Guide](http://devdocs.magento.com/guides/v2.1/install-gde/install-quick-ref.html)
Also you need to format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-05 11:05] andimov commented on #3349
@hydra it looks like a bug that we can fix. But, please, create the new issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) with steps to reproduce and specific preconditions.

[2016-09-05 11:07] andimov commented on #6485
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-05 11:10] andimov commented on #6488
@sunilit42
Thank you for reporting!
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-05 11:11] andimov commented on #6489
@AnastasiyaSAP
Thank you for reporting!
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-05 11:12] andimov commented on #6490
@tinxit
Thank you for reporting this issue!
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-05 11:12] andimov commented on #6491
@rahulsappzorro
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-05 11:14] andimov commented on #3745
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 11:14] #3745 closed, assigned to nobody

[2016-09-05 11:15] andimov commented on #3864
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 11:15] #3864 closed, assigned to misha-kotov

[2016-09-05 11:15] andimov commented on #4498
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 11:15] #4498 closed, assigned to nobody

[2016-09-05 11:15] andimov commented on #4456
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 11:15] #4456 closed, assigned to cpartica

[2016-09-05 11:16] andimov commented on #4585
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 11:16] #4585 closed, assigned to cpartica

[2016-09-05 11:16] andimov commented on #6194
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 11:16] #6194 closed, assigned to nobody

[2016-09-05 11:17] #5289 closed, assigned to ishakhsuvarov

[2016-09-05 11:18] andimov commented on #5800
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 11:18] #5800 closed, assigned to dthampy

[2016-09-05 11:18] andimov commented on #6245
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 11:18] #6245 closed, assigned to nobody

[2016-09-05 11:21] PascalBrouwers commented on #6468
@Nilson89 then you should use different Websites within Magento.
Your Stores config page should look like:
| Website                | Store             | Storeview    |
|----------------   |---------  |-------------  |
| www.shop-a.com    | store-a   | storeview-a   |
| www.shop-b.com    | store-b   | storeview-b   |
This way you are using 2 websites, so carts are not shared.

When you use 1 websi

[2016-09-05 11:44] itelebar commented on #4737
Hi everyone, we had this issue on one site and also noticed that it is not happening when using Luma so conclusion was it must be something we have included into our theme.

I our case Font Awesome we included was root of an issue.

In file [`font-awesome/_animated.less`](https://goo.gl/By7gHP) there are selectors that are breaking the flow. In this case those were `keyframes` definitions for star

[2016-09-05 11:50] AnastasiyaSAP commented on #6489
@andimov Hopefully this should be ok? I am not sure what else to add.

Thanks

[2016-09-05 11:52] gazzaf commented on #6477
I've uninstalled Magento 2.1.x because of the enormous number of bugs and slowness that make it unfit for production and "upgraded" to 1.9.x. Sorry.

[2016-09-05 11:52] rudik99 commented on #6424
If I was Magento I'd pull 2.1.1 down for downloading, this to me is a critical bug.... anyone who might not throughly test could get could ruining their production database.

[2016-09-05 11:53] vzabaznov commented on #2633
Closed as no activity more than two weeks, @lgarridoj please feel free to write here or to reopen issue if you still has the issue

[2016-09-05 11:53] #2633 closed, assigned to nobody

[2016-09-05 12:01] ksz2013 opened #6493 "Upgrade from 2.1.0 to 2.1.1 ISSUE"
Hi

After upgrading from 2.1.0 to 2.1.1: (upgrade steps see below)

composer require magento/product-community-edition 2.1.1 --no-update
composer update
php bin/magento setup:upgrade

When we are modifying a configurable product, and we attach new images to it, the configurable product becomes a simple product! Our site is messed up now because of this! Can you please check this issue and provide

[2016-09-05 12:08] sevos1984 commented on #6209
I have tried your payload and had an error that price and price_type can't be null. With correct values it works. Here is my payload

[2016-09-05 12:13] fendowuk commented on #6424
I'd second that @rkhoury82, 2.1.1 is unusable if using configurable products.

[2016-09-05 12:15] R4c00n opened #6494 "ProductRepository::getList returns no items"
### Preconditions

Magento Version 2.1
PHP 7.0

I'm, trying to get all products with the `ProductRepository`, but I only get an empty array.

When accessing the `/rest/V1/products?searchCriteria=` REST endpoint, I get the a non-empty array.

For test reasons I added `$product = $this->productRepository->getById(1);` and this returns me the correct product with the id `1`.
### Steps to reproduce

[

[2016-09-05 12:16] sevos1984 commented on #6464
Are there any errors in magento logs?

[2016-09-05 12:20] flipflap commented on #5423
I have the same problem after updating from 2.0.9 to 2.1.0 using composer.

Now I tried to upload the directory vendor from zip and get an error:

`a:4:{i:0;s:273:"Please upgrade your database: Run "bin/magento setup:upgrade" from the Magento root directory.
The following modules are outdated:
Magento_Sales schema: current version - 2.0.3, required version - 2.0.2
Magento_Sales data: current versi

[2016-09-05 12:23] andimov commented on #6493
@ksz2013
Thank you for reporting!
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-05 12:29] andimov commented on #6088
@forvin
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 12:29] #6088 closed, assigned to nobody

[2016-09-05 12:32] sevos1984 commented on #6476
With Widgets permissions all work fine. Do you mean it shouldn't work without Catalog permissions?

[2016-09-05 12:36] sevos1984 commented on #6421
I can't help you with this #6471, but #6396 looks the same to this one

[2016-09-05 12:40] Styopchik commented on #5008
same problem

[2016-09-05 12:40] andimov commented on #5351
@deepanshu27193
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines) with the actual result, expected result and exact steps.

[2016-09-05 12:43] sevos1984 commented on #6396
This was fixed in https://github.com/magento/magento2/commit/17788dc3e546ef653c0aaca8b1310a45e37f02c7, ensure you have this code and also refresh your static files as well as browser cache.

[2016-09-05 13:02] andimov commented on #5300
@kanduvisla
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.
@dungntifi
In your case, the [programming questions forum](https://community.magento.com/t5/Programming-Questions/bd-p/programming-magento-2) is likely the most appropriate.

[2016-09-05 13:02] #5300 closed, assigned to slopukhov, odubovyk

[2016-09-05 13:03] andimov commented on #5151
@LiamFielding
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 13:03] #5151 closed, assigned to tkacheva

[2016-09-05 13:05] sevos1984 commented on #6319
I can't create customer attribute with unique value. This is not native magento behavior.

[2016-09-05 13:08] sevos1984 commented on #6337
Try clearing cache and check your magento logs for errors.

[2016-09-05 13:08] Onkovat opened #6495 "Error when trying to change the sku on a configurable product in mage 2.0.9"
When trying to change the sku of a configurable product in magento 2.0.9 then this error appears:

SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`db174m2001`.`catalog_product_entity`, CONSTRAINT `CAT_PRD_ENTT_ATTR_SET_ID_EAV_ATTR_SET_ATTR_SET_ID` FOREIGN KEY (`attribute_set_id`) REFERENCES `eav_attribute_set` (`attribute_set

[2016-09-05 13:11] andimov commented on #4405
@forgeonline
Thank you for reporting!
Please provide the used Magento version.

[2016-09-05 13:12] andimov commented on #4374
@NetAssoPro
Ok, thank you!

[2016-09-05 13:12] #4374 closed, assigned to tanya-soroka

[2016-09-05 13:16] AVoskoboinikov commented on #5876
Hi @akamura ,

I am in progress with your issue. I found that "problem" is in store_view_code field. If it is empty - products are successfully imported with configurable options. But if there is any value - it fails. I need some more time to discuss this with my colleagues.

[2016-09-05 13:18] andimov commented on #2368
@mage2pro
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

@williambize
Thank you for reporting https://github.com/magento/magento2/issues/5792
We will process your ticket by our workflow.

[2016-09-05 13:18] #2368 closed

[2016-09-05 13:19] andimov commented on #2823
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 13:19] #2823 closed, assigned to nobody

[2016-09-05 13:19] AVoskoboinikov commented on #5882
@to8gal, no need for that, thanks.

[2016-09-05 13:23] ednacool opened #6496 "Recently Viewed Products"
Hi,

I am using Magento version 2.0.9 price not showing for configurable products

Template file
Magento_Reports/templates/widget/viewed/content/viewed_grid.phtml

Original File

/vendor/magento/module-reports/view/frontend/templates/widget/viewed/content/viewed_grid.phtml

[2016-09-05 13:28] andimov commented on #6489
@AnastasiyaSAP
Thank you, now it's ok.
Did you set 'always_populate_raw_post_data' to '-1' in php.ini?

[2016-09-05 13:33] sevos1984 commented on #5898
Not reproducible for me. Check all of your customer emails, maybe one them is incorrect?

[2016-09-05 13:33] SewHappy58 commented on #5377
I'm new to Magento 2.X and I have the same issue with the mini cart.  If I update the code, how will that effect composer or upgrading in the future?  I know in Magento 1.x you don't touch the core.

[2016-09-05 13:37] sunilit42 commented on #6488
Preconditions

Magento CE 2.1 without sample data is installed.

Steps to reproduce
1) Customer must be login
2) Customer have only one address
3) Unselect the address on checkout and click on next button

Expected result
Customer can not able to move to next step without selecting customer address.

Actual result
There should be validation for that, without address selection can not able to move

[2016-09-05 13:39] andimov commented on #3185
@LTC-fperrin
Thank you a lot for reporting this issue!
Please refer to the [Community Forums](https://community.magento.com) or [Magento Stack Exchange](http://magento.stackexchange.com/) site for technical questions.

[2016-09-05 13:39] #3185 closed, assigned to nobody

[2016-09-05 13:40] andimov commented on #5118
@fgpasa
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 13:40] #5118 closed, assigned to slopukhov

[2016-09-05 13:42] SewHappy58 commented on #6167
@rkhoury82 my work around was to create everything as normal, save and it will lose the children.  Reopen and add manually since the children were created from the first attempt.  It seems to work for now.

[2016-09-05 13:43] sevos1984 commented on #5499
I'm on latest 2.1. Can I close it?

[2016-09-05 13:43] andimov commented on #6496
@ednacool
Thank you for reporting!
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-05 13:46] dexterityzx commented on #5898
We solved the issue by installing  SMTP extensions.

On Sep 5, 2016 08:33, "Volodymyr Sevostianov" notifications@github.com
wrote:

[2016-09-05 13:50] andimov commented on #6170
@robilomas
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-05 13:50] #6170 closed, assigned to katmoon

[2016-09-05 13:52] JerVoo commented on #4449
@PRAKASHSIVASANKAR
That would be a fix if the problem only existed on servers using Apache, however the problem also arises on nginx.

@guz-anton
Any progress on the investigation or this still broken in Magento 2.1.1?

[2016-09-05 13:59] schmengler opened #6497 "“Asymmetric transaction rollback error” if commit callbacks throw exceptions"
### Preconditions
1. All current Magento 2 versions (2.0, 2.1.1)
### Steps to reproduce

1. Let a commit callback throw an exception

   **Example:**
   - create a new search engine

[code]
   - Do not register a corresponding indexer handler for `Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory`
   - The commit callback from the fulltext indexer plugin will cause an exception "There is n

[2016-09-05 13:59] AnastasiyaSAP commented on #6489
@andimov just did the above. Restarted apache too. that didn't work

[2016-09-05 14:16] skhell opened #6498 "Translations export error [DomainException] Missed Phrase"
### Preconditions

1. Magento 2.1.0
### Steps to reproduce

1. Login to SSH
2. Switch to user who own Magento directory rights
3. cd /var/html/magento/bin
4. php magento i18n:collect-phrases -o "/var/html/magento/translation_export.csv" -m
### Expected result

1. Export the CSV file with English base translations to allow me to translate them in my own language.
### Actual result

1. DomainExcepti

[2016-09-05 14:19] anton-huz commented on #1981
Hi @amenk ,
We did not forget about the issue. Recently we introduced small improvement in current develop branch (it should be available in 2.2).

From now you have ability to place local
`dev/tools/grunt/configs/themes.loc.js` config file.

I hope it solves your task.

[2016-09-05 14:29] ricardo4142 commented on #2534
Thanks @LouNik1984 it works for me.

[2016-09-05 14:33] anton-huz commented on #4697
Hi @slackerzz ,
Great thanks for your contribution in Magento and bugreporting. Your issue produce set of investigation and improvement in development process.

From 2.1 we already has `packages.json.sample` as `packages.json.sample` .

From now you have ability to place local
`dev/tools/grunt/configs/themes.loc.js` config file.

See [implementation](https://github.com/magento/magento2/blob/develo

[2016-09-05 14:33] #4697 closed, assigned to nobody

[2016-09-05 14:39] anton-huz commented on #4823
@crantron for list of the themes from now you can use separate file:
`dev/tools/grunt/configs/themes.loc.js` config file.

See [implementation](https://github.com/magento/magento2/blob/develop/dev/tools/grunt/tools/files-router.js#L64-L71) for more details.

Thanks for report, ideas and insights.

[2016-09-05 14:44] anton-huz commented on #4930
The issue with `theme.js` is solved. See [#1981](https://github.com/magento/magento2/pull/1982#issuecomment-244759040) for details.
The issue about `.htaccess` is a topic of another investigation. I'm closing in flavor of #6419.

[2016-09-05 14:44] #4930 closed, assigned to guz-anton

[2016-09-05 14:49] yvoronoy commented on #6409
Internal MAGETWO-58052 has been created

[2016-09-05 14:55] picamator commented on #6259
@storepeinture thank you for adding details. We have managed to reproduce it.
Internal ticket was created MAGETWO-58053.

[2016-09-05 15:14] fowbi commented on #6382
As mentioned in issue #6489, the theme configs are fetched by sorting them on **theme_title** ASC. And then merging them on each other, not taking parent themes into account.

[Theme/Collection#L225](https://github.com/magento/magento2/blob/develop/app/code/Magento/Theme/Model/ResourceModel/Theme/Collection.php#L225):

[code]

It seems like the fix for issue #3573 brought this issue to the surface

[2016-09-05 15:15] SerhiyShkolyarenko commented on #6166
@JoostWan cannot reproduce the issue from clean installation. Setting from the screenshots are applied.
![tax for shipping](https://cloud.githubusercontent.com/assets/15108140/18251891/88995a5c-7394-11e6-88a1-6f266cd31efa.png)
Could you specify steps?

[2016-09-05 15:18] SerhiyShkolyarenko commented on #6166
@JoostWan or do you mean you see $5.00 in shipping methods block, but $4.13 in totals block?

[2016-09-05 15:18] sIiiS commented on #4889
Same issue with Magento 2.1.1 !

[2016-09-05 15:25] JoostWan commented on #6166
Yes. Shipping price are set to show excluded tax. But shipping price in estimate block is included tax. Thats confusing customers because there a two different prices

[2016-09-05 15:30] rhertogh opened #6499 "Search box in admin interface auto-filled with comma by bookmark data which causes errors"
### Preconditions

1. Magento 2.1.0, PHP 5.6.24 MySQL 5.6.27
2. Not yet sure what caused the insertion of the incorrect bookmark data (see steps to reproduce)
### Steps to reproduce

1. Insert incorrect bookmark data in database:  `INSERT INTO`ui_bookmark`VALUES (1,1,'cms_page_listing','current',0,NULL,'{\"current\":{\"search\":{\"value\":[\"\",\"\"]},\"filters\":{\"applied\":{\"placeholder\":[tru

[2016-09-05 15:52] ktruehl commented on #5499
Weird. After all I managed to reproduce the bug in 2.1 both on our system and a different virgin system. I assume you can close the issue. If I stumble upon the problem again, I will reopen the issue.

[2016-09-05 15:54] SerhiyShkolyarenko commented on #6166
Thank you for the report. We created internal issue MAGETWO-58059

[2016-09-05 16:18] andimov commented on #6499
@rhertogh
This is not the expected use case.
Please, explain more if you think this is a Magento bug.

[2016-09-05 16:20] rhertogh commented on #6499
The incorrect data was not inserted manually but by magento itself. The sql above is just to reproduce the error.

[2016-09-05 17:08] jibrandlr commented on #3834
@veloraven This issue is present on 2.1.0 and 2.1.1. I've also reported the issue here: https://github.com/magento/magento2/issues/6362

[2016-09-05 17:32] dsolorzanoIBM commented on #3455
I am experiencing this issue. Have any clue?

[2016-09-05 17:47] hydra commented on #3349
just reopen this one, any developer looking at this will easily be able to find the code and fix it.
- i found it from the original poster's error message and changed it temporarily myself in order to work around the issue.
- for me it occured when upgrading magento 2.01 to the latest version that was available at the time of my first comment.  probably 2.03 or something.

[2016-09-05 18:58] #6357 closed, assigned to nobody

[2016-09-05 20:56] forgeonline commented on #4405
Magento 2.0.7

[2016-09-05 21:46] gewaechshaus commented on #6179
Can verify this...

[2016-09-05 21:59] milanstojanov commented on #5873
Please check the table again. I am pretty sure you will find a record at the very bottom that has entity_type_id = 2. That one needs to be changed, not the top one. :)

[2016-09-05 23:50] senthilengg commented on #6476
@sevos1984 my expectation is, it should work even without catalog rule and widget. Because widget doesn't require catalog permission to load products and catalog price does not require catalog permission as well. Similarly pages should also work independently without both catalog rule and widget.

I came to these kind of permission setup after seeing the 403 forbidden errors. But from a layman sta

[2016-09-06 00:11] bonsdawende commented on #4325
@Serzhik, when you configure your smtp in your Magento 2 ( Stores > Configuration>Advanced > System), try to fill these settings :
Authentication method : Login
SSL Type: TLS

It works for me !

[2016-09-06 01:42] Walters-Kuo commented on #6462
@senthilengg  thank you for the notice.
@pboisvert  it works.
i forgot set the taxable of products.
thank for your help.

[2016-09-06 02:14] tylerd92vn commented on #6414
I updated some more information @alena-marchenko

[2016-09-06 02:39] smatric commented on #2052
It's very likely related to insufficient write permission under `var` directory.

[2016-09-06 03:06] pboisvert commented on #6462
closing as this was configuration error and not code issue.

[2016-09-06 03:06] #6462 closed, assigned to nobody

[2016-09-06 03:35] shahankitb997 opened #6501 "On Admin Unable to Upload Fevicon Icon"
### Preconditions

1.  I'm using Magento 2 CE Version 2.1.0
2.  Go to Admin -> Content -> Design -> Configuration -> Edit "Default Store View" -> HTML Head -> Upload "Favicon Icon".
   It's not allowing .ico extension. It gives "We don't recognize or support this file extension type."
### Expected result

1.  It should allow .ico file to upload
### Solution

To solve this issue. go to \vendor\mage

[2016-09-06 04:58] bachlee89 opened #6502 "Can't save Logo Image to Transactional Emails"
On the Magento version 2.1.0 and 2.1.1
I can't save Logo Image to Transactionsal Emails after upload from my local
Steps to reproduce
1. Go to Backend area : Content/Design/Configuration
2. Edit a Store View
3. Scroll to Transactional Emails
4. Click upload logo image then select a image from your computer

Expected result
- Logo image should be saved

Actual result

Image can't uploaded:
![image]

[2016-09-06 05:01] Khaleel commented on #6481
How is this a security issue; I agree the files should ideally not be there but they are only static files.

[2016-09-06 05:05] pboisvert commented on #6502
appears to be a duplicate of #6275  please reopen if truly a separate issue

[2016-09-06 05:05] #6502 closed, assigned to nobody

[2016-09-06 05:05] ihor-sviziev commented on #6481
I gave you an example. Potential hacker could monitor changes in these
files and could detect magento version by them. Then he could just execute
exploits specific for this version and website getting hacked. It's one
more step to be hacked

On Sep 6, 2016 8:01 AM, "Khaleel ibn Anwar Mughal" notifications@github.com
wrote:

How is this a security issue; I agree the files should ideally not be ther

[2016-09-06 06:58] kanduvisla commented on #4170
I have not overridden the `minicart.phtml`-template and still I have the problem:
- If I add a product to the cart, the page refreshes rather than it's done with a XHR request.
- After the page is reloaded, the minicart is not updated.
- If I go to `checkout/cart` I see my added product(s).
- If I mutate my cart here (click 'update cart', or edit qty or remove items) the minicart gets shown (after

[2016-09-06 07:31] andimov commented on #5818
According to [contributor guide](http://devdocs.magento.com/guides/v2.1/contributor-guide/contributing.html), tickets without response for two weeks should be closed.
Please feel free to reopen if it's needed.

[2016-09-06 07:31] #5818 closed, assigned to nobody

[2016-09-06 07:43] AVoskoboinikov commented on #5527
@blizam
Well I am still can't reproduce issue with your description. Here are my steps (pay attention that no other steps were executed except described below):
1. Install Magento CE 2.1.0;
2. Install sample data;
3. Create next category tree:
   --- Root Category [already exists]
   ------ Shop
   --------- Category 1
   ------------ Sub-Cat A
   ------------ Sub-Cat B
   --------- Category 2

[2016-09-06 07:50] sevos1984 commented on #6501
Duplicate of https://github.com/magento/magento2/issues/5478

[2016-09-06 07:50] #6501 closed, assigned to nobody

[2016-09-06 07:56] JonasNeunzig commented on #5885
Hi, we urgently need to translate our custom options to different languages, this bug wasn't fixed in 2.1.1. Could you please provide any information regarding the progress?

[2016-09-06 08:02] sevos1984 commented on #6238
Yep, old one, but it has low priority. Not sure it will be fixed soon.

[2016-09-06 08:13] #5499 closed, assigned to nobody

[2016-09-06 08:22] AVoskoboinikov commented on #2966
Hi, @arielmorry

Thanks for steps. Have you installed any language packages for he_IL locale ?

[2016-09-06 08:36] sevos1984 commented on #6476
I don't agree that Widgets should work without widget permission. And if Widget and Pages allowed all works right, I don't see any bugs here. Wrong setup will give 403 to user but to avoid this all modules should be refactored, that a huge amount of work that is not in priority at the moment.

[2016-09-06 08:38] SerhiyShkolyarenko commented on #6045
Thank you for the report. Our internal issue is MAGETWO-58067

[2016-09-06 08:38] shiftedreality commented on #6489
Hi @AnastasiyaSAP

What is your PHP version?

[2016-09-06 08:42] AnastasiyaSAP commented on #6489
@shiftedreality

PHP 5.6.25 (cli) (built: Aug 21 2016 17:32:27)
Copyright (c) 1997-2016 The PHP Group
Zend Engine v2.6.0, Copyright (c) 1998-2016 Zend Technologies

Server version: Apache/2.4.18 (Unix)
Server built:   Feb 20 2016 20:03:19

[2016-09-06 08:45] sevos1984 commented on #6498
I'm getting 'Dictionary successfully processed.' on clean magento. Problem must be in your language pack. Try add '-vvv' option to see broken file.

[2016-09-06 08:52] skhell commented on #6498
@sevos1984 thanks for the suggestion, I tried adding -vvv and this is the result

[2016-09-06 08:54] arielmorry commented on #2966
@AzVo
Hi, I have not.

In general I did install a language pack for M2 from https://github.com/Magento2Translations/language_he_il in my own project when first stumbled this error, but I installed a clean copy when wrote those steps in order to re-produce the error without any language pack installed.

[2016-09-06 09:01] sevos1984 commented on #6495
Can't reproduce on 2.0.9 clear install. Maybe you have upgraded from previous versions?

[2016-09-06 09:08] Maeva7 commented on #5744
I'm having the same problem since yesterday. Sadly, the solution from magwave didnt work for me.
Hope someone else finds a solution for this.

[2016-09-06 09:15] apurv-anand commented on #6421
Its under different sections - one is under Actions, the other one under Conditions. Even the bug behavior is slightly different so I am guessing its different code base.

[2016-09-06 09:18] PingusPepan opened #6504 "Magento 2.1 CE: Breadcrumbs on homepage and 404 in multistore"
In Magento 2.1 there is a bug when using multistore and setting different home pages for different store views.
The first store looks fine but second and other store views include breadcrumbs in home page.
I created PR #6503 with a fix
### Preconditions
1. Magento 2.1.1 CE
2. Multistore
3. PHP 7.0.10
### Steps to reproduce
1. Create multiple store views
2. Create multiple home pages for different

[2016-09-06 09:21] sevos1984 commented on #6362
I don't have any but use another locale.

[2016-09-06 09:27] victor-v-rad commented on #5529
@kfaer I've manage to solve it by hard reload of cache in my chrome

[2016-09-06 09:34] picamator commented on #6424
@andidhouse we have put highly that particular issue and expect them to solve in a nearest patch releases.
So thank you all of your participation here. Please feel free to take next steps forward to become Magento 2 contributors.

[2016-09-06 09:36] arfan456 opened #6505 "Admin Navigation"
Admin Navigation linkes are not working

[2016-09-06 09:38] AVoskoboinikov commented on #2966
Yep, I got it! I have created ticket in our locale JIRA #MAGETWO-58071 for fix. This issue will be closed after fix.

Thanks for reporting!

[2016-09-06 09:38] shiftedreality commented on #6489
@AnastasiyaSAP is it possible that you're using PHP 5.5 for Apache as default on Mac?

Could you please check /etc/apache2/httpd.conf what is your lib in line "LoadModule php5..."

[2016-09-06 09:41] fendowuk commented on #6493
@ksz2013 I believe this is related to the same here [#6424](https://github.com/magento/magento2/issues/6424#issuecomment-244899668), there is a major issue with configurable products in 2.1.1.

[2016-09-06 09:41] wildekin commented on #5008
Unable to save page edits, occurs when using the alignment field. 404 page, if I don't align anything it'll save.

[2016-09-06 09:42] andimov commented on #6505
@arfan456
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-06 09:49] manishclarion opened #6506 "PayPal PayFlow Pro in Multiple Addresses Checkout"
In Magento 2.1 there is a bug when using Multiple Addresses in Checkout.
When users selects multiple addresses in checkout the "PayPal PayFlow Pro Credit Card" payment method does not work. Tested it with "check/Money order" and it works fine but with Payflow pro it does not work.
### Preconditions

Magento 2.1.1 CE
PHP Version 5.6.3
### Steps to reproduce
1. Disable OnePage checkout
2. Enable Mul

[2016-09-06 09:50] AnastasiyaSAP commented on #6489
@shiftedreality
LoadModule php5_module /usr/local/Cellar/php56/5.6.25_1/libexec/apache2/libphp5.so

I had already configured it to point to 5.6

[2016-09-06 10:03] sevos1984 commented on #6498
I've recreated your issue, it occurs when you have empty strings for translation (e.g 'note' => __('')).

[2016-09-06 10:08] UKRogue commented on #6471
Exactly the same problem here and same versions. Memory increase has no affect. Is there anyone out there who can help us move past this problem?

[2016-09-06 10:11] victor-v-rad commented on #6134
Tried to update M2.0.8 to M2.1.0 and can't reproduce. Have you figured out the cause of the issue?

[2016-09-06 10:14] victor-v-rad commented on #6173
Tried to update M2.0.7 to M2.1.0 and can't reproduce. Have you figured out the cause of the issue?
If you use Chrome try hard reload of cache. It might help

[2016-09-06 10:15] andimov commented on #6506
@manishclarion
Thanks for reporting.
Please, format this issue according to the [Issue reporting guidelines](https://github.com/magento/magento2/wiki/Issue-reporting-guidelines).

[2016-09-06 10:23] LordHansolo opened #6507 "Product Attribute Option Values"
### Preconditions

Magento 2.1.1 CE
### Steps to reproduce
1. Add custom product attribute type Dropdown in admin panel and fill it with some options.
   ![attribute_options](https://cloud.githubusercontent.com/assets/22025597/18270169/ed8d3770-742b-11e6-91f9-ffe0fe593c27.png)
2. Add attribute to any Attribute Set.
3. Go to "Add Product" and choose Attribute Set that you put your attribute.
4. Cli

[2016-09-06 10:25] sevos1984 commented on #6459
This is a known issue, ticket is MAGETWO-50844, thanks for reporting.

[2016-09-06 10:29] skhell commented on #6498
Ah, so perhaps somewhere in the template I have empty translation strings? There is a command to output the file containing empty strings? Thanks

[2016-09-06 10:57] manishclarion commented on #6506
@andimov  Updated the issues as per "issue reporting guidelines"

[2016-09-06 10:59] apurv-anand commented on #6471
Developers, we need attention on this, or at-least a workaround. Don't have any clue what the problem is, so cannot resolve it. Please take this up on priority.

[2016-09-06 11:05] antboiko commented on #5885
Hi @mktudock , sorry for the delayed response. Please let me inform you that we're working on getting this issue fixed in one of nearest patch releases.

Best regards,
Anton.

[2016-09-06 11:11] vovayatsyuk commented on #5700
Hi @alena-marchenko

I'm not able to reproduce this bug too. Not sure what caused this behavior in past.

I think you can close the ticket.

[2016-09-06 11:16] Onkovat commented on #6495
sevos1984, maybe it behaves differently when the virtual products changed their sku upfront before changing the sku of the configurable product?

In any case, yes the project was a 2.0.7 where the products were created, then moved to a different subdomain and upgraded to 2.0.9.

[2016-09-06 11:33] AVoskoboinikov commented on #6144
Hi @djfordz
Thanks for reporting! I've tried to reproduce this issue on 2.1 version and it works fine. Could you upgrade your code from 2.0.7 to 2.1 and check if this issue still exists?

[2016-09-06 11:34] shiftedreality commented on #6489
@AnastasiyaSAP, this path looks correct.

Can you also show which path to php.ini do you use and double check that 'always_populate_raw_post_data' to '-1' was really applied?

[2016-09-06 11:41] heldchen commented on #6144
@AzVo I have seen this issue in 2.1.0 as well but was not able to reproduce it reliably.

[2016-09-06 11:43] mombrea commented on #4170
Do you have all of the caches enabled or all of them disabled? I had this
problem when I had a mix of enabled/disabled.

On Sep 6, 2016 2:59 AM, "Giel Berkers" notifications@github.com wrote:

[2016-09-06 11:47] deepanshu27193 commented on #5351
### Preconditions

1. Magneto 2.0.2
2. PHP 5.6, MySQL 5.6

### My Scene
1. To Save/Update large amount(45K) products in Magento from amazon on daily basis.
2. I have developed a custom script to save products in Magento
3. Product is saving properly if i save them one by one.

### My Custom Steps to make fast

1. saved 10 products at a time by using pcntl_fork(php function).
2. another scenario is

[2016-09-06 11:49] shiftedreality commented on #6471
Hi @apurv-anand

Please provide more details about your environment: OS version, PHP version, Apache/Nginx

[2016-09-06 11:51] sevos1984 commented on #6498
Yes, check your templates. No there is no such command.

[2016-09-06 12:09] PRAKASHSIVASANKAR commented on #6479
this error is appear in your local server  or online server?

[2016-09-06 12:31] sevos1984 commented on #6495
Tried to create configurable with virtual, then upgrade to 2.0.9 and change Sku and all works fine. Is there any problem with non virtual sub-products?

[2016-09-06 12:32] sevos1984 commented on #6486
Could you please attach payload of your request?

[2016-09-06 12:40] djfordz commented on #6144
will test with 2.1 now.

[2016-09-06 12:44] apurv-anand commented on #6471
OS version: Ubuntu 14.04.4 LTS
PHP: PHP 7.0.9 (Zend Engine: v3.0.0.)
Apache:  Apache/2.4.23

[2016-09-06 12:48] sevos1984 commented on #6206
What is your locale and what theme do you use? Have you generated static files for your locale?

[2016-09-06 12:53] djfordz commented on #6144
Hello,

I have tested with Magento 2.1.1 on Arch Linux, Nginx 1.10.1, MariaDB 10.1.17 and you are correct @AzVo it doesn't seem to be an issue on Magento 2.1.1.

Since I am testing with a different setup than the original ticket, I cannot verify 100% however, I am satisfied the issue is resolved in 2.1.1.

I will close this issue, thank you for looking into this.  I will ensure I have the customer

[2016-09-06 13:06] AVoskoboinikov commented on #6144
Ok, anyway thanks for reporting! Feel free to create any new tickets if you will have questions.

[2016-09-06 13:15] sevos1984 commented on #6126
This is a known issue MAGETWO-57490, thanks for posting

[2016-09-06 13:21] PascalBrouwers commented on #1405
I am experiencing this issue with Magento 2.1.0 for the service layer API Magento\Tax\Api\TaxRuleRepositoryInterface:create() (which @Vinai already described is part of his issue).
I just can't phantom that this bug is over a year old and still has not been fixed! Why should I even try using the server layer API when Magento never fixes it?

[2016-09-06 13:26] shiftedreality commented on #5418
Hi @arvind07

Thank you for reporting this issue.
We have created internal ticket MAGETWO-58075 to fix this issue.

[2016-09-06 13:26] sevos1984 commented on #6122
Can't reproduce on clean install of 2.1.1. Have you upgraded from previous versions?

[2016-09-06 13:27] shiftedreality commented on #5480
Hi @RG-1

Thank you for reporting this issue.
I have created internal ticket MAGETWO-58075 to fix this issue.

[2016-09-06 13:33] AnastasiyaSAP commented on #6489
@shiftedreality
OK - I appear to have changed a different php.ini file to the one that the command line was using. After finding out the path to the correct php.ini I saw that always_populate_raw_post_data was indeed commented out. We have uncommented it and now all is working. Thank you so much!!!

[2016-09-06 13:35] shiftedreality commented on #6489
Thank you @AnastasiyaSAP for the reply.

Closed.

[2016-09-06 13:35] #6489 closed, assigned to shiftedreality

[2016-09-06 13:38] nmallepally commented on #6109
HI @picamator
I have attached the file which shows errors on system log file.
I chose customer and address file to import customers.
It works fine when i choose customer mail file without address.
[customer error.txt](https://github.com/magento/magento2/files/456807/customer.error.txt)
[sample content.xlsx](https://github.com/magento/magento2/files/456814/sample.content.xlsx)

[2016-09-06 13:48] picamator commented on #6404
@Sid-95 Thanks for reporting.
Unfortunately we cannot reproduce that issue.

We have followed those steps:
1. Installed Magento 2.1.0
2. Installed language package
3. Used default theme "Luma"
4. Created new Store View e.g. "English Store View"
5. Configured "Default Store View" locale to Italian (Italy)
6. Refreshed all invalid cache using System->Cache Management
7. Open front-end page
8. Switch

[2016-09-06 13:49] shiftedreality commented on #6471
@apurv-anand

Could you please also try next approach:
- Go to Readiness check where error is happening
- Open Developer Console
- Go to tab XHR
- Press Try Again button
- Observe action called "componentDependency"
- Provide response that it gives to you

[2016-09-06 13:49] cherreman commented on #6486
**Request**

{
  "product": {
    "sku": "bugtest",
    "name": "bugtest",
    "price": 12.34,
    "attribute_set_id": 4
  }
}

**Response**

{
  "id": 5991,
  "sku": "bugtest",
  "name": "bugtest",
  "attribute_set_id": 4,
  "status": 1,
  "visibility": 4,
  "type_id": "simple",
  "created_at": "2016-09-06 13:46:56",
  "updated_at": "2016-09-06 13:46:56",
  "extension_attributes": {
    "stock_it

[2016-09-06 13:57] ksz2013 commented on #6424
Same issue here as well, after upgrade to 2.1.1 if you try to upload images to the configurable product the product is changed from Configurable to Simple Product!!!
Also on save the simple associated products are lost!!
On a clean 2.1.1 instance these issues are not happening, it is very strange how the upgrades are added to Magento, does anyone know a proper way to  upgrade from old instances to

[2016-09-06 14:01] heldchen commented on #6424
@ksz2013 simulate the upgrades on an identical copy of your sites and test test test. if everything works or is patched, upgrade the production instance...

[2016-09-06 14:07] shiftedreality commented on #6262
Hi @wired-circuit

Thank you for reporting.
We've created an internal ticket MAGETWO-58081 to resolve this issue.

[2016-09-06 14:17] shiftedreality commented on #5789
Hi @prabhumano

Did you clean var/ folder before the upgrade?
Also, do you use any 3rd-party extensions?

[2016-09-06 14:19] Choufourax commented on #5509
Thanks @jdavisonc  for this temporary solution.

For those who can't wait, here is a more detailled way to achieve this :

In your theme folde, edit  requirejs-config.js, and add the mage/validation line  :

[code]

Then, copy the file /lib/web/mage/validation.js in your theme in the subfolder "/web/js" and edit the file to do your translation.

[2016-09-06 14:20] Choufourax commented on #5509
And here is my french translation...

[code]

[2016-09-06 14:29] jwittorf commented on #5509
Thanks @jdavisonc for the info and @Choufourax  for pointing it out! Worked right away. The placement of `require-config.js` had me thinking a bit but yeah, just insert it on top of your theme and you're good to go. I ran a `php bin/magento setup:static-content:deploy de_DE` afterwards, I'll post my German translation in a bit.

[2016-09-06 14:30] andidhouse commented on #6424
I feel like more of a testing company then a company building working online-shops :-/.

I do not want to calculate the time we spent in testing and bug reporting - by for the worst experience so far for us. Hope this changes now. On a long term view we are not able to handle and support a software with that many new and existing bugs with every release.

So fingers crossed magento changes its pol

[2016-09-06 14:30] SerhiyShkolyarenko commented on #6015
Thank you for the report. Our internal issue is MAGETWO-58082.

[2016-09-06 14:31] sevos1984 commented on #6120
After 7th step I get updated product, if I send values:[] I get "Invalid option value" message. Only 4th point of expected is reproduced and it looks like improvement.

[2016-09-06 14:31] skhell commented on #6498
@sevos1984 thank you very much for the suggestion infact there was a missing translation that I found, now the export works correctly, I close this post as solved.

[2016-09-06 14:31] #6498 closed, assigned to nobody

[2016-09-06 14:34] shiftedreality commented on #6483
Hi @rbncha

Did reindexing solved your problem?

[2016-09-06 14:40] heldchen commented on #6424
@andidhouse I hear you - our project is ~4 man-months overdue due to magento 2.x "quirks"

[2016-09-06 14:51] Sid-95 commented on #6404
@picamator this is the link: texbook.it

Here what I've done:
- Installed magento
- Installed theme Ultimo
- setted up all basic things
- Created new storeview (Italian)
- When to homepage
- Switched storeview
- Navigated to create new account
- Magento reverted default storeview

Maybe is something with cookie that I am missing

[2016-09-06 14:56] shiftedreality commented on #4987
Hi @woei66

Thank you for reporting.
We've created an internal ticket MAGETWO-58096 to resolve this issue.

[2016-09-06 15:00] FredericMartinez commented on #6424
Same problem here.

[2016-09-06 15:00] ghost commented on #5302
Has this been fixed? This is a pretty big issue for mobile shoppers. The workaround does not seem to work on 2.1.1 rendering Magento pretty useless on a good number of mobile devices.

[2016-09-06 15:02] sevos1984 commented on #6486
This happens when product type_id field is not defined. Created internal ticket MAGETWO-58101. Thanks for reporting.

[2016-09-06 15:07] bkristl opened #6508 "Tier price is calculated wrong"
This is for magento version 2.1.1

The tier price is calculated wrong.
In file Magento\Catalog\Pricing\Price\TierPrice.php
**Now is calculated:**

public function getSavePercent(AmountInterface $amount)
    {
        return ceil(
            100 - ((100 / $this->priceInfo->getPrice(FinalPrice::PRICE_CODE)->getValue())
                \* $amount->getBaseAmount())
        );
    }

**But to get righ